{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2016-01-14",
        "endpointPrefix": "metering.marketplace",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceFullName": "AWSMarketplace Metering",
        "serviceId": "Marketplace Metering",
        "signatureVersion": "v4",
        "signingName": "aws-marketplace",
        "targetPrefix": "AWSMPMeteringService",
        "uid": "meteringmarketplace-2016-01-14",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JE5ZMVH2RM37AE6Q75QVPXH4KES2KGZYZSZLN3XB2IAIBQ5ZKGNQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/W6ELOJK77MILZQHFMSYXCIPFUIUAL7FF45CGRO3X65UXO7BOP65A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IT37AQ55VNRFM5EWRLTZWCJKS5R6D5NQACIPC2VHKB564B6XFCTA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QT7FMYLRGZAHKTR34LSFC6S3R6B6I3GRAQKAVQOJUCYJ6TA6PJ7Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/66AWVQKGA75UBJPOM4QK5WN2NKN752CS5ESGPSP7AIILAUQ7OCWQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
        ]
    },
    "operations": {
        "BatchMeterUsage": {
            "input": {
                "type": "structure",
                "required": [
                    "UsageRecords",
                    "ProductCode"
                ],
                "members": {
                    "UsageRecords": {
                        "shape": "S2"
                    },
                    "ProductCode": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Results": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "UsageRecord": {
                                    "shape": "S3"
                                },
                                "MeteringRecordId": {},
                                "Status": {}
                            }
                        }
                    },
                    "UnprocessedRecords": {
                        "shape": "S2"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JE5ZMVH2RM37AE6Q75QVPXH4KES2KGZYZSZLN3XB2IAIBQ5ZKGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6ELOJK77MILZQHFMSYXCIPFUIUAL7FF45CGRO3X65UXO7BOP65A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IT37AQ55VNRFM5EWRLTZWCJKS5R6D5NQACIPC2VHKB564B6XFCTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT7FMYLRGZAHKTR34LSFC6S3R6B6I3GRAQKAVQOJUCYJ6TA6PJ7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66AWVQKGA75UBJPOM4QK5WN2NKN752CS5ESGPSP7AIILAUQ7OCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "MeterUsage": {
            "input": {
                "type": "structure",
                "required": [
                    "ProductCode",
                    "Timestamp",
                    "UsageDimension"
                ],
                "members": {
                    "ProductCode": {},
                    "Timestamp": {
                        "type": "timestamp"
                    },
                    "UsageDimension": {},
                    "UsageQuantity": {
                        "type": "integer"
                    },
                    "DryRun": {
                        "type": "boolean"
                    },
                    "UsageAllocations": {
                        "shape": "S8"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "MeteringRecordId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JE5ZMVH2RM37AE6Q75QVPXH4KES2KGZYZSZLN3XB2IAIBQ5ZKGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6ELOJK77MILZQHFMSYXCIPFUIUAL7FF45CGRO3X65UXO7BOP65A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IT37AQ55VNRFM5EWRLTZWCJKS5R6D5NQACIPC2VHKB564B6XFCTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT7FMYLRGZAHKTR34LSFC6S3R6B6I3GRAQKAVQOJUCYJ6TA6PJ7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66AWVQKGA75UBJPOM4QK5WN2NKN752CS5ESGPSP7AIILAUQ7OCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "RegisterUsage": {
            "input": {
                "type": "structure",
                "required": [
                    "ProductCode",
                    "PublicKeyVersion"
                ],
                "members": {
                    "ProductCode": {},
                    "PublicKeyVersion": {
                        "type": "integer"
                    },
                    "Nonce": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "PublicKeyRotationTimestamp": {
                        "type": "timestamp"
                    },
                    "Signature": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JE5ZMVH2RM37AE6Q75QVPXH4KES2KGZYZSZLN3XB2IAIBQ5ZKGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6ELOJK77MILZQHFMSYXCIPFUIUAL7FF45CGRO3X65UXO7BOP65A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IT37AQ55VNRFM5EWRLTZWCJKS5R6D5NQACIPC2VHKB564B6XFCTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT7FMYLRGZAHKTR34LSFC6S3R6B6I3GRAQKAVQOJUCYJ6TA6PJ7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66AWVQKGA75UBJPOM4QK5WN2NKN752CS5ESGPSP7AIILAUQ7OCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "ResolveCustomer": {
            "input": {
                "type": "structure",
                "required": [
                    "RegistrationToken"
                ],
                "members": {
                    "RegistrationToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "CustomerIdentifier": {},
                    "ProductCode": {},
                    "CustomerAWSAccountId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JE5ZMVH2RM37AE6Q75QVPXH4KES2KGZYZSZLN3XB2IAIBQ5ZKGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6ELOJK77MILZQHFMSYXCIPFUIUAL7FF45CGRO3X65UXO7BOP65A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IT37AQ55VNRFM5EWRLTZWCJKS5R6D5NQACIPC2VHKB564B6XFCTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT7FMYLRGZAHKTR34LSFC6S3R6B6I3GRAQKAVQOJUCYJ6TA6PJ7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66AWVQKGA75UBJPOM4QK5WN2NKN752CS5ESGPSP7AIILAUQ7OCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        }
    },
    "shapes": {
        "S2": {
            "type": "list",
            "member": {
                "shape": "S3"
            }
        },
        "S3": {
            "type": "structure",
            "required": [
                "Timestamp",
                "CustomerIdentifier",
                "Dimension"
            ],
            "members": {
                "Timestamp": {
                    "type": "timestamp"
                },
                "CustomerIdentifier": {},
                "Dimension": {},
                "Quantity": {
                    "type": "integer"
                },
                "UsageAllocations": {
                    "shape": "S8"
                }
            }
        },
        "S8": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "AllocatedUsageQuantity"
                ],
                "members": {
                    "AllocatedUsageQuantity": {
                        "type": "integer"
                    },
                    "Tags": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Key",
                                "Value"
                            ],
                            "members": {
                                "Key": {},
                                "Value": {}
                            }
                        }
                    }
                }
            }
        }
    }
}