{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2019-08-28",
        "endpointPrefix": "compute-optimizer",
        "jsonVersion": "1.0",
        "protocol": "json",
        "serviceAbbreviation": "mettleinternal",
        "serviceFullName": "Mettle Cell Router Service",
        "serviceId": "mettleinternal",
        "signatureVersion": "v4",
        "signingName": "mettle",
        "targetPrefix": "com.amazonaws.mettle.cellrouter.MettleCellRouterService",
        "uid": "mettleinternal-2019-08-28",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/2TOS4254POQWAF5RH5W5QRW36WVQKG6M6647NVKM2WWLPLVPEOWA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MRXJ7CTDNO2RF5YKNNAXKJ3MW2OSLXET7V34HG5PDEDMJ6WIVEEA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WONYUOUPSZ4U6AGUBKQZ2H62VPXB54TLH5GP64XIZFNJXLD4G2QQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/W626P2F6TA3N4IOMFV77J3XPDVDVV2F33RKJTVXW5FDKIV6YBTYA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7HR3OIAVGYEDBKXZIJ6RQXGNVZL25I6RD7GMHZU2JW3KMSIYILWA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JN6MG6IR75SRLGHO5VH336ZJQQJFHTKH2KRLTF6Z3VGPRFTX4SIA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XR42RKMWI273EWSJKS5GXVZNHIYYCYASTBPHPFF7O3U7W5CGUR2Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KLSS2OYZRSUNW4RHAAVNQ6EJ3QVBQXS6A553KD4EQ4MCKB3IENOQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5M5GOPL2Y5CQSSXA4VKZAW66LUPD76G5V42WQ5L3A5LZJRYGUSDA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ELKV3HQHQZHXD4RZYFLWATOZ3EOTNNHQ7ZQLEJSICCFQBBCXIELQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YLEX4RJT2P66TXMQQYY4FNG2KYNAVKU4AJY3MV2BX2VWMXH5NGIQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GCXZFX3AG6QWNNCXTNDRUO7LW73NTY7DCC2ZEYULWNAQTOZ5AGOQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SIAGOYUGLUVTPJ3H6U5Z4QFWH5GXRZTZMAUTDVK6MQ6C2CJD62HQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/X6ONSIDCOBFUXNDROPWOVAQ7ZKOZ3DRXMKO3WTJYJZX5GIABFCZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/A3GOMSKKRY4V6XNAQLZNQP7ERSFVDABOOBBIT4A5URVIHCOZH4LQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EEHFELK3TUT7SU4CLA5FXFKH3LUDJILHX67S3NKUIAOJ5UXTVGPA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SWBADWYJBA67JDPYFNVZDDECX4K64EZ3UAHGVEIPIUZ4QQ2KWDYA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GR3L27DKUOH24UDO7IW7JH6KKSS2SDFPJ2DVLXRAGRHRPFH7AIPQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7HN6I2VYJ6ZSOOOLSUJDVK3MKKTGNT2SJ5IA25YUBXNZIJVX74WA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KUY334YQLUHTCVDAW65TVW7C2QGIDNJFJYN63AY2AC7ASXTXNTPQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RNSM5JP4P5JD2RHJLBZIQ6LD2OD3C7NCK42KT6EYLLLAQLGSLBGQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LZXBKV23ZBLPPPAMGVNKIKWIO7HAO4HXVRNJKLI2L2B5RZF62SXA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3HCVPEULBN2XR4NRO3ZDWFUKYU5G42IZ47HOYB644PBIYZADGRMQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AN6LWOCVJYCM2WESHSKVQ2FDRLKEZSFGZL63LBMA4LUZYIOFK6PA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RUJH36AEWXEMF6V7J6XJ3WPKHG7QMGBULSP2T3I5ZV4ASUNCXNIQ/vendors.js"
        ]
    },
    "operations": {
        "GetCurrentResourceMetrics": {
            "input": {
                "type": "structure",
                "members": {
                    "resourceArn": {},
                    "currentResourceMetricsNames": {
                        "type": "list",
                        "member": {}
                    },
                    "stat": {},
                    "period": {
                        "type": "integer"
                    },
                    "startTime": {
                        "type": "timestamp"
                    },
                    "endTime": {
                        "type": "timestamp"
                    },
                    "requesterAccountId": {},
                    "encryptedFas": {
                        "shape": "S9"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "currentResourceMetrics": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "name": {},
                                "timestamps": {
                                    "shape": "Sc"
                                },
                                "values": {
                                    "shape": "Sd"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MRXJ7CTDNO2RF5YKNNAXKJ3MW2OSLXET7V34HG5PDEDMJ6WIVEEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WONYUOUPSZ4U6AGUBKQZ2H62VPXB54TLH5GP64XIZFNJXLD4G2QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W626P2F6TA3N4IOMFV77J3XPDVDVV2F33RKJTVXW5FDKIV6YBTYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HR3OIAVGYEDBKXZIJ6RQXGNVZL25I6RD7GMHZU2JW3KMSIYILWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JN6MG6IR75SRLGHO5VH336ZJQQJFHTKH2KRLTF6Z3VGPRFTX4SIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XR42RKMWI273EWSJKS5GXVZNHIYYCYASTBPHPFF7O3U7W5CGUR2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KLSS2OYZRSUNW4RHAAVNQ6EJ3QVBQXS6A553KD4EQ4MCKB3IENOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5M5GOPL2Y5CQSSXA4VKZAW66LUPD76G5V42WQ5L3A5LZJRYGUSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELKV3HQHQZHXD4RZYFLWATOZ3EOTNNHQ7ZQLEJSICCFQBBCXIELQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLEX4RJT2P66TXMQQYY4FNG2KYNAVKU4AJY3MV2BX2VWMXH5NGIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCXZFX3AG6QWNNCXTNDRUO7LW73NTY7DCC2ZEYULWNAQTOZ5AGOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIAGOYUGLUVTPJ3H6U5Z4QFWH5GXRZTZMAUTDVK6MQ6C2CJD62HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6ONSIDCOBFUXNDROPWOVAQ7ZKOZ3DRXMKO3WTJYJZX5GIABFCZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3GOMSKKRY4V6XNAQLZNQP7ERSFVDABOOBBIT4A5URVIHCOZH4LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEHFELK3TUT7SU4CLA5FXFKH3LUDJILHX67S3NKUIAOJ5UXTVGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWBADWYJBA67JDPYFNVZDDECX4K64EZ3UAHGVEIPIUZ4QQ2KWDYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GR3L27DKUOH24UDO7IW7JH6KKSS2SDFPJ2DVLXRAGRHRPFH7AIPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HN6I2VYJ6ZSOOOLSUJDVK3MKKTGNT2SJ5IA25YUBXNZIJVX74WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KUY334YQLUHTCVDAW65TVW7C2QGIDNJFJYN63AY2AC7ASXTXNTPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RNSM5JP4P5JD2RHJLBZIQ6LD2OD3C7NCK42KT6EYLLLAQLGSLBGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZXBKV23ZBLPPPAMGVNKIKWIO7HAO4HXVRNJKLI2L2B5RZF62SXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HCVPEULBN2XR4NRO3ZDWFUKYU5G42IZ47HOYB644PBIYZADGRMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AN6LWOCVJYCM2WESHSKVQ2FDRLKEZSFGZL63LBMA4LUZYIOFK6PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUJH36AEWXEMF6V7J6XJ3WPKHG7QMGBULSP2T3I5ZV4ASUNCXNIQ/vendors.js"
            ]
        },
        "GetECSServicePricingInformation": {
            "input": {
                "type": "structure",
                "members": {
                    "serviceArns": {
                        "type": "list",
                        "member": {}
                    },
                    "accountId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "servicePricingInformation": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "currentServiceInformation": {
                                    "type": "structure",
                                    "members": {
                                        "serviceArn": {},
                                        "fargatePrice": {
                                            "type": "double"
                                        }
                                    }
                                },
                                "recommendedServiceInformationList": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "fargatePrice": {
                                                "type": "double"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MRXJ7CTDNO2RF5YKNNAXKJ3MW2OSLXET7V34HG5PDEDMJ6WIVEEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WONYUOUPSZ4U6AGUBKQZ2H62VPXB54TLH5GP64XIZFNJXLD4G2QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W626P2F6TA3N4IOMFV77J3XPDVDVV2F33RKJTVXW5FDKIV6YBTYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HR3OIAVGYEDBKXZIJ6RQXGNVZL25I6RD7GMHZU2JW3KMSIYILWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JN6MG6IR75SRLGHO5VH336ZJQQJFHTKH2KRLTF6Z3VGPRFTX4SIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XR42RKMWI273EWSJKS5GXVZNHIYYCYASTBPHPFF7O3U7W5CGUR2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KLSS2OYZRSUNW4RHAAVNQ6EJ3QVBQXS6A553KD4EQ4MCKB3IENOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5M5GOPL2Y5CQSSXA4VKZAW66LUPD76G5V42WQ5L3A5LZJRYGUSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELKV3HQHQZHXD4RZYFLWATOZ3EOTNNHQ7ZQLEJSICCFQBBCXIELQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLEX4RJT2P66TXMQQYY4FNG2KYNAVKU4AJY3MV2BX2VWMXH5NGIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCXZFX3AG6QWNNCXTNDRUO7LW73NTY7DCC2ZEYULWNAQTOZ5AGOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIAGOYUGLUVTPJ3H6U5Z4QFWH5GXRZTZMAUTDVK6MQ6C2CJD62HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6ONSIDCOBFUXNDROPWOVAQ7ZKOZ3DRXMKO3WTJYJZX5GIABFCZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3GOMSKKRY4V6XNAQLZNQP7ERSFVDABOOBBIT4A5URVIHCOZH4LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEHFELK3TUT7SU4CLA5FXFKH3LUDJILHX67S3NKUIAOJ5UXTVGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWBADWYJBA67JDPYFNVZDDECX4K64EZ3UAHGVEIPIUZ4QQ2KWDYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GR3L27DKUOH24UDO7IW7JH6KKSS2SDFPJ2DVLXRAGRHRPFH7AIPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HN6I2VYJ6ZSOOOLSUJDVK3MKKTGNT2SJ5IA25YUBXNZIJVX74WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KUY334YQLUHTCVDAW65TVW7C2QGIDNJFJYN63AY2AC7ASXTXNTPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RNSM5JP4P5JD2RHJLBZIQ6LD2OD3C7NCK42KT6EYLLLAQLGSLBGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZXBKV23ZBLPPPAMGVNKIKWIO7HAO4HXVRNJKLI2L2B5RZF62SXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HCVPEULBN2XR4NRO3ZDWFUKYU5G42IZ47HOYB644PBIYZADGRMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AN6LWOCVJYCM2WESHSKVQ2FDRLKEZSFGZL63LBMA4LUZYIOFK6PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUJH36AEWXEMF6V7J6XJ3WPKHG7QMGBULSP2T3I5ZV4ASUNCXNIQ/vendors.js"
            ]
        },
        "GetEbsVolumePricingInformation": {
            "input": {
                "type": "structure",
                "members": {
                    "volumeArns": {
                        "type": "list",
                        "member": {}
                    },
                    "accountId": {},
                    "encryptedFas": {
                        "shape": "Ss"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "volumePricingInformation": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "currentVolumeInformation": {
                                    "type": "structure",
                                    "members": {
                                        "volumeArn": {},
                                        "price": {
                                            "type": "double"
                                        }
                                    }
                                },
                                "recommendedVolumeInformationList": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "rank": {
                                                "type": "integer"
                                            },
                                            "price": {
                                                "type": "double"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MRXJ7CTDNO2RF5YKNNAXKJ3MW2OSLXET7V34HG5PDEDMJ6WIVEEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WONYUOUPSZ4U6AGUBKQZ2H62VPXB54TLH5GP64XIZFNJXLD4G2QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W626P2F6TA3N4IOMFV77J3XPDVDVV2F33RKJTVXW5FDKIV6YBTYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HR3OIAVGYEDBKXZIJ6RQXGNVZL25I6RD7GMHZU2JW3KMSIYILWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JN6MG6IR75SRLGHO5VH336ZJQQJFHTKH2KRLTF6Z3VGPRFTX4SIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XR42RKMWI273EWSJKS5GXVZNHIYYCYASTBPHPFF7O3U7W5CGUR2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KLSS2OYZRSUNW4RHAAVNQ6EJ3QVBQXS6A553KD4EQ4MCKB3IENOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5M5GOPL2Y5CQSSXA4VKZAW66LUPD76G5V42WQ5L3A5LZJRYGUSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELKV3HQHQZHXD4RZYFLWATOZ3EOTNNHQ7ZQLEJSICCFQBBCXIELQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLEX4RJT2P66TXMQQYY4FNG2KYNAVKU4AJY3MV2BX2VWMXH5NGIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCXZFX3AG6QWNNCXTNDRUO7LW73NTY7DCC2ZEYULWNAQTOZ5AGOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIAGOYUGLUVTPJ3H6U5Z4QFWH5GXRZTZMAUTDVK6MQ6C2CJD62HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6ONSIDCOBFUXNDROPWOVAQ7ZKOZ3DRXMKO3WTJYJZX5GIABFCZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3GOMSKKRY4V6XNAQLZNQP7ERSFVDABOOBBIT4A5URVIHCOZH4LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEHFELK3TUT7SU4CLA5FXFKH3LUDJILHX67S3NKUIAOJ5UXTVGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWBADWYJBA67JDPYFNVZDDECX4K64EZ3UAHGVEIPIUZ4QQ2KWDYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GR3L27DKUOH24UDO7IW7JH6KKSS2SDFPJ2DVLXRAGRHRPFH7AIPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HN6I2VYJ6ZSOOOLSUJDVK3MKKTGNT2SJ5IA25YUBXNZIJVX74WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KUY334YQLUHTCVDAW65TVW7C2QGIDNJFJYN63AY2AC7ASXTXNTPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RNSM5JP4P5JD2RHJLBZIQ6LD2OD3C7NCK42KT6EYLLLAQLGSLBGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZXBKV23ZBLPPPAMGVNKIKWIO7HAO4HXVRNJKLI2L2B5RZF62SXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HCVPEULBN2XR4NRO3ZDWFUKYU5G42IZ47HOYB644PBIYZADGRMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AN6LWOCVJYCM2WESHSKVQ2FDRLKEZSFGZL63LBMA4LUZYIOFK6PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUJH36AEWXEMF6V7J6XJ3WPKHG7QMGBULSP2T3I5ZV4ASUNCXNIQ/vendors.js"
            ]
        },
        "GetInstancePricingInformation": {
            "input": {
                "type": "structure",
                "members": {
                    "awsAccountId": {},
                    "instanceArns": {
                        "type": "list",
                        "member": {}
                    },
                    "encryptedFas": {
                        "shape": "Ss"
                    },
                    "autoScalingGroupArns": {
                        "type": "list",
                        "member": {}
                    },
                    "includeCostInformation": {
                        "type": "boolean"
                    },
                    "includeMemoryMetricInformation": {
                        "type": "boolean"
                    },
                    "recommendationPreferences": {
                        "type": "structure",
                        "members": {
                            "cpuVendorArchitectures": {
                                "type": "list",
                                "member": {}
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "instancePricingInformation": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "currentInstanceInformation": {
                                    "type": "structure",
                                    "members": {
                                        "resourceArn": {},
                                        "instanceInformation": {
                                            "shape": "S1g"
                                        },
                                        "memoryMetricName": {},
                                        "memoryMetricNamespace": {},
                                        "memoryMetricDimensions": {
                                            "type": "list",
                                            "member": {
                                                "shape": "S23"
                                            }
                                        }
                                    }
                                },
                                "recommendedInstanceInformations": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "rank": {
                                                "type": "integer"
                                            },
                                            "instanceInformation": {
                                                "shape": "S1g"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MRXJ7CTDNO2RF5YKNNAXKJ3MW2OSLXET7V34HG5PDEDMJ6WIVEEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WONYUOUPSZ4U6AGUBKQZ2H62VPXB54TLH5GP64XIZFNJXLD4G2QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W626P2F6TA3N4IOMFV77J3XPDVDVV2F33RKJTVXW5FDKIV6YBTYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HR3OIAVGYEDBKXZIJ6RQXGNVZL25I6RD7GMHZU2JW3KMSIYILWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JN6MG6IR75SRLGHO5VH336ZJQQJFHTKH2KRLTF6Z3VGPRFTX4SIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XR42RKMWI273EWSJKS5GXVZNHIYYCYASTBPHPFF7O3U7W5CGUR2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KLSS2OYZRSUNW4RHAAVNQ6EJ3QVBQXS6A553KD4EQ4MCKB3IENOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5M5GOPL2Y5CQSSXA4VKZAW66LUPD76G5V42WQ5L3A5LZJRYGUSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELKV3HQHQZHXD4RZYFLWATOZ3EOTNNHQ7ZQLEJSICCFQBBCXIELQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLEX4RJT2P66TXMQQYY4FNG2KYNAVKU4AJY3MV2BX2VWMXH5NGIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCXZFX3AG6QWNNCXTNDRUO7LW73NTY7DCC2ZEYULWNAQTOZ5AGOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIAGOYUGLUVTPJ3H6U5Z4QFWH5GXRZTZMAUTDVK6MQ6C2CJD62HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6ONSIDCOBFUXNDROPWOVAQ7ZKOZ3DRXMKO3WTJYJZX5GIABFCZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3GOMSKKRY4V6XNAQLZNQP7ERSFVDABOOBBIT4A5URVIHCOZH4LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEHFELK3TUT7SU4CLA5FXFKH3LUDJILHX67S3NKUIAOJ5UXTVGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWBADWYJBA67JDPYFNVZDDECX4K64EZ3UAHGVEIPIUZ4QQ2KWDYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GR3L27DKUOH24UDO7IW7JH6KKSS2SDFPJ2DVLXRAGRHRPFH7AIPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HN6I2VYJ6ZSOOOLSUJDVK3MKKTGNT2SJ5IA25YUBXNZIJVX74WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KUY334YQLUHTCVDAW65TVW7C2QGIDNJFJYN63AY2AC7ASXTXNTPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RNSM5JP4P5JD2RHJLBZIQ6LD2OD3C7NCK42KT6EYLLLAQLGSLBGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZXBKV23ZBLPPPAMGVNKIKWIO7HAO4HXVRNJKLI2L2B5RZF62SXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HCVPEULBN2XR4NRO3ZDWFUKYU5G42IZ47HOYB644PBIYZADGRMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AN6LWOCVJYCM2WESHSKVQ2FDRLKEZSFGZL63LBMA4LUZYIOFK6PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUJH36AEWXEMF6V7J6XJ3WPKHG7QMGBULSP2T3I5ZV4ASUNCXNIQ/vendors.js"
            ]
        },
        "GetInstanceRecommendationsInternal": {
            "input": {
                "type": "structure",
                "required": [
                    "awsAccountId"
                ],
                "members": {
                    "awsAccountId": {},
                    "instanceIds": {
                        "type": "list",
                        "member": {}
                    },
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "instanceRecommendations": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "instance": {
                                    "type": "structure",
                                    "members": {
                                        "instanceId": {},
                                        "monthlyOnDemandCost": {
                                            "shape": "S2h"
                                        },
                                        "instanceType": {},
                                        "awsAccountId": {},
                                        "region": {},
                                        "availabilityZone": {},
                                        "operatingSystem": {},
                                        "utilization": {
                                            "shape": "S2m"
                                        }
                                    }
                                },
                                "reasonCode": {},
                                "recommendations": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "instanceType": {},
                                            "estimatedMonthlyCostChange": {
                                                "shape": "S2h"
                                            },
                                            "projectedUtilization": {
                                                "shape": "S2m"
                                            }
                                        }
                                    }
                                },
                                "recommendationUnavailableReason": {
                                    "type": "structure",
                                    "members": {
                                        "message": {},
                                        "code": {}
                                    }
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MRXJ7CTDNO2RF5YKNNAXKJ3MW2OSLXET7V34HG5PDEDMJ6WIVEEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WONYUOUPSZ4U6AGUBKQZ2H62VPXB54TLH5GP64XIZFNJXLD4G2QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W626P2F6TA3N4IOMFV77J3XPDVDVV2F33RKJTVXW5FDKIV6YBTYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HR3OIAVGYEDBKXZIJ6RQXGNVZL25I6RD7GMHZU2JW3KMSIYILWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JN6MG6IR75SRLGHO5VH336ZJQQJFHTKH2KRLTF6Z3VGPRFTX4SIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XR42RKMWI273EWSJKS5GXVZNHIYYCYASTBPHPFF7O3U7W5CGUR2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KLSS2OYZRSUNW4RHAAVNQ6EJ3QVBQXS6A553KD4EQ4MCKB3IENOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5M5GOPL2Y5CQSSXA4VKZAW66LUPD76G5V42WQ5L3A5LZJRYGUSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELKV3HQHQZHXD4RZYFLWATOZ3EOTNNHQ7ZQLEJSICCFQBBCXIELQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLEX4RJT2P66TXMQQYY4FNG2KYNAVKU4AJY3MV2BX2VWMXH5NGIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCXZFX3AG6QWNNCXTNDRUO7LW73NTY7DCC2ZEYULWNAQTOZ5AGOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIAGOYUGLUVTPJ3H6U5Z4QFWH5GXRZTZMAUTDVK6MQ6C2CJD62HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6ONSIDCOBFUXNDROPWOVAQ7ZKOZ3DRXMKO3WTJYJZX5GIABFCZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3GOMSKKRY4V6XNAQLZNQP7ERSFVDABOOBBIT4A5URVIHCOZH4LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEHFELK3TUT7SU4CLA5FXFKH3LUDJILHX67S3NKUIAOJ5UXTVGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWBADWYJBA67JDPYFNVZDDECX4K64EZ3UAHGVEIPIUZ4QQ2KWDYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GR3L27DKUOH24UDO7IW7JH6KKSS2SDFPJ2DVLXRAGRHRPFH7AIPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HN6I2VYJ6ZSOOOLSUJDVK3MKKTGNT2SJ5IA25YUBXNZIJVX74WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KUY334YQLUHTCVDAW65TVW7C2QGIDNJFJYN63AY2AC7ASXTXNTPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RNSM5JP4P5JD2RHJLBZIQ6LD2OD3C7NCK42KT6EYLLLAQLGSLBGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZXBKV23ZBLPPPAMGVNKIKWIO7HAO4HXVRNJKLI2L2B5RZF62SXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HCVPEULBN2XR4NRO3ZDWFUKYU5G42IZ47HOYB644PBIYZADGRMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AN6LWOCVJYCM2WESHSKVQ2FDRLKEZSFGZL63LBMA4LUZYIOFK6PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUJH36AEWXEMF6V7J6XJ3WPKHG7QMGBULSP2T3I5ZV4ASUNCXNIQ/vendors.js"
            ]
        },
        "GetLambdaFunctionPricingInformation": {
            "input": {
                "type": "structure",
                "members": {
                    "functionArns": {
                        "type": "list",
                        "member": {}
                    },
                    "accountId": {},
                    "encryptedFas": {
                        "shape": "Ss"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "lambdaPricingInformation": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "functionArn": {},
                                "timeout": {
                                    "type": "integer"
                                },
                                "currentPricingInformation": {
                                    "type": "structure",
                                    "members": {
                                        "averagePrice": {
                                            "type": "double"
                                        },
                                        "totalPrice": {
                                            "type": "double"
                                        }
                                    }
                                },
                                "memoryRecommendationOptionsPricingInformation": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "rank": {
                                                "type": "integer"
                                            },
                                            "memorySize": {
                                                "type": "integer"
                                            },
                                            "lowerBoundPrice": {
                                                "type": "double"
                                            },
                                            "upperBoundPrice": {
                                                "type": "double"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MRXJ7CTDNO2RF5YKNNAXKJ3MW2OSLXET7V34HG5PDEDMJ6WIVEEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WONYUOUPSZ4U6AGUBKQZ2H62VPXB54TLH5GP64XIZFNJXLD4G2QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W626P2F6TA3N4IOMFV77J3XPDVDVV2F33RKJTVXW5FDKIV6YBTYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HR3OIAVGYEDBKXZIJ6RQXGNVZL25I6RD7GMHZU2JW3KMSIYILWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JN6MG6IR75SRLGHO5VH336ZJQQJFHTKH2KRLTF6Z3VGPRFTX4SIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XR42RKMWI273EWSJKS5GXVZNHIYYCYASTBPHPFF7O3U7W5CGUR2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KLSS2OYZRSUNW4RHAAVNQ6EJ3QVBQXS6A553KD4EQ4MCKB3IENOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5M5GOPL2Y5CQSSXA4VKZAW66LUPD76G5V42WQ5L3A5LZJRYGUSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELKV3HQHQZHXD4RZYFLWATOZ3EOTNNHQ7ZQLEJSICCFQBBCXIELQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLEX4RJT2P66TXMQQYY4FNG2KYNAVKU4AJY3MV2BX2VWMXH5NGIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCXZFX3AG6QWNNCXTNDRUO7LW73NTY7DCC2ZEYULWNAQTOZ5AGOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIAGOYUGLUVTPJ3H6U5Z4QFWH5GXRZTZMAUTDVK6MQ6C2CJD62HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6ONSIDCOBFUXNDROPWOVAQ7ZKOZ3DRXMKO3WTJYJZX5GIABFCZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3GOMSKKRY4V6XNAQLZNQP7ERSFVDABOOBBIT4A5URVIHCOZH4LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEHFELK3TUT7SU4CLA5FXFKH3LUDJILHX67S3NKUIAOJ5UXTVGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWBADWYJBA67JDPYFNVZDDECX4K64EZ3UAHGVEIPIUZ4QQ2KWDYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GR3L27DKUOH24UDO7IW7JH6KKSS2SDFPJ2DVLXRAGRHRPFH7AIPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HN6I2VYJ6ZSOOOLSUJDVK3MKKTGNT2SJ5IA25YUBXNZIJVX74WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KUY334YQLUHTCVDAW65TVW7C2QGIDNJFJYN63AY2AC7ASXTXNTPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RNSM5JP4P5JD2RHJLBZIQ6LD2OD3C7NCK42KT6EYLLLAQLGSLBGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZXBKV23ZBLPPPAMGVNKIKWIO7HAO4HXVRNJKLI2L2B5RZF62SXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HCVPEULBN2XR4NRO3ZDWFUKYU5G42IZ47HOYB644PBIYZADGRMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AN6LWOCVJYCM2WESHSKVQ2FDRLKEZSFGZL63LBMA4LUZYIOFK6PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUJH36AEWXEMF6V7J6XJ3WPKHG7QMGBULSP2T3I5ZV4ASUNCXNIQ/vendors.js"
            ]
        },
        "GetOrganizationMemberData": {
            "input": {
                "type": "structure",
                "required": [
                    "MemberAccountId"
                ],
                "members": {
                    "MemberAccountId": {},
                    "ResourceArns": {
                        "type": "list",
                        "member": {}
                    },
                    "GetMetricDataParameters": {
                        "type": "structure",
                        "members": {
                            "MetricDataQueries": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "members": {
                                        "Id": {},
                                        "MetricStat": {
                                            "type": "structure",
                                            "members": {
                                                "Metric": {
                                                    "type": "structure",
                                                    "members": {
                                                        "Namespace": {},
                                                        "MetricName": {},
                                                        "Dimensions": {
                                                            "type": "list",
                                                            "member": {
                                                                "shape": "S23"
                                                            }
                                                        }
                                                    }
                                                },
                                                "Period": {
                                                    "type": "integer"
                                                },
                                                "Stat": {}
                                            }
                                        },
                                        "Expression": {},
                                        "Label": {},
                                        "ReturnData": {
                                            "type": "boolean"
                                        }
                                    }
                                }
                            },
                            "StartTime": {
                                "type": "timestamp"
                            },
                            "EndTime": {
                                "type": "timestamp"
                            },
                            "ScanBy": {}
                        }
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {},
                    "RequesterAccountId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "GetMetricDataResult": {
                        "type": "structure",
                        "members": {
                            "MetricDataResults": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "members": {
                                        "Id": {},
                                        "Label": {},
                                        "Timestamps": {
                                            "shape": "Sc"
                                        },
                                        "Values": {
                                            "shape": "Sd"
                                        }
                                    }
                                }
                            },
                            "Messages": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "members": {
                                        "Code": {},
                                        "Value": {}
                                    }
                                }
                            }
                        }
                    },
                    "DescribeVolumesResult": {
                        "type": "structure",
                        "members": {
                            "Volumes": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "members": {
                                        "VolumeId": {},
                                        "Size": {
                                            "type": "integer"
                                        },
                                        "SnapshotId": {},
                                        "AvailabilityZone": {},
                                        "State": {},
                                        "CreateTime": {
                                            "type": "timestamp"
                                        },
                                        "Attachments": {
                                            "type": "list",
                                            "member": {
                                                "type": "structure",
                                                "members": {
                                                    "VolumeId": {},
                                                    "InstanceId": {},
                                                    "Device": {},
                                                    "State": {},
                                                    "AttachTime": {
                                                        "type": "timestamp"
                                                    },
                                                    "DeleteOnTermination": {
                                                        "type": "boolean"
                                                    }
                                                }
                                            }
                                        },
                                        "Tags": {
                                            "type": "list",
                                            "member": {
                                                "type": "structure",
                                                "members": {
                                                    "Key": {},
                                                    "Value": {}
                                                }
                                            }
                                        },
                                        "VolumeType": {},
                                        "Iops": {
                                            "type": "integer"
                                        },
                                        "Encrypted": {
                                            "type": "boolean"
                                        },
                                        "KmsKeyId": {}
                                    }
                                }
                            }
                        }
                    },
                    "DescribeInstancesResult": {
                        "type": "structure",
                        "members": {
                            "InstanceDetailsList": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "members": {
                                        "InstanceId": {},
                                        "AttachedEbsVolumes": {
                                            "type": "list",
                                            "member": {}
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MRXJ7CTDNO2RF5YKNNAXKJ3MW2OSLXET7V34HG5PDEDMJ6WIVEEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WONYUOUPSZ4U6AGUBKQZ2H62VPXB54TLH5GP64XIZFNJXLD4G2QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W626P2F6TA3N4IOMFV77J3XPDVDVV2F33RKJTVXW5FDKIV6YBTYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HR3OIAVGYEDBKXZIJ6RQXGNVZL25I6RD7GMHZU2JW3KMSIYILWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JN6MG6IR75SRLGHO5VH336ZJQQJFHTKH2KRLTF6Z3VGPRFTX4SIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XR42RKMWI273EWSJKS5GXVZNHIYYCYASTBPHPFF7O3U7W5CGUR2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KLSS2OYZRSUNW4RHAAVNQ6EJ3QVBQXS6A553KD4EQ4MCKB3IENOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5M5GOPL2Y5CQSSXA4VKZAW66LUPD76G5V42WQ5L3A5LZJRYGUSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELKV3HQHQZHXD4RZYFLWATOZ3EOTNNHQ7ZQLEJSICCFQBBCXIELQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLEX4RJT2P66TXMQQYY4FNG2KYNAVKU4AJY3MV2BX2VWMXH5NGIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCXZFX3AG6QWNNCXTNDRUO7LW73NTY7DCC2ZEYULWNAQTOZ5AGOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIAGOYUGLUVTPJ3H6U5Z4QFWH5GXRZTZMAUTDVK6MQ6C2CJD62HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6ONSIDCOBFUXNDROPWOVAQ7ZKOZ3DRXMKO3WTJYJZX5GIABFCZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3GOMSKKRY4V6XNAQLZNQP7ERSFVDABOOBBIT4A5URVIHCOZH4LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEHFELK3TUT7SU4CLA5FXFKH3LUDJILHX67S3NKUIAOJ5UXTVGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWBADWYJBA67JDPYFNVZDDECX4K64EZ3UAHGVEIPIUZ4QQ2KWDYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GR3L27DKUOH24UDO7IW7JH6KKSS2SDFPJ2DVLXRAGRHRPFH7AIPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HN6I2VYJ6ZSOOOLSUJDVK3MKKTGNT2SJ5IA25YUBXNZIJVX74WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KUY334YQLUHTCVDAW65TVW7C2QGIDNJFJYN63AY2AC7ASXTXNTPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RNSM5JP4P5JD2RHJLBZIQ6LD2OD3C7NCK42KT6EYLLLAQLGSLBGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZXBKV23ZBLPPPAMGVNKIKWIO7HAO4HXVRNJKLI2L2B5RZF62SXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HCVPEULBN2XR4NRO3ZDWFUKYU5G42IZ47HOYB644PBIYZADGRMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AN6LWOCVJYCM2WESHSKVQ2FDRLKEZSFGZL63LBMA4LUZYIOFK6PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUJH36AEWXEMF6V7J6XJ3WPKHG7QMGBULSP2T3I5ZV4ASUNCXNIQ/vendors.js"
            ]
        },
        "GetRDSInstancePricingInformation": {
            "input": {
                "type": "structure",
                "required": [
                    "dbInstanceArns"
                ],
                "members": {
                    "dbInstanceArns": {
                        "type": "list",
                        "member": {}
                    },
                    "accountId": {},
                    "recommendationPreferences": {
                        "shape": "S18"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "rdsInstancePricingInformationList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "currentRDSInstanceInformation": {
                                    "type": "structure",
                                    "members": {
                                        "dbInstanceArn": {},
                                        "rdsPrices": {
                                            "shape": "S4d"
                                        }
                                    }
                                },
                                "recommendedRDSInstanceInformationList": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "rank": {
                                                "type": "integer"
                                            },
                                            "rdsPrices": {
                                                "shape": "S4d"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MRXJ7CTDNO2RF5YKNNAXKJ3MW2OSLXET7V34HG5PDEDMJ6WIVEEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WONYUOUPSZ4U6AGUBKQZ2H62VPXB54TLH5GP64XIZFNJXLD4G2QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W626P2F6TA3N4IOMFV77J3XPDVDVV2F33RKJTVXW5FDKIV6YBTYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HR3OIAVGYEDBKXZIJ6RQXGNVZL25I6RD7GMHZU2JW3KMSIYILWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JN6MG6IR75SRLGHO5VH336ZJQQJFHTKH2KRLTF6Z3VGPRFTX4SIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XR42RKMWI273EWSJKS5GXVZNHIYYCYASTBPHPFF7O3U7W5CGUR2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KLSS2OYZRSUNW4RHAAVNQ6EJ3QVBQXS6A553KD4EQ4MCKB3IENOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5M5GOPL2Y5CQSSXA4VKZAW66LUPD76G5V42WQ5L3A5LZJRYGUSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELKV3HQHQZHXD4RZYFLWATOZ3EOTNNHQ7ZQLEJSICCFQBBCXIELQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLEX4RJT2P66TXMQQYY4FNG2KYNAVKU4AJY3MV2BX2VWMXH5NGIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCXZFX3AG6QWNNCXTNDRUO7LW73NTY7DCC2ZEYULWNAQTOZ5AGOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIAGOYUGLUVTPJ3H6U5Z4QFWH5GXRZTZMAUTDVK6MQ6C2CJD62HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6ONSIDCOBFUXNDROPWOVAQ7ZKOZ3DRXMKO3WTJYJZX5GIABFCZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3GOMSKKRY4V6XNAQLZNQP7ERSFVDABOOBBIT4A5URVIHCOZH4LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEHFELK3TUT7SU4CLA5FXFKH3LUDJILHX67S3NKUIAOJ5UXTVGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWBADWYJBA67JDPYFNVZDDECX4K64EZ3UAHGVEIPIUZ4QQ2KWDYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GR3L27DKUOH24UDO7IW7JH6KKSS2SDFPJ2DVLXRAGRHRPFH7AIPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HN6I2VYJ6ZSOOOLSUJDVK3MKKTGNT2SJ5IA25YUBXNZIJVX74WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KUY334YQLUHTCVDAW65TVW7C2QGIDNJFJYN63AY2AC7ASXTXNTPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RNSM5JP4P5JD2RHJLBZIQ6LD2OD3C7NCK42KT6EYLLLAQLGSLBGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZXBKV23ZBLPPPAMGVNKIKWIO7HAO4HXVRNJKLI2L2B5RZF62SXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HCVPEULBN2XR4NRO3ZDWFUKYU5G42IZ47HOYB644PBIYZADGRMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AN6LWOCVJYCM2WESHSKVQ2FDRLKEZSFGZL63LBMA4LUZYIOFK6PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUJH36AEWXEMF6V7J6XJ3WPKHG7QMGBULSP2T3I5ZV4ASUNCXNIQ/vendors.js"
            ]
        },
        "GetWorkloadTopicArnInternal": {
            "input": {
                "type": "structure",
                "members": {
                    "awsAccountId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "topicArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MRXJ7CTDNO2RF5YKNNAXKJ3MW2OSLXET7V34HG5PDEDMJ6WIVEEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WONYUOUPSZ4U6AGUBKQZ2H62VPXB54TLH5GP64XIZFNJXLD4G2QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W626P2F6TA3N4IOMFV77J3XPDVDVV2F33RKJTVXW5FDKIV6YBTYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HR3OIAVGYEDBKXZIJ6RQXGNVZL25I6RD7GMHZU2JW3KMSIYILWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JN6MG6IR75SRLGHO5VH336ZJQQJFHTKH2KRLTF6Z3VGPRFTX4SIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XR42RKMWI273EWSJKS5GXVZNHIYYCYASTBPHPFF7O3U7W5CGUR2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KLSS2OYZRSUNW4RHAAVNQ6EJ3QVBQXS6A553KD4EQ4MCKB3IENOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5M5GOPL2Y5CQSSXA4VKZAW66LUPD76G5V42WQ5L3A5LZJRYGUSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELKV3HQHQZHXD4RZYFLWATOZ3EOTNNHQ7ZQLEJSICCFQBBCXIELQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLEX4RJT2P66TXMQQYY4FNG2KYNAVKU4AJY3MV2BX2VWMXH5NGIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCXZFX3AG6QWNNCXTNDRUO7LW73NTY7DCC2ZEYULWNAQTOZ5AGOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIAGOYUGLUVTPJ3H6U5Z4QFWH5GXRZTZMAUTDVK6MQ6C2CJD62HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6ONSIDCOBFUXNDROPWOVAQ7ZKOZ3DRXMKO3WTJYJZX5GIABFCZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3GOMSKKRY4V6XNAQLZNQP7ERSFVDABOOBBIT4A5URVIHCOZH4LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEHFELK3TUT7SU4CLA5FXFKH3LUDJILHX67S3NKUIAOJ5UXTVGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWBADWYJBA67JDPYFNVZDDECX4K64EZ3UAHGVEIPIUZ4QQ2KWDYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GR3L27DKUOH24UDO7IW7JH6KKSS2SDFPJ2DVLXRAGRHRPFH7AIPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HN6I2VYJ6ZSOOOLSUJDVK3MKKTGNT2SJ5IA25YUBXNZIJVX74WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KUY334YQLUHTCVDAW65TVW7C2QGIDNJFJYN63AY2AC7ASXTXNTPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RNSM5JP4P5JD2RHJLBZIQ6LD2OD3C7NCK42KT6EYLLLAQLGSLBGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZXBKV23ZBLPPPAMGVNKIKWIO7HAO4HXVRNJKLI2L2B5RZF62SXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HCVPEULBN2XR4NRO3ZDWFUKYU5G42IZ47HOYB644PBIYZADGRMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AN6LWOCVJYCM2WESHSKVQ2FDRLKEZSFGZL63LBMA4LUZYIOFK6PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUJH36AEWXEMF6V7J6XJ3WPKHG7QMGBULSP2T3I5ZV4ASUNCXNIQ/vendors.js"
            ]
        },
        "LockServiceLinkedRole": {
            "input": {
                "type": "structure",
                "required": [
                    "RoleArn",
                    "Timeout"
                ],
                "members": {
                    "RoleArn": {},
                    "Timeout": {
                        "type": "long"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "CanBeDeleted"
                ],
                "members": {
                    "CanBeDeleted": {
                        "type": "boolean"
                    },
                    "ReasonOfFailure": {},
                    "RelatedResources": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MRXJ7CTDNO2RF5YKNNAXKJ3MW2OSLXET7V34HG5PDEDMJ6WIVEEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WONYUOUPSZ4U6AGUBKQZ2H62VPXB54TLH5GP64XIZFNJXLD4G2QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W626P2F6TA3N4IOMFV77J3XPDVDVV2F33RKJTVXW5FDKIV6YBTYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HR3OIAVGYEDBKXZIJ6RQXGNVZL25I6RD7GMHZU2JW3KMSIYILWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JN6MG6IR75SRLGHO5VH336ZJQQJFHTKH2KRLTF6Z3VGPRFTX4SIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XR42RKMWI273EWSJKS5GXVZNHIYYCYASTBPHPFF7O3U7W5CGUR2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KLSS2OYZRSUNW4RHAAVNQ6EJ3QVBQXS6A553KD4EQ4MCKB3IENOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5M5GOPL2Y5CQSSXA4VKZAW66LUPD76G5V42WQ5L3A5LZJRYGUSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELKV3HQHQZHXD4RZYFLWATOZ3EOTNNHQ7ZQLEJSICCFQBBCXIELQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLEX4RJT2P66TXMQQYY4FNG2KYNAVKU4AJY3MV2BX2VWMXH5NGIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCXZFX3AG6QWNNCXTNDRUO7LW73NTY7DCC2ZEYULWNAQTOZ5AGOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIAGOYUGLUVTPJ3H6U5Z4QFWH5GXRZTZMAUTDVK6MQ6C2CJD62HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6ONSIDCOBFUXNDROPWOVAQ7ZKOZ3DRXMKO3WTJYJZX5GIABFCZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3GOMSKKRY4V6XNAQLZNQP7ERSFVDABOOBBIT4A5URVIHCOZH4LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEHFELK3TUT7SU4CLA5FXFKH3LUDJILHX67S3NKUIAOJ5UXTVGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWBADWYJBA67JDPYFNVZDDECX4K64EZ3UAHGVEIPIUZ4QQ2KWDYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GR3L27DKUOH24UDO7IW7JH6KKSS2SDFPJ2DVLXRAGRHRPFH7AIPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HN6I2VYJ6ZSOOOLSUJDVK3MKKTGNT2SJ5IA25YUBXNZIJVX74WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KUY334YQLUHTCVDAW65TVW7C2QGIDNJFJYN63AY2AC7ASXTXNTPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RNSM5JP4P5JD2RHJLBZIQ6LD2OD3C7NCK42KT6EYLLLAQLGSLBGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZXBKV23ZBLPPPAMGVNKIKWIO7HAO4HXVRNJKLI2L2B5RZF62SXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HCVPEULBN2XR4NRO3ZDWFUKYU5G42IZ47HOYB644PBIYZADGRMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AN6LWOCVJYCM2WESHSKVQ2FDRLKEZSFGZL63LBMA4LUZYIOFK6PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUJH36AEWXEMF6V7J6XJ3WPKHG7QMGBULSP2T3I5ZV4ASUNCXNIQ/vendors.js"
            ]
        },
        "RegisterForRecommendations": {
            "input": {
                "type": "structure",
                "required": [
                    "awsAccountId",
                    "actor",
                    "serviceLevels"
                ],
                "members": {
                    "awsAccountId": {},
                    "actor": {},
                    "serviceLevels": {
                        "shape": "S4u"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "awsAccountId": {},
                    "actor": {},
                    "serviceLevels": {
                        "shape": "S4u"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MRXJ7CTDNO2RF5YKNNAXKJ3MW2OSLXET7V34HG5PDEDMJ6WIVEEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WONYUOUPSZ4U6AGUBKQZ2H62VPXB54TLH5GP64XIZFNJXLD4G2QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W626P2F6TA3N4IOMFV77J3XPDVDVV2F33RKJTVXW5FDKIV6YBTYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HR3OIAVGYEDBKXZIJ6RQXGNVZL25I6RD7GMHZU2JW3KMSIYILWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JN6MG6IR75SRLGHO5VH336ZJQQJFHTKH2KRLTF6Z3VGPRFTX4SIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XR42RKMWI273EWSJKS5GXVZNHIYYCYASTBPHPFF7O3U7W5CGUR2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KLSS2OYZRSUNW4RHAAVNQ6EJ3QVBQXS6A553KD4EQ4MCKB3IENOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5M5GOPL2Y5CQSSXA4VKZAW66LUPD76G5V42WQ5L3A5LZJRYGUSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELKV3HQHQZHXD4RZYFLWATOZ3EOTNNHQ7ZQLEJSICCFQBBCXIELQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLEX4RJT2P66TXMQQYY4FNG2KYNAVKU4AJY3MV2BX2VWMXH5NGIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCXZFX3AG6QWNNCXTNDRUO7LW73NTY7DCC2ZEYULWNAQTOZ5AGOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIAGOYUGLUVTPJ3H6U5Z4QFWH5GXRZTZMAUTDVK6MQ6C2CJD62HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6ONSIDCOBFUXNDROPWOVAQ7ZKOZ3DRXMKO3WTJYJZX5GIABFCZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3GOMSKKRY4V6XNAQLZNQP7ERSFVDABOOBBIT4A5URVIHCOZH4LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEHFELK3TUT7SU4CLA5FXFKH3LUDJILHX67S3NKUIAOJ5UXTVGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWBADWYJBA67JDPYFNVZDDECX4K64EZ3UAHGVEIPIUZ4QQ2KWDYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GR3L27DKUOH24UDO7IW7JH6KKSS2SDFPJ2DVLXRAGRHRPFH7AIPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HN6I2VYJ6ZSOOOLSUJDVK3MKKTGNT2SJ5IA25YUBXNZIJVX74WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KUY334YQLUHTCVDAW65TVW7C2QGIDNJFJYN63AY2AC7ASXTXNTPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RNSM5JP4P5JD2RHJLBZIQ6LD2OD3C7NCK42KT6EYLLLAQLGSLBGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZXBKV23ZBLPPPAMGVNKIKWIO7HAO4HXVRNJKLI2L2B5RZF62SXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HCVPEULBN2XR4NRO3ZDWFUKYU5G42IZ47HOYB644PBIYZADGRMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AN6LWOCVJYCM2WESHSKVQ2FDRLKEZSFGZL63LBMA4LUZYIOFK6PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUJH36AEWXEMF6V7J6XJ3WPKHG7QMGBULSP2T3I5ZV4ASUNCXNIQ/vendors.js"
            ]
        },
        "UnlockServiceLinkedRole": {
            "input": {
                "type": "structure",
                "required": [
                    "RoleArn"
                ],
                "members": {
                    "RoleArn": {},
                    "DeletionStatus": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MRXJ7CTDNO2RF5YKNNAXKJ3MW2OSLXET7V34HG5PDEDMJ6WIVEEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WONYUOUPSZ4U6AGUBKQZ2H62VPXB54TLH5GP64XIZFNJXLD4G2QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W626P2F6TA3N4IOMFV77J3XPDVDVV2F33RKJTVXW5FDKIV6YBTYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HR3OIAVGYEDBKXZIJ6RQXGNVZL25I6RD7GMHZU2JW3KMSIYILWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JN6MG6IR75SRLGHO5VH336ZJQQJFHTKH2KRLTF6Z3VGPRFTX4SIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XR42RKMWI273EWSJKS5GXVZNHIYYCYASTBPHPFF7O3U7W5CGUR2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KLSS2OYZRSUNW4RHAAVNQ6EJ3QVBQXS6A553KD4EQ4MCKB3IENOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5M5GOPL2Y5CQSSXA4VKZAW66LUPD76G5V42WQ5L3A5LZJRYGUSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELKV3HQHQZHXD4RZYFLWATOZ3EOTNNHQ7ZQLEJSICCFQBBCXIELQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLEX4RJT2P66TXMQQYY4FNG2KYNAVKU4AJY3MV2BX2VWMXH5NGIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCXZFX3AG6QWNNCXTNDRUO7LW73NTY7DCC2ZEYULWNAQTOZ5AGOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIAGOYUGLUVTPJ3H6U5Z4QFWH5GXRZTZMAUTDVK6MQ6C2CJD62HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6ONSIDCOBFUXNDROPWOVAQ7ZKOZ3DRXMKO3WTJYJZX5GIABFCZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3GOMSKKRY4V6XNAQLZNQP7ERSFVDABOOBBIT4A5URVIHCOZH4LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEHFELK3TUT7SU4CLA5FXFKH3LUDJILHX67S3NKUIAOJ5UXTVGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWBADWYJBA67JDPYFNVZDDECX4K64EZ3UAHGVEIPIUZ4QQ2KWDYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GR3L27DKUOH24UDO7IW7JH6KKSS2SDFPJ2DVLXRAGRHRPFH7AIPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HN6I2VYJ6ZSOOOLSUJDVK3MKKTGNT2SJ5IA25YUBXNZIJVX74WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KUY334YQLUHTCVDAW65TVW7C2QGIDNJFJYN63AY2AC7ASXTXNTPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RNSM5JP4P5JD2RHJLBZIQ6LD2OD3C7NCK42KT6EYLLLAQLGSLBGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZXBKV23ZBLPPPAMGVNKIKWIO7HAO4HXVRNJKLI2L2B5RZF62SXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HCVPEULBN2XR4NRO3ZDWFUKYU5G42IZ47HOYB644PBIYZADGRMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AN6LWOCVJYCM2WESHSKVQ2FDRLKEZSFGZL63LBMA4LUZYIOFK6PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUJH36AEWXEMF6V7J6XJ3WPKHG7QMGBULSP2T3I5ZV4ASUNCXNIQ/vendors.js"
            ]
        },
        "UpdateRecommendationStatus": {
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "recommendationStatus"
                ],
                "members": {
                    "resourceArn": {},
                    "recommendationStatus": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "requestId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MRXJ7CTDNO2RF5YKNNAXKJ3MW2OSLXET7V34HG5PDEDMJ6WIVEEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WONYUOUPSZ4U6AGUBKQZ2H62VPXB54TLH5GP64XIZFNJXLD4G2QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W626P2F6TA3N4IOMFV77J3XPDVDVV2F33RKJTVXW5FDKIV6YBTYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HR3OIAVGYEDBKXZIJ6RQXGNVZL25I6RD7GMHZU2JW3KMSIYILWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JN6MG6IR75SRLGHO5VH336ZJQQJFHTKH2KRLTF6Z3VGPRFTX4SIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XR42RKMWI273EWSJKS5GXVZNHIYYCYASTBPHPFF7O3U7W5CGUR2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KLSS2OYZRSUNW4RHAAVNQ6EJ3QVBQXS6A553KD4EQ4MCKB3IENOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5M5GOPL2Y5CQSSXA4VKZAW66LUPD76G5V42WQ5L3A5LZJRYGUSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELKV3HQHQZHXD4RZYFLWATOZ3EOTNNHQ7ZQLEJSICCFQBBCXIELQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLEX4RJT2P66TXMQQYY4FNG2KYNAVKU4AJY3MV2BX2VWMXH5NGIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCXZFX3AG6QWNNCXTNDRUO7LW73NTY7DCC2ZEYULWNAQTOZ5AGOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIAGOYUGLUVTPJ3H6U5Z4QFWH5GXRZTZMAUTDVK6MQ6C2CJD62HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6ONSIDCOBFUXNDROPWOVAQ7ZKOZ3DRXMKO3WTJYJZX5GIABFCZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3GOMSKKRY4V6XNAQLZNQP7ERSFVDABOOBBIT4A5URVIHCOZH4LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEHFELK3TUT7SU4CLA5FXFKH3LUDJILHX67S3NKUIAOJ5UXTVGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWBADWYJBA67JDPYFNVZDDECX4K64EZ3UAHGVEIPIUZ4QQ2KWDYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GR3L27DKUOH24UDO7IW7JH6KKSS2SDFPJ2DVLXRAGRHRPFH7AIPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HN6I2VYJ6ZSOOOLSUJDVK3MKKTGNT2SJ5IA25YUBXNZIJVX74WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KUY334YQLUHTCVDAW65TVW7C2QGIDNJFJYN63AY2AC7ASXTXNTPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RNSM5JP4P5JD2RHJLBZIQ6LD2OD3C7NCK42KT6EYLLLAQLGSLBGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZXBKV23ZBLPPPAMGVNKIKWIO7HAO4HXVRNJKLI2L2B5RZF62SXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HCVPEULBN2XR4NRO3ZDWFUKYU5G42IZ47HOYB644PBIYZADGRMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AN6LWOCVJYCM2WESHSKVQ2FDRLKEZSFGZL63LBMA4LUZYIOFK6PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUJH36AEWXEMF6V7J6XJ3WPKHG7QMGBULSP2T3I5ZV4ASUNCXNIQ/vendors.js"
            ]
        },
        "GetLicensePricingInformation": {
            "input": {
                "type": "structure",
                "members": {
                    "resourceArns": {
                        "type": "list",
                        "member": {}
                    },
                    "licenseName": {},
                    "accountId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "licensePricingInformation": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "currentLicenseInformation": {
                                    "type": "structure",
                                    "members": {
                                        "resourceArn": {},
                                        "licensePrice": {
                                            "type": "double"
                                        },
                                        "licenseName": {},
                                        "instancePrice": {
                                            "type": "double"
                                        }
                                    }
                                },
                                "recommendedLicenseInformationList": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "rank": {
                                                "type": "integer"
                                            },
                                            "licenseModel": {},
                                            "licensePrice": {
                                                "type": "double"
                                            },
                                            "instancePrice": {
                                                "type": "double"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MRXJ7CTDNO2RF5YKNNAXKJ3MW2OSLXET7V34HG5PDEDMJ6WIVEEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WONYUOUPSZ4U6AGUBKQZ2H62VPXB54TLH5GP64XIZFNJXLD4G2QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W626P2F6TA3N4IOMFV77J3XPDVDVV2F33RKJTVXW5FDKIV6YBTYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HR3OIAVGYEDBKXZIJ6RQXGNVZL25I6RD7GMHZU2JW3KMSIYILWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JN6MG6IR75SRLGHO5VH336ZJQQJFHTKH2KRLTF6Z3VGPRFTX4SIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XR42RKMWI273EWSJKS5GXVZNHIYYCYASTBPHPFF7O3U7W5CGUR2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KLSS2OYZRSUNW4RHAAVNQ6EJ3QVBQXS6A553KD4EQ4MCKB3IENOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5M5GOPL2Y5CQSSXA4VKZAW66LUPD76G5V42WQ5L3A5LZJRYGUSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELKV3HQHQZHXD4RZYFLWATOZ3EOTNNHQ7ZQLEJSICCFQBBCXIELQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLEX4RJT2P66TXMQQYY4FNG2KYNAVKU4AJY3MV2BX2VWMXH5NGIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCXZFX3AG6QWNNCXTNDRUO7LW73NTY7DCC2ZEYULWNAQTOZ5AGOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIAGOYUGLUVTPJ3H6U5Z4QFWH5GXRZTZMAUTDVK6MQ6C2CJD62HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6ONSIDCOBFUXNDROPWOVAQ7ZKOZ3DRXMKO3WTJYJZX5GIABFCZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3GOMSKKRY4V6XNAQLZNQP7ERSFVDABOOBBIT4A5URVIHCOZH4LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEHFELK3TUT7SU4CLA5FXFKH3LUDJILHX67S3NKUIAOJ5UXTVGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWBADWYJBA67JDPYFNVZDDECX4K64EZ3UAHGVEIPIUZ4QQ2KWDYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GR3L27DKUOH24UDO7IW7JH6KKSS2SDFPJ2DVLXRAGRHRPFH7AIPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HN6I2VYJ6ZSOOOLSUJDVK3MKKTGNT2SJ5IA25YUBXNZIJVX74WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KUY334YQLUHTCVDAW65TVW7C2QGIDNJFJYN63AY2AC7ASXTXNTPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RNSM5JP4P5JD2RHJLBZIQ6LD2OD3C7NCK42KT6EYLLLAQLGSLBGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZXBKV23ZBLPPPAMGVNKIKWIO7HAO4HXVRNJKLI2L2B5RZF62SXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HCVPEULBN2XR4NRO3ZDWFUKYU5G42IZ47HOYB644PBIYZADGRMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AN6LWOCVJYCM2WESHSKVQ2FDRLKEZSFGZL63LBMA4LUZYIOFK6PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUJH36AEWXEMF6V7J6XJ3WPKHG7QMGBULSP2T3I5ZV4ASUNCXNIQ/vendors.js"
            ]
        },
        "GetRDSDatabasePricingInformation": {
            "input": {
                "type": "structure",
                "required": [
                    "resourceArns"
                ],
                "members": {
                    "resourceArns": {
                        "shape": "S3f"
                    },
                    "accountId": {},
                    "recommendationPreferences": {
                        "shape": "S19"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "rdsDatabasePricingInformationList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "rdsDBInstancePricing": {
                                    "type": "structure",
                                    "members": {
                                        "currentRDSDatabaseInformation": {
                                            "type": "structure",
                                            "members": {
                                                "resourceArn": {},
                                                "rdsPrices": {
                                                    "shape": "S4q"
                                                },
                                                "multiAZDBInstance": {
                                                    "type": "boolean"
                                                },
                                                "instanceSpecification": {
                                                    "shape": "S4t"
                                                }
                                            }
                                        },
                                        "recommendedRDSDatabaseInformationList": {
                                            "type": "list",
                                            "member": {
                                                "type": "structure",
                                                "members": {
                                                    "rank": {
                                                        "type": "integer"
                                                    },
                                                    "rdsPrices": {
                                                        "shape": "S4q"
                                                    },
                                                    "instanceSpecification": {
                                                        "shape": "S4t"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                },
                                "rdsDBStoragePricing": {
                                    "type": "structure",
                                    "members": {
                                        "currentRDSStorageInformation": {
                                            "type": "structure",
                                            "members": {
                                                "resourceArn": {},
                                                "rdsPrices": {
                                                    "shape": "S4q"
                                                },
                                                "storageSpecification": {
                                                    "shape": "S4y"
                                                }
                                            }
                                        },
                                        "recommendedRDSStorageInformationList": {
                                            "type": "list",
                                            "member": {
                                                "type": "structure",
                                                "members": {
                                                    "rank": {
                                                        "type": "integer"
                                                    },
                                                    "rdsPrices": {
                                                        "shape": "S4q"
                                                    },
                                                    "storageSpecification": {
                                                        "shape": "S4y"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MRXJ7CTDNO2RF5YKNNAXKJ3MW2OSLXET7V34HG5PDEDMJ6WIVEEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WONYUOUPSZ4U6AGUBKQZ2H62VPXB54TLH5GP64XIZFNJXLD4G2QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W626P2F6TA3N4IOMFV77J3XPDVDVV2F33RKJTVXW5FDKIV6YBTYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HR3OIAVGYEDBKXZIJ6RQXGNVZL25I6RD7GMHZU2JW3KMSIYILWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JN6MG6IR75SRLGHO5VH336ZJQQJFHTKH2KRLTF6Z3VGPRFTX4SIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XR42RKMWI273EWSJKS5GXVZNHIYYCYASTBPHPFF7O3U7W5CGUR2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KLSS2OYZRSUNW4RHAAVNQ6EJ3QVBQXS6A553KD4EQ4MCKB3IENOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5M5GOPL2Y5CQSSXA4VKZAW66LUPD76G5V42WQ5L3A5LZJRYGUSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELKV3HQHQZHXD4RZYFLWATOZ3EOTNNHQ7ZQLEJSICCFQBBCXIELQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLEX4RJT2P66TXMQQYY4FNG2KYNAVKU4AJY3MV2BX2VWMXH5NGIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCXZFX3AG6QWNNCXTNDRUO7LW73NTY7DCC2ZEYULWNAQTOZ5AGOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIAGOYUGLUVTPJ3H6U5Z4QFWH5GXRZTZMAUTDVK6MQ6C2CJD62HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6ONSIDCOBFUXNDROPWOVAQ7ZKOZ3DRXMKO3WTJYJZX5GIABFCZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3GOMSKKRY4V6XNAQLZNQP7ERSFVDABOOBBIT4A5URVIHCOZH4LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEHFELK3TUT7SU4CLA5FXFKH3LUDJILHX67S3NKUIAOJ5UXTVGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWBADWYJBA67JDPYFNVZDDECX4K64EZ3UAHGVEIPIUZ4QQ2KWDYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GR3L27DKUOH24UDO7IW7JH6KKSS2SDFPJ2DVLXRAGRHRPFH7AIPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HN6I2VYJ6ZSOOOLSUJDVK3MKKTGNT2SJ5IA25YUBXNZIJVX74WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KUY334YQLUHTCVDAW65TVW7C2QGIDNJFJYN63AY2AC7ASXTXNTPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RNSM5JP4P5JD2RHJLBZIQ6LD2OD3C7NCK42KT6EYLLLAQLGSLBGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZXBKV23ZBLPPPAMGVNKIKWIO7HAO4HXVRNJKLI2L2B5RZF62SXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HCVPEULBN2XR4NRO3ZDWFUKYU5G42IZ47HOYB644PBIYZADGRMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AN6LWOCVJYCM2WESHSKVQ2FDRLKEZSFGZL63LBMA4LUZYIOFK6PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUJH36AEWXEMF6V7J6XJ3WPKHG7QMGBULSP2T3I5ZV4ASUNCXNIQ/vendors.js"
            ]
        }
    },
    "shapes": {
        "Sc": {
            "type": "list",
            "member": {
                "type": "timestamp"
            }
        },
        "Sd": {
            "type": "list",
            "member": {
                "type": "double"
            }
        },
        "Ss": {
            "type": "string",
            "sensitive": true
        },
        "S1g": {
            "type": "structure",
            "members": {
                "instanceConfiguration": {
                    "type": "structure",
                    "members": {
                        "instanceType": {},
                        "vcpus": {
                            "type": "integer"
                        },
                        "memory": {},
                        "storage": {},
                        "network": {}
                    }
                },
                "pricing": {
                    "type": "structure",
                    "members": {
                        "onDemandPrice": {
                            "type": "double"
                        },
                        "standardOneYearNoUpfrontReservedPrice": {
                            "type": "double"
                        },
                        "standardThreeYearNoUpfrontReservedPrice": {
                            "type": "double"
                        }
                    }
                },
                "cost": {
                    "type": "structure",
                    "members": {
                        "totalRunningHoursInLookbackPeriod": {},
                        "costOfInstanceInLookbackPeriod": {},
                        "onDemandHoursInLookbackPeriod": {},
                        "reservationCoveredHoursInLookbackPeriod": {},
                        "savingPlanCoveredHoursInLookbackPeriod": {},
                        "currencyCode": {}
                    }
                },
                "reservedInstancesUtilization": {},
                "reservedInstancesCoverage": {}
            }
        },
        "S23": {
            "type": "structure",
            "members": {
                "key": {},
                "value": {}
            }
        },
        "S2h": {
            "type": "structure",
            "required": [
                "currency",
                "number"
            ],
            "members": {
                "currency": {},
                "number": {
                    "type": "double"
                }
            }
        },
        "S2m": {
            "type": "structure",
            "members": {
                "averageCpuUtilization": {
                    "type": "double"
                },
                "averageNetworkInBytes": {
                    "type": "double"
                },
                "averageNetworkOutBytes": {
                    "type": "double"
                },
                "averageDiskWriteBytes": {
                    "type": "double"
                },
                "averageDiskReadBytes": {
                    "type": "double"
                }
            }
        },
        "S4d": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "rdsPriceName": {},
                    "value": {
                        "type": "double"
                    }
                }
            }
        },
        "S4u": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "S9": {
            "type": "string",
            "sensitive": true
        },
        "Se": {
            "type": "list",
            "member": {
                "type": "double"
            }
        },
        "S4p": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "rdsPriceName": {},
                    "value": {
                        "type": "double"
                    }
                }
            }
        },
        "S57": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "S18": {
            "type": "structure",
            "members": {
                "cpuVendorArchitectures": {
                    "type": "list",
                    "member": {}
                }
            }
        },
        "S4s": {
            "type": "structure",
            "members": {
                "cpuVendorArchitecture": {},
                "vcpus": {
                    "type": "integer"
                },
                "memoryInMib": {
                    "type": "integer"
                },
                "ebsBandwidth": {},
                "networkPerformance": {}
            }
        },
        "S19": {
            "type": "structure",
            "members": {
                "cpuVendorArchitectures": {
                    "type": "list",
                    "member": {}
                }
            }
        },
        "S1h": {
            "type": "structure",
            "members": {
                "instanceConfiguration": {
                    "type": "structure",
                    "members": {
                        "instanceType": {},
                        "vcpus": {
                            "type": "integer"
                        },
                        "memory": {},
                        "storage": {},
                        "network": {}
                    }
                },
                "pricing": {
                    "type": "structure",
                    "members": {
                        "onDemandPrice": {
                            "type": "double"
                        },
                        "standardOneYearNoUpfrontReservedPrice": {
                            "type": "double"
                        },
                        "standardThreeYearNoUpfrontReservedPrice": {
                            "type": "double"
                        },
                        "afterDiscountsPrice": {
                            "type": "double"
                        }
                    }
                },
                "cost": {
                    "type": "structure",
                    "members": {
                        "totalRunningHoursInLookbackPeriod": {},
                        "costOfInstanceInLookbackPeriod": {},
                        "onDemandHoursInLookbackPeriod": {},
                        "reservationCoveredHoursInLookbackPeriod": {},
                        "savingPlanCoveredHoursInLookbackPeriod": {},
                        "currencyCode": {}
                    }
                },
                "reservedInstancesUtilization": {},
                "reservedInstancesCoverage": {}
            }
        },
        "S24": {
            "type": "structure",
            "members": {
                "key": {},
                "value": {}
            }
        },
        "S2i": {
            "type": "structure",
            "required": [
                "currency",
                "number"
            ],
            "members": {
                "currency": {},
                "number": {
                    "type": "double"
                }
            }
        },
        "S2n": {
            "type": "structure",
            "members": {
                "averageCpuUtilization": {
                    "type": "double"
                },
                "averageNetworkInBytes": {
                    "type": "double"
                },
                "averageNetworkOutBytes": {
                    "type": "double"
                },
                "averageDiskWriteBytes": {
                    "type": "double"
                },
                "averageDiskReadBytes": {
                    "type": "double"
                }
            }
        },
        "S4q": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "rdsPriceName": {},
                    "value": {
                        "type": "double"
                    }
                }
            }
        },
        "S4t": {
            "type": "structure",
            "members": {
                "cpuVendorArchitecture": {},
                "vcpus": {
                    "type": "integer"
                },
                "memoryInMib": {
                    "type": "integer"
                },
                "ebsBandwidth": {},
                "networkPerformance": {}
            }
        },
        "S58": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "S3f": {
            "type": "list",
            "member": {}
        },
        "S4y": {
            "type": "structure",
            "members": {
                "storageType": {},
                "iops": {
                    "type": "integer"
                },
                "allocatedStorage": {
                    "type": "integer"
                }
            }
        },
        "S5l": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "S5n": {
            "type": "map",
            "key": {},
            "value": {}
        }
    }
}