{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2019-08-28",
        "endpointPrefix": "compute-optimizer",
        "jsonVersion": "1.0",
        "protocol": "json",
        "serviceAbbreviation": "mettleinternal",
        "serviceFullName": "Mettle Cell Router Service",
        "serviceId": "mettleinternal",
        "signatureVersion": "v4",
        "signingName": "mettle",
        "targetPrefix": "com.amazonaws.mettle.cellrouter.MettleCellRouterService",
        "uid": "mettleinternal-2019-08-28",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/C2ZAYANVFC4BICAQIMXDNXNH74ZM5Q2CL54NX7Z46DC76OQRLNCQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZVHDPLQMF64K2QJTTJLGU56CACH6Y56OGDIPOCT6ZAGG7DVZRREQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QC7DBE5LYQU65JGSYG765M4GCM7QB3CSEASFP7EFGAKSJWUQGKSQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AXUHILNK45VAOVD6A36R4Q4LBZDBIVCNQBHYRIILERWF25LP3HZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6V2WS2VYTHLZK3VTH2E2SJ7ZZ5YYL4WUAKTJ7N23G6PGCEUNPXNA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XXIIBW3YWYAXXL44LNLTWRJUHYN2ECTMOKGPS43QREIH4E35IMQA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J4CPBY5AFCUPQE2V34NIVTD2DV4TTQUVC6FM2V5NROMWSVNM65UQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XAKRFNKJ5QAWO6JIDPDC2T6BIJBZIJ4UBW7NLBTQS3CJVBK7MH5A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UJQW66NGU3AC5APURF2ATCWZPZ3ADQZIHVZIHLO5VFBMEEESDU4Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TBZXL3NQCA6B5F7ZCNN5TYG6LMVKIEMF7QWMN2RX4HS6CIRFUFVA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JJWYBAWULY5UD2R673JMPDAV7UGQWQZ7NDTPRNEJ42K2I4QMHKDQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ESEVAB3U5576TQMIL5MP3XXU42HUL3SV2LKGUKG4FU5A5IV5E5TA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XTMHRRU7CY5WJ3RHGYXILL736VZGB3T7LVS5B4P5MEXIM3WQYERA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YWMJMVKYRNF7GDK5JKXEQMI5NTULAWUUX6GRW3I5QIY2BI3C25DA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PO4JZEQTU5DZK7V7CSBB7J24MYL424NNHZBCHKAWSYLP5GWEIFHA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KTZLQ2F6FAKH27PQGSQR3TJO4EXPNN7AJARBXDL326WESLPRBNHQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IHXEFFB6FR5CULCHGFC75DRBBMJJYWS5JYWLTDBZZ63HTGPZOWUQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HJHJGXJR6P2YTPL463IZKHLXI4LU5UFQUKYL7DJ6RSGOPEZN6MKQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QRUDZCEUMH3Y6BTCNKM6E6WYZYUDOBKTZ7BLQHQMZIAVM2IPDHLQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TRNZWS36GUPGQ4QK5LP2VY7CJNYBUYLVEYXQ5CC4VVQGAHYRUCAQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZNFQPRZW5EYWQVFAFF5T32SNZLMZ63N4MAJKHA3TFPGIAH43RXKQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AWUXYDGIZWP2NYRC7EEIKP6YLNQ662JT3MFKGLU7WR3URLZ2Q73A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SIF5TG6PIISAQF7J6ETJSLGJVZ3NX4L7IWOOCE2ZPQZXBCNMKLWQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/O7DPSOQMSHXMDM7ZY7AKRNBHXMOVT7R7VKFADDHJN2LVYJWVVQ5A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TCUJVSGK3Q3B3BG2EEJ2B6KDXMNB3GUWD7PSAHCIJ7JGPGRI5LNQ/vendors.js"
        ]
    },
    "operations": {
        "GetCurrentResourceMetrics": {
            "input": {
                "type": "structure",
                "members": {
                    "resourceArn": {},
                    "currentResourceMetricsNames": {
                        "type": "list",
                        "member": {}
                    },
                    "stat": {},
                    "period": {
                        "type": "integer"
                    },
                    "startTime": {
                        "type": "timestamp"
                    },
                    "endTime": {
                        "type": "timestamp"
                    },
                    "requesterAccountId": {},
                    "encryptedFas": {
                        "shape": "S9"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "currentResourceMetrics": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "name": {},
                                "timestamps": {
                                    "shape": "Sc"
                                },
                                "values": {
                                    "shape": "Sd"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVHDPLQMF64K2QJTTJLGU56CACH6Y56OGDIPOCT6ZAGG7DVZRREQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QC7DBE5LYQU65JGSYG765M4GCM7QB3CSEASFP7EFGAKSJWUQGKSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AXUHILNK45VAOVD6A36R4Q4LBZDBIVCNQBHYRIILERWF25LP3HZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6V2WS2VYTHLZK3VTH2E2SJ7ZZ5YYL4WUAKTJ7N23G6PGCEUNPXNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXIIBW3YWYAXXL44LNLTWRJUHYN2ECTMOKGPS43QREIH4E35IMQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4CPBY5AFCUPQE2V34NIVTD2DV4TTQUVC6FM2V5NROMWSVNM65UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XAKRFNKJ5QAWO6JIDPDC2T6BIJBZIJ4UBW7NLBTQS3CJVBK7MH5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJQW66NGU3AC5APURF2ATCWZPZ3ADQZIHVZIHLO5VFBMEEESDU4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBZXL3NQCA6B5F7ZCNN5TYG6LMVKIEMF7QWMN2RX4HS6CIRFUFVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJWYBAWULY5UD2R673JMPDAV7UGQWQZ7NDTPRNEJ42K2I4QMHKDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ESEVAB3U5576TQMIL5MP3XXU42HUL3SV2LKGUKG4FU5A5IV5E5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XTMHRRU7CY5WJ3RHGYXILL736VZGB3T7LVS5B4P5MEXIM3WQYERA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWMJMVKYRNF7GDK5JKXEQMI5NTULAWUUX6GRW3I5QIY2BI3C25DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PO4JZEQTU5DZK7V7CSBB7J24MYL424NNHZBCHKAWSYLP5GWEIFHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTZLQ2F6FAKH27PQGSQR3TJO4EXPNN7AJARBXDL326WESLPRBNHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IHXEFFB6FR5CULCHGFC75DRBBMJJYWS5JYWLTDBZZ63HTGPZOWUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJHJGXJR6P2YTPL463IZKHLXI4LU5UFQUKYL7DJ6RSGOPEZN6MKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRUDZCEUMH3Y6BTCNKM6E6WYZYUDOBKTZ7BLQHQMZIAVM2IPDHLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TRNZWS36GUPGQ4QK5LP2VY7CJNYBUYLVEYXQ5CC4VVQGAHYRUCAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNFQPRZW5EYWQVFAFF5T32SNZLMZ63N4MAJKHA3TFPGIAH43RXKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWUXYDGIZWP2NYRC7EEIKP6YLNQ662JT3MFKGLU7WR3URLZ2Q73A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIF5TG6PIISAQF7J6ETJSLGJVZ3NX4L7IWOOCE2ZPQZXBCNMKLWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7DPSOQMSHXMDM7ZY7AKRNBHXMOVT7R7VKFADDHJN2LVYJWVVQ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCUJVSGK3Q3B3BG2EEJ2B6KDXMNB3GUWD7PSAHCIJ7JGPGRI5LNQ/vendors.js"
            ]
        },
        "GetECSServicePricingInformation": {
            "input": {
                "type": "structure",
                "members": {
                    "serviceArns": {
                        "type": "list",
                        "member": {}
                    },
                    "accountId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "servicePricingInformation": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "currentServiceInformation": {
                                    "type": "structure",
                                    "members": {
                                        "serviceArn": {},
                                        "fargatePrice": {
                                            "type": "double"
                                        }
                                    }
                                },
                                "recommendedServiceInformationList": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "fargatePrice": {
                                                "type": "double"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVHDPLQMF64K2QJTTJLGU56CACH6Y56OGDIPOCT6ZAGG7DVZRREQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QC7DBE5LYQU65JGSYG765M4GCM7QB3CSEASFP7EFGAKSJWUQGKSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AXUHILNK45VAOVD6A36R4Q4LBZDBIVCNQBHYRIILERWF25LP3HZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6V2WS2VYTHLZK3VTH2E2SJ7ZZ5YYL4WUAKTJ7N23G6PGCEUNPXNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXIIBW3YWYAXXL44LNLTWRJUHYN2ECTMOKGPS43QREIH4E35IMQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4CPBY5AFCUPQE2V34NIVTD2DV4TTQUVC6FM2V5NROMWSVNM65UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XAKRFNKJ5QAWO6JIDPDC2T6BIJBZIJ4UBW7NLBTQS3CJVBK7MH5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJQW66NGU3AC5APURF2ATCWZPZ3ADQZIHVZIHLO5VFBMEEESDU4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBZXL3NQCA6B5F7ZCNN5TYG6LMVKIEMF7QWMN2RX4HS6CIRFUFVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJWYBAWULY5UD2R673JMPDAV7UGQWQZ7NDTPRNEJ42K2I4QMHKDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ESEVAB3U5576TQMIL5MP3XXU42HUL3SV2LKGUKG4FU5A5IV5E5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XTMHRRU7CY5WJ3RHGYXILL736VZGB3T7LVS5B4P5MEXIM3WQYERA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWMJMVKYRNF7GDK5JKXEQMI5NTULAWUUX6GRW3I5QIY2BI3C25DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PO4JZEQTU5DZK7V7CSBB7J24MYL424NNHZBCHKAWSYLP5GWEIFHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTZLQ2F6FAKH27PQGSQR3TJO4EXPNN7AJARBXDL326WESLPRBNHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IHXEFFB6FR5CULCHGFC75DRBBMJJYWS5JYWLTDBZZ63HTGPZOWUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJHJGXJR6P2YTPL463IZKHLXI4LU5UFQUKYL7DJ6RSGOPEZN6MKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRUDZCEUMH3Y6BTCNKM6E6WYZYUDOBKTZ7BLQHQMZIAVM2IPDHLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TRNZWS36GUPGQ4QK5LP2VY7CJNYBUYLVEYXQ5CC4VVQGAHYRUCAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNFQPRZW5EYWQVFAFF5T32SNZLMZ63N4MAJKHA3TFPGIAH43RXKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWUXYDGIZWP2NYRC7EEIKP6YLNQ662JT3MFKGLU7WR3URLZ2Q73A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIF5TG6PIISAQF7J6ETJSLGJVZ3NX4L7IWOOCE2ZPQZXBCNMKLWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7DPSOQMSHXMDM7ZY7AKRNBHXMOVT7R7VKFADDHJN2LVYJWVVQ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCUJVSGK3Q3B3BG2EEJ2B6KDXMNB3GUWD7PSAHCIJ7JGPGRI5LNQ/vendors.js"
            ]
        },
        "GetEbsVolumePricingInformation": {
            "input": {
                "type": "structure",
                "members": {
                    "volumeArns": {
                        "type": "list",
                        "member": {}
                    },
                    "accountId": {},
                    "encryptedFas": {
                        "shape": "Ss"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "volumePricingInformation": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "currentVolumeInformation": {
                                    "type": "structure",
                                    "members": {
                                        "volumeArn": {},
                                        "price": {
                                            "type": "double"
                                        }
                                    }
                                },
                                "recommendedVolumeInformationList": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "rank": {
                                                "type": "integer"
                                            },
                                            "price": {
                                                "type": "double"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVHDPLQMF64K2QJTTJLGU56CACH6Y56OGDIPOCT6ZAGG7DVZRREQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QC7DBE5LYQU65JGSYG765M4GCM7QB3CSEASFP7EFGAKSJWUQGKSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AXUHILNK45VAOVD6A36R4Q4LBZDBIVCNQBHYRIILERWF25LP3HZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6V2WS2VYTHLZK3VTH2E2SJ7ZZ5YYL4WUAKTJ7N23G6PGCEUNPXNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXIIBW3YWYAXXL44LNLTWRJUHYN2ECTMOKGPS43QREIH4E35IMQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4CPBY5AFCUPQE2V34NIVTD2DV4TTQUVC6FM2V5NROMWSVNM65UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XAKRFNKJ5QAWO6JIDPDC2T6BIJBZIJ4UBW7NLBTQS3CJVBK7MH5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJQW66NGU3AC5APURF2ATCWZPZ3ADQZIHVZIHLO5VFBMEEESDU4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBZXL3NQCA6B5F7ZCNN5TYG6LMVKIEMF7QWMN2RX4HS6CIRFUFVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJWYBAWULY5UD2R673JMPDAV7UGQWQZ7NDTPRNEJ42K2I4QMHKDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ESEVAB3U5576TQMIL5MP3XXU42HUL3SV2LKGUKG4FU5A5IV5E5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XTMHRRU7CY5WJ3RHGYXILL736VZGB3T7LVS5B4P5MEXIM3WQYERA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWMJMVKYRNF7GDK5JKXEQMI5NTULAWUUX6GRW3I5QIY2BI3C25DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PO4JZEQTU5DZK7V7CSBB7J24MYL424NNHZBCHKAWSYLP5GWEIFHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTZLQ2F6FAKH27PQGSQR3TJO4EXPNN7AJARBXDL326WESLPRBNHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IHXEFFB6FR5CULCHGFC75DRBBMJJYWS5JYWLTDBZZ63HTGPZOWUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJHJGXJR6P2YTPL463IZKHLXI4LU5UFQUKYL7DJ6RSGOPEZN6MKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRUDZCEUMH3Y6BTCNKM6E6WYZYUDOBKTZ7BLQHQMZIAVM2IPDHLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TRNZWS36GUPGQ4QK5LP2VY7CJNYBUYLVEYXQ5CC4VVQGAHYRUCAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNFQPRZW5EYWQVFAFF5T32SNZLMZ63N4MAJKHA3TFPGIAH43RXKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWUXYDGIZWP2NYRC7EEIKP6YLNQ662JT3MFKGLU7WR3URLZ2Q73A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIF5TG6PIISAQF7J6ETJSLGJVZ3NX4L7IWOOCE2ZPQZXBCNMKLWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7DPSOQMSHXMDM7ZY7AKRNBHXMOVT7R7VKFADDHJN2LVYJWVVQ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCUJVSGK3Q3B3BG2EEJ2B6KDXMNB3GUWD7PSAHCIJ7JGPGRI5LNQ/vendors.js"
            ]
        },
        "GetInstancePricingInformation": {
            "input": {
                "type": "structure",
                "members": {
                    "awsAccountId": {},
                    "instanceArns": {
                        "type": "list",
                        "member": {}
                    },
                    "encryptedFas": {
                        "shape": "Ss"
                    },
                    "autoScalingGroupArns": {
                        "type": "list",
                        "member": {}
                    },
                    "includeCostInformation": {
                        "type": "boolean"
                    },
                    "includeMemoryMetricInformation": {
                        "type": "boolean"
                    },
                    "recommendationPreferences": {
                        "type": "structure",
                        "members": {
                            "cpuVendorArchitectures": {
                                "type": "list",
                                "member": {}
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "instancePricingInformation": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "currentInstanceInformation": {
                                    "type": "structure",
                                    "members": {
                                        "resourceArn": {},
                                        "instanceInformation": {
                                            "shape": "S1g"
                                        },
                                        "memoryMetricName": {},
                                        "memoryMetricNamespace": {},
                                        "memoryMetricDimensions": {
                                            "type": "list",
                                            "member": {
                                                "shape": "S23"
                                            }
                                        }
                                    }
                                },
                                "recommendedInstanceInformations": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "rank": {
                                                "type": "integer"
                                            },
                                            "instanceInformation": {
                                                "shape": "S1g"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVHDPLQMF64K2QJTTJLGU56CACH6Y56OGDIPOCT6ZAGG7DVZRREQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QC7DBE5LYQU65JGSYG765M4GCM7QB3CSEASFP7EFGAKSJWUQGKSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AXUHILNK45VAOVD6A36R4Q4LBZDBIVCNQBHYRIILERWF25LP3HZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6V2WS2VYTHLZK3VTH2E2SJ7ZZ5YYL4WUAKTJ7N23G6PGCEUNPXNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXIIBW3YWYAXXL44LNLTWRJUHYN2ECTMOKGPS43QREIH4E35IMQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4CPBY5AFCUPQE2V34NIVTD2DV4TTQUVC6FM2V5NROMWSVNM65UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XAKRFNKJ5QAWO6JIDPDC2T6BIJBZIJ4UBW7NLBTQS3CJVBK7MH5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJQW66NGU3AC5APURF2ATCWZPZ3ADQZIHVZIHLO5VFBMEEESDU4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBZXL3NQCA6B5F7ZCNN5TYG6LMVKIEMF7QWMN2RX4HS6CIRFUFVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJWYBAWULY5UD2R673JMPDAV7UGQWQZ7NDTPRNEJ42K2I4QMHKDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ESEVAB3U5576TQMIL5MP3XXU42HUL3SV2LKGUKG4FU5A5IV5E5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XTMHRRU7CY5WJ3RHGYXILL736VZGB3T7LVS5B4P5MEXIM3WQYERA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWMJMVKYRNF7GDK5JKXEQMI5NTULAWUUX6GRW3I5QIY2BI3C25DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PO4JZEQTU5DZK7V7CSBB7J24MYL424NNHZBCHKAWSYLP5GWEIFHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTZLQ2F6FAKH27PQGSQR3TJO4EXPNN7AJARBXDL326WESLPRBNHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IHXEFFB6FR5CULCHGFC75DRBBMJJYWS5JYWLTDBZZ63HTGPZOWUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJHJGXJR6P2YTPL463IZKHLXI4LU5UFQUKYL7DJ6RSGOPEZN6MKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRUDZCEUMH3Y6BTCNKM6E6WYZYUDOBKTZ7BLQHQMZIAVM2IPDHLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TRNZWS36GUPGQ4QK5LP2VY7CJNYBUYLVEYXQ5CC4VVQGAHYRUCAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNFQPRZW5EYWQVFAFF5T32SNZLMZ63N4MAJKHA3TFPGIAH43RXKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWUXYDGIZWP2NYRC7EEIKP6YLNQ662JT3MFKGLU7WR3URLZ2Q73A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIF5TG6PIISAQF7J6ETJSLGJVZ3NX4L7IWOOCE2ZPQZXBCNMKLWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7DPSOQMSHXMDM7ZY7AKRNBHXMOVT7R7VKFADDHJN2LVYJWVVQ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCUJVSGK3Q3B3BG2EEJ2B6KDXMNB3GUWD7PSAHCIJ7JGPGRI5LNQ/vendors.js"
            ]
        },
        "GetInstanceRecommendationsInternal": {
            "input": {
                "type": "structure",
                "required": [
                    "awsAccountId"
                ],
                "members": {
                    "awsAccountId": {},
                    "instanceIds": {
                        "type": "list",
                        "member": {}
                    },
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "instanceRecommendations": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "instance": {
                                    "type": "structure",
                                    "members": {
                                        "instanceId": {},
                                        "monthlyOnDemandCost": {
                                            "shape": "S2h"
                                        },
                                        "instanceType": {},
                                        "awsAccountId": {},
                                        "region": {},
                                        "availabilityZone": {},
                                        "operatingSystem": {},
                                        "utilization": {
                                            "shape": "S2m"
                                        }
                                    }
                                },
                                "reasonCode": {},
                                "recommendations": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "instanceType": {},
                                            "estimatedMonthlyCostChange": {
                                                "shape": "S2h"
                                            },
                                            "projectedUtilization": {
                                                "shape": "S2m"
                                            }
                                        }
                                    }
                                },
                                "recommendationUnavailableReason": {
                                    "type": "structure",
                                    "members": {
                                        "message": {},
                                        "code": {}
                                    }
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVHDPLQMF64K2QJTTJLGU56CACH6Y56OGDIPOCT6ZAGG7DVZRREQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QC7DBE5LYQU65JGSYG765M4GCM7QB3CSEASFP7EFGAKSJWUQGKSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AXUHILNK45VAOVD6A36R4Q4LBZDBIVCNQBHYRIILERWF25LP3HZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6V2WS2VYTHLZK3VTH2E2SJ7ZZ5YYL4WUAKTJ7N23G6PGCEUNPXNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXIIBW3YWYAXXL44LNLTWRJUHYN2ECTMOKGPS43QREIH4E35IMQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4CPBY5AFCUPQE2V34NIVTD2DV4TTQUVC6FM2V5NROMWSVNM65UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XAKRFNKJ5QAWO6JIDPDC2T6BIJBZIJ4UBW7NLBTQS3CJVBK7MH5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJQW66NGU3AC5APURF2ATCWZPZ3ADQZIHVZIHLO5VFBMEEESDU4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBZXL3NQCA6B5F7ZCNN5TYG6LMVKIEMF7QWMN2RX4HS6CIRFUFVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJWYBAWULY5UD2R673JMPDAV7UGQWQZ7NDTPRNEJ42K2I4QMHKDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ESEVAB3U5576TQMIL5MP3XXU42HUL3SV2LKGUKG4FU5A5IV5E5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XTMHRRU7CY5WJ3RHGYXILL736VZGB3T7LVS5B4P5MEXIM3WQYERA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWMJMVKYRNF7GDK5JKXEQMI5NTULAWUUX6GRW3I5QIY2BI3C25DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PO4JZEQTU5DZK7V7CSBB7J24MYL424NNHZBCHKAWSYLP5GWEIFHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTZLQ2F6FAKH27PQGSQR3TJO4EXPNN7AJARBXDL326WESLPRBNHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IHXEFFB6FR5CULCHGFC75DRBBMJJYWS5JYWLTDBZZ63HTGPZOWUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJHJGXJR6P2YTPL463IZKHLXI4LU5UFQUKYL7DJ6RSGOPEZN6MKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRUDZCEUMH3Y6BTCNKM6E6WYZYUDOBKTZ7BLQHQMZIAVM2IPDHLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TRNZWS36GUPGQ4QK5LP2VY7CJNYBUYLVEYXQ5CC4VVQGAHYRUCAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNFQPRZW5EYWQVFAFF5T32SNZLMZ63N4MAJKHA3TFPGIAH43RXKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWUXYDGIZWP2NYRC7EEIKP6YLNQ662JT3MFKGLU7WR3URLZ2Q73A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIF5TG6PIISAQF7J6ETJSLGJVZ3NX4L7IWOOCE2ZPQZXBCNMKLWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7DPSOQMSHXMDM7ZY7AKRNBHXMOVT7R7VKFADDHJN2LVYJWVVQ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCUJVSGK3Q3B3BG2EEJ2B6KDXMNB3GUWD7PSAHCIJ7JGPGRI5LNQ/vendors.js"
            ]
        },
        "GetLambdaFunctionPricingInformation": {
            "input": {
                "type": "structure",
                "members": {
                    "functionArns": {
                        "type": "list",
                        "member": {}
                    },
                    "accountId": {},
                    "encryptedFas": {
                        "shape": "Ss"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "lambdaPricingInformation": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "functionArn": {},
                                "timeout": {
                                    "type": "integer"
                                },
                                "currentPricingInformation": {
                                    "type": "structure",
                                    "members": {
                                        "averagePrice": {
                                            "type": "double"
                                        },
                                        "totalPrice": {
                                            "type": "double"
                                        }
                                    }
                                },
                                "memoryRecommendationOptionsPricingInformation": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "rank": {
                                                "type": "integer"
                                            },
                                            "memorySize": {
                                                "type": "integer"
                                            },
                                            "lowerBoundPrice": {
                                                "type": "double"
                                            },
                                            "upperBoundPrice": {
                                                "type": "double"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVHDPLQMF64K2QJTTJLGU56CACH6Y56OGDIPOCT6ZAGG7DVZRREQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QC7DBE5LYQU65JGSYG765M4GCM7QB3CSEASFP7EFGAKSJWUQGKSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AXUHILNK45VAOVD6A36R4Q4LBZDBIVCNQBHYRIILERWF25LP3HZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6V2WS2VYTHLZK3VTH2E2SJ7ZZ5YYL4WUAKTJ7N23G6PGCEUNPXNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXIIBW3YWYAXXL44LNLTWRJUHYN2ECTMOKGPS43QREIH4E35IMQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4CPBY5AFCUPQE2V34NIVTD2DV4TTQUVC6FM2V5NROMWSVNM65UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XAKRFNKJ5QAWO6JIDPDC2T6BIJBZIJ4UBW7NLBTQS3CJVBK7MH5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJQW66NGU3AC5APURF2ATCWZPZ3ADQZIHVZIHLO5VFBMEEESDU4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBZXL3NQCA6B5F7ZCNN5TYG6LMVKIEMF7QWMN2RX4HS6CIRFUFVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJWYBAWULY5UD2R673JMPDAV7UGQWQZ7NDTPRNEJ42K2I4QMHKDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ESEVAB3U5576TQMIL5MP3XXU42HUL3SV2LKGUKG4FU5A5IV5E5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XTMHRRU7CY5WJ3RHGYXILL736VZGB3T7LVS5B4P5MEXIM3WQYERA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWMJMVKYRNF7GDK5JKXEQMI5NTULAWUUX6GRW3I5QIY2BI3C25DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PO4JZEQTU5DZK7V7CSBB7J24MYL424NNHZBCHKAWSYLP5GWEIFHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTZLQ2F6FAKH27PQGSQR3TJO4EXPNN7AJARBXDL326WESLPRBNHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IHXEFFB6FR5CULCHGFC75DRBBMJJYWS5JYWLTDBZZ63HTGPZOWUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJHJGXJR6P2YTPL463IZKHLXI4LU5UFQUKYL7DJ6RSGOPEZN6MKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRUDZCEUMH3Y6BTCNKM6E6WYZYUDOBKTZ7BLQHQMZIAVM2IPDHLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TRNZWS36GUPGQ4QK5LP2VY7CJNYBUYLVEYXQ5CC4VVQGAHYRUCAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNFQPRZW5EYWQVFAFF5T32SNZLMZ63N4MAJKHA3TFPGIAH43RXKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWUXYDGIZWP2NYRC7EEIKP6YLNQ662JT3MFKGLU7WR3URLZ2Q73A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIF5TG6PIISAQF7J6ETJSLGJVZ3NX4L7IWOOCE2ZPQZXBCNMKLWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7DPSOQMSHXMDM7ZY7AKRNBHXMOVT7R7VKFADDHJN2LVYJWVVQ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCUJVSGK3Q3B3BG2EEJ2B6KDXMNB3GUWD7PSAHCIJ7JGPGRI5LNQ/vendors.js"
            ]
        },
        "GetOrganizationMemberData": {
            "input": {
                "type": "structure",
                "required": [
                    "MemberAccountId"
                ],
                "members": {
                    "MemberAccountId": {},
                    "ResourceArns": {
                        "type": "list",
                        "member": {}
                    },
                    "GetMetricDataParameters": {
                        "type": "structure",
                        "members": {
                            "MetricDataQueries": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "members": {
                                        "Id": {},
                                        "MetricStat": {
                                            "type": "structure",
                                            "members": {
                                                "Metric": {
                                                    "type": "structure",
                                                    "members": {
                                                        "Namespace": {},
                                                        "MetricName": {},
                                                        "Dimensions": {
                                                            "type": "list",
                                                            "member": {
                                                                "shape": "S23"
                                                            }
                                                        }
                                                    }
                                                },
                                                "Period": {
                                                    "type": "integer"
                                                },
                                                "Stat": {}
                                            }
                                        },
                                        "Expression": {},
                                        "Label": {},
                                        "ReturnData": {
                                            "type": "boolean"
                                        }
                                    }
                                }
                            },
                            "StartTime": {
                                "type": "timestamp"
                            },
                            "EndTime": {
                                "type": "timestamp"
                            },
                            "ScanBy": {}
                        }
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {},
                    "RequesterAccountId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "GetMetricDataResult": {
                        "type": "structure",
                        "members": {
                            "MetricDataResults": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "members": {
                                        "Id": {},
                                        "Label": {},
                                        "Timestamps": {
                                            "shape": "Sc"
                                        },
                                        "Values": {
                                            "shape": "Sd"
                                        }
                                    }
                                }
                            },
                            "Messages": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "members": {
                                        "Code": {},
                                        "Value": {}
                                    }
                                }
                            }
                        }
                    },
                    "DescribeVolumesResult": {
                        "type": "structure",
                        "members": {
                            "Volumes": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "members": {
                                        "VolumeId": {},
                                        "Size": {
                                            "type": "integer"
                                        },
                                        "SnapshotId": {},
                                        "AvailabilityZone": {},
                                        "State": {},
                                        "CreateTime": {
                                            "type": "timestamp"
                                        },
                                        "Attachments": {
                                            "type": "list",
                                            "member": {
                                                "type": "structure",
                                                "members": {
                                                    "VolumeId": {},
                                                    "InstanceId": {},
                                                    "Device": {},
                                                    "State": {},
                                                    "AttachTime": {
                                                        "type": "timestamp"
                                                    },
                                                    "DeleteOnTermination": {
                                                        "type": "boolean"
                                                    }
                                                }
                                            }
                                        },
                                        "Tags": {
                                            "type": "list",
                                            "member": {
                                                "type": "structure",
                                                "members": {
                                                    "Key": {},
                                                    "Value": {}
                                                }
                                            }
                                        },
                                        "VolumeType": {},
                                        "Iops": {
                                            "type": "integer"
                                        },
                                        "Encrypted": {
                                            "type": "boolean"
                                        },
                                        "KmsKeyId": {}
                                    }
                                }
                            }
                        }
                    },
                    "DescribeInstancesResult": {
                        "type": "structure",
                        "members": {
                            "InstanceDetailsList": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "members": {
                                        "InstanceId": {},
                                        "AttachedEbsVolumes": {
                                            "type": "list",
                                            "member": {}
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVHDPLQMF64K2QJTTJLGU56CACH6Y56OGDIPOCT6ZAGG7DVZRREQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QC7DBE5LYQU65JGSYG765M4GCM7QB3CSEASFP7EFGAKSJWUQGKSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AXUHILNK45VAOVD6A36R4Q4LBZDBIVCNQBHYRIILERWF25LP3HZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6V2WS2VYTHLZK3VTH2E2SJ7ZZ5YYL4WUAKTJ7N23G6PGCEUNPXNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXIIBW3YWYAXXL44LNLTWRJUHYN2ECTMOKGPS43QREIH4E35IMQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4CPBY5AFCUPQE2V34NIVTD2DV4TTQUVC6FM2V5NROMWSVNM65UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XAKRFNKJ5QAWO6JIDPDC2T6BIJBZIJ4UBW7NLBTQS3CJVBK7MH5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJQW66NGU3AC5APURF2ATCWZPZ3ADQZIHVZIHLO5VFBMEEESDU4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBZXL3NQCA6B5F7ZCNN5TYG6LMVKIEMF7QWMN2RX4HS6CIRFUFVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJWYBAWULY5UD2R673JMPDAV7UGQWQZ7NDTPRNEJ42K2I4QMHKDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ESEVAB3U5576TQMIL5MP3XXU42HUL3SV2LKGUKG4FU5A5IV5E5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XTMHRRU7CY5WJ3RHGYXILL736VZGB3T7LVS5B4P5MEXIM3WQYERA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWMJMVKYRNF7GDK5JKXEQMI5NTULAWUUX6GRW3I5QIY2BI3C25DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PO4JZEQTU5DZK7V7CSBB7J24MYL424NNHZBCHKAWSYLP5GWEIFHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTZLQ2F6FAKH27PQGSQR3TJO4EXPNN7AJARBXDL326WESLPRBNHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IHXEFFB6FR5CULCHGFC75DRBBMJJYWS5JYWLTDBZZ63HTGPZOWUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJHJGXJR6P2YTPL463IZKHLXI4LU5UFQUKYL7DJ6RSGOPEZN6MKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRUDZCEUMH3Y6BTCNKM6E6WYZYUDOBKTZ7BLQHQMZIAVM2IPDHLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TRNZWS36GUPGQ4QK5LP2VY7CJNYBUYLVEYXQ5CC4VVQGAHYRUCAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNFQPRZW5EYWQVFAFF5T32SNZLMZ63N4MAJKHA3TFPGIAH43RXKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWUXYDGIZWP2NYRC7EEIKP6YLNQ662JT3MFKGLU7WR3URLZ2Q73A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIF5TG6PIISAQF7J6ETJSLGJVZ3NX4L7IWOOCE2ZPQZXBCNMKLWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7DPSOQMSHXMDM7ZY7AKRNBHXMOVT7R7VKFADDHJN2LVYJWVVQ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCUJVSGK3Q3B3BG2EEJ2B6KDXMNB3GUWD7PSAHCIJ7JGPGRI5LNQ/vendors.js"
            ]
        },
        "GetRDSInstancePricingInformation": {
            "input": {
                "type": "structure",
                "required": [
                    "dbInstanceArns"
                ],
                "members": {
                    "dbInstanceArns": {
                        "type": "list",
                        "member": {}
                    },
                    "accountId": {},
                    "recommendationPreferences": {
                        "shape": "S18"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "rdsInstancePricingInformationList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "currentRDSInstanceInformation": {
                                    "type": "structure",
                                    "members": {
                                        "dbInstanceArn": {},
                                        "rdsPrices": {
                                            "shape": "S4d"
                                        }
                                    }
                                },
                                "recommendedRDSInstanceInformationList": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "rank": {
                                                "type": "integer"
                                            },
                                            "rdsPrices": {
                                                "shape": "S4d"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVHDPLQMF64K2QJTTJLGU56CACH6Y56OGDIPOCT6ZAGG7DVZRREQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QC7DBE5LYQU65JGSYG765M4GCM7QB3CSEASFP7EFGAKSJWUQGKSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AXUHILNK45VAOVD6A36R4Q4LBZDBIVCNQBHYRIILERWF25LP3HZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6V2WS2VYTHLZK3VTH2E2SJ7ZZ5YYL4WUAKTJ7N23G6PGCEUNPXNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXIIBW3YWYAXXL44LNLTWRJUHYN2ECTMOKGPS43QREIH4E35IMQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4CPBY5AFCUPQE2V34NIVTD2DV4TTQUVC6FM2V5NROMWSVNM65UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XAKRFNKJ5QAWO6JIDPDC2T6BIJBZIJ4UBW7NLBTQS3CJVBK7MH5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJQW66NGU3AC5APURF2ATCWZPZ3ADQZIHVZIHLO5VFBMEEESDU4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBZXL3NQCA6B5F7ZCNN5TYG6LMVKIEMF7QWMN2RX4HS6CIRFUFVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJWYBAWULY5UD2R673JMPDAV7UGQWQZ7NDTPRNEJ42K2I4QMHKDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ESEVAB3U5576TQMIL5MP3XXU42HUL3SV2LKGUKG4FU5A5IV5E5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XTMHRRU7CY5WJ3RHGYXILL736VZGB3T7LVS5B4P5MEXIM3WQYERA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWMJMVKYRNF7GDK5JKXEQMI5NTULAWUUX6GRW3I5QIY2BI3C25DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PO4JZEQTU5DZK7V7CSBB7J24MYL424NNHZBCHKAWSYLP5GWEIFHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTZLQ2F6FAKH27PQGSQR3TJO4EXPNN7AJARBXDL326WESLPRBNHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IHXEFFB6FR5CULCHGFC75DRBBMJJYWS5JYWLTDBZZ63HTGPZOWUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJHJGXJR6P2YTPL463IZKHLXI4LU5UFQUKYL7DJ6RSGOPEZN6MKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRUDZCEUMH3Y6BTCNKM6E6WYZYUDOBKTZ7BLQHQMZIAVM2IPDHLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TRNZWS36GUPGQ4QK5LP2VY7CJNYBUYLVEYXQ5CC4VVQGAHYRUCAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNFQPRZW5EYWQVFAFF5T32SNZLMZ63N4MAJKHA3TFPGIAH43RXKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWUXYDGIZWP2NYRC7EEIKP6YLNQ662JT3MFKGLU7WR3URLZ2Q73A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIF5TG6PIISAQF7J6ETJSLGJVZ3NX4L7IWOOCE2ZPQZXBCNMKLWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7DPSOQMSHXMDM7ZY7AKRNBHXMOVT7R7VKFADDHJN2LVYJWVVQ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCUJVSGK3Q3B3BG2EEJ2B6KDXMNB3GUWD7PSAHCIJ7JGPGRI5LNQ/vendors.js"
            ]
        },
        "GetWorkloadTopicArnInternal": {
            "input": {
                "type": "structure",
                "members": {
                    "awsAccountId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "topicArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVHDPLQMF64K2QJTTJLGU56CACH6Y56OGDIPOCT6ZAGG7DVZRREQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QC7DBE5LYQU65JGSYG765M4GCM7QB3CSEASFP7EFGAKSJWUQGKSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AXUHILNK45VAOVD6A36R4Q4LBZDBIVCNQBHYRIILERWF25LP3HZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6V2WS2VYTHLZK3VTH2E2SJ7ZZ5YYL4WUAKTJ7N23G6PGCEUNPXNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXIIBW3YWYAXXL44LNLTWRJUHYN2ECTMOKGPS43QREIH4E35IMQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4CPBY5AFCUPQE2V34NIVTD2DV4TTQUVC6FM2V5NROMWSVNM65UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XAKRFNKJ5QAWO6JIDPDC2T6BIJBZIJ4UBW7NLBTQS3CJVBK7MH5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJQW66NGU3AC5APURF2ATCWZPZ3ADQZIHVZIHLO5VFBMEEESDU4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBZXL3NQCA6B5F7ZCNN5TYG6LMVKIEMF7QWMN2RX4HS6CIRFUFVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJWYBAWULY5UD2R673JMPDAV7UGQWQZ7NDTPRNEJ42K2I4QMHKDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ESEVAB3U5576TQMIL5MP3XXU42HUL3SV2LKGUKG4FU5A5IV5E5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XTMHRRU7CY5WJ3RHGYXILL736VZGB3T7LVS5B4P5MEXIM3WQYERA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWMJMVKYRNF7GDK5JKXEQMI5NTULAWUUX6GRW3I5QIY2BI3C25DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PO4JZEQTU5DZK7V7CSBB7J24MYL424NNHZBCHKAWSYLP5GWEIFHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTZLQ2F6FAKH27PQGSQR3TJO4EXPNN7AJARBXDL326WESLPRBNHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IHXEFFB6FR5CULCHGFC75DRBBMJJYWS5JYWLTDBZZ63HTGPZOWUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJHJGXJR6P2YTPL463IZKHLXI4LU5UFQUKYL7DJ6RSGOPEZN6MKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRUDZCEUMH3Y6BTCNKM6E6WYZYUDOBKTZ7BLQHQMZIAVM2IPDHLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TRNZWS36GUPGQ4QK5LP2VY7CJNYBUYLVEYXQ5CC4VVQGAHYRUCAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNFQPRZW5EYWQVFAFF5T32SNZLMZ63N4MAJKHA3TFPGIAH43RXKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWUXYDGIZWP2NYRC7EEIKP6YLNQ662JT3MFKGLU7WR3URLZ2Q73A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIF5TG6PIISAQF7J6ETJSLGJVZ3NX4L7IWOOCE2ZPQZXBCNMKLWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7DPSOQMSHXMDM7ZY7AKRNBHXMOVT7R7VKFADDHJN2LVYJWVVQ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCUJVSGK3Q3B3BG2EEJ2B6KDXMNB3GUWD7PSAHCIJ7JGPGRI5LNQ/vendors.js"
            ]
        },
        "LockServiceLinkedRole": {
            "input": {
                "type": "structure",
                "required": [
                    "RoleArn",
                    "Timeout"
                ],
                "members": {
                    "RoleArn": {},
                    "Timeout": {
                        "type": "long"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "CanBeDeleted"
                ],
                "members": {
                    "CanBeDeleted": {
                        "type": "boolean"
                    },
                    "ReasonOfFailure": {},
                    "RelatedResources": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVHDPLQMF64K2QJTTJLGU56CACH6Y56OGDIPOCT6ZAGG7DVZRREQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QC7DBE5LYQU65JGSYG765M4GCM7QB3CSEASFP7EFGAKSJWUQGKSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AXUHILNK45VAOVD6A36R4Q4LBZDBIVCNQBHYRIILERWF25LP3HZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6V2WS2VYTHLZK3VTH2E2SJ7ZZ5YYL4WUAKTJ7N23G6PGCEUNPXNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXIIBW3YWYAXXL44LNLTWRJUHYN2ECTMOKGPS43QREIH4E35IMQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4CPBY5AFCUPQE2V34NIVTD2DV4TTQUVC6FM2V5NROMWSVNM65UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XAKRFNKJ5QAWO6JIDPDC2T6BIJBZIJ4UBW7NLBTQS3CJVBK7MH5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJQW66NGU3AC5APURF2ATCWZPZ3ADQZIHVZIHLO5VFBMEEESDU4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBZXL3NQCA6B5F7ZCNN5TYG6LMVKIEMF7QWMN2RX4HS6CIRFUFVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJWYBAWULY5UD2R673JMPDAV7UGQWQZ7NDTPRNEJ42K2I4QMHKDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ESEVAB3U5576TQMIL5MP3XXU42HUL3SV2LKGUKG4FU5A5IV5E5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XTMHRRU7CY5WJ3RHGYXILL736VZGB3T7LVS5B4P5MEXIM3WQYERA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWMJMVKYRNF7GDK5JKXEQMI5NTULAWUUX6GRW3I5QIY2BI3C25DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PO4JZEQTU5DZK7V7CSBB7J24MYL424NNHZBCHKAWSYLP5GWEIFHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTZLQ2F6FAKH27PQGSQR3TJO4EXPNN7AJARBXDL326WESLPRBNHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IHXEFFB6FR5CULCHGFC75DRBBMJJYWS5JYWLTDBZZ63HTGPZOWUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJHJGXJR6P2YTPL463IZKHLXI4LU5UFQUKYL7DJ6RSGOPEZN6MKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRUDZCEUMH3Y6BTCNKM6E6WYZYUDOBKTZ7BLQHQMZIAVM2IPDHLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TRNZWS36GUPGQ4QK5LP2VY7CJNYBUYLVEYXQ5CC4VVQGAHYRUCAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNFQPRZW5EYWQVFAFF5T32SNZLMZ63N4MAJKHA3TFPGIAH43RXKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWUXYDGIZWP2NYRC7EEIKP6YLNQ662JT3MFKGLU7WR3URLZ2Q73A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIF5TG6PIISAQF7J6ETJSLGJVZ3NX4L7IWOOCE2ZPQZXBCNMKLWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7DPSOQMSHXMDM7ZY7AKRNBHXMOVT7R7VKFADDHJN2LVYJWVVQ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCUJVSGK3Q3B3BG2EEJ2B6KDXMNB3GUWD7PSAHCIJ7JGPGRI5LNQ/vendors.js"
            ]
        },
        "RegisterForRecommendations": {
            "input": {
                "type": "structure",
                "required": [
                    "awsAccountId",
                    "actor",
                    "serviceLevels"
                ],
                "members": {
                    "awsAccountId": {},
                    "actor": {},
                    "serviceLevels": {
                        "shape": "S4u"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "awsAccountId": {},
                    "actor": {},
                    "serviceLevels": {
                        "shape": "S4u"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVHDPLQMF64K2QJTTJLGU56CACH6Y56OGDIPOCT6ZAGG7DVZRREQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QC7DBE5LYQU65JGSYG765M4GCM7QB3CSEASFP7EFGAKSJWUQGKSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AXUHILNK45VAOVD6A36R4Q4LBZDBIVCNQBHYRIILERWF25LP3HZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6V2WS2VYTHLZK3VTH2E2SJ7ZZ5YYL4WUAKTJ7N23G6PGCEUNPXNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXIIBW3YWYAXXL44LNLTWRJUHYN2ECTMOKGPS43QREIH4E35IMQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4CPBY5AFCUPQE2V34NIVTD2DV4TTQUVC6FM2V5NROMWSVNM65UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XAKRFNKJ5QAWO6JIDPDC2T6BIJBZIJ4UBW7NLBTQS3CJVBK7MH5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJQW66NGU3AC5APURF2ATCWZPZ3ADQZIHVZIHLO5VFBMEEESDU4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBZXL3NQCA6B5F7ZCNN5TYG6LMVKIEMF7QWMN2RX4HS6CIRFUFVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJWYBAWULY5UD2R673JMPDAV7UGQWQZ7NDTPRNEJ42K2I4QMHKDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ESEVAB3U5576TQMIL5MP3XXU42HUL3SV2LKGUKG4FU5A5IV5E5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XTMHRRU7CY5WJ3RHGYXILL736VZGB3T7LVS5B4P5MEXIM3WQYERA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWMJMVKYRNF7GDK5JKXEQMI5NTULAWUUX6GRW3I5QIY2BI3C25DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PO4JZEQTU5DZK7V7CSBB7J24MYL424NNHZBCHKAWSYLP5GWEIFHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTZLQ2F6FAKH27PQGSQR3TJO4EXPNN7AJARBXDL326WESLPRBNHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IHXEFFB6FR5CULCHGFC75DRBBMJJYWS5JYWLTDBZZ63HTGPZOWUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJHJGXJR6P2YTPL463IZKHLXI4LU5UFQUKYL7DJ6RSGOPEZN6MKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRUDZCEUMH3Y6BTCNKM6E6WYZYUDOBKTZ7BLQHQMZIAVM2IPDHLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TRNZWS36GUPGQ4QK5LP2VY7CJNYBUYLVEYXQ5CC4VVQGAHYRUCAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNFQPRZW5EYWQVFAFF5T32SNZLMZ63N4MAJKHA3TFPGIAH43RXKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWUXYDGIZWP2NYRC7EEIKP6YLNQ662JT3MFKGLU7WR3URLZ2Q73A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIF5TG6PIISAQF7J6ETJSLGJVZ3NX4L7IWOOCE2ZPQZXBCNMKLWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7DPSOQMSHXMDM7ZY7AKRNBHXMOVT7R7VKFADDHJN2LVYJWVVQ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCUJVSGK3Q3B3BG2EEJ2B6KDXMNB3GUWD7PSAHCIJ7JGPGRI5LNQ/vendors.js"
            ]
        },
        "UnlockServiceLinkedRole": {
            "input": {
                "type": "structure",
                "required": [
                    "RoleArn"
                ],
                "members": {
                    "RoleArn": {},
                    "DeletionStatus": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVHDPLQMF64K2QJTTJLGU56CACH6Y56OGDIPOCT6ZAGG7DVZRREQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QC7DBE5LYQU65JGSYG765M4GCM7QB3CSEASFP7EFGAKSJWUQGKSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AXUHILNK45VAOVD6A36R4Q4LBZDBIVCNQBHYRIILERWF25LP3HZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6V2WS2VYTHLZK3VTH2E2SJ7ZZ5YYL4WUAKTJ7N23G6PGCEUNPXNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXIIBW3YWYAXXL44LNLTWRJUHYN2ECTMOKGPS43QREIH4E35IMQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4CPBY5AFCUPQE2V34NIVTD2DV4TTQUVC6FM2V5NROMWSVNM65UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XAKRFNKJ5QAWO6JIDPDC2T6BIJBZIJ4UBW7NLBTQS3CJVBK7MH5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJQW66NGU3AC5APURF2ATCWZPZ3ADQZIHVZIHLO5VFBMEEESDU4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBZXL3NQCA6B5F7ZCNN5TYG6LMVKIEMF7QWMN2RX4HS6CIRFUFVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJWYBAWULY5UD2R673JMPDAV7UGQWQZ7NDTPRNEJ42K2I4QMHKDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ESEVAB3U5576TQMIL5MP3XXU42HUL3SV2LKGUKG4FU5A5IV5E5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XTMHRRU7CY5WJ3RHGYXILL736VZGB3T7LVS5B4P5MEXIM3WQYERA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWMJMVKYRNF7GDK5JKXEQMI5NTULAWUUX6GRW3I5QIY2BI3C25DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PO4JZEQTU5DZK7V7CSBB7J24MYL424NNHZBCHKAWSYLP5GWEIFHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTZLQ2F6FAKH27PQGSQR3TJO4EXPNN7AJARBXDL326WESLPRBNHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IHXEFFB6FR5CULCHGFC75DRBBMJJYWS5JYWLTDBZZ63HTGPZOWUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJHJGXJR6P2YTPL463IZKHLXI4LU5UFQUKYL7DJ6RSGOPEZN6MKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRUDZCEUMH3Y6BTCNKM6E6WYZYUDOBKTZ7BLQHQMZIAVM2IPDHLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TRNZWS36GUPGQ4QK5LP2VY7CJNYBUYLVEYXQ5CC4VVQGAHYRUCAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNFQPRZW5EYWQVFAFF5T32SNZLMZ63N4MAJKHA3TFPGIAH43RXKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWUXYDGIZWP2NYRC7EEIKP6YLNQ662JT3MFKGLU7WR3URLZ2Q73A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIF5TG6PIISAQF7J6ETJSLGJVZ3NX4L7IWOOCE2ZPQZXBCNMKLWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7DPSOQMSHXMDM7ZY7AKRNBHXMOVT7R7VKFADDHJN2LVYJWVVQ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCUJVSGK3Q3B3BG2EEJ2B6KDXMNB3GUWD7PSAHCIJ7JGPGRI5LNQ/vendors.js"
            ]
        },
        "UpdateRecommendationStatus": {
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "recommendationStatus"
                ],
                "members": {
                    "resourceArn": {},
                    "recommendationStatus": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "requestId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVHDPLQMF64K2QJTTJLGU56CACH6Y56OGDIPOCT6ZAGG7DVZRREQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QC7DBE5LYQU65JGSYG765M4GCM7QB3CSEASFP7EFGAKSJWUQGKSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AXUHILNK45VAOVD6A36R4Q4LBZDBIVCNQBHYRIILERWF25LP3HZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6V2WS2VYTHLZK3VTH2E2SJ7ZZ5YYL4WUAKTJ7N23G6PGCEUNPXNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXIIBW3YWYAXXL44LNLTWRJUHYN2ECTMOKGPS43QREIH4E35IMQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4CPBY5AFCUPQE2V34NIVTD2DV4TTQUVC6FM2V5NROMWSVNM65UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XAKRFNKJ5QAWO6JIDPDC2T6BIJBZIJ4UBW7NLBTQS3CJVBK7MH5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJQW66NGU3AC5APURF2ATCWZPZ3ADQZIHVZIHLO5VFBMEEESDU4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBZXL3NQCA6B5F7ZCNN5TYG6LMVKIEMF7QWMN2RX4HS6CIRFUFVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJWYBAWULY5UD2R673JMPDAV7UGQWQZ7NDTPRNEJ42K2I4QMHKDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ESEVAB3U5576TQMIL5MP3XXU42HUL3SV2LKGUKG4FU5A5IV5E5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XTMHRRU7CY5WJ3RHGYXILL736VZGB3T7LVS5B4P5MEXIM3WQYERA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWMJMVKYRNF7GDK5JKXEQMI5NTULAWUUX6GRW3I5QIY2BI3C25DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PO4JZEQTU5DZK7V7CSBB7J24MYL424NNHZBCHKAWSYLP5GWEIFHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTZLQ2F6FAKH27PQGSQR3TJO4EXPNN7AJARBXDL326WESLPRBNHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IHXEFFB6FR5CULCHGFC75DRBBMJJYWS5JYWLTDBZZ63HTGPZOWUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJHJGXJR6P2YTPL463IZKHLXI4LU5UFQUKYL7DJ6RSGOPEZN6MKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRUDZCEUMH3Y6BTCNKM6E6WYZYUDOBKTZ7BLQHQMZIAVM2IPDHLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TRNZWS36GUPGQ4QK5LP2VY7CJNYBUYLVEYXQ5CC4VVQGAHYRUCAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNFQPRZW5EYWQVFAFF5T32SNZLMZ63N4MAJKHA3TFPGIAH43RXKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWUXYDGIZWP2NYRC7EEIKP6YLNQ662JT3MFKGLU7WR3URLZ2Q73A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIF5TG6PIISAQF7J6ETJSLGJVZ3NX4L7IWOOCE2ZPQZXBCNMKLWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7DPSOQMSHXMDM7ZY7AKRNBHXMOVT7R7VKFADDHJN2LVYJWVVQ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCUJVSGK3Q3B3BG2EEJ2B6KDXMNB3GUWD7PSAHCIJ7JGPGRI5LNQ/vendors.js"
            ]
        },
        "GetLicensePricingInformation": {
            "input": {
                "type": "structure",
                "members": {
                    "resourceArns": {
                        "type": "list",
                        "member": {}
                    },
                    "licenseName": {},
                    "accountId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "licensePricingInformation": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "currentLicenseInformation": {
                                    "type": "structure",
                                    "members": {
                                        "resourceArn": {},
                                        "licensePrice": {
                                            "type": "double"
                                        },
                                        "licenseName": {},
                                        "instancePrice": {
                                            "type": "double"
                                        }
                                    }
                                },
                                "recommendedLicenseInformationList": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "rank": {
                                                "type": "integer"
                                            },
                                            "licenseModel": {},
                                            "licensePrice": {
                                                "type": "double"
                                            },
                                            "instancePrice": {
                                                "type": "double"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4CPBY5AFCUPQE2V34NIVTD2DV4TTQUVC6FM2V5NROMWSVNM65UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XAKRFNKJ5QAWO6JIDPDC2T6BIJBZIJ4UBW7NLBTQS3CJVBK7MH5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJQW66NGU3AC5APURF2ATCWZPZ3ADQZIHVZIHLO5VFBMEEESDU4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBZXL3NQCA6B5F7ZCNN5TYG6LMVKIEMF7QWMN2RX4HS6CIRFUFVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJWYBAWULY5UD2R673JMPDAV7UGQWQZ7NDTPRNEJ42K2I4QMHKDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ESEVAB3U5576TQMIL5MP3XXU42HUL3SV2LKGUKG4FU5A5IV5E5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XTMHRRU7CY5WJ3RHGYXILL736VZGB3T7LVS5B4P5MEXIM3WQYERA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWMJMVKYRNF7GDK5JKXEQMI5NTULAWUUX6GRW3I5QIY2BI3C25DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PO4JZEQTU5DZK7V7CSBB7J24MYL424NNHZBCHKAWSYLP5GWEIFHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTZLQ2F6FAKH27PQGSQR3TJO4EXPNN7AJARBXDL326WESLPRBNHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IHXEFFB6FR5CULCHGFC75DRBBMJJYWS5JYWLTDBZZ63HTGPZOWUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJHJGXJR6P2YTPL463IZKHLXI4LU5UFQUKYL7DJ6RSGOPEZN6MKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRUDZCEUMH3Y6BTCNKM6E6WYZYUDOBKTZ7BLQHQMZIAVM2IPDHLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TRNZWS36GUPGQ4QK5LP2VY7CJNYBUYLVEYXQ5CC4VVQGAHYRUCAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNFQPRZW5EYWQVFAFF5T32SNZLMZ63N4MAJKHA3TFPGIAH43RXKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWUXYDGIZWP2NYRC7EEIKP6YLNQ662JT3MFKGLU7WR3URLZ2Q73A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIF5TG6PIISAQF7J6ETJSLGJVZ3NX4L7IWOOCE2ZPQZXBCNMKLWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7DPSOQMSHXMDM7ZY7AKRNBHXMOVT7R7VKFADDHJN2LVYJWVVQ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCUJVSGK3Q3B3BG2EEJ2B6KDXMNB3GUWD7PSAHCIJ7JGPGRI5LNQ/vendors.js"
            ]
        }
    },
    "shapes": {
        "Sc": {
            "type": "list",
            "member": {
                "type": "timestamp"
            }
        },
        "Sd": {
            "type": "list",
            "member": {
                "type": "double"
            }
        },
        "Ss": {
            "type": "string",
            "sensitive": true
        },
        "S1g": {
            "type": "structure",
            "members": {
                "instanceConfiguration": {
                    "type": "structure",
                    "members": {
                        "instanceType": {},
                        "vcpus": {
                            "type": "integer"
                        },
                        "memory": {},
                        "storage": {},
                        "network": {}
                    }
                },
                "pricing": {
                    "type": "structure",
                    "members": {
                        "onDemandPrice": {
                            "type": "double"
                        },
                        "standardOneYearNoUpfrontReservedPrice": {
                            "type": "double"
                        },
                        "standardThreeYearNoUpfrontReservedPrice": {
                            "type": "double"
                        }
                    }
                },
                "cost": {
                    "type": "structure",
                    "members": {
                        "totalRunningHoursInLookbackPeriod": {},
                        "costOfInstanceInLookbackPeriod": {},
                        "onDemandHoursInLookbackPeriod": {},
                        "reservationCoveredHoursInLookbackPeriod": {},
                        "savingPlanCoveredHoursInLookbackPeriod": {},
                        "currencyCode": {}
                    }
                },
                "reservedInstancesUtilization": {},
                "reservedInstancesCoverage": {}
            }
        },
        "S23": {
            "type": "structure",
            "members": {
                "key": {},
                "value": {}
            }
        },
        "S2h": {
            "type": "structure",
            "required": [
                "currency",
                "number"
            ],
            "members": {
                "currency": {},
                "number": {
                    "type": "double"
                }
            }
        },
        "S2m": {
            "type": "structure",
            "members": {
                "averageCpuUtilization": {
                    "type": "double"
                },
                "averageNetworkInBytes": {
                    "type": "double"
                },
                "averageNetworkOutBytes": {
                    "type": "double"
                },
                "averageDiskWriteBytes": {
                    "type": "double"
                },
                "averageDiskReadBytes": {
                    "type": "double"
                }
            }
        },
        "S4d": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "rdsPriceName": {},
                    "value": {
                        "type": "double"
                    }
                }
            }
        },
        "S4u": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "S9": {
            "type": "string",
            "sensitive": true
        },
        "Se": {
            "type": "list",
            "member": {
                "type": "double"
            }
        },
        "S4p": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "rdsPriceName": {},
                    "value": {
                        "type": "double"
                    }
                }
            }
        },
        "S57": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "S18": {
            "type": "structure",
            "members": {
                "cpuVendorArchitectures": {
                    "type": "list",
                    "member": {}
                }
            }
        },
        "S4s": {
            "type": "structure",
            "members": {
                "cpuVendorArchitecture": {},
                "vcpus": {
                    "type": "integer"
                },
                "memoryInMib": {
                    "type": "integer"
                },
                "ebsBandwidth": {},
                "networkPerformance": {}
            }
        },
        "S19": {
            "type": "structure",
            "members": {
                "cpuVendorArchitectures": {
                    "type": "list",
                    "member": {}
                }
            }
        },
        "S1h": {
            "type": "structure",
            "members": {
                "instanceConfiguration": {
                    "type": "structure",
                    "members": {
                        "instanceType": {},
                        "vcpus": {
                            "type": "integer"
                        },
                        "memory": {},
                        "storage": {},
                        "network": {}
                    }
                },
                "pricing": {
                    "type": "structure",
                    "members": {
                        "onDemandPrice": {
                            "type": "double"
                        },
                        "standardOneYearNoUpfrontReservedPrice": {
                            "type": "double"
                        },
                        "standardThreeYearNoUpfrontReservedPrice": {
                            "type": "double"
                        },
                        "afterDiscountsPrice": {
                            "type": "double"
                        }
                    }
                },
                "cost": {
                    "type": "structure",
                    "members": {
                        "totalRunningHoursInLookbackPeriod": {},
                        "costOfInstanceInLookbackPeriod": {},
                        "onDemandHoursInLookbackPeriod": {},
                        "reservationCoveredHoursInLookbackPeriod": {},
                        "savingPlanCoveredHoursInLookbackPeriod": {},
                        "currencyCode": {}
                    }
                },
                "reservedInstancesUtilization": {},
                "reservedInstancesCoverage": {}
            }
        },
        "S24": {
            "type": "structure",
            "members": {
                "key": {},
                "value": {}
            }
        },
        "S2i": {
            "type": "structure",
            "required": [
                "currency",
                "number"
            ],
            "members": {
                "currency": {},
                "number": {
                    "type": "double"
                }
            }
        },
        "S2n": {
            "type": "structure",
            "members": {
                "averageCpuUtilization": {
                    "type": "double"
                },
                "averageNetworkInBytes": {
                    "type": "double"
                },
                "averageNetworkOutBytes": {
                    "type": "double"
                },
                "averageDiskWriteBytes": {
                    "type": "double"
                },
                "averageDiskReadBytes": {
                    "type": "double"
                }
            }
        },
        "S4q": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "rdsPriceName": {},
                    "value": {
                        "type": "double"
                    }
                }
            }
        },
        "S4t": {
            "type": "structure",
            "members": {
                "cpuVendorArchitecture": {},
                "vcpus": {
                    "type": "integer"
                },
                "memoryInMib": {
                    "type": "integer"
                },
                "ebsBandwidth": {},
                "networkPerformance": {}
            }
        },
        "S58": {
            "type": "map",
            "key": {},
            "value": {}
        }
    }
}