{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2019-08-28",
        "endpointPrefix": "compute-optimizer",
        "jsonVersion": "1.0",
        "protocol": "json",
        "serviceAbbreviation": "mettleinternal",
        "serviceFullName": "Mettle Cell Router Service",
        "serviceId": "mettleinternal",
        "signatureVersion": "v4",
        "signingName": "mettle",
        "targetPrefix": "com.amazonaws.mettle.cellrouter.MettleCellRouterService",
        "uid": "mettleinternal-2019-08-28",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/SFMVOAHXTDSOK7XD5RQMOAOWKRIBWUJEB5VASKNUIHNUUG5AK4YQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CSSF5XS5HUR3C7W5ZC3IR75UMMMA3PCQTKZZGJLGG4MYZH4BBJEQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZKB5H7BXEURSHTO45UD2H6VUEGDKYBUZGAITX4MJJT4CIV734ZRQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CKET7NFZYLQL7QAOS5HKSABJQUU4MR57VOKHGJMF272F7JXEZVBA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OSL4N4SSS2Y6AZFAZDNJSSVHTRJT5RJWHVQ2SIY7WPDUJ5K7CGHA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CTURIWBS54NM636WKQIELQE56AX6VIX7JZM4CFWEY2ULCRVZSODQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/66VKSDDI64JMMV6N3L5PH36XF5G2SCPVEKLW2M5OTUYU7CSJ6XKQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JLSBFMFUWRE4PFJLLLPXQCUUXWDH3ILY4IFO7WRNMFP5SBBQNL6A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/USG24L5MSUNPACRTW7CJPT2TCR56CXRZACWKLRQWKI52VJUQQMPQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/M4S3TVXG7J3F2XWJHTBQ4IV3O4XPXT7BTIOUFENRWF7CAEFW6YQQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YMCDKSWCBWRNEIIZS4Y35MGOAJEDQCULLTGKRN75HRMAV24OYA7A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ROL5CPN7RLPBP4GLRLLBMHYBNSEJ4K4KTOWYFB3UYLUYOB6AYANA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FBAGUVEXL6CJ3YGDWQNKS63OTLIX23ULLFE3DBZDMM6YWTAEAKFA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MNVNTTB3TMERZFFXWVZ6R4ROEE66UQ3H7AJRMCGFFQQTHTNDN44Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XNOZWWUC65GEORCLJI7TI2VM6WW7T4SX3VS3Z7ZORBIKGCZCPODA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QWP2S4FPUKKPHULQNYCB5SZLXBPWKHEAEVT66JL7DMIS2Y4WWI5Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RJOVZHJKR5CZ6DCCB545CZ3PRCRYJ24DFU2PKZXLDALNRVNPPOMA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/S5YVPE53ACLH5MQNJVT6Q2OVNTWMHE4UE5245TZ7WUY2GCO2PGDQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/34QJ7YMEQI4OAE45KPZQFIKOO7CSPF4MPEGHPOJKJUFFFL7TIWOA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/D2WL65OVEJVE2YFXYGEJ43LQC2U632QNHP2WKZJYC7JGGIZC6QOA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AHZMAUYEKTX4WC2QCNMX5LYDEIKWXF7T2MYNMHCJJAM25T75HMRA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MY6XTG3Y345DKGRIXJW67HMJ6JEUWR2FCBPRHY2BHBAGLTU2RINA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7DUUSH66VMAHFMPL7QWG5HKUBB4W3ES3XP7O3PT4AZPT4IXDBOOQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GSANGXREOMWMKMRK6VIBYUZVCGDIIWIYOVB6WZNFH7N3UI2QNXJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GDCI4PIC5KJKTSU5SLDVTETW6BWQPL7LE7L6LUVR36Y4UVBFE2HA/vendors.js"
        ]
    },
    "operations": {
        "GetCurrentResourceMetrics": {
            "input": {
                "type": "structure",
                "members": {
                    "resourceArn": {},
                    "currentResourceMetricsNames": {
                        "type": "list",
                        "member": {}
                    },
                    "stat": {},
                    "period": {
                        "type": "integer"
                    },
                    "startTime": {
                        "type": "timestamp"
                    },
                    "endTime": {
                        "type": "timestamp"
                    },
                    "requesterAccountId": {},
                    "encryptedFas": {
                        "shape": "S9"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "currentResourceMetrics": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "name": {},
                                "timestamps": {
                                    "shape": "Sc"
                                },
                                "values": {
                                    "shape": "Sd"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSSF5XS5HUR3C7W5ZC3IR75UMMMA3PCQTKZZGJLGG4MYZH4BBJEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKB5H7BXEURSHTO45UD2H6VUEGDKYBUZGAITX4MJJT4CIV734ZRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CKET7NFZYLQL7QAOS5HKSABJQUU4MR57VOKHGJMF272F7JXEZVBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSL4N4SSS2Y6AZFAZDNJSSVHTRJT5RJWHVQ2SIY7WPDUJ5K7CGHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTURIWBS54NM636WKQIELQE56AX6VIX7JZM4CFWEY2ULCRVZSODQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66VKSDDI64JMMV6N3L5PH36XF5G2SCPVEKLW2M5OTUYU7CSJ6XKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLSBFMFUWRE4PFJLLLPXQCUUXWDH3ILY4IFO7WRNMFP5SBBQNL6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USG24L5MSUNPACRTW7CJPT2TCR56CXRZACWKLRQWKI52VJUQQMPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4S3TVXG7J3F2XWJHTBQ4IV3O4XPXT7BTIOUFENRWF7CAEFW6YQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMCDKSWCBWRNEIIZS4Y35MGOAJEDQCULLTGKRN75HRMAV24OYA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ROL5CPN7RLPBP4GLRLLBMHYBNSEJ4K4KTOWYFB3UYLUYOB6AYANA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBAGUVEXL6CJ3YGDWQNKS63OTLIX23ULLFE3DBZDMM6YWTAEAKFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MNVNTTB3TMERZFFXWVZ6R4ROEE66UQ3H7AJRMCGFFQQTHTNDN44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XNOZWWUC65GEORCLJI7TI2VM6WW7T4SX3VS3Z7ZORBIKGCZCPODA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWP2S4FPUKKPHULQNYCB5SZLXBPWKHEAEVT66JL7DMIS2Y4WWI5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJOVZHJKR5CZ6DCCB545CZ3PRCRYJ24DFU2PKZXLDALNRVNPPOMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S5YVPE53ACLH5MQNJVT6Q2OVNTWMHE4UE5245TZ7WUY2GCO2PGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34QJ7YMEQI4OAE45KPZQFIKOO7CSPF4MPEGHPOJKJUFFFL7TIWOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D2WL65OVEJVE2YFXYGEJ43LQC2U632QNHP2WKZJYC7JGGIZC6QOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHZMAUYEKTX4WC2QCNMX5LYDEIKWXF7T2MYNMHCJJAM25T75HMRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MY6XTG3Y345DKGRIXJW67HMJ6JEUWR2FCBPRHY2BHBAGLTU2RINA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DUUSH66VMAHFMPL7QWG5HKUBB4W3ES3XP7O3PT4AZPT4IXDBOOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GSANGXREOMWMKMRK6VIBYUZVCGDIIWIYOVB6WZNFH7N3UI2QNXJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDCI4PIC5KJKTSU5SLDVTETW6BWQPL7LE7L6LUVR36Y4UVBFE2HA/vendors.js"
            ]
        },
        "GetECSServicePricingInformation": {
            "input": {
                "type": "structure",
                "members": {
                    "serviceArns": {
                        "type": "list",
                        "member": {}
                    },
                    "accountId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "servicePricingInformation": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "currentServiceInformation": {
                                    "type": "structure",
                                    "members": {
                                        "serviceArn": {},
                                        "fargatePrice": {
                                            "type": "double"
                                        }
                                    }
                                },
                                "recommendedServiceInformationList": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "fargatePrice": {
                                                "type": "double"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSSF5XS5HUR3C7W5ZC3IR75UMMMA3PCQTKZZGJLGG4MYZH4BBJEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKB5H7BXEURSHTO45UD2H6VUEGDKYBUZGAITX4MJJT4CIV734ZRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CKET7NFZYLQL7QAOS5HKSABJQUU4MR57VOKHGJMF272F7JXEZVBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSL4N4SSS2Y6AZFAZDNJSSVHTRJT5RJWHVQ2SIY7WPDUJ5K7CGHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTURIWBS54NM636WKQIELQE56AX6VIX7JZM4CFWEY2ULCRVZSODQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66VKSDDI64JMMV6N3L5PH36XF5G2SCPVEKLW2M5OTUYU7CSJ6XKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLSBFMFUWRE4PFJLLLPXQCUUXWDH3ILY4IFO7WRNMFP5SBBQNL6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USG24L5MSUNPACRTW7CJPT2TCR56CXRZACWKLRQWKI52VJUQQMPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4S3TVXG7J3F2XWJHTBQ4IV3O4XPXT7BTIOUFENRWF7CAEFW6YQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMCDKSWCBWRNEIIZS4Y35MGOAJEDQCULLTGKRN75HRMAV24OYA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ROL5CPN7RLPBP4GLRLLBMHYBNSEJ4K4KTOWYFB3UYLUYOB6AYANA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBAGUVEXL6CJ3YGDWQNKS63OTLIX23ULLFE3DBZDMM6YWTAEAKFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MNVNTTB3TMERZFFXWVZ6R4ROEE66UQ3H7AJRMCGFFQQTHTNDN44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XNOZWWUC65GEORCLJI7TI2VM6WW7T4SX3VS3Z7ZORBIKGCZCPODA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWP2S4FPUKKPHULQNYCB5SZLXBPWKHEAEVT66JL7DMIS2Y4WWI5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJOVZHJKR5CZ6DCCB545CZ3PRCRYJ24DFU2PKZXLDALNRVNPPOMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S5YVPE53ACLH5MQNJVT6Q2OVNTWMHE4UE5245TZ7WUY2GCO2PGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34QJ7YMEQI4OAE45KPZQFIKOO7CSPF4MPEGHPOJKJUFFFL7TIWOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D2WL65OVEJVE2YFXYGEJ43LQC2U632QNHP2WKZJYC7JGGIZC6QOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHZMAUYEKTX4WC2QCNMX5LYDEIKWXF7T2MYNMHCJJAM25T75HMRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MY6XTG3Y345DKGRIXJW67HMJ6JEUWR2FCBPRHY2BHBAGLTU2RINA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DUUSH66VMAHFMPL7QWG5HKUBB4W3ES3XP7O3PT4AZPT4IXDBOOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GSANGXREOMWMKMRK6VIBYUZVCGDIIWIYOVB6WZNFH7N3UI2QNXJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDCI4PIC5KJKTSU5SLDVTETW6BWQPL7LE7L6LUVR36Y4UVBFE2HA/vendors.js"
            ]
        },
        "GetEbsVolumePricingInformation": {
            "input": {
                "type": "structure",
                "members": {
                    "volumeArns": {
                        "type": "list",
                        "member": {}
                    },
                    "accountId": {},
                    "encryptedFas": {
                        "shape": "Ss"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "volumePricingInformation": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "currentVolumeInformation": {
                                    "type": "structure",
                                    "members": {
                                        "volumeArn": {},
                                        "price": {
                                            "type": "double"
                                        }
                                    }
                                },
                                "recommendedVolumeInformationList": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "rank": {
                                                "type": "integer"
                                            },
                                            "price": {
                                                "type": "double"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSSF5XS5HUR3C7W5ZC3IR75UMMMA3PCQTKZZGJLGG4MYZH4BBJEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKB5H7BXEURSHTO45UD2H6VUEGDKYBUZGAITX4MJJT4CIV734ZRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CKET7NFZYLQL7QAOS5HKSABJQUU4MR57VOKHGJMF272F7JXEZVBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSL4N4SSS2Y6AZFAZDNJSSVHTRJT5RJWHVQ2SIY7WPDUJ5K7CGHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTURIWBS54NM636WKQIELQE56AX6VIX7JZM4CFWEY2ULCRVZSODQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66VKSDDI64JMMV6N3L5PH36XF5G2SCPVEKLW2M5OTUYU7CSJ6XKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLSBFMFUWRE4PFJLLLPXQCUUXWDH3ILY4IFO7WRNMFP5SBBQNL6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USG24L5MSUNPACRTW7CJPT2TCR56CXRZACWKLRQWKI52VJUQQMPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4S3TVXG7J3F2XWJHTBQ4IV3O4XPXT7BTIOUFENRWF7CAEFW6YQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMCDKSWCBWRNEIIZS4Y35MGOAJEDQCULLTGKRN75HRMAV24OYA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ROL5CPN7RLPBP4GLRLLBMHYBNSEJ4K4KTOWYFB3UYLUYOB6AYANA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBAGUVEXL6CJ3YGDWQNKS63OTLIX23ULLFE3DBZDMM6YWTAEAKFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MNVNTTB3TMERZFFXWVZ6R4ROEE66UQ3H7AJRMCGFFQQTHTNDN44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XNOZWWUC65GEORCLJI7TI2VM6WW7T4SX3VS3Z7ZORBIKGCZCPODA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWP2S4FPUKKPHULQNYCB5SZLXBPWKHEAEVT66JL7DMIS2Y4WWI5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJOVZHJKR5CZ6DCCB545CZ3PRCRYJ24DFU2PKZXLDALNRVNPPOMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S5YVPE53ACLH5MQNJVT6Q2OVNTWMHE4UE5245TZ7WUY2GCO2PGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34QJ7YMEQI4OAE45KPZQFIKOO7CSPF4MPEGHPOJKJUFFFL7TIWOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D2WL65OVEJVE2YFXYGEJ43LQC2U632QNHP2WKZJYC7JGGIZC6QOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHZMAUYEKTX4WC2QCNMX5LYDEIKWXF7T2MYNMHCJJAM25T75HMRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MY6XTG3Y345DKGRIXJW67HMJ6JEUWR2FCBPRHY2BHBAGLTU2RINA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DUUSH66VMAHFMPL7QWG5HKUBB4W3ES3XP7O3PT4AZPT4IXDBOOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GSANGXREOMWMKMRK6VIBYUZVCGDIIWIYOVB6WZNFH7N3UI2QNXJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDCI4PIC5KJKTSU5SLDVTETW6BWQPL7LE7L6LUVR36Y4UVBFE2HA/vendors.js"
            ]
        },
        "GetInstancePricingInformation": {
            "input": {
                "type": "structure",
                "members": {
                    "awsAccountId": {},
                    "instanceArns": {
                        "type": "list",
                        "member": {}
                    },
                    "encryptedFas": {
                        "shape": "Ss"
                    },
                    "autoScalingGroupArns": {
                        "type": "list",
                        "member": {}
                    },
                    "includeCostInformation": {
                        "type": "boolean"
                    },
                    "includeMemoryMetricInformation": {
                        "type": "boolean"
                    },
                    "recommendationPreferences": {
                        "type": "structure",
                        "members": {
                            "cpuVendorArchitectures": {
                                "type": "list",
                                "member": {}
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "instancePricingInformation": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "currentInstanceInformation": {
                                    "type": "structure",
                                    "members": {
                                        "resourceArn": {},
                                        "instanceInformation": {
                                            "shape": "S1g"
                                        },
                                        "memoryMetricName": {},
                                        "memoryMetricNamespace": {},
                                        "memoryMetricDimensions": {
                                            "type": "list",
                                            "member": {
                                                "shape": "S23"
                                            }
                                        }
                                    }
                                },
                                "recommendedInstanceInformations": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "rank": {
                                                "type": "integer"
                                            },
                                            "instanceInformation": {
                                                "shape": "S1g"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSSF5XS5HUR3C7W5ZC3IR75UMMMA3PCQTKZZGJLGG4MYZH4BBJEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKB5H7BXEURSHTO45UD2H6VUEGDKYBUZGAITX4MJJT4CIV734ZRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CKET7NFZYLQL7QAOS5HKSABJQUU4MR57VOKHGJMF272F7JXEZVBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSL4N4SSS2Y6AZFAZDNJSSVHTRJT5RJWHVQ2SIY7WPDUJ5K7CGHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTURIWBS54NM636WKQIELQE56AX6VIX7JZM4CFWEY2ULCRVZSODQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66VKSDDI64JMMV6N3L5PH36XF5G2SCPVEKLW2M5OTUYU7CSJ6XKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLSBFMFUWRE4PFJLLLPXQCUUXWDH3ILY4IFO7WRNMFP5SBBQNL6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USG24L5MSUNPACRTW7CJPT2TCR56CXRZACWKLRQWKI52VJUQQMPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4S3TVXG7J3F2XWJHTBQ4IV3O4XPXT7BTIOUFENRWF7CAEFW6YQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMCDKSWCBWRNEIIZS4Y35MGOAJEDQCULLTGKRN75HRMAV24OYA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ROL5CPN7RLPBP4GLRLLBMHYBNSEJ4K4KTOWYFB3UYLUYOB6AYANA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBAGUVEXL6CJ3YGDWQNKS63OTLIX23ULLFE3DBZDMM6YWTAEAKFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MNVNTTB3TMERZFFXWVZ6R4ROEE66UQ3H7AJRMCGFFQQTHTNDN44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XNOZWWUC65GEORCLJI7TI2VM6WW7T4SX3VS3Z7ZORBIKGCZCPODA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWP2S4FPUKKPHULQNYCB5SZLXBPWKHEAEVT66JL7DMIS2Y4WWI5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJOVZHJKR5CZ6DCCB545CZ3PRCRYJ24DFU2PKZXLDALNRVNPPOMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S5YVPE53ACLH5MQNJVT6Q2OVNTWMHE4UE5245TZ7WUY2GCO2PGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34QJ7YMEQI4OAE45KPZQFIKOO7CSPF4MPEGHPOJKJUFFFL7TIWOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D2WL65OVEJVE2YFXYGEJ43LQC2U632QNHP2WKZJYC7JGGIZC6QOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHZMAUYEKTX4WC2QCNMX5LYDEIKWXF7T2MYNMHCJJAM25T75HMRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MY6XTG3Y345DKGRIXJW67HMJ6JEUWR2FCBPRHY2BHBAGLTU2RINA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DUUSH66VMAHFMPL7QWG5HKUBB4W3ES3XP7O3PT4AZPT4IXDBOOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GSANGXREOMWMKMRK6VIBYUZVCGDIIWIYOVB6WZNFH7N3UI2QNXJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDCI4PIC5KJKTSU5SLDVTETW6BWQPL7LE7L6LUVR36Y4UVBFE2HA/vendors.js"
            ]
        },
        "GetInstanceRecommendationsInternal": {
            "input": {
                "type": "structure",
                "required": [
                    "awsAccountId"
                ],
                "members": {
                    "awsAccountId": {},
                    "instanceIds": {
                        "type": "list",
                        "member": {}
                    },
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "instanceRecommendations": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "instance": {
                                    "type": "structure",
                                    "members": {
                                        "instanceId": {},
                                        "monthlyOnDemandCost": {
                                            "shape": "S2h"
                                        },
                                        "instanceType": {},
                                        "awsAccountId": {},
                                        "region": {},
                                        "availabilityZone": {},
                                        "operatingSystem": {},
                                        "utilization": {
                                            "shape": "S2m"
                                        }
                                    }
                                },
                                "reasonCode": {},
                                "recommendations": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "instanceType": {},
                                            "estimatedMonthlyCostChange": {
                                                "shape": "S2h"
                                            },
                                            "projectedUtilization": {
                                                "shape": "S2m"
                                            }
                                        }
                                    }
                                },
                                "recommendationUnavailableReason": {
                                    "type": "structure",
                                    "members": {
                                        "message": {},
                                        "code": {}
                                    }
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSSF5XS5HUR3C7W5ZC3IR75UMMMA3PCQTKZZGJLGG4MYZH4BBJEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKB5H7BXEURSHTO45UD2H6VUEGDKYBUZGAITX4MJJT4CIV734ZRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CKET7NFZYLQL7QAOS5HKSABJQUU4MR57VOKHGJMF272F7JXEZVBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSL4N4SSS2Y6AZFAZDNJSSVHTRJT5RJWHVQ2SIY7WPDUJ5K7CGHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTURIWBS54NM636WKQIELQE56AX6VIX7JZM4CFWEY2ULCRVZSODQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66VKSDDI64JMMV6N3L5PH36XF5G2SCPVEKLW2M5OTUYU7CSJ6XKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLSBFMFUWRE4PFJLLLPXQCUUXWDH3ILY4IFO7WRNMFP5SBBQNL6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USG24L5MSUNPACRTW7CJPT2TCR56CXRZACWKLRQWKI52VJUQQMPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4S3TVXG7J3F2XWJHTBQ4IV3O4XPXT7BTIOUFENRWF7CAEFW6YQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMCDKSWCBWRNEIIZS4Y35MGOAJEDQCULLTGKRN75HRMAV24OYA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ROL5CPN7RLPBP4GLRLLBMHYBNSEJ4K4KTOWYFB3UYLUYOB6AYANA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBAGUVEXL6CJ3YGDWQNKS63OTLIX23ULLFE3DBZDMM6YWTAEAKFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MNVNTTB3TMERZFFXWVZ6R4ROEE66UQ3H7AJRMCGFFQQTHTNDN44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XNOZWWUC65GEORCLJI7TI2VM6WW7T4SX3VS3Z7ZORBIKGCZCPODA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWP2S4FPUKKPHULQNYCB5SZLXBPWKHEAEVT66JL7DMIS2Y4WWI5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJOVZHJKR5CZ6DCCB545CZ3PRCRYJ24DFU2PKZXLDALNRVNPPOMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S5YVPE53ACLH5MQNJVT6Q2OVNTWMHE4UE5245TZ7WUY2GCO2PGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34QJ7YMEQI4OAE45KPZQFIKOO7CSPF4MPEGHPOJKJUFFFL7TIWOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D2WL65OVEJVE2YFXYGEJ43LQC2U632QNHP2WKZJYC7JGGIZC6QOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHZMAUYEKTX4WC2QCNMX5LYDEIKWXF7T2MYNMHCJJAM25T75HMRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MY6XTG3Y345DKGRIXJW67HMJ6JEUWR2FCBPRHY2BHBAGLTU2RINA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DUUSH66VMAHFMPL7QWG5HKUBB4W3ES3XP7O3PT4AZPT4IXDBOOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GSANGXREOMWMKMRK6VIBYUZVCGDIIWIYOVB6WZNFH7N3UI2QNXJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDCI4PIC5KJKTSU5SLDVTETW6BWQPL7LE7L6LUVR36Y4UVBFE2HA/vendors.js"
            ]
        },
        "GetLambdaFunctionPricingInformation": {
            "input": {
                "type": "structure",
                "members": {
                    "functionArns": {
                        "type": "list",
                        "member": {}
                    },
                    "accountId": {},
                    "encryptedFas": {
                        "shape": "Ss"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "lambdaPricingInformation": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "functionArn": {},
                                "timeout": {
                                    "type": "integer"
                                },
                                "currentPricingInformation": {
                                    "type": "structure",
                                    "members": {
                                        "averagePrice": {
                                            "type": "double"
                                        },
                                        "totalPrice": {
                                            "type": "double"
                                        }
                                    }
                                },
                                "memoryRecommendationOptionsPricingInformation": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "rank": {
                                                "type": "integer"
                                            },
                                            "memorySize": {
                                                "type": "integer"
                                            },
                                            "lowerBoundPrice": {
                                                "type": "double"
                                            },
                                            "upperBoundPrice": {
                                                "type": "double"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSSF5XS5HUR3C7W5ZC3IR75UMMMA3PCQTKZZGJLGG4MYZH4BBJEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKB5H7BXEURSHTO45UD2H6VUEGDKYBUZGAITX4MJJT4CIV734ZRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CKET7NFZYLQL7QAOS5HKSABJQUU4MR57VOKHGJMF272F7JXEZVBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSL4N4SSS2Y6AZFAZDNJSSVHTRJT5RJWHVQ2SIY7WPDUJ5K7CGHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTURIWBS54NM636WKQIELQE56AX6VIX7JZM4CFWEY2ULCRVZSODQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66VKSDDI64JMMV6N3L5PH36XF5G2SCPVEKLW2M5OTUYU7CSJ6XKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLSBFMFUWRE4PFJLLLPXQCUUXWDH3ILY4IFO7WRNMFP5SBBQNL6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USG24L5MSUNPACRTW7CJPT2TCR56CXRZACWKLRQWKI52VJUQQMPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4S3TVXG7J3F2XWJHTBQ4IV3O4XPXT7BTIOUFENRWF7CAEFW6YQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMCDKSWCBWRNEIIZS4Y35MGOAJEDQCULLTGKRN75HRMAV24OYA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ROL5CPN7RLPBP4GLRLLBMHYBNSEJ4K4KTOWYFB3UYLUYOB6AYANA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBAGUVEXL6CJ3YGDWQNKS63OTLIX23ULLFE3DBZDMM6YWTAEAKFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MNVNTTB3TMERZFFXWVZ6R4ROEE66UQ3H7AJRMCGFFQQTHTNDN44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XNOZWWUC65GEORCLJI7TI2VM6WW7T4SX3VS3Z7ZORBIKGCZCPODA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWP2S4FPUKKPHULQNYCB5SZLXBPWKHEAEVT66JL7DMIS2Y4WWI5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJOVZHJKR5CZ6DCCB545CZ3PRCRYJ24DFU2PKZXLDALNRVNPPOMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S5YVPE53ACLH5MQNJVT6Q2OVNTWMHE4UE5245TZ7WUY2GCO2PGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34QJ7YMEQI4OAE45KPZQFIKOO7CSPF4MPEGHPOJKJUFFFL7TIWOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D2WL65OVEJVE2YFXYGEJ43LQC2U632QNHP2WKZJYC7JGGIZC6QOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHZMAUYEKTX4WC2QCNMX5LYDEIKWXF7T2MYNMHCJJAM25T75HMRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MY6XTG3Y345DKGRIXJW67HMJ6JEUWR2FCBPRHY2BHBAGLTU2RINA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DUUSH66VMAHFMPL7QWG5HKUBB4W3ES3XP7O3PT4AZPT4IXDBOOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GSANGXREOMWMKMRK6VIBYUZVCGDIIWIYOVB6WZNFH7N3UI2QNXJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDCI4PIC5KJKTSU5SLDVTETW6BWQPL7LE7L6LUVR36Y4UVBFE2HA/vendors.js"
            ]
        },
        "GetOrganizationMemberData": {
            "input": {
                "type": "structure",
                "required": [
                    "MemberAccountId"
                ],
                "members": {
                    "MemberAccountId": {},
                    "ResourceArns": {
                        "type": "list",
                        "member": {}
                    },
                    "GetMetricDataParameters": {
                        "type": "structure",
                        "members": {
                            "MetricDataQueries": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "members": {
                                        "Id": {},
                                        "MetricStat": {
                                            "type": "structure",
                                            "members": {
                                                "Metric": {
                                                    "type": "structure",
                                                    "members": {
                                                        "Namespace": {},
                                                        "MetricName": {},
                                                        "Dimensions": {
                                                            "type": "list",
                                                            "member": {
                                                                "shape": "S23"
                                                            }
                                                        }
                                                    }
                                                },
                                                "Period": {
                                                    "type": "integer"
                                                },
                                                "Stat": {}
                                            }
                                        },
                                        "Expression": {},
                                        "Label": {},
                                        "ReturnData": {
                                            "type": "boolean"
                                        }
                                    }
                                }
                            },
                            "StartTime": {
                                "type": "timestamp"
                            },
                            "EndTime": {
                                "type": "timestamp"
                            },
                            "ScanBy": {}
                        }
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {},
                    "RequesterAccountId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "GetMetricDataResult": {
                        "type": "structure",
                        "members": {
                            "MetricDataResults": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "members": {
                                        "Id": {},
                                        "Label": {},
                                        "Timestamps": {
                                            "shape": "Sc"
                                        },
                                        "Values": {
                                            "shape": "Sd"
                                        }
                                    }
                                }
                            },
                            "Messages": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "members": {
                                        "Code": {},
                                        "Value": {}
                                    }
                                }
                            }
                        }
                    },
                    "DescribeVolumesResult": {
                        "type": "structure",
                        "members": {
                            "Volumes": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "members": {
                                        "VolumeId": {},
                                        "Size": {
                                            "type": "integer"
                                        },
                                        "SnapshotId": {},
                                        "AvailabilityZone": {},
                                        "State": {},
                                        "CreateTime": {
                                            "type": "timestamp"
                                        },
                                        "Attachments": {
                                            "type": "list",
                                            "member": {
                                                "type": "structure",
                                                "members": {
                                                    "VolumeId": {},
                                                    "InstanceId": {},
                                                    "Device": {},
                                                    "State": {},
                                                    "AttachTime": {
                                                        "type": "timestamp"
                                                    },
                                                    "DeleteOnTermination": {
                                                        "type": "boolean"
                                                    }
                                                }
                                            }
                                        },
                                        "Tags": {
                                            "type": "list",
                                            "member": {
                                                "type": "structure",
                                                "members": {
                                                    "Key": {},
                                                    "Value": {}
                                                }
                                            }
                                        },
                                        "VolumeType": {},
                                        "Iops": {
                                            "type": "integer"
                                        },
                                        "Encrypted": {
                                            "type": "boolean"
                                        },
                                        "KmsKeyId": {}
                                    }
                                }
                            }
                        }
                    },
                    "DescribeInstancesResult": {
                        "type": "structure",
                        "members": {
                            "InstanceDetailsList": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "members": {
                                        "InstanceId": {},
                                        "AttachedEbsVolumes": {
                                            "type": "list",
                                            "member": {}
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSSF5XS5HUR3C7W5ZC3IR75UMMMA3PCQTKZZGJLGG4MYZH4BBJEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKB5H7BXEURSHTO45UD2H6VUEGDKYBUZGAITX4MJJT4CIV734ZRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CKET7NFZYLQL7QAOS5HKSABJQUU4MR57VOKHGJMF272F7JXEZVBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSL4N4SSS2Y6AZFAZDNJSSVHTRJT5RJWHVQ2SIY7WPDUJ5K7CGHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTURIWBS54NM636WKQIELQE56AX6VIX7JZM4CFWEY2ULCRVZSODQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66VKSDDI64JMMV6N3L5PH36XF5G2SCPVEKLW2M5OTUYU7CSJ6XKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLSBFMFUWRE4PFJLLLPXQCUUXWDH3ILY4IFO7WRNMFP5SBBQNL6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USG24L5MSUNPACRTW7CJPT2TCR56CXRZACWKLRQWKI52VJUQQMPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4S3TVXG7J3F2XWJHTBQ4IV3O4XPXT7BTIOUFENRWF7CAEFW6YQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMCDKSWCBWRNEIIZS4Y35MGOAJEDQCULLTGKRN75HRMAV24OYA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ROL5CPN7RLPBP4GLRLLBMHYBNSEJ4K4KTOWYFB3UYLUYOB6AYANA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBAGUVEXL6CJ3YGDWQNKS63OTLIX23ULLFE3DBZDMM6YWTAEAKFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MNVNTTB3TMERZFFXWVZ6R4ROEE66UQ3H7AJRMCGFFQQTHTNDN44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XNOZWWUC65GEORCLJI7TI2VM6WW7T4SX3VS3Z7ZORBIKGCZCPODA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWP2S4FPUKKPHULQNYCB5SZLXBPWKHEAEVT66JL7DMIS2Y4WWI5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJOVZHJKR5CZ6DCCB545CZ3PRCRYJ24DFU2PKZXLDALNRVNPPOMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S5YVPE53ACLH5MQNJVT6Q2OVNTWMHE4UE5245TZ7WUY2GCO2PGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34QJ7YMEQI4OAE45KPZQFIKOO7CSPF4MPEGHPOJKJUFFFL7TIWOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D2WL65OVEJVE2YFXYGEJ43LQC2U632QNHP2WKZJYC7JGGIZC6QOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHZMAUYEKTX4WC2QCNMX5LYDEIKWXF7T2MYNMHCJJAM25T75HMRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MY6XTG3Y345DKGRIXJW67HMJ6JEUWR2FCBPRHY2BHBAGLTU2RINA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DUUSH66VMAHFMPL7QWG5HKUBB4W3ES3XP7O3PT4AZPT4IXDBOOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GSANGXREOMWMKMRK6VIBYUZVCGDIIWIYOVB6WZNFH7N3UI2QNXJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDCI4PIC5KJKTSU5SLDVTETW6BWQPL7LE7L6LUVR36Y4UVBFE2HA/vendors.js"
            ]
        },
        "GetRDSInstancePricingInformation": {
            "input": {
                "type": "structure",
                "required": [
                    "dbInstanceArns"
                ],
                "members": {
                    "dbInstanceArns": {
                        "type": "list",
                        "member": {}
                    },
                    "accountId": {},
                    "recommendationPreferences": {
                        "shape": "S18"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "rdsInstancePricingInformationList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "currentRDSInstanceInformation": {
                                    "type": "structure",
                                    "members": {
                                        "dbInstanceArn": {},
                                        "rdsPrices": {
                                            "shape": "S4d"
                                        }
                                    }
                                },
                                "recommendedRDSInstanceInformationList": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "rank": {
                                                "type": "integer"
                                            },
                                            "rdsPrices": {
                                                "shape": "S4d"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSSF5XS5HUR3C7W5ZC3IR75UMMMA3PCQTKZZGJLGG4MYZH4BBJEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKB5H7BXEURSHTO45UD2H6VUEGDKYBUZGAITX4MJJT4CIV734ZRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CKET7NFZYLQL7QAOS5HKSABJQUU4MR57VOKHGJMF272F7JXEZVBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSL4N4SSS2Y6AZFAZDNJSSVHTRJT5RJWHVQ2SIY7WPDUJ5K7CGHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTURIWBS54NM636WKQIELQE56AX6VIX7JZM4CFWEY2ULCRVZSODQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66VKSDDI64JMMV6N3L5PH36XF5G2SCPVEKLW2M5OTUYU7CSJ6XKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLSBFMFUWRE4PFJLLLPXQCUUXWDH3ILY4IFO7WRNMFP5SBBQNL6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USG24L5MSUNPACRTW7CJPT2TCR56CXRZACWKLRQWKI52VJUQQMPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4S3TVXG7J3F2XWJHTBQ4IV3O4XPXT7BTIOUFENRWF7CAEFW6YQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMCDKSWCBWRNEIIZS4Y35MGOAJEDQCULLTGKRN75HRMAV24OYA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ROL5CPN7RLPBP4GLRLLBMHYBNSEJ4K4KTOWYFB3UYLUYOB6AYANA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBAGUVEXL6CJ3YGDWQNKS63OTLIX23ULLFE3DBZDMM6YWTAEAKFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MNVNTTB3TMERZFFXWVZ6R4ROEE66UQ3H7AJRMCGFFQQTHTNDN44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XNOZWWUC65GEORCLJI7TI2VM6WW7T4SX3VS3Z7ZORBIKGCZCPODA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWP2S4FPUKKPHULQNYCB5SZLXBPWKHEAEVT66JL7DMIS2Y4WWI5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJOVZHJKR5CZ6DCCB545CZ3PRCRYJ24DFU2PKZXLDALNRVNPPOMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S5YVPE53ACLH5MQNJVT6Q2OVNTWMHE4UE5245TZ7WUY2GCO2PGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34QJ7YMEQI4OAE45KPZQFIKOO7CSPF4MPEGHPOJKJUFFFL7TIWOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D2WL65OVEJVE2YFXYGEJ43LQC2U632QNHP2WKZJYC7JGGIZC6QOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHZMAUYEKTX4WC2QCNMX5LYDEIKWXF7T2MYNMHCJJAM25T75HMRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MY6XTG3Y345DKGRIXJW67HMJ6JEUWR2FCBPRHY2BHBAGLTU2RINA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DUUSH66VMAHFMPL7QWG5HKUBB4W3ES3XP7O3PT4AZPT4IXDBOOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GSANGXREOMWMKMRK6VIBYUZVCGDIIWIYOVB6WZNFH7N3UI2QNXJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDCI4PIC5KJKTSU5SLDVTETW6BWQPL7LE7L6LUVR36Y4UVBFE2HA/vendors.js"
            ]
        },
        "GetWorkloadTopicArnInternal": {
            "input": {
                "type": "structure",
                "members": {
                    "awsAccountId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "topicArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSSF5XS5HUR3C7W5ZC3IR75UMMMA3PCQTKZZGJLGG4MYZH4BBJEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKB5H7BXEURSHTO45UD2H6VUEGDKYBUZGAITX4MJJT4CIV734ZRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CKET7NFZYLQL7QAOS5HKSABJQUU4MR57VOKHGJMF272F7JXEZVBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSL4N4SSS2Y6AZFAZDNJSSVHTRJT5RJWHVQ2SIY7WPDUJ5K7CGHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTURIWBS54NM636WKQIELQE56AX6VIX7JZM4CFWEY2ULCRVZSODQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66VKSDDI64JMMV6N3L5PH36XF5G2SCPVEKLW2M5OTUYU7CSJ6XKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLSBFMFUWRE4PFJLLLPXQCUUXWDH3ILY4IFO7WRNMFP5SBBQNL6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USG24L5MSUNPACRTW7CJPT2TCR56CXRZACWKLRQWKI52VJUQQMPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4S3TVXG7J3F2XWJHTBQ4IV3O4XPXT7BTIOUFENRWF7CAEFW6YQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMCDKSWCBWRNEIIZS4Y35MGOAJEDQCULLTGKRN75HRMAV24OYA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ROL5CPN7RLPBP4GLRLLBMHYBNSEJ4K4KTOWYFB3UYLUYOB6AYANA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBAGUVEXL6CJ3YGDWQNKS63OTLIX23ULLFE3DBZDMM6YWTAEAKFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MNVNTTB3TMERZFFXWVZ6R4ROEE66UQ3H7AJRMCGFFQQTHTNDN44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XNOZWWUC65GEORCLJI7TI2VM6WW7T4SX3VS3Z7ZORBIKGCZCPODA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWP2S4FPUKKPHULQNYCB5SZLXBPWKHEAEVT66JL7DMIS2Y4WWI5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJOVZHJKR5CZ6DCCB545CZ3PRCRYJ24DFU2PKZXLDALNRVNPPOMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S5YVPE53ACLH5MQNJVT6Q2OVNTWMHE4UE5245TZ7WUY2GCO2PGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34QJ7YMEQI4OAE45KPZQFIKOO7CSPF4MPEGHPOJKJUFFFL7TIWOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D2WL65OVEJVE2YFXYGEJ43LQC2U632QNHP2WKZJYC7JGGIZC6QOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHZMAUYEKTX4WC2QCNMX5LYDEIKWXF7T2MYNMHCJJAM25T75HMRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MY6XTG3Y345DKGRIXJW67HMJ6JEUWR2FCBPRHY2BHBAGLTU2RINA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DUUSH66VMAHFMPL7QWG5HKUBB4W3ES3XP7O3PT4AZPT4IXDBOOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GSANGXREOMWMKMRK6VIBYUZVCGDIIWIYOVB6WZNFH7N3UI2QNXJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDCI4PIC5KJKTSU5SLDVTETW6BWQPL7LE7L6LUVR36Y4UVBFE2HA/vendors.js"
            ]
        },
        "LockServiceLinkedRole": {
            "input": {
                "type": "structure",
                "required": [
                    "RoleArn",
                    "Timeout"
                ],
                "members": {
                    "RoleArn": {},
                    "Timeout": {
                        "type": "long"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "CanBeDeleted"
                ],
                "members": {
                    "CanBeDeleted": {
                        "type": "boolean"
                    },
                    "ReasonOfFailure": {},
                    "RelatedResources": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSSF5XS5HUR3C7W5ZC3IR75UMMMA3PCQTKZZGJLGG4MYZH4BBJEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKB5H7BXEURSHTO45UD2H6VUEGDKYBUZGAITX4MJJT4CIV734ZRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CKET7NFZYLQL7QAOS5HKSABJQUU4MR57VOKHGJMF272F7JXEZVBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSL4N4SSS2Y6AZFAZDNJSSVHTRJT5RJWHVQ2SIY7WPDUJ5K7CGHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTURIWBS54NM636WKQIELQE56AX6VIX7JZM4CFWEY2ULCRVZSODQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66VKSDDI64JMMV6N3L5PH36XF5G2SCPVEKLW2M5OTUYU7CSJ6XKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLSBFMFUWRE4PFJLLLPXQCUUXWDH3ILY4IFO7WRNMFP5SBBQNL6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USG24L5MSUNPACRTW7CJPT2TCR56CXRZACWKLRQWKI52VJUQQMPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4S3TVXG7J3F2XWJHTBQ4IV3O4XPXT7BTIOUFENRWF7CAEFW6YQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMCDKSWCBWRNEIIZS4Y35MGOAJEDQCULLTGKRN75HRMAV24OYA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ROL5CPN7RLPBP4GLRLLBMHYBNSEJ4K4KTOWYFB3UYLUYOB6AYANA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBAGUVEXL6CJ3YGDWQNKS63OTLIX23ULLFE3DBZDMM6YWTAEAKFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MNVNTTB3TMERZFFXWVZ6R4ROEE66UQ3H7AJRMCGFFQQTHTNDN44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XNOZWWUC65GEORCLJI7TI2VM6WW7T4SX3VS3Z7ZORBIKGCZCPODA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWP2S4FPUKKPHULQNYCB5SZLXBPWKHEAEVT66JL7DMIS2Y4WWI5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJOVZHJKR5CZ6DCCB545CZ3PRCRYJ24DFU2PKZXLDALNRVNPPOMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S5YVPE53ACLH5MQNJVT6Q2OVNTWMHE4UE5245TZ7WUY2GCO2PGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34QJ7YMEQI4OAE45KPZQFIKOO7CSPF4MPEGHPOJKJUFFFL7TIWOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D2WL65OVEJVE2YFXYGEJ43LQC2U632QNHP2WKZJYC7JGGIZC6QOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHZMAUYEKTX4WC2QCNMX5LYDEIKWXF7T2MYNMHCJJAM25T75HMRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MY6XTG3Y345DKGRIXJW67HMJ6JEUWR2FCBPRHY2BHBAGLTU2RINA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DUUSH66VMAHFMPL7QWG5HKUBB4W3ES3XP7O3PT4AZPT4IXDBOOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GSANGXREOMWMKMRK6VIBYUZVCGDIIWIYOVB6WZNFH7N3UI2QNXJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDCI4PIC5KJKTSU5SLDVTETW6BWQPL7LE7L6LUVR36Y4UVBFE2HA/vendors.js"
            ]
        },
        "RegisterForRecommendations": {
            "input": {
                "type": "structure",
                "required": [
                    "awsAccountId",
                    "actor",
                    "serviceLevels"
                ],
                "members": {
                    "awsAccountId": {},
                    "actor": {},
                    "serviceLevels": {
                        "shape": "S4u"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "awsAccountId": {},
                    "actor": {},
                    "serviceLevels": {
                        "shape": "S4u"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSSF5XS5HUR3C7W5ZC3IR75UMMMA3PCQTKZZGJLGG4MYZH4BBJEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKB5H7BXEURSHTO45UD2H6VUEGDKYBUZGAITX4MJJT4CIV734ZRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CKET7NFZYLQL7QAOS5HKSABJQUU4MR57VOKHGJMF272F7JXEZVBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSL4N4SSS2Y6AZFAZDNJSSVHTRJT5RJWHVQ2SIY7WPDUJ5K7CGHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTURIWBS54NM636WKQIELQE56AX6VIX7JZM4CFWEY2ULCRVZSODQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66VKSDDI64JMMV6N3L5PH36XF5G2SCPVEKLW2M5OTUYU7CSJ6XKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLSBFMFUWRE4PFJLLLPXQCUUXWDH3ILY4IFO7WRNMFP5SBBQNL6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USG24L5MSUNPACRTW7CJPT2TCR56CXRZACWKLRQWKI52VJUQQMPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4S3TVXG7J3F2XWJHTBQ4IV3O4XPXT7BTIOUFENRWF7CAEFW6YQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMCDKSWCBWRNEIIZS4Y35MGOAJEDQCULLTGKRN75HRMAV24OYA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ROL5CPN7RLPBP4GLRLLBMHYBNSEJ4K4KTOWYFB3UYLUYOB6AYANA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBAGUVEXL6CJ3YGDWQNKS63OTLIX23ULLFE3DBZDMM6YWTAEAKFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MNVNTTB3TMERZFFXWVZ6R4ROEE66UQ3H7AJRMCGFFQQTHTNDN44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XNOZWWUC65GEORCLJI7TI2VM6WW7T4SX3VS3Z7ZORBIKGCZCPODA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWP2S4FPUKKPHULQNYCB5SZLXBPWKHEAEVT66JL7DMIS2Y4WWI5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJOVZHJKR5CZ6DCCB545CZ3PRCRYJ24DFU2PKZXLDALNRVNPPOMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S5YVPE53ACLH5MQNJVT6Q2OVNTWMHE4UE5245TZ7WUY2GCO2PGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34QJ7YMEQI4OAE45KPZQFIKOO7CSPF4MPEGHPOJKJUFFFL7TIWOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D2WL65OVEJVE2YFXYGEJ43LQC2U632QNHP2WKZJYC7JGGIZC6QOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHZMAUYEKTX4WC2QCNMX5LYDEIKWXF7T2MYNMHCJJAM25T75HMRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MY6XTG3Y345DKGRIXJW67HMJ6JEUWR2FCBPRHY2BHBAGLTU2RINA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DUUSH66VMAHFMPL7QWG5HKUBB4W3ES3XP7O3PT4AZPT4IXDBOOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GSANGXREOMWMKMRK6VIBYUZVCGDIIWIYOVB6WZNFH7N3UI2QNXJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDCI4PIC5KJKTSU5SLDVTETW6BWQPL7LE7L6LUVR36Y4UVBFE2HA/vendors.js"
            ]
        },
        "UnlockServiceLinkedRole": {
            "input": {
                "type": "structure",
                "required": [
                    "RoleArn"
                ],
                "members": {
                    "RoleArn": {},
                    "DeletionStatus": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSSF5XS5HUR3C7W5ZC3IR75UMMMA3PCQTKZZGJLGG4MYZH4BBJEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKB5H7BXEURSHTO45UD2H6VUEGDKYBUZGAITX4MJJT4CIV734ZRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CKET7NFZYLQL7QAOS5HKSABJQUU4MR57VOKHGJMF272F7JXEZVBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSL4N4SSS2Y6AZFAZDNJSSVHTRJT5RJWHVQ2SIY7WPDUJ5K7CGHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTURIWBS54NM636WKQIELQE56AX6VIX7JZM4CFWEY2ULCRVZSODQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66VKSDDI64JMMV6N3L5PH36XF5G2SCPVEKLW2M5OTUYU7CSJ6XKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLSBFMFUWRE4PFJLLLPXQCUUXWDH3ILY4IFO7WRNMFP5SBBQNL6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USG24L5MSUNPACRTW7CJPT2TCR56CXRZACWKLRQWKI52VJUQQMPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4S3TVXG7J3F2XWJHTBQ4IV3O4XPXT7BTIOUFENRWF7CAEFW6YQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMCDKSWCBWRNEIIZS4Y35MGOAJEDQCULLTGKRN75HRMAV24OYA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ROL5CPN7RLPBP4GLRLLBMHYBNSEJ4K4KTOWYFB3UYLUYOB6AYANA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBAGUVEXL6CJ3YGDWQNKS63OTLIX23ULLFE3DBZDMM6YWTAEAKFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MNVNTTB3TMERZFFXWVZ6R4ROEE66UQ3H7AJRMCGFFQQTHTNDN44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XNOZWWUC65GEORCLJI7TI2VM6WW7T4SX3VS3Z7ZORBIKGCZCPODA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWP2S4FPUKKPHULQNYCB5SZLXBPWKHEAEVT66JL7DMIS2Y4WWI5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJOVZHJKR5CZ6DCCB545CZ3PRCRYJ24DFU2PKZXLDALNRVNPPOMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S5YVPE53ACLH5MQNJVT6Q2OVNTWMHE4UE5245TZ7WUY2GCO2PGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34QJ7YMEQI4OAE45KPZQFIKOO7CSPF4MPEGHPOJKJUFFFL7TIWOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D2WL65OVEJVE2YFXYGEJ43LQC2U632QNHP2WKZJYC7JGGIZC6QOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHZMAUYEKTX4WC2QCNMX5LYDEIKWXF7T2MYNMHCJJAM25T75HMRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MY6XTG3Y345DKGRIXJW67HMJ6JEUWR2FCBPRHY2BHBAGLTU2RINA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DUUSH66VMAHFMPL7QWG5HKUBB4W3ES3XP7O3PT4AZPT4IXDBOOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GSANGXREOMWMKMRK6VIBYUZVCGDIIWIYOVB6WZNFH7N3UI2QNXJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDCI4PIC5KJKTSU5SLDVTETW6BWQPL7LE7L6LUVR36Y4UVBFE2HA/vendors.js"
            ]
        },
        "UpdateRecommendationStatus": {
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "recommendationStatus"
                ],
                "members": {
                    "resourceArn": {},
                    "recommendationStatus": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "requestId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSSF5XS5HUR3C7W5ZC3IR75UMMMA3PCQTKZZGJLGG4MYZH4BBJEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKB5H7BXEURSHTO45UD2H6VUEGDKYBUZGAITX4MJJT4CIV734ZRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CKET7NFZYLQL7QAOS5HKSABJQUU4MR57VOKHGJMF272F7JXEZVBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSL4N4SSS2Y6AZFAZDNJSSVHTRJT5RJWHVQ2SIY7WPDUJ5K7CGHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTURIWBS54NM636WKQIELQE56AX6VIX7JZM4CFWEY2ULCRVZSODQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66VKSDDI64JMMV6N3L5PH36XF5G2SCPVEKLW2M5OTUYU7CSJ6XKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLSBFMFUWRE4PFJLLLPXQCUUXWDH3ILY4IFO7WRNMFP5SBBQNL6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USG24L5MSUNPACRTW7CJPT2TCR56CXRZACWKLRQWKI52VJUQQMPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4S3TVXG7J3F2XWJHTBQ4IV3O4XPXT7BTIOUFENRWF7CAEFW6YQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMCDKSWCBWRNEIIZS4Y35MGOAJEDQCULLTGKRN75HRMAV24OYA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ROL5CPN7RLPBP4GLRLLBMHYBNSEJ4K4KTOWYFB3UYLUYOB6AYANA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBAGUVEXL6CJ3YGDWQNKS63OTLIX23ULLFE3DBZDMM6YWTAEAKFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MNVNTTB3TMERZFFXWVZ6R4ROEE66UQ3H7AJRMCGFFQQTHTNDN44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XNOZWWUC65GEORCLJI7TI2VM6WW7T4SX3VS3Z7ZORBIKGCZCPODA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWP2S4FPUKKPHULQNYCB5SZLXBPWKHEAEVT66JL7DMIS2Y4WWI5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJOVZHJKR5CZ6DCCB545CZ3PRCRYJ24DFU2PKZXLDALNRVNPPOMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S5YVPE53ACLH5MQNJVT6Q2OVNTWMHE4UE5245TZ7WUY2GCO2PGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34QJ7YMEQI4OAE45KPZQFIKOO7CSPF4MPEGHPOJKJUFFFL7TIWOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D2WL65OVEJVE2YFXYGEJ43LQC2U632QNHP2WKZJYC7JGGIZC6QOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHZMAUYEKTX4WC2QCNMX5LYDEIKWXF7T2MYNMHCJJAM25T75HMRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MY6XTG3Y345DKGRIXJW67HMJ6JEUWR2FCBPRHY2BHBAGLTU2RINA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DUUSH66VMAHFMPL7QWG5HKUBB4W3ES3XP7O3PT4AZPT4IXDBOOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GSANGXREOMWMKMRK6VIBYUZVCGDIIWIYOVB6WZNFH7N3UI2QNXJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDCI4PIC5KJKTSU5SLDVTETW6BWQPL7LE7L6LUVR36Y4UVBFE2HA/vendors.js"
            ]
        },
        "GetLicensePricingInformation": {
            "input": {
                "type": "structure",
                "members": {
                    "resourceArns": {
                        "type": "list",
                        "member": {}
                    },
                    "licenseName": {},
                    "accountId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "licensePricingInformation": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "currentLicenseInformation": {
                                    "type": "structure",
                                    "members": {
                                        "resourceArn": {},
                                        "licensePrice": {
                                            "type": "double"
                                        },
                                        "licenseName": {},
                                        "instancePrice": {
                                            "type": "double"
                                        }
                                    }
                                },
                                "recommendedLicenseInformationList": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "rank": {
                                                "type": "integer"
                                            },
                                            "licenseModel": {},
                                            "licensePrice": {
                                                "type": "double"
                                            },
                                            "instancePrice": {
                                                "type": "double"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSSF5XS5HUR3C7W5ZC3IR75UMMMA3PCQTKZZGJLGG4MYZH4BBJEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKB5H7BXEURSHTO45UD2H6VUEGDKYBUZGAITX4MJJT4CIV734ZRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CKET7NFZYLQL7QAOS5HKSABJQUU4MR57VOKHGJMF272F7JXEZVBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSL4N4SSS2Y6AZFAZDNJSSVHTRJT5RJWHVQ2SIY7WPDUJ5K7CGHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTURIWBS54NM636WKQIELQE56AX6VIX7JZM4CFWEY2ULCRVZSODQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66VKSDDI64JMMV6N3L5PH36XF5G2SCPVEKLW2M5OTUYU7CSJ6XKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLSBFMFUWRE4PFJLLLPXQCUUXWDH3ILY4IFO7WRNMFP5SBBQNL6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USG24L5MSUNPACRTW7CJPT2TCR56CXRZACWKLRQWKI52VJUQQMPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4S3TVXG7J3F2XWJHTBQ4IV3O4XPXT7BTIOUFENRWF7CAEFW6YQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMCDKSWCBWRNEIIZS4Y35MGOAJEDQCULLTGKRN75HRMAV24OYA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ROL5CPN7RLPBP4GLRLLBMHYBNSEJ4K4KTOWYFB3UYLUYOB6AYANA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBAGUVEXL6CJ3YGDWQNKS63OTLIX23ULLFE3DBZDMM6YWTAEAKFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MNVNTTB3TMERZFFXWVZ6R4ROEE66UQ3H7AJRMCGFFQQTHTNDN44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XNOZWWUC65GEORCLJI7TI2VM6WW7T4SX3VS3Z7ZORBIKGCZCPODA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWP2S4FPUKKPHULQNYCB5SZLXBPWKHEAEVT66JL7DMIS2Y4WWI5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJOVZHJKR5CZ6DCCB545CZ3PRCRYJ24DFU2PKZXLDALNRVNPPOMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S5YVPE53ACLH5MQNJVT6Q2OVNTWMHE4UE5245TZ7WUY2GCO2PGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34QJ7YMEQI4OAE45KPZQFIKOO7CSPF4MPEGHPOJKJUFFFL7TIWOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D2WL65OVEJVE2YFXYGEJ43LQC2U632QNHP2WKZJYC7JGGIZC6QOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHZMAUYEKTX4WC2QCNMX5LYDEIKWXF7T2MYNMHCJJAM25T75HMRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MY6XTG3Y345DKGRIXJW67HMJ6JEUWR2FCBPRHY2BHBAGLTU2RINA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DUUSH66VMAHFMPL7QWG5HKUBB4W3ES3XP7O3PT4AZPT4IXDBOOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GSANGXREOMWMKMRK6VIBYUZVCGDIIWIYOVB6WZNFH7N3UI2QNXJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDCI4PIC5KJKTSU5SLDVTETW6BWQPL7LE7L6LUVR36Y4UVBFE2HA/vendors.js"
            ]
        }
    },
    "shapes": {
        "Sc": {
            "type": "list",
            "member": {
                "type": "timestamp"
            }
        },
        "Sd": {
            "type": "list",
            "member": {
                "type": "double"
            }
        },
        "Ss": {
            "type": "string",
            "sensitive": true
        },
        "S1g": {
            "type": "structure",
            "members": {
                "instanceConfiguration": {
                    "type": "structure",
                    "members": {
                        "instanceType": {},
                        "vcpus": {
                            "type": "integer"
                        },
                        "memory": {},
                        "storage": {},
                        "network": {}
                    }
                },
                "pricing": {
                    "type": "structure",
                    "members": {
                        "onDemandPrice": {
                            "type": "double"
                        },
                        "standardOneYearNoUpfrontReservedPrice": {
                            "type": "double"
                        },
                        "standardThreeYearNoUpfrontReservedPrice": {
                            "type": "double"
                        }
                    }
                },
                "cost": {
                    "type": "structure",
                    "members": {
                        "totalRunningHoursInLookbackPeriod": {},
                        "costOfInstanceInLookbackPeriod": {},
                        "onDemandHoursInLookbackPeriod": {},
                        "reservationCoveredHoursInLookbackPeriod": {},
                        "savingPlanCoveredHoursInLookbackPeriod": {},
                        "currencyCode": {}
                    }
                },
                "reservedInstancesUtilization": {},
                "reservedInstancesCoverage": {}
            }
        },
        "S23": {
            "type": "structure",
            "members": {
                "key": {},
                "value": {}
            }
        },
        "S2h": {
            "type": "structure",
            "required": [
                "currency",
                "number"
            ],
            "members": {
                "currency": {},
                "number": {
                    "type": "double"
                }
            }
        },
        "S2m": {
            "type": "structure",
            "members": {
                "averageCpuUtilization": {
                    "type": "double"
                },
                "averageNetworkInBytes": {
                    "type": "double"
                },
                "averageNetworkOutBytes": {
                    "type": "double"
                },
                "averageDiskWriteBytes": {
                    "type": "double"
                },
                "averageDiskReadBytes": {
                    "type": "double"
                }
            }
        },
        "S4d": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "rdsPriceName": {},
                    "value": {
                        "type": "double"
                    }
                }
            }
        },
        "S4u": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "S9": {
            "type": "string",
            "sensitive": true
        },
        "Se": {
            "type": "list",
            "member": {
                "type": "double"
            }
        },
        "S4p": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "rdsPriceName": {},
                    "value": {
                        "type": "double"
                    }
                }
            }
        },
        "S57": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "S18": {
            "type": "structure",
            "members": {
                "cpuVendorArchitectures": {
                    "type": "list",
                    "member": {}
                }
            }
        },
        "S4s": {
            "type": "structure",
            "members": {
                "cpuVendorArchitecture": {},
                "vcpus": {
                    "type": "integer"
                },
                "memoryInMib": {
                    "type": "integer"
                },
                "ebsBandwidth": {},
                "networkPerformance": {}
            }
        },
        "S19": {
            "type": "structure",
            "members": {
                "cpuVendorArchitectures": {
                    "type": "list",
                    "member": {}
                }
            }
        },
        "S1h": {
            "type": "structure",
            "members": {
                "instanceConfiguration": {
                    "type": "structure",
                    "members": {
                        "instanceType": {},
                        "vcpus": {
                            "type": "integer"
                        },
                        "memory": {},
                        "storage": {},
                        "network": {}
                    }
                },
                "pricing": {
                    "type": "structure",
                    "members": {
                        "onDemandPrice": {
                            "type": "double"
                        },
                        "standardOneYearNoUpfrontReservedPrice": {
                            "type": "double"
                        },
                        "standardThreeYearNoUpfrontReservedPrice": {
                            "type": "double"
                        },
                        "afterDiscountsPrice": {
                            "type": "double"
                        }
                    }
                },
                "cost": {
                    "type": "structure",
                    "members": {
                        "totalRunningHoursInLookbackPeriod": {},
                        "costOfInstanceInLookbackPeriod": {},
                        "onDemandHoursInLookbackPeriod": {},
                        "reservationCoveredHoursInLookbackPeriod": {},
                        "savingPlanCoveredHoursInLookbackPeriod": {},
                        "currencyCode": {}
                    }
                },
                "reservedInstancesUtilization": {},
                "reservedInstancesCoverage": {}
            }
        },
        "S24": {
            "type": "structure",
            "members": {
                "key": {},
                "value": {}
            }
        },
        "S2i": {
            "type": "structure",
            "required": [
                "currency",
                "number"
            ],
            "members": {
                "currency": {},
                "number": {
                    "type": "double"
                }
            }
        },
        "S2n": {
            "type": "structure",
            "members": {
                "averageCpuUtilization": {
                    "type": "double"
                },
                "averageNetworkInBytes": {
                    "type": "double"
                },
                "averageNetworkOutBytes": {
                    "type": "double"
                },
                "averageDiskWriteBytes": {
                    "type": "double"
                },
                "averageDiskReadBytes": {
                    "type": "double"
                }
            }
        },
        "S4q": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "rdsPriceName": {},
                    "value": {
                        "type": "double"
                    }
                }
            }
        },
        "S4t": {
            "type": "structure",
            "members": {
                "cpuVendorArchitecture": {},
                "vcpus": {
                    "type": "integer"
                },
                "memoryInMib": {
                    "type": "integer"
                },
                "ebsBandwidth": {},
                "networkPerformance": {}
            }
        },
        "S58": {
            "type": "map",
            "key": {},
            "value": {}
        }
    }
}