{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2019-08-28",
        "endpointPrefix": "compute-optimizer",
        "jsonVersion": "1.0",
        "protocol": "json",
        "serviceAbbreviation": "mettleinternal",
        "serviceFullName": "Mettle Cell Router Service",
        "serviceId": "mettleinternal",
        "signatureVersion": "v4",
        "signingName": "mettle",
        "targetPrefix": "com.amazonaws.mettle.cellrouter.MettleCellRouterService",
        "uid": "mettleinternal-2019-08-28",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZDB4P47VBJ6BW7LHCCBFROCLILLDWK73PG74FUVOTNUZNCC6SUXQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3QX53E25HMIWVCXH43GMZAYRBADKDJS4VTDPERGXML2ST2BB2UQQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/X5PDD3AZVIIJ7XM3SZKHERQYULK72BNM2F54C6ID6ATKN5AQ4I3A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MGTL6IPNNY4VO2YD5VFBABML4F5SNA5PBPY6YAIMAXX6D44L2AOQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CFYVJNAOD7WY6HHIKTXLVLEPZZAKNO26GC7IDDT6PNNSVOM7AJPA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IO5GSEYSYYMFCL7CP2YW3IFFU2WRVGRCH3GNG3V5G6ARS27IJU7Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z74GLHXY5SILY5DXUHKBSBGLRJNDC7CQCBXASPKBHV3JZSHDS5AA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VWAJPPGHGKL45OCXCWC27MGZD7DSGMJECOWJM2BN3KD2HU2E2FDA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XXN273UYZPVGIS6HPJSNVFI4SXEL6R62HEE4LVWYELFWWSTVXB6Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2IIUOC7QOKTRKCWWVBDA6M4JUAJBN5I2NNA7QU33SJYDMY4FFNJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/M4TRP7LVOVAH4JXTABTX6U3ULTB7QQG3HBU5ZMNT5O5ADAJYFPWQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JFFYEVX7DMC6AJ2HEDWESROIIJFVB57QAJI3CLA5CBFBWLL6PGFQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GPXQHZZD3WWBCTRKYSP2RFH762XOW65PGON5MINGBL2JIJVPQPTA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JQXQVVR27DGCAIVZAZL72TENPNVSNVTNYMVH3W6WCN5MTV4Y4TEQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YWOH3O2H6T2DAZNZD4J5I2MM7RMJ47UPUAQANLM5VJGPX3FSHU7Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L2OXZPOLMKP2DVQ3KSZ3PIIGEOWOQEFAARLZCTKAHL4QBRQA7VPQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ER7OLCRICE77KVAGZKYJLU34TIHJXCP6IIKHLAGWLGPTJF4S2E3Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/75YFAJXMCOUH3VUT3VXVMPLADMBKZLFH5UNOLYLIRRWKOMBSQSQA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XEXAWC3ICJLFWPADRWYCJZHV3QZ7DDE5T4DRDOHEA2YHK7FJ3LTQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/75TSZFGA67IOSRC45DKF4IP4KDKG4XSSEBIHTSYYUUHMR6SA6OFA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WWMFXMRCTRFMXC354M23DQ2P6C6SPGYJ7KZLKSWRFAHU5FVLNXFA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IF7KLRDHYC2XYPES7JK5FD44FTWLW7XSZOPKMBWPYPIQSLC2ANVQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AJ7TKQVF4Y7UK6X7SNXREJGABONAAHNY6GVBTEN4AKAYHDFSBA7A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/N76ISRLRT4QEIB5MYPT2OCSU72PENI36HANWRUNCK5CSVJ2KNXRQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BVTPZ4HX23GXJY4YBJMIC7G4DZFPGPT3RG556QSGJPU3XPKCGDTQ/vendors.js"
        ]
    },
    "operations": {
        "GetCurrentResourceMetrics": {
            "input": {
                "type": "structure",
                "members": {
                    "resourceArn": {},
                    "currentResourceMetricsNames": {
                        "type": "list",
                        "member": {}
                    },
                    "stat": {},
                    "period": {
                        "type": "integer"
                    },
                    "startTime": {
                        "type": "timestamp"
                    },
                    "endTime": {
                        "type": "timestamp"
                    },
                    "requesterAccountId": {},
                    "encryptedFas": {
                        "shape": "S9"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "currentResourceMetrics": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "name": {},
                                "timestamps": {
                                    "shape": "Sc"
                                },
                                "values": {
                                    "shape": "Sd"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QX53E25HMIWVCXH43GMZAYRBADKDJS4VTDPERGXML2ST2BB2UQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5PDD3AZVIIJ7XM3SZKHERQYULK72BNM2F54C6ID6ATKN5AQ4I3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGTL6IPNNY4VO2YD5VFBABML4F5SNA5PBPY6YAIMAXX6D44L2AOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFYVJNAOD7WY6HHIKTXLVLEPZZAKNO26GC7IDDT6PNNSVOM7AJPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IO5GSEYSYYMFCL7CP2YW3IFFU2WRVGRCH3GNG3V5G6ARS27IJU7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z74GLHXY5SILY5DXUHKBSBGLRJNDC7CQCBXASPKBHV3JZSHDS5AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWAJPPGHGKL45OCXCWC27MGZD7DSGMJECOWJM2BN3KD2HU2E2FDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXN273UYZPVGIS6HPJSNVFI4SXEL6R62HEE4LVWYELFWWSTVXB6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2IIUOC7QOKTRKCWWVBDA6M4JUAJBN5I2NNA7QU33SJYDMY4FFNJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4TRP7LVOVAH4JXTABTX6U3ULTB7QQG3HBU5ZMNT5O5ADAJYFPWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JFFYEVX7DMC6AJ2HEDWESROIIJFVB57QAJI3CLA5CBFBWLL6PGFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPXQHZZD3WWBCTRKYSP2RFH762XOW65PGON5MINGBL2JIJVPQPTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQXQVVR27DGCAIVZAZL72TENPNVSNVTNYMVH3W6WCN5MTV4Y4TEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWOH3O2H6T2DAZNZD4J5I2MM7RMJ47UPUAQANLM5VJGPX3FSHU7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2OXZPOLMKP2DVQ3KSZ3PIIGEOWOQEFAARLZCTKAHL4QBRQA7VPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ER7OLCRICE77KVAGZKYJLU34TIHJXCP6IIKHLAGWLGPTJF4S2E3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/75YFAJXMCOUH3VUT3VXVMPLADMBKZLFH5UNOLYLIRRWKOMBSQSQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEXAWC3ICJLFWPADRWYCJZHV3QZ7DDE5T4DRDOHEA2YHK7FJ3LTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/75TSZFGA67IOSRC45DKF4IP4KDKG4XSSEBIHTSYYUUHMR6SA6OFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWMFXMRCTRFMXC354M23DQ2P6C6SPGYJ7KZLKSWRFAHU5FVLNXFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IF7KLRDHYC2XYPES7JK5FD44FTWLW7XSZOPKMBWPYPIQSLC2ANVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ7TKQVF4Y7UK6X7SNXREJGABONAAHNY6GVBTEN4AKAYHDFSBA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N76ISRLRT4QEIB5MYPT2OCSU72PENI36HANWRUNCK5CSVJ2KNXRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVTPZ4HX23GXJY4YBJMIC7G4DZFPGPT3RG556QSGJPU3XPKCGDTQ/vendors.js"
            ]
        },
        "GetECSServicePricingInformation": {
            "input": {
                "type": "structure",
                "members": {
                    "serviceArns": {
                        "type": "list",
                        "member": {}
                    },
                    "accountId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "servicePricingInformation": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "currentServiceInformation": {
                                    "type": "structure",
                                    "members": {
                                        "serviceArn": {},
                                        "fargatePrice": {
                                            "type": "double"
                                        }
                                    }
                                },
                                "recommendedServiceInformationList": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "fargatePrice": {
                                                "type": "double"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QX53E25HMIWVCXH43GMZAYRBADKDJS4VTDPERGXML2ST2BB2UQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5PDD3AZVIIJ7XM3SZKHERQYULK72BNM2F54C6ID6ATKN5AQ4I3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGTL6IPNNY4VO2YD5VFBABML4F5SNA5PBPY6YAIMAXX6D44L2AOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFYVJNAOD7WY6HHIKTXLVLEPZZAKNO26GC7IDDT6PNNSVOM7AJPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IO5GSEYSYYMFCL7CP2YW3IFFU2WRVGRCH3GNG3V5G6ARS27IJU7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z74GLHXY5SILY5DXUHKBSBGLRJNDC7CQCBXASPKBHV3JZSHDS5AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWAJPPGHGKL45OCXCWC27MGZD7DSGMJECOWJM2BN3KD2HU2E2FDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXN273UYZPVGIS6HPJSNVFI4SXEL6R62HEE4LVWYELFWWSTVXB6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2IIUOC7QOKTRKCWWVBDA6M4JUAJBN5I2NNA7QU33SJYDMY4FFNJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4TRP7LVOVAH4JXTABTX6U3ULTB7QQG3HBU5ZMNT5O5ADAJYFPWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JFFYEVX7DMC6AJ2HEDWESROIIJFVB57QAJI3CLA5CBFBWLL6PGFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPXQHZZD3WWBCTRKYSP2RFH762XOW65PGON5MINGBL2JIJVPQPTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQXQVVR27DGCAIVZAZL72TENPNVSNVTNYMVH3W6WCN5MTV4Y4TEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWOH3O2H6T2DAZNZD4J5I2MM7RMJ47UPUAQANLM5VJGPX3FSHU7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2OXZPOLMKP2DVQ3KSZ3PIIGEOWOQEFAARLZCTKAHL4QBRQA7VPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ER7OLCRICE77KVAGZKYJLU34TIHJXCP6IIKHLAGWLGPTJF4S2E3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/75YFAJXMCOUH3VUT3VXVMPLADMBKZLFH5UNOLYLIRRWKOMBSQSQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEXAWC3ICJLFWPADRWYCJZHV3QZ7DDE5T4DRDOHEA2YHK7FJ3LTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/75TSZFGA67IOSRC45DKF4IP4KDKG4XSSEBIHTSYYUUHMR6SA6OFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWMFXMRCTRFMXC354M23DQ2P6C6SPGYJ7KZLKSWRFAHU5FVLNXFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IF7KLRDHYC2XYPES7JK5FD44FTWLW7XSZOPKMBWPYPIQSLC2ANVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ7TKQVF4Y7UK6X7SNXREJGABONAAHNY6GVBTEN4AKAYHDFSBA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N76ISRLRT4QEIB5MYPT2OCSU72PENI36HANWRUNCK5CSVJ2KNXRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVTPZ4HX23GXJY4YBJMIC7G4DZFPGPT3RG556QSGJPU3XPKCGDTQ/vendors.js"
            ]
        },
        "GetEbsVolumePricingInformation": {
            "input": {
                "type": "structure",
                "members": {
                    "volumeArns": {
                        "type": "list",
                        "member": {}
                    },
                    "accountId": {},
                    "encryptedFas": {
                        "shape": "Ss"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "volumePricingInformation": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "currentVolumeInformation": {
                                    "type": "structure",
                                    "members": {
                                        "volumeArn": {},
                                        "price": {
                                            "type": "double"
                                        }
                                    }
                                },
                                "recommendedVolumeInformationList": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "rank": {
                                                "type": "integer"
                                            },
                                            "price": {
                                                "type": "double"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QX53E25HMIWVCXH43GMZAYRBADKDJS4VTDPERGXML2ST2BB2UQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5PDD3AZVIIJ7XM3SZKHERQYULK72BNM2F54C6ID6ATKN5AQ4I3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGTL6IPNNY4VO2YD5VFBABML4F5SNA5PBPY6YAIMAXX6D44L2AOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFYVJNAOD7WY6HHIKTXLVLEPZZAKNO26GC7IDDT6PNNSVOM7AJPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IO5GSEYSYYMFCL7CP2YW3IFFU2WRVGRCH3GNG3V5G6ARS27IJU7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z74GLHXY5SILY5DXUHKBSBGLRJNDC7CQCBXASPKBHV3JZSHDS5AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWAJPPGHGKL45OCXCWC27MGZD7DSGMJECOWJM2BN3KD2HU2E2FDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXN273UYZPVGIS6HPJSNVFI4SXEL6R62HEE4LVWYELFWWSTVXB6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2IIUOC7QOKTRKCWWVBDA6M4JUAJBN5I2NNA7QU33SJYDMY4FFNJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4TRP7LVOVAH4JXTABTX6U3ULTB7QQG3HBU5ZMNT5O5ADAJYFPWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JFFYEVX7DMC6AJ2HEDWESROIIJFVB57QAJI3CLA5CBFBWLL6PGFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPXQHZZD3WWBCTRKYSP2RFH762XOW65PGON5MINGBL2JIJVPQPTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQXQVVR27DGCAIVZAZL72TENPNVSNVTNYMVH3W6WCN5MTV4Y4TEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWOH3O2H6T2DAZNZD4J5I2MM7RMJ47UPUAQANLM5VJGPX3FSHU7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2OXZPOLMKP2DVQ3KSZ3PIIGEOWOQEFAARLZCTKAHL4QBRQA7VPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ER7OLCRICE77KVAGZKYJLU34TIHJXCP6IIKHLAGWLGPTJF4S2E3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/75YFAJXMCOUH3VUT3VXVMPLADMBKZLFH5UNOLYLIRRWKOMBSQSQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEXAWC3ICJLFWPADRWYCJZHV3QZ7DDE5T4DRDOHEA2YHK7FJ3LTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/75TSZFGA67IOSRC45DKF4IP4KDKG4XSSEBIHTSYYUUHMR6SA6OFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWMFXMRCTRFMXC354M23DQ2P6C6SPGYJ7KZLKSWRFAHU5FVLNXFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IF7KLRDHYC2XYPES7JK5FD44FTWLW7XSZOPKMBWPYPIQSLC2ANVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ7TKQVF4Y7UK6X7SNXREJGABONAAHNY6GVBTEN4AKAYHDFSBA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N76ISRLRT4QEIB5MYPT2OCSU72PENI36HANWRUNCK5CSVJ2KNXRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVTPZ4HX23GXJY4YBJMIC7G4DZFPGPT3RG556QSGJPU3XPKCGDTQ/vendors.js"
            ]
        },
        "GetInstancePricingInformation": {
            "input": {
                "type": "structure",
                "members": {
                    "awsAccountId": {},
                    "instanceArns": {
                        "type": "list",
                        "member": {}
                    },
                    "encryptedFas": {
                        "shape": "Ss"
                    },
                    "autoScalingGroupArns": {
                        "type": "list",
                        "member": {}
                    },
                    "includeCostInformation": {
                        "type": "boolean"
                    },
                    "includeMemoryMetricInformation": {
                        "type": "boolean"
                    },
                    "recommendationPreferences": {
                        "type": "structure",
                        "members": {
                            "cpuVendorArchitectures": {
                                "type": "list",
                                "member": {}
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "instancePricingInformation": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "currentInstanceInformation": {
                                    "type": "structure",
                                    "members": {
                                        "resourceArn": {},
                                        "instanceInformation": {
                                            "shape": "S1g"
                                        },
                                        "memoryMetricName": {},
                                        "memoryMetricNamespace": {},
                                        "memoryMetricDimensions": {
                                            "type": "list",
                                            "member": {
                                                "shape": "S23"
                                            }
                                        }
                                    }
                                },
                                "recommendedInstanceInformations": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "rank": {
                                                "type": "integer"
                                            },
                                            "instanceInformation": {
                                                "shape": "S1g"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QX53E25HMIWVCXH43GMZAYRBADKDJS4VTDPERGXML2ST2BB2UQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5PDD3AZVIIJ7XM3SZKHERQYULK72BNM2F54C6ID6ATKN5AQ4I3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGTL6IPNNY4VO2YD5VFBABML4F5SNA5PBPY6YAIMAXX6D44L2AOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFYVJNAOD7WY6HHIKTXLVLEPZZAKNO26GC7IDDT6PNNSVOM7AJPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IO5GSEYSYYMFCL7CP2YW3IFFU2WRVGRCH3GNG3V5G6ARS27IJU7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z74GLHXY5SILY5DXUHKBSBGLRJNDC7CQCBXASPKBHV3JZSHDS5AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWAJPPGHGKL45OCXCWC27MGZD7DSGMJECOWJM2BN3KD2HU2E2FDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXN273UYZPVGIS6HPJSNVFI4SXEL6R62HEE4LVWYELFWWSTVXB6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2IIUOC7QOKTRKCWWVBDA6M4JUAJBN5I2NNA7QU33SJYDMY4FFNJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4TRP7LVOVAH4JXTABTX6U3ULTB7QQG3HBU5ZMNT5O5ADAJYFPWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JFFYEVX7DMC6AJ2HEDWESROIIJFVB57QAJI3CLA5CBFBWLL6PGFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPXQHZZD3WWBCTRKYSP2RFH762XOW65PGON5MINGBL2JIJVPQPTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQXQVVR27DGCAIVZAZL72TENPNVSNVTNYMVH3W6WCN5MTV4Y4TEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWOH3O2H6T2DAZNZD4J5I2MM7RMJ47UPUAQANLM5VJGPX3FSHU7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2OXZPOLMKP2DVQ3KSZ3PIIGEOWOQEFAARLZCTKAHL4QBRQA7VPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ER7OLCRICE77KVAGZKYJLU34TIHJXCP6IIKHLAGWLGPTJF4S2E3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/75YFAJXMCOUH3VUT3VXVMPLADMBKZLFH5UNOLYLIRRWKOMBSQSQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEXAWC3ICJLFWPADRWYCJZHV3QZ7DDE5T4DRDOHEA2YHK7FJ3LTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/75TSZFGA67IOSRC45DKF4IP4KDKG4XSSEBIHTSYYUUHMR6SA6OFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWMFXMRCTRFMXC354M23DQ2P6C6SPGYJ7KZLKSWRFAHU5FVLNXFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IF7KLRDHYC2XYPES7JK5FD44FTWLW7XSZOPKMBWPYPIQSLC2ANVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ7TKQVF4Y7UK6X7SNXREJGABONAAHNY6GVBTEN4AKAYHDFSBA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N76ISRLRT4QEIB5MYPT2OCSU72PENI36HANWRUNCK5CSVJ2KNXRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVTPZ4HX23GXJY4YBJMIC7G4DZFPGPT3RG556QSGJPU3XPKCGDTQ/vendors.js"
            ]
        },
        "GetInstanceRecommendationsInternal": {
            "input": {
                "type": "structure",
                "required": [
                    "awsAccountId"
                ],
                "members": {
                    "awsAccountId": {},
                    "instanceIds": {
                        "type": "list",
                        "member": {}
                    },
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "instanceRecommendations": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "instance": {
                                    "type": "structure",
                                    "members": {
                                        "instanceId": {},
                                        "monthlyOnDemandCost": {
                                            "shape": "S2h"
                                        },
                                        "instanceType": {},
                                        "awsAccountId": {},
                                        "region": {},
                                        "availabilityZone": {},
                                        "operatingSystem": {},
                                        "utilization": {
                                            "shape": "S2m"
                                        }
                                    }
                                },
                                "reasonCode": {},
                                "recommendations": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "instanceType": {},
                                            "estimatedMonthlyCostChange": {
                                                "shape": "S2h"
                                            },
                                            "projectedUtilization": {
                                                "shape": "S2m"
                                            }
                                        }
                                    }
                                },
                                "recommendationUnavailableReason": {
                                    "type": "structure",
                                    "members": {
                                        "message": {},
                                        "code": {}
                                    }
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QX53E25HMIWVCXH43GMZAYRBADKDJS4VTDPERGXML2ST2BB2UQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5PDD3AZVIIJ7XM3SZKHERQYULK72BNM2F54C6ID6ATKN5AQ4I3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGTL6IPNNY4VO2YD5VFBABML4F5SNA5PBPY6YAIMAXX6D44L2AOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFYVJNAOD7WY6HHIKTXLVLEPZZAKNO26GC7IDDT6PNNSVOM7AJPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IO5GSEYSYYMFCL7CP2YW3IFFU2WRVGRCH3GNG3V5G6ARS27IJU7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z74GLHXY5SILY5DXUHKBSBGLRJNDC7CQCBXASPKBHV3JZSHDS5AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWAJPPGHGKL45OCXCWC27MGZD7DSGMJECOWJM2BN3KD2HU2E2FDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXN273UYZPVGIS6HPJSNVFI4SXEL6R62HEE4LVWYELFWWSTVXB6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2IIUOC7QOKTRKCWWVBDA6M4JUAJBN5I2NNA7QU33SJYDMY4FFNJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4TRP7LVOVAH4JXTABTX6U3ULTB7QQG3HBU5ZMNT5O5ADAJYFPWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JFFYEVX7DMC6AJ2HEDWESROIIJFVB57QAJI3CLA5CBFBWLL6PGFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPXQHZZD3WWBCTRKYSP2RFH762XOW65PGON5MINGBL2JIJVPQPTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQXQVVR27DGCAIVZAZL72TENPNVSNVTNYMVH3W6WCN5MTV4Y4TEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWOH3O2H6T2DAZNZD4J5I2MM7RMJ47UPUAQANLM5VJGPX3FSHU7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2OXZPOLMKP2DVQ3KSZ3PIIGEOWOQEFAARLZCTKAHL4QBRQA7VPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ER7OLCRICE77KVAGZKYJLU34TIHJXCP6IIKHLAGWLGPTJF4S2E3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/75YFAJXMCOUH3VUT3VXVMPLADMBKZLFH5UNOLYLIRRWKOMBSQSQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEXAWC3ICJLFWPADRWYCJZHV3QZ7DDE5T4DRDOHEA2YHK7FJ3LTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/75TSZFGA67IOSRC45DKF4IP4KDKG4XSSEBIHTSYYUUHMR6SA6OFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWMFXMRCTRFMXC354M23DQ2P6C6SPGYJ7KZLKSWRFAHU5FVLNXFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IF7KLRDHYC2XYPES7JK5FD44FTWLW7XSZOPKMBWPYPIQSLC2ANVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ7TKQVF4Y7UK6X7SNXREJGABONAAHNY6GVBTEN4AKAYHDFSBA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N76ISRLRT4QEIB5MYPT2OCSU72PENI36HANWRUNCK5CSVJ2KNXRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVTPZ4HX23GXJY4YBJMIC7G4DZFPGPT3RG556QSGJPU3XPKCGDTQ/vendors.js"
            ]
        },
        "GetLambdaFunctionPricingInformation": {
            "input": {
                "type": "structure",
                "members": {
                    "functionArns": {
                        "type": "list",
                        "member": {}
                    },
                    "accountId": {},
                    "encryptedFas": {
                        "shape": "Ss"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "lambdaPricingInformation": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "functionArn": {},
                                "timeout": {
                                    "type": "integer"
                                },
                                "currentPricingInformation": {
                                    "type": "structure",
                                    "members": {
                                        "averagePrice": {
                                            "type": "double"
                                        },
                                        "totalPrice": {
                                            "type": "double"
                                        }
                                    }
                                },
                                "memoryRecommendationOptionsPricingInformation": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "rank": {
                                                "type": "integer"
                                            },
                                            "memorySize": {
                                                "type": "integer"
                                            },
                                            "lowerBoundPrice": {
                                                "type": "double"
                                            },
                                            "upperBoundPrice": {
                                                "type": "double"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QX53E25HMIWVCXH43GMZAYRBADKDJS4VTDPERGXML2ST2BB2UQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5PDD3AZVIIJ7XM3SZKHERQYULK72BNM2F54C6ID6ATKN5AQ4I3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGTL6IPNNY4VO2YD5VFBABML4F5SNA5PBPY6YAIMAXX6D44L2AOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFYVJNAOD7WY6HHIKTXLVLEPZZAKNO26GC7IDDT6PNNSVOM7AJPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IO5GSEYSYYMFCL7CP2YW3IFFU2WRVGRCH3GNG3V5G6ARS27IJU7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z74GLHXY5SILY5DXUHKBSBGLRJNDC7CQCBXASPKBHV3JZSHDS5AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWAJPPGHGKL45OCXCWC27MGZD7DSGMJECOWJM2BN3KD2HU2E2FDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXN273UYZPVGIS6HPJSNVFI4SXEL6R62HEE4LVWYELFWWSTVXB6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2IIUOC7QOKTRKCWWVBDA6M4JUAJBN5I2NNA7QU33SJYDMY4FFNJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4TRP7LVOVAH4JXTABTX6U3ULTB7QQG3HBU5ZMNT5O5ADAJYFPWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JFFYEVX7DMC6AJ2HEDWESROIIJFVB57QAJI3CLA5CBFBWLL6PGFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPXQHZZD3WWBCTRKYSP2RFH762XOW65PGON5MINGBL2JIJVPQPTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQXQVVR27DGCAIVZAZL72TENPNVSNVTNYMVH3W6WCN5MTV4Y4TEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWOH3O2H6T2DAZNZD4J5I2MM7RMJ47UPUAQANLM5VJGPX3FSHU7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2OXZPOLMKP2DVQ3KSZ3PIIGEOWOQEFAARLZCTKAHL4QBRQA7VPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ER7OLCRICE77KVAGZKYJLU34TIHJXCP6IIKHLAGWLGPTJF4S2E3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/75YFAJXMCOUH3VUT3VXVMPLADMBKZLFH5UNOLYLIRRWKOMBSQSQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEXAWC3ICJLFWPADRWYCJZHV3QZ7DDE5T4DRDOHEA2YHK7FJ3LTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/75TSZFGA67IOSRC45DKF4IP4KDKG4XSSEBIHTSYYUUHMR6SA6OFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWMFXMRCTRFMXC354M23DQ2P6C6SPGYJ7KZLKSWRFAHU5FVLNXFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IF7KLRDHYC2XYPES7JK5FD44FTWLW7XSZOPKMBWPYPIQSLC2ANVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ7TKQVF4Y7UK6X7SNXREJGABONAAHNY6GVBTEN4AKAYHDFSBA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N76ISRLRT4QEIB5MYPT2OCSU72PENI36HANWRUNCK5CSVJ2KNXRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVTPZ4HX23GXJY4YBJMIC7G4DZFPGPT3RG556QSGJPU3XPKCGDTQ/vendors.js"
            ]
        },
        "GetOrganizationMemberData": {
            "input": {
                "type": "structure",
                "required": [
                    "MemberAccountId"
                ],
                "members": {
                    "MemberAccountId": {},
                    "ResourceArns": {
                        "type": "list",
                        "member": {}
                    },
                    "GetMetricDataParameters": {
                        "type": "structure",
                        "members": {
                            "MetricDataQueries": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "members": {
                                        "Id": {},
                                        "MetricStat": {
                                            "type": "structure",
                                            "members": {
                                                "Metric": {
                                                    "type": "structure",
                                                    "members": {
                                                        "Namespace": {},
                                                        "MetricName": {},
                                                        "Dimensions": {
                                                            "type": "list",
                                                            "member": {
                                                                "shape": "S23"
                                                            }
                                                        }
                                                    }
                                                },
                                                "Period": {
                                                    "type": "integer"
                                                },
                                                "Stat": {}
                                            }
                                        },
                                        "Expression": {},
                                        "Label": {},
                                        "ReturnData": {
                                            "type": "boolean"
                                        }
                                    }
                                }
                            },
                            "StartTime": {
                                "type": "timestamp"
                            },
                            "EndTime": {
                                "type": "timestamp"
                            },
                            "ScanBy": {}
                        }
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {},
                    "RequesterAccountId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "GetMetricDataResult": {
                        "type": "structure",
                        "members": {
                            "MetricDataResults": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "members": {
                                        "Id": {},
                                        "Label": {},
                                        "Timestamps": {
                                            "shape": "Sc"
                                        },
                                        "Values": {
                                            "shape": "Sd"
                                        }
                                    }
                                }
                            },
                            "Messages": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "members": {
                                        "Code": {},
                                        "Value": {}
                                    }
                                }
                            }
                        }
                    },
                    "DescribeVolumesResult": {
                        "type": "structure",
                        "members": {
                            "Volumes": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "members": {
                                        "VolumeId": {},
                                        "Size": {
                                            "type": "integer"
                                        },
                                        "SnapshotId": {},
                                        "AvailabilityZone": {},
                                        "State": {},
                                        "CreateTime": {
                                            "type": "timestamp"
                                        },
                                        "Attachments": {
                                            "type": "list",
                                            "member": {
                                                "type": "structure",
                                                "members": {
                                                    "VolumeId": {},
                                                    "InstanceId": {},
                                                    "Device": {},
                                                    "State": {},
                                                    "AttachTime": {
                                                        "type": "timestamp"
                                                    },
                                                    "DeleteOnTermination": {
                                                        "type": "boolean"
                                                    }
                                                }
                                            }
                                        },
                                        "Tags": {
                                            "type": "list",
                                            "member": {
                                                "type": "structure",
                                                "members": {
                                                    "Key": {},
                                                    "Value": {}
                                                }
                                            }
                                        },
                                        "VolumeType": {},
                                        "Iops": {
                                            "type": "integer"
                                        },
                                        "Encrypted": {
                                            "type": "boolean"
                                        },
                                        "KmsKeyId": {}
                                    }
                                }
                            }
                        }
                    },
                    "DescribeInstancesResult": {
                        "type": "structure",
                        "members": {
                            "InstanceDetailsList": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "members": {
                                        "InstanceId": {},
                                        "AttachedEbsVolumes": {
                                            "type": "list",
                                            "member": {}
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QX53E25HMIWVCXH43GMZAYRBADKDJS4VTDPERGXML2ST2BB2UQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5PDD3AZVIIJ7XM3SZKHERQYULK72BNM2F54C6ID6ATKN5AQ4I3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGTL6IPNNY4VO2YD5VFBABML4F5SNA5PBPY6YAIMAXX6D44L2AOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFYVJNAOD7WY6HHIKTXLVLEPZZAKNO26GC7IDDT6PNNSVOM7AJPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IO5GSEYSYYMFCL7CP2YW3IFFU2WRVGRCH3GNG3V5G6ARS27IJU7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z74GLHXY5SILY5DXUHKBSBGLRJNDC7CQCBXASPKBHV3JZSHDS5AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWAJPPGHGKL45OCXCWC27MGZD7DSGMJECOWJM2BN3KD2HU2E2FDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXN273UYZPVGIS6HPJSNVFI4SXEL6R62HEE4LVWYELFWWSTVXB6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2IIUOC7QOKTRKCWWVBDA6M4JUAJBN5I2NNA7QU33SJYDMY4FFNJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4TRP7LVOVAH4JXTABTX6U3ULTB7QQG3HBU5ZMNT5O5ADAJYFPWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JFFYEVX7DMC6AJ2HEDWESROIIJFVB57QAJI3CLA5CBFBWLL6PGFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPXQHZZD3WWBCTRKYSP2RFH762XOW65PGON5MINGBL2JIJVPQPTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQXQVVR27DGCAIVZAZL72TENPNVSNVTNYMVH3W6WCN5MTV4Y4TEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWOH3O2H6T2DAZNZD4J5I2MM7RMJ47UPUAQANLM5VJGPX3FSHU7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2OXZPOLMKP2DVQ3KSZ3PIIGEOWOQEFAARLZCTKAHL4QBRQA7VPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ER7OLCRICE77KVAGZKYJLU34TIHJXCP6IIKHLAGWLGPTJF4S2E3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/75YFAJXMCOUH3VUT3VXVMPLADMBKZLFH5UNOLYLIRRWKOMBSQSQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEXAWC3ICJLFWPADRWYCJZHV3QZ7DDE5T4DRDOHEA2YHK7FJ3LTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/75TSZFGA67IOSRC45DKF4IP4KDKG4XSSEBIHTSYYUUHMR6SA6OFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWMFXMRCTRFMXC354M23DQ2P6C6SPGYJ7KZLKSWRFAHU5FVLNXFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IF7KLRDHYC2XYPES7JK5FD44FTWLW7XSZOPKMBWPYPIQSLC2ANVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ7TKQVF4Y7UK6X7SNXREJGABONAAHNY6GVBTEN4AKAYHDFSBA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N76ISRLRT4QEIB5MYPT2OCSU72PENI36HANWRUNCK5CSVJ2KNXRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVTPZ4HX23GXJY4YBJMIC7G4DZFPGPT3RG556QSGJPU3XPKCGDTQ/vendors.js"
            ]
        },
        "GetRDSInstancePricingInformation": {
            "input": {
                "type": "structure",
                "required": [
                    "dbInstanceArns"
                ],
                "members": {
                    "dbInstanceArns": {
                        "type": "list",
                        "member": {}
                    },
                    "accountId": {},
                    "recommendationPreferences": {
                        "shape": "S18"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "rdsInstancePricingInformationList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "currentRDSInstanceInformation": {
                                    "type": "structure",
                                    "members": {
                                        "dbInstanceArn": {},
                                        "rdsPrices": {
                                            "shape": "S4d"
                                        }
                                    }
                                },
                                "recommendedRDSInstanceInformationList": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "rank": {
                                                "type": "integer"
                                            },
                                            "rdsPrices": {
                                                "shape": "S4d"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QX53E25HMIWVCXH43GMZAYRBADKDJS4VTDPERGXML2ST2BB2UQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5PDD3AZVIIJ7XM3SZKHERQYULK72BNM2F54C6ID6ATKN5AQ4I3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGTL6IPNNY4VO2YD5VFBABML4F5SNA5PBPY6YAIMAXX6D44L2AOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFYVJNAOD7WY6HHIKTXLVLEPZZAKNO26GC7IDDT6PNNSVOM7AJPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IO5GSEYSYYMFCL7CP2YW3IFFU2WRVGRCH3GNG3V5G6ARS27IJU7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z74GLHXY5SILY5DXUHKBSBGLRJNDC7CQCBXASPKBHV3JZSHDS5AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWAJPPGHGKL45OCXCWC27MGZD7DSGMJECOWJM2BN3KD2HU2E2FDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXN273UYZPVGIS6HPJSNVFI4SXEL6R62HEE4LVWYELFWWSTVXB6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2IIUOC7QOKTRKCWWVBDA6M4JUAJBN5I2NNA7QU33SJYDMY4FFNJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4TRP7LVOVAH4JXTABTX6U3ULTB7QQG3HBU5ZMNT5O5ADAJYFPWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JFFYEVX7DMC6AJ2HEDWESROIIJFVB57QAJI3CLA5CBFBWLL6PGFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPXQHZZD3WWBCTRKYSP2RFH762XOW65PGON5MINGBL2JIJVPQPTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQXQVVR27DGCAIVZAZL72TENPNVSNVTNYMVH3W6WCN5MTV4Y4TEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWOH3O2H6T2DAZNZD4J5I2MM7RMJ47UPUAQANLM5VJGPX3FSHU7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2OXZPOLMKP2DVQ3KSZ3PIIGEOWOQEFAARLZCTKAHL4QBRQA7VPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ER7OLCRICE77KVAGZKYJLU34TIHJXCP6IIKHLAGWLGPTJF4S2E3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/75YFAJXMCOUH3VUT3VXVMPLADMBKZLFH5UNOLYLIRRWKOMBSQSQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEXAWC3ICJLFWPADRWYCJZHV3QZ7DDE5T4DRDOHEA2YHK7FJ3LTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/75TSZFGA67IOSRC45DKF4IP4KDKG4XSSEBIHTSYYUUHMR6SA6OFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWMFXMRCTRFMXC354M23DQ2P6C6SPGYJ7KZLKSWRFAHU5FVLNXFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IF7KLRDHYC2XYPES7JK5FD44FTWLW7XSZOPKMBWPYPIQSLC2ANVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ7TKQVF4Y7UK6X7SNXREJGABONAAHNY6GVBTEN4AKAYHDFSBA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N76ISRLRT4QEIB5MYPT2OCSU72PENI36HANWRUNCK5CSVJ2KNXRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVTPZ4HX23GXJY4YBJMIC7G4DZFPGPT3RG556QSGJPU3XPKCGDTQ/vendors.js"
            ]
        },
        "GetWorkloadTopicArnInternal": {
            "input": {
                "type": "structure",
                "members": {
                    "awsAccountId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "topicArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QX53E25HMIWVCXH43GMZAYRBADKDJS4VTDPERGXML2ST2BB2UQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5PDD3AZVIIJ7XM3SZKHERQYULK72BNM2F54C6ID6ATKN5AQ4I3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGTL6IPNNY4VO2YD5VFBABML4F5SNA5PBPY6YAIMAXX6D44L2AOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFYVJNAOD7WY6HHIKTXLVLEPZZAKNO26GC7IDDT6PNNSVOM7AJPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IO5GSEYSYYMFCL7CP2YW3IFFU2WRVGRCH3GNG3V5G6ARS27IJU7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z74GLHXY5SILY5DXUHKBSBGLRJNDC7CQCBXASPKBHV3JZSHDS5AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWAJPPGHGKL45OCXCWC27MGZD7DSGMJECOWJM2BN3KD2HU2E2FDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXN273UYZPVGIS6HPJSNVFI4SXEL6R62HEE4LVWYELFWWSTVXB6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2IIUOC7QOKTRKCWWVBDA6M4JUAJBN5I2NNA7QU33SJYDMY4FFNJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4TRP7LVOVAH4JXTABTX6U3ULTB7QQG3HBU5ZMNT5O5ADAJYFPWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JFFYEVX7DMC6AJ2HEDWESROIIJFVB57QAJI3CLA5CBFBWLL6PGFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPXQHZZD3WWBCTRKYSP2RFH762XOW65PGON5MINGBL2JIJVPQPTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQXQVVR27DGCAIVZAZL72TENPNVSNVTNYMVH3W6WCN5MTV4Y4TEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWOH3O2H6T2DAZNZD4J5I2MM7RMJ47UPUAQANLM5VJGPX3FSHU7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2OXZPOLMKP2DVQ3KSZ3PIIGEOWOQEFAARLZCTKAHL4QBRQA7VPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ER7OLCRICE77KVAGZKYJLU34TIHJXCP6IIKHLAGWLGPTJF4S2E3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/75YFAJXMCOUH3VUT3VXVMPLADMBKZLFH5UNOLYLIRRWKOMBSQSQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEXAWC3ICJLFWPADRWYCJZHV3QZ7DDE5T4DRDOHEA2YHK7FJ3LTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/75TSZFGA67IOSRC45DKF4IP4KDKG4XSSEBIHTSYYUUHMR6SA6OFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWMFXMRCTRFMXC354M23DQ2P6C6SPGYJ7KZLKSWRFAHU5FVLNXFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IF7KLRDHYC2XYPES7JK5FD44FTWLW7XSZOPKMBWPYPIQSLC2ANVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ7TKQVF4Y7UK6X7SNXREJGABONAAHNY6GVBTEN4AKAYHDFSBA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N76ISRLRT4QEIB5MYPT2OCSU72PENI36HANWRUNCK5CSVJ2KNXRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVTPZ4HX23GXJY4YBJMIC7G4DZFPGPT3RG556QSGJPU3XPKCGDTQ/vendors.js"
            ]
        },
        "LockServiceLinkedRole": {
            "input": {
                "type": "structure",
                "required": [
                    "RoleArn",
                    "Timeout"
                ],
                "members": {
                    "RoleArn": {},
                    "Timeout": {
                        "type": "long"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "CanBeDeleted"
                ],
                "members": {
                    "CanBeDeleted": {
                        "type": "boolean"
                    },
                    "ReasonOfFailure": {},
                    "RelatedResources": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QX53E25HMIWVCXH43GMZAYRBADKDJS4VTDPERGXML2ST2BB2UQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5PDD3AZVIIJ7XM3SZKHERQYULK72BNM2F54C6ID6ATKN5AQ4I3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGTL6IPNNY4VO2YD5VFBABML4F5SNA5PBPY6YAIMAXX6D44L2AOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFYVJNAOD7WY6HHIKTXLVLEPZZAKNO26GC7IDDT6PNNSVOM7AJPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IO5GSEYSYYMFCL7CP2YW3IFFU2WRVGRCH3GNG3V5G6ARS27IJU7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z74GLHXY5SILY5DXUHKBSBGLRJNDC7CQCBXASPKBHV3JZSHDS5AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWAJPPGHGKL45OCXCWC27MGZD7DSGMJECOWJM2BN3KD2HU2E2FDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXN273UYZPVGIS6HPJSNVFI4SXEL6R62HEE4LVWYELFWWSTVXB6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2IIUOC7QOKTRKCWWVBDA6M4JUAJBN5I2NNA7QU33SJYDMY4FFNJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4TRP7LVOVAH4JXTABTX6U3ULTB7QQG3HBU5ZMNT5O5ADAJYFPWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JFFYEVX7DMC6AJ2HEDWESROIIJFVB57QAJI3CLA5CBFBWLL6PGFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPXQHZZD3WWBCTRKYSP2RFH762XOW65PGON5MINGBL2JIJVPQPTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQXQVVR27DGCAIVZAZL72TENPNVSNVTNYMVH3W6WCN5MTV4Y4TEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWOH3O2H6T2DAZNZD4J5I2MM7RMJ47UPUAQANLM5VJGPX3FSHU7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2OXZPOLMKP2DVQ3KSZ3PIIGEOWOQEFAARLZCTKAHL4QBRQA7VPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ER7OLCRICE77KVAGZKYJLU34TIHJXCP6IIKHLAGWLGPTJF4S2E3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/75YFAJXMCOUH3VUT3VXVMPLADMBKZLFH5UNOLYLIRRWKOMBSQSQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEXAWC3ICJLFWPADRWYCJZHV3QZ7DDE5T4DRDOHEA2YHK7FJ3LTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/75TSZFGA67IOSRC45DKF4IP4KDKG4XSSEBIHTSYYUUHMR6SA6OFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWMFXMRCTRFMXC354M23DQ2P6C6SPGYJ7KZLKSWRFAHU5FVLNXFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IF7KLRDHYC2XYPES7JK5FD44FTWLW7XSZOPKMBWPYPIQSLC2ANVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ7TKQVF4Y7UK6X7SNXREJGABONAAHNY6GVBTEN4AKAYHDFSBA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N76ISRLRT4QEIB5MYPT2OCSU72PENI36HANWRUNCK5CSVJ2KNXRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVTPZ4HX23GXJY4YBJMIC7G4DZFPGPT3RG556QSGJPU3XPKCGDTQ/vendors.js"
            ]
        },
        "RegisterForRecommendations": {
            "input": {
                "type": "structure",
                "required": [
                    "awsAccountId",
                    "actor",
                    "serviceLevels"
                ],
                "members": {
                    "awsAccountId": {},
                    "actor": {},
                    "serviceLevels": {
                        "shape": "S4u"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "awsAccountId": {},
                    "actor": {},
                    "serviceLevels": {
                        "shape": "S4u"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QX53E25HMIWVCXH43GMZAYRBADKDJS4VTDPERGXML2ST2BB2UQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5PDD3AZVIIJ7XM3SZKHERQYULK72BNM2F54C6ID6ATKN5AQ4I3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGTL6IPNNY4VO2YD5VFBABML4F5SNA5PBPY6YAIMAXX6D44L2AOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFYVJNAOD7WY6HHIKTXLVLEPZZAKNO26GC7IDDT6PNNSVOM7AJPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IO5GSEYSYYMFCL7CP2YW3IFFU2WRVGRCH3GNG3V5G6ARS27IJU7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z74GLHXY5SILY5DXUHKBSBGLRJNDC7CQCBXASPKBHV3JZSHDS5AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWAJPPGHGKL45OCXCWC27MGZD7DSGMJECOWJM2BN3KD2HU2E2FDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXN273UYZPVGIS6HPJSNVFI4SXEL6R62HEE4LVWYELFWWSTVXB6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2IIUOC7QOKTRKCWWVBDA6M4JUAJBN5I2NNA7QU33SJYDMY4FFNJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4TRP7LVOVAH4JXTABTX6U3ULTB7QQG3HBU5ZMNT5O5ADAJYFPWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JFFYEVX7DMC6AJ2HEDWESROIIJFVB57QAJI3CLA5CBFBWLL6PGFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPXQHZZD3WWBCTRKYSP2RFH762XOW65PGON5MINGBL2JIJVPQPTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQXQVVR27DGCAIVZAZL72TENPNVSNVTNYMVH3W6WCN5MTV4Y4TEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWOH3O2H6T2DAZNZD4J5I2MM7RMJ47UPUAQANLM5VJGPX3FSHU7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2OXZPOLMKP2DVQ3KSZ3PIIGEOWOQEFAARLZCTKAHL4QBRQA7VPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ER7OLCRICE77KVAGZKYJLU34TIHJXCP6IIKHLAGWLGPTJF4S2E3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/75YFAJXMCOUH3VUT3VXVMPLADMBKZLFH5UNOLYLIRRWKOMBSQSQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEXAWC3ICJLFWPADRWYCJZHV3QZ7DDE5T4DRDOHEA2YHK7FJ3LTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/75TSZFGA67IOSRC45DKF4IP4KDKG4XSSEBIHTSYYUUHMR6SA6OFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWMFXMRCTRFMXC354M23DQ2P6C6SPGYJ7KZLKSWRFAHU5FVLNXFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IF7KLRDHYC2XYPES7JK5FD44FTWLW7XSZOPKMBWPYPIQSLC2ANVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ7TKQVF4Y7UK6X7SNXREJGABONAAHNY6GVBTEN4AKAYHDFSBA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N76ISRLRT4QEIB5MYPT2OCSU72PENI36HANWRUNCK5CSVJ2KNXRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVTPZ4HX23GXJY4YBJMIC7G4DZFPGPT3RG556QSGJPU3XPKCGDTQ/vendors.js"
            ]
        },
        "UnlockServiceLinkedRole": {
            "input": {
                "type": "structure",
                "required": [
                    "RoleArn"
                ],
                "members": {
                    "RoleArn": {},
                    "DeletionStatus": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QX53E25HMIWVCXH43GMZAYRBADKDJS4VTDPERGXML2ST2BB2UQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5PDD3AZVIIJ7XM3SZKHERQYULK72BNM2F54C6ID6ATKN5AQ4I3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGTL6IPNNY4VO2YD5VFBABML4F5SNA5PBPY6YAIMAXX6D44L2AOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFYVJNAOD7WY6HHIKTXLVLEPZZAKNO26GC7IDDT6PNNSVOM7AJPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IO5GSEYSYYMFCL7CP2YW3IFFU2WRVGRCH3GNG3V5G6ARS27IJU7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z74GLHXY5SILY5DXUHKBSBGLRJNDC7CQCBXASPKBHV3JZSHDS5AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWAJPPGHGKL45OCXCWC27MGZD7DSGMJECOWJM2BN3KD2HU2E2FDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXN273UYZPVGIS6HPJSNVFI4SXEL6R62HEE4LVWYELFWWSTVXB6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2IIUOC7QOKTRKCWWVBDA6M4JUAJBN5I2NNA7QU33SJYDMY4FFNJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4TRP7LVOVAH4JXTABTX6U3ULTB7QQG3HBU5ZMNT5O5ADAJYFPWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JFFYEVX7DMC6AJ2HEDWESROIIJFVB57QAJI3CLA5CBFBWLL6PGFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPXQHZZD3WWBCTRKYSP2RFH762XOW65PGON5MINGBL2JIJVPQPTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQXQVVR27DGCAIVZAZL72TENPNVSNVTNYMVH3W6WCN5MTV4Y4TEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWOH3O2H6T2DAZNZD4J5I2MM7RMJ47UPUAQANLM5VJGPX3FSHU7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2OXZPOLMKP2DVQ3KSZ3PIIGEOWOQEFAARLZCTKAHL4QBRQA7VPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ER7OLCRICE77KVAGZKYJLU34TIHJXCP6IIKHLAGWLGPTJF4S2E3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/75YFAJXMCOUH3VUT3VXVMPLADMBKZLFH5UNOLYLIRRWKOMBSQSQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEXAWC3ICJLFWPADRWYCJZHV3QZ7DDE5T4DRDOHEA2YHK7FJ3LTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/75TSZFGA67IOSRC45DKF4IP4KDKG4XSSEBIHTSYYUUHMR6SA6OFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWMFXMRCTRFMXC354M23DQ2P6C6SPGYJ7KZLKSWRFAHU5FVLNXFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IF7KLRDHYC2XYPES7JK5FD44FTWLW7XSZOPKMBWPYPIQSLC2ANVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ7TKQVF4Y7UK6X7SNXREJGABONAAHNY6GVBTEN4AKAYHDFSBA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N76ISRLRT4QEIB5MYPT2OCSU72PENI36HANWRUNCK5CSVJ2KNXRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVTPZ4HX23GXJY4YBJMIC7G4DZFPGPT3RG556QSGJPU3XPKCGDTQ/vendors.js"
            ]
        },
        "UpdateRecommendationStatus": {
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "recommendationStatus"
                ],
                "members": {
                    "resourceArn": {},
                    "recommendationStatus": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "requestId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QX53E25HMIWVCXH43GMZAYRBADKDJS4VTDPERGXML2ST2BB2UQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5PDD3AZVIIJ7XM3SZKHERQYULK72BNM2F54C6ID6ATKN5AQ4I3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGTL6IPNNY4VO2YD5VFBABML4F5SNA5PBPY6YAIMAXX6D44L2AOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFYVJNAOD7WY6HHIKTXLVLEPZZAKNO26GC7IDDT6PNNSVOM7AJPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IO5GSEYSYYMFCL7CP2YW3IFFU2WRVGRCH3GNG3V5G6ARS27IJU7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z74GLHXY5SILY5DXUHKBSBGLRJNDC7CQCBXASPKBHV3JZSHDS5AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWAJPPGHGKL45OCXCWC27MGZD7DSGMJECOWJM2BN3KD2HU2E2FDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXN273UYZPVGIS6HPJSNVFI4SXEL6R62HEE4LVWYELFWWSTVXB6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2IIUOC7QOKTRKCWWVBDA6M4JUAJBN5I2NNA7QU33SJYDMY4FFNJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4TRP7LVOVAH4JXTABTX6U3ULTB7QQG3HBU5ZMNT5O5ADAJYFPWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JFFYEVX7DMC6AJ2HEDWESROIIJFVB57QAJI3CLA5CBFBWLL6PGFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPXQHZZD3WWBCTRKYSP2RFH762XOW65PGON5MINGBL2JIJVPQPTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQXQVVR27DGCAIVZAZL72TENPNVSNVTNYMVH3W6WCN5MTV4Y4TEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWOH3O2H6T2DAZNZD4J5I2MM7RMJ47UPUAQANLM5VJGPX3FSHU7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2OXZPOLMKP2DVQ3KSZ3PIIGEOWOQEFAARLZCTKAHL4QBRQA7VPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ER7OLCRICE77KVAGZKYJLU34TIHJXCP6IIKHLAGWLGPTJF4S2E3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/75YFAJXMCOUH3VUT3VXVMPLADMBKZLFH5UNOLYLIRRWKOMBSQSQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEXAWC3ICJLFWPADRWYCJZHV3QZ7DDE5T4DRDOHEA2YHK7FJ3LTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/75TSZFGA67IOSRC45DKF4IP4KDKG4XSSEBIHTSYYUUHMR6SA6OFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWMFXMRCTRFMXC354M23DQ2P6C6SPGYJ7KZLKSWRFAHU5FVLNXFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IF7KLRDHYC2XYPES7JK5FD44FTWLW7XSZOPKMBWPYPIQSLC2ANVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ7TKQVF4Y7UK6X7SNXREJGABONAAHNY6GVBTEN4AKAYHDFSBA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N76ISRLRT4QEIB5MYPT2OCSU72PENI36HANWRUNCK5CSVJ2KNXRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVTPZ4HX23GXJY4YBJMIC7G4DZFPGPT3RG556QSGJPU3XPKCGDTQ/vendors.js"
            ]
        },
        "GetLicensePricingInformation": {
            "input": {
                "type": "structure",
                "members": {
                    "resourceArns": {
                        "type": "list",
                        "member": {}
                    },
                    "licenseName": {},
                    "accountId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "licensePricingInformation": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "currentLicenseInformation": {
                                    "type": "structure",
                                    "members": {
                                        "resourceArn": {},
                                        "licensePrice": {
                                            "type": "double"
                                        },
                                        "licenseName": {},
                                        "instancePrice": {
                                            "type": "double"
                                        }
                                    }
                                },
                                "recommendedLicenseInformationList": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "rank": {
                                                "type": "integer"
                                            },
                                            "licenseModel": {},
                                            "licensePrice": {
                                                "type": "double"
                                            },
                                            "instancePrice": {
                                                "type": "double"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QX53E25HMIWVCXH43GMZAYRBADKDJS4VTDPERGXML2ST2BB2UQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5PDD3AZVIIJ7XM3SZKHERQYULK72BNM2F54C6ID6ATKN5AQ4I3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGTL6IPNNY4VO2YD5VFBABML4F5SNA5PBPY6YAIMAXX6D44L2AOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFYVJNAOD7WY6HHIKTXLVLEPZZAKNO26GC7IDDT6PNNSVOM7AJPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IO5GSEYSYYMFCL7CP2YW3IFFU2WRVGRCH3GNG3V5G6ARS27IJU7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z74GLHXY5SILY5DXUHKBSBGLRJNDC7CQCBXASPKBHV3JZSHDS5AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWAJPPGHGKL45OCXCWC27MGZD7DSGMJECOWJM2BN3KD2HU2E2FDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXN273UYZPVGIS6HPJSNVFI4SXEL6R62HEE4LVWYELFWWSTVXB6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2IIUOC7QOKTRKCWWVBDA6M4JUAJBN5I2NNA7QU33SJYDMY4FFNJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4TRP7LVOVAH4JXTABTX6U3ULTB7QQG3HBU5ZMNT5O5ADAJYFPWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JFFYEVX7DMC6AJ2HEDWESROIIJFVB57QAJI3CLA5CBFBWLL6PGFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPXQHZZD3WWBCTRKYSP2RFH762XOW65PGON5MINGBL2JIJVPQPTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQXQVVR27DGCAIVZAZL72TENPNVSNVTNYMVH3W6WCN5MTV4Y4TEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWOH3O2H6T2DAZNZD4J5I2MM7RMJ47UPUAQANLM5VJGPX3FSHU7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2OXZPOLMKP2DVQ3KSZ3PIIGEOWOQEFAARLZCTKAHL4QBRQA7VPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ER7OLCRICE77KVAGZKYJLU34TIHJXCP6IIKHLAGWLGPTJF4S2E3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/75YFAJXMCOUH3VUT3VXVMPLADMBKZLFH5UNOLYLIRRWKOMBSQSQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEXAWC3ICJLFWPADRWYCJZHV3QZ7DDE5T4DRDOHEA2YHK7FJ3LTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/75TSZFGA67IOSRC45DKF4IP4KDKG4XSSEBIHTSYYUUHMR6SA6OFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWMFXMRCTRFMXC354M23DQ2P6C6SPGYJ7KZLKSWRFAHU5FVLNXFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IF7KLRDHYC2XYPES7JK5FD44FTWLW7XSZOPKMBWPYPIQSLC2ANVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ7TKQVF4Y7UK6X7SNXREJGABONAAHNY6GVBTEN4AKAYHDFSBA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N76ISRLRT4QEIB5MYPT2OCSU72PENI36HANWRUNCK5CSVJ2KNXRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVTPZ4HX23GXJY4YBJMIC7G4DZFPGPT3RG556QSGJPU3XPKCGDTQ/vendors.js"
            ]
        },
        "GetRDSDatabasePricingInformation": {
            "input": {
                "type": "structure",
                "required": [
                    "resourceArns"
                ],
                "members": {
                    "resourceArns": {
                        "shape": "S3f"
                    },
                    "accountId": {},
                    "recommendationPreferences": {
                        "shape": "S19"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "rdsDatabasePricingInformationList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "rdsDBInstancePricing": {
                                    "type": "structure",
                                    "members": {
                                        "currentRDSDatabaseInformation": {
                                            "type": "structure",
                                            "members": {
                                                "resourceArn": {},
                                                "rdsPrices": {
                                                    "shape": "S4q"
                                                },
                                                "multiAZDBInstance": {
                                                    "type": "boolean"
                                                },
                                                "instanceSpecification": {
                                                    "shape": "S4t"
                                                }
                                            }
                                        },
                                        "recommendedRDSDatabaseInformationList": {
                                            "type": "list",
                                            "member": {
                                                "type": "structure",
                                                "members": {
                                                    "rank": {
                                                        "type": "integer"
                                                    },
                                                    "rdsPrices": {
                                                        "shape": "S4q"
                                                    },
                                                    "instanceSpecification": {
                                                        "shape": "S4t"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                },
                                "rdsDBStoragePricing": {
                                    "type": "structure",
                                    "members": {
                                        "currentRDSStorageInformation": {
                                            "type": "structure",
                                            "members": {
                                                "resourceArn": {},
                                                "rdsPrices": {
                                                    "shape": "S4q"
                                                },
                                                "storageSpecification": {
                                                    "shape": "S4y"
                                                }
                                            }
                                        },
                                        "recommendedRDSStorageInformationList": {
                                            "type": "list",
                                            "member": {
                                                "type": "structure",
                                                "members": {
                                                    "rank": {
                                                        "type": "integer"
                                                    },
                                                    "rdsPrices": {
                                                        "shape": "S4q"
                                                    },
                                                    "storageSpecification": {
                                                        "shape": "S4y"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QX53E25HMIWVCXH43GMZAYRBADKDJS4VTDPERGXML2ST2BB2UQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5PDD3AZVIIJ7XM3SZKHERQYULK72BNM2F54C6ID6ATKN5AQ4I3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGTL6IPNNY4VO2YD5VFBABML4F5SNA5PBPY6YAIMAXX6D44L2AOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFYVJNAOD7WY6HHIKTXLVLEPZZAKNO26GC7IDDT6PNNSVOM7AJPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IO5GSEYSYYMFCL7CP2YW3IFFU2WRVGRCH3GNG3V5G6ARS27IJU7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z74GLHXY5SILY5DXUHKBSBGLRJNDC7CQCBXASPKBHV3JZSHDS5AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWAJPPGHGKL45OCXCWC27MGZD7DSGMJECOWJM2BN3KD2HU2E2FDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXN273UYZPVGIS6HPJSNVFI4SXEL6R62HEE4LVWYELFWWSTVXB6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2IIUOC7QOKTRKCWWVBDA6M4JUAJBN5I2NNA7QU33SJYDMY4FFNJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4TRP7LVOVAH4JXTABTX6U3ULTB7QQG3HBU5ZMNT5O5ADAJYFPWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JFFYEVX7DMC6AJ2HEDWESROIIJFVB57QAJI3CLA5CBFBWLL6PGFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPXQHZZD3WWBCTRKYSP2RFH762XOW65PGON5MINGBL2JIJVPQPTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQXQVVR27DGCAIVZAZL72TENPNVSNVTNYMVH3W6WCN5MTV4Y4TEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWOH3O2H6T2DAZNZD4J5I2MM7RMJ47UPUAQANLM5VJGPX3FSHU7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2OXZPOLMKP2DVQ3KSZ3PIIGEOWOQEFAARLZCTKAHL4QBRQA7VPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ER7OLCRICE77KVAGZKYJLU34TIHJXCP6IIKHLAGWLGPTJF4S2E3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/75YFAJXMCOUH3VUT3VXVMPLADMBKZLFH5UNOLYLIRRWKOMBSQSQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEXAWC3ICJLFWPADRWYCJZHV3QZ7DDE5T4DRDOHEA2YHK7FJ3LTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/75TSZFGA67IOSRC45DKF4IP4KDKG4XSSEBIHTSYYUUHMR6SA6OFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWMFXMRCTRFMXC354M23DQ2P6C6SPGYJ7KZLKSWRFAHU5FVLNXFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IF7KLRDHYC2XYPES7JK5FD44FTWLW7XSZOPKMBWPYPIQSLC2ANVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ7TKQVF4Y7UK6X7SNXREJGABONAAHNY6GVBTEN4AKAYHDFSBA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N76ISRLRT4QEIB5MYPT2OCSU72PENI36HANWRUNCK5CSVJ2KNXRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVTPZ4HX23GXJY4YBJMIC7G4DZFPGPT3RG556QSGJPU3XPKCGDTQ/vendors.js"
            ]
        }
    },
    "shapes": {
        "Sc": {
            "type": "list",
            "member": {
                "type": "timestamp"
            }
        },
        "Sd": {
            "type": "list",
            "member": {
                "type": "double"
            }
        },
        "Ss": {
            "type": "string",
            "sensitive": true
        },
        "S1g": {
            "type": "structure",
            "members": {
                "instanceConfiguration": {
                    "type": "structure",
                    "members": {
                        "instanceType": {},
                        "vcpus": {
                            "type": "integer"
                        },
                        "memory": {},
                        "storage": {},
                        "network": {}
                    }
                },
                "pricing": {
                    "type": "structure",
                    "members": {
                        "onDemandPrice": {
                            "type": "double"
                        },
                        "standardOneYearNoUpfrontReservedPrice": {
                            "type": "double"
                        },
                        "standardThreeYearNoUpfrontReservedPrice": {
                            "type": "double"
                        }
                    }
                },
                "cost": {
                    "type": "structure",
                    "members": {
                        "totalRunningHoursInLookbackPeriod": {},
                        "costOfInstanceInLookbackPeriod": {},
                        "onDemandHoursInLookbackPeriod": {},
                        "reservationCoveredHoursInLookbackPeriod": {},
                        "savingPlanCoveredHoursInLookbackPeriod": {},
                        "currencyCode": {}
                    }
                },
                "reservedInstancesUtilization": {},
                "reservedInstancesCoverage": {}
            }
        },
        "S23": {
            "type": "structure",
            "members": {
                "key": {},
                "value": {}
            }
        },
        "S2h": {
            "type": "structure",
            "required": [
                "currency",
                "number"
            ],
            "members": {
                "currency": {},
                "number": {
                    "type": "double"
                }
            }
        },
        "S2m": {
            "type": "structure",
            "members": {
                "averageCpuUtilization": {
                    "type": "double"
                },
                "averageNetworkInBytes": {
                    "type": "double"
                },
                "averageNetworkOutBytes": {
                    "type": "double"
                },
                "averageDiskWriteBytes": {
                    "type": "double"
                },
                "averageDiskReadBytes": {
                    "type": "double"
                }
            }
        },
        "S4d": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "rdsPriceName": {},
                    "value": {
                        "type": "double"
                    }
                }
            }
        },
        "S4u": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "S9": {
            "type": "string",
            "sensitive": true
        },
        "Se": {
            "type": "list",
            "member": {
                "type": "double"
            }
        },
        "S4p": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "rdsPriceName": {},
                    "value": {
                        "type": "double"
                    }
                }
            }
        },
        "S57": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "S18": {
            "type": "structure",
            "members": {
                "cpuVendorArchitectures": {
                    "type": "list",
                    "member": {}
                }
            }
        },
        "S4s": {
            "type": "structure",
            "members": {
                "cpuVendorArchitecture": {},
                "vcpus": {
                    "type": "integer"
                },
                "memoryInMib": {
                    "type": "integer"
                },
                "ebsBandwidth": {},
                "networkPerformance": {}
            }
        },
        "S19": {
            "type": "structure",
            "members": {
                "cpuVendorArchitectures": {
                    "type": "list",
                    "member": {}
                }
            }
        },
        "S1h": {
            "type": "structure",
            "members": {
                "instanceConfiguration": {
                    "type": "structure",
                    "members": {
                        "instanceType": {},
                        "vcpus": {
                            "type": "integer"
                        },
                        "memory": {},
                        "storage": {},
                        "network": {}
                    }
                },
                "pricing": {
                    "type": "structure",
                    "members": {
                        "onDemandPrice": {
                            "type": "double"
                        },
                        "standardOneYearNoUpfrontReservedPrice": {
                            "type": "double"
                        },
                        "standardThreeYearNoUpfrontReservedPrice": {
                            "type": "double"
                        },
                        "afterDiscountsPrice": {
                            "type": "double"
                        }
                    }
                },
                "cost": {
                    "type": "structure",
                    "members": {
                        "totalRunningHoursInLookbackPeriod": {},
                        "costOfInstanceInLookbackPeriod": {},
                        "onDemandHoursInLookbackPeriod": {},
                        "reservationCoveredHoursInLookbackPeriod": {},
                        "savingPlanCoveredHoursInLookbackPeriod": {},
                        "currencyCode": {}
                    }
                },
                "reservedInstancesUtilization": {},
                "reservedInstancesCoverage": {}
            }
        },
        "S24": {
            "type": "structure",
            "members": {
                "key": {},
                "value": {}
            }
        },
        "S2i": {
            "type": "structure",
            "required": [
                "currency",
                "number"
            ],
            "members": {
                "currency": {},
                "number": {
                    "type": "double"
                }
            }
        },
        "S2n": {
            "type": "structure",
            "members": {
                "averageCpuUtilization": {
                    "type": "double"
                },
                "averageNetworkInBytes": {
                    "type": "double"
                },
                "averageNetworkOutBytes": {
                    "type": "double"
                },
                "averageDiskWriteBytes": {
                    "type": "double"
                },
                "averageDiskReadBytes": {
                    "type": "double"
                }
            }
        },
        "S4q": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "rdsPriceName": {},
                    "value": {
                        "type": "double"
                    }
                }
            }
        },
        "S4t": {
            "type": "structure",
            "members": {
                "cpuVendorArchitecture": {},
                "vcpus": {
                    "type": "integer"
                },
                "memoryInMib": {
                    "type": "integer"
                },
                "ebsBandwidth": {},
                "networkPerformance": {}
            }
        },
        "S58": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "S3f": {
            "type": "list",
            "member": {}
        },
        "S4y": {
            "type": "structure",
            "members": {
                "storageType": {},
                "iops": {
                    "type": "integer"
                },
                "allocatedStorage": {
                    "type": "integer"
                }
            }
        },
        "S5l": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "S5n": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "S4z": {
            "type": "structure",
            "members": {
                "storageType": {},
                "iops": {
                    "type": "integer"
                },
                "allocatedStorage": {
                    "type": "integer"
                }
            }
        },
        "S5o": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "S4v": {
            "type": "structure",
            "members": {
                "cpuVendorArchitecture": {},
                "vcpus": {
                    "type": "integer"
                },
                "memoryInMib": {
                    "type": "integer"
                },
                "ebsBandwidth": {},
                "networkPerformance": {},
                "instanceStorage": {}
            }
        },
        "S50": {
            "type": "structure",
            "members": {
                "storageType": {},
                "iops": {
                    "type": "integer"
                },
                "allocatedStorage": {
                    "type": "integer"
                }
            }
        },
        "S5p": {
            "type": "map",
            "key": {},
            "value": {}
        }
    }
}