{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2020-02-26",
        "endpointPrefix": "mgn",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceAbbreviation": "mgn",
        "serviceFullName": "Application Migration Service",
        "serviceId": "mgn",
        "signatureVersion": "v4",
        "signingName": "mgn",
        "uid": "mgn-2020-02-26",
        "download_location": [
            "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
            "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/62K7NOYO4CGNMWYQEEUNURHUNUIQ45JO5JJZACPOIAEII2JMC44Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
        ]
    },
    "operations": {
        "ArchiveApplication": {
            "http": {
                "requestUri": "/ArchiveApplication",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "applicationID"
                ],
                "members": {
                    "applicationID": {}
                }
            },
            "output": {
                "shape": "S3"
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62K7NOYO4CGNMWYQEEUNURHUNUIQ45JO5JJZACPOIAEII2JMC44Q/vendors.js"
            ]
        },
        "ArchiveWave": {
            "http": {
                "requestUri": "/ArchiveWave",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "waveID"
                ],
                "members": {
                    "waveID": {}
                }
            },
            "output": {
                "shape": "Si"
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62K7NOYO4CGNMWYQEEUNURHUNUIQ45JO5JJZACPOIAEII2JMC44Q/vendors.js"
            ]
        },
        "AssociateApplications": {
            "http": {
                "requestUri": "/AssociateApplications",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "applicationIDs",
                    "waveID"
                ],
                "members": {
                    "applicationIDs": {
                        "shape": "Sp"
                    },
                    "waveID": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62K7NOYO4CGNMWYQEEUNURHUNUIQ45JO5JJZACPOIAEII2JMC44Q/vendors.js"
            ]
        },
        "AssociateSourceServers": {
            "http": {
                "requestUri": "/AssociateSourceServers",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "applicationID",
                    "sourceServerIDs"
                ],
                "members": {
                    "applicationID": {},
                    "sourceServerIDs": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62K7NOYO4CGNMWYQEEUNURHUNUIQ45JO5JJZACPOIAEII2JMC44Q/vendors.js"
            ]
        },
        "ChangeServerLifeCycleState": {
            "http": {
                "requestUri": "/ChangeServerLifeCycleState",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "lifeCycle",
                    "sourceServerID"
                ],
                "members": {
                    "lifeCycle": {
                        "type": "structure",
                        "required": [
                            "state"
                        ],
                        "members": {
                            "state": {}
                        }
                    },
                    "sourceServerID": {}
                }
            },
            "output": {
                "shape": "Sy"
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62K7NOYO4CGNMWYQEEUNURHUNUIQ45JO5JJZACPOIAEII2JMC44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "CreateApplication": {
            "http": {
                "requestUri": "/CreateApplication",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "name"
                ],
                "members": {
                    "description": {},
                    "name": {},
                    "tags": {
                        "shape": "Sd"
                    }
                }
            },
            "output": {
                "shape": "S3"
            },
            "idempotent": true,
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62K7NOYO4CGNMWYQEEUNURHUNUIQ45JO5JJZACPOIAEII2JMC44Q/vendors.js"
            ]
        },
        "CreateLaunchConfigurationTemplate": {
            "http": {
                "requestUri": "/CreateLaunchConfigurationTemplate",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "members": {
                    "associatePublicIpAddress": {
                        "type": "boolean"
                    },
                    "bootMode": {},
                    "copyPrivateIp": {
                        "type": "boolean"
                    },
                    "copyTags": {
                        "type": "boolean"
                    },
                    "enableMapAutoTagging": {
                        "type": "boolean"
                    },
                    "largeVolumeConf": {
                        "shape": "S27"
                    },
                    "launchDisposition": {},
                    "licensing": {
                        "shape": "S2a"
                    },
                    "mapAutoTaggingMpeID": {},
                    "postLaunchActions": {
                        "shape": "S2b"
                    },
                    "smallVolumeConf": {
                        "shape": "S27"
                    },
                    "smallVolumeMaxSize": {
                        "type": "long"
                    },
                    "tags": {
                        "shape": "Sd"
                    },
                    "targetInstanceTypeRightSizingMethod": {}
                }
            },
            "output": {
                "shape": "S2q"
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62K7NOYO4CGNMWYQEEUNURHUNUIQ45JO5JJZACPOIAEII2JMC44Q/vendors.js"
            ]
        },
        "CreateReplicationConfigurationTemplate": {
            "http": {
                "requestUri": "/CreateReplicationConfigurationTemplate",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "associateDefaultSecurityGroup",
                    "bandwidthThrottling",
                    "createPublicIP",
                    "dataPlaneRouting",
                    "defaultLargeStagingDiskType",
                    "ebsEncryption",
                    "replicationServerInstanceType",
                    "replicationServersSecurityGroupsIDs",
                    "stagingAreaSubnetId",
                    "stagingAreaTags",
                    "useDedicatedReplicationServer"
                ],
                "members": {
                    "associateDefaultSecurityGroup": {
                        "type": "boolean"
                    },
                    "bandwidthThrottling": {
                        "type": "long"
                    },
                    "createPublicIP": {
                        "type": "boolean"
                    },
                    "dataPlaneRouting": {},
                    "defaultLargeStagingDiskType": {},
                    "ebsEncryption": {},
                    "ebsEncryptionKeyArn": {},
                    "replicationServerInstanceType": {},
                    "replicationServersSecurityGroupsIDs": {
                        "shape": "S2x"
                    },
                    "stagingAreaSubnetId": {},
                    "stagingAreaTags": {
                        "shape": "Sd"
                    },
                    "tags": {
                        "shape": "Sd"
                    },
                    "useDedicatedReplicationServer": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "shape": "S30"
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62K7NOYO4CGNMWYQEEUNURHUNUIQ45JO5JJZACPOIAEII2JMC44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "CreateWave": {
            "http": {
                "requestUri": "/CreateWave",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "name"
                ],
                "members": {
                    "description": {},
                    "name": {},
                    "tags": {
                        "shape": "Sd"
                    }
                }
            },
            "output": {
                "shape": "Si"
            },
            "idempotent": true,
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62K7NOYO4CGNMWYQEEUNURHUNUIQ45JO5JJZACPOIAEII2JMC44Q/vendors.js"
            ]
        },
        "DeleteApplication": {
            "http": {
                "requestUri": "/DeleteApplication",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "applicationID"
                ],
                "members": {
                    "applicationID": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62K7NOYO4CGNMWYQEEUNURHUNUIQ45JO5JJZACPOIAEII2JMC44Q/vendors.js"
            ]
        },
        "DeleteJob": {
            "http": {
                "requestUri": "/DeleteJob",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "jobID"
                ],
                "members": {
                    "jobID": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62K7NOYO4CGNMWYQEEUNURHUNUIQ45JO5JJZACPOIAEII2JMC44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "DeleteLaunchConfigurationTemplate": {
            "http": {
                "requestUri": "/DeleteLaunchConfigurationTemplate",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "launchConfigurationTemplateID"
                ],
                "members": {
                    "launchConfigurationTemplateID": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62K7NOYO4CGNMWYQEEUNURHUNUIQ45JO5JJZACPOIAEII2JMC44Q/vendors.js"
            ]
        },
        "DeleteReplicationConfigurationTemplate": {
            "http": {
                "requestUri": "/DeleteReplicationConfigurationTemplate",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "replicationConfigurationTemplateID"
                ],
                "members": {
                    "replicationConfigurationTemplateID": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62K7NOYO4CGNMWYQEEUNURHUNUIQ45JO5JJZACPOIAEII2JMC44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "DeleteSourceServer": {
            "http": {
                "requestUri": "/DeleteSourceServer",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "sourceServerID"
                ],
                "members": {
                    "sourceServerID": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62K7NOYO4CGNMWYQEEUNURHUNUIQ45JO5JJZACPOIAEII2JMC44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "DeleteVcenterClient": {
            "http": {
                "requestUri": "/DeleteVcenterClient",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "vcenterClientID"
                ],
                "members": {
                    "vcenterClientID": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62K7NOYO4CGNMWYQEEUNURHUNUIQ45JO5JJZACPOIAEII2JMC44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js"
            ]
        },
        "DeleteWave": {
            "http": {
                "requestUri": "/DeleteWave",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "waveID"
                ],
                "members": {
                    "waveID": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62K7NOYO4CGNMWYQEEUNURHUNUIQ45JO5JJZACPOIAEII2JMC44Q/vendors.js"
            ]
        },
        "DescribeJobLogItems": {
            "http": {
                "requestUri": "/DescribeJobLogItems",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "jobID"
                ],
                "members": {
                    "jobID": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "items": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "event": {},
                                "eventData": {
                                    "type": "structure",
                                    "members": {
                                        "conversionServerID": {},
                                        "rawError": {},
                                        "sourceServerID": {},
                                        "targetInstanceID": {}
                                    }
                                },
                                "logDateTime": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62K7NOYO4CGNMWYQEEUNURHUNUIQ45JO5JJZACPOIAEII2JMC44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "DescribeJobs": {
            "http": {
                "requestUri": "/DescribeJobs",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "filters": {
                        "type": "structure",
                        "members": {
                            "fromDate": {},
                            "jobIDs": {
                                "type": "list",
                                "member": {}
                            },
                            "toDate": {}
                        }
                    },
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "items": {
                        "type": "list",
                        "member": {
                            "shape": "S3t"
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62K7NOYO4CGNMWYQEEUNURHUNUIQ45JO5JJZACPOIAEII2JMC44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "DescribeLaunchConfigurationTemplates": {
            "http": {
                "requestUri": "/DescribeLaunchConfigurationTemplates",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "launchConfigurationTemplateIDs": {
                        "type": "list",
                        "member": {}
                    },
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "items": {
                        "type": "list",
                        "member": {
                            "shape": "S2q"
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62K7NOYO4CGNMWYQEEUNURHUNUIQ45JO5JJZACPOIAEII2JMC44Q/vendors.js"
            ]
        },
        "DescribeReplicationConfigurationTemplates": {
            "http": {
                "requestUri": "/DescribeReplicationConfigurationTemplates",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {},
                    "replicationConfigurationTemplateIDs": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "items": {
                        "type": "list",
                        "member": {
                            "shape": "S30"
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62K7NOYO4CGNMWYQEEUNURHUNUIQ45JO5JJZACPOIAEII2JMC44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "DescribeSourceServers": {
            "http": {
                "requestUri": "/DescribeSourceServers",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "filters": {
                        "type": "structure",
                        "members": {
                            "applicationIDs": {
                                "type": "list",
                                "member": {}
                            },
                            "isArchived": {
                                "type": "boolean"
                            },
                            "lifeCycleStates": {
                                "type": "list",
                                "member": {}
                            },
                            "replicationTypes": {
                                "type": "list",
                                "member": {}
                            },
                            "sourceServerIDs": {
                                "type": "list",
                                "member": {}
                            }
                        }
                    },
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "items": {
                        "type": "list",
                        "member": {
                            "shape": "Sy"
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62K7NOYO4CGNMWYQEEUNURHUNUIQ45JO5JJZACPOIAEII2JMC44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "DescribeVcenterClients": {
            "http": {
                "method": "GET",
                "requestUri": "/DescribeVcenterClients",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "items": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "arn": {},
                                "datacenterName": {},
                                "hostname": {},
                                "lastSeenDatetime": {},
                                "sourceServerTags": {
                                    "shape": "Sd"
                                },
                                "tags": {
                                    "shape": "Sd"
                                },
                                "vcenterClientID": {},
                                "vcenterUUID": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62K7NOYO4CGNMWYQEEUNURHUNUIQ45JO5JJZACPOIAEII2JMC44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js"
            ]
        },
        "DisassociateApplications": {
            "http": {
                "requestUri": "/DisassociateApplications",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "applicationIDs",
                    "waveID"
                ],
                "members": {
                    "applicationIDs": {
                        "shape": "Sp"
                    },
                    "waveID": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62K7NOYO4CGNMWYQEEUNURHUNUIQ45JO5JJZACPOIAEII2JMC44Q/vendors.js"
            ]
        },
        "DisassociateSourceServers": {
            "http": {
                "requestUri": "/DisassociateSourceServers",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "applicationID",
                    "sourceServerIDs"
                ],
                "members": {
                    "applicationID": {},
                    "sourceServerIDs": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62K7NOYO4CGNMWYQEEUNURHUNUIQ45JO5JJZACPOIAEII2JMC44Q/vendors.js"
            ]
        },
        "DisconnectFromService": {
            "http": {
                "requestUri": "/DisconnectFromService",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "sourceServerID"
                ],
                "members": {
                    "sourceServerID": {}
                }
            },
            "output": {
                "shape": "Sy"
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62K7NOYO4CGNMWYQEEUNURHUNUIQ45JO5JJZACPOIAEII2JMC44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "FinalizeCutover": {
            "http": {
                "requestUri": "/FinalizeCutover",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "sourceServerID"
                ],
                "members": {
                    "sourceServerID": {}
                }
            },
            "output": {
                "shape": "Sy"
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62K7NOYO4CGNMWYQEEUNURHUNUIQ45JO5JJZACPOIAEII2JMC44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "GetLaunchConfiguration": {
            "http": {
                "requestUri": "/GetLaunchConfiguration",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "sourceServerID"
                ],
                "members": {
                    "sourceServerID": {}
                }
            },
            "output": {
                "shape": "S4x"
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62K7NOYO4CGNMWYQEEUNURHUNUIQ45JO5JJZACPOIAEII2JMC44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "GetReplicationConfiguration": {
            "http": {
                "requestUri": "/GetReplicationConfiguration",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "sourceServerID"
                ],
                "members": {
                    "sourceServerID": {}
                }
            },
            "output": {
                "shape": "S50"
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62K7NOYO4CGNMWYQEEUNURHUNUIQ45JO5JJZACPOIAEII2JMC44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "InitializeService": {
            "http": {
                "requestUri": "/InitializeService",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62K7NOYO4CGNMWYQEEUNURHUNUIQ45JO5JJZACPOIAEII2JMC44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "ListApplications": {
            "http": {
                "requestUri": "/ListApplications",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "filters": {
                        "type": "structure",
                        "members": {
                            "applicationIDs": {
                                "type": "list",
                                "member": {}
                            },
                            "isArchived": {
                                "type": "boolean"
                            },
                            "waveIDs": {
                                "shape": "S59"
                            }
                        }
                    },
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "items": {
                        "type": "list",
                        "member": {
                            "shape": "S3"
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62K7NOYO4CGNMWYQEEUNURHUNUIQ45JO5JJZACPOIAEII2JMC44Q/vendors.js"
            ]
        },
        "ListSourceServerActions": {
            "http": {
                "requestUri": "/ListSourceServerActions",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "sourceServerID"
                ],
                "members": {
                    "filters": {
                        "type": "structure",
                        "members": {
                            "actionIDs": {
                                "shape": "S5e"
                            }
                        }
                    },
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {},
                    "sourceServerID": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "items": {
                        "type": "list",
                        "member": {
                            "shape": "S5i"
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62K7NOYO4CGNMWYQEEUNURHUNUIQ45JO5JJZACPOIAEII2JMC44Q/vendors.js"
            ]
        },
        "ListTagsForResource": {
            "http": {
                "method": "GET",
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "tags": {
                        "shape": "Sd"
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62K7NOYO4CGNMWYQEEUNURHUNUIQ45JO5JJZACPOIAEII2JMC44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "ListTemplateActions": {
            "http": {
                "requestUri": "/ListTemplateActions",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "launchConfigurationTemplateID"
                ],
                "members": {
                    "filters": {
                        "type": "structure",
                        "members": {
                            "actionIDs": {
                                "shape": "S5e"
                            }
                        }
                    },
                    "launchConfigurationTemplateID": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "items": {
                        "type": "list",
                        "member": {
                            "shape": "S5s"
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62K7NOYO4CGNMWYQEEUNURHUNUIQ45JO5JJZACPOIAEII2JMC44Q/vendors.js"
            ]
        },
        "ListWaves": {
            "http": {
                "requestUri": "/ListWaves",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "filters": {
                        "type": "structure",
                        "members": {
                            "isArchived": {
                                "type": "boolean"
                            },
                            "waveIDs": {
                                "shape": "S59"
                            }
                        }
                    },
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "items": {
                        "type": "list",
                        "member": {
                            "shape": "Si"
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62K7NOYO4CGNMWYQEEUNURHUNUIQ45JO5JJZACPOIAEII2JMC44Q/vendors.js"
            ]
        },
        "MarkAsArchived": {
            "http": {
                "requestUri": "/MarkAsArchived",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "sourceServerID"
                ],
                "members": {
                    "sourceServerID": {}
                }
            },
            "output": {
                "shape": "Sy"
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62K7NOYO4CGNMWYQEEUNURHUNUIQ45JO5JJZACPOIAEII2JMC44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "PutSourceServerAction": {
            "http": {
                "requestUri": "/PutSourceServerAction",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "actionID",
                    "actionName",
                    "documentIdentifier",
                    "order",
                    "sourceServerID"
                ],
                "members": {
                    "actionID": {},
                    "actionName": {},
                    "active": {
                        "type": "boolean"
                    },
                    "documentIdentifier": {},
                    "documentVersion": {},
                    "mustSucceedForCutover": {
                        "type": "boolean"
                    },
                    "order": {
                        "type": "integer"
                    },
                    "parameters": {
                        "shape": "S2h"
                    },
                    "sourceServerID": {},
                    "timeoutSeconds": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "shape": "S5i"
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62K7NOYO4CGNMWYQEEUNURHUNUIQ45JO5JJZACPOIAEII2JMC44Q/vendors.js"
            ]
        },
        "PutTemplateAction": {
            "http": {
                "requestUri": "/PutTemplateAction",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "actionID",
                    "actionName",
                    "documentIdentifier",
                    "launchConfigurationTemplateID",
                    "order"
                ],
                "members": {
                    "actionID": {},
                    "actionName": {},
                    "active": {
                        "type": "boolean"
                    },
                    "documentIdentifier": {},
                    "documentVersion": {},
                    "launchConfigurationTemplateID": {},
                    "mustSucceedForCutover": {
                        "type": "boolean"
                    },
                    "operatingSystem": {},
                    "order": {
                        "type": "integer"
                    },
                    "parameters": {
                        "shape": "S2h"
                    },
                    "timeoutSeconds": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "shape": "S5s"
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62K7NOYO4CGNMWYQEEUNURHUNUIQ45JO5JJZACPOIAEII2JMC44Q/vendors.js"
            ]
        },
        "RemoveSourceServerAction": {
            "http": {
                "requestUri": "/RemoveSourceServerAction",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "actionID",
                    "sourceServerID"
                ],
                "members": {
                    "actionID": {},
                    "sourceServerID": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62K7NOYO4CGNMWYQEEUNURHUNUIQ45JO5JJZACPOIAEII2JMC44Q/vendors.js"
            ]
        },
        "RemoveTemplateAction": {
            "http": {
                "requestUri": "/RemoveTemplateAction",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "actionID",
                    "launchConfigurationTemplateID"
                ],
                "members": {
                    "actionID": {},
                    "launchConfigurationTemplateID": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62K7NOYO4CGNMWYQEEUNURHUNUIQ45JO5JJZACPOIAEII2JMC44Q/vendors.js"
            ]
        },
        "RetryDataReplication": {
            "http": {
                "requestUri": "/RetryDataReplication",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "sourceServerID"
                ],
                "members": {
                    "sourceServerID": {}
                }
            },
            "output": {
                "shape": "Sy"
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62K7NOYO4CGNMWYQEEUNURHUNUIQ45JO5JJZACPOIAEII2JMC44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "StartCutover": {
            "http": {
                "requestUri": "/StartCutover",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "sourceServerIDs"
                ],
                "members": {
                    "sourceServerIDs": {
                        "type": "list",
                        "member": {}
                    },
                    "tags": {
                        "shape": "Sd"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "job": {
                        "shape": "S3t"
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62K7NOYO4CGNMWYQEEUNURHUNUIQ45JO5JJZACPOIAEII2JMC44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "StartReplication": {
            "http": {
                "requestUri": "/StartReplication",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "sourceServerID"
                ],
                "members": {
                    "sourceServerID": {}
                }
            },
            "output": {
                "shape": "Sy"
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62K7NOYO4CGNMWYQEEUNURHUNUIQ45JO5JJZACPOIAEII2JMC44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js"
            ]
        },
        "StartTest": {
            "http": {
                "requestUri": "/StartTest",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "sourceServerIDs"
                ],
                "members": {
                    "sourceServerIDs": {
                        "type": "list",
                        "member": {}
                    },
                    "tags": {
                        "shape": "Sd"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "job": {
                        "shape": "S3t"
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62K7NOYO4CGNMWYQEEUNURHUNUIQ45JO5JJZACPOIAEII2JMC44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "TagResource": {
            "http": {
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "tags"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    },
                    "tags": {
                        "shape": "Sd"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62K7NOYO4CGNMWYQEEUNURHUNUIQ45JO5JJZACPOIAEII2JMC44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "TerminateTargetInstances": {
            "http": {
                "requestUri": "/TerminateTargetInstances",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "sourceServerIDs"
                ],
                "members": {
                    "sourceServerIDs": {
                        "type": "list",
                        "member": {}
                    },
                    "tags": {
                        "shape": "Sd"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "job": {
                        "shape": "S3t"
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62K7NOYO4CGNMWYQEEUNURHUNUIQ45JO5JJZACPOIAEII2JMC44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "UnarchiveApplication": {
            "http": {
                "requestUri": "/UnarchiveApplication",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "applicationID"
                ],
                "members": {
                    "applicationID": {}
                }
            },
            "output": {
                "shape": "S3"
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62K7NOYO4CGNMWYQEEUNURHUNUIQ45JO5JJZACPOIAEII2JMC44Q/vendors.js"
            ]
        },
        "UnarchiveWave": {
            "http": {
                "requestUri": "/UnarchiveWave",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "waveID"
                ],
                "members": {
                    "waveID": {}
                }
            },
            "output": {
                "shape": "Si"
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62K7NOYO4CGNMWYQEEUNURHUNUIQ45JO5JJZACPOIAEII2JMC44Q/vendors.js"
            ]
        },
        "UntagResource": {
            "http": {
                "method": "DELETE",
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "tagKeys"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    },
                    "tagKeys": {
                        "location": "querystring",
                        "locationName": "tagKeys",
                        "type": "list",
                        "member": {},
                        "sensitive": true
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62K7NOYO4CGNMWYQEEUNURHUNUIQ45JO5JJZACPOIAEII2JMC44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "UpdateApplication": {
            "http": {
                "requestUri": "/UpdateApplication",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "applicationID"
                ],
                "members": {
                    "applicationID": {},
                    "description": {},
                    "name": {}
                }
            },
            "output": {
                "shape": "S3"
            },
            "idempotent": true,
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62K7NOYO4CGNMWYQEEUNURHUNUIQ45JO5JJZACPOIAEII2JMC44Q/vendors.js"
            ]
        },
        "UpdateLaunchConfiguration": {
            "http": {
                "requestUri": "/UpdateLaunchConfiguration",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "sourceServerID"
                ],
                "members": {
                    "bootMode": {},
                    "copyPrivateIp": {
                        "type": "boolean"
                    },
                    "copyTags": {
                        "type": "boolean"
                    },
                    "enableMapAutoTagging": {
                        "type": "boolean"
                    },
                    "launchDisposition": {},
                    "licensing": {
                        "shape": "S2a"
                    },
                    "mapAutoTaggingMpeID": {},
                    "name": {},
                    "postLaunchActions": {
                        "shape": "S2b"
                    },
                    "sourceServerID": {},
                    "targetInstanceTypeRightSizingMethod": {}
                }
            },
            "output": {
                "shape": "S4x"
            },
            "idempotent": true,
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62K7NOYO4CGNMWYQEEUNURHUNUIQ45JO5JJZACPOIAEII2JMC44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "UpdateLaunchConfigurationTemplate": {
            "http": {
                "requestUri": "/UpdateLaunchConfigurationTemplate",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "launchConfigurationTemplateID"
                ],
                "members": {
                    "associatePublicIpAddress": {
                        "type": "boolean"
                    },
                    "bootMode": {},
                    "copyPrivateIp": {
                        "type": "boolean"
                    },
                    "copyTags": {
                        "type": "boolean"
                    },
                    "enableMapAutoTagging": {
                        "type": "boolean"
                    },
                    "largeVolumeConf": {
                        "shape": "S27"
                    },
                    "launchConfigurationTemplateID": {},
                    "launchDisposition": {},
                    "licensing": {
                        "shape": "S2a"
                    },
                    "mapAutoTaggingMpeID": {},
                    "postLaunchActions": {
                        "shape": "S2b"
                    },
                    "smallVolumeConf": {
                        "shape": "S27"
                    },
                    "smallVolumeMaxSize": {
                        "type": "long"
                    },
                    "targetInstanceTypeRightSizingMethod": {}
                }
            },
            "output": {
                "shape": "S2q"
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62K7NOYO4CGNMWYQEEUNURHUNUIQ45JO5JJZACPOIAEII2JMC44Q/vendors.js"
            ]
        },
        "UpdateReplicationConfiguration": {
            "http": {
                "requestUri": "/UpdateReplicationConfiguration",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "sourceServerID"
                ],
                "members": {
                    "associateDefaultSecurityGroup": {
                        "type": "boolean"
                    },
                    "bandwidthThrottling": {
                        "type": "long"
                    },
                    "createPublicIP": {
                        "type": "boolean"
                    },
                    "dataPlaneRouting": {},
                    "defaultLargeStagingDiskType": {},
                    "ebsEncryption": {},
                    "ebsEncryptionKeyArn": {},
                    "name": {},
                    "replicatedDisks": {
                        "shape": "S51"
                    },
                    "replicationServerInstanceType": {},
                    "replicationServersSecurityGroupsIDs": {
                        "shape": "S2x"
                    },
                    "sourceServerID": {},
                    "stagingAreaSubnetId": {},
                    "stagingAreaTags": {
                        "shape": "Sd"
                    },
                    "useDedicatedReplicationServer": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "shape": "S50"
            },
            "idempotent": true,
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62K7NOYO4CGNMWYQEEUNURHUNUIQ45JO5JJZACPOIAEII2JMC44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "UpdateReplicationConfigurationTemplate": {
            "http": {
                "requestUri": "/UpdateReplicationConfigurationTemplate",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "replicationConfigurationTemplateID"
                ],
                "members": {
                    "arn": {},
                    "associateDefaultSecurityGroup": {
                        "type": "boolean"
                    },
                    "bandwidthThrottling": {
                        "type": "long"
                    },
                    "createPublicIP": {
                        "type": "boolean"
                    },
                    "dataPlaneRouting": {},
                    "defaultLargeStagingDiskType": {},
                    "ebsEncryption": {},
                    "ebsEncryptionKeyArn": {},
                    "replicationConfigurationTemplateID": {},
                    "replicationServerInstanceType": {},
                    "replicationServersSecurityGroupsIDs": {
                        "shape": "S2x"
                    },
                    "stagingAreaSubnetId": {},
                    "stagingAreaTags": {
                        "shape": "Sd"
                    },
                    "useDedicatedReplicationServer": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "shape": "S30"
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62K7NOYO4CGNMWYQEEUNURHUNUIQ45JO5JJZACPOIAEII2JMC44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "UpdateSourceServerReplicationType": {
            "http": {
                "requestUri": "/UpdateSourceServerReplicationType",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "replicationType",
                    "sourceServerID"
                ],
                "members": {
                    "replicationType": {},
                    "sourceServerID": {}
                }
            },
            "output": {
                "shape": "Sy"
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62K7NOYO4CGNMWYQEEUNURHUNUIQ45JO5JJZACPOIAEII2JMC44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js"
            ]
        },
        "UpdateWave": {
            "http": {
                "requestUri": "/UpdateWave",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "waveID"
                ],
                "members": {
                    "description": {},
                    "name": {},
                    "waveID": {}
                }
            },
            "output": {
                "shape": "Si"
            },
            "idempotent": true,
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62K7NOYO4CGNMWYQEEUNURHUNUIQ45JO5JJZACPOIAEII2JMC44Q/vendors.js"
            ]
        },
        "ListExportErrors": {
            "http": {
                "requestUri": "/ListExportErrors",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "exportID"
                ],
                "members": {
                    "exportID": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "items": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "errorData": {
                                    "type": "structure",
                                    "members": {
                                        "rawError": {}
                                    }
                                },
                                "errorDateTime": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNBIP3SSBJJEGTSEE5VZUJHYSBHMHROVHKM6HOKQMPW54VG5DQUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62K7NOYO4CGNMWYQEEUNURHUNUIQ45JO5JJZACPOIAEII2JMC44Q/vendors.js"
            ]
        },
        "ListExports": {
            "http": {
                "requestUri": "/ListExports",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "filters": {
                        "type": "structure",
                        "members": {
                            "exportIDs": {
                                "type": "list",
                                "member": {}
                            }
                        }
                    },
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "items": {
                        "type": "list",
                        "member": {
                            "shape": "S5q"
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNBIP3SSBJJEGTSEE5VZUJHYSBHMHROVHKM6HOKQMPW54VG5DQUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62K7NOYO4CGNMWYQEEUNURHUNUIQ45JO5JJZACPOIAEII2JMC44Q/vendors.js"
            ]
        },
        "ListImportErrors": {
            "http": {
                "requestUri": "/ListImportErrors",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "importID"
                ],
                "members": {
                    "importID": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "items": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "errorData": {
                                    "type": "structure",
                                    "members": {
                                        "applicationID": {},
                                        "ec2LaunchTemplateID": {},
                                        "rawError": {},
                                        "rowNumber": {
                                            "type": "long"
                                        },
                                        "sourceServerID": {},
                                        "waveID": {}
                                    }
                                },
                                "errorDateTime": {},
                                "errorType": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNBIP3SSBJJEGTSEE5VZUJHYSBHMHROVHKM6HOKQMPW54VG5DQUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62K7NOYO4CGNMWYQEEUNURHUNUIQ45JO5JJZACPOIAEII2JMC44Q/vendors.js"
            ]
        },
        "ListImports": {
            "http": {
                "requestUri": "/ListImports",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "filters": {
                        "type": "structure",
                        "members": {
                            "importIDs": {
                                "type": "list",
                                "member": {}
                            }
                        }
                    },
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "items": {
                        "type": "list",
                        "member": {
                            "shape": "S69"
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNBIP3SSBJJEGTSEE5VZUJHYSBHMHROVHKM6HOKQMPW54VG5DQUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62K7NOYO4CGNMWYQEEUNURHUNUIQ45JO5JJZACPOIAEII2JMC44Q/vendors.js"
            ]
        },
        "StartExport": {
            "http": {
                "requestUri": "/StartExport",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "s3Bucket",
                    "s3Key"
                ],
                "members": {
                    "s3Bucket": {},
                    "s3BucketOwner": {},
                    "s3Key": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "exportTask": {
                        "shape": "S5q"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNBIP3SSBJJEGTSEE5VZUJHYSBHMHROVHKM6HOKQMPW54VG5DQUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62K7NOYO4CGNMWYQEEUNURHUNUIQ45JO5JJZACPOIAEII2JMC44Q/vendors.js"
            ]
        },
        "StartImport": {
            "http": {
[...]
