{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2020-02-26",
        "endpointPrefix": "mgn",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceAbbreviation": "mgn",
        "serviceFullName": "Application Migration Service",
        "serviceId": "mgn",
        "signatureVersion": "v4",
        "signingName": "mgn",
        "uid": "mgn-2020-02-26",
        "download_location": [
            "https://c.d.cdn.console.awsstatic.com/a/v1/RF52A4FM3QJGTCTZ4KAIJYTIBZLFGGQK5TF53SIKN5BDXCSHI2WA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/5CH5XCTWJYKS3DUUZVLQZB2YGOPEKXZ7XZ6N7COWYJJJLZ5MUH3Q/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/ETPN6KCHTP6N4XSRTRDT6NB4YUPNI4YMWXTEFB5B6SWIW7XTLSZA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/VVTCSAM5INGN5GSPBYOX77L3C4PH2N4CP7SE3CETZRZVBYCX6GOA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/VJ64IPIXWFHZMFXXCQ2JF62MMI3FCOIN7VOFMQBF2LXSP5AD5ZPQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/5RGF4HYNL3RKO6F2WXIY7ZCENHDPLOOIOW6L6AZSISQX4JZV4F3A/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/M7BNNGDSDTGREZWAD4KL3U2IVIXQWH6XMLBX7KVGDS4R5IPSDQ4A/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/LDW52UE74CMUQ7R3ADUY663EVIEBYQ7FH3K6IKDDBCMYKI5PHGGA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/RHGKJMIDDDMGLFVG3AQ7LD42EWG46XHQFJIKBYWKJP7DEWX5MZVQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/2E5PFBDEGXWCQXSK45LZQRFD3FHGF4OWBJ6AQ75ICA54IKUFEKIQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/JAPC53EBSOA3G6X6ZOCNKRG5EEX3YVLDQ5BFNII2A4IYPKTXTGLA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/TZXHYIFL7N3VWSJKGT5BZWTQGWVP753RJBTPH6ABOOJFJ534M65A/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/TYF7FAH6DTGC3UWK7ZTS2NIVJ4WD7L3AGZGWN6P7QFQ4YO3DNNPA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/DTHVNCSQGDJEZK4D56HZUERLEAKN3HFKDFCQ22IOYSXZPOGW6Z3A/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/BT32IF73ORFEDYTQUKFR6G26NFFVH6B3YAJJ2JVBC4M5P2VDGJKA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/ORYBZ4RR7TYNCZQOIEUCPYEW7IRPLOHE2FXKDTOJAR2AMI2FGI6A/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/SGY4A6VNPUALWY6YDSGRYS7AEFJABYW5AD7RN6HIJRDU2AJFIBFA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/OP3UHZ2EFWXZLLU6GHB3CIOC3NH7HUPDEUJQNBTPNSQE3DSTWPJA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/PRANVRKIGQRPMTGCVGPTDMF3KCOZKLA7ELNTT6CGAIEJXMAXO6BQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/OOP2UD7VDJFKWUFTZFUZ7STTM4LLWJPV76CJRNZ5MXBWIA2UR5WQ/vendors.js"
        ]
    },
    "operations": {
        "ArchiveApplication": {
            "http": {
                "requestUri": "/ArchiveApplication",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "applicationID"
                ],
                "members": {
                    "applicationID": {},
                    "accountID": {}
                }
            },
            "output": {
                "shape": "S3"
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/TINI2DCNKAOTJX2UEDOZ5CZZDXZD3X3XURCCYC57XQ2RSSGS7U5A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RF52A4FM3QJGTCTZ4KAIJYTIBZLFGGQK5TF53SIKN5BDXCSHI2WA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5CH5XCTWJYKS3DUUZVLQZB2YGOPEKXZ7XZ6N7COWYJJJLZ5MUH3Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ETPN6KCHTP6N4XSRTRDT6NB4YUPNI4YMWXTEFB5B6SWIW7XTLSZA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VVTCSAM5INGN5GSPBYOX77L3C4PH2N4CP7SE3CETZRZVBYCX6GOA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VJ64IPIXWFHZMFXXCQ2JF62MMI3FCOIN7VOFMQBF2LXSP5AD5ZPQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5RGF4HYNL3RKO6F2WXIY7ZCENHDPLOOIOW6L6AZSISQX4JZV4F3A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/M7BNNGDSDTGREZWAD4KL3U2IVIXQWH6XMLBX7KVGDS4R5IPSDQ4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LDW52UE74CMUQ7R3ADUY663EVIEBYQ7FH3K6IKDDBCMYKI5PHGGA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RHGKJMIDDDMGLFVG3AQ7LD42EWG46XHQFJIKBYWKJP7DEWX5MZVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2E5PFBDEGXWCQXSK45LZQRFD3FHGF4OWBJ6AQ75ICA54IKUFEKIQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JAPC53EBSOA3G6X6ZOCNKRG5EEX3YVLDQ5BFNII2A4IYPKTXTGLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TZXHYIFL7N3VWSJKGT5BZWTQGWVP753RJBTPH6ABOOJFJ534M65A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TYF7FAH6DTGC3UWK7ZTS2NIVJ4WD7L3AGZGWN6P7QFQ4YO3DNNPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DTHVNCSQGDJEZK4D56HZUERLEAKN3HFKDFCQ22IOYSXZPOGW6Z3A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BT32IF73ORFEDYTQUKFR6G26NFFVH6B3YAJJ2JVBC4M5P2VDGJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ORYBZ4RR7TYNCZQOIEUCPYEW7IRPLOHE2FXKDTOJAR2AMI2FGI6A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SGY4A6VNPUALWY6YDSGRYS7AEFJABYW5AD7RN6HIJRDU2AJFIBFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OP3UHZ2EFWXZLLU6GHB3CIOC3NH7HUPDEUJQNBTPNSQE3DSTWPJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PRANVRKIGQRPMTGCVGPTDMF3KCOZKLA7ELNTT6CGAIEJXMAXO6BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OOP2UD7VDJFKWUFTZFUZ7STTM4LLWJPV76CJRNZ5MXBWIA2UR5WQ/vendors.js"
            ]
        },
        "ArchiveWave": {
            "http": {
                "requestUri": "/ArchiveWave",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "waveID"
                ],
                "members": {
                    "waveID": {},
                    "accountID": {}
                }
            },
            "output": {
                "shape": "Si"
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/TINI2DCNKAOTJX2UEDOZ5CZZDXZD3X3XURCCYC57XQ2RSSGS7U5A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RF52A4FM3QJGTCTZ4KAIJYTIBZLFGGQK5TF53SIKN5BDXCSHI2WA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5CH5XCTWJYKS3DUUZVLQZB2YGOPEKXZ7XZ6N7COWYJJJLZ5MUH3Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ETPN6KCHTP6N4XSRTRDT6NB4YUPNI4YMWXTEFB5B6SWIW7XTLSZA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VVTCSAM5INGN5GSPBYOX77L3C4PH2N4CP7SE3CETZRZVBYCX6GOA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VJ64IPIXWFHZMFXXCQ2JF62MMI3FCOIN7VOFMQBF2LXSP5AD5ZPQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5RGF4HYNL3RKO6F2WXIY7ZCENHDPLOOIOW6L6AZSISQX4JZV4F3A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/M7BNNGDSDTGREZWAD4KL3U2IVIXQWH6XMLBX7KVGDS4R5IPSDQ4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LDW52UE74CMUQ7R3ADUY663EVIEBYQ7FH3K6IKDDBCMYKI5PHGGA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RHGKJMIDDDMGLFVG3AQ7LD42EWG46XHQFJIKBYWKJP7DEWX5MZVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2E5PFBDEGXWCQXSK45LZQRFD3FHGF4OWBJ6AQ75ICA54IKUFEKIQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JAPC53EBSOA3G6X6ZOCNKRG5EEX3YVLDQ5BFNII2A4IYPKTXTGLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TZXHYIFL7N3VWSJKGT5BZWTQGWVP753RJBTPH6ABOOJFJ534M65A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TYF7FAH6DTGC3UWK7ZTS2NIVJ4WD7L3AGZGWN6P7QFQ4YO3DNNPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DTHVNCSQGDJEZK4D56HZUERLEAKN3HFKDFCQ22IOYSXZPOGW6Z3A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BT32IF73ORFEDYTQUKFR6G26NFFVH6B3YAJJ2JVBC4M5P2VDGJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ORYBZ4RR7TYNCZQOIEUCPYEW7IRPLOHE2FXKDTOJAR2AMI2FGI6A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SGY4A6VNPUALWY6YDSGRYS7AEFJABYW5AD7RN6HIJRDU2AJFIBFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OP3UHZ2EFWXZLLU6GHB3CIOC3NH7HUPDEUJQNBTPNSQE3DSTWPJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PRANVRKIGQRPMTGCVGPTDMF3KCOZKLA7ELNTT6CGAIEJXMAXO6BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OOP2UD7VDJFKWUFTZFUZ7STTM4LLWJPV76CJRNZ5MXBWIA2UR5WQ/vendors.js"
            ]
        },
        "AssociateApplications": {
            "http": {
                "requestUri": "/AssociateApplications",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "applicationIDs",
                    "waveID"
                ],
                "members": {
                    "applicationIDs": {
                        "shape": "Sp"
                    },
                    "waveID": {},
                    "accountID": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/TINI2DCNKAOTJX2UEDOZ5CZZDXZD3X3XURCCYC57XQ2RSSGS7U5A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RF52A4FM3QJGTCTZ4KAIJYTIBZLFGGQK5TF53SIKN5BDXCSHI2WA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5CH5XCTWJYKS3DUUZVLQZB2YGOPEKXZ7XZ6N7COWYJJJLZ5MUH3Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ETPN6KCHTP6N4XSRTRDT6NB4YUPNI4YMWXTEFB5B6SWIW7XTLSZA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VVTCSAM5INGN5GSPBYOX77L3C4PH2N4CP7SE3CETZRZVBYCX6GOA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VJ64IPIXWFHZMFXXCQ2JF62MMI3FCOIN7VOFMQBF2LXSP5AD5ZPQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5RGF4HYNL3RKO6F2WXIY7ZCENHDPLOOIOW6L6AZSISQX4JZV4F3A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/M7BNNGDSDTGREZWAD4KL3U2IVIXQWH6XMLBX7KVGDS4R5IPSDQ4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LDW52UE74CMUQ7R3ADUY663EVIEBYQ7FH3K6IKDDBCMYKI5PHGGA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RHGKJMIDDDMGLFVG3AQ7LD42EWG46XHQFJIKBYWKJP7DEWX5MZVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2E5PFBDEGXWCQXSK45LZQRFD3FHGF4OWBJ6AQ75ICA54IKUFEKIQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JAPC53EBSOA3G6X6ZOCNKRG5EEX3YVLDQ5BFNII2A4IYPKTXTGLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TZXHYIFL7N3VWSJKGT5BZWTQGWVP753RJBTPH6ABOOJFJ534M65A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TYF7FAH6DTGC3UWK7ZTS2NIVJ4WD7L3AGZGWN6P7QFQ4YO3DNNPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DTHVNCSQGDJEZK4D56HZUERLEAKN3HFKDFCQ22IOYSXZPOGW6Z3A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BT32IF73ORFEDYTQUKFR6G26NFFVH6B3YAJJ2JVBC4M5P2VDGJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ORYBZ4RR7TYNCZQOIEUCPYEW7IRPLOHE2FXKDTOJAR2AMI2FGI6A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SGY4A6VNPUALWY6YDSGRYS7AEFJABYW5AD7RN6HIJRDU2AJFIBFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OP3UHZ2EFWXZLLU6GHB3CIOC3NH7HUPDEUJQNBTPNSQE3DSTWPJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PRANVRKIGQRPMTGCVGPTDMF3KCOZKLA7ELNTT6CGAIEJXMAXO6BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OOP2UD7VDJFKWUFTZFUZ7STTM4LLWJPV76CJRNZ5MXBWIA2UR5WQ/vendors.js"
            ]
        },
        "AssociateSourceServers": {
            "http": {
                "requestUri": "/AssociateSourceServers",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "applicationID",
                    "sourceServerIDs"
                ],
                "members": {
                    "applicationID": {},
                    "sourceServerIDs": {
                        "type": "list",
                        "member": {}
                    },
                    "accountID": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/TINI2DCNKAOTJX2UEDOZ5CZZDXZD3X3XURCCYC57XQ2RSSGS7U5A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RF52A4FM3QJGTCTZ4KAIJYTIBZLFGGQK5TF53SIKN5BDXCSHI2WA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5CH5XCTWJYKS3DUUZVLQZB2YGOPEKXZ7XZ6N7COWYJJJLZ5MUH3Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ETPN6KCHTP6N4XSRTRDT6NB4YUPNI4YMWXTEFB5B6SWIW7XTLSZA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VVTCSAM5INGN5GSPBYOX77L3C4PH2N4CP7SE3CETZRZVBYCX6GOA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VJ64IPIXWFHZMFXXCQ2JF62MMI3FCOIN7VOFMQBF2LXSP5AD5ZPQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5RGF4HYNL3RKO6F2WXIY7ZCENHDPLOOIOW6L6AZSISQX4JZV4F3A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/M7BNNGDSDTGREZWAD4KL3U2IVIXQWH6XMLBX7KVGDS4R5IPSDQ4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LDW52UE74CMUQ7R3ADUY663EVIEBYQ7FH3K6IKDDBCMYKI5PHGGA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RHGKJMIDDDMGLFVG3AQ7LD42EWG46XHQFJIKBYWKJP7DEWX5MZVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2E5PFBDEGXWCQXSK45LZQRFD3FHGF4OWBJ6AQ75ICA54IKUFEKIQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JAPC53EBSOA3G6X6ZOCNKRG5EEX3YVLDQ5BFNII2A4IYPKTXTGLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TZXHYIFL7N3VWSJKGT5BZWTQGWVP753RJBTPH6ABOOJFJ534M65A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TYF7FAH6DTGC3UWK7ZTS2NIVJ4WD7L3AGZGWN6P7QFQ4YO3DNNPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DTHVNCSQGDJEZK4D56HZUERLEAKN3HFKDFCQ22IOYSXZPOGW6Z3A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BT32IF73ORFEDYTQUKFR6G26NFFVH6B3YAJJ2JVBC4M5P2VDGJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ORYBZ4RR7TYNCZQOIEUCPYEW7IRPLOHE2FXKDTOJAR2AMI2FGI6A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SGY4A6VNPUALWY6YDSGRYS7AEFJABYW5AD7RN6HIJRDU2AJFIBFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OP3UHZ2EFWXZLLU6GHB3CIOC3NH7HUPDEUJQNBTPNSQE3DSTWPJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PRANVRKIGQRPMTGCVGPTDMF3KCOZKLA7ELNTT6CGAIEJXMAXO6BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OOP2UD7VDJFKWUFTZFUZ7STTM4LLWJPV76CJRNZ5MXBWIA2UR5WQ/vendors.js"
            ]
        },
        "ChangeServerLifeCycleState": {
            "http": {
                "requestUri": "/ChangeServerLifeCycleState",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "lifeCycle",
                    "sourceServerID"
                ],
                "members": {
                    "lifeCycle": {
                        "type": "structure",
                        "required": [
                            "state"
                        ],
                        "members": {
                            "state": {}
                        }
                    },
                    "sourceServerID": {},
                    "accountID": {}
                }
            },
            "output": {
                "shape": "Sy"
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/RF52A4FM3QJGTCTZ4KAIJYTIBZLFGGQK5TF53SIKN5BDXCSHI2WA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5CH5XCTWJYKS3DUUZVLQZB2YGOPEKXZ7XZ6N7COWYJJJLZ5MUH3Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ETPN6KCHTP6N4XSRTRDT6NB4YUPNI4YMWXTEFB5B6SWIW7XTLSZA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VVTCSAM5INGN5GSPBYOX77L3C4PH2N4CP7SE3CETZRZVBYCX6GOA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VJ64IPIXWFHZMFXXCQ2JF62MMI3FCOIN7VOFMQBF2LXSP5AD5ZPQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5RGF4HYNL3RKO6F2WXIY7ZCENHDPLOOIOW6L6AZSISQX4JZV4F3A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/M7BNNGDSDTGREZWAD4KL3U2IVIXQWH6XMLBX7KVGDS4R5IPSDQ4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LDW52UE74CMUQ7R3ADUY663EVIEBYQ7FH3K6IKDDBCMYKI5PHGGA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RHGKJMIDDDMGLFVG3AQ7LD42EWG46XHQFJIKBYWKJP7DEWX5MZVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2E5PFBDEGXWCQXSK45LZQRFD3FHGF4OWBJ6AQ75ICA54IKUFEKIQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JAPC53EBSOA3G6X6ZOCNKRG5EEX3YVLDQ5BFNII2A4IYPKTXTGLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TZXHYIFL7N3VWSJKGT5BZWTQGWVP753RJBTPH6ABOOJFJ534M65A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TYF7FAH6DTGC3UWK7ZTS2NIVJ4WD7L3AGZGWN6P7QFQ4YO3DNNPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DTHVNCSQGDJEZK4D56HZUERLEAKN3HFKDFCQ22IOYSXZPOGW6Z3A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BT32IF73ORFEDYTQUKFR6G26NFFVH6B3YAJJ2JVBC4M5P2VDGJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ORYBZ4RR7TYNCZQOIEUCPYEW7IRPLOHE2FXKDTOJAR2AMI2FGI6A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SGY4A6VNPUALWY6YDSGRYS7AEFJABYW5AD7RN6HIJRDU2AJFIBFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OP3UHZ2EFWXZLLU6GHB3CIOC3NH7HUPDEUJQNBTPNSQE3DSTWPJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PRANVRKIGQRPMTGCVGPTDMF3KCOZKLA7ELNTT6CGAIEJXMAXO6BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OOP2UD7VDJFKWUFTZFUZ7STTM4LLWJPV76CJRNZ5MXBWIA2UR5WQ/vendors.js"
            ]
        },
        "CreateApplication": {
            "http": {
                "requestUri": "/CreateApplication",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "name"
                ],
                "members": {
                    "description": {},
                    "name": {},
                    "tags": {
                        "shape": "Sd"
                    },
                    "accountID": {}
                }
            },
            "output": {
                "shape": "S3"
            },
            "idempotent": true,
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/TINI2DCNKAOTJX2UEDOZ5CZZDXZD3X3XURCCYC57XQ2RSSGS7U5A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RF52A4FM3QJGTCTZ4KAIJYTIBZLFGGQK5TF53SIKN5BDXCSHI2WA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5CH5XCTWJYKS3DUUZVLQZB2YGOPEKXZ7XZ6N7COWYJJJLZ5MUH3Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ETPN6KCHTP6N4XSRTRDT6NB4YUPNI4YMWXTEFB5B6SWIW7XTLSZA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VVTCSAM5INGN5GSPBYOX77L3C4PH2N4CP7SE3CETZRZVBYCX6GOA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VJ64IPIXWFHZMFXXCQ2JF62MMI3FCOIN7VOFMQBF2LXSP5AD5ZPQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5RGF4HYNL3RKO6F2WXIY7ZCENHDPLOOIOW6L6AZSISQX4JZV4F3A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/M7BNNGDSDTGREZWAD4KL3U2IVIXQWH6XMLBX7KVGDS4R5IPSDQ4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LDW52UE74CMUQ7R3ADUY663EVIEBYQ7FH3K6IKDDBCMYKI5PHGGA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RHGKJMIDDDMGLFVG3AQ7LD42EWG46XHQFJIKBYWKJP7DEWX5MZVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2E5PFBDEGXWCQXSK45LZQRFD3FHGF4OWBJ6AQ75ICA54IKUFEKIQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JAPC53EBSOA3G6X6ZOCNKRG5EEX3YVLDQ5BFNII2A4IYPKTXTGLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TZXHYIFL7N3VWSJKGT5BZWTQGWVP753RJBTPH6ABOOJFJ534M65A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TYF7FAH6DTGC3UWK7ZTS2NIVJ4WD7L3AGZGWN6P7QFQ4YO3DNNPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DTHVNCSQGDJEZK4D56HZUERLEAKN3HFKDFCQ22IOYSXZPOGW6Z3A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BT32IF73ORFEDYTQUKFR6G26NFFVH6B3YAJJ2JVBC4M5P2VDGJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ORYBZ4RR7TYNCZQOIEUCPYEW7IRPLOHE2FXKDTOJAR2AMI2FGI6A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SGY4A6VNPUALWY6YDSGRYS7AEFJABYW5AD7RN6HIJRDU2AJFIBFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OP3UHZ2EFWXZLLU6GHB3CIOC3NH7HUPDEUJQNBTPNSQE3DSTWPJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PRANVRKIGQRPMTGCVGPTDMF3KCOZKLA7ELNTT6CGAIEJXMAXO6BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OOP2UD7VDJFKWUFTZFUZ7STTM4LLWJPV76CJRNZ5MXBWIA2UR5WQ/vendors.js"
            ]
        },
        "CreateLaunchConfigurationTemplate": {
            "http": {
                "requestUri": "/CreateLaunchConfigurationTemplate",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "members": {
                    "associatePublicIpAddress": {
                        "type": "boolean"
                    },
                    "bootMode": {},
                    "copyPrivateIp": {
                        "type": "boolean"
                    },
                    "copyTags": {
                        "type": "boolean"
                    },
                    "enableMapAutoTagging": {
                        "type": "boolean"
                    },
                    "largeVolumeConf": {
                        "shape": "S27"
                    },
                    "launchDisposition": {},
                    "licensing": {
                        "shape": "S2a"
                    },
                    "mapAutoTaggingMpeID": {},
                    "postLaunchActions": {
                        "shape": "S2b"
                    },
                    "smallVolumeConf": {
                        "shape": "S27"
                    },
                    "smallVolumeMaxSize": {
                        "type": "long"
                    },
                    "tags": {
                        "shape": "Sd"
                    },
                    "targetInstanceTypeRightSizingMethod": {},
                    "enableParametersEncryption": {
                        "type": "boolean"
                    },
                    "parametersEncryptionKey": {}
                }
            },
            "output": {
                "shape": "S2q"
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/TINI2DCNKAOTJX2UEDOZ5CZZDXZD3X3XURCCYC57XQ2RSSGS7U5A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RF52A4FM3QJGTCTZ4KAIJYTIBZLFGGQK5TF53SIKN5BDXCSHI2WA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5CH5XCTWJYKS3DUUZVLQZB2YGOPEKXZ7XZ6N7COWYJJJLZ5MUH3Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ETPN6KCHTP6N4XSRTRDT6NB4YUPNI4YMWXTEFB5B6SWIW7XTLSZA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VVTCSAM5INGN5GSPBYOX77L3C4PH2N4CP7SE3CETZRZVBYCX6GOA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VJ64IPIXWFHZMFXXCQ2JF62MMI3FCOIN7VOFMQBF2LXSP5AD5ZPQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5RGF4HYNL3RKO6F2WXIY7ZCENHDPLOOIOW6L6AZSISQX4JZV4F3A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/M7BNNGDSDTGREZWAD4KL3U2IVIXQWH6XMLBX7KVGDS4R5IPSDQ4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LDW52UE74CMUQ7R3ADUY663EVIEBYQ7FH3K6IKDDBCMYKI5PHGGA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RHGKJMIDDDMGLFVG3AQ7LD42EWG46XHQFJIKBYWKJP7DEWX5MZVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2E5PFBDEGXWCQXSK45LZQRFD3FHGF4OWBJ6AQ75ICA54IKUFEKIQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JAPC53EBSOA3G6X6ZOCNKRG5EEX3YVLDQ5BFNII2A4IYPKTXTGLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TZXHYIFL7N3VWSJKGT5BZWTQGWVP753RJBTPH6ABOOJFJ534M65A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TYF7FAH6DTGC3UWK7ZTS2NIVJ4WD7L3AGZGWN6P7QFQ4YO3DNNPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DTHVNCSQGDJEZK4D56HZUERLEAKN3HFKDFCQ22IOYSXZPOGW6Z3A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BT32IF73ORFEDYTQUKFR6G26NFFVH6B3YAJJ2JVBC4M5P2VDGJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ORYBZ4RR7TYNCZQOIEUCPYEW7IRPLOHE2FXKDTOJAR2AMI2FGI6A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SGY4A6VNPUALWY6YDSGRYS7AEFJABYW5AD7RN6HIJRDU2AJFIBFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OP3UHZ2EFWXZLLU6GHB3CIOC3NH7HUPDEUJQNBTPNSQE3DSTWPJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PRANVRKIGQRPMTGCVGPTDMF3KCOZKLA7ELNTT6CGAIEJXMAXO6BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OOP2UD7VDJFKWUFTZFUZ7STTM4LLWJPV76CJRNZ5MXBWIA2UR5WQ/vendors.js"
            ]
        },
        "CreateReplicationConfigurationTemplate": {
            "http": {
                "requestUri": "/CreateReplicationConfigurationTemplate",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "associateDefaultSecurityGroup",
                    "bandwidthThrottling",
                    "createPublicIP",
                    "dataPlaneRouting",
                    "defaultLargeStagingDiskType",
                    "ebsEncryption",
                    "replicationServerInstanceType",
                    "replicationServersSecurityGroupsIDs",
                    "stagingAreaSubnetId",
                    "stagingAreaTags",
                    "useDedicatedReplicationServer"
                ],
                "members": {
                    "associateDefaultSecurityGroup": {
                        "type": "boolean"
                    },
                    "bandwidthThrottling": {
                        "type": "long"
                    },
                    "createPublicIP": {
                        "type": "boolean"
                    },
                    "dataPlaneRouting": {},
                    "defaultLargeStagingDiskType": {},
                    "ebsEncryption": {},
                    "ebsEncryptionKeyArn": {},
                    "replicationServerInstanceType": {},
                    "replicationServersSecurityGroupsIDs": {
                        "shape": "S2x"
                    },
                    "stagingAreaSubnetId": {},
                    "stagingAreaTags": {
                        "shape": "Sd"
                    },
                    "tags": {
                        "shape": "Sd"
                    },
                    "useDedicatedReplicationServer": {
                        "type": "boolean"
                    },
                    "useFipsEndpoint": {
                        "type": "boolean"
                    },
                    "internetProtocol": {}
                }
            },
            "output": {
                "shape": "S30"
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/RF52A4FM3QJGTCTZ4KAIJYTIBZLFGGQK5TF53SIKN5BDXCSHI2WA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5CH5XCTWJYKS3DUUZVLQZB2YGOPEKXZ7XZ6N7COWYJJJLZ5MUH3Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ETPN6KCHTP6N4XSRTRDT6NB4YUPNI4YMWXTEFB5B6SWIW7XTLSZA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VVTCSAM5INGN5GSPBYOX77L3C4PH2N4CP7SE3CETZRZVBYCX6GOA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VJ64IPIXWFHZMFXXCQ2JF62MMI3FCOIN7VOFMQBF2LXSP5AD5ZPQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5RGF4HYNL3RKO6F2WXIY7ZCENHDPLOOIOW6L6AZSISQX4JZV4F3A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/M7BNNGDSDTGREZWAD4KL3U2IVIXQWH6XMLBX7KVGDS4R5IPSDQ4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LDW52UE74CMUQ7R3ADUY663EVIEBYQ7FH3K6IKDDBCMYKI5PHGGA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RHGKJMIDDDMGLFVG3AQ7LD42EWG46XHQFJIKBYWKJP7DEWX5MZVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2E5PFBDEGXWCQXSK45LZQRFD3FHGF4OWBJ6AQ75ICA54IKUFEKIQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JAPC53EBSOA3G6X6ZOCNKRG5EEX3YVLDQ5BFNII2A4IYPKTXTGLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TZXHYIFL7N3VWSJKGT5BZWTQGWVP753RJBTPH6ABOOJFJ534M65A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TYF7FAH6DTGC3UWK7ZTS2NIVJ4WD7L3AGZGWN6P7QFQ4YO3DNNPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DTHVNCSQGDJEZK4D56HZUERLEAKN3HFKDFCQ22IOYSXZPOGW6Z3A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BT32IF73ORFEDYTQUKFR6G26NFFVH6B3YAJJ2JVBC4M5P2VDGJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ORYBZ4RR7TYNCZQOIEUCPYEW7IRPLOHE2FXKDTOJAR2AMI2FGI6A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SGY4A6VNPUALWY6YDSGRYS7AEFJABYW5AD7RN6HIJRDU2AJFIBFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OP3UHZ2EFWXZLLU6GHB3CIOC3NH7HUPDEUJQNBTPNSQE3DSTWPJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PRANVRKIGQRPMTGCVGPTDMF3KCOZKLA7ELNTT6CGAIEJXMAXO6BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OOP2UD7VDJFKWUFTZFUZ7STTM4LLWJPV76CJRNZ5MXBWIA2UR5WQ/vendors.js"
            ]
        },
        "CreateWave": {
            "http": {
                "requestUri": "/CreateWave",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "name"
                ],
                "members": {
                    "description": {},
                    "name": {},
                    "tags": {
                        "shape": "Sd"
                    },
                    "accountID": {}
                }
            },
            "output": {
                "shape": "Si"
            },
            "idempotent": true,
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/TINI2DCNKAOTJX2UEDOZ5CZZDXZD3X3XURCCYC57XQ2RSSGS7U5A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RF52A4FM3QJGTCTZ4KAIJYTIBZLFGGQK5TF53SIKN5BDXCSHI2WA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5CH5XCTWJYKS3DUUZVLQZB2YGOPEKXZ7XZ6N7COWYJJJLZ5MUH3Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ETPN6KCHTP6N4XSRTRDT6NB4YUPNI4YMWXTEFB5B6SWIW7XTLSZA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VVTCSAM5INGN5GSPBYOX77L3C4PH2N4CP7SE3CETZRZVBYCX6GOA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VJ64IPIXWFHZMFXXCQ2JF62MMI3FCOIN7VOFMQBF2LXSP5AD5ZPQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5RGF4HYNL3RKO6F2WXIY7ZCENHDPLOOIOW6L6AZSISQX4JZV4F3A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/M7BNNGDSDTGREZWAD4KL3U2IVIXQWH6XMLBX7KVGDS4R5IPSDQ4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LDW52UE74CMUQ7R3ADUY663EVIEBYQ7FH3K6IKDDBCMYKI5PHGGA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RHGKJMIDDDMGLFVG3AQ7LD42EWG46XHQFJIKBYWKJP7DEWX5MZVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2E5PFBDEGXWCQXSK45LZQRFD3FHGF4OWBJ6AQ75ICA54IKUFEKIQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JAPC53EBSOA3G6X6ZOCNKRG5EEX3YVLDQ5BFNII2A4IYPKTXTGLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TZXHYIFL7N3VWSJKGT5BZWTQGWVP753RJBTPH6ABOOJFJ534M65A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TYF7FAH6DTGC3UWK7ZTS2NIVJ4WD7L3AGZGWN6P7QFQ4YO3DNNPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DTHVNCSQGDJEZK4D56HZUERLEAKN3HFKDFCQ22IOYSXZPOGW6Z3A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BT32IF73ORFEDYTQUKFR6G26NFFVH6B3YAJJ2JVBC4M5P2VDGJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ORYBZ4RR7TYNCZQOIEUCPYEW7IRPLOHE2FXKDTOJAR2AMI2FGI6A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SGY4A6VNPUALWY6YDSGRYS7AEFJABYW5AD7RN6HIJRDU2AJFIBFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OP3UHZ2EFWXZLLU6GHB3CIOC3NH7HUPDEUJQNBTPNSQE3DSTWPJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PRANVRKIGQRPMTGCVGPTDMF3KCOZKLA7ELNTT6CGAIEJXMAXO6BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OOP2UD7VDJFKWUFTZFUZ7STTM4LLWJPV76CJRNZ5MXBWIA2UR5WQ/vendors.js"
            ]
        },
        "DeleteApplication": {
            "http": {
                "requestUri": "/DeleteApplication",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "applicationID"
                ],
                "members": {
                    "applicationID": {},
                    "accountID": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/TINI2DCNKAOTJX2UEDOZ5CZZDXZD3X3XURCCYC57XQ2RSSGS7U5A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RF52A4FM3QJGTCTZ4KAIJYTIBZLFGGQK5TF53SIKN5BDXCSHI2WA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5CH5XCTWJYKS3DUUZVLQZB2YGOPEKXZ7XZ6N7COWYJJJLZ5MUH3Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ETPN6KCHTP6N4XSRTRDT6NB4YUPNI4YMWXTEFB5B6SWIW7XTLSZA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VVTCSAM5INGN5GSPBYOX77L3C4PH2N4CP7SE3CETZRZVBYCX6GOA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VJ64IPIXWFHZMFXXCQ2JF62MMI3FCOIN7VOFMQBF2LXSP5AD5ZPQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5RGF4HYNL3RKO6F2WXIY7ZCENHDPLOOIOW6L6AZSISQX4JZV4F3A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/M7BNNGDSDTGREZWAD4KL3U2IVIXQWH6XMLBX7KVGDS4R5IPSDQ4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LDW52UE74CMUQ7R3ADUY663EVIEBYQ7FH3K6IKDDBCMYKI5PHGGA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RHGKJMIDDDMGLFVG3AQ7LD42EWG46XHQFJIKBYWKJP7DEWX5MZVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2E5PFBDEGXWCQXSK45LZQRFD3FHGF4OWBJ6AQ75ICA54IKUFEKIQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JAPC53EBSOA3G6X6ZOCNKRG5EEX3YVLDQ5BFNII2A4IYPKTXTGLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TZXHYIFL7N3VWSJKGT5BZWTQGWVP753RJBTPH6ABOOJFJ534M65A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TYF7FAH6DTGC3UWK7ZTS2NIVJ4WD7L3AGZGWN6P7QFQ4YO3DNNPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DTHVNCSQGDJEZK4D56HZUERLEAKN3HFKDFCQ22IOYSXZPOGW6Z3A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BT32IF73ORFEDYTQUKFR6G26NFFVH6B3YAJJ2JVBC4M5P2VDGJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ORYBZ4RR7TYNCZQOIEUCPYEW7IRPLOHE2FXKDTOJAR2AMI2FGI6A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SGY4A6VNPUALWY6YDSGRYS7AEFJABYW5AD7RN6HIJRDU2AJFIBFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OP3UHZ2EFWXZLLU6GHB3CIOC3NH7HUPDEUJQNBTPNSQE3DSTWPJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PRANVRKIGQRPMTGCVGPTDMF3KCOZKLA7ELNTT6CGAIEJXMAXO6BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OOP2UD7VDJFKWUFTZFUZ7STTM4LLWJPV76CJRNZ5MXBWIA2UR5WQ/vendors.js"
            ]
        },
        "DeleteJob": {
            "http": {
                "requestUri": "/DeleteJob",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "jobID"
                ],
                "members": {
                    "jobID": {},
                    "accountID": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/RF52A4FM3QJGTCTZ4KAIJYTIBZLFGGQK5TF53SIKN5BDXCSHI2WA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5CH5XCTWJYKS3DUUZVLQZB2YGOPEKXZ7XZ6N7COWYJJJLZ5MUH3Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ETPN6KCHTP6N4XSRTRDT6NB4YUPNI4YMWXTEFB5B6SWIW7XTLSZA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VVTCSAM5INGN5GSPBYOX77L3C4PH2N4CP7SE3CETZRZVBYCX6GOA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VJ64IPIXWFHZMFXXCQ2JF62MMI3FCOIN7VOFMQBF2LXSP5AD5ZPQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5RGF4HYNL3RKO6F2WXIY7ZCENHDPLOOIOW6L6AZSISQX4JZV4F3A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/M7BNNGDSDTGREZWAD4KL3U2IVIXQWH6XMLBX7KVGDS4R5IPSDQ4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LDW52UE74CMUQ7R3ADUY663EVIEBYQ7FH3K6IKDDBCMYKI5PHGGA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RHGKJMIDDDMGLFVG3AQ7LD42EWG46XHQFJIKBYWKJP7DEWX5MZVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2E5PFBDEGXWCQXSK45LZQRFD3FHGF4OWBJ6AQ75ICA54IKUFEKIQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JAPC53EBSOA3G6X6ZOCNKRG5EEX3YVLDQ5BFNII2A4IYPKTXTGLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TZXHYIFL7N3VWSJKGT5BZWTQGWVP753RJBTPH6ABOOJFJ534M65A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TYF7FAH6DTGC3UWK7ZTS2NIVJ4WD7L3AGZGWN6P7QFQ4YO3DNNPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DTHVNCSQGDJEZK4D56HZUERLEAKN3HFKDFCQ22IOYSXZPOGW6Z3A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BT32IF73ORFEDYTQUKFR6G26NFFVH6B3YAJJ2JVBC4M5P2VDGJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ORYBZ4RR7TYNCZQOIEUCPYEW7IRPLOHE2FXKDTOJAR2AMI2FGI6A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SGY4A6VNPUALWY6YDSGRYS7AEFJABYW5AD7RN6HIJRDU2AJFIBFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OP3UHZ2EFWXZLLU6GHB3CIOC3NH7HUPDEUJQNBTPNSQE3DSTWPJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PRANVRKIGQRPMTGCVGPTDMF3KCOZKLA7ELNTT6CGAIEJXMAXO6BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OOP2UD7VDJFKWUFTZFUZ7STTM4LLWJPV76CJRNZ5MXBWIA2UR5WQ/vendors.js"
            ]
        },
        "DeleteLaunchConfigurationTemplate": {
            "http": {
                "requestUri": "/DeleteLaunchConfigurationTemplate",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "launchConfigurationTemplateID"
                ],
                "members": {
                    "launchConfigurationTemplateID": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/TINI2DCNKAOTJX2UEDOZ5CZZDXZD3X3XURCCYC57XQ2RSSGS7U5A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RF52A4FM3QJGTCTZ4KAIJYTIBZLFGGQK5TF53SIKN5BDXCSHI2WA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5CH5XCTWJYKS3DUUZVLQZB2YGOPEKXZ7XZ6N7COWYJJJLZ5MUH3Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ETPN6KCHTP6N4XSRTRDT6NB4YUPNI4YMWXTEFB5B6SWIW7XTLSZA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VVTCSAM5INGN5GSPBYOX77L3C4PH2N4CP7SE3CETZRZVBYCX6GOA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VJ64IPIXWFHZMFXXCQ2JF62MMI3FCOIN7VOFMQBF2LXSP5AD5ZPQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5RGF4HYNL3RKO6F2WXIY7ZCENHDPLOOIOW6L6AZSISQX4JZV4F3A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/M7BNNGDSDTGREZWAD4KL3U2IVIXQWH6XMLBX7KVGDS4R5IPSDQ4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LDW52UE74CMUQ7R3ADUY663EVIEBYQ7FH3K6IKDDBCMYKI5PHGGA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RHGKJMIDDDMGLFVG3AQ7LD42EWG46XHQFJIKBYWKJP7DEWX5MZVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2E5PFBDEGXWCQXSK45LZQRFD3FHGF4OWBJ6AQ75ICA54IKUFEKIQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JAPC53EBSOA3G6X6ZOCNKRG5EEX3YVLDQ5BFNII2A4IYPKTXTGLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TZXHYIFL7N3VWSJKGT5BZWTQGWVP753RJBTPH6ABOOJFJ534M65A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TYF7FAH6DTGC3UWK7ZTS2NIVJ4WD7L3AGZGWN6P7QFQ4YO3DNNPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DTHVNCSQGDJEZK4D56HZUERLEAKN3HFKDFCQ22IOYSXZPOGW6Z3A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BT32IF73ORFEDYTQUKFR6G26NFFVH6B3YAJJ2JVBC4M5P2VDGJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ORYBZ4RR7TYNCZQOIEUCPYEW7IRPLOHE2FXKDTOJAR2AMI2FGI6A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SGY4A6VNPUALWY6YDSGRYS7AEFJABYW5AD7RN6HIJRDU2AJFIBFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OP3UHZ2EFWXZLLU6GHB3CIOC3NH7HUPDEUJQNBTPNSQE3DSTWPJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PRANVRKIGQRPMTGCVGPTDMF3KCOZKLA7ELNTT6CGAIEJXMAXO6BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OOP2UD7VDJFKWUFTZFUZ7STTM4LLWJPV76CJRNZ5MXBWIA2UR5WQ/vendors.js"
            ]
        },
        "DeleteReplicationConfigurationTemplate": {
            "http": {
                "requestUri": "/DeleteReplicationConfigurationTemplate",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "replicationConfigurationTemplateID"
                ],
                "members": {
                    "replicationConfigurationTemplateID": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/RF52A4FM3QJGTCTZ4KAIJYTIBZLFGGQK5TF53SIKN5BDXCSHI2WA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5CH5XCTWJYKS3DUUZVLQZB2YGOPEKXZ7XZ6N7COWYJJJLZ5MUH3Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ETPN6KCHTP6N4XSRTRDT6NB4YUPNI4YMWXTEFB5B6SWIW7XTLSZA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VVTCSAM5INGN5GSPBYOX77L3C4PH2N4CP7SE3CETZRZVBYCX6GOA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VJ64IPIXWFHZMFXXCQ2JF62MMI3FCOIN7VOFMQBF2LXSP5AD5ZPQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5RGF4HYNL3RKO6F2WXIY7ZCENHDPLOOIOW6L6AZSISQX4JZV4F3A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/M7BNNGDSDTGREZWAD4KL3U2IVIXQWH6XMLBX7KVGDS4R5IPSDQ4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LDW52UE74CMUQ7R3ADUY663EVIEBYQ7FH3K6IKDDBCMYKI5PHGGA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RHGKJMIDDDMGLFVG3AQ7LD42EWG46XHQFJIKBYWKJP7DEWX5MZVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2E5PFBDEGXWCQXSK45LZQRFD3FHGF4OWBJ6AQ75ICA54IKUFEKIQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JAPC53EBSOA3G6X6ZOCNKRG5EEX3YVLDQ5BFNII2A4IYPKTXTGLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TZXHYIFL7N3VWSJKGT5BZWTQGWVP753RJBTPH6ABOOJFJ534M65A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TYF7FAH6DTGC3UWK7ZTS2NIVJ4WD7L3AGZGWN6P7QFQ4YO3DNNPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DTHVNCSQGDJEZK4D56HZUERLEAKN3HFKDFCQ22IOYSXZPOGW6Z3A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BT32IF73ORFEDYTQUKFR6G26NFFVH6B3YAJJ2JVBC4M5P2VDGJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ORYBZ4RR7TYNCZQOIEUCPYEW7IRPLOHE2FXKDTOJAR2AMI2FGI6A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SGY4A6VNPUALWY6YDSGRYS7AEFJABYW5AD7RN6HIJRDU2AJFIBFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OP3UHZ2EFWXZLLU6GHB3CIOC3NH7HUPDEUJQNBTPNSQE3DSTWPJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PRANVRKIGQRPMTGCVGPTDMF3KCOZKLA7ELNTT6CGAIEJXMAXO6BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OOP2UD7VDJFKWUFTZFUZ7STTM4LLWJPV76CJRNZ5MXBWIA2UR5WQ/vendors.js"
            ]
        },
        "DeleteSourceServer": {
            "http": {
                "requestUri": "/DeleteSourceServer",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "sourceServerID"
                ],
                "members": {
                    "sourceServerID": {},
                    "accountID": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/RF52A4FM3QJGTCTZ4KAIJYTIBZLFGGQK5TF53SIKN5BDXCSHI2WA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5CH5XCTWJYKS3DUUZVLQZB2YGOPEKXZ7XZ6N7COWYJJJLZ5MUH3Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ETPN6KCHTP6N4XSRTRDT6NB4YUPNI4YMWXTEFB5B6SWIW7XTLSZA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VVTCSAM5INGN5GSPBYOX77L3C4PH2N4CP7SE3CETZRZVBYCX6GOA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VJ64IPIXWFHZMFXXCQ2JF62MMI3FCOIN7VOFMQBF2LXSP5AD5ZPQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5RGF4HYNL3RKO6F2WXIY7ZCENHDPLOOIOW6L6AZSISQX4JZV4F3A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/M7BNNGDSDTGREZWAD4KL3U2IVIXQWH6XMLBX7KVGDS4R5IPSDQ4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LDW52UE74CMUQ7R3ADUY663EVIEBYQ7FH3K6IKDDBCMYKI5PHGGA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RHGKJMIDDDMGLFVG3AQ7LD42EWG46XHQFJIKBYWKJP7DEWX5MZVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2E5PFBDEGXWCQXSK45LZQRFD3FHGF4OWBJ6AQ75ICA54IKUFEKIQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JAPC53EBSOA3G6X6ZOCNKRG5EEX3YVLDQ5BFNII2A4IYPKTXTGLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TZXHYIFL7N3VWSJKGT5BZWTQGWVP753RJBTPH6ABOOJFJ534M65A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TYF7FAH6DTGC3UWK7ZTS2NIVJ4WD7L3AGZGWN6P7QFQ4YO3DNNPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DTHVNCSQGDJEZK4D56HZUERLEAKN3HFKDFCQ22IOYSXZPOGW6Z3A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BT32IF73ORFEDYTQUKFR6G26NFFVH6B3YAJJ2JVBC4M5P2VDGJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ORYBZ4RR7TYNCZQOIEUCPYEW7IRPLOHE2FXKDTOJAR2AMI2FGI6A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SGY4A6VNPUALWY6YDSGRYS7AEFJABYW5AD7RN6HIJRDU2AJFIBFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OP3UHZ2EFWXZLLU6GHB3CIOC3NH7HUPDEUJQNBTPNSQE3DSTWPJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PRANVRKIGQRPMTGCVGPTDMF3KCOZKLA7ELNTT6CGAIEJXMAXO6BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OOP2UD7VDJFKWUFTZFUZ7STTM4LLWJPV76CJRNZ5MXBWIA2UR5WQ/vendors.js"
            ]
        },
        "DeleteVcenterClient": {
            "http": {
                "requestUri": "/DeleteVcenterClient",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "vcenterClientID"
                ],
                "members": {
                    "vcenterClientID": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/TINI2DCNKAOTJX2UEDOZ5CZZDXZD3X3XURCCYC57XQ2RSSGS7U5A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RF52A4FM3QJGTCTZ4KAIJYTIBZLFGGQK5TF53SIKN5BDXCSHI2WA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5CH5XCTWJYKS3DUUZVLQZB2YGOPEKXZ7XZ6N7COWYJJJLZ5MUH3Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ETPN6KCHTP6N4XSRTRDT6NB4YUPNI4YMWXTEFB5B6SWIW7XTLSZA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VVTCSAM5INGN5GSPBYOX77L3C4PH2N4CP7SE3CETZRZVBYCX6GOA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VJ64IPIXWFHZMFXXCQ2JF62MMI3FCOIN7VOFMQBF2LXSP5AD5ZPQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5RGF4HYNL3RKO6F2WXIY7ZCENHDPLOOIOW6L6AZSISQX4JZV4F3A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/M7BNNGDSDTGREZWAD4KL3U2IVIXQWH6XMLBX7KVGDS4R5IPSDQ4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LDW52UE74CMUQ7R3ADUY663EVIEBYQ7FH3K6IKDDBCMYKI5PHGGA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RHGKJMIDDDMGLFVG3AQ7LD42EWG46XHQFJIKBYWKJP7DEWX5MZVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2E5PFBDEGXWCQXSK45LZQRFD3FHGF4OWBJ6AQ75ICA54IKUFEKIQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JAPC53EBSOA3G6X6ZOCNKRG5EEX3YVLDQ5BFNII2A4IYPKTXTGLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TZXHYIFL7N3VWSJKGT5BZWTQGWVP753RJBTPH6ABOOJFJ534M65A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TYF7FAH6DTGC3UWK7ZTS2NIVJ4WD7L3AGZGWN6P7QFQ4YO3DNNPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DTHVNCSQGDJEZK4D56HZUERLEAKN3HFKDFCQ22IOYSXZPOGW6Z3A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BT32IF73ORFEDYTQUKFR6G26NFFVH6B3YAJJ2JVBC4M5P2VDGJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ORYBZ4RR7TYNCZQOIEUCPYEW7IRPLOHE2FXKDTOJAR2AMI2FGI6A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SGY4A6VNPUALWY6YDSGRYS7AEFJABYW5AD7RN6HIJRDU2AJFIBFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OP3UHZ2EFWXZLLU6GHB3CIOC3NH7HUPDEUJQNBTPNSQE3DSTWPJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PRANVRKIGQRPMTGCVGPTDMF3KCOZKLA7ELNTT6CGAIEJXMAXO6BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OOP2UD7VDJFKWUFTZFUZ7STTM4LLWJPV76CJRNZ5MXBWIA2UR5WQ/vendors.js"
            ]
        },
        "DeleteWave": {
            "http": {
                "requestUri": "/DeleteWave",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "waveID"
                ],
                "members": {
                    "waveID": {},
                    "accountID": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/TINI2DCNKAOTJX2UEDOZ5CZZDXZD3X3XURCCYC57XQ2RSSGS7U5A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RF52A4FM3QJGTCTZ4KAIJYTIBZLFGGQK5TF53SIKN5BDXCSHI2WA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5CH5XCTWJYKS3DUUZVLQZB2YGOPEKXZ7XZ6N7COWYJJJLZ5MUH3Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ETPN6KCHTP6N4XSRTRDT6NB4YUPNI4YMWXTEFB5B6SWIW7XTLSZA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VVTCSAM5INGN5GSPBYOX77L3C4PH2N4CP7SE3CETZRZVBYCX6GOA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VJ64IPIXWFHZMFXXCQ2JF62MMI3FCOIN7VOFMQBF2LXSP5AD5ZPQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5RGF4HYNL3RKO6F2WXIY7ZCENHDPLOOIOW6L6AZSISQX4JZV4F3A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/M7BNNGDSDTGREZWAD4KL3U2IVIXQWH6XMLBX7KVGDS4R5IPSDQ4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LDW52UE74CMUQ7R3ADUY663EVIEBYQ7FH3K6IKDDBCMYKI5PHGGA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RHGKJMIDDDMGLFVG3AQ7LD42EWG46XHQFJIKBYWKJP7DEWX5MZVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2E5PFBDEGXWCQXSK45LZQRFD3FHGF4OWBJ6AQ75ICA54IKUFEKIQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JAPC53EBSOA3G6X6ZOCNKRG5EEX3YVLDQ5BFNII2A4IYPKTXTGLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TZXHYIFL7N3VWSJKGT5BZWTQGWVP753RJBTPH6ABOOJFJ534M65A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TYF7FAH6DTGC3UWK7ZTS2NIVJ4WD7L3AGZGWN6P7QFQ4YO3DNNPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DTHVNCSQGDJEZK4D56HZUERLEAKN3HFKDFCQ22IOYSXZPOGW6Z3A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BT32IF73ORFEDYTQUKFR6G26NFFVH6B3YAJJ2JVBC4M5P2VDGJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ORYBZ4RR7TYNCZQOIEUCPYEW7IRPLOHE2FXKDTOJAR2AMI2FGI6A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SGY4A6VNPUALWY6YDSGRYS7AEFJABYW5AD7RN6HIJRDU2AJFIBFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OP3UHZ2EFWXZLLU6GHB3CIOC3NH7HUPDEUJQNBTPNSQE3DSTWPJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PRANVRKIGQRPMTGCVGPTDMF3KCOZKLA7ELNTT6CGAIEJXMAXO6BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OOP2UD7VDJFKWUFTZFUZ7STTM4LLWJPV76CJRNZ5MXBWIA2UR5WQ/vendors.js"
            ]
        },
        "DescribeJobLogItems": {
            "http": {
                "requestUri": "/DescribeJobLogItems",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "jobID"
                ],
                "members": {
                    "jobID": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {},
                    "accountID": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "items": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "event": {},
                                "eventData": {
                                    "type": "structure",
                                    "members": {
                                        "conversionServerID": {},
                                        "rawError": {},
                                        "sourceServerID": {},
                                        "targetInstanceID": {}
                                    }
                                },
                                "logDateTime": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/RF52A4FM3QJGTCTZ4KAIJYTIBZLFGGQK5TF53SIKN5BDXCSHI2WA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5CH5XCTWJYKS3DUUZVLQZB2YGOPEKXZ7XZ6N7COWYJJJLZ5MUH3Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ETPN6KCHTP6N4XSRTRDT6NB4YUPNI4YMWXTEFB5B6SWIW7XTLSZA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VVTCSAM5INGN5GSPBYOX77L3C4PH2N4CP7SE3CETZRZVBYCX6GOA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VJ64IPIXWFHZMFXXCQ2JF62MMI3FCOIN7VOFMQBF2LXSP5AD5ZPQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5RGF4HYNL3RKO6F2WXIY7ZCENHDPLOOIOW6L6AZSISQX4JZV4F3A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/M7BNNGDSDTGREZWAD4KL3U2IVIXQWH6XMLBX7KVGDS4R5IPSDQ4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LDW52UE74CMUQ7R3ADUY663EVIEBYQ7FH3K6IKDDBCMYKI5PHGGA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RHGKJMIDDDMGLFVG3AQ7LD42EWG46XHQFJIKBYWKJP7DEWX5MZVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2E5PFBDEGXWCQXSK45LZQRFD3FHGF4OWBJ6AQ75ICA54IKUFEKIQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JAPC53EBSOA3G6X6ZOCNKRG5EEX3YVLDQ5BFNII2A4IYPKTXTGLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TZXHYIFL7N3VWSJKGT5BZWTQGWVP753RJBTPH6ABOOJFJ534M65A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TYF7FAH6DTGC3UWK7ZTS2NIVJ4WD7L3AGZGWN6P7QFQ4YO3DNNPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DTHVNCSQGDJEZK4D56HZUERLEAKN3HFKDFCQ22IOYSXZPOGW6Z3A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BT32IF73ORFEDYTQUKFR6G26NFFVH6B3YAJJ2JVBC4M5P2VDGJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ORYBZ4RR7TYNCZQOIEUCPYEW7IRPLOHE2FXKDTOJAR2AMI2FGI6A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SGY4A6VNPUALWY6YDSGRYS7AEFJABYW5AD7RN6HIJRDU2AJFIBFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OP3UHZ2EFWXZLLU6GHB3CIOC3NH7HUPDEUJQNBTPNSQE3DSTWPJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PRANVRKIGQRPMTGCVGPTDMF3KCOZKLA7ELNTT6CGAIEJXMAXO6BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OOP2UD7VDJFKWUFTZFUZ7STTM4LLWJPV76CJRNZ5MXBWIA2UR5WQ/vendors.js"
            ]
        },
        "DescribeJobs": {
            "http": {
                "requestUri": "/DescribeJobs",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "filters": {
                        "type": "structure",
                        "members": {
                            "fromDate": {},
                            "jobIDs": {
                                "type": "list",
                                "member": {}
                            },
                            "toDate": {}
                        }
                    },
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {},
                    "accountID": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "items": {
                        "type": "list",
                        "member": {
                            "shape": "S3t"
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/RF52A4FM3QJGTCTZ4KAIJYTIBZLFGGQK5TF53SIKN5BDXCSHI2WA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5CH5XCTWJYKS3DUUZVLQZB2YGOPEKXZ7XZ6N7COWYJJJLZ5MUH3Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ETPN6KCHTP6N4XSRTRDT6NB4YUPNI4YMWXTEFB5B6SWIW7XTLSZA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VVTCSAM5INGN5GSPBYOX77L3C4PH2N4CP7SE3CETZRZVBYCX6GOA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VJ64IPIXWFHZMFXXCQ2JF62MMI3FCOIN7VOFMQBF2LXSP5AD5ZPQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5RGF4HYNL3RKO6F2WXIY7ZCENHDPLOOIOW6L6AZSISQX4JZV4F3A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/M7BNNGDSDTGREZWAD4KL3U2IVIXQWH6XMLBX7KVGDS4R5IPSDQ4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LDW52UE74CMUQ7R3ADUY663EVIEBYQ7FH3K6IKDDBCMYKI5PHGGA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RHGKJMIDDDMGLFVG3AQ7LD42EWG46XHQFJIKBYWKJP7DEWX5MZVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2E5PFBDEGXWCQXSK45LZQRFD3FHGF4OWBJ6AQ75ICA54IKUFEKIQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JAPC53EBSOA3G6X6ZOCNKRG5EEX3YVLDQ5BFNII2A4IYPKTXTGLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TZXHYIFL7N3VWSJKGT5BZWTQGWVP753RJBTPH6ABOOJFJ534M65A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TYF7FAH6DTGC3UWK7ZTS2NIVJ4WD7L3AGZGWN6P7QFQ4YO3DNNPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DTHVNCSQGDJEZK4D56HZUERLEAKN3HFKDFCQ22IOYSXZPOGW6Z3A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BT32IF73ORFEDYTQUKFR6G26NFFVH6B3YAJJ2JVBC4M5P2VDGJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ORYBZ4RR7TYNCZQOIEUCPYEW7IRPLOHE2FXKDTOJAR2AMI2FGI6A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SGY4A6VNPUALWY6YDSGRYS7AEFJABYW5AD7RN6HIJRDU2AJFIBFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OP3UHZ2EFWXZLLU6GHB3CIOC3NH7HUPDEUJQNBTPNSQE3DSTWPJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PRANVRKIGQRPMTGCVGPTDMF3KCOZKLA7ELNTT6CGAIEJXMAXO6BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OOP2UD7VDJFKWUFTZFUZ7STTM4LLWJPV76CJRNZ5MXBWIA2UR5WQ/vendors.js"
            ]
        },
        "DescribeLaunchConfigurationTemplates": {
            "http": {
                "requestUri": "/DescribeLaunchConfigurationTemplates",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "launchConfigurationTemplateIDs": {
                        "type": "list",
                        "member": {}
                    },
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "items": {
                        "type": "list",
                        "member": {
                            "shape": "S2q"
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/TINI2DCNKAOTJX2UEDOZ5CZZDXZD3X3XURCCYC57XQ2RSSGS7U5A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RF52A4FM3QJGTCTZ4KAIJYTIBZLFGGQK5TF53SIKN5BDXCSHI2WA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5CH5XCTWJYKS3DUUZVLQZB2YGOPEKXZ7XZ6N7COWYJJJLZ5MUH3Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ETPN6KCHTP6N4XSRTRDT6NB4YUPNI4YMWXTEFB5B6SWIW7XTLSZA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VVTCSAM5INGN5GSPBYOX77L3C4PH2N4CP7SE3CETZRZVBYCX6GOA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VJ64IPIXWFHZMFXXCQ2JF62MMI3FCOIN7VOFMQBF2LXSP5AD5ZPQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5RGF4HYNL3RKO6F2WXIY7ZCENHDPLOOIOW6L6AZSISQX4JZV4F3A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/M7BNNGDSDTGREZWAD4KL3U2IVIXQWH6XMLBX7KVGDS4R5IPSDQ4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LDW52UE74CMUQ7R3ADUY663EVIEBYQ7FH3K6IKDDBCMYKI5PHGGA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RHGKJMIDDDMGLFVG3AQ7LD42EWG46XHQFJIKBYWKJP7DEWX5MZVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2E5PFBDEGXWCQXSK45LZQRFD3FHGF4OWBJ6AQ75ICA54IKUFEKIQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JAPC53EBSOA3G6X6ZOCNKRG5EEX3YVLDQ5BFNII2A4IYPKTXTGLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TZXHYIFL7N3VWSJKGT5BZWTQGWVP753RJBTPH6ABOOJFJ534M65A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TYF7FAH6DTGC3UWK7ZTS2NIVJ4WD7L3AGZGWN6P7QFQ4YO3DNNPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DTHVNCSQGDJEZK4D56HZUERLEAKN3HFKDFCQ22IOYSXZPOGW6Z3A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BT32IF73ORFEDYTQUKFR6G26NFFVH6B3YAJJ2JVBC4M5P2VDGJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ORYBZ4RR7TYNCZQOIEUCPYEW7IRPLOHE2FXKDTOJAR2AMI2FGI6A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SGY4A6VNPUALWY6YDSGRYS7AEFJABYW5AD7RN6HIJRDU2AJFIBFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OP3UHZ2EFWXZLLU6GHB3CIOC3NH7HUPDEUJQNBTPNSQE3DSTWPJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PRANVRKIGQRPMTGCVGPTDMF3KCOZKLA7ELNTT6CGAIEJXMAXO6BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OOP2UD7VDJFKWUFTZFUZ7STTM4LLWJPV76CJRNZ5MXBWIA2UR5WQ/vendors.js"
            ]
        },
        "DescribeReplicationConfigurationTemplates": {
            "http": {
                "requestUri": "/DescribeReplicationConfigurationTemplates",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {},
                    "replicationConfigurationTemplateIDs": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "items": {
                        "type": "list",
                        "member": {
                            "shape": "S30"
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/RF52A4FM3QJGTCTZ4KAIJYTIBZLFGGQK5TF53SIKN5BDXCSHI2WA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5CH5XCTWJYKS3DUUZVLQZB2YGOPEKXZ7XZ6N7COWYJJJLZ5MUH3Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ETPN6KCHTP6N4XSRTRDT6NB4YUPNI4YMWXTEFB5B6SWIW7XTLSZA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VVTCSAM5INGN5GSPBYOX77L3C4PH2N4CP7SE3CETZRZVBYCX6GOA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VJ64IPIXWFHZMFXXCQ2JF62MMI3FCOIN7VOFMQBF2LXSP5AD5ZPQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5RGF4HYNL3RKO6F2WXIY7ZCENHDPLOOIOW6L6AZSISQX4JZV4F3A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/M7BNNGDSDTGREZWAD4KL3U2IVIXQWH6XMLBX7KVGDS4R5IPSDQ4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LDW52UE74CMUQ7R3ADUY663EVIEBYQ7FH3K6IKDDBCMYKI5PHGGA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RHGKJMIDDDMGLFVG3AQ7LD42EWG46XHQFJIKBYWKJP7DEWX5MZVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2E5PFBDEGXWCQXSK45LZQRFD3FHGF4OWBJ6AQ75ICA54IKUFEKIQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JAPC53EBSOA3G6X6ZOCNKRG5EEX3YVLDQ5BFNII2A4IYPKTXTGLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TZXHYIFL7N3VWSJKGT5BZWTQGWVP753RJBTPH6ABOOJFJ534M65A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TYF7FAH6DTGC3UWK7ZTS2NIVJ4WD7L3AGZGWN6P7QFQ4YO3DNNPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DTHVNCSQGDJEZK4D56HZUERLEAKN3HFKDFCQ22IOYSXZPOGW6Z3A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BT32IF73ORFEDYTQUKFR6G26NFFVH6B3YAJJ2JVBC4M5P2VDGJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ORYBZ4RR7TYNCZQOIEUCPYEW7IRPLOHE2FXKDTOJAR2AMI2FGI6A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SGY4A6VNPUALWY6YDSGRYS7AEFJABYW5AD7RN6HIJRDU2AJFIBFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OP3UHZ2EFWXZLLU6GHB3CIOC3NH7HUPDEUJQNBTPNSQE3DSTWPJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PRANVRKIGQRPMTGCVGPTDMF3KCOZKLA7ELNTT6CGAIEJXMAXO6BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OOP2UD7VDJFKWUFTZFUZ7STTM4LLWJPV76CJRNZ5MXBWIA2UR5WQ/vendors.js"
            ]
        },
        "DescribeSourceServers": {
            "http": {
                "requestUri": "/DescribeSourceServers",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "filters": {
                        "type": "structure",
                        "members": {
                            "applicationIDs": {
                                "type": "list",
                                "member": {}
                            },
                            "isArchived": {
                                "type": "boolean"
                            },
                            "lifeCycleStates": {
                                "type": "list",
                                "member": {}
                            },
                            "replicationTypes": {
                                "type": "list",
                                "member": {}
                            },
                            "sourceServerIDs": {
                                "type": "list",
                                "member": {}
                            }
                        }
                    },
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {},
                    "accountID": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "items": {
                        "type": "list",
                        "member": {
                            "shape": "Sy"
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/RF52A4FM3QJGTCTZ4KAIJYTIBZLFGGQK5TF53SIKN5BDXCSHI2WA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5CH5XCTWJYKS3DUUZVLQZB2YGOPEKXZ7XZ6N7COWYJJJLZ5MUH3Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ETPN6KCHTP6N4XSRTRDT6NB4YUPNI4YMWXTEFB5B6SWIW7XTLSZA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VVTCSAM5INGN5GSPBYOX77L3C4PH2N4CP7SE3CETZRZVBYCX6GOA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VJ64IPIXWFHZMFXXCQ2JF62MMI3FCOIN7VOFMQBF2LXSP5AD5ZPQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5RGF4HYNL3RKO6F2WXIY7ZCENHDPLOOIOW6L6AZSISQX4JZV4F3A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/M7BNNGDSDTGREZWAD4KL3U2IVIXQWH6XMLBX7KVGDS4R5IPSDQ4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LDW52UE74CMUQ7R3ADUY663EVIEBYQ7FH3K6IKDDBCMYKI5PHGGA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RHGKJMIDDDMGLFVG3AQ7LD42EWG46XHQFJIKBYWKJP7DEWX5MZVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2E5PFBDEGXWCQXSK45LZQRFD3FHGF4OWBJ6AQ75ICA54IKUFEKIQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JAPC53EBSOA3G6X6ZOCNKRG5EEX3YVLDQ5BFNII2A4IYPKTXTGLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TZXHYIFL7N3VWSJKGT5BZWTQGWVP753RJBTPH6ABOOJFJ534M65A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TYF7FAH6DTGC3UWK7ZTS2NIVJ4WD7L3AGZGWN6P7QFQ4YO3DNNPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DTHVNCSQGDJEZK4D56HZUERLEAKN3HFKDFCQ22IOYSXZPOGW6Z3A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BT32IF73ORFEDYTQUKFR6G26NFFVH6B3YAJJ2JVBC4M5P2VDGJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ORYBZ4RR7TYNCZQOIEUCPYEW7IRPLOHE2FXKDTOJAR2AMI2FGI6A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SGY4A6VNPUALWY6YDSGRYS7AEFJABYW5AD7RN6HIJRDU2AJFIBFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OP3UHZ2EFWXZLLU6GHB3CIOC3NH7HUPDEUJQNBTPNSQE3DSTWPJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PRANVRKIGQRPMTGCVGPTDMF3KCOZKLA7ELNTT6CGAIEJXMAXO6BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OOP2UD7VDJFKWUFTZFUZ7STTM4LLWJPV76CJRNZ5MXBWIA2UR5WQ/vendors.js"
            ]
        },
        "DescribeVcenterClients": {
            "http": {
                "method": "GET",
                "requestUri": "/DescribeVcenterClients",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "items": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "arn": {},
                                "datacenterName": {},
                                "hostname": {},
                                "lastSeenDatetime": {},
                                "sourceServerTags": {
                                    "shape": "Sd"
                                },
                                "tags": {
                                    "shape": "Sd"
                                },
                                "vcenterClientID": {},
                                "vcenterUUID": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/TINI2DCNKAOTJX2UEDOZ5CZZDXZD3X3XURCCYC57XQ2RSSGS7U5A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RF52A4FM3QJGTCTZ4KAIJYTIBZLFGGQK5TF53SIKN5BDXCSHI2WA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5CH5XCTWJYKS3DUUZVLQZB2YGOPEKXZ7XZ6N7COWYJJJLZ5MUH3Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ETPN6KCHTP6N4XSRTRDT6NB4YUPNI4YMWXTEFB5B6SWIW7XTLSZA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VVTCSAM5INGN5GSPBYOX77L3C4PH2N4CP7SE3CETZRZVBYCX6GOA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VJ64IPIXWFHZMFXXCQ2JF62MMI3FCOIN7VOFMQBF2LXSP5AD5ZPQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5RGF4HYNL3RKO6F2WXIY7ZCENHDPLOOIOW6L6AZSISQX4JZV4F3A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/M7BNNGDSDTGREZWAD4KL3U2IVIXQWH6XMLBX7KVGDS4R5IPSDQ4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LDW52UE74CMUQ7R3ADUY663EVIEBYQ7FH3K6IKDDBCMYKI5PHGGA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RHGKJMIDDDMGLFVG3AQ7LD42EWG46XHQFJIKBYWKJP7DEWX5MZVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2E5PFBDEGXWCQXSK45LZQRFD3FHGF4OWBJ6AQ75ICA54IKUFEKIQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JAPC53EBSOA3G6X6ZOCNKRG5EEX3YVLDQ5BFNII2A4IYPKTXTGLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TZXHYIFL7N3VWSJKGT5BZWTQGWVP753RJBTPH6ABOOJFJ534M65A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TYF7FAH6DTGC3UWK7ZTS2NIVJ4WD7L3AGZGWN6P7QFQ4YO3DNNPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DTHVNCSQGDJEZK4D56HZUERLEAKN3HFKDFCQ22IOYSXZPOGW6Z3A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BT32IF73ORFEDYTQUKFR6G26NFFVH6B3YAJJ2JVBC4M5P2VDGJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ORYBZ4RR7TYNCZQOIEUCPYEW7IRPLOHE2FXKDTOJAR2AMI2FGI6A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SGY4A6VNPUALWY6YDSGRYS7AEFJABYW5AD7RN6HIJRDU2AJFIBFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OP3UHZ2EFWXZLLU6GHB3CIOC3NH7HUPDEUJQNBTPNSQE3DSTWPJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PRANVRKIGQRPMTGCVGPTDMF3KCOZKLA7ELNTT6CGAIEJXMAXO6BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OOP2UD7VDJFKWUFTZFUZ7STTM4LLWJPV76CJRNZ5MXBWIA2UR5WQ/vendors.js"
            ]
        },
        "DisassociateApplications": {
            "http": {
                "requestUri": "/DisassociateApplications",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "applicationIDs",
                    "waveID"
                ],
                "members": {
                    "applicationIDs": {
                        "shape": "Sp"
                    },
                    "waveID": {},
                    "accountID": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/TINI2DCNKAOTJX2UEDOZ5CZZDXZD3X3XURCCYC57XQ2RSSGS7U5A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RF52A4FM3QJGTCTZ4KAIJYTIBZLFGGQK5TF53SIKN5BDXCSHI2WA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5CH5XCTWJYKS3DUUZVLQZB2YGOPEKXZ7XZ6N7COWYJJJLZ5MUH3Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ETPN6KCHTP6N4XSRTRDT6NB4YUPNI4YMWXTEFB5B6SWIW7XTLSZA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VVTCSAM5INGN5GSPBYOX77L3C4PH2N4CP7SE3CETZRZVBYCX6GOA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VJ64IPIXWFHZMFXXCQ2JF62MMI3FCOIN7VOFMQBF2LXSP5AD5ZPQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5RGF4HYNL3RKO6F2WXIY7ZCENHDPLOOIOW6L6AZSISQX4JZV4F3A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/M7BNNGDSDTGREZWAD4KL3U2IVIXQWH6XMLBX7KVGDS4R5IPSDQ4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LDW52UE74CMUQ7R3ADUY663EVIEBYQ7FH3K6IKDDBCMYKI5PHGGA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RHGKJMIDDDMGLFVG3AQ7LD42EWG46XHQFJIKBYWKJP7DEWX5MZVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2E5PFBDEGXWCQXSK45LZQRFD3FHGF4OWBJ6AQ75ICA54IKUFEKIQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JAPC53EBSOA3G6X6ZOCNKRG5EEX3YVLDQ5BFNII2A4IYPKTXTGLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TZXHYIFL7N3VWSJKGT5BZWTQGWVP753RJBTPH6ABOOJFJ534M65A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TYF7FAH6DTGC3UWK7ZTS2NIVJ4WD7L3AGZGWN6P7QFQ4YO3DNNPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DTHVNCSQGDJEZK4D56HZUERLEAKN3HFKDFCQ22IOYSXZPOGW6Z3A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BT32IF73ORFEDYTQUKFR6G26NFFVH6B3YAJJ2JVBC4M5P2VDGJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ORYBZ4RR7TYNCZQOIEUCPYEW7IRPLOHE2FXKDTOJAR2AMI2FGI6A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SGY4A6VNPUALWY6YDSGRYS7AEFJABYW5AD7RN6HIJRDU2AJFIBFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OP3UHZ2EFWXZLLU6GHB3CIOC3NH7HUPDEUJQNBTPNSQE3DSTWPJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PRANVRKIGQRPMTGCVGPTDMF3KCOZKLA7ELNTT6CGAIEJXMAXO6BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OOP2UD7VDJFKWUFTZFUZ7STTM4LLWJPV76CJRNZ5MXBWIA2UR5WQ/vendors.js"
            ]
        },
        "DisassociateSourceServers": {
            "http": {
                "requestUri": "/DisassociateSourceServers",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "applicationID",
                    "sourceServerIDs"
                ],
                "members": {
                    "applicationID": {},
                    "sourceServerIDs": {
                        "type": "list",
                        "member": {}
                    },
                    "accountID": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/TINI2DCNKAOTJX2UEDOZ5CZZDXZD3X3XURCCYC57XQ2RSSGS7U5A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RF52A4FM3QJGTCTZ4KAIJYTIBZLFGGQK5TF53SIKN5BDXCSHI2WA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5CH5XCTWJYKS3DUUZVLQZB2YGOPEKXZ7XZ6N7COWYJJJLZ5MUH3Q/vendors.js",
[...]
