{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2021-08-28",
        "endpointPrefix": "migrationhub-orchestrator",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "AWS Migration Hub Orchestrator",
        "serviceId": "MigrationHubOrchestrator",
        "signatureVersion": "v4",
        "signingName": "migrationhub-orchestrator",
        "uid": "migrationhuborchestrator-2021-08-28",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/HR2GIYIIYE2S2T4HYEX4BE733JNZPZA4WO7ZEZIZVY7SE6BTEQLQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MVUCJYPXFWOAERM7JMGJN6EZZ7KGTOLG5KNW7PROOUQBM2FSE6XA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QIXDRXCBHBCEIRK6NACTGON34O7XISSH4ULJS5S7WXFD2HIMV2UA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AC5UGPTBWMCODK2YCERZQQ22ZIIAGMWQGLJPX6JRDHSMOXVSQLIQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EJOMZH5A2XJVGDAAL62KOKOSOAVQRH72DB6X6GLLMTTYL4CNIERQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/P5TDNGHZ7TZVRV2LBZAZU7BXRTGGSWOX77QLNEWT6CQM7HBG7HJQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6MED67GHLOPC7TUYNJ3S4WVKCDEOU422QTYSQHOZU4GCWALWNJ7A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/O4ZV3MMQ5VCF6LZ7ACQ4MAWKZ4CXBDIYEQDRYPRNTR7L367TH4XQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/X2X2BDTJG73YJHJIM6LAFD3LQ2G4EY7ZPZR7JVY6XGPOFQ4D2CJQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5YFUXACNWYRT3GPH5CNUOP67KLEJTD42CEUDYMIR3L37YAM5IDEA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UEECOOWNKGHMAOLOEIBYWL6QJRRPM75JXOJMZAPKCKC2JP4SF6XA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WU3PSLABT4MR6P6ON32REGHWLEU6RO2ZYSFRWBADRRXUNKC72RBA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/D3V4DTW2Q3OHTM6MI6FBKVUCIXBC5TAKXKUKBZQO4NVAADYBFLHQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QRVKFQATYYSPLMGHP2FP7W3TBFQJ34K4OIVRDLUFYLSVS2N26GJQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FTIJXRYCTTGHXXUABBCQ52F2HF4CEJ4BSNPXCXJ5TNYFSFYIUI2A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/D36GJKZUFSXNCJSRLGR3CJ4U63MJHAF5ONP6I5CMYVZ2TAKR2HGQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/K4XELRCF5CHEFUC4KBGQLNHTP5ZNOFLSFUDYH473T63MU3X4R5VA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WNUD6E4NRZC42TCEFHYNF3YNY5Y572RNZIJ6NRQ2ZPXF2SU7SA7A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LN3ME3XHLJROGOCT47OP3DTSCNXTU4QMA6YV3KPDVCLV2VQ2OFXQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
        ]
    },
    "operations": {
        "CreateWorkflow": {
            "http": {
                "requestUri": "/migrationworkflow/",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "templateId",
                    "applicationConfigurationId",
                    "inputParameters"
                ],
                "members": {
                    "name": {},
                    "description": {},
                    "templateId": {},
                    "applicationConfigurationId": {},
                    "inputParameters": {
                        "shape": "S6"
                    },
                    "stepTargets": {
                        "shape": "Sb"
                    },
                    "tags": {
                        "shape": "Sd"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "id": {},
                    "arn": {},
                    "name": {},
                    "description": {},
                    "templateId": {},
                    "adsApplicationConfigurationId": {},
                    "workflowInputs": {
                        "shape": "S6"
                    },
                    "stepTargets": {
                        "shape": "Sb"
                    },
                    "status": {},
                    "creationTime": {
                        "type": "timestamp"
                    },
                    "tags": {
                        "shape": "Sd"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVUCJYPXFWOAERM7JMGJN6EZZ7KGTOLG5KNW7PROOUQBM2FSE6XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QIXDRXCBHBCEIRK6NACTGON34O7XISSH4ULJS5S7WXFD2HIMV2UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AC5UGPTBWMCODK2YCERZQQ22ZIIAGMWQGLJPX6JRDHSMOXVSQLIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJOMZH5A2XJVGDAAL62KOKOSOAVQRH72DB6X6GLLMTTYL4CNIERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P5TDNGHZ7TZVRV2LBZAZU7BXRTGGSWOX77QLNEWT6CQM7HBG7HJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MED67GHLOPC7TUYNJ3S4WVKCDEOU422QTYSQHOZU4GCWALWNJ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4ZV3MMQ5VCF6LZ7ACQ4MAWKZ4CXBDIYEQDRYPRNTR7L367TH4XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2X2BDTJG73YJHJIM6LAFD3LQ2G4EY7ZPZR7JVY6XGPOFQ4D2CJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5YFUXACNWYRT3GPH5CNUOP67KLEJTD42CEUDYMIR3L37YAM5IDEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UEECOOWNKGHMAOLOEIBYWL6QJRRPM75JXOJMZAPKCKC2JP4SF6XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WU3PSLABT4MR6P6ON32REGHWLEU6RO2ZYSFRWBADRRXUNKC72RBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3V4DTW2Q3OHTM6MI6FBKVUCIXBC5TAKXKUKBZQO4NVAADYBFLHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRVKFQATYYSPLMGHP2FP7W3TBFQJ34K4OIVRDLUFYLSVS2N26GJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTIJXRYCTTGHXXUABBCQ52F2HF4CEJ4BSNPXCXJ5TNYFSFYIUI2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D36GJKZUFSXNCJSRLGR3CJ4U63MJHAF5ONP6I5CMYVZ2TAKR2HGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4XELRCF5CHEFUC4KBGQLNHTP5ZNOFLSFUDYH473T63MU3X4R5VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNUD6E4NRZC42TCEFHYNF3YNY5Y572RNZIJ6NRQ2ZPXF2SU7SA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LN3ME3XHLJROGOCT47OP3DTSCNXTU4QMA6YV3KPDVCLV2VQ2OFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "CreateWorkflowStep": {
            "http": {
                "requestUri": "/workflowstep",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "stepGroupId",
                    "workflowId",
                    "stepActionType"
                ],
                "members": {
                    "name": {},
                    "stepGroupId": {},
                    "workflowId": {},
                    "stepActionType": {},
                    "description": {},
                    "workflowStepAutomationConfiguration": {
                        "shape": "Sq"
                    },
                    "stepTarget": {
                        "shape": "Sb"
                    },
                    "outputs": {
                        "shape": "Sx"
                    },
                    "previous": {
                        "shape": "Sb"
                    },
                    "next": {
                        "shape": "Sb"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "id": {},
                    "stepGroupId": {},
                    "workflowId": {},
                    "name": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVUCJYPXFWOAERM7JMGJN6EZZ7KGTOLG5KNW7PROOUQBM2FSE6XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QIXDRXCBHBCEIRK6NACTGON34O7XISSH4ULJS5S7WXFD2HIMV2UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AC5UGPTBWMCODK2YCERZQQ22ZIIAGMWQGLJPX6JRDHSMOXVSQLIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJOMZH5A2XJVGDAAL62KOKOSOAVQRH72DB6X6GLLMTTYL4CNIERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P5TDNGHZ7TZVRV2LBZAZU7BXRTGGSWOX77QLNEWT6CQM7HBG7HJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MED67GHLOPC7TUYNJ3S4WVKCDEOU422QTYSQHOZU4GCWALWNJ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4ZV3MMQ5VCF6LZ7ACQ4MAWKZ4CXBDIYEQDRYPRNTR7L367TH4XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2X2BDTJG73YJHJIM6LAFD3LQ2G4EY7ZPZR7JVY6XGPOFQ4D2CJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5YFUXACNWYRT3GPH5CNUOP67KLEJTD42CEUDYMIR3L37YAM5IDEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UEECOOWNKGHMAOLOEIBYWL6QJRRPM75JXOJMZAPKCKC2JP4SF6XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WU3PSLABT4MR6P6ON32REGHWLEU6RO2ZYSFRWBADRRXUNKC72RBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3V4DTW2Q3OHTM6MI6FBKVUCIXBC5TAKXKUKBZQO4NVAADYBFLHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRVKFQATYYSPLMGHP2FP7W3TBFQJ34K4OIVRDLUFYLSVS2N26GJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTIJXRYCTTGHXXUABBCQ52F2HF4CEJ4BSNPXCXJ5TNYFSFYIUI2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D36GJKZUFSXNCJSRLGR3CJ4U63MJHAF5ONP6I5CMYVZ2TAKR2HGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4XELRCF5CHEFUC4KBGQLNHTP5ZNOFLSFUDYH473T63MU3X4R5VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNUD6E4NRZC42TCEFHYNF3YNY5Y572RNZIJ6NRQ2ZPXF2SU7SA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LN3ME3XHLJROGOCT47OP3DTSCNXTU4QMA6YV3KPDVCLV2VQ2OFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "CreateWorkflowStepGroup": {
            "http": {
                "requestUri": "/workflowstepgroups",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workflowId",
                    "name"
                ],
                "members": {
                    "workflowId": {},
                    "name": {},
                    "description": {},
                    "next": {
                        "shape": "Sb"
                    },
                    "previous": {
                        "shape": "Sb"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "workflowId": {},
                    "name": {},
                    "id": {},
                    "description": {},
                    "tools": {
                        "shape": "S18"
                    },
                    "next": {
                        "shape": "Sb"
                    },
                    "previous": {
                        "shape": "Sb"
                    },
                    "creationTime": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVUCJYPXFWOAERM7JMGJN6EZZ7KGTOLG5KNW7PROOUQBM2FSE6XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QIXDRXCBHBCEIRK6NACTGON34O7XISSH4ULJS5S7WXFD2HIMV2UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AC5UGPTBWMCODK2YCERZQQ22ZIIAGMWQGLJPX6JRDHSMOXVSQLIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJOMZH5A2XJVGDAAL62KOKOSOAVQRH72DB6X6GLLMTTYL4CNIERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P5TDNGHZ7TZVRV2LBZAZU7BXRTGGSWOX77QLNEWT6CQM7HBG7HJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MED67GHLOPC7TUYNJ3S4WVKCDEOU422QTYSQHOZU4GCWALWNJ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4ZV3MMQ5VCF6LZ7ACQ4MAWKZ4CXBDIYEQDRYPRNTR7L367TH4XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2X2BDTJG73YJHJIM6LAFD3LQ2G4EY7ZPZR7JVY6XGPOFQ4D2CJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5YFUXACNWYRT3GPH5CNUOP67KLEJTD42CEUDYMIR3L37YAM5IDEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UEECOOWNKGHMAOLOEIBYWL6QJRRPM75JXOJMZAPKCKC2JP4SF6XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WU3PSLABT4MR6P6ON32REGHWLEU6RO2ZYSFRWBADRRXUNKC72RBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3V4DTW2Q3OHTM6MI6FBKVUCIXBC5TAKXKUKBZQO4NVAADYBFLHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRVKFQATYYSPLMGHP2FP7W3TBFQJ34K4OIVRDLUFYLSVS2N26GJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTIJXRYCTTGHXXUABBCQ52F2HF4CEJ4BSNPXCXJ5TNYFSFYIUI2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D36GJKZUFSXNCJSRLGR3CJ4U63MJHAF5ONP6I5CMYVZ2TAKR2HGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4XELRCF5CHEFUC4KBGQLNHTP5ZNOFLSFUDYH473T63MU3X4R5VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNUD6E4NRZC42TCEFHYNF3YNY5Y572RNZIJ6NRQ2ZPXF2SU7SA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LN3ME3XHLJROGOCT47OP3DTSCNXTU4QMA6YV3KPDVCLV2VQ2OFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DeleteWorkflow": {
            "http": {
                "method": "DELETE",
                "requestUri": "/migrationworkflow/{id}",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "id": {},
                    "arn": {},
                    "status": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVUCJYPXFWOAERM7JMGJN6EZZ7KGTOLG5KNW7PROOUQBM2FSE6XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QIXDRXCBHBCEIRK6NACTGON34O7XISSH4ULJS5S7WXFD2HIMV2UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AC5UGPTBWMCODK2YCERZQQ22ZIIAGMWQGLJPX6JRDHSMOXVSQLIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJOMZH5A2XJVGDAAL62KOKOSOAVQRH72DB6X6GLLMTTYL4CNIERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P5TDNGHZ7TZVRV2LBZAZU7BXRTGGSWOX77QLNEWT6CQM7HBG7HJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MED67GHLOPC7TUYNJ3S4WVKCDEOU422QTYSQHOZU4GCWALWNJ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4ZV3MMQ5VCF6LZ7ACQ4MAWKZ4CXBDIYEQDRYPRNTR7L367TH4XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2X2BDTJG73YJHJIM6LAFD3LQ2G4EY7ZPZR7JVY6XGPOFQ4D2CJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5YFUXACNWYRT3GPH5CNUOP67KLEJTD42CEUDYMIR3L37YAM5IDEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UEECOOWNKGHMAOLOEIBYWL6QJRRPM75JXOJMZAPKCKC2JP4SF6XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WU3PSLABT4MR6P6ON32REGHWLEU6RO2ZYSFRWBADRRXUNKC72RBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3V4DTW2Q3OHTM6MI6FBKVUCIXBC5TAKXKUKBZQO4NVAADYBFLHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRVKFQATYYSPLMGHP2FP7W3TBFQJ34K4OIVRDLUFYLSVS2N26GJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTIJXRYCTTGHXXUABBCQ52F2HF4CEJ4BSNPXCXJ5TNYFSFYIUI2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D36GJKZUFSXNCJSRLGR3CJ4U63MJHAF5ONP6I5CMYVZ2TAKR2HGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4XELRCF5CHEFUC4KBGQLNHTP5ZNOFLSFUDYH473T63MU3X4R5VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNUD6E4NRZC42TCEFHYNF3YNY5Y572RNZIJ6NRQ2ZPXF2SU7SA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LN3ME3XHLJROGOCT47OP3DTSCNXTU4QMA6YV3KPDVCLV2VQ2OFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DeleteWorkflowStep": {
            "http": {
                "method": "DELETE",
                "requestUri": "/workflowstep/{id}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "id",
                    "stepGroupId",
                    "workflowId"
                ],
                "members": {
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    },
                    "stepGroupId": {
                        "location": "querystring",
                        "locationName": "stepGroupId"
                    },
                    "workflowId": {
                        "location": "querystring",
                        "locationName": "workflowId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVUCJYPXFWOAERM7JMGJN6EZZ7KGTOLG5KNW7PROOUQBM2FSE6XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QIXDRXCBHBCEIRK6NACTGON34O7XISSH4ULJS5S7WXFD2HIMV2UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AC5UGPTBWMCODK2YCERZQQ22ZIIAGMWQGLJPX6JRDHSMOXVSQLIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJOMZH5A2XJVGDAAL62KOKOSOAVQRH72DB6X6GLLMTTYL4CNIERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P5TDNGHZ7TZVRV2LBZAZU7BXRTGGSWOX77QLNEWT6CQM7HBG7HJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MED67GHLOPC7TUYNJ3S4WVKCDEOU422QTYSQHOZU4GCWALWNJ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4ZV3MMQ5VCF6LZ7ACQ4MAWKZ4CXBDIYEQDRYPRNTR7L367TH4XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2X2BDTJG73YJHJIM6LAFD3LQ2G4EY7ZPZR7JVY6XGPOFQ4D2CJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5YFUXACNWYRT3GPH5CNUOP67KLEJTD42CEUDYMIR3L37YAM5IDEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UEECOOWNKGHMAOLOEIBYWL6QJRRPM75JXOJMZAPKCKC2JP4SF6XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WU3PSLABT4MR6P6ON32REGHWLEU6RO2ZYSFRWBADRRXUNKC72RBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3V4DTW2Q3OHTM6MI6FBKVUCIXBC5TAKXKUKBZQO4NVAADYBFLHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRVKFQATYYSPLMGHP2FP7W3TBFQJ34K4OIVRDLUFYLSVS2N26GJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTIJXRYCTTGHXXUABBCQ52F2HF4CEJ4BSNPXCXJ5TNYFSFYIUI2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D36GJKZUFSXNCJSRLGR3CJ4U63MJHAF5ONP6I5CMYVZ2TAKR2HGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4XELRCF5CHEFUC4KBGQLNHTP5ZNOFLSFUDYH473T63MU3X4R5VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNUD6E4NRZC42TCEFHYNF3YNY5Y572RNZIJ6NRQ2ZPXF2SU7SA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LN3ME3XHLJROGOCT47OP3DTSCNXTU4QMA6YV3KPDVCLV2VQ2OFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DeleteWorkflowStepGroup": {
            "http": {
                "method": "DELETE",
                "requestUri": "/workflowstepgroup/{id}",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "workflowId",
                    "id"
                ],
                "members": {
                    "workflowId": {
                        "location": "querystring",
                        "locationName": "workflowId"
                    },
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVUCJYPXFWOAERM7JMGJN6EZZ7KGTOLG5KNW7PROOUQBM2FSE6XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QIXDRXCBHBCEIRK6NACTGON34O7XISSH4ULJS5S7WXFD2HIMV2UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AC5UGPTBWMCODK2YCERZQQ22ZIIAGMWQGLJPX6JRDHSMOXVSQLIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJOMZH5A2XJVGDAAL62KOKOSOAVQRH72DB6X6GLLMTTYL4CNIERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P5TDNGHZ7TZVRV2LBZAZU7BXRTGGSWOX77QLNEWT6CQM7HBG7HJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MED67GHLOPC7TUYNJ3S4WVKCDEOU422QTYSQHOZU4GCWALWNJ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4ZV3MMQ5VCF6LZ7ACQ4MAWKZ4CXBDIYEQDRYPRNTR7L367TH4XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2X2BDTJG73YJHJIM6LAFD3LQ2G4EY7ZPZR7JVY6XGPOFQ4D2CJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5YFUXACNWYRT3GPH5CNUOP67KLEJTD42CEUDYMIR3L37YAM5IDEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UEECOOWNKGHMAOLOEIBYWL6QJRRPM75JXOJMZAPKCKC2JP4SF6XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WU3PSLABT4MR6P6ON32REGHWLEU6RO2ZYSFRWBADRRXUNKC72RBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3V4DTW2Q3OHTM6MI6FBKVUCIXBC5TAKXKUKBZQO4NVAADYBFLHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRVKFQATYYSPLMGHP2FP7W3TBFQJ34K4OIVRDLUFYLSVS2N26GJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTIJXRYCTTGHXXUABBCQ52F2HF4CEJ4BSNPXCXJ5TNYFSFYIUI2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D36GJKZUFSXNCJSRLGR3CJ4U63MJHAF5ONP6I5CMYVZ2TAKR2HGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4XELRCF5CHEFUC4KBGQLNHTP5ZNOFLSFUDYH473T63MU3X4R5VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNUD6E4NRZC42TCEFHYNF3YNY5Y572RNZIJ6NRQ2ZPXF2SU7SA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LN3ME3XHLJROGOCT47OP3DTSCNXTU4QMA6YV3KPDVCLV2VQ2OFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "GetTemplate": {
            "http": {
                "method": "GET",
                "requestUri": "/migrationworkflowtemplate/{id}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "id": {},
                    "name": {},
                    "description": {},
                    "inputs": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "inputName": {},
                                "dataType": {},
                                "required": {
                                    "type": "boolean"
                                }
                            }
                        }
                    },
                    "tools": {
                        "shape": "S18"
                    },
                    "status": {},
                    "creationTime": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVUCJYPXFWOAERM7JMGJN6EZZ7KGTOLG5KNW7PROOUQBM2FSE6XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QIXDRXCBHBCEIRK6NACTGON34O7XISSH4ULJS5S7WXFD2HIMV2UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AC5UGPTBWMCODK2YCERZQQ22ZIIAGMWQGLJPX6JRDHSMOXVSQLIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJOMZH5A2XJVGDAAL62KOKOSOAVQRH72DB6X6GLLMTTYL4CNIERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P5TDNGHZ7TZVRV2LBZAZU7BXRTGGSWOX77QLNEWT6CQM7HBG7HJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MED67GHLOPC7TUYNJ3S4WVKCDEOU422QTYSQHOZU4GCWALWNJ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4ZV3MMQ5VCF6LZ7ACQ4MAWKZ4CXBDIYEQDRYPRNTR7L367TH4XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2X2BDTJG73YJHJIM6LAFD3LQ2G4EY7ZPZR7JVY6XGPOFQ4D2CJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5YFUXACNWYRT3GPH5CNUOP67KLEJTD42CEUDYMIR3L37YAM5IDEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UEECOOWNKGHMAOLOEIBYWL6QJRRPM75JXOJMZAPKCKC2JP4SF6XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WU3PSLABT4MR6P6ON32REGHWLEU6RO2ZYSFRWBADRRXUNKC72RBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3V4DTW2Q3OHTM6MI6FBKVUCIXBC5TAKXKUKBZQO4NVAADYBFLHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRVKFQATYYSPLMGHP2FP7W3TBFQJ34K4OIVRDLUFYLSVS2N26GJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTIJXRYCTTGHXXUABBCQ52F2HF4CEJ4BSNPXCXJ5TNYFSFYIUI2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D36GJKZUFSXNCJSRLGR3CJ4U63MJHAF5ONP6I5CMYVZ2TAKR2HGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4XELRCF5CHEFUC4KBGQLNHTP5ZNOFLSFUDYH473T63MU3X4R5VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNUD6E4NRZC42TCEFHYNF3YNY5Y572RNZIJ6NRQ2ZPXF2SU7SA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LN3ME3XHLJROGOCT47OP3DTSCNXTU4QMA6YV3KPDVCLV2VQ2OFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "GetTemplateStep": {
            "http": {
                "method": "GET",
                "requestUri": "/templatestep/{id}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "id",
                    "templateId",
                    "stepGroupId"
                ],
                "members": {
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    },
                    "templateId": {
                        "location": "querystring",
                        "locationName": "templateId"
                    },
                    "stepGroupId": {
                        "location": "querystring",
                        "locationName": "stepGroupId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "id": {},
                    "stepGroupId": {},
                    "templateId": {},
                    "name": {},
                    "description": {},
                    "stepActionType": {},
                    "creationTime": {},
                    "previous": {
                        "shape": "Sb"
                    },
                    "next": {
                        "shape": "Sb"
                    },
                    "outputs": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "name": {},
                                "dataType": {},
                                "required": {
                                    "type": "boolean"
                                }
                            }
                        }
                    },
                    "stepAutomationConfiguration": {
                        "type": "structure",
                        "members": {
                            "scriptLocationS3Bucket": {},
                            "scriptLocationS3Key": {
                                "shape": "Ss"
                            },
                            "command": {
                                "shape": "Su"
                            },
                            "runEnvironment": {},
                            "targetType": {}
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVUCJYPXFWOAERM7JMGJN6EZZ7KGTOLG5KNW7PROOUQBM2FSE6XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QIXDRXCBHBCEIRK6NACTGON34O7XISSH4ULJS5S7WXFD2HIMV2UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AC5UGPTBWMCODK2YCERZQQ22ZIIAGMWQGLJPX6JRDHSMOXVSQLIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJOMZH5A2XJVGDAAL62KOKOSOAVQRH72DB6X6GLLMTTYL4CNIERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P5TDNGHZ7TZVRV2LBZAZU7BXRTGGSWOX77QLNEWT6CQM7HBG7HJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MED67GHLOPC7TUYNJ3S4WVKCDEOU422QTYSQHOZU4GCWALWNJ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4ZV3MMQ5VCF6LZ7ACQ4MAWKZ4CXBDIYEQDRYPRNTR7L367TH4XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2X2BDTJG73YJHJIM6LAFD3LQ2G4EY7ZPZR7JVY6XGPOFQ4D2CJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5YFUXACNWYRT3GPH5CNUOP67KLEJTD42CEUDYMIR3L37YAM5IDEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UEECOOWNKGHMAOLOEIBYWL6QJRRPM75JXOJMZAPKCKC2JP4SF6XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WU3PSLABT4MR6P6ON32REGHWLEU6RO2ZYSFRWBADRRXUNKC72RBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3V4DTW2Q3OHTM6MI6FBKVUCIXBC5TAKXKUKBZQO4NVAADYBFLHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRVKFQATYYSPLMGHP2FP7W3TBFQJ34K4OIVRDLUFYLSVS2N26GJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTIJXRYCTTGHXXUABBCQ52F2HF4CEJ4BSNPXCXJ5TNYFSFYIUI2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D36GJKZUFSXNCJSRLGR3CJ4U63MJHAF5ONP6I5CMYVZ2TAKR2HGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4XELRCF5CHEFUC4KBGQLNHTP5ZNOFLSFUDYH473T63MU3X4R5VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNUD6E4NRZC42TCEFHYNF3YNY5Y572RNZIJ6NRQ2ZPXF2SU7SA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LN3ME3XHLJROGOCT47OP3DTSCNXTU4QMA6YV3KPDVCLV2VQ2OFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "GetTemplateStepGroup": {
            "http": {
                "method": "GET",
                "requestUri": "/templates/{templateId}/stepgroups/{id}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "templateId",
                    "id"
                ],
                "members": {
                    "templateId": {
                        "location": "uri",
                        "locationName": "templateId"
                    },
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "templateId": {},
                    "id": {},
                    "name": {},
                    "description": {},
                    "status": {},
                    "creationTime": {
                        "type": "timestamp"
                    },
                    "lastModifiedTime": {
                        "type": "timestamp"
                    },
                    "tools": {
                        "shape": "S18"
                    },
                    "previous": {
                        "shape": "Sb"
                    },
                    "next": {
                        "shape": "Sb"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVUCJYPXFWOAERM7JMGJN6EZZ7KGTOLG5KNW7PROOUQBM2FSE6XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QIXDRXCBHBCEIRK6NACTGON34O7XISSH4ULJS5S7WXFD2HIMV2UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AC5UGPTBWMCODK2YCERZQQ22ZIIAGMWQGLJPX6JRDHSMOXVSQLIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJOMZH5A2XJVGDAAL62KOKOSOAVQRH72DB6X6GLLMTTYL4CNIERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P5TDNGHZ7TZVRV2LBZAZU7BXRTGGSWOX77QLNEWT6CQM7HBG7HJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MED67GHLOPC7TUYNJ3S4WVKCDEOU422QTYSQHOZU4GCWALWNJ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4ZV3MMQ5VCF6LZ7ACQ4MAWKZ4CXBDIYEQDRYPRNTR7L367TH4XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2X2BDTJG73YJHJIM6LAFD3LQ2G4EY7ZPZR7JVY6XGPOFQ4D2CJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5YFUXACNWYRT3GPH5CNUOP67KLEJTD42CEUDYMIR3L37YAM5IDEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UEECOOWNKGHMAOLOEIBYWL6QJRRPM75JXOJMZAPKCKC2JP4SF6XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WU3PSLABT4MR6P6ON32REGHWLEU6RO2ZYSFRWBADRRXUNKC72RBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3V4DTW2Q3OHTM6MI6FBKVUCIXBC5TAKXKUKBZQO4NVAADYBFLHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRVKFQATYYSPLMGHP2FP7W3TBFQJ34K4OIVRDLUFYLSVS2N26GJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTIJXRYCTTGHXXUABBCQ52F2HF4CEJ4BSNPXCXJ5TNYFSFYIUI2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D36GJKZUFSXNCJSRLGR3CJ4U63MJHAF5ONP6I5CMYVZ2TAKR2HGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4XELRCF5CHEFUC4KBGQLNHTP5ZNOFLSFUDYH473T63MU3X4R5VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNUD6E4NRZC42TCEFHYNF3YNY5Y572RNZIJ6NRQ2ZPXF2SU7SA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LN3ME3XHLJROGOCT47OP3DTSCNXTU4QMA6YV3KPDVCLV2VQ2OFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "GetWorkflow": {
            "http": {
                "method": "GET",
                "requestUri": "/migrationworkflow/{id}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "id": {},
                    "arn": {},
                    "name": {},
                    "description": {},
                    "templateId": {},
                    "adsApplicationConfigurationId": {},
                    "adsApplicationName": {},
                    "status": {},
                    "statusMessage": {},
                    "creationTime": {
                        "type": "timestamp"
                    },
                    "lastStartTime": {
                        "type": "timestamp"
                    },
                    "lastStopTime": {
                        "type": "timestamp"
                    },
                    "lastModifiedTime": {
                        "type": "timestamp"
                    },
                    "endTime": {
                        "type": "timestamp"
                    },
                    "tools": {
                        "shape": "S18"
                    },
                    "totalSteps": {
                        "type": "integer"
                    },
                    "completedSteps": {
                        "type": "integer"
                    },
                    "workflowInputs": {
                        "shape": "S6"
                    },
                    "tags": {
                        "shape": "Sd"
                    },
                    "workflowBucket": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVUCJYPXFWOAERM7JMGJN6EZZ7KGTOLG5KNW7PROOUQBM2FSE6XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QIXDRXCBHBCEIRK6NACTGON34O7XISSH4ULJS5S7WXFD2HIMV2UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AC5UGPTBWMCODK2YCERZQQ22ZIIAGMWQGLJPX6JRDHSMOXVSQLIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJOMZH5A2XJVGDAAL62KOKOSOAVQRH72DB6X6GLLMTTYL4CNIERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P5TDNGHZ7TZVRV2LBZAZU7BXRTGGSWOX77QLNEWT6CQM7HBG7HJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MED67GHLOPC7TUYNJ3S4WVKCDEOU422QTYSQHOZU4GCWALWNJ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4ZV3MMQ5VCF6LZ7ACQ4MAWKZ4CXBDIYEQDRYPRNTR7L367TH4XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2X2BDTJG73YJHJIM6LAFD3LQ2G4EY7ZPZR7JVY6XGPOFQ4D2CJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5YFUXACNWYRT3GPH5CNUOP67KLEJTD42CEUDYMIR3L37YAM5IDEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UEECOOWNKGHMAOLOEIBYWL6QJRRPM75JXOJMZAPKCKC2JP4SF6XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WU3PSLABT4MR6P6ON32REGHWLEU6RO2ZYSFRWBADRRXUNKC72RBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3V4DTW2Q3OHTM6MI6FBKVUCIXBC5TAKXKUKBZQO4NVAADYBFLHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRVKFQATYYSPLMGHP2FP7W3TBFQJ34K4OIVRDLUFYLSVS2N26GJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTIJXRYCTTGHXXUABBCQ52F2HF4CEJ4BSNPXCXJ5TNYFSFYIUI2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D36GJKZUFSXNCJSRLGR3CJ4U63MJHAF5ONP6I5CMYVZ2TAKR2HGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4XELRCF5CHEFUC4KBGQLNHTP5ZNOFLSFUDYH473T63MU3X4R5VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNUD6E4NRZC42TCEFHYNF3YNY5Y572RNZIJ6NRQ2ZPXF2SU7SA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LN3ME3XHLJROGOCT47OP3DTSCNXTU4QMA6YV3KPDVCLV2VQ2OFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "GetWorkflowStep": {
            "http": {
                "method": "GET",
                "requestUri": "/workflowstep/{id}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workflowId",
                    "stepGroupId",
                    "id"
                ],
                "members": {
                    "workflowId": {
                        "location": "querystring",
                        "locationName": "workflowId"
                    },
                    "stepGroupId": {
                        "location": "querystring",
                        "locationName": "stepGroupId"
                    },
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "name": {},
                    "stepGroupId": {},
                    "workflowId": {},
                    "stepId": {},
                    "description": {},
                    "stepActionType": {},
                    "owner": {},
                    "workflowStepAutomationConfiguration": {
                        "shape": "Sq"
                    },
                    "stepTarget": {
                        "shape": "Sb"
                    },
                    "outputs": {
                        "type": "list",
                        "member": {
                            "shape": "Sy"
                        }
                    },
                    "previous": {
                        "shape": "Sb"
                    },
                    "next": {
                        "shape": "Sb"
                    },
                    "status": {},
                    "statusMessage": {},
                    "scriptOutputLocation": {},
                    "creationTime": {
                        "type": "timestamp"
                    },
                    "lastStartTime": {
                        "type": "timestamp"
                    },
                    "endTime": {
                        "type": "timestamp"
                    },
                    "noOfSrvCompleted": {
                        "type": "integer"
                    },
                    "noOfSrvFailed": {
                        "type": "integer"
                    },
                    "totalNoOfSrv": {
                        "type": "integer"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVUCJYPXFWOAERM7JMGJN6EZZ7KGTOLG5KNW7PROOUQBM2FSE6XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QIXDRXCBHBCEIRK6NACTGON34O7XISSH4ULJS5S7WXFD2HIMV2UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AC5UGPTBWMCODK2YCERZQQ22ZIIAGMWQGLJPX6JRDHSMOXVSQLIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJOMZH5A2XJVGDAAL62KOKOSOAVQRH72DB6X6GLLMTTYL4CNIERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P5TDNGHZ7TZVRV2LBZAZU7BXRTGGSWOX77QLNEWT6CQM7HBG7HJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MED67GHLOPC7TUYNJ3S4WVKCDEOU422QTYSQHOZU4GCWALWNJ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4ZV3MMQ5VCF6LZ7ACQ4MAWKZ4CXBDIYEQDRYPRNTR7L367TH4XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2X2BDTJG73YJHJIM6LAFD3LQ2G4EY7ZPZR7JVY6XGPOFQ4D2CJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5YFUXACNWYRT3GPH5CNUOP67KLEJTD42CEUDYMIR3L37YAM5IDEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UEECOOWNKGHMAOLOEIBYWL6QJRRPM75JXOJMZAPKCKC2JP4SF6XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WU3PSLABT4MR6P6ON32REGHWLEU6RO2ZYSFRWBADRRXUNKC72RBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3V4DTW2Q3OHTM6MI6FBKVUCIXBC5TAKXKUKBZQO4NVAADYBFLHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRVKFQATYYSPLMGHP2FP7W3TBFQJ34K4OIVRDLUFYLSVS2N26GJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTIJXRYCTTGHXXUABBCQ52F2HF4CEJ4BSNPXCXJ5TNYFSFYIUI2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D36GJKZUFSXNCJSRLGR3CJ4U63MJHAF5ONP6I5CMYVZ2TAKR2HGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4XELRCF5CHEFUC4KBGQLNHTP5ZNOFLSFUDYH473T63MU3X4R5VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNUD6E4NRZC42TCEFHYNF3YNY5Y572RNZIJ6NRQ2ZPXF2SU7SA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LN3ME3XHLJROGOCT47OP3DTSCNXTU4QMA6YV3KPDVCLV2VQ2OFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "GetWorkflowStepGroup": {
            "http": {
                "method": "GET",
                "requestUri": "/workflowstepgroup/{id}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "id",
                    "workflowId"
                ],
                "members": {
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    },
                    "workflowId": {
                        "location": "querystring",
                        "locationName": "workflowId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "id": {},
                    "workflowId": {},
                    "name": {},
                    "description": {},
                    "status": {},
                    "owner": {},
                    "creationTime": {
                        "type": "timestamp"
                    },
                    "lastModifiedTime": {
                        "type": "timestamp"
                    },
                    "endTime": {
                        "type": "timestamp"
                    },
                    "tools": {
                        "shape": "S18"
                    },
                    "previous": {
                        "shape": "Sb"
                    },
                    "next": {
                        "shape": "Sb"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVUCJYPXFWOAERM7JMGJN6EZZ7KGTOLG5KNW7PROOUQBM2FSE6XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QIXDRXCBHBCEIRK6NACTGON34O7XISSH4ULJS5S7WXFD2HIMV2UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AC5UGPTBWMCODK2YCERZQQ22ZIIAGMWQGLJPX6JRDHSMOXVSQLIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJOMZH5A2XJVGDAAL62KOKOSOAVQRH72DB6X6GLLMTTYL4CNIERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P5TDNGHZ7TZVRV2LBZAZU7BXRTGGSWOX77QLNEWT6CQM7HBG7HJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MED67GHLOPC7TUYNJ3S4WVKCDEOU422QTYSQHOZU4GCWALWNJ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4ZV3MMQ5VCF6LZ7ACQ4MAWKZ4CXBDIYEQDRYPRNTR7L367TH4XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2X2BDTJG73YJHJIM6LAFD3LQ2G4EY7ZPZR7JVY6XGPOFQ4D2CJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5YFUXACNWYRT3GPH5CNUOP67KLEJTD42CEUDYMIR3L37YAM5IDEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UEECOOWNKGHMAOLOEIBYWL6QJRRPM75JXOJMZAPKCKC2JP4SF6XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WU3PSLABT4MR6P6ON32REGHWLEU6RO2ZYSFRWBADRRXUNKC72RBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3V4DTW2Q3OHTM6MI6FBKVUCIXBC5TAKXKUKBZQO4NVAADYBFLHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRVKFQATYYSPLMGHP2FP7W3TBFQJ34K4OIVRDLUFYLSVS2N26GJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTIJXRYCTTGHXXUABBCQ52F2HF4CEJ4BSNPXCXJ5TNYFSFYIUI2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D36GJKZUFSXNCJSRLGR3CJ4U63MJHAF5ONP6I5CMYVZ2TAKR2HGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4XELRCF5CHEFUC4KBGQLNHTP5ZNOFLSFUDYH473T63MU3X4R5VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNUD6E4NRZC42TCEFHYNF3YNY5Y572RNZIJ6NRQ2ZPXF2SU7SA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LN3ME3XHLJROGOCT47OP3DTSCNXTU4QMA6YV3KPDVCLV2VQ2OFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "ListPlugins": {
            "http": {
                "method": "GET",
                "requestUri": "/plugins",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "plugins": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "pluginId": {},
                                "hostname": {},
                                "status": {},
                                "ipAddress": {},
                                "version": {},
                                "registeredTime": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVUCJYPXFWOAERM7JMGJN6EZZ7KGTOLG5KNW7PROOUQBM2FSE6XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QIXDRXCBHBCEIRK6NACTGON34O7XISSH4ULJS5S7WXFD2HIMV2UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AC5UGPTBWMCODK2YCERZQQ22ZIIAGMWQGLJPX6JRDHSMOXVSQLIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJOMZH5A2XJVGDAAL62KOKOSOAVQRH72DB6X6GLLMTTYL4CNIERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P5TDNGHZ7TZVRV2LBZAZU7BXRTGGSWOX77QLNEWT6CQM7HBG7HJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MED67GHLOPC7TUYNJ3S4WVKCDEOU422QTYSQHOZU4GCWALWNJ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4ZV3MMQ5VCF6LZ7ACQ4MAWKZ4CXBDIYEQDRYPRNTR7L367TH4XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2X2BDTJG73YJHJIM6LAFD3LQ2G4EY7ZPZR7JVY6XGPOFQ4D2CJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5YFUXACNWYRT3GPH5CNUOP67KLEJTD42CEUDYMIR3L37YAM5IDEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UEECOOWNKGHMAOLOEIBYWL6QJRRPM75JXOJMZAPKCKC2JP4SF6XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WU3PSLABT4MR6P6ON32REGHWLEU6RO2ZYSFRWBADRRXUNKC72RBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3V4DTW2Q3OHTM6MI6FBKVUCIXBC5TAKXKUKBZQO4NVAADYBFLHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRVKFQATYYSPLMGHP2FP7W3TBFQJ34K4OIVRDLUFYLSVS2N26GJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTIJXRYCTTGHXXUABBCQ52F2HF4CEJ4BSNPXCXJ5TNYFSFYIUI2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D36GJKZUFSXNCJSRLGR3CJ4U63MJHAF5ONP6I5CMYVZ2TAKR2HGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4XELRCF5CHEFUC4KBGQLNHTP5ZNOFLSFUDYH473T63MU3X4R5VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNUD6E4NRZC42TCEFHYNF3YNY5Y572RNZIJ6NRQ2ZPXF2SU7SA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LN3ME3XHLJROGOCT47OP3DTSCNXTU4QMA6YV3KPDVCLV2VQ2OFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "ListTagsForResource": {
            "http": {
                "method": "GET",
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "tags": {
                        "shape": "S2i"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVUCJYPXFWOAERM7JMGJN6EZZ7KGTOLG5KNW7PROOUQBM2FSE6XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QIXDRXCBHBCEIRK6NACTGON34O7XISSH4ULJS5S7WXFD2HIMV2UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AC5UGPTBWMCODK2YCERZQQ22ZIIAGMWQGLJPX6JRDHSMOXVSQLIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJOMZH5A2XJVGDAAL62KOKOSOAVQRH72DB6X6GLLMTTYL4CNIERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P5TDNGHZ7TZVRV2LBZAZU7BXRTGGSWOX77QLNEWT6CQM7HBG7HJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MED67GHLOPC7TUYNJ3S4WVKCDEOU422QTYSQHOZU4GCWALWNJ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4ZV3MMQ5VCF6LZ7ACQ4MAWKZ4CXBDIYEQDRYPRNTR7L367TH4XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2X2BDTJG73YJHJIM6LAFD3LQ2G4EY7ZPZR7JVY6XGPOFQ4D2CJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5YFUXACNWYRT3GPH5CNUOP67KLEJTD42CEUDYMIR3L37YAM5IDEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UEECOOWNKGHMAOLOEIBYWL6QJRRPM75JXOJMZAPKCKC2JP4SF6XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WU3PSLABT4MR6P6ON32REGHWLEU6RO2ZYSFRWBADRRXUNKC72RBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3V4DTW2Q3OHTM6MI6FBKVUCIXBC5TAKXKUKBZQO4NVAADYBFLHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRVKFQATYYSPLMGHP2FP7W3TBFQJ34K4OIVRDLUFYLSVS2N26GJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTIJXRYCTTGHXXUABBCQ52F2HF4CEJ4BSNPXCXJ5TNYFSFYIUI2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D36GJKZUFSXNCJSRLGR3CJ4U63MJHAF5ONP6I5CMYVZ2TAKR2HGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4XELRCF5CHEFUC4KBGQLNHTP5ZNOFLSFUDYH473T63MU3X4R5VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNUD6E4NRZC42TCEFHYNF3YNY5Y572RNZIJ6NRQ2ZPXF2SU7SA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LN3ME3XHLJROGOCT47OP3DTSCNXTU4QMA6YV3KPDVCLV2VQ2OFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "ListTemplateStepGroups": {
            "http": {
                "method": "GET",
                "requestUri": "/templatestepgroups/{templateId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "templateId"
                ],
                "members": {
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "templateId": {
                        "location": "uri",
                        "locationName": "templateId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "templateStepGroupSummary"
                ],
                "members": {
                    "nextToken": {},
                    "templateStepGroupSummary": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "id": {},
                                "name": {},
                                "previous": {
                                    "shape": "Sb"
                                },
                                "next": {
                                    "shape": "Sb"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVUCJYPXFWOAERM7JMGJN6EZZ7KGTOLG5KNW7PROOUQBM2FSE6XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QIXDRXCBHBCEIRK6NACTGON34O7XISSH4ULJS5S7WXFD2HIMV2UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AC5UGPTBWMCODK2YCERZQQ22ZIIAGMWQGLJPX6JRDHSMOXVSQLIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJOMZH5A2XJVGDAAL62KOKOSOAVQRH72DB6X6GLLMTTYL4CNIERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P5TDNGHZ7TZVRV2LBZAZU7BXRTGGSWOX77QLNEWT6CQM7HBG7HJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MED67GHLOPC7TUYNJ3S4WVKCDEOU422QTYSQHOZU4GCWALWNJ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4ZV3MMQ5VCF6LZ7ACQ4MAWKZ4CXBDIYEQDRYPRNTR7L367TH4XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2X2BDTJG73YJHJIM6LAFD3LQ2G4EY7ZPZR7JVY6XGPOFQ4D2CJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5YFUXACNWYRT3GPH5CNUOP67KLEJTD42CEUDYMIR3L37YAM5IDEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UEECOOWNKGHMAOLOEIBYWL6QJRRPM75JXOJMZAPKCKC2JP4SF6XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WU3PSLABT4MR6P6ON32REGHWLEU6RO2ZYSFRWBADRRXUNKC72RBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3V4DTW2Q3OHTM6MI6FBKVUCIXBC5TAKXKUKBZQO4NVAADYBFLHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRVKFQATYYSPLMGHP2FP7W3TBFQJ34K4OIVRDLUFYLSVS2N26GJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTIJXRYCTTGHXXUABBCQ52F2HF4CEJ4BSNPXCXJ5TNYFSFYIUI2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D36GJKZUFSXNCJSRLGR3CJ4U63MJHAF5ONP6I5CMYVZ2TAKR2HGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4XELRCF5CHEFUC4KBGQLNHTP5ZNOFLSFUDYH473T63MU3X4R5VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNUD6E4NRZC42TCEFHYNF3YNY5Y572RNZIJ6NRQ2ZPXF2SU7SA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LN3ME3XHLJROGOCT47OP3DTSCNXTU4QMA6YV3KPDVCLV2VQ2OFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "ListTemplateSteps": {
            "http": {
                "method": "GET",
                "requestUri": "/templatesteps",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "templateId",
                    "stepGroupId"
                ],
                "members": {
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "templateId": {
                        "location": "querystring",
                        "locationName": "templateId"
                    },
                    "stepGroupId": {
                        "location": "querystring",
                        "locationName": "stepGroupId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "templateStepSummaryList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "id": {},
                                "stepGroupId": {},
                                "templateId": {},
                                "name": {},
                                "stepActionType": {},
                                "targetType": {},
                                "owner": {},
                                "previous": {
                                    "shape": "Sb"
                                },
                                "next": {
                                    "shape": "Sb"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVUCJYPXFWOAERM7JMGJN6EZZ7KGTOLG5KNW7PROOUQBM2FSE6XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QIXDRXCBHBCEIRK6NACTGON34O7XISSH4ULJS5S7WXFD2HIMV2UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AC5UGPTBWMCODK2YCERZQQ22ZIIAGMWQGLJPX6JRDHSMOXVSQLIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJOMZH5A2XJVGDAAL62KOKOSOAVQRH72DB6X6GLLMTTYL4CNIERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P5TDNGHZ7TZVRV2LBZAZU7BXRTGGSWOX77QLNEWT6CQM7HBG7HJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MED67GHLOPC7TUYNJ3S4WVKCDEOU422QTYSQHOZU4GCWALWNJ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4ZV3MMQ5VCF6LZ7ACQ4MAWKZ4CXBDIYEQDRYPRNTR7L367TH4XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2X2BDTJG73YJHJIM6LAFD3LQ2G4EY7ZPZR7JVY6XGPOFQ4D2CJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5YFUXACNWYRT3GPH5CNUOP67KLEJTD42CEUDYMIR3L37YAM5IDEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UEECOOWNKGHMAOLOEIBYWL6QJRRPM75JXOJMZAPKCKC2JP4SF6XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WU3PSLABT4MR6P6ON32REGHWLEU6RO2ZYSFRWBADRRXUNKC72RBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3V4DTW2Q3OHTM6MI6FBKVUCIXBC5TAKXKUKBZQO4NVAADYBFLHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRVKFQATYYSPLMGHP2FP7W3TBFQJ34K4OIVRDLUFYLSVS2N26GJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTIJXRYCTTGHXXUABBCQ52F2HF4CEJ4BSNPXCXJ5TNYFSFYIUI2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D36GJKZUFSXNCJSRLGR3CJ4U63MJHAF5ONP6I5CMYVZ2TAKR2HGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4XELRCF5CHEFUC4KBGQLNHTP5ZNOFLSFUDYH473T63MU3X4R5VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNUD6E4NRZC42TCEFHYNF3YNY5Y572RNZIJ6NRQ2ZPXF2SU7SA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LN3ME3XHLJROGOCT47OP3DTSCNXTU4QMA6YV3KPDVCLV2VQ2OFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "ListTemplates": {
            "http": {
                "method": "GET",
                "requestUri": "/migrationworkflowtemplates",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "name": {
                        "location": "querystring",
                        "locationName": "name"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "templateSummary"
                ],
                "members": {
                    "nextToken": {},
                    "templateSummary": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "id": {},
                                "name": {},
                                "arn": {},
                                "description": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVUCJYPXFWOAERM7JMGJN6EZZ7KGTOLG5KNW7PROOUQBM2FSE6XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QIXDRXCBHBCEIRK6NACTGON34O7XISSH4ULJS5S7WXFD2HIMV2UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AC5UGPTBWMCODK2YCERZQQ22ZIIAGMWQGLJPX6JRDHSMOXVSQLIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJOMZH5A2XJVGDAAL62KOKOSOAVQRH72DB6X6GLLMTTYL4CNIERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P5TDNGHZ7TZVRV2LBZAZU7BXRTGGSWOX77QLNEWT6CQM7HBG7HJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MED67GHLOPC7TUYNJ3S4WVKCDEOU422QTYSQHOZU4GCWALWNJ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4ZV3MMQ5VCF6LZ7ACQ4MAWKZ4CXBDIYEQDRYPRNTR7L367TH4XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2X2BDTJG73YJHJIM6LAFD3LQ2G4EY7ZPZR7JVY6XGPOFQ4D2CJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5YFUXACNWYRT3GPH5CNUOP67KLEJTD42CEUDYMIR3L37YAM5IDEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UEECOOWNKGHMAOLOEIBYWL6QJRRPM75JXOJMZAPKCKC2JP4SF6XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WU3PSLABT4MR6P6ON32REGHWLEU6RO2ZYSFRWBADRRXUNKC72RBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3V4DTW2Q3OHTM6MI6FBKVUCIXBC5TAKXKUKBZQO4NVAADYBFLHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRVKFQATYYSPLMGHP2FP7W3TBFQJ34K4OIVRDLUFYLSVS2N26GJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTIJXRYCTTGHXXUABBCQ52F2HF4CEJ4BSNPXCXJ5TNYFSFYIUI2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D36GJKZUFSXNCJSRLGR3CJ4U63MJHAF5ONP6I5CMYVZ2TAKR2HGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4XELRCF5CHEFUC4KBGQLNHTP5ZNOFLSFUDYH473T63MU3X4R5VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNUD6E4NRZC42TCEFHYNF3YNY5Y572RNZIJ6NRQ2ZPXF2SU7SA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LN3ME3XHLJROGOCT47OP3DTSCNXTU4QMA6YV3KPDVCLV2VQ2OFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "ListWorkflowStepGroups": {
            "http": {
                "method": "GET",
                "requestUri": "/workflowstepgroups",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workflowId"
                ],
                "members": {
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "workflowId": {
                        "location": "querystring",
                        "locationName": "workflowId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "workflowStepGroupsSummary"
                ],
                "members": {
                    "nextToken": {},
                    "workflowStepGroupsSummary": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "id": {},
                                "name": {},
                                "owner": {},
                                "status": {},
                                "previous": {
                                    "shape": "Sb"
                                },
                                "next": {
                                    "shape": "Sb"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVUCJYPXFWOAERM7JMGJN6EZZ7KGTOLG5KNW7PROOUQBM2FSE6XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QIXDRXCBHBCEIRK6NACTGON34O7XISSH4ULJS5S7WXFD2HIMV2UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AC5UGPTBWMCODK2YCERZQQ22ZIIAGMWQGLJPX6JRDHSMOXVSQLIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJOMZH5A2XJVGDAAL62KOKOSOAVQRH72DB6X6GLLMTTYL4CNIERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P5TDNGHZ7TZVRV2LBZAZU7BXRTGGSWOX77QLNEWT6CQM7HBG7HJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MED67GHLOPC7TUYNJ3S4WVKCDEOU422QTYSQHOZU4GCWALWNJ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4ZV3MMQ5VCF6LZ7ACQ4MAWKZ4CXBDIYEQDRYPRNTR7L367TH4XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2X2BDTJG73YJHJIM6LAFD3LQ2G4EY7ZPZR7JVY6XGPOFQ4D2CJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5YFUXACNWYRT3GPH5CNUOP67KLEJTD42CEUDYMIR3L37YAM5IDEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UEECOOWNKGHMAOLOEIBYWL6QJRRPM75JXOJMZAPKCKC2JP4SF6XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WU3PSLABT4MR6P6ON32REGHWLEU6RO2ZYSFRWBADRRXUNKC72RBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3V4DTW2Q3OHTM6MI6FBKVUCIXBC5TAKXKUKBZQO4NVAADYBFLHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRVKFQATYYSPLMGHP2FP7W3TBFQJ34K4OIVRDLUFYLSVS2N26GJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTIJXRYCTTGHXXUABBCQ52F2HF4CEJ4BSNPXCXJ5TNYFSFYIUI2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D36GJKZUFSXNCJSRLGR3CJ4U63MJHAF5ONP6I5CMYVZ2TAKR2HGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4XELRCF5CHEFUC4KBGQLNHTP5ZNOFLSFUDYH473T63MU3X4R5VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNUD6E4NRZC42TCEFHYNF3YNY5Y572RNZIJ6NRQ2ZPXF2SU7SA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LN3ME3XHLJROGOCT47OP3DTSCNXTU4QMA6YV3KPDVCLV2VQ2OFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "ListWorkflowSteps": {
            "http": {
                "method": "GET",
                "requestUri": "/workflow/{workflowId}/workflowstepgroups/{stepGroupId}/workflowsteps",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workflowId",
                    "stepGroupId"
                ],
                "members": {
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "workflowId": {
                        "location": "uri",
                        "locationName": "workflowId"
                    },
                    "stepGroupId": {
                        "location": "uri",
                        "locationName": "stepGroupId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "workflowStepsSummary"
                ],
                "members": {
                    "nextToken": {},
                    "workflowStepsSummary": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "stepId": {},
                                "name": {},
                                "stepActionType": {},
                                "owner": {},
                                "previous": {
                                    "shape": "Sb"
                                },
                                "next": {
                                    "shape": "Sb"
                                },
                                "status": {},
                                "statusMessage": {},
                                "noOfSrvCompleted": {
                                    "type": "integer"
                                },
                                "noOfSrvFailed": {
                                    "type": "integer"
                                },
                                "totalNoOfSrv": {
                                    "type": "integer"
                                },
                                "description": {},
                                "scriptLocation": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVUCJYPXFWOAERM7JMGJN6EZZ7KGTOLG5KNW7PROOUQBM2FSE6XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QIXDRXCBHBCEIRK6NACTGON34O7XISSH4ULJS5S7WXFD2HIMV2UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AC5UGPTBWMCODK2YCERZQQ22ZIIAGMWQGLJPX6JRDHSMOXVSQLIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJOMZH5A2XJVGDAAL62KOKOSOAVQRH72DB6X6GLLMTTYL4CNIERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P5TDNGHZ7TZVRV2LBZAZU7BXRTGGSWOX77QLNEWT6CQM7HBG7HJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MED67GHLOPC7TUYNJ3S4WVKCDEOU422QTYSQHOZU4GCWALWNJ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4ZV3MMQ5VCF6LZ7ACQ4MAWKZ4CXBDIYEQDRYPRNTR7L367TH4XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2X2BDTJG73YJHJIM6LAFD3LQ2G4EY7ZPZR7JVY6XGPOFQ4D2CJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5YFUXACNWYRT3GPH5CNUOP67KLEJTD42CEUDYMIR3L37YAM5IDEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UEECOOWNKGHMAOLOEIBYWL6QJRRPM75JXOJMZAPKCKC2JP4SF6XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WU3PSLABT4MR6P6ON32REGHWLEU6RO2ZYSFRWBADRRXUNKC72RBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3V4DTW2Q3OHTM6MI6FBKVUCIXBC5TAKXKUKBZQO4NVAADYBFLHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRVKFQATYYSPLMGHP2FP7W3TBFQJ34K4OIVRDLUFYLSVS2N26GJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTIJXRYCTTGHXXUABBCQ52F2HF4CEJ4BSNPXCXJ5TNYFSFYIUI2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D36GJKZUFSXNCJSRLGR3CJ4U63MJHAF5ONP6I5CMYVZ2TAKR2HGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4XELRCF5CHEFUC4KBGQLNHTP5ZNOFLSFUDYH473T63MU3X4R5VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNUD6E4NRZC42TCEFHYNF3YNY5Y572RNZIJ6NRQ2ZPXF2SU7SA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LN3ME3XHLJROGOCT47OP3DTSCNXTU4QMA6YV3KPDVCLV2VQ2OFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "ListWorkflows": {
            "http": {
                "method": "GET",
                "requestUri": "/migrationworkflows",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "templateId": {
                        "location": "querystring",
                        "locationName": "templateId"
                    },
                    "adsApplicationConfigurationName": {
                        "location": "querystring",
                        "locationName": "adsApplicationConfigurationName"
                    },
                    "status": {
                        "location": "querystring",
                        "locationName": "status"
                    },
                    "name": {
                        "location": "querystring",
                        "locationName": "name"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "migrationWorkflowSummary"
                ],
                "members": {
                    "nextToken": {},
                    "migrationWorkflowSummary": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "id": {},
                                "name": {},
                                "templateId": {},
                                "adsApplicationConfigurationName": {},
                                "status": {},
                                "creationTime": {
                                    "type": "timestamp"
                                },
                                "endTime": {
                                    "type": "timestamp"
                                },
                                "statusMessage": {},
                                "completedSteps": {
                                    "type": "integer"
                                },
                                "totalSteps": {
                                    "type": "integer"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVUCJYPXFWOAERM7JMGJN6EZZ7KGTOLG5KNW7PROOUQBM2FSE6XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QIXDRXCBHBCEIRK6NACTGON34O7XISSH4ULJS5S7WXFD2HIMV2UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AC5UGPTBWMCODK2YCERZQQ22ZIIAGMWQGLJPX6JRDHSMOXVSQLIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJOMZH5A2XJVGDAAL62KOKOSOAVQRH72DB6X6GLLMTTYL4CNIERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P5TDNGHZ7TZVRV2LBZAZU7BXRTGGSWOX77QLNEWT6CQM7HBG7HJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MED67GHLOPC7TUYNJ3S4WVKCDEOU422QTYSQHOZU4GCWALWNJ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4ZV3MMQ5VCF6LZ7ACQ4MAWKZ4CXBDIYEQDRYPRNTR7L367TH4XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2X2BDTJG73YJHJIM6LAFD3LQ2G4EY7ZPZR7JVY6XGPOFQ4D2CJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5YFUXACNWYRT3GPH5CNUOP67KLEJTD42CEUDYMIR3L37YAM5IDEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UEECOOWNKGHMAOLOEIBYWL6QJRRPM75JXOJMZAPKCKC2JP4SF6XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WU3PSLABT4MR6P6ON32REGHWLEU6RO2ZYSFRWBADRRXUNKC72RBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3V4DTW2Q3OHTM6MI6FBKVUCIXBC5TAKXKUKBZQO4NVAADYBFLHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRVKFQATYYSPLMGHP2FP7W3TBFQJ34K4OIVRDLUFYLSVS2N26GJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTIJXRYCTTGHXXUABBCQ52F2HF4CEJ4BSNPXCXJ5TNYFSFYIUI2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D36GJKZUFSXNCJSRLGR3CJ4U63MJHAF5ONP6I5CMYVZ2TAKR2HGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4XELRCF5CHEFUC4KBGQLNHTP5ZNOFLSFUDYH473T63MU3X4R5VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNUD6E4NRZC42TCEFHYNF3YNY5Y572RNZIJ6NRQ2ZPXF2SU7SA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LN3ME3XHLJROGOCT47OP3DTSCNXTU4QMA6YV3KPDVCLV2VQ2OFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "RetryWorkflowStep": {
            "http": {
                "requestUri": "/retryworkflowstep/{id}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workflowId",
                    "stepGroupId",
                    "id"
                ],
                "members": {
                    "workflowId": {
                        "location": "querystring",
                        "locationName": "workflowId"
[...]
