{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2021-08-28",
        "endpointPrefix": "migrationhub-orchestrator",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "AWS Migration Hub Orchestrator",
        "serviceId": "MigrationHubOrchestrator",
        "signatureVersion": "v4",
        "signingName": "migrationhub-orchestrator",
        "uid": "migrationhuborchestrator-2021-08-28",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JGUN3LV2LYT7KOGBGD53FVGZYY3OOCXHHZI2S7EVTTTGLEQ6WCCQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XXZE6KJC36FA2ZIRKFRWMJYQVH6ROX75R5QP3C7G74XUOG255A5A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZHJ3EAYMM5RBS2PW5SQOV7VDQBJFRLPIVHWGN4DZIENT5T5BSOVQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/N7YC2K6QH7CGXMO6FFHNNMPBJFZQCFPRCZMTFZORANMQHAOZL3CA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3BYX5L2GRYBPS7LOYG5STREWHX4QVURZUIZSTQX4G4FJVD2CGSGQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7CVDWMABRL4PWFC6SSXBC52AKH5BMEOPBFJYHRWZAFRXFOIZA56Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2N26OLDBMBQHXHZ3DMNQGFQG3P5PI32DWWQ2JOA4EJAZAD62Z2VQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FF3GGUSBBAM2HQE3PULNLCJ33J2K6RUNB62BNROTGFNTHG7EIIVA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UPB2DP6ONVVQ6FRCOPOB25E6E4H4XNI4DY7DLSKTKGTXDYMJNOQA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4GXKO3AZFAW5KPNSJTHMMF6E6V4E6UBVWR46AZDD3PFM6MR2RFBQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WEVUROLFFXXWVNQZKE4VI6VPMDSSFJHSPBDJJJPKRE6FTCLKEG5A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7JRDB7ERNOVGXZ2JB6WGTKB6POFC4ZFD2XQNVUS34N3MXXIYLTEQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HLK47KEOGIXELHVYJEE34LG37ZVKMQUEUVDQMNUW2QP5SCPFIONQ/vendors.js"
        ]
    },
    "operations": {
        "CreateWorkflow": {
            "http": {
                "requestUri": "/migrationworkflow/",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "templateId",
                    "applicationConfigurationId",
                    "inputParameters"
                ],
                "members": {
                    "name": {},
                    "description": {},
                    "templateId": {},
                    "applicationConfigurationId": {},
                    "inputParameters": {
                        "shape": "S6"
                    },
                    "stepTargets": {
                        "shape": "Sb"
                    },
                    "tags": {
                        "shape": "Sd"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "id": {},
                    "arn": {},
                    "name": {},
                    "description": {},
                    "templateId": {},
                    "adsApplicationConfigurationId": {},
                    "workflowInputs": {
                        "shape": "S6"
                    },
                    "stepTargets": {
                        "shape": "Sb"
                    },
                    "status": {},
                    "creationTime": {
                        "type": "timestamp"
                    },
                    "tags": {
                        "shape": "Sd"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JGUN3LV2LYT7KOGBGD53FVGZYY3OOCXHHZI2S7EVTTTGLEQ6WCCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXZE6KJC36FA2ZIRKFRWMJYQVH6ROX75R5QP3C7G74XUOG255A5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHJ3EAYMM5RBS2PW5SQOV7VDQBJFRLPIVHWGN4DZIENT5T5BSOVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N7YC2K6QH7CGXMO6FFHNNMPBJFZQCFPRCZMTFZORANMQHAOZL3CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BYX5L2GRYBPS7LOYG5STREWHX4QVURZUIZSTQX4G4FJVD2CGSGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CVDWMABRL4PWFC6SSXBC52AKH5BMEOPBFJYHRWZAFRXFOIZA56Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N26OLDBMBQHXHZ3DMNQGFQG3P5PI32DWWQ2JOA4EJAZAD62Z2VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FF3GGUSBBAM2HQE3PULNLCJ33J2K6RUNB62BNROTGFNTHG7EIIVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPB2DP6ONVVQ6FRCOPOB25E6E4H4XNI4DY7DLSKTKGTXDYMJNOQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GXKO3AZFAW5KPNSJTHMMF6E6V4E6UBVWR46AZDD3PFM6MR2RFBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEVUROLFFXXWVNQZKE4VI6VPMDSSFJHSPBDJJJPKRE6FTCLKEG5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7JRDB7ERNOVGXZ2JB6WGTKB6POFC4ZFD2XQNVUS34N3MXXIYLTEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HLK47KEOGIXELHVYJEE34LG37ZVKMQUEUVDQMNUW2QP5SCPFIONQ/vendors.js"
            ]
        },
        "CreateWorkflowStep": {
            "http": {
                "requestUri": "/workflowstep",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "stepGroupId",
                    "workflowId",
                    "stepActionType"
                ],
                "members": {
                    "name": {},
                    "stepGroupId": {},
                    "workflowId": {},
                    "stepActionType": {},
                    "description": {},
                    "workflowStepAutomationConfiguration": {
                        "shape": "Sq"
                    },
                    "stepTarget": {
                        "shape": "Sb"
                    },
                    "outputs": {
                        "shape": "Sx"
                    },
                    "previous": {
                        "shape": "Sb"
                    },
                    "next": {
                        "shape": "Sb"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "id": {},
                    "stepGroupId": {},
                    "workflowId": {},
                    "name": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JGUN3LV2LYT7KOGBGD53FVGZYY3OOCXHHZI2S7EVTTTGLEQ6WCCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXZE6KJC36FA2ZIRKFRWMJYQVH6ROX75R5QP3C7G74XUOG255A5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHJ3EAYMM5RBS2PW5SQOV7VDQBJFRLPIVHWGN4DZIENT5T5BSOVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N7YC2K6QH7CGXMO6FFHNNMPBJFZQCFPRCZMTFZORANMQHAOZL3CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BYX5L2GRYBPS7LOYG5STREWHX4QVURZUIZSTQX4G4FJVD2CGSGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CVDWMABRL4PWFC6SSXBC52AKH5BMEOPBFJYHRWZAFRXFOIZA56Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N26OLDBMBQHXHZ3DMNQGFQG3P5PI32DWWQ2JOA4EJAZAD62Z2VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FF3GGUSBBAM2HQE3PULNLCJ33J2K6RUNB62BNROTGFNTHG7EIIVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPB2DP6ONVVQ6FRCOPOB25E6E4H4XNI4DY7DLSKTKGTXDYMJNOQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GXKO3AZFAW5KPNSJTHMMF6E6V4E6UBVWR46AZDD3PFM6MR2RFBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEVUROLFFXXWVNQZKE4VI6VPMDSSFJHSPBDJJJPKRE6FTCLKEG5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7JRDB7ERNOVGXZ2JB6WGTKB6POFC4ZFD2XQNVUS34N3MXXIYLTEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HLK47KEOGIXELHVYJEE34LG37ZVKMQUEUVDQMNUW2QP5SCPFIONQ/vendors.js"
            ]
        },
        "CreateWorkflowStepGroup": {
            "http": {
                "requestUri": "/workflowstepgroups",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workflowId",
                    "name"
                ],
                "members": {
                    "workflowId": {},
                    "name": {},
                    "description": {},
                    "next": {
                        "shape": "Sb"
                    },
                    "previous": {
                        "shape": "Sb"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "workflowId": {},
                    "name": {},
                    "id": {},
                    "description": {},
                    "tools": {
                        "shape": "S18"
                    },
                    "next": {
                        "shape": "Sb"
                    },
                    "previous": {
                        "shape": "Sb"
                    },
                    "creationTime": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JGUN3LV2LYT7KOGBGD53FVGZYY3OOCXHHZI2S7EVTTTGLEQ6WCCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXZE6KJC36FA2ZIRKFRWMJYQVH6ROX75R5QP3C7G74XUOG255A5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHJ3EAYMM5RBS2PW5SQOV7VDQBJFRLPIVHWGN4DZIENT5T5BSOVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N7YC2K6QH7CGXMO6FFHNNMPBJFZQCFPRCZMTFZORANMQHAOZL3CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BYX5L2GRYBPS7LOYG5STREWHX4QVURZUIZSTQX4G4FJVD2CGSGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CVDWMABRL4PWFC6SSXBC52AKH5BMEOPBFJYHRWZAFRXFOIZA56Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N26OLDBMBQHXHZ3DMNQGFQG3P5PI32DWWQ2JOA4EJAZAD62Z2VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FF3GGUSBBAM2HQE3PULNLCJ33J2K6RUNB62BNROTGFNTHG7EIIVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPB2DP6ONVVQ6FRCOPOB25E6E4H4XNI4DY7DLSKTKGTXDYMJNOQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GXKO3AZFAW5KPNSJTHMMF6E6V4E6UBVWR46AZDD3PFM6MR2RFBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEVUROLFFXXWVNQZKE4VI6VPMDSSFJHSPBDJJJPKRE6FTCLKEG5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7JRDB7ERNOVGXZ2JB6WGTKB6POFC4ZFD2XQNVUS34N3MXXIYLTEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HLK47KEOGIXELHVYJEE34LG37ZVKMQUEUVDQMNUW2QP5SCPFIONQ/vendors.js"
            ]
        },
        "DeleteWorkflow": {
            "http": {
                "method": "DELETE",
                "requestUri": "/migrationworkflow/{id}",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "id": {},
                    "arn": {},
                    "status": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JGUN3LV2LYT7KOGBGD53FVGZYY3OOCXHHZI2S7EVTTTGLEQ6WCCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXZE6KJC36FA2ZIRKFRWMJYQVH6ROX75R5QP3C7G74XUOG255A5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHJ3EAYMM5RBS2PW5SQOV7VDQBJFRLPIVHWGN4DZIENT5T5BSOVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N7YC2K6QH7CGXMO6FFHNNMPBJFZQCFPRCZMTFZORANMQHAOZL3CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BYX5L2GRYBPS7LOYG5STREWHX4QVURZUIZSTQX4G4FJVD2CGSGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CVDWMABRL4PWFC6SSXBC52AKH5BMEOPBFJYHRWZAFRXFOIZA56Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N26OLDBMBQHXHZ3DMNQGFQG3P5PI32DWWQ2JOA4EJAZAD62Z2VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FF3GGUSBBAM2HQE3PULNLCJ33J2K6RUNB62BNROTGFNTHG7EIIVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPB2DP6ONVVQ6FRCOPOB25E6E4H4XNI4DY7DLSKTKGTXDYMJNOQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GXKO3AZFAW5KPNSJTHMMF6E6V4E6UBVWR46AZDD3PFM6MR2RFBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEVUROLFFXXWVNQZKE4VI6VPMDSSFJHSPBDJJJPKRE6FTCLKEG5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7JRDB7ERNOVGXZ2JB6WGTKB6POFC4ZFD2XQNVUS34N3MXXIYLTEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HLK47KEOGIXELHVYJEE34LG37ZVKMQUEUVDQMNUW2QP5SCPFIONQ/vendors.js"
            ]
        },
        "DeleteWorkflowStep": {
            "http": {
                "method": "DELETE",
                "requestUri": "/workflowstep/{id}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "id",
                    "stepGroupId",
                    "workflowId"
                ],
                "members": {
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    },
                    "stepGroupId": {
                        "location": "querystring",
                        "locationName": "stepGroupId"
                    },
                    "workflowId": {
                        "location": "querystring",
                        "locationName": "workflowId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JGUN3LV2LYT7KOGBGD53FVGZYY3OOCXHHZI2S7EVTTTGLEQ6WCCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXZE6KJC36FA2ZIRKFRWMJYQVH6ROX75R5QP3C7G74XUOG255A5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHJ3EAYMM5RBS2PW5SQOV7VDQBJFRLPIVHWGN4DZIENT5T5BSOVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N7YC2K6QH7CGXMO6FFHNNMPBJFZQCFPRCZMTFZORANMQHAOZL3CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BYX5L2GRYBPS7LOYG5STREWHX4QVURZUIZSTQX4G4FJVD2CGSGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CVDWMABRL4PWFC6SSXBC52AKH5BMEOPBFJYHRWZAFRXFOIZA56Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N26OLDBMBQHXHZ3DMNQGFQG3P5PI32DWWQ2JOA4EJAZAD62Z2VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FF3GGUSBBAM2HQE3PULNLCJ33J2K6RUNB62BNROTGFNTHG7EIIVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPB2DP6ONVVQ6FRCOPOB25E6E4H4XNI4DY7DLSKTKGTXDYMJNOQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GXKO3AZFAW5KPNSJTHMMF6E6V4E6UBVWR46AZDD3PFM6MR2RFBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEVUROLFFXXWVNQZKE4VI6VPMDSSFJHSPBDJJJPKRE6FTCLKEG5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7JRDB7ERNOVGXZ2JB6WGTKB6POFC4ZFD2XQNVUS34N3MXXIYLTEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HLK47KEOGIXELHVYJEE34LG37ZVKMQUEUVDQMNUW2QP5SCPFIONQ/vendors.js"
            ]
        },
        "DeleteWorkflowStepGroup": {
            "http": {
                "method": "DELETE",
                "requestUri": "/workflowstepgroup/{id}",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "workflowId",
                    "id"
                ],
                "members": {
                    "workflowId": {
                        "location": "querystring",
                        "locationName": "workflowId"
                    },
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JGUN3LV2LYT7KOGBGD53FVGZYY3OOCXHHZI2S7EVTTTGLEQ6WCCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXZE6KJC36FA2ZIRKFRWMJYQVH6ROX75R5QP3C7G74XUOG255A5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHJ3EAYMM5RBS2PW5SQOV7VDQBJFRLPIVHWGN4DZIENT5T5BSOVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N7YC2K6QH7CGXMO6FFHNNMPBJFZQCFPRCZMTFZORANMQHAOZL3CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BYX5L2GRYBPS7LOYG5STREWHX4QVURZUIZSTQX4G4FJVD2CGSGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CVDWMABRL4PWFC6SSXBC52AKH5BMEOPBFJYHRWZAFRXFOIZA56Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N26OLDBMBQHXHZ3DMNQGFQG3P5PI32DWWQ2JOA4EJAZAD62Z2VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FF3GGUSBBAM2HQE3PULNLCJ33J2K6RUNB62BNROTGFNTHG7EIIVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPB2DP6ONVVQ6FRCOPOB25E6E4H4XNI4DY7DLSKTKGTXDYMJNOQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GXKO3AZFAW5KPNSJTHMMF6E6V4E6UBVWR46AZDD3PFM6MR2RFBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEVUROLFFXXWVNQZKE4VI6VPMDSSFJHSPBDJJJPKRE6FTCLKEG5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7JRDB7ERNOVGXZ2JB6WGTKB6POFC4ZFD2XQNVUS34N3MXXIYLTEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HLK47KEOGIXELHVYJEE34LG37ZVKMQUEUVDQMNUW2QP5SCPFIONQ/vendors.js"
            ]
        },
        "GetTemplate": {
            "http": {
                "method": "GET",
                "requestUri": "/migrationworkflowtemplate/{id}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "id": {},
                    "name": {},
                    "description": {},
                    "inputs": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "inputName": {},
                                "dataType": {},
                                "required": {
                                    "type": "boolean"
                                }
                            }
                        }
                    },
                    "tools": {
                        "shape": "S18"
                    },
                    "status": {},
                    "creationTime": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JGUN3LV2LYT7KOGBGD53FVGZYY3OOCXHHZI2S7EVTTTGLEQ6WCCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXZE6KJC36FA2ZIRKFRWMJYQVH6ROX75R5QP3C7G74XUOG255A5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHJ3EAYMM5RBS2PW5SQOV7VDQBJFRLPIVHWGN4DZIENT5T5BSOVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N7YC2K6QH7CGXMO6FFHNNMPBJFZQCFPRCZMTFZORANMQHAOZL3CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BYX5L2GRYBPS7LOYG5STREWHX4QVURZUIZSTQX4G4FJVD2CGSGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CVDWMABRL4PWFC6SSXBC52AKH5BMEOPBFJYHRWZAFRXFOIZA56Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N26OLDBMBQHXHZ3DMNQGFQG3P5PI32DWWQ2JOA4EJAZAD62Z2VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FF3GGUSBBAM2HQE3PULNLCJ33J2K6RUNB62BNROTGFNTHG7EIIVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPB2DP6ONVVQ6FRCOPOB25E6E4H4XNI4DY7DLSKTKGTXDYMJNOQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GXKO3AZFAW5KPNSJTHMMF6E6V4E6UBVWR46AZDD3PFM6MR2RFBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEVUROLFFXXWVNQZKE4VI6VPMDSSFJHSPBDJJJPKRE6FTCLKEG5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7JRDB7ERNOVGXZ2JB6WGTKB6POFC4ZFD2XQNVUS34N3MXXIYLTEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HLK47KEOGIXELHVYJEE34LG37ZVKMQUEUVDQMNUW2QP5SCPFIONQ/vendors.js"
            ]
        },
        "GetTemplateStep": {
            "http": {
                "method": "GET",
                "requestUri": "/templatestep/{id}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "id",
                    "templateId",
                    "stepGroupId"
                ],
                "members": {
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    },
                    "templateId": {
                        "location": "querystring",
                        "locationName": "templateId"
                    },
                    "stepGroupId": {
                        "location": "querystring",
                        "locationName": "stepGroupId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "id": {},
                    "stepGroupId": {},
                    "templateId": {},
                    "name": {},
                    "description": {},
                    "stepActionType": {},
                    "creationTime": {},
                    "previous": {
                        "shape": "Sb"
                    },
                    "next": {
                        "shape": "Sb"
                    },
                    "outputs": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "name": {},
                                "dataType": {},
                                "required": {
                                    "type": "boolean"
                                }
                            }
                        }
                    },
                    "stepAutomationConfiguration": {
                        "type": "structure",
                        "members": {
                            "scriptLocationS3Bucket": {},
                            "scriptLocationS3Key": {
                                "shape": "Ss"
                            },
                            "command": {
                                "shape": "Su"
                            },
                            "runEnvironment": {},
                            "targetType": {}
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JGUN3LV2LYT7KOGBGD53FVGZYY3OOCXHHZI2S7EVTTTGLEQ6WCCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXZE6KJC36FA2ZIRKFRWMJYQVH6ROX75R5QP3C7G74XUOG255A5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHJ3EAYMM5RBS2PW5SQOV7VDQBJFRLPIVHWGN4DZIENT5T5BSOVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N7YC2K6QH7CGXMO6FFHNNMPBJFZQCFPRCZMTFZORANMQHAOZL3CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BYX5L2GRYBPS7LOYG5STREWHX4QVURZUIZSTQX4G4FJVD2CGSGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CVDWMABRL4PWFC6SSXBC52AKH5BMEOPBFJYHRWZAFRXFOIZA56Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N26OLDBMBQHXHZ3DMNQGFQG3P5PI32DWWQ2JOA4EJAZAD62Z2VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FF3GGUSBBAM2HQE3PULNLCJ33J2K6RUNB62BNROTGFNTHG7EIIVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPB2DP6ONVVQ6FRCOPOB25E6E4H4XNI4DY7DLSKTKGTXDYMJNOQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GXKO3AZFAW5KPNSJTHMMF6E6V4E6UBVWR46AZDD3PFM6MR2RFBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEVUROLFFXXWVNQZKE4VI6VPMDSSFJHSPBDJJJPKRE6FTCLKEG5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7JRDB7ERNOVGXZ2JB6WGTKB6POFC4ZFD2XQNVUS34N3MXXIYLTEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HLK47KEOGIXELHVYJEE34LG37ZVKMQUEUVDQMNUW2QP5SCPFIONQ/vendors.js"
            ]
        },
        "GetTemplateStepGroup": {
            "http": {
                "method": "GET",
                "requestUri": "/templates/{templateId}/stepgroups/{id}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "templateId",
                    "id"
                ],
                "members": {
                    "templateId": {
                        "location": "uri",
                        "locationName": "templateId"
                    },
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "templateId": {},
                    "id": {},
                    "name": {},
                    "description": {},
                    "status": {},
                    "creationTime": {
                        "type": "timestamp"
                    },
                    "lastModifiedTime": {
                        "type": "timestamp"
                    },
                    "tools": {
                        "shape": "S18"
                    },
                    "previous": {
                        "shape": "Sb"
                    },
                    "next": {
                        "shape": "Sb"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JGUN3LV2LYT7KOGBGD53FVGZYY3OOCXHHZI2S7EVTTTGLEQ6WCCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXZE6KJC36FA2ZIRKFRWMJYQVH6ROX75R5QP3C7G74XUOG255A5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHJ3EAYMM5RBS2PW5SQOV7VDQBJFRLPIVHWGN4DZIENT5T5BSOVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N7YC2K6QH7CGXMO6FFHNNMPBJFZQCFPRCZMTFZORANMQHAOZL3CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BYX5L2GRYBPS7LOYG5STREWHX4QVURZUIZSTQX4G4FJVD2CGSGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CVDWMABRL4PWFC6SSXBC52AKH5BMEOPBFJYHRWZAFRXFOIZA56Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N26OLDBMBQHXHZ3DMNQGFQG3P5PI32DWWQ2JOA4EJAZAD62Z2VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FF3GGUSBBAM2HQE3PULNLCJ33J2K6RUNB62BNROTGFNTHG7EIIVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPB2DP6ONVVQ6FRCOPOB25E6E4H4XNI4DY7DLSKTKGTXDYMJNOQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GXKO3AZFAW5KPNSJTHMMF6E6V4E6UBVWR46AZDD3PFM6MR2RFBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEVUROLFFXXWVNQZKE4VI6VPMDSSFJHSPBDJJJPKRE6FTCLKEG5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7JRDB7ERNOVGXZ2JB6WGTKB6POFC4ZFD2XQNVUS34N3MXXIYLTEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HLK47KEOGIXELHVYJEE34LG37ZVKMQUEUVDQMNUW2QP5SCPFIONQ/vendors.js"
            ]
        },
        "GetWorkflow": {
            "http": {
                "method": "GET",
                "requestUri": "/migrationworkflow/{id}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "id": {},
                    "arn": {},
                    "name": {},
                    "description": {},
                    "templateId": {},
                    "adsApplicationConfigurationId": {},
                    "adsApplicationName": {},
                    "status": {},
                    "statusMessage": {},
                    "creationTime": {
                        "type": "timestamp"
                    },
                    "lastStartTime": {
                        "type": "timestamp"
                    },
                    "lastStopTime": {
                        "type": "timestamp"
                    },
                    "lastModifiedTime": {
                        "type": "timestamp"
                    },
                    "endTime": {
                        "type": "timestamp"
                    },
                    "tools": {
                        "shape": "S18"
                    },
                    "totalSteps": {
                        "type": "integer"
                    },
                    "completedSteps": {
                        "type": "integer"
                    },
                    "workflowInputs": {
                        "shape": "S6"
                    },
                    "tags": {
                        "shape": "Sd"
                    },
                    "workflowBucket": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JGUN3LV2LYT7KOGBGD53FVGZYY3OOCXHHZI2S7EVTTTGLEQ6WCCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXZE6KJC36FA2ZIRKFRWMJYQVH6ROX75R5QP3C7G74XUOG255A5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHJ3EAYMM5RBS2PW5SQOV7VDQBJFRLPIVHWGN4DZIENT5T5BSOVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N7YC2K6QH7CGXMO6FFHNNMPBJFZQCFPRCZMTFZORANMQHAOZL3CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BYX5L2GRYBPS7LOYG5STREWHX4QVURZUIZSTQX4G4FJVD2CGSGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CVDWMABRL4PWFC6SSXBC52AKH5BMEOPBFJYHRWZAFRXFOIZA56Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N26OLDBMBQHXHZ3DMNQGFQG3P5PI32DWWQ2JOA4EJAZAD62Z2VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FF3GGUSBBAM2HQE3PULNLCJ33J2K6RUNB62BNROTGFNTHG7EIIVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPB2DP6ONVVQ6FRCOPOB25E6E4H4XNI4DY7DLSKTKGTXDYMJNOQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GXKO3AZFAW5KPNSJTHMMF6E6V4E6UBVWR46AZDD3PFM6MR2RFBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEVUROLFFXXWVNQZKE4VI6VPMDSSFJHSPBDJJJPKRE6FTCLKEG5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7JRDB7ERNOVGXZ2JB6WGTKB6POFC4ZFD2XQNVUS34N3MXXIYLTEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HLK47KEOGIXELHVYJEE34LG37ZVKMQUEUVDQMNUW2QP5SCPFIONQ/vendors.js"
            ]
        },
        "GetWorkflowStep": {
            "http": {
                "method": "GET",
                "requestUri": "/workflowstep/{id}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workflowId",
                    "stepGroupId",
                    "id"
                ],
                "members": {
                    "workflowId": {
                        "location": "querystring",
                        "locationName": "workflowId"
                    },
                    "stepGroupId": {
                        "location": "querystring",
                        "locationName": "stepGroupId"
                    },
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "name": {},
                    "stepGroupId": {},
                    "workflowId": {},
                    "stepId": {},
                    "description": {},
                    "stepActionType": {},
                    "owner": {},
                    "workflowStepAutomationConfiguration": {
                        "shape": "Sq"
                    },
                    "stepTarget": {
                        "shape": "Sb"
                    },
                    "outputs": {
                        "type": "list",
                        "member": {
                            "shape": "Sy"
                        }
                    },
                    "previous": {
                        "shape": "Sb"
                    },
                    "next": {
                        "shape": "Sb"
                    },
                    "status": {},
                    "statusMessage": {},
                    "scriptOutputLocation": {},
                    "creationTime": {
                        "type": "timestamp"
                    },
                    "lastStartTime": {
                        "type": "timestamp"
                    },
                    "endTime": {
                        "type": "timestamp"
                    },
                    "noOfSrvCompleted": {
                        "type": "integer"
                    },
                    "noOfSrvFailed": {
                        "type": "integer"
                    },
                    "totalNoOfSrv": {
                        "type": "integer"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JGUN3LV2LYT7KOGBGD53FVGZYY3OOCXHHZI2S7EVTTTGLEQ6WCCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXZE6KJC36FA2ZIRKFRWMJYQVH6ROX75R5QP3C7G74XUOG255A5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHJ3EAYMM5RBS2PW5SQOV7VDQBJFRLPIVHWGN4DZIENT5T5BSOVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N7YC2K6QH7CGXMO6FFHNNMPBJFZQCFPRCZMTFZORANMQHAOZL3CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BYX5L2GRYBPS7LOYG5STREWHX4QVURZUIZSTQX4G4FJVD2CGSGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CVDWMABRL4PWFC6SSXBC52AKH5BMEOPBFJYHRWZAFRXFOIZA56Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N26OLDBMBQHXHZ3DMNQGFQG3P5PI32DWWQ2JOA4EJAZAD62Z2VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FF3GGUSBBAM2HQE3PULNLCJ33J2K6RUNB62BNROTGFNTHG7EIIVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPB2DP6ONVVQ6FRCOPOB25E6E4H4XNI4DY7DLSKTKGTXDYMJNOQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GXKO3AZFAW5KPNSJTHMMF6E6V4E6UBVWR46AZDD3PFM6MR2RFBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEVUROLFFXXWVNQZKE4VI6VPMDSSFJHSPBDJJJPKRE6FTCLKEG5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7JRDB7ERNOVGXZ2JB6WGTKB6POFC4ZFD2XQNVUS34N3MXXIYLTEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HLK47KEOGIXELHVYJEE34LG37ZVKMQUEUVDQMNUW2QP5SCPFIONQ/vendors.js"
            ]
        },
        "GetWorkflowStepGroup": {
            "http": {
                "method": "GET",
                "requestUri": "/workflowstepgroup/{id}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "id",
                    "workflowId"
                ],
                "members": {
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    },
                    "workflowId": {
                        "location": "querystring",
                        "locationName": "workflowId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "id": {},
                    "workflowId": {},
                    "name": {},
                    "description": {},
                    "status": {},
                    "owner": {},
                    "creationTime": {
                        "type": "timestamp"
                    },
                    "lastModifiedTime": {
                        "type": "timestamp"
                    },
                    "endTime": {
                        "type": "timestamp"
                    },
                    "tools": {
                        "shape": "S18"
                    },
                    "previous": {
                        "shape": "Sb"
                    },
                    "next": {
                        "shape": "Sb"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JGUN3LV2LYT7KOGBGD53FVGZYY3OOCXHHZI2S7EVTTTGLEQ6WCCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXZE6KJC36FA2ZIRKFRWMJYQVH6ROX75R5QP3C7G74XUOG255A5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHJ3EAYMM5RBS2PW5SQOV7VDQBJFRLPIVHWGN4DZIENT5T5BSOVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N7YC2K6QH7CGXMO6FFHNNMPBJFZQCFPRCZMTFZORANMQHAOZL3CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BYX5L2GRYBPS7LOYG5STREWHX4QVURZUIZSTQX4G4FJVD2CGSGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CVDWMABRL4PWFC6SSXBC52AKH5BMEOPBFJYHRWZAFRXFOIZA56Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N26OLDBMBQHXHZ3DMNQGFQG3P5PI32DWWQ2JOA4EJAZAD62Z2VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FF3GGUSBBAM2HQE3PULNLCJ33J2K6RUNB62BNROTGFNTHG7EIIVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPB2DP6ONVVQ6FRCOPOB25E6E4H4XNI4DY7DLSKTKGTXDYMJNOQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GXKO3AZFAW5KPNSJTHMMF6E6V4E6UBVWR46AZDD3PFM6MR2RFBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEVUROLFFXXWVNQZKE4VI6VPMDSSFJHSPBDJJJPKRE6FTCLKEG5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7JRDB7ERNOVGXZ2JB6WGTKB6POFC4ZFD2XQNVUS34N3MXXIYLTEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HLK47KEOGIXELHVYJEE34LG37ZVKMQUEUVDQMNUW2QP5SCPFIONQ/vendors.js"
            ]
        },
        "ListPlugins": {
            "http": {
                "method": "GET",
                "requestUri": "/plugins",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "plugins": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "pluginId": {},
                                "hostname": {},
                                "status": {},
                                "ipAddress": {},
                                "version": {},
                                "registeredTime": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JGUN3LV2LYT7KOGBGD53FVGZYY3OOCXHHZI2S7EVTTTGLEQ6WCCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXZE6KJC36FA2ZIRKFRWMJYQVH6ROX75R5QP3C7G74XUOG255A5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHJ3EAYMM5RBS2PW5SQOV7VDQBJFRLPIVHWGN4DZIENT5T5BSOVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N7YC2K6QH7CGXMO6FFHNNMPBJFZQCFPRCZMTFZORANMQHAOZL3CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BYX5L2GRYBPS7LOYG5STREWHX4QVURZUIZSTQX4G4FJVD2CGSGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CVDWMABRL4PWFC6SSXBC52AKH5BMEOPBFJYHRWZAFRXFOIZA56Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N26OLDBMBQHXHZ3DMNQGFQG3P5PI32DWWQ2JOA4EJAZAD62Z2VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FF3GGUSBBAM2HQE3PULNLCJ33J2K6RUNB62BNROTGFNTHG7EIIVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPB2DP6ONVVQ6FRCOPOB25E6E4H4XNI4DY7DLSKTKGTXDYMJNOQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GXKO3AZFAW5KPNSJTHMMF6E6V4E6UBVWR46AZDD3PFM6MR2RFBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEVUROLFFXXWVNQZKE4VI6VPMDSSFJHSPBDJJJPKRE6FTCLKEG5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7JRDB7ERNOVGXZ2JB6WGTKB6POFC4ZFD2XQNVUS34N3MXXIYLTEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HLK47KEOGIXELHVYJEE34LG37ZVKMQUEUVDQMNUW2QP5SCPFIONQ/vendors.js"
            ]
        },
        "ListTagsForResource": {
            "http": {
                "method": "GET",
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "tags": {
                        "shape": "S2i"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JGUN3LV2LYT7KOGBGD53FVGZYY3OOCXHHZI2S7EVTTTGLEQ6WCCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXZE6KJC36FA2ZIRKFRWMJYQVH6ROX75R5QP3C7G74XUOG255A5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHJ3EAYMM5RBS2PW5SQOV7VDQBJFRLPIVHWGN4DZIENT5T5BSOVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N7YC2K6QH7CGXMO6FFHNNMPBJFZQCFPRCZMTFZORANMQHAOZL3CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BYX5L2GRYBPS7LOYG5STREWHX4QVURZUIZSTQX4G4FJVD2CGSGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CVDWMABRL4PWFC6SSXBC52AKH5BMEOPBFJYHRWZAFRXFOIZA56Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N26OLDBMBQHXHZ3DMNQGFQG3P5PI32DWWQ2JOA4EJAZAD62Z2VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FF3GGUSBBAM2HQE3PULNLCJ33J2K6RUNB62BNROTGFNTHG7EIIVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPB2DP6ONVVQ6FRCOPOB25E6E4H4XNI4DY7DLSKTKGTXDYMJNOQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GXKO3AZFAW5KPNSJTHMMF6E6V4E6UBVWR46AZDD3PFM6MR2RFBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEVUROLFFXXWVNQZKE4VI6VPMDSSFJHSPBDJJJPKRE6FTCLKEG5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7JRDB7ERNOVGXZ2JB6WGTKB6POFC4ZFD2XQNVUS34N3MXXIYLTEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HLK47KEOGIXELHVYJEE34LG37ZVKMQUEUVDQMNUW2QP5SCPFIONQ/vendors.js"
            ]
        },
        "ListTemplateStepGroups": {
            "http": {
                "method": "GET",
                "requestUri": "/templatestepgroups/{templateId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "templateId"
                ],
                "members": {
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "templateId": {
                        "location": "uri",
                        "locationName": "templateId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "templateStepGroupSummary"
                ],
                "members": {
                    "nextToken": {},
                    "templateStepGroupSummary": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "id": {},
                                "name": {},
                                "previous": {
                                    "shape": "Sb"
                                },
                                "next": {
                                    "shape": "Sb"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JGUN3LV2LYT7KOGBGD53FVGZYY3OOCXHHZI2S7EVTTTGLEQ6WCCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXZE6KJC36FA2ZIRKFRWMJYQVH6ROX75R5QP3C7G74XUOG255A5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHJ3EAYMM5RBS2PW5SQOV7VDQBJFRLPIVHWGN4DZIENT5T5BSOVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N7YC2K6QH7CGXMO6FFHNNMPBJFZQCFPRCZMTFZORANMQHAOZL3CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BYX5L2GRYBPS7LOYG5STREWHX4QVURZUIZSTQX4G4FJVD2CGSGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CVDWMABRL4PWFC6SSXBC52AKH5BMEOPBFJYHRWZAFRXFOIZA56Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N26OLDBMBQHXHZ3DMNQGFQG3P5PI32DWWQ2JOA4EJAZAD62Z2VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FF3GGUSBBAM2HQE3PULNLCJ33J2K6RUNB62BNROTGFNTHG7EIIVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPB2DP6ONVVQ6FRCOPOB25E6E4H4XNI4DY7DLSKTKGTXDYMJNOQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GXKO3AZFAW5KPNSJTHMMF6E6V4E6UBVWR46AZDD3PFM6MR2RFBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEVUROLFFXXWVNQZKE4VI6VPMDSSFJHSPBDJJJPKRE6FTCLKEG5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7JRDB7ERNOVGXZ2JB6WGTKB6POFC4ZFD2XQNVUS34N3MXXIYLTEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HLK47KEOGIXELHVYJEE34LG37ZVKMQUEUVDQMNUW2QP5SCPFIONQ/vendors.js"
            ]
        },
        "ListTemplateSteps": {
            "http": {
                "method": "GET",
                "requestUri": "/templatesteps",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "templateId",
                    "stepGroupId"
                ],
                "members": {
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "templateId": {
                        "location": "querystring",
                        "locationName": "templateId"
                    },
                    "stepGroupId": {
                        "location": "querystring",
                        "locationName": "stepGroupId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "templateStepSummaryList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "id": {},
                                "stepGroupId": {},
                                "templateId": {},
                                "name": {},
                                "stepActionType": {},
                                "targetType": {},
                                "owner": {},
                                "previous": {
                                    "shape": "Sb"
                                },
                                "next": {
                                    "shape": "Sb"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JGUN3LV2LYT7KOGBGD53FVGZYY3OOCXHHZI2S7EVTTTGLEQ6WCCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXZE6KJC36FA2ZIRKFRWMJYQVH6ROX75R5QP3C7G74XUOG255A5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHJ3EAYMM5RBS2PW5SQOV7VDQBJFRLPIVHWGN4DZIENT5T5BSOVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N7YC2K6QH7CGXMO6FFHNNMPBJFZQCFPRCZMTFZORANMQHAOZL3CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BYX5L2GRYBPS7LOYG5STREWHX4QVURZUIZSTQX4G4FJVD2CGSGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CVDWMABRL4PWFC6SSXBC52AKH5BMEOPBFJYHRWZAFRXFOIZA56Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N26OLDBMBQHXHZ3DMNQGFQG3P5PI32DWWQ2JOA4EJAZAD62Z2VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FF3GGUSBBAM2HQE3PULNLCJ33J2K6RUNB62BNROTGFNTHG7EIIVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPB2DP6ONVVQ6FRCOPOB25E6E4H4XNI4DY7DLSKTKGTXDYMJNOQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GXKO3AZFAW5KPNSJTHMMF6E6V4E6UBVWR46AZDD3PFM6MR2RFBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEVUROLFFXXWVNQZKE4VI6VPMDSSFJHSPBDJJJPKRE6FTCLKEG5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7JRDB7ERNOVGXZ2JB6WGTKB6POFC4ZFD2XQNVUS34N3MXXIYLTEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HLK47KEOGIXELHVYJEE34LG37ZVKMQUEUVDQMNUW2QP5SCPFIONQ/vendors.js"
            ]
        },
        "ListTemplates": {
            "http": {
                "method": "GET",
                "requestUri": "/migrationworkflowtemplates",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "name": {
                        "location": "querystring",
                        "locationName": "name"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "templateSummary"
                ],
                "members": {
                    "nextToken": {},
                    "templateSummary": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "id": {},
                                "name": {},
                                "arn": {},
                                "description": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JGUN3LV2LYT7KOGBGD53FVGZYY3OOCXHHZI2S7EVTTTGLEQ6WCCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXZE6KJC36FA2ZIRKFRWMJYQVH6ROX75R5QP3C7G74XUOG255A5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHJ3EAYMM5RBS2PW5SQOV7VDQBJFRLPIVHWGN4DZIENT5T5BSOVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N7YC2K6QH7CGXMO6FFHNNMPBJFZQCFPRCZMTFZORANMQHAOZL3CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BYX5L2GRYBPS7LOYG5STREWHX4QVURZUIZSTQX4G4FJVD2CGSGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CVDWMABRL4PWFC6SSXBC52AKH5BMEOPBFJYHRWZAFRXFOIZA56Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N26OLDBMBQHXHZ3DMNQGFQG3P5PI32DWWQ2JOA4EJAZAD62Z2VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FF3GGUSBBAM2HQE3PULNLCJ33J2K6RUNB62BNROTGFNTHG7EIIVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPB2DP6ONVVQ6FRCOPOB25E6E4H4XNI4DY7DLSKTKGTXDYMJNOQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GXKO3AZFAW5KPNSJTHMMF6E6V4E6UBVWR46AZDD3PFM6MR2RFBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEVUROLFFXXWVNQZKE4VI6VPMDSSFJHSPBDJJJPKRE6FTCLKEG5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7JRDB7ERNOVGXZ2JB6WGTKB6POFC4ZFD2XQNVUS34N3MXXIYLTEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HLK47KEOGIXELHVYJEE34LG37ZVKMQUEUVDQMNUW2QP5SCPFIONQ/vendors.js"
            ]
        },
        "ListWorkflowStepGroups": {
            "http": {
                "method": "GET",
                "requestUri": "/workflowstepgroups",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workflowId"
                ],
                "members": {
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "workflowId": {
                        "location": "querystring",
                        "locationName": "workflowId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "workflowStepGroupsSummary"
                ],
                "members": {
                    "nextToken": {},
                    "workflowStepGroupsSummary": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "id": {},
                                "name": {},
                                "owner": {},
                                "status": {},
                                "previous": {
                                    "shape": "Sb"
                                },
                                "next": {
                                    "shape": "Sb"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JGUN3LV2LYT7KOGBGD53FVGZYY3OOCXHHZI2S7EVTTTGLEQ6WCCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXZE6KJC36FA2ZIRKFRWMJYQVH6ROX75R5QP3C7G74XUOG255A5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHJ3EAYMM5RBS2PW5SQOV7VDQBJFRLPIVHWGN4DZIENT5T5BSOVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N7YC2K6QH7CGXMO6FFHNNMPBJFZQCFPRCZMTFZORANMQHAOZL3CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BYX5L2GRYBPS7LOYG5STREWHX4QVURZUIZSTQX4G4FJVD2CGSGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CVDWMABRL4PWFC6SSXBC52AKH5BMEOPBFJYHRWZAFRXFOIZA56Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N26OLDBMBQHXHZ3DMNQGFQG3P5PI32DWWQ2JOA4EJAZAD62Z2VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FF3GGUSBBAM2HQE3PULNLCJ33J2K6RUNB62BNROTGFNTHG7EIIVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPB2DP6ONVVQ6FRCOPOB25E6E4H4XNI4DY7DLSKTKGTXDYMJNOQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GXKO3AZFAW5KPNSJTHMMF6E6V4E6UBVWR46AZDD3PFM6MR2RFBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEVUROLFFXXWVNQZKE4VI6VPMDSSFJHSPBDJJJPKRE6FTCLKEG5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7JRDB7ERNOVGXZ2JB6WGTKB6POFC4ZFD2XQNVUS34N3MXXIYLTEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HLK47KEOGIXELHVYJEE34LG37ZVKMQUEUVDQMNUW2QP5SCPFIONQ/vendors.js"
            ]
        },
        "ListWorkflowSteps": {
            "http": {
                "method": "GET",
                "requestUri": "/workflow/{workflowId}/workflowstepgroups/{stepGroupId}/workflowsteps",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workflowId",
                    "stepGroupId"
                ],
                "members": {
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "workflowId": {
                        "location": "uri",
                        "locationName": "workflowId"
                    },
                    "stepGroupId": {
                        "location": "uri",
                        "locationName": "stepGroupId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "workflowStepsSummary"
                ],
                "members": {
                    "nextToken": {},
                    "workflowStepsSummary": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "stepId": {},
                                "name": {},
                                "stepActionType": {},
                                "owner": {},
                                "previous": {
                                    "shape": "Sb"
                                },
                                "next": {
                                    "shape": "Sb"
                                },
                                "status": {},
                                "statusMessage": {},
                                "noOfSrvCompleted": {
                                    "type": "integer"
                                },
                                "noOfSrvFailed": {
                                    "type": "integer"
                                },
                                "totalNoOfSrv": {
                                    "type": "integer"
                                },
                                "description": {},
                                "scriptLocation": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JGUN3LV2LYT7KOGBGD53FVGZYY3OOCXHHZI2S7EVTTTGLEQ6WCCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXZE6KJC36FA2ZIRKFRWMJYQVH6ROX75R5QP3C7G74XUOG255A5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHJ3EAYMM5RBS2PW5SQOV7VDQBJFRLPIVHWGN4DZIENT5T5BSOVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N7YC2K6QH7CGXMO6FFHNNMPBJFZQCFPRCZMTFZORANMQHAOZL3CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BYX5L2GRYBPS7LOYG5STREWHX4QVURZUIZSTQX4G4FJVD2CGSGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CVDWMABRL4PWFC6SSXBC52AKH5BMEOPBFJYHRWZAFRXFOIZA56Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N26OLDBMBQHXHZ3DMNQGFQG3P5PI32DWWQ2JOA4EJAZAD62Z2VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FF3GGUSBBAM2HQE3PULNLCJ33J2K6RUNB62BNROTGFNTHG7EIIVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPB2DP6ONVVQ6FRCOPOB25E6E4H4XNI4DY7DLSKTKGTXDYMJNOQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GXKO3AZFAW5KPNSJTHMMF6E6V4E6UBVWR46AZDD3PFM6MR2RFBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEVUROLFFXXWVNQZKE4VI6VPMDSSFJHSPBDJJJPKRE6FTCLKEG5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7JRDB7ERNOVGXZ2JB6WGTKB6POFC4ZFD2XQNVUS34N3MXXIYLTEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HLK47KEOGIXELHVYJEE34LG37ZVKMQUEUVDQMNUW2QP5SCPFIONQ/vendors.js"
            ]
        },
        "ListWorkflows": {
            "http": {
                "method": "GET",
                "requestUri": "/migrationworkflows",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "templateId": {
                        "location": "querystring",
                        "locationName": "templateId"
                    },
                    "adsApplicationConfigurationName": {
                        "location": "querystring",
                        "locationName": "adsApplicationConfigurationName"
                    },
                    "status": {
                        "location": "querystring",
                        "locationName": "status"
                    },
                    "name": {
                        "location": "querystring",
                        "locationName": "name"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "migrationWorkflowSummary"
                ],
                "members": {
                    "nextToken": {},
                    "migrationWorkflowSummary": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "id": {},
                                "name": {},
                                "templateId": {},
                                "adsApplicationConfigurationName": {},
                                "status": {},
                                "creationTime": {
                                    "type": "timestamp"
                                },
                                "endTime": {
                                    "type": "timestamp"
                                },
                                "statusMessage": {},
                                "completedSteps": {
                                    "type": "integer"
                                },
                                "totalSteps": {
                                    "type": "integer"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JGUN3LV2LYT7KOGBGD53FVGZYY3OOCXHHZI2S7EVTTTGLEQ6WCCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXZE6KJC36FA2ZIRKFRWMJYQVH6ROX75R5QP3C7G74XUOG255A5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHJ3EAYMM5RBS2PW5SQOV7VDQBJFRLPIVHWGN4DZIENT5T5BSOVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N7YC2K6QH7CGXMO6FFHNNMPBJFZQCFPRCZMTFZORANMQHAOZL3CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BYX5L2GRYBPS7LOYG5STREWHX4QVURZUIZSTQX4G4FJVD2CGSGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CVDWMABRL4PWFC6SSXBC52AKH5BMEOPBFJYHRWZAFRXFOIZA56Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N26OLDBMBQHXHZ3DMNQGFQG3P5PI32DWWQ2JOA4EJAZAD62Z2VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FF3GGUSBBAM2HQE3PULNLCJ33J2K6RUNB62BNROTGFNTHG7EIIVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPB2DP6ONVVQ6FRCOPOB25E6E4H4XNI4DY7DLSKTKGTXDYMJNOQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GXKO3AZFAW5KPNSJTHMMF6E6V4E6UBVWR46AZDD3PFM6MR2RFBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEVUROLFFXXWVNQZKE4VI6VPMDSSFJHSPBDJJJPKRE6FTCLKEG5A/vendors.js",
[...]
