{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2021-08-28",
        "endpointPrefix": "migrationhub-orchestrator",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "AWS Migration Hub Orchestrator",
        "serviceId": "MigrationHubOrchestrator",
        "signatureVersion": "v4",
        "signingName": "migrationhub-orchestrator",
        "uid": "migrationhuborchestrator-2021-08-28",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZHJ3EAYMM5RBS2PW5SQOV7VDQBJFRLPIVHWGN4DZIENT5T5BSOVQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/N7YC2K6QH7CGXMO6FFHNNMPBJFZQCFPRCZMTFZORANMQHAOZL3CA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3BYX5L2GRYBPS7LOYG5STREWHX4QVURZUIZSTQX4G4FJVD2CGSGQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7CVDWMABRL4PWFC6SSXBC52AKH5BMEOPBFJYHRWZAFRXFOIZA56Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2N26OLDBMBQHXHZ3DMNQGFQG3P5PI32DWWQ2JOA4EJAZAD62Z2VQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FF3GGUSBBAM2HQE3PULNLCJ33J2K6RUNB62BNROTGFNTHG7EIIVA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UPB2DP6ONVVQ6FRCOPOB25E6E4H4XNI4DY7DLSKTKGTXDYMJNOQA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4GXKO3AZFAW5KPNSJTHMMF6E6V4E6UBVWR46AZDD3PFM6MR2RFBQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WEVUROLFFXXWVNQZKE4VI6VPMDSSFJHSPBDJJJPKRE6FTCLKEG5A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7JRDB7ERNOVGXZ2JB6WGTKB6POFC4ZFD2XQNVUS34N3MXXIYLTEQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HLK47KEOGIXELHVYJEE34LG37ZVKMQUEUVDQMNUW2QP5SCPFIONQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LBGJLMIXW5BF36U4WTF4XTAZXS2FLJ3WIXOU75TWRTWUIQ64Z5IA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QPWEREMJYYQ35R526ZJW6D74PZEP7YII5ZRO4ZLCNKZD5XLYBTJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NMXN7DISLRVQH2KU6IMNTBUHAFB5LA2JHO5W43LS4QVLOKUMQOKA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZHKZSLOI5VZI5VWNAU2XU223WF4N75E2ZNJPPLLUCLAU7R2PF66Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R5AVBVMI6DJDQHD2CWHVZ354IAIUFXMAH63I4B5ZRFVSUSOGTOHA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/76WHJK4OXNWNGG7MRA2E5GO7SIFMLCCO2PDN3RE5XVO5G3RGDKBA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BVUNXHQYWDGUECZ2IIQVIRRFTOSSTGJYST5VXDEQCXKUUWVJNNRQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EDMDB4FCMZ3YMEITZPPDSZZMJDPEL5MWEDQCOQJVV2MSPJYZCNYA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CF7VYOJX3RKSUJYZFHNJPGGQ5PSJGATOZUGHDQX6PEGE4PBOI7CA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
        ]
    },
    "operations": {
        "CreateWorkflow": {
            "http": {
                "requestUri": "/migrationworkflow/",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "templateId",
                    "applicationConfigurationId",
                    "inputParameters"
                ],
                "members": {
                    "name": {},
                    "description": {},
                    "templateId": {},
                    "applicationConfigurationId": {},
                    "inputParameters": {
                        "shape": "S6"
                    },
                    "stepTargets": {
                        "shape": "Sb"
                    },
                    "tags": {
                        "shape": "Sd"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "id": {},
                    "arn": {},
                    "name": {},
                    "description": {},
                    "templateId": {},
                    "adsApplicationConfigurationId": {},
                    "workflowInputs": {
                        "shape": "S6"
                    },
                    "stepTargets": {
                        "shape": "Sb"
                    },
                    "status": {},
                    "creationTime": {
                        "type": "timestamp"
                    },
                    "tags": {
                        "shape": "Sd"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/N7YC2K6QH7CGXMO6FFHNNMPBJFZQCFPRCZMTFZORANMQHAOZL3CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BYX5L2GRYBPS7LOYG5STREWHX4QVURZUIZSTQX4G4FJVD2CGSGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CVDWMABRL4PWFC6SSXBC52AKH5BMEOPBFJYHRWZAFRXFOIZA56Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N26OLDBMBQHXHZ3DMNQGFQG3P5PI32DWWQ2JOA4EJAZAD62Z2VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FF3GGUSBBAM2HQE3PULNLCJ33J2K6RUNB62BNROTGFNTHG7EIIVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPB2DP6ONVVQ6FRCOPOB25E6E4H4XNI4DY7DLSKTKGTXDYMJNOQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GXKO3AZFAW5KPNSJTHMMF6E6V4E6UBVWR46AZDD3PFM6MR2RFBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEVUROLFFXXWVNQZKE4VI6VPMDSSFJHSPBDJJJPKRE6FTCLKEG5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7JRDB7ERNOVGXZ2JB6WGTKB6POFC4ZFD2XQNVUS34N3MXXIYLTEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HLK47KEOGIXELHVYJEE34LG37ZVKMQUEUVDQMNUW2QP5SCPFIONQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBGJLMIXW5BF36U4WTF4XTAZXS2FLJ3WIXOU75TWRTWUIQ64Z5IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPWEREMJYYQ35R526ZJW6D74PZEP7YII5ZRO4ZLCNKZD5XLYBTJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMXN7DISLRVQH2KU6IMNTBUHAFB5LA2JHO5W43LS4QVLOKUMQOKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHKZSLOI5VZI5VWNAU2XU223WF4N75E2ZNJPPLLUCLAU7R2PF66Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5AVBVMI6DJDQHD2CWHVZ354IAIUFXMAH63I4B5ZRFVSUSOGTOHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76WHJK4OXNWNGG7MRA2E5GO7SIFMLCCO2PDN3RE5XVO5G3RGDKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVUNXHQYWDGUECZ2IIQVIRRFTOSSTGJYST5VXDEQCXKUUWVJNNRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDMDB4FCMZ3YMEITZPPDSZZMJDPEL5MWEDQCOQJVV2MSPJYZCNYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CF7VYOJX3RKSUJYZFHNJPGGQ5PSJGATOZUGHDQX6PEGE4PBOI7CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateWorkflowStep": {
            "http": {
                "requestUri": "/workflowstep",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "stepGroupId",
                    "workflowId",
                    "stepActionType"
                ],
                "members": {
                    "name": {},
                    "stepGroupId": {},
                    "workflowId": {},
                    "stepActionType": {},
                    "description": {},
                    "workflowStepAutomationConfiguration": {
                        "shape": "Sq"
                    },
                    "stepTarget": {
                        "shape": "Sb"
                    },
                    "outputs": {
                        "shape": "Sx"
                    },
                    "previous": {
                        "shape": "Sb"
                    },
                    "next": {
                        "shape": "Sb"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "id": {},
                    "stepGroupId": {},
                    "workflowId": {},
                    "name": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/N7YC2K6QH7CGXMO6FFHNNMPBJFZQCFPRCZMTFZORANMQHAOZL3CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BYX5L2GRYBPS7LOYG5STREWHX4QVURZUIZSTQX4G4FJVD2CGSGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CVDWMABRL4PWFC6SSXBC52AKH5BMEOPBFJYHRWZAFRXFOIZA56Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N26OLDBMBQHXHZ3DMNQGFQG3P5PI32DWWQ2JOA4EJAZAD62Z2VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FF3GGUSBBAM2HQE3PULNLCJ33J2K6RUNB62BNROTGFNTHG7EIIVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPB2DP6ONVVQ6FRCOPOB25E6E4H4XNI4DY7DLSKTKGTXDYMJNOQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GXKO3AZFAW5KPNSJTHMMF6E6V4E6UBVWR46AZDD3PFM6MR2RFBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEVUROLFFXXWVNQZKE4VI6VPMDSSFJHSPBDJJJPKRE6FTCLKEG5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7JRDB7ERNOVGXZ2JB6WGTKB6POFC4ZFD2XQNVUS34N3MXXIYLTEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HLK47KEOGIXELHVYJEE34LG37ZVKMQUEUVDQMNUW2QP5SCPFIONQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBGJLMIXW5BF36U4WTF4XTAZXS2FLJ3WIXOU75TWRTWUIQ64Z5IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPWEREMJYYQ35R526ZJW6D74PZEP7YII5ZRO4ZLCNKZD5XLYBTJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMXN7DISLRVQH2KU6IMNTBUHAFB5LA2JHO5W43LS4QVLOKUMQOKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHKZSLOI5VZI5VWNAU2XU223WF4N75E2ZNJPPLLUCLAU7R2PF66Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5AVBVMI6DJDQHD2CWHVZ354IAIUFXMAH63I4B5ZRFVSUSOGTOHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76WHJK4OXNWNGG7MRA2E5GO7SIFMLCCO2PDN3RE5XVO5G3RGDKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVUNXHQYWDGUECZ2IIQVIRRFTOSSTGJYST5VXDEQCXKUUWVJNNRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDMDB4FCMZ3YMEITZPPDSZZMJDPEL5MWEDQCOQJVV2MSPJYZCNYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CF7VYOJX3RKSUJYZFHNJPGGQ5PSJGATOZUGHDQX6PEGE4PBOI7CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateWorkflowStepGroup": {
            "http": {
                "requestUri": "/workflowstepgroups",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workflowId",
                    "name"
                ],
                "members": {
                    "workflowId": {},
                    "name": {},
                    "description": {},
                    "next": {
                        "shape": "Sb"
                    },
                    "previous": {
                        "shape": "Sb"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "workflowId": {},
                    "name": {},
                    "id": {},
                    "description": {},
                    "tools": {
                        "shape": "S18"
                    },
                    "next": {
                        "shape": "Sb"
                    },
                    "previous": {
                        "shape": "Sb"
                    },
                    "creationTime": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/N7YC2K6QH7CGXMO6FFHNNMPBJFZQCFPRCZMTFZORANMQHAOZL3CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BYX5L2GRYBPS7LOYG5STREWHX4QVURZUIZSTQX4G4FJVD2CGSGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CVDWMABRL4PWFC6SSXBC52AKH5BMEOPBFJYHRWZAFRXFOIZA56Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N26OLDBMBQHXHZ3DMNQGFQG3P5PI32DWWQ2JOA4EJAZAD62Z2VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FF3GGUSBBAM2HQE3PULNLCJ33J2K6RUNB62BNROTGFNTHG7EIIVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPB2DP6ONVVQ6FRCOPOB25E6E4H4XNI4DY7DLSKTKGTXDYMJNOQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GXKO3AZFAW5KPNSJTHMMF6E6V4E6UBVWR46AZDD3PFM6MR2RFBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEVUROLFFXXWVNQZKE4VI6VPMDSSFJHSPBDJJJPKRE6FTCLKEG5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7JRDB7ERNOVGXZ2JB6WGTKB6POFC4ZFD2XQNVUS34N3MXXIYLTEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HLK47KEOGIXELHVYJEE34LG37ZVKMQUEUVDQMNUW2QP5SCPFIONQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBGJLMIXW5BF36U4WTF4XTAZXS2FLJ3WIXOU75TWRTWUIQ64Z5IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPWEREMJYYQ35R526ZJW6D74PZEP7YII5ZRO4ZLCNKZD5XLYBTJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMXN7DISLRVQH2KU6IMNTBUHAFB5LA2JHO5W43LS4QVLOKUMQOKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHKZSLOI5VZI5VWNAU2XU223WF4N75E2ZNJPPLLUCLAU7R2PF66Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5AVBVMI6DJDQHD2CWHVZ354IAIUFXMAH63I4B5ZRFVSUSOGTOHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76WHJK4OXNWNGG7MRA2E5GO7SIFMLCCO2PDN3RE5XVO5G3RGDKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVUNXHQYWDGUECZ2IIQVIRRFTOSSTGJYST5VXDEQCXKUUWVJNNRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDMDB4FCMZ3YMEITZPPDSZZMJDPEL5MWEDQCOQJVV2MSPJYZCNYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CF7VYOJX3RKSUJYZFHNJPGGQ5PSJGATOZUGHDQX6PEGE4PBOI7CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteWorkflow": {
            "http": {
                "method": "DELETE",
                "requestUri": "/migrationworkflow/{id}",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "id": {},
                    "arn": {},
                    "status": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/N7YC2K6QH7CGXMO6FFHNNMPBJFZQCFPRCZMTFZORANMQHAOZL3CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BYX5L2GRYBPS7LOYG5STREWHX4QVURZUIZSTQX4G4FJVD2CGSGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CVDWMABRL4PWFC6SSXBC52AKH5BMEOPBFJYHRWZAFRXFOIZA56Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N26OLDBMBQHXHZ3DMNQGFQG3P5PI32DWWQ2JOA4EJAZAD62Z2VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FF3GGUSBBAM2HQE3PULNLCJ33J2K6RUNB62BNROTGFNTHG7EIIVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPB2DP6ONVVQ6FRCOPOB25E6E4H4XNI4DY7DLSKTKGTXDYMJNOQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GXKO3AZFAW5KPNSJTHMMF6E6V4E6UBVWR46AZDD3PFM6MR2RFBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEVUROLFFXXWVNQZKE4VI6VPMDSSFJHSPBDJJJPKRE6FTCLKEG5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7JRDB7ERNOVGXZ2JB6WGTKB6POFC4ZFD2XQNVUS34N3MXXIYLTEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HLK47KEOGIXELHVYJEE34LG37ZVKMQUEUVDQMNUW2QP5SCPFIONQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBGJLMIXW5BF36U4WTF4XTAZXS2FLJ3WIXOU75TWRTWUIQ64Z5IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPWEREMJYYQ35R526ZJW6D74PZEP7YII5ZRO4ZLCNKZD5XLYBTJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMXN7DISLRVQH2KU6IMNTBUHAFB5LA2JHO5W43LS4QVLOKUMQOKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHKZSLOI5VZI5VWNAU2XU223WF4N75E2ZNJPPLLUCLAU7R2PF66Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5AVBVMI6DJDQHD2CWHVZ354IAIUFXMAH63I4B5ZRFVSUSOGTOHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76WHJK4OXNWNGG7MRA2E5GO7SIFMLCCO2PDN3RE5XVO5G3RGDKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVUNXHQYWDGUECZ2IIQVIRRFTOSSTGJYST5VXDEQCXKUUWVJNNRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDMDB4FCMZ3YMEITZPPDSZZMJDPEL5MWEDQCOQJVV2MSPJYZCNYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CF7VYOJX3RKSUJYZFHNJPGGQ5PSJGATOZUGHDQX6PEGE4PBOI7CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteWorkflowStep": {
            "http": {
                "method": "DELETE",
                "requestUri": "/workflowstep/{id}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "id",
                    "stepGroupId",
                    "workflowId"
                ],
                "members": {
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    },
                    "stepGroupId": {
                        "location": "querystring",
                        "locationName": "stepGroupId"
                    },
                    "workflowId": {
                        "location": "querystring",
                        "locationName": "workflowId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/N7YC2K6QH7CGXMO6FFHNNMPBJFZQCFPRCZMTFZORANMQHAOZL3CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BYX5L2GRYBPS7LOYG5STREWHX4QVURZUIZSTQX4G4FJVD2CGSGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CVDWMABRL4PWFC6SSXBC52AKH5BMEOPBFJYHRWZAFRXFOIZA56Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N26OLDBMBQHXHZ3DMNQGFQG3P5PI32DWWQ2JOA4EJAZAD62Z2VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FF3GGUSBBAM2HQE3PULNLCJ33J2K6RUNB62BNROTGFNTHG7EIIVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPB2DP6ONVVQ6FRCOPOB25E6E4H4XNI4DY7DLSKTKGTXDYMJNOQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GXKO3AZFAW5KPNSJTHMMF6E6V4E6UBVWR46AZDD3PFM6MR2RFBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEVUROLFFXXWVNQZKE4VI6VPMDSSFJHSPBDJJJPKRE6FTCLKEG5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7JRDB7ERNOVGXZ2JB6WGTKB6POFC4ZFD2XQNVUS34N3MXXIYLTEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HLK47KEOGIXELHVYJEE34LG37ZVKMQUEUVDQMNUW2QP5SCPFIONQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBGJLMIXW5BF36U4WTF4XTAZXS2FLJ3WIXOU75TWRTWUIQ64Z5IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPWEREMJYYQ35R526ZJW6D74PZEP7YII5ZRO4ZLCNKZD5XLYBTJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMXN7DISLRVQH2KU6IMNTBUHAFB5LA2JHO5W43LS4QVLOKUMQOKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHKZSLOI5VZI5VWNAU2XU223WF4N75E2ZNJPPLLUCLAU7R2PF66Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5AVBVMI6DJDQHD2CWHVZ354IAIUFXMAH63I4B5ZRFVSUSOGTOHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76WHJK4OXNWNGG7MRA2E5GO7SIFMLCCO2PDN3RE5XVO5G3RGDKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVUNXHQYWDGUECZ2IIQVIRRFTOSSTGJYST5VXDEQCXKUUWVJNNRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDMDB4FCMZ3YMEITZPPDSZZMJDPEL5MWEDQCOQJVV2MSPJYZCNYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CF7VYOJX3RKSUJYZFHNJPGGQ5PSJGATOZUGHDQX6PEGE4PBOI7CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteWorkflowStepGroup": {
            "http": {
                "method": "DELETE",
                "requestUri": "/workflowstepgroup/{id}",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "workflowId",
                    "id"
                ],
                "members": {
                    "workflowId": {
                        "location": "querystring",
                        "locationName": "workflowId"
                    },
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/N7YC2K6QH7CGXMO6FFHNNMPBJFZQCFPRCZMTFZORANMQHAOZL3CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BYX5L2GRYBPS7LOYG5STREWHX4QVURZUIZSTQX4G4FJVD2CGSGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CVDWMABRL4PWFC6SSXBC52AKH5BMEOPBFJYHRWZAFRXFOIZA56Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N26OLDBMBQHXHZ3DMNQGFQG3P5PI32DWWQ2JOA4EJAZAD62Z2VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FF3GGUSBBAM2HQE3PULNLCJ33J2K6RUNB62BNROTGFNTHG7EIIVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPB2DP6ONVVQ6FRCOPOB25E6E4H4XNI4DY7DLSKTKGTXDYMJNOQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GXKO3AZFAW5KPNSJTHMMF6E6V4E6UBVWR46AZDD3PFM6MR2RFBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEVUROLFFXXWVNQZKE4VI6VPMDSSFJHSPBDJJJPKRE6FTCLKEG5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7JRDB7ERNOVGXZ2JB6WGTKB6POFC4ZFD2XQNVUS34N3MXXIYLTEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HLK47KEOGIXELHVYJEE34LG37ZVKMQUEUVDQMNUW2QP5SCPFIONQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBGJLMIXW5BF36U4WTF4XTAZXS2FLJ3WIXOU75TWRTWUIQ64Z5IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPWEREMJYYQ35R526ZJW6D74PZEP7YII5ZRO4ZLCNKZD5XLYBTJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMXN7DISLRVQH2KU6IMNTBUHAFB5LA2JHO5W43LS4QVLOKUMQOKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHKZSLOI5VZI5VWNAU2XU223WF4N75E2ZNJPPLLUCLAU7R2PF66Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5AVBVMI6DJDQHD2CWHVZ354IAIUFXMAH63I4B5ZRFVSUSOGTOHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76WHJK4OXNWNGG7MRA2E5GO7SIFMLCCO2PDN3RE5XVO5G3RGDKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVUNXHQYWDGUECZ2IIQVIRRFTOSSTGJYST5VXDEQCXKUUWVJNNRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDMDB4FCMZ3YMEITZPPDSZZMJDPEL5MWEDQCOQJVV2MSPJYZCNYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CF7VYOJX3RKSUJYZFHNJPGGQ5PSJGATOZUGHDQX6PEGE4PBOI7CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetTemplate": {
            "http": {
                "method": "GET",
                "requestUri": "/migrationworkflowtemplate/{id}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "id": {},
                    "name": {},
                    "description": {},
                    "inputs": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "inputName": {},
                                "dataType": {},
                                "required": {
                                    "type": "boolean"
                                }
                            }
                        }
                    },
                    "tools": {
                        "shape": "S18"
                    },
                    "status": {},
                    "creationTime": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/N7YC2K6QH7CGXMO6FFHNNMPBJFZQCFPRCZMTFZORANMQHAOZL3CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BYX5L2GRYBPS7LOYG5STREWHX4QVURZUIZSTQX4G4FJVD2CGSGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CVDWMABRL4PWFC6SSXBC52AKH5BMEOPBFJYHRWZAFRXFOIZA56Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N26OLDBMBQHXHZ3DMNQGFQG3P5PI32DWWQ2JOA4EJAZAD62Z2VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FF3GGUSBBAM2HQE3PULNLCJ33J2K6RUNB62BNROTGFNTHG7EIIVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPB2DP6ONVVQ6FRCOPOB25E6E4H4XNI4DY7DLSKTKGTXDYMJNOQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GXKO3AZFAW5KPNSJTHMMF6E6V4E6UBVWR46AZDD3PFM6MR2RFBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEVUROLFFXXWVNQZKE4VI6VPMDSSFJHSPBDJJJPKRE6FTCLKEG5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7JRDB7ERNOVGXZ2JB6WGTKB6POFC4ZFD2XQNVUS34N3MXXIYLTEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HLK47KEOGIXELHVYJEE34LG37ZVKMQUEUVDQMNUW2QP5SCPFIONQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBGJLMIXW5BF36U4WTF4XTAZXS2FLJ3WIXOU75TWRTWUIQ64Z5IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPWEREMJYYQ35R526ZJW6D74PZEP7YII5ZRO4ZLCNKZD5XLYBTJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMXN7DISLRVQH2KU6IMNTBUHAFB5LA2JHO5W43LS4QVLOKUMQOKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHKZSLOI5VZI5VWNAU2XU223WF4N75E2ZNJPPLLUCLAU7R2PF66Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5AVBVMI6DJDQHD2CWHVZ354IAIUFXMAH63I4B5ZRFVSUSOGTOHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76WHJK4OXNWNGG7MRA2E5GO7SIFMLCCO2PDN3RE5XVO5G3RGDKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVUNXHQYWDGUECZ2IIQVIRRFTOSSTGJYST5VXDEQCXKUUWVJNNRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDMDB4FCMZ3YMEITZPPDSZZMJDPEL5MWEDQCOQJVV2MSPJYZCNYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CF7VYOJX3RKSUJYZFHNJPGGQ5PSJGATOZUGHDQX6PEGE4PBOI7CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetTemplateStep": {
            "http": {
                "method": "GET",
                "requestUri": "/templatestep/{id}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "id",
                    "templateId",
                    "stepGroupId"
                ],
                "members": {
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    },
                    "templateId": {
                        "location": "querystring",
                        "locationName": "templateId"
                    },
                    "stepGroupId": {
                        "location": "querystring",
                        "locationName": "stepGroupId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "id": {},
                    "stepGroupId": {},
                    "templateId": {},
                    "name": {},
                    "description": {},
                    "stepActionType": {},
                    "creationTime": {},
                    "previous": {
                        "shape": "Sb"
                    },
                    "next": {
                        "shape": "Sb"
                    },
                    "outputs": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "name": {},
                                "dataType": {},
                                "required": {
                                    "type": "boolean"
                                }
                            }
                        }
                    },
                    "stepAutomationConfiguration": {
                        "type": "structure",
                        "members": {
                            "scriptLocationS3Bucket": {},
                            "scriptLocationS3Key": {
                                "shape": "Ss"
                            },
                            "command": {
                                "shape": "Su"
                            },
                            "runEnvironment": {},
                            "targetType": {}
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/N7YC2K6QH7CGXMO6FFHNNMPBJFZQCFPRCZMTFZORANMQHAOZL3CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BYX5L2GRYBPS7LOYG5STREWHX4QVURZUIZSTQX4G4FJVD2CGSGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CVDWMABRL4PWFC6SSXBC52AKH5BMEOPBFJYHRWZAFRXFOIZA56Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N26OLDBMBQHXHZ3DMNQGFQG3P5PI32DWWQ2JOA4EJAZAD62Z2VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FF3GGUSBBAM2HQE3PULNLCJ33J2K6RUNB62BNROTGFNTHG7EIIVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPB2DP6ONVVQ6FRCOPOB25E6E4H4XNI4DY7DLSKTKGTXDYMJNOQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GXKO3AZFAW5KPNSJTHMMF6E6V4E6UBVWR46AZDD3PFM6MR2RFBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEVUROLFFXXWVNQZKE4VI6VPMDSSFJHSPBDJJJPKRE6FTCLKEG5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7JRDB7ERNOVGXZ2JB6WGTKB6POFC4ZFD2XQNVUS34N3MXXIYLTEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HLK47KEOGIXELHVYJEE34LG37ZVKMQUEUVDQMNUW2QP5SCPFIONQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBGJLMIXW5BF36U4WTF4XTAZXS2FLJ3WIXOU75TWRTWUIQ64Z5IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPWEREMJYYQ35R526ZJW6D74PZEP7YII5ZRO4ZLCNKZD5XLYBTJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMXN7DISLRVQH2KU6IMNTBUHAFB5LA2JHO5W43LS4QVLOKUMQOKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHKZSLOI5VZI5VWNAU2XU223WF4N75E2ZNJPPLLUCLAU7R2PF66Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5AVBVMI6DJDQHD2CWHVZ354IAIUFXMAH63I4B5ZRFVSUSOGTOHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76WHJK4OXNWNGG7MRA2E5GO7SIFMLCCO2PDN3RE5XVO5G3RGDKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVUNXHQYWDGUECZ2IIQVIRRFTOSSTGJYST5VXDEQCXKUUWVJNNRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDMDB4FCMZ3YMEITZPPDSZZMJDPEL5MWEDQCOQJVV2MSPJYZCNYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CF7VYOJX3RKSUJYZFHNJPGGQ5PSJGATOZUGHDQX6PEGE4PBOI7CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetTemplateStepGroup": {
            "http": {
                "method": "GET",
                "requestUri": "/templates/{templateId}/stepgroups/{id}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "templateId",
                    "id"
                ],
                "members": {
                    "templateId": {
                        "location": "uri",
                        "locationName": "templateId"
                    },
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "templateId": {},
                    "id": {},
                    "name": {},
                    "description": {},
                    "status": {},
                    "creationTime": {
                        "type": "timestamp"
                    },
                    "lastModifiedTime": {
                        "type": "timestamp"
                    },
                    "tools": {
                        "shape": "S18"
                    },
                    "previous": {
                        "shape": "Sb"
                    },
                    "next": {
                        "shape": "Sb"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/N7YC2K6QH7CGXMO6FFHNNMPBJFZQCFPRCZMTFZORANMQHAOZL3CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BYX5L2GRYBPS7LOYG5STREWHX4QVURZUIZSTQX4G4FJVD2CGSGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CVDWMABRL4PWFC6SSXBC52AKH5BMEOPBFJYHRWZAFRXFOIZA56Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N26OLDBMBQHXHZ3DMNQGFQG3P5PI32DWWQ2JOA4EJAZAD62Z2VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FF3GGUSBBAM2HQE3PULNLCJ33J2K6RUNB62BNROTGFNTHG7EIIVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPB2DP6ONVVQ6FRCOPOB25E6E4H4XNI4DY7DLSKTKGTXDYMJNOQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GXKO3AZFAW5KPNSJTHMMF6E6V4E6UBVWR46AZDD3PFM6MR2RFBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEVUROLFFXXWVNQZKE4VI6VPMDSSFJHSPBDJJJPKRE6FTCLKEG5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7JRDB7ERNOVGXZ2JB6WGTKB6POFC4ZFD2XQNVUS34N3MXXIYLTEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HLK47KEOGIXELHVYJEE34LG37ZVKMQUEUVDQMNUW2QP5SCPFIONQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBGJLMIXW5BF36U4WTF4XTAZXS2FLJ3WIXOU75TWRTWUIQ64Z5IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPWEREMJYYQ35R526ZJW6D74PZEP7YII5ZRO4ZLCNKZD5XLYBTJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMXN7DISLRVQH2KU6IMNTBUHAFB5LA2JHO5W43LS4QVLOKUMQOKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHKZSLOI5VZI5VWNAU2XU223WF4N75E2ZNJPPLLUCLAU7R2PF66Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5AVBVMI6DJDQHD2CWHVZ354IAIUFXMAH63I4B5ZRFVSUSOGTOHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76WHJK4OXNWNGG7MRA2E5GO7SIFMLCCO2PDN3RE5XVO5G3RGDKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVUNXHQYWDGUECZ2IIQVIRRFTOSSTGJYST5VXDEQCXKUUWVJNNRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDMDB4FCMZ3YMEITZPPDSZZMJDPEL5MWEDQCOQJVV2MSPJYZCNYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CF7VYOJX3RKSUJYZFHNJPGGQ5PSJGATOZUGHDQX6PEGE4PBOI7CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetWorkflow": {
            "http": {
                "method": "GET",
                "requestUri": "/migrationworkflow/{id}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "id": {},
                    "arn": {},
                    "name": {},
                    "description": {},
                    "templateId": {},
                    "adsApplicationConfigurationId": {},
                    "adsApplicationName": {},
                    "status": {},
                    "statusMessage": {},
                    "creationTime": {
                        "type": "timestamp"
                    },
                    "lastStartTime": {
                        "type": "timestamp"
                    },
                    "lastStopTime": {
                        "type": "timestamp"
                    },
                    "lastModifiedTime": {
                        "type": "timestamp"
                    },
                    "endTime": {
                        "type": "timestamp"
                    },
                    "tools": {
                        "shape": "S18"
                    },
                    "totalSteps": {
                        "type": "integer"
                    },
                    "completedSteps": {
                        "type": "integer"
                    },
                    "workflowInputs": {
                        "shape": "S6"
                    },
                    "tags": {
                        "shape": "Sd"
                    },
                    "workflowBucket": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/N7YC2K6QH7CGXMO6FFHNNMPBJFZQCFPRCZMTFZORANMQHAOZL3CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BYX5L2GRYBPS7LOYG5STREWHX4QVURZUIZSTQX4G4FJVD2CGSGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CVDWMABRL4PWFC6SSXBC52AKH5BMEOPBFJYHRWZAFRXFOIZA56Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N26OLDBMBQHXHZ3DMNQGFQG3P5PI32DWWQ2JOA4EJAZAD62Z2VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FF3GGUSBBAM2HQE3PULNLCJ33J2K6RUNB62BNROTGFNTHG7EIIVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPB2DP6ONVVQ6FRCOPOB25E6E4H4XNI4DY7DLSKTKGTXDYMJNOQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GXKO3AZFAW5KPNSJTHMMF6E6V4E6UBVWR46AZDD3PFM6MR2RFBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEVUROLFFXXWVNQZKE4VI6VPMDSSFJHSPBDJJJPKRE6FTCLKEG5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7JRDB7ERNOVGXZ2JB6WGTKB6POFC4ZFD2XQNVUS34N3MXXIYLTEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HLK47KEOGIXELHVYJEE34LG37ZVKMQUEUVDQMNUW2QP5SCPFIONQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBGJLMIXW5BF36U4WTF4XTAZXS2FLJ3WIXOU75TWRTWUIQ64Z5IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPWEREMJYYQ35R526ZJW6D74PZEP7YII5ZRO4ZLCNKZD5XLYBTJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMXN7DISLRVQH2KU6IMNTBUHAFB5LA2JHO5W43LS4QVLOKUMQOKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHKZSLOI5VZI5VWNAU2XU223WF4N75E2ZNJPPLLUCLAU7R2PF66Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5AVBVMI6DJDQHD2CWHVZ354IAIUFXMAH63I4B5ZRFVSUSOGTOHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76WHJK4OXNWNGG7MRA2E5GO7SIFMLCCO2PDN3RE5XVO5G3RGDKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVUNXHQYWDGUECZ2IIQVIRRFTOSSTGJYST5VXDEQCXKUUWVJNNRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDMDB4FCMZ3YMEITZPPDSZZMJDPEL5MWEDQCOQJVV2MSPJYZCNYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CF7VYOJX3RKSUJYZFHNJPGGQ5PSJGATOZUGHDQX6PEGE4PBOI7CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetWorkflowStep": {
            "http": {
                "method": "GET",
                "requestUri": "/workflowstep/{id}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workflowId",
                    "stepGroupId",
                    "id"
                ],
                "members": {
                    "workflowId": {
                        "location": "querystring",
                        "locationName": "workflowId"
                    },
                    "stepGroupId": {
                        "location": "querystring",
                        "locationName": "stepGroupId"
                    },
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "name": {},
                    "stepGroupId": {},
                    "workflowId": {},
                    "stepId": {},
                    "description": {},
                    "stepActionType": {},
                    "owner": {},
                    "workflowStepAutomationConfiguration": {
                        "shape": "Sq"
                    },
                    "stepTarget": {
                        "shape": "Sb"
                    },
                    "outputs": {
                        "type": "list",
                        "member": {
                            "shape": "Sy"
                        }
                    },
                    "previous": {
                        "shape": "Sb"
                    },
                    "next": {
                        "shape": "Sb"
                    },
                    "status": {},
                    "statusMessage": {},
                    "scriptOutputLocation": {},
                    "creationTime": {
                        "type": "timestamp"
                    },
                    "lastStartTime": {
                        "type": "timestamp"
                    },
                    "endTime": {
                        "type": "timestamp"
                    },
                    "noOfSrvCompleted": {
                        "type": "integer"
                    },
                    "noOfSrvFailed": {
                        "type": "integer"
                    },
                    "totalNoOfSrv": {
                        "type": "integer"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/N7YC2K6QH7CGXMO6FFHNNMPBJFZQCFPRCZMTFZORANMQHAOZL3CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BYX5L2GRYBPS7LOYG5STREWHX4QVURZUIZSTQX4G4FJVD2CGSGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CVDWMABRL4PWFC6SSXBC52AKH5BMEOPBFJYHRWZAFRXFOIZA56Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N26OLDBMBQHXHZ3DMNQGFQG3P5PI32DWWQ2JOA4EJAZAD62Z2VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FF3GGUSBBAM2HQE3PULNLCJ33J2K6RUNB62BNROTGFNTHG7EIIVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPB2DP6ONVVQ6FRCOPOB25E6E4H4XNI4DY7DLSKTKGTXDYMJNOQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GXKO3AZFAW5KPNSJTHMMF6E6V4E6UBVWR46AZDD3PFM6MR2RFBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEVUROLFFXXWVNQZKE4VI6VPMDSSFJHSPBDJJJPKRE6FTCLKEG5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7JRDB7ERNOVGXZ2JB6WGTKB6POFC4ZFD2XQNVUS34N3MXXIYLTEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HLK47KEOGIXELHVYJEE34LG37ZVKMQUEUVDQMNUW2QP5SCPFIONQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBGJLMIXW5BF36U4WTF4XTAZXS2FLJ3WIXOU75TWRTWUIQ64Z5IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPWEREMJYYQ35R526ZJW6D74PZEP7YII5ZRO4ZLCNKZD5XLYBTJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMXN7DISLRVQH2KU6IMNTBUHAFB5LA2JHO5W43LS4QVLOKUMQOKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHKZSLOI5VZI5VWNAU2XU223WF4N75E2ZNJPPLLUCLAU7R2PF66Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5AVBVMI6DJDQHD2CWHVZ354IAIUFXMAH63I4B5ZRFVSUSOGTOHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76WHJK4OXNWNGG7MRA2E5GO7SIFMLCCO2PDN3RE5XVO5G3RGDKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVUNXHQYWDGUECZ2IIQVIRRFTOSSTGJYST5VXDEQCXKUUWVJNNRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDMDB4FCMZ3YMEITZPPDSZZMJDPEL5MWEDQCOQJVV2MSPJYZCNYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CF7VYOJX3RKSUJYZFHNJPGGQ5PSJGATOZUGHDQX6PEGE4PBOI7CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetWorkflowStepGroup": {
            "http": {
                "method": "GET",
                "requestUri": "/workflowstepgroup/{id}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "id",
                    "workflowId"
                ],
                "members": {
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    },
                    "workflowId": {
                        "location": "querystring",
                        "locationName": "workflowId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "id": {},
                    "workflowId": {},
                    "name": {},
                    "description": {},
                    "status": {},
                    "owner": {},
                    "creationTime": {
                        "type": "timestamp"
                    },
                    "lastModifiedTime": {
                        "type": "timestamp"
                    },
                    "endTime": {
                        "type": "timestamp"
                    },
                    "tools": {
                        "shape": "S18"
                    },
                    "previous": {
                        "shape": "Sb"
                    },
                    "next": {
                        "shape": "Sb"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/N7YC2K6QH7CGXMO6FFHNNMPBJFZQCFPRCZMTFZORANMQHAOZL3CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BYX5L2GRYBPS7LOYG5STREWHX4QVURZUIZSTQX4G4FJVD2CGSGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CVDWMABRL4PWFC6SSXBC52AKH5BMEOPBFJYHRWZAFRXFOIZA56Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N26OLDBMBQHXHZ3DMNQGFQG3P5PI32DWWQ2JOA4EJAZAD62Z2VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FF3GGUSBBAM2HQE3PULNLCJ33J2K6RUNB62BNROTGFNTHG7EIIVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPB2DP6ONVVQ6FRCOPOB25E6E4H4XNI4DY7DLSKTKGTXDYMJNOQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GXKO3AZFAW5KPNSJTHMMF6E6V4E6UBVWR46AZDD3PFM6MR2RFBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEVUROLFFXXWVNQZKE4VI6VPMDSSFJHSPBDJJJPKRE6FTCLKEG5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7JRDB7ERNOVGXZ2JB6WGTKB6POFC4ZFD2XQNVUS34N3MXXIYLTEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HLK47KEOGIXELHVYJEE34LG37ZVKMQUEUVDQMNUW2QP5SCPFIONQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBGJLMIXW5BF36U4WTF4XTAZXS2FLJ3WIXOU75TWRTWUIQ64Z5IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPWEREMJYYQ35R526ZJW6D74PZEP7YII5ZRO4ZLCNKZD5XLYBTJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMXN7DISLRVQH2KU6IMNTBUHAFB5LA2JHO5W43LS4QVLOKUMQOKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHKZSLOI5VZI5VWNAU2XU223WF4N75E2ZNJPPLLUCLAU7R2PF66Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5AVBVMI6DJDQHD2CWHVZ354IAIUFXMAH63I4B5ZRFVSUSOGTOHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76WHJK4OXNWNGG7MRA2E5GO7SIFMLCCO2PDN3RE5XVO5G3RGDKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVUNXHQYWDGUECZ2IIQVIRRFTOSSTGJYST5VXDEQCXKUUWVJNNRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDMDB4FCMZ3YMEITZPPDSZZMJDPEL5MWEDQCOQJVV2MSPJYZCNYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CF7VYOJX3RKSUJYZFHNJPGGQ5PSJGATOZUGHDQX6PEGE4PBOI7CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ListPlugins": {
            "http": {
                "method": "GET",
                "requestUri": "/plugins",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "plugins": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "pluginId": {},
                                "hostname": {},
                                "status": {},
                                "ipAddress": {},
                                "version": {},
                                "registeredTime": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/N7YC2K6QH7CGXMO6FFHNNMPBJFZQCFPRCZMTFZORANMQHAOZL3CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BYX5L2GRYBPS7LOYG5STREWHX4QVURZUIZSTQX4G4FJVD2CGSGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CVDWMABRL4PWFC6SSXBC52AKH5BMEOPBFJYHRWZAFRXFOIZA56Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N26OLDBMBQHXHZ3DMNQGFQG3P5PI32DWWQ2JOA4EJAZAD62Z2VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FF3GGUSBBAM2HQE3PULNLCJ33J2K6RUNB62BNROTGFNTHG7EIIVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPB2DP6ONVVQ6FRCOPOB25E6E4H4XNI4DY7DLSKTKGTXDYMJNOQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GXKO3AZFAW5KPNSJTHMMF6E6V4E6UBVWR46AZDD3PFM6MR2RFBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEVUROLFFXXWVNQZKE4VI6VPMDSSFJHSPBDJJJPKRE6FTCLKEG5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7JRDB7ERNOVGXZ2JB6WGTKB6POFC4ZFD2XQNVUS34N3MXXIYLTEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HLK47KEOGIXELHVYJEE34LG37ZVKMQUEUVDQMNUW2QP5SCPFIONQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBGJLMIXW5BF36U4WTF4XTAZXS2FLJ3WIXOU75TWRTWUIQ64Z5IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPWEREMJYYQ35R526ZJW6D74PZEP7YII5ZRO4ZLCNKZD5XLYBTJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMXN7DISLRVQH2KU6IMNTBUHAFB5LA2JHO5W43LS4QVLOKUMQOKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHKZSLOI5VZI5VWNAU2XU223WF4N75E2ZNJPPLLUCLAU7R2PF66Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5AVBVMI6DJDQHD2CWHVZ354IAIUFXMAH63I4B5ZRFVSUSOGTOHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76WHJK4OXNWNGG7MRA2E5GO7SIFMLCCO2PDN3RE5XVO5G3RGDKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVUNXHQYWDGUECZ2IIQVIRRFTOSSTGJYST5VXDEQCXKUUWVJNNRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDMDB4FCMZ3YMEITZPPDSZZMJDPEL5MWEDQCOQJVV2MSPJYZCNYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CF7VYOJX3RKSUJYZFHNJPGGQ5PSJGATOZUGHDQX6PEGE4PBOI7CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ListTagsForResource": {
            "http": {
                "method": "GET",
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "tags": {
                        "shape": "S2i"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/N7YC2K6QH7CGXMO6FFHNNMPBJFZQCFPRCZMTFZORANMQHAOZL3CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BYX5L2GRYBPS7LOYG5STREWHX4QVURZUIZSTQX4G4FJVD2CGSGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CVDWMABRL4PWFC6SSXBC52AKH5BMEOPBFJYHRWZAFRXFOIZA56Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N26OLDBMBQHXHZ3DMNQGFQG3P5PI32DWWQ2JOA4EJAZAD62Z2VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FF3GGUSBBAM2HQE3PULNLCJ33J2K6RUNB62BNROTGFNTHG7EIIVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPB2DP6ONVVQ6FRCOPOB25E6E4H4XNI4DY7DLSKTKGTXDYMJNOQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GXKO3AZFAW5KPNSJTHMMF6E6V4E6UBVWR46AZDD3PFM6MR2RFBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEVUROLFFXXWVNQZKE4VI6VPMDSSFJHSPBDJJJPKRE6FTCLKEG5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7JRDB7ERNOVGXZ2JB6WGTKB6POFC4ZFD2XQNVUS34N3MXXIYLTEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HLK47KEOGIXELHVYJEE34LG37ZVKMQUEUVDQMNUW2QP5SCPFIONQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBGJLMIXW5BF36U4WTF4XTAZXS2FLJ3WIXOU75TWRTWUIQ64Z5IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPWEREMJYYQ35R526ZJW6D74PZEP7YII5ZRO4ZLCNKZD5XLYBTJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMXN7DISLRVQH2KU6IMNTBUHAFB5LA2JHO5W43LS4QVLOKUMQOKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHKZSLOI5VZI5VWNAU2XU223WF4N75E2ZNJPPLLUCLAU7R2PF66Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5AVBVMI6DJDQHD2CWHVZ354IAIUFXMAH63I4B5ZRFVSUSOGTOHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76WHJK4OXNWNGG7MRA2E5GO7SIFMLCCO2PDN3RE5XVO5G3RGDKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVUNXHQYWDGUECZ2IIQVIRRFTOSSTGJYST5VXDEQCXKUUWVJNNRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDMDB4FCMZ3YMEITZPPDSZZMJDPEL5MWEDQCOQJVV2MSPJYZCNYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CF7VYOJX3RKSUJYZFHNJPGGQ5PSJGATOZUGHDQX6PEGE4PBOI7CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ListTemplateStepGroups": {
            "http": {
                "method": "GET",
                "requestUri": "/templatestepgroups/{templateId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "templateId"
                ],
                "members": {
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "templateId": {
                        "location": "uri",
                        "locationName": "templateId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "templateStepGroupSummary"
                ],
                "members": {
                    "nextToken": {},
                    "templateStepGroupSummary": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "id": {},
                                "name": {},
                                "previous": {
                                    "shape": "Sb"
                                },
                                "next": {
                                    "shape": "Sb"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/N7YC2K6QH7CGXMO6FFHNNMPBJFZQCFPRCZMTFZORANMQHAOZL3CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BYX5L2GRYBPS7LOYG5STREWHX4QVURZUIZSTQX4G4FJVD2CGSGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CVDWMABRL4PWFC6SSXBC52AKH5BMEOPBFJYHRWZAFRXFOIZA56Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N26OLDBMBQHXHZ3DMNQGFQG3P5PI32DWWQ2JOA4EJAZAD62Z2VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FF3GGUSBBAM2HQE3PULNLCJ33J2K6RUNB62BNROTGFNTHG7EIIVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPB2DP6ONVVQ6FRCOPOB25E6E4H4XNI4DY7DLSKTKGTXDYMJNOQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GXKO3AZFAW5KPNSJTHMMF6E6V4E6UBVWR46AZDD3PFM6MR2RFBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEVUROLFFXXWVNQZKE4VI6VPMDSSFJHSPBDJJJPKRE6FTCLKEG5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7JRDB7ERNOVGXZ2JB6WGTKB6POFC4ZFD2XQNVUS34N3MXXIYLTEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HLK47KEOGIXELHVYJEE34LG37ZVKMQUEUVDQMNUW2QP5SCPFIONQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBGJLMIXW5BF36U4WTF4XTAZXS2FLJ3WIXOU75TWRTWUIQ64Z5IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPWEREMJYYQ35R526ZJW6D74PZEP7YII5ZRO4ZLCNKZD5XLYBTJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMXN7DISLRVQH2KU6IMNTBUHAFB5LA2JHO5W43LS4QVLOKUMQOKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHKZSLOI5VZI5VWNAU2XU223WF4N75E2ZNJPPLLUCLAU7R2PF66Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5AVBVMI6DJDQHD2CWHVZ354IAIUFXMAH63I4B5ZRFVSUSOGTOHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76WHJK4OXNWNGG7MRA2E5GO7SIFMLCCO2PDN3RE5XVO5G3RGDKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVUNXHQYWDGUECZ2IIQVIRRFTOSSTGJYST5VXDEQCXKUUWVJNNRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDMDB4FCMZ3YMEITZPPDSZZMJDPEL5MWEDQCOQJVV2MSPJYZCNYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CF7VYOJX3RKSUJYZFHNJPGGQ5PSJGATOZUGHDQX6PEGE4PBOI7CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ListTemplateSteps": {
            "http": {
                "method": "GET",
                "requestUri": "/templatesteps",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "templateId",
                    "stepGroupId"
                ],
                "members": {
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "templateId": {
                        "location": "querystring",
                        "locationName": "templateId"
                    },
                    "stepGroupId": {
                        "location": "querystring",
                        "locationName": "stepGroupId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "templateStepSummaryList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "id": {},
                                "stepGroupId": {},
                                "templateId": {},
                                "name": {},
                                "stepActionType": {},
                                "targetType": {},
                                "owner": {},
                                "previous": {
                                    "shape": "Sb"
                                },
                                "next": {
                                    "shape": "Sb"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/N7YC2K6QH7CGXMO6FFHNNMPBJFZQCFPRCZMTFZORANMQHAOZL3CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BYX5L2GRYBPS7LOYG5STREWHX4QVURZUIZSTQX4G4FJVD2CGSGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CVDWMABRL4PWFC6SSXBC52AKH5BMEOPBFJYHRWZAFRXFOIZA56Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N26OLDBMBQHXHZ3DMNQGFQG3P5PI32DWWQ2JOA4EJAZAD62Z2VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FF3GGUSBBAM2HQE3PULNLCJ33J2K6RUNB62BNROTGFNTHG7EIIVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPB2DP6ONVVQ6FRCOPOB25E6E4H4XNI4DY7DLSKTKGTXDYMJNOQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GXKO3AZFAW5KPNSJTHMMF6E6V4E6UBVWR46AZDD3PFM6MR2RFBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEVUROLFFXXWVNQZKE4VI6VPMDSSFJHSPBDJJJPKRE6FTCLKEG5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7JRDB7ERNOVGXZ2JB6WGTKB6POFC4ZFD2XQNVUS34N3MXXIYLTEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HLK47KEOGIXELHVYJEE34LG37ZVKMQUEUVDQMNUW2QP5SCPFIONQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBGJLMIXW5BF36U4WTF4XTAZXS2FLJ3WIXOU75TWRTWUIQ64Z5IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPWEREMJYYQ35R526ZJW6D74PZEP7YII5ZRO4ZLCNKZD5XLYBTJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMXN7DISLRVQH2KU6IMNTBUHAFB5LA2JHO5W43LS4QVLOKUMQOKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHKZSLOI5VZI5VWNAU2XU223WF4N75E2ZNJPPLLUCLAU7R2PF66Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5AVBVMI6DJDQHD2CWHVZ354IAIUFXMAH63I4B5ZRFVSUSOGTOHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76WHJK4OXNWNGG7MRA2E5GO7SIFMLCCO2PDN3RE5XVO5G3RGDKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVUNXHQYWDGUECZ2IIQVIRRFTOSSTGJYST5VXDEQCXKUUWVJNNRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDMDB4FCMZ3YMEITZPPDSZZMJDPEL5MWEDQCOQJVV2MSPJYZCNYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CF7VYOJX3RKSUJYZFHNJPGGQ5PSJGATOZUGHDQX6PEGE4PBOI7CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ListTemplates": {
            "http": {
                "method": "GET",
                "requestUri": "/migrationworkflowtemplates",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "name": {
                        "location": "querystring",
                        "locationName": "name"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "templateSummary"
                ],
                "members": {
                    "nextToken": {},
                    "templateSummary": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "id": {},
                                "name": {},
                                "arn": {},
                                "description": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/N7YC2K6QH7CGXMO6FFHNNMPBJFZQCFPRCZMTFZORANMQHAOZL3CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BYX5L2GRYBPS7LOYG5STREWHX4QVURZUIZSTQX4G4FJVD2CGSGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CVDWMABRL4PWFC6SSXBC52AKH5BMEOPBFJYHRWZAFRXFOIZA56Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N26OLDBMBQHXHZ3DMNQGFQG3P5PI32DWWQ2JOA4EJAZAD62Z2VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FF3GGUSBBAM2HQE3PULNLCJ33J2K6RUNB62BNROTGFNTHG7EIIVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPB2DP6ONVVQ6FRCOPOB25E6E4H4XNI4DY7DLSKTKGTXDYMJNOQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GXKO3AZFAW5KPNSJTHMMF6E6V4E6UBVWR46AZDD3PFM6MR2RFBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEVUROLFFXXWVNQZKE4VI6VPMDSSFJHSPBDJJJPKRE6FTCLKEG5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7JRDB7ERNOVGXZ2JB6WGTKB6POFC4ZFD2XQNVUS34N3MXXIYLTEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HLK47KEOGIXELHVYJEE34LG37ZVKMQUEUVDQMNUW2QP5SCPFIONQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBGJLMIXW5BF36U4WTF4XTAZXS2FLJ3WIXOU75TWRTWUIQ64Z5IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPWEREMJYYQ35R526ZJW6D74PZEP7YII5ZRO4ZLCNKZD5XLYBTJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMXN7DISLRVQH2KU6IMNTBUHAFB5LA2JHO5W43LS4QVLOKUMQOKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHKZSLOI5VZI5VWNAU2XU223WF4N75E2ZNJPPLLUCLAU7R2PF66Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5AVBVMI6DJDQHD2CWHVZ354IAIUFXMAH63I4B5ZRFVSUSOGTOHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76WHJK4OXNWNGG7MRA2E5GO7SIFMLCCO2PDN3RE5XVO5G3RGDKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVUNXHQYWDGUECZ2IIQVIRRFTOSSTGJYST5VXDEQCXKUUWVJNNRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDMDB4FCMZ3YMEITZPPDSZZMJDPEL5MWEDQCOQJVV2MSPJYZCNYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CF7VYOJX3RKSUJYZFHNJPGGQ5PSJGATOZUGHDQX6PEGE4PBOI7CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ListWorkflowStepGroups": {
            "http": {
                "method": "GET",
                "requestUri": "/workflowstepgroups",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workflowId"
                ],
                "members": {
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "workflowId": {
                        "location": "querystring",
                        "locationName": "workflowId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "workflowStepGroupsSummary"
                ],
                "members": {
                    "nextToken": {},
                    "workflowStepGroupsSummary": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "id": {},
                                "name": {},
                                "owner": {},
                                "status": {},
                                "previous": {
                                    "shape": "Sb"
                                },
                                "next": {
                                    "shape": "Sb"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/N7YC2K6QH7CGXMO6FFHNNMPBJFZQCFPRCZMTFZORANMQHAOZL3CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BYX5L2GRYBPS7LOYG5STREWHX4QVURZUIZSTQX4G4FJVD2CGSGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CVDWMABRL4PWFC6SSXBC52AKH5BMEOPBFJYHRWZAFRXFOIZA56Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N26OLDBMBQHXHZ3DMNQGFQG3P5PI32DWWQ2JOA4EJAZAD62Z2VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FF3GGUSBBAM2HQE3PULNLCJ33J2K6RUNB62BNROTGFNTHG7EIIVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPB2DP6ONVVQ6FRCOPOB25E6E4H4XNI4DY7DLSKTKGTXDYMJNOQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GXKO3AZFAW5KPNSJTHMMF6E6V4E6UBVWR46AZDD3PFM6MR2RFBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEVUROLFFXXWVNQZKE4VI6VPMDSSFJHSPBDJJJPKRE6FTCLKEG5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7JRDB7ERNOVGXZ2JB6WGTKB6POFC4ZFD2XQNVUS34N3MXXIYLTEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HLK47KEOGIXELHVYJEE34LG37ZVKMQUEUVDQMNUW2QP5SCPFIONQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBGJLMIXW5BF36U4WTF4XTAZXS2FLJ3WIXOU75TWRTWUIQ64Z5IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPWEREMJYYQ35R526ZJW6D74PZEP7YII5ZRO4ZLCNKZD5XLYBTJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMXN7DISLRVQH2KU6IMNTBUHAFB5LA2JHO5W43LS4QVLOKUMQOKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHKZSLOI5VZI5VWNAU2XU223WF4N75E2ZNJPPLLUCLAU7R2PF66Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5AVBVMI6DJDQHD2CWHVZ354IAIUFXMAH63I4B5ZRFVSUSOGTOHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76WHJK4OXNWNGG7MRA2E5GO7SIFMLCCO2PDN3RE5XVO5G3RGDKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVUNXHQYWDGUECZ2IIQVIRRFTOSSTGJYST5VXDEQCXKUUWVJNNRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDMDB4FCMZ3YMEITZPPDSZZMJDPEL5MWEDQCOQJVV2MSPJYZCNYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CF7VYOJX3RKSUJYZFHNJPGGQ5PSJGATOZUGHDQX6PEGE4PBOI7CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ListWorkflowSteps": {
            "http": {
                "method": "GET",
                "requestUri": "/workflow/{workflowId}/workflowstepgroups/{stepGroupId}/workflowsteps",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workflowId",
                    "stepGroupId"
                ],
                "members": {
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "workflowId": {
                        "location": "uri",
                        "locationName": "workflowId"
                    },
                    "stepGroupId": {
                        "location": "uri",
                        "locationName": "stepGroupId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "workflowStepsSummary"
                ],
                "members": {
                    "nextToken": {},
                    "workflowStepsSummary": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "stepId": {},
                                "name": {},
                                "stepActionType": {},
                                "owner": {},
                                "previous": {
                                    "shape": "Sb"
                                },
                                "next": {
                                    "shape": "Sb"
                                },
                                "status": {},
                                "statusMessage": {},
                                "noOfSrvCompleted": {
                                    "type": "integer"
                                },
                                "noOfSrvFailed": {
                                    "type": "integer"
                                },
                                "totalNoOfSrv": {
                                    "type": "integer"
                                },
                                "description": {},
                                "scriptLocation": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/N7YC2K6QH7CGXMO6FFHNNMPBJFZQCFPRCZMTFZORANMQHAOZL3CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BYX5L2GRYBPS7LOYG5STREWHX4QVURZUIZSTQX4G4FJVD2CGSGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CVDWMABRL4PWFC6SSXBC52AKH5BMEOPBFJYHRWZAFRXFOIZA56Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N26OLDBMBQHXHZ3DMNQGFQG3P5PI32DWWQ2JOA4EJAZAD62Z2VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FF3GGUSBBAM2HQE3PULNLCJ33J2K6RUNB62BNROTGFNTHG7EIIVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPB2DP6ONVVQ6FRCOPOB25E6E4H4XNI4DY7DLSKTKGTXDYMJNOQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GXKO3AZFAW5KPNSJTHMMF6E6V4E6UBVWR46AZDD3PFM6MR2RFBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEVUROLFFXXWVNQZKE4VI6VPMDSSFJHSPBDJJJPKRE6FTCLKEG5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7JRDB7ERNOVGXZ2JB6WGTKB6POFC4ZFD2XQNVUS34N3MXXIYLTEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HLK47KEOGIXELHVYJEE34LG37ZVKMQUEUVDQMNUW2QP5SCPFIONQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBGJLMIXW5BF36U4WTF4XTAZXS2FLJ3WIXOU75TWRTWUIQ64Z5IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPWEREMJYYQ35R526ZJW6D74PZEP7YII5ZRO4ZLCNKZD5XLYBTJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMXN7DISLRVQH2KU6IMNTBUHAFB5LA2JHO5W43LS4QVLOKUMQOKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHKZSLOI5VZI5VWNAU2XU223WF4N75E2ZNJPPLLUCLAU7R2PF66Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5AVBVMI6DJDQHD2CWHVZ354IAIUFXMAH63I4B5ZRFVSUSOGTOHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76WHJK4OXNWNGG7MRA2E5GO7SIFMLCCO2PDN3RE5XVO5G3RGDKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVUNXHQYWDGUECZ2IIQVIRRFTOSSTGJYST5VXDEQCXKUUWVJNNRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDMDB4FCMZ3YMEITZPPDSZZMJDPEL5MWEDQCOQJVV2MSPJYZCNYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CF7VYOJX3RKSUJYZFHNJPGGQ5PSJGATOZUGHDQX6PEGE4PBOI7CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ListWorkflows": {
            "http": {
                "method": "GET",
                "requestUri": "/migrationworkflows",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "templateId": {
                        "location": "querystring",
                        "locationName": "templateId"
                    },
                    "adsApplicationConfigurationName": {
                        "location": "querystring",
                        "locationName": "adsApplicationConfigurationName"
                    },
                    "status": {
                        "location": "querystring",
                        "locationName": "status"
                    },
                    "name": {
                        "location": "querystring",
                        "locationName": "name"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "migrationWorkflowSummary"
                ],
                "members": {
                    "nextToken": {},
                    "migrationWorkflowSummary": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "id": {},
                                "name": {},
                                "templateId": {},
                                "adsApplicationConfigurationName": {},
                                "status": {},
                                "creationTime": {
                                    "type": "timestamp"
                                },
                                "endTime": {
                                    "type": "timestamp"
                                },
                                "statusMessage": {},
                                "completedSteps": {
                                    "type": "integer"
                                },
                                "totalSteps": {
                                    "type": "integer"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/N7YC2K6QH7CGXMO6FFHNNMPBJFZQCFPRCZMTFZORANMQHAOZL3CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BYX5L2GRYBPS7LOYG5STREWHX4QVURZUIZSTQX4G4FJVD2CGSGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CVDWMABRL4PWFC6SSXBC52AKH5BMEOPBFJYHRWZAFRXFOIZA56Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N26OLDBMBQHXHZ3DMNQGFQG3P5PI32DWWQ2JOA4EJAZAD62Z2VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FF3GGUSBBAM2HQE3PULNLCJ33J2K6RUNB62BNROTGFNTHG7EIIVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPB2DP6ONVVQ6FRCOPOB25E6E4H4XNI4DY7DLSKTKGTXDYMJNOQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GXKO3AZFAW5KPNSJTHMMF6E6V4E6UBVWR46AZDD3PFM6MR2RFBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEVUROLFFXXWVNQZKE4VI6VPMDSSFJHSPBDJJJPKRE6FTCLKEG5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7JRDB7ERNOVGXZ2JB6WGTKB6POFC4ZFD2XQNVUS34N3MXXIYLTEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HLK47KEOGIXELHVYJEE34LG37ZVKMQUEUVDQMNUW2QP5SCPFIONQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBGJLMIXW5BF36U4WTF4XTAZXS2FLJ3WIXOU75TWRTWUIQ64Z5IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPWEREMJYYQ35R526ZJW6D74PZEP7YII5ZRO4ZLCNKZD5XLYBTJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMXN7DISLRVQH2KU6IMNTBUHAFB5LA2JHO5W43LS4QVLOKUMQOKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHKZSLOI5VZI5VWNAU2XU223WF4N75E2ZNJPPLLUCLAU7R2PF66Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5AVBVMI6DJDQHD2CWHVZ354IAIUFXMAH63I4B5ZRFVSUSOGTOHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76WHJK4OXNWNGG7MRA2E5GO7SIFMLCCO2PDN3RE5XVO5G3RGDKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVUNXHQYWDGUECZ2IIQVIRRFTOSSTGJYST5VXDEQCXKUUWVJNNRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDMDB4FCMZ3YMEITZPPDSZZMJDPEL5MWEDQCOQJVV2MSPJYZCNYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CF7VYOJX3RKSUJYZFHNJPGGQ5PSJGATOZUGHDQX6PEGE4PBOI7CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "RetryWorkflowStep": {
            "http": {
                "requestUri": "/retryworkflowstep/{id}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workflowId",
                    "stepGroupId",
                    "id"
                ],
                "members": {
                    "workflowId": {
                        "location": "querystring",
                        "locationName": "workflowId"
[...]
