{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2021-10-26",
        "endpointPrefix": "refactor-spaces",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "AWS Migration Hub Refactor Spaces",
        "serviceId": "Migration Hub Refactor Spaces",
        "signatureVersion": "v4",
        "signingName": "refactor-spaces",
        "uid": "migration-hub-refactor-spaces-2021-10-26",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/TFLRWT75TAE5ASLXITTPYKIEHVOSGSKOH2S5P3CQEXL3LN7LDRMA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z7QIX5XMNU2XLME26TTGU7AE4N4ZLECF6N6AKGCZVJZ73DNH4ZFQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/P36GA5IO25XONVB2DJTBIEDTQXRIIGCFPXXWCM7FZOZWM6ZFGJ6Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6U55LTUS7Y7BRR3DRR5UGGALBN6CKYWMA3UKNAWCON7WK6B2E2UA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/236T7VP3TJ753PFKPO6JUHFOCS2TJ6SAG3LELXCD3H4AWVVG3G3Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H2SJH65T4N3P2VA5S5WV2QSR2VELJAYQJBHTIJOEJMHVLJW4H5VA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IN7XIIP3XI6P7BXZHQ6TSBSMEV3FPBL33LBESXOPBECF2NOTSFYA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UWKRXLCXW5PCU3H3MR7ZYXMGT3QJHN25DBN25QV65X6HYZR4AMFQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OWQ3CC5JT5IZFY5MDE6WTQTW2FPCJIDRX3UIWUXE6V4AZ55GDZLQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2ASDTYTOINV22CVEFVPOMM5X4SZ4E2T44AKDJ5XCEGMMXCMHHDJQ/vendors.js"
        ]
    },
    "operations": {
        "CreateApplication": {
            "http": {
                "requestUri": "/environments/{EnvironmentIdentifier}/applications",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "EnvironmentIdentifier",
                    "Name",
                    "ProxyType",
                    "VpcId"
                ],
                "members": {
                    "ApiGatewayProxy": {
                        "shape": "S2"
                    },
                    "ClientToken": {
                        "idempotencyToken": true
                    },
                    "EnvironmentIdentifier": {
                        "location": "uri",
                        "locationName": "EnvironmentIdentifier"
                    },
                    "Name": {},
                    "ProxyType": {},
                    "Tags": {
                        "shape": "S9"
                    },
                    "VpcId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ApiGatewayProxy": {
                        "shape": "S2"
                    },
                    "ApplicationId": {},
                    "Arn": {},
                    "CreatedByAccountId": {},
                    "CreatedTime": {
                        "type": "timestamp"
                    },
                    "EnvironmentId": {},
                    "LastUpdatedTime": {
                        "type": "timestamp"
                    },
                    "Name": {},
                    "OwnerAccountId": {},
                    "ProxyType": {},
                    "State": {},
                    "Tags": {
                        "shape": "S9"
                    },
                    "VpcId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFLRWT75TAE5ASLXITTPYKIEHVOSGSKOH2S5P3CQEXL3LN7LDRMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7QIX5XMNU2XLME26TTGU7AE4N4ZLECF6N6AKGCZVJZ73DNH4ZFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P36GA5IO25XONVB2DJTBIEDTQXRIIGCFPXXWCM7FZOZWM6ZFGJ6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6U55LTUS7Y7BRR3DRR5UGGALBN6CKYWMA3UKNAWCON7WK6B2E2UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/236T7VP3TJ753PFKPO6JUHFOCS2TJ6SAG3LELXCD3H4AWVVG3G3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2SJH65T4N3P2VA5S5WV2QSR2VELJAYQJBHTIJOEJMHVLJW4H5VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IN7XIIP3XI6P7BXZHQ6TSBSMEV3FPBL33LBESXOPBECF2NOTSFYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWKRXLCXW5PCU3H3MR7ZYXMGT3QJHN25DBN25QV65X6HYZR4AMFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWQ3CC5JT5IZFY5MDE6WTQTW2FPCJIDRX3UIWUXE6V4AZ55GDZLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ASDTYTOINV22CVEFVPOMM5X4SZ4E2T44AKDJ5XCEGMMXCMHHDJQ/vendors.js"
            ]
        },
        "CreateEnvironment": {
            "http": {
                "requestUri": "/environments",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "NetworkFabricType"
                ],
                "members": {
                    "ClientToken": {
                        "idempotencyToken": true
                    },
                    "Description": {},
                    "Name": {},
                    "NetworkFabricType": {},
                    "Tags": {
                        "shape": "S9"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Arn": {},
                    "CreatedTime": {
                        "type": "timestamp"
                    },
                    "Description": {},
                    "EnvironmentId": {},
                    "LastUpdatedTime": {
                        "type": "timestamp"
                    },
                    "Name": {},
                    "NetworkFabricType": {},
                    "OwnerAccountId": {},
                    "State": {},
                    "Tags": {
                        "shape": "S9"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFLRWT75TAE5ASLXITTPYKIEHVOSGSKOH2S5P3CQEXL3LN7LDRMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7QIX5XMNU2XLME26TTGU7AE4N4ZLECF6N6AKGCZVJZ73DNH4ZFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P36GA5IO25XONVB2DJTBIEDTQXRIIGCFPXXWCM7FZOZWM6ZFGJ6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6U55LTUS7Y7BRR3DRR5UGGALBN6CKYWMA3UKNAWCON7WK6B2E2UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/236T7VP3TJ753PFKPO6JUHFOCS2TJ6SAG3LELXCD3H4AWVVG3G3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2SJH65T4N3P2VA5S5WV2QSR2VELJAYQJBHTIJOEJMHVLJW4H5VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IN7XIIP3XI6P7BXZHQ6TSBSMEV3FPBL33LBESXOPBECF2NOTSFYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWKRXLCXW5PCU3H3MR7ZYXMGT3QJHN25DBN25QV65X6HYZR4AMFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWQ3CC5JT5IZFY5MDE6WTQTW2FPCJIDRX3UIWUXE6V4AZ55GDZLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ASDTYTOINV22CVEFVPOMM5X4SZ4E2T44AKDJ5XCEGMMXCMHHDJQ/vendors.js"
            ]
        },
        "CreateRoute": {
            "http": {
                "requestUri": "/environments/{EnvironmentIdentifier}/applications/{ApplicationIdentifier}/routes",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ApplicationIdentifier",
                    "EnvironmentIdentifier",
                    "RouteType",
                    "ServiceIdentifier"
                ],
                "members": {
                    "ApplicationIdentifier": {
                        "location": "uri",
                        "locationName": "ApplicationIdentifier"
                    },
                    "ClientToken": {
                        "idempotencyToken": true
                    },
                    "DefaultRoute": {
                        "type": "structure",
                        "members": {
                            "ActivationState": {}
                        }
                    },
                    "EnvironmentIdentifier": {
                        "location": "uri",
                        "locationName": "EnvironmentIdentifier"
                    },
                    "RouteType": {},
                    "ServiceIdentifier": {},
                    "Tags": {
                        "shape": "S9"
                    },
                    "UriPathRoute": {
                        "shape": "Su"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ApplicationId": {},
                    "Arn": {},
                    "CreatedByAccountId": {},
                    "CreatedTime": {
                        "type": "timestamp"
                    },
                    "LastUpdatedTime": {
                        "type": "timestamp"
                    },
                    "OwnerAccountId": {},
                    "RouteId": {},
                    "RouteType": {},
                    "ServiceId": {},
                    "State": {},
                    "Tags": {
                        "shape": "S9"
                    },
                    "UriPathRoute": {
                        "shape": "Su"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFLRWT75TAE5ASLXITTPYKIEHVOSGSKOH2S5P3CQEXL3LN7LDRMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7QIX5XMNU2XLME26TTGU7AE4N4ZLECF6N6AKGCZVJZ73DNH4ZFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P36GA5IO25XONVB2DJTBIEDTQXRIIGCFPXXWCM7FZOZWM6ZFGJ6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6U55LTUS7Y7BRR3DRR5UGGALBN6CKYWMA3UKNAWCON7WK6B2E2UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/236T7VP3TJ753PFKPO6JUHFOCS2TJ6SAG3LELXCD3H4AWVVG3G3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2SJH65T4N3P2VA5S5WV2QSR2VELJAYQJBHTIJOEJMHVLJW4H5VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IN7XIIP3XI6P7BXZHQ6TSBSMEV3FPBL33LBESXOPBECF2NOTSFYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWKRXLCXW5PCU3H3MR7ZYXMGT3QJHN25DBN25QV65X6HYZR4AMFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWQ3CC5JT5IZFY5MDE6WTQTW2FPCJIDRX3UIWUXE6V4AZ55GDZLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ASDTYTOINV22CVEFVPOMM5X4SZ4E2T44AKDJ5XCEGMMXCMHHDJQ/vendors.js"
            ]
        },
        "CreateService": {
            "http": {
                "requestUri": "/environments/{EnvironmentIdentifier}/applications/{ApplicationIdentifier}/services",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ApplicationIdentifier",
                    "EndpointType",
                    "EnvironmentIdentifier",
                    "Name"
                ],
                "members": {
                    "ApplicationIdentifier": {
                        "location": "uri",
                        "locationName": "ApplicationIdentifier"
                    },
                    "ClientToken": {
                        "idempotencyToken": true
                    },
                    "Description": {},
                    "EndpointType": {},
                    "EnvironmentIdentifier": {
                        "location": "uri",
                        "locationName": "EnvironmentIdentifier"
                    },
                    "LambdaEndpoint": {
                        "shape": "S14"
                    },
                    "Name": {},
                    "Tags": {
                        "shape": "S9"
                    },
                    "UrlEndpoint": {
                        "shape": "S17"
                    },
                    "VpcId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ApplicationId": {},
                    "Arn": {},
                    "CreatedByAccountId": {},
                    "CreatedTime": {
                        "type": "timestamp"
                    },
                    "Description": {},
                    "EndpointType": {},
                    "EnvironmentId": {},
                    "LambdaEndpoint": {
                        "shape": "S14"
                    },
                    "LastUpdatedTime": {
                        "type": "timestamp"
                    },
                    "Name": {},
                    "OwnerAccountId": {},
                    "ServiceId": {},
                    "State": {},
                    "Tags": {
                        "shape": "S9"
                    },
                    "UrlEndpoint": {
                        "shape": "S17"
                    },
                    "VpcId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFLRWT75TAE5ASLXITTPYKIEHVOSGSKOH2S5P3CQEXL3LN7LDRMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7QIX5XMNU2XLME26TTGU7AE4N4ZLECF6N6AKGCZVJZ73DNH4ZFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P36GA5IO25XONVB2DJTBIEDTQXRIIGCFPXXWCM7FZOZWM6ZFGJ6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6U55LTUS7Y7BRR3DRR5UGGALBN6CKYWMA3UKNAWCON7WK6B2E2UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/236T7VP3TJ753PFKPO6JUHFOCS2TJ6SAG3LELXCD3H4AWVVG3G3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2SJH65T4N3P2VA5S5WV2QSR2VELJAYQJBHTIJOEJMHVLJW4H5VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IN7XIIP3XI6P7BXZHQ6TSBSMEV3FPBL33LBESXOPBECF2NOTSFYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWKRXLCXW5PCU3H3MR7ZYXMGT3QJHN25DBN25QV65X6HYZR4AMFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWQ3CC5JT5IZFY5MDE6WTQTW2FPCJIDRX3UIWUXE6V4AZ55GDZLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ASDTYTOINV22CVEFVPOMM5X4SZ4E2T44AKDJ5XCEGMMXCMHHDJQ/vendors.js"
            ]
        },
        "DeleteApplication": {
            "http": {
                "method": "DELETE",
                "requestUri": "/environments/{EnvironmentIdentifier}/applications/{ApplicationIdentifier}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ApplicationIdentifier",
                    "EnvironmentIdentifier"
                ],
                "members": {
                    "ApplicationIdentifier": {
                        "location": "uri",
                        "locationName": "ApplicationIdentifier"
                    },
                    "EnvironmentIdentifier": {
                        "location": "uri",
                        "locationName": "EnvironmentIdentifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ApplicationId": {},
                    "Arn": {},
                    "EnvironmentId": {},
                    "LastUpdatedTime": {
                        "type": "timestamp"
                    },
                    "Name": {},
                    "State": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFLRWT75TAE5ASLXITTPYKIEHVOSGSKOH2S5P3CQEXL3LN7LDRMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7QIX5XMNU2XLME26TTGU7AE4N4ZLECF6N6AKGCZVJZ73DNH4ZFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P36GA5IO25XONVB2DJTBIEDTQXRIIGCFPXXWCM7FZOZWM6ZFGJ6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6U55LTUS7Y7BRR3DRR5UGGALBN6CKYWMA3UKNAWCON7WK6B2E2UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/236T7VP3TJ753PFKPO6JUHFOCS2TJ6SAG3LELXCD3H4AWVVG3G3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2SJH65T4N3P2VA5S5WV2QSR2VELJAYQJBHTIJOEJMHVLJW4H5VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IN7XIIP3XI6P7BXZHQ6TSBSMEV3FPBL33LBESXOPBECF2NOTSFYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWKRXLCXW5PCU3H3MR7ZYXMGT3QJHN25DBN25QV65X6HYZR4AMFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWQ3CC5JT5IZFY5MDE6WTQTW2FPCJIDRX3UIWUXE6V4AZ55GDZLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ASDTYTOINV22CVEFVPOMM5X4SZ4E2T44AKDJ5XCEGMMXCMHHDJQ/vendors.js"
            ]
        },
        "DeleteEnvironment": {
            "http": {
                "method": "DELETE",
                "requestUri": "/environments/{EnvironmentIdentifier}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "EnvironmentIdentifier"
                ],
                "members": {
                    "EnvironmentIdentifier": {
                        "location": "uri",
                        "locationName": "EnvironmentIdentifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Arn": {},
                    "EnvironmentId": {},
                    "LastUpdatedTime": {
                        "type": "timestamp"
                    },
                    "Name": {},
                    "State": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFLRWT75TAE5ASLXITTPYKIEHVOSGSKOH2S5P3CQEXL3LN7LDRMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7QIX5XMNU2XLME26TTGU7AE4N4ZLECF6N6AKGCZVJZ73DNH4ZFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P36GA5IO25XONVB2DJTBIEDTQXRIIGCFPXXWCM7FZOZWM6ZFGJ6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6U55LTUS7Y7BRR3DRR5UGGALBN6CKYWMA3UKNAWCON7WK6B2E2UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/236T7VP3TJ753PFKPO6JUHFOCS2TJ6SAG3LELXCD3H4AWVVG3G3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2SJH65T4N3P2VA5S5WV2QSR2VELJAYQJBHTIJOEJMHVLJW4H5VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IN7XIIP3XI6P7BXZHQ6TSBSMEV3FPBL33LBESXOPBECF2NOTSFYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWKRXLCXW5PCU3H3MR7ZYXMGT3QJHN25DBN25QV65X6HYZR4AMFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWQ3CC5JT5IZFY5MDE6WTQTW2FPCJIDRX3UIWUXE6V4AZ55GDZLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ASDTYTOINV22CVEFVPOMM5X4SZ4E2T44AKDJ5XCEGMMXCMHHDJQ/vendors.js"
            ]
        },
        "DeleteResourcePolicy": {
            "http": {
                "method": "DELETE",
                "requestUri": "/resourcepolicy/{Identifier}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Identifier"
                ],
                "members": {
                    "Identifier": {
                        "location": "uri",
                        "locationName": "Identifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFLRWT75TAE5ASLXITTPYKIEHVOSGSKOH2S5P3CQEXL3LN7LDRMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7QIX5XMNU2XLME26TTGU7AE4N4ZLECF6N6AKGCZVJZ73DNH4ZFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P36GA5IO25XONVB2DJTBIEDTQXRIIGCFPXXWCM7FZOZWM6ZFGJ6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6U55LTUS7Y7BRR3DRR5UGGALBN6CKYWMA3UKNAWCON7WK6B2E2UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/236T7VP3TJ753PFKPO6JUHFOCS2TJ6SAG3LELXCD3H4AWVVG3G3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2SJH65T4N3P2VA5S5WV2QSR2VELJAYQJBHTIJOEJMHVLJW4H5VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IN7XIIP3XI6P7BXZHQ6TSBSMEV3FPBL33LBESXOPBECF2NOTSFYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWKRXLCXW5PCU3H3MR7ZYXMGT3QJHN25DBN25QV65X6HYZR4AMFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWQ3CC5JT5IZFY5MDE6WTQTW2FPCJIDRX3UIWUXE6V4AZ55GDZLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ASDTYTOINV22CVEFVPOMM5X4SZ4E2T44AKDJ5XCEGMMXCMHHDJQ/vendors.js"
            ]
        },
        "DeleteRoute": {
            "http": {
                "method": "DELETE",
                "requestUri": "/environments/{EnvironmentIdentifier}/applications/{ApplicationIdentifier}/routes/{RouteIdentifier}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ApplicationIdentifier",
                    "EnvironmentIdentifier",
                    "RouteIdentifier"
                ],
                "members": {
                    "ApplicationIdentifier": {
                        "location": "uri",
                        "locationName": "ApplicationIdentifier"
                    },
                    "EnvironmentIdentifier": {
                        "location": "uri",
                        "locationName": "EnvironmentIdentifier"
                    },
                    "RouteIdentifier": {
                        "location": "uri",
                        "locationName": "RouteIdentifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ApplicationId": {},
                    "Arn": {},
                    "LastUpdatedTime": {
                        "type": "timestamp"
                    },
                    "RouteId": {},
                    "ServiceId": {},
                    "State": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFLRWT75TAE5ASLXITTPYKIEHVOSGSKOH2S5P3CQEXL3LN7LDRMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7QIX5XMNU2XLME26TTGU7AE4N4ZLECF6N6AKGCZVJZ73DNH4ZFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P36GA5IO25XONVB2DJTBIEDTQXRIIGCFPXXWCM7FZOZWM6ZFGJ6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6U55LTUS7Y7BRR3DRR5UGGALBN6CKYWMA3UKNAWCON7WK6B2E2UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/236T7VP3TJ753PFKPO6JUHFOCS2TJ6SAG3LELXCD3H4AWVVG3G3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2SJH65T4N3P2VA5S5WV2QSR2VELJAYQJBHTIJOEJMHVLJW4H5VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IN7XIIP3XI6P7BXZHQ6TSBSMEV3FPBL33LBESXOPBECF2NOTSFYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWKRXLCXW5PCU3H3MR7ZYXMGT3QJHN25DBN25QV65X6HYZR4AMFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWQ3CC5JT5IZFY5MDE6WTQTW2FPCJIDRX3UIWUXE6V4AZ55GDZLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ASDTYTOINV22CVEFVPOMM5X4SZ4E2T44AKDJ5XCEGMMXCMHHDJQ/vendors.js"
            ]
        },
        "DeleteService": {
            "http": {
                "method": "DELETE",
                "requestUri": "/environments/{EnvironmentIdentifier}/applications/{ApplicationIdentifier}/services/{ServiceIdentifier}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ApplicationIdentifier",
                    "EnvironmentIdentifier",
                    "ServiceIdentifier"
                ],
                "members": {
                    "ApplicationIdentifier": {
                        "location": "uri",
                        "locationName": "ApplicationIdentifier"
                    },
                    "EnvironmentIdentifier": {
                        "location": "uri",
                        "locationName": "EnvironmentIdentifier"
                    },
                    "ServiceIdentifier": {
                        "location": "uri",
                        "locationName": "ServiceIdentifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ApplicationId": {},
                    "Arn": {},
                    "EnvironmentId": {},
                    "LastUpdatedTime": {
                        "type": "timestamp"
                    },
                    "Name": {},
                    "ServiceId": {},
                    "State": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFLRWT75TAE5ASLXITTPYKIEHVOSGSKOH2S5P3CQEXL3LN7LDRMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7QIX5XMNU2XLME26TTGU7AE4N4ZLECF6N6AKGCZVJZ73DNH4ZFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P36GA5IO25XONVB2DJTBIEDTQXRIIGCFPXXWCM7FZOZWM6ZFGJ6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6U55LTUS7Y7BRR3DRR5UGGALBN6CKYWMA3UKNAWCON7WK6B2E2UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/236T7VP3TJ753PFKPO6JUHFOCS2TJ6SAG3LELXCD3H4AWVVG3G3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2SJH65T4N3P2VA5S5WV2QSR2VELJAYQJBHTIJOEJMHVLJW4H5VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IN7XIIP3XI6P7BXZHQ6TSBSMEV3FPBL33LBESXOPBECF2NOTSFYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWKRXLCXW5PCU3H3MR7ZYXMGT3QJHN25DBN25QV65X6HYZR4AMFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWQ3CC5JT5IZFY5MDE6WTQTW2FPCJIDRX3UIWUXE6V4AZ55GDZLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ASDTYTOINV22CVEFVPOMM5X4SZ4E2T44AKDJ5XCEGMMXCMHHDJQ/vendors.js"
            ]
        },
        "GetApplication": {
            "http": {
                "method": "GET",
                "requestUri": "/environments/{EnvironmentIdentifier}/applications/{ApplicationIdentifier}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ApplicationIdentifier",
                    "EnvironmentIdentifier"
                ],
                "members": {
                    "ApplicationIdentifier": {
                        "location": "uri",
                        "locationName": "ApplicationIdentifier"
                    },
                    "EnvironmentIdentifier": {
                        "location": "uri",
                        "locationName": "EnvironmentIdentifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ApiGatewayProxy": {
                        "type": "structure",
                        "members": {
                            "ApiGatewayId": {},
                            "EndpointType": {},
                            "NlbArn": {},
                            "NlbName": {},
                            "ProxyUrl": {},
                            "StageName": {},
                            "VpcLinkId": {}
                        }
                    },
                    "ApplicationId": {},
                    "Arn": {},
                    "CreatedByAccountId": {},
                    "CreatedTime": {
                        "type": "timestamp"
                    },
                    "EnvironmentId": {},
                    "Error": {
                        "shape": "S1t"
                    },
                    "LastUpdatedTime": {
                        "type": "timestamp"
                    },
                    "Name": {},
                    "OwnerAccountId": {},
                    "ProxyType": {},
                    "State": {},
                    "Tags": {
                        "shape": "S9"
                    },
                    "VpcId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFLRWT75TAE5ASLXITTPYKIEHVOSGSKOH2S5P3CQEXL3LN7LDRMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7QIX5XMNU2XLME26TTGU7AE4N4ZLECF6N6AKGCZVJZ73DNH4ZFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P36GA5IO25XONVB2DJTBIEDTQXRIIGCFPXXWCM7FZOZWM6ZFGJ6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6U55LTUS7Y7BRR3DRR5UGGALBN6CKYWMA3UKNAWCON7WK6B2E2UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/236T7VP3TJ753PFKPO6JUHFOCS2TJ6SAG3LELXCD3H4AWVVG3G3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2SJH65T4N3P2VA5S5WV2QSR2VELJAYQJBHTIJOEJMHVLJW4H5VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IN7XIIP3XI6P7BXZHQ6TSBSMEV3FPBL33LBESXOPBECF2NOTSFYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWKRXLCXW5PCU3H3MR7ZYXMGT3QJHN25DBN25QV65X6HYZR4AMFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWQ3CC5JT5IZFY5MDE6WTQTW2FPCJIDRX3UIWUXE6V4AZ55GDZLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ASDTYTOINV22CVEFVPOMM5X4SZ4E2T44AKDJ5XCEGMMXCMHHDJQ/vendors.js"
            ]
        },
        "GetEnvironment": {
            "http": {
                "method": "GET",
                "requestUri": "/environments/{EnvironmentIdentifier}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "EnvironmentIdentifier"
                ],
                "members": {
                    "EnvironmentIdentifier": {
                        "location": "uri",
                        "locationName": "EnvironmentIdentifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Arn": {},
                    "CreatedTime": {
                        "type": "timestamp"
                    },
                    "Description": {},
                    "EnvironmentId": {},
                    "Error": {
                        "shape": "S1t"
                    },
                    "LastUpdatedTime": {
                        "type": "timestamp"
                    },
                    "Name": {},
                    "NetworkFabricType": {},
                    "OwnerAccountId": {},
                    "State": {},
                    "Tags": {
                        "shape": "S9"
                    },
                    "TransitGatewayId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFLRWT75TAE5ASLXITTPYKIEHVOSGSKOH2S5P3CQEXL3LN7LDRMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7QIX5XMNU2XLME26TTGU7AE4N4ZLECF6N6AKGCZVJZ73DNH4ZFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P36GA5IO25XONVB2DJTBIEDTQXRIIGCFPXXWCM7FZOZWM6ZFGJ6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6U55LTUS7Y7BRR3DRR5UGGALBN6CKYWMA3UKNAWCON7WK6B2E2UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/236T7VP3TJ753PFKPO6JUHFOCS2TJ6SAG3LELXCD3H4AWVVG3G3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2SJH65T4N3P2VA5S5WV2QSR2VELJAYQJBHTIJOEJMHVLJW4H5VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IN7XIIP3XI6P7BXZHQ6TSBSMEV3FPBL33LBESXOPBECF2NOTSFYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWKRXLCXW5PCU3H3MR7ZYXMGT3QJHN25DBN25QV65X6HYZR4AMFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWQ3CC5JT5IZFY5MDE6WTQTW2FPCJIDRX3UIWUXE6V4AZ55GDZLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ASDTYTOINV22CVEFVPOMM5X4SZ4E2T44AKDJ5XCEGMMXCMHHDJQ/vendors.js"
            ]
        },
        "GetResourcePolicy": {
            "http": {
                "method": "GET",
                "requestUri": "/resourcepolicy/{Identifier}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Identifier"
                ],
                "members": {
                    "Identifier": {
                        "location": "uri",
                        "locationName": "Identifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Policy": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFLRWT75TAE5ASLXITTPYKIEHVOSGSKOH2S5P3CQEXL3LN7LDRMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7QIX5XMNU2XLME26TTGU7AE4N4ZLECF6N6AKGCZVJZ73DNH4ZFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P36GA5IO25XONVB2DJTBIEDTQXRIIGCFPXXWCM7FZOZWM6ZFGJ6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6U55LTUS7Y7BRR3DRR5UGGALBN6CKYWMA3UKNAWCON7WK6B2E2UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/236T7VP3TJ753PFKPO6JUHFOCS2TJ6SAG3LELXCD3H4AWVVG3G3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2SJH65T4N3P2VA5S5WV2QSR2VELJAYQJBHTIJOEJMHVLJW4H5VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IN7XIIP3XI6P7BXZHQ6TSBSMEV3FPBL33LBESXOPBECF2NOTSFYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWKRXLCXW5PCU3H3MR7ZYXMGT3QJHN25DBN25QV65X6HYZR4AMFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWQ3CC5JT5IZFY5MDE6WTQTW2FPCJIDRX3UIWUXE6V4AZ55GDZLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ASDTYTOINV22CVEFVPOMM5X4SZ4E2T44AKDJ5XCEGMMXCMHHDJQ/vendors.js"
            ]
        },
        "GetRoute": {
            "http": {
                "method": "GET",
                "requestUri": "/environments/{EnvironmentIdentifier}/applications/{ApplicationIdentifier}/routes/{RouteIdentifier}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ApplicationIdentifier",
                    "EnvironmentIdentifier",
                    "RouteIdentifier"
                ],
                "members": {
                    "ApplicationIdentifier": {
                        "location": "uri",
                        "locationName": "ApplicationIdentifier"
                    },
                    "EnvironmentIdentifier": {
                        "location": "uri",
                        "locationName": "EnvironmentIdentifier"
                    },
                    "RouteIdentifier": {
                        "location": "uri",
                        "locationName": "RouteIdentifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ApplicationId": {},
                    "Arn": {},
                    "CreatedByAccountId": {},
                    "CreatedTime": {
                        "type": "timestamp"
                    },
                    "EnvironmentId": {},
                    "Error": {
                        "shape": "S1t"
                    },
                    "IncludeChildPaths": {
                        "type": "boolean"
                    },
                    "LastUpdatedTime": {
                        "type": "timestamp"
                    },
                    "Methods": {
                        "shape": "Sw"
                    },
                    "OwnerAccountId": {},
                    "PathResourceToId": {
                        "shape": "S29"
                    },
                    "RouteId": {},
                    "RouteType": {},
                    "ServiceId": {},
                    "SourcePath": {},
                    "State": {},
                    "Tags": {
                        "shape": "S9"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFLRWT75TAE5ASLXITTPYKIEHVOSGSKOH2S5P3CQEXL3LN7LDRMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7QIX5XMNU2XLME26TTGU7AE4N4ZLECF6N6AKGCZVJZ73DNH4ZFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P36GA5IO25XONVB2DJTBIEDTQXRIIGCFPXXWCM7FZOZWM6ZFGJ6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6U55LTUS7Y7BRR3DRR5UGGALBN6CKYWMA3UKNAWCON7WK6B2E2UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/236T7VP3TJ753PFKPO6JUHFOCS2TJ6SAG3LELXCD3H4AWVVG3G3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2SJH65T4N3P2VA5S5WV2QSR2VELJAYQJBHTIJOEJMHVLJW4H5VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IN7XIIP3XI6P7BXZHQ6TSBSMEV3FPBL33LBESXOPBECF2NOTSFYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWKRXLCXW5PCU3H3MR7ZYXMGT3QJHN25DBN25QV65X6HYZR4AMFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWQ3CC5JT5IZFY5MDE6WTQTW2FPCJIDRX3UIWUXE6V4AZ55GDZLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ASDTYTOINV22CVEFVPOMM5X4SZ4E2T44AKDJ5XCEGMMXCMHHDJQ/vendors.js"
            ]
        },
        "GetService": {
            "http": {
                "method": "GET",
                "requestUri": "/environments/{EnvironmentIdentifier}/applications/{ApplicationIdentifier}/services/{ServiceIdentifier}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ApplicationIdentifier",
                    "EnvironmentIdentifier",
                    "ServiceIdentifier"
                ],
                "members": {
                    "ApplicationIdentifier": {
                        "location": "uri",
                        "locationName": "ApplicationIdentifier"
                    },
                    "EnvironmentIdentifier": {
                        "location": "uri",
                        "locationName": "EnvironmentIdentifier"
                    },
                    "ServiceIdentifier": {
                        "location": "uri",
                        "locationName": "ServiceIdentifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ApplicationId": {},
                    "Arn": {},
                    "CreatedByAccountId": {},
                    "CreatedTime": {
                        "type": "timestamp"
                    },
                    "Description": {},
                    "EndpointType": {},
                    "EnvironmentId": {},
                    "Error": {
                        "shape": "S1t"
                    },
                    "LambdaEndpoint": {
                        "type": "structure",
                        "members": {
                            "Arn": {}
                        }
                    },
                    "LastUpdatedTime": {
                        "type": "timestamp"
                    },
                    "Name": {},
                    "OwnerAccountId": {},
                    "ServiceId": {},
                    "State": {},
                    "Tags": {
                        "shape": "S9"
                    },
                    "UrlEndpoint": {
                        "type": "structure",
                        "members": {
                            "HealthUrl": {},
                            "Url": {}
                        }
                    },
                    "VpcId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFLRWT75TAE5ASLXITTPYKIEHVOSGSKOH2S5P3CQEXL3LN7LDRMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7QIX5XMNU2XLME26TTGU7AE4N4ZLECF6N6AKGCZVJZ73DNH4ZFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P36GA5IO25XONVB2DJTBIEDTQXRIIGCFPXXWCM7FZOZWM6ZFGJ6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6U55LTUS7Y7BRR3DRR5UGGALBN6CKYWMA3UKNAWCON7WK6B2E2UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/236T7VP3TJ753PFKPO6JUHFOCS2TJ6SAG3LELXCD3H4AWVVG3G3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2SJH65T4N3P2VA5S5WV2QSR2VELJAYQJBHTIJOEJMHVLJW4H5VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IN7XIIP3XI6P7BXZHQ6TSBSMEV3FPBL33LBESXOPBECF2NOTSFYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWKRXLCXW5PCU3H3MR7ZYXMGT3QJHN25DBN25QV65X6HYZR4AMFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWQ3CC5JT5IZFY5MDE6WTQTW2FPCJIDRX3UIWUXE6V4AZ55GDZLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ASDTYTOINV22CVEFVPOMM5X4SZ4E2T44AKDJ5XCEGMMXCMHHDJQ/vendors.js"
            ]
        },
        "ListApplications": {
            "http": {
                "method": "GET",
                "requestUri": "/environments/{EnvironmentIdentifier}/applications",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "EnvironmentIdentifier"
                ],
                "members": {
                    "EnvironmentIdentifier": {
                        "location": "uri",
                        "locationName": "EnvironmentIdentifier"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ApplicationSummaryList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ApiGatewayProxy": {
                                    "type": "structure",
                                    "members": {
                                        "ApiGatewayId": {},
                                        "EndpointType": {},
                                        "NlbArn": {},
                                        "NlbName": {},
                                        "ProxyUrl": {},
                                        "StageName": {},
                                        "VpcLinkId": {}
                                    }
                                },
                                "ApplicationId": {},
                                "Arn": {},
                                "CreatedByAccountId": {},
                                "CreatedTime": {
                                    "type": "timestamp"
                                },
                                "EnvironmentId": {},
                                "Error": {
                                    "shape": "S1t"
                                },
                                "LastUpdatedTime": {
                                    "type": "timestamp"
                                },
                                "Name": {},
                                "OwnerAccountId": {},
                                "ProxyType": {},
                                "State": {},
                                "Tags": {
                                    "shape": "S9"
                                },
                                "VpcId": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFLRWT75TAE5ASLXITTPYKIEHVOSGSKOH2S5P3CQEXL3LN7LDRMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7QIX5XMNU2XLME26TTGU7AE4N4ZLECF6N6AKGCZVJZ73DNH4ZFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P36GA5IO25XONVB2DJTBIEDTQXRIIGCFPXXWCM7FZOZWM6ZFGJ6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6U55LTUS7Y7BRR3DRR5UGGALBN6CKYWMA3UKNAWCON7WK6B2E2UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/236T7VP3TJ753PFKPO6JUHFOCS2TJ6SAG3LELXCD3H4AWVVG3G3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2SJH65T4N3P2VA5S5WV2QSR2VELJAYQJBHTIJOEJMHVLJW4H5VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IN7XIIP3XI6P7BXZHQ6TSBSMEV3FPBL33LBESXOPBECF2NOTSFYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWKRXLCXW5PCU3H3MR7ZYXMGT3QJHN25DBN25QV65X6HYZR4AMFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWQ3CC5JT5IZFY5MDE6WTQTW2FPCJIDRX3UIWUXE6V4AZ55GDZLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ASDTYTOINV22CVEFVPOMM5X4SZ4E2T44AKDJ5XCEGMMXCMHHDJQ/vendors.js"
            ]
        },
        "ListEnvironmentVpcs": {
            "http": {
                "method": "GET",
                "requestUri": "/environments/{EnvironmentIdentifier}/vpcs",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "EnvironmentIdentifier"
                ],
                "members": {
                    "EnvironmentIdentifier": {
                        "location": "uri",
                        "locationName": "EnvironmentIdentifier"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "EnvironmentVpcList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "AccountId": {},
                                "CidrBlocks": {
                                    "type": "list",
                                    "member": {}
                                },
                                "CreatedTime": {
                                    "type": "timestamp"
                                },
                                "EnvironmentId": {},
                                "LastUpdatedTime": {
                                    "type": "timestamp"
                                },
                                "VpcId": {},
                                "VpcName": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFLRWT75TAE5ASLXITTPYKIEHVOSGSKOH2S5P3CQEXL3LN7LDRMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7QIX5XMNU2XLME26TTGU7AE4N4ZLECF6N6AKGCZVJZ73DNH4ZFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P36GA5IO25XONVB2DJTBIEDTQXRIIGCFPXXWCM7FZOZWM6ZFGJ6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6U55LTUS7Y7BRR3DRR5UGGALBN6CKYWMA3UKNAWCON7WK6B2E2UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/236T7VP3TJ753PFKPO6JUHFOCS2TJ6SAG3LELXCD3H4AWVVG3G3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2SJH65T4N3P2VA5S5WV2QSR2VELJAYQJBHTIJOEJMHVLJW4H5VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IN7XIIP3XI6P7BXZHQ6TSBSMEV3FPBL33LBESXOPBECF2NOTSFYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWKRXLCXW5PCU3H3MR7ZYXMGT3QJHN25DBN25QV65X6HYZR4AMFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWQ3CC5JT5IZFY5MDE6WTQTW2FPCJIDRX3UIWUXE6V4AZ55GDZLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ASDTYTOINV22CVEFVPOMM5X4SZ4E2T44AKDJ5XCEGMMXCMHHDJQ/vendors.js"
            ]
        },
        "ListEnvironments": {
            "http": {
                "method": "GET",
                "requestUri": "/environments",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "EnvironmentSummaryList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Arn": {},
                                "CreatedTime": {
                                    "type": "timestamp"
                                },
                                "Description": {},
                                "EnvironmentId": {},
                                "Error": {
                                    "shape": "S1t"
                                },
                                "LastUpdatedTime": {
                                    "type": "timestamp"
                                },
                                "Name": {},
                                "NetworkFabricType": {},
                                "OwnerAccountId": {},
                                "State": {},
                                "Tags": {
                                    "shape": "S9"
                                },
                                "TransitGatewayId": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFLRWT75TAE5ASLXITTPYKIEHVOSGSKOH2S5P3CQEXL3LN7LDRMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7QIX5XMNU2XLME26TTGU7AE4N4ZLECF6N6AKGCZVJZ73DNH4ZFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P36GA5IO25XONVB2DJTBIEDTQXRIIGCFPXXWCM7FZOZWM6ZFGJ6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6U55LTUS7Y7BRR3DRR5UGGALBN6CKYWMA3UKNAWCON7WK6B2E2UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/236T7VP3TJ753PFKPO6JUHFOCS2TJ6SAG3LELXCD3H4AWVVG3G3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2SJH65T4N3P2VA5S5WV2QSR2VELJAYQJBHTIJOEJMHVLJW4H5VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IN7XIIP3XI6P7BXZHQ6TSBSMEV3FPBL33LBESXOPBECF2NOTSFYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWKRXLCXW5PCU3H3MR7ZYXMGT3QJHN25DBN25QV65X6HYZR4AMFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWQ3CC5JT5IZFY5MDE6WTQTW2FPCJIDRX3UIWUXE6V4AZ55GDZLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ASDTYTOINV22CVEFVPOMM5X4SZ4E2T44AKDJ5XCEGMMXCMHHDJQ/vendors.js"
            ]
        },
        "ListRoutes": {
            "http": {
                "method": "GET",
                "requestUri": "/environments/{EnvironmentIdentifier}/applications/{ApplicationIdentifier}/routes",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ApplicationIdentifier",
                    "EnvironmentIdentifier"
                ],
                "members": {
                    "ApplicationIdentifier": {
                        "location": "uri",
                        "locationName": "ApplicationIdentifier"
                    },
                    "EnvironmentIdentifier": {
                        "location": "uri",
                        "locationName": "EnvironmentIdentifier"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "RouteSummaryList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ApplicationId": {},
                                "Arn": {},
                                "CreatedByAccountId": {},
                                "CreatedTime": {
                                    "type": "timestamp"
                                },
                                "EnvironmentId": {},
                                "Error": {
                                    "shape": "S1t"
                                },
                                "IncludeChildPaths": {
                                    "type": "boolean"
                                },
                                "LastUpdatedTime": {
                                    "type": "timestamp"
                                },
                                "Methods": {
                                    "shape": "Sw"
                                },
                                "OwnerAccountId": {},
                                "PathResourceToId": {
                                    "shape": "S29"
                                },
                                "RouteId": {},
                                "RouteType": {},
                                "ServiceId": {},
                                "SourcePath": {},
                                "State": {},
                                "Tags": {
                                    "shape": "S9"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFLRWT75TAE5ASLXITTPYKIEHVOSGSKOH2S5P3CQEXL3LN7LDRMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7QIX5XMNU2XLME26TTGU7AE4N4ZLECF6N6AKGCZVJZ73DNH4ZFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P36GA5IO25XONVB2DJTBIEDTQXRIIGCFPXXWCM7FZOZWM6ZFGJ6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6U55LTUS7Y7BRR3DRR5UGGALBN6CKYWMA3UKNAWCON7WK6B2E2UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/236T7VP3TJ753PFKPO6JUHFOCS2TJ6SAG3LELXCD3H4AWVVG3G3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2SJH65T4N3P2VA5S5WV2QSR2VELJAYQJBHTIJOEJMHVLJW4H5VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IN7XIIP3XI6P7BXZHQ6TSBSMEV3FPBL33LBESXOPBECF2NOTSFYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWKRXLCXW5PCU3H3MR7ZYXMGT3QJHN25DBN25QV65X6HYZR4AMFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWQ3CC5JT5IZFY5MDE6WTQTW2FPCJIDRX3UIWUXE6V4AZ55GDZLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ASDTYTOINV22CVEFVPOMM5X4SZ4E2T44AKDJ5XCEGMMXCMHHDJQ/vendors.js"
            ]
        },
        "ListServices": {
            "http": {
                "method": "GET",
                "requestUri": "/environments/{EnvironmentIdentifier}/applications/{ApplicationIdentifier}/services",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ApplicationIdentifier",
                    "EnvironmentIdentifier"
                ],
                "members": {
                    "ApplicationIdentifier": {
                        "location": "uri",
                        "locationName": "ApplicationIdentifier"
                    },
                    "EnvironmentIdentifier": {
                        "location": "uri",
                        "locationName": "EnvironmentIdentifier"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "ServiceSummaryList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ApplicationId": {},
                                "Arn": {},
                                "CreatedByAccountId": {},
                                "CreatedTime": {
                                    "type": "timestamp"
                                },
                                "Description": {},
                                "EndpointType": {},
                                "EnvironmentId": {},
                                "Error": {
                                    "shape": "S1t"
                                },
                                "LambdaEndpoint": {
                                    "type": "structure",
                                    "members": {
                                        "Arn": {}
                                    }
                                },
                                "LastUpdatedTime": {
                                    "type": "timestamp"
                                },
                                "Name": {},
                                "OwnerAccountId": {},
                                "ServiceId": {},
                                "State": {},
                                "Tags": {
                                    "shape": "S9"
                                },
                                "UrlEndpoint": {
                                    "type": "structure",
                                    "members": {
                                        "HealthUrl": {},
                                        "Url": {}
                                    }
                                },
                                "VpcId": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFLRWT75TAE5ASLXITTPYKIEHVOSGSKOH2S5P3CQEXL3LN7LDRMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7QIX5XMNU2XLME26TTGU7AE4N4ZLECF6N6AKGCZVJZ73DNH4ZFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P36GA5IO25XONVB2DJTBIEDTQXRIIGCFPXXWCM7FZOZWM6ZFGJ6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6U55LTUS7Y7BRR3DRR5UGGALBN6CKYWMA3UKNAWCON7WK6B2E2UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/236T7VP3TJ753PFKPO6JUHFOCS2TJ6SAG3LELXCD3H4AWVVG3G3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2SJH65T4N3P2VA5S5WV2QSR2VELJAYQJBHTIJOEJMHVLJW4H5VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IN7XIIP3XI6P7BXZHQ6TSBSMEV3FPBL33LBESXOPBECF2NOTSFYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWKRXLCXW5PCU3H3MR7ZYXMGT3QJHN25DBN25QV65X6HYZR4AMFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWQ3CC5JT5IZFY5MDE6WTQTW2FPCJIDRX3UIWUXE6V4AZ55GDZLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
[...]
