{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2021-10-26",
        "endpointPrefix": "refactor-spaces",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "AWS Migration Hub Refactor Spaces",
        "serviceId": "Migration Hub Refactor Spaces",
        "signatureVersion": "v4",
        "signingName": "refactor-spaces",
        "uid": "migration-hub-refactor-spaces-2021-10-26",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3NSVOY66HV25MSAX2J7F6VH5T2HLYUWVYRYFWH6V7Q3RZAB64MKQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XJNONKE5GRVGNXJTXXF366MSMWFMF7CNPUGFMMBYCWLZDRV2CQ4Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/S5AXO3M4H5MDBZFEWDKOR6OJ2LBRG7US2H4ZVXRRDSLGUWEMOC6Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KFE2S2K5TO5ISBKMW4TIW2KLV4WYULGR4IOVXJ5WGJ4SOFXNBZEA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/S5TJ77EXBN356452N3U7SCAMUXGD3EO46Y6QYIJPCNDJVGH3QVPQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IY3MGOO3ULQ4QAKR6RVNGVMGUBQLCDCEYUFLHRGLOA5WGUVDHJ7A/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IFFJJNCB25UOTVWF7JZYKPDN4BJWL3MNDDUZVRO5PL36DORNRIMQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/ICUJ632K3XEMRYPUEFPOAARN35H5CLCAOTV5AIWQSCGWZJF24MHQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7EEWD2X6CM2DRYELHFWPWKMUSIIW3V5HBV5KP5U655FVR64GELXQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PJ6F3IWGSRFGL7BBJS4GHJZ3HHCK3FCRTP6YG4Q3P3KXTKRY3AGA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RD3NJAL57SXGYGJXHGQESUR7K34I7QHLG4ZFX637NPAERZJO2BJQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js"
        ]
    },
    "operations": {
        "CreateApplication": {
            "http": {
                "requestUri": "/environments/{EnvironmentIdentifier}/applications",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "EnvironmentIdentifier",
                    "Name",
                    "ProxyType",
                    "VpcId"
                ],
                "members": {
                    "ApiGatewayProxy": {
                        "shape": "S2"
                    },
                    "ClientToken": {
                        "idempotencyToken": true
                    },
                    "EnvironmentIdentifier": {
                        "location": "uri",
                        "locationName": "EnvironmentIdentifier"
                    },
                    "Name": {},
                    "ProxyType": {},
                    "Tags": {
                        "shape": "S9"
                    },
                    "VpcId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ApiGatewayProxy": {
                        "shape": "S2"
                    },
                    "ApplicationId": {},
                    "Arn": {},
                    "CreatedByAccountId": {},
                    "CreatedTime": {
                        "type": "timestamp"
                    },
                    "EnvironmentId": {},
                    "LastUpdatedTime": {
                        "type": "timestamp"
                    },
                    "Name": {},
                    "OwnerAccountId": {},
                    "ProxyType": {},
                    "State": {},
                    "Tags": {
                        "shape": "S9"
                    },
                    "VpcId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NSVOY66HV25MSAX2J7F6VH5T2HLYUWVYRYFWH6V7Q3RZAB64MKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJNONKE5GRVGNXJTXXF366MSMWFMF7CNPUGFMMBYCWLZDRV2CQ4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S5AXO3M4H5MDBZFEWDKOR6OJ2LBRG7US2H4ZVXRRDSLGUWEMOC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFE2S2K5TO5ISBKMW4TIW2KLV4WYULGR4IOVXJ5WGJ4SOFXNBZEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S5TJ77EXBN356452N3U7SCAMUXGD3EO46Y6QYIJPCNDJVGH3QVPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IY3MGOO3ULQ4QAKR6RVNGVMGUBQLCDCEYUFLHRGLOA5WGUVDHJ7A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFFJJNCB25UOTVWF7JZYKPDN4BJWL3MNDDUZVRO5PL36DORNRIMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ICUJ632K3XEMRYPUEFPOAARN35H5CLCAOTV5AIWQSCGWZJF24MHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7EEWD2X6CM2DRYELHFWPWKMUSIIW3V5HBV5KP5U655FVR64GELXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJ6F3IWGSRFGL7BBJS4GHJZ3HHCK3FCRTP6YG4Q3P3KXTKRY3AGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD3NJAL57SXGYGJXHGQESUR7K34I7QHLG4ZFX637NPAERZJO2BJQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js"
            ]
        },
        "CreateEnvironment": {
            "http": {
                "requestUri": "/environments",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "NetworkFabricType"
                ],
                "members": {
                    "ClientToken": {
                        "idempotencyToken": true
                    },
                    "Description": {},
                    "Name": {},
                    "NetworkFabricType": {},
                    "Tags": {
                        "shape": "S9"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Arn": {},
                    "CreatedTime": {
                        "type": "timestamp"
                    },
                    "Description": {},
                    "EnvironmentId": {},
                    "LastUpdatedTime": {
                        "type": "timestamp"
                    },
                    "Name": {},
                    "NetworkFabricType": {},
                    "OwnerAccountId": {},
                    "State": {},
                    "Tags": {
                        "shape": "S9"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NSVOY66HV25MSAX2J7F6VH5T2HLYUWVYRYFWH6V7Q3RZAB64MKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJNONKE5GRVGNXJTXXF366MSMWFMF7CNPUGFMMBYCWLZDRV2CQ4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S5AXO3M4H5MDBZFEWDKOR6OJ2LBRG7US2H4ZVXRRDSLGUWEMOC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFE2S2K5TO5ISBKMW4TIW2KLV4WYULGR4IOVXJ5WGJ4SOFXNBZEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S5TJ77EXBN356452N3U7SCAMUXGD3EO46Y6QYIJPCNDJVGH3QVPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IY3MGOO3ULQ4QAKR6RVNGVMGUBQLCDCEYUFLHRGLOA5WGUVDHJ7A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFFJJNCB25UOTVWF7JZYKPDN4BJWL3MNDDUZVRO5PL36DORNRIMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ICUJ632K3XEMRYPUEFPOAARN35H5CLCAOTV5AIWQSCGWZJF24MHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7EEWD2X6CM2DRYELHFWPWKMUSIIW3V5HBV5KP5U655FVR64GELXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJ6F3IWGSRFGL7BBJS4GHJZ3HHCK3FCRTP6YG4Q3P3KXTKRY3AGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD3NJAL57SXGYGJXHGQESUR7K34I7QHLG4ZFX637NPAERZJO2BJQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js"
            ]
        },
        "CreateRoute": {
            "http": {
                "requestUri": "/environments/{EnvironmentIdentifier}/applications/{ApplicationIdentifier}/routes",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ApplicationIdentifier",
                    "EnvironmentIdentifier",
                    "RouteType",
                    "ServiceIdentifier"
                ],
                "members": {
                    "ApplicationIdentifier": {
                        "location": "uri",
                        "locationName": "ApplicationIdentifier"
                    },
                    "ClientToken": {
                        "idempotencyToken": true
                    },
                    "DefaultRoute": {
                        "type": "structure",
                        "members": {
                            "ActivationState": {}
                        }
                    },
                    "EnvironmentIdentifier": {
                        "location": "uri",
                        "locationName": "EnvironmentIdentifier"
                    },
                    "RouteType": {},
                    "ServiceIdentifier": {},
                    "Tags": {
                        "shape": "S9"
                    },
                    "UriPathRoute": {
                        "shape": "Su"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ApplicationId": {},
                    "Arn": {},
                    "CreatedByAccountId": {},
                    "CreatedTime": {
                        "type": "timestamp"
                    },
                    "LastUpdatedTime": {
                        "type": "timestamp"
                    },
                    "OwnerAccountId": {},
                    "RouteId": {},
                    "RouteType": {},
                    "ServiceId": {},
                    "State": {},
                    "Tags": {
                        "shape": "S9"
                    },
                    "UriPathRoute": {
                        "shape": "Su"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NSVOY66HV25MSAX2J7F6VH5T2HLYUWVYRYFWH6V7Q3RZAB64MKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJNONKE5GRVGNXJTXXF366MSMWFMF7CNPUGFMMBYCWLZDRV2CQ4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S5AXO3M4H5MDBZFEWDKOR6OJ2LBRG7US2H4ZVXRRDSLGUWEMOC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFE2S2K5TO5ISBKMW4TIW2KLV4WYULGR4IOVXJ5WGJ4SOFXNBZEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S5TJ77EXBN356452N3U7SCAMUXGD3EO46Y6QYIJPCNDJVGH3QVPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IY3MGOO3ULQ4QAKR6RVNGVMGUBQLCDCEYUFLHRGLOA5WGUVDHJ7A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFFJJNCB25UOTVWF7JZYKPDN4BJWL3MNDDUZVRO5PL36DORNRIMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ICUJ632K3XEMRYPUEFPOAARN35H5CLCAOTV5AIWQSCGWZJF24MHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7EEWD2X6CM2DRYELHFWPWKMUSIIW3V5HBV5KP5U655FVR64GELXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJ6F3IWGSRFGL7BBJS4GHJZ3HHCK3FCRTP6YG4Q3P3KXTKRY3AGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD3NJAL57SXGYGJXHGQESUR7K34I7QHLG4ZFX637NPAERZJO2BJQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js"
            ]
        },
        "CreateService": {
            "http": {
                "requestUri": "/environments/{EnvironmentIdentifier}/applications/{ApplicationIdentifier}/services",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ApplicationIdentifier",
                    "EndpointType",
                    "EnvironmentIdentifier",
                    "Name"
                ],
                "members": {
                    "ApplicationIdentifier": {
                        "location": "uri",
                        "locationName": "ApplicationIdentifier"
                    },
                    "ClientToken": {
                        "idempotencyToken": true
                    },
                    "Description": {},
                    "EndpointType": {},
                    "EnvironmentIdentifier": {
                        "location": "uri",
                        "locationName": "EnvironmentIdentifier"
                    },
                    "LambdaEndpoint": {
                        "shape": "S14"
                    },
                    "Name": {},
                    "Tags": {
                        "shape": "S9"
                    },
                    "UrlEndpoint": {
                        "shape": "S17"
                    },
                    "VpcId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ApplicationId": {},
                    "Arn": {},
                    "CreatedByAccountId": {},
                    "CreatedTime": {
                        "type": "timestamp"
                    },
                    "Description": {},
                    "EndpointType": {},
                    "EnvironmentId": {},
                    "LambdaEndpoint": {
                        "shape": "S14"
                    },
                    "LastUpdatedTime": {
                        "type": "timestamp"
                    },
                    "Name": {},
                    "OwnerAccountId": {},
                    "ServiceId": {},
                    "State": {},
                    "Tags": {
                        "shape": "S9"
                    },
                    "UrlEndpoint": {
                        "shape": "S17"
                    },
                    "VpcId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NSVOY66HV25MSAX2J7F6VH5T2HLYUWVYRYFWH6V7Q3RZAB64MKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJNONKE5GRVGNXJTXXF366MSMWFMF7CNPUGFMMBYCWLZDRV2CQ4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S5AXO3M4H5MDBZFEWDKOR6OJ2LBRG7US2H4ZVXRRDSLGUWEMOC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFE2S2K5TO5ISBKMW4TIW2KLV4WYULGR4IOVXJ5WGJ4SOFXNBZEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S5TJ77EXBN356452N3U7SCAMUXGD3EO46Y6QYIJPCNDJVGH3QVPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IY3MGOO3ULQ4QAKR6RVNGVMGUBQLCDCEYUFLHRGLOA5WGUVDHJ7A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFFJJNCB25UOTVWF7JZYKPDN4BJWL3MNDDUZVRO5PL36DORNRIMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ICUJ632K3XEMRYPUEFPOAARN35H5CLCAOTV5AIWQSCGWZJF24MHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7EEWD2X6CM2DRYELHFWPWKMUSIIW3V5HBV5KP5U655FVR64GELXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJ6F3IWGSRFGL7BBJS4GHJZ3HHCK3FCRTP6YG4Q3P3KXTKRY3AGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD3NJAL57SXGYGJXHGQESUR7K34I7QHLG4ZFX637NPAERZJO2BJQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js"
            ]
        },
        "DeleteApplication": {
            "http": {
                "method": "DELETE",
                "requestUri": "/environments/{EnvironmentIdentifier}/applications/{ApplicationIdentifier}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ApplicationIdentifier",
                    "EnvironmentIdentifier"
                ],
                "members": {
                    "ApplicationIdentifier": {
                        "location": "uri",
                        "locationName": "ApplicationIdentifier"
                    },
                    "EnvironmentIdentifier": {
                        "location": "uri",
                        "locationName": "EnvironmentIdentifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ApplicationId": {},
                    "Arn": {},
                    "EnvironmentId": {},
                    "LastUpdatedTime": {
                        "type": "timestamp"
                    },
                    "Name": {},
                    "State": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NSVOY66HV25MSAX2J7F6VH5T2HLYUWVYRYFWH6V7Q3RZAB64MKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJNONKE5GRVGNXJTXXF366MSMWFMF7CNPUGFMMBYCWLZDRV2CQ4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S5AXO3M4H5MDBZFEWDKOR6OJ2LBRG7US2H4ZVXRRDSLGUWEMOC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFE2S2K5TO5ISBKMW4TIW2KLV4WYULGR4IOVXJ5WGJ4SOFXNBZEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S5TJ77EXBN356452N3U7SCAMUXGD3EO46Y6QYIJPCNDJVGH3QVPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IY3MGOO3ULQ4QAKR6RVNGVMGUBQLCDCEYUFLHRGLOA5WGUVDHJ7A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFFJJNCB25UOTVWF7JZYKPDN4BJWL3MNDDUZVRO5PL36DORNRIMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ICUJ632K3XEMRYPUEFPOAARN35H5CLCAOTV5AIWQSCGWZJF24MHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7EEWD2X6CM2DRYELHFWPWKMUSIIW3V5HBV5KP5U655FVR64GELXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJ6F3IWGSRFGL7BBJS4GHJZ3HHCK3FCRTP6YG4Q3P3KXTKRY3AGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD3NJAL57SXGYGJXHGQESUR7K34I7QHLG4ZFX637NPAERZJO2BJQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js"
            ]
        },
        "DeleteEnvironment": {
            "http": {
                "method": "DELETE",
                "requestUri": "/environments/{EnvironmentIdentifier}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "EnvironmentIdentifier"
                ],
                "members": {
                    "EnvironmentIdentifier": {
                        "location": "uri",
                        "locationName": "EnvironmentIdentifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Arn": {},
                    "EnvironmentId": {},
                    "LastUpdatedTime": {
                        "type": "timestamp"
                    },
                    "Name": {},
                    "State": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NSVOY66HV25MSAX2J7F6VH5T2HLYUWVYRYFWH6V7Q3RZAB64MKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJNONKE5GRVGNXJTXXF366MSMWFMF7CNPUGFMMBYCWLZDRV2CQ4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S5AXO3M4H5MDBZFEWDKOR6OJ2LBRG7US2H4ZVXRRDSLGUWEMOC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFE2S2K5TO5ISBKMW4TIW2KLV4WYULGR4IOVXJ5WGJ4SOFXNBZEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S5TJ77EXBN356452N3U7SCAMUXGD3EO46Y6QYIJPCNDJVGH3QVPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IY3MGOO3ULQ4QAKR6RVNGVMGUBQLCDCEYUFLHRGLOA5WGUVDHJ7A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFFJJNCB25UOTVWF7JZYKPDN4BJWL3MNDDUZVRO5PL36DORNRIMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ICUJ632K3XEMRYPUEFPOAARN35H5CLCAOTV5AIWQSCGWZJF24MHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7EEWD2X6CM2DRYELHFWPWKMUSIIW3V5HBV5KP5U655FVR64GELXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJ6F3IWGSRFGL7BBJS4GHJZ3HHCK3FCRTP6YG4Q3P3KXTKRY3AGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD3NJAL57SXGYGJXHGQESUR7K34I7QHLG4ZFX637NPAERZJO2BJQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js"
            ]
        },
        "DeleteResourcePolicy": {
            "http": {
                "method": "DELETE",
                "requestUri": "/resourcepolicy/{Identifier}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Identifier"
                ],
                "members": {
                    "Identifier": {
                        "location": "uri",
                        "locationName": "Identifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NSVOY66HV25MSAX2J7F6VH5T2HLYUWVYRYFWH6V7Q3RZAB64MKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJNONKE5GRVGNXJTXXF366MSMWFMF7CNPUGFMMBYCWLZDRV2CQ4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S5AXO3M4H5MDBZFEWDKOR6OJ2LBRG7US2H4ZVXRRDSLGUWEMOC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFE2S2K5TO5ISBKMW4TIW2KLV4WYULGR4IOVXJ5WGJ4SOFXNBZEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S5TJ77EXBN356452N3U7SCAMUXGD3EO46Y6QYIJPCNDJVGH3QVPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IY3MGOO3ULQ4QAKR6RVNGVMGUBQLCDCEYUFLHRGLOA5WGUVDHJ7A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFFJJNCB25UOTVWF7JZYKPDN4BJWL3MNDDUZVRO5PL36DORNRIMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ICUJ632K3XEMRYPUEFPOAARN35H5CLCAOTV5AIWQSCGWZJF24MHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7EEWD2X6CM2DRYELHFWPWKMUSIIW3V5HBV5KP5U655FVR64GELXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJ6F3IWGSRFGL7BBJS4GHJZ3HHCK3FCRTP6YG4Q3P3KXTKRY3AGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD3NJAL57SXGYGJXHGQESUR7K34I7QHLG4ZFX637NPAERZJO2BJQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js"
            ]
        },
        "DeleteRoute": {
            "http": {
                "method": "DELETE",
                "requestUri": "/environments/{EnvironmentIdentifier}/applications/{ApplicationIdentifier}/routes/{RouteIdentifier}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ApplicationIdentifier",
                    "EnvironmentIdentifier",
                    "RouteIdentifier"
                ],
                "members": {
                    "ApplicationIdentifier": {
                        "location": "uri",
                        "locationName": "ApplicationIdentifier"
                    },
                    "EnvironmentIdentifier": {
                        "location": "uri",
                        "locationName": "EnvironmentIdentifier"
                    },
                    "RouteIdentifier": {
                        "location": "uri",
                        "locationName": "RouteIdentifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ApplicationId": {},
                    "Arn": {},
                    "LastUpdatedTime": {
                        "type": "timestamp"
                    },
                    "RouteId": {},
                    "ServiceId": {},
                    "State": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NSVOY66HV25MSAX2J7F6VH5T2HLYUWVYRYFWH6V7Q3RZAB64MKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJNONKE5GRVGNXJTXXF366MSMWFMF7CNPUGFMMBYCWLZDRV2CQ4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S5AXO3M4H5MDBZFEWDKOR6OJ2LBRG7US2H4ZVXRRDSLGUWEMOC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFE2S2K5TO5ISBKMW4TIW2KLV4WYULGR4IOVXJ5WGJ4SOFXNBZEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S5TJ77EXBN356452N3U7SCAMUXGD3EO46Y6QYIJPCNDJVGH3QVPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IY3MGOO3ULQ4QAKR6RVNGVMGUBQLCDCEYUFLHRGLOA5WGUVDHJ7A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFFJJNCB25UOTVWF7JZYKPDN4BJWL3MNDDUZVRO5PL36DORNRIMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ICUJ632K3XEMRYPUEFPOAARN35H5CLCAOTV5AIWQSCGWZJF24MHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7EEWD2X6CM2DRYELHFWPWKMUSIIW3V5HBV5KP5U655FVR64GELXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJ6F3IWGSRFGL7BBJS4GHJZ3HHCK3FCRTP6YG4Q3P3KXTKRY3AGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD3NJAL57SXGYGJXHGQESUR7K34I7QHLG4ZFX637NPAERZJO2BJQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js"
            ]
        },
        "DeleteService": {
            "http": {
                "method": "DELETE",
                "requestUri": "/environments/{EnvironmentIdentifier}/applications/{ApplicationIdentifier}/services/{ServiceIdentifier}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ApplicationIdentifier",
                    "EnvironmentIdentifier",
                    "ServiceIdentifier"
                ],
                "members": {
                    "ApplicationIdentifier": {
                        "location": "uri",
                        "locationName": "ApplicationIdentifier"
                    },
                    "EnvironmentIdentifier": {
                        "location": "uri",
                        "locationName": "EnvironmentIdentifier"
                    },
                    "ServiceIdentifier": {
                        "location": "uri",
                        "locationName": "ServiceIdentifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ApplicationId": {},
                    "Arn": {},
                    "EnvironmentId": {},
                    "LastUpdatedTime": {
                        "type": "timestamp"
                    },
                    "Name": {},
                    "ServiceId": {},
                    "State": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NSVOY66HV25MSAX2J7F6VH5T2HLYUWVYRYFWH6V7Q3RZAB64MKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJNONKE5GRVGNXJTXXF366MSMWFMF7CNPUGFMMBYCWLZDRV2CQ4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S5AXO3M4H5MDBZFEWDKOR6OJ2LBRG7US2H4ZVXRRDSLGUWEMOC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFE2S2K5TO5ISBKMW4TIW2KLV4WYULGR4IOVXJ5WGJ4SOFXNBZEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S5TJ77EXBN356452N3U7SCAMUXGD3EO46Y6QYIJPCNDJVGH3QVPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IY3MGOO3ULQ4QAKR6RVNGVMGUBQLCDCEYUFLHRGLOA5WGUVDHJ7A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFFJJNCB25UOTVWF7JZYKPDN4BJWL3MNDDUZVRO5PL36DORNRIMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ICUJ632K3XEMRYPUEFPOAARN35H5CLCAOTV5AIWQSCGWZJF24MHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7EEWD2X6CM2DRYELHFWPWKMUSIIW3V5HBV5KP5U655FVR64GELXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJ6F3IWGSRFGL7BBJS4GHJZ3HHCK3FCRTP6YG4Q3P3KXTKRY3AGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD3NJAL57SXGYGJXHGQESUR7K34I7QHLG4ZFX637NPAERZJO2BJQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js"
            ]
        },
        "GetApplication": {
            "http": {
                "method": "GET",
                "requestUri": "/environments/{EnvironmentIdentifier}/applications/{ApplicationIdentifier}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ApplicationIdentifier",
                    "EnvironmentIdentifier"
                ],
                "members": {
                    "ApplicationIdentifier": {
                        "location": "uri",
                        "locationName": "ApplicationIdentifier"
                    },
                    "EnvironmentIdentifier": {
                        "location": "uri",
                        "locationName": "EnvironmentIdentifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ApiGatewayProxy": {
                        "type": "structure",
                        "members": {
                            "ApiGatewayId": {},
                            "EndpointType": {},
                            "NlbArn": {},
                            "NlbName": {},
                            "ProxyUrl": {},
                            "StageName": {},
                            "VpcLinkId": {}
                        }
                    },
                    "ApplicationId": {},
                    "Arn": {},
                    "CreatedByAccountId": {},
                    "CreatedTime": {
                        "type": "timestamp"
                    },
                    "EnvironmentId": {},
                    "Error": {
                        "shape": "S1t"
                    },
                    "LastUpdatedTime": {
                        "type": "timestamp"
                    },
                    "Name": {},
                    "OwnerAccountId": {},
                    "ProxyType": {},
                    "State": {},
                    "Tags": {
                        "shape": "S9"
                    },
                    "VpcId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NSVOY66HV25MSAX2J7F6VH5T2HLYUWVYRYFWH6V7Q3RZAB64MKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJNONKE5GRVGNXJTXXF366MSMWFMF7CNPUGFMMBYCWLZDRV2CQ4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S5AXO3M4H5MDBZFEWDKOR6OJ2LBRG7US2H4ZVXRRDSLGUWEMOC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFE2S2K5TO5ISBKMW4TIW2KLV4WYULGR4IOVXJ5WGJ4SOFXNBZEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S5TJ77EXBN356452N3U7SCAMUXGD3EO46Y6QYIJPCNDJVGH3QVPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IY3MGOO3ULQ4QAKR6RVNGVMGUBQLCDCEYUFLHRGLOA5WGUVDHJ7A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFFJJNCB25UOTVWF7JZYKPDN4BJWL3MNDDUZVRO5PL36DORNRIMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ICUJ632K3XEMRYPUEFPOAARN35H5CLCAOTV5AIWQSCGWZJF24MHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7EEWD2X6CM2DRYELHFWPWKMUSIIW3V5HBV5KP5U655FVR64GELXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJ6F3IWGSRFGL7BBJS4GHJZ3HHCK3FCRTP6YG4Q3P3KXTKRY3AGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD3NJAL57SXGYGJXHGQESUR7K34I7QHLG4ZFX637NPAERZJO2BJQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js"
            ]
        },
        "GetEnvironment": {
            "http": {
                "method": "GET",
                "requestUri": "/environments/{EnvironmentIdentifier}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "EnvironmentIdentifier"
                ],
                "members": {
                    "EnvironmentIdentifier": {
                        "location": "uri",
                        "locationName": "EnvironmentIdentifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Arn": {},
                    "CreatedTime": {
                        "type": "timestamp"
                    },
                    "Description": {},
                    "EnvironmentId": {},
                    "Error": {
                        "shape": "S1t"
                    },
                    "LastUpdatedTime": {
                        "type": "timestamp"
                    },
                    "Name": {},
                    "NetworkFabricType": {},
                    "OwnerAccountId": {},
                    "State": {},
                    "Tags": {
                        "shape": "S9"
                    },
                    "TransitGatewayId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NSVOY66HV25MSAX2J7F6VH5T2HLYUWVYRYFWH6V7Q3RZAB64MKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJNONKE5GRVGNXJTXXF366MSMWFMF7CNPUGFMMBYCWLZDRV2CQ4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S5AXO3M4H5MDBZFEWDKOR6OJ2LBRG7US2H4ZVXRRDSLGUWEMOC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFE2S2K5TO5ISBKMW4TIW2KLV4WYULGR4IOVXJ5WGJ4SOFXNBZEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S5TJ77EXBN356452N3U7SCAMUXGD3EO46Y6QYIJPCNDJVGH3QVPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IY3MGOO3ULQ4QAKR6RVNGVMGUBQLCDCEYUFLHRGLOA5WGUVDHJ7A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFFJJNCB25UOTVWF7JZYKPDN4BJWL3MNDDUZVRO5PL36DORNRIMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ICUJ632K3XEMRYPUEFPOAARN35H5CLCAOTV5AIWQSCGWZJF24MHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7EEWD2X6CM2DRYELHFWPWKMUSIIW3V5HBV5KP5U655FVR64GELXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJ6F3IWGSRFGL7BBJS4GHJZ3HHCK3FCRTP6YG4Q3P3KXTKRY3AGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD3NJAL57SXGYGJXHGQESUR7K34I7QHLG4ZFX637NPAERZJO2BJQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js"
            ]
        },
        "GetResourcePolicy": {
            "http": {
                "method": "GET",
                "requestUri": "/resourcepolicy/{Identifier}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Identifier"
                ],
                "members": {
                    "Identifier": {
                        "location": "uri",
                        "locationName": "Identifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Policy": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NSVOY66HV25MSAX2J7F6VH5T2HLYUWVYRYFWH6V7Q3RZAB64MKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJNONKE5GRVGNXJTXXF366MSMWFMF7CNPUGFMMBYCWLZDRV2CQ4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S5AXO3M4H5MDBZFEWDKOR6OJ2LBRG7US2H4ZVXRRDSLGUWEMOC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFE2S2K5TO5ISBKMW4TIW2KLV4WYULGR4IOVXJ5WGJ4SOFXNBZEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S5TJ77EXBN356452N3U7SCAMUXGD3EO46Y6QYIJPCNDJVGH3QVPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IY3MGOO3ULQ4QAKR6RVNGVMGUBQLCDCEYUFLHRGLOA5WGUVDHJ7A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFFJJNCB25UOTVWF7JZYKPDN4BJWL3MNDDUZVRO5PL36DORNRIMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ICUJ632K3XEMRYPUEFPOAARN35H5CLCAOTV5AIWQSCGWZJF24MHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7EEWD2X6CM2DRYELHFWPWKMUSIIW3V5HBV5KP5U655FVR64GELXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJ6F3IWGSRFGL7BBJS4GHJZ3HHCK3FCRTP6YG4Q3P3KXTKRY3AGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD3NJAL57SXGYGJXHGQESUR7K34I7QHLG4ZFX637NPAERZJO2BJQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js"
            ]
        },
        "GetRoute": {
            "http": {
                "method": "GET",
                "requestUri": "/environments/{EnvironmentIdentifier}/applications/{ApplicationIdentifier}/routes/{RouteIdentifier}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ApplicationIdentifier",
                    "EnvironmentIdentifier",
                    "RouteIdentifier"
                ],
                "members": {
                    "ApplicationIdentifier": {
                        "location": "uri",
                        "locationName": "ApplicationIdentifier"
                    },
                    "EnvironmentIdentifier": {
                        "location": "uri",
                        "locationName": "EnvironmentIdentifier"
                    },
                    "RouteIdentifier": {
                        "location": "uri",
                        "locationName": "RouteIdentifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ApplicationId": {},
                    "Arn": {},
                    "CreatedByAccountId": {},
                    "CreatedTime": {
                        "type": "timestamp"
                    },
                    "EnvironmentId": {},
                    "Error": {
                        "shape": "S1t"
                    },
                    "IncludeChildPaths": {
                        "type": "boolean"
                    },
                    "LastUpdatedTime": {
                        "type": "timestamp"
                    },
                    "Methods": {
                        "shape": "Sw"
                    },
                    "OwnerAccountId": {},
                    "PathResourceToId": {
                        "shape": "S29"
                    },
                    "RouteId": {},
                    "RouteType": {},
                    "ServiceId": {},
                    "SourcePath": {},
                    "State": {},
                    "Tags": {
                        "shape": "S9"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NSVOY66HV25MSAX2J7F6VH5T2HLYUWVYRYFWH6V7Q3RZAB64MKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJNONKE5GRVGNXJTXXF366MSMWFMF7CNPUGFMMBYCWLZDRV2CQ4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S5AXO3M4H5MDBZFEWDKOR6OJ2LBRG7US2H4ZVXRRDSLGUWEMOC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFE2S2K5TO5ISBKMW4TIW2KLV4WYULGR4IOVXJ5WGJ4SOFXNBZEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S5TJ77EXBN356452N3U7SCAMUXGD3EO46Y6QYIJPCNDJVGH3QVPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IY3MGOO3ULQ4QAKR6RVNGVMGUBQLCDCEYUFLHRGLOA5WGUVDHJ7A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFFJJNCB25UOTVWF7JZYKPDN4BJWL3MNDDUZVRO5PL36DORNRIMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ICUJ632K3XEMRYPUEFPOAARN35H5CLCAOTV5AIWQSCGWZJF24MHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7EEWD2X6CM2DRYELHFWPWKMUSIIW3V5HBV5KP5U655FVR64GELXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJ6F3IWGSRFGL7BBJS4GHJZ3HHCK3FCRTP6YG4Q3P3KXTKRY3AGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD3NJAL57SXGYGJXHGQESUR7K34I7QHLG4ZFX637NPAERZJO2BJQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js"
            ]
        },
        "GetService": {
            "http": {
                "method": "GET",
                "requestUri": "/environments/{EnvironmentIdentifier}/applications/{ApplicationIdentifier}/services/{ServiceIdentifier}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ApplicationIdentifier",
                    "EnvironmentIdentifier",
                    "ServiceIdentifier"
                ],
                "members": {
                    "ApplicationIdentifier": {
                        "location": "uri",
                        "locationName": "ApplicationIdentifier"
                    },
                    "EnvironmentIdentifier": {
                        "location": "uri",
                        "locationName": "EnvironmentIdentifier"
                    },
                    "ServiceIdentifier": {
                        "location": "uri",
                        "locationName": "ServiceIdentifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ApplicationId": {},
                    "Arn": {},
                    "CreatedByAccountId": {},
                    "CreatedTime": {
                        "type": "timestamp"
                    },
                    "Description": {},
                    "EndpointType": {},
                    "EnvironmentId": {},
                    "Error": {
                        "shape": "S1t"
                    },
                    "LambdaEndpoint": {
                        "type": "structure",
                        "members": {
                            "Arn": {}
                        }
                    },
                    "LastUpdatedTime": {
                        "type": "timestamp"
                    },
                    "Name": {},
                    "OwnerAccountId": {},
                    "ServiceId": {},
                    "State": {},
                    "Tags": {
                        "shape": "S9"
                    },
                    "UrlEndpoint": {
                        "type": "structure",
                        "members": {
                            "HealthUrl": {},
                            "Url": {}
                        }
                    },
                    "VpcId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NSVOY66HV25MSAX2J7F6VH5T2HLYUWVYRYFWH6V7Q3RZAB64MKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJNONKE5GRVGNXJTXXF366MSMWFMF7CNPUGFMMBYCWLZDRV2CQ4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S5AXO3M4H5MDBZFEWDKOR6OJ2LBRG7US2H4ZVXRRDSLGUWEMOC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFE2S2K5TO5ISBKMW4TIW2KLV4WYULGR4IOVXJ5WGJ4SOFXNBZEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S5TJ77EXBN356452N3U7SCAMUXGD3EO46Y6QYIJPCNDJVGH3QVPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IY3MGOO3ULQ4QAKR6RVNGVMGUBQLCDCEYUFLHRGLOA5WGUVDHJ7A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFFJJNCB25UOTVWF7JZYKPDN4BJWL3MNDDUZVRO5PL36DORNRIMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ICUJ632K3XEMRYPUEFPOAARN35H5CLCAOTV5AIWQSCGWZJF24MHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7EEWD2X6CM2DRYELHFWPWKMUSIIW3V5HBV5KP5U655FVR64GELXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJ6F3IWGSRFGL7BBJS4GHJZ3HHCK3FCRTP6YG4Q3P3KXTKRY3AGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD3NJAL57SXGYGJXHGQESUR7K34I7QHLG4ZFX637NPAERZJO2BJQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js"
            ]
        },
        "ListApplications": {
            "http": {
                "method": "GET",
                "requestUri": "/environments/{EnvironmentIdentifier}/applications",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "EnvironmentIdentifier"
                ],
                "members": {
                    "EnvironmentIdentifier": {
                        "location": "uri",
                        "locationName": "EnvironmentIdentifier"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ApplicationSummaryList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ApiGatewayProxy": {
                                    "type": "structure",
                                    "members": {
                                        "ApiGatewayId": {},
                                        "EndpointType": {},
                                        "NlbArn": {},
                                        "NlbName": {},
                                        "ProxyUrl": {},
                                        "StageName": {},
                                        "VpcLinkId": {}
                                    }
                                },
                                "ApplicationId": {},
                                "Arn": {},
                                "CreatedByAccountId": {},
                                "CreatedTime": {
                                    "type": "timestamp"
                                },
                                "EnvironmentId": {},
                                "Error": {
                                    "shape": "S1t"
                                },
                                "LastUpdatedTime": {
                                    "type": "timestamp"
                                },
                                "Name": {},
                                "OwnerAccountId": {},
                                "ProxyType": {},
                                "State": {},
                                "Tags": {
                                    "shape": "S9"
                                },
                                "VpcId": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NSVOY66HV25MSAX2J7F6VH5T2HLYUWVYRYFWH6V7Q3RZAB64MKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJNONKE5GRVGNXJTXXF366MSMWFMF7CNPUGFMMBYCWLZDRV2CQ4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S5AXO3M4H5MDBZFEWDKOR6OJ2LBRG7US2H4ZVXRRDSLGUWEMOC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFE2S2K5TO5ISBKMW4TIW2KLV4WYULGR4IOVXJ5WGJ4SOFXNBZEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S5TJ77EXBN356452N3U7SCAMUXGD3EO46Y6QYIJPCNDJVGH3QVPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IY3MGOO3ULQ4QAKR6RVNGVMGUBQLCDCEYUFLHRGLOA5WGUVDHJ7A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFFJJNCB25UOTVWF7JZYKPDN4BJWL3MNDDUZVRO5PL36DORNRIMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ICUJ632K3XEMRYPUEFPOAARN35H5CLCAOTV5AIWQSCGWZJF24MHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7EEWD2X6CM2DRYELHFWPWKMUSIIW3V5HBV5KP5U655FVR64GELXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJ6F3IWGSRFGL7BBJS4GHJZ3HHCK3FCRTP6YG4Q3P3KXTKRY3AGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD3NJAL57SXGYGJXHGQESUR7K34I7QHLG4ZFX637NPAERZJO2BJQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js"
            ]
        },
        "ListEnvironmentVpcs": {
            "http": {
                "method": "GET",
                "requestUri": "/environments/{EnvironmentIdentifier}/vpcs",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "EnvironmentIdentifier"
                ],
                "members": {
                    "EnvironmentIdentifier": {
                        "location": "uri",
                        "locationName": "EnvironmentIdentifier"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "EnvironmentVpcList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "AccountId": {},
                                "CidrBlocks": {
                                    "type": "list",
                                    "member": {}
                                },
                                "CreatedTime": {
                                    "type": "timestamp"
                                },
                                "EnvironmentId": {},
                                "LastUpdatedTime": {
                                    "type": "timestamp"
                                },
                                "VpcId": {},
                                "VpcName": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NSVOY66HV25MSAX2J7F6VH5T2HLYUWVYRYFWH6V7Q3RZAB64MKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJNONKE5GRVGNXJTXXF366MSMWFMF7CNPUGFMMBYCWLZDRV2CQ4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S5AXO3M4H5MDBZFEWDKOR6OJ2LBRG7US2H4ZVXRRDSLGUWEMOC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFE2S2K5TO5ISBKMW4TIW2KLV4WYULGR4IOVXJ5WGJ4SOFXNBZEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S5TJ77EXBN356452N3U7SCAMUXGD3EO46Y6QYIJPCNDJVGH3QVPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IY3MGOO3ULQ4QAKR6RVNGVMGUBQLCDCEYUFLHRGLOA5WGUVDHJ7A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFFJJNCB25UOTVWF7JZYKPDN4BJWL3MNDDUZVRO5PL36DORNRIMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ICUJ632K3XEMRYPUEFPOAARN35H5CLCAOTV5AIWQSCGWZJF24MHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7EEWD2X6CM2DRYELHFWPWKMUSIIW3V5HBV5KP5U655FVR64GELXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJ6F3IWGSRFGL7BBJS4GHJZ3HHCK3FCRTP6YG4Q3P3KXTKRY3AGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD3NJAL57SXGYGJXHGQESUR7K34I7QHLG4ZFX637NPAERZJO2BJQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js"
            ]
        },
        "ListEnvironments": {
            "http": {
                "method": "GET",
                "requestUri": "/environments",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "EnvironmentSummaryList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Arn": {},
                                "CreatedTime": {
                                    "type": "timestamp"
                                },
                                "Description": {},
                                "EnvironmentId": {},
                                "Error": {
                                    "shape": "S1t"
                                },
                                "LastUpdatedTime": {
                                    "type": "timestamp"
                                },
                                "Name": {},
                                "NetworkFabricType": {},
                                "OwnerAccountId": {},
                                "State": {},
                                "Tags": {
                                    "shape": "S9"
                                },
                                "TransitGatewayId": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NSVOY66HV25MSAX2J7F6VH5T2HLYUWVYRYFWH6V7Q3RZAB64MKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJNONKE5GRVGNXJTXXF366MSMWFMF7CNPUGFMMBYCWLZDRV2CQ4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S5AXO3M4H5MDBZFEWDKOR6OJ2LBRG7US2H4ZVXRRDSLGUWEMOC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFE2S2K5TO5ISBKMW4TIW2KLV4WYULGR4IOVXJ5WGJ4SOFXNBZEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S5TJ77EXBN356452N3U7SCAMUXGD3EO46Y6QYIJPCNDJVGH3QVPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IY3MGOO3ULQ4QAKR6RVNGVMGUBQLCDCEYUFLHRGLOA5WGUVDHJ7A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFFJJNCB25UOTVWF7JZYKPDN4BJWL3MNDDUZVRO5PL36DORNRIMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ICUJ632K3XEMRYPUEFPOAARN35H5CLCAOTV5AIWQSCGWZJF24MHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7EEWD2X6CM2DRYELHFWPWKMUSIIW3V5HBV5KP5U655FVR64GELXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJ6F3IWGSRFGL7BBJS4GHJZ3HHCK3FCRTP6YG4Q3P3KXTKRY3AGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD3NJAL57SXGYGJXHGQESUR7K34I7QHLG4ZFX637NPAERZJO2BJQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js"
            ]
        },
        "ListRoutes": {
            "http": {
                "method": "GET",
                "requestUri": "/environments/{EnvironmentIdentifier}/applications/{ApplicationIdentifier}/routes",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ApplicationIdentifier",
                    "EnvironmentIdentifier"
                ],
                "members": {
                    "ApplicationIdentifier": {
                        "location": "uri",
                        "locationName": "ApplicationIdentifier"
                    },
                    "EnvironmentIdentifier": {
                        "location": "uri",
                        "locationName": "EnvironmentIdentifier"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "RouteSummaryList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ApplicationId": {},
                                "Arn": {},
                                "CreatedByAccountId": {},
                                "CreatedTime": {
                                    "type": "timestamp"
                                },
                                "EnvironmentId": {},
                                "Error": {
                                    "shape": "S1t"
                                },
                                "IncludeChildPaths": {
                                    "type": "boolean"
                                },
                                "LastUpdatedTime": {
                                    "type": "timestamp"
                                },
                                "Methods": {
                                    "shape": "Sw"
                                },
                                "OwnerAccountId": {},
                                "PathResourceToId": {
                                    "shape": "S29"
                                },
                                "RouteId": {},
                                "RouteType": {},
                                "ServiceId": {},
                                "SourcePath": {},
                                "State": {},
                                "Tags": {
                                    "shape": "S9"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NSVOY66HV25MSAX2J7F6VH5T2HLYUWVYRYFWH6V7Q3RZAB64MKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJNONKE5GRVGNXJTXXF366MSMWFMF7CNPUGFMMBYCWLZDRV2CQ4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S5AXO3M4H5MDBZFEWDKOR6OJ2LBRG7US2H4ZVXRRDSLGUWEMOC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFE2S2K5TO5ISBKMW4TIW2KLV4WYULGR4IOVXJ5WGJ4SOFXNBZEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S5TJ77EXBN356452N3U7SCAMUXGD3EO46Y6QYIJPCNDJVGH3QVPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IY3MGOO3ULQ4QAKR6RVNGVMGUBQLCDCEYUFLHRGLOA5WGUVDHJ7A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFFJJNCB25UOTVWF7JZYKPDN4BJWL3MNDDUZVRO5PL36DORNRIMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ICUJ632K3XEMRYPUEFPOAARN35H5CLCAOTV5AIWQSCGWZJF24MHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7EEWD2X6CM2DRYELHFWPWKMUSIIW3V5HBV5KP5U655FVR64GELXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJ6F3IWGSRFGL7BBJS4GHJZ3HHCK3FCRTP6YG4Q3P3KXTKRY3AGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD3NJAL57SXGYGJXHGQESUR7K34I7QHLG4ZFX637NPAERZJO2BJQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js"
            ]
        },
        "ListServices": {
            "http": {
                "method": "GET",
                "requestUri": "/environments/{EnvironmentIdentifier}/applications/{ApplicationIdentifier}/services",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ApplicationIdentifier",
                    "EnvironmentIdentifier"
                ],
                "members": {
                    "ApplicationIdentifier": {
                        "location": "uri",
                        "locationName": "ApplicationIdentifier"
                    },
                    "EnvironmentIdentifier": {
                        "location": "uri",
                        "locationName": "EnvironmentIdentifier"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "ServiceSummaryList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ApplicationId": {},
                                "Arn": {},
                                "CreatedByAccountId": {},
                                "CreatedTime": {
                                    "type": "timestamp"
                                },
                                "Description": {},
                                "EndpointType": {},
                                "EnvironmentId": {},
                                "Error": {
                                    "shape": "S1t"
                                },
                                "LambdaEndpoint": {
                                    "type": "structure",
                                    "members": {
                                        "Arn": {}
                                    }
                                },
                                "LastUpdatedTime": {
                                    "type": "timestamp"
                                },
                                "Name": {},
                                "OwnerAccountId": {},
                                "ServiceId": {},
                                "State": {},
                                "Tags": {
                                    "shape": "S9"
                                },
                                "UrlEndpoint": {
                                    "type": "structure",
                                    "members": {
                                        "HealthUrl": {},
                                        "Url": {}
                                    }
                                },
                                "VpcId": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NSVOY66HV25MSAX2J7F6VH5T2HLYUWVYRYFWH6V7Q3RZAB64MKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJNONKE5GRVGNXJTXXF366MSMWFMF7CNPUGFMMBYCWLZDRV2CQ4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S5AXO3M4H5MDBZFEWDKOR6OJ2LBRG7US2H4ZVXRRDSLGUWEMOC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFE2S2K5TO5ISBKMW4TIW2KLV4WYULGR4IOVXJ5WGJ4SOFXNBZEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S5TJ77EXBN356452N3U7SCAMUXGD3EO46Y6QYIJPCNDJVGH3QVPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IY3MGOO3ULQ4QAKR6RVNGVMGUBQLCDCEYUFLHRGLOA5WGUVDHJ7A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFFJJNCB25UOTVWF7JZYKPDN4BJWL3MNDDUZVRO5PL36DORNRIMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ICUJ632K3XEMRYPUEFPOAARN35H5CLCAOTV5AIWQSCGWZJF24MHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7EEWD2X6CM2DRYELHFWPWKMUSIIW3V5HBV5KP5U655FVR64GELXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJ6F3IWGSRFGL7BBJS4GHJZ3HHCK3FCRTP6YG4Q3P3KXTKRY3AGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD3NJAL57SXGYGJXHGQESUR7K34I7QHLG4ZFX637NPAERZJO2BJQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js"
            ]
        },
        "ListTagsForResource": {
            "http": {
                "method": "GET",
                "requestUri": "/tags/{ResourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn"
                ],
                "members": {
                    "ResourceArn": {
                        "location": "uri",
                        "locationName": "ResourceArn"
                    }
                }
            },
            "output": {
                "type": "structure",
[...]
