{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2020-08-07",
        "endpointPrefix": "models-v2-lex",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceAbbreviation": "Lex Models V2",
        "serviceFullName": "Amazon Lex Model Building V2",
        "serviceId": "Lex Models V2",
        "signatureVersion": "v4",
        "signingName": "lex",
        "uid": "models.lex.v2-2020-08-07",
        "download_location": [
            "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
            "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SME5LKPAEREKNPLWZ4A6OH3OW6SWPLJWIHYLZJGZAOZGKQWMU4PQ/vendors.js"
        ]
    },
    "operations": {
        "BatchCreateCustomVocabularyItem": {
            "http": {
                "method": "PUT",
                "requestUri": "/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/customvocabulary/DEFAULT/batchcreate",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "botId",
                    "botVersion",
                    "localeId",
                    "customVocabularyItemList"
                ],
                "members": {
                    "botId": {
                        "location": "uri",
                        "locationName": "botId"
                    },
                    "botVersion": {
                        "location": "uri",
                        "locationName": "botVersion"
                    },
                    "localeId": {
                        "location": "uri",
                        "locationName": "localeId"
                    },
                    "customVocabularyItemList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "phrase"
                            ],
                            "members": {
                                "phrase": {},
                                "weight": {
                                    "type": "integer"
                                },
                                "displayAs": {}
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "botId": {},
                    "botVersion": {},
                    "localeId": {},
                    "errors": {
                        "shape": "Sa"
                    },
                    "resources": {
                        "shape": "Sf"
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SME5LKPAEREKNPLWZ4A6OH3OW6SWPLJWIHYLZJGZAOZGKQWMU4PQ/vendors.js"
            ]
        },
        "BatchDeleteCustomVocabularyItem": {
            "http": {
                "requestUri": "/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/customvocabulary/DEFAULT/batchdelete",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "botId",
                    "botVersion",
                    "localeId",
                    "customVocabularyItemList"
                ],
                "members": {
                    "botId": {
                        "location": "uri",
                        "locationName": "botId"
                    },
                    "botVersion": {
                        "location": "uri",
                        "locationName": "botVersion"
                    },
                    "localeId": {
                        "location": "uri",
                        "locationName": "localeId"
                    },
                    "customVocabularyItemList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "itemId"
                            ],
                            "members": {
                                "itemId": {}
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "botId": {},
                    "botVersion": {},
                    "localeId": {},
                    "errors": {
                        "shape": "Sa"
                    },
                    "resources": {
                        "shape": "Sf"
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SME5LKPAEREKNPLWZ4A6OH3OW6SWPLJWIHYLZJGZAOZGKQWMU4PQ/vendors.js"
            ]
        },
        "BatchUpdateCustomVocabularyItem": {
            "http": {
                "method": "PUT",
                "requestUri": "/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/customvocabulary/DEFAULT/batchupdate",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "botId",
                    "botVersion",
                    "localeId",
                    "customVocabularyItemList"
                ],
                "members": {
                    "botId": {
                        "location": "uri",
                        "locationName": "botId"
                    },
                    "botVersion": {
                        "location": "uri",
                        "locationName": "botVersion"
                    },
                    "localeId": {
                        "location": "uri",
                        "locationName": "localeId"
                    },
                    "customVocabularyItemList": {
                        "type": "list",
                        "member": {
                            "shape": "Sg"
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "botId": {},
                    "botVersion": {},
                    "localeId": {},
                    "errors": {
                        "shape": "Sa"
                    },
                    "resources": {
                        "shape": "Sf"
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SME5LKPAEREKNPLWZ4A6OH3OW6SWPLJWIHYLZJGZAOZGKQWMU4PQ/vendors.js"
            ]
        },
        "BuildBotLocale": {
            "http": {
                "requestUri": "/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "botId",
                    "botVersion",
                    "localeId"
                ],
                "members": {
                    "botId": {
                        "location": "uri",
                        "locationName": "botId"
                    },
                    "botVersion": {
                        "location": "uri",
                        "locationName": "botVersion"
                    },
                    "localeId": {
                        "location": "uri",
                        "locationName": "localeId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "botId": {},
                    "botVersion": {},
                    "localeId": {},
                    "botLocaleStatus": {},
                    "lastBuildSubmittedDateTime": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SME5LKPAEREKNPLWZ4A6OH3OW6SWPLJWIHYLZJGZAOZGKQWMU4PQ/vendors.js"
            ]
        },
        "CreateBot": {
            "http": {
                "method": "PUT",
                "requestUri": "/bots/",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "botName",
                    "roleArn",
                    "dataPrivacy",
                    "idleSessionTTLInSeconds"
                ],
                "members": {
                    "botName": {},
                    "description": {},
                    "roleArn": {},
                    "dataPrivacy": {
                        "shape": "Sx"
                    },
                    "idleSessionTTLInSeconds": {
                        "type": "integer"
                    },
                    "botTags": {
                        "shape": "S10"
                    },
                    "testBotAliasTags": {
                        "shape": "S10"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "botId": {},
                    "botName": {},
                    "description": {},
                    "roleArn": {},
                    "dataPrivacy": {
                        "shape": "Sx"
                    },
                    "idleSessionTTLInSeconds": {
                        "type": "integer"
                    },
                    "botStatus": {},
                    "creationDateTime": {
                        "type": "timestamp"
                    },
                    "botTags": {
                        "shape": "S10"
                    },
                    "testBotAliasTags": {
                        "shape": "S10"
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SME5LKPAEREKNPLWZ4A6OH3OW6SWPLJWIHYLZJGZAOZGKQWMU4PQ/vendors.js"
            ]
        },
        "CreateBotAlias": {
            "http": {
                "method": "PUT",
                "requestUri": "/bots/{botId}/botaliases/",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "botAliasName",
                    "botId"
                ],
                "members": {
                    "botAliasName": {},
                    "description": {},
                    "botVersion": {},
                    "botAliasLocaleSettings": {
                        "shape": "S17"
                    },
                    "conversationLogSettings": {
                        "shape": "S1e"
                    },
                    "sentimentAnalysisSettings": {
                        "shape": "S1r"
                    },
                    "botId": {
                        "location": "uri",
                        "locationName": "botId"
                    },
                    "tags": {
                        "shape": "S10"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "botAliasId": {},
                    "botAliasName": {},
                    "description": {},
                    "botVersion": {},
                    "botAliasLocaleSettings": {
                        "shape": "S17"
                    },
                    "conversationLogSettings": {
                        "shape": "S1e"
                    },
                    "sentimentAnalysisSettings": {
                        "shape": "S1r"
                    },
                    "botAliasStatus": {},
                    "botId": {},
                    "creationDateTime": {
                        "type": "timestamp"
                    },
                    "tags": {
                        "shape": "S10"
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SME5LKPAEREKNPLWZ4A6OH3OW6SWPLJWIHYLZJGZAOZGKQWMU4PQ/vendors.js"
            ]
        },
        "CreateBotLocale": {
            "http": {
                "method": "PUT",
                "requestUri": "/bots/{botId}/botversions/{botVersion}/botlocales/",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "botId",
                    "botVersion",
                    "localeId",
                    "nluIntentConfidenceThreshold"
                ],
                "members": {
                    "botId": {
                        "location": "uri",
                        "locationName": "botId"
                    },
                    "botVersion": {
                        "location": "uri",
                        "locationName": "botVersion"
                    },
                    "localeId": {},
                    "description": {},
                    "nluIntentConfidenceThreshold": {
                        "type": "double"
                    },
                    "voiceSettings": {
                        "shape": "S1x"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "botId": {},
                    "botVersion": {},
                    "localeName": {},
                    "localeId": {},
                    "description": {},
                    "nluIntentConfidenceThreshold": {
                        "type": "double"
                    },
                    "voiceSettings": {
                        "shape": "S1x"
                    },
                    "botLocaleStatus": {},
                    "creationDateTime": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SME5LKPAEREKNPLWZ4A6OH3OW6SWPLJWIHYLZJGZAOZGKQWMU4PQ/vendors.js"
            ]
        },
        "CreateBotVersion": {
            "http": {
                "method": "PUT",
                "requestUri": "/bots/{botId}/botversions/",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "botId",
                    "botVersionLocaleSpecification"
                ],
                "members": {
                    "botId": {
                        "location": "uri",
                        "locationName": "botId"
                    },
                    "description": {},
                    "botVersionLocaleSpecification": {
                        "shape": "S23"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "botId": {},
                    "description": {},
                    "botVersion": {},
                    "botVersionLocaleSpecification": {
                        "shape": "S23"
                    },
                    "botStatus": {},
                    "creationDateTime": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SME5LKPAEREKNPLWZ4A6OH3OW6SWPLJWIHYLZJGZAOZGKQWMU4PQ/vendors.js"
            ]
        },
        "CreateExport": {
            "http": {
                "method": "PUT",
                "requestUri": "/exports/",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceSpecification",
                    "fileFormat"
                ],
                "members": {
                    "resourceSpecification": {
                        "shape": "S27"
                    },
                    "fileFormat": {},
                    "filePassword": {
                        "shape": "S2c"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "exportId": {},
                    "resourceSpecification": {
                        "shape": "S27"
                    },
                    "fileFormat": {},
                    "exportStatus": {},
                    "creationDateTime": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SME5LKPAEREKNPLWZ4A6OH3OW6SWPLJWIHYLZJGZAOZGKQWMU4PQ/vendors.js"
            ]
        },
        "CreateIntent": {
            "http": {
                "method": "PUT",
                "requestUri": "/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/intents/",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "intentName",
                    "botId",
                    "botVersion",
                    "localeId"
                ],
                "members": {
                    "intentName": {},
                    "description": {},
                    "parentIntentSignature": {},
                    "sampleUtterances": {
                        "shape": "S2h"
                    },
                    "dialogCodeHook": {
                        "shape": "S2k"
                    },
                    "fulfillmentCodeHook": {
                        "shape": "S2l"
                    },
                    "intentConfirmationSetting": {
                        "shape": "S3u"
                    },
                    "intentClosingSetting": {
                        "shape": "S4c"
                    },
                    "inputContexts": {
                        "shape": "S4d"
                    },
                    "outputContexts": {
                        "shape": "S4f"
                    },
                    "kendraConfiguration": {
                        "shape": "S4j"
                    },
                    "botId": {
                        "location": "uri",
                        "locationName": "botId"
                    },
                    "botVersion": {
                        "location": "uri",
                        "locationName": "botVersion"
                    },
                    "localeId": {
                        "location": "uri",
                        "locationName": "localeId"
                    },
                    "initialResponseSetting": {
                        "shape": "S4m"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "intentId": {},
                    "intentName": {},
                    "description": {},
                    "parentIntentSignature": {},
                    "sampleUtterances": {
                        "shape": "S2h"
                    },
                    "dialogCodeHook": {
                        "shape": "S2k"
                    },
                    "fulfillmentCodeHook": {
                        "shape": "S2l"
                    },
                    "intentConfirmationSetting": {
                        "shape": "S3u"
                    },
                    "intentClosingSetting": {
                        "shape": "S4c"
                    },
                    "inputContexts": {
                        "shape": "S4d"
                    },
                    "outputContexts": {
                        "shape": "S4f"
                    },
                    "kendraConfiguration": {
                        "shape": "S4j"
                    },
                    "botId": {},
                    "botVersion": {},
                    "localeId": {},
                    "creationDateTime": {
                        "type": "timestamp"
                    },
                    "initialResponseSetting": {
                        "shape": "S4m"
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SME5LKPAEREKNPLWZ4A6OH3OW6SWPLJWIHYLZJGZAOZGKQWMU4PQ/vendors.js"
            ]
        },
        "CreateResourcePolicy": {
            "http": {
                "requestUri": "/policy/{resourceArn}/",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "policy"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    },
                    "policy": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "resourceArn": {},
                    "revisionId": {}
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SME5LKPAEREKNPLWZ4A6OH3OW6SWPLJWIHYLZJGZAOZGKQWMU4PQ/vendors.js"
            ]
        },
        "CreateResourcePolicyStatement": {
            "http": {
                "requestUri": "/policy/{resourceArn}/statements/",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "statementId",
                    "effect",
                    "principal",
                    "action"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    },
                    "statementId": {},
                    "effect": {},
                    "principal": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "service": {},
                                "arn": {}
                            }
                        }
                    },
                    "action": {
                        "type": "list",
                        "member": {}
                    },
                    "condition": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "type": "map",
                            "key": {},
                            "value": {}
                        }
                    },
                    "expectedRevisionId": {
                        "location": "querystring",
                        "locationName": "expectedRevisionId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "resourceArn": {},
                    "revisionId": {}
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SME5LKPAEREKNPLWZ4A6OH3OW6SWPLJWIHYLZJGZAOZGKQWMU4PQ/vendors.js"
            ]
        },
        "CreateSlot": {
            "http": {
                "method": "PUT",
                "requestUri": "/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/intents/{intentId}/slots/",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "slotName",
                    "valueElicitationSetting",
                    "botId",
                    "botVersion",
                    "localeId",
                    "intentId"
                ],
                "members": {
                    "slotName": {},
                    "description": {},
                    "slotTypeId": {},
                    "valueElicitationSetting": {
                        "shape": "S59"
                    },
                    "obfuscationSetting": {
                        "shape": "S5k"
                    },
                    "botId": {
                        "location": "uri",
                        "locationName": "botId"
                    },
                    "botVersion": {
                        "location": "uri",
                        "locationName": "botVersion"
                    },
                    "localeId": {
                        "location": "uri",
                        "locationName": "localeId"
                    },
                    "intentId": {
                        "location": "uri",
                        "locationName": "intentId"
                    },
                    "multipleValuesSetting": {
                        "shape": "S5m"
                    },
                    "subSlotSetting": {
                        "shape": "S5n"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "slotId": {},
                    "slotName": {},
                    "description": {},
                    "slotTypeId": {},
                    "valueElicitationSetting": {
                        "shape": "S59"
                    },
                    "obfuscationSetting": {
                        "shape": "S5k"
                    },
                    "botId": {},
                    "botVersion": {},
                    "localeId": {},
                    "intentId": {},
                    "creationDateTime": {
                        "type": "timestamp"
                    },
                    "multipleValuesSetting": {
                        "shape": "S5m"
                    },
                    "subSlotSetting": {
                        "shape": "S5n"
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SME5LKPAEREKNPLWZ4A6OH3OW6SWPLJWIHYLZJGZAOZGKQWMU4PQ/vendors.js"
            ]
        },
        "CreateSlotType": {
            "http": {
                "method": "PUT",
                "requestUri": "/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/slottypes/",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "slotTypeName",
                    "botId",
                    "botVersion",
                    "localeId"
                ],
                "members": {
                    "slotTypeName": {},
                    "description": {},
                    "slotTypeValues": {
                        "shape": "S5u"
                    },
                    "valueSelectionSetting": {
                        "shape": "S5z"
                    },
                    "parentSlotTypeSignature": {},
                    "botId": {
                        "location": "uri",
                        "locationName": "botId"
                    },
                    "botVersion": {
                        "location": "uri",
                        "locationName": "botVersion"
                    },
                    "localeId": {
                        "location": "uri",
                        "locationName": "localeId"
                    },
                    "externalSourceSetting": {
                        "shape": "S66"
                    },
                    "compositeSlotTypeSetting": {
                        "shape": "S6b"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "slotTypeId": {},
                    "slotTypeName": {},
                    "description": {},
                    "slotTypeValues": {
                        "shape": "S5u"
                    },
                    "valueSelectionSetting": {
                        "shape": "S5z"
                    },
                    "parentSlotTypeSignature": {},
                    "botId": {},
                    "botVersion": {},
                    "localeId": {},
                    "creationDateTime": {
                        "type": "timestamp"
                    },
                    "externalSourceSetting": {
                        "shape": "S66"
                    },
                    "compositeSlotTypeSetting": {
                        "shape": "S6b"
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SME5LKPAEREKNPLWZ4A6OH3OW6SWPLJWIHYLZJGZAOZGKQWMU4PQ/vendors.js"
            ]
        },
        "CreateUploadUrl": {
            "http": {
                "requestUri": "/createuploadurl/",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "importId": {},
                    "uploadUrl": {}
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SME5LKPAEREKNPLWZ4A6OH3OW6SWPLJWIHYLZJGZAOZGKQWMU4PQ/vendors.js"
            ]
        },
        "DeleteBot": {
            "http": {
                "method": "DELETE",
                "requestUri": "/bots/{botId}/",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "botId"
                ],
                "members": {
                    "botId": {
                        "location": "uri",
                        "locationName": "botId"
                    },
                    "skipResourceInUseCheck": {
                        "location": "querystring",
                        "locationName": "skipResourceInUseCheck",
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "botId": {},
                    "botStatus": {}
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SME5LKPAEREKNPLWZ4A6OH3OW6SWPLJWIHYLZJGZAOZGKQWMU4PQ/vendors.js"
            ]
        },
        "DeleteBotAlias": {
            "http": {
                "method": "DELETE",
                "requestUri": "/bots/{botId}/botaliases/{botAliasId}/",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "botAliasId",
                    "botId"
                ],
                "members": {
                    "botAliasId": {
                        "location": "uri",
                        "locationName": "botAliasId"
                    },
                    "botId": {
                        "location": "uri",
                        "locationName": "botId"
                    },
                    "skipResourceInUseCheck": {
                        "location": "querystring",
                        "locationName": "skipResourceInUseCheck",
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "botAliasId": {},
                    "botId": {},
                    "botAliasStatus": {}
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SME5LKPAEREKNPLWZ4A6OH3OW6SWPLJWIHYLZJGZAOZGKQWMU4PQ/vendors.js"
            ]
        },
        "DeleteBotLocale": {
            "http": {
                "method": "DELETE",
                "requestUri": "/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "botId",
                    "botVersion",
                    "localeId"
                ],
                "members": {
                    "botId": {
                        "location": "uri",
                        "locationName": "botId"
                    },
                    "botVersion": {
                        "location": "uri",
                        "locationName": "botVersion"
                    },
                    "localeId": {
                        "location": "uri",
                        "locationName": "localeId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "botId": {},
                    "botVersion": {},
                    "localeId": {},
                    "botLocaleStatus": {}
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SME5LKPAEREKNPLWZ4A6OH3OW6SWPLJWIHYLZJGZAOZGKQWMU4PQ/vendors.js"
            ]
        },
        "DeleteBotVersion": {
            "http": {
                "method": "DELETE",
                "requestUri": "/bots/{botId}/botversions/{botVersion}/",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "botId",
                    "botVersion"
                ],
                "members": {
                    "botId": {
                        "location": "uri",
                        "locationName": "botId"
                    },
                    "botVersion": {
                        "location": "uri",
                        "locationName": "botVersion"
                    },
                    "skipResourceInUseCheck": {
                        "location": "querystring",
                        "locationName": "skipResourceInUseCheck",
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "botId": {},
                    "botVersion": {},
                    "botStatus": {}
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SME5LKPAEREKNPLWZ4A6OH3OW6SWPLJWIHYLZJGZAOZGKQWMU4PQ/vendors.js"
            ]
        },
        "DeleteCustomVocabulary": {
            "http": {
                "method": "DELETE",
                "requestUri": "/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/customvocabulary",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "botId",
                    "botVersion",
                    "localeId"
                ],
                "members": {
                    "botId": {
                        "location": "uri",
                        "locationName": "botId"
                    },
                    "botVersion": {
                        "location": "uri",
                        "locationName": "botVersion"
                    },
                    "localeId": {
                        "location": "uri",
                        "locationName": "localeId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "botId": {},
                    "botVersion": {},
                    "localeId": {},
                    "customVocabularyStatus": {}
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SME5LKPAEREKNPLWZ4A6OH3OW6SWPLJWIHYLZJGZAOZGKQWMU4PQ/vendors.js"
            ]
        },
        "DeleteExport": {
            "http": {
                "method": "DELETE",
                "requestUri": "/exports/{exportId}/",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "exportId"
                ],
                "members": {
                    "exportId": {
                        "location": "uri",
                        "locationName": "exportId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "exportId": {},
                    "exportStatus": {}
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SME5LKPAEREKNPLWZ4A6OH3OW6SWPLJWIHYLZJGZAOZGKQWMU4PQ/vendors.js"
            ]
        },
        "DeleteImport": {
            "http": {
                "method": "DELETE",
                "requestUri": "/imports/{importId}/",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "importId"
                ],
                "members": {
                    "importId": {
                        "location": "uri",
                        "locationName": "importId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "importId": {},
                    "importStatus": {}
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SME5LKPAEREKNPLWZ4A6OH3OW6SWPLJWIHYLZJGZAOZGKQWMU4PQ/vendors.js"
            ]
        },
        "DeleteIntent": {
            "http": {
                "method": "DELETE",
                "requestUri": "/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/intents/{intentId}/",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "intentId",
                    "botId",
                    "botVersion",
                    "localeId"
                ],
                "members": {
                    "intentId": {
                        "location": "uri",
                        "locationName": "intentId"
                    },
                    "botId": {
                        "location": "uri",
                        "locationName": "botId"
                    },
                    "botVersion": {
                        "location": "uri",
                        "locationName": "botVersion"
                    },
                    "localeId": {
                        "location": "uri",
                        "locationName": "localeId"
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SME5LKPAEREKNPLWZ4A6OH3OW6SWPLJWIHYLZJGZAOZGKQWMU4PQ/vendors.js"
            ]
        },
        "DeleteResourcePolicy": {
            "http": {
                "method": "DELETE",
                "requestUri": "/policy/{resourceArn}/",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    },
                    "expectedRevisionId": {
                        "location": "querystring",
                        "locationName": "expectedRevisionId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "resourceArn": {},
                    "revisionId": {}
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SME5LKPAEREKNPLWZ4A6OH3OW6SWPLJWIHYLZJGZAOZGKQWMU4PQ/vendors.js"
            ]
        },
        "DeleteResourcePolicyStatement": {
            "http": {
                "method": "DELETE",
                "requestUri": "/policy/{resourceArn}/statements/{statementId}/",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "statementId"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    },
                    "statementId": {
                        "location": "uri",
                        "locationName": "statementId"
                    },
                    "expectedRevisionId": {
                        "location": "querystring",
                        "locationName": "expectedRevisionId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "resourceArn": {},
                    "revisionId": {}
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SME5LKPAEREKNPLWZ4A6OH3OW6SWPLJWIHYLZJGZAOZGKQWMU4PQ/vendors.js"
            ]
        },
        "DeleteSlot": {
            "http": {
                "method": "DELETE",
                "requestUri": "/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/intents/{intentId}/slots/{slotId}/",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "slotId",
                    "botId",
                    "botVersion",
                    "localeId",
                    "intentId"
                ],
                "members": {
                    "slotId": {
                        "location": "uri",
                        "locationName": "slotId"
                    },
                    "botId": {
                        "location": "uri",
                        "locationName": "botId"
                    },
                    "botVersion": {
                        "location": "uri",
                        "locationName": "botVersion"
                    },
                    "localeId": {
                        "location": "uri",
                        "locationName": "localeId"
                    },
                    "intentId": {
                        "location": "uri",
                        "locationName": "intentId"
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SME5LKPAEREKNPLWZ4A6OH3OW6SWPLJWIHYLZJGZAOZGKQWMU4PQ/vendors.js"
            ]
        },
        "DeleteSlotType": {
            "http": {
                "method": "DELETE",
                "requestUri": "/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/slottypes/{slotTypeId}/",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "slotTypeId",
                    "botId",
                    "botVersion",
                    "localeId"
                ],
                "members": {
                    "slotTypeId": {
                        "location": "uri",
                        "locationName": "slotTypeId"
                    },
                    "botId": {
                        "location": "uri",
                        "locationName": "botId"
                    },
                    "botVersion": {
                        "location": "uri",
                        "locationName": "botVersion"
                    },
                    "localeId": {
                        "location": "uri",
                        "locationName": "localeId"
                    },
                    "skipResourceInUseCheck": {
                        "location": "querystring",
                        "locationName": "skipResourceInUseCheck",
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SME5LKPAEREKNPLWZ4A6OH3OW6SWPLJWIHYLZJGZAOZGKQWMU4PQ/vendors.js"
            ]
        },
        "DeleteUtterances": {
            "http": {
                "method": "DELETE",
                "requestUri": "/bots/{botId}/utterances/",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "botId"
                ],
                "members": {
                    "botId": {
                        "location": "uri",
                        "locationName": "botId"
                    },
                    "localeId": {
                        "location": "querystring",
                        "locationName": "localeId"
                    },
                    "sessionId": {
                        "location": "querystring",
                        "locationName": "sessionId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SME5LKPAEREKNPLWZ4A6OH3OW6SWPLJWIHYLZJGZAOZGKQWMU4PQ/vendors.js"
            ]
        },
        "DescribeBot": {
            "http": {
                "method": "GET",
                "requestUri": "/bots/{botId}/",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "botId"
                ],
                "members": {
                    "botId": {
                        "location": "uri",
                        "locationName": "botId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "botId": {},
                    "botName": {},
                    "description": {},
                    "roleArn": {},
                    "dataPrivacy": {
                        "shape": "Sx"
                    },
                    "idleSessionTTLInSeconds": {
                        "type": "integer"
                    },
                    "botStatus": {},
                    "creationDateTime": {
                        "type": "timestamp"
                    },
                    "lastUpdatedDateTime": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SME5LKPAEREKNPLWZ4A6OH3OW6SWPLJWIHYLZJGZAOZGKQWMU4PQ/vendors.js"
            ]
        },
        "DescribeBotAlias": {
            "http": {
                "method": "GET",
                "requestUri": "/bots/{botId}/botaliases/{botAliasId}/",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "botAliasId",
                    "botId"
                ],
                "members": {
                    "botAliasId": {
                        "location": "uri",
                        "locationName": "botAliasId"
                    },
                    "botId": {
                        "location": "uri",
                        "locationName": "botId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "botAliasId": {},
                    "botAliasName": {},
                    "description": {},
                    "botVersion": {},
                    "botAliasLocaleSettings": {
                        "shape": "S17"
                    },
                    "conversationLogSettings": {
                        "shape": "S1e"
                    },
                    "sentimentAnalysisSettings": {
                        "shape": "S1r"
                    },
                    "botAliasHistoryEvents": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "botVersion": {},
                                "startDate": {
                                    "type": "timestamp"
                                },
                                "endDate": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "botAliasStatus": {},
                    "botId": {},
                    "creationDateTime": {
                        "type": "timestamp"
                    },
                    "lastUpdatedDateTime": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SME5LKPAEREKNPLWZ4A6OH3OW6SWPLJWIHYLZJGZAOZGKQWMU4PQ/vendors.js"
            ]
        },
        "DescribeBotLocale": {
            "http": {
                "method": "GET",
                "requestUri": "/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "botId",
                    "botVersion",
                    "localeId"
                ],
                "members": {
                    "botId": {
                        "location": "uri",
                        "locationName": "botId"
                    },
                    "botVersion": {
                        "location": "uri",
                        "locationName": "botVersion"
                    },
                    "localeId": {
                        "location": "uri",
                        "locationName": "localeId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "botId": {},
                    "botVersion": {},
                    "localeId": {},
                    "localeName": {},
                    "description": {},
                    "nluIntentConfidenceThreshold": {
                        "type": "double"
                    },
                    "voiceSettings": {
                        "shape": "S1x"
                    },
                    "intentsCount": {
                        "type": "integer"
                    },
                    "slotTypesCount": {
                        "type": "integer"
                    },
                    "botLocaleStatus": {},
                    "failureReasons": {
                        "shape": "S7i"
                    },
                    "creationDateTime": {
                        "type": "timestamp"
                    },
                    "lastUpdatedDateTime": {
                        "type": "timestamp"
                    },
                    "lastBuildSubmittedDateTime": {
                        "type": "timestamp"
                    },
                    "botLocaleHistoryEvents": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "event",
                                "eventDate"
                            ],
                            "members": {
                                "event": {},
                                "eventDate": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "recommendedActions": {
                        "shape": "S7n"
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SME5LKPAEREKNPLWZ4A6OH3OW6SWPLJWIHYLZJGZAOZGKQWMU4PQ/vendors.js"
            ]
        },
        "DescribeBotRecommendation": {
            "http": {
                "method": "GET",
                "requestUri": "/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/botrecommendations/{botRecommendationId}/",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "botId",
                    "botVersion",
                    "localeId",
                    "botRecommendationId"
                ],
                "members": {
                    "botId": {
                        "location": "uri",
                        "locationName": "botId"
                    },
                    "botVersion": {
                        "location": "uri",
                        "locationName": "botVersion"
                    },
                    "localeId": {
                        "location": "uri",
                        "locationName": "localeId"
                    },
                    "botRecommendationId": {
                        "location": "uri",
                        "locationName": "botRecommendationId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "botId": {},
                    "botVersion": {},
                    "localeId": {},
                    "botRecommendationStatus": {},
                    "botRecommendationId": {},
                    "failureReasons": {
                        "shape": "S7i"
                    },
                    "creationDateTime": {
                        "type": "timestamp"
                    },
                    "lastUpdatedDateTime": {
                        "type": "timestamp"
                    },
                    "transcriptSourceSetting": {
                        "shape": "S7s"
                    },
                    "encryptionSetting": {
                        "shape": "S81"
                    },
                    "botRecommendationResults": {
                        "type": "structure",
                        "members": {
                            "botLocaleExportUrl": {},
                            "associatedTranscriptsUrl": {},
                            "statistics": {
                                "type": "structure",
                                "members": {
                                    "intents": {
                                        "type": "structure",
                                        "members": {
                                            "discoveredIntentCount": {
                                                "type": "integer"
                                            }
                                        }
                                    },
                                    "slotTypes": {
                                        "type": "structure",
                                        "members": {
                                            "discoveredSlotTypeCount": {
                                                "type": "integer"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SME5LKPAEREKNPLWZ4A6OH3OW6SWPLJWIHYLZJGZAOZGKQWMU4PQ/vendors.js"
            ]
        },
        "DescribeBotVersion": {
            "http": {
                "method": "GET",
                "requestUri": "/bots/{botId}/botversions/{botVersion}/",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "botId",
                    "botVersion"
                ],
                "members": {
                    "botId": {
                        "location": "uri",
                        "locationName": "botId"
                    },
                    "botVersion": {
                        "location": "uri",
                        "locationName": "botVersion"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "botId": {},
                    "botName": {},
                    "botVersion": {},
                    "description": {},
                    "roleArn": {},
                    "dataPrivacy": {
                        "shape": "Sx"
                    },
                    "idleSessionTTLInSeconds": {
                        "type": "integer"
                    },
                    "botStatus": {},
                    "failureReasons": {
                        "shape": "S7i"
                    },
                    "creationDateTime": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SME5LKPAEREKNPLWZ4A6OH3OW6SWPLJWIHYLZJGZAOZGKQWMU4PQ/vendors.js"
            ]
        },
        "DescribeCustomVocabularyMetadata": {
            "http": {
                "method": "GET",
                "requestUri": "/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/customvocabulary/DEFAULT/metadata",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "botId",
                    "botVersion",
                    "localeId"
                ],
                "members": {
                    "botId": {
                        "location": "uri",
                        "locationName": "botId"
                    },
                    "botVersion": {
                        "location": "uri",
                        "locationName": "botVersion"
                    },
                    "localeId": {
                        "location": "uri",
                        "locationName": "localeId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "botId": {},
                    "botVersion": {},
                    "localeId": {},
                    "customVocabularyStatus": {},
                    "creationDateTime": {
                        "type": "timestamp"
                    },
                    "lastUpdatedDateTime": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SME5LKPAEREKNPLWZ4A6OH3OW6SWPLJWIHYLZJGZAOZGKQWMU4PQ/vendors.js"
            ]
        },
        "DescribeExport": {
            "http": {
                "method": "GET",
                "requestUri": "/exports/{exportId}/",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "exportId"
                ],
                "members": {
                    "exportId": {
                        "location": "uri",
                        "locationName": "exportId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "exportId": {},
                    "resourceSpecification": {
                        "shape": "S27"
                    },
                    "fileFormat": {},
                    "exportStatus": {},
                    "failureReasons": {
                        "shape": "S7i"
                    },
                    "downloadUrl": {},
                    "creationDateTime": {
                        "type": "timestamp"
                    },
                    "lastUpdatedDateTime": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SME5LKPAEREKNPLWZ4A6OH3OW6SWPLJWIHYLZJGZAOZGKQWMU4PQ/vendors.js"
            ]
        },
        "DescribeImport": {
            "http": {
                "method": "GET",
                "requestUri": "/imports/{importId}/",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "importId"
                ],
                "members": {
                    "importId": {
                        "location": "uri",
                        "locationName": "importId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "importId": {},
                    "resourceSpecification": {
                        "shape": "S8g"
                    },
                    "importedResourceId": {},
                    "importedResourceName": {},
                    "mergeStrategy": {},
                    "importStatus": {},
                    "failureReasons": {
                        "shape": "S7i"
                    },
                    "creationDateTime": {
                        "type": "timestamp"
                    },
                    "lastUpdatedDateTime": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SME5LKPAEREKNPLWZ4A6OH3OW6SWPLJWIHYLZJGZAOZGKQWMU4PQ/vendors.js"
            ]
        },
        "DescribeIntent": {
            "http": {
                "method": "GET",
                "requestUri": "/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/intents/{intentId}/",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "intentId",
                    "botId",
                    "botVersion",
                    "localeId"
                ],
                "members": {
                    "intentId": {
                        "location": "uri",
                        "locationName": "intentId"
                    },
                    "botId": {
                        "location": "uri",
                        "locationName": "botId"
                    },
                    "botVersion": {
                        "location": "uri",
                        "locationName": "botVersion"
                    },
                    "localeId": {
                        "location": "uri",
                        "locationName": "localeId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "intentId": {},
                    "intentName": {},
                    "description": {},
                    "parentIntentSignature": {},
                    "sampleUtterances": {
                        "shape": "S2h"
                    },
                    "dialogCodeHook": {
                        "shape": "S2k"
                    },
                    "fulfillmentCodeHook": {
                        "shape": "S2l"
                    },
                    "slotPriorities": {
                        "shape": "S8o"
                    },
                    "intentConfirmationSetting": {
                        "shape": "S3u"
                    },
                    "intentClosingSetting": {
                        "shape": "S4c"
                    },
                    "inputContexts": {
                        "shape": "S4d"
                    },
                    "outputContexts": {
                        "shape": "S4f"
                    },
                    "kendraConfiguration": {
                        "shape": "S4j"
                    },
                    "botId": {},
                    "botVersion": {},
                    "localeId": {},
                    "creationDateTime": {
                        "type": "timestamp"
                    },
                    "lastUpdatedDateTime": {
                        "type": "timestamp"
                    },
                    "initialResponseSetting": {
                        "shape": "S4m"
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SME5LKPAEREKNPLWZ4A6OH3OW6SWPLJWIHYLZJGZAOZGKQWMU4PQ/vendors.js"
            ]
        },
        "DescribeResourcePolicy": {
            "http": {
                "method": "GET",
                "requestUri": "/policy/{resourceArn}/",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "resourceArn": {},
                    "policy": {},
                    "revisionId": {}
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SME5LKPAEREKNPLWZ4A6OH3OW6SWPLJWIHYLZJGZAOZGKQWMU4PQ/vendors.js"
            ]
        },
        "DescribeSlot": {
            "http": {
[...]
