{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2020-02-19",
        "endpointPrefix": "AWSMigrationHubModernizationStrategy",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceAbbreviation": "MigrationHubModernizationStrategy",
        "serviceFullName": "AWS Migration Hub Modernization Strategy",
        "serviceId": "MigrationHubModernizationStrategy",
        "signatureVersion": "v4",
        "signingName": "migrationhub-modernization-strategy",
        "uid": "ModernizationStrategy-2020-02-19",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/FXBFGXWSTZ7SX2XDPA3L3UE7PYULRYH5CVUU5SX3LB6AKEAEOL6A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PXZLFAM6UNCFSKZOURHQDWYPR37RJ4NDLFBHSANH62PCBVZUJPBQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IHT62WH6NF3H5Q756RGUD4MKZB7QYLQ5TDYLYUCXBM3YYQ4GJGIQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UCHAK5XXJGW44NCU3Z5X4SFEEZ5JUQPNQY27CYP7HASALX62ASVA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OEXZA5QWQPW2FFGIECG2JXSFOOBXUENLX7TKORM7GC522ZOA3INA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KVZKF6H7WYYTXTQ7REI3QFIDXGGLXOCKGPMBGTSHSMILUSLBWRVA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GYZFWIHCHQ5UGDNJ2MRNCLI3VS5TZ52WZJZUWGRTD5SFW25LPA6Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/22AI4IAIFPOCR3DFQX555IYKLWZJSUQ4Z2FHW5B7WVCGNF4E7DWQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZSO6JAFQPDXQKN6AQGNJGIIXZ6COY5C6S35QV6BSL7FA3FCC237Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/52AWATFZWPZRNK4CTZUIEKCZBSL2SJ5UWQMF77RIWEWV4GRENLWQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NUF2J4XTY6QLJOIODHX5VDVPUCD362ERISDXKZ7NKUFKXVYTDFDA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3P2FPVK6IYKNKVF57IBRFTG2B3JLY6VITCYIVLMWRHHLUZ7LWS2Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XYUS3446MBMOQYWYPMF3SNY2F67OM5O5HL2OLRIQQY3YAYWHSWIQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XP2UPQXZ3I7X3MKGD3MAJTCG54EIFDKEGKDXQZYY5CO44ZALTCXQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/57KIWH5FMPRZOPRDQBLMQ2COBXLMB5ZLTMO22H2FSATAZFC3CC6A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/THVUPPNX5XGXIZ2IRTOHNR343VH3NMKRSKLRCX4MI3S5DTEUPT4A/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/THVUPPNX5XGXIZ2IRTOHNR343VH3NMKRSKLRCX4MI3S5DTEUPT4A/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/A2V55TB2TLVOYFKHHQHQHADVS4X2TRJIA2ULCVULOM3TTND7VOEA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/AKUPMFDIIWTB2HAWSGQMAIKHMJBOGY4BMQGLFNGXVAMHCLNECQHA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/HAGJEVXQHGJ532J7HJC2LSG2WO3GSIUCOWCTGBV62WEMO7THGDVA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/46OPKQRPAFUAJS76SG6IZTMADU4SRS3JCAFGETFHN3NSOMLDMWIQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/SFYUI4Z4YTGDNNHA2RACTG6GJD23LELNUKIZ6USFU3VOII4PCOLA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/444XIUZR7IR2XQT2DRYSKRDHK3FDA6YKOSBBFDDLXFKQ6NLTQ5DQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/42SIXNHTVOGAHOGTLZ564SOHVRBUIRFORBROQVM5U62GOMGWLXLA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/CJGSPV53RT2ANOASYSERQPYKYIMPGAOWY2ZUNMER6LVJHYNDVV4A/vendors.js"
        ]
    },
    "operations": {
        "AddWorkloadComponentsToWorkload": {
            "http": {
                "requestUri": "/add-workload-components-to-workload/",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workloadId",
                    "workloadComponentIds"
                ],
                "members": {
                    "workloadId": {},
                    "workloadComponentIds": {
                        "shape": "S3"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXZLFAM6UNCFSKZOURHQDWYPR37RJ4NDLFBHSANH62PCBVZUJPBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IHT62WH6NF3H5Q756RGUD4MKZB7QYLQ5TDYLYUCXBM3YYQ4GJGIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCHAK5XXJGW44NCU3Z5X4SFEEZ5JUQPNQY27CYP7HASALX62ASVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OEXZA5QWQPW2FFGIECG2JXSFOOBXUENLX7TKORM7GC522ZOA3INA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVZKF6H7WYYTXTQ7REI3QFIDXGGLXOCKGPMBGTSHSMILUSLBWRVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GYZFWIHCHQ5UGDNJ2MRNCLI3VS5TZ52WZJZUWGRTD5SFW25LPA6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/22AI4IAIFPOCR3DFQX555IYKLWZJSUQ4Z2FHW5B7WVCGNF4E7DWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSO6JAFQPDXQKN6AQGNJGIIXZ6COY5C6S35QV6BSL7FA3FCC237Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52AWATFZWPZRNK4CTZUIEKCZBSL2SJ5UWQMF77RIWEWV4GRENLWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NUF2J4XTY6QLJOIODHX5VDVPUCD362ERISDXKZ7NKUFKXVYTDFDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3P2FPVK6IYKNKVF57IBRFTG2B3JLY6VITCYIVLMWRHHLUZ7LWS2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYUS3446MBMOQYWYPMF3SNY2F67OM5O5HL2OLRIQQY3YAYWHSWIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XP2UPQXZ3I7X3MKGD3MAJTCG54EIFDKEGKDXQZYY5CO44ZALTCXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57KIWH5FMPRZOPRDQBLMQ2COBXLMB5ZLTMO22H2FSATAZFC3CC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THVUPPNX5XGXIZ2IRTOHNR343VH3NMKRSKLRCX4MI3S5DTEUPT4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/THVUPPNX5XGXIZ2IRTOHNR343VH3NMKRSKLRCX4MI3S5DTEUPT4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/A2V55TB2TLVOYFKHHQHQHADVS4X2TRJIA2ULCVULOM3TTND7VOEA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AKUPMFDIIWTB2HAWSGQMAIKHMJBOGY4BMQGLFNGXVAMHCLNECQHA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HAGJEVXQHGJ532J7HJC2LSG2WO3GSIUCOWCTGBV62WEMO7THGDVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/46OPKQRPAFUAJS76SG6IZTMADU4SRS3JCAFGETFHN3NSOMLDMWIQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SFYUI4Z4YTGDNNHA2RACTG6GJD23LELNUKIZ6USFU3VOII4PCOLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/444XIUZR7IR2XQT2DRYSKRDHK3FDA6YKOSBBFDDLXFKQ6NLTQ5DQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/42SIXNHTVOGAHOGTLZ564SOHVRBUIRFORBROQVM5U62GOMGWLXLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CJGSPV53RT2ANOASYSERQPYKYIMPGAOWY2ZUNMER6LVJHYNDVV4A/vendors.js"
            ]
        },
        "AddWorkloadUnitsToWorkloadComponent": {
            "http": {
                "requestUri": "/add-workload-units-to-workload-component/",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workloadComponentId",
                    "workloadUnitIds"
                ],
                "members": {
                    "workloadComponentId": {},
                    "workloadUnitIds": {
                        "shape": "S7"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXZLFAM6UNCFSKZOURHQDWYPR37RJ4NDLFBHSANH62PCBVZUJPBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IHT62WH6NF3H5Q756RGUD4MKZB7QYLQ5TDYLYUCXBM3YYQ4GJGIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCHAK5XXJGW44NCU3Z5X4SFEEZ5JUQPNQY27CYP7HASALX62ASVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OEXZA5QWQPW2FFGIECG2JXSFOOBXUENLX7TKORM7GC522ZOA3INA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVZKF6H7WYYTXTQ7REI3QFIDXGGLXOCKGPMBGTSHSMILUSLBWRVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GYZFWIHCHQ5UGDNJ2MRNCLI3VS5TZ52WZJZUWGRTD5SFW25LPA6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/22AI4IAIFPOCR3DFQX555IYKLWZJSUQ4Z2FHW5B7WVCGNF4E7DWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSO6JAFQPDXQKN6AQGNJGIIXZ6COY5C6S35QV6BSL7FA3FCC237Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52AWATFZWPZRNK4CTZUIEKCZBSL2SJ5UWQMF77RIWEWV4GRENLWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NUF2J4XTY6QLJOIODHX5VDVPUCD362ERISDXKZ7NKUFKXVYTDFDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3P2FPVK6IYKNKVF57IBRFTG2B3JLY6VITCYIVLMWRHHLUZ7LWS2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYUS3446MBMOQYWYPMF3SNY2F67OM5O5HL2OLRIQQY3YAYWHSWIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XP2UPQXZ3I7X3MKGD3MAJTCG54EIFDKEGKDXQZYY5CO44ZALTCXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57KIWH5FMPRZOPRDQBLMQ2COBXLMB5ZLTMO22H2FSATAZFC3CC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THVUPPNX5XGXIZ2IRTOHNR343VH3NMKRSKLRCX4MI3S5DTEUPT4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/THVUPPNX5XGXIZ2IRTOHNR343VH3NMKRSKLRCX4MI3S5DTEUPT4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/A2V55TB2TLVOYFKHHQHQHADVS4X2TRJIA2ULCVULOM3TTND7VOEA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AKUPMFDIIWTB2HAWSGQMAIKHMJBOGY4BMQGLFNGXVAMHCLNECQHA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HAGJEVXQHGJ532J7HJC2LSG2WO3GSIUCOWCTGBV62WEMO7THGDVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/46OPKQRPAFUAJS76SG6IZTMADU4SRS3JCAFGETFHN3NSOMLDMWIQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SFYUI4Z4YTGDNNHA2RACTG6GJD23LELNUKIZ6USFU3VOII4PCOLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/444XIUZR7IR2XQT2DRYSKRDHK3FDA6YKOSBBFDDLXFKQ6NLTQ5DQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/42SIXNHTVOGAHOGTLZ564SOHVRBUIRFORBROQVM5U62GOMGWLXLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CJGSPV53RT2ANOASYSERQPYKYIMPGAOWY2ZUNMER6LVJHYNDVV4A/vendors.js"
            ]
        },
        "CreateWorkload": {
            "http": {
                "requestUri": "/create-workload/",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workloadName"
                ],
                "members": {
                    "workloadName": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "workloadId"
                ],
                "members": {
                    "workloadId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXZLFAM6UNCFSKZOURHQDWYPR37RJ4NDLFBHSANH62PCBVZUJPBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IHT62WH6NF3H5Q756RGUD4MKZB7QYLQ5TDYLYUCXBM3YYQ4GJGIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCHAK5XXJGW44NCU3Z5X4SFEEZ5JUQPNQY27CYP7HASALX62ASVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OEXZA5QWQPW2FFGIECG2JXSFOOBXUENLX7TKORM7GC522ZOA3INA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVZKF6H7WYYTXTQ7REI3QFIDXGGLXOCKGPMBGTSHSMILUSLBWRVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GYZFWIHCHQ5UGDNJ2MRNCLI3VS5TZ52WZJZUWGRTD5SFW25LPA6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/22AI4IAIFPOCR3DFQX555IYKLWZJSUQ4Z2FHW5B7WVCGNF4E7DWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSO6JAFQPDXQKN6AQGNJGIIXZ6COY5C6S35QV6BSL7FA3FCC237Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52AWATFZWPZRNK4CTZUIEKCZBSL2SJ5UWQMF77RIWEWV4GRENLWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NUF2J4XTY6QLJOIODHX5VDVPUCD362ERISDXKZ7NKUFKXVYTDFDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3P2FPVK6IYKNKVF57IBRFTG2B3JLY6VITCYIVLMWRHHLUZ7LWS2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYUS3446MBMOQYWYPMF3SNY2F67OM5O5HL2OLRIQQY3YAYWHSWIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XP2UPQXZ3I7X3MKGD3MAJTCG54EIFDKEGKDXQZYY5CO44ZALTCXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57KIWH5FMPRZOPRDQBLMQ2COBXLMB5ZLTMO22H2FSATAZFC3CC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THVUPPNX5XGXIZ2IRTOHNR343VH3NMKRSKLRCX4MI3S5DTEUPT4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/THVUPPNX5XGXIZ2IRTOHNR343VH3NMKRSKLRCX4MI3S5DTEUPT4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/A2V55TB2TLVOYFKHHQHQHADVS4X2TRJIA2ULCVULOM3TTND7VOEA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AKUPMFDIIWTB2HAWSGQMAIKHMJBOGY4BMQGLFNGXVAMHCLNECQHA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HAGJEVXQHGJ532J7HJC2LSG2WO3GSIUCOWCTGBV62WEMO7THGDVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/46OPKQRPAFUAJS76SG6IZTMADU4SRS3JCAFGETFHN3NSOMLDMWIQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SFYUI4Z4YTGDNNHA2RACTG6GJD23LELNUKIZ6USFU3VOII4PCOLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/444XIUZR7IR2XQT2DRYSKRDHK3FDA6YKOSBBFDDLXFKQ6NLTQ5DQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/42SIXNHTVOGAHOGTLZ564SOHVRBUIRFORBROQVM5U62GOMGWLXLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CJGSPV53RT2ANOASYSERQPYKYIMPGAOWY2ZUNMER6LVJHYNDVV4A/vendors.js"
            ]
        },
        "CreateWorkloadComponent": {
            "http": {
                "requestUri": "/create-workload-component/",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workloadComponentName"
                ],
                "members": {
                    "workloadComponentName": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "workloadComponentId"
                ],
                "members": {
                    "workloadComponentId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXZLFAM6UNCFSKZOURHQDWYPR37RJ4NDLFBHSANH62PCBVZUJPBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IHT62WH6NF3H5Q756RGUD4MKZB7QYLQ5TDYLYUCXBM3YYQ4GJGIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCHAK5XXJGW44NCU3Z5X4SFEEZ5JUQPNQY27CYP7HASALX62ASVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OEXZA5QWQPW2FFGIECG2JXSFOOBXUENLX7TKORM7GC522ZOA3INA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVZKF6H7WYYTXTQ7REI3QFIDXGGLXOCKGPMBGTSHSMILUSLBWRVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GYZFWIHCHQ5UGDNJ2MRNCLI3VS5TZ52WZJZUWGRTD5SFW25LPA6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/22AI4IAIFPOCR3DFQX555IYKLWZJSUQ4Z2FHW5B7WVCGNF4E7DWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSO6JAFQPDXQKN6AQGNJGIIXZ6COY5C6S35QV6BSL7FA3FCC237Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52AWATFZWPZRNK4CTZUIEKCZBSL2SJ5UWQMF77RIWEWV4GRENLWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NUF2J4XTY6QLJOIODHX5VDVPUCD362ERISDXKZ7NKUFKXVYTDFDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3P2FPVK6IYKNKVF57IBRFTG2B3JLY6VITCYIVLMWRHHLUZ7LWS2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYUS3446MBMOQYWYPMF3SNY2F67OM5O5HL2OLRIQQY3YAYWHSWIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XP2UPQXZ3I7X3MKGD3MAJTCG54EIFDKEGKDXQZYY5CO44ZALTCXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57KIWH5FMPRZOPRDQBLMQ2COBXLMB5ZLTMO22H2FSATAZFC3CC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THVUPPNX5XGXIZ2IRTOHNR343VH3NMKRSKLRCX4MI3S5DTEUPT4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/THVUPPNX5XGXIZ2IRTOHNR343VH3NMKRSKLRCX4MI3S5DTEUPT4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/A2V55TB2TLVOYFKHHQHQHADVS4X2TRJIA2ULCVULOM3TTND7VOEA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AKUPMFDIIWTB2HAWSGQMAIKHMJBOGY4BMQGLFNGXVAMHCLNECQHA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HAGJEVXQHGJ532J7HJC2LSG2WO3GSIUCOWCTGBV62WEMO7THGDVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/46OPKQRPAFUAJS76SG6IZTMADU4SRS3JCAFGETFHN3NSOMLDMWIQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SFYUI4Z4YTGDNNHA2RACTG6GJD23LELNUKIZ6USFU3VOII4PCOLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/444XIUZR7IR2XQT2DRYSKRDHK3FDA6YKOSBBFDDLXFKQ6NLTQ5DQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/42SIXNHTVOGAHOGTLZ564SOHVRBUIRFORBROQVM5U62GOMGWLXLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CJGSPV53RT2ANOASYSERQPYKYIMPGAOWY2ZUNMER6LVJHYNDVV4A/vendors.js"
            ]
        },
        "DeleteWorkload": {
            "http": {
                "requestUri": "/delete-workload/",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workloadId"
                ],
                "members": {
                    "workloadId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXZLFAM6UNCFSKZOURHQDWYPR37RJ4NDLFBHSANH62PCBVZUJPBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IHT62WH6NF3H5Q756RGUD4MKZB7QYLQ5TDYLYUCXBM3YYQ4GJGIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCHAK5XXJGW44NCU3Z5X4SFEEZ5JUQPNQY27CYP7HASALX62ASVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OEXZA5QWQPW2FFGIECG2JXSFOOBXUENLX7TKORM7GC522ZOA3INA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVZKF6H7WYYTXTQ7REI3QFIDXGGLXOCKGPMBGTSHSMILUSLBWRVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GYZFWIHCHQ5UGDNJ2MRNCLI3VS5TZ52WZJZUWGRTD5SFW25LPA6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/22AI4IAIFPOCR3DFQX555IYKLWZJSUQ4Z2FHW5B7WVCGNF4E7DWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSO6JAFQPDXQKN6AQGNJGIIXZ6COY5C6S35QV6BSL7FA3FCC237Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52AWATFZWPZRNK4CTZUIEKCZBSL2SJ5UWQMF77RIWEWV4GRENLWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NUF2J4XTY6QLJOIODHX5VDVPUCD362ERISDXKZ7NKUFKXVYTDFDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3P2FPVK6IYKNKVF57IBRFTG2B3JLY6VITCYIVLMWRHHLUZ7LWS2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYUS3446MBMOQYWYPMF3SNY2F67OM5O5HL2OLRIQQY3YAYWHSWIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XP2UPQXZ3I7X3MKGD3MAJTCG54EIFDKEGKDXQZYY5CO44ZALTCXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57KIWH5FMPRZOPRDQBLMQ2COBXLMB5ZLTMO22H2FSATAZFC3CC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THVUPPNX5XGXIZ2IRTOHNR343VH3NMKRSKLRCX4MI3S5DTEUPT4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/THVUPPNX5XGXIZ2IRTOHNR343VH3NMKRSKLRCX4MI3S5DTEUPT4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/A2V55TB2TLVOYFKHHQHQHADVS4X2TRJIA2ULCVULOM3TTND7VOEA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AKUPMFDIIWTB2HAWSGQMAIKHMJBOGY4BMQGLFNGXVAMHCLNECQHA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HAGJEVXQHGJ532J7HJC2LSG2WO3GSIUCOWCTGBV62WEMO7THGDVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/46OPKQRPAFUAJS76SG6IZTMADU4SRS3JCAFGETFHN3NSOMLDMWIQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SFYUI4Z4YTGDNNHA2RACTG6GJD23LELNUKIZ6USFU3VOII4PCOLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/444XIUZR7IR2XQT2DRYSKRDHK3FDA6YKOSBBFDDLXFKQ6NLTQ5DQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/42SIXNHTVOGAHOGTLZ564SOHVRBUIRFORBROQVM5U62GOMGWLXLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CJGSPV53RT2ANOASYSERQPYKYIMPGAOWY2ZUNMER6LVJHYNDVV4A/vendors.js"
            ]
        },
        "DeleteWorkloadComponent": {
            "http": {
                "requestUri": "/delete-workload-component/",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workloadComponentId"
                ],
                "members": {
                    "workloadComponentId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXZLFAM6UNCFSKZOURHQDWYPR37RJ4NDLFBHSANH62PCBVZUJPBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IHT62WH6NF3H5Q756RGUD4MKZB7QYLQ5TDYLYUCXBM3YYQ4GJGIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCHAK5XXJGW44NCU3Z5X4SFEEZ5JUQPNQY27CYP7HASALX62ASVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OEXZA5QWQPW2FFGIECG2JXSFOOBXUENLX7TKORM7GC522ZOA3INA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVZKF6H7WYYTXTQ7REI3QFIDXGGLXOCKGPMBGTSHSMILUSLBWRVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GYZFWIHCHQ5UGDNJ2MRNCLI3VS5TZ52WZJZUWGRTD5SFW25LPA6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/22AI4IAIFPOCR3DFQX555IYKLWZJSUQ4Z2FHW5B7WVCGNF4E7DWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSO6JAFQPDXQKN6AQGNJGIIXZ6COY5C6S35QV6BSL7FA3FCC237Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52AWATFZWPZRNK4CTZUIEKCZBSL2SJ5UWQMF77RIWEWV4GRENLWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NUF2J4XTY6QLJOIODHX5VDVPUCD362ERISDXKZ7NKUFKXVYTDFDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3P2FPVK6IYKNKVF57IBRFTG2B3JLY6VITCYIVLMWRHHLUZ7LWS2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYUS3446MBMOQYWYPMF3SNY2F67OM5O5HL2OLRIQQY3YAYWHSWIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XP2UPQXZ3I7X3MKGD3MAJTCG54EIFDKEGKDXQZYY5CO44ZALTCXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57KIWH5FMPRZOPRDQBLMQ2COBXLMB5ZLTMO22H2FSATAZFC3CC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THVUPPNX5XGXIZ2IRTOHNR343VH3NMKRSKLRCX4MI3S5DTEUPT4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/THVUPPNX5XGXIZ2IRTOHNR343VH3NMKRSKLRCX4MI3S5DTEUPT4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/A2V55TB2TLVOYFKHHQHQHADVS4X2TRJIA2ULCVULOM3TTND7VOEA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AKUPMFDIIWTB2HAWSGQMAIKHMJBOGY4BMQGLFNGXVAMHCLNECQHA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HAGJEVXQHGJ532J7HJC2LSG2WO3GSIUCOWCTGBV62WEMO7THGDVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/46OPKQRPAFUAJS76SG6IZTMADU4SRS3JCAFGETFHN3NSOMLDMWIQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SFYUI4Z4YTGDNNHA2RACTG6GJD23LELNUKIZ6USFU3VOII4PCOLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/444XIUZR7IR2XQT2DRYSKRDHK3FDA6YKOSBBFDDLXFKQ6NLTQ5DQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/42SIXNHTVOGAHOGTLZ564SOHVRBUIRFORBROQVM5U62GOMGWLXLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CJGSPV53RT2ANOASYSERQPYKYIMPGAOWY2ZUNMER6LVJHYNDVV4A/vendors.js"
            ]
        },
        "GenerateRecommendations": {
            "http": {
                "requestUri": "/generate-recommendations",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "filters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "name": {},
                                "value": {}
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "assessmentId": {},
                    "recommendationOrchestrationId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXZLFAM6UNCFSKZOURHQDWYPR37RJ4NDLFBHSANH62PCBVZUJPBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IHT62WH6NF3H5Q756RGUD4MKZB7QYLQ5TDYLYUCXBM3YYQ4GJGIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCHAK5XXJGW44NCU3Z5X4SFEEZ5JUQPNQY27CYP7HASALX62ASVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OEXZA5QWQPW2FFGIECG2JXSFOOBXUENLX7TKORM7GC522ZOA3INA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVZKF6H7WYYTXTQ7REI3QFIDXGGLXOCKGPMBGTSHSMILUSLBWRVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GYZFWIHCHQ5UGDNJ2MRNCLI3VS5TZ52WZJZUWGRTD5SFW25LPA6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/22AI4IAIFPOCR3DFQX555IYKLWZJSUQ4Z2FHW5B7WVCGNF4E7DWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSO6JAFQPDXQKN6AQGNJGIIXZ6COY5C6S35QV6BSL7FA3FCC237Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52AWATFZWPZRNK4CTZUIEKCZBSL2SJ5UWQMF77RIWEWV4GRENLWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NUF2J4XTY6QLJOIODHX5VDVPUCD362ERISDXKZ7NKUFKXVYTDFDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3P2FPVK6IYKNKVF57IBRFTG2B3JLY6VITCYIVLMWRHHLUZ7LWS2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYUS3446MBMOQYWYPMF3SNY2F67OM5O5HL2OLRIQQY3YAYWHSWIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XP2UPQXZ3I7X3MKGD3MAJTCG54EIFDKEGKDXQZYY5CO44ZALTCXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57KIWH5FMPRZOPRDQBLMQ2COBXLMB5ZLTMO22H2FSATAZFC3CC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THVUPPNX5XGXIZ2IRTOHNR343VH3NMKRSKLRCX4MI3S5DTEUPT4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/THVUPPNX5XGXIZ2IRTOHNR343VH3NMKRSKLRCX4MI3S5DTEUPT4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/A2V55TB2TLVOYFKHHQHQHADVS4X2TRJIA2ULCVULOM3TTND7VOEA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AKUPMFDIIWTB2HAWSGQMAIKHMJBOGY4BMQGLFNGXVAMHCLNECQHA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HAGJEVXQHGJ532J7HJC2LSG2WO3GSIUCOWCTGBV62WEMO7THGDVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/46OPKQRPAFUAJS76SG6IZTMADU4SRS3JCAFGETFHN3NSOMLDMWIQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SFYUI4Z4YTGDNNHA2RACTG6GJD23LELNUKIZ6USFU3VOII4PCOLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/444XIUZR7IR2XQT2DRYSKRDHK3FDA6YKOSBBFDDLXFKQ6NLTQ5DQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/42SIXNHTVOGAHOGTLZ564SOHVRBUIRFORBROQVM5U62GOMGWLXLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CJGSPV53RT2ANOASYSERQPYKYIMPGAOWY2ZUNMER6LVJHYNDVV4A/vendors.js"
            ]
        },
        "GetAssessment": {
            "http": {
                "requestUri": "/get-assessment",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "assessmentId": {},
                    "startTime": {
                        "type": "timestamp"
                    },
                    "completionTime": {
                        "type": "timestamp"
                    },
                    "status": {},
                    "statusMessage": {},
                    "dataCollectionPreferences": {
                        "shape": "Su"
                    },
                    "assessmentTargets": {
                        "shape": "Sy"
                    },
                    "dataCollectionDetails": {
                        "type": "structure",
                        "members": {
                            "dataCollectionStatus": {}
                        }
                    },
                    "workloadGroupingDetails": {
                        "type": "structure",
                        "members": {
                            "workloadGroupingStatus": {}
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LI3TWZOIAOVD42CTXEUFQDQ6NOVC7NYXEB5SA2KTCWFFGLDACYZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJAKYASPXHDP62J3OCC434SOEENYPWV2NH6RM7TS2V7MIJUIJHBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FXBFGXWSTZ7SX2XDPA3L3UE7PYULRYH5CVUU5SX3LB6AKEAEOL6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXZLFAM6UNCFSKZOURHQDWYPR37RJ4NDLFBHSANH62PCBVZUJPBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IHT62WH6NF3H5Q756RGUD4MKZB7QYLQ5TDYLYUCXBM3YYQ4GJGIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCHAK5XXJGW44NCU3Z5X4SFEEZ5JUQPNQY27CYP7HASALX62ASVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OEXZA5QWQPW2FFGIECG2JXSFOOBXUENLX7TKORM7GC522ZOA3INA/vendors.js"
            ]
        },
        "GetAssessmentDetails": {
            "http": {
                "requestUri": "/get-assessment-details",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "assessmentId": {},
                    "startTime": {
                        "type": "timestamp"
                    },
                    "completionTime": {
                        "type": "timestamp"
                    },
                    "status": {},
                    "statusMessage": {},
                    "dataCollectionPreferences": {
                        "shape": "Su"
                    },
                    "assessmentTargets": {
                        "shape": "Sy"
                    },
                    "dataCollectionDetails": {
                        "type": "structure",
                        "members": {
                            "dataCollectionStatus": {}
                        }
                    },
                    "workloadGroupingDetails": {
                        "type": "structure",
                        "members": {
                            "workloadGroupingStatus": {}
                        }
                    },
                    "recommendationDetails": {
                        "shape": "S1d"
                    },
                    "kmsKeyArn": {},
                    "useKmsForDatabase": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXZLFAM6UNCFSKZOURHQDWYPR37RJ4NDLFBHSANH62PCBVZUJPBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IHT62WH6NF3H5Q756RGUD4MKZB7QYLQ5TDYLYUCXBM3YYQ4GJGIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCHAK5XXJGW44NCU3Z5X4SFEEZ5JUQPNQY27CYP7HASALX62ASVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OEXZA5QWQPW2FFGIECG2JXSFOOBXUENLX7TKORM7GC522ZOA3INA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVZKF6H7WYYTXTQ7REI3QFIDXGGLXOCKGPMBGTSHSMILUSLBWRVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GYZFWIHCHQ5UGDNJ2MRNCLI3VS5TZ52WZJZUWGRTD5SFW25LPA6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/22AI4IAIFPOCR3DFQX555IYKLWZJSUQ4Z2FHW5B7WVCGNF4E7DWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSO6JAFQPDXQKN6AQGNJGIIXZ6COY5C6S35QV6BSL7FA3FCC237Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52AWATFZWPZRNK4CTZUIEKCZBSL2SJ5UWQMF77RIWEWV4GRENLWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NUF2J4XTY6QLJOIODHX5VDVPUCD362ERISDXKZ7NKUFKXVYTDFDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3P2FPVK6IYKNKVF57IBRFTG2B3JLY6VITCYIVLMWRHHLUZ7LWS2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYUS3446MBMOQYWYPMF3SNY2F67OM5O5HL2OLRIQQY3YAYWHSWIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XP2UPQXZ3I7X3MKGD3MAJTCG54EIFDKEGKDXQZYY5CO44ZALTCXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57KIWH5FMPRZOPRDQBLMQ2COBXLMB5ZLTMO22H2FSATAZFC3CC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THVUPPNX5XGXIZ2IRTOHNR343VH3NMKRSKLRCX4MI3S5DTEUPT4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/THVUPPNX5XGXIZ2IRTOHNR343VH3NMKRSKLRCX4MI3S5DTEUPT4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/A2V55TB2TLVOYFKHHQHQHADVS4X2TRJIA2ULCVULOM3TTND7VOEA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AKUPMFDIIWTB2HAWSGQMAIKHMJBOGY4BMQGLFNGXVAMHCLNECQHA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HAGJEVXQHGJ532J7HJC2LSG2WO3GSIUCOWCTGBV62WEMO7THGDVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/46OPKQRPAFUAJS76SG6IZTMADU4SRS3JCAFGETFHN3NSOMLDMWIQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SFYUI4Z4YTGDNNHA2RACTG6GJD23LELNUKIZ6USFU3VOII4PCOLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/444XIUZR7IR2XQT2DRYSKRDHK3FDA6YKOSBBFDDLXFKQ6NLTQ5DQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/42SIXNHTVOGAHOGTLZ564SOHVRBUIRFORBROQVM5U62GOMGWLXLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CJGSPV53RT2ANOASYSERQPYKYIMPGAOWY2ZUNMER6LVJHYNDVV4A/vendors.js"
            ]
        },
        "GetLatestAssessmentId": {
            "http": {
                "method": "GET",
                "requestUri": "/get-latest-assessment-id",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "id": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXZLFAM6UNCFSKZOURHQDWYPR37RJ4NDLFBHSANH62PCBVZUJPBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IHT62WH6NF3H5Q756RGUD4MKZB7QYLQ5TDYLYUCXBM3YYQ4GJGIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCHAK5XXJGW44NCU3Z5X4SFEEZ5JUQPNQY27CYP7HASALX62ASVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OEXZA5QWQPW2FFGIECG2JXSFOOBXUENLX7TKORM7GC522ZOA3INA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVZKF6H7WYYTXTQ7REI3QFIDXGGLXOCKGPMBGTSHSMILUSLBWRVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GYZFWIHCHQ5UGDNJ2MRNCLI3VS5TZ52WZJZUWGRTD5SFW25LPA6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/22AI4IAIFPOCR3DFQX555IYKLWZJSUQ4Z2FHW5B7WVCGNF4E7DWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSO6JAFQPDXQKN6AQGNJGIIXZ6COY5C6S35QV6BSL7FA3FCC237Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52AWATFZWPZRNK4CTZUIEKCZBSL2SJ5UWQMF77RIWEWV4GRENLWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NUF2J4XTY6QLJOIODHX5VDVPUCD362ERISDXKZ7NKUFKXVYTDFDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3P2FPVK6IYKNKVF57IBRFTG2B3JLY6VITCYIVLMWRHHLUZ7LWS2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYUS3446MBMOQYWYPMF3SNY2F67OM5O5HL2OLRIQQY3YAYWHSWIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XP2UPQXZ3I7X3MKGD3MAJTCG54EIFDKEGKDXQZYY5CO44ZALTCXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57KIWH5FMPRZOPRDQBLMQ2COBXLMB5ZLTMO22H2FSATAZFC3CC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THVUPPNX5XGXIZ2IRTOHNR343VH3NMKRSKLRCX4MI3S5DTEUPT4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/THVUPPNX5XGXIZ2IRTOHNR343VH3NMKRSKLRCX4MI3S5DTEUPT4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/A2V55TB2TLVOYFKHHQHQHADVS4X2TRJIA2ULCVULOM3TTND7VOEA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AKUPMFDIIWTB2HAWSGQMAIKHMJBOGY4BMQGLFNGXVAMHCLNECQHA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HAGJEVXQHGJ532J7HJC2LSG2WO3GSIUCOWCTGBV62WEMO7THGDVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/46OPKQRPAFUAJS76SG6IZTMADU4SRS3JCAFGETFHN3NSOMLDMWIQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SFYUI4Z4YTGDNNHA2RACTG6GJD23LELNUKIZ6USFU3VOII4PCOLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/444XIUZR7IR2XQT2DRYSKRDHK3FDA6YKOSBBFDDLXFKQ6NLTQ5DQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/42SIXNHTVOGAHOGTLZ564SOHVRBUIRFORBROQVM5U62GOMGWLXLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CJGSPV53RT2ANOASYSERQPYKYIMPGAOWY2ZUNMER6LVJHYNDVV4A/vendors.js"
            ]
        },
        "GetPortfolioSummary": {
            "http": {
                "method": "GET",
                "requestUri": "/get-portfolio-summary",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "assessmentStatus": {},
                    "startTime": {
                        "type": "timestamp"
                    },
                    "completionTime": {
                        "type": "timestamp"
                    },
                    "workloadSummary": {
                        "type": "structure",
                        "members": {
                            "workloadsCount": {
                                "type": "integer"
                            },
                            "workloadComponentsCount": {
                                "type": "integer"
                            }
                        }
                    },
                    "pathwayComplexitySummaryList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "count": {
                                    "type": "integer"
                                },
                                "strategy": {},
                                "complexity": {}
                            }
                        }
                    },
                    "pathwayTCOSummaryList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "count": {
                                    "type": "integer"
                                },
                                "strategy": {},
                                "tco": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXZLFAM6UNCFSKZOURHQDWYPR37RJ4NDLFBHSANH62PCBVZUJPBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IHT62WH6NF3H5Q756RGUD4MKZB7QYLQ5TDYLYUCXBM3YYQ4GJGIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCHAK5XXJGW44NCU3Z5X4SFEEZ5JUQPNQY27CYP7HASALX62ASVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OEXZA5QWQPW2FFGIECG2JXSFOOBXUENLX7TKORM7GC522ZOA3INA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVZKF6H7WYYTXTQ7REI3QFIDXGGLXOCKGPMBGTSHSMILUSLBWRVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GYZFWIHCHQ5UGDNJ2MRNCLI3VS5TZ52WZJZUWGRTD5SFW25LPA6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/22AI4IAIFPOCR3DFQX555IYKLWZJSUQ4Z2FHW5B7WVCGNF4E7DWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSO6JAFQPDXQKN6AQGNJGIIXZ6COY5C6S35QV6BSL7FA3FCC237Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52AWATFZWPZRNK4CTZUIEKCZBSL2SJ5UWQMF77RIWEWV4GRENLWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NUF2J4XTY6QLJOIODHX5VDVPUCD362ERISDXKZ7NKUFKXVYTDFDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3P2FPVK6IYKNKVF57IBRFTG2B3JLY6VITCYIVLMWRHHLUZ7LWS2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYUS3446MBMOQYWYPMF3SNY2F67OM5O5HL2OLRIQQY3YAYWHSWIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XP2UPQXZ3I7X3MKGD3MAJTCG54EIFDKEGKDXQZYY5CO44ZALTCXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57KIWH5FMPRZOPRDQBLMQ2COBXLMB5ZLTMO22H2FSATAZFC3CC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THVUPPNX5XGXIZ2IRTOHNR343VH3NMKRSKLRCX4MI3S5DTEUPT4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/THVUPPNX5XGXIZ2IRTOHNR343VH3NMKRSKLRCX4MI3S5DTEUPT4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/A2V55TB2TLVOYFKHHQHQHADVS4X2TRJIA2ULCVULOM3TTND7VOEA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AKUPMFDIIWTB2HAWSGQMAIKHMJBOGY4BMQGLFNGXVAMHCLNECQHA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HAGJEVXQHGJ532J7HJC2LSG2WO3GSIUCOWCTGBV62WEMO7THGDVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/46OPKQRPAFUAJS76SG6IZTMADU4SRS3JCAFGETFHN3NSOMLDMWIQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SFYUI4Z4YTGDNNHA2RACTG6GJD23LELNUKIZ6USFU3VOII4PCOLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/444XIUZR7IR2XQT2DRYSKRDHK3FDA6YKOSBBFDDLXFKQ6NLTQ5DQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/42SIXNHTVOGAHOGTLZ564SOHVRBUIRFORBROQVM5U62GOMGWLXLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CJGSPV53RT2ANOASYSERQPYKYIMPGAOWY2ZUNMER6LVJHYNDVV4A/vendors.js"
            ]
        },
        "GetRecommendationReportDetail": {
            "http": {
                "method": "GET",
                "requestUri": "/get-recommendation-report-detail",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "recommendationReportDetail": {
                        "type": "structure",
                        "members": {
                            "csvReportS3Url": {},
                            "jsonReportS3Url": {}
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXZLFAM6UNCFSKZOURHQDWYPR37RJ4NDLFBHSANH62PCBVZUJPBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IHT62WH6NF3H5Q756RGUD4MKZB7QYLQ5TDYLYUCXBM3YYQ4GJGIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCHAK5XXJGW44NCU3Z5X4SFEEZ5JUQPNQY27CYP7HASALX62ASVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OEXZA5QWQPW2FFGIECG2JXSFOOBXUENLX7TKORM7GC522ZOA3INA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVZKF6H7WYYTXTQ7REI3QFIDXGGLXOCKGPMBGTSHSMILUSLBWRVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GYZFWIHCHQ5UGDNJ2MRNCLI3VS5TZ52WZJZUWGRTD5SFW25LPA6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/22AI4IAIFPOCR3DFQX555IYKLWZJSUQ4Z2FHW5B7WVCGNF4E7DWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSO6JAFQPDXQKN6AQGNJGIIXZ6COY5C6S35QV6BSL7FA3FCC237Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52AWATFZWPZRNK4CTZUIEKCZBSL2SJ5UWQMF77RIWEWV4GRENLWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NUF2J4XTY6QLJOIODHX5VDVPUCD362ERISDXKZ7NKUFKXVYTDFDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3P2FPVK6IYKNKVF57IBRFTG2B3JLY6VITCYIVLMWRHHLUZ7LWS2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYUS3446MBMOQYWYPMF3SNY2F67OM5O5HL2OLRIQQY3YAYWHSWIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XP2UPQXZ3I7X3MKGD3MAJTCG54EIFDKEGKDXQZYY5CO44ZALTCXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57KIWH5FMPRZOPRDQBLMQ2COBXLMB5ZLTMO22H2FSATAZFC3CC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THVUPPNX5XGXIZ2IRTOHNR343VH3NMKRSKLRCX4MI3S5DTEUPT4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/THVUPPNX5XGXIZ2IRTOHNR343VH3NMKRSKLRCX4MI3S5DTEUPT4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/A2V55TB2TLVOYFKHHQHQHADVS4X2TRJIA2ULCVULOM3TTND7VOEA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AKUPMFDIIWTB2HAWSGQMAIKHMJBOGY4BMQGLFNGXVAMHCLNECQHA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HAGJEVXQHGJ532J7HJC2LSG2WO3GSIUCOWCTGBV62WEMO7THGDVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/46OPKQRPAFUAJS76SG6IZTMADU4SRS3JCAFGETFHN3NSOMLDMWIQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SFYUI4Z4YTGDNNHA2RACTG6GJD23LELNUKIZ6USFU3VOII4PCOLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/444XIUZR7IR2XQT2DRYSKRDHK3FDA6YKOSBBFDDLXFKQ6NLTQ5DQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/42SIXNHTVOGAHOGTLZ564SOHVRBUIRFORBROQVM5U62GOMGWLXLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CJGSPV53RT2ANOASYSERQPYKYIMPGAOWY2ZUNMER6LVJHYNDVV4A/vendors.js"
            ]
        },
        "GetRecommendationStatus": {
            "http": {
                "method": "GET",
                "requestUri": "/get-recommendation-status",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "workloadId": {
                        "location": "querystring",
                        "locationName": "workloadId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "recommendationDetails": {
                        "shape": "S1d"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXZLFAM6UNCFSKZOURHQDWYPR37RJ4NDLFBHSANH62PCBVZUJPBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IHT62WH6NF3H5Q756RGUD4MKZB7QYLQ5TDYLYUCXBM3YYQ4GJGIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCHAK5XXJGW44NCU3Z5X4SFEEZ5JUQPNQY27CYP7HASALX62ASVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OEXZA5QWQPW2FFGIECG2JXSFOOBXUENLX7TKORM7GC522ZOA3INA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVZKF6H7WYYTXTQ7REI3QFIDXGGLXOCKGPMBGTSHSMILUSLBWRVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GYZFWIHCHQ5UGDNJ2MRNCLI3VS5TZ52WZJZUWGRTD5SFW25LPA6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/22AI4IAIFPOCR3DFQX555IYKLWZJSUQ4Z2FHW5B7WVCGNF4E7DWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSO6JAFQPDXQKN6AQGNJGIIXZ6COY5C6S35QV6BSL7FA3FCC237Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52AWATFZWPZRNK4CTZUIEKCZBSL2SJ5UWQMF77RIWEWV4GRENLWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NUF2J4XTY6QLJOIODHX5VDVPUCD362ERISDXKZ7NKUFKXVYTDFDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3P2FPVK6IYKNKVF57IBRFTG2B3JLY6VITCYIVLMWRHHLUZ7LWS2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYUS3446MBMOQYWYPMF3SNY2F67OM5O5HL2OLRIQQY3YAYWHSWIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XP2UPQXZ3I7X3MKGD3MAJTCG54EIFDKEGKDXQZYY5CO44ZALTCXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57KIWH5FMPRZOPRDQBLMQ2COBXLMB5ZLTMO22H2FSATAZFC3CC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THVUPPNX5XGXIZ2IRTOHNR343VH3NMKRSKLRCX4MI3S5DTEUPT4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/THVUPPNX5XGXIZ2IRTOHNR343VH3NMKRSKLRCX4MI3S5DTEUPT4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/A2V55TB2TLVOYFKHHQHQHADVS4X2TRJIA2ULCVULOM3TTND7VOEA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AKUPMFDIIWTB2HAWSGQMAIKHMJBOGY4BMQGLFNGXVAMHCLNECQHA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HAGJEVXQHGJ532J7HJC2LSG2WO3GSIUCOWCTGBV62WEMO7THGDVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/46OPKQRPAFUAJS76SG6IZTMADU4SRS3JCAFGETFHN3NSOMLDMWIQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SFYUI4Z4YTGDNNHA2RACTG6GJD23LELNUKIZ6USFU3VOII4PCOLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/444XIUZR7IR2XQT2DRYSKRDHK3FDA6YKOSBBFDDLXFKQ6NLTQ5DQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/42SIXNHTVOGAHOGTLZ564SOHVRBUIRFORBROQVM5U62GOMGWLXLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CJGSPV53RT2ANOASYSERQPYKYIMPGAOWY2ZUNMER6LVJHYNDVV4A/vendors.js"
            ]
        },
        "GetServiceSettings": {
            "http": {
                "method": "GET",
                "requestUri": "/get-service-settings",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "homeRegion": {},
                    "organizationIntegration": {},
                    "sourceRegions": {
                        "type": "list",
                        "member": {}
                    },
                    "sourceEnvironment": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LI3TWZOIAOVD42CTXEUFQDQ6NOVC7NYXEB5SA2KTCWFFGLDACYZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJAKYASPXHDP62J3OCC434SOEENYPWV2NH6RM7TS2V7MIJUIJHBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FXBFGXWSTZ7SX2XDPA3L3UE7PYULRYH5CVUU5SX3LB6AKEAEOL6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXZLFAM6UNCFSKZOURHQDWYPR37RJ4NDLFBHSANH62PCBVZUJPBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IHT62WH6NF3H5Q756RGUD4MKZB7QYLQ5TDYLYUCXBM3YYQ4GJGIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCHAK5XXJGW44NCU3Z5X4SFEEZ5JUQPNQY27CYP7HASALX62ASVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OEXZA5QWQPW2FFGIECG2JXSFOOBXUENLX7TKORM7GC522ZOA3INA/vendors.js"
            ]
        },
        "GetWorkload": {
            "http": {
                "method": "GET",
                "requestUri": "/get-workload/{workloadId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workloadId"
                ],
                "members": {
                    "workloadId": {
                        "location": "uri",
                        "locationName": "workloadId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "workloadId": {},
                    "workloadName": {},
                    "numberOfWorkloadComponents": {
                        "type": "integer"
                    },
                    "numberOfWorkloadUnits": {
                        "type": "integer"
                    },
                    "numberOfRelatedEC2Instances": {
                        "type": "integer"
                    },
                    "numberOfUnitsSharedAcrossOtherWorkloads": {
                        "type": "integer"
                    },
                    "creationTime": {},
                    "lastModifiedTime": {},
                    "workloadStatus": {},
                    "approveStatus": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXZLFAM6UNCFSKZOURHQDWYPR37RJ4NDLFBHSANH62PCBVZUJPBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IHT62WH6NF3H5Q756RGUD4MKZB7QYLQ5TDYLYUCXBM3YYQ4GJGIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCHAK5XXJGW44NCU3Z5X4SFEEZ5JUQPNQY27CYP7HASALX62ASVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OEXZA5QWQPW2FFGIECG2JXSFOOBXUENLX7TKORM7GC522ZOA3INA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVZKF6H7WYYTXTQ7REI3QFIDXGGLXOCKGPMBGTSHSMILUSLBWRVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GYZFWIHCHQ5UGDNJ2MRNCLI3VS5TZ52WZJZUWGRTD5SFW25LPA6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/22AI4IAIFPOCR3DFQX555IYKLWZJSUQ4Z2FHW5B7WVCGNF4E7DWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSO6JAFQPDXQKN6AQGNJGIIXZ6COY5C6S35QV6BSL7FA3FCC237Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52AWATFZWPZRNK4CTZUIEKCZBSL2SJ5UWQMF77RIWEWV4GRENLWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NUF2J4XTY6QLJOIODHX5VDVPUCD362ERISDXKZ7NKUFKXVYTDFDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3P2FPVK6IYKNKVF57IBRFTG2B3JLY6VITCYIVLMWRHHLUZ7LWS2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYUS3446MBMOQYWYPMF3SNY2F67OM5O5HL2OLRIQQY3YAYWHSWIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XP2UPQXZ3I7X3MKGD3MAJTCG54EIFDKEGKDXQZYY5CO44ZALTCXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57KIWH5FMPRZOPRDQBLMQ2COBXLMB5ZLTMO22H2FSATAZFC3CC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THVUPPNX5XGXIZ2IRTOHNR343VH3NMKRSKLRCX4MI3S5DTEUPT4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/THVUPPNX5XGXIZ2IRTOHNR343VH3NMKRSKLRCX4MI3S5DTEUPT4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/A2V55TB2TLVOYFKHHQHQHADVS4X2TRJIA2ULCVULOM3TTND7VOEA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AKUPMFDIIWTB2HAWSGQMAIKHMJBOGY4BMQGLFNGXVAMHCLNECQHA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HAGJEVXQHGJ532J7HJC2LSG2WO3GSIUCOWCTGBV62WEMO7THGDVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/46OPKQRPAFUAJS76SG6IZTMADU4SRS3JCAFGETFHN3NSOMLDMWIQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SFYUI4Z4YTGDNNHA2RACTG6GJD23LELNUKIZ6USFU3VOII4PCOLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/444XIUZR7IR2XQT2DRYSKRDHK3FDA6YKOSBBFDDLXFKQ6NLTQ5DQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/42SIXNHTVOGAHOGTLZ564SOHVRBUIRFORBROQVM5U62GOMGWLXLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CJGSPV53RT2ANOASYSERQPYKYIMPGAOWY2ZUNMER6LVJHYNDVV4A/vendors.js"
            ]
        },
        "GetWorkloadUnit": {
            "http": {
                "method": "GET",
                "requestUri": "/get-workload-unit/{workloadUnitId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workloadUnitId"
                ],
                "members": {
                    "workloadUnitId": {
                        "location": "uri",
                        "locationName": "workloadUnitId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "workloadUnitId"
                ],
                "members": {
                    "workloadUnitId": {},
                    "workloadUnitName": {},
                    "workloadUnitType": {},
                    "workloadUnitInfo": {
                        "shape": "S28"
                    },
                    "creationTime": {},
                    "lastModifiedTime": {},
                    "networkCommunication": {
                        "type": "structure",
                        "members": {
                            "incoming": {
                                "shape": "S7"
                            },
                            "outgoing": {
                                "shape": "S7"
                            }
                        }
                    },
                    "s3References": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "runtimeAggregatedAnalyzer": {
                                    "shape": "S2c"
                                },
                                "antiPatternFile": {
                                    "shape": "S2c"
                                },
                                "contextId": {}
                            }
                        }
                    },
                    "numberOfRelatedEC2Instances": {
                        "type": "integer"
                    },
                    "numberOfRelatedWorkloads": {
                        "type": "integer"
                    },
                    "parentWorkloadUnitId": {},
                    "autoScalingGroupName": {},
                    "targetGroupName": {},
                    "version": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXZLFAM6UNCFSKZOURHQDWYPR37RJ4NDLFBHSANH62PCBVZUJPBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IHT62WH6NF3H5Q756RGUD4MKZB7QYLQ5TDYLYUCXBM3YYQ4GJGIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCHAK5XXJGW44NCU3Z5X4SFEEZ5JUQPNQY27CYP7HASALX62ASVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OEXZA5QWQPW2FFGIECG2JXSFOOBXUENLX7TKORM7GC522ZOA3INA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVZKF6H7WYYTXTQ7REI3QFIDXGGLXOCKGPMBGTSHSMILUSLBWRVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GYZFWIHCHQ5UGDNJ2MRNCLI3VS5TZ52WZJZUWGRTD5SFW25LPA6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/22AI4IAIFPOCR3DFQX555IYKLWZJSUQ4Z2FHW5B7WVCGNF4E7DWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSO6JAFQPDXQKN6AQGNJGIIXZ6COY5C6S35QV6BSL7FA3FCC237Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52AWATFZWPZRNK4CTZUIEKCZBSL2SJ5UWQMF77RIWEWV4GRENLWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NUF2J4XTY6QLJOIODHX5VDVPUCD362ERISDXKZ7NKUFKXVYTDFDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3P2FPVK6IYKNKVF57IBRFTG2B3JLY6VITCYIVLMWRHHLUZ7LWS2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYUS3446MBMOQYWYPMF3SNY2F67OM5O5HL2OLRIQQY3YAYWHSWIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XP2UPQXZ3I7X3MKGD3MAJTCG54EIFDKEGKDXQZYY5CO44ZALTCXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57KIWH5FMPRZOPRDQBLMQ2COBXLMB5ZLTMO22H2FSATAZFC3CC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THVUPPNX5XGXIZ2IRTOHNR343VH3NMKRSKLRCX4MI3S5DTEUPT4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/THVUPPNX5XGXIZ2IRTOHNR343VH3NMKRSKLRCX4MI3S5DTEUPT4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/A2V55TB2TLVOYFKHHQHQHADVS4X2TRJIA2ULCVULOM3TTND7VOEA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AKUPMFDIIWTB2HAWSGQMAIKHMJBOGY4BMQGLFNGXVAMHCLNECQHA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HAGJEVXQHGJ532J7HJC2LSG2WO3GSIUCOWCTGBV62WEMO7THGDVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/46OPKQRPAFUAJS76SG6IZTMADU4SRS3JCAFGETFHN3NSOMLDMWIQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SFYUI4Z4YTGDNNHA2RACTG6GJD23LELNUKIZ6USFU3VOII4PCOLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/444XIUZR7IR2XQT2DRYSKRDHK3FDA6YKOSBBFDDLXFKQ6NLTQ5DQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/42SIXNHTVOGAHOGTLZ564SOHVRBUIRFORBROQVM5U62GOMGWLXLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CJGSPV53RT2ANOASYSERQPYKYIMPGAOWY2ZUNMER6LVJHYNDVV4A/vendors.js"
            ]
        },
        "ListEC2Instances": {
            "http": {
                "requestUri": "/list-ec2-instances",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "filters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "name": {},
                                "value": {
                                    "type": "list",
                                    "member": {}
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ec2Instances"
                ],
                "members": {
                    "ec2Instances": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ec2InstanceId": {},
                                "operatingSystem": {},
                                "numberUnitsHosted": {
                                    "type": "integer"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXZLFAM6UNCFSKZOURHQDWYPR37RJ4NDLFBHSANH62PCBVZUJPBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IHT62WH6NF3H5Q756RGUD4MKZB7QYLQ5TDYLYUCXBM3YYQ4GJGIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCHAK5XXJGW44NCU3Z5X4SFEEZ5JUQPNQY27CYP7HASALX62ASVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OEXZA5QWQPW2FFGIECG2JXSFOOBXUENLX7TKORM7GC522ZOA3INA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVZKF6H7WYYTXTQ7REI3QFIDXGGLXOCKGPMBGTSHSMILUSLBWRVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GYZFWIHCHQ5UGDNJ2MRNCLI3VS5TZ52WZJZUWGRTD5SFW25LPA6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/22AI4IAIFPOCR3DFQX555IYKLWZJSUQ4Z2FHW5B7WVCGNF4E7DWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSO6JAFQPDXQKN6AQGNJGIIXZ6COY5C6S35QV6BSL7FA3FCC237Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52AWATFZWPZRNK4CTZUIEKCZBSL2SJ5UWQMF77RIWEWV4GRENLWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NUF2J4XTY6QLJOIODHX5VDVPUCD362ERISDXKZ7NKUFKXVYTDFDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3P2FPVK6IYKNKVF57IBRFTG2B3JLY6VITCYIVLMWRHHLUZ7LWS2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYUS3446MBMOQYWYPMF3SNY2F67OM5O5HL2OLRIQQY3YAYWHSWIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XP2UPQXZ3I7X3MKGD3MAJTCG54EIFDKEGKDXQZYY5CO44ZALTCXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57KIWH5FMPRZOPRDQBLMQ2COBXLMB5ZLTMO22H2FSATAZFC3CC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THVUPPNX5XGXIZ2IRTOHNR343VH3NMKRSKLRCX4MI3S5DTEUPT4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/THVUPPNX5XGXIZ2IRTOHNR343VH3NMKRSKLRCX4MI3S5DTEUPT4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/A2V55TB2TLVOYFKHHQHQHADVS4X2TRJIA2ULCVULOM3TTND7VOEA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AKUPMFDIIWTB2HAWSGQMAIKHMJBOGY4BMQGLFNGXVAMHCLNECQHA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HAGJEVXQHGJ532J7HJC2LSG2WO3GSIUCOWCTGBV62WEMO7THGDVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/46OPKQRPAFUAJS76SG6IZTMADU4SRS3JCAFGETFHN3NSOMLDMWIQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SFYUI4Z4YTGDNNHA2RACTG6GJD23LELNUKIZ6USFU3VOII4PCOLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/444XIUZR7IR2XQT2DRYSKRDHK3FDA6YKOSBBFDDLXFKQ6NLTQ5DQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/42SIXNHTVOGAHOGTLZ564SOHVRBUIRFORBROQVM5U62GOMGWLXLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CJGSPV53RT2ANOASYSERQPYKYIMPGAOWY2ZUNMER6LVJHYNDVV4A/vendors.js"
            ]
        },
        "ListWorkloadComponents": {
            "http": {
                "requestUri": "/list-workload-components",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "filters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "name": {},
                                "value": {
                                    "type": "list",
                                    "member": {}
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "workloadComponents"
                ],
                "members": {
                    "workloadComponents": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "workloadComponentId"
                            ],
                            "members": {
                                "workloadComponentId": {},
                                "workloadComponentName": {},
                                "accountId": {},
                                "creationTime": {},
                                "lastModifiedTime": {},
                                "antipatternAnalyses": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "analysisType": {},
                                            "analysisTool": {
                                                "type": "structure",
                                                "members": {
                                                    "name": {}
                                                }
                                            },
                                            "antipatternS3Url": {}
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXZLFAM6UNCFSKZOURHQDWYPR37RJ4NDLFBHSANH62PCBVZUJPBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IHT62WH6NF3H5Q756RGUD4MKZB7QYLQ5TDYLYUCXBM3YYQ4GJGIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCHAK5XXJGW44NCU3Z5X4SFEEZ5JUQPNQY27CYP7HASALX62ASVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OEXZA5QWQPW2FFGIECG2JXSFOOBXUENLX7TKORM7GC522ZOA3INA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVZKF6H7WYYTXTQ7REI3QFIDXGGLXOCKGPMBGTSHSMILUSLBWRVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GYZFWIHCHQ5UGDNJ2MRNCLI3VS5TZ52WZJZUWGRTD5SFW25LPA6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/22AI4IAIFPOCR3DFQX555IYKLWZJSUQ4Z2FHW5B7WVCGNF4E7DWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSO6JAFQPDXQKN6AQGNJGIIXZ6COY5C6S35QV6BSL7FA3FCC237Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52AWATFZWPZRNK4CTZUIEKCZBSL2SJ5UWQMF77RIWEWV4GRENLWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NUF2J4XTY6QLJOIODHX5VDVPUCD362ERISDXKZ7NKUFKXVYTDFDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3P2FPVK6IYKNKVF57IBRFTG2B3JLY6VITCYIVLMWRHHLUZ7LWS2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYUS3446MBMOQYWYPMF3SNY2F67OM5O5HL2OLRIQQY3YAYWHSWIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XP2UPQXZ3I7X3MKGD3MAJTCG54EIFDKEGKDXQZYY5CO44ZALTCXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57KIWH5FMPRZOPRDQBLMQ2COBXLMB5ZLTMO22H2FSATAZFC3CC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THVUPPNX5XGXIZ2IRTOHNR343VH3NMKRSKLRCX4MI3S5DTEUPT4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/THVUPPNX5XGXIZ2IRTOHNR343VH3NMKRSKLRCX4MI3S5DTEUPT4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/A2V55TB2TLVOYFKHHQHQHADVS4X2TRJIA2ULCVULOM3TTND7VOEA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AKUPMFDIIWTB2HAWSGQMAIKHMJBOGY4BMQGLFNGXVAMHCLNECQHA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HAGJEVXQHGJ532J7HJC2LSG2WO3GSIUCOWCTGBV62WEMO7THGDVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/46OPKQRPAFUAJS76SG6IZTMADU4SRS3JCAFGETFHN3NSOMLDMWIQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SFYUI4Z4YTGDNNHA2RACTG6GJD23LELNUKIZ6USFU3VOII4PCOLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/444XIUZR7IR2XQT2DRYSKRDHK3FDA6YKOSBBFDDLXFKQ6NLTQ5DQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/42SIXNHTVOGAHOGTLZ564SOHVRBUIRFORBROQVM5U62GOMGWLXLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CJGSPV53RT2ANOASYSERQPYKYIMPGAOWY2ZUNMER6LVJHYNDVV4A/vendors.js"
            ]
        },
        "ListWorkloadComponentsRecommendations": {
            "http": {
                "requestUri": "/list-workload-components-recommendations",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "filters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "name": {},
                                "value": {}
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "workloadComponentsRecommendations": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "workloadComponentId": {},
                                "workloadComponentName": {},
                                "workloadId": {},
                                "units": {},
                                "recommendationPathway": {
                                    "type": "structure",
                                    "members": {
                                        "pathway": {},
                                        "strategy": {},
                                        "deployment": {},
                                        "operationalEfficiency": {},
                                        "complexity": {},
                                        "licenseIndependency": {},
                                        "costSavings": {}
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXZLFAM6UNCFSKZOURHQDWYPR37RJ4NDLFBHSANH62PCBVZUJPBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IHT62WH6NF3H5Q756RGUD4MKZB7QYLQ5TDYLYUCXBM3YYQ4GJGIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCHAK5XXJGW44NCU3Z5X4SFEEZ5JUQPNQY27CYP7HASALX62ASVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OEXZA5QWQPW2FFGIECG2JXSFOOBXUENLX7TKORM7GC522ZOA3INA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVZKF6H7WYYTXTQ7REI3QFIDXGGLXOCKGPMBGTSHSMILUSLBWRVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GYZFWIHCHQ5UGDNJ2MRNCLI3VS5TZ52WZJZUWGRTD5SFW25LPA6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/22AI4IAIFPOCR3DFQX555IYKLWZJSUQ4Z2FHW5B7WVCGNF4E7DWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSO6JAFQPDXQKN6AQGNJGIIXZ6COY5C6S35QV6BSL7FA3FCC237Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52AWATFZWPZRNK4CTZUIEKCZBSL2SJ5UWQMF77RIWEWV4GRENLWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NUF2J4XTY6QLJOIODHX5VDVPUCD362ERISDXKZ7NKUFKXVYTDFDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3P2FPVK6IYKNKVF57IBRFTG2B3JLY6VITCYIVLMWRHHLUZ7LWS2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYUS3446MBMOQYWYPMF3SNY2F67OM5O5HL2OLRIQQY3YAYWHSWIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XP2UPQXZ3I7X3MKGD3MAJTCG54EIFDKEGKDXQZYY5CO44ZALTCXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57KIWH5FMPRZOPRDQBLMQ2COBXLMB5ZLTMO22H2FSATAZFC3CC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THVUPPNX5XGXIZ2IRTOHNR343VH3NMKRSKLRCX4MI3S5DTEUPT4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/THVUPPNX5XGXIZ2IRTOHNR343VH3NMKRSKLRCX4MI3S5DTEUPT4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/A2V55TB2TLVOYFKHHQHQHADVS4X2TRJIA2ULCVULOM3TTND7VOEA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AKUPMFDIIWTB2HAWSGQMAIKHMJBOGY4BMQGLFNGXVAMHCLNECQHA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HAGJEVXQHGJ532J7HJC2LSG2WO3GSIUCOWCTGBV62WEMO7THGDVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/46OPKQRPAFUAJS76SG6IZTMADU4SRS3JCAFGETFHN3NSOMLDMWIQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SFYUI4Z4YTGDNNHA2RACTG6GJD23LELNUKIZ6USFU3VOII4PCOLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/444XIUZR7IR2XQT2DRYSKRDHK3FDA6YKOSBBFDDLXFKQ6NLTQ5DQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/42SIXNHTVOGAHOGTLZ564SOHVRBUIRFORBROQVM5U62GOMGWLXLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CJGSPV53RT2ANOASYSERQPYKYIMPGAOWY2ZUNMER6LVJHYNDVV4A/vendors.js"
            ]
        },
        "ListWorkloadUnits": {
            "http": {
                "requestUri": "/list-workload-units",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "filters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "name": {},
                                "value": {
                                    "type": "list",
                                    "member": {}
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "workloadUnits"
                ],
                "members": {
                    "nextToken": {},
                    "workloadUnits": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "workloadUnitId"
                            ],
                            "members": {
                                "workloadUnitId": {},
                                "workloadUnitName": {},
                                "accountId": {},
                                "workloadUnitType": {},
                                "workloadUnitInfo": {
                                    "shape": "S28"
                                },
                                "creationTime": {},
                                "lastModifiedTime": {},
                                "numberOfRelatedEC2Instances": {
                                    "type": "integer"
                                },
                                "numberOfRelatedWorkloads": {
                                    "type": "integer"
                                },
                                "parentWorkloadUnitId": {},
                                "autoScalingGroupName": {},
                                "targetGroupName": {},
                                "version": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXZLFAM6UNCFSKZOURHQDWYPR37RJ4NDLFBHSANH62PCBVZUJPBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IHT62WH6NF3H5Q756RGUD4MKZB7QYLQ5TDYLYUCXBM3YYQ4GJGIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCHAK5XXJGW44NCU3Z5X4SFEEZ5JUQPNQY27CYP7HASALX62ASVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OEXZA5QWQPW2FFGIECG2JXSFOOBXUENLX7TKORM7GC522ZOA3INA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVZKF6H7WYYTXTQ7REI3QFIDXGGLXOCKGPMBGTSHSMILUSLBWRVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GYZFWIHCHQ5UGDNJ2MRNCLI3VS5TZ52WZJZUWGRTD5SFW25LPA6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/22AI4IAIFPOCR3DFQX555IYKLWZJSUQ4Z2FHW5B7WVCGNF4E7DWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSO6JAFQPDXQKN6AQGNJGIIXZ6COY5C6S35QV6BSL7FA3FCC237Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52AWATFZWPZRNK4CTZUIEKCZBSL2SJ5UWQMF77RIWEWV4GRENLWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NUF2J4XTY6QLJOIODHX5VDVPUCD362ERISDXKZ7NKUFKXVYTDFDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3P2FPVK6IYKNKVF57IBRFTG2B3JLY6VITCYIVLMWRHHLUZ7LWS2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYUS3446MBMOQYWYPMF3SNY2F67OM5O5HL2OLRIQQY3YAYWHSWIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XP2UPQXZ3I7X3MKGD3MAJTCG54EIFDKEGKDXQZYY5CO44ZALTCXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57KIWH5FMPRZOPRDQBLMQ2COBXLMB5ZLTMO22H2FSATAZFC3CC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THVUPPNX5XGXIZ2IRTOHNR343VH3NMKRSKLRCX4MI3S5DTEUPT4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/THVUPPNX5XGXIZ2IRTOHNR343VH3NMKRSKLRCX4MI3S5DTEUPT4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/A2V55TB2TLVOYFKHHQHQHADVS4X2TRJIA2ULCVULOM3TTND7VOEA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AKUPMFDIIWTB2HAWSGQMAIKHMJBOGY4BMQGLFNGXVAMHCLNECQHA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HAGJEVXQHGJ532J7HJC2LSG2WO3GSIUCOWCTGBV62WEMO7THGDVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/46OPKQRPAFUAJS76SG6IZTMADU4SRS3JCAFGETFHN3NSOMLDMWIQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SFYUI4Z4YTGDNNHA2RACTG6GJD23LELNUKIZ6USFU3VOII4PCOLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/444XIUZR7IR2XQT2DRYSKRDHK3FDA6YKOSBBFDDLXFKQ6NLTQ5DQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/42SIXNHTVOGAHOGTLZ564SOHVRBUIRFORBROQVM5U62GOMGWLXLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CJGSPV53RT2ANOASYSERQPYKYIMPGAOWY2ZUNMER6LVJHYNDVV4A/vendors.js"
            ]
        },
        "ListWorkloads": {
            "http": {
                "requestUri": "/list-workloads",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "filters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "name": {},
                                "value": {
                                    "type": "list",
                                    "member": {}
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "workloads"
                ],
                "members": {
                    "totalWorkloads": {
                        "type": "integer"
                    },
                    "nextToken": {},
                    "workloads": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "workloadId"
                            ],
                            "members": {
                                "workloadId": {},
                                "workloadName": {},
                                "accountId": {},
                                "creationTime": {},
                                "lastModifiedTime": {},
                                "numberOfRelatedEC2Instances": {
                                    "type": "integer"
                                },
                                "numberOfUnitsSharedAcrossOtherWorkloads": {
                                    "type": "integer"
                                },
                                "workloadStatus": {},
                                "approveStatus": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXZLFAM6UNCFSKZOURHQDWYPR37RJ4NDLFBHSANH62PCBVZUJPBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IHT62WH6NF3H5Q756RGUD4MKZB7QYLQ5TDYLYUCXBM3YYQ4GJGIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCHAK5XXJGW44NCU3Z5X4SFEEZ5JUQPNQY27CYP7HASALX62ASVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OEXZA5QWQPW2FFGIECG2JXSFOOBXUENLX7TKORM7GC522ZOA3INA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVZKF6H7WYYTXTQ7REI3QFIDXGGLXOCKGPMBGTSHSMILUSLBWRVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GYZFWIHCHQ5UGDNJ2MRNCLI3VS5TZ52WZJZUWGRTD5SFW25LPA6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/22AI4IAIFPOCR3DFQX555IYKLWZJSUQ4Z2FHW5B7WVCGNF4E7DWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSO6JAFQPDXQKN6AQGNJGIIXZ6COY5C6S35QV6BSL7FA3FCC237Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52AWATFZWPZRNK4CTZUIEKCZBSL2SJ5UWQMF77RIWEWV4GRENLWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NUF2J4XTY6QLJOIODHX5VDVPUCD362ERISDXKZ7NKUFKXVYTDFDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3P2FPVK6IYKNKVF57IBRFTG2B3JLY6VITCYIVLMWRHHLUZ7LWS2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYUS3446MBMOQYWYPMF3SNY2F67OM5O5HL2OLRIQQY3YAYWHSWIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XP2UPQXZ3I7X3MKGD3MAJTCG54EIFDKEGKDXQZYY5CO44ZALTCXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57KIWH5FMPRZOPRDQBLMQ2COBXLMB5ZLTMO22H2FSATAZFC3CC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THVUPPNX5XGXIZ2IRTOHNR343VH3NMKRSKLRCX4MI3S5DTEUPT4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/THVUPPNX5XGXIZ2IRTOHNR343VH3NMKRSKLRCX4MI3S5DTEUPT4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/A2V55TB2TLVOYFKHHQHQHADVS4X2TRJIA2ULCVULOM3TTND7VOEA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AKUPMFDIIWTB2HAWSGQMAIKHMJBOGY4BMQGLFNGXVAMHCLNECQHA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HAGJEVXQHGJ532J7HJC2LSG2WO3GSIUCOWCTGBV62WEMO7THGDVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/46OPKQRPAFUAJS76SG6IZTMADU4SRS3JCAFGETFHN3NSOMLDMWIQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SFYUI4Z4YTGDNNHA2RACTG6GJD23LELNUKIZ6USFU3VOII4PCOLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/444XIUZR7IR2XQT2DRYSKRDHK3FDA6YKOSBBFDDLXFKQ6NLTQ5DQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/42SIXNHTVOGAHOGTLZ564SOHVRBUIRFORBROQVM5U62GOMGWLXLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CJGSPV53RT2ANOASYSERQPYKYIMPGAOWY2ZUNMER6LVJHYNDVV4A/vendors.js"
            ]
        },
        "RemoveWorkloadComponentsFromWorkload": {
            "http": {
                "requestUri": "/remove-workload-components-from-workload/",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workloadId",
                    "workloadComponentIds"
                ],
                "members": {
                    "workloadId": {},
                    "workloadComponentIds": {
                        "shape": "S3"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXZLFAM6UNCFSKZOURHQDWYPR37RJ4NDLFBHSANH62PCBVZUJPBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IHT62WH6NF3H5Q756RGUD4MKZB7QYLQ5TDYLYUCXBM3YYQ4GJGIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCHAK5XXJGW44NCU3Z5X4SFEEZ5JUQPNQY27CYP7HASALX62ASVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OEXZA5QWQPW2FFGIECG2JXSFOOBXUENLX7TKORM7GC522ZOA3INA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVZKF6H7WYYTXTQ7REI3QFIDXGGLXOCKGPMBGTSHSMILUSLBWRVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GYZFWIHCHQ5UGDNJ2MRNCLI3VS5TZ52WZJZUWGRTD5SFW25LPA6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/22AI4IAIFPOCR3DFQX555IYKLWZJSUQ4Z2FHW5B7WVCGNF4E7DWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSO6JAFQPDXQKN6AQGNJGIIXZ6COY5C6S35QV6BSL7FA3FCC237Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52AWATFZWPZRNK4CTZUIEKCZBSL2SJ5UWQMF77RIWEWV4GRENLWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NUF2J4XTY6QLJOIODHX5VDVPUCD362ERISDXKZ7NKUFKXVYTDFDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3P2FPVK6IYKNKVF57IBRFTG2B3JLY6VITCYIVLMWRHHLUZ7LWS2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYUS3446MBMOQYWYPMF3SNY2F67OM5O5HL2OLRIQQY3YAYWHSWIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XP2UPQXZ3I7X3MKGD3MAJTCG54EIFDKEGKDXQZYY5CO44ZALTCXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57KIWH5FMPRZOPRDQBLMQ2COBXLMB5ZLTMO22H2FSATAZFC3CC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THVUPPNX5XGXIZ2IRTOHNR343VH3NMKRSKLRCX4MI3S5DTEUPT4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/THVUPPNX5XGXIZ2IRTOHNR343VH3NMKRSKLRCX4MI3S5DTEUPT4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/A2V55TB2TLVOYFKHHQHQHADVS4X2TRJIA2ULCVULOM3TTND7VOEA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AKUPMFDIIWTB2HAWSGQMAIKHMJBOGY4BMQGLFNGXVAMHCLNECQHA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HAGJEVXQHGJ532J7HJC2LSG2WO3GSIUCOWCTGBV62WEMO7THGDVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/46OPKQRPAFUAJS76SG6IZTMADU4SRS3JCAFGETFHN3NSOMLDMWIQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SFYUI4Z4YTGDNNHA2RACTG6GJD23LELNUKIZ6USFU3VOII4PCOLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/444XIUZR7IR2XQT2DRYSKRDHK3FDA6YKOSBBFDDLXFKQ6NLTQ5DQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/42SIXNHTVOGAHOGTLZ564SOHVRBUIRFORBROQVM5U62GOMGWLXLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CJGSPV53RT2ANOASYSERQPYKYIMPGAOWY2ZUNMER6LVJHYNDVV4A/vendors.js"
            ]
        },
        "RemoveWorkloadUnitsFromWorkloadComponent": {
            "http": {
                "requestUri": "/remove-workload-units-from-workload-component/",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workloadComponentId",
                    "workloadUnitIds"
                ],
                "members": {
                    "workloadComponentId": {},
                    "workloadUnitIds": {
                        "shape": "S7"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXZLFAM6UNCFSKZOURHQDWYPR37RJ4NDLFBHSANH62PCBVZUJPBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IHT62WH6NF3H5Q756RGUD4MKZB7QYLQ5TDYLYUCXBM3YYQ4GJGIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCHAK5XXJGW44NCU3Z5X4SFEEZ5JUQPNQY27CYP7HASALX62ASVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OEXZA5QWQPW2FFGIECG2JXSFOOBXUENLX7TKORM7GC522ZOA3INA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVZKF6H7WYYTXTQ7REI3QFIDXGGLXOCKGPMBGTSHSMILUSLBWRVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GYZFWIHCHQ5UGDNJ2MRNCLI3VS5TZ52WZJZUWGRTD5SFW25LPA6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/22AI4IAIFPOCR3DFQX555IYKLWZJSUQ4Z2FHW5B7WVCGNF4E7DWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSO6JAFQPDXQKN6AQGNJGIIXZ6COY5C6S35QV6BSL7FA3FCC237Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52AWATFZWPZRNK4CTZUIEKCZBSL2SJ5UWQMF77RIWEWV4GRENLWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NUF2J4XTY6QLJOIODHX5VDVPUCD362ERISDXKZ7NKUFKXVYTDFDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3P2FPVK6IYKNKVF57IBRFTG2B3JLY6VITCYIVLMWRHHLUZ7LWS2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYUS3446MBMOQYWYPMF3SNY2F67OM5O5HL2OLRIQQY3YAYWHSWIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XP2UPQXZ3I7X3MKGD3MAJTCG54EIFDKEGKDXQZYY5CO44ZALTCXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57KIWH5FMPRZOPRDQBLMQ2COBXLMB5ZLTMO22H2FSATAZFC3CC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THVUPPNX5XGXIZ2IRTOHNR343VH3NMKRSKLRCX4MI3S5DTEUPT4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/THVUPPNX5XGXIZ2IRTOHNR343VH3NMKRSKLRCX4MI3S5DTEUPT4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/A2V55TB2TLVOYFKHHQHQHADVS4X2TRJIA2ULCVULOM3TTND7VOEA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AKUPMFDIIWTB2HAWSGQMAIKHMJBOGY4BMQGLFNGXVAMHCLNECQHA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HAGJEVXQHGJ532J7HJC2LSG2WO3GSIUCOWCTGBV62WEMO7THGDVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/46OPKQRPAFUAJS76SG6IZTMADU4SRS3JCAFGETFHN3NSOMLDMWIQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SFYUI4Z4YTGDNNHA2RACTG6GJD23LELNUKIZ6USFU3VOII4PCOLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/444XIUZR7IR2XQT2DRYSKRDHK3FDA6YKOSBBFDDLXFKQ6NLTQ5DQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/42SIXNHTVOGAHOGTLZ564SOHVRBUIRFORBROQVM5U62GOMGWLXLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CJGSPV53RT2ANOASYSERQPYKYIMPGAOWY2ZUNMER6LVJHYNDVV4A/vendors.js"
            ]
        },
        "ResetWorkload": {
            "http": {
                "requestUri": "/reset-workload/",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workloadId"
                ],
                "members": {
                    "workloadId": {}
                }
            },
            "output": {
                "type": "structure",
[...]
