{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2020-08-07",
        "endpointPrefix": "models-v2-lex",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceAbbreviation": "Lex Models V2",
        "serviceFullName": "Amazon Lex Model Building V2",
        "serviceId": "Lex Models V2",
        "signatureVersion": "v4",
        "signingName": "lex",
        "uid": "models.lex.v2-2020-08-07",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/PONYQGX7DYELNIRMIUKEKYBUROFDGXK6H7FRWNGWISRM26UEVWKA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WKQNGLWLLY6BJ3NAO3LUIINP2P4R26ZFYFIAQBXAEANMCEDPVBFA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KXHNVZ53XXHQ6TI2F5PCFUEGZ53VTRMCK6LVOK2EMRLLH3XXGKKA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/M4DYKH3KNG4DWGXPH4DZZMALO4NZ6ALPXOEBIJLFM3OYWNYTXJKA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XVMSACDRA5IJGRWLUT2IV4BKGLBAWRYSJAZ2UFW7FNAYUS26T7DA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GXZLXMOGNGEB22U4VSHW5XH35JMYOKV43WPB65HH45LEWKN2UVCQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
        ]
    },
    "operations": {
        "BatchCreateCustomVocabularyItem": {
            "http": {
                "method": "PUT",
                "requestUri": "/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/customvocabulary/DEFAULT/batchcreate",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "botId",
                    "botVersion",
                    "localeId",
                    "customVocabularyItemList"
                ],
                "members": {
                    "botId": {
                        "location": "uri",
                        "locationName": "botId"
                    },
                    "botVersion": {
                        "location": "uri",
                        "locationName": "botVersion"
                    },
                    "localeId": {
                        "location": "uri",
                        "locationName": "localeId"
                    },
                    "customVocabularyItemList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "phrase"
                            ],
                            "members": {
                                "phrase": {},
                                "weight": {
                                    "type": "integer"
                                },
                                "displayAs": {}
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "botId": {},
                    "botVersion": {},
                    "localeId": {},
                    "errors": {
                        "shape": "Sa"
                    },
                    "resources": {
                        "shape": "Sf"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6TPFYA3PEGDMCDW7KXHXY5CJ7RH7AXWYI2Z4KKUZ6JCHWCR5PQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DZ2U6F5MEPZ4PZUQYAFLYYK2FUAPWLVPEVWZQDZVLO3FVXIPACQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTJ2YMDUUF2C3CZJKTSAFTXYXNJYQNOQMKB2EDWLTGZ3U4SRPRXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V43VOPFGYKUMO2GBNRG6GSHZ6SWGLGNOHZ65FOFBALF6GDNOTDGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUKTU6NFHEWOF4GRPLCRICLFATBSJQVLP3YBRYFJ33IGO3S5YJOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2NMJUXNRB7ZZ3GET5VUX6YY3345OL3WUPK747DR3CI5UDMEANZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZO6RHO26VHHUMDRQGYM5HUDSKGBE3RZTDZJ7YD3T2GICPUSZCKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JG7VMOLQ5XPFXC2J3L74LRSVTQAAECLOFUJIW4VZBAGCFUZ67ZOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNDRJOPS5T4HVTRLXTYRZZHFSNXCEVCKXOJ2YP67RQNUSY5RRMCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q27Y5ARBI3N4A4637MUZ4LXWFMQM5DIOV3PKVFDTF47XGJGK6DFQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXJRTCAPNOKMBQ2V6H2FFNETN27A25BDAOAY2T6TDEIGXJUJVLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z34GXOAA6NDA2L4OLV3SS7U27C3NCAF2AMBOGO3FSATG2AGPVAKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js"
            ]
        },
        "BatchDeleteCustomVocabularyItem": {
            "http": {
                "requestUri": "/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/customvocabulary/DEFAULT/batchdelete",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "botId",
                    "botVersion",
                    "localeId",
                    "customVocabularyItemList"
                ],
                "members": {
                    "botId": {
                        "location": "uri",
                        "locationName": "botId"
                    },
                    "botVersion": {
                        "location": "uri",
                        "locationName": "botVersion"
                    },
                    "localeId": {
                        "location": "uri",
                        "locationName": "localeId"
                    },
                    "customVocabularyItemList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "itemId"
                            ],
                            "members": {
                                "itemId": {}
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "botId": {},
                    "botVersion": {},
                    "localeId": {},
                    "errors": {
                        "shape": "Sa"
                    },
                    "resources": {
                        "shape": "Sf"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6TPFYA3PEGDMCDW7KXHXY5CJ7RH7AXWYI2Z4KKUZ6JCHWCR5PQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DZ2U6F5MEPZ4PZUQYAFLYYK2FUAPWLVPEVWZQDZVLO3FVXIPACQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTJ2YMDUUF2C3CZJKTSAFTXYXNJYQNOQMKB2EDWLTGZ3U4SRPRXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V43VOPFGYKUMO2GBNRG6GSHZ6SWGLGNOHZ65FOFBALF6GDNOTDGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUKTU6NFHEWOF4GRPLCRICLFATBSJQVLP3YBRYFJ33IGO3S5YJOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2NMJUXNRB7ZZ3GET5VUX6YY3345OL3WUPK747DR3CI5UDMEANZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZO6RHO26VHHUMDRQGYM5HUDSKGBE3RZTDZJ7YD3T2GICPUSZCKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JG7VMOLQ5XPFXC2J3L74LRSVTQAAECLOFUJIW4VZBAGCFUZ67ZOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNDRJOPS5T4HVTRLXTYRZZHFSNXCEVCKXOJ2YP67RQNUSY5RRMCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q27Y5ARBI3N4A4637MUZ4LXWFMQM5DIOV3PKVFDTF47XGJGK6DFQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXJRTCAPNOKMBQ2V6H2FFNETN27A25BDAOAY2T6TDEIGXJUJVLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z34GXOAA6NDA2L4OLV3SS7U27C3NCAF2AMBOGO3FSATG2AGPVAKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js"
            ]
        },
        "BatchUpdateCustomVocabularyItem": {
            "http": {
                "method": "PUT",
                "requestUri": "/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/customvocabulary/DEFAULT/batchupdate",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "botId",
                    "botVersion",
                    "localeId",
                    "customVocabularyItemList"
                ],
                "members": {
                    "botId": {
                        "location": "uri",
                        "locationName": "botId"
                    },
                    "botVersion": {
                        "location": "uri",
                        "locationName": "botVersion"
                    },
                    "localeId": {
                        "location": "uri",
                        "locationName": "localeId"
                    },
                    "customVocabularyItemList": {
                        "type": "list",
                        "member": {
                            "shape": "Sg"
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "botId": {},
                    "botVersion": {},
                    "localeId": {},
                    "errors": {
                        "shape": "Sa"
                    },
                    "resources": {
                        "shape": "Sf"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6TPFYA3PEGDMCDW7KXHXY5CJ7RH7AXWYI2Z4KKUZ6JCHWCR5PQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DZ2U6F5MEPZ4PZUQYAFLYYK2FUAPWLVPEVWZQDZVLO3FVXIPACQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTJ2YMDUUF2C3CZJKTSAFTXYXNJYQNOQMKB2EDWLTGZ3U4SRPRXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V43VOPFGYKUMO2GBNRG6GSHZ6SWGLGNOHZ65FOFBALF6GDNOTDGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUKTU6NFHEWOF4GRPLCRICLFATBSJQVLP3YBRYFJ33IGO3S5YJOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2NMJUXNRB7ZZ3GET5VUX6YY3345OL3WUPK747DR3CI5UDMEANZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZO6RHO26VHHUMDRQGYM5HUDSKGBE3RZTDZJ7YD3T2GICPUSZCKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JG7VMOLQ5XPFXC2J3L74LRSVTQAAECLOFUJIW4VZBAGCFUZ67ZOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNDRJOPS5T4HVTRLXTYRZZHFSNXCEVCKXOJ2YP67RQNUSY5RRMCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q27Y5ARBI3N4A4637MUZ4LXWFMQM5DIOV3PKVFDTF47XGJGK6DFQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXJRTCAPNOKMBQ2V6H2FFNETN27A25BDAOAY2T6TDEIGXJUJVLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z34GXOAA6NDA2L4OLV3SS7U27C3NCAF2AMBOGO3FSATG2AGPVAKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js"
            ]
        },
        "BuildBotLocale": {
            "http": {
                "requestUri": "/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "botId",
                    "botVersion",
                    "localeId"
                ],
                "members": {
                    "botId": {
                        "location": "uri",
                        "locationName": "botId"
                    },
                    "botVersion": {
                        "location": "uri",
                        "locationName": "botVersion"
                    },
                    "localeId": {
                        "location": "uri",
                        "locationName": "localeId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "botId": {},
                    "botVersion": {},
                    "localeId": {},
                    "botLocaleStatus": {},
                    "lastBuildSubmittedDateTime": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKQNGLWLLY6BJ3NAO3LUIINP2P4R26ZFYFIAQBXAEANMCEDPVBFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXHNVZ53XXHQ6TI2F5PCFUEGZ53VTRMCK6LVOK2EMRLLH3XXGKKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4DYKH3KNG4DWGXPH4DZZMALO4NZ6ALPXOEBIJLFM3OYWNYTXJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVMSACDRA5IJGRWLUT2IV4BKGLBAWRYSJAZ2UFW7FNAYUS26T7DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXZLXMOGNGEB22U4VSHW5XH35JMYOKV43WPB65HH45LEWKN2UVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "CreateBot": {
            "http": {
                "method": "PUT",
                "requestUri": "/bots/",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "botName",
                    "roleArn",
                    "dataPrivacy",
                    "idleSessionTTLInSeconds"
                ],
                "members": {
                    "botName": {},
                    "description": {},
                    "roleArn": {},
                    "dataPrivacy": {
                        "shape": "Sx"
                    },
                    "idleSessionTTLInSeconds": {
                        "type": "integer"
                    },
                    "botTags": {
                        "shape": "S10"
                    },
                    "testBotAliasTags": {
                        "shape": "S10"
                    },
                    "botType": {},
                    "botMembers": {
                        "shape": "S14"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "botId": {},
                    "botName": {},
                    "description": {},
                    "roleArn": {},
                    "dataPrivacy": {
                        "shape": "Sx"
                    },
                    "idleSessionTTLInSeconds": {
                        "type": "integer"
                    },
                    "botStatus": {},
                    "creationDateTime": {
                        "type": "timestamp"
                    },
                    "botTags": {
                        "shape": "S10"
                    },
                    "testBotAliasTags": {
                        "shape": "S10"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKQNGLWLLY6BJ3NAO3LUIINP2P4R26ZFYFIAQBXAEANMCEDPVBFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXHNVZ53XXHQ6TI2F5PCFUEGZ53VTRMCK6LVOK2EMRLLH3XXGKKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4DYKH3KNG4DWGXPH4DZZMALO4NZ6ALPXOEBIJLFM3OYWNYTXJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVMSACDRA5IJGRWLUT2IV4BKGLBAWRYSJAZ2UFW7FNAYUS26T7DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXZLXMOGNGEB22U4VSHW5XH35JMYOKV43WPB65HH45LEWKN2UVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "CreateBotAlias": {
            "http": {
                "method": "PUT",
                "requestUri": "/bots/{botId}/botaliases/",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "botAliasName",
                    "botId"
                ],
                "members": {
                    "botAliasName": {},
                    "description": {},
                    "botVersion": {},
                    "botAliasLocaleSettings": {
                        "shape": "S17"
                    },
                    "conversationLogSettings": {
                        "shape": "S1e"
                    },
                    "sentimentAnalysisSettings": {
                        "shape": "S1r"
                    },
                    "botId": {
                        "location": "uri",
                        "locationName": "botId"
                    },
                    "tags": {
                        "shape": "S10"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "botAliasId": {},
                    "botAliasName": {},
                    "description": {},
                    "botVersion": {},
                    "botAliasLocaleSettings": {
                        "shape": "S17"
                    },
                    "conversationLogSettings": {
                        "shape": "S1e"
                    },
                    "sentimentAnalysisSettings": {
                        "shape": "S1r"
                    },
                    "botAliasStatus": {},
                    "botId": {},
                    "creationDateTime": {
                        "type": "timestamp"
                    },
                    "tags": {
                        "shape": "S10"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKQNGLWLLY6BJ3NAO3LUIINP2P4R26ZFYFIAQBXAEANMCEDPVBFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXHNVZ53XXHQ6TI2F5PCFUEGZ53VTRMCK6LVOK2EMRLLH3XXGKKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4DYKH3KNG4DWGXPH4DZZMALO4NZ6ALPXOEBIJLFM3OYWNYTXJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVMSACDRA5IJGRWLUT2IV4BKGLBAWRYSJAZ2UFW7FNAYUS26T7DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXZLXMOGNGEB22U4VSHW5XH35JMYOKV43WPB65HH45LEWKN2UVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "CreateBotLocale": {
            "http": {
                "method": "PUT",
                "requestUri": "/bots/{botId}/botversions/{botVersion}/botlocales/",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "botId",
                    "botVersion",
                    "localeId",
                    "nluIntentConfidenceThreshold"
                ],
                "members": {
                    "botId": {
                        "location": "uri",
                        "locationName": "botId"
                    },
                    "botVersion": {
                        "location": "uri",
                        "locationName": "botVersion"
                    },
                    "localeId": {},
                    "description": {},
                    "nluIntentConfidenceThreshold": {
                        "type": "double"
                    },
                    "voiceSettings": {
                        "shape": "S1x"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "botId": {},
                    "botVersion": {},
                    "localeName": {},
                    "localeId": {},
                    "description": {},
                    "nluIntentConfidenceThreshold": {
                        "type": "double"
                    },
                    "voiceSettings": {
                        "shape": "S1x"
                    },
                    "botLocaleStatus": {},
                    "creationDateTime": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKQNGLWLLY6BJ3NAO3LUIINP2P4R26ZFYFIAQBXAEANMCEDPVBFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXHNVZ53XXHQ6TI2F5PCFUEGZ53VTRMCK6LVOK2EMRLLH3XXGKKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4DYKH3KNG4DWGXPH4DZZMALO4NZ6ALPXOEBIJLFM3OYWNYTXJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVMSACDRA5IJGRWLUT2IV4BKGLBAWRYSJAZ2UFW7FNAYUS26T7DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXZLXMOGNGEB22U4VSHW5XH35JMYOKV43WPB65HH45LEWKN2UVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "CreateBotVersion": {
            "http": {
                "method": "PUT",
                "requestUri": "/bots/{botId}/botversions/",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "botId",
                    "botVersionLocaleSpecification"
                ],
                "members": {
                    "botId": {
                        "location": "uri",
                        "locationName": "botId"
                    },
                    "description": {},
                    "botVersionLocaleSpecification": {
                        "shape": "S23"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "botId": {},
                    "description": {},
                    "botVersion": {},
                    "botVersionLocaleSpecification": {
                        "shape": "S23"
                    },
                    "botStatus": {},
                    "creationDateTime": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKQNGLWLLY6BJ3NAO3LUIINP2P4R26ZFYFIAQBXAEANMCEDPVBFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXHNVZ53XXHQ6TI2F5PCFUEGZ53VTRMCK6LVOK2EMRLLH3XXGKKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4DYKH3KNG4DWGXPH4DZZMALO4NZ6ALPXOEBIJLFM3OYWNYTXJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVMSACDRA5IJGRWLUT2IV4BKGLBAWRYSJAZ2UFW7FNAYUS26T7DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXZLXMOGNGEB22U4VSHW5XH35JMYOKV43WPB65HH45LEWKN2UVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "CreateExport": {
            "http": {
                "method": "PUT",
                "requestUri": "/exports/",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceSpecification",
                    "fileFormat"
                ],
                "members": {
                    "resourceSpecification": {
                        "shape": "S27"
                    },
                    "fileFormat": {},
                    "filePassword": {
                        "shape": "S2c"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "exportId": {},
                    "resourceSpecification": {
                        "shape": "S27"
                    },
                    "fileFormat": {},
                    "exportStatus": {},
                    "creationDateTime": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6I3QHHDKHCY5W4IPSEOVYARDOP5ZEW64R3JFSX5EVUMWHQFQKAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PONYQGX7DYELNIRMIUKEKYBUROFDGXK6H7FRWNGWISRM26UEVWKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKQNGLWLLY6BJ3NAO3LUIINP2P4R26ZFYFIAQBXAEANMCEDPVBFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXHNVZ53XXHQ6TI2F5PCFUEGZ53VTRMCK6LVOK2EMRLLH3XXGKKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4DYKH3KNG4DWGXPH4DZZMALO4NZ6ALPXOEBIJLFM3OYWNYTXJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVMSACDRA5IJGRWLUT2IV4BKGLBAWRYSJAZ2UFW7FNAYUS26T7DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXZLXMOGNGEB22U4VSHW5XH35JMYOKV43WPB65HH45LEWKN2UVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "CreateIntent": {
            "http": {
                "method": "PUT",
                "requestUri": "/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/intents/",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "intentName",
                    "botId",
                    "botVersion",
                    "localeId"
                ],
                "members": {
                    "intentName": {},
                    "description": {},
                    "parentIntentSignature": {},
                    "sampleUtterances": {
                        "shape": "S2h"
                    },
                    "dialogCodeHook": {
                        "shape": "S2k"
                    },
                    "fulfillmentCodeHook": {
                        "shape": "S2l"
                    },
                    "intentConfirmationSetting": {
                        "shape": "S3u"
                    },
                    "intentClosingSetting": {
                        "shape": "S4c"
                    },
                    "inputContexts": {
                        "shape": "S4d"
                    },
                    "outputContexts": {
                        "shape": "S4f"
                    },
                    "kendraConfiguration": {
                        "shape": "S4j"
                    },
                    "botId": {
                        "location": "uri",
                        "locationName": "botId"
                    },
                    "botVersion": {
                        "location": "uri",
                        "locationName": "botVersion"
                    },
                    "localeId": {
                        "location": "uri",
                        "locationName": "localeId"
                    },
                    "initialResponseSetting": {
                        "shape": "S4m"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "intentId": {},
                    "intentName": {},
                    "description": {},
                    "parentIntentSignature": {},
                    "sampleUtterances": {
                        "shape": "S2h"
                    },
                    "dialogCodeHook": {
                        "shape": "S2k"
                    },
                    "fulfillmentCodeHook": {
                        "shape": "S2l"
                    },
                    "intentConfirmationSetting": {
                        "shape": "S3u"
                    },
                    "intentClosingSetting": {
                        "shape": "S4c"
                    },
                    "inputContexts": {
                        "shape": "S4d"
                    },
                    "outputContexts": {
                        "shape": "S4f"
                    },
                    "kendraConfiguration": {
                        "shape": "S4j"
                    },
                    "botId": {},
                    "botVersion": {},
                    "localeId": {},
                    "creationDateTime": {
                        "type": "timestamp"
                    },
                    "initialResponseSetting": {
                        "shape": "S4m"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKQNGLWLLY6BJ3NAO3LUIINP2P4R26ZFYFIAQBXAEANMCEDPVBFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXHNVZ53XXHQ6TI2F5PCFUEGZ53VTRMCK6LVOK2EMRLLH3XXGKKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4DYKH3KNG4DWGXPH4DZZMALO4NZ6ALPXOEBIJLFM3OYWNYTXJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVMSACDRA5IJGRWLUT2IV4BKGLBAWRYSJAZ2UFW7FNAYUS26T7DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXZLXMOGNGEB22U4VSHW5XH35JMYOKV43WPB65HH45LEWKN2UVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "CreateResourcePolicy": {
            "http": {
                "requestUri": "/policy/{resourceArn}/",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "policy"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    },
                    "policy": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "resourceArn": {},
                    "revisionId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6I3QHHDKHCY5W4IPSEOVYARDOP5ZEW64R3JFSX5EVUMWHQFQKAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PONYQGX7DYELNIRMIUKEKYBUROFDGXK6H7FRWNGWISRM26UEVWKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKQNGLWLLY6BJ3NAO3LUIINP2P4R26ZFYFIAQBXAEANMCEDPVBFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXHNVZ53XXHQ6TI2F5PCFUEGZ53VTRMCK6LVOK2EMRLLH3XXGKKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4DYKH3KNG4DWGXPH4DZZMALO4NZ6ALPXOEBIJLFM3OYWNYTXJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVMSACDRA5IJGRWLUT2IV4BKGLBAWRYSJAZ2UFW7FNAYUS26T7DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXZLXMOGNGEB22U4VSHW5XH35JMYOKV43WPB65HH45LEWKN2UVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "CreateResourcePolicyStatement": {
            "http": {
                "requestUri": "/policy/{resourceArn}/statements/",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "statementId",
                    "effect",
                    "principal",
                    "action"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    },
                    "statementId": {},
                    "effect": {},
                    "principal": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "service": {},
                                "arn": {}
                            }
                        }
                    },
                    "action": {
                        "type": "list",
                        "member": {}
                    },
                    "condition": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "type": "map",
                            "key": {},
                            "value": {}
                        }
                    },
                    "expectedRevisionId": {
                        "location": "querystring",
                        "locationName": "expectedRevisionId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "resourceArn": {},
                    "revisionId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6I3QHHDKHCY5W4IPSEOVYARDOP5ZEW64R3JFSX5EVUMWHQFQKAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PONYQGX7DYELNIRMIUKEKYBUROFDGXK6H7FRWNGWISRM26UEVWKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKQNGLWLLY6BJ3NAO3LUIINP2P4R26ZFYFIAQBXAEANMCEDPVBFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXHNVZ53XXHQ6TI2F5PCFUEGZ53VTRMCK6LVOK2EMRLLH3XXGKKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4DYKH3KNG4DWGXPH4DZZMALO4NZ6ALPXOEBIJLFM3OYWNYTXJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVMSACDRA5IJGRWLUT2IV4BKGLBAWRYSJAZ2UFW7FNAYUS26T7DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXZLXMOGNGEB22U4VSHW5XH35JMYOKV43WPB65HH45LEWKN2UVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "CreateSlot": {
            "http": {
                "method": "PUT",
                "requestUri": "/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/intents/{intentId}/slots/",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "slotName",
                    "valueElicitationSetting",
                    "botId",
                    "botVersion",
                    "localeId",
                    "intentId"
                ],
                "members": {
                    "slotName": {},
                    "description": {},
                    "slotTypeId": {},
                    "valueElicitationSetting": {
                        "shape": "S59"
                    },
                    "obfuscationSetting": {
                        "shape": "S5k"
                    },
                    "botId": {
                        "location": "uri",
                        "locationName": "botId"
                    },
                    "botVersion": {
                        "location": "uri",
                        "locationName": "botVersion"
                    },
                    "localeId": {
                        "location": "uri",
                        "locationName": "localeId"
                    },
                    "intentId": {
                        "location": "uri",
                        "locationName": "intentId"
                    },
                    "multipleValuesSetting": {
                        "shape": "S5m"
                    },
                    "subSlotSetting": {
                        "shape": "S5n"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "slotId": {},
                    "slotName": {},
                    "description": {},
                    "slotTypeId": {},
                    "valueElicitationSetting": {
                        "shape": "S59"
                    },
                    "obfuscationSetting": {
                        "shape": "S5k"
                    },
                    "botId": {},
                    "botVersion": {},
                    "localeId": {},
                    "intentId": {},
                    "creationDateTime": {
                        "type": "timestamp"
                    },
                    "multipleValuesSetting": {
                        "shape": "S5m"
                    },
                    "subSlotSetting": {
                        "shape": "S5n"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKQNGLWLLY6BJ3NAO3LUIINP2P4R26ZFYFIAQBXAEANMCEDPVBFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXHNVZ53XXHQ6TI2F5PCFUEGZ53VTRMCK6LVOK2EMRLLH3XXGKKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4DYKH3KNG4DWGXPH4DZZMALO4NZ6ALPXOEBIJLFM3OYWNYTXJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVMSACDRA5IJGRWLUT2IV4BKGLBAWRYSJAZ2UFW7FNAYUS26T7DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXZLXMOGNGEB22U4VSHW5XH35JMYOKV43WPB65HH45LEWKN2UVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "CreateSlotType": {
            "http": {
                "method": "PUT",
                "requestUri": "/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/slottypes/",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "slotTypeName",
                    "botId",
                    "botVersion",
                    "localeId"
                ],
                "members": {
                    "slotTypeName": {},
                    "description": {},
                    "slotTypeValues": {
                        "shape": "S5u"
                    },
                    "valueSelectionSetting": {
                        "shape": "S5z"
                    },
                    "parentSlotTypeSignature": {},
                    "botId": {
                        "location": "uri",
                        "locationName": "botId"
                    },
                    "botVersion": {
                        "location": "uri",
                        "locationName": "botVersion"
                    },
                    "localeId": {
                        "location": "uri",
                        "locationName": "localeId"
                    },
                    "externalSourceSetting": {
                        "shape": "S66"
                    },
                    "compositeSlotTypeSetting": {
                        "shape": "S6b"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "slotTypeId": {},
                    "slotTypeName": {},
                    "description": {},
                    "slotTypeValues": {
                        "shape": "S5u"
                    },
                    "valueSelectionSetting": {
                        "shape": "S5z"
                    },
                    "parentSlotTypeSignature": {},
                    "botId": {},
                    "botVersion": {},
                    "localeId": {},
                    "creationDateTime": {
                        "type": "timestamp"
                    },
                    "externalSourceSetting": {
                        "shape": "S66"
                    },
                    "compositeSlotTypeSetting": {
                        "shape": "S6b"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKQNGLWLLY6BJ3NAO3LUIINP2P4R26ZFYFIAQBXAEANMCEDPVBFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXHNVZ53XXHQ6TI2F5PCFUEGZ53VTRMCK6LVOK2EMRLLH3XXGKKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4DYKH3KNG4DWGXPH4DZZMALO4NZ6ALPXOEBIJLFM3OYWNYTXJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVMSACDRA5IJGRWLUT2IV4BKGLBAWRYSJAZ2UFW7FNAYUS26T7DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXZLXMOGNGEB22U4VSHW5XH35JMYOKV43WPB65HH45LEWKN2UVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "CreateUploadUrl": {
            "http": {
                "requestUri": "/createuploadurl/",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "importId": {},
                    "uploadUrl": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6I3QHHDKHCY5W4IPSEOVYARDOP5ZEW64R3JFSX5EVUMWHQFQKAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PONYQGX7DYELNIRMIUKEKYBUROFDGXK6H7FRWNGWISRM26UEVWKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKQNGLWLLY6BJ3NAO3LUIINP2P4R26ZFYFIAQBXAEANMCEDPVBFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXHNVZ53XXHQ6TI2F5PCFUEGZ53VTRMCK6LVOK2EMRLLH3XXGKKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4DYKH3KNG4DWGXPH4DZZMALO4NZ6ALPXOEBIJLFM3OYWNYTXJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVMSACDRA5IJGRWLUT2IV4BKGLBAWRYSJAZ2UFW7FNAYUS26T7DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXZLXMOGNGEB22U4VSHW5XH35JMYOKV43WPB65HH45LEWKN2UVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "DeleteBot": {
            "http": {
                "method": "DELETE",
                "requestUri": "/bots/{botId}/",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "botId"
                ],
                "members": {
                    "botId": {
                        "location": "uri",
                        "locationName": "botId"
                    },
                    "skipResourceInUseCheck": {
                        "location": "querystring",
                        "locationName": "skipResourceInUseCheck",
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "botId": {},
                    "botStatus": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKQNGLWLLY6BJ3NAO3LUIINP2P4R26ZFYFIAQBXAEANMCEDPVBFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXHNVZ53XXHQ6TI2F5PCFUEGZ53VTRMCK6LVOK2EMRLLH3XXGKKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4DYKH3KNG4DWGXPH4DZZMALO4NZ6ALPXOEBIJLFM3OYWNYTXJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVMSACDRA5IJGRWLUT2IV4BKGLBAWRYSJAZ2UFW7FNAYUS26T7DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXZLXMOGNGEB22U4VSHW5XH35JMYOKV43WPB65HH45LEWKN2UVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "DeleteBotAlias": {
            "http": {
                "method": "DELETE",
                "requestUri": "/bots/{botId}/botaliases/{botAliasId}/",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "botAliasId",
                    "botId"
                ],
                "members": {
                    "botAliasId": {
                        "location": "uri",
                        "locationName": "botAliasId"
                    },
                    "botId": {
                        "location": "uri",
                        "locationName": "botId"
                    },
                    "skipResourceInUseCheck": {
                        "location": "querystring",
                        "locationName": "skipResourceInUseCheck",
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "botAliasId": {},
                    "botId": {},
                    "botAliasStatus": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKQNGLWLLY6BJ3NAO3LUIINP2P4R26ZFYFIAQBXAEANMCEDPVBFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXHNVZ53XXHQ6TI2F5PCFUEGZ53VTRMCK6LVOK2EMRLLH3XXGKKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4DYKH3KNG4DWGXPH4DZZMALO4NZ6ALPXOEBIJLFM3OYWNYTXJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVMSACDRA5IJGRWLUT2IV4BKGLBAWRYSJAZ2UFW7FNAYUS26T7DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXZLXMOGNGEB22U4VSHW5XH35JMYOKV43WPB65HH45LEWKN2UVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "DeleteBotLocale": {
            "http": {
                "method": "DELETE",
                "requestUri": "/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "botId",
                    "botVersion",
                    "localeId"
                ],
                "members": {
                    "botId": {
                        "location": "uri",
                        "locationName": "botId"
                    },
                    "botVersion": {
                        "location": "uri",
                        "locationName": "botVersion"
                    },
                    "localeId": {
                        "location": "uri",
                        "locationName": "localeId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "botId": {},
                    "botVersion": {},
                    "localeId": {},
                    "botLocaleStatus": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKQNGLWLLY6BJ3NAO3LUIINP2P4R26ZFYFIAQBXAEANMCEDPVBFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXHNVZ53XXHQ6TI2F5PCFUEGZ53VTRMCK6LVOK2EMRLLH3XXGKKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4DYKH3KNG4DWGXPH4DZZMALO4NZ6ALPXOEBIJLFM3OYWNYTXJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVMSACDRA5IJGRWLUT2IV4BKGLBAWRYSJAZ2UFW7FNAYUS26T7DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXZLXMOGNGEB22U4VSHW5XH35JMYOKV43WPB65HH45LEWKN2UVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "DeleteBotVersion": {
            "http": {
                "method": "DELETE",
                "requestUri": "/bots/{botId}/botversions/{botVersion}/",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "botId",
                    "botVersion"
                ],
                "members": {
                    "botId": {
                        "location": "uri",
                        "locationName": "botId"
                    },
                    "botVersion": {
                        "location": "uri",
                        "locationName": "botVersion"
                    },
                    "skipResourceInUseCheck": {
                        "location": "querystring",
                        "locationName": "skipResourceInUseCheck",
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "botId": {},
                    "botVersion": {},
                    "botStatus": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKQNGLWLLY6BJ3NAO3LUIINP2P4R26ZFYFIAQBXAEANMCEDPVBFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXHNVZ53XXHQ6TI2F5PCFUEGZ53VTRMCK6LVOK2EMRLLH3XXGKKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4DYKH3KNG4DWGXPH4DZZMALO4NZ6ALPXOEBIJLFM3OYWNYTXJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVMSACDRA5IJGRWLUT2IV4BKGLBAWRYSJAZ2UFW7FNAYUS26T7DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXZLXMOGNGEB22U4VSHW5XH35JMYOKV43WPB65HH45LEWKN2UVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "DeleteCustomVocabulary": {
            "http": {
                "method": "DELETE",
                "requestUri": "/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/customvocabulary",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "botId",
                    "botVersion",
                    "localeId"
                ],
                "members": {
                    "botId": {
                        "location": "uri",
                        "locationName": "botId"
                    },
                    "botVersion": {
                        "location": "uri",
                        "locationName": "botVersion"
                    },
                    "localeId": {
                        "location": "uri",
                        "locationName": "localeId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "botId": {},
                    "botVersion": {},
                    "localeId": {},
                    "customVocabularyStatus": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CB4FJQHBOFPSPNKLVQAEVL2IVBNEFFOQX5DWRSRPXLGDWVJUM2ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q27Y5ARBI3N4A4637MUZ4LXWFMQM5DIOV3PKVFDTF47XGJGK6DFQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXJRTCAPNOKMBQ2V6H2FFNETN27A25BDAOAY2T6TDEIGXJUJVLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z34GXOAA6NDA2L4OLV3SS7U27C3NCAF2AMBOGO3FSATG2AGPVAKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVGS5CZDMSR6G6UPPVJDLVVGGG2VB7277HTL4MT6BIMRJ3KCWG4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SENA2ABU5PTDM5KKQ5AFXXGPY3GQJCG2UKGUXMGBMEP4NECVAKQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBPSAMYQ767NXZG5JPQWGGFOGC6F5VFXGFRWV3CICRT5GARFPOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6I3QHHDKHCY5W4IPSEOVYARDOP5ZEW64R3JFSX5EVUMWHQFQKAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKQNGLWLLY6BJ3NAO3LUIINP2P4R26ZFYFIAQBXAEANMCEDPVBFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4DYKH3KNG4DWGXPH4DZZMALO4NZ6ALPXOEBIJLFM3OYWNYTXJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js"
            ]
        },
        "DeleteExport": {
            "http": {
                "method": "DELETE",
                "requestUri": "/exports/{exportId}/",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "exportId"
                ],
                "members": {
                    "exportId": {
                        "location": "uri",
                        "locationName": "exportId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "exportId": {},
                    "exportStatus": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6I3QHHDKHCY5W4IPSEOVYARDOP5ZEW64R3JFSX5EVUMWHQFQKAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PONYQGX7DYELNIRMIUKEKYBUROFDGXK6H7FRWNGWISRM26UEVWKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKQNGLWLLY6BJ3NAO3LUIINP2P4R26ZFYFIAQBXAEANMCEDPVBFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
[...]
