{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2020-02-19",
        "endpointPrefix": "AWSMigrationHubModernizationStrategy",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceAbbreviation": "MigrationHubModernizationStrategy",
        "serviceFullName": "AWS Migration Hub Modernization Strategy",
        "serviceId": "MigrationHubModernizationStrategy",
        "signatureVersion": "v4",
        "signingName": "migrationhub-modernization-strategy",
        "uid": "ModernizationStrategy-2020-02-19",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/UXW6SR32MG7OBFIQDHLANEQMDT5IONMEHTV7J2IBVQAP72EIGWQA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MT7O4FQMLVVBUGXMGQM5NWVEFZ2LPKXDQOWYZKJVOA6RM5C6DPLA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5JOEK4ADFAQ36BOGT7726FDMKRRGAFMMQ7ICYICT4NZWHIBRGX6A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HAGLRRQ3PN2WB3YJGTVZ3VHHQQBZDH25E5YHDC6AXFJ3DSX3TKOA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7QSIQ53LB6TJQUCNF7B2CJQHBQ3H4TUGD4RQ25SAVPZAMW57NZMA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/C34GBHATGCRNVKJY2TL6DKQY5FEY7ZTDFA2ZPO2EGDX5VFQJSPOQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IPLFAVIJ2Q7HRMOUNT4ILHITCARS2ACSVWXVXRVIOD75IT2LK63A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SJXYGLJZAMP2EJG43ZV7PCZPSVST2YC3GMBLGEODWSR6T4D2VHPA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TDNOIHQOLGPDCFTR7M5XSDL6HPNGS45O5MKAIDMSDGHJOMIAWL4A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7A6WYZVHV7O5NTE7CLC2CNI3EBCGNHIVTAKVG5LHEX7AZR3H26EQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KWOKQSZD4I6BJFJTWSV774DDKBEFMYXQJVNOJ63IBCLQJV57PC6A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MTONNXQEHCLFK6HYOEQXWHDA2IH52KOOUW34QY3D2BIX4X5F5COA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JQ7LDXI44ZBN7ZBHPFUW5HBKX5D7MWPURUFWMXUTIUY5643PQQLA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RWB7N7CCGKEF3WQJXIOHCDNGCZT5DQRMKVPU6MGJA7ZFJSCI3MCQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UUYKQKYVGYSMJZLROTZZGZD77IPGXKLZXHK6XSWTIK3WNMXDB2OA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IWENPIKEHBT3TJWS3BJBAJE5QF3JBIFORHRZ4DGBTPBLGD45T2IQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4G5XX66YKZWEYE3JJM4JEBBRCJCG52TWCL4M72KU35O72U2XUKRQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IXBAFGVDMR6VHFEVWFJ5JXCS3QIKYRCH5LQRSHOKZP7PWEZT5A7Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OYNZFDPQROSELHBEK53IZH476VOC6RY4SFHRDRORYZIMZVYYHSIA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/K4F42KMOCWC2SSQX7KFLH2MNW6P35KIFNXDSUQ7BNIDWHSCFMZXA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/T5XIOKDDMIC3VREKCRCDDB2V3QZI4N66RX4WMKAW25F2SDBVKQRA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZW32ETMIXVEDEILT6GU5ZQNUOCSKE7AMNY6DZFCEYOH2OUJN7I6A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LG5KGVWTP42EEHEEEJH7LICTVSKEZ7C3FCTDKJYOD73ZVSMU4RVQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BWZGO3FXUGJWBBAUPBTYQWM53C4T56ZCCA6LBL56RH34TBQZ2G7Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PJMWDZXRWCAQMQ7VMUINNDQXLSEQSW5QRMAC3LCZP5KFQQIZLWMA/vendors.js"
        ]
    },
    "operations": {
        "AddWorkloadComponentsToWorkload": {
            "http": {
                "requestUri": "/add-workload-components-to-workload/",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workloadId",
                    "workloadComponentIds"
                ],
                "members": {
                    "workloadId": {},
                    "workloadComponentIds": {
                        "shape": "S3"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MT7O4FQMLVVBUGXMGQM5NWVEFZ2LPKXDQOWYZKJVOA6RM5C6DPLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JOEK4ADFAQ36BOGT7726FDMKRRGAFMMQ7ICYICT4NZWHIBRGX6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HAGLRRQ3PN2WB3YJGTVZ3VHHQQBZDH25E5YHDC6AXFJ3DSX3TKOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7QSIQ53LB6TJQUCNF7B2CJQHBQ3H4TUGD4RQ25SAVPZAMW57NZMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C34GBHATGCRNVKJY2TL6DKQY5FEY7ZTDFA2ZPO2EGDX5VFQJSPOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPLFAVIJ2Q7HRMOUNT4ILHITCARS2ACSVWXVXRVIOD75IT2LK63A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJXYGLJZAMP2EJG43ZV7PCZPSVST2YC3GMBLGEODWSR6T4D2VHPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TDNOIHQOLGPDCFTR7M5XSDL6HPNGS45O5MKAIDMSDGHJOMIAWL4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7A6WYZVHV7O5NTE7CLC2CNI3EBCGNHIVTAKVG5LHEX7AZR3H26EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWOKQSZD4I6BJFJTWSV774DDKBEFMYXQJVNOJ63IBCLQJV57PC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTONNXQEHCLFK6HYOEQXWHDA2IH52KOOUW34QY3D2BIX4X5F5COA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQ7LDXI44ZBN7ZBHPFUW5HBKX5D7MWPURUFWMXUTIUY5643PQQLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RWB7N7CCGKEF3WQJXIOHCDNGCZT5DQRMKVPU6MGJA7ZFJSCI3MCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUYKQKYVGYSMJZLROTZZGZD77IPGXKLZXHK6XSWTIK3WNMXDB2OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWENPIKEHBT3TJWS3BJBAJE5QF3JBIFORHRZ4DGBTPBLGD45T2IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4G5XX66YKZWEYE3JJM4JEBBRCJCG52TWCL4M72KU35O72U2XUKRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXBAFGVDMR6VHFEVWFJ5JXCS3QIKYRCH5LQRSHOKZP7PWEZT5A7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYNZFDPQROSELHBEK53IZH476VOC6RY4SFHRDRORYZIMZVYYHSIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4F42KMOCWC2SSQX7KFLH2MNW6P35KIFNXDSUQ7BNIDWHSCFMZXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T5XIOKDDMIC3VREKCRCDDB2V3QZI4N66RX4WMKAW25F2SDBVKQRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZW32ETMIXVEDEILT6GU5ZQNUOCSKE7AMNY6DZFCEYOH2OUJN7I6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LG5KGVWTP42EEHEEEJH7LICTVSKEZ7C3FCTDKJYOD73ZVSMU4RVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BWZGO3FXUGJWBBAUPBTYQWM53C4T56ZCCA6LBL56RH34TBQZ2G7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJMWDZXRWCAQMQ7VMUINNDQXLSEQSW5QRMAC3LCZP5KFQQIZLWMA/vendors.js"
            ]
        },
        "AddWorkloadUnitsToWorkloadComponent": {
            "http": {
                "requestUri": "/add-workload-units-to-workload-component/",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workloadComponentId",
                    "workloadUnitIds"
                ],
                "members": {
                    "workloadComponentId": {},
                    "workloadUnitIds": {
                        "shape": "S7"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MT7O4FQMLVVBUGXMGQM5NWVEFZ2LPKXDQOWYZKJVOA6RM5C6DPLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JOEK4ADFAQ36BOGT7726FDMKRRGAFMMQ7ICYICT4NZWHIBRGX6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HAGLRRQ3PN2WB3YJGTVZ3VHHQQBZDH25E5YHDC6AXFJ3DSX3TKOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7QSIQ53LB6TJQUCNF7B2CJQHBQ3H4TUGD4RQ25SAVPZAMW57NZMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C34GBHATGCRNVKJY2TL6DKQY5FEY7ZTDFA2ZPO2EGDX5VFQJSPOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPLFAVIJ2Q7HRMOUNT4ILHITCARS2ACSVWXVXRVIOD75IT2LK63A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJXYGLJZAMP2EJG43ZV7PCZPSVST2YC3GMBLGEODWSR6T4D2VHPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TDNOIHQOLGPDCFTR7M5XSDL6HPNGS45O5MKAIDMSDGHJOMIAWL4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7A6WYZVHV7O5NTE7CLC2CNI3EBCGNHIVTAKVG5LHEX7AZR3H26EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWOKQSZD4I6BJFJTWSV774DDKBEFMYXQJVNOJ63IBCLQJV57PC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTONNXQEHCLFK6HYOEQXWHDA2IH52KOOUW34QY3D2BIX4X5F5COA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQ7LDXI44ZBN7ZBHPFUW5HBKX5D7MWPURUFWMXUTIUY5643PQQLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RWB7N7CCGKEF3WQJXIOHCDNGCZT5DQRMKVPU6MGJA7ZFJSCI3MCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUYKQKYVGYSMJZLROTZZGZD77IPGXKLZXHK6XSWTIK3WNMXDB2OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWENPIKEHBT3TJWS3BJBAJE5QF3JBIFORHRZ4DGBTPBLGD45T2IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4G5XX66YKZWEYE3JJM4JEBBRCJCG52TWCL4M72KU35O72U2XUKRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXBAFGVDMR6VHFEVWFJ5JXCS3QIKYRCH5LQRSHOKZP7PWEZT5A7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYNZFDPQROSELHBEK53IZH476VOC6RY4SFHRDRORYZIMZVYYHSIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4F42KMOCWC2SSQX7KFLH2MNW6P35KIFNXDSUQ7BNIDWHSCFMZXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T5XIOKDDMIC3VREKCRCDDB2V3QZI4N66RX4WMKAW25F2SDBVKQRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZW32ETMIXVEDEILT6GU5ZQNUOCSKE7AMNY6DZFCEYOH2OUJN7I6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LG5KGVWTP42EEHEEEJH7LICTVSKEZ7C3FCTDKJYOD73ZVSMU4RVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BWZGO3FXUGJWBBAUPBTYQWM53C4T56ZCCA6LBL56RH34TBQZ2G7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJMWDZXRWCAQMQ7VMUINNDQXLSEQSW5QRMAC3LCZP5KFQQIZLWMA/vendors.js"
            ]
        },
        "CreateWorkload": {
            "http": {
                "requestUri": "/create-workload/",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workloadName"
                ],
                "members": {
                    "workloadName": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "workloadId"
                ],
                "members": {
                    "workloadId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MT7O4FQMLVVBUGXMGQM5NWVEFZ2LPKXDQOWYZKJVOA6RM5C6DPLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JOEK4ADFAQ36BOGT7726FDMKRRGAFMMQ7ICYICT4NZWHIBRGX6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HAGLRRQ3PN2WB3YJGTVZ3VHHQQBZDH25E5YHDC6AXFJ3DSX3TKOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7QSIQ53LB6TJQUCNF7B2CJQHBQ3H4TUGD4RQ25SAVPZAMW57NZMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C34GBHATGCRNVKJY2TL6DKQY5FEY7ZTDFA2ZPO2EGDX5VFQJSPOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPLFAVIJ2Q7HRMOUNT4ILHITCARS2ACSVWXVXRVIOD75IT2LK63A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJXYGLJZAMP2EJG43ZV7PCZPSVST2YC3GMBLGEODWSR6T4D2VHPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TDNOIHQOLGPDCFTR7M5XSDL6HPNGS45O5MKAIDMSDGHJOMIAWL4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7A6WYZVHV7O5NTE7CLC2CNI3EBCGNHIVTAKVG5LHEX7AZR3H26EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWOKQSZD4I6BJFJTWSV774DDKBEFMYXQJVNOJ63IBCLQJV57PC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTONNXQEHCLFK6HYOEQXWHDA2IH52KOOUW34QY3D2BIX4X5F5COA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQ7LDXI44ZBN7ZBHPFUW5HBKX5D7MWPURUFWMXUTIUY5643PQQLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RWB7N7CCGKEF3WQJXIOHCDNGCZT5DQRMKVPU6MGJA7ZFJSCI3MCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUYKQKYVGYSMJZLROTZZGZD77IPGXKLZXHK6XSWTIK3WNMXDB2OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWENPIKEHBT3TJWS3BJBAJE5QF3JBIFORHRZ4DGBTPBLGD45T2IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4G5XX66YKZWEYE3JJM4JEBBRCJCG52TWCL4M72KU35O72U2XUKRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXBAFGVDMR6VHFEVWFJ5JXCS3QIKYRCH5LQRSHOKZP7PWEZT5A7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYNZFDPQROSELHBEK53IZH476VOC6RY4SFHRDRORYZIMZVYYHSIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4F42KMOCWC2SSQX7KFLH2MNW6P35KIFNXDSUQ7BNIDWHSCFMZXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T5XIOKDDMIC3VREKCRCDDB2V3QZI4N66RX4WMKAW25F2SDBVKQRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZW32ETMIXVEDEILT6GU5ZQNUOCSKE7AMNY6DZFCEYOH2OUJN7I6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LG5KGVWTP42EEHEEEJH7LICTVSKEZ7C3FCTDKJYOD73ZVSMU4RVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BWZGO3FXUGJWBBAUPBTYQWM53C4T56ZCCA6LBL56RH34TBQZ2G7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJMWDZXRWCAQMQ7VMUINNDQXLSEQSW5QRMAC3LCZP5KFQQIZLWMA/vendors.js"
            ]
        },
        "CreateWorkloadComponent": {
            "http": {
                "requestUri": "/create-workload-component/",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workloadComponentName"
                ],
                "members": {
                    "workloadComponentName": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "workloadComponentId"
                ],
                "members": {
                    "workloadComponentId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MT7O4FQMLVVBUGXMGQM5NWVEFZ2LPKXDQOWYZKJVOA6RM5C6DPLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JOEK4ADFAQ36BOGT7726FDMKRRGAFMMQ7ICYICT4NZWHIBRGX6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HAGLRRQ3PN2WB3YJGTVZ3VHHQQBZDH25E5YHDC6AXFJ3DSX3TKOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7QSIQ53LB6TJQUCNF7B2CJQHBQ3H4TUGD4RQ25SAVPZAMW57NZMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C34GBHATGCRNVKJY2TL6DKQY5FEY7ZTDFA2ZPO2EGDX5VFQJSPOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPLFAVIJ2Q7HRMOUNT4ILHITCARS2ACSVWXVXRVIOD75IT2LK63A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJXYGLJZAMP2EJG43ZV7PCZPSVST2YC3GMBLGEODWSR6T4D2VHPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TDNOIHQOLGPDCFTR7M5XSDL6HPNGS45O5MKAIDMSDGHJOMIAWL4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7A6WYZVHV7O5NTE7CLC2CNI3EBCGNHIVTAKVG5LHEX7AZR3H26EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWOKQSZD4I6BJFJTWSV774DDKBEFMYXQJVNOJ63IBCLQJV57PC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTONNXQEHCLFK6HYOEQXWHDA2IH52KOOUW34QY3D2BIX4X5F5COA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQ7LDXI44ZBN7ZBHPFUW5HBKX5D7MWPURUFWMXUTIUY5643PQQLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RWB7N7CCGKEF3WQJXIOHCDNGCZT5DQRMKVPU6MGJA7ZFJSCI3MCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUYKQKYVGYSMJZLROTZZGZD77IPGXKLZXHK6XSWTIK3WNMXDB2OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWENPIKEHBT3TJWS3BJBAJE5QF3JBIFORHRZ4DGBTPBLGD45T2IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4G5XX66YKZWEYE3JJM4JEBBRCJCG52TWCL4M72KU35O72U2XUKRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXBAFGVDMR6VHFEVWFJ5JXCS3QIKYRCH5LQRSHOKZP7PWEZT5A7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYNZFDPQROSELHBEK53IZH476VOC6RY4SFHRDRORYZIMZVYYHSIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4F42KMOCWC2SSQX7KFLH2MNW6P35KIFNXDSUQ7BNIDWHSCFMZXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T5XIOKDDMIC3VREKCRCDDB2V3QZI4N66RX4WMKAW25F2SDBVKQRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZW32ETMIXVEDEILT6GU5ZQNUOCSKE7AMNY6DZFCEYOH2OUJN7I6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LG5KGVWTP42EEHEEEJH7LICTVSKEZ7C3FCTDKJYOD73ZVSMU4RVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BWZGO3FXUGJWBBAUPBTYQWM53C4T56ZCCA6LBL56RH34TBQZ2G7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJMWDZXRWCAQMQ7VMUINNDQXLSEQSW5QRMAC3LCZP5KFQQIZLWMA/vendors.js"
            ]
        },
        "DeleteWorkload": {
            "http": {
                "requestUri": "/delete-workload/",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workloadId"
                ],
                "members": {
                    "workloadId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MT7O4FQMLVVBUGXMGQM5NWVEFZ2LPKXDQOWYZKJVOA6RM5C6DPLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JOEK4ADFAQ36BOGT7726FDMKRRGAFMMQ7ICYICT4NZWHIBRGX6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HAGLRRQ3PN2WB3YJGTVZ3VHHQQBZDH25E5YHDC6AXFJ3DSX3TKOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7QSIQ53LB6TJQUCNF7B2CJQHBQ3H4TUGD4RQ25SAVPZAMW57NZMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C34GBHATGCRNVKJY2TL6DKQY5FEY7ZTDFA2ZPO2EGDX5VFQJSPOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPLFAVIJ2Q7HRMOUNT4ILHITCARS2ACSVWXVXRVIOD75IT2LK63A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJXYGLJZAMP2EJG43ZV7PCZPSVST2YC3GMBLGEODWSR6T4D2VHPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TDNOIHQOLGPDCFTR7M5XSDL6HPNGS45O5MKAIDMSDGHJOMIAWL4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7A6WYZVHV7O5NTE7CLC2CNI3EBCGNHIVTAKVG5LHEX7AZR3H26EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWOKQSZD4I6BJFJTWSV774DDKBEFMYXQJVNOJ63IBCLQJV57PC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTONNXQEHCLFK6HYOEQXWHDA2IH52KOOUW34QY3D2BIX4X5F5COA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQ7LDXI44ZBN7ZBHPFUW5HBKX5D7MWPURUFWMXUTIUY5643PQQLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RWB7N7CCGKEF3WQJXIOHCDNGCZT5DQRMKVPU6MGJA7ZFJSCI3MCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUYKQKYVGYSMJZLROTZZGZD77IPGXKLZXHK6XSWTIK3WNMXDB2OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWENPIKEHBT3TJWS3BJBAJE5QF3JBIFORHRZ4DGBTPBLGD45T2IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4G5XX66YKZWEYE3JJM4JEBBRCJCG52TWCL4M72KU35O72U2XUKRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXBAFGVDMR6VHFEVWFJ5JXCS3QIKYRCH5LQRSHOKZP7PWEZT5A7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYNZFDPQROSELHBEK53IZH476VOC6RY4SFHRDRORYZIMZVYYHSIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4F42KMOCWC2SSQX7KFLH2MNW6P35KIFNXDSUQ7BNIDWHSCFMZXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T5XIOKDDMIC3VREKCRCDDB2V3QZI4N66RX4WMKAW25F2SDBVKQRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZW32ETMIXVEDEILT6GU5ZQNUOCSKE7AMNY6DZFCEYOH2OUJN7I6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LG5KGVWTP42EEHEEEJH7LICTVSKEZ7C3FCTDKJYOD73ZVSMU4RVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BWZGO3FXUGJWBBAUPBTYQWM53C4T56ZCCA6LBL56RH34TBQZ2G7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJMWDZXRWCAQMQ7VMUINNDQXLSEQSW5QRMAC3LCZP5KFQQIZLWMA/vendors.js"
            ]
        },
        "DeleteWorkloadComponent": {
            "http": {
                "requestUri": "/delete-workload-component/",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workloadComponentId"
                ],
                "members": {
                    "workloadComponentId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MT7O4FQMLVVBUGXMGQM5NWVEFZ2LPKXDQOWYZKJVOA6RM5C6DPLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JOEK4ADFAQ36BOGT7726FDMKRRGAFMMQ7ICYICT4NZWHIBRGX6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HAGLRRQ3PN2WB3YJGTVZ3VHHQQBZDH25E5YHDC6AXFJ3DSX3TKOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7QSIQ53LB6TJQUCNF7B2CJQHBQ3H4TUGD4RQ25SAVPZAMW57NZMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C34GBHATGCRNVKJY2TL6DKQY5FEY7ZTDFA2ZPO2EGDX5VFQJSPOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPLFAVIJ2Q7HRMOUNT4ILHITCARS2ACSVWXVXRVIOD75IT2LK63A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJXYGLJZAMP2EJG43ZV7PCZPSVST2YC3GMBLGEODWSR6T4D2VHPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TDNOIHQOLGPDCFTR7M5XSDL6HPNGS45O5MKAIDMSDGHJOMIAWL4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7A6WYZVHV7O5NTE7CLC2CNI3EBCGNHIVTAKVG5LHEX7AZR3H26EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWOKQSZD4I6BJFJTWSV774DDKBEFMYXQJVNOJ63IBCLQJV57PC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTONNXQEHCLFK6HYOEQXWHDA2IH52KOOUW34QY3D2BIX4X5F5COA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQ7LDXI44ZBN7ZBHPFUW5HBKX5D7MWPURUFWMXUTIUY5643PQQLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RWB7N7CCGKEF3WQJXIOHCDNGCZT5DQRMKVPU6MGJA7ZFJSCI3MCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUYKQKYVGYSMJZLROTZZGZD77IPGXKLZXHK6XSWTIK3WNMXDB2OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWENPIKEHBT3TJWS3BJBAJE5QF3JBIFORHRZ4DGBTPBLGD45T2IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4G5XX66YKZWEYE3JJM4JEBBRCJCG52TWCL4M72KU35O72U2XUKRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXBAFGVDMR6VHFEVWFJ5JXCS3QIKYRCH5LQRSHOKZP7PWEZT5A7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYNZFDPQROSELHBEK53IZH476VOC6RY4SFHRDRORYZIMZVYYHSIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4F42KMOCWC2SSQX7KFLH2MNW6P35KIFNXDSUQ7BNIDWHSCFMZXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T5XIOKDDMIC3VREKCRCDDB2V3QZI4N66RX4WMKAW25F2SDBVKQRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZW32ETMIXVEDEILT6GU5ZQNUOCSKE7AMNY6DZFCEYOH2OUJN7I6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LG5KGVWTP42EEHEEEJH7LICTVSKEZ7C3FCTDKJYOD73ZVSMU4RVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BWZGO3FXUGJWBBAUPBTYQWM53C4T56ZCCA6LBL56RH34TBQZ2G7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJMWDZXRWCAQMQ7VMUINNDQXLSEQSW5QRMAC3LCZP5KFQQIZLWMA/vendors.js"
            ]
        },
        "GenerateRecommendations": {
            "http": {
                "requestUri": "/generate-recommendations",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "filters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "name": {},
                                "value": {}
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "assessmentId": {},
                    "recommendationOrchestrationId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MT7O4FQMLVVBUGXMGQM5NWVEFZ2LPKXDQOWYZKJVOA6RM5C6DPLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JOEK4ADFAQ36BOGT7726FDMKRRGAFMMQ7ICYICT4NZWHIBRGX6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HAGLRRQ3PN2WB3YJGTVZ3VHHQQBZDH25E5YHDC6AXFJ3DSX3TKOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7QSIQ53LB6TJQUCNF7B2CJQHBQ3H4TUGD4RQ25SAVPZAMW57NZMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C34GBHATGCRNVKJY2TL6DKQY5FEY7ZTDFA2ZPO2EGDX5VFQJSPOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPLFAVIJ2Q7HRMOUNT4ILHITCARS2ACSVWXVXRVIOD75IT2LK63A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJXYGLJZAMP2EJG43ZV7PCZPSVST2YC3GMBLGEODWSR6T4D2VHPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TDNOIHQOLGPDCFTR7M5XSDL6HPNGS45O5MKAIDMSDGHJOMIAWL4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7A6WYZVHV7O5NTE7CLC2CNI3EBCGNHIVTAKVG5LHEX7AZR3H26EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWOKQSZD4I6BJFJTWSV774DDKBEFMYXQJVNOJ63IBCLQJV57PC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTONNXQEHCLFK6HYOEQXWHDA2IH52KOOUW34QY3D2BIX4X5F5COA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQ7LDXI44ZBN7ZBHPFUW5HBKX5D7MWPURUFWMXUTIUY5643PQQLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RWB7N7CCGKEF3WQJXIOHCDNGCZT5DQRMKVPU6MGJA7ZFJSCI3MCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUYKQKYVGYSMJZLROTZZGZD77IPGXKLZXHK6XSWTIK3WNMXDB2OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWENPIKEHBT3TJWS3BJBAJE5QF3JBIFORHRZ4DGBTPBLGD45T2IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4G5XX66YKZWEYE3JJM4JEBBRCJCG52TWCL4M72KU35O72U2XUKRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXBAFGVDMR6VHFEVWFJ5JXCS3QIKYRCH5LQRSHOKZP7PWEZT5A7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYNZFDPQROSELHBEK53IZH476VOC6RY4SFHRDRORYZIMZVYYHSIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4F42KMOCWC2SSQX7KFLH2MNW6P35KIFNXDSUQ7BNIDWHSCFMZXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T5XIOKDDMIC3VREKCRCDDB2V3QZI4N66RX4WMKAW25F2SDBVKQRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZW32ETMIXVEDEILT6GU5ZQNUOCSKE7AMNY6DZFCEYOH2OUJN7I6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LG5KGVWTP42EEHEEEJH7LICTVSKEZ7C3FCTDKJYOD73ZVSMU4RVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BWZGO3FXUGJWBBAUPBTYQWM53C4T56ZCCA6LBL56RH34TBQZ2G7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJMWDZXRWCAQMQ7VMUINNDQXLSEQSW5QRMAC3LCZP5KFQQIZLWMA/vendors.js"
            ]
        },
        "GetAssessment": {
            "http": {
                "requestUri": "/get-assessment",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "assessmentId": {},
                    "startTime": {
                        "type": "timestamp"
                    },
                    "completionTime": {
                        "type": "timestamp"
                    },
                    "status": {},
                    "statusMessage": {},
                    "dataCollectionPreferences": {
                        "shape": "Su"
                    },
                    "assessmentTargets": {
                        "shape": "Sy"
                    },
                    "dataCollectionDetails": {
                        "type": "structure",
                        "members": {
                            "dataCollectionStatus": {}
                        }
                    },
                    "workloadGroupingDetails": {
                        "type": "structure",
                        "members": {
                            "workloadGroupingStatus": {}
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LI3TWZOIAOVD42CTXEUFQDQ6NOVC7NYXEB5SA2KTCWFFGLDACYZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJAKYASPXHDP62J3OCC434SOEENYPWV2NH6RM7TS2V7MIJUIJHBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FXBFGXWSTZ7SX2XDPA3L3UE7PYULRYH5CVUU5SX3LB6AKEAEOL6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXZLFAM6UNCFSKZOURHQDWYPR37RJ4NDLFBHSANH62PCBVZUJPBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IHT62WH6NF3H5Q756RGUD4MKZB7QYLQ5TDYLYUCXBM3YYQ4GJGIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCHAK5XXJGW44NCU3Z5X4SFEEZ5JUQPNQY27CYP7HASALX62ASVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OEXZA5QWQPW2FFGIECG2JXSFOOBXUENLX7TKORM7GC522ZOA3INA/vendors.js"
            ]
        },
        "GetAssessmentDetails": {
            "http": {
                "requestUri": "/get-assessment-details",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "assessmentId": {},
                    "startTime": {
                        "type": "timestamp"
                    },
                    "completionTime": {
                        "type": "timestamp"
                    },
                    "status": {},
                    "statusMessage": {},
                    "dataCollectionPreferences": {
                        "shape": "Su"
                    },
                    "assessmentTargets": {
                        "shape": "Sy"
                    },
                    "dataCollectionDetails": {
                        "type": "structure",
                        "members": {
                            "dataCollectionStatus": {}
                        }
                    },
                    "workloadGroupingDetails": {
                        "type": "structure",
                        "members": {
                            "workloadGroupingStatus": {}
                        }
                    },
                    "recommendationDetails": {
                        "shape": "S1d"
                    },
                    "kmsKeyArn": {},
                    "useKmsForDatabase": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MT7O4FQMLVVBUGXMGQM5NWVEFZ2LPKXDQOWYZKJVOA6RM5C6DPLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JOEK4ADFAQ36BOGT7726FDMKRRGAFMMQ7ICYICT4NZWHIBRGX6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HAGLRRQ3PN2WB3YJGTVZ3VHHQQBZDH25E5YHDC6AXFJ3DSX3TKOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7QSIQ53LB6TJQUCNF7B2CJQHBQ3H4TUGD4RQ25SAVPZAMW57NZMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C34GBHATGCRNVKJY2TL6DKQY5FEY7ZTDFA2ZPO2EGDX5VFQJSPOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPLFAVIJ2Q7HRMOUNT4ILHITCARS2ACSVWXVXRVIOD75IT2LK63A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJXYGLJZAMP2EJG43ZV7PCZPSVST2YC3GMBLGEODWSR6T4D2VHPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TDNOIHQOLGPDCFTR7M5XSDL6HPNGS45O5MKAIDMSDGHJOMIAWL4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7A6WYZVHV7O5NTE7CLC2CNI3EBCGNHIVTAKVG5LHEX7AZR3H26EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWOKQSZD4I6BJFJTWSV774DDKBEFMYXQJVNOJ63IBCLQJV57PC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTONNXQEHCLFK6HYOEQXWHDA2IH52KOOUW34QY3D2BIX4X5F5COA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQ7LDXI44ZBN7ZBHPFUW5HBKX5D7MWPURUFWMXUTIUY5643PQQLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RWB7N7CCGKEF3WQJXIOHCDNGCZT5DQRMKVPU6MGJA7ZFJSCI3MCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUYKQKYVGYSMJZLROTZZGZD77IPGXKLZXHK6XSWTIK3WNMXDB2OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWENPIKEHBT3TJWS3BJBAJE5QF3JBIFORHRZ4DGBTPBLGD45T2IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4G5XX66YKZWEYE3JJM4JEBBRCJCG52TWCL4M72KU35O72U2XUKRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXBAFGVDMR6VHFEVWFJ5JXCS3QIKYRCH5LQRSHOKZP7PWEZT5A7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYNZFDPQROSELHBEK53IZH476VOC6RY4SFHRDRORYZIMZVYYHSIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4F42KMOCWC2SSQX7KFLH2MNW6P35KIFNXDSUQ7BNIDWHSCFMZXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T5XIOKDDMIC3VREKCRCDDB2V3QZI4N66RX4WMKAW25F2SDBVKQRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZW32ETMIXVEDEILT6GU5ZQNUOCSKE7AMNY6DZFCEYOH2OUJN7I6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LG5KGVWTP42EEHEEEJH7LICTVSKEZ7C3FCTDKJYOD73ZVSMU4RVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BWZGO3FXUGJWBBAUPBTYQWM53C4T56ZCCA6LBL56RH34TBQZ2G7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJMWDZXRWCAQMQ7VMUINNDQXLSEQSW5QRMAC3LCZP5KFQQIZLWMA/vendors.js"
            ]
        },
        "GetLatestAssessmentId": {
            "http": {
                "method": "GET",
                "requestUri": "/get-latest-assessment-id",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "id": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MT7O4FQMLVVBUGXMGQM5NWVEFZ2LPKXDQOWYZKJVOA6RM5C6DPLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JOEK4ADFAQ36BOGT7726FDMKRRGAFMMQ7ICYICT4NZWHIBRGX6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HAGLRRQ3PN2WB3YJGTVZ3VHHQQBZDH25E5YHDC6AXFJ3DSX3TKOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7QSIQ53LB6TJQUCNF7B2CJQHBQ3H4TUGD4RQ25SAVPZAMW57NZMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C34GBHATGCRNVKJY2TL6DKQY5FEY7ZTDFA2ZPO2EGDX5VFQJSPOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPLFAVIJ2Q7HRMOUNT4ILHITCARS2ACSVWXVXRVIOD75IT2LK63A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJXYGLJZAMP2EJG43ZV7PCZPSVST2YC3GMBLGEODWSR6T4D2VHPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TDNOIHQOLGPDCFTR7M5XSDL6HPNGS45O5MKAIDMSDGHJOMIAWL4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7A6WYZVHV7O5NTE7CLC2CNI3EBCGNHIVTAKVG5LHEX7AZR3H26EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWOKQSZD4I6BJFJTWSV774DDKBEFMYXQJVNOJ63IBCLQJV57PC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTONNXQEHCLFK6HYOEQXWHDA2IH52KOOUW34QY3D2BIX4X5F5COA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQ7LDXI44ZBN7ZBHPFUW5HBKX5D7MWPURUFWMXUTIUY5643PQQLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RWB7N7CCGKEF3WQJXIOHCDNGCZT5DQRMKVPU6MGJA7ZFJSCI3MCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUYKQKYVGYSMJZLROTZZGZD77IPGXKLZXHK6XSWTIK3WNMXDB2OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWENPIKEHBT3TJWS3BJBAJE5QF3JBIFORHRZ4DGBTPBLGD45T2IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4G5XX66YKZWEYE3JJM4JEBBRCJCG52TWCL4M72KU35O72U2XUKRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXBAFGVDMR6VHFEVWFJ5JXCS3QIKYRCH5LQRSHOKZP7PWEZT5A7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYNZFDPQROSELHBEK53IZH476VOC6RY4SFHRDRORYZIMZVYYHSIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4F42KMOCWC2SSQX7KFLH2MNW6P35KIFNXDSUQ7BNIDWHSCFMZXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T5XIOKDDMIC3VREKCRCDDB2V3QZI4N66RX4WMKAW25F2SDBVKQRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZW32ETMIXVEDEILT6GU5ZQNUOCSKE7AMNY6DZFCEYOH2OUJN7I6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LG5KGVWTP42EEHEEEJH7LICTVSKEZ7C3FCTDKJYOD73ZVSMU4RVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BWZGO3FXUGJWBBAUPBTYQWM53C4T56ZCCA6LBL56RH34TBQZ2G7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJMWDZXRWCAQMQ7VMUINNDQXLSEQSW5QRMAC3LCZP5KFQQIZLWMA/vendors.js"
            ]
        },
        "GetPortfolioSummary": {
            "http": {
                "method": "GET",
                "requestUri": "/get-portfolio-summary",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "assessmentStatus": {},
                    "startTime": {
                        "type": "timestamp"
                    },
                    "completionTime": {
                        "type": "timestamp"
                    },
                    "workloadSummary": {
                        "type": "structure",
                        "members": {
                            "workloadsCount": {
                                "type": "integer"
                            },
                            "workloadComponentsCount": {
                                "type": "integer"
                            }
                        }
                    },
                    "pathwayComplexitySummaryList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "count": {
                                    "type": "integer"
                                },
                                "strategy": {},
                                "complexity": {}
                            }
                        }
                    },
                    "pathwayTCOSummaryList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "count": {
                                    "type": "integer"
                                },
                                "strategy": {},
                                "tco": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MT7O4FQMLVVBUGXMGQM5NWVEFZ2LPKXDQOWYZKJVOA6RM5C6DPLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JOEK4ADFAQ36BOGT7726FDMKRRGAFMMQ7ICYICT4NZWHIBRGX6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HAGLRRQ3PN2WB3YJGTVZ3VHHQQBZDH25E5YHDC6AXFJ3DSX3TKOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7QSIQ53LB6TJQUCNF7B2CJQHBQ3H4TUGD4RQ25SAVPZAMW57NZMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C34GBHATGCRNVKJY2TL6DKQY5FEY7ZTDFA2ZPO2EGDX5VFQJSPOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPLFAVIJ2Q7HRMOUNT4ILHITCARS2ACSVWXVXRVIOD75IT2LK63A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJXYGLJZAMP2EJG43ZV7PCZPSVST2YC3GMBLGEODWSR6T4D2VHPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TDNOIHQOLGPDCFTR7M5XSDL6HPNGS45O5MKAIDMSDGHJOMIAWL4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7A6WYZVHV7O5NTE7CLC2CNI3EBCGNHIVTAKVG5LHEX7AZR3H26EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWOKQSZD4I6BJFJTWSV774DDKBEFMYXQJVNOJ63IBCLQJV57PC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTONNXQEHCLFK6HYOEQXWHDA2IH52KOOUW34QY3D2BIX4X5F5COA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQ7LDXI44ZBN7ZBHPFUW5HBKX5D7MWPURUFWMXUTIUY5643PQQLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RWB7N7CCGKEF3WQJXIOHCDNGCZT5DQRMKVPU6MGJA7ZFJSCI3MCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUYKQKYVGYSMJZLROTZZGZD77IPGXKLZXHK6XSWTIK3WNMXDB2OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWENPIKEHBT3TJWS3BJBAJE5QF3JBIFORHRZ4DGBTPBLGD45T2IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4G5XX66YKZWEYE3JJM4JEBBRCJCG52TWCL4M72KU35O72U2XUKRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXBAFGVDMR6VHFEVWFJ5JXCS3QIKYRCH5LQRSHOKZP7PWEZT5A7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYNZFDPQROSELHBEK53IZH476VOC6RY4SFHRDRORYZIMZVYYHSIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4F42KMOCWC2SSQX7KFLH2MNW6P35KIFNXDSUQ7BNIDWHSCFMZXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T5XIOKDDMIC3VREKCRCDDB2V3QZI4N66RX4WMKAW25F2SDBVKQRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZW32ETMIXVEDEILT6GU5ZQNUOCSKE7AMNY6DZFCEYOH2OUJN7I6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LG5KGVWTP42EEHEEEJH7LICTVSKEZ7C3FCTDKJYOD73ZVSMU4RVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BWZGO3FXUGJWBBAUPBTYQWM53C4T56ZCCA6LBL56RH34TBQZ2G7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJMWDZXRWCAQMQ7VMUINNDQXLSEQSW5QRMAC3LCZP5KFQQIZLWMA/vendors.js"
            ]
        },
        "GetRecommendationReportDetail": {
            "http": {
                "method": "GET",
                "requestUri": "/get-recommendation-report-detail",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "recommendationReportDetail": {
                        "type": "structure",
                        "members": {
                            "csvReportS3Url": {},
                            "jsonReportS3Url": {}
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MT7O4FQMLVVBUGXMGQM5NWVEFZ2LPKXDQOWYZKJVOA6RM5C6DPLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JOEK4ADFAQ36BOGT7726FDMKRRGAFMMQ7ICYICT4NZWHIBRGX6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HAGLRRQ3PN2WB3YJGTVZ3VHHQQBZDH25E5YHDC6AXFJ3DSX3TKOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7QSIQ53LB6TJQUCNF7B2CJQHBQ3H4TUGD4RQ25SAVPZAMW57NZMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C34GBHATGCRNVKJY2TL6DKQY5FEY7ZTDFA2ZPO2EGDX5VFQJSPOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPLFAVIJ2Q7HRMOUNT4ILHITCARS2ACSVWXVXRVIOD75IT2LK63A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJXYGLJZAMP2EJG43ZV7PCZPSVST2YC3GMBLGEODWSR6T4D2VHPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TDNOIHQOLGPDCFTR7M5XSDL6HPNGS45O5MKAIDMSDGHJOMIAWL4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7A6WYZVHV7O5NTE7CLC2CNI3EBCGNHIVTAKVG5LHEX7AZR3H26EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWOKQSZD4I6BJFJTWSV774DDKBEFMYXQJVNOJ63IBCLQJV57PC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTONNXQEHCLFK6HYOEQXWHDA2IH52KOOUW34QY3D2BIX4X5F5COA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQ7LDXI44ZBN7ZBHPFUW5HBKX5D7MWPURUFWMXUTIUY5643PQQLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RWB7N7CCGKEF3WQJXIOHCDNGCZT5DQRMKVPU6MGJA7ZFJSCI3MCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUYKQKYVGYSMJZLROTZZGZD77IPGXKLZXHK6XSWTIK3WNMXDB2OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWENPIKEHBT3TJWS3BJBAJE5QF3JBIFORHRZ4DGBTPBLGD45T2IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4G5XX66YKZWEYE3JJM4JEBBRCJCG52TWCL4M72KU35O72U2XUKRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXBAFGVDMR6VHFEVWFJ5JXCS3QIKYRCH5LQRSHOKZP7PWEZT5A7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYNZFDPQROSELHBEK53IZH476VOC6RY4SFHRDRORYZIMZVYYHSIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4F42KMOCWC2SSQX7KFLH2MNW6P35KIFNXDSUQ7BNIDWHSCFMZXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T5XIOKDDMIC3VREKCRCDDB2V3QZI4N66RX4WMKAW25F2SDBVKQRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZW32ETMIXVEDEILT6GU5ZQNUOCSKE7AMNY6DZFCEYOH2OUJN7I6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LG5KGVWTP42EEHEEEJH7LICTVSKEZ7C3FCTDKJYOD73ZVSMU4RVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BWZGO3FXUGJWBBAUPBTYQWM53C4T56ZCCA6LBL56RH34TBQZ2G7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJMWDZXRWCAQMQ7VMUINNDQXLSEQSW5QRMAC3LCZP5KFQQIZLWMA/vendors.js"
            ]
        },
        "GetRecommendationStatus": {
            "http": {
                "method": "GET",
                "requestUri": "/get-recommendation-status",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "workloadId": {
                        "location": "querystring",
                        "locationName": "workloadId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "recommendationDetails": {
                        "shape": "S1d"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MT7O4FQMLVVBUGXMGQM5NWVEFZ2LPKXDQOWYZKJVOA6RM5C6DPLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JOEK4ADFAQ36BOGT7726FDMKRRGAFMMQ7ICYICT4NZWHIBRGX6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HAGLRRQ3PN2WB3YJGTVZ3VHHQQBZDH25E5YHDC6AXFJ3DSX3TKOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7QSIQ53LB6TJQUCNF7B2CJQHBQ3H4TUGD4RQ25SAVPZAMW57NZMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C34GBHATGCRNVKJY2TL6DKQY5FEY7ZTDFA2ZPO2EGDX5VFQJSPOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPLFAVIJ2Q7HRMOUNT4ILHITCARS2ACSVWXVXRVIOD75IT2LK63A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJXYGLJZAMP2EJG43ZV7PCZPSVST2YC3GMBLGEODWSR6T4D2VHPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TDNOIHQOLGPDCFTR7M5XSDL6HPNGS45O5MKAIDMSDGHJOMIAWL4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7A6WYZVHV7O5NTE7CLC2CNI3EBCGNHIVTAKVG5LHEX7AZR3H26EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWOKQSZD4I6BJFJTWSV774DDKBEFMYXQJVNOJ63IBCLQJV57PC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTONNXQEHCLFK6HYOEQXWHDA2IH52KOOUW34QY3D2BIX4X5F5COA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQ7LDXI44ZBN7ZBHPFUW5HBKX5D7MWPURUFWMXUTIUY5643PQQLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RWB7N7CCGKEF3WQJXIOHCDNGCZT5DQRMKVPU6MGJA7ZFJSCI3MCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUYKQKYVGYSMJZLROTZZGZD77IPGXKLZXHK6XSWTIK3WNMXDB2OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWENPIKEHBT3TJWS3BJBAJE5QF3JBIFORHRZ4DGBTPBLGD45T2IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4G5XX66YKZWEYE3JJM4JEBBRCJCG52TWCL4M72KU35O72U2XUKRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXBAFGVDMR6VHFEVWFJ5JXCS3QIKYRCH5LQRSHOKZP7PWEZT5A7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYNZFDPQROSELHBEK53IZH476VOC6RY4SFHRDRORYZIMZVYYHSIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4F42KMOCWC2SSQX7KFLH2MNW6P35KIFNXDSUQ7BNIDWHSCFMZXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T5XIOKDDMIC3VREKCRCDDB2V3QZI4N66RX4WMKAW25F2SDBVKQRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZW32ETMIXVEDEILT6GU5ZQNUOCSKE7AMNY6DZFCEYOH2OUJN7I6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LG5KGVWTP42EEHEEEJH7LICTVSKEZ7C3FCTDKJYOD73ZVSMU4RVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BWZGO3FXUGJWBBAUPBTYQWM53C4T56ZCCA6LBL56RH34TBQZ2G7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJMWDZXRWCAQMQ7VMUINNDQXLSEQSW5QRMAC3LCZP5KFQQIZLWMA/vendors.js"
            ]
        },
        "GetServiceSettings": {
            "http": {
                "method": "GET",
                "requestUri": "/get-service-settings",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "homeRegion": {},
                    "organizationIntegration": {},
                    "sourceRegions": {
                        "type": "list",
                        "member": {}
                    },
                    "sourceEnvironment": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LI3TWZOIAOVD42CTXEUFQDQ6NOVC7NYXEB5SA2KTCWFFGLDACYZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJAKYASPXHDP62J3OCC434SOEENYPWV2NH6RM7TS2V7MIJUIJHBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FXBFGXWSTZ7SX2XDPA3L3UE7PYULRYH5CVUU5SX3LB6AKEAEOL6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXZLFAM6UNCFSKZOURHQDWYPR37RJ4NDLFBHSANH62PCBVZUJPBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IHT62WH6NF3H5Q756RGUD4MKZB7QYLQ5TDYLYUCXBM3YYQ4GJGIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCHAK5XXJGW44NCU3Z5X4SFEEZ5JUQPNQY27CYP7HASALX62ASVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OEXZA5QWQPW2FFGIECG2JXSFOOBXUENLX7TKORM7GC522ZOA3INA/vendors.js"
            ]
        },
        "GetWorkload": {
            "http": {
                "method": "GET",
                "requestUri": "/get-workload/{workloadId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workloadId"
                ],
                "members": {
                    "workloadId": {
                        "location": "uri",
                        "locationName": "workloadId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "workloadId": {},
                    "workloadName": {},
                    "numberOfWorkloadComponents": {
                        "type": "integer"
                    },
                    "numberOfWorkloadUnits": {
                        "type": "integer"
                    },
                    "numberOfRelatedEC2Instances": {
                        "type": "integer"
                    },
                    "numberOfUnitsSharedAcrossOtherWorkloads": {
                        "type": "integer"
                    },
                    "creationTime": {},
                    "lastModifiedTime": {},
                    "workloadStatus": {},
                    "approveStatus": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MT7O4FQMLVVBUGXMGQM5NWVEFZ2LPKXDQOWYZKJVOA6RM5C6DPLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JOEK4ADFAQ36BOGT7726FDMKRRGAFMMQ7ICYICT4NZWHIBRGX6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HAGLRRQ3PN2WB3YJGTVZ3VHHQQBZDH25E5YHDC6AXFJ3DSX3TKOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7QSIQ53LB6TJQUCNF7B2CJQHBQ3H4TUGD4RQ25SAVPZAMW57NZMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C34GBHATGCRNVKJY2TL6DKQY5FEY7ZTDFA2ZPO2EGDX5VFQJSPOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPLFAVIJ2Q7HRMOUNT4ILHITCARS2ACSVWXVXRVIOD75IT2LK63A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJXYGLJZAMP2EJG43ZV7PCZPSVST2YC3GMBLGEODWSR6T4D2VHPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TDNOIHQOLGPDCFTR7M5XSDL6HPNGS45O5MKAIDMSDGHJOMIAWL4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7A6WYZVHV7O5NTE7CLC2CNI3EBCGNHIVTAKVG5LHEX7AZR3H26EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWOKQSZD4I6BJFJTWSV774DDKBEFMYXQJVNOJ63IBCLQJV57PC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTONNXQEHCLFK6HYOEQXWHDA2IH52KOOUW34QY3D2BIX4X5F5COA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQ7LDXI44ZBN7ZBHPFUW5HBKX5D7MWPURUFWMXUTIUY5643PQQLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RWB7N7CCGKEF3WQJXIOHCDNGCZT5DQRMKVPU6MGJA7ZFJSCI3MCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUYKQKYVGYSMJZLROTZZGZD77IPGXKLZXHK6XSWTIK3WNMXDB2OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWENPIKEHBT3TJWS3BJBAJE5QF3JBIFORHRZ4DGBTPBLGD45T2IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4G5XX66YKZWEYE3JJM4JEBBRCJCG52TWCL4M72KU35O72U2XUKRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXBAFGVDMR6VHFEVWFJ5JXCS3QIKYRCH5LQRSHOKZP7PWEZT5A7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYNZFDPQROSELHBEK53IZH476VOC6RY4SFHRDRORYZIMZVYYHSIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4F42KMOCWC2SSQX7KFLH2MNW6P35KIFNXDSUQ7BNIDWHSCFMZXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T5XIOKDDMIC3VREKCRCDDB2V3QZI4N66RX4WMKAW25F2SDBVKQRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZW32ETMIXVEDEILT6GU5ZQNUOCSKE7AMNY6DZFCEYOH2OUJN7I6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LG5KGVWTP42EEHEEEJH7LICTVSKEZ7C3FCTDKJYOD73ZVSMU4RVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BWZGO3FXUGJWBBAUPBTYQWM53C4T56ZCCA6LBL56RH34TBQZ2G7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJMWDZXRWCAQMQ7VMUINNDQXLSEQSW5QRMAC3LCZP5KFQQIZLWMA/vendors.js"
            ]
        },
        "GetWorkloadUnit": {
            "http": {
                "method": "GET",
                "requestUri": "/get-workload-unit/{workloadUnitId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workloadUnitId"
                ],
                "members": {
                    "workloadUnitId": {
                        "location": "uri",
                        "locationName": "workloadUnitId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "workloadUnitId"
                ],
                "members": {
                    "workloadUnitId": {},
                    "workloadUnitName": {},
                    "workloadUnitType": {},
                    "workloadUnitInfo": {
                        "shape": "S28"
                    },
                    "creationTime": {},
                    "lastModifiedTime": {},
                    "networkCommunication": {
                        "type": "structure",
                        "members": {
                            "incoming": {
                                "shape": "S7"
                            },
                            "outgoing": {
                                "shape": "S7"
                            }
                        }
                    },
                    "s3References": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "runtimeAggregatedAnalyzer": {
                                    "shape": "S2c"
                                },
                                "antiPatternFile": {
                                    "shape": "S2c"
                                },
                                "contextId": {}
                            }
                        }
                    },
                    "numberOfRelatedEC2Instances": {
                        "type": "integer"
                    },
                    "numberOfRelatedWorkloads": {
                        "type": "integer"
                    },
                    "parentWorkloadUnitId": {},
                    "autoScalingGroupName": {},
                    "targetGroupName": {},
                    "version": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MT7O4FQMLVVBUGXMGQM5NWVEFZ2LPKXDQOWYZKJVOA6RM5C6DPLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JOEK4ADFAQ36BOGT7726FDMKRRGAFMMQ7ICYICT4NZWHIBRGX6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HAGLRRQ3PN2WB3YJGTVZ3VHHQQBZDH25E5YHDC6AXFJ3DSX3TKOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7QSIQ53LB6TJQUCNF7B2CJQHBQ3H4TUGD4RQ25SAVPZAMW57NZMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C34GBHATGCRNVKJY2TL6DKQY5FEY7ZTDFA2ZPO2EGDX5VFQJSPOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPLFAVIJ2Q7HRMOUNT4ILHITCARS2ACSVWXVXRVIOD75IT2LK63A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJXYGLJZAMP2EJG43ZV7PCZPSVST2YC3GMBLGEODWSR6T4D2VHPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TDNOIHQOLGPDCFTR7M5XSDL6HPNGS45O5MKAIDMSDGHJOMIAWL4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7A6WYZVHV7O5NTE7CLC2CNI3EBCGNHIVTAKVG5LHEX7AZR3H26EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWOKQSZD4I6BJFJTWSV774DDKBEFMYXQJVNOJ63IBCLQJV57PC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTONNXQEHCLFK6HYOEQXWHDA2IH52KOOUW34QY3D2BIX4X5F5COA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQ7LDXI44ZBN7ZBHPFUW5HBKX5D7MWPURUFWMXUTIUY5643PQQLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RWB7N7CCGKEF3WQJXIOHCDNGCZT5DQRMKVPU6MGJA7ZFJSCI3MCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUYKQKYVGYSMJZLROTZZGZD77IPGXKLZXHK6XSWTIK3WNMXDB2OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWENPIKEHBT3TJWS3BJBAJE5QF3JBIFORHRZ4DGBTPBLGD45T2IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4G5XX66YKZWEYE3JJM4JEBBRCJCG52TWCL4M72KU35O72U2XUKRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXBAFGVDMR6VHFEVWFJ5JXCS3QIKYRCH5LQRSHOKZP7PWEZT5A7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYNZFDPQROSELHBEK53IZH476VOC6RY4SFHRDRORYZIMZVYYHSIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4F42KMOCWC2SSQX7KFLH2MNW6P35KIFNXDSUQ7BNIDWHSCFMZXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T5XIOKDDMIC3VREKCRCDDB2V3QZI4N66RX4WMKAW25F2SDBVKQRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZW32ETMIXVEDEILT6GU5ZQNUOCSKE7AMNY6DZFCEYOH2OUJN7I6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LG5KGVWTP42EEHEEEJH7LICTVSKEZ7C3FCTDKJYOD73ZVSMU4RVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BWZGO3FXUGJWBBAUPBTYQWM53C4T56ZCCA6LBL56RH34TBQZ2G7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJMWDZXRWCAQMQ7VMUINNDQXLSEQSW5QRMAC3LCZP5KFQQIZLWMA/vendors.js"
            ]
        },
        "ListEC2Instances": {
            "http": {
                "requestUri": "/list-ec2-instances",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "filters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "name": {},
                                "value": {
                                    "type": "list",
                                    "member": {}
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ec2Instances"
                ],
                "members": {
                    "ec2Instances": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ec2InstanceId": {},
                                "operatingSystem": {},
                                "numberUnitsHosted": {
                                    "type": "integer"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MT7O4FQMLVVBUGXMGQM5NWVEFZ2LPKXDQOWYZKJVOA6RM5C6DPLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JOEK4ADFAQ36BOGT7726FDMKRRGAFMMQ7ICYICT4NZWHIBRGX6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HAGLRRQ3PN2WB3YJGTVZ3VHHQQBZDH25E5YHDC6AXFJ3DSX3TKOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7QSIQ53LB6TJQUCNF7B2CJQHBQ3H4TUGD4RQ25SAVPZAMW57NZMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C34GBHATGCRNVKJY2TL6DKQY5FEY7ZTDFA2ZPO2EGDX5VFQJSPOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPLFAVIJ2Q7HRMOUNT4ILHITCARS2ACSVWXVXRVIOD75IT2LK63A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJXYGLJZAMP2EJG43ZV7PCZPSVST2YC3GMBLGEODWSR6T4D2VHPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TDNOIHQOLGPDCFTR7M5XSDL6HPNGS45O5MKAIDMSDGHJOMIAWL4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7A6WYZVHV7O5NTE7CLC2CNI3EBCGNHIVTAKVG5LHEX7AZR3H26EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWOKQSZD4I6BJFJTWSV774DDKBEFMYXQJVNOJ63IBCLQJV57PC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTONNXQEHCLFK6HYOEQXWHDA2IH52KOOUW34QY3D2BIX4X5F5COA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQ7LDXI44ZBN7ZBHPFUW5HBKX5D7MWPURUFWMXUTIUY5643PQQLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RWB7N7CCGKEF3WQJXIOHCDNGCZT5DQRMKVPU6MGJA7ZFJSCI3MCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUYKQKYVGYSMJZLROTZZGZD77IPGXKLZXHK6XSWTIK3WNMXDB2OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWENPIKEHBT3TJWS3BJBAJE5QF3JBIFORHRZ4DGBTPBLGD45T2IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4G5XX66YKZWEYE3JJM4JEBBRCJCG52TWCL4M72KU35O72U2XUKRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXBAFGVDMR6VHFEVWFJ5JXCS3QIKYRCH5LQRSHOKZP7PWEZT5A7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYNZFDPQROSELHBEK53IZH476VOC6RY4SFHRDRORYZIMZVYYHSIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4F42KMOCWC2SSQX7KFLH2MNW6P35KIFNXDSUQ7BNIDWHSCFMZXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T5XIOKDDMIC3VREKCRCDDB2V3QZI4N66RX4WMKAW25F2SDBVKQRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZW32ETMIXVEDEILT6GU5ZQNUOCSKE7AMNY6DZFCEYOH2OUJN7I6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LG5KGVWTP42EEHEEEJH7LICTVSKEZ7C3FCTDKJYOD73ZVSMU4RVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BWZGO3FXUGJWBBAUPBTYQWM53C4T56ZCCA6LBL56RH34TBQZ2G7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJMWDZXRWCAQMQ7VMUINNDQXLSEQSW5QRMAC3LCZP5KFQQIZLWMA/vendors.js"
            ]
        },
        "ListWorkloadComponents": {
            "http": {
                "requestUri": "/list-workload-components",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "filters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "name": {},
                                "value": {
                                    "type": "list",
                                    "member": {}
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "workloadComponents"
                ],
                "members": {
                    "workloadComponents": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "workloadComponentId"
                            ],
                            "members": {
                                "workloadComponentId": {},
                                "workloadComponentName": {},
                                "accountId": {},
                                "creationTime": {},
                                "lastModifiedTime": {},
                                "antipatternAnalyses": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "analysisType": {},
                                            "analysisTool": {
                                                "type": "structure",
                                                "members": {
                                                    "name": {}
                                                }
                                            },
                                            "antipatternS3Url": {}
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MT7O4FQMLVVBUGXMGQM5NWVEFZ2LPKXDQOWYZKJVOA6RM5C6DPLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JOEK4ADFAQ36BOGT7726FDMKRRGAFMMQ7ICYICT4NZWHIBRGX6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HAGLRRQ3PN2WB3YJGTVZ3VHHQQBZDH25E5YHDC6AXFJ3DSX3TKOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7QSIQ53LB6TJQUCNF7B2CJQHBQ3H4TUGD4RQ25SAVPZAMW57NZMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C34GBHATGCRNVKJY2TL6DKQY5FEY7ZTDFA2ZPO2EGDX5VFQJSPOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPLFAVIJ2Q7HRMOUNT4ILHITCARS2ACSVWXVXRVIOD75IT2LK63A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJXYGLJZAMP2EJG43ZV7PCZPSVST2YC3GMBLGEODWSR6T4D2VHPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TDNOIHQOLGPDCFTR7M5XSDL6HPNGS45O5MKAIDMSDGHJOMIAWL4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7A6WYZVHV7O5NTE7CLC2CNI3EBCGNHIVTAKVG5LHEX7AZR3H26EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWOKQSZD4I6BJFJTWSV774DDKBEFMYXQJVNOJ63IBCLQJV57PC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTONNXQEHCLFK6HYOEQXWHDA2IH52KOOUW34QY3D2BIX4X5F5COA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQ7LDXI44ZBN7ZBHPFUW5HBKX5D7MWPURUFWMXUTIUY5643PQQLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RWB7N7CCGKEF3WQJXIOHCDNGCZT5DQRMKVPU6MGJA7ZFJSCI3MCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUYKQKYVGYSMJZLROTZZGZD77IPGXKLZXHK6XSWTIK3WNMXDB2OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWENPIKEHBT3TJWS3BJBAJE5QF3JBIFORHRZ4DGBTPBLGD45T2IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4G5XX66YKZWEYE3JJM4JEBBRCJCG52TWCL4M72KU35O72U2XUKRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXBAFGVDMR6VHFEVWFJ5JXCS3QIKYRCH5LQRSHOKZP7PWEZT5A7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYNZFDPQROSELHBEK53IZH476VOC6RY4SFHRDRORYZIMZVYYHSIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4F42KMOCWC2SSQX7KFLH2MNW6P35KIFNXDSUQ7BNIDWHSCFMZXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T5XIOKDDMIC3VREKCRCDDB2V3QZI4N66RX4WMKAW25F2SDBVKQRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZW32ETMIXVEDEILT6GU5ZQNUOCSKE7AMNY6DZFCEYOH2OUJN7I6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LG5KGVWTP42EEHEEEJH7LICTVSKEZ7C3FCTDKJYOD73ZVSMU4RVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BWZGO3FXUGJWBBAUPBTYQWM53C4T56ZCCA6LBL56RH34TBQZ2G7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJMWDZXRWCAQMQ7VMUINNDQXLSEQSW5QRMAC3LCZP5KFQQIZLWMA/vendors.js"
            ]
        },
        "ListWorkloadComponentsRecommendations": {
            "http": {
                "requestUri": "/list-workload-components-recommendations",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "filters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "name": {},
                                "value": {}
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "workloadComponentsRecommendations": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "workloadComponentId": {},
                                "workloadComponentName": {},
                                "workloadId": {},
                                "units": {},
                                "recommendationPathway": {
                                    "type": "structure",
                                    "members": {
                                        "pathway": {},
                                        "strategy": {},
                                        "deployment": {},
                                        "operationalEfficiency": {},
                                        "complexity": {},
                                        "licenseIndependency": {},
                                        "costSavings": {}
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MT7O4FQMLVVBUGXMGQM5NWVEFZ2LPKXDQOWYZKJVOA6RM5C6DPLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JOEK4ADFAQ36BOGT7726FDMKRRGAFMMQ7ICYICT4NZWHIBRGX6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HAGLRRQ3PN2WB3YJGTVZ3VHHQQBZDH25E5YHDC6AXFJ3DSX3TKOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7QSIQ53LB6TJQUCNF7B2CJQHBQ3H4TUGD4RQ25SAVPZAMW57NZMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C34GBHATGCRNVKJY2TL6DKQY5FEY7ZTDFA2ZPO2EGDX5VFQJSPOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPLFAVIJ2Q7HRMOUNT4ILHITCARS2ACSVWXVXRVIOD75IT2LK63A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJXYGLJZAMP2EJG43ZV7PCZPSVST2YC3GMBLGEODWSR6T4D2VHPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TDNOIHQOLGPDCFTR7M5XSDL6HPNGS45O5MKAIDMSDGHJOMIAWL4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7A6WYZVHV7O5NTE7CLC2CNI3EBCGNHIVTAKVG5LHEX7AZR3H26EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWOKQSZD4I6BJFJTWSV774DDKBEFMYXQJVNOJ63IBCLQJV57PC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTONNXQEHCLFK6HYOEQXWHDA2IH52KOOUW34QY3D2BIX4X5F5COA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQ7LDXI44ZBN7ZBHPFUW5HBKX5D7MWPURUFWMXUTIUY5643PQQLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RWB7N7CCGKEF3WQJXIOHCDNGCZT5DQRMKVPU6MGJA7ZFJSCI3MCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUYKQKYVGYSMJZLROTZZGZD77IPGXKLZXHK6XSWTIK3WNMXDB2OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWENPIKEHBT3TJWS3BJBAJE5QF3JBIFORHRZ4DGBTPBLGD45T2IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4G5XX66YKZWEYE3JJM4JEBBRCJCG52TWCL4M72KU35O72U2XUKRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXBAFGVDMR6VHFEVWFJ5JXCS3QIKYRCH5LQRSHOKZP7PWEZT5A7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYNZFDPQROSELHBEK53IZH476VOC6RY4SFHRDRORYZIMZVYYHSIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4F42KMOCWC2SSQX7KFLH2MNW6P35KIFNXDSUQ7BNIDWHSCFMZXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T5XIOKDDMIC3VREKCRCDDB2V3QZI4N66RX4WMKAW25F2SDBVKQRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZW32ETMIXVEDEILT6GU5ZQNUOCSKE7AMNY6DZFCEYOH2OUJN7I6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LG5KGVWTP42EEHEEEJH7LICTVSKEZ7C3FCTDKJYOD73ZVSMU4RVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BWZGO3FXUGJWBBAUPBTYQWM53C4T56ZCCA6LBL56RH34TBQZ2G7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJMWDZXRWCAQMQ7VMUINNDQXLSEQSW5QRMAC3LCZP5KFQQIZLWMA/vendors.js"
            ]
        },
        "ListWorkloadUnits": {
            "http": {
                "requestUri": "/list-workload-units",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "filters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "name": {},
                                "value": {
                                    "type": "list",
                                    "member": {}
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "workloadUnits"
                ],
                "members": {
                    "nextToken": {},
                    "workloadUnits": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "workloadUnitId"
                            ],
                            "members": {
                                "workloadUnitId": {},
                                "workloadUnitName": {},
                                "accountId": {},
                                "workloadUnitType": {},
                                "workloadUnitInfo": {
                                    "shape": "S28"
                                },
                                "creationTime": {},
                                "lastModifiedTime": {},
                                "numberOfRelatedEC2Instances": {
                                    "type": "integer"
                                },
                                "numberOfRelatedWorkloads": {
                                    "type": "integer"
                                },
                                "parentWorkloadUnitId": {},
                                "autoScalingGroupName": {},
                                "targetGroupName": {},
                                "version": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MT7O4FQMLVVBUGXMGQM5NWVEFZ2LPKXDQOWYZKJVOA6RM5C6DPLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JOEK4ADFAQ36BOGT7726FDMKRRGAFMMQ7ICYICT4NZWHIBRGX6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HAGLRRQ3PN2WB3YJGTVZ3VHHQQBZDH25E5YHDC6AXFJ3DSX3TKOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7QSIQ53LB6TJQUCNF7B2CJQHBQ3H4TUGD4RQ25SAVPZAMW57NZMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C34GBHATGCRNVKJY2TL6DKQY5FEY7ZTDFA2ZPO2EGDX5VFQJSPOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPLFAVIJ2Q7HRMOUNT4ILHITCARS2ACSVWXVXRVIOD75IT2LK63A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJXYGLJZAMP2EJG43ZV7PCZPSVST2YC3GMBLGEODWSR6T4D2VHPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TDNOIHQOLGPDCFTR7M5XSDL6HPNGS45O5MKAIDMSDGHJOMIAWL4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7A6WYZVHV7O5NTE7CLC2CNI3EBCGNHIVTAKVG5LHEX7AZR3H26EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWOKQSZD4I6BJFJTWSV774DDKBEFMYXQJVNOJ63IBCLQJV57PC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTONNXQEHCLFK6HYOEQXWHDA2IH52KOOUW34QY3D2BIX4X5F5COA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQ7LDXI44ZBN7ZBHPFUW5HBKX5D7MWPURUFWMXUTIUY5643PQQLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RWB7N7CCGKEF3WQJXIOHCDNGCZT5DQRMKVPU6MGJA7ZFJSCI3MCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUYKQKYVGYSMJZLROTZZGZD77IPGXKLZXHK6XSWTIK3WNMXDB2OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWENPIKEHBT3TJWS3BJBAJE5QF3JBIFORHRZ4DGBTPBLGD45T2IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4G5XX66YKZWEYE3JJM4JEBBRCJCG52TWCL4M72KU35O72U2XUKRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXBAFGVDMR6VHFEVWFJ5JXCS3QIKYRCH5LQRSHOKZP7PWEZT5A7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYNZFDPQROSELHBEK53IZH476VOC6RY4SFHRDRORYZIMZVYYHSIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4F42KMOCWC2SSQX7KFLH2MNW6P35KIFNXDSUQ7BNIDWHSCFMZXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T5XIOKDDMIC3VREKCRCDDB2V3QZI4N66RX4WMKAW25F2SDBVKQRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZW32ETMIXVEDEILT6GU5ZQNUOCSKE7AMNY6DZFCEYOH2OUJN7I6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LG5KGVWTP42EEHEEEJH7LICTVSKEZ7C3FCTDKJYOD73ZVSMU4RVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BWZGO3FXUGJWBBAUPBTYQWM53C4T56ZCCA6LBL56RH34TBQZ2G7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJMWDZXRWCAQMQ7VMUINNDQXLSEQSW5QRMAC3LCZP5KFQQIZLWMA/vendors.js"
            ]
        },
        "ListWorkloads": {
            "http": {
                "requestUri": "/list-workloads",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "filters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "name": {},
                                "value": {
                                    "type": "list",
                                    "member": {}
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "workloads"
                ],
                "members": {
                    "totalWorkloads": {
                        "type": "integer"
                    },
                    "nextToken": {},
                    "workloads": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "workloadId"
                            ],
                            "members": {
                                "workloadId": {},
                                "workloadName": {},
                                "accountId": {},
                                "creationTime": {},
                                "lastModifiedTime": {},
                                "numberOfRelatedEC2Instances": {
                                    "type": "integer"
                                },
                                "numberOfUnitsSharedAcrossOtherWorkloads": {
                                    "type": "integer"
                                },
                                "workloadStatus": {},
                                "approveStatus": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MT7O4FQMLVVBUGXMGQM5NWVEFZ2LPKXDQOWYZKJVOA6RM5C6DPLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JOEK4ADFAQ36BOGT7726FDMKRRGAFMMQ7ICYICT4NZWHIBRGX6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HAGLRRQ3PN2WB3YJGTVZ3VHHQQBZDH25E5YHDC6AXFJ3DSX3TKOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7QSIQ53LB6TJQUCNF7B2CJQHBQ3H4TUGD4RQ25SAVPZAMW57NZMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C34GBHATGCRNVKJY2TL6DKQY5FEY7ZTDFA2ZPO2EGDX5VFQJSPOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPLFAVIJ2Q7HRMOUNT4ILHITCARS2ACSVWXVXRVIOD75IT2LK63A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJXYGLJZAMP2EJG43ZV7PCZPSVST2YC3GMBLGEODWSR6T4D2VHPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TDNOIHQOLGPDCFTR7M5XSDL6HPNGS45O5MKAIDMSDGHJOMIAWL4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7A6WYZVHV7O5NTE7CLC2CNI3EBCGNHIVTAKVG5LHEX7AZR3H26EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWOKQSZD4I6BJFJTWSV774DDKBEFMYXQJVNOJ63IBCLQJV57PC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTONNXQEHCLFK6HYOEQXWHDA2IH52KOOUW34QY3D2BIX4X5F5COA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQ7LDXI44ZBN7ZBHPFUW5HBKX5D7MWPURUFWMXUTIUY5643PQQLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RWB7N7CCGKEF3WQJXIOHCDNGCZT5DQRMKVPU6MGJA7ZFJSCI3MCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUYKQKYVGYSMJZLROTZZGZD77IPGXKLZXHK6XSWTIK3WNMXDB2OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWENPIKEHBT3TJWS3BJBAJE5QF3JBIFORHRZ4DGBTPBLGD45T2IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4G5XX66YKZWEYE3JJM4JEBBRCJCG52TWCL4M72KU35O72U2XUKRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXBAFGVDMR6VHFEVWFJ5JXCS3QIKYRCH5LQRSHOKZP7PWEZT5A7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYNZFDPQROSELHBEK53IZH476VOC6RY4SFHRDRORYZIMZVYYHSIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4F42KMOCWC2SSQX7KFLH2MNW6P35KIFNXDSUQ7BNIDWHSCFMZXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T5XIOKDDMIC3VREKCRCDDB2V3QZI4N66RX4WMKAW25F2SDBVKQRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZW32ETMIXVEDEILT6GU5ZQNUOCSKE7AMNY6DZFCEYOH2OUJN7I6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LG5KGVWTP42EEHEEEJH7LICTVSKEZ7C3FCTDKJYOD73ZVSMU4RVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BWZGO3FXUGJWBBAUPBTYQWM53C4T56ZCCA6LBL56RH34TBQZ2G7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJMWDZXRWCAQMQ7VMUINNDQXLSEQSW5QRMAC3LCZP5KFQQIZLWMA/vendors.js"
            ]
        },
        "RemoveWorkloadComponentsFromWorkload": {
            "http": {
                "requestUri": "/remove-workload-components-from-workload/",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workloadId",
                    "workloadComponentIds"
                ],
                "members": {
                    "workloadId": {},
                    "workloadComponentIds": {
                        "shape": "S3"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MT7O4FQMLVVBUGXMGQM5NWVEFZ2LPKXDQOWYZKJVOA6RM5C6DPLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JOEK4ADFAQ36BOGT7726FDMKRRGAFMMQ7ICYICT4NZWHIBRGX6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HAGLRRQ3PN2WB3YJGTVZ3VHHQQBZDH25E5YHDC6AXFJ3DSX3TKOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7QSIQ53LB6TJQUCNF7B2CJQHBQ3H4TUGD4RQ25SAVPZAMW57NZMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C34GBHATGCRNVKJY2TL6DKQY5FEY7ZTDFA2ZPO2EGDX5VFQJSPOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPLFAVIJ2Q7HRMOUNT4ILHITCARS2ACSVWXVXRVIOD75IT2LK63A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJXYGLJZAMP2EJG43ZV7PCZPSVST2YC3GMBLGEODWSR6T4D2VHPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TDNOIHQOLGPDCFTR7M5XSDL6HPNGS45O5MKAIDMSDGHJOMIAWL4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7A6WYZVHV7O5NTE7CLC2CNI3EBCGNHIVTAKVG5LHEX7AZR3H26EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWOKQSZD4I6BJFJTWSV774DDKBEFMYXQJVNOJ63IBCLQJV57PC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTONNXQEHCLFK6HYOEQXWHDA2IH52KOOUW34QY3D2BIX4X5F5COA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQ7LDXI44ZBN7ZBHPFUW5HBKX5D7MWPURUFWMXUTIUY5643PQQLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RWB7N7CCGKEF3WQJXIOHCDNGCZT5DQRMKVPU6MGJA7ZFJSCI3MCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUYKQKYVGYSMJZLROTZZGZD77IPGXKLZXHK6XSWTIK3WNMXDB2OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWENPIKEHBT3TJWS3BJBAJE5QF3JBIFORHRZ4DGBTPBLGD45T2IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4G5XX66YKZWEYE3JJM4JEBBRCJCG52TWCL4M72KU35O72U2XUKRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXBAFGVDMR6VHFEVWFJ5JXCS3QIKYRCH5LQRSHOKZP7PWEZT5A7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYNZFDPQROSELHBEK53IZH476VOC6RY4SFHRDRORYZIMZVYYHSIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4F42KMOCWC2SSQX7KFLH2MNW6P35KIFNXDSUQ7BNIDWHSCFMZXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T5XIOKDDMIC3VREKCRCDDB2V3QZI4N66RX4WMKAW25F2SDBVKQRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZW32ETMIXVEDEILT6GU5ZQNUOCSKE7AMNY6DZFCEYOH2OUJN7I6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LG5KGVWTP42EEHEEEJH7LICTVSKEZ7C3FCTDKJYOD73ZVSMU4RVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BWZGO3FXUGJWBBAUPBTYQWM53C4T56ZCCA6LBL56RH34TBQZ2G7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJMWDZXRWCAQMQ7VMUINNDQXLSEQSW5QRMAC3LCZP5KFQQIZLWMA/vendors.js"
            ]
        },
        "RemoveWorkloadUnitsFromWorkloadComponent": {
            "http": {
                "requestUri": "/remove-workload-units-from-workload-component/",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workloadComponentId",
                    "workloadUnitIds"
                ],
                "members": {
                    "workloadComponentId": {},
                    "workloadUnitIds": {
                        "shape": "S7"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MT7O4FQMLVVBUGXMGQM5NWVEFZ2LPKXDQOWYZKJVOA6RM5C6DPLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JOEK4ADFAQ36BOGT7726FDMKRRGAFMMQ7ICYICT4NZWHIBRGX6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HAGLRRQ3PN2WB3YJGTVZ3VHHQQBZDH25E5YHDC6AXFJ3DSX3TKOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7QSIQ53LB6TJQUCNF7B2CJQHBQ3H4TUGD4RQ25SAVPZAMW57NZMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C34GBHATGCRNVKJY2TL6DKQY5FEY7ZTDFA2ZPO2EGDX5VFQJSPOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPLFAVIJ2Q7HRMOUNT4ILHITCARS2ACSVWXVXRVIOD75IT2LK63A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJXYGLJZAMP2EJG43ZV7PCZPSVST2YC3GMBLGEODWSR6T4D2VHPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TDNOIHQOLGPDCFTR7M5XSDL6HPNGS45O5MKAIDMSDGHJOMIAWL4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7A6WYZVHV7O5NTE7CLC2CNI3EBCGNHIVTAKVG5LHEX7AZR3H26EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWOKQSZD4I6BJFJTWSV774DDKBEFMYXQJVNOJ63IBCLQJV57PC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTONNXQEHCLFK6HYOEQXWHDA2IH52KOOUW34QY3D2BIX4X5F5COA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQ7LDXI44ZBN7ZBHPFUW5HBKX5D7MWPURUFWMXUTIUY5643PQQLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RWB7N7CCGKEF3WQJXIOHCDNGCZT5DQRMKVPU6MGJA7ZFJSCI3MCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUYKQKYVGYSMJZLROTZZGZD77IPGXKLZXHK6XSWTIK3WNMXDB2OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWENPIKEHBT3TJWS3BJBAJE5QF3JBIFORHRZ4DGBTPBLGD45T2IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4G5XX66YKZWEYE3JJM4JEBBRCJCG52TWCL4M72KU35O72U2XUKRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXBAFGVDMR6VHFEVWFJ5JXCS3QIKYRCH5LQRSHOKZP7PWEZT5A7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYNZFDPQROSELHBEK53IZH476VOC6RY4SFHRDRORYZIMZVYYHSIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4F42KMOCWC2SSQX7KFLH2MNW6P35KIFNXDSUQ7BNIDWHSCFMZXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T5XIOKDDMIC3VREKCRCDDB2V3QZI4N66RX4WMKAW25F2SDBVKQRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZW32ETMIXVEDEILT6GU5ZQNUOCSKE7AMNY6DZFCEYOH2OUJN7I6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LG5KGVWTP42EEHEEEJH7LICTVSKEZ7C3FCTDKJYOD73ZVSMU4RVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BWZGO3FXUGJWBBAUPBTYQWM53C4T56ZCCA6LBL56RH34TBQZ2G7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJMWDZXRWCAQMQ7VMUINNDQXLSEQSW5QRMAC3LCZP5KFQQIZLWMA/vendors.js"
            ]
        },
        "ResetWorkload": {
            "http": {
                "requestUri": "/reset-workload/",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workloadId"
                ],
                "members": {
                    "workloadId": {}
                }
            },
            "output": {
                "type": "structure",
[...]
