{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2020-02-19",
        "endpointPrefix": "AWSMigrationHubModernizationStrategy",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceAbbreviation": "MigrationHubModernizationStrategy",
        "serviceFullName": "AWS Migration Hub Modernization Strategy",
        "serviceId": "MigrationHubModernizationStrategy",
        "signatureVersion": "v4",
        "signingName": "migrationhub-modernization-strategy",
        "uid": "ModernizationStrategy-2020-02-19",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/LI3TWZOIAOVD42CTXEUFQDQ6NOVC7NYXEB5SA2KTCWFFGLDACYZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CJAKYASPXHDP62J3OCC434SOEENYPWV2NH6RM7TS2V7MIJUIJHBA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FXBFGXWSTZ7SX2XDPA3L3UE7PYULRYH5CVUU5SX3LB6AKEAEOL6A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PXZLFAM6UNCFSKZOURHQDWYPR37RJ4NDLFBHSANH62PCBVZUJPBQ/vendors.js"
        ]
    },
    "operations": {
        "AddWorkloadComponentsToWorkload": {
            "http": {
                "requestUri": "/add-workload-components-to-workload/",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workloadId",
                    "workloadComponentIds"
                ],
                "members": {
                    "workloadId": {},
                    "workloadComponentIds": {
                        "shape": "S3"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LI3TWZOIAOVD42CTXEUFQDQ6NOVC7NYXEB5SA2KTCWFFGLDACYZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJAKYASPXHDP62J3OCC434SOEENYPWV2NH6RM7TS2V7MIJUIJHBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FXBFGXWSTZ7SX2XDPA3L3UE7PYULRYH5CVUU5SX3LB6AKEAEOL6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXZLFAM6UNCFSKZOURHQDWYPR37RJ4NDLFBHSANH62PCBVZUJPBQ/vendors.js"
            ]
        },
        "AddWorkloadUnitsToWorkloadComponent": {
            "http": {
                "requestUri": "/add-workload-units-to-workload-component/",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workloadComponentId",
                    "workloadUnitIds"
                ],
                "members": {
                    "workloadComponentId": {},
                    "workloadUnitIds": {
                        "shape": "S7"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LI3TWZOIAOVD42CTXEUFQDQ6NOVC7NYXEB5SA2KTCWFFGLDACYZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJAKYASPXHDP62J3OCC434SOEENYPWV2NH6RM7TS2V7MIJUIJHBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FXBFGXWSTZ7SX2XDPA3L3UE7PYULRYH5CVUU5SX3LB6AKEAEOL6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXZLFAM6UNCFSKZOURHQDWYPR37RJ4NDLFBHSANH62PCBVZUJPBQ/vendors.js"
            ]
        },
        "CreateWorkload": {
            "http": {
                "requestUri": "/create-workload/",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workloadName"
                ],
                "members": {
                    "workloadName": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "workloadId"
                ],
                "members": {
                    "workloadId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LI3TWZOIAOVD42CTXEUFQDQ6NOVC7NYXEB5SA2KTCWFFGLDACYZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJAKYASPXHDP62J3OCC434SOEENYPWV2NH6RM7TS2V7MIJUIJHBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FXBFGXWSTZ7SX2XDPA3L3UE7PYULRYH5CVUU5SX3LB6AKEAEOL6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXZLFAM6UNCFSKZOURHQDWYPR37RJ4NDLFBHSANH62PCBVZUJPBQ/vendors.js"
            ]
        },
        "CreateWorkloadComponent": {
            "http": {
                "requestUri": "/create-workload-component/",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workloadComponentName"
                ],
                "members": {
                    "workloadComponentName": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "workloadComponentId"
                ],
                "members": {
                    "workloadComponentId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LI3TWZOIAOVD42CTXEUFQDQ6NOVC7NYXEB5SA2KTCWFFGLDACYZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJAKYASPXHDP62J3OCC434SOEENYPWV2NH6RM7TS2V7MIJUIJHBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FXBFGXWSTZ7SX2XDPA3L3UE7PYULRYH5CVUU5SX3LB6AKEAEOL6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXZLFAM6UNCFSKZOURHQDWYPR37RJ4NDLFBHSANH62PCBVZUJPBQ/vendors.js"
            ]
        },
        "DeleteWorkload": {
            "http": {
                "requestUri": "/delete-workload/",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workloadId"
                ],
                "members": {
                    "workloadId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LI3TWZOIAOVD42CTXEUFQDQ6NOVC7NYXEB5SA2KTCWFFGLDACYZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJAKYASPXHDP62J3OCC434SOEENYPWV2NH6RM7TS2V7MIJUIJHBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FXBFGXWSTZ7SX2XDPA3L3UE7PYULRYH5CVUU5SX3LB6AKEAEOL6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXZLFAM6UNCFSKZOURHQDWYPR37RJ4NDLFBHSANH62PCBVZUJPBQ/vendors.js"
            ]
        },
        "DeleteWorkloadComponent": {
            "http": {
                "requestUri": "/delete-workload-component/",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workloadComponentId"
                ],
                "members": {
                    "workloadComponentId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LI3TWZOIAOVD42CTXEUFQDQ6NOVC7NYXEB5SA2KTCWFFGLDACYZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJAKYASPXHDP62J3OCC434SOEENYPWV2NH6RM7TS2V7MIJUIJHBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FXBFGXWSTZ7SX2XDPA3L3UE7PYULRYH5CVUU5SX3LB6AKEAEOL6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXZLFAM6UNCFSKZOURHQDWYPR37RJ4NDLFBHSANH62PCBVZUJPBQ/vendors.js"
            ]
        },
        "GenerateRecommendations": {
            "http": {
                "requestUri": "/generate-recommendations",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "filters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "name": {},
                                "value": {}
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "assessmentId": {},
                    "recommendationOrchestrationId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LI3TWZOIAOVD42CTXEUFQDQ6NOVC7NYXEB5SA2KTCWFFGLDACYZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJAKYASPXHDP62J3OCC434SOEENYPWV2NH6RM7TS2V7MIJUIJHBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FXBFGXWSTZ7SX2XDPA3L3UE7PYULRYH5CVUU5SX3LB6AKEAEOL6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXZLFAM6UNCFSKZOURHQDWYPR37RJ4NDLFBHSANH62PCBVZUJPBQ/vendors.js"
            ]
        },
        "GetAssessment": {
            "http": {
                "requestUri": "/get-assessment",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "assessmentId": {},
                    "startTime": {
                        "type": "timestamp"
                    },
                    "completionTime": {
                        "type": "timestamp"
                    },
                    "status": {},
                    "statusMessage": {},
                    "dataCollectionPreferences": {
                        "shape": "Su"
                    },
                    "assessmentTargets": {
                        "shape": "Sy"
                    },
                    "dataCollectionDetails": {
                        "type": "structure",
                        "members": {
                            "dataCollectionStatus": {}
                        }
                    },
                    "workloadGroupingDetails": {
                        "type": "structure",
                        "members": {
                            "workloadGroupingStatus": {}
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LI3TWZOIAOVD42CTXEUFQDQ6NOVC7NYXEB5SA2KTCWFFGLDACYZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJAKYASPXHDP62J3OCC434SOEENYPWV2NH6RM7TS2V7MIJUIJHBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FXBFGXWSTZ7SX2XDPA3L3UE7PYULRYH5CVUU5SX3LB6AKEAEOL6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXZLFAM6UNCFSKZOURHQDWYPR37RJ4NDLFBHSANH62PCBVZUJPBQ/vendors.js"
            ]
        },
        "GetAssessmentDetails": {
            "http": {
                "requestUri": "/get-assessment-details",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "assessmentId": {},
                    "startTime": {
                        "type": "timestamp"
                    },
                    "completionTime": {
                        "type": "timestamp"
                    },
                    "status": {},
                    "statusMessage": {},
                    "dataCollectionPreferences": {
                        "shape": "Su"
                    },
                    "assessmentTargets": {
                        "shape": "Sy"
                    },
                    "dataCollectionDetails": {
                        "type": "structure",
                        "members": {
                            "dataCollectionStatus": {}
                        }
                    },
                    "workloadGroupingDetails": {
                        "type": "structure",
                        "members": {
                            "workloadGroupingStatus": {}
                        }
                    },
                    "recommendationDetails": {
                        "shape": "S1d"
                    },
                    "kmsKeyArn": {},
                    "useKmsForDatabase": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LI3TWZOIAOVD42CTXEUFQDQ6NOVC7NYXEB5SA2KTCWFFGLDACYZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJAKYASPXHDP62J3OCC434SOEENYPWV2NH6RM7TS2V7MIJUIJHBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FXBFGXWSTZ7SX2XDPA3L3UE7PYULRYH5CVUU5SX3LB6AKEAEOL6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXZLFAM6UNCFSKZOURHQDWYPR37RJ4NDLFBHSANH62PCBVZUJPBQ/vendors.js"
            ]
        },
        "GetLatestAssessmentId": {
            "http": {
                "method": "GET",
                "requestUri": "/get-latest-assessment-id",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "id": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LI3TWZOIAOVD42CTXEUFQDQ6NOVC7NYXEB5SA2KTCWFFGLDACYZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJAKYASPXHDP62J3OCC434SOEENYPWV2NH6RM7TS2V7MIJUIJHBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FXBFGXWSTZ7SX2XDPA3L3UE7PYULRYH5CVUU5SX3LB6AKEAEOL6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXZLFAM6UNCFSKZOURHQDWYPR37RJ4NDLFBHSANH62PCBVZUJPBQ/vendors.js"
            ]
        },
        "GetPortfolioSummary": {
            "http": {
                "method": "GET",
                "requestUri": "/get-portfolio-summary",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "assessmentStatus": {},
                    "startTime": {
                        "type": "timestamp"
                    },
                    "completionTime": {
                        "type": "timestamp"
                    },
                    "workloadSummary": {
                        "type": "structure",
                        "members": {
                            "workloadsCount": {
                                "type": "integer"
                            },
                            "workloadComponentsCount": {
                                "type": "integer"
                            }
                        }
                    },
                    "pathwayComplexitySummaryList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "count": {
                                    "type": "integer"
                                },
                                "strategy": {},
                                "complexity": {}
                            }
                        }
                    },
                    "pathwayTCOSummaryList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "count": {
                                    "type": "integer"
                                },
                                "strategy": {},
                                "tco": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LI3TWZOIAOVD42CTXEUFQDQ6NOVC7NYXEB5SA2KTCWFFGLDACYZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJAKYASPXHDP62J3OCC434SOEENYPWV2NH6RM7TS2V7MIJUIJHBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FXBFGXWSTZ7SX2XDPA3L3UE7PYULRYH5CVUU5SX3LB6AKEAEOL6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXZLFAM6UNCFSKZOURHQDWYPR37RJ4NDLFBHSANH62PCBVZUJPBQ/vendors.js"
            ]
        },
        "GetRecommendationReportDetail": {
            "http": {
                "method": "GET",
                "requestUri": "/get-recommendation-report-detail",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "recommendationReportDetail": {
                        "type": "structure",
                        "members": {
                            "csvReportS3Url": {},
                            "jsonReportS3Url": {}
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LI3TWZOIAOVD42CTXEUFQDQ6NOVC7NYXEB5SA2KTCWFFGLDACYZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJAKYASPXHDP62J3OCC434SOEENYPWV2NH6RM7TS2V7MIJUIJHBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FXBFGXWSTZ7SX2XDPA3L3UE7PYULRYH5CVUU5SX3LB6AKEAEOL6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXZLFAM6UNCFSKZOURHQDWYPR37RJ4NDLFBHSANH62PCBVZUJPBQ/vendors.js"
            ]
        },
        "GetRecommendationStatus": {
            "http": {
                "method": "GET",
                "requestUri": "/get-recommendation-status",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "workloadId": {
                        "location": "querystring",
                        "locationName": "workloadId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "recommendationDetails": {
                        "shape": "S1d"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LI3TWZOIAOVD42CTXEUFQDQ6NOVC7NYXEB5SA2KTCWFFGLDACYZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJAKYASPXHDP62J3OCC434SOEENYPWV2NH6RM7TS2V7MIJUIJHBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FXBFGXWSTZ7SX2XDPA3L3UE7PYULRYH5CVUU5SX3LB6AKEAEOL6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXZLFAM6UNCFSKZOURHQDWYPR37RJ4NDLFBHSANH62PCBVZUJPBQ/vendors.js"
            ]
        },
        "GetServiceSettings": {
            "http": {
                "method": "GET",
                "requestUri": "/get-service-settings",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "homeRegion": {},
                    "organizationIntegration": {},
                    "sourceRegions": {
                        "type": "list",
                        "member": {}
                    },
                    "sourceEnvironment": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LI3TWZOIAOVD42CTXEUFQDQ6NOVC7NYXEB5SA2KTCWFFGLDACYZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJAKYASPXHDP62J3OCC434SOEENYPWV2NH6RM7TS2V7MIJUIJHBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FXBFGXWSTZ7SX2XDPA3L3UE7PYULRYH5CVUU5SX3LB6AKEAEOL6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXZLFAM6UNCFSKZOURHQDWYPR37RJ4NDLFBHSANH62PCBVZUJPBQ/vendors.js"
            ]
        },
        "GetWorkload": {
            "http": {
                "method": "GET",
                "requestUri": "/get-workload/{workloadId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workloadId"
                ],
                "members": {
                    "workloadId": {
                        "location": "uri",
                        "locationName": "workloadId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "workloadId": {},
                    "workloadName": {},
                    "numberOfWorkloadComponents": {
                        "type": "integer"
                    },
                    "numberOfWorkloadUnits": {
                        "type": "integer"
                    },
                    "numberOfRelatedEC2Instances": {
                        "type": "integer"
                    },
                    "numberOfUnitsSharedAcrossOtherWorkloads": {
                        "type": "integer"
                    },
                    "creationTime": {},
                    "lastModifiedTime": {},
                    "workloadStatus": {},
                    "approveStatus": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LI3TWZOIAOVD42CTXEUFQDQ6NOVC7NYXEB5SA2KTCWFFGLDACYZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJAKYASPXHDP62J3OCC434SOEENYPWV2NH6RM7TS2V7MIJUIJHBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FXBFGXWSTZ7SX2XDPA3L3UE7PYULRYH5CVUU5SX3LB6AKEAEOL6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXZLFAM6UNCFSKZOURHQDWYPR37RJ4NDLFBHSANH62PCBVZUJPBQ/vendors.js"
            ]
        },
        "GetWorkloadUnit": {
            "http": {
                "method": "GET",
                "requestUri": "/get-workload-unit/{workloadUnitId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workloadUnitId"
                ],
                "members": {
                    "workloadUnitId": {
                        "location": "uri",
                        "locationName": "workloadUnitId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "workloadUnitId"
                ],
                "members": {
                    "workloadUnitId": {},
                    "workloadUnitName": {},
                    "workloadUnitType": {},
                    "workloadUnitInfo": {
                        "shape": "S28"
                    },
                    "creationTime": {},
                    "lastModifiedTime": {},
                    "networkCommunication": {
                        "type": "structure",
                        "members": {
                            "incoming": {
                                "shape": "S7"
                            },
                            "outgoing": {
                                "shape": "S7"
                            }
                        }
                    },
                    "s3References": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "runtimeAggregatedAnalyzer": {
                                    "shape": "S2c"
                                },
                                "antiPatternFile": {
                                    "shape": "S2c"
                                },
                                "contextId": {}
                            }
                        }
                    },
                    "numberOfRelatedEC2Instances": {
                        "type": "integer"
                    },
                    "numberOfRelatedWorkloads": {
                        "type": "integer"
                    },
                    "parentWorkloadUnitId": {},
                    "autoScalingGroupName": {},
                    "targetGroupName": {},
                    "version": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LI3TWZOIAOVD42CTXEUFQDQ6NOVC7NYXEB5SA2KTCWFFGLDACYZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJAKYASPXHDP62J3OCC434SOEENYPWV2NH6RM7TS2V7MIJUIJHBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FXBFGXWSTZ7SX2XDPA3L3UE7PYULRYH5CVUU5SX3LB6AKEAEOL6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXZLFAM6UNCFSKZOURHQDWYPR37RJ4NDLFBHSANH62PCBVZUJPBQ/vendors.js"
            ]
        },
        "ListEC2Instances": {
            "http": {
                "requestUri": "/list-ec2-instances",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "filters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "name": {},
                                "value": {
                                    "type": "list",
                                    "member": {}
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ec2Instances"
                ],
                "members": {
                    "ec2Instances": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ec2InstanceId": {},
                                "operatingSystem": {},
                                "numberUnitsHosted": {
                                    "type": "integer"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LI3TWZOIAOVD42CTXEUFQDQ6NOVC7NYXEB5SA2KTCWFFGLDACYZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJAKYASPXHDP62J3OCC434SOEENYPWV2NH6RM7TS2V7MIJUIJHBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FXBFGXWSTZ7SX2XDPA3L3UE7PYULRYH5CVUU5SX3LB6AKEAEOL6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXZLFAM6UNCFSKZOURHQDWYPR37RJ4NDLFBHSANH62PCBVZUJPBQ/vendors.js"
            ]
        },
        "ListWorkloadComponents": {
            "http": {
                "requestUri": "/list-workload-components",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "filters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "name": {},
                                "value": {
                                    "type": "list",
                                    "member": {}
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "workloadComponents"
                ],
                "members": {
                    "workloadComponents": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "workloadComponentId"
                            ],
                            "members": {
                                "workloadComponentId": {},
                                "workloadComponentName": {},
                                "accountId": {},
                                "creationTime": {},
                                "lastModifiedTime": {},
                                "antipatternAnalyses": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "analysisType": {},
                                            "analysisTool": {
                                                "type": "structure",
                                                "members": {
                                                    "name": {}
                                                }
                                            },
                                            "antipatternS3Url": {}
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LI3TWZOIAOVD42CTXEUFQDQ6NOVC7NYXEB5SA2KTCWFFGLDACYZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJAKYASPXHDP62J3OCC434SOEENYPWV2NH6RM7TS2V7MIJUIJHBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FXBFGXWSTZ7SX2XDPA3L3UE7PYULRYH5CVUU5SX3LB6AKEAEOL6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXZLFAM6UNCFSKZOURHQDWYPR37RJ4NDLFBHSANH62PCBVZUJPBQ/vendors.js"
            ]
        },
        "ListWorkloadComponentsRecommendations": {
            "http": {
                "requestUri": "/list-workload-components-recommendations",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "filters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "name": {},
                                "value": {}
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "workloadComponentsRecommendations": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "workloadComponentId": {},
                                "workloadComponentName": {},
                                "workloadId": {},
                                "units": {},
                                "recommendationPathway": {
                                    "type": "structure",
                                    "members": {
                                        "pathway": {},
                                        "strategy": {},
                                        "deployment": {},
                                        "operationalEfficiency": {},
                                        "complexity": {},
                                        "licenseIndependency": {},
                                        "costSavings": {}
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LI3TWZOIAOVD42CTXEUFQDQ6NOVC7NYXEB5SA2KTCWFFGLDACYZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJAKYASPXHDP62J3OCC434SOEENYPWV2NH6RM7TS2V7MIJUIJHBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FXBFGXWSTZ7SX2XDPA3L3UE7PYULRYH5CVUU5SX3LB6AKEAEOL6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXZLFAM6UNCFSKZOURHQDWYPR37RJ4NDLFBHSANH62PCBVZUJPBQ/vendors.js"
            ]
        },
        "ListWorkloadUnits": {
            "http": {
                "requestUri": "/list-workload-units",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "filters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "name": {},
                                "value": {
                                    "type": "list",
                                    "member": {}
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "workloadUnits"
                ],
                "members": {
                    "nextToken": {},
                    "workloadUnits": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "workloadUnitId"
                            ],
                            "members": {
                                "workloadUnitId": {},
                                "workloadUnitName": {},
                                "accountId": {},
                                "workloadUnitType": {},
                                "workloadUnitInfo": {
                                    "shape": "S28"
                                },
                                "creationTime": {},
                                "lastModifiedTime": {},
                                "numberOfRelatedEC2Instances": {
                                    "type": "integer"
                                },
                                "numberOfRelatedWorkloads": {
                                    "type": "integer"
                                },
                                "parentWorkloadUnitId": {},
                                "autoScalingGroupName": {},
                                "targetGroupName": {},
                                "version": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LI3TWZOIAOVD42CTXEUFQDQ6NOVC7NYXEB5SA2KTCWFFGLDACYZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJAKYASPXHDP62J3OCC434SOEENYPWV2NH6RM7TS2V7MIJUIJHBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FXBFGXWSTZ7SX2XDPA3L3UE7PYULRYH5CVUU5SX3LB6AKEAEOL6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXZLFAM6UNCFSKZOURHQDWYPR37RJ4NDLFBHSANH62PCBVZUJPBQ/vendors.js"
            ]
        },
        "ListWorkloads": {
            "http": {
                "requestUri": "/list-workloads",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "filters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "name": {},
                                "value": {
                                    "type": "list",
                                    "member": {}
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "workloads"
                ],
                "members": {
                    "totalWorkloads": {
                        "type": "integer"
                    },
                    "nextToken": {},
                    "workloads": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "workloadId"
                            ],
                            "members": {
                                "workloadId": {},
                                "workloadName": {},
                                "accountId": {},
                                "creationTime": {},
                                "lastModifiedTime": {},
                                "numberOfRelatedEC2Instances": {
                                    "type": "integer"
                                },
                                "numberOfUnitsSharedAcrossOtherWorkloads": {
                                    "type": "integer"
                                },
                                "workloadStatus": {},
                                "approveStatus": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LI3TWZOIAOVD42CTXEUFQDQ6NOVC7NYXEB5SA2KTCWFFGLDACYZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJAKYASPXHDP62J3OCC434SOEENYPWV2NH6RM7TS2V7MIJUIJHBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FXBFGXWSTZ7SX2XDPA3L3UE7PYULRYH5CVUU5SX3LB6AKEAEOL6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXZLFAM6UNCFSKZOURHQDWYPR37RJ4NDLFBHSANH62PCBVZUJPBQ/vendors.js"
            ]
        },
        "RemoveWorkloadComponentsFromWorkload": {
            "http": {
                "requestUri": "/remove-workload-components-from-workload/",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workloadId",
                    "workloadComponentIds"
                ],
                "members": {
                    "workloadId": {},
                    "workloadComponentIds": {
                        "shape": "S3"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LI3TWZOIAOVD42CTXEUFQDQ6NOVC7NYXEB5SA2KTCWFFGLDACYZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJAKYASPXHDP62J3OCC434SOEENYPWV2NH6RM7TS2V7MIJUIJHBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FXBFGXWSTZ7SX2XDPA3L3UE7PYULRYH5CVUU5SX3LB6AKEAEOL6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXZLFAM6UNCFSKZOURHQDWYPR37RJ4NDLFBHSANH62PCBVZUJPBQ/vendors.js"
            ]
        },
        "RemoveWorkloadUnitsFromWorkloadComponent": {
            "http": {
                "requestUri": "/remove-workload-units-from-workload-component/",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workloadComponentId",
                    "workloadUnitIds"
                ],
                "members": {
                    "workloadComponentId": {},
                    "workloadUnitIds": {
                        "shape": "S7"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LI3TWZOIAOVD42CTXEUFQDQ6NOVC7NYXEB5SA2KTCWFFGLDACYZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJAKYASPXHDP62J3OCC434SOEENYPWV2NH6RM7TS2V7MIJUIJHBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FXBFGXWSTZ7SX2XDPA3L3UE7PYULRYH5CVUU5SX3LB6AKEAEOL6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXZLFAM6UNCFSKZOURHQDWYPR37RJ4NDLFBHSANH62PCBVZUJPBQ/vendors.js"
            ]
        },
        "ResetWorkload": {
            "http": {
                "requestUri": "/reset-workload/",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workloadId"
                ],
                "members": {
                    "workloadId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LI3TWZOIAOVD42CTXEUFQDQ6NOVC7NYXEB5SA2KTCWFFGLDACYZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJAKYASPXHDP62J3OCC434SOEENYPWV2NH6RM7TS2V7MIJUIJHBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FXBFGXWSTZ7SX2XDPA3L3UE7PYULRYH5CVUU5SX3LB6AKEAEOL6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXZLFAM6UNCFSKZOURHQDWYPR37RJ4NDLFBHSANH62PCBVZUJPBQ/vendors.js"
            ]
        },
        "StartAssessment": {
            "http": {
                "requestUri": "/start-assessment",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "s3bucketForAnalysisData": {},
                    "s3bucketForReportData": {},
                    "dataCollectionPreferences": {
                        "shape": "Su"
                    },
                    "assessmentTargets": {
                        "shape": "Sy"
                    },
                    "assessmentPreferences": {
                        "type": "structure",
                        "members": {
                            "groupingOnly": {
                                "type": "boolean"
                            }
                        }
                    },
                    "kmsKeyArn": {},
                    "useKmsForDatabase": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "assessmentId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LI3TWZOIAOVD42CTXEUFQDQ6NOVC7NYXEB5SA2KTCWFFGLDACYZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJAKYASPXHDP62J3OCC434SOEENYPWV2NH6RM7TS2V7MIJUIJHBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FXBFGXWSTZ7SX2XDPA3L3UE7PYULRYH5CVUU5SX3LB6AKEAEOL6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXZLFAM6UNCFSKZOURHQDWYPR37RJ4NDLFBHSANH62PCBVZUJPBQ/vendors.js"
            ]
        },
        "UpdateWorkload": {
            "http": {
                "requestUri": "/update-workload/",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workloadName",
                    "workloadId"
                ],
                "members": {
                    "workloadName": {},
                    "workloadId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LI3TWZOIAOVD42CTXEUFQDQ6NOVC7NYXEB5SA2KTCWFFGLDACYZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJAKYASPXHDP62J3OCC434SOEENYPWV2NH6RM7TS2V7MIJUIJHBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FXBFGXWSTZ7SX2XDPA3L3UE7PYULRYH5CVUU5SX3LB6AKEAEOL6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXZLFAM6UNCFSKZOURHQDWYPR37RJ4NDLFBHSANH62PCBVZUJPBQ/vendors.js"
            ]
        },
        "UpdateWorkloadApprovalStatus": {
            "http": {
                "method": "PUT",
                "requestUri": "/update-workload-approval-status",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workloadId",
                    "approvalStatus"
                ],
                "members": {
                    "workloadId": {},
                    "approvalStatus": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LI3TWZOIAOVD42CTXEUFQDQ6NOVC7NYXEB5SA2KTCWFFGLDACYZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJAKYASPXHDP62J3OCC434SOEENYPWV2NH6RM7TS2V7MIJUIJHBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FXBFGXWSTZ7SX2XDPA3L3UE7PYULRYH5CVUU5SX3LB6AKEAEOL6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXZLFAM6UNCFSKZOURHQDWYPR37RJ4NDLFBHSANH62PCBVZUJPBQ/vendors.js"
            ]
        },
        "UpdateWorkloadComponent": {
            "http": {
                "requestUri": "/update-workload-component/",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workloadComponentId",
                    "workloadComponentName"
                ],
                "members": {
                    "workloadComponentId": {},
                    "workloadComponentName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LI3TWZOIAOVD42CTXEUFQDQ6NOVC7NYXEB5SA2KTCWFFGLDACYZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJAKYASPXHDP62J3OCC434SOEENYPWV2NH6RM7TS2V7MIJUIJHBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FXBFGXWSTZ7SX2XDPA3L3UE7PYULRYH5CVUU5SX3LB6AKEAEOL6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXZLFAM6UNCFSKZOURHQDWYPR37RJ4NDLFBHSANH62PCBVZUJPBQ/vendors.js"
            ]
        },
        "ListResourcesForWorkloadUnit": {
            "http": {
                "requestUri": "/list-resources-for-workload-unit",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workloadUnitId",
                    "unitResourceType"
                ],
                "members": {
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "workloadUnitId": {},
                    "unitResourceType": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "unitResources"
                ],
                "members": {
                    "nextToken": {},
                    "unitResources": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "name": {},
                                "unitResourceId": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJAKYASPXHDP62J3OCC434SOEENYPWV2NH6RM7TS2V7MIJUIJHBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FXBFGXWSTZ7SX2XDPA3L3UE7PYULRYH5CVUU5SX3LB6AKEAEOL6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXZLFAM6UNCFSKZOURHQDWYPR37RJ4NDLFBHSANH62PCBVZUJPBQ/vendors.js"
            ]
        },
        "StopAssessmentInternal": {
            "http": {
                "requestUri": "/stop-assessment-internal",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "assessmentStatus": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXZLFAM6UNCFSKZOURHQDWYPR37RJ4NDLFBHSANH62PCBVZUJPBQ/vendors.js"
            ]
        }
    },
    "shapes": {
        "S3": {
            "type": "list",
            "member": {}
        },
        "S7": {
            "type": "list",
            "member": {}
        },
        "Su": {
            "type": "structure",
            "members": {
                "assessmentDuration": {
                    "type": "structure",
                    "members": {
                        "durationUnit": {},
                        "durationValue": {
                            "type": "integer"
                        }
                    }
                }
            }
        },
        "Sy": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "condition",
                    "name",
                    "values"
                ],
                "members": {
                    "condition": {},
                    "name": {},
                    "values": {
                        "type": "list",
                        "member": {}
                    }
                }
            }
        },
        "S1d": {
            "type": "structure",
            "members": {
                "recommendationStatus": {},
                "startTime": {
                    "type": "timestamp"
                },
                "completionTime": {
                    "type": "timestamp"
                }
            }
        },
        "S28": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "S2c": {
            "type": "structure",
            "members": {
                "s3Bucket": {},
                "s3key": {}
            }
        },
        "Sb": {
            "type": "string",
            "sensitive": true
        },
        "S37": {
            "type": "string",
            "sensitive": true
        }
    }
}