{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2013-01-16",
        "endpointPrefix": "monitoring",
        "jsonVersion": "1.0",
        "protocol": "json",
        "serviceAbbreviation": "CloudWatchInternal2013",
        "serviceFullName": "Amazon CloudWatch Internal 2013",
        "serviceId": "CloudWatchInternal2013",
        "signatureVersion": "v4",
        "targetPrefix": "CloudWatchVersion20130116",
        "uid": "monitoring_internal_2013-2013-01-16",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/NOU6WPNZ77LZOOADLIK6YBFGD6LJMJ2CF4ROMFJZVJVN6CFXXXPA/awsSdk.js",
            "https://d3kld4ju0n55da.cloudfront.net/1450f048-8361-4e8c-9e42-386bf968a881/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MAT7HJ3EVBQ4L3WUVFLOPYP2GFBTUMDZCLJQY5QZ4LHBAGNIZ2WA/awsSdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YO27YZ5ZOOKA4EFHBWZVPUURNNXMK6ZPJBFJVVYVXN55XW3AXD6Q/awsSdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UNRULSDUU4OOSA5AMEUBDOATDBPVIKVD4ULJV2LK4GBZYDWLC5OA/awsSdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z7VE6QTYUMUDFRH3KTMMKRRTG652H352U775A3VZDY35KUL2CXBQ/awsSdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WXJ57SKJJ3BNFBVALS6V4D2HVXHL6CQTXC2JZ5BVB25OBQEIXUEA/awsSdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PJHQPTHCKRIDIVDBBGBLE5FAY6B4FZC5LOVJWTOLJR6CFFBJWDCQ/awsSdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZKBMT7VYVOGMVXP4OSJTPFU7EBPNV4QGL3FIATK5IN6KEJIOYQWQ/awsSdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RUH3ZRJNKDHNZ52XK2W3EZSUALOAAT75SVIOAS4EW2XFAPX5DDMQ/awsSdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/37IITFBXFNINES5OVC7ZUMKPZXSTWDYPGEXBTRDPLUQAG3XGREZQ/awsSdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/A7JA6BIAGH2UA3PZINAYHQ42S3BNTL6ZOH5ZFMXJ6OACONQK66FA/awsSdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QWCXFW7YJPPW4C32K5N4OXDWUWK7IVIKJMVIAJEVDCHT4QL3TZYA/awsSdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VQQ6ETZN24JGUPKQCHRH4QNCONHVQXNZJPHJTK6HLAJUGJSNMPJQ/awsSdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DFI5JW5RPWOOWPBW6Y44APEQAKRYZL4CZDCIB2CRSOYA5CEDLBTA/awsSdk.js",
            "https://d3kld4ju0n55da.cloudfront.net/ad8e67fc-21b9-4b8c-8573-cf1366ccb9d1/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YRGKIFJ2C4ZPFANMN7RY6D5IXOSRMKXP7BHVF2GZMTE4EPU7YI3A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FWH45VYVOHLX7R5KXKFEMP6GZXZQCLPYUXNNGCDHBDKTZRDH2VJA/awsSdk.js",
            "https://d3kld4ju0n55da.cloudfront.net/f5490d09-c2d0-40f8-98a9-7a67b32170a3/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/X2UQXDMW4FOLEP37QKNJD2T35ZYHY7CSDGTZUEUSDPP7L4VXLBIQ/awsSdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ENEPBZCIYQ4VUDC3B5KNEQKTMRLGUFD66ZQYSCZSU3FOX5SHNMDA/awsSdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/U5P4YZ6VGXK5PCPG2SL34KSEUNANQFA4CQXCIGJQ52J2XOK64TMQ/awsSdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/K77V3FJ7XGW4RRNIFWJMB5QZD7YT2OP5E2EHJUO2UE7AQ4TXDXSA/awsSdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PM7MPFSRPOR2T2IXGBNMBKDTHXF5L66Y5SCOXJ2IRDOYJCVYMPNA/awsSdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3J5PRV6RYOEMRHTQR65F5NAUFHWKKXR4FKQDDEGYDTTMVSM55FIQ/awsSdk.js"
        ]
    },
    "operations": {
        "DeleteInsightRules": {
            "input": {
                "type": "structure",
                "required": [
                    "RuleNames"
                ],
                "members": {
                    "RuleNames": {
                        "shape": "S2"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Failures": {
                        "shape": "S5"
                    }
                }
            },
            "download_location": [
                "https://d3kld4ju0n55da.cloudfront.net/1450f048-8361-4e8c-9e42-386bf968a881/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MAT7HJ3EVBQ4L3WUVFLOPYP2GFBTUMDZCLJQY5QZ4LHBAGNIZ2WA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YO27YZ5ZOOKA4EFHBWZVPUURNNXMK6ZPJBFJVVYVXN55XW3AXD6Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNRULSDUU4OOSA5AMEUBDOATDBPVIKVD4ULJV2LK4GBZYDWLC5OA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7VE6QTYUMUDFRH3KTMMKRRTG652H352U775A3VZDY35KUL2CXBQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXJ57SKJJ3BNFBVALS6V4D2HVXHL6CQTXC2JZ5BVB25OBQEIXUEA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJHQPTHCKRIDIVDBBGBLE5FAY6B4FZC5LOVJWTOLJR6CFFBJWDCQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKBMT7VYVOGMVXP4OSJTPFU7EBPNV4QGL3FIATK5IN6KEJIOYQWQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUH3ZRJNKDHNZ52XK2W3EZSUALOAAT75SVIOAS4EW2XFAPX5DDMQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/37IITFBXFNINES5OVC7ZUMKPZXSTWDYPGEXBTRDPLUQAG3XGREZQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7JA6BIAGH2UA3PZINAYHQ42S3BNTL6ZOH5ZFMXJ6OACONQK66FA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWCXFW7YJPPW4C32K5N4OXDWUWK7IVIKJMVIAJEVDCHT4QL3TZYA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQQ6ETZN24JGUPKQCHRH4QNCONHVQXNZJPHJTK6HLAJUGJSNMPJQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRGKIFJ2C4ZPFANMN7RY6D5IXOSRMKXP7BHVF2GZMTE4EPU7YI3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFI5JW5RPWOOWPBW6Y44APEQAKRYZL4CZDCIB2CRSOYA5CEDLBTA/awsSdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/ad8e67fc-21b9-4b8c-8573-cf1366ccb9d1/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWH45VYVOHLX7R5KXKFEMP6GZXZQCLPYUXNNGCDHBDKTZRDH2VJA/awsSdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/f5490d09-c2d0-40f8-98a9-7a67b32170a3/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2UQXDMW4FOLEP37QKNJD2T35ZYHY7CSDGTZUEUSDPP7L4VXLBIQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ENEPBZCIYQ4VUDC3B5KNEQKTMRLGUFD66ZQYSCZSU3FOX5SHNMDA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U5P4YZ6VGXK5PCPG2SL34KSEUNANQFA4CQXCIGJQ52J2XOK64TMQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K77V3FJ7XGW4RRNIFWJMB5QZD7YT2OP5E2EHJUO2UE7AQ4TXDXSA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PM7MPFSRPOR2T2IXGBNMBKDTHXF5L66Y5SCOXJ2IRDOYJCVYMPNA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3J5PRV6RYOEMRHTQR65F5NAUFHWKKXR4FKQDDEGYDTTMVSM55FIQ/awsSdk.js"
            ]
        },
        "DescribeAlarms": {
            "input": {
                "type": "structure",
                "members": {
                    "AlarmNames": {
                        "type": "list",
                        "member": {}
                    },
                    "AlarmNamePrefix": {},
                    "AlarmTypes": {
                        "shape": "Sf"
                    },
                    "ChildrenOfAlarmName": {},
                    "ParentsOfAlarmName": {},
                    "StateValue": {},
                    "ActionPrefix": {},
                    "ExcludeAutoscalingAlarms": {
                        "type": "boolean"
                    },
                    "ExcludeManagedAlarms": {
                        "type": "boolean"
                    },
                    "MaxRecords": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "MetricAlarms": {
                        "shape": "So"
                    },
                    "CompositeAlarms": {
                        "shape": "S23"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://d3kld4ju0n55da.cloudfront.net/1450f048-8361-4e8c-9e42-386bf968a881/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MAT7HJ3EVBQ4L3WUVFLOPYP2GFBTUMDZCLJQY5QZ4LHBAGNIZ2WA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YO27YZ5ZOOKA4EFHBWZVPUURNNXMK6ZPJBFJVVYVXN55XW3AXD6Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNRULSDUU4OOSA5AMEUBDOATDBPVIKVD4ULJV2LK4GBZYDWLC5OA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7VE6QTYUMUDFRH3KTMMKRRTG652H352U775A3VZDY35KUL2CXBQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXJ57SKJJ3BNFBVALS6V4D2HVXHL6CQTXC2JZ5BVB25OBQEIXUEA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJHQPTHCKRIDIVDBBGBLE5FAY6B4FZC5LOVJWTOLJR6CFFBJWDCQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKBMT7VYVOGMVXP4OSJTPFU7EBPNV4QGL3FIATK5IN6KEJIOYQWQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUH3ZRJNKDHNZ52XK2W3EZSUALOAAT75SVIOAS4EW2XFAPX5DDMQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/37IITFBXFNINES5OVC7ZUMKPZXSTWDYPGEXBTRDPLUQAG3XGREZQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7JA6BIAGH2UA3PZINAYHQ42S3BNTL6ZOH5ZFMXJ6OACONQK66FA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWCXFW7YJPPW4C32K5N4OXDWUWK7IVIKJMVIAJEVDCHT4QL3TZYA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQQ6ETZN24JGUPKQCHRH4QNCONHVQXNZJPHJTK6HLAJUGJSNMPJQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRGKIFJ2C4ZPFANMN7RY6D5IXOSRMKXP7BHVF2GZMTE4EPU7YI3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFI5JW5RPWOOWPBW6Y44APEQAKRYZL4CZDCIB2CRSOYA5CEDLBTA/awsSdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/ad8e67fc-21b9-4b8c-8573-cf1366ccb9d1/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWH45VYVOHLX7R5KXKFEMP6GZXZQCLPYUXNNGCDHBDKTZRDH2VJA/awsSdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/f5490d09-c2d0-40f8-98a9-7a67b32170a3/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2UQXDMW4FOLEP37QKNJD2T35ZYHY7CSDGTZUEUSDPP7L4VXLBIQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ENEPBZCIYQ4VUDC3B5KNEQKTMRLGUFD66ZQYSCZSU3FOX5SHNMDA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U5P4YZ6VGXK5PCPG2SL34KSEUNANQFA4CQXCIGJQ52J2XOK64TMQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K77V3FJ7XGW4RRNIFWJMB5QZD7YT2OP5E2EHJUO2UE7AQ4TXDXSA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PM7MPFSRPOR2T2IXGBNMBKDTHXF5L66Y5SCOXJ2IRDOYJCVYMPNA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3J5PRV6RYOEMRHTQR65F5NAUFHWKKXR4FKQDDEGYDTTMVSM55FIQ/awsSdk.js"
            ]
        },
        "DescribeAlarmsSummary": {
            "input": {
                "type": "structure",
                "members": {
                    "AlarmTypes": {
                        "shape": "Sf"
                    },
                    "ExcludeAutoscalingAlarms": {
                        "type": "boolean"
                    },
                    "MaxRecords": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AlarmStateSummary": {
                        "type": "structure",
                        "members": {
                            "AlarmCount": {
                                "type": "integer"
                            },
                            "OKCount": {
                                "type": "integer"
                            },
                            "InsufficientDataCount": {
                                "type": "integer"
                            }
                        }
                    },
                    "CompositeAlarms": {
                        "shape": "S23"
                    },
                    "MetricAlarms": {
                        "shape": "So"
                    }
                }
            },
            "download_location": [
                "https://d3kld4ju0n55da.cloudfront.net/1450f048-8361-4e8c-9e42-386bf968a881/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MAT7HJ3EVBQ4L3WUVFLOPYP2GFBTUMDZCLJQY5QZ4LHBAGNIZ2WA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YO27YZ5ZOOKA4EFHBWZVPUURNNXMK6ZPJBFJVVYVXN55XW3AXD6Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNRULSDUU4OOSA5AMEUBDOATDBPVIKVD4ULJV2LK4GBZYDWLC5OA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7VE6QTYUMUDFRH3KTMMKRRTG652H352U775A3VZDY35KUL2CXBQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXJ57SKJJ3BNFBVALS6V4D2HVXHL6CQTXC2JZ5BVB25OBQEIXUEA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJHQPTHCKRIDIVDBBGBLE5FAY6B4FZC5LOVJWTOLJR6CFFBJWDCQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKBMT7VYVOGMVXP4OSJTPFU7EBPNV4QGL3FIATK5IN6KEJIOYQWQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUH3ZRJNKDHNZ52XK2W3EZSUALOAAT75SVIOAS4EW2XFAPX5DDMQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/37IITFBXFNINES5OVC7ZUMKPZXSTWDYPGEXBTRDPLUQAG3XGREZQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7JA6BIAGH2UA3PZINAYHQ42S3BNTL6ZOH5ZFMXJ6OACONQK66FA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWCXFW7YJPPW4C32K5N4OXDWUWK7IVIKJMVIAJEVDCHT4QL3TZYA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQQ6ETZN24JGUPKQCHRH4QNCONHVQXNZJPHJTK6HLAJUGJSNMPJQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRGKIFJ2C4ZPFANMN7RY6D5IXOSRMKXP7BHVF2GZMTE4EPU7YI3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFI5JW5RPWOOWPBW6Y44APEQAKRYZL4CZDCIB2CRSOYA5CEDLBTA/awsSdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/ad8e67fc-21b9-4b8c-8573-cf1366ccb9d1/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWH45VYVOHLX7R5KXKFEMP6GZXZQCLPYUXNNGCDHBDKTZRDH2VJA/awsSdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/f5490d09-c2d0-40f8-98a9-7a67b32170a3/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2UQXDMW4FOLEP37QKNJD2T35ZYHY7CSDGTZUEUSDPP7L4VXLBIQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ENEPBZCIYQ4VUDC3B5KNEQKTMRLGUFD66ZQYSCZSU3FOX5SHNMDA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U5P4YZ6VGXK5PCPG2SL34KSEUNANQFA4CQXCIGJQ52J2XOK64TMQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K77V3FJ7XGW4RRNIFWJMB5QZD7YT2OP5E2EHJUO2UE7AQ4TXDXSA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PM7MPFSRPOR2T2IXGBNMBKDTHXF5L66Y5SCOXJ2IRDOYJCVYMPNA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3J5PRV6RYOEMRHTQR65F5NAUFHWKKXR4FKQDDEGYDTTMVSM55FIQ/awsSdk.js"
            ]
        },
        "DisableInsightRules": {
            "input": {
                "type": "structure",
                "required": [
                    "RuleNames"
                ],
                "members": {
                    "RuleNames": {
                        "shape": "S2"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Failures": {
                        "shape": "S5"
                    }
                }
            },
            "download_location": [
                "https://d3kld4ju0n55da.cloudfront.net/1450f048-8361-4e8c-9e42-386bf968a881/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MAT7HJ3EVBQ4L3WUVFLOPYP2GFBTUMDZCLJQY5QZ4LHBAGNIZ2WA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YO27YZ5ZOOKA4EFHBWZVPUURNNXMK6ZPJBFJVVYVXN55XW3AXD6Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNRULSDUU4OOSA5AMEUBDOATDBPVIKVD4ULJV2LK4GBZYDWLC5OA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7VE6QTYUMUDFRH3KTMMKRRTG652H352U775A3VZDY35KUL2CXBQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXJ57SKJJ3BNFBVALS6V4D2HVXHL6CQTXC2JZ5BVB25OBQEIXUEA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJHQPTHCKRIDIVDBBGBLE5FAY6B4FZC5LOVJWTOLJR6CFFBJWDCQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKBMT7VYVOGMVXP4OSJTPFU7EBPNV4QGL3FIATK5IN6KEJIOYQWQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUH3ZRJNKDHNZ52XK2W3EZSUALOAAT75SVIOAS4EW2XFAPX5DDMQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/37IITFBXFNINES5OVC7ZUMKPZXSTWDYPGEXBTRDPLUQAG3XGREZQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7JA6BIAGH2UA3PZINAYHQ42S3BNTL6ZOH5ZFMXJ6OACONQK66FA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWCXFW7YJPPW4C32K5N4OXDWUWK7IVIKJMVIAJEVDCHT4QL3TZYA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQQ6ETZN24JGUPKQCHRH4QNCONHVQXNZJPHJTK6HLAJUGJSNMPJQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRGKIFJ2C4ZPFANMN7RY6D5IXOSRMKXP7BHVF2GZMTE4EPU7YI3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFI5JW5RPWOOWPBW6Y44APEQAKRYZL4CZDCIB2CRSOYA5CEDLBTA/awsSdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/ad8e67fc-21b9-4b8c-8573-cf1366ccb9d1/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWH45VYVOHLX7R5KXKFEMP6GZXZQCLPYUXNNGCDHBDKTZRDH2VJA/awsSdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/f5490d09-c2d0-40f8-98a9-7a67b32170a3/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2UQXDMW4FOLEP37QKNJD2T35ZYHY7CSDGTZUEUSDPP7L4VXLBIQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ENEPBZCIYQ4VUDC3B5KNEQKTMRLGUFD66ZQYSCZSU3FOX5SHNMDA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U5P4YZ6VGXK5PCPG2SL34KSEUNANQFA4CQXCIGJQ52J2XOK64TMQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K77V3FJ7XGW4RRNIFWJMB5QZD7YT2OP5E2EHJUO2UE7AQ4TXDXSA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PM7MPFSRPOR2T2IXGBNMBKDTHXF5L66Y5SCOXJ2IRDOYJCVYMPNA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3J5PRV6RYOEMRHTQR65F5NAUFHWKKXR4FKQDDEGYDTTMVSM55FIQ/awsSdk.js"
            ]
        },
        "EnableInsightRules": {
            "input": {
                "type": "structure",
                "required": [
                    "RuleNames"
                ],
                "members": {
                    "RuleNames": {
                        "shape": "S2"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Failures": {
                        "shape": "S5"
                    }
                }
            },
            "download_location": [
                "https://d3kld4ju0n55da.cloudfront.net/1450f048-8361-4e8c-9e42-386bf968a881/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MAT7HJ3EVBQ4L3WUVFLOPYP2GFBTUMDZCLJQY5QZ4LHBAGNIZ2WA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YO27YZ5ZOOKA4EFHBWZVPUURNNXMK6ZPJBFJVVYVXN55XW3AXD6Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNRULSDUU4OOSA5AMEUBDOATDBPVIKVD4ULJV2LK4GBZYDWLC5OA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7VE6QTYUMUDFRH3KTMMKRRTG652H352U775A3VZDY35KUL2CXBQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXJ57SKJJ3BNFBVALS6V4D2HVXHL6CQTXC2JZ5BVB25OBQEIXUEA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJHQPTHCKRIDIVDBBGBLE5FAY6B4FZC5LOVJWTOLJR6CFFBJWDCQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKBMT7VYVOGMVXP4OSJTPFU7EBPNV4QGL3FIATK5IN6KEJIOYQWQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUH3ZRJNKDHNZ52XK2W3EZSUALOAAT75SVIOAS4EW2XFAPX5DDMQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/37IITFBXFNINES5OVC7ZUMKPZXSTWDYPGEXBTRDPLUQAG3XGREZQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7JA6BIAGH2UA3PZINAYHQ42S3BNTL6ZOH5ZFMXJ6OACONQK66FA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWCXFW7YJPPW4C32K5N4OXDWUWK7IVIKJMVIAJEVDCHT4QL3TZYA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQQ6ETZN24JGUPKQCHRH4QNCONHVQXNZJPHJTK6HLAJUGJSNMPJQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRGKIFJ2C4ZPFANMN7RY6D5IXOSRMKXP7BHVF2GZMTE4EPU7YI3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFI5JW5RPWOOWPBW6Y44APEQAKRYZL4CZDCIB2CRSOYA5CEDLBTA/awsSdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/ad8e67fc-21b9-4b8c-8573-cf1366ccb9d1/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWH45VYVOHLX7R5KXKFEMP6GZXZQCLPYUXNNGCDHBDKTZRDH2VJA/awsSdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/f5490d09-c2d0-40f8-98a9-7a67b32170a3/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2UQXDMW4FOLEP37QKNJD2T35ZYHY7CSDGTZUEUSDPP7L4VXLBIQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ENEPBZCIYQ4VUDC3B5KNEQKTMRLGUFD66ZQYSCZSU3FOX5SHNMDA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U5P4YZ6VGXK5PCPG2SL34KSEUNANQFA4CQXCIGJQ52J2XOK64TMQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K77V3FJ7XGW4RRNIFWJMB5QZD7YT2OP5E2EHJUO2UE7AQ4TXDXSA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PM7MPFSRPOR2T2IXGBNMBKDTHXF5L66Y5SCOXJ2IRDOYJCVYMPNA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3J5PRV6RYOEMRHTQR65F5NAUFHWKKXR4FKQDDEGYDTTMVSM55FIQ/awsSdk.js"
            ]
        },
        "GetInsightRuleReport": {
            "input": {
                "type": "structure",
                "required": [
                    "RuleName",
                    "StartTime",
                    "EndTime",
                    "Period"
                ],
                "members": {
                    "TargetAccountId": {},
                    "RuleName": {},
                    "StartTime": {
                        "type": "timestamp"
                    },
                    "EndTime": {
                        "type": "timestamp"
                    },
                    "Period": {
                        "type": "integer"
                    },
                    "MaxContributorResults": {
                        "type": "integer"
                    },
                    "Metrics": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "KeyLabels": {
                        "type": "list",
                        "member": {}
                    },
                    "AggregationStatistic": {},
                    "AggregateValue": {
                        "type": "double"
                    },
                    "ApproximateUniqueCount": {
                        "type": "long"
                    },
                    "Contributors": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Keys",
                                "ApproximateAggregateValue",
                                "Datapoints"
                            ],
                            "members": {
                                "Keys": {
                                    "type": "list",
                                    "member": {}
                                },
                                "ApproximateAggregateValue": {
                                    "type": "double"
                                },
                                "Datapoints": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "required": [
                                            "Timestamp",
                                            "ApproximateValue"
                                        ],
                                        "members": {
                                            "Timestamp": {
                                                "type": "timestamp"
                                            },
                                            "ApproximateValue": {
                                                "type": "double"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "MetricDatapoints": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Timestamp"
                            ],
                            "members": {
                                "Timestamp": {
                                    "type": "timestamp"
                                },
                                "UniqueContributors": {
                                    "type": "double"
                                },
                                "MaxContributorValue": {
                                    "type": "double"
                                },
                                "SampleCount": {
                                    "type": "double"
                                },
                                "Average": {
                                    "type": "double"
                                },
                                "Sum": {
                                    "type": "double"
                                },
                                "Minimum": {
                                    "type": "double"
                                },
                                "Maximum": {
                                    "type": "double"
                                }
                            }
                        }
                    },
                    "RuleAttributes": {
                        "internalonly": true,
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "download_location": [
                "https://d3kld4ju0n55da.cloudfront.net/1450f048-8361-4e8c-9e42-386bf968a881/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MAT7HJ3EVBQ4L3WUVFLOPYP2GFBTUMDZCLJQY5QZ4LHBAGNIZ2WA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YO27YZ5ZOOKA4EFHBWZVPUURNNXMK6ZPJBFJVVYVXN55XW3AXD6Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNRULSDUU4OOSA5AMEUBDOATDBPVIKVD4ULJV2LK4GBZYDWLC5OA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7VE6QTYUMUDFRH3KTMMKRRTG652H352U775A3VZDY35KUL2CXBQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXJ57SKJJ3BNFBVALS6V4D2HVXHL6CQTXC2JZ5BVB25OBQEIXUEA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJHQPTHCKRIDIVDBBGBLE5FAY6B4FZC5LOVJWTOLJR6CFFBJWDCQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKBMT7VYVOGMVXP4OSJTPFU7EBPNV4QGL3FIATK5IN6KEJIOYQWQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUH3ZRJNKDHNZ52XK2W3EZSUALOAAT75SVIOAS4EW2XFAPX5DDMQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/37IITFBXFNINES5OVC7ZUMKPZXSTWDYPGEXBTRDPLUQAG3XGREZQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7JA6BIAGH2UA3PZINAYHQ42S3BNTL6ZOH5ZFMXJ6OACONQK66FA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWCXFW7YJPPW4C32K5N4OXDWUWK7IVIKJMVIAJEVDCHT4QL3TZYA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQQ6ETZN24JGUPKQCHRH4QNCONHVQXNZJPHJTK6HLAJUGJSNMPJQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRGKIFJ2C4ZPFANMN7RY6D5IXOSRMKXP7BHVF2GZMTE4EPU7YI3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFI5JW5RPWOOWPBW6Y44APEQAKRYZL4CZDCIB2CRSOYA5CEDLBTA/awsSdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/ad8e67fc-21b9-4b8c-8573-cf1366ccb9d1/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWH45VYVOHLX7R5KXKFEMP6GZXZQCLPYUXNNGCDHBDKTZRDH2VJA/awsSdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/f5490d09-c2d0-40f8-98a9-7a67b32170a3/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2UQXDMW4FOLEP37QKNJD2T35ZYHY7CSDGTZUEUSDPP7L4VXLBIQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ENEPBZCIYQ4VUDC3B5KNEQKTMRLGUFD66ZQYSCZSU3FOX5SHNMDA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U5P4YZ6VGXK5PCPG2SL34KSEUNANQFA4CQXCIGJQ52J2XOK64TMQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K77V3FJ7XGW4RRNIFWJMB5QZD7YT2OP5E2EHJUO2UE7AQ4TXDXSA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PM7MPFSRPOR2T2IXGBNMBKDTHXF5L66Y5SCOXJ2IRDOYJCVYMPNA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3J5PRV6RYOEMRHTQR65F5NAUFHWKKXR4FKQDDEGYDTTMVSM55FIQ/awsSdk.js"
            ]
        },
        "GetMetricData": {
            "input": {
                "type": "structure",
                "members": {
                    "Defaults": {
                        "shape": "S1c"
                    },
                    "Metrics": {
                        "shape": "S1b"
                    },
                    "NextToken": {},
                    "ReturnEvaluationMetadata": {
                        "type": "boolean"
                    },
                    "ScanBy": {},
                    "MaxDatapoints": {
                        "type": "integer"
                    },
                    "LabelOptions": {
                        "type": "structure",
                        "members": {
                            "Timezone": {}
                        }
                    },
                    "AnomalyDetection": {
                        "type": "structure",
                        "required": [
                            "TargetAnomalyTime"
                        ],
                        "members": {
                            "TargetAnomalyTime": {
                                "type": "timestamp"
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Defaults": {
                        "shape": "S3h"
                    },
                    "EvaluationMetadata": {
                        "type": "structure",
                        "members": {
                            "FetchedTimeSeriesCount": {
                                "type": "integer"
                            },
                            "ExpressionFunctionOccurrences": {
                                "type": "map",
                                "key": {},
                                "value": {
                                    "type": "integer"
                                }
                            }
                        }
                    },
                    "MetricData": {
                        "type": "list",
                        "member": {
                            "shape": "S3h"
                        }
                    },
                    "NextToken": {},
                    "Messages": {
                        "shape": "S3q"
                    }
                }
            },
            "download_location": [
                "https://d3kld4ju0n55da.cloudfront.net/1450f048-8361-4e8c-9e42-386bf968a881/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MAT7HJ3EVBQ4L3WUVFLOPYP2GFBTUMDZCLJQY5QZ4LHBAGNIZ2WA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YO27YZ5ZOOKA4EFHBWZVPUURNNXMK6ZPJBFJVVYVXN55XW3AXD6Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNRULSDUU4OOSA5AMEUBDOATDBPVIKVD4ULJV2LK4GBZYDWLC5OA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7VE6QTYUMUDFRH3KTMMKRRTG652H352U775A3VZDY35KUL2CXBQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXJ57SKJJ3BNFBVALS6V4D2HVXHL6CQTXC2JZ5BVB25OBQEIXUEA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJHQPTHCKRIDIVDBBGBLE5FAY6B4FZC5LOVJWTOLJR6CFFBJWDCQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKBMT7VYVOGMVXP4OSJTPFU7EBPNV4QGL3FIATK5IN6KEJIOYQWQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUH3ZRJNKDHNZ52XK2W3EZSUALOAAT75SVIOAS4EW2XFAPX5DDMQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/37IITFBXFNINES5OVC7ZUMKPZXSTWDYPGEXBTRDPLUQAG3XGREZQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7JA6BIAGH2UA3PZINAYHQ42S3BNTL6ZOH5ZFMXJ6OACONQK66FA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWCXFW7YJPPW4C32K5N4OXDWUWK7IVIKJMVIAJEVDCHT4QL3TZYA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQQ6ETZN24JGUPKQCHRH4QNCONHVQXNZJPHJTK6HLAJUGJSNMPJQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRGKIFJ2C4ZPFANMN7RY6D5IXOSRMKXP7BHVF2GZMTE4EPU7YI3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFI5JW5RPWOOWPBW6Y44APEQAKRYZL4CZDCIB2CRSOYA5CEDLBTA/awsSdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/ad8e67fc-21b9-4b8c-8573-cf1366ccb9d1/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWH45VYVOHLX7R5KXKFEMP6GZXZQCLPYUXNNGCDHBDKTZRDH2VJA/awsSdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/f5490d09-c2d0-40f8-98a9-7a67b32170a3/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2UQXDMW4FOLEP37QKNJD2T35ZYHY7CSDGTZUEUSDPP7L4VXLBIQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ENEPBZCIYQ4VUDC3B5KNEQKTMRLGUFD66ZQYSCZSU3FOX5SHNMDA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U5P4YZ6VGXK5PCPG2SL34KSEUNANQFA4CQXCIGJQ52J2XOK64TMQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K77V3FJ7XGW4RRNIFWJMB5QZD7YT2OP5E2EHJUO2UE7AQ4TXDXSA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PM7MPFSRPOR2T2IXGBNMBKDTHXF5L66Y5SCOXJ2IRDOYJCVYMPNA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3J5PRV6RYOEMRHTQR65F5NAUFHWKKXR4FKQDDEGYDTTMVSM55FIQ/awsSdk.js"
            ]
        },
        "ListInsightRules": {
            "input": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "MaxInsightResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "InsightRules": {
                        "shape": "S45"
                    }
                }
            },
            "download_location": [
                "https://d3kld4ju0n55da.cloudfront.net/1450f048-8361-4e8c-9e42-386bf968a881/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MAT7HJ3EVBQ4L3WUVFLOPYP2GFBTUMDZCLJQY5QZ4LHBAGNIZ2WA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YO27YZ5ZOOKA4EFHBWZVPUURNNXMK6ZPJBFJVVYVXN55XW3AXD6Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNRULSDUU4OOSA5AMEUBDOATDBPVIKVD4ULJV2LK4GBZYDWLC5OA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7VE6QTYUMUDFRH3KTMMKRRTG652H352U775A3VZDY35KUL2CXBQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXJ57SKJJ3BNFBVALS6V4D2HVXHL6CQTXC2JZ5BVB25OBQEIXUEA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJHQPTHCKRIDIVDBBGBLE5FAY6B4FZC5LOVJWTOLJR6CFFBJWDCQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKBMT7VYVOGMVXP4OSJTPFU7EBPNV4QGL3FIATK5IN6KEJIOYQWQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUH3ZRJNKDHNZ52XK2W3EZSUALOAAT75SVIOAS4EW2XFAPX5DDMQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/37IITFBXFNINES5OVC7ZUMKPZXSTWDYPGEXBTRDPLUQAG3XGREZQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7JA6BIAGH2UA3PZINAYHQ42S3BNTL6ZOH5ZFMXJ6OACONQK66FA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWCXFW7YJPPW4C32K5N4OXDWUWK7IVIKJMVIAJEVDCHT4QL3TZYA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQQ6ETZN24JGUPKQCHRH4QNCONHVQXNZJPHJTK6HLAJUGJSNMPJQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRGKIFJ2C4ZPFANMN7RY6D5IXOSRMKXP7BHVF2GZMTE4EPU7YI3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFI5JW5RPWOOWPBW6Y44APEQAKRYZL4CZDCIB2CRSOYA5CEDLBTA/awsSdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/ad8e67fc-21b9-4b8c-8573-cf1366ccb9d1/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWH45VYVOHLX7R5KXKFEMP6GZXZQCLPYUXNNGCDHBDKTZRDH2VJA/awsSdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/f5490d09-c2d0-40f8-98a9-7a67b32170a3/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2UQXDMW4FOLEP37QKNJD2T35ZYHY7CSDGTZUEUSDPP7L4VXLBIQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ENEPBZCIYQ4VUDC3B5KNEQKTMRLGUFD66ZQYSCZSU3FOX5SHNMDA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U5P4YZ6VGXK5PCPG2SL34KSEUNANQFA4CQXCIGJQ52J2XOK64TMQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K77V3FJ7XGW4RRNIFWJMB5QZD7YT2OP5E2EHJUO2UE7AQ4TXDXSA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PM7MPFSRPOR2T2IXGBNMBKDTHXF5L66Y5SCOXJ2IRDOYJCVYMPNA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3J5PRV6RYOEMRHTQR65F5NAUFHWKKXR4FKQDDEGYDTTMVSM55FIQ/awsSdk.js"
            ]
        },
        "ListInsightRulesSnapshot": {
            "input": {
                "type": "structure",
                "members": {
                    "TargetAccountId": {},
                    "NextToken": {},
                    "SnapshotToken": {},
                    "SourceName": {},
                    "SourceType": {},
                    "StateFilter": {},
                    "MaxInsightResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "SnapshotToken": {},
                    "InsightRules": {
                        "shape": "S45"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://d3kld4ju0n55da.cloudfront.net/1450f048-8361-4e8c-9e42-386bf968a881/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MAT7HJ3EVBQ4L3WUVFLOPYP2GFBTUMDZCLJQY5QZ4LHBAGNIZ2WA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YO27YZ5ZOOKA4EFHBWZVPUURNNXMK6ZPJBFJVVYVXN55XW3AXD6Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNRULSDUU4OOSA5AMEUBDOATDBPVIKVD4ULJV2LK4GBZYDWLC5OA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7VE6QTYUMUDFRH3KTMMKRRTG652H352U775A3VZDY35KUL2CXBQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXJ57SKJJ3BNFBVALS6V4D2HVXHL6CQTXC2JZ5BVB25OBQEIXUEA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJHQPTHCKRIDIVDBBGBLE5FAY6B4FZC5LOVJWTOLJR6CFFBJWDCQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKBMT7VYVOGMVXP4OSJTPFU7EBPNV4QGL3FIATK5IN6KEJIOYQWQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUH3ZRJNKDHNZ52XK2W3EZSUALOAAT75SVIOAS4EW2XFAPX5DDMQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/37IITFBXFNINES5OVC7ZUMKPZXSTWDYPGEXBTRDPLUQAG3XGREZQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7JA6BIAGH2UA3PZINAYHQ42S3BNTL6ZOH5ZFMXJ6OACONQK66FA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWCXFW7YJPPW4C32K5N4OXDWUWK7IVIKJMVIAJEVDCHT4QL3TZYA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQQ6ETZN24JGUPKQCHRH4QNCONHVQXNZJPHJTK6HLAJUGJSNMPJQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRGKIFJ2C4ZPFANMN7RY6D5IXOSRMKXP7BHVF2GZMTE4EPU7YI3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFI5JW5RPWOOWPBW6Y44APEQAKRYZL4CZDCIB2CRSOYA5CEDLBTA/awsSdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/ad8e67fc-21b9-4b8c-8573-cf1366ccb9d1/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWH45VYVOHLX7R5KXKFEMP6GZXZQCLPYUXNNGCDHBDKTZRDH2VJA/awsSdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/f5490d09-c2d0-40f8-98a9-7a67b32170a3/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2UQXDMW4FOLEP37QKNJD2T35ZYHY7CSDGTZUEUSDPP7L4VXLBIQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ENEPBZCIYQ4VUDC3B5KNEQKTMRLGUFD66ZQYSCZSU3FOX5SHNMDA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U5P4YZ6VGXK5PCPG2SL34KSEUNANQFA4CQXCIGJQ52J2XOK64TMQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K77V3FJ7XGW4RRNIFWJMB5QZD7YT2OP5E2EHJUO2UE7AQ4TXDXSA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PM7MPFSRPOR2T2IXGBNMBKDTHXF5L66Y5SCOXJ2IRDOYJCVYMPNA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3J5PRV6RYOEMRHTQR65F5NAUFHWKKXR4FKQDDEGYDTTMVSM55FIQ/awsSdk.js"
            ]
        },
        "PutInsightRule": {
            "input": {
                "type": "structure",
                "required": [
                    "RuleName",
                    "RuleDefinition"
                ],
                "members": {
                    "RuleName": {},
                    "RuleState": {},
                    "RuleDefinition": {},
                    "ApplyOnTransformedLogs": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://d3kld4ju0n55da.cloudfront.net/1450f048-8361-4e8c-9e42-386bf968a881/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MAT7HJ3EVBQ4L3WUVFLOPYP2GFBTUMDZCLJQY5QZ4LHBAGNIZ2WA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YO27YZ5ZOOKA4EFHBWZVPUURNNXMK6ZPJBFJVVYVXN55XW3AXD6Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNRULSDUU4OOSA5AMEUBDOATDBPVIKVD4ULJV2LK4GBZYDWLC5OA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7VE6QTYUMUDFRH3KTMMKRRTG652H352U775A3VZDY35KUL2CXBQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXJ57SKJJ3BNFBVALS6V4D2HVXHL6CQTXC2JZ5BVB25OBQEIXUEA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJHQPTHCKRIDIVDBBGBLE5FAY6B4FZC5LOVJWTOLJR6CFFBJWDCQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKBMT7VYVOGMVXP4OSJTPFU7EBPNV4QGL3FIATK5IN6KEJIOYQWQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUH3ZRJNKDHNZ52XK2W3EZSUALOAAT75SVIOAS4EW2XFAPX5DDMQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/37IITFBXFNINES5OVC7ZUMKPZXSTWDYPGEXBTRDPLUQAG3XGREZQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7JA6BIAGH2UA3PZINAYHQ42S3BNTL6ZOH5ZFMXJ6OACONQK66FA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWCXFW7YJPPW4C32K5N4OXDWUWK7IVIKJMVIAJEVDCHT4QL3TZYA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQQ6ETZN24JGUPKQCHRH4QNCONHVQXNZJPHJTK6HLAJUGJSNMPJQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRGKIFJ2C4ZPFANMN7RY6D5IXOSRMKXP7BHVF2GZMTE4EPU7YI3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFI5JW5RPWOOWPBW6Y44APEQAKRYZL4CZDCIB2CRSOYA5CEDLBTA/awsSdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/ad8e67fc-21b9-4b8c-8573-cf1366ccb9d1/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWH45VYVOHLX7R5KXKFEMP6GZXZQCLPYUXNNGCDHBDKTZRDH2VJA/awsSdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/f5490d09-c2d0-40f8-98a9-7a67b32170a3/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2UQXDMW4FOLEP37QKNJD2T35ZYHY7CSDGTZUEUSDPP7L4VXLBIQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ENEPBZCIYQ4VUDC3B5KNEQKTMRLGUFD66ZQYSCZSU3FOX5SHNMDA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U5P4YZ6VGXK5PCPG2SL34KSEUNANQFA4CQXCIGJQ52J2XOK64TMQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K77V3FJ7XGW4RRNIFWJMB5QZD7YT2OP5E2EHJUO2UE7AQ4TXDXSA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PM7MPFSRPOR2T2IXGBNMBKDTHXF5L66Y5SCOXJ2IRDOYJCVYMPNA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3J5PRV6RYOEMRHTQR65F5NAUFHWKKXR4FKQDDEGYDTTMVSM55FIQ/awsSdk.js"
            ]
        },
        "PutInsightRuleData": {
            "input": {
                "type": "structure",
                "required": [
                    "BinaryContributionsData"
                ],
                "members": {
                    "BinaryContributionsData": {
                        "type": "blob"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Failures": {
                        "shape": "S5"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://d3kld4ju0n55da.cloudfront.net/1450f048-8361-4e8c-9e42-386bf968a881/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MAT7HJ3EVBQ4L3WUVFLOPYP2GFBTUMDZCLJQY5QZ4LHBAGNIZ2WA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YO27YZ5ZOOKA4EFHBWZVPUURNNXMK6ZPJBFJVVYVXN55XW3AXD6Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNRULSDUU4OOSA5AMEUBDOATDBPVIKVD4ULJV2LK4GBZYDWLC5OA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7VE6QTYUMUDFRH3KTMMKRRTG652H352U775A3VZDY35KUL2CXBQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXJ57SKJJ3BNFBVALS6V4D2HVXHL6CQTXC2JZ5BVB25OBQEIXUEA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJHQPTHCKRIDIVDBBGBLE5FAY6B4FZC5LOVJWTOLJR6CFFBJWDCQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKBMT7VYVOGMVXP4OSJTPFU7EBPNV4QGL3FIATK5IN6KEJIOYQWQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUH3ZRJNKDHNZ52XK2W3EZSUALOAAT75SVIOAS4EW2XFAPX5DDMQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/37IITFBXFNINES5OVC7ZUMKPZXSTWDYPGEXBTRDPLUQAG3XGREZQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7JA6BIAGH2UA3PZINAYHQ42S3BNTL6ZOH5ZFMXJ6OACONQK66FA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWCXFW7YJPPW4C32K5N4OXDWUWK7IVIKJMVIAJEVDCHT4QL3TZYA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQQ6ETZN24JGUPKQCHRH4QNCONHVQXNZJPHJTK6HLAJUGJSNMPJQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRGKIFJ2C4ZPFANMN7RY6D5IXOSRMKXP7BHVF2GZMTE4EPU7YI3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFI5JW5RPWOOWPBW6Y44APEQAKRYZL4CZDCIB2CRSOYA5CEDLBTA/awsSdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/ad8e67fc-21b9-4b8c-8573-cf1366ccb9d1/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWH45VYVOHLX7R5KXKFEMP6GZXZQCLPYUXNNGCDHBDKTZRDH2VJA/awsSdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/f5490d09-c2d0-40f8-98a9-7a67b32170a3/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2UQXDMW4FOLEP37QKNJD2T35ZYHY7CSDGTZUEUSDPP7L4VXLBIQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ENEPBZCIYQ4VUDC3B5KNEQKTMRLGUFD66ZQYSCZSU3FOX5SHNMDA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U5P4YZ6VGXK5PCPG2SL34KSEUNANQFA4CQXCIGJQ52J2XOK64TMQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K77V3FJ7XGW4RRNIFWJMB5QZD7YT2OP5E2EHJUO2UE7AQ4TXDXSA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PM7MPFSRPOR2T2IXGBNMBKDTHXF5L66Y5SCOXJ2IRDOYJCVYMPNA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3J5PRV6RYOEMRHTQR65F5NAUFHWKKXR4FKQDDEGYDTTMVSM55FIQ/awsSdk.js"
            ]
        },
        "SearchMetricSchemas": {
            "input": {
                "type": "structure",
                "members": {
                    "Query": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "MetricSchemaCounts": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "MetricSchema": {
                                    "type": "structure",
                                    "members": {
                                        "Namespace": {},
                                        "DimensionNames": {
                                            "type": "list",
                                            "member": {}
                                        }
                                    },
                                    "xmlOrder": [
                                        "Namespace",
                                        "DimensionNames"
                                    ]
                                },
                                "Count": {
                                    "type": "integer"
                                }
                            },
                            "xmlOrder": [
                                "MetricSchema",
                                "Count"
                            ]
                        }
                    },
                    "HasMore": {
                        "type": "boolean"
                    }
                },
                "xmlOrder": [
                    "MetricSchemaCounts",
                    "HasMore"
                ]
            },
            "download_location": [
                "https://d3kld4ju0n55da.cloudfront.net/1450f048-8361-4e8c-9e42-386bf968a881/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MAT7HJ3EVBQ4L3WUVFLOPYP2GFBTUMDZCLJQY5QZ4LHBAGNIZ2WA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YO27YZ5ZOOKA4EFHBWZVPUURNNXMK6ZPJBFJVVYVXN55XW3AXD6Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNRULSDUU4OOSA5AMEUBDOATDBPVIKVD4ULJV2LK4GBZYDWLC5OA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7VE6QTYUMUDFRH3KTMMKRRTG652H352U775A3VZDY35KUL2CXBQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXJ57SKJJ3BNFBVALS6V4D2HVXHL6CQTXC2JZ5BVB25OBQEIXUEA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJHQPTHCKRIDIVDBBGBLE5FAY6B4FZC5LOVJWTOLJR6CFFBJWDCQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKBMT7VYVOGMVXP4OSJTPFU7EBPNV4QGL3FIATK5IN6KEJIOYQWQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUH3ZRJNKDHNZ52XK2W3EZSUALOAAT75SVIOAS4EW2XFAPX5DDMQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/37IITFBXFNINES5OVC7ZUMKPZXSTWDYPGEXBTRDPLUQAG3XGREZQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7JA6BIAGH2UA3PZINAYHQ42S3BNTL6ZOH5ZFMXJ6OACONQK66FA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWCXFW7YJPPW4C32K5N4OXDWUWK7IVIKJMVIAJEVDCHT4QL3TZYA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQQ6ETZN24JGUPKQCHRH4QNCONHVQXNZJPHJTK6HLAJUGJSNMPJQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRGKIFJ2C4ZPFANMN7RY6D5IXOSRMKXP7BHVF2GZMTE4EPU7YI3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFI5JW5RPWOOWPBW6Y44APEQAKRYZL4CZDCIB2CRSOYA5CEDLBTA/awsSdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/ad8e67fc-21b9-4b8c-8573-cf1366ccb9d1/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWH45VYVOHLX7R5KXKFEMP6GZXZQCLPYUXNNGCDHBDKTZRDH2VJA/awsSdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/f5490d09-c2d0-40f8-98a9-7a67b32170a3/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2UQXDMW4FOLEP37QKNJD2T35ZYHY7CSDGTZUEUSDPP7L4VXLBIQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ENEPBZCIYQ4VUDC3B5KNEQKTMRLGUFD66ZQYSCZSU3FOX5SHNMDA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U5P4YZ6VGXK5PCPG2SL34KSEUNANQFA4CQXCIGJQ52J2XOK64TMQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K77V3FJ7XGW4RRNIFWJMB5QZD7YT2OP5E2EHJUO2UE7AQ4TXDXSA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PM7MPFSRPOR2T2IXGBNMBKDTHXF5L66Y5SCOXJ2IRDOYJCVYMPNA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3J5PRV6RYOEMRHTQR65F5NAUFHWKKXR4FKQDDEGYDTTMVSM55FIQ/awsSdk.js"
            ]
        },
        "SearchMetrics": {
            "input": {
                "type": "structure",
                "members": {
                    "Query": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Metrics": {
                        "shape": "S1b"
                    },
                    "CurrentNumberOfMatches": {
                        "type": "integer"
                    }
                },
                "xmlOrder": [
                    "Metrics",
                    "CurrentNumberOfMatches"
                ]
            },
            "download_location": [
                "https://d3kld4ju0n55da.cloudfront.net/1450f048-8361-4e8c-9e42-386bf968a881/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MAT7HJ3EVBQ4L3WUVFLOPYP2GFBTUMDZCLJQY5QZ4LHBAGNIZ2WA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YO27YZ5ZOOKA4EFHBWZVPUURNNXMK6ZPJBFJVVYVXN55XW3AXD6Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNRULSDUU4OOSA5AMEUBDOATDBPVIKVD4ULJV2LK4GBZYDWLC5OA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7VE6QTYUMUDFRH3KTMMKRRTG652H352U775A3VZDY35KUL2CXBQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXJ57SKJJ3BNFBVALS6V4D2HVXHL6CQTXC2JZ5BVB25OBQEIXUEA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJHQPTHCKRIDIVDBBGBLE5FAY6B4FZC5LOVJWTOLJR6CFFBJWDCQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKBMT7VYVOGMVXP4OSJTPFU7EBPNV4QGL3FIATK5IN6KEJIOYQWQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUH3ZRJNKDHNZ52XK2W3EZSUALOAAT75SVIOAS4EW2XFAPX5DDMQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/37IITFBXFNINES5OVC7ZUMKPZXSTWDYPGEXBTRDPLUQAG3XGREZQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7JA6BIAGH2UA3PZINAYHQ42S3BNTL6ZOH5ZFMXJ6OACONQK66FA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWCXFW7YJPPW4C32K5N4OXDWUWK7IVIKJMVIAJEVDCHT4QL3TZYA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQQ6ETZN24JGUPKQCHRH4QNCONHVQXNZJPHJTK6HLAJUGJSNMPJQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRGKIFJ2C4ZPFANMN7RY6D5IXOSRMKXP7BHVF2GZMTE4EPU7YI3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFI5JW5RPWOOWPBW6Y44APEQAKRYZL4CZDCIB2CRSOYA5CEDLBTA/awsSdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/ad8e67fc-21b9-4b8c-8573-cf1366ccb9d1/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWH45VYVOHLX7R5KXKFEMP6GZXZQCLPYUXNNGCDHBDKTZRDH2VJA/awsSdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/f5490d09-c2d0-40f8-98a9-7a67b32170a3/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2UQXDMW4FOLEP37QKNJD2T35ZYHY7CSDGTZUEUSDPP7L4VXLBIQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ENEPBZCIYQ4VUDC3B5KNEQKTMRLGUFD66ZQYSCZSU3FOX5SHNMDA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U5P4YZ6VGXK5PCPG2SL34KSEUNANQFA4CQXCIGJQ52J2XOK64TMQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K77V3FJ7XGW4RRNIFWJMB5QZD7YT2OP5E2EHJUO2UE7AQ4TXDXSA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PM7MPFSRPOR2T2IXGBNMBKDTHXF5L66Y5SCOXJ2IRDOYJCVYMPNA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3J5PRV6RYOEMRHTQR65F5NAUFHWKKXR4FKQDDEGYDTTMVSM55FIQ/awsSdk.js"
            ]
        },
        "GetEntityTopology": {
            "input": {
                "type": "structure",
                "required": [
                    "KeyAttributes"
                ],
                "members": {
                    "KeyAttributes": {
                        "shape": "S2s"
                    },
                    "Depth": {
                        "type": "integer"
                    },
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "EntityNodes": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "shape": "S31"
                        }
                    },
                    "EntityEdges": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "From": {},
                                "To": {}
                            }
                        }
                    },
                    "NextToken": {},
                    "Warnings": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "StatusCode"
                            ],
                            "members": {
                                "ResourceType": {},
                                "StatusCode": {
                                    "type": "integer"
                                }
                            }
                        }
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NOU6WPNZ77LZOOADLIK6YBFGD6LJMJ2CF4ROMFJZVJVN6CFXXXPA/awsSdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/1450f048-8361-4e8c-9e42-386bf968a881/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MAT7HJ3EVBQ4L3WUVFLOPYP2GFBTUMDZCLJQY5QZ4LHBAGNIZ2WA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YO27YZ5ZOOKA4EFHBWZVPUURNNXMK6ZPJBFJVVYVXN55XW3AXD6Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNRULSDUU4OOSA5AMEUBDOATDBPVIKVD4ULJV2LK4GBZYDWLC5OA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7VE6QTYUMUDFRH3KTMMKRRTG652H352U775A3VZDY35KUL2CXBQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXJ57SKJJ3BNFBVALS6V4D2HVXHL6CQTXC2JZ5BVB25OBQEIXUEA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJHQPTHCKRIDIVDBBGBLE5FAY6B4FZC5LOVJWTOLJR6CFFBJWDCQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKBMT7VYVOGMVXP4OSJTPFU7EBPNV4QGL3FIATK5IN6KEJIOYQWQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUH3ZRJNKDHNZ52XK2W3EZSUALOAAT75SVIOAS4EW2XFAPX5DDMQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/37IITFBXFNINES5OVC7ZUMKPZXSTWDYPGEXBTRDPLUQAG3XGREZQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7JA6BIAGH2UA3PZINAYHQ42S3BNTL6ZOH5ZFMXJ6OACONQK66FA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWCXFW7YJPPW4C32K5N4OXDWUWK7IVIKJMVIAJEVDCHT4QL3TZYA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQQ6ETZN24JGUPKQCHRH4QNCONHVQXNZJPHJTK6HLAJUGJSNMPJQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFI5JW5RPWOOWPBW6Y44APEQAKRYZL4CZDCIB2CRSOYA5CEDLBTA/awsSdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/ad8e67fc-21b9-4b8c-8573-cf1366ccb9d1/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWH45VYVOHLX7R5KXKFEMP6GZXZQCLPYUXNNGCDHBDKTZRDH2VJA/awsSdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/f5490d09-c2d0-40f8-98a9-7a67b32170a3/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2UQXDMW4FOLEP37QKNJD2T35ZYHY7CSDGTZUEUSDPP7L4VXLBIQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ENEPBZCIYQ4VUDC3B5KNEQKTMRLGUFD66ZQYSCZSU3FOX5SHNMDA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U5P4YZ6VGXK5PCPG2SL34KSEUNANQFA4CQXCIGJQ52J2XOK64TMQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K77V3FJ7XGW4RRNIFWJMB5QZD7YT2OP5E2EHJUO2UE7AQ4TXDXSA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PM7MPFSRPOR2T2IXGBNMBKDTHXF5L66Y5SCOXJ2IRDOYJCVYMPNA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3J5PRV6RYOEMRHTQR65F5NAUFHWKKXR4FKQDDEGYDTTMVSM55FIQ/awsSdk.js"
            ]
        },
        "ListEntitiesForMetric": {
            "input": {
                "type": "structure",
                "required": [
                    "Namespace",
                    "MetricName"
                ],
                "members": {
                    "Namespace": {},
                    "MetricName": {},
                    "Dimensions": {
                        "shape": "S11"
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Entities": {
                        "type": "list",
                        "member": {
                            "shape": "S31"
                        }
                    },
                    "NextToken": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NOU6WPNZ77LZOOADLIK6YBFGD6LJMJ2CF4ROMFJZVJVN6CFXXXPA/awsSdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/1450f048-8361-4e8c-9e42-386bf968a881/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MAT7HJ3EVBQ4L3WUVFLOPYP2GFBTUMDZCLJQY5QZ4LHBAGNIZ2WA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YO27YZ5ZOOKA4EFHBWZVPUURNNXMK6ZPJBFJVVYVXN55XW3AXD6Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNRULSDUU4OOSA5AMEUBDOATDBPVIKVD4ULJV2LK4GBZYDWLC5OA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7VE6QTYUMUDFRH3KTMMKRRTG652H352U775A3VZDY35KUL2CXBQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXJ57SKJJ3BNFBVALS6V4D2HVXHL6CQTXC2JZ5BVB25OBQEIXUEA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJHQPTHCKRIDIVDBBGBLE5FAY6B4FZC5LOVJWTOLJR6CFFBJWDCQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKBMT7VYVOGMVXP4OSJTPFU7EBPNV4QGL3FIATK5IN6KEJIOYQWQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUH3ZRJNKDHNZ52XK2W3EZSUALOAAT75SVIOAS4EW2XFAPX5DDMQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/37IITFBXFNINES5OVC7ZUMKPZXSTWDYPGEXBTRDPLUQAG3XGREZQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7JA6BIAGH2UA3PZINAYHQ42S3BNTL6ZOH5ZFMXJ6OACONQK66FA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWCXFW7YJPPW4C32K5N4OXDWUWK7IVIKJMVIAJEVDCHT4QL3TZYA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQQ6ETZN24JGUPKQCHRH4QNCONHVQXNZJPHJTK6HLAJUGJSNMPJQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFI5JW5RPWOOWPBW6Y44APEQAKRYZL4CZDCIB2CRSOYA5CEDLBTA/awsSdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/ad8e67fc-21b9-4b8c-8573-cf1366ccb9d1/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWH45VYVOHLX7R5KXKFEMP6GZXZQCLPYUXNNGCDHBDKTZRDH2VJA/awsSdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/f5490d09-c2d0-40f8-98a9-7a67b32170a3/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2UQXDMW4FOLEP37QKNJD2T35ZYHY7CSDGTZUEUSDPP7L4VXLBIQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ENEPBZCIYQ4VUDC3B5KNEQKTMRLGUFD66ZQYSCZSU3FOX5SHNMDA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U5P4YZ6VGXK5PCPG2SL34KSEUNANQFA4CQXCIGJQ52J2XOK64TMQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K77V3FJ7XGW4RRNIFWJMB5QZD7YT2OP5E2EHJUO2UE7AQ4TXDXSA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PM7MPFSRPOR2T2IXGBNMBKDTHXF5L66Y5SCOXJ2IRDOYJCVYMPNA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3J5PRV6RYOEMRHTQR65F5NAUFHWKKXR4FKQDDEGYDTTMVSM55FIQ/awsSdk.js"
            ]
        },
        "ListMetricsForEntity": {
            "input": {
                "type": "structure",
                "required": [
                    "KeyAttributes"
                ],
                "members": {
                    "KeyAttributes": {
                        "shape": "S2s"
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Metrics": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Namespace",
                                "MetricName"
                            ],
                            "members": {
                                "Namespace": {},
                                "MetricName": {},
                                "Dimensions": {
                                    "shape": "S11"
                                },
                                "SuggestedStats": {
                                    "type": "list",
                                    "member": {}
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NOU6WPNZ77LZOOADLIK6YBFGD6LJMJ2CF4ROMFJZVJVN6CFXXXPA/awsSdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/1450f048-8361-4e8c-9e42-386bf968a881/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MAT7HJ3EVBQ4L3WUVFLOPYP2GFBTUMDZCLJQY5QZ4LHBAGNIZ2WA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YO27YZ5ZOOKA4EFHBWZVPUURNNXMK6ZPJBFJVVYVXN55XW3AXD6Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNRULSDUU4OOSA5AMEUBDOATDBPVIKVD4ULJV2LK4GBZYDWLC5OA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7VE6QTYUMUDFRH3KTMMKRRTG652H352U775A3VZDY35KUL2CXBQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXJ57SKJJ3BNFBVALS6V4D2HVXHL6CQTXC2JZ5BVB25OBQEIXUEA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJHQPTHCKRIDIVDBBGBLE5FAY6B4FZC5LOVJWTOLJR6CFFBJWDCQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKBMT7VYVOGMVXP4OSJTPFU7EBPNV4QGL3FIATK5IN6KEJIOYQWQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUH3ZRJNKDHNZ52XK2W3EZSUALOAAT75SVIOAS4EW2XFAPX5DDMQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/37IITFBXFNINES5OVC7ZUMKPZXSTWDYPGEXBTRDPLUQAG3XGREZQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7JA6BIAGH2UA3PZINAYHQ42S3BNTL6ZOH5ZFMXJ6OACONQK66FA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWCXFW7YJPPW4C32K5N4OXDWUWK7IVIKJMVIAJEVDCHT4QL3TZYA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQQ6ETZN24JGUPKQCHRH4QNCONHVQXNZJPHJTK6HLAJUGJSNMPJQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFI5JW5RPWOOWPBW6Y44APEQAKRYZL4CZDCIB2CRSOYA5CEDLBTA/awsSdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/ad8e67fc-21b9-4b8c-8573-cf1366ccb9d1/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWH45VYVOHLX7R5KXKFEMP6GZXZQCLPYUXNNGCDHBDKTZRDH2VJA/awsSdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/f5490d09-c2d0-40f8-98a9-7a67b32170a3/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2UQXDMW4FOLEP37QKNJD2T35ZYHY7CSDGTZUEUSDPP7L4VXLBIQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ENEPBZCIYQ4VUDC3B5KNEQKTMRLGUFD66ZQYSCZSU3FOX5SHNMDA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U5P4YZ6VGXK5PCPG2SL34KSEUNANQFA4CQXCIGJQ52J2XOK64TMQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K77V3FJ7XGW4RRNIFWJMB5QZD7YT2OP5E2EHJUO2UE7AQ4TXDXSA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PM7MPFSRPOR2T2IXGBNMBKDTHXF5L66Y5SCOXJ2IRDOYJCVYMPNA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3J5PRV6RYOEMRHTQR65F5NAUFHWKKXR4FKQDDEGYDTTMVSM55FIQ/awsSdk.js"
            ]
        }
    },
    "shapes": {
        "S2": {
            "type": "list",
            "member": {}
        },
        "S5": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "FailureResource": {},
                    "ExceptionType": {},
                    "FailureCode": {},
                    "FailureDescription": {}
                }
            }
        },
        "Sf": {
            "type": "list",
            "member": {}
        },
        "So": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "AlarmName": {},
                    "AlarmArn": {},
                    "AlarmDescription": {},
                    "AlarmConfigurationUpdatedTimestamp": {
                        "type": "timestamp"
                    },
                    "ActionsEnabled": {
                        "type": "boolean"
                    },
                    "OKActions": {
                        "shape": "Su"
                    },
                    "AlarmActions": {
                        "shape": "Su"
                    },
                    "InsufficientDataActions": {
                        "shape": "Su"
                    },
                    "StateValue": {},
                    "StateReason": {},
                    "StateReasonData": {},
                    "StateUpdatedTimestamp": {
                        "type": "timestamp"
                    },
                    "MetricName": {},
                    "Namespace": {},
                    "Statistic": {
                        "type": "string",
                        "deprecated": true
                    },
                    "Dimensions": {
                        "shape": "S11"
                    },
                    "Period": {
                        "type": "integer"
                    },
                    "Unit": {},
                    "EvaluationPeriods": {
                        "type": "integer"
                    },
                    "DatapointsToAlarm": {
                        "type": "integer"
                    },
                    "Threshold": {
                        "type": "double"
                    },
                    "ComparisonOperator": {},
                    "Metrics": {
                        "shape": "S1b"
                    },
                    "EvaluationPeriodsToOK": {
                        "type": "integer"
                    },
                    "ExtendedStatistic": {},
                    "MissingDataPointTreatment": {},
                    "TreatMissingData": {},
                    "EvaluateLowSampleCountPercentile": {},
                    "SampleCountThreshold": {},
                    "Actions": {
                        "type": "list",
                        "member": {
                            "shape": "S1s"
                        }
                    },
                    "AlarmData": {},
                    "ConsecutivePeriodsToOk": {
                        "type": "integer"
                    },
                    "ConsecutivePeriodsToAlarm": {
                        "type": "integer"
                    },
                    "AlarmConditions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Threshold": {},
                                "ThresholdOffset": {
                                    "type": "double"
                                },
                                "ComparisonOperator": {}
                            }
                        }
                    },
                    "ThresholdPercentageAdjustmentToOk": {
                        "type": "integer"
                    },
                    "CreationId": {},
                    "ThresholdMetricId": {},
                    "ResourceArn": {},
                    "AlarmManagerArn": {},
                    "EvaluationState": {},
                    "StateTransitionedTimestamp": {
                        "type": "timestamp"
                    }
                },
                "xmlOrder": [
                    "AlarmName",
                    "AlarmArn",
                    "AlarmDescription",
                    "AlarmConfigurationUpdatedTimestamp",
                    "ActionsEnabled",
                    "OKActions",
                    "AlarmActions",
                    "InsufficientDataActions",
                    "StateValue",
                    "StateReason",
                    "StateReasonData",
                    "StateUpdatedTimestamp",
                    "MetricName",
                    "Namespace",
                    "Statistic",
                    "Dimensions",
                    "Period",
                    "Unit",
                    "EvaluationPeriods",
                    "Threshold",
                    "ComparisonOperator",
                    "EvaluationPeriodsToOK",
                    "ExtendedStatistic",
                    "MissingDataPointTreatment",
                    "SampleCountThreshold",
                    "Actions",
                    "AlarmData",
                    "ConsecutivePeriodsToOk",
                    "ConsecutivePeriodsToAlarm",
                    "AlarmConditions",
                    "ThresholdPercentageAdjustmentToOk",
                    "TreatMissingData",
                    "EvaluateLowSampleCountPercentile",
                    "DatapointsToAlarm",
                    "Metrics",
                    "CreationId",
                    "ThresholdMetricId",
                    "ResourceArn",
                    "AlarmManagerArn",
                    "EvaluationState",
                    "StateTransitionedTimestamp"
                ]
            }
        },
        "Su": {
            "type": "list",
            "member": {}
        },
        "S11": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "Name",
                    "Value"
                ],
                "members": {
                    "Name": {},
                    "Value": {}
                },
                "xmlOrder": [
                    "Name",
                    "Value"
                ]
            }
        },
        "S1b": {
            "type": "list",
            "member": {
                "shape": "S1c"
            }
        },
        "S1c": {
            "type": "structure",
            "members": {
                "Alias": {},
                "Region": {},
                "AccountId": {},
                "Namespace": {},
                "MetricName": {},
                "Dimensions": {
                    "shape": "S11"
                },
                "Period": {
                    "type": "integer"
                },
                "Stat": {},
                "Unit": {},
                "Range": {
                    "type": "structure",
                    "required": [
                        "StartTime",
                        "EndTime"
                    ],
                    "members": {
                        "StartTime": {
                            "type": "timestamp"
                        },
                        "EndTime": {
                            "type": "timestamp"
                        }
                    },
                    "xmlOrder": [
                        "StartTime",
                        "EndTime"
                    ]
                },
                "Label": {},
                "ReturnData": {
                    "type": "boolean"
                },
                "Expression": {},
                "ReturnDistributions": {
                    "type": "boolean"
                }
            }
        },
        "S1s": {
            "type": "structure",
            "required": [
                "ActionCondition",
                "ActionARN"
            ],
            "members": {
                "ActionCondition": {},
                "ActionARN": {},
                "ActionData": {}
            }
        },
        "S23": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "ActionsEnabled": {
                        "type": "boolean"
                    },
                    "AlarmActions": {
                        "shape": "Su"
                    },
                    "AlarmArn": {},
                    "AlarmConfigurationUpdatedTimestamp": {
                        "type": "timestamp"
                    },
                    "AlarmDescription": {},
                    "AlarmName": {},
                    "AlarmRule": {},
                    "CreationId": {},
                    "InsufficientDataActions": {
                        "shape": "Su"
                    },
                    "OKActions": {
                        "shape": "Su"
                    },
                    "StateReason": {},
                    "StateReasonData": {},
                    "StateUpdatedTimestamp": {
                        "type": "timestamp"
                    },
                    "StateValue": {},
                    "StateTransitionedTimestamp": {
                        "type": "timestamp"
                    },
                    "ActionsSuppressedBy": {},
                    "ActionsSuppressedReason": {},
                    "ActionsSuppressor": {},
                    "ActionsSuppressorWaitPeriod": {
                        "type": "integer"
                    },
                    "ActionsSuppressorExtensionPeriod": {
                        "type": "integer"
                    },
                    "Actions": {
                        "type": "list",
                        "member": {
                            "shape": "S1s"
                        }
                    },
                    "AlarmOverrides": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "StateValue": {},
                                "ActionsSuppressed": {
                                    "type": "boolean"
                                },
                                "Schedule": {},
                                "Duration": {
                                    "type": "integer"
                                },
                                "Reason": {}
                            }
                        }
                    }
                },
                "xmlOrder": [
                    "ActionsEnabled",
                    "AlarmActions",
                    "AlarmArn",
                    "AlarmConfigurationUpdatedTimestamp",
                    "AlarmDescription",
                    "AlarmName",
                    "AlarmRule",
                    "CreationId",
                    "InsufficientDataActions",
                    "OKActions",
                    "StateReason",
                    "StateReasonData",
                    "StateUpdatedTimestamp",
                    "StateValue",
                    "StateTransitionedTimestamp",
                    "ActionsSuppressedBy",
                    "ActionsSuppressedReason",
                    "ActionsSuppressor",
                    "ActionsSuppressorWaitPeriod",
                    "ActionsSuppressorExtensionPeriod",
                    "Actions",
                    "AlarmOverrides"
                ]
            }
        },
        "S3h": {
            "type": "structure",
            "members": {
                "Alias": {},
                "Region": {},
                "AccountId": {},
                "StatusCode": {},
                "Namespace": {},
                "MetricName": {},
                "Dimensions": {
                    "shape": "S11"
                },
                "Period": {
                    "type": "integer"
                },
                "Timestamp": {
                    "type": "timestamp"
                },
                "Timestamps": {
                    "type": "list",
                    "member": {
                        "type": "timestamp"
                    }
                },
                "Stat": {},
                "Unit": {},
                "Value": {
                    "deprecated": true,
                    "type": "double"
                },
                "StatisticValues": {
                    "shape": "S3l"
                },
                "Values": {
                    "shape": "S3m"
                },
                "Counts": {
                    "shape": "S3n"
                },
                "StorageResolution": {
                    "type": "integer"
                },
                "Label": {},
                "ListElement": {
                    "type": "boolean"
                },
                "Messages": {
                    "shape": "S3q"
                },
                "Distributions": {
                    "type": "list",
                    "member": {
                        "type": "structure",
                        "members": {
                            "StatisticValues": {
                                "shape": "S3l"
                            },
                            "Values": {
                                "shape": "S3m"
                            },
                            "Counts": {
                                "shape": "S3n"
                            }
                        }
                    }
                }
            }
        },
        "S3l": {
            "type": "structure",
            "required": [
                "SampleCount",
                "Sum",
                "Minimum",
                "Maximum"
            ],
            "members": {
                "SampleCount": {
                    "type": "double"
                },
                "Sum": {
                    "type": "double"
                },
                "Minimum": {
                    "type": "double"
                },
                "Maximum": {
                    "type": "double"
                }
            }
        },
        "S3m": {
            "type": "list",
            "member": {
                "type": "double"
            }
        },
        "S3n": {
            "type": "list",
            "member": {
                "type": "double"
            }
        },
        "S3q": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "Code": {},
                    "Value": {}
                }
            }
        },
        "S45": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "Name",
                    "State",
                    "Definition"
                ],
                "members": {
                    "Name": {},
                    "State": {},
                    "Definition": {},
                    "CellId": {},
                    "Destinations": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Name": {}
                            }
                        }
                    },
                    "DestinationAccountId": {},
                    "RuleMetadata": {
                        "type": "blob"
                    }
                }
            }
        },
        "S1r": {
            "type": "structure",
            "required": [
                "ActionCondition",
                "ActionARN"
            ],
            "members": {
                "ActionCondition": {},
                "ActionARN": {},
                "ActionData": {}
            }
        },
        "S22": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "ActionsEnabled": {
                        "type": "boolean"
                    },
                    "AlarmActions": {
                        "shape": "Su"
                    },
                    "AlarmArn": {},
                    "AlarmConfigurationUpdatedTimestamp": {
                        "type": "timestamp"
                    },
                    "AlarmDescription": {},
                    "AlarmName": {},
                    "AlarmRule": {},
                    "CreationId": {},
                    "InsufficientDataActions": {
                        "shape": "Su"
                    },
                    "OKActions": {
                        "shape": "Su"
                    },
                    "StateReason": {},
                    "StateReasonData": {},
                    "StateUpdatedTimestamp": {
                        "type": "timestamp"
                    },
                    "StateValue": {},
                    "StateTransitionedTimestamp": {
                        "type": "timestamp"
                    },
                    "ActionsSuppressedBy": {},
                    "ActionsSuppressedReason": {},
                    "ActionsSuppressor": {},
                    "ActionsSuppressorWaitPeriod": {
                        "type": "integer"
                    },
                    "ActionsSuppressorExtensionPeriod": {
                        "type": "integer"
                    },
                    "Actions": {
                        "type": "list",
                        "member": {
                            "shape": "S1r"
                        }
                    },
                    "AlarmOverrides": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "StateValue": {},
                                "ActionsSuppressed": {
                                    "type": "boolean"
                                },
                                "Schedule": {},
                                "Duration": {
                                    "type": "integer"
                                },
                                "Reason": {}
                            }
                        }
                    }
                },
                "xmlOrder": [
                    "ActionsEnabled",
                    "AlarmActions",
                    "AlarmArn",
                    "AlarmConfigurationUpdatedTimestamp",
                    "AlarmDescription",
                    "AlarmName",
                    "AlarmRule",
                    "CreationId",
                    "InsufficientDataActions",
                    "OKActions",
                    "StateReason",
                    "StateReasonData",
                    "StateUpdatedTimestamp",
                    "StateValue",
                    "StateTransitionedTimestamp",
                    "ActionsSuppressedBy",
                    "ActionsSuppressedReason",
                    "ActionsSuppressor",
                    "ActionsSuppressorWaitPeriod",
                    "ActionsSuppressorExtensionPeriod",
                    "Actions",
                    "AlarmOverrides"
                ]
            }
        },
        "S3g": {
            "type": "structure",
            "members": {
                "Alias": {},
                "Region": {},
                "AccountId": {},
                "StatusCode": {},
                "Namespace": {},
                "MetricName": {},
                "Dimensions": {
                    "shape": "S11"
                },
                "Period": {
                    "type": "integer"
                },
                "Timestamp": {
                    "type": "timestamp"
                },
                "Timestamps": {
                    "type": "list",
                    "member": {
                        "type": "timestamp"
                    }
                },
                "Stat": {},
                "Unit": {},
                "Value": {
                    "deprecated": true,
                    "type": "double"
                },
                "StatisticValues": {
                    "type": "structure",
                    "required": [
                        "SampleCount",
                        "Sum",
                        "Minimum",
                        "Maximum"
                    ],
                    "members": {
                        "SampleCount": {
                            "type": "double"
                        },
                        "Sum": {
                            "type": "double"
                        },
                        "Minimum": {
                            "type": "double"
                        },
                        "Maximum": {
                            "type": "double"
                        }
                    }
                },
                "Values": {
                    "type": "list",
                    "member": {
                        "type": "double"
                    }
                },
                "Counts": {
                    "type": "list",
                    "member": {
                        "type": "double"
                    }
                },
                "StorageResolution": {
                    "type": "integer"
                },
                "Label": {},
                "ListElement": {
                    "type": "boolean"
                },
                "Messages": {
                    "shape": "S3p"
                }
            }
        },
        "S3p": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "Code": {},
                    "Value": {}
                }
            }
        },
        "S42": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "Name",
                    "State",
                    "Definition"
                ],
                "members": {
                    "Name": {},
                    "State": {},
                    "Definition": {},
                    "CellId": {},
                    "Destinations": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Name": {}
                            }
                        }
                    },
                    "DestinationAccountId": {},
                    "RuleMetadata": {
                        "type": "blob"
                    }
                }
            }
        },
        "S1t": {
            "type": "structure",
            "required": [
                "ActionCondition",
                "ActionARN"
            ],
            "members": {
                "ActionCondition": {},
                "ActionARN": {},
                "ActionData": {}
            }
        },
        "S24": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "ActionsEnabled": {
                        "type": "boolean"
                    },
                    "AlarmActions": {
                        "shape": "Su"
                    },
                    "AlarmArn": {},
                    "AlarmConfigurationUpdatedTimestamp": {
                        "type": "timestamp"
                    },
                    "AlarmDescription": {},
                    "AlarmName": {},
                    "AlarmRule": {},
                    "CreationId": {},
                    "InsufficientDataActions": {
                        "shape": "Su"
                    },
                    "OKActions": {
                        "shape": "Su"
                    },
                    "StateReason": {},
                    "StateReasonData": {},
                    "StateUpdatedTimestamp": {
                        "type": "timestamp"
                    },
                    "StateValue": {},
                    "StateTransitionedTimestamp": {
                        "type": "timestamp"
                    },
                    "ActionsSuppressedBy": {},
                    "ActionsSuppressedReason": {},
                    "ActionsSuppressor": {},
                    "ActionsSuppressorWaitPeriod": {
                        "type": "integer"
                    },
                    "ActionsSuppressorExtensionPeriod": {
                        "type": "integer"
                    },
                    "Actions": {
                        "type": "list",
                        "member": {
                            "shape": "S1t"
                        }
                    },
                    "AlarmOverrides": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "StateValue": {},
                                "ActionsSuppressed": {
                                    "type": "boolean"
                                },
                                "Schedule": {},
                                "Duration": {
                                    "type": "integer"
                                },
                                "Reason": {}
                            }
                        }
                    }
                },
                "xmlOrder": [
                    "ActionsEnabled",
                    "AlarmActions",
                    "AlarmArn",
                    "AlarmConfigurationUpdatedTimestamp",
                    "AlarmDescription",
                    "AlarmName",
                    "AlarmRule",
                    "CreationId",
                    "InsufficientDataActions",
                    "OKActions",
                    "StateReason",
                    "StateReasonData",
                    "StateUpdatedTimestamp",
                    "StateValue",
                    "StateTransitionedTimestamp",
                    "ActionsSuppressedBy",
                    "ActionsSuppressedReason",
                    "ActionsSuppressor",
                    "ActionsSuppressorWaitPeriod",
                    "ActionsSuppressorExtensionPeriod",
                    "Actions",
                    "AlarmOverrides"
                ]
            }
        },
        "S3i": {
            "type": "structure",
            "members": {
                "Alias": {},
                "Region": {},
                "AccountId": {},
                "StatusCode": {},
                "Namespace": {},
                "MetricName": {},
[...]
