{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2013-01-16",
        "endpointPrefix": "monitoring",
        "jsonVersion": "1.0",
        "protocol": "json",
        "serviceAbbreviation": "CloudWatchInternal2013",
        "serviceFullName": "Amazon CloudWatch Internal 2013",
        "serviceId": "CloudWatchInternal2013",
        "signatureVersion": "v4",
        "targetPrefix": "CloudWatchVersion20130116",
        "uid": "monitoring_internal_2013-2013-01-16",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/BTKQ4NLLWJ2DLJSGS4ZJGNCHUDI46IX4G7WSMREQVQRKGBHHNKNA/awsSdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2NXYZLYBEQFOJ53S2EVN3CVAPUWISAUIPO4TMBQP2YP5DW7UDDQQ/awsSdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AVHBZD6CAK4HVT3D7PISZTUTU5R6U4VMQI4MNNLHIKSIACDWY4PQ/awsSdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GTVSR6NRG5CFONLJSHCL7LPQLE3ZEHZYQLF4E4KXWBZDRQBS4SWQ/awsSdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YLX6VOFOZD54MFL7JI7BVZ6N52PN63UNOFLDN6QTBTP3UZ2QSX4Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYHGDLM5Y263DUDKCT3Z27Z73HGOMXELIP7VQ63TB3QKNIMSBQ/awsSdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L3SAZLB3GHCZLC5YKI55V2AKZN5DGSMU37UHSHZ6X7PLLGS277LQ/awsSdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QYHDX3EK3AAV5XVSV7KUA5APSKCERZ6OWKGSDNZQ2SW4MTLO2QNQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WO3UVINQ5KLHQBHVZ7RDRGTAUNSDGXFJDPVDRPBZ3ZETGBQRLSCQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7Y3JL6H5IA5BKQQDCJNNSMJYJO6YEANTRJ6N42JDBKV7RZI2HQUQ/awsSdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YYFDUKUEBS5R3TK2GWZ2LIO7E3DJPRXHSS4D3KZ6FYAO3UOFB7RQ/awsSdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MZBWPEWRK25ACDJNI3YSVCUSQ3QGI46GCHEZVO2G3Q6MV6FELWGA/awsSdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/U6YCACBKHVUYPCE26XPZAUAUN3ELMGR5O47VPGAM36DNMKFBITBA/awsSdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HSWSTPKJ22VASGYZWIIT2BJUV7CLV54FCGCKEKUQ5ORY232GAUNA/awsSdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/E4BHEHGM35WICJCXLCQNCDW7SAFXAHRBU2TFHJFOTYBFXAZGTBGA/awsSdk.js",
            "https://d3kld4ju0n55da.cloudfront.net/63fcb37d-c103-49d4-acca-1f4cdd5be6a6/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HHEFKYPAONPDUDGP6IJOHJT2IWGKVBL5F5FM7JGE2MXCFYGXX2VA/awsSdk.js",
            "https://d3kld4ju0n55da.cloudfront.net/292faa65-e1aa-4294-8041-4ecebcd7451f/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XMVC54AF5XGYPQDONFLZL6DJ62HH4JAQGS7H2CTAC5VLK5JQUSTQ/awsSdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MY3WAX4JQV3S2DW4GIE5A6ZZBVIOJTIBUACWD5XG5VD4QXJ7TUSA/awsSdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R3PAKTVWJZV2CPG3AG3BAXTMBZEYULD6YDFAXJRRY36I3ULLDS7Q/awsSdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VXDDYHRZZTKBCGPBBCPL4HDGXCG6FVM75BWM5OO2E47LXFDST3YA/awsSdk.js",
            "https://d3kld4ju0n55da.cloudfront.net/f2117bfd-9204-459f-b8bf-d016fde05810/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KZKFX5TSSQ2E7KJ7Z4JRSFEQDQKPJJDVRXP7XKHMEYU4BLWJM4DQ/awsSdk.js",
            "https://d3kld4ju0n55da.cloudfront.net/c9ef6d28-6dff-457e-a365-ac33d8ca237f/main.js"
        ]
    },
    "operations": {
        "DeleteInsightRules": {
            "input": {
                "type": "structure",
                "required": [
                    "RuleNames"
                ],
                "members": {
                    "RuleNames": {
                        "shape": "S2"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Failures": {
                        "shape": "S5"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NXYZLYBEQFOJ53S2EVN3CVAPUWISAUIPO4TMBQP2YP5DW7UDDQQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AVHBZD6CAK4HVT3D7PISZTUTU5R6U4VMQI4MNNLHIKSIACDWY4PQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTVSR6NRG5CFONLJSHCL7LPQLE3ZEHZYQLF4E4KXWBZDRQBS4SWQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLX6VOFOZD54MFL7JI7BVZ6N52PN63UNOFLDN6QTBTP3UZ2QSX4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYHGDLM5Y263DUDKCT3Z27Z73HGOMXELIP7VQ63TB3QKNIMSBQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3SAZLB3GHCZLC5YKI55V2AKZN5DGSMU37UHSHZ6X7PLLGS277LQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYHDX3EK3AAV5XVSV7KUA5APSKCERZ6OWKGSDNZQ2SW4MTLO2QNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WO3UVINQ5KLHQBHVZ7RDRGTAUNSDGXFJDPVDRPBZ3ZETGBQRLSCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7Y3JL6H5IA5BKQQDCJNNSMJYJO6YEANTRJ6N42JDBKV7RZI2HQUQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YYFDUKUEBS5R3TK2GWZ2LIO7E3DJPRXHSS4D3KZ6FYAO3UOFB7RQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZBWPEWRK25ACDJNI3YSVCUSQ3QGI46GCHEZVO2G3Q6MV6FELWGA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U6YCACBKHVUYPCE26XPZAUAUN3ELMGR5O47VPGAM36DNMKFBITBA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSWSTPKJ22VASGYZWIIT2BJUV7CLV54FCGCKEKUQ5ORY232GAUNA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E4BHEHGM35WICJCXLCQNCDW7SAFXAHRBU2TFHJFOTYBFXAZGTBGA/awsSdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/63fcb37d-c103-49d4-acca-1f4cdd5be6a6/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHEFKYPAONPDUDGP6IJOHJT2IWGKVBL5F5FM7JGE2MXCFYGXX2VA/awsSdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/292faa65-e1aa-4294-8041-4ecebcd7451f/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMVC54AF5XGYPQDONFLZL6DJ62HH4JAQGS7H2CTAC5VLK5JQUSTQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MY3WAX4JQV3S2DW4GIE5A6ZZBVIOJTIBUACWD5XG5VD4QXJ7TUSA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3PAKTVWJZV2CPG3AG3BAXTMBZEYULD6YDFAXJRRY36I3ULLDS7Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXDDYHRZZTKBCGPBBCPL4HDGXCG6FVM75BWM5OO2E47LXFDST3YA/awsSdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/f2117bfd-9204-459f-b8bf-d016fde05810/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZKFX5TSSQ2E7KJ7Z4JRSFEQDQKPJJDVRXP7XKHMEYU4BLWJM4DQ/awsSdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/c9ef6d28-6dff-457e-a365-ac33d8ca237f/main.js"
            ]
        },
        "DescribeAlarms": {
            "input": {
                "type": "structure",
                "members": {
                    "AlarmNames": {
                        "type": "list",
                        "member": {}
                    },
                    "AlarmNamePrefix": {},
                    "AlarmTypes": {
                        "shape": "Sf"
                    },
                    "ChildrenOfAlarmName": {},
                    "ParentsOfAlarmName": {},
                    "StateValue": {},
                    "ActionPrefix": {},
                    "ExcludeAutoscalingAlarms": {
                        "type": "boolean"
                    },
                    "ExcludeManagedAlarms": {
                        "type": "boolean"
                    },
                    "MaxRecords": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "MetricAlarms": {
                        "shape": "So"
                    },
                    "CompositeAlarms": {
                        "shape": "S23"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NXYZLYBEQFOJ53S2EVN3CVAPUWISAUIPO4TMBQP2YP5DW7UDDQQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AVHBZD6CAK4HVT3D7PISZTUTU5R6U4VMQI4MNNLHIKSIACDWY4PQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTVSR6NRG5CFONLJSHCL7LPQLE3ZEHZYQLF4E4KXWBZDRQBS4SWQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLX6VOFOZD54MFL7JI7BVZ6N52PN63UNOFLDN6QTBTP3UZ2QSX4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYHGDLM5Y263DUDKCT3Z27Z73HGOMXELIP7VQ63TB3QKNIMSBQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3SAZLB3GHCZLC5YKI55V2AKZN5DGSMU37UHSHZ6X7PLLGS277LQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYHDX3EK3AAV5XVSV7KUA5APSKCERZ6OWKGSDNZQ2SW4MTLO2QNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WO3UVINQ5KLHQBHVZ7RDRGTAUNSDGXFJDPVDRPBZ3ZETGBQRLSCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7Y3JL6H5IA5BKQQDCJNNSMJYJO6YEANTRJ6N42JDBKV7RZI2HQUQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YYFDUKUEBS5R3TK2GWZ2LIO7E3DJPRXHSS4D3KZ6FYAO3UOFB7RQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZBWPEWRK25ACDJNI3YSVCUSQ3QGI46GCHEZVO2G3Q6MV6FELWGA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U6YCACBKHVUYPCE26XPZAUAUN3ELMGR5O47VPGAM36DNMKFBITBA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSWSTPKJ22VASGYZWIIT2BJUV7CLV54FCGCKEKUQ5ORY232GAUNA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E4BHEHGM35WICJCXLCQNCDW7SAFXAHRBU2TFHJFOTYBFXAZGTBGA/awsSdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/63fcb37d-c103-49d4-acca-1f4cdd5be6a6/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHEFKYPAONPDUDGP6IJOHJT2IWGKVBL5F5FM7JGE2MXCFYGXX2VA/awsSdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/292faa65-e1aa-4294-8041-4ecebcd7451f/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMVC54AF5XGYPQDONFLZL6DJ62HH4JAQGS7H2CTAC5VLK5JQUSTQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MY3WAX4JQV3S2DW4GIE5A6ZZBVIOJTIBUACWD5XG5VD4QXJ7TUSA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3PAKTVWJZV2CPG3AG3BAXTMBZEYULD6YDFAXJRRY36I3ULLDS7Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXDDYHRZZTKBCGPBBCPL4HDGXCG6FVM75BWM5OO2E47LXFDST3YA/awsSdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/f2117bfd-9204-459f-b8bf-d016fde05810/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZKFX5TSSQ2E7KJ7Z4JRSFEQDQKPJJDVRXP7XKHMEYU4BLWJM4DQ/awsSdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/c9ef6d28-6dff-457e-a365-ac33d8ca237f/main.js"
            ]
        },
        "DescribeAlarmsSummary": {
            "input": {
                "type": "structure",
                "members": {
                    "AlarmTypes": {
                        "shape": "Sf"
                    },
                    "ExcludeAutoscalingAlarms": {
                        "type": "boolean"
                    },
                    "MaxRecords": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AlarmStateSummary": {
                        "type": "structure",
                        "members": {
                            "AlarmCount": {
                                "type": "integer"
                            },
                            "OKCount": {
                                "type": "integer"
                            },
                            "InsufficientDataCount": {
                                "type": "integer"
                            }
                        }
                    },
                    "CompositeAlarms": {
                        "shape": "S23"
                    },
                    "MetricAlarms": {
                        "shape": "So"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NXYZLYBEQFOJ53S2EVN3CVAPUWISAUIPO4TMBQP2YP5DW7UDDQQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AVHBZD6CAK4HVT3D7PISZTUTU5R6U4VMQI4MNNLHIKSIACDWY4PQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTVSR6NRG5CFONLJSHCL7LPQLE3ZEHZYQLF4E4KXWBZDRQBS4SWQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLX6VOFOZD54MFL7JI7BVZ6N52PN63UNOFLDN6QTBTP3UZ2QSX4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYHGDLM5Y263DUDKCT3Z27Z73HGOMXELIP7VQ63TB3QKNIMSBQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3SAZLB3GHCZLC5YKI55V2AKZN5DGSMU37UHSHZ6X7PLLGS277LQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYHDX3EK3AAV5XVSV7KUA5APSKCERZ6OWKGSDNZQ2SW4MTLO2QNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WO3UVINQ5KLHQBHVZ7RDRGTAUNSDGXFJDPVDRPBZ3ZETGBQRLSCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7Y3JL6H5IA5BKQQDCJNNSMJYJO6YEANTRJ6N42JDBKV7RZI2HQUQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YYFDUKUEBS5R3TK2GWZ2LIO7E3DJPRXHSS4D3KZ6FYAO3UOFB7RQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZBWPEWRK25ACDJNI3YSVCUSQ3QGI46GCHEZVO2G3Q6MV6FELWGA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U6YCACBKHVUYPCE26XPZAUAUN3ELMGR5O47VPGAM36DNMKFBITBA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSWSTPKJ22VASGYZWIIT2BJUV7CLV54FCGCKEKUQ5ORY232GAUNA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E4BHEHGM35WICJCXLCQNCDW7SAFXAHRBU2TFHJFOTYBFXAZGTBGA/awsSdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/63fcb37d-c103-49d4-acca-1f4cdd5be6a6/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHEFKYPAONPDUDGP6IJOHJT2IWGKVBL5F5FM7JGE2MXCFYGXX2VA/awsSdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/292faa65-e1aa-4294-8041-4ecebcd7451f/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMVC54AF5XGYPQDONFLZL6DJ62HH4JAQGS7H2CTAC5VLK5JQUSTQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MY3WAX4JQV3S2DW4GIE5A6ZZBVIOJTIBUACWD5XG5VD4QXJ7TUSA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3PAKTVWJZV2CPG3AG3BAXTMBZEYULD6YDFAXJRRY36I3ULLDS7Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXDDYHRZZTKBCGPBBCPL4HDGXCG6FVM75BWM5OO2E47LXFDST3YA/awsSdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/f2117bfd-9204-459f-b8bf-d016fde05810/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZKFX5TSSQ2E7KJ7Z4JRSFEQDQKPJJDVRXP7XKHMEYU4BLWJM4DQ/awsSdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/c9ef6d28-6dff-457e-a365-ac33d8ca237f/main.js"
            ]
        },
        "DisableInsightRules": {
            "input": {
                "type": "structure",
                "required": [
                    "RuleNames"
                ],
                "members": {
                    "RuleNames": {
                        "shape": "S2"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Failures": {
                        "shape": "S5"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NXYZLYBEQFOJ53S2EVN3CVAPUWISAUIPO4TMBQP2YP5DW7UDDQQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AVHBZD6CAK4HVT3D7PISZTUTU5R6U4VMQI4MNNLHIKSIACDWY4PQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTVSR6NRG5CFONLJSHCL7LPQLE3ZEHZYQLF4E4KXWBZDRQBS4SWQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLX6VOFOZD54MFL7JI7BVZ6N52PN63UNOFLDN6QTBTP3UZ2QSX4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYHGDLM5Y263DUDKCT3Z27Z73HGOMXELIP7VQ63TB3QKNIMSBQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3SAZLB3GHCZLC5YKI55V2AKZN5DGSMU37UHSHZ6X7PLLGS277LQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYHDX3EK3AAV5XVSV7KUA5APSKCERZ6OWKGSDNZQ2SW4MTLO2QNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WO3UVINQ5KLHQBHVZ7RDRGTAUNSDGXFJDPVDRPBZ3ZETGBQRLSCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7Y3JL6H5IA5BKQQDCJNNSMJYJO6YEANTRJ6N42JDBKV7RZI2HQUQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YYFDUKUEBS5R3TK2GWZ2LIO7E3DJPRXHSS4D3KZ6FYAO3UOFB7RQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZBWPEWRK25ACDJNI3YSVCUSQ3QGI46GCHEZVO2G3Q6MV6FELWGA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U6YCACBKHVUYPCE26XPZAUAUN3ELMGR5O47VPGAM36DNMKFBITBA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSWSTPKJ22VASGYZWIIT2BJUV7CLV54FCGCKEKUQ5ORY232GAUNA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E4BHEHGM35WICJCXLCQNCDW7SAFXAHRBU2TFHJFOTYBFXAZGTBGA/awsSdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/63fcb37d-c103-49d4-acca-1f4cdd5be6a6/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHEFKYPAONPDUDGP6IJOHJT2IWGKVBL5F5FM7JGE2MXCFYGXX2VA/awsSdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/292faa65-e1aa-4294-8041-4ecebcd7451f/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMVC54AF5XGYPQDONFLZL6DJ62HH4JAQGS7H2CTAC5VLK5JQUSTQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MY3WAX4JQV3S2DW4GIE5A6ZZBVIOJTIBUACWD5XG5VD4QXJ7TUSA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3PAKTVWJZV2CPG3AG3BAXTMBZEYULD6YDFAXJRRY36I3ULLDS7Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXDDYHRZZTKBCGPBBCPL4HDGXCG6FVM75BWM5OO2E47LXFDST3YA/awsSdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/f2117bfd-9204-459f-b8bf-d016fde05810/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZKFX5TSSQ2E7KJ7Z4JRSFEQDQKPJJDVRXP7XKHMEYU4BLWJM4DQ/awsSdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/c9ef6d28-6dff-457e-a365-ac33d8ca237f/main.js"
            ]
        },
        "EnableInsightRules": {
            "input": {
                "type": "structure",
                "required": [
                    "RuleNames"
                ],
                "members": {
                    "RuleNames": {
                        "shape": "S2"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Failures": {
                        "shape": "S5"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NXYZLYBEQFOJ53S2EVN3CVAPUWISAUIPO4TMBQP2YP5DW7UDDQQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AVHBZD6CAK4HVT3D7PISZTUTU5R6U4VMQI4MNNLHIKSIACDWY4PQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTVSR6NRG5CFONLJSHCL7LPQLE3ZEHZYQLF4E4KXWBZDRQBS4SWQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLX6VOFOZD54MFL7JI7BVZ6N52PN63UNOFLDN6QTBTP3UZ2QSX4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYHGDLM5Y263DUDKCT3Z27Z73HGOMXELIP7VQ63TB3QKNIMSBQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3SAZLB3GHCZLC5YKI55V2AKZN5DGSMU37UHSHZ6X7PLLGS277LQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYHDX3EK3AAV5XVSV7KUA5APSKCERZ6OWKGSDNZQ2SW4MTLO2QNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WO3UVINQ5KLHQBHVZ7RDRGTAUNSDGXFJDPVDRPBZ3ZETGBQRLSCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7Y3JL6H5IA5BKQQDCJNNSMJYJO6YEANTRJ6N42JDBKV7RZI2HQUQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YYFDUKUEBS5R3TK2GWZ2LIO7E3DJPRXHSS4D3KZ6FYAO3UOFB7RQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZBWPEWRK25ACDJNI3YSVCUSQ3QGI46GCHEZVO2G3Q6MV6FELWGA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U6YCACBKHVUYPCE26XPZAUAUN3ELMGR5O47VPGAM36DNMKFBITBA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSWSTPKJ22VASGYZWIIT2BJUV7CLV54FCGCKEKUQ5ORY232GAUNA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E4BHEHGM35WICJCXLCQNCDW7SAFXAHRBU2TFHJFOTYBFXAZGTBGA/awsSdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/63fcb37d-c103-49d4-acca-1f4cdd5be6a6/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHEFKYPAONPDUDGP6IJOHJT2IWGKVBL5F5FM7JGE2MXCFYGXX2VA/awsSdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/292faa65-e1aa-4294-8041-4ecebcd7451f/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMVC54AF5XGYPQDONFLZL6DJ62HH4JAQGS7H2CTAC5VLK5JQUSTQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MY3WAX4JQV3S2DW4GIE5A6ZZBVIOJTIBUACWD5XG5VD4QXJ7TUSA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3PAKTVWJZV2CPG3AG3BAXTMBZEYULD6YDFAXJRRY36I3ULLDS7Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXDDYHRZZTKBCGPBBCPL4HDGXCG6FVM75BWM5OO2E47LXFDST3YA/awsSdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/f2117bfd-9204-459f-b8bf-d016fde05810/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZKFX5TSSQ2E7KJ7Z4JRSFEQDQKPJJDVRXP7XKHMEYU4BLWJM4DQ/awsSdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/c9ef6d28-6dff-457e-a365-ac33d8ca237f/main.js"
            ]
        },
        "GetInsightRuleReport": {
            "input": {
                "type": "structure",
                "required": [
                    "RuleName",
                    "StartTime",
                    "EndTime",
                    "Period"
                ],
                "members": {
                    "TargetAccountId": {},
                    "RuleName": {},
                    "StartTime": {
                        "type": "timestamp"
                    },
                    "EndTime": {
                        "type": "timestamp"
                    },
                    "Period": {
                        "type": "integer"
                    },
                    "MaxContributorResults": {
                        "type": "integer"
                    },
                    "Metrics": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "KeyLabels": {
                        "type": "list",
                        "member": {}
                    },
                    "AggregationStatistic": {},
                    "AggregateValue": {
                        "type": "double"
                    },
                    "ApproximateUniqueCount": {
                        "type": "long"
                    },
                    "Contributors": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Keys",
                                "ApproximateAggregateValue",
                                "Datapoints"
                            ],
                            "members": {
                                "Keys": {
                                    "type": "list",
                                    "member": {}
                                },
                                "ApproximateAggregateValue": {
                                    "type": "double"
                                },
                                "Datapoints": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "required": [
                                            "Timestamp",
                                            "ApproximateValue"
                                        ],
                                        "members": {
                                            "Timestamp": {
                                                "type": "timestamp"
                                            },
                                            "ApproximateValue": {
                                                "type": "double"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "MetricDatapoints": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Timestamp"
                            ],
                            "members": {
                                "Timestamp": {
                                    "type": "timestamp"
                                },
                                "UniqueContributors": {
                                    "type": "double"
                                },
                                "MaxContributorValue": {
                                    "type": "double"
                                },
                                "SampleCount": {
                                    "type": "double"
                                },
                                "Average": {
                                    "type": "double"
                                },
                                "Sum": {
                                    "type": "double"
                                },
                                "Minimum": {
                                    "type": "double"
                                },
                                "Maximum": {
                                    "type": "double"
                                }
                            }
                        }
                    },
                    "RuleAttributes": {
                        "internalonly": true,
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NXYZLYBEQFOJ53S2EVN3CVAPUWISAUIPO4TMBQP2YP5DW7UDDQQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AVHBZD6CAK4HVT3D7PISZTUTU5R6U4VMQI4MNNLHIKSIACDWY4PQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTVSR6NRG5CFONLJSHCL7LPQLE3ZEHZYQLF4E4KXWBZDRQBS4SWQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLX6VOFOZD54MFL7JI7BVZ6N52PN63UNOFLDN6QTBTP3UZ2QSX4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYHGDLM5Y263DUDKCT3Z27Z73HGOMXELIP7VQ63TB3QKNIMSBQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3SAZLB3GHCZLC5YKI55V2AKZN5DGSMU37UHSHZ6X7PLLGS277LQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYHDX3EK3AAV5XVSV7KUA5APSKCERZ6OWKGSDNZQ2SW4MTLO2QNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WO3UVINQ5KLHQBHVZ7RDRGTAUNSDGXFJDPVDRPBZ3ZETGBQRLSCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7Y3JL6H5IA5BKQQDCJNNSMJYJO6YEANTRJ6N42JDBKV7RZI2HQUQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YYFDUKUEBS5R3TK2GWZ2LIO7E3DJPRXHSS4D3KZ6FYAO3UOFB7RQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZBWPEWRK25ACDJNI3YSVCUSQ3QGI46GCHEZVO2G3Q6MV6FELWGA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U6YCACBKHVUYPCE26XPZAUAUN3ELMGR5O47VPGAM36DNMKFBITBA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSWSTPKJ22VASGYZWIIT2BJUV7CLV54FCGCKEKUQ5ORY232GAUNA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E4BHEHGM35WICJCXLCQNCDW7SAFXAHRBU2TFHJFOTYBFXAZGTBGA/awsSdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/63fcb37d-c103-49d4-acca-1f4cdd5be6a6/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHEFKYPAONPDUDGP6IJOHJT2IWGKVBL5F5FM7JGE2MXCFYGXX2VA/awsSdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/292faa65-e1aa-4294-8041-4ecebcd7451f/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMVC54AF5XGYPQDONFLZL6DJ62HH4JAQGS7H2CTAC5VLK5JQUSTQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MY3WAX4JQV3S2DW4GIE5A6ZZBVIOJTIBUACWD5XG5VD4QXJ7TUSA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3PAKTVWJZV2CPG3AG3BAXTMBZEYULD6YDFAXJRRY36I3ULLDS7Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXDDYHRZZTKBCGPBBCPL4HDGXCG6FVM75BWM5OO2E47LXFDST3YA/awsSdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/f2117bfd-9204-459f-b8bf-d016fde05810/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZKFX5TSSQ2E7KJ7Z4JRSFEQDQKPJJDVRXP7XKHMEYU4BLWJM4DQ/awsSdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/c9ef6d28-6dff-457e-a365-ac33d8ca237f/main.js"
            ]
        },
        "GetMetricData": {
            "input": {
                "type": "structure",
                "members": {
                    "Defaults": {
                        "shape": "S1c"
                    },
                    "Metrics": {
                        "shape": "S1b"
                    },
                    "NextToken": {},
                    "ReturnEvaluationMetadata": {
                        "type": "boolean"
                    },
                    "ScanBy": {},
                    "MaxDatapoints": {
                        "type": "integer"
                    },
                    "LabelOptions": {
                        "type": "structure",
                        "members": {
                            "Timezone": {}
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Defaults": {
                        "shape": "S3h"
                    },
                    "EvaluationMetadata": {
                        "type": "structure",
                        "members": {
                            "FetchedTimeSeriesCount": {
                                "type": "integer"
                            },
                            "ExpressionFunctionOccurrences": {
                                "type": "map",
                                "key": {},
                                "value": {
                                    "type": "integer"
                                }
                            }
                        }
                    },
                    "MetricData": {
                        "type": "list",
                        "member": {
                            "shape": "S3h"
                        }
                    },
                    "NextToken": {},
                    "Messages": {
                        "shape": "S3q"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NXYZLYBEQFOJ53S2EVN3CVAPUWISAUIPO4TMBQP2YP5DW7UDDQQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AVHBZD6CAK4HVT3D7PISZTUTU5R6U4VMQI4MNNLHIKSIACDWY4PQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTVSR6NRG5CFONLJSHCL7LPQLE3ZEHZYQLF4E4KXWBZDRQBS4SWQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLX6VOFOZD54MFL7JI7BVZ6N52PN63UNOFLDN6QTBTP3UZ2QSX4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYHGDLM5Y263DUDKCT3Z27Z73HGOMXELIP7VQ63TB3QKNIMSBQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3SAZLB3GHCZLC5YKI55V2AKZN5DGSMU37UHSHZ6X7PLLGS277LQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYHDX3EK3AAV5XVSV7KUA5APSKCERZ6OWKGSDNZQ2SW4MTLO2QNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WO3UVINQ5KLHQBHVZ7RDRGTAUNSDGXFJDPVDRPBZ3ZETGBQRLSCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7Y3JL6H5IA5BKQQDCJNNSMJYJO6YEANTRJ6N42JDBKV7RZI2HQUQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YYFDUKUEBS5R3TK2GWZ2LIO7E3DJPRXHSS4D3KZ6FYAO3UOFB7RQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZBWPEWRK25ACDJNI3YSVCUSQ3QGI46GCHEZVO2G3Q6MV6FELWGA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U6YCACBKHVUYPCE26XPZAUAUN3ELMGR5O47VPGAM36DNMKFBITBA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSWSTPKJ22VASGYZWIIT2BJUV7CLV54FCGCKEKUQ5ORY232GAUNA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E4BHEHGM35WICJCXLCQNCDW7SAFXAHRBU2TFHJFOTYBFXAZGTBGA/awsSdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/63fcb37d-c103-49d4-acca-1f4cdd5be6a6/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHEFKYPAONPDUDGP6IJOHJT2IWGKVBL5F5FM7JGE2MXCFYGXX2VA/awsSdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/292faa65-e1aa-4294-8041-4ecebcd7451f/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMVC54AF5XGYPQDONFLZL6DJ62HH4JAQGS7H2CTAC5VLK5JQUSTQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MY3WAX4JQV3S2DW4GIE5A6ZZBVIOJTIBUACWD5XG5VD4QXJ7TUSA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3PAKTVWJZV2CPG3AG3BAXTMBZEYULD6YDFAXJRRY36I3ULLDS7Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXDDYHRZZTKBCGPBBCPL4HDGXCG6FVM75BWM5OO2E47LXFDST3YA/awsSdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/f2117bfd-9204-459f-b8bf-d016fde05810/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZKFX5TSSQ2E7KJ7Z4JRSFEQDQKPJJDVRXP7XKHMEYU4BLWJM4DQ/awsSdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/c9ef6d28-6dff-457e-a365-ac33d8ca237f/main.js"
            ]
        },
        "ListInsightRules": {
            "input": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "MaxInsightResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "InsightRules": {
                        "shape": "S45"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NXYZLYBEQFOJ53S2EVN3CVAPUWISAUIPO4TMBQP2YP5DW7UDDQQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AVHBZD6CAK4HVT3D7PISZTUTU5R6U4VMQI4MNNLHIKSIACDWY4PQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTVSR6NRG5CFONLJSHCL7LPQLE3ZEHZYQLF4E4KXWBZDRQBS4SWQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLX6VOFOZD54MFL7JI7BVZ6N52PN63UNOFLDN6QTBTP3UZ2QSX4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYHGDLM5Y263DUDKCT3Z27Z73HGOMXELIP7VQ63TB3QKNIMSBQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3SAZLB3GHCZLC5YKI55V2AKZN5DGSMU37UHSHZ6X7PLLGS277LQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYHDX3EK3AAV5XVSV7KUA5APSKCERZ6OWKGSDNZQ2SW4MTLO2QNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WO3UVINQ5KLHQBHVZ7RDRGTAUNSDGXFJDPVDRPBZ3ZETGBQRLSCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7Y3JL6H5IA5BKQQDCJNNSMJYJO6YEANTRJ6N42JDBKV7RZI2HQUQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YYFDUKUEBS5R3TK2GWZ2LIO7E3DJPRXHSS4D3KZ6FYAO3UOFB7RQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZBWPEWRK25ACDJNI3YSVCUSQ3QGI46GCHEZVO2G3Q6MV6FELWGA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U6YCACBKHVUYPCE26XPZAUAUN3ELMGR5O47VPGAM36DNMKFBITBA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSWSTPKJ22VASGYZWIIT2BJUV7CLV54FCGCKEKUQ5ORY232GAUNA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E4BHEHGM35WICJCXLCQNCDW7SAFXAHRBU2TFHJFOTYBFXAZGTBGA/awsSdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/63fcb37d-c103-49d4-acca-1f4cdd5be6a6/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHEFKYPAONPDUDGP6IJOHJT2IWGKVBL5F5FM7JGE2MXCFYGXX2VA/awsSdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/292faa65-e1aa-4294-8041-4ecebcd7451f/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMVC54AF5XGYPQDONFLZL6DJ62HH4JAQGS7H2CTAC5VLK5JQUSTQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MY3WAX4JQV3S2DW4GIE5A6ZZBVIOJTIBUACWD5XG5VD4QXJ7TUSA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3PAKTVWJZV2CPG3AG3BAXTMBZEYULD6YDFAXJRRY36I3ULLDS7Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXDDYHRZZTKBCGPBBCPL4HDGXCG6FVM75BWM5OO2E47LXFDST3YA/awsSdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/f2117bfd-9204-459f-b8bf-d016fde05810/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZKFX5TSSQ2E7KJ7Z4JRSFEQDQKPJJDVRXP7XKHMEYU4BLWJM4DQ/awsSdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/c9ef6d28-6dff-457e-a365-ac33d8ca237f/main.js"
            ]
        },
        "ListInsightRulesSnapshot": {
            "input": {
                "type": "structure",
                "members": {
                    "TargetAccountId": {},
                    "NextToken": {},
                    "SnapshotToken": {},
                    "SourceName": {},
                    "SourceType": {},
                    "StateFilter": {},
                    "MaxInsightResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "SnapshotToken": {},
                    "InsightRules": {
                        "shape": "S45"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NXYZLYBEQFOJ53S2EVN3CVAPUWISAUIPO4TMBQP2YP5DW7UDDQQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AVHBZD6CAK4HVT3D7PISZTUTU5R6U4VMQI4MNNLHIKSIACDWY4PQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTVSR6NRG5CFONLJSHCL7LPQLE3ZEHZYQLF4E4KXWBZDRQBS4SWQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLX6VOFOZD54MFL7JI7BVZ6N52PN63UNOFLDN6QTBTP3UZ2QSX4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYHGDLM5Y263DUDKCT3Z27Z73HGOMXELIP7VQ63TB3QKNIMSBQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3SAZLB3GHCZLC5YKI55V2AKZN5DGSMU37UHSHZ6X7PLLGS277LQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYHDX3EK3AAV5XVSV7KUA5APSKCERZ6OWKGSDNZQ2SW4MTLO2QNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WO3UVINQ5KLHQBHVZ7RDRGTAUNSDGXFJDPVDRPBZ3ZETGBQRLSCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7Y3JL6H5IA5BKQQDCJNNSMJYJO6YEANTRJ6N42JDBKV7RZI2HQUQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YYFDUKUEBS5R3TK2GWZ2LIO7E3DJPRXHSS4D3KZ6FYAO3UOFB7RQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZBWPEWRK25ACDJNI3YSVCUSQ3QGI46GCHEZVO2G3Q6MV6FELWGA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U6YCACBKHVUYPCE26XPZAUAUN3ELMGR5O47VPGAM36DNMKFBITBA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSWSTPKJ22VASGYZWIIT2BJUV7CLV54FCGCKEKUQ5ORY232GAUNA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E4BHEHGM35WICJCXLCQNCDW7SAFXAHRBU2TFHJFOTYBFXAZGTBGA/awsSdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/63fcb37d-c103-49d4-acca-1f4cdd5be6a6/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHEFKYPAONPDUDGP6IJOHJT2IWGKVBL5F5FM7JGE2MXCFYGXX2VA/awsSdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/292faa65-e1aa-4294-8041-4ecebcd7451f/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMVC54AF5XGYPQDONFLZL6DJ62HH4JAQGS7H2CTAC5VLK5JQUSTQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MY3WAX4JQV3S2DW4GIE5A6ZZBVIOJTIBUACWD5XG5VD4QXJ7TUSA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3PAKTVWJZV2CPG3AG3BAXTMBZEYULD6YDFAXJRRY36I3ULLDS7Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXDDYHRZZTKBCGPBBCPL4HDGXCG6FVM75BWM5OO2E47LXFDST3YA/awsSdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/f2117bfd-9204-459f-b8bf-d016fde05810/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZKFX5TSSQ2E7KJ7Z4JRSFEQDQKPJJDVRXP7XKHMEYU4BLWJM4DQ/awsSdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/c9ef6d28-6dff-457e-a365-ac33d8ca237f/main.js"
            ]
        },
        "PutInsightRule": {
            "input": {
                "type": "structure",
                "required": [
                    "RuleName",
                    "RuleDefinition"
                ],
                "members": {
                    "RuleName": {},
                    "RuleState": {},
                    "RuleDefinition": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NXYZLYBEQFOJ53S2EVN3CVAPUWISAUIPO4TMBQP2YP5DW7UDDQQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AVHBZD6CAK4HVT3D7PISZTUTU5R6U4VMQI4MNNLHIKSIACDWY4PQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTVSR6NRG5CFONLJSHCL7LPQLE3ZEHZYQLF4E4KXWBZDRQBS4SWQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLX6VOFOZD54MFL7JI7BVZ6N52PN63UNOFLDN6QTBTP3UZ2QSX4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYHGDLM5Y263DUDKCT3Z27Z73HGOMXELIP7VQ63TB3QKNIMSBQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3SAZLB3GHCZLC5YKI55V2AKZN5DGSMU37UHSHZ6X7PLLGS277LQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYHDX3EK3AAV5XVSV7KUA5APSKCERZ6OWKGSDNZQ2SW4MTLO2QNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WO3UVINQ5KLHQBHVZ7RDRGTAUNSDGXFJDPVDRPBZ3ZETGBQRLSCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7Y3JL6H5IA5BKQQDCJNNSMJYJO6YEANTRJ6N42JDBKV7RZI2HQUQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YYFDUKUEBS5R3TK2GWZ2LIO7E3DJPRXHSS4D3KZ6FYAO3UOFB7RQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZBWPEWRK25ACDJNI3YSVCUSQ3QGI46GCHEZVO2G3Q6MV6FELWGA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U6YCACBKHVUYPCE26XPZAUAUN3ELMGR5O47VPGAM36DNMKFBITBA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSWSTPKJ22VASGYZWIIT2BJUV7CLV54FCGCKEKUQ5ORY232GAUNA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E4BHEHGM35WICJCXLCQNCDW7SAFXAHRBU2TFHJFOTYBFXAZGTBGA/awsSdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/63fcb37d-c103-49d4-acca-1f4cdd5be6a6/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHEFKYPAONPDUDGP6IJOHJT2IWGKVBL5F5FM7JGE2MXCFYGXX2VA/awsSdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/292faa65-e1aa-4294-8041-4ecebcd7451f/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMVC54AF5XGYPQDONFLZL6DJ62HH4JAQGS7H2CTAC5VLK5JQUSTQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MY3WAX4JQV3S2DW4GIE5A6ZZBVIOJTIBUACWD5XG5VD4QXJ7TUSA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3PAKTVWJZV2CPG3AG3BAXTMBZEYULD6YDFAXJRRY36I3ULLDS7Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXDDYHRZZTKBCGPBBCPL4HDGXCG6FVM75BWM5OO2E47LXFDST3YA/awsSdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/f2117bfd-9204-459f-b8bf-d016fde05810/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZKFX5TSSQ2E7KJ7Z4JRSFEQDQKPJJDVRXP7XKHMEYU4BLWJM4DQ/awsSdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/c9ef6d28-6dff-457e-a365-ac33d8ca237f/main.js"
            ]
        },
        "PutInsightRuleData": {
            "input": {
                "type": "structure",
                "required": [
                    "BinaryContributionsData"
                ],
                "members": {
                    "BinaryContributionsData": {
                        "type": "blob"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Failures": {
                        "shape": "S5"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NXYZLYBEQFOJ53S2EVN3CVAPUWISAUIPO4TMBQP2YP5DW7UDDQQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AVHBZD6CAK4HVT3D7PISZTUTU5R6U4VMQI4MNNLHIKSIACDWY4PQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTVSR6NRG5CFONLJSHCL7LPQLE3ZEHZYQLF4E4KXWBZDRQBS4SWQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLX6VOFOZD54MFL7JI7BVZ6N52PN63UNOFLDN6QTBTP3UZ2QSX4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYHGDLM5Y263DUDKCT3Z27Z73HGOMXELIP7VQ63TB3QKNIMSBQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3SAZLB3GHCZLC5YKI55V2AKZN5DGSMU37UHSHZ6X7PLLGS277LQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYHDX3EK3AAV5XVSV7KUA5APSKCERZ6OWKGSDNZQ2SW4MTLO2QNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WO3UVINQ5KLHQBHVZ7RDRGTAUNSDGXFJDPVDRPBZ3ZETGBQRLSCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7Y3JL6H5IA5BKQQDCJNNSMJYJO6YEANTRJ6N42JDBKV7RZI2HQUQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YYFDUKUEBS5R3TK2GWZ2LIO7E3DJPRXHSS4D3KZ6FYAO3UOFB7RQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZBWPEWRK25ACDJNI3YSVCUSQ3QGI46GCHEZVO2G3Q6MV6FELWGA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U6YCACBKHVUYPCE26XPZAUAUN3ELMGR5O47VPGAM36DNMKFBITBA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSWSTPKJ22VASGYZWIIT2BJUV7CLV54FCGCKEKUQ5ORY232GAUNA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E4BHEHGM35WICJCXLCQNCDW7SAFXAHRBU2TFHJFOTYBFXAZGTBGA/awsSdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/63fcb37d-c103-49d4-acca-1f4cdd5be6a6/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHEFKYPAONPDUDGP6IJOHJT2IWGKVBL5F5FM7JGE2MXCFYGXX2VA/awsSdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/292faa65-e1aa-4294-8041-4ecebcd7451f/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMVC54AF5XGYPQDONFLZL6DJ62HH4JAQGS7H2CTAC5VLK5JQUSTQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MY3WAX4JQV3S2DW4GIE5A6ZZBVIOJTIBUACWD5XG5VD4QXJ7TUSA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3PAKTVWJZV2CPG3AG3BAXTMBZEYULD6YDFAXJRRY36I3ULLDS7Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXDDYHRZZTKBCGPBBCPL4HDGXCG6FVM75BWM5OO2E47LXFDST3YA/awsSdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/f2117bfd-9204-459f-b8bf-d016fde05810/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZKFX5TSSQ2E7KJ7Z4JRSFEQDQKPJJDVRXP7XKHMEYU4BLWJM4DQ/awsSdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/c9ef6d28-6dff-457e-a365-ac33d8ca237f/main.js"
            ]
        },
        "SearchMetricSchemas": {
            "input": {
                "type": "structure",
                "members": {
                    "Query": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "MetricSchemaCounts": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "MetricSchema": {
                                    "type": "structure",
                                    "members": {
                                        "Namespace": {},
                                        "DimensionNames": {
                                            "type": "list",
                                            "member": {}
                                        }
                                    },
                                    "xmlOrder": [
                                        "Namespace",
                                        "DimensionNames"
                                    ]
                                },
                                "Count": {
                                    "type": "integer"
                                }
                            },
                            "xmlOrder": [
                                "MetricSchema",
                                "Count"
                            ]
                        }
                    },
                    "HasMore": {
                        "type": "boolean"
                    }
                },
                "xmlOrder": [
                    "MetricSchemaCounts",
                    "HasMore"
                ]
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NXYZLYBEQFOJ53S2EVN3CVAPUWISAUIPO4TMBQP2YP5DW7UDDQQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AVHBZD6CAK4HVT3D7PISZTUTU5R6U4VMQI4MNNLHIKSIACDWY4PQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTVSR6NRG5CFONLJSHCL7LPQLE3ZEHZYQLF4E4KXWBZDRQBS4SWQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLX6VOFOZD54MFL7JI7BVZ6N52PN63UNOFLDN6QTBTP3UZ2QSX4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYHGDLM5Y263DUDKCT3Z27Z73HGOMXELIP7VQ63TB3QKNIMSBQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3SAZLB3GHCZLC5YKI55V2AKZN5DGSMU37UHSHZ6X7PLLGS277LQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYHDX3EK3AAV5XVSV7KUA5APSKCERZ6OWKGSDNZQ2SW4MTLO2QNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WO3UVINQ5KLHQBHVZ7RDRGTAUNSDGXFJDPVDRPBZ3ZETGBQRLSCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7Y3JL6H5IA5BKQQDCJNNSMJYJO6YEANTRJ6N42JDBKV7RZI2HQUQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YYFDUKUEBS5R3TK2GWZ2LIO7E3DJPRXHSS4D3KZ6FYAO3UOFB7RQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZBWPEWRK25ACDJNI3YSVCUSQ3QGI46GCHEZVO2G3Q6MV6FELWGA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U6YCACBKHVUYPCE26XPZAUAUN3ELMGR5O47VPGAM36DNMKFBITBA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSWSTPKJ22VASGYZWIIT2BJUV7CLV54FCGCKEKUQ5ORY232GAUNA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E4BHEHGM35WICJCXLCQNCDW7SAFXAHRBU2TFHJFOTYBFXAZGTBGA/awsSdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/63fcb37d-c103-49d4-acca-1f4cdd5be6a6/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHEFKYPAONPDUDGP6IJOHJT2IWGKVBL5F5FM7JGE2MXCFYGXX2VA/awsSdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/292faa65-e1aa-4294-8041-4ecebcd7451f/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMVC54AF5XGYPQDONFLZL6DJ62HH4JAQGS7H2CTAC5VLK5JQUSTQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MY3WAX4JQV3S2DW4GIE5A6ZZBVIOJTIBUACWD5XG5VD4QXJ7TUSA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3PAKTVWJZV2CPG3AG3BAXTMBZEYULD6YDFAXJRRY36I3ULLDS7Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXDDYHRZZTKBCGPBBCPL4HDGXCG6FVM75BWM5OO2E47LXFDST3YA/awsSdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/f2117bfd-9204-459f-b8bf-d016fde05810/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZKFX5TSSQ2E7KJ7Z4JRSFEQDQKPJJDVRXP7XKHMEYU4BLWJM4DQ/awsSdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/c9ef6d28-6dff-457e-a365-ac33d8ca237f/main.js"
            ]
        },
        "SearchMetrics": {
            "input": {
                "type": "structure",
                "members": {
                    "Query": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Metrics": {
                        "shape": "S1b"
                    },
                    "CurrentNumberOfMatches": {
                        "type": "integer"
                    }
                },
                "xmlOrder": [
                    "Metrics",
                    "CurrentNumberOfMatches"
                ]
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NXYZLYBEQFOJ53S2EVN3CVAPUWISAUIPO4TMBQP2YP5DW7UDDQQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AVHBZD6CAK4HVT3D7PISZTUTU5R6U4VMQI4MNNLHIKSIACDWY4PQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTVSR6NRG5CFONLJSHCL7LPQLE3ZEHZYQLF4E4KXWBZDRQBS4SWQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLX6VOFOZD54MFL7JI7BVZ6N52PN63UNOFLDN6QTBTP3UZ2QSX4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYHGDLM5Y263DUDKCT3Z27Z73HGOMXELIP7VQ63TB3QKNIMSBQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3SAZLB3GHCZLC5YKI55V2AKZN5DGSMU37UHSHZ6X7PLLGS277LQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYHDX3EK3AAV5XVSV7KUA5APSKCERZ6OWKGSDNZQ2SW4MTLO2QNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WO3UVINQ5KLHQBHVZ7RDRGTAUNSDGXFJDPVDRPBZ3ZETGBQRLSCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7Y3JL6H5IA5BKQQDCJNNSMJYJO6YEANTRJ6N42JDBKV7RZI2HQUQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YYFDUKUEBS5R3TK2GWZ2LIO7E3DJPRXHSS4D3KZ6FYAO3UOFB7RQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZBWPEWRK25ACDJNI3YSVCUSQ3QGI46GCHEZVO2G3Q6MV6FELWGA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U6YCACBKHVUYPCE26XPZAUAUN3ELMGR5O47VPGAM36DNMKFBITBA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSWSTPKJ22VASGYZWIIT2BJUV7CLV54FCGCKEKUQ5ORY232GAUNA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E4BHEHGM35WICJCXLCQNCDW7SAFXAHRBU2TFHJFOTYBFXAZGTBGA/awsSdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/63fcb37d-c103-49d4-acca-1f4cdd5be6a6/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHEFKYPAONPDUDGP6IJOHJT2IWGKVBL5F5FM7JGE2MXCFYGXX2VA/awsSdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/292faa65-e1aa-4294-8041-4ecebcd7451f/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMVC54AF5XGYPQDONFLZL6DJ62HH4JAQGS7H2CTAC5VLK5JQUSTQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MY3WAX4JQV3S2DW4GIE5A6ZZBVIOJTIBUACWD5XG5VD4QXJ7TUSA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3PAKTVWJZV2CPG3AG3BAXTMBZEYULD6YDFAXJRRY36I3ULLDS7Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXDDYHRZZTKBCGPBBCPL4HDGXCG6FVM75BWM5OO2E47LXFDST3YA/awsSdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/f2117bfd-9204-459f-b8bf-d016fde05810/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZKFX5TSSQ2E7KJ7Z4JRSFEQDQKPJJDVRXP7XKHMEYU4BLWJM4DQ/awsSdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/c9ef6d28-6dff-457e-a365-ac33d8ca237f/main.js"
            ]
        }
    },
    "shapes": {
        "S2": {
            "type": "list",
            "member": {}
        },
        "S5": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "FailureResource": {},
                    "ExceptionType": {},
                    "FailureCode": {},
                    "FailureDescription": {}
                }
            }
        },
        "Sf": {
            "type": "list",
            "member": {}
        },
        "So": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "AlarmName": {},
                    "AlarmArn": {},
                    "AlarmDescription": {},
                    "AlarmConfigurationUpdatedTimestamp": {
                        "type": "timestamp"
                    },
                    "ActionsEnabled": {
                        "type": "boolean"
                    },
                    "OKActions": {
                        "shape": "Su"
                    },
                    "AlarmActions": {
                        "shape": "Su"
                    },
                    "InsufficientDataActions": {
                        "shape": "Su"
                    },
                    "StateValue": {},
                    "StateReason": {},
                    "StateReasonData": {},
                    "StateUpdatedTimestamp": {
                        "type": "timestamp"
                    },
                    "MetricName": {},
                    "Namespace": {},
                    "Statistic": {
                        "type": "string",
                        "deprecated": true
                    },
                    "Dimensions": {
                        "shape": "S11"
                    },
                    "Period": {
                        "type": "integer"
                    },
                    "Unit": {},
                    "EvaluationPeriods": {
                        "type": "integer"
                    },
                    "DatapointsToAlarm": {
                        "type": "integer"
                    },
                    "Threshold": {
                        "type": "double"
                    },
                    "ComparisonOperator": {},
                    "Metrics": {
                        "shape": "S1b"
                    },
                    "EvaluationPeriodsToOK": {
                        "type": "integer"
                    },
                    "ExtendedStatistic": {},
                    "MissingDataPointTreatment": {},
                    "TreatMissingData": {},
                    "EvaluateLowSampleCountPercentile": {},
                    "SampleCountThreshold": {},
                    "Actions": {
                        "type": "list",
                        "member": {
                            "shape": "S1s"
                        }
                    },
                    "AlarmData": {},
                    "ConsecutivePeriodsToOk": {
                        "type": "integer"
                    },
                    "ConsecutivePeriodsToAlarm": {
                        "type": "integer"
                    },
                    "AlarmConditions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Threshold": {},
                                "ThresholdOffset": {
                                    "type": "double"
                                },
                                "ComparisonOperator": {}
                            }
                        }
                    },
                    "ThresholdPercentageAdjustmentToOk": {
                        "type": "integer"
                    },
                    "CreationId": {},
                    "ThresholdMetricId": {},
                    "ResourceArn": {},
                    "AlarmManagerArn": {},
                    "EvaluationState": {},
                    "StateTransitionedTimestamp": {
                        "type": "timestamp"
                    }
                },
                "xmlOrder": [
                    "AlarmName",
                    "AlarmArn",
                    "AlarmDescription",
                    "AlarmConfigurationUpdatedTimestamp",
                    "ActionsEnabled",
                    "OKActions",
                    "AlarmActions",
                    "InsufficientDataActions",
                    "StateValue",
                    "StateReason",
                    "StateReasonData",
                    "StateUpdatedTimestamp",
                    "MetricName",
                    "Namespace",
                    "Statistic",
                    "Dimensions",
                    "Period",
                    "Unit",
                    "EvaluationPeriods",
                    "Threshold",
                    "ComparisonOperator",
                    "EvaluationPeriodsToOK",
                    "ExtendedStatistic",
                    "MissingDataPointTreatment",
                    "SampleCountThreshold",
                    "Actions",
                    "AlarmData",
                    "ConsecutivePeriodsToOk",
                    "ConsecutivePeriodsToAlarm",
                    "AlarmConditions",
                    "ThresholdPercentageAdjustmentToOk",
                    "TreatMissingData",
                    "EvaluateLowSampleCountPercentile",
                    "DatapointsToAlarm",
                    "Metrics",
                    "CreationId",
                    "ThresholdMetricId",
                    "ResourceArn",
                    "AlarmManagerArn",
                    "EvaluationState",
                    "StateTransitionedTimestamp"
                ]
            }
        },
        "Su": {
            "type": "list",
            "member": {}
        },
        "S11": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "Name",
                    "Value"
                ],
                "members": {
                    "Name": {},
                    "Value": {}
                },
                "xmlOrder": [
                    "Name",
                    "Value"
                ]
            }
        },
        "S1b": {
            "type": "list",
            "member": {
                "shape": "S1c"
            }
        },
        "S1c": {
            "type": "structure",
            "members": {
                "Alias": {},
                "Region": {},
                "AccountId": {},
                "Namespace": {},
                "MetricName": {},
                "Dimensions": {
                    "shape": "S11"
                },
                "Period": {
                    "type": "integer"
                },
                "Stat": {},
                "Unit": {},
                "Range": {
                    "type": "structure",
                    "required": [
                        "StartTime",
                        "EndTime"
                    ],
                    "members": {
                        "StartTime": {
                            "type": "timestamp"
                        },
                        "EndTime": {
                            "type": "timestamp"
                        }
                    },
                    "xmlOrder": [
                        "StartTime",
                        "EndTime"
                    ]
                },
                "Label": {},
                "ReturnData": {
                    "type": "boolean"
                },
                "Expression": {},
                "ReturnDistributions": {
                    "type": "boolean"
                }
            }
        },
        "S1s": {
            "type": "structure",
            "required": [
                "ActionCondition",
                "ActionARN"
            ],
            "members": {
                "ActionCondition": {},
                "ActionARN": {},
                "ActionData": {}
            }
        },
        "S23": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "ActionsEnabled": {
                        "type": "boolean"
                    },
                    "AlarmActions": {
                        "shape": "Su"
                    },
                    "AlarmArn": {},
                    "AlarmConfigurationUpdatedTimestamp": {
                        "type": "timestamp"
                    },
                    "AlarmDescription": {},
                    "AlarmName": {},
                    "AlarmRule": {},
                    "CreationId": {},
                    "InsufficientDataActions": {
                        "shape": "Su"
                    },
                    "OKActions": {
                        "shape": "Su"
                    },
                    "StateReason": {},
                    "StateReasonData": {},
                    "StateUpdatedTimestamp": {
                        "type": "timestamp"
                    },
                    "StateValue": {},
                    "StateTransitionedTimestamp": {
                        "type": "timestamp"
                    },
                    "ActionsSuppressedBy": {},
                    "ActionsSuppressedReason": {},
                    "ActionsSuppressor": {},
                    "ActionsSuppressorWaitPeriod": {
                        "type": "integer"
                    },
                    "ActionsSuppressorExtensionPeriod": {
                        "type": "integer"
                    },
                    "Actions": {
                        "type": "list",
                        "member": {
                            "shape": "S1s"
                        }
                    },
                    "AlarmOverrides": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "StateValue": {},
                                "ActionsSuppressed": {
                                    "type": "boolean"
                                },
                                "Schedule": {},
                                "Duration": {
                                    "type": "integer"
                                },
                                "Reason": {}
                            }
                        }
                    }
                },
                "xmlOrder": [
                    "ActionsEnabled",
                    "AlarmActions",
                    "AlarmArn",
                    "AlarmConfigurationUpdatedTimestamp",
                    "AlarmDescription",
                    "AlarmName",
                    "AlarmRule",
                    "CreationId",
                    "InsufficientDataActions",
                    "OKActions",
                    "StateReason",
                    "StateReasonData",
                    "StateUpdatedTimestamp",
                    "StateValue",
                    "StateTransitionedTimestamp",
                    "ActionsSuppressedBy",
                    "ActionsSuppressedReason",
                    "ActionsSuppressor",
                    "ActionsSuppressorWaitPeriod",
                    "ActionsSuppressorExtensionPeriod",
                    "Actions",
                    "AlarmOverrides"
                ]
            }
        },
        "S3h": {
            "type": "structure",
            "members": {
                "Alias": {},
                "Region": {},
                "AccountId": {},
                "StatusCode": {},
                "Namespace": {},
                "MetricName": {},
                "Dimensions": {
                    "shape": "S11"
                },
                "Period": {
                    "type": "integer"
                },
                "Timestamp": {
                    "type": "timestamp"
                },
                "Timestamps": {
                    "type": "list",
                    "member": {
                        "type": "timestamp"
                    }
                },
                "Stat": {},
                "Unit": {},
                "Value": {
                    "deprecated": true,
                    "type": "double"
                },
                "StatisticValues": {
                    "shape": "S3l"
                },
                "Values": {
                    "shape": "S3m"
                },
                "Counts": {
                    "shape": "S3n"
                },
                "StorageResolution": {
                    "type": "integer"
                },
                "Label": {},
                "ListElement": {
                    "type": "boolean"
                },
                "Messages": {
                    "shape": "S3q"
                },
                "Distributions": {
                    "type": "list",
                    "member": {
                        "type": "structure",
                        "members": {
                            "StatisticValues": {
                                "shape": "S3l"
                            },
                            "Values": {
                                "shape": "S3m"
                            },
                            "Counts": {
                                "shape": "S3n"
                            }
                        }
                    }
                }
            }
        },
        "S3l": {
            "type": "structure",
            "required": [
                "SampleCount",
                "Sum",
                "Minimum",
                "Maximum"
            ],
            "members": {
                "SampleCount": {
                    "type": "double"
                },
                "Sum": {
                    "type": "double"
                },
                "Minimum": {
                    "type": "double"
                },
                "Maximum": {
                    "type": "double"
                }
            }
        },
        "S3m": {
            "type": "list",
            "member": {
                "type": "double"
            }
        },
        "S3n": {
            "type": "list",
            "member": {
                "type": "double"
            }
        },
        "S3q": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "Code": {},
                    "Value": {}
                }
            }
        },
        "S45": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "Name",
                    "State",
                    "Definition"
                ],
                "members": {
                    "Name": {},
                    "State": {},
                    "Definition": {},
                    "CellId": {},
                    "Destinations": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Name": {}
                            }
                        }
                    },
                    "DestinationAccountId": {},
                    "RuleMetadata": {
                        "type": "blob"
                    }
                }
            }
        },
        "S1r": {
            "type": "structure",
            "required": [
                "ActionCondition",
                "ActionARN"
            ],
            "members": {
                "ActionCondition": {},
                "ActionARN": {},
                "ActionData": {}
            }
        },
        "S22": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "ActionsEnabled": {
                        "type": "boolean"
                    },
                    "AlarmActions": {
                        "shape": "Su"
                    },
                    "AlarmArn": {},
                    "AlarmConfigurationUpdatedTimestamp": {
                        "type": "timestamp"
                    },
                    "AlarmDescription": {},
                    "AlarmName": {},
                    "AlarmRule": {},
                    "CreationId": {},
                    "InsufficientDataActions": {
                        "shape": "Su"
                    },
                    "OKActions": {
                        "shape": "Su"
                    },
                    "StateReason": {},
                    "StateReasonData": {},
                    "StateUpdatedTimestamp": {
                        "type": "timestamp"
                    },
                    "StateValue": {},
                    "StateTransitionedTimestamp": {
                        "type": "timestamp"
                    },
                    "ActionsSuppressedBy": {},
                    "ActionsSuppressedReason": {},
                    "ActionsSuppressor": {},
                    "ActionsSuppressorWaitPeriod": {
                        "type": "integer"
                    },
                    "ActionsSuppressorExtensionPeriod": {
                        "type": "integer"
                    },
                    "Actions": {
                        "type": "list",
                        "member": {
                            "shape": "S1r"
                        }
                    },
                    "AlarmOverrides": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "StateValue": {},
                                "ActionsSuppressed": {
                                    "type": "boolean"
                                },
                                "Schedule": {},
                                "Duration": {
                                    "type": "integer"
                                },
                                "Reason": {}
                            }
                        }
                    }
                },
                "xmlOrder": [
                    "ActionsEnabled",
                    "AlarmActions",
                    "AlarmArn",
                    "AlarmConfigurationUpdatedTimestamp",
                    "AlarmDescription",
                    "AlarmName",
                    "AlarmRule",
                    "CreationId",
                    "InsufficientDataActions",
                    "OKActions",
                    "StateReason",
                    "StateReasonData",
                    "StateUpdatedTimestamp",
                    "StateValue",
                    "StateTransitionedTimestamp",
                    "ActionsSuppressedBy",
                    "ActionsSuppressedReason",
                    "ActionsSuppressor",
                    "ActionsSuppressorWaitPeriod",
                    "ActionsSuppressorExtensionPeriod",
                    "Actions",
                    "AlarmOverrides"
                ]
            }
        },
        "S3g": {
            "type": "structure",
            "members": {
                "Alias": {},
                "Region": {},
                "AccountId": {},
                "StatusCode": {},
                "Namespace": {},
                "MetricName": {},
                "Dimensions": {
                    "shape": "S11"
                },
                "Period": {
                    "type": "integer"
                },
                "Timestamp": {
                    "type": "timestamp"
                },
                "Timestamps": {
                    "type": "list",
                    "member": {
                        "type": "timestamp"
                    }
                },
                "Stat": {},
                "Unit": {},
                "Value": {
                    "deprecated": true,
                    "type": "double"
                },
                "StatisticValues": {
                    "type": "structure",
                    "required": [
                        "SampleCount",
                        "Sum",
                        "Minimum",
                        "Maximum"
                    ],
                    "members": {
                        "SampleCount": {
                            "type": "double"
                        },
                        "Sum": {
                            "type": "double"
                        },
                        "Minimum": {
                            "type": "double"
                        },
                        "Maximum": {
                            "type": "double"
                        }
                    }
                },
                "Values": {
                    "type": "list",
                    "member": {
                        "type": "double"
                    }
                },
                "Counts": {
                    "type": "list",
                    "member": {
                        "type": "double"
                    }
                },
                "StorageResolution": {
                    "type": "integer"
                },
                "Label": {},
                "ListElement": {
                    "type": "boolean"
                },
                "Messages": {
                    "shape": "S3p"
                }
            }
        },
        "S3p": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "Code": {},
                    "Value": {}
                }
            }
        },
        "S42": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "Name",
                    "State",
                    "Definition"
                ],
                "members": {
                    "Name": {},
                    "State": {},
                    "Definition": {},
                    "CellId": {},
                    "Destinations": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Name": {}
                            }
                        }
                    },
                    "DestinationAccountId": {},
                    "RuleMetadata": {
                        "type": "blob"
                    }
                }
            }
        }
    }
}