{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2010-08-01",
        "endpointPrefix": "monitoring",
        "protocol": "query",
        "serviceAbbreviation": "CloudWatch",
        "serviceFullName": "Amazon CloudWatch",
        "serviceId": "CloudWatch",
        "signatureVersion": "v4",
        "uid": "monitoring-2010-08-01",
        "xmlNamespace": "http://monitoring.amazonaws.com/doc/2010-08-01/",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/JJMLDE7XFZMTHU6TKYTXRNZUJIBSTAFWYMZLQQ7HQFI4AS5OUW2A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZP5LNXEAGBCHP4KJYEBKJKKZEGVATSXB443ZXU6S7OGUUTXRVCMA/index.en.v2.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JTDMV77SV6Q7KYAK3YHB6UFLTCCVZPDDARGZVLVIGSC3HKENISGQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DVPN4NOEU35ZBVDWTGMOKLOWMOLIGAWSFD2QMAYFPEQZDAJEJMTQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IP27GBN4AJ2T3JAXZ2ACKQSHSMWVJGNMPFRUQQZREZMRRMCU4ZEA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/A3GOMSKKRY4V6XNAQLZNQP7ERSFVDABOOBBIT4A5URVIHCOZH4LQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QASJLVKSZPUPMXMWKBFUNBSFPARFTBFDI7PPTIFA2NWCS2X7AMDA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/1ff71b59aacf8ace3fac100a100ef8ca.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
            "https://dd25om75gc08l.cloudfront.net/20240814173014790/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PZGTJZRZVYICAWUCM5FLFS4QGEEP3ZYHVDCOKVWZGA4F5V66PHGQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IW5Y7IXSL2V7V3KP4YACNXVN6YA65DSKIGQFW522IT3DD2NBHD5A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PV3LHWOXID5RNHEK5ZNNCUNTOKG6Q2NCNSWA37HUTP7XQBVV5LDA/vendor.js",
            "https://d29sfhxsuc7nqn.cloudfront.net/content/26792995-3405-4d6b-bf78-f3040a0f3dd7/vendorv3.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/E5ENGY32GUWOWLISDF76OS2GZDBAKF4XYRSOWZUU26IRATPEU3LQ/vendor.sdk.js"
        ]
    },
    "operations": {
        "DeleteAlarms": {
            "input": {
                "type": "structure",
                "required": [
                    "AlarmNames"
                ],
                "members": {
                    "AlarmNames": {
                        "shape": "S2"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJMLDE7XFZMTHU6TKYTXRNZUJIBSTAFWYMZLQQ7HQFI4AS5OUW2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZP5LNXEAGBCHP4KJYEBKJKKZEGVATSXB443ZXU6S7OGUUTXRVCMA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTDMV77SV6Q7KYAK3YHB6UFLTCCVZPDDARGZVLVIGSC3HKENISGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVPN4NOEU35ZBVDWTGMOKLOWMOLIGAWSFD2QMAYFPEQZDAJEJMTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IP27GBN4AJ2T3JAXZ2ACKQSHSMWVJGNMPFRUQQZREZMRRMCU4ZEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3GOMSKKRY4V6XNAQLZNQP7ERSFVDABOOBBIT4A5URVIHCOZH4LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QASJLVKSZPUPMXMWKBFUNBSFPARFTBFDI7PPTIFA2NWCS2X7AMDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
                "https://dd25om75gc08l.cloudfront.net/20240814173014790/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZGTJZRZVYICAWUCM5FLFS4QGEEP3ZYHVDCOKVWZGA4F5V66PHGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW5Y7IXSL2V7V3KP4YACNXVN6YA65DSKIGQFW522IT3DD2NBHD5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV3LHWOXID5RNHEK5ZNNCUNTOKG6Q2NCNSWA37HUTP7XQBVV5LDA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/26792995-3405-4d6b-bf78-f3040a0f3dd7/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5ENGY32GUWOWLISDF76OS2GZDBAKF4XYRSOWZUU26IRATPEU3LQ/vendor.sdk.js"
            ]
        },
        "DeleteAnomalyDetector": {
            "input": {
                "type": "structure",
                "required": [
                    "Namespace",
                    "MetricName",
                    "Stat"
                ],
                "members": {
                    "Namespace": {},
                    "MetricName": {},
                    "Dimensions": {
                        "shape": "S7"
                    },
                    "Stat": {},
                    "SingleMetricAnomalyDetector": {
                        "shape": "Sc"
                    },
                    "MetricMathAnomalyDetector": {
                        "shape": "Sd"
                    }
                }
            },
            "output": {
                "resultWrapper": "DeleteAnomalyDetectorResult",
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJMLDE7XFZMTHU6TKYTXRNZUJIBSTAFWYMZLQQ7HQFI4AS5OUW2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZP5LNXEAGBCHP4KJYEBKJKKZEGVATSXB443ZXU6S7OGUUTXRVCMA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTDMV77SV6Q7KYAK3YHB6UFLTCCVZPDDARGZVLVIGSC3HKENISGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVPN4NOEU35ZBVDWTGMOKLOWMOLIGAWSFD2QMAYFPEQZDAJEJMTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IP27GBN4AJ2T3JAXZ2ACKQSHSMWVJGNMPFRUQQZREZMRRMCU4ZEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3GOMSKKRY4V6XNAQLZNQP7ERSFVDABOOBBIT4A5URVIHCOZH4LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QASJLVKSZPUPMXMWKBFUNBSFPARFTBFDI7PPTIFA2NWCS2X7AMDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
                "https://dd25om75gc08l.cloudfront.net/20240814173014790/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZGTJZRZVYICAWUCM5FLFS4QGEEP3ZYHVDCOKVWZGA4F5V66PHGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW5Y7IXSL2V7V3KP4YACNXVN6YA65DSKIGQFW522IT3DD2NBHD5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV3LHWOXID5RNHEK5ZNNCUNTOKG6Q2NCNSWA37HUTP7XQBVV5LDA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/26792995-3405-4d6b-bf78-f3040a0f3dd7/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5ENGY32GUWOWLISDF76OS2GZDBAKF4XYRSOWZUU26IRATPEU3LQ/vendor.sdk.js"
            ]
        },
        "DeleteDashboards": {
            "input": {
                "type": "structure",
                "required": [
                    "DashboardNames"
                ],
                "members": {
                    "DashboardNames": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "resultWrapper": "DeleteDashboardsResult",
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJMLDE7XFZMTHU6TKYTXRNZUJIBSTAFWYMZLQQ7HQFI4AS5OUW2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZP5LNXEAGBCHP4KJYEBKJKKZEGVATSXB443ZXU6S7OGUUTXRVCMA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTDMV77SV6Q7KYAK3YHB6UFLTCCVZPDDARGZVLVIGSC3HKENISGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVPN4NOEU35ZBVDWTGMOKLOWMOLIGAWSFD2QMAYFPEQZDAJEJMTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IP27GBN4AJ2T3JAXZ2ACKQSHSMWVJGNMPFRUQQZREZMRRMCU4ZEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3GOMSKKRY4V6XNAQLZNQP7ERSFVDABOOBBIT4A5URVIHCOZH4LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QASJLVKSZPUPMXMWKBFUNBSFPARFTBFDI7PPTIFA2NWCS2X7AMDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
                "https://dd25om75gc08l.cloudfront.net/20240814173014790/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZGTJZRZVYICAWUCM5FLFS4QGEEP3ZYHVDCOKVWZGA4F5V66PHGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW5Y7IXSL2V7V3KP4YACNXVN6YA65DSKIGQFW522IT3DD2NBHD5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV3LHWOXID5RNHEK5ZNNCUNTOKG6Q2NCNSWA37HUTP7XQBVV5LDA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/26792995-3405-4d6b-bf78-f3040a0f3dd7/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5ENGY32GUWOWLISDF76OS2GZDBAKF4XYRSOWZUU26IRATPEU3LQ/vendor.sdk.js"
            ]
        },
        "DeleteInsightRules": {
            "input": {
                "type": "structure",
                "required": [
                    "RuleNames"
                ],
                "members": {
                    "RuleNames": {
                        "shape": "Si"
                    }
                }
            },
            "output": {
                "resultWrapper": "DeleteInsightRulesResult",
                "type": "structure",
                "members": {
                    "Failures": {
                        "shape": "Sl"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJMLDE7XFZMTHU6TKYTXRNZUJIBSTAFWYMZLQQ7HQFI4AS5OUW2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZP5LNXEAGBCHP4KJYEBKJKKZEGVATSXB443ZXU6S7OGUUTXRVCMA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTDMV77SV6Q7KYAK3YHB6UFLTCCVZPDDARGZVLVIGSC3HKENISGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVPN4NOEU35ZBVDWTGMOKLOWMOLIGAWSFD2QMAYFPEQZDAJEJMTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IP27GBN4AJ2T3JAXZ2ACKQSHSMWVJGNMPFRUQQZREZMRRMCU4ZEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3GOMSKKRY4V6XNAQLZNQP7ERSFVDABOOBBIT4A5URVIHCOZH4LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QASJLVKSZPUPMXMWKBFUNBSFPARFTBFDI7PPTIFA2NWCS2X7AMDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
                "https://dd25om75gc08l.cloudfront.net/20240814173014790/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZGTJZRZVYICAWUCM5FLFS4QGEEP3ZYHVDCOKVWZGA4F5V66PHGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW5Y7IXSL2V7V3KP4YACNXVN6YA65DSKIGQFW522IT3DD2NBHD5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV3LHWOXID5RNHEK5ZNNCUNTOKG6Q2NCNSWA37HUTP7XQBVV5LDA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/26792995-3405-4d6b-bf78-f3040a0f3dd7/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5ENGY32GUWOWLISDF76OS2GZDBAKF4XYRSOWZUU26IRATPEU3LQ/vendor.sdk.js"
            ]
        },
        "DeleteMetricStream": {
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {}
                }
            },
            "output": {
                "resultWrapper": "DeleteMetricStreamResult",
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJMLDE7XFZMTHU6TKYTXRNZUJIBSTAFWYMZLQQ7HQFI4AS5OUW2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZP5LNXEAGBCHP4KJYEBKJKKZEGVATSXB443ZXU6S7OGUUTXRVCMA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTDMV77SV6Q7KYAK3YHB6UFLTCCVZPDDARGZVLVIGSC3HKENISGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVPN4NOEU35ZBVDWTGMOKLOWMOLIGAWSFD2QMAYFPEQZDAJEJMTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IP27GBN4AJ2T3JAXZ2ACKQSHSMWVJGNMPFRUQQZREZMRRMCU4ZEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3GOMSKKRY4V6XNAQLZNQP7ERSFVDABOOBBIT4A5URVIHCOZH4LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QASJLVKSZPUPMXMWKBFUNBSFPARFTBFDI7PPTIFA2NWCS2X7AMDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
                "https://dd25om75gc08l.cloudfront.net/20240814173014790/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZGTJZRZVYICAWUCM5FLFS4QGEEP3ZYHVDCOKVWZGA4F5V66PHGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW5Y7IXSL2V7V3KP4YACNXVN6YA65DSKIGQFW522IT3DD2NBHD5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV3LHWOXID5RNHEK5ZNNCUNTOKG6Q2NCNSWA37HUTP7XQBVV5LDA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/26792995-3405-4d6b-bf78-f3040a0f3dd7/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5ENGY32GUWOWLISDF76OS2GZDBAKF4XYRSOWZUU26IRATPEU3LQ/vendor.sdk.js"
            ]
        },
        "DescribeAlarmHistory": {
            "input": {
                "type": "structure",
                "members": {
                    "AlarmName": {},
                    "AlarmTypes": {
                        "shape": "Sv"
                    },
                    "HistoryItemType": {},
                    "StartDate": {
                        "type": "timestamp"
                    },
                    "EndDate": {
                        "type": "timestamp"
                    },
                    "MaxRecords": {
                        "type": "integer"
                    },
                    "NextToken": {},
                    "ScanBy": {}
                }
            },
            "output": {
                "resultWrapper": "DescribeAlarmHistoryResult",
                "type": "structure",
                "members": {
                    "AlarmHistoryItems": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "AlarmName": {},
                                "AlarmType": {},
                                "Timestamp": {
                                    "type": "timestamp"
                                },
                                "HistoryItemType": {},
                                "HistorySummary": {},
                                "HistoryData": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJMLDE7XFZMTHU6TKYTXRNZUJIBSTAFWYMZLQQ7HQFI4AS5OUW2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZP5LNXEAGBCHP4KJYEBKJKKZEGVATSXB443ZXU6S7OGUUTXRVCMA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTDMV77SV6Q7KYAK3YHB6UFLTCCVZPDDARGZVLVIGSC3HKENISGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVPN4NOEU35ZBVDWTGMOKLOWMOLIGAWSFD2QMAYFPEQZDAJEJMTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IP27GBN4AJ2T3JAXZ2ACKQSHSMWVJGNMPFRUQQZREZMRRMCU4ZEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3GOMSKKRY4V6XNAQLZNQP7ERSFVDABOOBBIT4A5URVIHCOZH4LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QASJLVKSZPUPMXMWKBFUNBSFPARFTBFDI7PPTIFA2NWCS2X7AMDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
                "https://dd25om75gc08l.cloudfront.net/20240814173014790/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZGTJZRZVYICAWUCM5FLFS4QGEEP3ZYHVDCOKVWZGA4F5V66PHGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW5Y7IXSL2V7V3KP4YACNXVN6YA65DSKIGQFW522IT3DD2NBHD5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV3LHWOXID5RNHEK5ZNNCUNTOKG6Q2NCNSWA37HUTP7XQBVV5LDA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/26792995-3405-4d6b-bf78-f3040a0f3dd7/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5ENGY32GUWOWLISDF76OS2GZDBAKF4XYRSOWZUU26IRATPEU3LQ/vendor.sdk.js"
            ]
        },
        "DescribeAlarms": {
            "input": {
                "type": "structure",
                "members": {
                    "AlarmNames": {
                        "shape": "S2"
                    },
                    "AlarmNamePrefix": {},
                    "AlarmTypes": {
                        "shape": "Sv"
                    },
                    "ChildrenOfAlarmName": {},
                    "ParentsOfAlarmName": {},
                    "StateValue": {},
                    "ActionPrefix": {},
                    "MaxRecords": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "resultWrapper": "DescribeAlarmsResult",
                "type": "structure",
                "members": {
                    "CompositeAlarms": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ActionsEnabled": {
                                    "type": "boolean"
                                },
                                "AlarmActions": {
                                    "shape": "S1f"
                                },
                                "AlarmArn": {},
                                "AlarmConfigurationUpdatedTimestamp": {
                                    "type": "timestamp"
                                },
                                "AlarmDescription": {},
                                "AlarmName": {},
                                "AlarmRule": {},
                                "InsufficientDataActions": {
                                    "shape": "S1f"
                                },
                                "OKActions": {
                                    "shape": "S1f"
                                },
                                "StateReason": {},
                                "StateReasonData": {},
                                "StateUpdatedTimestamp": {
                                    "type": "timestamp"
                                },
                                "StateValue": {}
                            },
                            "xmlOrder": [
                                "ActionsEnabled",
                                "AlarmActions",
                                "AlarmArn",
                                "AlarmConfigurationUpdatedTimestamp",
                                "AlarmDescription",
                                "AlarmName",
                                "AlarmRule",
                                "InsufficientDataActions",
                                "OKActions",
                                "StateReason",
                                "StateReasonData",
                                "StateUpdatedTimestamp",
                                "StateValue"
                            ]
                        }
                    },
                    "MetricAlarms": {
                        "shape": "S1m"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJMLDE7XFZMTHU6TKYTXRNZUJIBSTAFWYMZLQQ7HQFI4AS5OUW2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZP5LNXEAGBCHP4KJYEBKJKKZEGVATSXB443ZXU6S7OGUUTXRVCMA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTDMV77SV6Q7KYAK3YHB6UFLTCCVZPDDARGZVLVIGSC3HKENISGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVPN4NOEU35ZBVDWTGMOKLOWMOLIGAWSFD2QMAYFPEQZDAJEJMTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IP27GBN4AJ2T3JAXZ2ACKQSHSMWVJGNMPFRUQQZREZMRRMCU4ZEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3GOMSKKRY4V6XNAQLZNQP7ERSFVDABOOBBIT4A5URVIHCOZH4LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QASJLVKSZPUPMXMWKBFUNBSFPARFTBFDI7PPTIFA2NWCS2X7AMDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
                "https://dd25om75gc08l.cloudfront.net/20240814173014790/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZGTJZRZVYICAWUCM5FLFS4QGEEP3ZYHVDCOKVWZGA4F5V66PHGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW5Y7IXSL2V7V3KP4YACNXVN6YA65DSKIGQFW522IT3DD2NBHD5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV3LHWOXID5RNHEK5ZNNCUNTOKG6Q2NCNSWA37HUTP7XQBVV5LDA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/26792995-3405-4d6b-bf78-f3040a0f3dd7/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5ENGY32GUWOWLISDF76OS2GZDBAKF4XYRSOWZUU26IRATPEU3LQ/vendor.sdk.js"
            ]
        },
        "DescribeAlarmsForMetric": {
            "input": {
                "type": "structure",
                "required": [
                    "MetricName",
                    "Namespace"
                ],
                "members": {
                    "MetricName": {},
                    "Namespace": {},
                    "Statistic": {},
                    "ExtendedStatistic": {},
                    "Dimensions": {
                        "shape": "S7"
                    },
                    "Period": {
                        "type": "integer"
                    },
                    "Unit": {}
                }
            },
            "output": {
                "resultWrapper": "DescribeAlarmsForMetricResult",
                "type": "structure",
                "members": {
                    "MetricAlarms": {
                        "shape": "S1m"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJMLDE7XFZMTHU6TKYTXRNZUJIBSTAFWYMZLQQ7HQFI4AS5OUW2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZP5LNXEAGBCHP4KJYEBKJKKZEGVATSXB443ZXU6S7OGUUTXRVCMA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTDMV77SV6Q7KYAK3YHB6UFLTCCVZPDDARGZVLVIGSC3HKENISGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVPN4NOEU35ZBVDWTGMOKLOWMOLIGAWSFD2QMAYFPEQZDAJEJMTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IP27GBN4AJ2T3JAXZ2ACKQSHSMWVJGNMPFRUQQZREZMRRMCU4ZEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3GOMSKKRY4V6XNAQLZNQP7ERSFVDABOOBBIT4A5URVIHCOZH4LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QASJLVKSZPUPMXMWKBFUNBSFPARFTBFDI7PPTIFA2NWCS2X7AMDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
                "https://dd25om75gc08l.cloudfront.net/20240814173014790/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZGTJZRZVYICAWUCM5FLFS4QGEEP3ZYHVDCOKVWZGA4F5V66PHGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW5Y7IXSL2V7V3KP4YACNXVN6YA65DSKIGQFW522IT3DD2NBHD5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV3LHWOXID5RNHEK5ZNNCUNTOKG6Q2NCNSWA37HUTP7XQBVV5LDA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/26792995-3405-4d6b-bf78-f3040a0f3dd7/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5ENGY32GUWOWLISDF76OS2GZDBAKF4XYRSOWZUU26IRATPEU3LQ/vendor.sdk.js"
            ]
        },
        "DescribeAnomalyDetectors": {
            "input": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "Namespace": {},
                    "MetricName": {},
                    "Dimensions": {
                        "shape": "S7"
                    },
                    "AnomalyDetectorTypes": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "resultWrapper": "DescribeAnomalyDetectorsResult",
                "type": "structure",
                "members": {
                    "AnomalyDetectors": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Namespace": {},
                                "MetricName": {},
                                "Dimensions": {
                                    "shape": "S7"
                                },
                                "Stat": {},
                                "Configuration": {
                                    "shape": "S2e"
                                },
                                "StateValue": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJMLDE7XFZMTHU6TKYTXRNZUJIBSTAFWYMZLQQ7HQFI4AS5OUW2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZP5LNXEAGBCHP4KJYEBKJKKZEGVATSXB443ZXU6S7OGUUTXRVCMA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTDMV77SV6Q7KYAK3YHB6UFLTCCVZPDDARGZVLVIGSC3HKENISGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVPN4NOEU35ZBVDWTGMOKLOWMOLIGAWSFD2QMAYFPEQZDAJEJMTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IP27GBN4AJ2T3JAXZ2ACKQSHSMWVJGNMPFRUQQZREZMRRMCU4ZEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3GOMSKKRY4V6XNAQLZNQP7ERSFVDABOOBBIT4A5URVIHCOZH4LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QASJLVKSZPUPMXMWKBFUNBSFPARFTBFDI7PPTIFA2NWCS2X7AMDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
                "https://dd25om75gc08l.cloudfront.net/20240814173014790/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZGTJZRZVYICAWUCM5FLFS4QGEEP3ZYHVDCOKVWZGA4F5V66PHGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW5Y7IXSL2V7V3KP4YACNXVN6YA65DSKIGQFW522IT3DD2NBHD5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV3LHWOXID5RNHEK5ZNNCUNTOKG6Q2NCNSWA37HUTP7XQBVV5LDA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/26792995-3405-4d6b-bf78-f3040a0f3dd7/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5ENGY32GUWOWLISDF76OS2GZDBAKF4XYRSOWZUU26IRATPEU3LQ/vendor.sdk.js"
            ]
        },
        "DescribeInsightRules": {
            "input": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "resultWrapper": "DescribeInsightRulesResult",
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "InsightRules": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Name",
                                "State",
                                "Schema",
                                "Definition"
                            ],
                            "members": {
                                "Name": {},
                                "State": {},
                                "Schema": {},
                                "Definition": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJMLDE7XFZMTHU6TKYTXRNZUJIBSTAFWYMZLQQ7HQFI4AS5OUW2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZP5LNXEAGBCHP4KJYEBKJKKZEGVATSXB443ZXU6S7OGUUTXRVCMA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTDMV77SV6Q7KYAK3YHB6UFLTCCVZPDDARGZVLVIGSC3HKENISGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVPN4NOEU35ZBVDWTGMOKLOWMOLIGAWSFD2QMAYFPEQZDAJEJMTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IP27GBN4AJ2T3JAXZ2ACKQSHSMWVJGNMPFRUQQZREZMRRMCU4ZEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3GOMSKKRY4V6XNAQLZNQP7ERSFVDABOOBBIT4A5URVIHCOZH4LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QASJLVKSZPUPMXMWKBFUNBSFPARFTBFDI7PPTIFA2NWCS2X7AMDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
                "https://dd25om75gc08l.cloudfront.net/20240814173014790/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZGTJZRZVYICAWUCM5FLFS4QGEEP3ZYHVDCOKVWZGA4F5V66PHGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW5Y7IXSL2V7V3KP4YACNXVN6YA65DSKIGQFW522IT3DD2NBHD5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV3LHWOXID5RNHEK5ZNNCUNTOKG6Q2NCNSWA37HUTP7XQBVV5LDA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/26792995-3405-4d6b-bf78-f3040a0f3dd7/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5ENGY32GUWOWLISDF76OS2GZDBAKF4XYRSOWZUU26IRATPEU3LQ/vendor.sdk.js"
            ]
        },
        "DisableAlarmActions": {
            "input": {
                "type": "structure",
                "required": [
                    "AlarmNames"
                ],
                "members": {
                    "AlarmNames": {
                        "shape": "S2"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJMLDE7XFZMTHU6TKYTXRNZUJIBSTAFWYMZLQQ7HQFI4AS5OUW2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZP5LNXEAGBCHP4KJYEBKJKKZEGVATSXB443ZXU6S7OGUUTXRVCMA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTDMV77SV6Q7KYAK3YHB6UFLTCCVZPDDARGZVLVIGSC3HKENISGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVPN4NOEU35ZBVDWTGMOKLOWMOLIGAWSFD2QMAYFPEQZDAJEJMTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IP27GBN4AJ2T3JAXZ2ACKQSHSMWVJGNMPFRUQQZREZMRRMCU4ZEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3GOMSKKRY4V6XNAQLZNQP7ERSFVDABOOBBIT4A5URVIHCOZH4LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QASJLVKSZPUPMXMWKBFUNBSFPARFTBFDI7PPTIFA2NWCS2X7AMDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
                "https://dd25om75gc08l.cloudfront.net/20240814173014790/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZGTJZRZVYICAWUCM5FLFS4QGEEP3ZYHVDCOKVWZGA4F5V66PHGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW5Y7IXSL2V7V3KP4YACNXVN6YA65DSKIGQFW522IT3DD2NBHD5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV3LHWOXID5RNHEK5ZNNCUNTOKG6Q2NCNSWA37HUTP7XQBVV5LDA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/26792995-3405-4d6b-bf78-f3040a0f3dd7/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5ENGY32GUWOWLISDF76OS2GZDBAKF4XYRSOWZUU26IRATPEU3LQ/vendor.sdk.js"
            ]
        },
        "DisableInsightRules": {
            "input": {
                "type": "structure",
                "required": [
                    "RuleNames"
                ],
                "members": {
                    "RuleNames": {
                        "shape": "Si"
                    }
                }
            },
            "output": {
                "resultWrapper": "DisableInsightRulesResult",
                "type": "structure",
                "members": {
                    "Failures": {
                        "shape": "Sl"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJMLDE7XFZMTHU6TKYTXRNZUJIBSTAFWYMZLQQ7HQFI4AS5OUW2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZP5LNXEAGBCHP4KJYEBKJKKZEGVATSXB443ZXU6S7OGUUTXRVCMA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTDMV77SV6Q7KYAK3YHB6UFLTCCVZPDDARGZVLVIGSC3HKENISGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVPN4NOEU35ZBVDWTGMOKLOWMOLIGAWSFD2QMAYFPEQZDAJEJMTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IP27GBN4AJ2T3JAXZ2ACKQSHSMWVJGNMPFRUQQZREZMRRMCU4ZEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3GOMSKKRY4V6XNAQLZNQP7ERSFVDABOOBBIT4A5URVIHCOZH4LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QASJLVKSZPUPMXMWKBFUNBSFPARFTBFDI7PPTIFA2NWCS2X7AMDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
                "https://dd25om75gc08l.cloudfront.net/20240814173014790/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZGTJZRZVYICAWUCM5FLFS4QGEEP3ZYHVDCOKVWZGA4F5V66PHGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW5Y7IXSL2V7V3KP4YACNXVN6YA65DSKIGQFW522IT3DD2NBHD5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV3LHWOXID5RNHEK5ZNNCUNTOKG6Q2NCNSWA37HUTP7XQBVV5LDA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/26792995-3405-4d6b-bf78-f3040a0f3dd7/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5ENGY32GUWOWLISDF76OS2GZDBAKF4XYRSOWZUU26IRATPEU3LQ/vendor.sdk.js"
            ]
        },
        "EnableAlarmActions": {
            "input": {
                "type": "structure",
                "required": [
                    "AlarmNames"
                ],
                "members": {
                    "AlarmNames": {
                        "shape": "S2"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJMLDE7XFZMTHU6TKYTXRNZUJIBSTAFWYMZLQQ7HQFI4AS5OUW2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZP5LNXEAGBCHP4KJYEBKJKKZEGVATSXB443ZXU6S7OGUUTXRVCMA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTDMV77SV6Q7KYAK3YHB6UFLTCCVZPDDARGZVLVIGSC3HKENISGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVPN4NOEU35ZBVDWTGMOKLOWMOLIGAWSFD2QMAYFPEQZDAJEJMTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IP27GBN4AJ2T3JAXZ2ACKQSHSMWVJGNMPFRUQQZREZMRRMCU4ZEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3GOMSKKRY4V6XNAQLZNQP7ERSFVDABOOBBIT4A5URVIHCOZH4LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QASJLVKSZPUPMXMWKBFUNBSFPARFTBFDI7PPTIFA2NWCS2X7AMDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
                "https://dd25om75gc08l.cloudfront.net/20240814173014790/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZGTJZRZVYICAWUCM5FLFS4QGEEP3ZYHVDCOKVWZGA4F5V66PHGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW5Y7IXSL2V7V3KP4YACNXVN6YA65DSKIGQFW522IT3DD2NBHD5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV3LHWOXID5RNHEK5ZNNCUNTOKG6Q2NCNSWA37HUTP7XQBVV5LDA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/26792995-3405-4d6b-bf78-f3040a0f3dd7/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5ENGY32GUWOWLISDF76OS2GZDBAKF4XYRSOWZUU26IRATPEU3LQ/vendor.sdk.js"
            ]
        },
        "EnableInsightRules": {
            "input": {
                "type": "structure",
                "required": [
                    "RuleNames"
                ],
                "members": {
                    "RuleNames": {
                        "shape": "Si"
                    }
                }
            },
            "output": {
                "resultWrapper": "EnableInsightRulesResult",
                "type": "structure",
                "members": {
                    "Failures": {
                        "shape": "Sl"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJMLDE7XFZMTHU6TKYTXRNZUJIBSTAFWYMZLQQ7HQFI4AS5OUW2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZP5LNXEAGBCHP4KJYEBKJKKZEGVATSXB443ZXU6S7OGUUTXRVCMA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTDMV77SV6Q7KYAK3YHB6UFLTCCVZPDDARGZVLVIGSC3HKENISGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVPN4NOEU35ZBVDWTGMOKLOWMOLIGAWSFD2QMAYFPEQZDAJEJMTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IP27GBN4AJ2T3JAXZ2ACKQSHSMWVJGNMPFRUQQZREZMRRMCU4ZEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3GOMSKKRY4V6XNAQLZNQP7ERSFVDABOOBBIT4A5URVIHCOZH4LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QASJLVKSZPUPMXMWKBFUNBSFPARFTBFDI7PPTIFA2NWCS2X7AMDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
                "https://dd25om75gc08l.cloudfront.net/20240814173014790/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZGTJZRZVYICAWUCM5FLFS4QGEEP3ZYHVDCOKVWZGA4F5V66PHGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW5Y7IXSL2V7V3KP4YACNXVN6YA65DSKIGQFW522IT3DD2NBHD5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV3LHWOXID5RNHEK5ZNNCUNTOKG6Q2NCNSWA37HUTP7XQBVV5LDA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/26792995-3405-4d6b-bf78-f3040a0f3dd7/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5ENGY32GUWOWLISDF76OS2GZDBAKF4XYRSOWZUU26IRATPEU3LQ/vendor.sdk.js"
            ]
        },
        "GetDashboard": {
            "input": {
                "type": "structure",
                "required": [
                    "DashboardName"
                ],
                "members": {
                    "DashboardName": {}
                }
            },
            "output": {
                "resultWrapper": "GetDashboardResult",
                "type": "structure",
                "members": {
                    "DashboardArn": {},
                    "DashboardBody": {},
                    "DashboardName": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJMLDE7XFZMTHU6TKYTXRNZUJIBSTAFWYMZLQQ7HQFI4AS5OUW2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZP5LNXEAGBCHP4KJYEBKJKKZEGVATSXB443ZXU6S7OGUUTXRVCMA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTDMV77SV6Q7KYAK3YHB6UFLTCCVZPDDARGZVLVIGSC3HKENISGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVPN4NOEU35ZBVDWTGMOKLOWMOLIGAWSFD2QMAYFPEQZDAJEJMTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IP27GBN4AJ2T3JAXZ2ACKQSHSMWVJGNMPFRUQQZREZMRRMCU4ZEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3GOMSKKRY4V6XNAQLZNQP7ERSFVDABOOBBIT4A5URVIHCOZH4LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QASJLVKSZPUPMXMWKBFUNBSFPARFTBFDI7PPTIFA2NWCS2X7AMDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
                "https://dd25om75gc08l.cloudfront.net/20240814173014790/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZGTJZRZVYICAWUCM5FLFS4QGEEP3ZYHVDCOKVWZGA4F5V66PHGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW5Y7IXSL2V7V3KP4YACNXVN6YA65DSKIGQFW522IT3DD2NBHD5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV3LHWOXID5RNHEK5ZNNCUNTOKG6Q2NCNSWA37HUTP7XQBVV5LDA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/26792995-3405-4d6b-bf78-f3040a0f3dd7/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5ENGY32GUWOWLISDF76OS2GZDBAKF4XYRSOWZUU26IRATPEU3LQ/vendor.sdk.js"
            ]
        },
        "GetInsightRuleReport": {
            "input": {
                "type": "structure",
                "required": [
                    "RuleName",
                    "StartTime",
                    "EndTime",
                    "Period"
                ],
                "members": {
                    "RuleName": {},
                    "StartTime": {
                        "type": "timestamp"
                    },
                    "EndTime": {
                        "type": "timestamp"
                    },
                    "Period": {
                        "type": "integer"
                    },
                    "MaxContributorCount": {
                        "type": "integer"
                    },
                    "Metrics": {
                        "type": "list",
                        "member": {}
                    },
                    "OrderBy": {}
                }
            },
            "output": {
                "resultWrapper": "GetInsightRuleReportResult",
                "type": "structure",
                "members": {
                    "KeyLabels": {
                        "type": "list",
                        "member": {}
                    },
                    "AggregationStatistic": {},
                    "AggregateValue": {
                        "type": "double"
                    },
                    "ApproximateUniqueCount": {
                        "type": "long"
                    },
                    "Contributors": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Keys",
                                "ApproximateAggregateValue",
                                "Datapoints"
                            ],
                            "members": {
                                "Keys": {
                                    "type": "list",
                                    "member": {}
                                },
                                "ApproximateAggregateValue": {
                                    "type": "double"
                                },
                                "Datapoints": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "required": [
                                            "Timestamp",
                                            "ApproximateValue"
                                        ],
                                        "members": {
                                            "Timestamp": {
                                                "type": "timestamp"
                                            },
                                            "ApproximateValue": {
                                                "type": "double"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "MetricDatapoints": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Timestamp"
                            ],
                            "members": {
                                "Timestamp": {
                                    "type": "timestamp"
                                },
                                "UniqueContributors": {
                                    "type": "double"
                                },
                                "MaxContributorValue": {
                                    "type": "double"
                                },
                                "SampleCount": {
                                    "type": "double"
                                },
                                "Average": {
                                    "type": "double"
                                },
                                "Sum": {
                                    "type": "double"
                                },
                                "Minimum": {
                                    "type": "double"
                                },
                                "Maximum": {
                                    "type": "double"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJMLDE7XFZMTHU6TKYTXRNZUJIBSTAFWYMZLQQ7HQFI4AS5OUW2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZP5LNXEAGBCHP4KJYEBKJKKZEGVATSXB443ZXU6S7OGUUTXRVCMA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTDMV77SV6Q7KYAK3YHB6UFLTCCVZPDDARGZVLVIGSC3HKENISGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVPN4NOEU35ZBVDWTGMOKLOWMOLIGAWSFD2QMAYFPEQZDAJEJMTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IP27GBN4AJ2T3JAXZ2ACKQSHSMWVJGNMPFRUQQZREZMRRMCU4ZEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3GOMSKKRY4V6XNAQLZNQP7ERSFVDABOOBBIT4A5URVIHCOZH4LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QASJLVKSZPUPMXMWKBFUNBSFPARFTBFDI7PPTIFA2NWCS2X7AMDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
                "https://dd25om75gc08l.cloudfront.net/20240814173014790/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZGTJZRZVYICAWUCM5FLFS4QGEEP3ZYHVDCOKVWZGA4F5V66PHGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW5Y7IXSL2V7V3KP4YACNXVN6YA65DSKIGQFW522IT3DD2NBHD5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV3LHWOXID5RNHEK5ZNNCUNTOKG6Q2NCNSWA37HUTP7XQBVV5LDA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/26792995-3405-4d6b-bf78-f3040a0f3dd7/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5ENGY32GUWOWLISDF76OS2GZDBAKF4XYRSOWZUU26IRATPEU3LQ/vendor.sdk.js"
            ]
        },
        "GetMetricData": {
            "input": {
                "type": "structure",
                "required": [
                    "MetricDataQueries",
                    "StartTime",
                    "EndTime"
                ],
                "members": {
                    "MetricDataQueries": {
                        "shape": "S1y"
                    },
                    "StartTime": {
                        "type": "timestamp"
                    },
                    "EndTime": {
                        "type": "timestamp"
                    },
                    "NextToken": {},
                    "ScanBy": {},
                    "MaxDatapoints": {
                        "type": "integer"
                    },
                    "LabelOptions": {
                        "type": "structure",
                        "members": {
                            "Timezone": {}
                        }
                    }
                }
            },
            "output": {
                "resultWrapper": "GetMetricDataResult",
                "type": "structure",
                "members": {
                    "MetricDataResults": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Id": {},
                                "Label": {},
                                "Timestamps": {
                                    "type": "list",
                                    "member": {
                                        "type": "timestamp"
                                    }
                                },
                                "Values": {
                                    "type": "list",
                                    "member": {
                                        "type": "double"
                                    }
                                },
                                "StatusCode": {},
                                "Messages": {
                                    "shape": "S3v"
                                }
                            }
                        }
                    },
                    "NextToken": {},
                    "Messages": {
                        "shape": "S3v"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJMLDE7XFZMTHU6TKYTXRNZUJIBSTAFWYMZLQQ7HQFI4AS5OUW2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZP5LNXEAGBCHP4KJYEBKJKKZEGVATSXB443ZXU6S7OGUUTXRVCMA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTDMV77SV6Q7KYAK3YHB6UFLTCCVZPDDARGZVLVIGSC3HKENISGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVPN4NOEU35ZBVDWTGMOKLOWMOLIGAWSFD2QMAYFPEQZDAJEJMTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IP27GBN4AJ2T3JAXZ2ACKQSHSMWVJGNMPFRUQQZREZMRRMCU4ZEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3GOMSKKRY4V6XNAQLZNQP7ERSFVDABOOBBIT4A5URVIHCOZH4LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QASJLVKSZPUPMXMWKBFUNBSFPARFTBFDI7PPTIFA2NWCS2X7AMDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
                "https://dd25om75gc08l.cloudfront.net/20240814173014790/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZGTJZRZVYICAWUCM5FLFS4QGEEP3ZYHVDCOKVWZGA4F5V66PHGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW5Y7IXSL2V7V3KP4YACNXVN6YA65DSKIGQFW522IT3DD2NBHD5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV3LHWOXID5RNHEK5ZNNCUNTOKG6Q2NCNSWA37HUTP7XQBVV5LDA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/26792995-3405-4d6b-bf78-f3040a0f3dd7/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5ENGY32GUWOWLISDF76OS2GZDBAKF4XYRSOWZUU26IRATPEU3LQ/vendor.sdk.js"
            ]
        },
        "GetMetricStatistics": {
            "input": {
                "type": "structure",
                "required": [
                    "Namespace",
                    "MetricName",
                    "StartTime",
                    "EndTime",
                    "Period"
                ],
                "members": {
                    "Namespace": {},
                    "MetricName": {},
                    "Dimensions": {
                        "shape": "S7"
                    },
                    "StartTime": {
                        "type": "timestamp"
                    },
                    "EndTime": {
                        "type": "timestamp"
                    },
                    "Period": {
                        "type": "integer"
                    },
                    "Statistics": {
                        "type": "list",
                        "member": {}
                    },
                    "ExtendedStatistics": {
                        "type": "list",
                        "member": {}
                    },
                    "Unit": {}
                }
            },
            "output": {
                "resultWrapper": "GetMetricStatisticsResult",
                "type": "structure",
                "members": {
                    "Label": {},
                    "Datapoints": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Timestamp": {
                                    "type": "timestamp"
                                },
                                "SampleCount": {
                                    "type": "double"
                                },
                                "Average": {
                                    "type": "double"
                                },
                                "Sum": {
                                    "type": "double"
                                },
                                "Minimum": {
                                    "type": "double"
                                },
                                "Maximum": {
                                    "type": "double"
                                },
                                "Unit": {},
                                "ExtendedStatistics": {
                                    "type": "map",
                                    "key": {},
                                    "value": {
                                        "type": "double"
                                    }
                                }
                            },
                            "xmlOrder": [
                                "Timestamp",
                                "SampleCount",
                                "Average",
                                "Sum",
                                "Minimum",
                                "Maximum",
                                "Unit",
                                "ExtendedStatistics"
                            ]
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJMLDE7XFZMTHU6TKYTXRNZUJIBSTAFWYMZLQQ7HQFI4AS5OUW2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZP5LNXEAGBCHP4KJYEBKJKKZEGVATSXB443ZXU6S7OGUUTXRVCMA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTDMV77SV6Q7KYAK3YHB6UFLTCCVZPDDARGZVLVIGSC3HKENISGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVPN4NOEU35ZBVDWTGMOKLOWMOLIGAWSFD2QMAYFPEQZDAJEJMTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IP27GBN4AJ2T3JAXZ2ACKQSHSMWVJGNMPFRUQQZREZMRRMCU4ZEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3GOMSKKRY4V6XNAQLZNQP7ERSFVDABOOBBIT4A5URVIHCOZH4LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QASJLVKSZPUPMXMWKBFUNBSFPARFTBFDI7PPTIFA2NWCS2X7AMDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
                "https://dd25om75gc08l.cloudfront.net/20240814173014790/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZGTJZRZVYICAWUCM5FLFS4QGEEP3ZYHVDCOKVWZGA4F5V66PHGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW5Y7IXSL2V7V3KP4YACNXVN6YA65DSKIGQFW522IT3DD2NBHD5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV3LHWOXID5RNHEK5ZNNCUNTOKG6Q2NCNSWA37HUTP7XQBVV5LDA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/26792995-3405-4d6b-bf78-f3040a0f3dd7/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5ENGY32GUWOWLISDF76OS2GZDBAKF4XYRSOWZUU26IRATPEU3LQ/vendor.sdk.js"
            ]
        },
        "GetMetricStream": {
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {}
                }
            },
            "output": {
                "resultWrapper": "GetMetricStreamResult",
                "type": "structure",
                "members": {
                    "Arn": {},
                    "Name": {},
                    "IncludeFilters": {
                        "shape": "S49"
                    },
                    "ExcludeFilters": {
                        "shape": "S49"
                    },
                    "FirehoseArn": {},
                    "RoleArn": {},
                    "State": {},
                    "CreationDate": {
                        "type": "timestamp"
                    },
                    "LastUpdateDate": {
                        "type": "timestamp"
                    },
                    "OutputFormat": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJMLDE7XFZMTHU6TKYTXRNZUJIBSTAFWYMZLQQ7HQFI4AS5OUW2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZP5LNXEAGBCHP4KJYEBKJKKZEGVATSXB443ZXU6S7OGUUTXRVCMA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTDMV77SV6Q7KYAK3YHB6UFLTCCVZPDDARGZVLVIGSC3HKENISGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVPN4NOEU35ZBVDWTGMOKLOWMOLIGAWSFD2QMAYFPEQZDAJEJMTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IP27GBN4AJ2T3JAXZ2ACKQSHSMWVJGNMPFRUQQZREZMRRMCU4ZEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3GOMSKKRY4V6XNAQLZNQP7ERSFVDABOOBBIT4A5URVIHCOZH4LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QASJLVKSZPUPMXMWKBFUNBSFPARFTBFDI7PPTIFA2NWCS2X7AMDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
                "https://dd25om75gc08l.cloudfront.net/20240814173014790/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZGTJZRZVYICAWUCM5FLFS4QGEEP3ZYHVDCOKVWZGA4F5V66PHGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW5Y7IXSL2V7V3KP4YACNXVN6YA65DSKIGQFW522IT3DD2NBHD5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV3LHWOXID5RNHEK5ZNNCUNTOKG6Q2NCNSWA37HUTP7XQBVV5LDA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/26792995-3405-4d6b-bf78-f3040a0f3dd7/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5ENGY32GUWOWLISDF76OS2GZDBAKF4XYRSOWZUU26IRATPEU3LQ/vendor.sdk.js"
            ]
        },
        "GetMetricWidgetImage": {
            "input": {
                "type": "structure",
                "required": [
                    "MetricWidget"
                ],
                "members": {
                    "MetricWidget": {},
                    "OutputFormat": {}
                }
            },
            "output": {
                "resultWrapper": "GetMetricWidgetImageResult",
                "type": "structure",
                "members": {
                    "MetricWidgetImage": {
                        "type": "blob"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJMLDE7XFZMTHU6TKYTXRNZUJIBSTAFWYMZLQQ7HQFI4AS5OUW2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZP5LNXEAGBCHP4KJYEBKJKKZEGVATSXB443ZXU6S7OGUUTXRVCMA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTDMV77SV6Q7KYAK3YHB6UFLTCCVZPDDARGZVLVIGSC3HKENISGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVPN4NOEU35ZBVDWTGMOKLOWMOLIGAWSFD2QMAYFPEQZDAJEJMTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IP27GBN4AJ2T3JAXZ2ACKQSHSMWVJGNMPFRUQQZREZMRRMCU4ZEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3GOMSKKRY4V6XNAQLZNQP7ERSFVDABOOBBIT4A5URVIHCOZH4LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QASJLVKSZPUPMXMWKBFUNBSFPARFTBFDI7PPTIFA2NWCS2X7AMDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
                "https://dd25om75gc08l.cloudfront.net/20240814173014790/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZGTJZRZVYICAWUCM5FLFS4QGEEP3ZYHVDCOKVWZGA4F5V66PHGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW5Y7IXSL2V7V3KP4YACNXVN6YA65DSKIGQFW522IT3DD2NBHD5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV3LHWOXID5RNHEK5ZNNCUNTOKG6Q2NCNSWA37HUTP7XQBVV5LDA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/26792995-3405-4d6b-bf78-f3040a0f3dd7/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5ENGY32GUWOWLISDF76OS2GZDBAKF4XYRSOWZUU26IRATPEU3LQ/vendor.sdk.js"
            ]
        },
        "ListDashboards": {
            "input": {
                "type": "structure",
                "members": {
                    "DashboardNamePrefix": {},
                    "NextToken": {}
                }
            },
            "output": {
                "resultWrapper": "ListDashboardsResult",
                "type": "structure",
                "members": {
                    "DashboardEntries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "DashboardName": {},
                                "DashboardArn": {},
                                "LastModified": {
                                    "type": "timestamp"
                                },
                                "Size": {
                                    "type": "long"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJMLDE7XFZMTHU6TKYTXRNZUJIBSTAFWYMZLQQ7HQFI4AS5OUW2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZP5LNXEAGBCHP4KJYEBKJKKZEGVATSXB443ZXU6S7OGUUTXRVCMA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTDMV77SV6Q7KYAK3YHB6UFLTCCVZPDDARGZVLVIGSC3HKENISGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVPN4NOEU35ZBVDWTGMOKLOWMOLIGAWSFD2QMAYFPEQZDAJEJMTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IP27GBN4AJ2T3JAXZ2ACKQSHSMWVJGNMPFRUQQZREZMRRMCU4ZEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3GOMSKKRY4V6XNAQLZNQP7ERSFVDABOOBBIT4A5URVIHCOZH4LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QASJLVKSZPUPMXMWKBFUNBSFPARFTBFDI7PPTIFA2NWCS2X7AMDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
                "https://dd25om75gc08l.cloudfront.net/20240814173014790/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZGTJZRZVYICAWUCM5FLFS4QGEEP3ZYHVDCOKVWZGA4F5V66PHGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW5Y7IXSL2V7V3KP4YACNXVN6YA65DSKIGQFW522IT3DD2NBHD5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV3LHWOXID5RNHEK5ZNNCUNTOKG6Q2NCNSWA37HUTP7XQBVV5LDA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/26792995-3405-4d6b-bf78-f3040a0f3dd7/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5ENGY32GUWOWLISDF76OS2GZDBAKF4XYRSOWZUU26IRATPEU3LQ/vendor.sdk.js"
            ]
        },
        "ListMetricStreams": {
            "input": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "resultWrapper": "ListMetricStreamsResult",
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "Entries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Arn": {},
                                "CreationDate": {
                                    "type": "timestamp"
                                },
                                "LastUpdateDate": {
                                    "type": "timestamp"
                                },
                                "Name": {},
                                "FirehoseArn": {},
                                "State": {},
                                "OutputFormat": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJMLDE7XFZMTHU6TKYTXRNZUJIBSTAFWYMZLQQ7HQFI4AS5OUW2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZP5LNXEAGBCHP4KJYEBKJKKZEGVATSXB443ZXU6S7OGUUTXRVCMA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTDMV77SV6Q7KYAK3YHB6UFLTCCVZPDDARGZVLVIGSC3HKENISGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVPN4NOEU35ZBVDWTGMOKLOWMOLIGAWSFD2QMAYFPEQZDAJEJMTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IP27GBN4AJ2T3JAXZ2ACKQSHSMWVJGNMPFRUQQZREZMRRMCU4ZEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3GOMSKKRY4V6XNAQLZNQP7ERSFVDABOOBBIT4A5URVIHCOZH4LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QASJLVKSZPUPMXMWKBFUNBSFPARFTBFDI7PPTIFA2NWCS2X7AMDA/main.js",
[...]
