{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2013-01-16",
        "endpointPrefix": "monitoring",
        "jsonVersion": "1.0",
        "protocol": "json",
        "serviceAbbreviation": "CloudWatchInternal2013",
        "serviceFullName": "Amazon CloudWatch Internal 2013",
        "serviceId": "CloudWatchInternal2013",
        "signatureVersion": "v4",
        "targetPrefix": "CloudWatchVersion20130116",
        "uid": "monitoring_internal_2013-2013-01-16",
        "download_location": [
            "https://d3kld4ju0n55da.cloudfront.net/9d58eb3c-18e3-452f-be45-63c805f5beff/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UJROT5LP4XGQ3LSNXPMCNZUJ4CN2K7GXYANLLQ635IYFG3T4IQUA/awsSdk.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/UJROT5LP4XGQ3LSNXPMCNZUJ4CN2K7GXYANLLQ635IYFG3T4IQUA/awsSdk.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/M2HPHTZWTR5OOCDOHYEZUT7WMUPZNZASAJPETOB7KEGWTGFNETOQ/awsSdk.js",
            "https://d3kld4ju0n55da.cloudfront.net/00f9aed6-5b78-43c2-baa3-45e847aaaab6/main.js",
            "https://d3kld4ju0n55da.cloudfront.net/8b0ad4c9-faf3-4ab8-9096-63188c6d0e72/main.js",
            "https://d3kld4ju0n55da.cloudfront.net/08c5192b-f850-4f76-8f53-0913f00ebc99/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/B6XBTUJJHF5C4BI4M72KN5DEYMAT5XGP2UKJKZOPP63FGNPCRM5Q/awsSdk.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/STTZGNN5JLDMPOZ42XBTVZICXDP34BJILTUY27KAKGI2GMBVHBUA/awsSdk.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/GEBULXE2K2TGW2K377ALCFGTPLUXV5BBXL2OYILC3VZPZFXNAU5Q/awsSdk.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/V5QMQ4RQDRHZBXFTVW2CLAGBMDCDMO4GC767SAAQKLGAN2CDOXYQ/awsSdk.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/PPGYLTXQRGS2IJ4JZXPWYX62TOLAPH26JTONDUF3EDFQYP3XMPHA/awsSdk.js",
            "https://d3kld4ju0n55da.cloudfront.net/233d7d54-a953-42e6-b28e-52f5f411679c/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/KOANF3S3CRLNPU3GHPGET3FMLSSK4MAVNG7YXVTVNLXAZ3VSH4JQ/awsSdk.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/3OBCWI6JUXFWF6BI27SHW4R36TZZUU7VMLNXWTQIPKVIFUHIXJVQ/awsSdk.js",
            "https://d3kld4ju0n55da.cloudfront.net/bf2a1bab-5a2d-476e-89f7-aef50eec6b94/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4SP7UYRYABIOCPYBYE3NN32KHADRBZRACCBPG2EXANQ3WIDS5QBQ/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/MJAIEXLADEAO76HO2BY5A5HQUHEW43YDAP3OLNBFVIN5R46KWQ6Q/awsSdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CA6BI6MAAGODP6SYZ2ZANQ37UTJLFMBI25IEYCJQBMCFCRK6BVCQ/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/UWEI33DMH7APFNEOB4PALH7FYWL7WWK6EFT34A4H3FLVZMW3BTOA/awsSdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YRGKIFJ2C4ZPFANMN7RY6D5IXOSRMKXP7BHVF2GZMTE4EPU7YI3A/main.js",
            "https://d3kld4ju0n55da.cloudfront.net/c6e7f38f-c8a8-4d74-91a1-7d58a6d19288/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/ZMBHVK65Y3JNXNQDH7PRDCN57LKBQPO3THL2O736PBCVAP5XI2UQ/awsSdk.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/5FCWFEFOIM4SL5ZJS43IM2KMT7542IRZM7VKJBTPEUM2DQ2ZLJ7A/awsSdk.js",
            "https://d3kld4ju0n55da.cloudfront.net/742058ee-8170-4e87-9889-9ec3a310e3f7/main.js"
        ]
    },
    "operations": {
        "DeleteInsightRules": {
            "input": {
                "type": "structure",
                "required": [
                    "RuleNames"
                ],
                "members": {
                    "RuleNames": {
                        "shape": "S2"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Failures": {
                        "shape": "S5"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJROT5LP4XGQ3LSNXPMCNZUJ4CN2K7GXYANLLQ635IYFG3T4IQUA/awsSdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UJROT5LP4XGQ3LSNXPMCNZUJ4CN2K7GXYANLLQ635IYFG3T4IQUA/awsSdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/M2HPHTZWTR5OOCDOHYEZUT7WMUPZNZASAJPETOB7KEGWTGFNETOQ/awsSdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/00f9aed6-5b78-43c2-baa3-45e847aaaab6/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/8b0ad4c9-faf3-4ab8-9096-63188c6d0e72/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/08c5192b-f850-4f76-8f53-0913f00ebc99/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/B6XBTUJJHF5C4BI4M72KN5DEYMAT5XGP2UKJKZOPP63FGNPCRM5Q/awsSdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/STTZGNN5JLDMPOZ42XBTVZICXDP34BJILTUY27KAKGI2GMBVHBUA/awsSdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GEBULXE2K2TGW2K377ALCFGTPLUXV5BBXL2OYILC3VZPZFXNAU5Q/awsSdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V5QMQ4RQDRHZBXFTVW2CLAGBMDCDMO4GC767SAAQKLGAN2CDOXYQ/awsSdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PPGYLTXQRGS2IJ4JZXPWYX62TOLAPH26JTONDUF3EDFQYP3XMPHA/awsSdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/233d7d54-a953-42e6-b28e-52f5f411679c/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KOANF3S3CRLNPU3GHPGET3FMLSSK4MAVNG7YXVTVNLXAZ3VSH4JQ/awsSdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3OBCWI6JUXFWF6BI27SHW4R36TZZUU7VMLNXWTQIPKVIFUHIXJVQ/awsSdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/bf2a1bab-5a2d-476e-89f7-aef50eec6b94/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4SP7UYRYABIOCPYBYE3NN32KHADRBZRACCBPG2EXANQ3WIDS5QBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA6BI6MAAGODP6SYZ2ZANQ37UTJLFMBI25IEYCJQBMCFCRK6BVCQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MJAIEXLADEAO76HO2BY5A5HQUHEW43YDAP3OLNBFVIN5R46KWQ6Q/awsSdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UWEI33DMH7APFNEOB4PALH7FYWL7WWK6EFT34A4H3FLVZMW3BTOA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRGKIFJ2C4ZPFANMN7RY6D5IXOSRMKXP7BHVF2GZMTE4EPU7YI3A/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c6e7f38f-c8a8-4d74-91a1-7d58a6d19288/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZMBHVK65Y3JNXNQDH7PRDCN57LKBQPO3THL2O736PBCVAP5XI2UQ/awsSdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5FCWFEFOIM4SL5ZJS43IM2KMT7542IRZM7VKJBTPEUM2DQ2ZLJ7A/awsSdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/742058ee-8170-4e87-9889-9ec3a310e3f7/main.js"
            ]
        },
        "DescribeAlarms": {
            "input": {
                "type": "structure",
                "members": {
                    "AlarmNames": {
                        "type": "list",
                        "member": {}
                    },
                    "AlarmNamePrefix": {},
                    "AlarmTypes": {
                        "shape": "Sf"
                    },
                    "ChildrenOfAlarmName": {},
                    "ParentsOfAlarmName": {},
                    "StateValue": {},
                    "ActionPrefix": {},
                    "ExcludeAutoscalingAlarms": {
                        "type": "boolean"
                    },
                    "ExcludeManagedAlarms": {
                        "type": "boolean"
                    },
                    "MaxRecords": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "MetricAlarms": {
                        "shape": "So"
                    },
                    "CompositeAlarms": {
                        "shape": "S23"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJROT5LP4XGQ3LSNXPMCNZUJ4CN2K7GXYANLLQ635IYFG3T4IQUA/awsSdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UJROT5LP4XGQ3LSNXPMCNZUJ4CN2K7GXYANLLQ635IYFG3T4IQUA/awsSdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/M2HPHTZWTR5OOCDOHYEZUT7WMUPZNZASAJPETOB7KEGWTGFNETOQ/awsSdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/00f9aed6-5b78-43c2-baa3-45e847aaaab6/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/8b0ad4c9-faf3-4ab8-9096-63188c6d0e72/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/08c5192b-f850-4f76-8f53-0913f00ebc99/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/B6XBTUJJHF5C4BI4M72KN5DEYMAT5XGP2UKJKZOPP63FGNPCRM5Q/awsSdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/STTZGNN5JLDMPOZ42XBTVZICXDP34BJILTUY27KAKGI2GMBVHBUA/awsSdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GEBULXE2K2TGW2K377ALCFGTPLUXV5BBXL2OYILC3VZPZFXNAU5Q/awsSdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V5QMQ4RQDRHZBXFTVW2CLAGBMDCDMO4GC767SAAQKLGAN2CDOXYQ/awsSdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PPGYLTXQRGS2IJ4JZXPWYX62TOLAPH26JTONDUF3EDFQYP3XMPHA/awsSdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/233d7d54-a953-42e6-b28e-52f5f411679c/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KOANF3S3CRLNPU3GHPGET3FMLSSK4MAVNG7YXVTVNLXAZ3VSH4JQ/awsSdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3OBCWI6JUXFWF6BI27SHW4R36TZZUU7VMLNXWTQIPKVIFUHIXJVQ/awsSdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/bf2a1bab-5a2d-476e-89f7-aef50eec6b94/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4SP7UYRYABIOCPYBYE3NN32KHADRBZRACCBPG2EXANQ3WIDS5QBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA6BI6MAAGODP6SYZ2ZANQ37UTJLFMBI25IEYCJQBMCFCRK6BVCQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MJAIEXLADEAO76HO2BY5A5HQUHEW43YDAP3OLNBFVIN5R46KWQ6Q/awsSdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UWEI33DMH7APFNEOB4PALH7FYWL7WWK6EFT34A4H3FLVZMW3BTOA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRGKIFJ2C4ZPFANMN7RY6D5IXOSRMKXP7BHVF2GZMTE4EPU7YI3A/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c6e7f38f-c8a8-4d74-91a1-7d58a6d19288/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZMBHVK65Y3JNXNQDH7PRDCN57LKBQPO3THL2O736PBCVAP5XI2UQ/awsSdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5FCWFEFOIM4SL5ZJS43IM2KMT7542IRZM7VKJBTPEUM2DQ2ZLJ7A/awsSdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/742058ee-8170-4e87-9889-9ec3a310e3f7/main.js"
            ]
        },
        "DescribeAlarmsSummary": {
            "input": {
                "type": "structure",
                "members": {
                    "AlarmTypes": {
                        "shape": "Sf"
                    },
                    "ExcludeAutoscalingAlarms": {
                        "type": "boolean"
                    },
                    "MaxRecords": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AlarmStateSummary": {
                        "type": "structure",
                        "members": {
                            "AlarmCount": {
                                "type": "integer"
                            },
                            "OKCount": {
                                "type": "integer"
                            },
                            "InsufficientDataCount": {
                                "type": "integer"
                            }
                        }
                    },
                    "CompositeAlarms": {
                        "shape": "S23"
                    },
                    "MetricAlarms": {
                        "shape": "So"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJROT5LP4XGQ3LSNXPMCNZUJ4CN2K7GXYANLLQ635IYFG3T4IQUA/awsSdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UJROT5LP4XGQ3LSNXPMCNZUJ4CN2K7GXYANLLQ635IYFG3T4IQUA/awsSdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/M2HPHTZWTR5OOCDOHYEZUT7WMUPZNZASAJPETOB7KEGWTGFNETOQ/awsSdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/00f9aed6-5b78-43c2-baa3-45e847aaaab6/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/8b0ad4c9-faf3-4ab8-9096-63188c6d0e72/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/08c5192b-f850-4f76-8f53-0913f00ebc99/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/B6XBTUJJHF5C4BI4M72KN5DEYMAT5XGP2UKJKZOPP63FGNPCRM5Q/awsSdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/STTZGNN5JLDMPOZ42XBTVZICXDP34BJILTUY27KAKGI2GMBVHBUA/awsSdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GEBULXE2K2TGW2K377ALCFGTPLUXV5BBXL2OYILC3VZPZFXNAU5Q/awsSdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V5QMQ4RQDRHZBXFTVW2CLAGBMDCDMO4GC767SAAQKLGAN2CDOXYQ/awsSdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PPGYLTXQRGS2IJ4JZXPWYX62TOLAPH26JTONDUF3EDFQYP3XMPHA/awsSdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/233d7d54-a953-42e6-b28e-52f5f411679c/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KOANF3S3CRLNPU3GHPGET3FMLSSK4MAVNG7YXVTVNLXAZ3VSH4JQ/awsSdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3OBCWI6JUXFWF6BI27SHW4R36TZZUU7VMLNXWTQIPKVIFUHIXJVQ/awsSdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/bf2a1bab-5a2d-476e-89f7-aef50eec6b94/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4SP7UYRYABIOCPYBYE3NN32KHADRBZRACCBPG2EXANQ3WIDS5QBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA6BI6MAAGODP6SYZ2ZANQ37UTJLFMBI25IEYCJQBMCFCRK6BVCQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MJAIEXLADEAO76HO2BY5A5HQUHEW43YDAP3OLNBFVIN5R46KWQ6Q/awsSdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UWEI33DMH7APFNEOB4PALH7FYWL7WWK6EFT34A4H3FLVZMW3BTOA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRGKIFJ2C4ZPFANMN7RY6D5IXOSRMKXP7BHVF2GZMTE4EPU7YI3A/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c6e7f38f-c8a8-4d74-91a1-7d58a6d19288/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZMBHVK65Y3JNXNQDH7PRDCN57LKBQPO3THL2O736PBCVAP5XI2UQ/awsSdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5FCWFEFOIM4SL5ZJS43IM2KMT7542IRZM7VKJBTPEUM2DQ2ZLJ7A/awsSdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/742058ee-8170-4e87-9889-9ec3a310e3f7/main.js"
            ]
        },
        "DisableInsightRules": {
            "input": {
                "type": "structure",
                "required": [
                    "RuleNames"
                ],
                "members": {
                    "RuleNames": {
                        "shape": "S2"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Failures": {
                        "shape": "S5"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJROT5LP4XGQ3LSNXPMCNZUJ4CN2K7GXYANLLQ635IYFG3T4IQUA/awsSdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UJROT5LP4XGQ3LSNXPMCNZUJ4CN2K7GXYANLLQ635IYFG3T4IQUA/awsSdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/M2HPHTZWTR5OOCDOHYEZUT7WMUPZNZASAJPETOB7KEGWTGFNETOQ/awsSdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/00f9aed6-5b78-43c2-baa3-45e847aaaab6/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/8b0ad4c9-faf3-4ab8-9096-63188c6d0e72/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/08c5192b-f850-4f76-8f53-0913f00ebc99/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/B6XBTUJJHF5C4BI4M72KN5DEYMAT5XGP2UKJKZOPP63FGNPCRM5Q/awsSdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/STTZGNN5JLDMPOZ42XBTVZICXDP34BJILTUY27KAKGI2GMBVHBUA/awsSdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GEBULXE2K2TGW2K377ALCFGTPLUXV5BBXL2OYILC3VZPZFXNAU5Q/awsSdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V5QMQ4RQDRHZBXFTVW2CLAGBMDCDMO4GC767SAAQKLGAN2CDOXYQ/awsSdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PPGYLTXQRGS2IJ4JZXPWYX62TOLAPH26JTONDUF3EDFQYP3XMPHA/awsSdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/233d7d54-a953-42e6-b28e-52f5f411679c/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KOANF3S3CRLNPU3GHPGET3FMLSSK4MAVNG7YXVTVNLXAZ3VSH4JQ/awsSdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3OBCWI6JUXFWF6BI27SHW4R36TZZUU7VMLNXWTQIPKVIFUHIXJVQ/awsSdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/bf2a1bab-5a2d-476e-89f7-aef50eec6b94/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4SP7UYRYABIOCPYBYE3NN32KHADRBZRACCBPG2EXANQ3WIDS5QBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA6BI6MAAGODP6SYZ2ZANQ37UTJLFMBI25IEYCJQBMCFCRK6BVCQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MJAIEXLADEAO76HO2BY5A5HQUHEW43YDAP3OLNBFVIN5R46KWQ6Q/awsSdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UWEI33DMH7APFNEOB4PALH7FYWL7WWK6EFT34A4H3FLVZMW3BTOA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRGKIFJ2C4ZPFANMN7RY6D5IXOSRMKXP7BHVF2GZMTE4EPU7YI3A/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c6e7f38f-c8a8-4d74-91a1-7d58a6d19288/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZMBHVK65Y3JNXNQDH7PRDCN57LKBQPO3THL2O736PBCVAP5XI2UQ/awsSdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5FCWFEFOIM4SL5ZJS43IM2KMT7542IRZM7VKJBTPEUM2DQ2ZLJ7A/awsSdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/742058ee-8170-4e87-9889-9ec3a310e3f7/main.js"
            ]
        },
        "EnableInsightRules": {
            "input": {
                "type": "structure",
                "required": [
                    "RuleNames"
                ],
                "members": {
                    "RuleNames": {
                        "shape": "S2"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Failures": {
                        "shape": "S5"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJROT5LP4XGQ3LSNXPMCNZUJ4CN2K7GXYANLLQ635IYFG3T4IQUA/awsSdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UJROT5LP4XGQ3LSNXPMCNZUJ4CN2K7GXYANLLQ635IYFG3T4IQUA/awsSdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/M2HPHTZWTR5OOCDOHYEZUT7WMUPZNZASAJPETOB7KEGWTGFNETOQ/awsSdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/00f9aed6-5b78-43c2-baa3-45e847aaaab6/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/8b0ad4c9-faf3-4ab8-9096-63188c6d0e72/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/08c5192b-f850-4f76-8f53-0913f00ebc99/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/B6XBTUJJHF5C4BI4M72KN5DEYMAT5XGP2UKJKZOPP63FGNPCRM5Q/awsSdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/STTZGNN5JLDMPOZ42XBTVZICXDP34BJILTUY27KAKGI2GMBVHBUA/awsSdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GEBULXE2K2TGW2K377ALCFGTPLUXV5BBXL2OYILC3VZPZFXNAU5Q/awsSdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V5QMQ4RQDRHZBXFTVW2CLAGBMDCDMO4GC767SAAQKLGAN2CDOXYQ/awsSdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PPGYLTXQRGS2IJ4JZXPWYX62TOLAPH26JTONDUF3EDFQYP3XMPHA/awsSdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/233d7d54-a953-42e6-b28e-52f5f411679c/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KOANF3S3CRLNPU3GHPGET3FMLSSK4MAVNG7YXVTVNLXAZ3VSH4JQ/awsSdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3OBCWI6JUXFWF6BI27SHW4R36TZZUU7VMLNXWTQIPKVIFUHIXJVQ/awsSdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/bf2a1bab-5a2d-476e-89f7-aef50eec6b94/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4SP7UYRYABIOCPYBYE3NN32KHADRBZRACCBPG2EXANQ3WIDS5QBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA6BI6MAAGODP6SYZ2ZANQ37UTJLFMBI25IEYCJQBMCFCRK6BVCQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MJAIEXLADEAO76HO2BY5A5HQUHEW43YDAP3OLNBFVIN5R46KWQ6Q/awsSdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UWEI33DMH7APFNEOB4PALH7FYWL7WWK6EFT34A4H3FLVZMW3BTOA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRGKIFJ2C4ZPFANMN7RY6D5IXOSRMKXP7BHVF2GZMTE4EPU7YI3A/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c6e7f38f-c8a8-4d74-91a1-7d58a6d19288/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZMBHVK65Y3JNXNQDH7PRDCN57LKBQPO3THL2O736PBCVAP5XI2UQ/awsSdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5FCWFEFOIM4SL5ZJS43IM2KMT7542IRZM7VKJBTPEUM2DQ2ZLJ7A/awsSdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/742058ee-8170-4e87-9889-9ec3a310e3f7/main.js"
            ]
        },
        "GetInsightRuleReport": {
            "input": {
                "type": "structure",
                "required": [
                    "RuleName",
                    "StartTime",
                    "EndTime",
                    "Period"
                ],
                "members": {
                    "TargetAccountId": {},
                    "RuleName": {},
                    "StartTime": {
                        "type": "timestamp"
                    },
                    "EndTime": {
                        "type": "timestamp"
                    },
                    "Period": {
                        "type": "integer"
                    },
                    "MaxContributorResults": {
                        "type": "integer"
                    },
                    "Metrics": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "KeyLabels": {
                        "type": "list",
                        "member": {}
                    },
                    "AggregationStatistic": {},
                    "AggregateValue": {
                        "type": "double"
                    },
                    "ApproximateUniqueCount": {
                        "type": "long"
                    },
                    "Contributors": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Keys",
                                "ApproximateAggregateValue",
                                "Datapoints"
                            ],
                            "members": {
                                "Keys": {
                                    "type": "list",
                                    "member": {}
                                },
                                "ApproximateAggregateValue": {
                                    "type": "double"
                                },
                                "Datapoints": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "required": [
                                            "Timestamp",
                                            "ApproximateValue"
                                        ],
                                        "members": {
                                            "Timestamp": {
                                                "type": "timestamp"
                                            },
                                            "ApproximateValue": {
                                                "type": "double"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "MetricDatapoints": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Timestamp"
                            ],
                            "members": {
                                "Timestamp": {
                                    "type": "timestamp"
                                },
                                "UniqueContributors": {
                                    "type": "double"
                                },
                                "MaxContributorValue": {
                                    "type": "double"
                                },
                                "SampleCount": {
                                    "type": "double"
                                },
                                "Average": {
                                    "type": "double"
                                },
                                "Sum": {
                                    "type": "double"
                                },
                                "Minimum": {
                                    "type": "double"
                                },
                                "Maximum": {
                                    "type": "double"
                                }
                            }
                        }
                    },
                    "RuleAttributes": {
                        "internalonly": true,
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJROT5LP4XGQ3LSNXPMCNZUJ4CN2K7GXYANLLQ635IYFG3T4IQUA/awsSdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UJROT5LP4XGQ3LSNXPMCNZUJ4CN2K7GXYANLLQ635IYFG3T4IQUA/awsSdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/M2HPHTZWTR5OOCDOHYEZUT7WMUPZNZASAJPETOB7KEGWTGFNETOQ/awsSdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/00f9aed6-5b78-43c2-baa3-45e847aaaab6/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/8b0ad4c9-faf3-4ab8-9096-63188c6d0e72/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/08c5192b-f850-4f76-8f53-0913f00ebc99/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/B6XBTUJJHF5C4BI4M72KN5DEYMAT5XGP2UKJKZOPP63FGNPCRM5Q/awsSdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/STTZGNN5JLDMPOZ42XBTVZICXDP34BJILTUY27KAKGI2GMBVHBUA/awsSdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GEBULXE2K2TGW2K377ALCFGTPLUXV5BBXL2OYILC3VZPZFXNAU5Q/awsSdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V5QMQ4RQDRHZBXFTVW2CLAGBMDCDMO4GC767SAAQKLGAN2CDOXYQ/awsSdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PPGYLTXQRGS2IJ4JZXPWYX62TOLAPH26JTONDUF3EDFQYP3XMPHA/awsSdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/233d7d54-a953-42e6-b28e-52f5f411679c/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KOANF3S3CRLNPU3GHPGET3FMLSSK4MAVNG7YXVTVNLXAZ3VSH4JQ/awsSdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3OBCWI6JUXFWF6BI27SHW4R36TZZUU7VMLNXWTQIPKVIFUHIXJVQ/awsSdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/bf2a1bab-5a2d-476e-89f7-aef50eec6b94/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4SP7UYRYABIOCPYBYE3NN32KHADRBZRACCBPG2EXANQ3WIDS5QBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA6BI6MAAGODP6SYZ2ZANQ37UTJLFMBI25IEYCJQBMCFCRK6BVCQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MJAIEXLADEAO76HO2BY5A5HQUHEW43YDAP3OLNBFVIN5R46KWQ6Q/awsSdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UWEI33DMH7APFNEOB4PALH7FYWL7WWK6EFT34A4H3FLVZMW3BTOA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRGKIFJ2C4ZPFANMN7RY6D5IXOSRMKXP7BHVF2GZMTE4EPU7YI3A/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c6e7f38f-c8a8-4d74-91a1-7d58a6d19288/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZMBHVK65Y3JNXNQDH7PRDCN57LKBQPO3THL2O736PBCVAP5XI2UQ/awsSdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5FCWFEFOIM4SL5ZJS43IM2KMT7542IRZM7VKJBTPEUM2DQ2ZLJ7A/awsSdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/742058ee-8170-4e87-9889-9ec3a310e3f7/main.js"
            ]
        },
        "GetMetricData": {
            "input": {
                "type": "structure",
                "members": {
                    "Defaults": {
                        "shape": "S1c"
                    },
                    "Metrics": {
                        "shape": "S1b"
                    },
                    "NextToken": {},
                    "ReturnEvaluationMetadata": {
                        "type": "boolean"
                    },
                    "ScanBy": {},
                    "MaxDatapoints": {
                        "type": "integer"
                    },
                    "LabelOptions": {
                        "type": "structure",
                        "members": {
                            "Timezone": {}
                        }
                    },
                    "AnomalyDetection": {
                        "type": "structure",
                        "required": [
                            "TargetAnomalyTime"
                        ],
                        "members": {
                            "TargetAnomalyTime": {
                                "type": "timestamp"
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Defaults": {
                        "shape": "S3h"
                    },
                    "EvaluationMetadata": {
                        "type": "structure",
                        "members": {
                            "FetchedTimeSeriesCount": {
                                "type": "integer"
                            },
                            "ExpressionFunctionOccurrences": {
                                "type": "map",
                                "key": {},
                                "value": {
                                    "type": "integer"
                                }
                            }
                        }
                    },
                    "MetricData": {
                        "type": "list",
                        "member": {
                            "shape": "S3h"
                        }
                    },
                    "NextToken": {},
                    "Messages": {
                        "shape": "S3q"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJROT5LP4XGQ3LSNXPMCNZUJ4CN2K7GXYANLLQ635IYFG3T4IQUA/awsSdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UJROT5LP4XGQ3LSNXPMCNZUJ4CN2K7GXYANLLQ635IYFG3T4IQUA/awsSdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/M2HPHTZWTR5OOCDOHYEZUT7WMUPZNZASAJPETOB7KEGWTGFNETOQ/awsSdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/00f9aed6-5b78-43c2-baa3-45e847aaaab6/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/8b0ad4c9-faf3-4ab8-9096-63188c6d0e72/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/08c5192b-f850-4f76-8f53-0913f00ebc99/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/B6XBTUJJHF5C4BI4M72KN5DEYMAT5XGP2UKJKZOPP63FGNPCRM5Q/awsSdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/STTZGNN5JLDMPOZ42XBTVZICXDP34BJILTUY27KAKGI2GMBVHBUA/awsSdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GEBULXE2K2TGW2K377ALCFGTPLUXV5BBXL2OYILC3VZPZFXNAU5Q/awsSdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V5QMQ4RQDRHZBXFTVW2CLAGBMDCDMO4GC767SAAQKLGAN2CDOXYQ/awsSdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PPGYLTXQRGS2IJ4JZXPWYX62TOLAPH26JTONDUF3EDFQYP3XMPHA/awsSdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/233d7d54-a953-42e6-b28e-52f5f411679c/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KOANF3S3CRLNPU3GHPGET3FMLSSK4MAVNG7YXVTVNLXAZ3VSH4JQ/awsSdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3OBCWI6JUXFWF6BI27SHW4R36TZZUU7VMLNXWTQIPKVIFUHIXJVQ/awsSdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/bf2a1bab-5a2d-476e-89f7-aef50eec6b94/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4SP7UYRYABIOCPYBYE3NN32KHADRBZRACCBPG2EXANQ3WIDS5QBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA6BI6MAAGODP6SYZ2ZANQ37UTJLFMBI25IEYCJQBMCFCRK6BVCQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MJAIEXLADEAO76HO2BY5A5HQUHEW43YDAP3OLNBFVIN5R46KWQ6Q/awsSdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UWEI33DMH7APFNEOB4PALH7FYWL7WWK6EFT34A4H3FLVZMW3BTOA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRGKIFJ2C4ZPFANMN7RY6D5IXOSRMKXP7BHVF2GZMTE4EPU7YI3A/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c6e7f38f-c8a8-4d74-91a1-7d58a6d19288/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZMBHVK65Y3JNXNQDH7PRDCN57LKBQPO3THL2O736PBCVAP5XI2UQ/awsSdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5FCWFEFOIM4SL5ZJS43IM2KMT7542IRZM7VKJBTPEUM2DQ2ZLJ7A/awsSdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/742058ee-8170-4e87-9889-9ec3a310e3f7/main.js"
            ]
        },
        "ListInsightRules": {
            "input": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "MaxInsightResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "InsightRules": {
                        "shape": "S45"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJROT5LP4XGQ3LSNXPMCNZUJ4CN2K7GXYANLLQ635IYFG3T4IQUA/awsSdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UJROT5LP4XGQ3LSNXPMCNZUJ4CN2K7GXYANLLQ635IYFG3T4IQUA/awsSdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/M2HPHTZWTR5OOCDOHYEZUT7WMUPZNZASAJPETOB7KEGWTGFNETOQ/awsSdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/00f9aed6-5b78-43c2-baa3-45e847aaaab6/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/8b0ad4c9-faf3-4ab8-9096-63188c6d0e72/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/08c5192b-f850-4f76-8f53-0913f00ebc99/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/B6XBTUJJHF5C4BI4M72KN5DEYMAT5XGP2UKJKZOPP63FGNPCRM5Q/awsSdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/STTZGNN5JLDMPOZ42XBTVZICXDP34BJILTUY27KAKGI2GMBVHBUA/awsSdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GEBULXE2K2TGW2K377ALCFGTPLUXV5BBXL2OYILC3VZPZFXNAU5Q/awsSdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V5QMQ4RQDRHZBXFTVW2CLAGBMDCDMO4GC767SAAQKLGAN2CDOXYQ/awsSdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PPGYLTXQRGS2IJ4JZXPWYX62TOLAPH26JTONDUF3EDFQYP3XMPHA/awsSdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/233d7d54-a953-42e6-b28e-52f5f411679c/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KOANF3S3CRLNPU3GHPGET3FMLSSK4MAVNG7YXVTVNLXAZ3VSH4JQ/awsSdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3OBCWI6JUXFWF6BI27SHW4R36TZZUU7VMLNXWTQIPKVIFUHIXJVQ/awsSdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/bf2a1bab-5a2d-476e-89f7-aef50eec6b94/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4SP7UYRYABIOCPYBYE3NN32KHADRBZRACCBPG2EXANQ3WIDS5QBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA6BI6MAAGODP6SYZ2ZANQ37UTJLFMBI25IEYCJQBMCFCRK6BVCQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MJAIEXLADEAO76HO2BY5A5HQUHEW43YDAP3OLNBFVIN5R46KWQ6Q/awsSdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UWEI33DMH7APFNEOB4PALH7FYWL7WWK6EFT34A4H3FLVZMW3BTOA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRGKIFJ2C4ZPFANMN7RY6D5IXOSRMKXP7BHVF2GZMTE4EPU7YI3A/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c6e7f38f-c8a8-4d74-91a1-7d58a6d19288/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZMBHVK65Y3JNXNQDH7PRDCN57LKBQPO3THL2O736PBCVAP5XI2UQ/awsSdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5FCWFEFOIM4SL5ZJS43IM2KMT7542IRZM7VKJBTPEUM2DQ2ZLJ7A/awsSdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/742058ee-8170-4e87-9889-9ec3a310e3f7/main.js"
            ]
        },
        "ListInsightRulesSnapshot": {
            "input": {
                "type": "structure",
                "members": {
                    "TargetAccountId": {},
                    "NextToken": {},
                    "SnapshotToken": {},
                    "SourceName": {},
                    "SourceType": {},
                    "StateFilter": {},
                    "MaxInsightResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "SnapshotToken": {},
                    "InsightRules": {
                        "shape": "S45"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJROT5LP4XGQ3LSNXPMCNZUJ4CN2K7GXYANLLQ635IYFG3T4IQUA/awsSdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UJROT5LP4XGQ3LSNXPMCNZUJ4CN2K7GXYANLLQ635IYFG3T4IQUA/awsSdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/M2HPHTZWTR5OOCDOHYEZUT7WMUPZNZASAJPETOB7KEGWTGFNETOQ/awsSdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/00f9aed6-5b78-43c2-baa3-45e847aaaab6/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/8b0ad4c9-faf3-4ab8-9096-63188c6d0e72/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/08c5192b-f850-4f76-8f53-0913f00ebc99/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/B6XBTUJJHF5C4BI4M72KN5DEYMAT5XGP2UKJKZOPP63FGNPCRM5Q/awsSdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/STTZGNN5JLDMPOZ42XBTVZICXDP34BJILTUY27KAKGI2GMBVHBUA/awsSdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GEBULXE2K2TGW2K377ALCFGTPLUXV5BBXL2OYILC3VZPZFXNAU5Q/awsSdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V5QMQ4RQDRHZBXFTVW2CLAGBMDCDMO4GC767SAAQKLGAN2CDOXYQ/awsSdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PPGYLTXQRGS2IJ4JZXPWYX62TOLAPH26JTONDUF3EDFQYP3XMPHA/awsSdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/233d7d54-a953-42e6-b28e-52f5f411679c/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KOANF3S3CRLNPU3GHPGET3FMLSSK4MAVNG7YXVTVNLXAZ3VSH4JQ/awsSdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3OBCWI6JUXFWF6BI27SHW4R36TZZUU7VMLNXWTQIPKVIFUHIXJVQ/awsSdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/bf2a1bab-5a2d-476e-89f7-aef50eec6b94/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4SP7UYRYABIOCPYBYE3NN32KHADRBZRACCBPG2EXANQ3WIDS5QBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA6BI6MAAGODP6SYZ2ZANQ37UTJLFMBI25IEYCJQBMCFCRK6BVCQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MJAIEXLADEAO76HO2BY5A5HQUHEW43YDAP3OLNBFVIN5R46KWQ6Q/awsSdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UWEI33DMH7APFNEOB4PALH7FYWL7WWK6EFT34A4H3FLVZMW3BTOA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRGKIFJ2C4ZPFANMN7RY6D5IXOSRMKXP7BHVF2GZMTE4EPU7YI3A/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c6e7f38f-c8a8-4d74-91a1-7d58a6d19288/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZMBHVK65Y3JNXNQDH7PRDCN57LKBQPO3THL2O736PBCVAP5XI2UQ/awsSdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5FCWFEFOIM4SL5ZJS43IM2KMT7542IRZM7VKJBTPEUM2DQ2ZLJ7A/awsSdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/742058ee-8170-4e87-9889-9ec3a310e3f7/main.js"
            ]
        },
        "PutInsightRule": {
            "input": {
                "type": "structure",
                "required": [
                    "RuleName",
                    "RuleDefinition"
                ],
                "members": {
                    "RuleName": {},
                    "RuleState": {},
                    "RuleDefinition": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJROT5LP4XGQ3LSNXPMCNZUJ4CN2K7GXYANLLQ635IYFG3T4IQUA/awsSdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UJROT5LP4XGQ3LSNXPMCNZUJ4CN2K7GXYANLLQ635IYFG3T4IQUA/awsSdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/M2HPHTZWTR5OOCDOHYEZUT7WMUPZNZASAJPETOB7KEGWTGFNETOQ/awsSdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/00f9aed6-5b78-43c2-baa3-45e847aaaab6/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/8b0ad4c9-faf3-4ab8-9096-63188c6d0e72/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/08c5192b-f850-4f76-8f53-0913f00ebc99/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/B6XBTUJJHF5C4BI4M72KN5DEYMAT5XGP2UKJKZOPP63FGNPCRM5Q/awsSdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/STTZGNN5JLDMPOZ42XBTVZICXDP34BJILTUY27KAKGI2GMBVHBUA/awsSdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GEBULXE2K2TGW2K377ALCFGTPLUXV5BBXL2OYILC3VZPZFXNAU5Q/awsSdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V5QMQ4RQDRHZBXFTVW2CLAGBMDCDMO4GC767SAAQKLGAN2CDOXYQ/awsSdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PPGYLTXQRGS2IJ4JZXPWYX62TOLAPH26JTONDUF3EDFQYP3XMPHA/awsSdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/233d7d54-a953-42e6-b28e-52f5f411679c/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KOANF3S3CRLNPU3GHPGET3FMLSSK4MAVNG7YXVTVNLXAZ3VSH4JQ/awsSdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3OBCWI6JUXFWF6BI27SHW4R36TZZUU7VMLNXWTQIPKVIFUHIXJVQ/awsSdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/bf2a1bab-5a2d-476e-89f7-aef50eec6b94/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4SP7UYRYABIOCPYBYE3NN32KHADRBZRACCBPG2EXANQ3WIDS5QBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA6BI6MAAGODP6SYZ2ZANQ37UTJLFMBI25IEYCJQBMCFCRK6BVCQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MJAIEXLADEAO76HO2BY5A5HQUHEW43YDAP3OLNBFVIN5R46KWQ6Q/awsSdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UWEI33DMH7APFNEOB4PALH7FYWL7WWK6EFT34A4H3FLVZMW3BTOA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRGKIFJ2C4ZPFANMN7RY6D5IXOSRMKXP7BHVF2GZMTE4EPU7YI3A/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c6e7f38f-c8a8-4d74-91a1-7d58a6d19288/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZMBHVK65Y3JNXNQDH7PRDCN57LKBQPO3THL2O736PBCVAP5XI2UQ/awsSdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5FCWFEFOIM4SL5ZJS43IM2KMT7542IRZM7VKJBTPEUM2DQ2ZLJ7A/awsSdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/742058ee-8170-4e87-9889-9ec3a310e3f7/main.js"
            ]
        },
        "PutInsightRuleData": {
            "input": {
                "type": "structure",
                "required": [
                    "BinaryContributionsData"
                ],
                "members": {
                    "BinaryContributionsData": {
                        "type": "blob"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Failures": {
                        "shape": "S5"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJROT5LP4XGQ3LSNXPMCNZUJ4CN2K7GXYANLLQ635IYFG3T4IQUA/awsSdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UJROT5LP4XGQ3LSNXPMCNZUJ4CN2K7GXYANLLQ635IYFG3T4IQUA/awsSdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/M2HPHTZWTR5OOCDOHYEZUT7WMUPZNZASAJPETOB7KEGWTGFNETOQ/awsSdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/00f9aed6-5b78-43c2-baa3-45e847aaaab6/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/8b0ad4c9-faf3-4ab8-9096-63188c6d0e72/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/08c5192b-f850-4f76-8f53-0913f00ebc99/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/B6XBTUJJHF5C4BI4M72KN5DEYMAT5XGP2UKJKZOPP63FGNPCRM5Q/awsSdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/STTZGNN5JLDMPOZ42XBTVZICXDP34BJILTUY27KAKGI2GMBVHBUA/awsSdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GEBULXE2K2TGW2K377ALCFGTPLUXV5BBXL2OYILC3VZPZFXNAU5Q/awsSdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V5QMQ4RQDRHZBXFTVW2CLAGBMDCDMO4GC767SAAQKLGAN2CDOXYQ/awsSdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PPGYLTXQRGS2IJ4JZXPWYX62TOLAPH26JTONDUF3EDFQYP3XMPHA/awsSdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/233d7d54-a953-42e6-b28e-52f5f411679c/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KOANF3S3CRLNPU3GHPGET3FMLSSK4MAVNG7YXVTVNLXAZ3VSH4JQ/awsSdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3OBCWI6JUXFWF6BI27SHW4R36TZZUU7VMLNXWTQIPKVIFUHIXJVQ/awsSdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/bf2a1bab-5a2d-476e-89f7-aef50eec6b94/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4SP7UYRYABIOCPYBYE3NN32KHADRBZRACCBPG2EXANQ3WIDS5QBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA6BI6MAAGODP6SYZ2ZANQ37UTJLFMBI25IEYCJQBMCFCRK6BVCQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MJAIEXLADEAO76HO2BY5A5HQUHEW43YDAP3OLNBFVIN5R46KWQ6Q/awsSdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UWEI33DMH7APFNEOB4PALH7FYWL7WWK6EFT34A4H3FLVZMW3BTOA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRGKIFJ2C4ZPFANMN7RY6D5IXOSRMKXP7BHVF2GZMTE4EPU7YI3A/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c6e7f38f-c8a8-4d74-91a1-7d58a6d19288/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZMBHVK65Y3JNXNQDH7PRDCN57LKBQPO3THL2O736PBCVAP5XI2UQ/awsSdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5FCWFEFOIM4SL5ZJS43IM2KMT7542IRZM7VKJBTPEUM2DQ2ZLJ7A/awsSdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/742058ee-8170-4e87-9889-9ec3a310e3f7/main.js"
            ]
        },
        "SearchMetricSchemas": {
            "input": {
                "type": "structure",
                "members": {
                    "Query": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "MetricSchemaCounts": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "MetricSchema": {
                                    "type": "structure",
                                    "members": {
                                        "Namespace": {},
                                        "DimensionNames": {
                                            "type": "list",
                                            "member": {}
                                        }
                                    },
                                    "xmlOrder": [
                                        "Namespace",
                                        "DimensionNames"
                                    ]
                                },
                                "Count": {
                                    "type": "integer"
                                }
                            },
                            "xmlOrder": [
                                "MetricSchema",
                                "Count"
                            ]
                        }
                    },
                    "HasMore": {
                        "type": "boolean"
                    }
                },
                "xmlOrder": [
                    "MetricSchemaCounts",
                    "HasMore"
                ]
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJROT5LP4XGQ3LSNXPMCNZUJ4CN2K7GXYANLLQ635IYFG3T4IQUA/awsSdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UJROT5LP4XGQ3LSNXPMCNZUJ4CN2K7GXYANLLQ635IYFG3T4IQUA/awsSdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/M2HPHTZWTR5OOCDOHYEZUT7WMUPZNZASAJPETOB7KEGWTGFNETOQ/awsSdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/00f9aed6-5b78-43c2-baa3-45e847aaaab6/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/8b0ad4c9-faf3-4ab8-9096-63188c6d0e72/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/08c5192b-f850-4f76-8f53-0913f00ebc99/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/B6XBTUJJHF5C4BI4M72KN5DEYMAT5XGP2UKJKZOPP63FGNPCRM5Q/awsSdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/STTZGNN5JLDMPOZ42XBTVZICXDP34BJILTUY27KAKGI2GMBVHBUA/awsSdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GEBULXE2K2TGW2K377ALCFGTPLUXV5BBXL2OYILC3VZPZFXNAU5Q/awsSdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V5QMQ4RQDRHZBXFTVW2CLAGBMDCDMO4GC767SAAQKLGAN2CDOXYQ/awsSdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PPGYLTXQRGS2IJ4JZXPWYX62TOLAPH26JTONDUF3EDFQYP3XMPHA/awsSdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/233d7d54-a953-42e6-b28e-52f5f411679c/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KOANF3S3CRLNPU3GHPGET3FMLSSK4MAVNG7YXVTVNLXAZ3VSH4JQ/awsSdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3OBCWI6JUXFWF6BI27SHW4R36TZZUU7VMLNXWTQIPKVIFUHIXJVQ/awsSdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/bf2a1bab-5a2d-476e-89f7-aef50eec6b94/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4SP7UYRYABIOCPYBYE3NN32KHADRBZRACCBPG2EXANQ3WIDS5QBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA6BI6MAAGODP6SYZ2ZANQ37UTJLFMBI25IEYCJQBMCFCRK6BVCQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MJAIEXLADEAO76HO2BY5A5HQUHEW43YDAP3OLNBFVIN5R46KWQ6Q/awsSdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UWEI33DMH7APFNEOB4PALH7FYWL7WWK6EFT34A4H3FLVZMW3BTOA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRGKIFJ2C4ZPFANMN7RY6D5IXOSRMKXP7BHVF2GZMTE4EPU7YI3A/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c6e7f38f-c8a8-4d74-91a1-7d58a6d19288/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZMBHVK65Y3JNXNQDH7PRDCN57LKBQPO3THL2O736PBCVAP5XI2UQ/awsSdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5FCWFEFOIM4SL5ZJS43IM2KMT7542IRZM7VKJBTPEUM2DQ2ZLJ7A/awsSdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/742058ee-8170-4e87-9889-9ec3a310e3f7/main.js"
            ]
        },
        "SearchMetrics": {
            "input": {
                "type": "structure",
                "members": {
                    "Query": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Metrics": {
                        "shape": "S1b"
                    },
                    "CurrentNumberOfMatches": {
                        "type": "integer"
                    }
                },
                "xmlOrder": [
                    "Metrics",
                    "CurrentNumberOfMatches"
                ]
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJROT5LP4XGQ3LSNXPMCNZUJ4CN2K7GXYANLLQ635IYFG3T4IQUA/awsSdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UJROT5LP4XGQ3LSNXPMCNZUJ4CN2K7GXYANLLQ635IYFG3T4IQUA/awsSdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/M2HPHTZWTR5OOCDOHYEZUT7WMUPZNZASAJPETOB7KEGWTGFNETOQ/awsSdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/00f9aed6-5b78-43c2-baa3-45e847aaaab6/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/8b0ad4c9-faf3-4ab8-9096-63188c6d0e72/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/08c5192b-f850-4f76-8f53-0913f00ebc99/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/B6XBTUJJHF5C4BI4M72KN5DEYMAT5XGP2UKJKZOPP63FGNPCRM5Q/awsSdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/STTZGNN5JLDMPOZ42XBTVZICXDP34BJILTUY27KAKGI2GMBVHBUA/awsSdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GEBULXE2K2TGW2K377ALCFGTPLUXV5BBXL2OYILC3VZPZFXNAU5Q/awsSdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V5QMQ4RQDRHZBXFTVW2CLAGBMDCDMO4GC767SAAQKLGAN2CDOXYQ/awsSdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PPGYLTXQRGS2IJ4JZXPWYX62TOLAPH26JTONDUF3EDFQYP3XMPHA/awsSdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/233d7d54-a953-42e6-b28e-52f5f411679c/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KOANF3S3CRLNPU3GHPGET3FMLSSK4MAVNG7YXVTVNLXAZ3VSH4JQ/awsSdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3OBCWI6JUXFWF6BI27SHW4R36TZZUU7VMLNXWTQIPKVIFUHIXJVQ/awsSdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/bf2a1bab-5a2d-476e-89f7-aef50eec6b94/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4SP7UYRYABIOCPYBYE3NN32KHADRBZRACCBPG2EXANQ3WIDS5QBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA6BI6MAAGODP6SYZ2ZANQ37UTJLFMBI25IEYCJQBMCFCRK6BVCQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MJAIEXLADEAO76HO2BY5A5HQUHEW43YDAP3OLNBFVIN5R46KWQ6Q/awsSdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UWEI33DMH7APFNEOB4PALH7FYWL7WWK6EFT34A4H3FLVZMW3BTOA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRGKIFJ2C4ZPFANMN7RY6D5IXOSRMKXP7BHVF2GZMTE4EPU7YI3A/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c6e7f38f-c8a8-4d74-91a1-7d58a6d19288/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZMBHVK65Y3JNXNQDH7PRDCN57LKBQPO3THL2O736PBCVAP5XI2UQ/awsSdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5FCWFEFOIM4SL5ZJS43IM2KMT7542IRZM7VKJBTPEUM2DQ2ZLJ7A/awsSdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/742058ee-8170-4e87-9889-9ec3a310e3f7/main.js"
            ]
        }
    },
    "shapes": {
        "S2": {
            "type": "list",
            "member": {}
        },
        "S5": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "FailureResource": {},
                    "ExceptionType": {},
                    "FailureCode": {},
                    "FailureDescription": {}
                }
            }
        },
        "Sf": {
            "type": "list",
            "member": {}
        },
        "So": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "AlarmName": {},
                    "AlarmArn": {},
                    "AlarmDescription": {},
                    "AlarmConfigurationUpdatedTimestamp": {
                        "type": "timestamp"
                    },
                    "ActionsEnabled": {
                        "type": "boolean"
                    },
                    "OKActions": {
                        "shape": "Su"
                    },
                    "AlarmActions": {
                        "shape": "Su"
                    },
                    "InsufficientDataActions": {
                        "shape": "Su"
                    },
                    "StateValue": {},
                    "StateReason": {},
                    "StateReasonData": {},
                    "StateUpdatedTimestamp": {
                        "type": "timestamp"
                    },
                    "MetricName": {},
                    "Namespace": {},
                    "Statistic": {
                        "type": "string",
                        "deprecated": true
                    },
                    "Dimensions": {
                        "shape": "S11"
                    },
                    "Period": {
                        "type": "integer"
                    },
                    "Unit": {},
                    "EvaluationPeriods": {
                        "type": "integer"
                    },
                    "DatapointsToAlarm": {
                        "type": "integer"
                    },
                    "Threshold": {
                        "type": "double"
                    },
                    "ComparisonOperator": {},
                    "Metrics": {
                        "shape": "S1b"
                    },
                    "EvaluationPeriodsToOK": {
                        "type": "integer"
                    },
                    "ExtendedStatistic": {},
                    "MissingDataPointTreatment": {},
                    "TreatMissingData": {},
                    "EvaluateLowSampleCountPercentile": {},
                    "SampleCountThreshold": {},
                    "Actions": {
                        "type": "list",
                        "member": {
                            "shape": "S1s"
                        }
                    },
                    "AlarmData": {},
                    "ConsecutivePeriodsToOk": {
                        "type": "integer"
                    },
                    "ConsecutivePeriodsToAlarm": {
                        "type": "integer"
                    },
                    "AlarmConditions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Threshold": {},
                                "ThresholdOffset": {
                                    "type": "double"
                                },
                                "ComparisonOperator": {}
                            }
                        }
                    },
                    "ThresholdPercentageAdjustmentToOk": {
                        "type": "integer"
                    },
                    "CreationId": {},
                    "ThresholdMetricId": {},
                    "ResourceArn": {},
                    "AlarmManagerArn": {},
                    "EvaluationState": {},
                    "StateTransitionedTimestamp": {
                        "type": "timestamp"
                    }
                },
                "xmlOrder": [
                    "AlarmName",
                    "AlarmArn",
                    "AlarmDescription",
                    "AlarmConfigurationUpdatedTimestamp",
                    "ActionsEnabled",
                    "OKActions",
                    "AlarmActions",
                    "InsufficientDataActions",
                    "StateValue",
                    "StateReason",
                    "StateReasonData",
                    "StateUpdatedTimestamp",
                    "MetricName",
                    "Namespace",
                    "Statistic",
                    "Dimensions",
                    "Period",
                    "Unit",
                    "EvaluationPeriods",
                    "Threshold",
                    "ComparisonOperator",
                    "EvaluationPeriodsToOK",
                    "ExtendedStatistic",
                    "MissingDataPointTreatment",
                    "SampleCountThreshold",
                    "Actions",
                    "AlarmData",
                    "ConsecutivePeriodsToOk",
                    "ConsecutivePeriodsToAlarm",
                    "AlarmConditions",
                    "ThresholdPercentageAdjustmentToOk",
                    "TreatMissingData",
                    "EvaluateLowSampleCountPercentile",
                    "DatapointsToAlarm",
                    "Metrics",
                    "CreationId",
                    "ThresholdMetricId",
                    "ResourceArn",
                    "AlarmManagerArn",
                    "EvaluationState",
                    "StateTransitionedTimestamp"
                ]
            }
        },
        "Su": {
            "type": "list",
            "member": {}
        },
        "S11": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "Name",
                    "Value"
                ],
                "members": {
                    "Name": {},
                    "Value": {}
                },
                "xmlOrder": [
                    "Name",
                    "Value"
                ]
            }
        },
        "S1b": {
            "type": "list",
            "member": {
                "shape": "S1c"
            }
        },
        "S1c": {
            "type": "structure",
            "members": {
                "Alias": {},
                "Region": {},
                "AccountId": {},
                "Namespace": {},
                "MetricName": {},
                "Dimensions": {
                    "shape": "S11"
                },
                "Period": {
                    "type": "integer"
                },
                "Stat": {},
                "Unit": {},
                "Range": {
                    "type": "structure",
                    "required": [
                        "StartTime",
                        "EndTime"
                    ],
                    "members": {
                        "StartTime": {
                            "type": "timestamp"
                        },
                        "EndTime": {
                            "type": "timestamp"
                        }
                    },
                    "xmlOrder": [
                        "StartTime",
                        "EndTime"
                    ]
                },
                "Label": {},
                "ReturnData": {
                    "type": "boolean"
                },
                "Expression": {},
                "ReturnDistributions": {
                    "type": "boolean"
                }
            }
        },
        "S1s": {
            "type": "structure",
            "required": [
                "ActionCondition",
                "ActionARN"
            ],
            "members": {
                "ActionCondition": {},
                "ActionARN": {},
                "ActionData": {}
            }
        },
        "S23": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "ActionsEnabled": {
                        "type": "boolean"
                    },
                    "AlarmActions": {
                        "shape": "Su"
                    },
                    "AlarmArn": {},
                    "AlarmConfigurationUpdatedTimestamp": {
                        "type": "timestamp"
                    },
                    "AlarmDescription": {},
                    "AlarmName": {},
                    "AlarmRule": {},
                    "CreationId": {},
                    "InsufficientDataActions": {
                        "shape": "Su"
                    },
                    "OKActions": {
                        "shape": "Su"
                    },
                    "StateReason": {},
                    "StateReasonData": {},
                    "StateUpdatedTimestamp": {
                        "type": "timestamp"
                    },
                    "StateValue": {},
                    "StateTransitionedTimestamp": {
                        "type": "timestamp"
                    },
                    "ActionsSuppressedBy": {},
                    "ActionsSuppressedReason": {},
                    "ActionsSuppressor": {},
                    "ActionsSuppressorWaitPeriod": {
                        "type": "integer"
                    },
                    "ActionsSuppressorExtensionPeriod": {
                        "type": "integer"
                    },
                    "Actions": {
                        "type": "list",
                        "member": {
                            "shape": "S1s"
                        }
                    },
                    "AlarmOverrides": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "StateValue": {},
                                "ActionsSuppressed": {
                                    "type": "boolean"
                                },
                                "Schedule": {},
                                "Duration": {
                                    "type": "integer"
                                },
                                "Reason": {}
                            }
                        }
                    }
                },
                "xmlOrder": [
                    "ActionsEnabled",
                    "AlarmActions",
                    "AlarmArn",
                    "AlarmConfigurationUpdatedTimestamp",
                    "AlarmDescription",
                    "AlarmName",
                    "AlarmRule",
                    "CreationId",
                    "InsufficientDataActions",
                    "OKActions",
                    "StateReason",
                    "StateReasonData",
                    "StateUpdatedTimestamp",
                    "StateValue",
                    "StateTransitionedTimestamp",
                    "ActionsSuppressedBy",
                    "ActionsSuppressedReason",
                    "ActionsSuppressor",
                    "ActionsSuppressorWaitPeriod",
                    "ActionsSuppressorExtensionPeriod",
                    "Actions",
                    "AlarmOverrides"
                ]
            }
        },
        "S3h": {
            "type": "structure",
            "members": {
                "Alias": {},
                "Region": {},
                "AccountId": {},
                "StatusCode": {},
                "Namespace": {},
                "MetricName": {},
                "Dimensions": {
                    "shape": "S11"
                },
                "Period": {
                    "type": "integer"
                },
                "Timestamp": {
                    "type": "timestamp"
                },
                "Timestamps": {
                    "type": "list",
                    "member": {
                        "type": "timestamp"
                    }
                },
                "Stat": {},
                "Unit": {},
                "Value": {
                    "deprecated": true,
                    "type": "double"
                },
                "StatisticValues": {
                    "shape": "S3l"
                },
                "Values": {
                    "shape": "S3m"
                },
                "Counts": {
                    "shape": "S3n"
                },
                "StorageResolution": {
                    "type": "integer"
                },
                "Label": {},
                "ListElement": {
                    "type": "boolean"
                },
                "Messages": {
                    "shape": "S3q"
                },
                "Distributions": {
                    "type": "list",
                    "member": {
                        "type": "structure",
                        "members": {
                            "StatisticValues": {
                                "shape": "S3l"
                            },
                            "Values": {
                                "shape": "S3m"
                            },
                            "Counts": {
                                "shape": "S3n"
                            }
                        }
                    }
                }
            }
        },
        "S3l": {
            "type": "structure",
            "required": [
                "SampleCount",
                "Sum",
                "Minimum",
                "Maximum"
            ],
            "members": {
                "SampleCount": {
                    "type": "double"
                },
                "Sum": {
                    "type": "double"
                },
                "Minimum": {
                    "type": "double"
                },
                "Maximum": {
                    "type": "double"
                }
            }
        },
        "S3m": {
            "type": "list",
            "member": {
                "type": "double"
            }
        },
        "S3n": {
            "type": "list",
            "member": {
                "type": "double"
            }
        },
        "S3q": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "Code": {},
                    "Value": {}
                }
            }
        },
        "S45": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "Name",
                    "State",
                    "Definition"
                ],
                "members": {
                    "Name": {},
                    "State": {},
                    "Definition": {},
                    "CellId": {},
                    "Destinations": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Name": {}
                            }
                        }
                    },
                    "DestinationAccountId": {},
                    "RuleMetadata": {
                        "type": "blob"
                    }
                }
            }
        },
        "S1r": {
            "type": "structure",
            "required": [
                "ActionCondition",
                "ActionARN"
            ],
            "members": {
                "ActionCondition": {},
                "ActionARN": {},
                "ActionData": {}
            }
        },
        "S22": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "ActionsEnabled": {
                        "type": "boolean"
                    },
                    "AlarmActions": {
                        "shape": "Su"
                    },
                    "AlarmArn": {},
                    "AlarmConfigurationUpdatedTimestamp": {
                        "type": "timestamp"
                    },
                    "AlarmDescription": {},
                    "AlarmName": {},
                    "AlarmRule": {},
                    "CreationId": {},
                    "InsufficientDataActions": {
                        "shape": "Su"
                    },
                    "OKActions": {
                        "shape": "Su"
                    },
                    "StateReason": {},
                    "StateReasonData": {},
                    "StateUpdatedTimestamp": {
                        "type": "timestamp"
                    },
                    "StateValue": {},
                    "StateTransitionedTimestamp": {
                        "type": "timestamp"
                    },
                    "ActionsSuppressedBy": {},
                    "ActionsSuppressedReason": {},
                    "ActionsSuppressor": {},
                    "ActionsSuppressorWaitPeriod": {
                        "type": "integer"
                    },
                    "ActionsSuppressorExtensionPeriod": {
                        "type": "integer"
                    },
                    "Actions": {
                        "type": "list",
                        "member": {
                            "shape": "S1r"
                        }
                    },
                    "AlarmOverrides": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "StateValue": {},
                                "ActionsSuppressed": {
                                    "type": "boolean"
                                },
                                "Schedule": {},
                                "Duration": {
                                    "type": "integer"
                                },
                                "Reason": {}
                            }
                        }
                    }
                },
                "xmlOrder": [
                    "ActionsEnabled",
                    "AlarmActions",
                    "AlarmArn",
                    "AlarmConfigurationUpdatedTimestamp",
                    "AlarmDescription",
                    "AlarmName",
                    "AlarmRule",
                    "CreationId",
                    "InsufficientDataActions",
                    "OKActions",
                    "StateReason",
                    "StateReasonData",
                    "StateUpdatedTimestamp",
                    "StateValue",
                    "StateTransitionedTimestamp",
                    "ActionsSuppressedBy",
                    "ActionsSuppressedReason",
                    "ActionsSuppressor",
                    "ActionsSuppressorWaitPeriod",
                    "ActionsSuppressorExtensionPeriod",
                    "Actions",
                    "AlarmOverrides"
                ]
            }
        },
        "S3g": {
            "type": "structure",
            "members": {
                "Alias": {},
                "Region": {},
                "AccountId": {},
                "StatusCode": {},
                "Namespace": {},
                "MetricName": {},
                "Dimensions": {
                    "shape": "S11"
                },
                "Period": {
                    "type": "integer"
                },
                "Timestamp": {
                    "type": "timestamp"
                },
                "Timestamps": {
                    "type": "list",
                    "member": {
                        "type": "timestamp"
                    }
                },
                "Stat": {},
                "Unit": {},
                "Value": {
                    "deprecated": true,
                    "type": "double"
                },
                "StatisticValues": {
                    "type": "structure",
                    "required": [
                        "SampleCount",
                        "Sum",
                        "Minimum",
                        "Maximum"
                    ],
                    "members": {
                        "SampleCount": {
                            "type": "double"
                        },
                        "Sum": {
                            "type": "double"
                        },
                        "Minimum": {
                            "type": "double"
                        },
                        "Maximum": {
                            "type": "double"
                        }
                    }
                },
                "Values": {
                    "type": "list",
                    "member": {
                        "type": "double"
                    }
                },
                "Counts": {
                    "type": "list",
                    "member": {
                        "type": "double"
                    }
                },
                "StorageResolution": {
                    "type": "integer"
                },
                "Label": {},
                "ListElement": {
                    "type": "boolean"
                },
                "Messages": {
                    "shape": "S3p"
                }
            }
        },
        "S3p": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "Code": {},
                    "Value": {}
                }
            }
        },
        "S42": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "Name",
                    "State",
                    "Definition"
                ],
                "members": {
                    "Name": {},
                    "State": {},
                    "Definition": {},
                    "CellId": {},
                    "Destinations": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Name": {}
                            }
                        }
                    },
                    "DestinationAccountId": {},
                    "RuleMetadata": {
                        "type": "blob"
                    }
                }
            }
        },
        "S1t": {
            "type": "structure",
            "required": [
                "ActionCondition",
                "ActionARN"
            ],
            "members": {
                "ActionCondition": {},
                "ActionARN": {},
                "ActionData": {}
            }
        },
        "S24": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "ActionsEnabled": {
                        "type": "boolean"
                    },
                    "AlarmActions": {
                        "shape": "Su"
                    },
                    "AlarmArn": {},
                    "AlarmConfigurationUpdatedTimestamp": {
                        "type": "timestamp"
                    },
                    "AlarmDescription": {},
                    "AlarmName": {},
                    "AlarmRule": {},
                    "CreationId": {},
                    "InsufficientDataActions": {
                        "shape": "Su"
                    },
                    "OKActions": {
                        "shape": "Su"
                    },
                    "StateReason": {},
                    "StateReasonData": {},
                    "StateUpdatedTimestamp": {
                        "type": "timestamp"
                    },
                    "StateValue": {},
                    "StateTransitionedTimestamp": {
                        "type": "timestamp"
                    },
                    "ActionsSuppressedBy": {},
                    "ActionsSuppressedReason": {},
                    "ActionsSuppressor": {},
                    "ActionsSuppressorWaitPeriod": {
                        "type": "integer"
                    },
                    "ActionsSuppressorExtensionPeriod": {
                        "type": "integer"
                    },
                    "Actions": {
                        "type": "list",
                        "member": {
                            "shape": "S1t"
                        }
                    },
                    "AlarmOverrides": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "StateValue": {},
                                "ActionsSuppressed": {
                                    "type": "boolean"
                                },
                                "Schedule": {},
                                "Duration": {
                                    "type": "integer"
                                },
                                "Reason": {}
                            }
                        }
                    }
                },
                "xmlOrder": [
                    "ActionsEnabled",
                    "AlarmActions",
                    "AlarmArn",
                    "AlarmConfigurationUpdatedTimestamp",
                    "AlarmDescription",
                    "AlarmName",
                    "AlarmRule",
                    "CreationId",
                    "InsufficientDataActions",
                    "OKActions",
                    "StateReason",
                    "StateReasonData",
                    "StateUpdatedTimestamp",
                    "StateValue",
                    "StateTransitionedTimestamp",
                    "ActionsSuppressedBy",
                    "ActionsSuppressedReason",
                    "ActionsSuppressor",
                    "ActionsSuppressorWaitPeriod",
                    "ActionsSuppressorExtensionPeriod",
                    "Actions",
                    "AlarmOverrides"
                ]
            }
        },
        "S3i": {
            "type": "structure",
            "members": {
                "Alias": {},
                "Region": {},
                "AccountId": {},
                "StatusCode": {},
                "Namespace": {},
                "MetricName": {},
                "Dimensions": {
                    "shape": "S11"
                },
                "Period": {
                    "type": "integer"
                },
                "Timestamp": {
                    "type": "timestamp"
                },
                "Timestamps": {
                    "type": "list",
                    "member": {
                        "type": "timestamp"
                    }
                },
                "Stat": {},
                "Unit": {},
                "Value": {
                    "deprecated": true,
                    "type": "double"
                },
                "StatisticValues": {
                    "shape": "S3m"
                },
                "Values": {
                    "shape": "S3n"
                },
                "Counts": {
                    "shape": "S3o"
                },
                "StorageResolution": {
                    "type": "integer"
                },
                "Label": {},
                "ListElement": {
                    "type": "boolean"
                },
                "Messages": {
                    "shape": "S3r"
                },
                "Distributions": {
                    "type": "list",
                    "member": {
                        "type": "structure",
                        "members": {
                            "StatisticValues": {
                                "shape": "S3m"
                            },
                            "Values": {
                                "shape": "S3n"
                            },
                            "Counts": {
                                "shape": "S3o"
                            }
                        }
                    }
                },
                "GroupByValues": {
                    "type": "list",
                    "member": {}
                }
            }
        },
        "S3o": {
            "type": "list",
            "member": {
                "type": "double"
            }
        },
        "S3r": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "Code": {},
                    "Value": {}
                }
            }
        },
        "S47": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "Name",
                    "State",
                    "Definition"
                ],
                "members": {
                    "Name": {},
                    "State": {},
                    "Definition": {},
                    "DisableAt": {
                        "type": "timestamp"
                    },
                    "DeleteAt": {
                        "type": "timestamp"
                    },
                    "CellId": {},
                    "Destinations": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Name": {}
                            }
                        }
                    },
                    "DestinationAccountId": {},
                    "RuleMetadata": {
                        "type": "blob"
                    }
                }
            }
        },
        "S3j": {
            "type": "structure",
            "members": {
                "Alias": {},
                "Region": {},
                "AccountId": {},
                "StatusCode": {},
                "Namespace": {},
                "MetricName": {},
                "Dimensions": {
                    "shape": "S11"
                },
                "Period": {
                    "type": "integer"
                },
                "Timestamp": {
                    "type": "timestamp"
                },
                "Timestamps": {
                    "type": "list",
                    "member": {
                        "type": "timestamp"
                    }
                },
                "Stat": {},
                "Unit": {},
                "Value": {
                    "deprecated": true,
                    "type": "double"
                },
                "StatisticValues": {
                    "shape": "S3n"
                },
                "Values": {
                    "shape": "S3o"
                },
                "Counts": {
                    "shape": "S3p"
                },
                "StorageResolution": {
                    "type": "integer"
                },
                "Label": {},
                "ListElement": {
                    "type": "boolean"
                },
                "Messages": {
                    "shape": "S3s"
                },
                "Distributions": {
                    "type": "list",
                    "member": {
                        "type": "structure",
                        "members": {
                            "StatisticValues": {
                                "shape": "S3n"
                            },
                            "Values": {
                                "shape": "S3o"
                            },
                            "Counts": {
                                "shape": "S3p"
                            }
                        }
                    }
                },
                "GroupByValues": {
                    "type": "list",
                    "member": {}
                },
                "Anomalies": {
                    "type": "list",
                    "member": {
                        "type": "structure",
                        "members": {
                            "StartTime": {
                                "type": "timestamp"
                            },
                            "EndTime": {
                                "type": "timestamp"
                            },
                            "Score": {
                                "type": "double"
                            }
                        }
                    }
                }
            }
        },
        "S3s": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "Code": {},
                    "Value": {}
                }
            }
        },
        "S4b": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "Name",
                    "State",
                    "Definition"
                ],
                "members": {
                    "Name": {},
                    "State": {},
                    "Definition": {},
                    "DisableAt": {
                        "type": "timestamp"
                    },
                    "DeleteAt": {
                        "type": "timestamp"
                    },
                    "CellId": {},
                    "Destinations": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Name": {}
                            }
                        }
                    },
                    "DestinationAccountId": {},
                    "RuleMetadata": {
                        "type": "blob"
                    }
                }
            }
        },
        "S3u": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "Code": {},
                    "Value": {}
                }
            }
        },
        "S4f": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "Name",
                    "State",
                    "Definition"
                ],
                "members": {
                    "Name": {},
                    "State": {},
                    "Definition": {},
                    "DisableAt": {
                        "type": "timestamp"
                    },
                    "DeleteAt": {
                        "type": "timestamp"
                    },
                    "CellId": {},
                    "Destinations": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Name": {}
                            }
                        }
                    },
                    "DestinationAccountId": {},
                    "RuleMetadata": {
                        "type": "blob"
                    },
                    "PublishHistograms": {
                        "type": "boolean"
                    }
                }
            }
        }
    }
}