{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2013-01-16",
        "endpointPrefix": "monitoring",
        "jsonVersion": "1.0",
        "protocol": "json",
        "serviceAbbreviation": "CloudWatch",
        "serviceFullName": "Amazon CloudWatch",
        "serviceId": "CloudWatch",
        "signatureVersion": "v4",
        "targetPrefix": "CloudWatchVersion20130116",
        "uid": "monitoring-2013-01-16",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/SU35YHXKOCN7NLWUZHUN2LKBHSM7EOEGEF5WKI2ZK75FKUMDK2JA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WE6BATN6OQXEHT5FNMI4VC76JIIKNAK5CF5KUDJBBLEHJNIDCTVA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7U2VW2U3TPC35DSS7LMPCXGXAVOBB4YFERTLS4S3WPPTZWYJHSVQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SZ2XV2KFYHFCOB6CJP52BSQJ6GEGAOUQPGFTZGXKTYVBPP3KKBWQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5WQGJXGILQGVANJ5K3U6HL6K3NBTKSVK6MI5SDMWAP6KQVO57ZUA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WWYVXOOIXA7YWX2YQ2JR47ZQBGCNBVJ2STZTXF6KUFUADRYMJKFQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DKBZEOC3XP2ZI3HBF2XWZDPPSGEHJN2QXS2K2KVMJ6X6P2NHIQ5A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3LECTM54PNNK73TOQMCEBT4UFR4P4CIDTWCFMTXBDKT663HUXDVA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/I56M3I7G5O43PECHQL3DCN7I6YVJV3MKVZUY2ZCUIM6YEUPKQ5JQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2HO7W3HT27Z2VPXIKWCS2HJRXRF7ZTJHGHWQWZMTLQ6RAT2ZSLUA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MTJ66V5D3IXRFHPYUHHQXTXUA75QJUNPBI2ZF3IYO5UDP7UGUMMQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6YJO6CRESWY5VENDTMFDPFWE4IOQ4K3RN2YQGQNMBQEHX6MIS2AA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WECT4BWWZB7KJWVBMUFX34YY5K5ICJYOTEDJFRIEQQW3YXTMRCVA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5EQ5W6TS4WRIMEZ64LIZ27UMIN22LTNIR3AKSYLKVOC7DNBNF3TQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YC2H5IWGDKJPSGU4GTRDRUPUIXWZHD4RFTNWDVLYUZQ7J7YJFYCA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/THJWL5GLZYJX2HV5EKLTVAVZ7RR6ZEZ63XXYDSXDJA6NDY5SXWLA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GALYUTXVO5CCNSVQLRWOEGAOQCCXL6BHWZP4BJUIZSZXKTD753TA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XWJFEVQ3QXQGSTENAZU5EJJX34BWNQSEE2PYPUHGX2Y2O43IAELQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AHNSGVTDHN32Q4UKLTG2ZLIFY63H464Q2HEPDHVJZKSYCG4PSYEQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6XYNSJGMGDDUC2XPJ4JBFPRNVOND5AKQIRZ4AGBN3Q3MZWW5CUGA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CRIS2IDTEKCJSTHTQIC3FUFIHYNTN2DMGBZMDWZPS7X4UN3JFZ5A/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CYLUWJNESMJNGGUY6INHYM5N3H3PNRGRQS72DQRZLCJB7LP5PUAQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JN4JUJWVY6743EXQMW6IPF2236ICSZKGUFGWS4SPLDEGCV7GFIEQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LQKRDD7BTM5TRY6BAAJDOY6N63L2UW4IMLUK3WKPCBCQFIQMGEQQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6IUOZMUV2VZA5ZCATX2P5CC5AGFSUNBFGG47AM64Z2QJZ66WNE7Q/vendors.sdk.js"
        ]
    },
    "operations": {
        "BatchGetAlarmState": {
            "input": {
                "type": "structure",
                "required": [
                    "AlarmArns"
                ],
                "members": {
                    "AlarmArns": {
                        "shape": "S2"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AlarmStates": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "AlarmArn": {},
                                "StateValue": {},
                                "StateTransitionedTimestamp": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "Errors": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "AlarmArn": {},
                                "Code": {},
                                "Message": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WE6BATN6OQXEHT5FNMI4VC76JIIKNAK5CF5KUDJBBLEHJNIDCTVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7U2VW2U3TPC35DSS7LMPCXGXAVOBB4YFERTLS4S3WPPTZWYJHSVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZ2XV2KFYHFCOB6CJP52BSQJ6GEGAOUQPGFTZGXKTYVBPP3KKBWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5WQGJXGILQGVANJ5K3U6HL6K3NBTKSVK6MI5SDMWAP6KQVO57ZUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWYVXOOIXA7YWX2YQ2JR47ZQBGCNBVJ2STZTXF6KUFUADRYMJKFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKBZEOC3XP2ZI3HBF2XWZDPPSGEHJN2QXS2K2KVMJ6X6P2NHIQ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LECTM54PNNK73TOQMCEBT4UFR4P4CIDTWCFMTXBDKT663HUXDVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I56M3I7G5O43PECHQL3DCN7I6YVJV3MKVZUY2ZCUIM6YEUPKQ5JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2HO7W3HT27Z2VPXIKWCS2HJRXRF7ZTJHGHWQWZMTLQ6RAT2ZSLUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTJ66V5D3IXRFHPYUHHQXTXUA75QJUNPBI2ZF3IYO5UDP7UGUMMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YJO6CRESWY5VENDTMFDPFWE4IOQ4K3RN2YQGQNMBQEHX6MIS2AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WECT4BWWZB7KJWVBMUFX34YY5K5ICJYOTEDJFRIEQQW3YXTMRCVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EQ5W6TS4WRIMEZ64LIZ27UMIN22LTNIR3AKSYLKVOC7DNBNF3TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC2H5IWGDKJPSGU4GTRDRUPUIXWZHD4RFTNWDVLYUZQ7J7YJFYCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THJWL5GLZYJX2HV5EKLTVAVZ7RR6ZEZ63XXYDSXDJA6NDY5SXWLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GALYUTXVO5CCNSVQLRWOEGAOQCCXL6BHWZP4BJUIZSZXKTD753TA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWJFEVQ3QXQGSTENAZU5EJJX34BWNQSEE2PYPUHGX2Y2O43IAELQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHNSGVTDHN32Q4UKLTG2ZLIFY63H464Q2HEPDHVJZKSYCG4PSYEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XYNSJGMGDDUC2XPJ4JBFPRNVOND5AKQIRZ4AGBN3Q3MZWW5CUGA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CRIS2IDTEKCJSTHTQIC3FUFIHYNTN2DMGBZMDWZPS7X4UN3JFZ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CYLUWJNESMJNGGUY6INHYM5N3H3PNRGRQS72DQRZLCJB7LP5PUAQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JN4JUJWVY6743EXQMW6IPF2236ICSZKGUFGWS4SPLDEGCV7GFIEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LQKRDD7BTM5TRY6BAAJDOY6N63L2UW4IMLUK3WKPCBCQFIQMGEQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IUOZMUV2VZA5ZCATX2P5CC5AGFSUNBFGG47AM64Z2QJZ66WNE7Q/vendors.sdk.js"
            ]
        },
        "CreateMeasureRewritePolicyForAccount": {
            "input": {
                "type": "structure",
                "required": [
                    "AccountId",
                    "ConditionDimension",
                    "EffectDimension"
                ],
                "members": {
                    "AccountId": {},
                    "ConditionDimension": {
                        "shape": "Sf"
                    },
                    "EffectDimension": {
                        "shape": "Sf"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "MeasureRewritePolicyId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WE6BATN6OQXEHT5FNMI4VC76JIIKNAK5CF5KUDJBBLEHJNIDCTVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7U2VW2U3TPC35DSS7LMPCXGXAVOBB4YFERTLS4S3WPPTZWYJHSVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZ2XV2KFYHFCOB6CJP52BSQJ6GEGAOUQPGFTZGXKTYVBPP3KKBWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5WQGJXGILQGVANJ5K3U6HL6K3NBTKSVK6MI5SDMWAP6KQVO57ZUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWYVXOOIXA7YWX2YQ2JR47ZQBGCNBVJ2STZTXF6KUFUADRYMJKFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKBZEOC3XP2ZI3HBF2XWZDPPSGEHJN2QXS2K2KVMJ6X6P2NHIQ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LECTM54PNNK73TOQMCEBT4UFR4P4CIDTWCFMTXBDKT663HUXDVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I56M3I7G5O43PECHQL3DCN7I6YVJV3MKVZUY2ZCUIM6YEUPKQ5JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2HO7W3HT27Z2VPXIKWCS2HJRXRF7ZTJHGHWQWZMTLQ6RAT2ZSLUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTJ66V5D3IXRFHPYUHHQXTXUA75QJUNPBI2ZF3IYO5UDP7UGUMMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YJO6CRESWY5VENDTMFDPFWE4IOQ4K3RN2YQGQNMBQEHX6MIS2AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WECT4BWWZB7KJWVBMUFX34YY5K5ICJYOTEDJFRIEQQW3YXTMRCVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EQ5W6TS4WRIMEZ64LIZ27UMIN22LTNIR3AKSYLKVOC7DNBNF3TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC2H5IWGDKJPSGU4GTRDRUPUIXWZHD4RFTNWDVLYUZQ7J7YJFYCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THJWL5GLZYJX2HV5EKLTVAVZ7RR6ZEZ63XXYDSXDJA6NDY5SXWLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GALYUTXVO5CCNSVQLRWOEGAOQCCXL6BHWZP4BJUIZSZXKTD753TA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWJFEVQ3QXQGSTENAZU5EJJX34BWNQSEE2PYPUHGX2Y2O43IAELQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHNSGVTDHN32Q4UKLTG2ZLIFY63H464Q2HEPDHVJZKSYCG4PSYEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XYNSJGMGDDUC2XPJ4JBFPRNVOND5AKQIRZ4AGBN3Q3MZWW5CUGA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CRIS2IDTEKCJSTHTQIC3FUFIHYNTN2DMGBZMDWZPS7X4UN3JFZ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CYLUWJNESMJNGGUY6INHYM5N3H3PNRGRQS72DQRZLCJB7LP5PUAQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JN4JUJWVY6743EXQMW6IPF2236ICSZKGUFGWS4SPLDEGCV7GFIEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LQKRDD7BTM5TRY6BAAJDOY6N63L2UW4IMLUK3WKPCBCQFIQMGEQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IUOZMUV2VZA5ZCATX2P5CC5AGFSUNBFGG47AM64Z2QJZ66WNE7Q/vendors.sdk.js"
            ]
        },
        "DeleteAlarms": {
            "input": {
                "type": "structure",
                "required": [
                    "AlarmNames"
                ],
                "members": {
                    "AlarmNames": {
                        "shape": "Sl"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WE6BATN6OQXEHT5FNMI4VC76JIIKNAK5CF5KUDJBBLEHJNIDCTVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7U2VW2U3TPC35DSS7LMPCXGXAVOBB4YFERTLS4S3WPPTZWYJHSVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZ2XV2KFYHFCOB6CJP52BSQJ6GEGAOUQPGFTZGXKTYVBPP3KKBWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5WQGJXGILQGVANJ5K3U6HL6K3NBTKSVK6MI5SDMWAP6KQVO57ZUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWYVXOOIXA7YWX2YQ2JR47ZQBGCNBVJ2STZTXF6KUFUADRYMJKFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKBZEOC3XP2ZI3HBF2XWZDPPSGEHJN2QXS2K2KVMJ6X6P2NHIQ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LECTM54PNNK73TOQMCEBT4UFR4P4CIDTWCFMTXBDKT663HUXDVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I56M3I7G5O43PECHQL3DCN7I6YVJV3MKVZUY2ZCUIM6YEUPKQ5JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2HO7W3HT27Z2VPXIKWCS2HJRXRF7ZTJHGHWQWZMTLQ6RAT2ZSLUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTJ66V5D3IXRFHPYUHHQXTXUA75QJUNPBI2ZF3IYO5UDP7UGUMMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YJO6CRESWY5VENDTMFDPFWE4IOQ4K3RN2YQGQNMBQEHX6MIS2AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WECT4BWWZB7KJWVBMUFX34YY5K5ICJYOTEDJFRIEQQW3YXTMRCVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EQ5W6TS4WRIMEZ64LIZ27UMIN22LTNIR3AKSYLKVOC7DNBNF3TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC2H5IWGDKJPSGU4GTRDRUPUIXWZHD4RFTNWDVLYUZQ7J7YJFYCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THJWL5GLZYJX2HV5EKLTVAVZ7RR6ZEZ63XXYDSXDJA6NDY5SXWLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GALYUTXVO5CCNSVQLRWOEGAOQCCXL6BHWZP4BJUIZSZXKTD753TA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWJFEVQ3QXQGSTENAZU5EJJX34BWNQSEE2PYPUHGX2Y2O43IAELQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHNSGVTDHN32Q4UKLTG2ZLIFY63H464Q2HEPDHVJZKSYCG4PSYEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XYNSJGMGDDUC2XPJ4JBFPRNVOND5AKQIRZ4AGBN3Q3MZWW5CUGA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CRIS2IDTEKCJSTHTQIC3FUFIHYNTN2DMGBZMDWZPS7X4UN3JFZ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CYLUWJNESMJNGGUY6INHYM5N3H3PNRGRQS72DQRZLCJB7LP5PUAQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JN4JUJWVY6743EXQMW6IPF2236ICSZKGUFGWS4SPLDEGCV7GFIEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LQKRDD7BTM5TRY6BAAJDOY6N63L2UW4IMLUK3WKPCBCQFIQMGEQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IUOZMUV2VZA5ZCATX2P5CC5AGFSUNBFGG47AM64Z2QJZ66WNE7Q/vendors.sdk.js"
            ]
        },
        "DeleteDashboards": {
            "input": {
                "type": "structure",
                "required": [
                    "DashboardNames"
                ],
                "members": {
                    "DashboardNames": {
                        "shape": "So"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WE6BATN6OQXEHT5FNMI4VC76JIIKNAK5CF5KUDJBBLEHJNIDCTVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7U2VW2U3TPC35DSS7LMPCXGXAVOBB4YFERTLS4S3WPPTZWYJHSVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZ2XV2KFYHFCOB6CJP52BSQJ6GEGAOUQPGFTZGXKTYVBPP3KKBWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5WQGJXGILQGVANJ5K3U6HL6K3NBTKSVK6MI5SDMWAP6KQVO57ZUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWYVXOOIXA7YWX2YQ2JR47ZQBGCNBVJ2STZTXF6KUFUADRYMJKFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKBZEOC3XP2ZI3HBF2XWZDPPSGEHJN2QXS2K2KVMJ6X6P2NHIQ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LECTM54PNNK73TOQMCEBT4UFR4P4CIDTWCFMTXBDKT663HUXDVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I56M3I7G5O43PECHQL3DCN7I6YVJV3MKVZUY2ZCUIM6YEUPKQ5JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2HO7W3HT27Z2VPXIKWCS2HJRXRF7ZTJHGHWQWZMTLQ6RAT2ZSLUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTJ66V5D3IXRFHPYUHHQXTXUA75QJUNPBI2ZF3IYO5UDP7UGUMMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YJO6CRESWY5VENDTMFDPFWE4IOQ4K3RN2YQGQNMBQEHX6MIS2AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WECT4BWWZB7KJWVBMUFX34YY5K5ICJYOTEDJFRIEQQW3YXTMRCVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EQ5W6TS4WRIMEZ64LIZ27UMIN22LTNIR3AKSYLKVOC7DNBNF3TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC2H5IWGDKJPSGU4GTRDRUPUIXWZHD4RFTNWDVLYUZQ7J7YJFYCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THJWL5GLZYJX2HV5EKLTVAVZ7RR6ZEZ63XXYDSXDJA6NDY5SXWLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GALYUTXVO5CCNSVQLRWOEGAOQCCXL6BHWZP4BJUIZSZXKTD753TA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWJFEVQ3QXQGSTENAZU5EJJX34BWNQSEE2PYPUHGX2Y2O43IAELQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHNSGVTDHN32Q4UKLTG2ZLIFY63H464Q2HEPDHVJZKSYCG4PSYEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XYNSJGMGDDUC2XPJ4JBFPRNVOND5AKQIRZ4AGBN3Q3MZWW5CUGA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CRIS2IDTEKCJSTHTQIC3FUFIHYNTN2DMGBZMDWZPS7X4UN3JFZ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CYLUWJNESMJNGGUY6INHYM5N3H3PNRGRQS72DQRZLCJB7LP5PUAQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JN4JUJWVY6743EXQMW6IPF2236ICSZKGUFGWS4SPLDEGCV7GFIEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LQKRDD7BTM5TRY6BAAJDOY6N63L2UW4IMLUK3WKPCBCQFIQMGEQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IUOZMUV2VZA5ZCATX2P5CC5AGFSUNBFGG47AM64Z2QJZ66WNE7Q/vendors.sdk.js"
            ]
        },
        "DeleteDashboardsForAccount": {
            "input": {
                "type": "structure",
                "required": [
                    "AccountId",
                    "DashboardNames"
                ],
                "members": {
                    "AccountId": {},
                    "DashboardNames": {
                        "shape": "So"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WE6BATN6OQXEHT5FNMI4VC76JIIKNAK5CF5KUDJBBLEHJNIDCTVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7U2VW2U3TPC35DSS7LMPCXGXAVOBB4YFERTLS4S3WPPTZWYJHSVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZ2XV2KFYHFCOB6CJP52BSQJ6GEGAOUQPGFTZGXKTYVBPP3KKBWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5WQGJXGILQGVANJ5K3U6HL6K3NBTKSVK6MI5SDMWAP6KQVO57ZUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWYVXOOIXA7YWX2YQ2JR47ZQBGCNBVJ2STZTXF6KUFUADRYMJKFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKBZEOC3XP2ZI3HBF2XWZDPPSGEHJN2QXS2K2KVMJ6X6P2NHIQ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LECTM54PNNK73TOQMCEBT4UFR4P4CIDTWCFMTXBDKT663HUXDVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I56M3I7G5O43PECHQL3DCN7I6YVJV3MKVZUY2ZCUIM6YEUPKQ5JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2HO7W3HT27Z2VPXIKWCS2HJRXRF7ZTJHGHWQWZMTLQ6RAT2ZSLUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTJ66V5D3IXRFHPYUHHQXTXUA75QJUNPBI2ZF3IYO5UDP7UGUMMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YJO6CRESWY5VENDTMFDPFWE4IOQ4K3RN2YQGQNMBQEHX6MIS2AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WECT4BWWZB7KJWVBMUFX34YY5K5ICJYOTEDJFRIEQQW3YXTMRCVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EQ5W6TS4WRIMEZ64LIZ27UMIN22LTNIR3AKSYLKVOC7DNBNF3TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC2H5IWGDKJPSGU4GTRDRUPUIXWZHD4RFTNWDVLYUZQ7J7YJFYCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THJWL5GLZYJX2HV5EKLTVAVZ7RR6ZEZ63XXYDSXDJA6NDY5SXWLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GALYUTXVO5CCNSVQLRWOEGAOQCCXL6BHWZP4BJUIZSZXKTD753TA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWJFEVQ3QXQGSTENAZU5EJJX34BWNQSEE2PYPUHGX2Y2O43IAELQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHNSGVTDHN32Q4UKLTG2ZLIFY63H464Q2HEPDHVJZKSYCG4PSYEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XYNSJGMGDDUC2XPJ4JBFPRNVOND5AKQIRZ4AGBN3Q3MZWW5CUGA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CRIS2IDTEKCJSTHTQIC3FUFIHYNTN2DMGBZMDWZPS7X4UN3JFZ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CYLUWJNESMJNGGUY6INHYM5N3H3PNRGRQS72DQRZLCJB7LP5PUAQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JN4JUJWVY6743EXQMW6IPF2236ICSZKGUFGWS4SPLDEGCV7GFIEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LQKRDD7BTM5TRY6BAAJDOY6N63L2UW4IMLUK3WKPCBCQFIQMGEQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IUOZMUV2VZA5ZCATX2P5CC5AGFSUNBFGG47AM64Z2QJZ66WNE7Q/vendors.sdk.js"
            ]
        },
        "DeleteInsightRules": {
            "input": {
                "type": "structure",
                "required": [
                    "RuleNames"
                ],
                "members": {
                    "RuleNames": {
                        "shape": "Su"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Failures": {
                        "shape": "Sx"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WE6BATN6OQXEHT5FNMI4VC76JIIKNAK5CF5KUDJBBLEHJNIDCTVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7U2VW2U3TPC35DSS7LMPCXGXAVOBB4YFERTLS4S3WPPTZWYJHSVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZ2XV2KFYHFCOB6CJP52BSQJ6GEGAOUQPGFTZGXKTYVBPP3KKBWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5WQGJXGILQGVANJ5K3U6HL6K3NBTKSVK6MI5SDMWAP6KQVO57ZUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWYVXOOIXA7YWX2YQ2JR47ZQBGCNBVJ2STZTXF6KUFUADRYMJKFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKBZEOC3XP2ZI3HBF2XWZDPPSGEHJN2QXS2K2KVMJ6X6P2NHIQ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LECTM54PNNK73TOQMCEBT4UFR4P4CIDTWCFMTXBDKT663HUXDVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I56M3I7G5O43PECHQL3DCN7I6YVJV3MKVZUY2ZCUIM6YEUPKQ5JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2HO7W3HT27Z2VPXIKWCS2HJRXRF7ZTJHGHWQWZMTLQ6RAT2ZSLUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTJ66V5D3IXRFHPYUHHQXTXUA75QJUNPBI2ZF3IYO5UDP7UGUMMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YJO6CRESWY5VENDTMFDPFWE4IOQ4K3RN2YQGQNMBQEHX6MIS2AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WECT4BWWZB7KJWVBMUFX34YY5K5ICJYOTEDJFRIEQQW3YXTMRCVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EQ5W6TS4WRIMEZ64LIZ27UMIN22LTNIR3AKSYLKVOC7DNBNF3TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC2H5IWGDKJPSGU4GTRDRUPUIXWZHD4RFTNWDVLYUZQ7J7YJFYCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THJWL5GLZYJX2HV5EKLTVAVZ7RR6ZEZ63XXYDSXDJA6NDY5SXWLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GALYUTXVO5CCNSVQLRWOEGAOQCCXL6BHWZP4BJUIZSZXKTD753TA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWJFEVQ3QXQGSTENAZU5EJJX34BWNQSEE2PYPUHGX2Y2O43IAELQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHNSGVTDHN32Q4UKLTG2ZLIFY63H464Q2HEPDHVJZKSYCG4PSYEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XYNSJGMGDDUC2XPJ4JBFPRNVOND5AKQIRZ4AGBN3Q3MZWW5CUGA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CRIS2IDTEKCJSTHTQIC3FUFIHYNTN2DMGBZMDWZPS7X4UN3JFZ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CYLUWJNESMJNGGUY6INHYM5N3H3PNRGRQS72DQRZLCJB7LP5PUAQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JN4JUJWVY6743EXQMW6IPF2236ICSZKGUFGWS4SPLDEGCV7GFIEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LQKRDD7BTM5TRY6BAAJDOY6N63L2UW4IMLUK3WKPCBCQFIQMGEQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IUOZMUV2VZA5ZCATX2P5CC5AGFSUNBFGG47AM64Z2QJZ66WNE7Q/vendors.sdk.js"
            ]
        },
        "DeleteMeasureRewritePolicyForAccount": {
            "input": {
                "type": "structure",
                "members": {
                    "AccountId": {},
                    "MeasureRewritePolicyId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WE6BATN6OQXEHT5FNMI4VC76JIIKNAK5CF5KUDJBBLEHJNIDCTVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7U2VW2U3TPC35DSS7LMPCXGXAVOBB4YFERTLS4S3WPPTZWYJHSVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZ2XV2KFYHFCOB6CJP52BSQJ6GEGAOUQPGFTZGXKTYVBPP3KKBWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5WQGJXGILQGVANJ5K3U6HL6K3NBTKSVK6MI5SDMWAP6KQVO57ZUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWYVXOOIXA7YWX2YQ2JR47ZQBGCNBVJ2STZTXF6KUFUADRYMJKFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKBZEOC3XP2ZI3HBF2XWZDPPSGEHJN2QXS2K2KVMJ6X6P2NHIQ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LECTM54PNNK73TOQMCEBT4UFR4P4CIDTWCFMTXBDKT663HUXDVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I56M3I7G5O43PECHQL3DCN7I6YVJV3MKVZUY2ZCUIM6YEUPKQ5JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2HO7W3HT27Z2VPXIKWCS2HJRXRF7ZTJHGHWQWZMTLQ6RAT2ZSLUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTJ66V5D3IXRFHPYUHHQXTXUA75QJUNPBI2ZF3IYO5UDP7UGUMMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YJO6CRESWY5VENDTMFDPFWE4IOQ4K3RN2YQGQNMBQEHX6MIS2AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WECT4BWWZB7KJWVBMUFX34YY5K5ICJYOTEDJFRIEQQW3YXTMRCVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EQ5W6TS4WRIMEZ64LIZ27UMIN22LTNIR3AKSYLKVOC7DNBNF3TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC2H5IWGDKJPSGU4GTRDRUPUIXWZHD4RFTNWDVLYUZQ7J7YJFYCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THJWL5GLZYJX2HV5EKLTVAVZ7RR6ZEZ63XXYDSXDJA6NDY5SXWLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GALYUTXVO5CCNSVQLRWOEGAOQCCXL6BHWZP4BJUIZSZXKTD753TA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWJFEVQ3QXQGSTENAZU5EJJX34BWNQSEE2PYPUHGX2Y2O43IAELQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHNSGVTDHN32Q4UKLTG2ZLIFY63H464Q2HEPDHVJZKSYCG4PSYEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XYNSJGMGDDUC2XPJ4JBFPRNVOND5AKQIRZ4AGBN3Q3MZWW5CUGA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CRIS2IDTEKCJSTHTQIC3FUFIHYNTN2DMGBZMDWZPS7X4UN3JFZ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CYLUWJNESMJNGGUY6INHYM5N3H3PNRGRQS72DQRZLCJB7LP5PUAQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JN4JUJWVY6743EXQMW6IPF2236ICSZKGUFGWS4SPLDEGCV7GFIEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LQKRDD7BTM5TRY6BAAJDOY6N63L2UW4IMLUK3WKPCBCQFIQMGEQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IUOZMUV2VZA5ZCATX2P5CC5AGFSUNBFGG47AM64Z2QJZ66WNE7Q/vendors.sdk.js"
            ]
        },
        "DescribeAlarmHistory": {
            "input": {
                "type": "structure",
                "members": {
                    "AlarmName": {},
                    "AlarmTypes": {
                        "shape": "S15"
                    },
                    "HistoryItemType": {},
                    "StartDate": {
                        "type": "timestamp"
                    },
                    "EndDate": {
                        "type": "timestamp"
                    },
                    "MaxRecords": {
                        "type": "integer"
                    },
                    "NextToken": {},
                    "ScanBy": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AlarmHistoryItems": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "AlarmName": {},
                                "AlarmType": {},
                                "Timestamp": {
                                    "type": "timestamp"
                                },
                                "HistoryItemType": {},
                                "HistorySummary": {},
                                "HistoryData": {},
                                "ResourceArn": {},
                                "AlarmManagerArn": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WE6BATN6OQXEHT5FNMI4VC76JIIKNAK5CF5KUDJBBLEHJNIDCTVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7U2VW2U3TPC35DSS7LMPCXGXAVOBB4YFERTLS4S3WPPTZWYJHSVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZ2XV2KFYHFCOB6CJP52BSQJ6GEGAOUQPGFTZGXKTYVBPP3KKBWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5WQGJXGILQGVANJ5K3U6HL6K3NBTKSVK6MI5SDMWAP6KQVO57ZUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWYVXOOIXA7YWX2YQ2JR47ZQBGCNBVJ2STZTXF6KUFUADRYMJKFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKBZEOC3XP2ZI3HBF2XWZDPPSGEHJN2QXS2K2KVMJ6X6P2NHIQ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LECTM54PNNK73TOQMCEBT4UFR4P4CIDTWCFMTXBDKT663HUXDVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I56M3I7G5O43PECHQL3DCN7I6YVJV3MKVZUY2ZCUIM6YEUPKQ5JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2HO7W3HT27Z2VPXIKWCS2HJRXRF7ZTJHGHWQWZMTLQ6RAT2ZSLUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTJ66V5D3IXRFHPYUHHQXTXUA75QJUNPBI2ZF3IYO5UDP7UGUMMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YJO6CRESWY5VENDTMFDPFWE4IOQ4K3RN2YQGQNMBQEHX6MIS2AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WECT4BWWZB7KJWVBMUFX34YY5K5ICJYOTEDJFRIEQQW3YXTMRCVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EQ5W6TS4WRIMEZ64LIZ27UMIN22LTNIR3AKSYLKVOC7DNBNF3TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC2H5IWGDKJPSGU4GTRDRUPUIXWZHD4RFTNWDVLYUZQ7J7YJFYCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THJWL5GLZYJX2HV5EKLTVAVZ7RR6ZEZ63XXYDSXDJA6NDY5SXWLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GALYUTXVO5CCNSVQLRWOEGAOQCCXL6BHWZP4BJUIZSZXKTD753TA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWJFEVQ3QXQGSTENAZU5EJJX34BWNQSEE2PYPUHGX2Y2O43IAELQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHNSGVTDHN32Q4UKLTG2ZLIFY63H464Q2HEPDHVJZKSYCG4PSYEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XYNSJGMGDDUC2XPJ4JBFPRNVOND5AKQIRZ4AGBN3Q3MZWW5CUGA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CRIS2IDTEKCJSTHTQIC3FUFIHYNTN2DMGBZMDWZPS7X4UN3JFZ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CYLUWJNESMJNGGUY6INHYM5N3H3PNRGRQS72DQRZLCJB7LP5PUAQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JN4JUJWVY6743EXQMW6IPF2236ICSZKGUFGWS4SPLDEGCV7GFIEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LQKRDD7BTM5TRY6BAAJDOY6N63L2UW4IMLUK3WKPCBCQFIQMGEQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IUOZMUV2VZA5ZCATX2P5CC5AGFSUNBFGG47AM64Z2QJZ66WNE7Q/vendors.sdk.js"
            ]
        },
        "DescribeAlarmQuotasForAccount": {
            "input": {
                "type": "structure",
                "required": [
                    "AWSAccountId"
                ],
                "members": {
                    "AWSAccountId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AlarmCountQuota": {
                        "type": "integer"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WE6BATN6OQXEHT5FNMI4VC76JIIKNAK5CF5KUDJBBLEHJNIDCTVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7U2VW2U3TPC35DSS7LMPCXGXAVOBB4YFERTLS4S3WPPTZWYJHSVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZ2XV2KFYHFCOB6CJP52BSQJ6GEGAOUQPGFTZGXKTYVBPP3KKBWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5WQGJXGILQGVANJ5K3U6HL6K3NBTKSVK6MI5SDMWAP6KQVO57ZUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWYVXOOIXA7YWX2YQ2JR47ZQBGCNBVJ2STZTXF6KUFUADRYMJKFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKBZEOC3XP2ZI3HBF2XWZDPPSGEHJN2QXS2K2KVMJ6X6P2NHIQ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LECTM54PNNK73TOQMCEBT4UFR4P4CIDTWCFMTXBDKT663HUXDVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I56M3I7G5O43PECHQL3DCN7I6YVJV3MKVZUY2ZCUIM6YEUPKQ5JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2HO7W3HT27Z2VPXIKWCS2HJRXRF7ZTJHGHWQWZMTLQ6RAT2ZSLUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTJ66V5D3IXRFHPYUHHQXTXUA75QJUNPBI2ZF3IYO5UDP7UGUMMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YJO6CRESWY5VENDTMFDPFWE4IOQ4K3RN2YQGQNMBQEHX6MIS2AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WECT4BWWZB7KJWVBMUFX34YY5K5ICJYOTEDJFRIEQQW3YXTMRCVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EQ5W6TS4WRIMEZ64LIZ27UMIN22LTNIR3AKSYLKVOC7DNBNF3TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC2H5IWGDKJPSGU4GTRDRUPUIXWZHD4RFTNWDVLYUZQ7J7YJFYCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THJWL5GLZYJX2HV5EKLTVAVZ7RR6ZEZ63XXYDSXDJA6NDY5SXWLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GALYUTXVO5CCNSVQLRWOEGAOQCCXL6BHWZP4BJUIZSZXKTD753TA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWJFEVQ3QXQGSTENAZU5EJJX34BWNQSEE2PYPUHGX2Y2O43IAELQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHNSGVTDHN32Q4UKLTG2ZLIFY63H464Q2HEPDHVJZKSYCG4PSYEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XYNSJGMGDDUC2XPJ4JBFPRNVOND5AKQIRZ4AGBN3Q3MZWW5CUGA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CRIS2IDTEKCJSTHTQIC3FUFIHYNTN2DMGBZMDWZPS7X4UN3JFZ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CYLUWJNESMJNGGUY6INHYM5N3H3PNRGRQS72DQRZLCJB7LP5PUAQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JN4JUJWVY6743EXQMW6IPF2236ICSZKGUFGWS4SPLDEGCV7GFIEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LQKRDD7BTM5TRY6BAAJDOY6N63L2UW4IMLUK3WKPCBCQFIQMGEQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IUOZMUV2VZA5ZCATX2P5CC5AGFSUNBFGG47AM64Z2QJZ66WNE7Q/vendors.sdk.js"
            ]
        },
        "DescribeAlarms": {
            "input": {
                "type": "structure",
                "members": {
                    "AlarmNames": {
                        "shape": "Sl"
                    },
                    "AlarmNamePrefix": {},
                    "AlarmTypes": {
                        "shape": "S15"
                    },
                    "ChildrenOfAlarmName": {},
                    "ParentsOfAlarmName": {},
                    "StateValue": {},
                    "ActionPrefix": {},
                    "ExcludeAutoscalingAlarms": {
                        "type": "boolean"
                    },
                    "ExcludeManagedAlarms": {
                        "type": "boolean"
                    },
                    "MaxRecords": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "MetricAlarms": {
                        "shape": "S1s"
                    },
                    "CompositeAlarms": {
                        "shape": "S31"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WE6BATN6OQXEHT5FNMI4VC76JIIKNAK5CF5KUDJBBLEHJNIDCTVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7U2VW2U3TPC35DSS7LMPCXGXAVOBB4YFERTLS4S3WPPTZWYJHSVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZ2XV2KFYHFCOB6CJP52BSQJ6GEGAOUQPGFTZGXKTYVBPP3KKBWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5WQGJXGILQGVANJ5K3U6HL6K3NBTKSVK6MI5SDMWAP6KQVO57ZUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWYVXOOIXA7YWX2YQ2JR47ZQBGCNBVJ2STZTXF6KUFUADRYMJKFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKBZEOC3XP2ZI3HBF2XWZDPPSGEHJN2QXS2K2KVMJ6X6P2NHIQ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LECTM54PNNK73TOQMCEBT4UFR4P4CIDTWCFMTXBDKT663HUXDVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I56M3I7G5O43PECHQL3DCN7I6YVJV3MKVZUY2ZCUIM6YEUPKQ5JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2HO7W3HT27Z2VPXIKWCS2HJRXRF7ZTJHGHWQWZMTLQ6RAT2ZSLUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTJ66V5D3IXRFHPYUHHQXTXUA75QJUNPBI2ZF3IYO5UDP7UGUMMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YJO6CRESWY5VENDTMFDPFWE4IOQ4K3RN2YQGQNMBQEHX6MIS2AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WECT4BWWZB7KJWVBMUFX34YY5K5ICJYOTEDJFRIEQQW3YXTMRCVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EQ5W6TS4WRIMEZ64LIZ27UMIN22LTNIR3AKSYLKVOC7DNBNF3TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC2H5IWGDKJPSGU4GTRDRUPUIXWZHD4RFTNWDVLYUZQ7J7YJFYCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THJWL5GLZYJX2HV5EKLTVAVZ7RR6ZEZ63XXYDSXDJA6NDY5SXWLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GALYUTXVO5CCNSVQLRWOEGAOQCCXL6BHWZP4BJUIZSZXKTD753TA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWJFEVQ3QXQGSTENAZU5EJJX34BWNQSEE2PYPUHGX2Y2O43IAELQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHNSGVTDHN32Q4UKLTG2ZLIFY63H464Q2HEPDHVJZKSYCG4PSYEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XYNSJGMGDDUC2XPJ4JBFPRNVOND5AKQIRZ4AGBN3Q3MZWW5CUGA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CRIS2IDTEKCJSTHTQIC3FUFIHYNTN2DMGBZMDWZPS7X4UN3JFZ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CYLUWJNESMJNGGUY6INHYM5N3H3PNRGRQS72DQRZLCJB7LP5PUAQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JN4JUJWVY6743EXQMW6IPF2236ICSZKGUFGWS4SPLDEGCV7GFIEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LQKRDD7BTM5TRY6BAAJDOY6N63L2UW4IMLUK3WKPCBCQFIQMGEQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IUOZMUV2VZA5ZCATX2P5CC5AGFSUNBFGG47AM64Z2QJZ66WNE7Q/vendors.sdk.js"
            ]
        },
        "DescribeAlarmsForMetric": {
            "input": {
                "type": "structure",
                "required": [
                    "MetricName",
                    "Namespace"
                ],
                "members": {
                    "MetricName": {},
                    "Namespace": {},
                    "Statistic": {
                        "shape": "S23"
                    },
                    "ExtendedStatistic": {},
                    "Dimensions": {
                        "shape": "S24"
                    },
                    "Period": {
                        "type": "integer"
                    },
                    "Unit": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "MetricAlarms": {
                        "shape": "S1s"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WE6BATN6OQXEHT5FNMI4VC76JIIKNAK5CF5KUDJBBLEHJNIDCTVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7U2VW2U3TPC35DSS7LMPCXGXAVOBB4YFERTLS4S3WPPTZWYJHSVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZ2XV2KFYHFCOB6CJP52BSQJ6GEGAOUQPGFTZGXKTYVBPP3KKBWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5WQGJXGILQGVANJ5K3U6HL6K3NBTKSVK6MI5SDMWAP6KQVO57ZUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWYVXOOIXA7YWX2YQ2JR47ZQBGCNBVJ2STZTXF6KUFUADRYMJKFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKBZEOC3XP2ZI3HBF2XWZDPPSGEHJN2QXS2K2KVMJ6X6P2NHIQ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LECTM54PNNK73TOQMCEBT4UFR4P4CIDTWCFMTXBDKT663HUXDVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I56M3I7G5O43PECHQL3DCN7I6YVJV3MKVZUY2ZCUIM6YEUPKQ5JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2HO7W3HT27Z2VPXIKWCS2HJRXRF7ZTJHGHWQWZMTLQ6RAT2ZSLUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTJ66V5D3IXRFHPYUHHQXTXUA75QJUNPBI2ZF3IYO5UDP7UGUMMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YJO6CRESWY5VENDTMFDPFWE4IOQ4K3RN2YQGQNMBQEHX6MIS2AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WECT4BWWZB7KJWVBMUFX34YY5K5ICJYOTEDJFRIEQQW3YXTMRCVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EQ5W6TS4WRIMEZ64LIZ27UMIN22LTNIR3AKSYLKVOC7DNBNF3TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC2H5IWGDKJPSGU4GTRDRUPUIXWZHD4RFTNWDVLYUZQ7J7YJFYCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THJWL5GLZYJX2HV5EKLTVAVZ7RR6ZEZ63XXYDSXDJA6NDY5SXWLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GALYUTXVO5CCNSVQLRWOEGAOQCCXL6BHWZP4BJUIZSZXKTD753TA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWJFEVQ3QXQGSTENAZU5EJJX34BWNQSEE2PYPUHGX2Y2O43IAELQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHNSGVTDHN32Q4UKLTG2ZLIFY63H464Q2HEPDHVJZKSYCG4PSYEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XYNSJGMGDDUC2XPJ4JBFPRNVOND5AKQIRZ4AGBN3Q3MZWW5CUGA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CRIS2IDTEKCJSTHTQIC3FUFIHYNTN2DMGBZMDWZPS7X4UN3JFZ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CYLUWJNESMJNGGUY6INHYM5N3H3PNRGRQS72DQRZLCJB7LP5PUAQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JN4JUJWVY6743EXQMW6IPF2236ICSZKGUFGWS4SPLDEGCV7GFIEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LQKRDD7BTM5TRY6BAAJDOY6N63L2UW4IMLUK3WKPCBCQFIQMGEQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IUOZMUV2VZA5ZCATX2P5CC5AGFSUNBFGG47AM64Z2QJZ66WNE7Q/vendors.sdk.js"
            ]
        },
        "DescribeAlarmsState": {
            "input": {
                "type": "structure",
                "members": {
                    "AlarmNames": {
                        "shape": "Sl"
                    },
                    "StateValue": {},
                    "ActionPrefix": {},
                    "MaxRecords": {
                        "type": "integer"
                    },
                    "NextToken": {},
                    "AlarmType": {},
                    "MaximumReportTime": {
                        "type": "timestamp"
                    },
                    "Sources": {
                        "shape": "S2"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Alarms": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Id": {},
                                "ARN": {},
                                "AccountId": {},
                                "UserPrincipal": {},
                                "Name": {},
                                "Description": {},
                                "ActionsEnabled": {
                                    "type": "boolean"
                                },
                                "Actions": {
                                    "shape": "S2q"
                                },
                                "ConfigurationUpdatedTimestamp": {
                                    "type": "timestamp"
                                },
                                "State": {
                                    "type": "structure",
                                    "members": {
                                        "Value": {},
                                        "Reason": {},
                                        "ReasonData": {},
                                        "UpdatedTimestamp": {
                                            "type": "timestamp"
                                        }
                                    }
                                },
                                "Source": {},
                                "AlarmData": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WE6BATN6OQXEHT5FNMI4VC76JIIKNAK5CF5KUDJBBLEHJNIDCTVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7U2VW2U3TPC35DSS7LMPCXGXAVOBB4YFERTLS4S3WPPTZWYJHSVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZ2XV2KFYHFCOB6CJP52BSQJ6GEGAOUQPGFTZGXKTYVBPP3KKBWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5WQGJXGILQGVANJ5K3U6HL6K3NBTKSVK6MI5SDMWAP6KQVO57ZUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWYVXOOIXA7YWX2YQ2JR47ZQBGCNBVJ2STZTXF6KUFUADRYMJKFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKBZEOC3XP2ZI3HBF2XWZDPPSGEHJN2QXS2K2KVMJ6X6P2NHIQ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LECTM54PNNK73TOQMCEBT4UFR4P4CIDTWCFMTXBDKT663HUXDVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I56M3I7G5O43PECHQL3DCN7I6YVJV3MKVZUY2ZCUIM6YEUPKQ5JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2HO7W3HT27Z2VPXIKWCS2HJRXRF7ZTJHGHWQWZMTLQ6RAT2ZSLUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTJ66V5D3IXRFHPYUHHQXTXUA75QJUNPBI2ZF3IYO5UDP7UGUMMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YJO6CRESWY5VENDTMFDPFWE4IOQ4K3RN2YQGQNMBQEHX6MIS2AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WECT4BWWZB7KJWVBMUFX34YY5K5ICJYOTEDJFRIEQQW3YXTMRCVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EQ5W6TS4WRIMEZ64LIZ27UMIN22LTNIR3AKSYLKVOC7DNBNF3TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC2H5IWGDKJPSGU4GTRDRUPUIXWZHD4RFTNWDVLYUZQ7J7YJFYCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THJWL5GLZYJX2HV5EKLTVAVZ7RR6ZEZ63XXYDSXDJA6NDY5SXWLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GALYUTXVO5CCNSVQLRWOEGAOQCCXL6BHWZP4BJUIZSZXKTD753TA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWJFEVQ3QXQGSTENAZU5EJJX34BWNQSEE2PYPUHGX2Y2O43IAELQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHNSGVTDHN32Q4UKLTG2ZLIFY63H464Q2HEPDHVJZKSYCG4PSYEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XYNSJGMGDDUC2XPJ4JBFPRNVOND5AKQIRZ4AGBN3Q3MZWW5CUGA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CRIS2IDTEKCJSTHTQIC3FUFIHYNTN2DMGBZMDWZPS7X4UN3JFZ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CYLUWJNESMJNGGUY6INHYM5N3H3PNRGRQS72DQRZLCJB7LP5PUAQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JN4JUJWVY6743EXQMW6IPF2236ICSZKGUFGWS4SPLDEGCV7GFIEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LQKRDD7BTM5TRY6BAAJDOY6N63L2UW4IMLUK3WKPCBCQFIQMGEQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IUOZMUV2VZA5ZCATX2P5CC5AGFSUNBFGG47AM64Z2QJZ66WNE7Q/vendors.sdk.js"
            ]
        },
        "DescribeAlarmsSummary": {
            "input": {
                "type": "structure",
                "members": {
                    "AlarmTypes": {
                        "shape": "S15"
                    },
                    "ExcludeAutoscalingAlarms": {
                        "type": "boolean"
                    },
                    "MaxRecords": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AlarmStateSummary": {
                        "type": "structure",
                        "members": {
                            "AlarmCount": {
                                "type": "integer"
                            },
                            "OKCount": {
                                "type": "integer"
                            },
                            "InsufficientDataCount": {
                                "type": "integer"
                            }
                        }
                    },
                    "CompositeAlarms": {
                        "shape": "S31"
                    },
                    "MetricAlarms": {
                        "shape": "S1s"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WE6BATN6OQXEHT5FNMI4VC76JIIKNAK5CF5KUDJBBLEHJNIDCTVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7U2VW2U3TPC35DSS7LMPCXGXAVOBB4YFERTLS4S3WPPTZWYJHSVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZ2XV2KFYHFCOB6CJP52BSQJ6GEGAOUQPGFTZGXKTYVBPP3KKBWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5WQGJXGILQGVANJ5K3U6HL6K3NBTKSVK6MI5SDMWAP6KQVO57ZUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWYVXOOIXA7YWX2YQ2JR47ZQBGCNBVJ2STZTXF6KUFUADRYMJKFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKBZEOC3XP2ZI3HBF2XWZDPPSGEHJN2QXS2K2KVMJ6X6P2NHIQ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LECTM54PNNK73TOQMCEBT4UFR4P4CIDTWCFMTXBDKT663HUXDVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I56M3I7G5O43PECHQL3DCN7I6YVJV3MKVZUY2ZCUIM6YEUPKQ5JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2HO7W3HT27Z2VPXIKWCS2HJRXRF7ZTJHGHWQWZMTLQ6RAT2ZSLUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTJ66V5D3IXRFHPYUHHQXTXUA75QJUNPBI2ZF3IYO5UDP7UGUMMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YJO6CRESWY5VENDTMFDPFWE4IOQ4K3RN2YQGQNMBQEHX6MIS2AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WECT4BWWZB7KJWVBMUFX34YY5K5ICJYOTEDJFRIEQQW3YXTMRCVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EQ5W6TS4WRIMEZ64LIZ27UMIN22LTNIR3AKSYLKVOC7DNBNF3TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC2H5IWGDKJPSGU4GTRDRUPUIXWZHD4RFTNWDVLYUZQ7J7YJFYCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THJWL5GLZYJX2HV5EKLTVAVZ7RR6ZEZ63XXYDSXDJA6NDY5SXWLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GALYUTXVO5CCNSVQLRWOEGAOQCCXL6BHWZP4BJUIZSZXKTD753TA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWJFEVQ3QXQGSTENAZU5EJJX34BWNQSEE2PYPUHGX2Y2O43IAELQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHNSGVTDHN32Q4UKLTG2ZLIFY63H464Q2HEPDHVJZKSYCG4PSYEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XYNSJGMGDDUC2XPJ4JBFPRNVOND5AKQIRZ4AGBN3Q3MZWW5CUGA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CRIS2IDTEKCJSTHTQIC3FUFIHYNTN2DMGBZMDWZPS7X4UN3JFZ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CYLUWJNESMJNGGUY6INHYM5N3H3PNRGRQS72DQRZLCJB7LP5PUAQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JN4JUJWVY6743EXQMW6IPF2236ICSZKGUFGWS4SPLDEGCV7GFIEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LQKRDD7BTM5TRY6BAAJDOY6N63L2UW4IMLUK3WKPCBCQFIQMGEQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IUOZMUV2VZA5ZCATX2P5CC5AGFSUNBFGG47AM64Z2QJZ66WNE7Q/vendors.sdk.js"
            ]
        },
        "DescribeInternalAlarms": {
            "input": {
                "type": "structure",
                "members": {
                    "AlarmNames": {
                        "shape": "Sl"
                    },
                    "MaxRecords": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "InternalAlarms": {
                        "shape": "S3w"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WE6BATN6OQXEHT5FNMI4VC76JIIKNAK5CF5KUDJBBLEHJNIDCTVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7U2VW2U3TPC35DSS7LMPCXGXAVOBB4YFERTLS4S3WPPTZWYJHSVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZ2XV2KFYHFCOB6CJP52BSQJ6GEGAOUQPGFTZGXKTYVBPP3KKBWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5WQGJXGILQGVANJ5K3U6HL6K3NBTKSVK6MI5SDMWAP6KQVO57ZUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWYVXOOIXA7YWX2YQ2JR47ZQBGCNBVJ2STZTXF6KUFUADRYMJKFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKBZEOC3XP2ZI3HBF2XWZDPPSGEHJN2QXS2K2KVMJ6X6P2NHIQ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LECTM54PNNK73TOQMCEBT4UFR4P4CIDTWCFMTXBDKT663HUXDVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I56M3I7G5O43PECHQL3DCN7I6YVJV3MKVZUY2ZCUIM6YEUPKQ5JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2HO7W3HT27Z2VPXIKWCS2HJRXRF7ZTJHGHWQWZMTLQ6RAT2ZSLUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTJ66V5D3IXRFHPYUHHQXTXUA75QJUNPBI2ZF3IYO5UDP7UGUMMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YJO6CRESWY5VENDTMFDPFWE4IOQ4K3RN2YQGQNMBQEHX6MIS2AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WECT4BWWZB7KJWVBMUFX34YY5K5ICJYOTEDJFRIEQQW3YXTMRCVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EQ5W6TS4WRIMEZ64LIZ27UMIN22LTNIR3AKSYLKVOC7DNBNF3TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC2H5IWGDKJPSGU4GTRDRUPUIXWZHD4RFTNWDVLYUZQ7J7YJFYCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THJWL5GLZYJX2HV5EKLTVAVZ7RR6ZEZ63XXYDSXDJA6NDY5SXWLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GALYUTXVO5CCNSVQLRWOEGAOQCCXL6BHWZP4BJUIZSZXKTD753TA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWJFEVQ3QXQGSTENAZU5EJJX34BWNQSEE2PYPUHGX2Y2O43IAELQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHNSGVTDHN32Q4UKLTG2ZLIFY63H464Q2HEPDHVJZKSYCG4PSYEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XYNSJGMGDDUC2XPJ4JBFPRNVOND5AKQIRZ4AGBN3Q3MZWW5CUGA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CRIS2IDTEKCJSTHTQIC3FUFIHYNTN2DMGBZMDWZPS7X4UN3JFZ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CYLUWJNESMJNGGUY6INHYM5N3H3PNRGRQS72DQRZLCJB7LP5PUAQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JN4JUJWVY6743EXQMW6IPF2236ICSZKGUFGWS4SPLDEGCV7GFIEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LQKRDD7BTM5TRY6BAAJDOY6N63L2UW4IMLUK3WKPCBCQFIQMGEQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IUOZMUV2VZA5ZCATX2P5CC5AGFSUNBFGG47AM64Z2QJZ66WNE7Q/vendors.sdk.js"
            ]
        },
        "DisableAlarmActions": {
            "input": {
                "type": "structure",
                "required": [
                    "AlarmNames"
                ],
                "members": {
                    "AlarmNames": {
                        "shape": "Sl"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WE6BATN6OQXEHT5FNMI4VC76JIIKNAK5CF5KUDJBBLEHJNIDCTVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7U2VW2U3TPC35DSS7LMPCXGXAVOBB4YFERTLS4S3WPPTZWYJHSVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZ2XV2KFYHFCOB6CJP52BSQJ6GEGAOUQPGFTZGXKTYVBPP3KKBWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5WQGJXGILQGVANJ5K3U6HL6K3NBTKSVK6MI5SDMWAP6KQVO57ZUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWYVXOOIXA7YWX2YQ2JR47ZQBGCNBVJ2STZTXF6KUFUADRYMJKFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKBZEOC3XP2ZI3HBF2XWZDPPSGEHJN2QXS2K2KVMJ6X6P2NHIQ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LECTM54PNNK73TOQMCEBT4UFR4P4CIDTWCFMTXBDKT663HUXDVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I56M3I7G5O43PECHQL3DCN7I6YVJV3MKVZUY2ZCUIM6YEUPKQ5JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2HO7W3HT27Z2VPXIKWCS2HJRXRF7ZTJHGHWQWZMTLQ6RAT2ZSLUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTJ66V5D3IXRFHPYUHHQXTXUA75QJUNPBI2ZF3IYO5UDP7UGUMMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YJO6CRESWY5VENDTMFDPFWE4IOQ4K3RN2YQGQNMBQEHX6MIS2AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WECT4BWWZB7KJWVBMUFX34YY5K5ICJYOTEDJFRIEQQW3YXTMRCVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EQ5W6TS4WRIMEZ64LIZ27UMIN22LTNIR3AKSYLKVOC7DNBNF3TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC2H5IWGDKJPSGU4GTRDRUPUIXWZHD4RFTNWDVLYUZQ7J7YJFYCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THJWL5GLZYJX2HV5EKLTVAVZ7RR6ZEZ63XXYDSXDJA6NDY5SXWLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GALYUTXVO5CCNSVQLRWOEGAOQCCXL6BHWZP4BJUIZSZXKTD753TA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWJFEVQ3QXQGSTENAZU5EJJX34BWNQSEE2PYPUHGX2Y2O43IAELQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHNSGVTDHN32Q4UKLTG2ZLIFY63H464Q2HEPDHVJZKSYCG4PSYEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XYNSJGMGDDUC2XPJ4JBFPRNVOND5AKQIRZ4AGBN3Q3MZWW5CUGA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CRIS2IDTEKCJSTHTQIC3FUFIHYNTN2DMGBZMDWZPS7X4UN3JFZ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CYLUWJNESMJNGGUY6INHYM5N3H3PNRGRQS72DQRZLCJB7LP5PUAQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JN4JUJWVY6743EXQMW6IPF2236ICSZKGUFGWS4SPLDEGCV7GFIEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LQKRDD7BTM5TRY6BAAJDOY6N63L2UW4IMLUK3WKPCBCQFIQMGEQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IUOZMUV2VZA5ZCATX2P5CC5AGFSUNBFGG47AM64Z2QJZ66WNE7Q/vendors.sdk.js"
            ]
        },
        "DisableInsightRules": {
            "input": {
                "type": "structure",
                "required": [
                    "RuleNames"
                ],
                "members": {
                    "RuleNames": {
                        "shape": "Su"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Failures": {
                        "shape": "Sx"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WE6BATN6OQXEHT5FNMI4VC76JIIKNAK5CF5KUDJBBLEHJNIDCTVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7U2VW2U3TPC35DSS7LMPCXGXAVOBB4YFERTLS4S3WPPTZWYJHSVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZ2XV2KFYHFCOB6CJP52BSQJ6GEGAOUQPGFTZGXKTYVBPP3KKBWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5WQGJXGILQGVANJ5K3U6HL6K3NBTKSVK6MI5SDMWAP6KQVO57ZUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWYVXOOIXA7YWX2YQ2JR47ZQBGCNBVJ2STZTXF6KUFUADRYMJKFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKBZEOC3XP2ZI3HBF2XWZDPPSGEHJN2QXS2K2KVMJ6X6P2NHIQ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LECTM54PNNK73TOQMCEBT4UFR4P4CIDTWCFMTXBDKT663HUXDVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I56M3I7G5O43PECHQL3DCN7I6YVJV3MKVZUY2ZCUIM6YEUPKQ5JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2HO7W3HT27Z2VPXIKWCS2HJRXRF7ZTJHGHWQWZMTLQ6RAT2ZSLUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTJ66V5D3IXRFHPYUHHQXTXUA75QJUNPBI2ZF3IYO5UDP7UGUMMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YJO6CRESWY5VENDTMFDPFWE4IOQ4K3RN2YQGQNMBQEHX6MIS2AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WECT4BWWZB7KJWVBMUFX34YY5K5ICJYOTEDJFRIEQQW3YXTMRCVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EQ5W6TS4WRIMEZ64LIZ27UMIN22LTNIR3AKSYLKVOC7DNBNF3TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC2H5IWGDKJPSGU4GTRDRUPUIXWZHD4RFTNWDVLYUZQ7J7YJFYCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THJWL5GLZYJX2HV5EKLTVAVZ7RR6ZEZ63XXYDSXDJA6NDY5SXWLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GALYUTXVO5CCNSVQLRWOEGAOQCCXL6BHWZP4BJUIZSZXKTD753TA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWJFEVQ3QXQGSTENAZU5EJJX34BWNQSEE2PYPUHGX2Y2O43IAELQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHNSGVTDHN32Q4UKLTG2ZLIFY63H464Q2HEPDHVJZKSYCG4PSYEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XYNSJGMGDDUC2XPJ4JBFPRNVOND5AKQIRZ4AGBN3Q3MZWW5CUGA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CRIS2IDTEKCJSTHTQIC3FUFIHYNTN2DMGBZMDWZPS7X4UN3JFZ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CYLUWJNESMJNGGUY6INHYM5N3H3PNRGRQS72DQRZLCJB7LP5PUAQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JN4JUJWVY6743EXQMW6IPF2236ICSZKGUFGWS4SPLDEGCV7GFIEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LQKRDD7BTM5TRY6BAAJDOY6N63L2UW4IMLUK3WKPCBCQFIQMGEQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IUOZMUV2VZA5ZCATX2P5CC5AGFSUNBFGG47AM64Z2QJZ66WNE7Q/vendors.sdk.js"
            ]
        },
        "DisablePrediction": {
            "input": {
                "shape": "S4c"
            },
            "output": {
                "shape": "S4d"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WE6BATN6OQXEHT5FNMI4VC76JIIKNAK5CF5KUDJBBLEHJNIDCTVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7U2VW2U3TPC35DSS7LMPCXGXAVOBB4YFERTLS4S3WPPTZWYJHSVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZ2XV2KFYHFCOB6CJP52BSQJ6GEGAOUQPGFTZGXKTYVBPP3KKBWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5WQGJXGILQGVANJ5K3U6HL6K3NBTKSVK6MI5SDMWAP6KQVO57ZUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWYVXOOIXA7YWX2YQ2JR47ZQBGCNBVJ2STZTXF6KUFUADRYMJKFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKBZEOC3XP2ZI3HBF2XWZDPPSGEHJN2QXS2K2KVMJ6X6P2NHIQ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LECTM54PNNK73TOQMCEBT4UFR4P4CIDTWCFMTXBDKT663HUXDVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I56M3I7G5O43PECHQL3DCN7I6YVJV3MKVZUY2ZCUIM6YEUPKQ5JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2HO7W3HT27Z2VPXIKWCS2HJRXRF7ZTJHGHWQWZMTLQ6RAT2ZSLUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTJ66V5D3IXRFHPYUHHQXTXUA75QJUNPBI2ZF3IYO5UDP7UGUMMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YJO6CRESWY5VENDTMFDPFWE4IOQ4K3RN2YQGQNMBQEHX6MIS2AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WECT4BWWZB7KJWVBMUFX34YY5K5ICJYOTEDJFRIEQQW3YXTMRCVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EQ5W6TS4WRIMEZ64LIZ27UMIN22LTNIR3AKSYLKVOC7DNBNF3TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC2H5IWGDKJPSGU4GTRDRUPUIXWZHD4RFTNWDVLYUZQ7J7YJFYCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THJWL5GLZYJX2HV5EKLTVAVZ7RR6ZEZ63XXYDSXDJA6NDY5SXWLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GALYUTXVO5CCNSVQLRWOEGAOQCCXL6BHWZP4BJUIZSZXKTD753TA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWJFEVQ3QXQGSTENAZU5EJJX34BWNQSEE2PYPUHGX2Y2O43IAELQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHNSGVTDHN32Q4UKLTG2ZLIFY63H464Q2HEPDHVJZKSYCG4PSYEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XYNSJGMGDDUC2XPJ4JBFPRNVOND5AKQIRZ4AGBN3Q3MZWW5CUGA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CRIS2IDTEKCJSTHTQIC3FUFIHYNTN2DMGBZMDWZPS7X4UN3JFZ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CYLUWJNESMJNGGUY6INHYM5N3H3PNRGRQS72DQRZLCJB7LP5PUAQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JN4JUJWVY6743EXQMW6IPF2236ICSZKGUFGWS4SPLDEGCV7GFIEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LQKRDD7BTM5TRY6BAAJDOY6N63L2UW4IMLUK3WKPCBCQFIQMGEQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IUOZMUV2VZA5ZCATX2P5CC5AGFSUNBFGG47AM64Z2QJZ66WNE7Q/vendors.sdk.js"
            ]
        },
        "DisablePredictionForAccount": {
            "input": {
                "shape": "S4e"
            },
            "output": {
                "shape": "S4d"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WE6BATN6OQXEHT5FNMI4VC76JIIKNAK5CF5KUDJBBLEHJNIDCTVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7U2VW2U3TPC35DSS7LMPCXGXAVOBB4YFERTLS4S3WPPTZWYJHSVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZ2XV2KFYHFCOB6CJP52BSQJ6GEGAOUQPGFTZGXKTYVBPP3KKBWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5WQGJXGILQGVANJ5K3U6HL6K3NBTKSVK6MI5SDMWAP6KQVO57ZUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWYVXOOIXA7YWX2YQ2JR47ZQBGCNBVJ2STZTXF6KUFUADRYMJKFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKBZEOC3XP2ZI3HBF2XWZDPPSGEHJN2QXS2K2KVMJ6X6P2NHIQ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LECTM54PNNK73TOQMCEBT4UFR4P4CIDTWCFMTXBDKT663HUXDVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I56M3I7G5O43PECHQL3DCN7I6YVJV3MKVZUY2ZCUIM6YEUPKQ5JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2HO7W3HT27Z2VPXIKWCS2HJRXRF7ZTJHGHWQWZMTLQ6RAT2ZSLUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTJ66V5D3IXRFHPYUHHQXTXUA75QJUNPBI2ZF3IYO5UDP7UGUMMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YJO6CRESWY5VENDTMFDPFWE4IOQ4K3RN2YQGQNMBQEHX6MIS2AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WECT4BWWZB7KJWVBMUFX34YY5K5ICJYOTEDJFRIEQQW3YXTMRCVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EQ5W6TS4WRIMEZ64LIZ27UMIN22LTNIR3AKSYLKVOC7DNBNF3TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC2H5IWGDKJPSGU4GTRDRUPUIXWZHD4RFTNWDVLYUZQ7J7YJFYCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THJWL5GLZYJX2HV5EKLTVAVZ7RR6ZEZ63XXYDSXDJA6NDY5SXWLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GALYUTXVO5CCNSVQLRWOEGAOQCCXL6BHWZP4BJUIZSZXKTD753TA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWJFEVQ3QXQGSTENAZU5EJJX34BWNQSEE2PYPUHGX2Y2O43IAELQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHNSGVTDHN32Q4UKLTG2ZLIFY63H464Q2HEPDHVJZKSYCG4PSYEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XYNSJGMGDDUC2XPJ4JBFPRNVOND5AKQIRZ4AGBN3Q3MZWW5CUGA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CRIS2IDTEKCJSTHTQIC3FUFIHYNTN2DMGBZMDWZPS7X4UN3JFZ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CYLUWJNESMJNGGUY6INHYM5N3H3PNRGRQS72DQRZLCJB7LP5PUAQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JN4JUJWVY6743EXQMW6IPF2236ICSZKGUFGWS4SPLDEGCV7GFIEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LQKRDD7BTM5TRY6BAAJDOY6N63L2UW4IMLUK3WKPCBCQFIQMGEQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IUOZMUV2VZA5ZCATX2P5CC5AGFSUNBFGG47AM64Z2QJZ66WNE7Q/vendors.sdk.js"
            ]
        },
        "EnableAlarmActions": {
            "input": {
                "type": "structure",
                "required": [
                    "AlarmNames"
                ],
                "members": {
                    "AlarmNames": {
                        "shape": "Sl"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WE6BATN6OQXEHT5FNMI4VC76JIIKNAK5CF5KUDJBBLEHJNIDCTVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7U2VW2U3TPC35DSS7LMPCXGXAVOBB4YFERTLS4S3WPPTZWYJHSVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZ2XV2KFYHFCOB6CJP52BSQJ6GEGAOUQPGFTZGXKTYVBPP3KKBWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5WQGJXGILQGVANJ5K3U6HL6K3NBTKSVK6MI5SDMWAP6KQVO57ZUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWYVXOOIXA7YWX2YQ2JR47ZQBGCNBVJ2STZTXF6KUFUADRYMJKFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKBZEOC3XP2ZI3HBF2XWZDPPSGEHJN2QXS2K2KVMJ6X6P2NHIQ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LECTM54PNNK73TOQMCEBT4UFR4P4CIDTWCFMTXBDKT663HUXDVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I56M3I7G5O43PECHQL3DCN7I6YVJV3MKVZUY2ZCUIM6YEUPKQ5JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2HO7W3HT27Z2VPXIKWCS2HJRXRF7ZTJHGHWQWZMTLQ6RAT2ZSLUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTJ66V5D3IXRFHPYUHHQXTXUA75QJUNPBI2ZF3IYO5UDP7UGUMMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YJO6CRESWY5VENDTMFDPFWE4IOQ4K3RN2YQGQNMBQEHX6MIS2AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WECT4BWWZB7KJWVBMUFX34YY5K5ICJYOTEDJFRIEQQW3YXTMRCVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EQ5W6TS4WRIMEZ64LIZ27UMIN22LTNIR3AKSYLKVOC7DNBNF3TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC2H5IWGDKJPSGU4GTRDRUPUIXWZHD4RFTNWDVLYUZQ7J7YJFYCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THJWL5GLZYJX2HV5EKLTVAVZ7RR6ZEZ63XXYDSXDJA6NDY5SXWLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GALYUTXVO5CCNSVQLRWOEGAOQCCXL6BHWZP4BJUIZSZXKTD753TA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWJFEVQ3QXQGSTENAZU5EJJX34BWNQSEE2PYPUHGX2Y2O43IAELQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHNSGVTDHN32Q4UKLTG2ZLIFY63H464Q2HEPDHVJZKSYCG4PSYEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XYNSJGMGDDUC2XPJ4JBFPRNVOND5AKQIRZ4AGBN3Q3MZWW5CUGA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CRIS2IDTEKCJSTHTQIC3FUFIHYNTN2DMGBZMDWZPS7X4UN3JFZ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CYLUWJNESMJNGGUY6INHYM5N3H3PNRGRQS72DQRZLCJB7LP5PUAQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JN4JUJWVY6743EXQMW6IPF2236ICSZKGUFGWS4SPLDEGCV7GFIEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LQKRDD7BTM5TRY6BAAJDOY6N63L2UW4IMLUK3WKPCBCQFIQMGEQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IUOZMUV2VZA5ZCATX2P5CC5AGFSUNBFGG47AM64Z2QJZ66WNE7Q/vendors.sdk.js"
            ]
        },
        "EnableInsightRules": {
            "input": {
                "type": "structure",
                "required": [
                    "RuleNames"
                ],
                "members": {
                    "RuleNames": {
                        "shape": "Su"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Failures": {
                        "shape": "Sx"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WE6BATN6OQXEHT5FNMI4VC76JIIKNAK5CF5KUDJBBLEHJNIDCTVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7U2VW2U3TPC35DSS7LMPCXGXAVOBB4YFERTLS4S3WPPTZWYJHSVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZ2XV2KFYHFCOB6CJP52BSQJ6GEGAOUQPGFTZGXKTYVBPP3KKBWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5WQGJXGILQGVANJ5K3U6HL6K3NBTKSVK6MI5SDMWAP6KQVO57ZUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWYVXOOIXA7YWX2YQ2JR47ZQBGCNBVJ2STZTXF6KUFUADRYMJKFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKBZEOC3XP2ZI3HBF2XWZDPPSGEHJN2QXS2K2KVMJ6X6P2NHIQ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LECTM54PNNK73TOQMCEBT4UFR4P4CIDTWCFMTXBDKT663HUXDVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I56M3I7G5O43PECHQL3DCN7I6YVJV3MKVZUY2ZCUIM6YEUPKQ5JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2HO7W3HT27Z2VPXIKWCS2HJRXRF7ZTJHGHWQWZMTLQ6RAT2ZSLUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTJ66V5D3IXRFHPYUHHQXTXUA75QJUNPBI2ZF3IYO5UDP7UGUMMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YJO6CRESWY5VENDTMFDPFWE4IOQ4K3RN2YQGQNMBQEHX6MIS2AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WECT4BWWZB7KJWVBMUFX34YY5K5ICJYOTEDJFRIEQQW3YXTMRCVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EQ5W6TS4WRIMEZ64LIZ27UMIN22LTNIR3AKSYLKVOC7DNBNF3TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC2H5IWGDKJPSGU4GTRDRUPUIXWZHD4RFTNWDVLYUZQ7J7YJFYCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THJWL5GLZYJX2HV5EKLTVAVZ7RR6ZEZ63XXYDSXDJA6NDY5SXWLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GALYUTXVO5CCNSVQLRWOEGAOQCCXL6BHWZP4BJUIZSZXKTD753TA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWJFEVQ3QXQGSTENAZU5EJJX34BWNQSEE2PYPUHGX2Y2O43IAELQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHNSGVTDHN32Q4UKLTG2ZLIFY63H464Q2HEPDHVJZKSYCG4PSYEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XYNSJGMGDDUC2XPJ4JBFPRNVOND5AKQIRZ4AGBN3Q3MZWW5CUGA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CRIS2IDTEKCJSTHTQIC3FUFIHYNTN2DMGBZMDWZPS7X4UN3JFZ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CYLUWJNESMJNGGUY6INHYM5N3H3PNRGRQS72DQRZLCJB7LP5PUAQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JN4JUJWVY6743EXQMW6IPF2236ICSZKGUFGWS4SPLDEGCV7GFIEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LQKRDD7BTM5TRY6BAAJDOY6N63L2UW4IMLUK3WKPCBCQFIQMGEQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IUOZMUV2VZA5ZCATX2P5CC5AGFSUNBFGG47AM64Z2QJZ66WNE7Q/vendors.sdk.js"
            ]
        },
        "EnablePrediction": {
            "input": {
                "shape": "S4c"
            },
            "output": {
                "shape": "S4d"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WE6BATN6OQXEHT5FNMI4VC76JIIKNAK5CF5KUDJBBLEHJNIDCTVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7U2VW2U3TPC35DSS7LMPCXGXAVOBB4YFERTLS4S3WPPTZWYJHSVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZ2XV2KFYHFCOB6CJP52BSQJ6GEGAOUQPGFTZGXKTYVBPP3KKBWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5WQGJXGILQGVANJ5K3U6HL6K3NBTKSVK6MI5SDMWAP6KQVO57ZUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWYVXOOIXA7YWX2YQ2JR47ZQBGCNBVJ2STZTXF6KUFUADRYMJKFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKBZEOC3XP2ZI3HBF2XWZDPPSGEHJN2QXS2K2KVMJ6X6P2NHIQ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LECTM54PNNK73TOQMCEBT4UFR4P4CIDTWCFMTXBDKT663HUXDVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I56M3I7G5O43PECHQL3DCN7I6YVJV3MKVZUY2ZCUIM6YEUPKQ5JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2HO7W3HT27Z2VPXIKWCS2HJRXRF7ZTJHGHWQWZMTLQ6RAT2ZSLUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTJ66V5D3IXRFHPYUHHQXTXUA75QJUNPBI2ZF3IYO5UDP7UGUMMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YJO6CRESWY5VENDTMFDPFWE4IOQ4K3RN2YQGQNMBQEHX6MIS2AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WECT4BWWZB7KJWVBMUFX34YY5K5ICJYOTEDJFRIEQQW3YXTMRCVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EQ5W6TS4WRIMEZ64LIZ27UMIN22LTNIR3AKSYLKVOC7DNBNF3TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC2H5IWGDKJPSGU4GTRDRUPUIXWZHD4RFTNWDVLYUZQ7J7YJFYCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THJWL5GLZYJX2HV5EKLTVAVZ7RR6ZEZ63XXYDSXDJA6NDY5SXWLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GALYUTXVO5CCNSVQLRWOEGAOQCCXL6BHWZP4BJUIZSZXKTD753TA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWJFEVQ3QXQGSTENAZU5EJJX34BWNQSEE2PYPUHGX2Y2O43IAELQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHNSGVTDHN32Q4UKLTG2ZLIFY63H464Q2HEPDHVJZKSYCG4PSYEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XYNSJGMGDDUC2XPJ4JBFPRNVOND5AKQIRZ4AGBN3Q3MZWW5CUGA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CRIS2IDTEKCJSTHTQIC3FUFIHYNTN2DMGBZMDWZPS7X4UN3JFZ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CYLUWJNESMJNGGUY6INHYM5N3H3PNRGRQS72DQRZLCJB7LP5PUAQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JN4JUJWVY6743EXQMW6IPF2236ICSZKGUFGWS4SPLDEGCV7GFIEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LQKRDD7BTM5TRY6BAAJDOY6N63L2UW4IMLUK3WKPCBCQFIQMGEQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IUOZMUV2VZA5ZCATX2P5CC5AGFSUNBFGG47AM64Z2QJZ66WNE7Q/vendors.sdk.js"
            ]
        },
        "EnablePredictionForAccount": {
            "input": {
                "shape": "S4e"
            },
            "output": {
                "shape": "S4d"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WE6BATN6OQXEHT5FNMI4VC76JIIKNAK5CF5KUDJBBLEHJNIDCTVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7U2VW2U3TPC35DSS7LMPCXGXAVOBB4YFERTLS4S3WPPTZWYJHSVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZ2XV2KFYHFCOB6CJP52BSQJ6GEGAOUQPGFTZGXKTYVBPP3KKBWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5WQGJXGILQGVANJ5K3U6HL6K3NBTKSVK6MI5SDMWAP6KQVO57ZUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWYVXOOIXA7YWX2YQ2JR47ZQBGCNBVJ2STZTXF6KUFUADRYMJKFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKBZEOC3XP2ZI3HBF2XWZDPPSGEHJN2QXS2K2KVMJ6X6P2NHIQ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LECTM54PNNK73TOQMCEBT4UFR4P4CIDTWCFMTXBDKT663HUXDVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I56M3I7G5O43PECHQL3DCN7I6YVJV3MKVZUY2ZCUIM6YEUPKQ5JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2HO7W3HT27Z2VPXIKWCS2HJRXRF7ZTJHGHWQWZMTLQ6RAT2ZSLUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTJ66V5D3IXRFHPYUHHQXTXUA75QJUNPBI2ZF3IYO5UDP7UGUMMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YJO6CRESWY5VENDTMFDPFWE4IOQ4K3RN2YQGQNMBQEHX6MIS2AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WECT4BWWZB7KJWVBMUFX34YY5K5ICJYOTEDJFRIEQQW3YXTMRCVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EQ5W6TS4WRIMEZ64LIZ27UMIN22LTNIR3AKSYLKVOC7DNBNF3TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC2H5IWGDKJPSGU4GTRDRUPUIXWZHD4RFTNWDVLYUZQ7J7YJFYCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THJWL5GLZYJX2HV5EKLTVAVZ7RR6ZEZ63XXYDSXDJA6NDY5SXWLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GALYUTXVO5CCNSVQLRWOEGAOQCCXL6BHWZP4BJUIZSZXKTD753TA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWJFEVQ3QXQGSTENAZU5EJJX34BWNQSEE2PYPUHGX2Y2O43IAELQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHNSGVTDHN32Q4UKLTG2ZLIFY63H464Q2HEPDHVJZKSYCG4PSYEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XYNSJGMGDDUC2XPJ4JBFPRNVOND5AKQIRZ4AGBN3Q3MZWW5CUGA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CRIS2IDTEKCJSTHTQIC3FUFIHYNTN2DMGBZMDWZPS7X4UN3JFZ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CYLUWJNESMJNGGUY6INHYM5N3H3PNRGRQS72DQRZLCJB7LP5PUAQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JN4JUJWVY6743EXQMW6IPF2236ICSZKGUFGWS4SPLDEGCV7GFIEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LQKRDD7BTM5TRY6BAAJDOY6N63L2UW4IMLUK3WKPCBCQFIQMGEQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IUOZMUV2VZA5ZCATX2P5CC5AGFSUNBFGG47AM64Z2QJZ66WNE7Q/vendors.sdk.js"
            ]
        },
        "GetAnomalyDetectorDataForAccount": {
            "input": {
                "type": "structure",
                "members": {
                    "Metric": {
                        "shape": "S2c"
                    },
                    "Sensitivity": {
                        "type": "double"
                    },
                    "CreateModelIfMissing": {
                        "type": "boolean"
                    },
                    "PredictionSource": {},
                    "NextToken": {},
                    "AccountId": {},
                    "Metrics": {
                        "shape": "S2b"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Low": {
                        "shape": "S4y"
                    },
                    "High": {
                        "shape": "S4y"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WE6BATN6OQXEHT5FNMI4VC76JIIKNAK5CF5KUDJBBLEHJNIDCTVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7U2VW2U3TPC35DSS7LMPCXGXAVOBB4YFERTLS4S3WPPTZWYJHSVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZ2XV2KFYHFCOB6CJP52BSQJ6GEGAOUQPGFTZGXKTYVBPP3KKBWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5WQGJXGILQGVANJ5K3U6HL6K3NBTKSVK6MI5SDMWAP6KQVO57ZUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWYVXOOIXA7YWX2YQ2JR47ZQBGCNBVJ2STZTXF6KUFUADRYMJKFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKBZEOC3XP2ZI3HBF2XWZDPPSGEHJN2QXS2K2KVMJ6X6P2NHIQ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LECTM54PNNK73TOQMCEBT4UFR4P4CIDTWCFMTXBDKT663HUXDVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I56M3I7G5O43PECHQL3DCN7I6YVJV3MKVZUY2ZCUIM6YEUPKQ5JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2HO7W3HT27Z2VPXIKWCS2HJRXRF7ZTJHGHWQWZMTLQ6RAT2ZSLUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTJ66V5D3IXRFHPYUHHQXTXUA75QJUNPBI2ZF3IYO5UDP7UGUMMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YJO6CRESWY5VENDTMFDPFWE4IOQ4K3RN2YQGQNMBQEHX6MIS2AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WECT4BWWZB7KJWVBMUFX34YY5K5ICJYOTEDJFRIEQQW3YXTMRCVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EQ5W6TS4WRIMEZ64LIZ27UMIN22LTNIR3AKSYLKVOC7DNBNF3TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC2H5IWGDKJPSGU4GTRDRUPUIXWZHD4RFTNWDVLYUZQ7J7YJFYCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THJWL5GLZYJX2HV5EKLTVAVZ7RR6ZEZ63XXYDSXDJA6NDY5SXWLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GALYUTXVO5CCNSVQLRWOEGAOQCCXL6BHWZP4BJUIZSZXKTD753TA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWJFEVQ3QXQGSTENAZU5EJJX34BWNQSEE2PYPUHGX2Y2O43IAELQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHNSGVTDHN32Q4UKLTG2ZLIFY63H464Q2HEPDHVJZKSYCG4PSYEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XYNSJGMGDDUC2XPJ4JBFPRNVOND5AKQIRZ4AGBN3Q3MZWW5CUGA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CRIS2IDTEKCJSTHTQIC3FUFIHYNTN2DMGBZMDWZPS7X4UN3JFZ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CYLUWJNESMJNGGUY6INHYM5N3H3PNRGRQS72DQRZLCJB7LP5PUAQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JN4JUJWVY6743EXQMW6IPF2236ICSZKGUFGWS4SPLDEGCV7GFIEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LQKRDD7BTM5TRY6BAAJDOY6N63L2UW4IMLUK3WKPCBCQFIQMGEQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IUOZMUV2VZA5ZCATX2P5CC5AGFSUNBFGG47AM64Z2QJZ66WNE7Q/vendors.sdk.js"
            ]
        },
        "GetDashboard": {
            "input": {
                "type": "structure",
                "required": [
                    "DashboardName"
                ],
                "members": {
                    "DashboardName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DashboardArn": {},
                    "DashboardBody": {},
                    "DashboardName": {},
                    "CreationId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WE6BATN6OQXEHT5FNMI4VC76JIIKNAK5CF5KUDJBBLEHJNIDCTVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7U2VW2U3TPC35DSS7LMPCXGXAVOBB4YFERTLS4S3WPPTZWYJHSVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZ2XV2KFYHFCOB6CJP52BSQJ6GEGAOUQPGFTZGXKTYVBPP3KKBWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5WQGJXGILQGVANJ5K3U6HL6K3NBTKSVK6MI5SDMWAP6KQVO57ZUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWYVXOOIXA7YWX2YQ2JR47ZQBGCNBVJ2STZTXF6KUFUADRYMJKFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKBZEOC3XP2ZI3HBF2XWZDPPSGEHJN2QXS2K2KVMJ6X6P2NHIQ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LECTM54PNNK73TOQMCEBT4UFR4P4CIDTWCFMTXBDKT663HUXDVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I56M3I7G5O43PECHQL3DCN7I6YVJV3MKVZUY2ZCUIM6YEUPKQ5JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2HO7W3HT27Z2VPXIKWCS2HJRXRF7ZTJHGHWQWZMTLQ6RAT2ZSLUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTJ66V5D3IXRFHPYUHHQXTXUA75QJUNPBI2ZF3IYO5UDP7UGUMMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YJO6CRESWY5VENDTMFDPFWE4IOQ4K3RN2YQGQNMBQEHX6MIS2AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WECT4BWWZB7KJWVBMUFX34YY5K5ICJYOTEDJFRIEQQW3YXTMRCVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EQ5W6TS4WRIMEZ64LIZ27UMIN22LTNIR3AKSYLKVOC7DNBNF3TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC2H5IWGDKJPSGU4GTRDRUPUIXWZHD4RFTNWDVLYUZQ7J7YJFYCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THJWL5GLZYJX2HV5EKLTVAVZ7RR6ZEZ63XXYDSXDJA6NDY5SXWLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GALYUTXVO5CCNSVQLRWOEGAOQCCXL6BHWZP4BJUIZSZXKTD753TA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWJFEVQ3QXQGSTENAZU5EJJX34BWNQSEE2PYPUHGX2Y2O43IAELQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHNSGVTDHN32Q4UKLTG2ZLIFY63H464Q2HEPDHVJZKSYCG4PSYEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XYNSJGMGDDUC2XPJ4JBFPRNVOND5AKQIRZ4AGBN3Q3MZWW5CUGA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CRIS2IDTEKCJSTHTQIC3FUFIHYNTN2DMGBZMDWZPS7X4UN3JFZ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CYLUWJNESMJNGGUY6INHYM5N3H3PNRGRQS72DQRZLCJB7LP5PUAQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JN4JUJWVY6743EXQMW6IPF2236ICSZKGUFGWS4SPLDEGCV7GFIEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LQKRDD7BTM5TRY6BAAJDOY6N63L2UW4IMLUK3WKPCBCQFIQMGEQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IUOZMUV2VZA5ZCATX2P5CC5AGFSUNBFGG47AM64Z2QJZ66WNE7Q/vendors.sdk.js"
            ]
        },
        "GetDashboardForAccount": {
            "input": {
                "type": "structure",
                "required": [
                    "AccountId",
                    "DashboardName"
                ],
                "members": {
                    "AccountId": {},
                    "DashboardName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DashboardArn": {},
                    "DashboardBody": {},
                    "DashboardName": {},
                    "CreationId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WE6BATN6OQXEHT5FNMI4VC76JIIKNAK5CF5KUDJBBLEHJNIDCTVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7U2VW2U3TPC35DSS7LMPCXGXAVOBB4YFERTLS4S3WPPTZWYJHSVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZ2XV2KFYHFCOB6CJP52BSQJ6GEGAOUQPGFTZGXKTYVBPP3KKBWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5WQGJXGILQGVANJ5K3U6HL6K3NBTKSVK6MI5SDMWAP6KQVO57ZUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWYVXOOIXA7YWX2YQ2JR47ZQBGCNBVJ2STZTXF6KUFUADRYMJKFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKBZEOC3XP2ZI3HBF2XWZDPPSGEHJN2QXS2K2KVMJ6X6P2NHIQ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LECTM54PNNK73TOQMCEBT4UFR4P4CIDTWCFMTXBDKT663HUXDVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I56M3I7G5O43PECHQL3DCN7I6YVJV3MKVZUY2ZCUIM6YEUPKQ5JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2HO7W3HT27Z2VPXIKWCS2HJRXRF7ZTJHGHWQWZMTLQ6RAT2ZSLUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTJ66V5D3IXRFHPYUHHQXTXUA75QJUNPBI2ZF3IYO5UDP7UGUMMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YJO6CRESWY5VENDTMFDPFWE4IOQ4K3RN2YQGQNMBQEHX6MIS2AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WECT4BWWZB7KJWVBMUFX34YY5K5ICJYOTEDJFRIEQQW3YXTMRCVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EQ5W6TS4WRIMEZ64LIZ27UMIN22LTNIR3AKSYLKVOC7DNBNF3TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC2H5IWGDKJPSGU4GTRDRUPUIXWZHD4RFTNWDVLYUZQ7J7YJFYCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THJWL5GLZYJX2HV5EKLTVAVZ7RR6ZEZ63XXYDSXDJA6NDY5SXWLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GALYUTXVO5CCNSVQLRWOEGAOQCCXL6BHWZP4BJUIZSZXKTD753TA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWJFEVQ3QXQGSTENAZU5EJJX34BWNQSEE2PYPUHGX2Y2O43IAELQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHNSGVTDHN32Q4UKLTG2ZLIFY63H464Q2HEPDHVJZKSYCG4PSYEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XYNSJGMGDDUC2XPJ4JBFPRNVOND5AKQIRZ4AGBN3Q3MZWW5CUGA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CRIS2IDTEKCJSTHTQIC3FUFIHYNTN2DMGBZMDWZPS7X4UN3JFZ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CYLUWJNESMJNGGUY6INHYM5N3H3PNRGRQS72DQRZLCJB7LP5PUAQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JN4JUJWVY6743EXQMW6IPF2236ICSZKGUFGWS4SPLDEGCV7GFIEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LQKRDD7BTM5TRY6BAAJDOY6N63L2UW4IMLUK3WKPCBCQFIQMGEQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IUOZMUV2VZA5ZCATX2P5CC5AGFSUNBFGG47AM64Z2QJZ66WNE7Q/vendors.sdk.js"
            ]
        },
        "GetInsightRuleReport": {
            "input": {
                "type": "structure",
                "required": [
                    "RuleName",
                    "StartTime",
                    "EndTime",
                    "Period"
                ],
                "members": {
                    "TargetAccountId": {},
                    "RuleName": {},
                    "StartTime": {
                        "type": "timestamp"
                    },
                    "EndTime": {
                        "type": "timestamp"
                    },
                    "Period": {
[...]
