{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2010-08-01",
        "endpointPrefix": "monitoring",
        "jsonVersion": "1.0",
        "protocol": "json",
        "serviceAbbreviation": "CloudWatchInternal",
        "serviceFullName": "Amazon CloudWatch Internal",
        "serviceId": "CloudWatchInternal",
        "signatureVersion": "v4",
        "targetPrefix": "GraniteServiceVersion20100801",
        "uid": "monitoring_internal-2010-08-01",
        "download_location": [
            "https://d3kld4ju0n55da.cloudfront.net/ef465fa3-559c-425a-917f-ee9c499660e4/main.js",
            "https://d3kld4ju0n55da.cloudfront.net/cb449c20-90c2-4f46-aa2f-6c3d984a99a2/main.js",
            "https://d3kld4ju0n55da.cloudfront.net/f90d47e0-0674-4acb-8c9a-7446db0d11ff/main.js",
            "https://d3kld4ju0n55da.cloudfront.net/107a4a83-c407-48ff-8f19-cd455c85d392/main.js",
            "https://d3kld4ju0n55da.cloudfront.net/4fe0a49b-9475-46e4-a21e-245651160e2e/main.js",
            "https://d3kld4ju0n55da.cloudfront.net/8afda330-2eb9-4d11-8d3d-d11142e69051/main.js",
            "https://d3kld4ju0n55da.cloudfront.net/47f84f99-1b0d-4562-a747-e86fe34c302e/main.js",
            "https://d3kld4ju0n55da.cloudfront.net/63fcb37d-c103-49d4-acca-1f4cdd5be6a6/main.js",
            "https://d3kld4ju0n55da.cloudfront.net/292faa65-e1aa-4294-8041-4ecebcd7451f/main.js",
            "https://d3kld4ju0n55da.cloudfront.net/f2117bfd-9204-459f-b8bf-d016fde05810/main.js",
            "https://d3kld4ju0n55da.cloudfront.net/c9ef6d28-6dff-457e-a365-ac33d8ca237f/main.js",
            "https://d3kld4ju0n55da.cloudfront.net/3f3c87c6-94b8-48f1-9363-12c05ee98a20/main.js",
            "https://d3kld4ju0n55da.cloudfront.net/c3a71b82-5864-48fc-aa5c-aa994ffd2423/main.js",
            "https://d3kld4ju0n55da.cloudfront.net/8345882d-60a3-47d9-b40e-f6a8066fcda9/main.js"
        ]
    },
    "operations": {
        "DeleteAlarmTemplate": {
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://d3kld4ju0n55da.cloudfront.net/ef465fa3-559c-425a-917f-ee9c499660e4/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/cb449c20-90c2-4f46-aa2f-6c3d984a99a2/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f90d47e0-0674-4acb-8c9a-7446db0d11ff/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/107a4a83-c407-48ff-8f19-cd455c85d392/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/4fe0a49b-9475-46e4-a21e-245651160e2e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/8afda330-2eb9-4d11-8d3d-d11142e69051/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/47f84f99-1b0d-4562-a747-e86fe34c302e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/63fcb37d-c103-49d4-acca-1f4cdd5be6a6/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/292faa65-e1aa-4294-8041-4ecebcd7451f/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f2117bfd-9204-459f-b8bf-d016fde05810/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c9ef6d28-6dff-457e-a365-ac33d8ca237f/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/3f3c87c6-94b8-48f1-9363-12c05ee98a20/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c3a71b82-5864-48fc-aa5c-aa994ffd2423/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/8345882d-60a3-47d9-b40e-f6a8066fcda9/main.js"
            ]
        },
        "DeleteAnomalyDetector": {
            "input": {
                "type": "structure",
                "members": {
                    "Namespace": {
                        "deprecated": true,
                        "deprecatedMessage": "Use SingleMetricAnomalyDetector."
                    },
                    "MetricName": {
                        "deprecated": true,
                        "deprecatedMessage": "Use SingleMetricAnomalyDetector."
                    },
                    "Dimensions": {
                        "shape": "S6",
                        "deprecated": true,
                        "deprecatedMessage": "Use SingleMetricAnomalyDetector."
                    },
                    "Stat": {
                        "deprecated": true,
                        "deprecatedMessage": "Use SingleMetricAnomalyDetector."
                    },
                    "SingleMetricAnomalyDetector": {
                        "shape": "Sb"
                    },
                    "MetricMathAnomalyDetector": {
                        "shape": "Sc"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://d3kld4ju0n55da.cloudfront.net/ef465fa3-559c-425a-917f-ee9c499660e4/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/cb449c20-90c2-4f46-aa2f-6c3d984a99a2/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f90d47e0-0674-4acb-8c9a-7446db0d11ff/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/107a4a83-c407-48ff-8f19-cd455c85d392/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/4fe0a49b-9475-46e4-a21e-245651160e2e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/8afda330-2eb9-4d11-8d3d-d11142e69051/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/47f84f99-1b0d-4562-a747-e86fe34c302e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/63fcb37d-c103-49d4-acca-1f4cdd5be6a6/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/292faa65-e1aa-4294-8041-4ecebcd7451f/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f2117bfd-9204-459f-b8bf-d016fde05810/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c9ef6d28-6dff-457e-a365-ac33d8ca237f/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/3f3c87c6-94b8-48f1-9363-12c05ee98a20/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c3a71b82-5864-48fc-aa5c-aa994ffd2423/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/8345882d-60a3-47d9-b40e-f6a8066fcda9/main.js"
            ]
        },
        "DeleteInsightRules": {
            "input": {
                "type": "structure",
                "required": [
                    "RuleNames"
                ],
                "members": {
                    "RuleNames": {
                        "shape": "Sr"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Failures": {
                        "shape": "Su"
                    }
                }
            },
            "download_location": [
                "https://d3kld4ju0n55da.cloudfront.net/ef465fa3-559c-425a-917f-ee9c499660e4/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/cb449c20-90c2-4f46-aa2f-6c3d984a99a2/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f90d47e0-0674-4acb-8c9a-7446db0d11ff/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/107a4a83-c407-48ff-8f19-cd455c85d392/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/4fe0a49b-9475-46e4-a21e-245651160e2e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/8afda330-2eb9-4d11-8d3d-d11142e69051/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/47f84f99-1b0d-4562-a747-e86fe34c302e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/63fcb37d-c103-49d4-acca-1f4cdd5be6a6/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/292faa65-e1aa-4294-8041-4ecebcd7451f/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f2117bfd-9204-459f-b8bf-d016fde05810/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c9ef6d28-6dff-457e-a365-ac33d8ca237f/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/3f3c87c6-94b8-48f1-9363-12c05ee98a20/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c3a71b82-5864-48fc-aa5c-aa994ffd2423/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/8345882d-60a3-47d9-b40e-f6a8066fcda9/main.js"
            ]
        },
        "DeleteMetricStream": {
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://d3kld4ju0n55da.cloudfront.net/ef465fa3-559c-425a-917f-ee9c499660e4/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/cb449c20-90c2-4f46-aa2f-6c3d984a99a2/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f90d47e0-0674-4acb-8c9a-7446db0d11ff/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/107a4a83-c407-48ff-8f19-cd455c85d392/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/4fe0a49b-9475-46e4-a21e-245651160e2e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/8afda330-2eb9-4d11-8d3d-d11142e69051/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/47f84f99-1b0d-4562-a747-e86fe34c302e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/63fcb37d-c103-49d4-acca-1f4cdd5be6a6/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/292faa65-e1aa-4294-8041-4ecebcd7451f/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f2117bfd-9204-459f-b8bf-d016fde05810/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c9ef6d28-6dff-457e-a365-ac33d8ca237f/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/3f3c87c6-94b8-48f1-9363-12c05ee98a20/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c3a71b82-5864-48fc-aa5c-aa994ffd2423/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/8345882d-60a3-47d9-b40e-f6a8066fcda9/main.js"
            ]
        },
        "DescribeAlarmTemplateHistory": {
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {},
                    "HistoryItemType": {},
                    "StartDate": {
                        "type": "timestamp"
                    },
                    "EndDate": {
                        "type": "timestamp"
                    },
                    "MaxRecords": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "HistoryItems": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Name": {},
                                "Arn": {},
                                "HistoryItemType": {},
                                "HistorySummary": {},
                                "HistoryData": {},
                                "Timestamp": {
                                    "type": "timestamp"
                                }
                            },
                            "internalonly": true
                        },
                        "internalonly": true
                    },
                    "NextToken": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://d3kld4ju0n55da.cloudfront.net/ef465fa3-559c-425a-917f-ee9c499660e4/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/cb449c20-90c2-4f46-aa2f-6c3d984a99a2/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f90d47e0-0674-4acb-8c9a-7446db0d11ff/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/107a4a83-c407-48ff-8f19-cd455c85d392/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/4fe0a49b-9475-46e4-a21e-245651160e2e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/8afda330-2eb9-4d11-8d3d-d11142e69051/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/47f84f99-1b0d-4562-a747-e86fe34c302e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/63fcb37d-c103-49d4-acca-1f4cdd5be6a6/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/292faa65-e1aa-4294-8041-4ecebcd7451f/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f2117bfd-9204-459f-b8bf-d016fde05810/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c9ef6d28-6dff-457e-a365-ac33d8ca237f/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/3f3c87c6-94b8-48f1-9363-12c05ee98a20/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c3a71b82-5864-48fc-aa5c-aa994ffd2423/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/8345882d-60a3-47d9-b40e-f6a8066fcda9/main.js"
            ]
        },
        "DescribeAnomalyDetectors": {
            "input": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "Namespace": {},
                    "MetricName": {},
                    "Dimensions": {
                        "shape": "S6"
                    },
                    "AnomalyDetectorTypes": {
                        "type": "list",
                        "member": {}
                    },
                    "AnomalyDetectorSearchTerms": {
                        "internalonly": true,
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "SingleMetricSearchTerm": {
                                    "type": "structure",
                                    "members": {
                                        "Namespace": {},
                                        "MetricName": {},
                                        "Dimensions": {
                                            "shape": "S6"
                                        }
                                    },
                                    "internalonly": true
                                },
                                "MetricMathSearchTerm": {
                                    "type": "structure",
                                    "members": {},
                                    "internalonly": true
                                }
                            },
                            "internalonly": true
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AnomalyDetectors": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Namespace": {
                                    "deprecated": true,
                                    "deprecatedMessage": "Use SingleMetricAnomalyDetector.Namespace property."
                                },
                                "MetricName": {
                                    "deprecated": true,
                                    "deprecatedMessage": "Use SingleMetricAnomalyDetector.MetricName property."
                                },
                                "Dimensions": {
                                    "shape": "S6",
                                    "deprecated": true,
                                    "deprecatedMessage": "Use SingleMetricAnomalyDetector.Dimensions property."
                                },
                                "Stat": {
                                    "deprecated": true,
                                    "deprecatedMessage": "Use SingleMetricAnomalyDetector.Stat property."
                                },
                                "Configuration": {
                                    "shape": "S1p"
                                },
                                "StateValue": {},
                                "SingleMetricAnomalyDetector": {
                                    "shape": "Sb"
                                },
                                "MetricMathAnomalyDetector": {
                                    "shape": "Sc"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://d3kld4ju0n55da.cloudfront.net/ef465fa3-559c-425a-917f-ee9c499660e4/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/cb449c20-90c2-4f46-aa2f-6c3d984a99a2/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f90d47e0-0674-4acb-8c9a-7446db0d11ff/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/107a4a83-c407-48ff-8f19-cd455c85d392/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/4fe0a49b-9475-46e4-a21e-245651160e2e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/8afda330-2eb9-4d11-8d3d-d11142e69051/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/47f84f99-1b0d-4562-a747-e86fe34c302e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/63fcb37d-c103-49d4-acca-1f4cdd5be6a6/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/292faa65-e1aa-4294-8041-4ecebcd7451f/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f2117bfd-9204-459f-b8bf-d016fde05810/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c9ef6d28-6dff-457e-a365-ac33d8ca237f/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/3f3c87c6-94b8-48f1-9363-12c05ee98a20/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c3a71b82-5864-48fc-aa5c-aa994ffd2423/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/8345882d-60a3-47d9-b40e-f6a8066fcda9/main.js"
            ]
        },
        "DescribeInsightRules": {
            "input": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "InsightRules": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Name",
                                "State",
                                "Schema",
                                "Definition"
                            ],
                            "members": {
                                "Name": {},
                                "State": {},
                                "Schema": {},
                                "Definition": {},
                                "ManagedRule": {
                                    "type": "boolean"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://d3kld4ju0n55da.cloudfront.net/ef465fa3-559c-425a-917f-ee9c499660e4/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/cb449c20-90c2-4f46-aa2f-6c3d984a99a2/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f90d47e0-0674-4acb-8c9a-7446db0d11ff/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/107a4a83-c407-48ff-8f19-cd455c85d392/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/4fe0a49b-9475-46e4-a21e-245651160e2e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/8afda330-2eb9-4d11-8d3d-d11142e69051/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/47f84f99-1b0d-4562-a747-e86fe34c302e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/63fcb37d-c103-49d4-acca-1f4cdd5be6a6/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/292faa65-e1aa-4294-8041-4ecebcd7451f/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f2117bfd-9204-459f-b8bf-d016fde05810/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c9ef6d28-6dff-457e-a365-ac33d8ca237f/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/3f3c87c6-94b8-48f1-9363-12c05ee98a20/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c3a71b82-5864-48fc-aa5c-aa994ffd2423/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/8345882d-60a3-47d9-b40e-f6a8066fcda9/main.js"
            ]
        },
        "DisableInsightRules": {
            "input": {
                "type": "structure",
                "required": [
                    "RuleNames"
                ],
                "members": {
                    "RuleNames": {
                        "shape": "Sr"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Failures": {
                        "shape": "Su"
                    }
                }
            },
            "download_location": [
                "https://d3kld4ju0n55da.cloudfront.net/ef465fa3-559c-425a-917f-ee9c499660e4/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/cb449c20-90c2-4f46-aa2f-6c3d984a99a2/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f90d47e0-0674-4acb-8c9a-7446db0d11ff/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/107a4a83-c407-48ff-8f19-cd455c85d392/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/4fe0a49b-9475-46e4-a21e-245651160e2e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/8afda330-2eb9-4d11-8d3d-d11142e69051/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/47f84f99-1b0d-4562-a747-e86fe34c302e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/63fcb37d-c103-49d4-acca-1f4cdd5be6a6/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/292faa65-e1aa-4294-8041-4ecebcd7451f/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f2117bfd-9204-459f-b8bf-d016fde05810/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c9ef6d28-6dff-457e-a365-ac33d8ca237f/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/3f3c87c6-94b8-48f1-9363-12c05ee98a20/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c3a71b82-5864-48fc-aa5c-aa994ffd2423/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/8345882d-60a3-47d9-b40e-f6a8066fcda9/main.js"
            ]
        },
        "EnableInsightRules": {
            "input": {
                "type": "structure",
                "required": [
                    "RuleNames"
                ],
                "members": {
                    "RuleNames": {
                        "shape": "Sr"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Failures": {
                        "shape": "Su"
                    }
                }
            },
            "download_location": [
                "https://d3kld4ju0n55da.cloudfront.net/ef465fa3-559c-425a-917f-ee9c499660e4/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/cb449c20-90c2-4f46-aa2f-6c3d984a99a2/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f90d47e0-0674-4acb-8c9a-7446db0d11ff/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/107a4a83-c407-48ff-8f19-cd455c85d392/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/4fe0a49b-9475-46e4-a21e-245651160e2e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/8afda330-2eb9-4d11-8d3d-d11142e69051/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/47f84f99-1b0d-4562-a747-e86fe34c302e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/63fcb37d-c103-49d4-acca-1f4cdd5be6a6/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/292faa65-e1aa-4294-8041-4ecebcd7451f/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f2117bfd-9204-459f-b8bf-d016fde05810/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c9ef6d28-6dff-457e-a365-ac33d8ca237f/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/3f3c87c6-94b8-48f1-9363-12c05ee98a20/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c3a71b82-5864-48fc-aa5c-aa994ffd2423/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/8345882d-60a3-47d9-b40e-f6a8066fcda9/main.js"
            ]
        },
        "GetAlarmTemplate": {
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Name": {},
                    "Description": {},
                    "Arn": {},
                    "MetricAlarmConfigurations": {
                        "shape": "S2a"
                    },
                    "ResourceType": {},
                    "ResourceTag": {
                        "shape": "S2w"
                    },
                    "CreationId": {
                        "internalonly": true
                    },
                    "State": {},
                    "StateReason": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://d3kld4ju0n55da.cloudfront.net/ef465fa3-559c-425a-917f-ee9c499660e4/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/cb449c20-90c2-4f46-aa2f-6c3d984a99a2/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f90d47e0-0674-4acb-8c9a-7446db0d11ff/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/107a4a83-c407-48ff-8f19-cd455c85d392/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/4fe0a49b-9475-46e4-a21e-245651160e2e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/8afda330-2eb9-4d11-8d3d-d11142e69051/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/47f84f99-1b0d-4562-a747-e86fe34c302e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/63fcb37d-c103-49d4-acca-1f4cdd5be6a6/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/292faa65-e1aa-4294-8041-4ecebcd7451f/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f2117bfd-9204-459f-b8bf-d016fde05810/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c9ef6d28-6dff-457e-a365-ac33d8ca237f/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/3f3c87c6-94b8-48f1-9363-12c05ee98a20/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c3a71b82-5864-48fc-aa5c-aa994ffd2423/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/8345882d-60a3-47d9-b40e-f6a8066fcda9/main.js"
            ]
        },
        "GetEntities": {
            "input": {
                "type": "structure",
                "required": [
                    "Action",
                    "Match"
                ],
                "members": {
                    "Action": {},
                    "Match": {
                        "type": "structure",
                        "required": [
                            "ResourceType"
                        ],
                        "members": {
                            "ResourceType": {},
                            "Labels": {
                                "shape": "S35"
                            }
                        }
                    },
                    "LabelSelectors": {
                        "type": "list",
                        "member": {}
                    },
                    "NextToken": {},
                    "MaxResults": {
                        "internalonly": true,
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Entities": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "URI": {},
                                "MetricTemplate": {
                                    "type": "structure",
                                    "members": {
                                        "Namespace": {},
                                        "Dimensions": {
                                            "shape": "S6"
                                        }
                                    }
                                },
                                "Labels": {
                                    "shape": "S35"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://d3kld4ju0n55da.cloudfront.net/ef465fa3-559c-425a-917f-ee9c499660e4/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/cb449c20-90c2-4f46-aa2f-6c3d984a99a2/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f90d47e0-0674-4acb-8c9a-7446db0d11ff/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/107a4a83-c407-48ff-8f19-cd455c85d392/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/4fe0a49b-9475-46e4-a21e-245651160e2e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/8afda330-2eb9-4d11-8d3d-d11142e69051/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/47f84f99-1b0d-4562-a747-e86fe34c302e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/63fcb37d-c103-49d4-acca-1f4cdd5be6a6/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/292faa65-e1aa-4294-8041-4ecebcd7451f/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f2117bfd-9204-459f-b8bf-d016fde05810/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c9ef6d28-6dff-457e-a365-ac33d8ca237f/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/3f3c87c6-94b8-48f1-9363-12c05ee98a20/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c3a71b82-5864-48fc-aa5c-aa994ffd2423/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/8345882d-60a3-47d9-b40e-f6a8066fcda9/main.js"
            ]
        },
        "GetInsightRuleReport": {
            "input": {
                "type": "structure",
                "required": [
                    "RuleName",
                    "StartTime",
                    "EndTime",
                    "Period"
                ],
                "members": {
                    "TargetAccountId": {
                        "internalonly": true
                    },
                    "RuleName": {},
                    "StartTime": {
                        "type": "timestamp"
                    },
                    "EndTime": {
                        "type": "timestamp"
                    },
                    "Period": {
                        "type": "integer"
                    },
                    "MaxContributorCount": {
                        "type": "integer"
                    },
                    "Metrics": {
                        "type": "list",
                        "member": {}
                    },
                    "OrderBy": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "KeyLabels": {
                        "type": "list",
                        "member": {}
                    },
                    "AggregationStatistic": {},
                    "AggregateValue": {
                        "type": "double"
                    },
                    "ApproximateUniqueCount": {
                        "type": "long"
                    },
                    "Contributors": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Keys",
                                "ApproximateAggregateValue",
                                "Datapoints"
                            ],
                            "members": {
                                "Keys": {
                                    "type": "list",
                                    "member": {}
                                },
                                "ApproximateAggregateValue": {
                                    "type": "double"
                                },
                                "Datapoints": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "required": [
                                            "Timestamp",
                                            "ApproximateValue"
                                        ],
                                        "members": {
                                            "Timestamp": {
                                                "type": "timestamp"
                                            },
                                            "ApproximateValue": {
                                                "type": "double"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "MetricDatapoints": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Timestamp"
                            ],
                            "members": {
                                "Timestamp": {
                                    "type": "timestamp"
                                },
                                "UniqueContributors": {
                                    "type": "double"
                                },
                                "MaxContributorValue": {
                                    "type": "double"
                                },
                                "SampleCount": {
                                    "type": "double"
                                },
                                "Average": {
                                    "type": "double"
                                },
                                "Sum": {
                                    "type": "double"
                                },
                                "Minimum": {
                                    "type": "double"
                                },
                                "Maximum": {
                                    "type": "double"
                                }
                            }
                        }
                    },
                    "RuleAttributes": {
                        "internalonly": true,
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "download_location": [
                "https://d3kld4ju0n55da.cloudfront.net/ef465fa3-559c-425a-917f-ee9c499660e4/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/cb449c20-90c2-4f46-aa2f-6c3d984a99a2/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f90d47e0-0674-4acb-8c9a-7446db0d11ff/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/107a4a83-c407-48ff-8f19-cd455c85d392/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/4fe0a49b-9475-46e4-a21e-245651160e2e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/8afda330-2eb9-4d11-8d3d-d11142e69051/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/47f84f99-1b0d-4562-a747-e86fe34c302e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/63fcb37d-c103-49d4-acca-1f4cdd5be6a6/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/292faa65-e1aa-4294-8041-4ecebcd7451f/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f2117bfd-9204-459f-b8bf-d016fde05810/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c9ef6d28-6dff-457e-a365-ac33d8ca237f/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/3f3c87c6-94b8-48f1-9363-12c05ee98a20/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c3a71b82-5864-48fc-aa5c-aa994ffd2423/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/8345882d-60a3-47d9-b40e-f6a8066fcda9/main.js"
            ]
        },
        "GetMetricStream": {
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Arn": {},
                    "Name": {},
                    "IncludeFilters": {
                        "shape": "S44"
                    },
                    "ExcludeFilters": {
                        "shape": "S44"
                    },
                    "FirehoseArn": {},
                    "RoleArn": {},
                    "State": {},
                    "CreationDate": {
                        "type": "timestamp"
                    },
                    "LastUpdateDate": {
                        "type": "timestamp"
                    },
                    "OutputFormat": {},
                    "StatisticsConfigurations": {
                        "shape": "S48"
                    },
                    "IncludeLinkedAccountsMetrics": {
                        "shape": "S4e",
                        "internalonly": true
                    }
                }
            },
            "download_location": [
                "https://d3kld4ju0n55da.cloudfront.net/ef465fa3-559c-425a-917f-ee9c499660e4/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/cb449c20-90c2-4f46-aa2f-6c3d984a99a2/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f90d47e0-0674-4acb-8c9a-7446db0d11ff/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/107a4a83-c407-48ff-8f19-cd455c85d392/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/4fe0a49b-9475-46e4-a21e-245651160e2e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/8afda330-2eb9-4d11-8d3d-d11142e69051/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/47f84f99-1b0d-4562-a747-e86fe34c302e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/63fcb37d-c103-49d4-acca-1f4cdd5be6a6/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/292faa65-e1aa-4294-8041-4ecebcd7451f/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f2117bfd-9204-459f-b8bf-d016fde05810/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c9ef6d28-6dff-457e-a365-ac33d8ca237f/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/3f3c87c6-94b8-48f1-9363-12c05ee98a20/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c3a71b82-5864-48fc-aa5c-aa994ffd2423/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/8345882d-60a3-47d9-b40e-f6a8066fcda9/main.js"
            ]
        },
        "ListAlarmTemplates": {
            "input": {
                "type": "structure",
                "members": {
                    "NamePrefix": {},
                    "ResourceType": {},
                    "ResourceTag": {
                        "shape": "S2w"
                    },
                    "NextToken": {},
                    "MaxRecords": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AlarmTemplateEntries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Name": {},
                                "Arn": {},
                                "ResourceType": {},
                                "ResourceTag": {
                                    "shape": "S2w"
                                }
                            },
                            "internalonly": true
                        },
                        "internalonly": true
                    },
                    "NextToken": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://d3kld4ju0n55da.cloudfront.net/ef465fa3-559c-425a-917f-ee9c499660e4/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/cb449c20-90c2-4f46-aa2f-6c3d984a99a2/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f90d47e0-0674-4acb-8c9a-7446db0d11ff/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/107a4a83-c407-48ff-8f19-cd455c85d392/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/4fe0a49b-9475-46e4-a21e-245651160e2e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/8afda330-2eb9-4d11-8d3d-d11142e69051/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/47f84f99-1b0d-4562-a747-e86fe34c302e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/63fcb37d-c103-49d4-acca-1f4cdd5be6a6/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/292faa65-e1aa-4294-8041-4ecebcd7451f/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f2117bfd-9204-459f-b8bf-d016fde05810/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c9ef6d28-6dff-457e-a365-ac33d8ca237f/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/3f3c87c6-94b8-48f1-9363-12c05ee98a20/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c3a71b82-5864-48fc-aa5c-aa994ffd2423/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/8345882d-60a3-47d9-b40e-f6a8066fcda9/main.js"
            ]
        },
        "ListMetricStreams": {
            "input": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "Entries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Arn": {},
                                "CreationDate": {
                                    "type": "timestamp"
                                },
                                "LastUpdateDate": {
                                    "type": "timestamp"
                                },
                                "Name": {},
                                "FirehoseArn": {},
                                "State": {},
                                "OutputFormat": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://d3kld4ju0n55da.cloudfront.net/ef465fa3-559c-425a-917f-ee9c499660e4/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/cb449c20-90c2-4f46-aa2f-6c3d984a99a2/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f90d47e0-0674-4acb-8c9a-7446db0d11ff/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/107a4a83-c407-48ff-8f19-cd455c85d392/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/4fe0a49b-9475-46e4-a21e-245651160e2e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/8afda330-2eb9-4d11-8d3d-d11142e69051/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/47f84f99-1b0d-4562-a747-e86fe34c302e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/63fcb37d-c103-49d4-acca-1f4cdd5be6a6/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/292faa65-e1aa-4294-8041-4ecebcd7451f/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f2117bfd-9204-459f-b8bf-d016fde05810/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c9ef6d28-6dff-457e-a365-ac33d8ca237f/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/3f3c87c6-94b8-48f1-9363-12c05ee98a20/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c3a71b82-5864-48fc-aa5c-aa994ffd2423/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/8345882d-60a3-47d9-b40e-f6a8066fcda9/main.js"
            ]
        },
        "PutAlarmTemplate": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "MetricAlarmConfigurations",
                    "ResourceType",
                    "ResourceTag"
                ],
                "members": {
                    "Name": {},
                    "MetricAlarmConfigurations": {
                        "shape": "S2a"
                    },
                    "ResourceType": {},
                    "ResourceTag": {
                        "shape": "S2w"
                    },
                    "Tags": {
                        "shape": "S4q"
                    },
                    "CreationId": {
                        "internalonly": true
                    },
                    "Description": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://d3kld4ju0n55da.cloudfront.net/ef465fa3-559c-425a-917f-ee9c499660e4/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/cb449c20-90c2-4f46-aa2f-6c3d984a99a2/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f90d47e0-0674-4acb-8c9a-7446db0d11ff/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/107a4a83-c407-48ff-8f19-cd455c85d392/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/4fe0a49b-9475-46e4-a21e-245651160e2e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/8afda330-2eb9-4d11-8d3d-d11142e69051/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/47f84f99-1b0d-4562-a747-e86fe34c302e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/63fcb37d-c103-49d4-acca-1f4cdd5be6a6/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/292faa65-e1aa-4294-8041-4ecebcd7451f/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f2117bfd-9204-459f-b8bf-d016fde05810/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c9ef6d28-6dff-457e-a365-ac33d8ca237f/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/3f3c87c6-94b8-48f1-9363-12c05ee98a20/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c3a71b82-5864-48fc-aa5c-aa994ffd2423/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/8345882d-60a3-47d9-b40e-f6a8066fcda9/main.js"
            ]
        },
        "PutAnomalyDetector": {
            "input": {
                "type": "structure",
                "members": {
                    "Namespace": {
                        "deprecated": true,
                        "deprecatedMessage": "Use SingleMetricAnomalyDetector."
                    },
                    "MetricName": {
                        "deprecated": true,
                        "deprecatedMessage": "Use SingleMetricAnomalyDetector."
                    },
                    "Dimensions": {
                        "shape": "S6",
                        "deprecated": true,
                        "deprecatedMessage": "Use SingleMetricAnomalyDetector."
                    },
                    "Stat": {
                        "deprecated": true,
                        "deprecatedMessage": "Use SingleMetricAnomalyDetector."
                    },
                    "Configuration": {
                        "shape": "S1p"
                    },
                    "SingleMetricAnomalyDetector": {
                        "shape": "Sb"
                    },
                    "MetricMathAnomalyDetector": {
                        "shape": "Sc"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://d3kld4ju0n55da.cloudfront.net/ef465fa3-559c-425a-917f-ee9c499660e4/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/cb449c20-90c2-4f46-aa2f-6c3d984a99a2/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f90d47e0-0674-4acb-8c9a-7446db0d11ff/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/107a4a83-c407-48ff-8f19-cd455c85d392/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/4fe0a49b-9475-46e4-a21e-245651160e2e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/8afda330-2eb9-4d11-8d3d-d11142e69051/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/47f84f99-1b0d-4562-a747-e86fe34c302e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/63fcb37d-c103-49d4-acca-1f4cdd5be6a6/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/292faa65-e1aa-4294-8041-4ecebcd7451f/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f2117bfd-9204-459f-b8bf-d016fde05810/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c9ef6d28-6dff-457e-a365-ac33d8ca237f/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/3f3c87c6-94b8-48f1-9363-12c05ee98a20/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c3a71b82-5864-48fc-aa5c-aa994ffd2423/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/8345882d-60a3-47d9-b40e-f6a8066fcda9/main.js"
            ]
        },
        "PutCompositeAlarm": {
            "input": {
                "type": "structure",
                "required": [
                    "AlarmName",
                    "AlarmRule"
                ],
                "members": {
                    "ActionsEnabled": {
                        "type": "boolean"
                    },
                    "AlarmActions": {
                        "shape": "S2g"
                    },
                    "AlarmDescription": {},
                    "AlarmName": {},
                    "AlarmRule": {},
                    "CreationId": {
                        "internalonly": true
                    },
                    "InsufficientDataActions": {
                        "shape": "S2g"
                    },
                    "OKActions": {
                        "shape": "S2g"
                    },
                    "Tags": {
                        "shape": "S4q"
                    },
                    "ActionsSuppressor": {
                        "internalonly": true
                    },
                    "ActionsSuppressorWaitPeriod": {
                        "internalonly": true,
                        "type": "integer"
                    },
                    "ActionsSuppressorExtensionPeriod": {
                        "internalonly": true,
                        "type": "integer"
                    }
                }
            },
            "download_location": [
                "https://d3kld4ju0n55da.cloudfront.net/ef465fa3-559c-425a-917f-ee9c499660e4/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/cb449c20-90c2-4f46-aa2f-6c3d984a99a2/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f90d47e0-0674-4acb-8c9a-7446db0d11ff/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/107a4a83-c407-48ff-8f19-cd455c85d392/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/4fe0a49b-9475-46e4-a21e-245651160e2e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/8afda330-2eb9-4d11-8d3d-d11142e69051/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/47f84f99-1b0d-4562-a747-e86fe34c302e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/63fcb37d-c103-49d4-acca-1f4cdd5be6a6/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/292faa65-e1aa-4294-8041-4ecebcd7451f/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f2117bfd-9204-459f-b8bf-d016fde05810/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c9ef6d28-6dff-457e-a365-ac33d8ca237f/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/3f3c87c6-94b8-48f1-9363-12c05ee98a20/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c3a71b82-5864-48fc-aa5c-aa994ffd2423/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/8345882d-60a3-47d9-b40e-f6a8066fcda9/main.js"
            ]
        },
        "PutInsightRule": {
            "input": {
                "type": "structure",
                "required": [
                    "RuleName",
                    "RuleDefinition"
                ],
                "members": {
                    "RuleName": {},
                    "RuleState": {},
                    "RuleDefinition": {},
                    "Tags": {
                        "shape": "S4q"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://d3kld4ju0n55da.cloudfront.net/ef465fa3-559c-425a-917f-ee9c499660e4/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/cb449c20-90c2-4f46-aa2f-6c3d984a99a2/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f90d47e0-0674-4acb-8c9a-7446db0d11ff/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/107a4a83-c407-48ff-8f19-cd455c85d392/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/4fe0a49b-9475-46e4-a21e-245651160e2e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/8afda330-2eb9-4d11-8d3d-d11142e69051/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/47f84f99-1b0d-4562-a747-e86fe34c302e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/63fcb37d-c103-49d4-acca-1f4cdd5be6a6/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/292faa65-e1aa-4294-8041-4ecebcd7451f/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f2117bfd-9204-459f-b8bf-d016fde05810/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c9ef6d28-6dff-457e-a365-ac33d8ca237f/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/3f3c87c6-94b8-48f1-9363-12c05ee98a20/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c3a71b82-5864-48fc-aa5c-aa994ffd2423/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/8345882d-60a3-47d9-b40e-f6a8066fcda9/main.js"
            ]
        },
        "PutMetricAlarm": {
            "input": {
                "type": "structure",
                "required": [
                    "AlarmName",
                    "EvaluationPeriods",
                    "ComparisonOperator"
                ],
                "members": {
                    "AlarmName": {},
                    "AlarmDescription": {},
                    "ActionsEnabled": {
                        "type": "boolean"
                    },
                    "OKActions": {
                        "shape": "S2g"
                    },
                    "AlarmActions": {
                        "shape": "S2g"
                    },
                    "InsufficientDataActions": {
                        "shape": "S2g"
                    },
                    "MetricName": {},
                    "Namespace": {},
                    "Statistic": {},
                    "ExtendedStatistic": {},
                    "Dimensions": {
                        "shape": "S6"
                    },
                    "Period": {
                        "type": "integer"
                    },
                    "Unit": {},
                    "EvaluationPeriods": {
                        "type": "integer"
                    },
                    "DatapointsToAlarm": {
                        "type": "integer"
                    },
                    "Threshold": {
                        "type": "double"
                    },
                    "ComparisonOperator": {},
                    "TreatMissingData": {},
                    "EvaluateLowSampleCountPercentile": {},
                    "Metrics": {
                        "shape": "Sd"
                    },
                    "CreationId": {
                        "internalonly": true
                    },
                    "Tags": {
                        "shape": "S4q"
                    },
                    "ThresholdMetricId": {},
                    "AlarmManagerArn": {
                        "internalonly": true
                    }
                }
            },
            "download_location": [
                "https://d3kld4ju0n55da.cloudfront.net/ef465fa3-559c-425a-917f-ee9c499660e4/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/cb449c20-90c2-4f46-aa2f-6c3d984a99a2/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f90d47e0-0674-4acb-8c9a-7446db0d11ff/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/107a4a83-c407-48ff-8f19-cd455c85d392/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/4fe0a49b-9475-46e4-a21e-245651160e2e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/8afda330-2eb9-4d11-8d3d-d11142e69051/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/47f84f99-1b0d-4562-a747-e86fe34c302e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/63fcb37d-c103-49d4-acca-1f4cdd5be6a6/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/292faa65-e1aa-4294-8041-4ecebcd7451f/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f2117bfd-9204-459f-b8bf-d016fde05810/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c9ef6d28-6dff-457e-a365-ac33d8ca237f/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/3f3c87c6-94b8-48f1-9363-12c05ee98a20/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c3a71b82-5864-48fc-aa5c-aa994ffd2423/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/8345882d-60a3-47d9-b40e-f6a8066fcda9/main.js"
            ]
        },
        "PutMetricStream": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "FirehoseArn",
                    "RoleArn",
                    "OutputFormat"
                ],
                "members": {
                    "Name": {},
                    "IncludeFilters": {
                        "shape": "S44"
                    },
                    "ExcludeFilters": {
                        "shape": "S44"
                    },
                    "FirehoseArn": {},
                    "RoleArn": {},
                    "OutputFormat": {},
                    "Tags": {
                        "shape": "S4q"
                    },
                    "StatisticsConfigurations": {
                        "shape": "S48"
                    },
                    "IncludeLinkedAccountsMetrics": {
                        "shape": "S4e",
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Arn": {}
                }
            },
            "download_location": [
                "https://d3kld4ju0n55da.cloudfront.net/ef465fa3-559c-425a-917f-ee9c499660e4/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/cb449c20-90c2-4f46-aa2f-6c3d984a99a2/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f90d47e0-0674-4acb-8c9a-7446db0d11ff/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/107a4a83-c407-48ff-8f19-cd455c85d392/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/4fe0a49b-9475-46e4-a21e-245651160e2e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/8afda330-2eb9-4d11-8d3d-d11142e69051/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/47f84f99-1b0d-4562-a747-e86fe34c302e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/63fcb37d-c103-49d4-acca-1f4cdd5be6a6/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/292faa65-e1aa-4294-8041-4ecebcd7451f/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f2117bfd-9204-459f-b8bf-d016fde05810/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c9ef6d28-6dff-457e-a365-ac33d8ca237f/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/3f3c87c6-94b8-48f1-9363-12c05ee98a20/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c3a71b82-5864-48fc-aa5c-aa994ffd2423/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/8345882d-60a3-47d9-b40e-f6a8066fcda9/main.js"
            ]
        },
        "StartMetricStreams": {
            "input": {
                "type": "structure",
                "required": [
                    "Names"
                ],
                "members": {
                    "Names": {
                        "shape": "S52"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://d3kld4ju0n55da.cloudfront.net/ef465fa3-559c-425a-917f-ee9c499660e4/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/cb449c20-90c2-4f46-aa2f-6c3d984a99a2/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f90d47e0-0674-4acb-8c9a-7446db0d11ff/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/107a4a83-c407-48ff-8f19-cd455c85d392/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/4fe0a49b-9475-46e4-a21e-245651160e2e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/8afda330-2eb9-4d11-8d3d-d11142e69051/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/47f84f99-1b0d-4562-a747-e86fe34c302e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/63fcb37d-c103-49d4-acca-1f4cdd5be6a6/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/292faa65-e1aa-4294-8041-4ecebcd7451f/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f2117bfd-9204-459f-b8bf-d016fde05810/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c9ef6d28-6dff-457e-a365-ac33d8ca237f/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/3f3c87c6-94b8-48f1-9363-12c05ee98a20/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c3a71b82-5864-48fc-aa5c-aa994ffd2423/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/8345882d-60a3-47d9-b40e-f6a8066fcda9/main.js"
            ]
        },
        "StopMetricStreams": {
            "input": {
                "type": "structure",
                "required": [
                    "Names"
                ],
                "members": {
                    "Names": {
                        "shape": "S52"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://d3kld4ju0n55da.cloudfront.net/ef465fa3-559c-425a-917f-ee9c499660e4/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/cb449c20-90c2-4f46-aa2f-6c3d984a99a2/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f90d47e0-0674-4acb-8c9a-7446db0d11ff/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/107a4a83-c407-48ff-8f19-cd455c85d392/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/4fe0a49b-9475-46e4-a21e-245651160e2e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/8afda330-2eb9-4d11-8d3d-d11142e69051/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/47f84f99-1b0d-4562-a747-e86fe34c302e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/63fcb37d-c103-49d4-acca-1f4cdd5be6a6/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/292faa65-e1aa-4294-8041-4ecebcd7451f/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f2117bfd-9204-459f-b8bf-d016fde05810/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c9ef6d28-6dff-457e-a365-ac33d8ca237f/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/3f3c87c6-94b8-48f1-9363-12c05ee98a20/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c3a71b82-5864-48fc-aa5c-aa994ffd2423/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/8345882d-60a3-47d9-b40e-f6a8066fcda9/main.js"
            ]
        }
    },
    "shapes": {
        "S6": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "Name",
                    "Value"
                ],
                "members": {
                    "Name": {},
                    "Value": {}
                },
                "xmlOrder": [
                    "Name",
                    "Value"
                ]
            }
        },
        "Sb": {
            "type": "structure",
            "members": {
                "Namespace": {},
                "MetricName": {},
                "Dimensions": {
                    "shape": "S6"
                },
                "Stat": {}
            }
        },
        "Sc": {
            "type": "structure",
            "members": {
                "MetricDataQueries": {
                    "shape": "Sd"
                }
            }
        },
        "Sd": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "Id"
                ],
                "members": {
                    "Id": {},
                    "MetricStat": {
                        "type": "structure",
                        "required": [
                            "Metric",
                            "Period",
                            "Stat"
                        ],
                        "members": {
                            "Metric": {
                                "type": "structure",
                                "members": {
                                    "Namespace": {},
                                    "MetricName": {},
                                    "Dimensions": {
                                        "shape": "S6"
                                    }
                                },
                                "xmlOrder": [
                                    "Namespace",
                                    "MetricName",
                                    "Dimensions"
                                ]
                            },
                            "Period": {
                                "type": "integer"
                            },
                            "Stat": {},
                            "Unit": {}
                        }
                    },
                    "Expression": {},
                    "Label": {},
                    "ReturnData": {
                        "type": "boolean"
                    },
                    "Period": {
                        "type": "integer"
                    },
                    "AccountId": {}
                }
            }
        },
        "Sr": {
            "type": "list",
            "member": {}
        },
        "Su": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "FailureResource": {},
                    "ExceptionType": {},
                    "FailureCode": {},
                    "FailureDescription": {}
                }
            }
        },
        "S1p": {
            "type": "structure",
            "members": {
                "ExcludedTimeRanges": {
                    "type": "list",
                    "member": {
                        "type": "structure",
                        "required": [
                            "StartTime",
                            "EndTime"
                        ],
                        "members": {
                            "StartTime": {
                                "type": "timestamp"
                            },
                            "EndTime": {
                                "type": "timestamp"
                            }
                        },
                        "xmlOrder": [
                            "StartTime",
                            "EndTime"
                        ]
                    }
                },
                "MetricTimezone": {}
            }
        },
        "S2a": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "AlarmName": {},
                    "AlarmArn": {},
                    "AlarmDescription": {},
                    "AlarmConfigurationUpdatedTimestamp": {
                        "type": "timestamp"
                    },
                    "ActionsEnabled": {
                        "type": "boolean"
                    },
                    "OKActions": {
                        "shape": "S2g"
                    },
                    "AlarmActions": {
                        "shape": "S2g"
                    },
                    "InsufficientDataActions": {
                        "shape": "S2g"
                    },
                    "StateValue": {},
                    "StateReason": {},
                    "StateReasonData": {},
                    "StateUpdatedTimestamp": {
                        "type": "timestamp"
                    },
                    "MetricName": {},
                    "Namespace": {},
                    "Statistic": {},
                    "ExtendedStatistic": {},
                    "Dimensions": {
                        "shape": "S6"
                    },
                    "Period": {
                        "type": "integer"
                    },
                    "Unit": {},
                    "EvaluationPeriods": {
                        "type": "integer"
                    },
                    "DatapointsToAlarm": {
                        "type": "integer"
                    },
                    "Threshold": {
                        "type": "double"
                    },
                    "ComparisonOperator": {},
                    "TreatMissingData": {},
                    "EvaluateLowSampleCountPercentile": {},
                    "Metrics": {
                        "shape": "Sd"
                    },
                    "CreationId": {
                        "internalonly": true
                    },
                    "ThresholdMetricId": {},
                    "ResourceArn": {
                        "internalonly": true
                    },
                    "AlarmManagerArn": {
                        "internalonly": true
                    },
                    "EvaluationState": {
                        "internalonly": true
                    },
                    "StateTransitionedTimestamp": {
                        "type": "timestamp"
                    }
                },
                "xmlOrder": [
                    "AlarmName",
                    "AlarmArn",
                    "AlarmDescription",
                    "AlarmConfigurationUpdatedTimestamp",
                    "ActionsEnabled",
                    "OKActions",
                    "AlarmActions",
                    "InsufficientDataActions",
                    "StateValue",
                    "StateReason",
                    "StateReasonData",
                    "StateUpdatedTimestamp",
                    "MetricName",
                    "Namespace",
                    "Statistic",
                    "Dimensions",
                    "Period",
                    "Unit",
                    "EvaluationPeriods",
                    "Threshold",
                    "ComparisonOperator",
                    "ExtendedStatistic",
                    "TreatMissingData",
                    "EvaluateLowSampleCountPercentile",
                    "DatapointsToAlarm",
                    "Metrics",
                    "CreationId",
                    "ThresholdMetricId",
                    "ResourceArn",
                    "AlarmManagerArn",
                    "EvaluationState",
                    "StateTransitionedTimestamp"
                ]
            },
            "internalonly": true
        },
        "S2g": {
            "type": "list",
            "member": {}
        },
        "S2w": {
            "type": "structure",
            "required": [
                "Key",
                "Value"
            ],
            "members": {
                "Key": {},
                "Value": {}
            }
        },
        "S35": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "Key"
                ],
                "members": {
                    "Key": {},
                    "Value": {}
                }
            }
        },
        "S44": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "Namespace": {}
                }
            }
        },
        "S48": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "IncludeMetrics",
                    "AdditionalStatistics"
                ],
                "members": {
                    "IncludeMetrics": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Namespace",
                                "MetricName"
                            ],
                            "members": {
                                "Namespace": {},
                                "MetricName": {}
                            }
                        }
                    },
                    "AdditionalStatistics": {
                        "type": "list",
                        "member": {}
                    }
                }
            }
        },
        "S4e": {
            "type": "boolean",
            "internalonly": true
        },
        "S4q": {
            "type": "list",
            "member": {
                "shape": "S2w"
            }
        },
        "S52": {
            "type": "list",
            "member": {}
        },
        "Se": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "Id"
                ],
                "members": {
                    "Id": {},
                    "MetricStat": {
                        "type": "structure",
                        "required": [
                            "Metric",
                            "Period",
                            "Stat"
                        ],
                        "members": {
                            "Metric": {
                                "type": "structure",
                                "members": {
                                    "Namespace": {},
                                    "MetricName": {},
                                    "Dimensions": {
                                        "shape": "S6"
                                    }
                                },
                                "xmlOrder": [
                                    "Namespace",
                                    "MetricName",
                                    "Dimensions"
                                ]
                            },
                            "Period": {
                                "type": "integer"
                            },
                            "Stat": {},
                            "Unit": {}
                        }
                    },
                    "Expression": {},
                    "Label": {},
                    "ReturnData": {
                        "type": "boolean"
                    },
                    "Period": {
                        "type": "integer"
                    },
                    "AccountId": {}
                }
            }
        },
        "S49": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "IncludeMetrics",
                    "AdditionalStatistics"
                ],
                "members": {
                    "IncludeMetrics": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Namespace",
                                "MetricName"
                            ],
                            "members": {
                                "Namespace": {},
                                "MetricName": {}
                            }
                        }
                    },
                    "AdditionalStatistics": {
                        "type": "list",
                        "member": {}
                    }
                }
            }
        },
        "S4r": {
            "type": "list",
            "member": {
                "shape": "S2w"
            }
        },
        "S53": {
            "type": "list",
            "member": {}
        }
    }
}