{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2010-08-01",
        "endpointPrefix": "monitoring",
        "protocol": "query",
        "serviceAbbreviation": "CloudWatch",
        "serviceFullName": "Amazon CloudWatch",
        "serviceId": "CloudWatch",
        "signatureVersion": "v4",
        "uid": "monitoring-2010-08-01",
        "xmlNamespace": "http://monitoring.amazonaws.com/doc/2010-08-01/",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/GUIQ5G6FBIVDXGBYO5MLONLNLZVBD4UMIQR6LTXJEKWZ3RVTXLRA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MQMRDOR5IH7X2REJCLDF6Z3D2QH3N37CPOZEXKUUCCNVQ4DHXN7A/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UDINO7N7VTVFA2MBV7PPM6ARI6AZBZ6XGTZ73FJJXYDKWBUI5SKA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4GLCPZC6HUN6G2JIIMJBITITO7TS6NSK75RXZP4XCQMRLRGGOLHA/main.all.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HNCQVYRVJJHJ3L4TWE3DWVVDK7NWN2W4CNKHRZ7FXG7PMWOGXNCA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PBRMAOSSOAXAUS7KDMK3JRNQURO3WVW7BCXCNTS73DXPJFGDSGUA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CVC5YJI4PBH3JW6WGULHUFL7WGMN3FWUE3CMJTTG5ELYVZCTZRPQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EPO6YKS45UTLE5CYQ7SVV6FZBLHDTGQYGEXYSPSMJ77RHUK2HRAA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/6A2LEE4EWOR2ORAKDNIRQ2PKGK7LBA4ZEXRCXULK5T6YV5JLTWVQ/dynamic-common-8459.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GKE7HYMG6ENWSFHBCYKPGK7XOGNRSTXOO7ZKQ6HRWVBMHNKIMFIQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js"
        ]
    },
    "operations": {
        "DeleteAlarms": {
            "input": {
                "type": "structure",
                "required": [
                    "AlarmNames"
                ],
                "members": {
                    "AlarmNames": {
                        "shape": "S2"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GUIQ5G6FBIVDXGBYO5MLONLNLZVBD4UMIQR6LTXJEKWZ3RVTXLRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQMRDOR5IH7X2REJCLDF6Z3D2QH3N37CPOZEXKUUCCNVQ4DHXN7A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDINO7N7VTVFA2MBV7PPM6ARI6AZBZ6XGTZ73FJJXYDKWBUI5SKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GLCPZC6HUN6G2JIIMJBITITO7TS6NSK75RXZP4XCQMRLRGGOLHA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNCQVYRVJJHJ3L4TWE3DWVVDK7NWN2W4CNKHRZ7FXG7PMWOGXNCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBRMAOSSOAXAUS7KDMK3JRNQURO3WVW7BCXCNTS73DXPJFGDSGUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVC5YJI4PBH3JW6WGULHUFL7WGMN3FWUE3CMJTTG5ELYVZCTZRPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPO6YKS45UTLE5CYQ7SVV6FZBLHDTGQYGEXYSPSMJ77RHUK2HRAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6A2LEE4EWOR2ORAKDNIRQ2PKGK7LBA4ZEXRCXULK5T6YV5JLTWVQ/dynamic-common-8459.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GKE7HYMG6ENWSFHBCYKPGK7XOGNRSTXOO7ZKQ6HRWVBMHNKIMFIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js"
            ]
        },
        "DeleteAnomalyDetector": {
            "input": {
                "type": "structure",
                "required": [
                    "Namespace",
                    "MetricName",
                    "Stat"
                ],
                "members": {
                    "Namespace": {},
                    "MetricName": {},
                    "Dimensions": {
                        "shape": "S7"
                    },
                    "Stat": {},
                    "SingleMetricAnomalyDetector": {
                        "shape": "Sc"
                    },
                    "MetricMathAnomalyDetector": {
                        "shape": "Sd"
                    }
                }
            },
            "output": {
                "resultWrapper": "DeleteAnomalyDetectorResult",
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW7AHBVPMUKAL5W37CAPDD7C5HGJUMXOFOX4UN32PYQRUFPGCQXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GUIQ5G6FBIVDXGBYO5MLONLNLZVBD4UMIQR6LTXJEKWZ3RVTXLRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQMRDOR5IH7X2REJCLDF6Z3D2QH3N37CPOZEXKUUCCNVQ4DHXN7A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDINO7N7VTVFA2MBV7PPM6ARI6AZBZ6XGTZ73FJJXYDKWBUI5SKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNCQVYRVJJHJ3L4TWE3DWVVDK7NWN2W4CNKHRZ7FXG7PMWOGXNCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBRMAOSSOAXAUS7KDMK3JRNQURO3WVW7BCXCNTS73DXPJFGDSGUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVC5YJI4PBH3JW6WGULHUFL7WGMN3FWUE3CMJTTG5ELYVZCTZRPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPO6YKS45UTLE5CYQ7SVV6FZBLHDTGQYGEXYSPSMJ77RHUK2HRAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6A2LEE4EWOR2ORAKDNIRQ2PKGK7LBA4ZEXRCXULK5T6YV5JLTWVQ/dynamic-common-8459.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GKE7HYMG6ENWSFHBCYKPGK7XOGNRSTXOO7ZKQ6HRWVBMHNKIMFIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js"
            ]
        },
        "DeleteDashboards": {
            "input": {
                "type": "structure",
                "required": [
                    "DashboardNames"
                ],
                "members": {
                    "DashboardNames": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "resultWrapper": "DeleteDashboardsResult",
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GUIQ5G6FBIVDXGBYO5MLONLNLZVBD4UMIQR6LTXJEKWZ3RVTXLRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQMRDOR5IH7X2REJCLDF6Z3D2QH3N37CPOZEXKUUCCNVQ4DHXN7A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDINO7N7VTVFA2MBV7PPM6ARI6AZBZ6XGTZ73FJJXYDKWBUI5SKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GLCPZC6HUN6G2JIIMJBITITO7TS6NSK75RXZP4XCQMRLRGGOLHA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNCQVYRVJJHJ3L4TWE3DWVVDK7NWN2W4CNKHRZ7FXG7PMWOGXNCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBRMAOSSOAXAUS7KDMK3JRNQURO3WVW7BCXCNTS73DXPJFGDSGUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVC5YJI4PBH3JW6WGULHUFL7WGMN3FWUE3CMJTTG5ELYVZCTZRPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPO6YKS45UTLE5CYQ7SVV6FZBLHDTGQYGEXYSPSMJ77RHUK2HRAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6A2LEE4EWOR2ORAKDNIRQ2PKGK7LBA4ZEXRCXULK5T6YV5JLTWVQ/dynamic-common-8459.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GKE7HYMG6ENWSFHBCYKPGK7XOGNRSTXOO7ZKQ6HRWVBMHNKIMFIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js"
            ]
        },
        "DeleteInsightRules": {
            "input": {
                "type": "structure",
                "required": [
                    "RuleNames"
                ],
                "members": {
                    "RuleNames": {
                        "shape": "Si"
                    }
                }
            },
            "output": {
                "resultWrapper": "DeleteInsightRulesResult",
                "type": "structure",
                "members": {
                    "Failures": {
                        "shape": "Sl"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW7AHBVPMUKAL5W37CAPDD7C5HGJUMXOFOX4UN32PYQRUFPGCQXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GUIQ5G6FBIVDXGBYO5MLONLNLZVBD4UMIQR6LTXJEKWZ3RVTXLRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQMRDOR5IH7X2REJCLDF6Z3D2QH3N37CPOZEXKUUCCNVQ4DHXN7A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDINO7N7VTVFA2MBV7PPM6ARI6AZBZ6XGTZ73FJJXYDKWBUI5SKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNCQVYRVJJHJ3L4TWE3DWVVDK7NWN2W4CNKHRZ7FXG7PMWOGXNCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBRMAOSSOAXAUS7KDMK3JRNQURO3WVW7BCXCNTS73DXPJFGDSGUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVC5YJI4PBH3JW6WGULHUFL7WGMN3FWUE3CMJTTG5ELYVZCTZRPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPO6YKS45UTLE5CYQ7SVV6FZBLHDTGQYGEXYSPSMJ77RHUK2HRAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6A2LEE4EWOR2ORAKDNIRQ2PKGK7LBA4ZEXRCXULK5T6YV5JLTWVQ/dynamic-common-8459.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GKE7HYMG6ENWSFHBCYKPGK7XOGNRSTXOO7ZKQ6HRWVBMHNKIMFIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js"
            ]
        },
        "DeleteMetricStream": {
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {}
                }
            },
            "output": {
                "resultWrapper": "DeleteMetricStreamResult",
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/V3VI5SJE52HKFVNI67OH5RV5NH4IAKRPAHF7BDZIO4SV5PBBHEJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPT7XPMYRTLCUC236BG64Q2JCUQKWG3B5VWIABEGA3TWCVWKR4LQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GUIQ5G6FBIVDXGBYO5MLONLNLZVBD4UMIQR6LTXJEKWZ3RVTXLRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQMRDOR5IH7X2REJCLDF6Z3D2QH3N37CPOZEXKUUCCNVQ4DHXN7A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDINO7N7VTVFA2MBV7PPM6ARI6AZBZ6XGTZ73FJJXYDKWBUI5SKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNCQVYRVJJHJ3L4TWE3DWVVDK7NWN2W4CNKHRZ7FXG7PMWOGXNCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBRMAOSSOAXAUS7KDMK3JRNQURO3WVW7BCXCNTS73DXPJFGDSGUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPO6YKS45UTLE5CYQ7SVV6FZBLHDTGQYGEXYSPSMJ77RHUK2HRAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6A2LEE4EWOR2ORAKDNIRQ2PKGK7LBA4ZEXRCXULK5T6YV5JLTWVQ/dynamic-common-8459.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GKE7HYMG6ENWSFHBCYKPGK7XOGNRSTXOO7ZKQ6HRWVBMHNKIMFIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js"
            ]
        },
        "DescribeAlarmHistory": {
            "input": {
                "type": "structure",
                "members": {
                    "AlarmName": {},
                    "AlarmTypes": {
                        "shape": "Sv"
                    },
                    "HistoryItemType": {},
                    "StartDate": {
                        "type": "timestamp"
                    },
                    "EndDate": {
                        "type": "timestamp"
                    },
                    "MaxRecords": {
                        "type": "integer"
                    },
                    "NextToken": {},
                    "ScanBy": {}
                }
            },
            "output": {
                "resultWrapper": "DescribeAlarmHistoryResult",
                "type": "structure",
                "members": {
                    "AlarmHistoryItems": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "AlarmName": {},
                                "AlarmType": {},
                                "Timestamp": {
                                    "type": "timestamp"
                                },
                                "HistoryItemType": {},
                                "HistorySummary": {},
                                "HistoryData": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GUIQ5G6FBIVDXGBYO5MLONLNLZVBD4UMIQR6LTXJEKWZ3RVTXLRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQMRDOR5IH7X2REJCLDF6Z3D2QH3N37CPOZEXKUUCCNVQ4DHXN7A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDINO7N7VTVFA2MBV7PPM6ARI6AZBZ6XGTZ73FJJXYDKWBUI5SKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GLCPZC6HUN6G2JIIMJBITITO7TS6NSK75RXZP4XCQMRLRGGOLHA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNCQVYRVJJHJ3L4TWE3DWVVDK7NWN2W4CNKHRZ7FXG7PMWOGXNCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBRMAOSSOAXAUS7KDMK3JRNQURO3WVW7BCXCNTS73DXPJFGDSGUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVC5YJI4PBH3JW6WGULHUFL7WGMN3FWUE3CMJTTG5ELYVZCTZRPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPO6YKS45UTLE5CYQ7SVV6FZBLHDTGQYGEXYSPSMJ77RHUK2HRAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6A2LEE4EWOR2ORAKDNIRQ2PKGK7LBA4ZEXRCXULK5T6YV5JLTWVQ/dynamic-common-8459.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GKE7HYMG6ENWSFHBCYKPGK7XOGNRSTXOO7ZKQ6HRWVBMHNKIMFIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js"
            ]
        },
        "DescribeAlarms": {
            "input": {
                "type": "structure",
                "members": {
                    "AlarmNames": {
                        "shape": "S2"
                    },
                    "AlarmNamePrefix": {},
                    "AlarmTypes": {
                        "shape": "Sv"
                    },
                    "ChildrenOfAlarmName": {},
                    "ParentsOfAlarmName": {},
                    "StateValue": {},
                    "ActionPrefix": {},
                    "MaxRecords": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "resultWrapper": "DescribeAlarmsResult",
                "type": "structure",
                "members": {
                    "CompositeAlarms": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ActionsEnabled": {
                                    "type": "boolean"
                                },
                                "AlarmActions": {
                                    "shape": "S1f"
                                },
                                "AlarmArn": {},
                                "AlarmConfigurationUpdatedTimestamp": {
                                    "type": "timestamp"
                                },
                                "AlarmDescription": {},
                                "AlarmName": {},
                                "AlarmRule": {},
                                "InsufficientDataActions": {
                                    "shape": "S1f"
                                },
                                "OKActions": {
                                    "shape": "S1f"
                                },
                                "StateReason": {},
                                "StateReasonData": {},
                                "StateUpdatedTimestamp": {
                                    "type": "timestamp"
                                },
                                "StateValue": {}
                            },
                            "xmlOrder": [
                                "ActionsEnabled",
                                "AlarmActions",
                                "AlarmArn",
                                "AlarmConfigurationUpdatedTimestamp",
                                "AlarmDescription",
                                "AlarmName",
                                "AlarmRule",
                                "InsufficientDataActions",
                                "OKActions",
                                "StateReason",
                                "StateReasonData",
                                "StateUpdatedTimestamp",
                                "StateValue"
                            ]
                        }
                    },
                    "MetricAlarms": {
                        "shape": "S1m"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GUIQ5G6FBIVDXGBYO5MLONLNLZVBD4UMIQR6LTXJEKWZ3RVTXLRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQMRDOR5IH7X2REJCLDF6Z3D2QH3N37CPOZEXKUUCCNVQ4DHXN7A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDINO7N7VTVFA2MBV7PPM6ARI6AZBZ6XGTZ73FJJXYDKWBUI5SKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GLCPZC6HUN6G2JIIMJBITITO7TS6NSK75RXZP4XCQMRLRGGOLHA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNCQVYRVJJHJ3L4TWE3DWVVDK7NWN2W4CNKHRZ7FXG7PMWOGXNCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBRMAOSSOAXAUS7KDMK3JRNQURO3WVW7BCXCNTS73DXPJFGDSGUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVC5YJI4PBH3JW6WGULHUFL7WGMN3FWUE3CMJTTG5ELYVZCTZRPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPO6YKS45UTLE5CYQ7SVV6FZBLHDTGQYGEXYSPSMJ77RHUK2HRAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6A2LEE4EWOR2ORAKDNIRQ2PKGK7LBA4ZEXRCXULK5T6YV5JLTWVQ/dynamic-common-8459.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GKE7HYMG6ENWSFHBCYKPGK7XOGNRSTXOO7ZKQ6HRWVBMHNKIMFIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js"
            ]
        },
        "DescribeAlarmsForMetric": {
            "input": {
                "type": "structure",
                "required": [
                    "MetricName",
                    "Namespace"
                ],
                "members": {
                    "MetricName": {},
                    "Namespace": {},
                    "Statistic": {},
                    "ExtendedStatistic": {},
                    "Dimensions": {
                        "shape": "S7"
                    },
                    "Period": {
                        "type": "integer"
                    },
                    "Unit": {}
                }
            },
            "output": {
                "resultWrapper": "DescribeAlarmsForMetricResult",
                "type": "structure",
                "members": {
                    "MetricAlarms": {
                        "shape": "S1m"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GUIQ5G6FBIVDXGBYO5MLONLNLZVBD4UMIQR6LTXJEKWZ3RVTXLRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQMRDOR5IH7X2REJCLDF6Z3D2QH3N37CPOZEXKUUCCNVQ4DHXN7A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDINO7N7VTVFA2MBV7PPM6ARI6AZBZ6XGTZ73FJJXYDKWBUI5SKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GLCPZC6HUN6G2JIIMJBITITO7TS6NSK75RXZP4XCQMRLRGGOLHA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNCQVYRVJJHJ3L4TWE3DWVVDK7NWN2W4CNKHRZ7FXG7PMWOGXNCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBRMAOSSOAXAUS7KDMK3JRNQURO3WVW7BCXCNTS73DXPJFGDSGUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVC5YJI4PBH3JW6WGULHUFL7WGMN3FWUE3CMJTTG5ELYVZCTZRPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPO6YKS45UTLE5CYQ7SVV6FZBLHDTGQYGEXYSPSMJ77RHUK2HRAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6A2LEE4EWOR2ORAKDNIRQ2PKGK7LBA4ZEXRCXULK5T6YV5JLTWVQ/dynamic-common-8459.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GKE7HYMG6ENWSFHBCYKPGK7XOGNRSTXOO7ZKQ6HRWVBMHNKIMFIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js"
            ]
        },
        "DescribeAnomalyDetectors": {
            "input": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "Namespace": {},
                    "MetricName": {},
                    "Dimensions": {
                        "shape": "S7"
                    },
                    "AnomalyDetectorTypes": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "resultWrapper": "DescribeAnomalyDetectorsResult",
                "type": "structure",
                "members": {
                    "AnomalyDetectors": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Namespace": {},
                                "MetricName": {},
                                "Dimensions": {
                                    "shape": "S7"
                                },
                                "Stat": {},
                                "Configuration": {
                                    "shape": "S2e"
                                },
                                "StateValue": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW7AHBVPMUKAL5W37CAPDD7C5HGJUMXOFOX4UN32PYQRUFPGCQXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GUIQ5G6FBIVDXGBYO5MLONLNLZVBD4UMIQR6LTXJEKWZ3RVTXLRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQMRDOR5IH7X2REJCLDF6Z3D2QH3N37CPOZEXKUUCCNVQ4DHXN7A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDINO7N7VTVFA2MBV7PPM6ARI6AZBZ6XGTZ73FJJXYDKWBUI5SKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNCQVYRVJJHJ3L4TWE3DWVVDK7NWN2W4CNKHRZ7FXG7PMWOGXNCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBRMAOSSOAXAUS7KDMK3JRNQURO3WVW7BCXCNTS73DXPJFGDSGUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVC5YJI4PBH3JW6WGULHUFL7WGMN3FWUE3CMJTTG5ELYVZCTZRPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPO6YKS45UTLE5CYQ7SVV6FZBLHDTGQYGEXYSPSMJ77RHUK2HRAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6A2LEE4EWOR2ORAKDNIRQ2PKGK7LBA4ZEXRCXULK5T6YV5JLTWVQ/dynamic-common-8459.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GKE7HYMG6ENWSFHBCYKPGK7XOGNRSTXOO7ZKQ6HRWVBMHNKIMFIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js"
            ]
        },
        "DescribeInsightRules": {
            "input": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "resultWrapper": "DescribeInsightRulesResult",
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "InsightRules": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Name",
                                "State",
                                "Schema",
                                "Definition"
                            ],
                            "members": {
                                "Name": {},
                                "State": {},
                                "Schema": {},
                                "Definition": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW7AHBVPMUKAL5W37CAPDD7C5HGJUMXOFOX4UN32PYQRUFPGCQXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GUIQ5G6FBIVDXGBYO5MLONLNLZVBD4UMIQR6LTXJEKWZ3RVTXLRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQMRDOR5IH7X2REJCLDF6Z3D2QH3N37CPOZEXKUUCCNVQ4DHXN7A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDINO7N7VTVFA2MBV7PPM6ARI6AZBZ6XGTZ73FJJXYDKWBUI5SKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNCQVYRVJJHJ3L4TWE3DWVVDK7NWN2W4CNKHRZ7FXG7PMWOGXNCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBRMAOSSOAXAUS7KDMK3JRNQURO3WVW7BCXCNTS73DXPJFGDSGUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVC5YJI4PBH3JW6WGULHUFL7WGMN3FWUE3CMJTTG5ELYVZCTZRPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPO6YKS45UTLE5CYQ7SVV6FZBLHDTGQYGEXYSPSMJ77RHUK2HRAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6A2LEE4EWOR2ORAKDNIRQ2PKGK7LBA4ZEXRCXULK5T6YV5JLTWVQ/dynamic-common-8459.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GKE7HYMG6ENWSFHBCYKPGK7XOGNRSTXOO7ZKQ6HRWVBMHNKIMFIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js"
            ]
        },
        "DisableAlarmActions": {
            "input": {
                "type": "structure",
                "required": [
                    "AlarmNames"
                ],
                "members": {
                    "AlarmNames": {
                        "shape": "S2"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GUIQ5G6FBIVDXGBYO5MLONLNLZVBD4UMIQR6LTXJEKWZ3RVTXLRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQMRDOR5IH7X2REJCLDF6Z3D2QH3N37CPOZEXKUUCCNVQ4DHXN7A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDINO7N7VTVFA2MBV7PPM6ARI6AZBZ6XGTZ73FJJXYDKWBUI5SKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GLCPZC6HUN6G2JIIMJBITITO7TS6NSK75RXZP4XCQMRLRGGOLHA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNCQVYRVJJHJ3L4TWE3DWVVDK7NWN2W4CNKHRZ7FXG7PMWOGXNCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBRMAOSSOAXAUS7KDMK3JRNQURO3WVW7BCXCNTS73DXPJFGDSGUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVC5YJI4PBH3JW6WGULHUFL7WGMN3FWUE3CMJTTG5ELYVZCTZRPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPO6YKS45UTLE5CYQ7SVV6FZBLHDTGQYGEXYSPSMJ77RHUK2HRAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6A2LEE4EWOR2ORAKDNIRQ2PKGK7LBA4ZEXRCXULK5T6YV5JLTWVQ/dynamic-common-8459.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GKE7HYMG6ENWSFHBCYKPGK7XOGNRSTXOO7ZKQ6HRWVBMHNKIMFIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js"
            ]
        },
        "DisableInsightRules": {
            "input": {
                "type": "structure",
                "required": [
                    "RuleNames"
                ],
                "members": {
                    "RuleNames": {
                        "shape": "Si"
                    }
                }
            },
            "output": {
                "resultWrapper": "DisableInsightRulesResult",
                "type": "structure",
                "members": {
                    "Failures": {
                        "shape": "Sl"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW7AHBVPMUKAL5W37CAPDD7C5HGJUMXOFOX4UN32PYQRUFPGCQXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GUIQ5G6FBIVDXGBYO5MLONLNLZVBD4UMIQR6LTXJEKWZ3RVTXLRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQMRDOR5IH7X2REJCLDF6Z3D2QH3N37CPOZEXKUUCCNVQ4DHXN7A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDINO7N7VTVFA2MBV7PPM6ARI6AZBZ6XGTZ73FJJXYDKWBUI5SKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNCQVYRVJJHJ3L4TWE3DWVVDK7NWN2W4CNKHRZ7FXG7PMWOGXNCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBRMAOSSOAXAUS7KDMK3JRNQURO3WVW7BCXCNTS73DXPJFGDSGUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVC5YJI4PBH3JW6WGULHUFL7WGMN3FWUE3CMJTTG5ELYVZCTZRPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPO6YKS45UTLE5CYQ7SVV6FZBLHDTGQYGEXYSPSMJ77RHUK2HRAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6A2LEE4EWOR2ORAKDNIRQ2PKGK7LBA4ZEXRCXULK5T6YV5JLTWVQ/dynamic-common-8459.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GKE7HYMG6ENWSFHBCYKPGK7XOGNRSTXOO7ZKQ6HRWVBMHNKIMFIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js"
            ]
        },
        "EnableAlarmActions": {
            "input": {
                "type": "structure",
                "required": [
                    "AlarmNames"
                ],
                "members": {
                    "AlarmNames": {
                        "shape": "S2"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GUIQ5G6FBIVDXGBYO5MLONLNLZVBD4UMIQR6LTXJEKWZ3RVTXLRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQMRDOR5IH7X2REJCLDF6Z3D2QH3N37CPOZEXKUUCCNVQ4DHXN7A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDINO7N7VTVFA2MBV7PPM6ARI6AZBZ6XGTZ73FJJXYDKWBUI5SKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GLCPZC6HUN6G2JIIMJBITITO7TS6NSK75RXZP4XCQMRLRGGOLHA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNCQVYRVJJHJ3L4TWE3DWVVDK7NWN2W4CNKHRZ7FXG7PMWOGXNCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBRMAOSSOAXAUS7KDMK3JRNQURO3WVW7BCXCNTS73DXPJFGDSGUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVC5YJI4PBH3JW6WGULHUFL7WGMN3FWUE3CMJTTG5ELYVZCTZRPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPO6YKS45UTLE5CYQ7SVV6FZBLHDTGQYGEXYSPSMJ77RHUK2HRAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6A2LEE4EWOR2ORAKDNIRQ2PKGK7LBA4ZEXRCXULK5T6YV5JLTWVQ/dynamic-common-8459.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GKE7HYMG6ENWSFHBCYKPGK7XOGNRSTXOO7ZKQ6HRWVBMHNKIMFIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js"
            ]
        },
        "EnableInsightRules": {
            "input": {
                "type": "structure",
                "required": [
                    "RuleNames"
                ],
                "members": {
                    "RuleNames": {
                        "shape": "Si"
                    }
                }
            },
            "output": {
                "resultWrapper": "EnableInsightRulesResult",
                "type": "structure",
                "members": {
                    "Failures": {
                        "shape": "Sl"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW7AHBVPMUKAL5W37CAPDD7C5HGJUMXOFOX4UN32PYQRUFPGCQXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GUIQ5G6FBIVDXGBYO5MLONLNLZVBD4UMIQR6LTXJEKWZ3RVTXLRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQMRDOR5IH7X2REJCLDF6Z3D2QH3N37CPOZEXKUUCCNVQ4DHXN7A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDINO7N7VTVFA2MBV7PPM6ARI6AZBZ6XGTZ73FJJXYDKWBUI5SKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNCQVYRVJJHJ3L4TWE3DWVVDK7NWN2W4CNKHRZ7FXG7PMWOGXNCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBRMAOSSOAXAUS7KDMK3JRNQURO3WVW7BCXCNTS73DXPJFGDSGUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVC5YJI4PBH3JW6WGULHUFL7WGMN3FWUE3CMJTTG5ELYVZCTZRPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPO6YKS45UTLE5CYQ7SVV6FZBLHDTGQYGEXYSPSMJ77RHUK2HRAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6A2LEE4EWOR2ORAKDNIRQ2PKGK7LBA4ZEXRCXULK5T6YV5JLTWVQ/dynamic-common-8459.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GKE7HYMG6ENWSFHBCYKPGK7XOGNRSTXOO7ZKQ6HRWVBMHNKIMFIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js"
            ]
        },
        "GetDashboard": {
            "input": {
                "type": "structure",
                "required": [
                    "DashboardName"
                ],
                "members": {
                    "DashboardName": {}
                }
            },
            "output": {
                "resultWrapper": "GetDashboardResult",
                "type": "structure",
                "members": {
                    "DashboardArn": {},
                    "DashboardBody": {},
                    "DashboardName": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GUIQ5G6FBIVDXGBYO5MLONLNLZVBD4UMIQR6LTXJEKWZ3RVTXLRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQMRDOR5IH7X2REJCLDF6Z3D2QH3N37CPOZEXKUUCCNVQ4DHXN7A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDINO7N7VTVFA2MBV7PPM6ARI6AZBZ6XGTZ73FJJXYDKWBUI5SKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GLCPZC6HUN6G2JIIMJBITITO7TS6NSK75RXZP4XCQMRLRGGOLHA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNCQVYRVJJHJ3L4TWE3DWVVDK7NWN2W4CNKHRZ7FXG7PMWOGXNCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBRMAOSSOAXAUS7KDMK3JRNQURO3WVW7BCXCNTS73DXPJFGDSGUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVC5YJI4PBH3JW6WGULHUFL7WGMN3FWUE3CMJTTG5ELYVZCTZRPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPO6YKS45UTLE5CYQ7SVV6FZBLHDTGQYGEXYSPSMJ77RHUK2HRAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6A2LEE4EWOR2ORAKDNIRQ2PKGK7LBA4ZEXRCXULK5T6YV5JLTWVQ/dynamic-common-8459.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GKE7HYMG6ENWSFHBCYKPGK7XOGNRSTXOO7ZKQ6HRWVBMHNKIMFIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js"
            ]
        },
        "GetInsightRuleReport": {
            "input": {
                "type": "structure",
                "required": [
                    "RuleName",
                    "StartTime",
                    "EndTime",
                    "Period"
                ],
                "members": {
                    "RuleName": {},
                    "StartTime": {
                        "type": "timestamp"
                    },
                    "EndTime": {
                        "type": "timestamp"
                    },
                    "Period": {
                        "type": "integer"
                    },
                    "MaxContributorCount": {
                        "type": "integer"
                    },
                    "Metrics": {
                        "type": "list",
                        "member": {}
                    },
                    "OrderBy": {}
                }
            },
            "output": {
                "resultWrapper": "GetInsightRuleReportResult",
                "type": "structure",
                "members": {
                    "KeyLabels": {
                        "type": "list",
                        "member": {}
                    },
                    "AggregationStatistic": {},
                    "AggregateValue": {
                        "type": "double"
                    },
                    "ApproximateUniqueCount": {
                        "type": "long"
                    },
                    "Contributors": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Keys",
                                "ApproximateAggregateValue",
                                "Datapoints"
                            ],
                            "members": {
                                "Keys": {
                                    "type": "list",
                                    "member": {}
                                },
                                "ApproximateAggregateValue": {
                                    "type": "double"
                                },
                                "Datapoints": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "required": [
                                            "Timestamp",
                                            "ApproximateValue"
                                        ],
                                        "members": {
                                            "Timestamp": {
                                                "type": "timestamp"
                                            },
                                            "ApproximateValue": {
                                                "type": "double"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "MetricDatapoints": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Timestamp"
                            ],
                            "members": {
                                "Timestamp": {
                                    "type": "timestamp"
                                },
                                "UniqueContributors": {
                                    "type": "double"
                                },
                                "MaxContributorValue": {
                                    "type": "double"
                                },
                                "SampleCount": {
                                    "type": "double"
                                },
                                "Average": {
                                    "type": "double"
                                },
                                "Sum": {
                                    "type": "double"
                                },
                                "Minimum": {
                                    "type": "double"
                                },
                                "Maximum": {
                                    "type": "double"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW7AHBVPMUKAL5W37CAPDD7C5HGJUMXOFOX4UN32PYQRUFPGCQXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GUIQ5G6FBIVDXGBYO5MLONLNLZVBD4UMIQR6LTXJEKWZ3RVTXLRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQMRDOR5IH7X2REJCLDF6Z3D2QH3N37CPOZEXKUUCCNVQ4DHXN7A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDINO7N7VTVFA2MBV7PPM6ARI6AZBZ6XGTZ73FJJXYDKWBUI5SKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNCQVYRVJJHJ3L4TWE3DWVVDK7NWN2W4CNKHRZ7FXG7PMWOGXNCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBRMAOSSOAXAUS7KDMK3JRNQURO3WVW7BCXCNTS73DXPJFGDSGUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVC5YJI4PBH3JW6WGULHUFL7WGMN3FWUE3CMJTTG5ELYVZCTZRPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPO6YKS45UTLE5CYQ7SVV6FZBLHDTGQYGEXYSPSMJ77RHUK2HRAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6A2LEE4EWOR2ORAKDNIRQ2PKGK7LBA4ZEXRCXULK5T6YV5JLTWVQ/dynamic-common-8459.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GKE7HYMG6ENWSFHBCYKPGK7XOGNRSTXOO7ZKQ6HRWVBMHNKIMFIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js"
            ]
        },
        "GetMetricData": {
            "input": {
                "type": "structure",
                "required": [
                    "MetricDataQueries",
                    "StartTime",
                    "EndTime"
                ],
                "members": {
                    "MetricDataQueries": {
                        "shape": "S1y"
                    },
                    "StartTime": {
                        "type": "timestamp"
                    },
                    "EndTime": {
                        "type": "timestamp"
                    },
                    "NextToken": {},
                    "ScanBy": {},
                    "MaxDatapoints": {
                        "type": "integer"
                    },
                    "LabelOptions": {
                        "type": "structure",
                        "members": {
                            "Timezone": {}
                        }
                    }
                }
            },
            "output": {
                "resultWrapper": "GetMetricDataResult",
                "type": "structure",
                "members": {
                    "MetricDataResults": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Id": {},
                                "Label": {},
                                "Timestamps": {
                                    "type": "list",
                                    "member": {
                                        "type": "timestamp"
                                    }
                                },
                                "Values": {
                                    "type": "list",
                                    "member": {
                                        "type": "double"
                                    }
                                },
                                "StatusCode": {},
                                "Messages": {
                                    "shape": "S3v"
                                }
                            }
                        }
                    },
                    "NextToken": {},
                    "Messages": {
                        "shape": "S3v"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GUIQ5G6FBIVDXGBYO5MLONLNLZVBD4UMIQR6LTXJEKWZ3RVTXLRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQMRDOR5IH7X2REJCLDF6Z3D2QH3N37CPOZEXKUUCCNVQ4DHXN7A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDINO7N7VTVFA2MBV7PPM6ARI6AZBZ6XGTZ73FJJXYDKWBUI5SKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GLCPZC6HUN6G2JIIMJBITITO7TS6NSK75RXZP4XCQMRLRGGOLHA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNCQVYRVJJHJ3L4TWE3DWVVDK7NWN2W4CNKHRZ7FXG7PMWOGXNCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBRMAOSSOAXAUS7KDMK3JRNQURO3WVW7BCXCNTS73DXPJFGDSGUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVC5YJI4PBH3JW6WGULHUFL7WGMN3FWUE3CMJTTG5ELYVZCTZRPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPO6YKS45UTLE5CYQ7SVV6FZBLHDTGQYGEXYSPSMJ77RHUK2HRAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6A2LEE4EWOR2ORAKDNIRQ2PKGK7LBA4ZEXRCXULK5T6YV5JLTWVQ/dynamic-common-8459.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GKE7HYMG6ENWSFHBCYKPGK7XOGNRSTXOO7ZKQ6HRWVBMHNKIMFIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js"
            ]
        },
        "GetMetricStatistics": {
            "input": {
                "type": "structure",
                "required": [
                    "Namespace",
                    "MetricName",
                    "StartTime",
                    "EndTime",
                    "Period"
                ],
                "members": {
                    "Namespace": {},
                    "MetricName": {},
                    "Dimensions": {
                        "shape": "S7"
                    },
                    "StartTime": {
                        "type": "timestamp"
                    },
                    "EndTime": {
                        "type": "timestamp"
                    },
                    "Period": {
                        "type": "integer"
                    },
                    "Statistics": {
                        "type": "list",
                        "member": {}
                    },
                    "ExtendedStatistics": {
                        "type": "list",
                        "member": {}
                    },
                    "Unit": {}
                }
            },
            "output": {
                "resultWrapper": "GetMetricStatisticsResult",
                "type": "structure",
                "members": {
                    "Label": {},
                    "Datapoints": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Timestamp": {
                                    "type": "timestamp"
                                },
                                "SampleCount": {
                                    "type": "double"
                                },
                                "Average": {
                                    "type": "double"
                                },
                                "Sum": {
                                    "type": "double"
                                },
                                "Minimum": {
                                    "type": "double"
                                },
                                "Maximum": {
                                    "type": "double"
                                },
                                "Unit": {},
                                "ExtendedStatistics": {
                                    "type": "map",
                                    "key": {},
                                    "value": {
                                        "type": "double"
                                    }
                                }
                            },
                            "xmlOrder": [
                                "Timestamp",
                                "SampleCount",
                                "Average",
                                "Sum",
                                "Minimum",
                                "Maximum",
                                "Unit",
                                "ExtendedStatistics"
                            ]
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GUIQ5G6FBIVDXGBYO5MLONLNLZVBD4UMIQR6LTXJEKWZ3RVTXLRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQMRDOR5IH7X2REJCLDF6Z3D2QH3N37CPOZEXKUUCCNVQ4DHXN7A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDINO7N7VTVFA2MBV7PPM6ARI6AZBZ6XGTZ73FJJXYDKWBUI5SKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GLCPZC6HUN6G2JIIMJBITITO7TS6NSK75RXZP4XCQMRLRGGOLHA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNCQVYRVJJHJ3L4TWE3DWVVDK7NWN2W4CNKHRZ7FXG7PMWOGXNCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBRMAOSSOAXAUS7KDMK3JRNQURO3WVW7BCXCNTS73DXPJFGDSGUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVC5YJI4PBH3JW6WGULHUFL7WGMN3FWUE3CMJTTG5ELYVZCTZRPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPO6YKS45UTLE5CYQ7SVV6FZBLHDTGQYGEXYSPSMJ77RHUK2HRAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6A2LEE4EWOR2ORAKDNIRQ2PKGK7LBA4ZEXRCXULK5T6YV5JLTWVQ/dynamic-common-8459.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GKE7HYMG6ENWSFHBCYKPGK7XOGNRSTXOO7ZKQ6HRWVBMHNKIMFIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js"
            ]
        },
        "GetMetricStream": {
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {}
                }
            },
            "output": {
                "resultWrapper": "GetMetricStreamResult",
                "type": "structure",
                "members": {
                    "Arn": {},
                    "Name": {},
                    "IncludeFilters": {
                        "shape": "S49"
                    },
                    "ExcludeFilters": {
                        "shape": "S49"
                    },
                    "FirehoseArn": {},
                    "RoleArn": {},
                    "State": {},
                    "CreationDate": {
                        "type": "timestamp"
                    },
                    "LastUpdateDate": {
                        "type": "timestamp"
                    },
                    "OutputFormat": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/V3VI5SJE52HKFVNI67OH5RV5NH4IAKRPAHF7BDZIO4SV5PBBHEJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPT7XPMYRTLCUC236BG64Q2JCUQKWG3B5VWIABEGA3TWCVWKR4LQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GUIQ5G6FBIVDXGBYO5MLONLNLZVBD4UMIQR6LTXJEKWZ3RVTXLRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQMRDOR5IH7X2REJCLDF6Z3D2QH3N37CPOZEXKUUCCNVQ4DHXN7A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDINO7N7VTVFA2MBV7PPM6ARI6AZBZ6XGTZ73FJJXYDKWBUI5SKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNCQVYRVJJHJ3L4TWE3DWVVDK7NWN2W4CNKHRZ7FXG7PMWOGXNCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBRMAOSSOAXAUS7KDMK3JRNQURO3WVW7BCXCNTS73DXPJFGDSGUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPO6YKS45UTLE5CYQ7SVV6FZBLHDTGQYGEXYSPSMJ77RHUK2HRAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6A2LEE4EWOR2ORAKDNIRQ2PKGK7LBA4ZEXRCXULK5T6YV5JLTWVQ/dynamic-common-8459.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GKE7HYMG6ENWSFHBCYKPGK7XOGNRSTXOO7ZKQ6HRWVBMHNKIMFIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js"
            ]
        },
        "GetMetricWidgetImage": {
            "input": {
                "type": "structure",
                "required": [
                    "MetricWidget"
                ],
                "members": {
                    "MetricWidget": {},
                    "OutputFormat": {}
                }
            },
            "output": {
                "resultWrapper": "GetMetricWidgetImageResult",
                "type": "structure",
                "members": {
                    "MetricWidgetImage": {
                        "type": "blob"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GUIQ5G6FBIVDXGBYO5MLONLNLZVBD4UMIQR6LTXJEKWZ3RVTXLRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQMRDOR5IH7X2REJCLDF6Z3D2QH3N37CPOZEXKUUCCNVQ4DHXN7A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDINO7N7VTVFA2MBV7PPM6ARI6AZBZ6XGTZ73FJJXYDKWBUI5SKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GLCPZC6HUN6G2JIIMJBITITO7TS6NSK75RXZP4XCQMRLRGGOLHA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNCQVYRVJJHJ3L4TWE3DWVVDK7NWN2W4CNKHRZ7FXG7PMWOGXNCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBRMAOSSOAXAUS7KDMK3JRNQURO3WVW7BCXCNTS73DXPJFGDSGUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVC5YJI4PBH3JW6WGULHUFL7WGMN3FWUE3CMJTTG5ELYVZCTZRPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPO6YKS45UTLE5CYQ7SVV6FZBLHDTGQYGEXYSPSMJ77RHUK2HRAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6A2LEE4EWOR2ORAKDNIRQ2PKGK7LBA4ZEXRCXULK5T6YV5JLTWVQ/dynamic-common-8459.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GKE7HYMG6ENWSFHBCYKPGK7XOGNRSTXOO7ZKQ6HRWVBMHNKIMFIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js"
            ]
        },
        "ListDashboards": {
            "input": {
                "type": "structure",
                "members": {
                    "DashboardNamePrefix": {},
                    "NextToken": {}
                }
            },
            "output": {
                "resultWrapper": "ListDashboardsResult",
                "type": "structure",
                "members": {
                    "DashboardEntries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "DashboardName": {},
                                "DashboardArn": {},
                                "LastModified": {
                                    "type": "timestamp"
                                },
                                "Size": {
                                    "type": "long"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GUIQ5G6FBIVDXGBYO5MLONLNLZVBD4UMIQR6LTXJEKWZ3RVTXLRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQMRDOR5IH7X2REJCLDF6Z3D2QH3N37CPOZEXKUUCCNVQ4DHXN7A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDINO7N7VTVFA2MBV7PPM6ARI6AZBZ6XGTZ73FJJXYDKWBUI5SKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GLCPZC6HUN6G2JIIMJBITITO7TS6NSK75RXZP4XCQMRLRGGOLHA/main.all.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNCQVYRVJJHJ3L4TWE3DWVVDK7NWN2W4CNKHRZ7FXG7PMWOGXNCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBRMAOSSOAXAUS7KDMK3JRNQURO3WVW7BCXCNTS73DXPJFGDSGUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVC5YJI4PBH3JW6WGULHUFL7WGMN3FWUE3CMJTTG5ELYVZCTZRPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPO6YKS45UTLE5CYQ7SVV6FZBLHDTGQYGEXYSPSMJ77RHUK2HRAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6A2LEE4EWOR2ORAKDNIRQ2PKGK7LBA4ZEXRCXULK5T6YV5JLTWVQ/dynamic-common-8459.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GKE7HYMG6ENWSFHBCYKPGK7XOGNRSTXOO7ZKQ6HRWVBMHNKIMFIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js"
            ]
        },
        "ListMetricStreams": {
            "input": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "resultWrapper": "ListMetricStreamsResult",
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "Entries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Arn": {},
                                "CreationDate": {
                                    "type": "timestamp"
                                },
                                "LastUpdateDate": {
                                    "type": "timestamp"
                                },
                                "Name": {},
                                "FirehoseArn": {},
                                "State": {},
                                "OutputFormat": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/V3VI5SJE52HKFVNI67OH5RV5NH4IAKRPAHF7BDZIO4SV5PBBHEJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPT7XPMYRTLCUC236BG64Q2JCUQKWG3B5VWIABEGA3TWCVWKR4LQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
[...]
