{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2017-07-25",
        "endpointPrefix": "MoroccoAnalytics",
        "protocol": "rest-json",
        "serviceAbbreviation": "Morocco Analytics",
        "serviceFullName": "Morocco Analytics",
        "serviceId": "MoroccoAnalytics",
        "signatureVersion": "v4",
        "signingName": "detective",
        "uid": "moroccoanalyticsapis-2017-07-25",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/PSSO5U4FW5H6SMSSL57J3U5N2TQVVGHM3L64A6R436WMXYOGCIZQ/8201.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/I35GJALYVLAFJEWXJMKC2EMYRQ423BT5IFUDF5KVEWV2XBXATVGQ/8201.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RJB6FUVA64ELCXSNPGFRGIIGQWNJ6N6S4ZXEZDLGOK344O76JR3Q/8201.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XXLZI3746NASWNBS73QIWMHWP3ZSANF5DVRHZLBT55KAXUE7ZWIA/2237.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7BSLQREVB6E4KQ46O5UXANHCMYQEIW6BO6TWTAUE2NZKKG6CJVCQ/5052.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BYSV6EYPU63KKJ6GRPF7DDIWTOQ7344KTWZL6ENHDTNKJC4ZGCWQ/5052.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/P7OBULZU5Y5DZKSZQK4Q2EH5S4LYH7SL5H45YROMJGDOUJ6U4SGA/5052.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YX24G2VXYUD6JTC57EKF6FVCJIPTXAZUMXAZDEDKWIFSTCABE3SA/5052.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PWN45XM5BZMNOYI53P3G7Y43G43OJNSRIWLWMBLLBY6SJ3KCU3IQ/6535.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HQWU4JFLYD4X2OP4W2OI3AH4HI2VSIX2Z3STIS5UAIFX5WDUI5XA/6535.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NSBLQPACQJ2XYYIXOYTI7HBBJ7X7ED43MQZVYHZEATGDIOQ2EPWA/6535.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/T66GCELEKFIQPHDR3S6WWFRCRWW7KNEXI3H25GXOZ2BBQPPJ2Q2A/6535.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OQPP4ZMUEJPGFCZMTSHDPZWM6SSY2CHOQNDULRQNNVYOXOVXFTDA/6535.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MG5EAXBFUFQTPJYUD7OMEWPWVHMD7SFFRQPTWNQLBUCCXAYG7UOQ/8356.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3DRSUXL333M4YBA6J6IMX3WH6NJYRS4BXLNPHPQYFDZWARUYTMSA/5442.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UA6HXGOBCIFIZVQCN4NJPXR5QWQ22YPMWMYBDJNKILVPUKYDKIUA/1483.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UO6FV55YI7GF5R5J4GDHJ6SPX64YGHREA4BVTFHHNJB5WTBGF6RQ/1612.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZSYQ2IKBRSCAHOZNSAIONUHKVQPCJZDFX2RYYEJJMYDFCGHBCGEA/1096.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/S2I7B3PETZD7OCTVJEA5UEZYADXKTYIUHLGF3MFLDGOBAYXS3UTA/539.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FYZMFPRLBBPMH722FMMMUBOF75RXEF5LB355JKWKUVM6CZR6ZATQ/539.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DZXQIV6JK2PJ3GVUXMN5GIZK6DV2NUNPXRDD4QOD66N3V252XYCQ/7874.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5NUUWWDPFRM35HR7NQFPSUROWOY2I4HQETAYX64GYDPM4XIBWBAQ/4798.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MA7JXP5VWOEKKDKRHAAYA4HGKCUJIUCYVAQBD3Y3UTFQLCK5RTNA/933.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3HWNWTHIMV5AQGJLXPBHR334HMP5GHS6SRJ24RLCTKXD4PXDUK6Q/933.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SWM43VNXRBVJYZTEQJ27FZ27H2CC5Y2EOSXUOECWIKHWP5LHZTJQ/1216.js"
        ]
    },
    "operations": {
        "GetInvestigation": {
            "http": {
                "requestUri": "/investigations/getInvestigation"
            },
            "input": {
                "type": "structure",
                "required": [
                    "GraphArn",
                    "InvestigationId"
                ],
                "members": {
                    "GraphArn": {},
                    "InvestigationId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "GraphArn": {},
                    "InvestigationId": {},
                    "EntityArn": {},
                    "EntityType": {},
                    "CreatedTime": {
                        "shape": "S7"
                    },
                    "ScopeStartTime": {
                        "shape": "S7"
                    },
                    "ScopeEndTime": {
                        "shape": "S7"
                    },
                    "Status": {},
                    "Severity": {},
                    "State": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PSSO5U4FW5H6SMSSL57J3U5N2TQVVGHM3L64A6R436WMXYOGCIZQ/8201.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I35GJALYVLAFJEWXJMKC2EMYRQ423BT5IFUDF5KVEWV2XBXATVGQ/8201.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJB6FUVA64ELCXSNPGFRGIIGQWNJ6N6S4ZXEZDLGOK344O76JR3Q/8201.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXLZI3746NASWNBS73QIWMHWP3ZSANF5DVRHZLBT55KAXUE7ZWIA/2237.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BSLQREVB6E4KQ46O5UXANHCMYQEIW6BO6TWTAUE2NZKKG6CJVCQ/5052.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYSV6EYPU63KKJ6GRPF7DDIWTOQ7344KTWZL6ENHDTNKJC4ZGCWQ/5052.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P7OBULZU5Y5DZKSZQK4Q2EH5S4LYH7SL5H45YROMJGDOUJ6U4SGA/5052.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YX24G2VXYUD6JTC57EKF6FVCJIPTXAZUMXAZDEDKWIFSTCABE3SA/5052.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWN45XM5BZMNOYI53P3G7Y43G43OJNSRIWLWMBLLBY6SJ3KCU3IQ/6535.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQWU4JFLYD4X2OP4W2OI3AH4HI2VSIX2Z3STIS5UAIFX5WDUI5XA/6535.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSBLQPACQJ2XYYIXOYTI7HBBJ7X7ED43MQZVYHZEATGDIOQ2EPWA/6535.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T66GCELEKFIQPHDR3S6WWFRCRWW7KNEXI3H25GXOZ2BBQPPJ2Q2A/6535.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQPP4ZMUEJPGFCZMTSHDPZWM6SSY2CHOQNDULRQNNVYOXOVXFTDA/6535.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MG5EAXBFUFQTPJYUD7OMEWPWVHMD7SFFRQPTWNQLBUCCXAYG7UOQ/8356.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DRSUXL333M4YBA6J6IMX3WH6NJYRS4BXLNPHPQYFDZWARUYTMSA/5442.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UA6HXGOBCIFIZVQCN4NJPXR5QWQ22YPMWMYBDJNKILVPUKYDKIUA/1483.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UO6FV55YI7GF5R5J4GDHJ6SPX64YGHREA4BVTFHHNJB5WTBGF6RQ/1612.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSYQ2IKBRSCAHOZNSAIONUHKVQPCJZDFX2RYYEJJMYDFCGHBCGEA/1096.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2I7B3PETZD7OCTVJEA5UEZYADXKTYIUHLGF3MFLDGOBAYXS3UTA/539.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYZMFPRLBBPMH722FMMMUBOF75RXEF5LB355JKWKUVM6CZR6ZATQ/539.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZXQIV6JK2PJ3GVUXMN5GIZK6DV2NUNPXRDD4QOD66N3V252XYCQ/7874.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NUUWWDPFRM35HR7NQFPSUROWOY2I4HQETAYX64GYDPM4XIBWBAQ/4798.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MA7JXP5VWOEKKDKRHAAYA4HGKCUJIUCYVAQBD3Y3UTFQLCK5RTNA/933.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HWNWTHIMV5AQGJLXPBHR334HMP5GHS6SRJ24RLCTKXD4PXDUK6Q/933.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWM43VNXRBVJYZTEQJ27FZ27H2CC5Y2EOSXUOECWIKHWP5LHZTJQ/1216.js"
            ]
        },
        "ListIndicators": {
            "http": {
                "requestUri": "/investigations/listIndicators"
            },
            "input": {
                "type": "structure",
                "required": [
                    "GraphArn",
                    "InvestigationId"
                ],
                "members": {
                    "GraphArn": {},
                    "InvestigationId": {},
                    "IndicatorType": {},
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "GraphArn": {},
                    "InvestigationId": {},
                    "NextToken": {},
                    "Indicators": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "IndicatorType": {},
                                "IndicatorDetail": {
                                    "type": "structure",
                                    "members": {
                                        "TTPsObservedDetail": {
                                            "type": "structure",
                                            "members": {
                                                "Tactic": {},
                                                "Technique": {},
                                                "Procedure": {},
                                                "IpAddress": {},
                                                "APIName": {},
                                                "APISuccessCount": {
                                                    "type": "long"
                                                },
                                                "APIFailureCount": {
                                                    "type": "long"
                                                }
                                            }
                                        },
                                        "ImpossibleTravelDetail": {
                                            "type": "structure",
                                            "members": {
                                                "StartingIpAddress": {},
                                                "EndingIpAddress": {},
                                                "StartingLocation": {},
                                                "EndingLocation": {},
                                                "HourlyTimeDelta": {
                                                    "type": "integer"
                                                }
                                            }
                                        },
                                        "FlaggedIpAddressDetail": {
                                            "type": "structure",
                                            "members": {
                                                "IpAddress": {},
                                                "Reason": {}
                                            }
                                        },
                                        "NewGeolocationDetail": {
                                            "type": "structure",
                                            "members": {
                                                "Location": {},
                                                "IpAddress": {},
                                                "IsNewForEntireAccount": {
                                                    "type": "boolean"
                                                }
                                            }
                                        },
                                        "NewAsoDetail": {
                                            "type": "structure",
                                            "members": {
                                                "Aso": {},
                                                "IsNewForEntireAccount": {
                                                    "type": "boolean"
                                                }
                                            }
                                        },
                                        "NewUserAgentDetail": {
                                            "type": "structure",
                                            "members": {
                                                "UserAgent": {},
                                                "IsNewForEntireAccount": {
                                                    "type": "boolean"
                                                }
                                            }
                                        },
                                        "RelatedFindingDetail": {
                                            "type": "structure",
                                            "members": {
                                                "Arn": {},
                                                "Type": {},
                                                "IpAddress": {}
                                            }
                                        },
                                        "RelatedFindingGroupDetail": {
                                            "type": "structure",
                                            "members": {
                                                "Id": {}
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PSSO5U4FW5H6SMSSL57J3U5N2TQVVGHM3L64A6R436WMXYOGCIZQ/8201.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I35GJALYVLAFJEWXJMKC2EMYRQ423BT5IFUDF5KVEWV2XBXATVGQ/8201.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJB6FUVA64ELCXSNPGFRGIIGQWNJ6N6S4ZXEZDLGOK344O76JR3Q/8201.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXLZI3746NASWNBS73QIWMHWP3ZSANF5DVRHZLBT55KAXUE7ZWIA/2237.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BSLQREVB6E4KQ46O5UXANHCMYQEIW6BO6TWTAUE2NZKKG6CJVCQ/5052.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYSV6EYPU63KKJ6GRPF7DDIWTOQ7344KTWZL6ENHDTNKJC4ZGCWQ/5052.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P7OBULZU5Y5DZKSZQK4Q2EH5S4LYH7SL5H45YROMJGDOUJ6U4SGA/5052.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YX24G2VXYUD6JTC57EKF6FVCJIPTXAZUMXAZDEDKWIFSTCABE3SA/5052.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWN45XM5BZMNOYI53P3G7Y43G43OJNSRIWLWMBLLBY6SJ3KCU3IQ/6535.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQWU4JFLYD4X2OP4W2OI3AH4HI2VSIX2Z3STIS5UAIFX5WDUI5XA/6535.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSBLQPACQJ2XYYIXOYTI7HBBJ7X7ED43MQZVYHZEATGDIOQ2EPWA/6535.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T66GCELEKFIQPHDR3S6WWFRCRWW7KNEXI3H25GXOZ2BBQPPJ2Q2A/6535.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQPP4ZMUEJPGFCZMTSHDPZWM6SSY2CHOQNDULRQNNVYOXOVXFTDA/6535.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MG5EAXBFUFQTPJYUD7OMEWPWVHMD7SFFRQPTWNQLBUCCXAYG7UOQ/8356.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DRSUXL333M4YBA6J6IMX3WH6NJYRS4BXLNPHPQYFDZWARUYTMSA/5442.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UA6HXGOBCIFIZVQCN4NJPXR5QWQ22YPMWMYBDJNKILVPUKYDKIUA/1483.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UO6FV55YI7GF5R5J4GDHJ6SPX64YGHREA4BVTFHHNJB5WTBGF6RQ/1612.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSYQ2IKBRSCAHOZNSAIONUHKVQPCJZDFX2RYYEJJMYDFCGHBCGEA/1096.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2I7B3PETZD7OCTVJEA5UEZYADXKTYIUHLGF3MFLDGOBAYXS3UTA/539.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYZMFPRLBBPMH722FMMMUBOF75RXEF5LB355JKWKUVM6CZR6ZATQ/539.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZXQIV6JK2PJ3GVUXMN5GIZK6DV2NUNPXRDD4QOD66N3V252XYCQ/7874.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NUUWWDPFRM35HR7NQFPSUROWOY2I4HQETAYX64GYDPM4XIBWBAQ/4798.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MA7JXP5VWOEKKDKRHAAYA4HGKCUJIUCYVAQBD3Y3UTFQLCK5RTNA/933.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HWNWTHIMV5AQGJLXPBHR334HMP5GHS6SRJ24RLCTKXD4PXDUK6Q/933.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWM43VNXRBVJYZTEQJ27FZ27H2CC5Y2EOSXUOECWIKHWP5LHZTJQ/1216.js"
            ]
        },
        "ListInvestigations": {
            "http": {
                "requestUri": "/investigations/listInvestigations"
            },
            "input": {
                "type": "structure",
                "required": [
                    "GraphArn"
                ],
                "members": {
                    "GraphArn": {},
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "FilterCriteria": {
                        "type": "structure",
                        "members": {
                            "Severity": {
                                "shape": "S18"
                            },
                            "Status": {
                                "shape": "S18"
                            },
                            "State": {
                                "shape": "S18"
                            },
                            "EntityArn": {
                                "shape": "S18"
                            },
                            "CreatedTime": {
                                "type": "structure",
                                "required": [
                                    "StartInclusive",
                                    "EndInclusive"
                                ],
                                "members": {
                                    "StartInclusive": {
                                        "shape": "S7"
                                    },
                                    "EndInclusive": {
                                        "shape": "S7"
                                    }
                                }
                            }
                        }
                    },
                    "SortCriteria": {
                        "type": "structure",
                        "members": {
                            "Field": {},
                            "SortOrder": {}
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "InvestigationDetails": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "InvestigationId": {},
                                "Severity": {},
                                "Status": {},
                                "State": {},
                                "CreatedTime": {
                                    "shape": "S7"
                                },
                                "EntityArn": {},
                                "EntityType": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PSSO5U4FW5H6SMSSL57J3U5N2TQVVGHM3L64A6R436WMXYOGCIZQ/8201.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I35GJALYVLAFJEWXJMKC2EMYRQ423BT5IFUDF5KVEWV2XBXATVGQ/8201.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJB6FUVA64ELCXSNPGFRGIIGQWNJ6N6S4ZXEZDLGOK344O76JR3Q/8201.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXLZI3746NASWNBS73QIWMHWP3ZSANF5DVRHZLBT55KAXUE7ZWIA/2237.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BSLQREVB6E4KQ46O5UXANHCMYQEIW6BO6TWTAUE2NZKKG6CJVCQ/5052.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYSV6EYPU63KKJ6GRPF7DDIWTOQ7344KTWZL6ENHDTNKJC4ZGCWQ/5052.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P7OBULZU5Y5DZKSZQK4Q2EH5S4LYH7SL5H45YROMJGDOUJ6U4SGA/5052.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YX24G2VXYUD6JTC57EKF6FVCJIPTXAZUMXAZDEDKWIFSTCABE3SA/5052.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWN45XM5BZMNOYI53P3G7Y43G43OJNSRIWLWMBLLBY6SJ3KCU3IQ/6535.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQWU4JFLYD4X2OP4W2OI3AH4HI2VSIX2Z3STIS5UAIFX5WDUI5XA/6535.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSBLQPACQJ2XYYIXOYTI7HBBJ7X7ED43MQZVYHZEATGDIOQ2EPWA/6535.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T66GCELEKFIQPHDR3S6WWFRCRWW7KNEXI3H25GXOZ2BBQPPJ2Q2A/6535.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQPP4ZMUEJPGFCZMTSHDPZWM6SSY2CHOQNDULRQNNVYOXOVXFTDA/6535.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MG5EAXBFUFQTPJYUD7OMEWPWVHMD7SFFRQPTWNQLBUCCXAYG7UOQ/8356.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DRSUXL333M4YBA6J6IMX3WH6NJYRS4BXLNPHPQYFDZWARUYTMSA/5442.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UA6HXGOBCIFIZVQCN4NJPXR5QWQ22YPMWMYBDJNKILVPUKYDKIUA/1483.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UO6FV55YI7GF5R5J4GDHJ6SPX64YGHREA4BVTFHHNJB5WTBGF6RQ/1612.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSYQ2IKBRSCAHOZNSAIONUHKVQPCJZDFX2RYYEJJMYDFCGHBCGEA/1096.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2I7B3PETZD7OCTVJEA5UEZYADXKTYIUHLGF3MFLDGOBAYXS3UTA/539.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYZMFPRLBBPMH722FMMMUBOF75RXEF5LB355JKWKUVM6CZR6ZATQ/539.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZXQIV6JK2PJ3GVUXMN5GIZK6DV2NUNPXRDD4QOD66N3V252XYCQ/7874.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NUUWWDPFRM35HR7NQFPSUROWOY2I4HQETAYX64GYDPM4XIBWBAQ/4798.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MA7JXP5VWOEKKDKRHAAYA4HGKCUJIUCYVAQBD3Y3UTFQLCK5RTNA/933.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HWNWTHIMV5AQGJLXPBHR334HMP5GHS6SRJ24RLCTKXD4PXDUK6Q/933.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWM43VNXRBVJYZTEQJ27FZ27H2CC5Y2EOSXUOECWIKHWP5LHZTJQ/1216.js"
            ]
        },
        "StartInvestigation": {
            "http": {
                "requestUri": "/investigations/startInvestigation"
            },
            "input": {
                "type": "structure",
                "required": [
                    "GraphArn",
                    "EntityArn",
                    "ScopeStartTime",
                    "ScopeEndTime"
                ],
                "members": {
                    "GraphArn": {},
                    "EntityArn": {},
                    "ScopeStartTime": {
                        "shape": "S7"
                    },
                    "ScopeEndTime": {
                        "shape": "S7"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "InvestigationId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PSSO5U4FW5H6SMSSL57J3U5N2TQVVGHM3L64A6R436WMXYOGCIZQ/8201.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I35GJALYVLAFJEWXJMKC2EMYRQ423BT5IFUDF5KVEWV2XBXATVGQ/8201.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJB6FUVA64ELCXSNPGFRGIIGQWNJ6N6S4ZXEZDLGOK344O76JR3Q/8201.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXLZI3746NASWNBS73QIWMHWP3ZSANF5DVRHZLBT55KAXUE7ZWIA/2237.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BSLQREVB6E4KQ46O5UXANHCMYQEIW6BO6TWTAUE2NZKKG6CJVCQ/5052.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYSV6EYPU63KKJ6GRPF7DDIWTOQ7344KTWZL6ENHDTNKJC4ZGCWQ/5052.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P7OBULZU5Y5DZKSZQK4Q2EH5S4LYH7SL5H45YROMJGDOUJ6U4SGA/5052.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YX24G2VXYUD6JTC57EKF6FVCJIPTXAZUMXAZDEDKWIFSTCABE3SA/5052.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWN45XM5BZMNOYI53P3G7Y43G43OJNSRIWLWMBLLBY6SJ3KCU3IQ/6535.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQWU4JFLYD4X2OP4W2OI3AH4HI2VSIX2Z3STIS5UAIFX5WDUI5XA/6535.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSBLQPACQJ2XYYIXOYTI7HBBJ7X7ED43MQZVYHZEATGDIOQ2EPWA/6535.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T66GCELEKFIQPHDR3S6WWFRCRWW7KNEXI3H25GXOZ2BBQPPJ2Q2A/6535.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQPP4ZMUEJPGFCZMTSHDPZWM6SSY2CHOQNDULRQNNVYOXOVXFTDA/6535.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MG5EAXBFUFQTPJYUD7OMEWPWVHMD7SFFRQPTWNQLBUCCXAYG7UOQ/8356.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DRSUXL333M4YBA6J6IMX3WH6NJYRS4BXLNPHPQYFDZWARUYTMSA/5442.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UA6HXGOBCIFIZVQCN4NJPXR5QWQ22YPMWMYBDJNKILVPUKYDKIUA/1483.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UO6FV55YI7GF5R5J4GDHJ6SPX64YGHREA4BVTFHHNJB5WTBGF6RQ/1612.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSYQ2IKBRSCAHOZNSAIONUHKVQPCJZDFX2RYYEJJMYDFCGHBCGEA/1096.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2I7B3PETZD7OCTVJEA5UEZYADXKTYIUHLGF3MFLDGOBAYXS3UTA/539.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYZMFPRLBBPMH722FMMMUBOF75RXEF5LB355JKWKUVM6CZR6ZATQ/539.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZXQIV6JK2PJ3GVUXMN5GIZK6DV2NUNPXRDD4QOD66N3V252XYCQ/7874.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NUUWWDPFRM35HR7NQFPSUROWOY2I4HQETAYX64GYDPM4XIBWBAQ/4798.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MA7JXP5VWOEKKDKRHAAYA4HGKCUJIUCYVAQBD3Y3UTFQLCK5RTNA/933.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HWNWTHIMV5AQGJLXPBHR334HMP5GHS6SRJ24RLCTKXD4PXDUK6Q/933.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWM43VNXRBVJYZTEQJ27FZ27H2CC5Y2EOSXUOECWIKHWP5LHZTJQ/1216.js"
            ]
        },
        "UpdateInvestigationState": {
            "http": {
                "requestUri": "/investigations/updateInvestigationState"
            },
            "input": {
                "type": "structure",
                "required": [
                    "GraphArn",
                    "InvestigationId",
                    "State"
                ],
                "members": {
                    "GraphArn": {},
                    "InvestigationId": {},
                    "State": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PSSO5U4FW5H6SMSSL57J3U5N2TQVVGHM3L64A6R436WMXYOGCIZQ/8201.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I35GJALYVLAFJEWXJMKC2EMYRQ423BT5IFUDF5KVEWV2XBXATVGQ/8201.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJB6FUVA64ELCXSNPGFRGIIGQWNJ6N6S4ZXEZDLGOK344O76JR3Q/8201.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXLZI3746NASWNBS73QIWMHWP3ZSANF5DVRHZLBT55KAXUE7ZWIA/2237.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BSLQREVB6E4KQ46O5UXANHCMYQEIW6BO6TWTAUE2NZKKG6CJVCQ/5052.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYSV6EYPU63KKJ6GRPF7DDIWTOQ7344KTWZL6ENHDTNKJC4ZGCWQ/5052.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P7OBULZU5Y5DZKSZQK4Q2EH5S4LYH7SL5H45YROMJGDOUJ6U4SGA/5052.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YX24G2VXYUD6JTC57EKF6FVCJIPTXAZUMXAZDEDKWIFSTCABE3SA/5052.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWN45XM5BZMNOYI53P3G7Y43G43OJNSRIWLWMBLLBY6SJ3KCU3IQ/6535.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQWU4JFLYD4X2OP4W2OI3AH4HI2VSIX2Z3STIS5UAIFX5WDUI5XA/6535.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSBLQPACQJ2XYYIXOYTI7HBBJ7X7ED43MQZVYHZEATGDIOQ2EPWA/6535.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T66GCELEKFIQPHDR3S6WWFRCRWW7KNEXI3H25GXOZ2BBQPPJ2Q2A/6535.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQPP4ZMUEJPGFCZMTSHDPZWM6SSY2CHOQNDULRQNNVYOXOVXFTDA/6535.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MG5EAXBFUFQTPJYUD7OMEWPWVHMD7SFFRQPTWNQLBUCCXAYG7UOQ/8356.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DRSUXL333M4YBA6J6IMX3WH6NJYRS4BXLNPHPQYFDZWARUYTMSA/5442.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UA6HXGOBCIFIZVQCN4NJPXR5QWQ22YPMWMYBDJNKILVPUKYDKIUA/1483.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UO6FV55YI7GF5R5J4GDHJ6SPX64YGHREA4BVTFHHNJB5WTBGF6RQ/1612.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSYQ2IKBRSCAHOZNSAIONUHKVQPCJZDFX2RYYEJJMYDFCGHBCGEA/1096.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2I7B3PETZD7OCTVJEA5UEZYADXKTYIUHLGF3MFLDGOBAYXS3UTA/539.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYZMFPRLBBPMH722FMMMUBOF75RXEF5LB355JKWKUVM6CZR6ZATQ/539.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZXQIV6JK2PJ3GVUXMN5GIZK6DV2NUNPXRDD4QOD66N3V252XYCQ/7874.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NUUWWDPFRM35HR7NQFPSUROWOY2I4HQETAYX64GYDPM4XIBWBAQ/4798.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MA7JXP5VWOEKKDKRHAAYA4HGKCUJIUCYVAQBD3Y3UTFQLCK5RTNA/933.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HWNWTHIMV5AQGJLXPBHR334HMP5GHS6SRJ24RLCTKXD4PXDUK6Q/933.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWM43VNXRBVJYZTEQJ27FZ27H2CC5Y2EOSXUOECWIKHWP5LHZTJQ/1216.js"
            ]
        }
    },
    "shapes": {
        "S7": {
            "type": "timestamp",
            "timestampFormat": "iso8601"
        },
        "S18": {
            "type": "structure",
            "required": [
                "Value"
            ],
            "members": {
                "Value": {}
            }
        }
    }
}