{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2017-07-25",
        "endpoint-prefix": "MoroccoAccountManagementLambda",
        "endpointPrefix": "morocco",
        "protocol": "rest-json",
        "serviceAbbreviation": "Morocco Registration",
        "serviceFullName": "Morocco registration service",
        "signatureVersion": "v4",
        "signingName": "detective",
        "uid": "morocco-2017-07-25",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/URWGOOVSEMOSKSAGZ6R6KMA6EE3LYEDR3GBCXISOCTTW6MVIY5XA/4661.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HA336UYOOV5V5ZFKMKP6UDI6YTTKQZT23QMWR4B6YKGLFIAV4SIQ/4661.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7NHL72MB6EG4QNC5B3A7CPN6EJVTLKGQQTUIXEWPZGOLPAUTAGKQ/4661.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/D6DFZT535XOH4CZSMGX2XAPMWLJ2CLY2LORYPIA5WL2EKSOR4AVA/3048.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TTQYMVJ57YWA74R75JUAQ654IIFF2ZURB7CEYOXLUXO6RXHV6I3Q/6015.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4YI2NDYGYXBFQJRE2SYBD2K2G46NU5F2MOXL3Z7OT62IST65BDZQ/8152.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4OR2K2UQFXX7QRDKJB4NXTNECNNMFRNGUMMXMMQGR7UY2SQQ5SIQ/4657.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NONHN33GJKLHO6ABEBZ3NDU4OK72TVRZPDETV3T4PWMONMPHD33Q/9158.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/F5GUMTDJ32KO2RYQ6A2C26GHQ77VDIJ3YJQ3UN7FO2ZINI6Z7ADA/9158.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Q46F3BP6CGCRELEYIAHKMSWFO7T6FPSYFISWPHZPIUOFIZZHO6VA/9060.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/X5OE5KHWHOAGHHHXKUSXJ3IENC5RH37W27GFEMEGWPMBJN7C37BQ/4533.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GNKM24KK5VNT73THGN4WTFZOOZ7LZGSVQBTR5OZGMZAUYZ55UGMA/4533.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UTO5TVCGQRLY5ZI4DTQLETQMB4THH3FF4GG7CEB2FU6FEXOVB3BQ/4533.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZB2G7EJK7PAFVSLDSL65UUUPKDUFEYBHDNPVGF3XYHVSOO3EHVMA/4533.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PNLMOTJP3VK5CQWZT2XCRVNHOCYIN3RVQVEKJZ6D5NBXK3BO4QBQ/4533.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PAMYRQDLO4AIBBB4A7CA3SIEG6AMNXH2NLQ57LA4FGTYZZY2REEA/4533.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NMEDN3RCAXSQZXLFREA3IG4QCL2CV4J66VSGAGQZVLVWHL6OIBUQ/4533.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IY5SKK77XC3ECGYEH7E4HDDYJF6CMD3L7OHPI62F65HULTQCWXEQ/1246.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XT3EQCTTE456BMRGMT37SNO5LC5PFJJMJUXGAYI4XBYJ3FWHXHPQ/1246.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JCWUOWWUJPPUOHNXQCCGAUY4D7WV5T3IRLW65JPA472OOSRXSLXQ/1246.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ILUA6553MXPH2BDQXNSPYIE5VESA77LXQM46MVHTAMFNOEKBE6UA/1246.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VC7MM67WLSJKH5CZJQ55I3PIREZTJWYMYPRMDTDHPDHU6YZ3JH3Q/9536.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VZFPCEQ25TTGPC6OPVKOSUW6KDJBEM6UA6KRSI2UEQTDZHFBPD6A/9536.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/P56ZP2AKELWRCZ6DNM7GKJ5JNVPW4GTESSYQD2Q6RLTZS4HDZSLQ/1288.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ASVWEFVJA23SK3A6J6UMXB6MXVCMOLL2YDDLRWCGPBDDLVH3YFJQ/1288.js"
        ]
    },
    "operations": {
        "AcceptInvitation": {
            "http": {
                "method": "PUT",
                "requestUri": "/invitation"
            },
            "input": {
                "type": "structure",
                "required": [
                    "GraphArn"
                ],
                "members": {
                    "GraphArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/URWGOOVSEMOSKSAGZ6R6KMA6EE3LYEDR3GBCXISOCTTW6MVIY5XA/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HA336UYOOV5V5ZFKMKP6UDI6YTTKQZT23QMWR4B6YKGLFIAV4SIQ/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NHL72MB6EG4QNC5B3A7CPN6EJVTLKGQQTUIXEWPZGOLPAUTAGKQ/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6DFZT535XOH4CZSMGX2XAPMWLJ2CLY2LORYPIA5WL2EKSOR4AVA/3048.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTQYMVJ57YWA74R75JUAQ654IIFF2ZURB7CEYOXLUXO6RXHV6I3Q/6015.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YI2NDYGYXBFQJRE2SYBD2K2G46NU5F2MOXL3Z7OT62IST65BDZQ/8152.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OR2K2UQFXX7QRDKJB4NXTNECNNMFRNGUMMXMMQGR7UY2SQQ5SIQ/4657.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NONHN33GJKLHO6ABEBZ3NDU4OK72TVRZPDETV3T4PWMONMPHD33Q/9158.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F5GUMTDJ32KO2RYQ6A2C26GHQ77VDIJ3YJQ3UN7FO2ZINI6Z7ADA/9158.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q46F3BP6CGCRELEYIAHKMSWFO7T6FPSYFISWPHZPIUOFIZZHO6VA/9060.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5OE5KHWHOAGHHHXKUSXJ3IENC5RH37W27GFEMEGWPMBJN7C37BQ/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNKM24KK5VNT73THGN4WTFZOOZ7LZGSVQBTR5OZGMZAUYZ55UGMA/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTO5TVCGQRLY5ZI4DTQLETQMB4THH3FF4GG7CEB2FU6FEXOVB3BQ/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZB2G7EJK7PAFVSLDSL65UUUPKDUFEYBHDNPVGF3XYHVSOO3EHVMA/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNLMOTJP3VK5CQWZT2XCRVNHOCYIN3RVQVEKJZ6D5NBXK3BO4QBQ/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAMYRQDLO4AIBBB4A7CA3SIEG6AMNXH2NLQ57LA4FGTYZZY2REEA/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMEDN3RCAXSQZXLFREA3IG4QCL2CV4J66VSGAGQZVLVWHL6OIBUQ/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IY5SKK77XC3ECGYEH7E4HDDYJF6CMD3L7OHPI62F65HULTQCWXEQ/1246.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3EQCTTE456BMRGMT37SNO5LC5PFJJMJUXGAYI4XBYJ3FWHXHPQ/1246.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JCWUOWWUJPPUOHNXQCCGAUY4D7WV5T3IRLW65JPA472OOSRXSLXQ/1246.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILUA6553MXPH2BDQXNSPYIE5VESA77LXQM46MVHTAMFNOEKBE6UA/1246.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VC7MM67WLSJKH5CZJQ55I3PIREZTJWYMYPRMDTDHPDHU6YZ3JH3Q/9536.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZFPCEQ25TTGPC6OPVKOSUW6KDJBEM6UA6KRSI2UEQTDZHFBPD6A/9536.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P56ZP2AKELWRCZ6DNM7GKJ5JNVPW4GTESSYQD2Q6RLTZS4HDZSLQ/1288.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ASVWEFVJA23SK3A6J6UMXB6MXVCMOLL2YDDLRWCGPBDDLVH3YFJQ/1288.js"
            ]
        },
        "AddMembersToGraph": {
            "http": {
                "method": "PUT",
                "requestUri": "/graph/members"
            },
            "input": {
                "type": "structure",
                "required": [
                    "graphId",
                    "accountIdList"
                ],
                "members": {
                    "graphId": {},
                    "accountIdList": {
                        "shape": "S5"
                    },
                    "masterAccount": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "accountIdList"
                ],
                "members": {
                    "accountIdList": {
                        "shape": "S5"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/URWGOOVSEMOSKSAGZ6R6KMA6EE3LYEDR3GBCXISOCTTW6MVIY5XA/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HA336UYOOV5V5ZFKMKP6UDI6YTTKQZT23QMWR4B6YKGLFIAV4SIQ/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NHL72MB6EG4QNC5B3A7CPN6EJVTLKGQQTUIXEWPZGOLPAUTAGKQ/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6DFZT535XOH4CZSMGX2XAPMWLJ2CLY2LORYPIA5WL2EKSOR4AVA/3048.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTQYMVJ57YWA74R75JUAQ654IIFF2ZURB7CEYOXLUXO6RXHV6I3Q/6015.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YI2NDYGYXBFQJRE2SYBD2K2G46NU5F2MOXL3Z7OT62IST65BDZQ/8152.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OR2K2UQFXX7QRDKJB4NXTNECNNMFRNGUMMXMMQGR7UY2SQQ5SIQ/4657.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NONHN33GJKLHO6ABEBZ3NDU4OK72TVRZPDETV3T4PWMONMPHD33Q/9158.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F5GUMTDJ32KO2RYQ6A2C26GHQ77VDIJ3YJQ3UN7FO2ZINI6Z7ADA/9158.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q46F3BP6CGCRELEYIAHKMSWFO7T6FPSYFISWPHZPIUOFIZZHO6VA/9060.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5OE5KHWHOAGHHHXKUSXJ3IENC5RH37W27GFEMEGWPMBJN7C37BQ/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNKM24KK5VNT73THGN4WTFZOOZ7LZGSVQBTR5OZGMZAUYZ55UGMA/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTO5TVCGQRLY5ZI4DTQLETQMB4THH3FF4GG7CEB2FU6FEXOVB3BQ/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZB2G7EJK7PAFVSLDSL65UUUPKDUFEYBHDNPVGF3XYHVSOO3EHVMA/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNLMOTJP3VK5CQWZT2XCRVNHOCYIN3RVQVEKJZ6D5NBXK3BO4QBQ/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAMYRQDLO4AIBBB4A7CA3SIEG6AMNXH2NLQ57LA4FGTYZZY2REEA/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMEDN3RCAXSQZXLFREA3IG4QCL2CV4J66VSGAGQZVLVWHL6OIBUQ/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IY5SKK77XC3ECGYEH7E4HDDYJF6CMD3L7OHPI62F65HULTQCWXEQ/1246.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3EQCTTE456BMRGMT37SNO5LC5PFJJMJUXGAYI4XBYJ3FWHXHPQ/1246.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JCWUOWWUJPPUOHNXQCCGAUY4D7WV5T3IRLW65JPA472OOSRXSLXQ/1246.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILUA6553MXPH2BDQXNSPYIE5VESA77LXQM46MVHTAMFNOEKBE6UA/1246.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VC7MM67WLSJKH5CZJQ55I3PIREZTJWYMYPRMDTDHPDHU6YZ3JH3Q/9536.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZFPCEQ25TTGPC6OPVKOSUW6KDJBEM6UA6KRSI2UEQTDZHFBPD6A/9536.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P56ZP2AKELWRCZ6DNM7GKJ5JNVPW4GTESSYQD2Q6RLTZS4HDZSLQ/1288.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ASVWEFVJA23SK3A6J6UMXB6MXVCMOLL2YDDLRWCGPBDDLVH3YFJQ/1288.js"
            ]
        },
        "BatchGetGraphMemberDatasources": {
            "http": {
                "requestUri": "/graph/datasources/get"
            },
            "input": {
                "type": "structure",
                "required": [
                    "GraphArn",
                    "AccountIds"
                ],
                "members": {
                    "GraphArn": {},
                    "AccountIds": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "MemberDatasources": {
                        "shape": "Sb"
                    },
                    "UnprocessedAccounts": {
                        "shape": "Sj"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/URWGOOVSEMOSKSAGZ6R6KMA6EE3LYEDR3GBCXISOCTTW6MVIY5XA/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HA336UYOOV5V5ZFKMKP6UDI6YTTKQZT23QMWR4B6YKGLFIAV4SIQ/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NHL72MB6EG4QNC5B3A7CPN6EJVTLKGQQTUIXEWPZGOLPAUTAGKQ/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6DFZT535XOH4CZSMGX2XAPMWLJ2CLY2LORYPIA5WL2EKSOR4AVA/3048.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTQYMVJ57YWA74R75JUAQ654IIFF2ZURB7CEYOXLUXO6RXHV6I3Q/6015.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YI2NDYGYXBFQJRE2SYBD2K2G46NU5F2MOXL3Z7OT62IST65BDZQ/8152.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OR2K2UQFXX7QRDKJB4NXTNECNNMFRNGUMMXMMQGR7UY2SQQ5SIQ/4657.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NONHN33GJKLHO6ABEBZ3NDU4OK72TVRZPDETV3T4PWMONMPHD33Q/9158.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F5GUMTDJ32KO2RYQ6A2C26GHQ77VDIJ3YJQ3UN7FO2ZINI6Z7ADA/9158.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q46F3BP6CGCRELEYIAHKMSWFO7T6FPSYFISWPHZPIUOFIZZHO6VA/9060.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5OE5KHWHOAGHHHXKUSXJ3IENC5RH37W27GFEMEGWPMBJN7C37BQ/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNKM24KK5VNT73THGN4WTFZOOZ7LZGSVQBTR5OZGMZAUYZ55UGMA/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTO5TVCGQRLY5ZI4DTQLETQMB4THH3FF4GG7CEB2FU6FEXOVB3BQ/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZB2G7EJK7PAFVSLDSL65UUUPKDUFEYBHDNPVGF3XYHVSOO3EHVMA/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNLMOTJP3VK5CQWZT2XCRVNHOCYIN3RVQVEKJZ6D5NBXK3BO4QBQ/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAMYRQDLO4AIBBB4A7CA3SIEG6AMNXH2NLQ57LA4FGTYZZY2REEA/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMEDN3RCAXSQZXLFREA3IG4QCL2CV4J66VSGAGQZVLVWHL6OIBUQ/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IY5SKK77XC3ECGYEH7E4HDDYJF6CMD3L7OHPI62F65HULTQCWXEQ/1246.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3EQCTTE456BMRGMT37SNO5LC5PFJJMJUXGAYI4XBYJ3FWHXHPQ/1246.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JCWUOWWUJPPUOHNXQCCGAUY4D7WV5T3IRLW65JPA472OOSRXSLXQ/1246.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILUA6553MXPH2BDQXNSPYIE5VESA77LXQM46MVHTAMFNOEKBE6UA/1246.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VC7MM67WLSJKH5CZJQ55I3PIREZTJWYMYPRMDTDHPDHU6YZ3JH3Q/9536.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZFPCEQ25TTGPC6OPVKOSUW6KDJBEM6UA6KRSI2UEQTDZHFBPD6A/9536.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P56ZP2AKELWRCZ6DNM7GKJ5JNVPW4GTESSYQD2Q6RLTZS4HDZSLQ/1288.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ASVWEFVJA23SK3A6J6UMXB6MXVCMOLL2YDDLRWCGPBDDLVH3YFJQ/1288.js"
            ]
        },
        "BatchGetMembershipDatasources": {
            "http": {
                "requestUri": "/membership/datasources/get"
            },
            "input": {
                "type": "structure",
                "required": [
                    "GraphArns"
                ],
                "members": {
                    "GraphArns": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "MembershipDatasources": {
                        "shape": "Sb"
                    },
                    "UnprocessedGraphs": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "GraphArn": {},
                                "Reason": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/URWGOOVSEMOSKSAGZ6R6KMA6EE3LYEDR3GBCXISOCTTW6MVIY5XA/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HA336UYOOV5V5ZFKMKP6UDI6YTTKQZT23QMWR4B6YKGLFIAV4SIQ/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NHL72MB6EG4QNC5B3A7CPN6EJVTLKGQQTUIXEWPZGOLPAUTAGKQ/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6DFZT535XOH4CZSMGX2XAPMWLJ2CLY2LORYPIA5WL2EKSOR4AVA/3048.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTQYMVJ57YWA74R75JUAQ654IIFF2ZURB7CEYOXLUXO6RXHV6I3Q/6015.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YI2NDYGYXBFQJRE2SYBD2K2G46NU5F2MOXL3Z7OT62IST65BDZQ/8152.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OR2K2UQFXX7QRDKJB4NXTNECNNMFRNGUMMXMMQGR7UY2SQQ5SIQ/4657.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NONHN33GJKLHO6ABEBZ3NDU4OK72TVRZPDETV3T4PWMONMPHD33Q/9158.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F5GUMTDJ32KO2RYQ6A2C26GHQ77VDIJ3YJQ3UN7FO2ZINI6Z7ADA/9158.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q46F3BP6CGCRELEYIAHKMSWFO7T6FPSYFISWPHZPIUOFIZZHO6VA/9060.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5OE5KHWHOAGHHHXKUSXJ3IENC5RH37W27GFEMEGWPMBJN7C37BQ/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNKM24KK5VNT73THGN4WTFZOOZ7LZGSVQBTR5OZGMZAUYZ55UGMA/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTO5TVCGQRLY5ZI4DTQLETQMB4THH3FF4GG7CEB2FU6FEXOVB3BQ/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZB2G7EJK7PAFVSLDSL65UUUPKDUFEYBHDNPVGF3XYHVSOO3EHVMA/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNLMOTJP3VK5CQWZT2XCRVNHOCYIN3RVQVEKJZ6D5NBXK3BO4QBQ/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAMYRQDLO4AIBBB4A7CA3SIEG6AMNXH2NLQ57LA4FGTYZZY2REEA/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMEDN3RCAXSQZXLFREA3IG4QCL2CV4J66VSGAGQZVLVWHL6OIBUQ/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IY5SKK77XC3ECGYEH7E4HDDYJF6CMD3L7OHPI62F65HULTQCWXEQ/1246.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3EQCTTE456BMRGMT37SNO5LC5PFJJMJUXGAYI4XBYJ3FWHXHPQ/1246.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JCWUOWWUJPPUOHNXQCCGAUY4D7WV5T3IRLW65JPA472OOSRXSLXQ/1246.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILUA6553MXPH2BDQXNSPYIE5VESA77LXQM46MVHTAMFNOEKBE6UA/1246.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VC7MM67WLSJKH5CZJQ55I3PIREZTJWYMYPRMDTDHPDHU6YZ3JH3Q/9536.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZFPCEQ25TTGPC6OPVKOSUW6KDJBEM6UA6KRSI2UEQTDZHFBPD6A/9536.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P56ZP2AKELWRCZ6DNM7GKJ5JNVPW4GTESSYQD2Q6RLTZS4HDZSLQ/1288.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ASVWEFVJA23SK3A6J6UMXB6MXVCMOLL2YDDLRWCGPBDDLVH3YFJQ/1288.js"
            ]
        },
        "BlockApiAccessInternal": {
            "http": {
                "method": "PUT",
                "requestUri": "/internal/account/blockedAccess/{AccountId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "AccountId"
                ],
                "members": {
                    "AccountId": {
                        "location": "uri",
                        "locationName": "AccountId"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/URWGOOVSEMOSKSAGZ6R6KMA6EE3LYEDR3GBCXISOCTTW6MVIY5XA/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HA336UYOOV5V5ZFKMKP6UDI6YTTKQZT23QMWR4B6YKGLFIAV4SIQ/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NHL72MB6EG4QNC5B3A7CPN6EJVTLKGQQTUIXEWPZGOLPAUTAGKQ/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6DFZT535XOH4CZSMGX2XAPMWLJ2CLY2LORYPIA5WL2EKSOR4AVA/3048.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTQYMVJ57YWA74R75JUAQ654IIFF2ZURB7CEYOXLUXO6RXHV6I3Q/6015.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YI2NDYGYXBFQJRE2SYBD2K2G46NU5F2MOXL3Z7OT62IST65BDZQ/8152.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OR2K2UQFXX7QRDKJB4NXTNECNNMFRNGUMMXMMQGR7UY2SQQ5SIQ/4657.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NONHN33GJKLHO6ABEBZ3NDU4OK72TVRZPDETV3T4PWMONMPHD33Q/9158.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F5GUMTDJ32KO2RYQ6A2C26GHQ77VDIJ3YJQ3UN7FO2ZINI6Z7ADA/9158.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q46F3BP6CGCRELEYIAHKMSWFO7T6FPSYFISWPHZPIUOFIZZHO6VA/9060.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5OE5KHWHOAGHHHXKUSXJ3IENC5RH37W27GFEMEGWPMBJN7C37BQ/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNKM24KK5VNT73THGN4WTFZOOZ7LZGSVQBTR5OZGMZAUYZ55UGMA/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTO5TVCGQRLY5ZI4DTQLETQMB4THH3FF4GG7CEB2FU6FEXOVB3BQ/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZB2G7EJK7PAFVSLDSL65UUUPKDUFEYBHDNPVGF3XYHVSOO3EHVMA/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNLMOTJP3VK5CQWZT2XCRVNHOCYIN3RVQVEKJZ6D5NBXK3BO4QBQ/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAMYRQDLO4AIBBB4A7CA3SIEG6AMNXH2NLQ57LA4FGTYZZY2REEA/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMEDN3RCAXSQZXLFREA3IG4QCL2CV4J66VSGAGQZVLVWHL6OIBUQ/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IY5SKK77XC3ECGYEH7E4HDDYJF6CMD3L7OHPI62F65HULTQCWXEQ/1246.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3EQCTTE456BMRGMT37SNO5LC5PFJJMJUXGAYI4XBYJ3FWHXHPQ/1246.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JCWUOWWUJPPUOHNXQCCGAUY4D7WV5T3IRLW65JPA472OOSRXSLXQ/1246.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILUA6553MXPH2BDQXNSPYIE5VESA77LXQM46MVHTAMFNOEKBE6UA/1246.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VC7MM67WLSJKH5CZJQ55I3PIREZTJWYMYPRMDTDHPDHU6YZ3JH3Q/9536.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZFPCEQ25TTGPC6OPVKOSUW6KDJBEM6UA6KRSI2UEQTDZHFBPD6A/9536.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P56ZP2AKELWRCZ6DNM7GKJ5JNVPW4GTESSYQD2Q6RLTZS4HDZSLQ/1288.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ASVWEFVJA23SK3A6J6UMXB6MXVCMOLL2YDDLRWCGPBDDLVH3YFJQ/1288.js"
            ]
        },
        "CreateGraph": {
            "http": {
                "requestUri": "/graph"
            },
            "input": {
                "type": "structure",
                "members": {
                    "Tags": {
                        "shape": "St"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "GraphArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/URWGOOVSEMOSKSAGZ6R6KMA6EE3LYEDR3GBCXISOCTTW6MVIY5XA/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HA336UYOOV5V5ZFKMKP6UDI6YTTKQZT23QMWR4B6YKGLFIAV4SIQ/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NHL72MB6EG4QNC5B3A7CPN6EJVTLKGQQTUIXEWPZGOLPAUTAGKQ/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6DFZT535XOH4CZSMGX2XAPMWLJ2CLY2LORYPIA5WL2EKSOR4AVA/3048.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTQYMVJ57YWA74R75JUAQ654IIFF2ZURB7CEYOXLUXO6RXHV6I3Q/6015.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YI2NDYGYXBFQJRE2SYBD2K2G46NU5F2MOXL3Z7OT62IST65BDZQ/8152.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OR2K2UQFXX7QRDKJB4NXTNECNNMFRNGUMMXMMQGR7UY2SQQ5SIQ/4657.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NONHN33GJKLHO6ABEBZ3NDU4OK72TVRZPDETV3T4PWMONMPHD33Q/9158.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F5GUMTDJ32KO2RYQ6A2C26GHQ77VDIJ3YJQ3UN7FO2ZINI6Z7ADA/9158.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q46F3BP6CGCRELEYIAHKMSWFO7T6FPSYFISWPHZPIUOFIZZHO6VA/9060.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5OE5KHWHOAGHHHXKUSXJ3IENC5RH37W27GFEMEGWPMBJN7C37BQ/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNKM24KK5VNT73THGN4WTFZOOZ7LZGSVQBTR5OZGMZAUYZ55UGMA/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTO5TVCGQRLY5ZI4DTQLETQMB4THH3FF4GG7CEB2FU6FEXOVB3BQ/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZB2G7EJK7PAFVSLDSL65UUUPKDUFEYBHDNPVGF3XYHVSOO3EHVMA/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNLMOTJP3VK5CQWZT2XCRVNHOCYIN3RVQVEKJZ6D5NBXK3BO4QBQ/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAMYRQDLO4AIBBB4A7CA3SIEG6AMNXH2NLQ57LA4FGTYZZY2REEA/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMEDN3RCAXSQZXLFREA3IG4QCL2CV4J66VSGAGQZVLVWHL6OIBUQ/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IY5SKK77XC3ECGYEH7E4HDDYJF6CMD3L7OHPI62F65HULTQCWXEQ/1246.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3EQCTTE456BMRGMT37SNO5LC5PFJJMJUXGAYI4XBYJ3FWHXHPQ/1246.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JCWUOWWUJPPUOHNXQCCGAUY4D7WV5T3IRLW65JPA472OOSRXSLXQ/1246.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILUA6553MXPH2BDQXNSPYIE5VESA77LXQM46MVHTAMFNOEKBE6UA/1246.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VC7MM67WLSJKH5CZJQ55I3PIREZTJWYMYPRMDTDHPDHU6YZ3JH3Q/9536.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZFPCEQ25TTGPC6OPVKOSUW6KDJBEM6UA6KRSI2UEQTDZHFBPD6A/9536.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P56ZP2AKELWRCZ6DNM7GKJ5JNVPW4GTESSYQD2Q6RLTZS4HDZSLQ/1288.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ASVWEFVJA23SK3A6J6UMXB6MXVCMOLL2YDDLRWCGPBDDLVH3YFJQ/1288.js"
            ]
        },
        "CreateGraphInternal": {
            "http": {
                "requestUri": "/internal/graph"
            },
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "shardCount"
                ],
                "members": {
                    "name": {},
                    "shardCount": {
                        "type": "integer"
                    },
                    "masterAccount": {},
                    "cellId": {},
                    "startedDatasources": {
                        "shape": "S11"
                    }
                }
            },
            "output": {
                "shape": "S12"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/URWGOOVSEMOSKSAGZ6R6KMA6EE3LYEDR3GBCXISOCTTW6MVIY5XA/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HA336UYOOV5V5ZFKMKP6UDI6YTTKQZT23QMWR4B6YKGLFIAV4SIQ/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NHL72MB6EG4QNC5B3A7CPN6EJVTLKGQQTUIXEWPZGOLPAUTAGKQ/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6DFZT535XOH4CZSMGX2XAPMWLJ2CLY2LORYPIA5WL2EKSOR4AVA/3048.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTQYMVJ57YWA74R75JUAQ654IIFF2ZURB7CEYOXLUXO6RXHV6I3Q/6015.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YI2NDYGYXBFQJRE2SYBD2K2G46NU5F2MOXL3Z7OT62IST65BDZQ/8152.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OR2K2UQFXX7QRDKJB4NXTNECNNMFRNGUMMXMMQGR7UY2SQQ5SIQ/4657.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NONHN33GJKLHO6ABEBZ3NDU4OK72TVRZPDETV3T4PWMONMPHD33Q/9158.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F5GUMTDJ32KO2RYQ6A2C26GHQ77VDIJ3YJQ3UN7FO2ZINI6Z7ADA/9158.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q46F3BP6CGCRELEYIAHKMSWFO7T6FPSYFISWPHZPIUOFIZZHO6VA/9060.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5OE5KHWHOAGHHHXKUSXJ3IENC5RH37W27GFEMEGWPMBJN7C37BQ/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNKM24KK5VNT73THGN4WTFZOOZ7LZGSVQBTR5OZGMZAUYZ55UGMA/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTO5TVCGQRLY5ZI4DTQLETQMB4THH3FF4GG7CEB2FU6FEXOVB3BQ/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZB2G7EJK7PAFVSLDSL65UUUPKDUFEYBHDNPVGF3XYHVSOO3EHVMA/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNLMOTJP3VK5CQWZT2XCRVNHOCYIN3RVQVEKJZ6D5NBXK3BO4QBQ/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAMYRQDLO4AIBBB4A7CA3SIEG6AMNXH2NLQ57LA4FGTYZZY2REEA/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMEDN3RCAXSQZXLFREA3IG4QCL2CV4J66VSGAGQZVLVWHL6OIBUQ/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IY5SKK77XC3ECGYEH7E4HDDYJF6CMD3L7OHPI62F65HULTQCWXEQ/1246.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3EQCTTE456BMRGMT37SNO5LC5PFJJMJUXGAYI4XBYJ3FWHXHPQ/1246.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JCWUOWWUJPPUOHNXQCCGAUY4D7WV5T3IRLW65JPA472OOSRXSLXQ/1246.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILUA6553MXPH2BDQXNSPYIE5VESA77LXQM46MVHTAMFNOEKBE6UA/1246.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VC7MM67WLSJKH5CZJQ55I3PIREZTJWYMYPRMDTDHPDHU6YZ3JH3Q/9536.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZFPCEQ25TTGPC6OPVKOSUW6KDJBEM6UA6KRSI2UEQTDZHFBPD6A/9536.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P56ZP2AKELWRCZ6DNM7GKJ5JNVPW4GTESSYQD2Q6RLTZS4HDZSLQ/1288.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ASVWEFVJA23SK3A6J6UMXB6MXVCMOLL2YDDLRWCGPBDDLVH3YFJQ/1288.js"
            ]
        },
        "CreateMembers": {
            "http": {
                "requestUri": "/graph/members"
            },
            "input": {
                "type": "structure",
                "required": [
                    "GraphArn",
                    "Accounts"
                ],
                "members": {
                    "GraphArn": {},
                    "Message": {
                        "type": "string",
                        "sensitive": true
                    },
                    "DisableEmailNotification": {
                        "type": "boolean"
                    },
                    "Accounts": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "AccountId",
                                "EmailAddress"
                            ],
                            "members": {
                                "AccountId": {},
                                "EmailAddress": {
                                    "shape": "S18"
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Members": {
                        "shape": "S1a"
                    },
                    "UnprocessedAccounts": {
                        "shape": "Sj"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/URWGOOVSEMOSKSAGZ6R6KMA6EE3LYEDR3GBCXISOCTTW6MVIY5XA/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HA336UYOOV5V5ZFKMKP6UDI6YTTKQZT23QMWR4B6YKGLFIAV4SIQ/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NHL72MB6EG4QNC5B3A7CPN6EJVTLKGQQTUIXEWPZGOLPAUTAGKQ/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6DFZT535XOH4CZSMGX2XAPMWLJ2CLY2LORYPIA5WL2EKSOR4AVA/3048.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTQYMVJ57YWA74R75JUAQ654IIFF2ZURB7CEYOXLUXO6RXHV6I3Q/6015.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YI2NDYGYXBFQJRE2SYBD2K2G46NU5F2MOXL3Z7OT62IST65BDZQ/8152.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OR2K2UQFXX7QRDKJB4NXTNECNNMFRNGUMMXMMQGR7UY2SQQ5SIQ/4657.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NONHN33GJKLHO6ABEBZ3NDU4OK72TVRZPDETV3T4PWMONMPHD33Q/9158.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F5GUMTDJ32KO2RYQ6A2C26GHQ77VDIJ3YJQ3UN7FO2ZINI6Z7ADA/9158.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q46F3BP6CGCRELEYIAHKMSWFO7T6FPSYFISWPHZPIUOFIZZHO6VA/9060.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5OE5KHWHOAGHHHXKUSXJ3IENC5RH37W27GFEMEGWPMBJN7C37BQ/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNKM24KK5VNT73THGN4WTFZOOZ7LZGSVQBTR5OZGMZAUYZ55UGMA/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTO5TVCGQRLY5ZI4DTQLETQMB4THH3FF4GG7CEB2FU6FEXOVB3BQ/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZB2G7EJK7PAFVSLDSL65UUUPKDUFEYBHDNPVGF3XYHVSOO3EHVMA/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNLMOTJP3VK5CQWZT2XCRVNHOCYIN3RVQVEKJZ6D5NBXK3BO4QBQ/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAMYRQDLO4AIBBB4A7CA3SIEG6AMNXH2NLQ57LA4FGTYZZY2REEA/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMEDN3RCAXSQZXLFREA3IG4QCL2CV4J66VSGAGQZVLVWHL6OIBUQ/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IY5SKK77XC3ECGYEH7E4HDDYJF6CMD3L7OHPI62F65HULTQCWXEQ/1246.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3EQCTTE456BMRGMT37SNO5LC5PFJJMJUXGAYI4XBYJ3FWHXHPQ/1246.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JCWUOWWUJPPUOHNXQCCGAUY4D7WV5T3IRLW65JPA472OOSRXSLXQ/1246.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILUA6553MXPH2BDQXNSPYIE5VESA77LXQM46MVHTAMFNOEKBE6UA/1246.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VC7MM67WLSJKH5CZJQ55I3PIREZTJWYMYPRMDTDHPDHU6YZ3JH3Q/9536.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZFPCEQ25TTGPC6OPVKOSUW6KDJBEM6UA6KRSI2UEQTDZHFBPD6A/9536.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P56ZP2AKELWRCZ6DNM7GKJ5JNVPW4GTESSYQD2Q6RLTZS4HDZSLQ/1288.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ASVWEFVJA23SK3A6J6UMXB6MXVCMOLL2YDDLRWCGPBDDLVH3YFJQ/1288.js"
            ]
        },
        "DeleteGraph": {
            "http": {
                "requestUri": "/graph/removal"
            },
            "input": {
                "type": "structure",
                "required": [
                    "GraphArn"
                ],
                "members": {
                    "GraphArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/URWGOOVSEMOSKSAGZ6R6KMA6EE3LYEDR3GBCXISOCTTW6MVIY5XA/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HA336UYOOV5V5ZFKMKP6UDI6YTTKQZT23QMWR4B6YKGLFIAV4SIQ/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NHL72MB6EG4QNC5B3A7CPN6EJVTLKGQQTUIXEWPZGOLPAUTAGKQ/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6DFZT535XOH4CZSMGX2XAPMWLJ2CLY2LORYPIA5WL2EKSOR4AVA/3048.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTQYMVJ57YWA74R75JUAQ654IIFF2ZURB7CEYOXLUXO6RXHV6I3Q/6015.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YI2NDYGYXBFQJRE2SYBD2K2G46NU5F2MOXL3Z7OT62IST65BDZQ/8152.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OR2K2UQFXX7QRDKJB4NXTNECNNMFRNGUMMXMMQGR7UY2SQQ5SIQ/4657.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NONHN33GJKLHO6ABEBZ3NDU4OK72TVRZPDETV3T4PWMONMPHD33Q/9158.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F5GUMTDJ32KO2RYQ6A2C26GHQ77VDIJ3YJQ3UN7FO2ZINI6Z7ADA/9158.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q46F3BP6CGCRELEYIAHKMSWFO7T6FPSYFISWPHZPIUOFIZZHO6VA/9060.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5OE5KHWHOAGHHHXKUSXJ3IENC5RH37W27GFEMEGWPMBJN7C37BQ/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNKM24KK5VNT73THGN4WTFZOOZ7LZGSVQBTR5OZGMZAUYZ55UGMA/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTO5TVCGQRLY5ZI4DTQLETQMB4THH3FF4GG7CEB2FU6FEXOVB3BQ/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZB2G7EJK7PAFVSLDSL65UUUPKDUFEYBHDNPVGF3XYHVSOO3EHVMA/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNLMOTJP3VK5CQWZT2XCRVNHOCYIN3RVQVEKJZ6D5NBXK3BO4QBQ/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAMYRQDLO4AIBBB4A7CA3SIEG6AMNXH2NLQ57LA4FGTYZZY2REEA/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMEDN3RCAXSQZXLFREA3IG4QCL2CV4J66VSGAGQZVLVWHL6OIBUQ/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IY5SKK77XC3ECGYEH7E4HDDYJF6CMD3L7OHPI62F65HULTQCWXEQ/1246.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3EQCTTE456BMRGMT37SNO5LC5PFJJMJUXGAYI4XBYJ3FWHXHPQ/1246.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JCWUOWWUJPPUOHNXQCCGAUY4D7WV5T3IRLW65JPA472OOSRXSLXQ/1246.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILUA6553MXPH2BDQXNSPYIE5VESA77LXQM46MVHTAMFNOEKBE6UA/1246.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VC7MM67WLSJKH5CZJQ55I3PIREZTJWYMYPRMDTDHPDHU6YZ3JH3Q/9536.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZFPCEQ25TTGPC6OPVKOSUW6KDJBEM6UA6KRSI2UEQTDZHFBPD6A/9536.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P56ZP2AKELWRCZ6DNM7GKJ5JNVPW4GTESSYQD2Q6RLTZS4HDZSLQ/1288.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ASVWEFVJA23SK3A6J6UMXB6MXVCMOLL2YDDLRWCGPBDDLVH3YFJQ/1288.js"
            ]
        },
        "DeleteGraphInternal": {
            "http": {
                "requestUri": "/internal/graph/removal"
            },
            "input": {
                "shape": "S1l"
            },
            "output": {
                "shape": "S12"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/URWGOOVSEMOSKSAGZ6R6KMA6EE3LYEDR3GBCXISOCTTW6MVIY5XA/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HA336UYOOV5V5ZFKMKP6UDI6YTTKQZT23QMWR4B6YKGLFIAV4SIQ/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NHL72MB6EG4QNC5B3A7CPN6EJVTLKGQQTUIXEWPZGOLPAUTAGKQ/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6DFZT535XOH4CZSMGX2XAPMWLJ2CLY2LORYPIA5WL2EKSOR4AVA/3048.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTQYMVJ57YWA74R75JUAQ654IIFF2ZURB7CEYOXLUXO6RXHV6I3Q/6015.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YI2NDYGYXBFQJRE2SYBD2K2G46NU5F2MOXL3Z7OT62IST65BDZQ/8152.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OR2K2UQFXX7QRDKJB4NXTNECNNMFRNGUMMXMMQGR7UY2SQQ5SIQ/4657.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NONHN33GJKLHO6ABEBZ3NDU4OK72TVRZPDETV3T4PWMONMPHD33Q/9158.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F5GUMTDJ32KO2RYQ6A2C26GHQ77VDIJ3YJQ3UN7FO2ZINI6Z7ADA/9158.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q46F3BP6CGCRELEYIAHKMSWFO7T6FPSYFISWPHZPIUOFIZZHO6VA/9060.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5OE5KHWHOAGHHHXKUSXJ3IENC5RH37W27GFEMEGWPMBJN7C37BQ/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNKM24KK5VNT73THGN4WTFZOOZ7LZGSVQBTR5OZGMZAUYZ55UGMA/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTO5TVCGQRLY5ZI4DTQLETQMB4THH3FF4GG7CEB2FU6FEXOVB3BQ/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZB2G7EJK7PAFVSLDSL65UUUPKDUFEYBHDNPVGF3XYHVSOO3EHVMA/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNLMOTJP3VK5CQWZT2XCRVNHOCYIN3RVQVEKJZ6D5NBXK3BO4QBQ/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAMYRQDLO4AIBBB4A7CA3SIEG6AMNXH2NLQ57LA4FGTYZZY2REEA/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMEDN3RCAXSQZXLFREA3IG4QCL2CV4J66VSGAGQZVLVWHL6OIBUQ/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IY5SKK77XC3ECGYEH7E4HDDYJF6CMD3L7OHPI62F65HULTQCWXEQ/1246.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3EQCTTE456BMRGMT37SNO5LC5PFJJMJUXGAYI4XBYJ3FWHXHPQ/1246.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JCWUOWWUJPPUOHNXQCCGAUY4D7WV5T3IRLW65JPA472OOSRXSLXQ/1246.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILUA6553MXPH2BDQXNSPYIE5VESA77LXQM46MVHTAMFNOEKBE6UA/1246.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VC7MM67WLSJKH5CZJQ55I3PIREZTJWYMYPRMDTDHPDHU6YZ3JH3Q/9536.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZFPCEQ25TTGPC6OPVKOSUW6KDJBEM6UA6KRSI2UEQTDZHFBPD6A/9536.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P56ZP2AKELWRCZ6DNM7GKJ5JNVPW4GTESSYQD2Q6RLTZS4HDZSLQ/1288.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ASVWEFVJA23SK3A6J6UMXB6MXVCMOLL2YDDLRWCGPBDDLVH3YFJQ/1288.js"
            ]
        },
        "DeleteMemberInternal": {
            "http": {
                "requestUri": "/internal/graph/members/delete"
            },
            "input": {
                "type": "structure",
                "required": [
                    "AccountId",
                    "GraphArn"
                ],
                "members": {
                    "AccountId": {},
                    "GraphArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AccountId": {},
                    "GraphArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/URWGOOVSEMOSKSAGZ6R6KMA6EE3LYEDR3GBCXISOCTTW6MVIY5XA/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HA336UYOOV5V5ZFKMKP6UDI6YTTKQZT23QMWR4B6YKGLFIAV4SIQ/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NHL72MB6EG4QNC5B3A7CPN6EJVTLKGQQTUIXEWPZGOLPAUTAGKQ/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6DFZT535XOH4CZSMGX2XAPMWLJ2CLY2LORYPIA5WL2EKSOR4AVA/3048.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTQYMVJ57YWA74R75JUAQ654IIFF2ZURB7CEYOXLUXO6RXHV6I3Q/6015.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YI2NDYGYXBFQJRE2SYBD2K2G46NU5F2MOXL3Z7OT62IST65BDZQ/8152.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OR2K2UQFXX7QRDKJB4NXTNECNNMFRNGUMMXMMQGR7UY2SQQ5SIQ/4657.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NONHN33GJKLHO6ABEBZ3NDU4OK72TVRZPDETV3T4PWMONMPHD33Q/9158.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F5GUMTDJ32KO2RYQ6A2C26GHQ77VDIJ3YJQ3UN7FO2ZINI6Z7ADA/9158.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q46F3BP6CGCRELEYIAHKMSWFO7T6FPSYFISWPHZPIUOFIZZHO6VA/9060.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5OE5KHWHOAGHHHXKUSXJ3IENC5RH37W27GFEMEGWPMBJN7C37BQ/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNKM24KK5VNT73THGN4WTFZOOZ7LZGSVQBTR5OZGMZAUYZ55UGMA/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTO5TVCGQRLY5ZI4DTQLETQMB4THH3FF4GG7CEB2FU6FEXOVB3BQ/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZB2G7EJK7PAFVSLDSL65UUUPKDUFEYBHDNPVGF3XYHVSOO3EHVMA/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNLMOTJP3VK5CQWZT2XCRVNHOCYIN3RVQVEKJZ6D5NBXK3BO4QBQ/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAMYRQDLO4AIBBB4A7CA3SIEG6AMNXH2NLQ57LA4FGTYZZY2REEA/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMEDN3RCAXSQZXLFREA3IG4QCL2CV4J66VSGAGQZVLVWHL6OIBUQ/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IY5SKK77XC3ECGYEH7E4HDDYJF6CMD3L7OHPI62F65HULTQCWXEQ/1246.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3EQCTTE456BMRGMT37SNO5LC5PFJJMJUXGAYI4XBYJ3FWHXHPQ/1246.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JCWUOWWUJPPUOHNXQCCGAUY4D7WV5T3IRLW65JPA472OOSRXSLXQ/1246.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILUA6553MXPH2BDQXNSPYIE5VESA77LXQM46MVHTAMFNOEKBE6UA/1246.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VC7MM67WLSJKH5CZJQ55I3PIREZTJWYMYPRMDTDHPDHU6YZ3JH3Q/9536.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZFPCEQ25TTGPC6OPVKOSUW6KDJBEM6UA6KRSI2UEQTDZHFBPD6A/9536.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P56ZP2AKELWRCZ6DNM7GKJ5JNVPW4GTESSYQD2Q6RLTZS4HDZSLQ/1288.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ASVWEFVJA23SK3A6J6UMXB6MXVCMOLL2YDDLRWCGPBDDLVH3YFJQ/1288.js"
            ]
        },
        "DeleteMembers": {
            "http": {
                "requestUri": "/graph/members/removal"
            },
            "input": {
                "type": "structure",
                "required": [
                    "GraphArn",
                    "AccountIds"
                ],
                "members": {
                    "GraphArn": {},
                    "AccountIds": {
                        "shape": "S5"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AccountIds": {
                        "shape": "S5"
                    },
                    "UnprocessedAccounts": {
                        "shape": "Sj"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/URWGOOVSEMOSKSAGZ6R6KMA6EE3LYEDR3GBCXISOCTTW6MVIY5XA/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HA336UYOOV5V5ZFKMKP6UDI6YTTKQZT23QMWR4B6YKGLFIAV4SIQ/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NHL72MB6EG4QNC5B3A7CPN6EJVTLKGQQTUIXEWPZGOLPAUTAGKQ/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6DFZT535XOH4CZSMGX2XAPMWLJ2CLY2LORYPIA5WL2EKSOR4AVA/3048.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTQYMVJ57YWA74R75JUAQ654IIFF2ZURB7CEYOXLUXO6RXHV6I3Q/6015.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YI2NDYGYXBFQJRE2SYBD2K2G46NU5F2MOXL3Z7OT62IST65BDZQ/8152.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OR2K2UQFXX7QRDKJB4NXTNECNNMFRNGUMMXMMQGR7UY2SQQ5SIQ/4657.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NONHN33GJKLHO6ABEBZ3NDU4OK72TVRZPDETV3T4PWMONMPHD33Q/9158.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F5GUMTDJ32KO2RYQ6A2C26GHQ77VDIJ3YJQ3UN7FO2ZINI6Z7ADA/9158.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q46F3BP6CGCRELEYIAHKMSWFO7T6FPSYFISWPHZPIUOFIZZHO6VA/9060.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5OE5KHWHOAGHHHXKUSXJ3IENC5RH37W27GFEMEGWPMBJN7C37BQ/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNKM24KK5VNT73THGN4WTFZOOZ7LZGSVQBTR5OZGMZAUYZ55UGMA/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTO5TVCGQRLY5ZI4DTQLETQMB4THH3FF4GG7CEB2FU6FEXOVB3BQ/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZB2G7EJK7PAFVSLDSL65UUUPKDUFEYBHDNPVGF3XYHVSOO3EHVMA/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNLMOTJP3VK5CQWZT2XCRVNHOCYIN3RVQVEKJZ6D5NBXK3BO4QBQ/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAMYRQDLO4AIBBB4A7CA3SIEG6AMNXH2NLQ57LA4FGTYZZY2REEA/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMEDN3RCAXSQZXLFREA3IG4QCL2CV4J66VSGAGQZVLVWHL6OIBUQ/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IY5SKK77XC3ECGYEH7E4HDDYJF6CMD3L7OHPI62F65HULTQCWXEQ/1246.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3EQCTTE456BMRGMT37SNO5LC5PFJJMJUXGAYI4XBYJ3FWHXHPQ/1246.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JCWUOWWUJPPUOHNXQCCGAUY4D7WV5T3IRLW65JPA472OOSRXSLXQ/1246.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILUA6553MXPH2BDQXNSPYIE5VESA77LXQM46MVHTAMFNOEKBE6UA/1246.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VC7MM67WLSJKH5CZJQ55I3PIREZTJWYMYPRMDTDHPDHU6YZ3JH3Q/9536.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZFPCEQ25TTGPC6OPVKOSUW6KDJBEM6UA6KRSI2UEQTDZHFBPD6A/9536.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P56ZP2AKELWRCZ6DNM7GKJ5JNVPW4GTESSYQD2Q6RLTZS4HDZSLQ/1288.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ASVWEFVJA23SK3A6J6UMXB6MXVCMOLL2YDDLRWCGPBDDLVH3YFJQ/1288.js"
            ]
        },
        "DescribeAccountInternal": {
            "http": {
                "requestUri": "/internal/account/get"
            },
            "input": {
                "type": "structure",
                "required": [
                    "AccountId"
                ],
                "members": {
                    "AccountId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "FreeTrialEndTime": {
                        "shape": "Si"
                    },
                    "ApiDenyListPresence": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/URWGOOVSEMOSKSAGZ6R6KMA6EE3LYEDR3GBCXISOCTTW6MVIY5XA/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HA336UYOOV5V5ZFKMKP6UDI6YTTKQZT23QMWR4B6YKGLFIAV4SIQ/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NHL72MB6EG4QNC5B3A7CPN6EJVTLKGQQTUIXEWPZGOLPAUTAGKQ/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6DFZT535XOH4CZSMGX2XAPMWLJ2CLY2LORYPIA5WL2EKSOR4AVA/3048.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTQYMVJ57YWA74R75JUAQ654IIFF2ZURB7CEYOXLUXO6RXHV6I3Q/6015.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YI2NDYGYXBFQJRE2SYBD2K2G46NU5F2MOXL3Z7OT62IST65BDZQ/8152.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OR2K2UQFXX7QRDKJB4NXTNECNNMFRNGUMMXMMQGR7UY2SQQ5SIQ/4657.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NONHN33GJKLHO6ABEBZ3NDU4OK72TVRZPDETV3T4PWMONMPHD33Q/9158.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F5GUMTDJ32KO2RYQ6A2C26GHQ77VDIJ3YJQ3UN7FO2ZINI6Z7ADA/9158.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q46F3BP6CGCRELEYIAHKMSWFO7T6FPSYFISWPHZPIUOFIZZHO6VA/9060.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5OE5KHWHOAGHHHXKUSXJ3IENC5RH37W27GFEMEGWPMBJN7C37BQ/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNKM24KK5VNT73THGN4WTFZOOZ7LZGSVQBTR5OZGMZAUYZ55UGMA/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTO5TVCGQRLY5ZI4DTQLETQMB4THH3FF4GG7CEB2FU6FEXOVB3BQ/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZB2G7EJK7PAFVSLDSL65UUUPKDUFEYBHDNPVGF3XYHVSOO3EHVMA/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNLMOTJP3VK5CQWZT2XCRVNHOCYIN3RVQVEKJZ6D5NBXK3BO4QBQ/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAMYRQDLO4AIBBB4A7CA3SIEG6AMNXH2NLQ57LA4FGTYZZY2REEA/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMEDN3RCAXSQZXLFREA3IG4QCL2CV4J66VSGAGQZVLVWHL6OIBUQ/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IY5SKK77XC3ECGYEH7E4HDDYJF6CMD3L7OHPI62F65HULTQCWXEQ/1246.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3EQCTTE456BMRGMT37SNO5LC5PFJJMJUXGAYI4XBYJ3FWHXHPQ/1246.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JCWUOWWUJPPUOHNXQCCGAUY4D7WV5T3IRLW65JPA472OOSRXSLXQ/1246.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILUA6553MXPH2BDQXNSPYIE5VESA77LXQM46MVHTAMFNOEKBE6UA/1246.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VC7MM67WLSJKH5CZJQ55I3PIREZTJWYMYPRMDTDHPDHU6YZ3JH3Q/9536.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZFPCEQ25TTGPC6OPVKOSUW6KDJBEM6UA6KRSI2UEQTDZHFBPD6A/9536.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P56ZP2AKELWRCZ6DNM7GKJ5JNVPW4GTESSYQD2Q6RLTZS4HDZSLQ/1288.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ASVWEFVJA23SK3A6J6UMXB6MXVCMOLL2YDDLRWCGPBDDLVH3YFJQ/1288.js"
            ]
        },
        "DescribeAccountInternalV2": {
            "http": {
                "requestUri": "/internal/account/get/v2"
            },
            "input": {
                "type": "structure",
                "required": [
                    "AccountId"
                ],
                "members": {
                    "AccountId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DatasourcePackageFreeTrialEndTimes": {
                        "shape": "S1v"
                    },
                    "ApiDenyListPresence": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/URWGOOVSEMOSKSAGZ6R6KMA6EE3LYEDR3GBCXISOCTTW6MVIY5XA/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HA336UYOOV5V5ZFKMKP6UDI6YTTKQZT23QMWR4B6YKGLFIAV4SIQ/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NHL72MB6EG4QNC5B3A7CPN6EJVTLKGQQTUIXEWPZGOLPAUTAGKQ/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6DFZT535XOH4CZSMGX2XAPMWLJ2CLY2LORYPIA5WL2EKSOR4AVA/3048.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTQYMVJ57YWA74R75JUAQ654IIFF2ZURB7CEYOXLUXO6RXHV6I3Q/6015.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YI2NDYGYXBFQJRE2SYBD2K2G46NU5F2MOXL3Z7OT62IST65BDZQ/8152.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OR2K2UQFXX7QRDKJB4NXTNECNNMFRNGUMMXMMQGR7UY2SQQ5SIQ/4657.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NONHN33GJKLHO6ABEBZ3NDU4OK72TVRZPDETV3T4PWMONMPHD33Q/9158.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F5GUMTDJ32KO2RYQ6A2C26GHQ77VDIJ3YJQ3UN7FO2ZINI6Z7ADA/9158.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q46F3BP6CGCRELEYIAHKMSWFO7T6FPSYFISWPHZPIUOFIZZHO6VA/9060.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5OE5KHWHOAGHHHXKUSXJ3IENC5RH37W27GFEMEGWPMBJN7C37BQ/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNKM24KK5VNT73THGN4WTFZOOZ7LZGSVQBTR5OZGMZAUYZ55UGMA/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTO5TVCGQRLY5ZI4DTQLETQMB4THH3FF4GG7CEB2FU6FEXOVB3BQ/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZB2G7EJK7PAFVSLDSL65UUUPKDUFEYBHDNPVGF3XYHVSOO3EHVMA/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNLMOTJP3VK5CQWZT2XCRVNHOCYIN3RVQVEKJZ6D5NBXK3BO4QBQ/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAMYRQDLO4AIBBB4A7CA3SIEG6AMNXH2NLQ57LA4FGTYZZY2REEA/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMEDN3RCAXSQZXLFREA3IG4QCL2CV4J66VSGAGQZVLVWHL6OIBUQ/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IY5SKK77XC3ECGYEH7E4HDDYJF6CMD3L7OHPI62F65HULTQCWXEQ/1246.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3EQCTTE456BMRGMT37SNO5LC5PFJJMJUXGAYI4XBYJ3FWHXHPQ/1246.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JCWUOWWUJPPUOHNXQCCGAUY4D7WV5T3IRLW65JPA472OOSRXSLXQ/1246.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILUA6553MXPH2BDQXNSPYIE5VESA77LXQM46MVHTAMFNOEKBE6UA/1246.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VC7MM67WLSJKH5CZJQ55I3PIREZTJWYMYPRMDTDHPDHU6YZ3JH3Q/9536.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZFPCEQ25TTGPC6OPVKOSUW6KDJBEM6UA6KRSI2UEQTDZHFBPD6A/9536.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P56ZP2AKELWRCZ6DNM7GKJ5JNVPW4GTESSYQD2Q6RLTZS4HDZSLQ/1288.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ASVWEFVJA23SK3A6J6UMXB6MXVCMOLL2YDDLRWCGPBDDLVH3YFJQ/1288.js"
            ]
        },
        "DescribeOrganizationConfiguration": {
            "http": {
                "requestUri": "/orgs/describeOrganizationConfiguration"
            },
            "input": {
                "type": "structure",
                "required": [
                    "GraphArn"
                ],
                "members": {
                    "GraphArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AutoEnable": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/URWGOOVSEMOSKSAGZ6R6KMA6EE3LYEDR3GBCXISOCTTW6MVIY5XA/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HA336UYOOV5V5ZFKMKP6UDI6YTTKQZT23QMWR4B6YKGLFIAV4SIQ/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NHL72MB6EG4QNC5B3A7CPN6EJVTLKGQQTUIXEWPZGOLPAUTAGKQ/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6DFZT535XOH4CZSMGX2XAPMWLJ2CLY2LORYPIA5WL2EKSOR4AVA/3048.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTQYMVJ57YWA74R75JUAQ654IIFF2ZURB7CEYOXLUXO6RXHV6I3Q/6015.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YI2NDYGYXBFQJRE2SYBD2K2G46NU5F2MOXL3Z7OT62IST65BDZQ/8152.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OR2K2UQFXX7QRDKJB4NXTNECNNMFRNGUMMXMMQGR7UY2SQQ5SIQ/4657.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NONHN33GJKLHO6ABEBZ3NDU4OK72TVRZPDETV3T4PWMONMPHD33Q/9158.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F5GUMTDJ32KO2RYQ6A2C26GHQ77VDIJ3YJQ3UN7FO2ZINI6Z7ADA/9158.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q46F3BP6CGCRELEYIAHKMSWFO7T6FPSYFISWPHZPIUOFIZZHO6VA/9060.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5OE5KHWHOAGHHHXKUSXJ3IENC5RH37W27GFEMEGWPMBJN7C37BQ/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNKM24KK5VNT73THGN4WTFZOOZ7LZGSVQBTR5OZGMZAUYZ55UGMA/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTO5TVCGQRLY5ZI4DTQLETQMB4THH3FF4GG7CEB2FU6FEXOVB3BQ/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZB2G7EJK7PAFVSLDSL65UUUPKDUFEYBHDNPVGF3XYHVSOO3EHVMA/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNLMOTJP3VK5CQWZT2XCRVNHOCYIN3RVQVEKJZ6D5NBXK3BO4QBQ/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAMYRQDLO4AIBBB4A7CA3SIEG6AMNXH2NLQ57LA4FGTYZZY2REEA/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMEDN3RCAXSQZXLFREA3IG4QCL2CV4J66VSGAGQZVLVWHL6OIBUQ/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IY5SKK77XC3ECGYEH7E4HDDYJF6CMD3L7OHPI62F65HULTQCWXEQ/1246.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3EQCTTE456BMRGMT37SNO5LC5PFJJMJUXGAYI4XBYJ3FWHXHPQ/1246.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JCWUOWWUJPPUOHNXQCCGAUY4D7WV5T3IRLW65JPA472OOSRXSLXQ/1246.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILUA6553MXPH2BDQXNSPYIE5VESA77LXQM46MVHTAMFNOEKBE6UA/1246.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VC7MM67WLSJKH5CZJQ55I3PIREZTJWYMYPRMDTDHPDHU6YZ3JH3Q/9536.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZFPCEQ25TTGPC6OPVKOSUW6KDJBEM6UA6KRSI2UEQTDZHFBPD6A/9536.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P56ZP2AKELWRCZ6DNM7GKJ5JNVPW4GTESSYQD2Q6RLTZS4HDZSLQ/1288.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ASVWEFVJA23SK3A6J6UMXB6MXVCMOLL2YDDLRWCGPBDDLVH3YFJQ/1288.js"
            ]
        },
        "DisableOrganizationAdminAccount": {
            "http": {
                "requestUri": "/orgs/disableAdminAccount"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/URWGOOVSEMOSKSAGZ6R6KMA6EE3LYEDR3GBCXISOCTTW6MVIY5XA/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HA336UYOOV5V5ZFKMKP6UDI6YTTKQZT23QMWR4B6YKGLFIAV4SIQ/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NHL72MB6EG4QNC5B3A7CPN6EJVTLKGQQTUIXEWPZGOLPAUTAGKQ/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6DFZT535XOH4CZSMGX2XAPMWLJ2CLY2LORYPIA5WL2EKSOR4AVA/3048.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTQYMVJ57YWA74R75JUAQ654IIFF2ZURB7CEYOXLUXO6RXHV6I3Q/6015.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YI2NDYGYXBFQJRE2SYBD2K2G46NU5F2MOXL3Z7OT62IST65BDZQ/8152.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OR2K2UQFXX7QRDKJB4NXTNECNNMFRNGUMMXMMQGR7UY2SQQ5SIQ/4657.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NONHN33GJKLHO6ABEBZ3NDU4OK72TVRZPDETV3T4PWMONMPHD33Q/9158.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F5GUMTDJ32KO2RYQ6A2C26GHQ77VDIJ3YJQ3UN7FO2ZINI6Z7ADA/9158.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q46F3BP6CGCRELEYIAHKMSWFO7T6FPSYFISWPHZPIUOFIZZHO6VA/9060.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5OE5KHWHOAGHHHXKUSXJ3IENC5RH37W27GFEMEGWPMBJN7C37BQ/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNKM24KK5VNT73THGN4WTFZOOZ7LZGSVQBTR5OZGMZAUYZ55UGMA/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTO5TVCGQRLY5ZI4DTQLETQMB4THH3FF4GG7CEB2FU6FEXOVB3BQ/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZB2G7EJK7PAFVSLDSL65UUUPKDUFEYBHDNPVGF3XYHVSOO3EHVMA/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNLMOTJP3VK5CQWZT2XCRVNHOCYIN3RVQVEKJZ6D5NBXK3BO4QBQ/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAMYRQDLO4AIBBB4A7CA3SIEG6AMNXH2NLQ57LA4FGTYZZY2REEA/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMEDN3RCAXSQZXLFREA3IG4QCL2CV4J66VSGAGQZVLVWHL6OIBUQ/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IY5SKK77XC3ECGYEH7E4HDDYJF6CMD3L7OHPI62F65HULTQCWXEQ/1246.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3EQCTTE456BMRGMT37SNO5LC5PFJJMJUXGAYI4XBYJ3FWHXHPQ/1246.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JCWUOWWUJPPUOHNXQCCGAUY4D7WV5T3IRLW65JPA472OOSRXSLXQ/1246.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILUA6553MXPH2BDQXNSPYIE5VESA77LXQM46MVHTAMFNOEKBE6UA/1246.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VC7MM67WLSJKH5CZJQ55I3PIREZTJWYMYPRMDTDHPDHU6YZ3JH3Q/9536.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZFPCEQ25TTGPC6OPVKOSUW6KDJBEM6UA6KRSI2UEQTDZHFBPD6A/9536.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P56ZP2AKELWRCZ6DNM7GKJ5JNVPW4GTESSYQD2Q6RLTZS4HDZSLQ/1288.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ASVWEFVJA23SK3A6J6UMXB6MXVCMOLL2YDDLRWCGPBDDLVH3YFJQ/1288.js"
            ]
        },
        "DisassociateMembership": {
            "http": {
                "requestUri": "/membership/removal"
            },
            "input": {
                "type": "structure",
                "required": [
                    "GraphArn"
                ],
                "members": {
                    "GraphArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/URWGOOVSEMOSKSAGZ6R6KMA6EE3LYEDR3GBCXISOCTTW6MVIY5XA/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HA336UYOOV5V5ZFKMKP6UDI6YTTKQZT23QMWR4B6YKGLFIAV4SIQ/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NHL72MB6EG4QNC5B3A7CPN6EJVTLKGQQTUIXEWPZGOLPAUTAGKQ/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6DFZT535XOH4CZSMGX2XAPMWLJ2CLY2LORYPIA5WL2EKSOR4AVA/3048.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTQYMVJ57YWA74R75JUAQ654IIFF2ZURB7CEYOXLUXO6RXHV6I3Q/6015.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YI2NDYGYXBFQJRE2SYBD2K2G46NU5F2MOXL3Z7OT62IST65BDZQ/8152.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OR2K2UQFXX7QRDKJB4NXTNECNNMFRNGUMMXMMQGR7UY2SQQ5SIQ/4657.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NONHN33GJKLHO6ABEBZ3NDU4OK72TVRZPDETV3T4PWMONMPHD33Q/9158.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F5GUMTDJ32KO2RYQ6A2C26GHQ77VDIJ3YJQ3UN7FO2ZINI6Z7ADA/9158.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q46F3BP6CGCRELEYIAHKMSWFO7T6FPSYFISWPHZPIUOFIZZHO6VA/9060.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5OE5KHWHOAGHHHXKUSXJ3IENC5RH37W27GFEMEGWPMBJN7C37BQ/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNKM24KK5VNT73THGN4WTFZOOZ7LZGSVQBTR5OZGMZAUYZ55UGMA/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTO5TVCGQRLY5ZI4DTQLETQMB4THH3FF4GG7CEB2FU6FEXOVB3BQ/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZB2G7EJK7PAFVSLDSL65UUUPKDUFEYBHDNPVGF3XYHVSOO3EHVMA/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNLMOTJP3VK5CQWZT2XCRVNHOCYIN3RVQVEKJZ6D5NBXK3BO4QBQ/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAMYRQDLO4AIBBB4A7CA3SIEG6AMNXH2NLQ57LA4FGTYZZY2REEA/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMEDN3RCAXSQZXLFREA3IG4QCL2CV4J66VSGAGQZVLVWHL6OIBUQ/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IY5SKK77XC3ECGYEH7E4HDDYJF6CMD3L7OHPI62F65HULTQCWXEQ/1246.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3EQCTTE456BMRGMT37SNO5LC5PFJJMJUXGAYI4XBYJ3FWHXHPQ/1246.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JCWUOWWUJPPUOHNXQCCGAUY4D7WV5T3IRLW65JPA472OOSRXSLXQ/1246.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILUA6553MXPH2BDQXNSPYIE5VESA77LXQM46MVHTAMFNOEKBE6UA/1246.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VC7MM67WLSJKH5CZJQ55I3PIREZTJWYMYPRMDTDHPDHU6YZ3JH3Q/9536.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZFPCEQ25TTGPC6OPVKOSUW6KDJBEM6UA6KRSI2UEQTDZHFBPD6A/9536.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P56ZP2AKELWRCZ6DNM7GKJ5JNVPW4GTESSYQD2Q6RLTZS4HDZSLQ/1288.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ASVWEFVJA23SK3A6J6UMXB6MXVCMOLL2YDDLRWCGPBDDLVH3YFJQ/1288.js"
            ]
        },
        "EnableOrganizationAdminAccount": {
            "http": {
                "requestUri": "/orgs/enableAdminAccount"
            },
            "input": {
                "type": "structure",
                "required": [
                    "AccountId"
                ],
                "members": {
                    "AccountId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/URWGOOVSEMOSKSAGZ6R6KMA6EE3LYEDR3GBCXISOCTTW6MVIY5XA/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HA336UYOOV5V5ZFKMKP6UDI6YTTKQZT23QMWR4B6YKGLFIAV4SIQ/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NHL72MB6EG4QNC5B3A7CPN6EJVTLKGQQTUIXEWPZGOLPAUTAGKQ/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6DFZT535XOH4CZSMGX2XAPMWLJ2CLY2LORYPIA5WL2EKSOR4AVA/3048.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTQYMVJ57YWA74R75JUAQ654IIFF2ZURB7CEYOXLUXO6RXHV6I3Q/6015.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YI2NDYGYXBFQJRE2SYBD2K2G46NU5F2MOXL3Z7OT62IST65BDZQ/8152.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OR2K2UQFXX7QRDKJB4NXTNECNNMFRNGUMMXMMQGR7UY2SQQ5SIQ/4657.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NONHN33GJKLHO6ABEBZ3NDU4OK72TVRZPDETV3T4PWMONMPHD33Q/9158.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F5GUMTDJ32KO2RYQ6A2C26GHQ77VDIJ3YJQ3UN7FO2ZINI6Z7ADA/9158.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q46F3BP6CGCRELEYIAHKMSWFO7T6FPSYFISWPHZPIUOFIZZHO6VA/9060.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5OE5KHWHOAGHHHXKUSXJ3IENC5RH37W27GFEMEGWPMBJN7C37BQ/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNKM24KK5VNT73THGN4WTFZOOZ7LZGSVQBTR5OZGMZAUYZ55UGMA/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTO5TVCGQRLY5ZI4DTQLETQMB4THH3FF4GG7CEB2FU6FEXOVB3BQ/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZB2G7EJK7PAFVSLDSL65UUUPKDUFEYBHDNPVGF3XYHVSOO3EHVMA/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNLMOTJP3VK5CQWZT2XCRVNHOCYIN3RVQVEKJZ6D5NBXK3BO4QBQ/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAMYRQDLO4AIBBB4A7CA3SIEG6AMNXH2NLQ57LA4FGTYZZY2REEA/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMEDN3RCAXSQZXLFREA3IG4QCL2CV4J66VSGAGQZVLVWHL6OIBUQ/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IY5SKK77XC3ECGYEH7E4HDDYJF6CMD3L7OHPI62F65HULTQCWXEQ/1246.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3EQCTTE456BMRGMT37SNO5LC5PFJJMJUXGAYI4XBYJ3FWHXHPQ/1246.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JCWUOWWUJPPUOHNXQCCGAUY4D7WV5T3IRLW65JPA472OOSRXSLXQ/1246.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILUA6553MXPH2BDQXNSPYIE5VESA77LXQM46MVHTAMFNOEKBE6UA/1246.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VC7MM67WLSJKH5CZJQ55I3PIREZTJWYMYPRMDTDHPDHU6YZ3JH3Q/9536.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZFPCEQ25TTGPC6OPVKOSUW6KDJBEM6UA6KRSI2UEQTDZHFBPD6A/9536.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P56ZP2AKELWRCZ6DNM7GKJ5JNVPW4GTESSYQD2Q6RLTZS4HDZSLQ/1288.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ASVWEFVJA23SK3A6J6UMXB6MXVCMOLL2YDDLRWCGPBDDLVH3YFJQ/1288.js"
            ]
        },
        "GetGraphInfo": {
            "http": {
                "requestUri": "/graph/info"
            },
            "input": {
                "shape": "S1l"
            },
            "output": {
                "type": "structure",
                "required": [
                    "shardCount",
                    "name",
                    "accountId",
                    "isDeleted"
                ],
                "members": {
                    "backedByMssTable": {
                        "type": "boolean"
                    },
                    "shardCount": {
                        "type": "integer"
                    },
                    "name": {},
                    "accountId": {},
                    "creationTime": {
                        "type": "long"
                    },
                    "isDeleted": {
                        "type": "boolean"
                    },
                    "isSuspended": {
                        "type": "boolean"
                    },
                    "deletionTime": {
                        "type": "long"
                    },
                    "suspensionTime": {
                        "type": "long"
                    },
                    "ingestState": {},
                    "metadata": {
                        "type": "map",
                        "key": {},
                        "value": {}
                    },
                    "organizationAdmin": {},
                    "datasourcePackages": {
                        "type": "map",
                        "key": {},
                        "value": {}
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/URWGOOVSEMOSKSAGZ6R6KMA6EE3LYEDR3GBCXISOCTTW6MVIY5XA/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HA336UYOOV5V5ZFKMKP6UDI6YTTKQZT23QMWR4B6YKGLFIAV4SIQ/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NHL72MB6EG4QNC5B3A7CPN6EJVTLKGQQTUIXEWPZGOLPAUTAGKQ/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6DFZT535XOH4CZSMGX2XAPMWLJ2CLY2LORYPIA5WL2EKSOR4AVA/3048.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTQYMVJ57YWA74R75JUAQ654IIFF2ZURB7CEYOXLUXO6RXHV6I3Q/6015.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YI2NDYGYXBFQJRE2SYBD2K2G46NU5F2MOXL3Z7OT62IST65BDZQ/8152.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OR2K2UQFXX7QRDKJB4NXTNECNNMFRNGUMMXMMQGR7UY2SQQ5SIQ/4657.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NONHN33GJKLHO6ABEBZ3NDU4OK72TVRZPDETV3T4PWMONMPHD33Q/9158.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F5GUMTDJ32KO2RYQ6A2C26GHQ77VDIJ3YJQ3UN7FO2ZINI6Z7ADA/9158.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q46F3BP6CGCRELEYIAHKMSWFO7T6FPSYFISWPHZPIUOFIZZHO6VA/9060.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5OE5KHWHOAGHHHXKUSXJ3IENC5RH37W27GFEMEGWPMBJN7C37BQ/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNKM24KK5VNT73THGN4WTFZOOZ7LZGSVQBTR5OZGMZAUYZ55UGMA/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTO5TVCGQRLY5ZI4DTQLETQMB4THH3FF4GG7CEB2FU6FEXOVB3BQ/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZB2G7EJK7PAFVSLDSL65UUUPKDUFEYBHDNPVGF3XYHVSOO3EHVMA/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNLMOTJP3VK5CQWZT2XCRVNHOCYIN3RVQVEKJZ6D5NBXK3BO4QBQ/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAMYRQDLO4AIBBB4A7CA3SIEG6AMNXH2NLQ57LA4FGTYZZY2REEA/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMEDN3RCAXSQZXLFREA3IG4QCL2CV4J66VSGAGQZVLVWHL6OIBUQ/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IY5SKK77XC3ECGYEH7E4HDDYJF6CMD3L7OHPI62F65HULTQCWXEQ/1246.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3EQCTTE456BMRGMT37SNO5LC5PFJJMJUXGAYI4XBYJ3FWHXHPQ/1246.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JCWUOWWUJPPUOHNXQCCGAUY4D7WV5T3IRLW65JPA472OOSRXSLXQ/1246.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILUA6553MXPH2BDQXNSPYIE5VESA77LXQM46MVHTAMFNOEKBE6UA/1246.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VC7MM67WLSJKH5CZJQ55I3PIREZTJWYMYPRMDTDHPDHU6YZ3JH3Q/9536.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZFPCEQ25TTGPC6OPVKOSUW6KDJBEM6UA6KRSI2UEQTDZHFBPD6A/9536.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P56ZP2AKELWRCZ6DNM7GKJ5JNVPW4GTESSYQD2Q6RLTZS4HDZSLQ/1288.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ASVWEFVJA23SK3A6J6UMXB6MXVCMOLL2YDDLRWCGPBDDLVH3YFJQ/1288.js"
            ]
        },
        "GetMembers": {
            "http": {
                "requestUri": "/graph/members/get"
            },
            "input": {
                "type": "structure",
                "required": [
                    "GraphArn",
                    "AccountIds"
                ],
                "members": {
                    "GraphArn": {},
                    "AccountIds": {
                        "shape": "S5"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "MemberDetails": {
                        "shape": "S1a"
                    },
                    "UnprocessedAccounts": {
                        "shape": "Sj"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/URWGOOVSEMOSKSAGZ6R6KMA6EE3LYEDR3GBCXISOCTTW6MVIY5XA/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HA336UYOOV5V5ZFKMKP6UDI6YTTKQZT23QMWR4B6YKGLFIAV4SIQ/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NHL72MB6EG4QNC5B3A7CPN6EJVTLKGQQTUIXEWPZGOLPAUTAGKQ/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6DFZT535XOH4CZSMGX2XAPMWLJ2CLY2LORYPIA5WL2EKSOR4AVA/3048.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTQYMVJ57YWA74R75JUAQ654IIFF2ZURB7CEYOXLUXO6RXHV6I3Q/6015.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YI2NDYGYXBFQJRE2SYBD2K2G46NU5F2MOXL3Z7OT62IST65BDZQ/8152.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OR2K2UQFXX7QRDKJB4NXTNECNNMFRNGUMMXMMQGR7UY2SQQ5SIQ/4657.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NONHN33GJKLHO6ABEBZ3NDU4OK72TVRZPDETV3T4PWMONMPHD33Q/9158.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F5GUMTDJ32KO2RYQ6A2C26GHQ77VDIJ3YJQ3UN7FO2ZINI6Z7ADA/9158.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q46F3BP6CGCRELEYIAHKMSWFO7T6FPSYFISWPHZPIUOFIZZHO6VA/9060.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5OE5KHWHOAGHHHXKUSXJ3IENC5RH37W27GFEMEGWPMBJN7C37BQ/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNKM24KK5VNT73THGN4WTFZOOZ7LZGSVQBTR5OZGMZAUYZ55UGMA/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTO5TVCGQRLY5ZI4DTQLETQMB4THH3FF4GG7CEB2FU6FEXOVB3BQ/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZB2G7EJK7PAFVSLDSL65UUUPKDUFEYBHDNPVGF3XYHVSOO3EHVMA/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNLMOTJP3VK5CQWZT2XCRVNHOCYIN3RVQVEKJZ6D5NBXK3BO4QBQ/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAMYRQDLO4AIBBB4A7CA3SIEG6AMNXH2NLQ57LA4FGTYZZY2REEA/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMEDN3RCAXSQZXLFREA3IG4QCL2CV4J66VSGAGQZVLVWHL6OIBUQ/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IY5SKK77XC3ECGYEH7E4HDDYJF6CMD3L7OHPI62F65HULTQCWXEQ/1246.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3EQCTTE456BMRGMT37SNO5LC5PFJJMJUXGAYI4XBYJ3FWHXHPQ/1246.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JCWUOWWUJPPUOHNXQCCGAUY4D7WV5T3IRLW65JPA472OOSRXSLXQ/1246.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILUA6553MXPH2BDQXNSPYIE5VESA77LXQM46MVHTAMFNOEKBE6UA/1246.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VC7MM67WLSJKH5CZJQ55I3PIREZTJWYMYPRMDTDHPDHU6YZ3JH3Q/9536.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZFPCEQ25TTGPC6OPVKOSUW6KDJBEM6UA6KRSI2UEQTDZHFBPD6A/9536.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P56ZP2AKELWRCZ6DNM7GKJ5JNVPW4GTESSYQD2Q6RLTZS4HDZSLQ/1288.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ASVWEFVJA23SK3A6J6UMXB6MXVCMOLL2YDDLRWCGPBDDLVH3YFJQ/1288.js"
            ]
        },
        "GetMembersInternal": {
            "http": {
                "requestUri": "/internal/graph/members/get"
            },
            "input": {
                "type": "structure",
                "required": [
                    "GraphArn",
                    "AccountIds"
                ],
                "members": {
                    "GraphArn": {},
                    "AccountIds": {
                        "shape": "S5"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "MemberDetails": {
                        "shape": "S2b"
                    },
                    "UnprocessedAccounts": {
                        "shape": "Sj"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/URWGOOVSEMOSKSAGZ6R6KMA6EE3LYEDR3GBCXISOCTTW6MVIY5XA/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HA336UYOOV5V5ZFKMKP6UDI6YTTKQZT23QMWR4B6YKGLFIAV4SIQ/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NHL72MB6EG4QNC5B3A7CPN6EJVTLKGQQTUIXEWPZGOLPAUTAGKQ/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6DFZT535XOH4CZSMGX2XAPMWLJ2CLY2LORYPIA5WL2EKSOR4AVA/3048.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTQYMVJ57YWA74R75JUAQ654IIFF2ZURB7CEYOXLUXO6RXHV6I3Q/6015.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YI2NDYGYXBFQJRE2SYBD2K2G46NU5F2MOXL3Z7OT62IST65BDZQ/8152.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OR2K2UQFXX7QRDKJB4NXTNECNNMFRNGUMMXMMQGR7UY2SQQ5SIQ/4657.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NONHN33GJKLHO6ABEBZ3NDU4OK72TVRZPDETV3T4PWMONMPHD33Q/9158.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F5GUMTDJ32KO2RYQ6A2C26GHQ77VDIJ3YJQ3UN7FO2ZINI6Z7ADA/9158.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q46F3BP6CGCRELEYIAHKMSWFO7T6FPSYFISWPHZPIUOFIZZHO6VA/9060.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5OE5KHWHOAGHHHXKUSXJ3IENC5RH37W27GFEMEGWPMBJN7C37BQ/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNKM24KK5VNT73THGN4WTFZOOZ7LZGSVQBTR5OZGMZAUYZ55UGMA/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTO5TVCGQRLY5ZI4DTQLETQMB4THH3FF4GG7CEB2FU6FEXOVB3BQ/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZB2G7EJK7PAFVSLDSL65UUUPKDUFEYBHDNPVGF3XYHVSOO3EHVMA/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNLMOTJP3VK5CQWZT2XCRVNHOCYIN3RVQVEKJZ6D5NBXK3BO4QBQ/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAMYRQDLO4AIBBB4A7CA3SIEG6AMNXH2NLQ57LA4FGTYZZY2REEA/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMEDN3RCAXSQZXLFREA3IG4QCL2CV4J66VSGAGQZVLVWHL6OIBUQ/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IY5SKK77XC3ECGYEH7E4HDDYJF6CMD3L7OHPI62F65HULTQCWXEQ/1246.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3EQCTTE456BMRGMT37SNO5LC5PFJJMJUXGAYI4XBYJ3FWHXHPQ/1246.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JCWUOWWUJPPUOHNXQCCGAUY4D7WV5T3IRLW65JPA472OOSRXSLXQ/1246.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILUA6553MXPH2BDQXNSPYIE5VESA77LXQM46MVHTAMFNOEKBE6UA/1246.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VC7MM67WLSJKH5CZJQ55I3PIREZTJWYMYPRMDTDHPDHU6YZ3JH3Q/9536.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZFPCEQ25TTGPC6OPVKOSUW6KDJBEM6UA6KRSI2UEQTDZHFBPD6A/9536.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P56ZP2AKELWRCZ6DNM7GKJ5JNVPW4GTESSYQD2Q6RLTZS4HDZSLQ/1288.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ASVWEFVJA23SK3A6J6UMXB6MXVCMOLL2YDDLRWCGPBDDLVH3YFJQ/1288.js"
            ]
        },
        "GetMembersInternalV2": {
            "http": {
                "requestUri": "/internal/graph/members/get/v2"
            },
            "input": {
                "type": "structure",
                "required": [
                    "GraphArn",
                    "AccountIds"
                ],
                "members": {
                    "GraphArn": {},
                    "AccountIds": {
                        "shape": "S5"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "MemberDetails": {
                        "shape": "S2h"
                    },
                    "UnprocessedAccounts": {
                        "shape": "Sj"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/URWGOOVSEMOSKSAGZ6R6KMA6EE3LYEDR3GBCXISOCTTW6MVIY5XA/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HA336UYOOV5V5ZFKMKP6UDI6YTTKQZT23QMWR4B6YKGLFIAV4SIQ/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NHL72MB6EG4QNC5B3A7CPN6EJVTLKGQQTUIXEWPZGOLPAUTAGKQ/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6DFZT535XOH4CZSMGX2XAPMWLJ2CLY2LORYPIA5WL2EKSOR4AVA/3048.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTQYMVJ57YWA74R75JUAQ654IIFF2ZURB7CEYOXLUXO6RXHV6I3Q/6015.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YI2NDYGYXBFQJRE2SYBD2K2G46NU5F2MOXL3Z7OT62IST65BDZQ/8152.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OR2K2UQFXX7QRDKJB4NXTNECNNMFRNGUMMXMMQGR7UY2SQQ5SIQ/4657.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NONHN33GJKLHO6ABEBZ3NDU4OK72TVRZPDETV3T4PWMONMPHD33Q/9158.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F5GUMTDJ32KO2RYQ6A2C26GHQ77VDIJ3YJQ3UN7FO2ZINI6Z7ADA/9158.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q46F3BP6CGCRELEYIAHKMSWFO7T6FPSYFISWPHZPIUOFIZZHO6VA/9060.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5OE5KHWHOAGHHHXKUSXJ3IENC5RH37W27GFEMEGWPMBJN7C37BQ/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNKM24KK5VNT73THGN4WTFZOOZ7LZGSVQBTR5OZGMZAUYZ55UGMA/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTO5TVCGQRLY5ZI4DTQLETQMB4THH3FF4GG7CEB2FU6FEXOVB3BQ/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZB2G7EJK7PAFVSLDSL65UUUPKDUFEYBHDNPVGF3XYHVSOO3EHVMA/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNLMOTJP3VK5CQWZT2XCRVNHOCYIN3RVQVEKJZ6D5NBXK3BO4QBQ/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAMYRQDLO4AIBBB4A7CA3SIEG6AMNXH2NLQ57LA4FGTYZZY2REEA/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMEDN3RCAXSQZXLFREA3IG4QCL2CV4J66VSGAGQZVLVWHL6OIBUQ/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IY5SKK77XC3ECGYEH7E4HDDYJF6CMD3L7OHPI62F65HULTQCWXEQ/1246.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3EQCTTE456BMRGMT37SNO5LC5PFJJMJUXGAYI4XBYJ3FWHXHPQ/1246.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JCWUOWWUJPPUOHNXQCCGAUY4D7WV5T3IRLW65JPA472OOSRXSLXQ/1246.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILUA6553MXPH2BDQXNSPYIE5VESA77LXQM46MVHTAMFNOEKBE6UA/1246.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VC7MM67WLSJKH5CZJQ55I3PIREZTJWYMYPRMDTDHPDHU6YZ3JH3Q/9536.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZFPCEQ25TTGPC6OPVKOSUW6KDJBEM6UA6KRSI2UEQTDZHFBPD6A/9536.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P56ZP2AKELWRCZ6DNM7GKJ5JNVPW4GTESSYQD2Q6RLTZS4HDZSLQ/1288.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ASVWEFVJA23SK3A6J6UMXB6MXVCMOLL2YDDLRWCGPBDDLVH3YFJQ/1288.js"
            ]
        },
        "ListAllGraphs": {
            "http": {
                "method": "GET",
                "requestUri": "/graphs/all"
            },
            "input": {
                "type": "structure",
                "members": {
                    "includeDeleted": {
                        "location": "querystring",
                        "locationName": "includeDeleted",
                        "type": "boolean"
                    },
                    "masterAccount": {
                        "location": "querystring",
                        "locationName": "masterAccount"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "graphNameIdList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "name": {},
                                "arn": {},
                                "graphId": {},
                                "masterAccount": {},
                                "shardCount": {
                                    "type": "integer"
                                },
                                "ingestState": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/URWGOOVSEMOSKSAGZ6R6KMA6EE3LYEDR3GBCXISOCTTW6MVIY5XA/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HA336UYOOV5V5ZFKMKP6UDI6YTTKQZT23QMWR4B6YKGLFIAV4SIQ/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NHL72MB6EG4QNC5B3A7CPN6EJVTLKGQQTUIXEWPZGOLPAUTAGKQ/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6DFZT535XOH4CZSMGX2XAPMWLJ2CLY2LORYPIA5WL2EKSOR4AVA/3048.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTQYMVJ57YWA74R75JUAQ654IIFF2ZURB7CEYOXLUXO6RXHV6I3Q/6015.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YI2NDYGYXBFQJRE2SYBD2K2G46NU5F2MOXL3Z7OT62IST65BDZQ/8152.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OR2K2UQFXX7QRDKJB4NXTNECNNMFRNGUMMXMMQGR7UY2SQQ5SIQ/4657.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NONHN33GJKLHO6ABEBZ3NDU4OK72TVRZPDETV3T4PWMONMPHD33Q/9158.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F5GUMTDJ32KO2RYQ6A2C26GHQ77VDIJ3YJQ3UN7FO2ZINI6Z7ADA/9158.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q46F3BP6CGCRELEYIAHKMSWFO7T6FPSYFISWPHZPIUOFIZZHO6VA/9060.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5OE5KHWHOAGHHHXKUSXJ3IENC5RH37W27GFEMEGWPMBJN7C37BQ/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNKM24KK5VNT73THGN4WTFZOOZ7LZGSVQBTR5OZGMZAUYZ55UGMA/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTO5TVCGQRLY5ZI4DTQLETQMB4THH3FF4GG7CEB2FU6FEXOVB3BQ/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZB2G7EJK7PAFVSLDSL65UUUPKDUFEYBHDNPVGF3XYHVSOO3EHVMA/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNLMOTJP3VK5CQWZT2XCRVNHOCYIN3RVQVEKJZ6D5NBXK3BO4QBQ/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAMYRQDLO4AIBBB4A7CA3SIEG6AMNXH2NLQ57LA4FGTYZZY2REEA/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMEDN3RCAXSQZXLFREA3IG4QCL2CV4J66VSGAGQZVLVWHL6OIBUQ/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IY5SKK77XC3ECGYEH7E4HDDYJF6CMD3L7OHPI62F65HULTQCWXEQ/1246.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3EQCTTE456BMRGMT37SNO5LC5PFJJMJUXGAYI4XBYJ3FWHXHPQ/1246.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JCWUOWWUJPPUOHNXQCCGAUY4D7WV5T3IRLW65JPA472OOSRXSLXQ/1246.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILUA6553MXPH2BDQXNSPYIE5VESA77LXQM46MVHTAMFNOEKBE6UA/1246.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VC7MM67WLSJKH5CZJQ55I3PIREZTJWYMYPRMDTDHPDHU6YZ3JH3Q/9536.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZFPCEQ25TTGPC6OPVKOSUW6KDJBEM6UA6KRSI2UEQTDZHFBPD6A/9536.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P56ZP2AKELWRCZ6DNM7GKJ5JNVPW4GTESSYQD2Q6RLTZS4HDZSLQ/1288.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ASVWEFVJA23SK3A6J6UMXB6MXVCMOLL2YDDLRWCGPBDDLVH3YFJQ/1288.js"
            ]
        },
        "ListAllGraphsV2": {
            "http": {
                "requestUri": "/graphs/all/v2"
            },
            "input": {
                "type": "structure",
                "members": {
                    "IncludeNonActive": {
                        "type": "boolean"
                    },
                    "MasterAccount": {},
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "GraphList": {
                        "shape": "S2r"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/URWGOOVSEMOSKSAGZ6R6KMA6EE3LYEDR3GBCXISOCTTW6MVIY5XA/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HA336UYOOV5V5ZFKMKP6UDI6YTTKQZT23QMWR4B6YKGLFIAV4SIQ/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NHL72MB6EG4QNC5B3A7CPN6EJVTLKGQQTUIXEWPZGOLPAUTAGKQ/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6DFZT535XOH4CZSMGX2XAPMWLJ2CLY2LORYPIA5WL2EKSOR4AVA/3048.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTQYMVJ57YWA74R75JUAQ654IIFF2ZURB7CEYOXLUXO6RXHV6I3Q/6015.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YI2NDYGYXBFQJRE2SYBD2K2G46NU5F2MOXL3Z7OT62IST65BDZQ/8152.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OR2K2UQFXX7QRDKJB4NXTNECNNMFRNGUMMXMMQGR7UY2SQQ5SIQ/4657.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NONHN33GJKLHO6ABEBZ3NDU4OK72TVRZPDETV3T4PWMONMPHD33Q/9158.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F5GUMTDJ32KO2RYQ6A2C26GHQ77VDIJ3YJQ3UN7FO2ZINI6Z7ADA/9158.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q46F3BP6CGCRELEYIAHKMSWFO7T6FPSYFISWPHZPIUOFIZZHO6VA/9060.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5OE5KHWHOAGHHHXKUSXJ3IENC5RH37W27GFEMEGWPMBJN7C37BQ/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNKM24KK5VNT73THGN4WTFZOOZ7LZGSVQBTR5OZGMZAUYZ55UGMA/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTO5TVCGQRLY5ZI4DTQLETQMB4THH3FF4GG7CEB2FU6FEXOVB3BQ/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZB2G7EJK7PAFVSLDSL65UUUPKDUFEYBHDNPVGF3XYHVSOO3EHVMA/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNLMOTJP3VK5CQWZT2XCRVNHOCYIN3RVQVEKJZ6D5NBXK3BO4QBQ/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAMYRQDLO4AIBBB4A7CA3SIEG6AMNXH2NLQ57LA4FGTYZZY2REEA/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMEDN3RCAXSQZXLFREA3IG4QCL2CV4J66VSGAGQZVLVWHL6OIBUQ/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IY5SKK77XC3ECGYEH7E4HDDYJF6CMD3L7OHPI62F65HULTQCWXEQ/1246.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3EQCTTE456BMRGMT37SNO5LC5PFJJMJUXGAYI4XBYJ3FWHXHPQ/1246.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JCWUOWWUJPPUOHNXQCCGAUY4D7WV5T3IRLW65JPA472OOSRXSLXQ/1246.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILUA6553MXPH2BDQXNSPYIE5VESA77LXQM46MVHTAMFNOEKBE6UA/1246.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VC7MM67WLSJKH5CZJQ55I3PIREZTJWYMYPRMDTDHPDHU6YZ3JH3Q/9536.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZFPCEQ25TTGPC6OPVKOSUW6KDJBEM6UA6KRSI2UEQTDZHFBPD6A/9536.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P56ZP2AKELWRCZ6DNM7GKJ5JNVPW4GTESSYQD2Q6RLTZS4HDZSLQ/1288.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ASVWEFVJA23SK3A6J6UMXB6MXVCMOLL2YDDLRWCGPBDDLVH3YFJQ/1288.js"
            ]
        },
        "ListAllMembershipsInternal": {
            "http": {
                "requestUri": "/internal/members/list"
            },
            "input": {
                "type": "structure",
                "required": [
                    "AccountId"
                ],
                "members": {
                    "AccountId": {},
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "MemberDetails": {
                        "shape": "S1a"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/URWGOOVSEMOSKSAGZ6R6KMA6EE3LYEDR3GBCXISOCTTW6MVIY5XA/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HA336UYOOV5V5ZFKMKP6UDI6YTTKQZT23QMWR4B6YKGLFIAV4SIQ/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NHL72MB6EG4QNC5B3A7CPN6EJVTLKGQQTUIXEWPZGOLPAUTAGKQ/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6DFZT535XOH4CZSMGX2XAPMWLJ2CLY2LORYPIA5WL2EKSOR4AVA/3048.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTQYMVJ57YWA74R75JUAQ654IIFF2ZURB7CEYOXLUXO6RXHV6I3Q/6015.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YI2NDYGYXBFQJRE2SYBD2K2G46NU5F2MOXL3Z7OT62IST65BDZQ/8152.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OR2K2UQFXX7QRDKJB4NXTNECNNMFRNGUMMXMMQGR7UY2SQQ5SIQ/4657.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NONHN33GJKLHO6ABEBZ3NDU4OK72TVRZPDETV3T4PWMONMPHD33Q/9158.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F5GUMTDJ32KO2RYQ6A2C26GHQ77VDIJ3YJQ3UN7FO2ZINI6Z7ADA/9158.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q46F3BP6CGCRELEYIAHKMSWFO7T6FPSYFISWPHZPIUOFIZZHO6VA/9060.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5OE5KHWHOAGHHHXKUSXJ3IENC5RH37W27GFEMEGWPMBJN7C37BQ/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNKM24KK5VNT73THGN4WTFZOOZ7LZGSVQBTR5OZGMZAUYZ55UGMA/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTO5TVCGQRLY5ZI4DTQLETQMB4THH3FF4GG7CEB2FU6FEXOVB3BQ/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZB2G7EJK7PAFVSLDSL65UUUPKDUFEYBHDNPVGF3XYHVSOO3EHVMA/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNLMOTJP3VK5CQWZT2XCRVNHOCYIN3RVQVEKJZ6D5NBXK3BO4QBQ/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAMYRQDLO4AIBBB4A7CA3SIEG6AMNXH2NLQ57LA4FGTYZZY2REEA/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMEDN3RCAXSQZXLFREA3IG4QCL2CV4J66VSGAGQZVLVWHL6OIBUQ/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IY5SKK77XC3ECGYEH7E4HDDYJF6CMD3L7OHPI62F65HULTQCWXEQ/1246.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3EQCTTE456BMRGMT37SNO5LC5PFJJMJUXGAYI4XBYJ3FWHXHPQ/1246.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JCWUOWWUJPPUOHNXQCCGAUY4D7WV5T3IRLW65JPA472OOSRXSLXQ/1246.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILUA6553MXPH2BDQXNSPYIE5VESA77LXQM46MVHTAMFNOEKBE6UA/1246.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VC7MM67WLSJKH5CZJQ55I3PIREZTJWYMYPRMDTDHPDHU6YZ3JH3Q/9536.js",
[...]
