{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2017-07-25",
        "endpoint-prefix": "MoroccoAccountManagementLambda",
        "endpointPrefix": "morocco",
        "protocol": "rest-json",
        "serviceAbbreviation": "Morocco Registration",
        "serviceFullName": "Morocco registration service",
        "signatureVersion": "v4",
        "signingName": "detective",
        "uid": "morocco-2017-07-25",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/PSSO5U4FW5H6SMSSL57J3U5N2TQVVGHM3L64A6R436WMXYOGCIZQ/8201.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/I35GJALYVLAFJEWXJMKC2EMYRQ423BT5IFUDF5KVEWV2XBXATVGQ/8201.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RJB6FUVA64ELCXSNPGFRGIIGQWNJ6N6S4ZXEZDLGOK344O76JR3Q/8201.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XXLZI3746NASWNBS73QIWMHWP3ZSANF5DVRHZLBT55KAXUE7ZWIA/2237.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7BSLQREVB6E4KQ46O5UXANHCMYQEIW6BO6TWTAUE2NZKKG6CJVCQ/5052.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BYSV6EYPU63KKJ6GRPF7DDIWTOQ7344KTWZL6ENHDTNKJC4ZGCWQ/5052.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/P7OBULZU5Y5DZKSZQK4Q2EH5S4LYH7SL5H45YROMJGDOUJ6U4SGA/5052.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YX24G2VXYUD6JTC57EKF6FVCJIPTXAZUMXAZDEDKWIFSTCABE3SA/5052.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PWN45XM5BZMNOYI53P3G7Y43G43OJNSRIWLWMBLLBY6SJ3KCU3IQ/6535.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HQWU4JFLYD4X2OP4W2OI3AH4HI2VSIX2Z3STIS5UAIFX5WDUI5XA/6535.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NSBLQPACQJ2XYYIXOYTI7HBBJ7X7ED43MQZVYHZEATGDIOQ2EPWA/6535.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/T66GCELEKFIQPHDR3S6WWFRCRWW7KNEXI3H25GXOZ2BBQPPJ2Q2A/6535.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OQPP4ZMUEJPGFCZMTSHDPZWM6SSY2CHOQNDULRQNNVYOXOVXFTDA/6535.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MG5EAXBFUFQTPJYUD7OMEWPWVHMD7SFFRQPTWNQLBUCCXAYG7UOQ/8356.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3DRSUXL333M4YBA6J6IMX3WH6NJYRS4BXLNPHPQYFDZWARUYTMSA/5442.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UA6HXGOBCIFIZVQCN4NJPXR5QWQ22YPMWMYBDJNKILVPUKYDKIUA/1483.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UO6FV55YI7GF5R5J4GDHJ6SPX64YGHREA4BVTFHHNJB5WTBGF6RQ/1612.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZSYQ2IKBRSCAHOZNSAIONUHKVQPCJZDFX2RYYEJJMYDFCGHBCGEA/1096.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/S2I7B3PETZD7OCTVJEA5UEZYADXKTYIUHLGF3MFLDGOBAYXS3UTA/539.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FYZMFPRLBBPMH722FMMMUBOF75RXEF5LB355JKWKUVM6CZR6ZATQ/539.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DZXQIV6JK2PJ3GVUXMN5GIZK6DV2NUNPXRDD4QOD66N3V252XYCQ/7874.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5NUUWWDPFRM35HR7NQFPSUROWOY2I4HQETAYX64GYDPM4XIBWBAQ/4798.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MA7JXP5VWOEKKDKRHAAYA4HGKCUJIUCYVAQBD3Y3UTFQLCK5RTNA/933.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3HWNWTHIMV5AQGJLXPBHR334HMP5GHS6SRJ24RLCTKXD4PXDUK6Q/933.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SWM43VNXRBVJYZTEQJ27FZ27H2CC5Y2EOSXUOECWIKHWP5LHZTJQ/1216.js"
        ]
    },
    "operations": {
        "AcceptInvitation": {
            "http": {
                "method": "PUT",
                "requestUri": "/invitation"
            },
            "input": {
                "type": "structure",
                "required": [
                    "GraphArn"
                ],
                "members": {
                    "GraphArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PSSO5U4FW5H6SMSSL57J3U5N2TQVVGHM3L64A6R436WMXYOGCIZQ/8201.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I35GJALYVLAFJEWXJMKC2EMYRQ423BT5IFUDF5KVEWV2XBXATVGQ/8201.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJB6FUVA64ELCXSNPGFRGIIGQWNJ6N6S4ZXEZDLGOK344O76JR3Q/8201.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXLZI3746NASWNBS73QIWMHWP3ZSANF5DVRHZLBT55KAXUE7ZWIA/2237.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BSLQREVB6E4KQ46O5UXANHCMYQEIW6BO6TWTAUE2NZKKG6CJVCQ/5052.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYSV6EYPU63KKJ6GRPF7DDIWTOQ7344KTWZL6ENHDTNKJC4ZGCWQ/5052.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P7OBULZU5Y5DZKSZQK4Q2EH5S4LYH7SL5H45YROMJGDOUJ6U4SGA/5052.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YX24G2VXYUD6JTC57EKF6FVCJIPTXAZUMXAZDEDKWIFSTCABE3SA/5052.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWN45XM5BZMNOYI53P3G7Y43G43OJNSRIWLWMBLLBY6SJ3KCU3IQ/6535.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQWU4JFLYD4X2OP4W2OI3AH4HI2VSIX2Z3STIS5UAIFX5WDUI5XA/6535.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSBLQPACQJ2XYYIXOYTI7HBBJ7X7ED43MQZVYHZEATGDIOQ2EPWA/6535.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T66GCELEKFIQPHDR3S6WWFRCRWW7KNEXI3H25GXOZ2BBQPPJ2Q2A/6535.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQPP4ZMUEJPGFCZMTSHDPZWM6SSY2CHOQNDULRQNNVYOXOVXFTDA/6535.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MG5EAXBFUFQTPJYUD7OMEWPWVHMD7SFFRQPTWNQLBUCCXAYG7UOQ/8356.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DRSUXL333M4YBA6J6IMX3WH6NJYRS4BXLNPHPQYFDZWARUYTMSA/5442.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UA6HXGOBCIFIZVQCN4NJPXR5QWQ22YPMWMYBDJNKILVPUKYDKIUA/1483.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UO6FV55YI7GF5R5J4GDHJ6SPX64YGHREA4BVTFHHNJB5WTBGF6RQ/1612.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSYQ2IKBRSCAHOZNSAIONUHKVQPCJZDFX2RYYEJJMYDFCGHBCGEA/1096.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2I7B3PETZD7OCTVJEA5UEZYADXKTYIUHLGF3MFLDGOBAYXS3UTA/539.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYZMFPRLBBPMH722FMMMUBOF75RXEF5LB355JKWKUVM6CZR6ZATQ/539.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZXQIV6JK2PJ3GVUXMN5GIZK6DV2NUNPXRDD4QOD66N3V252XYCQ/7874.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NUUWWDPFRM35HR7NQFPSUROWOY2I4HQETAYX64GYDPM4XIBWBAQ/4798.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MA7JXP5VWOEKKDKRHAAYA4HGKCUJIUCYVAQBD3Y3UTFQLCK5RTNA/933.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HWNWTHIMV5AQGJLXPBHR334HMP5GHS6SRJ24RLCTKXD4PXDUK6Q/933.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWM43VNXRBVJYZTEQJ27FZ27H2CC5Y2EOSXUOECWIKHWP5LHZTJQ/1216.js"
            ]
        },
        "AddMembersToGraph": {
            "http": {
                "method": "PUT",
                "requestUri": "/graph/members"
            },
            "input": {
                "type": "structure",
                "required": [
                    "graphId",
                    "accountIdList"
                ],
                "members": {
                    "graphId": {},
                    "accountIdList": {
                        "shape": "S5"
                    },
                    "masterAccount": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "accountIdList"
                ],
                "members": {
                    "accountIdList": {
                        "shape": "S5"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PSSO5U4FW5H6SMSSL57J3U5N2TQVVGHM3L64A6R436WMXYOGCIZQ/8201.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I35GJALYVLAFJEWXJMKC2EMYRQ423BT5IFUDF5KVEWV2XBXATVGQ/8201.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJB6FUVA64ELCXSNPGFRGIIGQWNJ6N6S4ZXEZDLGOK344O76JR3Q/8201.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXLZI3746NASWNBS73QIWMHWP3ZSANF5DVRHZLBT55KAXUE7ZWIA/2237.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BSLQREVB6E4KQ46O5UXANHCMYQEIW6BO6TWTAUE2NZKKG6CJVCQ/5052.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYSV6EYPU63KKJ6GRPF7DDIWTOQ7344KTWZL6ENHDTNKJC4ZGCWQ/5052.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P7OBULZU5Y5DZKSZQK4Q2EH5S4LYH7SL5H45YROMJGDOUJ6U4SGA/5052.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YX24G2VXYUD6JTC57EKF6FVCJIPTXAZUMXAZDEDKWIFSTCABE3SA/5052.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWN45XM5BZMNOYI53P3G7Y43G43OJNSRIWLWMBLLBY6SJ3KCU3IQ/6535.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQWU4JFLYD4X2OP4W2OI3AH4HI2VSIX2Z3STIS5UAIFX5WDUI5XA/6535.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSBLQPACQJ2XYYIXOYTI7HBBJ7X7ED43MQZVYHZEATGDIOQ2EPWA/6535.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T66GCELEKFIQPHDR3S6WWFRCRWW7KNEXI3H25GXOZ2BBQPPJ2Q2A/6535.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQPP4ZMUEJPGFCZMTSHDPZWM6SSY2CHOQNDULRQNNVYOXOVXFTDA/6535.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MG5EAXBFUFQTPJYUD7OMEWPWVHMD7SFFRQPTWNQLBUCCXAYG7UOQ/8356.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DRSUXL333M4YBA6J6IMX3WH6NJYRS4BXLNPHPQYFDZWARUYTMSA/5442.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UA6HXGOBCIFIZVQCN4NJPXR5QWQ22YPMWMYBDJNKILVPUKYDKIUA/1483.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UO6FV55YI7GF5R5J4GDHJ6SPX64YGHREA4BVTFHHNJB5WTBGF6RQ/1612.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSYQ2IKBRSCAHOZNSAIONUHKVQPCJZDFX2RYYEJJMYDFCGHBCGEA/1096.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2I7B3PETZD7OCTVJEA5UEZYADXKTYIUHLGF3MFLDGOBAYXS3UTA/539.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYZMFPRLBBPMH722FMMMUBOF75RXEF5LB355JKWKUVM6CZR6ZATQ/539.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZXQIV6JK2PJ3GVUXMN5GIZK6DV2NUNPXRDD4QOD66N3V252XYCQ/7874.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NUUWWDPFRM35HR7NQFPSUROWOY2I4HQETAYX64GYDPM4XIBWBAQ/4798.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MA7JXP5VWOEKKDKRHAAYA4HGKCUJIUCYVAQBD3Y3UTFQLCK5RTNA/933.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HWNWTHIMV5AQGJLXPBHR334HMP5GHS6SRJ24RLCTKXD4PXDUK6Q/933.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWM43VNXRBVJYZTEQJ27FZ27H2CC5Y2EOSXUOECWIKHWP5LHZTJQ/1216.js"
            ]
        },
        "BatchGetGraphMemberDatasources": {
            "http": {
                "requestUri": "/graph/datasources/get"
            },
            "input": {
                "type": "structure",
                "required": [
                    "GraphArn",
                    "AccountIds"
                ],
                "members": {
                    "GraphArn": {},
                    "AccountIds": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "MemberDatasources": {
                        "shape": "Sb"
                    },
                    "UnprocessedAccounts": {
                        "shape": "Sj"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PSSO5U4FW5H6SMSSL57J3U5N2TQVVGHM3L64A6R436WMXYOGCIZQ/8201.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I35GJALYVLAFJEWXJMKC2EMYRQ423BT5IFUDF5KVEWV2XBXATVGQ/8201.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJB6FUVA64ELCXSNPGFRGIIGQWNJ6N6S4ZXEZDLGOK344O76JR3Q/8201.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXLZI3746NASWNBS73QIWMHWP3ZSANF5DVRHZLBT55KAXUE7ZWIA/2237.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BSLQREVB6E4KQ46O5UXANHCMYQEIW6BO6TWTAUE2NZKKG6CJVCQ/5052.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYSV6EYPU63KKJ6GRPF7DDIWTOQ7344KTWZL6ENHDTNKJC4ZGCWQ/5052.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P7OBULZU5Y5DZKSZQK4Q2EH5S4LYH7SL5H45YROMJGDOUJ6U4SGA/5052.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YX24G2VXYUD6JTC57EKF6FVCJIPTXAZUMXAZDEDKWIFSTCABE3SA/5052.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWN45XM5BZMNOYI53P3G7Y43G43OJNSRIWLWMBLLBY6SJ3KCU3IQ/6535.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQWU4JFLYD4X2OP4W2OI3AH4HI2VSIX2Z3STIS5UAIFX5WDUI5XA/6535.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSBLQPACQJ2XYYIXOYTI7HBBJ7X7ED43MQZVYHZEATGDIOQ2EPWA/6535.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T66GCELEKFIQPHDR3S6WWFRCRWW7KNEXI3H25GXOZ2BBQPPJ2Q2A/6535.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQPP4ZMUEJPGFCZMTSHDPZWM6SSY2CHOQNDULRQNNVYOXOVXFTDA/6535.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MG5EAXBFUFQTPJYUD7OMEWPWVHMD7SFFRQPTWNQLBUCCXAYG7UOQ/8356.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DRSUXL333M4YBA6J6IMX3WH6NJYRS4BXLNPHPQYFDZWARUYTMSA/5442.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UA6HXGOBCIFIZVQCN4NJPXR5QWQ22YPMWMYBDJNKILVPUKYDKIUA/1483.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UO6FV55YI7GF5R5J4GDHJ6SPX64YGHREA4BVTFHHNJB5WTBGF6RQ/1612.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSYQ2IKBRSCAHOZNSAIONUHKVQPCJZDFX2RYYEJJMYDFCGHBCGEA/1096.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2I7B3PETZD7OCTVJEA5UEZYADXKTYIUHLGF3MFLDGOBAYXS3UTA/539.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYZMFPRLBBPMH722FMMMUBOF75RXEF5LB355JKWKUVM6CZR6ZATQ/539.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZXQIV6JK2PJ3GVUXMN5GIZK6DV2NUNPXRDD4QOD66N3V252XYCQ/7874.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NUUWWDPFRM35HR7NQFPSUROWOY2I4HQETAYX64GYDPM4XIBWBAQ/4798.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MA7JXP5VWOEKKDKRHAAYA4HGKCUJIUCYVAQBD3Y3UTFQLCK5RTNA/933.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HWNWTHIMV5AQGJLXPBHR334HMP5GHS6SRJ24RLCTKXD4PXDUK6Q/933.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWM43VNXRBVJYZTEQJ27FZ27H2CC5Y2EOSXUOECWIKHWP5LHZTJQ/1216.js"
            ]
        },
        "BatchGetMembershipDatasources": {
            "http": {
                "requestUri": "/membership/datasources/get"
            },
            "input": {
                "type": "structure",
                "required": [
                    "GraphArns"
                ],
                "members": {
                    "GraphArns": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "MembershipDatasources": {
                        "shape": "Sb"
                    },
                    "UnprocessedGraphs": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "GraphArn": {},
                                "Reason": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PSSO5U4FW5H6SMSSL57J3U5N2TQVVGHM3L64A6R436WMXYOGCIZQ/8201.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I35GJALYVLAFJEWXJMKC2EMYRQ423BT5IFUDF5KVEWV2XBXATVGQ/8201.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJB6FUVA64ELCXSNPGFRGIIGQWNJ6N6S4ZXEZDLGOK344O76JR3Q/8201.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXLZI3746NASWNBS73QIWMHWP3ZSANF5DVRHZLBT55KAXUE7ZWIA/2237.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BSLQREVB6E4KQ46O5UXANHCMYQEIW6BO6TWTAUE2NZKKG6CJVCQ/5052.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYSV6EYPU63KKJ6GRPF7DDIWTOQ7344KTWZL6ENHDTNKJC4ZGCWQ/5052.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P7OBULZU5Y5DZKSZQK4Q2EH5S4LYH7SL5H45YROMJGDOUJ6U4SGA/5052.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YX24G2VXYUD6JTC57EKF6FVCJIPTXAZUMXAZDEDKWIFSTCABE3SA/5052.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWN45XM5BZMNOYI53P3G7Y43G43OJNSRIWLWMBLLBY6SJ3KCU3IQ/6535.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQWU4JFLYD4X2OP4W2OI3AH4HI2VSIX2Z3STIS5UAIFX5WDUI5XA/6535.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSBLQPACQJ2XYYIXOYTI7HBBJ7X7ED43MQZVYHZEATGDIOQ2EPWA/6535.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T66GCELEKFIQPHDR3S6WWFRCRWW7KNEXI3H25GXOZ2BBQPPJ2Q2A/6535.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQPP4ZMUEJPGFCZMTSHDPZWM6SSY2CHOQNDULRQNNVYOXOVXFTDA/6535.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MG5EAXBFUFQTPJYUD7OMEWPWVHMD7SFFRQPTWNQLBUCCXAYG7UOQ/8356.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DRSUXL333M4YBA6J6IMX3WH6NJYRS4BXLNPHPQYFDZWARUYTMSA/5442.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UA6HXGOBCIFIZVQCN4NJPXR5QWQ22YPMWMYBDJNKILVPUKYDKIUA/1483.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UO6FV55YI7GF5R5J4GDHJ6SPX64YGHREA4BVTFHHNJB5WTBGF6RQ/1612.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSYQ2IKBRSCAHOZNSAIONUHKVQPCJZDFX2RYYEJJMYDFCGHBCGEA/1096.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2I7B3PETZD7OCTVJEA5UEZYADXKTYIUHLGF3MFLDGOBAYXS3UTA/539.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYZMFPRLBBPMH722FMMMUBOF75RXEF5LB355JKWKUVM6CZR6ZATQ/539.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZXQIV6JK2PJ3GVUXMN5GIZK6DV2NUNPXRDD4QOD66N3V252XYCQ/7874.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NUUWWDPFRM35HR7NQFPSUROWOY2I4HQETAYX64GYDPM4XIBWBAQ/4798.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MA7JXP5VWOEKKDKRHAAYA4HGKCUJIUCYVAQBD3Y3UTFQLCK5RTNA/933.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HWNWTHIMV5AQGJLXPBHR334HMP5GHS6SRJ24RLCTKXD4PXDUK6Q/933.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWM43VNXRBVJYZTEQJ27FZ27H2CC5Y2EOSXUOECWIKHWP5LHZTJQ/1216.js"
            ]
        },
        "BlockApiAccessInternal": {
            "http": {
                "method": "PUT",
                "requestUri": "/internal/account/blockedAccess/{AccountId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "AccountId"
                ],
                "members": {
                    "AccountId": {
                        "location": "uri",
                        "locationName": "AccountId"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PSSO5U4FW5H6SMSSL57J3U5N2TQVVGHM3L64A6R436WMXYOGCIZQ/8201.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I35GJALYVLAFJEWXJMKC2EMYRQ423BT5IFUDF5KVEWV2XBXATVGQ/8201.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJB6FUVA64ELCXSNPGFRGIIGQWNJ6N6S4ZXEZDLGOK344O76JR3Q/8201.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXLZI3746NASWNBS73QIWMHWP3ZSANF5DVRHZLBT55KAXUE7ZWIA/2237.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BSLQREVB6E4KQ46O5UXANHCMYQEIW6BO6TWTAUE2NZKKG6CJVCQ/5052.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYSV6EYPU63KKJ6GRPF7DDIWTOQ7344KTWZL6ENHDTNKJC4ZGCWQ/5052.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P7OBULZU5Y5DZKSZQK4Q2EH5S4LYH7SL5H45YROMJGDOUJ6U4SGA/5052.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YX24G2VXYUD6JTC57EKF6FVCJIPTXAZUMXAZDEDKWIFSTCABE3SA/5052.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWN45XM5BZMNOYI53P3G7Y43G43OJNSRIWLWMBLLBY6SJ3KCU3IQ/6535.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQWU4JFLYD4X2OP4W2OI3AH4HI2VSIX2Z3STIS5UAIFX5WDUI5XA/6535.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSBLQPACQJ2XYYIXOYTI7HBBJ7X7ED43MQZVYHZEATGDIOQ2EPWA/6535.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T66GCELEKFIQPHDR3S6WWFRCRWW7KNEXI3H25GXOZ2BBQPPJ2Q2A/6535.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQPP4ZMUEJPGFCZMTSHDPZWM6SSY2CHOQNDULRQNNVYOXOVXFTDA/6535.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MG5EAXBFUFQTPJYUD7OMEWPWVHMD7SFFRQPTWNQLBUCCXAYG7UOQ/8356.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DRSUXL333M4YBA6J6IMX3WH6NJYRS4BXLNPHPQYFDZWARUYTMSA/5442.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UA6HXGOBCIFIZVQCN4NJPXR5QWQ22YPMWMYBDJNKILVPUKYDKIUA/1483.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UO6FV55YI7GF5R5J4GDHJ6SPX64YGHREA4BVTFHHNJB5WTBGF6RQ/1612.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSYQ2IKBRSCAHOZNSAIONUHKVQPCJZDFX2RYYEJJMYDFCGHBCGEA/1096.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2I7B3PETZD7OCTVJEA5UEZYADXKTYIUHLGF3MFLDGOBAYXS3UTA/539.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYZMFPRLBBPMH722FMMMUBOF75RXEF5LB355JKWKUVM6CZR6ZATQ/539.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZXQIV6JK2PJ3GVUXMN5GIZK6DV2NUNPXRDD4QOD66N3V252XYCQ/7874.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NUUWWDPFRM35HR7NQFPSUROWOY2I4HQETAYX64GYDPM4XIBWBAQ/4798.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MA7JXP5VWOEKKDKRHAAYA4HGKCUJIUCYVAQBD3Y3UTFQLCK5RTNA/933.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HWNWTHIMV5AQGJLXPBHR334HMP5GHS6SRJ24RLCTKXD4PXDUK6Q/933.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWM43VNXRBVJYZTEQJ27FZ27H2CC5Y2EOSXUOECWIKHWP5LHZTJQ/1216.js"
            ]
        },
        "CreateGraph": {
            "http": {
                "requestUri": "/graph"
            },
            "input": {
                "type": "structure",
                "members": {
                    "Tags": {
                        "shape": "St"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "GraphArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PSSO5U4FW5H6SMSSL57J3U5N2TQVVGHM3L64A6R436WMXYOGCIZQ/8201.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I35GJALYVLAFJEWXJMKC2EMYRQ423BT5IFUDF5KVEWV2XBXATVGQ/8201.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJB6FUVA64ELCXSNPGFRGIIGQWNJ6N6S4ZXEZDLGOK344O76JR3Q/8201.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXLZI3746NASWNBS73QIWMHWP3ZSANF5DVRHZLBT55KAXUE7ZWIA/2237.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BSLQREVB6E4KQ46O5UXANHCMYQEIW6BO6TWTAUE2NZKKG6CJVCQ/5052.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYSV6EYPU63KKJ6GRPF7DDIWTOQ7344KTWZL6ENHDTNKJC4ZGCWQ/5052.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P7OBULZU5Y5DZKSZQK4Q2EH5S4LYH7SL5H45YROMJGDOUJ6U4SGA/5052.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YX24G2VXYUD6JTC57EKF6FVCJIPTXAZUMXAZDEDKWIFSTCABE3SA/5052.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWN45XM5BZMNOYI53P3G7Y43G43OJNSRIWLWMBLLBY6SJ3KCU3IQ/6535.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQWU4JFLYD4X2OP4W2OI3AH4HI2VSIX2Z3STIS5UAIFX5WDUI5XA/6535.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSBLQPACQJ2XYYIXOYTI7HBBJ7X7ED43MQZVYHZEATGDIOQ2EPWA/6535.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T66GCELEKFIQPHDR3S6WWFRCRWW7KNEXI3H25GXOZ2BBQPPJ2Q2A/6535.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQPP4ZMUEJPGFCZMTSHDPZWM6SSY2CHOQNDULRQNNVYOXOVXFTDA/6535.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MG5EAXBFUFQTPJYUD7OMEWPWVHMD7SFFRQPTWNQLBUCCXAYG7UOQ/8356.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DRSUXL333M4YBA6J6IMX3WH6NJYRS4BXLNPHPQYFDZWARUYTMSA/5442.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UA6HXGOBCIFIZVQCN4NJPXR5QWQ22YPMWMYBDJNKILVPUKYDKIUA/1483.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UO6FV55YI7GF5R5J4GDHJ6SPX64YGHREA4BVTFHHNJB5WTBGF6RQ/1612.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSYQ2IKBRSCAHOZNSAIONUHKVQPCJZDFX2RYYEJJMYDFCGHBCGEA/1096.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2I7B3PETZD7OCTVJEA5UEZYADXKTYIUHLGF3MFLDGOBAYXS3UTA/539.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYZMFPRLBBPMH722FMMMUBOF75RXEF5LB355JKWKUVM6CZR6ZATQ/539.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZXQIV6JK2PJ3GVUXMN5GIZK6DV2NUNPXRDD4QOD66N3V252XYCQ/7874.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NUUWWDPFRM35HR7NQFPSUROWOY2I4HQETAYX64GYDPM4XIBWBAQ/4798.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MA7JXP5VWOEKKDKRHAAYA4HGKCUJIUCYVAQBD3Y3UTFQLCK5RTNA/933.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HWNWTHIMV5AQGJLXPBHR334HMP5GHS6SRJ24RLCTKXD4PXDUK6Q/933.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWM43VNXRBVJYZTEQJ27FZ27H2CC5Y2EOSXUOECWIKHWP5LHZTJQ/1216.js"
            ]
        },
        "CreateGraphInternal": {
            "http": {
                "requestUri": "/internal/graph"
            },
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "shardCount"
                ],
                "members": {
                    "name": {},
                    "shardCount": {
                        "type": "integer"
                    },
                    "masterAccount": {},
                    "cellId": {},
                    "startedDatasources": {
                        "shape": "S11"
                    }
                }
            },
            "output": {
                "shape": "S12"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PSSO5U4FW5H6SMSSL57J3U5N2TQVVGHM3L64A6R436WMXYOGCIZQ/8201.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I35GJALYVLAFJEWXJMKC2EMYRQ423BT5IFUDF5KVEWV2XBXATVGQ/8201.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJB6FUVA64ELCXSNPGFRGIIGQWNJ6N6S4ZXEZDLGOK344O76JR3Q/8201.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXLZI3746NASWNBS73QIWMHWP3ZSANF5DVRHZLBT55KAXUE7ZWIA/2237.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BSLQREVB6E4KQ46O5UXANHCMYQEIW6BO6TWTAUE2NZKKG6CJVCQ/5052.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYSV6EYPU63KKJ6GRPF7DDIWTOQ7344KTWZL6ENHDTNKJC4ZGCWQ/5052.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P7OBULZU5Y5DZKSZQK4Q2EH5S4LYH7SL5H45YROMJGDOUJ6U4SGA/5052.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YX24G2VXYUD6JTC57EKF6FVCJIPTXAZUMXAZDEDKWIFSTCABE3SA/5052.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWN45XM5BZMNOYI53P3G7Y43G43OJNSRIWLWMBLLBY6SJ3KCU3IQ/6535.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQWU4JFLYD4X2OP4W2OI3AH4HI2VSIX2Z3STIS5UAIFX5WDUI5XA/6535.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSBLQPACQJ2XYYIXOYTI7HBBJ7X7ED43MQZVYHZEATGDIOQ2EPWA/6535.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T66GCELEKFIQPHDR3S6WWFRCRWW7KNEXI3H25GXOZ2BBQPPJ2Q2A/6535.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQPP4ZMUEJPGFCZMTSHDPZWM6SSY2CHOQNDULRQNNVYOXOVXFTDA/6535.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MG5EAXBFUFQTPJYUD7OMEWPWVHMD7SFFRQPTWNQLBUCCXAYG7UOQ/8356.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DRSUXL333M4YBA6J6IMX3WH6NJYRS4BXLNPHPQYFDZWARUYTMSA/5442.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UA6HXGOBCIFIZVQCN4NJPXR5QWQ22YPMWMYBDJNKILVPUKYDKIUA/1483.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UO6FV55YI7GF5R5J4GDHJ6SPX64YGHREA4BVTFHHNJB5WTBGF6RQ/1612.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSYQ2IKBRSCAHOZNSAIONUHKVQPCJZDFX2RYYEJJMYDFCGHBCGEA/1096.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2I7B3PETZD7OCTVJEA5UEZYADXKTYIUHLGF3MFLDGOBAYXS3UTA/539.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYZMFPRLBBPMH722FMMMUBOF75RXEF5LB355JKWKUVM6CZR6ZATQ/539.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZXQIV6JK2PJ3GVUXMN5GIZK6DV2NUNPXRDD4QOD66N3V252XYCQ/7874.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NUUWWDPFRM35HR7NQFPSUROWOY2I4HQETAYX64GYDPM4XIBWBAQ/4798.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MA7JXP5VWOEKKDKRHAAYA4HGKCUJIUCYVAQBD3Y3UTFQLCK5RTNA/933.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HWNWTHIMV5AQGJLXPBHR334HMP5GHS6SRJ24RLCTKXD4PXDUK6Q/933.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWM43VNXRBVJYZTEQJ27FZ27H2CC5Y2EOSXUOECWIKHWP5LHZTJQ/1216.js"
            ]
        },
        "CreateMembers": {
            "http": {
                "requestUri": "/graph/members"
            },
            "input": {
                "type": "structure",
                "required": [
                    "GraphArn",
                    "Accounts"
                ],
                "members": {
                    "GraphArn": {},
                    "Message": {
                        "type": "string",
                        "sensitive": true
                    },
                    "DisableEmailNotification": {
                        "type": "boolean"
                    },
                    "Accounts": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "AccountId",
                                "EmailAddress"
                            ],
                            "members": {
                                "AccountId": {},
                                "EmailAddress": {
                                    "shape": "S18"
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Members": {
                        "shape": "S1a"
                    },
                    "UnprocessedAccounts": {
                        "shape": "Sj"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PSSO5U4FW5H6SMSSL57J3U5N2TQVVGHM3L64A6R436WMXYOGCIZQ/8201.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I35GJALYVLAFJEWXJMKC2EMYRQ423BT5IFUDF5KVEWV2XBXATVGQ/8201.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJB6FUVA64ELCXSNPGFRGIIGQWNJ6N6S4ZXEZDLGOK344O76JR3Q/8201.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXLZI3746NASWNBS73QIWMHWP3ZSANF5DVRHZLBT55KAXUE7ZWIA/2237.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BSLQREVB6E4KQ46O5UXANHCMYQEIW6BO6TWTAUE2NZKKG6CJVCQ/5052.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYSV6EYPU63KKJ6GRPF7DDIWTOQ7344KTWZL6ENHDTNKJC4ZGCWQ/5052.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P7OBULZU5Y5DZKSZQK4Q2EH5S4LYH7SL5H45YROMJGDOUJ6U4SGA/5052.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YX24G2VXYUD6JTC57EKF6FVCJIPTXAZUMXAZDEDKWIFSTCABE3SA/5052.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWN45XM5BZMNOYI53P3G7Y43G43OJNSRIWLWMBLLBY6SJ3KCU3IQ/6535.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQWU4JFLYD4X2OP4W2OI3AH4HI2VSIX2Z3STIS5UAIFX5WDUI5XA/6535.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSBLQPACQJ2XYYIXOYTI7HBBJ7X7ED43MQZVYHZEATGDIOQ2EPWA/6535.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T66GCELEKFIQPHDR3S6WWFRCRWW7KNEXI3H25GXOZ2BBQPPJ2Q2A/6535.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQPP4ZMUEJPGFCZMTSHDPZWM6SSY2CHOQNDULRQNNVYOXOVXFTDA/6535.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MG5EAXBFUFQTPJYUD7OMEWPWVHMD7SFFRQPTWNQLBUCCXAYG7UOQ/8356.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DRSUXL333M4YBA6J6IMX3WH6NJYRS4BXLNPHPQYFDZWARUYTMSA/5442.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UA6HXGOBCIFIZVQCN4NJPXR5QWQ22YPMWMYBDJNKILVPUKYDKIUA/1483.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UO6FV55YI7GF5R5J4GDHJ6SPX64YGHREA4BVTFHHNJB5WTBGF6RQ/1612.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSYQ2IKBRSCAHOZNSAIONUHKVQPCJZDFX2RYYEJJMYDFCGHBCGEA/1096.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2I7B3PETZD7OCTVJEA5UEZYADXKTYIUHLGF3MFLDGOBAYXS3UTA/539.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYZMFPRLBBPMH722FMMMUBOF75RXEF5LB355JKWKUVM6CZR6ZATQ/539.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZXQIV6JK2PJ3GVUXMN5GIZK6DV2NUNPXRDD4QOD66N3V252XYCQ/7874.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NUUWWDPFRM35HR7NQFPSUROWOY2I4HQETAYX64GYDPM4XIBWBAQ/4798.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MA7JXP5VWOEKKDKRHAAYA4HGKCUJIUCYVAQBD3Y3UTFQLCK5RTNA/933.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HWNWTHIMV5AQGJLXPBHR334HMP5GHS6SRJ24RLCTKXD4PXDUK6Q/933.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWM43VNXRBVJYZTEQJ27FZ27H2CC5Y2EOSXUOECWIKHWP5LHZTJQ/1216.js"
            ]
        },
        "DeleteGraph": {
            "http": {
                "requestUri": "/graph/removal"
            },
            "input": {
                "type": "structure",
                "required": [
                    "GraphArn"
                ],
                "members": {
                    "GraphArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PSSO5U4FW5H6SMSSL57J3U5N2TQVVGHM3L64A6R436WMXYOGCIZQ/8201.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I35GJALYVLAFJEWXJMKC2EMYRQ423BT5IFUDF5KVEWV2XBXATVGQ/8201.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJB6FUVA64ELCXSNPGFRGIIGQWNJ6N6S4ZXEZDLGOK344O76JR3Q/8201.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXLZI3746NASWNBS73QIWMHWP3ZSANF5DVRHZLBT55KAXUE7ZWIA/2237.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BSLQREVB6E4KQ46O5UXANHCMYQEIW6BO6TWTAUE2NZKKG6CJVCQ/5052.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYSV6EYPU63KKJ6GRPF7DDIWTOQ7344KTWZL6ENHDTNKJC4ZGCWQ/5052.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P7OBULZU5Y5DZKSZQK4Q2EH5S4LYH7SL5H45YROMJGDOUJ6U4SGA/5052.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YX24G2VXYUD6JTC57EKF6FVCJIPTXAZUMXAZDEDKWIFSTCABE3SA/5052.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWN45XM5BZMNOYI53P3G7Y43G43OJNSRIWLWMBLLBY6SJ3KCU3IQ/6535.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQWU4JFLYD4X2OP4W2OI3AH4HI2VSIX2Z3STIS5UAIFX5WDUI5XA/6535.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSBLQPACQJ2XYYIXOYTI7HBBJ7X7ED43MQZVYHZEATGDIOQ2EPWA/6535.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T66GCELEKFIQPHDR3S6WWFRCRWW7KNEXI3H25GXOZ2BBQPPJ2Q2A/6535.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQPP4ZMUEJPGFCZMTSHDPZWM6SSY2CHOQNDULRQNNVYOXOVXFTDA/6535.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MG5EAXBFUFQTPJYUD7OMEWPWVHMD7SFFRQPTWNQLBUCCXAYG7UOQ/8356.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DRSUXL333M4YBA6J6IMX3WH6NJYRS4BXLNPHPQYFDZWARUYTMSA/5442.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UA6HXGOBCIFIZVQCN4NJPXR5QWQ22YPMWMYBDJNKILVPUKYDKIUA/1483.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UO6FV55YI7GF5R5J4GDHJ6SPX64YGHREA4BVTFHHNJB5WTBGF6RQ/1612.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSYQ2IKBRSCAHOZNSAIONUHKVQPCJZDFX2RYYEJJMYDFCGHBCGEA/1096.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2I7B3PETZD7OCTVJEA5UEZYADXKTYIUHLGF3MFLDGOBAYXS3UTA/539.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYZMFPRLBBPMH722FMMMUBOF75RXEF5LB355JKWKUVM6CZR6ZATQ/539.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZXQIV6JK2PJ3GVUXMN5GIZK6DV2NUNPXRDD4QOD66N3V252XYCQ/7874.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NUUWWDPFRM35HR7NQFPSUROWOY2I4HQETAYX64GYDPM4XIBWBAQ/4798.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MA7JXP5VWOEKKDKRHAAYA4HGKCUJIUCYVAQBD3Y3UTFQLCK5RTNA/933.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HWNWTHIMV5AQGJLXPBHR334HMP5GHS6SRJ24RLCTKXD4PXDUK6Q/933.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWM43VNXRBVJYZTEQJ27FZ27H2CC5Y2EOSXUOECWIKHWP5LHZTJQ/1216.js"
            ]
        },
        "DeleteGraphInternal": {
            "http": {
                "requestUri": "/internal/graph/removal"
            },
            "input": {
                "shape": "S1l"
            },
            "output": {
                "shape": "S12"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PSSO5U4FW5H6SMSSL57J3U5N2TQVVGHM3L64A6R436WMXYOGCIZQ/8201.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I35GJALYVLAFJEWXJMKC2EMYRQ423BT5IFUDF5KVEWV2XBXATVGQ/8201.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJB6FUVA64ELCXSNPGFRGIIGQWNJ6N6S4ZXEZDLGOK344O76JR3Q/8201.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXLZI3746NASWNBS73QIWMHWP3ZSANF5DVRHZLBT55KAXUE7ZWIA/2237.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BSLQREVB6E4KQ46O5UXANHCMYQEIW6BO6TWTAUE2NZKKG6CJVCQ/5052.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYSV6EYPU63KKJ6GRPF7DDIWTOQ7344KTWZL6ENHDTNKJC4ZGCWQ/5052.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P7OBULZU5Y5DZKSZQK4Q2EH5S4LYH7SL5H45YROMJGDOUJ6U4SGA/5052.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YX24G2VXYUD6JTC57EKF6FVCJIPTXAZUMXAZDEDKWIFSTCABE3SA/5052.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWN45XM5BZMNOYI53P3G7Y43G43OJNSRIWLWMBLLBY6SJ3KCU3IQ/6535.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQWU4JFLYD4X2OP4W2OI3AH4HI2VSIX2Z3STIS5UAIFX5WDUI5XA/6535.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSBLQPACQJ2XYYIXOYTI7HBBJ7X7ED43MQZVYHZEATGDIOQ2EPWA/6535.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T66GCELEKFIQPHDR3S6WWFRCRWW7KNEXI3H25GXOZ2BBQPPJ2Q2A/6535.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQPP4ZMUEJPGFCZMTSHDPZWM6SSY2CHOQNDULRQNNVYOXOVXFTDA/6535.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MG5EAXBFUFQTPJYUD7OMEWPWVHMD7SFFRQPTWNQLBUCCXAYG7UOQ/8356.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DRSUXL333M4YBA6J6IMX3WH6NJYRS4BXLNPHPQYFDZWARUYTMSA/5442.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UA6HXGOBCIFIZVQCN4NJPXR5QWQ22YPMWMYBDJNKILVPUKYDKIUA/1483.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UO6FV55YI7GF5R5J4GDHJ6SPX64YGHREA4BVTFHHNJB5WTBGF6RQ/1612.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSYQ2IKBRSCAHOZNSAIONUHKVQPCJZDFX2RYYEJJMYDFCGHBCGEA/1096.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2I7B3PETZD7OCTVJEA5UEZYADXKTYIUHLGF3MFLDGOBAYXS3UTA/539.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYZMFPRLBBPMH722FMMMUBOF75RXEF5LB355JKWKUVM6CZR6ZATQ/539.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZXQIV6JK2PJ3GVUXMN5GIZK6DV2NUNPXRDD4QOD66N3V252XYCQ/7874.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NUUWWDPFRM35HR7NQFPSUROWOY2I4HQETAYX64GYDPM4XIBWBAQ/4798.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MA7JXP5VWOEKKDKRHAAYA4HGKCUJIUCYVAQBD3Y3UTFQLCK5RTNA/933.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HWNWTHIMV5AQGJLXPBHR334HMP5GHS6SRJ24RLCTKXD4PXDUK6Q/933.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWM43VNXRBVJYZTEQJ27FZ27H2CC5Y2EOSXUOECWIKHWP5LHZTJQ/1216.js"
            ]
        },
        "DeleteMemberInternal": {
            "http": {
                "requestUri": "/internal/graph/members/delete"
            },
            "input": {
                "type": "structure",
                "required": [
                    "AccountId",
                    "GraphArn"
                ],
                "members": {
                    "AccountId": {},
                    "GraphArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AccountId": {},
                    "GraphArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PSSO5U4FW5H6SMSSL57J3U5N2TQVVGHM3L64A6R436WMXYOGCIZQ/8201.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I35GJALYVLAFJEWXJMKC2EMYRQ423BT5IFUDF5KVEWV2XBXATVGQ/8201.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJB6FUVA64ELCXSNPGFRGIIGQWNJ6N6S4ZXEZDLGOK344O76JR3Q/8201.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXLZI3746NASWNBS73QIWMHWP3ZSANF5DVRHZLBT55KAXUE7ZWIA/2237.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BSLQREVB6E4KQ46O5UXANHCMYQEIW6BO6TWTAUE2NZKKG6CJVCQ/5052.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYSV6EYPU63KKJ6GRPF7DDIWTOQ7344KTWZL6ENHDTNKJC4ZGCWQ/5052.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P7OBULZU5Y5DZKSZQK4Q2EH5S4LYH7SL5H45YROMJGDOUJ6U4SGA/5052.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YX24G2VXYUD6JTC57EKF6FVCJIPTXAZUMXAZDEDKWIFSTCABE3SA/5052.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWN45XM5BZMNOYI53P3G7Y43G43OJNSRIWLWMBLLBY6SJ3KCU3IQ/6535.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQWU4JFLYD4X2OP4W2OI3AH4HI2VSIX2Z3STIS5UAIFX5WDUI5XA/6535.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSBLQPACQJ2XYYIXOYTI7HBBJ7X7ED43MQZVYHZEATGDIOQ2EPWA/6535.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T66GCELEKFIQPHDR3S6WWFRCRWW7KNEXI3H25GXOZ2BBQPPJ2Q2A/6535.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQPP4ZMUEJPGFCZMTSHDPZWM6SSY2CHOQNDULRQNNVYOXOVXFTDA/6535.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MG5EAXBFUFQTPJYUD7OMEWPWVHMD7SFFRQPTWNQLBUCCXAYG7UOQ/8356.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DRSUXL333M4YBA6J6IMX3WH6NJYRS4BXLNPHPQYFDZWARUYTMSA/5442.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UA6HXGOBCIFIZVQCN4NJPXR5QWQ22YPMWMYBDJNKILVPUKYDKIUA/1483.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UO6FV55YI7GF5R5J4GDHJ6SPX64YGHREA4BVTFHHNJB5WTBGF6RQ/1612.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSYQ2IKBRSCAHOZNSAIONUHKVQPCJZDFX2RYYEJJMYDFCGHBCGEA/1096.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2I7B3PETZD7OCTVJEA5UEZYADXKTYIUHLGF3MFLDGOBAYXS3UTA/539.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYZMFPRLBBPMH722FMMMUBOF75RXEF5LB355JKWKUVM6CZR6ZATQ/539.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZXQIV6JK2PJ3GVUXMN5GIZK6DV2NUNPXRDD4QOD66N3V252XYCQ/7874.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NUUWWDPFRM35HR7NQFPSUROWOY2I4HQETAYX64GYDPM4XIBWBAQ/4798.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MA7JXP5VWOEKKDKRHAAYA4HGKCUJIUCYVAQBD3Y3UTFQLCK5RTNA/933.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HWNWTHIMV5AQGJLXPBHR334HMP5GHS6SRJ24RLCTKXD4PXDUK6Q/933.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWM43VNXRBVJYZTEQJ27FZ27H2CC5Y2EOSXUOECWIKHWP5LHZTJQ/1216.js"
            ]
        },
        "DeleteMembers": {
            "http": {
                "requestUri": "/graph/members/removal"
            },
            "input": {
                "type": "structure",
                "required": [
                    "GraphArn",
                    "AccountIds"
                ],
                "members": {
                    "GraphArn": {},
                    "AccountIds": {
                        "shape": "S5"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AccountIds": {
                        "shape": "S5"
                    },
                    "UnprocessedAccounts": {
                        "shape": "Sj"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PSSO5U4FW5H6SMSSL57J3U5N2TQVVGHM3L64A6R436WMXYOGCIZQ/8201.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I35GJALYVLAFJEWXJMKC2EMYRQ423BT5IFUDF5KVEWV2XBXATVGQ/8201.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJB6FUVA64ELCXSNPGFRGIIGQWNJ6N6S4ZXEZDLGOK344O76JR3Q/8201.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXLZI3746NASWNBS73QIWMHWP3ZSANF5DVRHZLBT55KAXUE7ZWIA/2237.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BSLQREVB6E4KQ46O5UXANHCMYQEIW6BO6TWTAUE2NZKKG6CJVCQ/5052.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYSV6EYPU63KKJ6GRPF7DDIWTOQ7344KTWZL6ENHDTNKJC4ZGCWQ/5052.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P7OBULZU5Y5DZKSZQK4Q2EH5S4LYH7SL5H45YROMJGDOUJ6U4SGA/5052.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YX24G2VXYUD6JTC57EKF6FVCJIPTXAZUMXAZDEDKWIFSTCABE3SA/5052.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWN45XM5BZMNOYI53P3G7Y43G43OJNSRIWLWMBLLBY6SJ3KCU3IQ/6535.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQWU4JFLYD4X2OP4W2OI3AH4HI2VSIX2Z3STIS5UAIFX5WDUI5XA/6535.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSBLQPACQJ2XYYIXOYTI7HBBJ7X7ED43MQZVYHZEATGDIOQ2EPWA/6535.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T66GCELEKFIQPHDR3S6WWFRCRWW7KNEXI3H25GXOZ2BBQPPJ2Q2A/6535.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQPP4ZMUEJPGFCZMTSHDPZWM6SSY2CHOQNDULRQNNVYOXOVXFTDA/6535.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MG5EAXBFUFQTPJYUD7OMEWPWVHMD7SFFRQPTWNQLBUCCXAYG7UOQ/8356.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DRSUXL333M4YBA6J6IMX3WH6NJYRS4BXLNPHPQYFDZWARUYTMSA/5442.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UA6HXGOBCIFIZVQCN4NJPXR5QWQ22YPMWMYBDJNKILVPUKYDKIUA/1483.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UO6FV55YI7GF5R5J4GDHJ6SPX64YGHREA4BVTFHHNJB5WTBGF6RQ/1612.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSYQ2IKBRSCAHOZNSAIONUHKVQPCJZDFX2RYYEJJMYDFCGHBCGEA/1096.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2I7B3PETZD7OCTVJEA5UEZYADXKTYIUHLGF3MFLDGOBAYXS3UTA/539.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYZMFPRLBBPMH722FMMMUBOF75RXEF5LB355JKWKUVM6CZR6ZATQ/539.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZXQIV6JK2PJ3GVUXMN5GIZK6DV2NUNPXRDD4QOD66N3V252XYCQ/7874.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NUUWWDPFRM35HR7NQFPSUROWOY2I4HQETAYX64GYDPM4XIBWBAQ/4798.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MA7JXP5VWOEKKDKRHAAYA4HGKCUJIUCYVAQBD3Y3UTFQLCK5RTNA/933.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HWNWTHIMV5AQGJLXPBHR334HMP5GHS6SRJ24RLCTKXD4PXDUK6Q/933.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWM43VNXRBVJYZTEQJ27FZ27H2CC5Y2EOSXUOECWIKHWP5LHZTJQ/1216.js"
            ]
        },
        "DescribeAccountInternal": {
            "http": {
                "requestUri": "/internal/account/get"
            },
            "input": {
                "type": "structure",
                "required": [
                    "AccountId"
                ],
                "members": {
                    "AccountId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "FreeTrialEndTime": {
                        "shape": "Si"
                    },
                    "ApiDenyListPresence": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PSSO5U4FW5H6SMSSL57J3U5N2TQVVGHM3L64A6R436WMXYOGCIZQ/8201.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I35GJALYVLAFJEWXJMKC2EMYRQ423BT5IFUDF5KVEWV2XBXATVGQ/8201.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJB6FUVA64ELCXSNPGFRGIIGQWNJ6N6S4ZXEZDLGOK344O76JR3Q/8201.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXLZI3746NASWNBS73QIWMHWP3ZSANF5DVRHZLBT55KAXUE7ZWIA/2237.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BSLQREVB6E4KQ46O5UXANHCMYQEIW6BO6TWTAUE2NZKKG6CJVCQ/5052.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYSV6EYPU63KKJ6GRPF7DDIWTOQ7344KTWZL6ENHDTNKJC4ZGCWQ/5052.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P7OBULZU5Y5DZKSZQK4Q2EH5S4LYH7SL5H45YROMJGDOUJ6U4SGA/5052.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YX24G2VXYUD6JTC57EKF6FVCJIPTXAZUMXAZDEDKWIFSTCABE3SA/5052.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWN45XM5BZMNOYI53P3G7Y43G43OJNSRIWLWMBLLBY6SJ3KCU3IQ/6535.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQWU4JFLYD4X2OP4W2OI3AH4HI2VSIX2Z3STIS5UAIFX5WDUI5XA/6535.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSBLQPACQJ2XYYIXOYTI7HBBJ7X7ED43MQZVYHZEATGDIOQ2EPWA/6535.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T66GCELEKFIQPHDR3S6WWFRCRWW7KNEXI3H25GXOZ2BBQPPJ2Q2A/6535.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQPP4ZMUEJPGFCZMTSHDPZWM6SSY2CHOQNDULRQNNVYOXOVXFTDA/6535.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MG5EAXBFUFQTPJYUD7OMEWPWVHMD7SFFRQPTWNQLBUCCXAYG7UOQ/8356.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DRSUXL333M4YBA6J6IMX3WH6NJYRS4BXLNPHPQYFDZWARUYTMSA/5442.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UA6HXGOBCIFIZVQCN4NJPXR5QWQ22YPMWMYBDJNKILVPUKYDKIUA/1483.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UO6FV55YI7GF5R5J4GDHJ6SPX64YGHREA4BVTFHHNJB5WTBGF6RQ/1612.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSYQ2IKBRSCAHOZNSAIONUHKVQPCJZDFX2RYYEJJMYDFCGHBCGEA/1096.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2I7B3PETZD7OCTVJEA5UEZYADXKTYIUHLGF3MFLDGOBAYXS3UTA/539.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYZMFPRLBBPMH722FMMMUBOF75RXEF5LB355JKWKUVM6CZR6ZATQ/539.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZXQIV6JK2PJ3GVUXMN5GIZK6DV2NUNPXRDD4QOD66N3V252XYCQ/7874.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NUUWWDPFRM35HR7NQFPSUROWOY2I4HQETAYX64GYDPM4XIBWBAQ/4798.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MA7JXP5VWOEKKDKRHAAYA4HGKCUJIUCYVAQBD3Y3UTFQLCK5RTNA/933.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HWNWTHIMV5AQGJLXPBHR334HMP5GHS6SRJ24RLCTKXD4PXDUK6Q/933.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWM43VNXRBVJYZTEQJ27FZ27H2CC5Y2EOSXUOECWIKHWP5LHZTJQ/1216.js"
            ]
        },
        "DescribeAccountInternalV2": {
            "http": {
                "requestUri": "/internal/account/get/v2"
            },
            "input": {
                "type": "structure",
                "required": [
                    "AccountId"
                ],
                "members": {
                    "AccountId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DatasourcePackageFreeTrialEndTimes": {
                        "shape": "S1v"
                    },
                    "ApiDenyListPresence": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PSSO5U4FW5H6SMSSL57J3U5N2TQVVGHM3L64A6R436WMXYOGCIZQ/8201.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I35GJALYVLAFJEWXJMKC2EMYRQ423BT5IFUDF5KVEWV2XBXATVGQ/8201.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJB6FUVA64ELCXSNPGFRGIIGQWNJ6N6S4ZXEZDLGOK344O76JR3Q/8201.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXLZI3746NASWNBS73QIWMHWP3ZSANF5DVRHZLBT55KAXUE7ZWIA/2237.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BSLQREVB6E4KQ46O5UXANHCMYQEIW6BO6TWTAUE2NZKKG6CJVCQ/5052.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYSV6EYPU63KKJ6GRPF7DDIWTOQ7344KTWZL6ENHDTNKJC4ZGCWQ/5052.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P7OBULZU5Y5DZKSZQK4Q2EH5S4LYH7SL5H45YROMJGDOUJ6U4SGA/5052.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YX24G2VXYUD6JTC57EKF6FVCJIPTXAZUMXAZDEDKWIFSTCABE3SA/5052.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWN45XM5BZMNOYI53P3G7Y43G43OJNSRIWLWMBLLBY6SJ3KCU3IQ/6535.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQWU4JFLYD4X2OP4W2OI3AH4HI2VSIX2Z3STIS5UAIFX5WDUI5XA/6535.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSBLQPACQJ2XYYIXOYTI7HBBJ7X7ED43MQZVYHZEATGDIOQ2EPWA/6535.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T66GCELEKFIQPHDR3S6WWFRCRWW7KNEXI3H25GXOZ2BBQPPJ2Q2A/6535.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQPP4ZMUEJPGFCZMTSHDPZWM6SSY2CHOQNDULRQNNVYOXOVXFTDA/6535.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MG5EAXBFUFQTPJYUD7OMEWPWVHMD7SFFRQPTWNQLBUCCXAYG7UOQ/8356.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DRSUXL333M4YBA6J6IMX3WH6NJYRS4BXLNPHPQYFDZWARUYTMSA/5442.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UA6HXGOBCIFIZVQCN4NJPXR5QWQ22YPMWMYBDJNKILVPUKYDKIUA/1483.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UO6FV55YI7GF5R5J4GDHJ6SPX64YGHREA4BVTFHHNJB5WTBGF6RQ/1612.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSYQ2IKBRSCAHOZNSAIONUHKVQPCJZDFX2RYYEJJMYDFCGHBCGEA/1096.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2I7B3PETZD7OCTVJEA5UEZYADXKTYIUHLGF3MFLDGOBAYXS3UTA/539.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYZMFPRLBBPMH722FMMMUBOF75RXEF5LB355JKWKUVM6CZR6ZATQ/539.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZXQIV6JK2PJ3GVUXMN5GIZK6DV2NUNPXRDD4QOD66N3V252XYCQ/7874.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NUUWWDPFRM35HR7NQFPSUROWOY2I4HQETAYX64GYDPM4XIBWBAQ/4798.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MA7JXP5VWOEKKDKRHAAYA4HGKCUJIUCYVAQBD3Y3UTFQLCK5RTNA/933.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HWNWTHIMV5AQGJLXPBHR334HMP5GHS6SRJ24RLCTKXD4PXDUK6Q/933.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWM43VNXRBVJYZTEQJ27FZ27H2CC5Y2EOSXUOECWIKHWP5LHZTJQ/1216.js"
            ]
        },
        "DescribeOrganizationConfiguration": {
            "http": {
                "requestUri": "/orgs/describeOrganizationConfiguration"
            },
            "input": {
                "type": "structure",
                "required": [
                    "GraphArn"
                ],
                "members": {
                    "GraphArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AutoEnable": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PSSO5U4FW5H6SMSSL57J3U5N2TQVVGHM3L64A6R436WMXYOGCIZQ/8201.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I35GJALYVLAFJEWXJMKC2EMYRQ423BT5IFUDF5KVEWV2XBXATVGQ/8201.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJB6FUVA64ELCXSNPGFRGIIGQWNJ6N6S4ZXEZDLGOK344O76JR3Q/8201.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXLZI3746NASWNBS73QIWMHWP3ZSANF5DVRHZLBT55KAXUE7ZWIA/2237.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BSLQREVB6E4KQ46O5UXANHCMYQEIW6BO6TWTAUE2NZKKG6CJVCQ/5052.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYSV6EYPU63KKJ6GRPF7DDIWTOQ7344KTWZL6ENHDTNKJC4ZGCWQ/5052.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P7OBULZU5Y5DZKSZQK4Q2EH5S4LYH7SL5H45YROMJGDOUJ6U4SGA/5052.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YX24G2VXYUD6JTC57EKF6FVCJIPTXAZUMXAZDEDKWIFSTCABE3SA/5052.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWN45XM5BZMNOYI53P3G7Y43G43OJNSRIWLWMBLLBY6SJ3KCU3IQ/6535.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQWU4JFLYD4X2OP4W2OI3AH4HI2VSIX2Z3STIS5UAIFX5WDUI5XA/6535.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSBLQPACQJ2XYYIXOYTI7HBBJ7X7ED43MQZVYHZEATGDIOQ2EPWA/6535.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T66GCELEKFIQPHDR3S6WWFRCRWW7KNEXI3H25GXOZ2BBQPPJ2Q2A/6535.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQPP4ZMUEJPGFCZMTSHDPZWM6SSY2CHOQNDULRQNNVYOXOVXFTDA/6535.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MG5EAXBFUFQTPJYUD7OMEWPWVHMD7SFFRQPTWNQLBUCCXAYG7UOQ/8356.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DRSUXL333M4YBA6J6IMX3WH6NJYRS4BXLNPHPQYFDZWARUYTMSA/5442.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UA6HXGOBCIFIZVQCN4NJPXR5QWQ22YPMWMYBDJNKILVPUKYDKIUA/1483.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UO6FV55YI7GF5R5J4GDHJ6SPX64YGHREA4BVTFHHNJB5WTBGF6RQ/1612.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSYQ2IKBRSCAHOZNSAIONUHKVQPCJZDFX2RYYEJJMYDFCGHBCGEA/1096.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2I7B3PETZD7OCTVJEA5UEZYADXKTYIUHLGF3MFLDGOBAYXS3UTA/539.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYZMFPRLBBPMH722FMMMUBOF75RXEF5LB355JKWKUVM6CZR6ZATQ/539.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZXQIV6JK2PJ3GVUXMN5GIZK6DV2NUNPXRDD4QOD66N3V252XYCQ/7874.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NUUWWDPFRM35HR7NQFPSUROWOY2I4HQETAYX64GYDPM4XIBWBAQ/4798.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MA7JXP5VWOEKKDKRHAAYA4HGKCUJIUCYVAQBD3Y3UTFQLCK5RTNA/933.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HWNWTHIMV5AQGJLXPBHR334HMP5GHS6SRJ24RLCTKXD4PXDUK6Q/933.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWM43VNXRBVJYZTEQJ27FZ27H2CC5Y2EOSXUOECWIKHWP5LHZTJQ/1216.js"
            ]
        },
        "DisableOrganizationAdminAccount": {
            "http": {
                "requestUri": "/orgs/disableAdminAccount"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PSSO5U4FW5H6SMSSL57J3U5N2TQVVGHM3L64A6R436WMXYOGCIZQ/8201.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I35GJALYVLAFJEWXJMKC2EMYRQ423BT5IFUDF5KVEWV2XBXATVGQ/8201.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJB6FUVA64ELCXSNPGFRGIIGQWNJ6N6S4ZXEZDLGOK344O76JR3Q/8201.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXLZI3746NASWNBS73QIWMHWP3ZSANF5DVRHZLBT55KAXUE7ZWIA/2237.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BSLQREVB6E4KQ46O5UXANHCMYQEIW6BO6TWTAUE2NZKKG6CJVCQ/5052.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYSV6EYPU63KKJ6GRPF7DDIWTOQ7344KTWZL6ENHDTNKJC4ZGCWQ/5052.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P7OBULZU5Y5DZKSZQK4Q2EH5S4LYH7SL5H45YROMJGDOUJ6U4SGA/5052.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YX24G2VXYUD6JTC57EKF6FVCJIPTXAZUMXAZDEDKWIFSTCABE3SA/5052.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWN45XM5BZMNOYI53P3G7Y43G43OJNSRIWLWMBLLBY6SJ3KCU3IQ/6535.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQWU4JFLYD4X2OP4W2OI3AH4HI2VSIX2Z3STIS5UAIFX5WDUI5XA/6535.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSBLQPACQJ2XYYIXOYTI7HBBJ7X7ED43MQZVYHZEATGDIOQ2EPWA/6535.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T66GCELEKFIQPHDR3S6WWFRCRWW7KNEXI3H25GXOZ2BBQPPJ2Q2A/6535.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQPP4ZMUEJPGFCZMTSHDPZWM6SSY2CHOQNDULRQNNVYOXOVXFTDA/6535.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MG5EAXBFUFQTPJYUD7OMEWPWVHMD7SFFRQPTWNQLBUCCXAYG7UOQ/8356.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DRSUXL333M4YBA6J6IMX3WH6NJYRS4BXLNPHPQYFDZWARUYTMSA/5442.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UA6HXGOBCIFIZVQCN4NJPXR5QWQ22YPMWMYBDJNKILVPUKYDKIUA/1483.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UO6FV55YI7GF5R5J4GDHJ6SPX64YGHREA4BVTFHHNJB5WTBGF6RQ/1612.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSYQ2IKBRSCAHOZNSAIONUHKVQPCJZDFX2RYYEJJMYDFCGHBCGEA/1096.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2I7B3PETZD7OCTVJEA5UEZYADXKTYIUHLGF3MFLDGOBAYXS3UTA/539.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYZMFPRLBBPMH722FMMMUBOF75RXEF5LB355JKWKUVM6CZR6ZATQ/539.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZXQIV6JK2PJ3GVUXMN5GIZK6DV2NUNPXRDD4QOD66N3V252XYCQ/7874.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NUUWWDPFRM35HR7NQFPSUROWOY2I4HQETAYX64GYDPM4XIBWBAQ/4798.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MA7JXP5VWOEKKDKRHAAYA4HGKCUJIUCYVAQBD3Y3UTFQLCK5RTNA/933.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HWNWTHIMV5AQGJLXPBHR334HMP5GHS6SRJ24RLCTKXD4PXDUK6Q/933.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWM43VNXRBVJYZTEQJ27FZ27H2CC5Y2EOSXUOECWIKHWP5LHZTJQ/1216.js"
            ]
        },
        "DisassociateMembership": {
            "http": {
                "requestUri": "/membership/removal"
            },
            "input": {
                "type": "structure",
                "required": [
                    "GraphArn"
                ],
                "members": {
                    "GraphArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PSSO5U4FW5H6SMSSL57J3U5N2TQVVGHM3L64A6R436WMXYOGCIZQ/8201.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I35GJALYVLAFJEWXJMKC2EMYRQ423BT5IFUDF5KVEWV2XBXATVGQ/8201.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJB6FUVA64ELCXSNPGFRGIIGQWNJ6N6S4ZXEZDLGOK344O76JR3Q/8201.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXLZI3746NASWNBS73QIWMHWP3ZSANF5DVRHZLBT55KAXUE7ZWIA/2237.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BSLQREVB6E4KQ46O5UXANHCMYQEIW6BO6TWTAUE2NZKKG6CJVCQ/5052.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYSV6EYPU63KKJ6GRPF7DDIWTOQ7344KTWZL6ENHDTNKJC4ZGCWQ/5052.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P7OBULZU5Y5DZKSZQK4Q2EH5S4LYH7SL5H45YROMJGDOUJ6U4SGA/5052.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YX24G2VXYUD6JTC57EKF6FVCJIPTXAZUMXAZDEDKWIFSTCABE3SA/5052.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWN45XM5BZMNOYI53P3G7Y43G43OJNSRIWLWMBLLBY6SJ3KCU3IQ/6535.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQWU4JFLYD4X2OP4W2OI3AH4HI2VSIX2Z3STIS5UAIFX5WDUI5XA/6535.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSBLQPACQJ2XYYIXOYTI7HBBJ7X7ED43MQZVYHZEATGDIOQ2EPWA/6535.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T66GCELEKFIQPHDR3S6WWFRCRWW7KNEXI3H25GXOZ2BBQPPJ2Q2A/6535.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQPP4ZMUEJPGFCZMTSHDPZWM6SSY2CHOQNDULRQNNVYOXOVXFTDA/6535.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MG5EAXBFUFQTPJYUD7OMEWPWVHMD7SFFRQPTWNQLBUCCXAYG7UOQ/8356.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DRSUXL333M4YBA6J6IMX3WH6NJYRS4BXLNPHPQYFDZWARUYTMSA/5442.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UA6HXGOBCIFIZVQCN4NJPXR5QWQ22YPMWMYBDJNKILVPUKYDKIUA/1483.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UO6FV55YI7GF5R5J4GDHJ6SPX64YGHREA4BVTFHHNJB5WTBGF6RQ/1612.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSYQ2IKBRSCAHOZNSAIONUHKVQPCJZDFX2RYYEJJMYDFCGHBCGEA/1096.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2I7B3PETZD7OCTVJEA5UEZYADXKTYIUHLGF3MFLDGOBAYXS3UTA/539.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYZMFPRLBBPMH722FMMMUBOF75RXEF5LB355JKWKUVM6CZR6ZATQ/539.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZXQIV6JK2PJ3GVUXMN5GIZK6DV2NUNPXRDD4QOD66N3V252XYCQ/7874.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NUUWWDPFRM35HR7NQFPSUROWOY2I4HQETAYX64GYDPM4XIBWBAQ/4798.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MA7JXP5VWOEKKDKRHAAYA4HGKCUJIUCYVAQBD3Y3UTFQLCK5RTNA/933.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HWNWTHIMV5AQGJLXPBHR334HMP5GHS6SRJ24RLCTKXD4PXDUK6Q/933.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWM43VNXRBVJYZTEQJ27FZ27H2CC5Y2EOSXUOECWIKHWP5LHZTJQ/1216.js"
            ]
        },
        "EnableOrganizationAdminAccount": {
            "http": {
                "requestUri": "/orgs/enableAdminAccount"
            },
            "input": {
                "type": "structure",
                "required": [
                    "AccountId"
                ],
                "members": {
                    "AccountId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PSSO5U4FW5H6SMSSL57J3U5N2TQVVGHM3L64A6R436WMXYOGCIZQ/8201.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I35GJALYVLAFJEWXJMKC2EMYRQ423BT5IFUDF5KVEWV2XBXATVGQ/8201.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJB6FUVA64ELCXSNPGFRGIIGQWNJ6N6S4ZXEZDLGOK344O76JR3Q/8201.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXLZI3746NASWNBS73QIWMHWP3ZSANF5DVRHZLBT55KAXUE7ZWIA/2237.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BSLQREVB6E4KQ46O5UXANHCMYQEIW6BO6TWTAUE2NZKKG6CJVCQ/5052.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYSV6EYPU63KKJ6GRPF7DDIWTOQ7344KTWZL6ENHDTNKJC4ZGCWQ/5052.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P7OBULZU5Y5DZKSZQK4Q2EH5S4LYH7SL5H45YROMJGDOUJ6U4SGA/5052.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YX24G2VXYUD6JTC57EKF6FVCJIPTXAZUMXAZDEDKWIFSTCABE3SA/5052.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWN45XM5BZMNOYI53P3G7Y43G43OJNSRIWLWMBLLBY6SJ3KCU3IQ/6535.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQWU4JFLYD4X2OP4W2OI3AH4HI2VSIX2Z3STIS5UAIFX5WDUI5XA/6535.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSBLQPACQJ2XYYIXOYTI7HBBJ7X7ED43MQZVYHZEATGDIOQ2EPWA/6535.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T66GCELEKFIQPHDR3S6WWFRCRWW7KNEXI3H25GXOZ2BBQPPJ2Q2A/6535.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQPP4ZMUEJPGFCZMTSHDPZWM6SSY2CHOQNDULRQNNVYOXOVXFTDA/6535.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MG5EAXBFUFQTPJYUD7OMEWPWVHMD7SFFRQPTWNQLBUCCXAYG7UOQ/8356.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DRSUXL333M4YBA6J6IMX3WH6NJYRS4BXLNPHPQYFDZWARUYTMSA/5442.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UA6HXGOBCIFIZVQCN4NJPXR5QWQ22YPMWMYBDJNKILVPUKYDKIUA/1483.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UO6FV55YI7GF5R5J4GDHJ6SPX64YGHREA4BVTFHHNJB5WTBGF6RQ/1612.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSYQ2IKBRSCAHOZNSAIONUHKVQPCJZDFX2RYYEJJMYDFCGHBCGEA/1096.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2I7B3PETZD7OCTVJEA5UEZYADXKTYIUHLGF3MFLDGOBAYXS3UTA/539.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYZMFPRLBBPMH722FMMMUBOF75RXEF5LB355JKWKUVM6CZR6ZATQ/539.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZXQIV6JK2PJ3GVUXMN5GIZK6DV2NUNPXRDD4QOD66N3V252XYCQ/7874.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NUUWWDPFRM35HR7NQFPSUROWOY2I4HQETAYX64GYDPM4XIBWBAQ/4798.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MA7JXP5VWOEKKDKRHAAYA4HGKCUJIUCYVAQBD3Y3UTFQLCK5RTNA/933.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HWNWTHIMV5AQGJLXPBHR334HMP5GHS6SRJ24RLCTKXD4PXDUK6Q/933.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWM43VNXRBVJYZTEQJ27FZ27H2CC5Y2EOSXUOECWIKHWP5LHZTJQ/1216.js"
            ]
        },
        "GetGraphInfo": {
            "http": {
                "requestUri": "/graph/info"
            },
            "input": {
                "shape": "S1l"
            },
            "output": {
                "type": "structure",
                "required": [
                    "shardCount",
                    "name",
                    "accountId",
                    "isDeleted"
                ],
                "members": {
                    "backedByMssTable": {
                        "type": "boolean"
                    },
                    "shardCount": {
                        "type": "integer"
                    },
                    "name": {},
                    "accountId": {},
                    "creationTime": {
                        "type": "long"
                    },
                    "isDeleted": {
                        "type": "boolean"
                    },
                    "isSuspended": {
                        "type": "boolean"
                    },
                    "deletionTime": {
                        "type": "long"
                    },
                    "suspensionTime": {
                        "type": "long"
                    },
                    "ingestState": {},
                    "metadata": {
                        "type": "map",
                        "key": {},
                        "value": {}
                    },
                    "organizationAdmin": {},
                    "datasourcePackages": {
                        "type": "map",
                        "key": {},
                        "value": {}
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PSSO5U4FW5H6SMSSL57J3U5N2TQVVGHM3L64A6R436WMXYOGCIZQ/8201.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I35GJALYVLAFJEWXJMKC2EMYRQ423BT5IFUDF5KVEWV2XBXATVGQ/8201.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJB6FUVA64ELCXSNPGFRGIIGQWNJ6N6S4ZXEZDLGOK344O76JR3Q/8201.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXLZI3746NASWNBS73QIWMHWP3ZSANF5DVRHZLBT55KAXUE7ZWIA/2237.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BSLQREVB6E4KQ46O5UXANHCMYQEIW6BO6TWTAUE2NZKKG6CJVCQ/5052.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYSV6EYPU63KKJ6GRPF7DDIWTOQ7344KTWZL6ENHDTNKJC4ZGCWQ/5052.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P7OBULZU5Y5DZKSZQK4Q2EH5S4LYH7SL5H45YROMJGDOUJ6U4SGA/5052.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YX24G2VXYUD6JTC57EKF6FVCJIPTXAZUMXAZDEDKWIFSTCABE3SA/5052.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWN45XM5BZMNOYI53P3G7Y43G43OJNSRIWLWMBLLBY6SJ3KCU3IQ/6535.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQWU4JFLYD4X2OP4W2OI3AH4HI2VSIX2Z3STIS5UAIFX5WDUI5XA/6535.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSBLQPACQJ2XYYIXOYTI7HBBJ7X7ED43MQZVYHZEATGDIOQ2EPWA/6535.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T66GCELEKFIQPHDR3S6WWFRCRWW7KNEXI3H25GXOZ2BBQPPJ2Q2A/6535.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQPP4ZMUEJPGFCZMTSHDPZWM6SSY2CHOQNDULRQNNVYOXOVXFTDA/6535.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MG5EAXBFUFQTPJYUD7OMEWPWVHMD7SFFRQPTWNQLBUCCXAYG7UOQ/8356.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DRSUXL333M4YBA6J6IMX3WH6NJYRS4BXLNPHPQYFDZWARUYTMSA/5442.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UA6HXGOBCIFIZVQCN4NJPXR5QWQ22YPMWMYBDJNKILVPUKYDKIUA/1483.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UO6FV55YI7GF5R5J4GDHJ6SPX64YGHREA4BVTFHHNJB5WTBGF6RQ/1612.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSYQ2IKBRSCAHOZNSAIONUHKVQPCJZDFX2RYYEJJMYDFCGHBCGEA/1096.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2I7B3PETZD7OCTVJEA5UEZYADXKTYIUHLGF3MFLDGOBAYXS3UTA/539.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYZMFPRLBBPMH722FMMMUBOF75RXEF5LB355JKWKUVM6CZR6ZATQ/539.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZXQIV6JK2PJ3GVUXMN5GIZK6DV2NUNPXRDD4QOD66N3V252XYCQ/7874.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NUUWWDPFRM35HR7NQFPSUROWOY2I4HQETAYX64GYDPM4XIBWBAQ/4798.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MA7JXP5VWOEKKDKRHAAYA4HGKCUJIUCYVAQBD3Y3UTFQLCK5RTNA/933.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HWNWTHIMV5AQGJLXPBHR334HMP5GHS6SRJ24RLCTKXD4PXDUK6Q/933.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWM43VNXRBVJYZTEQJ27FZ27H2CC5Y2EOSXUOECWIKHWP5LHZTJQ/1216.js"
            ]
        },
        "GetMembers": {
            "http": {
                "requestUri": "/graph/members/get"
            },
            "input": {
                "type": "structure",
                "required": [
                    "GraphArn",
                    "AccountIds"
                ],
                "members": {
                    "GraphArn": {},
                    "AccountIds": {
                        "shape": "S5"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "MemberDetails": {
                        "shape": "S1a"
                    },
                    "UnprocessedAccounts": {
                        "shape": "Sj"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PSSO5U4FW5H6SMSSL57J3U5N2TQVVGHM3L64A6R436WMXYOGCIZQ/8201.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I35GJALYVLAFJEWXJMKC2EMYRQ423BT5IFUDF5KVEWV2XBXATVGQ/8201.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJB6FUVA64ELCXSNPGFRGIIGQWNJ6N6S4ZXEZDLGOK344O76JR3Q/8201.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXLZI3746NASWNBS73QIWMHWP3ZSANF5DVRHZLBT55KAXUE7ZWIA/2237.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BSLQREVB6E4KQ46O5UXANHCMYQEIW6BO6TWTAUE2NZKKG6CJVCQ/5052.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYSV6EYPU63KKJ6GRPF7DDIWTOQ7344KTWZL6ENHDTNKJC4ZGCWQ/5052.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P7OBULZU5Y5DZKSZQK4Q2EH5S4LYH7SL5H45YROMJGDOUJ6U4SGA/5052.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YX24G2VXYUD6JTC57EKF6FVCJIPTXAZUMXAZDEDKWIFSTCABE3SA/5052.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWN45XM5BZMNOYI53P3G7Y43G43OJNSRIWLWMBLLBY6SJ3KCU3IQ/6535.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQWU4JFLYD4X2OP4W2OI3AH4HI2VSIX2Z3STIS5UAIFX5WDUI5XA/6535.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSBLQPACQJ2XYYIXOYTI7HBBJ7X7ED43MQZVYHZEATGDIOQ2EPWA/6535.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T66GCELEKFIQPHDR3S6WWFRCRWW7KNEXI3H25GXOZ2BBQPPJ2Q2A/6535.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQPP4ZMUEJPGFCZMTSHDPZWM6SSY2CHOQNDULRQNNVYOXOVXFTDA/6535.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MG5EAXBFUFQTPJYUD7OMEWPWVHMD7SFFRQPTWNQLBUCCXAYG7UOQ/8356.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DRSUXL333M4YBA6J6IMX3WH6NJYRS4BXLNPHPQYFDZWARUYTMSA/5442.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UA6HXGOBCIFIZVQCN4NJPXR5QWQ22YPMWMYBDJNKILVPUKYDKIUA/1483.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UO6FV55YI7GF5R5J4GDHJ6SPX64YGHREA4BVTFHHNJB5WTBGF6RQ/1612.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSYQ2IKBRSCAHOZNSAIONUHKVQPCJZDFX2RYYEJJMYDFCGHBCGEA/1096.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2I7B3PETZD7OCTVJEA5UEZYADXKTYIUHLGF3MFLDGOBAYXS3UTA/539.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYZMFPRLBBPMH722FMMMUBOF75RXEF5LB355JKWKUVM6CZR6ZATQ/539.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZXQIV6JK2PJ3GVUXMN5GIZK6DV2NUNPXRDD4QOD66N3V252XYCQ/7874.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NUUWWDPFRM35HR7NQFPSUROWOY2I4HQETAYX64GYDPM4XIBWBAQ/4798.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MA7JXP5VWOEKKDKRHAAYA4HGKCUJIUCYVAQBD3Y3UTFQLCK5RTNA/933.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HWNWTHIMV5AQGJLXPBHR334HMP5GHS6SRJ24RLCTKXD4PXDUK6Q/933.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWM43VNXRBVJYZTEQJ27FZ27H2CC5Y2EOSXUOECWIKHWP5LHZTJQ/1216.js"
            ]
        },
        "GetMembersInternal": {
            "http": {
                "requestUri": "/internal/graph/members/get"
            },
            "input": {
                "type": "structure",
                "required": [
                    "GraphArn",
                    "AccountIds"
                ],
                "members": {
                    "GraphArn": {},
                    "AccountIds": {
                        "shape": "S5"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "MemberDetails": {
                        "shape": "S2b"
                    },
                    "UnprocessedAccounts": {
                        "shape": "Sj"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PSSO5U4FW5H6SMSSL57J3U5N2TQVVGHM3L64A6R436WMXYOGCIZQ/8201.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I35GJALYVLAFJEWXJMKC2EMYRQ423BT5IFUDF5KVEWV2XBXATVGQ/8201.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJB6FUVA64ELCXSNPGFRGIIGQWNJ6N6S4ZXEZDLGOK344O76JR3Q/8201.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXLZI3746NASWNBS73QIWMHWP3ZSANF5DVRHZLBT55KAXUE7ZWIA/2237.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BSLQREVB6E4KQ46O5UXANHCMYQEIW6BO6TWTAUE2NZKKG6CJVCQ/5052.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYSV6EYPU63KKJ6GRPF7DDIWTOQ7344KTWZL6ENHDTNKJC4ZGCWQ/5052.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P7OBULZU5Y5DZKSZQK4Q2EH5S4LYH7SL5H45YROMJGDOUJ6U4SGA/5052.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YX24G2VXYUD6JTC57EKF6FVCJIPTXAZUMXAZDEDKWIFSTCABE3SA/5052.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWN45XM5BZMNOYI53P3G7Y43G43OJNSRIWLWMBLLBY6SJ3KCU3IQ/6535.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQWU4JFLYD4X2OP4W2OI3AH4HI2VSIX2Z3STIS5UAIFX5WDUI5XA/6535.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSBLQPACQJ2XYYIXOYTI7HBBJ7X7ED43MQZVYHZEATGDIOQ2EPWA/6535.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T66GCELEKFIQPHDR3S6WWFRCRWW7KNEXI3H25GXOZ2BBQPPJ2Q2A/6535.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQPP4ZMUEJPGFCZMTSHDPZWM6SSY2CHOQNDULRQNNVYOXOVXFTDA/6535.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MG5EAXBFUFQTPJYUD7OMEWPWVHMD7SFFRQPTWNQLBUCCXAYG7UOQ/8356.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DRSUXL333M4YBA6J6IMX3WH6NJYRS4BXLNPHPQYFDZWARUYTMSA/5442.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UA6HXGOBCIFIZVQCN4NJPXR5QWQ22YPMWMYBDJNKILVPUKYDKIUA/1483.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UO6FV55YI7GF5R5J4GDHJ6SPX64YGHREA4BVTFHHNJB5WTBGF6RQ/1612.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSYQ2IKBRSCAHOZNSAIONUHKVQPCJZDFX2RYYEJJMYDFCGHBCGEA/1096.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2I7B3PETZD7OCTVJEA5UEZYADXKTYIUHLGF3MFLDGOBAYXS3UTA/539.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYZMFPRLBBPMH722FMMMUBOF75RXEF5LB355JKWKUVM6CZR6ZATQ/539.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZXQIV6JK2PJ3GVUXMN5GIZK6DV2NUNPXRDD4QOD66N3V252XYCQ/7874.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NUUWWDPFRM35HR7NQFPSUROWOY2I4HQETAYX64GYDPM4XIBWBAQ/4798.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MA7JXP5VWOEKKDKRHAAYA4HGKCUJIUCYVAQBD3Y3UTFQLCK5RTNA/933.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HWNWTHIMV5AQGJLXPBHR334HMP5GHS6SRJ24RLCTKXD4PXDUK6Q/933.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWM43VNXRBVJYZTEQJ27FZ27H2CC5Y2EOSXUOECWIKHWP5LHZTJQ/1216.js"
            ]
        },
        "GetMembersInternalV2": {
            "http": {
                "requestUri": "/internal/graph/members/get/v2"
            },
            "input": {
                "type": "structure",
                "required": [
                    "GraphArn",
                    "AccountIds"
                ],
                "members": {
                    "GraphArn": {},
                    "AccountIds": {
                        "shape": "S5"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "MemberDetails": {
                        "shape": "S2h"
                    },
                    "UnprocessedAccounts": {
                        "shape": "Sj"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PSSO5U4FW5H6SMSSL57J3U5N2TQVVGHM3L64A6R436WMXYOGCIZQ/8201.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I35GJALYVLAFJEWXJMKC2EMYRQ423BT5IFUDF5KVEWV2XBXATVGQ/8201.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJB6FUVA64ELCXSNPGFRGIIGQWNJ6N6S4ZXEZDLGOK344O76JR3Q/8201.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXLZI3746NASWNBS73QIWMHWP3ZSANF5DVRHZLBT55KAXUE7ZWIA/2237.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BSLQREVB6E4KQ46O5UXANHCMYQEIW6BO6TWTAUE2NZKKG6CJVCQ/5052.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYSV6EYPU63KKJ6GRPF7DDIWTOQ7344KTWZL6ENHDTNKJC4ZGCWQ/5052.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P7OBULZU5Y5DZKSZQK4Q2EH5S4LYH7SL5H45YROMJGDOUJ6U4SGA/5052.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YX24G2VXYUD6JTC57EKF6FVCJIPTXAZUMXAZDEDKWIFSTCABE3SA/5052.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWN45XM5BZMNOYI53P3G7Y43G43OJNSRIWLWMBLLBY6SJ3KCU3IQ/6535.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQWU4JFLYD4X2OP4W2OI3AH4HI2VSIX2Z3STIS5UAIFX5WDUI5XA/6535.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSBLQPACQJ2XYYIXOYTI7HBBJ7X7ED43MQZVYHZEATGDIOQ2EPWA/6535.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T66GCELEKFIQPHDR3S6WWFRCRWW7KNEXI3H25GXOZ2BBQPPJ2Q2A/6535.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQPP4ZMUEJPGFCZMTSHDPZWM6SSY2CHOQNDULRQNNVYOXOVXFTDA/6535.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MG5EAXBFUFQTPJYUD7OMEWPWVHMD7SFFRQPTWNQLBUCCXAYG7UOQ/8356.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DRSUXL333M4YBA6J6IMX3WH6NJYRS4BXLNPHPQYFDZWARUYTMSA/5442.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UA6HXGOBCIFIZVQCN4NJPXR5QWQ22YPMWMYBDJNKILVPUKYDKIUA/1483.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UO6FV55YI7GF5R5J4GDHJ6SPX64YGHREA4BVTFHHNJB5WTBGF6RQ/1612.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSYQ2IKBRSCAHOZNSAIONUHKVQPCJZDFX2RYYEJJMYDFCGHBCGEA/1096.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2I7B3PETZD7OCTVJEA5UEZYADXKTYIUHLGF3MFLDGOBAYXS3UTA/539.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYZMFPRLBBPMH722FMMMUBOF75RXEF5LB355JKWKUVM6CZR6ZATQ/539.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZXQIV6JK2PJ3GVUXMN5GIZK6DV2NUNPXRDD4QOD66N3V252XYCQ/7874.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NUUWWDPFRM35HR7NQFPSUROWOY2I4HQETAYX64GYDPM4XIBWBAQ/4798.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MA7JXP5VWOEKKDKRHAAYA4HGKCUJIUCYVAQBD3Y3UTFQLCK5RTNA/933.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HWNWTHIMV5AQGJLXPBHR334HMP5GHS6SRJ24RLCTKXD4PXDUK6Q/933.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWM43VNXRBVJYZTEQJ27FZ27H2CC5Y2EOSXUOECWIKHWP5LHZTJQ/1216.js"
            ]
        },
        "ListAllGraphs": {
            "http": {
                "method": "GET",
                "requestUri": "/graphs/all"
            },
            "input": {
                "type": "structure",
                "members": {
                    "includeDeleted": {
                        "location": "querystring",
                        "locationName": "includeDeleted",
                        "type": "boolean"
                    },
                    "masterAccount": {
                        "location": "querystring",
                        "locationName": "masterAccount"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "graphNameIdList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "name": {},
                                "arn": {},
                                "graphId": {},
                                "masterAccount": {},
                                "shardCount": {
                                    "type": "integer"
                                },
                                "ingestState": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PSSO5U4FW5H6SMSSL57J3U5N2TQVVGHM3L64A6R436WMXYOGCIZQ/8201.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I35GJALYVLAFJEWXJMKC2EMYRQ423BT5IFUDF5KVEWV2XBXATVGQ/8201.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJB6FUVA64ELCXSNPGFRGIIGQWNJ6N6S4ZXEZDLGOK344O76JR3Q/8201.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXLZI3746NASWNBS73QIWMHWP3ZSANF5DVRHZLBT55KAXUE7ZWIA/2237.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BSLQREVB6E4KQ46O5UXANHCMYQEIW6BO6TWTAUE2NZKKG6CJVCQ/5052.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYSV6EYPU63KKJ6GRPF7DDIWTOQ7344KTWZL6ENHDTNKJC4ZGCWQ/5052.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P7OBULZU5Y5DZKSZQK4Q2EH5S4LYH7SL5H45YROMJGDOUJ6U4SGA/5052.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YX24G2VXYUD6JTC57EKF6FVCJIPTXAZUMXAZDEDKWIFSTCABE3SA/5052.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWN45XM5BZMNOYI53P3G7Y43G43OJNSRIWLWMBLLBY6SJ3KCU3IQ/6535.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQWU4JFLYD4X2OP4W2OI3AH4HI2VSIX2Z3STIS5UAIFX5WDUI5XA/6535.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSBLQPACQJ2XYYIXOYTI7HBBJ7X7ED43MQZVYHZEATGDIOQ2EPWA/6535.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T66GCELEKFIQPHDR3S6WWFRCRWW7KNEXI3H25GXOZ2BBQPPJ2Q2A/6535.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQPP4ZMUEJPGFCZMTSHDPZWM6SSY2CHOQNDULRQNNVYOXOVXFTDA/6535.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MG5EAXBFUFQTPJYUD7OMEWPWVHMD7SFFRQPTWNQLBUCCXAYG7UOQ/8356.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DRSUXL333M4YBA6J6IMX3WH6NJYRS4BXLNPHPQYFDZWARUYTMSA/5442.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UA6HXGOBCIFIZVQCN4NJPXR5QWQ22YPMWMYBDJNKILVPUKYDKIUA/1483.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UO6FV55YI7GF5R5J4GDHJ6SPX64YGHREA4BVTFHHNJB5WTBGF6RQ/1612.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSYQ2IKBRSCAHOZNSAIONUHKVQPCJZDFX2RYYEJJMYDFCGHBCGEA/1096.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2I7B3PETZD7OCTVJEA5UEZYADXKTYIUHLGF3MFLDGOBAYXS3UTA/539.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYZMFPRLBBPMH722FMMMUBOF75RXEF5LB355JKWKUVM6CZR6ZATQ/539.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZXQIV6JK2PJ3GVUXMN5GIZK6DV2NUNPXRDD4QOD66N3V252XYCQ/7874.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NUUWWDPFRM35HR7NQFPSUROWOY2I4HQETAYX64GYDPM4XIBWBAQ/4798.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MA7JXP5VWOEKKDKRHAAYA4HGKCUJIUCYVAQBD3Y3UTFQLCK5RTNA/933.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HWNWTHIMV5AQGJLXPBHR334HMP5GHS6SRJ24RLCTKXD4PXDUK6Q/933.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWM43VNXRBVJYZTEQJ27FZ27H2CC5Y2EOSXUOECWIKHWP5LHZTJQ/1216.js"
            ]
        },
        "ListAllGraphsV2": {
            "http": {
                "requestUri": "/graphs/all/v2"
            },
            "input": {
                "type": "structure",
                "members": {
                    "IncludeNonActive": {
                        "type": "boolean"
                    },
                    "MasterAccount": {},
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "GraphList": {
                        "shape": "S2r"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PSSO5U4FW5H6SMSSL57J3U5N2TQVVGHM3L64A6R436WMXYOGCIZQ/8201.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I35GJALYVLAFJEWXJMKC2EMYRQ423BT5IFUDF5KVEWV2XBXATVGQ/8201.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJB6FUVA64ELCXSNPGFRGIIGQWNJ6N6S4ZXEZDLGOK344O76JR3Q/8201.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXLZI3746NASWNBS73QIWMHWP3ZSANF5DVRHZLBT55KAXUE7ZWIA/2237.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BSLQREVB6E4KQ46O5UXANHCMYQEIW6BO6TWTAUE2NZKKG6CJVCQ/5052.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYSV6EYPU63KKJ6GRPF7DDIWTOQ7344KTWZL6ENHDTNKJC4ZGCWQ/5052.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P7OBULZU5Y5DZKSZQK4Q2EH5S4LYH7SL5H45YROMJGDOUJ6U4SGA/5052.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YX24G2VXYUD6JTC57EKF6FVCJIPTXAZUMXAZDEDKWIFSTCABE3SA/5052.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWN45XM5BZMNOYI53P3G7Y43G43OJNSRIWLWMBLLBY6SJ3KCU3IQ/6535.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQWU4JFLYD4X2OP4W2OI3AH4HI2VSIX2Z3STIS5UAIFX5WDUI5XA/6535.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSBLQPACQJ2XYYIXOYTI7HBBJ7X7ED43MQZVYHZEATGDIOQ2EPWA/6535.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T66GCELEKFIQPHDR3S6WWFRCRWW7KNEXI3H25GXOZ2BBQPPJ2Q2A/6535.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQPP4ZMUEJPGFCZMTSHDPZWM6SSY2CHOQNDULRQNNVYOXOVXFTDA/6535.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MG5EAXBFUFQTPJYUD7OMEWPWVHMD7SFFRQPTWNQLBUCCXAYG7UOQ/8356.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DRSUXL333M4YBA6J6IMX3WH6NJYRS4BXLNPHPQYFDZWARUYTMSA/5442.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UA6HXGOBCIFIZVQCN4NJPXR5QWQ22YPMWMYBDJNKILVPUKYDKIUA/1483.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UO6FV55YI7GF5R5J4GDHJ6SPX64YGHREA4BVTFHHNJB5WTBGF6RQ/1612.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSYQ2IKBRSCAHOZNSAIONUHKVQPCJZDFX2RYYEJJMYDFCGHBCGEA/1096.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2I7B3PETZD7OCTVJEA5UEZYADXKTYIUHLGF3MFLDGOBAYXS3UTA/539.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYZMFPRLBBPMH722FMMMUBOF75RXEF5LB355JKWKUVM6CZR6ZATQ/539.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZXQIV6JK2PJ3GVUXMN5GIZK6DV2NUNPXRDD4QOD66N3V252XYCQ/7874.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NUUWWDPFRM35HR7NQFPSUROWOY2I4HQETAYX64GYDPM4XIBWBAQ/4798.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MA7JXP5VWOEKKDKRHAAYA4HGKCUJIUCYVAQBD3Y3UTFQLCK5RTNA/933.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HWNWTHIMV5AQGJLXPBHR334HMP5GHS6SRJ24RLCTKXD4PXDUK6Q/933.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWM43VNXRBVJYZTEQJ27FZ27H2CC5Y2EOSXUOECWIKHWP5LHZTJQ/1216.js"
            ]
        },
        "ListAllMembershipsInternal": {
            "http": {
                "requestUri": "/internal/members/list"
            },
            "input": {
                "type": "structure",
                "required": [
                    "AccountId"
                ],
                "members": {
                    "AccountId": {},
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "MemberDetails": {
                        "shape": "S1a"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PSSO5U4FW5H6SMSSL57J3U5N2TQVVGHM3L64A6R436WMXYOGCIZQ/8201.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I35GJALYVLAFJEWXJMKC2EMYRQ423BT5IFUDF5KVEWV2XBXATVGQ/8201.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJB6FUVA64ELCXSNPGFRGIIGQWNJ6N6S4ZXEZDLGOK344O76JR3Q/8201.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXLZI3746NASWNBS73QIWMHWP3ZSANF5DVRHZLBT55KAXUE7ZWIA/2237.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BSLQREVB6E4KQ46O5UXANHCMYQEIW6BO6TWTAUE2NZKKG6CJVCQ/5052.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYSV6EYPU63KKJ6GRPF7DDIWTOQ7344KTWZL6ENHDTNKJC4ZGCWQ/5052.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P7OBULZU5Y5DZKSZQK4Q2EH5S4LYH7SL5H45YROMJGDOUJ6U4SGA/5052.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YX24G2VXYUD6JTC57EKF6FVCJIPTXAZUMXAZDEDKWIFSTCABE3SA/5052.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWN45XM5BZMNOYI53P3G7Y43G43OJNSRIWLWMBLLBY6SJ3KCU3IQ/6535.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQWU4JFLYD4X2OP4W2OI3AH4HI2VSIX2Z3STIS5UAIFX5WDUI5XA/6535.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSBLQPACQJ2XYYIXOYTI7HBBJ7X7ED43MQZVYHZEATGDIOQ2EPWA/6535.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T66GCELEKFIQPHDR3S6WWFRCRWW7KNEXI3H25GXOZ2BBQPPJ2Q2A/6535.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQPP4ZMUEJPGFCZMTSHDPZWM6SSY2CHOQNDULRQNNVYOXOVXFTDA/6535.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MG5EAXBFUFQTPJYUD7OMEWPWVHMD7SFFRQPTWNQLBUCCXAYG7UOQ/8356.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DRSUXL333M4YBA6J6IMX3WH6NJYRS4BXLNPHPQYFDZWARUYTMSA/5442.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UA6HXGOBCIFIZVQCN4NJPXR5QWQ22YPMWMYBDJNKILVPUKYDKIUA/1483.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UO6FV55YI7GF5R5J4GDHJ6SPX64YGHREA4BVTFHHNJB5WTBGF6RQ/1612.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSYQ2IKBRSCAHOZNSAIONUHKVQPCJZDFX2RYYEJJMYDFCGHBCGEA/1096.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2I7B3PETZD7OCTVJEA5UEZYADXKTYIUHLGF3MFLDGOBAYXS3UTA/539.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYZMFPRLBBPMH722FMMMUBOF75RXEF5LB355JKWKUVM6CZR6ZATQ/539.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZXQIV6JK2PJ3GVUXMN5GIZK6DV2NUNPXRDD4QOD66N3V252XYCQ/7874.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NUUWWDPFRM35HR7NQFPSUROWOY2I4HQETAYX64GYDPM4XIBWBAQ/4798.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MA7JXP5VWOEKKDKRHAAYA4HGKCUJIUCYVAQBD3Y3UTFQLCK5RTNA/933.js",
[...]
