{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2017-07-25",
        "endpointPrefix": "MoroccoServicePrivateApi",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceAbbreviation": "MoroccoServicePrivateApi",
        "serviceFullName": "Morocco Service Private Api",
        "serviceId": "MoroccoServicePrivateApi",
        "signatureVersion": "v4",
        "signingName": "detective",
        "uid": "morocco-service-private-api-2017-07-25",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/URWGOOVSEMOSKSAGZ6R6KMA6EE3LYEDR3GBCXISOCTTW6MVIY5XA/4661.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HA336UYOOV5V5ZFKMKP6UDI6YTTKQZT23QMWR4B6YKGLFIAV4SIQ/4661.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7NHL72MB6EG4QNC5B3A7CPN6EJVTLKGQQTUIXEWPZGOLPAUTAGKQ/4661.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/D6DFZT535XOH4CZSMGX2XAPMWLJ2CLY2LORYPIA5WL2EKSOR4AVA/3048.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TTQYMVJ57YWA74R75JUAQ654IIFF2ZURB7CEYOXLUXO6RXHV6I3Q/6015.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4YI2NDYGYXBFQJRE2SYBD2K2G46NU5F2MOXL3Z7OT62IST65BDZQ/8152.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4OR2K2UQFXX7QRDKJB4NXTNECNNMFRNGUMMXMMQGR7UY2SQQ5SIQ/4657.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NONHN33GJKLHO6ABEBZ3NDU4OK72TVRZPDETV3T4PWMONMPHD33Q/9158.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/F5GUMTDJ32KO2RYQ6A2C26GHQ77VDIJ3YJQ3UN7FO2ZINI6Z7ADA/9158.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Q46F3BP6CGCRELEYIAHKMSWFO7T6FPSYFISWPHZPIUOFIZZHO6VA/9060.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/X5OE5KHWHOAGHHHXKUSXJ3IENC5RH37W27GFEMEGWPMBJN7C37BQ/4533.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GNKM24KK5VNT73THGN4WTFZOOZ7LZGSVQBTR5OZGMZAUYZ55UGMA/4533.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UTO5TVCGQRLY5ZI4DTQLETQMB4THH3FF4GG7CEB2FU6FEXOVB3BQ/4533.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZB2G7EJK7PAFVSLDSL65UUUPKDUFEYBHDNPVGF3XYHVSOO3EHVMA/4533.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PNLMOTJP3VK5CQWZT2XCRVNHOCYIN3RVQVEKJZ6D5NBXK3BO4QBQ/4533.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PAMYRQDLO4AIBBB4A7CA3SIEG6AMNXH2NLQ57LA4FGTYZZY2REEA/4533.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NMEDN3RCAXSQZXLFREA3IG4QCL2CV4J66VSGAGQZVLVWHL6OIBUQ/4533.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IY5SKK77XC3ECGYEH7E4HDDYJF6CMD3L7OHPI62F65HULTQCWXEQ/1246.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XT3EQCTTE456BMRGMT37SNO5LC5PFJJMJUXGAYI4XBYJ3FWHXHPQ/1246.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JCWUOWWUJPPUOHNXQCCGAUY4D7WV5T3IRLW65JPA472OOSRXSLXQ/1246.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ILUA6553MXPH2BDQXNSPYIE5VESA77LXQM46MVHTAMFNOEKBE6UA/1246.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VC7MM67WLSJKH5CZJQ55I3PIREZTJWYMYPRMDTDHPDHU6YZ3JH3Q/9536.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VZFPCEQ25TTGPC6OPVKOSUW6KDJBEM6UA6KRSI2UEQTDZHFBPD6A/9536.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/P56ZP2AKELWRCZ6DNM7GKJ5JNVPW4GTESSYQD2Q6RLTZS4HDZSLQ/1288.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ASVWEFVJA23SK3A6J6UMXB6MXVCMOLL2YDDLRWCGPBDDLVH3YFJQ/1288.js"
        ]
    },
    "operations": {
        "GetFreeTrialEligibility": {
            "http": {
                "requestUri": "/graph/freeTrialEligibility"
            },
            "input": {
                "type": "structure",
                "required": [
                    "GraphArn"
                ],
                "members": {
                    "GraphArn": {},
                    "AccountIds": {
                        "shape": "S3"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "FreeTrialEndTimeByAccount": {
                        "shape": "S6"
                    },
                    "UnprocessedAccounts": {
                        "shape": "S8"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/URWGOOVSEMOSKSAGZ6R6KMA6EE3LYEDR3GBCXISOCTTW6MVIY5XA/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HA336UYOOV5V5ZFKMKP6UDI6YTTKQZT23QMWR4B6YKGLFIAV4SIQ/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NHL72MB6EG4QNC5B3A7CPN6EJVTLKGQQTUIXEWPZGOLPAUTAGKQ/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6DFZT535XOH4CZSMGX2XAPMWLJ2CLY2LORYPIA5WL2EKSOR4AVA/3048.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTQYMVJ57YWA74R75JUAQ654IIFF2ZURB7CEYOXLUXO6RXHV6I3Q/6015.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YI2NDYGYXBFQJRE2SYBD2K2G46NU5F2MOXL3Z7OT62IST65BDZQ/8152.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OR2K2UQFXX7QRDKJB4NXTNECNNMFRNGUMMXMMQGR7UY2SQQ5SIQ/4657.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NONHN33GJKLHO6ABEBZ3NDU4OK72TVRZPDETV3T4PWMONMPHD33Q/9158.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F5GUMTDJ32KO2RYQ6A2C26GHQ77VDIJ3YJQ3UN7FO2ZINI6Z7ADA/9158.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q46F3BP6CGCRELEYIAHKMSWFO7T6FPSYFISWPHZPIUOFIZZHO6VA/9060.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5OE5KHWHOAGHHHXKUSXJ3IENC5RH37W27GFEMEGWPMBJN7C37BQ/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNKM24KK5VNT73THGN4WTFZOOZ7LZGSVQBTR5OZGMZAUYZ55UGMA/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTO5TVCGQRLY5ZI4DTQLETQMB4THH3FF4GG7CEB2FU6FEXOVB3BQ/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZB2G7EJK7PAFVSLDSL65UUUPKDUFEYBHDNPVGF3XYHVSOO3EHVMA/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNLMOTJP3VK5CQWZT2XCRVNHOCYIN3RVQVEKJZ6D5NBXK3BO4QBQ/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAMYRQDLO4AIBBB4A7CA3SIEG6AMNXH2NLQ57LA4FGTYZZY2REEA/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMEDN3RCAXSQZXLFREA3IG4QCL2CV4J66VSGAGQZVLVWHL6OIBUQ/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IY5SKK77XC3ECGYEH7E4HDDYJF6CMD3L7OHPI62F65HULTQCWXEQ/1246.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3EQCTTE456BMRGMT37SNO5LC5PFJJMJUXGAYI4XBYJ3FWHXHPQ/1246.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JCWUOWWUJPPUOHNXQCCGAUY4D7WV5T3IRLW65JPA472OOSRXSLXQ/1246.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILUA6553MXPH2BDQXNSPYIE5VESA77LXQM46MVHTAMFNOEKBE6UA/1246.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VC7MM67WLSJKH5CZJQ55I3PIREZTJWYMYPRMDTDHPDHU6YZ3JH3Q/9536.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZFPCEQ25TTGPC6OPVKOSUW6KDJBEM6UA6KRSI2UEQTDZHFBPD6A/9536.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P56ZP2AKELWRCZ6DNM7GKJ5JNVPW4GTESSYQD2Q6RLTZS4HDZSLQ/1288.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ASVWEFVJA23SK3A6J6UMXB6MXVCMOLL2YDDLRWCGPBDDLVH3YFJQ/1288.js"
            ]
        },
        "GetFreeTrialEligibilityV2": {
            "http": {
                "requestUri": "/graph/freeTrialEligibilityV2"
            },
            "input": {
                "type": "structure",
                "required": [
                    "GraphArn"
                ],
                "members": {
                    "GraphArn": {},
                    "AccountIds": {
                        "shape": "S3"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "FreeTrialAccountsByDatasource": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "shape": "S6"
                        }
                    },
                    "UnprocessedAccounts": {
                        "shape": "S8"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/URWGOOVSEMOSKSAGZ6R6KMA6EE3LYEDR3GBCXISOCTTW6MVIY5XA/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HA336UYOOV5V5ZFKMKP6UDI6YTTKQZT23QMWR4B6YKGLFIAV4SIQ/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NHL72MB6EG4QNC5B3A7CPN6EJVTLKGQQTUIXEWPZGOLPAUTAGKQ/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6DFZT535XOH4CZSMGX2XAPMWLJ2CLY2LORYPIA5WL2EKSOR4AVA/3048.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTQYMVJ57YWA74R75JUAQ654IIFF2ZURB7CEYOXLUXO6RXHV6I3Q/6015.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YI2NDYGYXBFQJRE2SYBD2K2G46NU5F2MOXL3Z7OT62IST65BDZQ/8152.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OR2K2UQFXX7QRDKJB4NXTNECNNMFRNGUMMXMMQGR7UY2SQQ5SIQ/4657.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NONHN33GJKLHO6ABEBZ3NDU4OK72TVRZPDETV3T4PWMONMPHD33Q/9158.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F5GUMTDJ32KO2RYQ6A2C26GHQ77VDIJ3YJQ3UN7FO2ZINI6Z7ADA/9158.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q46F3BP6CGCRELEYIAHKMSWFO7T6FPSYFISWPHZPIUOFIZZHO6VA/9060.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5OE5KHWHOAGHHHXKUSXJ3IENC5RH37W27GFEMEGWPMBJN7C37BQ/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNKM24KK5VNT73THGN4WTFZOOZ7LZGSVQBTR5OZGMZAUYZ55UGMA/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTO5TVCGQRLY5ZI4DTQLETQMB4THH3FF4GG7CEB2FU6FEXOVB3BQ/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZB2G7EJK7PAFVSLDSL65UUUPKDUFEYBHDNPVGF3XYHVSOO3EHVMA/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNLMOTJP3VK5CQWZT2XCRVNHOCYIN3RVQVEKJZ6D5NBXK3BO4QBQ/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAMYRQDLO4AIBBB4A7CA3SIEG6AMNXH2NLQ57LA4FGTYZZY2REEA/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMEDN3RCAXSQZXLFREA3IG4QCL2CV4J66VSGAGQZVLVWHL6OIBUQ/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IY5SKK77XC3ECGYEH7E4HDDYJF6CMD3L7OHPI62F65HULTQCWXEQ/1246.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3EQCTTE456BMRGMT37SNO5LC5PFJJMJUXGAYI4XBYJ3FWHXHPQ/1246.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JCWUOWWUJPPUOHNXQCCGAUY4D7WV5T3IRLW65JPA472OOSRXSLXQ/1246.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILUA6553MXPH2BDQXNSPYIE5VESA77LXQM46MVHTAMFNOEKBE6UA/1246.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VC7MM67WLSJKH5CZJQ55I3PIREZTJWYMYPRMDTDHPDHU6YZ3JH3Q/9536.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZFPCEQ25TTGPC6OPVKOSUW6KDJBEM6UA6KRSI2UEQTDZHFBPD6A/9536.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P56ZP2AKELWRCZ6DNM7GKJ5JNVPW4GTESSYQD2Q6RLTZS4HDZSLQ/1288.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ASVWEFVJA23SK3A6J6UMXB6MXVCMOLL2YDDLRWCGPBDDLVH3YFJQ/1288.js"
            ]
        },
        "GetFreeTrialForAccount": {
            "http": {
                "requestUri": "/member/freeTrial"
            },
            "output": {
                "type": "structure",
                "members": {
                    "FreeTrialEndTime": {
                        "type": "long"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/URWGOOVSEMOSKSAGZ6R6KMA6EE3LYEDR3GBCXISOCTTW6MVIY5XA/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HA336UYOOV5V5ZFKMKP6UDI6YTTKQZT23QMWR4B6YKGLFIAV4SIQ/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NHL72MB6EG4QNC5B3A7CPN6EJVTLKGQQTUIXEWPZGOLPAUTAGKQ/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6DFZT535XOH4CZSMGX2XAPMWLJ2CLY2LORYPIA5WL2EKSOR4AVA/3048.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTQYMVJ57YWA74R75JUAQ654IIFF2ZURB7CEYOXLUXO6RXHV6I3Q/6015.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YI2NDYGYXBFQJRE2SYBD2K2G46NU5F2MOXL3Z7OT62IST65BDZQ/8152.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OR2K2UQFXX7QRDKJB4NXTNECNNMFRNGUMMXMMQGR7UY2SQQ5SIQ/4657.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NONHN33GJKLHO6ABEBZ3NDU4OK72TVRZPDETV3T4PWMONMPHD33Q/9158.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F5GUMTDJ32KO2RYQ6A2C26GHQ77VDIJ3YJQ3UN7FO2ZINI6Z7ADA/9158.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q46F3BP6CGCRELEYIAHKMSWFO7T6FPSYFISWPHZPIUOFIZZHO6VA/9060.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5OE5KHWHOAGHHHXKUSXJ3IENC5RH37W27GFEMEGWPMBJN7C37BQ/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNKM24KK5VNT73THGN4WTFZOOZ7LZGSVQBTR5OZGMZAUYZ55UGMA/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTO5TVCGQRLY5ZI4DTQLETQMB4THH3FF4GG7CEB2FU6FEXOVB3BQ/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZB2G7EJK7PAFVSLDSL65UUUPKDUFEYBHDNPVGF3XYHVSOO3EHVMA/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNLMOTJP3VK5CQWZT2XCRVNHOCYIN3RVQVEKJZ6D5NBXK3BO4QBQ/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAMYRQDLO4AIBBB4A7CA3SIEG6AMNXH2NLQ57LA4FGTYZZY2REEA/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMEDN3RCAXSQZXLFREA3IG4QCL2CV4J66VSGAGQZVLVWHL6OIBUQ/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IY5SKK77XC3ECGYEH7E4HDDYJF6CMD3L7OHPI62F65HULTQCWXEQ/1246.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3EQCTTE456BMRGMT37SNO5LC5PFJJMJUXGAYI4XBYJ3FWHXHPQ/1246.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JCWUOWWUJPPUOHNXQCCGAUY4D7WV5T3IRLW65JPA472OOSRXSLXQ/1246.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILUA6553MXPH2BDQXNSPYIE5VESA77LXQM46MVHTAMFNOEKBE6UA/1246.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VC7MM67WLSJKH5CZJQ55I3PIREZTJWYMYPRMDTDHPDHU6YZ3JH3Q/9536.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZFPCEQ25TTGPC6OPVKOSUW6KDJBEM6UA6KRSI2UEQTDZHFBPD6A/9536.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P56ZP2AKELWRCZ6DNM7GKJ5JNVPW4GTESSYQD2Q6RLTZS4HDZSLQ/1288.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ASVWEFVJA23SK3A6J6UMXB6MXVCMOLL2YDDLRWCGPBDDLVH3YFJQ/1288.js"
            ]
        },
        "GetFreeTrialForAccountV2": {
            "http": {
                "requestUri": "/member/freeTrialV2"
            },
            "output": {
                "type": "structure",
                "members": {
                    "FreeTrialEndTimeByDatasource": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "type": "long"
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/URWGOOVSEMOSKSAGZ6R6KMA6EE3LYEDR3GBCXISOCTTW6MVIY5XA/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HA336UYOOV5V5ZFKMKP6UDI6YTTKQZT23QMWR4B6YKGLFIAV4SIQ/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NHL72MB6EG4QNC5B3A7CPN6EJVTLKGQQTUIXEWPZGOLPAUTAGKQ/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6DFZT535XOH4CZSMGX2XAPMWLJ2CLY2LORYPIA5WL2EKSOR4AVA/3048.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTQYMVJ57YWA74R75JUAQ654IIFF2ZURB7CEYOXLUXO6RXHV6I3Q/6015.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YI2NDYGYXBFQJRE2SYBD2K2G46NU5F2MOXL3Z7OT62IST65BDZQ/8152.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OR2K2UQFXX7QRDKJB4NXTNECNNMFRNGUMMXMMQGR7UY2SQQ5SIQ/4657.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NONHN33GJKLHO6ABEBZ3NDU4OK72TVRZPDETV3T4PWMONMPHD33Q/9158.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F5GUMTDJ32KO2RYQ6A2C26GHQ77VDIJ3YJQ3UN7FO2ZINI6Z7ADA/9158.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q46F3BP6CGCRELEYIAHKMSWFO7T6FPSYFISWPHZPIUOFIZZHO6VA/9060.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5OE5KHWHOAGHHHXKUSXJ3IENC5RH37W27GFEMEGWPMBJN7C37BQ/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNKM24KK5VNT73THGN4WTFZOOZ7LZGSVQBTR5OZGMZAUYZ55UGMA/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTO5TVCGQRLY5ZI4DTQLETQMB4THH3FF4GG7CEB2FU6FEXOVB3BQ/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZB2G7EJK7PAFVSLDSL65UUUPKDUFEYBHDNPVGF3XYHVSOO3EHVMA/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNLMOTJP3VK5CQWZT2XCRVNHOCYIN3RVQVEKJZ6D5NBXK3BO4QBQ/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAMYRQDLO4AIBBB4A7CA3SIEG6AMNXH2NLQ57LA4FGTYZZY2REEA/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMEDN3RCAXSQZXLFREA3IG4QCL2CV4J66VSGAGQZVLVWHL6OIBUQ/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IY5SKK77XC3ECGYEH7E4HDDYJF6CMD3L7OHPI62F65HULTQCWXEQ/1246.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3EQCTTE456BMRGMT37SNO5LC5PFJJMJUXGAYI4XBYJ3FWHXHPQ/1246.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JCWUOWWUJPPUOHNXQCCGAUY4D7WV5T3IRLW65JPA472OOSRXSLXQ/1246.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILUA6553MXPH2BDQXNSPYIE5VESA77LXQM46MVHTAMFNOEKBE6UA/1246.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VC7MM67WLSJKH5CZJQ55I3PIREZTJWYMYPRMDTDHPDHU6YZ3JH3Q/9536.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZFPCEQ25TTGPC6OPVKOSUW6KDJBEM6UA6KRSI2UEQTDZHFBPD6A/9536.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P56ZP2AKELWRCZ6DNM7GKJ5JNVPW4GTESSYQD2Q6RLTZS4HDZSLQ/1288.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ASVWEFVJA23SK3A6J6UMXB6MXVCMOLL2YDDLRWCGPBDDLVH3YFJQ/1288.js"
            ]
        },
        "GetGraphIngestState": {
            "http": {
                "requestUri": "/graph/ingestState"
            },
            "input": {
                "type": "structure",
                "required": [
                    "graphArn"
                ],
                "members": {
                    "graphArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ingestState": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/URWGOOVSEMOSKSAGZ6R6KMA6EE3LYEDR3GBCXISOCTTW6MVIY5XA/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HA336UYOOV5V5ZFKMKP6UDI6YTTKQZT23QMWR4B6YKGLFIAV4SIQ/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NHL72MB6EG4QNC5B3A7CPN6EJVTLKGQQTUIXEWPZGOLPAUTAGKQ/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6DFZT535XOH4CZSMGX2XAPMWLJ2CLY2LORYPIA5WL2EKSOR4AVA/3048.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTQYMVJ57YWA74R75JUAQ654IIFF2ZURB7CEYOXLUXO6RXHV6I3Q/6015.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YI2NDYGYXBFQJRE2SYBD2K2G46NU5F2MOXL3Z7OT62IST65BDZQ/8152.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OR2K2UQFXX7QRDKJB4NXTNECNNMFRNGUMMXMMQGR7UY2SQQ5SIQ/4657.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NONHN33GJKLHO6ABEBZ3NDU4OK72TVRZPDETV3T4PWMONMPHD33Q/9158.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F5GUMTDJ32KO2RYQ6A2C26GHQ77VDIJ3YJQ3UN7FO2ZINI6Z7ADA/9158.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q46F3BP6CGCRELEYIAHKMSWFO7T6FPSYFISWPHZPIUOFIZZHO6VA/9060.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5OE5KHWHOAGHHHXKUSXJ3IENC5RH37W27GFEMEGWPMBJN7C37BQ/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNKM24KK5VNT73THGN4WTFZOOZ7LZGSVQBTR5OZGMZAUYZ55UGMA/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTO5TVCGQRLY5ZI4DTQLETQMB4THH3FF4GG7CEB2FU6FEXOVB3BQ/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZB2G7EJK7PAFVSLDSL65UUUPKDUFEYBHDNPVGF3XYHVSOO3EHVMA/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNLMOTJP3VK5CQWZT2XCRVNHOCYIN3RVQVEKJZ6D5NBXK3BO4QBQ/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAMYRQDLO4AIBBB4A7CA3SIEG6AMNXH2NLQ57LA4FGTYZZY2REEA/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMEDN3RCAXSQZXLFREA3IG4QCL2CV4J66VSGAGQZVLVWHL6OIBUQ/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IY5SKK77XC3ECGYEH7E4HDDYJF6CMD3L7OHPI62F65HULTQCWXEQ/1246.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3EQCTTE456BMRGMT37SNO5LC5PFJJMJUXGAYI4XBYJ3FWHXHPQ/1246.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JCWUOWWUJPPUOHNXQCCGAUY4D7WV5T3IRLW65JPA472OOSRXSLXQ/1246.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILUA6553MXPH2BDQXNSPYIE5VESA77LXQM46MVHTAMFNOEKBE6UA/1246.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VC7MM67WLSJKH5CZJQ55I3PIREZTJWYMYPRMDTDHPDHU6YZ3JH3Q/9536.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZFPCEQ25TTGPC6OPVKOSUW6KDJBEM6UA6KRSI2UEQTDZHFBPD6A/9536.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P56ZP2AKELWRCZ6DNM7GKJ5JNVPW4GTESSYQD2Q6RLTZS4HDZSLQ/1288.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ASVWEFVJA23SK3A6J6UMXB6MXVCMOLL2YDDLRWCGPBDDLVH3YFJQ/1288.js"
            ]
        },
        "GetGraphUsageInformation": {
            "http": {
                "requestUri": "/member/usage"
            },
            "input": {
                "type": "structure",
                "members": {
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "UsageInformation": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "StartHour": {},
                                "EndHour": {},
                                "Graph": {},
                                "Usage": {
                                    "type": "long"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "deprecated": true,
            "deprecatedMessage": "This operation is deprecated. Use GetGraphUsageInformationV3 instead.",
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/URWGOOVSEMOSKSAGZ6R6KMA6EE3LYEDR3GBCXISOCTTW6MVIY5XA/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HA336UYOOV5V5ZFKMKP6UDI6YTTKQZT23QMWR4B6YKGLFIAV4SIQ/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NHL72MB6EG4QNC5B3A7CPN6EJVTLKGQQTUIXEWPZGOLPAUTAGKQ/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6DFZT535XOH4CZSMGX2XAPMWLJ2CLY2LORYPIA5WL2EKSOR4AVA/3048.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTQYMVJ57YWA74R75JUAQ654IIFF2ZURB7CEYOXLUXO6RXHV6I3Q/6015.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YI2NDYGYXBFQJRE2SYBD2K2G46NU5F2MOXL3Z7OT62IST65BDZQ/8152.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OR2K2UQFXX7QRDKJB4NXTNECNNMFRNGUMMXMMQGR7UY2SQQ5SIQ/4657.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NONHN33GJKLHO6ABEBZ3NDU4OK72TVRZPDETV3T4PWMONMPHD33Q/9158.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F5GUMTDJ32KO2RYQ6A2C26GHQ77VDIJ3YJQ3UN7FO2ZINI6Z7ADA/9158.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q46F3BP6CGCRELEYIAHKMSWFO7T6FPSYFISWPHZPIUOFIZZHO6VA/9060.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5OE5KHWHOAGHHHXKUSXJ3IENC5RH37W27GFEMEGWPMBJN7C37BQ/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNKM24KK5VNT73THGN4WTFZOOZ7LZGSVQBTR5OZGMZAUYZ55UGMA/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTO5TVCGQRLY5ZI4DTQLETQMB4THH3FF4GG7CEB2FU6FEXOVB3BQ/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZB2G7EJK7PAFVSLDSL65UUUPKDUFEYBHDNPVGF3XYHVSOO3EHVMA/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNLMOTJP3VK5CQWZT2XCRVNHOCYIN3RVQVEKJZ6D5NBXK3BO4QBQ/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAMYRQDLO4AIBBB4A7CA3SIEG6AMNXH2NLQ57LA4FGTYZZY2REEA/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMEDN3RCAXSQZXLFREA3IG4QCL2CV4J66VSGAGQZVLVWHL6OIBUQ/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IY5SKK77XC3ECGYEH7E4HDDYJF6CMD3L7OHPI62F65HULTQCWXEQ/1246.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3EQCTTE456BMRGMT37SNO5LC5PFJJMJUXGAYI4XBYJ3FWHXHPQ/1246.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JCWUOWWUJPPUOHNXQCCGAUY4D7WV5T3IRLW65JPA472OOSRXSLXQ/1246.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILUA6553MXPH2BDQXNSPYIE5VESA77LXQM46MVHTAMFNOEKBE6UA/1246.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VC7MM67WLSJKH5CZJQ55I3PIREZTJWYMYPRMDTDHPDHU6YZ3JH3Q/9536.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZFPCEQ25TTGPC6OPVKOSUW6KDJBEM6UA6KRSI2UEQTDZHFBPD6A/9536.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P56ZP2AKELWRCZ6DNM7GKJ5JNVPW4GTESSYQD2Q6RLTZS4HDZSLQ/1288.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ASVWEFVJA23SK3A6J6UMXB6MXVCMOLL2YDDLRWCGPBDDLVH3YFJQ/1288.js"
            ]
        },
        "GetGraphUsageInformationByDatasource": {
            "http": {
                "requestUri": "/member/usageByDatasource"
            },
            "input": {
                "type": "structure",
                "members": {
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "UsageInformation": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "StartHour": {},
                                "EndHour": {},
                                "Graph": {},
                                "DatasourcePackage": {},
                                "Usage": {
                                    "type": "long"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "deprecated": true,
            "deprecatedMessage": "This operation is deprecated. Use GetGraphUsageInformationV3 instead.",
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/URWGOOVSEMOSKSAGZ6R6KMA6EE3LYEDR3GBCXISOCTTW6MVIY5XA/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HA336UYOOV5V5ZFKMKP6UDI6YTTKQZT23QMWR4B6YKGLFIAV4SIQ/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NHL72MB6EG4QNC5B3A7CPN6EJVTLKGQQTUIXEWPZGOLPAUTAGKQ/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6DFZT535XOH4CZSMGX2XAPMWLJ2CLY2LORYPIA5WL2EKSOR4AVA/3048.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTQYMVJ57YWA74R75JUAQ654IIFF2ZURB7CEYOXLUXO6RXHV6I3Q/6015.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YI2NDYGYXBFQJRE2SYBD2K2G46NU5F2MOXL3Z7OT62IST65BDZQ/8152.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OR2K2UQFXX7QRDKJB4NXTNECNNMFRNGUMMXMMQGR7UY2SQQ5SIQ/4657.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NONHN33GJKLHO6ABEBZ3NDU4OK72TVRZPDETV3T4PWMONMPHD33Q/9158.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F5GUMTDJ32KO2RYQ6A2C26GHQ77VDIJ3YJQ3UN7FO2ZINI6Z7ADA/9158.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q46F3BP6CGCRELEYIAHKMSWFO7T6FPSYFISWPHZPIUOFIZZHO6VA/9060.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5OE5KHWHOAGHHHXKUSXJ3IENC5RH37W27GFEMEGWPMBJN7C37BQ/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNKM24KK5VNT73THGN4WTFZOOZ7LZGSVQBTR5OZGMZAUYZ55UGMA/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTO5TVCGQRLY5ZI4DTQLETQMB4THH3FF4GG7CEB2FU6FEXOVB3BQ/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZB2G7EJK7PAFVSLDSL65UUUPKDUFEYBHDNPVGF3XYHVSOO3EHVMA/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNLMOTJP3VK5CQWZT2XCRVNHOCYIN3RVQVEKJZ6D5NBXK3BO4QBQ/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAMYRQDLO4AIBBB4A7CA3SIEG6AMNXH2NLQ57LA4FGTYZZY2REEA/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMEDN3RCAXSQZXLFREA3IG4QCL2CV4J66VSGAGQZVLVWHL6OIBUQ/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IY5SKK77XC3ECGYEH7E4HDDYJF6CMD3L7OHPI62F65HULTQCWXEQ/1246.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3EQCTTE456BMRGMT37SNO5LC5PFJJMJUXGAYI4XBYJ3FWHXHPQ/1246.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JCWUOWWUJPPUOHNXQCCGAUY4D7WV5T3IRLW65JPA472OOSRXSLXQ/1246.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILUA6553MXPH2BDQXNSPYIE5VESA77LXQM46MVHTAMFNOEKBE6UA/1246.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VC7MM67WLSJKH5CZJQ55I3PIREZTJWYMYPRMDTDHPDHU6YZ3JH3Q/9536.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZFPCEQ25TTGPC6OPVKOSUW6KDJBEM6UA6KRSI2UEQTDZHFBPD6A/9536.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P56ZP2AKELWRCZ6DNM7GKJ5JNVPW4GTESSYQD2Q6RLTZS4HDZSLQ/1288.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ASVWEFVJA23SK3A6J6UMXB6MXVCMOLL2YDDLRWCGPBDDLVH3YFJQ/1288.js"
            ]
        },
        "GetGraphUsageInformationV3": {
            "http": {
                "requestUri": "/member/usageV3"
            },
            "input": {
                "type": "structure",
                "members": {
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "UsageInformation": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "StartHour": {},
                                "EndHour": {},
                                "Graph": {},
                                "Datasource": {},
                                "Usage": {
                                    "type": "long"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLIAJQUKBEOSWXX2MSY2A4ZSXKGQ44E3TPOIUT235NV2FFIUQB6A/9960.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TG66G4WGB74NK33ZAKGKQ45N6QAGCOTLOVM7UG7JLHCKHJLSAXBQ/9960.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66F43WSJ3A4UQVCH4QKT3Z2HGHE6V3PVTNGQZPLL2JZAC37BQJDQ/9960.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XSP2KUT7TXEW7ADIVBZ7QUSIWFAMIL6WKKPRAJOL6SECMCLLFX7A/6043.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJZSWG22IAOXL4V2ECINILAVKK7OA3GBWPA4MDAGDAKEEOL7MD4Q/6043.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ4GQOUKZOLJTDCN54OI7NS7E2V2AFKJDLXYUN4GD6QFW7DBSMRQ/6043.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FUW4L36CMNV4ZPQDJEC7BLM4LIA3IAPECFKKVIO4LE2HS2QX6FRA/4951.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7UYM6RCJOH6GKNT4W5XXLZ5BA7LCLRFC7JLTN6N6PYMN6MG6KBA/9649.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQ5MRCWELDE3NOM4GZL5M27YJAE2TLU5IRGOBERVFLNXK6UJ7LOQ/9649.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMMGDGYYTZEXTDDMZX2QKMQ62CWBK26RD6VP4FCHEYFQOGFLETWQ/9649.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PKTWSBFKFUIQSAIG4ZE3ARCN7FX3MDNXPHOPV2IZZZERHKGMZS5Q/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBW5EC75UU7IWD5VNRHR6YDEHQMPDKAUHPVDTP67JE2RTCKUE7UA/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URWGOOVSEMOSKSAGZ6R6KMA6EE3LYEDR3GBCXISOCTTW6MVIY5XA/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HA336UYOOV5V5ZFKMKP6UDI6YTTKQZT23QMWR4B6YKGLFIAV4SIQ/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NHL72MB6EG4QNC5B3A7CPN6EJVTLKGQQTUIXEWPZGOLPAUTAGKQ/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6DFZT535XOH4CZSMGX2XAPMWLJ2CLY2LORYPIA5WL2EKSOR4AVA/3048.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTQYMVJ57YWA74R75JUAQ654IIFF2ZURB7CEYOXLUXO6RXHV6I3Q/6015.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YI2NDYGYXBFQJRE2SYBD2K2G46NU5F2MOXL3Z7OT62IST65BDZQ/8152.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OR2K2UQFXX7QRDKJB4NXTNECNNMFRNGUMMXMMQGR7UY2SQQ5SIQ/4657.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NONHN33GJKLHO6ABEBZ3NDU4OK72TVRZPDETV3T4PWMONMPHD33Q/9158.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F5GUMTDJ32KO2RYQ6A2C26GHQ77VDIJ3YJQ3UN7FO2ZINI6Z7ADA/9158.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q46F3BP6CGCRELEYIAHKMSWFO7T6FPSYFISWPHZPIUOFIZZHO6VA/9060.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5OE5KHWHOAGHHHXKUSXJ3IENC5RH37W27GFEMEGWPMBJN7C37BQ/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNKM24KK5VNT73THGN4WTFZOOZ7LZGSVQBTR5OZGMZAUYZ55UGMA/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTO5TVCGQRLY5ZI4DTQLETQMB4THH3FF4GG7CEB2FU6FEXOVB3BQ/4533.js"
            ]
        },
        "GetPricingInformation": {
            "http": {
                "requestUri": "/pricingInformation"
            },
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "pricingInformation": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/URWGOOVSEMOSKSAGZ6R6KMA6EE3LYEDR3GBCXISOCTTW6MVIY5XA/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HA336UYOOV5V5ZFKMKP6UDI6YTTKQZT23QMWR4B6YKGLFIAV4SIQ/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NHL72MB6EG4QNC5B3A7CPN6EJVTLKGQQTUIXEWPZGOLPAUTAGKQ/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6DFZT535XOH4CZSMGX2XAPMWLJ2CLY2LORYPIA5WL2EKSOR4AVA/3048.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTQYMVJ57YWA74R75JUAQ654IIFF2ZURB7CEYOXLUXO6RXHV6I3Q/6015.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YI2NDYGYXBFQJRE2SYBD2K2G46NU5F2MOXL3Z7OT62IST65BDZQ/8152.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OR2K2UQFXX7QRDKJB4NXTNECNNMFRNGUMMXMMQGR7UY2SQQ5SIQ/4657.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NONHN33GJKLHO6ABEBZ3NDU4OK72TVRZPDETV3T4PWMONMPHD33Q/9158.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F5GUMTDJ32KO2RYQ6A2C26GHQ77VDIJ3YJQ3UN7FO2ZINI6Z7ADA/9158.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q46F3BP6CGCRELEYIAHKMSWFO7T6FPSYFISWPHZPIUOFIZZHO6VA/9060.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5OE5KHWHOAGHHHXKUSXJ3IENC5RH37W27GFEMEGWPMBJN7C37BQ/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNKM24KK5VNT73THGN4WTFZOOZ7LZGSVQBTR5OZGMZAUYZ55UGMA/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTO5TVCGQRLY5ZI4DTQLETQMB4THH3FF4GG7CEB2FU6FEXOVB3BQ/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZB2G7EJK7PAFVSLDSL65UUUPKDUFEYBHDNPVGF3XYHVSOO3EHVMA/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNLMOTJP3VK5CQWZT2XCRVNHOCYIN3RVQVEKJZ6D5NBXK3BO4QBQ/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAMYRQDLO4AIBBB4A7CA3SIEG6AMNXH2NLQ57LA4FGTYZZY2REEA/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMEDN3RCAXSQZXLFREA3IG4QCL2CV4J66VSGAGQZVLVWHL6OIBUQ/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IY5SKK77XC3ECGYEH7E4HDDYJF6CMD3L7OHPI62F65HULTQCWXEQ/1246.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3EQCTTE456BMRGMT37SNO5LC5PFJJMJUXGAYI4XBYJ3FWHXHPQ/1246.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JCWUOWWUJPPUOHNXQCCGAUY4D7WV5T3IRLW65JPA472OOSRXSLXQ/1246.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILUA6553MXPH2BDQXNSPYIE5VESA77LXQM46MVHTAMFNOEKBE6UA/1246.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VC7MM67WLSJKH5CZJQ55I3PIREZTJWYMYPRMDTDHPDHU6YZ3JH3Q/9536.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZFPCEQ25TTGPC6OPVKOSUW6KDJBEM6UA6KRSI2UEQTDZHFBPD6A/9536.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P56ZP2AKELWRCZ6DNM7GKJ5JNVPW4GTESSYQD2Q6RLTZS4HDZSLQ/1288.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ASVWEFVJA23SK3A6J6UMXB6MXVCMOLL2YDDLRWCGPBDDLVH3YFJQ/1288.js"
            ]
        },
        "GetUsageInformationByDatasource": {
            "http": {
                "requestUri": "/graph/usageByDatasource"
            },
            "input": {
                "type": "structure",
                "required": [
                    "GraphArn"
                ],
                "members": {
                    "GraphArn": {},
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "UsageInformationByDatasource": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "StartHour": {},
                                "EndHour": {},
                                "Account": {},
                                "DatasourcePackage": {},
                                "Usage": {
                                    "type": "long"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "deprecated": true,
            "deprecatedMessage": "This operation is deprecated. Use GetUsageInformationV3 instead.",
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/URWGOOVSEMOSKSAGZ6R6KMA6EE3LYEDR3GBCXISOCTTW6MVIY5XA/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HA336UYOOV5V5ZFKMKP6UDI6YTTKQZT23QMWR4B6YKGLFIAV4SIQ/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NHL72MB6EG4QNC5B3A7CPN6EJVTLKGQQTUIXEWPZGOLPAUTAGKQ/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6DFZT535XOH4CZSMGX2XAPMWLJ2CLY2LORYPIA5WL2EKSOR4AVA/3048.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTQYMVJ57YWA74R75JUAQ654IIFF2ZURB7CEYOXLUXO6RXHV6I3Q/6015.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YI2NDYGYXBFQJRE2SYBD2K2G46NU5F2MOXL3Z7OT62IST65BDZQ/8152.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OR2K2UQFXX7QRDKJB4NXTNECNNMFRNGUMMXMMQGR7UY2SQQ5SIQ/4657.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NONHN33GJKLHO6ABEBZ3NDU4OK72TVRZPDETV3T4PWMONMPHD33Q/9158.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F5GUMTDJ32KO2RYQ6A2C26GHQ77VDIJ3YJQ3UN7FO2ZINI6Z7ADA/9158.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q46F3BP6CGCRELEYIAHKMSWFO7T6FPSYFISWPHZPIUOFIZZHO6VA/9060.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5OE5KHWHOAGHHHXKUSXJ3IENC5RH37W27GFEMEGWPMBJN7C37BQ/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNKM24KK5VNT73THGN4WTFZOOZ7LZGSVQBTR5OZGMZAUYZ55UGMA/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTO5TVCGQRLY5ZI4DTQLETQMB4THH3FF4GG7CEB2FU6FEXOVB3BQ/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZB2G7EJK7PAFVSLDSL65UUUPKDUFEYBHDNPVGF3XYHVSOO3EHVMA/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNLMOTJP3VK5CQWZT2XCRVNHOCYIN3RVQVEKJZ6D5NBXK3BO4QBQ/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAMYRQDLO4AIBBB4A7CA3SIEG6AMNXH2NLQ57LA4FGTYZZY2REEA/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMEDN3RCAXSQZXLFREA3IG4QCL2CV4J66VSGAGQZVLVWHL6OIBUQ/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IY5SKK77XC3ECGYEH7E4HDDYJF6CMD3L7OHPI62F65HULTQCWXEQ/1246.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3EQCTTE456BMRGMT37SNO5LC5PFJJMJUXGAYI4XBYJ3FWHXHPQ/1246.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JCWUOWWUJPPUOHNXQCCGAUY4D7WV5T3IRLW65JPA472OOSRXSLXQ/1246.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILUA6553MXPH2BDQXNSPYIE5VESA77LXQM46MVHTAMFNOEKBE6UA/1246.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VC7MM67WLSJKH5CZJQ55I3PIREZTJWYMYPRMDTDHPDHU6YZ3JH3Q/9536.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZFPCEQ25TTGPC6OPVKOSUW6KDJBEM6UA6KRSI2UEQTDZHFBPD6A/9536.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P56ZP2AKELWRCZ6DNM7GKJ5JNVPW4GTESSYQD2Q6RLTZS4HDZSLQ/1288.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ASVWEFVJA23SK3A6J6UMXB6MXVCMOLL2YDDLRWCGPBDDLVH3YFJQ/1288.js"
            ]
        },
        "GetUsageInformationV2": {
            "http": {
                "requestUri": "/graph/usageInformationV2"
            },
            "input": {
                "type": "structure",
                "required": [
                    "GraphArn"
                ],
                "members": {
                    "GraphArn": {},
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "UsageInformationV2": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "StartHour": {},
                                "EndHour": {},
                                "Account": {},
                                "Usage": {
                                    "type": "long"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "deprecated": true,
            "deprecatedMessage": "This operation is deprecated. Use GetUsageInformationV3 instead.",
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/URWGOOVSEMOSKSAGZ6R6KMA6EE3LYEDR3GBCXISOCTTW6MVIY5XA/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HA336UYOOV5V5ZFKMKP6UDI6YTTKQZT23QMWR4B6YKGLFIAV4SIQ/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NHL72MB6EG4QNC5B3A7CPN6EJVTLKGQQTUIXEWPZGOLPAUTAGKQ/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6DFZT535XOH4CZSMGX2XAPMWLJ2CLY2LORYPIA5WL2EKSOR4AVA/3048.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTQYMVJ57YWA74R75JUAQ654IIFF2ZURB7CEYOXLUXO6RXHV6I3Q/6015.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YI2NDYGYXBFQJRE2SYBD2K2G46NU5F2MOXL3Z7OT62IST65BDZQ/8152.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OR2K2UQFXX7QRDKJB4NXTNECNNMFRNGUMMXMMQGR7UY2SQQ5SIQ/4657.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NONHN33GJKLHO6ABEBZ3NDU4OK72TVRZPDETV3T4PWMONMPHD33Q/9158.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F5GUMTDJ32KO2RYQ6A2C26GHQ77VDIJ3YJQ3UN7FO2ZINI6Z7ADA/9158.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q46F3BP6CGCRELEYIAHKMSWFO7T6FPSYFISWPHZPIUOFIZZHO6VA/9060.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5OE5KHWHOAGHHHXKUSXJ3IENC5RH37W27GFEMEGWPMBJN7C37BQ/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNKM24KK5VNT73THGN4WTFZOOZ7LZGSVQBTR5OZGMZAUYZ55UGMA/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTO5TVCGQRLY5ZI4DTQLETQMB4THH3FF4GG7CEB2FU6FEXOVB3BQ/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZB2G7EJK7PAFVSLDSL65UUUPKDUFEYBHDNPVGF3XYHVSOO3EHVMA/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNLMOTJP3VK5CQWZT2XCRVNHOCYIN3RVQVEKJZ6D5NBXK3BO4QBQ/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAMYRQDLO4AIBBB4A7CA3SIEG6AMNXH2NLQ57LA4FGTYZZY2REEA/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMEDN3RCAXSQZXLFREA3IG4QCL2CV4J66VSGAGQZVLVWHL6OIBUQ/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IY5SKK77XC3ECGYEH7E4HDDYJF6CMD3L7OHPI62F65HULTQCWXEQ/1246.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3EQCTTE456BMRGMT37SNO5LC5PFJJMJUXGAYI4XBYJ3FWHXHPQ/1246.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JCWUOWWUJPPUOHNXQCCGAUY4D7WV5T3IRLW65JPA472OOSRXSLXQ/1246.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILUA6553MXPH2BDQXNSPYIE5VESA77LXQM46MVHTAMFNOEKBE6UA/1246.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VC7MM67WLSJKH5CZJQ55I3PIREZTJWYMYPRMDTDHPDHU6YZ3JH3Q/9536.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZFPCEQ25TTGPC6OPVKOSUW6KDJBEM6UA6KRSI2UEQTDZHFBPD6A/9536.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P56ZP2AKELWRCZ6DNM7GKJ5JNVPW4GTESSYQD2Q6RLTZS4HDZSLQ/1288.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ASVWEFVJA23SK3A6J6UMXB6MXVCMOLL2YDDLRWCGPBDDLVH3YFJQ/1288.js"
            ]
        },
        "GetUsageInformationV3": {
            "http": {
                "requestUri": "/graph/usageV3"
            },
            "input": {
                "type": "structure",
                "required": [
                    "GraphArn"
                ],
                "members": {
                    "GraphArn": {},
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "UsageInformation": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "StartHour": {},
                                "EndHour": {},
                                "Account": {},
                                "Datasource": {},
                                "Usage": {
                                    "type": "long"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/URWGOOVSEMOSKSAGZ6R6KMA6EE3LYEDR3GBCXISOCTTW6MVIY5XA/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HA336UYOOV5V5ZFKMKP6UDI6YTTKQZT23QMWR4B6YKGLFIAV4SIQ/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NHL72MB6EG4QNC5B3A7CPN6EJVTLKGQQTUIXEWPZGOLPAUTAGKQ/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6DFZT535XOH4CZSMGX2XAPMWLJ2CLY2LORYPIA5WL2EKSOR4AVA/3048.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTQYMVJ57YWA74R75JUAQ654IIFF2ZURB7CEYOXLUXO6RXHV6I3Q/6015.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YI2NDYGYXBFQJRE2SYBD2K2G46NU5F2MOXL3Z7OT62IST65BDZQ/8152.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OR2K2UQFXX7QRDKJB4NXTNECNNMFRNGUMMXMMQGR7UY2SQQ5SIQ/4657.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NONHN33GJKLHO6ABEBZ3NDU4OK72TVRZPDETV3T4PWMONMPHD33Q/9158.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F5GUMTDJ32KO2RYQ6A2C26GHQ77VDIJ3YJQ3UN7FO2ZINI6Z7ADA/9158.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q46F3BP6CGCRELEYIAHKMSWFO7T6FPSYFISWPHZPIUOFIZZHO6VA/9060.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5OE5KHWHOAGHHHXKUSXJ3IENC5RH37W27GFEMEGWPMBJN7C37BQ/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNKM24KK5VNT73THGN4WTFZOOZ7LZGSVQBTR5OZGMZAUYZ55UGMA/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTO5TVCGQRLY5ZI4DTQLETQMB4THH3FF4GG7CEB2FU6FEXOVB3BQ/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZB2G7EJK7PAFVSLDSL65UUUPKDUFEYBHDNPVGF3XYHVSOO3EHVMA/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNLMOTJP3VK5CQWZT2XCRVNHOCYIN3RVQVEKJZ6D5NBXK3BO4QBQ/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAMYRQDLO4AIBBB4A7CA3SIEG6AMNXH2NLQ57LA4FGTYZZY2REEA/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMEDN3RCAXSQZXLFREA3IG4QCL2CV4J66VSGAGQZVLVWHL6OIBUQ/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IY5SKK77XC3ECGYEH7E4HDDYJF6CMD3L7OHPI62F65HULTQCWXEQ/1246.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3EQCTTE456BMRGMT37SNO5LC5PFJJMJUXGAYI4XBYJ3FWHXHPQ/1246.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JCWUOWWUJPPUOHNXQCCGAUY4D7WV5T3IRLW65JPA472OOSRXSLXQ/1246.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILUA6553MXPH2BDQXNSPYIE5VESA77LXQM46MVHTAMFNOEKBE6UA/1246.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VC7MM67WLSJKH5CZJQ55I3PIREZTJWYMYPRMDTDHPDHU6YZ3JH3Q/9536.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZFPCEQ25TTGPC6OPVKOSUW6KDJBEM6UA6KRSI2UEQTDZHFBPD6A/9536.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P56ZP2AKELWRCZ6DNM7GKJ5JNVPW4GTESSYQD2Q6RLTZS4HDZSLQ/1288.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ASVWEFVJA23SK3A6J6UMXB6MXVCMOLL2YDDLRWCGPBDDLVH3YFJQ/1288.js"
            ]
        },
        "InvokeAssistant": {
            "http": {
                "requestUri": "/assistant/invoke"
            },
            "input": {
                "type": "structure",
                "required": [
                    "GraphArn",
                    "Outcome",
                    "PromptType",
                    "Identifiers"
                ],
                "members": {
                    "GraphArn": {},
                    "Outcome": {},
                    "PromptType": {},
                    "Identifiers": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Details": {
                        "type": "map",
                        "key": {},
                        "value": {}
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/URWGOOVSEMOSKSAGZ6R6KMA6EE3LYEDR3GBCXISOCTTW6MVIY5XA/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HA336UYOOV5V5ZFKMKP6UDI6YTTKQZT23QMWR4B6YKGLFIAV4SIQ/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NHL72MB6EG4QNC5B3A7CPN6EJVTLKGQQTUIXEWPZGOLPAUTAGKQ/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6DFZT535XOH4CZSMGX2XAPMWLJ2CLY2LORYPIA5WL2EKSOR4AVA/3048.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTQYMVJ57YWA74R75JUAQ654IIFF2ZURB7CEYOXLUXO6RXHV6I3Q/6015.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YI2NDYGYXBFQJRE2SYBD2K2G46NU5F2MOXL3Z7OT62IST65BDZQ/8152.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OR2K2UQFXX7QRDKJB4NXTNECNNMFRNGUMMXMMQGR7UY2SQQ5SIQ/4657.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NONHN33GJKLHO6ABEBZ3NDU4OK72TVRZPDETV3T4PWMONMPHD33Q/9158.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F5GUMTDJ32KO2RYQ6A2C26GHQ77VDIJ3YJQ3UN7FO2ZINI6Z7ADA/9158.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q46F3BP6CGCRELEYIAHKMSWFO7T6FPSYFISWPHZPIUOFIZZHO6VA/9060.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5OE5KHWHOAGHHHXKUSXJ3IENC5RH37W27GFEMEGWPMBJN7C37BQ/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNKM24KK5VNT73THGN4WTFZOOZ7LZGSVQBTR5OZGMZAUYZ55UGMA/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTO5TVCGQRLY5ZI4DTQLETQMB4THH3FF4GG7CEB2FU6FEXOVB3BQ/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZB2G7EJK7PAFVSLDSL65UUUPKDUFEYBHDNPVGF3XYHVSOO3EHVMA/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNLMOTJP3VK5CQWZT2XCRVNHOCYIN3RVQVEKJZ6D5NBXK3BO4QBQ/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAMYRQDLO4AIBBB4A7CA3SIEG6AMNXH2NLQ57LA4FGTYZZY2REEA/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMEDN3RCAXSQZXLFREA3IG4QCL2CV4J66VSGAGQZVLVWHL6OIBUQ/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IY5SKK77XC3ECGYEH7E4HDDYJF6CMD3L7OHPI62F65HULTQCWXEQ/1246.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3EQCTTE456BMRGMT37SNO5LC5PFJJMJUXGAYI4XBYJ3FWHXHPQ/1246.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JCWUOWWUJPPUOHNXQCCGAUY4D7WV5T3IRLW65JPA472OOSRXSLXQ/1246.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILUA6553MXPH2BDQXNSPYIE5VESA77LXQM46MVHTAMFNOEKBE6UA/1246.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VC7MM67WLSJKH5CZJQ55I3PIREZTJWYMYPRMDTDHPDHU6YZ3JH3Q/9536.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZFPCEQ25TTGPC6OPVKOSUW6KDJBEM6UA6KRSI2UEQTDZHFBPD6A/9536.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P56ZP2AKELWRCZ6DNM7GKJ5JNVPW4GTESSYQD2Q6RLTZS4HDZSLQ/1288.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ASVWEFVJA23SK3A6J6UMXB6MXVCMOLL2YDDLRWCGPBDDLVH3YFJQ/1288.js"
            ]
        },
        "ListHighDegreeEntities": {
            "http": {
                "requestUri": "/highdegreeEntities/list"
            },
            "input": {
                "type": "structure",
                "required": [
                    "GraphArn"
                ],
                "members": {
                    "GraphArn": {},
                    "StartTimestamp": {
                        "type": "long"
                    },
                    "EndTimestamp": {
                        "type": "long"
                    },
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "HighDegreeEntities": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "EntityId": {
                                    "type": "structure",
                                    "members": {
                                        "type": {},
                                        "instanceId": {}
                                    }
                                },
                                "RelationshipClass": {
                                    "type": "structure",
                                    "members": {
                                        "OriginType": {},
                                        "Label": {},
                                        "DestinationType": {}
                                    }
                                },
                                "Direction": {},
                                "LatestDetectionTimestamp": {
                                    "type": "long"
                                },
                                "StartTimestamp": {
                                    "type": "long"
                                },
                                "EndTimestamp": {
                                    "type": "long"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/URWGOOVSEMOSKSAGZ6R6KMA6EE3LYEDR3GBCXISOCTTW6MVIY5XA/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HA336UYOOV5V5ZFKMKP6UDI6YTTKQZT23QMWR4B6YKGLFIAV4SIQ/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NHL72MB6EG4QNC5B3A7CPN6EJVTLKGQQTUIXEWPZGOLPAUTAGKQ/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6DFZT535XOH4CZSMGX2XAPMWLJ2CLY2LORYPIA5WL2EKSOR4AVA/3048.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTQYMVJ57YWA74R75JUAQ654IIFF2ZURB7CEYOXLUXO6RXHV6I3Q/6015.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YI2NDYGYXBFQJRE2SYBD2K2G46NU5F2MOXL3Z7OT62IST65BDZQ/8152.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OR2K2UQFXX7QRDKJB4NXTNECNNMFRNGUMMXMMQGR7UY2SQQ5SIQ/4657.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NONHN33GJKLHO6ABEBZ3NDU4OK72TVRZPDETV3T4PWMONMPHD33Q/9158.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F5GUMTDJ32KO2RYQ6A2C26GHQ77VDIJ3YJQ3UN7FO2ZINI6Z7ADA/9158.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q46F3BP6CGCRELEYIAHKMSWFO7T6FPSYFISWPHZPIUOFIZZHO6VA/9060.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5OE5KHWHOAGHHHXKUSXJ3IENC5RH37W27GFEMEGWPMBJN7C37BQ/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNKM24KK5VNT73THGN4WTFZOOZ7LZGSVQBTR5OZGMZAUYZ55UGMA/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTO5TVCGQRLY5ZI4DTQLETQMB4THH3FF4GG7CEB2FU6FEXOVB3BQ/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZB2G7EJK7PAFVSLDSL65UUUPKDUFEYBHDNPVGF3XYHVSOO3EHVMA/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNLMOTJP3VK5CQWZT2XCRVNHOCYIN3RVQVEKJZ6D5NBXK3BO4QBQ/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAMYRQDLO4AIBBB4A7CA3SIEG6AMNXH2NLQ57LA4FGTYZZY2REEA/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMEDN3RCAXSQZXLFREA3IG4QCL2CV4J66VSGAGQZVLVWHL6OIBUQ/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IY5SKK77XC3ECGYEH7E4HDDYJF6CMD3L7OHPI62F65HULTQCWXEQ/1246.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3EQCTTE456BMRGMT37SNO5LC5PFJJMJUXGAYI4XBYJ3FWHXHPQ/1246.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JCWUOWWUJPPUOHNXQCCGAUY4D7WV5T3IRLW65JPA472OOSRXSLXQ/1246.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILUA6553MXPH2BDQXNSPYIE5VESA77LXQM46MVHTAMFNOEKBE6UA/1246.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VC7MM67WLSJKH5CZJQ55I3PIREZTJWYMYPRMDTDHPDHU6YZ3JH3Q/9536.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZFPCEQ25TTGPC6OPVKOSUW6KDJBEM6UA6KRSI2UEQTDZHFBPD6A/9536.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P56ZP2AKELWRCZ6DNM7GKJ5JNVPW4GTESSYQD2Q6RLTZS4HDZSLQ/1288.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ASVWEFVJA23SK3A6J6UMXB6MXVCMOLL2YDDLRWCGPBDDLVH3YFJQ/1288.js"
            ]
        },
        "PseudoOperation": {
            "http": {
                "requestUri": "/pseudo/operation"
            },
            "output": {
                "type": "structure",
                "members": {
                    "DatasourcePackageDatasources": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/URWGOOVSEMOSKSAGZ6R6KMA6EE3LYEDR3GBCXISOCTTW6MVIY5XA/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HA336UYOOV5V5ZFKMKP6UDI6YTTKQZT23QMWR4B6YKGLFIAV4SIQ/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NHL72MB6EG4QNC5B3A7CPN6EJVTLKGQQTUIXEWPZGOLPAUTAGKQ/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6DFZT535XOH4CZSMGX2XAPMWLJ2CLY2LORYPIA5WL2EKSOR4AVA/3048.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTQYMVJ57YWA74R75JUAQ654IIFF2ZURB7CEYOXLUXO6RXHV6I3Q/6015.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YI2NDYGYXBFQJRE2SYBD2K2G46NU5F2MOXL3Z7OT62IST65BDZQ/8152.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OR2K2UQFXX7QRDKJB4NXTNECNNMFRNGUMMXMMQGR7UY2SQQ5SIQ/4657.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NONHN33GJKLHO6ABEBZ3NDU4OK72TVRZPDETV3T4PWMONMPHD33Q/9158.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F5GUMTDJ32KO2RYQ6A2C26GHQ77VDIJ3YJQ3UN7FO2ZINI6Z7ADA/9158.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q46F3BP6CGCRELEYIAHKMSWFO7T6FPSYFISWPHZPIUOFIZZHO6VA/9060.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5OE5KHWHOAGHHHXKUSXJ3IENC5RH37W27GFEMEGWPMBJN7C37BQ/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNKM24KK5VNT73THGN4WTFZOOZ7LZGSVQBTR5OZGMZAUYZ55UGMA/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTO5TVCGQRLY5ZI4DTQLETQMB4THH3FF4GG7CEB2FU6FEXOVB3BQ/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZB2G7EJK7PAFVSLDSL65UUUPKDUFEYBHDNPVGF3XYHVSOO3EHVMA/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNLMOTJP3VK5CQWZT2XCRVNHOCYIN3RVQVEKJZ6D5NBXK3BO4QBQ/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAMYRQDLO4AIBBB4A7CA3SIEG6AMNXH2NLQ57LA4FGTYZZY2REEA/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMEDN3RCAXSQZXLFREA3IG4QCL2CV4J66VSGAGQZVLVWHL6OIBUQ/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IY5SKK77XC3ECGYEH7E4HDDYJF6CMD3L7OHPI62F65HULTQCWXEQ/1246.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3EQCTTE456BMRGMT37SNO5LC5PFJJMJUXGAYI4XBYJ3FWHXHPQ/1246.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JCWUOWWUJPPUOHNXQCCGAUY4D7WV5T3IRLW65JPA472OOSRXSLXQ/1246.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILUA6553MXPH2BDQXNSPYIE5VESA77LXQM46MVHTAMFNOEKBE6UA/1246.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VC7MM67WLSJKH5CZJQ55I3PIREZTJWYMYPRMDTDHPDHU6YZ3JH3Q/9536.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZFPCEQ25TTGPC6OPVKOSUW6KDJBEM6UA6KRSI2UEQTDZHFBPD6A/9536.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P56ZP2AKELWRCZ6DNM7GKJ5JNVPW4GTESSYQD2Q6RLTZS4HDZSLQ/1288.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ASVWEFVJA23SK3A6J6UMXB6MXVCMOLL2YDDLRWCGPBDDLVH3YFJQ/1288.js"
            ]
        },
        "SearchGraph": {
            "http": {
                "requestUri": "/graph/search"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Query",
                    "GraphArn"
                ],
                "members": {
                    "Query": {},
                    "Parameters": {
                        "type": "map",
                        "key": {},
                        "value": {}
                    },
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "GraphArn": {},
                    "QueryClass": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Results": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {}
                        }
                    },
                    "NextToken": {},
                    "SessionToken": {
                        "location": "header",
                        "locationName": "Set-Cookie"
                    },
                    "OutgoingGraphId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/URWGOOVSEMOSKSAGZ6R6KMA6EE3LYEDR3GBCXISOCTTW6MVIY5XA/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HA336UYOOV5V5ZFKMKP6UDI6YTTKQZT23QMWR4B6YKGLFIAV4SIQ/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NHL72MB6EG4QNC5B3A7CPN6EJVTLKGQQTUIXEWPZGOLPAUTAGKQ/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6DFZT535XOH4CZSMGX2XAPMWLJ2CLY2LORYPIA5WL2EKSOR4AVA/3048.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTQYMVJ57YWA74R75JUAQ654IIFF2ZURB7CEYOXLUXO6RXHV6I3Q/6015.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YI2NDYGYXBFQJRE2SYBD2K2G46NU5F2MOXL3Z7OT62IST65BDZQ/8152.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OR2K2UQFXX7QRDKJB4NXTNECNNMFRNGUMMXMMQGR7UY2SQQ5SIQ/4657.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NONHN33GJKLHO6ABEBZ3NDU4OK72TVRZPDETV3T4PWMONMPHD33Q/9158.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F5GUMTDJ32KO2RYQ6A2C26GHQ77VDIJ3YJQ3UN7FO2ZINI6Z7ADA/9158.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q46F3BP6CGCRELEYIAHKMSWFO7T6FPSYFISWPHZPIUOFIZZHO6VA/9060.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5OE5KHWHOAGHHHXKUSXJ3IENC5RH37W27GFEMEGWPMBJN7C37BQ/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNKM24KK5VNT73THGN4WTFZOOZ7LZGSVQBTR5OZGMZAUYZ55UGMA/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTO5TVCGQRLY5ZI4DTQLETQMB4THH3FF4GG7CEB2FU6FEXOVB3BQ/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZB2G7EJK7PAFVSLDSL65UUUPKDUFEYBHDNPVGF3XYHVSOO3EHVMA/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNLMOTJP3VK5CQWZT2XCRVNHOCYIN3RVQVEKJZ6D5NBXK3BO4QBQ/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAMYRQDLO4AIBBB4A7CA3SIEG6AMNXH2NLQ57LA4FGTYZZY2REEA/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMEDN3RCAXSQZXLFREA3IG4QCL2CV4J66VSGAGQZVLVWHL6OIBUQ/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IY5SKK77XC3ECGYEH7E4HDDYJF6CMD3L7OHPI62F65HULTQCWXEQ/1246.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3EQCTTE456BMRGMT37SNO5LC5PFJJMJUXGAYI4XBYJ3FWHXHPQ/1246.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JCWUOWWUJPPUOHNXQCCGAUY4D7WV5T3IRLW65JPA472OOSRXSLXQ/1246.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILUA6553MXPH2BDQXNSPYIE5VESA77LXQM46MVHTAMFNOEKBE6UA/1246.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VC7MM67WLSJKH5CZJQ55I3PIREZTJWYMYPRMDTDHPDHU6YZ3JH3Q/9536.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZFPCEQ25TTGPC6OPVKOSUW6KDJBEM6UA6KRSI2UEQTDZHFBPD6A/9536.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P56ZP2AKELWRCZ6DNM7GKJ5JNVPW4GTESSYQD2Q6RLTZS4HDZSLQ/1288.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ASVWEFVJA23SK3A6J6UMXB6MXVCMOLL2YDDLRWCGPBDDLVH3YFJQ/1288.js"
            ]
        }
    },
    "shapes": {
        "S3": {
            "type": "list",
            "member": {}
        },
        "S6": {
            "type": "map",
            "key": {},
            "value": {
                "type": "long"
            }
        },
        "S8": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "AccountId": {},
                    "UnprocessedReason": {}
                }
            }
        }
    }
}