{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2017-07-25",
        "endpointPrefix": "MoroccoAnalytics",
        "protocol": "rest-json",
        "serviceAbbreviation": "Morocco Analytics",
        "serviceFullName": "Morocco Analytics",
        "serviceId": "MoroccoAnalytics",
        "signatureVersion": "v4",
        "signingName": "detective",
        "uid": "moroccoanalyticsapis-2017-07-25",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/URWGOOVSEMOSKSAGZ6R6KMA6EE3LYEDR3GBCXISOCTTW6MVIY5XA/4661.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HA336UYOOV5V5ZFKMKP6UDI6YTTKQZT23QMWR4B6YKGLFIAV4SIQ/4661.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7NHL72MB6EG4QNC5B3A7CPN6EJVTLKGQQTUIXEWPZGOLPAUTAGKQ/4661.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/D6DFZT535XOH4CZSMGX2XAPMWLJ2CLY2LORYPIA5WL2EKSOR4AVA/3048.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TTQYMVJ57YWA74R75JUAQ654IIFF2ZURB7CEYOXLUXO6RXHV6I3Q/6015.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4YI2NDYGYXBFQJRE2SYBD2K2G46NU5F2MOXL3Z7OT62IST65BDZQ/8152.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4OR2K2UQFXX7QRDKJB4NXTNECNNMFRNGUMMXMMQGR7UY2SQQ5SIQ/4657.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NONHN33GJKLHO6ABEBZ3NDU4OK72TVRZPDETV3T4PWMONMPHD33Q/9158.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/F5GUMTDJ32KO2RYQ6A2C26GHQ77VDIJ3YJQ3UN7FO2ZINI6Z7ADA/9158.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Q46F3BP6CGCRELEYIAHKMSWFO7T6FPSYFISWPHZPIUOFIZZHO6VA/9060.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/X5OE5KHWHOAGHHHXKUSXJ3IENC5RH37W27GFEMEGWPMBJN7C37BQ/4533.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GNKM24KK5VNT73THGN4WTFZOOZ7LZGSVQBTR5OZGMZAUYZ55UGMA/4533.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UTO5TVCGQRLY5ZI4DTQLETQMB4THH3FF4GG7CEB2FU6FEXOVB3BQ/4533.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZB2G7EJK7PAFVSLDSL65UUUPKDUFEYBHDNPVGF3XYHVSOO3EHVMA/4533.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PNLMOTJP3VK5CQWZT2XCRVNHOCYIN3RVQVEKJZ6D5NBXK3BO4QBQ/4533.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PAMYRQDLO4AIBBB4A7CA3SIEG6AMNXH2NLQ57LA4FGTYZZY2REEA/4533.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NMEDN3RCAXSQZXLFREA3IG4QCL2CV4J66VSGAGQZVLVWHL6OIBUQ/4533.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IY5SKK77XC3ECGYEH7E4HDDYJF6CMD3L7OHPI62F65HULTQCWXEQ/1246.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XT3EQCTTE456BMRGMT37SNO5LC5PFJJMJUXGAYI4XBYJ3FWHXHPQ/1246.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JCWUOWWUJPPUOHNXQCCGAUY4D7WV5T3IRLW65JPA472OOSRXSLXQ/1246.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ILUA6553MXPH2BDQXNSPYIE5VESA77LXQM46MVHTAMFNOEKBE6UA/1246.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VC7MM67WLSJKH5CZJQ55I3PIREZTJWYMYPRMDTDHPDHU6YZ3JH3Q/9536.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VZFPCEQ25TTGPC6OPVKOSUW6KDJBEM6UA6KRSI2UEQTDZHFBPD6A/9536.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/P56ZP2AKELWRCZ6DNM7GKJ5JNVPW4GTESSYQD2Q6RLTZS4HDZSLQ/1288.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ASVWEFVJA23SK3A6J6UMXB6MXVCMOLL2YDDLRWCGPBDDLVH3YFJQ/1288.js"
        ]
    },
    "operations": {
        "GetInvestigation": {
            "http": {
                "requestUri": "/investigations/getInvestigation"
            },
            "input": {
                "type": "structure",
                "required": [
                    "GraphArn",
                    "InvestigationId"
                ],
                "members": {
                    "GraphArn": {},
                    "InvestigationId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "GraphArn": {},
                    "InvestigationId": {},
                    "EntityArn": {},
                    "EntityType": {},
                    "CreatedTime": {
                        "shape": "S7"
                    },
                    "ScopeStartTime": {
                        "shape": "S7"
                    },
                    "ScopeEndTime": {
                        "shape": "S7"
                    },
                    "Status": {},
                    "Severity": {},
                    "State": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/URWGOOVSEMOSKSAGZ6R6KMA6EE3LYEDR3GBCXISOCTTW6MVIY5XA/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HA336UYOOV5V5ZFKMKP6UDI6YTTKQZT23QMWR4B6YKGLFIAV4SIQ/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NHL72MB6EG4QNC5B3A7CPN6EJVTLKGQQTUIXEWPZGOLPAUTAGKQ/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6DFZT535XOH4CZSMGX2XAPMWLJ2CLY2LORYPIA5WL2EKSOR4AVA/3048.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTQYMVJ57YWA74R75JUAQ654IIFF2ZURB7CEYOXLUXO6RXHV6I3Q/6015.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YI2NDYGYXBFQJRE2SYBD2K2G46NU5F2MOXL3Z7OT62IST65BDZQ/8152.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OR2K2UQFXX7QRDKJB4NXTNECNNMFRNGUMMXMMQGR7UY2SQQ5SIQ/4657.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NONHN33GJKLHO6ABEBZ3NDU4OK72TVRZPDETV3T4PWMONMPHD33Q/9158.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F5GUMTDJ32KO2RYQ6A2C26GHQ77VDIJ3YJQ3UN7FO2ZINI6Z7ADA/9158.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q46F3BP6CGCRELEYIAHKMSWFO7T6FPSYFISWPHZPIUOFIZZHO6VA/9060.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5OE5KHWHOAGHHHXKUSXJ3IENC5RH37W27GFEMEGWPMBJN7C37BQ/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNKM24KK5VNT73THGN4WTFZOOZ7LZGSVQBTR5OZGMZAUYZ55UGMA/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTO5TVCGQRLY5ZI4DTQLETQMB4THH3FF4GG7CEB2FU6FEXOVB3BQ/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZB2G7EJK7PAFVSLDSL65UUUPKDUFEYBHDNPVGF3XYHVSOO3EHVMA/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNLMOTJP3VK5CQWZT2XCRVNHOCYIN3RVQVEKJZ6D5NBXK3BO4QBQ/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAMYRQDLO4AIBBB4A7CA3SIEG6AMNXH2NLQ57LA4FGTYZZY2REEA/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMEDN3RCAXSQZXLFREA3IG4QCL2CV4J66VSGAGQZVLVWHL6OIBUQ/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IY5SKK77XC3ECGYEH7E4HDDYJF6CMD3L7OHPI62F65HULTQCWXEQ/1246.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3EQCTTE456BMRGMT37SNO5LC5PFJJMJUXGAYI4XBYJ3FWHXHPQ/1246.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JCWUOWWUJPPUOHNXQCCGAUY4D7WV5T3IRLW65JPA472OOSRXSLXQ/1246.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILUA6553MXPH2BDQXNSPYIE5VESA77LXQM46MVHTAMFNOEKBE6UA/1246.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VC7MM67WLSJKH5CZJQ55I3PIREZTJWYMYPRMDTDHPDHU6YZ3JH3Q/9536.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZFPCEQ25TTGPC6OPVKOSUW6KDJBEM6UA6KRSI2UEQTDZHFBPD6A/9536.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P56ZP2AKELWRCZ6DNM7GKJ5JNVPW4GTESSYQD2Q6RLTZS4HDZSLQ/1288.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ASVWEFVJA23SK3A6J6UMXB6MXVCMOLL2YDDLRWCGPBDDLVH3YFJQ/1288.js"
            ]
        },
        "ListIndicators": {
            "http": {
                "requestUri": "/investigations/listIndicators"
            },
            "input": {
                "type": "structure",
                "required": [
                    "GraphArn",
                    "InvestigationId"
                ],
                "members": {
                    "GraphArn": {},
                    "InvestigationId": {},
                    "IndicatorType": {},
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "GraphArn": {},
                    "InvestigationId": {},
                    "NextToken": {},
                    "Indicators": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "IndicatorType": {},
                                "IndicatorDetail": {
                                    "type": "structure",
                                    "members": {
                                        "TTPsObservedDetail": {
                                            "type": "structure",
                                            "members": {
                                                "Tactic": {},
                                                "Technique": {},
                                                "Procedure": {},
                                                "IpAddress": {},
                                                "APIName": {},
                                                "APISuccessCount": {
                                                    "type": "long"
                                                },
                                                "APIFailureCount": {
                                                    "type": "long"
                                                }
                                            }
                                        },
                                        "ImpossibleTravelDetail": {
                                            "type": "structure",
                                            "members": {
                                                "StartingIpAddress": {},
                                                "EndingIpAddress": {},
                                                "StartingLocation": {},
                                                "EndingLocation": {},
                                                "HourlyTimeDelta": {
                                                    "type": "integer"
                                                }
                                            }
                                        },
                                        "FlaggedIpAddressDetail": {
                                            "type": "structure",
                                            "members": {
                                                "IpAddress": {},
                                                "Reason": {}
                                            }
                                        },
                                        "NewGeolocationDetail": {
                                            "type": "structure",
                                            "members": {
                                                "Location": {},
                                                "IpAddress": {},
                                                "IsNewForEntireAccount": {
                                                    "type": "boolean"
                                                }
                                            }
                                        },
                                        "NewAsoDetail": {
                                            "type": "structure",
                                            "members": {
                                                "Aso": {},
                                                "IsNewForEntireAccount": {
                                                    "type": "boolean"
                                                }
                                            }
                                        },
                                        "NewUserAgentDetail": {
                                            "type": "structure",
                                            "members": {
                                                "UserAgent": {},
                                                "IsNewForEntireAccount": {
                                                    "type": "boolean"
                                                }
                                            }
                                        },
                                        "RelatedFindingDetail": {
                                            "type": "structure",
                                            "members": {
                                                "Arn": {},
                                                "Type": {},
                                                "IpAddress": {}
                                            }
                                        },
                                        "RelatedFindingGroupDetail": {
                                            "type": "structure",
                                            "members": {
                                                "Id": {}
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/URWGOOVSEMOSKSAGZ6R6KMA6EE3LYEDR3GBCXISOCTTW6MVIY5XA/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HA336UYOOV5V5ZFKMKP6UDI6YTTKQZT23QMWR4B6YKGLFIAV4SIQ/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NHL72MB6EG4QNC5B3A7CPN6EJVTLKGQQTUIXEWPZGOLPAUTAGKQ/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6DFZT535XOH4CZSMGX2XAPMWLJ2CLY2LORYPIA5WL2EKSOR4AVA/3048.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTQYMVJ57YWA74R75JUAQ654IIFF2ZURB7CEYOXLUXO6RXHV6I3Q/6015.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YI2NDYGYXBFQJRE2SYBD2K2G46NU5F2MOXL3Z7OT62IST65BDZQ/8152.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OR2K2UQFXX7QRDKJB4NXTNECNNMFRNGUMMXMMQGR7UY2SQQ5SIQ/4657.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NONHN33GJKLHO6ABEBZ3NDU4OK72TVRZPDETV3T4PWMONMPHD33Q/9158.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F5GUMTDJ32KO2RYQ6A2C26GHQ77VDIJ3YJQ3UN7FO2ZINI6Z7ADA/9158.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q46F3BP6CGCRELEYIAHKMSWFO7T6FPSYFISWPHZPIUOFIZZHO6VA/9060.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5OE5KHWHOAGHHHXKUSXJ3IENC5RH37W27GFEMEGWPMBJN7C37BQ/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNKM24KK5VNT73THGN4WTFZOOZ7LZGSVQBTR5OZGMZAUYZ55UGMA/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTO5TVCGQRLY5ZI4DTQLETQMB4THH3FF4GG7CEB2FU6FEXOVB3BQ/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZB2G7EJK7PAFVSLDSL65UUUPKDUFEYBHDNPVGF3XYHVSOO3EHVMA/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNLMOTJP3VK5CQWZT2XCRVNHOCYIN3RVQVEKJZ6D5NBXK3BO4QBQ/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAMYRQDLO4AIBBB4A7CA3SIEG6AMNXH2NLQ57LA4FGTYZZY2REEA/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMEDN3RCAXSQZXLFREA3IG4QCL2CV4J66VSGAGQZVLVWHL6OIBUQ/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IY5SKK77XC3ECGYEH7E4HDDYJF6CMD3L7OHPI62F65HULTQCWXEQ/1246.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3EQCTTE456BMRGMT37SNO5LC5PFJJMJUXGAYI4XBYJ3FWHXHPQ/1246.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JCWUOWWUJPPUOHNXQCCGAUY4D7WV5T3IRLW65JPA472OOSRXSLXQ/1246.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILUA6553MXPH2BDQXNSPYIE5VESA77LXQM46MVHTAMFNOEKBE6UA/1246.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VC7MM67WLSJKH5CZJQ55I3PIREZTJWYMYPRMDTDHPDHU6YZ3JH3Q/9536.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZFPCEQ25TTGPC6OPVKOSUW6KDJBEM6UA6KRSI2UEQTDZHFBPD6A/9536.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P56ZP2AKELWRCZ6DNM7GKJ5JNVPW4GTESSYQD2Q6RLTZS4HDZSLQ/1288.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ASVWEFVJA23SK3A6J6UMXB6MXVCMOLL2YDDLRWCGPBDDLVH3YFJQ/1288.js"
            ]
        },
        "ListInvestigations": {
            "http": {
                "requestUri": "/investigations/listInvestigations"
            },
            "input": {
                "type": "structure",
                "required": [
                    "GraphArn"
                ],
                "members": {
                    "GraphArn": {},
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "FilterCriteria": {
                        "type": "structure",
                        "members": {
                            "Severity": {
                                "shape": "S18"
                            },
                            "Status": {
                                "shape": "S18"
                            },
                            "State": {
                                "shape": "S18"
                            },
                            "EntityArn": {
                                "shape": "S18"
                            },
                            "CreatedTime": {
                                "type": "structure",
                                "required": [
                                    "StartInclusive",
                                    "EndInclusive"
                                ],
                                "members": {
                                    "StartInclusive": {
                                        "shape": "S7"
                                    },
                                    "EndInclusive": {
                                        "shape": "S7"
                                    }
                                }
                            }
                        }
                    },
                    "SortCriteria": {
                        "type": "structure",
                        "members": {
                            "Field": {},
                            "SortOrder": {}
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "InvestigationDetails": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "InvestigationId": {},
                                "Severity": {},
                                "Status": {},
                                "State": {},
                                "CreatedTime": {
                                    "shape": "S7"
                                },
                                "EntityArn": {},
                                "EntityType": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/URWGOOVSEMOSKSAGZ6R6KMA6EE3LYEDR3GBCXISOCTTW6MVIY5XA/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HA336UYOOV5V5ZFKMKP6UDI6YTTKQZT23QMWR4B6YKGLFIAV4SIQ/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NHL72MB6EG4QNC5B3A7CPN6EJVTLKGQQTUIXEWPZGOLPAUTAGKQ/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6DFZT535XOH4CZSMGX2XAPMWLJ2CLY2LORYPIA5WL2EKSOR4AVA/3048.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTQYMVJ57YWA74R75JUAQ654IIFF2ZURB7CEYOXLUXO6RXHV6I3Q/6015.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YI2NDYGYXBFQJRE2SYBD2K2G46NU5F2MOXL3Z7OT62IST65BDZQ/8152.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OR2K2UQFXX7QRDKJB4NXTNECNNMFRNGUMMXMMQGR7UY2SQQ5SIQ/4657.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NONHN33GJKLHO6ABEBZ3NDU4OK72TVRZPDETV3T4PWMONMPHD33Q/9158.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F5GUMTDJ32KO2RYQ6A2C26GHQ77VDIJ3YJQ3UN7FO2ZINI6Z7ADA/9158.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q46F3BP6CGCRELEYIAHKMSWFO7T6FPSYFISWPHZPIUOFIZZHO6VA/9060.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5OE5KHWHOAGHHHXKUSXJ3IENC5RH37W27GFEMEGWPMBJN7C37BQ/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNKM24KK5VNT73THGN4WTFZOOZ7LZGSVQBTR5OZGMZAUYZ55UGMA/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTO5TVCGQRLY5ZI4DTQLETQMB4THH3FF4GG7CEB2FU6FEXOVB3BQ/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZB2G7EJK7PAFVSLDSL65UUUPKDUFEYBHDNPVGF3XYHVSOO3EHVMA/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNLMOTJP3VK5CQWZT2XCRVNHOCYIN3RVQVEKJZ6D5NBXK3BO4QBQ/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAMYRQDLO4AIBBB4A7CA3SIEG6AMNXH2NLQ57LA4FGTYZZY2REEA/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMEDN3RCAXSQZXLFREA3IG4QCL2CV4J66VSGAGQZVLVWHL6OIBUQ/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IY5SKK77XC3ECGYEH7E4HDDYJF6CMD3L7OHPI62F65HULTQCWXEQ/1246.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3EQCTTE456BMRGMT37SNO5LC5PFJJMJUXGAYI4XBYJ3FWHXHPQ/1246.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JCWUOWWUJPPUOHNXQCCGAUY4D7WV5T3IRLW65JPA472OOSRXSLXQ/1246.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILUA6553MXPH2BDQXNSPYIE5VESA77LXQM46MVHTAMFNOEKBE6UA/1246.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VC7MM67WLSJKH5CZJQ55I3PIREZTJWYMYPRMDTDHPDHU6YZ3JH3Q/9536.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZFPCEQ25TTGPC6OPVKOSUW6KDJBEM6UA6KRSI2UEQTDZHFBPD6A/9536.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P56ZP2AKELWRCZ6DNM7GKJ5JNVPW4GTESSYQD2Q6RLTZS4HDZSLQ/1288.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ASVWEFVJA23SK3A6J6UMXB6MXVCMOLL2YDDLRWCGPBDDLVH3YFJQ/1288.js"
            ]
        },
        "StartInvestigation": {
            "http": {
                "requestUri": "/investigations/startInvestigation"
            },
            "input": {
                "type": "structure",
                "required": [
                    "GraphArn",
                    "EntityArn",
                    "ScopeStartTime",
                    "ScopeEndTime"
                ],
                "members": {
                    "GraphArn": {},
                    "EntityArn": {},
                    "ScopeStartTime": {
                        "shape": "S7"
                    },
                    "ScopeEndTime": {
                        "shape": "S7"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "InvestigationId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/URWGOOVSEMOSKSAGZ6R6KMA6EE3LYEDR3GBCXISOCTTW6MVIY5XA/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HA336UYOOV5V5ZFKMKP6UDI6YTTKQZT23QMWR4B6YKGLFIAV4SIQ/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NHL72MB6EG4QNC5B3A7CPN6EJVTLKGQQTUIXEWPZGOLPAUTAGKQ/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6DFZT535XOH4CZSMGX2XAPMWLJ2CLY2LORYPIA5WL2EKSOR4AVA/3048.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTQYMVJ57YWA74R75JUAQ654IIFF2ZURB7CEYOXLUXO6RXHV6I3Q/6015.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YI2NDYGYXBFQJRE2SYBD2K2G46NU5F2MOXL3Z7OT62IST65BDZQ/8152.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OR2K2UQFXX7QRDKJB4NXTNECNNMFRNGUMMXMMQGR7UY2SQQ5SIQ/4657.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NONHN33GJKLHO6ABEBZ3NDU4OK72TVRZPDETV3T4PWMONMPHD33Q/9158.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F5GUMTDJ32KO2RYQ6A2C26GHQ77VDIJ3YJQ3UN7FO2ZINI6Z7ADA/9158.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q46F3BP6CGCRELEYIAHKMSWFO7T6FPSYFISWPHZPIUOFIZZHO6VA/9060.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5OE5KHWHOAGHHHXKUSXJ3IENC5RH37W27GFEMEGWPMBJN7C37BQ/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNKM24KK5VNT73THGN4WTFZOOZ7LZGSVQBTR5OZGMZAUYZ55UGMA/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTO5TVCGQRLY5ZI4DTQLETQMB4THH3FF4GG7CEB2FU6FEXOVB3BQ/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZB2G7EJK7PAFVSLDSL65UUUPKDUFEYBHDNPVGF3XYHVSOO3EHVMA/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNLMOTJP3VK5CQWZT2XCRVNHOCYIN3RVQVEKJZ6D5NBXK3BO4QBQ/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAMYRQDLO4AIBBB4A7CA3SIEG6AMNXH2NLQ57LA4FGTYZZY2REEA/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMEDN3RCAXSQZXLFREA3IG4QCL2CV4J66VSGAGQZVLVWHL6OIBUQ/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IY5SKK77XC3ECGYEH7E4HDDYJF6CMD3L7OHPI62F65HULTQCWXEQ/1246.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3EQCTTE456BMRGMT37SNO5LC5PFJJMJUXGAYI4XBYJ3FWHXHPQ/1246.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JCWUOWWUJPPUOHNXQCCGAUY4D7WV5T3IRLW65JPA472OOSRXSLXQ/1246.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILUA6553MXPH2BDQXNSPYIE5VESA77LXQM46MVHTAMFNOEKBE6UA/1246.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VC7MM67WLSJKH5CZJQ55I3PIREZTJWYMYPRMDTDHPDHU6YZ3JH3Q/9536.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZFPCEQ25TTGPC6OPVKOSUW6KDJBEM6UA6KRSI2UEQTDZHFBPD6A/9536.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P56ZP2AKELWRCZ6DNM7GKJ5JNVPW4GTESSYQD2Q6RLTZS4HDZSLQ/1288.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ASVWEFVJA23SK3A6J6UMXB6MXVCMOLL2YDDLRWCGPBDDLVH3YFJQ/1288.js"
            ]
        },
        "UpdateInvestigationState": {
            "http": {
                "requestUri": "/investigations/updateInvestigationState"
            },
            "input": {
                "type": "structure",
                "required": [
                    "GraphArn",
                    "InvestigationId",
                    "State"
                ],
                "members": {
                    "GraphArn": {},
                    "InvestigationId": {},
                    "State": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/URWGOOVSEMOSKSAGZ6R6KMA6EE3LYEDR3GBCXISOCTTW6MVIY5XA/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HA336UYOOV5V5ZFKMKP6UDI6YTTKQZT23QMWR4B6YKGLFIAV4SIQ/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NHL72MB6EG4QNC5B3A7CPN6EJVTLKGQQTUIXEWPZGOLPAUTAGKQ/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6DFZT535XOH4CZSMGX2XAPMWLJ2CLY2LORYPIA5WL2EKSOR4AVA/3048.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTQYMVJ57YWA74R75JUAQ654IIFF2ZURB7CEYOXLUXO6RXHV6I3Q/6015.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YI2NDYGYXBFQJRE2SYBD2K2G46NU5F2MOXL3Z7OT62IST65BDZQ/8152.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OR2K2UQFXX7QRDKJB4NXTNECNNMFRNGUMMXMMQGR7UY2SQQ5SIQ/4657.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NONHN33GJKLHO6ABEBZ3NDU4OK72TVRZPDETV3T4PWMONMPHD33Q/9158.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F5GUMTDJ32KO2RYQ6A2C26GHQ77VDIJ3YJQ3UN7FO2ZINI6Z7ADA/9158.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q46F3BP6CGCRELEYIAHKMSWFO7T6FPSYFISWPHZPIUOFIZZHO6VA/9060.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5OE5KHWHOAGHHHXKUSXJ3IENC5RH37W27GFEMEGWPMBJN7C37BQ/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNKM24KK5VNT73THGN4WTFZOOZ7LZGSVQBTR5OZGMZAUYZ55UGMA/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTO5TVCGQRLY5ZI4DTQLETQMB4THH3FF4GG7CEB2FU6FEXOVB3BQ/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZB2G7EJK7PAFVSLDSL65UUUPKDUFEYBHDNPVGF3XYHVSOO3EHVMA/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNLMOTJP3VK5CQWZT2XCRVNHOCYIN3RVQVEKJZ6D5NBXK3BO4QBQ/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAMYRQDLO4AIBBB4A7CA3SIEG6AMNXH2NLQ57LA4FGTYZZY2REEA/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMEDN3RCAXSQZXLFREA3IG4QCL2CV4J66VSGAGQZVLVWHL6OIBUQ/4533.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IY5SKK77XC3ECGYEH7E4HDDYJF6CMD3L7OHPI62F65HULTQCWXEQ/1246.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3EQCTTE456BMRGMT37SNO5LC5PFJJMJUXGAYI4XBYJ3FWHXHPQ/1246.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JCWUOWWUJPPUOHNXQCCGAUY4D7WV5T3IRLW65JPA472OOSRXSLXQ/1246.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILUA6553MXPH2BDQXNSPYIE5VESA77LXQM46MVHTAMFNOEKBE6UA/1246.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VC7MM67WLSJKH5CZJQ55I3PIREZTJWYMYPRMDTDHPDHU6YZ3JH3Q/9536.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZFPCEQ25TTGPC6OPVKOSUW6KDJBEM6UA6KRSI2UEQTDZHFBPD6A/9536.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P56ZP2AKELWRCZ6DNM7GKJ5JNVPW4GTESSYQD2Q6RLTZS4HDZSLQ/1288.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ASVWEFVJA23SK3A6J6UMXB6MXVCMOLL2YDDLRWCGPBDDLVH3YFJQ/1288.js"
            ]
        }
    },
    "shapes": {
        "S7": {
            "type": "timestamp",
            "timestampFormat": "iso8601"
        },
        "S18": {
            "type": "structure",
            "required": [
                "Value"
            ],
            "members": {
                "Value": {}
            }
        }
    }
}