{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2017-07-25",
        "endpointPrefix": "MoroccoServicePrivateApi",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceAbbreviation": "MoroccoServicePrivateApi",
        "serviceFullName": "Morocco Service Private Api",
        "serviceId": "MoroccoServicePrivateApi",
        "signatureVersion": "v4",
        "signingName": "detective",
        "uid": "morocco-service-private-api-2017-07-25",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/CVAT2FZ3IAXIZ5VZGO2C2RZX5VSKGFB36YLRJZDGOPHSFLKLOGLA/4545.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z5H2G5TPBAUTVC3B2TQ4GSDGALGW6VBJYZRVIIYAYFALJSN2SMMA/4545.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FY5L774XIZZ6ZFHRALIMOIU6LVBL7VF4HR6BFCBLRURMMKN7C4LQ/9960.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5XFN34HPOCEBO74S3TXIQYVPA5V7SFZX4LLPWKABSVIRJOIODAUQ/9960.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MLIAJQUKBEOSWXX2MSY2A4ZSXKGQ44E3TPOIUT235NV2FFIUQB6A/9960.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TG66G4WGB74NK33ZAKGKQ45N6QAGCOTLOVM7UG7JLHCKHJLSAXBQ/9960.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/66F43WSJ3A4UQVCH4QKT3Z2HGHE6V3PVTNGQZPLL2JZAC37BQJDQ/9960.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XSP2KUT7TXEW7ADIVBZ7QUSIWFAMIL6WKKPRAJOL6SECMCLLFX7A/6043.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HJZSWG22IAOXL4V2ECINILAVKK7OA3GBWPA4MDAGDAKEEOL7MD4Q/6043.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HJ4GQOUKZOLJTDCN54OI7NS7E2V2AFKJDLXYUN4GD6QFW7DBSMRQ/6043.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FUW4L36CMNV4ZPQDJEC7BLM4LIA3IAPECFKKVIO4LE2HS2QX6FRA/4951.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/V7UYM6RCJOH6GKNT4W5XXLZ5BA7LCLRFC7JLTN6N6PYMN6MG6KBA/9649.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QQ5MRCWELDE3NOM4GZL5M27YJAE2TLU5IRGOBERVFLNXK6UJ7LOQ/9649.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CMMGDGYYTZEXTDDMZX2QKMQ62CWBK26RD6VP4FCHEYFQOGFLETWQ/9649.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PKTWSBFKFUIQSAIG4ZE3ARCN7FX3MDNXPHOPV2IZZZERHKGMZS5Q/4661.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JBW5EC75UU7IWD5VNRHR6YDEHQMPDKAUHPVDTP67JE2RTCKUE7UA/4661.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/URWGOOVSEMOSKSAGZ6R6KMA6EE3LYEDR3GBCXISOCTTW6MVIY5XA/4661.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HA336UYOOV5V5ZFKMKP6UDI6YTTKQZT23QMWR4B6YKGLFIAV4SIQ/4661.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7NHL72MB6EG4QNC5B3A7CPN6EJVTLKGQQTUIXEWPZGOLPAUTAGKQ/4661.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/D6DFZT535XOH4CZSMGX2XAPMWLJ2CLY2LORYPIA5WL2EKSOR4AVA/3048.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TTQYMVJ57YWA74R75JUAQ654IIFF2ZURB7CEYOXLUXO6RXHV6I3Q/6015.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4YI2NDYGYXBFQJRE2SYBD2K2G46NU5F2MOXL3Z7OT62IST65BDZQ/8152.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4OR2K2UQFXX7QRDKJB4NXTNECNNMFRNGUMMXMMQGR7UY2SQQ5SIQ/4657.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NONHN33GJKLHO6ABEBZ3NDU4OK72TVRZPDETV3T4PWMONMPHD33Q/9158.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/F5GUMTDJ32KO2RYQ6A2C26GHQ77VDIJ3YJQ3UN7FO2ZINI6Z7ADA/9158.js"
        ]
    },
    "operations": {
        "GetFreeTrialEligibility": {
            "http": {
                "requestUri": "/graph/freeTrialEligibility"
            },
            "input": {
                "type": "structure",
                "required": [
                    "GraphArn"
                ],
                "members": {
                    "GraphArn": {},
                    "AccountIds": {
                        "shape": "S3"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "FreeTrialEndTimeByAccount": {
                        "shape": "S6"
                    },
                    "UnprocessedAccounts": {
                        "shape": "S8"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVAT2FZ3IAXIZ5VZGO2C2RZX5VSKGFB36YLRJZDGOPHSFLKLOGLA/4545.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5H2G5TPBAUTVC3B2TQ4GSDGALGW6VBJYZRVIIYAYFALJSN2SMMA/4545.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FY5L774XIZZ6ZFHRALIMOIU6LVBL7VF4HR6BFCBLRURMMKN7C4LQ/9960.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XFN34HPOCEBO74S3TXIQYVPA5V7SFZX4LLPWKABSVIRJOIODAUQ/9960.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLIAJQUKBEOSWXX2MSY2A4ZSXKGQ44E3TPOIUT235NV2FFIUQB6A/9960.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TG66G4WGB74NK33ZAKGKQ45N6QAGCOTLOVM7UG7JLHCKHJLSAXBQ/9960.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66F43WSJ3A4UQVCH4QKT3Z2HGHE6V3PVTNGQZPLL2JZAC37BQJDQ/9960.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XSP2KUT7TXEW7ADIVBZ7QUSIWFAMIL6WKKPRAJOL6SECMCLLFX7A/6043.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJZSWG22IAOXL4V2ECINILAVKK7OA3GBWPA4MDAGDAKEEOL7MD4Q/6043.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ4GQOUKZOLJTDCN54OI7NS7E2V2AFKJDLXYUN4GD6QFW7DBSMRQ/6043.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FUW4L36CMNV4ZPQDJEC7BLM4LIA3IAPECFKKVIO4LE2HS2QX6FRA/4951.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7UYM6RCJOH6GKNT4W5XXLZ5BA7LCLRFC7JLTN6N6PYMN6MG6KBA/9649.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQ5MRCWELDE3NOM4GZL5M27YJAE2TLU5IRGOBERVFLNXK6UJ7LOQ/9649.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMMGDGYYTZEXTDDMZX2QKMQ62CWBK26RD6VP4FCHEYFQOGFLETWQ/9649.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PKTWSBFKFUIQSAIG4ZE3ARCN7FX3MDNXPHOPV2IZZZERHKGMZS5Q/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBW5EC75UU7IWD5VNRHR6YDEHQMPDKAUHPVDTP67JE2RTCKUE7UA/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URWGOOVSEMOSKSAGZ6R6KMA6EE3LYEDR3GBCXISOCTTW6MVIY5XA/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HA336UYOOV5V5ZFKMKP6UDI6YTTKQZT23QMWR4B6YKGLFIAV4SIQ/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NHL72MB6EG4QNC5B3A7CPN6EJVTLKGQQTUIXEWPZGOLPAUTAGKQ/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6DFZT535XOH4CZSMGX2XAPMWLJ2CLY2LORYPIA5WL2EKSOR4AVA/3048.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTQYMVJ57YWA74R75JUAQ654IIFF2ZURB7CEYOXLUXO6RXHV6I3Q/6015.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YI2NDYGYXBFQJRE2SYBD2K2G46NU5F2MOXL3Z7OT62IST65BDZQ/8152.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OR2K2UQFXX7QRDKJB4NXTNECNNMFRNGUMMXMMQGR7UY2SQQ5SIQ/4657.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NONHN33GJKLHO6ABEBZ3NDU4OK72TVRZPDETV3T4PWMONMPHD33Q/9158.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F5GUMTDJ32KO2RYQ6A2C26GHQ77VDIJ3YJQ3UN7FO2ZINI6Z7ADA/9158.js"
            ]
        },
        "GetFreeTrialEligibilityV2": {
            "http": {
                "requestUri": "/graph/freeTrialEligibilityV2"
            },
            "input": {
                "type": "structure",
                "required": [
                    "GraphArn"
                ],
                "members": {
                    "GraphArn": {},
                    "AccountIds": {
                        "shape": "S3"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "FreeTrialAccountsByDatasource": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "shape": "S6"
                        }
                    },
                    "UnprocessedAccounts": {
                        "shape": "S8"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVAT2FZ3IAXIZ5VZGO2C2RZX5VSKGFB36YLRJZDGOPHSFLKLOGLA/4545.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5H2G5TPBAUTVC3B2TQ4GSDGALGW6VBJYZRVIIYAYFALJSN2SMMA/4545.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FY5L774XIZZ6ZFHRALIMOIU6LVBL7VF4HR6BFCBLRURMMKN7C4LQ/9960.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XFN34HPOCEBO74S3TXIQYVPA5V7SFZX4LLPWKABSVIRJOIODAUQ/9960.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLIAJQUKBEOSWXX2MSY2A4ZSXKGQ44E3TPOIUT235NV2FFIUQB6A/9960.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TG66G4WGB74NK33ZAKGKQ45N6QAGCOTLOVM7UG7JLHCKHJLSAXBQ/9960.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66F43WSJ3A4UQVCH4QKT3Z2HGHE6V3PVTNGQZPLL2JZAC37BQJDQ/9960.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XSP2KUT7TXEW7ADIVBZ7QUSIWFAMIL6WKKPRAJOL6SECMCLLFX7A/6043.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJZSWG22IAOXL4V2ECINILAVKK7OA3GBWPA4MDAGDAKEEOL7MD4Q/6043.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ4GQOUKZOLJTDCN54OI7NS7E2V2AFKJDLXYUN4GD6QFW7DBSMRQ/6043.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FUW4L36CMNV4ZPQDJEC7BLM4LIA3IAPECFKKVIO4LE2HS2QX6FRA/4951.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7UYM6RCJOH6GKNT4W5XXLZ5BA7LCLRFC7JLTN6N6PYMN6MG6KBA/9649.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQ5MRCWELDE3NOM4GZL5M27YJAE2TLU5IRGOBERVFLNXK6UJ7LOQ/9649.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMMGDGYYTZEXTDDMZX2QKMQ62CWBK26RD6VP4FCHEYFQOGFLETWQ/9649.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PKTWSBFKFUIQSAIG4ZE3ARCN7FX3MDNXPHOPV2IZZZERHKGMZS5Q/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBW5EC75UU7IWD5VNRHR6YDEHQMPDKAUHPVDTP67JE2RTCKUE7UA/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URWGOOVSEMOSKSAGZ6R6KMA6EE3LYEDR3GBCXISOCTTW6MVIY5XA/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HA336UYOOV5V5ZFKMKP6UDI6YTTKQZT23QMWR4B6YKGLFIAV4SIQ/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NHL72MB6EG4QNC5B3A7CPN6EJVTLKGQQTUIXEWPZGOLPAUTAGKQ/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6DFZT535XOH4CZSMGX2XAPMWLJ2CLY2LORYPIA5WL2EKSOR4AVA/3048.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTQYMVJ57YWA74R75JUAQ654IIFF2ZURB7CEYOXLUXO6RXHV6I3Q/6015.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YI2NDYGYXBFQJRE2SYBD2K2G46NU5F2MOXL3Z7OT62IST65BDZQ/8152.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OR2K2UQFXX7QRDKJB4NXTNECNNMFRNGUMMXMMQGR7UY2SQQ5SIQ/4657.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NONHN33GJKLHO6ABEBZ3NDU4OK72TVRZPDETV3T4PWMONMPHD33Q/9158.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F5GUMTDJ32KO2RYQ6A2C26GHQ77VDIJ3YJQ3UN7FO2ZINI6Z7ADA/9158.js"
            ]
        },
        "GetFreeTrialForAccount": {
            "http": {
                "requestUri": "/member/freeTrial"
            },
            "output": {
                "type": "structure",
                "members": {
                    "FreeTrialEndTime": {
                        "type": "long"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVAT2FZ3IAXIZ5VZGO2C2RZX5VSKGFB36YLRJZDGOPHSFLKLOGLA/4545.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5H2G5TPBAUTVC3B2TQ4GSDGALGW6VBJYZRVIIYAYFALJSN2SMMA/4545.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FY5L774XIZZ6ZFHRALIMOIU6LVBL7VF4HR6BFCBLRURMMKN7C4LQ/9960.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XFN34HPOCEBO74S3TXIQYVPA5V7SFZX4LLPWKABSVIRJOIODAUQ/9960.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLIAJQUKBEOSWXX2MSY2A4ZSXKGQ44E3TPOIUT235NV2FFIUQB6A/9960.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TG66G4WGB74NK33ZAKGKQ45N6QAGCOTLOVM7UG7JLHCKHJLSAXBQ/9960.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66F43WSJ3A4UQVCH4QKT3Z2HGHE6V3PVTNGQZPLL2JZAC37BQJDQ/9960.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XSP2KUT7TXEW7ADIVBZ7QUSIWFAMIL6WKKPRAJOL6SECMCLLFX7A/6043.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJZSWG22IAOXL4V2ECINILAVKK7OA3GBWPA4MDAGDAKEEOL7MD4Q/6043.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ4GQOUKZOLJTDCN54OI7NS7E2V2AFKJDLXYUN4GD6QFW7DBSMRQ/6043.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FUW4L36CMNV4ZPQDJEC7BLM4LIA3IAPECFKKVIO4LE2HS2QX6FRA/4951.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7UYM6RCJOH6GKNT4W5XXLZ5BA7LCLRFC7JLTN6N6PYMN6MG6KBA/9649.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQ5MRCWELDE3NOM4GZL5M27YJAE2TLU5IRGOBERVFLNXK6UJ7LOQ/9649.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMMGDGYYTZEXTDDMZX2QKMQ62CWBK26RD6VP4FCHEYFQOGFLETWQ/9649.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PKTWSBFKFUIQSAIG4ZE3ARCN7FX3MDNXPHOPV2IZZZERHKGMZS5Q/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBW5EC75UU7IWD5VNRHR6YDEHQMPDKAUHPVDTP67JE2RTCKUE7UA/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URWGOOVSEMOSKSAGZ6R6KMA6EE3LYEDR3GBCXISOCTTW6MVIY5XA/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HA336UYOOV5V5ZFKMKP6UDI6YTTKQZT23QMWR4B6YKGLFIAV4SIQ/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NHL72MB6EG4QNC5B3A7CPN6EJVTLKGQQTUIXEWPZGOLPAUTAGKQ/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6DFZT535XOH4CZSMGX2XAPMWLJ2CLY2LORYPIA5WL2EKSOR4AVA/3048.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTQYMVJ57YWA74R75JUAQ654IIFF2ZURB7CEYOXLUXO6RXHV6I3Q/6015.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YI2NDYGYXBFQJRE2SYBD2K2G46NU5F2MOXL3Z7OT62IST65BDZQ/8152.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OR2K2UQFXX7QRDKJB4NXTNECNNMFRNGUMMXMMQGR7UY2SQQ5SIQ/4657.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NONHN33GJKLHO6ABEBZ3NDU4OK72TVRZPDETV3T4PWMONMPHD33Q/9158.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F5GUMTDJ32KO2RYQ6A2C26GHQ77VDIJ3YJQ3UN7FO2ZINI6Z7ADA/9158.js"
            ]
        },
        "GetFreeTrialForAccountV2": {
            "http": {
                "requestUri": "/member/freeTrialV2"
            },
            "output": {
                "type": "structure",
                "members": {
                    "FreeTrialEndTimeByDatasource": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "type": "long"
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVAT2FZ3IAXIZ5VZGO2C2RZX5VSKGFB36YLRJZDGOPHSFLKLOGLA/4545.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5H2G5TPBAUTVC3B2TQ4GSDGALGW6VBJYZRVIIYAYFALJSN2SMMA/4545.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FY5L774XIZZ6ZFHRALIMOIU6LVBL7VF4HR6BFCBLRURMMKN7C4LQ/9960.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XFN34HPOCEBO74S3TXIQYVPA5V7SFZX4LLPWKABSVIRJOIODAUQ/9960.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLIAJQUKBEOSWXX2MSY2A4ZSXKGQ44E3TPOIUT235NV2FFIUQB6A/9960.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TG66G4WGB74NK33ZAKGKQ45N6QAGCOTLOVM7UG7JLHCKHJLSAXBQ/9960.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66F43WSJ3A4UQVCH4QKT3Z2HGHE6V3PVTNGQZPLL2JZAC37BQJDQ/9960.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XSP2KUT7TXEW7ADIVBZ7QUSIWFAMIL6WKKPRAJOL6SECMCLLFX7A/6043.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJZSWG22IAOXL4V2ECINILAVKK7OA3GBWPA4MDAGDAKEEOL7MD4Q/6043.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ4GQOUKZOLJTDCN54OI7NS7E2V2AFKJDLXYUN4GD6QFW7DBSMRQ/6043.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FUW4L36CMNV4ZPQDJEC7BLM4LIA3IAPECFKKVIO4LE2HS2QX6FRA/4951.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7UYM6RCJOH6GKNT4W5XXLZ5BA7LCLRFC7JLTN6N6PYMN6MG6KBA/9649.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQ5MRCWELDE3NOM4GZL5M27YJAE2TLU5IRGOBERVFLNXK6UJ7LOQ/9649.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMMGDGYYTZEXTDDMZX2QKMQ62CWBK26RD6VP4FCHEYFQOGFLETWQ/9649.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PKTWSBFKFUIQSAIG4ZE3ARCN7FX3MDNXPHOPV2IZZZERHKGMZS5Q/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBW5EC75UU7IWD5VNRHR6YDEHQMPDKAUHPVDTP67JE2RTCKUE7UA/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URWGOOVSEMOSKSAGZ6R6KMA6EE3LYEDR3GBCXISOCTTW6MVIY5XA/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HA336UYOOV5V5ZFKMKP6UDI6YTTKQZT23QMWR4B6YKGLFIAV4SIQ/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NHL72MB6EG4QNC5B3A7CPN6EJVTLKGQQTUIXEWPZGOLPAUTAGKQ/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6DFZT535XOH4CZSMGX2XAPMWLJ2CLY2LORYPIA5WL2EKSOR4AVA/3048.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTQYMVJ57YWA74R75JUAQ654IIFF2ZURB7CEYOXLUXO6RXHV6I3Q/6015.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YI2NDYGYXBFQJRE2SYBD2K2G46NU5F2MOXL3Z7OT62IST65BDZQ/8152.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OR2K2UQFXX7QRDKJB4NXTNECNNMFRNGUMMXMMQGR7UY2SQQ5SIQ/4657.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NONHN33GJKLHO6ABEBZ3NDU4OK72TVRZPDETV3T4PWMONMPHD33Q/9158.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F5GUMTDJ32KO2RYQ6A2C26GHQ77VDIJ3YJQ3UN7FO2ZINI6Z7ADA/9158.js"
            ]
        },
        "GetGraphIngestState": {
            "http": {
                "requestUri": "/graph/ingestState"
            },
            "input": {
                "type": "structure",
                "required": [
                    "graphArn"
                ],
                "members": {
                    "graphArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ingestState": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVAT2FZ3IAXIZ5VZGO2C2RZX5VSKGFB36YLRJZDGOPHSFLKLOGLA/4545.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5H2G5TPBAUTVC3B2TQ4GSDGALGW6VBJYZRVIIYAYFALJSN2SMMA/4545.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FY5L774XIZZ6ZFHRALIMOIU6LVBL7VF4HR6BFCBLRURMMKN7C4LQ/9960.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XFN34HPOCEBO74S3TXIQYVPA5V7SFZX4LLPWKABSVIRJOIODAUQ/9960.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLIAJQUKBEOSWXX2MSY2A4ZSXKGQ44E3TPOIUT235NV2FFIUQB6A/9960.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TG66G4WGB74NK33ZAKGKQ45N6QAGCOTLOVM7UG7JLHCKHJLSAXBQ/9960.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66F43WSJ3A4UQVCH4QKT3Z2HGHE6V3PVTNGQZPLL2JZAC37BQJDQ/9960.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XSP2KUT7TXEW7ADIVBZ7QUSIWFAMIL6WKKPRAJOL6SECMCLLFX7A/6043.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJZSWG22IAOXL4V2ECINILAVKK7OA3GBWPA4MDAGDAKEEOL7MD4Q/6043.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ4GQOUKZOLJTDCN54OI7NS7E2V2AFKJDLXYUN4GD6QFW7DBSMRQ/6043.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FUW4L36CMNV4ZPQDJEC7BLM4LIA3IAPECFKKVIO4LE2HS2QX6FRA/4951.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7UYM6RCJOH6GKNT4W5XXLZ5BA7LCLRFC7JLTN6N6PYMN6MG6KBA/9649.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQ5MRCWELDE3NOM4GZL5M27YJAE2TLU5IRGOBERVFLNXK6UJ7LOQ/9649.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMMGDGYYTZEXTDDMZX2QKMQ62CWBK26RD6VP4FCHEYFQOGFLETWQ/9649.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PKTWSBFKFUIQSAIG4ZE3ARCN7FX3MDNXPHOPV2IZZZERHKGMZS5Q/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBW5EC75UU7IWD5VNRHR6YDEHQMPDKAUHPVDTP67JE2RTCKUE7UA/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URWGOOVSEMOSKSAGZ6R6KMA6EE3LYEDR3GBCXISOCTTW6MVIY5XA/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HA336UYOOV5V5ZFKMKP6UDI6YTTKQZT23QMWR4B6YKGLFIAV4SIQ/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NHL72MB6EG4QNC5B3A7CPN6EJVTLKGQQTUIXEWPZGOLPAUTAGKQ/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6DFZT535XOH4CZSMGX2XAPMWLJ2CLY2LORYPIA5WL2EKSOR4AVA/3048.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTQYMVJ57YWA74R75JUAQ654IIFF2ZURB7CEYOXLUXO6RXHV6I3Q/6015.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YI2NDYGYXBFQJRE2SYBD2K2G46NU5F2MOXL3Z7OT62IST65BDZQ/8152.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OR2K2UQFXX7QRDKJB4NXTNECNNMFRNGUMMXMMQGR7UY2SQQ5SIQ/4657.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NONHN33GJKLHO6ABEBZ3NDU4OK72TVRZPDETV3T4PWMONMPHD33Q/9158.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F5GUMTDJ32KO2RYQ6A2C26GHQ77VDIJ3YJQ3UN7FO2ZINI6Z7ADA/9158.js"
            ]
        },
        "GetGraphUsageInformation": {
            "http": {
                "requestUri": "/member/usage"
            },
            "input": {
                "type": "structure",
                "members": {
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "UsageInformation": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "StartHour": {},
                                "EndHour": {},
                                "Graph": {},
                                "Usage": {
                                    "type": "long"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "deprecated": true,
            "deprecatedMessage": "This operation is deprecated. Use GetGraphUsageInformationV3 instead.",
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVAT2FZ3IAXIZ5VZGO2C2RZX5VSKGFB36YLRJZDGOPHSFLKLOGLA/4545.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5H2G5TPBAUTVC3B2TQ4GSDGALGW6VBJYZRVIIYAYFALJSN2SMMA/4545.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FY5L774XIZZ6ZFHRALIMOIU6LVBL7VF4HR6BFCBLRURMMKN7C4LQ/9960.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XFN34HPOCEBO74S3TXIQYVPA5V7SFZX4LLPWKABSVIRJOIODAUQ/9960.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLIAJQUKBEOSWXX2MSY2A4ZSXKGQ44E3TPOIUT235NV2FFIUQB6A/9960.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TG66G4WGB74NK33ZAKGKQ45N6QAGCOTLOVM7UG7JLHCKHJLSAXBQ/9960.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66F43WSJ3A4UQVCH4QKT3Z2HGHE6V3PVTNGQZPLL2JZAC37BQJDQ/9960.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XSP2KUT7TXEW7ADIVBZ7QUSIWFAMIL6WKKPRAJOL6SECMCLLFX7A/6043.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJZSWG22IAOXL4V2ECINILAVKK7OA3GBWPA4MDAGDAKEEOL7MD4Q/6043.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ4GQOUKZOLJTDCN54OI7NS7E2V2AFKJDLXYUN4GD6QFW7DBSMRQ/6043.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FUW4L36CMNV4ZPQDJEC7BLM4LIA3IAPECFKKVIO4LE2HS2QX6FRA/4951.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7UYM6RCJOH6GKNT4W5XXLZ5BA7LCLRFC7JLTN6N6PYMN6MG6KBA/9649.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQ5MRCWELDE3NOM4GZL5M27YJAE2TLU5IRGOBERVFLNXK6UJ7LOQ/9649.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMMGDGYYTZEXTDDMZX2QKMQ62CWBK26RD6VP4FCHEYFQOGFLETWQ/9649.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PKTWSBFKFUIQSAIG4ZE3ARCN7FX3MDNXPHOPV2IZZZERHKGMZS5Q/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBW5EC75UU7IWD5VNRHR6YDEHQMPDKAUHPVDTP67JE2RTCKUE7UA/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URWGOOVSEMOSKSAGZ6R6KMA6EE3LYEDR3GBCXISOCTTW6MVIY5XA/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HA336UYOOV5V5ZFKMKP6UDI6YTTKQZT23QMWR4B6YKGLFIAV4SIQ/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NHL72MB6EG4QNC5B3A7CPN6EJVTLKGQQTUIXEWPZGOLPAUTAGKQ/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6DFZT535XOH4CZSMGX2XAPMWLJ2CLY2LORYPIA5WL2EKSOR4AVA/3048.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTQYMVJ57YWA74R75JUAQ654IIFF2ZURB7CEYOXLUXO6RXHV6I3Q/6015.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YI2NDYGYXBFQJRE2SYBD2K2G46NU5F2MOXL3Z7OT62IST65BDZQ/8152.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OR2K2UQFXX7QRDKJB4NXTNECNNMFRNGUMMXMMQGR7UY2SQQ5SIQ/4657.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NONHN33GJKLHO6ABEBZ3NDU4OK72TVRZPDETV3T4PWMONMPHD33Q/9158.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F5GUMTDJ32KO2RYQ6A2C26GHQ77VDIJ3YJQ3UN7FO2ZINI6Z7ADA/9158.js"
            ]
        },
        "GetGraphUsageInformationByDatasource": {
            "http": {
                "requestUri": "/member/usageByDatasource"
            },
            "input": {
                "type": "structure",
                "members": {
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "UsageInformation": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "StartHour": {},
                                "EndHour": {},
                                "Graph": {},
                                "DatasourcePackage": {},
                                "Usage": {
                                    "type": "long"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "deprecated": true,
            "deprecatedMessage": "This operation is deprecated. Use GetGraphUsageInformationV3 instead.",
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVAT2FZ3IAXIZ5VZGO2C2RZX5VSKGFB36YLRJZDGOPHSFLKLOGLA/4545.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5H2G5TPBAUTVC3B2TQ4GSDGALGW6VBJYZRVIIYAYFALJSN2SMMA/4545.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FY5L774XIZZ6ZFHRALIMOIU6LVBL7VF4HR6BFCBLRURMMKN7C4LQ/9960.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XFN34HPOCEBO74S3TXIQYVPA5V7SFZX4LLPWKABSVIRJOIODAUQ/9960.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLIAJQUKBEOSWXX2MSY2A4ZSXKGQ44E3TPOIUT235NV2FFIUQB6A/9960.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TG66G4WGB74NK33ZAKGKQ45N6QAGCOTLOVM7UG7JLHCKHJLSAXBQ/9960.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66F43WSJ3A4UQVCH4QKT3Z2HGHE6V3PVTNGQZPLL2JZAC37BQJDQ/9960.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XSP2KUT7TXEW7ADIVBZ7QUSIWFAMIL6WKKPRAJOL6SECMCLLFX7A/6043.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJZSWG22IAOXL4V2ECINILAVKK7OA3GBWPA4MDAGDAKEEOL7MD4Q/6043.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ4GQOUKZOLJTDCN54OI7NS7E2V2AFKJDLXYUN4GD6QFW7DBSMRQ/6043.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FUW4L36CMNV4ZPQDJEC7BLM4LIA3IAPECFKKVIO4LE2HS2QX6FRA/4951.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7UYM6RCJOH6GKNT4W5XXLZ5BA7LCLRFC7JLTN6N6PYMN6MG6KBA/9649.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQ5MRCWELDE3NOM4GZL5M27YJAE2TLU5IRGOBERVFLNXK6UJ7LOQ/9649.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMMGDGYYTZEXTDDMZX2QKMQ62CWBK26RD6VP4FCHEYFQOGFLETWQ/9649.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PKTWSBFKFUIQSAIG4ZE3ARCN7FX3MDNXPHOPV2IZZZERHKGMZS5Q/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBW5EC75UU7IWD5VNRHR6YDEHQMPDKAUHPVDTP67JE2RTCKUE7UA/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URWGOOVSEMOSKSAGZ6R6KMA6EE3LYEDR3GBCXISOCTTW6MVIY5XA/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HA336UYOOV5V5ZFKMKP6UDI6YTTKQZT23QMWR4B6YKGLFIAV4SIQ/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NHL72MB6EG4QNC5B3A7CPN6EJVTLKGQQTUIXEWPZGOLPAUTAGKQ/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6DFZT535XOH4CZSMGX2XAPMWLJ2CLY2LORYPIA5WL2EKSOR4AVA/3048.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTQYMVJ57YWA74R75JUAQ654IIFF2ZURB7CEYOXLUXO6RXHV6I3Q/6015.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YI2NDYGYXBFQJRE2SYBD2K2G46NU5F2MOXL3Z7OT62IST65BDZQ/8152.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OR2K2UQFXX7QRDKJB4NXTNECNNMFRNGUMMXMMQGR7UY2SQQ5SIQ/4657.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NONHN33GJKLHO6ABEBZ3NDU4OK72TVRZPDETV3T4PWMONMPHD33Q/9158.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F5GUMTDJ32KO2RYQ6A2C26GHQ77VDIJ3YJQ3UN7FO2ZINI6Z7ADA/9158.js"
            ]
        },
        "GetGraphUsageInformationV3": {
            "http": {
                "requestUri": "/member/usageV3"
            },
            "input": {
                "type": "structure",
                "members": {
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "UsageInformation": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "StartHour": {},
                                "EndHour": {},
                                "Graph": {},
                                "Datasource": {},
                                "Usage": {
                                    "type": "long"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVAT2FZ3IAXIZ5VZGO2C2RZX5VSKGFB36YLRJZDGOPHSFLKLOGLA/4545.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5H2G5TPBAUTVC3B2TQ4GSDGALGW6VBJYZRVIIYAYFALJSN2SMMA/4545.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FY5L774XIZZ6ZFHRALIMOIU6LVBL7VF4HR6BFCBLRURMMKN7C4LQ/9960.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XFN34HPOCEBO74S3TXIQYVPA5V7SFZX4LLPWKABSVIRJOIODAUQ/9960.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLIAJQUKBEOSWXX2MSY2A4ZSXKGQ44E3TPOIUT235NV2FFIUQB6A/9960.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TG66G4WGB74NK33ZAKGKQ45N6QAGCOTLOVM7UG7JLHCKHJLSAXBQ/9960.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66F43WSJ3A4UQVCH4QKT3Z2HGHE6V3PVTNGQZPLL2JZAC37BQJDQ/9960.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XSP2KUT7TXEW7ADIVBZ7QUSIWFAMIL6WKKPRAJOL6SECMCLLFX7A/6043.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJZSWG22IAOXL4V2ECINILAVKK7OA3GBWPA4MDAGDAKEEOL7MD4Q/6043.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ4GQOUKZOLJTDCN54OI7NS7E2V2AFKJDLXYUN4GD6QFW7DBSMRQ/6043.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FUW4L36CMNV4ZPQDJEC7BLM4LIA3IAPECFKKVIO4LE2HS2QX6FRA/4951.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7UYM6RCJOH6GKNT4W5XXLZ5BA7LCLRFC7JLTN6N6PYMN6MG6KBA/9649.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQ5MRCWELDE3NOM4GZL5M27YJAE2TLU5IRGOBERVFLNXK6UJ7LOQ/9649.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMMGDGYYTZEXTDDMZX2QKMQ62CWBK26RD6VP4FCHEYFQOGFLETWQ/9649.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PKTWSBFKFUIQSAIG4ZE3ARCN7FX3MDNXPHOPV2IZZZERHKGMZS5Q/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBW5EC75UU7IWD5VNRHR6YDEHQMPDKAUHPVDTP67JE2RTCKUE7UA/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URWGOOVSEMOSKSAGZ6R6KMA6EE3LYEDR3GBCXISOCTTW6MVIY5XA/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HA336UYOOV5V5ZFKMKP6UDI6YTTKQZT23QMWR4B6YKGLFIAV4SIQ/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NHL72MB6EG4QNC5B3A7CPN6EJVTLKGQQTUIXEWPZGOLPAUTAGKQ/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6DFZT535XOH4CZSMGX2XAPMWLJ2CLY2LORYPIA5WL2EKSOR4AVA/3048.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTQYMVJ57YWA74R75JUAQ654IIFF2ZURB7CEYOXLUXO6RXHV6I3Q/6015.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YI2NDYGYXBFQJRE2SYBD2K2G46NU5F2MOXL3Z7OT62IST65BDZQ/8152.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OR2K2UQFXX7QRDKJB4NXTNECNNMFRNGUMMXMMQGR7UY2SQQ5SIQ/4657.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NONHN33GJKLHO6ABEBZ3NDU4OK72TVRZPDETV3T4PWMONMPHD33Q/9158.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F5GUMTDJ32KO2RYQ6A2C26GHQ77VDIJ3YJQ3UN7FO2ZINI6Z7ADA/9158.js"
            ]
        },
        "GetPricingInformation": {
            "http": {
                "requestUri": "/pricingInformation"
            },
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "pricingInformation": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVAT2FZ3IAXIZ5VZGO2C2RZX5VSKGFB36YLRJZDGOPHSFLKLOGLA/4545.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5H2G5TPBAUTVC3B2TQ4GSDGALGW6VBJYZRVIIYAYFALJSN2SMMA/4545.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FY5L774XIZZ6ZFHRALIMOIU6LVBL7VF4HR6BFCBLRURMMKN7C4LQ/9960.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XFN34HPOCEBO74S3TXIQYVPA5V7SFZX4LLPWKABSVIRJOIODAUQ/9960.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLIAJQUKBEOSWXX2MSY2A4ZSXKGQ44E3TPOIUT235NV2FFIUQB6A/9960.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TG66G4WGB74NK33ZAKGKQ45N6QAGCOTLOVM7UG7JLHCKHJLSAXBQ/9960.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66F43WSJ3A4UQVCH4QKT3Z2HGHE6V3PVTNGQZPLL2JZAC37BQJDQ/9960.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XSP2KUT7TXEW7ADIVBZ7QUSIWFAMIL6WKKPRAJOL6SECMCLLFX7A/6043.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJZSWG22IAOXL4V2ECINILAVKK7OA3GBWPA4MDAGDAKEEOL7MD4Q/6043.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ4GQOUKZOLJTDCN54OI7NS7E2V2AFKJDLXYUN4GD6QFW7DBSMRQ/6043.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FUW4L36CMNV4ZPQDJEC7BLM4LIA3IAPECFKKVIO4LE2HS2QX6FRA/4951.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7UYM6RCJOH6GKNT4W5XXLZ5BA7LCLRFC7JLTN6N6PYMN6MG6KBA/9649.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQ5MRCWELDE3NOM4GZL5M27YJAE2TLU5IRGOBERVFLNXK6UJ7LOQ/9649.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMMGDGYYTZEXTDDMZX2QKMQ62CWBK26RD6VP4FCHEYFQOGFLETWQ/9649.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PKTWSBFKFUIQSAIG4ZE3ARCN7FX3MDNXPHOPV2IZZZERHKGMZS5Q/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBW5EC75UU7IWD5VNRHR6YDEHQMPDKAUHPVDTP67JE2RTCKUE7UA/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URWGOOVSEMOSKSAGZ6R6KMA6EE3LYEDR3GBCXISOCTTW6MVIY5XA/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HA336UYOOV5V5ZFKMKP6UDI6YTTKQZT23QMWR4B6YKGLFIAV4SIQ/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NHL72MB6EG4QNC5B3A7CPN6EJVTLKGQQTUIXEWPZGOLPAUTAGKQ/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6DFZT535XOH4CZSMGX2XAPMWLJ2CLY2LORYPIA5WL2EKSOR4AVA/3048.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTQYMVJ57YWA74R75JUAQ654IIFF2ZURB7CEYOXLUXO6RXHV6I3Q/6015.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YI2NDYGYXBFQJRE2SYBD2K2G46NU5F2MOXL3Z7OT62IST65BDZQ/8152.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OR2K2UQFXX7QRDKJB4NXTNECNNMFRNGUMMXMMQGR7UY2SQQ5SIQ/4657.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NONHN33GJKLHO6ABEBZ3NDU4OK72TVRZPDETV3T4PWMONMPHD33Q/9158.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F5GUMTDJ32KO2RYQ6A2C26GHQ77VDIJ3YJQ3UN7FO2ZINI6Z7ADA/9158.js"
            ]
        },
        "GetUsageInformationByDatasource": {
            "http": {
                "requestUri": "/graph/usageByDatasource"
            },
            "input": {
                "type": "structure",
                "required": [
                    "GraphArn"
                ],
                "members": {
                    "GraphArn": {},
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "UsageInformationByDatasource": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "StartHour": {},
                                "EndHour": {},
                                "Account": {},
                                "DatasourcePackage": {},
                                "Usage": {
                                    "type": "long"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "deprecated": true,
            "deprecatedMessage": "This operation is deprecated. Use GetUsageInformationV3 instead.",
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVAT2FZ3IAXIZ5VZGO2C2RZX5VSKGFB36YLRJZDGOPHSFLKLOGLA/4545.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5H2G5TPBAUTVC3B2TQ4GSDGALGW6VBJYZRVIIYAYFALJSN2SMMA/4545.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FY5L774XIZZ6ZFHRALIMOIU6LVBL7VF4HR6BFCBLRURMMKN7C4LQ/9960.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XFN34HPOCEBO74S3TXIQYVPA5V7SFZX4LLPWKABSVIRJOIODAUQ/9960.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLIAJQUKBEOSWXX2MSY2A4ZSXKGQ44E3TPOIUT235NV2FFIUQB6A/9960.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TG66G4WGB74NK33ZAKGKQ45N6QAGCOTLOVM7UG7JLHCKHJLSAXBQ/9960.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66F43WSJ3A4UQVCH4QKT3Z2HGHE6V3PVTNGQZPLL2JZAC37BQJDQ/9960.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XSP2KUT7TXEW7ADIVBZ7QUSIWFAMIL6WKKPRAJOL6SECMCLLFX7A/6043.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJZSWG22IAOXL4V2ECINILAVKK7OA3GBWPA4MDAGDAKEEOL7MD4Q/6043.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ4GQOUKZOLJTDCN54OI7NS7E2V2AFKJDLXYUN4GD6QFW7DBSMRQ/6043.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FUW4L36CMNV4ZPQDJEC7BLM4LIA3IAPECFKKVIO4LE2HS2QX6FRA/4951.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7UYM6RCJOH6GKNT4W5XXLZ5BA7LCLRFC7JLTN6N6PYMN6MG6KBA/9649.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQ5MRCWELDE3NOM4GZL5M27YJAE2TLU5IRGOBERVFLNXK6UJ7LOQ/9649.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMMGDGYYTZEXTDDMZX2QKMQ62CWBK26RD6VP4FCHEYFQOGFLETWQ/9649.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PKTWSBFKFUIQSAIG4ZE3ARCN7FX3MDNXPHOPV2IZZZERHKGMZS5Q/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBW5EC75UU7IWD5VNRHR6YDEHQMPDKAUHPVDTP67JE2RTCKUE7UA/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URWGOOVSEMOSKSAGZ6R6KMA6EE3LYEDR3GBCXISOCTTW6MVIY5XA/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HA336UYOOV5V5ZFKMKP6UDI6YTTKQZT23QMWR4B6YKGLFIAV4SIQ/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NHL72MB6EG4QNC5B3A7CPN6EJVTLKGQQTUIXEWPZGOLPAUTAGKQ/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6DFZT535XOH4CZSMGX2XAPMWLJ2CLY2LORYPIA5WL2EKSOR4AVA/3048.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTQYMVJ57YWA74R75JUAQ654IIFF2ZURB7CEYOXLUXO6RXHV6I3Q/6015.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YI2NDYGYXBFQJRE2SYBD2K2G46NU5F2MOXL3Z7OT62IST65BDZQ/8152.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OR2K2UQFXX7QRDKJB4NXTNECNNMFRNGUMMXMMQGR7UY2SQQ5SIQ/4657.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NONHN33GJKLHO6ABEBZ3NDU4OK72TVRZPDETV3T4PWMONMPHD33Q/9158.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F5GUMTDJ32KO2RYQ6A2C26GHQ77VDIJ3YJQ3UN7FO2ZINI6Z7ADA/9158.js"
            ]
        },
        "GetUsageInformationV2": {
            "http": {
                "requestUri": "/graph/usageInformationV2"
            },
            "input": {
                "type": "structure",
                "required": [
                    "GraphArn"
                ],
                "members": {
                    "GraphArn": {},
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "UsageInformationV2": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "StartHour": {},
                                "EndHour": {},
                                "Account": {},
                                "Usage": {
                                    "type": "long"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "deprecated": true,
            "deprecatedMessage": "This operation is deprecated. Use GetUsageInformationV3 instead.",
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVAT2FZ3IAXIZ5VZGO2C2RZX5VSKGFB36YLRJZDGOPHSFLKLOGLA/4545.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5H2G5TPBAUTVC3B2TQ4GSDGALGW6VBJYZRVIIYAYFALJSN2SMMA/4545.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FY5L774XIZZ6ZFHRALIMOIU6LVBL7VF4HR6BFCBLRURMMKN7C4LQ/9960.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XFN34HPOCEBO74S3TXIQYVPA5V7SFZX4LLPWKABSVIRJOIODAUQ/9960.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLIAJQUKBEOSWXX2MSY2A4ZSXKGQ44E3TPOIUT235NV2FFIUQB6A/9960.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TG66G4WGB74NK33ZAKGKQ45N6QAGCOTLOVM7UG7JLHCKHJLSAXBQ/9960.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66F43WSJ3A4UQVCH4QKT3Z2HGHE6V3PVTNGQZPLL2JZAC37BQJDQ/9960.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XSP2KUT7TXEW7ADIVBZ7QUSIWFAMIL6WKKPRAJOL6SECMCLLFX7A/6043.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJZSWG22IAOXL4V2ECINILAVKK7OA3GBWPA4MDAGDAKEEOL7MD4Q/6043.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ4GQOUKZOLJTDCN54OI7NS7E2V2AFKJDLXYUN4GD6QFW7DBSMRQ/6043.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FUW4L36CMNV4ZPQDJEC7BLM4LIA3IAPECFKKVIO4LE2HS2QX6FRA/4951.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7UYM6RCJOH6GKNT4W5XXLZ5BA7LCLRFC7JLTN6N6PYMN6MG6KBA/9649.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQ5MRCWELDE3NOM4GZL5M27YJAE2TLU5IRGOBERVFLNXK6UJ7LOQ/9649.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMMGDGYYTZEXTDDMZX2QKMQ62CWBK26RD6VP4FCHEYFQOGFLETWQ/9649.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PKTWSBFKFUIQSAIG4ZE3ARCN7FX3MDNXPHOPV2IZZZERHKGMZS5Q/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBW5EC75UU7IWD5VNRHR6YDEHQMPDKAUHPVDTP67JE2RTCKUE7UA/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URWGOOVSEMOSKSAGZ6R6KMA6EE3LYEDR3GBCXISOCTTW6MVIY5XA/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HA336UYOOV5V5ZFKMKP6UDI6YTTKQZT23QMWR4B6YKGLFIAV4SIQ/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NHL72MB6EG4QNC5B3A7CPN6EJVTLKGQQTUIXEWPZGOLPAUTAGKQ/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6DFZT535XOH4CZSMGX2XAPMWLJ2CLY2LORYPIA5WL2EKSOR4AVA/3048.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTQYMVJ57YWA74R75JUAQ654IIFF2ZURB7CEYOXLUXO6RXHV6I3Q/6015.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YI2NDYGYXBFQJRE2SYBD2K2G46NU5F2MOXL3Z7OT62IST65BDZQ/8152.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OR2K2UQFXX7QRDKJB4NXTNECNNMFRNGUMMXMMQGR7UY2SQQ5SIQ/4657.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NONHN33GJKLHO6ABEBZ3NDU4OK72TVRZPDETV3T4PWMONMPHD33Q/9158.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F5GUMTDJ32KO2RYQ6A2C26GHQ77VDIJ3YJQ3UN7FO2ZINI6Z7ADA/9158.js"
            ]
        },
        "GetUsageInformationV3": {
            "http": {
                "requestUri": "/graph/usageV3"
            },
            "input": {
                "type": "structure",
                "required": [
                    "GraphArn"
                ],
                "members": {
                    "GraphArn": {},
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "UsageInformation": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "StartHour": {},
                                "EndHour": {},
                                "Account": {},
                                "Datasource": {},
                                "Usage": {
                                    "type": "long"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVAT2FZ3IAXIZ5VZGO2C2RZX5VSKGFB36YLRJZDGOPHSFLKLOGLA/4545.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5H2G5TPBAUTVC3B2TQ4GSDGALGW6VBJYZRVIIYAYFALJSN2SMMA/4545.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FY5L774XIZZ6ZFHRALIMOIU6LVBL7VF4HR6BFCBLRURMMKN7C4LQ/9960.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XFN34HPOCEBO74S3TXIQYVPA5V7SFZX4LLPWKABSVIRJOIODAUQ/9960.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLIAJQUKBEOSWXX2MSY2A4ZSXKGQ44E3TPOIUT235NV2FFIUQB6A/9960.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TG66G4WGB74NK33ZAKGKQ45N6QAGCOTLOVM7UG7JLHCKHJLSAXBQ/9960.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66F43WSJ3A4UQVCH4QKT3Z2HGHE6V3PVTNGQZPLL2JZAC37BQJDQ/9960.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XSP2KUT7TXEW7ADIVBZ7QUSIWFAMIL6WKKPRAJOL6SECMCLLFX7A/6043.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJZSWG22IAOXL4V2ECINILAVKK7OA3GBWPA4MDAGDAKEEOL7MD4Q/6043.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ4GQOUKZOLJTDCN54OI7NS7E2V2AFKJDLXYUN4GD6QFW7DBSMRQ/6043.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FUW4L36CMNV4ZPQDJEC7BLM4LIA3IAPECFKKVIO4LE2HS2QX6FRA/4951.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7UYM6RCJOH6GKNT4W5XXLZ5BA7LCLRFC7JLTN6N6PYMN6MG6KBA/9649.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQ5MRCWELDE3NOM4GZL5M27YJAE2TLU5IRGOBERVFLNXK6UJ7LOQ/9649.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMMGDGYYTZEXTDDMZX2QKMQ62CWBK26RD6VP4FCHEYFQOGFLETWQ/9649.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PKTWSBFKFUIQSAIG4ZE3ARCN7FX3MDNXPHOPV2IZZZERHKGMZS5Q/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBW5EC75UU7IWD5VNRHR6YDEHQMPDKAUHPVDTP67JE2RTCKUE7UA/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URWGOOVSEMOSKSAGZ6R6KMA6EE3LYEDR3GBCXISOCTTW6MVIY5XA/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HA336UYOOV5V5ZFKMKP6UDI6YTTKQZT23QMWR4B6YKGLFIAV4SIQ/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NHL72MB6EG4QNC5B3A7CPN6EJVTLKGQQTUIXEWPZGOLPAUTAGKQ/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6DFZT535XOH4CZSMGX2XAPMWLJ2CLY2LORYPIA5WL2EKSOR4AVA/3048.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTQYMVJ57YWA74R75JUAQ654IIFF2ZURB7CEYOXLUXO6RXHV6I3Q/6015.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YI2NDYGYXBFQJRE2SYBD2K2G46NU5F2MOXL3Z7OT62IST65BDZQ/8152.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OR2K2UQFXX7QRDKJB4NXTNECNNMFRNGUMMXMMQGR7UY2SQQ5SIQ/4657.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NONHN33GJKLHO6ABEBZ3NDU4OK72TVRZPDETV3T4PWMONMPHD33Q/9158.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F5GUMTDJ32KO2RYQ6A2C26GHQ77VDIJ3YJQ3UN7FO2ZINI6Z7ADA/9158.js"
            ]
        },
        "InvokeAssistant": {
            "http": {
                "requestUri": "/assistant/invoke"
            },
            "input": {
                "type": "structure",
                "required": [
                    "GraphArn",
                    "Outcome",
                    "PromptType",
                    "Identifiers"
                ],
                "members": {
                    "GraphArn": {},
                    "Outcome": {},
                    "PromptType": {},
                    "Identifiers": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Details": {
                        "type": "map",
                        "key": {},
                        "value": {}
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVAT2FZ3IAXIZ5VZGO2C2RZX5VSKGFB36YLRJZDGOPHSFLKLOGLA/4545.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5H2G5TPBAUTVC3B2TQ4GSDGALGW6VBJYZRVIIYAYFALJSN2SMMA/4545.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FY5L774XIZZ6ZFHRALIMOIU6LVBL7VF4HR6BFCBLRURMMKN7C4LQ/9960.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XFN34HPOCEBO74S3TXIQYVPA5V7SFZX4LLPWKABSVIRJOIODAUQ/9960.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLIAJQUKBEOSWXX2MSY2A4ZSXKGQ44E3TPOIUT235NV2FFIUQB6A/9960.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TG66G4WGB74NK33ZAKGKQ45N6QAGCOTLOVM7UG7JLHCKHJLSAXBQ/9960.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66F43WSJ3A4UQVCH4QKT3Z2HGHE6V3PVTNGQZPLL2JZAC37BQJDQ/9960.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XSP2KUT7TXEW7ADIVBZ7QUSIWFAMIL6WKKPRAJOL6SECMCLLFX7A/6043.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJZSWG22IAOXL4V2ECINILAVKK7OA3GBWPA4MDAGDAKEEOL7MD4Q/6043.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ4GQOUKZOLJTDCN54OI7NS7E2V2AFKJDLXYUN4GD6QFW7DBSMRQ/6043.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FUW4L36CMNV4ZPQDJEC7BLM4LIA3IAPECFKKVIO4LE2HS2QX6FRA/4951.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7UYM6RCJOH6GKNT4W5XXLZ5BA7LCLRFC7JLTN6N6PYMN6MG6KBA/9649.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQ5MRCWELDE3NOM4GZL5M27YJAE2TLU5IRGOBERVFLNXK6UJ7LOQ/9649.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMMGDGYYTZEXTDDMZX2QKMQ62CWBK26RD6VP4FCHEYFQOGFLETWQ/9649.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PKTWSBFKFUIQSAIG4ZE3ARCN7FX3MDNXPHOPV2IZZZERHKGMZS5Q/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBW5EC75UU7IWD5VNRHR6YDEHQMPDKAUHPVDTP67JE2RTCKUE7UA/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URWGOOVSEMOSKSAGZ6R6KMA6EE3LYEDR3GBCXISOCTTW6MVIY5XA/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HA336UYOOV5V5ZFKMKP6UDI6YTTKQZT23QMWR4B6YKGLFIAV4SIQ/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NHL72MB6EG4QNC5B3A7CPN6EJVTLKGQQTUIXEWPZGOLPAUTAGKQ/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6DFZT535XOH4CZSMGX2XAPMWLJ2CLY2LORYPIA5WL2EKSOR4AVA/3048.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTQYMVJ57YWA74R75JUAQ654IIFF2ZURB7CEYOXLUXO6RXHV6I3Q/6015.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YI2NDYGYXBFQJRE2SYBD2K2G46NU5F2MOXL3Z7OT62IST65BDZQ/8152.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OR2K2UQFXX7QRDKJB4NXTNECNNMFRNGUMMXMMQGR7UY2SQQ5SIQ/4657.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NONHN33GJKLHO6ABEBZ3NDU4OK72TVRZPDETV3T4PWMONMPHD33Q/9158.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F5GUMTDJ32KO2RYQ6A2C26GHQ77VDIJ3YJQ3UN7FO2ZINI6Z7ADA/9158.js"
            ]
        },
        "ListHighDegreeEntities": {
            "http": {
                "requestUri": "/highdegreeEntities/list"
            },
            "input": {
                "type": "structure",
                "required": [
                    "GraphArn"
                ],
                "members": {
                    "GraphArn": {},
                    "StartTimestamp": {
                        "type": "long"
                    },
                    "EndTimestamp": {
                        "type": "long"
                    },
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "HighDegreeEntities": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "EntityId": {
                                    "type": "structure",
                                    "members": {
                                        "type": {},
                                        "instanceId": {}
                                    }
                                },
                                "RelationshipClass": {
                                    "type": "structure",
                                    "members": {
                                        "OriginType": {},
                                        "Label": {},
                                        "DestinationType": {}
                                    }
                                },
                                "Direction": {},
                                "LatestDetectionTimestamp": {
                                    "type": "long"
                                },
                                "StartTimestamp": {
                                    "type": "long"
                                },
                                "EndTimestamp": {
                                    "type": "long"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVAT2FZ3IAXIZ5VZGO2C2RZX5VSKGFB36YLRJZDGOPHSFLKLOGLA/4545.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5H2G5TPBAUTVC3B2TQ4GSDGALGW6VBJYZRVIIYAYFALJSN2SMMA/4545.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FY5L774XIZZ6ZFHRALIMOIU6LVBL7VF4HR6BFCBLRURMMKN7C4LQ/9960.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XFN34HPOCEBO74S3TXIQYVPA5V7SFZX4LLPWKABSVIRJOIODAUQ/9960.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLIAJQUKBEOSWXX2MSY2A4ZSXKGQ44E3TPOIUT235NV2FFIUQB6A/9960.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TG66G4WGB74NK33ZAKGKQ45N6QAGCOTLOVM7UG7JLHCKHJLSAXBQ/9960.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66F43WSJ3A4UQVCH4QKT3Z2HGHE6V3PVTNGQZPLL2JZAC37BQJDQ/9960.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XSP2KUT7TXEW7ADIVBZ7QUSIWFAMIL6WKKPRAJOL6SECMCLLFX7A/6043.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJZSWG22IAOXL4V2ECINILAVKK7OA3GBWPA4MDAGDAKEEOL7MD4Q/6043.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ4GQOUKZOLJTDCN54OI7NS7E2V2AFKJDLXYUN4GD6QFW7DBSMRQ/6043.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FUW4L36CMNV4ZPQDJEC7BLM4LIA3IAPECFKKVIO4LE2HS2QX6FRA/4951.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7UYM6RCJOH6GKNT4W5XXLZ5BA7LCLRFC7JLTN6N6PYMN6MG6KBA/9649.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQ5MRCWELDE3NOM4GZL5M27YJAE2TLU5IRGOBERVFLNXK6UJ7LOQ/9649.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMMGDGYYTZEXTDDMZX2QKMQ62CWBK26RD6VP4FCHEYFQOGFLETWQ/9649.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PKTWSBFKFUIQSAIG4ZE3ARCN7FX3MDNXPHOPV2IZZZERHKGMZS5Q/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBW5EC75UU7IWD5VNRHR6YDEHQMPDKAUHPVDTP67JE2RTCKUE7UA/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URWGOOVSEMOSKSAGZ6R6KMA6EE3LYEDR3GBCXISOCTTW6MVIY5XA/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HA336UYOOV5V5ZFKMKP6UDI6YTTKQZT23QMWR4B6YKGLFIAV4SIQ/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NHL72MB6EG4QNC5B3A7CPN6EJVTLKGQQTUIXEWPZGOLPAUTAGKQ/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6DFZT535XOH4CZSMGX2XAPMWLJ2CLY2LORYPIA5WL2EKSOR4AVA/3048.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTQYMVJ57YWA74R75JUAQ654IIFF2ZURB7CEYOXLUXO6RXHV6I3Q/6015.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YI2NDYGYXBFQJRE2SYBD2K2G46NU5F2MOXL3Z7OT62IST65BDZQ/8152.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OR2K2UQFXX7QRDKJB4NXTNECNNMFRNGUMMXMMQGR7UY2SQQ5SIQ/4657.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NONHN33GJKLHO6ABEBZ3NDU4OK72TVRZPDETV3T4PWMONMPHD33Q/9158.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F5GUMTDJ32KO2RYQ6A2C26GHQ77VDIJ3YJQ3UN7FO2ZINI6Z7ADA/9158.js"
            ]
        },
        "PseudoOperation": {
            "http": {
                "requestUri": "/pseudo/operation"
            },
            "output": {
                "type": "structure",
                "members": {
                    "DatasourcePackageDatasources": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVAT2FZ3IAXIZ5VZGO2C2RZX5VSKGFB36YLRJZDGOPHSFLKLOGLA/4545.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5H2G5TPBAUTVC3B2TQ4GSDGALGW6VBJYZRVIIYAYFALJSN2SMMA/4545.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FY5L774XIZZ6ZFHRALIMOIU6LVBL7VF4HR6BFCBLRURMMKN7C4LQ/9960.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XFN34HPOCEBO74S3TXIQYVPA5V7SFZX4LLPWKABSVIRJOIODAUQ/9960.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLIAJQUKBEOSWXX2MSY2A4ZSXKGQ44E3TPOIUT235NV2FFIUQB6A/9960.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TG66G4WGB74NK33ZAKGKQ45N6QAGCOTLOVM7UG7JLHCKHJLSAXBQ/9960.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66F43WSJ3A4UQVCH4QKT3Z2HGHE6V3PVTNGQZPLL2JZAC37BQJDQ/9960.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XSP2KUT7TXEW7ADIVBZ7QUSIWFAMIL6WKKPRAJOL6SECMCLLFX7A/6043.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJZSWG22IAOXL4V2ECINILAVKK7OA3GBWPA4MDAGDAKEEOL7MD4Q/6043.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ4GQOUKZOLJTDCN54OI7NS7E2V2AFKJDLXYUN4GD6QFW7DBSMRQ/6043.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FUW4L36CMNV4ZPQDJEC7BLM4LIA3IAPECFKKVIO4LE2HS2QX6FRA/4951.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7UYM6RCJOH6GKNT4W5XXLZ5BA7LCLRFC7JLTN6N6PYMN6MG6KBA/9649.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQ5MRCWELDE3NOM4GZL5M27YJAE2TLU5IRGOBERVFLNXK6UJ7LOQ/9649.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMMGDGYYTZEXTDDMZX2QKMQ62CWBK26RD6VP4FCHEYFQOGFLETWQ/9649.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PKTWSBFKFUIQSAIG4ZE3ARCN7FX3MDNXPHOPV2IZZZERHKGMZS5Q/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBW5EC75UU7IWD5VNRHR6YDEHQMPDKAUHPVDTP67JE2RTCKUE7UA/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URWGOOVSEMOSKSAGZ6R6KMA6EE3LYEDR3GBCXISOCTTW6MVIY5XA/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HA336UYOOV5V5ZFKMKP6UDI6YTTKQZT23QMWR4B6YKGLFIAV4SIQ/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NHL72MB6EG4QNC5B3A7CPN6EJVTLKGQQTUIXEWPZGOLPAUTAGKQ/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6DFZT535XOH4CZSMGX2XAPMWLJ2CLY2LORYPIA5WL2EKSOR4AVA/3048.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTQYMVJ57YWA74R75JUAQ654IIFF2ZURB7CEYOXLUXO6RXHV6I3Q/6015.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YI2NDYGYXBFQJRE2SYBD2K2G46NU5F2MOXL3Z7OT62IST65BDZQ/8152.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OR2K2UQFXX7QRDKJB4NXTNECNNMFRNGUMMXMMQGR7UY2SQQ5SIQ/4657.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NONHN33GJKLHO6ABEBZ3NDU4OK72TVRZPDETV3T4PWMONMPHD33Q/9158.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F5GUMTDJ32KO2RYQ6A2C26GHQ77VDIJ3YJQ3UN7FO2ZINI6Z7ADA/9158.js"
            ]
        },
        "SearchGraph": {
            "http": {
                "requestUri": "/graph/search"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Query",
                    "GraphArn"
                ],
                "members": {
                    "Query": {},
                    "Parameters": {
                        "type": "map",
                        "key": {},
                        "value": {}
                    },
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "GraphArn": {},
                    "QueryClass": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Results": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {}
                        }
                    },
                    "NextToken": {},
                    "SessionToken": {
                        "location": "header",
                        "locationName": "Set-Cookie"
                    },
                    "OutgoingGraphId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVAT2FZ3IAXIZ5VZGO2C2RZX5VSKGFB36YLRJZDGOPHSFLKLOGLA/4545.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5H2G5TPBAUTVC3B2TQ4GSDGALGW6VBJYZRVIIYAYFALJSN2SMMA/4545.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FY5L774XIZZ6ZFHRALIMOIU6LVBL7VF4HR6BFCBLRURMMKN7C4LQ/9960.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XFN34HPOCEBO74S3TXIQYVPA5V7SFZX4LLPWKABSVIRJOIODAUQ/9960.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLIAJQUKBEOSWXX2MSY2A4ZSXKGQ44E3TPOIUT235NV2FFIUQB6A/9960.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TG66G4WGB74NK33ZAKGKQ45N6QAGCOTLOVM7UG7JLHCKHJLSAXBQ/9960.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66F43WSJ3A4UQVCH4QKT3Z2HGHE6V3PVTNGQZPLL2JZAC37BQJDQ/9960.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XSP2KUT7TXEW7ADIVBZ7QUSIWFAMIL6WKKPRAJOL6SECMCLLFX7A/6043.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJZSWG22IAOXL4V2ECINILAVKK7OA3GBWPA4MDAGDAKEEOL7MD4Q/6043.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ4GQOUKZOLJTDCN54OI7NS7E2V2AFKJDLXYUN4GD6QFW7DBSMRQ/6043.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FUW4L36CMNV4ZPQDJEC7BLM4LIA3IAPECFKKVIO4LE2HS2QX6FRA/4951.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7UYM6RCJOH6GKNT4W5XXLZ5BA7LCLRFC7JLTN6N6PYMN6MG6KBA/9649.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQ5MRCWELDE3NOM4GZL5M27YJAE2TLU5IRGOBERVFLNXK6UJ7LOQ/9649.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMMGDGYYTZEXTDDMZX2QKMQ62CWBK26RD6VP4FCHEYFQOGFLETWQ/9649.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PKTWSBFKFUIQSAIG4ZE3ARCN7FX3MDNXPHOPV2IZZZERHKGMZS5Q/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBW5EC75UU7IWD5VNRHR6YDEHQMPDKAUHPVDTP67JE2RTCKUE7UA/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URWGOOVSEMOSKSAGZ6R6KMA6EE3LYEDR3GBCXISOCTTW6MVIY5XA/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HA336UYOOV5V5ZFKMKP6UDI6YTTKQZT23QMWR4B6YKGLFIAV4SIQ/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NHL72MB6EG4QNC5B3A7CPN6EJVTLKGQQTUIXEWPZGOLPAUTAGKQ/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6DFZT535XOH4CZSMGX2XAPMWLJ2CLY2LORYPIA5WL2EKSOR4AVA/3048.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTQYMVJ57YWA74R75JUAQ654IIFF2ZURB7CEYOXLUXO6RXHV6I3Q/6015.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YI2NDYGYXBFQJRE2SYBD2K2G46NU5F2MOXL3Z7OT62IST65BDZQ/8152.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OR2K2UQFXX7QRDKJB4NXTNECNNMFRNGUMMXMMQGR7UY2SQQ5SIQ/4657.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NONHN33GJKLHO6ABEBZ3NDU4OK72TVRZPDETV3T4PWMONMPHD33Q/9158.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F5GUMTDJ32KO2RYQ6A2C26GHQ77VDIJ3YJQ3UN7FO2ZINI6Z7ADA/9158.js"
            ]
        }
    },
    "shapes": {
        "S3": {
            "type": "list",
            "member": {}
        },
        "S6": {
            "type": "map",
            "key": {},
            "value": {
                "type": "long"
            }
        },
        "S8": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "AccountId": {},
                    "UnprocessedReason": {}
                }
            }
        }
    }
}