{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2020-01-31",
        "endpointPrefix": "MoroccoServicePrivateApi",
        "jsonVersion": "1.0",
        "protocol": "rest-json",
        "serviceAbbreviation": "MoroccoServicePrivateApi",
        "serviceFullName": "Morocco Service Private Api",
        "serviceId": "MoroccoServicePrivateApi",
        "signatureVersion": "v4",
        "signingName": "detective",
        "uid": "morocco-service-private-api-2020-01-31",
        "download_location": [
            "https://c.d.cdn.console.awsstatic.com/a/v1/DBJIU7NIYWUIJFOFA7MYKKZQJC357WLXVDZA7ZSDIW3IDCXVMIUA/2806.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/HYKFYT7IFNJKXWXTJEMZAU32SXOOY5BS7BNE5LVQUDIL6C4FNQBQ/2806.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/7SCGUI2FGAW5PWXSUWZP2AWLBEIFR6TEXHNVISZMEV6PTFHHA4IA/2806.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/7SIHDDQ63DCLWXTU4IHMYKWAYB5VKP7PPVKP6NCQJYFIF3HTG2MA/2806.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/I5MYOJURAUADJP2XVTU23HCFBK5GY22I6SFM64QPABKUNZWO7QHQ/2806.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/KKPT4XPT4WO6GLSAI3FIRAZJ2QUWN7K5PJOTKQSN6R5CVKT4KPAA/2806.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/XPSTLWX4Y7XBZHD5YHTJ7ZZRKINNTKN32Q73WLNBQDF5NEL2XCHQ/2806.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/ZDT4VRUQEB2LBADNVONUFDVI5PKRQF23BXQVKANTCS52JNMRKONQ/9383.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/3IGVOFOL447LOKCMWOA3LJPV7AJLZC3VL26LYNL3UBVNQMAQWZZQ/9383.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/5NUAHQSXMI35THDBYTJMHTURAWEMOTFSWMZ4NGUCGGC2BIIRJFQA/9383.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/A3PA5DQMQYMH6VJJTZVOZMSRBTXZTBPH2S7VJPWOMSBOK7B247WQ/9383.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/G756YVQHQKJJUKBESXOV6PEGW3MWUOD2JNJUBQP2MHXP24ZENXVQ/9383.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/NWLRH655TZGIG3UYCBSGRJMQAKNYVFG3QWHFTWYWE5PHRGCC2GYA/3459.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/U36UQC6Z5DO6C633JNW7GXS573MMS3V6O4QTKMOK63YO5NOP22MA/1869.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3YLBUZZJPTUYP7FWWXD74OPOEHQY2FFB5BSJ6OEX72BTBK5TZSSQ/1869.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/25YIURSX7FP7KEPNBN3C6RCB645PHXQJCQJWPA33LHZGI7K6TIKQ/1869.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/V6WPUGNJONLNASLQOMTXOCUVNJ2GQHD7RDUXZB7O2MOHL25UF5UQ/1869.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TCPYJF7ZDMY4MAGY3GXBVR5HQN7MIO553NKTTFNRUWV2R4APICYA/6634.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/E3XPWUHTY5VKJY5AP5W75KT4OOJTWQ3NYG7Y3INYUUPQCNOAORSQ/6634.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XXM3FGI7AMBTKCD23QEHBX5YNS3EMZSUX4ZEJF63HSYLYIOO3W3A/6634.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Q5YNOFQ6QBBBCPJEMX7ZR4WCZXFYMTYV2ZJOZE3FGF4APVFPASJQ/555.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZKUYY3SPS3YOKAXPPMEFTRKL647XINTUOP7WKOOM6ZMHCLIQUKDQ/6634.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LQJQ6AEATTAWKHOBZPJ7JS3HAYA3KCLR7YXN374FUZMVRG2DUYYQ/4545.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CVAT2FZ3IAXIZ5VZGO2C2RZX5VSKGFB36YLRJZDGOPHSFLKLOGLA/4545.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z5H2G5TPBAUTVC3B2TQ4GSDGALGW6VBJYZRVIIYAYFALJSN2SMMA/4545.js"
        ]
    },
    "operations": {
        "GetFreeTrialEligibility": {
            "http": {
                "requestUri": "/graph/freeTrialEligibility"
            },
            "input": {
                "type": "structure",
                "required": [
                    "GraphArn"
                ],
                "members": {
                    "GraphArn": {},
                    "AccountIds": {
                        "shape": "S3"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "FreeTrialEndTimeByAccount": {
                        "shape": "S6"
                    },
                    "UnprocessedAccounts": {
                        "shape": "S8"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/HYKFYT7IFNJKXWXTJEMZAU32SXOOY5BS7BNE5LVQUDIL6C4FNQBQ/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7SCGUI2FGAW5PWXSUWZP2AWLBEIFR6TEXHNVISZMEV6PTFHHA4IA/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7SIHDDQ63DCLWXTU4IHMYKWAYB5VKP7PPVKP6NCQJYFIF3HTG2MA/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/I5MYOJURAUADJP2XVTU23HCFBK5GY22I6SFM64QPABKUNZWO7QHQ/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KKPT4XPT4WO6GLSAI3FIRAZJ2QUWN7K5PJOTKQSN6R5CVKT4KPAA/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XPSTLWX4Y7XBZHD5YHTJ7ZZRKINNTKN32Q73WLNBQDF5NEL2XCHQ/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZDT4VRUQEB2LBADNVONUFDVI5PKRQF23BXQVKANTCS52JNMRKONQ/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3IGVOFOL447LOKCMWOA3LJPV7AJLZC3VL26LYNL3UBVNQMAQWZZQ/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5NUAHQSXMI35THDBYTJMHTURAWEMOTFSWMZ4NGUCGGC2BIIRJFQA/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/A3PA5DQMQYMH6VJJTZVOZMSRBTXZTBPH2S7VJPWOMSBOK7B247WQ/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/G756YVQHQKJJUKBESXOV6PEGW3MWUOD2JNJUBQP2MHXP24ZENXVQ/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NWLRH655TZGIG3UYCBSGRJMQAKNYVFG3QWHFTWYWE5PHRGCC2GYA/3459.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U36UQC6Z5DO6C633JNW7GXS573MMS3V6O4QTKMOK63YO5NOP22MA/1869.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YLBUZZJPTUYP7FWWXD74OPOEHQY2FFB5BSJ6OEX72BTBK5TZSSQ/1869.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25YIURSX7FP7KEPNBN3C6RCB645PHXQJCQJWPA33LHZGI7K6TIKQ/1869.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6WPUGNJONLNASLQOMTXOCUVNJ2GQHD7RDUXZB7O2MOHL25UF5UQ/1869.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCPYJF7ZDMY4MAGY3GXBVR5HQN7MIO553NKTTFNRUWV2R4APICYA/6634.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3XPWUHTY5VKJY5AP5W75KT4OOJTWQ3NYG7Y3INYUUPQCNOAORSQ/6634.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXM3FGI7AMBTKCD23QEHBX5YNS3EMZSUX4ZEJF63HSYLYIOO3W3A/6634.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5YNOFQ6QBBBCPJEMX7ZR4WCZXFYMTYV2ZJOZE3FGF4APVFPASJQ/555.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKUYY3SPS3YOKAXPPMEFTRKL647XINTUOP7WKOOM6ZMHCLIQUKDQ/6634.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LQJQ6AEATTAWKHOBZPJ7JS3HAYA3KCLR7YXN374FUZMVRG2DUYYQ/4545.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVAT2FZ3IAXIZ5VZGO2C2RZX5VSKGFB36YLRJZDGOPHSFLKLOGLA/4545.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5H2G5TPBAUTVC3B2TQ4GSDGALGW6VBJYZRVIIYAYFALJSN2SMMA/4545.js"
            ]
        },
        "GetFreeTrialEligibilityV2": {
            "http": {
                "requestUri": "/graph/freeTrialEligibilityV2"
            },
            "input": {
                "type": "structure",
                "required": [
                    "GraphArn"
                ],
                "members": {
                    "GraphArn": {},
                    "AccountIds": {
                        "shape": "S3"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "FreeTrialAccountsByDatasource": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "shape": "S6"
                        }
                    },
                    "UnprocessedAccounts": {
                        "shape": "S8"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/HYKFYT7IFNJKXWXTJEMZAU32SXOOY5BS7BNE5LVQUDIL6C4FNQBQ/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7SCGUI2FGAW5PWXSUWZP2AWLBEIFR6TEXHNVISZMEV6PTFHHA4IA/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7SIHDDQ63DCLWXTU4IHMYKWAYB5VKP7PPVKP6NCQJYFIF3HTG2MA/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/I5MYOJURAUADJP2XVTU23HCFBK5GY22I6SFM64QPABKUNZWO7QHQ/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KKPT4XPT4WO6GLSAI3FIRAZJ2QUWN7K5PJOTKQSN6R5CVKT4KPAA/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XPSTLWX4Y7XBZHD5YHTJ7ZZRKINNTKN32Q73WLNBQDF5NEL2XCHQ/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZDT4VRUQEB2LBADNVONUFDVI5PKRQF23BXQVKANTCS52JNMRKONQ/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3IGVOFOL447LOKCMWOA3LJPV7AJLZC3VL26LYNL3UBVNQMAQWZZQ/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5NUAHQSXMI35THDBYTJMHTURAWEMOTFSWMZ4NGUCGGC2BIIRJFQA/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/A3PA5DQMQYMH6VJJTZVOZMSRBTXZTBPH2S7VJPWOMSBOK7B247WQ/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/G756YVQHQKJJUKBESXOV6PEGW3MWUOD2JNJUBQP2MHXP24ZENXVQ/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NWLRH655TZGIG3UYCBSGRJMQAKNYVFG3QWHFTWYWE5PHRGCC2GYA/3459.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U36UQC6Z5DO6C633JNW7GXS573MMS3V6O4QTKMOK63YO5NOP22MA/1869.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YLBUZZJPTUYP7FWWXD74OPOEHQY2FFB5BSJ6OEX72BTBK5TZSSQ/1869.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25YIURSX7FP7KEPNBN3C6RCB645PHXQJCQJWPA33LHZGI7K6TIKQ/1869.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6WPUGNJONLNASLQOMTXOCUVNJ2GQHD7RDUXZB7O2MOHL25UF5UQ/1869.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCPYJF7ZDMY4MAGY3GXBVR5HQN7MIO553NKTTFNRUWV2R4APICYA/6634.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3XPWUHTY5VKJY5AP5W75KT4OOJTWQ3NYG7Y3INYUUPQCNOAORSQ/6634.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXM3FGI7AMBTKCD23QEHBX5YNS3EMZSUX4ZEJF63HSYLYIOO3W3A/6634.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5YNOFQ6QBBBCPJEMX7ZR4WCZXFYMTYV2ZJOZE3FGF4APVFPASJQ/555.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKUYY3SPS3YOKAXPPMEFTRKL647XINTUOP7WKOOM6ZMHCLIQUKDQ/6634.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LQJQ6AEATTAWKHOBZPJ7JS3HAYA3KCLR7YXN374FUZMVRG2DUYYQ/4545.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVAT2FZ3IAXIZ5VZGO2C2RZX5VSKGFB36YLRJZDGOPHSFLKLOGLA/4545.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5H2G5TPBAUTVC3B2TQ4GSDGALGW6VBJYZRVIIYAYFALJSN2SMMA/4545.js"
            ]
        },
        "GetFreeTrialForAccount": {
            "http": {
                "requestUri": "/member/freeTrial"
            },
            "output": {
                "type": "structure",
                "members": {
                    "FreeTrialEndTime": {
                        "type": "long"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/HYKFYT7IFNJKXWXTJEMZAU32SXOOY5BS7BNE5LVQUDIL6C4FNQBQ/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7SCGUI2FGAW5PWXSUWZP2AWLBEIFR6TEXHNVISZMEV6PTFHHA4IA/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7SIHDDQ63DCLWXTU4IHMYKWAYB5VKP7PPVKP6NCQJYFIF3HTG2MA/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/I5MYOJURAUADJP2XVTU23HCFBK5GY22I6SFM64QPABKUNZWO7QHQ/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KKPT4XPT4WO6GLSAI3FIRAZJ2QUWN7K5PJOTKQSN6R5CVKT4KPAA/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XPSTLWX4Y7XBZHD5YHTJ7ZZRKINNTKN32Q73WLNBQDF5NEL2XCHQ/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZDT4VRUQEB2LBADNVONUFDVI5PKRQF23BXQVKANTCS52JNMRKONQ/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3IGVOFOL447LOKCMWOA3LJPV7AJLZC3VL26LYNL3UBVNQMAQWZZQ/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5NUAHQSXMI35THDBYTJMHTURAWEMOTFSWMZ4NGUCGGC2BIIRJFQA/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/A3PA5DQMQYMH6VJJTZVOZMSRBTXZTBPH2S7VJPWOMSBOK7B247WQ/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/G756YVQHQKJJUKBESXOV6PEGW3MWUOD2JNJUBQP2MHXP24ZENXVQ/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NWLRH655TZGIG3UYCBSGRJMQAKNYVFG3QWHFTWYWE5PHRGCC2GYA/3459.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U36UQC6Z5DO6C633JNW7GXS573MMS3V6O4QTKMOK63YO5NOP22MA/1869.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YLBUZZJPTUYP7FWWXD74OPOEHQY2FFB5BSJ6OEX72BTBK5TZSSQ/1869.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25YIURSX7FP7KEPNBN3C6RCB645PHXQJCQJWPA33LHZGI7K6TIKQ/1869.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6WPUGNJONLNASLQOMTXOCUVNJ2GQHD7RDUXZB7O2MOHL25UF5UQ/1869.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCPYJF7ZDMY4MAGY3GXBVR5HQN7MIO553NKTTFNRUWV2R4APICYA/6634.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3XPWUHTY5VKJY5AP5W75KT4OOJTWQ3NYG7Y3INYUUPQCNOAORSQ/6634.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXM3FGI7AMBTKCD23QEHBX5YNS3EMZSUX4ZEJF63HSYLYIOO3W3A/6634.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5YNOFQ6QBBBCPJEMX7ZR4WCZXFYMTYV2ZJOZE3FGF4APVFPASJQ/555.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKUYY3SPS3YOKAXPPMEFTRKL647XINTUOP7WKOOM6ZMHCLIQUKDQ/6634.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LQJQ6AEATTAWKHOBZPJ7JS3HAYA3KCLR7YXN374FUZMVRG2DUYYQ/4545.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVAT2FZ3IAXIZ5VZGO2C2RZX5VSKGFB36YLRJZDGOPHSFLKLOGLA/4545.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5H2G5TPBAUTVC3B2TQ4GSDGALGW6VBJYZRVIIYAYFALJSN2SMMA/4545.js"
            ]
        },
        "GetFreeTrialForAccountV2": {
            "http": {
                "requestUri": "/member/freeTrialV2"
            },
            "output": {
                "type": "structure",
                "members": {
                    "FreeTrialEndTimeByDatasource": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "type": "long"
                        }
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/HYKFYT7IFNJKXWXTJEMZAU32SXOOY5BS7BNE5LVQUDIL6C4FNQBQ/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7SCGUI2FGAW5PWXSUWZP2AWLBEIFR6TEXHNVISZMEV6PTFHHA4IA/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7SIHDDQ63DCLWXTU4IHMYKWAYB5VKP7PPVKP6NCQJYFIF3HTG2MA/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/I5MYOJURAUADJP2XVTU23HCFBK5GY22I6SFM64QPABKUNZWO7QHQ/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KKPT4XPT4WO6GLSAI3FIRAZJ2QUWN7K5PJOTKQSN6R5CVKT4KPAA/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XPSTLWX4Y7XBZHD5YHTJ7ZZRKINNTKN32Q73WLNBQDF5NEL2XCHQ/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZDT4VRUQEB2LBADNVONUFDVI5PKRQF23BXQVKANTCS52JNMRKONQ/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3IGVOFOL447LOKCMWOA3LJPV7AJLZC3VL26LYNL3UBVNQMAQWZZQ/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5NUAHQSXMI35THDBYTJMHTURAWEMOTFSWMZ4NGUCGGC2BIIRJFQA/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/A3PA5DQMQYMH6VJJTZVOZMSRBTXZTBPH2S7VJPWOMSBOK7B247WQ/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/G756YVQHQKJJUKBESXOV6PEGW3MWUOD2JNJUBQP2MHXP24ZENXVQ/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NWLRH655TZGIG3UYCBSGRJMQAKNYVFG3QWHFTWYWE5PHRGCC2GYA/3459.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U36UQC6Z5DO6C633JNW7GXS573MMS3V6O4QTKMOK63YO5NOP22MA/1869.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YLBUZZJPTUYP7FWWXD74OPOEHQY2FFB5BSJ6OEX72BTBK5TZSSQ/1869.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25YIURSX7FP7KEPNBN3C6RCB645PHXQJCQJWPA33LHZGI7K6TIKQ/1869.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6WPUGNJONLNASLQOMTXOCUVNJ2GQHD7RDUXZB7O2MOHL25UF5UQ/1869.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCPYJF7ZDMY4MAGY3GXBVR5HQN7MIO553NKTTFNRUWV2R4APICYA/6634.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3XPWUHTY5VKJY5AP5W75KT4OOJTWQ3NYG7Y3INYUUPQCNOAORSQ/6634.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXM3FGI7AMBTKCD23QEHBX5YNS3EMZSUX4ZEJF63HSYLYIOO3W3A/6634.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5YNOFQ6QBBBCPJEMX7ZR4WCZXFYMTYV2ZJOZE3FGF4APVFPASJQ/555.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKUYY3SPS3YOKAXPPMEFTRKL647XINTUOP7WKOOM6ZMHCLIQUKDQ/6634.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LQJQ6AEATTAWKHOBZPJ7JS3HAYA3KCLR7YXN374FUZMVRG2DUYYQ/4545.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVAT2FZ3IAXIZ5VZGO2C2RZX5VSKGFB36YLRJZDGOPHSFLKLOGLA/4545.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5H2G5TPBAUTVC3B2TQ4GSDGALGW6VBJYZRVIIYAYFALJSN2SMMA/4545.js"
            ]
        },
        "GetGraphIngestState": {
            "http": {
                "requestUri": "/graph/ingestState"
            },
            "input": {
                "type": "structure",
                "required": [
                    "graphArn"
                ],
                "members": {
                    "graphArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ingestState": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/HYKFYT7IFNJKXWXTJEMZAU32SXOOY5BS7BNE5LVQUDIL6C4FNQBQ/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7SCGUI2FGAW5PWXSUWZP2AWLBEIFR6TEXHNVISZMEV6PTFHHA4IA/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7SIHDDQ63DCLWXTU4IHMYKWAYB5VKP7PPVKP6NCQJYFIF3HTG2MA/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/I5MYOJURAUADJP2XVTU23HCFBK5GY22I6SFM64QPABKUNZWO7QHQ/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KKPT4XPT4WO6GLSAI3FIRAZJ2QUWN7K5PJOTKQSN6R5CVKT4KPAA/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XPSTLWX4Y7XBZHD5YHTJ7ZZRKINNTKN32Q73WLNBQDF5NEL2XCHQ/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZDT4VRUQEB2LBADNVONUFDVI5PKRQF23BXQVKANTCS52JNMRKONQ/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3IGVOFOL447LOKCMWOA3LJPV7AJLZC3VL26LYNL3UBVNQMAQWZZQ/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5NUAHQSXMI35THDBYTJMHTURAWEMOTFSWMZ4NGUCGGC2BIIRJFQA/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/A3PA5DQMQYMH6VJJTZVOZMSRBTXZTBPH2S7VJPWOMSBOK7B247WQ/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/G756YVQHQKJJUKBESXOV6PEGW3MWUOD2JNJUBQP2MHXP24ZENXVQ/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NWLRH655TZGIG3UYCBSGRJMQAKNYVFG3QWHFTWYWE5PHRGCC2GYA/3459.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U36UQC6Z5DO6C633JNW7GXS573MMS3V6O4QTKMOK63YO5NOP22MA/1869.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YLBUZZJPTUYP7FWWXD74OPOEHQY2FFB5BSJ6OEX72BTBK5TZSSQ/1869.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25YIURSX7FP7KEPNBN3C6RCB645PHXQJCQJWPA33LHZGI7K6TIKQ/1869.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6WPUGNJONLNASLQOMTXOCUVNJ2GQHD7RDUXZB7O2MOHL25UF5UQ/1869.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCPYJF7ZDMY4MAGY3GXBVR5HQN7MIO553NKTTFNRUWV2R4APICYA/6634.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3XPWUHTY5VKJY5AP5W75KT4OOJTWQ3NYG7Y3INYUUPQCNOAORSQ/6634.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXM3FGI7AMBTKCD23QEHBX5YNS3EMZSUX4ZEJF63HSYLYIOO3W3A/6634.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5YNOFQ6QBBBCPJEMX7ZR4WCZXFYMTYV2ZJOZE3FGF4APVFPASJQ/555.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKUYY3SPS3YOKAXPPMEFTRKL647XINTUOP7WKOOM6ZMHCLIQUKDQ/6634.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LQJQ6AEATTAWKHOBZPJ7JS3HAYA3KCLR7YXN374FUZMVRG2DUYYQ/4545.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVAT2FZ3IAXIZ5VZGO2C2RZX5VSKGFB36YLRJZDGOPHSFLKLOGLA/4545.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5H2G5TPBAUTVC3B2TQ4GSDGALGW6VBJYZRVIIYAYFALJSN2SMMA/4545.js"
            ]
        },
        "GetGraphUsageInformation": {
            "http": {
                "requestUri": "/member/usage"
            },
            "input": {
                "type": "structure",
                "members": {
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "UsageInformation": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "StartHour": {},
                                "EndHour": {},
                                "Graph": {},
                                "Usage": {
                                    "type": "long"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "deprecated": true,
            "deprecatedMessage": "This operation is deprecated. Use GetGraphUsageInformationV3 instead.",
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/HYKFYT7IFNJKXWXTJEMZAU32SXOOY5BS7BNE5LVQUDIL6C4FNQBQ/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7SCGUI2FGAW5PWXSUWZP2AWLBEIFR6TEXHNVISZMEV6PTFHHA4IA/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7SIHDDQ63DCLWXTU4IHMYKWAYB5VKP7PPVKP6NCQJYFIF3HTG2MA/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/I5MYOJURAUADJP2XVTU23HCFBK5GY22I6SFM64QPABKUNZWO7QHQ/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KKPT4XPT4WO6GLSAI3FIRAZJ2QUWN7K5PJOTKQSN6R5CVKT4KPAA/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XPSTLWX4Y7XBZHD5YHTJ7ZZRKINNTKN32Q73WLNBQDF5NEL2XCHQ/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZDT4VRUQEB2LBADNVONUFDVI5PKRQF23BXQVKANTCS52JNMRKONQ/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3IGVOFOL447LOKCMWOA3LJPV7AJLZC3VL26LYNL3UBVNQMAQWZZQ/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5NUAHQSXMI35THDBYTJMHTURAWEMOTFSWMZ4NGUCGGC2BIIRJFQA/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/A3PA5DQMQYMH6VJJTZVOZMSRBTXZTBPH2S7VJPWOMSBOK7B247WQ/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/G756YVQHQKJJUKBESXOV6PEGW3MWUOD2JNJUBQP2MHXP24ZENXVQ/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NWLRH655TZGIG3UYCBSGRJMQAKNYVFG3QWHFTWYWE5PHRGCC2GYA/3459.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U36UQC6Z5DO6C633JNW7GXS573MMS3V6O4QTKMOK63YO5NOP22MA/1869.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YLBUZZJPTUYP7FWWXD74OPOEHQY2FFB5BSJ6OEX72BTBK5TZSSQ/1869.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25YIURSX7FP7KEPNBN3C6RCB645PHXQJCQJWPA33LHZGI7K6TIKQ/1869.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6WPUGNJONLNASLQOMTXOCUVNJ2GQHD7RDUXZB7O2MOHL25UF5UQ/1869.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCPYJF7ZDMY4MAGY3GXBVR5HQN7MIO553NKTTFNRUWV2R4APICYA/6634.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3XPWUHTY5VKJY5AP5W75KT4OOJTWQ3NYG7Y3INYUUPQCNOAORSQ/6634.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXM3FGI7AMBTKCD23QEHBX5YNS3EMZSUX4ZEJF63HSYLYIOO3W3A/6634.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5YNOFQ6QBBBCPJEMX7ZR4WCZXFYMTYV2ZJOZE3FGF4APVFPASJQ/555.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKUYY3SPS3YOKAXPPMEFTRKL647XINTUOP7WKOOM6ZMHCLIQUKDQ/6634.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LQJQ6AEATTAWKHOBZPJ7JS3HAYA3KCLR7YXN374FUZMVRG2DUYYQ/4545.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVAT2FZ3IAXIZ5VZGO2C2RZX5VSKGFB36YLRJZDGOPHSFLKLOGLA/4545.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5H2G5TPBAUTVC3B2TQ4GSDGALGW6VBJYZRVIIYAYFALJSN2SMMA/4545.js"
            ]
        },
        "GetGraphUsageInformationByDatasource": {
            "http": {
                "requestUri": "/member/usageByDatasource"
            },
            "input": {
                "type": "structure",
                "members": {
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "UsageInformation": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "StartHour": {},
                                "EndHour": {},
                                "Graph": {},
                                "DatasourcePackage": {},
                                "Usage": {
                                    "type": "long"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "deprecated": true,
            "deprecatedMessage": "This operation is deprecated. Use GetGraphUsageInformationV3 instead.",
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/HYKFYT7IFNJKXWXTJEMZAU32SXOOY5BS7BNE5LVQUDIL6C4FNQBQ/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7SCGUI2FGAW5PWXSUWZP2AWLBEIFR6TEXHNVISZMEV6PTFHHA4IA/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7SIHDDQ63DCLWXTU4IHMYKWAYB5VKP7PPVKP6NCQJYFIF3HTG2MA/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/I5MYOJURAUADJP2XVTU23HCFBK5GY22I6SFM64QPABKUNZWO7QHQ/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KKPT4XPT4WO6GLSAI3FIRAZJ2QUWN7K5PJOTKQSN6R5CVKT4KPAA/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XPSTLWX4Y7XBZHD5YHTJ7ZZRKINNTKN32Q73WLNBQDF5NEL2XCHQ/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZDT4VRUQEB2LBADNVONUFDVI5PKRQF23BXQVKANTCS52JNMRKONQ/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3IGVOFOL447LOKCMWOA3LJPV7AJLZC3VL26LYNL3UBVNQMAQWZZQ/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5NUAHQSXMI35THDBYTJMHTURAWEMOTFSWMZ4NGUCGGC2BIIRJFQA/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/A3PA5DQMQYMH6VJJTZVOZMSRBTXZTBPH2S7VJPWOMSBOK7B247WQ/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/G756YVQHQKJJUKBESXOV6PEGW3MWUOD2JNJUBQP2MHXP24ZENXVQ/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NWLRH655TZGIG3UYCBSGRJMQAKNYVFG3QWHFTWYWE5PHRGCC2GYA/3459.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U36UQC6Z5DO6C633JNW7GXS573MMS3V6O4QTKMOK63YO5NOP22MA/1869.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YLBUZZJPTUYP7FWWXD74OPOEHQY2FFB5BSJ6OEX72BTBK5TZSSQ/1869.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25YIURSX7FP7KEPNBN3C6RCB645PHXQJCQJWPA33LHZGI7K6TIKQ/1869.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6WPUGNJONLNASLQOMTXOCUVNJ2GQHD7RDUXZB7O2MOHL25UF5UQ/1869.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCPYJF7ZDMY4MAGY3GXBVR5HQN7MIO553NKTTFNRUWV2R4APICYA/6634.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3XPWUHTY5VKJY5AP5W75KT4OOJTWQ3NYG7Y3INYUUPQCNOAORSQ/6634.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXM3FGI7AMBTKCD23QEHBX5YNS3EMZSUX4ZEJF63HSYLYIOO3W3A/6634.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5YNOFQ6QBBBCPJEMX7ZR4WCZXFYMTYV2ZJOZE3FGF4APVFPASJQ/555.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKUYY3SPS3YOKAXPPMEFTRKL647XINTUOP7WKOOM6ZMHCLIQUKDQ/6634.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LQJQ6AEATTAWKHOBZPJ7JS3HAYA3KCLR7YXN374FUZMVRG2DUYYQ/4545.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVAT2FZ3IAXIZ5VZGO2C2RZX5VSKGFB36YLRJZDGOPHSFLKLOGLA/4545.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5H2G5TPBAUTVC3B2TQ4GSDGALGW6VBJYZRVIIYAYFALJSN2SMMA/4545.js"
            ]
        },
        "GetGraphUsageInformationV3": {
            "http": {
                "requestUri": "/member/usageV3"
            },
            "input": {
                "type": "structure",
                "members": {
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "UsageInformation": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "StartHour": {},
                                "EndHour": {},
                                "Graph": {},
                                "Datasource": {},
                                "Usage": {
                                    "type": "long"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/HYKFYT7IFNJKXWXTJEMZAU32SXOOY5BS7BNE5LVQUDIL6C4FNQBQ/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7SCGUI2FGAW5PWXSUWZP2AWLBEIFR6TEXHNVISZMEV6PTFHHA4IA/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7SIHDDQ63DCLWXTU4IHMYKWAYB5VKP7PPVKP6NCQJYFIF3HTG2MA/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/I5MYOJURAUADJP2XVTU23HCFBK5GY22I6SFM64QPABKUNZWO7QHQ/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KKPT4XPT4WO6GLSAI3FIRAZJ2QUWN7K5PJOTKQSN6R5CVKT4KPAA/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XPSTLWX4Y7XBZHD5YHTJ7ZZRKINNTKN32Q73WLNBQDF5NEL2XCHQ/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZDT4VRUQEB2LBADNVONUFDVI5PKRQF23BXQVKANTCS52JNMRKONQ/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3IGVOFOL447LOKCMWOA3LJPV7AJLZC3VL26LYNL3UBVNQMAQWZZQ/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5NUAHQSXMI35THDBYTJMHTURAWEMOTFSWMZ4NGUCGGC2BIIRJFQA/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/A3PA5DQMQYMH6VJJTZVOZMSRBTXZTBPH2S7VJPWOMSBOK7B247WQ/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/G756YVQHQKJJUKBESXOV6PEGW3MWUOD2JNJUBQP2MHXP24ZENXVQ/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NWLRH655TZGIG3UYCBSGRJMQAKNYVFG3QWHFTWYWE5PHRGCC2GYA/3459.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U36UQC6Z5DO6C633JNW7GXS573MMS3V6O4QTKMOK63YO5NOP22MA/1869.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YLBUZZJPTUYP7FWWXD74OPOEHQY2FFB5BSJ6OEX72BTBK5TZSSQ/1869.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25YIURSX7FP7KEPNBN3C6RCB645PHXQJCQJWPA33LHZGI7K6TIKQ/1869.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6WPUGNJONLNASLQOMTXOCUVNJ2GQHD7RDUXZB7O2MOHL25UF5UQ/1869.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCPYJF7ZDMY4MAGY3GXBVR5HQN7MIO553NKTTFNRUWV2R4APICYA/6634.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3XPWUHTY5VKJY5AP5W75KT4OOJTWQ3NYG7Y3INYUUPQCNOAORSQ/6634.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXM3FGI7AMBTKCD23QEHBX5YNS3EMZSUX4ZEJF63HSYLYIOO3W3A/6634.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5YNOFQ6QBBBCPJEMX7ZR4WCZXFYMTYV2ZJOZE3FGF4APVFPASJQ/555.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKUYY3SPS3YOKAXPPMEFTRKL647XINTUOP7WKOOM6ZMHCLIQUKDQ/6634.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LQJQ6AEATTAWKHOBZPJ7JS3HAYA3KCLR7YXN374FUZMVRG2DUYYQ/4545.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVAT2FZ3IAXIZ5VZGO2C2RZX5VSKGFB36YLRJZDGOPHSFLKLOGLA/4545.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5H2G5TPBAUTVC3B2TQ4GSDGALGW6VBJYZRVIIYAYFALJSN2SMMA/4545.js"
            ]
        },
        "GetPricingInformation": {
            "http": {
                "requestUri": "/pricingInformation"
            },
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "pricingInformation": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/HYKFYT7IFNJKXWXTJEMZAU32SXOOY5BS7BNE5LVQUDIL6C4FNQBQ/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7SCGUI2FGAW5PWXSUWZP2AWLBEIFR6TEXHNVISZMEV6PTFHHA4IA/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7SIHDDQ63DCLWXTU4IHMYKWAYB5VKP7PPVKP6NCQJYFIF3HTG2MA/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/I5MYOJURAUADJP2XVTU23HCFBK5GY22I6SFM64QPABKUNZWO7QHQ/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KKPT4XPT4WO6GLSAI3FIRAZJ2QUWN7K5PJOTKQSN6R5CVKT4KPAA/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XPSTLWX4Y7XBZHD5YHTJ7ZZRKINNTKN32Q73WLNBQDF5NEL2XCHQ/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZDT4VRUQEB2LBADNVONUFDVI5PKRQF23BXQVKANTCS52JNMRKONQ/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3IGVOFOL447LOKCMWOA3LJPV7AJLZC3VL26LYNL3UBVNQMAQWZZQ/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5NUAHQSXMI35THDBYTJMHTURAWEMOTFSWMZ4NGUCGGC2BIIRJFQA/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/A3PA5DQMQYMH6VJJTZVOZMSRBTXZTBPH2S7VJPWOMSBOK7B247WQ/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/G756YVQHQKJJUKBESXOV6PEGW3MWUOD2JNJUBQP2MHXP24ZENXVQ/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NWLRH655TZGIG3UYCBSGRJMQAKNYVFG3QWHFTWYWE5PHRGCC2GYA/3459.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U36UQC6Z5DO6C633JNW7GXS573MMS3V6O4QTKMOK63YO5NOP22MA/1869.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YLBUZZJPTUYP7FWWXD74OPOEHQY2FFB5BSJ6OEX72BTBK5TZSSQ/1869.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25YIURSX7FP7KEPNBN3C6RCB645PHXQJCQJWPA33LHZGI7K6TIKQ/1869.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6WPUGNJONLNASLQOMTXOCUVNJ2GQHD7RDUXZB7O2MOHL25UF5UQ/1869.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCPYJF7ZDMY4MAGY3GXBVR5HQN7MIO553NKTTFNRUWV2R4APICYA/6634.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3XPWUHTY5VKJY5AP5W75KT4OOJTWQ3NYG7Y3INYUUPQCNOAORSQ/6634.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXM3FGI7AMBTKCD23QEHBX5YNS3EMZSUX4ZEJF63HSYLYIOO3W3A/6634.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5YNOFQ6QBBBCPJEMX7ZR4WCZXFYMTYV2ZJOZE3FGF4APVFPASJQ/555.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKUYY3SPS3YOKAXPPMEFTRKL647XINTUOP7WKOOM6ZMHCLIQUKDQ/6634.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LQJQ6AEATTAWKHOBZPJ7JS3HAYA3KCLR7YXN374FUZMVRG2DUYYQ/4545.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVAT2FZ3IAXIZ5VZGO2C2RZX5VSKGFB36YLRJZDGOPHSFLKLOGLA/4545.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5H2G5TPBAUTVC3B2TQ4GSDGALGW6VBJYZRVIIYAYFALJSN2SMMA/4545.js"
            ]
        },
        "GetUsageInformationByDatasource": {
            "http": {
                "requestUri": "/graph/usageByDatasource"
            },
            "input": {
                "type": "structure",
                "required": [
                    "GraphArn"
                ],
                "members": {
                    "GraphArn": {},
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "UsageInformationByDatasource": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "StartHour": {},
                                "EndHour": {},
                                "Account": {},
                                "DatasourcePackage": {},
                                "Usage": {
                                    "type": "long"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "deprecated": true,
            "deprecatedMessage": "This operation is deprecated. Use GetUsageInformationV3 instead.",
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/HYKFYT7IFNJKXWXTJEMZAU32SXOOY5BS7BNE5LVQUDIL6C4FNQBQ/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7SCGUI2FGAW5PWXSUWZP2AWLBEIFR6TEXHNVISZMEV6PTFHHA4IA/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7SIHDDQ63DCLWXTU4IHMYKWAYB5VKP7PPVKP6NCQJYFIF3HTG2MA/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/I5MYOJURAUADJP2XVTU23HCFBK5GY22I6SFM64QPABKUNZWO7QHQ/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KKPT4XPT4WO6GLSAI3FIRAZJ2QUWN7K5PJOTKQSN6R5CVKT4KPAA/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XPSTLWX4Y7XBZHD5YHTJ7ZZRKINNTKN32Q73WLNBQDF5NEL2XCHQ/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZDT4VRUQEB2LBADNVONUFDVI5PKRQF23BXQVKANTCS52JNMRKONQ/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3IGVOFOL447LOKCMWOA3LJPV7AJLZC3VL26LYNL3UBVNQMAQWZZQ/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5NUAHQSXMI35THDBYTJMHTURAWEMOTFSWMZ4NGUCGGC2BIIRJFQA/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/A3PA5DQMQYMH6VJJTZVOZMSRBTXZTBPH2S7VJPWOMSBOK7B247WQ/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/G756YVQHQKJJUKBESXOV6PEGW3MWUOD2JNJUBQP2MHXP24ZENXVQ/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NWLRH655TZGIG3UYCBSGRJMQAKNYVFG3QWHFTWYWE5PHRGCC2GYA/3459.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U36UQC6Z5DO6C633JNW7GXS573MMS3V6O4QTKMOK63YO5NOP22MA/1869.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YLBUZZJPTUYP7FWWXD74OPOEHQY2FFB5BSJ6OEX72BTBK5TZSSQ/1869.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25YIURSX7FP7KEPNBN3C6RCB645PHXQJCQJWPA33LHZGI7K6TIKQ/1869.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6WPUGNJONLNASLQOMTXOCUVNJ2GQHD7RDUXZB7O2MOHL25UF5UQ/1869.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCPYJF7ZDMY4MAGY3GXBVR5HQN7MIO553NKTTFNRUWV2R4APICYA/6634.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3XPWUHTY5VKJY5AP5W75KT4OOJTWQ3NYG7Y3INYUUPQCNOAORSQ/6634.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXM3FGI7AMBTKCD23QEHBX5YNS3EMZSUX4ZEJF63HSYLYIOO3W3A/6634.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5YNOFQ6QBBBCPJEMX7ZR4WCZXFYMTYV2ZJOZE3FGF4APVFPASJQ/555.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKUYY3SPS3YOKAXPPMEFTRKL647XINTUOP7WKOOM6ZMHCLIQUKDQ/6634.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LQJQ6AEATTAWKHOBZPJ7JS3HAYA3KCLR7YXN374FUZMVRG2DUYYQ/4545.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVAT2FZ3IAXIZ5VZGO2C2RZX5VSKGFB36YLRJZDGOPHSFLKLOGLA/4545.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5H2G5TPBAUTVC3B2TQ4GSDGALGW6VBJYZRVIIYAYFALJSN2SMMA/4545.js"
            ]
        },
        "GetUsageInformationV2": {
            "http": {
                "requestUri": "/graph/usageInformationV2"
            },
            "input": {
                "type": "structure",
                "required": [
                    "GraphArn"
                ],
                "members": {
                    "GraphArn": {},
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "UsageInformationV2": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "StartHour": {},
                                "EndHour": {},
                                "Account": {},
                                "Usage": {
                                    "type": "long"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "deprecated": true,
            "deprecatedMessage": "This operation is deprecated. Use GetUsageInformationV3 instead.",
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/HYKFYT7IFNJKXWXTJEMZAU32SXOOY5BS7BNE5LVQUDIL6C4FNQBQ/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7SCGUI2FGAW5PWXSUWZP2AWLBEIFR6TEXHNVISZMEV6PTFHHA4IA/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7SIHDDQ63DCLWXTU4IHMYKWAYB5VKP7PPVKP6NCQJYFIF3HTG2MA/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/I5MYOJURAUADJP2XVTU23HCFBK5GY22I6SFM64QPABKUNZWO7QHQ/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KKPT4XPT4WO6GLSAI3FIRAZJ2QUWN7K5PJOTKQSN6R5CVKT4KPAA/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XPSTLWX4Y7XBZHD5YHTJ7ZZRKINNTKN32Q73WLNBQDF5NEL2XCHQ/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZDT4VRUQEB2LBADNVONUFDVI5PKRQF23BXQVKANTCS52JNMRKONQ/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3IGVOFOL447LOKCMWOA3LJPV7AJLZC3VL26LYNL3UBVNQMAQWZZQ/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5NUAHQSXMI35THDBYTJMHTURAWEMOTFSWMZ4NGUCGGC2BIIRJFQA/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/A3PA5DQMQYMH6VJJTZVOZMSRBTXZTBPH2S7VJPWOMSBOK7B247WQ/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/G756YVQHQKJJUKBESXOV6PEGW3MWUOD2JNJUBQP2MHXP24ZENXVQ/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NWLRH655TZGIG3UYCBSGRJMQAKNYVFG3QWHFTWYWE5PHRGCC2GYA/3459.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U36UQC6Z5DO6C633JNW7GXS573MMS3V6O4QTKMOK63YO5NOP22MA/1869.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YLBUZZJPTUYP7FWWXD74OPOEHQY2FFB5BSJ6OEX72BTBK5TZSSQ/1869.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25YIURSX7FP7KEPNBN3C6RCB645PHXQJCQJWPA33LHZGI7K6TIKQ/1869.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6WPUGNJONLNASLQOMTXOCUVNJ2GQHD7RDUXZB7O2MOHL25UF5UQ/1869.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCPYJF7ZDMY4MAGY3GXBVR5HQN7MIO553NKTTFNRUWV2R4APICYA/6634.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3XPWUHTY5VKJY5AP5W75KT4OOJTWQ3NYG7Y3INYUUPQCNOAORSQ/6634.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXM3FGI7AMBTKCD23QEHBX5YNS3EMZSUX4ZEJF63HSYLYIOO3W3A/6634.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5YNOFQ6QBBBCPJEMX7ZR4WCZXFYMTYV2ZJOZE3FGF4APVFPASJQ/555.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKUYY3SPS3YOKAXPPMEFTRKL647XINTUOP7WKOOM6ZMHCLIQUKDQ/6634.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LQJQ6AEATTAWKHOBZPJ7JS3HAYA3KCLR7YXN374FUZMVRG2DUYYQ/4545.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVAT2FZ3IAXIZ5VZGO2C2RZX5VSKGFB36YLRJZDGOPHSFLKLOGLA/4545.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5H2G5TPBAUTVC3B2TQ4GSDGALGW6VBJYZRVIIYAYFALJSN2SMMA/4545.js"
            ]
        },
        "GetUsageInformationV3": {
            "http": {
                "requestUri": "/graph/usageV3"
            },
            "input": {
                "type": "structure",
                "required": [
                    "GraphArn"
                ],
                "members": {
                    "GraphArn": {},
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "UsageInformation": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "StartHour": {},
                                "EndHour": {},
                                "Account": {},
                                "Datasource": {},
                                "Usage": {
                                    "type": "long"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/HYKFYT7IFNJKXWXTJEMZAU32SXOOY5BS7BNE5LVQUDIL6C4FNQBQ/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7SCGUI2FGAW5PWXSUWZP2AWLBEIFR6TEXHNVISZMEV6PTFHHA4IA/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7SIHDDQ63DCLWXTU4IHMYKWAYB5VKP7PPVKP6NCQJYFIF3HTG2MA/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/I5MYOJURAUADJP2XVTU23HCFBK5GY22I6SFM64QPABKUNZWO7QHQ/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KKPT4XPT4WO6GLSAI3FIRAZJ2QUWN7K5PJOTKQSN6R5CVKT4KPAA/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XPSTLWX4Y7XBZHD5YHTJ7ZZRKINNTKN32Q73WLNBQDF5NEL2XCHQ/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZDT4VRUQEB2LBADNVONUFDVI5PKRQF23BXQVKANTCS52JNMRKONQ/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3IGVOFOL447LOKCMWOA3LJPV7AJLZC3VL26LYNL3UBVNQMAQWZZQ/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5NUAHQSXMI35THDBYTJMHTURAWEMOTFSWMZ4NGUCGGC2BIIRJFQA/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/A3PA5DQMQYMH6VJJTZVOZMSRBTXZTBPH2S7VJPWOMSBOK7B247WQ/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/G756YVQHQKJJUKBESXOV6PEGW3MWUOD2JNJUBQP2MHXP24ZENXVQ/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NWLRH655TZGIG3UYCBSGRJMQAKNYVFG3QWHFTWYWE5PHRGCC2GYA/3459.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U36UQC6Z5DO6C633JNW7GXS573MMS3V6O4QTKMOK63YO5NOP22MA/1869.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YLBUZZJPTUYP7FWWXD74OPOEHQY2FFB5BSJ6OEX72BTBK5TZSSQ/1869.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25YIURSX7FP7KEPNBN3C6RCB645PHXQJCQJWPA33LHZGI7K6TIKQ/1869.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6WPUGNJONLNASLQOMTXOCUVNJ2GQHD7RDUXZB7O2MOHL25UF5UQ/1869.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCPYJF7ZDMY4MAGY3GXBVR5HQN7MIO553NKTTFNRUWV2R4APICYA/6634.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3XPWUHTY5VKJY5AP5W75KT4OOJTWQ3NYG7Y3INYUUPQCNOAORSQ/6634.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXM3FGI7AMBTKCD23QEHBX5YNS3EMZSUX4ZEJF63HSYLYIOO3W3A/6634.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5YNOFQ6QBBBCPJEMX7ZR4WCZXFYMTYV2ZJOZE3FGF4APVFPASJQ/555.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKUYY3SPS3YOKAXPPMEFTRKL647XINTUOP7WKOOM6ZMHCLIQUKDQ/6634.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LQJQ6AEATTAWKHOBZPJ7JS3HAYA3KCLR7YXN374FUZMVRG2DUYYQ/4545.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVAT2FZ3IAXIZ5VZGO2C2RZX5VSKGFB36YLRJZDGOPHSFLKLOGLA/4545.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5H2G5TPBAUTVC3B2TQ4GSDGALGW6VBJYZRVIIYAYFALJSN2SMMA/4545.js"
            ]
        },
        "InvokeAssistant": {
            "http": {
                "requestUri": "/assistant/invoke"
            },
            "input": {
                "type": "structure",
                "required": [
                    "GraphArn",
                    "Outcome",
                    "PromptType",
                    "Identifiers"
                ],
                "members": {
                    "GraphArn": {},
                    "Outcome": {},
                    "PromptType": {},
                    "Identifiers": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Details": {
                        "type": "map",
                        "key": {},
                        "value": {}
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/HYKFYT7IFNJKXWXTJEMZAU32SXOOY5BS7BNE5LVQUDIL6C4FNQBQ/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7SCGUI2FGAW5PWXSUWZP2AWLBEIFR6TEXHNVISZMEV6PTFHHA4IA/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7SIHDDQ63DCLWXTU4IHMYKWAYB5VKP7PPVKP6NCQJYFIF3HTG2MA/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/I5MYOJURAUADJP2XVTU23HCFBK5GY22I6SFM64QPABKUNZWO7QHQ/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KKPT4XPT4WO6GLSAI3FIRAZJ2QUWN7K5PJOTKQSN6R5CVKT4KPAA/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XPSTLWX4Y7XBZHD5YHTJ7ZZRKINNTKN32Q73WLNBQDF5NEL2XCHQ/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZDT4VRUQEB2LBADNVONUFDVI5PKRQF23BXQVKANTCS52JNMRKONQ/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3IGVOFOL447LOKCMWOA3LJPV7AJLZC3VL26LYNL3UBVNQMAQWZZQ/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5NUAHQSXMI35THDBYTJMHTURAWEMOTFSWMZ4NGUCGGC2BIIRJFQA/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/A3PA5DQMQYMH6VJJTZVOZMSRBTXZTBPH2S7VJPWOMSBOK7B247WQ/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/G756YVQHQKJJUKBESXOV6PEGW3MWUOD2JNJUBQP2MHXP24ZENXVQ/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NWLRH655TZGIG3UYCBSGRJMQAKNYVFG3QWHFTWYWE5PHRGCC2GYA/3459.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U36UQC6Z5DO6C633JNW7GXS573MMS3V6O4QTKMOK63YO5NOP22MA/1869.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YLBUZZJPTUYP7FWWXD74OPOEHQY2FFB5BSJ6OEX72BTBK5TZSSQ/1869.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25YIURSX7FP7KEPNBN3C6RCB645PHXQJCQJWPA33LHZGI7K6TIKQ/1869.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6WPUGNJONLNASLQOMTXOCUVNJ2GQHD7RDUXZB7O2MOHL25UF5UQ/1869.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCPYJF7ZDMY4MAGY3GXBVR5HQN7MIO553NKTTFNRUWV2R4APICYA/6634.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3XPWUHTY5VKJY5AP5W75KT4OOJTWQ3NYG7Y3INYUUPQCNOAORSQ/6634.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXM3FGI7AMBTKCD23QEHBX5YNS3EMZSUX4ZEJF63HSYLYIOO3W3A/6634.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5YNOFQ6QBBBCPJEMX7ZR4WCZXFYMTYV2ZJOZE3FGF4APVFPASJQ/555.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKUYY3SPS3YOKAXPPMEFTRKL647XINTUOP7WKOOM6ZMHCLIQUKDQ/6634.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LQJQ6AEATTAWKHOBZPJ7JS3HAYA3KCLR7YXN374FUZMVRG2DUYYQ/4545.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVAT2FZ3IAXIZ5VZGO2C2RZX5VSKGFB36YLRJZDGOPHSFLKLOGLA/4545.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5H2G5TPBAUTVC3B2TQ4GSDGALGW6VBJYZRVIIYAYFALJSN2SMMA/4545.js"
            ]
        },
        "ListHighDegreeEntities": {
            "http": {
                "requestUri": "/highdegreeEntities/list"
            },
            "input": {
                "type": "structure",
                "required": [
                    "GraphArn"
                ],
                "members": {
                    "GraphArn": {},
                    "StartTimestamp": {
                        "type": "long"
                    },
                    "EndTimestamp": {
                        "type": "long"
                    },
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "HighDegreeEntities": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "EntityId": {
                                    "type": "structure",
                                    "members": {
                                        "type": {},
                                        "instanceId": {}
                                    }
                                },
                                "RelationshipClass": {
                                    "type": "structure",
                                    "members": {
                                        "OriginType": {},
                                        "Label": {},
                                        "DestinationType": {}
                                    }
                                },
                                "Direction": {},
                                "LatestDetectionTimestamp": {
                                    "type": "long"
                                },
                                "StartTimestamp": {
                                    "type": "long"
                                },
                                "EndTimestamp": {
                                    "type": "long"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/HYKFYT7IFNJKXWXTJEMZAU32SXOOY5BS7BNE5LVQUDIL6C4FNQBQ/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7SCGUI2FGAW5PWXSUWZP2AWLBEIFR6TEXHNVISZMEV6PTFHHA4IA/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7SIHDDQ63DCLWXTU4IHMYKWAYB5VKP7PPVKP6NCQJYFIF3HTG2MA/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/I5MYOJURAUADJP2XVTU23HCFBK5GY22I6SFM64QPABKUNZWO7QHQ/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KKPT4XPT4WO6GLSAI3FIRAZJ2QUWN7K5PJOTKQSN6R5CVKT4KPAA/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XPSTLWX4Y7XBZHD5YHTJ7ZZRKINNTKN32Q73WLNBQDF5NEL2XCHQ/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZDT4VRUQEB2LBADNVONUFDVI5PKRQF23BXQVKANTCS52JNMRKONQ/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3IGVOFOL447LOKCMWOA3LJPV7AJLZC3VL26LYNL3UBVNQMAQWZZQ/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5NUAHQSXMI35THDBYTJMHTURAWEMOTFSWMZ4NGUCGGC2BIIRJFQA/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/A3PA5DQMQYMH6VJJTZVOZMSRBTXZTBPH2S7VJPWOMSBOK7B247WQ/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/G756YVQHQKJJUKBESXOV6PEGW3MWUOD2JNJUBQP2MHXP24ZENXVQ/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NWLRH655TZGIG3UYCBSGRJMQAKNYVFG3QWHFTWYWE5PHRGCC2GYA/3459.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U36UQC6Z5DO6C633JNW7GXS573MMS3V6O4QTKMOK63YO5NOP22MA/1869.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YLBUZZJPTUYP7FWWXD74OPOEHQY2FFB5BSJ6OEX72BTBK5TZSSQ/1869.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25YIURSX7FP7KEPNBN3C6RCB645PHXQJCQJWPA33LHZGI7K6TIKQ/1869.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6WPUGNJONLNASLQOMTXOCUVNJ2GQHD7RDUXZB7O2MOHL25UF5UQ/1869.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCPYJF7ZDMY4MAGY3GXBVR5HQN7MIO553NKTTFNRUWV2R4APICYA/6634.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3XPWUHTY5VKJY5AP5W75KT4OOJTWQ3NYG7Y3INYUUPQCNOAORSQ/6634.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXM3FGI7AMBTKCD23QEHBX5YNS3EMZSUX4ZEJF63HSYLYIOO3W3A/6634.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5YNOFQ6QBBBCPJEMX7ZR4WCZXFYMTYV2ZJOZE3FGF4APVFPASJQ/555.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKUYY3SPS3YOKAXPPMEFTRKL647XINTUOP7WKOOM6ZMHCLIQUKDQ/6634.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LQJQ6AEATTAWKHOBZPJ7JS3HAYA3KCLR7YXN374FUZMVRG2DUYYQ/4545.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVAT2FZ3IAXIZ5VZGO2C2RZX5VSKGFB36YLRJZDGOPHSFLKLOGLA/4545.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5H2G5TPBAUTVC3B2TQ4GSDGALGW6VBJYZRVIIYAYFALJSN2SMMA/4545.js"
            ]
        },
        "PseudoOperation": {
            "http": {
                "requestUri": "/pseudo/operation"
            },
            "output": {
                "type": "structure",
                "members": {
                    "DatasourcePackageDatasources": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/HYKFYT7IFNJKXWXTJEMZAU32SXOOY5BS7BNE5LVQUDIL6C4FNQBQ/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7SCGUI2FGAW5PWXSUWZP2AWLBEIFR6TEXHNVISZMEV6PTFHHA4IA/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7SIHDDQ63DCLWXTU4IHMYKWAYB5VKP7PPVKP6NCQJYFIF3HTG2MA/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/I5MYOJURAUADJP2XVTU23HCFBK5GY22I6SFM64QPABKUNZWO7QHQ/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KKPT4XPT4WO6GLSAI3FIRAZJ2QUWN7K5PJOTKQSN6R5CVKT4KPAA/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XPSTLWX4Y7XBZHD5YHTJ7ZZRKINNTKN32Q73WLNBQDF5NEL2XCHQ/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZDT4VRUQEB2LBADNVONUFDVI5PKRQF23BXQVKANTCS52JNMRKONQ/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3IGVOFOL447LOKCMWOA3LJPV7AJLZC3VL26LYNL3UBVNQMAQWZZQ/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5NUAHQSXMI35THDBYTJMHTURAWEMOTFSWMZ4NGUCGGC2BIIRJFQA/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/A3PA5DQMQYMH6VJJTZVOZMSRBTXZTBPH2S7VJPWOMSBOK7B247WQ/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/G756YVQHQKJJUKBESXOV6PEGW3MWUOD2JNJUBQP2MHXP24ZENXVQ/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NWLRH655TZGIG3UYCBSGRJMQAKNYVFG3QWHFTWYWE5PHRGCC2GYA/3459.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U36UQC6Z5DO6C633JNW7GXS573MMS3V6O4QTKMOK63YO5NOP22MA/1869.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YLBUZZJPTUYP7FWWXD74OPOEHQY2FFB5BSJ6OEX72BTBK5TZSSQ/1869.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25YIURSX7FP7KEPNBN3C6RCB645PHXQJCQJWPA33LHZGI7K6TIKQ/1869.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6WPUGNJONLNASLQOMTXOCUVNJ2GQHD7RDUXZB7O2MOHL25UF5UQ/1869.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCPYJF7ZDMY4MAGY3GXBVR5HQN7MIO553NKTTFNRUWV2R4APICYA/6634.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3XPWUHTY5VKJY5AP5W75KT4OOJTWQ3NYG7Y3INYUUPQCNOAORSQ/6634.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXM3FGI7AMBTKCD23QEHBX5YNS3EMZSUX4ZEJF63HSYLYIOO3W3A/6634.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5YNOFQ6QBBBCPJEMX7ZR4WCZXFYMTYV2ZJOZE3FGF4APVFPASJQ/555.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKUYY3SPS3YOKAXPPMEFTRKL647XINTUOP7WKOOM6ZMHCLIQUKDQ/6634.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LQJQ6AEATTAWKHOBZPJ7JS3HAYA3KCLR7YXN374FUZMVRG2DUYYQ/4545.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVAT2FZ3IAXIZ5VZGO2C2RZX5VSKGFB36YLRJZDGOPHSFLKLOGLA/4545.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5H2G5TPBAUTVC3B2TQ4GSDGALGW6VBJYZRVIIYAYFALJSN2SMMA/4545.js"
            ]
        },
        "SearchGraph": {
            "http": {
                "requestUri": "/graph/search"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Query",
                    "GraphArn"
                ],
                "members": {
                    "Query": {},
                    "Parameters": {
                        "type": "map",
                        "key": {},
                        "value": {}
                    },
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "GraphArn": {},
                    "QueryClass": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Results": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {}
                        }
                    },
                    "NextToken": {},
                    "SessionToken": {
                        "location": "header",
                        "locationName": "Set-Cookie"
                    },
                    "OutgoingGraphId": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/HYKFYT7IFNJKXWXTJEMZAU32SXOOY5BS7BNE5LVQUDIL6C4FNQBQ/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7SCGUI2FGAW5PWXSUWZP2AWLBEIFR6TEXHNVISZMEV6PTFHHA4IA/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7SIHDDQ63DCLWXTU4IHMYKWAYB5VKP7PPVKP6NCQJYFIF3HTG2MA/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/I5MYOJURAUADJP2XVTU23HCFBK5GY22I6SFM64QPABKUNZWO7QHQ/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KKPT4XPT4WO6GLSAI3FIRAZJ2QUWN7K5PJOTKQSN6R5CVKT4KPAA/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XPSTLWX4Y7XBZHD5YHTJ7ZZRKINNTKN32Q73WLNBQDF5NEL2XCHQ/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZDT4VRUQEB2LBADNVONUFDVI5PKRQF23BXQVKANTCS52JNMRKONQ/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3IGVOFOL447LOKCMWOA3LJPV7AJLZC3VL26LYNL3UBVNQMAQWZZQ/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5NUAHQSXMI35THDBYTJMHTURAWEMOTFSWMZ4NGUCGGC2BIIRJFQA/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/A3PA5DQMQYMH6VJJTZVOZMSRBTXZTBPH2S7VJPWOMSBOK7B247WQ/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/G756YVQHQKJJUKBESXOV6PEGW3MWUOD2JNJUBQP2MHXP24ZENXVQ/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NWLRH655TZGIG3UYCBSGRJMQAKNYVFG3QWHFTWYWE5PHRGCC2GYA/3459.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U36UQC6Z5DO6C633JNW7GXS573MMS3V6O4QTKMOK63YO5NOP22MA/1869.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YLBUZZJPTUYP7FWWXD74OPOEHQY2FFB5BSJ6OEX72BTBK5TZSSQ/1869.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25YIURSX7FP7KEPNBN3C6RCB645PHXQJCQJWPA33LHZGI7K6TIKQ/1869.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6WPUGNJONLNASLQOMTXOCUVNJ2GQHD7RDUXZB7O2MOHL25UF5UQ/1869.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCPYJF7ZDMY4MAGY3GXBVR5HQN7MIO553NKTTFNRUWV2R4APICYA/6634.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3XPWUHTY5VKJY5AP5W75KT4OOJTWQ3NYG7Y3INYUUPQCNOAORSQ/6634.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXM3FGI7AMBTKCD23QEHBX5YNS3EMZSUX4ZEJF63HSYLYIOO3W3A/6634.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5YNOFQ6QBBBCPJEMX7ZR4WCZXFYMTYV2ZJOZE3FGF4APVFPASJQ/555.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKUYY3SPS3YOKAXPPMEFTRKL647XINTUOP7WKOOM6ZMHCLIQUKDQ/6634.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LQJQ6AEATTAWKHOBZPJ7JS3HAYA3KCLR7YXN374FUZMVRG2DUYYQ/4545.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVAT2FZ3IAXIZ5VZGO2C2RZX5VSKGFB36YLRJZDGOPHSFLKLOGLA/4545.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5H2G5TPBAUTVC3B2TQ4GSDGALGW6VBJYZRVIIYAYFALJSN2SMMA/4545.js"
            ]
        }
    },
    "shapes": {
        "S3": {
            "type": "list",
            "member": {}
        },
        "S6": {
            "type": "map",
            "key": {},
            "value": {
                "type": "long"
            }
        },
        "S8": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "AccountId": {},
                    "UnprocessedReason": {}
                }
            }
        }
    }
}