{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2017-07-25",
        "endpointPrefix": "MoroccoAnalytics",
        "protocol": "rest-json",
        "serviceAbbreviation": "Morocco Analytics",
        "serviceFullName": "Morocco Analytics",
        "serviceId": "MoroccoAnalytics",
        "signatureVersion": "v4",
        "signingName": "detective",
        "uid": "moroccoanalyticsapis-2017-07-25",
        "download_location": [
            "https://c.d.cdn.console.awsstatic.com/a/v1/DBJIU7NIYWUIJFOFA7MYKKZQJC357WLXVDZA7ZSDIW3IDCXVMIUA/2806.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/HYKFYT7IFNJKXWXTJEMZAU32SXOOY5BS7BNE5LVQUDIL6C4FNQBQ/2806.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/7SCGUI2FGAW5PWXSUWZP2AWLBEIFR6TEXHNVISZMEV6PTFHHA4IA/2806.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/7SIHDDQ63DCLWXTU4IHMYKWAYB5VKP7PPVKP6NCQJYFIF3HTG2MA/2806.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/I5MYOJURAUADJP2XVTU23HCFBK5GY22I6SFM64QPABKUNZWO7QHQ/2806.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/KKPT4XPT4WO6GLSAI3FIRAZJ2QUWN7K5PJOTKQSN6R5CVKT4KPAA/2806.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/XPSTLWX4Y7XBZHD5YHTJ7ZZRKINNTKN32Q73WLNBQDF5NEL2XCHQ/2806.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/ZDT4VRUQEB2LBADNVONUFDVI5PKRQF23BXQVKANTCS52JNMRKONQ/9383.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/3IGVOFOL447LOKCMWOA3LJPV7AJLZC3VL26LYNL3UBVNQMAQWZZQ/9383.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/5NUAHQSXMI35THDBYTJMHTURAWEMOTFSWMZ4NGUCGGC2BIIRJFQA/9383.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/A3PA5DQMQYMH6VJJTZVOZMSRBTXZTBPH2S7VJPWOMSBOK7B247WQ/9383.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/G756YVQHQKJJUKBESXOV6PEGW3MWUOD2JNJUBQP2MHXP24ZENXVQ/9383.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/NWLRH655TZGIG3UYCBSGRJMQAKNYVFG3QWHFTWYWE5PHRGCC2GYA/3459.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/U36UQC6Z5DO6C633JNW7GXS573MMS3V6O4QTKMOK63YO5NOP22MA/1869.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3YLBUZZJPTUYP7FWWXD74OPOEHQY2FFB5BSJ6OEX72BTBK5TZSSQ/1869.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/25YIURSX7FP7KEPNBN3C6RCB645PHXQJCQJWPA33LHZGI7K6TIKQ/1869.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/V6WPUGNJONLNASLQOMTXOCUVNJ2GQHD7RDUXZB7O2MOHL25UF5UQ/1869.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TCPYJF7ZDMY4MAGY3GXBVR5HQN7MIO553NKTTFNRUWV2R4APICYA/6634.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/E3XPWUHTY5VKJY5AP5W75KT4OOJTWQ3NYG7Y3INYUUPQCNOAORSQ/6634.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XXM3FGI7AMBTKCD23QEHBX5YNS3EMZSUX4ZEJF63HSYLYIOO3W3A/6634.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Q5YNOFQ6QBBBCPJEMX7ZR4WCZXFYMTYV2ZJOZE3FGF4APVFPASJQ/555.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZKUYY3SPS3YOKAXPPMEFTRKL647XINTUOP7WKOOM6ZMHCLIQUKDQ/6634.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LQJQ6AEATTAWKHOBZPJ7JS3HAYA3KCLR7YXN374FUZMVRG2DUYYQ/4545.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CVAT2FZ3IAXIZ5VZGO2C2RZX5VSKGFB36YLRJZDGOPHSFLKLOGLA/4545.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z5H2G5TPBAUTVC3B2TQ4GSDGALGW6VBJYZRVIIYAYFALJSN2SMMA/4545.js"
        ]
    },
    "operations": {
        "GetInvestigation": {
            "http": {
                "requestUri": "/investigations/getInvestigation"
            },
            "input": {
                "type": "structure",
                "required": [
                    "GraphArn",
                    "InvestigationId"
                ],
                "members": {
                    "GraphArn": {},
                    "InvestigationId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "GraphArn": {},
                    "InvestigationId": {},
                    "EntityArn": {},
                    "EntityType": {},
                    "CreatedTime": {
                        "shape": "S7"
                    },
                    "ScopeStartTime": {
                        "shape": "S7"
                    },
                    "ScopeEndTime": {
                        "shape": "S7"
                    },
                    "Status": {},
                    "Severity": {},
                    "State": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/HYKFYT7IFNJKXWXTJEMZAU32SXOOY5BS7BNE5LVQUDIL6C4FNQBQ/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7SCGUI2FGAW5PWXSUWZP2AWLBEIFR6TEXHNVISZMEV6PTFHHA4IA/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7SIHDDQ63DCLWXTU4IHMYKWAYB5VKP7PPVKP6NCQJYFIF3HTG2MA/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/I5MYOJURAUADJP2XVTU23HCFBK5GY22I6SFM64QPABKUNZWO7QHQ/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KKPT4XPT4WO6GLSAI3FIRAZJ2QUWN7K5PJOTKQSN6R5CVKT4KPAA/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XPSTLWX4Y7XBZHD5YHTJ7ZZRKINNTKN32Q73WLNBQDF5NEL2XCHQ/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZDT4VRUQEB2LBADNVONUFDVI5PKRQF23BXQVKANTCS52JNMRKONQ/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3IGVOFOL447LOKCMWOA3LJPV7AJLZC3VL26LYNL3UBVNQMAQWZZQ/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5NUAHQSXMI35THDBYTJMHTURAWEMOTFSWMZ4NGUCGGC2BIIRJFQA/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/A3PA5DQMQYMH6VJJTZVOZMSRBTXZTBPH2S7VJPWOMSBOK7B247WQ/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/G756YVQHQKJJUKBESXOV6PEGW3MWUOD2JNJUBQP2MHXP24ZENXVQ/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NWLRH655TZGIG3UYCBSGRJMQAKNYVFG3QWHFTWYWE5PHRGCC2GYA/3459.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U36UQC6Z5DO6C633JNW7GXS573MMS3V6O4QTKMOK63YO5NOP22MA/1869.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YLBUZZJPTUYP7FWWXD74OPOEHQY2FFB5BSJ6OEX72BTBK5TZSSQ/1869.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25YIURSX7FP7KEPNBN3C6RCB645PHXQJCQJWPA33LHZGI7K6TIKQ/1869.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6WPUGNJONLNASLQOMTXOCUVNJ2GQHD7RDUXZB7O2MOHL25UF5UQ/1869.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCPYJF7ZDMY4MAGY3GXBVR5HQN7MIO553NKTTFNRUWV2R4APICYA/6634.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3XPWUHTY5VKJY5AP5W75KT4OOJTWQ3NYG7Y3INYUUPQCNOAORSQ/6634.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXM3FGI7AMBTKCD23QEHBX5YNS3EMZSUX4ZEJF63HSYLYIOO3W3A/6634.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5YNOFQ6QBBBCPJEMX7ZR4WCZXFYMTYV2ZJOZE3FGF4APVFPASJQ/555.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKUYY3SPS3YOKAXPPMEFTRKL647XINTUOP7WKOOM6ZMHCLIQUKDQ/6634.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LQJQ6AEATTAWKHOBZPJ7JS3HAYA3KCLR7YXN374FUZMVRG2DUYYQ/4545.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVAT2FZ3IAXIZ5VZGO2C2RZX5VSKGFB36YLRJZDGOPHSFLKLOGLA/4545.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5H2G5TPBAUTVC3B2TQ4GSDGALGW6VBJYZRVIIYAYFALJSN2SMMA/4545.js"
            ]
        },
        "ListIndicators": {
            "http": {
                "requestUri": "/investigations/listIndicators"
            },
            "input": {
                "type": "structure",
                "required": [
                    "GraphArn",
                    "InvestigationId"
                ],
                "members": {
                    "GraphArn": {},
                    "InvestigationId": {},
                    "IndicatorType": {},
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "GraphArn": {},
                    "InvestigationId": {},
                    "NextToken": {},
                    "Indicators": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "IndicatorType": {},
                                "IndicatorDetail": {
                                    "type": "structure",
                                    "members": {
                                        "TTPsObservedDetail": {
                                            "type": "structure",
                                            "members": {
                                                "Tactic": {},
                                                "Technique": {},
                                                "Procedure": {},
                                                "IpAddress": {},
                                                "APIName": {},
                                                "APISuccessCount": {
                                                    "type": "long"
                                                },
                                                "APIFailureCount": {
                                                    "type": "long"
                                                }
                                            }
                                        },
                                        "ImpossibleTravelDetail": {
                                            "type": "structure",
                                            "members": {
                                                "StartingIpAddress": {},
                                                "EndingIpAddress": {},
                                                "StartingLocation": {},
                                                "EndingLocation": {},
                                                "HourlyTimeDelta": {
                                                    "type": "integer"
                                                }
                                            }
                                        },
                                        "FlaggedIpAddressDetail": {
                                            "type": "structure",
                                            "members": {
                                                "IpAddress": {},
                                                "Reason": {}
                                            }
                                        },
                                        "NewGeolocationDetail": {
                                            "type": "structure",
                                            "members": {
                                                "Location": {},
                                                "IpAddress": {},
                                                "IsNewForEntireAccount": {
                                                    "type": "boolean"
                                                }
                                            }
                                        },
                                        "NewAsoDetail": {
                                            "type": "structure",
                                            "members": {
                                                "Aso": {},
                                                "IsNewForEntireAccount": {
                                                    "type": "boolean"
                                                }
                                            }
                                        },
                                        "NewUserAgentDetail": {
                                            "type": "structure",
                                            "members": {
                                                "UserAgent": {},
                                                "IsNewForEntireAccount": {
                                                    "type": "boolean"
                                                }
                                            }
                                        },
                                        "RelatedFindingDetail": {
                                            "type": "structure",
                                            "members": {
                                                "Arn": {},
                                                "Type": {},
                                                "IpAddress": {}
                                            }
                                        },
                                        "RelatedFindingGroupDetail": {
                                            "type": "structure",
                                            "members": {
                                                "Id": {}
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/HYKFYT7IFNJKXWXTJEMZAU32SXOOY5BS7BNE5LVQUDIL6C4FNQBQ/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7SCGUI2FGAW5PWXSUWZP2AWLBEIFR6TEXHNVISZMEV6PTFHHA4IA/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7SIHDDQ63DCLWXTU4IHMYKWAYB5VKP7PPVKP6NCQJYFIF3HTG2MA/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/I5MYOJURAUADJP2XVTU23HCFBK5GY22I6SFM64QPABKUNZWO7QHQ/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KKPT4XPT4WO6GLSAI3FIRAZJ2QUWN7K5PJOTKQSN6R5CVKT4KPAA/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XPSTLWX4Y7XBZHD5YHTJ7ZZRKINNTKN32Q73WLNBQDF5NEL2XCHQ/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZDT4VRUQEB2LBADNVONUFDVI5PKRQF23BXQVKANTCS52JNMRKONQ/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3IGVOFOL447LOKCMWOA3LJPV7AJLZC3VL26LYNL3UBVNQMAQWZZQ/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5NUAHQSXMI35THDBYTJMHTURAWEMOTFSWMZ4NGUCGGC2BIIRJFQA/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/A3PA5DQMQYMH6VJJTZVOZMSRBTXZTBPH2S7VJPWOMSBOK7B247WQ/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/G756YVQHQKJJUKBESXOV6PEGW3MWUOD2JNJUBQP2MHXP24ZENXVQ/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NWLRH655TZGIG3UYCBSGRJMQAKNYVFG3QWHFTWYWE5PHRGCC2GYA/3459.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U36UQC6Z5DO6C633JNW7GXS573MMS3V6O4QTKMOK63YO5NOP22MA/1869.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YLBUZZJPTUYP7FWWXD74OPOEHQY2FFB5BSJ6OEX72BTBK5TZSSQ/1869.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25YIURSX7FP7KEPNBN3C6RCB645PHXQJCQJWPA33LHZGI7K6TIKQ/1869.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6WPUGNJONLNASLQOMTXOCUVNJ2GQHD7RDUXZB7O2MOHL25UF5UQ/1869.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCPYJF7ZDMY4MAGY3GXBVR5HQN7MIO553NKTTFNRUWV2R4APICYA/6634.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3XPWUHTY5VKJY5AP5W75KT4OOJTWQ3NYG7Y3INYUUPQCNOAORSQ/6634.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXM3FGI7AMBTKCD23QEHBX5YNS3EMZSUX4ZEJF63HSYLYIOO3W3A/6634.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5YNOFQ6QBBBCPJEMX7ZR4WCZXFYMTYV2ZJOZE3FGF4APVFPASJQ/555.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKUYY3SPS3YOKAXPPMEFTRKL647XINTUOP7WKOOM6ZMHCLIQUKDQ/6634.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LQJQ6AEATTAWKHOBZPJ7JS3HAYA3KCLR7YXN374FUZMVRG2DUYYQ/4545.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVAT2FZ3IAXIZ5VZGO2C2RZX5VSKGFB36YLRJZDGOPHSFLKLOGLA/4545.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5H2G5TPBAUTVC3B2TQ4GSDGALGW6VBJYZRVIIYAYFALJSN2SMMA/4545.js"
            ]
        },
        "ListInvestigations": {
            "http": {
                "requestUri": "/investigations/listInvestigations"
            },
            "input": {
                "type": "structure",
                "required": [
                    "GraphArn"
                ],
                "members": {
                    "GraphArn": {},
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "FilterCriteria": {
                        "type": "structure",
                        "members": {
                            "Severity": {
                                "shape": "S18"
                            },
                            "Status": {
                                "shape": "S18"
                            },
                            "State": {
                                "shape": "S18"
                            },
                            "EntityArn": {
                                "shape": "S18"
                            },
                            "CreatedTime": {
                                "type": "structure",
                                "required": [
                                    "StartInclusive",
                                    "EndInclusive"
                                ],
                                "members": {
                                    "StartInclusive": {
                                        "shape": "S7"
                                    },
                                    "EndInclusive": {
                                        "shape": "S7"
                                    }
                                }
                            }
                        }
                    },
                    "SortCriteria": {
                        "type": "structure",
                        "members": {
                            "Field": {},
                            "SortOrder": {}
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "InvestigationDetails": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "InvestigationId": {},
                                "Severity": {},
                                "Status": {},
                                "State": {},
                                "CreatedTime": {
                                    "shape": "S7"
                                },
                                "EntityArn": {},
                                "EntityType": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/HYKFYT7IFNJKXWXTJEMZAU32SXOOY5BS7BNE5LVQUDIL6C4FNQBQ/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7SCGUI2FGAW5PWXSUWZP2AWLBEIFR6TEXHNVISZMEV6PTFHHA4IA/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7SIHDDQ63DCLWXTU4IHMYKWAYB5VKP7PPVKP6NCQJYFIF3HTG2MA/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/I5MYOJURAUADJP2XVTU23HCFBK5GY22I6SFM64QPABKUNZWO7QHQ/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KKPT4XPT4WO6GLSAI3FIRAZJ2QUWN7K5PJOTKQSN6R5CVKT4KPAA/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XPSTLWX4Y7XBZHD5YHTJ7ZZRKINNTKN32Q73WLNBQDF5NEL2XCHQ/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZDT4VRUQEB2LBADNVONUFDVI5PKRQF23BXQVKANTCS52JNMRKONQ/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3IGVOFOL447LOKCMWOA3LJPV7AJLZC3VL26LYNL3UBVNQMAQWZZQ/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5NUAHQSXMI35THDBYTJMHTURAWEMOTFSWMZ4NGUCGGC2BIIRJFQA/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/A3PA5DQMQYMH6VJJTZVOZMSRBTXZTBPH2S7VJPWOMSBOK7B247WQ/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/G756YVQHQKJJUKBESXOV6PEGW3MWUOD2JNJUBQP2MHXP24ZENXVQ/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NWLRH655TZGIG3UYCBSGRJMQAKNYVFG3QWHFTWYWE5PHRGCC2GYA/3459.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U36UQC6Z5DO6C633JNW7GXS573MMS3V6O4QTKMOK63YO5NOP22MA/1869.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YLBUZZJPTUYP7FWWXD74OPOEHQY2FFB5BSJ6OEX72BTBK5TZSSQ/1869.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25YIURSX7FP7KEPNBN3C6RCB645PHXQJCQJWPA33LHZGI7K6TIKQ/1869.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6WPUGNJONLNASLQOMTXOCUVNJ2GQHD7RDUXZB7O2MOHL25UF5UQ/1869.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCPYJF7ZDMY4MAGY3GXBVR5HQN7MIO553NKTTFNRUWV2R4APICYA/6634.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3XPWUHTY5VKJY5AP5W75KT4OOJTWQ3NYG7Y3INYUUPQCNOAORSQ/6634.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXM3FGI7AMBTKCD23QEHBX5YNS3EMZSUX4ZEJF63HSYLYIOO3W3A/6634.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5YNOFQ6QBBBCPJEMX7ZR4WCZXFYMTYV2ZJOZE3FGF4APVFPASJQ/555.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKUYY3SPS3YOKAXPPMEFTRKL647XINTUOP7WKOOM6ZMHCLIQUKDQ/6634.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LQJQ6AEATTAWKHOBZPJ7JS3HAYA3KCLR7YXN374FUZMVRG2DUYYQ/4545.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVAT2FZ3IAXIZ5VZGO2C2RZX5VSKGFB36YLRJZDGOPHSFLKLOGLA/4545.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5H2G5TPBAUTVC3B2TQ4GSDGALGW6VBJYZRVIIYAYFALJSN2SMMA/4545.js"
            ]
        },
        "StartInvestigation": {
            "http": {
                "requestUri": "/investigations/startInvestigation"
            },
            "input": {
                "type": "structure",
                "required": [
                    "GraphArn",
                    "EntityArn",
                    "ScopeStartTime",
                    "ScopeEndTime"
                ],
                "members": {
                    "GraphArn": {},
                    "EntityArn": {},
                    "ScopeStartTime": {
                        "shape": "S7"
                    },
                    "ScopeEndTime": {
                        "shape": "S7"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "InvestigationId": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/HYKFYT7IFNJKXWXTJEMZAU32SXOOY5BS7BNE5LVQUDIL6C4FNQBQ/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7SCGUI2FGAW5PWXSUWZP2AWLBEIFR6TEXHNVISZMEV6PTFHHA4IA/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7SIHDDQ63DCLWXTU4IHMYKWAYB5VKP7PPVKP6NCQJYFIF3HTG2MA/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/I5MYOJURAUADJP2XVTU23HCFBK5GY22I6SFM64QPABKUNZWO7QHQ/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KKPT4XPT4WO6GLSAI3FIRAZJ2QUWN7K5PJOTKQSN6R5CVKT4KPAA/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XPSTLWX4Y7XBZHD5YHTJ7ZZRKINNTKN32Q73WLNBQDF5NEL2XCHQ/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZDT4VRUQEB2LBADNVONUFDVI5PKRQF23BXQVKANTCS52JNMRKONQ/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3IGVOFOL447LOKCMWOA3LJPV7AJLZC3VL26LYNL3UBVNQMAQWZZQ/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5NUAHQSXMI35THDBYTJMHTURAWEMOTFSWMZ4NGUCGGC2BIIRJFQA/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/A3PA5DQMQYMH6VJJTZVOZMSRBTXZTBPH2S7VJPWOMSBOK7B247WQ/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/G756YVQHQKJJUKBESXOV6PEGW3MWUOD2JNJUBQP2MHXP24ZENXVQ/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NWLRH655TZGIG3UYCBSGRJMQAKNYVFG3QWHFTWYWE5PHRGCC2GYA/3459.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U36UQC6Z5DO6C633JNW7GXS573MMS3V6O4QTKMOK63YO5NOP22MA/1869.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YLBUZZJPTUYP7FWWXD74OPOEHQY2FFB5BSJ6OEX72BTBK5TZSSQ/1869.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25YIURSX7FP7KEPNBN3C6RCB645PHXQJCQJWPA33LHZGI7K6TIKQ/1869.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6WPUGNJONLNASLQOMTXOCUVNJ2GQHD7RDUXZB7O2MOHL25UF5UQ/1869.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCPYJF7ZDMY4MAGY3GXBVR5HQN7MIO553NKTTFNRUWV2R4APICYA/6634.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3XPWUHTY5VKJY5AP5W75KT4OOJTWQ3NYG7Y3INYUUPQCNOAORSQ/6634.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXM3FGI7AMBTKCD23QEHBX5YNS3EMZSUX4ZEJF63HSYLYIOO3W3A/6634.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5YNOFQ6QBBBCPJEMX7ZR4WCZXFYMTYV2ZJOZE3FGF4APVFPASJQ/555.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKUYY3SPS3YOKAXPPMEFTRKL647XINTUOP7WKOOM6ZMHCLIQUKDQ/6634.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LQJQ6AEATTAWKHOBZPJ7JS3HAYA3KCLR7YXN374FUZMVRG2DUYYQ/4545.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVAT2FZ3IAXIZ5VZGO2C2RZX5VSKGFB36YLRJZDGOPHSFLKLOGLA/4545.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5H2G5TPBAUTVC3B2TQ4GSDGALGW6VBJYZRVIIYAYFALJSN2SMMA/4545.js"
            ]
        },
        "UpdateInvestigationState": {
            "http": {
                "requestUri": "/investigations/updateInvestigationState"
            },
            "input": {
                "type": "structure",
                "required": [
                    "GraphArn",
                    "InvestigationId",
                    "State"
                ],
                "members": {
                    "GraphArn": {},
                    "InvestigationId": {},
                    "State": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/HYKFYT7IFNJKXWXTJEMZAU32SXOOY5BS7BNE5LVQUDIL6C4FNQBQ/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7SCGUI2FGAW5PWXSUWZP2AWLBEIFR6TEXHNVISZMEV6PTFHHA4IA/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7SIHDDQ63DCLWXTU4IHMYKWAYB5VKP7PPVKP6NCQJYFIF3HTG2MA/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/I5MYOJURAUADJP2XVTU23HCFBK5GY22I6SFM64QPABKUNZWO7QHQ/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KKPT4XPT4WO6GLSAI3FIRAZJ2QUWN7K5PJOTKQSN6R5CVKT4KPAA/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XPSTLWX4Y7XBZHD5YHTJ7ZZRKINNTKN32Q73WLNBQDF5NEL2XCHQ/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZDT4VRUQEB2LBADNVONUFDVI5PKRQF23BXQVKANTCS52JNMRKONQ/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3IGVOFOL447LOKCMWOA3LJPV7AJLZC3VL26LYNL3UBVNQMAQWZZQ/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5NUAHQSXMI35THDBYTJMHTURAWEMOTFSWMZ4NGUCGGC2BIIRJFQA/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/A3PA5DQMQYMH6VJJTZVOZMSRBTXZTBPH2S7VJPWOMSBOK7B247WQ/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/G756YVQHQKJJUKBESXOV6PEGW3MWUOD2JNJUBQP2MHXP24ZENXVQ/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NWLRH655TZGIG3UYCBSGRJMQAKNYVFG3QWHFTWYWE5PHRGCC2GYA/3459.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U36UQC6Z5DO6C633JNW7GXS573MMS3V6O4QTKMOK63YO5NOP22MA/1869.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YLBUZZJPTUYP7FWWXD74OPOEHQY2FFB5BSJ6OEX72BTBK5TZSSQ/1869.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25YIURSX7FP7KEPNBN3C6RCB645PHXQJCQJWPA33LHZGI7K6TIKQ/1869.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6WPUGNJONLNASLQOMTXOCUVNJ2GQHD7RDUXZB7O2MOHL25UF5UQ/1869.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCPYJF7ZDMY4MAGY3GXBVR5HQN7MIO553NKTTFNRUWV2R4APICYA/6634.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3XPWUHTY5VKJY5AP5W75KT4OOJTWQ3NYG7Y3INYUUPQCNOAORSQ/6634.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXM3FGI7AMBTKCD23QEHBX5YNS3EMZSUX4ZEJF63HSYLYIOO3W3A/6634.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5YNOFQ6QBBBCPJEMX7ZR4WCZXFYMTYV2ZJOZE3FGF4APVFPASJQ/555.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKUYY3SPS3YOKAXPPMEFTRKL647XINTUOP7WKOOM6ZMHCLIQUKDQ/6634.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LQJQ6AEATTAWKHOBZPJ7JS3HAYA3KCLR7YXN374FUZMVRG2DUYYQ/4545.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVAT2FZ3IAXIZ5VZGO2C2RZX5VSKGFB36YLRJZDGOPHSFLKLOGLA/4545.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5H2G5TPBAUTVC3B2TQ4GSDGALGW6VBJYZRVIIYAYFALJSN2SMMA/4545.js"
            ]
        }
    },
    "shapes": {
        "S7": {
            "type": "timestamp",
            "timestampFormat": "iso8601"
        },
        "S18": {
            "type": "structure",
            "required": [
                "Value"
            ],
            "members": {
                "Value": {}
            }
        }
    }
}