{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2017-07-25",
        "endpoint-prefix": "MoroccoAccountManagementLambda",
        "endpointPrefix": "morocco",
        "protocol": "rest-json",
        "serviceAbbreviation": "Morocco Registration",
        "serviceFullName": "Morocco registration service",
        "signatureVersion": "v4",
        "signingName": "detective",
        "uid": "morocco-2017-07-25",
        "download_location": [
            "https://c.d.cdn.console.awsstatic.com/a/v1/DBJIU7NIYWUIJFOFA7MYKKZQJC357WLXVDZA7ZSDIW3IDCXVMIUA/2806.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/HYKFYT7IFNJKXWXTJEMZAU32SXOOY5BS7BNE5LVQUDIL6C4FNQBQ/2806.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/7SCGUI2FGAW5PWXSUWZP2AWLBEIFR6TEXHNVISZMEV6PTFHHA4IA/2806.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/7SIHDDQ63DCLWXTU4IHMYKWAYB5VKP7PPVKP6NCQJYFIF3HTG2MA/2806.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/I5MYOJURAUADJP2XVTU23HCFBK5GY22I6SFM64QPABKUNZWO7QHQ/2806.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/KKPT4XPT4WO6GLSAI3FIRAZJ2QUWN7K5PJOTKQSN6R5CVKT4KPAA/2806.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/XPSTLWX4Y7XBZHD5YHTJ7ZZRKINNTKN32Q73WLNBQDF5NEL2XCHQ/2806.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/ZDT4VRUQEB2LBADNVONUFDVI5PKRQF23BXQVKANTCS52JNMRKONQ/9383.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/3IGVOFOL447LOKCMWOA3LJPV7AJLZC3VL26LYNL3UBVNQMAQWZZQ/9383.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/5NUAHQSXMI35THDBYTJMHTURAWEMOTFSWMZ4NGUCGGC2BIIRJFQA/9383.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/A3PA5DQMQYMH6VJJTZVOZMSRBTXZTBPH2S7VJPWOMSBOK7B247WQ/9383.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/G756YVQHQKJJUKBESXOV6PEGW3MWUOD2JNJUBQP2MHXP24ZENXVQ/9383.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/NWLRH655TZGIG3UYCBSGRJMQAKNYVFG3QWHFTWYWE5PHRGCC2GYA/3459.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/U36UQC6Z5DO6C633JNW7GXS573MMS3V6O4QTKMOK63YO5NOP22MA/1869.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3YLBUZZJPTUYP7FWWXD74OPOEHQY2FFB5BSJ6OEX72BTBK5TZSSQ/1869.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/25YIURSX7FP7KEPNBN3C6RCB645PHXQJCQJWPA33LHZGI7K6TIKQ/1869.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/V6WPUGNJONLNASLQOMTXOCUVNJ2GQHD7RDUXZB7O2MOHL25UF5UQ/1869.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TCPYJF7ZDMY4MAGY3GXBVR5HQN7MIO553NKTTFNRUWV2R4APICYA/6634.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/E3XPWUHTY5VKJY5AP5W75KT4OOJTWQ3NYG7Y3INYUUPQCNOAORSQ/6634.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XXM3FGI7AMBTKCD23QEHBX5YNS3EMZSUX4ZEJF63HSYLYIOO3W3A/6634.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Q5YNOFQ6QBBBCPJEMX7ZR4WCZXFYMTYV2ZJOZE3FGF4APVFPASJQ/555.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZKUYY3SPS3YOKAXPPMEFTRKL647XINTUOP7WKOOM6ZMHCLIQUKDQ/6634.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LQJQ6AEATTAWKHOBZPJ7JS3HAYA3KCLR7YXN374FUZMVRG2DUYYQ/4545.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CVAT2FZ3IAXIZ5VZGO2C2RZX5VSKGFB36YLRJZDGOPHSFLKLOGLA/4545.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z5H2G5TPBAUTVC3B2TQ4GSDGALGW6VBJYZRVIIYAYFALJSN2SMMA/4545.js"
        ]
    },
    "operations": {
        "AcceptInvitation": {
            "http": {
                "method": "PUT",
                "requestUri": "/invitation"
            },
            "input": {
                "type": "structure",
                "required": [
                    "GraphArn"
                ],
                "members": {
                    "GraphArn": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/HYKFYT7IFNJKXWXTJEMZAU32SXOOY5BS7BNE5LVQUDIL6C4FNQBQ/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7SCGUI2FGAW5PWXSUWZP2AWLBEIFR6TEXHNVISZMEV6PTFHHA4IA/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7SIHDDQ63DCLWXTU4IHMYKWAYB5VKP7PPVKP6NCQJYFIF3HTG2MA/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/I5MYOJURAUADJP2XVTU23HCFBK5GY22I6SFM64QPABKUNZWO7QHQ/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KKPT4XPT4WO6GLSAI3FIRAZJ2QUWN7K5PJOTKQSN6R5CVKT4KPAA/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XPSTLWX4Y7XBZHD5YHTJ7ZZRKINNTKN32Q73WLNBQDF5NEL2XCHQ/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZDT4VRUQEB2LBADNVONUFDVI5PKRQF23BXQVKANTCS52JNMRKONQ/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3IGVOFOL447LOKCMWOA3LJPV7AJLZC3VL26LYNL3UBVNQMAQWZZQ/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5NUAHQSXMI35THDBYTJMHTURAWEMOTFSWMZ4NGUCGGC2BIIRJFQA/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/A3PA5DQMQYMH6VJJTZVOZMSRBTXZTBPH2S7VJPWOMSBOK7B247WQ/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/G756YVQHQKJJUKBESXOV6PEGW3MWUOD2JNJUBQP2MHXP24ZENXVQ/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NWLRH655TZGIG3UYCBSGRJMQAKNYVFG3QWHFTWYWE5PHRGCC2GYA/3459.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U36UQC6Z5DO6C633JNW7GXS573MMS3V6O4QTKMOK63YO5NOP22MA/1869.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YLBUZZJPTUYP7FWWXD74OPOEHQY2FFB5BSJ6OEX72BTBK5TZSSQ/1869.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25YIURSX7FP7KEPNBN3C6RCB645PHXQJCQJWPA33LHZGI7K6TIKQ/1869.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6WPUGNJONLNASLQOMTXOCUVNJ2GQHD7RDUXZB7O2MOHL25UF5UQ/1869.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCPYJF7ZDMY4MAGY3GXBVR5HQN7MIO553NKTTFNRUWV2R4APICYA/6634.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3XPWUHTY5VKJY5AP5W75KT4OOJTWQ3NYG7Y3INYUUPQCNOAORSQ/6634.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXM3FGI7AMBTKCD23QEHBX5YNS3EMZSUX4ZEJF63HSYLYIOO3W3A/6634.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5YNOFQ6QBBBCPJEMX7ZR4WCZXFYMTYV2ZJOZE3FGF4APVFPASJQ/555.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKUYY3SPS3YOKAXPPMEFTRKL647XINTUOP7WKOOM6ZMHCLIQUKDQ/6634.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LQJQ6AEATTAWKHOBZPJ7JS3HAYA3KCLR7YXN374FUZMVRG2DUYYQ/4545.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVAT2FZ3IAXIZ5VZGO2C2RZX5VSKGFB36YLRJZDGOPHSFLKLOGLA/4545.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5H2G5TPBAUTVC3B2TQ4GSDGALGW6VBJYZRVIIYAYFALJSN2SMMA/4545.js"
            ]
        },
        "AddMembersToGraph": {
            "http": {
                "method": "PUT",
                "requestUri": "/graph/members"
            },
            "input": {
                "type": "structure",
                "required": [
                    "graphId",
                    "accountIdList"
                ],
                "members": {
                    "graphId": {},
                    "accountIdList": {
                        "shape": "S5"
                    },
                    "masterAccount": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "accountIdList"
                ],
                "members": {
                    "accountIdList": {
                        "shape": "S5"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/HYKFYT7IFNJKXWXTJEMZAU32SXOOY5BS7BNE5LVQUDIL6C4FNQBQ/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7SCGUI2FGAW5PWXSUWZP2AWLBEIFR6TEXHNVISZMEV6PTFHHA4IA/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7SIHDDQ63DCLWXTU4IHMYKWAYB5VKP7PPVKP6NCQJYFIF3HTG2MA/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/I5MYOJURAUADJP2XVTU23HCFBK5GY22I6SFM64QPABKUNZWO7QHQ/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KKPT4XPT4WO6GLSAI3FIRAZJ2QUWN7K5PJOTKQSN6R5CVKT4KPAA/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XPSTLWX4Y7XBZHD5YHTJ7ZZRKINNTKN32Q73WLNBQDF5NEL2XCHQ/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZDT4VRUQEB2LBADNVONUFDVI5PKRQF23BXQVKANTCS52JNMRKONQ/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3IGVOFOL447LOKCMWOA3LJPV7AJLZC3VL26LYNL3UBVNQMAQWZZQ/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5NUAHQSXMI35THDBYTJMHTURAWEMOTFSWMZ4NGUCGGC2BIIRJFQA/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/A3PA5DQMQYMH6VJJTZVOZMSRBTXZTBPH2S7VJPWOMSBOK7B247WQ/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/G756YVQHQKJJUKBESXOV6PEGW3MWUOD2JNJUBQP2MHXP24ZENXVQ/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NWLRH655TZGIG3UYCBSGRJMQAKNYVFG3QWHFTWYWE5PHRGCC2GYA/3459.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U36UQC6Z5DO6C633JNW7GXS573MMS3V6O4QTKMOK63YO5NOP22MA/1869.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YLBUZZJPTUYP7FWWXD74OPOEHQY2FFB5BSJ6OEX72BTBK5TZSSQ/1869.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25YIURSX7FP7KEPNBN3C6RCB645PHXQJCQJWPA33LHZGI7K6TIKQ/1869.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6WPUGNJONLNASLQOMTXOCUVNJ2GQHD7RDUXZB7O2MOHL25UF5UQ/1869.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCPYJF7ZDMY4MAGY3GXBVR5HQN7MIO553NKTTFNRUWV2R4APICYA/6634.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3XPWUHTY5VKJY5AP5W75KT4OOJTWQ3NYG7Y3INYUUPQCNOAORSQ/6634.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXM3FGI7AMBTKCD23QEHBX5YNS3EMZSUX4ZEJF63HSYLYIOO3W3A/6634.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5YNOFQ6QBBBCPJEMX7ZR4WCZXFYMTYV2ZJOZE3FGF4APVFPASJQ/555.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKUYY3SPS3YOKAXPPMEFTRKL647XINTUOP7WKOOM6ZMHCLIQUKDQ/6634.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LQJQ6AEATTAWKHOBZPJ7JS3HAYA3KCLR7YXN374FUZMVRG2DUYYQ/4545.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVAT2FZ3IAXIZ5VZGO2C2RZX5VSKGFB36YLRJZDGOPHSFLKLOGLA/4545.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5H2G5TPBAUTVC3B2TQ4GSDGALGW6VBJYZRVIIYAYFALJSN2SMMA/4545.js"
            ]
        },
        "BatchGetGraphMemberDatasources": {
            "http": {
                "requestUri": "/graph/datasources/get"
            },
            "input": {
                "type": "structure",
                "required": [
                    "GraphArn",
                    "AccountIds"
                ],
                "members": {
                    "GraphArn": {},
                    "AccountIds": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "MemberDatasources": {
                        "shape": "Sb"
                    },
                    "UnprocessedAccounts": {
                        "shape": "Sj"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/HYKFYT7IFNJKXWXTJEMZAU32SXOOY5BS7BNE5LVQUDIL6C4FNQBQ/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7SCGUI2FGAW5PWXSUWZP2AWLBEIFR6TEXHNVISZMEV6PTFHHA4IA/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7SIHDDQ63DCLWXTU4IHMYKWAYB5VKP7PPVKP6NCQJYFIF3HTG2MA/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/I5MYOJURAUADJP2XVTU23HCFBK5GY22I6SFM64QPABKUNZWO7QHQ/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KKPT4XPT4WO6GLSAI3FIRAZJ2QUWN7K5PJOTKQSN6R5CVKT4KPAA/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XPSTLWX4Y7XBZHD5YHTJ7ZZRKINNTKN32Q73WLNBQDF5NEL2XCHQ/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZDT4VRUQEB2LBADNVONUFDVI5PKRQF23BXQVKANTCS52JNMRKONQ/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3IGVOFOL447LOKCMWOA3LJPV7AJLZC3VL26LYNL3UBVNQMAQWZZQ/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5NUAHQSXMI35THDBYTJMHTURAWEMOTFSWMZ4NGUCGGC2BIIRJFQA/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/A3PA5DQMQYMH6VJJTZVOZMSRBTXZTBPH2S7VJPWOMSBOK7B247WQ/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/G756YVQHQKJJUKBESXOV6PEGW3MWUOD2JNJUBQP2MHXP24ZENXVQ/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NWLRH655TZGIG3UYCBSGRJMQAKNYVFG3QWHFTWYWE5PHRGCC2GYA/3459.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U36UQC6Z5DO6C633JNW7GXS573MMS3V6O4QTKMOK63YO5NOP22MA/1869.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YLBUZZJPTUYP7FWWXD74OPOEHQY2FFB5BSJ6OEX72BTBK5TZSSQ/1869.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25YIURSX7FP7KEPNBN3C6RCB645PHXQJCQJWPA33LHZGI7K6TIKQ/1869.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6WPUGNJONLNASLQOMTXOCUVNJ2GQHD7RDUXZB7O2MOHL25UF5UQ/1869.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCPYJF7ZDMY4MAGY3GXBVR5HQN7MIO553NKTTFNRUWV2R4APICYA/6634.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3XPWUHTY5VKJY5AP5W75KT4OOJTWQ3NYG7Y3INYUUPQCNOAORSQ/6634.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXM3FGI7AMBTKCD23QEHBX5YNS3EMZSUX4ZEJF63HSYLYIOO3W3A/6634.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5YNOFQ6QBBBCPJEMX7ZR4WCZXFYMTYV2ZJOZE3FGF4APVFPASJQ/555.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKUYY3SPS3YOKAXPPMEFTRKL647XINTUOP7WKOOM6ZMHCLIQUKDQ/6634.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LQJQ6AEATTAWKHOBZPJ7JS3HAYA3KCLR7YXN374FUZMVRG2DUYYQ/4545.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVAT2FZ3IAXIZ5VZGO2C2RZX5VSKGFB36YLRJZDGOPHSFLKLOGLA/4545.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5H2G5TPBAUTVC3B2TQ4GSDGALGW6VBJYZRVIIYAYFALJSN2SMMA/4545.js"
            ]
        },
        "BatchGetMembershipDatasources": {
            "http": {
                "requestUri": "/membership/datasources/get"
            },
            "input": {
                "type": "structure",
                "required": [
                    "GraphArns"
                ],
                "members": {
                    "GraphArns": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "MembershipDatasources": {
                        "shape": "Sb"
                    },
                    "UnprocessedGraphs": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "GraphArn": {},
                                "Reason": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/HYKFYT7IFNJKXWXTJEMZAU32SXOOY5BS7BNE5LVQUDIL6C4FNQBQ/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7SCGUI2FGAW5PWXSUWZP2AWLBEIFR6TEXHNVISZMEV6PTFHHA4IA/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7SIHDDQ63DCLWXTU4IHMYKWAYB5VKP7PPVKP6NCQJYFIF3HTG2MA/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/I5MYOJURAUADJP2XVTU23HCFBK5GY22I6SFM64QPABKUNZWO7QHQ/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KKPT4XPT4WO6GLSAI3FIRAZJ2QUWN7K5PJOTKQSN6R5CVKT4KPAA/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XPSTLWX4Y7XBZHD5YHTJ7ZZRKINNTKN32Q73WLNBQDF5NEL2XCHQ/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZDT4VRUQEB2LBADNVONUFDVI5PKRQF23BXQVKANTCS52JNMRKONQ/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3IGVOFOL447LOKCMWOA3LJPV7AJLZC3VL26LYNL3UBVNQMAQWZZQ/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5NUAHQSXMI35THDBYTJMHTURAWEMOTFSWMZ4NGUCGGC2BIIRJFQA/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/A3PA5DQMQYMH6VJJTZVOZMSRBTXZTBPH2S7VJPWOMSBOK7B247WQ/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/G756YVQHQKJJUKBESXOV6PEGW3MWUOD2JNJUBQP2MHXP24ZENXVQ/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NWLRH655TZGIG3UYCBSGRJMQAKNYVFG3QWHFTWYWE5PHRGCC2GYA/3459.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U36UQC6Z5DO6C633JNW7GXS573MMS3V6O4QTKMOK63YO5NOP22MA/1869.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YLBUZZJPTUYP7FWWXD74OPOEHQY2FFB5BSJ6OEX72BTBK5TZSSQ/1869.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25YIURSX7FP7KEPNBN3C6RCB645PHXQJCQJWPA33LHZGI7K6TIKQ/1869.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6WPUGNJONLNASLQOMTXOCUVNJ2GQHD7RDUXZB7O2MOHL25UF5UQ/1869.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCPYJF7ZDMY4MAGY3GXBVR5HQN7MIO553NKTTFNRUWV2R4APICYA/6634.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3XPWUHTY5VKJY5AP5W75KT4OOJTWQ3NYG7Y3INYUUPQCNOAORSQ/6634.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXM3FGI7AMBTKCD23QEHBX5YNS3EMZSUX4ZEJF63HSYLYIOO3W3A/6634.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5YNOFQ6QBBBCPJEMX7ZR4WCZXFYMTYV2ZJOZE3FGF4APVFPASJQ/555.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKUYY3SPS3YOKAXPPMEFTRKL647XINTUOP7WKOOM6ZMHCLIQUKDQ/6634.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LQJQ6AEATTAWKHOBZPJ7JS3HAYA3KCLR7YXN374FUZMVRG2DUYYQ/4545.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVAT2FZ3IAXIZ5VZGO2C2RZX5VSKGFB36YLRJZDGOPHSFLKLOGLA/4545.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5H2G5TPBAUTVC3B2TQ4GSDGALGW6VBJYZRVIIYAYFALJSN2SMMA/4545.js"
            ]
        },
        "BlockApiAccessInternal": {
            "http": {
                "method": "PUT",
                "requestUri": "/internal/account/blockedAccess/{AccountId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "AccountId"
                ],
                "members": {
                    "AccountId": {
                        "location": "uri",
                        "locationName": "AccountId"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/HYKFYT7IFNJKXWXTJEMZAU32SXOOY5BS7BNE5LVQUDIL6C4FNQBQ/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7SCGUI2FGAW5PWXSUWZP2AWLBEIFR6TEXHNVISZMEV6PTFHHA4IA/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7SIHDDQ63DCLWXTU4IHMYKWAYB5VKP7PPVKP6NCQJYFIF3HTG2MA/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/I5MYOJURAUADJP2XVTU23HCFBK5GY22I6SFM64QPABKUNZWO7QHQ/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KKPT4XPT4WO6GLSAI3FIRAZJ2QUWN7K5PJOTKQSN6R5CVKT4KPAA/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XPSTLWX4Y7XBZHD5YHTJ7ZZRKINNTKN32Q73WLNBQDF5NEL2XCHQ/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZDT4VRUQEB2LBADNVONUFDVI5PKRQF23BXQVKANTCS52JNMRKONQ/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3IGVOFOL447LOKCMWOA3LJPV7AJLZC3VL26LYNL3UBVNQMAQWZZQ/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5NUAHQSXMI35THDBYTJMHTURAWEMOTFSWMZ4NGUCGGC2BIIRJFQA/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/A3PA5DQMQYMH6VJJTZVOZMSRBTXZTBPH2S7VJPWOMSBOK7B247WQ/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/G756YVQHQKJJUKBESXOV6PEGW3MWUOD2JNJUBQP2MHXP24ZENXVQ/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NWLRH655TZGIG3UYCBSGRJMQAKNYVFG3QWHFTWYWE5PHRGCC2GYA/3459.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U36UQC6Z5DO6C633JNW7GXS573MMS3V6O4QTKMOK63YO5NOP22MA/1869.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YLBUZZJPTUYP7FWWXD74OPOEHQY2FFB5BSJ6OEX72BTBK5TZSSQ/1869.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25YIURSX7FP7KEPNBN3C6RCB645PHXQJCQJWPA33LHZGI7K6TIKQ/1869.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6WPUGNJONLNASLQOMTXOCUVNJ2GQHD7RDUXZB7O2MOHL25UF5UQ/1869.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCPYJF7ZDMY4MAGY3GXBVR5HQN7MIO553NKTTFNRUWV2R4APICYA/6634.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3XPWUHTY5VKJY5AP5W75KT4OOJTWQ3NYG7Y3INYUUPQCNOAORSQ/6634.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXM3FGI7AMBTKCD23QEHBX5YNS3EMZSUX4ZEJF63HSYLYIOO3W3A/6634.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5YNOFQ6QBBBCPJEMX7ZR4WCZXFYMTYV2ZJOZE3FGF4APVFPASJQ/555.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKUYY3SPS3YOKAXPPMEFTRKL647XINTUOP7WKOOM6ZMHCLIQUKDQ/6634.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LQJQ6AEATTAWKHOBZPJ7JS3HAYA3KCLR7YXN374FUZMVRG2DUYYQ/4545.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVAT2FZ3IAXIZ5VZGO2C2RZX5VSKGFB36YLRJZDGOPHSFLKLOGLA/4545.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5H2G5TPBAUTVC3B2TQ4GSDGALGW6VBJYZRVIIYAYFALJSN2SMMA/4545.js"
            ]
        },
        "CreateGraph": {
            "http": {
                "requestUri": "/graph"
            },
            "input": {
                "type": "structure",
                "members": {
                    "Tags": {
                        "shape": "St"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "GraphArn": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/HYKFYT7IFNJKXWXTJEMZAU32SXOOY5BS7BNE5LVQUDIL6C4FNQBQ/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7SCGUI2FGAW5PWXSUWZP2AWLBEIFR6TEXHNVISZMEV6PTFHHA4IA/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7SIHDDQ63DCLWXTU4IHMYKWAYB5VKP7PPVKP6NCQJYFIF3HTG2MA/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/I5MYOJURAUADJP2XVTU23HCFBK5GY22I6SFM64QPABKUNZWO7QHQ/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KKPT4XPT4WO6GLSAI3FIRAZJ2QUWN7K5PJOTKQSN6R5CVKT4KPAA/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XPSTLWX4Y7XBZHD5YHTJ7ZZRKINNTKN32Q73WLNBQDF5NEL2XCHQ/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZDT4VRUQEB2LBADNVONUFDVI5PKRQF23BXQVKANTCS52JNMRKONQ/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3IGVOFOL447LOKCMWOA3LJPV7AJLZC3VL26LYNL3UBVNQMAQWZZQ/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5NUAHQSXMI35THDBYTJMHTURAWEMOTFSWMZ4NGUCGGC2BIIRJFQA/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/A3PA5DQMQYMH6VJJTZVOZMSRBTXZTBPH2S7VJPWOMSBOK7B247WQ/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/G756YVQHQKJJUKBESXOV6PEGW3MWUOD2JNJUBQP2MHXP24ZENXVQ/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NWLRH655TZGIG3UYCBSGRJMQAKNYVFG3QWHFTWYWE5PHRGCC2GYA/3459.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U36UQC6Z5DO6C633JNW7GXS573MMS3V6O4QTKMOK63YO5NOP22MA/1869.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YLBUZZJPTUYP7FWWXD74OPOEHQY2FFB5BSJ6OEX72BTBK5TZSSQ/1869.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25YIURSX7FP7KEPNBN3C6RCB645PHXQJCQJWPA33LHZGI7K6TIKQ/1869.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6WPUGNJONLNASLQOMTXOCUVNJ2GQHD7RDUXZB7O2MOHL25UF5UQ/1869.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCPYJF7ZDMY4MAGY3GXBVR5HQN7MIO553NKTTFNRUWV2R4APICYA/6634.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3XPWUHTY5VKJY5AP5W75KT4OOJTWQ3NYG7Y3INYUUPQCNOAORSQ/6634.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXM3FGI7AMBTKCD23QEHBX5YNS3EMZSUX4ZEJF63HSYLYIOO3W3A/6634.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5YNOFQ6QBBBCPJEMX7ZR4WCZXFYMTYV2ZJOZE3FGF4APVFPASJQ/555.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKUYY3SPS3YOKAXPPMEFTRKL647XINTUOP7WKOOM6ZMHCLIQUKDQ/6634.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LQJQ6AEATTAWKHOBZPJ7JS3HAYA3KCLR7YXN374FUZMVRG2DUYYQ/4545.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVAT2FZ3IAXIZ5VZGO2C2RZX5VSKGFB36YLRJZDGOPHSFLKLOGLA/4545.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5H2G5TPBAUTVC3B2TQ4GSDGALGW6VBJYZRVIIYAYFALJSN2SMMA/4545.js"
            ]
        },
        "CreateGraphInternal": {
            "http": {
                "requestUri": "/internal/graph"
            },
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "shardCount"
                ],
                "members": {
                    "name": {},
                    "shardCount": {
                        "type": "integer"
                    },
                    "masterAccount": {},
                    "cellId": {},
                    "startedDatasources": {
                        "shape": "S11"
                    }
                }
            },
            "output": {
                "shape": "S12"
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/HYKFYT7IFNJKXWXTJEMZAU32SXOOY5BS7BNE5LVQUDIL6C4FNQBQ/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7SCGUI2FGAW5PWXSUWZP2AWLBEIFR6TEXHNVISZMEV6PTFHHA4IA/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7SIHDDQ63DCLWXTU4IHMYKWAYB5VKP7PPVKP6NCQJYFIF3HTG2MA/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/I5MYOJURAUADJP2XVTU23HCFBK5GY22I6SFM64QPABKUNZWO7QHQ/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KKPT4XPT4WO6GLSAI3FIRAZJ2QUWN7K5PJOTKQSN6R5CVKT4KPAA/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XPSTLWX4Y7XBZHD5YHTJ7ZZRKINNTKN32Q73WLNBQDF5NEL2XCHQ/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZDT4VRUQEB2LBADNVONUFDVI5PKRQF23BXQVKANTCS52JNMRKONQ/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3IGVOFOL447LOKCMWOA3LJPV7AJLZC3VL26LYNL3UBVNQMAQWZZQ/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5NUAHQSXMI35THDBYTJMHTURAWEMOTFSWMZ4NGUCGGC2BIIRJFQA/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/A3PA5DQMQYMH6VJJTZVOZMSRBTXZTBPH2S7VJPWOMSBOK7B247WQ/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/G756YVQHQKJJUKBESXOV6PEGW3MWUOD2JNJUBQP2MHXP24ZENXVQ/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NWLRH655TZGIG3UYCBSGRJMQAKNYVFG3QWHFTWYWE5PHRGCC2GYA/3459.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U36UQC6Z5DO6C633JNW7GXS573MMS3V6O4QTKMOK63YO5NOP22MA/1869.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YLBUZZJPTUYP7FWWXD74OPOEHQY2FFB5BSJ6OEX72BTBK5TZSSQ/1869.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25YIURSX7FP7KEPNBN3C6RCB645PHXQJCQJWPA33LHZGI7K6TIKQ/1869.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6WPUGNJONLNASLQOMTXOCUVNJ2GQHD7RDUXZB7O2MOHL25UF5UQ/1869.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCPYJF7ZDMY4MAGY3GXBVR5HQN7MIO553NKTTFNRUWV2R4APICYA/6634.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3XPWUHTY5VKJY5AP5W75KT4OOJTWQ3NYG7Y3INYUUPQCNOAORSQ/6634.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXM3FGI7AMBTKCD23QEHBX5YNS3EMZSUX4ZEJF63HSYLYIOO3W3A/6634.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5YNOFQ6QBBBCPJEMX7ZR4WCZXFYMTYV2ZJOZE3FGF4APVFPASJQ/555.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKUYY3SPS3YOKAXPPMEFTRKL647XINTUOP7WKOOM6ZMHCLIQUKDQ/6634.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LQJQ6AEATTAWKHOBZPJ7JS3HAYA3KCLR7YXN374FUZMVRG2DUYYQ/4545.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVAT2FZ3IAXIZ5VZGO2C2RZX5VSKGFB36YLRJZDGOPHSFLKLOGLA/4545.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5H2G5TPBAUTVC3B2TQ4GSDGALGW6VBJYZRVIIYAYFALJSN2SMMA/4545.js"
            ]
        },
        "CreateMembers": {
            "http": {
                "requestUri": "/graph/members"
            },
            "input": {
                "type": "structure",
                "required": [
                    "GraphArn",
                    "Accounts"
                ],
                "members": {
                    "GraphArn": {},
                    "Message": {
                        "type": "string",
                        "sensitive": true
                    },
                    "DisableEmailNotification": {
                        "type": "boolean"
                    },
                    "Accounts": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "AccountId",
                                "EmailAddress"
                            ],
                            "members": {
                                "AccountId": {},
                                "EmailAddress": {
                                    "shape": "S18"
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Members": {
                        "shape": "S1a"
                    },
                    "UnprocessedAccounts": {
                        "shape": "Sj"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/HYKFYT7IFNJKXWXTJEMZAU32SXOOY5BS7BNE5LVQUDIL6C4FNQBQ/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7SCGUI2FGAW5PWXSUWZP2AWLBEIFR6TEXHNVISZMEV6PTFHHA4IA/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7SIHDDQ63DCLWXTU4IHMYKWAYB5VKP7PPVKP6NCQJYFIF3HTG2MA/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/I5MYOJURAUADJP2XVTU23HCFBK5GY22I6SFM64QPABKUNZWO7QHQ/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KKPT4XPT4WO6GLSAI3FIRAZJ2QUWN7K5PJOTKQSN6R5CVKT4KPAA/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XPSTLWX4Y7XBZHD5YHTJ7ZZRKINNTKN32Q73WLNBQDF5NEL2XCHQ/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZDT4VRUQEB2LBADNVONUFDVI5PKRQF23BXQVKANTCS52JNMRKONQ/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3IGVOFOL447LOKCMWOA3LJPV7AJLZC3VL26LYNL3UBVNQMAQWZZQ/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5NUAHQSXMI35THDBYTJMHTURAWEMOTFSWMZ4NGUCGGC2BIIRJFQA/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/A3PA5DQMQYMH6VJJTZVOZMSRBTXZTBPH2S7VJPWOMSBOK7B247WQ/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/G756YVQHQKJJUKBESXOV6PEGW3MWUOD2JNJUBQP2MHXP24ZENXVQ/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NWLRH655TZGIG3UYCBSGRJMQAKNYVFG3QWHFTWYWE5PHRGCC2GYA/3459.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U36UQC6Z5DO6C633JNW7GXS573MMS3V6O4QTKMOK63YO5NOP22MA/1869.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YLBUZZJPTUYP7FWWXD74OPOEHQY2FFB5BSJ6OEX72BTBK5TZSSQ/1869.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25YIURSX7FP7KEPNBN3C6RCB645PHXQJCQJWPA33LHZGI7K6TIKQ/1869.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6WPUGNJONLNASLQOMTXOCUVNJ2GQHD7RDUXZB7O2MOHL25UF5UQ/1869.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCPYJF7ZDMY4MAGY3GXBVR5HQN7MIO553NKTTFNRUWV2R4APICYA/6634.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3XPWUHTY5VKJY5AP5W75KT4OOJTWQ3NYG7Y3INYUUPQCNOAORSQ/6634.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXM3FGI7AMBTKCD23QEHBX5YNS3EMZSUX4ZEJF63HSYLYIOO3W3A/6634.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5YNOFQ6QBBBCPJEMX7ZR4WCZXFYMTYV2ZJOZE3FGF4APVFPASJQ/555.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKUYY3SPS3YOKAXPPMEFTRKL647XINTUOP7WKOOM6ZMHCLIQUKDQ/6634.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LQJQ6AEATTAWKHOBZPJ7JS3HAYA3KCLR7YXN374FUZMVRG2DUYYQ/4545.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVAT2FZ3IAXIZ5VZGO2C2RZX5VSKGFB36YLRJZDGOPHSFLKLOGLA/4545.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5H2G5TPBAUTVC3B2TQ4GSDGALGW6VBJYZRVIIYAYFALJSN2SMMA/4545.js"
            ]
        },
        "DeleteGraph": {
            "http": {
                "requestUri": "/graph/removal"
            },
            "input": {
                "type": "structure",
                "required": [
                    "GraphArn"
                ],
                "members": {
                    "GraphArn": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/HYKFYT7IFNJKXWXTJEMZAU32SXOOY5BS7BNE5LVQUDIL6C4FNQBQ/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7SCGUI2FGAW5PWXSUWZP2AWLBEIFR6TEXHNVISZMEV6PTFHHA4IA/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7SIHDDQ63DCLWXTU4IHMYKWAYB5VKP7PPVKP6NCQJYFIF3HTG2MA/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/I5MYOJURAUADJP2XVTU23HCFBK5GY22I6SFM64QPABKUNZWO7QHQ/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KKPT4XPT4WO6GLSAI3FIRAZJ2QUWN7K5PJOTKQSN6R5CVKT4KPAA/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XPSTLWX4Y7XBZHD5YHTJ7ZZRKINNTKN32Q73WLNBQDF5NEL2XCHQ/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZDT4VRUQEB2LBADNVONUFDVI5PKRQF23BXQVKANTCS52JNMRKONQ/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3IGVOFOL447LOKCMWOA3LJPV7AJLZC3VL26LYNL3UBVNQMAQWZZQ/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5NUAHQSXMI35THDBYTJMHTURAWEMOTFSWMZ4NGUCGGC2BIIRJFQA/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/A3PA5DQMQYMH6VJJTZVOZMSRBTXZTBPH2S7VJPWOMSBOK7B247WQ/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/G756YVQHQKJJUKBESXOV6PEGW3MWUOD2JNJUBQP2MHXP24ZENXVQ/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NWLRH655TZGIG3UYCBSGRJMQAKNYVFG3QWHFTWYWE5PHRGCC2GYA/3459.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U36UQC6Z5DO6C633JNW7GXS573MMS3V6O4QTKMOK63YO5NOP22MA/1869.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YLBUZZJPTUYP7FWWXD74OPOEHQY2FFB5BSJ6OEX72BTBK5TZSSQ/1869.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25YIURSX7FP7KEPNBN3C6RCB645PHXQJCQJWPA33LHZGI7K6TIKQ/1869.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6WPUGNJONLNASLQOMTXOCUVNJ2GQHD7RDUXZB7O2MOHL25UF5UQ/1869.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCPYJF7ZDMY4MAGY3GXBVR5HQN7MIO553NKTTFNRUWV2R4APICYA/6634.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3XPWUHTY5VKJY5AP5W75KT4OOJTWQ3NYG7Y3INYUUPQCNOAORSQ/6634.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXM3FGI7AMBTKCD23QEHBX5YNS3EMZSUX4ZEJF63HSYLYIOO3W3A/6634.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5YNOFQ6QBBBCPJEMX7ZR4WCZXFYMTYV2ZJOZE3FGF4APVFPASJQ/555.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKUYY3SPS3YOKAXPPMEFTRKL647XINTUOP7WKOOM6ZMHCLIQUKDQ/6634.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LQJQ6AEATTAWKHOBZPJ7JS3HAYA3KCLR7YXN374FUZMVRG2DUYYQ/4545.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVAT2FZ3IAXIZ5VZGO2C2RZX5VSKGFB36YLRJZDGOPHSFLKLOGLA/4545.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5H2G5TPBAUTVC3B2TQ4GSDGALGW6VBJYZRVIIYAYFALJSN2SMMA/4545.js"
            ]
        },
        "DeleteGraphInternal": {
            "http": {
                "requestUri": "/internal/graph/removal"
            },
            "input": {
                "shape": "S1l"
            },
            "output": {
                "shape": "S12"
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/HYKFYT7IFNJKXWXTJEMZAU32SXOOY5BS7BNE5LVQUDIL6C4FNQBQ/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7SCGUI2FGAW5PWXSUWZP2AWLBEIFR6TEXHNVISZMEV6PTFHHA4IA/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7SIHDDQ63DCLWXTU4IHMYKWAYB5VKP7PPVKP6NCQJYFIF3HTG2MA/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/I5MYOJURAUADJP2XVTU23HCFBK5GY22I6SFM64QPABKUNZWO7QHQ/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KKPT4XPT4WO6GLSAI3FIRAZJ2QUWN7K5PJOTKQSN6R5CVKT4KPAA/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XPSTLWX4Y7XBZHD5YHTJ7ZZRKINNTKN32Q73WLNBQDF5NEL2XCHQ/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZDT4VRUQEB2LBADNVONUFDVI5PKRQF23BXQVKANTCS52JNMRKONQ/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3IGVOFOL447LOKCMWOA3LJPV7AJLZC3VL26LYNL3UBVNQMAQWZZQ/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5NUAHQSXMI35THDBYTJMHTURAWEMOTFSWMZ4NGUCGGC2BIIRJFQA/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/A3PA5DQMQYMH6VJJTZVOZMSRBTXZTBPH2S7VJPWOMSBOK7B247WQ/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/G756YVQHQKJJUKBESXOV6PEGW3MWUOD2JNJUBQP2MHXP24ZENXVQ/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NWLRH655TZGIG3UYCBSGRJMQAKNYVFG3QWHFTWYWE5PHRGCC2GYA/3459.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U36UQC6Z5DO6C633JNW7GXS573MMS3V6O4QTKMOK63YO5NOP22MA/1869.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YLBUZZJPTUYP7FWWXD74OPOEHQY2FFB5BSJ6OEX72BTBK5TZSSQ/1869.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25YIURSX7FP7KEPNBN3C6RCB645PHXQJCQJWPA33LHZGI7K6TIKQ/1869.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6WPUGNJONLNASLQOMTXOCUVNJ2GQHD7RDUXZB7O2MOHL25UF5UQ/1869.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCPYJF7ZDMY4MAGY3GXBVR5HQN7MIO553NKTTFNRUWV2R4APICYA/6634.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3XPWUHTY5VKJY5AP5W75KT4OOJTWQ3NYG7Y3INYUUPQCNOAORSQ/6634.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXM3FGI7AMBTKCD23QEHBX5YNS3EMZSUX4ZEJF63HSYLYIOO3W3A/6634.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5YNOFQ6QBBBCPJEMX7ZR4WCZXFYMTYV2ZJOZE3FGF4APVFPASJQ/555.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKUYY3SPS3YOKAXPPMEFTRKL647XINTUOP7WKOOM6ZMHCLIQUKDQ/6634.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LQJQ6AEATTAWKHOBZPJ7JS3HAYA3KCLR7YXN374FUZMVRG2DUYYQ/4545.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVAT2FZ3IAXIZ5VZGO2C2RZX5VSKGFB36YLRJZDGOPHSFLKLOGLA/4545.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5H2G5TPBAUTVC3B2TQ4GSDGALGW6VBJYZRVIIYAYFALJSN2SMMA/4545.js"
            ]
        },
        "DeleteMemberInternal": {
            "http": {
                "requestUri": "/internal/graph/members/delete"
            },
            "input": {
                "type": "structure",
                "required": [
                    "AccountId",
                    "GraphArn"
                ],
                "members": {
                    "AccountId": {},
                    "GraphArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AccountId": {},
                    "GraphArn": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/HYKFYT7IFNJKXWXTJEMZAU32SXOOY5BS7BNE5LVQUDIL6C4FNQBQ/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7SCGUI2FGAW5PWXSUWZP2AWLBEIFR6TEXHNVISZMEV6PTFHHA4IA/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7SIHDDQ63DCLWXTU4IHMYKWAYB5VKP7PPVKP6NCQJYFIF3HTG2MA/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/I5MYOJURAUADJP2XVTU23HCFBK5GY22I6SFM64QPABKUNZWO7QHQ/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KKPT4XPT4WO6GLSAI3FIRAZJ2QUWN7K5PJOTKQSN6R5CVKT4KPAA/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XPSTLWX4Y7XBZHD5YHTJ7ZZRKINNTKN32Q73WLNBQDF5NEL2XCHQ/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZDT4VRUQEB2LBADNVONUFDVI5PKRQF23BXQVKANTCS52JNMRKONQ/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3IGVOFOL447LOKCMWOA3LJPV7AJLZC3VL26LYNL3UBVNQMAQWZZQ/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5NUAHQSXMI35THDBYTJMHTURAWEMOTFSWMZ4NGUCGGC2BIIRJFQA/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/A3PA5DQMQYMH6VJJTZVOZMSRBTXZTBPH2S7VJPWOMSBOK7B247WQ/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/G756YVQHQKJJUKBESXOV6PEGW3MWUOD2JNJUBQP2MHXP24ZENXVQ/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NWLRH655TZGIG3UYCBSGRJMQAKNYVFG3QWHFTWYWE5PHRGCC2GYA/3459.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U36UQC6Z5DO6C633JNW7GXS573MMS3V6O4QTKMOK63YO5NOP22MA/1869.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YLBUZZJPTUYP7FWWXD74OPOEHQY2FFB5BSJ6OEX72BTBK5TZSSQ/1869.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25YIURSX7FP7KEPNBN3C6RCB645PHXQJCQJWPA33LHZGI7K6TIKQ/1869.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6WPUGNJONLNASLQOMTXOCUVNJ2GQHD7RDUXZB7O2MOHL25UF5UQ/1869.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCPYJF7ZDMY4MAGY3GXBVR5HQN7MIO553NKTTFNRUWV2R4APICYA/6634.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3XPWUHTY5VKJY5AP5W75KT4OOJTWQ3NYG7Y3INYUUPQCNOAORSQ/6634.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXM3FGI7AMBTKCD23QEHBX5YNS3EMZSUX4ZEJF63HSYLYIOO3W3A/6634.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5YNOFQ6QBBBCPJEMX7ZR4WCZXFYMTYV2ZJOZE3FGF4APVFPASJQ/555.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKUYY3SPS3YOKAXPPMEFTRKL647XINTUOP7WKOOM6ZMHCLIQUKDQ/6634.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LQJQ6AEATTAWKHOBZPJ7JS3HAYA3KCLR7YXN374FUZMVRG2DUYYQ/4545.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVAT2FZ3IAXIZ5VZGO2C2RZX5VSKGFB36YLRJZDGOPHSFLKLOGLA/4545.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5H2G5TPBAUTVC3B2TQ4GSDGALGW6VBJYZRVIIYAYFALJSN2SMMA/4545.js"
            ]
        },
        "DeleteMembers": {
            "http": {
                "requestUri": "/graph/members/removal"
            },
            "input": {
                "type": "structure",
                "required": [
                    "GraphArn",
                    "AccountIds"
                ],
                "members": {
                    "GraphArn": {},
                    "AccountIds": {
                        "shape": "S5"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AccountIds": {
                        "shape": "S5"
                    },
                    "UnprocessedAccounts": {
                        "shape": "Sj"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/HYKFYT7IFNJKXWXTJEMZAU32SXOOY5BS7BNE5LVQUDIL6C4FNQBQ/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7SCGUI2FGAW5PWXSUWZP2AWLBEIFR6TEXHNVISZMEV6PTFHHA4IA/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7SIHDDQ63DCLWXTU4IHMYKWAYB5VKP7PPVKP6NCQJYFIF3HTG2MA/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/I5MYOJURAUADJP2XVTU23HCFBK5GY22I6SFM64QPABKUNZWO7QHQ/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KKPT4XPT4WO6GLSAI3FIRAZJ2QUWN7K5PJOTKQSN6R5CVKT4KPAA/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XPSTLWX4Y7XBZHD5YHTJ7ZZRKINNTKN32Q73WLNBQDF5NEL2XCHQ/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZDT4VRUQEB2LBADNVONUFDVI5PKRQF23BXQVKANTCS52JNMRKONQ/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3IGVOFOL447LOKCMWOA3LJPV7AJLZC3VL26LYNL3UBVNQMAQWZZQ/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5NUAHQSXMI35THDBYTJMHTURAWEMOTFSWMZ4NGUCGGC2BIIRJFQA/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/A3PA5DQMQYMH6VJJTZVOZMSRBTXZTBPH2S7VJPWOMSBOK7B247WQ/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/G756YVQHQKJJUKBESXOV6PEGW3MWUOD2JNJUBQP2MHXP24ZENXVQ/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NWLRH655TZGIG3UYCBSGRJMQAKNYVFG3QWHFTWYWE5PHRGCC2GYA/3459.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U36UQC6Z5DO6C633JNW7GXS573MMS3V6O4QTKMOK63YO5NOP22MA/1869.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YLBUZZJPTUYP7FWWXD74OPOEHQY2FFB5BSJ6OEX72BTBK5TZSSQ/1869.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25YIURSX7FP7KEPNBN3C6RCB645PHXQJCQJWPA33LHZGI7K6TIKQ/1869.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6WPUGNJONLNASLQOMTXOCUVNJ2GQHD7RDUXZB7O2MOHL25UF5UQ/1869.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCPYJF7ZDMY4MAGY3GXBVR5HQN7MIO553NKTTFNRUWV2R4APICYA/6634.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3XPWUHTY5VKJY5AP5W75KT4OOJTWQ3NYG7Y3INYUUPQCNOAORSQ/6634.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXM3FGI7AMBTKCD23QEHBX5YNS3EMZSUX4ZEJF63HSYLYIOO3W3A/6634.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5YNOFQ6QBBBCPJEMX7ZR4WCZXFYMTYV2ZJOZE3FGF4APVFPASJQ/555.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKUYY3SPS3YOKAXPPMEFTRKL647XINTUOP7WKOOM6ZMHCLIQUKDQ/6634.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LQJQ6AEATTAWKHOBZPJ7JS3HAYA3KCLR7YXN374FUZMVRG2DUYYQ/4545.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVAT2FZ3IAXIZ5VZGO2C2RZX5VSKGFB36YLRJZDGOPHSFLKLOGLA/4545.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5H2G5TPBAUTVC3B2TQ4GSDGALGW6VBJYZRVIIYAYFALJSN2SMMA/4545.js"
            ]
        },
        "DescribeAccountInternal": {
            "http": {
                "requestUri": "/internal/account/get"
            },
            "input": {
                "type": "structure",
                "required": [
                    "AccountId"
                ],
                "members": {
                    "AccountId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "FreeTrialEndTime": {
                        "shape": "Si"
                    },
                    "ApiDenyListPresence": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/HYKFYT7IFNJKXWXTJEMZAU32SXOOY5BS7BNE5LVQUDIL6C4FNQBQ/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7SCGUI2FGAW5PWXSUWZP2AWLBEIFR6TEXHNVISZMEV6PTFHHA4IA/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7SIHDDQ63DCLWXTU4IHMYKWAYB5VKP7PPVKP6NCQJYFIF3HTG2MA/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/I5MYOJURAUADJP2XVTU23HCFBK5GY22I6SFM64QPABKUNZWO7QHQ/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KKPT4XPT4WO6GLSAI3FIRAZJ2QUWN7K5PJOTKQSN6R5CVKT4KPAA/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XPSTLWX4Y7XBZHD5YHTJ7ZZRKINNTKN32Q73WLNBQDF5NEL2XCHQ/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZDT4VRUQEB2LBADNVONUFDVI5PKRQF23BXQVKANTCS52JNMRKONQ/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3IGVOFOL447LOKCMWOA3LJPV7AJLZC3VL26LYNL3UBVNQMAQWZZQ/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5NUAHQSXMI35THDBYTJMHTURAWEMOTFSWMZ4NGUCGGC2BIIRJFQA/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/A3PA5DQMQYMH6VJJTZVOZMSRBTXZTBPH2S7VJPWOMSBOK7B247WQ/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/G756YVQHQKJJUKBESXOV6PEGW3MWUOD2JNJUBQP2MHXP24ZENXVQ/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NWLRH655TZGIG3UYCBSGRJMQAKNYVFG3QWHFTWYWE5PHRGCC2GYA/3459.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U36UQC6Z5DO6C633JNW7GXS573MMS3V6O4QTKMOK63YO5NOP22MA/1869.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YLBUZZJPTUYP7FWWXD74OPOEHQY2FFB5BSJ6OEX72BTBK5TZSSQ/1869.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25YIURSX7FP7KEPNBN3C6RCB645PHXQJCQJWPA33LHZGI7K6TIKQ/1869.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6WPUGNJONLNASLQOMTXOCUVNJ2GQHD7RDUXZB7O2MOHL25UF5UQ/1869.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCPYJF7ZDMY4MAGY3GXBVR5HQN7MIO553NKTTFNRUWV2R4APICYA/6634.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3XPWUHTY5VKJY5AP5W75KT4OOJTWQ3NYG7Y3INYUUPQCNOAORSQ/6634.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXM3FGI7AMBTKCD23QEHBX5YNS3EMZSUX4ZEJF63HSYLYIOO3W3A/6634.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5YNOFQ6QBBBCPJEMX7ZR4WCZXFYMTYV2ZJOZE3FGF4APVFPASJQ/555.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKUYY3SPS3YOKAXPPMEFTRKL647XINTUOP7WKOOM6ZMHCLIQUKDQ/6634.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LQJQ6AEATTAWKHOBZPJ7JS3HAYA3KCLR7YXN374FUZMVRG2DUYYQ/4545.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVAT2FZ3IAXIZ5VZGO2C2RZX5VSKGFB36YLRJZDGOPHSFLKLOGLA/4545.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5H2G5TPBAUTVC3B2TQ4GSDGALGW6VBJYZRVIIYAYFALJSN2SMMA/4545.js"
            ]
        },
        "DescribeAccountInternalV2": {
            "http": {
                "requestUri": "/internal/account/get/v2"
            },
            "input": {
                "type": "structure",
                "required": [
                    "AccountId"
                ],
                "members": {
                    "AccountId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DatasourcePackageFreeTrialEndTimes": {
                        "shape": "S1v"
                    },
                    "ApiDenyListPresence": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/HYKFYT7IFNJKXWXTJEMZAU32SXOOY5BS7BNE5LVQUDIL6C4FNQBQ/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7SCGUI2FGAW5PWXSUWZP2AWLBEIFR6TEXHNVISZMEV6PTFHHA4IA/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7SIHDDQ63DCLWXTU4IHMYKWAYB5VKP7PPVKP6NCQJYFIF3HTG2MA/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/I5MYOJURAUADJP2XVTU23HCFBK5GY22I6SFM64QPABKUNZWO7QHQ/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KKPT4XPT4WO6GLSAI3FIRAZJ2QUWN7K5PJOTKQSN6R5CVKT4KPAA/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XPSTLWX4Y7XBZHD5YHTJ7ZZRKINNTKN32Q73WLNBQDF5NEL2XCHQ/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZDT4VRUQEB2LBADNVONUFDVI5PKRQF23BXQVKANTCS52JNMRKONQ/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3IGVOFOL447LOKCMWOA3LJPV7AJLZC3VL26LYNL3UBVNQMAQWZZQ/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5NUAHQSXMI35THDBYTJMHTURAWEMOTFSWMZ4NGUCGGC2BIIRJFQA/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/A3PA5DQMQYMH6VJJTZVOZMSRBTXZTBPH2S7VJPWOMSBOK7B247WQ/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/G756YVQHQKJJUKBESXOV6PEGW3MWUOD2JNJUBQP2MHXP24ZENXVQ/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NWLRH655TZGIG3UYCBSGRJMQAKNYVFG3QWHFTWYWE5PHRGCC2GYA/3459.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U36UQC6Z5DO6C633JNW7GXS573MMS3V6O4QTKMOK63YO5NOP22MA/1869.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YLBUZZJPTUYP7FWWXD74OPOEHQY2FFB5BSJ6OEX72BTBK5TZSSQ/1869.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25YIURSX7FP7KEPNBN3C6RCB645PHXQJCQJWPA33LHZGI7K6TIKQ/1869.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6WPUGNJONLNASLQOMTXOCUVNJ2GQHD7RDUXZB7O2MOHL25UF5UQ/1869.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCPYJF7ZDMY4MAGY3GXBVR5HQN7MIO553NKTTFNRUWV2R4APICYA/6634.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3XPWUHTY5VKJY5AP5W75KT4OOJTWQ3NYG7Y3INYUUPQCNOAORSQ/6634.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXM3FGI7AMBTKCD23QEHBX5YNS3EMZSUX4ZEJF63HSYLYIOO3W3A/6634.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5YNOFQ6QBBBCPJEMX7ZR4WCZXFYMTYV2ZJOZE3FGF4APVFPASJQ/555.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKUYY3SPS3YOKAXPPMEFTRKL647XINTUOP7WKOOM6ZMHCLIQUKDQ/6634.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LQJQ6AEATTAWKHOBZPJ7JS3HAYA3KCLR7YXN374FUZMVRG2DUYYQ/4545.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVAT2FZ3IAXIZ5VZGO2C2RZX5VSKGFB36YLRJZDGOPHSFLKLOGLA/4545.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5H2G5TPBAUTVC3B2TQ4GSDGALGW6VBJYZRVIIYAYFALJSN2SMMA/4545.js"
            ]
        },
        "DescribeOrganizationConfiguration": {
            "http": {
                "requestUri": "/orgs/describeOrganizationConfiguration"
            },
            "input": {
                "type": "structure",
                "required": [
                    "GraphArn"
                ],
                "members": {
                    "GraphArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AutoEnable": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/HYKFYT7IFNJKXWXTJEMZAU32SXOOY5BS7BNE5LVQUDIL6C4FNQBQ/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7SCGUI2FGAW5PWXSUWZP2AWLBEIFR6TEXHNVISZMEV6PTFHHA4IA/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7SIHDDQ63DCLWXTU4IHMYKWAYB5VKP7PPVKP6NCQJYFIF3HTG2MA/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/I5MYOJURAUADJP2XVTU23HCFBK5GY22I6SFM64QPABKUNZWO7QHQ/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KKPT4XPT4WO6GLSAI3FIRAZJ2QUWN7K5PJOTKQSN6R5CVKT4KPAA/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XPSTLWX4Y7XBZHD5YHTJ7ZZRKINNTKN32Q73WLNBQDF5NEL2XCHQ/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZDT4VRUQEB2LBADNVONUFDVI5PKRQF23BXQVKANTCS52JNMRKONQ/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3IGVOFOL447LOKCMWOA3LJPV7AJLZC3VL26LYNL3UBVNQMAQWZZQ/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5NUAHQSXMI35THDBYTJMHTURAWEMOTFSWMZ4NGUCGGC2BIIRJFQA/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/A3PA5DQMQYMH6VJJTZVOZMSRBTXZTBPH2S7VJPWOMSBOK7B247WQ/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/G756YVQHQKJJUKBESXOV6PEGW3MWUOD2JNJUBQP2MHXP24ZENXVQ/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NWLRH655TZGIG3UYCBSGRJMQAKNYVFG3QWHFTWYWE5PHRGCC2GYA/3459.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U36UQC6Z5DO6C633JNW7GXS573MMS3V6O4QTKMOK63YO5NOP22MA/1869.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YLBUZZJPTUYP7FWWXD74OPOEHQY2FFB5BSJ6OEX72BTBK5TZSSQ/1869.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25YIURSX7FP7KEPNBN3C6RCB645PHXQJCQJWPA33LHZGI7K6TIKQ/1869.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6WPUGNJONLNASLQOMTXOCUVNJ2GQHD7RDUXZB7O2MOHL25UF5UQ/1869.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCPYJF7ZDMY4MAGY3GXBVR5HQN7MIO553NKTTFNRUWV2R4APICYA/6634.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3XPWUHTY5VKJY5AP5W75KT4OOJTWQ3NYG7Y3INYUUPQCNOAORSQ/6634.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXM3FGI7AMBTKCD23QEHBX5YNS3EMZSUX4ZEJF63HSYLYIOO3W3A/6634.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5YNOFQ6QBBBCPJEMX7ZR4WCZXFYMTYV2ZJOZE3FGF4APVFPASJQ/555.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKUYY3SPS3YOKAXPPMEFTRKL647XINTUOP7WKOOM6ZMHCLIQUKDQ/6634.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LQJQ6AEATTAWKHOBZPJ7JS3HAYA3KCLR7YXN374FUZMVRG2DUYYQ/4545.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVAT2FZ3IAXIZ5VZGO2C2RZX5VSKGFB36YLRJZDGOPHSFLKLOGLA/4545.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5H2G5TPBAUTVC3B2TQ4GSDGALGW6VBJYZRVIIYAYFALJSN2SMMA/4545.js"
            ]
        },
        "DisableOrganizationAdminAccount": {
            "http": {
                "requestUri": "/orgs/disableAdminAccount"
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/HYKFYT7IFNJKXWXTJEMZAU32SXOOY5BS7BNE5LVQUDIL6C4FNQBQ/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7SCGUI2FGAW5PWXSUWZP2AWLBEIFR6TEXHNVISZMEV6PTFHHA4IA/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7SIHDDQ63DCLWXTU4IHMYKWAYB5VKP7PPVKP6NCQJYFIF3HTG2MA/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/I5MYOJURAUADJP2XVTU23HCFBK5GY22I6SFM64QPABKUNZWO7QHQ/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KKPT4XPT4WO6GLSAI3FIRAZJ2QUWN7K5PJOTKQSN6R5CVKT4KPAA/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XPSTLWX4Y7XBZHD5YHTJ7ZZRKINNTKN32Q73WLNBQDF5NEL2XCHQ/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZDT4VRUQEB2LBADNVONUFDVI5PKRQF23BXQVKANTCS52JNMRKONQ/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3IGVOFOL447LOKCMWOA3LJPV7AJLZC3VL26LYNL3UBVNQMAQWZZQ/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5NUAHQSXMI35THDBYTJMHTURAWEMOTFSWMZ4NGUCGGC2BIIRJFQA/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/A3PA5DQMQYMH6VJJTZVOZMSRBTXZTBPH2S7VJPWOMSBOK7B247WQ/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/G756YVQHQKJJUKBESXOV6PEGW3MWUOD2JNJUBQP2MHXP24ZENXVQ/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NWLRH655TZGIG3UYCBSGRJMQAKNYVFG3QWHFTWYWE5PHRGCC2GYA/3459.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U36UQC6Z5DO6C633JNW7GXS573MMS3V6O4QTKMOK63YO5NOP22MA/1869.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YLBUZZJPTUYP7FWWXD74OPOEHQY2FFB5BSJ6OEX72BTBK5TZSSQ/1869.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25YIURSX7FP7KEPNBN3C6RCB645PHXQJCQJWPA33LHZGI7K6TIKQ/1869.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6WPUGNJONLNASLQOMTXOCUVNJ2GQHD7RDUXZB7O2MOHL25UF5UQ/1869.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCPYJF7ZDMY4MAGY3GXBVR5HQN7MIO553NKTTFNRUWV2R4APICYA/6634.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3XPWUHTY5VKJY5AP5W75KT4OOJTWQ3NYG7Y3INYUUPQCNOAORSQ/6634.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXM3FGI7AMBTKCD23QEHBX5YNS3EMZSUX4ZEJF63HSYLYIOO3W3A/6634.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5YNOFQ6QBBBCPJEMX7ZR4WCZXFYMTYV2ZJOZE3FGF4APVFPASJQ/555.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKUYY3SPS3YOKAXPPMEFTRKL647XINTUOP7WKOOM6ZMHCLIQUKDQ/6634.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LQJQ6AEATTAWKHOBZPJ7JS3HAYA3KCLR7YXN374FUZMVRG2DUYYQ/4545.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVAT2FZ3IAXIZ5VZGO2C2RZX5VSKGFB36YLRJZDGOPHSFLKLOGLA/4545.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5H2G5TPBAUTVC3B2TQ4GSDGALGW6VBJYZRVIIYAYFALJSN2SMMA/4545.js"
            ]
        },
        "DisassociateMembership": {
            "http": {
                "requestUri": "/membership/removal"
            },
            "input": {
                "type": "structure",
                "required": [
                    "GraphArn"
                ],
                "members": {
                    "GraphArn": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/HYKFYT7IFNJKXWXTJEMZAU32SXOOY5BS7BNE5LVQUDIL6C4FNQBQ/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7SCGUI2FGAW5PWXSUWZP2AWLBEIFR6TEXHNVISZMEV6PTFHHA4IA/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7SIHDDQ63DCLWXTU4IHMYKWAYB5VKP7PPVKP6NCQJYFIF3HTG2MA/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/I5MYOJURAUADJP2XVTU23HCFBK5GY22I6SFM64QPABKUNZWO7QHQ/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KKPT4XPT4WO6GLSAI3FIRAZJ2QUWN7K5PJOTKQSN6R5CVKT4KPAA/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XPSTLWX4Y7XBZHD5YHTJ7ZZRKINNTKN32Q73WLNBQDF5NEL2XCHQ/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZDT4VRUQEB2LBADNVONUFDVI5PKRQF23BXQVKANTCS52JNMRKONQ/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3IGVOFOL447LOKCMWOA3LJPV7AJLZC3VL26LYNL3UBVNQMAQWZZQ/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5NUAHQSXMI35THDBYTJMHTURAWEMOTFSWMZ4NGUCGGC2BIIRJFQA/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/A3PA5DQMQYMH6VJJTZVOZMSRBTXZTBPH2S7VJPWOMSBOK7B247WQ/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/G756YVQHQKJJUKBESXOV6PEGW3MWUOD2JNJUBQP2MHXP24ZENXVQ/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NWLRH655TZGIG3UYCBSGRJMQAKNYVFG3QWHFTWYWE5PHRGCC2GYA/3459.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U36UQC6Z5DO6C633JNW7GXS573MMS3V6O4QTKMOK63YO5NOP22MA/1869.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YLBUZZJPTUYP7FWWXD74OPOEHQY2FFB5BSJ6OEX72BTBK5TZSSQ/1869.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25YIURSX7FP7KEPNBN3C6RCB645PHXQJCQJWPA33LHZGI7K6TIKQ/1869.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6WPUGNJONLNASLQOMTXOCUVNJ2GQHD7RDUXZB7O2MOHL25UF5UQ/1869.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCPYJF7ZDMY4MAGY3GXBVR5HQN7MIO553NKTTFNRUWV2R4APICYA/6634.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3XPWUHTY5VKJY5AP5W75KT4OOJTWQ3NYG7Y3INYUUPQCNOAORSQ/6634.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXM3FGI7AMBTKCD23QEHBX5YNS3EMZSUX4ZEJF63HSYLYIOO3W3A/6634.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5YNOFQ6QBBBCPJEMX7ZR4WCZXFYMTYV2ZJOZE3FGF4APVFPASJQ/555.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKUYY3SPS3YOKAXPPMEFTRKL647XINTUOP7WKOOM6ZMHCLIQUKDQ/6634.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LQJQ6AEATTAWKHOBZPJ7JS3HAYA3KCLR7YXN374FUZMVRG2DUYYQ/4545.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVAT2FZ3IAXIZ5VZGO2C2RZX5VSKGFB36YLRJZDGOPHSFLKLOGLA/4545.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5H2G5TPBAUTVC3B2TQ4GSDGALGW6VBJYZRVIIYAYFALJSN2SMMA/4545.js"
            ]
        },
        "EnableOrganizationAdminAccount": {
            "http": {
                "requestUri": "/orgs/enableAdminAccount"
            },
            "input": {
                "type": "structure",
                "required": [
                    "AccountId"
                ],
                "members": {
                    "AccountId": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/HYKFYT7IFNJKXWXTJEMZAU32SXOOY5BS7BNE5LVQUDIL6C4FNQBQ/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7SCGUI2FGAW5PWXSUWZP2AWLBEIFR6TEXHNVISZMEV6PTFHHA4IA/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7SIHDDQ63DCLWXTU4IHMYKWAYB5VKP7PPVKP6NCQJYFIF3HTG2MA/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/I5MYOJURAUADJP2XVTU23HCFBK5GY22I6SFM64QPABKUNZWO7QHQ/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KKPT4XPT4WO6GLSAI3FIRAZJ2QUWN7K5PJOTKQSN6R5CVKT4KPAA/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XPSTLWX4Y7XBZHD5YHTJ7ZZRKINNTKN32Q73WLNBQDF5NEL2XCHQ/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZDT4VRUQEB2LBADNVONUFDVI5PKRQF23BXQVKANTCS52JNMRKONQ/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3IGVOFOL447LOKCMWOA3LJPV7AJLZC3VL26LYNL3UBVNQMAQWZZQ/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5NUAHQSXMI35THDBYTJMHTURAWEMOTFSWMZ4NGUCGGC2BIIRJFQA/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/A3PA5DQMQYMH6VJJTZVOZMSRBTXZTBPH2S7VJPWOMSBOK7B247WQ/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/G756YVQHQKJJUKBESXOV6PEGW3MWUOD2JNJUBQP2MHXP24ZENXVQ/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NWLRH655TZGIG3UYCBSGRJMQAKNYVFG3QWHFTWYWE5PHRGCC2GYA/3459.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U36UQC6Z5DO6C633JNW7GXS573MMS3V6O4QTKMOK63YO5NOP22MA/1869.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YLBUZZJPTUYP7FWWXD74OPOEHQY2FFB5BSJ6OEX72BTBK5TZSSQ/1869.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25YIURSX7FP7KEPNBN3C6RCB645PHXQJCQJWPA33LHZGI7K6TIKQ/1869.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6WPUGNJONLNASLQOMTXOCUVNJ2GQHD7RDUXZB7O2MOHL25UF5UQ/1869.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCPYJF7ZDMY4MAGY3GXBVR5HQN7MIO553NKTTFNRUWV2R4APICYA/6634.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3XPWUHTY5VKJY5AP5W75KT4OOJTWQ3NYG7Y3INYUUPQCNOAORSQ/6634.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXM3FGI7AMBTKCD23QEHBX5YNS3EMZSUX4ZEJF63HSYLYIOO3W3A/6634.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5YNOFQ6QBBBCPJEMX7ZR4WCZXFYMTYV2ZJOZE3FGF4APVFPASJQ/555.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKUYY3SPS3YOKAXPPMEFTRKL647XINTUOP7WKOOM6ZMHCLIQUKDQ/6634.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LQJQ6AEATTAWKHOBZPJ7JS3HAYA3KCLR7YXN374FUZMVRG2DUYYQ/4545.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVAT2FZ3IAXIZ5VZGO2C2RZX5VSKGFB36YLRJZDGOPHSFLKLOGLA/4545.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5H2G5TPBAUTVC3B2TQ4GSDGALGW6VBJYZRVIIYAYFALJSN2SMMA/4545.js"
            ]
        },
        "GetGraphInfo": {
            "http": {
                "requestUri": "/graph/info"
            },
            "input": {
                "shape": "S1l"
            },
            "output": {
                "type": "structure",
                "required": [
                    "shardCount",
                    "name",
                    "accountId",
                    "isDeleted"
                ],
                "members": {
                    "backedByMssTable": {
                        "type": "boolean"
                    },
                    "shardCount": {
                        "type": "integer"
                    },
                    "name": {},
                    "accountId": {},
                    "creationTime": {
                        "type": "long"
                    },
                    "isDeleted": {
                        "type": "boolean"
                    },
                    "isSuspended": {
                        "type": "boolean"
                    },
                    "deletionTime": {
                        "type": "long"
                    },
                    "suspensionTime": {
                        "type": "long"
                    },
                    "ingestState": {},
                    "metadata": {
                        "type": "map",
                        "key": {},
                        "value": {}
                    },
                    "organizationAdmin": {},
                    "datasourcePackages": {
                        "type": "map",
                        "key": {},
                        "value": {}
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/HYKFYT7IFNJKXWXTJEMZAU32SXOOY5BS7BNE5LVQUDIL6C4FNQBQ/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7SCGUI2FGAW5PWXSUWZP2AWLBEIFR6TEXHNVISZMEV6PTFHHA4IA/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7SIHDDQ63DCLWXTU4IHMYKWAYB5VKP7PPVKP6NCQJYFIF3HTG2MA/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/I5MYOJURAUADJP2XVTU23HCFBK5GY22I6SFM64QPABKUNZWO7QHQ/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KKPT4XPT4WO6GLSAI3FIRAZJ2QUWN7K5PJOTKQSN6R5CVKT4KPAA/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XPSTLWX4Y7XBZHD5YHTJ7ZZRKINNTKN32Q73WLNBQDF5NEL2XCHQ/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZDT4VRUQEB2LBADNVONUFDVI5PKRQF23BXQVKANTCS52JNMRKONQ/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3IGVOFOL447LOKCMWOA3LJPV7AJLZC3VL26LYNL3UBVNQMAQWZZQ/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5NUAHQSXMI35THDBYTJMHTURAWEMOTFSWMZ4NGUCGGC2BIIRJFQA/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/A3PA5DQMQYMH6VJJTZVOZMSRBTXZTBPH2S7VJPWOMSBOK7B247WQ/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/G756YVQHQKJJUKBESXOV6PEGW3MWUOD2JNJUBQP2MHXP24ZENXVQ/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NWLRH655TZGIG3UYCBSGRJMQAKNYVFG3QWHFTWYWE5PHRGCC2GYA/3459.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U36UQC6Z5DO6C633JNW7GXS573MMS3V6O4QTKMOK63YO5NOP22MA/1869.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YLBUZZJPTUYP7FWWXD74OPOEHQY2FFB5BSJ6OEX72BTBK5TZSSQ/1869.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25YIURSX7FP7KEPNBN3C6RCB645PHXQJCQJWPA33LHZGI7K6TIKQ/1869.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6WPUGNJONLNASLQOMTXOCUVNJ2GQHD7RDUXZB7O2MOHL25UF5UQ/1869.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCPYJF7ZDMY4MAGY3GXBVR5HQN7MIO553NKTTFNRUWV2R4APICYA/6634.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3XPWUHTY5VKJY5AP5W75KT4OOJTWQ3NYG7Y3INYUUPQCNOAORSQ/6634.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXM3FGI7AMBTKCD23QEHBX5YNS3EMZSUX4ZEJF63HSYLYIOO3W3A/6634.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5YNOFQ6QBBBCPJEMX7ZR4WCZXFYMTYV2ZJOZE3FGF4APVFPASJQ/555.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKUYY3SPS3YOKAXPPMEFTRKL647XINTUOP7WKOOM6ZMHCLIQUKDQ/6634.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LQJQ6AEATTAWKHOBZPJ7JS3HAYA3KCLR7YXN374FUZMVRG2DUYYQ/4545.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVAT2FZ3IAXIZ5VZGO2C2RZX5VSKGFB36YLRJZDGOPHSFLKLOGLA/4545.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5H2G5TPBAUTVC3B2TQ4GSDGALGW6VBJYZRVIIYAYFALJSN2SMMA/4545.js"
            ]
        },
        "GetMembers": {
            "http": {
                "requestUri": "/graph/members/get"
            },
            "input": {
                "type": "structure",
                "required": [
                    "GraphArn",
                    "AccountIds"
                ],
                "members": {
                    "GraphArn": {},
                    "AccountIds": {
                        "shape": "S5"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "MemberDetails": {
                        "shape": "S1a"
                    },
                    "UnprocessedAccounts": {
                        "shape": "Sj"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/HYKFYT7IFNJKXWXTJEMZAU32SXOOY5BS7BNE5LVQUDIL6C4FNQBQ/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7SCGUI2FGAW5PWXSUWZP2AWLBEIFR6TEXHNVISZMEV6PTFHHA4IA/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7SIHDDQ63DCLWXTU4IHMYKWAYB5VKP7PPVKP6NCQJYFIF3HTG2MA/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/I5MYOJURAUADJP2XVTU23HCFBK5GY22I6SFM64QPABKUNZWO7QHQ/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KKPT4XPT4WO6GLSAI3FIRAZJ2QUWN7K5PJOTKQSN6R5CVKT4KPAA/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XPSTLWX4Y7XBZHD5YHTJ7ZZRKINNTKN32Q73WLNBQDF5NEL2XCHQ/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZDT4VRUQEB2LBADNVONUFDVI5PKRQF23BXQVKANTCS52JNMRKONQ/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3IGVOFOL447LOKCMWOA3LJPV7AJLZC3VL26LYNL3UBVNQMAQWZZQ/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5NUAHQSXMI35THDBYTJMHTURAWEMOTFSWMZ4NGUCGGC2BIIRJFQA/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/A3PA5DQMQYMH6VJJTZVOZMSRBTXZTBPH2S7VJPWOMSBOK7B247WQ/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/G756YVQHQKJJUKBESXOV6PEGW3MWUOD2JNJUBQP2MHXP24ZENXVQ/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NWLRH655TZGIG3UYCBSGRJMQAKNYVFG3QWHFTWYWE5PHRGCC2GYA/3459.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U36UQC6Z5DO6C633JNW7GXS573MMS3V6O4QTKMOK63YO5NOP22MA/1869.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YLBUZZJPTUYP7FWWXD74OPOEHQY2FFB5BSJ6OEX72BTBK5TZSSQ/1869.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25YIURSX7FP7KEPNBN3C6RCB645PHXQJCQJWPA33LHZGI7K6TIKQ/1869.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6WPUGNJONLNASLQOMTXOCUVNJ2GQHD7RDUXZB7O2MOHL25UF5UQ/1869.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCPYJF7ZDMY4MAGY3GXBVR5HQN7MIO553NKTTFNRUWV2R4APICYA/6634.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3XPWUHTY5VKJY5AP5W75KT4OOJTWQ3NYG7Y3INYUUPQCNOAORSQ/6634.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXM3FGI7AMBTKCD23QEHBX5YNS3EMZSUX4ZEJF63HSYLYIOO3W3A/6634.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5YNOFQ6QBBBCPJEMX7ZR4WCZXFYMTYV2ZJOZE3FGF4APVFPASJQ/555.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKUYY3SPS3YOKAXPPMEFTRKL647XINTUOP7WKOOM6ZMHCLIQUKDQ/6634.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LQJQ6AEATTAWKHOBZPJ7JS3HAYA3KCLR7YXN374FUZMVRG2DUYYQ/4545.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVAT2FZ3IAXIZ5VZGO2C2RZX5VSKGFB36YLRJZDGOPHSFLKLOGLA/4545.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5H2G5TPBAUTVC3B2TQ4GSDGALGW6VBJYZRVIIYAYFALJSN2SMMA/4545.js"
            ]
        },
        "GetMembersInternal": {
            "http": {
                "requestUri": "/internal/graph/members/get"
            },
            "input": {
                "type": "structure",
                "required": [
                    "GraphArn",
                    "AccountIds"
                ],
                "members": {
                    "GraphArn": {},
                    "AccountIds": {
                        "shape": "S5"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "MemberDetails": {
                        "shape": "S2b"
                    },
                    "UnprocessedAccounts": {
                        "shape": "Sj"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/HYKFYT7IFNJKXWXTJEMZAU32SXOOY5BS7BNE5LVQUDIL6C4FNQBQ/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7SCGUI2FGAW5PWXSUWZP2AWLBEIFR6TEXHNVISZMEV6PTFHHA4IA/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7SIHDDQ63DCLWXTU4IHMYKWAYB5VKP7PPVKP6NCQJYFIF3HTG2MA/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/I5MYOJURAUADJP2XVTU23HCFBK5GY22I6SFM64QPABKUNZWO7QHQ/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KKPT4XPT4WO6GLSAI3FIRAZJ2QUWN7K5PJOTKQSN6R5CVKT4KPAA/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XPSTLWX4Y7XBZHD5YHTJ7ZZRKINNTKN32Q73WLNBQDF5NEL2XCHQ/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZDT4VRUQEB2LBADNVONUFDVI5PKRQF23BXQVKANTCS52JNMRKONQ/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3IGVOFOL447LOKCMWOA3LJPV7AJLZC3VL26LYNL3UBVNQMAQWZZQ/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5NUAHQSXMI35THDBYTJMHTURAWEMOTFSWMZ4NGUCGGC2BIIRJFQA/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/A3PA5DQMQYMH6VJJTZVOZMSRBTXZTBPH2S7VJPWOMSBOK7B247WQ/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/G756YVQHQKJJUKBESXOV6PEGW3MWUOD2JNJUBQP2MHXP24ZENXVQ/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NWLRH655TZGIG3UYCBSGRJMQAKNYVFG3QWHFTWYWE5PHRGCC2GYA/3459.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U36UQC6Z5DO6C633JNW7GXS573MMS3V6O4QTKMOK63YO5NOP22MA/1869.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YLBUZZJPTUYP7FWWXD74OPOEHQY2FFB5BSJ6OEX72BTBK5TZSSQ/1869.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25YIURSX7FP7KEPNBN3C6RCB645PHXQJCQJWPA33LHZGI7K6TIKQ/1869.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6WPUGNJONLNASLQOMTXOCUVNJ2GQHD7RDUXZB7O2MOHL25UF5UQ/1869.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCPYJF7ZDMY4MAGY3GXBVR5HQN7MIO553NKTTFNRUWV2R4APICYA/6634.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3XPWUHTY5VKJY5AP5W75KT4OOJTWQ3NYG7Y3INYUUPQCNOAORSQ/6634.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXM3FGI7AMBTKCD23QEHBX5YNS3EMZSUX4ZEJF63HSYLYIOO3W3A/6634.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5YNOFQ6QBBBCPJEMX7ZR4WCZXFYMTYV2ZJOZE3FGF4APVFPASJQ/555.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKUYY3SPS3YOKAXPPMEFTRKL647XINTUOP7WKOOM6ZMHCLIQUKDQ/6634.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LQJQ6AEATTAWKHOBZPJ7JS3HAYA3KCLR7YXN374FUZMVRG2DUYYQ/4545.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVAT2FZ3IAXIZ5VZGO2C2RZX5VSKGFB36YLRJZDGOPHSFLKLOGLA/4545.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5H2G5TPBAUTVC3B2TQ4GSDGALGW6VBJYZRVIIYAYFALJSN2SMMA/4545.js"
            ]
        },
        "GetMembersInternalV2": {
            "http": {
                "requestUri": "/internal/graph/members/get/v2"
            },
            "input": {
                "type": "structure",
                "required": [
                    "GraphArn",
                    "AccountIds"
                ],
                "members": {
                    "GraphArn": {},
                    "AccountIds": {
                        "shape": "S5"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "MemberDetails": {
                        "shape": "S2h"
                    },
                    "UnprocessedAccounts": {
                        "shape": "Sj"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/HYKFYT7IFNJKXWXTJEMZAU32SXOOY5BS7BNE5LVQUDIL6C4FNQBQ/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7SCGUI2FGAW5PWXSUWZP2AWLBEIFR6TEXHNVISZMEV6PTFHHA4IA/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7SIHDDQ63DCLWXTU4IHMYKWAYB5VKP7PPVKP6NCQJYFIF3HTG2MA/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/I5MYOJURAUADJP2XVTU23HCFBK5GY22I6SFM64QPABKUNZWO7QHQ/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KKPT4XPT4WO6GLSAI3FIRAZJ2QUWN7K5PJOTKQSN6R5CVKT4KPAA/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XPSTLWX4Y7XBZHD5YHTJ7ZZRKINNTKN32Q73WLNBQDF5NEL2XCHQ/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZDT4VRUQEB2LBADNVONUFDVI5PKRQF23BXQVKANTCS52JNMRKONQ/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3IGVOFOL447LOKCMWOA3LJPV7AJLZC3VL26LYNL3UBVNQMAQWZZQ/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5NUAHQSXMI35THDBYTJMHTURAWEMOTFSWMZ4NGUCGGC2BIIRJFQA/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/A3PA5DQMQYMH6VJJTZVOZMSRBTXZTBPH2S7VJPWOMSBOK7B247WQ/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/G756YVQHQKJJUKBESXOV6PEGW3MWUOD2JNJUBQP2MHXP24ZENXVQ/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NWLRH655TZGIG3UYCBSGRJMQAKNYVFG3QWHFTWYWE5PHRGCC2GYA/3459.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U36UQC6Z5DO6C633JNW7GXS573MMS3V6O4QTKMOK63YO5NOP22MA/1869.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YLBUZZJPTUYP7FWWXD74OPOEHQY2FFB5BSJ6OEX72BTBK5TZSSQ/1869.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25YIURSX7FP7KEPNBN3C6RCB645PHXQJCQJWPA33LHZGI7K6TIKQ/1869.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6WPUGNJONLNASLQOMTXOCUVNJ2GQHD7RDUXZB7O2MOHL25UF5UQ/1869.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCPYJF7ZDMY4MAGY3GXBVR5HQN7MIO553NKTTFNRUWV2R4APICYA/6634.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3XPWUHTY5VKJY5AP5W75KT4OOJTWQ3NYG7Y3INYUUPQCNOAORSQ/6634.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXM3FGI7AMBTKCD23QEHBX5YNS3EMZSUX4ZEJF63HSYLYIOO3W3A/6634.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5YNOFQ6QBBBCPJEMX7ZR4WCZXFYMTYV2ZJOZE3FGF4APVFPASJQ/555.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKUYY3SPS3YOKAXPPMEFTRKL647XINTUOP7WKOOM6ZMHCLIQUKDQ/6634.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LQJQ6AEATTAWKHOBZPJ7JS3HAYA3KCLR7YXN374FUZMVRG2DUYYQ/4545.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVAT2FZ3IAXIZ5VZGO2C2RZX5VSKGFB36YLRJZDGOPHSFLKLOGLA/4545.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5H2G5TPBAUTVC3B2TQ4GSDGALGW6VBJYZRVIIYAYFALJSN2SMMA/4545.js"
            ]
        },
        "ListAllGraphs": {
            "http": {
                "method": "GET",
                "requestUri": "/graphs/all"
            },
            "input": {
                "type": "structure",
                "members": {
                    "includeDeleted": {
                        "location": "querystring",
                        "locationName": "includeDeleted",
                        "type": "boolean"
                    },
                    "masterAccount": {
                        "location": "querystring",
                        "locationName": "masterAccount"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "graphNameIdList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "name": {},
                                "arn": {},
                                "graphId": {},
                                "masterAccount": {},
                                "shardCount": {
                                    "type": "integer"
                                },
                                "ingestState": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/HYKFYT7IFNJKXWXTJEMZAU32SXOOY5BS7BNE5LVQUDIL6C4FNQBQ/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7SCGUI2FGAW5PWXSUWZP2AWLBEIFR6TEXHNVISZMEV6PTFHHA4IA/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7SIHDDQ63DCLWXTU4IHMYKWAYB5VKP7PPVKP6NCQJYFIF3HTG2MA/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/I5MYOJURAUADJP2XVTU23HCFBK5GY22I6SFM64QPABKUNZWO7QHQ/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KKPT4XPT4WO6GLSAI3FIRAZJ2QUWN7K5PJOTKQSN6R5CVKT4KPAA/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XPSTLWX4Y7XBZHD5YHTJ7ZZRKINNTKN32Q73WLNBQDF5NEL2XCHQ/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZDT4VRUQEB2LBADNVONUFDVI5PKRQF23BXQVKANTCS52JNMRKONQ/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3IGVOFOL447LOKCMWOA3LJPV7AJLZC3VL26LYNL3UBVNQMAQWZZQ/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5NUAHQSXMI35THDBYTJMHTURAWEMOTFSWMZ4NGUCGGC2BIIRJFQA/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/A3PA5DQMQYMH6VJJTZVOZMSRBTXZTBPH2S7VJPWOMSBOK7B247WQ/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/G756YVQHQKJJUKBESXOV6PEGW3MWUOD2JNJUBQP2MHXP24ZENXVQ/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NWLRH655TZGIG3UYCBSGRJMQAKNYVFG3QWHFTWYWE5PHRGCC2GYA/3459.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U36UQC6Z5DO6C633JNW7GXS573MMS3V6O4QTKMOK63YO5NOP22MA/1869.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YLBUZZJPTUYP7FWWXD74OPOEHQY2FFB5BSJ6OEX72BTBK5TZSSQ/1869.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25YIURSX7FP7KEPNBN3C6RCB645PHXQJCQJWPA33LHZGI7K6TIKQ/1869.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6WPUGNJONLNASLQOMTXOCUVNJ2GQHD7RDUXZB7O2MOHL25UF5UQ/1869.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCPYJF7ZDMY4MAGY3GXBVR5HQN7MIO553NKTTFNRUWV2R4APICYA/6634.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3XPWUHTY5VKJY5AP5W75KT4OOJTWQ3NYG7Y3INYUUPQCNOAORSQ/6634.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXM3FGI7AMBTKCD23QEHBX5YNS3EMZSUX4ZEJF63HSYLYIOO3W3A/6634.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5YNOFQ6QBBBCPJEMX7ZR4WCZXFYMTYV2ZJOZE3FGF4APVFPASJQ/555.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKUYY3SPS3YOKAXPPMEFTRKL647XINTUOP7WKOOM6ZMHCLIQUKDQ/6634.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LQJQ6AEATTAWKHOBZPJ7JS3HAYA3KCLR7YXN374FUZMVRG2DUYYQ/4545.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVAT2FZ3IAXIZ5VZGO2C2RZX5VSKGFB36YLRJZDGOPHSFLKLOGLA/4545.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5H2G5TPBAUTVC3B2TQ4GSDGALGW6VBJYZRVIIYAYFALJSN2SMMA/4545.js"
            ]
        },
        "ListAllGraphsV2": {
            "http": {
                "requestUri": "/graphs/all/v2"
            },
            "input": {
                "type": "structure",
                "members": {
                    "IncludeNonActive": {
                        "type": "boolean"
                    },
                    "MasterAccount": {},
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "GraphList": {
                        "shape": "S2r"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/HYKFYT7IFNJKXWXTJEMZAU32SXOOY5BS7BNE5LVQUDIL6C4FNQBQ/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7SCGUI2FGAW5PWXSUWZP2AWLBEIFR6TEXHNVISZMEV6PTFHHA4IA/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7SIHDDQ63DCLWXTU4IHMYKWAYB5VKP7PPVKP6NCQJYFIF3HTG2MA/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/I5MYOJURAUADJP2XVTU23HCFBK5GY22I6SFM64QPABKUNZWO7QHQ/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KKPT4XPT4WO6GLSAI3FIRAZJ2QUWN7K5PJOTKQSN6R5CVKT4KPAA/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XPSTLWX4Y7XBZHD5YHTJ7ZZRKINNTKN32Q73WLNBQDF5NEL2XCHQ/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZDT4VRUQEB2LBADNVONUFDVI5PKRQF23BXQVKANTCS52JNMRKONQ/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3IGVOFOL447LOKCMWOA3LJPV7AJLZC3VL26LYNL3UBVNQMAQWZZQ/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5NUAHQSXMI35THDBYTJMHTURAWEMOTFSWMZ4NGUCGGC2BIIRJFQA/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/A3PA5DQMQYMH6VJJTZVOZMSRBTXZTBPH2S7VJPWOMSBOK7B247WQ/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/G756YVQHQKJJUKBESXOV6PEGW3MWUOD2JNJUBQP2MHXP24ZENXVQ/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NWLRH655TZGIG3UYCBSGRJMQAKNYVFG3QWHFTWYWE5PHRGCC2GYA/3459.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U36UQC6Z5DO6C633JNW7GXS573MMS3V6O4QTKMOK63YO5NOP22MA/1869.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YLBUZZJPTUYP7FWWXD74OPOEHQY2FFB5BSJ6OEX72BTBK5TZSSQ/1869.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25YIURSX7FP7KEPNBN3C6RCB645PHXQJCQJWPA33LHZGI7K6TIKQ/1869.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6WPUGNJONLNASLQOMTXOCUVNJ2GQHD7RDUXZB7O2MOHL25UF5UQ/1869.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCPYJF7ZDMY4MAGY3GXBVR5HQN7MIO553NKTTFNRUWV2R4APICYA/6634.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3XPWUHTY5VKJY5AP5W75KT4OOJTWQ3NYG7Y3INYUUPQCNOAORSQ/6634.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXM3FGI7AMBTKCD23QEHBX5YNS3EMZSUX4ZEJF63HSYLYIOO3W3A/6634.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5YNOFQ6QBBBCPJEMX7ZR4WCZXFYMTYV2ZJOZE3FGF4APVFPASJQ/555.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKUYY3SPS3YOKAXPPMEFTRKL647XINTUOP7WKOOM6ZMHCLIQUKDQ/6634.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LQJQ6AEATTAWKHOBZPJ7JS3HAYA3KCLR7YXN374FUZMVRG2DUYYQ/4545.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVAT2FZ3IAXIZ5VZGO2C2RZX5VSKGFB36YLRJZDGOPHSFLKLOGLA/4545.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5H2G5TPBAUTVC3B2TQ4GSDGALGW6VBJYZRVIIYAYFALJSN2SMMA/4545.js"
            ]
        },
        "ListAllMembershipsInternal": {
            "http": {
                "requestUri": "/internal/members/list"
            },
            "input": {
                "type": "structure",
                "required": [
                    "AccountId"
                ],
                "members": {
                    "AccountId": {},
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "MemberDetails": {
                        "shape": "S1a"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/HYKFYT7IFNJKXWXTJEMZAU32SXOOY5BS7BNE5LVQUDIL6C4FNQBQ/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7SCGUI2FGAW5PWXSUWZP2AWLBEIFR6TEXHNVISZMEV6PTFHHA4IA/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7SIHDDQ63DCLWXTU4IHMYKWAYB5VKP7PPVKP6NCQJYFIF3HTG2MA/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/I5MYOJURAUADJP2XVTU23HCFBK5GY22I6SFM64QPABKUNZWO7QHQ/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KKPT4XPT4WO6GLSAI3FIRAZJ2QUWN7K5PJOTKQSN6R5CVKT4KPAA/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XPSTLWX4Y7XBZHD5YHTJ7ZZRKINNTKN32Q73WLNBQDF5NEL2XCHQ/2806.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZDT4VRUQEB2LBADNVONUFDVI5PKRQF23BXQVKANTCS52JNMRKONQ/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3IGVOFOL447LOKCMWOA3LJPV7AJLZC3VL26LYNL3UBVNQMAQWZZQ/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5NUAHQSXMI35THDBYTJMHTURAWEMOTFSWMZ4NGUCGGC2BIIRJFQA/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/A3PA5DQMQYMH6VJJTZVOZMSRBTXZTBPH2S7VJPWOMSBOK7B247WQ/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/G756YVQHQKJJUKBESXOV6PEGW3MWUOD2JNJUBQP2MHXP24ZENXVQ/9383.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NWLRH655TZGIG3UYCBSGRJMQAKNYVFG3QWHFTWYWE5PHRGCC2GYA/3459.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U36UQC6Z5DO6C633JNW7GXS573MMS3V6O4QTKMOK63YO5NOP22MA/1869.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YLBUZZJPTUYP7FWWXD74OPOEHQY2FFB5BSJ6OEX72BTBK5TZSSQ/1869.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25YIURSX7FP7KEPNBN3C6RCB645PHXQJCQJWPA33LHZGI7K6TIKQ/1869.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6WPUGNJONLNASLQOMTXOCUVNJ2GQHD7RDUXZB7O2MOHL25UF5UQ/1869.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCPYJF7ZDMY4MAGY3GXBVR5HQN7MIO553NKTTFNRUWV2R4APICYA/6634.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3XPWUHTY5VKJY5AP5W75KT4OOJTWQ3NYG7Y3INYUUPQCNOAORSQ/6634.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXM3FGI7AMBTKCD23QEHBX5YNS3EMZSUX4ZEJF63HSYLYIOO3W3A/6634.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5YNOFQ6QBBBCPJEMX7ZR4WCZXFYMTYV2ZJOZE3FGF4APVFPASJQ/555.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKUYY3SPS3YOKAXPPMEFTRKL647XINTUOP7WKOOM6ZMHCLIQUKDQ/6634.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LQJQ6AEATTAWKHOBZPJ7JS3HAYA3KCLR7YXN374FUZMVRG2DUYYQ/4545.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVAT2FZ3IAXIZ5VZGO2C2RZX5VSKGFB36YLRJZDGOPHSFLKLOGLA/4545.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5H2G5TPBAUTVC3B2TQ4GSDGALGW6VBJYZRVIIYAYFALJSN2SMMA/4545.js"
            ]
        },
        "ListCustomerAccountsInternal": {
            "http": {
                "requestUri": "/customerAccounts/list"
            },
            "input": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "ItemStatesToInclude": {
                        "shape": "S2w"
                    },
                    "MemberStatus": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Accounts": {
                        "shape": "S2b"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/SGLMHCIS3PYD3VF4J6R6JAMO37QWGNTWQ53MNZO2HEHIARRR5RMA/6533.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W7PIQWDAJ67GYF5F5QANYVW7D7KGZC3F7YJLFGCCVP3BM2VPGEGA/6533.js"
            ]
        },
        "ListCustomerAccountsInternalV2": {
            "http": {
                "requestUri": "/customerAccounts/list/v2"
            },
            "input": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "ItemStatesToInclude": {
                        "shape": "S2w"
                    },
                    "MemberStatus": {},
                    "DatasourcePackagesToInclude": {
                        "shape": "S11"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Accounts": {
                        "shape": "S2h"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/SGLMHCIS3PYD3VF4J6R6JAMO37QWGNTWQ53MNZO2HEHIARRR5RMA/6533.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W7PIQWDAJ67GYF5F5QANYVW7D7KGZC3F7YJLFGCCVP3BM2VPGEGA/6533.js"
            ]
        },
        "ListCustomerAccountsInternalV3": {
            "http": {
                "requestUri": "/customerAccounts/list/v3"
            },
            "input": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "ItemStatesToInclude": {
[...]
