{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2017-07-25",
        "endpointPrefix": "MoroccoAnalytics",
        "protocol": "rest-json",
        "serviceAbbreviation": "Morocco Analytics",
        "serviceFullName": "Morocco Analytics",
        "serviceId": "MoroccoAnalytics",
        "signatureVersion": "v4",
        "signingName": "detective",
        "uid": "moroccoanalyticsapis-2017-07-25",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/FY5L774XIZZ6ZFHRALIMOIU6LVBL7VF4HR6BFCBLRURMMKN7C4LQ/9960.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5XFN34HPOCEBO74S3TXIQYVPA5V7SFZX4LLPWKABSVIRJOIODAUQ/9960.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MLIAJQUKBEOSWXX2MSY2A4ZSXKGQ44E3TPOIUT235NV2FFIUQB6A/9960.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TG66G4WGB74NK33ZAKGKQ45N6QAGCOTLOVM7UG7JLHCKHJLSAXBQ/9960.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/66F43WSJ3A4UQVCH4QKT3Z2HGHE6V3PVTNGQZPLL2JZAC37BQJDQ/9960.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XSP2KUT7TXEW7ADIVBZ7QUSIWFAMIL6WKKPRAJOL6SECMCLLFX7A/6043.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HJZSWG22IAOXL4V2ECINILAVKK7OA3GBWPA4MDAGDAKEEOL7MD4Q/6043.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HJ4GQOUKZOLJTDCN54OI7NS7E2V2AFKJDLXYUN4GD6QFW7DBSMRQ/6043.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FUW4L36CMNV4ZPQDJEC7BLM4LIA3IAPECFKKVIO4LE2HS2QX6FRA/4951.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/V7UYM6RCJOH6GKNT4W5XXLZ5BA7LCLRFC7JLTN6N6PYMN6MG6KBA/9649.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QQ5MRCWELDE3NOM4GZL5M27YJAE2TLU5IRGOBERVFLNXK6UJ7LOQ/9649.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CMMGDGYYTZEXTDDMZX2QKMQ62CWBK26RD6VP4FCHEYFQOGFLETWQ/9649.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PKTWSBFKFUIQSAIG4ZE3ARCN7FX3MDNXPHOPV2IZZZERHKGMZS5Q/4661.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JBW5EC75UU7IWD5VNRHR6YDEHQMPDKAUHPVDTP67JE2RTCKUE7UA/4661.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/URWGOOVSEMOSKSAGZ6R6KMA6EE3LYEDR3GBCXISOCTTW6MVIY5XA/4661.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HA336UYOOV5V5ZFKMKP6UDI6YTTKQZT23QMWR4B6YKGLFIAV4SIQ/4661.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7NHL72MB6EG4QNC5B3A7CPN6EJVTLKGQQTUIXEWPZGOLPAUTAGKQ/4661.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/D6DFZT535XOH4CZSMGX2XAPMWLJ2CLY2LORYPIA5WL2EKSOR4AVA/3048.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TTQYMVJ57YWA74R75JUAQ654IIFF2ZURB7CEYOXLUXO6RXHV6I3Q/6015.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4YI2NDYGYXBFQJRE2SYBD2K2G46NU5F2MOXL3Z7OT62IST65BDZQ/8152.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4OR2K2UQFXX7QRDKJB4NXTNECNNMFRNGUMMXMMQGR7UY2SQQ5SIQ/4657.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NONHN33GJKLHO6ABEBZ3NDU4OK72TVRZPDETV3T4PWMONMPHD33Q/9158.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/F5GUMTDJ32KO2RYQ6A2C26GHQ77VDIJ3YJQ3UN7FO2ZINI6Z7ADA/9158.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Q46F3BP6CGCRELEYIAHKMSWFO7T6FPSYFISWPHZPIUOFIZZHO6VA/9060.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/X5OE5KHWHOAGHHHXKUSXJ3IENC5RH37W27GFEMEGWPMBJN7C37BQ/4533.js"
        ]
    },
    "operations": {
        "GetInvestigation": {
            "http": {
                "requestUri": "/investigations/getInvestigation"
            },
            "input": {
                "type": "structure",
                "required": [
                    "GraphArn",
                    "InvestigationId"
                ],
                "members": {
                    "GraphArn": {},
                    "InvestigationId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "GraphArn": {},
                    "InvestigationId": {},
                    "EntityArn": {},
                    "EntityType": {},
                    "CreatedTime": {
                        "shape": "S7"
                    },
                    "ScopeStartTime": {
                        "shape": "S7"
                    },
                    "ScopeEndTime": {
                        "shape": "S7"
                    },
                    "Status": {},
                    "Severity": {},
                    "State": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FY5L774XIZZ6ZFHRALIMOIU6LVBL7VF4HR6BFCBLRURMMKN7C4LQ/9960.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XFN34HPOCEBO74S3TXIQYVPA5V7SFZX4LLPWKABSVIRJOIODAUQ/9960.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLIAJQUKBEOSWXX2MSY2A4ZSXKGQ44E3TPOIUT235NV2FFIUQB6A/9960.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TG66G4WGB74NK33ZAKGKQ45N6QAGCOTLOVM7UG7JLHCKHJLSAXBQ/9960.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66F43WSJ3A4UQVCH4QKT3Z2HGHE6V3PVTNGQZPLL2JZAC37BQJDQ/9960.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XSP2KUT7TXEW7ADIVBZ7QUSIWFAMIL6WKKPRAJOL6SECMCLLFX7A/6043.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJZSWG22IAOXL4V2ECINILAVKK7OA3GBWPA4MDAGDAKEEOL7MD4Q/6043.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ4GQOUKZOLJTDCN54OI7NS7E2V2AFKJDLXYUN4GD6QFW7DBSMRQ/6043.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FUW4L36CMNV4ZPQDJEC7BLM4LIA3IAPECFKKVIO4LE2HS2QX6FRA/4951.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7UYM6RCJOH6GKNT4W5XXLZ5BA7LCLRFC7JLTN6N6PYMN6MG6KBA/9649.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQ5MRCWELDE3NOM4GZL5M27YJAE2TLU5IRGOBERVFLNXK6UJ7LOQ/9649.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMMGDGYYTZEXTDDMZX2QKMQ62CWBK26RD6VP4FCHEYFQOGFLETWQ/9649.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PKTWSBFKFUIQSAIG4ZE3ARCN7FX3MDNXPHOPV2IZZZERHKGMZS5Q/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBW5EC75UU7IWD5VNRHR6YDEHQMPDKAUHPVDTP67JE2RTCKUE7UA/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URWGOOVSEMOSKSAGZ6R6KMA6EE3LYEDR3GBCXISOCTTW6MVIY5XA/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HA336UYOOV5V5ZFKMKP6UDI6YTTKQZT23QMWR4B6YKGLFIAV4SIQ/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NHL72MB6EG4QNC5B3A7CPN6EJVTLKGQQTUIXEWPZGOLPAUTAGKQ/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6DFZT535XOH4CZSMGX2XAPMWLJ2CLY2LORYPIA5WL2EKSOR4AVA/3048.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTQYMVJ57YWA74R75JUAQ654IIFF2ZURB7CEYOXLUXO6RXHV6I3Q/6015.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YI2NDYGYXBFQJRE2SYBD2K2G46NU5F2MOXL3Z7OT62IST65BDZQ/8152.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OR2K2UQFXX7QRDKJB4NXTNECNNMFRNGUMMXMMQGR7UY2SQQ5SIQ/4657.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NONHN33GJKLHO6ABEBZ3NDU4OK72TVRZPDETV3T4PWMONMPHD33Q/9158.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F5GUMTDJ32KO2RYQ6A2C26GHQ77VDIJ3YJQ3UN7FO2ZINI6Z7ADA/9158.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q46F3BP6CGCRELEYIAHKMSWFO7T6FPSYFISWPHZPIUOFIZZHO6VA/9060.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5OE5KHWHOAGHHHXKUSXJ3IENC5RH37W27GFEMEGWPMBJN7C37BQ/4533.js"
            ]
        },
        "ListIndicators": {
            "http": {
                "requestUri": "/investigations/listIndicators"
            },
            "input": {
                "type": "structure",
                "required": [
                    "GraphArn",
                    "InvestigationId"
                ],
                "members": {
                    "GraphArn": {},
                    "InvestigationId": {},
                    "IndicatorType": {},
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "GraphArn": {},
                    "InvestigationId": {},
                    "NextToken": {},
                    "Indicators": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "IndicatorType": {},
                                "IndicatorDetail": {
                                    "type": "structure",
                                    "members": {
                                        "TTPsObservedDetail": {
                                            "type": "structure",
                                            "members": {
                                                "Tactic": {},
                                                "Technique": {},
                                                "Procedure": {},
                                                "IpAddress": {},
                                                "APIName": {},
                                                "APISuccessCount": {
                                                    "type": "long"
                                                },
                                                "APIFailureCount": {
                                                    "type": "long"
                                                }
                                            }
                                        },
                                        "ImpossibleTravelDetail": {
                                            "type": "structure",
                                            "members": {
                                                "StartingIpAddress": {},
                                                "EndingIpAddress": {},
                                                "StartingLocation": {},
                                                "EndingLocation": {},
                                                "HourlyTimeDelta": {
                                                    "type": "integer"
                                                }
                                            }
                                        },
                                        "FlaggedIpAddressDetail": {
                                            "type": "structure",
                                            "members": {
                                                "IpAddress": {},
                                                "Reason": {}
                                            }
                                        },
                                        "NewGeolocationDetail": {
                                            "type": "structure",
                                            "members": {
                                                "Location": {},
                                                "IpAddress": {},
                                                "IsNewForEntireAccount": {
                                                    "type": "boolean"
                                                }
                                            }
                                        },
                                        "NewAsoDetail": {
                                            "type": "structure",
                                            "members": {
                                                "Aso": {},
                                                "IsNewForEntireAccount": {
                                                    "type": "boolean"
                                                }
                                            }
                                        },
                                        "NewUserAgentDetail": {
                                            "type": "structure",
                                            "members": {
                                                "UserAgent": {},
                                                "IsNewForEntireAccount": {
                                                    "type": "boolean"
                                                }
                                            }
                                        },
                                        "RelatedFindingDetail": {
                                            "type": "structure",
                                            "members": {
                                                "Arn": {},
                                                "Type": {},
                                                "IpAddress": {}
                                            }
                                        },
                                        "RelatedFindingGroupDetail": {
                                            "type": "structure",
                                            "members": {
                                                "Id": {}
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FY5L774XIZZ6ZFHRALIMOIU6LVBL7VF4HR6BFCBLRURMMKN7C4LQ/9960.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XFN34HPOCEBO74S3TXIQYVPA5V7SFZX4LLPWKABSVIRJOIODAUQ/9960.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLIAJQUKBEOSWXX2MSY2A4ZSXKGQ44E3TPOIUT235NV2FFIUQB6A/9960.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TG66G4WGB74NK33ZAKGKQ45N6QAGCOTLOVM7UG7JLHCKHJLSAXBQ/9960.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66F43WSJ3A4UQVCH4QKT3Z2HGHE6V3PVTNGQZPLL2JZAC37BQJDQ/9960.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XSP2KUT7TXEW7ADIVBZ7QUSIWFAMIL6WKKPRAJOL6SECMCLLFX7A/6043.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJZSWG22IAOXL4V2ECINILAVKK7OA3GBWPA4MDAGDAKEEOL7MD4Q/6043.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ4GQOUKZOLJTDCN54OI7NS7E2V2AFKJDLXYUN4GD6QFW7DBSMRQ/6043.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FUW4L36CMNV4ZPQDJEC7BLM4LIA3IAPECFKKVIO4LE2HS2QX6FRA/4951.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7UYM6RCJOH6GKNT4W5XXLZ5BA7LCLRFC7JLTN6N6PYMN6MG6KBA/9649.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQ5MRCWELDE3NOM4GZL5M27YJAE2TLU5IRGOBERVFLNXK6UJ7LOQ/9649.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMMGDGYYTZEXTDDMZX2QKMQ62CWBK26RD6VP4FCHEYFQOGFLETWQ/9649.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PKTWSBFKFUIQSAIG4ZE3ARCN7FX3MDNXPHOPV2IZZZERHKGMZS5Q/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBW5EC75UU7IWD5VNRHR6YDEHQMPDKAUHPVDTP67JE2RTCKUE7UA/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URWGOOVSEMOSKSAGZ6R6KMA6EE3LYEDR3GBCXISOCTTW6MVIY5XA/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HA336UYOOV5V5ZFKMKP6UDI6YTTKQZT23QMWR4B6YKGLFIAV4SIQ/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NHL72MB6EG4QNC5B3A7CPN6EJVTLKGQQTUIXEWPZGOLPAUTAGKQ/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6DFZT535XOH4CZSMGX2XAPMWLJ2CLY2LORYPIA5WL2EKSOR4AVA/3048.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTQYMVJ57YWA74R75JUAQ654IIFF2ZURB7CEYOXLUXO6RXHV6I3Q/6015.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YI2NDYGYXBFQJRE2SYBD2K2G46NU5F2MOXL3Z7OT62IST65BDZQ/8152.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OR2K2UQFXX7QRDKJB4NXTNECNNMFRNGUMMXMMQGR7UY2SQQ5SIQ/4657.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NONHN33GJKLHO6ABEBZ3NDU4OK72TVRZPDETV3T4PWMONMPHD33Q/9158.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F5GUMTDJ32KO2RYQ6A2C26GHQ77VDIJ3YJQ3UN7FO2ZINI6Z7ADA/9158.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q46F3BP6CGCRELEYIAHKMSWFO7T6FPSYFISWPHZPIUOFIZZHO6VA/9060.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5OE5KHWHOAGHHHXKUSXJ3IENC5RH37W27GFEMEGWPMBJN7C37BQ/4533.js"
            ]
        },
        "ListInvestigations": {
            "http": {
                "requestUri": "/investigations/listInvestigations"
            },
            "input": {
                "type": "structure",
                "required": [
                    "GraphArn"
                ],
                "members": {
                    "GraphArn": {},
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "FilterCriteria": {
                        "type": "structure",
                        "members": {
                            "Severity": {
                                "shape": "S18"
                            },
                            "Status": {
                                "shape": "S18"
                            },
                            "State": {
                                "shape": "S18"
                            },
                            "EntityArn": {
                                "shape": "S18"
                            },
                            "CreatedTime": {
                                "type": "structure",
                                "required": [
                                    "StartInclusive",
                                    "EndInclusive"
                                ],
                                "members": {
                                    "StartInclusive": {
                                        "shape": "S7"
                                    },
                                    "EndInclusive": {
                                        "shape": "S7"
                                    }
                                }
                            }
                        }
                    },
                    "SortCriteria": {
                        "type": "structure",
                        "members": {
                            "Field": {},
                            "SortOrder": {}
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "InvestigationDetails": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "InvestigationId": {},
                                "Severity": {},
                                "Status": {},
                                "State": {},
                                "CreatedTime": {
                                    "shape": "S7"
                                },
                                "EntityArn": {},
                                "EntityType": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FY5L774XIZZ6ZFHRALIMOIU6LVBL7VF4HR6BFCBLRURMMKN7C4LQ/9960.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XFN34HPOCEBO74S3TXIQYVPA5V7SFZX4LLPWKABSVIRJOIODAUQ/9960.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLIAJQUKBEOSWXX2MSY2A4ZSXKGQ44E3TPOIUT235NV2FFIUQB6A/9960.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TG66G4WGB74NK33ZAKGKQ45N6QAGCOTLOVM7UG7JLHCKHJLSAXBQ/9960.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66F43WSJ3A4UQVCH4QKT3Z2HGHE6V3PVTNGQZPLL2JZAC37BQJDQ/9960.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XSP2KUT7TXEW7ADIVBZ7QUSIWFAMIL6WKKPRAJOL6SECMCLLFX7A/6043.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJZSWG22IAOXL4V2ECINILAVKK7OA3GBWPA4MDAGDAKEEOL7MD4Q/6043.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ4GQOUKZOLJTDCN54OI7NS7E2V2AFKJDLXYUN4GD6QFW7DBSMRQ/6043.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FUW4L36CMNV4ZPQDJEC7BLM4LIA3IAPECFKKVIO4LE2HS2QX6FRA/4951.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7UYM6RCJOH6GKNT4W5XXLZ5BA7LCLRFC7JLTN6N6PYMN6MG6KBA/9649.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQ5MRCWELDE3NOM4GZL5M27YJAE2TLU5IRGOBERVFLNXK6UJ7LOQ/9649.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMMGDGYYTZEXTDDMZX2QKMQ62CWBK26RD6VP4FCHEYFQOGFLETWQ/9649.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PKTWSBFKFUIQSAIG4ZE3ARCN7FX3MDNXPHOPV2IZZZERHKGMZS5Q/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBW5EC75UU7IWD5VNRHR6YDEHQMPDKAUHPVDTP67JE2RTCKUE7UA/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URWGOOVSEMOSKSAGZ6R6KMA6EE3LYEDR3GBCXISOCTTW6MVIY5XA/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HA336UYOOV5V5ZFKMKP6UDI6YTTKQZT23QMWR4B6YKGLFIAV4SIQ/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NHL72MB6EG4QNC5B3A7CPN6EJVTLKGQQTUIXEWPZGOLPAUTAGKQ/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6DFZT535XOH4CZSMGX2XAPMWLJ2CLY2LORYPIA5WL2EKSOR4AVA/3048.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTQYMVJ57YWA74R75JUAQ654IIFF2ZURB7CEYOXLUXO6RXHV6I3Q/6015.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YI2NDYGYXBFQJRE2SYBD2K2G46NU5F2MOXL3Z7OT62IST65BDZQ/8152.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OR2K2UQFXX7QRDKJB4NXTNECNNMFRNGUMMXMMQGR7UY2SQQ5SIQ/4657.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NONHN33GJKLHO6ABEBZ3NDU4OK72TVRZPDETV3T4PWMONMPHD33Q/9158.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F5GUMTDJ32KO2RYQ6A2C26GHQ77VDIJ3YJQ3UN7FO2ZINI6Z7ADA/9158.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q46F3BP6CGCRELEYIAHKMSWFO7T6FPSYFISWPHZPIUOFIZZHO6VA/9060.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5OE5KHWHOAGHHHXKUSXJ3IENC5RH37W27GFEMEGWPMBJN7C37BQ/4533.js"
            ]
        },
        "StartInvestigation": {
            "http": {
                "requestUri": "/investigations/startInvestigation"
            },
            "input": {
                "type": "structure",
                "required": [
                    "GraphArn",
                    "EntityArn",
                    "ScopeStartTime",
                    "ScopeEndTime"
                ],
                "members": {
                    "GraphArn": {},
                    "EntityArn": {},
                    "ScopeStartTime": {
                        "shape": "S7"
                    },
                    "ScopeEndTime": {
                        "shape": "S7"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "InvestigationId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FY5L774XIZZ6ZFHRALIMOIU6LVBL7VF4HR6BFCBLRURMMKN7C4LQ/9960.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XFN34HPOCEBO74S3TXIQYVPA5V7SFZX4LLPWKABSVIRJOIODAUQ/9960.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLIAJQUKBEOSWXX2MSY2A4ZSXKGQ44E3TPOIUT235NV2FFIUQB6A/9960.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TG66G4WGB74NK33ZAKGKQ45N6QAGCOTLOVM7UG7JLHCKHJLSAXBQ/9960.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66F43WSJ3A4UQVCH4QKT3Z2HGHE6V3PVTNGQZPLL2JZAC37BQJDQ/9960.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XSP2KUT7TXEW7ADIVBZ7QUSIWFAMIL6WKKPRAJOL6SECMCLLFX7A/6043.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJZSWG22IAOXL4V2ECINILAVKK7OA3GBWPA4MDAGDAKEEOL7MD4Q/6043.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ4GQOUKZOLJTDCN54OI7NS7E2V2AFKJDLXYUN4GD6QFW7DBSMRQ/6043.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FUW4L36CMNV4ZPQDJEC7BLM4LIA3IAPECFKKVIO4LE2HS2QX6FRA/4951.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7UYM6RCJOH6GKNT4W5XXLZ5BA7LCLRFC7JLTN6N6PYMN6MG6KBA/9649.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQ5MRCWELDE3NOM4GZL5M27YJAE2TLU5IRGOBERVFLNXK6UJ7LOQ/9649.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMMGDGYYTZEXTDDMZX2QKMQ62CWBK26RD6VP4FCHEYFQOGFLETWQ/9649.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PKTWSBFKFUIQSAIG4ZE3ARCN7FX3MDNXPHOPV2IZZZERHKGMZS5Q/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBW5EC75UU7IWD5VNRHR6YDEHQMPDKAUHPVDTP67JE2RTCKUE7UA/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URWGOOVSEMOSKSAGZ6R6KMA6EE3LYEDR3GBCXISOCTTW6MVIY5XA/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HA336UYOOV5V5ZFKMKP6UDI6YTTKQZT23QMWR4B6YKGLFIAV4SIQ/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NHL72MB6EG4QNC5B3A7CPN6EJVTLKGQQTUIXEWPZGOLPAUTAGKQ/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6DFZT535XOH4CZSMGX2XAPMWLJ2CLY2LORYPIA5WL2EKSOR4AVA/3048.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTQYMVJ57YWA74R75JUAQ654IIFF2ZURB7CEYOXLUXO6RXHV6I3Q/6015.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YI2NDYGYXBFQJRE2SYBD2K2G46NU5F2MOXL3Z7OT62IST65BDZQ/8152.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OR2K2UQFXX7QRDKJB4NXTNECNNMFRNGUMMXMMQGR7UY2SQQ5SIQ/4657.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NONHN33GJKLHO6ABEBZ3NDU4OK72TVRZPDETV3T4PWMONMPHD33Q/9158.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F5GUMTDJ32KO2RYQ6A2C26GHQ77VDIJ3YJQ3UN7FO2ZINI6Z7ADA/9158.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q46F3BP6CGCRELEYIAHKMSWFO7T6FPSYFISWPHZPIUOFIZZHO6VA/9060.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5OE5KHWHOAGHHHXKUSXJ3IENC5RH37W27GFEMEGWPMBJN7C37BQ/4533.js"
            ]
        },
        "UpdateInvestigationState": {
            "http": {
                "requestUri": "/investigations/updateInvestigationState"
            },
            "input": {
                "type": "structure",
                "required": [
                    "GraphArn",
                    "InvestigationId",
                    "State"
                ],
                "members": {
                    "GraphArn": {},
                    "InvestigationId": {},
                    "State": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FY5L774XIZZ6ZFHRALIMOIU6LVBL7VF4HR6BFCBLRURMMKN7C4LQ/9960.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XFN34HPOCEBO74S3TXIQYVPA5V7SFZX4LLPWKABSVIRJOIODAUQ/9960.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLIAJQUKBEOSWXX2MSY2A4ZSXKGQ44E3TPOIUT235NV2FFIUQB6A/9960.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TG66G4WGB74NK33ZAKGKQ45N6QAGCOTLOVM7UG7JLHCKHJLSAXBQ/9960.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66F43WSJ3A4UQVCH4QKT3Z2HGHE6V3PVTNGQZPLL2JZAC37BQJDQ/9960.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XSP2KUT7TXEW7ADIVBZ7QUSIWFAMIL6WKKPRAJOL6SECMCLLFX7A/6043.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJZSWG22IAOXL4V2ECINILAVKK7OA3GBWPA4MDAGDAKEEOL7MD4Q/6043.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ4GQOUKZOLJTDCN54OI7NS7E2V2AFKJDLXYUN4GD6QFW7DBSMRQ/6043.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FUW4L36CMNV4ZPQDJEC7BLM4LIA3IAPECFKKVIO4LE2HS2QX6FRA/4951.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7UYM6RCJOH6GKNT4W5XXLZ5BA7LCLRFC7JLTN6N6PYMN6MG6KBA/9649.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQ5MRCWELDE3NOM4GZL5M27YJAE2TLU5IRGOBERVFLNXK6UJ7LOQ/9649.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMMGDGYYTZEXTDDMZX2QKMQ62CWBK26RD6VP4FCHEYFQOGFLETWQ/9649.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PKTWSBFKFUIQSAIG4ZE3ARCN7FX3MDNXPHOPV2IZZZERHKGMZS5Q/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBW5EC75UU7IWD5VNRHR6YDEHQMPDKAUHPVDTP67JE2RTCKUE7UA/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URWGOOVSEMOSKSAGZ6R6KMA6EE3LYEDR3GBCXISOCTTW6MVIY5XA/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HA336UYOOV5V5ZFKMKP6UDI6YTTKQZT23QMWR4B6YKGLFIAV4SIQ/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NHL72MB6EG4QNC5B3A7CPN6EJVTLKGQQTUIXEWPZGOLPAUTAGKQ/4661.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6DFZT535XOH4CZSMGX2XAPMWLJ2CLY2LORYPIA5WL2EKSOR4AVA/3048.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTQYMVJ57YWA74R75JUAQ654IIFF2ZURB7CEYOXLUXO6RXHV6I3Q/6015.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YI2NDYGYXBFQJRE2SYBD2K2G46NU5F2MOXL3Z7OT62IST65BDZQ/8152.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OR2K2UQFXX7QRDKJB4NXTNECNNMFRNGUMMXMMQGR7UY2SQQ5SIQ/4657.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NONHN33GJKLHO6ABEBZ3NDU4OK72TVRZPDETV3T4PWMONMPHD33Q/9158.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F5GUMTDJ32KO2RYQ6A2C26GHQ77VDIJ3YJQ3UN7FO2ZINI6Z7ADA/9158.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q46F3BP6CGCRELEYIAHKMSWFO7T6FPSYFISWPHZPIUOFIZZHO6VA/9060.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5OE5KHWHOAGHHHXKUSXJ3IENC5RH37W27GFEMEGWPMBJN7C37BQ/4533.js"
            ]
        }
    },
    "shapes": {
        "S7": {
            "type": "timestamp",
            "timestampFormat": "iso8601"
        },
        "S18": {
            "type": "structure",
            "required": [
                "Value"
            ],
            "members": {
                "Value": {}
            }
        }
    }
}