{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2022-07-26",
        "endpointPrefix": "mpa.ram",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "protocols": [
            "rest-json"
        ],
        "serviceFullName": "AWSFluffyCoreService",
        "serviceId": "MPA",
        "signatureVersion": "v4",
        "signingName": "mpa",
        "uid": "mpa-2022-07-26",
        "auth": [
            "aws.auth#sigv4"
        ],
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/TAAOP5ZYPZWZ2IXAC5MSAV724KNTLCQXQJ5GQBS32UZGSL657O2Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6XUVJBSZOPQPT6Z6OEPTUN5WMETJJ3SQ63SQJROXSVXOGA6R2VSA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ANNRRA2Y4G3IHETDOH3B6QUGJTENOKXQYGQEOCCQFPQVIYI6QEKA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UIHCHYPS23JR234HTSQ6NMNG4HNY6B5NWFI7GJZNMCUVNARJOBGQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3R5IFJWZX2AT5G4QKYVG5KJTZKGDZDTWLON7JWR2UF5V2K7PBEKA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CKZKKHYCCMOECWLNL534DDCTX4GO5PNBNNIYMIBR3OJFSX5MTCCQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/77AW42FTLQLOHMLJWQ3VDIZ7Q5XMH4XILJLDPIN3ST5WU45U4QMA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7YPPD46RT224GYIHWYZ6WBKE7DOTFJO5MJYP2MLKSHKJP4EN5NZA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TFLRWT75TAE5ASLXITTPYKIEHVOSGSKOH2S5P3CQEXL3LN7LDRMA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z7QIX5XMNU2XLME26TTGU7AE4N4ZLECF6N6AKGCZVJZ73DNH4ZFQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6U55LTUS7Y7BRR3DRR5UGGALBN6CKYWMA3UKNAWCON7WK6B2E2UA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/236T7VP3TJ753PFKPO6JUHFOCS2TJ6SAG3LELXCD3H4AWVVG3G3Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H2SJH65T4N3P2VA5S5WV2QSR2VELJAYQJBHTIJOEJMHVLJW4H5VA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IN7XIIP3XI6P7BXZHQ6TSBSMEV3FPBL33LBESXOPBECF2NOTSFYA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UWKRXLCXW5PCU3H3MR7ZYXMGT3QJHN25DBN25QV65X6HYZR4AMFQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js"
        ]
    },
    "operations": {
        "CancelSession": {
            "http": {
                "method": "PUT",
                "requestUri": "/sessions/{SessionArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "SessionArn"
                ],
                "members": {
                    "SessionArn": {
                        "location": "uri",
                        "locationName": "SessionArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XUVJBSZOPQPT6Z6OEPTUN5WMETJJ3SQ63SQJROXSVXOGA6R2VSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ANNRRA2Y4G3IHETDOH3B6QUGJTENOKXQYGQEOCCQFPQVIYI6QEKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIHCHYPS23JR234HTSQ6NMNG4HNY6B5NWFI7GJZNMCUVNARJOBGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3R5IFJWZX2AT5G4QKYVG5KJTZKGDZDTWLON7JWR2UF5V2K7PBEKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CKZKKHYCCMOECWLNL534DDCTX4GO5PNBNNIYMIBR3OJFSX5MTCCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77AW42FTLQLOHMLJWQ3VDIZ7Q5XMH4XILJLDPIN3ST5WU45U4QMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YPPD46RT224GYIHWYZ6WBKE7DOTFJO5MJYP2MLKSHKJP4EN5NZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFLRWT75TAE5ASLXITTPYKIEHVOSGSKOH2S5P3CQEXL3LN7LDRMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7QIX5XMNU2XLME26TTGU7AE4N4ZLECF6N6AKGCZVJZ73DNH4ZFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6U55LTUS7Y7BRR3DRR5UGGALBN6CKYWMA3UKNAWCON7WK6B2E2UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/236T7VP3TJ753PFKPO6JUHFOCS2TJ6SAG3LELXCD3H4AWVVG3G3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2SJH65T4N3P2VA5S5WV2QSR2VELJAYQJBHTIJOEJMHVLJW4H5VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IN7XIIP3XI6P7BXZHQ6TSBSMEV3FPBL33LBESXOPBECF2NOTSFYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWKRXLCXW5PCU3H3MR7ZYXMGT3QJHN25DBN25QV65X6HYZR4AMFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js"
            ]
        },
        "CreateApprovalTeam": {
            "http": {
                "requestUri": "/approval-teams",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ApprovalStrategy",
                    "Approvers",
                    "Description",
                    "Policies",
                    "Name"
                ],
                "members": {
                    "ClientToken": {
                        "idempotencyToken": true
                    },
                    "ApprovalStrategy": {
                        "shape": "S6"
                    },
                    "Approvers": {
                        "shape": "S9"
                    },
                    "Description": {
                        "shape": "Sd"
                    },
                    "Policies": {
                        "shape": "Se"
                    },
                    "Name": {},
                    "Tags": {
                        "shape": "Si"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "CreationTime": {
                        "shape": "Sm"
                    },
                    "Arn": {},
                    "Name": {},
                    "VersionId": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XUVJBSZOPQPT6Z6OEPTUN5WMETJJ3SQ63SQJROXSVXOGA6R2VSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ANNRRA2Y4G3IHETDOH3B6QUGJTENOKXQYGQEOCCQFPQVIYI6QEKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIHCHYPS23JR234HTSQ6NMNG4HNY6B5NWFI7GJZNMCUVNARJOBGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3R5IFJWZX2AT5G4QKYVG5KJTZKGDZDTWLON7JWR2UF5V2K7PBEKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CKZKKHYCCMOECWLNL534DDCTX4GO5PNBNNIYMIBR3OJFSX5MTCCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77AW42FTLQLOHMLJWQ3VDIZ7Q5XMH4XILJLDPIN3ST5WU45U4QMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YPPD46RT224GYIHWYZ6WBKE7DOTFJO5MJYP2MLKSHKJP4EN5NZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFLRWT75TAE5ASLXITTPYKIEHVOSGSKOH2S5P3CQEXL3LN7LDRMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7QIX5XMNU2XLME26TTGU7AE4N4ZLECF6N6AKGCZVJZ73DNH4ZFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6U55LTUS7Y7BRR3DRR5UGGALBN6CKYWMA3UKNAWCON7WK6B2E2UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/236T7VP3TJ753PFKPO6JUHFOCS2TJ6SAG3LELXCD3H4AWVVG3G3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2SJH65T4N3P2VA5S5WV2QSR2VELJAYQJBHTIJOEJMHVLJW4H5VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IN7XIIP3XI6P7BXZHQ6TSBSMEV3FPBL33LBESXOPBECF2NOTSFYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWKRXLCXW5PCU3H3MR7ZYXMGT3QJHN25DBN25QV65X6HYZR4AMFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js"
            ]
        },
        "CreateIdentitySource": {
            "http": {
                "requestUri": "/identity-sources",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "IdentitySourceParameters"
                ],
                "members": {
                    "IdentitySourceParameters": {
                        "type": "structure",
                        "members": {
                            "IamIdentityCenter": {
                                "type": "structure",
                                "required": [
                                    "InstanceArn",
                                    "Region"
                                ],
                                "members": {
                                    "InstanceArn": {},
                                    "Region": {}
                                }
                            }
                        }
                    },
                    "ClientToken": {
                        "idempotencyToken": true
                    },
                    "Tags": {
                        "shape": "Si"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentitySourceType": {},
                    "IdentitySourceArn": {},
                    "CreationTime": {
                        "shape": "Sm"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XUVJBSZOPQPT6Z6OEPTUN5WMETJJ3SQ63SQJROXSVXOGA6R2VSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ANNRRA2Y4G3IHETDOH3B6QUGJTENOKXQYGQEOCCQFPQVIYI6QEKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIHCHYPS23JR234HTSQ6NMNG4HNY6B5NWFI7GJZNMCUVNARJOBGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3R5IFJWZX2AT5G4QKYVG5KJTZKGDZDTWLON7JWR2UF5V2K7PBEKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CKZKKHYCCMOECWLNL534DDCTX4GO5PNBNNIYMIBR3OJFSX5MTCCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77AW42FTLQLOHMLJWQ3VDIZ7Q5XMH4XILJLDPIN3ST5WU45U4QMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YPPD46RT224GYIHWYZ6WBKE7DOTFJO5MJYP2MLKSHKJP4EN5NZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFLRWT75TAE5ASLXITTPYKIEHVOSGSKOH2S5P3CQEXL3LN7LDRMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7QIX5XMNU2XLME26TTGU7AE4N4ZLECF6N6AKGCZVJZ73DNH4ZFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6U55LTUS7Y7BRR3DRR5UGGALBN6CKYWMA3UKNAWCON7WK6B2E2UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/236T7VP3TJ753PFKPO6JUHFOCS2TJ6SAG3LELXCD3H4AWVVG3G3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2SJH65T4N3P2VA5S5WV2QSR2VELJAYQJBHTIJOEJMHVLJW4H5VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IN7XIIP3XI6P7BXZHQ6TSBSMEV3FPBL33LBESXOPBECF2NOTSFYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWKRXLCXW5PCU3H3MR7ZYXMGT3QJHN25DBN25QV65X6HYZR4AMFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js"
            ]
        },
        "DeleteIdentitySource": {
            "http": {
                "method": "DELETE",
                "requestUri": "/identity-sources/{IdentitySourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "IdentitySourceArn"
                ],
                "members": {
                    "IdentitySourceArn": {
                        "location": "uri",
                        "locationName": "IdentitySourceArn"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XUVJBSZOPQPT6Z6OEPTUN5WMETJJ3SQ63SQJROXSVXOGA6R2VSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ANNRRA2Y4G3IHETDOH3B6QUGJTENOKXQYGQEOCCQFPQVIYI6QEKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIHCHYPS23JR234HTSQ6NMNG4HNY6B5NWFI7GJZNMCUVNARJOBGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3R5IFJWZX2AT5G4QKYVG5KJTZKGDZDTWLON7JWR2UF5V2K7PBEKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CKZKKHYCCMOECWLNL534DDCTX4GO5PNBNNIYMIBR3OJFSX5MTCCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77AW42FTLQLOHMLJWQ3VDIZ7Q5XMH4XILJLDPIN3ST5WU45U4QMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YPPD46RT224GYIHWYZ6WBKE7DOTFJO5MJYP2MLKSHKJP4EN5NZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFLRWT75TAE5ASLXITTPYKIEHVOSGSKOH2S5P3CQEXL3LN7LDRMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7QIX5XMNU2XLME26TTGU7AE4N4ZLECF6N6AKGCZVJZ73DNH4ZFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6U55LTUS7Y7BRR3DRR5UGGALBN6CKYWMA3UKNAWCON7WK6B2E2UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/236T7VP3TJ753PFKPO6JUHFOCS2TJ6SAG3LELXCD3H4AWVVG3G3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2SJH65T4N3P2VA5S5WV2QSR2VELJAYQJBHTIJOEJMHVLJW4H5VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IN7XIIP3XI6P7BXZHQ6TSBSMEV3FPBL33LBESXOPBECF2NOTSFYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWKRXLCXW5PCU3H3MR7ZYXMGT3QJHN25DBN25QV65X6HYZR4AMFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js"
            ]
        },
        "DeleteInactiveApprovalTeamVersion": {
            "http": {
                "method": "DELETE",
                "requestUri": "/approval-teams/{Arn}/{VersionId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Arn",
                    "VersionId"
                ],
                "members": {
                    "Arn": {
                        "location": "uri",
                        "locationName": "Arn"
                    },
                    "VersionId": {
                        "location": "uri",
                        "locationName": "VersionId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XUVJBSZOPQPT6Z6OEPTUN5WMETJJ3SQ63SQJROXSVXOGA6R2VSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ANNRRA2Y4G3IHETDOH3B6QUGJTENOKXQYGQEOCCQFPQVIYI6QEKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIHCHYPS23JR234HTSQ6NMNG4HNY6B5NWFI7GJZNMCUVNARJOBGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3R5IFJWZX2AT5G4QKYVG5KJTZKGDZDTWLON7JWR2UF5V2K7PBEKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CKZKKHYCCMOECWLNL534DDCTX4GO5PNBNNIYMIBR3OJFSX5MTCCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77AW42FTLQLOHMLJWQ3VDIZ7Q5XMH4XILJLDPIN3ST5WU45U4QMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YPPD46RT224GYIHWYZ6WBKE7DOTFJO5MJYP2MLKSHKJP4EN5NZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFLRWT75TAE5ASLXITTPYKIEHVOSGSKOH2S5P3CQEXL3LN7LDRMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7QIX5XMNU2XLME26TTGU7AE4N4ZLECF6N6AKGCZVJZ73DNH4ZFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6U55LTUS7Y7BRR3DRR5UGGALBN6CKYWMA3UKNAWCON7WK6B2E2UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/236T7VP3TJ753PFKPO6JUHFOCS2TJ6SAG3LELXCD3H4AWVVG3G3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2SJH65T4N3P2VA5S5WV2QSR2VELJAYQJBHTIJOEJMHVLJW4H5VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IN7XIIP3XI6P7BXZHQ6TSBSMEV3FPBL33LBESXOPBECF2NOTSFYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWKRXLCXW5PCU3H3MR7ZYXMGT3QJHN25DBN25QV65X6HYZR4AMFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js"
            ]
        },
        "DeleteResourcePolicy": {
            "http": {
                "requestUri": "/DeleteResourcePolicy",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn",
                    "PolicyName",
                    "PolicyType"
                ],
                "members": {
                    "ResourceArn": {},
                    "PolicyName": {},
                    "PolicyType": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XUVJBSZOPQPT6Z6OEPTUN5WMETJJ3SQ63SQJROXSVXOGA6R2VSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ANNRRA2Y4G3IHETDOH3B6QUGJTENOKXQYGQEOCCQFPQVIYI6QEKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIHCHYPS23JR234HTSQ6NMNG4HNY6B5NWFI7GJZNMCUVNARJOBGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3R5IFJWZX2AT5G4QKYVG5KJTZKGDZDTWLON7JWR2UF5V2K7PBEKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CKZKKHYCCMOECWLNL534DDCTX4GO5PNBNNIYMIBR3OJFSX5MTCCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77AW42FTLQLOHMLJWQ3VDIZ7Q5XMH4XILJLDPIN3ST5WU45U4QMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YPPD46RT224GYIHWYZ6WBKE7DOTFJO5MJYP2MLKSHKJP4EN5NZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFLRWT75TAE5ASLXITTPYKIEHVOSGSKOH2S5P3CQEXL3LN7LDRMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7QIX5XMNU2XLME26TTGU7AE4N4ZLECF6N6AKGCZVJZ73DNH4ZFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6U55LTUS7Y7BRR3DRR5UGGALBN6CKYWMA3UKNAWCON7WK6B2E2UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/236T7VP3TJ753PFKPO6JUHFOCS2TJ6SAG3LELXCD3H4AWVVG3G3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2SJH65T4N3P2VA5S5WV2QSR2VELJAYQJBHTIJOEJMHVLJW4H5VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IN7XIIP3XI6P7BXZHQ6TSBSMEV3FPBL33LBESXOPBECF2NOTSFYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWKRXLCXW5PCU3H3MR7ZYXMGT3QJHN25DBN25QV65X6HYZR4AMFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js"
            ]
        },
        "GetApprovalTeam": {
            "http": {
                "method": "GET",
                "requestUri": "/approval-teams/{Arn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Arn"
                ],
                "members": {
                    "Arn": {
                        "location": "uri",
                        "locationName": "Arn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "CreationTime": {
                        "shape": "Sm"
                    },
                    "ApprovalStrategy": {
                        "shape": "S12"
                    },
                    "NumberOfApprovers": {
                        "type": "integer"
                    },
                    "Approvers": {
                        "shape": "S14"
                    },
                    "Arn": {},
                    "Description": {
                        "shape": "Sd"
                    },
                    "Name": {},
                    "Status": {},
                    "StatusCode": {},
                    "StatusMessage": {},
                    "UpdateSessionArn": {},
                    "VersionId": {},
                    "Policies": {
                        "shape": "Se"
                    },
                    "LastUpdateTime": {
                        "shape": "Sm"
                    },
                    "PendingUpdate": {
                        "type": "structure",
                        "members": {
                            "VersionId": {},
                            "Description": {},
                            "ApprovalStrategy": {
                                "shape": "S12"
                            },
                            "NumberOfApprovers": {
                                "type": "integer"
                            },
                            "Status": {},
                            "StatusCode": {},
                            "StatusMessage": {},
                            "Approvers": {
                                "shape": "S14"
                            },
                            "UpdateInitiationTime": {
                                "shape": "Sm"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XUVJBSZOPQPT6Z6OEPTUN5WMETJJ3SQ63SQJROXSVXOGA6R2VSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ANNRRA2Y4G3IHETDOH3B6QUGJTENOKXQYGQEOCCQFPQVIYI6QEKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIHCHYPS23JR234HTSQ6NMNG4HNY6B5NWFI7GJZNMCUVNARJOBGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3R5IFJWZX2AT5G4QKYVG5KJTZKGDZDTWLON7JWR2UF5V2K7PBEKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CKZKKHYCCMOECWLNL534DDCTX4GO5PNBNNIYMIBR3OJFSX5MTCCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77AW42FTLQLOHMLJWQ3VDIZ7Q5XMH4XILJLDPIN3ST5WU45U4QMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YPPD46RT224GYIHWYZ6WBKE7DOTFJO5MJYP2MLKSHKJP4EN5NZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFLRWT75TAE5ASLXITTPYKIEHVOSGSKOH2S5P3CQEXL3LN7LDRMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7QIX5XMNU2XLME26TTGU7AE4N4ZLECF6N6AKGCZVJZ73DNH4ZFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6U55LTUS7Y7BRR3DRR5UGGALBN6CKYWMA3UKNAWCON7WK6B2E2UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/236T7VP3TJ753PFKPO6JUHFOCS2TJ6SAG3LELXCD3H4AWVVG3G3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2SJH65T4N3P2VA5S5WV2QSR2VELJAYQJBHTIJOEJMHVLJW4H5VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IN7XIIP3XI6P7BXZHQ6TSBSMEV3FPBL33LBESXOPBECF2NOTSFYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWKRXLCXW5PCU3H3MR7ZYXMGT3QJHN25DBN25QV65X6HYZR4AMFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js"
            ]
        },
        "GetApprovalTeamForApprover": {
            "http": {
                "method": "GET",
                "requestUri": "/approver/approval-teams/{Arn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Arn"
                ],
                "members": {
                    "Arn": {
                        "location": "uri",
                        "locationName": "Arn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Arn": {},
                    "Name": {},
                    "Description": {
                        "shape": "Sd"
                    },
                    "Status": {},
                    "CreationTime": {
                        "shape": "Sm"
                    },
                    "EnrollmentTime": {
                        "shape": "Sm"
                    },
                    "Policies": {
                        "shape": "Se"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XUVJBSZOPQPT6Z6OEPTUN5WMETJJ3SQ63SQJROXSVXOGA6R2VSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ANNRRA2Y4G3IHETDOH3B6QUGJTENOKXQYGQEOCCQFPQVIYI6QEKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIHCHYPS23JR234HTSQ6NMNG4HNY6B5NWFI7GJZNMCUVNARJOBGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3R5IFJWZX2AT5G4QKYVG5KJTZKGDZDTWLON7JWR2UF5V2K7PBEKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CKZKKHYCCMOECWLNL534DDCTX4GO5PNBNNIYMIBR3OJFSX5MTCCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77AW42FTLQLOHMLJWQ3VDIZ7Q5XMH4XILJLDPIN3ST5WU45U4QMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YPPD46RT224GYIHWYZ6WBKE7DOTFJO5MJYP2MLKSHKJP4EN5NZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFLRWT75TAE5ASLXITTPYKIEHVOSGSKOH2S5P3CQEXL3LN7LDRMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7QIX5XMNU2XLME26TTGU7AE4N4ZLECF6N6AKGCZVJZ73DNH4ZFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6U55LTUS7Y7BRR3DRR5UGGALBN6CKYWMA3UKNAWCON7WK6B2E2UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/236T7VP3TJ753PFKPO6JUHFOCS2TJ6SAG3LELXCD3H4AWVVG3G3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2SJH65T4N3P2VA5S5WV2QSR2VELJAYQJBHTIJOEJMHVLJW4H5VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IN7XIIP3XI6P7BXZHQ6TSBSMEV3FPBL33LBESXOPBECF2NOTSFYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWKRXLCXW5PCU3H3MR7ZYXMGT3QJHN25DBN25QV65X6HYZR4AMFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js"
            ]
        },
        "GetHealthReportExecutionStatus": {
            "http": {
                "requestUri": "/getHealthReportExecutionStatus",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ExecutionId"
                ],
                "members": {
                    "ExecutionId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ExecutionStatus"
                ],
                "members": {
                    "ExecutionStatus": {},
                    "StatusReason": {},
                    "TotalNumberOfGroups": {
                        "type": "integer"
                    },
                    "TotalNumberOfGroupsWithInactiveParticipants": {
                        "type": "integer"
                    },
                    "TotalNumberOfSessions": {
                        "type": "integer"
                    },
                    "TotalNumberOfRespondedSession": {
                        "type": "integer"
                    },
                    "TotalNumberOfExpiredSession": {
                        "type": "integer"
                    },
                    "TotalNumberOfCancelledSession": {
                        "type": "integer"
                    }
                }
            },
            "idempotent": true,
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XUVJBSZOPQPT6Z6OEPTUN5WMETJJ3SQ63SQJROXSVXOGA6R2VSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ANNRRA2Y4G3IHETDOH3B6QUGJTENOKXQYGQEOCCQFPQVIYI6QEKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIHCHYPS23JR234HTSQ6NMNG4HNY6B5NWFI7GJZNMCUVNARJOBGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3R5IFJWZX2AT5G4QKYVG5KJTZKGDZDTWLON7JWR2UF5V2K7PBEKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CKZKKHYCCMOECWLNL534DDCTX4GO5PNBNNIYMIBR3OJFSX5MTCCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77AW42FTLQLOHMLJWQ3VDIZ7Q5XMH4XILJLDPIN3ST5WU45U4QMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YPPD46RT224GYIHWYZ6WBKE7DOTFJO5MJYP2MLKSHKJP4EN5NZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFLRWT75TAE5ASLXITTPYKIEHVOSGSKOH2S5P3CQEXL3LN7LDRMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7QIX5XMNU2XLME26TTGU7AE4N4ZLECF6N6AKGCZVJZ73DNH4ZFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6U55LTUS7Y7BRR3DRR5UGGALBN6CKYWMA3UKNAWCON7WK6B2E2UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/236T7VP3TJ753PFKPO6JUHFOCS2TJ6SAG3LELXCD3H4AWVVG3G3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2SJH65T4N3P2VA5S5WV2QSR2VELJAYQJBHTIJOEJMHVLJW4H5VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IN7XIIP3XI6P7BXZHQ6TSBSMEV3FPBL33LBESXOPBECF2NOTSFYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWKRXLCXW5PCU3H3MR7ZYXMGT3QJHN25DBN25QV65X6HYZR4AMFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js"
            ]
        },
        "GetIdentitySource": {
            "http": {
                "method": "GET",
                "requestUri": "/identity-sources/{IdentitySourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "IdentitySourceArn"
                ],
                "members": {
                    "IdentitySourceArn": {
                        "location": "uri",
                        "locationName": "IdentitySourceArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentitySourceType": {},
                    "IdentitySourceParameters": {
                        "type": "structure",
                        "members": {
                            "IamIdentityCenter": {
                                "type": "structure",
                                "members": {
                                    "InstanceArn": {},
                                    "ApprovalPortalUrl": {},
                                    "Region": {}
                                }
                            }
                        },
                        "union": true
                    },
                    "IdentitySourceArn": {},
                    "CreationTime": {
                        "shape": "Sm"
                    },
                    "Status": {},
                    "StatusCode": {},
                    "StatusMessage": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XUVJBSZOPQPT6Z6OEPTUN5WMETJJ3SQ63SQJROXSVXOGA6R2VSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ANNRRA2Y4G3IHETDOH3B6QUGJTENOKXQYGQEOCCQFPQVIYI6QEKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIHCHYPS23JR234HTSQ6NMNG4HNY6B5NWFI7GJZNMCUVNARJOBGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3R5IFJWZX2AT5G4QKYVG5KJTZKGDZDTWLON7JWR2UF5V2K7PBEKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CKZKKHYCCMOECWLNL534DDCTX4GO5PNBNNIYMIBR3OJFSX5MTCCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77AW42FTLQLOHMLJWQ3VDIZ7Q5XMH4XILJLDPIN3ST5WU45U4QMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YPPD46RT224GYIHWYZ6WBKE7DOTFJO5MJYP2MLKSHKJP4EN5NZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFLRWT75TAE5ASLXITTPYKIEHVOSGSKOH2S5P3CQEXL3LN7LDRMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7QIX5XMNU2XLME26TTGU7AE4N4ZLECF6N6AKGCZVJZ73DNH4ZFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6U55LTUS7Y7BRR3DRR5UGGALBN6CKYWMA3UKNAWCON7WK6B2E2UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/236T7VP3TJ753PFKPO6JUHFOCS2TJ6SAG3LELXCD3H4AWVVG3G3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2SJH65T4N3P2VA5S5WV2QSR2VELJAYQJBHTIJOEJMHVLJW4H5VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IN7XIIP3XI6P7BXZHQ6TSBSMEV3FPBL33LBESXOPBECF2NOTSFYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWKRXLCXW5PCU3H3MR7ZYXMGT3QJHN25DBN25QV65X6HYZR4AMFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js"
            ]
        },
        "GetIdentitySourceForApprover": {
            "http": {
                "method": "GET",
                "requestUri": "/approver/identity-sources",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ApprovalPortalUrl"
                ],
                "members": {
                    "ApprovalPortalUrl": {
                        "location": "header",
                        "locationName": "PortalUrl"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ApprovalPortalUrl": {},
                    "IdcApplicationArn": {},
                    "Region": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XUVJBSZOPQPT6Z6OEPTUN5WMETJJ3SQ63SQJROXSVXOGA6R2VSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ANNRRA2Y4G3IHETDOH3B6QUGJTENOKXQYGQEOCCQFPQVIYI6QEKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIHCHYPS23JR234HTSQ6NMNG4HNY6B5NWFI7GJZNMCUVNARJOBGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3R5IFJWZX2AT5G4QKYVG5KJTZKGDZDTWLON7JWR2UF5V2K7PBEKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CKZKKHYCCMOECWLNL534DDCTX4GO5PNBNNIYMIBR3OJFSX5MTCCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77AW42FTLQLOHMLJWQ3VDIZ7Q5XMH4XILJLDPIN3ST5WU45U4QMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YPPD46RT224GYIHWYZ6WBKE7DOTFJO5MJYP2MLKSHKJP4EN5NZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFLRWT75TAE5ASLXITTPYKIEHVOSGSKOH2S5P3CQEXL3LN7LDRMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7QIX5XMNU2XLME26TTGU7AE4N4ZLECF6N6AKGCZVJZ73DNH4ZFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6U55LTUS7Y7BRR3DRR5UGGALBN6CKYWMA3UKNAWCON7WK6B2E2UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/236T7VP3TJ753PFKPO6JUHFOCS2TJ6SAG3LELXCD3H4AWVVG3G3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2SJH65T4N3P2VA5S5WV2QSR2VELJAYQJBHTIJOEJMHVLJW4H5VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IN7XIIP3XI6P7BXZHQ6TSBSMEV3FPBL33LBESXOPBECF2NOTSFYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWKRXLCXW5PCU3H3MR7ZYXMGT3QJHN25DBN25QV65X6HYZR4AMFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js"
            ]
        },
        "GetInvitationForApprover": {
            "http": {
                "method": "GET",
                "requestUri": "/approver/invitations/{InvitationId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "InvitationId"
                ],
                "members": {
                    "InvitationId": {
                        "location": "uri",
                        "locationName": "InvitationId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Invitation": {
                        "shape": "S1s"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XUVJBSZOPQPT6Z6OEPTUN5WMETJJ3SQ63SQJROXSVXOGA6R2VSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ANNRRA2Y4G3IHETDOH3B6QUGJTENOKXQYGQEOCCQFPQVIYI6QEKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIHCHYPS23JR234HTSQ6NMNG4HNY6B5NWFI7GJZNMCUVNARJOBGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3R5IFJWZX2AT5G4QKYVG5KJTZKGDZDTWLON7JWR2UF5V2K7PBEKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CKZKKHYCCMOECWLNL534DDCTX4GO5PNBNNIYMIBR3OJFSX5MTCCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77AW42FTLQLOHMLJWQ3VDIZ7Q5XMH4XILJLDPIN3ST5WU45U4QMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YPPD46RT224GYIHWYZ6WBKE7DOTFJO5MJYP2MLKSHKJP4EN5NZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFLRWT75TAE5ASLXITTPYKIEHVOSGSKOH2S5P3CQEXL3LN7LDRMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7QIX5XMNU2XLME26TTGU7AE4N4ZLECF6N6AKGCZVJZ73DNH4ZFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6U55LTUS7Y7BRR3DRR5UGGALBN6CKYWMA3UKNAWCON7WK6B2E2UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/236T7VP3TJ753PFKPO6JUHFOCS2TJ6SAG3LELXCD3H4AWVVG3G3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2SJH65T4N3P2VA5S5WV2QSR2VELJAYQJBHTIJOEJMHVLJW4H5VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IN7XIIP3XI6P7BXZHQ6TSBSMEV3FPBL33LBESXOPBECF2NOTSFYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWKRXLCXW5PCU3H3MR7ZYXMGT3QJHN25DBN25QV65X6HYZR4AMFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js"
            ]
        },
        "GetPolicyVersion": {
            "http": {
                "method": "GET",
                "requestUri": "/policy-versions/{PolicyVersionArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "PolicyVersionArn"
                ],
                "members": {
                    "PolicyVersionArn": {
                        "location": "uri",
                        "locationName": "PolicyVersionArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "PolicyVersion"
                ],
                "members": {
                    "PolicyVersion": {
                        "type": "structure",
                        "required": [
                            "Arn",
                            "PolicyArn",
                            "VersionId",
                            "PolicyType",
                            "IsDefault",
                            "Name",
                            "Status",
                            "CreationTime",
                            "LastUpdatedTime",
                            "Document"
                        ],
                        "members": {
                            "Arn": {},
                            "PolicyArn": {},
                            "VersionId": {
                                "type": "integer"
                            },
                            "PolicyType": {},
                            "IsDefault": {
                                "type": "boolean"
                            },
                            "Name": {},
                            "Status": {},
                            "CreationTime": {
                                "shape": "Sm"
                            },
                            "LastUpdatedTime": {
                                "shape": "Sm"
                            },
                            "Document": {
                                "shape": "S24"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XUVJBSZOPQPT6Z6OEPTUN5WMETJJ3SQ63SQJROXSVXOGA6R2VSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ANNRRA2Y4G3IHETDOH3B6QUGJTENOKXQYGQEOCCQFPQVIYI6QEKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIHCHYPS23JR234HTSQ6NMNG4HNY6B5NWFI7GJZNMCUVNARJOBGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3R5IFJWZX2AT5G4QKYVG5KJTZKGDZDTWLON7JWR2UF5V2K7PBEKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CKZKKHYCCMOECWLNL534DDCTX4GO5PNBNNIYMIBR3OJFSX5MTCCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77AW42FTLQLOHMLJWQ3VDIZ7Q5XMH4XILJLDPIN3ST5WU45U4QMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YPPD46RT224GYIHWYZ6WBKE7DOTFJO5MJYP2MLKSHKJP4EN5NZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFLRWT75TAE5ASLXITTPYKIEHVOSGSKOH2S5P3CQEXL3LN7LDRMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7QIX5XMNU2XLME26TTGU7AE4N4ZLECF6N6AKGCZVJZ73DNH4ZFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6U55LTUS7Y7BRR3DRR5UGGALBN6CKYWMA3UKNAWCON7WK6B2E2UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/236T7VP3TJ753PFKPO6JUHFOCS2TJ6SAG3LELXCD3H4AWVVG3G3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2SJH65T4N3P2VA5S5WV2QSR2VELJAYQJBHTIJOEJMHVLJW4H5VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IN7XIIP3XI6P7BXZHQ6TSBSMEV3FPBL33LBESXOPBECF2NOTSFYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWKRXLCXW5PCU3H3MR7ZYXMGT3QJHN25DBN25QV65X6HYZR4AMFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js"
            ]
        },
        "GetResourcePolicy": {
            "http": {
                "requestUri": "/GetResourcePolicy",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn",
                    "PolicyName",
                    "PolicyType"
                ],
                "members": {
                    "ResourceArn": {},
                    "PolicyName": {},
                    "PolicyType": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ResourceArn",
                    "PolicyType",
                    "PolicyName",
                    "PolicyDocument"
                ],
                "members": {
                    "ResourceArn": {},
                    "PolicyType": {},
                    "PolicyVersionArn": {},
                    "PolicyName": {},
                    "PolicyDocument": {
                        "shape": "S24"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XUVJBSZOPQPT6Z6OEPTUN5WMETJJ3SQ63SQJROXSVXOGA6R2VSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ANNRRA2Y4G3IHETDOH3B6QUGJTENOKXQYGQEOCCQFPQVIYI6QEKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIHCHYPS23JR234HTSQ6NMNG4HNY6B5NWFI7GJZNMCUVNARJOBGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3R5IFJWZX2AT5G4QKYVG5KJTZKGDZDTWLON7JWR2UF5V2K7PBEKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CKZKKHYCCMOECWLNL534DDCTX4GO5PNBNNIYMIBR3OJFSX5MTCCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77AW42FTLQLOHMLJWQ3VDIZ7Q5XMH4XILJLDPIN3ST5WU45U4QMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YPPD46RT224GYIHWYZ6WBKE7DOTFJO5MJYP2MLKSHKJP4EN5NZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFLRWT75TAE5ASLXITTPYKIEHVOSGSKOH2S5P3CQEXL3LN7LDRMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7QIX5XMNU2XLME26TTGU7AE4N4ZLECF6N6AKGCZVJZ73DNH4ZFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6U55LTUS7Y7BRR3DRR5UGGALBN6CKYWMA3UKNAWCON7WK6B2E2UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/236T7VP3TJ753PFKPO6JUHFOCS2TJ6SAG3LELXCD3H4AWVVG3G3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2SJH65T4N3P2VA5S5WV2QSR2VELJAYQJBHTIJOEJMHVLJW4H5VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IN7XIIP3XI6P7BXZHQ6TSBSMEV3FPBL33LBESXOPBECF2NOTSFYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWKRXLCXW5PCU3H3MR7ZYXMGT3QJHN25DBN25QV65X6HYZR4AMFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js"
            ]
        },
        "GetResourcePolicyInternal": {
            "http": {
                "requestUri": "/GetResourcePolicyInternal",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ResourceArn": {},
                    "InternalId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Policy": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XUVJBSZOPQPT6Z6OEPTUN5WMETJJ3SQ63SQJROXSVXOGA6R2VSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ANNRRA2Y4G3IHETDOH3B6QUGJTENOKXQYGQEOCCQFPQVIYI6QEKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIHCHYPS23JR234HTSQ6NMNG4HNY6B5NWFI7GJZNMCUVNARJOBGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3R5IFJWZX2AT5G4QKYVG5KJTZKGDZDTWLON7JWR2UF5V2K7PBEKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CKZKKHYCCMOECWLNL534DDCTX4GO5PNBNNIYMIBR3OJFSX5MTCCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77AW42FTLQLOHMLJWQ3VDIZ7Q5XMH4XILJLDPIN3ST5WU45U4QMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YPPD46RT224GYIHWYZ6WBKE7DOTFJO5MJYP2MLKSHKJP4EN5NZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFLRWT75TAE5ASLXITTPYKIEHVOSGSKOH2S5P3CQEXL3LN7LDRMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7QIX5XMNU2XLME26TTGU7AE4N4ZLECF6N6AKGCZVJZ73DNH4ZFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6U55LTUS7Y7BRR3DRR5UGGALBN6CKYWMA3UKNAWCON7WK6B2E2UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/236T7VP3TJ753PFKPO6JUHFOCS2TJ6SAG3LELXCD3H4AWVVG3G3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2SJH65T4N3P2VA5S5WV2QSR2VELJAYQJBHTIJOEJMHVLJW4H5VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IN7XIIP3XI6P7BXZHQ6TSBSMEV3FPBL33LBESXOPBECF2NOTSFYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWKRXLCXW5PCU3H3MR7ZYXMGT3QJHN25DBN25QV65X6HYZR4AMFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js"
            ]
        },
        "GetSession": {
            "http": {
                "method": "GET",
                "requestUri": "/sessions/{SessionArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "SessionArn"
                ],
                "members": {
                    "SessionArn": {
                        "location": "uri",
                        "locationName": "SessionArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "SessionArn": {},
                    "ApprovalTeamArn": {},
                    "ApprovalTeamName": {},
                    "ProtectedResourceArn": {},
                    "ApprovalStrategy": {
                        "shape": "S12"
                    },
                    "NumberOfApprovers": {
                        "type": "integer"
                    },
                    "InitiationTime": {
                        "shape": "Sm"
                    },
                    "ExpirationTime": {
                        "shape": "Sm"
                    },
                    "CompletionTime": {
                        "shape": "Sm"
                    },
                    "Description": {
                        "shape": "Sd"
                    },
                    "Metadata": {
                        "shape": "S2e"
                    },
                    "Status": {},
                    "StatusCode": {},
                    "StatusMessage": {},
                    "ExecutionStatus": {},
                    "ActionName": {},
                    "RequesterServicePrincipal": {},
                    "RequesterPrincipalArn": {},
                    "RequesterAccountId": {},
                    "RequesterRegion": {},
                    "RequesterComment": {
                        "shape": "S2o"
                    },
                    "ActionCompletionStrategy": {},
                    "ApproverResponses": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ApproverId": {},
                                "IdentitySourceArn": {},
                                "IdentityId": {},
                                "Response": {},
                                "ResponseTime": {
                                    "shape": "Sm"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XUVJBSZOPQPT6Z6OEPTUN5WMETJJ3SQ63SQJROXSVXOGA6R2VSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ANNRRA2Y4G3IHETDOH3B6QUGJTENOKXQYGQEOCCQFPQVIYI6QEKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIHCHYPS23JR234HTSQ6NMNG4HNY6B5NWFI7GJZNMCUVNARJOBGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3R5IFJWZX2AT5G4QKYVG5KJTZKGDZDTWLON7JWR2UF5V2K7PBEKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CKZKKHYCCMOECWLNL534DDCTX4GO5PNBNNIYMIBR3OJFSX5MTCCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77AW42FTLQLOHMLJWQ3VDIZ7Q5XMH4XILJLDPIN3ST5WU45U4QMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YPPD46RT224GYIHWYZ6WBKE7DOTFJO5MJYP2MLKSHKJP4EN5NZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFLRWT75TAE5ASLXITTPYKIEHVOSGSKOH2S5P3CQEXL3LN7LDRMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7QIX5XMNU2XLME26TTGU7AE4N4ZLECF6N6AKGCZVJZ73DNH4ZFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6U55LTUS7Y7BRR3DRR5UGGALBN6CKYWMA3UKNAWCON7WK6B2E2UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/236T7VP3TJ753PFKPO6JUHFOCS2TJ6SAG3LELXCD3H4AWVVG3G3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2SJH65T4N3P2VA5S5WV2QSR2VELJAYQJBHTIJOEJMHVLJW4H5VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IN7XIIP3XI6P7BXZHQ6TSBSMEV3FPBL33LBESXOPBECF2NOTSFYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWKRXLCXW5PCU3H3MR7ZYXMGT3QJHN25DBN25QV65X6HYZR4AMFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js"
            ]
        },
        "GetSessionForApprover": {
            "http": {
                "method": "GET",
                "requestUri": "/approver/sessions/{SessionArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "SessionArn"
                ],
                "members": {
                    "SessionArn": {
                        "location": "uri",
                        "locationName": "SessionArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ApprovalTeamArn": {},
                    "ApprovalTeamName": {},
                    "ApprovalTeamDescription": {
                        "shape": "Sd"
                    },
                    "SessionArn": {},
                    "InitiationTime": {
                        "shape": "Sm"
                    },
                    "ExpirationTime": {
                        "shape": "Sm"
                    },
                    "CompletionTime": {
                        "shape": "Sm"
                    },
                    "SessionDescription": {
                        "shape": "S2v"
                    },
                    "ActionName": {},
                    "ActionCompletionStrategy": {},
                    "ProtectedResourceArn": {},
                    "RequesterServicePrincipal": {},
                    "RequesterPrincipalArn": {},
                    "RequesterRegion": {},
                    "RequesterAccountId": {},
                    "Vote": {},
                    "VotingTime": {
                        "shape": "Sm"
                    },
                    "Status": {},
                    "StatusCode": {},
                    "StatusMessage": {},
                    "RequesterComment": {},
                    "Metadata": {
                        "shape": "S2e"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XUVJBSZOPQPT6Z6OEPTUN5WMETJJ3SQ63SQJROXSVXOGA6R2VSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ANNRRA2Y4G3IHETDOH3B6QUGJTENOKXQYGQEOCCQFPQVIYI6QEKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIHCHYPS23JR234HTSQ6NMNG4HNY6B5NWFI7GJZNMCUVNARJOBGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3R5IFJWZX2AT5G4QKYVG5KJTZKGDZDTWLON7JWR2UF5V2K7PBEKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CKZKKHYCCMOECWLNL534DDCTX4GO5PNBNNIYMIBR3OJFSX5MTCCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77AW42FTLQLOHMLJWQ3VDIZ7Q5XMH4XILJLDPIN3ST5WU45U4QMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YPPD46RT224GYIHWYZ6WBKE7DOTFJO5MJYP2MLKSHKJP4EN5NZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFLRWT75TAE5ASLXITTPYKIEHVOSGSKOH2S5P3CQEXL3LN7LDRMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7QIX5XMNU2XLME26TTGU7AE4N4ZLECF6N6AKGCZVJZ73DNH4ZFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6U55LTUS7Y7BRR3DRR5UGGALBN6CKYWMA3UKNAWCON7WK6B2E2UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/236T7VP3TJ753PFKPO6JUHFOCS2TJ6SAG3LELXCD3H4AWVVG3G3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2SJH65T4N3P2VA5S5WV2QSR2VELJAYQJBHTIJOEJMHVLJW4H5VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IN7XIIP3XI6P7BXZHQ6TSBSMEV3FPBL33LBESXOPBECF2NOTSFYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWKRXLCXW5PCU3H3MR7ZYXMGT3QJHN25DBN25QV65X6HYZR4AMFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js"
            ]
        },
        "ListApprovalTeams": {
            "http": {
                "requestUri": "/approval-teams/?List",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "MaxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "NextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "ApprovalTeams": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "CreationTime": {
                                    "shape": "Sm"
                                },
                                "ApprovalStrategy": {
                                    "shape": "S12"
                                },
                                "NumberOfApprovers": {
                                    "type": "integer"
                                },
                                "Arn": {},
                                "Name": {},
                                "Description": {
                                    "shape": "Sd"
                                },
                                "Status": {},
                                "StatusCode": {},
                                "StatusMessage": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XUVJBSZOPQPT6Z6OEPTUN5WMETJJ3SQ63SQJROXSVXOGA6R2VSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ANNRRA2Y4G3IHETDOH3B6QUGJTENOKXQYGQEOCCQFPQVIYI6QEKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIHCHYPS23JR234HTSQ6NMNG4HNY6B5NWFI7GJZNMCUVNARJOBGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3R5IFJWZX2AT5G4QKYVG5KJTZKGDZDTWLON7JWR2UF5V2K7PBEKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CKZKKHYCCMOECWLNL534DDCTX4GO5PNBNNIYMIBR3OJFSX5MTCCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77AW42FTLQLOHMLJWQ3VDIZ7Q5XMH4XILJLDPIN3ST5WU45U4QMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YPPD46RT224GYIHWYZ6WBKE7DOTFJO5MJYP2MLKSHKJP4EN5NZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFLRWT75TAE5ASLXITTPYKIEHVOSGSKOH2S5P3CQEXL3LN7LDRMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7QIX5XMNU2XLME26TTGU7AE4N4ZLECF6N6AKGCZVJZ73DNH4ZFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6U55LTUS7Y7BRR3DRR5UGGALBN6CKYWMA3UKNAWCON7WK6B2E2UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/236T7VP3TJ753PFKPO6JUHFOCS2TJ6SAG3LELXCD3H4AWVVG3G3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2SJH65T4N3P2VA5S5WV2QSR2VELJAYQJBHTIJOEJMHVLJW4H5VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IN7XIIP3XI6P7BXZHQ6TSBSMEV3FPBL33LBESXOPBECF2NOTSFYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWKRXLCXW5PCU3H3MR7ZYXMGT3QJHN25DBN25QV65X6HYZR4AMFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js"
            ]
        },
        "ListApprovalTeamsForApprover": {
            "http": {
                "requestUri": "/approver/approval-teams/?List",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "MaxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "NextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "ApprovalTeams": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Arn": {},
                                "Name": {},
                                "Description": {
                                    "shape": "Sd"
                                },
                                "Status": {},
                                "CreationTime": {
                                    "shape": "Sm"
                                },
                                "EnrollmentTime": {
                                    "shape": "Sm"
                                }
                            }
                        }
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XUVJBSZOPQPT6Z6OEPTUN5WMETJJ3SQ63SQJROXSVXOGA6R2VSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ANNRRA2Y4G3IHETDOH3B6QUGJTENOKXQYGQEOCCQFPQVIYI6QEKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIHCHYPS23JR234HTSQ6NMNG4HNY6B5NWFI7GJZNMCUVNARJOBGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3R5IFJWZX2AT5G4QKYVG5KJTZKGDZDTWLON7JWR2UF5V2K7PBEKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CKZKKHYCCMOECWLNL534DDCTX4GO5PNBNNIYMIBR3OJFSX5MTCCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77AW42FTLQLOHMLJWQ3VDIZ7Q5XMH4XILJLDPIN3ST5WU45U4QMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YPPD46RT224GYIHWYZ6WBKE7DOTFJO5MJYP2MLKSHKJP4EN5NZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFLRWT75TAE5ASLXITTPYKIEHVOSGSKOH2S5P3CQEXL3LN7LDRMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7QIX5XMNU2XLME26TTGU7AE4N4ZLECF6N6AKGCZVJZ73DNH4ZFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6U55LTUS7Y7BRR3DRR5UGGALBN6CKYWMA3UKNAWCON7WK6B2E2UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/236T7VP3TJ753PFKPO6JUHFOCS2TJ6SAG3LELXCD3H4AWVVG3G3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2SJH65T4N3P2VA5S5WV2QSR2VELJAYQJBHTIJOEJMHVLJW4H5VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IN7XIIP3XI6P7BXZHQ6TSBSMEV3FPBL33LBESXOPBECF2NOTSFYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWKRXLCXW5PCU3H3MR7ZYXMGT3QJHN25DBN25QV65X6HYZR4AMFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js"
            ]
        },
        "ListConsumerAccounts": {
            "http": {
                "requestUri": "/ListConsumerAccounts",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceType"
                ],
                "members": {
                    "ResourceType": {},
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "AccountIds"
                ],
                "members": {
                    "NextToken": {},
                    "AccountIds": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XUVJBSZOPQPT6Z6OEPTUN5WMETJJ3SQ63SQJROXSVXOGA6R2VSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ANNRRA2Y4G3IHETDOH3B6QUGJTENOKXQYGQEOCCQFPQVIYI6QEKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIHCHYPS23JR234HTSQ6NMNG4HNY6B5NWFI7GJZNMCUVNARJOBGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3R5IFJWZX2AT5G4QKYVG5KJTZKGDZDTWLON7JWR2UF5V2K7PBEKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CKZKKHYCCMOECWLNL534DDCTX4GO5PNBNNIYMIBR3OJFSX5MTCCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77AW42FTLQLOHMLJWQ3VDIZ7Q5XMH4XILJLDPIN3ST5WU45U4QMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YPPD46RT224GYIHWYZ6WBKE7DOTFJO5MJYP2MLKSHKJP4EN5NZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFLRWT75TAE5ASLXITTPYKIEHVOSGSKOH2S5P3CQEXL3LN7LDRMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7QIX5XMNU2XLME26TTGU7AE4N4ZLECF6N6AKGCZVJZ73DNH4ZFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6U55LTUS7Y7BRR3DRR5UGGALBN6CKYWMA3UKNAWCON7WK6B2E2UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/236T7VP3TJ753PFKPO6JUHFOCS2TJ6SAG3LELXCD3H4AWVVG3G3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2SJH65T4N3P2VA5S5WV2QSR2VELJAYQJBHTIJOEJMHVLJW4H5VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IN7XIIP3XI6P7BXZHQ6TSBSMEV3FPBL33LBESXOPBECF2NOTSFYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWKRXLCXW5PCU3H3MR7ZYXMGT3QJHN25DBN25QV65X6HYZR4AMFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js"
            ]
        },
        "ListIdentitySources": {
            "http": {
                "requestUri": "/identity-sources/?List",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "MaxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "NextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "IdentitySources": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "IdentitySourceType": {},
                                "IdentitySourceParameters": {
                                    "type": "structure",
                                    "members": {
                                        "IamIdentityCenter": {
                                            "type": "structure",
                                            "members": {
                                                "InstanceArn": {},
                                                "ApprovalPortalUrl": {},
                                                "Region": {}
                                            }
                                        }
                                    },
                                    "union": true
                                },
                                "IdentitySourceArn": {},
                                "CreationTime": {
                                    "shape": "Sm"
                                },
                                "Status": {},
                                "StatusCode": {},
                                "StatusMessage": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XUVJBSZOPQPT6Z6OEPTUN5WMETJJ3SQ63SQJROXSVXOGA6R2VSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ANNRRA2Y4G3IHETDOH3B6QUGJTENOKXQYGQEOCCQFPQVIYI6QEKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIHCHYPS23JR234HTSQ6NMNG4HNY6B5NWFI7GJZNMCUVNARJOBGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3R5IFJWZX2AT5G4QKYVG5KJTZKGDZDTWLON7JWR2UF5V2K7PBEKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CKZKKHYCCMOECWLNL534DDCTX4GO5PNBNNIYMIBR3OJFSX5MTCCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77AW42FTLQLOHMLJWQ3VDIZ7Q5XMH4XILJLDPIN3ST5WU45U4QMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YPPD46RT224GYIHWYZ6WBKE7DOTFJO5MJYP2MLKSHKJP4EN5NZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFLRWT75TAE5ASLXITTPYKIEHVOSGSKOH2S5P3CQEXL3LN7LDRMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7QIX5XMNU2XLME26TTGU7AE4N4ZLECF6N6AKGCZVJZ73DNH4ZFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6U55LTUS7Y7BRR3DRR5UGGALBN6CKYWMA3UKNAWCON7WK6B2E2UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/236T7VP3TJ753PFKPO6JUHFOCS2TJ6SAG3LELXCD3H4AWVVG3G3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2SJH65T4N3P2VA5S5WV2QSR2VELJAYQJBHTIJOEJMHVLJW4H5VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IN7XIIP3XI6P7BXZHQ6TSBSMEV3FPBL33LBESXOPBECF2NOTSFYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWKRXLCXW5PCU3H3MR7ZYXMGT3QJHN25DBN25QV65X6HYZR4AMFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js"
            ]
        },
        "ListInvitationsForApprover": {
            "http": {
                "requestUri": "/approver/invitations/?List",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "MaxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "NextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "Invitations": {
                        "type": "list",
                        "member": {
                            "shape": "S1s"
                        }
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XUVJBSZOPQPT6Z6OEPTUN5WMETJJ3SQ63SQJROXSVXOGA6R2VSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ANNRRA2Y4G3IHETDOH3B6QUGJTENOKXQYGQEOCCQFPQVIYI6QEKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIHCHYPS23JR234HTSQ6NMNG4HNY6B5NWFI7GJZNMCUVNARJOBGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3R5IFJWZX2AT5G4QKYVG5KJTZKGDZDTWLON7JWR2UF5V2K7PBEKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CKZKKHYCCMOECWLNL534DDCTX4GO5PNBNNIYMIBR3OJFSX5MTCCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77AW42FTLQLOHMLJWQ3VDIZ7Q5XMH4XILJLDPIN3ST5WU45U4QMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YPPD46RT224GYIHWYZ6WBKE7DOTFJO5MJYP2MLKSHKJP4EN5NZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFLRWT75TAE5ASLXITTPYKIEHVOSGSKOH2S5P3CQEXL3LN7LDRMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7QIX5XMNU2XLME26TTGU7AE4N4ZLECF6N6AKGCZVJZ73DNH4ZFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6U55LTUS7Y7BRR3DRR5UGGALBN6CKYWMA3UKNAWCON7WK6B2E2UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/236T7VP3TJ753PFKPO6JUHFOCS2TJ6SAG3LELXCD3H4AWVVG3G3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2SJH65T4N3P2VA5S5WV2QSR2VELJAYQJBHTIJOEJMHVLJW4H5VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IN7XIIP3XI6P7BXZHQ6TSBSMEV3FPBL33LBESXOPBECF2NOTSFYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWKRXLCXW5PCU3H3MR7ZYXMGT3QJHN25DBN25QV65X6HYZR4AMFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
[...]
