{
    "metadata": {
        "apiVersion": "2017-11-27",
        "endpointPrefix": "mq",
        "signingName": "mq",
        "serviceFullName": "AmazonMQ",
        "serviceId": "mq",
        "protocol": "rest-json",
        "jsonVersion": "1.1",
        "uid": "mq-2017-11-27",
        "signatureVersion": "v4",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HQDPGUO7WA3U7JWOFR7VRYJTZCD7VADEAOZ24W63WWAO3JOJYPPQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XIM7KCL4MNGLR565AHPQ4SNCWGUEFJ52CNIGC3O3Q3GYFUPM6KNA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2OVOEDMZSNVWA5MLKCMWHPN55XMPLEJ6L4CF2FTHL3TOW5HNX2OQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LNL5FM7H45UUBQOGAOXZMW3GFGKBG5EWY5CDMUTMYB24MAU25Q4Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SI2SM5XKC3CY72AW6VS7X3BJWKCRBBQS73ASLKUJZPPB57HPTBOA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/W6CE3MT7NH3ORDGK24XCPMBMDXDNU7T6CT7H2KFF4PDXXZEB6KTQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UVLHGSTZKL33XPHUJVTGXT3CYCIO6PM3D7RG5OZIYLUXENX7WYUQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OG2VKACCB73ZTRB24STN5XCNJJ2HJPRIBBRC45CMGMPSPZR7TYVQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KK7GJ6K7EZYJWDNLK7A2IEFTKVQXEBXU2LGHWEBP7BPFSS7JSIDQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/K7PKFOOL4QEH57UBSREYHKDS4ZKPIIOQVK7PRU2DX2UJTNHANDKA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js"
        ]
    },
    "operations": {
        "CreateBroker": {
            "http": {
                "requestUri": "/v1/brokers",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "AuthenticationStrategy": {
                        "locationName": "authenticationStrategy"
                    },
                    "AutoMinorVersionUpgrade": {
                        "locationName": "autoMinorVersionUpgrade",
                        "type": "boolean"
                    },
                    "BrokerName": {
                        "locationName": "brokerName"
                    },
                    "Configuration": {
                        "shape": "S5",
                        "locationName": "configuration"
                    },
                    "CreatorRequestId": {
                        "locationName": "creatorRequestId",
                        "idempotencyToken": true
                    },
                    "DeploymentMode": {
                        "locationName": "deploymentMode"
                    },
                    "EncryptionOptions": {
                        "shape": "S8",
                        "locationName": "encryptionOptions"
                    },
                    "EngineType": {
                        "locationName": "engineType"
                    },
                    "EngineVersion": {
                        "locationName": "engineVersion"
                    },
                    "HostInstanceType": {
                        "locationName": "hostInstanceType"
                    },
                    "LdapServerMetadata": {
                        "shape": "Sa",
                        "locationName": "ldapServerMetadata"
                    },
                    "Logs": {
                        "shape": "Sc",
                        "locationName": "logs"
                    },
                    "MaintenanceWindowStartTime": {
                        "shape": "Sd",
                        "locationName": "maintenanceWindowStartTime"
                    },
                    "PubliclyAccessible": {
                        "locationName": "publiclyAccessible",
                        "type": "boolean"
                    },
                    "SecurityGroups": {
                        "shape": "Sb",
                        "locationName": "securityGroups"
                    },
                    "StorageType": {
                        "locationName": "storageType"
                    },
                    "SubnetIds": {
                        "shape": "Sb",
                        "locationName": "subnetIds"
                    },
                    "Tags": {
                        "shape": "Sg",
                        "locationName": "tags"
                    },
                    "Users": {
                        "locationName": "users",
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ConsoleAccess": {
                                    "locationName": "consoleAccess",
                                    "type": "boolean"
                                },
                                "Groups": {
                                    "shape": "Sb",
                                    "locationName": "groups"
                                },
                                "Password": {
                                    "locationName": "password"
                                },
                                "Username": {
                                    "locationName": "username"
                                }
                            },
                            "required": [
                                "Username",
                                "Password"
                            ]
                        }
                    },
                    "DataReplicationMode": {
                        "locationName": "dataReplicationMode"
                    },
                    "DataReplicationPrimaryBrokerArn": {
                        "locationName": "dataReplicationPrimaryBrokerArn"
                    }
                },
                "required": [
                    "EngineVersion",
                    "HostInstanceType",
                    "AutoMinorVersionUpgrade",
                    "Users",
                    "BrokerName",
                    "DeploymentMode",
                    "EngineType",
                    "PubliclyAccessible"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "BrokerArn": {
                        "locationName": "brokerArn"
                    },
                    "BrokerId": {
                        "locationName": "brokerId"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQDPGUO7WA3U7JWOFR7VRYJTZCD7VADEAOZ24W63WWAO3JOJYPPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XIM7KCL4MNGLR565AHPQ4SNCWGUEFJ52CNIGC3O3Q3GYFUPM6KNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OVOEDMZSNVWA5MLKCMWHPN55XMPLEJ6L4CF2FTHL3TOW5HNX2OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNL5FM7H45UUBQOGAOXZMW3GFGKBG5EWY5CDMUTMYB24MAU25Q4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SI2SM5XKC3CY72AW6VS7X3BJWKCRBBQS73ASLKUJZPPB57HPTBOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6CE3MT7NH3ORDGK24XCPMBMDXDNU7T6CT7H2KFF4PDXXZEB6KTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UVLHGSTZKL33XPHUJVTGXT3CYCIO6PM3D7RG5OZIYLUXENX7WYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OG2VKACCB73ZTRB24STN5XCNJJ2HJPRIBBRC45CMGMPSPZR7TYVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KK7GJ6K7EZYJWDNLK7A2IEFTKVQXEBXU2LGHWEBP7BPFSS7JSIDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7PKFOOL4QEH57UBSREYHKDS4ZKPIIOQVK7PRU2DX2UJTNHANDKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js"
            ]
        },
        "CreateConfiguration": {
            "http": {
                "requestUri": "/v1/configurations",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "AuthenticationStrategy": {
                        "locationName": "authenticationStrategy"
                    },
                    "EngineType": {
                        "locationName": "engineType"
                    },
                    "EngineVersion": {
                        "locationName": "engineVersion"
                    },
                    "Name": {
                        "locationName": "name"
                    },
                    "Tags": {
                        "shape": "Sg",
                        "locationName": "tags"
                    }
                },
                "required": [
                    "EngineVersion",
                    "EngineType",
                    "Name"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "Arn": {
                        "locationName": "arn"
                    },
                    "AuthenticationStrategy": {
                        "locationName": "authenticationStrategy"
                    },
                    "Created": {
                        "shape": "Sm",
                        "locationName": "created"
                    },
                    "Id": {
                        "locationName": "id"
                    },
                    "LatestRevision": {
                        "shape": "Sn",
                        "locationName": "latestRevision"
                    },
                    "Name": {
                        "locationName": "name"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQDPGUO7WA3U7JWOFR7VRYJTZCD7VADEAOZ24W63WWAO3JOJYPPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XIM7KCL4MNGLR565AHPQ4SNCWGUEFJ52CNIGC3O3Q3GYFUPM6KNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OVOEDMZSNVWA5MLKCMWHPN55XMPLEJ6L4CF2FTHL3TOW5HNX2OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNL5FM7H45UUBQOGAOXZMW3GFGKBG5EWY5CDMUTMYB24MAU25Q4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SI2SM5XKC3CY72AW6VS7X3BJWKCRBBQS73ASLKUJZPPB57HPTBOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6CE3MT7NH3ORDGK24XCPMBMDXDNU7T6CT7H2KFF4PDXXZEB6KTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UVLHGSTZKL33XPHUJVTGXT3CYCIO6PM3D7RG5OZIYLUXENX7WYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OG2VKACCB73ZTRB24STN5XCNJJ2HJPRIBBRC45CMGMPSPZR7TYVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KK7GJ6K7EZYJWDNLK7A2IEFTKVQXEBXU2LGHWEBP7BPFSS7JSIDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7PKFOOL4QEH57UBSREYHKDS4ZKPIIOQVK7PRU2DX2UJTNHANDKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js"
            ]
        },
        "CreateTags": {
            "http": {
                "requestUri": "/v1/tags/{resource-arn}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "members": {
                    "ResourceArn": {
                        "location": "uri",
                        "locationName": "resource-arn"
                    },
                    "Tags": {
                        "shape": "Sg",
                        "locationName": "tags"
                    }
                },
                "required": [
                    "ResourceArn"
                ]
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQDPGUO7WA3U7JWOFR7VRYJTZCD7VADEAOZ24W63WWAO3JOJYPPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XIM7KCL4MNGLR565AHPQ4SNCWGUEFJ52CNIGC3O3Q3GYFUPM6KNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OVOEDMZSNVWA5MLKCMWHPN55XMPLEJ6L4CF2FTHL3TOW5HNX2OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNL5FM7H45UUBQOGAOXZMW3GFGKBG5EWY5CDMUTMYB24MAU25Q4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SI2SM5XKC3CY72AW6VS7X3BJWKCRBBQS73ASLKUJZPPB57HPTBOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6CE3MT7NH3ORDGK24XCPMBMDXDNU7T6CT7H2KFF4PDXXZEB6KTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UVLHGSTZKL33XPHUJVTGXT3CYCIO6PM3D7RG5OZIYLUXENX7WYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OG2VKACCB73ZTRB24STN5XCNJJ2HJPRIBBRC45CMGMPSPZR7TYVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KK7GJ6K7EZYJWDNLK7A2IEFTKVQXEBXU2LGHWEBP7BPFSS7JSIDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7PKFOOL4QEH57UBSREYHKDS4ZKPIIOQVK7PRU2DX2UJTNHANDKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js"
            ]
        },
        "CreateUser": {
            "http": {
                "requestUri": "/v1/brokers/{broker-id}/users/{username}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "BrokerId": {
                        "location": "uri",
                        "locationName": "broker-id"
                    },
                    "ConsoleAccess": {
                        "locationName": "consoleAccess",
                        "type": "boolean"
                    },
                    "Groups": {
                        "shape": "Sb",
                        "locationName": "groups"
                    },
                    "Password": {
                        "locationName": "password"
                    },
                    "Username": {
                        "location": "uri",
                        "locationName": "username"
                    },
                    "ReplicationUser": {
                        "locationName": "replicationUser",
                        "type": "boolean"
                    }
                },
                "required": [
                    "Username",
                    "BrokerId",
                    "Password"
                ]
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQDPGUO7WA3U7JWOFR7VRYJTZCD7VADEAOZ24W63WWAO3JOJYPPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XIM7KCL4MNGLR565AHPQ4SNCWGUEFJ52CNIGC3O3Q3GYFUPM6KNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OVOEDMZSNVWA5MLKCMWHPN55XMPLEJ6L4CF2FTHL3TOW5HNX2OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNL5FM7H45UUBQOGAOXZMW3GFGKBG5EWY5CDMUTMYB24MAU25Q4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SI2SM5XKC3CY72AW6VS7X3BJWKCRBBQS73ASLKUJZPPB57HPTBOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6CE3MT7NH3ORDGK24XCPMBMDXDNU7T6CT7H2KFF4PDXXZEB6KTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UVLHGSTZKL33XPHUJVTGXT3CYCIO6PM3D7RG5OZIYLUXENX7WYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OG2VKACCB73ZTRB24STN5XCNJJ2HJPRIBBRC45CMGMPSPZR7TYVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KK7GJ6K7EZYJWDNLK7A2IEFTKVQXEBXU2LGHWEBP7BPFSS7JSIDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7PKFOOL4QEH57UBSREYHKDS4ZKPIIOQVK7PRU2DX2UJTNHANDKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js"
            ]
        },
        "DeleteBroker": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v1/brokers/{broker-id}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "BrokerId": {
                        "location": "uri",
                        "locationName": "broker-id"
                    }
                },
                "required": [
                    "BrokerId"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "BrokerId": {
                        "locationName": "brokerId"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQDPGUO7WA3U7JWOFR7VRYJTZCD7VADEAOZ24W63WWAO3JOJYPPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XIM7KCL4MNGLR565AHPQ4SNCWGUEFJ52CNIGC3O3Q3GYFUPM6KNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OVOEDMZSNVWA5MLKCMWHPN55XMPLEJ6L4CF2FTHL3TOW5HNX2OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNL5FM7H45UUBQOGAOXZMW3GFGKBG5EWY5CDMUTMYB24MAU25Q4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SI2SM5XKC3CY72AW6VS7X3BJWKCRBBQS73ASLKUJZPPB57HPTBOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6CE3MT7NH3ORDGK24XCPMBMDXDNU7T6CT7H2KFF4PDXXZEB6KTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UVLHGSTZKL33XPHUJVTGXT3CYCIO6PM3D7RG5OZIYLUXENX7WYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OG2VKACCB73ZTRB24STN5XCNJJ2HJPRIBBRC45CMGMPSPZR7TYVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KK7GJ6K7EZYJWDNLK7A2IEFTKVQXEBXU2LGHWEBP7BPFSS7JSIDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7PKFOOL4QEH57UBSREYHKDS4ZKPIIOQVK7PRU2DX2UJTNHANDKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js"
            ]
        },
        "DeleteTags": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v1/tags/{resource-arn}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "members": {
                    "ResourceArn": {
                        "location": "uri",
                        "locationName": "resource-arn"
                    },
                    "TagKeys": {
                        "shape": "Sb",
                        "location": "querystring",
                        "locationName": "tagKeys"
                    }
                },
                "required": [
                    "TagKeys",
                    "ResourceArn"
                ]
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQDPGUO7WA3U7JWOFR7VRYJTZCD7VADEAOZ24W63WWAO3JOJYPPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XIM7KCL4MNGLR565AHPQ4SNCWGUEFJ52CNIGC3O3Q3GYFUPM6KNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OVOEDMZSNVWA5MLKCMWHPN55XMPLEJ6L4CF2FTHL3TOW5HNX2OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNL5FM7H45UUBQOGAOXZMW3GFGKBG5EWY5CDMUTMYB24MAU25Q4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SI2SM5XKC3CY72AW6VS7X3BJWKCRBBQS73ASLKUJZPPB57HPTBOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6CE3MT7NH3ORDGK24XCPMBMDXDNU7T6CT7H2KFF4PDXXZEB6KTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UVLHGSTZKL33XPHUJVTGXT3CYCIO6PM3D7RG5OZIYLUXENX7WYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OG2VKACCB73ZTRB24STN5XCNJJ2HJPRIBBRC45CMGMPSPZR7TYVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KK7GJ6K7EZYJWDNLK7A2IEFTKVQXEBXU2LGHWEBP7BPFSS7JSIDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7PKFOOL4QEH57UBSREYHKDS4ZKPIIOQVK7PRU2DX2UJTNHANDKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js"
            ]
        },
        "DeleteUser": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v1/brokers/{broker-id}/users/{username}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "BrokerId": {
                        "location": "uri",
                        "locationName": "broker-id"
                    },
                    "Username": {
                        "location": "uri",
                        "locationName": "username"
                    }
                },
                "required": [
                    "Username",
                    "BrokerId"
                ]
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQDPGUO7WA3U7JWOFR7VRYJTZCD7VADEAOZ24W63WWAO3JOJYPPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XIM7KCL4MNGLR565AHPQ4SNCWGUEFJ52CNIGC3O3Q3GYFUPM6KNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OVOEDMZSNVWA5MLKCMWHPN55XMPLEJ6L4CF2FTHL3TOW5HNX2OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNL5FM7H45UUBQOGAOXZMW3GFGKBG5EWY5CDMUTMYB24MAU25Q4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SI2SM5XKC3CY72AW6VS7X3BJWKCRBBQS73ASLKUJZPPB57HPTBOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6CE3MT7NH3ORDGK24XCPMBMDXDNU7T6CT7H2KFF4PDXXZEB6KTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UVLHGSTZKL33XPHUJVTGXT3CYCIO6PM3D7RG5OZIYLUXENX7WYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OG2VKACCB73ZTRB24STN5XCNJJ2HJPRIBBRC45CMGMPSPZR7TYVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KK7GJ6K7EZYJWDNLK7A2IEFTKVQXEBXU2LGHWEBP7BPFSS7JSIDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7PKFOOL4QEH57UBSREYHKDS4ZKPIIOQVK7PRU2DX2UJTNHANDKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js"
            ]
        },
        "DescribeBroker": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/brokers/{broker-id}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "BrokerId": {
                        "location": "uri",
                        "locationName": "broker-id"
                    }
                },
                "required": [
                    "BrokerId"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "ActionsRequired": {
                        "locationName": "actionsRequired",
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ActionRequiredCode": {
                                    "locationName": "actionRequiredCode"
                                },
                                "ActionRequiredInfo": {
                                    "locationName": "actionRequiredInfo"
                                }
                            }
                        }
                    },
                    "AuthenticationStrategy": {
                        "locationName": "authenticationStrategy"
                    },
                    "AutoMinorVersionUpgrade": {
                        "locationName": "autoMinorVersionUpgrade",
                        "type": "boolean"
                    },
                    "BrokerArn": {
                        "locationName": "brokerArn"
                    },
                    "BrokerId": {
                        "locationName": "brokerId"
                    },
                    "BrokerInstances": {
                        "locationName": "brokerInstances",
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ConsoleURL": {
                                    "locationName": "consoleURL"
                                },
                                "Endpoints": {
                                    "shape": "Sb",
                                    "locationName": "endpoints"
                                },
                                "IpAddress": {
                                    "locationName": "ipAddress"
                                }
                            }
                        }
                    },
                    "BrokerName": {
                        "locationName": "brokerName"
                    },
                    "BrokerState": {
                        "locationName": "brokerState"
                    },
                    "Configurations": {
                        "locationName": "configurations",
                        "type": "structure",
                        "members": {
                            "Current": {
                                "shape": "S5",
                                "locationName": "current"
                            },
                            "History": {
                                "locationName": "history",
                                "type": "list",
                                "member": {
                                    "shape": "S5"
                                }
                            },
                            "Pending": {
                                "shape": "S5",
                                "locationName": "pending"
                            }
                        }
                    },
                    "Created": {
                        "shape": "Sm",
                        "locationName": "created"
                    },
                    "DeploymentMode": {
                        "locationName": "deploymentMode"
                    },
                    "EncryptionOptions": {
                        "shape": "S8",
                        "locationName": "encryptionOptions"
                    },
                    "EngineType": {
                        "locationName": "engineType"
                    },
                    "EngineVersion": {
                        "locationName": "engineVersion"
                    },
                    "HostInstanceType": {
                        "locationName": "hostInstanceType"
                    },
                    "LdapServerMetadata": {
                        "shape": "S15",
                        "locationName": "ldapServerMetadata"
                    },
                    "Logs": {
                        "locationName": "logs",
                        "type": "structure",
                        "members": {
                            "Audit": {
                                "locationName": "audit",
                                "type": "boolean"
                            },
                            "AuditLogGroup": {
                                "locationName": "auditLogGroup"
                            },
                            "General": {
                                "locationName": "general",
                                "type": "boolean"
                            },
                            "GeneralLogGroup": {
                                "locationName": "generalLogGroup"
                            },
                            "Pending": {
                                "locationName": "pending",
                                "type": "structure",
                                "members": {
                                    "Audit": {
                                        "locationName": "audit",
                                        "type": "boolean"
                                    },
                                    "General": {
                                        "locationName": "general",
                                        "type": "boolean"
                                    }
                                }
                            }
                        },
                        "required": [
                            "GeneralLogGroup",
                            "General"
                        ]
                    },
                    "MaintenanceWindowStartTime": {
                        "shape": "Sd",
                        "locationName": "maintenanceWindowStartTime"
                    },
                    "PendingAuthenticationStrategy": {
                        "locationName": "pendingAuthenticationStrategy"
                    },
                    "PendingEngineVersion": {
                        "locationName": "pendingEngineVersion"
                    },
                    "PendingHostInstanceType": {
                        "locationName": "pendingHostInstanceType"
                    },
                    "PendingLdapServerMetadata": {
                        "shape": "S15",
                        "locationName": "pendingLdapServerMetadata"
                    },
                    "PendingSecurityGroups": {
                        "shape": "Sb",
                        "locationName": "pendingSecurityGroups"
                    },
                    "PubliclyAccessible": {
                        "locationName": "publiclyAccessible",
                        "type": "boolean"
                    },
                    "SecurityGroups": {
                        "shape": "Sb",
                        "locationName": "securityGroups"
                    },
                    "StorageType": {
                        "locationName": "storageType"
                    },
                    "SubnetIds": {
                        "shape": "Sb",
                        "locationName": "subnetIds"
                    },
                    "Tags": {
                        "shape": "Sg",
                        "locationName": "tags"
                    },
                    "Users": {
                        "shape": "S18",
                        "locationName": "users"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQDPGUO7WA3U7JWOFR7VRYJTZCD7VADEAOZ24W63WWAO3JOJYPPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XIM7KCL4MNGLR565AHPQ4SNCWGUEFJ52CNIGC3O3Q3GYFUPM6KNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OVOEDMZSNVWA5MLKCMWHPN55XMPLEJ6L4CF2FTHL3TOW5HNX2OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNL5FM7H45UUBQOGAOXZMW3GFGKBG5EWY5CDMUTMYB24MAU25Q4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SI2SM5XKC3CY72AW6VS7X3BJWKCRBBQS73ASLKUJZPPB57HPTBOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6CE3MT7NH3ORDGK24XCPMBMDXDNU7T6CT7H2KFF4PDXXZEB6KTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UVLHGSTZKL33XPHUJVTGXT3CYCIO6PM3D7RG5OZIYLUXENX7WYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OG2VKACCB73ZTRB24STN5XCNJJ2HJPRIBBRC45CMGMPSPZR7TYVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KK7GJ6K7EZYJWDNLK7A2IEFTKVQXEBXU2LGHWEBP7BPFSS7JSIDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7PKFOOL4QEH57UBSREYHKDS4ZKPIIOQVK7PRU2DX2UJTNHANDKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js"
            ]
        },
        "DescribeBrokerEngineTypes": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/broker-engine-types",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "EngineType": {
                        "location": "querystring",
                        "locationName": "engineType"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "BrokerEngineTypes": {
                        "locationName": "brokerEngineTypes",
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "EngineType": {
                                    "locationName": "engineType"
                                },
                                "EngineVersions": {
                                    "locationName": "engineVersions",
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "Name": {
                                                "locationName": "name"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "MaxResults": {
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "locationName": "nextToken"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQDPGUO7WA3U7JWOFR7VRYJTZCD7VADEAOZ24W63WWAO3JOJYPPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XIM7KCL4MNGLR565AHPQ4SNCWGUEFJ52CNIGC3O3Q3GYFUPM6KNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OVOEDMZSNVWA5MLKCMWHPN55XMPLEJ6L4CF2FTHL3TOW5HNX2OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNL5FM7H45UUBQOGAOXZMW3GFGKBG5EWY5CDMUTMYB24MAU25Q4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SI2SM5XKC3CY72AW6VS7X3BJWKCRBBQS73ASLKUJZPPB57HPTBOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6CE3MT7NH3ORDGK24XCPMBMDXDNU7T6CT7H2KFF4PDXXZEB6KTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UVLHGSTZKL33XPHUJVTGXT3CYCIO6PM3D7RG5OZIYLUXENX7WYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OG2VKACCB73ZTRB24STN5XCNJJ2HJPRIBBRC45CMGMPSPZR7TYVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KK7GJ6K7EZYJWDNLK7A2IEFTKVQXEBXU2LGHWEBP7BPFSS7JSIDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7PKFOOL4QEH57UBSREYHKDS4ZKPIIOQVK7PRU2DX2UJTNHANDKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js"
            ]
        },
        "DescribeBrokerInstanceOptions": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/broker-instance-options",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "EngineType": {
                        "location": "querystring",
                        "locationName": "engineType"
                    },
                    "HostInstanceType": {
                        "location": "querystring",
                        "locationName": "hostInstanceType"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "StorageType": {
                        "location": "querystring",
                        "locationName": "storageType"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "BrokerInstanceOptions": {
                        "locationName": "brokerInstanceOptions",
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "AvailabilityZones": {
                                    "locationName": "availabilityZones",
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "Name": {
                                                "locationName": "name"
                                            }
                                        }
                                    }
                                },
                                "EngineType": {
                                    "locationName": "engineType"
                                },
                                "HostInstanceType": {
                                    "locationName": "hostInstanceType"
                                },
                                "StorageType": {
                                    "locationName": "storageType"
                                },
                                "SupportedDeploymentModes": {
                                    "locationName": "supportedDeploymentModes",
                                    "type": "list",
                                    "member": {}
                                },
                                "SupportedEngineVersions": {
                                    "shape": "Sb",
                                    "locationName": "supportedEngineVersions"
                                }
                            }
                        }
                    },
                    "MaxResults": {
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "locationName": "nextToken"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQDPGUO7WA3U7JWOFR7VRYJTZCD7VADEAOZ24W63WWAO3JOJYPPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XIM7KCL4MNGLR565AHPQ4SNCWGUEFJ52CNIGC3O3Q3GYFUPM6KNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OVOEDMZSNVWA5MLKCMWHPN55XMPLEJ6L4CF2FTHL3TOW5HNX2OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNL5FM7H45UUBQOGAOXZMW3GFGKBG5EWY5CDMUTMYB24MAU25Q4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SI2SM5XKC3CY72AW6VS7X3BJWKCRBBQS73ASLKUJZPPB57HPTBOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6CE3MT7NH3ORDGK24XCPMBMDXDNU7T6CT7H2KFF4PDXXZEB6KTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UVLHGSTZKL33XPHUJVTGXT3CYCIO6PM3D7RG5OZIYLUXENX7WYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OG2VKACCB73ZTRB24STN5XCNJJ2HJPRIBBRC45CMGMPSPZR7TYVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KK7GJ6K7EZYJWDNLK7A2IEFTKVQXEBXU2LGHWEBP7BPFSS7JSIDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7PKFOOL4QEH57UBSREYHKDS4ZKPIIOQVK7PRU2DX2UJTNHANDKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js"
            ]
        },
        "DescribeConfiguration": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/configurations/{configuration-id}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ConfigurationId": {
                        "location": "uri",
                        "locationName": "configuration-id"
                    }
                },
                "required": [
                    "ConfigurationId"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "Arn": {
                        "locationName": "arn"
                    },
                    "AuthenticationStrategy": {
                        "locationName": "authenticationStrategy"
                    },
                    "Created": {
                        "shape": "Sm",
                        "locationName": "created"
                    },
                    "Description": {
                        "locationName": "description"
                    },
                    "EngineType": {
                        "locationName": "engineType"
                    },
                    "EngineVersion": {
                        "locationName": "engineVersion"
                    },
                    "Id": {
                        "locationName": "id"
                    },
                    "LatestRevision": {
                        "shape": "Sn",
                        "locationName": "latestRevision"
                    },
                    "Name": {
                        "locationName": "name"
                    },
                    "Tags": {
                        "shape": "Sg",
                        "locationName": "tags"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQDPGUO7WA3U7JWOFR7VRYJTZCD7VADEAOZ24W63WWAO3JOJYPPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XIM7KCL4MNGLR565AHPQ4SNCWGUEFJ52CNIGC3O3Q3GYFUPM6KNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OVOEDMZSNVWA5MLKCMWHPN55XMPLEJ6L4CF2FTHL3TOW5HNX2OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNL5FM7H45UUBQOGAOXZMW3GFGKBG5EWY5CDMUTMYB24MAU25Q4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SI2SM5XKC3CY72AW6VS7X3BJWKCRBBQS73ASLKUJZPPB57HPTBOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6CE3MT7NH3ORDGK24XCPMBMDXDNU7T6CT7H2KFF4PDXXZEB6KTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UVLHGSTZKL33XPHUJVTGXT3CYCIO6PM3D7RG5OZIYLUXENX7WYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OG2VKACCB73ZTRB24STN5XCNJJ2HJPRIBBRC45CMGMPSPZR7TYVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KK7GJ6K7EZYJWDNLK7A2IEFTKVQXEBXU2LGHWEBP7BPFSS7JSIDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7PKFOOL4QEH57UBSREYHKDS4ZKPIIOQVK7PRU2DX2UJTNHANDKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js"
            ]
        },
        "DescribeConfigurationRevision": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/configurations/{configuration-id}/revisions/{configuration-revision}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ConfigurationId": {
                        "location": "uri",
                        "locationName": "configuration-id"
                    },
                    "ConfigurationRevision": {
                        "location": "uri",
                        "locationName": "configuration-revision"
                    }
                },
                "required": [
                    "ConfigurationRevision",
                    "ConfigurationId"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "ConfigurationId": {
                        "locationName": "configurationId"
                    },
                    "Created": {
                        "shape": "Sm",
                        "locationName": "created"
                    },
                    "Data": {
                        "locationName": "data"
                    },
                    "Description": {
                        "locationName": "description"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQDPGUO7WA3U7JWOFR7VRYJTZCD7VADEAOZ24W63WWAO3JOJYPPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XIM7KCL4MNGLR565AHPQ4SNCWGUEFJ52CNIGC3O3Q3GYFUPM6KNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OVOEDMZSNVWA5MLKCMWHPN55XMPLEJ6L4CF2FTHL3TOW5HNX2OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNL5FM7H45UUBQOGAOXZMW3GFGKBG5EWY5CDMUTMYB24MAU25Q4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SI2SM5XKC3CY72AW6VS7X3BJWKCRBBQS73ASLKUJZPPB57HPTBOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6CE3MT7NH3ORDGK24XCPMBMDXDNU7T6CT7H2KFF4PDXXZEB6KTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UVLHGSTZKL33XPHUJVTGXT3CYCIO6PM3D7RG5OZIYLUXENX7WYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OG2VKACCB73ZTRB24STN5XCNJJ2HJPRIBBRC45CMGMPSPZR7TYVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KK7GJ6K7EZYJWDNLK7A2IEFTKVQXEBXU2LGHWEBP7BPFSS7JSIDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7PKFOOL4QEH57UBSREYHKDS4ZKPIIOQVK7PRU2DX2UJTNHANDKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js"
            ]
        },
        "DescribeUser": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/brokers/{broker-id}/users/{username}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "BrokerId": {
                        "location": "uri",
                        "locationName": "broker-id"
                    },
                    "Username": {
                        "location": "uri",
                        "locationName": "username"
                    }
                },
                "required": [
                    "Username",
                    "BrokerId"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "BrokerId": {
                        "locationName": "brokerId"
                    },
                    "ConsoleAccess": {
                        "locationName": "consoleAccess",
                        "type": "boolean"
                    },
                    "Groups": {
                        "shape": "Sb",
                        "locationName": "groups"
                    },
                    "Pending": {
                        "locationName": "pending",
                        "type": "structure",
                        "members": {
                            "ConsoleAccess": {
                                "locationName": "consoleAccess",
                                "type": "boolean"
                            },
                            "Groups": {
                                "shape": "Sb",
                                "locationName": "groups"
                            },
                            "PendingChange": {
                                "locationName": "pendingChange"
                            }
                        },
                        "required": [
                            "PendingChange"
                        ]
                    },
                    "Username": {
                        "locationName": "username"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQDPGUO7WA3U7JWOFR7VRYJTZCD7VADEAOZ24W63WWAO3JOJYPPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XIM7KCL4MNGLR565AHPQ4SNCWGUEFJ52CNIGC3O3Q3GYFUPM6KNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OVOEDMZSNVWA5MLKCMWHPN55XMPLEJ6L4CF2FTHL3TOW5HNX2OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNL5FM7H45UUBQOGAOXZMW3GFGKBG5EWY5CDMUTMYB24MAU25Q4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SI2SM5XKC3CY72AW6VS7X3BJWKCRBBQS73ASLKUJZPPB57HPTBOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6CE3MT7NH3ORDGK24XCPMBMDXDNU7T6CT7H2KFF4PDXXZEB6KTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UVLHGSTZKL33XPHUJVTGXT3CYCIO6PM3D7RG5OZIYLUXENX7WYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OG2VKACCB73ZTRB24STN5XCNJJ2HJPRIBBRC45CMGMPSPZR7TYVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KK7GJ6K7EZYJWDNLK7A2IEFTKVQXEBXU2LGHWEBP7BPFSS7JSIDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7PKFOOL4QEH57UBSREYHKDS4ZKPIIOQVK7PRU2DX2UJTNHANDKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js"
            ]
        },
        "ListBrokers": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/brokers",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "BrokerSummaries": {
                        "locationName": "brokerSummaries",
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "BrokerArn": {
                                    "locationName": "brokerArn"
                                },
                                "BrokerId": {
                                    "locationName": "brokerId"
                                },
                                "BrokerName": {
                                    "locationName": "brokerName"
                                },
                                "BrokerState": {
                                    "locationName": "brokerState"
                                },
                                "Created": {
                                    "shape": "Sm",
                                    "locationName": "created"
                                },
                                "DeploymentMode": {
                                    "locationName": "deploymentMode"
                                },
                                "EngineType": {
                                    "locationName": "engineType"
                                },
                                "HostInstanceType": {
                                    "locationName": "hostInstanceType"
                                }
                            },
                            "required": [
                                "DeploymentMode",
                                "EngineType"
                            ]
                        }
                    },
                    "NextToken": {
                        "locationName": "nextToken"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQDPGUO7WA3U7JWOFR7VRYJTZCD7VADEAOZ24W63WWAO3JOJYPPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XIM7KCL4MNGLR565AHPQ4SNCWGUEFJ52CNIGC3O3Q3GYFUPM6KNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OVOEDMZSNVWA5MLKCMWHPN55XMPLEJ6L4CF2FTHL3TOW5HNX2OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNL5FM7H45UUBQOGAOXZMW3GFGKBG5EWY5CDMUTMYB24MAU25Q4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SI2SM5XKC3CY72AW6VS7X3BJWKCRBBQS73ASLKUJZPPB57HPTBOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6CE3MT7NH3ORDGK24XCPMBMDXDNU7T6CT7H2KFF4PDXXZEB6KTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UVLHGSTZKL33XPHUJVTGXT3CYCIO6PM3D7RG5OZIYLUXENX7WYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OG2VKACCB73ZTRB24STN5XCNJJ2HJPRIBBRC45CMGMPSPZR7TYVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KK7GJ6K7EZYJWDNLK7A2IEFTKVQXEBXU2LGHWEBP7BPFSS7JSIDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7PKFOOL4QEH57UBSREYHKDS4ZKPIIOQVK7PRU2DX2UJTNHANDKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js"
            ]
        },
        "ListConfigurationRevisions": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/configurations/{configuration-id}/revisions",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ConfigurationId": {
                        "location": "uri",
                        "locationName": "configuration-id"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                },
                "required": [
                    "ConfigurationId"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "ConfigurationId": {
                        "locationName": "configurationId"
                    },
                    "MaxResults": {
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "locationName": "nextToken"
                    },
                    "Revisions": {
                        "locationName": "revisions",
                        "type": "list",
                        "member": {
                            "shape": "Sn"
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQDPGUO7WA3U7JWOFR7VRYJTZCD7VADEAOZ24W63WWAO3JOJYPPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XIM7KCL4MNGLR565AHPQ4SNCWGUEFJ52CNIGC3O3Q3GYFUPM6KNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OVOEDMZSNVWA5MLKCMWHPN55XMPLEJ6L4CF2FTHL3TOW5HNX2OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNL5FM7H45UUBQOGAOXZMW3GFGKBG5EWY5CDMUTMYB24MAU25Q4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SI2SM5XKC3CY72AW6VS7X3BJWKCRBBQS73ASLKUJZPPB57HPTBOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6CE3MT7NH3ORDGK24XCPMBMDXDNU7T6CT7H2KFF4PDXXZEB6KTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UVLHGSTZKL33XPHUJVTGXT3CYCIO6PM3D7RG5OZIYLUXENX7WYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OG2VKACCB73ZTRB24STN5XCNJJ2HJPRIBBRC45CMGMPSPZR7TYVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KK7GJ6K7EZYJWDNLK7A2IEFTKVQXEBXU2LGHWEBP7BPFSS7JSIDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7PKFOOL4QEH57UBSREYHKDS4ZKPIIOQVK7PRU2DX2UJTNHANDKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js"
            ]
        },
        "ListConfigurations": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/configurations",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Configurations": {
                        "locationName": "configurations",
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Arn": {
                                    "locationName": "arn"
                                },
                                "AuthenticationStrategy": {
                                    "locationName": "authenticationStrategy"
                                },
                                "Created": {
                                    "shape": "Sm",
                                    "locationName": "created"
                                },
                                "Description": {
                                    "locationName": "description"
                                },
                                "EngineType": {
                                    "locationName": "engineType"
                                },
                                "EngineVersion": {
                                    "locationName": "engineVersion"
                                },
                                "Id": {
                                    "locationName": "id"
                                },
                                "LatestRevision": {
                                    "shape": "Sn",
                                    "locationName": "latestRevision"
                                },
                                "Name": {
                                    "locationName": "name"
                                },
                                "Tags": {
                                    "shape": "Sg",
                                    "locationName": "tags"
                                }
                            },
                            "required": [
                                "Description",
                                "EngineVersion",
                                "LatestRevision",
                                "AuthenticationStrategy",
                                "EngineType",
                                "Id",
                                "Arn",
                                "Name",
                                "Created"
                            ]
                        }
                    },
                    "MaxResults": {
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "locationName": "nextToken"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQDPGUO7WA3U7JWOFR7VRYJTZCD7VADEAOZ24W63WWAO3JOJYPPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XIM7KCL4MNGLR565AHPQ4SNCWGUEFJ52CNIGC3O3Q3GYFUPM6KNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OVOEDMZSNVWA5MLKCMWHPN55XMPLEJ6L4CF2FTHL3TOW5HNX2OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNL5FM7H45UUBQOGAOXZMW3GFGKBG5EWY5CDMUTMYB24MAU25Q4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SI2SM5XKC3CY72AW6VS7X3BJWKCRBBQS73ASLKUJZPPB57HPTBOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6CE3MT7NH3ORDGK24XCPMBMDXDNU7T6CT7H2KFF4PDXXZEB6KTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UVLHGSTZKL33XPHUJVTGXT3CYCIO6PM3D7RG5OZIYLUXENX7WYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OG2VKACCB73ZTRB24STN5XCNJJ2HJPRIBBRC45CMGMPSPZR7TYVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KK7GJ6K7EZYJWDNLK7A2IEFTKVQXEBXU2LGHWEBP7BPFSS7JSIDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7PKFOOL4QEH57UBSREYHKDS4ZKPIIOQVK7PRU2DX2UJTNHANDKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js"
            ]
        },
        "ListTags": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/tags/{resource-arn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ResourceArn": {
                        "location": "uri",
                        "locationName": "resource-arn"
                    }
                },
                "required": [
                    "ResourceArn"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "Tags": {
                        "shape": "Sg",
                        "locationName": "tags"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQDPGUO7WA3U7JWOFR7VRYJTZCD7VADEAOZ24W63WWAO3JOJYPPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XIM7KCL4MNGLR565AHPQ4SNCWGUEFJ52CNIGC3O3Q3GYFUPM6KNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OVOEDMZSNVWA5MLKCMWHPN55XMPLEJ6L4CF2FTHL3TOW5HNX2OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNL5FM7H45UUBQOGAOXZMW3GFGKBG5EWY5CDMUTMYB24MAU25Q4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SI2SM5XKC3CY72AW6VS7X3BJWKCRBBQS73ASLKUJZPPB57HPTBOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6CE3MT7NH3ORDGK24XCPMBMDXDNU7T6CT7H2KFF4PDXXZEB6KTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UVLHGSTZKL33XPHUJVTGXT3CYCIO6PM3D7RG5OZIYLUXENX7WYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OG2VKACCB73ZTRB24STN5XCNJJ2HJPRIBBRC45CMGMPSPZR7TYVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KK7GJ6K7EZYJWDNLK7A2IEFTKVQXEBXU2LGHWEBP7BPFSS7JSIDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7PKFOOL4QEH57UBSREYHKDS4ZKPIIOQVK7PRU2DX2UJTNHANDKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js"
            ]
        },
        "ListUsers": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/brokers/{broker-id}/users",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "BrokerId": {
                        "location": "uri",
                        "locationName": "broker-id"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                },
                "required": [
                    "BrokerId"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "BrokerId": {
                        "locationName": "brokerId"
                    },
                    "MaxResults": {
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "locationName": "nextToken"
                    },
                    "Users": {
                        "shape": "S18",
                        "locationName": "users"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQDPGUO7WA3U7JWOFR7VRYJTZCD7VADEAOZ24W63WWAO3JOJYPPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XIM7KCL4MNGLR565AHPQ4SNCWGUEFJ52CNIGC3O3Q3GYFUPM6KNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OVOEDMZSNVWA5MLKCMWHPN55XMPLEJ6L4CF2FTHL3TOW5HNX2OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNL5FM7H45UUBQOGAOXZMW3GFGKBG5EWY5CDMUTMYB24MAU25Q4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SI2SM5XKC3CY72AW6VS7X3BJWKCRBBQS73ASLKUJZPPB57HPTBOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6CE3MT7NH3ORDGK24XCPMBMDXDNU7T6CT7H2KFF4PDXXZEB6KTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UVLHGSTZKL33XPHUJVTGXT3CYCIO6PM3D7RG5OZIYLUXENX7WYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OG2VKACCB73ZTRB24STN5XCNJJ2HJPRIBBRC45CMGMPSPZR7TYVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KK7GJ6K7EZYJWDNLK7A2IEFTKVQXEBXU2LGHWEBP7BPFSS7JSIDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
[...]
