{
    "metadata": {
        "apiVersion": "2017-11-27",
        "endpointPrefix": "mq",
        "signingName": "mq",
        "serviceFullName": "AmazonMQ",
        "serviceId": "mq",
        "protocol": "rest-json",
        "jsonVersion": "1.1",
        "uid": "mq-2017-11-27",
        "signatureVersion": "v4",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/D3GK5M2FOBUYVMOEFJABNDOLONKVAYLBGOCIQG7IF7S4MFW7U4TA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/X573JIXRQGVOXJGG7VLS5HSU2IZOVDUMDWIVQPVV34CAKHEK6N4Q/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VKNL2D5S34NTQWDXG4X5EWX7FIGNXGXNAD3LODEIT5L7IMUFQN7Q/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TSO42TRQ2X4WRLEJRELU7DTHGWLLHXV5UAGH523MKMF3AAM7SBRQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QBT5ZQI6ZYNEYURSQX3SLZNDEFC7Z5LBQBISP43GRVLAMJELJGEQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YGWX4UF6J4Q4BX23Z3XUDMQOFHTY6L2ZHASTVITBY5GB72FQG3OQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VMEIUXHYQ6JKWX67V3TGI65HNV7FC7SG7F3FIAYDF3LSP7UBW63Q/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VUKY75W43SLAVHPBNYLCMS4WQ4IQMJFUDJQS7P4DNLRAOW2UMECA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PESIBKOCKMP27EUDHPQN6DPG2GMXJDE2UH4672ET4DFJJKMK73VQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TXIERH6KRQBG7HBSR6QUBH7B3R2V54WK7QJI3MLKFAV5R45TWCZA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BQY7UVNQPDYR7QLPSCGWCCXFYHXFY6JZLXUXARMST5F2EPEXSWBQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IA7SA4KO6LU33O7LSATQMPPB2GNO4O2B2AB7TY6V5UKSLISSSZQQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JUXCNRN35OCEPLZYTIOIVNIN2J7BOR43XNDGQ3K3EQUV7L2YORSA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
        ]
    },
    "operations": {
        "CreateBroker": {
            "http": {
                "requestUri": "/v1/brokers",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "AuthenticationStrategy": {
                        "locationName": "authenticationStrategy"
                    },
                    "AutoMinorVersionUpgrade": {
                        "locationName": "autoMinorVersionUpgrade",
                        "type": "boolean"
                    },
                    "BrokerName": {
                        "locationName": "brokerName"
                    },
                    "Configuration": {
                        "shape": "S5",
                        "locationName": "configuration"
                    },
                    "CreatorRequestId": {
                        "locationName": "creatorRequestId",
                        "idempotencyToken": true
                    },
                    "DeploymentMode": {
                        "locationName": "deploymentMode"
                    },
                    "EncryptionOptions": {
                        "shape": "S8",
                        "locationName": "encryptionOptions"
                    },
                    "EngineType": {
                        "locationName": "engineType"
                    },
                    "EngineVersion": {
                        "locationName": "engineVersion"
                    },
                    "HostInstanceType": {
                        "locationName": "hostInstanceType"
                    },
                    "LdapServerMetadata": {
                        "shape": "Sa",
                        "locationName": "ldapServerMetadata"
                    },
                    "Logs": {
                        "shape": "Sc",
                        "locationName": "logs"
                    },
                    "MaintenanceWindowStartTime": {
                        "shape": "Sd",
                        "locationName": "maintenanceWindowStartTime"
                    },
                    "PubliclyAccessible": {
                        "locationName": "publiclyAccessible",
                        "type": "boolean"
                    },
                    "SecurityGroups": {
                        "shape": "Sb",
                        "locationName": "securityGroups"
                    },
                    "StorageType": {
                        "locationName": "storageType"
                    },
                    "SubnetIds": {
                        "shape": "Sb",
                        "locationName": "subnetIds"
                    },
                    "Tags": {
                        "shape": "Sg",
                        "locationName": "tags"
                    },
                    "Users": {
                        "locationName": "users",
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ConsoleAccess": {
                                    "locationName": "consoleAccess",
                                    "type": "boolean"
                                },
                                "Groups": {
                                    "shape": "Sb",
                                    "locationName": "groups"
                                },
                                "Password": {
                                    "locationName": "password"
                                },
                                "Username": {
                                    "locationName": "username"
                                }
                            },
                            "required": [
                                "Username",
                                "Password"
                            ]
                        }
                    },
                    "DataReplicationMode": {
                        "locationName": "dataReplicationMode"
                    },
                    "DataReplicationPrimaryBrokerArn": {
                        "locationName": "dataReplicationPrimaryBrokerArn"
                    }
                },
                "required": [
                    "EngineVersion",
                    "HostInstanceType",
                    "AutoMinorVersionUpgrade",
                    "Users",
                    "BrokerName",
                    "DeploymentMode",
                    "EngineType",
                    "PubliclyAccessible"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "BrokerArn": {
                        "locationName": "brokerArn"
                    },
                    "BrokerId": {
                        "locationName": "brokerId"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/X573JIXRQGVOXJGG7VLS5HSU2IZOVDUMDWIVQPVV34CAKHEK6N4Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKNL2D5S34NTQWDXG4X5EWX7FIGNXGXNAD3LODEIT5L7IMUFQN7Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSO42TRQ2X4WRLEJRELU7DTHGWLLHXV5UAGH523MKMF3AAM7SBRQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBT5ZQI6ZYNEYURSQX3SLZNDEFC7Z5LBQBISP43GRVLAMJELJGEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YGWX4UF6J4Q4BX23Z3XUDMQOFHTY6L2ZHASTVITBY5GB72FQG3OQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMEIUXHYQ6JKWX67V3TGI65HNV7FC7SG7F3FIAYDF3LSP7UBW63Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUKY75W43SLAVHPBNYLCMS4WQ4IQMJFUDJQS7P4DNLRAOW2UMECA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PESIBKOCKMP27EUDHPQN6DPG2GMXJDE2UH4672ET4DFJJKMK73VQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXIERH6KRQBG7HBSR6QUBH7B3R2V54WK7QJI3MLKFAV5R45TWCZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQY7UVNQPDYR7QLPSCGWCCXFYHXFY6JZLXUXARMST5F2EPEXSWBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IA7SA4KO6LU33O7LSATQMPPB2GNO4O2B2AB7TY6V5UKSLISSSZQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXCNRN35OCEPLZYTIOIVNIN2J7BOR43XNDGQ3K3EQUV7L2YORSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "CreateConfiguration": {
            "http": {
                "requestUri": "/v1/configurations",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "AuthenticationStrategy": {
                        "locationName": "authenticationStrategy"
                    },
                    "EngineType": {
                        "locationName": "engineType"
                    },
                    "EngineVersion": {
                        "locationName": "engineVersion"
                    },
                    "Name": {
                        "locationName": "name"
                    },
                    "Tags": {
                        "shape": "Sg",
                        "locationName": "tags"
                    }
                },
                "required": [
                    "EngineVersion",
                    "EngineType",
                    "Name"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "Arn": {
                        "locationName": "arn"
                    },
                    "AuthenticationStrategy": {
                        "locationName": "authenticationStrategy"
                    },
                    "Created": {
                        "shape": "Sm",
                        "locationName": "created"
                    },
                    "Id": {
                        "locationName": "id"
                    },
                    "LatestRevision": {
                        "shape": "Sn",
                        "locationName": "latestRevision"
                    },
                    "Name": {
                        "locationName": "name"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/X573JIXRQGVOXJGG7VLS5HSU2IZOVDUMDWIVQPVV34CAKHEK6N4Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKNL2D5S34NTQWDXG4X5EWX7FIGNXGXNAD3LODEIT5L7IMUFQN7Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSO42TRQ2X4WRLEJRELU7DTHGWLLHXV5UAGH523MKMF3AAM7SBRQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBT5ZQI6ZYNEYURSQX3SLZNDEFC7Z5LBQBISP43GRVLAMJELJGEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YGWX4UF6J4Q4BX23Z3XUDMQOFHTY6L2ZHASTVITBY5GB72FQG3OQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMEIUXHYQ6JKWX67V3TGI65HNV7FC7SG7F3FIAYDF3LSP7UBW63Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUKY75W43SLAVHPBNYLCMS4WQ4IQMJFUDJQS7P4DNLRAOW2UMECA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PESIBKOCKMP27EUDHPQN6DPG2GMXJDE2UH4672ET4DFJJKMK73VQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXIERH6KRQBG7HBSR6QUBH7B3R2V54WK7QJI3MLKFAV5R45TWCZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQY7UVNQPDYR7QLPSCGWCCXFYHXFY6JZLXUXARMST5F2EPEXSWBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IA7SA4KO6LU33O7LSATQMPPB2GNO4O2B2AB7TY6V5UKSLISSSZQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXCNRN35OCEPLZYTIOIVNIN2J7BOR43XNDGQ3K3EQUV7L2YORSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "CreateTags": {
            "http": {
                "requestUri": "/v1/tags/{resource-arn}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "members": {
                    "ResourceArn": {
                        "location": "uri",
                        "locationName": "resource-arn"
                    },
                    "Tags": {
                        "shape": "Sg",
                        "locationName": "tags"
                    }
                },
                "required": [
                    "ResourceArn"
                ]
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/X573JIXRQGVOXJGG7VLS5HSU2IZOVDUMDWIVQPVV34CAKHEK6N4Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKNL2D5S34NTQWDXG4X5EWX7FIGNXGXNAD3LODEIT5L7IMUFQN7Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSO42TRQ2X4WRLEJRELU7DTHGWLLHXV5UAGH523MKMF3AAM7SBRQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBT5ZQI6ZYNEYURSQX3SLZNDEFC7Z5LBQBISP43GRVLAMJELJGEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YGWX4UF6J4Q4BX23Z3XUDMQOFHTY6L2ZHASTVITBY5GB72FQG3OQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMEIUXHYQ6JKWX67V3TGI65HNV7FC7SG7F3FIAYDF3LSP7UBW63Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUKY75W43SLAVHPBNYLCMS4WQ4IQMJFUDJQS7P4DNLRAOW2UMECA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PESIBKOCKMP27EUDHPQN6DPG2GMXJDE2UH4672ET4DFJJKMK73VQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXIERH6KRQBG7HBSR6QUBH7B3R2V54WK7QJI3MLKFAV5R45TWCZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQY7UVNQPDYR7QLPSCGWCCXFYHXFY6JZLXUXARMST5F2EPEXSWBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IA7SA4KO6LU33O7LSATQMPPB2GNO4O2B2AB7TY6V5UKSLISSSZQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXCNRN35OCEPLZYTIOIVNIN2J7BOR43XNDGQ3K3EQUV7L2YORSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "CreateUser": {
            "http": {
                "requestUri": "/v1/brokers/{broker-id}/users/{username}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "BrokerId": {
                        "location": "uri",
                        "locationName": "broker-id"
                    },
                    "ConsoleAccess": {
                        "locationName": "consoleAccess",
                        "type": "boolean"
                    },
                    "Groups": {
                        "shape": "Sb",
                        "locationName": "groups"
                    },
                    "Password": {
                        "locationName": "password"
                    },
                    "Username": {
                        "location": "uri",
                        "locationName": "username"
                    },
                    "ReplicationUser": {
                        "locationName": "replicationUser",
                        "type": "boolean"
                    }
                },
                "required": [
                    "Username",
                    "BrokerId",
                    "Password"
                ]
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/X573JIXRQGVOXJGG7VLS5HSU2IZOVDUMDWIVQPVV34CAKHEK6N4Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKNL2D5S34NTQWDXG4X5EWX7FIGNXGXNAD3LODEIT5L7IMUFQN7Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSO42TRQ2X4WRLEJRELU7DTHGWLLHXV5UAGH523MKMF3AAM7SBRQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBT5ZQI6ZYNEYURSQX3SLZNDEFC7Z5LBQBISP43GRVLAMJELJGEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YGWX4UF6J4Q4BX23Z3XUDMQOFHTY6L2ZHASTVITBY5GB72FQG3OQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMEIUXHYQ6JKWX67V3TGI65HNV7FC7SG7F3FIAYDF3LSP7UBW63Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUKY75W43SLAVHPBNYLCMS4WQ4IQMJFUDJQS7P4DNLRAOW2UMECA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PESIBKOCKMP27EUDHPQN6DPG2GMXJDE2UH4672ET4DFJJKMK73VQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXIERH6KRQBG7HBSR6QUBH7B3R2V54WK7QJI3MLKFAV5R45TWCZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQY7UVNQPDYR7QLPSCGWCCXFYHXFY6JZLXUXARMST5F2EPEXSWBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IA7SA4KO6LU33O7LSATQMPPB2GNO4O2B2AB7TY6V5UKSLISSSZQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXCNRN35OCEPLZYTIOIVNIN2J7BOR43XNDGQ3K3EQUV7L2YORSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DeleteBroker": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v1/brokers/{broker-id}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "BrokerId": {
                        "location": "uri",
                        "locationName": "broker-id"
                    }
                },
                "required": [
                    "BrokerId"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "BrokerId": {
                        "locationName": "brokerId"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/X573JIXRQGVOXJGG7VLS5HSU2IZOVDUMDWIVQPVV34CAKHEK6N4Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKNL2D5S34NTQWDXG4X5EWX7FIGNXGXNAD3LODEIT5L7IMUFQN7Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSO42TRQ2X4WRLEJRELU7DTHGWLLHXV5UAGH523MKMF3AAM7SBRQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBT5ZQI6ZYNEYURSQX3SLZNDEFC7Z5LBQBISP43GRVLAMJELJGEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YGWX4UF6J4Q4BX23Z3XUDMQOFHTY6L2ZHASTVITBY5GB72FQG3OQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMEIUXHYQ6JKWX67V3TGI65HNV7FC7SG7F3FIAYDF3LSP7UBW63Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUKY75W43SLAVHPBNYLCMS4WQ4IQMJFUDJQS7P4DNLRAOW2UMECA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PESIBKOCKMP27EUDHPQN6DPG2GMXJDE2UH4672ET4DFJJKMK73VQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXIERH6KRQBG7HBSR6QUBH7B3R2V54WK7QJI3MLKFAV5R45TWCZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQY7UVNQPDYR7QLPSCGWCCXFYHXFY6JZLXUXARMST5F2EPEXSWBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IA7SA4KO6LU33O7LSATQMPPB2GNO4O2B2AB7TY6V5UKSLISSSZQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXCNRN35OCEPLZYTIOIVNIN2J7BOR43XNDGQ3K3EQUV7L2YORSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DeleteTags": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v1/tags/{resource-arn}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "members": {
                    "ResourceArn": {
                        "location": "uri",
                        "locationName": "resource-arn"
                    },
                    "TagKeys": {
                        "shape": "Sb",
                        "location": "querystring",
                        "locationName": "tagKeys"
                    }
                },
                "required": [
                    "TagKeys",
                    "ResourceArn"
                ]
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/X573JIXRQGVOXJGG7VLS5HSU2IZOVDUMDWIVQPVV34CAKHEK6N4Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKNL2D5S34NTQWDXG4X5EWX7FIGNXGXNAD3LODEIT5L7IMUFQN7Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSO42TRQ2X4WRLEJRELU7DTHGWLLHXV5UAGH523MKMF3AAM7SBRQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBT5ZQI6ZYNEYURSQX3SLZNDEFC7Z5LBQBISP43GRVLAMJELJGEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YGWX4UF6J4Q4BX23Z3XUDMQOFHTY6L2ZHASTVITBY5GB72FQG3OQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMEIUXHYQ6JKWX67V3TGI65HNV7FC7SG7F3FIAYDF3LSP7UBW63Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUKY75W43SLAVHPBNYLCMS4WQ4IQMJFUDJQS7P4DNLRAOW2UMECA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PESIBKOCKMP27EUDHPQN6DPG2GMXJDE2UH4672ET4DFJJKMK73VQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXIERH6KRQBG7HBSR6QUBH7B3R2V54WK7QJI3MLKFAV5R45TWCZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQY7UVNQPDYR7QLPSCGWCCXFYHXFY6JZLXUXARMST5F2EPEXSWBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IA7SA4KO6LU33O7LSATQMPPB2GNO4O2B2AB7TY6V5UKSLISSSZQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXCNRN35OCEPLZYTIOIVNIN2J7BOR43XNDGQ3K3EQUV7L2YORSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DeleteUser": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v1/brokers/{broker-id}/users/{username}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "BrokerId": {
                        "location": "uri",
                        "locationName": "broker-id"
                    },
                    "Username": {
                        "location": "uri",
                        "locationName": "username"
                    }
                },
                "required": [
                    "Username",
                    "BrokerId"
                ]
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/X573JIXRQGVOXJGG7VLS5HSU2IZOVDUMDWIVQPVV34CAKHEK6N4Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKNL2D5S34NTQWDXG4X5EWX7FIGNXGXNAD3LODEIT5L7IMUFQN7Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSO42TRQ2X4WRLEJRELU7DTHGWLLHXV5UAGH523MKMF3AAM7SBRQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBT5ZQI6ZYNEYURSQX3SLZNDEFC7Z5LBQBISP43GRVLAMJELJGEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YGWX4UF6J4Q4BX23Z3XUDMQOFHTY6L2ZHASTVITBY5GB72FQG3OQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMEIUXHYQ6JKWX67V3TGI65HNV7FC7SG7F3FIAYDF3LSP7UBW63Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUKY75W43SLAVHPBNYLCMS4WQ4IQMJFUDJQS7P4DNLRAOW2UMECA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PESIBKOCKMP27EUDHPQN6DPG2GMXJDE2UH4672ET4DFJJKMK73VQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXIERH6KRQBG7HBSR6QUBH7B3R2V54WK7QJI3MLKFAV5R45TWCZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQY7UVNQPDYR7QLPSCGWCCXFYHXFY6JZLXUXARMST5F2EPEXSWBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IA7SA4KO6LU33O7LSATQMPPB2GNO4O2B2AB7TY6V5UKSLISSSZQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXCNRN35OCEPLZYTIOIVNIN2J7BOR43XNDGQ3K3EQUV7L2YORSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DescribeBroker": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/brokers/{broker-id}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "BrokerId": {
                        "location": "uri",
                        "locationName": "broker-id"
                    }
                },
                "required": [
                    "BrokerId"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "ActionsRequired": {
                        "locationName": "actionsRequired",
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ActionRequiredCode": {
                                    "locationName": "actionRequiredCode"
                                },
                                "ActionRequiredInfo": {
                                    "locationName": "actionRequiredInfo"
                                }
                            }
                        }
                    },
                    "AuthenticationStrategy": {
                        "locationName": "authenticationStrategy"
                    },
                    "AutoMinorVersionUpgrade": {
                        "locationName": "autoMinorVersionUpgrade",
                        "type": "boolean"
                    },
                    "BrokerArn": {
                        "locationName": "brokerArn"
                    },
                    "BrokerId": {
                        "locationName": "brokerId"
                    },
                    "BrokerInstances": {
                        "locationName": "brokerInstances",
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ConsoleURL": {
                                    "locationName": "consoleURL"
                                },
                                "Endpoints": {
                                    "shape": "Sb",
                                    "locationName": "endpoints"
                                },
                                "IpAddress": {
                                    "locationName": "ipAddress"
                                }
                            }
                        }
                    },
                    "BrokerName": {
                        "locationName": "brokerName"
                    },
                    "BrokerState": {
                        "locationName": "brokerState"
                    },
                    "Configurations": {
                        "locationName": "configurations",
                        "type": "structure",
                        "members": {
                            "Current": {
                                "shape": "S5",
                                "locationName": "current"
                            },
                            "History": {
                                "locationName": "history",
                                "type": "list",
                                "member": {
                                    "shape": "S5"
                                }
                            },
                            "Pending": {
                                "shape": "S5",
                                "locationName": "pending"
                            }
                        }
                    },
                    "Created": {
                        "shape": "Sm",
                        "locationName": "created"
                    },
                    "DeploymentMode": {
                        "locationName": "deploymentMode"
                    },
                    "EncryptionOptions": {
                        "shape": "S8",
                        "locationName": "encryptionOptions"
                    },
                    "EngineType": {
                        "locationName": "engineType"
                    },
                    "EngineVersion": {
                        "locationName": "engineVersion"
                    },
                    "HostInstanceType": {
                        "locationName": "hostInstanceType"
                    },
                    "LdapServerMetadata": {
                        "shape": "S15",
                        "locationName": "ldapServerMetadata"
                    },
                    "Logs": {
                        "locationName": "logs",
                        "type": "structure",
                        "members": {
                            "Audit": {
                                "locationName": "audit",
                                "type": "boolean"
                            },
                            "AuditLogGroup": {
                                "locationName": "auditLogGroup"
                            },
                            "General": {
                                "locationName": "general",
                                "type": "boolean"
                            },
                            "GeneralLogGroup": {
                                "locationName": "generalLogGroup"
                            },
                            "Pending": {
                                "locationName": "pending",
                                "type": "structure",
                                "members": {
                                    "Audit": {
                                        "locationName": "audit",
                                        "type": "boolean"
                                    },
                                    "General": {
                                        "locationName": "general",
                                        "type": "boolean"
                                    }
                                }
                            }
                        },
                        "required": [
                            "GeneralLogGroup",
                            "General"
                        ]
                    },
                    "MaintenanceWindowStartTime": {
                        "shape": "Sd",
                        "locationName": "maintenanceWindowStartTime"
                    },
                    "PendingAuthenticationStrategy": {
                        "locationName": "pendingAuthenticationStrategy"
                    },
                    "PendingEngineVersion": {
                        "locationName": "pendingEngineVersion"
                    },
                    "PendingHostInstanceType": {
                        "locationName": "pendingHostInstanceType"
                    },
                    "PendingLdapServerMetadata": {
                        "shape": "S15",
                        "locationName": "pendingLdapServerMetadata"
                    },
                    "PendingSecurityGroups": {
                        "shape": "Sb",
                        "locationName": "pendingSecurityGroups"
                    },
                    "PubliclyAccessible": {
                        "locationName": "publiclyAccessible",
                        "type": "boolean"
                    },
                    "SecurityGroups": {
                        "shape": "Sb",
                        "locationName": "securityGroups"
                    },
                    "StorageType": {
                        "locationName": "storageType"
                    },
                    "SubnetIds": {
                        "shape": "Sb",
                        "locationName": "subnetIds"
                    },
                    "Tags": {
                        "shape": "Sg",
                        "locationName": "tags"
                    },
                    "Users": {
                        "shape": "S18",
                        "locationName": "users"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/X573JIXRQGVOXJGG7VLS5HSU2IZOVDUMDWIVQPVV34CAKHEK6N4Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKNL2D5S34NTQWDXG4X5EWX7FIGNXGXNAD3LODEIT5L7IMUFQN7Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSO42TRQ2X4WRLEJRELU7DTHGWLLHXV5UAGH523MKMF3AAM7SBRQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBT5ZQI6ZYNEYURSQX3SLZNDEFC7Z5LBQBISP43GRVLAMJELJGEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YGWX4UF6J4Q4BX23Z3XUDMQOFHTY6L2ZHASTVITBY5GB72FQG3OQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMEIUXHYQ6JKWX67V3TGI65HNV7FC7SG7F3FIAYDF3LSP7UBW63Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUKY75W43SLAVHPBNYLCMS4WQ4IQMJFUDJQS7P4DNLRAOW2UMECA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PESIBKOCKMP27EUDHPQN6DPG2GMXJDE2UH4672ET4DFJJKMK73VQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXIERH6KRQBG7HBSR6QUBH7B3R2V54WK7QJI3MLKFAV5R45TWCZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQY7UVNQPDYR7QLPSCGWCCXFYHXFY6JZLXUXARMST5F2EPEXSWBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IA7SA4KO6LU33O7LSATQMPPB2GNO4O2B2AB7TY6V5UKSLISSSZQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXCNRN35OCEPLZYTIOIVNIN2J7BOR43XNDGQ3K3EQUV7L2YORSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DescribeBrokerEngineTypes": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/broker-engine-types",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "EngineType": {
                        "location": "querystring",
                        "locationName": "engineType"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "BrokerEngineTypes": {
                        "locationName": "brokerEngineTypes",
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "EngineType": {
                                    "locationName": "engineType"
                                },
                                "EngineVersions": {
                                    "locationName": "engineVersions",
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "Name": {
                                                "locationName": "name"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "MaxResults": {
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "locationName": "nextToken"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/X573JIXRQGVOXJGG7VLS5HSU2IZOVDUMDWIVQPVV34CAKHEK6N4Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKNL2D5S34NTQWDXG4X5EWX7FIGNXGXNAD3LODEIT5L7IMUFQN7Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSO42TRQ2X4WRLEJRELU7DTHGWLLHXV5UAGH523MKMF3AAM7SBRQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBT5ZQI6ZYNEYURSQX3SLZNDEFC7Z5LBQBISP43GRVLAMJELJGEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YGWX4UF6J4Q4BX23Z3XUDMQOFHTY6L2ZHASTVITBY5GB72FQG3OQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMEIUXHYQ6JKWX67V3TGI65HNV7FC7SG7F3FIAYDF3LSP7UBW63Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUKY75W43SLAVHPBNYLCMS4WQ4IQMJFUDJQS7P4DNLRAOW2UMECA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PESIBKOCKMP27EUDHPQN6DPG2GMXJDE2UH4672ET4DFJJKMK73VQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXIERH6KRQBG7HBSR6QUBH7B3R2V54WK7QJI3MLKFAV5R45TWCZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQY7UVNQPDYR7QLPSCGWCCXFYHXFY6JZLXUXARMST5F2EPEXSWBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IA7SA4KO6LU33O7LSATQMPPB2GNO4O2B2AB7TY6V5UKSLISSSZQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXCNRN35OCEPLZYTIOIVNIN2J7BOR43XNDGQ3K3EQUV7L2YORSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DescribeBrokerInstanceOptions": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/broker-instance-options",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "EngineType": {
                        "location": "querystring",
                        "locationName": "engineType"
                    },
                    "HostInstanceType": {
                        "location": "querystring",
                        "locationName": "hostInstanceType"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "StorageType": {
                        "location": "querystring",
                        "locationName": "storageType"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "BrokerInstanceOptions": {
                        "locationName": "brokerInstanceOptions",
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "AvailabilityZones": {
                                    "locationName": "availabilityZones",
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "Name": {
                                                "locationName": "name"
                                            }
                                        }
                                    }
                                },
                                "EngineType": {
                                    "locationName": "engineType"
                                },
                                "HostInstanceType": {
                                    "locationName": "hostInstanceType"
                                },
                                "StorageType": {
                                    "locationName": "storageType"
                                },
                                "SupportedDeploymentModes": {
                                    "locationName": "supportedDeploymentModes",
                                    "type": "list",
                                    "member": {}
                                },
                                "SupportedEngineVersions": {
                                    "shape": "Sb",
                                    "locationName": "supportedEngineVersions"
                                }
                            }
                        }
                    },
                    "MaxResults": {
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "locationName": "nextToken"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/X573JIXRQGVOXJGG7VLS5HSU2IZOVDUMDWIVQPVV34CAKHEK6N4Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKNL2D5S34NTQWDXG4X5EWX7FIGNXGXNAD3LODEIT5L7IMUFQN7Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSO42TRQ2X4WRLEJRELU7DTHGWLLHXV5UAGH523MKMF3AAM7SBRQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBT5ZQI6ZYNEYURSQX3SLZNDEFC7Z5LBQBISP43GRVLAMJELJGEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YGWX4UF6J4Q4BX23Z3XUDMQOFHTY6L2ZHASTVITBY5GB72FQG3OQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMEIUXHYQ6JKWX67V3TGI65HNV7FC7SG7F3FIAYDF3LSP7UBW63Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUKY75W43SLAVHPBNYLCMS4WQ4IQMJFUDJQS7P4DNLRAOW2UMECA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PESIBKOCKMP27EUDHPQN6DPG2GMXJDE2UH4672ET4DFJJKMK73VQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXIERH6KRQBG7HBSR6QUBH7B3R2V54WK7QJI3MLKFAV5R45TWCZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQY7UVNQPDYR7QLPSCGWCCXFYHXFY6JZLXUXARMST5F2EPEXSWBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IA7SA4KO6LU33O7LSATQMPPB2GNO4O2B2AB7TY6V5UKSLISSSZQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXCNRN35OCEPLZYTIOIVNIN2J7BOR43XNDGQ3K3EQUV7L2YORSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DescribeConfiguration": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/configurations/{configuration-id}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ConfigurationId": {
                        "location": "uri",
                        "locationName": "configuration-id"
                    }
                },
                "required": [
                    "ConfigurationId"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "Arn": {
                        "locationName": "arn"
                    },
                    "AuthenticationStrategy": {
                        "locationName": "authenticationStrategy"
                    },
                    "Created": {
                        "shape": "Sm",
                        "locationName": "created"
                    },
                    "Description": {
                        "locationName": "description"
                    },
                    "EngineType": {
                        "locationName": "engineType"
                    },
                    "EngineVersion": {
                        "locationName": "engineVersion"
                    },
                    "Id": {
                        "locationName": "id"
                    },
                    "LatestRevision": {
                        "shape": "Sn",
                        "locationName": "latestRevision"
                    },
                    "Name": {
                        "locationName": "name"
                    },
                    "Tags": {
                        "shape": "Sg",
                        "locationName": "tags"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/X573JIXRQGVOXJGG7VLS5HSU2IZOVDUMDWIVQPVV34CAKHEK6N4Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKNL2D5S34NTQWDXG4X5EWX7FIGNXGXNAD3LODEIT5L7IMUFQN7Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSO42TRQ2X4WRLEJRELU7DTHGWLLHXV5UAGH523MKMF3AAM7SBRQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBT5ZQI6ZYNEYURSQX3SLZNDEFC7Z5LBQBISP43GRVLAMJELJGEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YGWX4UF6J4Q4BX23Z3XUDMQOFHTY6L2ZHASTVITBY5GB72FQG3OQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMEIUXHYQ6JKWX67V3TGI65HNV7FC7SG7F3FIAYDF3LSP7UBW63Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUKY75W43SLAVHPBNYLCMS4WQ4IQMJFUDJQS7P4DNLRAOW2UMECA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PESIBKOCKMP27EUDHPQN6DPG2GMXJDE2UH4672ET4DFJJKMK73VQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXIERH6KRQBG7HBSR6QUBH7B3R2V54WK7QJI3MLKFAV5R45TWCZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQY7UVNQPDYR7QLPSCGWCCXFYHXFY6JZLXUXARMST5F2EPEXSWBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IA7SA4KO6LU33O7LSATQMPPB2GNO4O2B2AB7TY6V5UKSLISSSZQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXCNRN35OCEPLZYTIOIVNIN2J7BOR43XNDGQ3K3EQUV7L2YORSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DescribeConfigurationRevision": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/configurations/{configuration-id}/revisions/{configuration-revision}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ConfigurationId": {
                        "location": "uri",
                        "locationName": "configuration-id"
                    },
                    "ConfigurationRevision": {
                        "location": "uri",
                        "locationName": "configuration-revision"
                    }
                },
                "required": [
                    "ConfigurationRevision",
                    "ConfigurationId"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "ConfigurationId": {
                        "locationName": "configurationId"
                    },
                    "Created": {
                        "shape": "Sm",
                        "locationName": "created"
                    },
                    "Data": {
                        "locationName": "data"
                    },
                    "Description": {
                        "locationName": "description"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/X573JIXRQGVOXJGG7VLS5HSU2IZOVDUMDWIVQPVV34CAKHEK6N4Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKNL2D5S34NTQWDXG4X5EWX7FIGNXGXNAD3LODEIT5L7IMUFQN7Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSO42TRQ2X4WRLEJRELU7DTHGWLLHXV5UAGH523MKMF3AAM7SBRQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBT5ZQI6ZYNEYURSQX3SLZNDEFC7Z5LBQBISP43GRVLAMJELJGEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YGWX4UF6J4Q4BX23Z3XUDMQOFHTY6L2ZHASTVITBY5GB72FQG3OQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMEIUXHYQ6JKWX67V3TGI65HNV7FC7SG7F3FIAYDF3LSP7UBW63Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUKY75W43SLAVHPBNYLCMS4WQ4IQMJFUDJQS7P4DNLRAOW2UMECA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PESIBKOCKMP27EUDHPQN6DPG2GMXJDE2UH4672ET4DFJJKMK73VQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXIERH6KRQBG7HBSR6QUBH7B3R2V54WK7QJI3MLKFAV5R45TWCZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQY7UVNQPDYR7QLPSCGWCCXFYHXFY6JZLXUXARMST5F2EPEXSWBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IA7SA4KO6LU33O7LSATQMPPB2GNO4O2B2AB7TY6V5UKSLISSSZQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXCNRN35OCEPLZYTIOIVNIN2J7BOR43XNDGQ3K3EQUV7L2YORSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DescribeUser": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/brokers/{broker-id}/users/{username}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "BrokerId": {
                        "location": "uri",
                        "locationName": "broker-id"
                    },
                    "Username": {
                        "location": "uri",
                        "locationName": "username"
                    }
                },
                "required": [
                    "Username",
                    "BrokerId"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "BrokerId": {
                        "locationName": "brokerId"
                    },
                    "ConsoleAccess": {
                        "locationName": "consoleAccess",
                        "type": "boolean"
                    },
                    "Groups": {
                        "shape": "Sb",
                        "locationName": "groups"
                    },
                    "Pending": {
                        "locationName": "pending",
                        "type": "structure",
                        "members": {
                            "ConsoleAccess": {
                                "locationName": "consoleAccess",
                                "type": "boolean"
                            },
                            "Groups": {
                                "shape": "Sb",
                                "locationName": "groups"
                            },
                            "PendingChange": {
                                "locationName": "pendingChange"
                            }
                        },
                        "required": [
                            "PendingChange"
                        ]
                    },
                    "Username": {
                        "locationName": "username"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/X573JIXRQGVOXJGG7VLS5HSU2IZOVDUMDWIVQPVV34CAKHEK6N4Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKNL2D5S34NTQWDXG4X5EWX7FIGNXGXNAD3LODEIT5L7IMUFQN7Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSO42TRQ2X4WRLEJRELU7DTHGWLLHXV5UAGH523MKMF3AAM7SBRQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBT5ZQI6ZYNEYURSQX3SLZNDEFC7Z5LBQBISP43GRVLAMJELJGEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YGWX4UF6J4Q4BX23Z3XUDMQOFHTY6L2ZHASTVITBY5GB72FQG3OQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMEIUXHYQ6JKWX67V3TGI65HNV7FC7SG7F3FIAYDF3LSP7UBW63Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUKY75W43SLAVHPBNYLCMS4WQ4IQMJFUDJQS7P4DNLRAOW2UMECA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PESIBKOCKMP27EUDHPQN6DPG2GMXJDE2UH4672ET4DFJJKMK73VQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXIERH6KRQBG7HBSR6QUBH7B3R2V54WK7QJI3MLKFAV5R45TWCZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQY7UVNQPDYR7QLPSCGWCCXFYHXFY6JZLXUXARMST5F2EPEXSWBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IA7SA4KO6LU33O7LSATQMPPB2GNO4O2B2AB7TY6V5UKSLISSSZQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXCNRN35OCEPLZYTIOIVNIN2J7BOR43XNDGQ3K3EQUV7L2YORSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "ListBrokers": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/brokers",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "BrokerSummaries": {
                        "locationName": "brokerSummaries",
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "BrokerArn": {
                                    "locationName": "brokerArn"
                                },
                                "BrokerId": {
                                    "locationName": "brokerId"
                                },
                                "BrokerName": {
                                    "locationName": "brokerName"
                                },
                                "BrokerState": {
                                    "locationName": "brokerState"
                                },
                                "Created": {
                                    "shape": "Sm",
                                    "locationName": "created"
                                },
                                "DeploymentMode": {
                                    "locationName": "deploymentMode"
                                },
                                "EngineType": {
                                    "locationName": "engineType"
                                },
                                "HostInstanceType": {
                                    "locationName": "hostInstanceType"
                                }
                            },
                            "required": [
                                "DeploymentMode",
                                "EngineType"
                            ]
                        }
                    },
                    "NextToken": {
                        "locationName": "nextToken"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/X573JIXRQGVOXJGG7VLS5HSU2IZOVDUMDWIVQPVV34CAKHEK6N4Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKNL2D5S34NTQWDXG4X5EWX7FIGNXGXNAD3LODEIT5L7IMUFQN7Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSO42TRQ2X4WRLEJRELU7DTHGWLLHXV5UAGH523MKMF3AAM7SBRQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBT5ZQI6ZYNEYURSQX3SLZNDEFC7Z5LBQBISP43GRVLAMJELJGEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YGWX4UF6J4Q4BX23Z3XUDMQOFHTY6L2ZHASTVITBY5GB72FQG3OQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMEIUXHYQ6JKWX67V3TGI65HNV7FC7SG7F3FIAYDF3LSP7UBW63Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUKY75W43SLAVHPBNYLCMS4WQ4IQMJFUDJQS7P4DNLRAOW2UMECA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PESIBKOCKMP27EUDHPQN6DPG2GMXJDE2UH4672ET4DFJJKMK73VQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXIERH6KRQBG7HBSR6QUBH7B3R2V54WK7QJI3MLKFAV5R45TWCZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQY7UVNQPDYR7QLPSCGWCCXFYHXFY6JZLXUXARMST5F2EPEXSWBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IA7SA4KO6LU33O7LSATQMPPB2GNO4O2B2AB7TY6V5UKSLISSSZQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXCNRN35OCEPLZYTIOIVNIN2J7BOR43XNDGQ3K3EQUV7L2YORSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "ListConfigurationRevisions": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/configurations/{configuration-id}/revisions",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ConfigurationId": {
                        "location": "uri",
                        "locationName": "configuration-id"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                },
                "required": [
                    "ConfigurationId"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "ConfigurationId": {
                        "locationName": "configurationId"
                    },
                    "MaxResults": {
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "locationName": "nextToken"
                    },
                    "Revisions": {
                        "locationName": "revisions",
                        "type": "list",
                        "member": {
                            "shape": "Sn"
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/X573JIXRQGVOXJGG7VLS5HSU2IZOVDUMDWIVQPVV34CAKHEK6N4Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKNL2D5S34NTQWDXG4X5EWX7FIGNXGXNAD3LODEIT5L7IMUFQN7Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSO42TRQ2X4WRLEJRELU7DTHGWLLHXV5UAGH523MKMF3AAM7SBRQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBT5ZQI6ZYNEYURSQX3SLZNDEFC7Z5LBQBISP43GRVLAMJELJGEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YGWX4UF6J4Q4BX23Z3XUDMQOFHTY6L2ZHASTVITBY5GB72FQG3OQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMEIUXHYQ6JKWX67V3TGI65HNV7FC7SG7F3FIAYDF3LSP7UBW63Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUKY75W43SLAVHPBNYLCMS4WQ4IQMJFUDJQS7P4DNLRAOW2UMECA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PESIBKOCKMP27EUDHPQN6DPG2GMXJDE2UH4672ET4DFJJKMK73VQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXIERH6KRQBG7HBSR6QUBH7B3R2V54WK7QJI3MLKFAV5R45TWCZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQY7UVNQPDYR7QLPSCGWCCXFYHXFY6JZLXUXARMST5F2EPEXSWBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IA7SA4KO6LU33O7LSATQMPPB2GNO4O2B2AB7TY6V5UKSLISSSZQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXCNRN35OCEPLZYTIOIVNIN2J7BOR43XNDGQ3K3EQUV7L2YORSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "ListConfigurations": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/configurations",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Configurations": {
                        "locationName": "configurations",
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Arn": {
                                    "locationName": "arn"
                                },
                                "AuthenticationStrategy": {
                                    "locationName": "authenticationStrategy"
                                },
                                "Created": {
                                    "shape": "Sm",
                                    "locationName": "created"
                                },
                                "Description": {
                                    "locationName": "description"
                                },
                                "EngineType": {
                                    "locationName": "engineType"
                                },
                                "EngineVersion": {
                                    "locationName": "engineVersion"
                                },
                                "Id": {
                                    "locationName": "id"
                                },
                                "LatestRevision": {
                                    "shape": "Sn",
                                    "locationName": "latestRevision"
                                },
                                "Name": {
                                    "locationName": "name"
                                },
                                "Tags": {
                                    "shape": "Sg",
                                    "locationName": "tags"
                                }
                            },
                            "required": [
                                "Description",
                                "EngineVersion",
                                "LatestRevision",
                                "AuthenticationStrategy",
                                "EngineType",
                                "Id",
                                "Arn",
                                "Name",
                                "Created"
                            ]
                        }
                    },
                    "MaxResults": {
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "locationName": "nextToken"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/X573JIXRQGVOXJGG7VLS5HSU2IZOVDUMDWIVQPVV34CAKHEK6N4Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKNL2D5S34NTQWDXG4X5EWX7FIGNXGXNAD3LODEIT5L7IMUFQN7Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSO42TRQ2X4WRLEJRELU7DTHGWLLHXV5UAGH523MKMF3AAM7SBRQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBT5ZQI6ZYNEYURSQX3SLZNDEFC7Z5LBQBISP43GRVLAMJELJGEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YGWX4UF6J4Q4BX23Z3XUDMQOFHTY6L2ZHASTVITBY5GB72FQG3OQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMEIUXHYQ6JKWX67V3TGI65HNV7FC7SG7F3FIAYDF3LSP7UBW63Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUKY75W43SLAVHPBNYLCMS4WQ4IQMJFUDJQS7P4DNLRAOW2UMECA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PESIBKOCKMP27EUDHPQN6DPG2GMXJDE2UH4672ET4DFJJKMK73VQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXIERH6KRQBG7HBSR6QUBH7B3R2V54WK7QJI3MLKFAV5R45TWCZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQY7UVNQPDYR7QLPSCGWCCXFYHXFY6JZLXUXARMST5F2EPEXSWBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IA7SA4KO6LU33O7LSATQMPPB2GNO4O2B2AB7TY6V5UKSLISSSZQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXCNRN35OCEPLZYTIOIVNIN2J7BOR43XNDGQ3K3EQUV7L2YORSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "ListTags": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/tags/{resource-arn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ResourceArn": {
                        "location": "uri",
                        "locationName": "resource-arn"
                    }
                },
                "required": [
                    "ResourceArn"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "Tags": {
                        "shape": "Sg",
                        "locationName": "tags"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/X573JIXRQGVOXJGG7VLS5HSU2IZOVDUMDWIVQPVV34CAKHEK6N4Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKNL2D5S34NTQWDXG4X5EWX7FIGNXGXNAD3LODEIT5L7IMUFQN7Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSO42TRQ2X4WRLEJRELU7DTHGWLLHXV5UAGH523MKMF3AAM7SBRQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBT5ZQI6ZYNEYURSQX3SLZNDEFC7Z5LBQBISP43GRVLAMJELJGEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YGWX4UF6J4Q4BX23Z3XUDMQOFHTY6L2ZHASTVITBY5GB72FQG3OQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMEIUXHYQ6JKWX67V3TGI65HNV7FC7SG7F3FIAYDF3LSP7UBW63Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUKY75W43SLAVHPBNYLCMS4WQ4IQMJFUDJQS7P4DNLRAOW2UMECA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PESIBKOCKMP27EUDHPQN6DPG2GMXJDE2UH4672ET4DFJJKMK73VQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXIERH6KRQBG7HBSR6QUBH7B3R2V54WK7QJI3MLKFAV5R45TWCZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQY7UVNQPDYR7QLPSCGWCCXFYHXFY6JZLXUXARMST5F2EPEXSWBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IA7SA4KO6LU33O7LSATQMPPB2GNO4O2B2AB7TY6V5UKSLISSSZQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXCNRN35OCEPLZYTIOIVNIN2J7BOR43XNDGQ3K3EQUV7L2YORSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "ListUsers": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/brokers/{broker-id}/users",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "BrokerId": {
                        "location": "uri",
                        "locationName": "broker-id"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                },
                "required": [
                    "BrokerId"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "BrokerId": {
                        "locationName": "brokerId"
                    },
                    "MaxResults": {
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "locationName": "nextToken"
                    },
                    "Users": {
                        "shape": "S18",
                        "locationName": "users"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/X573JIXRQGVOXJGG7VLS5HSU2IZOVDUMDWIVQPVV34CAKHEK6N4Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKNL2D5S34NTQWDXG4X5EWX7FIGNXGXNAD3LODEIT5L7IMUFQN7Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSO42TRQ2X4WRLEJRELU7DTHGWLLHXV5UAGH523MKMF3AAM7SBRQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBT5ZQI6ZYNEYURSQX3SLZNDEFC7Z5LBQBISP43GRVLAMJELJGEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YGWX4UF6J4Q4BX23Z3XUDMQOFHTY6L2ZHASTVITBY5GB72FQG3OQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMEIUXHYQ6JKWX67V3TGI65HNV7FC7SG7F3FIAYDF3LSP7UBW63Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUKY75W43SLAVHPBNYLCMS4WQ4IQMJFUDJQS7P4DNLRAOW2UMECA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
[...]
