{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2019-12-02",
        "endpointPrefix": "mrmeridiandataplane",
        "jsonVersion": "1.0",
        "protocol": "json",
        "serviceFullName": "Meridian Cluster",
        "serviceId": "Meridian Cluster",
        "signatureVersion": "v4",
        "signingName": "meridian-cluster",
        "targetPrefix": "ToggleCustomerAPI",
        "uid": "mrmeridiandataplane-2019-12-02",
        "download_location": [
            "https://c.d.cdn.console.awsstatic.com/a/v1/CLQP2PJ7LXGJLF2WWTMRH3GNHNLB5ZKPOBCQ274J7TNGSQSGQVYQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/LQVFZF2C24PLCA6IDHFUVTXSF3LVXEPASWD7EJNY2F7KVWCZEVMA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/B2TRGJDVK7N2EARDFFWEFL2LFJBEJAR2KFIERYGZFWM5DJ7Y67YA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/YWXHUFX4AU634LFCXJTX5B5HNRTUG7SYPSQPWJWC4Y22UU6V2EPQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/DNFGAWAAUJUTIZ267I3UOPFXVGEIPZDLZKOY4B2IAAZATBRNOENA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/ZN56JEMX6VACGX62PC5DYCRWLVS3FGKALTSXWM2PIJ7ZRLXGZJKA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/MH2IXSVQMGD3CGNBR3OV6DF3AEH6OPCTSE2SVMWF3W3TR5EELBDA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/I5UQDA47Y4A5OU6A7LSZJ6GHXFBC44SXSINKTOD45P76HA5JKZ5Q/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/FARP76F5GESSDNKGOICZMHZUGZZLOMCEV4ULJWDMWKMYODXHHYMA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/OZ2JU42CALP6RYNJFBUGVSZLBOJAUBBEPD3O4A6FF3LKS4GCTI2Q/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/RMGJCTE4HBFG7HILP57OL5VCPUFBKQCNTTJYS65NOUTEF55IIIWQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/XSTHRI44ZDHXBAYVQZPFPETDKQ3UG2CCMR7WRPGJISUZBUEYBENQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/4POR7H6DMI5KG4LEOXUDPBN5VTAFJRSTOE2TVJSFXZWBTZ5NINJA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/5HLR6UPO3FWX7EC6HM4IQRM62LWMHPBFEZQJIH6SGPUHDUOXVASQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/CNOHGR2S6H2OKH4JKNJQZO3D7NYNYUU2CYPHXC2RU6TI7GSHKGVQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/QRGFI2IAB2TBWPELZPSTFBEEMR7FHXHCVZ4AEFJQN4GDWL2X4THA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/3LQM5NUK6NF4UM57YVSAPX4JA4CDZUYIKKISQSJQUJRW2AQC4VEA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/AH2SEBJYKYS32EHUEQ7UY5JAT22YKZUI7SH4OSFN7IRMFFSSEYKA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/DENQRX4XCCPI4HFSKC5XNOXLUXIHGNUFFDSFETRKCROGP5JEKCFA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/NZUFFQHLRHOVFYXEPJ3GPIALG65Z66PSYFUS33OBNBIR6E7QF3XQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/QZJU4ATFSHXEXI6VSEDY2HTUYDPUR7PWO4PNN37HAPPWH53RJEKA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/ERHN2R7AUMA5RZDT5V5PGT7ONEHNPJE73UVZQHL4TLEINE7WQPEQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/MM2HVOI6BKOB56JQO4UHUQV547BBAFCJSGVPRUMBAHKVISQVUBIQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/SZCPYWZ2A3HUDALJHHWGL7C7YZVXJOVUBSQEXCQVMORUONHJNG5A/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/NPMOEPPYOPE4JMX5AGFPJOJUP2EEDKCHTD4GPNIYORVDN7JBPXCQ/vendors.js"
        ]
    },
    "operations": {
        "GetRoutingControlState": {
            "input": {
                "type": "structure",
                "required": [
                    "RoutingControlArn"
                ],
                "members": {
                    "RoutingControlArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "RoutingControlArn",
                    "RoutingControlState"
                ],
                "members": {
                    "RoutingControlArn": {},
                    "RoutingControlState": {},
                    "RoutingControlName": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/LQVFZF2C24PLCA6IDHFUVTXSF3LVXEPASWD7EJNY2F7KVWCZEVMA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/B2TRGJDVK7N2EARDFFWEFL2LFJBEJAR2KFIERYGZFWM5DJ7Y67YA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YWXHUFX4AU634LFCXJTX5B5HNRTUG7SYPSQPWJWC4Y22UU6V2EPQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DNFGAWAAUJUTIZ267I3UOPFXVGEIPZDLZKOY4B2IAAZATBRNOENA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZN56JEMX6VACGX62PC5DYCRWLVS3FGKALTSXWM2PIJ7ZRLXGZJKA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MH2IXSVQMGD3CGNBR3OV6DF3AEH6OPCTSE2SVMWF3W3TR5EELBDA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/I5UQDA47Y4A5OU6A7LSZJ6GHXFBC44SXSINKTOD45P76HA5JKZ5Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FARP76F5GESSDNKGOICZMHZUGZZLOMCEV4ULJWDMWKMYODXHHYMA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OZ2JU42CALP6RYNJFBUGVSZLBOJAUBBEPD3O4A6FF3LKS4GCTI2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RMGJCTE4HBFG7HILP57OL5VCPUFBKQCNTTJYS65NOUTEF55IIIWQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XSTHRI44ZDHXBAYVQZPFPETDKQ3UG2CCMR7WRPGJISUZBUEYBENQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4POR7H6DMI5KG4LEOXUDPBN5VTAFJRSTOE2TVJSFXZWBTZ5NINJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5HLR6UPO3FWX7EC6HM4IQRM62LWMHPBFEZQJIH6SGPUHDUOXVASQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CNOHGR2S6H2OKH4JKNJQZO3D7NYNYUU2CYPHXC2RU6TI7GSHKGVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QRGFI2IAB2TBWPELZPSTFBEEMR7FHXHCVZ4AEFJQN4GDWL2X4THA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3LQM5NUK6NF4UM57YVSAPX4JA4CDZUYIKKISQSJQUJRW2AQC4VEA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AH2SEBJYKYS32EHUEQ7UY5JAT22YKZUI7SH4OSFN7IRMFFSSEYKA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DENQRX4XCCPI4HFSKC5XNOXLUXIHGNUFFDSFETRKCROGP5JEKCFA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NZUFFQHLRHOVFYXEPJ3GPIALG65Z66PSYFUS33OBNBIR6E7QF3XQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QZJU4ATFSHXEXI6VSEDY2HTUYDPUR7PWO4PNN37HAPPWH53RJEKA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ERHN2R7AUMA5RZDT5V5PGT7ONEHNPJE73UVZQHL4TLEINE7WQPEQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MM2HVOI6BKOB56JQO4UHUQV547BBAFCJSGVPRUMBAHKVISQVUBIQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SZCPYWZ2A3HUDALJHHWGL7C7YZVXJOVUBSQEXCQVMORUONHJNG5A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NPMOEPPYOPE4JMX5AGFPJOJUP2EEDKCHTD4GPNIYORVDN7JBPXCQ/vendors.js"
            ]
        },
        "ListRoutingControls": {
            "input": {
                "type": "structure",
                "members": {
                    "ControlPanelArn": {},
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "RoutingControls"
                ],
                "members": {
                    "RoutingControls": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ControlPanelArn": {},
                                "ControlPanelName": {},
                                "RoutingControlArn": {},
                                "RoutingControlName": {},
                                "RoutingControlState": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/LQVFZF2C24PLCA6IDHFUVTXSF3LVXEPASWD7EJNY2F7KVWCZEVMA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/B2TRGJDVK7N2EARDFFWEFL2LFJBEJAR2KFIERYGZFWM5DJ7Y67YA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YWXHUFX4AU634LFCXJTX5B5HNRTUG7SYPSQPWJWC4Y22UU6V2EPQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DNFGAWAAUJUTIZ267I3UOPFXVGEIPZDLZKOY4B2IAAZATBRNOENA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZN56JEMX6VACGX62PC5DYCRWLVS3FGKALTSXWM2PIJ7ZRLXGZJKA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MH2IXSVQMGD3CGNBR3OV6DF3AEH6OPCTSE2SVMWF3W3TR5EELBDA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/I5UQDA47Y4A5OU6A7LSZJ6GHXFBC44SXSINKTOD45P76HA5JKZ5Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FARP76F5GESSDNKGOICZMHZUGZZLOMCEV4ULJWDMWKMYODXHHYMA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OZ2JU42CALP6RYNJFBUGVSZLBOJAUBBEPD3O4A6FF3LKS4GCTI2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RMGJCTE4HBFG7HILP57OL5VCPUFBKQCNTTJYS65NOUTEF55IIIWQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XSTHRI44ZDHXBAYVQZPFPETDKQ3UG2CCMR7WRPGJISUZBUEYBENQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4POR7H6DMI5KG4LEOXUDPBN5VTAFJRSTOE2TVJSFXZWBTZ5NINJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5HLR6UPO3FWX7EC6HM4IQRM62LWMHPBFEZQJIH6SGPUHDUOXVASQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CNOHGR2S6H2OKH4JKNJQZO3D7NYNYUU2CYPHXC2RU6TI7GSHKGVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QRGFI2IAB2TBWPELZPSTFBEEMR7FHXHCVZ4AEFJQN4GDWL2X4THA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3LQM5NUK6NF4UM57YVSAPX4JA4CDZUYIKKISQSJQUJRW2AQC4VEA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AH2SEBJYKYS32EHUEQ7UY5JAT22YKZUI7SH4OSFN7IRMFFSSEYKA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DENQRX4XCCPI4HFSKC5XNOXLUXIHGNUFFDSFETRKCROGP5JEKCFA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NZUFFQHLRHOVFYXEPJ3GPIALG65Z66PSYFUS33OBNBIR6E7QF3XQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QZJU4ATFSHXEXI6VSEDY2HTUYDPUR7PWO4PNN37HAPPWH53RJEKA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ERHN2R7AUMA5RZDT5V5PGT7ONEHNPJE73UVZQHL4TLEINE7WQPEQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MM2HVOI6BKOB56JQO4UHUQV547BBAFCJSGVPRUMBAHKVISQVUBIQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SZCPYWZ2A3HUDALJHHWGL7C7YZVXJOVUBSQEXCQVMORUONHJNG5A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NPMOEPPYOPE4JMX5AGFPJOJUP2EEDKCHTD4GPNIYORVDN7JBPXCQ/vendors.js"
            ]
        },
        "UpdateRoutingControlState": {
            "input": {
                "type": "structure",
                "required": [
                    "RoutingControlArn",
                    "RoutingControlState"
                ],
                "members": {
                    "RoutingControlArn": {},
                    "RoutingControlState": {},
                    "SafetyRulesToOverride": {
                        "shape": "Se"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/LQVFZF2C24PLCA6IDHFUVTXSF3LVXEPASWD7EJNY2F7KVWCZEVMA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/B2TRGJDVK7N2EARDFFWEFL2LFJBEJAR2KFIERYGZFWM5DJ7Y67YA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YWXHUFX4AU634LFCXJTX5B5HNRTUG7SYPSQPWJWC4Y22UU6V2EPQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DNFGAWAAUJUTIZ267I3UOPFXVGEIPZDLZKOY4B2IAAZATBRNOENA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZN56JEMX6VACGX62PC5DYCRWLVS3FGKALTSXWM2PIJ7ZRLXGZJKA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MH2IXSVQMGD3CGNBR3OV6DF3AEH6OPCTSE2SVMWF3W3TR5EELBDA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/I5UQDA47Y4A5OU6A7LSZJ6GHXFBC44SXSINKTOD45P76HA5JKZ5Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FARP76F5GESSDNKGOICZMHZUGZZLOMCEV4ULJWDMWKMYODXHHYMA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OZ2JU42CALP6RYNJFBUGVSZLBOJAUBBEPD3O4A6FF3LKS4GCTI2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RMGJCTE4HBFG7HILP57OL5VCPUFBKQCNTTJYS65NOUTEF55IIIWQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XSTHRI44ZDHXBAYVQZPFPETDKQ3UG2CCMR7WRPGJISUZBUEYBENQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4POR7H6DMI5KG4LEOXUDPBN5VTAFJRSTOE2TVJSFXZWBTZ5NINJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5HLR6UPO3FWX7EC6HM4IQRM62LWMHPBFEZQJIH6SGPUHDUOXVASQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CNOHGR2S6H2OKH4JKNJQZO3D7NYNYUU2CYPHXC2RU6TI7GSHKGVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QRGFI2IAB2TBWPELZPSTFBEEMR7FHXHCVZ4AEFJQN4GDWL2X4THA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3LQM5NUK6NF4UM57YVSAPX4JA4CDZUYIKKISQSJQUJRW2AQC4VEA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AH2SEBJYKYS32EHUEQ7UY5JAT22YKZUI7SH4OSFN7IRMFFSSEYKA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DENQRX4XCCPI4HFSKC5XNOXLUXIHGNUFFDSFETRKCROGP5JEKCFA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NZUFFQHLRHOVFYXEPJ3GPIALG65Z66PSYFUS33OBNBIR6E7QF3XQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QZJU4ATFSHXEXI6VSEDY2HTUYDPUR7PWO4PNN37HAPPWH53RJEKA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ERHN2R7AUMA5RZDT5V5PGT7ONEHNPJE73UVZQHL4TLEINE7WQPEQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MM2HVOI6BKOB56JQO4UHUQV547BBAFCJSGVPRUMBAHKVISQVUBIQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SZCPYWZ2A3HUDALJHHWGL7C7YZVXJOVUBSQEXCQVMORUONHJNG5A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NPMOEPPYOPE4JMX5AGFPJOJUP2EEDKCHTD4GPNIYORVDN7JBPXCQ/vendors.js"
            ]
        },
        "UpdateRoutingControlStates": {
            "input": {
                "type": "structure",
                "required": [
                    "UpdateRoutingControlStateEntries"
                ],
                "members": {
                    "UpdateRoutingControlStateEntries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "RoutingControlArn",
                                "RoutingControlState"
                            ],
                            "members": {
                                "RoutingControlArn": {},
                                "RoutingControlState": {}
                            }
                        }
                    },
                    "SafetyRulesToOverride": {
                        "shape": "Se"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/LQVFZF2C24PLCA6IDHFUVTXSF3LVXEPASWD7EJNY2F7KVWCZEVMA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/B2TRGJDVK7N2EARDFFWEFL2LFJBEJAR2KFIERYGZFWM5DJ7Y67YA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YWXHUFX4AU634LFCXJTX5B5HNRTUG7SYPSQPWJWC4Y22UU6V2EPQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DNFGAWAAUJUTIZ267I3UOPFXVGEIPZDLZKOY4B2IAAZATBRNOENA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZN56JEMX6VACGX62PC5DYCRWLVS3FGKALTSXWM2PIJ7ZRLXGZJKA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MH2IXSVQMGD3CGNBR3OV6DF3AEH6OPCTSE2SVMWF3W3TR5EELBDA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/I5UQDA47Y4A5OU6A7LSZJ6GHXFBC44SXSINKTOD45P76HA5JKZ5Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FARP76F5GESSDNKGOICZMHZUGZZLOMCEV4ULJWDMWKMYODXHHYMA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OZ2JU42CALP6RYNJFBUGVSZLBOJAUBBEPD3O4A6FF3LKS4GCTI2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RMGJCTE4HBFG7HILP57OL5VCPUFBKQCNTTJYS65NOUTEF55IIIWQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XSTHRI44ZDHXBAYVQZPFPETDKQ3UG2CCMR7WRPGJISUZBUEYBENQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4POR7H6DMI5KG4LEOXUDPBN5VTAFJRSTOE2TVJSFXZWBTZ5NINJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5HLR6UPO3FWX7EC6HM4IQRM62LWMHPBFEZQJIH6SGPUHDUOXVASQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CNOHGR2S6H2OKH4JKNJQZO3D7NYNYUU2CYPHXC2RU6TI7GSHKGVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QRGFI2IAB2TBWPELZPSTFBEEMR7FHXHCVZ4AEFJQN4GDWL2X4THA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3LQM5NUK6NF4UM57YVSAPX4JA4CDZUYIKKISQSJQUJRW2AQC4VEA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AH2SEBJYKYS32EHUEQ7UY5JAT22YKZUI7SH4OSFN7IRMFFSSEYKA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DENQRX4XCCPI4HFSKC5XNOXLUXIHGNUFFDSFETRKCROGP5JEKCFA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NZUFFQHLRHOVFYXEPJ3GPIALG65Z66PSYFUS33OBNBIR6E7QF3XQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QZJU4ATFSHXEXI6VSEDY2HTUYDPUR7PWO4PNN37HAPPWH53RJEKA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ERHN2R7AUMA5RZDT5V5PGT7ONEHNPJE73UVZQHL4TLEINE7WQPEQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MM2HVOI6BKOB56JQO4UHUQV547BBAFCJSGVPRUMBAHKVISQVUBIQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SZCPYWZ2A3HUDALJHHWGL7C7YZVXJOVUBSQEXCQVMORUONHJNG5A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NPMOEPPYOPE4JMX5AGFPJOJUP2EEDKCHTD4GPNIYORVDN7JBPXCQ/vendors.js"
            ]
        }
    },
    "shapes": {
        "Se": {
            "type": "list",
            "member": {}
        },
        "Sf": {
            "type": "list",
            "member": {}
        }
    }
}