{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2019-12-02",
        "endpointPrefix": "mrmeridiandataplane",
        "jsonVersion": "1.0",
        "protocol": "json",
        "serviceFullName": "Meridian Cluster",
        "serviceId": "Meridian Cluster",
        "signatureVersion": "v4",
        "signingName": "meridian-cluster",
        "targetPrefix": "ToggleCustomerAPI",
        "uid": "mrmeridiandataplane-2019-12-02",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/NLRABRPMLYA5L3BKJC26DRIT743QQUABVWTFBD4T5DXNET3WD6VA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7ACWOL6AYZBVCFSH62YI56NKBGFTFMLUHEIKXPFT75JSMD76OE4Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QNDD62YTMKGDZBPUY6SKSDQTFG65DLEL54W2Z5YBYZY5KWC6PX4Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZQEAISQBCG3XP3UDFGTSF52GQKT3ZFAZHVIY65CO44AZETA6KLPA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LD2SSNI5QCAMXIUZDXEY32ITAQHVHUKXPU654JZN6EITZISKBCOQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/F4COMRRBNNO3RQIQN7TRJWFCONK5CMU57FYAYCT337LNZ3NFNYNQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/T3KWVAWM3AASCRC3H7FV7CCF7J54BJGVJUYK3NX5ZZU24R5VF2FQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/63F5DDPGWS6J2R7KSAEFTPIY5KFYDVKSNYT47YHDLTG57TK65DTQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6DOYMP6ZSOBX5OFC4H6Q2JQZYQF3RFCV2U2TIFGI6TL32TSXXTDA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TZPBDMR2JIR36B6Q6COBBIAUUGHJNRK467PQ2IORSSUV7HCJTJVQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GEUYGCBR3TWIWRGCY7GTNSGQGCI3N4ICVQIRI4FD4FHL7GDJ7U5Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RJKGECHB3YMY3GXE5CNQWIMAQ7QKWBNXVTN4C5ZRSYHAT65VOYOQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/T4X6ZZKDZLHECBMSOFLHMFG5HV4BZQV7ZWB333FPAKTUX4XKRWQA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YVJDCXUHZB62SBEMQNHGCKNTARNEVSYLQM7J654A3JABEB65GL2Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/F3K6URCFB2K3BUB5L3NMKVD4AGCNQSGBXMAOEIBFTWICNL7N3CHQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/74P5XYQMHTLXHY6KG6DDB3L6OVKXOPYFGO3I2RIBFEXGJSDNITDQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3JYVIUWXAMYVNMTHPF6PQSNHMGYEDHKNMYM3PC7FM7UZSOZXQ2RQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2TJXO5KL5LGNA3EGDCP5R7BRJ4RLEAJGHQPHYUVZDLKP7ARAS2MA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H2LJPF5DWI5U4MCXOQHD5Q4NYY3ALSC4XGU7TE4XZZ2E2K6DY7MA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6PFP6BIAGS3LSGY5QBQORARULI47DUUQ7ANCJBTSFMS4IUKPIMTQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SMNQYDEUO5IBI5MUM3EW2LE2TJMV2NWFATT3SZ46JTVQ4TODDYQA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4P5WTH7D3F3UFHCTMCP2TZPFILYEVF6WBFBL5DPXDE6SWHXMRAGA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OWTB5TD3ETHFLNBBGOAI2XLHFJ6LODJ33BIJUH4LPXTC5F2BEDRQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SNGN43QUL36TT45JNWAIXHT5W2MRPL6DLMU7IJYCQ3YWMQRGZWQA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J4373LRPRMLNQ2VICBHWWZUDQF2G6IO7YBYKJAS2RREP52FIQPCA/vendors.js"
        ]
    },
    "operations": {
        "GetRoutingControlState": {
            "input": {
                "type": "structure",
                "required": [
                    "RoutingControlArn"
                ],
                "members": {
                    "RoutingControlArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "RoutingControlArn",
                    "RoutingControlState"
                ],
                "members": {
                    "RoutingControlArn": {},
                    "RoutingControlState": {},
                    "RoutingControlName": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ACWOL6AYZBVCFSH62YI56NKBGFTFMLUHEIKXPFT75JSMD76OE4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNDD62YTMKGDZBPUY6SKSDQTFG65DLEL54W2Z5YBYZY5KWC6PX4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQEAISQBCG3XP3UDFGTSF52GQKT3ZFAZHVIY65CO44AZETA6KLPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD2SSNI5QCAMXIUZDXEY32ITAQHVHUKXPU654JZN6EITZISKBCOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F4COMRRBNNO3RQIQN7TRJWFCONK5CMU57FYAYCT337LNZ3NFNYNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3KWVAWM3AASCRC3H7FV7CCF7J54BJGVJUYK3NX5ZZU24R5VF2FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63F5DDPGWS6J2R7KSAEFTPIY5KFYDVKSNYT47YHDLTG57TK65DTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOYMP6ZSOBX5OFC4H6Q2JQZYQF3RFCV2U2TIFGI6TL32TSXXTDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TZPBDMR2JIR36B6Q6COBBIAUUGHJNRK467PQ2IORSSUV7HCJTJVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEUYGCBR3TWIWRGCY7GTNSGQGCI3N4ICVQIRI4FD4FHL7GDJ7U5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJKGECHB3YMY3GXE5CNQWIMAQ7QKWBNXVTN4C5ZRSYHAT65VOYOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4X6ZZKDZLHECBMSOFLHMFG5HV4BZQV7ZWB333FPAKTUX4XKRWQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVJDCXUHZB62SBEMQNHGCKNTARNEVSYLQM7J654A3JABEB65GL2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3K6URCFB2K3BUB5L3NMKVD4AGCNQSGBXMAOEIBFTWICNL7N3CHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74P5XYQMHTLXHY6KG6DDB3L6OVKXOPYFGO3I2RIBFEXGJSDNITDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JYVIUWXAMYVNMTHPF6PQSNHMGYEDHKNMYM3PC7FM7UZSOZXQ2RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TJXO5KL5LGNA3EGDCP5R7BRJ4RLEAJGHQPHYUVZDLKP7ARAS2MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2LJPF5DWI5U4MCXOQHD5Q4NYY3ALSC4XGU7TE4XZZ2E2K6DY7MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PFP6BIAGS3LSGY5QBQORARULI47DUUQ7ANCJBTSFMS4IUKPIMTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMNQYDEUO5IBI5MUM3EW2LE2TJMV2NWFATT3SZ46JTVQ4TODDYQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4P5WTH7D3F3UFHCTMCP2TZPFILYEVF6WBFBL5DPXDE6SWHXMRAGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWTB5TD3ETHFLNBBGOAI2XLHFJ6LODJ33BIJUH4LPXTC5F2BEDRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNGN43QUL36TT45JNWAIXHT5W2MRPL6DLMU7IJYCQ3YWMQRGZWQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4373LRPRMLNQ2VICBHWWZUDQF2G6IO7YBYKJAS2RREP52FIQPCA/vendors.js"
            ]
        },
        "ListRoutingControls": {
            "input": {
                "type": "structure",
                "members": {
                    "ControlPanelArn": {},
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "RoutingControls"
                ],
                "members": {
                    "RoutingControls": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ControlPanelArn": {},
                                "ControlPanelName": {},
                                "RoutingControlArn": {},
                                "RoutingControlName": {},
                                "RoutingControlState": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ACWOL6AYZBVCFSH62YI56NKBGFTFMLUHEIKXPFT75JSMD76OE4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNDD62YTMKGDZBPUY6SKSDQTFG65DLEL54W2Z5YBYZY5KWC6PX4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQEAISQBCG3XP3UDFGTSF52GQKT3ZFAZHVIY65CO44AZETA6KLPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD2SSNI5QCAMXIUZDXEY32ITAQHVHUKXPU654JZN6EITZISKBCOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F4COMRRBNNO3RQIQN7TRJWFCONK5CMU57FYAYCT337LNZ3NFNYNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3KWVAWM3AASCRC3H7FV7CCF7J54BJGVJUYK3NX5ZZU24R5VF2FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63F5DDPGWS6J2R7KSAEFTPIY5KFYDVKSNYT47YHDLTG57TK65DTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOYMP6ZSOBX5OFC4H6Q2JQZYQF3RFCV2U2TIFGI6TL32TSXXTDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TZPBDMR2JIR36B6Q6COBBIAUUGHJNRK467PQ2IORSSUV7HCJTJVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEUYGCBR3TWIWRGCY7GTNSGQGCI3N4ICVQIRI4FD4FHL7GDJ7U5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJKGECHB3YMY3GXE5CNQWIMAQ7QKWBNXVTN4C5ZRSYHAT65VOYOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4X6ZZKDZLHECBMSOFLHMFG5HV4BZQV7ZWB333FPAKTUX4XKRWQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVJDCXUHZB62SBEMQNHGCKNTARNEVSYLQM7J654A3JABEB65GL2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3K6URCFB2K3BUB5L3NMKVD4AGCNQSGBXMAOEIBFTWICNL7N3CHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74P5XYQMHTLXHY6KG6DDB3L6OVKXOPYFGO3I2RIBFEXGJSDNITDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JYVIUWXAMYVNMTHPF6PQSNHMGYEDHKNMYM3PC7FM7UZSOZXQ2RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TJXO5KL5LGNA3EGDCP5R7BRJ4RLEAJGHQPHYUVZDLKP7ARAS2MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2LJPF5DWI5U4MCXOQHD5Q4NYY3ALSC4XGU7TE4XZZ2E2K6DY7MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PFP6BIAGS3LSGY5QBQORARULI47DUUQ7ANCJBTSFMS4IUKPIMTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMNQYDEUO5IBI5MUM3EW2LE2TJMV2NWFATT3SZ46JTVQ4TODDYQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4P5WTH7D3F3UFHCTMCP2TZPFILYEVF6WBFBL5DPXDE6SWHXMRAGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWTB5TD3ETHFLNBBGOAI2XLHFJ6LODJ33BIJUH4LPXTC5F2BEDRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNGN43QUL36TT45JNWAIXHT5W2MRPL6DLMU7IJYCQ3YWMQRGZWQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4373LRPRMLNQ2VICBHWWZUDQF2G6IO7YBYKJAS2RREP52FIQPCA/vendors.js"
            ]
        },
        "UpdateRoutingControlState": {
            "input": {
                "type": "structure",
                "required": [
                    "RoutingControlArn",
                    "RoutingControlState"
                ],
                "members": {
                    "RoutingControlArn": {},
                    "RoutingControlState": {},
                    "SafetyRulesToOverride": {
                        "shape": "Se"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ACWOL6AYZBVCFSH62YI56NKBGFTFMLUHEIKXPFT75JSMD76OE4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNDD62YTMKGDZBPUY6SKSDQTFG65DLEL54W2Z5YBYZY5KWC6PX4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQEAISQBCG3XP3UDFGTSF52GQKT3ZFAZHVIY65CO44AZETA6KLPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD2SSNI5QCAMXIUZDXEY32ITAQHVHUKXPU654JZN6EITZISKBCOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F4COMRRBNNO3RQIQN7TRJWFCONK5CMU57FYAYCT337LNZ3NFNYNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3KWVAWM3AASCRC3H7FV7CCF7J54BJGVJUYK3NX5ZZU24R5VF2FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63F5DDPGWS6J2R7KSAEFTPIY5KFYDVKSNYT47YHDLTG57TK65DTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOYMP6ZSOBX5OFC4H6Q2JQZYQF3RFCV2U2TIFGI6TL32TSXXTDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TZPBDMR2JIR36B6Q6COBBIAUUGHJNRK467PQ2IORSSUV7HCJTJVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEUYGCBR3TWIWRGCY7GTNSGQGCI3N4ICVQIRI4FD4FHL7GDJ7U5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJKGECHB3YMY3GXE5CNQWIMAQ7QKWBNXVTN4C5ZRSYHAT65VOYOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4X6ZZKDZLHECBMSOFLHMFG5HV4BZQV7ZWB333FPAKTUX4XKRWQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVJDCXUHZB62SBEMQNHGCKNTARNEVSYLQM7J654A3JABEB65GL2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3K6URCFB2K3BUB5L3NMKVD4AGCNQSGBXMAOEIBFTWICNL7N3CHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74P5XYQMHTLXHY6KG6DDB3L6OVKXOPYFGO3I2RIBFEXGJSDNITDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JYVIUWXAMYVNMTHPF6PQSNHMGYEDHKNMYM3PC7FM7UZSOZXQ2RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TJXO5KL5LGNA3EGDCP5R7BRJ4RLEAJGHQPHYUVZDLKP7ARAS2MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2LJPF5DWI5U4MCXOQHD5Q4NYY3ALSC4XGU7TE4XZZ2E2K6DY7MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PFP6BIAGS3LSGY5QBQORARULI47DUUQ7ANCJBTSFMS4IUKPIMTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMNQYDEUO5IBI5MUM3EW2LE2TJMV2NWFATT3SZ46JTVQ4TODDYQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4P5WTH7D3F3UFHCTMCP2TZPFILYEVF6WBFBL5DPXDE6SWHXMRAGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWTB5TD3ETHFLNBBGOAI2XLHFJ6LODJ33BIJUH4LPXTC5F2BEDRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNGN43QUL36TT45JNWAIXHT5W2MRPL6DLMU7IJYCQ3YWMQRGZWQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4373LRPRMLNQ2VICBHWWZUDQF2G6IO7YBYKJAS2RREP52FIQPCA/vendors.js"
            ]
        },
        "UpdateRoutingControlStates": {
            "input": {
                "type": "structure",
                "required": [
                    "UpdateRoutingControlStateEntries"
                ],
                "members": {
                    "UpdateRoutingControlStateEntries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "RoutingControlArn",
                                "RoutingControlState"
                            ],
                            "members": {
                                "RoutingControlArn": {},
                                "RoutingControlState": {}
                            }
                        }
                    },
                    "SafetyRulesToOverride": {
                        "shape": "Se"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ACWOL6AYZBVCFSH62YI56NKBGFTFMLUHEIKXPFT75JSMD76OE4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNDD62YTMKGDZBPUY6SKSDQTFG65DLEL54W2Z5YBYZY5KWC6PX4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQEAISQBCG3XP3UDFGTSF52GQKT3ZFAZHVIY65CO44AZETA6KLPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD2SSNI5QCAMXIUZDXEY32ITAQHVHUKXPU654JZN6EITZISKBCOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F4COMRRBNNO3RQIQN7TRJWFCONK5CMU57FYAYCT337LNZ3NFNYNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3KWVAWM3AASCRC3H7FV7CCF7J54BJGVJUYK3NX5ZZU24R5VF2FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63F5DDPGWS6J2R7KSAEFTPIY5KFYDVKSNYT47YHDLTG57TK65DTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOYMP6ZSOBX5OFC4H6Q2JQZYQF3RFCV2U2TIFGI6TL32TSXXTDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TZPBDMR2JIR36B6Q6COBBIAUUGHJNRK467PQ2IORSSUV7HCJTJVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEUYGCBR3TWIWRGCY7GTNSGQGCI3N4ICVQIRI4FD4FHL7GDJ7U5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJKGECHB3YMY3GXE5CNQWIMAQ7QKWBNXVTN4C5ZRSYHAT65VOYOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4X6ZZKDZLHECBMSOFLHMFG5HV4BZQV7ZWB333FPAKTUX4XKRWQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVJDCXUHZB62SBEMQNHGCKNTARNEVSYLQM7J654A3JABEB65GL2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3K6URCFB2K3BUB5L3NMKVD4AGCNQSGBXMAOEIBFTWICNL7N3CHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74P5XYQMHTLXHY6KG6DDB3L6OVKXOPYFGO3I2RIBFEXGJSDNITDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JYVIUWXAMYVNMTHPF6PQSNHMGYEDHKNMYM3PC7FM7UZSOZXQ2RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TJXO5KL5LGNA3EGDCP5R7BRJ4RLEAJGHQPHYUVZDLKP7ARAS2MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2LJPF5DWI5U4MCXOQHD5Q4NYY3ALSC4XGU7TE4XZZ2E2K6DY7MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PFP6BIAGS3LSGY5QBQORARULI47DUUQ7ANCJBTSFMS4IUKPIMTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMNQYDEUO5IBI5MUM3EW2LE2TJMV2NWFATT3SZ46JTVQ4TODDYQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4P5WTH7D3F3UFHCTMCP2TZPFILYEVF6WBFBL5DPXDE6SWHXMRAGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWTB5TD3ETHFLNBBGOAI2XLHFJ6LODJ33BIJUH4LPXTC5F2BEDRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNGN43QUL36TT45JNWAIXHT5W2MRPL6DLMU7IJYCQ3YWMQRGZWQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4373LRPRMLNQ2VICBHWWZUDQF2G6IO7YBYKJAS2RREP52FIQPCA/vendors.js"
            ]
        }
    },
    "shapes": {
        "Se": {
            "type": "list",
            "member": {}
        },
        "Sf": {
            "type": "list",
            "member": {}
        }
    }
}