{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2019-12-02",
        "endpointPrefix": "mrmeridiandataplane",
        "jsonVersion": "1.0",
        "protocol": "json",
        "serviceFullName": "Meridian Cluster",
        "serviceId": "Meridian Cluster",
        "signatureVersion": "v4",
        "signingName": "meridian-cluster",
        "targetPrefix": "ToggleCustomerAPI",
        "uid": "mrmeridiandataplane-2019-12-02",
        "download_location": [
            "https://c.d.cdn.console.awsstatic.com/a/v1/EQGN6FHXGIQ4SD4YBLKAP3XOVZWIPZK4IPAZHIAL6LI3CWOO45KQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/NH5TEULQDCFTW34ADP7K2535HZXQUJ3HSA64QKLFZ2TFSPSH6KCA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/6PAJ7A2QMGSU6DCNIFWR3HHS6SDOFDKZDLSBVAHDDXZHIJYGHWIQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/BYEK7LC3AAW6HZC5PVZM6SQ5HNOTRG4KU2XFXXJF6YBDK5H66UPA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/2JA4RMT3VZQ7FIMF2Z7QRCGKDXA7MD26TEO2TLJHIEQGE44MHKDQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/DE62IPS7FBQ7RHB5VAIJNJCN2AK4FNG7A36MZ27V2VLNIUOEQYMQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/GYOJO25C24NDJLZVNK4OWASSKOZYS3ZW7FD525NAKEWWOLO7SUAQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/WQSUESRR3SGKSFNKYJOX2I3L2AW33YLPBN6N6MGF7RBMNF7DTFJA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/E3W5C7D4PJTC7LFTSPOK2PFYZV72AHJE4OYJATIWDSJOTJLR23HQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/XKJEUPXW25FOYMVE6R5JE25TLORBG7LT5EROWYQFEBZQ4PIP4RRQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/K3M7GXEO2L3ASFO2TXLMDBKUC62DICSBS5PRSIJG67LRDRYVF3AQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/K3M7GXEO2L3ASFO2TXLMDBKUC62DICSBS5PRSIJG67LRDRYVF3AQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PHVDV7MIBXWWHJSU2XT4GL5JYMVIDQIKB5MIHT3EKUOBQ4VF74IQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TANPBI5Z6BSBBGPMCPQ22HLBXMBZDMZSRRRVKGHURUENK63X72GA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GSZWROHNQJI76ODOVUFUWAW7ZRLVEKIFSIE5JV3EZOLTCIGO3KXA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/37Q3R3X2IU4ONZQYFB775AS35N7EMG37L3V7ZCZ6RB5QLEUCEQIA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UCCPMM3PGEEQ45RZMJOJ7LL5TEGO5FRHZBEQRJWFD3YSCYQ2QXZA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VRN6DI3ONPNJHWBEPXEFPCDUQ7WGCDNLZDANSTAH4OTQ4GQWLTFQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EKJDNVOKKZMMSNWSR3WP6CKICDAYKZLB7JGIRWOAWTMH3LWEGEJQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PHCMIPRSOFSGQBFXSSNGJXHAKGKRU6TWDQDRUTUCC4ZUJ37YRVRA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UXLBDSXYPRZ5BLFA46AIXECKY7S5TQ2NAGEEEG637MC6MYN4OZXQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DFAJYV5RL3G6QCZK4OWUMKQP374S3OST244ASM7UT7P6UCH5LFWA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3KMLQ6NUEB42ZFGXZNPJ62Z5FLKN5Q3THWZG6BKBN6R23NCHCWBQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JVDCCYHK7MZC4FGVYH6A6JEPWUBOKZGIBI35MR4GQBBZPANL35KA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ERJGC4OJTSYISLUBAE56WEOCEUKR7JZN3LZ4WADQ4KWQHYTGZ4XA/vendors.js"
        ]
    },
    "operations": {
        "GetRoutingControlState": {
            "input": {
                "type": "structure",
                "required": [
                    "RoutingControlArn"
                ],
                "members": {
                    "RoutingControlArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "RoutingControlArn",
                    "RoutingControlState"
                ],
                "members": {
                    "RoutingControlArn": {},
                    "RoutingControlState": {},
                    "RoutingControlName": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/NH5TEULQDCFTW34ADP7K2535HZXQUJ3HSA64QKLFZ2TFSPSH6KCA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6PAJ7A2QMGSU6DCNIFWR3HHS6SDOFDKZDLSBVAHDDXZHIJYGHWIQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BYEK7LC3AAW6HZC5PVZM6SQ5HNOTRG4KU2XFXXJF6YBDK5H66UPA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2JA4RMT3VZQ7FIMF2Z7QRCGKDXA7MD26TEO2TLJHIEQGE44MHKDQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DE62IPS7FBQ7RHB5VAIJNJCN2AK4FNG7A36MZ27V2VLNIUOEQYMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GYOJO25C24NDJLZVNK4OWASSKOZYS3ZW7FD525NAKEWWOLO7SUAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WQSUESRR3SGKSFNKYJOX2I3L2AW33YLPBN6N6MGF7RBMNF7DTFJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/E3W5C7D4PJTC7LFTSPOK2PFYZV72AHJE4OYJATIWDSJOTJLR23HQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XKJEUPXW25FOYMVE6R5JE25TLORBG7LT5EROWYQFEBZQ4PIP4RRQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/K3M7GXEO2L3ASFO2TXLMDBKUC62DICSBS5PRSIJG67LRDRYVF3AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3M7GXEO2L3ASFO2TXLMDBKUC62DICSBS5PRSIJG67LRDRYVF3AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHVDV7MIBXWWHJSU2XT4GL5JYMVIDQIKB5MIHT3EKUOBQ4VF74IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TANPBI5Z6BSBBGPMCPQ22HLBXMBZDMZSRRRVKGHURUENK63X72GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GSZWROHNQJI76ODOVUFUWAW7ZRLVEKIFSIE5JV3EZOLTCIGO3KXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/37Q3R3X2IU4ONZQYFB775AS35N7EMG37L3V7ZCZ6RB5QLEUCEQIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCCPMM3PGEEQ45RZMJOJ7LL5TEGO5FRHZBEQRJWFD3YSCYQ2QXZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VRN6DI3ONPNJHWBEPXEFPCDUQ7WGCDNLZDANSTAH4OTQ4GQWLTFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKJDNVOKKZMMSNWSR3WP6CKICDAYKZLB7JGIRWOAWTMH3LWEGEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHCMIPRSOFSGQBFXSSNGJXHAKGKRU6TWDQDRUTUCC4ZUJ37YRVRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXLBDSXYPRZ5BLFA46AIXECKY7S5TQ2NAGEEEG637MC6MYN4OZXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFAJYV5RL3G6QCZK4OWUMKQP374S3OST244ASM7UT7P6UCH5LFWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KMLQ6NUEB42ZFGXZNPJ62Z5FLKN5Q3THWZG6BKBN6R23NCHCWBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVDCCYHK7MZC4FGVYH6A6JEPWUBOKZGIBI35MR4GQBBZPANL35KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERJGC4OJTSYISLUBAE56WEOCEUKR7JZN3LZ4WADQ4KWQHYTGZ4XA/vendors.js"
            ]
        },
        "ListRoutingControls": {
            "input": {
                "type": "structure",
                "members": {
                    "ControlPanelArn": {},
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "RoutingControls"
                ],
                "members": {
                    "RoutingControls": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ControlPanelArn": {},
                                "ControlPanelName": {},
                                "RoutingControlArn": {},
                                "RoutingControlName": {},
                                "RoutingControlState": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/NH5TEULQDCFTW34ADP7K2535HZXQUJ3HSA64QKLFZ2TFSPSH6KCA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6PAJ7A2QMGSU6DCNIFWR3HHS6SDOFDKZDLSBVAHDDXZHIJYGHWIQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BYEK7LC3AAW6HZC5PVZM6SQ5HNOTRG4KU2XFXXJF6YBDK5H66UPA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2JA4RMT3VZQ7FIMF2Z7QRCGKDXA7MD26TEO2TLJHIEQGE44MHKDQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DE62IPS7FBQ7RHB5VAIJNJCN2AK4FNG7A36MZ27V2VLNIUOEQYMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GYOJO25C24NDJLZVNK4OWASSKOZYS3ZW7FD525NAKEWWOLO7SUAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WQSUESRR3SGKSFNKYJOX2I3L2AW33YLPBN6N6MGF7RBMNF7DTFJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/E3W5C7D4PJTC7LFTSPOK2PFYZV72AHJE4OYJATIWDSJOTJLR23HQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XKJEUPXW25FOYMVE6R5JE25TLORBG7LT5EROWYQFEBZQ4PIP4RRQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/K3M7GXEO2L3ASFO2TXLMDBKUC62DICSBS5PRSIJG67LRDRYVF3AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3M7GXEO2L3ASFO2TXLMDBKUC62DICSBS5PRSIJG67LRDRYVF3AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHVDV7MIBXWWHJSU2XT4GL5JYMVIDQIKB5MIHT3EKUOBQ4VF74IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TANPBI5Z6BSBBGPMCPQ22HLBXMBZDMZSRRRVKGHURUENK63X72GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GSZWROHNQJI76ODOVUFUWAW7ZRLVEKIFSIE5JV3EZOLTCIGO3KXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/37Q3R3X2IU4ONZQYFB775AS35N7EMG37L3V7ZCZ6RB5QLEUCEQIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCCPMM3PGEEQ45RZMJOJ7LL5TEGO5FRHZBEQRJWFD3YSCYQ2QXZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VRN6DI3ONPNJHWBEPXEFPCDUQ7WGCDNLZDANSTAH4OTQ4GQWLTFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKJDNVOKKZMMSNWSR3WP6CKICDAYKZLB7JGIRWOAWTMH3LWEGEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHCMIPRSOFSGQBFXSSNGJXHAKGKRU6TWDQDRUTUCC4ZUJ37YRVRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXLBDSXYPRZ5BLFA46AIXECKY7S5TQ2NAGEEEG637MC6MYN4OZXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFAJYV5RL3G6QCZK4OWUMKQP374S3OST244ASM7UT7P6UCH5LFWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KMLQ6NUEB42ZFGXZNPJ62Z5FLKN5Q3THWZG6BKBN6R23NCHCWBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVDCCYHK7MZC4FGVYH6A6JEPWUBOKZGIBI35MR4GQBBZPANL35KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERJGC4OJTSYISLUBAE56WEOCEUKR7JZN3LZ4WADQ4KWQHYTGZ4XA/vendors.js"
            ]
        },
        "UpdateRoutingControlState": {
            "input": {
                "type": "structure",
                "required": [
                    "RoutingControlArn",
                    "RoutingControlState"
                ],
                "members": {
                    "RoutingControlArn": {},
                    "RoutingControlState": {},
                    "SafetyRulesToOverride": {
                        "shape": "Se"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/NH5TEULQDCFTW34ADP7K2535HZXQUJ3HSA64QKLFZ2TFSPSH6KCA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6PAJ7A2QMGSU6DCNIFWR3HHS6SDOFDKZDLSBVAHDDXZHIJYGHWIQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BYEK7LC3AAW6HZC5PVZM6SQ5HNOTRG4KU2XFXXJF6YBDK5H66UPA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2JA4RMT3VZQ7FIMF2Z7QRCGKDXA7MD26TEO2TLJHIEQGE44MHKDQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DE62IPS7FBQ7RHB5VAIJNJCN2AK4FNG7A36MZ27V2VLNIUOEQYMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GYOJO25C24NDJLZVNK4OWASSKOZYS3ZW7FD525NAKEWWOLO7SUAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WQSUESRR3SGKSFNKYJOX2I3L2AW33YLPBN6N6MGF7RBMNF7DTFJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/E3W5C7D4PJTC7LFTSPOK2PFYZV72AHJE4OYJATIWDSJOTJLR23HQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XKJEUPXW25FOYMVE6R5JE25TLORBG7LT5EROWYQFEBZQ4PIP4RRQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/K3M7GXEO2L3ASFO2TXLMDBKUC62DICSBS5PRSIJG67LRDRYVF3AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3M7GXEO2L3ASFO2TXLMDBKUC62DICSBS5PRSIJG67LRDRYVF3AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHVDV7MIBXWWHJSU2XT4GL5JYMVIDQIKB5MIHT3EKUOBQ4VF74IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TANPBI5Z6BSBBGPMCPQ22HLBXMBZDMZSRRRVKGHURUENK63X72GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GSZWROHNQJI76ODOVUFUWAW7ZRLVEKIFSIE5JV3EZOLTCIGO3KXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/37Q3R3X2IU4ONZQYFB775AS35N7EMG37L3V7ZCZ6RB5QLEUCEQIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCCPMM3PGEEQ45RZMJOJ7LL5TEGO5FRHZBEQRJWFD3YSCYQ2QXZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VRN6DI3ONPNJHWBEPXEFPCDUQ7WGCDNLZDANSTAH4OTQ4GQWLTFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKJDNVOKKZMMSNWSR3WP6CKICDAYKZLB7JGIRWOAWTMH3LWEGEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHCMIPRSOFSGQBFXSSNGJXHAKGKRU6TWDQDRUTUCC4ZUJ37YRVRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXLBDSXYPRZ5BLFA46AIXECKY7S5TQ2NAGEEEG637MC6MYN4OZXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFAJYV5RL3G6QCZK4OWUMKQP374S3OST244ASM7UT7P6UCH5LFWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KMLQ6NUEB42ZFGXZNPJ62Z5FLKN5Q3THWZG6BKBN6R23NCHCWBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVDCCYHK7MZC4FGVYH6A6JEPWUBOKZGIBI35MR4GQBBZPANL35KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERJGC4OJTSYISLUBAE56WEOCEUKR7JZN3LZ4WADQ4KWQHYTGZ4XA/vendors.js"
            ]
        },
        "UpdateRoutingControlStates": {
            "input": {
                "type": "structure",
                "required": [
                    "UpdateRoutingControlStateEntries"
                ],
                "members": {
                    "UpdateRoutingControlStateEntries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "RoutingControlArn",
                                "RoutingControlState"
                            ],
                            "members": {
                                "RoutingControlArn": {},
                                "RoutingControlState": {}
                            }
                        }
                    },
                    "SafetyRulesToOverride": {
                        "shape": "Se"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/NH5TEULQDCFTW34ADP7K2535HZXQUJ3HSA64QKLFZ2TFSPSH6KCA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6PAJ7A2QMGSU6DCNIFWR3HHS6SDOFDKZDLSBVAHDDXZHIJYGHWIQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BYEK7LC3AAW6HZC5PVZM6SQ5HNOTRG4KU2XFXXJF6YBDK5H66UPA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2JA4RMT3VZQ7FIMF2Z7QRCGKDXA7MD26TEO2TLJHIEQGE44MHKDQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DE62IPS7FBQ7RHB5VAIJNJCN2AK4FNG7A36MZ27V2VLNIUOEQYMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GYOJO25C24NDJLZVNK4OWASSKOZYS3ZW7FD525NAKEWWOLO7SUAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WQSUESRR3SGKSFNKYJOX2I3L2AW33YLPBN6N6MGF7RBMNF7DTFJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/E3W5C7D4PJTC7LFTSPOK2PFYZV72AHJE4OYJATIWDSJOTJLR23HQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XKJEUPXW25FOYMVE6R5JE25TLORBG7LT5EROWYQFEBZQ4PIP4RRQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/K3M7GXEO2L3ASFO2TXLMDBKUC62DICSBS5PRSIJG67LRDRYVF3AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3M7GXEO2L3ASFO2TXLMDBKUC62DICSBS5PRSIJG67LRDRYVF3AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHVDV7MIBXWWHJSU2XT4GL5JYMVIDQIKB5MIHT3EKUOBQ4VF74IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TANPBI5Z6BSBBGPMCPQ22HLBXMBZDMZSRRRVKGHURUENK63X72GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GSZWROHNQJI76ODOVUFUWAW7ZRLVEKIFSIE5JV3EZOLTCIGO3KXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/37Q3R3X2IU4ONZQYFB775AS35N7EMG37L3V7ZCZ6RB5QLEUCEQIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCCPMM3PGEEQ45RZMJOJ7LL5TEGO5FRHZBEQRJWFD3YSCYQ2QXZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VRN6DI3ONPNJHWBEPXEFPCDUQ7WGCDNLZDANSTAH4OTQ4GQWLTFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKJDNVOKKZMMSNWSR3WP6CKICDAYKZLB7JGIRWOAWTMH3LWEGEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHCMIPRSOFSGQBFXSSNGJXHAKGKRU6TWDQDRUTUCC4ZUJ37YRVRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXLBDSXYPRZ5BLFA46AIXECKY7S5TQ2NAGEEEG637MC6MYN4OZXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFAJYV5RL3G6QCZK4OWUMKQP374S3OST244ASM7UT7P6UCH5LFWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KMLQ6NUEB42ZFGXZNPJ62Z5FLKN5Q3THWZG6BKBN6R23NCHCWBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVDCCYHK7MZC4FGVYH6A6JEPWUBOKZGIBI35MR4GQBBZPANL35KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERJGC4OJTSYISLUBAE56WEOCEUKR7JZN3LZ4WADQ4KWQHYTGZ4XA/vendors.js"
            ]
        }
    },
    "shapes": {
        "Se": {
            "type": "list",
            "member": {}
        },
        "Sf": {
            "type": "list",
            "member": {}
        }
    }
}