{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2019-12-02",
        "endpointPrefix": "mrmeridiandataplane",
        "jsonVersion": "1.0",
        "protocol": "json",
        "serviceFullName": "Meridian Cluster",
        "serviceId": "Meridian Cluster",
        "signatureVersion": "v4",
        "signingName": "meridian-cluster",
        "targetPrefix": "ToggleCustomerAPI",
        "uid": "mrmeridiandataplane-2019-12-02",
        "download_location": [
            "https://c.d.cdn.console.awsstatic.com/a/v1/D6MQVOWIQV267FOQAIR4C5CENRFQRFLEVQAKR5JTCRSZNX52TT6A/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/DMHSJAG7SX6TUWIZOUVERLEUZOK75CJVIWXSABR234IG4MZ6SOQQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/H7QXYMOZGLTPZALN4UAWN3G6QSP45X5NX2VVVXF5CCWIIWOHCM2Q/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/3CXTVW45YI2YEMQBMBIMPOOXMEEHQDWYAQE3QMY55MO7BQNWYDSQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/TWANOOBOHJD5SPZP2TCCFOVBWNDA42GWXTMUNLYZFJNVKDODMPFQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/AZ6JFMQFAUFL4ZFEI3JQJITJM3HALL3YV3Q6B6JEWODYM7K7J2KQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/MRQQ7A6IKGV3USIQWCMUYDX4ZCH5TFQPOX6MHAD2DMID3JNUIVKQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/QJQB2Z7PAVDZ22LZ4HWZFJWKLHUPE3PHJ5IJJVNG6EGT4QFYWIPQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/246CZAE2KMSNQ6GOZXJYTBB7FPA6TYQI6BKXRZ4TVGNCNT7ZLTEA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/WSYS6IUBZF44MQDPDJ2C2XXXCE3YUEKLZ5HGYE5TNYQXCYHP5QEA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/LNIBSSRAM3DM2GARIX4XDDVKRJB6PIYB4HNIMU3X5CWSNUYODPLA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/N3DBEGI6CNNYG3MZ3GHFVHFVKGRX3DRINIBJBTFZAKLPSDPLKWOQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/XTVEPM76TNAL572Q3OYH2DN6HAFY53V54LERVX3LAUE5TYOKC36Q/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/5ZGCMRGZF7WGTRWDL3LYOVUWW4YVKU3BMXJS67VP3O3CGQ2QKHSA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/EG7GMXXSLEOFZIN7POPDQEZWJLCAWHX3PO6KGFESOUN3SYRSW26Q/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/KCJCYSSKLQSEVOYHBD5HVOTCROT4WODXTQNDLYPQF4CQFE6RTOVQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/X4FQEAVXSOUNF532YLWYGKUW3L7ILOP43MU3SQ4WXYLVDE3OY77A/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/EQGN6FHXGIQ4SD4YBLKAP3XOVZWIPZK4IPAZHIAL6LI3CWOO45KQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/NH5TEULQDCFTW34ADP7K2535HZXQUJ3HSA64QKLFZ2TFSPSH6KCA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/6PAJ7A2QMGSU6DCNIFWR3HHS6SDOFDKZDLSBVAHDDXZHIJYGHWIQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/BYEK7LC3AAW6HZC5PVZM6SQ5HNOTRG4KU2XFXXJF6YBDK5H66UPA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/2JA4RMT3VZQ7FIMF2Z7QRCGKDXA7MD26TEO2TLJHIEQGE44MHKDQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/DE62IPS7FBQ7RHB5VAIJNJCN2AK4FNG7A36MZ27V2VLNIUOEQYMQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/GYOJO25C24NDJLZVNK4OWASSKOZYS3ZW7FD525NAKEWWOLO7SUAQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/WQSUESRR3SGKSFNKYJOX2I3L2AW33YLPBN6N6MGF7RBMNF7DTFJA/vendors.js"
        ]
    },
    "operations": {
        "GetRoutingControlState": {
            "input": {
                "type": "structure",
                "required": [
                    "RoutingControlArn"
                ],
                "members": {
                    "RoutingControlArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "RoutingControlArn",
                    "RoutingControlState"
                ],
                "members": {
                    "RoutingControlArn": {},
                    "RoutingControlState": {},
                    "RoutingControlName": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/DMHSJAG7SX6TUWIZOUVERLEUZOK75CJVIWXSABR234IG4MZ6SOQQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/H7QXYMOZGLTPZALN4UAWN3G6QSP45X5NX2VVVXF5CCWIIWOHCM2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3CXTVW45YI2YEMQBMBIMPOOXMEEHQDWYAQE3QMY55MO7BQNWYDSQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TWANOOBOHJD5SPZP2TCCFOVBWNDA42GWXTMUNLYZFJNVKDODMPFQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AZ6JFMQFAUFL4ZFEI3JQJITJM3HALL3YV3Q6B6JEWODYM7K7J2KQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MRQQ7A6IKGV3USIQWCMUYDX4ZCH5TFQPOX6MHAD2DMID3JNUIVKQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QJQB2Z7PAVDZ22LZ4HWZFJWKLHUPE3PHJ5IJJVNG6EGT4QFYWIPQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/246CZAE2KMSNQ6GOZXJYTBB7FPA6TYQI6BKXRZ4TVGNCNT7ZLTEA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WSYS6IUBZF44MQDPDJ2C2XXXCE3YUEKLZ5HGYE5TNYQXCYHP5QEA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LNIBSSRAM3DM2GARIX4XDDVKRJB6PIYB4HNIMU3X5CWSNUYODPLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/N3DBEGI6CNNYG3MZ3GHFVHFVKGRX3DRINIBJBTFZAKLPSDPLKWOQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XTVEPM76TNAL572Q3OYH2DN6HAFY53V54LERVX3LAUE5TYOKC36Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5ZGCMRGZF7WGTRWDL3LYOVUWW4YVKU3BMXJS67VP3O3CGQ2QKHSA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EG7GMXXSLEOFZIN7POPDQEZWJLCAWHX3PO6KGFESOUN3SYRSW26Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KCJCYSSKLQSEVOYHBD5HVOTCROT4WODXTQNDLYPQF4CQFE6RTOVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X4FQEAVXSOUNF532YLWYGKUW3L7ILOP43MU3SQ4WXYLVDE3OY77A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQGN6FHXGIQ4SD4YBLKAP3XOVZWIPZK4IPAZHIAL6LI3CWOO45KQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NH5TEULQDCFTW34ADP7K2535HZXQUJ3HSA64QKLFZ2TFSPSH6KCA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6PAJ7A2QMGSU6DCNIFWR3HHS6SDOFDKZDLSBVAHDDXZHIJYGHWIQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BYEK7LC3AAW6HZC5PVZM6SQ5HNOTRG4KU2XFXXJF6YBDK5H66UPA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2JA4RMT3VZQ7FIMF2Z7QRCGKDXA7MD26TEO2TLJHIEQGE44MHKDQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DE62IPS7FBQ7RHB5VAIJNJCN2AK4FNG7A36MZ27V2VLNIUOEQYMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GYOJO25C24NDJLZVNK4OWASSKOZYS3ZW7FD525NAKEWWOLO7SUAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WQSUESRR3SGKSFNKYJOX2I3L2AW33YLPBN6N6MGF7RBMNF7DTFJA/vendors.js"
            ]
        },
        "ListRoutingControls": {
            "input": {
                "type": "structure",
                "members": {
                    "ControlPanelArn": {},
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "RoutingControls"
                ],
                "members": {
                    "RoutingControls": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ControlPanelArn": {},
                                "ControlPanelName": {},
                                "RoutingControlArn": {},
                                "RoutingControlName": {},
                                "RoutingControlState": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/DMHSJAG7SX6TUWIZOUVERLEUZOK75CJVIWXSABR234IG4MZ6SOQQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/H7QXYMOZGLTPZALN4UAWN3G6QSP45X5NX2VVVXF5CCWIIWOHCM2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3CXTVW45YI2YEMQBMBIMPOOXMEEHQDWYAQE3QMY55MO7BQNWYDSQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TWANOOBOHJD5SPZP2TCCFOVBWNDA42GWXTMUNLYZFJNVKDODMPFQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AZ6JFMQFAUFL4ZFEI3JQJITJM3HALL3YV3Q6B6JEWODYM7K7J2KQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MRQQ7A6IKGV3USIQWCMUYDX4ZCH5TFQPOX6MHAD2DMID3JNUIVKQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QJQB2Z7PAVDZ22LZ4HWZFJWKLHUPE3PHJ5IJJVNG6EGT4QFYWIPQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/246CZAE2KMSNQ6GOZXJYTBB7FPA6TYQI6BKXRZ4TVGNCNT7ZLTEA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WSYS6IUBZF44MQDPDJ2C2XXXCE3YUEKLZ5HGYE5TNYQXCYHP5QEA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LNIBSSRAM3DM2GARIX4XDDVKRJB6PIYB4HNIMU3X5CWSNUYODPLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/N3DBEGI6CNNYG3MZ3GHFVHFVKGRX3DRINIBJBTFZAKLPSDPLKWOQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XTVEPM76TNAL572Q3OYH2DN6HAFY53V54LERVX3LAUE5TYOKC36Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5ZGCMRGZF7WGTRWDL3LYOVUWW4YVKU3BMXJS67VP3O3CGQ2QKHSA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EG7GMXXSLEOFZIN7POPDQEZWJLCAWHX3PO6KGFESOUN3SYRSW26Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KCJCYSSKLQSEVOYHBD5HVOTCROT4WODXTQNDLYPQF4CQFE6RTOVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X4FQEAVXSOUNF532YLWYGKUW3L7ILOP43MU3SQ4WXYLVDE3OY77A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQGN6FHXGIQ4SD4YBLKAP3XOVZWIPZK4IPAZHIAL6LI3CWOO45KQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NH5TEULQDCFTW34ADP7K2535HZXQUJ3HSA64QKLFZ2TFSPSH6KCA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6PAJ7A2QMGSU6DCNIFWR3HHS6SDOFDKZDLSBVAHDDXZHIJYGHWIQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BYEK7LC3AAW6HZC5PVZM6SQ5HNOTRG4KU2XFXXJF6YBDK5H66UPA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2JA4RMT3VZQ7FIMF2Z7QRCGKDXA7MD26TEO2TLJHIEQGE44MHKDQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DE62IPS7FBQ7RHB5VAIJNJCN2AK4FNG7A36MZ27V2VLNIUOEQYMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GYOJO25C24NDJLZVNK4OWASSKOZYS3ZW7FD525NAKEWWOLO7SUAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WQSUESRR3SGKSFNKYJOX2I3L2AW33YLPBN6N6MGF7RBMNF7DTFJA/vendors.js"
            ]
        },
        "UpdateRoutingControlState": {
            "input": {
                "type": "structure",
                "required": [
                    "RoutingControlArn",
                    "RoutingControlState"
                ],
                "members": {
                    "RoutingControlArn": {},
                    "RoutingControlState": {},
                    "SafetyRulesToOverride": {
                        "shape": "Se"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/DMHSJAG7SX6TUWIZOUVERLEUZOK75CJVIWXSABR234IG4MZ6SOQQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/H7QXYMOZGLTPZALN4UAWN3G6QSP45X5NX2VVVXF5CCWIIWOHCM2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3CXTVW45YI2YEMQBMBIMPOOXMEEHQDWYAQE3QMY55MO7BQNWYDSQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TWANOOBOHJD5SPZP2TCCFOVBWNDA42GWXTMUNLYZFJNVKDODMPFQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AZ6JFMQFAUFL4ZFEI3JQJITJM3HALL3YV3Q6B6JEWODYM7K7J2KQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MRQQ7A6IKGV3USIQWCMUYDX4ZCH5TFQPOX6MHAD2DMID3JNUIVKQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QJQB2Z7PAVDZ22LZ4HWZFJWKLHUPE3PHJ5IJJVNG6EGT4QFYWIPQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/246CZAE2KMSNQ6GOZXJYTBB7FPA6TYQI6BKXRZ4TVGNCNT7ZLTEA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WSYS6IUBZF44MQDPDJ2C2XXXCE3YUEKLZ5HGYE5TNYQXCYHP5QEA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LNIBSSRAM3DM2GARIX4XDDVKRJB6PIYB4HNIMU3X5CWSNUYODPLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/N3DBEGI6CNNYG3MZ3GHFVHFVKGRX3DRINIBJBTFZAKLPSDPLKWOQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XTVEPM76TNAL572Q3OYH2DN6HAFY53V54LERVX3LAUE5TYOKC36Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5ZGCMRGZF7WGTRWDL3LYOVUWW4YVKU3BMXJS67VP3O3CGQ2QKHSA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EG7GMXXSLEOFZIN7POPDQEZWJLCAWHX3PO6KGFESOUN3SYRSW26Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KCJCYSSKLQSEVOYHBD5HVOTCROT4WODXTQNDLYPQF4CQFE6RTOVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X4FQEAVXSOUNF532YLWYGKUW3L7ILOP43MU3SQ4WXYLVDE3OY77A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQGN6FHXGIQ4SD4YBLKAP3XOVZWIPZK4IPAZHIAL6LI3CWOO45KQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NH5TEULQDCFTW34ADP7K2535HZXQUJ3HSA64QKLFZ2TFSPSH6KCA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6PAJ7A2QMGSU6DCNIFWR3HHS6SDOFDKZDLSBVAHDDXZHIJYGHWIQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BYEK7LC3AAW6HZC5PVZM6SQ5HNOTRG4KU2XFXXJF6YBDK5H66UPA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2JA4RMT3VZQ7FIMF2Z7QRCGKDXA7MD26TEO2TLJHIEQGE44MHKDQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DE62IPS7FBQ7RHB5VAIJNJCN2AK4FNG7A36MZ27V2VLNIUOEQYMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GYOJO25C24NDJLZVNK4OWASSKOZYS3ZW7FD525NAKEWWOLO7SUAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WQSUESRR3SGKSFNKYJOX2I3L2AW33YLPBN6N6MGF7RBMNF7DTFJA/vendors.js"
            ]
        },
        "UpdateRoutingControlStates": {
            "input": {
                "type": "structure",
                "required": [
                    "UpdateRoutingControlStateEntries"
                ],
                "members": {
                    "UpdateRoutingControlStateEntries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "RoutingControlArn",
                                "RoutingControlState"
                            ],
                            "members": {
                                "RoutingControlArn": {},
                                "RoutingControlState": {}
                            }
                        }
                    },
                    "SafetyRulesToOverride": {
                        "shape": "Se"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/DMHSJAG7SX6TUWIZOUVERLEUZOK75CJVIWXSABR234IG4MZ6SOQQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/H7QXYMOZGLTPZALN4UAWN3G6QSP45X5NX2VVVXF5CCWIIWOHCM2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3CXTVW45YI2YEMQBMBIMPOOXMEEHQDWYAQE3QMY55MO7BQNWYDSQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TWANOOBOHJD5SPZP2TCCFOVBWNDA42GWXTMUNLYZFJNVKDODMPFQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AZ6JFMQFAUFL4ZFEI3JQJITJM3HALL3YV3Q6B6JEWODYM7K7J2KQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MRQQ7A6IKGV3USIQWCMUYDX4ZCH5TFQPOX6MHAD2DMID3JNUIVKQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QJQB2Z7PAVDZ22LZ4HWZFJWKLHUPE3PHJ5IJJVNG6EGT4QFYWIPQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/246CZAE2KMSNQ6GOZXJYTBB7FPA6TYQI6BKXRZ4TVGNCNT7ZLTEA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WSYS6IUBZF44MQDPDJ2C2XXXCE3YUEKLZ5HGYE5TNYQXCYHP5QEA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LNIBSSRAM3DM2GARIX4XDDVKRJB6PIYB4HNIMU3X5CWSNUYODPLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/N3DBEGI6CNNYG3MZ3GHFVHFVKGRX3DRINIBJBTFZAKLPSDPLKWOQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XTVEPM76TNAL572Q3OYH2DN6HAFY53V54LERVX3LAUE5TYOKC36Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5ZGCMRGZF7WGTRWDL3LYOVUWW4YVKU3BMXJS67VP3O3CGQ2QKHSA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EG7GMXXSLEOFZIN7POPDQEZWJLCAWHX3PO6KGFESOUN3SYRSW26Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KCJCYSSKLQSEVOYHBD5HVOTCROT4WODXTQNDLYPQF4CQFE6RTOVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X4FQEAVXSOUNF532YLWYGKUW3L7ILOP43MU3SQ4WXYLVDE3OY77A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQGN6FHXGIQ4SD4YBLKAP3XOVZWIPZK4IPAZHIAL6LI3CWOO45KQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NH5TEULQDCFTW34ADP7K2535HZXQUJ3HSA64QKLFZ2TFSPSH6KCA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6PAJ7A2QMGSU6DCNIFWR3HHS6SDOFDKZDLSBVAHDDXZHIJYGHWIQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BYEK7LC3AAW6HZC5PVZM6SQ5HNOTRG4KU2XFXXJF6YBDK5H66UPA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2JA4RMT3VZQ7FIMF2Z7QRCGKDXA7MD26TEO2TLJHIEQGE44MHKDQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DE62IPS7FBQ7RHB5VAIJNJCN2AK4FNG7A36MZ27V2VLNIUOEQYMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GYOJO25C24NDJLZVNK4OWASSKOZYS3ZW7FD525NAKEWWOLO7SUAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WQSUESRR3SGKSFNKYJOX2I3L2AW33YLPBN6N6MGF7RBMNF7DTFJA/vendors.js"
            ]
        }
    },
    "shapes": {
        "Se": {
            "type": "list",
            "member": {}
        },
        "Sf": {
            "type": "list",
            "member": {}
        }
    }
}