{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2019-12-02",
        "endpointPrefix": "mrmeridiandataplane",
        "jsonVersion": "1.0",
        "protocol": "json",
        "serviceFullName": "Meridian Cluster",
        "serviceId": "Meridian Cluster",
        "signatureVersion": "v4",
        "signingName": "meridian-cluster",
        "targetPrefix": "ToggleCustomerAPI",
        "uid": "mrmeridiandataplane-2019-12-02",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/VQB6FFMS6DZUUEGRGTIQVLRQCKQDFVNLEYXXVRABTW3X6Y76QYBA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OI2YVFFYHOKURWQPKH6PHPO53MFEI5SJOB4CX6GVOKVSUWYWMFFQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2F4LSVD5BMTGBWDL2XGNN3OTM7SNXQ37TDNOZVME5GJUOJ7Z2GZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2S2ONB3DSGW47I3QMUV6QWK4ZU7LXPER6MT3RJYWC7X2KE7CZ5HA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EMT4RUNZ37LO4HZ2M4TN2BT4F6D2UUSOCMKZMI7IVZU3UFXZKKTA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BC3N75DRMWHR3YN7RZYL5NH6E3BZR34SHVZOS4JYPK5JVMLGMU3A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7ZZGUDEYQCDVNIB4JATXLKW7TUUXTWRQUS7N5YI6Y6ZHBUV4S47A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/T7DP3IZD4JBIRLRLQQDSQOH3BG5MFEZUWUGDTRV37FVOFHLNG2BA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HRIR3V6G4G4OA2BLFMDPCK5VIXLZ6WKRHVUMS3ULE2WLBMGTAIEQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PT5FQOQBVHWWKIBGWGQGFW2IOYIOSPN4VIPPR7IEL5D4HYU37ATA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3NRYJMVKR3VSSM7GCWSDZQMEL2MLMG2ZLT2GMJ7RXJKG3V7LJMOQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VXK7MRW73PXYDK2SFOPI77XEJJWZWSW3RFHLGYRAQ2WEOI55ENFA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KDP3GFGKJ4XSJ7TO5QH4QAHNCJZ2IQQJG6M3O4CXMW34XLGUMCRQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/26YOIISW6CUEBV6ELYQOTLNCJDZT3BMGXEIZODII26P7MA2BQX4Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7KODBKYOR5DDBM7NQQ2GUF37JL5VVAWZNUQVQ5RPWBSLGSREOQ5Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/I5CBR3NT5S3YQMJJMTIDJVZNGF3JBBWUFFH2IHJU77WCTOX4FUBQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MLFWKDIBR2VZAXXBA57I64B2ZHAWBCQO4BQXYJEUVPF2FOAGIWYA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/VTRHL2RSXOPNUWHDC3QYCV7ED7MJJRACUACCIRXQKN27GM4O6OYQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/3D2RAQQ6TOVCAWVUIENKHQQ5QRLL2CPC3NVRXH3Y4C354KRMYXTA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/RIM6OZSRHYDEI5XASGYGRYZ6ZWN6LXLXMXPBB6KKPOIIX4F7IWCA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/WGCMR5YQGE5GEWNHLAPPRC4XI3SBTLQWH4YDYLHH4XUAE3OO2YEQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/4YJJY7H52DJGFBZ4TMH5QWZAPBBZ4EDXDAV66TAO776RY6PNF4RQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/5GPRFHTMYYPNIYNU2T7TJT5SRXWCDPM4MS6PQW6O3L5UACLG3E5Q/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/OXKIAROCKOUVO5I3LEI2LA2TR62JNCF4Q53BO5NFSHMWFCU4Y4BA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/KS7EX3AZE7KEPQXZNC33XYYOQXW5MEU3HRPSD7SZZ3XI7OSCOC4A/vendors.js"
        ]
    },
    "operations": {
        "GetRoutingControlState": {
            "input": {
                "type": "structure",
                "required": [
                    "RoutingControlArn"
                ],
                "members": {
                    "RoutingControlArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "RoutingControlArn",
                    "RoutingControlState"
                ],
                "members": {
                    "RoutingControlArn": {},
                    "RoutingControlState": {},
                    "RoutingControlName": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OI2YVFFYHOKURWQPKH6PHPO53MFEI5SJOB4CX6GVOKVSUWYWMFFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2F4LSVD5BMTGBWDL2XGNN3OTM7SNXQ37TDNOZVME5GJUOJ7Z2GZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2S2ONB3DSGW47I3QMUV6QWK4ZU7LXPER6MT3RJYWC7X2KE7CZ5HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMT4RUNZ37LO4HZ2M4TN2BT4F6D2UUSOCMKZMI7IVZU3UFXZKKTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BC3N75DRMWHR3YN7RZYL5NH6E3BZR34SHVZOS4JYPK5JVMLGMU3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZZGUDEYQCDVNIB4JATXLKW7TUUXTWRQUS7N5YI6Y6ZHBUV4S47A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T7DP3IZD4JBIRLRLQQDSQOH3BG5MFEZUWUGDTRV37FVOFHLNG2BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HRIR3V6G4G4OA2BLFMDPCK5VIXLZ6WKRHVUMS3ULE2WLBMGTAIEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PT5FQOQBVHWWKIBGWGQGFW2IOYIOSPN4VIPPR7IEL5D4HYU37ATA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NRYJMVKR3VSSM7GCWSDZQMEL2MLMG2ZLT2GMJ7RXJKG3V7LJMOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXK7MRW73PXYDK2SFOPI77XEJJWZWSW3RFHLGYRAQ2WEOI55ENFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KDP3GFGKJ4XSJ7TO5QH4QAHNCJZ2IQQJG6M3O4CXMW34XLGUMCRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26YOIISW6CUEBV6ELYQOTLNCJDZT3BMGXEIZODII26P7MA2BQX4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KODBKYOR5DDBM7NQQ2GUF37JL5VVAWZNUQVQ5RPWBSLGSREOQ5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5CBR3NT5S3YQMJJMTIDJVZNGF3JBBWUFFH2IHJU77WCTOX4FUBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLFWKDIBR2VZAXXBA57I64B2ZHAWBCQO4BQXYJEUVPF2FOAGIWYA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VTRHL2RSXOPNUWHDC3QYCV7ED7MJJRACUACCIRXQKN27GM4O6OYQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3D2RAQQ6TOVCAWVUIENKHQQ5QRLL2CPC3NVRXH3Y4C354KRMYXTA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RIM6OZSRHYDEI5XASGYGRYZ6ZWN6LXLXMXPBB6KKPOIIX4F7IWCA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WGCMR5YQGE5GEWNHLAPPRC4XI3SBTLQWH4YDYLHH4XUAE3OO2YEQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4YJJY7H52DJGFBZ4TMH5QWZAPBBZ4EDXDAV66TAO776RY6PNF4RQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5GPRFHTMYYPNIYNU2T7TJT5SRXWCDPM4MS6PQW6O3L5UACLG3E5Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OXKIAROCKOUVO5I3LEI2LA2TR62JNCF4Q53BO5NFSHMWFCU4Y4BA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KS7EX3AZE7KEPQXZNC33XYYOQXW5MEU3HRPSD7SZZ3XI7OSCOC4A/vendors.js"
            ]
        },
        "ListRoutingControls": {
            "input": {
                "type": "structure",
                "members": {
                    "ControlPanelArn": {},
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "RoutingControls"
                ],
                "members": {
                    "RoutingControls": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ControlPanelArn": {},
                                "ControlPanelName": {},
                                "RoutingControlArn": {},
                                "RoutingControlName": {},
                                "RoutingControlState": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OI2YVFFYHOKURWQPKH6PHPO53MFEI5SJOB4CX6GVOKVSUWYWMFFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2F4LSVD5BMTGBWDL2XGNN3OTM7SNXQ37TDNOZVME5GJUOJ7Z2GZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2S2ONB3DSGW47I3QMUV6QWK4ZU7LXPER6MT3RJYWC7X2KE7CZ5HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMT4RUNZ37LO4HZ2M4TN2BT4F6D2UUSOCMKZMI7IVZU3UFXZKKTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BC3N75DRMWHR3YN7RZYL5NH6E3BZR34SHVZOS4JYPK5JVMLGMU3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZZGUDEYQCDVNIB4JATXLKW7TUUXTWRQUS7N5YI6Y6ZHBUV4S47A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T7DP3IZD4JBIRLRLQQDSQOH3BG5MFEZUWUGDTRV37FVOFHLNG2BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HRIR3V6G4G4OA2BLFMDPCK5VIXLZ6WKRHVUMS3ULE2WLBMGTAIEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PT5FQOQBVHWWKIBGWGQGFW2IOYIOSPN4VIPPR7IEL5D4HYU37ATA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NRYJMVKR3VSSM7GCWSDZQMEL2MLMG2ZLT2GMJ7RXJKG3V7LJMOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXK7MRW73PXYDK2SFOPI77XEJJWZWSW3RFHLGYRAQ2WEOI55ENFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KDP3GFGKJ4XSJ7TO5QH4QAHNCJZ2IQQJG6M3O4CXMW34XLGUMCRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26YOIISW6CUEBV6ELYQOTLNCJDZT3BMGXEIZODII26P7MA2BQX4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KODBKYOR5DDBM7NQQ2GUF37JL5VVAWZNUQVQ5RPWBSLGSREOQ5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5CBR3NT5S3YQMJJMTIDJVZNGF3JBBWUFFH2IHJU77WCTOX4FUBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLFWKDIBR2VZAXXBA57I64B2ZHAWBCQO4BQXYJEUVPF2FOAGIWYA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VTRHL2RSXOPNUWHDC3QYCV7ED7MJJRACUACCIRXQKN27GM4O6OYQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3D2RAQQ6TOVCAWVUIENKHQQ5QRLL2CPC3NVRXH3Y4C354KRMYXTA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RIM6OZSRHYDEI5XASGYGRYZ6ZWN6LXLXMXPBB6KKPOIIX4F7IWCA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WGCMR5YQGE5GEWNHLAPPRC4XI3SBTLQWH4YDYLHH4XUAE3OO2YEQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4YJJY7H52DJGFBZ4TMH5QWZAPBBZ4EDXDAV66TAO776RY6PNF4RQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5GPRFHTMYYPNIYNU2T7TJT5SRXWCDPM4MS6PQW6O3L5UACLG3E5Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OXKIAROCKOUVO5I3LEI2LA2TR62JNCF4Q53BO5NFSHMWFCU4Y4BA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KS7EX3AZE7KEPQXZNC33XYYOQXW5MEU3HRPSD7SZZ3XI7OSCOC4A/vendors.js"
            ]
        },
        "UpdateRoutingControlState": {
            "input": {
                "type": "structure",
                "required": [
                    "RoutingControlArn",
                    "RoutingControlState"
                ],
                "members": {
                    "RoutingControlArn": {},
                    "RoutingControlState": {},
                    "SafetyRulesToOverride": {
                        "shape": "Se"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OI2YVFFYHOKURWQPKH6PHPO53MFEI5SJOB4CX6GVOKVSUWYWMFFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2F4LSVD5BMTGBWDL2XGNN3OTM7SNXQ37TDNOZVME5GJUOJ7Z2GZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2S2ONB3DSGW47I3QMUV6QWK4ZU7LXPER6MT3RJYWC7X2KE7CZ5HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMT4RUNZ37LO4HZ2M4TN2BT4F6D2UUSOCMKZMI7IVZU3UFXZKKTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BC3N75DRMWHR3YN7RZYL5NH6E3BZR34SHVZOS4JYPK5JVMLGMU3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZZGUDEYQCDVNIB4JATXLKW7TUUXTWRQUS7N5YI6Y6ZHBUV4S47A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T7DP3IZD4JBIRLRLQQDSQOH3BG5MFEZUWUGDTRV37FVOFHLNG2BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HRIR3V6G4G4OA2BLFMDPCK5VIXLZ6WKRHVUMS3ULE2WLBMGTAIEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PT5FQOQBVHWWKIBGWGQGFW2IOYIOSPN4VIPPR7IEL5D4HYU37ATA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NRYJMVKR3VSSM7GCWSDZQMEL2MLMG2ZLT2GMJ7RXJKG3V7LJMOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXK7MRW73PXYDK2SFOPI77XEJJWZWSW3RFHLGYRAQ2WEOI55ENFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KDP3GFGKJ4XSJ7TO5QH4QAHNCJZ2IQQJG6M3O4CXMW34XLGUMCRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26YOIISW6CUEBV6ELYQOTLNCJDZT3BMGXEIZODII26P7MA2BQX4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KODBKYOR5DDBM7NQQ2GUF37JL5VVAWZNUQVQ5RPWBSLGSREOQ5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5CBR3NT5S3YQMJJMTIDJVZNGF3JBBWUFFH2IHJU77WCTOX4FUBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLFWKDIBR2VZAXXBA57I64B2ZHAWBCQO4BQXYJEUVPF2FOAGIWYA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VTRHL2RSXOPNUWHDC3QYCV7ED7MJJRACUACCIRXQKN27GM4O6OYQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3D2RAQQ6TOVCAWVUIENKHQQ5QRLL2CPC3NVRXH3Y4C354KRMYXTA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RIM6OZSRHYDEI5XASGYGRYZ6ZWN6LXLXMXPBB6KKPOIIX4F7IWCA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WGCMR5YQGE5GEWNHLAPPRC4XI3SBTLQWH4YDYLHH4XUAE3OO2YEQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4YJJY7H52DJGFBZ4TMH5QWZAPBBZ4EDXDAV66TAO776RY6PNF4RQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5GPRFHTMYYPNIYNU2T7TJT5SRXWCDPM4MS6PQW6O3L5UACLG3E5Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OXKIAROCKOUVO5I3LEI2LA2TR62JNCF4Q53BO5NFSHMWFCU4Y4BA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KS7EX3AZE7KEPQXZNC33XYYOQXW5MEU3HRPSD7SZZ3XI7OSCOC4A/vendors.js"
            ]
        },
        "UpdateRoutingControlStates": {
            "input": {
                "type": "structure",
                "required": [
                    "UpdateRoutingControlStateEntries"
                ],
                "members": {
                    "UpdateRoutingControlStateEntries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "RoutingControlArn",
                                "RoutingControlState"
                            ],
                            "members": {
                                "RoutingControlArn": {},
                                "RoutingControlState": {}
                            }
                        }
                    },
                    "SafetyRulesToOverride": {
                        "shape": "Se"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OI2YVFFYHOKURWQPKH6PHPO53MFEI5SJOB4CX6GVOKVSUWYWMFFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2F4LSVD5BMTGBWDL2XGNN3OTM7SNXQ37TDNOZVME5GJUOJ7Z2GZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2S2ONB3DSGW47I3QMUV6QWK4ZU7LXPER6MT3RJYWC7X2KE7CZ5HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMT4RUNZ37LO4HZ2M4TN2BT4F6D2UUSOCMKZMI7IVZU3UFXZKKTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BC3N75DRMWHR3YN7RZYL5NH6E3BZR34SHVZOS4JYPK5JVMLGMU3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZZGUDEYQCDVNIB4JATXLKW7TUUXTWRQUS7N5YI6Y6ZHBUV4S47A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T7DP3IZD4JBIRLRLQQDSQOH3BG5MFEZUWUGDTRV37FVOFHLNG2BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HRIR3V6G4G4OA2BLFMDPCK5VIXLZ6WKRHVUMS3ULE2WLBMGTAIEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PT5FQOQBVHWWKIBGWGQGFW2IOYIOSPN4VIPPR7IEL5D4HYU37ATA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NRYJMVKR3VSSM7GCWSDZQMEL2MLMG2ZLT2GMJ7RXJKG3V7LJMOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXK7MRW73PXYDK2SFOPI77XEJJWZWSW3RFHLGYRAQ2WEOI55ENFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KDP3GFGKJ4XSJ7TO5QH4QAHNCJZ2IQQJG6M3O4CXMW34XLGUMCRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26YOIISW6CUEBV6ELYQOTLNCJDZT3BMGXEIZODII26P7MA2BQX4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KODBKYOR5DDBM7NQQ2GUF37JL5VVAWZNUQVQ5RPWBSLGSREOQ5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5CBR3NT5S3YQMJJMTIDJVZNGF3JBBWUFFH2IHJU77WCTOX4FUBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLFWKDIBR2VZAXXBA57I64B2ZHAWBCQO4BQXYJEUVPF2FOAGIWYA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VTRHL2RSXOPNUWHDC3QYCV7ED7MJJRACUACCIRXQKN27GM4O6OYQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3D2RAQQ6TOVCAWVUIENKHQQ5QRLL2CPC3NVRXH3Y4C354KRMYXTA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RIM6OZSRHYDEI5XASGYGRYZ6ZWN6LXLXMXPBB6KKPOIIX4F7IWCA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WGCMR5YQGE5GEWNHLAPPRC4XI3SBTLQWH4YDYLHH4XUAE3OO2YEQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4YJJY7H52DJGFBZ4TMH5QWZAPBBZ4EDXDAV66TAO776RY6PNF4RQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5GPRFHTMYYPNIYNU2T7TJT5SRXWCDPM4MS6PQW6O3L5UACLG3E5Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OXKIAROCKOUVO5I3LEI2LA2TR62JNCF4Q53BO5NFSHMWFCU4Y4BA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KS7EX3AZE7KEPQXZNC33XYYOQXW5MEU3HRPSD7SZZ3XI7OSCOC4A/vendors.js"
            ]
        }
    },
    "shapes": {
        "Se": {
            "type": "list",
            "member": {}
        },
        "Sf": {
            "type": "list",
            "member": {}
        }
    }
}