{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2019-12-02",
        "endpointPrefix": "mrmeridiandataplane",
        "jsonVersion": "1.0",
        "protocol": "json",
        "serviceFullName": "Meridian Cluster",
        "serviceId": "Meridian Cluster",
        "signatureVersion": "v4",
        "signingName": "meridian-cluster",
        "targetPrefix": "ToggleCustomerAPI",
        "uid": "mrmeridiandataplane-2019-12-02",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/GSZWROHNQJI76ODOVUFUWAW7ZRLVEKIFSIE5JV3EZOLTCIGO3KXA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/37Q3R3X2IU4ONZQYFB775AS35N7EMG37L3V7ZCZ6RB5QLEUCEQIA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UCCPMM3PGEEQ45RZMJOJ7LL5TEGO5FRHZBEQRJWFD3YSCYQ2QXZA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VRN6DI3ONPNJHWBEPXEFPCDUQ7WGCDNLZDANSTAH4OTQ4GQWLTFQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EKJDNVOKKZMMSNWSR3WP6CKICDAYKZLB7JGIRWOAWTMH3LWEGEJQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PHCMIPRSOFSGQBFXSSNGJXHAKGKRU6TWDQDRUTUCC4ZUJ37YRVRA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UXLBDSXYPRZ5BLFA46AIXECKY7S5TQ2NAGEEEG637MC6MYN4OZXQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DFAJYV5RL3G6QCZK4OWUMKQP374S3OST244ASM7UT7P6UCH5LFWA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3KMLQ6NUEB42ZFGXZNPJ62Z5FLKN5Q3THWZG6BKBN6R23NCHCWBQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JVDCCYHK7MZC4FGVYH6A6JEPWUBOKZGIBI35MR4GQBBZPANL35KA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ERJGC4OJTSYISLUBAE56WEOCEUKR7JZN3LZ4WADQ4KWQHYTGZ4XA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MQIUXHG4Z7JA56MYLW6DZGC2LV33VU6EHPSMUKQFSFZ25ZSWQDNA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/U5DCOJBUKK2QQ6BBDVWE7JIKFXAIZSHV7X7YEYJP4UNNHPTLMTUQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BWVT4M5XKG5M2N42E6RBRQ7G6LJZ4P4QNSO7DUXG7DGTKSXB4BPA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QW5DIJJ7DWSEP4ZDSA744723ZOJBYSQOQUXOZUL5USGO4GEDSV6A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IOW6A2RIOYFO2F7XUO4CLLYQHNJD47HRT3EWS57K425YO45ADC3A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3AWJEQXEFDWSAQR66E6LLEFXOLN4WWWS66EHEP2N3OUPHBDHBDUQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ILPH3KBYHFR4Q3RTLLVPUAEUTQ34E2HFS6AL5ETSZ6E2JB4JO6GQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JLM5UCLZ7K3VWDHCARA543UIGRRZU6JUH5SU32FBP2YUZLN6DLPQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6IHT7R2OYMMFED5DB3YE5IHS6X3ME4DFAUFMZDVLJQ4SGAVVUBFQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DLG5KHMQ2U7XRTI65BKHDMINSKOQTAEIGC3EDRKOVHW2JLAS5QEQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZTXWJFUXO3DDBSKXG3FJBGWTTNRXTMVNODYN4GMXSBMFXOZFLYVA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WRWXPQCFZEQPT2DPYCBNGUPEESIFJF5E3EI25YP6FEVNAJUI64KA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OYCRFQRFSGJ2DEL3ZGQJRJXUD4JJEA7LGNSTCGC6QR7SZYLNLJDQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HEOV24LVUYZET5AJB7V2FAOOM63HMNBJG4E6CZWR26AOUIFDEICQ/vendors.js"
        ]
    },
    "operations": {
        "GetRoutingControlState": {
            "input": {
                "type": "structure",
                "required": [
                    "RoutingControlArn"
                ],
                "members": {
                    "RoutingControlArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "RoutingControlArn",
                    "RoutingControlState"
                ],
                "members": {
                    "RoutingControlArn": {},
                    "RoutingControlState": {},
                    "RoutingControlName": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/37Q3R3X2IU4ONZQYFB775AS35N7EMG37L3V7ZCZ6RB5QLEUCEQIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCCPMM3PGEEQ45RZMJOJ7LL5TEGO5FRHZBEQRJWFD3YSCYQ2QXZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VRN6DI3ONPNJHWBEPXEFPCDUQ7WGCDNLZDANSTAH4OTQ4GQWLTFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKJDNVOKKZMMSNWSR3WP6CKICDAYKZLB7JGIRWOAWTMH3LWEGEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHCMIPRSOFSGQBFXSSNGJXHAKGKRU6TWDQDRUTUCC4ZUJ37YRVRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXLBDSXYPRZ5BLFA46AIXECKY7S5TQ2NAGEEEG637MC6MYN4OZXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFAJYV5RL3G6QCZK4OWUMKQP374S3OST244ASM7UT7P6UCH5LFWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KMLQ6NUEB42ZFGXZNPJ62Z5FLKN5Q3THWZG6BKBN6R23NCHCWBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVDCCYHK7MZC4FGVYH6A6JEPWUBOKZGIBI35MR4GQBBZPANL35KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERJGC4OJTSYISLUBAE56WEOCEUKR7JZN3LZ4WADQ4KWQHYTGZ4XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQIUXHG4Z7JA56MYLW6DZGC2LV33VU6EHPSMUKQFSFZ25ZSWQDNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U5DCOJBUKK2QQ6BBDVWE7JIKFXAIZSHV7X7YEYJP4UNNHPTLMTUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BWVT4M5XKG5M2N42E6RBRQ7G6LJZ4P4QNSO7DUXG7DGTKSXB4BPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QW5DIJJ7DWSEP4ZDSA744723ZOJBYSQOQUXOZUL5USGO4GEDSV6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IOW6A2RIOYFO2F7XUO4CLLYQHNJD47HRT3EWS57K425YO45ADC3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3AWJEQXEFDWSAQR66E6LLEFXOLN4WWWS66EHEP2N3OUPHBDHBDUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILPH3KBYHFR4Q3RTLLVPUAEUTQ34E2HFS6AL5ETSZ6E2JB4JO6GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLM5UCLZ7K3VWDHCARA543UIGRRZU6JUH5SU32FBP2YUZLN6DLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IHT7R2OYMMFED5DB3YE5IHS6X3ME4DFAUFMZDVLJQ4SGAVVUBFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLG5KHMQ2U7XRTI65BKHDMINSKOQTAEIGC3EDRKOVHW2JLAS5QEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTXWJFUXO3DDBSKXG3FJBGWTTNRXTMVNODYN4GMXSBMFXOZFLYVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRWXPQCFZEQPT2DPYCBNGUPEESIFJF5E3EI25YP6FEVNAJUI64KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYCRFQRFSGJ2DEL3ZGQJRJXUD4JJEA7LGNSTCGC6QR7SZYLNLJDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEOV24LVUYZET5AJB7V2FAOOM63HMNBJG4E6CZWR26AOUIFDEICQ/vendors.js"
            ]
        },
        "ListRoutingControls": {
            "input": {
                "type": "structure",
                "members": {
                    "ControlPanelArn": {},
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "RoutingControls"
                ],
                "members": {
                    "RoutingControls": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ControlPanelArn": {},
                                "ControlPanelName": {},
                                "RoutingControlArn": {},
                                "RoutingControlName": {},
                                "RoutingControlState": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/37Q3R3X2IU4ONZQYFB775AS35N7EMG37L3V7ZCZ6RB5QLEUCEQIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCCPMM3PGEEQ45RZMJOJ7LL5TEGO5FRHZBEQRJWFD3YSCYQ2QXZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VRN6DI3ONPNJHWBEPXEFPCDUQ7WGCDNLZDANSTAH4OTQ4GQWLTFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKJDNVOKKZMMSNWSR3WP6CKICDAYKZLB7JGIRWOAWTMH3LWEGEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHCMIPRSOFSGQBFXSSNGJXHAKGKRU6TWDQDRUTUCC4ZUJ37YRVRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXLBDSXYPRZ5BLFA46AIXECKY7S5TQ2NAGEEEG637MC6MYN4OZXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFAJYV5RL3G6QCZK4OWUMKQP374S3OST244ASM7UT7P6UCH5LFWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KMLQ6NUEB42ZFGXZNPJ62Z5FLKN5Q3THWZG6BKBN6R23NCHCWBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVDCCYHK7MZC4FGVYH6A6JEPWUBOKZGIBI35MR4GQBBZPANL35KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERJGC4OJTSYISLUBAE56WEOCEUKR7JZN3LZ4WADQ4KWQHYTGZ4XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQIUXHG4Z7JA56MYLW6DZGC2LV33VU6EHPSMUKQFSFZ25ZSWQDNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U5DCOJBUKK2QQ6BBDVWE7JIKFXAIZSHV7X7YEYJP4UNNHPTLMTUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BWVT4M5XKG5M2N42E6RBRQ7G6LJZ4P4QNSO7DUXG7DGTKSXB4BPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QW5DIJJ7DWSEP4ZDSA744723ZOJBYSQOQUXOZUL5USGO4GEDSV6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IOW6A2RIOYFO2F7XUO4CLLYQHNJD47HRT3EWS57K425YO45ADC3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3AWJEQXEFDWSAQR66E6LLEFXOLN4WWWS66EHEP2N3OUPHBDHBDUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILPH3KBYHFR4Q3RTLLVPUAEUTQ34E2HFS6AL5ETSZ6E2JB4JO6GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLM5UCLZ7K3VWDHCARA543UIGRRZU6JUH5SU32FBP2YUZLN6DLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IHT7R2OYMMFED5DB3YE5IHS6X3ME4DFAUFMZDVLJQ4SGAVVUBFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLG5KHMQ2U7XRTI65BKHDMINSKOQTAEIGC3EDRKOVHW2JLAS5QEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTXWJFUXO3DDBSKXG3FJBGWTTNRXTMVNODYN4GMXSBMFXOZFLYVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRWXPQCFZEQPT2DPYCBNGUPEESIFJF5E3EI25YP6FEVNAJUI64KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYCRFQRFSGJ2DEL3ZGQJRJXUD4JJEA7LGNSTCGC6QR7SZYLNLJDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEOV24LVUYZET5AJB7V2FAOOM63HMNBJG4E6CZWR26AOUIFDEICQ/vendors.js"
            ]
        },
        "UpdateRoutingControlState": {
            "input": {
                "type": "structure",
                "required": [
                    "RoutingControlArn",
                    "RoutingControlState"
                ],
                "members": {
                    "RoutingControlArn": {},
                    "RoutingControlState": {},
                    "SafetyRulesToOverride": {
                        "shape": "Se"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/37Q3R3X2IU4ONZQYFB775AS35N7EMG37L3V7ZCZ6RB5QLEUCEQIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCCPMM3PGEEQ45RZMJOJ7LL5TEGO5FRHZBEQRJWFD3YSCYQ2QXZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VRN6DI3ONPNJHWBEPXEFPCDUQ7WGCDNLZDANSTAH4OTQ4GQWLTFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKJDNVOKKZMMSNWSR3WP6CKICDAYKZLB7JGIRWOAWTMH3LWEGEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHCMIPRSOFSGQBFXSSNGJXHAKGKRU6TWDQDRUTUCC4ZUJ37YRVRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXLBDSXYPRZ5BLFA46AIXECKY7S5TQ2NAGEEEG637MC6MYN4OZXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFAJYV5RL3G6QCZK4OWUMKQP374S3OST244ASM7UT7P6UCH5LFWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KMLQ6NUEB42ZFGXZNPJ62Z5FLKN5Q3THWZG6BKBN6R23NCHCWBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVDCCYHK7MZC4FGVYH6A6JEPWUBOKZGIBI35MR4GQBBZPANL35KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERJGC4OJTSYISLUBAE56WEOCEUKR7JZN3LZ4WADQ4KWQHYTGZ4XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQIUXHG4Z7JA56MYLW6DZGC2LV33VU6EHPSMUKQFSFZ25ZSWQDNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U5DCOJBUKK2QQ6BBDVWE7JIKFXAIZSHV7X7YEYJP4UNNHPTLMTUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BWVT4M5XKG5M2N42E6RBRQ7G6LJZ4P4QNSO7DUXG7DGTKSXB4BPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QW5DIJJ7DWSEP4ZDSA744723ZOJBYSQOQUXOZUL5USGO4GEDSV6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IOW6A2RIOYFO2F7XUO4CLLYQHNJD47HRT3EWS57K425YO45ADC3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3AWJEQXEFDWSAQR66E6LLEFXOLN4WWWS66EHEP2N3OUPHBDHBDUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILPH3KBYHFR4Q3RTLLVPUAEUTQ34E2HFS6AL5ETSZ6E2JB4JO6GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLM5UCLZ7K3VWDHCARA543UIGRRZU6JUH5SU32FBP2YUZLN6DLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IHT7R2OYMMFED5DB3YE5IHS6X3ME4DFAUFMZDVLJQ4SGAVVUBFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLG5KHMQ2U7XRTI65BKHDMINSKOQTAEIGC3EDRKOVHW2JLAS5QEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTXWJFUXO3DDBSKXG3FJBGWTTNRXTMVNODYN4GMXSBMFXOZFLYVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRWXPQCFZEQPT2DPYCBNGUPEESIFJF5E3EI25YP6FEVNAJUI64KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYCRFQRFSGJ2DEL3ZGQJRJXUD4JJEA7LGNSTCGC6QR7SZYLNLJDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEOV24LVUYZET5AJB7V2FAOOM63HMNBJG4E6CZWR26AOUIFDEICQ/vendors.js"
            ]
        },
        "UpdateRoutingControlStates": {
            "input": {
                "type": "structure",
                "required": [
                    "UpdateRoutingControlStateEntries"
                ],
                "members": {
                    "UpdateRoutingControlStateEntries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "RoutingControlArn",
                                "RoutingControlState"
                            ],
                            "members": {
                                "RoutingControlArn": {},
                                "RoutingControlState": {}
                            }
                        }
                    },
                    "SafetyRulesToOverride": {
                        "shape": "Se"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/37Q3R3X2IU4ONZQYFB775AS35N7EMG37L3V7ZCZ6RB5QLEUCEQIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCCPMM3PGEEQ45RZMJOJ7LL5TEGO5FRHZBEQRJWFD3YSCYQ2QXZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VRN6DI3ONPNJHWBEPXEFPCDUQ7WGCDNLZDANSTAH4OTQ4GQWLTFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKJDNVOKKZMMSNWSR3WP6CKICDAYKZLB7JGIRWOAWTMH3LWEGEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHCMIPRSOFSGQBFXSSNGJXHAKGKRU6TWDQDRUTUCC4ZUJ37YRVRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXLBDSXYPRZ5BLFA46AIXECKY7S5TQ2NAGEEEG637MC6MYN4OZXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFAJYV5RL3G6QCZK4OWUMKQP374S3OST244ASM7UT7P6UCH5LFWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KMLQ6NUEB42ZFGXZNPJ62Z5FLKN5Q3THWZG6BKBN6R23NCHCWBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVDCCYHK7MZC4FGVYH6A6JEPWUBOKZGIBI35MR4GQBBZPANL35KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERJGC4OJTSYISLUBAE56WEOCEUKR7JZN3LZ4WADQ4KWQHYTGZ4XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQIUXHG4Z7JA56MYLW6DZGC2LV33VU6EHPSMUKQFSFZ25ZSWQDNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U5DCOJBUKK2QQ6BBDVWE7JIKFXAIZSHV7X7YEYJP4UNNHPTLMTUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BWVT4M5XKG5M2N42E6RBRQ7G6LJZ4P4QNSO7DUXG7DGTKSXB4BPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QW5DIJJ7DWSEP4ZDSA744723ZOJBYSQOQUXOZUL5USGO4GEDSV6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IOW6A2RIOYFO2F7XUO4CLLYQHNJD47HRT3EWS57K425YO45ADC3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3AWJEQXEFDWSAQR66E6LLEFXOLN4WWWS66EHEP2N3OUPHBDHBDUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILPH3KBYHFR4Q3RTLLVPUAEUTQ34E2HFS6AL5ETSZ6E2JB4JO6GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLM5UCLZ7K3VWDHCARA543UIGRRZU6JUH5SU32FBP2YUZLN6DLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IHT7R2OYMMFED5DB3YE5IHS6X3ME4DFAUFMZDVLJQ4SGAVVUBFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLG5KHMQ2U7XRTI65BKHDMINSKOQTAEIGC3EDRKOVHW2JLAS5QEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTXWJFUXO3DDBSKXG3FJBGWTTNRXTMVNODYN4GMXSBMFXOZFLYVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRWXPQCFZEQPT2DPYCBNGUPEESIFJF5E3EI25YP6FEVNAJUI64KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYCRFQRFSGJ2DEL3ZGQJRJXUD4JJEA7LGNSTCGC6QR7SZYLNLJDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEOV24LVUYZET5AJB7V2FAOOM63HMNBJG4E6CZWR26AOUIFDEICQ/vendors.js"
            ]
        }
    },
    "shapes": {
        "Se": {
            "type": "list",
            "member": {}
        },
        "Sf": {
            "type": "list",
            "member": {}
        }
    }
}