{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2020-07-01",
        "endpointPrefix": "airflow",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "AmazonMWAA",
        "serviceId": "MWAA",
        "signatureVersion": "v4",
        "signingName": "airflow",
        "uid": "mwaa-2020-07-01",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/66H7PKWOUCPL2FVUALYHMR2XUBSEWZG3G7IK6KZ5JV6WAGIHY3WQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RBRMMYMARRMEQSP5VZLG7MGJYIEWANOP3DWFPOD5DW2CEFR4HDZQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/76MHHDPC4G5PVBSPKZ6TSSFRB5VK3QOMD3LREZE6XV6ZHPNDWMWA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DZD2ICYO5CCZLP4GTAJS5IEGRG6FU6RTFLZGZBPW2MDMATDEZOWQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/F6ELX7MWY4BTUG5WIC32DDKHL4L42QG52BY5FXEH2MYD3SRCQ6IQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4YOOCFYDTYROVZWCRAAVCOU6WTIHZKRFOH6MHM7PEHUDPUDO4XWA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CCMS625LD6T74TQQ7L5H6TAFBXGLNCPIY42W6DF2NB22LVD4B3ZA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZSLDCUQLVZSS7KAX23I4LFWKYPMDGL57S4TC63IDWVIOCZ4D672A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L5XOLENEYXUPSC4TKDPJKQ2FHZ2667CEXPTAFGO7P2OSFQAMPUEQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DNAMUFVAYKK5APPLWUNCLHQH4YQKVCPL5PGSUGTM6FCA5XUC4WSA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TA72GBT46XBHAXHN4H2EKF53KBSQAWEGHXMO4SUNRFLJUJWSRXUQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/X4M7ZA2BWEHPIK4WZNUHLFVHOFK6RGFKXSZEAPJD4KDN4BQTM24Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L3LPM66RWOJXPIDXN725RKLNU6GZ4NJOHLDMQUFBUHY43ROFLF6A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/X6YAC44A3JMWPDKOGNB5ZISNF2C52HQQ6YD2LXJMECKF6NCLGRJQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AGMVQ5PAY4I2BMXVUUHBYIAU27SBOUTQ3W7VPKEEP4CT7NQ5GXJA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
        ]
    },
    "operations": {
        "CreateCliToken": {
            "http": {
                "requestUri": "/clitoken/{Name}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {
                        "location": "uri",
                        "locationName": "Name"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "CliToken": {
                        "shape": "S4"
                    },
                    "WebServerHostname": {}
                }
            },
            "endpoint": {
                "hostPrefix": "env."
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBRMMYMARRMEQSP5VZLG7MGJYIEWANOP3DWFPOD5DW2CEFR4HDZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76MHHDPC4G5PVBSPKZ6TSSFRB5VK3QOMD3LREZE6XV6ZHPNDWMWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZD2ICYO5CCZLP4GTAJS5IEGRG6FU6RTFLZGZBPW2MDMATDEZOWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6ELX7MWY4BTUG5WIC32DDKHL4L42QG52BY5FXEH2MYD3SRCQ6IQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YOOCFYDTYROVZWCRAAVCOU6WTIHZKRFOH6MHM7PEHUDPUDO4XWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCMS625LD6T74TQQ7L5H6TAFBXGLNCPIY42W6DF2NB22LVD4B3ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSLDCUQLVZSS7KAX23I4LFWKYPMDGL57S4TC63IDWVIOCZ4D672A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L5XOLENEYXUPSC4TKDPJKQ2FHZ2667CEXPTAFGO7P2OSFQAMPUEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNAMUFVAYKK5APPLWUNCLHQH4YQKVCPL5PGSUGTM6FCA5XUC4WSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TA72GBT46XBHAXHN4H2EKF53KBSQAWEGHXMO4SUNRFLJUJWSRXUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4M7ZA2BWEHPIK4WZNUHLFVHOFK6RGFKXSZEAPJD4KDN4BQTM24Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3LPM66RWOJXPIDXN725RKLNU6GZ4NJOHLDMQUFBUHY43ROFLF6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6YAC44A3JMWPDKOGNB5ZISNF2C52HQQ6YD2LXJMECKF6NCLGRJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGMVQ5PAY4I2BMXVUUHBYIAU27SBOUTQ3W7VPKEEP4CT7NQ5GXJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "CreateEnvironment": {
            "http": {
                "method": "PUT",
                "requestUri": "/environments/{Name}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "DagS3Path",
                    "ExecutionRoleArn",
                    "Name",
                    "NetworkConfiguration",
                    "SourceBucketArn"
                ],
                "members": {
                    "AirflowConfigurationOptions": {
                        "shape": "S7"
                    },
                    "AirflowVersion": {},
                    "DagS3Path": {},
                    "EnvironmentClass": {},
                    "ExecutionRoleArn": {},
                    "KmsKey": {},
                    "LoggingConfiguration": {
                        "shape": "Sf"
                    },
                    "MaxWorkers": {
                        "type": "integer"
                    },
                    "MinWorkers": {
                        "type": "integer"
                    },
                    "Name": {
                        "location": "uri",
                        "locationName": "Name"
                    },
                    "NetworkConfiguration": {
                        "shape": "Sl"
                    },
                    "PluginsS3ObjectVersion": {},
                    "PluginsS3Path": {},
                    "RequirementsS3ObjectVersion": {},
                    "RequirementsS3Path": {},
                    "Schedulers": {
                        "type": "integer"
                    },
                    "SourceBucketArn": {},
                    "Tags": {
                        "shape": "St"
                    },
                    "WebserverAccessMode": {},
                    "WeeklyMaintenanceWindowStart": {},
                    "StartupScriptS3ObjectVersion": {},
                    "StartupScriptS3Path": {},
                    "CustomerManagedEndpoints": {
                        "type": "boolean"
                    },
                    "EndpointManagement": {},
                    "MaxWebservers": {
                        "type": "integer"
                    },
                    "MinWebservers": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Arn": {}
                }
            },
            "endpoint": {
                "hostPrefix": "api."
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBRMMYMARRMEQSP5VZLG7MGJYIEWANOP3DWFPOD5DW2CEFR4HDZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76MHHDPC4G5PVBSPKZ6TSSFRB5VK3QOMD3LREZE6XV6ZHPNDWMWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZD2ICYO5CCZLP4GTAJS5IEGRG6FU6RTFLZGZBPW2MDMATDEZOWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6ELX7MWY4BTUG5WIC32DDKHL4L42QG52BY5FXEH2MYD3SRCQ6IQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YOOCFYDTYROVZWCRAAVCOU6WTIHZKRFOH6MHM7PEHUDPUDO4XWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCMS625LD6T74TQQ7L5H6TAFBXGLNCPIY42W6DF2NB22LVD4B3ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSLDCUQLVZSS7KAX23I4LFWKYPMDGL57S4TC63IDWVIOCZ4D672A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L5XOLENEYXUPSC4TKDPJKQ2FHZ2667CEXPTAFGO7P2OSFQAMPUEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNAMUFVAYKK5APPLWUNCLHQH4YQKVCPL5PGSUGTM6FCA5XUC4WSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TA72GBT46XBHAXHN4H2EKF53KBSQAWEGHXMO4SUNRFLJUJWSRXUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4M7ZA2BWEHPIK4WZNUHLFVHOFK6RGFKXSZEAPJD4KDN4BQTM24Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3LPM66RWOJXPIDXN725RKLNU6GZ4NJOHLDMQUFBUHY43ROFLF6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6YAC44A3JMWPDKOGNB5ZISNF2C52HQQ6YD2LXJMECKF6NCLGRJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGMVQ5PAY4I2BMXVUUHBYIAU27SBOUTQ3W7VPKEEP4CT7NQ5GXJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "CreateWebLoginToken": {
            "http": {
                "requestUri": "/webtoken/{Name}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {
                        "location": "uri",
                        "locationName": "Name"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "WebServerHostname": {},
                    "WebToken": {
                        "shape": "S4"
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "env."
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBRMMYMARRMEQSP5VZLG7MGJYIEWANOP3DWFPOD5DW2CEFR4HDZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76MHHDPC4G5PVBSPKZ6TSSFRB5VK3QOMD3LREZE6XV6ZHPNDWMWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZD2ICYO5CCZLP4GTAJS5IEGRG6FU6RTFLZGZBPW2MDMATDEZOWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6ELX7MWY4BTUG5WIC32DDKHL4L42QG52BY5FXEH2MYD3SRCQ6IQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YOOCFYDTYROVZWCRAAVCOU6WTIHZKRFOH6MHM7PEHUDPUDO4XWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCMS625LD6T74TQQ7L5H6TAFBXGLNCPIY42W6DF2NB22LVD4B3ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSLDCUQLVZSS7KAX23I4LFWKYPMDGL57S4TC63IDWVIOCZ4D672A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L5XOLENEYXUPSC4TKDPJKQ2FHZ2667CEXPTAFGO7P2OSFQAMPUEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNAMUFVAYKK5APPLWUNCLHQH4YQKVCPL5PGSUGTM6FCA5XUC4WSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TA72GBT46XBHAXHN4H2EKF53KBSQAWEGHXMO4SUNRFLJUJWSRXUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4M7ZA2BWEHPIK4WZNUHLFVHOFK6RGFKXSZEAPJD4KDN4BQTM24Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3LPM66RWOJXPIDXN725RKLNU6GZ4NJOHLDMQUFBUHY43ROFLF6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6YAC44A3JMWPDKOGNB5ZISNF2C52HQQ6YD2LXJMECKF6NCLGRJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGMVQ5PAY4I2BMXVUUHBYIAU27SBOUTQ3W7VPKEEP4CT7NQ5GXJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DeleteEnvironment": {
            "http": {
                "method": "DELETE",
                "requestUri": "/environments/{Name}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {
                        "location": "uri",
                        "locationName": "Name"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "endpoint": {
                "hostPrefix": "api."
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBRMMYMARRMEQSP5VZLG7MGJYIEWANOP3DWFPOD5DW2CEFR4HDZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76MHHDPC4G5PVBSPKZ6TSSFRB5VK3QOMD3LREZE6XV6ZHPNDWMWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZD2ICYO5CCZLP4GTAJS5IEGRG6FU6RTFLZGZBPW2MDMATDEZOWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6ELX7MWY4BTUG5WIC32DDKHL4L42QG52BY5FXEH2MYD3SRCQ6IQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YOOCFYDTYROVZWCRAAVCOU6WTIHZKRFOH6MHM7PEHUDPUDO4XWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCMS625LD6T74TQQ7L5H6TAFBXGLNCPIY42W6DF2NB22LVD4B3ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSLDCUQLVZSS7KAX23I4LFWKYPMDGL57S4TC63IDWVIOCZ4D672A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L5XOLENEYXUPSC4TKDPJKQ2FHZ2667CEXPTAFGO7P2OSFQAMPUEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNAMUFVAYKK5APPLWUNCLHQH4YQKVCPL5PGSUGTM6FCA5XUC4WSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TA72GBT46XBHAXHN4H2EKF53KBSQAWEGHXMO4SUNRFLJUJWSRXUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4M7ZA2BWEHPIK4WZNUHLFVHOFK6RGFKXSZEAPJD4KDN4BQTM24Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3LPM66RWOJXPIDXN725RKLNU6GZ4NJOHLDMQUFBUHY43ROFLF6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6YAC44A3JMWPDKOGNB5ZISNF2C52HQQ6YD2LXJMECKF6NCLGRJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGMVQ5PAY4I2BMXVUUHBYIAU27SBOUTQ3W7VPKEEP4CT7NQ5GXJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "GetEnvironment": {
            "http": {
                "method": "GET",
                "requestUri": "/environments/{Name}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {
                        "location": "uri",
                        "locationName": "Name"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Environment": {
                        "type": "structure",
                        "members": {
                            "AirflowConfigurationOptions": {
                                "shape": "S7"
                            },
                            "AirflowVersion": {},
                            "Arn": {},
                            "CreatedAt": {
                                "type": "timestamp"
                            },
                            "DagS3Path": {},
                            "EnvironmentClass": {},
                            "ExecutionRoleArn": {},
                            "KmsKey": {},
                            "LastUpdate": {
                                "type": "structure",
                                "members": {
                                    "CreatedAt": {
                                        "type": "timestamp"
                                    },
                                    "Error": {
                                        "type": "structure",
                                        "members": {
                                            "ErrorCode": {},
                                            "ErrorMessage": {}
                                        }
                                    },
                                    "Source": {},
                                    "Status": {}
                                }
                            },
                            "LoggingConfiguration": {
                                "type": "structure",
                                "members": {
                                    "DagProcessingLogs": {
                                        "shape": "S1g"
                                    },
                                    "SchedulerLogs": {
                                        "shape": "S1g"
                                    },
                                    "TaskLogs": {
                                        "shape": "S1g"
                                    },
                                    "WebserverLogs": {
                                        "shape": "S1g"
                                    },
                                    "WorkerLogs": {
                                        "shape": "S1g"
                                    }
                                }
                            },
                            "MaxWorkers": {
                                "type": "integer"
                            },
                            "MinWorkers": {
                                "type": "integer"
                            },
                            "Name": {},
                            "NetworkConfiguration": {
                                "shape": "Sl"
                            },
                            "PluginsS3ObjectVersion": {},
                            "PluginsS3Path": {},
                            "RequirementsS3ObjectVersion": {},
                            "RequirementsS3Path": {},
                            "Schedulers": {
                                "type": "integer"
                            },
                            "ServiceRoleArn": {},
                            "SourceBucketArn": {},
                            "Status": {},
                            "Tags": {
                                "shape": "St"
                            },
                            "WebserverAccessMode": {},
                            "WebserverUrl": {},
                            "WeeklyMaintenanceWindowStart": {}
                        }
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "api."
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBRMMYMARRMEQSP5VZLG7MGJYIEWANOP3DWFPOD5DW2CEFR4HDZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76MHHDPC4G5PVBSPKZ6TSSFRB5VK3QOMD3LREZE6XV6ZHPNDWMWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZD2ICYO5CCZLP4GTAJS5IEGRG6FU6RTFLZGZBPW2MDMATDEZOWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6ELX7MWY4BTUG5WIC32DDKHL4L42QG52BY5FXEH2MYD3SRCQ6IQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YOOCFYDTYROVZWCRAAVCOU6WTIHZKRFOH6MHM7PEHUDPUDO4XWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCMS625LD6T74TQQ7L5H6TAFBXGLNCPIY42W6DF2NB22LVD4B3ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSLDCUQLVZSS7KAX23I4LFWKYPMDGL57S4TC63IDWVIOCZ4D672A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L5XOLENEYXUPSC4TKDPJKQ2FHZ2667CEXPTAFGO7P2OSFQAMPUEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNAMUFVAYKK5APPLWUNCLHQH4YQKVCPL5PGSUGTM6FCA5XUC4WSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TA72GBT46XBHAXHN4H2EKF53KBSQAWEGHXMO4SUNRFLJUJWSRXUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4M7ZA2BWEHPIK4WZNUHLFVHOFK6RGFKXSZEAPJD4KDN4BQTM24Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3LPM66RWOJXPIDXN725RKLNU6GZ4NJOHLDMQUFBUHY43ROFLF6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6YAC44A3JMWPDKOGNB5ZISNF2C52HQQ6YD2LXJMECKF6NCLGRJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGMVQ5PAY4I2BMXVUUHBYIAU27SBOUTQ3W7VPKEEP4CT7NQ5GXJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "ListEnvironments": {
            "http": {
                "method": "GET",
                "requestUri": "/environments",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "MaxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "NextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Environments"
                ],
                "members": {
                    "Environments": {
                        "type": "list",
                        "member": {}
                    },
                    "NextToken": {}
                }
            },
            "endpoint": {
                "hostPrefix": "api."
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBRMMYMARRMEQSP5VZLG7MGJYIEWANOP3DWFPOD5DW2CEFR4HDZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76MHHDPC4G5PVBSPKZ6TSSFRB5VK3QOMD3LREZE6XV6ZHPNDWMWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZD2ICYO5CCZLP4GTAJS5IEGRG6FU6RTFLZGZBPW2MDMATDEZOWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6ELX7MWY4BTUG5WIC32DDKHL4L42QG52BY5FXEH2MYD3SRCQ6IQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YOOCFYDTYROVZWCRAAVCOU6WTIHZKRFOH6MHM7PEHUDPUDO4XWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCMS625LD6T74TQQ7L5H6TAFBXGLNCPIY42W6DF2NB22LVD4B3ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSLDCUQLVZSS7KAX23I4LFWKYPMDGL57S4TC63IDWVIOCZ4D672A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L5XOLENEYXUPSC4TKDPJKQ2FHZ2667CEXPTAFGO7P2OSFQAMPUEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNAMUFVAYKK5APPLWUNCLHQH4YQKVCPL5PGSUGTM6FCA5XUC4WSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TA72GBT46XBHAXHN4H2EKF53KBSQAWEGHXMO4SUNRFLJUJWSRXUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4M7ZA2BWEHPIK4WZNUHLFVHOFK6RGFKXSZEAPJD4KDN4BQTM24Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3LPM66RWOJXPIDXN725RKLNU6GZ4NJOHLDMQUFBUHY43ROFLF6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6YAC44A3JMWPDKOGNB5ZISNF2C52HQQ6YD2LXJMECKF6NCLGRJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGMVQ5PAY4I2BMXVUUHBYIAU27SBOUTQ3W7VPKEEP4CT7NQ5GXJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "ListTagsForResource": {
            "http": {
                "method": "GET",
                "requestUri": "/tags/{ResourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn"
                ],
                "members": {
                    "ResourceArn": {
                        "location": "uri",
                        "locationName": "ResourceArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Tags": {
                        "shape": "St"
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "api."
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBRMMYMARRMEQSP5VZLG7MGJYIEWANOP3DWFPOD5DW2CEFR4HDZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76MHHDPC4G5PVBSPKZ6TSSFRB5VK3QOMD3LREZE6XV6ZHPNDWMWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZD2ICYO5CCZLP4GTAJS5IEGRG6FU6RTFLZGZBPW2MDMATDEZOWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6ELX7MWY4BTUG5WIC32DDKHL4L42QG52BY5FXEH2MYD3SRCQ6IQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YOOCFYDTYROVZWCRAAVCOU6WTIHZKRFOH6MHM7PEHUDPUDO4XWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCMS625LD6T74TQQ7L5H6TAFBXGLNCPIY42W6DF2NB22LVD4B3ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSLDCUQLVZSS7KAX23I4LFWKYPMDGL57S4TC63IDWVIOCZ4D672A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L5XOLENEYXUPSC4TKDPJKQ2FHZ2667CEXPTAFGO7P2OSFQAMPUEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNAMUFVAYKK5APPLWUNCLHQH4YQKVCPL5PGSUGTM6FCA5XUC4WSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TA72GBT46XBHAXHN4H2EKF53KBSQAWEGHXMO4SUNRFLJUJWSRXUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4M7ZA2BWEHPIK4WZNUHLFVHOFK6RGFKXSZEAPJD4KDN4BQTM24Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3LPM66RWOJXPIDXN725RKLNU6GZ4NJOHLDMQUFBUHY43ROFLF6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6YAC44A3JMWPDKOGNB5ZISNF2C52HQQ6YD2LXJMECKF6NCLGRJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGMVQ5PAY4I2BMXVUUHBYIAU27SBOUTQ3W7VPKEEP4CT7NQ5GXJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "PublishMetrics": {
            "http": {
                "requestUri": "/metrics/environments/{EnvironmentName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "EnvironmentName",
                    "MetricData"
                ],
                "members": {
                    "EnvironmentName": {
                        "location": "uri",
                        "locationName": "EnvironmentName"
                    },
                    "MetricData": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "MetricName",
                                "Timestamp"
                            ],
                            "members": {
                                "Dimensions": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "required": [
                                            "Name",
                                            "Value"
                                        ],
                                        "members": {
                                            "Name": {},
                                            "Value": {}
                                        }
                                    }
                                },
                                "MetricName": {},
                                "StatisticValues": {
                                    "type": "structure",
                                    "members": {
                                        "Maximum": {
                                            "type": "double"
                                        },
                                        "Minimum": {
                                            "type": "double"
                                        },
                                        "SampleCount": {
                                            "type": "integer"
                                        },
                                        "Sum": {
                                            "type": "double"
                                        }
                                    }
                                },
                                "Timestamp": {
                                    "type": "timestamp"
                                },
                                "Unit": {},
                                "Value": {
                                    "type": "double"
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "endpoint": {
                "hostPrefix": "ops."
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBRMMYMARRMEQSP5VZLG7MGJYIEWANOP3DWFPOD5DW2CEFR4HDZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76MHHDPC4G5PVBSPKZ6TSSFRB5VK3QOMD3LREZE6XV6ZHPNDWMWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZD2ICYO5CCZLP4GTAJS5IEGRG6FU6RTFLZGZBPW2MDMATDEZOWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6ELX7MWY4BTUG5WIC32DDKHL4L42QG52BY5FXEH2MYD3SRCQ6IQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YOOCFYDTYROVZWCRAAVCOU6WTIHZKRFOH6MHM7PEHUDPUDO4XWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCMS625LD6T74TQQ7L5H6TAFBXGLNCPIY42W6DF2NB22LVD4B3ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSLDCUQLVZSS7KAX23I4LFWKYPMDGL57S4TC63IDWVIOCZ4D672A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L5XOLENEYXUPSC4TKDPJKQ2FHZ2667CEXPTAFGO7P2OSFQAMPUEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNAMUFVAYKK5APPLWUNCLHQH4YQKVCPL5PGSUGTM6FCA5XUC4WSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TA72GBT46XBHAXHN4H2EKF53KBSQAWEGHXMO4SUNRFLJUJWSRXUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4M7ZA2BWEHPIK4WZNUHLFVHOFK6RGFKXSZEAPJD4KDN4BQTM24Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3LPM66RWOJXPIDXN725RKLNU6GZ4NJOHLDMQUFBUHY43ROFLF6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6YAC44A3JMWPDKOGNB5ZISNF2C52HQQ6YD2LXJMECKF6NCLGRJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGMVQ5PAY4I2BMXVUUHBYIAU27SBOUTQ3W7VPKEEP4CT7NQ5GXJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "TagResource": {
            "http": {
                "requestUri": "/tags/{ResourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn",
                    "Tags"
                ],
                "members": {
                    "ResourceArn": {
                        "location": "uri",
                        "locationName": "ResourceArn"
                    },
                    "Tags": {
                        "shape": "St"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "endpoint": {
                "hostPrefix": "api."
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBRMMYMARRMEQSP5VZLG7MGJYIEWANOP3DWFPOD5DW2CEFR4HDZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76MHHDPC4G5PVBSPKZ6TSSFRB5VK3QOMD3LREZE6XV6ZHPNDWMWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZD2ICYO5CCZLP4GTAJS5IEGRG6FU6RTFLZGZBPW2MDMATDEZOWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6ELX7MWY4BTUG5WIC32DDKHL4L42QG52BY5FXEH2MYD3SRCQ6IQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YOOCFYDTYROVZWCRAAVCOU6WTIHZKRFOH6MHM7PEHUDPUDO4XWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCMS625LD6T74TQQ7L5H6TAFBXGLNCPIY42W6DF2NB22LVD4B3ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSLDCUQLVZSS7KAX23I4LFWKYPMDGL57S4TC63IDWVIOCZ4D672A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L5XOLENEYXUPSC4TKDPJKQ2FHZ2667CEXPTAFGO7P2OSFQAMPUEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNAMUFVAYKK5APPLWUNCLHQH4YQKVCPL5PGSUGTM6FCA5XUC4WSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TA72GBT46XBHAXHN4H2EKF53KBSQAWEGHXMO4SUNRFLJUJWSRXUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4M7ZA2BWEHPIK4WZNUHLFVHOFK6RGFKXSZEAPJD4KDN4BQTM24Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3LPM66RWOJXPIDXN725RKLNU6GZ4NJOHLDMQUFBUHY43ROFLF6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6YAC44A3JMWPDKOGNB5ZISNF2C52HQQ6YD2LXJMECKF6NCLGRJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGMVQ5PAY4I2BMXVUUHBYIAU27SBOUTQ3W7VPKEEP4CT7NQ5GXJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "UntagResource": {
            "http": {
                "method": "DELETE",
                "requestUri": "/tags/{ResourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn",
                    "tagKeys"
                ],
                "members": {
                    "ResourceArn": {
                        "location": "uri",
                        "locationName": "ResourceArn"
                    },
                    "tagKeys": {
                        "location": "querystring",
                        "locationName": "tagKeys",
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "endpoint": {
                "hostPrefix": "api."
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBRMMYMARRMEQSP5VZLG7MGJYIEWANOP3DWFPOD5DW2CEFR4HDZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76MHHDPC4G5PVBSPKZ6TSSFRB5VK3QOMD3LREZE6XV6ZHPNDWMWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZD2ICYO5CCZLP4GTAJS5IEGRG6FU6RTFLZGZBPW2MDMATDEZOWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6ELX7MWY4BTUG5WIC32DDKHL4L42QG52BY5FXEH2MYD3SRCQ6IQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YOOCFYDTYROVZWCRAAVCOU6WTIHZKRFOH6MHM7PEHUDPUDO4XWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCMS625LD6T74TQQ7L5H6TAFBXGLNCPIY42W6DF2NB22LVD4B3ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSLDCUQLVZSS7KAX23I4LFWKYPMDGL57S4TC63IDWVIOCZ4D672A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L5XOLENEYXUPSC4TKDPJKQ2FHZ2667CEXPTAFGO7P2OSFQAMPUEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNAMUFVAYKK5APPLWUNCLHQH4YQKVCPL5PGSUGTM6FCA5XUC4WSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TA72GBT46XBHAXHN4H2EKF53KBSQAWEGHXMO4SUNRFLJUJWSRXUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4M7ZA2BWEHPIK4WZNUHLFVHOFK6RGFKXSZEAPJD4KDN4BQTM24Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3LPM66RWOJXPIDXN725RKLNU6GZ4NJOHLDMQUFBUHY43ROFLF6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6YAC44A3JMWPDKOGNB5ZISNF2C52HQQ6YD2LXJMECKF6NCLGRJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGMVQ5PAY4I2BMXVUUHBYIAU27SBOUTQ3W7VPKEEP4CT7NQ5GXJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "UpdateEnvironment": {
            "http": {
                "method": "PATCH",
                "requestUri": "/environments/{Name}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "AirflowConfigurationOptions": {
                        "shape": "S7"
                    },
                    "AirflowVersion": {},
                    "DagS3Path": {},
                    "EnvironmentClass": {},
                    "ExecutionRoleArn": {},
                    "LoggingConfiguration": {
                        "shape": "Sf"
                    },
                    "MaxWorkers": {
                        "type": "integer"
                    },
                    "MinWorkers": {
                        "type": "integer"
                    },
                    "Name": {
                        "location": "uri",
                        "locationName": "Name"
                    },
                    "NetworkConfiguration": {
                        "type": "structure",
                        "required": [
                            "SecurityGroupIds"
                        ],
                        "members": {
                            "SecurityGroupIds": {
                                "shape": "Sm"
                            }
                        }
                    },
                    "PluginsS3ObjectVersion": {},
                    "PluginsS3Path": {},
                    "RequirementsS3ObjectVersion": {},
                    "RequirementsS3Path": {},
                    "Schedulers": {
                        "type": "integer"
                    },
                    "SourceBucketArn": {},
                    "WebserverAccessMode": {},
                    "WeeklyMaintenanceWindowStart": {},
                    "StartupScriptS3ObjectVersion": {},
                    "StartupScriptS3Path": {},
                    "MaxWebservers": {
                        "type": "integer"
                    },
                    "MinWebservers": {
                        "type": "integer"
                    },
                    "NonDisruptive": {
                        "type": "boolean"
                    },
                    "WorkerReplacementStrategy": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Arn": {}
                }
            },
            "endpoint": {
                "hostPrefix": "api."
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBRMMYMARRMEQSP5VZLG7MGJYIEWANOP3DWFPOD5DW2CEFR4HDZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76MHHDPC4G5PVBSPKZ6TSSFRB5VK3QOMD3LREZE6XV6ZHPNDWMWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZD2ICYO5CCZLP4GTAJS5IEGRG6FU6RTFLZGZBPW2MDMATDEZOWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6ELX7MWY4BTUG5WIC32DDKHL4L42QG52BY5FXEH2MYD3SRCQ6IQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YOOCFYDTYROVZWCRAAVCOU6WTIHZKRFOH6MHM7PEHUDPUDO4XWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCMS625LD6T74TQQ7L5H6TAFBXGLNCPIY42W6DF2NB22LVD4B3ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSLDCUQLVZSS7KAX23I4LFWKYPMDGL57S4TC63IDWVIOCZ4D672A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L5XOLENEYXUPSC4TKDPJKQ2FHZ2667CEXPTAFGO7P2OSFQAMPUEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNAMUFVAYKK5APPLWUNCLHQH4YQKVCPL5PGSUGTM6FCA5XUC4WSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TA72GBT46XBHAXHN4H2EKF53KBSQAWEGHXMO4SUNRFLJUJWSRXUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4M7ZA2BWEHPIK4WZNUHLFVHOFK6RGFKXSZEAPJD4KDN4BQTM24Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3LPM66RWOJXPIDXN725RKLNU6GZ4NJOHLDMQUFBUHY43ROFLF6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6YAC44A3JMWPDKOGNB5ZISNF2C52HQQ6YD2LXJMECKF6NCLGRJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGMVQ5PAY4I2BMXVUUHBYIAU27SBOUTQ3W7VPKEEP4CT7NQ5GXJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "InvokeRestApi": {
            "http": {
                "requestUri": "/restapi/{Name}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "Path",
                    "Method"
                ],
                "members": {
                    "Name": {
                        "location": "uri",
                        "locationName": "Name"
                    },
                    "Path": {},
                    "Method": {},
                    "QueryParameters": {
                        "shape": "S1v"
                    },
                    "Body": {
                        "shape": "S1v"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "RestApiResponse": {
                        "shape": "S1v"
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "env."
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7C6IHHJWNHYMISG3W6SZODUQJIDCJFDOMWYEKYY6FX37J2MT2U2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EV3OGPAMHCQBX4ACEDRCKLZP4UYRGQBQYR7DXDKMECV4QM3YGWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDQL4USW46ZUIHDSLAOGSFBGJQQACANCMCF7XWVSQONA4VLBY43A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2CGMUSY4KZ44BCMC6O64G2XIMK4RP4J4PTJ3BRMKT5BB6ST7STA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKDKVGK7U7UCPXXY5DRFFPWL2B6RAK3AN7STCXDD4LPQLXU5Q6CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQ6WPJUJRVPYH72TD3TVVCTRFRQAVJHPA2463E2KRO7UULHA33LQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHA2ZGYBBZWCCYQM7W65URADF2ATUBK6ZMTLPITNKU2OFZK2GDUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVXDJL3IAQD6XD2F4HKOZ3SFGNN7L5BQCTHUXOEELHEGCXUAE5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HATBYM7MSIEREQZMQHGM7W6YRKEPSBLN2PKZBV4RZSPKRIY2LNDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66H7PKWOUCPL2FVUALYHMR2XUBSEWZG3G7IK6KZ5JV6WAGIHY3WQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBRMMYMARRMEQSP5VZLG7MGJYIEWANOP3DWFPOD5DW2CEFR4HDZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76MHHDPC4G5PVBSPKZ6TSSFRB5VK3QOMD3LREZE6XV6ZHPNDWMWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZD2ICYO5CCZLP4GTAJS5IEGRG6FU6RTFLZGZBPW2MDMATDEZOWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6ELX7MWY4BTUG5WIC32DDKHL4L42QG52BY5FXEH2MYD3SRCQ6IQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YOOCFYDTYROVZWCRAAVCOU6WTIHZKRFOH6MHM7PEHUDPUDO4XWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCMS625LD6T74TQQ7L5H6TAFBXGLNCPIY42W6DF2NB22LVD4B3ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSLDCUQLVZSS7KAX23I4LFWKYPMDGL57S4TC63IDWVIOCZ4D672A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L5XOLENEYXUPSC4TKDPJKQ2FHZ2667CEXPTAFGO7P2OSFQAMPUEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNAMUFVAYKK5APPLWUNCLHQH4YQKVCPL5PGSUGTM6FCA5XUC4WSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TA72GBT46XBHAXHN4H2EKF53KBSQAWEGHXMO4SUNRFLJUJWSRXUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4M7ZA2BWEHPIK4WZNUHLFVHOFK6RGFKXSZEAPJD4KDN4BQTM24Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3LPM66RWOJXPIDXN725RKLNU6GZ4NJOHLDMQUFBUHY43ROFLF6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6YAC44A3JMWPDKOGNB5ZISNF2C52HQQ6YD2LXJMECKF6NCLGRJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGMVQ5PAY4I2BMXVUUHBYIAU27SBOUTQ3W7VPKEEP4CT7NQ5GXJA/main.js"
            ]
        }
    },
    "shapes": {
        "S4": {
            "type": "string",
            "sensitive": true
        },
        "S7": {
            "type": "map",
            "key": {},
            "value": {
                "type": "string",
                "sensitive": true
            },
            "sensitive": true
        },
        "Sf": {
            "type": "structure",
            "members": {
                "DagProcessingLogs": {
                    "shape": "Sg"
                },
                "SchedulerLogs": {
                    "shape": "Sg"
                },
                "TaskLogs": {
                    "shape": "Sg"
                },
                "WebserverLogs": {
                    "shape": "Sg"
                },
                "WorkerLogs": {
                    "shape": "Sg"
                }
            }
        },
        "Sg": {
            "type": "structure",
            "required": [
                "Enabled",
                "LogLevel"
            ],
            "members": {
                "Enabled": {
                    "type": "boolean"
                },
                "LogLevel": {}
            }
        },
        "Sl": {
            "type": "structure",
            "members": {
                "SecurityGroupIds": {
                    "shape": "Sm"
                },
                "SubnetIds": {
                    "type": "list",
                    "member": {}
                }
            }
        },
        "Sm": {
            "type": "list",
            "member": {}
        },
        "St": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "S1g": {
            "type": "structure",
            "members": {
                "CloudWatchLogGroupArn": {},
                "Enabled": {
                    "type": "boolean"
                },
                "LogLevel": {}
            }
        },
        "Sk": {
            "type": "structure",
            "members": {
                "SecurityGroupIds": {
                    "shape": "Sl"
                },
                "SubnetIds": {
                    "type": "list",
                    "member": {}
                }
            }
        },
        "Sr": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "S1f": {
            "type": "structure",
            "members": {
                "CloudWatchLogGroupArn": {},
                "Enabled": {
                    "type": "boolean"
                },
                "LogLevel": {}
            }
        },
        "S1i": {
            "type": "structure",
            "members": {
                "CloudWatchLogGroupArn": {},
                "Enabled": {
                    "type": "boolean"
                },
                "LogLevel": {}
            }
        },
        "S1h": {
            "type": "structure",
            "members": {
                "CloudWatchLogGroupArn": {},
                "Enabled": {
                    "type": "boolean"
                },
                "LogLevel": {}
            }
        },
        "Sh": {
            "type": "structure",
            "required": [
                "Enabled",
                "LogLevel"
            ],
            "members": {
                "Enabled": {
                    "type": "boolean"
                },
                "LogLevel": {}
            }
        },
        "Sn": {
            "type": "list",
            "member": {}
        },
        "Su": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "S1k": {
            "type": "structure",
            "members": {
                "CloudWatchLogGroupArn": {},
                "Enabled": {
                    "type": "boolean"
                },
                "LogLevel": {}
            }
        },
        "S1j": {
            "type": "structure",
            "members": {
                "CloudWatchLogGroupArn": {},
                "Enabled": {
                    "type": "boolean"
                },
                "LogLevel": {}
            }
        },
        "S1l": {
            "type": "structure",
            "members": {
                "CloudWatchLogGroupArn": {},
                "Enabled": {
                    "type": "boolean"
                },
                "LogLevel": {}
            }
        },
        "So": {
            "type": "structure",
            "members": {
                "SecurityGroupIds": {
                    "shape": "Sp"
                },
                "SubnetIds": {
                    "type": "list",
                    "member": {}
                }
            }
        },
        "Sp": {
            "type": "list",
            "member": {}
        },
        "Sw": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "S1n": {
            "type": "structure",
            "members": {
                "CloudWatchLogGroupArn": {},
                "Enabled": {
                    "type": "boolean"
                },
                "LogLevel": {}
            }
        },
        "Sa": {
            "type": "structure",
            "members": {
                "SubnetIds": {
                    "type": "list",
                    "member": {}
                },
                "SecurityGroupIds": {
                    "shape": "Sd"
                }
            }
        },
        "Sd": {
            "type": "list",
            "member": {}
        },
        "Ss": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "S1v": {
            "type": "structure",
            "members": {},
            "document": true
        }
    }
}