{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2020-03-20",
        "endpointPrefix": "airflow",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "AmazonMWAA Control Plane",
        "serviceId": "MWAAControlPlane",
        "signatureVersion": "v4",
        "signingName": "airflow",
        "uid": "mwaacontrolplane-2020-03-20",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/GCGEUDE3VFKVVVSQABVNTBWBPOADDGETFXKQDXJW23BSPX6UUYVQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Q7KEWW2LF4BMK2OFIWWROE7ULRNTMGV7EYYK3XK6P35ZGXWNU24Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CMGSOK64XJR6IG7Z3DCJH2VJZYXIAMWAONZOXOOGSRHB7XF4CLQA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LVPLAODY4FZB5PCKE2SB44JCXBRNCOYIZUM3WOGH5ZSRWCAPF6FQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L4FZPOB343HFWX6GP3KTA4V33LU4V4ZSQZKL34FCRVIG4PY2QS3Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/D3PN6FK2Y7OLJ7OGYMVM446PPDKYWP4WQHKPAPBIPGHM6E5ERG3A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EJLLISM3Z2CBZX4XNKAH4SIVX275TB2OGX3M67S4BBX6B7Z47WMQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VLIDSAMXF5G6XLV425F7XN3UOYFKSO425GUA4WAMFPS2RAVAN3DA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CDWPX4KCLONHF6FTRHSZ5L6YYBJZAFRQC2PLKX24ZAIO43GP6INQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OY5KMQSFSPILZTRFY6VF5YDMPHEVK2M4AXQ5ZXDRLDBX6QPQ4JFA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WJQ2QJRRKGYE33ZSJCRCGRURHYKVQDKXIOPPLBPNTKUE774T3B4Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WA4O3KLDD2GCBA3NA6D55EX3F2OZDTDLSALZVNCCE7QQAIHQUC5Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OPQJDZPPA76LA5KRNEORUQB56AVYNM3KRW2DCGATQOQWGNPP44YQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GZUO5WOKM2JZCCO2YVAQSXHFOYMHKR3CWR6PI2CVATRD6J5TRU3Q/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/GZUO5WOKM2JZCCO2YVAQSXHFOYMHKR3CWR6PI2CVATRD6J5TRU3Q/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/AC3RXFV3SI74DCF2BGVT5MPHCGJ5SAFPVXGHJQJMWNA2ZLUHPWXQ/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/Z7IKPVK5HW2W3YRSEFVD7XDY6CSJ4X2KOUXJO4GTLJTVT6PZHHDA/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/AXJ6ZJX5AWPGMNDB65DFNNEZRURKOBLM7P5QP4RSI7VBYUW4NPKQ/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/Q2OBBRYSJDKMGEAA353JFDVZUJ3UCATKMA636L7ITROBBUALEEOA/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/66NBMN3LVISPCSMKC37Y4BOUPNHTSCXNKLXK3Q4BQSLI2QSSPBRQ/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/2SAIPDIEC2DBPJNLN4ZHZ3RV7GFSPAWFZ5P7AU6HM7Y6O2DZ37FA/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/SKBNUN7WVAQ6TGO7SHCFGEHF4GONKWDD7OXQALDENKZYEAF4N55Q/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/MHN2TVFFUAQ4NPXTKKX7WGXPOFPCUEOTBTDHGHD75HUGLWMC3IRQ/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/ZONZ7RORQZ6JYUZ4IXLHG5JLSMSMEX7J3L4U3UYLBSMLLRSYKWTQ/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/OLNONIYJMLQ42HEXYM5IULHPA5KNLQDJXMINEHIZ7GSIWYB5DUJQ/main.js"
        ]
    },
    "operations": {
        "CreateEnvironment": {
            "http": {
                "method": "PUT",
                "requestUri": "/environments/{Name}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "DagS3Path",
                    "ExecutionRoleArn",
                    "Name",
                    "NetworkConfiguration",
                    "SourceBucketArn"
                ],
                "members": {
                    "AirflowConfigurationOptions": {
                        "shape": "S2"
                    },
                    "AirflowVersion": {},
                    "DagS3Path": {},
                    "EnvironmentClass": {},
                    "ExecutionRoleArn": {},
                    "KmsKey": {},
                    "LoggingConfiguration": {
                        "shape": "Sa"
                    },
                    "MaxWorkers": {
                        "type": "integer"
                    },
                    "MinWorkers": {
                        "type": "integer"
                    },
                    "Name": {
                        "location": "uri",
                        "locationName": "Name"
                    },
                    "NetworkConfiguration": {
                        "shape": "Sh"
                    },
                    "PluginsS3ObjectVersion": {},
                    "PluginsS3Path": {},
                    "RequirementsS3ObjectVersion": {},
                    "RequirementsS3Path": {},
                    "Schedulers": {
                        "type": "integer"
                    },
                    "SourceBucketArn": {},
                    "StartupScriptS3ObjectVersion": {},
                    "StartupScriptS3Path": {},
                    "Tags": {
                        "shape": "Sp"
                    },
                    "WebserverAccessMode": {},
                    "WeeklyMaintenanceWindowStart": {},
                    "CustomerManagedEndpoints": {
                        "type": "boolean"
                    },
                    "EndpointManagement": {},
                    "MaxWebservers": {
                        "type": "integer"
                    },
                    "MinWebservers": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Arn": {}
                }
            },
            "endpoint": {
                "hostPrefix": "api."
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7KEWW2LF4BMK2OFIWWROE7ULRNTMGV7EYYK3XK6P35ZGXWNU24Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMGSOK64XJR6IG7Z3DCJH2VJZYXIAMWAONZOXOOGSRHB7XF4CLQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVPLAODY4FZB5PCKE2SB44JCXBRNCOYIZUM3WOGH5ZSRWCAPF6FQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4FZPOB343HFWX6GP3KTA4V33LU4V4ZSQZKL34FCRVIG4PY2QS3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3PN6FK2Y7OLJ7OGYMVM446PPDKYWP4WQHKPAPBIPGHM6E5ERG3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJLLISM3Z2CBZX4XNKAH4SIVX275TB2OGX3M67S4BBX6B7Z47WMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VLIDSAMXF5G6XLV425F7XN3UOYFKSO425GUA4WAMFPS2RAVAN3DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDWPX4KCLONHF6FTRHSZ5L6YYBJZAFRQC2PLKX24ZAIO43GP6INQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OY5KMQSFSPILZTRFY6VF5YDMPHEVK2M4AXQ5ZXDRLDBX6QPQ4JFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJQ2QJRRKGYE33ZSJCRCGRURHYKVQDKXIOPPLBPNTKUE774T3B4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WA4O3KLDD2GCBA3NA6D55EX3F2OZDTDLSALZVNCCE7QQAIHQUC5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPQJDZPPA76LA5KRNEORUQB56AVYNM3KRW2DCGATQOQWGNPP44YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZUO5WOKM2JZCCO2YVAQSXHFOYMHKR3CWR6PI2CVATRD6J5TRU3Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GZUO5WOKM2JZCCO2YVAQSXHFOYMHKR3CWR6PI2CVATRD6J5TRU3Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AC3RXFV3SI74DCF2BGVT5MPHCGJ5SAFPVXGHJQJMWNA2ZLUHPWXQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Z7IKPVK5HW2W3YRSEFVD7XDY6CSJ4X2KOUXJO4GTLJTVT6PZHHDA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AXJ6ZJX5AWPGMNDB65DFNNEZRURKOBLM7P5QP4RSI7VBYUW4NPKQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Q2OBBRYSJDKMGEAA353JFDVZUJ3UCATKMA636L7ITROBBUALEEOA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/66NBMN3LVISPCSMKC37Y4BOUPNHTSCXNKLXK3Q4BQSLI2QSSPBRQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2SAIPDIEC2DBPJNLN4ZHZ3RV7GFSPAWFZ5P7AU6HM7Y6O2DZ37FA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SKBNUN7WVAQ6TGO7SHCFGEHF4GONKWDD7OXQALDENKZYEAF4N55Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MHN2TVFFUAQ4NPXTKKX7WGXPOFPCUEOTBTDHGHD75HUGLWMC3IRQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZONZ7RORQZ6JYUZ4IXLHG5JLSMSMEX7J3L4U3UYLBSMLLRSYKWTQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OLNONIYJMLQ42HEXYM5IULHPA5KNLQDJXMINEHIZ7GSIWYB5DUJQ/main.js"
            ]
        },
        "DeleteEnvironment": {
            "http": {
                "method": "DELETE",
                "requestUri": "/environments/{Name}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {
                        "location": "uri",
                        "locationName": "Name"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "endpoint": {
                "hostPrefix": "api."
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7KEWW2LF4BMK2OFIWWROE7ULRNTMGV7EYYK3XK6P35ZGXWNU24Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMGSOK64XJR6IG7Z3DCJH2VJZYXIAMWAONZOXOOGSRHB7XF4CLQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVPLAODY4FZB5PCKE2SB44JCXBRNCOYIZUM3WOGH5ZSRWCAPF6FQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4FZPOB343HFWX6GP3KTA4V33LU4V4ZSQZKL34FCRVIG4PY2QS3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3PN6FK2Y7OLJ7OGYMVM446PPDKYWP4WQHKPAPBIPGHM6E5ERG3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJLLISM3Z2CBZX4XNKAH4SIVX275TB2OGX3M67S4BBX6B7Z47WMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VLIDSAMXF5G6XLV425F7XN3UOYFKSO425GUA4WAMFPS2RAVAN3DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDWPX4KCLONHF6FTRHSZ5L6YYBJZAFRQC2PLKX24ZAIO43GP6INQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OY5KMQSFSPILZTRFY6VF5YDMPHEVK2M4AXQ5ZXDRLDBX6QPQ4JFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJQ2QJRRKGYE33ZSJCRCGRURHYKVQDKXIOPPLBPNTKUE774T3B4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WA4O3KLDD2GCBA3NA6D55EX3F2OZDTDLSALZVNCCE7QQAIHQUC5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPQJDZPPA76LA5KRNEORUQB56AVYNM3KRW2DCGATQOQWGNPP44YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZUO5WOKM2JZCCO2YVAQSXHFOYMHKR3CWR6PI2CVATRD6J5TRU3Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GZUO5WOKM2JZCCO2YVAQSXHFOYMHKR3CWR6PI2CVATRD6J5TRU3Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AC3RXFV3SI74DCF2BGVT5MPHCGJ5SAFPVXGHJQJMWNA2ZLUHPWXQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Z7IKPVK5HW2W3YRSEFVD7XDY6CSJ4X2KOUXJO4GTLJTVT6PZHHDA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AXJ6ZJX5AWPGMNDB65DFNNEZRURKOBLM7P5QP4RSI7VBYUW4NPKQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Q2OBBRYSJDKMGEAA353JFDVZUJ3UCATKMA636L7ITROBBUALEEOA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/66NBMN3LVISPCSMKC37Y4BOUPNHTSCXNKLXK3Q4BQSLI2QSSPBRQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2SAIPDIEC2DBPJNLN4ZHZ3RV7GFSPAWFZ5P7AU6HM7Y6O2DZ37FA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SKBNUN7WVAQ6TGO7SHCFGEHF4GONKWDD7OXQALDENKZYEAF4N55Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MHN2TVFFUAQ4NPXTKKX7WGXPOFPCUEOTBTDHGHD75HUGLWMC3IRQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZONZ7RORQZ6JYUZ4IXLHG5JLSMSMEX7J3L4U3UYLBSMLLRSYKWTQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OLNONIYJMLQ42HEXYM5IULHPA5KNLQDJXMINEHIZ7GSIWYB5DUJQ/main.js"
            ]
        },
        "GetEnvironment": {
            "http": {
                "method": "GET",
                "requestUri": "/environments/{Name}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {
                        "location": "uri",
                        "locationName": "Name"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Environment": {
                        "type": "structure",
                        "members": {
                            "AirflowConfigurationOptions": {
                                "shape": "S2"
                            },
                            "AirflowVersion": {},
                            "Arn": {},
                            "CreatedAt": {
                                "type": "timestamp"
                            },
                            "DagS3Path": {},
                            "EnvironmentClass": {},
                            "ExecutionRoleArn": {},
                            "KmsKey": {},
                            "LastUpdate": {
                                "type": "structure",
                                "members": {
                                    "CreatedAt": {
                                        "type": "timestamp"
                                    },
                                    "Error": {
                                        "type": "structure",
                                        "members": {
                                            "ErrorCode": {},
                                            "ErrorMessage": {}
                                        }
                                    },
                                    "Source": {},
                                    "Status": {}
                                }
                            },
                            "LoggingConfiguration": {
                                "type": "structure",
                                "members": {
                                    "DagProcessingLogs": {
                                        "shape": "S1a"
                                    },
                                    "SchedulerLogs": {
                                        "shape": "S1a"
                                    },
                                    "TaskLogs": {
                                        "shape": "S1a"
                                    },
                                    "WebserverLogs": {
                                        "shape": "S1a"
                                    },
                                    "WorkerLogs": {
                                        "shape": "S1a"
                                    }
                                }
                            },
                            "MaxWorkers": {
                                "type": "integer"
                            },
                            "MinWorkers": {
                                "type": "integer"
                            },
                            "Name": {},
                            "NetworkConfiguration": {
                                "shape": "Sh"
                            },
                            "PluginsS3ObjectVersion": {},
                            "PluginsS3Path": {},
                            "RequirementsS3ObjectVersion": {},
                            "RequirementsS3Path": {},
                            "Schedulers": {
                                "type": "integer"
                            },
                            "ServiceRoleArn": {},
                            "SourceBucketArn": {},
                            "StartupScriptS3ObjectVersion": {},
                            "StartupScriptS3Path": {},
                            "Status": {},
                            "Tags": {
                                "shape": "Sp"
                            },
                            "WebserverAccessMode": {},
                            "WebserverUrl": {},
                            "WeeklyMaintenanceWindowStart": {}
                        }
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "api."
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7KEWW2LF4BMK2OFIWWROE7ULRNTMGV7EYYK3XK6P35ZGXWNU24Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMGSOK64XJR6IG7Z3DCJH2VJZYXIAMWAONZOXOOGSRHB7XF4CLQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVPLAODY4FZB5PCKE2SB44JCXBRNCOYIZUM3WOGH5ZSRWCAPF6FQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4FZPOB343HFWX6GP3KTA4V33LU4V4ZSQZKL34FCRVIG4PY2QS3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3PN6FK2Y7OLJ7OGYMVM446PPDKYWP4WQHKPAPBIPGHM6E5ERG3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJLLISM3Z2CBZX4XNKAH4SIVX275TB2OGX3M67S4BBX6B7Z47WMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VLIDSAMXF5G6XLV425F7XN3UOYFKSO425GUA4WAMFPS2RAVAN3DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDWPX4KCLONHF6FTRHSZ5L6YYBJZAFRQC2PLKX24ZAIO43GP6INQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OY5KMQSFSPILZTRFY6VF5YDMPHEVK2M4AXQ5ZXDRLDBX6QPQ4JFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJQ2QJRRKGYE33ZSJCRCGRURHYKVQDKXIOPPLBPNTKUE774T3B4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WA4O3KLDD2GCBA3NA6D55EX3F2OZDTDLSALZVNCCE7QQAIHQUC5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPQJDZPPA76LA5KRNEORUQB56AVYNM3KRW2DCGATQOQWGNPP44YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZUO5WOKM2JZCCO2YVAQSXHFOYMHKR3CWR6PI2CVATRD6J5TRU3Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GZUO5WOKM2JZCCO2YVAQSXHFOYMHKR3CWR6PI2CVATRD6J5TRU3Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AC3RXFV3SI74DCF2BGVT5MPHCGJ5SAFPVXGHJQJMWNA2ZLUHPWXQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Z7IKPVK5HW2W3YRSEFVD7XDY6CSJ4X2KOUXJO4GTLJTVT6PZHHDA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AXJ6ZJX5AWPGMNDB65DFNNEZRURKOBLM7P5QP4RSI7VBYUW4NPKQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Q2OBBRYSJDKMGEAA353JFDVZUJ3UCATKMA636L7ITROBBUALEEOA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/66NBMN3LVISPCSMKC37Y4BOUPNHTSCXNKLXK3Q4BQSLI2QSSPBRQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2SAIPDIEC2DBPJNLN4ZHZ3RV7GFSPAWFZ5P7AU6HM7Y6O2DZ37FA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SKBNUN7WVAQ6TGO7SHCFGEHF4GONKWDD7OXQALDENKZYEAF4N55Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MHN2TVFFUAQ4NPXTKKX7WGXPOFPCUEOTBTDHGHD75HUGLWMC3IRQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZONZ7RORQZ6JYUZ4IXLHG5JLSMSMEX7J3L4U3UYLBSMLLRSYKWTQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OLNONIYJMLQ42HEXYM5IULHPA5KNLQDJXMINEHIZ7GSIWYB5DUJQ/main.js"
            ]
        },
        "ListEnvironments": {
            "http": {
                "method": "GET",
                "requestUri": "/environments",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "MaxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "NextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Environments"
                ],
                "members": {
                    "Environments": {
                        "type": "list",
                        "member": {}
                    },
                    "NextToken": {}
                }
            },
            "endpoint": {
                "hostPrefix": "api."
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7KEWW2LF4BMK2OFIWWROE7ULRNTMGV7EYYK3XK6P35ZGXWNU24Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMGSOK64XJR6IG7Z3DCJH2VJZYXIAMWAONZOXOOGSRHB7XF4CLQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVPLAODY4FZB5PCKE2SB44JCXBRNCOYIZUM3WOGH5ZSRWCAPF6FQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4FZPOB343HFWX6GP3KTA4V33LU4V4ZSQZKL34FCRVIG4PY2QS3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3PN6FK2Y7OLJ7OGYMVM446PPDKYWP4WQHKPAPBIPGHM6E5ERG3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJLLISM3Z2CBZX4XNKAH4SIVX275TB2OGX3M67S4BBX6B7Z47WMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VLIDSAMXF5G6XLV425F7XN3UOYFKSO425GUA4WAMFPS2RAVAN3DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDWPX4KCLONHF6FTRHSZ5L6YYBJZAFRQC2PLKX24ZAIO43GP6INQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OY5KMQSFSPILZTRFY6VF5YDMPHEVK2M4AXQ5ZXDRLDBX6QPQ4JFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJQ2QJRRKGYE33ZSJCRCGRURHYKVQDKXIOPPLBPNTKUE774T3B4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WA4O3KLDD2GCBA3NA6D55EX3F2OZDTDLSALZVNCCE7QQAIHQUC5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPQJDZPPA76LA5KRNEORUQB56AVYNM3KRW2DCGATQOQWGNPP44YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZUO5WOKM2JZCCO2YVAQSXHFOYMHKR3CWR6PI2CVATRD6J5TRU3Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GZUO5WOKM2JZCCO2YVAQSXHFOYMHKR3CWR6PI2CVATRD6J5TRU3Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AC3RXFV3SI74DCF2BGVT5MPHCGJ5SAFPVXGHJQJMWNA2ZLUHPWXQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Z7IKPVK5HW2W3YRSEFVD7XDY6CSJ4X2KOUXJO4GTLJTVT6PZHHDA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AXJ6ZJX5AWPGMNDB65DFNNEZRURKOBLM7P5QP4RSI7VBYUW4NPKQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Q2OBBRYSJDKMGEAA353JFDVZUJ3UCATKMA636L7ITROBBUALEEOA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/66NBMN3LVISPCSMKC37Y4BOUPNHTSCXNKLXK3Q4BQSLI2QSSPBRQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2SAIPDIEC2DBPJNLN4ZHZ3RV7GFSPAWFZ5P7AU6HM7Y6O2DZ37FA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SKBNUN7WVAQ6TGO7SHCFGEHF4GONKWDD7OXQALDENKZYEAF4N55Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MHN2TVFFUAQ4NPXTKKX7WGXPOFPCUEOTBTDHGHD75HUGLWMC3IRQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZONZ7RORQZ6JYUZ4IXLHG5JLSMSMEX7J3L4U3UYLBSMLLRSYKWTQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OLNONIYJMLQ42HEXYM5IULHPA5KNLQDJXMINEHIZ7GSIWYB5DUJQ/main.js"
            ]
        },
        "ListTagsForResource": {
            "http": {
                "method": "GET",
                "requestUri": "/tags/{ResourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn"
                ],
                "members": {
                    "ResourceArn": {
                        "location": "uri",
                        "locationName": "ResourceArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Tags": {
                        "shape": "Sp"
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "api."
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7KEWW2LF4BMK2OFIWWROE7ULRNTMGV7EYYK3XK6P35ZGXWNU24Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMGSOK64XJR6IG7Z3DCJH2VJZYXIAMWAONZOXOOGSRHB7XF4CLQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVPLAODY4FZB5PCKE2SB44JCXBRNCOYIZUM3WOGH5ZSRWCAPF6FQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4FZPOB343HFWX6GP3KTA4V33LU4V4ZSQZKL34FCRVIG4PY2QS3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3PN6FK2Y7OLJ7OGYMVM446PPDKYWP4WQHKPAPBIPGHM6E5ERG3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJLLISM3Z2CBZX4XNKAH4SIVX275TB2OGX3M67S4BBX6B7Z47WMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VLIDSAMXF5G6XLV425F7XN3UOYFKSO425GUA4WAMFPS2RAVAN3DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDWPX4KCLONHF6FTRHSZ5L6YYBJZAFRQC2PLKX24ZAIO43GP6INQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OY5KMQSFSPILZTRFY6VF5YDMPHEVK2M4AXQ5ZXDRLDBX6QPQ4JFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJQ2QJRRKGYE33ZSJCRCGRURHYKVQDKXIOPPLBPNTKUE774T3B4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WA4O3KLDD2GCBA3NA6D55EX3F2OZDTDLSALZVNCCE7QQAIHQUC5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPQJDZPPA76LA5KRNEORUQB56AVYNM3KRW2DCGATQOQWGNPP44YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZUO5WOKM2JZCCO2YVAQSXHFOYMHKR3CWR6PI2CVATRD6J5TRU3Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GZUO5WOKM2JZCCO2YVAQSXHFOYMHKR3CWR6PI2CVATRD6J5TRU3Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AC3RXFV3SI74DCF2BGVT5MPHCGJ5SAFPVXGHJQJMWNA2ZLUHPWXQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Z7IKPVK5HW2W3YRSEFVD7XDY6CSJ4X2KOUXJO4GTLJTVT6PZHHDA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AXJ6ZJX5AWPGMNDB65DFNNEZRURKOBLM7P5QP4RSI7VBYUW4NPKQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Q2OBBRYSJDKMGEAA353JFDVZUJ3UCATKMA636L7ITROBBUALEEOA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/66NBMN3LVISPCSMKC37Y4BOUPNHTSCXNKLXK3Q4BQSLI2QSSPBRQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2SAIPDIEC2DBPJNLN4ZHZ3RV7GFSPAWFZ5P7AU6HM7Y6O2DZ37FA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SKBNUN7WVAQ6TGO7SHCFGEHF4GONKWDD7OXQALDENKZYEAF4N55Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MHN2TVFFUAQ4NPXTKKX7WGXPOFPCUEOTBTDHGHD75HUGLWMC3IRQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZONZ7RORQZ6JYUZ4IXLHG5JLSMSMEX7J3L4U3UYLBSMLLRSYKWTQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OLNONIYJMLQ42HEXYM5IULHPA5KNLQDJXMINEHIZ7GSIWYB5DUJQ/main.js"
            ]
        },
        "TagResource": {
            "http": {
                "requestUri": "/tags/{ResourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn",
                    "Tags"
                ],
                "members": {
                    "ResourceArn": {
                        "location": "uri",
                        "locationName": "ResourceArn"
                    },
                    "Tags": {
                        "shape": "Sp"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "endpoint": {
                "hostPrefix": "api."
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7KEWW2LF4BMK2OFIWWROE7ULRNTMGV7EYYK3XK6P35ZGXWNU24Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMGSOK64XJR6IG7Z3DCJH2VJZYXIAMWAONZOXOOGSRHB7XF4CLQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVPLAODY4FZB5PCKE2SB44JCXBRNCOYIZUM3WOGH5ZSRWCAPF6FQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4FZPOB343HFWX6GP3KTA4V33LU4V4ZSQZKL34FCRVIG4PY2QS3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3PN6FK2Y7OLJ7OGYMVM446PPDKYWP4WQHKPAPBIPGHM6E5ERG3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJLLISM3Z2CBZX4XNKAH4SIVX275TB2OGX3M67S4BBX6B7Z47WMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VLIDSAMXF5G6XLV425F7XN3UOYFKSO425GUA4WAMFPS2RAVAN3DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDWPX4KCLONHF6FTRHSZ5L6YYBJZAFRQC2PLKX24ZAIO43GP6INQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OY5KMQSFSPILZTRFY6VF5YDMPHEVK2M4AXQ5ZXDRLDBX6QPQ4JFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJQ2QJRRKGYE33ZSJCRCGRURHYKVQDKXIOPPLBPNTKUE774T3B4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WA4O3KLDD2GCBA3NA6D55EX3F2OZDTDLSALZVNCCE7QQAIHQUC5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPQJDZPPA76LA5KRNEORUQB56AVYNM3KRW2DCGATQOQWGNPP44YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZUO5WOKM2JZCCO2YVAQSXHFOYMHKR3CWR6PI2CVATRD6J5TRU3Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GZUO5WOKM2JZCCO2YVAQSXHFOYMHKR3CWR6PI2CVATRD6J5TRU3Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AC3RXFV3SI74DCF2BGVT5MPHCGJ5SAFPVXGHJQJMWNA2ZLUHPWXQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Z7IKPVK5HW2W3YRSEFVD7XDY6CSJ4X2KOUXJO4GTLJTVT6PZHHDA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AXJ6ZJX5AWPGMNDB65DFNNEZRURKOBLM7P5QP4RSI7VBYUW4NPKQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Q2OBBRYSJDKMGEAA353JFDVZUJ3UCATKMA636L7ITROBBUALEEOA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/66NBMN3LVISPCSMKC37Y4BOUPNHTSCXNKLXK3Q4BQSLI2QSSPBRQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2SAIPDIEC2DBPJNLN4ZHZ3RV7GFSPAWFZ5P7AU6HM7Y6O2DZ37FA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SKBNUN7WVAQ6TGO7SHCFGEHF4GONKWDD7OXQALDENKZYEAF4N55Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MHN2TVFFUAQ4NPXTKKX7WGXPOFPCUEOTBTDHGHD75HUGLWMC3IRQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZONZ7RORQZ6JYUZ4IXLHG5JLSMSMEX7J3L4U3UYLBSMLLRSYKWTQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OLNONIYJMLQ42HEXYM5IULHPA5KNLQDJXMINEHIZ7GSIWYB5DUJQ/main.js"
            ]
        },
        "UntagResource": {
            "http": {
                "method": "DELETE",
                "requestUri": "/tags/{ResourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn",
                    "tagKeys"
                ],
                "members": {
                    "ResourceArn": {
                        "location": "uri",
                        "locationName": "ResourceArn"
                    },
                    "tagKeys": {
                        "location": "querystring",
                        "locationName": "tagKeys",
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "endpoint": {
                "hostPrefix": "api."
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7KEWW2LF4BMK2OFIWWROE7ULRNTMGV7EYYK3XK6P35ZGXWNU24Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMGSOK64XJR6IG7Z3DCJH2VJZYXIAMWAONZOXOOGSRHB7XF4CLQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVPLAODY4FZB5PCKE2SB44JCXBRNCOYIZUM3WOGH5ZSRWCAPF6FQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4FZPOB343HFWX6GP3KTA4V33LU4V4ZSQZKL34FCRVIG4PY2QS3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3PN6FK2Y7OLJ7OGYMVM446PPDKYWP4WQHKPAPBIPGHM6E5ERG3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJLLISM3Z2CBZX4XNKAH4SIVX275TB2OGX3M67S4BBX6B7Z47WMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VLIDSAMXF5G6XLV425F7XN3UOYFKSO425GUA4WAMFPS2RAVAN3DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDWPX4KCLONHF6FTRHSZ5L6YYBJZAFRQC2PLKX24ZAIO43GP6INQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OY5KMQSFSPILZTRFY6VF5YDMPHEVK2M4AXQ5ZXDRLDBX6QPQ4JFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJQ2QJRRKGYE33ZSJCRCGRURHYKVQDKXIOPPLBPNTKUE774T3B4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WA4O3KLDD2GCBA3NA6D55EX3F2OZDTDLSALZVNCCE7QQAIHQUC5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPQJDZPPA76LA5KRNEORUQB56AVYNM3KRW2DCGATQOQWGNPP44YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZUO5WOKM2JZCCO2YVAQSXHFOYMHKR3CWR6PI2CVATRD6J5TRU3Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GZUO5WOKM2JZCCO2YVAQSXHFOYMHKR3CWR6PI2CVATRD6J5TRU3Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AC3RXFV3SI74DCF2BGVT5MPHCGJ5SAFPVXGHJQJMWNA2ZLUHPWXQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Z7IKPVK5HW2W3YRSEFVD7XDY6CSJ4X2KOUXJO4GTLJTVT6PZHHDA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AXJ6ZJX5AWPGMNDB65DFNNEZRURKOBLM7P5QP4RSI7VBYUW4NPKQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Q2OBBRYSJDKMGEAA353JFDVZUJ3UCATKMA636L7ITROBBUALEEOA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/66NBMN3LVISPCSMKC37Y4BOUPNHTSCXNKLXK3Q4BQSLI2QSSPBRQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2SAIPDIEC2DBPJNLN4ZHZ3RV7GFSPAWFZ5P7AU6HM7Y6O2DZ37FA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SKBNUN7WVAQ6TGO7SHCFGEHF4GONKWDD7OXQALDENKZYEAF4N55Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MHN2TVFFUAQ4NPXTKKX7WGXPOFPCUEOTBTDHGHD75HUGLWMC3IRQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZONZ7RORQZ6JYUZ4IXLHG5JLSMSMEX7J3L4U3UYLBSMLLRSYKWTQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OLNONIYJMLQ42HEXYM5IULHPA5KNLQDJXMINEHIZ7GSIWYB5DUJQ/main.js"
            ]
        },
        "UpdateEnvironment": {
            "http": {
                "method": "PATCH",
                "requestUri": "/environments/{Name}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "AirflowConfigurationOptions": {
                        "shape": "S2"
                    },
                    "AirflowVersion": {},
                    "DagS3Path": {},
                    "EnvironmentClass": {},
                    "ExecutionRoleArn": {},
                    "LoggingConfiguration": {
                        "shape": "Sa"
                    },
                    "MaxWorkers": {
                        "type": "integer"
                    },
                    "MinWorkers": {
                        "type": "integer"
                    },
                    "Name": {
                        "location": "uri",
                        "locationName": "Name"
                    },
                    "NetworkConfiguration": {
                        "type": "structure",
                        "required": [
                            "SecurityGroupIds"
                        ],
                        "members": {
                            "SecurityGroupIds": {
                                "shape": "Si"
                            }
                        }
                    },
                    "PluginsS3ObjectVersion": {},
                    "PluginsS3Path": {},
                    "RequirementsS3ObjectVersion": {},
                    "RequirementsS3Path": {},
                    "Schedulers": {
                        "type": "integer"
                    },
                    "SourceBucketArn": {},
                    "StartupScriptS3ObjectVersion": {},
                    "StartupScriptS3Path": {},
                    "WebserverAccessMode": {},
                    "WeeklyMaintenanceWindowStart": {},
                    "MaxWebservers": {
                        "type": "integer"
                    },
                    "MinWebservers": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Arn": {}
                }
            },
            "endpoint": {
                "hostPrefix": "api."
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7KEWW2LF4BMK2OFIWWROE7ULRNTMGV7EYYK3XK6P35ZGXWNU24Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMGSOK64XJR6IG7Z3DCJH2VJZYXIAMWAONZOXOOGSRHB7XF4CLQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVPLAODY4FZB5PCKE2SB44JCXBRNCOYIZUM3WOGH5ZSRWCAPF6FQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4FZPOB343HFWX6GP3KTA4V33LU4V4ZSQZKL34FCRVIG4PY2QS3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3PN6FK2Y7OLJ7OGYMVM446PPDKYWP4WQHKPAPBIPGHM6E5ERG3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJLLISM3Z2CBZX4XNKAH4SIVX275TB2OGX3M67S4BBX6B7Z47WMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VLIDSAMXF5G6XLV425F7XN3UOYFKSO425GUA4WAMFPS2RAVAN3DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDWPX4KCLONHF6FTRHSZ5L6YYBJZAFRQC2PLKX24ZAIO43GP6INQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OY5KMQSFSPILZTRFY6VF5YDMPHEVK2M4AXQ5ZXDRLDBX6QPQ4JFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJQ2QJRRKGYE33ZSJCRCGRURHYKVQDKXIOPPLBPNTKUE774T3B4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WA4O3KLDD2GCBA3NA6D55EX3F2OZDTDLSALZVNCCE7QQAIHQUC5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPQJDZPPA76LA5KRNEORUQB56AVYNM3KRW2DCGATQOQWGNPP44YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZUO5WOKM2JZCCO2YVAQSXHFOYMHKR3CWR6PI2CVATRD6J5TRU3Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GZUO5WOKM2JZCCO2YVAQSXHFOYMHKR3CWR6PI2CVATRD6J5TRU3Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AC3RXFV3SI74DCF2BGVT5MPHCGJ5SAFPVXGHJQJMWNA2ZLUHPWXQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Z7IKPVK5HW2W3YRSEFVD7XDY6CSJ4X2KOUXJO4GTLJTVT6PZHHDA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AXJ6ZJX5AWPGMNDB65DFNNEZRURKOBLM7P5QP4RSI7VBYUW4NPKQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Q2OBBRYSJDKMGEAA353JFDVZUJ3UCATKMA636L7ITROBBUALEEOA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/66NBMN3LVISPCSMKC37Y4BOUPNHTSCXNKLXK3Q4BQSLI2QSSPBRQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2SAIPDIEC2DBPJNLN4ZHZ3RV7GFSPAWFZ5P7AU6HM7Y6O2DZ37FA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SKBNUN7WVAQ6TGO7SHCFGEHF4GONKWDD7OXQALDENKZYEAF4N55Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MHN2TVFFUAQ4NPXTKKX7WGXPOFPCUEOTBTDHGHD75HUGLWMC3IRQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZONZ7RORQZ6JYUZ4IXLHG5JLSMSMEX7J3L4U3UYLBSMLLRSYKWTQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OLNONIYJMLQ42HEXYM5IULHPA5KNLQDJXMINEHIZ7GSIWYB5DUJQ/main.js"
            ]
        }
    },
    "shapes": {
        "S2": {
            "type": "map",
            "key": {},
            "value": {
                "type": "string",
                "sensitive": true
            },
            "sensitive": true
        },
        "Sa": {
            "type": "structure",
            "members": {
                "DagProcessingLogs": {
                    "shape": "Sb"
                },
                "SchedulerLogs": {
                    "shape": "Sb"
                },
                "TaskLogs": {
                    "shape": "Sb"
                },
                "WebserverLogs": {
                    "shape": "Sb"
                },
                "WorkerLogs": {
                    "shape": "Sb"
                }
            }
        },
        "Sb": {
            "type": "structure",
            "required": [
                "Enabled",
                "LogLevel"
            ],
            "members": {
                "Enabled": {
                    "type": "boolean"
                },
                "LogLevel": {}
            }
        },
        "Sh": {
            "type": "structure",
            "members": {
                "SecurityGroupIds": {
                    "shape": "Si"
                },
                "SubnetIds": {
                    "type": "list",
                    "member": {}
                }
            }
        },
        "Si": {
            "type": "list",
            "member": {}
        },
        "Sp": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "S1a": {
            "type": "structure",
            "members": {
                "CloudWatchLogGroupArn": {},
                "Enabled": {
                    "type": "boolean"
                },
                "LogLevel": {}
            }
        },
        "Sc": {
            "type": "structure",
            "required": [
                "Enabled",
                "LogLevel"
            ],
            "members": {
                "Enabled": {
                    "type": "boolean"
                },
                "LogLevel": {}
            }
        },
        "Sj": {
            "type": "list",
            "member": {}
        },
        "Sq": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "S1e": {
            "type": "structure",
            "members": {
                "CloudWatchLogGroupArn": {},
                "Enabled": {
                    "type": "boolean"
                },
                "LogLevel": {}
            }
        },
        "S1d": {
            "type": "structure",
            "members": {
                "CloudWatchLogGroupArn": {},
                "Enabled": {
                    "type": "boolean"
                },
                "LogLevel": {}
            }
        },
        "S1c": {
            "type": "structure",
            "members": {
                "CloudWatchLogGroupArn": {},
                "Enabled": {
                    "type": "boolean"
                },
                "LogLevel": {}
            }
        },
        "Sk": {
            "type": "structure",
            "members": {
                "SecurityGroupIds": {
                    "shape": "Sl"
                },
                "SubnetIds": {
                    "type": "list",
                    "member": {}
                }
            }
        },
        "Sl": {
            "type": "list",
            "member": {}
        },
        "Ss": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "S1f": {
            "type": "structure",
            "members": {
                "CloudWatchLogGroupArn": {},
                "Enabled": {
                    "type": "boolean"
                },
                "LogLevel": {}
            }
        },
        "S6": {
            "type": "structure",
            "members": {
                "SubnetIds": {
                    "type": "list",
                    "member": {}
                },
                "SecurityGroupIds": {
                    "shape": "S9"
                }
            }
        },
        "S9": {
            "type": "list",
            "member": {}
        },
        "So": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "S19": {
            "type": "structure",
            "members": {
                "Enabled": {
                    "type": "boolean"
                },
                "LogLevel": {},
                "CloudWatchLogGroupArn": {}
            }
        }
    }
}