{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2020-03-20",
        "endpointPrefix": "airflow",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "AmazonMWAA Control Plane",
        "serviceId": "MWAAControlPlane",
        "signatureVersion": "v4",
        "signingName": "airflow",
        "uid": "mwaacontrolplane-2020-03-20",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/EANFPPPFPAARSSUH4CUTLVMCUWDUWOWJC4EM5UJNS2YQ4TG6WLDQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7C6IHHJWNHYMISG3W6SZODUQJIDCJFDOMWYEKYY6FX37J2MT2U2Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5EV3OGPAMHCQBX4ACEDRCKLZP4UYRGQBQYR7DXDKMECV4QM3YGWQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EDQL4USW46ZUIHDSLAOGSFBGJQQACANCMCF7XWVSQONA4VLBY43A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/B2CGMUSY4KZ44BCMC6O64G2XIMK4RP4J4PTJ3BRMKT5BB6ST7STA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WKDKVGK7U7UCPXXY5DRFFPWL2B6RAK3AN7STCXDD4LPQLXU5Q6CA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SQ6WPJUJRVPYH72TD3TVVCTRFRQAVJHPA2463E2KRO7UULHA33LQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GHA2ZGYBBZWCCYQM7W65URADF2ATUBK6ZMTLPITNKU2OFZK2GDUA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DVXDJL3IAQD6XD2F4HKOZ3SFGNN7L5BQCTHUXOEELHEGCXUAE5HQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HATBYM7MSIEREQZMQHGM7W6YRKEPSBLN2PKZBV4RZSPKRIY2LNDQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/66H7PKWOUCPL2FVUALYHMR2XUBSEWZG3G7IK6KZ5JV6WAGIHY3WQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RBRMMYMARRMEQSP5VZLG7MGJYIEWANOP3DWFPOD5DW2CEFR4HDZQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/76MHHDPC4G5PVBSPKZ6TSSFRB5VK3QOMD3LREZE6XV6ZHPNDWMWA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DZD2ICYO5CCZLP4GTAJS5IEGRG6FU6RTFLZGZBPW2MDMATDEZOWQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/F6ELX7MWY4BTUG5WIC32DDKHL4L42QG52BY5FXEH2MYD3SRCQ6IQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4YOOCFYDTYROVZWCRAAVCOU6WTIHZKRFOH6MHM7PEHUDPUDO4XWA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CCMS625LD6T74TQQ7L5H6TAFBXGLNCPIY42W6DF2NB22LVD4B3ZA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZSLDCUQLVZSS7KAX23I4LFWKYPMDGL57S4TC63IDWVIOCZ4D672A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L5XOLENEYXUPSC4TKDPJKQ2FHZ2667CEXPTAFGO7P2OSFQAMPUEQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DNAMUFVAYKK5APPLWUNCLHQH4YQKVCPL5PGSUGTM6FCA5XUC4WSA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TA72GBT46XBHAXHN4H2EKF53KBSQAWEGHXMO4SUNRFLJUJWSRXUQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/X4M7ZA2BWEHPIK4WZNUHLFVHOFK6RGFKXSZEAPJD4KDN4BQTM24Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L3LPM66RWOJXPIDXN725RKLNU6GZ4NJOHLDMQUFBUHY43ROFLF6A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/X6YAC44A3JMWPDKOGNB5ZISNF2C52HQQ6YD2LXJMECKF6NCLGRJQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AGMVQ5PAY4I2BMXVUUHBYIAU27SBOUTQ3W7VPKEEP4CT7NQ5GXJA/main.js"
        ]
    },
    "operations": {
        "CreateEnvironment": {
            "http": {
                "method": "PUT",
                "requestUri": "/environments/{Name}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "DagS3Path",
                    "ExecutionRoleArn",
                    "Name",
                    "NetworkConfiguration",
                    "SourceBucketArn"
                ],
                "members": {
                    "AirflowConfigurationOptions": {
                        "shape": "S2"
                    },
                    "AirflowVersion": {},
                    "DagS3Path": {},
                    "EnvironmentClass": {},
                    "ExecutionRoleArn": {},
                    "KmsKey": {},
                    "LoggingConfiguration": {
                        "shape": "Sa"
                    },
                    "MaxWorkers": {
                        "type": "integer"
                    },
                    "MinWorkers": {
                        "type": "integer"
                    },
                    "Name": {
                        "location": "uri",
                        "locationName": "Name"
                    },
                    "NetworkConfiguration": {
                        "shape": "Sh"
                    },
                    "PluginsS3ObjectVersion": {},
                    "PluginsS3Path": {},
                    "RequirementsS3ObjectVersion": {},
                    "RequirementsS3Path": {},
                    "Schedulers": {
                        "type": "integer"
                    },
                    "SourceBucketArn": {},
                    "StartupScriptS3ObjectVersion": {},
                    "StartupScriptS3Path": {},
                    "Tags": {
                        "shape": "Sp"
                    },
                    "WebserverAccessMode": {},
                    "WeeklyMaintenanceWindowStart": {},
                    "CustomerManagedEndpoints": {
                        "type": "boolean"
                    },
                    "EndpointManagement": {},
                    "MaxWebservers": {
                        "type": "integer"
                    },
                    "MinWebservers": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Arn": {}
                }
            },
            "endpoint": {
                "hostPrefix": "api."
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7C6IHHJWNHYMISG3W6SZODUQJIDCJFDOMWYEKYY6FX37J2MT2U2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EV3OGPAMHCQBX4ACEDRCKLZP4UYRGQBQYR7DXDKMECV4QM3YGWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDQL4USW46ZUIHDSLAOGSFBGJQQACANCMCF7XWVSQONA4VLBY43A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2CGMUSY4KZ44BCMC6O64G2XIMK4RP4J4PTJ3BRMKT5BB6ST7STA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKDKVGK7U7UCPXXY5DRFFPWL2B6RAK3AN7STCXDD4LPQLXU5Q6CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQ6WPJUJRVPYH72TD3TVVCTRFRQAVJHPA2463E2KRO7UULHA33LQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHA2ZGYBBZWCCYQM7W65URADF2ATUBK6ZMTLPITNKU2OFZK2GDUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVXDJL3IAQD6XD2F4HKOZ3SFGNN7L5BQCTHUXOEELHEGCXUAE5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HATBYM7MSIEREQZMQHGM7W6YRKEPSBLN2PKZBV4RZSPKRIY2LNDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66H7PKWOUCPL2FVUALYHMR2XUBSEWZG3G7IK6KZ5JV6WAGIHY3WQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBRMMYMARRMEQSP5VZLG7MGJYIEWANOP3DWFPOD5DW2CEFR4HDZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76MHHDPC4G5PVBSPKZ6TSSFRB5VK3QOMD3LREZE6XV6ZHPNDWMWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZD2ICYO5CCZLP4GTAJS5IEGRG6FU6RTFLZGZBPW2MDMATDEZOWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6ELX7MWY4BTUG5WIC32DDKHL4L42QG52BY5FXEH2MYD3SRCQ6IQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YOOCFYDTYROVZWCRAAVCOU6WTIHZKRFOH6MHM7PEHUDPUDO4XWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCMS625LD6T74TQQ7L5H6TAFBXGLNCPIY42W6DF2NB22LVD4B3ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSLDCUQLVZSS7KAX23I4LFWKYPMDGL57S4TC63IDWVIOCZ4D672A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L5XOLENEYXUPSC4TKDPJKQ2FHZ2667CEXPTAFGO7P2OSFQAMPUEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNAMUFVAYKK5APPLWUNCLHQH4YQKVCPL5PGSUGTM6FCA5XUC4WSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TA72GBT46XBHAXHN4H2EKF53KBSQAWEGHXMO4SUNRFLJUJWSRXUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4M7ZA2BWEHPIK4WZNUHLFVHOFK6RGFKXSZEAPJD4KDN4BQTM24Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3LPM66RWOJXPIDXN725RKLNU6GZ4NJOHLDMQUFBUHY43ROFLF6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6YAC44A3JMWPDKOGNB5ZISNF2C52HQQ6YD2LXJMECKF6NCLGRJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGMVQ5PAY4I2BMXVUUHBYIAU27SBOUTQ3W7VPKEEP4CT7NQ5GXJA/main.js"
            ]
        },
        "DeleteEnvironment": {
            "http": {
                "method": "DELETE",
                "requestUri": "/environments/{Name}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {
                        "location": "uri",
                        "locationName": "Name"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "endpoint": {
                "hostPrefix": "api."
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7C6IHHJWNHYMISG3W6SZODUQJIDCJFDOMWYEKYY6FX37J2MT2U2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EV3OGPAMHCQBX4ACEDRCKLZP4UYRGQBQYR7DXDKMECV4QM3YGWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDQL4USW46ZUIHDSLAOGSFBGJQQACANCMCF7XWVSQONA4VLBY43A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2CGMUSY4KZ44BCMC6O64G2XIMK4RP4J4PTJ3BRMKT5BB6ST7STA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKDKVGK7U7UCPXXY5DRFFPWL2B6RAK3AN7STCXDD4LPQLXU5Q6CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQ6WPJUJRVPYH72TD3TVVCTRFRQAVJHPA2463E2KRO7UULHA33LQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHA2ZGYBBZWCCYQM7W65URADF2ATUBK6ZMTLPITNKU2OFZK2GDUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVXDJL3IAQD6XD2F4HKOZ3SFGNN7L5BQCTHUXOEELHEGCXUAE5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HATBYM7MSIEREQZMQHGM7W6YRKEPSBLN2PKZBV4RZSPKRIY2LNDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66H7PKWOUCPL2FVUALYHMR2XUBSEWZG3G7IK6KZ5JV6WAGIHY3WQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBRMMYMARRMEQSP5VZLG7MGJYIEWANOP3DWFPOD5DW2CEFR4HDZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76MHHDPC4G5PVBSPKZ6TSSFRB5VK3QOMD3LREZE6XV6ZHPNDWMWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZD2ICYO5CCZLP4GTAJS5IEGRG6FU6RTFLZGZBPW2MDMATDEZOWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6ELX7MWY4BTUG5WIC32DDKHL4L42QG52BY5FXEH2MYD3SRCQ6IQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YOOCFYDTYROVZWCRAAVCOU6WTIHZKRFOH6MHM7PEHUDPUDO4XWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCMS625LD6T74TQQ7L5H6TAFBXGLNCPIY42W6DF2NB22LVD4B3ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSLDCUQLVZSS7KAX23I4LFWKYPMDGL57S4TC63IDWVIOCZ4D672A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L5XOLENEYXUPSC4TKDPJKQ2FHZ2667CEXPTAFGO7P2OSFQAMPUEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNAMUFVAYKK5APPLWUNCLHQH4YQKVCPL5PGSUGTM6FCA5XUC4WSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TA72GBT46XBHAXHN4H2EKF53KBSQAWEGHXMO4SUNRFLJUJWSRXUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4M7ZA2BWEHPIK4WZNUHLFVHOFK6RGFKXSZEAPJD4KDN4BQTM24Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3LPM66RWOJXPIDXN725RKLNU6GZ4NJOHLDMQUFBUHY43ROFLF6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6YAC44A3JMWPDKOGNB5ZISNF2C52HQQ6YD2LXJMECKF6NCLGRJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGMVQ5PAY4I2BMXVUUHBYIAU27SBOUTQ3W7VPKEEP4CT7NQ5GXJA/main.js"
            ]
        },
        "GetEnvironment": {
            "http": {
                "method": "GET",
                "requestUri": "/environments/{Name}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {
                        "location": "uri",
                        "locationName": "Name"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Environment": {
                        "type": "structure",
                        "members": {
                            "AirflowConfigurationOptions": {
                                "shape": "S2"
                            },
                            "AirflowVersion": {},
                            "Arn": {},
                            "CreatedAt": {
                                "type": "timestamp"
                            },
                            "DagS3Path": {},
                            "EnvironmentClass": {},
                            "ExecutionRoleArn": {},
                            "KmsKey": {},
                            "LastUpdate": {
                                "type": "structure",
                                "members": {
                                    "CreatedAt": {
                                        "type": "timestamp"
                                    },
                                    "Error": {
                                        "type": "structure",
                                        "members": {
                                            "ErrorCode": {},
                                            "ErrorMessage": {}
                                        }
                                    },
                                    "Source": {},
                                    "Status": {}
                                }
                            },
                            "LoggingConfiguration": {
                                "type": "structure",
                                "members": {
                                    "DagProcessingLogs": {
                                        "shape": "S1a"
                                    },
                                    "SchedulerLogs": {
                                        "shape": "S1a"
                                    },
                                    "TaskLogs": {
                                        "shape": "S1a"
                                    },
                                    "WebserverLogs": {
                                        "shape": "S1a"
                                    },
                                    "WorkerLogs": {
                                        "shape": "S1a"
                                    }
                                }
                            },
                            "MaxWorkers": {
                                "type": "integer"
                            },
                            "MinWorkers": {
                                "type": "integer"
                            },
                            "Name": {},
                            "NetworkConfiguration": {
                                "shape": "Sh"
                            },
                            "PluginsS3ObjectVersion": {},
                            "PluginsS3Path": {},
                            "RequirementsS3ObjectVersion": {},
                            "RequirementsS3Path": {},
                            "Schedulers": {
                                "type": "integer"
                            },
                            "ServiceRoleArn": {},
                            "SourceBucketArn": {},
                            "StartupScriptS3ObjectVersion": {},
                            "StartupScriptS3Path": {},
                            "Status": {},
                            "Tags": {
                                "shape": "Sp"
                            },
                            "WebserverAccessMode": {},
                            "WebserverUrl": {},
                            "WeeklyMaintenanceWindowStart": {}
                        }
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "api."
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7C6IHHJWNHYMISG3W6SZODUQJIDCJFDOMWYEKYY6FX37J2MT2U2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EV3OGPAMHCQBX4ACEDRCKLZP4UYRGQBQYR7DXDKMECV4QM3YGWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDQL4USW46ZUIHDSLAOGSFBGJQQACANCMCF7XWVSQONA4VLBY43A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2CGMUSY4KZ44BCMC6O64G2XIMK4RP4J4PTJ3BRMKT5BB6ST7STA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKDKVGK7U7UCPXXY5DRFFPWL2B6RAK3AN7STCXDD4LPQLXU5Q6CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQ6WPJUJRVPYH72TD3TVVCTRFRQAVJHPA2463E2KRO7UULHA33LQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHA2ZGYBBZWCCYQM7W65URADF2ATUBK6ZMTLPITNKU2OFZK2GDUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVXDJL3IAQD6XD2F4HKOZ3SFGNN7L5BQCTHUXOEELHEGCXUAE5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HATBYM7MSIEREQZMQHGM7W6YRKEPSBLN2PKZBV4RZSPKRIY2LNDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66H7PKWOUCPL2FVUALYHMR2XUBSEWZG3G7IK6KZ5JV6WAGIHY3WQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBRMMYMARRMEQSP5VZLG7MGJYIEWANOP3DWFPOD5DW2CEFR4HDZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76MHHDPC4G5PVBSPKZ6TSSFRB5VK3QOMD3LREZE6XV6ZHPNDWMWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZD2ICYO5CCZLP4GTAJS5IEGRG6FU6RTFLZGZBPW2MDMATDEZOWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6ELX7MWY4BTUG5WIC32DDKHL4L42QG52BY5FXEH2MYD3SRCQ6IQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YOOCFYDTYROVZWCRAAVCOU6WTIHZKRFOH6MHM7PEHUDPUDO4XWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCMS625LD6T74TQQ7L5H6TAFBXGLNCPIY42W6DF2NB22LVD4B3ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSLDCUQLVZSS7KAX23I4LFWKYPMDGL57S4TC63IDWVIOCZ4D672A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L5XOLENEYXUPSC4TKDPJKQ2FHZ2667CEXPTAFGO7P2OSFQAMPUEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNAMUFVAYKK5APPLWUNCLHQH4YQKVCPL5PGSUGTM6FCA5XUC4WSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TA72GBT46XBHAXHN4H2EKF53KBSQAWEGHXMO4SUNRFLJUJWSRXUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4M7ZA2BWEHPIK4WZNUHLFVHOFK6RGFKXSZEAPJD4KDN4BQTM24Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3LPM66RWOJXPIDXN725RKLNU6GZ4NJOHLDMQUFBUHY43ROFLF6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6YAC44A3JMWPDKOGNB5ZISNF2C52HQQ6YD2LXJMECKF6NCLGRJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGMVQ5PAY4I2BMXVUUHBYIAU27SBOUTQ3W7VPKEEP4CT7NQ5GXJA/main.js"
            ]
        },
        "ListEnvironments": {
            "http": {
                "method": "GET",
                "requestUri": "/environments",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "MaxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "NextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Environments"
                ],
                "members": {
                    "Environments": {
                        "type": "list",
                        "member": {}
                    },
                    "NextToken": {}
                }
            },
            "endpoint": {
                "hostPrefix": "api."
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7C6IHHJWNHYMISG3W6SZODUQJIDCJFDOMWYEKYY6FX37J2MT2U2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EV3OGPAMHCQBX4ACEDRCKLZP4UYRGQBQYR7DXDKMECV4QM3YGWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDQL4USW46ZUIHDSLAOGSFBGJQQACANCMCF7XWVSQONA4VLBY43A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2CGMUSY4KZ44BCMC6O64G2XIMK4RP4J4PTJ3BRMKT5BB6ST7STA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKDKVGK7U7UCPXXY5DRFFPWL2B6RAK3AN7STCXDD4LPQLXU5Q6CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQ6WPJUJRVPYH72TD3TVVCTRFRQAVJHPA2463E2KRO7UULHA33LQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHA2ZGYBBZWCCYQM7W65URADF2ATUBK6ZMTLPITNKU2OFZK2GDUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVXDJL3IAQD6XD2F4HKOZ3SFGNN7L5BQCTHUXOEELHEGCXUAE5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HATBYM7MSIEREQZMQHGM7W6YRKEPSBLN2PKZBV4RZSPKRIY2LNDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66H7PKWOUCPL2FVUALYHMR2XUBSEWZG3G7IK6KZ5JV6WAGIHY3WQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBRMMYMARRMEQSP5VZLG7MGJYIEWANOP3DWFPOD5DW2CEFR4HDZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76MHHDPC4G5PVBSPKZ6TSSFRB5VK3QOMD3LREZE6XV6ZHPNDWMWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZD2ICYO5CCZLP4GTAJS5IEGRG6FU6RTFLZGZBPW2MDMATDEZOWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6ELX7MWY4BTUG5WIC32DDKHL4L42QG52BY5FXEH2MYD3SRCQ6IQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YOOCFYDTYROVZWCRAAVCOU6WTIHZKRFOH6MHM7PEHUDPUDO4XWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCMS625LD6T74TQQ7L5H6TAFBXGLNCPIY42W6DF2NB22LVD4B3ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSLDCUQLVZSS7KAX23I4LFWKYPMDGL57S4TC63IDWVIOCZ4D672A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L5XOLENEYXUPSC4TKDPJKQ2FHZ2667CEXPTAFGO7P2OSFQAMPUEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNAMUFVAYKK5APPLWUNCLHQH4YQKVCPL5PGSUGTM6FCA5XUC4WSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TA72GBT46XBHAXHN4H2EKF53KBSQAWEGHXMO4SUNRFLJUJWSRXUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4M7ZA2BWEHPIK4WZNUHLFVHOFK6RGFKXSZEAPJD4KDN4BQTM24Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3LPM66RWOJXPIDXN725RKLNU6GZ4NJOHLDMQUFBUHY43ROFLF6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6YAC44A3JMWPDKOGNB5ZISNF2C52HQQ6YD2LXJMECKF6NCLGRJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGMVQ5PAY4I2BMXVUUHBYIAU27SBOUTQ3W7VPKEEP4CT7NQ5GXJA/main.js"
            ]
        },
        "ListTagsForResource": {
            "http": {
                "method": "GET",
                "requestUri": "/tags/{ResourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn"
                ],
                "members": {
                    "ResourceArn": {
                        "location": "uri",
                        "locationName": "ResourceArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Tags": {
                        "shape": "Sp"
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "api."
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7C6IHHJWNHYMISG3W6SZODUQJIDCJFDOMWYEKYY6FX37J2MT2U2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EV3OGPAMHCQBX4ACEDRCKLZP4UYRGQBQYR7DXDKMECV4QM3YGWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDQL4USW46ZUIHDSLAOGSFBGJQQACANCMCF7XWVSQONA4VLBY43A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2CGMUSY4KZ44BCMC6O64G2XIMK4RP4J4PTJ3BRMKT5BB6ST7STA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKDKVGK7U7UCPXXY5DRFFPWL2B6RAK3AN7STCXDD4LPQLXU5Q6CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQ6WPJUJRVPYH72TD3TVVCTRFRQAVJHPA2463E2KRO7UULHA33LQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHA2ZGYBBZWCCYQM7W65URADF2ATUBK6ZMTLPITNKU2OFZK2GDUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVXDJL3IAQD6XD2F4HKOZ3SFGNN7L5BQCTHUXOEELHEGCXUAE5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HATBYM7MSIEREQZMQHGM7W6YRKEPSBLN2PKZBV4RZSPKRIY2LNDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66H7PKWOUCPL2FVUALYHMR2XUBSEWZG3G7IK6KZ5JV6WAGIHY3WQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBRMMYMARRMEQSP5VZLG7MGJYIEWANOP3DWFPOD5DW2CEFR4HDZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76MHHDPC4G5PVBSPKZ6TSSFRB5VK3QOMD3LREZE6XV6ZHPNDWMWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZD2ICYO5CCZLP4GTAJS5IEGRG6FU6RTFLZGZBPW2MDMATDEZOWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6ELX7MWY4BTUG5WIC32DDKHL4L42QG52BY5FXEH2MYD3SRCQ6IQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YOOCFYDTYROVZWCRAAVCOU6WTIHZKRFOH6MHM7PEHUDPUDO4XWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCMS625LD6T74TQQ7L5H6TAFBXGLNCPIY42W6DF2NB22LVD4B3ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSLDCUQLVZSS7KAX23I4LFWKYPMDGL57S4TC63IDWVIOCZ4D672A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L5XOLENEYXUPSC4TKDPJKQ2FHZ2667CEXPTAFGO7P2OSFQAMPUEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNAMUFVAYKK5APPLWUNCLHQH4YQKVCPL5PGSUGTM6FCA5XUC4WSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TA72GBT46XBHAXHN4H2EKF53KBSQAWEGHXMO4SUNRFLJUJWSRXUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4M7ZA2BWEHPIK4WZNUHLFVHOFK6RGFKXSZEAPJD4KDN4BQTM24Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3LPM66RWOJXPIDXN725RKLNU6GZ4NJOHLDMQUFBUHY43ROFLF6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6YAC44A3JMWPDKOGNB5ZISNF2C52HQQ6YD2LXJMECKF6NCLGRJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGMVQ5PAY4I2BMXVUUHBYIAU27SBOUTQ3W7VPKEEP4CT7NQ5GXJA/main.js"
            ]
        },
        "TagResource": {
            "http": {
                "requestUri": "/tags/{ResourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn",
                    "Tags"
                ],
                "members": {
                    "ResourceArn": {
                        "location": "uri",
                        "locationName": "ResourceArn"
                    },
                    "Tags": {
                        "shape": "Sp"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "endpoint": {
                "hostPrefix": "api."
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7C6IHHJWNHYMISG3W6SZODUQJIDCJFDOMWYEKYY6FX37J2MT2U2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EV3OGPAMHCQBX4ACEDRCKLZP4UYRGQBQYR7DXDKMECV4QM3YGWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDQL4USW46ZUIHDSLAOGSFBGJQQACANCMCF7XWVSQONA4VLBY43A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2CGMUSY4KZ44BCMC6O64G2XIMK4RP4J4PTJ3BRMKT5BB6ST7STA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKDKVGK7U7UCPXXY5DRFFPWL2B6RAK3AN7STCXDD4LPQLXU5Q6CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQ6WPJUJRVPYH72TD3TVVCTRFRQAVJHPA2463E2KRO7UULHA33LQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHA2ZGYBBZWCCYQM7W65URADF2ATUBK6ZMTLPITNKU2OFZK2GDUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVXDJL3IAQD6XD2F4HKOZ3SFGNN7L5BQCTHUXOEELHEGCXUAE5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HATBYM7MSIEREQZMQHGM7W6YRKEPSBLN2PKZBV4RZSPKRIY2LNDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66H7PKWOUCPL2FVUALYHMR2XUBSEWZG3G7IK6KZ5JV6WAGIHY3WQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBRMMYMARRMEQSP5VZLG7MGJYIEWANOP3DWFPOD5DW2CEFR4HDZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76MHHDPC4G5PVBSPKZ6TSSFRB5VK3QOMD3LREZE6XV6ZHPNDWMWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZD2ICYO5CCZLP4GTAJS5IEGRG6FU6RTFLZGZBPW2MDMATDEZOWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6ELX7MWY4BTUG5WIC32DDKHL4L42QG52BY5FXEH2MYD3SRCQ6IQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YOOCFYDTYROVZWCRAAVCOU6WTIHZKRFOH6MHM7PEHUDPUDO4XWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCMS625LD6T74TQQ7L5H6TAFBXGLNCPIY42W6DF2NB22LVD4B3ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSLDCUQLVZSS7KAX23I4LFWKYPMDGL57S4TC63IDWVIOCZ4D672A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L5XOLENEYXUPSC4TKDPJKQ2FHZ2667CEXPTAFGO7P2OSFQAMPUEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNAMUFVAYKK5APPLWUNCLHQH4YQKVCPL5PGSUGTM6FCA5XUC4WSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TA72GBT46XBHAXHN4H2EKF53KBSQAWEGHXMO4SUNRFLJUJWSRXUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4M7ZA2BWEHPIK4WZNUHLFVHOFK6RGFKXSZEAPJD4KDN4BQTM24Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3LPM66RWOJXPIDXN725RKLNU6GZ4NJOHLDMQUFBUHY43ROFLF6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6YAC44A3JMWPDKOGNB5ZISNF2C52HQQ6YD2LXJMECKF6NCLGRJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGMVQ5PAY4I2BMXVUUHBYIAU27SBOUTQ3W7VPKEEP4CT7NQ5GXJA/main.js"
            ]
        },
        "UntagResource": {
            "http": {
                "method": "DELETE",
                "requestUri": "/tags/{ResourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn",
                    "tagKeys"
                ],
                "members": {
                    "ResourceArn": {
                        "location": "uri",
                        "locationName": "ResourceArn"
                    },
                    "tagKeys": {
                        "location": "querystring",
                        "locationName": "tagKeys",
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "endpoint": {
                "hostPrefix": "api."
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7C6IHHJWNHYMISG3W6SZODUQJIDCJFDOMWYEKYY6FX37J2MT2U2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EV3OGPAMHCQBX4ACEDRCKLZP4UYRGQBQYR7DXDKMECV4QM3YGWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDQL4USW46ZUIHDSLAOGSFBGJQQACANCMCF7XWVSQONA4VLBY43A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2CGMUSY4KZ44BCMC6O64G2XIMK4RP4J4PTJ3BRMKT5BB6ST7STA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKDKVGK7U7UCPXXY5DRFFPWL2B6RAK3AN7STCXDD4LPQLXU5Q6CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQ6WPJUJRVPYH72TD3TVVCTRFRQAVJHPA2463E2KRO7UULHA33LQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHA2ZGYBBZWCCYQM7W65URADF2ATUBK6ZMTLPITNKU2OFZK2GDUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVXDJL3IAQD6XD2F4HKOZ3SFGNN7L5BQCTHUXOEELHEGCXUAE5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HATBYM7MSIEREQZMQHGM7W6YRKEPSBLN2PKZBV4RZSPKRIY2LNDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66H7PKWOUCPL2FVUALYHMR2XUBSEWZG3G7IK6KZ5JV6WAGIHY3WQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBRMMYMARRMEQSP5VZLG7MGJYIEWANOP3DWFPOD5DW2CEFR4HDZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76MHHDPC4G5PVBSPKZ6TSSFRB5VK3QOMD3LREZE6XV6ZHPNDWMWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZD2ICYO5CCZLP4GTAJS5IEGRG6FU6RTFLZGZBPW2MDMATDEZOWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6ELX7MWY4BTUG5WIC32DDKHL4L42QG52BY5FXEH2MYD3SRCQ6IQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YOOCFYDTYROVZWCRAAVCOU6WTIHZKRFOH6MHM7PEHUDPUDO4XWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCMS625LD6T74TQQ7L5H6TAFBXGLNCPIY42W6DF2NB22LVD4B3ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSLDCUQLVZSS7KAX23I4LFWKYPMDGL57S4TC63IDWVIOCZ4D672A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L5XOLENEYXUPSC4TKDPJKQ2FHZ2667CEXPTAFGO7P2OSFQAMPUEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNAMUFVAYKK5APPLWUNCLHQH4YQKVCPL5PGSUGTM6FCA5XUC4WSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TA72GBT46XBHAXHN4H2EKF53KBSQAWEGHXMO4SUNRFLJUJWSRXUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4M7ZA2BWEHPIK4WZNUHLFVHOFK6RGFKXSZEAPJD4KDN4BQTM24Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3LPM66RWOJXPIDXN725RKLNU6GZ4NJOHLDMQUFBUHY43ROFLF6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6YAC44A3JMWPDKOGNB5ZISNF2C52HQQ6YD2LXJMECKF6NCLGRJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGMVQ5PAY4I2BMXVUUHBYIAU27SBOUTQ3W7VPKEEP4CT7NQ5GXJA/main.js"
            ]
        },
        "UpdateEnvironment": {
            "http": {
                "method": "PATCH",
                "requestUri": "/environments/{Name}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "AirflowConfigurationOptions": {
                        "shape": "S2"
                    },
                    "AirflowVersion": {},
                    "DagS3Path": {},
                    "EnvironmentClass": {},
                    "ExecutionRoleArn": {},
                    "LoggingConfiguration": {
                        "shape": "Sa"
                    },
                    "MaxWorkers": {
                        "type": "integer"
                    },
                    "MinWorkers": {
                        "type": "integer"
                    },
                    "Name": {
                        "location": "uri",
                        "locationName": "Name"
                    },
                    "NetworkConfiguration": {
                        "type": "structure",
                        "required": [
                            "SecurityGroupIds"
                        ],
                        "members": {
                            "SecurityGroupIds": {
                                "shape": "Si"
                            }
                        }
                    },
                    "PluginsS3ObjectVersion": {},
                    "PluginsS3Path": {},
                    "RequirementsS3ObjectVersion": {},
                    "RequirementsS3Path": {},
                    "Schedulers": {
                        "type": "integer"
                    },
                    "SourceBucketArn": {},
                    "StartupScriptS3ObjectVersion": {},
                    "StartupScriptS3Path": {},
                    "WebserverAccessMode": {},
                    "WeeklyMaintenanceWindowStart": {},
                    "MaxWebservers": {
                        "type": "integer"
                    },
                    "MinWebservers": {
                        "type": "integer"
                    },
                    "NonDisruptive": {
                        "type": "boolean"
                    },
                    "WorkerReplacementStrategy": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Arn": {}
                }
            },
            "endpoint": {
                "hostPrefix": "api."
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7C6IHHJWNHYMISG3W6SZODUQJIDCJFDOMWYEKYY6FX37J2MT2U2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EV3OGPAMHCQBX4ACEDRCKLZP4UYRGQBQYR7DXDKMECV4QM3YGWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDQL4USW46ZUIHDSLAOGSFBGJQQACANCMCF7XWVSQONA4VLBY43A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2CGMUSY4KZ44BCMC6O64G2XIMK4RP4J4PTJ3BRMKT5BB6ST7STA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKDKVGK7U7UCPXXY5DRFFPWL2B6RAK3AN7STCXDD4LPQLXU5Q6CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQ6WPJUJRVPYH72TD3TVVCTRFRQAVJHPA2463E2KRO7UULHA33LQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHA2ZGYBBZWCCYQM7W65URADF2ATUBK6ZMTLPITNKU2OFZK2GDUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVXDJL3IAQD6XD2F4HKOZ3SFGNN7L5BQCTHUXOEELHEGCXUAE5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HATBYM7MSIEREQZMQHGM7W6YRKEPSBLN2PKZBV4RZSPKRIY2LNDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66H7PKWOUCPL2FVUALYHMR2XUBSEWZG3G7IK6KZ5JV6WAGIHY3WQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBRMMYMARRMEQSP5VZLG7MGJYIEWANOP3DWFPOD5DW2CEFR4HDZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76MHHDPC4G5PVBSPKZ6TSSFRB5VK3QOMD3LREZE6XV6ZHPNDWMWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZD2ICYO5CCZLP4GTAJS5IEGRG6FU6RTFLZGZBPW2MDMATDEZOWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6ELX7MWY4BTUG5WIC32DDKHL4L42QG52BY5FXEH2MYD3SRCQ6IQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YOOCFYDTYROVZWCRAAVCOU6WTIHZKRFOH6MHM7PEHUDPUDO4XWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCMS625LD6T74TQQ7L5H6TAFBXGLNCPIY42W6DF2NB22LVD4B3ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSLDCUQLVZSS7KAX23I4LFWKYPMDGL57S4TC63IDWVIOCZ4D672A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L5XOLENEYXUPSC4TKDPJKQ2FHZ2667CEXPTAFGO7P2OSFQAMPUEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNAMUFVAYKK5APPLWUNCLHQH4YQKVCPL5PGSUGTM6FCA5XUC4WSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TA72GBT46XBHAXHN4H2EKF53KBSQAWEGHXMO4SUNRFLJUJWSRXUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4M7ZA2BWEHPIK4WZNUHLFVHOFK6RGFKXSZEAPJD4KDN4BQTM24Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3LPM66RWOJXPIDXN725RKLNU6GZ4NJOHLDMQUFBUHY43ROFLF6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6YAC44A3JMWPDKOGNB5ZISNF2C52HQQ6YD2LXJMECKF6NCLGRJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGMVQ5PAY4I2BMXVUUHBYIAU27SBOUTQ3W7VPKEEP4CT7NQ5GXJA/main.js"
            ]
        }
    },
    "shapes": {
        "S2": {
            "type": "map",
            "key": {},
            "value": {
                "type": "string",
                "sensitive": true
            },
            "sensitive": true
        },
        "Sa": {
            "type": "structure",
            "members": {
                "DagProcessingLogs": {
                    "shape": "Sb"
                },
                "SchedulerLogs": {
                    "shape": "Sb"
                },
                "TaskLogs": {
                    "shape": "Sb"
                },
                "WebserverLogs": {
                    "shape": "Sb"
                },
                "WorkerLogs": {
                    "shape": "Sb"
                }
            }
        },
        "Sb": {
            "type": "structure",
            "required": [
                "Enabled",
                "LogLevel"
            ],
            "members": {
                "Enabled": {
                    "type": "boolean"
                },
                "LogLevel": {}
            }
        },
        "Sh": {
            "type": "structure",
            "members": {
                "SecurityGroupIds": {
                    "shape": "Si"
                },
                "SubnetIds": {
                    "type": "list",
                    "member": {}
                }
            }
        },
        "Si": {
            "type": "list",
            "member": {}
        },
        "Sp": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "S1a": {
            "type": "structure",
            "members": {
                "CloudWatchLogGroupArn": {},
                "Enabled": {
                    "type": "boolean"
                },
                "LogLevel": {}
            }
        },
        "Sc": {
            "type": "structure",
            "required": [
                "Enabled",
                "LogLevel"
            ],
            "members": {
                "Enabled": {
                    "type": "boolean"
                },
                "LogLevel": {}
            }
        },
        "Sj": {
            "type": "list",
            "member": {}
        },
        "Sq": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "S1e": {
            "type": "structure",
            "members": {
                "CloudWatchLogGroupArn": {},
                "Enabled": {
                    "type": "boolean"
                },
                "LogLevel": {}
            }
        },
        "S1d": {
            "type": "structure",
            "members": {
                "CloudWatchLogGroupArn": {},
                "Enabled": {
                    "type": "boolean"
                },
                "LogLevel": {}
            }
        },
        "S1c": {
            "type": "structure",
            "members": {
                "CloudWatchLogGroupArn": {},
                "Enabled": {
                    "type": "boolean"
                },
                "LogLevel": {}
            }
        },
        "Sk": {
            "type": "structure",
            "members": {
                "SecurityGroupIds": {
                    "shape": "Sl"
                },
                "SubnetIds": {
                    "type": "list",
                    "member": {}
                }
            }
        },
        "Sl": {
            "type": "list",
            "member": {}
        },
        "Ss": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "S1f": {
            "type": "structure",
            "members": {
                "CloudWatchLogGroupArn": {},
                "Enabled": {
                    "type": "boolean"
                },
                "LogLevel": {}
            }
        },
        "S6": {
            "type": "structure",
            "members": {
                "SubnetIds": {
                    "type": "list",
                    "member": {}
                },
                "SecurityGroupIds": {
                    "shape": "S9"
                }
            }
        },
        "S9": {
            "type": "list",
            "member": {}
        },
        "So": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "S19": {
            "type": "structure",
            "members": {
                "Enabled": {
                    "type": "boolean"
                },
                "LogLevel": {},
                "CloudWatchLogGroupArn": {}
            }
        }
    }
}