{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2020-03-20",
        "endpointPrefix": "airflow",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "AmazonMWAA Control Plane",
        "serviceId": "MWAAControlPlane",
        "signatureVersion": "v4",
        "signingName": "airflow",
        "uid": "mwaacontrolplane-2020-03-20",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/JIXQSQ7H2723JNTH6HLXPAK343U6HPIS2MVCAAO64MHS5OHNPUOA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WLQS73BLLG62XDT4KFUMERKPCMR7LG3B2LIDIETN64JKV5PY77YA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WWFT2XSALHAWCOG4ZEBT2FZ3JRBHZOD47WQ26UZY62HZYS3DCSBQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2COYQM7MJB637ARNWT6GHFY4X4CNOA7PD6N35IX2SOKRF4VGK43Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RTL25KDAO43PYBHTTO4KKXSVI3DU6T44KUHC5FOEWSJBQNSA6D2A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HDW6NAGJ4E2WH7N4NDQ4CQFZ33W2VO5QGD3ELTSKN3HQ34KXF7GA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NZSWJWMU7XWTBWHGL254ECGZOT2GAHIUUPCP7FDL2XC3GIDF65KQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5OXUW3PEX7IIIRCAY3CX4TY3TM2QMVYFOIWIG2UER62DOCZXG2IQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H5IR3JI2KUOTBCHTCE4WPE5FEUPYZ77XDNQOHFTBNA5Q2MH76NCQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/C2RSL7YSFGRPVZPZYX6WS6GYS46ZDOSHG7J2JGEGFNG53FXXLFFQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GGWAKYLNEX4GHFTTUZTK4L75HQBYL735RGDPWXT46ZAZAWBVROFQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KZ5O7LOUZNFRCGIIELZBK7VN5HUR4RVAMM6MJLZUOKVKANYAXD2Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NHPHWW7J3D6GVSCN2BHMDTOP642QQKULMKLGF5OSMULSFAR6JPYQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IWETD5ULE4KHXWDXVHUQHJKOJOD6VECHUSCYAWDVZAVLN3LJGOJA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XBCVUCW73FDEFVPTKSERPEAB56TN6TK3TCI2WQZDWJF6B7BFDOSA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ATYYHJV46VKFC2HQLHY3JN2V66WOUEZMFYZMMEUI64CU6EL3DNHA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/I6SX6FWPIP5Z76DKA2EB3AIWBIXST6DXYMQSY5DODMLCIFETAOYQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EIWDSCJQ5WSMQDIZB65D26KFR6H6JVCL73FOQ5LUS5RVQTY4PV7Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HS6VR5LQIEWYVGOHGRR5O7R5SQKT7BKUOVYDTFYJ7PCQCL32BJFA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7FYED454ULPOMCD5EBY6VNYXTAH4GBQZW5MG47QKJMVCORMC3SCQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/N5VWREDVCH2LQUCHRL7GPC4G4O7LL4OQSF7FIZCP3IOHL5IU55HA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CE6SYV4RBL7R7KTKWHANSZZMZZQXP5SP3GOKXER6NZ76DEM6FZYA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VQS7WNPL7LVEZOMHT4QZUBKBKSPSQSC6ZRTYFQOAUJSK5O37ZKZA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VQXCPQTWJLXE7EEUWX2COKCM33X4BBDDITPZJZ5WD64U5BTRDCPA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CHKHI73H5MHJKCXDCCTBECSGFMQTRVQF5NTS3RLRFTXDBAVD5J3Q/main.js"
        ]
    },
    "operations": {
        "CreateEnvironment": {
            "http": {
                "method": "PUT",
                "requestUri": "/environments/{Name}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "DagS3Path",
                    "ExecutionRoleArn",
                    "Name",
                    "NetworkConfiguration",
                    "SourceBucketArn"
                ],
                "members": {
                    "AirflowConfigurationOptions": {
                        "shape": "S2"
                    },
                    "AirflowVersion": {},
                    "DagS3Path": {},
                    "EnvironmentClass": {},
                    "ExecutionRoleArn": {},
                    "KmsKey": {},
                    "LoggingConfiguration": {
                        "shape": "Sa"
                    },
                    "MaxWorkers": {
                        "type": "integer"
                    },
                    "MinWorkers": {
                        "type": "integer"
                    },
                    "Name": {
                        "location": "uri",
                        "locationName": "Name"
                    },
                    "NetworkConfiguration": {
                        "shape": "Sh"
                    },
                    "PluginsS3ObjectVersion": {},
                    "PluginsS3Path": {},
                    "RequirementsS3ObjectVersion": {},
                    "RequirementsS3Path": {},
                    "Schedulers": {
                        "type": "integer"
                    },
                    "SourceBucketArn": {},
                    "StartupScriptS3ObjectVersion": {},
                    "StartupScriptS3Path": {},
                    "Tags": {
                        "shape": "Sp"
                    },
                    "WebserverAccessMode": {},
                    "WeeklyMaintenanceWindowStart": {},
                    "CustomerManagedEndpoints": {
                        "type": "boolean"
                    },
                    "EndpointManagement": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Arn": {}
                }
            },
            "endpoint": {
                "hostPrefix": "api."
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLQS73BLLG62XDT4KFUMERKPCMR7LG3B2LIDIETN64JKV5PY77YA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWFT2XSALHAWCOG4ZEBT2FZ3JRBHZOD47WQ26UZY62HZYS3DCSBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COYQM7MJB637ARNWT6GHFY4X4CNOA7PD6N35IX2SOKRF4VGK43Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RTL25KDAO43PYBHTTO4KKXSVI3DU6T44KUHC5FOEWSJBQNSA6D2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDW6NAGJ4E2WH7N4NDQ4CQFZ33W2VO5QGD3ELTSKN3HQ34KXF7GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZSWJWMU7XWTBWHGL254ECGZOT2GAHIUUPCP7FDL2XC3GIDF65KQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5OXUW3PEX7IIIRCAY3CX4TY3TM2QMVYFOIWIG2UER62DOCZXG2IQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H5IR3JI2KUOTBCHTCE4WPE5FEUPYZ77XDNQOHFTBNA5Q2MH76NCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2RSL7YSFGRPVZPZYX6WS6GYS46ZDOSHG7J2JGEGFNG53FXXLFFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGWAKYLNEX4GHFTTUZTK4L75HQBYL735RGDPWXT46ZAZAWBVROFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZ5O7LOUZNFRCGIIELZBK7VN5HUR4RVAMM6MJLZUOKVKANYAXD2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NHPHWW7J3D6GVSCN2BHMDTOP642QQKULMKLGF5OSMULSFAR6JPYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWETD5ULE4KHXWDXVHUQHJKOJOD6VECHUSCYAWDVZAVLN3LJGOJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBCVUCW73FDEFVPTKSERPEAB56TN6TK3TCI2WQZDWJF6B7BFDOSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ATYYHJV46VKFC2HQLHY3JN2V66WOUEZMFYZMMEUI64CU6EL3DNHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6SX6FWPIP5Z76DKA2EB3AIWBIXST6DXYMQSY5DODMLCIFETAOYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EIWDSCJQ5WSMQDIZB65D26KFR6H6JVCL73FOQ5LUS5RVQTY4PV7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HS6VR5LQIEWYVGOHGRR5O7R5SQKT7BKUOVYDTFYJ7PCQCL32BJFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7FYED454ULPOMCD5EBY6VNYXTAH4GBQZW5MG47QKJMVCORMC3SCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5VWREDVCH2LQUCHRL7GPC4G4O7LL4OQSF7FIZCP3IOHL5IU55HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CE6SYV4RBL7R7KTKWHANSZZMZZQXP5SP3GOKXER6NZ76DEM6FZYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQS7WNPL7LVEZOMHT4QZUBKBKSPSQSC6ZRTYFQOAUJSK5O37ZKZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQXCPQTWJLXE7EEUWX2COKCM33X4BBDDITPZJZ5WD64U5BTRDCPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CHKHI73H5MHJKCXDCCTBECSGFMQTRVQF5NTS3RLRFTXDBAVD5J3Q/main.js"
            ]
        },
        "DeleteEnvironment": {
            "http": {
                "method": "DELETE",
                "requestUri": "/environments/{Name}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {
                        "location": "uri",
                        "locationName": "Name"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "endpoint": {
                "hostPrefix": "api."
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLQS73BLLG62XDT4KFUMERKPCMR7LG3B2LIDIETN64JKV5PY77YA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWFT2XSALHAWCOG4ZEBT2FZ3JRBHZOD47WQ26UZY62HZYS3DCSBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COYQM7MJB637ARNWT6GHFY4X4CNOA7PD6N35IX2SOKRF4VGK43Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RTL25KDAO43PYBHTTO4KKXSVI3DU6T44KUHC5FOEWSJBQNSA6D2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDW6NAGJ4E2WH7N4NDQ4CQFZ33W2VO5QGD3ELTSKN3HQ34KXF7GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZSWJWMU7XWTBWHGL254ECGZOT2GAHIUUPCP7FDL2XC3GIDF65KQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5OXUW3PEX7IIIRCAY3CX4TY3TM2QMVYFOIWIG2UER62DOCZXG2IQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H5IR3JI2KUOTBCHTCE4WPE5FEUPYZ77XDNQOHFTBNA5Q2MH76NCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2RSL7YSFGRPVZPZYX6WS6GYS46ZDOSHG7J2JGEGFNG53FXXLFFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGWAKYLNEX4GHFTTUZTK4L75HQBYL735RGDPWXT46ZAZAWBVROFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZ5O7LOUZNFRCGIIELZBK7VN5HUR4RVAMM6MJLZUOKVKANYAXD2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NHPHWW7J3D6GVSCN2BHMDTOP642QQKULMKLGF5OSMULSFAR6JPYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWETD5ULE4KHXWDXVHUQHJKOJOD6VECHUSCYAWDVZAVLN3LJGOJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBCVUCW73FDEFVPTKSERPEAB56TN6TK3TCI2WQZDWJF6B7BFDOSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ATYYHJV46VKFC2HQLHY3JN2V66WOUEZMFYZMMEUI64CU6EL3DNHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6SX6FWPIP5Z76DKA2EB3AIWBIXST6DXYMQSY5DODMLCIFETAOYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EIWDSCJQ5WSMQDIZB65D26KFR6H6JVCL73FOQ5LUS5RVQTY4PV7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HS6VR5LQIEWYVGOHGRR5O7R5SQKT7BKUOVYDTFYJ7PCQCL32BJFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7FYED454ULPOMCD5EBY6VNYXTAH4GBQZW5MG47QKJMVCORMC3SCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5VWREDVCH2LQUCHRL7GPC4G4O7LL4OQSF7FIZCP3IOHL5IU55HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CE6SYV4RBL7R7KTKWHANSZZMZZQXP5SP3GOKXER6NZ76DEM6FZYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQS7WNPL7LVEZOMHT4QZUBKBKSPSQSC6ZRTYFQOAUJSK5O37ZKZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQXCPQTWJLXE7EEUWX2COKCM33X4BBDDITPZJZ5WD64U5BTRDCPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CHKHI73H5MHJKCXDCCTBECSGFMQTRVQF5NTS3RLRFTXDBAVD5J3Q/main.js"
            ]
        },
        "GetEnvironment": {
            "http": {
                "method": "GET",
                "requestUri": "/environments/{Name}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {
                        "location": "uri",
                        "locationName": "Name"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Environment": {
                        "type": "structure",
                        "members": {
                            "AirflowConfigurationOptions": {
                                "shape": "S2"
                            },
                            "AirflowVersion": {},
                            "Arn": {},
                            "CreatedAt": {
                                "type": "timestamp"
                            },
                            "DagS3Path": {},
                            "EnvironmentClass": {},
                            "ExecutionRoleArn": {},
                            "KmsKey": {},
                            "LastUpdate": {
                                "type": "structure",
                                "members": {
                                    "CreatedAt": {
                                        "type": "timestamp"
                                    },
                                    "Error": {
                                        "type": "structure",
                                        "members": {
                                            "ErrorCode": {},
                                            "ErrorMessage": {}
                                        }
                                    },
                                    "Source": {},
                                    "Status": {}
                                }
                            },
                            "LoggingConfiguration": {
                                "type": "structure",
                                "members": {
                                    "DagProcessingLogs": {
                                        "shape": "S1a"
                                    },
                                    "SchedulerLogs": {
                                        "shape": "S1a"
                                    },
                                    "TaskLogs": {
                                        "shape": "S1a"
                                    },
                                    "WebserverLogs": {
                                        "shape": "S1a"
                                    },
                                    "WorkerLogs": {
                                        "shape": "S1a"
                                    }
                                }
                            },
                            "MaxWorkers": {
                                "type": "integer"
                            },
                            "MinWorkers": {
                                "type": "integer"
                            },
                            "Name": {},
                            "NetworkConfiguration": {
                                "shape": "Sh"
                            },
                            "PluginsS3ObjectVersion": {},
                            "PluginsS3Path": {},
                            "RequirementsS3ObjectVersion": {},
                            "RequirementsS3Path": {},
                            "Schedulers": {
                                "type": "integer"
                            },
                            "ServiceRoleArn": {},
                            "SourceBucketArn": {},
                            "StartupScriptS3ObjectVersion": {},
                            "StartupScriptS3Path": {},
                            "Status": {},
                            "Tags": {
                                "shape": "Sp"
                            },
                            "WebserverAccessMode": {},
                            "WebserverUrl": {},
                            "WeeklyMaintenanceWindowStart": {}
                        }
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "api."
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLQS73BLLG62XDT4KFUMERKPCMR7LG3B2LIDIETN64JKV5PY77YA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWFT2XSALHAWCOG4ZEBT2FZ3JRBHZOD47WQ26UZY62HZYS3DCSBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COYQM7MJB637ARNWT6GHFY4X4CNOA7PD6N35IX2SOKRF4VGK43Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RTL25KDAO43PYBHTTO4KKXSVI3DU6T44KUHC5FOEWSJBQNSA6D2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDW6NAGJ4E2WH7N4NDQ4CQFZ33W2VO5QGD3ELTSKN3HQ34KXF7GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZSWJWMU7XWTBWHGL254ECGZOT2GAHIUUPCP7FDL2XC3GIDF65KQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5OXUW3PEX7IIIRCAY3CX4TY3TM2QMVYFOIWIG2UER62DOCZXG2IQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H5IR3JI2KUOTBCHTCE4WPE5FEUPYZ77XDNQOHFTBNA5Q2MH76NCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2RSL7YSFGRPVZPZYX6WS6GYS46ZDOSHG7J2JGEGFNG53FXXLFFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGWAKYLNEX4GHFTTUZTK4L75HQBYL735RGDPWXT46ZAZAWBVROFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZ5O7LOUZNFRCGIIELZBK7VN5HUR4RVAMM6MJLZUOKVKANYAXD2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NHPHWW7J3D6GVSCN2BHMDTOP642QQKULMKLGF5OSMULSFAR6JPYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWETD5ULE4KHXWDXVHUQHJKOJOD6VECHUSCYAWDVZAVLN3LJGOJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBCVUCW73FDEFVPTKSERPEAB56TN6TK3TCI2WQZDWJF6B7BFDOSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ATYYHJV46VKFC2HQLHY3JN2V66WOUEZMFYZMMEUI64CU6EL3DNHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6SX6FWPIP5Z76DKA2EB3AIWBIXST6DXYMQSY5DODMLCIFETAOYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EIWDSCJQ5WSMQDIZB65D26KFR6H6JVCL73FOQ5LUS5RVQTY4PV7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HS6VR5LQIEWYVGOHGRR5O7R5SQKT7BKUOVYDTFYJ7PCQCL32BJFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7FYED454ULPOMCD5EBY6VNYXTAH4GBQZW5MG47QKJMVCORMC3SCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5VWREDVCH2LQUCHRL7GPC4G4O7LL4OQSF7FIZCP3IOHL5IU55HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CE6SYV4RBL7R7KTKWHANSZZMZZQXP5SP3GOKXER6NZ76DEM6FZYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQS7WNPL7LVEZOMHT4QZUBKBKSPSQSC6ZRTYFQOAUJSK5O37ZKZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQXCPQTWJLXE7EEUWX2COKCM33X4BBDDITPZJZ5WD64U5BTRDCPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CHKHI73H5MHJKCXDCCTBECSGFMQTRVQF5NTS3RLRFTXDBAVD5J3Q/main.js"
            ]
        },
        "ListEnvironments": {
            "http": {
                "method": "GET",
                "requestUri": "/environments",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "MaxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "NextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Environments"
                ],
                "members": {
                    "Environments": {
                        "type": "list",
                        "member": {}
                    },
                    "NextToken": {}
                }
            },
            "endpoint": {
                "hostPrefix": "api."
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLQS73BLLG62XDT4KFUMERKPCMR7LG3B2LIDIETN64JKV5PY77YA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWFT2XSALHAWCOG4ZEBT2FZ3JRBHZOD47WQ26UZY62HZYS3DCSBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COYQM7MJB637ARNWT6GHFY4X4CNOA7PD6N35IX2SOKRF4VGK43Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RTL25KDAO43PYBHTTO4KKXSVI3DU6T44KUHC5FOEWSJBQNSA6D2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDW6NAGJ4E2WH7N4NDQ4CQFZ33W2VO5QGD3ELTSKN3HQ34KXF7GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZSWJWMU7XWTBWHGL254ECGZOT2GAHIUUPCP7FDL2XC3GIDF65KQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5OXUW3PEX7IIIRCAY3CX4TY3TM2QMVYFOIWIG2UER62DOCZXG2IQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H5IR3JI2KUOTBCHTCE4WPE5FEUPYZ77XDNQOHFTBNA5Q2MH76NCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2RSL7YSFGRPVZPZYX6WS6GYS46ZDOSHG7J2JGEGFNG53FXXLFFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGWAKYLNEX4GHFTTUZTK4L75HQBYL735RGDPWXT46ZAZAWBVROFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZ5O7LOUZNFRCGIIELZBK7VN5HUR4RVAMM6MJLZUOKVKANYAXD2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NHPHWW7J3D6GVSCN2BHMDTOP642QQKULMKLGF5OSMULSFAR6JPYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWETD5ULE4KHXWDXVHUQHJKOJOD6VECHUSCYAWDVZAVLN3LJGOJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBCVUCW73FDEFVPTKSERPEAB56TN6TK3TCI2WQZDWJF6B7BFDOSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ATYYHJV46VKFC2HQLHY3JN2V66WOUEZMFYZMMEUI64CU6EL3DNHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6SX6FWPIP5Z76DKA2EB3AIWBIXST6DXYMQSY5DODMLCIFETAOYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EIWDSCJQ5WSMQDIZB65D26KFR6H6JVCL73FOQ5LUS5RVQTY4PV7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HS6VR5LQIEWYVGOHGRR5O7R5SQKT7BKUOVYDTFYJ7PCQCL32BJFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7FYED454ULPOMCD5EBY6VNYXTAH4GBQZW5MG47QKJMVCORMC3SCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5VWREDVCH2LQUCHRL7GPC4G4O7LL4OQSF7FIZCP3IOHL5IU55HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CE6SYV4RBL7R7KTKWHANSZZMZZQXP5SP3GOKXER6NZ76DEM6FZYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQS7WNPL7LVEZOMHT4QZUBKBKSPSQSC6ZRTYFQOAUJSK5O37ZKZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQXCPQTWJLXE7EEUWX2COKCM33X4BBDDITPZJZ5WD64U5BTRDCPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CHKHI73H5MHJKCXDCCTBECSGFMQTRVQF5NTS3RLRFTXDBAVD5J3Q/main.js"
            ]
        },
        "ListTagsForResource": {
            "http": {
                "method": "GET",
                "requestUri": "/tags/{ResourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn"
                ],
                "members": {
                    "ResourceArn": {
                        "location": "uri",
                        "locationName": "ResourceArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Tags": {
                        "shape": "Sp"
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "api."
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLQS73BLLG62XDT4KFUMERKPCMR7LG3B2LIDIETN64JKV5PY77YA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWFT2XSALHAWCOG4ZEBT2FZ3JRBHZOD47WQ26UZY62HZYS3DCSBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COYQM7MJB637ARNWT6GHFY4X4CNOA7PD6N35IX2SOKRF4VGK43Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RTL25KDAO43PYBHTTO4KKXSVI3DU6T44KUHC5FOEWSJBQNSA6D2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDW6NAGJ4E2WH7N4NDQ4CQFZ33W2VO5QGD3ELTSKN3HQ34KXF7GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZSWJWMU7XWTBWHGL254ECGZOT2GAHIUUPCP7FDL2XC3GIDF65KQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5OXUW3PEX7IIIRCAY3CX4TY3TM2QMVYFOIWIG2UER62DOCZXG2IQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H5IR3JI2KUOTBCHTCE4WPE5FEUPYZ77XDNQOHFTBNA5Q2MH76NCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2RSL7YSFGRPVZPZYX6WS6GYS46ZDOSHG7J2JGEGFNG53FXXLFFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGWAKYLNEX4GHFTTUZTK4L75HQBYL735RGDPWXT46ZAZAWBVROFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZ5O7LOUZNFRCGIIELZBK7VN5HUR4RVAMM6MJLZUOKVKANYAXD2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NHPHWW7J3D6GVSCN2BHMDTOP642QQKULMKLGF5OSMULSFAR6JPYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWETD5ULE4KHXWDXVHUQHJKOJOD6VECHUSCYAWDVZAVLN3LJGOJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBCVUCW73FDEFVPTKSERPEAB56TN6TK3TCI2WQZDWJF6B7BFDOSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ATYYHJV46VKFC2HQLHY3JN2V66WOUEZMFYZMMEUI64CU6EL3DNHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6SX6FWPIP5Z76DKA2EB3AIWBIXST6DXYMQSY5DODMLCIFETAOYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EIWDSCJQ5WSMQDIZB65D26KFR6H6JVCL73FOQ5LUS5RVQTY4PV7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HS6VR5LQIEWYVGOHGRR5O7R5SQKT7BKUOVYDTFYJ7PCQCL32BJFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7FYED454ULPOMCD5EBY6VNYXTAH4GBQZW5MG47QKJMVCORMC3SCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5VWREDVCH2LQUCHRL7GPC4G4O7LL4OQSF7FIZCP3IOHL5IU55HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CE6SYV4RBL7R7KTKWHANSZZMZZQXP5SP3GOKXER6NZ76DEM6FZYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQS7WNPL7LVEZOMHT4QZUBKBKSPSQSC6ZRTYFQOAUJSK5O37ZKZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQXCPQTWJLXE7EEUWX2COKCM33X4BBDDITPZJZ5WD64U5BTRDCPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CHKHI73H5MHJKCXDCCTBECSGFMQTRVQF5NTS3RLRFTXDBAVD5J3Q/main.js"
            ]
        },
        "TagResource": {
            "http": {
                "requestUri": "/tags/{ResourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn",
                    "Tags"
                ],
                "members": {
                    "ResourceArn": {
                        "location": "uri",
                        "locationName": "ResourceArn"
                    },
                    "Tags": {
                        "shape": "Sp"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "endpoint": {
                "hostPrefix": "api."
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLQS73BLLG62XDT4KFUMERKPCMR7LG3B2LIDIETN64JKV5PY77YA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWFT2XSALHAWCOG4ZEBT2FZ3JRBHZOD47WQ26UZY62HZYS3DCSBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COYQM7MJB637ARNWT6GHFY4X4CNOA7PD6N35IX2SOKRF4VGK43Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RTL25KDAO43PYBHTTO4KKXSVI3DU6T44KUHC5FOEWSJBQNSA6D2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDW6NAGJ4E2WH7N4NDQ4CQFZ33W2VO5QGD3ELTSKN3HQ34KXF7GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZSWJWMU7XWTBWHGL254ECGZOT2GAHIUUPCP7FDL2XC3GIDF65KQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5OXUW3PEX7IIIRCAY3CX4TY3TM2QMVYFOIWIG2UER62DOCZXG2IQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H5IR3JI2KUOTBCHTCE4WPE5FEUPYZ77XDNQOHFTBNA5Q2MH76NCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2RSL7YSFGRPVZPZYX6WS6GYS46ZDOSHG7J2JGEGFNG53FXXLFFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGWAKYLNEX4GHFTTUZTK4L75HQBYL735RGDPWXT46ZAZAWBVROFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZ5O7LOUZNFRCGIIELZBK7VN5HUR4RVAMM6MJLZUOKVKANYAXD2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NHPHWW7J3D6GVSCN2BHMDTOP642QQKULMKLGF5OSMULSFAR6JPYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWETD5ULE4KHXWDXVHUQHJKOJOD6VECHUSCYAWDVZAVLN3LJGOJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBCVUCW73FDEFVPTKSERPEAB56TN6TK3TCI2WQZDWJF6B7BFDOSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ATYYHJV46VKFC2HQLHY3JN2V66WOUEZMFYZMMEUI64CU6EL3DNHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6SX6FWPIP5Z76DKA2EB3AIWBIXST6DXYMQSY5DODMLCIFETAOYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EIWDSCJQ5WSMQDIZB65D26KFR6H6JVCL73FOQ5LUS5RVQTY4PV7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HS6VR5LQIEWYVGOHGRR5O7R5SQKT7BKUOVYDTFYJ7PCQCL32BJFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7FYED454ULPOMCD5EBY6VNYXTAH4GBQZW5MG47QKJMVCORMC3SCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5VWREDVCH2LQUCHRL7GPC4G4O7LL4OQSF7FIZCP3IOHL5IU55HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CE6SYV4RBL7R7KTKWHANSZZMZZQXP5SP3GOKXER6NZ76DEM6FZYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQS7WNPL7LVEZOMHT4QZUBKBKSPSQSC6ZRTYFQOAUJSK5O37ZKZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQXCPQTWJLXE7EEUWX2COKCM33X4BBDDITPZJZ5WD64U5BTRDCPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CHKHI73H5MHJKCXDCCTBECSGFMQTRVQF5NTS3RLRFTXDBAVD5J3Q/main.js"
            ]
        },
        "UntagResource": {
            "http": {
                "method": "DELETE",
                "requestUri": "/tags/{ResourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn",
                    "tagKeys"
                ],
                "members": {
                    "ResourceArn": {
                        "location": "uri",
                        "locationName": "ResourceArn"
                    },
                    "tagKeys": {
                        "location": "querystring",
                        "locationName": "tagKeys",
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "endpoint": {
                "hostPrefix": "api."
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLQS73BLLG62XDT4KFUMERKPCMR7LG3B2LIDIETN64JKV5PY77YA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWFT2XSALHAWCOG4ZEBT2FZ3JRBHZOD47WQ26UZY62HZYS3DCSBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COYQM7MJB637ARNWT6GHFY4X4CNOA7PD6N35IX2SOKRF4VGK43Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RTL25KDAO43PYBHTTO4KKXSVI3DU6T44KUHC5FOEWSJBQNSA6D2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDW6NAGJ4E2WH7N4NDQ4CQFZ33W2VO5QGD3ELTSKN3HQ34KXF7GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZSWJWMU7XWTBWHGL254ECGZOT2GAHIUUPCP7FDL2XC3GIDF65KQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5OXUW3PEX7IIIRCAY3CX4TY3TM2QMVYFOIWIG2UER62DOCZXG2IQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H5IR3JI2KUOTBCHTCE4WPE5FEUPYZ77XDNQOHFTBNA5Q2MH76NCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2RSL7YSFGRPVZPZYX6WS6GYS46ZDOSHG7J2JGEGFNG53FXXLFFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGWAKYLNEX4GHFTTUZTK4L75HQBYL735RGDPWXT46ZAZAWBVROFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZ5O7LOUZNFRCGIIELZBK7VN5HUR4RVAMM6MJLZUOKVKANYAXD2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NHPHWW7J3D6GVSCN2BHMDTOP642QQKULMKLGF5OSMULSFAR6JPYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWETD5ULE4KHXWDXVHUQHJKOJOD6VECHUSCYAWDVZAVLN3LJGOJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBCVUCW73FDEFVPTKSERPEAB56TN6TK3TCI2WQZDWJF6B7BFDOSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ATYYHJV46VKFC2HQLHY3JN2V66WOUEZMFYZMMEUI64CU6EL3DNHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6SX6FWPIP5Z76DKA2EB3AIWBIXST6DXYMQSY5DODMLCIFETAOYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EIWDSCJQ5WSMQDIZB65D26KFR6H6JVCL73FOQ5LUS5RVQTY4PV7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HS6VR5LQIEWYVGOHGRR5O7R5SQKT7BKUOVYDTFYJ7PCQCL32BJFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7FYED454ULPOMCD5EBY6VNYXTAH4GBQZW5MG47QKJMVCORMC3SCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5VWREDVCH2LQUCHRL7GPC4G4O7LL4OQSF7FIZCP3IOHL5IU55HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CE6SYV4RBL7R7KTKWHANSZZMZZQXP5SP3GOKXER6NZ76DEM6FZYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQS7WNPL7LVEZOMHT4QZUBKBKSPSQSC6ZRTYFQOAUJSK5O37ZKZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQXCPQTWJLXE7EEUWX2COKCM33X4BBDDITPZJZ5WD64U5BTRDCPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CHKHI73H5MHJKCXDCCTBECSGFMQTRVQF5NTS3RLRFTXDBAVD5J3Q/main.js"
            ]
        },
        "UpdateEnvironment": {
            "http": {
                "method": "PATCH",
                "requestUri": "/environments/{Name}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "AirflowConfigurationOptions": {
                        "shape": "S2"
                    },
                    "AirflowVersion": {},
                    "DagS3Path": {},
                    "EnvironmentClass": {},
                    "ExecutionRoleArn": {},
                    "LoggingConfiguration": {
                        "shape": "Sa"
                    },
                    "MaxWorkers": {
                        "type": "integer"
                    },
                    "MinWorkers": {
                        "type": "integer"
                    },
                    "Name": {
                        "location": "uri",
                        "locationName": "Name"
                    },
                    "NetworkConfiguration": {
                        "type": "structure",
                        "required": [
                            "SecurityGroupIds"
                        ],
                        "members": {
                            "SecurityGroupIds": {
                                "shape": "Si"
                            }
                        }
                    },
                    "PluginsS3ObjectVersion": {},
                    "PluginsS3Path": {},
                    "RequirementsS3ObjectVersion": {},
                    "RequirementsS3Path": {},
                    "Schedulers": {
                        "type": "integer"
                    },
                    "SourceBucketArn": {},
                    "StartupScriptS3ObjectVersion": {},
                    "StartupScriptS3Path": {},
                    "WebserverAccessMode": {},
                    "WeeklyMaintenanceWindowStart": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Arn": {}
                }
            },
            "endpoint": {
                "hostPrefix": "api."
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLQS73BLLG62XDT4KFUMERKPCMR7LG3B2LIDIETN64JKV5PY77YA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWFT2XSALHAWCOG4ZEBT2FZ3JRBHZOD47WQ26UZY62HZYS3DCSBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COYQM7MJB637ARNWT6GHFY4X4CNOA7PD6N35IX2SOKRF4VGK43Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RTL25KDAO43PYBHTTO4KKXSVI3DU6T44KUHC5FOEWSJBQNSA6D2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDW6NAGJ4E2WH7N4NDQ4CQFZ33W2VO5QGD3ELTSKN3HQ34KXF7GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZSWJWMU7XWTBWHGL254ECGZOT2GAHIUUPCP7FDL2XC3GIDF65KQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5OXUW3PEX7IIIRCAY3CX4TY3TM2QMVYFOIWIG2UER62DOCZXG2IQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H5IR3JI2KUOTBCHTCE4WPE5FEUPYZ77XDNQOHFTBNA5Q2MH76NCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2RSL7YSFGRPVZPZYX6WS6GYS46ZDOSHG7J2JGEGFNG53FXXLFFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGWAKYLNEX4GHFTTUZTK4L75HQBYL735RGDPWXT46ZAZAWBVROFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZ5O7LOUZNFRCGIIELZBK7VN5HUR4RVAMM6MJLZUOKVKANYAXD2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NHPHWW7J3D6GVSCN2BHMDTOP642QQKULMKLGF5OSMULSFAR6JPYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWETD5ULE4KHXWDXVHUQHJKOJOD6VECHUSCYAWDVZAVLN3LJGOJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBCVUCW73FDEFVPTKSERPEAB56TN6TK3TCI2WQZDWJF6B7BFDOSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ATYYHJV46VKFC2HQLHY3JN2V66WOUEZMFYZMMEUI64CU6EL3DNHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6SX6FWPIP5Z76DKA2EB3AIWBIXST6DXYMQSY5DODMLCIFETAOYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EIWDSCJQ5WSMQDIZB65D26KFR6H6JVCL73FOQ5LUS5RVQTY4PV7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HS6VR5LQIEWYVGOHGRR5O7R5SQKT7BKUOVYDTFYJ7PCQCL32BJFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7FYED454ULPOMCD5EBY6VNYXTAH4GBQZW5MG47QKJMVCORMC3SCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5VWREDVCH2LQUCHRL7GPC4G4O7LL4OQSF7FIZCP3IOHL5IU55HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CE6SYV4RBL7R7KTKWHANSZZMZZQXP5SP3GOKXER6NZ76DEM6FZYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQS7WNPL7LVEZOMHT4QZUBKBKSPSQSC6ZRTYFQOAUJSK5O37ZKZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQXCPQTWJLXE7EEUWX2COKCM33X4BBDDITPZJZ5WD64U5BTRDCPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CHKHI73H5MHJKCXDCCTBECSGFMQTRVQF5NTS3RLRFTXDBAVD5J3Q/main.js"
            ]
        }
    },
    "shapes": {
        "S2": {
            "type": "map",
            "key": {},
            "value": {
                "type": "string",
                "sensitive": true
            },
            "sensitive": true
        },
        "Sa": {
            "type": "structure",
            "members": {
                "DagProcessingLogs": {
                    "shape": "Sb"
                },
                "SchedulerLogs": {
                    "shape": "Sb"
                },
                "TaskLogs": {
                    "shape": "Sb"
                },
                "WebserverLogs": {
                    "shape": "Sb"
                },
                "WorkerLogs": {
                    "shape": "Sb"
                }
            }
        },
        "Sb": {
            "type": "structure",
            "required": [
                "Enabled",
                "LogLevel"
            ],
            "members": {
                "Enabled": {
                    "type": "boolean"
                },
                "LogLevel": {}
            }
        },
        "Sh": {
            "type": "structure",
            "members": {
                "SecurityGroupIds": {
                    "shape": "Si"
                },
                "SubnetIds": {
                    "type": "list",
                    "member": {}
                }
            }
        },
        "Si": {
            "type": "list",
            "member": {}
        },
        "Sp": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "S1a": {
            "type": "structure",
            "members": {
                "CloudWatchLogGroupArn": {},
                "Enabled": {
                    "type": "boolean"
                },
                "LogLevel": {}
            }
        },
        "Sc": {
            "type": "structure",
            "required": [
                "Enabled",
                "LogLevel"
            ],
            "members": {
                "Enabled": {
                    "type": "boolean"
                },
                "LogLevel": {}
            }
        },
        "Sj": {
            "type": "list",
            "member": {}
        },
        "Sq": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "S1e": {
            "type": "structure",
            "members": {
                "CloudWatchLogGroupArn": {},
                "Enabled": {
                    "type": "boolean"
                },
                "LogLevel": {}
            }
        },
        "S1d": {
            "type": "structure",
            "members": {
                "CloudWatchLogGroupArn": {},
                "Enabled": {
                    "type": "boolean"
                },
                "LogLevel": {}
            }
        },
        "S1c": {
            "type": "structure",
            "members": {
                "CloudWatchLogGroupArn": {},
                "Enabled": {
                    "type": "boolean"
                },
                "LogLevel": {}
            }
        }
    }
}