{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2020-03-20",
        "endpointPrefix": "airflow",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "AmazonMWAA Control Plane",
        "serviceId": "MWAAControlPlane",
        "signatureVersion": "v4",
        "signingName": "airflow",
        "uid": "mwaacontrolplane-2020-03-20",
        "download_location": [
            "https://c.d.cdn.console.awsstatic.com/a/v1/UHIESFIPSKFWD3Q2CAKLCYZAZSVQ7P6FUPCA3YWUFUSE6GIBT47Q/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/NVW5L2ET7VU6U2ICBB4FO63TKJV4VHAACTZ4YGDIOZ6MFVUW3ZMA/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/WPO7XVNYXL2FRZVYDQI2AR7FWF6BAXE7K6N2FPYZL2DDXJGBP7NQ/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/E5NX3345NHDI2PGT5PC2MELJCFT5N6S54FQDSXAU3WU7PPVTZ5IA/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/6NE2TCSTNSL7V3NA5KGSOP2EA3DQU7FKHR4NUNQUMLYJTJR7QMGA/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/UF3H55E2FOH5YVIGJSK5ZH573D3CLBCGFK6A6VO7FBN7H4OB4HRQ/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/TULLB5BFAZRU3M7Y4PWKR6FOHSQYU3LHVWGSSXG5QNUH2S4E3M4Q/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/SEO6CFIEUW6CPHSWSKKB3YG3CB6AA3GZ56TY6D5GPO7IQTTY457Q/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/7MRQGO24GJA5VFXE732QGVB63A37DOXFPUEAFXGYKYXHRFJM2FSA/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/YJ2LHJXPLP6UJERSQZMUOYPO7ISJVFK3O7TN5VCE5NG4WBXJ626Q/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/3QQVNPYSDCIGHJ57C6X52GXAXV5X5LDYZMW5UMLU54USTYNMII3A/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/PSND4673W5DVE47WX42CVOH5YMRNLXOR47CJJWIEWZOUNQISL4WQ/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/JDHXEQVYUIZ3DFJOMVQBEHHZBTSBHMI4F7YB3TQ4LWEAL656BYIA/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/KZPIQGIQHJQ6O6FHKDTW6U5D2YB5AVU6G22JL7PYTKJHHPKXXKWQ/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/PPOUDB6PN3CDBF43RNEHUOGAFIUYUGS65KLGDX6BWHZD6ZIXN7FA/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/IAZXDBFYZWKH2TSYLLI6ITZ7FOTRX4XNV62RDUDBHBLKHWLQRF7A/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/SAMM4FZZBKYCSGKFFGYFAF6D32I2ZQ6F3EJ247MJPBF5SZPP5INQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SAMM4FZZBKYCSGKFFGYFAF6D32I2ZQ6F3EJ247MJPBF5SZPP5INQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PGMWY52VATRVAQBY7RGHGFD5T24OBG22RS5DD4TIBMM3PQHBLFGA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YHUN65CLJ4JFX36FL7TRVXMSTP2ZY3D6XOL37KBP6VL7PYASHMJQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OEGE3GAGU3VN3272V4TSICITVKY33O3IKCZXIT57XE34ZFROEFWQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7F7KJKGWYC3O2WVIE64A6SMJS7JT7FNKRQBZJ6QE5UZZT4TVZUKA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UTJQAPRGCQK63FMYCRWUAEANTUSRZC76XZKXZ5SRV5TWBAKT6NLQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FGQZ5ZMRJOCZDW7ETROHCI5Y66HMO372PTLKCLEWAH6O563M4VCA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4BCBRP6XI3STQIDQLMYNVHH4SCFUASGRCUO3YPRIFQQN3ZUN574Q/main.js"
        ]
    },
    "operations": {
        "CreateEnvironment": {
            "http": {
                "method": "PUT",
                "requestUri": "/environments/{Name}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "DagS3Path",
                    "ExecutionRoleArn",
                    "Name",
                    "NetworkConfiguration",
                    "SourceBucketArn"
                ],
                "members": {
                    "AirflowConfigurationOptions": {
                        "shape": "S2"
                    },
                    "AirflowVersion": {},
                    "DagS3Path": {},
                    "EnvironmentClass": {},
                    "ExecutionRoleArn": {},
                    "KmsKey": {},
                    "LoggingConfiguration": {
                        "shape": "Sa"
                    },
                    "MaxWorkers": {
                        "type": "integer"
                    },
                    "MinWorkers": {
                        "type": "integer"
                    },
                    "Name": {
                        "location": "uri",
                        "locationName": "Name"
                    },
                    "NetworkConfiguration": {
                        "shape": "Sh"
                    },
                    "PluginsS3ObjectVersion": {},
                    "PluginsS3Path": {},
                    "RequirementsS3ObjectVersion": {},
                    "RequirementsS3Path": {},
                    "Schedulers": {
                        "type": "integer"
                    },
                    "SourceBucketArn": {},
                    "StartupScriptS3ObjectVersion": {},
                    "StartupScriptS3Path": {},
                    "Tags": {
                        "shape": "Sp"
                    },
                    "WebserverAccessMode": {},
                    "WeeklyMaintenanceWindowStart": {},
                    "CustomerManagedEndpoints": {
                        "type": "boolean"
                    },
                    "EndpointManagement": {},
                    "MaxWebservers": {
                        "type": "integer"
                    },
                    "MinWebservers": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Arn": {}
                }
            },
            "endpoint": {
                "hostPrefix": "api."
            },
            "idempotent": true,
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/NVW5L2ET7VU6U2ICBB4FO63TKJV4VHAACTZ4YGDIOZ6MFVUW3ZMA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WPO7XVNYXL2FRZVYDQI2AR7FWF6BAXE7K6N2FPYZL2DDXJGBP7NQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/E5NX3345NHDI2PGT5PC2MELJCFT5N6S54FQDSXAU3WU7PPVTZ5IA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6NE2TCSTNSL7V3NA5KGSOP2EA3DQU7FKHR4NUNQUMLYJTJR7QMGA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UF3H55E2FOH5YVIGJSK5ZH573D3CLBCGFK6A6VO7FBN7H4OB4HRQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TULLB5BFAZRU3M7Y4PWKR6FOHSQYU3LHVWGSSXG5QNUH2S4E3M4Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SEO6CFIEUW6CPHSWSKKB3YG3CB6AA3GZ56TY6D5GPO7IQTTY457Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7MRQGO24GJA5VFXE732QGVB63A37DOXFPUEAFXGYKYXHRFJM2FSA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YJ2LHJXPLP6UJERSQZMUOYPO7ISJVFK3O7TN5VCE5NG4WBXJ626Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QQVNPYSDCIGHJ57C6X52GXAXV5X5LDYZMW5UMLU54USTYNMII3A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PSND4673W5DVE47WX42CVOH5YMRNLXOR47CJJWIEWZOUNQISL4WQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JDHXEQVYUIZ3DFJOMVQBEHHZBTSBHMI4F7YB3TQ4LWEAL656BYIA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KZPIQGIQHJQ6O6FHKDTW6U5D2YB5AVU6G22JL7PYTKJHHPKXXKWQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PPOUDB6PN3CDBF43RNEHUOGAFIUYUGS65KLGDX6BWHZD6ZIXN7FA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IAZXDBFYZWKH2TSYLLI6ITZ7FOTRX4XNV62RDUDBHBLKHWLQRF7A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SAMM4FZZBKYCSGKFFGYFAF6D32I2ZQ6F3EJ247MJPBF5SZPP5INQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAMM4FZZBKYCSGKFFGYFAF6D32I2ZQ6F3EJ247MJPBF5SZPP5INQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGMWY52VATRVAQBY7RGHGFD5T24OBG22RS5DD4TIBMM3PQHBLFGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YHUN65CLJ4JFX36FL7TRVXMSTP2ZY3D6XOL37KBP6VL7PYASHMJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OEGE3GAGU3VN3272V4TSICITVKY33O3IKCZXIT57XE34ZFROEFWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7F7KJKGWYC3O2WVIE64A6SMJS7JT7FNKRQBZJ6QE5UZZT4TVZUKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTJQAPRGCQK63FMYCRWUAEANTUSRZC76XZKXZ5SRV5TWBAKT6NLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FGQZ5ZMRJOCZDW7ETROHCI5Y66HMO372PTLKCLEWAH6O563M4VCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BCBRP6XI3STQIDQLMYNVHH4SCFUASGRCUO3YPRIFQQN3ZUN574Q/main.js"
            ]
        },
        "DeleteEnvironment": {
            "http": {
                "method": "DELETE",
                "requestUri": "/environments/{Name}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {
                        "location": "uri",
                        "locationName": "Name"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "endpoint": {
                "hostPrefix": "api."
            },
            "idempotent": true,
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/NVW5L2ET7VU6U2ICBB4FO63TKJV4VHAACTZ4YGDIOZ6MFVUW3ZMA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WPO7XVNYXL2FRZVYDQI2AR7FWF6BAXE7K6N2FPYZL2DDXJGBP7NQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/E5NX3345NHDI2PGT5PC2MELJCFT5N6S54FQDSXAU3WU7PPVTZ5IA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6NE2TCSTNSL7V3NA5KGSOP2EA3DQU7FKHR4NUNQUMLYJTJR7QMGA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UF3H55E2FOH5YVIGJSK5ZH573D3CLBCGFK6A6VO7FBN7H4OB4HRQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TULLB5BFAZRU3M7Y4PWKR6FOHSQYU3LHVWGSSXG5QNUH2S4E3M4Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SEO6CFIEUW6CPHSWSKKB3YG3CB6AA3GZ56TY6D5GPO7IQTTY457Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7MRQGO24GJA5VFXE732QGVB63A37DOXFPUEAFXGYKYXHRFJM2FSA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YJ2LHJXPLP6UJERSQZMUOYPO7ISJVFK3O7TN5VCE5NG4WBXJ626Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QQVNPYSDCIGHJ57C6X52GXAXV5X5LDYZMW5UMLU54USTYNMII3A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PSND4673W5DVE47WX42CVOH5YMRNLXOR47CJJWIEWZOUNQISL4WQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JDHXEQVYUIZ3DFJOMVQBEHHZBTSBHMI4F7YB3TQ4LWEAL656BYIA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KZPIQGIQHJQ6O6FHKDTW6U5D2YB5AVU6G22JL7PYTKJHHPKXXKWQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PPOUDB6PN3CDBF43RNEHUOGAFIUYUGS65KLGDX6BWHZD6ZIXN7FA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IAZXDBFYZWKH2TSYLLI6ITZ7FOTRX4XNV62RDUDBHBLKHWLQRF7A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SAMM4FZZBKYCSGKFFGYFAF6D32I2ZQ6F3EJ247MJPBF5SZPP5INQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAMM4FZZBKYCSGKFFGYFAF6D32I2ZQ6F3EJ247MJPBF5SZPP5INQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGMWY52VATRVAQBY7RGHGFD5T24OBG22RS5DD4TIBMM3PQHBLFGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YHUN65CLJ4JFX36FL7TRVXMSTP2ZY3D6XOL37KBP6VL7PYASHMJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OEGE3GAGU3VN3272V4TSICITVKY33O3IKCZXIT57XE34ZFROEFWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7F7KJKGWYC3O2WVIE64A6SMJS7JT7FNKRQBZJ6QE5UZZT4TVZUKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTJQAPRGCQK63FMYCRWUAEANTUSRZC76XZKXZ5SRV5TWBAKT6NLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FGQZ5ZMRJOCZDW7ETROHCI5Y66HMO372PTLKCLEWAH6O563M4VCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BCBRP6XI3STQIDQLMYNVHH4SCFUASGRCUO3YPRIFQQN3ZUN574Q/main.js"
            ]
        },
        "GetEnvironment": {
            "http": {
                "method": "GET",
                "requestUri": "/environments/{Name}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {
                        "location": "uri",
                        "locationName": "Name"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Environment": {
                        "type": "structure",
                        "members": {
                            "AirflowConfigurationOptions": {
                                "shape": "S2"
                            },
                            "AirflowVersion": {},
                            "Arn": {},
                            "CreatedAt": {
                                "type": "timestamp"
                            },
                            "DagS3Path": {},
                            "EnvironmentClass": {},
                            "ExecutionRoleArn": {},
                            "KmsKey": {},
                            "LastUpdate": {
                                "type": "structure",
                                "members": {
                                    "CreatedAt": {
                                        "type": "timestamp"
                                    },
                                    "Error": {
                                        "type": "structure",
                                        "members": {
                                            "ErrorCode": {},
                                            "ErrorMessage": {}
                                        }
                                    },
                                    "Source": {},
                                    "Status": {}
                                }
                            },
                            "LoggingConfiguration": {
                                "type": "structure",
                                "members": {
                                    "DagProcessingLogs": {
                                        "shape": "S1a"
                                    },
                                    "SchedulerLogs": {
                                        "shape": "S1a"
                                    },
                                    "TaskLogs": {
                                        "shape": "S1a"
                                    },
                                    "WebserverLogs": {
                                        "shape": "S1a"
                                    },
                                    "WorkerLogs": {
                                        "shape": "S1a"
                                    }
                                }
                            },
                            "MaxWorkers": {
                                "type": "integer"
                            },
                            "MinWorkers": {
                                "type": "integer"
                            },
                            "Name": {},
                            "NetworkConfiguration": {
                                "shape": "Sh"
                            },
                            "PluginsS3ObjectVersion": {},
                            "PluginsS3Path": {},
                            "RequirementsS3ObjectVersion": {},
                            "RequirementsS3Path": {},
                            "Schedulers": {
                                "type": "integer"
                            },
                            "ServiceRoleArn": {},
                            "SourceBucketArn": {},
                            "StartupScriptS3ObjectVersion": {},
                            "StartupScriptS3Path": {},
                            "Status": {},
                            "Tags": {
                                "shape": "Sp"
                            },
                            "WebserverAccessMode": {},
                            "WebserverUrl": {},
                            "WeeklyMaintenanceWindowStart": {}
                        }
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "api."
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/NVW5L2ET7VU6U2ICBB4FO63TKJV4VHAACTZ4YGDIOZ6MFVUW3ZMA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WPO7XVNYXL2FRZVYDQI2AR7FWF6BAXE7K6N2FPYZL2DDXJGBP7NQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/E5NX3345NHDI2PGT5PC2MELJCFT5N6S54FQDSXAU3WU7PPVTZ5IA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6NE2TCSTNSL7V3NA5KGSOP2EA3DQU7FKHR4NUNQUMLYJTJR7QMGA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UF3H55E2FOH5YVIGJSK5ZH573D3CLBCGFK6A6VO7FBN7H4OB4HRQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TULLB5BFAZRU3M7Y4PWKR6FOHSQYU3LHVWGSSXG5QNUH2S4E3M4Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SEO6CFIEUW6CPHSWSKKB3YG3CB6AA3GZ56TY6D5GPO7IQTTY457Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7MRQGO24GJA5VFXE732QGVB63A37DOXFPUEAFXGYKYXHRFJM2FSA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YJ2LHJXPLP6UJERSQZMUOYPO7ISJVFK3O7TN5VCE5NG4WBXJ626Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QQVNPYSDCIGHJ57C6X52GXAXV5X5LDYZMW5UMLU54USTYNMII3A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PSND4673W5DVE47WX42CVOH5YMRNLXOR47CJJWIEWZOUNQISL4WQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JDHXEQVYUIZ3DFJOMVQBEHHZBTSBHMI4F7YB3TQ4LWEAL656BYIA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KZPIQGIQHJQ6O6FHKDTW6U5D2YB5AVU6G22JL7PYTKJHHPKXXKWQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PPOUDB6PN3CDBF43RNEHUOGAFIUYUGS65KLGDX6BWHZD6ZIXN7FA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IAZXDBFYZWKH2TSYLLI6ITZ7FOTRX4XNV62RDUDBHBLKHWLQRF7A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SAMM4FZZBKYCSGKFFGYFAF6D32I2ZQ6F3EJ247MJPBF5SZPP5INQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAMM4FZZBKYCSGKFFGYFAF6D32I2ZQ6F3EJ247MJPBF5SZPP5INQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGMWY52VATRVAQBY7RGHGFD5T24OBG22RS5DD4TIBMM3PQHBLFGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YHUN65CLJ4JFX36FL7TRVXMSTP2ZY3D6XOL37KBP6VL7PYASHMJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OEGE3GAGU3VN3272V4TSICITVKY33O3IKCZXIT57XE34ZFROEFWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7F7KJKGWYC3O2WVIE64A6SMJS7JT7FNKRQBZJ6QE5UZZT4TVZUKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTJQAPRGCQK63FMYCRWUAEANTUSRZC76XZKXZ5SRV5TWBAKT6NLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FGQZ5ZMRJOCZDW7ETROHCI5Y66HMO372PTLKCLEWAH6O563M4VCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BCBRP6XI3STQIDQLMYNVHH4SCFUASGRCUO3YPRIFQQN3ZUN574Q/main.js"
            ]
        },
        "ListEnvironments": {
            "http": {
                "method": "GET",
                "requestUri": "/environments",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "MaxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "NextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Environments"
                ],
                "members": {
                    "Environments": {
                        "type": "list",
                        "member": {}
                    },
                    "NextToken": {}
                }
            },
            "endpoint": {
                "hostPrefix": "api."
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/NVW5L2ET7VU6U2ICBB4FO63TKJV4VHAACTZ4YGDIOZ6MFVUW3ZMA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WPO7XVNYXL2FRZVYDQI2AR7FWF6BAXE7K6N2FPYZL2DDXJGBP7NQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/E5NX3345NHDI2PGT5PC2MELJCFT5N6S54FQDSXAU3WU7PPVTZ5IA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6NE2TCSTNSL7V3NA5KGSOP2EA3DQU7FKHR4NUNQUMLYJTJR7QMGA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UF3H55E2FOH5YVIGJSK5ZH573D3CLBCGFK6A6VO7FBN7H4OB4HRQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TULLB5BFAZRU3M7Y4PWKR6FOHSQYU3LHVWGSSXG5QNUH2S4E3M4Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SEO6CFIEUW6CPHSWSKKB3YG3CB6AA3GZ56TY6D5GPO7IQTTY457Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7MRQGO24GJA5VFXE732QGVB63A37DOXFPUEAFXGYKYXHRFJM2FSA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YJ2LHJXPLP6UJERSQZMUOYPO7ISJVFK3O7TN5VCE5NG4WBXJ626Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QQVNPYSDCIGHJ57C6X52GXAXV5X5LDYZMW5UMLU54USTYNMII3A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PSND4673W5DVE47WX42CVOH5YMRNLXOR47CJJWIEWZOUNQISL4WQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JDHXEQVYUIZ3DFJOMVQBEHHZBTSBHMI4F7YB3TQ4LWEAL656BYIA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KZPIQGIQHJQ6O6FHKDTW6U5D2YB5AVU6G22JL7PYTKJHHPKXXKWQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PPOUDB6PN3CDBF43RNEHUOGAFIUYUGS65KLGDX6BWHZD6ZIXN7FA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IAZXDBFYZWKH2TSYLLI6ITZ7FOTRX4XNV62RDUDBHBLKHWLQRF7A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SAMM4FZZBKYCSGKFFGYFAF6D32I2ZQ6F3EJ247MJPBF5SZPP5INQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAMM4FZZBKYCSGKFFGYFAF6D32I2ZQ6F3EJ247MJPBF5SZPP5INQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGMWY52VATRVAQBY7RGHGFD5T24OBG22RS5DD4TIBMM3PQHBLFGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YHUN65CLJ4JFX36FL7TRVXMSTP2ZY3D6XOL37KBP6VL7PYASHMJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OEGE3GAGU3VN3272V4TSICITVKY33O3IKCZXIT57XE34ZFROEFWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7F7KJKGWYC3O2WVIE64A6SMJS7JT7FNKRQBZJ6QE5UZZT4TVZUKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTJQAPRGCQK63FMYCRWUAEANTUSRZC76XZKXZ5SRV5TWBAKT6NLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FGQZ5ZMRJOCZDW7ETROHCI5Y66HMO372PTLKCLEWAH6O563M4VCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BCBRP6XI3STQIDQLMYNVHH4SCFUASGRCUO3YPRIFQQN3ZUN574Q/main.js"
            ]
        },
        "ListTagsForResource": {
            "http": {
                "method": "GET",
                "requestUri": "/tags/{ResourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn"
                ],
                "members": {
                    "ResourceArn": {
                        "location": "uri",
                        "locationName": "ResourceArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Tags": {
                        "shape": "Sp"
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "api."
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/NVW5L2ET7VU6U2ICBB4FO63TKJV4VHAACTZ4YGDIOZ6MFVUW3ZMA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WPO7XVNYXL2FRZVYDQI2AR7FWF6BAXE7K6N2FPYZL2DDXJGBP7NQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/E5NX3345NHDI2PGT5PC2MELJCFT5N6S54FQDSXAU3WU7PPVTZ5IA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6NE2TCSTNSL7V3NA5KGSOP2EA3DQU7FKHR4NUNQUMLYJTJR7QMGA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UF3H55E2FOH5YVIGJSK5ZH573D3CLBCGFK6A6VO7FBN7H4OB4HRQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TULLB5BFAZRU3M7Y4PWKR6FOHSQYU3LHVWGSSXG5QNUH2S4E3M4Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SEO6CFIEUW6CPHSWSKKB3YG3CB6AA3GZ56TY6D5GPO7IQTTY457Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7MRQGO24GJA5VFXE732QGVB63A37DOXFPUEAFXGYKYXHRFJM2FSA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YJ2LHJXPLP6UJERSQZMUOYPO7ISJVFK3O7TN5VCE5NG4WBXJ626Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QQVNPYSDCIGHJ57C6X52GXAXV5X5LDYZMW5UMLU54USTYNMII3A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PSND4673W5DVE47WX42CVOH5YMRNLXOR47CJJWIEWZOUNQISL4WQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JDHXEQVYUIZ3DFJOMVQBEHHZBTSBHMI4F7YB3TQ4LWEAL656BYIA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KZPIQGIQHJQ6O6FHKDTW6U5D2YB5AVU6G22JL7PYTKJHHPKXXKWQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PPOUDB6PN3CDBF43RNEHUOGAFIUYUGS65KLGDX6BWHZD6ZIXN7FA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IAZXDBFYZWKH2TSYLLI6ITZ7FOTRX4XNV62RDUDBHBLKHWLQRF7A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SAMM4FZZBKYCSGKFFGYFAF6D32I2ZQ6F3EJ247MJPBF5SZPP5INQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAMM4FZZBKYCSGKFFGYFAF6D32I2ZQ6F3EJ247MJPBF5SZPP5INQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGMWY52VATRVAQBY7RGHGFD5T24OBG22RS5DD4TIBMM3PQHBLFGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YHUN65CLJ4JFX36FL7TRVXMSTP2ZY3D6XOL37KBP6VL7PYASHMJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OEGE3GAGU3VN3272V4TSICITVKY33O3IKCZXIT57XE34ZFROEFWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7F7KJKGWYC3O2WVIE64A6SMJS7JT7FNKRQBZJ6QE5UZZT4TVZUKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTJQAPRGCQK63FMYCRWUAEANTUSRZC76XZKXZ5SRV5TWBAKT6NLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FGQZ5ZMRJOCZDW7ETROHCI5Y66HMO372PTLKCLEWAH6O563M4VCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BCBRP6XI3STQIDQLMYNVHH4SCFUASGRCUO3YPRIFQQN3ZUN574Q/main.js"
            ]
        },
        "TagResource": {
            "http": {
                "requestUri": "/tags/{ResourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn",
                    "Tags"
                ],
                "members": {
                    "ResourceArn": {
                        "location": "uri",
                        "locationName": "ResourceArn"
                    },
                    "Tags": {
                        "shape": "Sp"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "endpoint": {
                "hostPrefix": "api."
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/NVW5L2ET7VU6U2ICBB4FO63TKJV4VHAACTZ4YGDIOZ6MFVUW3ZMA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WPO7XVNYXL2FRZVYDQI2AR7FWF6BAXE7K6N2FPYZL2DDXJGBP7NQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/E5NX3345NHDI2PGT5PC2MELJCFT5N6S54FQDSXAU3WU7PPVTZ5IA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6NE2TCSTNSL7V3NA5KGSOP2EA3DQU7FKHR4NUNQUMLYJTJR7QMGA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UF3H55E2FOH5YVIGJSK5ZH573D3CLBCGFK6A6VO7FBN7H4OB4HRQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TULLB5BFAZRU3M7Y4PWKR6FOHSQYU3LHVWGSSXG5QNUH2S4E3M4Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SEO6CFIEUW6CPHSWSKKB3YG3CB6AA3GZ56TY6D5GPO7IQTTY457Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7MRQGO24GJA5VFXE732QGVB63A37DOXFPUEAFXGYKYXHRFJM2FSA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YJ2LHJXPLP6UJERSQZMUOYPO7ISJVFK3O7TN5VCE5NG4WBXJ626Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QQVNPYSDCIGHJ57C6X52GXAXV5X5LDYZMW5UMLU54USTYNMII3A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PSND4673W5DVE47WX42CVOH5YMRNLXOR47CJJWIEWZOUNQISL4WQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JDHXEQVYUIZ3DFJOMVQBEHHZBTSBHMI4F7YB3TQ4LWEAL656BYIA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KZPIQGIQHJQ6O6FHKDTW6U5D2YB5AVU6G22JL7PYTKJHHPKXXKWQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PPOUDB6PN3CDBF43RNEHUOGAFIUYUGS65KLGDX6BWHZD6ZIXN7FA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IAZXDBFYZWKH2TSYLLI6ITZ7FOTRX4XNV62RDUDBHBLKHWLQRF7A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SAMM4FZZBKYCSGKFFGYFAF6D32I2ZQ6F3EJ247MJPBF5SZPP5INQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAMM4FZZBKYCSGKFFGYFAF6D32I2ZQ6F3EJ247MJPBF5SZPP5INQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGMWY52VATRVAQBY7RGHGFD5T24OBG22RS5DD4TIBMM3PQHBLFGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YHUN65CLJ4JFX36FL7TRVXMSTP2ZY3D6XOL37KBP6VL7PYASHMJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OEGE3GAGU3VN3272V4TSICITVKY33O3IKCZXIT57XE34ZFROEFWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7F7KJKGWYC3O2WVIE64A6SMJS7JT7FNKRQBZJ6QE5UZZT4TVZUKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTJQAPRGCQK63FMYCRWUAEANTUSRZC76XZKXZ5SRV5TWBAKT6NLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FGQZ5ZMRJOCZDW7ETROHCI5Y66HMO372PTLKCLEWAH6O563M4VCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BCBRP6XI3STQIDQLMYNVHH4SCFUASGRCUO3YPRIFQQN3ZUN574Q/main.js"
            ]
        },
        "UntagResource": {
            "http": {
                "method": "DELETE",
                "requestUri": "/tags/{ResourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn",
                    "tagKeys"
                ],
                "members": {
                    "ResourceArn": {
                        "location": "uri",
                        "locationName": "ResourceArn"
                    },
                    "tagKeys": {
                        "location": "querystring",
                        "locationName": "tagKeys",
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "endpoint": {
                "hostPrefix": "api."
            },
            "idempotent": true,
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/NVW5L2ET7VU6U2ICBB4FO63TKJV4VHAACTZ4YGDIOZ6MFVUW3ZMA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WPO7XVNYXL2FRZVYDQI2AR7FWF6BAXE7K6N2FPYZL2DDXJGBP7NQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/E5NX3345NHDI2PGT5PC2MELJCFT5N6S54FQDSXAU3WU7PPVTZ5IA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6NE2TCSTNSL7V3NA5KGSOP2EA3DQU7FKHR4NUNQUMLYJTJR7QMGA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UF3H55E2FOH5YVIGJSK5ZH573D3CLBCGFK6A6VO7FBN7H4OB4HRQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TULLB5BFAZRU3M7Y4PWKR6FOHSQYU3LHVWGSSXG5QNUH2S4E3M4Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SEO6CFIEUW6CPHSWSKKB3YG3CB6AA3GZ56TY6D5GPO7IQTTY457Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7MRQGO24GJA5VFXE732QGVB63A37DOXFPUEAFXGYKYXHRFJM2FSA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YJ2LHJXPLP6UJERSQZMUOYPO7ISJVFK3O7TN5VCE5NG4WBXJ626Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QQVNPYSDCIGHJ57C6X52GXAXV5X5LDYZMW5UMLU54USTYNMII3A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PSND4673W5DVE47WX42CVOH5YMRNLXOR47CJJWIEWZOUNQISL4WQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JDHXEQVYUIZ3DFJOMVQBEHHZBTSBHMI4F7YB3TQ4LWEAL656BYIA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KZPIQGIQHJQ6O6FHKDTW6U5D2YB5AVU6G22JL7PYTKJHHPKXXKWQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PPOUDB6PN3CDBF43RNEHUOGAFIUYUGS65KLGDX6BWHZD6ZIXN7FA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IAZXDBFYZWKH2TSYLLI6ITZ7FOTRX4XNV62RDUDBHBLKHWLQRF7A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SAMM4FZZBKYCSGKFFGYFAF6D32I2ZQ6F3EJ247MJPBF5SZPP5INQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAMM4FZZBKYCSGKFFGYFAF6D32I2ZQ6F3EJ247MJPBF5SZPP5INQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGMWY52VATRVAQBY7RGHGFD5T24OBG22RS5DD4TIBMM3PQHBLFGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YHUN65CLJ4JFX36FL7TRVXMSTP2ZY3D6XOL37KBP6VL7PYASHMJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OEGE3GAGU3VN3272V4TSICITVKY33O3IKCZXIT57XE34ZFROEFWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7F7KJKGWYC3O2WVIE64A6SMJS7JT7FNKRQBZJ6QE5UZZT4TVZUKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTJQAPRGCQK63FMYCRWUAEANTUSRZC76XZKXZ5SRV5TWBAKT6NLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FGQZ5ZMRJOCZDW7ETROHCI5Y66HMO372PTLKCLEWAH6O563M4VCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BCBRP6XI3STQIDQLMYNVHH4SCFUASGRCUO3YPRIFQQN3ZUN574Q/main.js"
            ]
        },
        "UpdateEnvironment": {
            "http": {
                "method": "PATCH",
                "requestUri": "/environments/{Name}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "AirflowConfigurationOptions": {
                        "shape": "S2"
                    },
                    "AirflowVersion": {},
                    "DagS3Path": {},
                    "EnvironmentClass": {},
                    "ExecutionRoleArn": {},
                    "LoggingConfiguration": {
                        "shape": "Sa"
                    },
                    "MaxWorkers": {
                        "type": "integer"
                    },
                    "MinWorkers": {
                        "type": "integer"
                    },
                    "Name": {
                        "location": "uri",
                        "locationName": "Name"
                    },
                    "NetworkConfiguration": {
                        "type": "structure",
                        "required": [
                            "SecurityGroupIds"
                        ],
                        "members": {
                            "SecurityGroupIds": {
                                "shape": "Si"
                            }
                        }
                    },
                    "PluginsS3ObjectVersion": {},
                    "PluginsS3Path": {},
                    "RequirementsS3ObjectVersion": {},
                    "RequirementsS3Path": {},
                    "Schedulers": {
                        "type": "integer"
                    },
                    "SourceBucketArn": {},
                    "StartupScriptS3ObjectVersion": {},
                    "StartupScriptS3Path": {},
                    "WebserverAccessMode": {},
                    "WeeklyMaintenanceWindowStart": {},
                    "MaxWebservers": {
                        "type": "integer"
                    },
                    "MinWebservers": {
                        "type": "integer"
                    },
                    "NonDisruptive": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Arn": {}
                }
            },
            "endpoint": {
                "hostPrefix": "api."
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/NVW5L2ET7VU6U2ICBB4FO63TKJV4VHAACTZ4YGDIOZ6MFVUW3ZMA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WPO7XVNYXL2FRZVYDQI2AR7FWF6BAXE7K6N2FPYZL2DDXJGBP7NQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/E5NX3345NHDI2PGT5PC2MELJCFT5N6S54FQDSXAU3WU7PPVTZ5IA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6NE2TCSTNSL7V3NA5KGSOP2EA3DQU7FKHR4NUNQUMLYJTJR7QMGA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UF3H55E2FOH5YVIGJSK5ZH573D3CLBCGFK6A6VO7FBN7H4OB4HRQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TULLB5BFAZRU3M7Y4PWKR6FOHSQYU3LHVWGSSXG5QNUH2S4E3M4Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SEO6CFIEUW6CPHSWSKKB3YG3CB6AA3GZ56TY6D5GPO7IQTTY457Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7MRQGO24GJA5VFXE732QGVB63A37DOXFPUEAFXGYKYXHRFJM2FSA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YJ2LHJXPLP6UJERSQZMUOYPO7ISJVFK3O7TN5VCE5NG4WBXJ626Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QQVNPYSDCIGHJ57C6X52GXAXV5X5LDYZMW5UMLU54USTYNMII3A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PSND4673W5DVE47WX42CVOH5YMRNLXOR47CJJWIEWZOUNQISL4WQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JDHXEQVYUIZ3DFJOMVQBEHHZBTSBHMI4F7YB3TQ4LWEAL656BYIA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KZPIQGIQHJQ6O6FHKDTW6U5D2YB5AVU6G22JL7PYTKJHHPKXXKWQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PPOUDB6PN3CDBF43RNEHUOGAFIUYUGS65KLGDX6BWHZD6ZIXN7FA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IAZXDBFYZWKH2TSYLLI6ITZ7FOTRX4XNV62RDUDBHBLKHWLQRF7A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SAMM4FZZBKYCSGKFFGYFAF6D32I2ZQ6F3EJ247MJPBF5SZPP5INQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAMM4FZZBKYCSGKFFGYFAF6D32I2ZQ6F3EJ247MJPBF5SZPP5INQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGMWY52VATRVAQBY7RGHGFD5T24OBG22RS5DD4TIBMM3PQHBLFGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YHUN65CLJ4JFX36FL7TRVXMSTP2ZY3D6XOL37KBP6VL7PYASHMJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OEGE3GAGU3VN3272V4TSICITVKY33O3IKCZXIT57XE34ZFROEFWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7F7KJKGWYC3O2WVIE64A6SMJS7JT7FNKRQBZJ6QE5UZZT4TVZUKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTJQAPRGCQK63FMYCRWUAEANTUSRZC76XZKXZ5SRV5TWBAKT6NLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FGQZ5ZMRJOCZDW7ETROHCI5Y66HMO372PTLKCLEWAH6O563M4VCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BCBRP6XI3STQIDQLMYNVHH4SCFUASGRCUO3YPRIFQQN3ZUN574Q/main.js"
            ]
        }
    },
    "shapes": {
        "S2": {
            "type": "map",
            "key": {},
            "value": {
                "type": "string",
                "sensitive": true
            },
            "sensitive": true
        },
        "Sa": {
            "type": "structure",
            "members": {
                "DagProcessingLogs": {
                    "shape": "Sb"
                },
                "SchedulerLogs": {
                    "shape": "Sb"
                },
                "TaskLogs": {
                    "shape": "Sb"
                },
                "WebserverLogs": {
                    "shape": "Sb"
                },
                "WorkerLogs": {
                    "shape": "Sb"
                }
            }
        },
        "Sb": {
            "type": "structure",
            "required": [
                "Enabled",
                "LogLevel"
            ],
            "members": {
                "Enabled": {
                    "type": "boolean"
                },
                "LogLevel": {}
            }
        },
        "Sh": {
            "type": "structure",
            "members": {
                "SecurityGroupIds": {
                    "shape": "Si"
                },
                "SubnetIds": {
                    "type": "list",
                    "member": {}
                }
            }
        },
        "Si": {
            "type": "list",
            "member": {}
        },
        "Sp": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "S1a": {
            "type": "structure",
            "members": {
                "CloudWatchLogGroupArn": {},
                "Enabled": {
                    "type": "boolean"
                },
                "LogLevel": {}
            }
        },
        "Sc": {
            "type": "structure",
            "required": [
                "Enabled",
                "LogLevel"
            ],
            "members": {
                "Enabled": {
                    "type": "boolean"
                },
                "LogLevel": {}
            }
        },
        "Sj": {
            "type": "list",
            "member": {}
        },
        "Sq": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "S1e": {
            "type": "structure",
            "members": {
                "CloudWatchLogGroupArn": {},
                "Enabled": {
                    "type": "boolean"
                },
                "LogLevel": {}
            }
        },
        "S1d": {
            "type": "structure",
            "members": {
                "CloudWatchLogGroupArn": {},
                "Enabled": {
                    "type": "boolean"
                },
                "LogLevel": {}
            }
        },
        "S1c": {
            "type": "structure",
            "members": {
                "CloudWatchLogGroupArn": {},
                "Enabled": {
                    "type": "boolean"
                },
                "LogLevel": {}
            }
        },
        "Sk": {
            "type": "structure",
            "members": {
                "SecurityGroupIds": {
                    "shape": "Sl"
                },
                "SubnetIds": {
                    "type": "list",
                    "member": {}
                }
            }
        },
        "Sl": {
            "type": "list",
            "member": {}
        },
        "Ss": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "S1f": {
            "type": "structure",
            "members": {
                "CloudWatchLogGroupArn": {},
                "Enabled": {
                    "type": "boolean"
                },
                "LogLevel": {}
            }
        },
        "S6": {
            "type": "structure",
            "members": {
                "SubnetIds": {
                    "type": "list",
                    "member": {}
                },
                "SecurityGroupIds": {
                    "shape": "S9"
                }
            }
        },
        "S9": {
            "type": "list",
            "member": {}
        },
        "So": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "S19": {
            "type": "structure",
            "members": {
                "Enabled": {
                    "type": "boolean"
                },
                "LogLevel": {},
                "CloudWatchLogGroupArn": {}
            }
        }
    }
}