{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2023-11-29",
        "endpointPrefix": "neptune-graph",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "ripServiceName": "neptune-graph",
        "serviceAbbreviation": "Neptune Graph",
        "serviceFullName": "Amazon Neptune Graph",
        "serviceId": "Neptune Graph",
        "signatureVersion": "v4",
        "signingName": "neptune-graph",
        "uid": "neptune-graph-2023-11-29",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/XT3GBTWSX6BMQDM23QP75YGVX223BM6XALRUYKGWFVL7OO3LRVMQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RZAY2EXT7AOGEHTMRXTF27VBNIJG5AXNGDNKUN3TB5CSECHIR7QQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GBE42PUNP6DE7WU6BSQWVSK6TYLXKDWTGK25O7LTISTRUOQFP5SQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/733CA44FHXV25GIXPF57VWBSWQ44IUQXXDQEVXI6XJYUDKWJEISQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LZLLQZDI3APVXTAR5VCYVB7SRLH6AKTTRYZ7TXU7IHVOJIEPH6FQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PREPSSOIAH7B3YJVZPXZQXW6KBNP72HFLTXA254VJUA77WGBHCSA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ODFKGYX4BYO2BUQQQNG5FVUBVDG3HPQTT6V7YPEBAN6ZDGAY34PQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/U7OEC6TTRNSN726J2XLZHXTBIQQ3FOI2BFILQAW2D5XVHWRQ6UQA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FLSU237KQ7P2E2JET23WTFZVEEQ7OVTQLHXZR4Q6I5I4BFVRRB4A/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7TZK7OCWKBPGUBWQQT632PNREKEJRC5AZNUHP346B5PWCPVU5IVA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FN6C5MGJRSHZA63DE74CI75UDFBCWOM5TJPSHWUQ3G4MPIGXLTHA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Q7YYHZUZEVL4BMOWZVBAB7MG3R44FHJHWE6GDLE4UDGPFS5OLK5Q/chunk715.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YWMUTEP7SZFYCHJQHBQXF3ZPX6MIG2J3TUGU5CFK5HWA7Y6X27BA/chunk725.js"
        ]
    },
    "operations": {
        "CancelImportTask": {
            "http": {
                "method": "DELETE",
                "requestUri": "/importtasks/{taskIdentifier}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "taskIdentifier"
                ],
                "members": {
                    "taskIdentifier": {
                        "location": "uri",
                        "locationName": "taskIdentifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "taskId",
                    "source",
                    "roleArn",
                    "status"
                ],
                "members": {
                    "graphId": {},
                    "taskId": {},
                    "source": {},
                    "format": {},
                    "roleArn": {},
                    "status": {}
                }
            },
            "staticContextParams": {
                "ApiType": {
                    "value": "ControlPlane"
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3GBTWSX6BMQDM23QP75YGVX223BM6XALRUYKGWFVL7OO3LRVMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZAY2EXT7AOGEHTMRXTF27VBNIJG5AXNGDNKUN3TB5CSECHIR7QQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBE42PUNP6DE7WU6BSQWVSK6TYLXKDWTGK25O7LTISTRUOQFP5SQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/733CA44FHXV25GIXPF57VWBSWQ44IUQXXDQEVXI6XJYUDKWJEISQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZLLQZDI3APVXTAR5VCYVB7SRLH6AKTTRYZ7TXU7IHVOJIEPH6FQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PREPSSOIAH7B3YJVZPXZQXW6KBNP72HFLTXA254VJUA77WGBHCSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODFKGYX4BYO2BUQQQNG5FVUBVDG3HPQTT6V7YPEBAN6ZDGAY34PQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7OEC6TTRNSN726J2XLZHXTBIQQ3FOI2BFILQAW2D5XVHWRQ6UQA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FLSU237KQ7P2E2JET23WTFZVEEQ7OVTQLHXZR4Q6I5I4BFVRRB4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TZK7OCWKBPGUBWQQT632PNREKEJRC5AZNUHP346B5PWCPVU5IVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FN6C5MGJRSHZA63DE74CI75UDFBCWOM5TJPSHWUQ3G4MPIGXLTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7YYHZUZEVL4BMOWZVBAB7MG3R44FHJHWE6GDLE4UDGPFS5OLK5Q/chunk715.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWMUTEP7SZFYCHJQHBQXF3ZPX6MIG2J3TUGU5CFK5HWA7Y6X27BA/chunk725.js"
            ]
        },
        "CreateGraph": {
            "http": {
                "requestUri": "/graphs",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "graphName",
                    "provisionedMemory"
                ],
                "members": {
                    "graphName": {},
                    "tags": {
                        "shape": "Sb"
                    },
                    "publicConnectivity": {
                        "type": "boolean"
                    },
                    "kmsKeyIdentifier": {},
                    "vectorSearchConfiguration": {
                        "shape": "Sg"
                    },
                    "replicaCount": {
                        "type": "integer"
                    },
                    "deletionProtection": {
                        "type": "boolean"
                    },
                    "provisionedMemory": {
                        "type": "integer"
                    },
                    "instanceType": {
                        "internalonly": true
                    },
                    "engineVersion": {
                        "internalonly": true
                    },
                    "imageOverrides": {
                        "shape": "Sl",
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "id",
                    "name",
                    "arn"
                ],
                "members": {
                    "id": {},
                    "name": {},
                    "arn": {},
                    "status": {},
                    "statusReason": {},
                    "createTime": {
                        "type": "timestamp"
                    },
                    "provisionedMemory": {
                        "type": "integer"
                    },
                    "endpoint": {},
                    "publicConnectivity": {
                        "type": "boolean"
                    },
                    "vectorSearchConfiguration": {
                        "shape": "Sg"
                    },
                    "replicaCount": {
                        "type": "integer"
                    },
                    "kmsKeyIdentifier": {},
                    "sourceSnapshotId": {},
                    "deletionProtection": {
                        "type": "boolean"
                    },
                    "buildNumber": {}
                }
            },
            "staticContextParams": {
                "ApiType": {
                    "value": "ControlPlane"
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3GBTWSX6BMQDM23QP75YGVX223BM6XALRUYKGWFVL7OO3LRVMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZAY2EXT7AOGEHTMRXTF27VBNIJG5AXNGDNKUN3TB5CSECHIR7QQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBE42PUNP6DE7WU6BSQWVSK6TYLXKDWTGK25O7LTISTRUOQFP5SQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/733CA44FHXV25GIXPF57VWBSWQ44IUQXXDQEVXI6XJYUDKWJEISQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZLLQZDI3APVXTAR5VCYVB7SRLH6AKTTRYZ7TXU7IHVOJIEPH6FQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PREPSSOIAH7B3YJVZPXZQXW6KBNP72HFLTXA254VJUA77WGBHCSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODFKGYX4BYO2BUQQQNG5FVUBVDG3HPQTT6V7YPEBAN6ZDGAY34PQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7OEC6TTRNSN726J2XLZHXTBIQQ3FOI2BFILQAW2D5XVHWRQ6UQA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FLSU237KQ7P2E2JET23WTFZVEEQ7OVTQLHXZR4Q6I5I4BFVRRB4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TZK7OCWKBPGUBWQQT632PNREKEJRC5AZNUHP346B5PWCPVU5IVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FN6C5MGJRSHZA63DE74CI75UDFBCWOM5TJPSHWUQ3G4MPIGXLTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7YYHZUZEVL4BMOWZVBAB7MG3R44FHJHWE6GDLE4UDGPFS5OLK5Q/chunk715.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWMUTEP7SZFYCHJQHBQXF3ZPX6MIG2J3TUGU5CFK5HWA7Y6X27BA/chunk725.js"
            ]
        },
        "CreateGraphSnapshot": {
            "http": {
                "requestUri": "/snapshots",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "graphIdentifier",
                    "snapshotName"
                ],
                "members": {
                    "graphIdentifier": {},
                    "snapshotName": {},
                    "tags": {
                        "shape": "Sb"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "id",
                    "name",
                    "arn"
                ],
                "members": {
                    "id": {},
                    "name": {},
                    "arn": {},
                    "sourceGraphId": {},
                    "snapshotCreateTime": {
                        "type": "timestamp"
                    },
                    "status": {},
                    "kmsKeyIdentifier": {}
                }
            },
            "staticContextParams": {
                "ApiType": {
                    "value": "ControlPlane"
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3GBTWSX6BMQDM23QP75YGVX223BM6XALRUYKGWFVL7OO3LRVMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZAY2EXT7AOGEHTMRXTF27VBNIJG5AXNGDNKUN3TB5CSECHIR7QQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBE42PUNP6DE7WU6BSQWVSK6TYLXKDWTGK25O7LTISTRUOQFP5SQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/733CA44FHXV25GIXPF57VWBSWQ44IUQXXDQEVXI6XJYUDKWJEISQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZLLQZDI3APVXTAR5VCYVB7SRLH6AKTTRYZ7TXU7IHVOJIEPH6FQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PREPSSOIAH7B3YJVZPXZQXW6KBNP72HFLTXA254VJUA77WGBHCSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODFKGYX4BYO2BUQQQNG5FVUBVDG3HPQTT6V7YPEBAN6ZDGAY34PQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7OEC6TTRNSN726J2XLZHXTBIQQ3FOI2BFILQAW2D5XVHWRQ6UQA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FLSU237KQ7P2E2JET23WTFZVEEQ7OVTQLHXZR4Q6I5I4BFVRRB4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TZK7OCWKBPGUBWQQT632PNREKEJRC5AZNUHP346B5PWCPVU5IVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FN6C5MGJRSHZA63DE74CI75UDFBCWOM5TJPSHWUQ3G4MPIGXLTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7YYHZUZEVL4BMOWZVBAB7MG3R44FHJHWE6GDLE4UDGPFS5OLK5Q/chunk715.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWMUTEP7SZFYCHJQHBQXF3ZPX6MIG2J3TUGU5CFK5HWA7Y6X27BA/chunk725.js"
            ]
        },
        "CreateGraphUsingImportTask": {
            "http": {
                "requestUri": "/importtasks",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "graphName",
                    "source",
                    "roleArn"
                ],
                "members": {
                    "graphName": {},
                    "tags": {
                        "shape": "Sb"
                    },
                    "publicConnectivity": {
                        "type": "boolean"
                    },
                    "kmsKeyIdentifier": {},
                    "vectorSearchConfiguration": {
                        "shape": "Sg"
                    },
                    "replicaCount": {
                        "type": "integer"
                    },
                    "deletionProtection": {
                        "type": "boolean"
                    },
                    "importOptions": {
                        "shape": "Su"
                    },
                    "maxProvisionedMemory": {
                        "type": "integer"
                    },
                    "minProvisionedMemory": {
                        "type": "integer"
                    },
                    "failOnError": {
                        "type": "boolean"
                    },
                    "source": {},
                    "format": {},
                    "roleArn": {},
                    "instanceType": {
                        "internalonly": true
                    },
                    "engineVersion": {
                        "internalonly": true
                    },
                    "imageOverrides": {
                        "shape": "Sl",
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "taskId",
                    "source",
                    "roleArn",
                    "status"
                ],
                "members": {
                    "graphId": {},
                    "taskId": {},
                    "source": {},
                    "format": {},
                    "roleArn": {},
                    "status": {},
                    "importOptions": {
                        "shape": "Su"
                    }
                }
            },
            "staticContextParams": {
                "ApiType": {
                    "value": "ControlPlane"
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3GBTWSX6BMQDM23QP75YGVX223BM6XALRUYKGWFVL7OO3LRVMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZAY2EXT7AOGEHTMRXTF27VBNIJG5AXNGDNKUN3TB5CSECHIR7QQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBE42PUNP6DE7WU6BSQWVSK6TYLXKDWTGK25O7LTISTRUOQFP5SQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/733CA44FHXV25GIXPF57VWBSWQ44IUQXXDQEVXI6XJYUDKWJEISQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZLLQZDI3APVXTAR5VCYVB7SRLH6AKTTRYZ7TXU7IHVOJIEPH6FQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PREPSSOIAH7B3YJVZPXZQXW6KBNP72HFLTXA254VJUA77WGBHCSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODFKGYX4BYO2BUQQQNG5FVUBVDG3HPQTT6V7YPEBAN6ZDGAY34PQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7OEC6TTRNSN726J2XLZHXTBIQQ3FOI2BFILQAW2D5XVHWRQ6UQA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FLSU237KQ7P2E2JET23WTFZVEEQ7OVTQLHXZR4Q6I5I4BFVRRB4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TZK7OCWKBPGUBWQQT632PNREKEJRC5AZNUHP346B5PWCPVU5IVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FN6C5MGJRSHZA63DE74CI75UDFBCWOM5TJPSHWUQ3G4MPIGXLTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7YYHZUZEVL4BMOWZVBAB7MG3R44FHJHWE6GDLE4UDGPFS5OLK5Q/chunk715.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWMUTEP7SZFYCHJQHBQXF3ZPX6MIG2J3TUGU5CFK5HWA7Y6X27BA/chunk725.js"
            ]
        },
        "CreatePrivateGraphEndpoint": {
            "http": {
                "requestUri": "/graphs/{graphIdentifier}/endpoints/",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "graphIdentifier"
                ],
                "members": {
                    "graphIdentifier": {
                        "location": "uri",
                        "locationName": "graphIdentifier"
                    },
                    "vpcId": {},
                    "subnetIds": {
                        "shape": "S11"
                    },
                    "vpcSecurityGroupIds": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "vpcId",
                    "subnetIds",
                    "status"
                ],
                "members": {
                    "vpcId": {},
                    "subnetIds": {
                        "shape": "S11"
                    },
                    "status": {},
                    "vpcEndpointId": {}
                }
            },
            "staticContextParams": {
                "ApiType": {
                    "value": "ControlPlane"
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3GBTWSX6BMQDM23QP75YGVX223BM6XALRUYKGWFVL7OO3LRVMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZAY2EXT7AOGEHTMRXTF27VBNIJG5AXNGDNKUN3TB5CSECHIR7QQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBE42PUNP6DE7WU6BSQWVSK6TYLXKDWTGK25O7LTISTRUOQFP5SQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/733CA44FHXV25GIXPF57VWBSWQ44IUQXXDQEVXI6XJYUDKWJEISQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZLLQZDI3APVXTAR5VCYVB7SRLH6AKTTRYZ7TXU7IHVOJIEPH6FQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PREPSSOIAH7B3YJVZPXZQXW6KBNP72HFLTXA254VJUA77WGBHCSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODFKGYX4BYO2BUQQQNG5FVUBVDG3HPQTT6V7YPEBAN6ZDGAY34PQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7OEC6TTRNSN726J2XLZHXTBIQQ3FOI2BFILQAW2D5XVHWRQ6UQA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FLSU237KQ7P2E2JET23WTFZVEEQ7OVTQLHXZR4Q6I5I4BFVRRB4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TZK7OCWKBPGUBWQQT632PNREKEJRC5AZNUHP346B5PWCPVU5IVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FN6C5MGJRSHZA63DE74CI75UDFBCWOM5TJPSHWUQ3G4MPIGXLTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7YYHZUZEVL4BMOWZVBAB7MG3R44FHJHWE6GDLE4UDGPFS5OLK5Q/chunk715.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWMUTEP7SZFYCHJQHBQXF3ZPX6MIG2J3TUGU5CFK5HWA7Y6X27BA/chunk725.js"
            ]
        },
        "DeleteGraph": {
            "http": {
                "method": "DELETE",
                "requestUri": "/graphs/{graphIdentifier}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "graphIdentifier",
                    "skipSnapshot"
                ],
                "members": {
                    "graphIdentifier": {
                        "location": "uri",
                        "locationName": "graphIdentifier"
                    },
                    "skipSnapshot": {
                        "location": "querystring",
                        "locationName": "skipSnapshot",
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "id",
                    "name",
                    "arn"
                ],
                "members": {
                    "id": {},
                    "name": {},
                    "arn": {},
                    "status": {},
                    "statusReason": {},
                    "createTime": {
                        "type": "timestamp"
                    },
                    "provisionedMemory": {
                        "type": "integer"
                    },
                    "endpoint": {},
                    "publicConnectivity": {
                        "type": "boolean"
                    },
                    "vectorSearchConfiguration": {
                        "shape": "Sg"
                    },
                    "replicaCount": {
                        "type": "integer"
                    },
                    "kmsKeyIdentifier": {},
                    "sourceSnapshotId": {},
                    "deletionProtection": {
                        "type": "boolean"
                    },
                    "buildNumber": {}
                }
            },
            "staticContextParams": {
                "ApiType": {
                    "value": "ControlPlane"
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3GBTWSX6BMQDM23QP75YGVX223BM6XALRUYKGWFVL7OO3LRVMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZAY2EXT7AOGEHTMRXTF27VBNIJG5AXNGDNKUN3TB5CSECHIR7QQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBE42PUNP6DE7WU6BSQWVSK6TYLXKDWTGK25O7LTISTRUOQFP5SQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/733CA44FHXV25GIXPF57VWBSWQ44IUQXXDQEVXI6XJYUDKWJEISQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZLLQZDI3APVXTAR5VCYVB7SRLH6AKTTRYZ7TXU7IHVOJIEPH6FQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PREPSSOIAH7B3YJVZPXZQXW6KBNP72HFLTXA254VJUA77WGBHCSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODFKGYX4BYO2BUQQQNG5FVUBVDG3HPQTT6V7YPEBAN6ZDGAY34PQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7OEC6TTRNSN726J2XLZHXTBIQQ3FOI2BFILQAW2D5XVHWRQ6UQA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FLSU237KQ7P2E2JET23WTFZVEEQ7OVTQLHXZR4Q6I5I4BFVRRB4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TZK7OCWKBPGUBWQQT632PNREKEJRC5AZNUHP346B5PWCPVU5IVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FN6C5MGJRSHZA63DE74CI75UDFBCWOM5TJPSHWUQ3G4MPIGXLTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7YYHZUZEVL4BMOWZVBAB7MG3R44FHJHWE6GDLE4UDGPFS5OLK5Q/chunk715.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWMUTEP7SZFYCHJQHBQXF3ZPX6MIG2J3TUGU5CFK5HWA7Y6X27BA/chunk725.js"
            ]
        },
        "DeleteGraphSnapshot": {
            "http": {
                "method": "DELETE",
                "requestUri": "/snapshots/{snapshotIdentifier}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "snapshotIdentifier"
                ],
                "members": {
                    "snapshotIdentifier": {
                        "location": "uri",
                        "locationName": "snapshotIdentifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "id",
                    "name",
                    "arn"
                ],
                "members": {
                    "id": {},
                    "name": {},
                    "arn": {},
                    "sourceGraphId": {},
                    "snapshotCreateTime": {
                        "type": "timestamp"
                    },
                    "status": {},
                    "kmsKeyIdentifier": {}
                }
            },
            "staticContextParams": {
                "ApiType": {
                    "value": "ControlPlane"
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3GBTWSX6BMQDM23QP75YGVX223BM6XALRUYKGWFVL7OO3LRVMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZAY2EXT7AOGEHTMRXTF27VBNIJG5AXNGDNKUN3TB5CSECHIR7QQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBE42PUNP6DE7WU6BSQWVSK6TYLXKDWTGK25O7LTISTRUOQFP5SQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/733CA44FHXV25GIXPF57VWBSWQ44IUQXXDQEVXI6XJYUDKWJEISQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZLLQZDI3APVXTAR5VCYVB7SRLH6AKTTRYZ7TXU7IHVOJIEPH6FQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PREPSSOIAH7B3YJVZPXZQXW6KBNP72HFLTXA254VJUA77WGBHCSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODFKGYX4BYO2BUQQQNG5FVUBVDG3HPQTT6V7YPEBAN6ZDGAY34PQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7OEC6TTRNSN726J2XLZHXTBIQQ3FOI2BFILQAW2D5XVHWRQ6UQA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FLSU237KQ7P2E2JET23WTFZVEEQ7OVTQLHXZR4Q6I5I4BFVRRB4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TZK7OCWKBPGUBWQQT632PNREKEJRC5AZNUHP346B5PWCPVU5IVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FN6C5MGJRSHZA63DE74CI75UDFBCWOM5TJPSHWUQ3G4MPIGXLTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7YYHZUZEVL4BMOWZVBAB7MG3R44FHJHWE6GDLE4UDGPFS5OLK5Q/chunk715.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWMUTEP7SZFYCHJQHBQXF3ZPX6MIG2J3TUGU5CFK5HWA7Y6X27BA/chunk725.js"
            ]
        },
        "DeletePrivateGraphEndpoint": {
            "http": {
                "method": "DELETE",
                "requestUri": "/graphs/{graphIdentifier}/endpoints/{vpcId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "graphIdentifier",
                    "vpcId"
                ],
                "members": {
                    "graphIdentifier": {
                        "location": "uri",
                        "locationName": "graphIdentifier"
                    },
                    "vpcId": {
                        "location": "uri",
                        "locationName": "vpcId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "vpcId",
                    "subnetIds",
                    "status"
                ],
                "members": {
                    "vpcId": {},
                    "subnetIds": {
                        "shape": "S11"
                    },
                    "status": {},
                    "vpcEndpointId": {}
                }
            },
            "staticContextParams": {
                "ApiType": {
                    "value": "ControlPlane"
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3GBTWSX6BMQDM23QP75YGVX223BM6XALRUYKGWFVL7OO3LRVMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZAY2EXT7AOGEHTMRXTF27VBNIJG5AXNGDNKUN3TB5CSECHIR7QQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBE42PUNP6DE7WU6BSQWVSK6TYLXKDWTGK25O7LTISTRUOQFP5SQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/733CA44FHXV25GIXPF57VWBSWQ44IUQXXDQEVXI6XJYUDKWJEISQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZLLQZDI3APVXTAR5VCYVB7SRLH6AKTTRYZ7TXU7IHVOJIEPH6FQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PREPSSOIAH7B3YJVZPXZQXW6KBNP72HFLTXA254VJUA77WGBHCSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODFKGYX4BYO2BUQQQNG5FVUBVDG3HPQTT6V7YPEBAN6ZDGAY34PQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7OEC6TTRNSN726J2XLZHXTBIQQ3FOI2BFILQAW2D5XVHWRQ6UQA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FLSU237KQ7P2E2JET23WTFZVEEQ7OVTQLHXZR4Q6I5I4BFVRRB4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TZK7OCWKBPGUBWQQT632PNREKEJRC5AZNUHP346B5PWCPVU5IVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FN6C5MGJRSHZA63DE74CI75UDFBCWOM5TJPSHWUQ3G4MPIGXLTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7YYHZUZEVL4BMOWZVBAB7MG3R44FHJHWE6GDLE4UDGPFS5OLK5Q/chunk715.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWMUTEP7SZFYCHJQHBQXF3ZPX6MIG2J3TUGU5CFK5HWA7Y6X27BA/chunk725.js"
            ]
        },
        "GetGraph": {
            "http": {
                "method": "GET",
                "requestUri": "/graphs/{graphIdentifier}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "graphIdentifier"
                ],
                "members": {
                    "graphIdentifier": {
                        "location": "uri",
                        "locationName": "graphIdentifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "id",
                    "name",
                    "arn"
                ],
                "members": {
                    "id": {},
                    "name": {},
                    "arn": {},
                    "status": {},
                    "statusReason": {},
                    "createTime": {
                        "type": "timestamp"
                    },
                    "provisionedMemory": {
                        "type": "integer"
                    },
                    "endpoint": {},
                    "publicConnectivity": {
                        "type": "boolean"
                    },
                    "vectorSearchConfiguration": {
                        "shape": "Sg"
                    },
                    "replicaCount": {
                        "type": "integer"
                    },
                    "kmsKeyIdentifier": {},
                    "sourceSnapshotId": {},
                    "deletionProtection": {
                        "type": "boolean"
                    },
                    "buildNumber": {}
                }
            },
            "staticContextParams": {
                "ApiType": {
                    "value": "ControlPlane"
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3GBTWSX6BMQDM23QP75YGVX223BM6XALRUYKGWFVL7OO3LRVMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZAY2EXT7AOGEHTMRXTF27VBNIJG5AXNGDNKUN3TB5CSECHIR7QQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBE42PUNP6DE7WU6BSQWVSK6TYLXKDWTGK25O7LTISTRUOQFP5SQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/733CA44FHXV25GIXPF57VWBSWQ44IUQXXDQEVXI6XJYUDKWJEISQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZLLQZDI3APVXTAR5VCYVB7SRLH6AKTTRYZ7TXU7IHVOJIEPH6FQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PREPSSOIAH7B3YJVZPXZQXW6KBNP72HFLTXA254VJUA77WGBHCSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODFKGYX4BYO2BUQQQNG5FVUBVDG3HPQTT6V7YPEBAN6ZDGAY34PQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7OEC6TTRNSN726J2XLZHXTBIQQ3FOI2BFILQAW2D5XVHWRQ6UQA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FLSU237KQ7P2E2JET23WTFZVEEQ7OVTQLHXZR4Q6I5I4BFVRRB4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TZK7OCWKBPGUBWQQT632PNREKEJRC5AZNUHP346B5PWCPVU5IVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FN6C5MGJRSHZA63DE74CI75UDFBCWOM5TJPSHWUQ3G4MPIGXLTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7YYHZUZEVL4BMOWZVBAB7MG3R44FHJHWE6GDLE4UDGPFS5OLK5Q/chunk715.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWMUTEP7SZFYCHJQHBQXF3ZPX6MIG2J3TUGU5CFK5HWA7Y6X27BA/chunk725.js"
            ]
        },
        "GetGraphSnapshot": {
            "http": {
                "method": "GET",
                "requestUri": "/snapshots/{snapshotIdentifier}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "snapshotIdentifier"
                ],
                "members": {
                    "snapshotIdentifier": {
                        "location": "uri",
                        "locationName": "snapshotIdentifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "id",
                    "name",
                    "arn"
                ],
                "members": {
                    "id": {},
                    "name": {},
                    "arn": {},
                    "sourceGraphId": {},
                    "snapshotCreateTime": {
                        "type": "timestamp"
                    },
                    "status": {},
                    "kmsKeyIdentifier": {}
                }
            },
            "staticContextParams": {
                "ApiType": {
                    "value": "ControlPlane"
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3GBTWSX6BMQDM23QP75YGVX223BM6XALRUYKGWFVL7OO3LRVMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZAY2EXT7AOGEHTMRXTF27VBNIJG5AXNGDNKUN3TB5CSECHIR7QQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBE42PUNP6DE7WU6BSQWVSK6TYLXKDWTGK25O7LTISTRUOQFP5SQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/733CA44FHXV25GIXPF57VWBSWQ44IUQXXDQEVXI6XJYUDKWJEISQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZLLQZDI3APVXTAR5VCYVB7SRLH6AKTTRYZ7TXU7IHVOJIEPH6FQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PREPSSOIAH7B3YJVZPXZQXW6KBNP72HFLTXA254VJUA77WGBHCSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODFKGYX4BYO2BUQQQNG5FVUBVDG3HPQTT6V7YPEBAN6ZDGAY34PQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7OEC6TTRNSN726J2XLZHXTBIQQ3FOI2BFILQAW2D5XVHWRQ6UQA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FLSU237KQ7P2E2JET23WTFZVEEQ7OVTQLHXZR4Q6I5I4BFVRRB4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TZK7OCWKBPGUBWQQT632PNREKEJRC5AZNUHP346B5PWCPVU5IVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FN6C5MGJRSHZA63DE74CI75UDFBCWOM5TJPSHWUQ3G4MPIGXLTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7YYHZUZEVL4BMOWZVBAB7MG3R44FHJHWE6GDLE4UDGPFS5OLK5Q/chunk715.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWMUTEP7SZFYCHJQHBQXF3ZPX6MIG2J3TUGU5CFK5HWA7Y6X27BA/chunk725.js"
            ]
        },
        "GetImportTask": {
            "http": {
                "method": "GET",
                "requestUri": "/importtasks/{taskIdentifier}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "taskIdentifier"
                ],
                "members": {
                    "taskIdentifier": {
                        "location": "uri",
                        "locationName": "taskIdentifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "taskId",
                    "source",
                    "roleArn",
                    "status"
                ],
                "members": {
                    "graphId": {},
                    "taskId": {},
                    "source": {},
                    "format": {},
                    "roleArn": {},
                    "status": {},
                    "importOptions": {
                        "shape": "Su"
                    },
                    "importTaskDetails": {
                        "type": "structure",
                        "required": [
                            "status",
                            "startTime",
                            "timeElapsedSeconds",
                            "progressPercentage",
                            "errorCount",
                            "statementCount",
                            "dictionaryEntryCount"
                        ],
                        "members": {
                            "status": {},
                            "startTime": {
                                "type": "timestamp"
                            },
                            "timeElapsedSeconds": {
                                "type": "long"
                            },
                            "progressPercentage": {
                                "type": "integer"
                            },
                            "errorCount": {
                                "type": "integer"
                            },
                            "errorDetails": {},
                            "statementCount": {
                                "type": "long"
                            },
                            "dictionaryEntryCount": {
                                "type": "long"
                            }
                        }
                    },
                    "attemptNumber": {
                        "type": "integer"
                    },
                    "statusReason": {}
                }
            },
            "staticContextParams": {
                "ApiType": {
                    "value": "ControlPlane"
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3GBTWSX6BMQDM23QP75YGVX223BM6XALRUYKGWFVL7OO3LRVMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZAY2EXT7AOGEHTMRXTF27VBNIJG5AXNGDNKUN3TB5CSECHIR7QQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBE42PUNP6DE7WU6BSQWVSK6TYLXKDWTGK25O7LTISTRUOQFP5SQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/733CA44FHXV25GIXPF57VWBSWQ44IUQXXDQEVXI6XJYUDKWJEISQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZLLQZDI3APVXTAR5VCYVB7SRLH6AKTTRYZ7TXU7IHVOJIEPH6FQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PREPSSOIAH7B3YJVZPXZQXW6KBNP72HFLTXA254VJUA77WGBHCSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODFKGYX4BYO2BUQQQNG5FVUBVDG3HPQTT6V7YPEBAN6ZDGAY34PQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7OEC6TTRNSN726J2XLZHXTBIQQ3FOI2BFILQAW2D5XVHWRQ6UQA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FLSU237KQ7P2E2JET23WTFZVEEQ7OVTQLHXZR4Q6I5I4BFVRRB4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TZK7OCWKBPGUBWQQT632PNREKEJRC5AZNUHP346B5PWCPVU5IVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FN6C5MGJRSHZA63DE74CI75UDFBCWOM5TJPSHWUQ3G4MPIGXLTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7YYHZUZEVL4BMOWZVBAB7MG3R44FHJHWE6GDLE4UDGPFS5OLK5Q/chunk715.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWMUTEP7SZFYCHJQHBQXF3ZPX6MIG2J3TUGU5CFK5HWA7Y6X27BA/chunk725.js"
            ]
        },
        "GetPrivateGraphEndpoint": {
            "http": {
                "method": "GET",
                "requestUri": "/graphs/{graphIdentifier}/endpoints/{vpcId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "graphIdentifier",
                    "vpcId"
                ],
                "members": {
                    "graphIdentifier": {
                        "location": "uri",
                        "locationName": "graphIdentifier"
                    },
                    "vpcId": {
                        "location": "uri",
                        "locationName": "vpcId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "vpcId",
                    "subnetIds",
                    "status"
                ],
                "members": {
                    "vpcId": {},
                    "subnetIds": {
                        "shape": "S11"
                    },
                    "status": {},
                    "vpcEndpointId": {}
                }
            },
            "staticContextParams": {
                "ApiType": {
                    "value": "ControlPlane"
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3GBTWSX6BMQDM23QP75YGVX223BM6XALRUYKGWFVL7OO3LRVMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZAY2EXT7AOGEHTMRXTF27VBNIJG5AXNGDNKUN3TB5CSECHIR7QQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBE42PUNP6DE7WU6BSQWVSK6TYLXKDWTGK25O7LTISTRUOQFP5SQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/733CA44FHXV25GIXPF57VWBSWQ44IUQXXDQEVXI6XJYUDKWJEISQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZLLQZDI3APVXTAR5VCYVB7SRLH6AKTTRYZ7TXU7IHVOJIEPH6FQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PREPSSOIAH7B3YJVZPXZQXW6KBNP72HFLTXA254VJUA77WGBHCSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODFKGYX4BYO2BUQQQNG5FVUBVDG3HPQTT6V7YPEBAN6ZDGAY34PQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7OEC6TTRNSN726J2XLZHXTBIQQ3FOI2BFILQAW2D5XVHWRQ6UQA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FLSU237KQ7P2E2JET23WTFZVEEQ7OVTQLHXZR4Q6I5I4BFVRRB4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TZK7OCWKBPGUBWQQT632PNREKEJRC5AZNUHP346B5PWCPVU5IVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FN6C5MGJRSHZA63DE74CI75UDFBCWOM5TJPSHWUQ3G4MPIGXLTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7YYHZUZEVL4BMOWZVBAB7MG3R44FHJHWE6GDLE4UDGPFS5OLK5Q/chunk715.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWMUTEP7SZFYCHJQHBQXF3ZPX6MIG2J3TUGU5CFK5HWA7Y6X27BA/chunk725.js"
            ]
        },
        "ListGraphSnapshots": {
            "http": {
                "method": "GET",
                "requestUri": "/snapshots",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "graphIdentifier": {
                        "location": "querystring",
                        "locationName": "graphIdentifier"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "graphSnapshots"
                ],
                "members": {
                    "graphSnapshots": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "id",
                                "name",
                                "arn"
                            ],
                            "members": {
                                "id": {},
                                "name": {},
                                "arn": {},
                                "sourceGraphId": {},
                                "snapshotCreateTime": {
                                    "type": "timestamp"
                                },
                                "status": {},
                                "kmsKeyIdentifier": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "staticContextParams": {
                "ApiType": {
                    "value": "ControlPlane"
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3GBTWSX6BMQDM23QP75YGVX223BM6XALRUYKGWFVL7OO3LRVMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZAY2EXT7AOGEHTMRXTF27VBNIJG5AXNGDNKUN3TB5CSECHIR7QQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBE42PUNP6DE7WU6BSQWVSK6TYLXKDWTGK25O7LTISTRUOQFP5SQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/733CA44FHXV25GIXPF57VWBSWQ44IUQXXDQEVXI6XJYUDKWJEISQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZLLQZDI3APVXTAR5VCYVB7SRLH6AKTTRYZ7TXU7IHVOJIEPH6FQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PREPSSOIAH7B3YJVZPXZQXW6KBNP72HFLTXA254VJUA77WGBHCSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODFKGYX4BYO2BUQQQNG5FVUBVDG3HPQTT6V7YPEBAN6ZDGAY34PQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7OEC6TTRNSN726J2XLZHXTBIQQ3FOI2BFILQAW2D5XVHWRQ6UQA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FLSU237KQ7P2E2JET23WTFZVEEQ7OVTQLHXZR4Q6I5I4BFVRRB4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TZK7OCWKBPGUBWQQT632PNREKEJRC5AZNUHP346B5PWCPVU5IVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FN6C5MGJRSHZA63DE74CI75UDFBCWOM5TJPSHWUQ3G4MPIGXLTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7YYHZUZEVL4BMOWZVBAB7MG3R44FHJHWE6GDLE4UDGPFS5OLK5Q/chunk715.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWMUTEP7SZFYCHJQHBQXF3ZPX6MIG2J3TUGU5CFK5HWA7Y6X27BA/chunk725.js"
            ]
        },
        "ListGraphs": {
            "http": {
                "method": "GET",
                "requestUri": "/graphs",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "graphs"
                ],
                "members": {
                    "graphs": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "id",
                                "name",
                                "arn"
                            ],
                            "members": {
                                "id": {},
                                "name": {},
                                "arn": {},
                                "status": {},
                                "provisionedMemory": {
                                    "type": "integer"
                                },
                                "publicConnectivity": {
                                    "type": "boolean"
                                },
                                "endpoint": {},
                                "replicaCount": {
                                    "type": "integer"
                                },
                                "kmsKeyIdentifier": {},
                                "deletionProtection": {
                                    "type": "boolean"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "staticContextParams": {
                "ApiType": {
                    "value": "ControlPlane"
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3GBTWSX6BMQDM23QP75YGVX223BM6XALRUYKGWFVL7OO3LRVMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZAY2EXT7AOGEHTMRXTF27VBNIJG5AXNGDNKUN3TB5CSECHIR7QQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBE42PUNP6DE7WU6BSQWVSK6TYLXKDWTGK25O7LTISTRUOQFP5SQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/733CA44FHXV25GIXPF57VWBSWQ44IUQXXDQEVXI6XJYUDKWJEISQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZLLQZDI3APVXTAR5VCYVB7SRLH6AKTTRYZ7TXU7IHVOJIEPH6FQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PREPSSOIAH7B3YJVZPXZQXW6KBNP72HFLTXA254VJUA77WGBHCSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODFKGYX4BYO2BUQQQNG5FVUBVDG3HPQTT6V7YPEBAN6ZDGAY34PQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7OEC6TTRNSN726J2XLZHXTBIQQ3FOI2BFILQAW2D5XVHWRQ6UQA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FLSU237KQ7P2E2JET23WTFZVEEQ7OVTQLHXZR4Q6I5I4BFVRRB4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TZK7OCWKBPGUBWQQT632PNREKEJRC5AZNUHP346B5PWCPVU5IVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FN6C5MGJRSHZA63DE74CI75UDFBCWOM5TJPSHWUQ3G4MPIGXLTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7YYHZUZEVL4BMOWZVBAB7MG3R44FHJHWE6GDLE4UDGPFS5OLK5Q/chunk715.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWMUTEP7SZFYCHJQHBQXF3ZPX6MIG2J3TUGU5CFK5HWA7Y6X27BA/chunk725.js"
            ]
        },
        "ListImportTasks": {
            "http": {
                "method": "GET",
                "requestUri": "/importtasks",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "tasks"
                ],
                "members": {
                    "tasks": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "taskId",
                                "source",
                                "roleArn",
                                "status"
                            ],
                            "members": {
                                "graphId": {},
                                "taskId": {},
                                "source": {},
                                "format": {},
                                "roleArn": {},
                                "status": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "staticContextParams": {
                "ApiType": {
                    "value": "ControlPlane"
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3GBTWSX6BMQDM23QP75YGVX223BM6XALRUYKGWFVL7OO3LRVMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZAY2EXT7AOGEHTMRXTF27VBNIJG5AXNGDNKUN3TB5CSECHIR7QQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBE42PUNP6DE7WU6BSQWVSK6TYLXKDWTGK25O7LTISTRUOQFP5SQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/733CA44FHXV25GIXPF57VWBSWQ44IUQXXDQEVXI6XJYUDKWJEISQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZLLQZDI3APVXTAR5VCYVB7SRLH6AKTTRYZ7TXU7IHVOJIEPH6FQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PREPSSOIAH7B3YJVZPXZQXW6KBNP72HFLTXA254VJUA77WGBHCSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODFKGYX4BYO2BUQQQNG5FVUBVDG3HPQTT6V7YPEBAN6ZDGAY34PQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7OEC6TTRNSN726J2XLZHXTBIQQ3FOI2BFILQAW2D5XVHWRQ6UQA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FLSU237KQ7P2E2JET23WTFZVEEQ7OVTQLHXZR4Q6I5I4BFVRRB4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TZK7OCWKBPGUBWQQT632PNREKEJRC5AZNUHP346B5PWCPVU5IVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FN6C5MGJRSHZA63DE74CI75UDFBCWOM5TJPSHWUQ3G4MPIGXLTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7YYHZUZEVL4BMOWZVBAB7MG3R44FHJHWE6GDLE4UDGPFS5OLK5Q/chunk715.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWMUTEP7SZFYCHJQHBQXF3ZPX6MIG2J3TUGU5CFK5HWA7Y6X27BA/chunk725.js"
            ]
        },
        "ListPrivateGraphEndpoints": {
            "http": {
                "method": "GET",
                "requestUri": "/graphs/{graphIdentifier}/endpoints/",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "graphIdentifier"
                ],
                "members": {
                    "graphIdentifier": {
                        "location": "uri",
                        "locationName": "graphIdentifier"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "privateGraphEndpoints"
                ],
                "members": {
                    "privateGraphEndpoints": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "vpcId",
                                "subnetIds",
                                "status"
                            ],
                            "members": {
                                "vpcId": {},
                                "subnetIds": {
                                    "shape": "S11"
                                },
                                "status": {},
                                "vpcEndpointId": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "staticContextParams": {
                "ApiType": {
                    "value": "ControlPlane"
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3GBTWSX6BMQDM23QP75YGVX223BM6XALRUYKGWFVL7OO3LRVMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZAY2EXT7AOGEHTMRXTF27VBNIJG5AXNGDNKUN3TB5CSECHIR7QQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBE42PUNP6DE7WU6BSQWVSK6TYLXKDWTGK25O7LTISTRUOQFP5SQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/733CA44FHXV25GIXPF57VWBSWQ44IUQXXDQEVXI6XJYUDKWJEISQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZLLQZDI3APVXTAR5VCYVB7SRLH6AKTTRYZ7TXU7IHVOJIEPH6FQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PREPSSOIAH7B3YJVZPXZQXW6KBNP72HFLTXA254VJUA77WGBHCSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODFKGYX4BYO2BUQQQNG5FVUBVDG3HPQTT6V7YPEBAN6ZDGAY34PQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7OEC6TTRNSN726J2XLZHXTBIQQ3FOI2BFILQAW2D5XVHWRQ6UQA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FLSU237KQ7P2E2JET23WTFZVEEQ7OVTQLHXZR4Q6I5I4BFVRRB4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TZK7OCWKBPGUBWQQT632PNREKEJRC5AZNUHP346B5PWCPVU5IVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FN6C5MGJRSHZA63DE74CI75UDFBCWOM5TJPSHWUQ3G4MPIGXLTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7YYHZUZEVL4BMOWZVBAB7MG3R44FHJHWE6GDLE4UDGPFS5OLK5Q/chunk715.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWMUTEP7SZFYCHJQHBQXF3ZPX6MIG2J3TUGU5CFK5HWA7Y6X27BA/chunk725.js"
            ]
        },
        "ListTagsForResource": {
            "http": {
                "method": "GET",
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "tags": {
                        "shape": "Sb"
                    }
                }
            },
            "staticContextParams": {
                "ApiType": {
                    "value": "ControlPlane"
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3GBTWSX6BMQDM23QP75YGVX223BM6XALRUYKGWFVL7OO3LRVMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZAY2EXT7AOGEHTMRXTF27VBNIJG5AXNGDNKUN3TB5CSECHIR7QQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBE42PUNP6DE7WU6BSQWVSK6TYLXKDWTGK25O7LTISTRUOQFP5SQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/733CA44FHXV25GIXPF57VWBSWQ44IUQXXDQEVXI6XJYUDKWJEISQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZLLQZDI3APVXTAR5VCYVB7SRLH6AKTTRYZ7TXU7IHVOJIEPH6FQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PREPSSOIAH7B3YJVZPXZQXW6KBNP72HFLTXA254VJUA77WGBHCSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODFKGYX4BYO2BUQQQNG5FVUBVDG3HPQTT6V7YPEBAN6ZDGAY34PQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7OEC6TTRNSN726J2XLZHXTBIQQ3FOI2BFILQAW2D5XVHWRQ6UQA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FLSU237KQ7P2E2JET23WTFZVEEQ7OVTQLHXZR4Q6I5I4BFVRRB4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TZK7OCWKBPGUBWQQT632PNREKEJRC5AZNUHP346B5PWCPVU5IVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FN6C5MGJRSHZA63DE74CI75UDFBCWOM5TJPSHWUQ3G4MPIGXLTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7YYHZUZEVL4BMOWZVBAB7MG3R44FHJHWE6GDLE4UDGPFS5OLK5Q/chunk715.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWMUTEP7SZFYCHJQHBQXF3ZPX6MIG2J3TUGU5CFK5HWA7Y6X27BA/chunk725.js"
            ]
        },
        "ResetGraph": {
            "http": {
                "method": "PUT",
                "requestUri": "/graphs/{graphIdentifier}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "graphIdentifier",
                    "skipSnapshot"
                ],
                "members": {
                    "graphIdentifier": {
                        "location": "uri",
                        "locationName": "graphIdentifier"
                    },
                    "skipSnapshot": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "id",
                    "name",
                    "arn"
                ],
                "members": {
                    "id": {},
                    "name": {},
                    "arn": {},
                    "status": {},
                    "statusReason": {},
                    "createTime": {
                        "type": "timestamp"
                    },
                    "provisionedMemory": {
                        "type": "integer"
                    },
                    "endpoint": {},
                    "publicConnectivity": {
                        "type": "boolean"
                    },
                    "vectorSearchConfiguration": {
                        "shape": "Sg"
                    },
                    "replicaCount": {
                        "type": "integer"
                    },
                    "kmsKeyIdentifier": {},
                    "sourceSnapshotId": {},
                    "deletionProtection": {
                        "type": "boolean"
                    },
                    "buildNumber": {}
                }
            },
            "staticContextParams": {
                "ApiType": {
                    "value": "ControlPlane"
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3GBTWSX6BMQDM23QP75YGVX223BM6XALRUYKGWFVL7OO3LRVMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZAY2EXT7AOGEHTMRXTF27VBNIJG5AXNGDNKUN3TB5CSECHIR7QQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBE42PUNP6DE7WU6BSQWVSK6TYLXKDWTGK25O7LTISTRUOQFP5SQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/733CA44FHXV25GIXPF57VWBSWQ44IUQXXDQEVXI6XJYUDKWJEISQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZLLQZDI3APVXTAR5VCYVB7SRLH6AKTTRYZ7TXU7IHVOJIEPH6FQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PREPSSOIAH7B3YJVZPXZQXW6KBNP72HFLTXA254VJUA77WGBHCSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODFKGYX4BYO2BUQQQNG5FVUBVDG3HPQTT6V7YPEBAN6ZDGAY34PQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7OEC6TTRNSN726J2XLZHXTBIQQ3FOI2BFILQAW2D5XVHWRQ6UQA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FLSU237KQ7P2E2JET23WTFZVEEQ7OVTQLHXZR4Q6I5I4BFVRRB4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TZK7OCWKBPGUBWQQT632PNREKEJRC5AZNUHP346B5PWCPVU5IVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FN6C5MGJRSHZA63DE74CI75UDFBCWOM5TJPSHWUQ3G4MPIGXLTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7YYHZUZEVL4BMOWZVBAB7MG3R44FHJHWE6GDLE4UDGPFS5OLK5Q/chunk715.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWMUTEP7SZFYCHJQHBQXF3ZPX6MIG2J3TUGU5CFK5HWA7Y6X27BA/chunk725.js"
            ]
        },
        "RestoreGraphFromSnapshot": {
            "http": {
                "requestUri": "/snapshots/{snapshotIdentifier}/restore",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "snapshotIdentifier",
                    "graphName"
                ],
                "members": {
                    "snapshotIdentifier": {
                        "location": "uri",
                        "locationName": "snapshotIdentifier"
                    },
                    "graphName": {},
                    "provisionedMemory": {
                        "type": "integer"
                    },
                    "deletionProtection": {
                        "type": "boolean"
                    },
                    "tags": {
                        "shape": "Sb"
                    },
                    "replicaCount": {
                        "type": "integer"
                    },
                    "publicConnectivity": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "id",
                    "name",
                    "arn"
                ],
                "members": {
                    "id": {},
                    "name": {},
                    "arn": {},
                    "status": {},
                    "statusReason": {},
                    "createTime": {
                        "type": "timestamp"
                    },
                    "provisionedMemory": {
                        "type": "integer"
                    },
                    "endpoint": {},
                    "publicConnectivity": {
                        "type": "boolean"
                    },
                    "vectorSearchConfiguration": {
                        "shape": "Sg"
                    },
                    "replicaCount": {
                        "type": "integer"
                    },
                    "kmsKeyIdentifier": {},
                    "sourceSnapshotId": {},
                    "deletionProtection": {
                        "type": "boolean"
                    },
                    "buildNumber": {}
                }
            },
            "staticContextParams": {
                "ApiType": {
                    "value": "ControlPlane"
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3GBTWSX6BMQDM23QP75YGVX223BM6XALRUYKGWFVL7OO3LRVMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZAY2EXT7AOGEHTMRXTF27VBNIJG5AXNGDNKUN3TB5CSECHIR7QQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBE42PUNP6DE7WU6BSQWVSK6TYLXKDWTGK25O7LTISTRUOQFP5SQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/733CA44FHXV25GIXPF57VWBSWQ44IUQXXDQEVXI6XJYUDKWJEISQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZLLQZDI3APVXTAR5VCYVB7SRLH6AKTTRYZ7TXU7IHVOJIEPH6FQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PREPSSOIAH7B3YJVZPXZQXW6KBNP72HFLTXA254VJUA77WGBHCSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODFKGYX4BYO2BUQQQNG5FVUBVDG3HPQTT6V7YPEBAN6ZDGAY34PQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7OEC6TTRNSN726J2XLZHXTBIQQ3FOI2BFILQAW2D5XVHWRQ6UQA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FLSU237KQ7P2E2JET23WTFZVEEQ7OVTQLHXZR4Q6I5I4BFVRRB4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TZK7OCWKBPGUBWQQT632PNREKEJRC5AZNUHP346B5PWCPVU5IVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FN6C5MGJRSHZA63DE74CI75UDFBCWOM5TJPSHWUQ3G4MPIGXLTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7YYHZUZEVL4BMOWZVBAB7MG3R44FHJHWE6GDLE4UDGPFS5OLK5Q/chunk715.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWMUTEP7SZFYCHJQHBQXF3ZPX6MIG2J3TUGU5CFK5HWA7Y6X27BA/chunk725.js"
            ]
        },
        "TagResource": {
            "http": {
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "tags"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    },
                    "tags": {
                        "shape": "Sb"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "staticContextParams": {
                "ApiType": {
                    "value": "ControlPlane"
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3GBTWSX6BMQDM23QP75YGVX223BM6XALRUYKGWFVL7OO3LRVMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZAY2EXT7AOGEHTMRXTF27VBNIJG5AXNGDNKUN3TB5CSECHIR7QQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBE42PUNP6DE7WU6BSQWVSK6TYLXKDWTGK25O7LTISTRUOQFP5SQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/733CA44FHXV25GIXPF57VWBSWQ44IUQXXDQEVXI6XJYUDKWJEISQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZLLQZDI3APVXTAR5VCYVB7SRLH6AKTTRYZ7TXU7IHVOJIEPH6FQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PREPSSOIAH7B3YJVZPXZQXW6KBNP72HFLTXA254VJUA77WGBHCSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODFKGYX4BYO2BUQQQNG5FVUBVDG3HPQTT6V7YPEBAN6ZDGAY34PQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7OEC6TTRNSN726J2XLZHXTBIQQ3FOI2BFILQAW2D5XVHWRQ6UQA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FLSU237KQ7P2E2JET23WTFZVEEQ7OVTQLHXZR4Q6I5I4BFVRRB4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TZK7OCWKBPGUBWQQT632PNREKEJRC5AZNUHP346B5PWCPVU5IVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FN6C5MGJRSHZA63DE74CI75UDFBCWOM5TJPSHWUQ3G4MPIGXLTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7YYHZUZEVL4BMOWZVBAB7MG3R44FHJHWE6GDLE4UDGPFS5OLK5Q/chunk715.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWMUTEP7SZFYCHJQHBQXF3ZPX6MIG2J3TUGU5CFK5HWA7Y6X27BA/chunk725.js"
            ]
        },
        "UntagResource": {
            "http": {
                "method": "DELETE",
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "tagKeys"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    },
                    "tagKeys": {
                        "location": "querystring",
                        "locationName": "tagKeys",
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "staticContextParams": {
                "ApiType": {
                    "value": "ControlPlane"
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3GBTWSX6BMQDM23QP75YGVX223BM6XALRUYKGWFVL7OO3LRVMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZAY2EXT7AOGEHTMRXTF27VBNIJG5AXNGDNKUN3TB5CSECHIR7QQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBE42PUNP6DE7WU6BSQWVSK6TYLXKDWTGK25O7LTISTRUOQFP5SQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/733CA44FHXV25GIXPF57VWBSWQ44IUQXXDQEVXI6XJYUDKWJEISQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZLLQZDI3APVXTAR5VCYVB7SRLH6AKTTRYZ7TXU7IHVOJIEPH6FQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PREPSSOIAH7B3YJVZPXZQXW6KBNP72HFLTXA254VJUA77WGBHCSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODFKGYX4BYO2BUQQQNG5FVUBVDG3HPQTT6V7YPEBAN6ZDGAY34PQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7OEC6TTRNSN726J2XLZHXTBIQQ3FOI2BFILQAW2D5XVHWRQ6UQA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FLSU237KQ7P2E2JET23WTFZVEEQ7OVTQLHXZR4Q6I5I4BFVRRB4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TZK7OCWKBPGUBWQQT632PNREKEJRC5AZNUHP346B5PWCPVU5IVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FN6C5MGJRSHZA63DE74CI75UDFBCWOM5TJPSHWUQ3G4MPIGXLTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7YYHZUZEVL4BMOWZVBAB7MG3R44FHJHWE6GDLE4UDGPFS5OLK5Q/chunk715.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWMUTEP7SZFYCHJQHBQXF3ZPX6MIG2J3TUGU5CFK5HWA7Y6X27BA/chunk725.js"
            ]
        },
        "UpdateGraph": {
            "http": {
                "method": "PATCH",
                "requestUri": "/graphs/{graphIdentifier}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "graphIdentifier"
                ],
                "members": {
                    "graphIdentifier": {
                        "location": "uri",
                        "locationName": "graphIdentifier"
                    },
                    "publicConnectivity": {
                        "type": "boolean"
                    },
                    "provisionedMemory": {
                        "type": "integer"
                    },
                    "deletionProtection": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "id",
                    "name",
                    "arn"
                ],
                "members": {
                    "id": {},
                    "name": {},
                    "arn": {},
                    "status": {},
                    "statusReason": {},
                    "createTime": {
                        "type": "timestamp"
                    },
                    "provisionedMemory": {
                        "type": "integer"
                    },
                    "endpoint": {},
                    "publicConnectivity": {
                        "type": "boolean"
                    },
                    "vectorSearchConfiguration": {
                        "shape": "Sg"
                    },
                    "replicaCount": {
                        "type": "integer"
                    },
                    "kmsKeyIdentifier": {},
                    "sourceSnapshotId": {},
                    "deletionProtection": {
                        "type": "boolean"
                    },
                    "buildNumber": {}
                }
            },
            "staticContextParams": {
                "ApiType": {
                    "value": "ControlPlane"
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3GBTWSX6BMQDM23QP75YGVX223BM6XALRUYKGWFVL7OO3LRVMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZAY2EXT7AOGEHTMRXTF27VBNIJG5AXNGDNKUN3TB5CSECHIR7QQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBE42PUNP6DE7WU6BSQWVSK6TYLXKDWTGK25O7LTISTRUOQFP5SQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/733CA44FHXV25GIXPF57VWBSWQ44IUQXXDQEVXI6XJYUDKWJEISQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZLLQZDI3APVXTAR5VCYVB7SRLH6AKTTRYZ7TXU7IHVOJIEPH6FQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PREPSSOIAH7B3YJVZPXZQXW6KBNP72HFLTXA254VJUA77WGBHCSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODFKGYX4BYO2BUQQQNG5FVUBVDG3HPQTT6V7YPEBAN6ZDGAY34PQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7OEC6TTRNSN726J2XLZHXTBIQQ3FOI2BFILQAW2D5XVHWRQ6UQA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FLSU237KQ7P2E2JET23WTFZVEEQ7OVTQLHXZR4Q6I5I4BFVRRB4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TZK7OCWKBPGUBWQQT632PNREKEJRC5AZNUHP346B5PWCPVU5IVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FN6C5MGJRSHZA63DE74CI75UDFBCWOM5TJPSHWUQ3G4MPIGXLTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7YYHZUZEVL4BMOWZVBAB7MG3R44FHJHWE6GDLE4UDGPFS5OLK5Q/chunk715.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWMUTEP7SZFYCHJQHBQXF3ZPX6MIG2J3TUGU5CFK5HWA7Y6X27BA/chunk725.js"
            ]
        },
        "CancelOpenCypherQuery": {
            "http": {
                "method": "DELETE",
                "requestUri": "/opencypher/status/{queryId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "graphId",
                    "queryId"
                ],
                "members": {
                    "graphId": {
                        "hostLabel": true,
                        "location": "header",
                        "locationName": "graphId"
                    },
                    "queryId": {
                        "location": "uri",
                        "locationName": "queryId"
                    },
                    "silent": {
                        "location": "querystring",
                        "locationName": "silent",
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "status": {},
                    "payload": {
                        "type": "boolean"
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "{graphId}."
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7YYHZUZEVL4BMOWZVBAB7MG3R44FHJHWE6GDLE4UDGPFS5OLK5Q/chunk715.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWMUTEP7SZFYCHJQHBQXF3ZPX6MIG2J3TUGU5CFK5HWA7Y6X27BA/chunk725.js"
            ]
        },
        "CreateGraphInternal": {
            "http": {
                "requestUri": "/graphs-internal",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "graphName",
                    "provisionedMemory"
                ],
                "members": {
                    "graphName": {},
                    "tags": {
                        "shape": "Se"
                    },
                    "publicConnectivity": {
                        "type": "boolean"
                    },
                    "kmsKeyIdentifier": {},
                    "vectorSearchConfiguration": {
                        "shape": "Si"
                    },
                    "replicaCount": {
                        "type": "integer"
                    },
                    "deletionProtection": {
                        "type": "boolean"
                    },
                    "instanceType": {
                        "internalonly": true
                    },
                    "engineVersion": {
                        "internalonly": true
                    },
                    "imageOverrides": {
                        "shape": "Sl",
                        "internalonly": true
                    },
                    "engineCheckpointTypeOverride": {
                        "type": "string",
                        "internalonly": true
                    },
                    "engineDurableLogTypeOverride": {
                        "type": "string",
                        "internalonly": true
                    },
                    "processTopology": {
                        "type": "string",
                        "internalonly": true
                    },
                    "provisionedMemory": {
                        "type": "integer"
                    }
                },
                "internalonly": true
            },
            "output": {
                "type": "structure",
                "required": [
                    "id",
                    "name",
                    "arn"
                ],
                "members": {
                    "id": {},
                    "name": {},
                    "arn": {},
                    "status": {},
                    "statusReason": {},
                    "createTime": {
                        "type": "timestamp"
                    },
                    "provisionedMemory": {
                        "type": "integer"
                    },
                    "endpoint": {},
                    "publicConnectivity": {
                        "type": "boolean"
                    },
                    "vectorSearchConfiguration": {
                        "shape": "Si"
                    },
                    "replicaCount": {
                        "type": "integer"
                    },
                    "kmsKeyIdentifier": {},
                    "sourceSnapshotId": {},
                    "deletionProtection": {
                        "type": "boolean"
                    },
                    "buildNumber": {},
                    "engineVersion": {
                        "internalonly": true
                    },
                    "engineCheckpointType": {
                        "internalonly": true
                    },
                    "engineDurableLogType": {
                        "internalonly": true
                    },
                    "processTopology": {
                        "internalonly": true
                    }
                },
                "internalonly": true
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7YYHZUZEVL4BMOWZVBAB7MG3R44FHJHWE6GDLE4UDGPFS5OLK5Q/chunk715.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWMUTEP7SZFYCHJQHBQXF3ZPX6MIG2J3TUGU5CFK5HWA7Y6X27BA/chunk725.js"
            ]
        },
        "ExecuteOpenCypherExplainQuery": {
            "http": {
                "requestUri": "/opencypher/explain",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "openCypherQuery",
                    "graphId",
                    "explainMode"
                ],
                "members": {
                    "openCypherQuery": {
                        "locationName": "query"
                    },
                    "parameters": {},
                    "planCache": {},
                    "queryTimeout": {
                        "location": "header",
                        "locationName": "query_timeout_millis",
                        "type": "long"
                    },
                    "graphId": {
                        "hostLabel": true,
                        "location": "header",
                        "locationName": "graphId"
                    },
                    "explainMode": {
                        "locationName": "explain"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "results"
                ],
                "members": {
                    "results": {
                        "type": "blob"
                    }
                },
                "payload": "results"
            },
            "endpoint": {
                "hostPrefix": "{graphId}."
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7YYHZUZEVL4BMOWZVBAB7MG3R44FHJHWE6GDLE4UDGPFS5OLK5Q/chunk715.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWMUTEP7SZFYCHJQHBQXF3ZPX6MIG2J3TUGU5CFK5HWA7Y6X27BA/chunk725.js"
            ]
        },
        "ExecuteOpenCypherQuery": {
            "http": {
                "requestUri": "/opencypher",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "openCypherQuery",
                    "graphId"
                ],
                "members": {
                    "openCypherQuery": {
                        "locationName": "query"
                    },
                    "parameters": {},
                    "planCache": {},
                    "queryTimeout": {
                        "location": "header",
                        "locationName": "query_timeout_millis",
                        "type": "long"
                    },
                    "graphId": {
                        "hostLabel": true,
                        "location": "header",
                        "locationName": "graphId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "results"
                ],
                "members": {
                    "results": {
                        "shape": "S1w"
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "{graphId}."
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7YYHZUZEVL4BMOWZVBAB7MG3R44FHJHWE6GDLE4UDGPFS5OLK5Q/chunk715.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWMUTEP7SZFYCHJQHBQXF3ZPX6MIG2J3TUGU5CFK5HWA7Y6X27BA/chunk725.js"
            ]
        },
        "GetEngineStatus": {
            "http": {
                "method": "GET",
                "requestUri": "/status",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "graphId"
                ],
                "members": {
                    "graphId": {
                        "hostLabel": true,
                        "location": "header",
                        "locationName": "graphId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "status": {},
                    "opencypher": {
                        "type": "structure",
                        "required": [
                            "version"
                        ],
                        "members": {
                            "version": {}
                        }
                    },
                    "features": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "shape": "S1w"
                        }
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "{graphId}."
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7YYHZUZEVL4BMOWZVBAB7MG3R44FHJHWE6GDLE4UDGPFS5OLK5Q/chunk715.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWMUTEP7SZFYCHJQHBQXF3ZPX6MIG2J3TUGU5CFK5HWA7Y6X27BA/chunk725.js"
            ]
        },
        "GetOpenCypherQueryStatus": {
            "http": {
                "requestUri": "/opencypher/status/{queryId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "graphId",
                    "queryId"
                ],
                "members": {
                    "graphId": {
                        "hostLabel": true,
                        "location": "header",
                        "locationName": "graphId"
                    },
                    "queryId": {
                        "location": "uri",
                        "locationName": "queryId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "queryId": {},
                    "queryString": {},
                    "queryEvalStats": {
                        "shape": "S2b"
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "{graphId}."
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7YYHZUZEVL4BMOWZVBAB7MG3R44FHJHWE6GDLE4UDGPFS5OLK5Q/chunk715.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWMUTEP7SZFYCHJQHBQXF3ZPX6MIG2J3TUGU5CFK5HWA7Y6X27BA/chunk725.js"
            ]
        },
        "GetPropertyGraphSummary": {
            "http": {
                "method": "GET",
                "requestUri": "/propertygraph/statistics/summary",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "graphId"
                ],
                "members": {
                    "mode": {
                        "location": "querystring",
                        "locationName": "mode"
                    },
                    "graphId": {
                        "hostLabel": true,
                        "location": "header",
                        "locationName": "graphId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "statusCode": {
                        "location": "statusCode",
                        "type": "integer"
                    },
                    "payload": {
                        "type": "structure",
                        "members": {
                            "version": {},
                            "lastStatisticsComputationTime": {
                                "shape": "S2i"
                            },
                            "graphSummary": {
                                "type": "structure",
                                "members": {
                                    "numNodes": {
                                        "type": "long"
                                    },
                                    "numEdges": {
                                        "type": "long"
                                    },
                                    "numNodeLabels": {
                                        "type": "long"
                                    },
                                    "numEdgeLabels": {
                                        "type": "long"
                                    },
                                    "nodeLabels": {
                                        "type": "list",
                                        "member": {}
                                    },
                                    "edgeLabels": {
                                        "type": "list",
                                        "member": {}
                                    },
                                    "numNodeProperties": {
                                        "type": "long"
                                    },
                                    "numEdgeProperties": {
                                        "type": "long"
                                    },
                                    "nodeProperties": {
                                        "shape": "S2m"
                                    },
                                    "edgeProperties": {
                                        "shape": "S2m"
                                    },
                                    "totalNodePropertyValues": {
                                        "type": "long"
                                    },
                                    "totalEdgePropertyValues": {
                                        "type": "long"
                                    },
                                    "nodeStructures": {
                                        "type": "list",
                                        "member": {
                                            "type": "structure",
                                            "members": {
                                                "count": {
                                                    "type": "long"
                                                },
                                                "nodeProperties": {
                                                    "type": "list",
                                                    "member": {}
                                                },
                                                "distinctOutgoingEdgeLabels": {
                                                    "type": "list",
                                                    "member": {}
                                                }
                                            }
                                        }
                                    },
                                    "edgeStructures": {
                                        "type": "list",
                                        "member": {
                                            "type": "structure",
                                            "members": {
                                                "count": {
                                                    "type": "long"
                                                },
                                                "edgeProperties": {
                                                    "type": "list",
                                                    "member": {}
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "{graphId}."
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7YYHZUZEVL4BMOWZVBAB7MG3R44FHJHWE6GDLE4UDGPFS5OLK5Q/chunk715.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWMUTEP7SZFYCHJQHBQXF3ZPX6MIG2J3TUGU5CFK5HWA7Y6X27BA/chunk725.js"
            ]
        },
        "GetStatistics": {
            "http": {
                "method": "GET",
                "requestUri": "/statistics",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "graphId"
                ],
                "members": {
                    "graphId": {
                        "hostLabel": true,
                        "location": "header",
                        "locationName": "graphId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "status",
                    "payload"
                ],
                "members": {
                    "status": {},
                    "payload": {
                        "type": "structure",
                        "members": {
                            "autoCompute": {
                                "type": "boolean"
                            },
                            "active": {
[...]
