{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2023-11-29",
        "endpointPrefix": "neptune-graph",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "ripServiceName": "neptune-graph",
        "serviceAbbreviation": "Neptune Graph",
        "serviceFullName": "Amazon Neptune Graph",
        "serviceId": "Neptune Graph",
        "signatureVersion": "v4",
        "signingName": "neptune-graph",
        "uid": "neptune-graph-2023-11-29",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/QLIGOUGDFWRBS26WTRPSNH2VYQHAZH5O6JXFL4OMSEPF2JMSEYEQ/chunk763.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4BJ7HVRH3RMA3JSADNXKWJIGRB5LBFJUJY3JOLRGSUN7M44CH7BQ/chunk559.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MDNBT2JIOWSDCTHUXMIFGWOXHRQZT3XCGRDMC6GE2O7NQFAOQBOQ/chunk96.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZKDXWYHWXMV4NGLOMTVKGEYTNJ5ZR46ZRXKVYH3NRC42UNZYWLPA/chunk613.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AMQJ5OHZJEILK5O5EHO6TEOLJMKINAVB2JE5KX5R4WHW5P47ZVHA/chunk534.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UWXFKYY7DWJYRZROSJ2ETUSKWZEDEBGZOAMY456J2XDLZWNRIUSA/chunk534.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UXVSCBFZLDPNY2NP2QJYCXCF44AD7OMCFC46DFUMUSGGRD4PR7EQ/chunk534.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UQXGYL5VKJDHHKIUYZAEC4IJQIYY42H5LVY4OVXWAHVU4Y3K3BGA/chunk534.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SEJ7TGLRFCDM7H5OI6XACRUSYXHFPAPSQVK5SCYAQBJCHHFT2SKA/chunk534.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XARMELI3AS3U2PSO6TPDL2JYLZXORJ52XXO25RX47IT5CNLTELEQ/chunk336.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MUJ6OTOQPJPUZURMECIAZTUUS4PPFRG3LNCOLBTX3WDRQGHZZQWA/chunk336.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5BNOJP5STVJPJCPRHBUYOYW45M5ZTRO6KS6DAFX5HDHXDYL3UOZQ/chunk915.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6CIZPBE4HRVGFHDBUDHJLOX2UKUV7CZ7UAVOIOPKMCU4CEVCIHYA/chunk915.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CARZ2GGVU5C7QWKZFWFFSAF6LFJQGN7QO7RUGC7J7EGIGJ54TG5A/chunk915.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OLQHBOFZOSDSVQGY5EAMTKRWEQWCL73FGQGZ4FYFFYJYLN6XQ7DQ/chunk917.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FDR3WIWA6BC3ZXCJREYIH4AEN7OCFNLZYFGFNPDLJL7Q7Z2RYPPQ/chunk168.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6RMWFJ5ZK6GJF2J2N5MXMW3DVYKTUCQWXZQ4OV7FUMW2DYT3B3UQ/chunk459.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LMKCQMADKU2H64XDF6O5TFHYCHGGY3E5PPZVIZALBUILSEBWDFBA/chunk459.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2YHQSAXVEOUUAW4SAIQIOXPK2MJHXT65N2GWZB6SQXJMPEFGNNPA/chunk332.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/45QLRSCJODUC46WS3NXI4GMYHZ7OBGY62W6MIYZHQOKDMDPYA4PQ/chunk292.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YOPKD2P7E5PQ2LP6X6FBRHVC3O6RHCYNZHNKDDMLC6WQGLBPBZFA/chunk987.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DN42T5DNDWRKXY2D5W6YXR77KCZPSG4QYIUC7ID4EKQAHPCJBDCQ/chunk7.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PUJ7LL5IJZF5H572MO43SDK532S7LP4Z3GSA6J4HA7JNR36HHFMQ/chunk240.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EQ2QVQXWQ3NFP7E4OX65CBXYUTWBEY2KXQ2B36QAUL3JLKYOHMPQ/chunk102.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CVJVYQWKZWF4EZU6C7ERWKK4QQEW7FO6Z7WBW772LUCTUOSXASRQ/chunk507.js"
        ]
    },
    "operations": {
        "CancelImportTask": {
            "http": {
                "method": "DELETE",
                "requestUri": "/importtasks/{taskIdentifier}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "taskIdentifier"
                ],
                "members": {
                    "taskIdentifier": {
                        "location": "uri",
                        "locationName": "taskIdentifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "taskId",
                    "source",
                    "roleArn",
                    "status"
                ],
                "members": {
                    "graphId": {},
                    "taskId": {},
                    "source": {},
                    "format": {},
                    "roleArn": {},
                    "status": {}
                }
            },
            "staticContextParams": {
                "ApiType": {
                    "value": "ControlPlane"
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BJ7HVRH3RMA3JSADNXKWJIGRB5LBFJUJY3JOLRGSUN7M44CH7BQ/chunk559.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MDNBT2JIOWSDCTHUXMIFGWOXHRQZT3XCGRDMC6GE2O7NQFAOQBOQ/chunk96.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKDXWYHWXMV4NGLOMTVKGEYTNJ5ZR46ZRXKVYH3NRC42UNZYWLPA/chunk613.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMQJ5OHZJEILK5O5EHO6TEOLJMKINAVB2JE5KX5R4WHW5P47ZVHA/chunk534.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWXFKYY7DWJYRZROSJ2ETUSKWZEDEBGZOAMY456J2XDLZWNRIUSA/chunk534.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXVSCBFZLDPNY2NP2QJYCXCF44AD7OMCFC46DFUMUSGGRD4PR7EQ/chunk534.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UQXGYL5VKJDHHKIUYZAEC4IJQIYY42H5LVY4OVXWAHVU4Y3K3BGA/chunk534.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SEJ7TGLRFCDM7H5OI6XACRUSYXHFPAPSQVK5SCYAQBJCHHFT2SKA/chunk534.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XARMELI3AS3U2PSO6TPDL2JYLZXORJ52XXO25RX47IT5CNLTELEQ/chunk336.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUJ6OTOQPJPUZURMECIAZTUUS4PPFRG3LNCOLBTX3WDRQGHZZQWA/chunk336.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BNOJP5STVJPJCPRHBUYOYW45M5ZTRO6KS6DAFX5HDHXDYL3UOZQ/chunk915.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6CIZPBE4HRVGFHDBUDHJLOX2UKUV7CZ7UAVOIOPKMCU4CEVCIHYA/chunk915.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CARZ2GGVU5C7QWKZFWFFSAF6LFJQGN7QO7RUGC7J7EGIGJ54TG5A/chunk915.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLQHBOFZOSDSVQGY5EAMTKRWEQWCL73FGQGZ4FYFFYJYLN6XQ7DQ/chunk917.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDR3WIWA6BC3ZXCJREYIH4AEN7OCFNLZYFGFNPDLJL7Q7Z2RYPPQ/chunk168.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6RMWFJ5ZK6GJF2J2N5MXMW3DVYKTUCQWXZQ4OV7FUMW2DYT3B3UQ/chunk459.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LMKCQMADKU2H64XDF6O5TFHYCHGGY3E5PPZVIZALBUILSEBWDFBA/chunk459.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YHQSAXVEOUUAW4SAIQIOXPK2MJHXT65N2GWZB6SQXJMPEFGNNPA/chunk332.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45QLRSCJODUC46WS3NXI4GMYHZ7OBGY62W6MIYZHQOKDMDPYA4PQ/chunk292.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOPKD2P7E5PQ2LP6X6FBRHVC3O6RHCYNZHNKDDMLC6WQGLBPBZFA/chunk987.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DN42T5DNDWRKXY2D5W6YXR77KCZPSG4QYIUC7ID4EKQAHPCJBDCQ/chunk7.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUJ7LL5IJZF5H572MO43SDK532S7LP4Z3GSA6J4HA7JNR36HHFMQ/chunk240.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQ2QVQXWQ3NFP7E4OX65CBXYUTWBEY2KXQ2B36QAUL3JLKYOHMPQ/chunk102.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVJVYQWKZWF4EZU6C7ERWKK4QQEW7FO6Z7WBW772LUCTUOSXASRQ/chunk507.js"
            ]
        },
        "CreateGraph": {
            "http": {
                "requestUri": "/graphs",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "graphName",
                    "provisionedMemory"
                ],
                "members": {
                    "graphName": {},
                    "tags": {
                        "shape": "Sb"
                    },
                    "publicConnectivity": {
                        "type": "boolean"
                    },
                    "kmsKeyIdentifier": {},
                    "vectorSearchConfiguration": {
                        "shape": "Sg"
                    },
                    "replicaCount": {
                        "type": "integer"
                    },
                    "deletionProtection": {
                        "type": "boolean"
                    },
                    "provisionedMemory": {
                        "type": "integer"
                    },
                    "instanceType": {
                        "internalonly": true
                    },
                    "engineVersion": {
                        "internalonly": true
                    },
                    "imageOverrides": {
                        "shape": "Sl",
                        "internalonly": true
                    },
                    "configFlags": {
                        "shape": "Sx",
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "id",
                    "name",
                    "arn"
                ],
                "members": {
                    "id": {},
                    "name": {},
                    "arn": {},
                    "status": {},
                    "statusReason": {},
                    "createTime": {
                        "type": "timestamp"
                    },
                    "provisionedMemory": {
                        "type": "integer"
                    },
                    "endpoint": {},
                    "publicConnectivity": {
                        "type": "boolean"
                    },
                    "vectorSearchConfiguration": {
                        "shape": "Sg"
                    },
                    "replicaCount": {
                        "type": "integer"
                    },
                    "kmsKeyIdentifier": {},
                    "sourceSnapshotId": {},
                    "deletionProtection": {
                        "type": "boolean"
                    },
                    "buildNumber": {}
                }
            },
            "staticContextParams": {
                "ApiType": {
                    "value": "ControlPlane"
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BJ7HVRH3RMA3JSADNXKWJIGRB5LBFJUJY3JOLRGSUN7M44CH7BQ/chunk559.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MDNBT2JIOWSDCTHUXMIFGWOXHRQZT3XCGRDMC6GE2O7NQFAOQBOQ/chunk96.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKDXWYHWXMV4NGLOMTVKGEYTNJ5ZR46ZRXKVYH3NRC42UNZYWLPA/chunk613.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMQJ5OHZJEILK5O5EHO6TEOLJMKINAVB2JE5KX5R4WHW5P47ZVHA/chunk534.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWXFKYY7DWJYRZROSJ2ETUSKWZEDEBGZOAMY456J2XDLZWNRIUSA/chunk534.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXVSCBFZLDPNY2NP2QJYCXCF44AD7OMCFC46DFUMUSGGRD4PR7EQ/chunk534.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UQXGYL5VKJDHHKIUYZAEC4IJQIYY42H5LVY4OVXWAHVU4Y3K3BGA/chunk534.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SEJ7TGLRFCDM7H5OI6XACRUSYXHFPAPSQVK5SCYAQBJCHHFT2SKA/chunk534.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XARMELI3AS3U2PSO6TPDL2JYLZXORJ52XXO25RX47IT5CNLTELEQ/chunk336.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUJ6OTOQPJPUZURMECIAZTUUS4PPFRG3LNCOLBTX3WDRQGHZZQWA/chunk336.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BNOJP5STVJPJCPRHBUYOYW45M5ZTRO6KS6DAFX5HDHXDYL3UOZQ/chunk915.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6CIZPBE4HRVGFHDBUDHJLOX2UKUV7CZ7UAVOIOPKMCU4CEVCIHYA/chunk915.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CARZ2GGVU5C7QWKZFWFFSAF6LFJQGN7QO7RUGC7J7EGIGJ54TG5A/chunk915.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLQHBOFZOSDSVQGY5EAMTKRWEQWCL73FGQGZ4FYFFYJYLN6XQ7DQ/chunk917.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDR3WIWA6BC3ZXCJREYIH4AEN7OCFNLZYFGFNPDLJL7Q7Z2RYPPQ/chunk168.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6RMWFJ5ZK6GJF2J2N5MXMW3DVYKTUCQWXZQ4OV7FUMW2DYT3B3UQ/chunk459.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LMKCQMADKU2H64XDF6O5TFHYCHGGY3E5PPZVIZALBUILSEBWDFBA/chunk459.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YHQSAXVEOUUAW4SAIQIOXPK2MJHXT65N2GWZB6SQXJMPEFGNNPA/chunk332.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45QLRSCJODUC46WS3NXI4GMYHZ7OBGY62W6MIYZHQOKDMDPYA4PQ/chunk292.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOPKD2P7E5PQ2LP6X6FBRHVC3O6RHCYNZHNKDDMLC6WQGLBPBZFA/chunk987.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DN42T5DNDWRKXY2D5W6YXR77KCZPSG4QYIUC7ID4EKQAHPCJBDCQ/chunk7.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUJ7LL5IJZF5H572MO43SDK532S7LP4Z3GSA6J4HA7JNR36HHFMQ/chunk240.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQ2QVQXWQ3NFP7E4OX65CBXYUTWBEY2KXQ2B36QAUL3JLKYOHMPQ/chunk102.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVJVYQWKZWF4EZU6C7ERWKK4QQEW7FO6Z7WBW772LUCTUOSXASRQ/chunk507.js"
            ]
        },
        "CreateGraphSnapshot": {
            "http": {
                "requestUri": "/snapshots",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "graphIdentifier",
                    "snapshotName"
                ],
                "members": {
                    "graphIdentifier": {},
                    "snapshotName": {},
                    "tags": {
                        "shape": "Sb"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "id",
                    "name",
                    "arn"
                ],
                "members": {
                    "id": {},
                    "name": {},
                    "arn": {},
                    "sourceGraphId": {},
                    "snapshotCreateTime": {
                        "type": "timestamp"
                    },
                    "status": {},
                    "kmsKeyIdentifier": {}
                }
            },
            "staticContextParams": {
                "ApiType": {
                    "value": "ControlPlane"
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BJ7HVRH3RMA3JSADNXKWJIGRB5LBFJUJY3JOLRGSUN7M44CH7BQ/chunk559.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MDNBT2JIOWSDCTHUXMIFGWOXHRQZT3XCGRDMC6GE2O7NQFAOQBOQ/chunk96.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKDXWYHWXMV4NGLOMTVKGEYTNJ5ZR46ZRXKVYH3NRC42UNZYWLPA/chunk613.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMQJ5OHZJEILK5O5EHO6TEOLJMKINAVB2JE5KX5R4WHW5P47ZVHA/chunk534.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWXFKYY7DWJYRZROSJ2ETUSKWZEDEBGZOAMY456J2XDLZWNRIUSA/chunk534.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXVSCBFZLDPNY2NP2QJYCXCF44AD7OMCFC46DFUMUSGGRD4PR7EQ/chunk534.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UQXGYL5VKJDHHKIUYZAEC4IJQIYY42H5LVY4OVXWAHVU4Y3K3BGA/chunk534.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SEJ7TGLRFCDM7H5OI6XACRUSYXHFPAPSQVK5SCYAQBJCHHFT2SKA/chunk534.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XARMELI3AS3U2PSO6TPDL2JYLZXORJ52XXO25RX47IT5CNLTELEQ/chunk336.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUJ6OTOQPJPUZURMECIAZTUUS4PPFRG3LNCOLBTX3WDRQGHZZQWA/chunk336.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BNOJP5STVJPJCPRHBUYOYW45M5ZTRO6KS6DAFX5HDHXDYL3UOZQ/chunk915.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6CIZPBE4HRVGFHDBUDHJLOX2UKUV7CZ7UAVOIOPKMCU4CEVCIHYA/chunk915.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CARZ2GGVU5C7QWKZFWFFSAF6LFJQGN7QO7RUGC7J7EGIGJ54TG5A/chunk915.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLQHBOFZOSDSVQGY5EAMTKRWEQWCL73FGQGZ4FYFFYJYLN6XQ7DQ/chunk917.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDR3WIWA6BC3ZXCJREYIH4AEN7OCFNLZYFGFNPDLJL7Q7Z2RYPPQ/chunk168.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6RMWFJ5ZK6GJF2J2N5MXMW3DVYKTUCQWXZQ4OV7FUMW2DYT3B3UQ/chunk459.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LMKCQMADKU2H64XDF6O5TFHYCHGGY3E5PPZVIZALBUILSEBWDFBA/chunk459.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YHQSAXVEOUUAW4SAIQIOXPK2MJHXT65N2GWZB6SQXJMPEFGNNPA/chunk332.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45QLRSCJODUC46WS3NXI4GMYHZ7OBGY62W6MIYZHQOKDMDPYA4PQ/chunk292.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOPKD2P7E5PQ2LP6X6FBRHVC3O6RHCYNZHNKDDMLC6WQGLBPBZFA/chunk987.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DN42T5DNDWRKXY2D5W6YXR77KCZPSG4QYIUC7ID4EKQAHPCJBDCQ/chunk7.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUJ7LL5IJZF5H572MO43SDK532S7LP4Z3GSA6J4HA7JNR36HHFMQ/chunk240.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQ2QVQXWQ3NFP7E4OX65CBXYUTWBEY2KXQ2B36QAUL3JLKYOHMPQ/chunk102.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVJVYQWKZWF4EZU6C7ERWKK4QQEW7FO6Z7WBW772LUCTUOSXASRQ/chunk507.js"
            ]
        },
        "CreateGraphUsingImportTask": {
            "http": {
                "requestUri": "/importtasks",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "graphName",
                    "source",
                    "roleArn"
                ],
                "members": {
                    "graphName": {},
                    "tags": {
                        "shape": "Sb"
                    },
                    "publicConnectivity": {
                        "type": "boolean"
                    },
                    "kmsKeyIdentifier": {},
                    "vectorSearchConfiguration": {
                        "shape": "Sg"
                    },
                    "replicaCount": {
                        "type": "integer"
                    },
                    "deletionProtection": {
                        "type": "boolean"
                    },
                    "importOptions": {
                        "shape": "Su"
                    },
                    "maxProvisionedMemory": {
                        "type": "integer"
                    },
                    "minProvisionedMemory": {
                        "type": "integer"
                    },
                    "failOnError": {
                        "type": "boolean"
                    },
                    "source": {},
                    "format": {},
                    "roleArn": {},
                    "instanceType": {
                        "internalonly": true
                    },
                    "engineVersion": {
                        "internalonly": true
                    },
                    "imageOverrides": {
                        "shape": "Sl",
                        "internalonly": true
                    },
                    "configFlags": {
                        "shape": "Sx",
                        "internalonly": true
                    },
                    "parquetType": {
                        "shape": "Sh",
                        "internalonly": true
                    },
                    "blankNodeHandling": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "taskId",
                    "source",
                    "roleArn",
                    "status"
                ],
                "members": {
                    "graphId": {},
                    "taskId": {},
                    "source": {},
                    "format": {},
                    "roleArn": {},
                    "status": {},
                    "importOptions": {
                        "shape": "Su"
                    }
                }
            },
            "staticContextParams": {
                "ApiType": {
                    "value": "ControlPlane"
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BJ7HVRH3RMA3JSADNXKWJIGRB5LBFJUJY3JOLRGSUN7M44CH7BQ/chunk559.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MDNBT2JIOWSDCTHUXMIFGWOXHRQZT3XCGRDMC6GE2O7NQFAOQBOQ/chunk96.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKDXWYHWXMV4NGLOMTVKGEYTNJ5ZR46ZRXKVYH3NRC42UNZYWLPA/chunk613.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMQJ5OHZJEILK5O5EHO6TEOLJMKINAVB2JE5KX5R4WHW5P47ZVHA/chunk534.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWXFKYY7DWJYRZROSJ2ETUSKWZEDEBGZOAMY456J2XDLZWNRIUSA/chunk534.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXVSCBFZLDPNY2NP2QJYCXCF44AD7OMCFC46DFUMUSGGRD4PR7EQ/chunk534.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UQXGYL5VKJDHHKIUYZAEC4IJQIYY42H5LVY4OVXWAHVU4Y3K3BGA/chunk534.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SEJ7TGLRFCDM7H5OI6XACRUSYXHFPAPSQVK5SCYAQBJCHHFT2SKA/chunk534.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XARMELI3AS3U2PSO6TPDL2JYLZXORJ52XXO25RX47IT5CNLTELEQ/chunk336.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUJ6OTOQPJPUZURMECIAZTUUS4PPFRG3LNCOLBTX3WDRQGHZZQWA/chunk336.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BNOJP5STVJPJCPRHBUYOYW45M5ZTRO6KS6DAFX5HDHXDYL3UOZQ/chunk915.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6CIZPBE4HRVGFHDBUDHJLOX2UKUV7CZ7UAVOIOPKMCU4CEVCIHYA/chunk915.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CARZ2GGVU5C7QWKZFWFFSAF6LFJQGN7QO7RUGC7J7EGIGJ54TG5A/chunk915.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLQHBOFZOSDSVQGY5EAMTKRWEQWCL73FGQGZ4FYFFYJYLN6XQ7DQ/chunk917.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDR3WIWA6BC3ZXCJREYIH4AEN7OCFNLZYFGFNPDLJL7Q7Z2RYPPQ/chunk168.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6RMWFJ5ZK6GJF2J2N5MXMW3DVYKTUCQWXZQ4OV7FUMW2DYT3B3UQ/chunk459.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LMKCQMADKU2H64XDF6O5TFHYCHGGY3E5PPZVIZALBUILSEBWDFBA/chunk459.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YHQSAXVEOUUAW4SAIQIOXPK2MJHXT65N2GWZB6SQXJMPEFGNNPA/chunk332.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45QLRSCJODUC46WS3NXI4GMYHZ7OBGY62W6MIYZHQOKDMDPYA4PQ/chunk292.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOPKD2P7E5PQ2LP6X6FBRHVC3O6RHCYNZHNKDDMLC6WQGLBPBZFA/chunk987.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DN42T5DNDWRKXY2D5W6YXR77KCZPSG4QYIUC7ID4EKQAHPCJBDCQ/chunk7.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUJ7LL5IJZF5H572MO43SDK532S7LP4Z3GSA6J4HA7JNR36HHFMQ/chunk240.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQ2QVQXWQ3NFP7E4OX65CBXYUTWBEY2KXQ2B36QAUL3JLKYOHMPQ/chunk102.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVJVYQWKZWF4EZU6C7ERWKK4QQEW7FO6Z7WBW772LUCTUOSXASRQ/chunk507.js"
            ]
        },
        "CreatePrivateGraphEndpoint": {
            "http": {
                "requestUri": "/graphs/{graphIdentifier}/endpoints/",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "graphIdentifier"
                ],
                "members": {
                    "graphIdentifier": {
                        "location": "uri",
                        "locationName": "graphIdentifier"
                    },
                    "vpcId": {},
                    "subnetIds": {
                        "shape": "S11"
                    },
                    "vpcSecurityGroupIds": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "vpcId",
                    "subnetIds",
                    "status"
                ],
                "members": {
                    "vpcId": {},
                    "subnetIds": {
                        "shape": "S11"
                    },
                    "status": {},
                    "vpcEndpointId": {}
                }
            },
            "staticContextParams": {
                "ApiType": {
                    "value": "ControlPlane"
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BJ7HVRH3RMA3JSADNXKWJIGRB5LBFJUJY3JOLRGSUN7M44CH7BQ/chunk559.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MDNBT2JIOWSDCTHUXMIFGWOXHRQZT3XCGRDMC6GE2O7NQFAOQBOQ/chunk96.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKDXWYHWXMV4NGLOMTVKGEYTNJ5ZR46ZRXKVYH3NRC42UNZYWLPA/chunk613.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMQJ5OHZJEILK5O5EHO6TEOLJMKINAVB2JE5KX5R4WHW5P47ZVHA/chunk534.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWXFKYY7DWJYRZROSJ2ETUSKWZEDEBGZOAMY456J2XDLZWNRIUSA/chunk534.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXVSCBFZLDPNY2NP2QJYCXCF44AD7OMCFC46DFUMUSGGRD4PR7EQ/chunk534.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UQXGYL5VKJDHHKIUYZAEC4IJQIYY42H5LVY4OVXWAHVU4Y3K3BGA/chunk534.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SEJ7TGLRFCDM7H5OI6XACRUSYXHFPAPSQVK5SCYAQBJCHHFT2SKA/chunk534.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XARMELI3AS3U2PSO6TPDL2JYLZXORJ52XXO25RX47IT5CNLTELEQ/chunk336.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUJ6OTOQPJPUZURMECIAZTUUS4PPFRG3LNCOLBTX3WDRQGHZZQWA/chunk336.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BNOJP5STVJPJCPRHBUYOYW45M5ZTRO6KS6DAFX5HDHXDYL3UOZQ/chunk915.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6CIZPBE4HRVGFHDBUDHJLOX2UKUV7CZ7UAVOIOPKMCU4CEVCIHYA/chunk915.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CARZ2GGVU5C7QWKZFWFFSAF6LFJQGN7QO7RUGC7J7EGIGJ54TG5A/chunk915.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLQHBOFZOSDSVQGY5EAMTKRWEQWCL73FGQGZ4FYFFYJYLN6XQ7DQ/chunk917.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDR3WIWA6BC3ZXCJREYIH4AEN7OCFNLZYFGFNPDLJL7Q7Z2RYPPQ/chunk168.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6RMWFJ5ZK6GJF2J2N5MXMW3DVYKTUCQWXZQ4OV7FUMW2DYT3B3UQ/chunk459.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LMKCQMADKU2H64XDF6O5TFHYCHGGY3E5PPZVIZALBUILSEBWDFBA/chunk459.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YHQSAXVEOUUAW4SAIQIOXPK2MJHXT65N2GWZB6SQXJMPEFGNNPA/chunk332.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45QLRSCJODUC46WS3NXI4GMYHZ7OBGY62W6MIYZHQOKDMDPYA4PQ/chunk292.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOPKD2P7E5PQ2LP6X6FBRHVC3O6RHCYNZHNKDDMLC6WQGLBPBZFA/chunk987.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DN42T5DNDWRKXY2D5W6YXR77KCZPSG4QYIUC7ID4EKQAHPCJBDCQ/chunk7.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUJ7LL5IJZF5H572MO43SDK532S7LP4Z3GSA6J4HA7JNR36HHFMQ/chunk240.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQ2QVQXWQ3NFP7E4OX65CBXYUTWBEY2KXQ2B36QAUL3JLKYOHMPQ/chunk102.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVJVYQWKZWF4EZU6C7ERWKK4QQEW7FO6Z7WBW772LUCTUOSXASRQ/chunk507.js"
            ]
        },
        "DeleteGraph": {
            "http": {
                "method": "DELETE",
                "requestUri": "/graphs/{graphIdentifier}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "graphIdentifier",
                    "skipSnapshot"
                ],
                "members": {
                    "graphIdentifier": {
                        "location": "uri",
                        "locationName": "graphIdentifier"
                    },
                    "skipSnapshot": {
                        "location": "querystring",
                        "locationName": "skipSnapshot",
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "id",
                    "name",
                    "arn"
                ],
                "members": {
                    "id": {},
                    "name": {},
                    "arn": {},
                    "status": {},
                    "statusReason": {},
                    "createTime": {
                        "type": "timestamp"
                    },
                    "provisionedMemory": {
                        "type": "integer"
                    },
                    "endpoint": {},
                    "publicConnectivity": {
                        "type": "boolean"
                    },
                    "vectorSearchConfiguration": {
                        "shape": "Sg"
                    },
                    "replicaCount": {
                        "type": "integer"
                    },
                    "kmsKeyIdentifier": {},
                    "sourceSnapshotId": {},
                    "deletionProtection": {
                        "type": "boolean"
                    },
                    "buildNumber": {}
                }
            },
            "staticContextParams": {
                "ApiType": {
                    "value": "ControlPlane"
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BJ7HVRH3RMA3JSADNXKWJIGRB5LBFJUJY3JOLRGSUN7M44CH7BQ/chunk559.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MDNBT2JIOWSDCTHUXMIFGWOXHRQZT3XCGRDMC6GE2O7NQFAOQBOQ/chunk96.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKDXWYHWXMV4NGLOMTVKGEYTNJ5ZR46ZRXKVYH3NRC42UNZYWLPA/chunk613.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMQJ5OHZJEILK5O5EHO6TEOLJMKINAVB2JE5KX5R4WHW5P47ZVHA/chunk534.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWXFKYY7DWJYRZROSJ2ETUSKWZEDEBGZOAMY456J2XDLZWNRIUSA/chunk534.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXVSCBFZLDPNY2NP2QJYCXCF44AD7OMCFC46DFUMUSGGRD4PR7EQ/chunk534.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UQXGYL5VKJDHHKIUYZAEC4IJQIYY42H5LVY4OVXWAHVU4Y3K3BGA/chunk534.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SEJ7TGLRFCDM7H5OI6XACRUSYXHFPAPSQVK5SCYAQBJCHHFT2SKA/chunk534.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XARMELI3AS3U2PSO6TPDL2JYLZXORJ52XXO25RX47IT5CNLTELEQ/chunk336.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUJ6OTOQPJPUZURMECIAZTUUS4PPFRG3LNCOLBTX3WDRQGHZZQWA/chunk336.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BNOJP5STVJPJCPRHBUYOYW45M5ZTRO6KS6DAFX5HDHXDYL3UOZQ/chunk915.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6CIZPBE4HRVGFHDBUDHJLOX2UKUV7CZ7UAVOIOPKMCU4CEVCIHYA/chunk915.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CARZ2GGVU5C7QWKZFWFFSAF6LFJQGN7QO7RUGC7J7EGIGJ54TG5A/chunk915.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLQHBOFZOSDSVQGY5EAMTKRWEQWCL73FGQGZ4FYFFYJYLN6XQ7DQ/chunk917.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDR3WIWA6BC3ZXCJREYIH4AEN7OCFNLZYFGFNPDLJL7Q7Z2RYPPQ/chunk168.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6RMWFJ5ZK6GJF2J2N5MXMW3DVYKTUCQWXZQ4OV7FUMW2DYT3B3UQ/chunk459.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LMKCQMADKU2H64XDF6O5TFHYCHGGY3E5PPZVIZALBUILSEBWDFBA/chunk459.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YHQSAXVEOUUAW4SAIQIOXPK2MJHXT65N2GWZB6SQXJMPEFGNNPA/chunk332.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45QLRSCJODUC46WS3NXI4GMYHZ7OBGY62W6MIYZHQOKDMDPYA4PQ/chunk292.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOPKD2P7E5PQ2LP6X6FBRHVC3O6RHCYNZHNKDDMLC6WQGLBPBZFA/chunk987.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DN42T5DNDWRKXY2D5W6YXR77KCZPSG4QYIUC7ID4EKQAHPCJBDCQ/chunk7.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUJ7LL5IJZF5H572MO43SDK532S7LP4Z3GSA6J4HA7JNR36HHFMQ/chunk240.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQ2QVQXWQ3NFP7E4OX65CBXYUTWBEY2KXQ2B36QAUL3JLKYOHMPQ/chunk102.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVJVYQWKZWF4EZU6C7ERWKK4QQEW7FO6Z7WBW772LUCTUOSXASRQ/chunk507.js"
            ]
        },
        "DeleteGraphSnapshot": {
            "http": {
                "method": "DELETE",
                "requestUri": "/snapshots/{snapshotIdentifier}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "snapshotIdentifier"
                ],
                "members": {
                    "snapshotIdentifier": {
                        "location": "uri",
                        "locationName": "snapshotIdentifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "id",
                    "name",
                    "arn"
                ],
                "members": {
                    "id": {},
                    "name": {},
                    "arn": {},
                    "sourceGraphId": {},
                    "snapshotCreateTime": {
                        "type": "timestamp"
                    },
                    "status": {},
                    "kmsKeyIdentifier": {}
                }
            },
            "staticContextParams": {
                "ApiType": {
                    "value": "ControlPlane"
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BJ7HVRH3RMA3JSADNXKWJIGRB5LBFJUJY3JOLRGSUN7M44CH7BQ/chunk559.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MDNBT2JIOWSDCTHUXMIFGWOXHRQZT3XCGRDMC6GE2O7NQFAOQBOQ/chunk96.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKDXWYHWXMV4NGLOMTVKGEYTNJ5ZR46ZRXKVYH3NRC42UNZYWLPA/chunk613.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMQJ5OHZJEILK5O5EHO6TEOLJMKINAVB2JE5KX5R4WHW5P47ZVHA/chunk534.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWXFKYY7DWJYRZROSJ2ETUSKWZEDEBGZOAMY456J2XDLZWNRIUSA/chunk534.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXVSCBFZLDPNY2NP2QJYCXCF44AD7OMCFC46DFUMUSGGRD4PR7EQ/chunk534.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UQXGYL5VKJDHHKIUYZAEC4IJQIYY42H5LVY4OVXWAHVU4Y3K3BGA/chunk534.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SEJ7TGLRFCDM7H5OI6XACRUSYXHFPAPSQVK5SCYAQBJCHHFT2SKA/chunk534.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XARMELI3AS3U2PSO6TPDL2JYLZXORJ52XXO25RX47IT5CNLTELEQ/chunk336.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUJ6OTOQPJPUZURMECIAZTUUS4PPFRG3LNCOLBTX3WDRQGHZZQWA/chunk336.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BNOJP5STVJPJCPRHBUYOYW45M5ZTRO6KS6DAFX5HDHXDYL3UOZQ/chunk915.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6CIZPBE4HRVGFHDBUDHJLOX2UKUV7CZ7UAVOIOPKMCU4CEVCIHYA/chunk915.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CARZ2GGVU5C7QWKZFWFFSAF6LFJQGN7QO7RUGC7J7EGIGJ54TG5A/chunk915.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLQHBOFZOSDSVQGY5EAMTKRWEQWCL73FGQGZ4FYFFYJYLN6XQ7DQ/chunk917.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDR3WIWA6BC3ZXCJREYIH4AEN7OCFNLZYFGFNPDLJL7Q7Z2RYPPQ/chunk168.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6RMWFJ5ZK6GJF2J2N5MXMW3DVYKTUCQWXZQ4OV7FUMW2DYT3B3UQ/chunk459.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LMKCQMADKU2H64XDF6O5TFHYCHGGY3E5PPZVIZALBUILSEBWDFBA/chunk459.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YHQSAXVEOUUAW4SAIQIOXPK2MJHXT65N2GWZB6SQXJMPEFGNNPA/chunk332.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45QLRSCJODUC46WS3NXI4GMYHZ7OBGY62W6MIYZHQOKDMDPYA4PQ/chunk292.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOPKD2P7E5PQ2LP6X6FBRHVC3O6RHCYNZHNKDDMLC6WQGLBPBZFA/chunk987.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DN42T5DNDWRKXY2D5W6YXR77KCZPSG4QYIUC7ID4EKQAHPCJBDCQ/chunk7.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUJ7LL5IJZF5H572MO43SDK532S7LP4Z3GSA6J4HA7JNR36HHFMQ/chunk240.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQ2QVQXWQ3NFP7E4OX65CBXYUTWBEY2KXQ2B36QAUL3JLKYOHMPQ/chunk102.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVJVYQWKZWF4EZU6C7ERWKK4QQEW7FO6Z7WBW772LUCTUOSXASRQ/chunk507.js"
            ]
        },
        "DeletePrivateGraphEndpoint": {
            "http": {
                "method": "DELETE",
                "requestUri": "/graphs/{graphIdentifier}/endpoints/{vpcId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "graphIdentifier",
                    "vpcId"
                ],
                "members": {
                    "graphIdentifier": {
                        "location": "uri",
                        "locationName": "graphIdentifier"
                    },
                    "vpcId": {
                        "location": "uri",
                        "locationName": "vpcId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "vpcId",
                    "subnetIds",
                    "status"
                ],
                "members": {
                    "vpcId": {},
                    "subnetIds": {
                        "shape": "S11"
                    },
                    "status": {},
                    "vpcEndpointId": {}
                }
            },
            "staticContextParams": {
                "ApiType": {
                    "value": "ControlPlane"
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BJ7HVRH3RMA3JSADNXKWJIGRB5LBFJUJY3JOLRGSUN7M44CH7BQ/chunk559.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MDNBT2JIOWSDCTHUXMIFGWOXHRQZT3XCGRDMC6GE2O7NQFAOQBOQ/chunk96.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKDXWYHWXMV4NGLOMTVKGEYTNJ5ZR46ZRXKVYH3NRC42UNZYWLPA/chunk613.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMQJ5OHZJEILK5O5EHO6TEOLJMKINAVB2JE5KX5R4WHW5P47ZVHA/chunk534.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWXFKYY7DWJYRZROSJ2ETUSKWZEDEBGZOAMY456J2XDLZWNRIUSA/chunk534.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXVSCBFZLDPNY2NP2QJYCXCF44AD7OMCFC46DFUMUSGGRD4PR7EQ/chunk534.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UQXGYL5VKJDHHKIUYZAEC4IJQIYY42H5LVY4OVXWAHVU4Y3K3BGA/chunk534.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SEJ7TGLRFCDM7H5OI6XACRUSYXHFPAPSQVK5SCYAQBJCHHFT2SKA/chunk534.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XARMELI3AS3U2PSO6TPDL2JYLZXORJ52XXO25RX47IT5CNLTELEQ/chunk336.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUJ6OTOQPJPUZURMECIAZTUUS4PPFRG3LNCOLBTX3WDRQGHZZQWA/chunk336.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BNOJP5STVJPJCPRHBUYOYW45M5ZTRO6KS6DAFX5HDHXDYL3UOZQ/chunk915.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6CIZPBE4HRVGFHDBUDHJLOX2UKUV7CZ7UAVOIOPKMCU4CEVCIHYA/chunk915.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CARZ2GGVU5C7QWKZFWFFSAF6LFJQGN7QO7RUGC7J7EGIGJ54TG5A/chunk915.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLQHBOFZOSDSVQGY5EAMTKRWEQWCL73FGQGZ4FYFFYJYLN6XQ7DQ/chunk917.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDR3WIWA6BC3ZXCJREYIH4AEN7OCFNLZYFGFNPDLJL7Q7Z2RYPPQ/chunk168.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6RMWFJ5ZK6GJF2J2N5MXMW3DVYKTUCQWXZQ4OV7FUMW2DYT3B3UQ/chunk459.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LMKCQMADKU2H64XDF6O5TFHYCHGGY3E5PPZVIZALBUILSEBWDFBA/chunk459.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YHQSAXVEOUUAW4SAIQIOXPK2MJHXT65N2GWZB6SQXJMPEFGNNPA/chunk332.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45QLRSCJODUC46WS3NXI4GMYHZ7OBGY62W6MIYZHQOKDMDPYA4PQ/chunk292.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOPKD2P7E5PQ2LP6X6FBRHVC3O6RHCYNZHNKDDMLC6WQGLBPBZFA/chunk987.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DN42T5DNDWRKXY2D5W6YXR77KCZPSG4QYIUC7ID4EKQAHPCJBDCQ/chunk7.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUJ7LL5IJZF5H572MO43SDK532S7LP4Z3GSA6J4HA7JNR36HHFMQ/chunk240.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQ2QVQXWQ3NFP7E4OX65CBXYUTWBEY2KXQ2B36QAUL3JLKYOHMPQ/chunk102.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVJVYQWKZWF4EZU6C7ERWKK4QQEW7FO6Z7WBW772LUCTUOSXASRQ/chunk507.js"
            ]
        },
        "GetGraph": {
            "http": {
                "method": "GET",
                "requestUri": "/graphs/{graphIdentifier}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "graphIdentifier"
                ],
                "members": {
                    "graphIdentifier": {
                        "location": "uri",
                        "locationName": "graphIdentifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "id",
                    "name",
                    "arn"
                ],
                "members": {
                    "id": {},
                    "name": {},
                    "arn": {},
                    "status": {},
                    "statusReason": {},
                    "createTime": {
                        "type": "timestamp"
                    },
                    "provisionedMemory": {
                        "type": "integer"
                    },
                    "endpoint": {},
                    "publicConnectivity": {
                        "type": "boolean"
                    },
                    "vectorSearchConfiguration": {
                        "shape": "Sg"
                    },
                    "replicaCount": {
                        "type": "integer"
                    },
                    "kmsKeyIdentifier": {},
                    "sourceSnapshotId": {},
                    "deletionProtection": {
                        "type": "boolean"
                    },
                    "buildNumber": {}
                }
            },
            "staticContextParams": {
                "ApiType": {
                    "value": "ControlPlane"
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BJ7HVRH3RMA3JSADNXKWJIGRB5LBFJUJY3JOLRGSUN7M44CH7BQ/chunk559.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MDNBT2JIOWSDCTHUXMIFGWOXHRQZT3XCGRDMC6GE2O7NQFAOQBOQ/chunk96.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKDXWYHWXMV4NGLOMTVKGEYTNJ5ZR46ZRXKVYH3NRC42UNZYWLPA/chunk613.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMQJ5OHZJEILK5O5EHO6TEOLJMKINAVB2JE5KX5R4WHW5P47ZVHA/chunk534.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWXFKYY7DWJYRZROSJ2ETUSKWZEDEBGZOAMY456J2XDLZWNRIUSA/chunk534.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXVSCBFZLDPNY2NP2QJYCXCF44AD7OMCFC46DFUMUSGGRD4PR7EQ/chunk534.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UQXGYL5VKJDHHKIUYZAEC4IJQIYY42H5LVY4OVXWAHVU4Y3K3BGA/chunk534.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SEJ7TGLRFCDM7H5OI6XACRUSYXHFPAPSQVK5SCYAQBJCHHFT2SKA/chunk534.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XARMELI3AS3U2PSO6TPDL2JYLZXORJ52XXO25RX47IT5CNLTELEQ/chunk336.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUJ6OTOQPJPUZURMECIAZTUUS4PPFRG3LNCOLBTX3WDRQGHZZQWA/chunk336.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BNOJP5STVJPJCPRHBUYOYW45M5ZTRO6KS6DAFX5HDHXDYL3UOZQ/chunk915.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6CIZPBE4HRVGFHDBUDHJLOX2UKUV7CZ7UAVOIOPKMCU4CEVCIHYA/chunk915.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CARZ2GGVU5C7QWKZFWFFSAF6LFJQGN7QO7RUGC7J7EGIGJ54TG5A/chunk915.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLQHBOFZOSDSVQGY5EAMTKRWEQWCL73FGQGZ4FYFFYJYLN6XQ7DQ/chunk917.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDR3WIWA6BC3ZXCJREYIH4AEN7OCFNLZYFGFNPDLJL7Q7Z2RYPPQ/chunk168.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6RMWFJ5ZK6GJF2J2N5MXMW3DVYKTUCQWXZQ4OV7FUMW2DYT3B3UQ/chunk459.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LMKCQMADKU2H64XDF6O5TFHYCHGGY3E5PPZVIZALBUILSEBWDFBA/chunk459.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YHQSAXVEOUUAW4SAIQIOXPK2MJHXT65N2GWZB6SQXJMPEFGNNPA/chunk332.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45QLRSCJODUC46WS3NXI4GMYHZ7OBGY62W6MIYZHQOKDMDPYA4PQ/chunk292.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOPKD2P7E5PQ2LP6X6FBRHVC3O6RHCYNZHNKDDMLC6WQGLBPBZFA/chunk987.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DN42T5DNDWRKXY2D5W6YXR77KCZPSG4QYIUC7ID4EKQAHPCJBDCQ/chunk7.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUJ7LL5IJZF5H572MO43SDK532S7LP4Z3GSA6J4HA7JNR36HHFMQ/chunk240.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQ2QVQXWQ3NFP7E4OX65CBXYUTWBEY2KXQ2B36QAUL3JLKYOHMPQ/chunk102.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVJVYQWKZWF4EZU6C7ERWKK4QQEW7FO6Z7WBW772LUCTUOSXASRQ/chunk507.js"
            ]
        },
        "GetGraphSnapshot": {
            "http": {
                "method": "GET",
                "requestUri": "/snapshots/{snapshotIdentifier}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "snapshotIdentifier"
                ],
                "members": {
                    "snapshotIdentifier": {
                        "location": "uri",
                        "locationName": "snapshotIdentifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "id",
                    "name",
                    "arn"
                ],
                "members": {
                    "id": {},
                    "name": {},
                    "arn": {},
                    "sourceGraphId": {},
                    "snapshotCreateTime": {
                        "type": "timestamp"
                    },
                    "status": {},
                    "kmsKeyIdentifier": {}
                }
            },
            "staticContextParams": {
                "ApiType": {
                    "value": "ControlPlane"
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BJ7HVRH3RMA3JSADNXKWJIGRB5LBFJUJY3JOLRGSUN7M44CH7BQ/chunk559.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MDNBT2JIOWSDCTHUXMIFGWOXHRQZT3XCGRDMC6GE2O7NQFAOQBOQ/chunk96.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKDXWYHWXMV4NGLOMTVKGEYTNJ5ZR46ZRXKVYH3NRC42UNZYWLPA/chunk613.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMQJ5OHZJEILK5O5EHO6TEOLJMKINAVB2JE5KX5R4WHW5P47ZVHA/chunk534.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWXFKYY7DWJYRZROSJ2ETUSKWZEDEBGZOAMY456J2XDLZWNRIUSA/chunk534.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXVSCBFZLDPNY2NP2QJYCXCF44AD7OMCFC46DFUMUSGGRD4PR7EQ/chunk534.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UQXGYL5VKJDHHKIUYZAEC4IJQIYY42H5LVY4OVXWAHVU4Y3K3BGA/chunk534.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SEJ7TGLRFCDM7H5OI6XACRUSYXHFPAPSQVK5SCYAQBJCHHFT2SKA/chunk534.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XARMELI3AS3U2PSO6TPDL2JYLZXORJ52XXO25RX47IT5CNLTELEQ/chunk336.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUJ6OTOQPJPUZURMECIAZTUUS4PPFRG3LNCOLBTX3WDRQGHZZQWA/chunk336.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BNOJP5STVJPJCPRHBUYOYW45M5ZTRO6KS6DAFX5HDHXDYL3UOZQ/chunk915.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6CIZPBE4HRVGFHDBUDHJLOX2UKUV7CZ7UAVOIOPKMCU4CEVCIHYA/chunk915.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CARZ2GGVU5C7QWKZFWFFSAF6LFJQGN7QO7RUGC7J7EGIGJ54TG5A/chunk915.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLQHBOFZOSDSVQGY5EAMTKRWEQWCL73FGQGZ4FYFFYJYLN6XQ7DQ/chunk917.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDR3WIWA6BC3ZXCJREYIH4AEN7OCFNLZYFGFNPDLJL7Q7Z2RYPPQ/chunk168.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6RMWFJ5ZK6GJF2J2N5MXMW3DVYKTUCQWXZQ4OV7FUMW2DYT3B3UQ/chunk459.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LMKCQMADKU2H64XDF6O5TFHYCHGGY3E5PPZVIZALBUILSEBWDFBA/chunk459.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YHQSAXVEOUUAW4SAIQIOXPK2MJHXT65N2GWZB6SQXJMPEFGNNPA/chunk332.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45QLRSCJODUC46WS3NXI4GMYHZ7OBGY62W6MIYZHQOKDMDPYA4PQ/chunk292.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOPKD2P7E5PQ2LP6X6FBRHVC3O6RHCYNZHNKDDMLC6WQGLBPBZFA/chunk987.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DN42T5DNDWRKXY2D5W6YXR77KCZPSG4QYIUC7ID4EKQAHPCJBDCQ/chunk7.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUJ7LL5IJZF5H572MO43SDK532S7LP4Z3GSA6J4HA7JNR36HHFMQ/chunk240.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQ2QVQXWQ3NFP7E4OX65CBXYUTWBEY2KXQ2B36QAUL3JLKYOHMPQ/chunk102.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVJVYQWKZWF4EZU6C7ERWKK4QQEW7FO6Z7WBW772LUCTUOSXASRQ/chunk507.js"
            ]
        },
        "GetImportTask": {
            "http": {
                "method": "GET",
                "requestUri": "/importtasks/{taskIdentifier}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "taskIdentifier"
                ],
                "members": {
                    "taskIdentifier": {
                        "location": "uri",
                        "locationName": "taskIdentifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "taskId",
                    "source",
                    "roleArn",
                    "status"
                ],
                "members": {
                    "graphId": {},
                    "taskId": {},
                    "source": {},
                    "format": {},
                    "roleArn": {},
                    "status": {},
                    "importOptions": {
                        "shape": "Su"
                    },
                    "importTaskDetails": {
                        "type": "structure",
                        "required": [
                            "status",
                            "startTime",
                            "timeElapsedSeconds",
                            "progressPercentage",
                            "errorCount",
                            "statementCount",
                            "dictionaryEntryCount"
                        ],
                        "members": {
                            "status": {},
                            "startTime": {
                                "type": "timestamp"
                            },
                            "timeElapsedSeconds": {
                                "type": "long"
                            },
                            "progressPercentage": {
                                "type": "integer"
                            },
                            "errorCount": {
                                "type": "integer"
                            },
                            "errorDetails": {},
                            "statementCount": {
                                "type": "long"
                            },
                            "dictionaryEntryCount": {
                                "type": "long"
                            }
                        }
                    },
                    "attemptNumber": {
                        "type": "integer"
                    },
                    "statusReason": {}
                }
            },
            "staticContextParams": {
                "ApiType": {
                    "value": "ControlPlane"
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BJ7HVRH3RMA3JSADNXKWJIGRB5LBFJUJY3JOLRGSUN7M44CH7BQ/chunk559.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MDNBT2JIOWSDCTHUXMIFGWOXHRQZT3XCGRDMC6GE2O7NQFAOQBOQ/chunk96.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKDXWYHWXMV4NGLOMTVKGEYTNJ5ZR46ZRXKVYH3NRC42UNZYWLPA/chunk613.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMQJ5OHZJEILK5O5EHO6TEOLJMKINAVB2JE5KX5R4WHW5P47ZVHA/chunk534.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWXFKYY7DWJYRZROSJ2ETUSKWZEDEBGZOAMY456J2XDLZWNRIUSA/chunk534.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXVSCBFZLDPNY2NP2QJYCXCF44AD7OMCFC46DFUMUSGGRD4PR7EQ/chunk534.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UQXGYL5VKJDHHKIUYZAEC4IJQIYY42H5LVY4OVXWAHVU4Y3K3BGA/chunk534.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SEJ7TGLRFCDM7H5OI6XACRUSYXHFPAPSQVK5SCYAQBJCHHFT2SKA/chunk534.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XARMELI3AS3U2PSO6TPDL2JYLZXORJ52XXO25RX47IT5CNLTELEQ/chunk336.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUJ6OTOQPJPUZURMECIAZTUUS4PPFRG3LNCOLBTX3WDRQGHZZQWA/chunk336.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BNOJP5STVJPJCPRHBUYOYW45M5ZTRO6KS6DAFX5HDHXDYL3UOZQ/chunk915.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6CIZPBE4HRVGFHDBUDHJLOX2UKUV7CZ7UAVOIOPKMCU4CEVCIHYA/chunk915.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CARZ2GGVU5C7QWKZFWFFSAF6LFJQGN7QO7RUGC7J7EGIGJ54TG5A/chunk915.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLQHBOFZOSDSVQGY5EAMTKRWEQWCL73FGQGZ4FYFFYJYLN6XQ7DQ/chunk917.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDR3WIWA6BC3ZXCJREYIH4AEN7OCFNLZYFGFNPDLJL7Q7Z2RYPPQ/chunk168.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6RMWFJ5ZK6GJF2J2N5MXMW3DVYKTUCQWXZQ4OV7FUMW2DYT3B3UQ/chunk459.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LMKCQMADKU2H64XDF6O5TFHYCHGGY3E5PPZVIZALBUILSEBWDFBA/chunk459.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YHQSAXVEOUUAW4SAIQIOXPK2MJHXT65N2GWZB6SQXJMPEFGNNPA/chunk332.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45QLRSCJODUC46WS3NXI4GMYHZ7OBGY62W6MIYZHQOKDMDPYA4PQ/chunk292.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOPKD2P7E5PQ2LP6X6FBRHVC3O6RHCYNZHNKDDMLC6WQGLBPBZFA/chunk987.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DN42T5DNDWRKXY2D5W6YXR77KCZPSG4QYIUC7ID4EKQAHPCJBDCQ/chunk7.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUJ7LL5IJZF5H572MO43SDK532S7LP4Z3GSA6J4HA7JNR36HHFMQ/chunk240.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQ2QVQXWQ3NFP7E4OX65CBXYUTWBEY2KXQ2B36QAUL3JLKYOHMPQ/chunk102.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVJVYQWKZWF4EZU6C7ERWKK4QQEW7FO6Z7WBW772LUCTUOSXASRQ/chunk507.js"
            ]
        },
        "GetPrivateGraphEndpoint": {
            "http": {
                "method": "GET",
                "requestUri": "/graphs/{graphIdentifier}/endpoints/{vpcId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "graphIdentifier",
                    "vpcId"
                ],
                "members": {
                    "graphIdentifier": {
                        "location": "uri",
                        "locationName": "graphIdentifier"
                    },
                    "vpcId": {
                        "location": "uri",
                        "locationName": "vpcId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "vpcId",
                    "subnetIds",
                    "status"
                ],
                "members": {
                    "vpcId": {},
                    "subnetIds": {
                        "shape": "S11"
                    },
                    "status": {},
                    "vpcEndpointId": {}
                }
            },
            "staticContextParams": {
                "ApiType": {
                    "value": "ControlPlane"
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BJ7HVRH3RMA3JSADNXKWJIGRB5LBFJUJY3JOLRGSUN7M44CH7BQ/chunk559.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MDNBT2JIOWSDCTHUXMIFGWOXHRQZT3XCGRDMC6GE2O7NQFAOQBOQ/chunk96.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKDXWYHWXMV4NGLOMTVKGEYTNJ5ZR46ZRXKVYH3NRC42UNZYWLPA/chunk613.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMQJ5OHZJEILK5O5EHO6TEOLJMKINAVB2JE5KX5R4WHW5P47ZVHA/chunk534.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWXFKYY7DWJYRZROSJ2ETUSKWZEDEBGZOAMY456J2XDLZWNRIUSA/chunk534.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXVSCBFZLDPNY2NP2QJYCXCF44AD7OMCFC46DFUMUSGGRD4PR7EQ/chunk534.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UQXGYL5VKJDHHKIUYZAEC4IJQIYY42H5LVY4OVXWAHVU4Y3K3BGA/chunk534.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SEJ7TGLRFCDM7H5OI6XACRUSYXHFPAPSQVK5SCYAQBJCHHFT2SKA/chunk534.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XARMELI3AS3U2PSO6TPDL2JYLZXORJ52XXO25RX47IT5CNLTELEQ/chunk336.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUJ6OTOQPJPUZURMECIAZTUUS4PPFRG3LNCOLBTX3WDRQGHZZQWA/chunk336.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BNOJP5STVJPJCPRHBUYOYW45M5ZTRO6KS6DAFX5HDHXDYL3UOZQ/chunk915.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6CIZPBE4HRVGFHDBUDHJLOX2UKUV7CZ7UAVOIOPKMCU4CEVCIHYA/chunk915.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CARZ2GGVU5C7QWKZFWFFSAF6LFJQGN7QO7RUGC7J7EGIGJ54TG5A/chunk915.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLQHBOFZOSDSVQGY5EAMTKRWEQWCL73FGQGZ4FYFFYJYLN6XQ7DQ/chunk917.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDR3WIWA6BC3ZXCJREYIH4AEN7OCFNLZYFGFNPDLJL7Q7Z2RYPPQ/chunk168.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6RMWFJ5ZK6GJF2J2N5MXMW3DVYKTUCQWXZQ4OV7FUMW2DYT3B3UQ/chunk459.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LMKCQMADKU2H64XDF6O5TFHYCHGGY3E5PPZVIZALBUILSEBWDFBA/chunk459.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YHQSAXVEOUUAW4SAIQIOXPK2MJHXT65N2GWZB6SQXJMPEFGNNPA/chunk332.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45QLRSCJODUC46WS3NXI4GMYHZ7OBGY62W6MIYZHQOKDMDPYA4PQ/chunk292.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOPKD2P7E5PQ2LP6X6FBRHVC3O6RHCYNZHNKDDMLC6WQGLBPBZFA/chunk987.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DN42T5DNDWRKXY2D5W6YXR77KCZPSG4QYIUC7ID4EKQAHPCJBDCQ/chunk7.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUJ7LL5IJZF5H572MO43SDK532S7LP4Z3GSA6J4HA7JNR36HHFMQ/chunk240.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQ2QVQXWQ3NFP7E4OX65CBXYUTWBEY2KXQ2B36QAUL3JLKYOHMPQ/chunk102.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVJVYQWKZWF4EZU6C7ERWKK4QQEW7FO6Z7WBW772LUCTUOSXASRQ/chunk507.js"
            ]
        },
        "ListGraphSnapshots": {
            "http": {
                "method": "GET",
                "requestUri": "/snapshots",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "graphIdentifier": {
                        "location": "querystring",
                        "locationName": "graphIdentifier"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "graphSnapshots"
                ],
                "members": {
                    "graphSnapshots": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "id",
                                "name",
                                "arn"
                            ],
                            "members": {
                                "id": {},
                                "name": {},
                                "arn": {},
                                "sourceGraphId": {},
                                "snapshotCreateTime": {
                                    "type": "timestamp"
                                },
                                "status": {},
                                "kmsKeyIdentifier": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "staticContextParams": {
                "ApiType": {
                    "value": "ControlPlane"
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BJ7HVRH3RMA3JSADNXKWJIGRB5LBFJUJY3JOLRGSUN7M44CH7BQ/chunk559.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MDNBT2JIOWSDCTHUXMIFGWOXHRQZT3XCGRDMC6GE2O7NQFAOQBOQ/chunk96.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKDXWYHWXMV4NGLOMTVKGEYTNJ5ZR46ZRXKVYH3NRC42UNZYWLPA/chunk613.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMQJ5OHZJEILK5O5EHO6TEOLJMKINAVB2JE5KX5R4WHW5P47ZVHA/chunk534.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWXFKYY7DWJYRZROSJ2ETUSKWZEDEBGZOAMY456J2XDLZWNRIUSA/chunk534.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXVSCBFZLDPNY2NP2QJYCXCF44AD7OMCFC46DFUMUSGGRD4PR7EQ/chunk534.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UQXGYL5VKJDHHKIUYZAEC4IJQIYY42H5LVY4OVXWAHVU4Y3K3BGA/chunk534.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SEJ7TGLRFCDM7H5OI6XACRUSYXHFPAPSQVK5SCYAQBJCHHFT2SKA/chunk534.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XARMELI3AS3U2PSO6TPDL2JYLZXORJ52XXO25RX47IT5CNLTELEQ/chunk336.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUJ6OTOQPJPUZURMECIAZTUUS4PPFRG3LNCOLBTX3WDRQGHZZQWA/chunk336.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BNOJP5STVJPJCPRHBUYOYW45M5ZTRO6KS6DAFX5HDHXDYL3UOZQ/chunk915.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6CIZPBE4HRVGFHDBUDHJLOX2UKUV7CZ7UAVOIOPKMCU4CEVCIHYA/chunk915.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CARZ2GGVU5C7QWKZFWFFSAF6LFJQGN7QO7RUGC7J7EGIGJ54TG5A/chunk915.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLQHBOFZOSDSVQGY5EAMTKRWEQWCL73FGQGZ4FYFFYJYLN6XQ7DQ/chunk917.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDR3WIWA6BC3ZXCJREYIH4AEN7OCFNLZYFGFNPDLJL7Q7Z2RYPPQ/chunk168.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6RMWFJ5ZK6GJF2J2N5MXMW3DVYKTUCQWXZQ4OV7FUMW2DYT3B3UQ/chunk459.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LMKCQMADKU2H64XDF6O5TFHYCHGGY3E5PPZVIZALBUILSEBWDFBA/chunk459.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YHQSAXVEOUUAW4SAIQIOXPK2MJHXT65N2GWZB6SQXJMPEFGNNPA/chunk332.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45QLRSCJODUC46WS3NXI4GMYHZ7OBGY62W6MIYZHQOKDMDPYA4PQ/chunk292.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOPKD2P7E5PQ2LP6X6FBRHVC3O6RHCYNZHNKDDMLC6WQGLBPBZFA/chunk987.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DN42T5DNDWRKXY2D5W6YXR77KCZPSG4QYIUC7ID4EKQAHPCJBDCQ/chunk7.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUJ7LL5IJZF5H572MO43SDK532S7LP4Z3GSA6J4HA7JNR36HHFMQ/chunk240.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQ2QVQXWQ3NFP7E4OX65CBXYUTWBEY2KXQ2B36QAUL3JLKYOHMPQ/chunk102.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVJVYQWKZWF4EZU6C7ERWKK4QQEW7FO6Z7WBW772LUCTUOSXASRQ/chunk507.js"
            ]
        },
        "ListGraphs": {
            "http": {
                "method": "GET",
                "requestUri": "/graphs",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "graphs"
                ],
                "members": {
                    "graphs": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "id",
                                "name",
                                "arn"
                            ],
                            "members": {
                                "id": {},
                                "name": {},
                                "arn": {},
                                "status": {},
                                "provisionedMemory": {
                                    "type": "integer"
                                },
                                "publicConnectivity": {
                                    "type": "boolean"
                                },
                                "endpoint": {},
                                "replicaCount": {
                                    "type": "integer"
                                },
                                "kmsKeyIdentifier": {},
                                "deletionProtection": {
                                    "type": "boolean"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "staticContextParams": {
                "ApiType": {
                    "value": "ControlPlane"
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BJ7HVRH3RMA3JSADNXKWJIGRB5LBFJUJY3JOLRGSUN7M44CH7BQ/chunk559.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MDNBT2JIOWSDCTHUXMIFGWOXHRQZT3XCGRDMC6GE2O7NQFAOQBOQ/chunk96.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKDXWYHWXMV4NGLOMTVKGEYTNJ5ZR46ZRXKVYH3NRC42UNZYWLPA/chunk613.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMQJ5OHZJEILK5O5EHO6TEOLJMKINAVB2JE5KX5R4WHW5P47ZVHA/chunk534.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWXFKYY7DWJYRZROSJ2ETUSKWZEDEBGZOAMY456J2XDLZWNRIUSA/chunk534.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXVSCBFZLDPNY2NP2QJYCXCF44AD7OMCFC46DFUMUSGGRD4PR7EQ/chunk534.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UQXGYL5VKJDHHKIUYZAEC4IJQIYY42H5LVY4OVXWAHVU4Y3K3BGA/chunk534.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SEJ7TGLRFCDM7H5OI6XACRUSYXHFPAPSQVK5SCYAQBJCHHFT2SKA/chunk534.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XARMELI3AS3U2PSO6TPDL2JYLZXORJ52XXO25RX47IT5CNLTELEQ/chunk336.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUJ6OTOQPJPUZURMECIAZTUUS4PPFRG3LNCOLBTX3WDRQGHZZQWA/chunk336.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BNOJP5STVJPJCPRHBUYOYW45M5ZTRO6KS6DAFX5HDHXDYL3UOZQ/chunk915.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6CIZPBE4HRVGFHDBUDHJLOX2UKUV7CZ7UAVOIOPKMCU4CEVCIHYA/chunk915.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CARZ2GGVU5C7QWKZFWFFSAF6LFJQGN7QO7RUGC7J7EGIGJ54TG5A/chunk915.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLQHBOFZOSDSVQGY5EAMTKRWEQWCL73FGQGZ4FYFFYJYLN6XQ7DQ/chunk917.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDR3WIWA6BC3ZXCJREYIH4AEN7OCFNLZYFGFNPDLJL7Q7Z2RYPPQ/chunk168.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6RMWFJ5ZK6GJF2J2N5MXMW3DVYKTUCQWXZQ4OV7FUMW2DYT3B3UQ/chunk459.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LMKCQMADKU2H64XDF6O5TFHYCHGGY3E5PPZVIZALBUILSEBWDFBA/chunk459.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YHQSAXVEOUUAW4SAIQIOXPK2MJHXT65N2GWZB6SQXJMPEFGNNPA/chunk332.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45QLRSCJODUC46WS3NXI4GMYHZ7OBGY62W6MIYZHQOKDMDPYA4PQ/chunk292.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOPKD2P7E5PQ2LP6X6FBRHVC3O6RHCYNZHNKDDMLC6WQGLBPBZFA/chunk987.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DN42T5DNDWRKXY2D5W6YXR77KCZPSG4QYIUC7ID4EKQAHPCJBDCQ/chunk7.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUJ7LL5IJZF5H572MO43SDK532S7LP4Z3GSA6J4HA7JNR36HHFMQ/chunk240.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQ2QVQXWQ3NFP7E4OX65CBXYUTWBEY2KXQ2B36QAUL3JLKYOHMPQ/chunk102.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVJVYQWKZWF4EZU6C7ERWKK4QQEW7FO6Z7WBW772LUCTUOSXASRQ/chunk507.js"
            ]
        },
        "ListImportTasks": {
            "http": {
                "method": "GET",
                "requestUri": "/importtasks",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "tasks"
                ],
                "members": {
                    "tasks": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "taskId",
                                "source",
                                "roleArn",
                                "status"
                            ],
                            "members": {
                                "graphId": {},
                                "taskId": {},
                                "source": {},
                                "format": {},
                                "roleArn": {},
                                "status": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "staticContextParams": {
                "ApiType": {
                    "value": "ControlPlane"
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BJ7HVRH3RMA3JSADNXKWJIGRB5LBFJUJY3JOLRGSUN7M44CH7BQ/chunk559.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MDNBT2JIOWSDCTHUXMIFGWOXHRQZT3XCGRDMC6GE2O7NQFAOQBOQ/chunk96.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKDXWYHWXMV4NGLOMTVKGEYTNJ5ZR46ZRXKVYH3NRC42UNZYWLPA/chunk613.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMQJ5OHZJEILK5O5EHO6TEOLJMKINAVB2JE5KX5R4WHW5P47ZVHA/chunk534.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWXFKYY7DWJYRZROSJ2ETUSKWZEDEBGZOAMY456J2XDLZWNRIUSA/chunk534.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXVSCBFZLDPNY2NP2QJYCXCF44AD7OMCFC46DFUMUSGGRD4PR7EQ/chunk534.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UQXGYL5VKJDHHKIUYZAEC4IJQIYY42H5LVY4OVXWAHVU4Y3K3BGA/chunk534.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SEJ7TGLRFCDM7H5OI6XACRUSYXHFPAPSQVK5SCYAQBJCHHFT2SKA/chunk534.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XARMELI3AS3U2PSO6TPDL2JYLZXORJ52XXO25RX47IT5CNLTELEQ/chunk336.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUJ6OTOQPJPUZURMECIAZTUUS4PPFRG3LNCOLBTX3WDRQGHZZQWA/chunk336.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BNOJP5STVJPJCPRHBUYOYW45M5ZTRO6KS6DAFX5HDHXDYL3UOZQ/chunk915.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6CIZPBE4HRVGFHDBUDHJLOX2UKUV7CZ7UAVOIOPKMCU4CEVCIHYA/chunk915.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CARZ2GGVU5C7QWKZFWFFSAF6LFJQGN7QO7RUGC7J7EGIGJ54TG5A/chunk915.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLQHBOFZOSDSVQGY5EAMTKRWEQWCL73FGQGZ4FYFFYJYLN6XQ7DQ/chunk917.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDR3WIWA6BC3ZXCJREYIH4AEN7OCFNLZYFGFNPDLJL7Q7Z2RYPPQ/chunk168.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6RMWFJ5ZK6GJF2J2N5MXMW3DVYKTUCQWXZQ4OV7FUMW2DYT3B3UQ/chunk459.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LMKCQMADKU2H64XDF6O5TFHYCHGGY3E5PPZVIZALBUILSEBWDFBA/chunk459.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YHQSAXVEOUUAW4SAIQIOXPK2MJHXT65N2GWZB6SQXJMPEFGNNPA/chunk332.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45QLRSCJODUC46WS3NXI4GMYHZ7OBGY62W6MIYZHQOKDMDPYA4PQ/chunk292.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOPKD2P7E5PQ2LP6X6FBRHVC3O6RHCYNZHNKDDMLC6WQGLBPBZFA/chunk987.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DN42T5DNDWRKXY2D5W6YXR77KCZPSG4QYIUC7ID4EKQAHPCJBDCQ/chunk7.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUJ7LL5IJZF5H572MO43SDK532S7LP4Z3GSA6J4HA7JNR36HHFMQ/chunk240.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQ2QVQXWQ3NFP7E4OX65CBXYUTWBEY2KXQ2B36QAUL3JLKYOHMPQ/chunk102.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVJVYQWKZWF4EZU6C7ERWKK4QQEW7FO6Z7WBW772LUCTUOSXASRQ/chunk507.js"
            ]
        },
        "ListPrivateGraphEndpoints": {
            "http": {
                "method": "GET",
                "requestUri": "/graphs/{graphIdentifier}/endpoints/",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "graphIdentifier"
                ],
                "members": {
                    "graphIdentifier": {
                        "location": "uri",
                        "locationName": "graphIdentifier"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "privateGraphEndpoints"
                ],
                "members": {
                    "privateGraphEndpoints": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "vpcId",
                                "subnetIds",
                                "status"
                            ],
                            "members": {
                                "vpcId": {},
                                "subnetIds": {
                                    "shape": "S11"
                                },
                                "status": {},
                                "vpcEndpointId": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "staticContextParams": {
                "ApiType": {
                    "value": "ControlPlane"
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BJ7HVRH3RMA3JSADNXKWJIGRB5LBFJUJY3JOLRGSUN7M44CH7BQ/chunk559.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MDNBT2JIOWSDCTHUXMIFGWOXHRQZT3XCGRDMC6GE2O7NQFAOQBOQ/chunk96.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKDXWYHWXMV4NGLOMTVKGEYTNJ5ZR46ZRXKVYH3NRC42UNZYWLPA/chunk613.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMQJ5OHZJEILK5O5EHO6TEOLJMKINAVB2JE5KX5R4WHW5P47ZVHA/chunk534.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWXFKYY7DWJYRZROSJ2ETUSKWZEDEBGZOAMY456J2XDLZWNRIUSA/chunk534.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXVSCBFZLDPNY2NP2QJYCXCF44AD7OMCFC46DFUMUSGGRD4PR7EQ/chunk534.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UQXGYL5VKJDHHKIUYZAEC4IJQIYY42H5LVY4OVXWAHVU4Y3K3BGA/chunk534.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SEJ7TGLRFCDM7H5OI6XACRUSYXHFPAPSQVK5SCYAQBJCHHFT2SKA/chunk534.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XARMELI3AS3U2PSO6TPDL2JYLZXORJ52XXO25RX47IT5CNLTELEQ/chunk336.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUJ6OTOQPJPUZURMECIAZTUUS4PPFRG3LNCOLBTX3WDRQGHZZQWA/chunk336.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BNOJP5STVJPJCPRHBUYOYW45M5ZTRO6KS6DAFX5HDHXDYL3UOZQ/chunk915.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6CIZPBE4HRVGFHDBUDHJLOX2UKUV7CZ7UAVOIOPKMCU4CEVCIHYA/chunk915.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CARZ2GGVU5C7QWKZFWFFSAF6LFJQGN7QO7RUGC7J7EGIGJ54TG5A/chunk915.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLQHBOFZOSDSVQGY5EAMTKRWEQWCL73FGQGZ4FYFFYJYLN6XQ7DQ/chunk917.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDR3WIWA6BC3ZXCJREYIH4AEN7OCFNLZYFGFNPDLJL7Q7Z2RYPPQ/chunk168.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6RMWFJ5ZK6GJF2J2N5MXMW3DVYKTUCQWXZQ4OV7FUMW2DYT3B3UQ/chunk459.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LMKCQMADKU2H64XDF6O5TFHYCHGGY3E5PPZVIZALBUILSEBWDFBA/chunk459.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YHQSAXVEOUUAW4SAIQIOXPK2MJHXT65N2GWZB6SQXJMPEFGNNPA/chunk332.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45QLRSCJODUC46WS3NXI4GMYHZ7OBGY62W6MIYZHQOKDMDPYA4PQ/chunk292.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOPKD2P7E5PQ2LP6X6FBRHVC3O6RHCYNZHNKDDMLC6WQGLBPBZFA/chunk987.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DN42T5DNDWRKXY2D5W6YXR77KCZPSG4QYIUC7ID4EKQAHPCJBDCQ/chunk7.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUJ7LL5IJZF5H572MO43SDK532S7LP4Z3GSA6J4HA7JNR36HHFMQ/chunk240.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQ2QVQXWQ3NFP7E4OX65CBXYUTWBEY2KXQ2B36QAUL3JLKYOHMPQ/chunk102.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVJVYQWKZWF4EZU6C7ERWKK4QQEW7FO6Z7WBW772LUCTUOSXASRQ/chunk507.js"
            ]
        },
        "ListTagsForResource": {
            "http": {
                "method": "GET",
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "tags": {
                        "shape": "Sb"
                    }
                }
            },
            "staticContextParams": {
                "ApiType": {
                    "value": "ControlPlane"
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BJ7HVRH3RMA3JSADNXKWJIGRB5LBFJUJY3JOLRGSUN7M44CH7BQ/chunk559.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MDNBT2JIOWSDCTHUXMIFGWOXHRQZT3XCGRDMC6GE2O7NQFAOQBOQ/chunk96.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKDXWYHWXMV4NGLOMTVKGEYTNJ5ZR46ZRXKVYH3NRC42UNZYWLPA/chunk613.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMQJ5OHZJEILK5O5EHO6TEOLJMKINAVB2JE5KX5R4WHW5P47ZVHA/chunk534.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWXFKYY7DWJYRZROSJ2ETUSKWZEDEBGZOAMY456J2XDLZWNRIUSA/chunk534.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXVSCBFZLDPNY2NP2QJYCXCF44AD7OMCFC46DFUMUSGGRD4PR7EQ/chunk534.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UQXGYL5VKJDHHKIUYZAEC4IJQIYY42H5LVY4OVXWAHVU4Y3K3BGA/chunk534.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SEJ7TGLRFCDM7H5OI6XACRUSYXHFPAPSQVK5SCYAQBJCHHFT2SKA/chunk534.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XARMELI3AS3U2PSO6TPDL2JYLZXORJ52XXO25RX47IT5CNLTELEQ/chunk336.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUJ6OTOQPJPUZURMECIAZTUUS4PPFRG3LNCOLBTX3WDRQGHZZQWA/chunk336.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BNOJP5STVJPJCPRHBUYOYW45M5ZTRO6KS6DAFX5HDHXDYL3UOZQ/chunk915.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6CIZPBE4HRVGFHDBUDHJLOX2UKUV7CZ7UAVOIOPKMCU4CEVCIHYA/chunk915.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CARZ2GGVU5C7QWKZFWFFSAF6LFJQGN7QO7RUGC7J7EGIGJ54TG5A/chunk915.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLQHBOFZOSDSVQGY5EAMTKRWEQWCL73FGQGZ4FYFFYJYLN6XQ7DQ/chunk917.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDR3WIWA6BC3ZXCJREYIH4AEN7OCFNLZYFGFNPDLJL7Q7Z2RYPPQ/chunk168.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6RMWFJ5ZK6GJF2J2N5MXMW3DVYKTUCQWXZQ4OV7FUMW2DYT3B3UQ/chunk459.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LMKCQMADKU2H64XDF6O5TFHYCHGGY3E5PPZVIZALBUILSEBWDFBA/chunk459.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YHQSAXVEOUUAW4SAIQIOXPK2MJHXT65N2GWZB6SQXJMPEFGNNPA/chunk332.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45QLRSCJODUC46WS3NXI4GMYHZ7OBGY62W6MIYZHQOKDMDPYA4PQ/chunk292.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOPKD2P7E5PQ2LP6X6FBRHVC3O6RHCYNZHNKDDMLC6WQGLBPBZFA/chunk987.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DN42T5DNDWRKXY2D5W6YXR77KCZPSG4QYIUC7ID4EKQAHPCJBDCQ/chunk7.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUJ7LL5IJZF5H572MO43SDK532S7LP4Z3GSA6J4HA7JNR36HHFMQ/chunk240.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQ2QVQXWQ3NFP7E4OX65CBXYUTWBEY2KXQ2B36QAUL3JLKYOHMPQ/chunk102.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVJVYQWKZWF4EZU6C7ERWKK4QQEW7FO6Z7WBW772LUCTUOSXASRQ/chunk507.js"
            ]
        },
        "ResetGraph": {
            "http": {
                "method": "PUT",
                "requestUri": "/graphs/{graphIdentifier}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "graphIdentifier",
                    "skipSnapshot"
                ],
                "members": {
                    "graphIdentifier": {
                        "location": "uri",
                        "locationName": "graphIdentifier"
                    },
                    "skipSnapshot": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "id",
                    "name",
                    "arn"
                ],
                "members": {
                    "id": {},
                    "name": {},
                    "arn": {},
                    "status": {},
                    "statusReason": {},
                    "createTime": {
                        "type": "timestamp"
                    },
                    "provisionedMemory": {
                        "type": "integer"
                    },
                    "endpoint": {},
                    "publicConnectivity": {
                        "type": "boolean"
                    },
                    "vectorSearchConfiguration": {
                        "shape": "Sg"
                    },
                    "replicaCount": {
                        "type": "integer"
                    },
                    "kmsKeyIdentifier": {},
                    "sourceSnapshotId": {},
                    "deletionProtection": {
                        "type": "boolean"
                    },
                    "buildNumber": {}
                }
            },
            "staticContextParams": {
                "ApiType": {
                    "value": "ControlPlane"
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BJ7HVRH3RMA3JSADNXKWJIGRB5LBFJUJY3JOLRGSUN7M44CH7BQ/chunk559.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MDNBT2JIOWSDCTHUXMIFGWOXHRQZT3XCGRDMC6GE2O7NQFAOQBOQ/chunk96.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKDXWYHWXMV4NGLOMTVKGEYTNJ5ZR46ZRXKVYH3NRC42UNZYWLPA/chunk613.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMQJ5OHZJEILK5O5EHO6TEOLJMKINAVB2JE5KX5R4WHW5P47ZVHA/chunk534.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWXFKYY7DWJYRZROSJ2ETUSKWZEDEBGZOAMY456J2XDLZWNRIUSA/chunk534.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXVSCBFZLDPNY2NP2QJYCXCF44AD7OMCFC46DFUMUSGGRD4PR7EQ/chunk534.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UQXGYL5VKJDHHKIUYZAEC4IJQIYY42H5LVY4OVXWAHVU4Y3K3BGA/chunk534.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SEJ7TGLRFCDM7H5OI6XACRUSYXHFPAPSQVK5SCYAQBJCHHFT2SKA/chunk534.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XARMELI3AS3U2PSO6TPDL2JYLZXORJ52XXO25RX47IT5CNLTELEQ/chunk336.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUJ6OTOQPJPUZURMECIAZTUUS4PPFRG3LNCOLBTX3WDRQGHZZQWA/chunk336.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BNOJP5STVJPJCPRHBUYOYW45M5ZTRO6KS6DAFX5HDHXDYL3UOZQ/chunk915.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6CIZPBE4HRVGFHDBUDHJLOX2UKUV7CZ7UAVOIOPKMCU4CEVCIHYA/chunk915.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CARZ2GGVU5C7QWKZFWFFSAF6LFJQGN7QO7RUGC7J7EGIGJ54TG5A/chunk915.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLQHBOFZOSDSVQGY5EAMTKRWEQWCL73FGQGZ4FYFFYJYLN6XQ7DQ/chunk917.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDR3WIWA6BC3ZXCJREYIH4AEN7OCFNLZYFGFNPDLJL7Q7Z2RYPPQ/chunk168.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6RMWFJ5ZK6GJF2J2N5MXMW3DVYKTUCQWXZQ4OV7FUMW2DYT3B3UQ/chunk459.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LMKCQMADKU2H64XDF6O5TFHYCHGGY3E5PPZVIZALBUILSEBWDFBA/chunk459.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YHQSAXVEOUUAW4SAIQIOXPK2MJHXT65N2GWZB6SQXJMPEFGNNPA/chunk332.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45QLRSCJODUC46WS3NXI4GMYHZ7OBGY62W6MIYZHQOKDMDPYA4PQ/chunk292.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOPKD2P7E5PQ2LP6X6FBRHVC3O6RHCYNZHNKDDMLC6WQGLBPBZFA/chunk987.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DN42T5DNDWRKXY2D5W6YXR77KCZPSG4QYIUC7ID4EKQAHPCJBDCQ/chunk7.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUJ7LL5IJZF5H572MO43SDK532S7LP4Z3GSA6J4HA7JNR36HHFMQ/chunk240.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQ2QVQXWQ3NFP7E4OX65CBXYUTWBEY2KXQ2B36QAUL3JLKYOHMPQ/chunk102.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVJVYQWKZWF4EZU6C7ERWKK4QQEW7FO6Z7WBW772LUCTUOSXASRQ/chunk507.js"
            ]
        },
        "RestoreGraphFromSnapshot": {
            "http": {
                "requestUri": "/snapshots/{snapshotIdentifier}/restore",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "snapshotIdentifier",
                    "graphName"
                ],
                "members": {
                    "snapshotIdentifier": {
                        "location": "uri",
                        "locationName": "snapshotIdentifier"
                    },
                    "graphName": {},
                    "provisionedMemory": {
                        "type": "integer"
                    },
                    "deletionProtection": {
                        "type": "boolean"
                    },
                    "tags": {
                        "shape": "Sb"
                    },
                    "replicaCount": {
                        "type": "integer"
                    },
                    "publicConnectivity": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "id",
                    "name",
                    "arn"
                ],
                "members": {
                    "id": {},
                    "name": {},
                    "arn": {},
                    "status": {},
                    "statusReason": {},
                    "createTime": {
                        "type": "timestamp"
                    },
                    "provisionedMemory": {
                        "type": "integer"
                    },
                    "endpoint": {},
                    "publicConnectivity": {
                        "type": "boolean"
                    },
                    "vectorSearchConfiguration": {
                        "shape": "Sg"
                    },
                    "replicaCount": {
                        "type": "integer"
                    },
                    "kmsKeyIdentifier": {},
                    "sourceSnapshotId": {},
                    "deletionProtection": {
                        "type": "boolean"
                    },
                    "buildNumber": {}
                }
            },
            "staticContextParams": {
                "ApiType": {
                    "value": "ControlPlane"
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BJ7HVRH3RMA3JSADNXKWJIGRB5LBFJUJY3JOLRGSUN7M44CH7BQ/chunk559.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MDNBT2JIOWSDCTHUXMIFGWOXHRQZT3XCGRDMC6GE2O7NQFAOQBOQ/chunk96.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKDXWYHWXMV4NGLOMTVKGEYTNJ5ZR46ZRXKVYH3NRC42UNZYWLPA/chunk613.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMQJ5OHZJEILK5O5EHO6TEOLJMKINAVB2JE5KX5R4WHW5P47ZVHA/chunk534.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWXFKYY7DWJYRZROSJ2ETUSKWZEDEBGZOAMY456J2XDLZWNRIUSA/chunk534.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXVSCBFZLDPNY2NP2QJYCXCF44AD7OMCFC46DFUMUSGGRD4PR7EQ/chunk534.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UQXGYL5VKJDHHKIUYZAEC4IJQIYY42H5LVY4OVXWAHVU4Y3K3BGA/chunk534.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SEJ7TGLRFCDM7H5OI6XACRUSYXHFPAPSQVK5SCYAQBJCHHFT2SKA/chunk534.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XARMELI3AS3U2PSO6TPDL2JYLZXORJ52XXO25RX47IT5CNLTELEQ/chunk336.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUJ6OTOQPJPUZURMECIAZTUUS4PPFRG3LNCOLBTX3WDRQGHZZQWA/chunk336.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BNOJP5STVJPJCPRHBUYOYW45M5ZTRO6KS6DAFX5HDHXDYL3UOZQ/chunk915.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6CIZPBE4HRVGFHDBUDHJLOX2UKUV7CZ7UAVOIOPKMCU4CEVCIHYA/chunk915.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CARZ2GGVU5C7QWKZFWFFSAF6LFJQGN7QO7RUGC7J7EGIGJ54TG5A/chunk915.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLQHBOFZOSDSVQGY5EAMTKRWEQWCL73FGQGZ4FYFFYJYLN6XQ7DQ/chunk917.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDR3WIWA6BC3ZXCJREYIH4AEN7OCFNLZYFGFNPDLJL7Q7Z2RYPPQ/chunk168.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6RMWFJ5ZK6GJF2J2N5MXMW3DVYKTUCQWXZQ4OV7FUMW2DYT3B3UQ/chunk459.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LMKCQMADKU2H64XDF6O5TFHYCHGGY3E5PPZVIZALBUILSEBWDFBA/chunk459.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YHQSAXVEOUUAW4SAIQIOXPK2MJHXT65N2GWZB6SQXJMPEFGNNPA/chunk332.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45QLRSCJODUC46WS3NXI4GMYHZ7OBGY62W6MIYZHQOKDMDPYA4PQ/chunk292.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOPKD2P7E5PQ2LP6X6FBRHVC3O6RHCYNZHNKDDMLC6WQGLBPBZFA/chunk987.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DN42T5DNDWRKXY2D5W6YXR77KCZPSG4QYIUC7ID4EKQAHPCJBDCQ/chunk7.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUJ7LL5IJZF5H572MO43SDK532S7LP4Z3GSA6J4HA7JNR36HHFMQ/chunk240.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQ2QVQXWQ3NFP7E4OX65CBXYUTWBEY2KXQ2B36QAUL3JLKYOHMPQ/chunk102.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVJVYQWKZWF4EZU6C7ERWKK4QQEW7FO6Z7WBW772LUCTUOSXASRQ/chunk507.js"
            ]
        },
        "TagResource": {
            "http": {
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "tags"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    },
                    "tags": {
                        "shape": "Sb"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "staticContextParams": {
                "ApiType": {
                    "value": "ControlPlane"
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BJ7HVRH3RMA3JSADNXKWJIGRB5LBFJUJY3JOLRGSUN7M44CH7BQ/chunk559.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MDNBT2JIOWSDCTHUXMIFGWOXHRQZT3XCGRDMC6GE2O7NQFAOQBOQ/chunk96.js",
[...]
