{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2023-11-29",
        "endpointPrefix": "neptune-graph",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "ripServiceName": "neptune-graph",
        "serviceAbbreviation": "Neptune Graph",
        "serviceFullName": "Amazon Neptune Graph",
        "serviceId": "Neptune Graph",
        "signatureVersion": "v4",
        "signingName": "neptune-graph",
        "uid": "neptune-graph-2023-11-29",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/XT3GBTWSX6BMQDM23QP75YGVX223BM6XALRUYKGWFVL7OO3LRVMQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RZAY2EXT7AOGEHTMRXTF27VBNIJG5AXNGDNKUN3TB5CSECHIR7QQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GBE42PUNP6DE7WU6BSQWVSK6TYLXKDWTGK25O7LTISTRUOQFP5SQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/733CA44FHXV25GIXPF57VWBSWQ44IUQXXDQEVXI6XJYUDKWJEISQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LZLLQZDI3APVXTAR5VCYVB7SRLH6AKTTRYZ7TXU7IHVOJIEPH6FQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PREPSSOIAH7B3YJVZPXZQXW6KBNP72HFLTXA254VJUA77WGBHCSA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ODFKGYX4BYO2BUQQQNG5FVUBVDG3HPQTT6V7YPEBAN6ZDGAY34PQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/U7OEC6TTRNSN726J2XLZHXTBIQQ3FOI2BFILQAW2D5XVHWRQ6UQA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FLSU237KQ7P2E2JET23WTFZVEEQ7OVTQLHXZR4Q6I5I4BFVRRB4A/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7TZK7OCWKBPGUBWQQT632PNREKEJRC5AZNUHP346B5PWCPVU5IVA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FN6C5MGJRSHZA63DE74CI75UDFBCWOM5TJPSHWUQ3G4MPIGXLTHA/vendors.sdk.js"
        ]
    },
    "operations": {
        "CancelImportTask": {
            "http": {
                "method": "DELETE",
                "requestUri": "/importtasks/{taskIdentifier}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "taskIdentifier"
                ],
                "members": {
                    "taskIdentifier": {
                        "location": "uri",
                        "locationName": "taskIdentifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "taskId",
                    "source",
                    "roleArn",
                    "status"
                ],
                "members": {
                    "graphId": {},
                    "taskId": {},
                    "source": {},
                    "format": {},
                    "roleArn": {},
                    "status": {}
                }
            },
            "staticContextParams": {
                "ApiType": {
                    "value": "ControlPlane"
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3GBTWSX6BMQDM23QP75YGVX223BM6XALRUYKGWFVL7OO3LRVMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZAY2EXT7AOGEHTMRXTF27VBNIJG5AXNGDNKUN3TB5CSECHIR7QQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBE42PUNP6DE7WU6BSQWVSK6TYLXKDWTGK25O7LTISTRUOQFP5SQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/733CA44FHXV25GIXPF57VWBSWQ44IUQXXDQEVXI6XJYUDKWJEISQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZLLQZDI3APVXTAR5VCYVB7SRLH6AKTTRYZ7TXU7IHVOJIEPH6FQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PREPSSOIAH7B3YJVZPXZQXW6KBNP72HFLTXA254VJUA77WGBHCSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODFKGYX4BYO2BUQQQNG5FVUBVDG3HPQTT6V7YPEBAN6ZDGAY34PQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7OEC6TTRNSN726J2XLZHXTBIQQ3FOI2BFILQAW2D5XVHWRQ6UQA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FLSU237KQ7P2E2JET23WTFZVEEQ7OVTQLHXZR4Q6I5I4BFVRRB4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TZK7OCWKBPGUBWQQT632PNREKEJRC5AZNUHP346B5PWCPVU5IVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FN6C5MGJRSHZA63DE74CI75UDFBCWOM5TJPSHWUQ3G4MPIGXLTHA/vendors.sdk.js"
            ]
        },
        "CreateGraph": {
            "http": {
                "requestUri": "/graphs",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "graphName",
                    "provisionedMemory"
                ],
                "members": {
                    "graphName": {},
                    "tags": {
                        "shape": "Sb"
                    },
                    "publicConnectivity": {
                        "type": "boolean"
                    },
                    "kmsKeyIdentifier": {},
                    "vectorSearchConfiguration": {
                        "shape": "Sg"
                    },
                    "replicaCount": {
                        "type": "integer"
                    },
                    "deletionProtection": {
                        "type": "boolean"
                    },
                    "provisionedMemory": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "id",
                    "name",
                    "arn"
                ],
                "members": {
                    "id": {},
                    "name": {},
                    "arn": {},
                    "status": {},
                    "statusReason": {},
                    "createTime": {
                        "type": "timestamp"
                    },
                    "provisionedMemory": {
                        "type": "integer"
                    },
                    "endpoint": {},
                    "publicConnectivity": {
                        "type": "boolean"
                    },
                    "vectorSearchConfiguration": {
                        "shape": "Sg"
                    },
                    "replicaCount": {
                        "type": "integer"
                    },
                    "kmsKeyIdentifier": {},
                    "sourceSnapshotId": {},
                    "deletionProtection": {
                        "type": "boolean"
                    },
                    "buildNumber": {}
                }
            },
            "staticContextParams": {
                "ApiType": {
                    "value": "ControlPlane"
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3GBTWSX6BMQDM23QP75YGVX223BM6XALRUYKGWFVL7OO3LRVMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZAY2EXT7AOGEHTMRXTF27VBNIJG5AXNGDNKUN3TB5CSECHIR7QQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBE42PUNP6DE7WU6BSQWVSK6TYLXKDWTGK25O7LTISTRUOQFP5SQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/733CA44FHXV25GIXPF57VWBSWQ44IUQXXDQEVXI6XJYUDKWJEISQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZLLQZDI3APVXTAR5VCYVB7SRLH6AKTTRYZ7TXU7IHVOJIEPH6FQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PREPSSOIAH7B3YJVZPXZQXW6KBNP72HFLTXA254VJUA77WGBHCSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODFKGYX4BYO2BUQQQNG5FVUBVDG3HPQTT6V7YPEBAN6ZDGAY34PQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7OEC6TTRNSN726J2XLZHXTBIQQ3FOI2BFILQAW2D5XVHWRQ6UQA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FLSU237KQ7P2E2JET23WTFZVEEQ7OVTQLHXZR4Q6I5I4BFVRRB4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TZK7OCWKBPGUBWQQT632PNREKEJRC5AZNUHP346B5PWCPVU5IVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FN6C5MGJRSHZA63DE74CI75UDFBCWOM5TJPSHWUQ3G4MPIGXLTHA/vendors.sdk.js"
            ]
        },
        "CreateGraphSnapshot": {
            "http": {
                "requestUri": "/snapshots",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "graphIdentifier",
                    "snapshotName"
                ],
                "members": {
                    "graphIdentifier": {},
                    "snapshotName": {},
                    "tags": {
                        "shape": "Sb"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "id",
                    "name",
                    "arn"
                ],
                "members": {
                    "id": {},
                    "name": {},
                    "arn": {},
                    "sourceGraphId": {},
                    "snapshotCreateTime": {
                        "type": "timestamp"
                    },
                    "status": {},
                    "kmsKeyIdentifier": {}
                }
            },
            "staticContextParams": {
                "ApiType": {
                    "value": "ControlPlane"
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3GBTWSX6BMQDM23QP75YGVX223BM6XALRUYKGWFVL7OO3LRVMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZAY2EXT7AOGEHTMRXTF27VBNIJG5AXNGDNKUN3TB5CSECHIR7QQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBE42PUNP6DE7WU6BSQWVSK6TYLXKDWTGK25O7LTISTRUOQFP5SQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/733CA44FHXV25GIXPF57VWBSWQ44IUQXXDQEVXI6XJYUDKWJEISQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZLLQZDI3APVXTAR5VCYVB7SRLH6AKTTRYZ7TXU7IHVOJIEPH6FQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PREPSSOIAH7B3YJVZPXZQXW6KBNP72HFLTXA254VJUA77WGBHCSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODFKGYX4BYO2BUQQQNG5FVUBVDG3HPQTT6V7YPEBAN6ZDGAY34PQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7OEC6TTRNSN726J2XLZHXTBIQQ3FOI2BFILQAW2D5XVHWRQ6UQA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FLSU237KQ7P2E2JET23WTFZVEEQ7OVTQLHXZR4Q6I5I4BFVRRB4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TZK7OCWKBPGUBWQQT632PNREKEJRC5AZNUHP346B5PWCPVU5IVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FN6C5MGJRSHZA63DE74CI75UDFBCWOM5TJPSHWUQ3G4MPIGXLTHA/vendors.sdk.js"
            ]
        },
        "CreateGraphUsingImportTask": {
            "http": {
                "requestUri": "/importtasks",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "graphName",
                    "source",
                    "roleArn"
                ],
                "members": {
                    "graphName": {},
                    "tags": {
                        "shape": "Sb"
                    },
                    "publicConnectivity": {
                        "type": "boolean"
                    },
                    "kmsKeyIdentifier": {},
                    "vectorSearchConfiguration": {
                        "shape": "Sg"
                    },
                    "replicaCount": {
                        "type": "integer"
                    },
                    "deletionProtection": {
                        "type": "boolean"
                    },
                    "importOptions": {
                        "shape": "Su"
                    },
                    "maxProvisionedMemory": {
                        "type": "integer"
                    },
                    "minProvisionedMemory": {
                        "type": "integer"
                    },
                    "failOnError": {
                        "type": "boolean"
                    },
                    "source": {},
                    "format": {},
                    "roleArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "taskId",
                    "source",
                    "roleArn",
                    "status"
                ],
                "members": {
                    "graphId": {},
                    "taskId": {},
                    "source": {},
                    "format": {},
                    "roleArn": {},
                    "status": {},
                    "importOptions": {
                        "shape": "Su"
                    }
                }
            },
            "staticContextParams": {
                "ApiType": {
                    "value": "ControlPlane"
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3GBTWSX6BMQDM23QP75YGVX223BM6XALRUYKGWFVL7OO3LRVMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZAY2EXT7AOGEHTMRXTF27VBNIJG5AXNGDNKUN3TB5CSECHIR7QQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBE42PUNP6DE7WU6BSQWVSK6TYLXKDWTGK25O7LTISTRUOQFP5SQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/733CA44FHXV25GIXPF57VWBSWQ44IUQXXDQEVXI6XJYUDKWJEISQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZLLQZDI3APVXTAR5VCYVB7SRLH6AKTTRYZ7TXU7IHVOJIEPH6FQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PREPSSOIAH7B3YJVZPXZQXW6KBNP72HFLTXA254VJUA77WGBHCSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODFKGYX4BYO2BUQQQNG5FVUBVDG3HPQTT6V7YPEBAN6ZDGAY34PQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7OEC6TTRNSN726J2XLZHXTBIQQ3FOI2BFILQAW2D5XVHWRQ6UQA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FLSU237KQ7P2E2JET23WTFZVEEQ7OVTQLHXZR4Q6I5I4BFVRRB4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TZK7OCWKBPGUBWQQT632PNREKEJRC5AZNUHP346B5PWCPVU5IVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FN6C5MGJRSHZA63DE74CI75UDFBCWOM5TJPSHWUQ3G4MPIGXLTHA/vendors.sdk.js"
            ]
        },
        "CreatePrivateGraphEndpoint": {
            "http": {
                "requestUri": "/graphs/{graphIdentifier}/endpoints/",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "graphIdentifier"
                ],
                "members": {
                    "graphIdentifier": {
                        "location": "uri",
                        "locationName": "graphIdentifier"
                    },
                    "vpcId": {},
                    "subnetIds": {
                        "shape": "S11"
                    },
                    "vpcSecurityGroupIds": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "vpcId",
                    "subnetIds",
                    "status"
                ],
                "members": {
                    "vpcId": {},
                    "subnetIds": {
                        "shape": "S11"
                    },
                    "status": {},
                    "vpcEndpointId": {}
                }
            },
            "staticContextParams": {
                "ApiType": {
                    "value": "ControlPlane"
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3GBTWSX6BMQDM23QP75YGVX223BM6XALRUYKGWFVL7OO3LRVMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZAY2EXT7AOGEHTMRXTF27VBNIJG5AXNGDNKUN3TB5CSECHIR7QQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBE42PUNP6DE7WU6BSQWVSK6TYLXKDWTGK25O7LTISTRUOQFP5SQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/733CA44FHXV25GIXPF57VWBSWQ44IUQXXDQEVXI6XJYUDKWJEISQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZLLQZDI3APVXTAR5VCYVB7SRLH6AKTTRYZ7TXU7IHVOJIEPH6FQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PREPSSOIAH7B3YJVZPXZQXW6KBNP72HFLTXA254VJUA77WGBHCSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODFKGYX4BYO2BUQQQNG5FVUBVDG3HPQTT6V7YPEBAN6ZDGAY34PQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7OEC6TTRNSN726J2XLZHXTBIQQ3FOI2BFILQAW2D5XVHWRQ6UQA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FLSU237KQ7P2E2JET23WTFZVEEQ7OVTQLHXZR4Q6I5I4BFVRRB4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TZK7OCWKBPGUBWQQT632PNREKEJRC5AZNUHP346B5PWCPVU5IVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FN6C5MGJRSHZA63DE74CI75UDFBCWOM5TJPSHWUQ3G4MPIGXLTHA/vendors.sdk.js"
            ]
        },
        "DeleteGraph": {
            "http": {
                "method": "DELETE",
                "requestUri": "/graphs/{graphIdentifier}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "graphIdentifier",
                    "skipSnapshot"
                ],
                "members": {
                    "graphIdentifier": {
                        "location": "uri",
                        "locationName": "graphIdentifier"
                    },
                    "skipSnapshot": {
                        "location": "querystring",
                        "locationName": "skipSnapshot",
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "id",
                    "name",
                    "arn"
                ],
                "members": {
                    "id": {},
                    "name": {},
                    "arn": {},
                    "status": {},
                    "statusReason": {},
                    "createTime": {
                        "type": "timestamp"
                    },
                    "provisionedMemory": {
                        "type": "integer"
                    },
                    "endpoint": {},
                    "publicConnectivity": {
                        "type": "boolean"
                    },
                    "vectorSearchConfiguration": {
                        "shape": "Sg"
                    },
                    "replicaCount": {
                        "type": "integer"
                    },
                    "kmsKeyIdentifier": {},
                    "sourceSnapshotId": {},
                    "deletionProtection": {
                        "type": "boolean"
                    },
                    "buildNumber": {}
                }
            },
            "staticContextParams": {
                "ApiType": {
                    "value": "ControlPlane"
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3GBTWSX6BMQDM23QP75YGVX223BM6XALRUYKGWFVL7OO3LRVMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZAY2EXT7AOGEHTMRXTF27VBNIJG5AXNGDNKUN3TB5CSECHIR7QQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBE42PUNP6DE7WU6BSQWVSK6TYLXKDWTGK25O7LTISTRUOQFP5SQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/733CA44FHXV25GIXPF57VWBSWQ44IUQXXDQEVXI6XJYUDKWJEISQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZLLQZDI3APVXTAR5VCYVB7SRLH6AKTTRYZ7TXU7IHVOJIEPH6FQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PREPSSOIAH7B3YJVZPXZQXW6KBNP72HFLTXA254VJUA77WGBHCSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODFKGYX4BYO2BUQQQNG5FVUBVDG3HPQTT6V7YPEBAN6ZDGAY34PQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7OEC6TTRNSN726J2XLZHXTBIQQ3FOI2BFILQAW2D5XVHWRQ6UQA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FLSU237KQ7P2E2JET23WTFZVEEQ7OVTQLHXZR4Q6I5I4BFVRRB4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TZK7OCWKBPGUBWQQT632PNREKEJRC5AZNUHP346B5PWCPVU5IVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FN6C5MGJRSHZA63DE74CI75UDFBCWOM5TJPSHWUQ3G4MPIGXLTHA/vendors.sdk.js"
            ]
        },
        "DeleteGraphSnapshot": {
            "http": {
                "method": "DELETE",
                "requestUri": "/snapshots/{snapshotIdentifier}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "snapshotIdentifier"
                ],
                "members": {
                    "snapshotIdentifier": {
                        "location": "uri",
                        "locationName": "snapshotIdentifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "id",
                    "name",
                    "arn"
                ],
                "members": {
                    "id": {},
                    "name": {},
                    "arn": {},
                    "sourceGraphId": {},
                    "snapshotCreateTime": {
                        "type": "timestamp"
                    },
                    "status": {},
                    "kmsKeyIdentifier": {}
                }
            },
            "staticContextParams": {
                "ApiType": {
                    "value": "ControlPlane"
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3GBTWSX6BMQDM23QP75YGVX223BM6XALRUYKGWFVL7OO3LRVMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZAY2EXT7AOGEHTMRXTF27VBNIJG5AXNGDNKUN3TB5CSECHIR7QQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBE42PUNP6DE7WU6BSQWVSK6TYLXKDWTGK25O7LTISTRUOQFP5SQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/733CA44FHXV25GIXPF57VWBSWQ44IUQXXDQEVXI6XJYUDKWJEISQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZLLQZDI3APVXTAR5VCYVB7SRLH6AKTTRYZ7TXU7IHVOJIEPH6FQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PREPSSOIAH7B3YJVZPXZQXW6KBNP72HFLTXA254VJUA77WGBHCSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODFKGYX4BYO2BUQQQNG5FVUBVDG3HPQTT6V7YPEBAN6ZDGAY34PQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7OEC6TTRNSN726J2XLZHXTBIQQ3FOI2BFILQAW2D5XVHWRQ6UQA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FLSU237KQ7P2E2JET23WTFZVEEQ7OVTQLHXZR4Q6I5I4BFVRRB4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TZK7OCWKBPGUBWQQT632PNREKEJRC5AZNUHP346B5PWCPVU5IVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FN6C5MGJRSHZA63DE74CI75UDFBCWOM5TJPSHWUQ3G4MPIGXLTHA/vendors.sdk.js"
            ]
        },
        "DeletePrivateGraphEndpoint": {
            "http": {
                "method": "DELETE",
                "requestUri": "/graphs/{graphIdentifier}/endpoints/{vpcId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "graphIdentifier",
                    "vpcId"
                ],
                "members": {
                    "graphIdentifier": {
                        "location": "uri",
                        "locationName": "graphIdentifier"
                    },
                    "vpcId": {
                        "location": "uri",
                        "locationName": "vpcId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "vpcId",
                    "subnetIds",
                    "status"
                ],
                "members": {
                    "vpcId": {},
                    "subnetIds": {
                        "shape": "S11"
                    },
                    "status": {},
                    "vpcEndpointId": {}
                }
            },
            "staticContextParams": {
                "ApiType": {
                    "value": "ControlPlane"
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3GBTWSX6BMQDM23QP75YGVX223BM6XALRUYKGWFVL7OO3LRVMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZAY2EXT7AOGEHTMRXTF27VBNIJG5AXNGDNKUN3TB5CSECHIR7QQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBE42PUNP6DE7WU6BSQWVSK6TYLXKDWTGK25O7LTISTRUOQFP5SQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/733CA44FHXV25GIXPF57VWBSWQ44IUQXXDQEVXI6XJYUDKWJEISQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZLLQZDI3APVXTAR5VCYVB7SRLH6AKTTRYZ7TXU7IHVOJIEPH6FQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PREPSSOIAH7B3YJVZPXZQXW6KBNP72HFLTXA254VJUA77WGBHCSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODFKGYX4BYO2BUQQQNG5FVUBVDG3HPQTT6V7YPEBAN6ZDGAY34PQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7OEC6TTRNSN726J2XLZHXTBIQQ3FOI2BFILQAW2D5XVHWRQ6UQA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FLSU237KQ7P2E2JET23WTFZVEEQ7OVTQLHXZR4Q6I5I4BFVRRB4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TZK7OCWKBPGUBWQQT632PNREKEJRC5AZNUHP346B5PWCPVU5IVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FN6C5MGJRSHZA63DE74CI75UDFBCWOM5TJPSHWUQ3G4MPIGXLTHA/vendors.sdk.js"
            ]
        },
        "GetGraph": {
            "http": {
                "method": "GET",
                "requestUri": "/graphs/{graphIdentifier}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "graphIdentifier"
                ],
                "members": {
                    "graphIdentifier": {
                        "location": "uri",
                        "locationName": "graphIdentifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "id",
                    "name",
                    "arn"
                ],
                "members": {
                    "id": {},
                    "name": {},
                    "arn": {},
                    "status": {},
                    "statusReason": {},
                    "createTime": {
                        "type": "timestamp"
                    },
                    "provisionedMemory": {
                        "type": "integer"
                    },
                    "endpoint": {},
                    "publicConnectivity": {
                        "type": "boolean"
                    },
                    "vectorSearchConfiguration": {
                        "shape": "Sg"
                    },
                    "replicaCount": {
                        "type": "integer"
                    },
                    "kmsKeyIdentifier": {},
                    "sourceSnapshotId": {},
                    "deletionProtection": {
                        "type": "boolean"
                    },
                    "buildNumber": {}
                }
            },
            "staticContextParams": {
                "ApiType": {
                    "value": "ControlPlane"
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3GBTWSX6BMQDM23QP75YGVX223BM6XALRUYKGWFVL7OO3LRVMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZAY2EXT7AOGEHTMRXTF27VBNIJG5AXNGDNKUN3TB5CSECHIR7QQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBE42PUNP6DE7WU6BSQWVSK6TYLXKDWTGK25O7LTISTRUOQFP5SQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/733CA44FHXV25GIXPF57VWBSWQ44IUQXXDQEVXI6XJYUDKWJEISQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZLLQZDI3APVXTAR5VCYVB7SRLH6AKTTRYZ7TXU7IHVOJIEPH6FQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PREPSSOIAH7B3YJVZPXZQXW6KBNP72HFLTXA254VJUA77WGBHCSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODFKGYX4BYO2BUQQQNG5FVUBVDG3HPQTT6V7YPEBAN6ZDGAY34PQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7OEC6TTRNSN726J2XLZHXTBIQQ3FOI2BFILQAW2D5XVHWRQ6UQA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FLSU237KQ7P2E2JET23WTFZVEEQ7OVTQLHXZR4Q6I5I4BFVRRB4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TZK7OCWKBPGUBWQQT632PNREKEJRC5AZNUHP346B5PWCPVU5IVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FN6C5MGJRSHZA63DE74CI75UDFBCWOM5TJPSHWUQ3G4MPIGXLTHA/vendors.sdk.js"
            ]
        },
        "GetGraphSnapshot": {
            "http": {
                "method": "GET",
                "requestUri": "/snapshots/{snapshotIdentifier}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "snapshotIdentifier"
                ],
                "members": {
                    "snapshotIdentifier": {
                        "location": "uri",
                        "locationName": "snapshotIdentifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "id",
                    "name",
                    "arn"
                ],
                "members": {
                    "id": {},
                    "name": {},
                    "arn": {},
                    "sourceGraphId": {},
                    "snapshotCreateTime": {
                        "type": "timestamp"
                    },
                    "status": {},
                    "kmsKeyIdentifier": {}
                }
            },
            "staticContextParams": {
                "ApiType": {
                    "value": "ControlPlane"
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3GBTWSX6BMQDM23QP75YGVX223BM6XALRUYKGWFVL7OO3LRVMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZAY2EXT7AOGEHTMRXTF27VBNIJG5AXNGDNKUN3TB5CSECHIR7QQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBE42PUNP6DE7WU6BSQWVSK6TYLXKDWTGK25O7LTISTRUOQFP5SQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/733CA44FHXV25GIXPF57VWBSWQ44IUQXXDQEVXI6XJYUDKWJEISQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZLLQZDI3APVXTAR5VCYVB7SRLH6AKTTRYZ7TXU7IHVOJIEPH6FQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PREPSSOIAH7B3YJVZPXZQXW6KBNP72HFLTXA254VJUA77WGBHCSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODFKGYX4BYO2BUQQQNG5FVUBVDG3HPQTT6V7YPEBAN6ZDGAY34PQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7OEC6TTRNSN726J2XLZHXTBIQQ3FOI2BFILQAW2D5XVHWRQ6UQA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FLSU237KQ7P2E2JET23WTFZVEEQ7OVTQLHXZR4Q6I5I4BFVRRB4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TZK7OCWKBPGUBWQQT632PNREKEJRC5AZNUHP346B5PWCPVU5IVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FN6C5MGJRSHZA63DE74CI75UDFBCWOM5TJPSHWUQ3G4MPIGXLTHA/vendors.sdk.js"
            ]
        },
        "GetImportTask": {
            "http": {
                "method": "GET",
                "requestUri": "/importtasks/{taskIdentifier}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "taskIdentifier"
                ],
                "members": {
                    "taskIdentifier": {
                        "location": "uri",
                        "locationName": "taskIdentifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "taskId",
                    "source",
                    "roleArn",
                    "status"
                ],
                "members": {
                    "graphId": {},
                    "taskId": {},
                    "source": {},
                    "format": {},
                    "roleArn": {},
                    "status": {},
                    "importOptions": {
                        "shape": "Su"
                    },
                    "importTaskDetails": {
                        "type": "structure",
                        "required": [
                            "status",
                            "startTime",
                            "timeElapsedSeconds",
                            "progressPercentage",
                            "errorCount",
                            "statementCount",
                            "dictionaryEntryCount"
                        ],
                        "members": {
                            "status": {},
                            "startTime": {
                                "type": "timestamp"
                            },
                            "timeElapsedSeconds": {
                                "type": "long"
                            },
                            "progressPercentage": {
                                "type": "integer"
                            },
                            "errorCount": {
                                "type": "integer"
                            },
                            "errorDetails": {},
                            "statementCount": {
                                "type": "long"
                            },
                            "dictionaryEntryCount": {
                                "type": "long"
                            }
                        }
                    },
                    "attemptNumber": {
                        "type": "integer"
                    },
                    "statusReason": {}
                }
            },
            "staticContextParams": {
                "ApiType": {
                    "value": "ControlPlane"
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3GBTWSX6BMQDM23QP75YGVX223BM6XALRUYKGWFVL7OO3LRVMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZAY2EXT7AOGEHTMRXTF27VBNIJG5AXNGDNKUN3TB5CSECHIR7QQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBE42PUNP6DE7WU6BSQWVSK6TYLXKDWTGK25O7LTISTRUOQFP5SQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/733CA44FHXV25GIXPF57VWBSWQ44IUQXXDQEVXI6XJYUDKWJEISQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZLLQZDI3APVXTAR5VCYVB7SRLH6AKTTRYZ7TXU7IHVOJIEPH6FQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PREPSSOIAH7B3YJVZPXZQXW6KBNP72HFLTXA254VJUA77WGBHCSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODFKGYX4BYO2BUQQQNG5FVUBVDG3HPQTT6V7YPEBAN6ZDGAY34PQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7OEC6TTRNSN726J2XLZHXTBIQQ3FOI2BFILQAW2D5XVHWRQ6UQA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FLSU237KQ7P2E2JET23WTFZVEEQ7OVTQLHXZR4Q6I5I4BFVRRB4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TZK7OCWKBPGUBWQQT632PNREKEJRC5AZNUHP346B5PWCPVU5IVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FN6C5MGJRSHZA63DE74CI75UDFBCWOM5TJPSHWUQ3G4MPIGXLTHA/vendors.sdk.js"
            ]
        },
        "GetPrivateGraphEndpoint": {
            "http": {
                "method": "GET",
                "requestUri": "/graphs/{graphIdentifier}/endpoints/{vpcId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "graphIdentifier",
                    "vpcId"
                ],
                "members": {
                    "graphIdentifier": {
                        "location": "uri",
                        "locationName": "graphIdentifier"
                    },
                    "vpcId": {
                        "location": "uri",
                        "locationName": "vpcId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "vpcId",
                    "subnetIds",
                    "status"
                ],
                "members": {
                    "vpcId": {},
                    "subnetIds": {
                        "shape": "S11"
                    },
                    "status": {},
                    "vpcEndpointId": {}
                }
            },
            "staticContextParams": {
                "ApiType": {
                    "value": "ControlPlane"
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3GBTWSX6BMQDM23QP75YGVX223BM6XALRUYKGWFVL7OO3LRVMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZAY2EXT7AOGEHTMRXTF27VBNIJG5AXNGDNKUN3TB5CSECHIR7QQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBE42PUNP6DE7WU6BSQWVSK6TYLXKDWTGK25O7LTISTRUOQFP5SQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/733CA44FHXV25GIXPF57VWBSWQ44IUQXXDQEVXI6XJYUDKWJEISQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZLLQZDI3APVXTAR5VCYVB7SRLH6AKTTRYZ7TXU7IHVOJIEPH6FQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PREPSSOIAH7B3YJVZPXZQXW6KBNP72HFLTXA254VJUA77WGBHCSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODFKGYX4BYO2BUQQQNG5FVUBVDG3HPQTT6V7YPEBAN6ZDGAY34PQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7OEC6TTRNSN726J2XLZHXTBIQQ3FOI2BFILQAW2D5XVHWRQ6UQA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FLSU237KQ7P2E2JET23WTFZVEEQ7OVTQLHXZR4Q6I5I4BFVRRB4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TZK7OCWKBPGUBWQQT632PNREKEJRC5AZNUHP346B5PWCPVU5IVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FN6C5MGJRSHZA63DE74CI75UDFBCWOM5TJPSHWUQ3G4MPIGXLTHA/vendors.sdk.js"
            ]
        },
        "ListGraphSnapshots": {
            "http": {
                "method": "GET",
                "requestUri": "/snapshots",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "graphIdentifier": {
                        "location": "querystring",
                        "locationName": "graphIdentifier"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "graphSnapshots"
                ],
                "members": {
                    "graphSnapshots": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "id",
                                "name",
                                "arn"
                            ],
                            "members": {
                                "id": {},
                                "name": {},
                                "arn": {},
                                "sourceGraphId": {},
                                "snapshotCreateTime": {
                                    "type": "timestamp"
                                },
                                "status": {},
                                "kmsKeyIdentifier": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "staticContextParams": {
                "ApiType": {
                    "value": "ControlPlane"
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3GBTWSX6BMQDM23QP75YGVX223BM6XALRUYKGWFVL7OO3LRVMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZAY2EXT7AOGEHTMRXTF27VBNIJG5AXNGDNKUN3TB5CSECHIR7QQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBE42PUNP6DE7WU6BSQWVSK6TYLXKDWTGK25O7LTISTRUOQFP5SQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/733CA44FHXV25GIXPF57VWBSWQ44IUQXXDQEVXI6XJYUDKWJEISQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZLLQZDI3APVXTAR5VCYVB7SRLH6AKTTRYZ7TXU7IHVOJIEPH6FQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PREPSSOIAH7B3YJVZPXZQXW6KBNP72HFLTXA254VJUA77WGBHCSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODFKGYX4BYO2BUQQQNG5FVUBVDG3HPQTT6V7YPEBAN6ZDGAY34PQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7OEC6TTRNSN726J2XLZHXTBIQQ3FOI2BFILQAW2D5XVHWRQ6UQA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FLSU237KQ7P2E2JET23WTFZVEEQ7OVTQLHXZR4Q6I5I4BFVRRB4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TZK7OCWKBPGUBWQQT632PNREKEJRC5AZNUHP346B5PWCPVU5IVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FN6C5MGJRSHZA63DE74CI75UDFBCWOM5TJPSHWUQ3G4MPIGXLTHA/vendors.sdk.js"
            ]
        },
        "ListGraphs": {
            "http": {
                "method": "GET",
                "requestUri": "/graphs",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "graphs"
                ],
                "members": {
                    "graphs": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "id",
                                "name",
                                "arn"
                            ],
                            "members": {
                                "id": {},
                                "name": {},
                                "arn": {},
                                "status": {},
                                "provisionedMemory": {
                                    "type": "integer"
                                },
                                "publicConnectivity": {
                                    "type": "boolean"
                                },
                                "endpoint": {},
                                "replicaCount": {
                                    "type": "integer"
                                },
                                "kmsKeyIdentifier": {},
                                "deletionProtection": {
                                    "type": "boolean"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "staticContextParams": {
                "ApiType": {
                    "value": "ControlPlane"
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3GBTWSX6BMQDM23QP75YGVX223BM6XALRUYKGWFVL7OO3LRVMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZAY2EXT7AOGEHTMRXTF27VBNIJG5AXNGDNKUN3TB5CSECHIR7QQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBE42PUNP6DE7WU6BSQWVSK6TYLXKDWTGK25O7LTISTRUOQFP5SQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/733CA44FHXV25GIXPF57VWBSWQ44IUQXXDQEVXI6XJYUDKWJEISQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZLLQZDI3APVXTAR5VCYVB7SRLH6AKTTRYZ7TXU7IHVOJIEPH6FQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PREPSSOIAH7B3YJVZPXZQXW6KBNP72HFLTXA254VJUA77WGBHCSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODFKGYX4BYO2BUQQQNG5FVUBVDG3HPQTT6V7YPEBAN6ZDGAY34PQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7OEC6TTRNSN726J2XLZHXTBIQQ3FOI2BFILQAW2D5XVHWRQ6UQA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FLSU237KQ7P2E2JET23WTFZVEEQ7OVTQLHXZR4Q6I5I4BFVRRB4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TZK7OCWKBPGUBWQQT632PNREKEJRC5AZNUHP346B5PWCPVU5IVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FN6C5MGJRSHZA63DE74CI75UDFBCWOM5TJPSHWUQ3G4MPIGXLTHA/vendors.sdk.js"
            ]
        },
        "ListImportTasks": {
            "http": {
                "method": "GET",
                "requestUri": "/importtasks",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "tasks"
                ],
                "members": {
                    "tasks": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "taskId",
                                "source",
                                "roleArn",
                                "status"
                            ],
                            "members": {
                                "graphId": {},
                                "taskId": {},
                                "source": {},
                                "format": {},
                                "roleArn": {},
                                "status": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "staticContextParams": {
                "ApiType": {
                    "value": "ControlPlane"
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3GBTWSX6BMQDM23QP75YGVX223BM6XALRUYKGWFVL7OO3LRVMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZAY2EXT7AOGEHTMRXTF27VBNIJG5AXNGDNKUN3TB5CSECHIR7QQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBE42PUNP6DE7WU6BSQWVSK6TYLXKDWTGK25O7LTISTRUOQFP5SQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/733CA44FHXV25GIXPF57VWBSWQ44IUQXXDQEVXI6XJYUDKWJEISQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZLLQZDI3APVXTAR5VCYVB7SRLH6AKTTRYZ7TXU7IHVOJIEPH6FQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PREPSSOIAH7B3YJVZPXZQXW6KBNP72HFLTXA254VJUA77WGBHCSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODFKGYX4BYO2BUQQQNG5FVUBVDG3HPQTT6V7YPEBAN6ZDGAY34PQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7OEC6TTRNSN726J2XLZHXTBIQQ3FOI2BFILQAW2D5XVHWRQ6UQA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FLSU237KQ7P2E2JET23WTFZVEEQ7OVTQLHXZR4Q6I5I4BFVRRB4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TZK7OCWKBPGUBWQQT632PNREKEJRC5AZNUHP346B5PWCPVU5IVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FN6C5MGJRSHZA63DE74CI75UDFBCWOM5TJPSHWUQ3G4MPIGXLTHA/vendors.sdk.js"
            ]
        },
        "ListPrivateGraphEndpoints": {
            "http": {
                "method": "GET",
                "requestUri": "/graphs/{graphIdentifier}/endpoints/",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "graphIdentifier"
                ],
                "members": {
                    "graphIdentifier": {
                        "location": "uri",
                        "locationName": "graphIdentifier"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "privateGraphEndpoints"
                ],
                "members": {
                    "privateGraphEndpoints": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "vpcId",
                                "subnetIds",
                                "status"
                            ],
                            "members": {
                                "vpcId": {},
                                "subnetIds": {
                                    "shape": "S11"
                                },
                                "status": {},
                                "vpcEndpointId": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "staticContextParams": {
                "ApiType": {
                    "value": "ControlPlane"
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3GBTWSX6BMQDM23QP75YGVX223BM6XALRUYKGWFVL7OO3LRVMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZAY2EXT7AOGEHTMRXTF27VBNIJG5AXNGDNKUN3TB5CSECHIR7QQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBE42PUNP6DE7WU6BSQWVSK6TYLXKDWTGK25O7LTISTRUOQFP5SQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/733CA44FHXV25GIXPF57VWBSWQ44IUQXXDQEVXI6XJYUDKWJEISQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZLLQZDI3APVXTAR5VCYVB7SRLH6AKTTRYZ7TXU7IHVOJIEPH6FQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PREPSSOIAH7B3YJVZPXZQXW6KBNP72HFLTXA254VJUA77WGBHCSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODFKGYX4BYO2BUQQQNG5FVUBVDG3HPQTT6V7YPEBAN6ZDGAY34PQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7OEC6TTRNSN726J2XLZHXTBIQQ3FOI2BFILQAW2D5XVHWRQ6UQA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FLSU237KQ7P2E2JET23WTFZVEEQ7OVTQLHXZR4Q6I5I4BFVRRB4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TZK7OCWKBPGUBWQQT632PNREKEJRC5AZNUHP346B5PWCPVU5IVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FN6C5MGJRSHZA63DE74CI75UDFBCWOM5TJPSHWUQ3G4MPIGXLTHA/vendors.sdk.js"
            ]
        },
        "ListTagsForResource": {
            "http": {
                "method": "GET",
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "tags": {
                        "shape": "Sb"
                    }
                }
            },
            "staticContextParams": {
                "ApiType": {
                    "value": "ControlPlane"
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3GBTWSX6BMQDM23QP75YGVX223BM6XALRUYKGWFVL7OO3LRVMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZAY2EXT7AOGEHTMRXTF27VBNIJG5AXNGDNKUN3TB5CSECHIR7QQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBE42PUNP6DE7WU6BSQWVSK6TYLXKDWTGK25O7LTISTRUOQFP5SQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/733CA44FHXV25GIXPF57VWBSWQ44IUQXXDQEVXI6XJYUDKWJEISQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZLLQZDI3APVXTAR5VCYVB7SRLH6AKTTRYZ7TXU7IHVOJIEPH6FQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PREPSSOIAH7B3YJVZPXZQXW6KBNP72HFLTXA254VJUA77WGBHCSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODFKGYX4BYO2BUQQQNG5FVUBVDG3HPQTT6V7YPEBAN6ZDGAY34PQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7OEC6TTRNSN726J2XLZHXTBIQQ3FOI2BFILQAW2D5XVHWRQ6UQA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FLSU237KQ7P2E2JET23WTFZVEEQ7OVTQLHXZR4Q6I5I4BFVRRB4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TZK7OCWKBPGUBWQQT632PNREKEJRC5AZNUHP346B5PWCPVU5IVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FN6C5MGJRSHZA63DE74CI75UDFBCWOM5TJPSHWUQ3G4MPIGXLTHA/vendors.sdk.js"
            ]
        },
        "ResetGraph": {
            "http": {
                "method": "PUT",
                "requestUri": "/graphs/{graphIdentifier}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "graphIdentifier",
                    "skipSnapshot"
                ],
                "members": {
                    "graphIdentifier": {
                        "location": "uri",
                        "locationName": "graphIdentifier"
                    },
                    "skipSnapshot": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "id",
                    "name",
                    "arn"
                ],
                "members": {
                    "id": {},
                    "name": {},
                    "arn": {},
                    "status": {},
                    "statusReason": {},
                    "createTime": {
                        "type": "timestamp"
                    },
                    "provisionedMemory": {
                        "type": "integer"
                    },
                    "endpoint": {},
                    "publicConnectivity": {
                        "type": "boolean"
                    },
                    "vectorSearchConfiguration": {
                        "shape": "Sg"
                    },
                    "replicaCount": {
                        "type": "integer"
                    },
                    "kmsKeyIdentifier": {},
                    "sourceSnapshotId": {},
                    "deletionProtection": {
                        "type": "boolean"
                    },
                    "buildNumber": {}
                }
            },
            "staticContextParams": {
                "ApiType": {
                    "value": "ControlPlane"
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3GBTWSX6BMQDM23QP75YGVX223BM6XALRUYKGWFVL7OO3LRVMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZAY2EXT7AOGEHTMRXTF27VBNIJG5AXNGDNKUN3TB5CSECHIR7QQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBE42PUNP6DE7WU6BSQWVSK6TYLXKDWTGK25O7LTISTRUOQFP5SQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/733CA44FHXV25GIXPF57VWBSWQ44IUQXXDQEVXI6XJYUDKWJEISQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZLLQZDI3APVXTAR5VCYVB7SRLH6AKTTRYZ7TXU7IHVOJIEPH6FQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PREPSSOIAH7B3YJVZPXZQXW6KBNP72HFLTXA254VJUA77WGBHCSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODFKGYX4BYO2BUQQQNG5FVUBVDG3HPQTT6V7YPEBAN6ZDGAY34PQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7OEC6TTRNSN726J2XLZHXTBIQQ3FOI2BFILQAW2D5XVHWRQ6UQA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FLSU237KQ7P2E2JET23WTFZVEEQ7OVTQLHXZR4Q6I5I4BFVRRB4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TZK7OCWKBPGUBWQQT632PNREKEJRC5AZNUHP346B5PWCPVU5IVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FN6C5MGJRSHZA63DE74CI75UDFBCWOM5TJPSHWUQ3G4MPIGXLTHA/vendors.sdk.js"
            ]
        },
        "RestoreGraphFromSnapshot": {
            "http": {
                "requestUri": "/snapshots/{snapshotIdentifier}/restore",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "snapshotIdentifier",
                    "graphName"
                ],
                "members": {
                    "snapshotIdentifier": {
                        "location": "uri",
                        "locationName": "snapshotIdentifier"
                    },
                    "graphName": {},
                    "provisionedMemory": {
                        "type": "integer"
                    },
                    "deletionProtection": {
                        "type": "boolean"
                    },
                    "tags": {
                        "shape": "Sb"
                    },
                    "replicaCount": {
                        "type": "integer"
                    },
                    "publicConnectivity": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "id",
                    "name",
                    "arn"
                ],
                "members": {
                    "id": {},
                    "name": {},
                    "arn": {},
                    "status": {},
                    "statusReason": {},
                    "createTime": {
                        "type": "timestamp"
                    },
                    "provisionedMemory": {
                        "type": "integer"
                    },
                    "endpoint": {},
                    "publicConnectivity": {
                        "type": "boolean"
                    },
                    "vectorSearchConfiguration": {
                        "shape": "Sg"
                    },
                    "replicaCount": {
                        "type": "integer"
                    },
                    "kmsKeyIdentifier": {},
                    "sourceSnapshotId": {},
                    "deletionProtection": {
                        "type": "boolean"
                    },
                    "buildNumber": {}
                }
            },
            "staticContextParams": {
                "ApiType": {
                    "value": "ControlPlane"
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3GBTWSX6BMQDM23QP75YGVX223BM6XALRUYKGWFVL7OO3LRVMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZAY2EXT7AOGEHTMRXTF27VBNIJG5AXNGDNKUN3TB5CSECHIR7QQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBE42PUNP6DE7WU6BSQWVSK6TYLXKDWTGK25O7LTISTRUOQFP5SQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/733CA44FHXV25GIXPF57VWBSWQ44IUQXXDQEVXI6XJYUDKWJEISQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZLLQZDI3APVXTAR5VCYVB7SRLH6AKTTRYZ7TXU7IHVOJIEPH6FQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PREPSSOIAH7B3YJVZPXZQXW6KBNP72HFLTXA254VJUA77WGBHCSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODFKGYX4BYO2BUQQQNG5FVUBVDG3HPQTT6V7YPEBAN6ZDGAY34PQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7OEC6TTRNSN726J2XLZHXTBIQQ3FOI2BFILQAW2D5XVHWRQ6UQA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FLSU237KQ7P2E2JET23WTFZVEEQ7OVTQLHXZR4Q6I5I4BFVRRB4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TZK7OCWKBPGUBWQQT632PNREKEJRC5AZNUHP346B5PWCPVU5IVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FN6C5MGJRSHZA63DE74CI75UDFBCWOM5TJPSHWUQ3G4MPIGXLTHA/vendors.sdk.js"
            ]
        },
        "TagResource": {
            "http": {
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "tags"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    },
                    "tags": {
                        "shape": "Sb"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "staticContextParams": {
                "ApiType": {
                    "value": "ControlPlane"
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3GBTWSX6BMQDM23QP75YGVX223BM6XALRUYKGWFVL7OO3LRVMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZAY2EXT7AOGEHTMRXTF27VBNIJG5AXNGDNKUN3TB5CSECHIR7QQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBE42PUNP6DE7WU6BSQWVSK6TYLXKDWTGK25O7LTISTRUOQFP5SQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/733CA44FHXV25GIXPF57VWBSWQ44IUQXXDQEVXI6XJYUDKWJEISQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZLLQZDI3APVXTAR5VCYVB7SRLH6AKTTRYZ7TXU7IHVOJIEPH6FQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PREPSSOIAH7B3YJVZPXZQXW6KBNP72HFLTXA254VJUA77WGBHCSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODFKGYX4BYO2BUQQQNG5FVUBVDG3HPQTT6V7YPEBAN6ZDGAY34PQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7OEC6TTRNSN726J2XLZHXTBIQQ3FOI2BFILQAW2D5XVHWRQ6UQA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FLSU237KQ7P2E2JET23WTFZVEEQ7OVTQLHXZR4Q6I5I4BFVRRB4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TZK7OCWKBPGUBWQQT632PNREKEJRC5AZNUHP346B5PWCPVU5IVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FN6C5MGJRSHZA63DE74CI75UDFBCWOM5TJPSHWUQ3G4MPIGXLTHA/vendors.sdk.js"
            ]
        },
        "UntagResource": {
            "http": {
                "method": "DELETE",
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "tagKeys"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    },
                    "tagKeys": {
                        "location": "querystring",
                        "locationName": "tagKeys",
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "staticContextParams": {
                "ApiType": {
                    "value": "ControlPlane"
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3GBTWSX6BMQDM23QP75YGVX223BM6XALRUYKGWFVL7OO3LRVMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZAY2EXT7AOGEHTMRXTF27VBNIJG5AXNGDNKUN3TB5CSECHIR7QQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBE42PUNP6DE7WU6BSQWVSK6TYLXKDWTGK25O7LTISTRUOQFP5SQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/733CA44FHXV25GIXPF57VWBSWQ44IUQXXDQEVXI6XJYUDKWJEISQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZLLQZDI3APVXTAR5VCYVB7SRLH6AKTTRYZ7TXU7IHVOJIEPH6FQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PREPSSOIAH7B3YJVZPXZQXW6KBNP72HFLTXA254VJUA77WGBHCSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODFKGYX4BYO2BUQQQNG5FVUBVDG3HPQTT6V7YPEBAN6ZDGAY34PQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7OEC6TTRNSN726J2XLZHXTBIQQ3FOI2BFILQAW2D5XVHWRQ6UQA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FLSU237KQ7P2E2JET23WTFZVEEQ7OVTQLHXZR4Q6I5I4BFVRRB4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TZK7OCWKBPGUBWQQT632PNREKEJRC5AZNUHP346B5PWCPVU5IVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FN6C5MGJRSHZA63DE74CI75UDFBCWOM5TJPSHWUQ3G4MPIGXLTHA/vendors.sdk.js"
            ]
        },
        "UpdateGraph": {
            "http": {
                "method": "PATCH",
                "requestUri": "/graphs/{graphIdentifier}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "graphIdentifier"
                ],
                "members": {
                    "graphIdentifier": {
                        "location": "uri",
                        "locationName": "graphIdentifier"
                    },
                    "publicConnectivity": {
                        "type": "boolean"
                    },
                    "provisionedMemory": {
                        "type": "integer"
                    },
                    "deletionProtection": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "id",
                    "name",
                    "arn"
                ],
                "members": {
                    "id": {},
                    "name": {},
                    "arn": {},
                    "status": {},
                    "statusReason": {},
                    "createTime": {
                        "type": "timestamp"
                    },
                    "provisionedMemory": {
                        "type": "integer"
                    },
                    "endpoint": {},
                    "publicConnectivity": {
                        "type": "boolean"
                    },
                    "vectorSearchConfiguration": {
                        "shape": "Sg"
                    },
                    "replicaCount": {
                        "type": "integer"
                    },
                    "kmsKeyIdentifier": {},
                    "sourceSnapshotId": {},
                    "deletionProtection": {
                        "type": "boolean"
                    },
                    "buildNumber": {}
                }
            },
            "staticContextParams": {
                "ApiType": {
                    "value": "ControlPlane"
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3GBTWSX6BMQDM23QP75YGVX223BM6XALRUYKGWFVL7OO3LRVMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZAY2EXT7AOGEHTMRXTF27VBNIJG5AXNGDNKUN3TB5CSECHIR7QQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBE42PUNP6DE7WU6BSQWVSK6TYLXKDWTGK25O7LTISTRUOQFP5SQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/733CA44FHXV25GIXPF57VWBSWQ44IUQXXDQEVXI6XJYUDKWJEISQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZLLQZDI3APVXTAR5VCYVB7SRLH6AKTTRYZ7TXU7IHVOJIEPH6FQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PREPSSOIAH7B3YJVZPXZQXW6KBNP72HFLTXA254VJUA77WGBHCSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODFKGYX4BYO2BUQQQNG5FVUBVDG3HPQTT6V7YPEBAN6ZDGAY34PQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7OEC6TTRNSN726J2XLZHXTBIQQ3FOI2BFILQAW2D5XVHWRQ6UQA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FLSU237KQ7P2E2JET23WTFZVEEQ7OVTQLHXZR4Q6I5I4BFVRRB4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TZK7OCWKBPGUBWQQT632PNREKEJRC5AZNUHP346B5PWCPVU5IVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FN6C5MGJRSHZA63DE74CI75UDFBCWOM5TJPSHWUQ3G4MPIGXLTHA/vendors.sdk.js"
            ]
        }
    },
    "shapes": {
        "Sb": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "Sg": {
            "type": "structure",
            "required": [
                "dimension"
            ],
            "members": {
                "dimension": {
                    "type": "integer"
                }
            }
        },
        "Su": {
            "type": "structure",
            "members": {
                "neptune": {
                    "type": "structure",
                    "required": [
                        "s3ExportPath",
                        "s3ExportKmsKeyId"
                    ],
                    "members": {
                        "s3ExportPath": {},
                        "s3ExportKmsKeyId": {},
                        "preserveDefaultVertexLabels": {
                            "type": "boolean"
                        },
                        "preserveEdgeIds": {
                            "type": "boolean"
                        }
                    }
                }
            },
            "union": true
        },
        "S11": {
            "type": "list",
            "member": {}
        }
    }
}