{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2019-07-05",
        "endpointPrefix": "networkmanager",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceAbbreviation": "NetworkManager",
        "serviceFullName": "AWS Network Manager",
        "serviceId": "NetworkManager",
        "signatureVersion": "v4",
        "signingName": "networkmanager",
        "uid": "networkmanager-2019-07-05",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/UWSWRHZTZG5SJOGZEMDISQCNA4PB7YHFIBRNFKIQ6DVLHMSLH5RA/index.en.v2.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/P2OJ7A2FFKUPHAQJUTLE7WDAAOXXWSE354MI2CAOZF6KP3RQIYJQ/index.en.v2.js",
            "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
        ]
    },
    "operations": {
        "AcceptAttachment": {
            "http": {
                "requestUri": "/attachments/{attachmentId}/accept"
            },
            "input": {
                "type": "structure",
                "required": [
                    "AttachmentId"
                ],
                "members": {
                    "AttachmentId": {
                        "location": "uri",
                        "locationName": "attachmentId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Attachment": {
                        "shape": "S4"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWSWRHZTZG5SJOGZEMDISQCNA4PB7YHFIBRNFKIQ6DVLHMSLH5RA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2OJ7A2FFKUPHAQJUTLE7WDAAOXXWSE354MI2CAOZF6KP3RQIYJQ/index.en.v2.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js"
            ]
        },
        "AssociateConnectPeer": {
            "http": {
                "requestUri": "/global-networks/{globalNetworkId}/connect-peer-associations"
            },
            "input": {
                "type": "structure",
                "required": [
                    "GlobalNetworkId",
                    "ConnectPeerId",
                    "DeviceId"
                ],
                "members": {
                    "GlobalNetworkId": {
                        "location": "uri",
                        "locationName": "globalNetworkId"
                    },
                    "ConnectPeerId": {},
                    "DeviceId": {},
                    "LinkId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ConnectPeerAssociation": {
                        "shape": "Sq"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWSWRHZTZG5SJOGZEMDISQCNA4PB7YHFIBRNFKIQ6DVLHMSLH5RA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2OJ7A2FFKUPHAQJUTLE7WDAAOXXWSE354MI2CAOZF6KP3RQIYJQ/index.en.v2.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js"
            ]
        },
        "AssociateCustomerGateway": {
            "http": {
                "requestUri": "/global-networks/{globalNetworkId}/customer-gateway-associations"
            },
            "input": {
                "type": "structure",
                "required": [
                    "CustomerGatewayArn",
                    "GlobalNetworkId",
                    "DeviceId"
                ],
                "members": {
                    "CustomerGatewayArn": {},
                    "GlobalNetworkId": {
                        "location": "uri",
                        "locationName": "globalNetworkId"
                    },
                    "DeviceId": {},
                    "LinkId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "CustomerGatewayAssociation": {
                        "shape": "Sv"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWSWRHZTZG5SJOGZEMDISQCNA4PB7YHFIBRNFKIQ6DVLHMSLH5RA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2OJ7A2FFKUPHAQJUTLE7WDAAOXXWSE354MI2CAOZF6KP3RQIYJQ/index.en.v2.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "AssociateLink": {
            "http": {
                "requestUri": "/global-networks/{globalNetworkId}/link-associations"
            },
            "input": {
                "type": "structure",
                "required": [
                    "GlobalNetworkId",
                    "DeviceId",
                    "LinkId"
                ],
                "members": {
                    "GlobalNetworkId": {
                        "location": "uri",
                        "locationName": "globalNetworkId"
                    },
                    "DeviceId": {},
                    "LinkId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "LinkAssociation": {
                        "shape": "Sz"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWSWRHZTZG5SJOGZEMDISQCNA4PB7YHFIBRNFKIQ6DVLHMSLH5RA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2OJ7A2FFKUPHAQJUTLE7WDAAOXXWSE354MI2CAOZF6KP3RQIYJQ/index.en.v2.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "AssociateTransitGatewayConnectPeer": {
            "http": {
                "requestUri": "/global-networks/{globalNetworkId}/transit-gateway-connect-peer-associations"
            },
            "input": {
                "type": "structure",
                "required": [
                    "GlobalNetworkId",
                    "TransitGatewayConnectPeerArn",
                    "DeviceId"
                ],
                "members": {
                    "GlobalNetworkId": {
                        "location": "uri",
                        "locationName": "globalNetworkId"
                    },
                    "TransitGatewayConnectPeerArn": {},
                    "DeviceId": {},
                    "LinkId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "TransitGatewayConnectPeerAssociation": {
                        "shape": "S14"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWSWRHZTZG5SJOGZEMDISQCNA4PB7YHFIBRNFKIQ6DVLHMSLH5RA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2OJ7A2FFKUPHAQJUTLE7WDAAOXXWSE354MI2CAOZF6KP3RQIYJQ/index.en.v2.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "CreateConnectAttachment": {
            "http": {
                "requestUri": "/connect-attachments"
            },
            "input": {
                "type": "structure",
                "required": [
                    "CoreNetworkId",
                    "EdgeLocation",
                    "TransportAttachmentId",
                    "Options"
                ],
                "members": {
                    "CoreNetworkId": {},
                    "EdgeLocation": {},
                    "TransportAttachmentId": {},
                    "Options": {
                        "shape": "S17"
                    },
                    "Tags": {
                        "shape": "Se"
                    },
                    "ClientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ConnectAttachment": {
                        "shape": "S1b"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWSWRHZTZG5SJOGZEMDISQCNA4PB7YHFIBRNFKIQ6DVLHMSLH5RA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2OJ7A2FFKUPHAQJUTLE7WDAAOXXWSE354MI2CAOZF6KP3RQIYJQ/index.en.v2.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js"
            ]
        },
        "CreateConnectPeer": {
            "http": {
                "requestUri": "/connect-peers"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ConnectAttachmentId",
                    "PeerAddress"
                ],
                "members": {
                    "ConnectAttachmentId": {},
                    "CoreNetworkAddress": {},
                    "PeerAddress": {},
                    "BgpOptions": {
                        "type": "structure",
                        "members": {
                            "PeerAsn": {
                                "type": "long"
                            }
                        }
                    },
                    "InsideCidrBlocks": {
                        "shape": "S1g"
                    },
                    "Tags": {
                        "shape": "Se"
                    },
                    "ClientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ConnectPeer": {
                        "shape": "S1i"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWSWRHZTZG5SJOGZEMDISQCNA4PB7YHFIBRNFKIQ6DVLHMSLH5RA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2OJ7A2FFKUPHAQJUTLE7WDAAOXXWSE354MI2CAOZF6KP3RQIYJQ/index.en.v2.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js"
            ]
        },
        "CreateConnection": {
            "http": {
                "requestUri": "/global-networks/{globalNetworkId}/connections"
            },
            "input": {
                "type": "structure",
                "required": [
                    "GlobalNetworkId",
                    "DeviceId",
                    "ConnectedDeviceId"
                ],
                "members": {
                    "GlobalNetworkId": {
                        "location": "uri",
                        "locationName": "globalNetworkId"
                    },
                    "DeviceId": {},
                    "ConnectedDeviceId": {},
                    "LinkId": {},
                    "ConnectedLinkId": {},
                    "Description": {},
                    "Tags": {
                        "shape": "Se"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Connection": {
                        "shape": "S1p"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWSWRHZTZG5SJOGZEMDISQCNA4PB7YHFIBRNFKIQ6DVLHMSLH5RA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2OJ7A2FFKUPHAQJUTLE7WDAAOXXWSE354MI2CAOZF6KP3RQIYJQ/index.en.v2.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "CreateCoreNetwork": {
            "http": {
                "requestUri": "/core-networks"
            },
            "input": {
                "type": "structure",
                "required": [
                    "GlobalNetworkId"
                ],
                "members": {
                    "GlobalNetworkId": {},
                    "Description": {},
                    "Tags": {
                        "shape": "Se"
                    },
                    "PolicyDocument": {},
                    "ClientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "CoreNetwork": {
                        "shape": "S1w"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWSWRHZTZG5SJOGZEMDISQCNA4PB7YHFIBRNFKIQ6DVLHMSLH5RA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2OJ7A2FFKUPHAQJUTLE7WDAAOXXWSE354MI2CAOZF6KP3RQIYJQ/index.en.v2.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js"
            ]
        },
        "CreateDevice": {
            "http": {
                "requestUri": "/global-networks/{globalNetworkId}/devices"
            },
            "input": {
                "type": "structure",
                "required": [
                    "GlobalNetworkId"
                ],
                "members": {
                    "GlobalNetworkId": {
                        "location": "uri",
                        "locationName": "globalNetworkId"
                    },
                    "AWSLocation": {
                        "shape": "S24"
                    },
                    "Description": {},
                    "Type": {},
                    "Vendor": {},
                    "Model": {},
                    "SerialNumber": {},
                    "Location": {
                        "shape": "S26"
                    },
                    "SiteId": {},
                    "Tags": {
                        "shape": "Se"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Device": {
                        "shape": "S29"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWSWRHZTZG5SJOGZEMDISQCNA4PB7YHFIBRNFKIQ6DVLHMSLH5RA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2OJ7A2FFKUPHAQJUTLE7WDAAOXXWSE354MI2CAOZF6KP3RQIYJQ/index.en.v2.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "CreateGlobalNetwork": {
            "http": {
                "requestUri": "/global-networks"
            },
            "input": {
                "type": "structure",
                "members": {
                    "Description": {},
                    "Tags": {
                        "shape": "Se"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "GlobalNetwork": {
                        "shape": "S2e"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWSWRHZTZG5SJOGZEMDISQCNA4PB7YHFIBRNFKIQ6DVLHMSLH5RA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2OJ7A2FFKUPHAQJUTLE7WDAAOXXWSE354MI2CAOZF6KP3RQIYJQ/index.en.v2.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "CreateLink": {
            "http": {
                "requestUri": "/global-networks/{globalNetworkId}/links"
            },
            "input": {
                "type": "structure",
                "required": [
                    "GlobalNetworkId",
                    "Bandwidth",
                    "SiteId"
                ],
                "members": {
                    "GlobalNetworkId": {
                        "location": "uri",
                        "locationName": "globalNetworkId"
                    },
                    "Description": {},
                    "Type": {},
                    "Bandwidth": {
                        "shape": "S2i"
                    },
                    "Provider": {},
                    "SiteId": {},
                    "Tags": {
                        "shape": "Se"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Link": {
                        "shape": "S2k"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWSWRHZTZG5SJOGZEMDISQCNA4PB7YHFIBRNFKIQ6DVLHMSLH5RA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2OJ7A2FFKUPHAQJUTLE7WDAAOXXWSE354MI2CAOZF6KP3RQIYJQ/index.en.v2.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "CreateSite": {
            "http": {
                "requestUri": "/global-networks/{globalNetworkId}/sites"
            },
            "input": {
                "type": "structure",
                "required": [
                    "GlobalNetworkId"
                ],
                "members": {
                    "GlobalNetworkId": {
                        "location": "uri",
                        "locationName": "globalNetworkId"
                    },
                    "Description": {},
                    "Location": {
                        "shape": "S26"
                    },
                    "Tags": {
                        "shape": "Se"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Site": {
                        "shape": "S2p"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWSWRHZTZG5SJOGZEMDISQCNA4PB7YHFIBRNFKIQ6DVLHMSLH5RA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2OJ7A2FFKUPHAQJUTLE7WDAAOXXWSE354MI2CAOZF6KP3RQIYJQ/index.en.v2.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "CreateSiteToSiteVpnAttachment": {
            "http": {
                "requestUri": "/site-to-site-vpn-attachments"
            },
            "input": {
                "type": "structure",
                "required": [
                    "CoreNetworkId",
                    "VpnConnectionArn"
                ],
                "members": {
                    "CoreNetworkId": {},
                    "VpnConnectionArn": {},
                    "Tags": {
                        "shape": "Se"
                    },
                    "ClientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "SiteToSiteVpnAttachment": {
                        "shape": "S2v"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWSWRHZTZG5SJOGZEMDISQCNA4PB7YHFIBRNFKIQ6DVLHMSLH5RA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2OJ7A2FFKUPHAQJUTLE7WDAAOXXWSE354MI2CAOZF6KP3RQIYJQ/index.en.v2.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js"
            ]
        },
        "CreateTransitGatewayPeering": {
            "http": {
                "requestUri": "/transit-gateway-peerings"
            },
            "input": {
                "type": "structure",
                "required": [
                    "CoreNetworkId",
                    "TransitGatewayArn"
                ],
                "members": {
                    "CoreNetworkId": {},
                    "TransitGatewayArn": {},
                    "Tags": {
                        "shape": "Se"
                    },
                    "ClientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "TransitGatewayPeering": {
                        "shape": "S2z"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWSWRHZTZG5SJOGZEMDISQCNA4PB7YHFIBRNFKIQ6DVLHMSLH5RA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2OJ7A2FFKUPHAQJUTLE7WDAAOXXWSE354MI2CAOZF6KP3RQIYJQ/index.en.v2.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js"
            ]
        },
        "CreateTransitGatewayRouteTableAttachment": {
            "http": {
                "requestUri": "/transit-gateway-route-table-attachments"
            },
            "input": {
                "type": "structure",
                "required": [
                    "PeeringId",
                    "TransitGatewayRouteTableArn"
                ],
                "members": {
                    "PeeringId": {},
                    "TransitGatewayRouteTableArn": {},
                    "Tags": {
                        "shape": "Se"
                    },
                    "ClientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "TransitGatewayRouteTableAttachment": {
                        "shape": "S38"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWSWRHZTZG5SJOGZEMDISQCNA4PB7YHFIBRNFKIQ6DVLHMSLH5RA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2OJ7A2FFKUPHAQJUTLE7WDAAOXXWSE354MI2CAOZF6KP3RQIYJQ/index.en.v2.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js"
            ]
        },
        "CreateVpcAttachment": {
            "http": {
                "requestUri": "/vpc-attachments"
            },
            "input": {
                "type": "structure",
                "required": [
                    "CoreNetworkId",
                    "VpcArn",
                    "SubnetArns"
                ],
                "members": {
                    "CoreNetworkId": {},
                    "VpcArn": {},
                    "SubnetArns": {
                        "shape": "S3b"
                    },
                    "Options": {
                        "shape": "S3c"
                    },
                    "Tags": {
                        "shape": "Se"
                    },
                    "ClientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "VpcAttachment": {
                        "shape": "S3f"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWSWRHZTZG5SJOGZEMDISQCNA4PB7YHFIBRNFKIQ6DVLHMSLH5RA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2OJ7A2FFKUPHAQJUTLE7WDAAOXXWSE354MI2CAOZF6KP3RQIYJQ/index.en.v2.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js"
            ]
        },
        "DeleteAttachment": {
            "http": {
                "method": "DELETE",
                "requestUri": "/attachments/{attachmentId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "AttachmentId"
                ],
                "members": {
                    "AttachmentId": {
                        "location": "uri",
                        "locationName": "attachmentId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Attachment": {
                        "shape": "S4"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWSWRHZTZG5SJOGZEMDISQCNA4PB7YHFIBRNFKIQ6DVLHMSLH5RA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2OJ7A2FFKUPHAQJUTLE7WDAAOXXWSE354MI2CAOZF6KP3RQIYJQ/index.en.v2.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js"
            ]
        },
        "DeleteConnectPeer": {
            "http": {
                "method": "DELETE",
                "requestUri": "/connect-peers/{connectPeerId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ConnectPeerId"
                ],
                "members": {
                    "ConnectPeerId": {
                        "location": "uri",
                        "locationName": "connectPeerId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ConnectPeer": {
                        "shape": "S1i"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWSWRHZTZG5SJOGZEMDISQCNA4PB7YHFIBRNFKIQ6DVLHMSLH5RA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2OJ7A2FFKUPHAQJUTLE7WDAAOXXWSE354MI2CAOZF6KP3RQIYJQ/index.en.v2.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js"
            ]
        },
        "DeleteConnection": {
            "http": {
                "method": "DELETE",
                "requestUri": "/global-networks/{globalNetworkId}/connections/{connectionId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "GlobalNetworkId",
                    "ConnectionId"
                ],
                "members": {
                    "GlobalNetworkId": {
                        "location": "uri",
                        "locationName": "globalNetworkId"
                    },
                    "ConnectionId": {
                        "location": "uri",
                        "locationName": "connectionId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Connection": {
                        "shape": "S1p"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWSWRHZTZG5SJOGZEMDISQCNA4PB7YHFIBRNFKIQ6DVLHMSLH5RA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2OJ7A2FFKUPHAQJUTLE7WDAAOXXWSE354MI2CAOZF6KP3RQIYJQ/index.en.v2.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "DeleteCoreNetwork": {
            "http": {
                "method": "DELETE",
                "requestUri": "/core-networks/{coreNetworkId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "CoreNetworkId"
                ],
                "members": {
                    "CoreNetworkId": {
                        "location": "uri",
                        "locationName": "coreNetworkId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "CoreNetwork": {
                        "shape": "S1w"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWSWRHZTZG5SJOGZEMDISQCNA4PB7YHFIBRNFKIQ6DVLHMSLH5RA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2OJ7A2FFKUPHAQJUTLE7WDAAOXXWSE354MI2CAOZF6KP3RQIYJQ/index.en.v2.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js"
            ]
        },
        "DeleteCoreNetworkPolicyVersion": {
            "http": {
                "method": "DELETE",
                "requestUri": "/core-networks/{coreNetworkId}/core-network-policy-versions/{policyVersionId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "CoreNetworkId",
                    "PolicyVersionId"
                ],
                "members": {
                    "CoreNetworkId": {
                        "location": "uri",
                        "locationName": "coreNetworkId"
                    },
                    "PolicyVersionId": {
                        "location": "uri",
                        "locationName": "policyVersionId",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "CoreNetworkPolicy": {
                        "shape": "S3q"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWSWRHZTZG5SJOGZEMDISQCNA4PB7YHFIBRNFKIQ6DVLHMSLH5RA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2OJ7A2FFKUPHAQJUTLE7WDAAOXXWSE354MI2CAOZF6KP3RQIYJQ/index.en.v2.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js"
            ]
        },
        "DeleteDevice": {
            "http": {
                "method": "DELETE",
                "requestUri": "/global-networks/{globalNetworkId}/devices/{deviceId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "GlobalNetworkId",
                    "DeviceId"
                ],
                "members": {
                    "GlobalNetworkId": {
                        "location": "uri",
                        "locationName": "globalNetworkId"
                    },
                    "DeviceId": {
                        "location": "uri",
                        "locationName": "deviceId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Device": {
                        "shape": "S29"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWSWRHZTZG5SJOGZEMDISQCNA4PB7YHFIBRNFKIQ6DVLHMSLH5RA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2OJ7A2FFKUPHAQJUTLE7WDAAOXXWSE354MI2CAOZF6KP3RQIYJQ/index.en.v2.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "DeleteGlobalNetwork": {
            "http": {
                "method": "DELETE",
                "requestUri": "/global-networks/{globalNetworkId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "GlobalNetworkId"
                ],
                "members": {
                    "GlobalNetworkId": {
                        "location": "uri",
                        "locationName": "globalNetworkId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "GlobalNetwork": {
                        "shape": "S2e"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWSWRHZTZG5SJOGZEMDISQCNA4PB7YHFIBRNFKIQ6DVLHMSLH5RA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2OJ7A2FFKUPHAQJUTLE7WDAAOXXWSE354MI2CAOZF6KP3RQIYJQ/index.en.v2.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "DeleteLink": {
            "http": {
                "method": "DELETE",
                "requestUri": "/global-networks/{globalNetworkId}/links/{linkId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "GlobalNetworkId",
                    "LinkId"
                ],
                "members": {
                    "GlobalNetworkId": {
                        "location": "uri",
                        "locationName": "globalNetworkId"
                    },
                    "LinkId": {
                        "location": "uri",
                        "locationName": "linkId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Link": {
                        "shape": "S2k"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWSWRHZTZG5SJOGZEMDISQCNA4PB7YHFIBRNFKIQ6DVLHMSLH5RA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2OJ7A2FFKUPHAQJUTLE7WDAAOXXWSE354MI2CAOZF6KP3RQIYJQ/index.en.v2.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "DeletePeering": {
            "http": {
                "method": "DELETE",
                "requestUri": "/peerings/{peeringId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "PeeringId"
                ],
                "members": {
                    "PeeringId": {
                        "location": "uri",
                        "locationName": "peeringId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Peering": {
                        "shape": "S30"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWSWRHZTZG5SJOGZEMDISQCNA4PB7YHFIBRNFKIQ6DVLHMSLH5RA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2OJ7A2FFKUPHAQJUTLE7WDAAOXXWSE354MI2CAOZF6KP3RQIYJQ/index.en.v2.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js"
            ]
        },
        "DeleteResourcePolicy": {
            "http": {
                "method": "DELETE",
                "requestUri": "/resource-policy/{resourceArn}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn"
                ],
                "members": {
                    "ResourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWSWRHZTZG5SJOGZEMDISQCNA4PB7YHFIBRNFKIQ6DVLHMSLH5RA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2OJ7A2FFKUPHAQJUTLE7WDAAOXXWSE354MI2CAOZF6KP3RQIYJQ/index.en.v2.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js"
            ]
        },
        "DeleteSite": {
            "http": {
                "method": "DELETE",
                "requestUri": "/global-networks/{globalNetworkId}/sites/{siteId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "GlobalNetworkId",
                    "SiteId"
                ],
                "members": {
                    "GlobalNetworkId": {
                        "location": "uri",
                        "locationName": "globalNetworkId"
                    },
                    "SiteId": {
                        "location": "uri",
                        "locationName": "siteId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Site": {
                        "shape": "S2p"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWSWRHZTZG5SJOGZEMDISQCNA4PB7YHFIBRNFKIQ6DVLHMSLH5RA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2OJ7A2FFKUPHAQJUTLE7WDAAOXXWSE354MI2CAOZF6KP3RQIYJQ/index.en.v2.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "DeregisterTransitGateway": {
            "http": {
                "method": "DELETE",
                "requestUri": "/global-networks/{globalNetworkId}/transit-gateway-registrations/{transitGatewayArn}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "GlobalNetworkId",
                    "TransitGatewayArn"
                ],
                "members": {
                    "GlobalNetworkId": {
                        "location": "uri",
                        "locationName": "globalNetworkId"
                    },
                    "TransitGatewayArn": {
                        "location": "uri",
                        "locationName": "transitGatewayArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "TransitGatewayRegistration": {
                        "shape": "S4a"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWSWRHZTZG5SJOGZEMDISQCNA4PB7YHFIBRNFKIQ6DVLHMSLH5RA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2OJ7A2FFKUPHAQJUTLE7WDAAOXXWSE354MI2CAOZF6KP3RQIYJQ/index.en.v2.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "DescribeGlobalNetworks": {
            "http": {
                "method": "GET",
                "requestUri": "/global-networks"
            },
            "input": {
                "type": "structure",
                "members": {
                    "GlobalNetworkIds": {
                        "location": "querystring",
                        "locationName": "globalNetworkIds",
                        "type": "list",
                        "member": {}
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "GlobalNetworks": {
                        "type": "list",
                        "member": {
                            "shape": "S2e"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWSWRHZTZG5SJOGZEMDISQCNA4PB7YHFIBRNFKIQ6DVLHMSLH5RA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2OJ7A2FFKUPHAQJUTLE7WDAAOXXWSE354MI2CAOZF6KP3RQIYJQ/index.en.v2.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "DisassociateConnectPeer": {
            "http": {
                "method": "DELETE",
                "requestUri": "/global-networks/{globalNetworkId}/connect-peer-associations/{connectPeerId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "GlobalNetworkId",
                    "ConnectPeerId"
                ],
                "members": {
                    "GlobalNetworkId": {
                        "location": "uri",
                        "locationName": "globalNetworkId"
                    },
                    "ConnectPeerId": {
                        "location": "uri",
                        "locationName": "connectPeerId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ConnectPeerAssociation": {
                        "shape": "Sq"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWSWRHZTZG5SJOGZEMDISQCNA4PB7YHFIBRNFKIQ6DVLHMSLH5RA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2OJ7A2FFKUPHAQJUTLE7WDAAOXXWSE354MI2CAOZF6KP3RQIYJQ/index.en.v2.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js"
            ]
        },
        "DisassociateCustomerGateway": {
            "http": {
                "method": "DELETE",
                "requestUri": "/global-networks/{globalNetworkId}/customer-gateway-associations/{customerGatewayArn}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "GlobalNetworkId",
                    "CustomerGatewayArn"
                ],
                "members": {
                    "GlobalNetworkId": {
                        "location": "uri",
                        "locationName": "globalNetworkId"
                    },
                    "CustomerGatewayArn": {
                        "location": "uri",
                        "locationName": "customerGatewayArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "CustomerGatewayAssociation": {
                        "shape": "Sv"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWSWRHZTZG5SJOGZEMDISQCNA4PB7YHFIBRNFKIQ6DVLHMSLH5RA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2OJ7A2FFKUPHAQJUTLE7WDAAOXXWSE354MI2CAOZF6KP3RQIYJQ/index.en.v2.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "DisassociateLink": {
            "http": {
                "method": "DELETE",
                "requestUri": "/global-networks/{globalNetworkId}/link-associations"
            },
            "input": {
                "type": "structure",
                "required": [
                    "GlobalNetworkId",
                    "DeviceId",
                    "LinkId"
                ],
                "members": {
                    "GlobalNetworkId": {
                        "location": "uri",
                        "locationName": "globalNetworkId"
                    },
                    "DeviceId": {
                        "location": "querystring",
                        "locationName": "deviceId"
                    },
                    "LinkId": {
                        "location": "querystring",
                        "locationName": "linkId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "LinkAssociation": {
                        "shape": "Sz"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWSWRHZTZG5SJOGZEMDISQCNA4PB7YHFIBRNFKIQ6DVLHMSLH5RA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2OJ7A2FFKUPHAQJUTLE7WDAAOXXWSE354MI2CAOZF6KP3RQIYJQ/index.en.v2.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "DisassociateTransitGatewayConnectPeer": {
            "http": {
                "method": "DELETE",
                "requestUri": "/global-networks/{globalNetworkId}/transit-gateway-connect-peer-associations/{transitGatewayConnectPeerArn}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "GlobalNetworkId",
                    "TransitGatewayConnectPeerArn"
                ],
                "members": {
                    "GlobalNetworkId": {
                        "location": "uri",
                        "locationName": "globalNetworkId"
                    },
                    "TransitGatewayConnectPeerArn": {
                        "location": "uri",
                        "locationName": "transitGatewayConnectPeerArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "TransitGatewayConnectPeerAssociation": {
                        "shape": "S14"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWSWRHZTZG5SJOGZEMDISQCNA4PB7YHFIBRNFKIQ6DVLHMSLH5RA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2OJ7A2FFKUPHAQJUTLE7WDAAOXXWSE354MI2CAOZF6KP3RQIYJQ/index.en.v2.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "ExecuteCoreNetworkChangeSet": {
            "http": {
                "requestUri": "/core-networks/{coreNetworkId}/core-network-change-sets/{policyVersionId}/execute"
            },
            "input": {
                "type": "structure",
                "required": [
                    "CoreNetworkId",
                    "PolicyVersionId"
                ],
                "members": {
                    "CoreNetworkId": {
                        "location": "uri",
                        "locationName": "coreNetworkId"
                    },
                    "PolicyVersionId": {
                        "location": "uri",
                        "locationName": "policyVersionId",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWSWRHZTZG5SJOGZEMDISQCNA4PB7YHFIBRNFKIQ6DVLHMSLH5RA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2OJ7A2FFKUPHAQJUTLE7WDAAOXXWSE354MI2CAOZF6KP3RQIYJQ/index.en.v2.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js"
            ]
        },
        "GetConnectAttachment": {
            "http": {
                "method": "GET",
                "requestUri": "/connect-attachments/{attachmentId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "AttachmentId"
                ],
                "members": {
                    "AttachmentId": {
                        "location": "uri",
                        "locationName": "attachmentId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ConnectAttachment": {
                        "shape": "S1b"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWSWRHZTZG5SJOGZEMDISQCNA4PB7YHFIBRNFKIQ6DVLHMSLH5RA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2OJ7A2FFKUPHAQJUTLE7WDAAOXXWSE354MI2CAOZF6KP3RQIYJQ/index.en.v2.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js"
            ]
        },
        "GetConnectPeer": {
            "http": {
                "method": "GET",
                "requestUri": "/connect-peers/{connectPeerId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ConnectPeerId"
                ],
                "members": {
                    "ConnectPeerId": {
                        "location": "uri",
                        "locationName": "connectPeerId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ConnectPeer": {
                        "shape": "S1i"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWSWRHZTZG5SJOGZEMDISQCNA4PB7YHFIBRNFKIQ6DVLHMSLH5RA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2OJ7A2FFKUPHAQJUTLE7WDAAOXXWSE354MI2CAOZF6KP3RQIYJQ/index.en.v2.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js"
            ]
        },
        "GetConnectPeerAssociations": {
            "http": {
                "method": "GET",
                "requestUri": "/global-networks/{globalNetworkId}/connect-peer-associations"
            },
            "input": {
                "type": "structure",
                "required": [
                    "GlobalNetworkId"
                ],
                "members": {
                    "GlobalNetworkId": {
                        "location": "uri",
                        "locationName": "globalNetworkId"
                    },
                    "ConnectPeerIds": {
                        "location": "querystring",
                        "locationName": "connectPeerIds",
                        "type": "list",
                        "member": {}
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ConnectPeerAssociations": {
                        "type": "list",
                        "member": {
                            "shape": "Sq"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWSWRHZTZG5SJOGZEMDISQCNA4PB7YHFIBRNFKIQ6DVLHMSLH5RA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2OJ7A2FFKUPHAQJUTLE7WDAAOXXWSE354MI2CAOZF6KP3RQIYJQ/index.en.v2.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js"
            ]
        },
        "GetConnections": {
            "http": {
                "method": "GET",
                "requestUri": "/global-networks/{globalNetworkId}/connections"
            },
            "input": {
                "type": "structure",
                "required": [
                    "GlobalNetworkId"
                ],
                "members": {
                    "GlobalNetworkId": {
                        "location": "uri",
                        "locationName": "globalNetworkId"
                    },
                    "ConnectionIds": {
                        "location": "querystring",
                        "locationName": "connectionIds",
                        "type": "list",
                        "member": {}
                    },
                    "DeviceId": {
                        "location": "querystring",
                        "locationName": "deviceId"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Connections": {
                        "type": "list",
                        "member": {
                            "shape": "S1p"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWSWRHZTZG5SJOGZEMDISQCNA4PB7YHFIBRNFKIQ6DVLHMSLH5RA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2OJ7A2FFKUPHAQJUTLE7WDAAOXXWSE354MI2CAOZF6KP3RQIYJQ/index.en.v2.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "GetCoreNetwork": {
            "http": {
                "method": "GET",
                "requestUri": "/core-networks/{coreNetworkId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "CoreNetworkId"
                ],
                "members": {
                    "CoreNetworkId": {
                        "location": "uri",
                        "locationName": "coreNetworkId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "CoreNetwork": {
                        "shape": "S1w"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWSWRHZTZG5SJOGZEMDISQCNA4PB7YHFIBRNFKIQ6DVLHMSLH5RA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2OJ7A2FFKUPHAQJUTLE7WDAAOXXWSE354MI2CAOZF6KP3RQIYJQ/index.en.v2.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js"
            ]
        },
        "GetCoreNetworkChangeEvents": {
            "http": {
                "method": "GET",
                "requestUri": "/core-networks/{coreNetworkId}/core-network-change-events/{policyVersionId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "CoreNetworkId",
                    "PolicyVersionId"
                ],
                "members": {
                    "CoreNetworkId": {
                        "location": "uri",
                        "locationName": "coreNetworkId"
                    },
                    "PolicyVersionId": {
                        "location": "uri",
                        "locationName": "policyVersionId",
                        "type": "integer"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "CoreNetworkChangeEvents": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Type": {},
                                "Action": {},
                                "IdentifierPath": {},
                                "EventTime": {
                                    "type": "timestamp"
                                },
                                "Status": {},
                                "Values": {
                                    "type": "structure",
                                    "members": {
                                        "EdgeLocation": {},
                                        "SegmentName": {},
                                        "AttachmentId": {},
                                        "Cidr": {}
                                    }
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWSWRHZTZG5SJOGZEMDISQCNA4PB7YHFIBRNFKIQ6DVLHMSLH5RA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2OJ7A2FFKUPHAQJUTLE7WDAAOXXWSE354MI2CAOZF6KP3RQIYJQ/index.en.v2.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js"
            ]
        },
        "GetCoreNetworkChangeSet": {
            "http": {
                "method": "GET",
                "requestUri": "/core-networks/{coreNetworkId}/core-network-change-sets/{policyVersionId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "CoreNetworkId",
                    "PolicyVersionId"
                ],
                "members": {
                    "CoreNetworkId": {
                        "location": "uri",
                        "locationName": "coreNetworkId"
                    },
                    "PolicyVersionId": {
                        "location": "uri",
                        "locationName": "policyVersionId",
                        "type": "integer"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "CoreNetworkChanges": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Type": {},
                                "Action": {},
                                "Identifier": {},
                                "PreviousValues": {
                                    "shape": "S5j"
                                },
                                "NewValues": {
                                    "shape": "S5j"
                                },
                                "IdentifierPath": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWSWRHZTZG5SJOGZEMDISQCNA4PB7YHFIBRNFKIQ6DVLHMSLH5RA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2OJ7A2FFKUPHAQJUTLE7WDAAOXXWSE354MI2CAOZF6KP3RQIYJQ/index.en.v2.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js"
            ]
        },
        "GetCoreNetworkPolicy": {
            "http": {
                "method": "GET",
                "requestUri": "/core-networks/{coreNetworkId}/core-network-policy"
            },
            "input": {
                "type": "structure",
                "required": [
                    "CoreNetworkId"
                ],
                "members": {
                    "CoreNetworkId": {
                        "location": "uri",
                        "locationName": "coreNetworkId"
                    },
                    "PolicyVersionId": {
                        "location": "querystring",
                        "locationName": "policyVersionId",
                        "type": "integer"
                    },
                    "Alias": {
                        "location": "querystring",
                        "locationName": "alias"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "CoreNetworkPolicy": {
                        "shape": "S3q"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWSWRHZTZG5SJOGZEMDISQCNA4PB7YHFIBRNFKIQ6DVLHMSLH5RA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2OJ7A2FFKUPHAQJUTLE7WDAAOXXWSE354MI2CAOZF6KP3RQIYJQ/index.en.v2.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js"
            ]
        },
        "GetCustomerGatewayAssociations": {
            "http": {
                "method": "GET",
                "requestUri": "/global-networks/{globalNetworkId}/customer-gateway-associations"
            },
            "input": {
                "type": "structure",
                "required": [
                    "GlobalNetworkId"
                ],
                "members": {
                    "GlobalNetworkId": {
                        "location": "uri",
                        "locationName": "globalNetworkId"
                    },
                    "CustomerGatewayArns": {
                        "location": "querystring",
                        "locationName": "customerGatewayArns",
                        "type": "list",
                        "member": {}
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "CustomerGatewayAssociations": {
                        "type": "list",
                        "member": {
                            "shape": "Sv"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWSWRHZTZG5SJOGZEMDISQCNA4PB7YHFIBRNFKIQ6DVLHMSLH5RA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2OJ7A2FFKUPHAQJUTLE7WDAAOXXWSE354MI2CAOZF6KP3RQIYJQ/index.en.v2.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "GetDevices": {
            "http": {
                "method": "GET",
                "requestUri": "/global-networks/{globalNetworkId}/devices"
            },
            "input": {
                "type": "structure",
                "required": [
                    "GlobalNetworkId"
                ],
                "members": {
                    "GlobalNetworkId": {
                        "location": "uri",
                        "locationName": "globalNetworkId"
                    },
                    "DeviceIds": {
                        "location": "querystring",
                        "locationName": "deviceIds",
                        "type": "list",
                        "member": {}
                    },
                    "SiteId": {
                        "location": "querystring",
                        "locationName": "siteId"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Devices": {
                        "type": "list",
                        "member": {
                            "shape": "S29"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWSWRHZTZG5SJOGZEMDISQCNA4PB7YHFIBRNFKIQ6DVLHMSLH5RA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2OJ7A2FFKUPHAQJUTLE7WDAAOXXWSE354MI2CAOZF6KP3RQIYJQ/index.en.v2.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "GetLinkAssociations": {
            "http": {
                "method": "GET",
                "requestUri": "/global-networks/{globalNetworkId}/link-associations"
            },
            "input": {
                "type": "structure",
                "required": [
                    "GlobalNetworkId"
                ],
                "members": {
                    "GlobalNetworkId": {
                        "location": "uri",
                        "locationName": "globalNetworkId"
                    },
                    "DeviceId": {
                        "location": "querystring",
                        "locationName": "deviceId"
                    },
                    "LinkId": {
                        "location": "querystring",
                        "locationName": "linkId"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "LinkAssociations": {
                        "type": "list",
                        "member": {
                            "shape": "Sz"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWSWRHZTZG5SJOGZEMDISQCNA4PB7YHFIBRNFKIQ6DVLHMSLH5RA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2OJ7A2FFKUPHAQJUTLE7WDAAOXXWSE354MI2CAOZF6KP3RQIYJQ/index.en.v2.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "GetLinks": {
            "http": {
                "method": "GET",
                "requestUri": "/global-networks/{globalNetworkId}/links"
            },
            "input": {
                "type": "structure",
                "required": [
                    "GlobalNetworkId"
                ],
                "members": {
                    "GlobalNetworkId": {
                        "location": "uri",
                        "locationName": "globalNetworkId"
                    },
                    "LinkIds": {
                        "location": "querystring",
                        "locationName": "linkIds",
                        "type": "list",
                        "member": {}
                    },
                    "SiteId": {
                        "location": "querystring",
                        "locationName": "siteId"
                    },
                    "Type": {
                        "location": "querystring",
                        "locationName": "type"
                    },
                    "Provider": {
                        "location": "querystring",
                        "locationName": "provider"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Links": {
[...]
