{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2020-08-01",
        "endpointPrefix": "nimble-internal",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "AmazonNimbleStudio",
        "serviceId": "nimble",
        "signatureVersion": "v4",
        "signingName": "nimble",
        "uid": "nimble-internal-2020-08-01",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/4DUD66EVGYB345D5T5D3ZNUCKDQRI62BEDARQP7P4FCPE24LBAZA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SIL4334B4YIJEZBZ25BMXU3DIDRJNXESDR4VJDQDKRXXVWBRHVXA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5QS576KGUFTRILGZL27WYPLHHAESWPQ7BQXG75CLRB4AK6IA2FWA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TKYMPY65XEUXVMT3IHPCZYUAW4HF3XJOT24OS2HBN5NFRP5R2PXA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5L23KISD3HT5YQ7DIYZAJXW3IZX27BUUQRZWMX2NEMX77NPI2NVA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OJKWXCWJOJKCKHM7USQCLN2MHLOOSQLZRQXCJX75MH3YNCLKPJGA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LIUEPOXAGSC77JXEVBBRZLCDFGSNOS4MRG3ORWM4OLPYL2QXUCVQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YC4XRWB6DGHS2JYUUHJD6PRDGCOJJWXNIE4362FYD52LTSVMBT3A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JUXGFPYUYYRB3XXHMKXPAP44YCP3FCJ2MJRRZI2WF5O4S6734EDA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NMO2CPSRGBFIK2PAJXGWTRZFS2R75BHIOPPKEOPXEQNFBCRTUUJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NBIVHJPBN5TOSQ2B2VOSJME4NSQVUGNXBXX5ZLQRVDF3MFVBJVFQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IFLBONTJPZO4LOOXCGWZ52E6DMPTXDIC7DQPFG2SBLBMDRS676CQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3SPAMKWY27BSU4MAIK3NMPV2UGYZPKN3QG73PK2IHH7RA4NSI3CQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/T4ZLKQOSQXQONCUZ4CHCEODGMJ6PTRKSIQ3BPRFA553CMA7WSDMQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4UA5JVYQITHJA542ANSBDA5VSKMVTZJHHBTDYKCKJOZI3KRFQOJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GDAZGTKJOHUHYKETRTDGYNY5PSAVXRLVEC3FPCKHTOP4OS6SZSQQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZTJI6TUJ663MOE27XE63DLWL7KOAZ563QXIL5E4J3XXM4OWYBCGA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MSDZKSA5DIUMJVDGDZOGR3GDWDRAXCOJ4OFVAEVUZMVR23VCSVSA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/USO6WW2WVG3F2RESZXTZHU4VYTW74WX2ZGS7W552NRL5ICXKV54A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QPRDVVYNEWCLYOWUSZ2WI3DJKANNIFZAEAPJCFH5KFLHDNHHHHIA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CR76PNIPYCHAU62DLFCXB53WL7AWT2TERJXNVOPTFARYPCIKNMBA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/APTQDAWYDB6I34KLCUKMVB5K6VN4EEF37IGBIRHV3SFHDJKHFLRA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js"
        ]
    },
    "operations": {
        "AcceptEulas": {
            "http": {
                "requestUri": "/2020-08-01/studios/{studioId}/eula-acceptances",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "studioId"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true,
                        "location": "header",
                        "locationName": "X-Amz-Client-Token"
                    },
                    "dryrun": {
                        "shape": "S3",
                        "location": "header",
                        "locationName": "X-Amz-Dryrun"
                    },
                    "eulaIds": {
                        "shape": "S4"
                    },
                    "studioId": {
                        "location": "uri",
                        "locationName": "studioId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "eulaAcceptances": {
                        "shape": "S7"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIL4334B4YIJEZBZ25BMXU3DIDRJNXESDR4VJDQDKRXXVWBRHVXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QS576KGUFTRILGZL27WYPLHHAESWPQ7BQXG75CLRB4AK6IA2FWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKYMPY65XEUXVMT3IHPCZYUAW4HF3XJOT24OS2HBN5NFRP5R2PXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5L23KISD3HT5YQ7DIYZAJXW3IZX27BUUQRZWMX2NEMX77NPI2NVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJKWXCWJOJKCKHM7USQCLN2MHLOOSQLZRQXCJX75MH3YNCLKPJGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIUEPOXAGSC77JXEVBBRZLCDFGSNOS4MRG3ORWM4OLPYL2QXUCVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC4XRWB6DGHS2JYUUHJD6PRDGCOJJWXNIE4362FYD52LTSVMBT3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXGFPYUYYRB3XXHMKXPAP44YCP3FCJ2MJRRZI2WF5O4S6734EDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMO2CPSRGBFIK2PAJXGWTRZFS2R75BHIOPPKEOPXEQNFBCRTUUJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NBIVHJPBN5TOSQ2B2VOSJME4NSQVUGNXBXX5ZLQRVDF3MFVBJVFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFLBONTJPZO4LOOXCGWZ52E6DMPTXDIC7DQPFG2SBLBMDRS676CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3SPAMKWY27BSU4MAIK3NMPV2UGYZPKN3QG73PK2IHH7RA4NSI3CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4ZLKQOSQXQONCUZ4CHCEODGMJ6PTRKSIQ3BPRFA553CMA7WSDMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4UA5JVYQITHJA542ANSBDA5VSKMVTZJHHBTDYKCKJOZI3KRFQOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDAZGTKJOHUHYKETRTDGYNY5PSAVXRLVEC3FPCKHTOP4OS6SZSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTJI6TUJ663MOE27XE63DLWL7KOAZ563QXIL5E4J3XXM4OWYBCGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSDZKSA5DIUMJVDGDZOGR3GDWDRAXCOJ4OFVAEVUZMVR23VCSVSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USO6WW2WVG3F2RESZXTZHU4VYTW74WX2ZGS7W552NRL5ICXKV54A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPRDVVYNEWCLYOWUSZ2WI3DJKANNIFZAEAPJCFH5KFLHDNHHHHIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CR76PNIPYCHAU62DLFCXB53WL7AWT2TERJXNVOPTFARYPCIKNMBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APTQDAWYDB6I34KLCUKMVB5K6VN4EEF37IGBIRHV3SFHDJKHFLRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js"
            ]
        },
        "CreateLaunchProfile": {
            "http": {
                "requestUri": "/2020-08-01/studios/{studioId}/launch-profiles",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ec2SubnetIds",
                    "launchProfileProtocolVersions",
                    "name",
                    "streamConfiguration",
                    "studioComponentIds",
                    "studioId"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true,
                        "location": "header",
                        "locationName": "X-Amz-Client-Token"
                    },
                    "dryrun": {
                        "shape": "S3",
                        "location": "header",
                        "locationName": "X-Amz-Dryrun"
                    },
                    "description": {
                        "shape": "Sd"
                    },
                    "ec2SubnetIds": {
                        "shape": "Se"
                    },
                    "launchProfileProtocolVersions": {
                        "shape": "Sg"
                    },
                    "name": {
                        "shape": "Si"
                    },
                    "shouldSkipStreaming": {
                        "internalonly": true,
                        "type": "boolean"
                    },
                    "streamConfiguration": {
                        "shape": "Sk"
                    },
                    "studioComponentIds": {
                        "shape": "S18"
                    },
                    "studioId": {
                        "location": "uri",
                        "locationName": "studioId"
                    },
                    "tags": {
                        "shape": "S19"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "launchProfile": {
                        "shape": "S1b"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIL4334B4YIJEZBZ25BMXU3DIDRJNXESDR4VJDQDKRXXVWBRHVXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QS576KGUFTRILGZL27WYPLHHAESWPQ7BQXG75CLRB4AK6IA2FWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKYMPY65XEUXVMT3IHPCZYUAW4HF3XJOT24OS2HBN5NFRP5R2PXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5L23KISD3HT5YQ7DIYZAJXW3IZX27BUUQRZWMX2NEMX77NPI2NVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJKWXCWJOJKCKHM7USQCLN2MHLOOSQLZRQXCJX75MH3YNCLKPJGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIUEPOXAGSC77JXEVBBRZLCDFGSNOS4MRG3ORWM4OLPYL2QXUCVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC4XRWB6DGHS2JYUUHJD6PRDGCOJJWXNIE4362FYD52LTSVMBT3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXGFPYUYYRB3XXHMKXPAP44YCP3FCJ2MJRRZI2WF5O4S6734EDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMO2CPSRGBFIK2PAJXGWTRZFS2R75BHIOPPKEOPXEQNFBCRTUUJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NBIVHJPBN5TOSQ2B2VOSJME4NSQVUGNXBXX5ZLQRVDF3MFVBJVFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFLBONTJPZO4LOOXCGWZ52E6DMPTXDIC7DQPFG2SBLBMDRS676CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3SPAMKWY27BSU4MAIK3NMPV2UGYZPKN3QG73PK2IHH7RA4NSI3CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4ZLKQOSQXQONCUZ4CHCEODGMJ6PTRKSIQ3BPRFA553CMA7WSDMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4UA5JVYQITHJA542ANSBDA5VSKMVTZJHHBTDYKCKJOZI3KRFQOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDAZGTKJOHUHYKETRTDGYNY5PSAVXRLVEC3FPCKHTOP4OS6SZSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTJI6TUJ663MOE27XE63DLWL7KOAZ563QXIL5E4J3XXM4OWYBCGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSDZKSA5DIUMJVDGDZOGR3GDWDRAXCOJ4OFVAEVUZMVR23VCSVSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USO6WW2WVG3F2RESZXTZHU4VYTW74WX2ZGS7W552NRL5ICXKV54A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPRDVVYNEWCLYOWUSZ2WI3DJKANNIFZAEAPJCFH5KFLHDNHHHHIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CR76PNIPYCHAU62DLFCXB53WL7AWT2TERJXNVOPTFARYPCIKNMBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APTQDAWYDB6I34KLCUKMVB5K6VN4EEF37IGBIRHV3SFHDJKHFLRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js"
            ]
        },
        "CreateStreamingImage": {
            "http": {
                "requestUri": "/2020-08-01/studios/{studioId}/streaming-images",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ec2ImageId",
                    "name",
                    "studioId"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true,
                        "location": "header",
                        "locationName": "X-Amz-Client-Token"
                    },
                    "dryrun": {
                        "shape": "S3",
                        "location": "header",
                        "locationName": "X-Amz-Dryrun"
                    },
                    "description": {
                        "shape": "S1o"
                    },
                    "ec2ImageId": {},
                    "name": {
                        "shape": "S1q"
                    },
                    "studioId": {
                        "location": "uri",
                        "locationName": "studioId"
                    },
                    "tags": {
                        "shape": "S19"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "streamingImage": {
                        "shape": "S1s"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIL4334B4YIJEZBZ25BMXU3DIDRJNXESDR4VJDQDKRXXVWBRHVXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QS576KGUFTRILGZL27WYPLHHAESWPQ7BQXG75CLRB4AK6IA2FWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKYMPY65XEUXVMT3IHPCZYUAW4HF3XJOT24OS2HBN5NFRP5R2PXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5L23KISD3HT5YQ7DIYZAJXW3IZX27BUUQRZWMX2NEMX77NPI2NVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJKWXCWJOJKCKHM7USQCLN2MHLOOSQLZRQXCJX75MH3YNCLKPJGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIUEPOXAGSC77JXEVBBRZLCDFGSNOS4MRG3ORWM4OLPYL2QXUCVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC4XRWB6DGHS2JYUUHJD6PRDGCOJJWXNIE4362FYD52LTSVMBT3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXGFPYUYYRB3XXHMKXPAP44YCP3FCJ2MJRRZI2WF5O4S6734EDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMO2CPSRGBFIK2PAJXGWTRZFS2R75BHIOPPKEOPXEQNFBCRTUUJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NBIVHJPBN5TOSQ2B2VOSJME4NSQVUGNXBXX5ZLQRVDF3MFVBJVFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFLBONTJPZO4LOOXCGWZ52E6DMPTXDIC7DQPFG2SBLBMDRS676CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3SPAMKWY27BSU4MAIK3NMPV2UGYZPKN3QG73PK2IHH7RA4NSI3CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4ZLKQOSQXQONCUZ4CHCEODGMJ6PTRKSIQ3BPRFA553CMA7WSDMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4UA5JVYQITHJA542ANSBDA5VSKMVTZJHHBTDYKCKJOZI3KRFQOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDAZGTKJOHUHYKETRTDGYNY5PSAVXRLVEC3FPCKHTOP4OS6SZSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTJI6TUJ663MOE27XE63DLWL7KOAZ563QXIL5E4J3XXM4OWYBCGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSDZKSA5DIUMJVDGDZOGR3GDWDRAXCOJ4OFVAEVUZMVR23VCSVSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USO6WW2WVG3F2RESZXTZHU4VYTW74WX2ZGS7W552NRL5ICXKV54A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPRDVVYNEWCLYOWUSZ2WI3DJKANNIFZAEAPJCFH5KFLHDNHHHHIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CR76PNIPYCHAU62DLFCXB53WL7AWT2TERJXNVOPTFARYPCIKNMBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APTQDAWYDB6I34KLCUKMVB5K6VN4EEF37IGBIRHV3SFHDJKHFLRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js"
            ]
        },
        "CreateStreamingSession": {
            "http": {
                "requestUri": "/2020-08-01/studios/{studioId}/streaming-sessions",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "launchProfileId",
                    "studioId"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true,
                        "location": "header",
                        "locationName": "X-Amz-Client-Token"
                    },
                    "dryrun": {
                        "shape": "S3",
                        "location": "header",
                        "locationName": "X-Amz-Dryrun"
                    },
                    "ec2InstanceType": {},
                    "launchProfileId": {},
                    "ownedBy": {},
                    "streamingImageId": {},
                    "studioId": {
                        "location": "uri",
                        "locationName": "studioId"
                    },
                    "tags": {
                        "shape": "S19"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "session": {
                        "shape": "S22"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIL4334B4YIJEZBZ25BMXU3DIDRJNXESDR4VJDQDKRXXVWBRHVXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QS576KGUFTRILGZL27WYPLHHAESWPQ7BQXG75CLRB4AK6IA2FWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKYMPY65XEUXVMT3IHPCZYUAW4HF3XJOT24OS2HBN5NFRP5R2PXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5L23KISD3HT5YQ7DIYZAJXW3IZX27BUUQRZWMX2NEMX77NPI2NVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJKWXCWJOJKCKHM7USQCLN2MHLOOSQLZRQXCJX75MH3YNCLKPJGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIUEPOXAGSC77JXEVBBRZLCDFGSNOS4MRG3ORWM4OLPYL2QXUCVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC4XRWB6DGHS2JYUUHJD6PRDGCOJJWXNIE4362FYD52LTSVMBT3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXGFPYUYYRB3XXHMKXPAP44YCP3FCJ2MJRRZI2WF5O4S6734EDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMO2CPSRGBFIK2PAJXGWTRZFS2R75BHIOPPKEOPXEQNFBCRTUUJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NBIVHJPBN5TOSQ2B2VOSJME4NSQVUGNXBXX5ZLQRVDF3MFVBJVFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFLBONTJPZO4LOOXCGWZ52E6DMPTXDIC7DQPFG2SBLBMDRS676CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3SPAMKWY27BSU4MAIK3NMPV2UGYZPKN3QG73PK2IHH7RA4NSI3CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4ZLKQOSQXQONCUZ4CHCEODGMJ6PTRKSIQ3BPRFA553CMA7WSDMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4UA5JVYQITHJA542ANSBDA5VSKMVTZJHHBTDYKCKJOZI3KRFQOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDAZGTKJOHUHYKETRTDGYNY5PSAVXRLVEC3FPCKHTOP4OS6SZSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTJI6TUJ663MOE27XE63DLWL7KOAZ563QXIL5E4J3XXM4OWYBCGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSDZKSA5DIUMJVDGDZOGR3GDWDRAXCOJ4OFVAEVUZMVR23VCSVSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USO6WW2WVG3F2RESZXTZHU4VYTW74WX2ZGS7W552NRL5ICXKV54A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPRDVVYNEWCLYOWUSZ2WI3DJKANNIFZAEAPJCFH5KFLHDNHHHHIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CR76PNIPYCHAU62DLFCXB53WL7AWT2TERJXNVOPTFARYPCIKNMBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APTQDAWYDB6I34KLCUKMVB5K6VN4EEF37IGBIRHV3SFHDJKHFLRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js"
            ]
        },
        "CreateStreamingSessionStream": {
            "http": {
                "requestUri": "/2020-08-01/studios/{studioId}/streaming-sessions/{sessionId}/streams",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "sessionId",
                    "studioId"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true,
                        "location": "header",
                        "locationName": "X-Amz-Client-Token"
                    },
                    "dryrun": {
                        "shape": "S3",
                        "location": "header",
                        "locationName": "X-Amz-Dryrun"
                    },
                    "expirationInSeconds": {
                        "type": "integer"
                    },
                    "sessionId": {
                        "location": "uri",
                        "locationName": "sessionId"
                    },
                    "studioId": {
                        "location": "uri",
                        "locationName": "studioId"
                    },
                    "observerName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "stream": {
                        "shape": "S2b"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIL4334B4YIJEZBZ25BMXU3DIDRJNXESDR4VJDQDKRXXVWBRHVXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QS576KGUFTRILGZL27WYPLHHAESWPQ7BQXG75CLRB4AK6IA2FWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKYMPY65XEUXVMT3IHPCZYUAW4HF3XJOT24OS2HBN5NFRP5R2PXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5L23KISD3HT5YQ7DIYZAJXW3IZX27BUUQRZWMX2NEMX77NPI2NVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJKWXCWJOJKCKHM7USQCLN2MHLOOSQLZRQXCJX75MH3YNCLKPJGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIUEPOXAGSC77JXEVBBRZLCDFGSNOS4MRG3ORWM4OLPYL2QXUCVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC4XRWB6DGHS2JYUUHJD6PRDGCOJJWXNIE4362FYD52LTSVMBT3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXGFPYUYYRB3XXHMKXPAP44YCP3FCJ2MJRRZI2WF5O4S6734EDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMO2CPSRGBFIK2PAJXGWTRZFS2R75BHIOPPKEOPXEQNFBCRTUUJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NBIVHJPBN5TOSQ2B2VOSJME4NSQVUGNXBXX5ZLQRVDF3MFVBJVFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFLBONTJPZO4LOOXCGWZ52E6DMPTXDIC7DQPFG2SBLBMDRS676CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3SPAMKWY27BSU4MAIK3NMPV2UGYZPKN3QG73PK2IHH7RA4NSI3CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4ZLKQOSQXQONCUZ4CHCEODGMJ6PTRKSIQ3BPRFA553CMA7WSDMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4UA5JVYQITHJA542ANSBDA5VSKMVTZJHHBTDYKCKJOZI3KRFQOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDAZGTKJOHUHYKETRTDGYNY5PSAVXRLVEC3FPCKHTOP4OS6SZSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTJI6TUJ663MOE27XE63DLWL7KOAZ563QXIL5E4J3XXM4OWYBCGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSDZKSA5DIUMJVDGDZOGR3GDWDRAXCOJ4OFVAEVUZMVR23VCSVSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USO6WW2WVG3F2RESZXTZHU4VYTW74WX2ZGS7W552NRL5ICXKV54A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPRDVVYNEWCLYOWUSZ2WI3DJKANNIFZAEAPJCFH5KFLHDNHHHHIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CR76PNIPYCHAU62DLFCXB53WL7AWT2TERJXNVOPTFARYPCIKNMBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APTQDAWYDB6I34KLCUKMVB5K6VN4EEF37IGBIRHV3SFHDJKHFLRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js"
            ]
        },
        "CreateStudio": {
            "http": {
                "requestUri": "/2020-08-01/studios",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "adminRoleArn",
                    "displayName",
                    "studioName",
                    "userRoleArn"
                ],
                "members": {
                    "adminRoleArn": {},
                    "clientToken": {
                        "idempotencyToken": true,
                        "location": "header",
                        "locationName": "X-Amz-Client-Token"
                    },
                    "dryrun": {
                        "shape": "S3",
                        "location": "header",
                        "locationName": "X-Amz-Dryrun"
                    },
                    "displayName": {
                        "shape": "S2h"
                    },
                    "studioEncryptionConfiguration": {
                        "shape": "S2i"
                    },
                    "studioName": {},
                    "tags": {
                        "shape": "S19"
                    },
                    "userRoleArn": {},
                    "identityCenterInstanceArn": {},
                    "studioAssignmentRequired": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "studio": {
                        "shape": "S2n"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIL4334B4YIJEZBZ25BMXU3DIDRJNXESDR4VJDQDKRXXVWBRHVXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QS576KGUFTRILGZL27WYPLHHAESWPQ7BQXG75CLRB4AK6IA2FWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKYMPY65XEUXVMT3IHPCZYUAW4HF3XJOT24OS2HBN5NFRP5R2PXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5L23KISD3HT5YQ7DIYZAJXW3IZX27BUUQRZWMX2NEMX77NPI2NVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJKWXCWJOJKCKHM7USQCLN2MHLOOSQLZRQXCJX75MH3YNCLKPJGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIUEPOXAGSC77JXEVBBRZLCDFGSNOS4MRG3ORWM4OLPYL2QXUCVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC4XRWB6DGHS2JYUUHJD6PRDGCOJJWXNIE4362FYD52LTSVMBT3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXGFPYUYYRB3XXHMKXPAP44YCP3FCJ2MJRRZI2WF5O4S6734EDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMO2CPSRGBFIK2PAJXGWTRZFS2R75BHIOPPKEOPXEQNFBCRTUUJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NBIVHJPBN5TOSQ2B2VOSJME4NSQVUGNXBXX5ZLQRVDF3MFVBJVFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFLBONTJPZO4LOOXCGWZ52E6DMPTXDIC7DQPFG2SBLBMDRS676CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3SPAMKWY27BSU4MAIK3NMPV2UGYZPKN3QG73PK2IHH7RA4NSI3CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4ZLKQOSQXQONCUZ4CHCEODGMJ6PTRKSIQ3BPRFA553CMA7WSDMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4UA5JVYQITHJA542ANSBDA5VSKMVTZJHHBTDYKCKJOZI3KRFQOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDAZGTKJOHUHYKETRTDGYNY5PSAVXRLVEC3FPCKHTOP4OS6SZSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTJI6TUJ663MOE27XE63DLWL7KOAZ563QXIL5E4J3XXM4OWYBCGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSDZKSA5DIUMJVDGDZOGR3GDWDRAXCOJ4OFVAEVUZMVR23VCSVSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USO6WW2WVG3F2RESZXTZHU4VYTW74WX2ZGS7W552NRL5ICXKV54A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPRDVVYNEWCLYOWUSZ2WI3DJKANNIFZAEAPJCFH5KFLHDNHHHHIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CR76PNIPYCHAU62DLFCXB53WL7AWT2TERJXNVOPTFARYPCIKNMBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APTQDAWYDB6I34KLCUKMVB5K6VN4EEF37IGBIRHV3SFHDJKHFLRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js"
            ]
        },
        "CreateStudioComponent": {
            "http": {
                "requestUri": "/2020-08-01/studios/{studioId}/studio-components",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "studioId",
                    "type"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true,
                        "location": "header",
                        "locationName": "X-Amz-Client-Token"
                    },
                    "dryrun": {
                        "shape": "S3",
                        "location": "header",
                        "locationName": "X-Amz-Dryrun"
                    },
                    "configuration": {
                        "shape": "S2s"
                    },
                    "description": {
                        "shape": "S36"
                    },
                    "ec2SecurityGroupIds": {
                        "shape": "S37"
                    },
                    "initializationScripts": {
                        "shape": "S39"
                    },
                    "name": {
                        "shape": "S3e"
                    },
                    "scriptParameters": {
                        "shape": "S3f"
                    },
                    "studioId": {
                        "location": "uri",
                        "locationName": "studioId"
                    },
                    "subtype": {},
                    "tags": {
                        "shape": "S19"
                    },
                    "type": {},
                    "secureInitializationRoleArn": {},
                    "runtimeRoleArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "studioComponent": {
                        "shape": "S3m"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIL4334B4YIJEZBZ25BMXU3DIDRJNXESDR4VJDQDKRXXVWBRHVXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QS576KGUFTRILGZL27WYPLHHAESWPQ7BQXG75CLRB4AK6IA2FWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKYMPY65XEUXVMT3IHPCZYUAW4HF3XJOT24OS2HBN5NFRP5R2PXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5L23KISD3HT5YQ7DIYZAJXW3IZX27BUUQRZWMX2NEMX77NPI2NVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJKWXCWJOJKCKHM7USQCLN2MHLOOSQLZRQXCJX75MH3YNCLKPJGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIUEPOXAGSC77JXEVBBRZLCDFGSNOS4MRG3ORWM4OLPYL2QXUCVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC4XRWB6DGHS2JYUUHJD6PRDGCOJJWXNIE4362FYD52LTSVMBT3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXGFPYUYYRB3XXHMKXPAP44YCP3FCJ2MJRRZI2WF5O4S6734EDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMO2CPSRGBFIK2PAJXGWTRZFS2R75BHIOPPKEOPXEQNFBCRTUUJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NBIVHJPBN5TOSQ2B2VOSJME4NSQVUGNXBXX5ZLQRVDF3MFVBJVFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFLBONTJPZO4LOOXCGWZ52E6DMPTXDIC7DQPFG2SBLBMDRS676CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3SPAMKWY27BSU4MAIK3NMPV2UGYZPKN3QG73PK2IHH7RA4NSI3CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4ZLKQOSQXQONCUZ4CHCEODGMJ6PTRKSIQ3BPRFA553CMA7WSDMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4UA5JVYQITHJA542ANSBDA5VSKMVTZJHHBTDYKCKJOZI3KRFQOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDAZGTKJOHUHYKETRTDGYNY5PSAVXRLVEC3FPCKHTOP4OS6SZSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTJI6TUJ663MOE27XE63DLWL7KOAZ563QXIL5E4J3XXM4OWYBCGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSDZKSA5DIUMJVDGDZOGR3GDWDRAXCOJ4OFVAEVUZMVR23VCSVSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USO6WW2WVG3F2RESZXTZHU4VYTW74WX2ZGS7W552NRL5ICXKV54A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPRDVVYNEWCLYOWUSZ2WI3DJKANNIFZAEAPJCFH5KFLHDNHHHHIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CR76PNIPYCHAU62DLFCXB53WL7AWT2TERJXNVOPTFARYPCIKNMBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APTQDAWYDB6I34KLCUKMVB5K6VN4EEF37IGBIRHV3SFHDJKHFLRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js"
            ]
        },
        "CreateStudioSession": {
            "http": {
                "requestUri": "/2020-08-01/studios/{studioId}/sessions",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "studioId"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true,
                        "location": "header",
                        "locationName": "X-Amz-Client-Token"
                    },
                    "loggingMode": {},
                    "parameters": {
                        "type": "map",
                        "key": {},
                        "value": {}
                    },
                    "sessionToken": {},
                    "state": {},
                    "studioId": {
                        "location": "uri",
                        "locationName": "studioId"
                    },
                    "codeVerifier": {
                        "location": "querystring",
                        "locationName": "code_verifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "awsAccountId",
                    "credentials",
                    "identityStoreId",
                    "sessionToken",
                    "studioId",
                    "userId"
                ],
                "members": {
                    "awsAccountId": {},
                    "credentials": {
                        "type": "structure",
                        "members": {
                            "AccessKeyId": {},
                            "Expiration": {},
                            "SecretAccessKey": {},
                            "SessionToken": {}
                        },
                        "sensitive": true
                    },
                    "identityStoreId": {},
                    "logStream": {},
                    "sessionToken": {},
                    "state": {},
                    "studioId": {},
                    "studioPersona": {},
                    "userId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIL4334B4YIJEZBZ25BMXU3DIDRJNXESDR4VJDQDKRXXVWBRHVXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QS576KGUFTRILGZL27WYPLHHAESWPQ7BQXG75CLRB4AK6IA2FWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKYMPY65XEUXVMT3IHPCZYUAW4HF3XJOT24OS2HBN5NFRP5R2PXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5L23KISD3HT5YQ7DIYZAJXW3IZX27BUUQRZWMX2NEMX77NPI2NVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJKWXCWJOJKCKHM7USQCLN2MHLOOSQLZRQXCJX75MH3YNCLKPJGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIUEPOXAGSC77JXEVBBRZLCDFGSNOS4MRG3ORWM4OLPYL2QXUCVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC4XRWB6DGHS2JYUUHJD6PRDGCOJJWXNIE4362FYD52LTSVMBT3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXGFPYUYYRB3XXHMKXPAP44YCP3FCJ2MJRRZI2WF5O4S6734EDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMO2CPSRGBFIK2PAJXGWTRZFS2R75BHIOPPKEOPXEQNFBCRTUUJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NBIVHJPBN5TOSQ2B2VOSJME4NSQVUGNXBXX5ZLQRVDF3MFVBJVFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFLBONTJPZO4LOOXCGWZ52E6DMPTXDIC7DQPFG2SBLBMDRS676CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3SPAMKWY27BSU4MAIK3NMPV2UGYZPKN3QG73PK2IHH7RA4NSI3CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4ZLKQOSQXQONCUZ4CHCEODGMJ6PTRKSIQ3BPRFA553CMA7WSDMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4UA5JVYQITHJA542ANSBDA5VSKMVTZJHHBTDYKCKJOZI3KRFQOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDAZGTKJOHUHYKETRTDGYNY5PSAVXRLVEC3FPCKHTOP4OS6SZSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTJI6TUJ663MOE27XE63DLWL7KOAZ563QXIL5E4J3XXM4OWYBCGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSDZKSA5DIUMJVDGDZOGR3GDWDRAXCOJ4OFVAEVUZMVR23VCSVSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USO6WW2WVG3F2RESZXTZHU4VYTW74WX2ZGS7W552NRL5ICXKV54A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPRDVVYNEWCLYOWUSZ2WI3DJKANNIFZAEAPJCFH5KFLHDNHHHHIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CR76PNIPYCHAU62DLFCXB53WL7AWT2TERJXNVOPTFARYPCIKNMBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APTQDAWYDB6I34KLCUKMVB5K6VN4EEF37IGBIRHV3SFHDJKHFLRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js"
            ]
        },
        "DeleteLaunchProfile": {
            "http": {
                "method": "DELETE",
                "requestUri": "/2020-08-01/studios/{studioId}/launch-profiles/{launchProfileId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "launchProfileId",
                    "studioId"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true,
                        "location": "header",
                        "locationName": "X-Amz-Client-Token"
                    },
                    "dryrun": {
                        "shape": "S3",
                        "location": "header",
                        "locationName": "X-Amz-Dryrun"
                    },
                    "launchProfileId": {
                        "location": "uri",
                        "locationName": "launchProfileId"
                    },
                    "studioId": {
                        "location": "uri",
                        "locationName": "studioId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "launchProfile": {
                        "shape": "S1b"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIL4334B4YIJEZBZ25BMXU3DIDRJNXESDR4VJDQDKRXXVWBRHVXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QS576KGUFTRILGZL27WYPLHHAESWPQ7BQXG75CLRB4AK6IA2FWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKYMPY65XEUXVMT3IHPCZYUAW4HF3XJOT24OS2HBN5NFRP5R2PXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5L23KISD3HT5YQ7DIYZAJXW3IZX27BUUQRZWMX2NEMX77NPI2NVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJKWXCWJOJKCKHM7USQCLN2MHLOOSQLZRQXCJX75MH3YNCLKPJGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIUEPOXAGSC77JXEVBBRZLCDFGSNOS4MRG3ORWM4OLPYL2QXUCVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC4XRWB6DGHS2JYUUHJD6PRDGCOJJWXNIE4362FYD52LTSVMBT3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXGFPYUYYRB3XXHMKXPAP44YCP3FCJ2MJRRZI2WF5O4S6734EDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMO2CPSRGBFIK2PAJXGWTRZFS2R75BHIOPPKEOPXEQNFBCRTUUJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NBIVHJPBN5TOSQ2B2VOSJME4NSQVUGNXBXX5ZLQRVDF3MFVBJVFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFLBONTJPZO4LOOXCGWZ52E6DMPTXDIC7DQPFG2SBLBMDRS676CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3SPAMKWY27BSU4MAIK3NMPV2UGYZPKN3QG73PK2IHH7RA4NSI3CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4ZLKQOSQXQONCUZ4CHCEODGMJ6PTRKSIQ3BPRFA553CMA7WSDMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4UA5JVYQITHJA542ANSBDA5VSKMVTZJHHBTDYKCKJOZI3KRFQOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDAZGTKJOHUHYKETRTDGYNY5PSAVXRLVEC3FPCKHTOP4OS6SZSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTJI6TUJ663MOE27XE63DLWL7KOAZ563QXIL5E4J3XXM4OWYBCGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSDZKSA5DIUMJVDGDZOGR3GDWDRAXCOJ4OFVAEVUZMVR23VCSVSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USO6WW2WVG3F2RESZXTZHU4VYTW74WX2ZGS7W552NRL5ICXKV54A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPRDVVYNEWCLYOWUSZ2WI3DJKANNIFZAEAPJCFH5KFLHDNHHHHIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CR76PNIPYCHAU62DLFCXB53WL7AWT2TERJXNVOPTFARYPCIKNMBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APTQDAWYDB6I34KLCUKMVB5K6VN4EEF37IGBIRHV3SFHDJKHFLRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js"
            ]
        },
        "DeleteLaunchProfileMember": {
            "http": {
                "method": "DELETE",
                "requestUri": "/2020-08-01/studios/{studioId}/launch-profiles/{launchProfileId}/membership/{principalId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "launchProfileId",
                    "principalId",
                    "studioId"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true,
                        "location": "header",
                        "locationName": "X-Amz-Client-Token"
                    },
                    "dryrun": {
                        "shape": "S3",
                        "location": "header",
                        "locationName": "X-Amz-Dryrun"
                    },
                    "launchProfileId": {
                        "location": "uri",
                        "locationName": "launchProfileId"
                    },
                    "principalId": {
                        "location": "uri",
                        "locationName": "principalId"
                    },
                    "studioId": {
                        "location": "uri",
                        "locationName": "studioId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIL4334B4YIJEZBZ25BMXU3DIDRJNXESDR4VJDQDKRXXVWBRHVXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QS576KGUFTRILGZL27WYPLHHAESWPQ7BQXG75CLRB4AK6IA2FWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKYMPY65XEUXVMT3IHPCZYUAW4HF3XJOT24OS2HBN5NFRP5R2PXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5L23KISD3HT5YQ7DIYZAJXW3IZX27BUUQRZWMX2NEMX77NPI2NVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJKWXCWJOJKCKHM7USQCLN2MHLOOSQLZRQXCJX75MH3YNCLKPJGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIUEPOXAGSC77JXEVBBRZLCDFGSNOS4MRG3ORWM4OLPYL2QXUCVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC4XRWB6DGHS2JYUUHJD6PRDGCOJJWXNIE4362FYD52LTSVMBT3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXGFPYUYYRB3XXHMKXPAP44YCP3FCJ2MJRRZI2WF5O4S6734EDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMO2CPSRGBFIK2PAJXGWTRZFS2R75BHIOPPKEOPXEQNFBCRTUUJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NBIVHJPBN5TOSQ2B2VOSJME4NSQVUGNXBXX5ZLQRVDF3MFVBJVFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFLBONTJPZO4LOOXCGWZ52E6DMPTXDIC7DQPFG2SBLBMDRS676CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3SPAMKWY27BSU4MAIK3NMPV2UGYZPKN3QG73PK2IHH7RA4NSI3CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4ZLKQOSQXQONCUZ4CHCEODGMJ6PTRKSIQ3BPRFA553CMA7WSDMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4UA5JVYQITHJA542ANSBDA5VSKMVTZJHHBTDYKCKJOZI3KRFQOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDAZGTKJOHUHYKETRTDGYNY5PSAVXRLVEC3FPCKHTOP4OS6SZSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTJI6TUJ663MOE27XE63DLWL7KOAZ563QXIL5E4J3XXM4OWYBCGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSDZKSA5DIUMJVDGDZOGR3GDWDRAXCOJ4OFVAEVUZMVR23VCSVSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USO6WW2WVG3F2RESZXTZHU4VYTW74WX2ZGS7W552NRL5ICXKV54A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPRDVVYNEWCLYOWUSZ2WI3DJKANNIFZAEAPJCFH5KFLHDNHHHHIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CR76PNIPYCHAU62DLFCXB53WL7AWT2TERJXNVOPTFARYPCIKNMBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APTQDAWYDB6I34KLCUKMVB5K6VN4EEF37IGBIRHV3SFHDJKHFLRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js"
            ]
        },
        "DeleteStreamingImage": {
            "http": {
                "method": "DELETE",
                "requestUri": "/2020-08-01/studios/{studioId}/streaming-images/{streamingImageId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "streamingImageId",
                    "studioId"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true,
                        "location": "header",
                        "locationName": "X-Amz-Client-Token"
                    },
                    "dryrun": {
                        "shape": "S3",
                        "location": "header",
                        "locationName": "X-Amz-Dryrun"
                    },
                    "streamingImageId": {
                        "location": "uri",
                        "locationName": "streamingImageId"
                    },
                    "studioId": {
                        "location": "uri",
                        "locationName": "studioId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "streamingImage": {
                        "shape": "S1s"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIL4334B4YIJEZBZ25BMXU3DIDRJNXESDR4VJDQDKRXXVWBRHVXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QS576KGUFTRILGZL27WYPLHHAESWPQ7BQXG75CLRB4AK6IA2FWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKYMPY65XEUXVMT3IHPCZYUAW4HF3XJOT24OS2HBN5NFRP5R2PXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5L23KISD3HT5YQ7DIYZAJXW3IZX27BUUQRZWMX2NEMX77NPI2NVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJKWXCWJOJKCKHM7USQCLN2MHLOOSQLZRQXCJX75MH3YNCLKPJGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIUEPOXAGSC77JXEVBBRZLCDFGSNOS4MRG3ORWM4OLPYL2QXUCVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC4XRWB6DGHS2JYUUHJD6PRDGCOJJWXNIE4362FYD52LTSVMBT3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXGFPYUYYRB3XXHMKXPAP44YCP3FCJ2MJRRZI2WF5O4S6734EDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMO2CPSRGBFIK2PAJXGWTRZFS2R75BHIOPPKEOPXEQNFBCRTUUJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NBIVHJPBN5TOSQ2B2VOSJME4NSQVUGNXBXX5ZLQRVDF3MFVBJVFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFLBONTJPZO4LOOXCGWZ52E6DMPTXDIC7DQPFG2SBLBMDRS676CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3SPAMKWY27BSU4MAIK3NMPV2UGYZPKN3QG73PK2IHH7RA4NSI3CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4ZLKQOSQXQONCUZ4CHCEODGMJ6PTRKSIQ3BPRFA553CMA7WSDMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4UA5JVYQITHJA542ANSBDA5VSKMVTZJHHBTDYKCKJOZI3KRFQOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDAZGTKJOHUHYKETRTDGYNY5PSAVXRLVEC3FPCKHTOP4OS6SZSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTJI6TUJ663MOE27XE63DLWL7KOAZ563QXIL5E4J3XXM4OWYBCGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSDZKSA5DIUMJVDGDZOGR3GDWDRAXCOJ4OFVAEVUZMVR23VCSVSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USO6WW2WVG3F2RESZXTZHU4VYTW74WX2ZGS7W552NRL5ICXKV54A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPRDVVYNEWCLYOWUSZ2WI3DJKANNIFZAEAPJCFH5KFLHDNHHHHIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CR76PNIPYCHAU62DLFCXB53WL7AWT2TERJXNVOPTFARYPCIKNMBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APTQDAWYDB6I34KLCUKMVB5K6VN4EEF37IGBIRHV3SFHDJKHFLRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js"
            ]
        },
        "DeleteStreamingSession": {
            "http": {
                "method": "DELETE",
                "requestUri": "/2020-08-01/studios/{studioId}/streaming-sessions/{sessionId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "sessionId",
                    "studioId"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true,
                        "location": "header",
                        "locationName": "X-Amz-Client-Token"
                    },
                    "dryrun": {
                        "shape": "S3",
                        "location": "header",
                        "locationName": "X-Amz-Dryrun"
                    },
                    "sessionId": {
                        "location": "uri",
                        "locationName": "sessionId"
                    },
                    "studioId": {
                        "location": "uri",
                        "locationName": "studioId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "session": {
                        "shape": "S22"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIL4334B4YIJEZBZ25BMXU3DIDRJNXESDR4VJDQDKRXXVWBRHVXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QS576KGUFTRILGZL27WYPLHHAESWPQ7BQXG75CLRB4AK6IA2FWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKYMPY65XEUXVMT3IHPCZYUAW4HF3XJOT24OS2HBN5NFRP5R2PXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5L23KISD3HT5YQ7DIYZAJXW3IZX27BUUQRZWMX2NEMX77NPI2NVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJKWXCWJOJKCKHM7USQCLN2MHLOOSQLZRQXCJX75MH3YNCLKPJGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIUEPOXAGSC77JXEVBBRZLCDFGSNOS4MRG3ORWM4OLPYL2QXUCVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC4XRWB6DGHS2JYUUHJD6PRDGCOJJWXNIE4362FYD52LTSVMBT3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXGFPYUYYRB3XXHMKXPAP44YCP3FCJ2MJRRZI2WF5O4S6734EDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMO2CPSRGBFIK2PAJXGWTRZFS2R75BHIOPPKEOPXEQNFBCRTUUJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NBIVHJPBN5TOSQ2B2VOSJME4NSQVUGNXBXX5ZLQRVDF3MFVBJVFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFLBONTJPZO4LOOXCGWZ52E6DMPTXDIC7DQPFG2SBLBMDRS676CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3SPAMKWY27BSU4MAIK3NMPV2UGYZPKN3QG73PK2IHH7RA4NSI3CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4ZLKQOSQXQONCUZ4CHCEODGMJ6PTRKSIQ3BPRFA553CMA7WSDMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4UA5JVYQITHJA542ANSBDA5VSKMVTZJHHBTDYKCKJOZI3KRFQOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDAZGTKJOHUHYKETRTDGYNY5PSAVXRLVEC3FPCKHTOP4OS6SZSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTJI6TUJ663MOE27XE63DLWL7KOAZ563QXIL5E4J3XXM4OWYBCGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSDZKSA5DIUMJVDGDZOGR3GDWDRAXCOJ4OFVAEVUZMVR23VCSVSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USO6WW2WVG3F2RESZXTZHU4VYTW74WX2ZGS7W552NRL5ICXKV54A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPRDVVYNEWCLYOWUSZ2WI3DJKANNIFZAEAPJCFH5KFLHDNHHHHIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CR76PNIPYCHAU62DLFCXB53WL7AWT2TERJXNVOPTFARYPCIKNMBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APTQDAWYDB6I34KLCUKMVB5K6VN4EEF37IGBIRHV3SFHDJKHFLRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js"
            ]
        },
        "DeleteStudio": {
            "http": {
                "method": "DELETE",
                "requestUri": "/2020-08-01/studios/{studioId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "studioId"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true,
                        "location": "header",
                        "locationName": "X-Amz-Client-Token"
                    },
                    "dryrun": {
                        "shape": "S3",
                        "location": "header",
                        "locationName": "X-Amz-Dryrun"
                    },
                    "studioId": {
                        "location": "uri",
                        "locationName": "studioId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "studio"
                ],
                "members": {
                    "studio": {
                        "shape": "S2n"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIL4334B4YIJEZBZ25BMXU3DIDRJNXESDR4VJDQDKRXXVWBRHVXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QS576KGUFTRILGZL27WYPLHHAESWPQ7BQXG75CLRB4AK6IA2FWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKYMPY65XEUXVMT3IHPCZYUAW4HF3XJOT24OS2HBN5NFRP5R2PXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5L23KISD3HT5YQ7DIYZAJXW3IZX27BUUQRZWMX2NEMX77NPI2NVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJKWXCWJOJKCKHM7USQCLN2MHLOOSQLZRQXCJX75MH3YNCLKPJGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIUEPOXAGSC77JXEVBBRZLCDFGSNOS4MRG3ORWM4OLPYL2QXUCVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC4XRWB6DGHS2JYUUHJD6PRDGCOJJWXNIE4362FYD52LTSVMBT3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXGFPYUYYRB3XXHMKXPAP44YCP3FCJ2MJRRZI2WF5O4S6734EDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMO2CPSRGBFIK2PAJXGWTRZFS2R75BHIOPPKEOPXEQNFBCRTUUJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NBIVHJPBN5TOSQ2B2VOSJME4NSQVUGNXBXX5ZLQRVDF3MFVBJVFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFLBONTJPZO4LOOXCGWZ52E6DMPTXDIC7DQPFG2SBLBMDRS676CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3SPAMKWY27BSU4MAIK3NMPV2UGYZPKN3QG73PK2IHH7RA4NSI3CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4ZLKQOSQXQONCUZ4CHCEODGMJ6PTRKSIQ3BPRFA553CMA7WSDMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4UA5JVYQITHJA542ANSBDA5VSKMVTZJHHBTDYKCKJOZI3KRFQOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDAZGTKJOHUHYKETRTDGYNY5PSAVXRLVEC3FPCKHTOP4OS6SZSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTJI6TUJ663MOE27XE63DLWL7KOAZ563QXIL5E4J3XXM4OWYBCGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSDZKSA5DIUMJVDGDZOGR3GDWDRAXCOJ4OFVAEVUZMVR23VCSVSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USO6WW2WVG3F2RESZXTZHU4VYTW74WX2ZGS7W552NRL5ICXKV54A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPRDVVYNEWCLYOWUSZ2WI3DJKANNIFZAEAPJCFH5KFLHDNHHHHIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CR76PNIPYCHAU62DLFCXB53WL7AWT2TERJXNVOPTFARYPCIKNMBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APTQDAWYDB6I34KLCUKMVB5K6VN4EEF37IGBIRHV3SFHDJKHFLRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js"
            ]
        },
        "DeleteStudioComponent": {
            "http": {
                "method": "DELETE",
                "requestUri": "/2020-08-01/studios/{studioId}/studio-components/{studioComponentId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "studioComponentId",
                    "studioId"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true,
                        "location": "header",
                        "locationName": "X-Amz-Client-Token"
                    },
                    "dryrun": {
                        "shape": "S3",
                        "location": "header",
                        "locationName": "X-Amz-Dryrun"
                    },
                    "studioComponentId": {
                        "location": "uri",
                        "locationName": "studioComponentId"
                    },
                    "studioId": {
                        "location": "uri",
                        "locationName": "studioId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "studioComponent": {
                        "shape": "S3m"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIL4334B4YIJEZBZ25BMXU3DIDRJNXESDR4VJDQDKRXXVWBRHVXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QS576KGUFTRILGZL27WYPLHHAESWPQ7BQXG75CLRB4AK6IA2FWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKYMPY65XEUXVMT3IHPCZYUAW4HF3XJOT24OS2HBN5NFRP5R2PXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5L23KISD3HT5YQ7DIYZAJXW3IZX27BUUQRZWMX2NEMX77NPI2NVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJKWXCWJOJKCKHM7USQCLN2MHLOOSQLZRQXCJX75MH3YNCLKPJGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIUEPOXAGSC77JXEVBBRZLCDFGSNOS4MRG3ORWM4OLPYL2QXUCVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC4XRWB6DGHS2JYUUHJD6PRDGCOJJWXNIE4362FYD52LTSVMBT3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXGFPYUYYRB3XXHMKXPAP44YCP3FCJ2MJRRZI2WF5O4S6734EDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMO2CPSRGBFIK2PAJXGWTRZFS2R75BHIOPPKEOPXEQNFBCRTUUJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NBIVHJPBN5TOSQ2B2VOSJME4NSQVUGNXBXX5ZLQRVDF3MFVBJVFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFLBONTJPZO4LOOXCGWZ52E6DMPTXDIC7DQPFG2SBLBMDRS676CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3SPAMKWY27BSU4MAIK3NMPV2UGYZPKN3QG73PK2IHH7RA4NSI3CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4ZLKQOSQXQONCUZ4CHCEODGMJ6PTRKSIQ3BPRFA553CMA7WSDMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4UA5JVYQITHJA542ANSBDA5VSKMVTZJHHBTDYKCKJOZI3KRFQOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDAZGTKJOHUHYKETRTDGYNY5PSAVXRLVEC3FPCKHTOP4OS6SZSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTJI6TUJ663MOE27XE63DLWL7KOAZ563QXIL5E4J3XXM4OWYBCGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSDZKSA5DIUMJVDGDZOGR3GDWDRAXCOJ4OFVAEVUZMVR23VCSVSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USO6WW2WVG3F2RESZXTZHU4VYTW74WX2ZGS7W552NRL5ICXKV54A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPRDVVYNEWCLYOWUSZ2WI3DJKANNIFZAEAPJCFH5KFLHDNHHHHIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CR76PNIPYCHAU62DLFCXB53WL7AWT2TERJXNVOPTFARYPCIKNMBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APTQDAWYDB6I34KLCUKMVB5K6VN4EEF37IGBIRHV3SFHDJKHFLRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js"
            ]
        },
        "DeleteStudioMember": {
            "http": {
                "method": "DELETE",
                "requestUri": "/2020-08-01/studios/{studioId}/membership/{principalId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "principalId",
                    "studioId"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true,
                        "location": "header",
                        "locationName": "X-Amz-Client-Token"
                    },
                    "dryrun": {
                        "shape": "S3",
                        "location": "header",
                        "locationName": "X-Amz-Dryrun"
                    },
                    "principalId": {
                        "location": "uri",
                        "locationName": "principalId"
                    },
                    "studioId": {
                        "location": "uri",
                        "locationName": "studioId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIL4334B4YIJEZBZ25BMXU3DIDRJNXESDR4VJDQDKRXXVWBRHVXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QS576KGUFTRILGZL27WYPLHHAESWPQ7BQXG75CLRB4AK6IA2FWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKYMPY65XEUXVMT3IHPCZYUAW4HF3XJOT24OS2HBN5NFRP5R2PXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5L23KISD3HT5YQ7DIYZAJXW3IZX27BUUQRZWMX2NEMX77NPI2NVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJKWXCWJOJKCKHM7USQCLN2MHLOOSQLZRQXCJX75MH3YNCLKPJGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIUEPOXAGSC77JXEVBBRZLCDFGSNOS4MRG3ORWM4OLPYL2QXUCVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC4XRWB6DGHS2JYUUHJD6PRDGCOJJWXNIE4362FYD52LTSVMBT3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXGFPYUYYRB3XXHMKXPAP44YCP3FCJ2MJRRZI2WF5O4S6734EDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMO2CPSRGBFIK2PAJXGWTRZFS2R75BHIOPPKEOPXEQNFBCRTUUJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NBIVHJPBN5TOSQ2B2VOSJME4NSQVUGNXBXX5ZLQRVDF3MFVBJVFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFLBONTJPZO4LOOXCGWZ52E6DMPTXDIC7DQPFG2SBLBMDRS676CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3SPAMKWY27BSU4MAIK3NMPV2UGYZPKN3QG73PK2IHH7RA4NSI3CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4ZLKQOSQXQONCUZ4CHCEODGMJ6PTRKSIQ3BPRFA553CMA7WSDMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4UA5JVYQITHJA542ANSBDA5VSKMVTZJHHBTDYKCKJOZI3KRFQOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDAZGTKJOHUHYKETRTDGYNY5PSAVXRLVEC3FPCKHTOP4OS6SZSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTJI6TUJ663MOE27XE63DLWL7KOAZ563QXIL5E4J3XXM4OWYBCGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSDZKSA5DIUMJVDGDZOGR3GDWDRAXCOJ4OFVAEVUZMVR23VCSVSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USO6WW2WVG3F2RESZXTZHU4VYTW74WX2ZGS7W552NRL5ICXKV54A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPRDVVYNEWCLYOWUSZ2WI3DJKANNIFZAEAPJCFH5KFLHDNHHHHIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CR76PNIPYCHAU62DLFCXB53WL7AWT2TERJXNVOPTFARYPCIKNMBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APTQDAWYDB6I34KLCUKMVB5K6VN4EEF37IGBIRHV3SFHDJKHFLRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js"
            ]
        },
        "DeleteStudioSession": {
            "http": {
                "method": "DELETE",
                "requestUri": "/2020-08-01/studios/{studioId}/sessions/{sessionId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "sessionToken",
                    "sessionId",
                    "studioId"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true,
                        "location": "header",
                        "locationName": "X-Amz-Client-Token"
                    },
                    "sessionToken": {
                        "location": "header",
                        "locationName": "X-Amz-Session-Token"
                    },
                    "sessionId": {
                        "location": "uri",
                        "locationName": "sessionId"
                    },
                    "studioId": {
                        "location": "uri",
                        "locationName": "studioId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "redirectUrl"
                ],
                "members": {
                    "redirectUrl": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIL4334B4YIJEZBZ25BMXU3DIDRJNXESDR4VJDQDKRXXVWBRHVXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QS576KGUFTRILGZL27WYPLHHAESWPQ7BQXG75CLRB4AK6IA2FWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKYMPY65XEUXVMT3IHPCZYUAW4HF3XJOT24OS2HBN5NFRP5R2PXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5L23KISD3HT5YQ7DIYZAJXW3IZX27BUUQRZWMX2NEMX77NPI2NVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJKWXCWJOJKCKHM7USQCLN2MHLOOSQLZRQXCJX75MH3YNCLKPJGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIUEPOXAGSC77JXEVBBRZLCDFGSNOS4MRG3ORWM4OLPYL2QXUCVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC4XRWB6DGHS2JYUUHJD6PRDGCOJJWXNIE4362FYD52LTSVMBT3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXGFPYUYYRB3XXHMKXPAP44YCP3FCJ2MJRRZI2WF5O4S6734EDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMO2CPSRGBFIK2PAJXGWTRZFS2R75BHIOPPKEOPXEQNFBCRTUUJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NBIVHJPBN5TOSQ2B2VOSJME4NSQVUGNXBXX5ZLQRVDF3MFVBJVFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFLBONTJPZO4LOOXCGWZ52E6DMPTXDIC7DQPFG2SBLBMDRS676CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3SPAMKWY27BSU4MAIK3NMPV2UGYZPKN3QG73PK2IHH7RA4NSI3CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4ZLKQOSQXQONCUZ4CHCEODGMJ6PTRKSIQ3BPRFA553CMA7WSDMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4UA5JVYQITHJA542ANSBDA5VSKMVTZJHHBTDYKCKJOZI3KRFQOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDAZGTKJOHUHYKETRTDGYNY5PSAVXRLVEC3FPCKHTOP4OS6SZSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTJI6TUJ663MOE27XE63DLWL7KOAZ563QXIL5E4J3XXM4OWYBCGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSDZKSA5DIUMJVDGDZOGR3GDWDRAXCOJ4OFVAEVUZMVR23VCSVSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USO6WW2WVG3F2RESZXTZHU4VYTW74WX2ZGS7W552NRL5ICXKV54A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPRDVVYNEWCLYOWUSZ2WI3DJKANNIFZAEAPJCFH5KFLHDNHHHHIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CR76PNIPYCHAU62DLFCXB53WL7AWT2TERJXNVOPTFARYPCIKNMBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APTQDAWYDB6I34KLCUKMVB5K6VN4EEF37IGBIRHV3SFHDJKHFLRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js"
            ]
        },
        "GetEula": {
            "http": {
                "method": "GET",
                "requestUri": "/2020-08-01/eulas/{eulaId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "eulaId"
                ],
                "members": {
                    "dryrun": {
                        "shape": "S3",
                        "location": "header",
                        "locationName": "X-Amz-Dryrun"
                    },
                    "eulaId": {
                        "location": "uri",
                        "locationName": "eulaId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "eula": {
                        "shape": "S4g"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIL4334B4YIJEZBZ25BMXU3DIDRJNXESDR4VJDQDKRXXVWBRHVXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QS576KGUFTRILGZL27WYPLHHAESWPQ7BQXG75CLRB4AK6IA2FWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKYMPY65XEUXVMT3IHPCZYUAW4HF3XJOT24OS2HBN5NFRP5R2PXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5L23KISD3HT5YQ7DIYZAJXW3IZX27BUUQRZWMX2NEMX77NPI2NVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJKWXCWJOJKCKHM7USQCLN2MHLOOSQLZRQXCJX75MH3YNCLKPJGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIUEPOXAGSC77JXEVBBRZLCDFGSNOS4MRG3ORWM4OLPYL2QXUCVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC4XRWB6DGHS2JYUUHJD6PRDGCOJJWXNIE4362FYD52LTSVMBT3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXGFPYUYYRB3XXHMKXPAP44YCP3FCJ2MJRRZI2WF5O4S6734EDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMO2CPSRGBFIK2PAJXGWTRZFS2R75BHIOPPKEOPXEQNFBCRTUUJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NBIVHJPBN5TOSQ2B2VOSJME4NSQVUGNXBXX5ZLQRVDF3MFVBJVFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFLBONTJPZO4LOOXCGWZ52E6DMPTXDIC7DQPFG2SBLBMDRS676CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3SPAMKWY27BSU4MAIK3NMPV2UGYZPKN3QG73PK2IHH7RA4NSI3CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4ZLKQOSQXQONCUZ4CHCEODGMJ6PTRKSIQ3BPRFA553CMA7WSDMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4UA5JVYQITHJA542ANSBDA5VSKMVTZJHHBTDYKCKJOZI3KRFQOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDAZGTKJOHUHYKETRTDGYNY5PSAVXRLVEC3FPCKHTOP4OS6SZSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTJI6TUJ663MOE27XE63DLWL7KOAZ563QXIL5E4J3XXM4OWYBCGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSDZKSA5DIUMJVDGDZOGR3GDWDRAXCOJ4OFVAEVUZMVR23VCSVSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USO6WW2WVG3F2RESZXTZHU4VYTW74WX2ZGS7W552NRL5ICXKV54A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPRDVVYNEWCLYOWUSZ2WI3DJKANNIFZAEAPJCFH5KFLHDNHHHHIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CR76PNIPYCHAU62DLFCXB53WL7AWT2TERJXNVOPTFARYPCIKNMBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APTQDAWYDB6I34KLCUKMVB5K6VN4EEF37IGBIRHV3SFHDJKHFLRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js"
            ]
        },
        "GetFeatureMap": {
            "http": {
                "method": "GET",
                "requestUri": "/2020-08-01/feature-map",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "dryrun": {
                        "shape": "S3",
                        "location": "header",
                        "locationName": "X-Amz-Dryrun"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "studioSatellites": {},
                    "stopStartStreamingSession": {},
                    "launchProfileTestLaunch": {},
                    "launchProfileValidation": {},
                    "sessionStorage": {},
                    "studioComponentRoles": {},
                    "streamingSessionBackup": {},
                    "streamingSessionPersistence": {},
                    "serviceTilesUI": {},
                    "overTheShoulder": {},
                    "serviceMenu": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "shortName",
                                "displayName",
                                "iconUri",
                                "portalRemoteEntryUri"
                            ],
                            "members": {
                                "shortName": {},
                                "displayName": {},
                                "iconUri": {},
                                "portalRemoteEntryUri": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIL4334B4YIJEZBZ25BMXU3DIDRJNXESDR4VJDQDKRXXVWBRHVXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QS576KGUFTRILGZL27WYPLHHAESWPQ7BQXG75CLRB4AK6IA2FWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKYMPY65XEUXVMT3IHPCZYUAW4HF3XJOT24OS2HBN5NFRP5R2PXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5L23KISD3HT5YQ7DIYZAJXW3IZX27BUUQRZWMX2NEMX77NPI2NVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJKWXCWJOJKCKHM7USQCLN2MHLOOSQLZRQXCJX75MH3YNCLKPJGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIUEPOXAGSC77JXEVBBRZLCDFGSNOS4MRG3ORWM4OLPYL2QXUCVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC4XRWB6DGHS2JYUUHJD6PRDGCOJJWXNIE4362FYD52LTSVMBT3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXGFPYUYYRB3XXHMKXPAP44YCP3FCJ2MJRRZI2WF5O4S6734EDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMO2CPSRGBFIK2PAJXGWTRZFS2R75BHIOPPKEOPXEQNFBCRTUUJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NBIVHJPBN5TOSQ2B2VOSJME4NSQVUGNXBXX5ZLQRVDF3MFVBJVFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFLBONTJPZO4LOOXCGWZ52E6DMPTXDIC7DQPFG2SBLBMDRS676CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3SPAMKWY27BSU4MAIK3NMPV2UGYZPKN3QG73PK2IHH7RA4NSI3CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4ZLKQOSQXQONCUZ4CHCEODGMJ6PTRKSIQ3BPRFA553CMA7WSDMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4UA5JVYQITHJA542ANSBDA5VSKMVTZJHHBTDYKCKJOZI3KRFQOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDAZGTKJOHUHYKETRTDGYNY5PSAVXRLVEC3FPCKHTOP4OS6SZSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTJI6TUJ663MOE27XE63DLWL7KOAZ563QXIL5E4J3XXM4OWYBCGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSDZKSA5DIUMJVDGDZOGR3GDWDRAXCOJ4OFVAEVUZMVR23VCSVSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USO6WW2WVG3F2RESZXTZHU4VYTW74WX2ZGS7W552NRL5ICXKV54A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPRDVVYNEWCLYOWUSZ2WI3DJKANNIFZAEAPJCFH5KFLHDNHHHHIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CR76PNIPYCHAU62DLFCXB53WL7AWT2TERJXNVOPTFARYPCIKNMBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APTQDAWYDB6I34KLCUKMVB5K6VN4EEF37IGBIRHV3SFHDJKHFLRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js"
            ]
        },
        "GetLaunchProfile": {
            "http": {
                "method": "GET",
                "requestUri": "/2020-08-01/studios/{studioId}/launch-profiles/{launchProfileId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "launchProfileId",
                    "studioId"
                ],
                "members": {
                    "dryrun": {
                        "shape": "S3",
                        "location": "header",
                        "locationName": "X-Amz-Dryrun"
                    },
                    "launchProfileId": {
                        "location": "uri",
                        "locationName": "launchProfileId"
                    },
                    "studioId": {
                        "location": "uri",
                        "locationName": "studioId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "launchProfile": {
                        "shape": "S1b"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIL4334B4YIJEZBZ25BMXU3DIDRJNXESDR4VJDQDKRXXVWBRHVXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QS576KGUFTRILGZL27WYPLHHAESWPQ7BQXG75CLRB4AK6IA2FWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKYMPY65XEUXVMT3IHPCZYUAW4HF3XJOT24OS2HBN5NFRP5R2PXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5L23KISD3HT5YQ7DIYZAJXW3IZX27BUUQRZWMX2NEMX77NPI2NVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJKWXCWJOJKCKHM7USQCLN2MHLOOSQLZRQXCJX75MH3YNCLKPJGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIUEPOXAGSC77JXEVBBRZLCDFGSNOS4MRG3ORWM4OLPYL2QXUCVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC4XRWB6DGHS2JYUUHJD6PRDGCOJJWXNIE4362FYD52LTSVMBT3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXGFPYUYYRB3XXHMKXPAP44YCP3FCJ2MJRRZI2WF5O4S6734EDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMO2CPSRGBFIK2PAJXGWTRZFS2R75BHIOPPKEOPXEQNFBCRTUUJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NBIVHJPBN5TOSQ2B2VOSJME4NSQVUGNXBXX5ZLQRVDF3MFVBJVFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFLBONTJPZO4LOOXCGWZ52E6DMPTXDIC7DQPFG2SBLBMDRS676CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3SPAMKWY27BSU4MAIK3NMPV2UGYZPKN3QG73PK2IHH7RA4NSI3CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4ZLKQOSQXQONCUZ4CHCEODGMJ6PTRKSIQ3BPRFA553CMA7WSDMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4UA5JVYQITHJA542ANSBDA5VSKMVTZJHHBTDYKCKJOZI3KRFQOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDAZGTKJOHUHYKETRTDGYNY5PSAVXRLVEC3FPCKHTOP4OS6SZSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTJI6TUJ663MOE27XE63DLWL7KOAZ563QXIL5E4J3XXM4OWYBCGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSDZKSA5DIUMJVDGDZOGR3GDWDRAXCOJ4OFVAEVUZMVR23VCSVSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USO6WW2WVG3F2RESZXTZHU4VYTW74WX2ZGS7W552NRL5ICXKV54A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPRDVVYNEWCLYOWUSZ2WI3DJKANNIFZAEAPJCFH5KFLHDNHHHHIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CR76PNIPYCHAU62DLFCXB53WL7AWT2TERJXNVOPTFARYPCIKNMBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APTQDAWYDB6I34KLCUKMVB5K6VN4EEF37IGBIRHV3SFHDJKHFLRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js"
            ]
        },
        "GetLaunchProfileDetails": {
            "http": {
                "method": "GET",
                "requestUri": "/2020-08-01/studios/{studioId}/launch-profiles/{launchProfileId}/details",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "launchProfileId",
                    "studioId"
                ],
                "members": {
                    "dryrun": {
                        "shape": "S3",
                        "location": "header",
                        "locationName": "X-Amz-Dryrun"
                    },
                    "launchProfileId": {
                        "location": "uri",
                        "locationName": "launchProfileId"
                    },
                    "studioId": {
                        "location": "uri",
                        "locationName": "studioId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "launchProfile": {
                        "shape": "S1b"
                    },
                    "streamingImages": {
                        "shape": "S4q"
                    },
                    "studioComponentSummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "createdAt": {
                                    "shape": "S9"
                                },
                                "createdBy": {},
                                "description": {
                                    "shape": "S36"
                                },
                                "name": {
                                    "shape": "S3e"
                                },
                                "studioComponentId": {},
                                "subtype": {},
                                "type": {},
                                "updatedAt": {
                                    "shape": "S9"
                                },
                                "updatedBy": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIL4334B4YIJEZBZ25BMXU3DIDRJNXESDR4VJDQDKRXXVWBRHVXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QS576KGUFTRILGZL27WYPLHHAESWPQ7BQXG75CLRB4AK6IA2FWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKYMPY65XEUXVMT3IHPCZYUAW4HF3XJOT24OS2HBN5NFRP5R2PXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5L23KISD3HT5YQ7DIYZAJXW3IZX27BUUQRZWMX2NEMX77NPI2NVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJKWXCWJOJKCKHM7USQCLN2MHLOOSQLZRQXCJX75MH3YNCLKPJGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIUEPOXAGSC77JXEVBBRZLCDFGSNOS4MRG3ORWM4OLPYL2QXUCVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC4XRWB6DGHS2JYUUHJD6PRDGCOJJWXNIE4362FYD52LTSVMBT3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXGFPYUYYRB3XXHMKXPAP44YCP3FCJ2MJRRZI2WF5O4S6734EDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMO2CPSRGBFIK2PAJXGWTRZFS2R75BHIOPPKEOPXEQNFBCRTUUJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NBIVHJPBN5TOSQ2B2VOSJME4NSQVUGNXBXX5ZLQRVDF3MFVBJVFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFLBONTJPZO4LOOXCGWZ52E6DMPTXDIC7DQPFG2SBLBMDRS676CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3SPAMKWY27BSU4MAIK3NMPV2UGYZPKN3QG73PK2IHH7RA4NSI3CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4ZLKQOSQXQONCUZ4CHCEODGMJ6PTRKSIQ3BPRFA553CMA7WSDMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4UA5JVYQITHJA542ANSBDA5VSKMVTZJHHBTDYKCKJOZI3KRFQOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDAZGTKJOHUHYKETRTDGYNY5PSAVXRLVEC3FPCKHTOP4OS6SZSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTJI6TUJ663MOE27XE63DLWL7KOAZ563QXIL5E4J3XXM4OWYBCGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSDZKSA5DIUMJVDGDZOGR3GDWDRAXCOJ4OFVAEVUZMVR23VCSVSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USO6WW2WVG3F2RESZXTZHU4VYTW74WX2ZGS7W552NRL5ICXKV54A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPRDVVYNEWCLYOWUSZ2WI3DJKANNIFZAEAPJCFH5KFLHDNHHHHIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CR76PNIPYCHAU62DLFCXB53WL7AWT2TERJXNVOPTFARYPCIKNMBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APTQDAWYDB6I34KLCUKMVB5K6VN4EEF37IGBIRHV3SFHDJKHFLRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js"
            ]
        },
        "GetLaunchProfileInitialization": {
            "http": {
                "method": "GET",
                "requestUri": "/2020-08-01/studios/{studioId}/launch-profiles/{launchProfileId}/init",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "launchProfileId",
                    "launchProfileProtocolVersions",
                    "launchPurpose",
                    "platform",
                    "studioId"
                ],
                "members": {
                    "dryrun": {
                        "shape": "S3",
                        "location": "header",
                        "locationName": "X-Amz-Dryrun"
                    },
                    "launchProfileId": {
                        "location": "uri",
                        "locationName": "launchProfileId"
                    },
                    "launchProfileProtocolVersions": {
                        "shape": "S4u",
                        "location": "querystring",
                        "locationName": "launchProfileProtocolVersions"
                    },
                    "launchPurpose": {
                        "location": "querystring",
                        "locationName": "launchPurpose"
                    },
                    "platform": {
                        "location": "querystring",
                        "locationName": "platform"
                    },
                    "studioId": {
                        "location": "uri",
                        "locationName": "studioId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "launchProfileInitialization": {
                        "type": "structure",
                        "members": {
                            "activeDirectory": {
                                "type": "structure",
                                "members": {
                                    "computerAttributes": {
                                        "shape": "S2u"
                                    },
                                    "directoryId": {},
                                    "directoryName": {},
                                    "dnsIpAddresses": {
                                        "type": "list",
                                        "member": {}
                                    },
                                    "organizationalUnitDistinguishedName": {},
                                    "studioComponentId": {},
                                    "studioComponentName": {
[...]
