{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2020-08-01",
        "endpointPrefix": "nimble",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "AmazonNimbleStudio",
        "serviceId": "nimble",
        "signatureVersion": "v4",
        "signingName": "nimble",
        "uid": "nimble-2020-08-01",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5DUOOPVYV5TOCSQWLHLMIQEQ6M4S752TWQXTJ3EVZUX24WWJLUVQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L6VPV6CNH33KSOZ7SC7KK4JKXPHNNCP3FE3JF2QL2HQM2TZAOGPA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JDNZ6YXC7FZZF4CINSIMYPC5ENFRQKYWKEBKZAMGGN6I7YHZABOA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
        ]
    },
    "operations": {
        "AcceptEulas": {
            "http": {
                "requestUri": "/2020-08-01/studios/{studioId}/eula-acceptances",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "studioId"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true,
                        "location": "header",
                        "locationName": "X-Amz-Client-Token"
                    },
                    "eulaIds": {
                        "shape": "S3"
                    },
                    "studioId": {
                        "location": "uri",
                        "locationName": "studioId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "eulaAcceptances": {
                        "shape": "S6"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5DUOOPVYV5TOCSQWLHLMIQEQ6M4S752TWQXTJ3EVZUX24WWJLUVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6VPV6CNH33KSOZ7SC7KK4JKXPHNNCP3FE3JF2QL2HQM2TZAOGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDNZ6YXC7FZZF4CINSIMYPC5ENFRQKYWKEBKZAMGGN6I7YHZABOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateLaunchProfile": {
            "http": {
                "requestUri": "/2020-08-01/studios/{studioId}/launch-profiles",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ec2SubnetIds",
                    "launchProfileProtocolVersions",
                    "name",
                    "streamConfiguration",
                    "studioComponentIds",
                    "studioId"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true,
                        "location": "header",
                        "locationName": "X-Amz-Client-Token"
                    },
                    "description": {
                        "shape": "Sc"
                    },
                    "ec2SubnetIds": {
                        "shape": "Sd"
                    },
                    "launchProfileProtocolVersions": {
                        "shape": "Sf"
                    },
                    "name": {
                        "shape": "Sh"
                    },
                    "streamConfiguration": {
                        "shape": "Si"
                    },
                    "studioComponentIds": {
                        "shape": "Sw"
                    },
                    "studioId": {
                        "location": "uri",
                        "locationName": "studioId"
                    },
                    "tags": {
                        "shape": "Sx"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "launchProfile": {
                        "shape": "Sz"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5DUOOPVYV5TOCSQWLHLMIQEQ6M4S752TWQXTJ3EVZUX24WWJLUVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6VPV6CNH33KSOZ7SC7KK4JKXPHNNCP3FE3JF2QL2HQM2TZAOGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDNZ6YXC7FZZF4CINSIMYPC5ENFRQKYWKEBKZAMGGN6I7YHZABOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateStreamingImage": {
            "http": {
                "requestUri": "/2020-08-01/studios/{studioId}/streaming-images",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ec2ImageId",
                    "name",
                    "studioId"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true,
                        "location": "header",
                        "locationName": "X-Amz-Client-Token"
                    },
                    "description": {
                        "shape": "S1b"
                    },
                    "ec2ImageId": {},
                    "name": {
                        "shape": "S1d"
                    },
                    "studioId": {
                        "location": "uri",
                        "locationName": "studioId"
                    },
                    "tags": {
                        "shape": "Sx"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "streamingImage": {
                        "shape": "S1f"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5DUOOPVYV5TOCSQWLHLMIQEQ6M4S752TWQXTJ3EVZUX24WWJLUVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6VPV6CNH33KSOZ7SC7KK4JKXPHNNCP3FE3JF2QL2HQM2TZAOGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDNZ6YXC7FZZF4CINSIMYPC5ENFRQKYWKEBKZAMGGN6I7YHZABOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateStreamingSession": {
            "http": {
                "requestUri": "/2020-08-01/studios/{studioId}/streaming-sessions",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "studioId"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true,
                        "location": "header",
                        "locationName": "X-Amz-Client-Token"
                    },
                    "ec2InstanceType": {},
                    "launchProfileId": {},
                    "ownedBy": {},
                    "streamingImageId": {},
                    "studioId": {
                        "location": "uri",
                        "locationName": "studioId"
                    },
                    "tags": {
                        "shape": "Sx"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "session": {
                        "shape": "S1p"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5DUOOPVYV5TOCSQWLHLMIQEQ6M4S752TWQXTJ3EVZUX24WWJLUVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6VPV6CNH33KSOZ7SC7KK4JKXPHNNCP3FE3JF2QL2HQM2TZAOGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDNZ6YXC7FZZF4CINSIMYPC5ENFRQKYWKEBKZAMGGN6I7YHZABOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateStreamingSessionStream": {
            "http": {
                "requestUri": "/2020-08-01/studios/{studioId}/streaming-sessions/{sessionId}/streams",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "sessionId",
                    "studioId"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true,
                        "location": "header",
                        "locationName": "X-Amz-Client-Token"
                    },
                    "expirationInSeconds": {
                        "type": "integer"
                    },
                    "sessionId": {
                        "location": "uri",
                        "locationName": "sessionId"
                    },
                    "studioId": {
                        "location": "uri",
                        "locationName": "studioId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "stream": {
                        "shape": "S1w"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5DUOOPVYV5TOCSQWLHLMIQEQ6M4S752TWQXTJ3EVZUX24WWJLUVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6VPV6CNH33KSOZ7SC7KK4JKXPHNNCP3FE3JF2QL2HQM2TZAOGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDNZ6YXC7FZZF4CINSIMYPC5ENFRQKYWKEBKZAMGGN6I7YHZABOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateStudio": {
            "http": {
                "requestUri": "/2020-08-01/studios",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "adminRoleArn",
                    "displayName",
                    "studioName",
                    "userRoleArn"
                ],
                "members": {
                    "adminRoleArn": {},
                    "clientToken": {
                        "idempotencyToken": true,
                        "location": "header",
                        "locationName": "X-Amz-Client-Token"
                    },
                    "displayName": {
                        "shape": "S22"
                    },
                    "studioEncryptionConfiguration": {
                        "shape": "S23"
                    },
                    "studioName": {},
                    "tags": {
                        "shape": "Sx"
                    },
                    "userRoleArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "studio": {
                        "shape": "S28"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5DUOOPVYV5TOCSQWLHLMIQEQ6M4S752TWQXTJ3EVZUX24WWJLUVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6VPV6CNH33KSOZ7SC7KK4JKXPHNNCP3FE3JF2QL2HQM2TZAOGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDNZ6YXC7FZZF4CINSIMYPC5ENFRQKYWKEBKZAMGGN6I7YHZABOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateStudioComponent": {
            "http": {
                "requestUri": "/2020-08-01/studios/{studioId}/studio-components",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "studioId",
                    "type"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true,
                        "location": "header",
                        "locationName": "X-Amz-Client-Token"
                    },
                    "configuration": {
                        "shape": "S2d"
                    },
                    "description": {
                        "shape": "S2q"
                    },
                    "ec2SecurityGroupIds": {
                        "shape": "S2r"
                    },
                    "initializationScripts": {
                        "shape": "S2t"
                    },
                    "name": {
                        "shape": "S2y"
                    },
                    "runtimeRoleArn": {},
                    "scriptParameters": {
                        "shape": "S2z"
                    },
                    "secureInitializationRoleArn": {},
                    "studioId": {
                        "location": "uri",
                        "locationName": "studioId"
                    },
                    "subtype": {},
                    "tags": {
                        "shape": "Sx"
                    },
                    "type": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "studioComponent": {
                        "shape": "S36"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5DUOOPVYV5TOCSQWLHLMIQEQ6M4S752TWQXTJ3EVZUX24WWJLUVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6VPV6CNH33KSOZ7SC7KK4JKXPHNNCP3FE3JF2QL2HQM2TZAOGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDNZ6YXC7FZZF4CINSIMYPC5ENFRQKYWKEBKZAMGGN6I7YHZABOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteLaunchProfile": {
            "http": {
                "method": "DELETE",
                "requestUri": "/2020-08-01/studios/{studioId}/launch-profiles/{launchProfileId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "launchProfileId",
                    "studioId"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true,
                        "location": "header",
                        "locationName": "X-Amz-Client-Token"
                    },
                    "launchProfileId": {
                        "location": "uri",
                        "locationName": "launchProfileId"
                    },
                    "studioId": {
                        "location": "uri",
                        "locationName": "studioId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "launchProfile": {
                        "shape": "Sz"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5DUOOPVYV5TOCSQWLHLMIQEQ6M4S752TWQXTJ3EVZUX24WWJLUVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6VPV6CNH33KSOZ7SC7KK4JKXPHNNCP3FE3JF2QL2HQM2TZAOGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDNZ6YXC7FZZF4CINSIMYPC5ENFRQKYWKEBKZAMGGN6I7YHZABOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteLaunchProfileMember": {
            "http": {
                "method": "DELETE",
                "requestUri": "/2020-08-01/studios/{studioId}/launch-profiles/{launchProfileId}/membership/{principalId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "launchProfileId",
                    "principalId",
                    "studioId"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true,
                        "location": "header",
                        "locationName": "X-Amz-Client-Token"
                    },
                    "launchProfileId": {
                        "location": "uri",
                        "locationName": "launchProfileId"
                    },
                    "principalId": {
                        "location": "uri",
                        "locationName": "principalId"
                    },
                    "studioId": {
                        "location": "uri",
                        "locationName": "studioId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5DUOOPVYV5TOCSQWLHLMIQEQ6M4S752TWQXTJ3EVZUX24WWJLUVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6VPV6CNH33KSOZ7SC7KK4JKXPHNNCP3FE3JF2QL2HQM2TZAOGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDNZ6YXC7FZZF4CINSIMYPC5ENFRQKYWKEBKZAMGGN6I7YHZABOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteStreamingImage": {
            "http": {
                "method": "DELETE",
                "requestUri": "/2020-08-01/studios/{studioId}/streaming-images/{streamingImageId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "streamingImageId",
                    "studioId"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true,
                        "location": "header",
                        "locationName": "X-Amz-Client-Token"
                    },
                    "streamingImageId": {
                        "location": "uri",
                        "locationName": "streamingImageId"
                    },
                    "studioId": {
                        "location": "uri",
                        "locationName": "studioId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "streamingImage": {
                        "shape": "S1f"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5DUOOPVYV5TOCSQWLHLMIQEQ6M4S752TWQXTJ3EVZUX24WWJLUVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6VPV6CNH33KSOZ7SC7KK4JKXPHNNCP3FE3JF2QL2HQM2TZAOGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDNZ6YXC7FZZF4CINSIMYPC5ENFRQKYWKEBKZAMGGN6I7YHZABOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteStreamingSession": {
            "http": {
                "method": "DELETE",
                "requestUri": "/2020-08-01/studios/{studioId}/streaming-sessions/{sessionId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "sessionId",
                    "studioId"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true,
                        "location": "header",
                        "locationName": "X-Amz-Client-Token"
                    },
                    "sessionId": {
                        "location": "uri",
                        "locationName": "sessionId"
                    },
                    "studioId": {
                        "location": "uri",
                        "locationName": "studioId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "session": {
                        "shape": "S1p"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5DUOOPVYV5TOCSQWLHLMIQEQ6M4S752TWQXTJ3EVZUX24WWJLUVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6VPV6CNH33KSOZ7SC7KK4JKXPHNNCP3FE3JF2QL2HQM2TZAOGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDNZ6YXC7FZZF4CINSIMYPC5ENFRQKYWKEBKZAMGGN6I7YHZABOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteStudio": {
            "http": {
                "method": "DELETE",
                "requestUri": "/2020-08-01/studios/{studioId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "studioId"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true,
                        "location": "header",
                        "locationName": "X-Amz-Client-Token"
                    },
                    "studioId": {
                        "location": "uri",
                        "locationName": "studioId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "studio"
                ],
                "members": {
                    "studio": {
                        "shape": "S28"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5DUOOPVYV5TOCSQWLHLMIQEQ6M4S752TWQXTJ3EVZUX24WWJLUVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6VPV6CNH33KSOZ7SC7KK4JKXPHNNCP3FE3JF2QL2HQM2TZAOGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDNZ6YXC7FZZF4CINSIMYPC5ENFRQKYWKEBKZAMGGN6I7YHZABOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteStudioComponent": {
            "http": {
                "method": "DELETE",
                "requestUri": "/2020-08-01/studios/{studioId}/studio-components/{studioComponentId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "studioComponentId",
                    "studioId"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true,
                        "location": "header",
                        "locationName": "X-Amz-Client-Token"
                    },
                    "studioComponentId": {
                        "location": "uri",
                        "locationName": "studioComponentId"
                    },
                    "studioId": {
                        "location": "uri",
                        "locationName": "studioId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "studioComponent": {
                        "shape": "S36"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5DUOOPVYV5TOCSQWLHLMIQEQ6M4S752TWQXTJ3EVZUX24WWJLUVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6VPV6CNH33KSOZ7SC7KK4JKXPHNNCP3FE3JF2QL2HQM2TZAOGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDNZ6YXC7FZZF4CINSIMYPC5ENFRQKYWKEBKZAMGGN6I7YHZABOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteStudioMember": {
            "http": {
                "method": "DELETE",
                "requestUri": "/2020-08-01/studios/{studioId}/membership/{principalId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "principalId",
                    "studioId"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true,
                        "location": "header",
                        "locationName": "X-Amz-Client-Token"
                    },
                    "principalId": {
                        "location": "uri",
                        "locationName": "principalId"
                    },
                    "studioId": {
                        "location": "uri",
                        "locationName": "studioId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5DUOOPVYV5TOCSQWLHLMIQEQ6M4S752TWQXTJ3EVZUX24WWJLUVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6VPV6CNH33KSOZ7SC7KK4JKXPHNNCP3FE3JF2QL2HQM2TZAOGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDNZ6YXC7FZZF4CINSIMYPC5ENFRQKYWKEBKZAMGGN6I7YHZABOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetEula": {
            "http": {
                "method": "GET",
                "requestUri": "/2020-08-01/eulas/{eulaId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "eulaId"
                ],
                "members": {
                    "eulaId": {
                        "location": "uri",
                        "locationName": "eulaId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "eula": {
                        "shape": "S3q"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5DUOOPVYV5TOCSQWLHLMIQEQ6M4S752TWQXTJ3EVZUX24WWJLUVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6VPV6CNH33KSOZ7SC7KK4JKXPHNNCP3FE3JF2QL2HQM2TZAOGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDNZ6YXC7FZZF4CINSIMYPC5ENFRQKYWKEBKZAMGGN6I7YHZABOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetLaunchProfile": {
            "http": {
                "method": "GET",
                "requestUri": "/2020-08-01/studios/{studioId}/launch-profiles/{launchProfileId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "launchProfileId",
                    "studioId"
                ],
                "members": {
                    "launchProfileId": {
                        "location": "uri",
                        "locationName": "launchProfileId"
                    },
                    "studioId": {
                        "location": "uri",
                        "locationName": "studioId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "launchProfile": {
                        "shape": "Sz"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5DUOOPVYV5TOCSQWLHLMIQEQ6M4S752TWQXTJ3EVZUX24WWJLUVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6VPV6CNH33KSOZ7SC7KK4JKXPHNNCP3FE3JF2QL2HQM2TZAOGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDNZ6YXC7FZZF4CINSIMYPC5ENFRQKYWKEBKZAMGGN6I7YHZABOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetLaunchProfileDetails": {
            "http": {
                "method": "GET",
                "requestUri": "/2020-08-01/studios/{studioId}/launch-profiles/{launchProfileId}/details",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "launchProfileId",
                    "studioId"
                ],
                "members": {
                    "launchProfileId": {
                        "location": "uri",
                        "locationName": "launchProfileId"
                    },
                    "studioId": {
                        "location": "uri",
                        "locationName": "studioId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "launchProfile": {
                        "shape": "Sz"
                    },
                    "streamingImages": {
                        "shape": "S3w"
                    },
                    "studioComponentSummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "createdAt": {
                                    "shape": "S8"
                                },
                                "createdBy": {},
                                "description": {
                                    "shape": "S2q"
                                },
                                "name": {
                                    "shape": "S2y"
                                },
                                "studioComponentId": {},
                                "subtype": {},
                                "type": {},
                                "updatedAt": {
                                    "shape": "S8"
                                },
                                "updatedBy": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5DUOOPVYV5TOCSQWLHLMIQEQ6M4S752TWQXTJ3EVZUX24WWJLUVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6VPV6CNH33KSOZ7SC7KK4JKXPHNNCP3FE3JF2QL2HQM2TZAOGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDNZ6YXC7FZZF4CINSIMYPC5ENFRQKYWKEBKZAMGGN6I7YHZABOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetLaunchProfileInitialization": {
            "http": {
                "method": "GET",
                "requestUri": "/2020-08-01/studios/{studioId}/launch-profiles/{launchProfileId}/init",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "launchProfileId",
                    "launchProfileProtocolVersions",
                    "launchPurpose",
                    "platform",
                    "studioId"
                ],
                "members": {
                    "launchProfileId": {
                        "location": "uri",
                        "locationName": "launchProfileId"
                    },
                    "launchProfileProtocolVersions": {
                        "shape": "S40",
                        "location": "querystring",
                        "locationName": "launchProfileProtocolVersions"
                    },
                    "launchPurpose": {
                        "location": "querystring",
                        "locationName": "launchPurpose"
                    },
                    "platform": {
                        "location": "querystring",
                        "locationName": "platform"
                    },
                    "studioId": {
                        "location": "uri",
                        "locationName": "studioId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "launchProfileInitialization": {
                        "type": "structure",
                        "members": {
                            "activeDirectory": {
                                "type": "structure",
                                "members": {
                                    "computerAttributes": {
                                        "shape": "S2f"
                                    },
                                    "directoryId": {},
                                    "directoryName": {},
                                    "dnsIpAddresses": {
                                        "type": "list",
                                        "member": {}
                                    },
                                    "organizationalUnitDistinguishedName": {},
                                    "studioComponentId": {},
                                    "studioComponentName": {
                                        "shape": "S2y"
                                    }
                                }
                            },
                            "ec2SecurityGroupIds": {
                                "type": "list",
                                "member": {}
                            },
                            "launchProfileId": {},
                            "launchProfileProtocolVersion": {},
                            "launchPurpose": {},
                            "name": {
                                "shape": "Sh"
                            },
                            "platform": {},
                            "systemInitializationScripts": {
                                "shape": "S48"
                            },
                            "userInitializationScripts": {
                                "shape": "S48"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5DUOOPVYV5TOCSQWLHLMIQEQ6M4S752TWQXTJ3EVZUX24WWJLUVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6VPV6CNH33KSOZ7SC7KK4JKXPHNNCP3FE3JF2QL2HQM2TZAOGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDNZ6YXC7FZZF4CINSIMYPC5ENFRQKYWKEBKZAMGGN6I7YHZABOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetLaunchProfileMember": {
            "http": {
                "method": "GET",
                "requestUri": "/2020-08-01/studios/{studioId}/launch-profiles/{launchProfileId}/membership/{principalId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "launchProfileId",
                    "principalId",
                    "studioId"
                ],
                "members": {
                    "launchProfileId": {
                        "location": "uri",
                        "locationName": "launchProfileId"
                    },
                    "principalId": {
                        "location": "uri",
                        "locationName": "principalId"
                    },
                    "studioId": {
                        "location": "uri",
                        "locationName": "studioId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "member": {
                        "shape": "S4c"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5DUOOPVYV5TOCSQWLHLMIQEQ6M4S752TWQXTJ3EVZUX24WWJLUVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6VPV6CNH33KSOZ7SC7KK4JKXPHNNCP3FE3JF2QL2HQM2TZAOGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDNZ6YXC7FZZF4CINSIMYPC5ENFRQKYWKEBKZAMGGN6I7YHZABOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetStreamingImage": {
            "http": {
                "method": "GET",
                "requestUri": "/2020-08-01/studios/{studioId}/streaming-images/{streamingImageId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "streamingImageId",
                    "studioId"
                ],
                "members": {
                    "streamingImageId": {
                        "location": "uri",
                        "locationName": "streamingImageId"
                    },
                    "studioId": {
                        "location": "uri",
                        "locationName": "studioId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "streamingImage": {
                        "shape": "S1f"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5DUOOPVYV5TOCSQWLHLMIQEQ6M4S752TWQXTJ3EVZUX24WWJLUVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6VPV6CNH33KSOZ7SC7KK4JKXPHNNCP3FE3JF2QL2HQM2TZAOGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDNZ6YXC7FZZF4CINSIMYPC5ENFRQKYWKEBKZAMGGN6I7YHZABOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetStreamingSession": {
            "http": {
                "method": "GET",
                "requestUri": "/2020-08-01/studios/{studioId}/streaming-sessions/{sessionId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "sessionId",
                    "studioId"
                ],
                "members": {
                    "sessionId": {
                        "location": "uri",
                        "locationName": "sessionId"
                    },
                    "studioId": {
                        "location": "uri",
                        "locationName": "studioId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "session": {
                        "shape": "S1p"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5DUOOPVYV5TOCSQWLHLMIQEQ6M4S752TWQXTJ3EVZUX24WWJLUVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6VPV6CNH33KSOZ7SC7KK4JKXPHNNCP3FE3JF2QL2HQM2TZAOGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDNZ6YXC7FZZF4CINSIMYPC5ENFRQKYWKEBKZAMGGN6I7YHZABOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetStreamingSessionStream": {
            "http": {
                "method": "GET",
                "requestUri": "/2020-08-01/studios/{studioId}/streaming-sessions/{sessionId}/streams/{streamId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "sessionId",
                    "streamId",
                    "studioId"
                ],
                "members": {
                    "sessionId": {
                        "location": "uri",
                        "locationName": "sessionId"
                    },
                    "streamId": {
                        "location": "uri",
                        "locationName": "streamId"
                    },
                    "studioId": {
                        "location": "uri",
                        "locationName": "studioId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "stream": {
                        "shape": "S1w"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
[...]
