{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2020-08-01",
        "endpointPrefix": "nimble-internal",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "AmazonNimbleStudio",
        "serviceId": "nimble",
        "signatureVersion": "v4",
        "signingName": "nimble",
        "uid": "nimble-internal-2020-08-01",
        "download_location": [
            "https://c.d.cdn.console.awsstatic.com/a/v1/YKHKKBR2TEVPYAWWDXQMC6G77OQFKQN7VSSCLNFKHMRXKRMEMGBA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/D76DDFJ4UNU4LZFNAT5E2PCETHVDC37I7I3SWPAJKJBOL4H3DUCA/vendors.js"
        ]
    },
    "operations": {
        "AcceptEulas": {
            "http": {
                "requestUri": "/2020-08-01/studios/{studioId}/eula-acceptances",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "studioId"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true,
                        "location": "header",
                        "locationName": "X-Amz-Client-Token"
                    },
                    "dryrun": {
                        "shape": "S3",
                        "location": "header",
                        "locationName": "X-Amz-Dryrun"
                    },
                    "eulaIds": {
                        "shape": "S4"
                    },
                    "studioId": {
                        "location": "uri",
                        "locationName": "studioId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "eulaAcceptances": {
                        "shape": "S7"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/YKHKKBR2TEVPYAWWDXQMC6G77OQFKQN7VSSCLNFKHMRXKRMEMGBA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D76DDFJ4UNU4LZFNAT5E2PCETHVDC37I7I3SWPAJKJBOL4H3DUCA/vendors.js"
            ]
        },
        "CreateLaunchProfile": {
            "http": {
                "requestUri": "/2020-08-01/studios/{studioId}/launch-profiles",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ec2SubnetIds",
                    "launchProfileProtocolVersions",
                    "name",
                    "streamConfiguration",
                    "studioComponentIds",
                    "studioId"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true,
                        "location": "header",
                        "locationName": "X-Amz-Client-Token"
                    },
                    "dryrun": {
                        "shape": "S3",
                        "location": "header",
                        "locationName": "X-Amz-Dryrun"
                    },
                    "description": {
                        "shape": "Sd"
                    },
                    "ec2SubnetIds": {
                        "shape": "Se"
                    },
                    "launchProfileProtocolVersions": {
                        "shape": "Sg"
                    },
                    "name": {
                        "shape": "Si"
                    },
                    "shouldSkipStreaming": {
                        "internalonly": true,
                        "type": "boolean"
                    },
                    "streamConfiguration": {
                        "shape": "Sk"
                    },
                    "studioComponentIds": {
                        "shape": "S18"
                    },
                    "studioId": {
                        "location": "uri",
                        "locationName": "studioId"
                    },
                    "tags": {
                        "shape": "S19"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "launchProfile": {
                        "shape": "S1b"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/YKHKKBR2TEVPYAWWDXQMC6G77OQFKQN7VSSCLNFKHMRXKRMEMGBA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D76DDFJ4UNU4LZFNAT5E2PCETHVDC37I7I3SWPAJKJBOL4H3DUCA/vendors.js"
            ]
        },
        "CreateStreamingImage": {
            "http": {
                "requestUri": "/2020-08-01/studios/{studioId}/streaming-images",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ec2ImageId",
                    "name",
                    "studioId"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true,
                        "location": "header",
                        "locationName": "X-Amz-Client-Token"
                    },
                    "dryrun": {
                        "shape": "S3",
                        "location": "header",
                        "locationName": "X-Amz-Dryrun"
                    },
                    "description": {
                        "shape": "S1o"
                    },
                    "ec2ImageId": {},
                    "name": {
                        "shape": "S1q"
                    },
                    "studioId": {
                        "location": "uri",
                        "locationName": "studioId"
                    },
                    "tags": {
                        "shape": "S19"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "streamingImage": {
                        "shape": "S1s"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/YKHKKBR2TEVPYAWWDXQMC6G77OQFKQN7VSSCLNFKHMRXKRMEMGBA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D76DDFJ4UNU4LZFNAT5E2PCETHVDC37I7I3SWPAJKJBOL4H3DUCA/vendors.js"
            ]
        },
        "CreateStreamingSession": {
            "http": {
                "requestUri": "/2020-08-01/studios/{studioId}/streaming-sessions",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "launchProfileId",
                    "studioId"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true,
                        "location": "header",
                        "locationName": "X-Amz-Client-Token"
                    },
                    "dryrun": {
                        "shape": "S3",
                        "location": "header",
                        "locationName": "X-Amz-Dryrun"
                    },
                    "ec2InstanceType": {},
                    "launchProfileId": {},
                    "ownedBy": {},
                    "streamingImageId": {},
                    "studioId": {
                        "location": "uri",
                        "locationName": "studioId"
                    },
                    "tags": {
                        "shape": "S19"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "session": {
                        "shape": "S22"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/YKHKKBR2TEVPYAWWDXQMC6G77OQFKQN7VSSCLNFKHMRXKRMEMGBA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D76DDFJ4UNU4LZFNAT5E2PCETHVDC37I7I3SWPAJKJBOL4H3DUCA/vendors.js"
            ]
        },
        "CreateStreamingSessionStream": {
            "http": {
                "requestUri": "/2020-08-01/studios/{studioId}/streaming-sessions/{sessionId}/streams",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "sessionId",
                    "studioId"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true,
                        "location": "header",
                        "locationName": "X-Amz-Client-Token"
                    },
                    "dryrun": {
                        "shape": "S3",
                        "location": "header",
                        "locationName": "X-Amz-Dryrun"
                    },
                    "expirationInSeconds": {
                        "type": "integer"
                    },
                    "sessionId": {
                        "location": "uri",
                        "locationName": "sessionId"
                    },
                    "studioId": {
                        "location": "uri",
                        "locationName": "studioId"
                    },
                    "observerName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "stream": {
                        "shape": "S2b"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/YKHKKBR2TEVPYAWWDXQMC6G77OQFKQN7VSSCLNFKHMRXKRMEMGBA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D76DDFJ4UNU4LZFNAT5E2PCETHVDC37I7I3SWPAJKJBOL4H3DUCA/vendors.js"
            ]
        },
        "CreateStudio": {
            "http": {
                "requestUri": "/2020-08-01/studios",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "adminRoleArn",
                    "displayName",
                    "studioName",
                    "userRoleArn"
                ],
                "members": {
                    "adminRoleArn": {},
                    "clientToken": {
                        "idempotencyToken": true,
                        "location": "header",
                        "locationName": "X-Amz-Client-Token"
                    },
                    "dryrun": {
                        "shape": "S3",
                        "location": "header",
                        "locationName": "X-Amz-Dryrun"
                    },
                    "displayName": {
                        "shape": "S2h"
                    },
                    "studioEncryptionConfiguration": {
                        "shape": "S2i"
                    },
                    "studioName": {},
                    "tags": {
                        "shape": "S19"
                    },
                    "userRoleArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "studio": {
                        "shape": "S2n"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/YKHKKBR2TEVPYAWWDXQMC6G77OQFKQN7VSSCLNFKHMRXKRMEMGBA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D76DDFJ4UNU4LZFNAT5E2PCETHVDC37I7I3SWPAJKJBOL4H3DUCA/vendors.js"
            ]
        },
        "CreateStudioComponent": {
            "http": {
                "requestUri": "/2020-08-01/studios/{studioId}/studio-components",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "studioId",
                    "type"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true,
                        "location": "header",
                        "locationName": "X-Amz-Client-Token"
                    },
                    "dryrun": {
                        "shape": "S3",
                        "location": "header",
                        "locationName": "X-Amz-Dryrun"
                    },
                    "configuration": {
                        "shape": "S2s"
                    },
                    "description": {
                        "shape": "S36"
                    },
                    "ec2SecurityGroupIds": {
                        "shape": "S37"
                    },
                    "initializationScripts": {
                        "shape": "S39"
                    },
                    "name": {
                        "shape": "S3e"
                    },
                    "scriptParameters": {
                        "shape": "S3f"
                    },
                    "studioId": {
                        "location": "uri",
                        "locationName": "studioId"
                    },
                    "subtype": {},
                    "tags": {
                        "shape": "S19"
                    },
                    "type": {},
                    "secureInitializationRoleArn": {},
                    "runtimeRoleArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "studioComponent": {
                        "shape": "S3m"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/YKHKKBR2TEVPYAWWDXQMC6G77OQFKQN7VSSCLNFKHMRXKRMEMGBA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D76DDFJ4UNU4LZFNAT5E2PCETHVDC37I7I3SWPAJKJBOL4H3DUCA/vendors.js"
            ]
        },
        "CreateStudioSession": {
            "http": {
                "requestUri": "/2020-08-01/studios/{studioId}/sessions",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "studioId"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true,
                        "location": "header",
                        "locationName": "X-Amz-Client-Token"
                    },
                    "loggingMode": {},
                    "parameters": {
                        "type": "map",
                        "key": {},
                        "value": {}
                    },
                    "sessionToken": {},
                    "state": {},
                    "studioId": {
                        "location": "uri",
                        "locationName": "studioId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "awsAccountId",
                    "credentials",
                    "identityStoreId",
                    "sessionToken",
                    "studioId",
                    "userId"
                ],
                "members": {
                    "awsAccountId": {},
                    "credentials": {
                        "type": "structure",
                        "members": {
                            "AccessKeyId": {},
                            "Expiration": {},
                            "SecretAccessKey": {},
                            "SessionToken": {}
                        },
                        "sensitive": true
                    },
                    "identityStoreId": {},
                    "logStream": {},
                    "sessionToken": {},
                    "state": {},
                    "studioId": {},
                    "studioPersona": {},
                    "userId": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/YKHKKBR2TEVPYAWWDXQMC6G77OQFKQN7VSSCLNFKHMRXKRMEMGBA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D76DDFJ4UNU4LZFNAT5E2PCETHVDC37I7I3SWPAJKJBOL4H3DUCA/vendors.js"
            ]
        },
        "DeleteLaunchProfile": {
            "http": {
                "method": "DELETE",
                "requestUri": "/2020-08-01/studios/{studioId}/launch-profiles/{launchProfileId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "launchProfileId",
                    "studioId"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true,
                        "location": "header",
                        "locationName": "X-Amz-Client-Token"
                    },
                    "dryrun": {
                        "shape": "S3",
                        "location": "header",
                        "locationName": "X-Amz-Dryrun"
                    },
                    "launchProfileId": {
                        "location": "uri",
                        "locationName": "launchProfileId"
                    },
                    "studioId": {
                        "location": "uri",
                        "locationName": "studioId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "launchProfile": {
                        "shape": "S1b"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/YKHKKBR2TEVPYAWWDXQMC6G77OQFKQN7VSSCLNFKHMRXKRMEMGBA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D76DDFJ4UNU4LZFNAT5E2PCETHVDC37I7I3SWPAJKJBOL4H3DUCA/vendors.js"
            ]
        },
        "DeleteLaunchProfileMember": {
            "http": {
                "method": "DELETE",
                "requestUri": "/2020-08-01/studios/{studioId}/launch-profiles/{launchProfileId}/membership/{principalId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "launchProfileId",
                    "principalId",
                    "studioId"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true,
                        "location": "header",
                        "locationName": "X-Amz-Client-Token"
                    },
                    "dryrun": {
                        "shape": "S3",
                        "location": "header",
                        "locationName": "X-Amz-Dryrun"
                    },
                    "launchProfileId": {
                        "location": "uri",
                        "locationName": "launchProfileId"
                    },
                    "principalId": {
                        "location": "uri",
                        "locationName": "principalId"
                    },
                    "studioId": {
                        "location": "uri",
                        "locationName": "studioId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/YKHKKBR2TEVPYAWWDXQMC6G77OQFKQN7VSSCLNFKHMRXKRMEMGBA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D76DDFJ4UNU4LZFNAT5E2PCETHVDC37I7I3SWPAJKJBOL4H3DUCA/vendors.js"
            ]
        },
        "DeleteStreamingImage": {
            "http": {
                "method": "DELETE",
                "requestUri": "/2020-08-01/studios/{studioId}/streaming-images/{streamingImageId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "streamingImageId",
                    "studioId"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true,
                        "location": "header",
                        "locationName": "X-Amz-Client-Token"
                    },
                    "dryrun": {
                        "shape": "S3",
                        "location": "header",
                        "locationName": "X-Amz-Dryrun"
                    },
                    "streamingImageId": {
                        "location": "uri",
                        "locationName": "streamingImageId"
                    },
                    "studioId": {
                        "location": "uri",
                        "locationName": "studioId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "streamingImage": {
                        "shape": "S1s"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/YKHKKBR2TEVPYAWWDXQMC6G77OQFKQN7VSSCLNFKHMRXKRMEMGBA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D76DDFJ4UNU4LZFNAT5E2PCETHVDC37I7I3SWPAJKJBOL4H3DUCA/vendors.js"
            ]
        },
        "DeleteStreamingSession": {
            "http": {
                "method": "DELETE",
                "requestUri": "/2020-08-01/studios/{studioId}/streaming-sessions/{sessionId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "sessionId",
                    "studioId"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true,
                        "location": "header",
                        "locationName": "X-Amz-Client-Token"
                    },
                    "dryrun": {
                        "shape": "S3",
                        "location": "header",
                        "locationName": "X-Amz-Dryrun"
                    },
                    "sessionId": {
                        "location": "uri",
                        "locationName": "sessionId"
                    },
                    "studioId": {
                        "location": "uri",
                        "locationName": "studioId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "session": {
                        "shape": "S22"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/YKHKKBR2TEVPYAWWDXQMC6G77OQFKQN7VSSCLNFKHMRXKRMEMGBA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D76DDFJ4UNU4LZFNAT5E2PCETHVDC37I7I3SWPAJKJBOL4H3DUCA/vendors.js"
            ]
        },
        "DeleteStudio": {
            "http": {
                "method": "DELETE",
                "requestUri": "/2020-08-01/studios/{studioId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "studioId"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true,
                        "location": "header",
                        "locationName": "X-Amz-Client-Token"
                    },
                    "dryrun": {
                        "shape": "S3",
                        "location": "header",
                        "locationName": "X-Amz-Dryrun"
                    },
                    "studioId": {
                        "location": "uri",
                        "locationName": "studioId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "studio"
                ],
                "members": {
                    "studio": {
                        "shape": "S2n"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/YKHKKBR2TEVPYAWWDXQMC6G77OQFKQN7VSSCLNFKHMRXKRMEMGBA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D76DDFJ4UNU4LZFNAT5E2PCETHVDC37I7I3SWPAJKJBOL4H3DUCA/vendors.js"
            ]
        },
        "DeleteStudioComponent": {
            "http": {
                "method": "DELETE",
                "requestUri": "/2020-08-01/studios/{studioId}/studio-components/{studioComponentId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "studioComponentId",
                    "studioId"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true,
                        "location": "header",
                        "locationName": "X-Amz-Client-Token"
                    },
                    "dryrun": {
                        "shape": "S3",
                        "location": "header",
                        "locationName": "X-Amz-Dryrun"
                    },
                    "studioComponentId": {
                        "location": "uri",
                        "locationName": "studioComponentId"
                    },
                    "studioId": {
                        "location": "uri",
                        "locationName": "studioId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "studioComponent": {
                        "shape": "S3m"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/YKHKKBR2TEVPYAWWDXQMC6G77OQFKQN7VSSCLNFKHMRXKRMEMGBA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D76DDFJ4UNU4LZFNAT5E2PCETHVDC37I7I3SWPAJKJBOL4H3DUCA/vendors.js"
            ]
        },
        "DeleteStudioMember": {
            "http": {
                "method": "DELETE",
                "requestUri": "/2020-08-01/studios/{studioId}/membership/{principalId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "principalId",
                    "studioId"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true,
                        "location": "header",
                        "locationName": "X-Amz-Client-Token"
                    },
                    "dryrun": {
                        "shape": "S3",
                        "location": "header",
                        "locationName": "X-Amz-Dryrun"
                    },
                    "principalId": {
                        "location": "uri",
                        "locationName": "principalId"
                    },
                    "studioId": {
                        "location": "uri",
                        "locationName": "studioId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/YKHKKBR2TEVPYAWWDXQMC6G77OQFKQN7VSSCLNFKHMRXKRMEMGBA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D76DDFJ4UNU4LZFNAT5E2PCETHVDC37I7I3SWPAJKJBOL4H3DUCA/vendors.js"
            ]
        },
        "DeleteStudioSession": {
            "http": {
                "method": "DELETE",
                "requestUri": "/2020-08-01/studios/{studioId}/sessions/{sessionId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "sessionToken",
                    "sessionId",
                    "studioId"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true,
                        "location": "header",
                        "locationName": "X-Amz-Client-Token"
                    },
                    "sessionToken": {
                        "location": "header",
                        "locationName": "X-Amz-Session-Token"
                    },
                    "sessionId": {
                        "location": "uri",
                        "locationName": "sessionId"
                    },
                    "studioId": {
                        "location": "uri",
                        "locationName": "studioId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "redirectUrl"
                ],
                "members": {
                    "redirectUrl": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/YKHKKBR2TEVPYAWWDXQMC6G77OQFKQN7VSSCLNFKHMRXKRMEMGBA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D76DDFJ4UNU4LZFNAT5E2PCETHVDC37I7I3SWPAJKJBOL4H3DUCA/vendors.js"
            ]
        },
        "GetEula": {
            "http": {
                "method": "GET",
                "requestUri": "/2020-08-01/eulas/{eulaId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "eulaId"
                ],
                "members": {
                    "dryrun": {
                        "shape": "S3",
                        "location": "header",
                        "locationName": "X-Amz-Dryrun"
                    },
                    "eulaId": {
                        "location": "uri",
                        "locationName": "eulaId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "eula": {
                        "shape": "S4g"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/YKHKKBR2TEVPYAWWDXQMC6G77OQFKQN7VSSCLNFKHMRXKRMEMGBA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D76DDFJ4UNU4LZFNAT5E2PCETHVDC37I7I3SWPAJKJBOL4H3DUCA/vendors.js"
            ]
        },
        "GetFeatureMap": {
            "http": {
                "method": "GET",
                "requestUri": "/2020-08-01/feature-map",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "dryrun": {
                        "shape": "S3",
                        "location": "header",
                        "locationName": "X-Amz-Dryrun"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "studioSatellites": {},
                    "stopStartStreamingSession": {},
                    "launchProfileTestLaunch": {},
                    "launchProfileValidation": {},
                    "sessionStorage": {},
                    "studioComponentRoles": {},
                    "streamingSessionBackup": {},
                    "streamingSessionPersistence": {},
                    "serviceTilesUI": {},
                    "overTheShoulder": {},
                    "serviceMenu": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "shortName",
                                "displayName",
                                "iconUri",
                                "portalRemoteEntryUri"
                            ],
                            "members": {
                                "shortName": {},
                                "displayName": {},
                                "iconUri": {},
                                "portalRemoteEntryUri": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/YKHKKBR2TEVPYAWWDXQMC6G77OQFKQN7VSSCLNFKHMRXKRMEMGBA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D76DDFJ4UNU4LZFNAT5E2PCETHVDC37I7I3SWPAJKJBOL4H3DUCA/vendors.js"
            ]
        },
        "GetLaunchProfile": {
            "http": {
                "method": "GET",
                "requestUri": "/2020-08-01/studios/{studioId}/launch-profiles/{launchProfileId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "launchProfileId",
                    "studioId"
                ],
                "members": {
                    "dryrun": {
                        "shape": "S3",
                        "location": "header",
                        "locationName": "X-Amz-Dryrun"
                    },
                    "launchProfileId": {
                        "location": "uri",
                        "locationName": "launchProfileId"
                    },
                    "studioId": {
                        "location": "uri",
                        "locationName": "studioId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "launchProfile": {
                        "shape": "S1b"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/YKHKKBR2TEVPYAWWDXQMC6G77OQFKQN7VSSCLNFKHMRXKRMEMGBA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D76DDFJ4UNU4LZFNAT5E2PCETHVDC37I7I3SWPAJKJBOL4H3DUCA/vendors.js"
            ]
        },
        "GetLaunchProfileDetails": {
            "http": {
                "method": "GET",
                "requestUri": "/2020-08-01/studios/{studioId}/launch-profiles/{launchProfileId}/details",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "launchProfileId",
                    "studioId"
                ],
                "members": {
                    "dryrun": {
                        "shape": "S3",
                        "location": "header",
                        "locationName": "X-Amz-Dryrun"
                    },
                    "launchProfileId": {
                        "location": "uri",
                        "locationName": "launchProfileId"
                    },
                    "studioId": {
                        "location": "uri",
                        "locationName": "studioId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "launchProfile": {
                        "shape": "S1b"
                    },
                    "streamingImages": {
                        "shape": "S4q"
                    },
                    "studioComponentSummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "createdAt": {
                                    "shape": "S9"
                                },
                                "createdBy": {},
                                "description": {
                                    "shape": "S36"
                                },
                                "name": {
                                    "shape": "S3e"
                                },
                                "studioComponentId": {},
                                "subtype": {},
                                "type": {},
                                "updatedAt": {
                                    "shape": "S9"
                                },
                                "updatedBy": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/YKHKKBR2TEVPYAWWDXQMC6G77OQFKQN7VSSCLNFKHMRXKRMEMGBA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D76DDFJ4UNU4LZFNAT5E2PCETHVDC37I7I3SWPAJKJBOL4H3DUCA/vendors.js"
            ]
        },
        "GetLaunchProfileInitialization": {
            "http": {
                "method": "GET",
                "requestUri": "/2020-08-01/studios/{studioId}/launch-profiles/{launchProfileId}/init",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "launchProfileId",
                    "launchProfileProtocolVersions",
                    "launchPurpose",
                    "platform",
                    "studioId"
                ],
                "members": {
                    "dryrun": {
                        "shape": "S3",
                        "location": "header",
                        "locationName": "X-Amz-Dryrun"
                    },
                    "launchProfileId": {
                        "location": "uri",
                        "locationName": "launchProfileId"
                    },
                    "launchProfileProtocolVersions": {
                        "shape": "S4u",
                        "location": "querystring",
                        "locationName": "launchProfileProtocolVersions"
                    },
                    "launchPurpose": {
                        "location": "querystring",
                        "locationName": "launchPurpose"
                    },
                    "platform": {
                        "location": "querystring",
                        "locationName": "platform"
                    },
                    "studioId": {
                        "location": "uri",
                        "locationName": "studioId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "launchProfileInitialization": {
                        "type": "structure",
                        "members": {
                            "activeDirectory": {
                                "type": "structure",
                                "members": {
                                    "computerAttributes": {
                                        "shape": "S2u"
                                    },
                                    "directoryId": {},
                                    "directoryName": {},
                                    "dnsIpAddresses": {
                                        "type": "list",
                                        "member": {}
                                    },
                                    "organizationalUnitDistinguishedName": {},
                                    "studioComponentId": {},
                                    "studioComponentName": {
                                        "shape": "S3e"
                                    }
                                }
                            },
                            "ec2SecurityGroupIds": {
                                "type": "list",
                                "member": {}
                            },
                            "launchProfileId": {},
                            "launchProfileProtocolVersion": {},
                            "launchPurpose": {},
                            "name": {
                                "shape": "Si"
                            },
                            "platform": {},
                            "systemInitializationScripts": {
                                "shape": "S52"
                            },
                            "userInitializationScripts": {
                                "shape": "S52"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/YKHKKBR2TEVPYAWWDXQMC6G77OQFKQN7VSSCLNFKHMRXKRMEMGBA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D76DDFJ4UNU4LZFNAT5E2PCETHVDC37I7I3SWPAJKJBOL4H3DUCA/vendors.js"
            ]
        },
        "GetLaunchProfileMember": {
            "http": {
                "method": "GET",
                "requestUri": "/2020-08-01/studios/{studioId}/launch-profiles/{launchProfileId}/membership/{principalId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "launchProfileId",
                    "principalId",
                    "studioId"
                ],
                "members": {
                    "dryrun": {
                        "shape": "S3",
                        "location": "header",
                        "locationName": "X-Amz-Dryrun"
                    },
                    "launchProfileId": {
                        "location": "uri",
                        "locationName": "launchProfileId"
                    },
                    "principalId": {
                        "location": "uri",
                        "locationName": "principalId"
                    },
                    "studioId": {
                        "location": "uri",
                        "locationName": "studioId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "member": {
                        "shape": "S56"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/YKHKKBR2TEVPYAWWDXQMC6G77OQFKQN7VSSCLNFKHMRXKRMEMGBA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D76DDFJ4UNU4LZFNAT5E2PCETHVDC37I7I3SWPAJKJBOL4H3DUCA/vendors.js"
            ]
        },
        "GetStreamingImage": {
            "http": {
                "method": "GET",
                "requestUri": "/2020-08-01/studios/{studioId}/streaming-images/{streamingImageId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "streamingImageId",
                    "studioId"
                ],
                "members": {
                    "dryrun": {
                        "shape": "S3",
                        "location": "header",
                        "locationName": "X-Amz-Dryrun"
                    },
                    "streamingImageId": {
                        "location": "uri",
                        "locationName": "streamingImageId"
                    },
                    "studioId": {
                        "location": "uri",
                        "locationName": "studioId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "streamingImage": {
                        "shape": "S1s"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/YKHKKBR2TEVPYAWWDXQMC6G77OQFKQN7VSSCLNFKHMRXKRMEMGBA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D76DDFJ4UNU4LZFNAT5E2PCETHVDC37I7I3SWPAJKJBOL4H3DUCA/vendors.js"
            ]
        },
        "GetStreamingSession": {
            "http": {
                "method": "GET",
                "requestUri": "/2020-08-01/studios/{studioId}/streaming-sessions/{sessionId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "sessionId",
                    "studioId"
                ],
                "members": {
                    "dryrun": {
                        "shape": "S3",
                        "location": "header",
                        "locationName": "X-Amz-Dryrun"
                    },
                    "sessionId": {
                        "location": "uri",
                        "locationName": "sessionId"
                    },
                    "studioId": {
                        "location": "uri",
                        "locationName": "studioId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "session": {
                        "shape": "S22"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/YKHKKBR2TEVPYAWWDXQMC6G77OQFKQN7VSSCLNFKHMRXKRMEMGBA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D76DDFJ4UNU4LZFNAT5E2PCETHVDC37I7I3SWPAJKJBOL4H3DUCA/vendors.js"
            ]
        },
        "GetStreamingSessionBackup": {
            "http": {
                "method": "GET",
                "requestUri": "/2020-08-01/studios/{studioId}/streaming-session-backups/{backupId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "backupId",
                    "studioId"
                ],
                "members": {
                    "dryrun": {
                        "shape": "S3",
                        "location": "header",
                        "locationName": "X-Amz-Dryrun"
                    },
                    "backupId": {
                        "location": "uri",
                        "locationName": "backupId"
                    },
                    "studioId": {
                        "location": "uri",
                        "locationName": "studioId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "streamingSessionBackup": {
                        "shape": "S5e"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/YKHKKBR2TEVPYAWWDXQMC6G77OQFKQN7VSSCLNFKHMRXKRMEMGBA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D76DDFJ4UNU4LZFNAT5E2PCETHVDC37I7I3SWPAJKJBOL4H3DUCA/vendors.js"
            ]
        },
        "GetStreamingSessionStream": {
            "http": {
                "method": "GET",
                "requestUri": "/2020-08-01/studios/{studioId}/streaming-sessions/{sessionId}/streams/{streamId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "sessionId",
                    "streamId",
                    "studioId"
                ],
                "members": {
                    "dryrun": {
                        "shape": "S3",
                        "location": "header",
                        "locationName": "X-Amz-Dryrun"
                    },
                    "sessionId": {
                        "location": "uri",
                        "locationName": "sessionId"
                    },
                    "streamId": {
                        "location": "uri",
                        "locationName": "streamId"
                    },
                    "studioId": {
                        "location": "uri",
                        "locationName": "studioId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "stream": {
                        "shape": "S2b"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/YKHKKBR2TEVPYAWWDXQMC6G77OQFKQN7VSSCLNFKHMRXKRMEMGBA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D76DDFJ4UNU4LZFNAT5E2PCETHVDC37I7I3SWPAJKJBOL4H3DUCA/vendors.js"
            ]
        },
        "GetStudio": {
            "http": {
                "method": "GET",
                "requestUri": "/2020-08-01/studios/{studioId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "studioId"
                ],
                "members": {
                    "dryrun": {
                        "shape": "S3",
                        "location": "header",
                        "locationName": "X-Amz-Dryrun"
                    },
                    "studioId": {
                        "location": "uri",
                        "locationName": "studioId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "studio"
                ],
                "members": {
                    "studio": {
                        "shape": "S2n"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/YKHKKBR2TEVPYAWWDXQMC6G77OQFKQN7VSSCLNFKHMRXKRMEMGBA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D76DDFJ4UNU4LZFNAT5E2PCETHVDC37I7I3SWPAJKJBOL4H3DUCA/vendors.js"
            ]
        },
        "GetStudioComponent": {
            "http": {
                "method": "GET",
                "requestUri": "/2020-08-01/studios/{studioId}/studio-components/{studioComponentId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "studioComponentId",
                    "studioId"
                ],
                "members": {
                    "dryrun": {
                        "shape": "S3",
                        "location": "header",
                        "locationName": "X-Amz-Dryrun"
                    },
                    "studioComponentId": {
                        "location": "uri",
                        "locationName": "studioComponentId"
                    },
                    "studioId": {
                        "location": "uri",
                        "locationName": "studioId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "studioComponent": {
                        "shape": "S3m"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/YKHKKBR2TEVPYAWWDXQMC6G77OQFKQN7VSSCLNFKHMRXKRMEMGBA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D76DDFJ4UNU4LZFNAT5E2PCETHVDC37I7I3SWPAJKJBOL4H3DUCA/vendors.js"
            ]
        },
        "GetStudioLoginInfo": {
            "http": {
                "method": "GET",
                "requestUri": "/2020-08-01/studios/{studioId}/loginInfo",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "studioId"
                ],
                "members": {
                    "state": {
                        "location": "querystring",
                        "locationName": "state"
                    },
                    "studioId": {
                        "location": "uri",
                        "locationName": "studioId"
                    },
                    "redirectUrl": {
                        "internalonly": true,
                        "location": "querystring",
                        "locationName": "redirectUrl"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "redirectURL": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/YKHKKBR2TEVPYAWWDXQMC6G77OQFKQN7VSSCLNFKHMRXKRMEMGBA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D76DDFJ4UNU4LZFNAT5E2PCETHVDC37I7I3SWPAJKJBOL4H3DUCA/vendors.js"
            ]
        },
        "GetStudioMember": {
            "http": {
                "method": "GET",
                "requestUri": "/2020-08-01/studios/{studioId}/membership/{principalId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "principalId",
                    "studioId"
                ],
                "members": {
                    "dryrun": {
                        "shape": "S3",
                        "location": "header",
                        "locationName": "X-Amz-Dryrun"
                    },
                    "principalId": {
                        "location": "uri",
                        "locationName": "principalId"
                    },
                    "studioId": {
                        "location": "uri",
                        "locationName": "studioId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "member": {
                        "shape": "S5p"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/YKHKKBR2TEVPYAWWDXQMC6G77OQFKQN7VSSCLNFKHMRXKRMEMGBA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D76DDFJ4UNU4LZFNAT5E2PCETHVDC37I7I3SWPAJKJBOL4H3DUCA/vendors.js"
            ]
        },
        "ListEulaAcceptances": {
            "http": {
                "method": "GET",
                "requestUri": "/2020-08-01/studios/{studioId}/eula-acceptances",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "studioId"
                ],
                "members": {
                    "dryrun": {
                        "shape": "S3",
                        "location": "header",
                        "locationName": "X-Amz-Dryrun"
                    },
                    "eulaIds": {
                        "shape": "S4u",
                        "location": "querystring",
                        "locationName": "eulaIds"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "studioId": {
                        "location": "uri",
                        "locationName": "studioId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "eulaAcceptances": {
                        "shape": "S7"
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/YKHKKBR2TEVPYAWWDXQMC6G77OQFKQN7VSSCLNFKHMRXKRMEMGBA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D76DDFJ4UNU4LZFNAT5E2PCETHVDC37I7I3SWPAJKJBOL4H3DUCA/vendors.js"
            ]
        },
        "ListEulas": {
            "http": {
                "method": "GET",
                "requestUri": "/2020-08-01/eulas",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "dryrun": {
                        "shape": "S3",
                        "location": "header",
                        "locationName": "X-Amz-Dryrun"
                    },
                    "eulaIds": {
                        "shape": "S4u",
                        "location": "querystring",
                        "locationName": "eulaIds"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "eulas": {
                        "type": "list",
                        "member": {
                            "shape": "S4g"
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/YKHKKBR2TEVPYAWWDXQMC6G77OQFKQN7VSSCLNFKHMRXKRMEMGBA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D76DDFJ4UNU4LZFNAT5E2PCETHVDC37I7I3SWPAJKJBOL4H3DUCA/vendors.js"
            ]
        },
        "ListLaunchProfileMembers": {
            "http": {
                "method": "GET",
                "requestUri": "/2020-08-01/studios/{studioId}/launch-profiles/{launchProfileId}/membership",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "launchProfileId",
                    "studioId"
                ],
                "members": {
                    "dryrun": {
                        "shape": "S3",
                        "location": "header",
                        "locationName": "X-Amz-Dryrun"
                    },
                    "launchProfileId": {
                        "location": "uri",
                        "locationName": "launchProfileId"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "studioId": {
                        "location": "uri",
                        "locationName": "studioId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "members": {
                        "type": "list",
                        "member": {
                            "shape": "S56"
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/YKHKKBR2TEVPYAWWDXQMC6G77OQFKQN7VSSCLNFKHMRXKRMEMGBA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D76DDFJ4UNU4LZFNAT5E2PCETHVDC37I7I3SWPAJKJBOL4H3DUCA/vendors.js"
            ]
        },
        "ListLaunchProfiles": {
            "http": {
                "method": "GET",
                "requestUri": "/2020-08-01/studios/{studioId}/launch-profiles",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "studioId"
                ],
                "members": {
                    "dryrun": {
                        "shape": "S3",
                        "location": "header",
                        "locationName": "X-Amz-Dryrun"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "principalId": {
                        "location": "querystring",
                        "locationName": "principalId"
                    },
                    "states": {
                        "location": "querystring",
                        "locationName": "states",
                        "type": "list",
                        "member": {}
                    },
                    "studioId": {
                        "location": "uri",
                        "locationName": "studioId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "launchProfiles": {
                        "type": "list",
                        "member": {
                            "shape": "S1b"
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/YKHKKBR2TEVPYAWWDXQMC6G77OQFKQN7VSSCLNFKHMRXKRMEMGBA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D76DDFJ4UNU4LZFNAT5E2PCETHVDC37I7I3SWPAJKJBOL4H3DUCA/vendors.js"
            ]
        },
        "ListStreamingImages": {
            "http": {
                "method": "GET",
                "requestUri": "/2020-08-01/studios/{studioId}/streaming-images",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "studioId"
                ],
                "members": {
                    "dryrun": {
                        "shape": "S3",
                        "location": "header",
                        "locationName": "X-Amz-Dryrun"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "owner": {
                        "location": "querystring",
                        "locationName": "owner"
                    },
                    "studioId": {
                        "location": "uri",
                        "locationName": "studioId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "streamingImages": {
                        "shape": "S4q"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/YKHKKBR2TEVPYAWWDXQMC6G77OQFKQN7VSSCLNFKHMRXKRMEMGBA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D76DDFJ4UNU4LZFNAT5E2PCETHVDC37I7I3SWPAJKJBOL4H3DUCA/vendors.js"
            ]
        },
        "ListStreamingSessionBackups": {
            "http": {
                "method": "GET",
                "requestUri": "/2020-08-01/studios/{studioId}/streaming-session-backups",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "studioId"
                ],
                "members": {
                    "dryrun": {
                        "shape": "S3",
                        "location": "header",
                        "locationName": "X-Amz-Dryrun"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "ownedBy": {
                        "location": "querystring",
                        "locationName": "ownedBy"
                    },
                    "studioId": {
                        "location": "uri",
                        "locationName": "studioId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "streamingSessionBackups": {
                        "type": "list",
                        "member": {
                            "shape": "S5e"
                        }
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/YKHKKBR2TEVPYAWWDXQMC6G77OQFKQN7VSSCLNFKHMRXKRMEMGBA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D76DDFJ4UNU4LZFNAT5E2PCETHVDC37I7I3SWPAJKJBOL4H3DUCA/vendors.js"
            ]
        },
        "ListStreamingSessionCommands": {
            "http": {
                "method": "GET",
                "requestUri": "/2020-08-01/studios/{studioId}/streaming-sessions/{sessionId}/commands",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "accountId",
                    "instanceIdentityDocument",
                    "instanceIdentitySignature",
                    "sessionId",
                    "studioId"
                ],
                "members": {
                    "accountId": {
                        "location": "header",
                        "locationName": "X-Amz-Account-Id"
                    },
                    "instanceIdentityDocument": {
                        "location": "header",
                        "locationName": "X-Amz-Instance-Identity-Document"
                    },
                    "instanceIdentitySignature": {
                        "location": "header",
                        "locationName": "X-Amz-Instance-Identity-Signature"
                    },
                    "sessionId": {
                        "location": "uri",
                        "locationName": "sessionId"
                    },
                    "studioId": {
                        "location": "uri",
                        "locationName": "studioId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "commands": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "commandId": {},
                                "commandName": {},
                                "parameters": {
                                    "type": "map",
                                    "key": {},
                                    "value": {}
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/YKHKKBR2TEVPYAWWDXQMC6G77OQFKQN7VSSCLNFKHMRXKRMEMGBA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D76DDFJ4UNU4LZFNAT5E2PCETHVDC37I7I3SWPAJKJBOL4H3DUCA/vendors.js"
            ]
        },
        "ListStreamingSessions": {
            "http": {
                "method": "GET",
                "requestUri": "/2020-08-01/studios/{studioId}/streaming-sessions",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "studioId"
                ],
                "members": {
                    "dryrun": {
                        "shape": "S3",
                        "location": "header",
                        "locationName": "X-Amz-Dryrun"
                    },
                    "createdBy": {
                        "location": "querystring",
                        "locationName": "createdBy"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "ownedBy": {
                        "location": "querystring",
                        "locationName": "ownedBy"
                    },
                    "sessionIds": {
                        "location": "querystring",
                        "locationName": "sessionIds"
                    },
                    "studioId": {
                        "location": "uri",
                        "locationName": "studioId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "sessions": {
                        "type": "list",
                        "member": {
                            "shape": "S22"
                        }
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/YKHKKBR2TEVPYAWWDXQMC6G77OQFKQN7VSSCLNFKHMRXKRMEMGBA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D76DDFJ4UNU4LZFNAT5E2PCETHVDC37I7I3SWPAJKJBOL4H3DUCA/vendors.js"
            ]
        },
        "ListStudioComponents": {
            "http": {
                "method": "GET",
                "requestUri": "/2020-08-01/studios/{studioId}/studio-components",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "studioId"
                ],
                "members": {
                    "dryrun": {
                        "shape": "S3",
                        "location": "header",
                        "locationName": "X-Amz-Dryrun"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "states": {
                        "location": "querystring",
                        "locationName": "states",
                        "type": "list",
                        "member": {}
                    },
                    "studioId": {
                        "location": "uri",
                        "locationName": "studioId"
                    },
                    "types": {
                        "location": "querystring",
                        "locationName": "types",
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "studioComponents": {
                        "type": "list",
                        "member": {
                            "shape": "S3m"
                        }
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/YKHKKBR2TEVPYAWWDXQMC6G77OQFKQN7VSSCLNFKHMRXKRMEMGBA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D76DDFJ4UNU4LZFNAT5E2PCETHVDC37I7I3SWPAJKJBOL4H3DUCA/vendors.js"
            ]
        },
        "ListStudioMembers": {
            "http": {
                "method": "GET",
                "requestUri": "/2020-08-01/studios/{studioId}/membership",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "studioId"
                ],
                "members": {
                    "dryrun": {
                        "shape": "S3",
                        "location": "header",
                        "locationName": "X-Amz-Dryrun"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "studioId": {
                        "location": "uri",
                        "locationName": "studioId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "members": {
                        "type": "list",
                        "member": {
                            "shape": "S5p"
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/YKHKKBR2TEVPYAWWDXQMC6G77OQFKQN7VSSCLNFKHMRXKRMEMGBA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D76DDFJ4UNU4LZFNAT5E2PCETHVDC37I7I3SWPAJKJBOL4H3DUCA/vendors.js"
            ]
        },
        "ListStudios": {
            "http": {
                "method": "GET",
                "requestUri": "/2020-08-01/studios",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "dryrun": {
                        "shape": "S3",
                        "location": "header",
                        "locationName": "X-Amz-Dryrun"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "studios"
                ],
                "members": {
                    "nextToken": {},
                    "studios": {
                        "type": "list",
                        "member": {
                            "shape": "S2n"
                        }
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/YKHKKBR2TEVPYAWWDXQMC6G77OQFKQN7VSSCLNFKHMRXKRMEMGBA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D76DDFJ4UNU4LZFNAT5E2PCETHVDC37I7I3SWPAJKJBOL4H3DUCA/vendors.js"
            ]
        },
        "ListTagsForResource": {
            "http": {
                "method": "GET",
                "requestUri": "/2020-08-01/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "tags": {
                        "shape": "S19"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/YKHKKBR2TEVPYAWWDXQMC6G77OQFKQN7VSSCLNFKHMRXKRMEMGBA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D76DDFJ4UNU4LZFNAT5E2PCETHVDC37I7I3SWPAJKJBOL4H3DUCA/vendors.js"
            ]
        },
        "PutLaunchProfileMembers": {
            "http": {
                "requestUri": "/2020-08-01/studios/{studioId}/launch-profiles/{launchProfileId}/membership",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "identityStoreId",
                    "launchProfileId",
                    "members",
                    "studioId"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true,
                        "location": "header",
                        "locationName": "X-Amz-Client-Token"
                    },
                    "dryrun": {
                        "shape": "S3",
                        "location": "header",
                        "locationName": "X-Amz-Dryrun"
                    },
                    "identityStoreId": {},
                    "launchProfileId": {
                        "location": "uri",
                        "locationName": "launchProfileId"
                    },
                    "members": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "persona",
                                "principalId"
                            ],
                            "members": {
                                "persona": {},
                                "principalId": {}
                            }
                        }
                    },
                    "studioId": {
                        "location": "uri",
                        "locationName": "studioId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/YKHKKBR2TEVPYAWWDXQMC6G77OQFKQN7VSSCLNFKHMRXKRMEMGBA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D76DDFJ4UNU4LZFNAT5E2PCETHVDC37I7I3SWPAJKJBOL4H3DUCA/vendors.js"
            ]
        },
        "PutStudioLogEvents": {
            "http": {
                "method": "PUT",
                "requestUri": "/2020-08-01/studios/{studioId}/logs",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "logEvents",
                    "logStreamName",
                    "studioId"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true,
                        "location": "header",
                        "locationName": "X-Amz-Client-Token"
                    },
                    "dryrun": {
                        "shape": "S3",
                        "location": "header",
                        "locationName": "X-Amz-Dryrun"
                    },
                    "logEvents": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "message",
                                "timestamp"
                            ],
                            "members": {
                                "message": {},
                                "timestamp": {
                                    "shape": "S9"
                                }
                            }
                        }
                    },
                    "logStreamName": {},
                    "sequenceToken": {},
                    "studioId": {
                        "location": "uri",
                        "locationName": "studioId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "nextSequenceToken": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/YKHKKBR2TEVPYAWWDXQMC6G77OQFKQN7VSSCLNFKHMRXKRMEMGBA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D76DDFJ4UNU4LZFNAT5E2PCETHVDC37I7I3SWPAJKJBOL4H3DUCA/vendors.js"
            ]
        },
        "PutStudioMembers": {
            "http": {
                "requestUri": "/2020-08-01/studios/{studioId}/membership",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "identityStoreId",
                    "members",
                    "studioId"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true,
                        "location": "header",
                        "locationName": "X-Amz-Client-Token"
                    },
                    "dryrun": {
                        "shape": "S3",
                        "location": "header",
                        "locationName": "X-Amz-Dryrun"
                    },
                    "identityStoreId": {},
                    "members": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "persona",
                                "principalId"
                            ],
                            "members": {
                                "persona": {},
                                "principalId": {}
                            }
                        }
                    },
                    "studioId": {
                        "location": "uri",
                        "locationName": "studioId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/YKHKKBR2TEVPYAWWDXQMC6G77OQFKQN7VSSCLNFKHMRXKRMEMGBA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D76DDFJ4UNU4LZFNAT5E2PCETHVDC37I7I3SWPAJKJBOL4H3DUCA/vendors.js"
            ]
        },
        "StartStreamingSession": {
            "http": {
                "requestUri": "/2020-08-01/studios/{studioId}/streaming-sessions/{sessionId}/start",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "sessionId",
                    "studioId"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true,
                        "location": "header",
                        "locationName": "X-Amz-Client-Token"
                    },
                    "dryrun": {
                        "shape": "S3",
                        "location": "header",
                        "locationName": "X-Amz-Dryrun"
                    },
                    "sessionId": {
                        "location": "uri",
                        "locationName": "sessionId"
                    },
                    "studioId": {
                        "location": "uri",
                        "locationName": "studioId"
                    },
                    "backupId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "session": {
                        "shape": "S22"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/YKHKKBR2TEVPYAWWDXQMC6G77OQFKQN7VSSCLNFKHMRXKRMEMGBA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D76DDFJ4UNU4LZFNAT5E2PCETHVDC37I7I3SWPAJKJBOL4H3DUCA/vendors.js"
            ]
        },
        "StartStudioSSOConfigurationRepair": {
            "http": {
                "method": "PUT",
                "requestUri": "/2020-08-01/studios/{studioId}/sso-configuration",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "studioId"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true,
                        "location": "header",
                        "locationName": "X-Amz-Client-Token"
                    },
                    "dryrun": {
                        "shape": "S3",
                        "location": "header",
                        "locationName": "X-Amz-Dryrun"
                    },
                    "studioId": {
                        "location": "uri",
                        "locationName": "studioId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "studio"
                ],
                "members": {
                    "studio": {
                        "shape": "S2n"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/YKHKKBR2TEVPYAWWDXQMC6G77OQFKQN7VSSCLNFKHMRXKRMEMGBA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D76DDFJ4UNU4LZFNAT5E2PCETHVDC37I7I3SWPAJKJBOL4H3DUCA/vendors.js"
            ]
        },
        "StopStreamingSession": {
            "http": {
                "requestUri": "/2020-08-01/studios/{studioId}/streaming-sessions/{sessionId}/stop",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "sessionId",
                    "studioId"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true,
                        "location": "header",
                        "locationName": "X-Amz-Client-Token"
                    },
                    "dryrun": {
                        "shape": "S3",
                        "location": "header",
                        "locationName": "X-Amz-Dryrun"
                    },
                    "sessionId": {
                        "location": "uri",
                        "locationName": "sessionId"
                    },
                    "studioId": {
                        "location": "uri",
                        "locationName": "studioId"
                    },
                    "volumeRetentionMode": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "session": {
                        "shape": "S22"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/YKHKKBR2TEVPYAWWDXQMC6G77OQFKQN7VSSCLNFKHMRXKRMEMGBA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D76DDFJ4UNU4LZFNAT5E2PCETHVDC37I7I3SWPAJKJBOL4H3DUCA/vendors.js"
            ]
        },
        "TagResource": {
            "http": {
                "requestUri": "/2020-08-01/tags/{resourceArn}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    },
                    "tags": {
                        "shape": "S19"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/YKHKKBR2TEVPYAWWDXQMC6G77OQFKQN7VSSCLNFKHMRXKRMEMGBA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D76DDFJ4UNU4LZFNAT5E2PCETHVDC37I7I3SWPAJKJBOL4H3DUCA/vendors.js"
            ]
        },
        "UntagResource": {
            "http": {
                "method": "DELETE",
                "requestUri": "/2020-08-01/tags/{resourceArn}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "tagKeys"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    },
                    "tagKeys": {
                        "shape": "S4u",
                        "location": "querystring",
                        "locationName": "tagKeys"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/YKHKKBR2TEVPYAWWDXQMC6G77OQFKQN7VSSCLNFKHMRXKRMEMGBA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D76DDFJ4UNU4LZFNAT5E2PCETHVDC37I7I3SWPAJKJBOL4H3DUCA/vendors.js"
            ]
        },
        "UpdateLaunchProfile": {
            "http": {
                "method": "PATCH",
                "requestUri": "/2020-08-01/studios/{studioId}/launch-profiles/{launchProfileId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "launchProfileId",
                    "studioId"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true,
                        "location": "header",
                        "locationName": "X-Amz-Client-Token"
                    },
                    "dryrun": {
                        "shape": "S3",
                        "location": "header",
                        "locationName": "X-Amz-Dryrun"
                    },
                    "description": {
                        "shape": "Sd"
                    },
                    "launchProfileId": {
                        "location": "uri",
                        "locationName": "launchProfileId"
                    },
                    "launchProfileProtocolVersions": {
                        "shape": "Sg"
                    },
                    "name": {
                        "shape": "Si"
                    },
                    "streamConfiguration": {
                        "shape": "Sk"
                    },
                    "studioComponentIds": {
                        "shape": "S18"
                    },
                    "studioId": {
                        "location": "uri",
                        "locationName": "studioId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "launchProfile": {
                        "shape": "S1b"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/YKHKKBR2TEVPYAWWDXQMC6G77OQFKQN7VSSCLNFKHMRXKRMEMGBA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D76DDFJ4UNU4LZFNAT5E2PCETHVDC37I7I3SWPAJKJBOL4H3DUCA/vendors.js"
            ]
        },
        "UpdateLaunchProfileMember": {
            "http": {
                "method": "PATCH",
                "requestUri": "/2020-08-01/studios/{studioId}/launch-profiles/{launchProfileId}/membership/{principalId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "launchProfileId",
                    "persona",
                    "principalId",
                    "studioId"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true,
                        "location": "header",
                        "locationName": "X-Amz-Client-Token"
                    },
                    "dryrun": {
                        "shape": "S3",
                        "location": "header",
                        "locationName": "X-Amz-Dryrun"
                    },
                    "launchProfileId": {
                        "location": "uri",
                        "locationName": "launchProfileId"
                    },
                    "persona": {},
                    "principalId": {
                        "location": "uri",
                        "locationName": "principalId"
                    },
                    "studioId": {
                        "location": "uri",
                        "locationName": "studioId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "member": {
                        "shape": "S56"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/YKHKKBR2TEVPYAWWDXQMC6G77OQFKQN7VSSCLNFKHMRXKRMEMGBA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D76DDFJ4UNU4LZFNAT5E2PCETHVDC37I7I3SWPAJKJBOL4H3DUCA/vendors.js"
            ]
        },
        "UpdateStreamingImage": {
            "http": {
                "method": "PATCH",
                "requestUri": "/2020-08-01/studios/{studioId}/streaming-images/{streamingImageId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "streamingImageId",
                    "studioId"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true,
                        "location": "header",
                        "locationName": "X-Amz-Client-Token"
                    },
                    "dryrun": {
                        "shape": "S3",
                        "location": "header",
                        "locationName": "X-Amz-Dryrun"
                    },
                    "description": {
                        "shape": "S1o"
                    },
                    "name": {
                        "shape": "S1q"
                    },
                    "streamingImageId": {
                        "location": "uri",
                        "locationName": "streamingImageId"
                    },
                    "studioId": {
                        "location": "uri",
                        "locationName": "studioId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "streamingImage": {
                        "shape": "S1s"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/YKHKKBR2TEVPYAWWDXQMC6G77OQFKQN7VSSCLNFKHMRXKRMEMGBA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D76DDFJ4UNU4LZFNAT5E2PCETHVDC37I7I3SWPAJKJBOL4H3DUCA/vendors.js"
            ]
        },
        "UpdateStreamingSessionCommandBatch": {
            "http": {
                "requestUri": "/2020-08-01/studios/{studioId}/streaming-sessions/{sessionId}/commands",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "accountId",
                    "instanceIdentityDocument",
                    "instanceIdentitySignature",
                    "commandResults",
                    "sessionId",
                    "studioId"
                ],
                "members": {
                    "accountId": {
                        "location": "header",
                        "locationName": "X-Amz-Account-Id"
                    },
                    "clientToken": {
                        "idempotencyToken": true,
                        "location": "header",
                        "locationName": "X-Amz-Client-Token"
                    },
                    "instanceIdentityDocument": {
                        "location": "header",
                        "locationName": "X-Amz-Instance-Identity-Document"
                    },
                    "instanceIdentitySignature": {
                        "location": "header",
[...]
