{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-05-10",
        "endpointPrefix": "notifications-contacts",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "AWS User Notifications Contacts",
        "serviceId": "NotificationsContacts",
        "signatureVersion": "v4",
        "signingName": "notifications-contacts",
        "uid": "notificationscontacts-2018-05-10",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/AMNZO2JGOQJVZL45HWEMDZUE7GQOX4253OK2MRNNNKDWTQPAREZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Q6DWFWJ7AV5BE42AMG4RT2QMEPDFXTD7A5EBXD64UL6F5INUV4ZA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZGDU5ZN7P2XF47KZSMGG66R6LKWECESKD5MRPN5A2HVIOOHAIOGA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XZVU4GFI3G4CX6OFX4UTWSTDDVI5MZZTHEBEPCH56CU2GMKBIDTQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HH5KEPTSBTX7GAE23YCR5MON7UEG7DVD6TL53TJUBSUCK2UXRSXA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7OCE3ATZU5RM4DMGYFYOKI22ETFP2GOJA6CJAGIRLVDQ5YANWWAQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3JYOJJEBENAPQECQHLSIBXDSE2CXW7TMZVT6BU6ZEAYYWGP75WRA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HZYIFXKL4OKHZOYQFWUMTLIMW4DOKBDZ46HRUI5V57VLSUEH7FQQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AJ4UIVIFQXKA6TIUUB6LJ2AE2V4NZQZAFH27QNDSUHAH76NMICYQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/M5DYIBUJMRKDXGVI2WB6S6COZEIR7YZYUTOQQBXXHXVNZ4DIKTOA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/W4P6OA2JQM3VRTWX47EC45XCSF242EYHDD35ILWOJM4Y2FLC34MQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AC5VKO3YX3LT3QHT37JGSTA3DR3XNHN4KC2PN55D4KDT5USOCX4Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XWNJ5XQPRXX4AOR4VSJLMGGDYP3EAF2NHP7QV2FHCLP32COOGBKA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VXGITJY3LLQYJ5NPOBQ4TQFUSIJAMP6QZCBWPT5F3BHGDEI6ZY4Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JUSZMPQQ7AOMKMPYQGO6ATPVWKC3RDSA3OSSFD3GC3KSQSK54JFA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XB5KXEP2V2GUTT3LQVMDE7AV4B4ZSKBN4RV5SFFKTW3OHUUS5U2A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NG5T2TSPMMVJB4YAECBWY3TUWDVOLND3K3WPARCOG5CTVJFTPMMA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3F7BYKT6PWJZ6BBE2ONRFJDKBBANO7UIONNDECE3EDDE46VCDLRA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/A7SCLNFMSXNGZECS4TH5XWTIZ2WCC2XGEC3SQ7C5IGY3HLZH6ELA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/A4GIUITOLFZAH72LSASJ2I34QKCEXAXVXEF3OVBECMOO5SHIIBGA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ILEJSB2WGXMAWVCCRQHSHTDXSGTW362JXRFZQTSU2BDNGUXD4KMA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/A2DMQNYVW5ROMMRX74TLON7MZYW3GHEQYIV2YNWCXVF7BXUTFW5A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js"
        ]
    },
    "operations": {
        "ActivateEmailContact": {
            "name": "ActivateEmailContact",
            "http": {
                "method": "PUT",
                "requestUri": "/emailcontacts/{arn}/activate/{code}",
                "responseCode": 200
            },
            "input": {
                "shape": "ActivateEmailContactRequest"
            },
            "output": {
                "shape": "ActivateEmailContactResponse"
            },
            "errors": [
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "ConflictException"
                }
            ],
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6DWFWJ7AV5BE42AMG4RT2QMEPDFXTD7A5EBXD64UL6F5INUV4ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZGDU5ZN7P2XF47KZSMGG66R6LKWECESKD5MRPN5A2HVIOOHAIOGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZVU4GFI3G4CX6OFX4UTWSTDDVI5MZZTHEBEPCH56CU2GMKBIDTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HH5KEPTSBTX7GAE23YCR5MON7UEG7DVD6TL53TJUBSUCK2UXRSXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OCE3ATZU5RM4DMGYFYOKI22ETFP2GOJA6CJAGIRLVDQ5YANWWAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JYOJJEBENAPQECQHLSIBXDSE2CXW7TMZVT6BU6ZEAYYWGP75WRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HZYIFXKL4OKHZOYQFWUMTLIMW4DOKBDZ46HRUI5V57VLSUEH7FQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ4UIVIFQXKA6TIUUB6LJ2AE2V4NZQZAFH27QNDSUHAH76NMICYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5DYIBUJMRKDXGVI2WB6S6COZEIR7YZYUTOQQBXXHXVNZ4DIKTOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W4P6OA2JQM3VRTWX47EC45XCSF242EYHDD35ILWOJM4Y2FLC34MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AC5VKO3YX3LT3QHT37JGSTA3DR3XNHN4KC2PN55D4KDT5USOCX4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWNJ5XQPRXX4AOR4VSJLMGGDYP3EAF2NHP7QV2FHCLP32COOGBKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXGITJY3LLQYJ5NPOBQ4TQFUSIJAMP6QZCBWPT5F3BHGDEI6ZY4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUSZMPQQ7AOMKMPYQGO6ATPVWKC3RDSA3OSSFD3GC3KSQSK54JFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XB5KXEP2V2GUTT3LQVMDE7AV4B4ZSKBN4RV5SFFKTW3OHUUS5U2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5T2TSPMMVJB4YAECBWY3TUWDVOLND3K3WPARCOG5CTVJFTPMMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F7BYKT6PWJZ6BBE2ONRFJDKBBANO7UIONNDECE3EDDE46VCDLRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7SCLNFMSXNGZECS4TH5XWTIZ2WCC2XGEC3SQ7C5IGY3HLZH6ELA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4GIUITOLFZAH72LSASJ2I34QKCEXAXVXEF3OVBECMOO5SHIIBGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILEJSB2WGXMAWVCCRQHSHTDXSGTW362JXRFZQTSU2BDNGUXD4KMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A2DMQNYVW5ROMMRX74TLON7MZYW3GHEQYIV2YNWCXVF7BXUTFW5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js"
            ]
        },
        "CreateEmailContact": {
            "name": "CreateEmailContact",
            "http": {
                "method": "POST",
                "requestUri": "/2022-09-19/emailcontacts",
                "responseCode": 201
            },
            "input": {
                "shape": "CreateEmailContactRequest"
            },
            "output": {
                "shape": "CreateEmailContactResponse"
            },
            "errors": [
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "ServiceQuotaExceededException"
                },
                {
                    "shape": "ConflictException"
                }
            ],
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6DWFWJ7AV5BE42AMG4RT2QMEPDFXTD7A5EBXD64UL6F5INUV4ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZGDU5ZN7P2XF47KZSMGG66R6LKWECESKD5MRPN5A2HVIOOHAIOGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZVU4GFI3G4CX6OFX4UTWSTDDVI5MZZTHEBEPCH56CU2GMKBIDTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HH5KEPTSBTX7GAE23YCR5MON7UEG7DVD6TL53TJUBSUCK2UXRSXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OCE3ATZU5RM4DMGYFYOKI22ETFP2GOJA6CJAGIRLVDQ5YANWWAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JYOJJEBENAPQECQHLSIBXDSE2CXW7TMZVT6BU6ZEAYYWGP75WRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HZYIFXKL4OKHZOYQFWUMTLIMW4DOKBDZ46HRUI5V57VLSUEH7FQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ4UIVIFQXKA6TIUUB6LJ2AE2V4NZQZAFH27QNDSUHAH76NMICYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5DYIBUJMRKDXGVI2WB6S6COZEIR7YZYUTOQQBXXHXVNZ4DIKTOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W4P6OA2JQM3VRTWX47EC45XCSF242EYHDD35ILWOJM4Y2FLC34MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AC5VKO3YX3LT3QHT37JGSTA3DR3XNHN4KC2PN55D4KDT5USOCX4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWNJ5XQPRXX4AOR4VSJLMGGDYP3EAF2NHP7QV2FHCLP32COOGBKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXGITJY3LLQYJ5NPOBQ4TQFUSIJAMP6QZCBWPT5F3BHGDEI6ZY4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUSZMPQQ7AOMKMPYQGO6ATPVWKC3RDSA3OSSFD3GC3KSQSK54JFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XB5KXEP2V2GUTT3LQVMDE7AV4B4ZSKBN4RV5SFFKTW3OHUUS5U2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5T2TSPMMVJB4YAECBWY3TUWDVOLND3K3WPARCOG5CTVJFTPMMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F7BYKT6PWJZ6BBE2ONRFJDKBBANO7UIONNDECE3EDDE46VCDLRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7SCLNFMSXNGZECS4TH5XWTIZ2WCC2XGEC3SQ7C5IGY3HLZH6ELA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4GIUITOLFZAH72LSASJ2I34QKCEXAXVXEF3OVBECMOO5SHIIBGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILEJSB2WGXMAWVCCRQHSHTDXSGTW362JXRFZQTSU2BDNGUXD4KMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A2DMQNYVW5ROMMRX74TLON7MZYW3GHEQYIV2YNWCXVF7BXUTFW5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js"
            ]
        },
        "DeleteEmailContact": {
            "name": "DeleteEmailContact",
            "http": {
                "method": "DELETE",
                "requestUri": "/emailcontacts/{arn}",
                "responseCode": 200
            },
            "input": {
                "shape": "DeleteEmailContactRequest"
            },
            "output": {
                "shape": "DeleteEmailContactResponse"
            },
            "errors": [
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "ConflictException"
                }
            ],
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6DWFWJ7AV5BE42AMG4RT2QMEPDFXTD7A5EBXD64UL6F5INUV4ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZGDU5ZN7P2XF47KZSMGG66R6LKWECESKD5MRPN5A2HVIOOHAIOGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZVU4GFI3G4CX6OFX4UTWSTDDVI5MZZTHEBEPCH56CU2GMKBIDTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HH5KEPTSBTX7GAE23YCR5MON7UEG7DVD6TL53TJUBSUCK2UXRSXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OCE3ATZU5RM4DMGYFYOKI22ETFP2GOJA6CJAGIRLVDQ5YANWWAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JYOJJEBENAPQECQHLSIBXDSE2CXW7TMZVT6BU6ZEAYYWGP75WRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HZYIFXKL4OKHZOYQFWUMTLIMW4DOKBDZ46HRUI5V57VLSUEH7FQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ4UIVIFQXKA6TIUUB6LJ2AE2V4NZQZAFH27QNDSUHAH76NMICYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5DYIBUJMRKDXGVI2WB6S6COZEIR7YZYUTOQQBXXHXVNZ4DIKTOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W4P6OA2JQM3VRTWX47EC45XCSF242EYHDD35ILWOJM4Y2FLC34MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AC5VKO3YX3LT3QHT37JGSTA3DR3XNHN4KC2PN55D4KDT5USOCX4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWNJ5XQPRXX4AOR4VSJLMGGDYP3EAF2NHP7QV2FHCLP32COOGBKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXGITJY3LLQYJ5NPOBQ4TQFUSIJAMP6QZCBWPT5F3BHGDEI6ZY4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUSZMPQQ7AOMKMPYQGO6ATPVWKC3RDSA3OSSFD3GC3KSQSK54JFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XB5KXEP2V2GUTT3LQVMDE7AV4B4ZSKBN4RV5SFFKTW3OHUUS5U2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5T2TSPMMVJB4YAECBWY3TUWDVOLND3K3WPARCOG5CTVJFTPMMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F7BYKT6PWJZ6BBE2ONRFJDKBBANO7UIONNDECE3EDDE46VCDLRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7SCLNFMSXNGZECS4TH5XWTIZ2WCC2XGEC3SQ7C5IGY3HLZH6ELA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4GIUITOLFZAH72LSASJ2I34QKCEXAXVXEF3OVBECMOO5SHIIBGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILEJSB2WGXMAWVCCRQHSHTDXSGTW362JXRFZQTSU2BDNGUXD4KMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A2DMQNYVW5ROMMRX74TLON7MZYW3GHEQYIV2YNWCXVF7BXUTFW5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js"
            ]
        },
        "GetEmailContact": {
            "name": "GetEmailContact",
            "http": {
                "method": "GET",
                "requestUri": "/emailcontacts/{arn}",
                "responseCode": 200
            },
            "input": {
                "shape": "GetEmailContactRequest"
            },
            "output": {
                "shape": "GetEmailContactResponse"
            },
            "errors": [
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ValidationException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6DWFWJ7AV5BE42AMG4RT2QMEPDFXTD7A5EBXD64UL6F5INUV4ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZGDU5ZN7P2XF47KZSMGG66R6LKWECESKD5MRPN5A2HVIOOHAIOGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZVU4GFI3G4CX6OFX4UTWSTDDVI5MZZTHEBEPCH56CU2GMKBIDTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HH5KEPTSBTX7GAE23YCR5MON7UEG7DVD6TL53TJUBSUCK2UXRSXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OCE3ATZU5RM4DMGYFYOKI22ETFP2GOJA6CJAGIRLVDQ5YANWWAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JYOJJEBENAPQECQHLSIBXDSE2CXW7TMZVT6BU6ZEAYYWGP75WRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HZYIFXKL4OKHZOYQFWUMTLIMW4DOKBDZ46HRUI5V57VLSUEH7FQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ4UIVIFQXKA6TIUUB6LJ2AE2V4NZQZAFH27QNDSUHAH76NMICYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5DYIBUJMRKDXGVI2WB6S6COZEIR7YZYUTOQQBXXHXVNZ4DIKTOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W4P6OA2JQM3VRTWX47EC45XCSF242EYHDD35ILWOJM4Y2FLC34MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AC5VKO3YX3LT3QHT37JGSTA3DR3XNHN4KC2PN55D4KDT5USOCX4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWNJ5XQPRXX4AOR4VSJLMGGDYP3EAF2NHP7QV2FHCLP32COOGBKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXGITJY3LLQYJ5NPOBQ4TQFUSIJAMP6QZCBWPT5F3BHGDEI6ZY4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUSZMPQQ7AOMKMPYQGO6ATPVWKC3RDSA3OSSFD3GC3KSQSK54JFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XB5KXEP2V2GUTT3LQVMDE7AV4B4ZSKBN4RV5SFFKTW3OHUUS5U2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5T2TSPMMVJB4YAECBWY3TUWDVOLND3K3WPARCOG5CTVJFTPMMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F7BYKT6PWJZ6BBE2ONRFJDKBBANO7UIONNDECE3EDDE46VCDLRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7SCLNFMSXNGZECS4TH5XWTIZ2WCC2XGEC3SQ7C5IGY3HLZH6ELA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4GIUITOLFZAH72LSASJ2I34QKCEXAXVXEF3OVBECMOO5SHIIBGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILEJSB2WGXMAWVCCRQHSHTDXSGTW362JXRFZQTSU2BDNGUXD4KMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A2DMQNYVW5ROMMRX74TLON7MZYW3GHEQYIV2YNWCXVF7BXUTFW5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js"
            ]
        },
        "ListEmailContacts": {
            "name": "ListEmailContacts",
            "http": {
                "method": "GET",
                "requestUri": "/emailcontacts",
                "responseCode": 200
            },
            "input": {
                "shape": "ListEmailContactsRequest"
            },
            "output": {
                "shape": "ListEmailContactsResponse"
            },
            "errors": [
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ValidationException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6DWFWJ7AV5BE42AMG4RT2QMEPDFXTD7A5EBXD64UL6F5INUV4ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZGDU5ZN7P2XF47KZSMGG66R6LKWECESKD5MRPN5A2HVIOOHAIOGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZVU4GFI3G4CX6OFX4UTWSTDDVI5MZZTHEBEPCH56CU2GMKBIDTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HH5KEPTSBTX7GAE23YCR5MON7UEG7DVD6TL53TJUBSUCK2UXRSXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OCE3ATZU5RM4DMGYFYOKI22ETFP2GOJA6CJAGIRLVDQ5YANWWAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JYOJJEBENAPQECQHLSIBXDSE2CXW7TMZVT6BU6ZEAYYWGP75WRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HZYIFXKL4OKHZOYQFWUMTLIMW4DOKBDZ46HRUI5V57VLSUEH7FQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ4UIVIFQXKA6TIUUB6LJ2AE2V4NZQZAFH27QNDSUHAH76NMICYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5DYIBUJMRKDXGVI2WB6S6COZEIR7YZYUTOQQBXXHXVNZ4DIKTOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W4P6OA2JQM3VRTWX47EC45XCSF242EYHDD35ILWOJM4Y2FLC34MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AC5VKO3YX3LT3QHT37JGSTA3DR3XNHN4KC2PN55D4KDT5USOCX4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWNJ5XQPRXX4AOR4VSJLMGGDYP3EAF2NHP7QV2FHCLP32COOGBKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXGITJY3LLQYJ5NPOBQ4TQFUSIJAMP6QZCBWPT5F3BHGDEI6ZY4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUSZMPQQ7AOMKMPYQGO6ATPVWKC3RDSA3OSSFD3GC3KSQSK54JFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XB5KXEP2V2GUTT3LQVMDE7AV4B4ZSKBN4RV5SFFKTW3OHUUS5U2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5T2TSPMMVJB4YAECBWY3TUWDVOLND3K3WPARCOG5CTVJFTPMMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F7BYKT6PWJZ6BBE2ONRFJDKBBANO7UIONNDECE3EDDE46VCDLRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7SCLNFMSXNGZECS4TH5XWTIZ2WCC2XGEC3SQ7C5IGY3HLZH6ELA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4GIUITOLFZAH72LSASJ2I34QKCEXAXVXEF3OVBECMOO5SHIIBGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILEJSB2WGXMAWVCCRQHSHTDXSGTW362JXRFZQTSU2BDNGUXD4KMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A2DMQNYVW5ROMMRX74TLON7MZYW3GHEQYIV2YNWCXVF7BXUTFW5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js"
            ]
        },
        "ListTagsForResource": {
            "name": "ListTagsForResource",
            "http": {
                "method": "GET",
                "requestUri": "/tags/{arn}",
                "responseCode": 200
            },
            "input": {
                "shape": "ListTagsForResourceRequest"
            },
            "output": {
                "shape": "ListTagsForResourceResponse"
            },
            "errors": [
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ValidationException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6DWFWJ7AV5BE42AMG4RT2QMEPDFXTD7A5EBXD64UL6F5INUV4ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZGDU5ZN7P2XF47KZSMGG66R6LKWECESKD5MRPN5A2HVIOOHAIOGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZVU4GFI3G4CX6OFX4UTWSTDDVI5MZZTHEBEPCH56CU2GMKBIDTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HH5KEPTSBTX7GAE23YCR5MON7UEG7DVD6TL53TJUBSUCK2UXRSXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OCE3ATZU5RM4DMGYFYOKI22ETFP2GOJA6CJAGIRLVDQ5YANWWAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JYOJJEBENAPQECQHLSIBXDSE2CXW7TMZVT6BU6ZEAYYWGP75WRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HZYIFXKL4OKHZOYQFWUMTLIMW4DOKBDZ46HRUI5V57VLSUEH7FQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ4UIVIFQXKA6TIUUB6LJ2AE2V4NZQZAFH27QNDSUHAH76NMICYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5DYIBUJMRKDXGVI2WB6S6COZEIR7YZYUTOQQBXXHXVNZ4DIKTOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W4P6OA2JQM3VRTWX47EC45XCSF242EYHDD35ILWOJM4Y2FLC34MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AC5VKO3YX3LT3QHT37JGSTA3DR3XNHN4KC2PN55D4KDT5USOCX4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWNJ5XQPRXX4AOR4VSJLMGGDYP3EAF2NHP7QV2FHCLP32COOGBKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXGITJY3LLQYJ5NPOBQ4TQFUSIJAMP6QZCBWPT5F3BHGDEI6ZY4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUSZMPQQ7AOMKMPYQGO6ATPVWKC3RDSA3OSSFD3GC3KSQSK54JFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XB5KXEP2V2GUTT3LQVMDE7AV4B4ZSKBN4RV5SFFKTW3OHUUS5U2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5T2TSPMMVJB4YAECBWY3TUWDVOLND3K3WPARCOG5CTVJFTPMMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F7BYKT6PWJZ6BBE2ONRFJDKBBANO7UIONNDECE3EDDE46VCDLRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7SCLNFMSXNGZECS4TH5XWTIZ2WCC2XGEC3SQ7C5IGY3HLZH6ELA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4GIUITOLFZAH72LSASJ2I34QKCEXAXVXEF3OVBECMOO5SHIIBGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILEJSB2WGXMAWVCCRQHSHTDXSGTW362JXRFZQTSU2BDNGUXD4KMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A2DMQNYVW5ROMMRX74TLON7MZYW3GHEQYIV2YNWCXVF7BXUTFW5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js"
            ]
        },
        "SendActivationCode": {
            "name": "SendActivationCode",
            "http": {
                "method": "POST",
                "requestUri": "/2022-10-31/emailcontacts/{arn}/activate/send",
                "responseCode": 200
            },
            "input": {
                "shape": "SendActivationCodeRequest"
            },
            "output": {
                "shape": "SendActivationCodeResponse"
            },
            "errors": [
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "ConflictException"
                }
            ],
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6DWFWJ7AV5BE42AMG4RT2QMEPDFXTD7A5EBXD64UL6F5INUV4ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZGDU5ZN7P2XF47KZSMGG66R6LKWECESKD5MRPN5A2HVIOOHAIOGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZVU4GFI3G4CX6OFX4UTWSTDDVI5MZZTHEBEPCH56CU2GMKBIDTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HH5KEPTSBTX7GAE23YCR5MON7UEG7DVD6TL53TJUBSUCK2UXRSXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OCE3ATZU5RM4DMGYFYOKI22ETFP2GOJA6CJAGIRLVDQ5YANWWAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JYOJJEBENAPQECQHLSIBXDSE2CXW7TMZVT6BU6ZEAYYWGP75WRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HZYIFXKL4OKHZOYQFWUMTLIMW4DOKBDZ46HRUI5V57VLSUEH7FQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ4UIVIFQXKA6TIUUB6LJ2AE2V4NZQZAFH27QNDSUHAH76NMICYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5DYIBUJMRKDXGVI2WB6S6COZEIR7YZYUTOQQBXXHXVNZ4DIKTOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W4P6OA2JQM3VRTWX47EC45XCSF242EYHDD35ILWOJM4Y2FLC34MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AC5VKO3YX3LT3QHT37JGSTA3DR3XNHN4KC2PN55D4KDT5USOCX4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWNJ5XQPRXX4AOR4VSJLMGGDYP3EAF2NHP7QV2FHCLP32COOGBKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXGITJY3LLQYJ5NPOBQ4TQFUSIJAMP6QZCBWPT5F3BHGDEI6ZY4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUSZMPQQ7AOMKMPYQGO6ATPVWKC3RDSA3OSSFD3GC3KSQSK54JFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XB5KXEP2V2GUTT3LQVMDE7AV4B4ZSKBN4RV5SFFKTW3OHUUS5U2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5T2TSPMMVJB4YAECBWY3TUWDVOLND3K3WPARCOG5CTVJFTPMMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F7BYKT6PWJZ6BBE2ONRFJDKBBANO7UIONNDECE3EDDE46VCDLRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7SCLNFMSXNGZECS4TH5XWTIZ2WCC2XGEC3SQ7C5IGY3HLZH6ELA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4GIUITOLFZAH72LSASJ2I34QKCEXAXVXEF3OVBECMOO5SHIIBGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILEJSB2WGXMAWVCCRQHSHTDXSGTW362JXRFZQTSU2BDNGUXD4KMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A2DMQNYVW5ROMMRX74TLON7MZYW3GHEQYIV2YNWCXVF7BXUTFW5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js"
            ]
        },
        "TagResource": {
            "name": "TagResource",
            "http": {
                "method": "POST",
                "requestUri": "/tags/{arn}",
                "responseCode": 200
            },
            "input": {
                "shape": "TagResourceRequest"
            },
            "output": {
                "shape": "TagResourceResponse"
            },
            "errors": [
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ValidationException"
                }
            ],
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6DWFWJ7AV5BE42AMG4RT2QMEPDFXTD7A5EBXD64UL6F5INUV4ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZGDU5ZN7P2XF47KZSMGG66R6LKWECESKD5MRPN5A2HVIOOHAIOGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZVU4GFI3G4CX6OFX4UTWSTDDVI5MZZTHEBEPCH56CU2GMKBIDTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HH5KEPTSBTX7GAE23YCR5MON7UEG7DVD6TL53TJUBSUCK2UXRSXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OCE3ATZU5RM4DMGYFYOKI22ETFP2GOJA6CJAGIRLVDQ5YANWWAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JYOJJEBENAPQECQHLSIBXDSE2CXW7TMZVT6BU6ZEAYYWGP75WRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HZYIFXKL4OKHZOYQFWUMTLIMW4DOKBDZ46HRUI5V57VLSUEH7FQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ4UIVIFQXKA6TIUUB6LJ2AE2V4NZQZAFH27QNDSUHAH76NMICYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5DYIBUJMRKDXGVI2WB6S6COZEIR7YZYUTOQQBXXHXVNZ4DIKTOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W4P6OA2JQM3VRTWX47EC45XCSF242EYHDD35ILWOJM4Y2FLC34MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AC5VKO3YX3LT3QHT37JGSTA3DR3XNHN4KC2PN55D4KDT5USOCX4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWNJ5XQPRXX4AOR4VSJLMGGDYP3EAF2NHP7QV2FHCLP32COOGBKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXGITJY3LLQYJ5NPOBQ4TQFUSIJAMP6QZCBWPT5F3BHGDEI6ZY4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUSZMPQQ7AOMKMPYQGO6ATPVWKC3RDSA3OSSFD3GC3KSQSK54JFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XB5KXEP2V2GUTT3LQVMDE7AV4B4ZSKBN4RV5SFFKTW3OHUUS5U2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5T2TSPMMVJB4YAECBWY3TUWDVOLND3K3WPARCOG5CTVJFTPMMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F7BYKT6PWJZ6BBE2ONRFJDKBBANO7UIONNDECE3EDDE46VCDLRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7SCLNFMSXNGZECS4TH5XWTIZ2WCC2XGEC3SQ7C5IGY3HLZH6ELA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4GIUITOLFZAH72LSASJ2I34QKCEXAXVXEF3OVBECMOO5SHIIBGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILEJSB2WGXMAWVCCRQHSHTDXSGTW362JXRFZQTSU2BDNGUXD4KMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A2DMQNYVW5ROMMRX74TLON7MZYW3GHEQYIV2YNWCXVF7BXUTFW5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js"
            ]
        },
        "UntagResource": {
            "name": "UntagResource",
            "http": {
                "method": "DELETE",
                "requestUri": "/tags/{arn}",
                "responseCode": 200
            },
            "input": {
                "shape": "UntagResourceRequest"
            },
            "output": {
                "shape": "UntagResourceResponse"
            },
            "errors": [
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ValidationException"
                }
            ],
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6DWFWJ7AV5BE42AMG4RT2QMEPDFXTD7A5EBXD64UL6F5INUV4ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZGDU5ZN7P2XF47KZSMGG66R6LKWECESKD5MRPN5A2HVIOOHAIOGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZVU4GFI3G4CX6OFX4UTWSTDDVI5MZZTHEBEPCH56CU2GMKBIDTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HH5KEPTSBTX7GAE23YCR5MON7UEG7DVD6TL53TJUBSUCK2UXRSXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OCE3ATZU5RM4DMGYFYOKI22ETFP2GOJA6CJAGIRLVDQ5YANWWAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JYOJJEBENAPQECQHLSIBXDSE2CXW7TMZVT6BU6ZEAYYWGP75WRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HZYIFXKL4OKHZOYQFWUMTLIMW4DOKBDZ46HRUI5V57VLSUEH7FQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ4UIVIFQXKA6TIUUB6LJ2AE2V4NZQZAFH27QNDSUHAH76NMICYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5DYIBUJMRKDXGVI2WB6S6COZEIR7YZYUTOQQBXXHXVNZ4DIKTOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W4P6OA2JQM3VRTWX47EC45XCSF242EYHDD35ILWOJM4Y2FLC34MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AC5VKO3YX3LT3QHT37JGSTA3DR3XNHN4KC2PN55D4KDT5USOCX4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWNJ5XQPRXX4AOR4VSJLMGGDYP3EAF2NHP7QV2FHCLP32COOGBKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXGITJY3LLQYJ5NPOBQ4TQFUSIJAMP6QZCBWPT5F3BHGDEI6ZY4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUSZMPQQ7AOMKMPYQGO6ATPVWKC3RDSA3OSSFD3GC3KSQSK54JFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XB5KXEP2V2GUTT3LQVMDE7AV4B4ZSKBN4RV5SFFKTW3OHUUS5U2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5T2TSPMMVJB4YAECBWY3TUWDVOLND3K3WPARCOG5CTVJFTPMMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F7BYKT6PWJZ6BBE2ONRFJDKBBANO7UIONNDECE3EDDE46VCDLRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7SCLNFMSXNGZECS4TH5XWTIZ2WCC2XGEC3SQ7C5IGY3HLZH6ELA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4GIUITOLFZAH72LSASJ2I34QKCEXAXVXEF3OVBECMOO5SHIIBGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILEJSB2WGXMAWVCCRQHSHTDXSGTW362JXRFZQTSU2BDNGUXD4KMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A2DMQNYVW5ROMMRX74TLON7MZYW3GHEQYIV2YNWCXVF7BXUTFW5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js"
            ]
        }
    },
    "shapes": {
        "AccessDeniedException": {
            "type": "structure",
            "required": [
                "message"
            ],
            "members": {
                "message": {
                    "shape": "ErrorMessage"
                }
            },
            "error": {
                "httpStatusCode": 403,
                "senderFault": true
            },
            "exception": true
        },
        "ActivateEmailContactRequest": {
            "type": "structure",
            "required": [
                "arn",
                "code"
            ],
            "members": {
                "arn": {
                    "shape": "EmailContactArn",
                    "location": "uri",
                    "locationName": "arn"
                },
                "code": {
                    "shape": "Token",
                    "location": "uri",
                    "locationName": "code"
                }
            }
        },
        "ActivateEmailContactResponse": {
            "type": "structure",
            "members": {}
        },
        "ConflictException": {
            "type": "structure",
            "required": [
                "message",
                "resourceId",
                "resourceType"
            ],
            "members": {
                "message": {
                    "shape": "ErrorMessage"
                },
                "resourceId": {
                    "shape": "ResourceId"
                },
                "resourceType": {
                    "shape": "ResourceType"
                }
            },
            "error": {
                "httpStatusCode": 409,
                "senderFault": true
            },
            "exception": true
        },
        "CreateEmailContactRequest": {
            "type": "structure",
            "required": [
                "name",
                "emailAddress"
            ],
            "members": {
                "name": {
                    "shape": "EmailContactName"
                },
                "emailAddress": {
                    "shape": "EmailContactAddress"
                },
                "tags": {
                    "shape": "TagMap"
                }
            }
        },
        "CreateEmailContactResponse": {
            "type": "structure",
            "required": [
                "arn"
            ],
            "members": {
                "arn": {
                    "shape": "EmailContactArn"
                }
            }
        },
        "CreationTime": {
            "type": "timestamp",
            "timestampFormat": "iso8601"
        },
        "DeleteEmailContactRequest": {
            "type": "structure",
            "required": [
                "arn"
            ],
            "members": {
                "arn": {
                    "shape": "EmailContactArn",
                    "location": "uri",
                    "locationName": "arn"
                }
            }
        },
        "DeleteEmailContactResponse": {
            "type": "structure",
            "members": {}
        },
        "EmailContact": {
            "type": "structure",
            "required": [
                "arn",
                "name",
                "address",
                "status",
                "creationTime",
                "updateTime"
            ],
            "members": {
                "arn": {
                    "shape": "EmailContactArn"
                },
                "name": {
                    "shape": "EmailContactName"
                },
                "address": {
                    "shape": "SensitiveEmailContactAddress"
                },
                "status": {
                    "shape": "EmailContactStatus"
                },
                "creationTime": {
                    "shape": "CreationTime"
                },
                "updateTime": {
                    "shape": "UpdateTime"
                }
            }
        },
        "EmailContactAddress": {
            "type": "string",
            "max": 254,
            "min": 6,
            "pattern": "(.+)@(.+)"
        },
        "EmailContactArn": {
            "type": "string",
            "pattern": "arn:aws:notifications-contacts::[0-9]{12}:emailcontact/[a-z0-9]{27}"
        },
        "EmailContactName": {
            "type": "string",
            "max": 64,
            "min": 1,
            "pattern": ".*[w-.~]+.*",
            "sensitive": true
        },
        "EmailContactStatus": {
            "type": "string",
            "enum": [
                "inactive",
                "active"
            ]
        },
        "EmailContacts": {
            "type": "list",
            "member": {
                "shape": "EmailContact"
            }
        },
        "ErrorMessage": {
            "type": "string"
        },
        "GetEmailContactRequest": {
            "type": "structure",
            "required": [
                "arn"
            ],
            "members": {
                "arn": {
                    "shape": "EmailContactArn",
                    "location": "uri",
                    "locationName": "arn"
                }
            }
        },
        "GetEmailContactResponse": {
            "type": "structure",
            "required": [
                "emailContact"
            ],
            "members": {
                "emailContact": {
                    "shape": "EmailContact"
                }
            }
        },
        "Integer": {
            "type": "integer",
            "box": true
        },
        "InternalServerException": {
            "type": "structure",
            "required": [
                "message"
            ],
            "members": {
                "message": {
                    "shape": "ErrorMessage"
                }
            },
            "error": {
                "httpStatusCode": 500
            },
            "exception": true,
            "fault": true,
            "retryable": {
                "throttling": false
            }
        },
        "ListEmailContactsRequest": {
            "type": "structure",
            "members": {
                "maxResults": {
                    "shape": "ListEmailContactsRequestMaxResultsInteger",
                    "location": "querystring",
                    "locationName": "maxResults"
                },
                "nextToken": {
                    "shape": "String",
                    "location": "querystring",
                    "locationName": "nextToken"
                }
            }
        },
        "ListEmailContactsRequestMaxResultsInteger": {
            "type": "integer",
            "box": true,
            "max": 100,
            "min": 1
        },
        "ListEmailContactsResponse": {
            "type": "structure",
            "required": [
                "emailContacts"
            ],
            "members": {
                "nextToken": {
                    "shape": "String"
                },
                "emailContacts": {
                    "shape": "EmailContacts"
                }
            }
        },
        "ListTagsForResourceRequest": {
            "type": "structure",
            "required": [
                "arn"
            ],
            "members": {
                "arn": {
                    "shape": "EmailContactArn",
                    "location": "uri",
                    "locationName": "arn"
                }
            }
        },
        "ListTagsForResourceResponse": {
            "type": "structure",
            "members": {
                "tags": {
                    "shape": "TagMap"
                }
            }
        },
        "QuotaCode": {
            "type": "string"
        },
        "ResourceId": {
            "type": "string"
        },
        "ResourceNotFoundException": {
            "type": "structure",
            "required": [
                "message",
                "resourceId",
                "resourceType"
            ],
            "members": {
                "message": {
                    "shape": "ErrorMessage"
                },
                "resourceId": {
                    "shape": "ResourceId"
                },
                "resourceType": {
                    "shape": "ResourceType"
                }
            },
            "error": {
                "httpStatusCode": 404,
                "senderFault": true
            },
            "exception": true
        },
        "ResourceType": {
            "type": "string"
        },
        "SendActivationCodeRequest": {
            "type": "structure",
            "required": [
                "arn"
            ],
            "members": {
                "arn": {
                    "shape": "EmailContactArn",
                    "location": "uri",
                    "locationName": "arn"
                }
            }
        },
        "SendActivationCodeResponse": {
            "type": "structure",
            "members": {}
        },
        "SensitiveEmailContactAddress": {
            "type": "string",
            "max": 254,
            "min": 6,
            "pattern": "(.+)@(.+)",
            "sensitive": true
        },
        "ServiceCode": {
            "type": "string"
        },
        "ServiceQuotaExceededException": {
            "type": "structure",
            "required": [
                "message",
                "resourceId",
                "resourceType",
                "serviceCode",
                "quotaCode"
            ],
            "members": {
                "message": {
                    "shape": "ErrorMessage"
                },
                "resourceId": {
                    "shape": "ResourceId"
                },
                "resourceType": {
                    "shape": "ResourceType"
                },
                "serviceCode": {
                    "shape": "ServiceCode"
                },
                "quotaCode": {
                    "shape": "QuotaCode"
                }
            },
            "error": {
                "httpStatusCode": 402,
                "senderFault": true
            },
            "exception": true
        },
        "String": {
            "type": "string"
        },
        "TagKey": {
            "type": "string",
            "pattern": "(?!aws:).{1,128}"
        },
        "TagKeys": {
            "type": "list",
            "member": {
                "shape": "TagKey"
            }
        },
        "TagMap": {
            "type": "map",
            "key": {
                "shape": "TagKey"
            },
            "value": {
                "shape": "TagValue"
            },
            "documentation": "<p>Map of tags assigned to a resource</p>",
            "max": 200,
            "min": 0
        },
        "TagResourceRequest": {
            "type": "structure",
            "required": [
                "arn",
                "tags"
            ],
            "members": {
                "arn": {
                    "shape": "EmailContactArn",
                    "location": "uri",
                    "locationName": "arn"
                },
                "tags": {
                    "shape": "TagMap"
                }
            }
        },
        "TagResourceResponse": {
            "type": "structure",
            "members": {}
        },
        "TagValue": {
            "type": "string",
            "max": 256,
            "min": 0
        },
        "ThrottlingException": {
            "type": "structure",
            "required": [
                "message"
            ],
            "members": {
                "message": {
                    "shape": "ErrorMessage"
                },
                "serviceCode": {
                    "shape": "ServiceCode"
                },
                "quotaCode": {
                    "shape": "QuotaCode"
                },
                "retryAfterSeconds": {
                    "shape": "Integer",
                    "location": "header",
                    "locationName": "Retry-After"
                }
            },
            "error": {
                "httpStatusCode": 429,
                "senderFault": true
            },
            "exception": true,
            "retryable": {
                "throttling": true
            }
        },
        "Token": {
            "type": "string",
            "max": 7,
            "min": 7,
            "pattern": "[a-z0-9]{7}",
            "sensitive": true
        },
        "UntagResourceRequest": {
            "type": "structure",
            "required": [
                "arn",
                "tagKeys"
            ],
            "members": {
                "arn": {
                    "shape": "EmailContactArn",
                    "location": "uri",
                    "locationName": "arn"
                },
                "tagKeys": {
                    "shape": "TagKeys",
                    "documentation": "<p>The keys to remove</p>",
                    "location": "querystring",
                    "locationName": "tagKeys"
                }
            }
        },
        "UntagResourceResponse": {
            "type": "structure",
            "members": {}
        },
        "UpdateTime": {
            "type": "timestamp",
            "timestampFormat": "iso8601"
        },
        "ValidationException": {
            "type": "structure",
            "required": [
                "message",
                "reason"
            ],
            "members": {
                "message": {
                    "shape": "ErrorMessage"
                },
                "reason": {
                    "shape": "ValidationExceptionReason"
                },
                "fieldList": {
                    "shape": "ValidationExceptionFieldList"
                }
            },
            "error": {
                "httpStatusCode": 400,
                "senderFault": true
            },
            "exception": true
        },
        "ValidationExceptionField": {
            "type": "structure",
            "required": [
                "name",
                "message"
            ],
            "members": {
                "name": {
                    "shape": "String"
                },
                "message": {
                    "shape": "String"
                }
            }
        },
        "ValidationExceptionFieldList": {
            "type": "list",
            "member": {
                "shape": "ValidationExceptionField"
            }
        },
        "ValidationExceptionReason": {
            "type": "string",
            "enum": [
                "fieldValidationFailed",
                "other"
            ]
        }
    }
}