{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-05-10",
        "endpointPrefix": "notifications-contacts",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "AWS User Notifications Contacts",
        "serviceId": "NotificationsContacts",
        "signatureVersion": "v4",
        "signingName": "notifications-contacts",
        "uid": "notificationscontacts-2018-05-10",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/A4GIUITOLFZAH72LSASJ2I34QKCEXAXVXEF3OVBECMOO5SHIIBGA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ILEJSB2WGXMAWVCCRQHSHTDXSGTW362JXRFZQTSU2BDNGUXD4KMA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/A2DMQNYVW5ROMMRX74TLON7MZYW3GHEQYIV2YNWCXVF7BXUTFW5A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EQSZTOB5MM4NHCEBHP452LVM6YX2DKFRTS2VWMAUKNMT3RFSR4DQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Q4ZKABMN6ENR3HO7OZDEAEDE6X3U57KTJPIQC47UW4MFFH4XOC5A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/67SKYL6XRTS6FMRCH2GQD3C55WORUYBDXJBGQKBC5LMND432YT2A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VPBQ2224NIMAIN3SZSQUVJPCAAIDKSI25QUQ52JWRPE6BMLTATWQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DNTWPX3EX3GFPXD3S435KOFLNPZJDV57UHWGVU4NMSHIKYKWXPHA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZELNIWB3G6SVDBTB2IUALU6U4T6VFQYQAOUQTKDXBCVHFBSJGAWQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Y4QOTCOMGOOVV3CH4BRHTB4AJJYHDZZ7BASKNKJCUFWCXJFZBUOA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L7XPGLXB5XEKZGXZI3UJGHCPIZPYW5IRQT2AMKB2BYRSM6PBVANA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EKYF3MKSIUULT7QQEAUOT3EZ5NUNGRENPBJDVM7KSKOKWMSET7IA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GDAY3LJJD3LWBNANZZJS5YNYEHPBTWVYXXBZHHKWZO37CG6BG62Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6NNQ3CUIJRKGZ257P73DC7KEJXHIDIXBMEJVLWJ3L3W4GPBNEBOQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2L26QDO7EJEFBHTH2ASPL5VSMYM3A36X6GP2ARXPR5L4D7TDG6AA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GGLCVFSETSK5MOV6O2L5NMVFX6ZPMMBIZMGBUK3B4BJ3P5ZETPZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QGUYMCXUX7IBG66A63UP6EWYOZOXJL3LXIHA2YWLLRK5XGNJZN3A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OGIXKH7SO2UAIYJH4YYD4PJAFEINKVTJNLQPMZ7JWVYSSQOZYIIA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CEASFBMIXDW2TBWAKY56RRJZBHEOTYV2UZI3LHKGDSUUODKROAVA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KCJZEMO26MB6AVAVEVYHJ4BR3R6T5BKFHYFEUSEF3WX762T4WD4Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LROMBEQ4RCLOSXY3M2VJ62S6GVUVE7RXGL2MI3TO5BOYMBZEDDPQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HZ5VH6IAKVUQSNVQ3NCAST3MZK3AI4PPCSAQPMRMRSJJUQIAHEWQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TFZJV6OZ5DZOB46DHU4Y7LXZDRMVFFIZVVFDK5P53XUMUM2JLOWQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js"
        ]
    },
    "operations": {
        "ActivateEmailContact": {
            "name": "ActivateEmailContact",
            "http": {
                "method": "PUT",
                "requestUri": "/emailcontacts/{arn}/activate/{code}",
                "responseCode": 200
            },
            "input": {
                "shape": "ActivateEmailContactRequest"
            },
            "output": {
                "shape": "ActivateEmailContactResponse"
            },
            "errors": [
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "ConflictException"
                }
            ],
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILEJSB2WGXMAWVCCRQHSHTDXSGTW362JXRFZQTSU2BDNGUXD4KMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A2DMQNYVW5ROMMRX74TLON7MZYW3GHEQYIV2YNWCXVF7BXUTFW5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQSZTOB5MM4NHCEBHP452LVM6YX2DKFRTS2VWMAUKNMT3RFSR4DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4ZKABMN6ENR3HO7OZDEAEDE6X3U57KTJPIQC47UW4MFFH4XOC5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67SKYL6XRTS6FMRCH2GQD3C55WORUYBDXJBGQKBC5LMND432YT2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPBQ2224NIMAIN3SZSQUVJPCAAIDKSI25QUQ52JWRPE6BMLTATWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNTWPX3EX3GFPXD3S435KOFLNPZJDV57UHWGVU4NMSHIKYKWXPHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZELNIWB3G6SVDBTB2IUALU6U4T6VFQYQAOUQTKDXBCVHFBSJGAWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4QOTCOMGOOVV3CH4BRHTB4AJJYHDZZ7BASKNKJCUFWCXJFZBUOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L7XPGLXB5XEKZGXZI3UJGHCPIZPYW5IRQT2AMKB2BYRSM6PBVANA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKYF3MKSIUULT7QQEAUOT3EZ5NUNGRENPBJDVM7KSKOKWMSET7IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDAY3LJJD3LWBNANZZJS5YNYEHPBTWVYXXBZHHKWZO37CG6BG62Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NNQ3CUIJRKGZ257P73DC7KEJXHIDIXBMEJVLWJ3L3W4GPBNEBOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2L26QDO7EJEFBHTH2ASPL5VSMYM3A36X6GP2ARXPR5L4D7TDG6AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGLCVFSETSK5MOV6O2L5NMVFX6ZPMMBIZMGBUK3B4BJ3P5ZETPZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGUYMCXUX7IBG66A63UP6EWYOZOXJL3LXIHA2YWLLRK5XGNJZN3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGIXKH7SO2UAIYJH4YYD4PJAFEINKVTJNLQPMZ7JWVYSSQOZYIIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEASFBMIXDW2TBWAKY56RRJZBHEOTYV2UZI3LHKGDSUUODKROAVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCJZEMO26MB6AVAVEVYHJ4BR3R6T5BKFHYFEUSEF3WX762T4WD4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LROMBEQ4RCLOSXY3M2VJ62S6GVUVE7RXGL2MI3TO5BOYMBZEDDPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HZ5VH6IAKVUQSNVQ3NCAST3MZK3AI4PPCSAQPMRMRSJJUQIAHEWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFZJV6OZ5DZOB46DHU4Y7LXZDRMVFFIZVVFDK5P53XUMUM2JLOWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js"
            ]
        },
        "CreateEmailContact": {
            "name": "CreateEmailContact",
            "http": {
                "method": "POST",
                "requestUri": "/2022-09-19/emailcontacts",
                "responseCode": 201
            },
            "input": {
                "shape": "CreateEmailContactRequest"
            },
            "output": {
                "shape": "CreateEmailContactResponse"
            },
            "errors": [
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "ServiceQuotaExceededException"
                },
                {
                    "shape": "ConflictException"
                }
            ],
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILEJSB2WGXMAWVCCRQHSHTDXSGTW362JXRFZQTSU2BDNGUXD4KMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A2DMQNYVW5ROMMRX74TLON7MZYW3GHEQYIV2YNWCXVF7BXUTFW5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQSZTOB5MM4NHCEBHP452LVM6YX2DKFRTS2VWMAUKNMT3RFSR4DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4ZKABMN6ENR3HO7OZDEAEDE6X3U57KTJPIQC47UW4MFFH4XOC5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67SKYL6XRTS6FMRCH2GQD3C55WORUYBDXJBGQKBC5LMND432YT2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPBQ2224NIMAIN3SZSQUVJPCAAIDKSI25QUQ52JWRPE6BMLTATWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNTWPX3EX3GFPXD3S435KOFLNPZJDV57UHWGVU4NMSHIKYKWXPHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZELNIWB3G6SVDBTB2IUALU6U4T6VFQYQAOUQTKDXBCVHFBSJGAWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4QOTCOMGOOVV3CH4BRHTB4AJJYHDZZ7BASKNKJCUFWCXJFZBUOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L7XPGLXB5XEKZGXZI3UJGHCPIZPYW5IRQT2AMKB2BYRSM6PBVANA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKYF3MKSIUULT7QQEAUOT3EZ5NUNGRENPBJDVM7KSKOKWMSET7IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDAY3LJJD3LWBNANZZJS5YNYEHPBTWVYXXBZHHKWZO37CG6BG62Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NNQ3CUIJRKGZ257P73DC7KEJXHIDIXBMEJVLWJ3L3W4GPBNEBOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2L26QDO7EJEFBHTH2ASPL5VSMYM3A36X6GP2ARXPR5L4D7TDG6AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGLCVFSETSK5MOV6O2L5NMVFX6ZPMMBIZMGBUK3B4BJ3P5ZETPZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGUYMCXUX7IBG66A63UP6EWYOZOXJL3LXIHA2YWLLRK5XGNJZN3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGIXKH7SO2UAIYJH4YYD4PJAFEINKVTJNLQPMZ7JWVYSSQOZYIIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEASFBMIXDW2TBWAKY56RRJZBHEOTYV2UZI3LHKGDSUUODKROAVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCJZEMO26MB6AVAVEVYHJ4BR3R6T5BKFHYFEUSEF3WX762T4WD4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LROMBEQ4RCLOSXY3M2VJ62S6GVUVE7RXGL2MI3TO5BOYMBZEDDPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HZ5VH6IAKVUQSNVQ3NCAST3MZK3AI4PPCSAQPMRMRSJJUQIAHEWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFZJV6OZ5DZOB46DHU4Y7LXZDRMVFFIZVVFDK5P53XUMUM2JLOWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js"
            ]
        },
        "DeleteEmailContact": {
            "name": "DeleteEmailContact",
            "http": {
                "method": "DELETE",
                "requestUri": "/emailcontacts/{arn}",
                "responseCode": 200
            },
            "input": {
                "shape": "DeleteEmailContactRequest"
            },
            "output": {
                "shape": "DeleteEmailContactResponse"
            },
            "errors": [
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "ConflictException"
                }
            ],
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILEJSB2WGXMAWVCCRQHSHTDXSGTW362JXRFZQTSU2BDNGUXD4KMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A2DMQNYVW5ROMMRX74TLON7MZYW3GHEQYIV2YNWCXVF7BXUTFW5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQSZTOB5MM4NHCEBHP452LVM6YX2DKFRTS2VWMAUKNMT3RFSR4DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4ZKABMN6ENR3HO7OZDEAEDE6X3U57KTJPIQC47UW4MFFH4XOC5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67SKYL6XRTS6FMRCH2GQD3C55WORUYBDXJBGQKBC5LMND432YT2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPBQ2224NIMAIN3SZSQUVJPCAAIDKSI25QUQ52JWRPE6BMLTATWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNTWPX3EX3GFPXD3S435KOFLNPZJDV57UHWGVU4NMSHIKYKWXPHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZELNIWB3G6SVDBTB2IUALU6U4T6VFQYQAOUQTKDXBCVHFBSJGAWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4QOTCOMGOOVV3CH4BRHTB4AJJYHDZZ7BASKNKJCUFWCXJFZBUOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L7XPGLXB5XEKZGXZI3UJGHCPIZPYW5IRQT2AMKB2BYRSM6PBVANA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKYF3MKSIUULT7QQEAUOT3EZ5NUNGRENPBJDVM7KSKOKWMSET7IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDAY3LJJD3LWBNANZZJS5YNYEHPBTWVYXXBZHHKWZO37CG6BG62Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NNQ3CUIJRKGZ257P73DC7KEJXHIDIXBMEJVLWJ3L3W4GPBNEBOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2L26QDO7EJEFBHTH2ASPL5VSMYM3A36X6GP2ARXPR5L4D7TDG6AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGLCVFSETSK5MOV6O2L5NMVFX6ZPMMBIZMGBUK3B4BJ3P5ZETPZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGUYMCXUX7IBG66A63UP6EWYOZOXJL3LXIHA2YWLLRK5XGNJZN3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGIXKH7SO2UAIYJH4YYD4PJAFEINKVTJNLQPMZ7JWVYSSQOZYIIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEASFBMIXDW2TBWAKY56RRJZBHEOTYV2UZI3LHKGDSUUODKROAVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCJZEMO26MB6AVAVEVYHJ4BR3R6T5BKFHYFEUSEF3WX762T4WD4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LROMBEQ4RCLOSXY3M2VJ62S6GVUVE7RXGL2MI3TO5BOYMBZEDDPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HZ5VH6IAKVUQSNVQ3NCAST3MZK3AI4PPCSAQPMRMRSJJUQIAHEWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFZJV6OZ5DZOB46DHU4Y7LXZDRMVFFIZVVFDK5P53XUMUM2JLOWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js"
            ]
        },
        "GetEmailContact": {
            "name": "GetEmailContact",
            "http": {
                "method": "GET",
                "requestUri": "/emailcontacts/{arn}",
                "responseCode": 200
            },
            "input": {
                "shape": "GetEmailContactRequest"
            },
            "output": {
                "shape": "GetEmailContactResponse"
            },
            "errors": [
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ValidationException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILEJSB2WGXMAWVCCRQHSHTDXSGTW362JXRFZQTSU2BDNGUXD4KMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A2DMQNYVW5ROMMRX74TLON7MZYW3GHEQYIV2YNWCXVF7BXUTFW5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQSZTOB5MM4NHCEBHP452LVM6YX2DKFRTS2VWMAUKNMT3RFSR4DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4ZKABMN6ENR3HO7OZDEAEDE6X3U57KTJPIQC47UW4MFFH4XOC5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67SKYL6XRTS6FMRCH2GQD3C55WORUYBDXJBGQKBC5LMND432YT2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPBQ2224NIMAIN3SZSQUVJPCAAIDKSI25QUQ52JWRPE6BMLTATWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNTWPX3EX3GFPXD3S435KOFLNPZJDV57UHWGVU4NMSHIKYKWXPHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZELNIWB3G6SVDBTB2IUALU6U4T6VFQYQAOUQTKDXBCVHFBSJGAWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4QOTCOMGOOVV3CH4BRHTB4AJJYHDZZ7BASKNKJCUFWCXJFZBUOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L7XPGLXB5XEKZGXZI3UJGHCPIZPYW5IRQT2AMKB2BYRSM6PBVANA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKYF3MKSIUULT7QQEAUOT3EZ5NUNGRENPBJDVM7KSKOKWMSET7IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDAY3LJJD3LWBNANZZJS5YNYEHPBTWVYXXBZHHKWZO37CG6BG62Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NNQ3CUIJRKGZ257P73DC7KEJXHIDIXBMEJVLWJ3L3W4GPBNEBOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2L26QDO7EJEFBHTH2ASPL5VSMYM3A36X6GP2ARXPR5L4D7TDG6AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGLCVFSETSK5MOV6O2L5NMVFX6ZPMMBIZMGBUK3B4BJ3P5ZETPZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGUYMCXUX7IBG66A63UP6EWYOZOXJL3LXIHA2YWLLRK5XGNJZN3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGIXKH7SO2UAIYJH4YYD4PJAFEINKVTJNLQPMZ7JWVYSSQOZYIIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEASFBMIXDW2TBWAKY56RRJZBHEOTYV2UZI3LHKGDSUUODKROAVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCJZEMO26MB6AVAVEVYHJ4BR3R6T5BKFHYFEUSEF3WX762T4WD4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LROMBEQ4RCLOSXY3M2VJ62S6GVUVE7RXGL2MI3TO5BOYMBZEDDPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HZ5VH6IAKVUQSNVQ3NCAST3MZK3AI4PPCSAQPMRMRSJJUQIAHEWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFZJV6OZ5DZOB46DHU4Y7LXZDRMVFFIZVVFDK5P53XUMUM2JLOWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js"
            ]
        },
        "ListEmailContacts": {
            "name": "ListEmailContacts",
            "http": {
                "method": "GET",
                "requestUri": "/emailcontacts",
                "responseCode": 200
            },
            "input": {
                "shape": "ListEmailContactsRequest"
            },
            "output": {
                "shape": "ListEmailContactsResponse"
            },
            "errors": [
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ValidationException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILEJSB2WGXMAWVCCRQHSHTDXSGTW362JXRFZQTSU2BDNGUXD4KMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A2DMQNYVW5ROMMRX74TLON7MZYW3GHEQYIV2YNWCXVF7BXUTFW5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQSZTOB5MM4NHCEBHP452LVM6YX2DKFRTS2VWMAUKNMT3RFSR4DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4ZKABMN6ENR3HO7OZDEAEDE6X3U57KTJPIQC47UW4MFFH4XOC5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67SKYL6XRTS6FMRCH2GQD3C55WORUYBDXJBGQKBC5LMND432YT2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPBQ2224NIMAIN3SZSQUVJPCAAIDKSI25QUQ52JWRPE6BMLTATWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNTWPX3EX3GFPXD3S435KOFLNPZJDV57UHWGVU4NMSHIKYKWXPHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZELNIWB3G6SVDBTB2IUALU6U4T6VFQYQAOUQTKDXBCVHFBSJGAWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4QOTCOMGOOVV3CH4BRHTB4AJJYHDZZ7BASKNKJCUFWCXJFZBUOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L7XPGLXB5XEKZGXZI3UJGHCPIZPYW5IRQT2AMKB2BYRSM6PBVANA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKYF3MKSIUULT7QQEAUOT3EZ5NUNGRENPBJDVM7KSKOKWMSET7IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDAY3LJJD3LWBNANZZJS5YNYEHPBTWVYXXBZHHKWZO37CG6BG62Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NNQ3CUIJRKGZ257P73DC7KEJXHIDIXBMEJVLWJ3L3W4GPBNEBOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2L26QDO7EJEFBHTH2ASPL5VSMYM3A36X6GP2ARXPR5L4D7TDG6AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGLCVFSETSK5MOV6O2L5NMVFX6ZPMMBIZMGBUK3B4BJ3P5ZETPZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGUYMCXUX7IBG66A63UP6EWYOZOXJL3LXIHA2YWLLRK5XGNJZN3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGIXKH7SO2UAIYJH4YYD4PJAFEINKVTJNLQPMZ7JWVYSSQOZYIIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEASFBMIXDW2TBWAKY56RRJZBHEOTYV2UZI3LHKGDSUUODKROAVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCJZEMO26MB6AVAVEVYHJ4BR3R6T5BKFHYFEUSEF3WX762T4WD4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LROMBEQ4RCLOSXY3M2VJ62S6GVUVE7RXGL2MI3TO5BOYMBZEDDPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HZ5VH6IAKVUQSNVQ3NCAST3MZK3AI4PPCSAQPMRMRSJJUQIAHEWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFZJV6OZ5DZOB46DHU4Y7LXZDRMVFFIZVVFDK5P53XUMUM2JLOWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js"
            ]
        },
        "ListTagsForResource": {
            "name": "ListTagsForResource",
            "http": {
                "method": "GET",
                "requestUri": "/tags/{arn}",
                "responseCode": 200
            },
            "input": {
                "shape": "ListTagsForResourceRequest"
            },
            "output": {
                "shape": "ListTagsForResourceResponse"
            },
            "errors": [
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ValidationException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILEJSB2WGXMAWVCCRQHSHTDXSGTW362JXRFZQTSU2BDNGUXD4KMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A2DMQNYVW5ROMMRX74TLON7MZYW3GHEQYIV2YNWCXVF7BXUTFW5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQSZTOB5MM4NHCEBHP452LVM6YX2DKFRTS2VWMAUKNMT3RFSR4DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4ZKABMN6ENR3HO7OZDEAEDE6X3U57KTJPIQC47UW4MFFH4XOC5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67SKYL6XRTS6FMRCH2GQD3C55WORUYBDXJBGQKBC5LMND432YT2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPBQ2224NIMAIN3SZSQUVJPCAAIDKSI25QUQ52JWRPE6BMLTATWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNTWPX3EX3GFPXD3S435KOFLNPZJDV57UHWGVU4NMSHIKYKWXPHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZELNIWB3G6SVDBTB2IUALU6U4T6VFQYQAOUQTKDXBCVHFBSJGAWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4QOTCOMGOOVV3CH4BRHTB4AJJYHDZZ7BASKNKJCUFWCXJFZBUOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L7XPGLXB5XEKZGXZI3UJGHCPIZPYW5IRQT2AMKB2BYRSM6PBVANA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKYF3MKSIUULT7QQEAUOT3EZ5NUNGRENPBJDVM7KSKOKWMSET7IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDAY3LJJD3LWBNANZZJS5YNYEHPBTWVYXXBZHHKWZO37CG6BG62Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NNQ3CUIJRKGZ257P73DC7KEJXHIDIXBMEJVLWJ3L3W4GPBNEBOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2L26QDO7EJEFBHTH2ASPL5VSMYM3A36X6GP2ARXPR5L4D7TDG6AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGLCVFSETSK5MOV6O2L5NMVFX6ZPMMBIZMGBUK3B4BJ3P5ZETPZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGUYMCXUX7IBG66A63UP6EWYOZOXJL3LXIHA2YWLLRK5XGNJZN3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGIXKH7SO2UAIYJH4YYD4PJAFEINKVTJNLQPMZ7JWVYSSQOZYIIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEASFBMIXDW2TBWAKY56RRJZBHEOTYV2UZI3LHKGDSUUODKROAVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCJZEMO26MB6AVAVEVYHJ4BR3R6T5BKFHYFEUSEF3WX762T4WD4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LROMBEQ4RCLOSXY3M2VJ62S6GVUVE7RXGL2MI3TO5BOYMBZEDDPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HZ5VH6IAKVUQSNVQ3NCAST3MZK3AI4PPCSAQPMRMRSJJUQIAHEWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFZJV6OZ5DZOB46DHU4Y7LXZDRMVFFIZVVFDK5P53XUMUM2JLOWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js"
            ]
        },
        "SendActivationCode": {
            "name": "SendActivationCode",
            "http": {
                "method": "POST",
                "requestUri": "/2022-10-31/emailcontacts/{arn}/activate/send",
                "responseCode": 200
            },
            "input": {
                "shape": "SendActivationCodeRequest"
            },
            "output": {
                "shape": "SendActivationCodeResponse"
            },
            "errors": [
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "ConflictException"
                }
            ],
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILEJSB2WGXMAWVCCRQHSHTDXSGTW362JXRFZQTSU2BDNGUXD4KMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A2DMQNYVW5ROMMRX74TLON7MZYW3GHEQYIV2YNWCXVF7BXUTFW5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQSZTOB5MM4NHCEBHP452LVM6YX2DKFRTS2VWMAUKNMT3RFSR4DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4ZKABMN6ENR3HO7OZDEAEDE6X3U57KTJPIQC47UW4MFFH4XOC5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67SKYL6XRTS6FMRCH2GQD3C55WORUYBDXJBGQKBC5LMND432YT2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPBQ2224NIMAIN3SZSQUVJPCAAIDKSI25QUQ52JWRPE6BMLTATWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNTWPX3EX3GFPXD3S435KOFLNPZJDV57UHWGVU4NMSHIKYKWXPHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZELNIWB3G6SVDBTB2IUALU6U4T6VFQYQAOUQTKDXBCVHFBSJGAWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4QOTCOMGOOVV3CH4BRHTB4AJJYHDZZ7BASKNKJCUFWCXJFZBUOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L7XPGLXB5XEKZGXZI3UJGHCPIZPYW5IRQT2AMKB2BYRSM6PBVANA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKYF3MKSIUULT7QQEAUOT3EZ5NUNGRENPBJDVM7KSKOKWMSET7IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDAY3LJJD3LWBNANZZJS5YNYEHPBTWVYXXBZHHKWZO37CG6BG62Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NNQ3CUIJRKGZ257P73DC7KEJXHIDIXBMEJVLWJ3L3W4GPBNEBOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2L26QDO7EJEFBHTH2ASPL5VSMYM3A36X6GP2ARXPR5L4D7TDG6AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGLCVFSETSK5MOV6O2L5NMVFX6ZPMMBIZMGBUK3B4BJ3P5ZETPZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGUYMCXUX7IBG66A63UP6EWYOZOXJL3LXIHA2YWLLRK5XGNJZN3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGIXKH7SO2UAIYJH4YYD4PJAFEINKVTJNLQPMZ7JWVYSSQOZYIIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEASFBMIXDW2TBWAKY56RRJZBHEOTYV2UZI3LHKGDSUUODKROAVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCJZEMO26MB6AVAVEVYHJ4BR3R6T5BKFHYFEUSEF3WX762T4WD4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LROMBEQ4RCLOSXY3M2VJ62S6GVUVE7RXGL2MI3TO5BOYMBZEDDPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HZ5VH6IAKVUQSNVQ3NCAST3MZK3AI4PPCSAQPMRMRSJJUQIAHEWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFZJV6OZ5DZOB46DHU4Y7LXZDRMVFFIZVVFDK5P53XUMUM2JLOWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js"
            ]
        },
        "TagResource": {
            "name": "TagResource",
            "http": {
                "method": "POST",
                "requestUri": "/tags/{arn}",
                "responseCode": 200
            },
            "input": {
                "shape": "TagResourceRequest"
            },
            "output": {
                "shape": "TagResourceResponse"
            },
            "errors": [
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ValidationException"
                }
            ],
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILEJSB2WGXMAWVCCRQHSHTDXSGTW362JXRFZQTSU2BDNGUXD4KMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A2DMQNYVW5ROMMRX74TLON7MZYW3GHEQYIV2YNWCXVF7BXUTFW5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQSZTOB5MM4NHCEBHP452LVM6YX2DKFRTS2VWMAUKNMT3RFSR4DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4ZKABMN6ENR3HO7OZDEAEDE6X3U57KTJPIQC47UW4MFFH4XOC5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67SKYL6XRTS6FMRCH2GQD3C55WORUYBDXJBGQKBC5LMND432YT2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPBQ2224NIMAIN3SZSQUVJPCAAIDKSI25QUQ52JWRPE6BMLTATWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNTWPX3EX3GFPXD3S435KOFLNPZJDV57UHWGVU4NMSHIKYKWXPHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZELNIWB3G6SVDBTB2IUALU6U4T6VFQYQAOUQTKDXBCVHFBSJGAWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4QOTCOMGOOVV3CH4BRHTB4AJJYHDZZ7BASKNKJCUFWCXJFZBUOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L7XPGLXB5XEKZGXZI3UJGHCPIZPYW5IRQT2AMKB2BYRSM6PBVANA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKYF3MKSIUULT7QQEAUOT3EZ5NUNGRENPBJDVM7KSKOKWMSET7IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDAY3LJJD3LWBNANZZJS5YNYEHPBTWVYXXBZHHKWZO37CG6BG62Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NNQ3CUIJRKGZ257P73DC7KEJXHIDIXBMEJVLWJ3L3W4GPBNEBOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2L26QDO7EJEFBHTH2ASPL5VSMYM3A36X6GP2ARXPR5L4D7TDG6AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGLCVFSETSK5MOV6O2L5NMVFX6ZPMMBIZMGBUK3B4BJ3P5ZETPZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGUYMCXUX7IBG66A63UP6EWYOZOXJL3LXIHA2YWLLRK5XGNJZN3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGIXKH7SO2UAIYJH4YYD4PJAFEINKVTJNLQPMZ7JWVYSSQOZYIIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEASFBMIXDW2TBWAKY56RRJZBHEOTYV2UZI3LHKGDSUUODKROAVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCJZEMO26MB6AVAVEVYHJ4BR3R6T5BKFHYFEUSEF3WX762T4WD4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LROMBEQ4RCLOSXY3M2VJ62S6GVUVE7RXGL2MI3TO5BOYMBZEDDPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HZ5VH6IAKVUQSNVQ3NCAST3MZK3AI4PPCSAQPMRMRSJJUQIAHEWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFZJV6OZ5DZOB46DHU4Y7LXZDRMVFFIZVVFDK5P53XUMUM2JLOWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js"
            ]
        },
        "UntagResource": {
            "name": "UntagResource",
            "http": {
                "method": "DELETE",
                "requestUri": "/tags/{arn}",
                "responseCode": 200
            },
            "input": {
                "shape": "UntagResourceRequest"
            },
            "output": {
                "shape": "UntagResourceResponse"
            },
            "errors": [
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ValidationException"
                }
            ],
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILEJSB2WGXMAWVCCRQHSHTDXSGTW362JXRFZQTSU2BDNGUXD4KMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A2DMQNYVW5ROMMRX74TLON7MZYW3GHEQYIV2YNWCXVF7BXUTFW5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQSZTOB5MM4NHCEBHP452LVM6YX2DKFRTS2VWMAUKNMT3RFSR4DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4ZKABMN6ENR3HO7OZDEAEDE6X3U57KTJPIQC47UW4MFFH4XOC5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67SKYL6XRTS6FMRCH2GQD3C55WORUYBDXJBGQKBC5LMND432YT2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPBQ2224NIMAIN3SZSQUVJPCAAIDKSI25QUQ52JWRPE6BMLTATWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNTWPX3EX3GFPXD3S435KOFLNPZJDV57UHWGVU4NMSHIKYKWXPHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZELNIWB3G6SVDBTB2IUALU6U4T6VFQYQAOUQTKDXBCVHFBSJGAWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4QOTCOMGOOVV3CH4BRHTB4AJJYHDZZ7BASKNKJCUFWCXJFZBUOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L7XPGLXB5XEKZGXZI3UJGHCPIZPYW5IRQT2AMKB2BYRSM6PBVANA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKYF3MKSIUULT7QQEAUOT3EZ5NUNGRENPBJDVM7KSKOKWMSET7IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDAY3LJJD3LWBNANZZJS5YNYEHPBTWVYXXBZHHKWZO37CG6BG62Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NNQ3CUIJRKGZ257P73DC7KEJXHIDIXBMEJVLWJ3L3W4GPBNEBOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2L26QDO7EJEFBHTH2ASPL5VSMYM3A36X6GP2ARXPR5L4D7TDG6AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGLCVFSETSK5MOV6O2L5NMVFX6ZPMMBIZMGBUK3B4BJ3P5ZETPZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGUYMCXUX7IBG66A63UP6EWYOZOXJL3LXIHA2YWLLRK5XGNJZN3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGIXKH7SO2UAIYJH4YYD4PJAFEINKVTJNLQPMZ7JWVYSSQOZYIIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEASFBMIXDW2TBWAKY56RRJZBHEOTYV2UZI3LHKGDSUUODKROAVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCJZEMO26MB6AVAVEVYHJ4BR3R6T5BKFHYFEUSEF3WX762T4WD4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LROMBEQ4RCLOSXY3M2VJ62S6GVUVE7RXGL2MI3TO5BOYMBZEDDPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HZ5VH6IAKVUQSNVQ3NCAST3MZK3AI4PPCSAQPMRMRSJJUQIAHEWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFZJV6OZ5DZOB46DHU4Y7LXZDRMVFFIZVVFDK5P53XUMUM2JLOWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js"
            ]
        }
    },
    "shapes": {
        "AccessDeniedException": {
            "type": "structure",
            "required": [
                "message"
            ],
            "members": {
                "message": {
                    "shape": "ErrorMessage"
                }
            },
            "error": {
                "httpStatusCode": 403,
                "senderFault": true
            },
            "exception": true
        },
        "ActivateEmailContactRequest": {
            "type": "structure",
            "required": [
                "arn",
                "code"
            ],
            "members": {
                "arn": {
                    "shape": "EmailContactArn",
                    "location": "uri",
                    "locationName": "arn"
                },
                "code": {
                    "shape": "Token",
                    "location": "uri",
                    "locationName": "code"
                }
            }
        },
        "ActivateEmailContactResponse": {
            "type": "structure",
            "members": {}
        },
        "ConflictException": {
            "type": "structure",
            "required": [
                "message",
                "resourceId",
                "resourceType"
            ],
            "members": {
                "message": {
                    "shape": "ErrorMessage"
                },
                "resourceId": {
                    "shape": "ResourceId"
                },
                "resourceType": {
                    "shape": "ResourceType"
                }
            },
            "error": {
                "httpStatusCode": 409,
                "senderFault": true
            },
            "exception": true
        },
        "CreateEmailContactRequest": {
            "type": "structure",
            "required": [
                "name",
                "emailAddress"
            ],
            "members": {
                "name": {
                    "shape": "EmailContactName"
                },
                "emailAddress": {
                    "shape": "EmailContactAddress"
                },
                "tags": {
                    "shape": "TagMap"
                }
            }
        },
        "CreateEmailContactResponse": {
            "type": "structure",
            "required": [
                "arn"
            ],
            "members": {
                "arn": {
                    "shape": "EmailContactArn"
                }
            }
        },
        "CreationTime": {
            "type": "timestamp",
            "timestampFormat": "iso8601"
        },
        "DeleteEmailContactRequest": {
            "type": "structure",
            "required": [
                "arn"
            ],
            "members": {
                "arn": {
                    "shape": "EmailContactArn",
                    "location": "uri",
                    "locationName": "arn"
                }
            }
        },
        "DeleteEmailContactResponse": {
            "type": "structure",
            "members": {}
        },
        "EmailContact": {
            "type": "structure",
            "required": [
                "arn",
                "name",
                "address",
                "status",
                "creationTime",
                "updateTime"
            ],
            "members": {
                "arn": {
                    "shape": "EmailContactArn"
                },
                "name": {
                    "shape": "EmailContactName"
                },
                "address": {
                    "shape": "SensitiveEmailContactAddress"
                },
                "status": {
                    "shape": "EmailContactStatus"
                },
                "creationTime": {
                    "shape": "CreationTime"
                },
                "updateTime": {
                    "shape": "UpdateTime"
                }
            }
        },
        "EmailContactAddress": {
            "type": "string",
            "max": 254,
            "min": 6,
            "pattern": "(.+)@(.+)"
        },
        "EmailContactArn": {
            "type": "string",
            "pattern": "arn:aws:notifications-contacts::[0-9]{12}:emailcontact/[a-z0-9]{27}"
        },
        "EmailContactName": {
            "type": "string",
            "max": 64,
            "min": 1,
            "pattern": ".*[w-.~]+.*",
            "sensitive": true
        },
        "EmailContactStatus": {
            "type": "string",
            "enum": [
                "inactive",
                "active"
            ]
        },
        "EmailContacts": {
            "type": "list",
            "member": {
                "shape": "EmailContact"
            }
        },
        "ErrorMessage": {
            "type": "string"
        },
        "GetEmailContactRequest": {
            "type": "structure",
            "required": [
                "arn"
            ],
            "members": {
                "arn": {
                    "shape": "EmailContactArn",
                    "location": "uri",
                    "locationName": "arn"
                }
            }
        },
        "GetEmailContactResponse": {
            "type": "structure",
            "required": [
                "emailContact"
            ],
            "members": {
                "emailContact": {
                    "shape": "EmailContact"
                }
            }
        },
        "Integer": {
            "type": "integer",
            "box": true
        },
        "InternalServerException": {
            "type": "structure",
            "required": [
                "message"
            ],
            "members": {
                "message": {
                    "shape": "ErrorMessage"
                }
            },
            "error": {
                "httpStatusCode": 500
            },
            "exception": true,
            "fault": true,
            "retryable": {
                "throttling": false
            }
        },
        "ListEmailContactsRequest": {
            "type": "structure",
            "members": {
                "maxResults": {
                    "shape": "ListEmailContactsRequestMaxResultsInteger",
                    "location": "querystring",
                    "locationName": "maxResults"
                },
                "nextToken": {
                    "shape": "String",
                    "location": "querystring",
                    "locationName": "nextToken"
                }
            }
        },
        "ListEmailContactsRequestMaxResultsInteger": {
            "type": "integer",
            "box": true,
            "max": 100,
            "min": 1
        },
        "ListEmailContactsResponse": {
            "type": "structure",
            "required": [
                "emailContacts"
            ],
            "members": {
                "nextToken": {
                    "shape": "String"
                },
                "emailContacts": {
                    "shape": "EmailContacts"
                }
            }
        },
        "ListTagsForResourceRequest": {
            "type": "structure",
            "required": [
                "arn"
            ],
            "members": {
                "arn": {
                    "shape": "EmailContactArn",
                    "location": "uri",
                    "locationName": "arn"
                }
            }
        },
        "ListTagsForResourceResponse": {
            "type": "structure",
            "members": {
                "tags": {
                    "shape": "TagMap"
                }
            }
        },
        "QuotaCode": {
            "type": "string"
        },
        "ResourceId": {
            "type": "string"
        },
        "ResourceNotFoundException": {
            "type": "structure",
            "required": [
                "message",
                "resourceId",
                "resourceType"
            ],
            "members": {
                "message": {
                    "shape": "ErrorMessage"
                },
                "resourceId": {
                    "shape": "ResourceId"
                },
                "resourceType": {
                    "shape": "ResourceType"
                }
            },
            "error": {
                "httpStatusCode": 404,
                "senderFault": true
            },
            "exception": true
        },
        "ResourceType": {
            "type": "string"
        },
        "SendActivationCodeRequest": {
            "type": "structure",
            "required": [
                "arn"
            ],
            "members": {
                "arn": {
                    "shape": "EmailContactArn",
                    "location": "uri",
                    "locationName": "arn"
                }
            }
        },
        "SendActivationCodeResponse": {
            "type": "structure",
            "members": {}
        },
        "SensitiveEmailContactAddress": {
            "type": "string",
            "max": 254,
            "min": 6,
            "pattern": "(.+)@(.+)",
            "sensitive": true
        },
        "ServiceCode": {
            "type": "string"
        },
        "ServiceQuotaExceededException": {
            "type": "structure",
            "required": [
                "message",
                "resourceId",
                "resourceType",
                "serviceCode",
                "quotaCode"
            ],
            "members": {
                "message": {
                    "shape": "ErrorMessage"
                },
                "resourceId": {
                    "shape": "ResourceId"
                },
                "resourceType": {
                    "shape": "ResourceType"
                },
                "serviceCode": {
                    "shape": "ServiceCode"
                },
                "quotaCode": {
                    "shape": "QuotaCode"
                }
            },
            "error": {
                "httpStatusCode": 402,
                "senderFault": true
            },
            "exception": true
        },
        "String": {
            "type": "string"
        },
        "TagKey": {
            "type": "string",
            "pattern": "(?!aws:).{1,128}"
        },
        "TagKeys": {
            "type": "list",
            "member": {
                "shape": "TagKey"
            }
        },
        "TagMap": {
            "type": "map",
            "key": {
                "shape": "TagKey"
            },
            "value": {
                "shape": "TagValue"
            },
            "documentation": "<p>Map of tags assigned to a resource</p>",
            "max": 200,
            "min": 0
        },
        "TagResourceRequest": {
            "type": "structure",
            "required": [
                "arn",
                "tags"
            ],
            "members": {
                "arn": {
                    "shape": "EmailContactArn",
                    "location": "uri",
                    "locationName": "arn"
                },
                "tags": {
                    "shape": "TagMap"
                }
            }
        },
        "TagResourceResponse": {
            "type": "structure",
            "members": {}
        },
        "TagValue": {
            "type": "string",
            "max": 256,
            "min": 0
        },
        "ThrottlingException": {
            "type": "structure",
            "required": [
                "message"
            ],
            "members": {
                "message": {
                    "shape": "ErrorMessage"
                },
                "serviceCode": {
                    "shape": "ServiceCode"
                },
                "quotaCode": {
                    "shape": "QuotaCode"
                },
                "retryAfterSeconds": {
                    "shape": "Integer",
                    "location": "header",
                    "locationName": "Retry-After"
                }
            },
            "error": {
                "httpStatusCode": 429,
                "senderFault": true
            },
            "exception": true,
            "retryable": {
                "throttling": true
            }
        },
        "Token": {
            "type": "string",
            "max": 7,
            "min": 7,
            "pattern": "[a-z0-9]{7}",
            "sensitive": true
        },
        "UntagResourceRequest": {
            "type": "structure",
            "required": [
                "arn",
                "tagKeys"
            ],
            "members": {
                "arn": {
                    "shape": "EmailContactArn",
                    "location": "uri",
                    "locationName": "arn"
                },
                "tagKeys": {
                    "shape": "TagKeys",
                    "documentation": "<p>The keys to remove</p>",
                    "location": "querystring",
                    "locationName": "tagKeys"
                }
            }
        },
        "UntagResourceResponse": {
            "type": "structure",
            "members": {}
        },
        "UpdateTime": {
            "type": "timestamp",
            "timestampFormat": "iso8601"
        },
        "ValidationException": {
            "type": "structure",
            "required": [
                "message",
                "reason"
            ],
            "members": {
                "message": {
                    "shape": "ErrorMessage"
                },
                "reason": {
                    "shape": "ValidationExceptionReason"
                },
                "fieldList": {
                    "shape": "ValidationExceptionFieldList"
                }
            },
            "error": {
                "httpStatusCode": 400,
                "senderFault": true
            },
            "exception": true
        },
        "ValidationExceptionField": {
            "type": "structure",
            "required": [
                "name",
                "message"
            ],
            "members": {
                "name": {
                    "shape": "String"
                },
                "message": {
                    "shape": "String"
                }
            }
        },
        "ValidationExceptionFieldList": {
            "type": "list",
            "member": {
                "shape": "ValidationExceptionField"
            }
        },
        "ValidationExceptionReason": {
            "type": "string",
            "enum": [
                "fieldValidationFailed",
                "other"
            ]
        }
    }
}