{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-05-10",
        "endpointPrefix": "notifications",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "AWS User Notifications",
        "serviceId": "Notifications",
        "signatureVersion": "v4",
        "signingName": "notifications",
        "uid": "notifications-2018-05-10",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/5YTO3WUCCD4ULYXIPXQBT2MH6H37KBZLLS3OO4U3BR4BP3DOOHLA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QXGIUG3CDZF5Z74KRYHSQFQY2T2RVOXMQYGHWHZGKPBHXJFNGT3A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/U5M5PRH3VVZQXS2WFWRCXQPOKQJAYO4EMUWQCZYJA37UO3X54SKA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XUJ6SZOKWVLVNLY5DAIO5YZ77ID57BNIVIVIUT4KT62NFASSRU7Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RO762CGSTUPYDSGVQLPRPMH4FA56ZXIQWAYRE37G7BOQFEBPJ2JQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FFUTF5X7CFDSWJ3NYN3N63AOHH7K5PSCJSL6T44LZT5HLUQBYOKA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EX6FENVVDUEEHU7QZ53LN7TUND4LWBHJDSGLG5AMH623JWC7UL6Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7LMWYV5FHZ53BPYVSPRAEJMXOSEAGJTI7YJW3ULDGAIT65ZK7OIQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LYRAAUICCSIZFPPK34NSM7H65R2XRIPGJOCCLYZSV37LG3XI2XDQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/52M6PNY4K44IBSO2U3SAWEWMIBJAM6L22SRP367T55TBGPXD4VZA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/O4BAPIEGHZ5CEYV7I56DR75ED6AYLRR44HBVLDRXYRURINEXCOLA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JIIB4W3PWJ4PDAZHXNRG6P65XFJS4QP3PLGLZ7JLIVNOPRMNQAFA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MMFPEADZAMMGLOMCM4ADKYJ3QJEOYEIVMNH7JTCH7KDASAIEDUSQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JIXV72X3WE2JNMVUFDYGGTNKB3QJXUK63MGBSVE2XAW7UD2NP2EA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NTFVLRM5DSBHFLM4POPZDY7OODJGHM4FP54SAHJ3ZFSU4S3DC2NQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VNKQUSFBCEAL6MJH4WFEKMA2C3AB43TZNISDAH2PQJZHF6P5VUTA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/V4YRZT5QWWMY3FPLF2ABBNYKHRD3GLF5CGSENCCB76YL23BK6GCA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2LHSWFYJFBDRCKGOZFVAMVXXSFIP3L37GTTTWQEDZB3ZQMZDIQRA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RBH3XX3RI56SVM2SXXMHOZQHQHY4RFSEARAD5OYAYTGTUINACEJQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PPDMF43QO66WIU42YEBJVP4CPD3FC44X3NDGRY5WATIN7QOSUX2Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VWSV5FOYX7K2WHF7JZ7XTNM2SYT4RXCXLG5FCREB6C6SPAXQQQXQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R4VC2W2TSVP5HFVZMDIPZIACJSSXEUOMAQRKPOCPDBZO2WGEYTXQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YUEWQV2HOZWMFRG3M2OKKZG3HR7GE42CGCSCQ5PXEJXRG5UUTNHQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/74M425YKMKOJXBMCGHOYPDUPIN3QFMJ524SZXGXOPZ77VVMVWI2Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AHU7FBN5YMGNGUZREAK6RUGXIOMPYZBTQKBY3N2OY33ZIZ7J5WJA/vendors.js"
        ]
    },
    "operations": {
        "AssociateChannel": {
            "name": "AssociateChannel",
            "http": {
                "method": "POST",
                "requestUri": "/channels/associate/{arn}",
                "responseCode": 201
            },
            "input": {
                "shape": "AssociateChannelRequest"
            },
            "output": {
                "shape": "AssociateChannelResponse"
            },
            "errors": [
                {
                    "shape": "ServiceQuotaExceededException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "ResourceNotFoundException"
                }
            ],
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXGIUG3CDZF5Z74KRYHSQFQY2T2RVOXMQYGHWHZGKPBHXJFNGT3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U5M5PRH3VVZQXS2WFWRCXQPOKQJAYO4EMUWQCZYJA37UO3X54SKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XUJ6SZOKWVLVNLY5DAIO5YZ77ID57BNIVIVIUT4KT62NFASSRU7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RO762CGSTUPYDSGVQLPRPMH4FA56ZXIQWAYRE37G7BOQFEBPJ2JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FFUTF5X7CFDSWJ3NYN3N63AOHH7K5PSCJSL6T44LZT5HLUQBYOKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX6FENVVDUEEHU7QZ53LN7TUND4LWBHJDSGLG5AMH623JWC7UL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LMWYV5FHZ53BPYVSPRAEJMXOSEAGJTI7YJW3ULDGAIT65ZK7OIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYRAAUICCSIZFPPK34NSM7H65R2XRIPGJOCCLYZSV37LG3XI2XDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52M6PNY4K44IBSO2U3SAWEWMIBJAM6L22SRP367T55TBGPXD4VZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4BAPIEGHZ5CEYV7I56DR75ED6AYLRR44HBVLDRXYRURINEXCOLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JIIB4W3PWJ4PDAZHXNRG6P65XFJS4QP3PLGLZ7JLIVNOPRMNQAFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MMFPEADZAMMGLOMCM4ADKYJ3QJEOYEIVMNH7JTCH7KDASAIEDUSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JIXV72X3WE2JNMVUFDYGGTNKB3QJXUK63MGBSVE2XAW7UD2NP2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTFVLRM5DSBHFLM4POPZDY7OODJGHM4FP54SAHJ3ZFSU4S3DC2NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNKQUSFBCEAL6MJH4WFEKMA2C3AB43TZNISDAH2PQJZHF6P5VUTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4YRZT5QWWMY3FPLF2ABBNYKHRD3GLF5CGSENCCB76YL23BK6GCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LHSWFYJFBDRCKGOZFVAMVXXSFIP3L37GTTTWQEDZB3ZQMZDIQRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBH3XX3RI56SVM2SXXMHOZQHQHY4RFSEARAD5OYAYTGTUINACEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPDMF43QO66WIU42YEBJVP4CPD3FC44X3NDGRY5WATIN7QOSUX2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWSV5FOYX7K2WHF7JZ7XTNM2SYT4RXCXLG5FCREB6C6SPAXQQQXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R4VC2W2TSVP5HFVZMDIPZIACJSSXEUOMAQRKPOCPDBZO2WGEYTXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YUEWQV2HOZWMFRG3M2OKKZG3HR7GE42CGCSCQ5PXEJXRG5UUTNHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74M425YKMKOJXBMCGHOYPDUPIN3QFMJ524SZXGXOPZ77VVMVWI2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHU7FBN5YMGNGUZREAK6RUGXIOMPYZBTQKBY3N2OY33ZIZ7J5WJA/vendors.js"
            ]
        },
        "CreateEventRule": {
            "name": "CreateEventRule",
            "http": {
                "method": "POST",
                "requestUri": "/event-rules",
                "responseCode": 201
            },
            "input": {
                "shape": "CreateEventRuleRequest"
            },
            "output": {
                "shape": "CreateEventRuleResponse"
            },
            "errors": [
                {
                    "shape": "ServiceQuotaExceededException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "ResourceNotFoundException"
                }
            ],
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXGIUG3CDZF5Z74KRYHSQFQY2T2RVOXMQYGHWHZGKPBHXJFNGT3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U5M5PRH3VVZQXS2WFWRCXQPOKQJAYO4EMUWQCZYJA37UO3X54SKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XUJ6SZOKWVLVNLY5DAIO5YZ77ID57BNIVIVIUT4KT62NFASSRU7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RO762CGSTUPYDSGVQLPRPMH4FA56ZXIQWAYRE37G7BOQFEBPJ2JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FFUTF5X7CFDSWJ3NYN3N63AOHH7K5PSCJSL6T44LZT5HLUQBYOKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX6FENVVDUEEHU7QZ53LN7TUND4LWBHJDSGLG5AMH623JWC7UL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LMWYV5FHZ53BPYVSPRAEJMXOSEAGJTI7YJW3ULDGAIT65ZK7OIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYRAAUICCSIZFPPK34NSM7H65R2XRIPGJOCCLYZSV37LG3XI2XDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52M6PNY4K44IBSO2U3SAWEWMIBJAM6L22SRP367T55TBGPXD4VZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4BAPIEGHZ5CEYV7I56DR75ED6AYLRR44HBVLDRXYRURINEXCOLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JIIB4W3PWJ4PDAZHXNRG6P65XFJS4QP3PLGLZ7JLIVNOPRMNQAFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MMFPEADZAMMGLOMCM4ADKYJ3QJEOYEIVMNH7JTCH7KDASAIEDUSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JIXV72X3WE2JNMVUFDYGGTNKB3QJXUK63MGBSVE2XAW7UD2NP2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTFVLRM5DSBHFLM4POPZDY7OODJGHM4FP54SAHJ3ZFSU4S3DC2NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNKQUSFBCEAL6MJH4WFEKMA2C3AB43TZNISDAH2PQJZHF6P5VUTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4YRZT5QWWMY3FPLF2ABBNYKHRD3GLF5CGSENCCB76YL23BK6GCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LHSWFYJFBDRCKGOZFVAMVXXSFIP3L37GTTTWQEDZB3ZQMZDIQRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBH3XX3RI56SVM2SXXMHOZQHQHY4RFSEARAD5OYAYTGTUINACEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPDMF43QO66WIU42YEBJVP4CPD3FC44X3NDGRY5WATIN7QOSUX2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWSV5FOYX7K2WHF7JZ7XTNM2SYT4RXCXLG5FCREB6C6SPAXQQQXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R4VC2W2TSVP5HFVZMDIPZIACJSSXEUOMAQRKPOCPDBZO2WGEYTXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YUEWQV2HOZWMFRG3M2OKKZG3HR7GE42CGCSCQ5PXEJXRG5UUTNHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74M425YKMKOJXBMCGHOYPDUPIN3QFMJ524SZXGXOPZ77VVMVWI2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHU7FBN5YMGNGUZREAK6RUGXIOMPYZBTQKBY3N2OY33ZIZ7J5WJA/vendors.js"
            ]
        },
        "CreateNotificationConfiguration": {
            "name": "CreateNotificationConfiguration",
            "http": {
                "method": "POST",
                "requestUri": "/notification-configurations",
                "responseCode": 201
            },
            "input": {
                "shape": "CreateNotificationConfigurationRequest"
            },
            "output": {
                "shape": "CreateNotificationConfigurationResponse"
            },
            "errors": [
                {
                    "shape": "ServiceQuotaExceededException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ConflictException"
                }
            ],
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXGIUG3CDZF5Z74KRYHSQFQY2T2RVOXMQYGHWHZGKPBHXJFNGT3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U5M5PRH3VVZQXS2WFWRCXQPOKQJAYO4EMUWQCZYJA37UO3X54SKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XUJ6SZOKWVLVNLY5DAIO5YZ77ID57BNIVIVIUT4KT62NFASSRU7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RO762CGSTUPYDSGVQLPRPMH4FA56ZXIQWAYRE37G7BOQFEBPJ2JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FFUTF5X7CFDSWJ3NYN3N63AOHH7K5PSCJSL6T44LZT5HLUQBYOKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX6FENVVDUEEHU7QZ53LN7TUND4LWBHJDSGLG5AMH623JWC7UL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LMWYV5FHZ53BPYVSPRAEJMXOSEAGJTI7YJW3ULDGAIT65ZK7OIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYRAAUICCSIZFPPK34NSM7H65R2XRIPGJOCCLYZSV37LG3XI2XDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52M6PNY4K44IBSO2U3SAWEWMIBJAM6L22SRP367T55TBGPXD4VZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4BAPIEGHZ5CEYV7I56DR75ED6AYLRR44HBVLDRXYRURINEXCOLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JIIB4W3PWJ4PDAZHXNRG6P65XFJS4QP3PLGLZ7JLIVNOPRMNQAFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MMFPEADZAMMGLOMCM4ADKYJ3QJEOYEIVMNH7JTCH7KDASAIEDUSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JIXV72X3WE2JNMVUFDYGGTNKB3QJXUK63MGBSVE2XAW7UD2NP2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTFVLRM5DSBHFLM4POPZDY7OODJGHM4FP54SAHJ3ZFSU4S3DC2NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNKQUSFBCEAL6MJH4WFEKMA2C3AB43TZNISDAH2PQJZHF6P5VUTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4YRZT5QWWMY3FPLF2ABBNYKHRD3GLF5CGSENCCB76YL23BK6GCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LHSWFYJFBDRCKGOZFVAMVXXSFIP3L37GTTTWQEDZB3ZQMZDIQRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBH3XX3RI56SVM2SXXMHOZQHQHY4RFSEARAD5OYAYTGTUINACEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPDMF43QO66WIU42YEBJVP4CPD3FC44X3NDGRY5WATIN7QOSUX2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWSV5FOYX7K2WHF7JZ7XTNM2SYT4RXCXLG5FCREB6C6SPAXQQQXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R4VC2W2TSVP5HFVZMDIPZIACJSSXEUOMAQRKPOCPDBZO2WGEYTXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YUEWQV2HOZWMFRG3M2OKKZG3HR7GE42CGCSCQ5PXEJXRG5UUTNHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74M425YKMKOJXBMCGHOYPDUPIN3QFMJ524SZXGXOPZ77VVMVWI2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHU7FBN5YMGNGUZREAK6RUGXIOMPYZBTQKBY3N2OY33ZIZ7J5WJA/vendors.js"
            ]
        },
        "DeleteEventRule": {
            "name": "DeleteEventRule",
            "http": {
                "method": "DELETE",
                "requestUri": "/event-rules/{arn}",
                "responseCode": 200
            },
            "input": {
                "shape": "DeleteEventRuleRequest"
            },
            "output": {
                "shape": "DeleteEventRuleResponse"
            },
            "errors": [
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "ResourceNotFoundException"
                }
            ],
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXGIUG3CDZF5Z74KRYHSQFQY2T2RVOXMQYGHWHZGKPBHXJFNGT3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U5M5PRH3VVZQXS2WFWRCXQPOKQJAYO4EMUWQCZYJA37UO3X54SKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XUJ6SZOKWVLVNLY5DAIO5YZ77ID57BNIVIVIUT4KT62NFASSRU7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RO762CGSTUPYDSGVQLPRPMH4FA56ZXIQWAYRE37G7BOQFEBPJ2JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FFUTF5X7CFDSWJ3NYN3N63AOHH7K5PSCJSL6T44LZT5HLUQBYOKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX6FENVVDUEEHU7QZ53LN7TUND4LWBHJDSGLG5AMH623JWC7UL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LMWYV5FHZ53BPYVSPRAEJMXOSEAGJTI7YJW3ULDGAIT65ZK7OIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYRAAUICCSIZFPPK34NSM7H65R2XRIPGJOCCLYZSV37LG3XI2XDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52M6PNY4K44IBSO2U3SAWEWMIBJAM6L22SRP367T55TBGPXD4VZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4BAPIEGHZ5CEYV7I56DR75ED6AYLRR44HBVLDRXYRURINEXCOLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JIIB4W3PWJ4PDAZHXNRG6P65XFJS4QP3PLGLZ7JLIVNOPRMNQAFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MMFPEADZAMMGLOMCM4ADKYJ3QJEOYEIVMNH7JTCH7KDASAIEDUSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JIXV72X3WE2JNMVUFDYGGTNKB3QJXUK63MGBSVE2XAW7UD2NP2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTFVLRM5DSBHFLM4POPZDY7OODJGHM4FP54SAHJ3ZFSU4S3DC2NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNKQUSFBCEAL6MJH4WFEKMA2C3AB43TZNISDAH2PQJZHF6P5VUTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4YRZT5QWWMY3FPLF2ABBNYKHRD3GLF5CGSENCCB76YL23BK6GCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LHSWFYJFBDRCKGOZFVAMVXXSFIP3L37GTTTWQEDZB3ZQMZDIQRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBH3XX3RI56SVM2SXXMHOZQHQHY4RFSEARAD5OYAYTGTUINACEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPDMF43QO66WIU42YEBJVP4CPD3FC44X3NDGRY5WATIN7QOSUX2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWSV5FOYX7K2WHF7JZ7XTNM2SYT4RXCXLG5FCREB6C6SPAXQQQXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R4VC2W2TSVP5HFVZMDIPZIACJSSXEUOMAQRKPOCPDBZO2WGEYTXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YUEWQV2HOZWMFRG3M2OKKZG3HR7GE42CGCSCQ5PXEJXRG5UUTNHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74M425YKMKOJXBMCGHOYPDUPIN3QFMJ524SZXGXOPZ77VVMVWI2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHU7FBN5YMGNGUZREAK6RUGXIOMPYZBTQKBY3N2OY33ZIZ7J5WJA/vendors.js"
            ]
        },
        "DeleteNotificationConfiguration": {
            "name": "DeleteNotificationConfiguration",
            "http": {
                "method": "DELETE",
                "requestUri": "/notification-configurations/{arn}",
                "responseCode": 200
            },
            "input": {
                "shape": "DeleteNotificationConfigurationRequest"
            },
            "output": {
                "shape": "DeleteNotificationConfigurationResponse"
            },
            "errors": [
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "ResourceNotFoundException"
                }
            ],
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXGIUG3CDZF5Z74KRYHSQFQY2T2RVOXMQYGHWHZGKPBHXJFNGT3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U5M5PRH3VVZQXS2WFWRCXQPOKQJAYO4EMUWQCZYJA37UO3X54SKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XUJ6SZOKWVLVNLY5DAIO5YZ77ID57BNIVIVIUT4KT62NFASSRU7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RO762CGSTUPYDSGVQLPRPMH4FA56ZXIQWAYRE37G7BOQFEBPJ2JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FFUTF5X7CFDSWJ3NYN3N63AOHH7K5PSCJSL6T44LZT5HLUQBYOKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX6FENVVDUEEHU7QZ53LN7TUND4LWBHJDSGLG5AMH623JWC7UL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LMWYV5FHZ53BPYVSPRAEJMXOSEAGJTI7YJW3ULDGAIT65ZK7OIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYRAAUICCSIZFPPK34NSM7H65R2XRIPGJOCCLYZSV37LG3XI2XDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52M6PNY4K44IBSO2U3SAWEWMIBJAM6L22SRP367T55TBGPXD4VZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4BAPIEGHZ5CEYV7I56DR75ED6AYLRR44HBVLDRXYRURINEXCOLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JIIB4W3PWJ4PDAZHXNRG6P65XFJS4QP3PLGLZ7JLIVNOPRMNQAFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MMFPEADZAMMGLOMCM4ADKYJ3QJEOYEIVMNH7JTCH7KDASAIEDUSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JIXV72X3WE2JNMVUFDYGGTNKB3QJXUK63MGBSVE2XAW7UD2NP2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTFVLRM5DSBHFLM4POPZDY7OODJGHM4FP54SAHJ3ZFSU4S3DC2NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNKQUSFBCEAL6MJH4WFEKMA2C3AB43TZNISDAH2PQJZHF6P5VUTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4YRZT5QWWMY3FPLF2ABBNYKHRD3GLF5CGSENCCB76YL23BK6GCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LHSWFYJFBDRCKGOZFVAMVXXSFIP3L37GTTTWQEDZB3ZQMZDIQRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBH3XX3RI56SVM2SXXMHOZQHQHY4RFSEARAD5OYAYTGTUINACEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPDMF43QO66WIU42YEBJVP4CPD3FC44X3NDGRY5WATIN7QOSUX2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWSV5FOYX7K2WHF7JZ7XTNM2SYT4RXCXLG5FCREB6C6SPAXQQQXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R4VC2W2TSVP5HFVZMDIPZIACJSSXEUOMAQRKPOCPDBZO2WGEYTXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YUEWQV2HOZWMFRG3M2OKKZG3HR7GE42CGCSCQ5PXEJXRG5UUTNHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74M425YKMKOJXBMCGHOYPDUPIN3QFMJ524SZXGXOPZ77VVMVWI2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHU7FBN5YMGNGUZREAK6RUGXIOMPYZBTQKBY3N2OY33ZIZ7J5WJA/vendors.js"
            ]
        },
        "DeregisterNotificationHub": {
            "name": "DeregisterNotificationHub",
            "http": {
                "method": "DELETE",
                "requestUri": "/notification-hubs/{notificationHubRegion}",
                "responseCode": 200
            },
            "input": {
                "shape": "DeregisterNotificationHubRequest"
            },
            "output": {
                "shape": "DeregisterNotificationHubResponse"
            },
            "errors": [
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "ResourceNotFoundException"
                }
            ],
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXGIUG3CDZF5Z74KRYHSQFQY2T2RVOXMQYGHWHZGKPBHXJFNGT3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U5M5PRH3VVZQXS2WFWRCXQPOKQJAYO4EMUWQCZYJA37UO3X54SKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XUJ6SZOKWVLVNLY5DAIO5YZ77ID57BNIVIVIUT4KT62NFASSRU7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RO762CGSTUPYDSGVQLPRPMH4FA56ZXIQWAYRE37G7BOQFEBPJ2JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FFUTF5X7CFDSWJ3NYN3N63AOHH7K5PSCJSL6T44LZT5HLUQBYOKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX6FENVVDUEEHU7QZ53LN7TUND4LWBHJDSGLG5AMH623JWC7UL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LMWYV5FHZ53BPYVSPRAEJMXOSEAGJTI7YJW3ULDGAIT65ZK7OIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYRAAUICCSIZFPPK34NSM7H65R2XRIPGJOCCLYZSV37LG3XI2XDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52M6PNY4K44IBSO2U3SAWEWMIBJAM6L22SRP367T55TBGPXD4VZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4BAPIEGHZ5CEYV7I56DR75ED6AYLRR44HBVLDRXYRURINEXCOLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JIIB4W3PWJ4PDAZHXNRG6P65XFJS4QP3PLGLZ7JLIVNOPRMNQAFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MMFPEADZAMMGLOMCM4ADKYJ3QJEOYEIVMNH7JTCH7KDASAIEDUSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JIXV72X3WE2JNMVUFDYGGTNKB3QJXUK63MGBSVE2XAW7UD2NP2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTFVLRM5DSBHFLM4POPZDY7OODJGHM4FP54SAHJ3ZFSU4S3DC2NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNKQUSFBCEAL6MJH4WFEKMA2C3AB43TZNISDAH2PQJZHF6P5VUTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4YRZT5QWWMY3FPLF2ABBNYKHRD3GLF5CGSENCCB76YL23BK6GCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LHSWFYJFBDRCKGOZFVAMVXXSFIP3L37GTTTWQEDZB3ZQMZDIQRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBH3XX3RI56SVM2SXXMHOZQHQHY4RFSEARAD5OYAYTGTUINACEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPDMF43QO66WIU42YEBJVP4CPD3FC44X3NDGRY5WATIN7QOSUX2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWSV5FOYX7K2WHF7JZ7XTNM2SYT4RXCXLG5FCREB6C6SPAXQQQXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R4VC2W2TSVP5HFVZMDIPZIACJSSXEUOMAQRKPOCPDBZO2WGEYTXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YUEWQV2HOZWMFRG3M2OKKZG3HR7GE42CGCSCQ5PXEJXRG5UUTNHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74M425YKMKOJXBMCGHOYPDUPIN3QFMJ524SZXGXOPZ77VVMVWI2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHU7FBN5YMGNGUZREAK6RUGXIOMPYZBTQKBY3N2OY33ZIZ7J5WJA/vendors.js"
            ]
        },
        "DisassociateChannel": {
            "name": "DisassociateChannel",
            "http": {
                "method": "POST",
                "requestUri": "/channels/disassociate/{arn}",
                "responseCode": 200
            },
            "input": {
                "shape": "DisassociateChannelRequest"
            },
            "output": {
                "shape": "DisassociateChannelResponse"
            },
            "errors": [
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ResourceNotFoundException"
                }
            ],
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXGIUG3CDZF5Z74KRYHSQFQY2T2RVOXMQYGHWHZGKPBHXJFNGT3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U5M5PRH3VVZQXS2WFWRCXQPOKQJAYO4EMUWQCZYJA37UO3X54SKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XUJ6SZOKWVLVNLY5DAIO5YZ77ID57BNIVIVIUT4KT62NFASSRU7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RO762CGSTUPYDSGVQLPRPMH4FA56ZXIQWAYRE37G7BOQFEBPJ2JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FFUTF5X7CFDSWJ3NYN3N63AOHH7K5PSCJSL6T44LZT5HLUQBYOKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX6FENVVDUEEHU7QZ53LN7TUND4LWBHJDSGLG5AMH623JWC7UL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LMWYV5FHZ53BPYVSPRAEJMXOSEAGJTI7YJW3ULDGAIT65ZK7OIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYRAAUICCSIZFPPK34NSM7H65R2XRIPGJOCCLYZSV37LG3XI2XDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52M6PNY4K44IBSO2U3SAWEWMIBJAM6L22SRP367T55TBGPXD4VZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4BAPIEGHZ5CEYV7I56DR75ED6AYLRR44HBVLDRXYRURINEXCOLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JIIB4W3PWJ4PDAZHXNRG6P65XFJS4QP3PLGLZ7JLIVNOPRMNQAFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MMFPEADZAMMGLOMCM4ADKYJ3QJEOYEIVMNH7JTCH7KDASAIEDUSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JIXV72X3WE2JNMVUFDYGGTNKB3QJXUK63MGBSVE2XAW7UD2NP2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTFVLRM5DSBHFLM4POPZDY7OODJGHM4FP54SAHJ3ZFSU4S3DC2NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNKQUSFBCEAL6MJH4WFEKMA2C3AB43TZNISDAH2PQJZHF6P5VUTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4YRZT5QWWMY3FPLF2ABBNYKHRD3GLF5CGSENCCB76YL23BK6GCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LHSWFYJFBDRCKGOZFVAMVXXSFIP3L37GTTTWQEDZB3ZQMZDIQRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBH3XX3RI56SVM2SXXMHOZQHQHY4RFSEARAD5OYAYTGTUINACEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPDMF43QO66WIU42YEBJVP4CPD3FC44X3NDGRY5WATIN7QOSUX2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWSV5FOYX7K2WHF7JZ7XTNM2SYT4RXCXLG5FCREB6C6SPAXQQQXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R4VC2W2TSVP5HFVZMDIPZIACJSSXEUOMAQRKPOCPDBZO2WGEYTXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YUEWQV2HOZWMFRG3M2OKKZG3HR7GE42CGCSCQ5PXEJXRG5UUTNHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74M425YKMKOJXBMCGHOYPDUPIN3QFMJ524SZXGXOPZ77VVMVWI2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHU7FBN5YMGNGUZREAK6RUGXIOMPYZBTQKBY3N2OY33ZIZ7J5WJA/vendors.js"
            ]
        },
        "GetEventRule": {
            "name": "GetEventRule",
            "http": {
                "method": "GET",
                "requestUri": "/event-rules/{arn}",
                "responseCode": 200
            },
            "input": {
                "shape": "GetEventRuleRequest"
            },
            "output": {
                "shape": "GetEventRuleResponse"
            },
            "errors": [
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ResourceNotFoundException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXGIUG3CDZF5Z74KRYHSQFQY2T2RVOXMQYGHWHZGKPBHXJFNGT3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U5M5PRH3VVZQXS2WFWRCXQPOKQJAYO4EMUWQCZYJA37UO3X54SKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XUJ6SZOKWVLVNLY5DAIO5YZ77ID57BNIVIVIUT4KT62NFASSRU7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RO762CGSTUPYDSGVQLPRPMH4FA56ZXIQWAYRE37G7BOQFEBPJ2JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FFUTF5X7CFDSWJ3NYN3N63AOHH7K5PSCJSL6T44LZT5HLUQBYOKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX6FENVVDUEEHU7QZ53LN7TUND4LWBHJDSGLG5AMH623JWC7UL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LMWYV5FHZ53BPYVSPRAEJMXOSEAGJTI7YJW3ULDGAIT65ZK7OIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYRAAUICCSIZFPPK34NSM7H65R2XRIPGJOCCLYZSV37LG3XI2XDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52M6PNY4K44IBSO2U3SAWEWMIBJAM6L22SRP367T55TBGPXD4VZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4BAPIEGHZ5CEYV7I56DR75ED6AYLRR44HBVLDRXYRURINEXCOLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JIIB4W3PWJ4PDAZHXNRG6P65XFJS4QP3PLGLZ7JLIVNOPRMNQAFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MMFPEADZAMMGLOMCM4ADKYJ3QJEOYEIVMNH7JTCH7KDASAIEDUSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JIXV72X3WE2JNMVUFDYGGTNKB3QJXUK63MGBSVE2XAW7UD2NP2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTFVLRM5DSBHFLM4POPZDY7OODJGHM4FP54SAHJ3ZFSU4S3DC2NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNKQUSFBCEAL6MJH4WFEKMA2C3AB43TZNISDAH2PQJZHF6P5VUTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4YRZT5QWWMY3FPLF2ABBNYKHRD3GLF5CGSENCCB76YL23BK6GCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LHSWFYJFBDRCKGOZFVAMVXXSFIP3L37GTTTWQEDZB3ZQMZDIQRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBH3XX3RI56SVM2SXXMHOZQHQHY4RFSEARAD5OYAYTGTUINACEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPDMF43QO66WIU42YEBJVP4CPD3FC44X3NDGRY5WATIN7QOSUX2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWSV5FOYX7K2WHF7JZ7XTNM2SYT4RXCXLG5FCREB6C6SPAXQQQXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R4VC2W2TSVP5HFVZMDIPZIACJSSXEUOMAQRKPOCPDBZO2WGEYTXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YUEWQV2HOZWMFRG3M2OKKZG3HR7GE42CGCSCQ5PXEJXRG5UUTNHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74M425YKMKOJXBMCGHOYPDUPIN3QFMJ524SZXGXOPZ77VVMVWI2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHU7FBN5YMGNGUZREAK6RUGXIOMPYZBTQKBY3N2OY33ZIZ7J5WJA/vendors.js"
            ]
        },
        "GetNotificationConfiguration": {
            "name": "GetNotificationConfiguration",
            "http": {
                "method": "GET",
                "requestUri": "/notification-configurations/{arn}",
                "responseCode": 200
            },
            "input": {
                "shape": "GetNotificationConfigurationRequest"
            },
            "output": {
                "shape": "GetNotificationConfigurationResponse"
            },
            "errors": [
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ResourceNotFoundException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXGIUG3CDZF5Z74KRYHSQFQY2T2RVOXMQYGHWHZGKPBHXJFNGT3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U5M5PRH3VVZQXS2WFWRCXQPOKQJAYO4EMUWQCZYJA37UO3X54SKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XUJ6SZOKWVLVNLY5DAIO5YZ77ID57BNIVIVIUT4KT62NFASSRU7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RO762CGSTUPYDSGVQLPRPMH4FA56ZXIQWAYRE37G7BOQFEBPJ2JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FFUTF5X7CFDSWJ3NYN3N63AOHH7K5PSCJSL6T44LZT5HLUQBYOKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX6FENVVDUEEHU7QZ53LN7TUND4LWBHJDSGLG5AMH623JWC7UL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LMWYV5FHZ53BPYVSPRAEJMXOSEAGJTI7YJW3ULDGAIT65ZK7OIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYRAAUICCSIZFPPK34NSM7H65R2XRIPGJOCCLYZSV37LG3XI2XDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52M6PNY4K44IBSO2U3SAWEWMIBJAM6L22SRP367T55TBGPXD4VZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4BAPIEGHZ5CEYV7I56DR75ED6AYLRR44HBVLDRXYRURINEXCOLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JIIB4W3PWJ4PDAZHXNRG6P65XFJS4QP3PLGLZ7JLIVNOPRMNQAFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MMFPEADZAMMGLOMCM4ADKYJ3QJEOYEIVMNH7JTCH7KDASAIEDUSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JIXV72X3WE2JNMVUFDYGGTNKB3QJXUK63MGBSVE2XAW7UD2NP2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTFVLRM5DSBHFLM4POPZDY7OODJGHM4FP54SAHJ3ZFSU4S3DC2NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNKQUSFBCEAL6MJH4WFEKMA2C3AB43TZNISDAH2PQJZHF6P5VUTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4YRZT5QWWMY3FPLF2ABBNYKHRD3GLF5CGSENCCB76YL23BK6GCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LHSWFYJFBDRCKGOZFVAMVXXSFIP3L37GTTTWQEDZB3ZQMZDIQRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBH3XX3RI56SVM2SXXMHOZQHQHY4RFSEARAD5OYAYTGTUINACEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPDMF43QO66WIU42YEBJVP4CPD3FC44X3NDGRY5WATIN7QOSUX2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWSV5FOYX7K2WHF7JZ7XTNM2SYT4RXCXLG5FCREB6C6SPAXQQQXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R4VC2W2TSVP5HFVZMDIPZIACJSSXEUOMAQRKPOCPDBZO2WGEYTXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YUEWQV2HOZWMFRG3M2OKKZG3HR7GE42CGCSCQ5PXEJXRG5UUTNHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74M425YKMKOJXBMCGHOYPDUPIN3QFMJ524SZXGXOPZ77VVMVWI2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHU7FBN5YMGNGUZREAK6RUGXIOMPYZBTQKBY3N2OY33ZIZ7J5WJA/vendors.js"
            ]
        },
        "GetNotificationEvent": {
            "name": "GetNotificationEvent",
            "http": {
                "method": "GET",
                "requestUri": "/notification-events/{arn}",
                "responseCode": 200
            },
            "input": {
                "shape": "GetNotificationEventRequest"
            },
            "output": {
                "shape": "GetNotificationEventResponse"
            },
            "errors": [
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ResourceNotFoundException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXGIUG3CDZF5Z74KRYHSQFQY2T2RVOXMQYGHWHZGKPBHXJFNGT3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U5M5PRH3VVZQXS2WFWRCXQPOKQJAYO4EMUWQCZYJA37UO3X54SKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XUJ6SZOKWVLVNLY5DAIO5YZ77ID57BNIVIVIUT4KT62NFASSRU7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RO762CGSTUPYDSGVQLPRPMH4FA56ZXIQWAYRE37G7BOQFEBPJ2JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FFUTF5X7CFDSWJ3NYN3N63AOHH7K5PSCJSL6T44LZT5HLUQBYOKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX6FENVVDUEEHU7QZ53LN7TUND4LWBHJDSGLG5AMH623JWC7UL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LMWYV5FHZ53BPYVSPRAEJMXOSEAGJTI7YJW3ULDGAIT65ZK7OIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYRAAUICCSIZFPPK34NSM7H65R2XRIPGJOCCLYZSV37LG3XI2XDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52M6PNY4K44IBSO2U3SAWEWMIBJAM6L22SRP367T55TBGPXD4VZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4BAPIEGHZ5CEYV7I56DR75ED6AYLRR44HBVLDRXYRURINEXCOLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JIIB4W3PWJ4PDAZHXNRG6P65XFJS4QP3PLGLZ7JLIVNOPRMNQAFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MMFPEADZAMMGLOMCM4ADKYJ3QJEOYEIVMNH7JTCH7KDASAIEDUSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JIXV72X3WE2JNMVUFDYGGTNKB3QJXUK63MGBSVE2XAW7UD2NP2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTFVLRM5DSBHFLM4POPZDY7OODJGHM4FP54SAHJ3ZFSU4S3DC2NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNKQUSFBCEAL6MJH4WFEKMA2C3AB43TZNISDAH2PQJZHF6P5VUTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4YRZT5QWWMY3FPLF2ABBNYKHRD3GLF5CGSENCCB76YL23BK6GCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LHSWFYJFBDRCKGOZFVAMVXXSFIP3L37GTTTWQEDZB3ZQMZDIQRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBH3XX3RI56SVM2SXXMHOZQHQHY4RFSEARAD5OYAYTGTUINACEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPDMF43QO66WIU42YEBJVP4CPD3FC44X3NDGRY5WATIN7QOSUX2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWSV5FOYX7K2WHF7JZ7XTNM2SYT4RXCXLG5FCREB6C6SPAXQQQXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R4VC2W2TSVP5HFVZMDIPZIACJSSXEUOMAQRKPOCPDBZO2WGEYTXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YUEWQV2HOZWMFRG3M2OKKZG3HR7GE42CGCSCQ5PXEJXRG5UUTNHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74M425YKMKOJXBMCGHOYPDUPIN3QFMJ524SZXGXOPZ77VVMVWI2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHU7FBN5YMGNGUZREAK6RUGXIOMPYZBTQKBY3N2OY33ZIZ7J5WJA/vendors.js"
            ]
        },
        "ListChannels": {
            "name": "ListChannels",
            "http": {
                "method": "GET",
                "requestUri": "/channels",
                "responseCode": 200
            },
            "input": {
                "shape": "ListChannelsRequest"
            },
            "output": {
                "shape": "ListChannelsResponse"
            },
            "errors": [
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ResourceNotFoundException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXGIUG3CDZF5Z74KRYHSQFQY2T2RVOXMQYGHWHZGKPBHXJFNGT3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U5M5PRH3VVZQXS2WFWRCXQPOKQJAYO4EMUWQCZYJA37UO3X54SKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XUJ6SZOKWVLVNLY5DAIO5YZ77ID57BNIVIVIUT4KT62NFASSRU7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RO762CGSTUPYDSGVQLPRPMH4FA56ZXIQWAYRE37G7BOQFEBPJ2JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FFUTF5X7CFDSWJ3NYN3N63AOHH7K5PSCJSL6T44LZT5HLUQBYOKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX6FENVVDUEEHU7QZ53LN7TUND4LWBHJDSGLG5AMH623JWC7UL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LMWYV5FHZ53BPYVSPRAEJMXOSEAGJTI7YJW3ULDGAIT65ZK7OIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYRAAUICCSIZFPPK34NSM7H65R2XRIPGJOCCLYZSV37LG3XI2XDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52M6PNY4K44IBSO2U3SAWEWMIBJAM6L22SRP367T55TBGPXD4VZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4BAPIEGHZ5CEYV7I56DR75ED6AYLRR44HBVLDRXYRURINEXCOLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JIIB4W3PWJ4PDAZHXNRG6P65XFJS4QP3PLGLZ7JLIVNOPRMNQAFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MMFPEADZAMMGLOMCM4ADKYJ3QJEOYEIVMNH7JTCH7KDASAIEDUSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JIXV72X3WE2JNMVUFDYGGTNKB3QJXUK63MGBSVE2XAW7UD2NP2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTFVLRM5DSBHFLM4POPZDY7OODJGHM4FP54SAHJ3ZFSU4S3DC2NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNKQUSFBCEAL6MJH4WFEKMA2C3AB43TZNISDAH2PQJZHF6P5VUTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4YRZT5QWWMY3FPLF2ABBNYKHRD3GLF5CGSENCCB76YL23BK6GCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LHSWFYJFBDRCKGOZFVAMVXXSFIP3L37GTTTWQEDZB3ZQMZDIQRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBH3XX3RI56SVM2SXXMHOZQHQHY4RFSEARAD5OYAYTGTUINACEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPDMF43QO66WIU42YEBJVP4CPD3FC44X3NDGRY5WATIN7QOSUX2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWSV5FOYX7K2WHF7JZ7XTNM2SYT4RXCXLG5FCREB6C6SPAXQQQXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R4VC2W2TSVP5HFVZMDIPZIACJSSXEUOMAQRKPOCPDBZO2WGEYTXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YUEWQV2HOZWMFRG3M2OKKZG3HR7GE42CGCSCQ5PXEJXRG5UUTNHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74M425YKMKOJXBMCGHOYPDUPIN3QFMJ524SZXGXOPZ77VVMVWI2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHU7FBN5YMGNGUZREAK6RUGXIOMPYZBTQKBY3N2OY33ZIZ7J5WJA/vendors.js"
            ]
        },
        "ListEventRules": {
            "name": "ListEventRules",
            "http": {
                "method": "GET",
                "requestUri": "/event-rules",
                "responseCode": 200
            },
            "input": {
                "shape": "ListEventRulesRequest"
            },
            "output": {
                "shape": "ListEventRulesResponse"
            },
            "errors": [
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ThrottlingException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXGIUG3CDZF5Z74KRYHSQFQY2T2RVOXMQYGHWHZGKPBHXJFNGT3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U5M5PRH3VVZQXS2WFWRCXQPOKQJAYO4EMUWQCZYJA37UO3X54SKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XUJ6SZOKWVLVNLY5DAIO5YZ77ID57BNIVIVIUT4KT62NFASSRU7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RO762CGSTUPYDSGVQLPRPMH4FA56ZXIQWAYRE37G7BOQFEBPJ2JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FFUTF5X7CFDSWJ3NYN3N63AOHH7K5PSCJSL6T44LZT5HLUQBYOKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX6FENVVDUEEHU7QZ53LN7TUND4LWBHJDSGLG5AMH623JWC7UL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LMWYV5FHZ53BPYVSPRAEJMXOSEAGJTI7YJW3ULDGAIT65ZK7OIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYRAAUICCSIZFPPK34NSM7H65R2XRIPGJOCCLYZSV37LG3XI2XDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52M6PNY4K44IBSO2U3SAWEWMIBJAM6L22SRP367T55TBGPXD4VZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4BAPIEGHZ5CEYV7I56DR75ED6AYLRR44HBVLDRXYRURINEXCOLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JIIB4W3PWJ4PDAZHXNRG6P65XFJS4QP3PLGLZ7JLIVNOPRMNQAFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MMFPEADZAMMGLOMCM4ADKYJ3QJEOYEIVMNH7JTCH7KDASAIEDUSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JIXV72X3WE2JNMVUFDYGGTNKB3QJXUK63MGBSVE2XAW7UD2NP2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTFVLRM5DSBHFLM4POPZDY7OODJGHM4FP54SAHJ3ZFSU4S3DC2NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNKQUSFBCEAL6MJH4WFEKMA2C3AB43TZNISDAH2PQJZHF6P5VUTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4YRZT5QWWMY3FPLF2ABBNYKHRD3GLF5CGSENCCB76YL23BK6GCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LHSWFYJFBDRCKGOZFVAMVXXSFIP3L37GTTTWQEDZB3ZQMZDIQRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBH3XX3RI56SVM2SXXMHOZQHQHY4RFSEARAD5OYAYTGTUINACEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPDMF43QO66WIU42YEBJVP4CPD3FC44X3NDGRY5WATIN7QOSUX2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWSV5FOYX7K2WHF7JZ7XTNM2SYT4RXCXLG5FCREB6C6SPAXQQQXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R4VC2W2TSVP5HFVZMDIPZIACJSSXEUOMAQRKPOCPDBZO2WGEYTXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YUEWQV2HOZWMFRG3M2OKKZG3HR7GE42CGCSCQ5PXEJXRG5UUTNHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74M425YKMKOJXBMCGHOYPDUPIN3QFMJ524SZXGXOPZ77VVMVWI2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHU7FBN5YMGNGUZREAK6RUGXIOMPYZBTQKBY3N2OY33ZIZ7J5WJA/vendors.js"
            ]
        },
        "ListNotificationConfigurations": {
            "name": "ListNotificationConfigurations",
            "http": {
                "method": "GET",
                "requestUri": "/notification-configurations",
                "responseCode": 200
            },
            "input": {
                "shape": "ListNotificationConfigurationsRequest"
            },
            "output": {
                "shape": "ListNotificationConfigurationsResponse"
            },
            "errors": [
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ThrottlingException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXGIUG3CDZF5Z74KRYHSQFQY2T2RVOXMQYGHWHZGKPBHXJFNGT3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U5M5PRH3VVZQXS2WFWRCXQPOKQJAYO4EMUWQCZYJA37UO3X54SKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XUJ6SZOKWVLVNLY5DAIO5YZ77ID57BNIVIVIUT4KT62NFASSRU7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RO762CGSTUPYDSGVQLPRPMH4FA56ZXIQWAYRE37G7BOQFEBPJ2JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FFUTF5X7CFDSWJ3NYN3N63AOHH7K5PSCJSL6T44LZT5HLUQBYOKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX6FENVVDUEEHU7QZ53LN7TUND4LWBHJDSGLG5AMH623JWC7UL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LMWYV5FHZ53BPYVSPRAEJMXOSEAGJTI7YJW3ULDGAIT65ZK7OIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYRAAUICCSIZFPPK34NSM7H65R2XRIPGJOCCLYZSV37LG3XI2XDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52M6PNY4K44IBSO2U3SAWEWMIBJAM6L22SRP367T55TBGPXD4VZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4BAPIEGHZ5CEYV7I56DR75ED6AYLRR44HBVLDRXYRURINEXCOLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JIIB4W3PWJ4PDAZHXNRG6P65XFJS4QP3PLGLZ7JLIVNOPRMNQAFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MMFPEADZAMMGLOMCM4ADKYJ3QJEOYEIVMNH7JTCH7KDASAIEDUSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JIXV72X3WE2JNMVUFDYGGTNKB3QJXUK63MGBSVE2XAW7UD2NP2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTFVLRM5DSBHFLM4POPZDY7OODJGHM4FP54SAHJ3ZFSU4S3DC2NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNKQUSFBCEAL6MJH4WFEKMA2C3AB43TZNISDAH2PQJZHF6P5VUTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4YRZT5QWWMY3FPLF2ABBNYKHRD3GLF5CGSENCCB76YL23BK6GCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LHSWFYJFBDRCKGOZFVAMVXXSFIP3L37GTTTWQEDZB3ZQMZDIQRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBH3XX3RI56SVM2SXXMHOZQHQHY4RFSEARAD5OYAYTGTUINACEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPDMF43QO66WIU42YEBJVP4CPD3FC44X3NDGRY5WATIN7QOSUX2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWSV5FOYX7K2WHF7JZ7XTNM2SYT4RXCXLG5FCREB6C6SPAXQQQXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R4VC2W2TSVP5HFVZMDIPZIACJSSXEUOMAQRKPOCPDBZO2WGEYTXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YUEWQV2HOZWMFRG3M2OKKZG3HR7GE42CGCSCQ5PXEJXRG5UUTNHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74M425YKMKOJXBMCGHOYPDUPIN3QFMJ524SZXGXOPZ77VVMVWI2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHU7FBN5YMGNGUZREAK6RUGXIOMPYZBTQKBY3N2OY33ZIZ7J5WJA/vendors.js"
            ]
        },
        "ListNotificationEvents": {
            "name": "ListNotificationEvents",
            "http": {
                "method": "GET",
                "requestUri": "/notification-events",
                "responseCode": 200
            },
            "input": {
                "shape": "ListNotificationEventsRequest"
            },
            "output": {
                "shape": "ListNotificationEventsResponse"
            },
            "errors": [
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ThrottlingException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXGIUG3CDZF5Z74KRYHSQFQY2T2RVOXMQYGHWHZGKPBHXJFNGT3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U5M5PRH3VVZQXS2WFWRCXQPOKQJAYO4EMUWQCZYJA37UO3X54SKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XUJ6SZOKWVLVNLY5DAIO5YZ77ID57BNIVIVIUT4KT62NFASSRU7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RO762CGSTUPYDSGVQLPRPMH4FA56ZXIQWAYRE37G7BOQFEBPJ2JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FFUTF5X7CFDSWJ3NYN3N63AOHH7K5PSCJSL6T44LZT5HLUQBYOKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX6FENVVDUEEHU7QZ53LN7TUND4LWBHJDSGLG5AMH623JWC7UL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LMWYV5FHZ53BPYVSPRAEJMXOSEAGJTI7YJW3ULDGAIT65ZK7OIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYRAAUICCSIZFPPK34NSM7H65R2XRIPGJOCCLYZSV37LG3XI2XDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52M6PNY4K44IBSO2U3SAWEWMIBJAM6L22SRP367T55TBGPXD4VZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4BAPIEGHZ5CEYV7I56DR75ED6AYLRR44HBVLDRXYRURINEXCOLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JIIB4W3PWJ4PDAZHXNRG6P65XFJS4QP3PLGLZ7JLIVNOPRMNQAFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MMFPEADZAMMGLOMCM4ADKYJ3QJEOYEIVMNH7JTCH7KDASAIEDUSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JIXV72X3WE2JNMVUFDYGGTNKB3QJXUK63MGBSVE2XAW7UD2NP2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTFVLRM5DSBHFLM4POPZDY7OODJGHM4FP54SAHJ3ZFSU4S3DC2NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNKQUSFBCEAL6MJH4WFEKMA2C3AB43TZNISDAH2PQJZHF6P5VUTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4YRZT5QWWMY3FPLF2ABBNYKHRD3GLF5CGSENCCB76YL23BK6GCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LHSWFYJFBDRCKGOZFVAMVXXSFIP3L37GTTTWQEDZB3ZQMZDIQRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBH3XX3RI56SVM2SXXMHOZQHQHY4RFSEARAD5OYAYTGTUINACEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPDMF43QO66WIU42YEBJVP4CPD3FC44X3NDGRY5WATIN7QOSUX2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWSV5FOYX7K2WHF7JZ7XTNM2SYT4RXCXLG5FCREB6C6SPAXQQQXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R4VC2W2TSVP5HFVZMDIPZIACJSSXEUOMAQRKPOCPDBZO2WGEYTXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YUEWQV2HOZWMFRG3M2OKKZG3HR7GE42CGCSCQ5PXEJXRG5UUTNHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74M425YKMKOJXBMCGHOYPDUPIN3QFMJ524SZXGXOPZ77VVMVWI2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHU7FBN5YMGNGUZREAK6RUGXIOMPYZBTQKBY3N2OY33ZIZ7J5WJA/vendors.js"
            ]
        },
        "ListNotificationHubs": {
            "name": "ListNotificationHubs",
            "http": {
                "method": "GET",
                "requestUri": "/notification-hubs",
                "responseCode": 200
            },
            "input": {
                "shape": "ListNotificationHubsRequest"
            },
            "output": {
                "shape": "ListNotificationHubsResponse"
            },
            "errors": [
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ThrottlingException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXGIUG3CDZF5Z74KRYHSQFQY2T2RVOXMQYGHWHZGKPBHXJFNGT3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U5M5PRH3VVZQXS2WFWRCXQPOKQJAYO4EMUWQCZYJA37UO3X54SKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XUJ6SZOKWVLVNLY5DAIO5YZ77ID57BNIVIVIUT4KT62NFASSRU7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RO762CGSTUPYDSGVQLPRPMH4FA56ZXIQWAYRE37G7BOQFEBPJ2JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FFUTF5X7CFDSWJ3NYN3N63AOHH7K5PSCJSL6T44LZT5HLUQBYOKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX6FENVVDUEEHU7QZ53LN7TUND4LWBHJDSGLG5AMH623JWC7UL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LMWYV5FHZ53BPYVSPRAEJMXOSEAGJTI7YJW3ULDGAIT65ZK7OIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYRAAUICCSIZFPPK34NSM7H65R2XRIPGJOCCLYZSV37LG3XI2XDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52M6PNY4K44IBSO2U3SAWEWMIBJAM6L22SRP367T55TBGPXD4VZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4BAPIEGHZ5CEYV7I56DR75ED6AYLRR44HBVLDRXYRURINEXCOLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JIIB4W3PWJ4PDAZHXNRG6P65XFJS4QP3PLGLZ7JLIVNOPRMNQAFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MMFPEADZAMMGLOMCM4ADKYJ3QJEOYEIVMNH7JTCH7KDASAIEDUSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JIXV72X3WE2JNMVUFDYGGTNKB3QJXUK63MGBSVE2XAW7UD2NP2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTFVLRM5DSBHFLM4POPZDY7OODJGHM4FP54SAHJ3ZFSU4S3DC2NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNKQUSFBCEAL6MJH4WFEKMA2C3AB43TZNISDAH2PQJZHF6P5VUTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4YRZT5QWWMY3FPLF2ABBNYKHRD3GLF5CGSENCCB76YL23BK6GCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LHSWFYJFBDRCKGOZFVAMVXXSFIP3L37GTTTWQEDZB3ZQMZDIQRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBH3XX3RI56SVM2SXXMHOZQHQHY4RFSEARAD5OYAYTGTUINACEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPDMF43QO66WIU42YEBJVP4CPD3FC44X3NDGRY5WATIN7QOSUX2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWSV5FOYX7K2WHF7JZ7XTNM2SYT4RXCXLG5FCREB6C6SPAXQQQXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R4VC2W2TSVP5HFVZMDIPZIACJSSXEUOMAQRKPOCPDBZO2WGEYTXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YUEWQV2HOZWMFRG3M2OKKZG3HR7GE42CGCSCQ5PXEJXRG5UUTNHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74M425YKMKOJXBMCGHOYPDUPIN3QFMJ524SZXGXOPZ77VVMVWI2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHU7FBN5YMGNGUZREAK6RUGXIOMPYZBTQKBY3N2OY33ZIZ7J5WJA/vendors.js"
            ]
        },
        "ListTagsForResource": {
            "name": "ListTagsForResource",
            "http": {
                "method": "GET",
                "requestUri": "/tags/{arn}",
                "responseCode": 200
            },
            "input": {
                "shape": "ListTagsForResourceRequest"
            },
            "output": {
                "shape": "ListTagsForResourceResponse"
            },
            "errors": [
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ResourceNotFoundException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXGIUG3CDZF5Z74KRYHSQFQY2T2RVOXMQYGHWHZGKPBHXJFNGT3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U5M5PRH3VVZQXS2WFWRCXQPOKQJAYO4EMUWQCZYJA37UO3X54SKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XUJ6SZOKWVLVNLY5DAIO5YZ77ID57BNIVIVIUT4KT62NFASSRU7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RO762CGSTUPYDSGVQLPRPMH4FA56ZXIQWAYRE37G7BOQFEBPJ2JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FFUTF5X7CFDSWJ3NYN3N63AOHH7K5PSCJSL6T44LZT5HLUQBYOKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX6FENVVDUEEHU7QZ53LN7TUND4LWBHJDSGLG5AMH623JWC7UL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LMWYV5FHZ53BPYVSPRAEJMXOSEAGJTI7YJW3ULDGAIT65ZK7OIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYRAAUICCSIZFPPK34NSM7H65R2XRIPGJOCCLYZSV37LG3XI2XDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52M6PNY4K44IBSO2U3SAWEWMIBJAM6L22SRP367T55TBGPXD4VZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4BAPIEGHZ5CEYV7I56DR75ED6AYLRR44HBVLDRXYRURINEXCOLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JIIB4W3PWJ4PDAZHXNRG6P65XFJS4QP3PLGLZ7JLIVNOPRMNQAFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MMFPEADZAMMGLOMCM4ADKYJ3QJEOYEIVMNH7JTCH7KDASAIEDUSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JIXV72X3WE2JNMVUFDYGGTNKB3QJXUK63MGBSVE2XAW7UD2NP2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTFVLRM5DSBHFLM4POPZDY7OODJGHM4FP54SAHJ3ZFSU4S3DC2NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNKQUSFBCEAL6MJH4WFEKMA2C3AB43TZNISDAH2PQJZHF6P5VUTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4YRZT5QWWMY3FPLF2ABBNYKHRD3GLF5CGSENCCB76YL23BK6GCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LHSWFYJFBDRCKGOZFVAMVXXSFIP3L37GTTTWQEDZB3ZQMZDIQRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBH3XX3RI56SVM2SXXMHOZQHQHY4RFSEARAD5OYAYTGTUINACEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPDMF43QO66WIU42YEBJVP4CPD3FC44X3NDGRY5WATIN7QOSUX2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWSV5FOYX7K2WHF7JZ7XTNM2SYT4RXCXLG5FCREB6C6SPAXQQQXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R4VC2W2TSVP5HFVZMDIPZIACJSSXEUOMAQRKPOCPDBZO2WGEYTXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YUEWQV2HOZWMFRG3M2OKKZG3HR7GE42CGCSCQ5PXEJXRG5UUTNHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74M425YKMKOJXBMCGHOYPDUPIN3QFMJ524SZXGXOPZ77VVMVWI2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHU7FBN5YMGNGUZREAK6RUGXIOMPYZBTQKBY3N2OY33ZIZ7J5WJA/vendors.js"
            ]
        },
        "RegisterNotificationHub": {
            "name": "RegisterNotificationHub",
            "http": {
                "method": "POST",
                "requestUri": "/notification-hubs",
                "responseCode": 201
            },
            "input": {
                "shape": "RegisterNotificationHubRequest"
            },
            "output": {
                "shape": "RegisterNotificationHubResponse"
            },
            "errors": [
                {
                    "shape": "ServiceQuotaExceededException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ThrottlingException"
                }
            ],
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXGIUG3CDZF5Z74KRYHSQFQY2T2RVOXMQYGHWHZGKPBHXJFNGT3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U5M5PRH3VVZQXS2WFWRCXQPOKQJAYO4EMUWQCZYJA37UO3X54SKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XUJ6SZOKWVLVNLY5DAIO5YZ77ID57BNIVIVIUT4KT62NFASSRU7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RO762CGSTUPYDSGVQLPRPMH4FA56ZXIQWAYRE37G7BOQFEBPJ2JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FFUTF5X7CFDSWJ3NYN3N63AOHH7K5PSCJSL6T44LZT5HLUQBYOKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX6FENVVDUEEHU7QZ53LN7TUND4LWBHJDSGLG5AMH623JWC7UL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LMWYV5FHZ53BPYVSPRAEJMXOSEAGJTI7YJW3ULDGAIT65ZK7OIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYRAAUICCSIZFPPK34NSM7H65R2XRIPGJOCCLYZSV37LG3XI2XDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52M6PNY4K44IBSO2U3SAWEWMIBJAM6L22SRP367T55TBGPXD4VZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4BAPIEGHZ5CEYV7I56DR75ED6AYLRR44HBVLDRXYRURINEXCOLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JIIB4W3PWJ4PDAZHXNRG6P65XFJS4QP3PLGLZ7JLIVNOPRMNQAFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MMFPEADZAMMGLOMCM4ADKYJ3QJEOYEIVMNH7JTCH7KDASAIEDUSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JIXV72X3WE2JNMVUFDYGGTNKB3QJXUK63MGBSVE2XAW7UD2NP2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTFVLRM5DSBHFLM4POPZDY7OODJGHM4FP54SAHJ3ZFSU4S3DC2NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNKQUSFBCEAL6MJH4WFEKMA2C3AB43TZNISDAH2PQJZHF6P5VUTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4YRZT5QWWMY3FPLF2ABBNYKHRD3GLF5CGSENCCB76YL23BK6GCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LHSWFYJFBDRCKGOZFVAMVXXSFIP3L37GTTTWQEDZB3ZQMZDIQRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBH3XX3RI56SVM2SXXMHOZQHQHY4RFSEARAD5OYAYTGTUINACEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPDMF43QO66WIU42YEBJVP4CPD3FC44X3NDGRY5WATIN7QOSUX2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWSV5FOYX7K2WHF7JZ7XTNM2SYT4RXCXLG5FCREB6C6SPAXQQQXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R4VC2W2TSVP5HFVZMDIPZIACJSSXEUOMAQRKPOCPDBZO2WGEYTXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YUEWQV2HOZWMFRG3M2OKKZG3HR7GE42CGCSCQ5PXEJXRG5UUTNHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74M425YKMKOJXBMCGHOYPDUPIN3QFMJ524SZXGXOPZ77VVMVWI2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHU7FBN5YMGNGUZREAK6RUGXIOMPYZBTQKBY3N2OY33ZIZ7J5WJA/vendors.js"
            ]
        },
        "TagResource": {
            "name": "TagResource",
            "http": {
                "method": "POST",
                "requestUri": "/tags/{arn}",
                "responseCode": 200
            },
            "input": {
                "shape": "TagResourceRequest"
            },
            "output": {
                "shape": "TagResourceResponse"
            },
            "errors": [
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ResourceNotFoundException"
                }
            ],
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXGIUG3CDZF5Z74KRYHSQFQY2T2RVOXMQYGHWHZGKPBHXJFNGT3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U5M5PRH3VVZQXS2WFWRCXQPOKQJAYO4EMUWQCZYJA37UO3X54SKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XUJ6SZOKWVLVNLY5DAIO5YZ77ID57BNIVIVIUT4KT62NFASSRU7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RO762CGSTUPYDSGVQLPRPMH4FA56ZXIQWAYRE37G7BOQFEBPJ2JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FFUTF5X7CFDSWJ3NYN3N63AOHH7K5PSCJSL6T44LZT5HLUQBYOKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX6FENVVDUEEHU7QZ53LN7TUND4LWBHJDSGLG5AMH623JWC7UL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LMWYV5FHZ53BPYVSPRAEJMXOSEAGJTI7YJW3ULDGAIT65ZK7OIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYRAAUICCSIZFPPK34NSM7H65R2XRIPGJOCCLYZSV37LG3XI2XDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52M6PNY4K44IBSO2U3SAWEWMIBJAM6L22SRP367T55TBGPXD4VZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4BAPIEGHZ5CEYV7I56DR75ED6AYLRR44HBVLDRXYRURINEXCOLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JIIB4W3PWJ4PDAZHXNRG6P65XFJS4QP3PLGLZ7JLIVNOPRMNQAFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MMFPEADZAMMGLOMCM4ADKYJ3QJEOYEIVMNH7JTCH7KDASAIEDUSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JIXV72X3WE2JNMVUFDYGGTNKB3QJXUK63MGBSVE2XAW7UD2NP2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTFVLRM5DSBHFLM4POPZDY7OODJGHM4FP54SAHJ3ZFSU4S3DC2NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNKQUSFBCEAL6MJH4WFEKMA2C3AB43TZNISDAH2PQJZHF6P5VUTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4YRZT5QWWMY3FPLF2ABBNYKHRD3GLF5CGSENCCB76YL23BK6GCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LHSWFYJFBDRCKGOZFVAMVXXSFIP3L37GTTTWQEDZB3ZQMZDIQRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBH3XX3RI56SVM2SXXMHOZQHQHY4RFSEARAD5OYAYTGTUINACEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPDMF43QO66WIU42YEBJVP4CPD3FC44X3NDGRY5WATIN7QOSUX2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWSV5FOYX7K2WHF7JZ7XTNM2SYT4RXCXLG5FCREB6C6SPAXQQQXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R4VC2W2TSVP5HFVZMDIPZIACJSSXEUOMAQRKPOCPDBZO2WGEYTXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YUEWQV2HOZWMFRG3M2OKKZG3HR7GE42CGCSCQ5PXEJXRG5UUTNHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74M425YKMKOJXBMCGHOYPDUPIN3QFMJ524SZXGXOPZ77VVMVWI2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHU7FBN5YMGNGUZREAK6RUGXIOMPYZBTQKBY3N2OY33ZIZ7J5WJA/vendors.js"
            ]
        },
        "UntagResource": {
            "name": "UntagResource",
            "http": {
                "method": "DELETE",
                "requestUri": "/tags/{arn}",
                "responseCode": 200
            },
            "input": {
                "shape": "UntagResourceRequest"
            },
            "output": {
                "shape": "UntagResourceResponse"
            },
            "errors": [
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ResourceNotFoundException"
                }
            ],
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXGIUG3CDZF5Z74KRYHSQFQY2T2RVOXMQYGHWHZGKPBHXJFNGT3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U5M5PRH3VVZQXS2WFWRCXQPOKQJAYO4EMUWQCZYJA37UO3X54SKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XUJ6SZOKWVLVNLY5DAIO5YZ77ID57BNIVIVIUT4KT62NFASSRU7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RO762CGSTUPYDSGVQLPRPMH4FA56ZXIQWAYRE37G7BOQFEBPJ2JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FFUTF5X7CFDSWJ3NYN3N63AOHH7K5PSCJSL6T44LZT5HLUQBYOKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX6FENVVDUEEHU7QZ53LN7TUND4LWBHJDSGLG5AMH623JWC7UL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LMWYV5FHZ53BPYVSPRAEJMXOSEAGJTI7YJW3ULDGAIT65ZK7OIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYRAAUICCSIZFPPK34NSM7H65R2XRIPGJOCCLYZSV37LG3XI2XDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52M6PNY4K44IBSO2U3SAWEWMIBJAM6L22SRP367T55TBGPXD4VZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4BAPIEGHZ5CEYV7I56DR75ED6AYLRR44HBVLDRXYRURINEXCOLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JIIB4W3PWJ4PDAZHXNRG6P65XFJS4QP3PLGLZ7JLIVNOPRMNQAFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MMFPEADZAMMGLOMCM4ADKYJ3QJEOYEIVMNH7JTCH7KDASAIEDUSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JIXV72X3WE2JNMVUFDYGGTNKB3QJXUK63MGBSVE2XAW7UD2NP2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTFVLRM5DSBHFLM4POPZDY7OODJGHM4FP54SAHJ3ZFSU4S3DC2NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNKQUSFBCEAL6MJH4WFEKMA2C3AB43TZNISDAH2PQJZHF6P5VUTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4YRZT5QWWMY3FPLF2ABBNYKHRD3GLF5CGSENCCB76YL23BK6GCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LHSWFYJFBDRCKGOZFVAMVXXSFIP3L37GTTTWQEDZB3ZQMZDIQRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBH3XX3RI56SVM2SXXMHOZQHQHY4RFSEARAD5OYAYTGTUINACEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPDMF43QO66WIU42YEBJVP4CPD3FC44X3NDGRY5WATIN7QOSUX2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWSV5FOYX7K2WHF7JZ7XTNM2SYT4RXCXLG5FCREB6C6SPAXQQQXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R4VC2W2TSVP5HFVZMDIPZIACJSSXEUOMAQRKPOCPDBZO2WGEYTXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YUEWQV2HOZWMFRG3M2OKKZG3HR7GE42CGCSCQ5PXEJXRG5UUTNHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74M425YKMKOJXBMCGHOYPDUPIN3QFMJ524SZXGXOPZ77VVMVWI2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHU7FBN5YMGNGUZREAK6RUGXIOMPYZBTQKBY3N2OY33ZIZ7J5WJA/vendors.js"
            ]
        },
        "UpdateEventRule": {
            "name": "UpdateEventRule",
            "http": {
                "method": "PUT",
                "requestUri": "/event-rules/{arn}",
                "responseCode": 200
            },
            "input": {
                "shape": "UpdateEventRuleRequest"
            },
            "output": {
                "shape": "UpdateEventRuleResponse"
            },
            "errors": [
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "ResourceNotFoundException"
                }
            ],
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXGIUG3CDZF5Z74KRYHSQFQY2T2RVOXMQYGHWHZGKPBHXJFNGT3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U5M5PRH3VVZQXS2WFWRCXQPOKQJAYO4EMUWQCZYJA37UO3X54SKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XUJ6SZOKWVLVNLY5DAIO5YZ77ID57BNIVIVIUT4KT62NFASSRU7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RO762CGSTUPYDSGVQLPRPMH4FA56ZXIQWAYRE37G7BOQFEBPJ2JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FFUTF5X7CFDSWJ3NYN3N63AOHH7K5PSCJSL6T44LZT5HLUQBYOKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX6FENVVDUEEHU7QZ53LN7TUND4LWBHJDSGLG5AMH623JWC7UL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LMWYV5FHZ53BPYVSPRAEJMXOSEAGJTI7YJW3ULDGAIT65ZK7OIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYRAAUICCSIZFPPK34NSM7H65R2XRIPGJOCCLYZSV37LG3XI2XDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52M6PNY4K44IBSO2U3SAWEWMIBJAM6L22SRP367T55TBGPXD4VZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4BAPIEGHZ5CEYV7I56DR75ED6AYLRR44HBVLDRXYRURINEXCOLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JIIB4W3PWJ4PDAZHXNRG6P65XFJS4QP3PLGLZ7JLIVNOPRMNQAFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MMFPEADZAMMGLOMCM4ADKYJ3QJEOYEIVMNH7JTCH7KDASAIEDUSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JIXV72X3WE2JNMVUFDYGGTNKB3QJXUK63MGBSVE2XAW7UD2NP2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTFVLRM5DSBHFLM4POPZDY7OODJGHM4FP54SAHJ3ZFSU4S3DC2NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNKQUSFBCEAL6MJH4WFEKMA2C3AB43TZNISDAH2PQJZHF6P5VUTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4YRZT5QWWMY3FPLF2ABBNYKHRD3GLF5CGSENCCB76YL23BK6GCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LHSWFYJFBDRCKGOZFVAMVXXSFIP3L37GTTTWQEDZB3ZQMZDIQRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBH3XX3RI56SVM2SXXMHOZQHQHY4RFSEARAD5OYAYTGTUINACEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPDMF43QO66WIU42YEBJVP4CPD3FC44X3NDGRY5WATIN7QOSUX2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWSV5FOYX7K2WHF7JZ7XTNM2SYT4RXCXLG5FCREB6C6SPAXQQQXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R4VC2W2TSVP5HFVZMDIPZIACJSSXEUOMAQRKPOCPDBZO2WGEYTXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YUEWQV2HOZWMFRG3M2OKKZG3HR7GE42CGCSCQ5PXEJXRG5UUTNHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74M425YKMKOJXBMCGHOYPDUPIN3QFMJ524SZXGXOPZ77VVMVWI2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHU7FBN5YMGNGUZREAK6RUGXIOMPYZBTQKBY3N2OY33ZIZ7J5WJA/vendors.js"
            ]
        },
        "UpdateNotificationConfiguration": {
            "name": "UpdateNotificationConfiguration",
            "http": {
                "method": "PUT",
                "requestUri": "/notification-configurations/{arn}",
                "responseCode": 200
            },
            "input": {
                "shape": "UpdateNotificationConfigurationRequest"
            },
            "output": {
                "shape": "UpdateNotificationConfigurationResponse"
            },
            "errors": [
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "ResourceNotFoundException"
                }
            ],
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXGIUG3CDZF5Z74KRYHSQFQY2T2RVOXMQYGHWHZGKPBHXJFNGT3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U5M5PRH3VVZQXS2WFWRCXQPOKQJAYO4EMUWQCZYJA37UO3X54SKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XUJ6SZOKWVLVNLY5DAIO5YZ77ID57BNIVIVIUT4KT62NFASSRU7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RO762CGSTUPYDSGVQLPRPMH4FA56ZXIQWAYRE37G7BOQFEBPJ2JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FFUTF5X7CFDSWJ3NYN3N63AOHH7K5PSCJSL6T44LZT5HLUQBYOKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX6FENVVDUEEHU7QZ53LN7TUND4LWBHJDSGLG5AMH623JWC7UL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LMWYV5FHZ53BPYVSPRAEJMXOSEAGJTI7YJW3ULDGAIT65ZK7OIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYRAAUICCSIZFPPK34NSM7H65R2XRIPGJOCCLYZSV37LG3XI2XDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52M6PNY4K44IBSO2U3SAWEWMIBJAM6L22SRP367T55TBGPXD4VZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4BAPIEGHZ5CEYV7I56DR75ED6AYLRR44HBVLDRXYRURINEXCOLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JIIB4W3PWJ4PDAZHXNRG6P65XFJS4QP3PLGLZ7JLIVNOPRMNQAFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MMFPEADZAMMGLOMCM4ADKYJ3QJEOYEIVMNH7JTCH7KDASAIEDUSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JIXV72X3WE2JNMVUFDYGGTNKB3QJXUK63MGBSVE2XAW7UD2NP2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTFVLRM5DSBHFLM4POPZDY7OODJGHM4FP54SAHJ3ZFSU4S3DC2NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNKQUSFBCEAL6MJH4WFEKMA2C3AB43TZNISDAH2PQJZHF6P5VUTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4YRZT5QWWMY3FPLF2ABBNYKHRD3GLF5CGSENCCB76YL23BK6GCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LHSWFYJFBDRCKGOZFVAMVXXSFIP3L37GTTTWQEDZB3ZQMZDIQRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBH3XX3RI56SVM2SXXMHOZQHQHY4RFSEARAD5OYAYTGTUINACEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPDMF43QO66WIU42YEBJVP4CPD3FC44X3NDGRY5WATIN7QOSUX2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWSV5FOYX7K2WHF7JZ7XTNM2SYT4RXCXLG5FCREB6C6SPAXQQQXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R4VC2W2TSVP5HFVZMDIPZIACJSSXEUOMAQRKPOCPDBZO2WGEYTXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YUEWQV2HOZWMFRG3M2OKKZG3HR7GE42CGCSCQ5PXEJXRG5UUTNHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74M425YKMKOJXBMCGHOYPDUPIN3QFMJ524SZXGXOPZ77VVMVWI2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHU7FBN5YMGNGUZREAK6RUGXIOMPYZBTQKBY3N2OY33ZIZ7J5WJA/vendors.js"
            ]
        },
        "ListMemberAccounts": {
            "name": "ListMemberAccounts",
            "http": {
                "method": "GET",
                "requestUri": "/list-member-accounts",
                "responseCode": 200
            },
            "input": {
                "shape": "ListMemberAccountsRequest"
            },
            "output": {
                "shape": "ListMemberAccountsResponse"
            },
            "errors": [
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ResourceNotFoundException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXGIUG3CDZF5Z74KRYHSQFQY2T2RVOXMQYGHWHZGKPBHXJFNGT3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U5M5PRH3VVZQXS2WFWRCXQPOKQJAYO4EMUWQCZYJA37UO3X54SKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XUJ6SZOKWVLVNLY5DAIO5YZ77ID57BNIVIVIUT4KT62NFASSRU7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RO762CGSTUPYDSGVQLPRPMH4FA56ZXIQWAYRE37G7BOQFEBPJ2JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FFUTF5X7CFDSWJ3NYN3N63AOHH7K5PSCJSL6T44LZT5HLUQBYOKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX6FENVVDUEEHU7QZ53LN7TUND4LWBHJDSGLG5AMH623JWC7UL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LMWYV5FHZ53BPYVSPRAEJMXOSEAGJTI7YJW3ULDGAIT65ZK7OIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYRAAUICCSIZFPPK34NSM7H65R2XRIPGJOCCLYZSV37LG3XI2XDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52M6PNY4K44IBSO2U3SAWEWMIBJAM6L22SRP367T55TBGPXD4VZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4BAPIEGHZ5CEYV7I56DR75ED6AYLRR44HBVLDRXYRURINEXCOLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JIIB4W3PWJ4PDAZHXNRG6P65XFJS4QP3PLGLZ7JLIVNOPRMNQAFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MMFPEADZAMMGLOMCM4ADKYJ3QJEOYEIVMNH7JTCH7KDASAIEDUSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JIXV72X3WE2JNMVUFDYGGTNKB3QJXUK63MGBSVE2XAW7UD2NP2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTFVLRM5DSBHFLM4POPZDY7OODJGHM4FP54SAHJ3ZFSU4S3DC2NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNKQUSFBCEAL6MJH4WFEKMA2C3AB43TZNISDAH2PQJZHF6P5VUTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4YRZT5QWWMY3FPLF2ABBNYKHRD3GLF5CGSENCCB76YL23BK6GCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LHSWFYJFBDRCKGOZFVAMVXXSFIP3L37GTTTWQEDZB3ZQMZDIQRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBH3XX3RI56SVM2SXXMHOZQHQHY4RFSEARAD5OYAYTGTUINACEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPDMF43QO66WIU42YEBJVP4CPD3FC44X3NDGRY5WATIN7QOSUX2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWSV5FOYX7K2WHF7JZ7XTNM2SYT4RXCXLG5FCREB6C6SPAXQQQXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R4VC2W2TSVP5HFVZMDIPZIACJSSXEUOMAQRKPOCPDBZO2WGEYTXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YUEWQV2HOZWMFRG3M2OKKZG3HR7GE42CGCSCQ5PXEJXRG5UUTNHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74M425YKMKOJXBMCGHOYPDUPIN3QFMJ524SZXGXOPZ77VVMVWI2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHU7FBN5YMGNGUZREAK6RUGXIOMPYZBTQKBY3N2OY33ZIZ7J5WJA/vendors.js"
            ]
        },
        "AssociateOrganizationalUnit": {
            "name": "AssociateOrganizationalUnit",
            "http": {
                "method": "POST",
                "requestUri": "/organizational-units/associate/{organizationalUnitId}",
                "responseCode": 201
            },
            "input": {
                "shape": "AssociateOrganizationalUnitRequest"
            },
            "output": {
                "shape": "AssociateOrganizationalUnitResponse"
            },
            "errors": [
                {
                    "shape": "ServiceQuotaExceededException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "ResourceNotFoundException"
                }
            ],
            "idempotent": true,
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXGIUG3CDZF5Z74KRYHSQFQY2T2RVOXMQYGHWHZGKPBHXJFNGT3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U5M5PRH3VVZQXS2WFWRCXQPOKQJAYO4EMUWQCZYJA37UO3X54SKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XUJ6SZOKWVLVNLY5DAIO5YZ77ID57BNIVIVIUT4KT62NFASSRU7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RO762CGSTUPYDSGVQLPRPMH4FA56ZXIQWAYRE37G7BOQFEBPJ2JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FFUTF5X7CFDSWJ3NYN3N63AOHH7K5PSCJSL6T44LZT5HLUQBYOKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX6FENVVDUEEHU7QZ53LN7TUND4LWBHJDSGLG5AMH623JWC7UL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LMWYV5FHZ53BPYVSPRAEJMXOSEAGJTI7YJW3ULDGAIT65ZK7OIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYRAAUICCSIZFPPK34NSM7H65R2XRIPGJOCCLYZSV37LG3XI2XDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52M6PNY4K44IBSO2U3SAWEWMIBJAM6L22SRP367T55TBGPXD4VZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4BAPIEGHZ5CEYV7I56DR75ED6AYLRR44HBVLDRXYRURINEXCOLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JIIB4W3PWJ4PDAZHXNRG6P65XFJS4QP3PLGLZ7JLIVNOPRMNQAFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MMFPEADZAMMGLOMCM4ADKYJ3QJEOYEIVMNH7JTCH7KDASAIEDUSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JIXV72X3WE2JNMVUFDYGGTNKB3QJXUK63MGBSVE2XAW7UD2NP2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTFVLRM5DSBHFLM4POPZDY7OODJGHM4FP54SAHJ3ZFSU4S3DC2NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNKQUSFBCEAL6MJH4WFEKMA2C3AB43TZNISDAH2PQJZHF6P5VUTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4YRZT5QWWMY3FPLF2ABBNYKHRD3GLF5CGSENCCB76YL23BK6GCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LHSWFYJFBDRCKGOZFVAMVXXSFIP3L37GTTTWQEDZB3ZQMZDIQRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBH3XX3RI56SVM2SXXMHOZQHQHY4RFSEARAD5OYAYTGTUINACEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPDMF43QO66WIU42YEBJVP4CPD3FC44X3NDGRY5WATIN7QOSUX2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWSV5FOYX7K2WHF7JZ7XTNM2SYT4RXCXLG5FCREB6C6SPAXQQQXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R4VC2W2TSVP5HFVZMDIPZIACJSSXEUOMAQRKPOCPDBZO2WGEYTXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YUEWQV2HOZWMFRG3M2OKKZG3HR7GE42CGCSCQ5PXEJXRG5UUTNHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74M425YKMKOJXBMCGHOYPDUPIN3QFMJ524SZXGXOPZ77VVMVWI2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHU7FBN5YMGNGUZREAK6RUGXIOMPYZBTQKBY3N2OY33ZIZ7J5WJA/vendors.js"
            ]
        },
        "DisableNotificationsAccessForOrganization": {
            "name": "DisableNotificationsAccessForOrganization",
            "http": {
                "method": "DELETE",
                "requestUri": "/organization/access",
                "responseCode": 200
            },
            "input": {
                "shape": "DisableNotificationsAccessForOrganizationRequest"
            },
            "output": {
                "shape": "DisableNotificationsAccessForOrganizationResponse"
            },
            "errors": [
                {
                    "shape": "ServiceQuotaExceededException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "ResourceNotFoundException"
                }
            ],
            "idempotent": true,
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXGIUG3CDZF5Z74KRYHSQFQY2T2RVOXMQYGHWHZGKPBHXJFNGT3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U5M5PRH3VVZQXS2WFWRCXQPOKQJAYO4EMUWQCZYJA37UO3X54SKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XUJ6SZOKWVLVNLY5DAIO5YZ77ID57BNIVIVIUT4KT62NFASSRU7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RO762CGSTUPYDSGVQLPRPMH4FA56ZXIQWAYRE37G7BOQFEBPJ2JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FFUTF5X7CFDSWJ3NYN3N63AOHH7K5PSCJSL6T44LZT5HLUQBYOKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX6FENVVDUEEHU7QZ53LN7TUND4LWBHJDSGLG5AMH623JWC7UL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LMWYV5FHZ53BPYVSPRAEJMXOSEAGJTI7YJW3ULDGAIT65ZK7OIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYRAAUICCSIZFPPK34NSM7H65R2XRIPGJOCCLYZSV37LG3XI2XDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52M6PNY4K44IBSO2U3SAWEWMIBJAM6L22SRP367T55TBGPXD4VZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4BAPIEGHZ5CEYV7I56DR75ED6AYLRR44HBVLDRXYRURINEXCOLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JIIB4W3PWJ4PDAZHXNRG6P65XFJS4QP3PLGLZ7JLIVNOPRMNQAFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MMFPEADZAMMGLOMCM4ADKYJ3QJEOYEIVMNH7JTCH7KDASAIEDUSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JIXV72X3WE2JNMVUFDYGGTNKB3QJXUK63MGBSVE2XAW7UD2NP2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTFVLRM5DSBHFLM4POPZDY7OODJGHM4FP54SAHJ3ZFSU4S3DC2NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNKQUSFBCEAL6MJH4WFEKMA2C3AB43TZNISDAH2PQJZHF6P5VUTA/vendors.js",
[...]
