{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-05-10",
        "endpointPrefix": "notifications",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "AWS User Notifications",
        "serviceId": "Notifications",
        "signatureVersion": "v4",
        "signingName": "notifications",
        "uid": "notifications-2018-05-10",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/AMNZO2JGOQJVZL45HWEMDZUE7GQOX4253OK2MRNNNKDWTQPAREZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Q6DWFWJ7AV5BE42AMG4RT2QMEPDFXTD7A5EBXD64UL6F5INUV4ZA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZGDU5ZN7P2XF47KZSMGG66R6LKWECESKD5MRPN5A2HVIOOHAIOGA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XZVU4GFI3G4CX6OFX4UTWSTDDVI5MZZTHEBEPCH56CU2GMKBIDTQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HH5KEPTSBTX7GAE23YCR5MON7UEG7DVD6TL53TJUBSUCK2UXRSXA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7OCE3ATZU5RM4DMGYFYOKI22ETFP2GOJA6CJAGIRLVDQ5YANWWAQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3JYOJJEBENAPQECQHLSIBXDSE2CXW7TMZVT6BU6ZEAYYWGP75WRA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HZYIFXKL4OKHZOYQFWUMTLIMW4DOKBDZ46HRUI5V57VLSUEH7FQQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AJ4UIVIFQXKA6TIUUB6LJ2AE2V4NZQZAFH27QNDSUHAH76NMICYQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/M5DYIBUJMRKDXGVI2WB6S6COZEIR7YZYUTOQQBXXHXVNZ4DIKTOA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/W4P6OA2JQM3VRTWX47EC45XCSF242EYHDD35ILWOJM4Y2FLC34MQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AC5VKO3YX3LT3QHT37JGSTA3DR3XNHN4KC2PN55D4KDT5USOCX4Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XWNJ5XQPRXX4AOR4VSJLMGGDYP3EAF2NHP7QV2FHCLP32COOGBKA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VXGITJY3LLQYJ5NPOBQ4TQFUSIJAMP6QZCBWPT5F3BHGDEI6ZY4Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JUSZMPQQ7AOMKMPYQGO6ATPVWKC3RDSA3OSSFD3GC3KSQSK54JFA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XB5KXEP2V2GUTT3LQVMDE7AV4B4ZSKBN4RV5SFFKTW3OHUUS5U2A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NG5T2TSPMMVJB4YAECBWY3TUWDVOLND3K3WPARCOG5CTVJFTPMMA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3F7BYKT6PWJZ6BBE2ONRFJDKBBANO7UIONNDECE3EDDE46VCDLRA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/A7SCLNFMSXNGZECS4TH5XWTIZ2WCC2XGEC3SQ7C5IGY3HLZH6ELA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/A4GIUITOLFZAH72LSASJ2I34QKCEXAXVXEF3OVBECMOO5SHIIBGA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ILEJSB2WGXMAWVCCRQHSHTDXSGTW362JXRFZQTSU2BDNGUXD4KMA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/A2DMQNYVW5ROMMRX74TLON7MZYW3GHEQYIV2YNWCXVF7BXUTFW5A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js"
        ]
    },
    "operations": {
        "AssociateChannel": {
            "name": "AssociateChannel",
            "http": {
                "method": "POST",
                "requestUri": "/channels/associate/{arn}",
                "responseCode": 201
            },
            "input": {
                "shape": "AssociateChannelRequest"
            },
            "output": {
                "shape": "AssociateChannelResponse"
            },
            "errors": [
                {
                    "shape": "ServiceQuotaExceededException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "ResourceNotFoundException"
                }
            ],
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6DWFWJ7AV5BE42AMG4RT2QMEPDFXTD7A5EBXD64UL6F5INUV4ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZGDU5ZN7P2XF47KZSMGG66R6LKWECESKD5MRPN5A2HVIOOHAIOGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZVU4GFI3G4CX6OFX4UTWSTDDVI5MZZTHEBEPCH56CU2GMKBIDTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HH5KEPTSBTX7GAE23YCR5MON7UEG7DVD6TL53TJUBSUCK2UXRSXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OCE3ATZU5RM4DMGYFYOKI22ETFP2GOJA6CJAGIRLVDQ5YANWWAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JYOJJEBENAPQECQHLSIBXDSE2CXW7TMZVT6BU6ZEAYYWGP75WRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HZYIFXKL4OKHZOYQFWUMTLIMW4DOKBDZ46HRUI5V57VLSUEH7FQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ4UIVIFQXKA6TIUUB6LJ2AE2V4NZQZAFH27QNDSUHAH76NMICYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5DYIBUJMRKDXGVI2WB6S6COZEIR7YZYUTOQQBXXHXVNZ4DIKTOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W4P6OA2JQM3VRTWX47EC45XCSF242EYHDD35ILWOJM4Y2FLC34MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AC5VKO3YX3LT3QHT37JGSTA3DR3XNHN4KC2PN55D4KDT5USOCX4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWNJ5XQPRXX4AOR4VSJLMGGDYP3EAF2NHP7QV2FHCLP32COOGBKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXGITJY3LLQYJ5NPOBQ4TQFUSIJAMP6QZCBWPT5F3BHGDEI6ZY4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUSZMPQQ7AOMKMPYQGO6ATPVWKC3RDSA3OSSFD3GC3KSQSK54JFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XB5KXEP2V2GUTT3LQVMDE7AV4B4ZSKBN4RV5SFFKTW3OHUUS5U2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5T2TSPMMVJB4YAECBWY3TUWDVOLND3K3WPARCOG5CTVJFTPMMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F7BYKT6PWJZ6BBE2ONRFJDKBBANO7UIONNDECE3EDDE46VCDLRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7SCLNFMSXNGZECS4TH5XWTIZ2WCC2XGEC3SQ7C5IGY3HLZH6ELA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4GIUITOLFZAH72LSASJ2I34QKCEXAXVXEF3OVBECMOO5SHIIBGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILEJSB2WGXMAWVCCRQHSHTDXSGTW362JXRFZQTSU2BDNGUXD4KMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A2DMQNYVW5ROMMRX74TLON7MZYW3GHEQYIV2YNWCXVF7BXUTFW5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js"
            ]
        },
        "CreateEventRule": {
            "name": "CreateEventRule",
            "http": {
                "method": "POST",
                "requestUri": "/event-rules",
                "responseCode": 201
            },
            "input": {
                "shape": "CreateEventRuleRequest"
            },
            "output": {
                "shape": "CreateEventRuleResponse"
            },
            "errors": [
                {
                    "shape": "ServiceQuotaExceededException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "ResourceNotFoundException"
                }
            ],
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6DWFWJ7AV5BE42AMG4RT2QMEPDFXTD7A5EBXD64UL6F5INUV4ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZGDU5ZN7P2XF47KZSMGG66R6LKWECESKD5MRPN5A2HVIOOHAIOGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZVU4GFI3G4CX6OFX4UTWSTDDVI5MZZTHEBEPCH56CU2GMKBIDTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HH5KEPTSBTX7GAE23YCR5MON7UEG7DVD6TL53TJUBSUCK2UXRSXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OCE3ATZU5RM4DMGYFYOKI22ETFP2GOJA6CJAGIRLVDQ5YANWWAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JYOJJEBENAPQECQHLSIBXDSE2CXW7TMZVT6BU6ZEAYYWGP75WRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HZYIFXKL4OKHZOYQFWUMTLIMW4DOKBDZ46HRUI5V57VLSUEH7FQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ4UIVIFQXKA6TIUUB6LJ2AE2V4NZQZAFH27QNDSUHAH76NMICYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5DYIBUJMRKDXGVI2WB6S6COZEIR7YZYUTOQQBXXHXVNZ4DIKTOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W4P6OA2JQM3VRTWX47EC45XCSF242EYHDD35ILWOJM4Y2FLC34MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AC5VKO3YX3LT3QHT37JGSTA3DR3XNHN4KC2PN55D4KDT5USOCX4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWNJ5XQPRXX4AOR4VSJLMGGDYP3EAF2NHP7QV2FHCLP32COOGBKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXGITJY3LLQYJ5NPOBQ4TQFUSIJAMP6QZCBWPT5F3BHGDEI6ZY4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUSZMPQQ7AOMKMPYQGO6ATPVWKC3RDSA3OSSFD3GC3KSQSK54JFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XB5KXEP2V2GUTT3LQVMDE7AV4B4ZSKBN4RV5SFFKTW3OHUUS5U2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5T2TSPMMVJB4YAECBWY3TUWDVOLND3K3WPARCOG5CTVJFTPMMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F7BYKT6PWJZ6BBE2ONRFJDKBBANO7UIONNDECE3EDDE46VCDLRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7SCLNFMSXNGZECS4TH5XWTIZ2WCC2XGEC3SQ7C5IGY3HLZH6ELA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4GIUITOLFZAH72LSASJ2I34QKCEXAXVXEF3OVBECMOO5SHIIBGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILEJSB2WGXMAWVCCRQHSHTDXSGTW362JXRFZQTSU2BDNGUXD4KMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A2DMQNYVW5ROMMRX74TLON7MZYW3GHEQYIV2YNWCXVF7BXUTFW5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js"
            ]
        },
        "CreateNotificationConfiguration": {
            "name": "CreateNotificationConfiguration",
            "http": {
                "method": "POST",
                "requestUri": "/notification-configurations",
                "responseCode": 201
            },
            "input": {
                "shape": "CreateNotificationConfigurationRequest"
            },
            "output": {
                "shape": "CreateNotificationConfigurationResponse"
            },
            "errors": [
                {
                    "shape": "ServiceQuotaExceededException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ConflictException"
                }
            ],
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6DWFWJ7AV5BE42AMG4RT2QMEPDFXTD7A5EBXD64UL6F5INUV4ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZGDU5ZN7P2XF47KZSMGG66R6LKWECESKD5MRPN5A2HVIOOHAIOGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZVU4GFI3G4CX6OFX4UTWSTDDVI5MZZTHEBEPCH56CU2GMKBIDTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HH5KEPTSBTX7GAE23YCR5MON7UEG7DVD6TL53TJUBSUCK2UXRSXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OCE3ATZU5RM4DMGYFYOKI22ETFP2GOJA6CJAGIRLVDQ5YANWWAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JYOJJEBENAPQECQHLSIBXDSE2CXW7TMZVT6BU6ZEAYYWGP75WRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HZYIFXKL4OKHZOYQFWUMTLIMW4DOKBDZ46HRUI5V57VLSUEH7FQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ4UIVIFQXKA6TIUUB6LJ2AE2V4NZQZAFH27QNDSUHAH76NMICYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5DYIBUJMRKDXGVI2WB6S6COZEIR7YZYUTOQQBXXHXVNZ4DIKTOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W4P6OA2JQM3VRTWX47EC45XCSF242EYHDD35ILWOJM4Y2FLC34MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AC5VKO3YX3LT3QHT37JGSTA3DR3XNHN4KC2PN55D4KDT5USOCX4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWNJ5XQPRXX4AOR4VSJLMGGDYP3EAF2NHP7QV2FHCLP32COOGBKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXGITJY3LLQYJ5NPOBQ4TQFUSIJAMP6QZCBWPT5F3BHGDEI6ZY4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUSZMPQQ7AOMKMPYQGO6ATPVWKC3RDSA3OSSFD3GC3KSQSK54JFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XB5KXEP2V2GUTT3LQVMDE7AV4B4ZSKBN4RV5SFFKTW3OHUUS5U2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5T2TSPMMVJB4YAECBWY3TUWDVOLND3K3WPARCOG5CTVJFTPMMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F7BYKT6PWJZ6BBE2ONRFJDKBBANO7UIONNDECE3EDDE46VCDLRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7SCLNFMSXNGZECS4TH5XWTIZ2WCC2XGEC3SQ7C5IGY3HLZH6ELA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4GIUITOLFZAH72LSASJ2I34QKCEXAXVXEF3OVBECMOO5SHIIBGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILEJSB2WGXMAWVCCRQHSHTDXSGTW362JXRFZQTSU2BDNGUXD4KMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A2DMQNYVW5ROMMRX74TLON7MZYW3GHEQYIV2YNWCXVF7BXUTFW5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js"
            ]
        },
        "DeleteEventRule": {
            "name": "DeleteEventRule",
            "http": {
                "method": "DELETE",
                "requestUri": "/event-rules/{arn}",
                "responseCode": 200
            },
            "input": {
                "shape": "DeleteEventRuleRequest"
            },
            "output": {
                "shape": "DeleteEventRuleResponse"
            },
            "errors": [
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "ResourceNotFoundException"
                }
            ],
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6DWFWJ7AV5BE42AMG4RT2QMEPDFXTD7A5EBXD64UL6F5INUV4ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZGDU5ZN7P2XF47KZSMGG66R6LKWECESKD5MRPN5A2HVIOOHAIOGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZVU4GFI3G4CX6OFX4UTWSTDDVI5MZZTHEBEPCH56CU2GMKBIDTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HH5KEPTSBTX7GAE23YCR5MON7UEG7DVD6TL53TJUBSUCK2UXRSXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OCE3ATZU5RM4DMGYFYOKI22ETFP2GOJA6CJAGIRLVDQ5YANWWAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JYOJJEBENAPQECQHLSIBXDSE2CXW7TMZVT6BU6ZEAYYWGP75WRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HZYIFXKL4OKHZOYQFWUMTLIMW4DOKBDZ46HRUI5V57VLSUEH7FQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ4UIVIFQXKA6TIUUB6LJ2AE2V4NZQZAFH27QNDSUHAH76NMICYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5DYIBUJMRKDXGVI2WB6S6COZEIR7YZYUTOQQBXXHXVNZ4DIKTOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W4P6OA2JQM3VRTWX47EC45XCSF242EYHDD35ILWOJM4Y2FLC34MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AC5VKO3YX3LT3QHT37JGSTA3DR3XNHN4KC2PN55D4KDT5USOCX4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWNJ5XQPRXX4AOR4VSJLMGGDYP3EAF2NHP7QV2FHCLP32COOGBKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXGITJY3LLQYJ5NPOBQ4TQFUSIJAMP6QZCBWPT5F3BHGDEI6ZY4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUSZMPQQ7AOMKMPYQGO6ATPVWKC3RDSA3OSSFD3GC3KSQSK54JFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XB5KXEP2V2GUTT3LQVMDE7AV4B4ZSKBN4RV5SFFKTW3OHUUS5U2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5T2TSPMMVJB4YAECBWY3TUWDVOLND3K3WPARCOG5CTVJFTPMMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F7BYKT6PWJZ6BBE2ONRFJDKBBANO7UIONNDECE3EDDE46VCDLRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7SCLNFMSXNGZECS4TH5XWTIZ2WCC2XGEC3SQ7C5IGY3HLZH6ELA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4GIUITOLFZAH72LSASJ2I34QKCEXAXVXEF3OVBECMOO5SHIIBGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILEJSB2WGXMAWVCCRQHSHTDXSGTW362JXRFZQTSU2BDNGUXD4KMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A2DMQNYVW5ROMMRX74TLON7MZYW3GHEQYIV2YNWCXVF7BXUTFW5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js"
            ]
        },
        "DeleteNotificationConfiguration": {
            "name": "DeleteNotificationConfiguration",
            "http": {
                "method": "DELETE",
                "requestUri": "/notification-configurations/{arn}",
                "responseCode": 200
            },
            "input": {
                "shape": "DeleteNotificationConfigurationRequest"
            },
            "output": {
                "shape": "DeleteNotificationConfigurationResponse"
            },
            "errors": [
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "ResourceNotFoundException"
                }
            ],
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6DWFWJ7AV5BE42AMG4RT2QMEPDFXTD7A5EBXD64UL6F5INUV4ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZGDU5ZN7P2XF47KZSMGG66R6LKWECESKD5MRPN5A2HVIOOHAIOGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZVU4GFI3G4CX6OFX4UTWSTDDVI5MZZTHEBEPCH56CU2GMKBIDTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HH5KEPTSBTX7GAE23YCR5MON7UEG7DVD6TL53TJUBSUCK2UXRSXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OCE3ATZU5RM4DMGYFYOKI22ETFP2GOJA6CJAGIRLVDQ5YANWWAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JYOJJEBENAPQECQHLSIBXDSE2CXW7TMZVT6BU6ZEAYYWGP75WRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HZYIFXKL4OKHZOYQFWUMTLIMW4DOKBDZ46HRUI5V57VLSUEH7FQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ4UIVIFQXKA6TIUUB6LJ2AE2V4NZQZAFH27QNDSUHAH76NMICYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5DYIBUJMRKDXGVI2WB6S6COZEIR7YZYUTOQQBXXHXVNZ4DIKTOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W4P6OA2JQM3VRTWX47EC45XCSF242EYHDD35ILWOJM4Y2FLC34MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AC5VKO3YX3LT3QHT37JGSTA3DR3XNHN4KC2PN55D4KDT5USOCX4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWNJ5XQPRXX4AOR4VSJLMGGDYP3EAF2NHP7QV2FHCLP32COOGBKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXGITJY3LLQYJ5NPOBQ4TQFUSIJAMP6QZCBWPT5F3BHGDEI6ZY4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUSZMPQQ7AOMKMPYQGO6ATPVWKC3RDSA3OSSFD3GC3KSQSK54JFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XB5KXEP2V2GUTT3LQVMDE7AV4B4ZSKBN4RV5SFFKTW3OHUUS5U2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5T2TSPMMVJB4YAECBWY3TUWDVOLND3K3WPARCOG5CTVJFTPMMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F7BYKT6PWJZ6BBE2ONRFJDKBBANO7UIONNDECE3EDDE46VCDLRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7SCLNFMSXNGZECS4TH5XWTIZ2WCC2XGEC3SQ7C5IGY3HLZH6ELA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4GIUITOLFZAH72LSASJ2I34QKCEXAXVXEF3OVBECMOO5SHIIBGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILEJSB2WGXMAWVCCRQHSHTDXSGTW362JXRFZQTSU2BDNGUXD4KMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A2DMQNYVW5ROMMRX74TLON7MZYW3GHEQYIV2YNWCXVF7BXUTFW5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js"
            ]
        },
        "DeregisterNotificationHub": {
            "name": "DeregisterNotificationHub",
            "http": {
                "method": "DELETE",
                "requestUri": "/notification-hubs/{notificationHubRegion}",
                "responseCode": 200
            },
            "input": {
                "shape": "DeregisterNotificationHubRequest"
            },
            "output": {
                "shape": "DeregisterNotificationHubResponse"
            },
            "errors": [
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "ResourceNotFoundException"
                }
            ],
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6DWFWJ7AV5BE42AMG4RT2QMEPDFXTD7A5EBXD64UL6F5INUV4ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZGDU5ZN7P2XF47KZSMGG66R6LKWECESKD5MRPN5A2HVIOOHAIOGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZVU4GFI3G4CX6OFX4UTWSTDDVI5MZZTHEBEPCH56CU2GMKBIDTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HH5KEPTSBTX7GAE23YCR5MON7UEG7DVD6TL53TJUBSUCK2UXRSXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OCE3ATZU5RM4DMGYFYOKI22ETFP2GOJA6CJAGIRLVDQ5YANWWAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JYOJJEBENAPQECQHLSIBXDSE2CXW7TMZVT6BU6ZEAYYWGP75WRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HZYIFXKL4OKHZOYQFWUMTLIMW4DOKBDZ46HRUI5V57VLSUEH7FQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ4UIVIFQXKA6TIUUB6LJ2AE2V4NZQZAFH27QNDSUHAH76NMICYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5DYIBUJMRKDXGVI2WB6S6COZEIR7YZYUTOQQBXXHXVNZ4DIKTOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W4P6OA2JQM3VRTWX47EC45XCSF242EYHDD35ILWOJM4Y2FLC34MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AC5VKO3YX3LT3QHT37JGSTA3DR3XNHN4KC2PN55D4KDT5USOCX4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWNJ5XQPRXX4AOR4VSJLMGGDYP3EAF2NHP7QV2FHCLP32COOGBKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXGITJY3LLQYJ5NPOBQ4TQFUSIJAMP6QZCBWPT5F3BHGDEI6ZY4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUSZMPQQ7AOMKMPYQGO6ATPVWKC3RDSA3OSSFD3GC3KSQSK54JFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XB5KXEP2V2GUTT3LQVMDE7AV4B4ZSKBN4RV5SFFKTW3OHUUS5U2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5T2TSPMMVJB4YAECBWY3TUWDVOLND3K3WPARCOG5CTVJFTPMMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F7BYKT6PWJZ6BBE2ONRFJDKBBANO7UIONNDECE3EDDE46VCDLRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7SCLNFMSXNGZECS4TH5XWTIZ2WCC2XGEC3SQ7C5IGY3HLZH6ELA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4GIUITOLFZAH72LSASJ2I34QKCEXAXVXEF3OVBECMOO5SHIIBGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILEJSB2WGXMAWVCCRQHSHTDXSGTW362JXRFZQTSU2BDNGUXD4KMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A2DMQNYVW5ROMMRX74TLON7MZYW3GHEQYIV2YNWCXVF7BXUTFW5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js"
            ]
        },
        "DisassociateChannel": {
            "name": "DisassociateChannel",
            "http": {
                "method": "POST",
                "requestUri": "/channels/disassociate/{arn}",
                "responseCode": 200
            },
            "input": {
                "shape": "DisassociateChannelRequest"
            },
            "output": {
                "shape": "DisassociateChannelResponse"
            },
            "errors": [
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ResourceNotFoundException"
                }
            ],
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6DWFWJ7AV5BE42AMG4RT2QMEPDFXTD7A5EBXD64UL6F5INUV4ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZGDU5ZN7P2XF47KZSMGG66R6LKWECESKD5MRPN5A2HVIOOHAIOGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZVU4GFI3G4CX6OFX4UTWSTDDVI5MZZTHEBEPCH56CU2GMKBIDTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HH5KEPTSBTX7GAE23YCR5MON7UEG7DVD6TL53TJUBSUCK2UXRSXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OCE3ATZU5RM4DMGYFYOKI22ETFP2GOJA6CJAGIRLVDQ5YANWWAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JYOJJEBENAPQECQHLSIBXDSE2CXW7TMZVT6BU6ZEAYYWGP75WRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HZYIFXKL4OKHZOYQFWUMTLIMW4DOKBDZ46HRUI5V57VLSUEH7FQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ4UIVIFQXKA6TIUUB6LJ2AE2V4NZQZAFH27QNDSUHAH76NMICYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5DYIBUJMRKDXGVI2WB6S6COZEIR7YZYUTOQQBXXHXVNZ4DIKTOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W4P6OA2JQM3VRTWX47EC45XCSF242EYHDD35ILWOJM4Y2FLC34MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AC5VKO3YX3LT3QHT37JGSTA3DR3XNHN4KC2PN55D4KDT5USOCX4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWNJ5XQPRXX4AOR4VSJLMGGDYP3EAF2NHP7QV2FHCLP32COOGBKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXGITJY3LLQYJ5NPOBQ4TQFUSIJAMP6QZCBWPT5F3BHGDEI6ZY4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUSZMPQQ7AOMKMPYQGO6ATPVWKC3RDSA3OSSFD3GC3KSQSK54JFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XB5KXEP2V2GUTT3LQVMDE7AV4B4ZSKBN4RV5SFFKTW3OHUUS5U2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5T2TSPMMVJB4YAECBWY3TUWDVOLND3K3WPARCOG5CTVJFTPMMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F7BYKT6PWJZ6BBE2ONRFJDKBBANO7UIONNDECE3EDDE46VCDLRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7SCLNFMSXNGZECS4TH5XWTIZ2WCC2XGEC3SQ7C5IGY3HLZH6ELA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4GIUITOLFZAH72LSASJ2I34QKCEXAXVXEF3OVBECMOO5SHIIBGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILEJSB2WGXMAWVCCRQHSHTDXSGTW362JXRFZQTSU2BDNGUXD4KMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A2DMQNYVW5ROMMRX74TLON7MZYW3GHEQYIV2YNWCXVF7BXUTFW5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js"
            ]
        },
        "GetEventRule": {
            "name": "GetEventRule",
            "http": {
                "method": "GET",
                "requestUri": "/event-rules/{arn}",
                "responseCode": 200
            },
            "input": {
                "shape": "GetEventRuleRequest"
            },
            "output": {
                "shape": "GetEventRuleResponse"
            },
            "errors": [
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ResourceNotFoundException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6DWFWJ7AV5BE42AMG4RT2QMEPDFXTD7A5EBXD64UL6F5INUV4ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZGDU5ZN7P2XF47KZSMGG66R6LKWECESKD5MRPN5A2HVIOOHAIOGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZVU4GFI3G4CX6OFX4UTWSTDDVI5MZZTHEBEPCH56CU2GMKBIDTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HH5KEPTSBTX7GAE23YCR5MON7UEG7DVD6TL53TJUBSUCK2UXRSXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OCE3ATZU5RM4DMGYFYOKI22ETFP2GOJA6CJAGIRLVDQ5YANWWAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JYOJJEBENAPQECQHLSIBXDSE2CXW7TMZVT6BU6ZEAYYWGP75WRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HZYIFXKL4OKHZOYQFWUMTLIMW4DOKBDZ46HRUI5V57VLSUEH7FQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ4UIVIFQXKA6TIUUB6LJ2AE2V4NZQZAFH27QNDSUHAH76NMICYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5DYIBUJMRKDXGVI2WB6S6COZEIR7YZYUTOQQBXXHXVNZ4DIKTOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W4P6OA2JQM3VRTWX47EC45XCSF242EYHDD35ILWOJM4Y2FLC34MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AC5VKO3YX3LT3QHT37JGSTA3DR3XNHN4KC2PN55D4KDT5USOCX4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWNJ5XQPRXX4AOR4VSJLMGGDYP3EAF2NHP7QV2FHCLP32COOGBKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXGITJY3LLQYJ5NPOBQ4TQFUSIJAMP6QZCBWPT5F3BHGDEI6ZY4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUSZMPQQ7AOMKMPYQGO6ATPVWKC3RDSA3OSSFD3GC3KSQSK54JFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XB5KXEP2V2GUTT3LQVMDE7AV4B4ZSKBN4RV5SFFKTW3OHUUS5U2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5T2TSPMMVJB4YAECBWY3TUWDVOLND3K3WPARCOG5CTVJFTPMMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F7BYKT6PWJZ6BBE2ONRFJDKBBANO7UIONNDECE3EDDE46VCDLRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7SCLNFMSXNGZECS4TH5XWTIZ2WCC2XGEC3SQ7C5IGY3HLZH6ELA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4GIUITOLFZAH72LSASJ2I34QKCEXAXVXEF3OVBECMOO5SHIIBGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILEJSB2WGXMAWVCCRQHSHTDXSGTW362JXRFZQTSU2BDNGUXD4KMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A2DMQNYVW5ROMMRX74TLON7MZYW3GHEQYIV2YNWCXVF7BXUTFW5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js"
            ]
        },
        "GetNotificationConfiguration": {
            "name": "GetNotificationConfiguration",
            "http": {
                "method": "GET",
                "requestUri": "/notification-configurations/{arn}",
                "responseCode": 200
            },
            "input": {
                "shape": "GetNotificationConfigurationRequest"
            },
            "output": {
                "shape": "GetNotificationConfigurationResponse"
            },
            "errors": [
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ResourceNotFoundException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6DWFWJ7AV5BE42AMG4RT2QMEPDFXTD7A5EBXD64UL6F5INUV4ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZGDU5ZN7P2XF47KZSMGG66R6LKWECESKD5MRPN5A2HVIOOHAIOGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZVU4GFI3G4CX6OFX4UTWSTDDVI5MZZTHEBEPCH56CU2GMKBIDTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HH5KEPTSBTX7GAE23YCR5MON7UEG7DVD6TL53TJUBSUCK2UXRSXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OCE3ATZU5RM4DMGYFYOKI22ETFP2GOJA6CJAGIRLVDQ5YANWWAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JYOJJEBENAPQECQHLSIBXDSE2CXW7TMZVT6BU6ZEAYYWGP75WRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HZYIFXKL4OKHZOYQFWUMTLIMW4DOKBDZ46HRUI5V57VLSUEH7FQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ4UIVIFQXKA6TIUUB6LJ2AE2V4NZQZAFH27QNDSUHAH76NMICYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5DYIBUJMRKDXGVI2WB6S6COZEIR7YZYUTOQQBXXHXVNZ4DIKTOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W4P6OA2JQM3VRTWX47EC45XCSF242EYHDD35ILWOJM4Y2FLC34MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AC5VKO3YX3LT3QHT37JGSTA3DR3XNHN4KC2PN55D4KDT5USOCX4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWNJ5XQPRXX4AOR4VSJLMGGDYP3EAF2NHP7QV2FHCLP32COOGBKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXGITJY3LLQYJ5NPOBQ4TQFUSIJAMP6QZCBWPT5F3BHGDEI6ZY4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUSZMPQQ7AOMKMPYQGO6ATPVWKC3RDSA3OSSFD3GC3KSQSK54JFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XB5KXEP2V2GUTT3LQVMDE7AV4B4ZSKBN4RV5SFFKTW3OHUUS5U2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5T2TSPMMVJB4YAECBWY3TUWDVOLND3K3WPARCOG5CTVJFTPMMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F7BYKT6PWJZ6BBE2ONRFJDKBBANO7UIONNDECE3EDDE46VCDLRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7SCLNFMSXNGZECS4TH5XWTIZ2WCC2XGEC3SQ7C5IGY3HLZH6ELA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4GIUITOLFZAH72LSASJ2I34QKCEXAXVXEF3OVBECMOO5SHIIBGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILEJSB2WGXMAWVCCRQHSHTDXSGTW362JXRFZQTSU2BDNGUXD4KMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A2DMQNYVW5ROMMRX74TLON7MZYW3GHEQYIV2YNWCXVF7BXUTFW5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js"
            ]
        },
        "GetNotificationEvent": {
            "name": "GetNotificationEvent",
            "http": {
                "method": "GET",
                "requestUri": "/notification-events/{arn}",
                "responseCode": 200
            },
            "input": {
                "shape": "GetNotificationEventRequest"
            },
            "output": {
                "shape": "GetNotificationEventResponse"
            },
            "errors": [
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ResourceNotFoundException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6DWFWJ7AV5BE42AMG4RT2QMEPDFXTD7A5EBXD64UL6F5INUV4ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZGDU5ZN7P2XF47KZSMGG66R6LKWECESKD5MRPN5A2HVIOOHAIOGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZVU4GFI3G4CX6OFX4UTWSTDDVI5MZZTHEBEPCH56CU2GMKBIDTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HH5KEPTSBTX7GAE23YCR5MON7UEG7DVD6TL53TJUBSUCK2UXRSXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OCE3ATZU5RM4DMGYFYOKI22ETFP2GOJA6CJAGIRLVDQ5YANWWAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JYOJJEBENAPQECQHLSIBXDSE2CXW7TMZVT6BU6ZEAYYWGP75WRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HZYIFXKL4OKHZOYQFWUMTLIMW4DOKBDZ46HRUI5V57VLSUEH7FQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ4UIVIFQXKA6TIUUB6LJ2AE2V4NZQZAFH27QNDSUHAH76NMICYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5DYIBUJMRKDXGVI2WB6S6COZEIR7YZYUTOQQBXXHXVNZ4DIKTOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W4P6OA2JQM3VRTWX47EC45XCSF242EYHDD35ILWOJM4Y2FLC34MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AC5VKO3YX3LT3QHT37JGSTA3DR3XNHN4KC2PN55D4KDT5USOCX4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWNJ5XQPRXX4AOR4VSJLMGGDYP3EAF2NHP7QV2FHCLP32COOGBKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXGITJY3LLQYJ5NPOBQ4TQFUSIJAMP6QZCBWPT5F3BHGDEI6ZY4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUSZMPQQ7AOMKMPYQGO6ATPVWKC3RDSA3OSSFD3GC3KSQSK54JFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XB5KXEP2V2GUTT3LQVMDE7AV4B4ZSKBN4RV5SFFKTW3OHUUS5U2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5T2TSPMMVJB4YAECBWY3TUWDVOLND3K3WPARCOG5CTVJFTPMMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F7BYKT6PWJZ6BBE2ONRFJDKBBANO7UIONNDECE3EDDE46VCDLRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7SCLNFMSXNGZECS4TH5XWTIZ2WCC2XGEC3SQ7C5IGY3HLZH6ELA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4GIUITOLFZAH72LSASJ2I34QKCEXAXVXEF3OVBECMOO5SHIIBGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILEJSB2WGXMAWVCCRQHSHTDXSGTW362JXRFZQTSU2BDNGUXD4KMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A2DMQNYVW5ROMMRX74TLON7MZYW3GHEQYIV2YNWCXVF7BXUTFW5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js"
            ]
        },
        "ListChannels": {
            "name": "ListChannels",
            "http": {
                "method": "GET",
                "requestUri": "/channels",
                "responseCode": 200
            },
            "input": {
                "shape": "ListChannelsRequest"
            },
            "output": {
                "shape": "ListChannelsResponse"
            },
            "errors": [
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ResourceNotFoundException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6DWFWJ7AV5BE42AMG4RT2QMEPDFXTD7A5EBXD64UL6F5INUV4ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZGDU5ZN7P2XF47KZSMGG66R6LKWECESKD5MRPN5A2HVIOOHAIOGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZVU4GFI3G4CX6OFX4UTWSTDDVI5MZZTHEBEPCH56CU2GMKBIDTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HH5KEPTSBTX7GAE23YCR5MON7UEG7DVD6TL53TJUBSUCK2UXRSXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OCE3ATZU5RM4DMGYFYOKI22ETFP2GOJA6CJAGIRLVDQ5YANWWAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JYOJJEBENAPQECQHLSIBXDSE2CXW7TMZVT6BU6ZEAYYWGP75WRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HZYIFXKL4OKHZOYQFWUMTLIMW4DOKBDZ46HRUI5V57VLSUEH7FQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ4UIVIFQXKA6TIUUB6LJ2AE2V4NZQZAFH27QNDSUHAH76NMICYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5DYIBUJMRKDXGVI2WB6S6COZEIR7YZYUTOQQBXXHXVNZ4DIKTOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W4P6OA2JQM3VRTWX47EC45XCSF242EYHDD35ILWOJM4Y2FLC34MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AC5VKO3YX3LT3QHT37JGSTA3DR3XNHN4KC2PN55D4KDT5USOCX4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWNJ5XQPRXX4AOR4VSJLMGGDYP3EAF2NHP7QV2FHCLP32COOGBKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXGITJY3LLQYJ5NPOBQ4TQFUSIJAMP6QZCBWPT5F3BHGDEI6ZY4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUSZMPQQ7AOMKMPYQGO6ATPVWKC3RDSA3OSSFD3GC3KSQSK54JFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XB5KXEP2V2GUTT3LQVMDE7AV4B4ZSKBN4RV5SFFKTW3OHUUS5U2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5T2TSPMMVJB4YAECBWY3TUWDVOLND3K3WPARCOG5CTVJFTPMMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F7BYKT6PWJZ6BBE2ONRFJDKBBANO7UIONNDECE3EDDE46VCDLRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7SCLNFMSXNGZECS4TH5XWTIZ2WCC2XGEC3SQ7C5IGY3HLZH6ELA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4GIUITOLFZAH72LSASJ2I34QKCEXAXVXEF3OVBECMOO5SHIIBGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILEJSB2WGXMAWVCCRQHSHTDXSGTW362JXRFZQTSU2BDNGUXD4KMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A2DMQNYVW5ROMMRX74TLON7MZYW3GHEQYIV2YNWCXVF7BXUTFW5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js"
            ]
        },
        "ListEventRules": {
            "name": "ListEventRules",
            "http": {
                "method": "GET",
                "requestUri": "/event-rules",
                "responseCode": 200
            },
            "input": {
                "shape": "ListEventRulesRequest"
            },
            "output": {
                "shape": "ListEventRulesResponse"
            },
            "errors": [
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ThrottlingException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6DWFWJ7AV5BE42AMG4RT2QMEPDFXTD7A5EBXD64UL6F5INUV4ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZGDU5ZN7P2XF47KZSMGG66R6LKWECESKD5MRPN5A2HVIOOHAIOGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZVU4GFI3G4CX6OFX4UTWSTDDVI5MZZTHEBEPCH56CU2GMKBIDTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HH5KEPTSBTX7GAE23YCR5MON7UEG7DVD6TL53TJUBSUCK2UXRSXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OCE3ATZU5RM4DMGYFYOKI22ETFP2GOJA6CJAGIRLVDQ5YANWWAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JYOJJEBENAPQECQHLSIBXDSE2CXW7TMZVT6BU6ZEAYYWGP75WRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HZYIFXKL4OKHZOYQFWUMTLIMW4DOKBDZ46HRUI5V57VLSUEH7FQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ4UIVIFQXKA6TIUUB6LJ2AE2V4NZQZAFH27QNDSUHAH76NMICYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5DYIBUJMRKDXGVI2WB6S6COZEIR7YZYUTOQQBXXHXVNZ4DIKTOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W4P6OA2JQM3VRTWX47EC45XCSF242EYHDD35ILWOJM4Y2FLC34MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AC5VKO3YX3LT3QHT37JGSTA3DR3XNHN4KC2PN55D4KDT5USOCX4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWNJ5XQPRXX4AOR4VSJLMGGDYP3EAF2NHP7QV2FHCLP32COOGBKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXGITJY3LLQYJ5NPOBQ4TQFUSIJAMP6QZCBWPT5F3BHGDEI6ZY4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUSZMPQQ7AOMKMPYQGO6ATPVWKC3RDSA3OSSFD3GC3KSQSK54JFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XB5KXEP2V2GUTT3LQVMDE7AV4B4ZSKBN4RV5SFFKTW3OHUUS5U2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5T2TSPMMVJB4YAECBWY3TUWDVOLND3K3WPARCOG5CTVJFTPMMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F7BYKT6PWJZ6BBE2ONRFJDKBBANO7UIONNDECE3EDDE46VCDLRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7SCLNFMSXNGZECS4TH5XWTIZ2WCC2XGEC3SQ7C5IGY3HLZH6ELA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4GIUITOLFZAH72LSASJ2I34QKCEXAXVXEF3OVBECMOO5SHIIBGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILEJSB2WGXMAWVCCRQHSHTDXSGTW362JXRFZQTSU2BDNGUXD4KMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A2DMQNYVW5ROMMRX74TLON7MZYW3GHEQYIV2YNWCXVF7BXUTFW5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js"
            ]
        },
        "ListNotificationConfigurations": {
            "name": "ListNotificationConfigurations",
            "http": {
                "method": "GET",
                "requestUri": "/notification-configurations",
                "responseCode": 200
            },
            "input": {
                "shape": "ListNotificationConfigurationsRequest"
            },
            "output": {
                "shape": "ListNotificationConfigurationsResponse"
            },
            "errors": [
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ThrottlingException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6DWFWJ7AV5BE42AMG4RT2QMEPDFXTD7A5EBXD64UL6F5INUV4ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZGDU5ZN7P2XF47KZSMGG66R6LKWECESKD5MRPN5A2HVIOOHAIOGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZVU4GFI3G4CX6OFX4UTWSTDDVI5MZZTHEBEPCH56CU2GMKBIDTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HH5KEPTSBTX7GAE23YCR5MON7UEG7DVD6TL53TJUBSUCK2UXRSXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OCE3ATZU5RM4DMGYFYOKI22ETFP2GOJA6CJAGIRLVDQ5YANWWAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JYOJJEBENAPQECQHLSIBXDSE2CXW7TMZVT6BU6ZEAYYWGP75WRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HZYIFXKL4OKHZOYQFWUMTLIMW4DOKBDZ46HRUI5V57VLSUEH7FQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ4UIVIFQXKA6TIUUB6LJ2AE2V4NZQZAFH27QNDSUHAH76NMICYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5DYIBUJMRKDXGVI2WB6S6COZEIR7YZYUTOQQBXXHXVNZ4DIKTOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W4P6OA2JQM3VRTWX47EC45XCSF242EYHDD35ILWOJM4Y2FLC34MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AC5VKO3YX3LT3QHT37JGSTA3DR3XNHN4KC2PN55D4KDT5USOCX4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWNJ5XQPRXX4AOR4VSJLMGGDYP3EAF2NHP7QV2FHCLP32COOGBKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXGITJY3LLQYJ5NPOBQ4TQFUSIJAMP6QZCBWPT5F3BHGDEI6ZY4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUSZMPQQ7AOMKMPYQGO6ATPVWKC3RDSA3OSSFD3GC3KSQSK54JFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XB5KXEP2V2GUTT3LQVMDE7AV4B4ZSKBN4RV5SFFKTW3OHUUS5U2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5T2TSPMMVJB4YAECBWY3TUWDVOLND3K3WPARCOG5CTVJFTPMMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F7BYKT6PWJZ6BBE2ONRFJDKBBANO7UIONNDECE3EDDE46VCDLRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7SCLNFMSXNGZECS4TH5XWTIZ2WCC2XGEC3SQ7C5IGY3HLZH6ELA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4GIUITOLFZAH72LSASJ2I34QKCEXAXVXEF3OVBECMOO5SHIIBGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILEJSB2WGXMAWVCCRQHSHTDXSGTW362JXRFZQTSU2BDNGUXD4KMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A2DMQNYVW5ROMMRX74TLON7MZYW3GHEQYIV2YNWCXVF7BXUTFW5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js"
            ]
        },
        "ListNotificationEvents": {
            "name": "ListNotificationEvents",
            "http": {
                "method": "GET",
                "requestUri": "/notification-events",
                "responseCode": 200
            },
            "input": {
                "shape": "ListNotificationEventsRequest"
            },
            "output": {
                "shape": "ListNotificationEventsResponse"
            },
            "errors": [
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ThrottlingException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6DWFWJ7AV5BE42AMG4RT2QMEPDFXTD7A5EBXD64UL6F5INUV4ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZGDU5ZN7P2XF47KZSMGG66R6LKWECESKD5MRPN5A2HVIOOHAIOGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZVU4GFI3G4CX6OFX4UTWSTDDVI5MZZTHEBEPCH56CU2GMKBIDTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HH5KEPTSBTX7GAE23YCR5MON7UEG7DVD6TL53TJUBSUCK2UXRSXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OCE3ATZU5RM4DMGYFYOKI22ETFP2GOJA6CJAGIRLVDQ5YANWWAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JYOJJEBENAPQECQHLSIBXDSE2CXW7TMZVT6BU6ZEAYYWGP75WRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HZYIFXKL4OKHZOYQFWUMTLIMW4DOKBDZ46HRUI5V57VLSUEH7FQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ4UIVIFQXKA6TIUUB6LJ2AE2V4NZQZAFH27QNDSUHAH76NMICYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5DYIBUJMRKDXGVI2WB6S6COZEIR7YZYUTOQQBXXHXVNZ4DIKTOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W4P6OA2JQM3VRTWX47EC45XCSF242EYHDD35ILWOJM4Y2FLC34MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AC5VKO3YX3LT3QHT37JGSTA3DR3XNHN4KC2PN55D4KDT5USOCX4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWNJ5XQPRXX4AOR4VSJLMGGDYP3EAF2NHP7QV2FHCLP32COOGBKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXGITJY3LLQYJ5NPOBQ4TQFUSIJAMP6QZCBWPT5F3BHGDEI6ZY4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUSZMPQQ7AOMKMPYQGO6ATPVWKC3RDSA3OSSFD3GC3KSQSK54JFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XB5KXEP2V2GUTT3LQVMDE7AV4B4ZSKBN4RV5SFFKTW3OHUUS5U2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5T2TSPMMVJB4YAECBWY3TUWDVOLND3K3WPARCOG5CTVJFTPMMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F7BYKT6PWJZ6BBE2ONRFJDKBBANO7UIONNDECE3EDDE46VCDLRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7SCLNFMSXNGZECS4TH5XWTIZ2WCC2XGEC3SQ7C5IGY3HLZH6ELA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4GIUITOLFZAH72LSASJ2I34QKCEXAXVXEF3OVBECMOO5SHIIBGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILEJSB2WGXMAWVCCRQHSHTDXSGTW362JXRFZQTSU2BDNGUXD4KMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A2DMQNYVW5ROMMRX74TLON7MZYW3GHEQYIV2YNWCXVF7BXUTFW5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js"
            ]
        },
        "ListNotificationHubs": {
            "name": "ListNotificationHubs",
            "http": {
                "method": "GET",
                "requestUri": "/notification-hubs",
                "responseCode": 200
            },
            "input": {
                "shape": "ListNotificationHubsRequest"
            },
            "output": {
                "shape": "ListNotificationHubsResponse"
            },
            "errors": [
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ThrottlingException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6DWFWJ7AV5BE42AMG4RT2QMEPDFXTD7A5EBXD64UL6F5INUV4ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZGDU5ZN7P2XF47KZSMGG66R6LKWECESKD5MRPN5A2HVIOOHAIOGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZVU4GFI3G4CX6OFX4UTWSTDDVI5MZZTHEBEPCH56CU2GMKBIDTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HH5KEPTSBTX7GAE23YCR5MON7UEG7DVD6TL53TJUBSUCK2UXRSXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OCE3ATZU5RM4DMGYFYOKI22ETFP2GOJA6CJAGIRLVDQ5YANWWAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JYOJJEBENAPQECQHLSIBXDSE2CXW7TMZVT6BU6ZEAYYWGP75WRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HZYIFXKL4OKHZOYQFWUMTLIMW4DOKBDZ46HRUI5V57VLSUEH7FQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ4UIVIFQXKA6TIUUB6LJ2AE2V4NZQZAFH27QNDSUHAH76NMICYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5DYIBUJMRKDXGVI2WB6S6COZEIR7YZYUTOQQBXXHXVNZ4DIKTOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W4P6OA2JQM3VRTWX47EC45XCSF242EYHDD35ILWOJM4Y2FLC34MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AC5VKO3YX3LT3QHT37JGSTA3DR3XNHN4KC2PN55D4KDT5USOCX4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWNJ5XQPRXX4AOR4VSJLMGGDYP3EAF2NHP7QV2FHCLP32COOGBKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXGITJY3LLQYJ5NPOBQ4TQFUSIJAMP6QZCBWPT5F3BHGDEI6ZY4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUSZMPQQ7AOMKMPYQGO6ATPVWKC3RDSA3OSSFD3GC3KSQSK54JFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XB5KXEP2V2GUTT3LQVMDE7AV4B4ZSKBN4RV5SFFKTW3OHUUS5U2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5T2TSPMMVJB4YAECBWY3TUWDVOLND3K3WPARCOG5CTVJFTPMMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F7BYKT6PWJZ6BBE2ONRFJDKBBANO7UIONNDECE3EDDE46VCDLRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7SCLNFMSXNGZECS4TH5XWTIZ2WCC2XGEC3SQ7C5IGY3HLZH6ELA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4GIUITOLFZAH72LSASJ2I34QKCEXAXVXEF3OVBECMOO5SHIIBGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILEJSB2WGXMAWVCCRQHSHTDXSGTW362JXRFZQTSU2BDNGUXD4KMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A2DMQNYVW5ROMMRX74TLON7MZYW3GHEQYIV2YNWCXVF7BXUTFW5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js"
            ]
        },
        "ListTagsForResource": {
            "name": "ListTagsForResource",
            "http": {
                "method": "GET",
                "requestUri": "/tags/{arn}",
                "responseCode": 200
            },
            "input": {
                "shape": "ListTagsForResourceRequest"
            },
            "output": {
                "shape": "ListTagsForResourceResponse"
            },
            "errors": [
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ResourceNotFoundException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6DWFWJ7AV5BE42AMG4RT2QMEPDFXTD7A5EBXD64UL6F5INUV4ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZGDU5ZN7P2XF47KZSMGG66R6LKWECESKD5MRPN5A2HVIOOHAIOGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZVU4GFI3G4CX6OFX4UTWSTDDVI5MZZTHEBEPCH56CU2GMKBIDTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HH5KEPTSBTX7GAE23YCR5MON7UEG7DVD6TL53TJUBSUCK2UXRSXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OCE3ATZU5RM4DMGYFYOKI22ETFP2GOJA6CJAGIRLVDQ5YANWWAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JYOJJEBENAPQECQHLSIBXDSE2CXW7TMZVT6BU6ZEAYYWGP75WRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HZYIFXKL4OKHZOYQFWUMTLIMW4DOKBDZ46HRUI5V57VLSUEH7FQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ4UIVIFQXKA6TIUUB6LJ2AE2V4NZQZAFH27QNDSUHAH76NMICYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5DYIBUJMRKDXGVI2WB6S6COZEIR7YZYUTOQQBXXHXVNZ4DIKTOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W4P6OA2JQM3VRTWX47EC45XCSF242EYHDD35ILWOJM4Y2FLC34MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AC5VKO3YX3LT3QHT37JGSTA3DR3XNHN4KC2PN55D4KDT5USOCX4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWNJ5XQPRXX4AOR4VSJLMGGDYP3EAF2NHP7QV2FHCLP32COOGBKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXGITJY3LLQYJ5NPOBQ4TQFUSIJAMP6QZCBWPT5F3BHGDEI6ZY4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUSZMPQQ7AOMKMPYQGO6ATPVWKC3RDSA3OSSFD3GC3KSQSK54JFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XB5KXEP2V2GUTT3LQVMDE7AV4B4ZSKBN4RV5SFFKTW3OHUUS5U2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5T2TSPMMVJB4YAECBWY3TUWDVOLND3K3WPARCOG5CTVJFTPMMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F7BYKT6PWJZ6BBE2ONRFJDKBBANO7UIONNDECE3EDDE46VCDLRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7SCLNFMSXNGZECS4TH5XWTIZ2WCC2XGEC3SQ7C5IGY3HLZH6ELA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4GIUITOLFZAH72LSASJ2I34QKCEXAXVXEF3OVBECMOO5SHIIBGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILEJSB2WGXMAWVCCRQHSHTDXSGTW362JXRFZQTSU2BDNGUXD4KMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A2DMQNYVW5ROMMRX74TLON7MZYW3GHEQYIV2YNWCXVF7BXUTFW5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js"
            ]
        },
        "RegisterNotificationHub": {
            "name": "RegisterNotificationHub",
            "http": {
                "method": "POST",
                "requestUri": "/notification-hubs",
                "responseCode": 201
            },
            "input": {
                "shape": "RegisterNotificationHubRequest"
            },
            "output": {
                "shape": "RegisterNotificationHubResponse"
            },
            "errors": [
                {
                    "shape": "ServiceQuotaExceededException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ThrottlingException"
                }
            ],
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6DWFWJ7AV5BE42AMG4RT2QMEPDFXTD7A5EBXD64UL6F5INUV4ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZGDU5ZN7P2XF47KZSMGG66R6LKWECESKD5MRPN5A2HVIOOHAIOGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZVU4GFI3G4CX6OFX4UTWSTDDVI5MZZTHEBEPCH56CU2GMKBIDTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HH5KEPTSBTX7GAE23YCR5MON7UEG7DVD6TL53TJUBSUCK2UXRSXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OCE3ATZU5RM4DMGYFYOKI22ETFP2GOJA6CJAGIRLVDQ5YANWWAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JYOJJEBENAPQECQHLSIBXDSE2CXW7TMZVT6BU6ZEAYYWGP75WRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HZYIFXKL4OKHZOYQFWUMTLIMW4DOKBDZ46HRUI5V57VLSUEH7FQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ4UIVIFQXKA6TIUUB6LJ2AE2V4NZQZAFH27QNDSUHAH76NMICYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5DYIBUJMRKDXGVI2WB6S6COZEIR7YZYUTOQQBXXHXVNZ4DIKTOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W4P6OA2JQM3VRTWX47EC45XCSF242EYHDD35ILWOJM4Y2FLC34MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AC5VKO3YX3LT3QHT37JGSTA3DR3XNHN4KC2PN55D4KDT5USOCX4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWNJ5XQPRXX4AOR4VSJLMGGDYP3EAF2NHP7QV2FHCLP32COOGBKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXGITJY3LLQYJ5NPOBQ4TQFUSIJAMP6QZCBWPT5F3BHGDEI6ZY4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUSZMPQQ7AOMKMPYQGO6ATPVWKC3RDSA3OSSFD3GC3KSQSK54JFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XB5KXEP2V2GUTT3LQVMDE7AV4B4ZSKBN4RV5SFFKTW3OHUUS5U2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5T2TSPMMVJB4YAECBWY3TUWDVOLND3K3WPARCOG5CTVJFTPMMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F7BYKT6PWJZ6BBE2ONRFJDKBBANO7UIONNDECE3EDDE46VCDLRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7SCLNFMSXNGZECS4TH5XWTIZ2WCC2XGEC3SQ7C5IGY3HLZH6ELA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4GIUITOLFZAH72LSASJ2I34QKCEXAXVXEF3OVBECMOO5SHIIBGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILEJSB2WGXMAWVCCRQHSHTDXSGTW362JXRFZQTSU2BDNGUXD4KMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A2DMQNYVW5ROMMRX74TLON7MZYW3GHEQYIV2YNWCXVF7BXUTFW5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js"
            ]
        },
        "TagResource": {
            "name": "TagResource",
            "http": {
                "method": "POST",
                "requestUri": "/tags/{arn}",
                "responseCode": 200
            },
            "input": {
                "shape": "TagResourceRequest"
            },
            "output": {
                "shape": "TagResourceResponse"
            },
            "errors": [
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ResourceNotFoundException"
                }
            ],
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6DWFWJ7AV5BE42AMG4RT2QMEPDFXTD7A5EBXD64UL6F5INUV4ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZGDU5ZN7P2XF47KZSMGG66R6LKWECESKD5MRPN5A2HVIOOHAIOGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZVU4GFI3G4CX6OFX4UTWSTDDVI5MZZTHEBEPCH56CU2GMKBIDTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HH5KEPTSBTX7GAE23YCR5MON7UEG7DVD6TL53TJUBSUCK2UXRSXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OCE3ATZU5RM4DMGYFYOKI22ETFP2GOJA6CJAGIRLVDQ5YANWWAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JYOJJEBENAPQECQHLSIBXDSE2CXW7TMZVT6BU6ZEAYYWGP75WRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HZYIFXKL4OKHZOYQFWUMTLIMW4DOKBDZ46HRUI5V57VLSUEH7FQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ4UIVIFQXKA6TIUUB6LJ2AE2V4NZQZAFH27QNDSUHAH76NMICYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5DYIBUJMRKDXGVI2WB6S6COZEIR7YZYUTOQQBXXHXVNZ4DIKTOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W4P6OA2JQM3VRTWX47EC45XCSF242EYHDD35ILWOJM4Y2FLC34MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AC5VKO3YX3LT3QHT37JGSTA3DR3XNHN4KC2PN55D4KDT5USOCX4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWNJ5XQPRXX4AOR4VSJLMGGDYP3EAF2NHP7QV2FHCLP32COOGBKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXGITJY3LLQYJ5NPOBQ4TQFUSIJAMP6QZCBWPT5F3BHGDEI6ZY4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUSZMPQQ7AOMKMPYQGO6ATPVWKC3RDSA3OSSFD3GC3KSQSK54JFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XB5KXEP2V2GUTT3LQVMDE7AV4B4ZSKBN4RV5SFFKTW3OHUUS5U2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5T2TSPMMVJB4YAECBWY3TUWDVOLND3K3WPARCOG5CTVJFTPMMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F7BYKT6PWJZ6BBE2ONRFJDKBBANO7UIONNDECE3EDDE46VCDLRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7SCLNFMSXNGZECS4TH5XWTIZ2WCC2XGEC3SQ7C5IGY3HLZH6ELA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4GIUITOLFZAH72LSASJ2I34QKCEXAXVXEF3OVBECMOO5SHIIBGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILEJSB2WGXMAWVCCRQHSHTDXSGTW362JXRFZQTSU2BDNGUXD4KMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A2DMQNYVW5ROMMRX74TLON7MZYW3GHEQYIV2YNWCXVF7BXUTFW5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js"
            ]
        },
        "UntagResource": {
            "name": "UntagResource",
            "http": {
                "method": "DELETE",
                "requestUri": "/tags/{arn}",
                "responseCode": 200
            },
            "input": {
                "shape": "UntagResourceRequest"
            },
            "output": {
                "shape": "UntagResourceResponse"
            },
            "errors": [
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ResourceNotFoundException"
                }
            ],
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6DWFWJ7AV5BE42AMG4RT2QMEPDFXTD7A5EBXD64UL6F5INUV4ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZGDU5ZN7P2XF47KZSMGG66R6LKWECESKD5MRPN5A2HVIOOHAIOGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZVU4GFI3G4CX6OFX4UTWSTDDVI5MZZTHEBEPCH56CU2GMKBIDTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HH5KEPTSBTX7GAE23YCR5MON7UEG7DVD6TL53TJUBSUCK2UXRSXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OCE3ATZU5RM4DMGYFYOKI22ETFP2GOJA6CJAGIRLVDQ5YANWWAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JYOJJEBENAPQECQHLSIBXDSE2CXW7TMZVT6BU6ZEAYYWGP75WRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HZYIFXKL4OKHZOYQFWUMTLIMW4DOKBDZ46HRUI5V57VLSUEH7FQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ4UIVIFQXKA6TIUUB6LJ2AE2V4NZQZAFH27QNDSUHAH76NMICYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5DYIBUJMRKDXGVI2WB6S6COZEIR7YZYUTOQQBXXHXVNZ4DIKTOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W4P6OA2JQM3VRTWX47EC45XCSF242EYHDD35ILWOJM4Y2FLC34MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AC5VKO3YX3LT3QHT37JGSTA3DR3XNHN4KC2PN55D4KDT5USOCX4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWNJ5XQPRXX4AOR4VSJLMGGDYP3EAF2NHP7QV2FHCLP32COOGBKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXGITJY3LLQYJ5NPOBQ4TQFUSIJAMP6QZCBWPT5F3BHGDEI6ZY4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUSZMPQQ7AOMKMPYQGO6ATPVWKC3RDSA3OSSFD3GC3KSQSK54JFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XB5KXEP2V2GUTT3LQVMDE7AV4B4ZSKBN4RV5SFFKTW3OHUUS5U2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5T2TSPMMVJB4YAECBWY3TUWDVOLND3K3WPARCOG5CTVJFTPMMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F7BYKT6PWJZ6BBE2ONRFJDKBBANO7UIONNDECE3EDDE46VCDLRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7SCLNFMSXNGZECS4TH5XWTIZ2WCC2XGEC3SQ7C5IGY3HLZH6ELA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4GIUITOLFZAH72LSASJ2I34QKCEXAXVXEF3OVBECMOO5SHIIBGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILEJSB2WGXMAWVCCRQHSHTDXSGTW362JXRFZQTSU2BDNGUXD4KMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A2DMQNYVW5ROMMRX74TLON7MZYW3GHEQYIV2YNWCXVF7BXUTFW5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js"
            ]
        },
        "UpdateEventRule": {
            "name": "UpdateEventRule",
            "http": {
                "method": "PUT",
                "requestUri": "/event-rules/{arn}",
                "responseCode": 200
            },
            "input": {
                "shape": "UpdateEventRuleRequest"
            },
            "output": {
                "shape": "UpdateEventRuleResponse"
            },
            "errors": [
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "ResourceNotFoundException"
                }
            ],
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6DWFWJ7AV5BE42AMG4RT2QMEPDFXTD7A5EBXD64UL6F5INUV4ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZGDU5ZN7P2XF47KZSMGG66R6LKWECESKD5MRPN5A2HVIOOHAIOGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZVU4GFI3G4CX6OFX4UTWSTDDVI5MZZTHEBEPCH56CU2GMKBIDTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HH5KEPTSBTX7GAE23YCR5MON7UEG7DVD6TL53TJUBSUCK2UXRSXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OCE3ATZU5RM4DMGYFYOKI22ETFP2GOJA6CJAGIRLVDQ5YANWWAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JYOJJEBENAPQECQHLSIBXDSE2CXW7TMZVT6BU6ZEAYYWGP75WRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HZYIFXKL4OKHZOYQFWUMTLIMW4DOKBDZ46HRUI5V57VLSUEH7FQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ4UIVIFQXKA6TIUUB6LJ2AE2V4NZQZAFH27QNDSUHAH76NMICYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5DYIBUJMRKDXGVI2WB6S6COZEIR7YZYUTOQQBXXHXVNZ4DIKTOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W4P6OA2JQM3VRTWX47EC45XCSF242EYHDD35ILWOJM4Y2FLC34MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AC5VKO3YX3LT3QHT37JGSTA3DR3XNHN4KC2PN55D4KDT5USOCX4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWNJ5XQPRXX4AOR4VSJLMGGDYP3EAF2NHP7QV2FHCLP32COOGBKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXGITJY3LLQYJ5NPOBQ4TQFUSIJAMP6QZCBWPT5F3BHGDEI6ZY4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUSZMPQQ7AOMKMPYQGO6ATPVWKC3RDSA3OSSFD3GC3KSQSK54JFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XB5KXEP2V2GUTT3LQVMDE7AV4B4ZSKBN4RV5SFFKTW3OHUUS5U2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5T2TSPMMVJB4YAECBWY3TUWDVOLND3K3WPARCOG5CTVJFTPMMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F7BYKT6PWJZ6BBE2ONRFJDKBBANO7UIONNDECE3EDDE46VCDLRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7SCLNFMSXNGZECS4TH5XWTIZ2WCC2XGEC3SQ7C5IGY3HLZH6ELA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4GIUITOLFZAH72LSASJ2I34QKCEXAXVXEF3OVBECMOO5SHIIBGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILEJSB2WGXMAWVCCRQHSHTDXSGTW362JXRFZQTSU2BDNGUXD4KMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A2DMQNYVW5ROMMRX74TLON7MZYW3GHEQYIV2YNWCXVF7BXUTFW5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js"
            ]
        },
        "UpdateNotificationConfiguration": {
            "name": "UpdateNotificationConfiguration",
            "http": {
                "method": "PUT",
                "requestUri": "/notification-configurations/{arn}",
                "responseCode": 200
            },
            "input": {
                "shape": "UpdateNotificationConfigurationRequest"
            },
            "output": {
                "shape": "UpdateNotificationConfigurationResponse"
            },
            "errors": [
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "ResourceNotFoundException"
                }
            ],
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6DWFWJ7AV5BE42AMG4RT2QMEPDFXTD7A5EBXD64UL6F5INUV4ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZGDU5ZN7P2XF47KZSMGG66R6LKWECESKD5MRPN5A2HVIOOHAIOGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZVU4GFI3G4CX6OFX4UTWSTDDVI5MZZTHEBEPCH56CU2GMKBIDTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HH5KEPTSBTX7GAE23YCR5MON7UEG7DVD6TL53TJUBSUCK2UXRSXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OCE3ATZU5RM4DMGYFYOKI22ETFP2GOJA6CJAGIRLVDQ5YANWWAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JYOJJEBENAPQECQHLSIBXDSE2CXW7TMZVT6BU6ZEAYYWGP75WRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HZYIFXKL4OKHZOYQFWUMTLIMW4DOKBDZ46HRUI5V57VLSUEH7FQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ4UIVIFQXKA6TIUUB6LJ2AE2V4NZQZAFH27QNDSUHAH76NMICYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5DYIBUJMRKDXGVI2WB6S6COZEIR7YZYUTOQQBXXHXVNZ4DIKTOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W4P6OA2JQM3VRTWX47EC45XCSF242EYHDD35ILWOJM4Y2FLC34MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AC5VKO3YX3LT3QHT37JGSTA3DR3XNHN4KC2PN55D4KDT5USOCX4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWNJ5XQPRXX4AOR4VSJLMGGDYP3EAF2NHP7QV2FHCLP32COOGBKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXGITJY3LLQYJ5NPOBQ4TQFUSIJAMP6QZCBWPT5F3BHGDEI6ZY4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUSZMPQQ7AOMKMPYQGO6ATPVWKC3RDSA3OSSFD3GC3KSQSK54JFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XB5KXEP2V2GUTT3LQVMDE7AV4B4ZSKBN4RV5SFFKTW3OHUUS5U2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5T2TSPMMVJB4YAECBWY3TUWDVOLND3K3WPARCOG5CTVJFTPMMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F7BYKT6PWJZ6BBE2ONRFJDKBBANO7UIONNDECE3EDDE46VCDLRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7SCLNFMSXNGZECS4TH5XWTIZ2WCC2XGEC3SQ7C5IGY3HLZH6ELA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4GIUITOLFZAH72LSASJ2I34QKCEXAXVXEF3OVBECMOO5SHIIBGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILEJSB2WGXMAWVCCRQHSHTDXSGTW362JXRFZQTSU2BDNGUXD4KMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A2DMQNYVW5ROMMRX74TLON7MZYW3GHEQYIV2YNWCXVF7BXUTFW5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js"
            ]
        },
        "ListMemberAccounts": {
            "name": "ListMemberAccounts",
            "http": {
                "method": "GET",
                "requestUri": "/list-member-accounts",
                "responseCode": 200
            },
            "input": {
                "shape": "ListMemberAccountsRequest"
            },
            "output": {
                "shape": "ListMemberAccountsResponse"
            },
            "errors": [
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ResourceNotFoundException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5T2TSPMMVJB4YAECBWY3TUWDVOLND3K3WPARCOG5CTVJFTPMMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F7BYKT6PWJZ6BBE2ONRFJDKBBANO7UIONNDECE3EDDE46VCDLRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7SCLNFMSXNGZECS4TH5XWTIZ2WCC2XGEC3SQ7C5IGY3HLZH6ELA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4GIUITOLFZAH72LSASJ2I34QKCEXAXVXEF3OVBECMOO5SHIIBGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILEJSB2WGXMAWVCCRQHSHTDXSGTW362JXRFZQTSU2BDNGUXD4KMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A2DMQNYVW5ROMMRX74TLON7MZYW3GHEQYIV2YNWCXVF7BXUTFW5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js"
            ]
        },
        "AssociateOrganizationalUnit": {
            "name": "AssociateOrganizationalUnit",
            "http": {
                "method": "POST",
                "requestUri": "/organizational-units/associate/{organizationalUnitId}",
                "responseCode": 201
            },
            "input": {
                "shape": "AssociateOrganizationalUnitRequest"
            },
            "output": {
                "shape": "AssociateOrganizationalUnitResponse"
            },
            "errors": [
                {
                    "shape": "ServiceQuotaExceededException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "ResourceNotFoundException"
                }
            ],
            "idempotent": true,
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F7BYKT6PWJZ6BBE2ONRFJDKBBANO7UIONNDECE3EDDE46VCDLRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7SCLNFMSXNGZECS4TH5XWTIZ2WCC2XGEC3SQ7C5IGY3HLZH6ELA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4GIUITOLFZAH72LSASJ2I34QKCEXAXVXEF3OVBECMOO5SHIIBGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILEJSB2WGXMAWVCCRQHSHTDXSGTW362JXRFZQTSU2BDNGUXD4KMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A2DMQNYVW5ROMMRX74TLON7MZYW3GHEQYIV2YNWCXVF7BXUTFW5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js"
            ]
        },
        "DisableNotificationsAccessForOrganization": {
            "name": "DisableNotificationsAccessForOrganization",
            "http": {
                "method": "DELETE",
                "requestUri": "/organization/access",
                "responseCode": 200
            },
            "input": {
                "shape": "DisableNotificationsAccessForOrganizationRequest"
            },
            "output": {
                "shape": "DisableNotificationsAccessForOrganizationResponse"
            },
            "errors": [
                {
                    "shape": "ServiceQuotaExceededException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "ResourceNotFoundException"
                }
            ],
            "idempotent": true,
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F7BYKT6PWJZ6BBE2ONRFJDKBBANO7UIONNDECE3EDDE46VCDLRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7SCLNFMSXNGZECS4TH5XWTIZ2WCC2XGEC3SQ7C5IGY3HLZH6ELA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4GIUITOLFZAH72LSASJ2I34QKCEXAXVXEF3OVBECMOO5SHIIBGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILEJSB2WGXMAWVCCRQHSHTDXSGTW362JXRFZQTSU2BDNGUXD4KMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A2DMQNYVW5ROMMRX74TLON7MZYW3GHEQYIV2YNWCXVF7BXUTFW5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js"
            ]
        },
        "DisassociateOrganizationalUnit": {
            "name": "DisassociateOrganizationalUnit",
            "http": {
                "method": "POST",
                "requestUri": "/organizational-units/disassociate/{organizationalUnitId}",
                "responseCode": 200
            },
            "input": {
                "shape": "DisassociateOrganizationalUnitRequest"
            },
            "output": {
                "shape": "DisassociateOrganizationalUnitResponse"
            },
            "errors": [
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ResourceNotFoundException"
                }
            ],
            "idempotent": true,
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F7BYKT6PWJZ6BBE2ONRFJDKBBANO7UIONNDECE3EDDE46VCDLRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7SCLNFMSXNGZECS4TH5XWTIZ2WCC2XGEC3SQ7C5IGY3HLZH6ELA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4GIUITOLFZAH72LSASJ2I34QKCEXAXVXEF3OVBECMOO5SHIIBGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILEJSB2WGXMAWVCCRQHSHTDXSGTW362JXRFZQTSU2BDNGUXD4KMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A2DMQNYVW5ROMMRX74TLON7MZYW3GHEQYIV2YNWCXVF7BXUTFW5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js"
            ]
        },
        "EnableNotificationsAccessForOrganization": {
            "name": "EnableNotificationsAccessForOrganization",
            "http": {
                "method": "POST",
                "requestUri": "/organization/access",
                "responseCode": 200
            },
            "input": {
                "shape": "EnableNotificationsAccessForOrganizationRequest"
            },
            "output": {
                "shape": "EnableNotificationsAccessForOrganizationResponse"
            },
            "errors": [
                {
                    "shape": "ServiceQuotaExceededException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "ResourceNotFoundException"
                }
            ],
            "idempotent": true,
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F7BYKT6PWJZ6BBE2ONRFJDKBBANO7UIONNDECE3EDDE46VCDLRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7SCLNFMSXNGZECS4TH5XWTIZ2WCC2XGEC3SQ7C5IGY3HLZH6ELA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4GIUITOLFZAH72LSASJ2I34QKCEXAXVXEF3OVBECMOO5SHIIBGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILEJSB2WGXMAWVCCRQHSHTDXSGTW362JXRFZQTSU2BDNGUXD4KMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A2DMQNYVW5ROMMRX74TLON7MZYW3GHEQYIV2YNWCXVF7BXUTFW5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js"
            ]
        },
        "GetNotificationsAccessForOrganization": {
            "name": "GetNotificationsAccessForOrganization",
            "http": {
                "method": "GET",
                "requestUri": "/organization/access",
                "responseCode": 200
            },
            "input": {
                "shape": "GetNotificationsAccessForOrganizationRequest"
            },
            "output": {
                "shape": "GetNotificationsAccessForOrganizationResponse"
            },
            "errors": [
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ThrottlingException"
                }
            ],
            "internalonly": true,
            "download_location": [
[...]
