{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2023-03-30",
        "endpointPrefix": "novello",
        "jsonVersion": "1.0",
        "protocol": "json",
        "protocols": [
            "json"
        ],
        "serviceFullName": "Novello",
        "serviceId": "Novello",
        "signatureVersion": "v4",
        "signingName": "novello",
        "targetPrefix": "NovelloGatewayService",
        "uid": "novello-2023-03-30",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/YWFQU4XAAAFUSHJXQCFMRU6PCGKUS2KSX4BR3RQXYHBOJM5VBLOQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PZXG2ZHALZA5XAHA6MG3UKWPRNFJUSOLWACEFPJUGTR5ESZ2DXFA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6BZNAFMAX4VGGT2PIWGZLTKMBSHAPON6WRI4MLSSTQWONQ5XXS4Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SMSXX7WLT7RZSC2HXEUMKLP2ET2IT7CCRZGJT73V5Y5RFIVLB75A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UPFXCKSGZDOAHPVIIMLNOQXUF3RQXA5UKSD5LBOO53A4NHU5VCNA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js"
        ]
    },
    "operations": {
        "CreateHealthAgent": {
            "input": {
                "type": "structure",
                "members": {
                    "name": {},
                    "kmsKeyArn": {},
                    "tools": {
                        "type": "list",
                        "member": {}
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "agentId": {},
                    "status": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWFQU4XAAAFUSHJXQCFMRU6PCGKUS2KSX4BR3RQXYHBOJM5VBLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZXG2ZHALZA5XAHA6MG3UKWPRNFJUSOLWACEFPJUGTR5ESZ2DXFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6BZNAFMAX4VGGT2PIWGZLTKMBSHAPON6WRI4MLSSTQWONQ5XXS4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMSXX7WLT7RZSC2HXEUMKLP2ET2IT7CCRZGJT73V5Y5RFIVLB75A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPFXCKSGZDOAHPVIIMLNOQXUF3RQXA5UKSD5LBOO53A4NHU5VCNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js"
            ]
        },
        "DeleteHealthAgent": {
            "input": {
                "type": "structure",
                "required": [
                    "agentId"
                ],
                "members": {
                    "agentId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "status": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWFQU4XAAAFUSHJXQCFMRU6PCGKUS2KSX4BR3RQXYHBOJM5VBLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZXG2ZHALZA5XAHA6MG3UKWPRNFJUSOLWACEFPJUGTR5ESZ2DXFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6BZNAFMAX4VGGT2PIWGZLTKMBSHAPON6WRI4MLSSTQWONQ5XXS4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMSXX7WLT7RZSC2HXEUMKLP2ET2IT7CCRZGJT73V5Y5RFIVLB75A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPFXCKSGZDOAHPVIIMLNOQXUF3RQXA5UKSD5LBOO53A4NHU5VCNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js"
            ]
        },
        "GetHealthAgent": {
            "input": {
                "type": "structure",
                "required": [
                    "agentId"
                ],
                "members": {
                    "agentId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "agentId": {},
                    "status": {},
                    "name": {},
                    "kmsKeyArn": {},
                    "createRequestedAt": {
                        "shape": "Se"
                    },
                    "createdAt": {
                        "shape": "Se"
                    },
                    "deleteRequestedAt": {
                        "shape": "Se"
                    },
                    "tools": {
                        "shape": "Sf"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWFQU4XAAAFUSHJXQCFMRU6PCGKUS2KSX4BR3RQXYHBOJM5VBLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZXG2ZHALZA5XAHA6MG3UKWPRNFJUSOLWACEFPJUGTR5ESZ2DXFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6BZNAFMAX4VGGT2PIWGZLTKMBSHAPON6WRI4MLSSTQWONQ5XXS4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMSXX7WLT7RZSC2HXEUMKLP2ET2IT7CCRZGJT73V5Y5RFIVLB75A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPFXCKSGZDOAHPVIIMLNOQXUF3RQXA5UKSD5LBOO53A4NHU5VCNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js"
            ]
        },
        "GetIngestionJob": {
            "input": {
                "type": "structure",
                "required": [
                    "agentId",
                    "jobId"
                ],
                "members": {
                    "agentId": {},
                    "jobId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "agentId": {},
                    "jobId": {},
                    "jobName": {},
                    "jobStatus": {},
                    "inputConfig": {
                        "shape": "Sl"
                    },
                    "outputConfig": {
                        "shape": "Ss"
                    },
                    "submittedAt": {
                        "shape": "Se"
                    },
                    "endedAt": {
                        "shape": "Se"
                    },
                    "message": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWFQU4XAAAFUSHJXQCFMRU6PCGKUS2KSX4BR3RQXYHBOJM5VBLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZXG2ZHALZA5XAHA6MG3UKWPRNFJUSOLWACEFPJUGTR5ESZ2DXFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6BZNAFMAX4VGGT2PIWGZLTKMBSHAPON6WRI4MLSSTQWONQ5XXS4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMSXX7WLT7RZSC2HXEUMKLP2ET2IT7CCRZGJT73V5Y5RFIVLB75A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPFXCKSGZDOAHPVIIMLNOQXUF3RQXA5UKSD5LBOO53A4NHU5VCNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js"
            ]
        },
        "ListHealthAgents": {
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "healthAgents": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "agentId": {},
                                "status": {},
                                "name": {},
                                "createdAt": {
                                    "shape": "Se"
                                },
                                "tools": {
                                    "shape": "Sf"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWFQU4XAAAFUSHJXQCFMRU6PCGKUS2KSX4BR3RQXYHBOJM5VBLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZXG2ZHALZA5XAHA6MG3UKWPRNFJUSOLWACEFPJUGTR5ESZ2DXFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6BZNAFMAX4VGGT2PIWGZLTKMBSHAPON6WRI4MLSSTQWONQ5XXS4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMSXX7WLT7RZSC2HXEUMKLP2ET2IT7CCRZGJT73V5Y5RFIVLB75A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPFXCKSGZDOAHPVIIMLNOQXUF3RQXA5UKSD5LBOO53A4NHU5VCNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js"
            ]
        },
        "ListIngestionJobs": {
            "input": {
                "type": "structure",
                "required": [
                    "agentId"
                ],
                "members": {
                    "agentId": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ingestionJobs": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "agentId": {},
                                "jobId": {},
                                "jobName": {},
                                "jobStatus": {},
                                "submittedAt": {
                                    "shape": "Se"
                                },
                                "endedAt": {
                                    "shape": "Se"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWFQU4XAAAFUSHJXQCFMRU6PCGKUS2KSX4BR3RQXYHBOJM5VBLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZXG2ZHALZA5XAHA6MG3UKWPRNFJUSOLWACEFPJUGTR5ESZ2DXFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6BZNAFMAX4VGGT2PIWGZLTKMBSHAPON6WRI4MLSSTQWONQ5XXS4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMSXX7WLT7RZSC2HXEUMKLP2ET2IT7CCRZGJT73V5Y5RFIVLB75A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPFXCKSGZDOAHPVIIMLNOQXUF3RQXA5UKSD5LBOO53A4NHU5VCNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js"
            ]
        },
        "RegisterInferenceFeedback": {
            "input": {
                "type": "structure",
                "required": [
                    "agentId"
                ],
                "members": {
                    "agentId": {},
                    "inferenceId": {},
                    "feedback": {
                        "type": "structure",
                        "members": {
                            "agentFeedback": {
                                "type": "structure",
                                "required": [
                                    "isInferenceFactuallyCorrect",
                                    "isInferenceFactuallyComplete"
                                ],
                                "members": {
                                    "isInferenceFactuallyCorrect": {
                                        "type": "boolean"
                                    },
                                    "isInferenceFactuallyComplete": {
                                        "type": "boolean"
                                    }
                                }
                            },
                            "toolFeedback": {
                                "type": "structure",
                                "required": [
                                    "isReasoningCorrect",
                                    "isStepsCorrect",
                                    "isRationaleCorrect",
                                    "isToolInvokedCorrect"
                                ],
                                "members": {
                                    "isReasoningCorrect": {
                                        "type": "boolean"
                                    },
                                    "isStepsCorrect": {
                                        "type": "boolean"
                                    },
                                    "isRationaleCorrect": {
                                        "type": "boolean"
                                    },
                                    "isToolInvokedCorrect": {
                                        "type": "boolean"
                                    }
                                }
                            }
                        },
                        "union": true
                    },
                    "comments": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWFQU4XAAAFUSHJXQCFMRU6PCGKUS2KSX4BR3RQXYHBOJM5VBLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZXG2ZHALZA5XAHA6MG3UKWPRNFJUSOLWACEFPJUGTR5ESZ2DXFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6BZNAFMAX4VGGT2PIWGZLTKMBSHAPON6WRI4MLSSTQWONQ5XXS4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMSXX7WLT7RZSC2HXEUMKLP2ET2IT7CCRZGJT73V5Y5RFIVLB75A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPFXCKSGZDOAHPVIIMLNOQXUF3RQXA5UKSD5LBOO53A4NHU5VCNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js"
            ]
        },
        "RetrieveInference": {
            "input": {
                "type": "structure",
                "required": [
                    "agentId",
                    "input"
                ],
                "members": {
                    "agentId": {},
                    "input": {
                        "type": "string",
                        "sensitive": true
                    },
                    "sessionId": {},
                    "filters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "key": {
                                    "shape": "S1k"
                                },
                                "value": {
                                    "shape": "S1k"
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "inferenceId": {},
                    "output": {
                        "type": "string",
                        "sensitive": true
                    },
                    "citations": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "generatedResponsePart": {
                                    "type": "structure",
                                    "members": {
                                        "textResponsePart": {
                                            "type": "structure",
                                            "members": {
                                                "text": {
                                                    "shape": "S1k"
                                                },
                                                "span": {
                                                    "type": "structure",
                                                    "members": {
                                                        "start": {
                                                            "type": "integer"
                                                        },
                                                        "end": {
                                                            "type": "integer"
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                },
                                "retrievedReferences": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "content": {
                                                "type": "structure",
                                                "members": {
                                                    "text": {
                                                        "shape": "S1k"
                                                    }
                                                }
                                            },
                                            "location": {
                                                "type": "structure",
                                                "members": {
                                                    "type": {},
                                                    "s3Location": {
                                                        "type": "structure",
                                                        "members": {
                                                            "uri": {}
                                                        }
                                                    },
                                                    "healthlakeLocation": {
                                                        "type": "structure",
                                                        "members": {
                                                            "uri": {}
                                                        }
                                                    }
                                                }
                                            },
                                            "metadata": {
                                                "type": "structure",
                                                "members": {
                                                    "contentType": {},
                                                    "mapping": {
                                                        "type": "structure",
                                                        "members": {
                                                            "id": {},
                                                            "position": {
                                                                "type": "structure",
                                                                "members": {
                                                                    "pageNumber": {
                                                                        "type": "integer"
                                                                    },
                                                                    "boundingBox": {
                                                                        "type": "structure",
                                                                        "members": {
                                                                            "left": {
                                                                                "type": "double"
                                                                            },
                                                                            "top": {
                                                                                "type": "double"
                                                                            },
                                                                            "width": {
                                                                                "type": "double"
                                                                            },
                                                                            "height": {
                                                                                "type": "double"
                                                                            }
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "trace": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "step": {},
                                "type": {},
                                "traces": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "rationale": {
                                                "type": "structure",
                                                "members": {
                                                    "text": {
                                                        "shape": "S1k"
                                                    }
                                                }
                                            },
                                            "toolInput": {
                                                "type": "structure",
                                                "members": {
                                                    "apiPath": {},
                                                    "parameters": {
                                                        "type": "list",
                                                        "member": {
                                                            "type": "structure",
                                                            "members": {
                                                                "name": {},
                                                                "type": {},
                                                                "value": {
                                                                    "shape": "S1k"
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            },
                                            "toolOutput": {
                                                "type": "structure",
                                                "members": {
                                                    "text": {
                                                        "shape": "S1k"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "sessionId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWFQU4XAAAFUSHJXQCFMRU6PCGKUS2KSX4BR3RQXYHBOJM5VBLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZXG2ZHALZA5XAHA6MG3UKWPRNFJUSOLWACEFPJUGTR5ESZ2DXFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6BZNAFMAX4VGGT2PIWGZLTKMBSHAPON6WRI4MLSSTQWONQ5XXS4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMSXX7WLT7RZSC2HXEUMKLP2ET2IT7CCRZGJT73V5Y5RFIVLB75A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPFXCKSGZDOAHPVIIMLNOQXUF3RQXA5UKSD5LBOO53A4NHU5VCNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js"
            ]
        },
        "StartIngestionJob": {
            "input": {
                "type": "structure",
                "required": [
                    "agentId",
                    "inputConfig",
                    "outputConfig"
                ],
                "members": {
                    "agentId": {},
                    "jobName": {},
                    "inputConfig": {
                        "shape": "Sl"
                    },
                    "outputConfig": {
                        "shape": "Ss"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "jobId": {},
                    "jobStatus": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWFQU4XAAAFUSHJXQCFMRU6PCGKUS2KSX4BR3RQXYHBOJM5VBLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZXG2ZHALZA5XAHA6MG3UKWPRNFJUSOLWACEFPJUGTR5ESZ2DXFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6BZNAFMAX4VGGT2PIWGZLTKMBSHAPON6WRI4MLSSTQWONQ5XXS4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMSXX7WLT7RZSC2HXEUMKLP2ET2IT7CCRZGJT73V5Y5RFIVLB75A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPFXCKSGZDOAHPVIIMLNOQXUF3RQXA5UKSD5LBOO53A4NHU5VCNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js"
            ]
        }
    },
    "shapes": {
        "Se": {
            "type": "timestamp",
            "timestampFormat": "iso8601"
        },
        "Sf": {
            "type": "list",
            "member": {}
        },
        "Sl": {
            "type": "structure",
            "members": {
                "s3Config": {
                    "shape": "Sm"
                },
                "healthLakeConfig": {
                    "type": "structure",
                    "members": {
                        "healthLakeDatastoreArn": {},
                        "dataAccessRole": {}
                    }
                }
            },
            "union": true
        },
        "Sm": {
            "type": "structure",
            "members": {
                "s3Bucket": {},
                "s3Prefix": {}
            }
        },
        "Ss": {
            "type": "structure",
            "required": [
                "s3Config"
            ],
            "members": {
                "s3Config": {
                    "shape": "Sm"
                },
                "kmsKeyArn": {}
            }
        },
        "S1k": {
            "type": "string",
            "sensitive": true
        }
    }
}