{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2022-06-10",
        "endpointPrefix": "oam",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "CloudWatch Observability Access Manager",
        "serviceId": "OAM",
        "signatureVersion": "v4",
        "signingName": "oam",
        "uid": "oam-2022-06-10",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
            "https://d3kld4ju0n55da.cloudfront.net/742058ee-8170-4e87-9889-9ec3a310e3f7/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
            "https://d3kld4ju0n55da.cloudfront.net/4a60aed7-f5be-4274-8e83-f8cf498793d7/main.js",
            "https://d3kld4ju0n55da.cloudfront.net/f0584db5-7419-47e1-b81c-3e4811379eb2/main.js",
            "https://d3kld4ju0n55da.cloudfront.net/35dcf19a-cbb3-4ee6-9f45-6be949e8820a/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
            "https://d3kld4ju0n55da.cloudfront.net/e0a24bfb-d180-444f-8c5c-bc2a5cf0278e/main.js",
            "https://d3kld4ju0n55da.cloudfront.net/963201e4-5a4b-467f-aa69-46ca98030b15/main.js",
            "https://d3kld4ju0n55da.cloudfront.net/c89ab285-472f-4eaa-8039-b4b922eb5157/main.js",
            "https://d3kld4ju0n55da.cloudfront.net/e70b1963-de7e-48d2-8b20-1af279d99d05/main.js",
            "https://d3kld4ju0n55da.cloudfront.net/34ad9ccc-1dcc-45df-8c50-b9b3d868ae3e/main.js",
            "https://d3kld4ju0n55da.cloudfront.net/7de6e739-a270-4693-b1e9-d57100c2dc56/main.js",
            "https://d3kld4ju0n55da.cloudfront.net/437cb6a1-3f50-43fa-b5d8-56b5e50d0494/main.js",
            "https://d3kld4ju0n55da.cloudfront.net/1450f048-8361-4e8c-9e42-386bf968a881/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
            "https://d3kld4ju0n55da.cloudfront.net/ad8e67fc-21b9-4b8c-8573-cf1366ccb9d1/main.js",
            "https://d3kld4ju0n55da.cloudfront.net/f5490d09-c2d0-40f8-98a9-7a67b32170a3/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
        ]
    },
    "operations": {
        "CreateLink": {
            "http": {
                "requestUri": "/CreateLink",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "LabelTemplate",
                    "ResourceTypes",
                    "SinkIdentifier"
                ],
                "members": {
                    "LabelTemplate": {},
                    "ResourceTypes": {
                        "shape": "S3"
                    },
                    "SinkIdentifier": {},
                    "Tags": {
                        "shape": "S6"
                    },
                    "LinkConfiguration": {
                        "shape": "S9",
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Arn": {},
                    "Id": {},
                    "Label": {},
                    "LabelTemplate": {},
                    "ResourceTypes": {
                        "shape": "Sb"
                    },
                    "SinkArn": {},
                    "Tags": {
                        "shape": "Sc"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/742058ee-8170-4e87-9889-9ec3a310e3f7/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/4a60aed7-f5be-4274-8e83-f8cf498793d7/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f0584db5-7419-47e1-b81c-3e4811379eb2/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/35dcf19a-cbb3-4ee6-9f45-6be949e8820a/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/e0a24bfb-d180-444f-8c5c-bc2a5cf0278e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/963201e4-5a4b-467f-aa69-46ca98030b15/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c89ab285-472f-4eaa-8039-b4b922eb5157/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/e70b1963-de7e-48d2-8b20-1af279d99d05/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/34ad9ccc-1dcc-45df-8c50-b9b3d868ae3e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/7de6e739-a270-4693-b1e9-d57100c2dc56/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/437cb6a1-3f50-43fa-b5d8-56b5e50d0494/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/1450f048-8361-4e8c-9e42-386bf968a881/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/ad8e67fc-21b9-4b8c-8573-cf1366ccb9d1/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f5490d09-c2d0-40f8-98a9-7a67b32170a3/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "CreateSink": {
            "http": {
                "requestUri": "/CreateSink",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {},
                    "Tags": {
                        "shape": "S6"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Arn": {},
                    "Id": {},
                    "Name": {},
                    "Tags": {
                        "shape": "Sc"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/742058ee-8170-4e87-9889-9ec3a310e3f7/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/4a60aed7-f5be-4274-8e83-f8cf498793d7/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f0584db5-7419-47e1-b81c-3e4811379eb2/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/35dcf19a-cbb3-4ee6-9f45-6be949e8820a/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/e0a24bfb-d180-444f-8c5c-bc2a5cf0278e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/963201e4-5a4b-467f-aa69-46ca98030b15/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c89ab285-472f-4eaa-8039-b4b922eb5157/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/e70b1963-de7e-48d2-8b20-1af279d99d05/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/34ad9ccc-1dcc-45df-8c50-b9b3d868ae3e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/7de6e739-a270-4693-b1e9-d57100c2dc56/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/437cb6a1-3f50-43fa-b5d8-56b5e50d0494/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/1450f048-8361-4e8c-9e42-386bf968a881/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/ad8e67fc-21b9-4b8c-8573-cf1366ccb9d1/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f5490d09-c2d0-40f8-98a9-7a67b32170a3/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DeleteLink": {
            "http": {
                "requestUri": "/DeleteLink",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Identifier"
                ],
                "members": {
                    "Identifier": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/742058ee-8170-4e87-9889-9ec3a310e3f7/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/4a60aed7-f5be-4274-8e83-f8cf498793d7/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f0584db5-7419-47e1-b81c-3e4811379eb2/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/35dcf19a-cbb3-4ee6-9f45-6be949e8820a/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/e0a24bfb-d180-444f-8c5c-bc2a5cf0278e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/963201e4-5a4b-467f-aa69-46ca98030b15/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c89ab285-472f-4eaa-8039-b4b922eb5157/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/e70b1963-de7e-48d2-8b20-1af279d99d05/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/34ad9ccc-1dcc-45df-8c50-b9b3d868ae3e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/7de6e739-a270-4693-b1e9-d57100c2dc56/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/437cb6a1-3f50-43fa-b5d8-56b5e50d0494/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/1450f048-8361-4e8c-9e42-386bf968a881/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/ad8e67fc-21b9-4b8c-8573-cf1366ccb9d1/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f5490d09-c2d0-40f8-98a9-7a67b32170a3/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DeleteSink": {
            "http": {
                "requestUri": "/DeleteSink",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Identifier"
                ],
                "members": {
                    "Identifier": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/742058ee-8170-4e87-9889-9ec3a310e3f7/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/4a60aed7-f5be-4274-8e83-f8cf498793d7/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f0584db5-7419-47e1-b81c-3e4811379eb2/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/35dcf19a-cbb3-4ee6-9f45-6be949e8820a/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/e0a24bfb-d180-444f-8c5c-bc2a5cf0278e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/963201e4-5a4b-467f-aa69-46ca98030b15/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c89ab285-472f-4eaa-8039-b4b922eb5157/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/e70b1963-de7e-48d2-8b20-1af279d99d05/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/34ad9ccc-1dcc-45df-8c50-b9b3d868ae3e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/7de6e739-a270-4693-b1e9-d57100c2dc56/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/437cb6a1-3f50-43fa-b5d8-56b5e50d0494/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/1450f048-8361-4e8c-9e42-386bf968a881/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/ad8e67fc-21b9-4b8c-8573-cf1366ccb9d1/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f5490d09-c2d0-40f8-98a9-7a67b32170a3/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "GetLink": {
            "http": {
                "requestUri": "/GetLink",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Identifier"
                ],
                "members": {
                    "Identifier": {},
                    "IncludeTags": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Arn": {},
                    "Id": {},
                    "Label": {},
                    "LabelTemplate": {},
                    "ResourceTypes": {
                        "shape": "Sb"
                    },
                    "SinkArn": {},
                    "Tags": {
                        "shape": "Sc"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/742058ee-8170-4e87-9889-9ec3a310e3f7/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/4a60aed7-f5be-4274-8e83-f8cf498793d7/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f0584db5-7419-47e1-b81c-3e4811379eb2/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/35dcf19a-cbb3-4ee6-9f45-6be949e8820a/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/e0a24bfb-d180-444f-8c5c-bc2a5cf0278e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/963201e4-5a4b-467f-aa69-46ca98030b15/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c89ab285-472f-4eaa-8039-b4b922eb5157/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/e70b1963-de7e-48d2-8b20-1af279d99d05/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/34ad9ccc-1dcc-45df-8c50-b9b3d868ae3e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/7de6e739-a270-4693-b1e9-d57100c2dc56/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/437cb6a1-3f50-43fa-b5d8-56b5e50d0494/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/1450f048-8361-4e8c-9e42-386bf968a881/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/ad8e67fc-21b9-4b8c-8573-cf1366ccb9d1/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f5490d09-c2d0-40f8-98a9-7a67b32170a3/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "GetSink": {
            "http": {
                "requestUri": "/GetSink",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Identifier"
                ],
                "members": {
                    "Identifier": {},
                    "IncludeTags": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Arn": {},
                    "Id": {},
                    "Name": {},
                    "Tags": {
                        "shape": "Sc"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/742058ee-8170-4e87-9889-9ec3a310e3f7/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/4a60aed7-f5be-4274-8e83-f8cf498793d7/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f0584db5-7419-47e1-b81c-3e4811379eb2/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/35dcf19a-cbb3-4ee6-9f45-6be949e8820a/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/e0a24bfb-d180-444f-8c5c-bc2a5cf0278e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/963201e4-5a4b-467f-aa69-46ca98030b15/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c89ab285-472f-4eaa-8039-b4b922eb5157/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/e70b1963-de7e-48d2-8b20-1af279d99d05/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/34ad9ccc-1dcc-45df-8c50-b9b3d868ae3e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/7de6e739-a270-4693-b1e9-d57100c2dc56/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/437cb6a1-3f50-43fa-b5d8-56b5e50d0494/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/1450f048-8361-4e8c-9e42-386bf968a881/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/ad8e67fc-21b9-4b8c-8573-cf1366ccb9d1/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f5490d09-c2d0-40f8-98a9-7a67b32170a3/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "GetSinkPolicy": {
            "http": {
                "requestUri": "/GetSinkPolicy",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "SinkIdentifier"
                ],
                "members": {
                    "SinkIdentifier": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "SinkArn": {},
                    "SinkId": {},
                    "Policy": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/742058ee-8170-4e87-9889-9ec3a310e3f7/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/4a60aed7-f5be-4274-8e83-f8cf498793d7/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f0584db5-7419-47e1-b81c-3e4811379eb2/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/35dcf19a-cbb3-4ee6-9f45-6be949e8820a/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/e0a24bfb-d180-444f-8c5c-bc2a5cf0278e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/963201e4-5a4b-467f-aa69-46ca98030b15/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c89ab285-472f-4eaa-8039-b4b922eb5157/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/e70b1963-de7e-48d2-8b20-1af279d99d05/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/34ad9ccc-1dcc-45df-8c50-b9b3d868ae3e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/7de6e739-a270-4693-b1e9-d57100c2dc56/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/437cb6a1-3f50-43fa-b5d8-56b5e50d0494/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/1450f048-8361-4e8c-9e42-386bf968a881/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/ad8e67fc-21b9-4b8c-8573-cf1366ccb9d1/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f5490d09-c2d0-40f8-98a9-7a67b32170a3/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "ListAttachedLinks": {
            "http": {
                "requestUri": "/ListAttachedLinks",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "SinkIdentifier"
                ],
                "members": {
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {},
                    "SinkIdentifier": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Items"
                ],
                "members": {
                    "Items": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Label": {},
                                "LinkArn": {},
                                "ResourceTypes": {
                                    "shape": "Sb"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/742058ee-8170-4e87-9889-9ec3a310e3f7/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/4a60aed7-f5be-4274-8e83-f8cf498793d7/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f0584db5-7419-47e1-b81c-3e4811379eb2/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/35dcf19a-cbb3-4ee6-9f45-6be949e8820a/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/e0a24bfb-d180-444f-8c5c-bc2a5cf0278e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/963201e4-5a4b-467f-aa69-46ca98030b15/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c89ab285-472f-4eaa-8039-b4b922eb5157/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/e70b1963-de7e-48d2-8b20-1af279d99d05/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/34ad9ccc-1dcc-45df-8c50-b9b3d868ae3e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/7de6e739-a270-4693-b1e9-d57100c2dc56/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/437cb6a1-3f50-43fa-b5d8-56b5e50d0494/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/1450f048-8361-4e8c-9e42-386bf968a881/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/ad8e67fc-21b9-4b8c-8573-cf1366ccb9d1/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f5490d09-c2d0-40f8-98a9-7a67b32170a3/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "ListLinks": {
            "http": {
                "requestUri": "/ListLinks",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Items"
                ],
                "members": {
                    "Items": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Arn": {},
                                "Id": {},
                                "Label": {},
                                "ResourceTypes": {
                                    "shape": "Sb"
                                },
                                "SinkArn": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/742058ee-8170-4e87-9889-9ec3a310e3f7/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/4a60aed7-f5be-4274-8e83-f8cf498793d7/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f0584db5-7419-47e1-b81c-3e4811379eb2/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/35dcf19a-cbb3-4ee6-9f45-6be949e8820a/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/e0a24bfb-d180-444f-8c5c-bc2a5cf0278e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/963201e4-5a4b-467f-aa69-46ca98030b15/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c89ab285-472f-4eaa-8039-b4b922eb5157/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/e70b1963-de7e-48d2-8b20-1af279d99d05/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/34ad9ccc-1dcc-45df-8c50-b9b3d868ae3e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/7de6e739-a270-4693-b1e9-d57100c2dc56/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/437cb6a1-3f50-43fa-b5d8-56b5e50d0494/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/1450f048-8361-4e8c-9e42-386bf968a881/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/ad8e67fc-21b9-4b8c-8573-cf1366ccb9d1/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f5490d09-c2d0-40f8-98a9-7a67b32170a3/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "ListSinks": {
            "http": {
                "requestUri": "/ListSinks",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Items"
                ],
                "members": {
                    "Items": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Arn": {},
                                "Id": {},
                                "Name": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/742058ee-8170-4e87-9889-9ec3a310e3f7/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/4a60aed7-f5be-4274-8e83-f8cf498793d7/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f0584db5-7419-47e1-b81c-3e4811379eb2/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/35dcf19a-cbb3-4ee6-9f45-6be949e8820a/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/e0a24bfb-d180-444f-8c5c-bc2a5cf0278e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/963201e4-5a4b-467f-aa69-46ca98030b15/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c89ab285-472f-4eaa-8039-b4b922eb5157/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/e70b1963-de7e-48d2-8b20-1af279d99d05/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/34ad9ccc-1dcc-45df-8c50-b9b3d868ae3e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/7de6e739-a270-4693-b1e9-d57100c2dc56/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/437cb6a1-3f50-43fa-b5d8-56b5e50d0494/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/1450f048-8361-4e8c-9e42-386bf968a881/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/ad8e67fc-21b9-4b8c-8573-cf1366ccb9d1/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f5490d09-c2d0-40f8-98a9-7a67b32170a3/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "ListTagsForResource": {
            "http": {
                "method": "GET",
                "requestUri": "/tags/{ResourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn"
                ],
                "members": {
                    "ResourceArn": {
                        "location": "uri",
                        "locationName": "ResourceArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Tags": {
                        "shape": "Sc"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/742058ee-8170-4e87-9889-9ec3a310e3f7/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/4a60aed7-f5be-4274-8e83-f8cf498793d7/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f0584db5-7419-47e1-b81c-3e4811379eb2/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/35dcf19a-cbb3-4ee6-9f45-6be949e8820a/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/e0a24bfb-d180-444f-8c5c-bc2a5cf0278e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/963201e4-5a4b-467f-aa69-46ca98030b15/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c89ab285-472f-4eaa-8039-b4b922eb5157/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/e70b1963-de7e-48d2-8b20-1af279d99d05/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/34ad9ccc-1dcc-45df-8c50-b9b3d868ae3e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/7de6e739-a270-4693-b1e9-d57100c2dc56/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/437cb6a1-3f50-43fa-b5d8-56b5e50d0494/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/1450f048-8361-4e8c-9e42-386bf968a881/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/ad8e67fc-21b9-4b8c-8573-cf1366ccb9d1/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f5490d09-c2d0-40f8-98a9-7a67b32170a3/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "PutSinkPolicy": {
            "http": {
                "requestUri": "/PutSinkPolicy",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "SinkIdentifier",
                    "Policy"
                ],
                "members": {
                    "SinkIdentifier": {},
                    "Policy": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "SinkArn": {},
                    "SinkId": {},
                    "Policy": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/742058ee-8170-4e87-9889-9ec3a310e3f7/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/4a60aed7-f5be-4274-8e83-f8cf498793d7/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f0584db5-7419-47e1-b81c-3e4811379eb2/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/35dcf19a-cbb3-4ee6-9f45-6be949e8820a/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/e0a24bfb-d180-444f-8c5c-bc2a5cf0278e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/963201e4-5a4b-467f-aa69-46ca98030b15/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c89ab285-472f-4eaa-8039-b4b922eb5157/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/e70b1963-de7e-48d2-8b20-1af279d99d05/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/34ad9ccc-1dcc-45df-8c50-b9b3d868ae3e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/7de6e739-a270-4693-b1e9-d57100c2dc56/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/437cb6a1-3f50-43fa-b5d8-56b5e50d0494/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/1450f048-8361-4e8c-9e42-386bf968a881/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/ad8e67fc-21b9-4b8c-8573-cf1366ccb9d1/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f5490d09-c2d0-40f8-98a9-7a67b32170a3/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "TagResource": {
            "http": {
                "method": "PUT",
                "requestUri": "/tags/{ResourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn",
                    "Tags"
                ],
                "members": {
                    "ResourceArn": {
                        "location": "uri",
                        "locationName": "ResourceArn"
                    },
                    "Tags": {
                        "shape": "S6"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/742058ee-8170-4e87-9889-9ec3a310e3f7/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/4a60aed7-f5be-4274-8e83-f8cf498793d7/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f0584db5-7419-47e1-b81c-3e4811379eb2/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/35dcf19a-cbb3-4ee6-9f45-6be949e8820a/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/e0a24bfb-d180-444f-8c5c-bc2a5cf0278e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/963201e4-5a4b-467f-aa69-46ca98030b15/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c89ab285-472f-4eaa-8039-b4b922eb5157/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/e70b1963-de7e-48d2-8b20-1af279d99d05/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/34ad9ccc-1dcc-45df-8c50-b9b3d868ae3e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/7de6e739-a270-4693-b1e9-d57100c2dc56/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/437cb6a1-3f50-43fa-b5d8-56b5e50d0494/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/1450f048-8361-4e8c-9e42-386bf968a881/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/ad8e67fc-21b9-4b8c-8573-cf1366ccb9d1/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f5490d09-c2d0-40f8-98a9-7a67b32170a3/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "UntagResource": {
            "http": {
                "method": "DELETE",
                "requestUri": "/tags/{ResourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn",
                    "TagKeys"
                ],
                "members": {
                    "ResourceArn": {
                        "location": "uri",
                        "locationName": "ResourceArn"
                    },
                    "TagKeys": {
                        "location": "querystring",
                        "locationName": "tagKeys",
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/742058ee-8170-4e87-9889-9ec3a310e3f7/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/4a60aed7-f5be-4274-8e83-f8cf498793d7/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f0584db5-7419-47e1-b81c-3e4811379eb2/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/35dcf19a-cbb3-4ee6-9f45-6be949e8820a/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/e0a24bfb-d180-444f-8c5c-bc2a5cf0278e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/963201e4-5a4b-467f-aa69-46ca98030b15/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c89ab285-472f-4eaa-8039-b4b922eb5157/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/e70b1963-de7e-48d2-8b20-1af279d99d05/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/34ad9ccc-1dcc-45df-8c50-b9b3d868ae3e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/7de6e739-a270-4693-b1e9-d57100c2dc56/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/437cb6a1-3f50-43fa-b5d8-56b5e50d0494/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/1450f048-8361-4e8c-9e42-386bf968a881/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/ad8e67fc-21b9-4b8c-8573-cf1366ccb9d1/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f5490d09-c2d0-40f8-98a9-7a67b32170a3/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "UpdateLink": {
            "http": {
                "requestUri": "/UpdateLink",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Identifier",
                    "ResourceTypes"
                ],
                "members": {
                    "Identifier": {},
                    "ResourceTypes": {
                        "shape": "S3"
                    },
                    "LinkConfiguration": {
                        "shape": "S9",
                        "internalonly": true
                    },
                    "IncludeTags": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Arn": {},
                    "Id": {},
                    "Label": {},
                    "LabelTemplate": {},
                    "ResourceTypes": {
                        "shape": "Sb"
                    },
                    "SinkArn": {},
                    "Tags": {
                        "shape": "Sc"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/742058ee-8170-4e87-9889-9ec3a310e3f7/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/4a60aed7-f5be-4274-8e83-f8cf498793d7/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f0584db5-7419-47e1-b81c-3e4811379eb2/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/35dcf19a-cbb3-4ee6-9f45-6be949e8820a/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/e0a24bfb-d180-444f-8c5c-bc2a5cf0278e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/963201e4-5a4b-467f-aa69-46ca98030b15/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c89ab285-472f-4eaa-8039-b4b922eb5157/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/e70b1963-de7e-48d2-8b20-1af279d99d05/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/34ad9ccc-1dcc-45df-8c50-b9b3d868ae3e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/7de6e739-a270-4693-b1e9-d57100c2dc56/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/437cb6a1-3f50-43fa-b5d8-56b5e50d0494/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/1450f048-8361-4e8c-9e42-386bf968a881/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/ad8e67fc-21b9-4b8c-8573-cf1366ccb9d1/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f5490d09-c2d0-40f8-98a9-7a67b32170a3/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "GetTelemetryEnrichmentState": {
            "http": {
                "requestUri": "/GetTelemetryEnrichmentState",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "state": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://d3kld4ju0n55da.cloudfront.net/9d58eb3c-18e3-452f-be45-63c805f5beff/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/00f9aed6-5b78-43c2-baa3-45e847aaaab6/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/8b0ad4c9-faf3-4ab8-9096-63188c6d0e72/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/08c5192b-f850-4f76-8f53-0913f00ebc99/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/233d7d54-a953-42e6-b28e-52f5f411679c/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/bf2a1bab-5a2d-476e-89f7-aef50eec6b94/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c6e7f38f-c8a8-4d74-91a1-7d58a6d19288/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/742058ee-8170-4e87-9889-9ec3a310e3f7/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/4a60aed7-f5be-4274-8e83-f8cf498793d7/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f0584db5-7419-47e1-b81c-3e4811379eb2/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/35dcf19a-cbb3-4ee6-9f45-6be949e8820a/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/e0a24bfb-d180-444f-8c5c-bc2a5cf0278e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/963201e4-5a4b-467f-aa69-46ca98030b15/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c89ab285-472f-4eaa-8039-b4b922eb5157/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/e70b1963-de7e-48d2-8b20-1af279d99d05/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/34ad9ccc-1dcc-45df-8c50-b9b3d868ae3e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/7de6e739-a270-4693-b1e9-d57100c2dc56/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/437cb6a1-3f50-43fa-b5d8-56b5e50d0494/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/1450f048-8361-4e8c-9e42-386bf968a881/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/ad8e67fc-21b9-4b8c-8573-cf1366ccb9d1/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f5490d09-c2d0-40f8-98a9-7a67b32170a3/main.js"
            ]
        },
        "StartTelemetryEnrichment": {
            "http": {
                "requestUri": "/StartTelemetryEnrichment",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "internalonly": true,
            "download_location": [
                "https://d3kld4ju0n55da.cloudfront.net/9d58eb3c-18e3-452f-be45-63c805f5beff/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/00f9aed6-5b78-43c2-baa3-45e847aaaab6/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/8b0ad4c9-faf3-4ab8-9096-63188c6d0e72/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/08c5192b-f850-4f76-8f53-0913f00ebc99/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/233d7d54-a953-42e6-b28e-52f5f411679c/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/bf2a1bab-5a2d-476e-89f7-aef50eec6b94/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c6e7f38f-c8a8-4d74-91a1-7d58a6d19288/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/742058ee-8170-4e87-9889-9ec3a310e3f7/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/4a60aed7-f5be-4274-8e83-f8cf498793d7/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f0584db5-7419-47e1-b81c-3e4811379eb2/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/35dcf19a-cbb3-4ee6-9f45-6be949e8820a/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/e0a24bfb-d180-444f-8c5c-bc2a5cf0278e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/963201e4-5a4b-467f-aa69-46ca98030b15/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c89ab285-472f-4eaa-8039-b4b922eb5157/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/e70b1963-de7e-48d2-8b20-1af279d99d05/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/34ad9ccc-1dcc-45df-8c50-b9b3d868ae3e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/7de6e739-a270-4693-b1e9-d57100c2dc56/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/437cb6a1-3f50-43fa-b5d8-56b5e50d0494/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/1450f048-8361-4e8c-9e42-386bf968a881/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/ad8e67fc-21b9-4b8c-8573-cf1366ccb9d1/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f5490d09-c2d0-40f8-98a9-7a67b32170a3/main.js"
            ]
        },
        "StopTelemetryEnrichment": {
            "http": {
                "requestUri": "/StopTelemetryEnrichment",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "internalonly": true,
            "download_location": [
                "https://d3kld4ju0n55da.cloudfront.net/9d58eb3c-18e3-452f-be45-63c805f5beff/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/00f9aed6-5b78-43c2-baa3-45e847aaaab6/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/8b0ad4c9-faf3-4ab8-9096-63188c6d0e72/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/08c5192b-f850-4f76-8f53-0913f00ebc99/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/233d7d54-a953-42e6-b28e-52f5f411679c/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/bf2a1bab-5a2d-476e-89f7-aef50eec6b94/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c6e7f38f-c8a8-4d74-91a1-7d58a6d19288/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/742058ee-8170-4e87-9889-9ec3a310e3f7/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/4a60aed7-f5be-4274-8e83-f8cf498793d7/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f0584db5-7419-47e1-b81c-3e4811379eb2/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/35dcf19a-cbb3-4ee6-9f45-6be949e8820a/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/e0a24bfb-d180-444f-8c5c-bc2a5cf0278e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/963201e4-5a4b-467f-aa69-46ca98030b15/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c89ab285-472f-4eaa-8039-b4b922eb5157/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/e70b1963-de7e-48d2-8b20-1af279d99d05/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/34ad9ccc-1dcc-45df-8c50-b9b3d868ae3e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/7de6e739-a270-4693-b1e9-d57100c2dc56/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/437cb6a1-3f50-43fa-b5d8-56b5e50d0494/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/1450f048-8361-4e8c-9e42-386bf968a881/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/ad8e67fc-21b9-4b8c-8573-cf1366ccb9d1/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f5490d09-c2d0-40f8-98a9-7a67b32170a3/main.js"
            ]
        },
        "GetXaxrSignedRequest": {
            "http": {
                "requestUri": "/GetXaxrSignedRequest",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "requestDetails",
                    "roleDetails"
                ],
                "members": {
                    "requestDetails": {
                        "type": "structure",
                        "required": [
                            "service",
                            "operation",
                            "method",
                            "path",
                            "body",
                            "headers"
                        ],
                        "members": {
                            "service": {},
                            "operation": {},
                            "method": {},
                            "path": {},
                            "body": {},
                            "headers": {
                                "shape": "S11"
                            }
                        }
                    },
                    "roleDetails": {
                        "type": "structure",
                        "required": [
                            "accountId",
                            "region"
                        ],
                        "members": {
                            "accountId": {},
                            "region": {},
                            "roleName": {}
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "headers"
                ],
                "members": {
                    "headers": {
                        "shape": "S11"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://d3kld4ju0n55da.cloudfront.net/ad8e67fc-21b9-4b8c-8573-cf1366ccb9d1/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f5490d09-c2d0-40f8-98a9-7a67b32170a3/main.js"
            ]
        }
    },
    "shapes": {
        "S3": {
            "type": "list",
            "member": {}
        },
        "S6": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "Sb": {
            "type": "list",
            "member": {}
        },
        "Sc": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "S9": {
            "type": "structure",
            "members": {
                "logGroupConfiguration": {
                    "type": "string",
                    "internalonly": true
                },
                "metricConfiguration": {
                    "type": "string",
                    "internalonly": true
                }
            },
            "internalonly": true
        },
        "Se": {
            "type": "list",
            "member": {}
        },
        "Sf": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "S8": {
            "type": "list",
            "member": {}
        },
        "Sg": {
            "type": "list",
            "member": {}
        },
        "Sh": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "S11": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "S16": {
            "type": "map",
            "key": {},
            "value": {}
        }
    }
}