{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2022-06-10",
        "endpointPrefix": "oam",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "CloudWatch Observability Access Manager",
        "serviceId": "OAM",
        "signatureVersion": "v4",
        "signingName": "oam",
        "uid": "oam-2022-06-10",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/J6XHSE5VWX3T2RPLBIAXADEUETNZ43IKT72CEGYAHN6ZRAXXGSBA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/S6TPFYA3PEGDMCDW7KXHXY5CJ7RH7AXWYI2Z4KKUZ6JCHWCR5PQA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7DZ2U6F5MEPZ4PZUQYAFLYYK2FUAPWLVPEVWZQDZVLO3FVXIPACQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OTJ2YMDUUF2C3CZJKTSAFTXYXNJYQNOQMKB2EDWLTGZ3U4SRPRXQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/V43VOPFGYKUMO2GBNRG6GSHZ6SWGLGNOHZ65FOFBALF6GDNOTDGA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PUKTU6NFHEWOF4GRPLCRICLFATBSJQVLP3YBRYFJ33IGO3S5YJOQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z2NMJUXNRB7ZZ3GET5VUX6YY3345OL3WUPK747DR3CI5UDMEANZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YZO6RHO26VHHUMDRQGYM5HUDSKGBE3RZTDZJ7YD3T2GICPUSZCKA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JG7VMOLQ5XPFXC2J3L74LRSVTQAAECLOFUJIW4VZBAGCFUZ67ZOA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SNDRJOPS5T4HVTRLXTYRZZHFSNXCEVCKXOJ2YP67RQNUSY5RRMCQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Q27Y5ARBI3N4A4637MUZ4LXWFMQM5DIOV3PKVFDTF47XGJGK6DFQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OXJRTCAPNOKMBQ2V6H2FFNETN27A25BDAOAY2T6TDEIGXJUJVLPQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z34GXOAA6NDA2L4OLV3SS7U27C3NCAF2AMBOGO3FSATG2AGPVAKA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
            "https://d3kld4ju0n55da.cloudfront.net/c9ef6d28-6dff-457e-a365-ac33d8ca237f/main.js"
        ]
    },
    "operations": {
        "CreateLink": {
            "http": {
                "requestUri": "/CreateLink",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "LabelTemplate",
                    "ResourceTypes",
                    "SinkIdentifier"
                ],
                "members": {
                    "LabelTemplate": {},
                    "ResourceTypes": {
                        "shape": "S3"
                    },
                    "SinkIdentifier": {},
                    "Tags": {
                        "shape": "S6"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Arn": {},
                    "Id": {},
                    "Label": {},
                    "LabelTemplate": {},
                    "ResourceTypes": {
                        "shape": "Sb"
                    },
                    "SinkArn": {},
                    "Tags": {
                        "shape": "Sc"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6TPFYA3PEGDMCDW7KXHXY5CJ7RH7AXWYI2Z4KKUZ6JCHWCR5PQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DZ2U6F5MEPZ4PZUQYAFLYYK2FUAPWLVPEVWZQDZVLO3FVXIPACQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTJ2YMDUUF2C3CZJKTSAFTXYXNJYQNOQMKB2EDWLTGZ3U4SRPRXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V43VOPFGYKUMO2GBNRG6GSHZ6SWGLGNOHZ65FOFBALF6GDNOTDGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUKTU6NFHEWOF4GRPLCRICLFATBSJQVLP3YBRYFJ33IGO3S5YJOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2NMJUXNRB7ZZ3GET5VUX6YY3345OL3WUPK747DR3CI5UDMEANZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZO6RHO26VHHUMDRQGYM5HUDSKGBE3RZTDZJ7YD3T2GICPUSZCKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JG7VMOLQ5XPFXC2J3L74LRSVTQAAECLOFUJIW4VZBAGCFUZ67ZOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNDRJOPS5T4HVTRLXTYRZZHFSNXCEVCKXOJ2YP67RQNUSY5RRMCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q27Y5ARBI3N4A4637MUZ4LXWFMQM5DIOV3PKVFDTF47XGJGK6DFQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXJRTCAPNOKMBQ2V6H2FFNETN27A25BDAOAY2T6TDEIGXJUJVLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z34GXOAA6NDA2L4OLV3SS7U27C3NCAF2AMBOGO3FSATG2AGPVAKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/c9ef6d28-6dff-457e-a365-ac33d8ca237f/main.js"
            ]
        },
        "CreateSink": {
            "http": {
                "requestUri": "/CreateSink",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {},
                    "Tags": {
                        "shape": "S6"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Arn": {},
                    "Id": {},
                    "Name": {},
                    "Tags": {
                        "shape": "Sc"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6TPFYA3PEGDMCDW7KXHXY5CJ7RH7AXWYI2Z4KKUZ6JCHWCR5PQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DZ2U6F5MEPZ4PZUQYAFLYYK2FUAPWLVPEVWZQDZVLO3FVXIPACQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTJ2YMDUUF2C3CZJKTSAFTXYXNJYQNOQMKB2EDWLTGZ3U4SRPRXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V43VOPFGYKUMO2GBNRG6GSHZ6SWGLGNOHZ65FOFBALF6GDNOTDGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUKTU6NFHEWOF4GRPLCRICLFATBSJQVLP3YBRYFJ33IGO3S5YJOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2NMJUXNRB7ZZ3GET5VUX6YY3345OL3WUPK747DR3CI5UDMEANZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZO6RHO26VHHUMDRQGYM5HUDSKGBE3RZTDZJ7YD3T2GICPUSZCKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JG7VMOLQ5XPFXC2J3L74LRSVTQAAECLOFUJIW4VZBAGCFUZ67ZOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNDRJOPS5T4HVTRLXTYRZZHFSNXCEVCKXOJ2YP67RQNUSY5RRMCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q27Y5ARBI3N4A4637MUZ4LXWFMQM5DIOV3PKVFDTF47XGJGK6DFQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXJRTCAPNOKMBQ2V6H2FFNETN27A25BDAOAY2T6TDEIGXJUJVLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z34GXOAA6NDA2L4OLV3SS7U27C3NCAF2AMBOGO3FSATG2AGPVAKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/c9ef6d28-6dff-457e-a365-ac33d8ca237f/main.js"
            ]
        },
        "DeleteLink": {
            "http": {
                "requestUri": "/DeleteLink",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Identifier"
                ],
                "members": {
                    "Identifier": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6TPFYA3PEGDMCDW7KXHXY5CJ7RH7AXWYI2Z4KKUZ6JCHWCR5PQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DZ2U6F5MEPZ4PZUQYAFLYYK2FUAPWLVPEVWZQDZVLO3FVXIPACQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTJ2YMDUUF2C3CZJKTSAFTXYXNJYQNOQMKB2EDWLTGZ3U4SRPRXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V43VOPFGYKUMO2GBNRG6GSHZ6SWGLGNOHZ65FOFBALF6GDNOTDGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUKTU6NFHEWOF4GRPLCRICLFATBSJQVLP3YBRYFJ33IGO3S5YJOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2NMJUXNRB7ZZ3GET5VUX6YY3345OL3WUPK747DR3CI5UDMEANZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZO6RHO26VHHUMDRQGYM5HUDSKGBE3RZTDZJ7YD3T2GICPUSZCKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JG7VMOLQ5XPFXC2J3L74LRSVTQAAECLOFUJIW4VZBAGCFUZ67ZOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNDRJOPS5T4HVTRLXTYRZZHFSNXCEVCKXOJ2YP67RQNUSY5RRMCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q27Y5ARBI3N4A4637MUZ4LXWFMQM5DIOV3PKVFDTF47XGJGK6DFQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXJRTCAPNOKMBQ2V6H2FFNETN27A25BDAOAY2T6TDEIGXJUJVLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z34GXOAA6NDA2L4OLV3SS7U27C3NCAF2AMBOGO3FSATG2AGPVAKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/c9ef6d28-6dff-457e-a365-ac33d8ca237f/main.js"
            ]
        },
        "DeleteSink": {
            "http": {
                "requestUri": "/DeleteSink",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Identifier"
                ],
                "members": {
                    "Identifier": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6TPFYA3PEGDMCDW7KXHXY5CJ7RH7AXWYI2Z4KKUZ6JCHWCR5PQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DZ2U6F5MEPZ4PZUQYAFLYYK2FUAPWLVPEVWZQDZVLO3FVXIPACQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTJ2YMDUUF2C3CZJKTSAFTXYXNJYQNOQMKB2EDWLTGZ3U4SRPRXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V43VOPFGYKUMO2GBNRG6GSHZ6SWGLGNOHZ65FOFBALF6GDNOTDGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUKTU6NFHEWOF4GRPLCRICLFATBSJQVLP3YBRYFJ33IGO3S5YJOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2NMJUXNRB7ZZ3GET5VUX6YY3345OL3WUPK747DR3CI5UDMEANZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZO6RHO26VHHUMDRQGYM5HUDSKGBE3RZTDZJ7YD3T2GICPUSZCKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JG7VMOLQ5XPFXC2J3L74LRSVTQAAECLOFUJIW4VZBAGCFUZ67ZOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNDRJOPS5T4HVTRLXTYRZZHFSNXCEVCKXOJ2YP67RQNUSY5RRMCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q27Y5ARBI3N4A4637MUZ4LXWFMQM5DIOV3PKVFDTF47XGJGK6DFQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXJRTCAPNOKMBQ2V6H2FFNETN27A25BDAOAY2T6TDEIGXJUJVLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z34GXOAA6NDA2L4OLV3SS7U27C3NCAF2AMBOGO3FSATG2AGPVAKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/c9ef6d28-6dff-457e-a365-ac33d8ca237f/main.js"
            ]
        },
        "GetLink": {
            "http": {
                "requestUri": "/GetLink",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Identifier"
                ],
                "members": {
                    "Identifier": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Arn": {},
                    "Id": {},
                    "Label": {},
                    "LabelTemplate": {},
                    "ResourceTypes": {
                        "shape": "Sb"
                    },
                    "SinkArn": {},
                    "Tags": {
                        "shape": "Sc"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6TPFYA3PEGDMCDW7KXHXY5CJ7RH7AXWYI2Z4KKUZ6JCHWCR5PQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DZ2U6F5MEPZ4PZUQYAFLYYK2FUAPWLVPEVWZQDZVLO3FVXIPACQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTJ2YMDUUF2C3CZJKTSAFTXYXNJYQNOQMKB2EDWLTGZ3U4SRPRXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V43VOPFGYKUMO2GBNRG6GSHZ6SWGLGNOHZ65FOFBALF6GDNOTDGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUKTU6NFHEWOF4GRPLCRICLFATBSJQVLP3YBRYFJ33IGO3S5YJOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2NMJUXNRB7ZZ3GET5VUX6YY3345OL3WUPK747DR3CI5UDMEANZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZO6RHO26VHHUMDRQGYM5HUDSKGBE3RZTDZJ7YD3T2GICPUSZCKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JG7VMOLQ5XPFXC2J3L74LRSVTQAAECLOFUJIW4VZBAGCFUZ67ZOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNDRJOPS5T4HVTRLXTYRZZHFSNXCEVCKXOJ2YP67RQNUSY5RRMCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q27Y5ARBI3N4A4637MUZ4LXWFMQM5DIOV3PKVFDTF47XGJGK6DFQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXJRTCAPNOKMBQ2V6H2FFNETN27A25BDAOAY2T6TDEIGXJUJVLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z34GXOAA6NDA2L4OLV3SS7U27C3NCAF2AMBOGO3FSATG2AGPVAKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/c9ef6d28-6dff-457e-a365-ac33d8ca237f/main.js"
            ]
        },
        "GetSink": {
            "http": {
                "requestUri": "/GetSink",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Identifier"
                ],
                "members": {
                    "Identifier": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Arn": {},
                    "Id": {},
                    "Name": {},
                    "Tags": {
                        "shape": "Sc"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6TPFYA3PEGDMCDW7KXHXY5CJ7RH7AXWYI2Z4KKUZ6JCHWCR5PQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DZ2U6F5MEPZ4PZUQYAFLYYK2FUAPWLVPEVWZQDZVLO3FVXIPACQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTJ2YMDUUF2C3CZJKTSAFTXYXNJYQNOQMKB2EDWLTGZ3U4SRPRXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V43VOPFGYKUMO2GBNRG6GSHZ6SWGLGNOHZ65FOFBALF6GDNOTDGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUKTU6NFHEWOF4GRPLCRICLFATBSJQVLP3YBRYFJ33IGO3S5YJOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2NMJUXNRB7ZZ3GET5VUX6YY3345OL3WUPK747DR3CI5UDMEANZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZO6RHO26VHHUMDRQGYM5HUDSKGBE3RZTDZJ7YD3T2GICPUSZCKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JG7VMOLQ5XPFXC2J3L74LRSVTQAAECLOFUJIW4VZBAGCFUZ67ZOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNDRJOPS5T4HVTRLXTYRZZHFSNXCEVCKXOJ2YP67RQNUSY5RRMCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q27Y5ARBI3N4A4637MUZ4LXWFMQM5DIOV3PKVFDTF47XGJGK6DFQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXJRTCAPNOKMBQ2V6H2FFNETN27A25BDAOAY2T6TDEIGXJUJVLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z34GXOAA6NDA2L4OLV3SS7U27C3NCAF2AMBOGO3FSATG2AGPVAKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/c9ef6d28-6dff-457e-a365-ac33d8ca237f/main.js"
            ]
        },
        "GetSinkPolicy": {
            "http": {
                "requestUri": "/GetSinkPolicy",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "SinkIdentifier"
                ],
                "members": {
                    "SinkIdentifier": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "SinkArn": {},
                    "SinkId": {},
                    "Policy": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6TPFYA3PEGDMCDW7KXHXY5CJ7RH7AXWYI2Z4KKUZ6JCHWCR5PQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DZ2U6F5MEPZ4PZUQYAFLYYK2FUAPWLVPEVWZQDZVLO3FVXIPACQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTJ2YMDUUF2C3CZJKTSAFTXYXNJYQNOQMKB2EDWLTGZ3U4SRPRXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V43VOPFGYKUMO2GBNRG6GSHZ6SWGLGNOHZ65FOFBALF6GDNOTDGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUKTU6NFHEWOF4GRPLCRICLFATBSJQVLP3YBRYFJ33IGO3S5YJOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2NMJUXNRB7ZZ3GET5VUX6YY3345OL3WUPK747DR3CI5UDMEANZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZO6RHO26VHHUMDRQGYM5HUDSKGBE3RZTDZJ7YD3T2GICPUSZCKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JG7VMOLQ5XPFXC2J3L74LRSVTQAAECLOFUJIW4VZBAGCFUZ67ZOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNDRJOPS5T4HVTRLXTYRZZHFSNXCEVCKXOJ2YP67RQNUSY5RRMCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q27Y5ARBI3N4A4637MUZ4LXWFMQM5DIOV3PKVFDTF47XGJGK6DFQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXJRTCAPNOKMBQ2V6H2FFNETN27A25BDAOAY2T6TDEIGXJUJVLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z34GXOAA6NDA2L4OLV3SS7U27C3NCAF2AMBOGO3FSATG2AGPVAKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/c9ef6d28-6dff-457e-a365-ac33d8ca237f/main.js"
            ]
        },
        "ListAttachedLinks": {
            "http": {
                "requestUri": "/ListAttachedLinks",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "SinkIdentifier"
                ],
                "members": {
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {},
                    "SinkIdentifier": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Items"
                ],
                "members": {
                    "Items": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Label": {},
                                "LinkArn": {},
                                "ResourceTypes": {
                                    "shape": "Sb"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6TPFYA3PEGDMCDW7KXHXY5CJ7RH7AXWYI2Z4KKUZ6JCHWCR5PQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DZ2U6F5MEPZ4PZUQYAFLYYK2FUAPWLVPEVWZQDZVLO3FVXIPACQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTJ2YMDUUF2C3CZJKTSAFTXYXNJYQNOQMKB2EDWLTGZ3U4SRPRXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V43VOPFGYKUMO2GBNRG6GSHZ6SWGLGNOHZ65FOFBALF6GDNOTDGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUKTU6NFHEWOF4GRPLCRICLFATBSJQVLP3YBRYFJ33IGO3S5YJOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2NMJUXNRB7ZZ3GET5VUX6YY3345OL3WUPK747DR3CI5UDMEANZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZO6RHO26VHHUMDRQGYM5HUDSKGBE3RZTDZJ7YD3T2GICPUSZCKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JG7VMOLQ5XPFXC2J3L74LRSVTQAAECLOFUJIW4VZBAGCFUZ67ZOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNDRJOPS5T4HVTRLXTYRZZHFSNXCEVCKXOJ2YP67RQNUSY5RRMCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q27Y5ARBI3N4A4637MUZ4LXWFMQM5DIOV3PKVFDTF47XGJGK6DFQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXJRTCAPNOKMBQ2V6H2FFNETN27A25BDAOAY2T6TDEIGXJUJVLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z34GXOAA6NDA2L4OLV3SS7U27C3NCAF2AMBOGO3FSATG2AGPVAKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/c9ef6d28-6dff-457e-a365-ac33d8ca237f/main.js"
            ]
        },
        "ListLinks": {
            "http": {
                "requestUri": "/ListLinks",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Items"
                ],
                "members": {
                    "Items": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Arn": {},
                                "Id": {},
                                "Label": {},
                                "ResourceTypes": {
                                    "shape": "Sb"
                                },
                                "SinkArn": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6TPFYA3PEGDMCDW7KXHXY5CJ7RH7AXWYI2Z4KKUZ6JCHWCR5PQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DZ2U6F5MEPZ4PZUQYAFLYYK2FUAPWLVPEVWZQDZVLO3FVXIPACQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTJ2YMDUUF2C3CZJKTSAFTXYXNJYQNOQMKB2EDWLTGZ3U4SRPRXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V43VOPFGYKUMO2GBNRG6GSHZ6SWGLGNOHZ65FOFBALF6GDNOTDGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUKTU6NFHEWOF4GRPLCRICLFATBSJQVLP3YBRYFJ33IGO3S5YJOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2NMJUXNRB7ZZ3GET5VUX6YY3345OL3WUPK747DR3CI5UDMEANZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZO6RHO26VHHUMDRQGYM5HUDSKGBE3RZTDZJ7YD3T2GICPUSZCKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JG7VMOLQ5XPFXC2J3L74LRSVTQAAECLOFUJIW4VZBAGCFUZ67ZOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNDRJOPS5T4HVTRLXTYRZZHFSNXCEVCKXOJ2YP67RQNUSY5RRMCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q27Y5ARBI3N4A4637MUZ4LXWFMQM5DIOV3PKVFDTF47XGJGK6DFQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXJRTCAPNOKMBQ2V6H2FFNETN27A25BDAOAY2T6TDEIGXJUJVLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z34GXOAA6NDA2L4OLV3SS7U27C3NCAF2AMBOGO3FSATG2AGPVAKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/c9ef6d28-6dff-457e-a365-ac33d8ca237f/main.js"
            ]
        },
        "ListSinks": {
            "http": {
                "requestUri": "/ListSinks",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Items"
                ],
                "members": {
                    "Items": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Arn": {},
                                "Id": {},
                                "Name": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6TPFYA3PEGDMCDW7KXHXY5CJ7RH7AXWYI2Z4KKUZ6JCHWCR5PQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DZ2U6F5MEPZ4PZUQYAFLYYK2FUAPWLVPEVWZQDZVLO3FVXIPACQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTJ2YMDUUF2C3CZJKTSAFTXYXNJYQNOQMKB2EDWLTGZ3U4SRPRXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V43VOPFGYKUMO2GBNRG6GSHZ6SWGLGNOHZ65FOFBALF6GDNOTDGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUKTU6NFHEWOF4GRPLCRICLFATBSJQVLP3YBRYFJ33IGO3S5YJOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2NMJUXNRB7ZZ3GET5VUX6YY3345OL3WUPK747DR3CI5UDMEANZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZO6RHO26VHHUMDRQGYM5HUDSKGBE3RZTDZJ7YD3T2GICPUSZCKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JG7VMOLQ5XPFXC2J3L74LRSVTQAAECLOFUJIW4VZBAGCFUZ67ZOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNDRJOPS5T4HVTRLXTYRZZHFSNXCEVCKXOJ2YP67RQNUSY5RRMCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q27Y5ARBI3N4A4637MUZ4LXWFMQM5DIOV3PKVFDTF47XGJGK6DFQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXJRTCAPNOKMBQ2V6H2FFNETN27A25BDAOAY2T6TDEIGXJUJVLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z34GXOAA6NDA2L4OLV3SS7U27C3NCAF2AMBOGO3FSATG2AGPVAKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/c9ef6d28-6dff-457e-a365-ac33d8ca237f/main.js"
            ]
        },
        "ListTagsForResource": {
            "http": {
                "method": "GET",
                "requestUri": "/tags/{ResourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn"
                ],
                "members": {
                    "ResourceArn": {
                        "location": "uri",
                        "locationName": "ResourceArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Tags": {
                        "shape": "Sc"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6TPFYA3PEGDMCDW7KXHXY5CJ7RH7AXWYI2Z4KKUZ6JCHWCR5PQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DZ2U6F5MEPZ4PZUQYAFLYYK2FUAPWLVPEVWZQDZVLO3FVXIPACQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTJ2YMDUUF2C3CZJKTSAFTXYXNJYQNOQMKB2EDWLTGZ3U4SRPRXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V43VOPFGYKUMO2GBNRG6GSHZ6SWGLGNOHZ65FOFBALF6GDNOTDGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUKTU6NFHEWOF4GRPLCRICLFATBSJQVLP3YBRYFJ33IGO3S5YJOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2NMJUXNRB7ZZ3GET5VUX6YY3345OL3WUPK747DR3CI5UDMEANZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZO6RHO26VHHUMDRQGYM5HUDSKGBE3RZTDZJ7YD3T2GICPUSZCKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JG7VMOLQ5XPFXC2J3L74LRSVTQAAECLOFUJIW4VZBAGCFUZ67ZOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNDRJOPS5T4HVTRLXTYRZZHFSNXCEVCKXOJ2YP67RQNUSY5RRMCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q27Y5ARBI3N4A4637MUZ4LXWFMQM5DIOV3PKVFDTF47XGJGK6DFQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXJRTCAPNOKMBQ2V6H2FFNETN27A25BDAOAY2T6TDEIGXJUJVLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z34GXOAA6NDA2L4OLV3SS7U27C3NCAF2AMBOGO3FSATG2AGPVAKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/c9ef6d28-6dff-457e-a365-ac33d8ca237f/main.js"
            ]
        },
        "PutSinkPolicy": {
            "http": {
                "requestUri": "/PutSinkPolicy",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "SinkIdentifier",
                    "Policy"
                ],
                "members": {
                    "SinkIdentifier": {},
                    "Policy": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "SinkArn": {},
                    "SinkId": {},
                    "Policy": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6TPFYA3PEGDMCDW7KXHXY5CJ7RH7AXWYI2Z4KKUZ6JCHWCR5PQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DZ2U6F5MEPZ4PZUQYAFLYYK2FUAPWLVPEVWZQDZVLO3FVXIPACQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTJ2YMDUUF2C3CZJKTSAFTXYXNJYQNOQMKB2EDWLTGZ3U4SRPRXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V43VOPFGYKUMO2GBNRG6GSHZ6SWGLGNOHZ65FOFBALF6GDNOTDGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUKTU6NFHEWOF4GRPLCRICLFATBSJQVLP3YBRYFJ33IGO3S5YJOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2NMJUXNRB7ZZ3GET5VUX6YY3345OL3WUPK747DR3CI5UDMEANZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZO6RHO26VHHUMDRQGYM5HUDSKGBE3RZTDZJ7YD3T2GICPUSZCKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JG7VMOLQ5XPFXC2J3L74LRSVTQAAECLOFUJIW4VZBAGCFUZ67ZOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNDRJOPS5T4HVTRLXTYRZZHFSNXCEVCKXOJ2YP67RQNUSY5RRMCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q27Y5ARBI3N4A4637MUZ4LXWFMQM5DIOV3PKVFDTF47XGJGK6DFQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXJRTCAPNOKMBQ2V6H2FFNETN27A25BDAOAY2T6TDEIGXJUJVLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z34GXOAA6NDA2L4OLV3SS7U27C3NCAF2AMBOGO3FSATG2AGPVAKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/c9ef6d28-6dff-457e-a365-ac33d8ca237f/main.js"
            ]
        },
        "TagResource": {
            "http": {
                "method": "PUT",
                "requestUri": "/tags/{ResourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn",
                    "Tags"
                ],
                "members": {
                    "ResourceArn": {
                        "location": "uri",
                        "locationName": "ResourceArn"
                    },
                    "Tags": {
                        "shape": "S6"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6TPFYA3PEGDMCDW7KXHXY5CJ7RH7AXWYI2Z4KKUZ6JCHWCR5PQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DZ2U6F5MEPZ4PZUQYAFLYYK2FUAPWLVPEVWZQDZVLO3FVXIPACQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTJ2YMDUUF2C3CZJKTSAFTXYXNJYQNOQMKB2EDWLTGZ3U4SRPRXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V43VOPFGYKUMO2GBNRG6GSHZ6SWGLGNOHZ65FOFBALF6GDNOTDGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUKTU6NFHEWOF4GRPLCRICLFATBSJQVLP3YBRYFJ33IGO3S5YJOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2NMJUXNRB7ZZ3GET5VUX6YY3345OL3WUPK747DR3CI5UDMEANZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZO6RHO26VHHUMDRQGYM5HUDSKGBE3RZTDZJ7YD3T2GICPUSZCKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JG7VMOLQ5XPFXC2J3L74LRSVTQAAECLOFUJIW4VZBAGCFUZ67ZOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNDRJOPS5T4HVTRLXTYRZZHFSNXCEVCKXOJ2YP67RQNUSY5RRMCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q27Y5ARBI3N4A4637MUZ4LXWFMQM5DIOV3PKVFDTF47XGJGK6DFQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXJRTCAPNOKMBQ2V6H2FFNETN27A25BDAOAY2T6TDEIGXJUJVLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z34GXOAA6NDA2L4OLV3SS7U27C3NCAF2AMBOGO3FSATG2AGPVAKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/c9ef6d28-6dff-457e-a365-ac33d8ca237f/main.js"
            ]
        },
        "UntagResource": {
            "http": {
                "method": "DELETE",
                "requestUri": "/tags/{ResourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn",
                    "TagKeys"
                ],
                "members": {
                    "ResourceArn": {
                        "location": "uri",
                        "locationName": "ResourceArn"
                    },
                    "TagKeys": {
                        "location": "querystring",
                        "locationName": "tagKeys",
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6TPFYA3PEGDMCDW7KXHXY5CJ7RH7AXWYI2Z4KKUZ6JCHWCR5PQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DZ2U6F5MEPZ4PZUQYAFLYYK2FUAPWLVPEVWZQDZVLO3FVXIPACQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTJ2YMDUUF2C3CZJKTSAFTXYXNJYQNOQMKB2EDWLTGZ3U4SRPRXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V43VOPFGYKUMO2GBNRG6GSHZ6SWGLGNOHZ65FOFBALF6GDNOTDGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUKTU6NFHEWOF4GRPLCRICLFATBSJQVLP3YBRYFJ33IGO3S5YJOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2NMJUXNRB7ZZ3GET5VUX6YY3345OL3WUPK747DR3CI5UDMEANZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZO6RHO26VHHUMDRQGYM5HUDSKGBE3RZTDZJ7YD3T2GICPUSZCKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JG7VMOLQ5XPFXC2J3L74LRSVTQAAECLOFUJIW4VZBAGCFUZ67ZOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNDRJOPS5T4HVTRLXTYRZZHFSNXCEVCKXOJ2YP67RQNUSY5RRMCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q27Y5ARBI3N4A4637MUZ4LXWFMQM5DIOV3PKVFDTF47XGJGK6DFQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXJRTCAPNOKMBQ2V6H2FFNETN27A25BDAOAY2T6TDEIGXJUJVLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z34GXOAA6NDA2L4OLV3SS7U27C3NCAF2AMBOGO3FSATG2AGPVAKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/c9ef6d28-6dff-457e-a365-ac33d8ca237f/main.js"
            ]
        },
        "UpdateLink": {
            "http": {
                "requestUri": "/UpdateLink",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Identifier",
                    "ResourceTypes"
                ],
                "members": {
                    "Identifier": {},
                    "ResourceTypes": {
                        "shape": "S3"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Arn": {},
                    "Id": {},
                    "Label": {},
                    "LabelTemplate": {},
                    "ResourceTypes": {
                        "shape": "Sb"
                    },
                    "SinkArn": {},
                    "Tags": {
                        "shape": "Sc"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6TPFYA3PEGDMCDW7KXHXY5CJ7RH7AXWYI2Z4KKUZ6JCHWCR5PQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DZ2U6F5MEPZ4PZUQYAFLYYK2FUAPWLVPEVWZQDZVLO3FVXIPACQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTJ2YMDUUF2C3CZJKTSAFTXYXNJYQNOQMKB2EDWLTGZ3U4SRPRXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V43VOPFGYKUMO2GBNRG6GSHZ6SWGLGNOHZ65FOFBALF6GDNOTDGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUKTU6NFHEWOF4GRPLCRICLFATBSJQVLP3YBRYFJ33IGO3S5YJOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2NMJUXNRB7ZZ3GET5VUX6YY3345OL3WUPK747DR3CI5UDMEANZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZO6RHO26VHHUMDRQGYM5HUDSKGBE3RZTDZJ7YD3T2GICPUSZCKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JG7VMOLQ5XPFXC2J3L74LRSVTQAAECLOFUJIW4VZBAGCFUZ67ZOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNDRJOPS5T4HVTRLXTYRZZHFSNXCEVCKXOJ2YP67RQNUSY5RRMCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q27Y5ARBI3N4A4637MUZ4LXWFMQM5DIOV3PKVFDTF47XGJGK6DFQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXJRTCAPNOKMBQ2V6H2FFNETN27A25BDAOAY2T6TDEIGXJUJVLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z34GXOAA6NDA2L4OLV3SS7U27C3NCAF2AMBOGO3FSATG2AGPVAKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/c9ef6d28-6dff-457e-a365-ac33d8ca237f/main.js"
            ]
        }
    },
    "shapes": {
        "S3": {
            "type": "list",
            "member": {}
        },
        "S6": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "Sb": {
            "type": "list",
            "member": {}
        },
        "Sc": {
            "type": "map",
            "key": {},
            "value": {}
        }
    }
}