{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2022-08-01",
        "endpointPrefix": "observer",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "ObserverMonitoring",
        "serviceId": "ObserverMonitoring",
        "signatureVersion": "v4",
        "signingName": "observermonitoring",
        "uid": "observer-2022-08-01",
        "download_location": [
            "https://d3kld4ju0n55da.cloudfront.net/a8a23ff2-36f3-44fd-9746-550e23c208cb/main.js",
            "https://d3kld4ju0n55da.cloudfront.net/2f13b8cc-4f11-40e9-a19c-ee6371e03a4d/main.js",
            "https://d3kld4ju0n55da.cloudfront.net/ef465fa3-559c-425a-917f-ee9c499660e4/main.js",
            "https://d3kld4ju0n55da.cloudfront.net/cb449c20-90c2-4f46-aa2f-6c3d984a99a2/main.js",
            "https://d3kld4ju0n55da.cloudfront.net/f90d47e0-0674-4acb-8c9a-7446db0d11ff/main.js",
            "https://d3kld4ju0n55da.cloudfront.net/107a4a83-c407-48ff-8f19-cd455c85d392/main.js",
            "https://d3kld4ju0n55da.cloudfront.net/4fe0a49b-9475-46e4-a21e-245651160e2e/main.js",
            "https://d3kld4ju0n55da.cloudfront.net/8afda330-2eb9-4d11-8d3d-d11142e69051/main.js",
            "https://d3kld4ju0n55da.cloudfront.net/47f84f99-1b0d-4562-a747-e86fe34c302e/main.js",
            "https://d3kld4ju0n55da.cloudfront.net/63fcb37d-c103-49d4-acca-1f4cdd5be6a6/main.js",
            "https://d3kld4ju0n55da.cloudfront.net/292faa65-e1aa-4294-8041-4ecebcd7451f/main.js",
            "https://d3kld4ju0n55da.cloudfront.net/f2117bfd-9204-459f-b8bf-d016fde05810/main.js",
            "https://d3kld4ju0n55da.cloudfront.net/c9ef6d28-6dff-457e-a365-ac33d8ca237f/main.js",
            "https://d3kld4ju0n55da.cloudfront.net/3f3c87c6-94b8-48f1-9363-12c05ee98a20/main.js",
            "https://d3kld4ju0n55da.cloudfront.net/c3a71b82-5864-48fc-aa5c-aa994ffd2423/main.js",
            "https://d3kld4ju0n55da.cloudfront.net/8345882d-60a3-47d9-b40e-f6a8066fcda9/main.js",
            "https://d3kld4ju0n55da.cloudfront.net/2143789a-c8ff-4aca-a000-cb0411dbd9fb/main.js",
            "https://d3kld4ju0n55da.cloudfront.net/581a8a1a-e514-4742-8cef-956f66d380e5/main.js"
        ]
    },
    "operations": {
        "CreateObserver": {
            "http": {
                "requestUri": "/observer",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "Schedule",
                    "Endpoint",
                    "CheckType"
                ],
                "members": {
                    "HttpConfig": {
                        "shape": "S2"
                    },
                    "Name": {},
                    "Schedule": {
                        "shape": "Sn"
                    },
                    "Endpoint": {},
                    "CheckType": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "observer": {
                        "shape": "Sr"
                    }
                }
            },
            "download_location": [
                "https://d3kld4ju0n55da.cloudfront.net/a8a23ff2-36f3-44fd-9746-550e23c208cb/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/2f13b8cc-4f11-40e9-a19c-ee6371e03a4d/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/ef465fa3-559c-425a-917f-ee9c499660e4/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/cb449c20-90c2-4f46-aa2f-6c3d984a99a2/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f90d47e0-0674-4acb-8c9a-7446db0d11ff/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/107a4a83-c407-48ff-8f19-cd455c85d392/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/4fe0a49b-9475-46e4-a21e-245651160e2e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/8afda330-2eb9-4d11-8d3d-d11142e69051/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/47f84f99-1b0d-4562-a747-e86fe34c302e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/63fcb37d-c103-49d4-acca-1f4cdd5be6a6/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/292faa65-e1aa-4294-8041-4ecebcd7451f/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f2117bfd-9204-459f-b8bf-d016fde05810/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c9ef6d28-6dff-457e-a365-ac33d8ca237f/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/3f3c87c6-94b8-48f1-9363-12c05ee98a20/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c3a71b82-5864-48fc-aa5c-aa994ffd2423/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/8345882d-60a3-47d9-b40e-f6a8066fcda9/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/2143789a-c8ff-4aca-a000-cb0411dbd9fb/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/581a8a1a-e514-4742-8cef-956f66d380e5/main.js"
            ]
        },
        "DeleteObserver": {
            "http": {
                "method": "DELETE",
                "requestUri": "/observer/{ObserverIdentifier}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ObserverIdentifier"
                ],
                "members": {
                    "ObserverIdentifier": {
                        "location": "uri",
                        "locationName": "ObserverIdentifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://d3kld4ju0n55da.cloudfront.net/a8a23ff2-36f3-44fd-9746-550e23c208cb/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/2f13b8cc-4f11-40e9-a19c-ee6371e03a4d/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/ef465fa3-559c-425a-917f-ee9c499660e4/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/cb449c20-90c2-4f46-aa2f-6c3d984a99a2/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f90d47e0-0674-4acb-8c9a-7446db0d11ff/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/107a4a83-c407-48ff-8f19-cd455c85d392/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/4fe0a49b-9475-46e4-a21e-245651160e2e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/8afda330-2eb9-4d11-8d3d-d11142e69051/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/47f84f99-1b0d-4562-a747-e86fe34c302e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/63fcb37d-c103-49d4-acca-1f4cdd5be6a6/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/292faa65-e1aa-4294-8041-4ecebcd7451f/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f2117bfd-9204-459f-b8bf-d016fde05810/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c9ef6d28-6dff-457e-a365-ac33d8ca237f/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/3f3c87c6-94b8-48f1-9363-12c05ee98a20/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c3a71b82-5864-48fc-aa5c-aa994ffd2423/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/8345882d-60a3-47d9-b40e-f6a8066fcda9/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/2143789a-c8ff-4aca-a000-cb0411dbd9fb/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/581a8a1a-e514-4742-8cef-956f66d380e5/main.js"
            ]
        },
        "GetObserver": {
            "http": {
                "method": "GET",
                "requestUri": "/observer/{ObserverIdentifier}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ObserverIdentifier"
                ],
                "members": {
                    "ObserverIdentifier": {
                        "location": "uri",
                        "locationName": "ObserverIdentifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "observer": {
                        "shape": "Sr"
                    }
                }
            },
            "download_location": [
                "https://d3kld4ju0n55da.cloudfront.net/a8a23ff2-36f3-44fd-9746-550e23c208cb/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/2f13b8cc-4f11-40e9-a19c-ee6371e03a4d/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/ef465fa3-559c-425a-917f-ee9c499660e4/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/cb449c20-90c2-4f46-aa2f-6c3d984a99a2/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f90d47e0-0674-4acb-8c9a-7446db0d11ff/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/107a4a83-c407-48ff-8f19-cd455c85d392/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/4fe0a49b-9475-46e4-a21e-245651160e2e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/8afda330-2eb9-4d11-8d3d-d11142e69051/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/47f84f99-1b0d-4562-a747-e86fe34c302e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/63fcb37d-c103-49d4-acca-1f4cdd5be6a6/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/292faa65-e1aa-4294-8041-4ecebcd7451f/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f2117bfd-9204-459f-b8bf-d016fde05810/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c9ef6d28-6dff-457e-a365-ac33d8ca237f/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/3f3c87c6-94b8-48f1-9363-12c05ee98a20/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c3a71b82-5864-48fc-aa5c-aa994ffd2423/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/8345882d-60a3-47d9-b40e-f6a8066fcda9/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/2143789a-c8ff-4aca-a000-cb0411dbd9fb/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/581a8a1a-e514-4742-8cef-956f66d380e5/main.js"
            ]
        },
        "GetObserverRuns": {
            "http": {
                "requestUri": "/observer/{ObserverIdentifier}/runs",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ObserverIdentifier"
                ],
                "members": {
                    "MaxResults": {
                        "type": "integer"
                    },
                    "Filters": {
                        "type": "structure",
                        "members": {
                            "TimeRange": {
                                "type": "structure",
                                "members": {
                                    "StartTime": {
                                        "type": "timestamp"
                                    },
                                    "StopTime": {
                                        "type": "timestamp"
                                    }
                                }
                            },
                            "Status": {}
                        }
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "ObserverIdentifier": {
                        "location": "uri",
                        "locationName": "ObserverIdentifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "ObserverRuns": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Name": {},
                                "Id": {},
                                "Endpoint": {},
                                "Timeline": {
                                    "type": "structure",
                                    "members": {
                                        "Completed": {
                                            "type": "timestamp"
                                        },
                                        "Started": {
                                            "type": "timestamp"
                                        }
                                    }
                                },
                                "Result": {},
                                "FailureReason": {},
                                "CheckType": {},
                                "HttpRun": {
                                    "type": "structure",
                                    "members": {
                                        "RunStatusCode": {
                                            "type": "integer"
                                        },
                                        "NetworkTiming": {
                                            "type": "structure",
                                            "members": {
                                                "ResponseTime": {
                                                    "type": "long"
                                                },
                                                "DNSLookupTime": {
                                                    "type": "long"
                                                },
                                                "TCPConnectionTime": {
                                                    "type": "long"
                                                },
                                                "TLSHandshakeTime": {
                                                    "type": "long"
                                                },
                                                "TimeToFirstByte": {
                                                    "type": "long"
                                                },
                                                "ContentTransferTime": {
                                                    "type": "long"
                                                }
                                            }
                                        }
                                    }
                                },
                                "HttpAssertionsResult": {
                                    "type": "structure",
                                    "members": {
                                        "CertificateAssertionResult": {
                                            "type": "structure",
                                            "members": {
                                                "Result": {},
                                                "DaysToExpiry": {
                                                    "type": "integer"
                                                },
                                                "DaysLeftForExpiry": {
                                                    "type": "integer"
                                                }
                                            }
                                        },
                                        "ResponseTimeAssertionResult": {
                                            "type": "structure",
                                            "members": {
                                                "Result": {},
                                                "ResponseTimeThreshold": {
                                                    "type": "long"
                                                },
                                                "ActualResponseTime": {
                                                    "type": "long"
                                                }
                                            }
                                        },
                                        "StatusCodeAssertionResult": {
                                            "type": "structure",
                                            "members": {
                                                "Result": {},
                                                "TargetStatusCode": {
                                                    "shape": "Sj"
                                                },
                                                "ActualStatusCode": {
                                                    "type": "integer"
                                                },
                                                "Operator": {}
                                            }
                                        },
                                        "HttpBodyAssertionResults": {
                                            "type": "list",
                                            "member": {
                                                "type": "structure",
                                                "members": {
                                                    "Result": {},
                                                    "TargetHttpBody": {},
                                                    "ActualHttpBody": {},
                                                    "BodyOperator": {}
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://d3kld4ju0n55da.cloudfront.net/a8a23ff2-36f3-44fd-9746-550e23c208cb/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/2f13b8cc-4f11-40e9-a19c-ee6371e03a4d/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/ef465fa3-559c-425a-917f-ee9c499660e4/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/cb449c20-90c2-4f46-aa2f-6c3d984a99a2/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f90d47e0-0674-4acb-8c9a-7446db0d11ff/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/107a4a83-c407-48ff-8f19-cd455c85d392/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/4fe0a49b-9475-46e4-a21e-245651160e2e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/8afda330-2eb9-4d11-8d3d-d11142e69051/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/47f84f99-1b0d-4562-a747-e86fe34c302e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/63fcb37d-c103-49d4-acca-1f4cdd5be6a6/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/292faa65-e1aa-4294-8041-4ecebcd7451f/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f2117bfd-9204-459f-b8bf-d016fde05810/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c9ef6d28-6dff-457e-a365-ac33d8ca237f/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/3f3c87c6-94b8-48f1-9363-12c05ee98a20/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c3a71b82-5864-48fc-aa5c-aa994ffd2423/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/8345882d-60a3-47d9-b40e-f6a8066fcda9/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/2143789a-c8ff-4aca-a000-cb0411dbd9fb/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/581a8a1a-e514-4742-8cef-956f66d380e5/main.js"
            ]
        },
        "ListObservers": {
            "http": {
                "requestUri": "/observerSummary/list",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "Names": {
                        "type": "list",
                        "member": {}
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "Types": {
                        "type": "list",
                        "member": {}
                    },
                    "State": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "Observers": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Name": {},
                                "Arn": {},
                                "Id": {},
                                "Type": {},
                                "Schedule": {
                                    "shape": "St"
                                },
                                "Endpoint": {},
                                "Timeline": {
                                    "shape": "Sw"
                                },
                                "State": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://d3kld4ju0n55da.cloudfront.net/a8a23ff2-36f3-44fd-9746-550e23c208cb/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/2f13b8cc-4f11-40e9-a19c-ee6371e03a4d/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/ef465fa3-559c-425a-917f-ee9c499660e4/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/cb449c20-90c2-4f46-aa2f-6c3d984a99a2/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f90d47e0-0674-4acb-8c9a-7446db0d11ff/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/107a4a83-c407-48ff-8f19-cd455c85d392/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/4fe0a49b-9475-46e4-a21e-245651160e2e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/8afda330-2eb9-4d11-8d3d-d11142e69051/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/47f84f99-1b0d-4562-a747-e86fe34c302e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/63fcb37d-c103-49d4-acca-1f4cdd5be6a6/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/292faa65-e1aa-4294-8041-4ecebcd7451f/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f2117bfd-9204-459f-b8bf-d016fde05810/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c9ef6d28-6dff-457e-a365-ac33d8ca237f/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/3f3c87c6-94b8-48f1-9363-12c05ee98a20/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c3a71b82-5864-48fc-aa5c-aa994ffd2423/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/8345882d-60a3-47d9-b40e-f6a8066fcda9/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/2143789a-c8ff-4aca-a000-cb0411dbd9fb/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/581a8a1a-e514-4742-8cef-956f66d380e5/main.js"
            ]
        },
        "StartObserver": {
            "http": {
                "requestUri": "/observer/{ObserverIdentifier}/start",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ObserverIdentifier"
                ],
                "members": {
                    "ObserverIdentifier": {
                        "location": "uri",
                        "locationName": "ObserverIdentifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "observer": {
                        "shape": "Sr"
                    }
                }
            },
            "download_location": [
                "https://d3kld4ju0n55da.cloudfront.net/a8a23ff2-36f3-44fd-9746-550e23c208cb/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/2f13b8cc-4f11-40e9-a19c-ee6371e03a4d/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/ef465fa3-559c-425a-917f-ee9c499660e4/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/cb449c20-90c2-4f46-aa2f-6c3d984a99a2/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f90d47e0-0674-4acb-8c9a-7446db0d11ff/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/107a4a83-c407-48ff-8f19-cd455c85d392/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/4fe0a49b-9475-46e4-a21e-245651160e2e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/8afda330-2eb9-4d11-8d3d-d11142e69051/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/47f84f99-1b0d-4562-a747-e86fe34c302e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/63fcb37d-c103-49d4-acca-1f4cdd5be6a6/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/292faa65-e1aa-4294-8041-4ecebcd7451f/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f2117bfd-9204-459f-b8bf-d016fde05810/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c9ef6d28-6dff-457e-a365-ac33d8ca237f/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/3f3c87c6-94b8-48f1-9363-12c05ee98a20/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c3a71b82-5864-48fc-aa5c-aa994ffd2423/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/8345882d-60a3-47d9-b40e-f6a8066fcda9/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/2143789a-c8ff-4aca-a000-cb0411dbd9fb/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/581a8a1a-e514-4742-8cef-956f66d380e5/main.js"
            ]
        },
        "StopObserver": {
            "http": {
                "requestUri": "/observer/{ObserverIdentifier}/stop",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ObserverIdentifier"
                ],
                "members": {
                    "ObserverIdentifier": {
                        "location": "uri",
                        "locationName": "ObserverIdentifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "observer": {
                        "shape": "Sr"
                    }
                }
            },
            "download_location": [
                "https://d3kld4ju0n55da.cloudfront.net/a8a23ff2-36f3-44fd-9746-550e23c208cb/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/2f13b8cc-4f11-40e9-a19c-ee6371e03a4d/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/ef465fa3-559c-425a-917f-ee9c499660e4/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/cb449c20-90c2-4f46-aa2f-6c3d984a99a2/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f90d47e0-0674-4acb-8c9a-7446db0d11ff/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/107a4a83-c407-48ff-8f19-cd455c85d392/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/4fe0a49b-9475-46e4-a21e-245651160e2e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/8afda330-2eb9-4d11-8d3d-d11142e69051/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/47f84f99-1b0d-4562-a747-e86fe34c302e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/63fcb37d-c103-49d4-acca-1f4cdd5be6a6/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/292faa65-e1aa-4294-8041-4ecebcd7451f/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f2117bfd-9204-459f-b8bf-d016fde05810/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c9ef6d28-6dff-457e-a365-ac33d8ca237f/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/3f3c87c6-94b8-48f1-9363-12c05ee98a20/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c3a71b82-5864-48fc-aa5c-aa994ffd2423/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/8345882d-60a3-47d9-b40e-f6a8066fcda9/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/2143789a-c8ff-4aca-a000-cb0411dbd9fb/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/581a8a1a-e514-4742-8cef-956f66d380e5/main.js"
            ]
        },
        "UpdateObserver": {
            "http": {
                "method": "PUT",
                "requestUri": "/observer/{ObserverIdentifier}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ObserverIdentifier"
                ],
                "members": {
                    "Schedule": {
                        "shape": "Sn"
                    },
                    "Endpoint": {},
                    "HttpConfig": {
                        "shape": "S2"
                    },
                    "ObserverIdentifier": {
                        "location": "uri",
                        "locationName": "ObserverIdentifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "observer": {
                        "shape": "Sr"
                    }
                }
            },
            "download_location": [
                "https://d3kld4ju0n55da.cloudfront.net/a8a23ff2-36f3-44fd-9746-550e23c208cb/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/2f13b8cc-4f11-40e9-a19c-ee6371e03a4d/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/ef465fa3-559c-425a-917f-ee9c499660e4/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/cb449c20-90c2-4f46-aa2f-6c3d984a99a2/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f90d47e0-0674-4acb-8c9a-7446db0d11ff/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/107a4a83-c407-48ff-8f19-cd455c85d392/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/4fe0a49b-9475-46e4-a21e-245651160e2e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/8afda330-2eb9-4d11-8d3d-d11142e69051/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/47f84f99-1b0d-4562-a747-e86fe34c302e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/63fcb37d-c103-49d4-acca-1f4cdd5be6a6/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/292faa65-e1aa-4294-8041-4ecebcd7451f/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f2117bfd-9204-459f-b8bf-d016fde05810/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c9ef6d28-6dff-457e-a365-ac33d8ca237f/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/3f3c87c6-94b8-48f1-9363-12c05ee98a20/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c3a71b82-5864-48fc-aa5c-aa994ffd2423/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/8345882d-60a3-47d9-b40e-f6a8066fcda9/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/2143789a-c8ff-4aca-a000-cb0411dbd9fb/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/581a8a1a-e514-4742-8cef-956f66d380e5/main.js"
            ]
        }
    },
    "shapes": {
        "S2": {
            "type": "structure",
            "members": {
                "Hostname": {},
                "Port": {
                    "type": "integer"
                },
                "HttpMethod": {},
                "HttpHeaders": {
                    "shape": "S6"
                },
                "UseIPv6": {
                    "type": "boolean"
                },
                "RequestBody": {},
                "VerifyCert": {
                    "type": "boolean"
                },
                "HttpAssertions": {
                    "type": "structure",
                    "members": {
                        "CertDaysToExpiry": {
                            "type": "integer"
                        },
                        "BodyList": {
                            "shape": "Sc"
                        },
                        "ResponseTimeThreshold": {
                            "type": "long"
                        },
                        "StatusCode": {
                            "shape": "Sh"
                        }
                    }
                }
            }
        },
        "S6": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "Sc": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "BodyOperator": {},
                    "Target": {}
                }
            }
        },
        "Sh": {
            "type": "structure",
            "members": {
                "Operator": {},
                "TargetStatusCode": {
                    "shape": "Sj"
                }
            }
        },
        "Sj": {
            "type": "structure",
            "members": {
                "Range": {
                    "type": "structure",
                    "members": {
                        "Min": {
                            "type": "integer"
                        },
                        "Max": {
                            "type": "integer"
                        }
                    }
                },
                "Value": {
                    "type": "integer"
                }
            }
        },
        "Sn": {
            "type": "structure",
            "members": {
                "DurationInSeconds": {
                    "type": "long"
                },
                "Expression": {}
            }
        },
        "Sr": {
            "type": "structure",
            "members": {
                "Name": {},
                "Arn": {},
                "Schedule": {
                    "shape": "St"
                },
                "CheckType": {},
                "Endpoint": {},
                "HttpConfig": {
                    "type": "structure",
                    "members": {
                        "Hostname": {},
                        "Port": {
                            "type": "integer"
                        },
                        "HttpMethod": {},
                        "HttpHeaders": {
                            "shape": "S6"
                        },
                        "UseIPv6": {
                            "type": "boolean"
                        },
                        "RequestBody": {},
                        "VerifyCert": {
                            "type": "boolean"
                        },
                        "HttpAssertions": {
                            "type": "structure",
                            "members": {
                                "CertDaysToExpiry": {
                                    "type": "integer"
                                },
                                "BodyList": {
                                    "shape": "Sc"
                                },
                                "ResponseTimeThreshold": {
                                    "type": "long"
                                },
                                "StatusCode": {
                                    "shape": "Sh"
                                }
                            }
                        }
                    }
                },
                "Timeline": {
                    "shape": "Sw"
                },
                "ObserverState": {}
            }
        },
        "St": {
            "type": "structure",
            "members": {
                "DurationInSeconds": {
                    "type": "long"
                },
                "Expression": {}
            }
        },
        "Sw": {
            "type": "structure",
            "members": {
                "Created": {
                    "type": "timestamp"
                },
                "LastModified": {
                    "type": "timestamp"
                },
                "LastStarted": {
                    "type": "timestamp"
                },
                "LastStopped": {
                    "type": "timestamp"
                }
            }
        }
    }
}