{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2022-08-01",
        "endpointPrefix": "observer",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "ObserverMonitoring",
        "serviceId": "ObserverMonitoring",
        "signatureVersion": "v4",
        "signingName": "observermonitoring",
        "uid": "observer-2022-08-01",
        "download_location": [
            "https://d3kld4ju0n55da.cloudfront.net/f2117bfd-9204-459f-b8bf-d016fde05810/main.js",
            "https://d3kld4ju0n55da.cloudfront.net/c9ef6d28-6dff-457e-a365-ac33d8ca237f/main.js",
            "https://d3kld4ju0n55da.cloudfront.net/3f3c87c6-94b8-48f1-9363-12c05ee98a20/main.js",
            "https://d3kld4ju0n55da.cloudfront.net/c3a71b82-5864-48fc-aa5c-aa994ffd2423/main.js",
            "https://d3kld4ju0n55da.cloudfront.net/8345882d-60a3-47d9-b40e-f6a8066fcda9/main.js",
            "https://d3kld4ju0n55da.cloudfront.net/2143789a-c8ff-4aca-a000-cb0411dbd9fb/main.js",
            "https://d3kld4ju0n55da.cloudfront.net/581a8a1a-e514-4742-8cef-956f66d380e5/main.js",
            "https://d3kld4ju0n55da.cloudfront.net/9d58eb3c-18e3-452f-be45-63c805f5beff/main.js",
            "https://d3kld4ju0n55da.cloudfront.net/00f9aed6-5b78-43c2-baa3-45e847aaaab6/main.js",
            "https://d3kld4ju0n55da.cloudfront.net/8b0ad4c9-faf3-4ab8-9096-63188c6d0e72/main.js",
            "https://d3kld4ju0n55da.cloudfront.net/08c5192b-f850-4f76-8f53-0913f00ebc99/main.js",
            "https://d3kld4ju0n55da.cloudfront.net/233d7d54-a953-42e6-b28e-52f5f411679c/main.js",
            "https://d3kld4ju0n55da.cloudfront.net/bf2a1bab-5a2d-476e-89f7-aef50eec6b94/main.js",
            "https://d3kld4ju0n55da.cloudfront.net/c6e7f38f-c8a8-4d74-91a1-7d58a6d19288/main.js",
            "https://d3kld4ju0n55da.cloudfront.net/742058ee-8170-4e87-9889-9ec3a310e3f7/main.js",
            "https://d3kld4ju0n55da.cloudfront.net/4a60aed7-f5be-4274-8e83-f8cf498793d7/main.js",
            "https://d3kld4ju0n55da.cloudfront.net/f0584db5-7419-47e1-b81c-3e4811379eb2/main.js",
            "https://d3kld4ju0n55da.cloudfront.net/35dcf19a-cbb3-4ee6-9f45-6be949e8820a/main.js",
            "https://d3kld4ju0n55da.cloudfront.net/e0a24bfb-d180-444f-8c5c-bc2a5cf0278e/main.js",
            "https://d3kld4ju0n55da.cloudfront.net/963201e4-5a4b-467f-aa69-46ca98030b15/main.js",
            "https://d3kld4ju0n55da.cloudfront.net/c89ab285-472f-4eaa-8039-b4b922eb5157/main.js",
            "https://d3kld4ju0n55da.cloudfront.net/e70b1963-de7e-48d2-8b20-1af279d99d05/main.js",
            "https://d3kld4ju0n55da.cloudfront.net/34ad9ccc-1dcc-45df-8c50-b9b3d868ae3e/main.js",
            "https://d3kld4ju0n55da.cloudfront.net/7de6e739-a270-4693-b1e9-d57100c2dc56/main.js",
            "https://d3kld4ju0n55da.cloudfront.net/437cb6a1-3f50-43fa-b5d8-56b5e50d0494/main.js"
        ]
    },
    "operations": {
        "CreateObserver": {
            "http": {
                "requestUri": "/observer",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "Schedule",
                    "Endpoint",
                    "CheckType"
                ],
                "members": {
                    "HttpConfig": {
                        "shape": "S2"
                    },
                    "Name": {},
                    "Schedule": {
                        "shape": "Sn"
                    },
                    "Endpoint": {},
                    "CheckType": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "observer": {
                        "shape": "Sr"
                    }
                }
            },
            "download_location": [
                "https://d3kld4ju0n55da.cloudfront.net/c9ef6d28-6dff-457e-a365-ac33d8ca237f/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/3f3c87c6-94b8-48f1-9363-12c05ee98a20/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c3a71b82-5864-48fc-aa5c-aa994ffd2423/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/8345882d-60a3-47d9-b40e-f6a8066fcda9/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/2143789a-c8ff-4aca-a000-cb0411dbd9fb/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/581a8a1a-e514-4742-8cef-956f66d380e5/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/9d58eb3c-18e3-452f-be45-63c805f5beff/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/00f9aed6-5b78-43c2-baa3-45e847aaaab6/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/8b0ad4c9-faf3-4ab8-9096-63188c6d0e72/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/08c5192b-f850-4f76-8f53-0913f00ebc99/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/233d7d54-a953-42e6-b28e-52f5f411679c/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/bf2a1bab-5a2d-476e-89f7-aef50eec6b94/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c6e7f38f-c8a8-4d74-91a1-7d58a6d19288/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/742058ee-8170-4e87-9889-9ec3a310e3f7/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/4a60aed7-f5be-4274-8e83-f8cf498793d7/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f0584db5-7419-47e1-b81c-3e4811379eb2/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/35dcf19a-cbb3-4ee6-9f45-6be949e8820a/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/e0a24bfb-d180-444f-8c5c-bc2a5cf0278e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/963201e4-5a4b-467f-aa69-46ca98030b15/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c89ab285-472f-4eaa-8039-b4b922eb5157/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/e70b1963-de7e-48d2-8b20-1af279d99d05/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/34ad9ccc-1dcc-45df-8c50-b9b3d868ae3e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/7de6e739-a270-4693-b1e9-d57100c2dc56/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/437cb6a1-3f50-43fa-b5d8-56b5e50d0494/main.js"
            ]
        },
        "DeleteObserver": {
            "http": {
                "method": "DELETE",
                "requestUri": "/observer/{ObserverIdentifier}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ObserverIdentifier"
                ],
                "members": {
                    "ObserverIdentifier": {
                        "location": "uri",
                        "locationName": "ObserverIdentifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://d3kld4ju0n55da.cloudfront.net/c9ef6d28-6dff-457e-a365-ac33d8ca237f/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/3f3c87c6-94b8-48f1-9363-12c05ee98a20/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c3a71b82-5864-48fc-aa5c-aa994ffd2423/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/8345882d-60a3-47d9-b40e-f6a8066fcda9/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/2143789a-c8ff-4aca-a000-cb0411dbd9fb/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/581a8a1a-e514-4742-8cef-956f66d380e5/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/9d58eb3c-18e3-452f-be45-63c805f5beff/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/00f9aed6-5b78-43c2-baa3-45e847aaaab6/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/8b0ad4c9-faf3-4ab8-9096-63188c6d0e72/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/08c5192b-f850-4f76-8f53-0913f00ebc99/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/233d7d54-a953-42e6-b28e-52f5f411679c/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/bf2a1bab-5a2d-476e-89f7-aef50eec6b94/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c6e7f38f-c8a8-4d74-91a1-7d58a6d19288/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/742058ee-8170-4e87-9889-9ec3a310e3f7/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/4a60aed7-f5be-4274-8e83-f8cf498793d7/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f0584db5-7419-47e1-b81c-3e4811379eb2/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/35dcf19a-cbb3-4ee6-9f45-6be949e8820a/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/e0a24bfb-d180-444f-8c5c-bc2a5cf0278e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/963201e4-5a4b-467f-aa69-46ca98030b15/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c89ab285-472f-4eaa-8039-b4b922eb5157/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/e70b1963-de7e-48d2-8b20-1af279d99d05/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/34ad9ccc-1dcc-45df-8c50-b9b3d868ae3e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/7de6e739-a270-4693-b1e9-d57100c2dc56/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/437cb6a1-3f50-43fa-b5d8-56b5e50d0494/main.js"
            ]
        },
        "GetObserver": {
            "http": {
                "method": "GET",
                "requestUri": "/observer/{ObserverIdentifier}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ObserverIdentifier"
                ],
                "members": {
                    "ObserverIdentifier": {
                        "location": "uri",
                        "locationName": "ObserverIdentifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "observer": {
                        "shape": "Sr"
                    }
                }
            },
            "download_location": [
                "https://d3kld4ju0n55da.cloudfront.net/c9ef6d28-6dff-457e-a365-ac33d8ca237f/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/3f3c87c6-94b8-48f1-9363-12c05ee98a20/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c3a71b82-5864-48fc-aa5c-aa994ffd2423/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/8345882d-60a3-47d9-b40e-f6a8066fcda9/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/2143789a-c8ff-4aca-a000-cb0411dbd9fb/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/581a8a1a-e514-4742-8cef-956f66d380e5/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/9d58eb3c-18e3-452f-be45-63c805f5beff/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/00f9aed6-5b78-43c2-baa3-45e847aaaab6/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/8b0ad4c9-faf3-4ab8-9096-63188c6d0e72/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/08c5192b-f850-4f76-8f53-0913f00ebc99/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/233d7d54-a953-42e6-b28e-52f5f411679c/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/bf2a1bab-5a2d-476e-89f7-aef50eec6b94/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c6e7f38f-c8a8-4d74-91a1-7d58a6d19288/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/742058ee-8170-4e87-9889-9ec3a310e3f7/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/4a60aed7-f5be-4274-8e83-f8cf498793d7/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f0584db5-7419-47e1-b81c-3e4811379eb2/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/35dcf19a-cbb3-4ee6-9f45-6be949e8820a/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/e0a24bfb-d180-444f-8c5c-bc2a5cf0278e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/963201e4-5a4b-467f-aa69-46ca98030b15/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c89ab285-472f-4eaa-8039-b4b922eb5157/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/e70b1963-de7e-48d2-8b20-1af279d99d05/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/34ad9ccc-1dcc-45df-8c50-b9b3d868ae3e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/7de6e739-a270-4693-b1e9-d57100c2dc56/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/437cb6a1-3f50-43fa-b5d8-56b5e50d0494/main.js"
            ]
        },
        "GetObserverRuns": {
            "http": {
                "requestUri": "/observer/{ObserverIdentifier}/runs",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ObserverIdentifier"
                ],
                "members": {
                    "MaxResults": {
                        "type": "integer"
                    },
                    "Filters": {
                        "type": "structure",
                        "members": {
                            "TimeRange": {
                                "type": "structure",
                                "members": {
                                    "StartTime": {
                                        "type": "timestamp"
                                    },
                                    "StopTime": {
                                        "type": "timestamp"
                                    }
                                }
                            },
                            "Status": {}
                        }
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "ObserverIdentifier": {
                        "location": "uri",
                        "locationName": "ObserverIdentifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "ObserverRuns": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Name": {},
                                "Id": {},
                                "Endpoint": {},
                                "Timeline": {
                                    "type": "structure",
                                    "members": {
                                        "Completed": {
                                            "type": "timestamp"
                                        },
                                        "Started": {
                                            "type": "timestamp"
                                        }
                                    }
                                },
                                "Result": {},
                                "FailureReason": {},
                                "CheckType": {},
                                "HttpRun": {
                                    "type": "structure",
                                    "members": {
                                        "RunStatusCode": {
                                            "type": "integer"
                                        },
                                        "NetworkTiming": {
                                            "type": "structure",
                                            "members": {
                                                "ResponseTime": {
                                                    "type": "long"
                                                },
                                                "DNSLookupTime": {
                                                    "type": "long"
                                                },
                                                "TCPConnectionTime": {
                                                    "type": "long"
                                                },
                                                "TLSHandshakeTime": {
                                                    "type": "long"
                                                },
                                                "TimeToFirstByte": {
                                                    "type": "long"
                                                },
                                                "ContentTransferTime": {
                                                    "type": "long"
                                                }
                                            }
                                        }
                                    }
                                },
                                "HttpAssertionsResult": {
                                    "type": "structure",
                                    "members": {
                                        "CertificateAssertionResult": {
                                            "type": "structure",
                                            "members": {
                                                "Result": {},
                                                "DaysToExpiry": {
                                                    "type": "integer"
                                                },
                                                "DaysLeftForExpiry": {
                                                    "type": "integer"
                                                }
                                            }
                                        },
                                        "ResponseTimeAssertionResult": {
                                            "type": "structure",
                                            "members": {
                                                "Result": {},
                                                "ResponseTimeThreshold": {
                                                    "type": "long"
                                                },
                                                "ActualResponseTime": {
                                                    "type": "long"
                                                }
                                            }
                                        },
                                        "StatusCodeAssertionResult": {
                                            "type": "structure",
                                            "members": {
                                                "Result": {},
                                                "TargetStatusCode": {
                                                    "shape": "Sj"
                                                },
                                                "ActualStatusCode": {
                                                    "type": "integer"
                                                },
                                                "Operator": {}
                                            }
                                        },
                                        "HttpBodyAssertionResults": {
                                            "type": "list",
                                            "member": {
                                                "type": "structure",
                                                "members": {
                                                    "Result": {},
                                                    "TargetHttpBody": {},
                                                    "ActualHttpBody": {},
                                                    "BodyOperator": {}
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://d3kld4ju0n55da.cloudfront.net/c9ef6d28-6dff-457e-a365-ac33d8ca237f/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/3f3c87c6-94b8-48f1-9363-12c05ee98a20/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c3a71b82-5864-48fc-aa5c-aa994ffd2423/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/8345882d-60a3-47d9-b40e-f6a8066fcda9/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/2143789a-c8ff-4aca-a000-cb0411dbd9fb/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/581a8a1a-e514-4742-8cef-956f66d380e5/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/9d58eb3c-18e3-452f-be45-63c805f5beff/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/00f9aed6-5b78-43c2-baa3-45e847aaaab6/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/8b0ad4c9-faf3-4ab8-9096-63188c6d0e72/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/08c5192b-f850-4f76-8f53-0913f00ebc99/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/233d7d54-a953-42e6-b28e-52f5f411679c/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/bf2a1bab-5a2d-476e-89f7-aef50eec6b94/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c6e7f38f-c8a8-4d74-91a1-7d58a6d19288/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/742058ee-8170-4e87-9889-9ec3a310e3f7/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/4a60aed7-f5be-4274-8e83-f8cf498793d7/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f0584db5-7419-47e1-b81c-3e4811379eb2/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/35dcf19a-cbb3-4ee6-9f45-6be949e8820a/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/e0a24bfb-d180-444f-8c5c-bc2a5cf0278e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/963201e4-5a4b-467f-aa69-46ca98030b15/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c89ab285-472f-4eaa-8039-b4b922eb5157/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/e70b1963-de7e-48d2-8b20-1af279d99d05/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/34ad9ccc-1dcc-45df-8c50-b9b3d868ae3e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/7de6e739-a270-4693-b1e9-d57100c2dc56/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/437cb6a1-3f50-43fa-b5d8-56b5e50d0494/main.js"
            ]
        },
        "ListObservers": {
            "http": {
                "requestUri": "/observerSummary/list",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "Names": {
                        "type": "list",
                        "member": {}
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "Types": {
                        "type": "list",
                        "member": {}
                    },
                    "State": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "Observers": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Name": {},
                                "Arn": {},
                                "Id": {},
                                "Type": {},
                                "Schedule": {
                                    "shape": "St"
                                },
                                "Endpoint": {},
                                "Timeline": {
                                    "shape": "Sw"
                                },
                                "State": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://d3kld4ju0n55da.cloudfront.net/c9ef6d28-6dff-457e-a365-ac33d8ca237f/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/3f3c87c6-94b8-48f1-9363-12c05ee98a20/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c3a71b82-5864-48fc-aa5c-aa994ffd2423/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/8345882d-60a3-47d9-b40e-f6a8066fcda9/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/2143789a-c8ff-4aca-a000-cb0411dbd9fb/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/581a8a1a-e514-4742-8cef-956f66d380e5/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/9d58eb3c-18e3-452f-be45-63c805f5beff/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/00f9aed6-5b78-43c2-baa3-45e847aaaab6/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/8b0ad4c9-faf3-4ab8-9096-63188c6d0e72/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/08c5192b-f850-4f76-8f53-0913f00ebc99/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/233d7d54-a953-42e6-b28e-52f5f411679c/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/bf2a1bab-5a2d-476e-89f7-aef50eec6b94/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c6e7f38f-c8a8-4d74-91a1-7d58a6d19288/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/742058ee-8170-4e87-9889-9ec3a310e3f7/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/4a60aed7-f5be-4274-8e83-f8cf498793d7/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f0584db5-7419-47e1-b81c-3e4811379eb2/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/35dcf19a-cbb3-4ee6-9f45-6be949e8820a/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/e0a24bfb-d180-444f-8c5c-bc2a5cf0278e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/963201e4-5a4b-467f-aa69-46ca98030b15/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c89ab285-472f-4eaa-8039-b4b922eb5157/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/e70b1963-de7e-48d2-8b20-1af279d99d05/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/34ad9ccc-1dcc-45df-8c50-b9b3d868ae3e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/7de6e739-a270-4693-b1e9-d57100c2dc56/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/437cb6a1-3f50-43fa-b5d8-56b5e50d0494/main.js"
            ]
        },
        "StartObserver": {
            "http": {
                "requestUri": "/observer/{ObserverIdentifier}/start",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ObserverIdentifier"
                ],
                "members": {
                    "ObserverIdentifier": {
                        "location": "uri",
                        "locationName": "ObserverIdentifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "observer": {
                        "shape": "Sr"
                    }
                }
            },
            "download_location": [
                "https://d3kld4ju0n55da.cloudfront.net/c9ef6d28-6dff-457e-a365-ac33d8ca237f/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/3f3c87c6-94b8-48f1-9363-12c05ee98a20/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c3a71b82-5864-48fc-aa5c-aa994ffd2423/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/8345882d-60a3-47d9-b40e-f6a8066fcda9/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/2143789a-c8ff-4aca-a000-cb0411dbd9fb/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/581a8a1a-e514-4742-8cef-956f66d380e5/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/9d58eb3c-18e3-452f-be45-63c805f5beff/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/00f9aed6-5b78-43c2-baa3-45e847aaaab6/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/8b0ad4c9-faf3-4ab8-9096-63188c6d0e72/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/08c5192b-f850-4f76-8f53-0913f00ebc99/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/233d7d54-a953-42e6-b28e-52f5f411679c/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/bf2a1bab-5a2d-476e-89f7-aef50eec6b94/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c6e7f38f-c8a8-4d74-91a1-7d58a6d19288/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/742058ee-8170-4e87-9889-9ec3a310e3f7/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/4a60aed7-f5be-4274-8e83-f8cf498793d7/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f0584db5-7419-47e1-b81c-3e4811379eb2/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/35dcf19a-cbb3-4ee6-9f45-6be949e8820a/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/e0a24bfb-d180-444f-8c5c-bc2a5cf0278e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/963201e4-5a4b-467f-aa69-46ca98030b15/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c89ab285-472f-4eaa-8039-b4b922eb5157/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/e70b1963-de7e-48d2-8b20-1af279d99d05/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/34ad9ccc-1dcc-45df-8c50-b9b3d868ae3e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/7de6e739-a270-4693-b1e9-d57100c2dc56/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/437cb6a1-3f50-43fa-b5d8-56b5e50d0494/main.js"
            ]
        },
        "StopObserver": {
            "http": {
                "requestUri": "/observer/{ObserverIdentifier}/stop",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ObserverIdentifier"
                ],
                "members": {
                    "ObserverIdentifier": {
                        "location": "uri",
                        "locationName": "ObserverIdentifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "observer": {
                        "shape": "Sr"
                    }
                }
            },
            "download_location": [
                "https://d3kld4ju0n55da.cloudfront.net/c9ef6d28-6dff-457e-a365-ac33d8ca237f/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/3f3c87c6-94b8-48f1-9363-12c05ee98a20/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c3a71b82-5864-48fc-aa5c-aa994ffd2423/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/8345882d-60a3-47d9-b40e-f6a8066fcda9/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/2143789a-c8ff-4aca-a000-cb0411dbd9fb/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/581a8a1a-e514-4742-8cef-956f66d380e5/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/9d58eb3c-18e3-452f-be45-63c805f5beff/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/00f9aed6-5b78-43c2-baa3-45e847aaaab6/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/8b0ad4c9-faf3-4ab8-9096-63188c6d0e72/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/08c5192b-f850-4f76-8f53-0913f00ebc99/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/233d7d54-a953-42e6-b28e-52f5f411679c/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/bf2a1bab-5a2d-476e-89f7-aef50eec6b94/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c6e7f38f-c8a8-4d74-91a1-7d58a6d19288/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/742058ee-8170-4e87-9889-9ec3a310e3f7/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/4a60aed7-f5be-4274-8e83-f8cf498793d7/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f0584db5-7419-47e1-b81c-3e4811379eb2/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/35dcf19a-cbb3-4ee6-9f45-6be949e8820a/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/e0a24bfb-d180-444f-8c5c-bc2a5cf0278e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/963201e4-5a4b-467f-aa69-46ca98030b15/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c89ab285-472f-4eaa-8039-b4b922eb5157/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/e70b1963-de7e-48d2-8b20-1af279d99d05/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/34ad9ccc-1dcc-45df-8c50-b9b3d868ae3e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/7de6e739-a270-4693-b1e9-d57100c2dc56/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/437cb6a1-3f50-43fa-b5d8-56b5e50d0494/main.js"
            ]
        },
        "UpdateObserver": {
            "http": {
                "method": "PUT",
                "requestUri": "/observer/{ObserverIdentifier}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ObserverIdentifier"
                ],
                "members": {
                    "Schedule": {
                        "shape": "Sn"
                    },
                    "Endpoint": {},
                    "HttpConfig": {
                        "shape": "S2"
                    },
                    "ObserverIdentifier": {
                        "location": "uri",
                        "locationName": "ObserverIdentifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "observer": {
                        "shape": "Sr"
                    }
                }
            },
            "download_location": [
                "https://d3kld4ju0n55da.cloudfront.net/c9ef6d28-6dff-457e-a365-ac33d8ca237f/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/3f3c87c6-94b8-48f1-9363-12c05ee98a20/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c3a71b82-5864-48fc-aa5c-aa994ffd2423/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/8345882d-60a3-47d9-b40e-f6a8066fcda9/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/2143789a-c8ff-4aca-a000-cb0411dbd9fb/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/581a8a1a-e514-4742-8cef-956f66d380e5/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/9d58eb3c-18e3-452f-be45-63c805f5beff/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/00f9aed6-5b78-43c2-baa3-45e847aaaab6/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/8b0ad4c9-faf3-4ab8-9096-63188c6d0e72/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/08c5192b-f850-4f76-8f53-0913f00ebc99/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/233d7d54-a953-42e6-b28e-52f5f411679c/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/bf2a1bab-5a2d-476e-89f7-aef50eec6b94/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c6e7f38f-c8a8-4d74-91a1-7d58a6d19288/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/742058ee-8170-4e87-9889-9ec3a310e3f7/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/4a60aed7-f5be-4274-8e83-f8cf498793d7/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f0584db5-7419-47e1-b81c-3e4811379eb2/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/35dcf19a-cbb3-4ee6-9f45-6be949e8820a/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/e0a24bfb-d180-444f-8c5c-bc2a5cf0278e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/963201e4-5a4b-467f-aa69-46ca98030b15/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c89ab285-472f-4eaa-8039-b4b922eb5157/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/e70b1963-de7e-48d2-8b20-1af279d99d05/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/34ad9ccc-1dcc-45df-8c50-b9b3d868ae3e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/7de6e739-a270-4693-b1e9-d57100c2dc56/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/437cb6a1-3f50-43fa-b5d8-56b5e50d0494/main.js"
            ]
        }
    },
    "shapes": {
        "S2": {
            "type": "structure",
            "members": {
                "Hostname": {},
                "Port": {
                    "type": "integer"
                },
                "HttpMethod": {},
                "HttpHeaders": {
                    "shape": "S6"
                },
                "UseIPv6": {
                    "type": "boolean"
                },
                "RequestBody": {},
                "VerifyCert": {
                    "type": "boolean"
                },
                "HttpAssertions": {
                    "type": "structure",
                    "members": {
                        "CertDaysToExpiry": {
                            "type": "integer"
                        },
                        "BodyList": {
                            "shape": "Sc"
                        },
                        "ResponseTimeThreshold": {
                            "type": "long"
                        },
                        "StatusCode": {
                            "shape": "Sh"
                        }
                    }
                }
            }
        },
        "S6": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "Sc": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "BodyOperator": {},
                    "Target": {}
                }
            }
        },
        "Sh": {
            "type": "structure",
            "members": {
                "Operator": {},
                "TargetStatusCode": {
                    "shape": "Sj"
                }
            }
        },
        "Sj": {
            "type": "structure",
            "members": {
                "Range": {
                    "type": "structure",
                    "members": {
                        "Min": {
                            "type": "integer"
                        },
                        "Max": {
                            "type": "integer"
                        }
                    }
                },
                "Value": {
                    "type": "integer"
                }
            }
        },
        "Sn": {
            "type": "structure",
            "members": {
                "DurationInSeconds": {
                    "type": "long"
                },
                "Expression": {}
            }
        },
        "Sr": {
            "type": "structure",
            "members": {
                "Name": {},
                "Arn": {},
                "Schedule": {
                    "shape": "St"
                },
                "CheckType": {},
                "Endpoint": {},
                "HttpConfig": {
                    "type": "structure",
                    "members": {
                        "Hostname": {},
                        "Port": {
                            "type": "integer"
                        },
                        "HttpMethod": {},
                        "HttpHeaders": {
                            "shape": "S6"
                        },
                        "UseIPv6": {
                            "type": "boolean"
                        },
                        "RequestBody": {},
                        "VerifyCert": {
                            "type": "boolean"
                        },
                        "HttpAssertions": {
                            "type": "structure",
                            "members": {
                                "CertDaysToExpiry": {
                                    "type": "integer"
                                },
                                "BodyList": {
                                    "shape": "Sc"
                                },
                                "ResponseTimeThreshold": {
                                    "type": "long"
                                },
                                "StatusCode": {
                                    "shape": "Sh"
                                }
                            }
                        }
                    }
                },
                "Timeline": {
                    "shape": "Sw"
                },
                "ObserverState": {}
            }
        },
        "St": {
            "type": "structure",
            "members": {
                "DurationInSeconds": {
                    "type": "long"
                },
                "Expression": {}
            }
        },
        "Sw": {
            "type": "structure",
            "members": {
                "Created": {
                    "type": "timestamp"
                },
                "LastModified": {
                    "type": "timestamp"
                },
                "LastStarted": {
                    "type": "timestamp"
                },
                "LastStopped": {
                    "type": "timestamp"
                }
            }
        }
    }
}