{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-05-10",
        "auth": [
            "aws.auth#sigv4"
        ],
        "endpointPrefix": "observabilityadmin",
        "protocol": "rest-json",
        "protocols": [
            "rest-json"
        ],
        "serviceFullName": "CloudWatch Observability Admin Service",
        "serviceId": "ObservabilityAdmin",
        "signatureVersion": "v4",
        "signingName": "observabilityadmin",
        "uid": "observabilityadmin-2018-05-10",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/E3AT5VWSAWRNWDUA3CXB26EIXNFFQKCDQUOBFBBAUM6TVBFTDZGQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/E2OSLOVW34HIDLTODGZSWX4UKDKGGDAV4VUTR5FKASQ6AJ43MRVA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BRZZ7YVN4RE3ONV3ZVNXSV3YQ74M7JONTVPB66M6CNG3ZCLBH6UA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z5HDMLK2AU7TJ5BA2IW2HQZC3X46JQKVXYQ2TNGCNNMEZ7GVJITA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VJVC7O5LUER7FKJQOBAV47VJRAXCBWQWYKBLZQA4FIU4EO5MABJA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AXDDUDP64L4RKQSD3TMWVXOZRF2MIONOZMY6C2YGQBGRU4T4SHUQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LGLAJPUJ2RU45WQQ4NXWW2L2VKOPUFXZDCTQGRFSERLFC6MDQCZQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/P2GSNTQBTMQOWC5UESDSK4JDIWN57ZDJSBER6QXPTWMU3IMFZUTQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MOIF4KFBWJMMGQ3QGFINW3BOJOTB36ZEVI26UK2RHQEJDJ5JEKXQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/O7GQCYY4OBZ3JCTVXKFOBDQWADV4MQKL6GBWK33WANGJMBOGR4XA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/K5JXFKE2LLGDIQCJF2EKOLMR3RTHU7VEZGJWENTA7VUHSN3VSAZA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BTRPOXHJW7ZG237Q7QGEBUHCUMQHBWS3YM63OI5TNR6WHC43E54A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AOZG47NJCG3EF2NT5YDEQN5ZEBDTQNTJCFGGCWKKROG33V27DX5A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YKFNZZW5PHFCEHSXUR56JVCTTQFPMI27OGH4FV6P37OIVPNSL4GA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HORVTJ24N6OCXMBPPP3ICQRONFF5ZIEH73HIUMCVTVEE7Y5X233Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NRFL2NNVGM3HSLD2RLEDXWGC24WEARWR55FCM4U6X7WEGTFC7ZKA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3DADXLEVBHRORQTIIAU2UGQ4DBWMVPFI22UZDYZ3MQK2AAQ6A4WA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MK3MC25KLANR54XOYQMLYCQRGSHVY6CUQFEYWYBHUUO5FOCTHXJQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AHXKKEEXGO77NU77ECH734ISM4QKU6LTSTYPCPCGESZ364RUVI5Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SGJDQ45JCKVG4CVA5FCDLHXV2D5PTXMXIRHJYTN5ETXOVJECUOEA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/74X5SNU2IKUQABDF4IA3GSNK6IZNJNKDPMGTZ7BO7NEDB6AGCW5Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TSUAD3RBD7HV3ZMCCBYEBMJVUVPLZFRXYSE6O2ESVBQ7EXRIJ5KA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H47U4HQWTIWAMWILWSM36OIIW5DMZI4TG2JBGLKPHKKOHAAELDIA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TJTYE5TQ2IN4CIPJE5CPMBXLWPP5QQ5JG7XILS5SAMX3HYDNWABQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OBH74F5UK6OYK3ULESQHSTY4J6HVFJRDHBVO4A2AZ3SJQ4L5RDMA/main.js"
        ]
    },
    "operations": {
        "GetTelemetryEvaluationStatus": {
            "http": {
                "requestUri": "/GetTelemetryEvaluationStatus",
                "responseCode": 200
            },
            "output": {
                "type": "structure",
                "members": {
                    "Status": {},
                    "FailureReason": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/E2OSLOVW34HIDLTODGZSWX4UKDKGGDAV4VUTR5FKASQ6AJ43MRVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BRZZ7YVN4RE3ONV3ZVNXSV3YQ74M7JONTVPB66M6CNG3ZCLBH6UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5HDMLK2AU7TJ5BA2IW2HQZC3X46JQKVXYQ2TNGCNNMEZ7GVJITA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJVC7O5LUER7FKJQOBAV47VJRAXCBWQWYKBLZQA4FIU4EO5MABJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AXDDUDP64L4RKQSD3TMWVXOZRF2MIONOZMY6C2YGQBGRU4T4SHUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGLAJPUJ2RU45WQQ4NXWW2L2VKOPUFXZDCTQGRFSERLFC6MDQCZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2GSNTQBTMQOWC5UESDSK4JDIWN57ZDJSBER6QXPTWMU3IMFZUTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MOIF4KFBWJMMGQ3QGFINW3BOJOTB36ZEVI26UK2RHQEJDJ5JEKXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7GQCYY4OBZ3JCTVXKFOBDQWADV4MQKL6GBWK33WANGJMBOGR4XA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5JXFKE2LLGDIQCJF2EKOLMR3RTHU7VEZGJWENTA7VUHSN3VSAZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTRPOXHJW7ZG237Q7QGEBUHCUMQHBWS3YM63OI5TNR6WHC43E54A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AOZG47NJCG3EF2NT5YDEQN5ZEBDTQNTJCFGGCWKKROG33V27DX5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKFNZZW5PHFCEHSXUR56JVCTTQFPMI27OGH4FV6P37OIVPNSL4GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HORVTJ24N6OCXMBPPP3ICQRONFF5ZIEH73HIUMCVTVEE7Y5X233Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRFL2NNVGM3HSLD2RLEDXWGC24WEARWR55FCM4U6X7WEGTFC7ZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DADXLEVBHRORQTIIAU2UGQ4DBWMVPFI22UZDYZ3MQK2AAQ6A4WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MK3MC25KLANR54XOYQMLYCQRGSHVY6CUQFEYWYBHUUO5FOCTHXJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHXKKEEXGO77NU77ECH734ISM4QKU6LTSTYPCPCGESZ364RUVI5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SGJDQ45JCKVG4CVA5FCDLHXV2D5PTXMXIRHJYTN5ETXOVJECUOEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74X5SNU2IKUQABDF4IA3GSNK6IZNJNKDPMGTZ7BO7NEDB6AGCW5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSUAD3RBD7HV3ZMCCBYEBMJVUVPLZFRXYSE6O2ESVBQ7EXRIJ5KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H47U4HQWTIWAMWILWSM36OIIW5DMZI4TG2JBGLKPHKKOHAAELDIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJTYE5TQ2IN4CIPJE5CPMBXLWPP5QQ5JG7XILS5SAMX3HYDNWABQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OBH74F5UK6OYK3ULESQHSTY4J6HVFJRDHBVO4A2AZ3SJQ4L5RDMA/main.js"
            ]
        },
        "GetTelemetryEvaluationStatusForOrganization": {
            "http": {
                "requestUri": "/GetTelemetryEvaluationStatusForOrganization",
                "responseCode": 200
            },
            "output": {
                "type": "structure",
                "members": {
                    "Status": {},
                    "FailureReason": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/E2OSLOVW34HIDLTODGZSWX4UKDKGGDAV4VUTR5FKASQ6AJ43MRVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BRZZ7YVN4RE3ONV3ZVNXSV3YQ74M7JONTVPB66M6CNG3ZCLBH6UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5HDMLK2AU7TJ5BA2IW2HQZC3X46JQKVXYQ2TNGCNNMEZ7GVJITA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJVC7O5LUER7FKJQOBAV47VJRAXCBWQWYKBLZQA4FIU4EO5MABJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AXDDUDP64L4RKQSD3TMWVXOZRF2MIONOZMY6C2YGQBGRU4T4SHUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGLAJPUJ2RU45WQQ4NXWW2L2VKOPUFXZDCTQGRFSERLFC6MDQCZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2GSNTQBTMQOWC5UESDSK4JDIWN57ZDJSBER6QXPTWMU3IMFZUTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MOIF4KFBWJMMGQ3QGFINW3BOJOTB36ZEVI26UK2RHQEJDJ5JEKXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7GQCYY4OBZ3JCTVXKFOBDQWADV4MQKL6GBWK33WANGJMBOGR4XA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5JXFKE2LLGDIQCJF2EKOLMR3RTHU7VEZGJWENTA7VUHSN3VSAZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTRPOXHJW7ZG237Q7QGEBUHCUMQHBWS3YM63OI5TNR6WHC43E54A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AOZG47NJCG3EF2NT5YDEQN5ZEBDTQNTJCFGGCWKKROG33V27DX5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKFNZZW5PHFCEHSXUR56JVCTTQFPMI27OGH4FV6P37OIVPNSL4GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HORVTJ24N6OCXMBPPP3ICQRONFF5ZIEH73HIUMCVTVEE7Y5X233Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRFL2NNVGM3HSLD2RLEDXWGC24WEARWR55FCM4U6X7WEGTFC7ZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DADXLEVBHRORQTIIAU2UGQ4DBWMVPFI22UZDYZ3MQK2AAQ6A4WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MK3MC25KLANR54XOYQMLYCQRGSHVY6CUQFEYWYBHUUO5FOCTHXJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHXKKEEXGO77NU77ECH734ISM4QKU6LTSTYPCPCGESZ364RUVI5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SGJDQ45JCKVG4CVA5FCDLHXV2D5PTXMXIRHJYTN5ETXOVJECUOEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74X5SNU2IKUQABDF4IA3GSNK6IZNJNKDPMGTZ7BO7NEDB6AGCW5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSUAD3RBD7HV3ZMCCBYEBMJVUVPLZFRXYSE6O2ESVBQ7EXRIJ5KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H47U4HQWTIWAMWILWSM36OIIW5DMZI4TG2JBGLKPHKKOHAAELDIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJTYE5TQ2IN4CIPJE5CPMBXLWPP5QQ5JG7XILS5SAMX3HYDNWABQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OBH74F5UK6OYK3ULESQHSTY4J6HVFJRDHBVO4A2AZ3SJQ4L5RDMA/main.js"
            ]
        },
        "ListResourceTelemetry": {
            "http": {
                "requestUri": "/ListResourceTelemetry",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ResourceIdentifierPrefix": {},
                    "ResourceTypes": {
                        "shape": "S7"
                    },
                    "TelemetryConfigurationState": {
                        "shape": "S9"
                    },
                    "ResourceTags": {
                        "shape": "Sc"
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "TelemetryConfigurations": {
                        "shape": "Si"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/E2OSLOVW34HIDLTODGZSWX4UKDKGGDAV4VUTR5FKASQ6AJ43MRVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BRZZ7YVN4RE3ONV3ZVNXSV3YQ74M7JONTVPB66M6CNG3ZCLBH6UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5HDMLK2AU7TJ5BA2IW2HQZC3X46JQKVXYQ2TNGCNNMEZ7GVJITA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJVC7O5LUER7FKJQOBAV47VJRAXCBWQWYKBLZQA4FIU4EO5MABJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AXDDUDP64L4RKQSD3TMWVXOZRF2MIONOZMY6C2YGQBGRU4T4SHUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGLAJPUJ2RU45WQQ4NXWW2L2VKOPUFXZDCTQGRFSERLFC6MDQCZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2GSNTQBTMQOWC5UESDSK4JDIWN57ZDJSBER6QXPTWMU3IMFZUTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MOIF4KFBWJMMGQ3QGFINW3BOJOTB36ZEVI26UK2RHQEJDJ5JEKXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7GQCYY4OBZ3JCTVXKFOBDQWADV4MQKL6GBWK33WANGJMBOGR4XA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5JXFKE2LLGDIQCJF2EKOLMR3RTHU7VEZGJWENTA7VUHSN3VSAZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTRPOXHJW7ZG237Q7QGEBUHCUMQHBWS3YM63OI5TNR6WHC43E54A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AOZG47NJCG3EF2NT5YDEQN5ZEBDTQNTJCFGGCWKKROG33V27DX5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKFNZZW5PHFCEHSXUR56JVCTTQFPMI27OGH4FV6P37OIVPNSL4GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HORVTJ24N6OCXMBPPP3ICQRONFF5ZIEH73HIUMCVTVEE7Y5X233Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRFL2NNVGM3HSLD2RLEDXWGC24WEARWR55FCM4U6X7WEGTFC7ZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DADXLEVBHRORQTIIAU2UGQ4DBWMVPFI22UZDYZ3MQK2AAQ6A4WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MK3MC25KLANR54XOYQMLYCQRGSHVY6CUQFEYWYBHUUO5FOCTHXJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHXKKEEXGO77NU77ECH734ISM4QKU6LTSTYPCPCGESZ364RUVI5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SGJDQ45JCKVG4CVA5FCDLHXV2D5PTXMXIRHJYTN5ETXOVJECUOEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74X5SNU2IKUQABDF4IA3GSNK6IZNJNKDPMGTZ7BO7NEDB6AGCW5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSUAD3RBD7HV3ZMCCBYEBMJVUVPLZFRXYSE6O2ESVBQ7EXRIJ5KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H47U4HQWTIWAMWILWSM36OIIW5DMZI4TG2JBGLKPHKKOHAAELDIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJTYE5TQ2IN4CIPJE5CPMBXLWPP5QQ5JG7XILS5SAMX3HYDNWABQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OBH74F5UK6OYK3ULESQHSTY4J6HVFJRDHBVO4A2AZ3SJQ4L5RDMA/main.js"
            ]
        },
        "ListResourceTelemetryForOrganization": {
            "http": {
                "requestUri": "/ListResourceTelemetryForOrganization",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "AccountIdentifiers": {
                        "type": "list",
                        "member": {}
                    },
                    "ResourceIdentifierPrefix": {},
                    "ResourceTypes": {
                        "shape": "S7"
                    },
                    "TelemetryConfigurationState": {
                        "shape": "S9"
                    },
                    "ResourceTags": {
                        "shape": "Sc"
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "TelemetryConfigurations": {
                        "shape": "Si"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/E2OSLOVW34HIDLTODGZSWX4UKDKGGDAV4VUTR5FKASQ6AJ43MRVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BRZZ7YVN4RE3ONV3ZVNXSV3YQ74M7JONTVPB66M6CNG3ZCLBH6UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5HDMLK2AU7TJ5BA2IW2HQZC3X46JQKVXYQ2TNGCNNMEZ7GVJITA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJVC7O5LUER7FKJQOBAV47VJRAXCBWQWYKBLZQA4FIU4EO5MABJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AXDDUDP64L4RKQSD3TMWVXOZRF2MIONOZMY6C2YGQBGRU4T4SHUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGLAJPUJ2RU45WQQ4NXWW2L2VKOPUFXZDCTQGRFSERLFC6MDQCZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2GSNTQBTMQOWC5UESDSK4JDIWN57ZDJSBER6QXPTWMU3IMFZUTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MOIF4KFBWJMMGQ3QGFINW3BOJOTB36ZEVI26UK2RHQEJDJ5JEKXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7GQCYY4OBZ3JCTVXKFOBDQWADV4MQKL6GBWK33WANGJMBOGR4XA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5JXFKE2LLGDIQCJF2EKOLMR3RTHU7VEZGJWENTA7VUHSN3VSAZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTRPOXHJW7ZG237Q7QGEBUHCUMQHBWS3YM63OI5TNR6WHC43E54A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AOZG47NJCG3EF2NT5YDEQN5ZEBDTQNTJCFGGCWKKROG33V27DX5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKFNZZW5PHFCEHSXUR56JVCTTQFPMI27OGH4FV6P37OIVPNSL4GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HORVTJ24N6OCXMBPPP3ICQRONFF5ZIEH73HIUMCVTVEE7Y5X233Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRFL2NNVGM3HSLD2RLEDXWGC24WEARWR55FCM4U6X7WEGTFC7ZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DADXLEVBHRORQTIIAU2UGQ4DBWMVPFI22UZDYZ3MQK2AAQ6A4WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MK3MC25KLANR54XOYQMLYCQRGSHVY6CUQFEYWYBHUUO5FOCTHXJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHXKKEEXGO77NU77ECH734ISM4QKU6LTSTYPCPCGESZ364RUVI5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SGJDQ45JCKVG4CVA5FCDLHXV2D5PTXMXIRHJYTN5ETXOVJECUOEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74X5SNU2IKUQABDF4IA3GSNK6IZNJNKDPMGTZ7BO7NEDB6AGCW5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSUAD3RBD7HV3ZMCCBYEBMJVUVPLZFRXYSE6O2ESVBQ7EXRIJ5KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H47U4HQWTIWAMWILWSM36OIIW5DMZI4TG2JBGLKPHKKOHAAELDIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJTYE5TQ2IN4CIPJE5CPMBXLWPP5QQ5JG7XILS5SAMX3HYDNWABQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OBH74F5UK6OYK3ULESQHSTY4J6HVFJRDHBVO4A2AZ3SJQ4L5RDMA/main.js"
            ]
        },
        "StartTelemetryEvaluation": {
            "http": {
                "requestUri": "/StartTelemetryEvaluation",
                "responseCode": 200
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/E2OSLOVW34HIDLTODGZSWX4UKDKGGDAV4VUTR5FKASQ6AJ43MRVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BRZZ7YVN4RE3ONV3ZVNXSV3YQ74M7JONTVPB66M6CNG3ZCLBH6UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5HDMLK2AU7TJ5BA2IW2HQZC3X46JQKVXYQ2TNGCNNMEZ7GVJITA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJVC7O5LUER7FKJQOBAV47VJRAXCBWQWYKBLZQA4FIU4EO5MABJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AXDDUDP64L4RKQSD3TMWVXOZRF2MIONOZMY6C2YGQBGRU4T4SHUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGLAJPUJ2RU45WQQ4NXWW2L2VKOPUFXZDCTQGRFSERLFC6MDQCZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2GSNTQBTMQOWC5UESDSK4JDIWN57ZDJSBER6QXPTWMU3IMFZUTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MOIF4KFBWJMMGQ3QGFINW3BOJOTB36ZEVI26UK2RHQEJDJ5JEKXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7GQCYY4OBZ3JCTVXKFOBDQWADV4MQKL6GBWK33WANGJMBOGR4XA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5JXFKE2LLGDIQCJF2EKOLMR3RTHU7VEZGJWENTA7VUHSN3VSAZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTRPOXHJW7ZG237Q7QGEBUHCUMQHBWS3YM63OI5TNR6WHC43E54A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AOZG47NJCG3EF2NT5YDEQN5ZEBDTQNTJCFGGCWKKROG33V27DX5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKFNZZW5PHFCEHSXUR56JVCTTQFPMI27OGH4FV6P37OIVPNSL4GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HORVTJ24N6OCXMBPPP3ICQRONFF5ZIEH73HIUMCVTVEE7Y5X233Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRFL2NNVGM3HSLD2RLEDXWGC24WEARWR55FCM4U6X7WEGTFC7ZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DADXLEVBHRORQTIIAU2UGQ4DBWMVPFI22UZDYZ3MQK2AAQ6A4WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MK3MC25KLANR54XOYQMLYCQRGSHVY6CUQFEYWYBHUUO5FOCTHXJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHXKKEEXGO77NU77ECH734ISM4QKU6LTSTYPCPCGESZ364RUVI5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SGJDQ45JCKVG4CVA5FCDLHXV2D5PTXMXIRHJYTN5ETXOVJECUOEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74X5SNU2IKUQABDF4IA3GSNK6IZNJNKDPMGTZ7BO7NEDB6AGCW5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSUAD3RBD7HV3ZMCCBYEBMJVUVPLZFRXYSE6O2ESVBQ7EXRIJ5KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H47U4HQWTIWAMWILWSM36OIIW5DMZI4TG2JBGLKPHKKOHAAELDIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJTYE5TQ2IN4CIPJE5CPMBXLWPP5QQ5JG7XILS5SAMX3HYDNWABQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OBH74F5UK6OYK3ULESQHSTY4J6HVFJRDHBVO4A2AZ3SJQ4L5RDMA/main.js"
            ]
        },
        "StartTelemetryEvaluationForOrganization": {
            "http": {
                "requestUri": "/StartTelemetryEvaluationForOrganization",
                "responseCode": 200
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/E2OSLOVW34HIDLTODGZSWX4UKDKGGDAV4VUTR5FKASQ6AJ43MRVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BRZZ7YVN4RE3ONV3ZVNXSV3YQ74M7JONTVPB66M6CNG3ZCLBH6UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5HDMLK2AU7TJ5BA2IW2HQZC3X46JQKVXYQ2TNGCNNMEZ7GVJITA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJVC7O5LUER7FKJQOBAV47VJRAXCBWQWYKBLZQA4FIU4EO5MABJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AXDDUDP64L4RKQSD3TMWVXOZRF2MIONOZMY6C2YGQBGRU4T4SHUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGLAJPUJ2RU45WQQ4NXWW2L2VKOPUFXZDCTQGRFSERLFC6MDQCZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2GSNTQBTMQOWC5UESDSK4JDIWN57ZDJSBER6QXPTWMU3IMFZUTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MOIF4KFBWJMMGQ3QGFINW3BOJOTB36ZEVI26UK2RHQEJDJ5JEKXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7GQCYY4OBZ3JCTVXKFOBDQWADV4MQKL6GBWK33WANGJMBOGR4XA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5JXFKE2LLGDIQCJF2EKOLMR3RTHU7VEZGJWENTA7VUHSN3VSAZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTRPOXHJW7ZG237Q7QGEBUHCUMQHBWS3YM63OI5TNR6WHC43E54A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AOZG47NJCG3EF2NT5YDEQN5ZEBDTQNTJCFGGCWKKROG33V27DX5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKFNZZW5PHFCEHSXUR56JVCTTQFPMI27OGH4FV6P37OIVPNSL4GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HORVTJ24N6OCXMBPPP3ICQRONFF5ZIEH73HIUMCVTVEE7Y5X233Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRFL2NNVGM3HSLD2RLEDXWGC24WEARWR55FCM4U6X7WEGTFC7ZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DADXLEVBHRORQTIIAU2UGQ4DBWMVPFI22UZDYZ3MQK2AAQ6A4WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MK3MC25KLANR54XOYQMLYCQRGSHVY6CUQFEYWYBHUUO5FOCTHXJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHXKKEEXGO77NU77ECH734ISM4QKU6LTSTYPCPCGESZ364RUVI5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SGJDQ45JCKVG4CVA5FCDLHXV2D5PTXMXIRHJYTN5ETXOVJECUOEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74X5SNU2IKUQABDF4IA3GSNK6IZNJNKDPMGTZ7BO7NEDB6AGCW5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSUAD3RBD7HV3ZMCCBYEBMJVUVPLZFRXYSE6O2ESVBQ7EXRIJ5KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H47U4HQWTIWAMWILWSM36OIIW5DMZI4TG2JBGLKPHKKOHAAELDIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJTYE5TQ2IN4CIPJE5CPMBXLWPP5QQ5JG7XILS5SAMX3HYDNWABQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OBH74F5UK6OYK3ULESQHSTY4J6HVFJRDHBVO4A2AZ3SJQ4L5RDMA/main.js"
            ]
        },
        "StopTelemetryEvaluation": {
            "http": {
                "requestUri": "/StopTelemetryEvaluation",
                "responseCode": 200
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/E2OSLOVW34HIDLTODGZSWX4UKDKGGDAV4VUTR5FKASQ6AJ43MRVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BRZZ7YVN4RE3ONV3ZVNXSV3YQ74M7JONTVPB66M6CNG3ZCLBH6UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5HDMLK2AU7TJ5BA2IW2HQZC3X46JQKVXYQ2TNGCNNMEZ7GVJITA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJVC7O5LUER7FKJQOBAV47VJRAXCBWQWYKBLZQA4FIU4EO5MABJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AXDDUDP64L4RKQSD3TMWVXOZRF2MIONOZMY6C2YGQBGRU4T4SHUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGLAJPUJ2RU45WQQ4NXWW2L2VKOPUFXZDCTQGRFSERLFC6MDQCZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2GSNTQBTMQOWC5UESDSK4JDIWN57ZDJSBER6QXPTWMU3IMFZUTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MOIF4KFBWJMMGQ3QGFINW3BOJOTB36ZEVI26UK2RHQEJDJ5JEKXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7GQCYY4OBZ3JCTVXKFOBDQWADV4MQKL6GBWK33WANGJMBOGR4XA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5JXFKE2LLGDIQCJF2EKOLMR3RTHU7VEZGJWENTA7VUHSN3VSAZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTRPOXHJW7ZG237Q7QGEBUHCUMQHBWS3YM63OI5TNR6WHC43E54A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AOZG47NJCG3EF2NT5YDEQN5ZEBDTQNTJCFGGCWKKROG33V27DX5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKFNZZW5PHFCEHSXUR56JVCTTQFPMI27OGH4FV6P37OIVPNSL4GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HORVTJ24N6OCXMBPPP3ICQRONFF5ZIEH73HIUMCVTVEE7Y5X233Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRFL2NNVGM3HSLD2RLEDXWGC24WEARWR55FCM4U6X7WEGTFC7ZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DADXLEVBHRORQTIIAU2UGQ4DBWMVPFI22UZDYZ3MQK2AAQ6A4WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MK3MC25KLANR54XOYQMLYCQRGSHVY6CUQFEYWYBHUUO5FOCTHXJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHXKKEEXGO77NU77ECH734ISM4QKU6LTSTYPCPCGESZ364RUVI5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SGJDQ45JCKVG4CVA5FCDLHXV2D5PTXMXIRHJYTN5ETXOVJECUOEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74X5SNU2IKUQABDF4IA3GSNK6IZNJNKDPMGTZ7BO7NEDB6AGCW5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSUAD3RBD7HV3ZMCCBYEBMJVUVPLZFRXYSE6O2ESVBQ7EXRIJ5KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H47U4HQWTIWAMWILWSM36OIIW5DMZI4TG2JBGLKPHKKOHAAELDIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJTYE5TQ2IN4CIPJE5CPMBXLWPP5QQ5JG7XILS5SAMX3HYDNWABQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OBH74F5UK6OYK3ULESQHSTY4J6HVFJRDHBVO4A2AZ3SJQ4L5RDMA/main.js"
            ]
        },
        "StopTelemetryEvaluationForOrganization": {
            "http": {
                "requestUri": "/StopTelemetryEvaluationForOrganization",
                "responseCode": 200
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/E2OSLOVW34HIDLTODGZSWX4UKDKGGDAV4VUTR5FKASQ6AJ43MRVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BRZZ7YVN4RE3ONV3ZVNXSV3YQ74M7JONTVPB66M6CNG3ZCLBH6UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5HDMLK2AU7TJ5BA2IW2HQZC3X46JQKVXYQ2TNGCNNMEZ7GVJITA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJVC7O5LUER7FKJQOBAV47VJRAXCBWQWYKBLZQA4FIU4EO5MABJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AXDDUDP64L4RKQSD3TMWVXOZRF2MIONOZMY6C2YGQBGRU4T4SHUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGLAJPUJ2RU45WQQ4NXWW2L2VKOPUFXZDCTQGRFSERLFC6MDQCZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2GSNTQBTMQOWC5UESDSK4JDIWN57ZDJSBER6QXPTWMU3IMFZUTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MOIF4KFBWJMMGQ3QGFINW3BOJOTB36ZEVI26UK2RHQEJDJ5JEKXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7GQCYY4OBZ3JCTVXKFOBDQWADV4MQKL6GBWK33WANGJMBOGR4XA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5JXFKE2LLGDIQCJF2EKOLMR3RTHU7VEZGJWENTA7VUHSN3VSAZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTRPOXHJW7ZG237Q7QGEBUHCUMQHBWS3YM63OI5TNR6WHC43E54A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AOZG47NJCG3EF2NT5YDEQN5ZEBDTQNTJCFGGCWKKROG33V27DX5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKFNZZW5PHFCEHSXUR56JVCTTQFPMI27OGH4FV6P37OIVPNSL4GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HORVTJ24N6OCXMBPPP3ICQRONFF5ZIEH73HIUMCVTVEE7Y5X233Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRFL2NNVGM3HSLD2RLEDXWGC24WEARWR55FCM4U6X7WEGTFC7ZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DADXLEVBHRORQTIIAU2UGQ4DBWMVPFI22UZDYZ3MQK2AAQ6A4WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MK3MC25KLANR54XOYQMLYCQRGSHVY6CUQFEYWYBHUUO5FOCTHXJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHXKKEEXGO77NU77ECH734ISM4QKU6LTSTYPCPCGESZ364RUVI5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SGJDQ45JCKVG4CVA5FCDLHXV2D5PTXMXIRHJYTN5ETXOVJECUOEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74X5SNU2IKUQABDF4IA3GSNK6IZNJNKDPMGTZ7BO7NEDB6AGCW5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSUAD3RBD7HV3ZMCCBYEBMJVUVPLZFRXYSE6O2ESVBQ7EXRIJ5KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H47U4HQWTIWAMWILWSM36OIIW5DMZI4TG2JBGLKPHKKOHAAELDIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJTYE5TQ2IN4CIPJE5CPMBXLWPP5QQ5JG7XILS5SAMX3HYDNWABQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OBH74F5UK6OYK3ULESQHSTY4J6HVFJRDHBVO4A2AZ3SJQ4L5RDMA/main.js"
            ]
        },
        "CreateCentralizationRule": {
            "http": {
                "requestUri": "/CreateCentralizationRule",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "RuleName",
                    "Rule"
                ],
                "members": {
                    "RuleName": {},
                    "Rule": {
                        "shape": "S3"
                    },
                    "Tags": {
                        "shape": "Sd"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "RuleArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DADXLEVBHRORQTIIAU2UGQ4DBWMVPFI22UZDYZ3MQK2AAQ6A4WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MK3MC25KLANR54XOYQMLYCQRGSHVY6CUQFEYWYBHUUO5FOCTHXJQ/main.js"
            ]
        },
        "CreateCentralizationRuleForOrganization": {
            "http": {
                "requestUri": "/CreateCentralizationRuleForOrganization",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "RuleName",
                    "Rule"
                ],
                "members": {
                    "RuleName": {},
                    "Rule": {
                        "shape": "S3"
                    },
                    "Tags": {
                        "shape": "Sd"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "RuleArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DADXLEVBHRORQTIIAU2UGQ4DBWMVPFI22UZDYZ3MQK2AAQ6A4WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MK3MC25KLANR54XOYQMLYCQRGSHVY6CUQFEYWYBHUUO5FOCTHXJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHXKKEEXGO77NU77ECH734ISM4QKU6LTSTYPCPCGESZ364RUVI5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SGJDQ45JCKVG4CVA5FCDLHXV2D5PTXMXIRHJYTN5ETXOVJECUOEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74X5SNU2IKUQABDF4IA3GSNK6IZNJNKDPMGTZ7BO7NEDB6AGCW5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSUAD3RBD7HV3ZMCCBYEBMJVUVPLZFRXYSE6O2ESVBQ7EXRIJ5KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H47U4HQWTIWAMWILWSM36OIIW5DMZI4TG2JBGLKPHKKOHAAELDIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJTYE5TQ2IN4CIPJE5CPMBXLWPP5QQ5JG7XILS5SAMX3HYDNWABQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OBH74F5UK6OYK3ULESQHSTY4J6HVFJRDHBVO4A2AZ3SJQ4L5RDMA/main.js"
            ]
        },
        "CreateTelemetryRule": {
            "http": {
                "requestUri": "/CreateTelemetryRule",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "RuleName",
                    "Rule"
                ],
                "members": {
                    "RuleName": {},
                    "Rule": {
                        "shape": "Sl"
                    },
                    "Tags": {
                        "shape": "Sd"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "RuleArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DADXLEVBHRORQTIIAU2UGQ4DBWMVPFI22UZDYZ3MQK2AAQ6A4WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MK3MC25KLANR54XOYQMLYCQRGSHVY6CUQFEYWYBHUUO5FOCTHXJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHXKKEEXGO77NU77ECH734ISM4QKU6LTSTYPCPCGESZ364RUVI5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SGJDQ45JCKVG4CVA5FCDLHXV2D5PTXMXIRHJYTN5ETXOVJECUOEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74X5SNU2IKUQABDF4IA3GSNK6IZNJNKDPMGTZ7BO7NEDB6AGCW5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSUAD3RBD7HV3ZMCCBYEBMJVUVPLZFRXYSE6O2ESVBQ7EXRIJ5KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H47U4HQWTIWAMWILWSM36OIIW5DMZI4TG2JBGLKPHKKOHAAELDIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJTYE5TQ2IN4CIPJE5CPMBXLWPP5QQ5JG7XILS5SAMX3HYDNWABQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OBH74F5UK6OYK3ULESQHSTY4J6HVFJRDHBVO4A2AZ3SJQ4L5RDMA/main.js"
            ]
        },
        "CreateTelemetryRuleForOrganization": {
            "http": {
                "requestUri": "/CreateTelemetryRuleForOrganization",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "RuleName",
                    "Rule"
                ],
                "members": {
                    "RuleName": {},
                    "Rule": {
                        "shape": "Sl"
                    },
                    "Tags": {
                        "shape": "Sd"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "RuleArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DADXLEVBHRORQTIIAU2UGQ4DBWMVPFI22UZDYZ3MQK2AAQ6A4WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MK3MC25KLANR54XOYQMLYCQRGSHVY6CUQFEYWYBHUUO5FOCTHXJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHXKKEEXGO77NU77ECH734ISM4QKU6LTSTYPCPCGESZ364RUVI5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SGJDQ45JCKVG4CVA5FCDLHXV2D5PTXMXIRHJYTN5ETXOVJECUOEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74X5SNU2IKUQABDF4IA3GSNK6IZNJNKDPMGTZ7BO7NEDB6AGCW5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSUAD3RBD7HV3ZMCCBYEBMJVUVPLZFRXYSE6O2ESVBQ7EXRIJ5KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H47U4HQWTIWAMWILWSM36OIIW5DMZI4TG2JBGLKPHKKOHAAELDIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJTYE5TQ2IN4CIPJE5CPMBXLWPP5QQ5JG7XILS5SAMX3HYDNWABQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OBH74F5UK6OYK3ULESQHSTY4J6HVFJRDHBVO4A2AZ3SJQ4L5RDMA/main.js"
            ]
        },
        "DeleteCentralizationRule": {
            "http": {
                "requestUri": "/DeleteCentralizationRule",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "RuleName"
                ],
                "members": {
                    "RuleName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "RuleArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DADXLEVBHRORQTIIAU2UGQ4DBWMVPFI22UZDYZ3MQK2AAQ6A4WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MK3MC25KLANR54XOYQMLYCQRGSHVY6CUQFEYWYBHUUO5FOCTHXJQ/main.js"
            ]
        },
        "DeleteCentralizationRuleForOrganization": {
            "http": {
                "requestUri": "/DeleteCentralizationRuleForOrganization",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "RuleName"
                ],
                "members": {
                    "RuleName": {},
                    "RuleIdentifier": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "RuleArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DADXLEVBHRORQTIIAU2UGQ4DBWMVPFI22UZDYZ3MQK2AAQ6A4WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MK3MC25KLANR54XOYQMLYCQRGSHVY6CUQFEYWYBHUUO5FOCTHXJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHXKKEEXGO77NU77ECH734ISM4QKU6LTSTYPCPCGESZ364RUVI5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SGJDQ45JCKVG4CVA5FCDLHXV2D5PTXMXIRHJYTN5ETXOVJECUOEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74X5SNU2IKUQABDF4IA3GSNK6IZNJNKDPMGTZ7BO7NEDB6AGCW5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSUAD3RBD7HV3ZMCCBYEBMJVUVPLZFRXYSE6O2ESVBQ7EXRIJ5KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H47U4HQWTIWAMWILWSM36OIIW5DMZI4TG2JBGLKPHKKOHAAELDIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJTYE5TQ2IN4CIPJE5CPMBXLWPP5QQ5JG7XILS5SAMX3HYDNWABQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OBH74F5UK6OYK3ULESQHSTY4J6HVFJRDHBVO4A2AZ3SJQ4L5RDMA/main.js"
            ]
        },
        "DeleteTelemetryRule": {
            "http": {
                "requestUri": "/DeleteTelemetryRule",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "RuleName"
                ],
                "members": {
                    "RuleName": {},
                    "RuleIdentifier": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "RuleArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DADXLEVBHRORQTIIAU2UGQ4DBWMVPFI22UZDYZ3MQK2AAQ6A4WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MK3MC25KLANR54XOYQMLYCQRGSHVY6CUQFEYWYBHUUO5FOCTHXJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHXKKEEXGO77NU77ECH734ISM4QKU6LTSTYPCPCGESZ364RUVI5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SGJDQ45JCKVG4CVA5FCDLHXV2D5PTXMXIRHJYTN5ETXOVJECUOEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74X5SNU2IKUQABDF4IA3GSNK6IZNJNKDPMGTZ7BO7NEDB6AGCW5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSUAD3RBD7HV3ZMCCBYEBMJVUVPLZFRXYSE6O2ESVBQ7EXRIJ5KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H47U4HQWTIWAMWILWSM36OIIW5DMZI4TG2JBGLKPHKKOHAAELDIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJTYE5TQ2IN4CIPJE5CPMBXLWPP5QQ5JG7XILS5SAMX3HYDNWABQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OBH74F5UK6OYK3ULESQHSTY4J6HVFJRDHBVO4A2AZ3SJQ4L5RDMA/main.js"
            ]
        },
        "DeleteTelemetryRuleForOrganization": {
            "http": {
                "requestUri": "/DeleteTelemetryRuleForOrganization",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "RuleName"
                ],
                "members": {
                    "RuleName": {},
                    "RuleIdentifier": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "RuleArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DADXLEVBHRORQTIIAU2UGQ4DBWMVPFI22UZDYZ3MQK2AAQ6A4WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MK3MC25KLANR54XOYQMLYCQRGSHVY6CUQFEYWYBHUUO5FOCTHXJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHXKKEEXGO77NU77ECH734ISM4QKU6LTSTYPCPCGESZ364RUVI5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SGJDQ45JCKVG4CVA5FCDLHXV2D5PTXMXIRHJYTN5ETXOVJECUOEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74X5SNU2IKUQABDF4IA3GSNK6IZNJNKDPMGTZ7BO7NEDB6AGCW5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSUAD3RBD7HV3ZMCCBYEBMJVUVPLZFRXYSE6O2ESVBQ7EXRIJ5KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H47U4HQWTIWAMWILWSM36OIIW5DMZI4TG2JBGLKPHKKOHAAELDIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJTYE5TQ2IN4CIPJE5CPMBXLWPP5QQ5JG7XILS5SAMX3HYDNWABQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OBH74F5UK6OYK3ULESQHSTY4J6HVFJRDHBVO4A2AZ3SJQ4L5RDMA/main.js"
            ]
        },
        "GetAccessStatusForOrganization": {
            "http": {
                "requestUri": "/GetAccessStatusForOrganization",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "OrgId"
                ],
                "members": {
                    "OrgId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AccessStatus": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DADXLEVBHRORQTIIAU2UGQ4DBWMVPFI22UZDYZ3MQK2AAQ6A4WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MK3MC25KLANR54XOYQMLYCQRGSHVY6CUQFEYWYBHUUO5FOCTHXJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHXKKEEXGO77NU77ECH734ISM4QKU6LTSTYPCPCGESZ364RUVI5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SGJDQ45JCKVG4CVA5FCDLHXV2D5PTXMXIRHJYTN5ETXOVJECUOEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74X5SNU2IKUQABDF4IA3GSNK6IZNJNKDPMGTZ7BO7NEDB6AGCW5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSUAD3RBD7HV3ZMCCBYEBMJVUVPLZFRXYSE6O2ESVBQ7EXRIJ5KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H47U4HQWTIWAMWILWSM36OIIW5DMZI4TG2JBGLKPHKKOHAAELDIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJTYE5TQ2IN4CIPJE5CPMBXLWPP5QQ5JG7XILS5SAMX3HYDNWABQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OBH74F5UK6OYK3ULESQHSTY4J6HVFJRDHBVO4A2AZ3SJQ4L5RDMA/main.js"
            ]
        },
        "GetCentralizationRule": {
            "http": {
                "requestUri": "/GetCentralizationRule",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "RuleName"
                ],
                "members": {
                    "RuleName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "RuleName": {},
                    "RuleArn": {},
                    "CreatorAccountId": {},
                    "CreatedTime": {
                        "type": "long"
                    },
                    "CreatedRegion": {},
                    "DestinationAccountId": {},
                    "DestinationRegion": {},
                    "LastUpdateTimeStamp": {
                        "type": "long"
                    },
                    "RuleHealth": {},
                    "FailureReason": {},
                    "Tags": {
                        "shape": "Sd"
                    },
                    "CentralizationRule": {
                        "shape": "S3"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DADXLEVBHRORQTIIAU2UGQ4DBWMVPFI22UZDYZ3MQK2AAQ6A4WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MK3MC25KLANR54XOYQMLYCQRGSHVY6CUQFEYWYBHUUO5FOCTHXJQ/main.js"
            ]
        },
        "GetCentralizationRuleForOrganization": {
            "http": {
                "requestUri": "/GetCentralizationRuleForOrganization",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "RuleName"
                ],
                "members": {
                    "RuleName": {},
                    "RuleIdentifier": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "RuleName": {},
                    "RuleArn": {},
                    "CreatorAccountId": {},
                    "CreatedTime": {
                        "type": "long"
                    },
                    "CreatedRegion": {},
                    "DestinationAccountId": {},
                    "DestinationRegion": {},
                    "LastUpdateTimeStamp": {
                        "type": "long"
                    },
                    "RuleHealth": {},
                    "FailureReason": {},
                    "Tags": {
                        "shape": "Sd"
                    },
                    "CentralizationRule": {
                        "shape": "S3"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DADXLEVBHRORQTIIAU2UGQ4DBWMVPFI22UZDYZ3MQK2AAQ6A4WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MK3MC25KLANR54XOYQMLYCQRGSHVY6CUQFEYWYBHUUO5FOCTHXJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHXKKEEXGO77NU77ECH734ISM4QKU6LTSTYPCPCGESZ364RUVI5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SGJDQ45JCKVG4CVA5FCDLHXV2D5PTXMXIRHJYTN5ETXOVJECUOEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74X5SNU2IKUQABDF4IA3GSNK6IZNJNKDPMGTZ7BO7NEDB6AGCW5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSUAD3RBD7HV3ZMCCBYEBMJVUVPLZFRXYSE6O2ESVBQ7EXRIJ5KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H47U4HQWTIWAMWILWSM36OIIW5DMZI4TG2JBGLKPHKKOHAAELDIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJTYE5TQ2IN4CIPJE5CPMBXLWPP5QQ5JG7XILS5SAMX3HYDNWABQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OBH74F5UK6OYK3ULESQHSTY4J6HVFJRDHBVO4A2AZ3SJQ4L5RDMA/main.js"
            ]
        },
        "GetDelegatedAdministratorsForOrganization": {
            "http": {
                "requestUri": "/GetDelegatedAdministratorsForOrganization",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "OrgId"
                ],
                "members": {
                    "OrgId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AccountIdentifiers": {
                        "shape": "S1s"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DADXLEVBHRORQTIIAU2UGQ4DBWMVPFI22UZDYZ3MQK2AAQ6A4WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MK3MC25KLANR54XOYQMLYCQRGSHVY6CUQFEYWYBHUUO5FOCTHXJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHXKKEEXGO77NU77ECH734ISM4QKU6LTSTYPCPCGESZ364RUVI5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SGJDQ45JCKVG4CVA5FCDLHXV2D5PTXMXIRHJYTN5ETXOVJECUOEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74X5SNU2IKUQABDF4IA3GSNK6IZNJNKDPMGTZ7BO7NEDB6AGCW5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSUAD3RBD7HV3ZMCCBYEBMJVUVPLZFRXYSE6O2ESVBQ7EXRIJ5KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H47U4HQWTIWAMWILWSM36OIIW5DMZI4TG2JBGLKPHKKOHAAELDIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJTYE5TQ2IN4CIPJE5CPMBXLWPP5QQ5JG7XILS5SAMX3HYDNWABQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OBH74F5UK6OYK3ULESQHSTY4J6HVFJRDHBVO4A2AZ3SJQ4L5RDMA/main.js"
            ]
        },
        "GetIdentityDetailsForOrganization": {
            "http": {
                "requestUri": "/GetIdentityDetailsForOrganization",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "OrgId": {},
                    "OrgUnitId": {},
                    "AccountId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "OrganizationDetails": {
                        "shape": "S1w"
                    },
                    "OrganizationUnitDetails": {
                        "shape": "S1x"
                    },
                    "MemberAccountDetails": {
                        "shape": "S1z"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DADXLEVBHRORQTIIAU2UGQ4DBWMVPFI22UZDYZ3MQK2AAQ6A4WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MK3MC25KLANR54XOYQMLYCQRGSHVY6CUQFEYWYBHUUO5FOCTHXJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHXKKEEXGO77NU77ECH734ISM4QKU6LTSTYPCPCGESZ364RUVI5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SGJDQ45JCKVG4CVA5FCDLHXV2D5PTXMXIRHJYTN5ETXOVJECUOEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74X5SNU2IKUQABDF4IA3GSNK6IZNJNKDPMGTZ7BO7NEDB6AGCW5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSUAD3RBD7HV3ZMCCBYEBMJVUVPLZFRXYSE6O2ESVBQ7EXRIJ5KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H47U4HQWTIWAMWILWSM36OIIW5DMZI4TG2JBGLKPHKKOHAAELDIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJTYE5TQ2IN4CIPJE5CPMBXLWPP5QQ5JG7XILS5SAMX3HYDNWABQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OBH74F5UK6OYK3ULESQHSTY4J6HVFJRDHBVO4A2AZ3SJQ4L5RDMA/main.js"
            ]
        },
        "GetMemberAccountDetails": {
            "http": {
                "requestUri": "/GetMemberAccountDetails",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "AccountId"
                ],
                "members": {
                    "AccountId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "MemberAccountDetails": {
                        "shape": "S1z"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DADXLEVBHRORQTIIAU2UGQ4DBWMVPFI22UZDYZ3MQK2AAQ6A4WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MK3MC25KLANR54XOYQMLYCQRGSHVY6CUQFEYWYBHUUO5FOCTHXJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHXKKEEXGO77NU77ECH734ISM4QKU6LTSTYPCPCGESZ364RUVI5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SGJDQ45JCKVG4CVA5FCDLHXV2D5PTXMXIRHJYTN5ETXOVJECUOEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74X5SNU2IKUQABDF4IA3GSNK6IZNJNKDPMGTZ7BO7NEDB6AGCW5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSUAD3RBD7HV3ZMCCBYEBMJVUVPLZFRXYSE6O2ESVBQ7EXRIJ5KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H47U4HQWTIWAMWILWSM36OIIW5DMZI4TG2JBGLKPHKKOHAAELDIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJTYE5TQ2IN4CIPJE5CPMBXLWPP5QQ5JG7XILS5SAMX3HYDNWABQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OBH74F5UK6OYK3ULESQHSTY4J6HVFJRDHBVO4A2AZ3SJQ4L5RDMA/main.js"
            ]
        },
        "GetOrganizationDetails": {
            "http": {
                "requestUri": "/GetOrganizationDetails",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "OrgId"
                ],
                "members": {
                    "OrgId": {},
                    "IncludeMemberAccounts": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "OrganizationDetails": {
                        "shape": "S1w"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DADXLEVBHRORQTIIAU2UGQ4DBWMVPFI22UZDYZ3MQK2AAQ6A4WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MK3MC25KLANR54XOYQMLYCQRGSHVY6CUQFEYWYBHUUO5FOCTHXJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHXKKEEXGO77NU77ECH734ISM4QKU6LTSTYPCPCGESZ364RUVI5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SGJDQ45JCKVG4CVA5FCDLHXV2D5PTXMXIRHJYTN5ETXOVJECUOEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74X5SNU2IKUQABDF4IA3GSNK6IZNJNKDPMGTZ7BO7NEDB6AGCW5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSUAD3RBD7HV3ZMCCBYEBMJVUVPLZFRXYSE6O2ESVBQ7EXRIJ5KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H47U4HQWTIWAMWILWSM36OIIW5DMZI4TG2JBGLKPHKKOHAAELDIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJTYE5TQ2IN4CIPJE5CPMBXLWPP5QQ5JG7XILS5SAMX3HYDNWABQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OBH74F5UK6OYK3ULESQHSTY4J6HVFJRDHBVO4A2AZ3SJQ4L5RDMA/main.js"
            ]
        },
        "GetOrganizationUnitDetails": {
            "http": {
                "requestUri": "/GetOrganizationUnitDetails",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "OrgId",
                    "OrgUnitId"
                ],
                "members": {
                    "OrgId": {},
                    "OrgUnitId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "OrganizationUnitDetails": {
                        "shape": "S1x"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DADXLEVBHRORQTIIAU2UGQ4DBWMVPFI22UZDYZ3MQK2AAQ6A4WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MK3MC25KLANR54XOYQMLYCQRGSHVY6CUQFEYWYBHUUO5FOCTHXJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHXKKEEXGO77NU77ECH734ISM4QKU6LTSTYPCPCGESZ364RUVI5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SGJDQ45JCKVG4CVA5FCDLHXV2D5PTXMXIRHJYTN5ETXOVJECUOEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74X5SNU2IKUQABDF4IA3GSNK6IZNJNKDPMGTZ7BO7NEDB6AGCW5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSUAD3RBD7HV3ZMCCBYEBMJVUVPLZFRXYSE6O2ESVBQ7EXRIJ5KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H47U4HQWTIWAMWILWSM36OIIW5DMZI4TG2JBGLKPHKKOHAAELDIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJTYE5TQ2IN4CIPJE5CPMBXLWPP5QQ5JG7XILS5SAMX3HYDNWABQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OBH74F5UK6OYK3ULESQHSTY4J6HVFJRDHBVO4A2AZ3SJQ4L5RDMA/main.js"
            ]
        },
        "GetTelemetryEnrichmentStatus": {
            "http": {
                "requestUri": "/GetTelemetryEnrichmentStatus",
                "responseCode": 200
            },
            "output": {
                "type": "structure",
                "members": {
                    "Status": {},
                    "TelemetryTypes": {
                        "shape": "S28"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DADXLEVBHRORQTIIAU2UGQ4DBWMVPFI22UZDYZ3MQK2AAQ6A4WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MK3MC25KLANR54XOYQMLYCQRGSHVY6CUQFEYWYBHUUO5FOCTHXJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHXKKEEXGO77NU77ECH734ISM4QKU6LTSTYPCPCGESZ364RUVI5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SGJDQ45JCKVG4CVA5FCDLHXV2D5PTXMXIRHJYTN5ETXOVJECUOEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74X5SNU2IKUQABDF4IA3GSNK6IZNJNKDPMGTZ7BO7NEDB6AGCW5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSUAD3RBD7HV3ZMCCBYEBMJVUVPLZFRXYSE6O2ESVBQ7EXRIJ5KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H47U4HQWTIWAMWILWSM36OIIW5DMZI4TG2JBGLKPHKKOHAAELDIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJTYE5TQ2IN4CIPJE5CPMBXLWPP5QQ5JG7XILS5SAMX3HYDNWABQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OBH74F5UK6OYK3ULESQHSTY4J6HVFJRDHBVO4A2AZ3SJQ4L5RDMA/main.js"
            ]
        },
        "GetTelemetryRule": {
            "http": {
                "requestUri": "/GetTelemetryRule",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "RuleName"
                ],
                "members": {
                    "RuleName": {},
                    "RuleIdentifier": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "RuleName": {},
                    "RuleArn": {},
                    "CreatedTime": {
                        "type": "long"
                    },
                    "LastUpdateTime": {
                        "type": "long"
                    },
                    "TelemetryRule": {
                        "shape": "Sl"
                    },
                    "Tags": {
                        "shape": "Sd"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DADXLEVBHRORQTIIAU2UGQ4DBWMVPFI22UZDYZ3MQK2AAQ6A4WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MK3MC25KLANR54XOYQMLYCQRGSHVY6CUQFEYWYBHUUO5FOCTHXJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHXKKEEXGO77NU77ECH734ISM4QKU6LTSTYPCPCGESZ364RUVI5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SGJDQ45JCKVG4CVA5FCDLHXV2D5PTXMXIRHJYTN5ETXOVJECUOEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74X5SNU2IKUQABDF4IA3GSNK6IZNJNKDPMGTZ7BO7NEDB6AGCW5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSUAD3RBD7HV3ZMCCBYEBMJVUVPLZFRXYSE6O2ESVBQ7EXRIJ5KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H47U4HQWTIWAMWILWSM36OIIW5DMZI4TG2JBGLKPHKKOHAAELDIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJTYE5TQ2IN4CIPJE5CPMBXLWPP5QQ5JG7XILS5SAMX3HYDNWABQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OBH74F5UK6OYK3ULESQHSTY4J6HVFJRDHBVO4A2AZ3SJQ4L5RDMA/main.js"
            ]
        },
        "GetTelemetryRuleForOrganization": {
            "http": {
                "requestUri": "/GetTelemetryRuleForOrganization",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "RuleName"
                ],
                "members": {
                    "RuleName": {},
                    "RuleIdentifier": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "RuleName": {},
                    "RuleArn": {},
                    "CreatedTime": {
                        "type": "long"
                    },
                    "LastUpdateTime": {
                        "type": "long"
                    },
                    "TelemetryRule": {
                        "shape": "Sl"
                    },
                    "Tags": {
                        "shape": "Sd"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DADXLEVBHRORQTIIAU2UGQ4DBWMVPFI22UZDYZ3MQK2AAQ6A4WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MK3MC25KLANR54XOYQMLYCQRGSHVY6CUQFEYWYBHUUO5FOCTHXJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHXKKEEXGO77NU77ECH734ISM4QKU6LTSTYPCPCGESZ364RUVI5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SGJDQ45JCKVG4CVA5FCDLHXV2D5PTXMXIRHJYTN5ETXOVJECUOEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74X5SNU2IKUQABDF4IA3GSNK6IZNJNKDPMGTZ7BO7NEDB6AGCW5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSUAD3RBD7HV3ZMCCBYEBMJVUVPLZFRXYSE6O2ESVBQ7EXRIJ5KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H47U4HQWTIWAMWILWSM36OIIW5DMZI4TG2JBGLKPHKKOHAAELDIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJTYE5TQ2IN4CIPJE5CPMBXLWPP5QQ5JG7XILS5SAMX3HYDNWABQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OBH74F5UK6OYK3ULESQHSTY4J6HVFJRDHBVO4A2AZ3SJQ4L5RDMA/main.js"
            ]
        },
        "ListCentralizationRules": {
            "http": {
                "requestUri": "/ListCentralizationRules",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "RuleNamePrefix": {},
                    "AllRegions": {
                        "type": "boolean"
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "CentralizationRuleSummaries": {
                        "shape": "S2n"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DADXLEVBHRORQTIIAU2UGQ4DBWMVPFI22UZDYZ3MQK2AAQ6A4WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MK3MC25KLANR54XOYQMLYCQRGSHVY6CUQFEYWYBHUUO5FOCTHXJQ/main.js"
            ]
        },
        "ListCentralizationRulesForOrganization": {
            "http": {
                "requestUri": "/ListCentralizationRulesForOrganization",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "RuleNamePrefix": {},
                    "AllRegions": {
                        "type": "boolean"
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "CentralizationRuleSummaries": {
                        "shape": "S2n"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DADXLEVBHRORQTIIAU2UGQ4DBWMVPFI22UZDYZ3MQK2AAQ6A4WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MK3MC25KLANR54XOYQMLYCQRGSHVY6CUQFEYWYBHUUO5FOCTHXJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHXKKEEXGO77NU77ECH734ISM4QKU6LTSTYPCPCGESZ364RUVI5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SGJDQ45JCKVG4CVA5FCDLHXV2D5PTXMXIRHJYTN5ETXOVJECUOEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74X5SNU2IKUQABDF4IA3GSNK6IZNJNKDPMGTZ7BO7NEDB6AGCW5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSUAD3RBD7HV3ZMCCBYEBMJVUVPLZFRXYSE6O2ESVBQ7EXRIJ5KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H47U4HQWTIWAMWILWSM36OIIW5DMZI4TG2JBGLKPHKKOHAAELDIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJTYE5TQ2IN4CIPJE5CPMBXLWPP5QQ5JG7XILS5SAMX3HYDNWABQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OBH74F5UK6OYK3ULESQHSTY4J6HVFJRDHBVO4A2AZ3SJQ4L5RDMA/main.js"
            ]
        },
        "ListTagsForResource": {
            "http": {
                "requestUri": "/ListTagsForResource",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceARN"
                ],
                "members": {
                    "ResourceARN": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Tags"
                ],
                "members": {
                    "Tags": {
                        "shape": "Sd"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DADXLEVBHRORQTIIAU2UGQ4DBWMVPFI22UZDYZ3MQK2AAQ6A4WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MK3MC25KLANR54XOYQMLYCQRGSHVY6CUQFEYWYBHUUO5FOCTHXJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHXKKEEXGO77NU77ECH734ISM4QKU6LTSTYPCPCGESZ364RUVI5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SGJDQ45JCKVG4CVA5FCDLHXV2D5PTXMXIRHJYTN5ETXOVJECUOEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74X5SNU2IKUQABDF4IA3GSNK6IZNJNKDPMGTZ7BO7NEDB6AGCW5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSUAD3RBD7HV3ZMCCBYEBMJVUVPLZFRXYSE6O2ESVBQ7EXRIJ5KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H47U4HQWTIWAMWILWSM36OIIW5DMZI4TG2JBGLKPHKKOHAAELDIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJTYE5TQ2IN4CIPJE5CPMBXLWPP5QQ5JG7XILS5SAMX3HYDNWABQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OBH74F5UK6OYK3ULESQHSTY4J6HVFJRDHBVO4A2AZ3SJQ4L5RDMA/main.js"
            ]
        },
        "ListTelemetryRules": {
            "http": {
                "requestUri": "/ListTelemetryRules",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "RuleNamePrefix": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "TelemetryRuleSummaries": {
                        "shape": "S3g"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DADXLEVBHRORQTIIAU2UGQ4DBWMVPFI22UZDYZ3MQK2AAQ6A4WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MK3MC25KLANR54XOYQMLYCQRGSHVY6CUQFEYWYBHUUO5FOCTHXJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHXKKEEXGO77NU77ECH734ISM4QKU6LTSTYPCPCGESZ364RUVI5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SGJDQ45JCKVG4CVA5FCDLHXV2D5PTXMXIRHJYTN5ETXOVJECUOEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74X5SNU2IKUQABDF4IA3GSNK6IZNJNKDPMGTZ7BO7NEDB6AGCW5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSUAD3RBD7HV3ZMCCBYEBMJVUVPLZFRXYSE6O2ESVBQ7EXRIJ5KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H47U4HQWTIWAMWILWSM36OIIW5DMZI4TG2JBGLKPHKKOHAAELDIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJTYE5TQ2IN4CIPJE5CPMBXLWPP5QQ5JG7XILS5SAMX3HYDNWABQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OBH74F5UK6OYK3ULESQHSTY4J6HVFJRDHBVO4A2AZ3SJQ4L5RDMA/main.js"
            ]
        },
        "ListTelemetryRulesForOrganization": {
            "http": {
                "requestUri": "/ListTelemetryRulesForOrganization",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "RuleNamePrefix": {},
                    "SourceAccountIds": {
                        "shape": "S1s"
                    },
                    "SourceOrganizationUnitIds": {
                        "type": "list",
                        "member": {}
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "TelemetryRuleSummaries": {
                        "shape": "S3g"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DADXLEVBHRORQTIIAU2UGQ4DBWMVPFI22UZDYZ3MQK2AAQ6A4WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MK3MC25KLANR54XOYQMLYCQRGSHVY6CUQFEYWYBHUUO5FOCTHXJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHXKKEEXGO77NU77ECH734ISM4QKU6LTSTYPCPCGESZ364RUVI5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SGJDQ45JCKVG4CVA5FCDLHXV2D5PTXMXIRHJYTN5ETXOVJECUOEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74X5SNU2IKUQABDF4IA3GSNK6IZNJNKDPMGTZ7BO7NEDB6AGCW5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSUAD3RBD7HV3ZMCCBYEBMJVUVPLZFRXYSE6O2ESVBQ7EXRIJ5KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H47U4HQWTIWAMWILWSM36OIIW5DMZI4TG2JBGLKPHKKOHAAELDIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJTYE5TQ2IN4CIPJE5CPMBXLWPP5QQ5JG7XILS5SAMX3HYDNWABQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OBH74F5UK6OYK3ULESQHSTY4J6HVFJRDHBVO4A2AZ3SJQ4L5RDMA/main.js"
            ]
        },
        "LockServiceLinkedRole": {
            "http": {
                "requestUri": "/slr-deletion/lock",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "RoleArn",
                    "Timeout"
                ],
                "members": {
                    "RoleArn": {},
                    "Timeout": {
                        "type": "long"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "CanBeDeleted"
                ],
                "members": {
                    "CanBeDeleted": {
                        "type": "boolean"
                    },
                    "ReasonOfFailure": {},
                    "RelatedResources": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DADXLEVBHRORQTIIAU2UGQ4DBWMVPFI22UZDYZ3MQK2AAQ6A4WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MK3MC25KLANR54XOYQMLYCQRGSHVY6CUQFEYWYBHUUO5FOCTHXJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHXKKEEXGO77NU77ECH734ISM4QKU6LTSTYPCPCGESZ364RUVI5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SGJDQ45JCKVG4CVA5FCDLHXV2D5PTXMXIRHJYTN5ETXOVJECUOEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74X5SNU2IKUQABDF4IA3GSNK6IZNJNKDPMGTZ7BO7NEDB6AGCW5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSUAD3RBD7HV3ZMCCBYEBMJVUVPLZFRXYSE6O2ESVBQ7EXRIJ5KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H47U4HQWTIWAMWILWSM36OIIW5DMZI4TG2JBGLKPHKKOHAAELDIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJTYE5TQ2IN4CIPJE5CPMBXLWPP5QQ5JG7XILS5SAMX3HYDNWABQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OBH74F5UK6OYK3ULESQHSTY4J6HVFJRDHBVO4A2AZ3SJQ4L5RDMA/main.js"
            ]
        },
        "StartResourceTelemetryStatusUpdate": {
            "http": {
                "requestUri": "/StartResourceTelemetryStatusUpdate",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "DesiredTelemetryConfigurationState",
                    "ResourceIdentifier",
                    "ResourceType"
                ],
                "members": {
                    "DesiredTelemetryConfigurationState": {
                        "shape": "S2v"
                    },
                    "ResourceIdentifier": {},
                    "ResourceType": {},
                    "AdditionalTelemetryConfigurationJson": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DADXLEVBHRORQTIIAU2UGQ4DBWMVPFI22UZDYZ3MQK2AAQ6A4WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MK3MC25KLANR54XOYQMLYCQRGSHVY6CUQFEYWYBHUUO5FOCTHXJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHXKKEEXGO77NU77ECH734ISM4QKU6LTSTYPCPCGESZ364RUVI5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SGJDQ45JCKVG4CVA5FCDLHXV2D5PTXMXIRHJYTN5ETXOVJECUOEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74X5SNU2IKUQABDF4IA3GSNK6IZNJNKDPMGTZ7BO7NEDB6AGCW5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSUAD3RBD7HV3ZMCCBYEBMJVUVPLZFRXYSE6O2ESVBQ7EXRIJ5KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H47U4HQWTIWAMWILWSM36OIIW5DMZI4TG2JBGLKPHKKOHAAELDIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJTYE5TQ2IN4CIPJE5CPMBXLWPP5QQ5JG7XILS5SAMX3HYDNWABQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OBH74F5UK6OYK3ULESQHSTY4J6HVFJRDHBVO4A2AZ3SJQ4L5RDMA/main.js"
            ]
        },
        "StartTelemetryEnrichment": {
            "http": {
                "requestUri": "/StartTelemetryEnrichment",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "TelemetryTypes"
                ],
                "members": {
                    "TelemetryTypes": {
                        "shape": "S28"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "TelemetryTypes": {
                        "shape": "S28"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DADXLEVBHRORQTIIAU2UGQ4DBWMVPFI22UZDYZ3MQK2AAQ6A4WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MK3MC25KLANR54XOYQMLYCQRGSHVY6CUQFEYWYBHUUO5FOCTHXJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHXKKEEXGO77NU77ECH734ISM4QKU6LTSTYPCPCGESZ364RUVI5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SGJDQ45JCKVG4CVA5FCDLHXV2D5PTXMXIRHJYTN5ETXOVJECUOEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74X5SNU2IKUQABDF4IA3GSNK6IZNJNKDPMGTZ7BO7NEDB6AGCW5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSUAD3RBD7HV3ZMCCBYEBMJVUVPLZFRXYSE6O2ESVBQ7EXRIJ5KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H47U4HQWTIWAMWILWSM36OIIW5DMZI4TG2JBGLKPHKKOHAAELDIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJTYE5TQ2IN4CIPJE5CPMBXLWPP5QQ5JG7XILS5SAMX3HYDNWABQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OBH74F5UK6OYK3ULESQHSTY4J6HVFJRDHBVO4A2AZ3SJQ4L5RDMA/main.js"
            ]
        },
        "StopTelemetryEnrichment": {
            "http": {
                "requestUri": "/StopTelemetryEnrichment",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "TelemetryTypes"
                ],
                "members": {
                    "TelemetryTypes": {
                        "shape": "S28"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "TelemetryTypes": {
                        "shape": "S28"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DADXLEVBHRORQTIIAU2UGQ4DBWMVPFI22UZDYZ3MQK2AAQ6A4WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MK3MC25KLANR54XOYQMLYCQRGSHVY6CUQFEYWYBHUUO5FOCTHXJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHXKKEEXGO77NU77ECH734ISM4QKU6LTSTYPCPCGESZ364RUVI5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SGJDQ45JCKVG4CVA5FCDLHXV2D5PTXMXIRHJYTN5ETXOVJECUOEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74X5SNU2IKUQABDF4IA3GSNK6IZNJNKDPMGTZ7BO7NEDB6AGCW5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSUAD3RBD7HV3ZMCCBYEBMJVUVPLZFRXYSE6O2ESVBQ7EXRIJ5KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H47U4HQWTIWAMWILWSM36OIIW5DMZI4TG2JBGLKPHKKOHAAELDIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJTYE5TQ2IN4CIPJE5CPMBXLWPP5QQ5JG7XILS5SAMX3HYDNWABQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OBH74F5UK6OYK3ULESQHSTY4J6HVFJRDHBVO4A2AZ3SJQ4L5RDMA/main.js"
            ]
        },
        "TagResource": {
            "http": {
                "requestUri": "/TagResource",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceARN",
                    "Tags"
                ],
                "members": {
                    "ResourceARN": {},
                    "Tags": {
                        "shape": "Sd"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DADXLEVBHRORQTIIAU2UGQ4DBWMVPFI22UZDYZ3MQK2AAQ6A4WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MK3MC25KLANR54XOYQMLYCQRGSHVY6CUQFEYWYBHUUO5FOCTHXJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHXKKEEXGO77NU77ECH734ISM4QKU6LTSTYPCPCGESZ364RUVI5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SGJDQ45JCKVG4CVA5FCDLHXV2D5PTXMXIRHJYTN5ETXOVJECUOEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74X5SNU2IKUQABDF4IA3GSNK6IZNJNKDPMGTZ7BO7NEDB6AGCW5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSUAD3RBD7HV3ZMCCBYEBMJVUVPLZFRXYSE6O2ESVBQ7EXRIJ5KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H47U4HQWTIWAMWILWSM36OIIW5DMZI4TG2JBGLKPHKKOHAAELDIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJTYE5TQ2IN4CIPJE5CPMBXLWPP5QQ5JG7XILS5SAMX3HYDNWABQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OBH74F5UK6OYK3ULESQHSTY4J6HVFJRDHBVO4A2AZ3SJQ4L5RDMA/main.js"
            ]
        },
        "TestResourceTelemetryRules": {
            "http": {
                "requestUri": "/TestResourceTelemetryRules",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceType",
                    "TelemetryType"
                ],
                "members": {
                    "ResourceType": {},
                    "TelemetryType": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "TelemetryTestRules": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "DestinationConfiguration": {
                                    "shape": "Sp"
                                },
                                "SelectionCriteria": {},
                                "Scope": {},
                                "RuleTestStatus": {},
                                "StatusReason": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DADXLEVBHRORQTIIAU2UGQ4DBWMVPFI22UZDYZ3MQK2AAQ6A4WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MK3MC25KLANR54XOYQMLYCQRGSHVY6CUQFEYWYBHUUO5FOCTHXJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHXKKEEXGO77NU77ECH734ISM4QKU6LTSTYPCPCGESZ364RUVI5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SGJDQ45JCKVG4CVA5FCDLHXV2D5PTXMXIRHJYTN5ETXOVJECUOEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74X5SNU2IKUQABDF4IA3GSNK6IZNJNKDPMGTZ7BO7NEDB6AGCW5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSUAD3RBD7HV3ZMCCBYEBMJVUVPLZFRXYSE6O2ESVBQ7EXRIJ5KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H47U4HQWTIWAMWILWSM36OIIW5DMZI4TG2JBGLKPHKKOHAAELDIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJTYE5TQ2IN4CIPJE5CPMBXLWPP5QQ5JG7XILS5SAMX3HYDNWABQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OBH74F5UK6OYK3ULESQHSTY4J6HVFJRDHBVO4A2AZ3SJQ4L5RDMA/main.js"
            ]
        },
        "UnlockServiceLinkedRole": {
            "http": {
                "requestUri": "/slr-deletion/unlock",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "RoleArn"
                ],
                "members": {
                    "RoleArn": {},
                    "DeletionStatus": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DADXLEVBHRORQTIIAU2UGQ4DBWMVPFI22UZDYZ3MQK2AAQ6A4WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MK3MC25KLANR54XOYQMLYCQRGSHVY6CUQFEYWYBHUUO5FOCTHXJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHXKKEEXGO77NU77ECH734ISM4QKU6LTSTYPCPCGESZ364RUVI5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SGJDQ45JCKVG4CVA5FCDLHXV2D5PTXMXIRHJYTN5ETXOVJECUOEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74X5SNU2IKUQABDF4IA3GSNK6IZNJNKDPMGTZ7BO7NEDB6AGCW5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSUAD3RBD7HV3ZMCCBYEBMJVUVPLZFRXYSE6O2ESVBQ7EXRIJ5KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H47U4HQWTIWAMWILWSM36OIIW5DMZI4TG2JBGLKPHKKOHAAELDIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJTYE5TQ2IN4CIPJE5CPMBXLWPP5QQ5JG7XILS5SAMX3HYDNWABQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OBH74F5UK6OYK3ULESQHSTY4J6HVFJRDHBVO4A2AZ3SJQ4L5RDMA/main.js"
            ]
        },
        "UntagResource": {
            "http": {
                "requestUri": "/UntagResource",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceARN",
                    "TagKeys"
                ],
                "members": {
                    "ResourceARN": {},
                    "TagKeys": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DADXLEVBHRORQTIIAU2UGQ4DBWMVPFI22UZDYZ3MQK2AAQ6A4WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MK3MC25KLANR54XOYQMLYCQRGSHVY6CUQFEYWYBHUUO5FOCTHXJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHXKKEEXGO77NU77ECH734ISM4QKU6LTSTYPCPCGESZ364RUVI5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SGJDQ45JCKVG4CVA5FCDLHXV2D5PTXMXIRHJYTN5ETXOVJECUOEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74X5SNU2IKUQABDF4IA3GSNK6IZNJNKDPMGTZ7BO7NEDB6AGCW5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSUAD3RBD7HV3ZMCCBYEBMJVUVPLZFRXYSE6O2ESVBQ7EXRIJ5KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H47U4HQWTIWAMWILWSM36OIIW5DMZI4TG2JBGLKPHKKOHAAELDIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJTYE5TQ2IN4CIPJE5CPMBXLWPP5QQ5JG7XILS5SAMX3HYDNWABQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OBH74F5UK6OYK3ULESQHSTY4J6HVFJRDHBVO4A2AZ3SJQ4L5RDMA/main.js"
            ]
        },
        "UpdateCentralizationRule": {
            "http": {
                "requestUri": "/UpdateCentralizationRule",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "RuleName",
                    "Rule"
                ],
                "members": {
                    "RuleName": {},
                    "Rule": {
                        "shape": "S3"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "RuleArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DADXLEVBHRORQTIIAU2UGQ4DBWMVPFI22UZDYZ3MQK2AAQ6A4WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MK3MC25KLANR54XOYQMLYCQRGSHVY6CUQFEYWYBHUUO5FOCTHXJQ/main.js"
            ]
        },
        "UpdateCentralizationRuleForOrganization": {
            "http": {
                "requestUri": "/UpdateCentralizationRuleForOrganization",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "RuleName",
                    "Rule"
                ],
                "members": {
                    "RuleName": {},
                    "Rule": {
                        "shape": "S3"
                    },
                    "RuleIdentifier": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "RuleArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DADXLEVBHRORQTIIAU2UGQ4DBWMVPFI22UZDYZ3MQK2AAQ6A4WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MK3MC25KLANR54XOYQMLYCQRGSHVY6CUQFEYWYBHUUO5FOCTHXJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHXKKEEXGO77NU77ECH734ISM4QKU6LTSTYPCPCGESZ364RUVI5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SGJDQ45JCKVG4CVA5FCDLHXV2D5PTXMXIRHJYTN5ETXOVJECUOEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74X5SNU2IKUQABDF4IA3GSNK6IZNJNKDPMGTZ7BO7NEDB6AGCW5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSUAD3RBD7HV3ZMCCBYEBMJVUVPLZFRXYSE6O2ESVBQ7EXRIJ5KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H47U4HQWTIWAMWILWSM36OIIW5DMZI4TG2JBGLKPHKKOHAAELDIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJTYE5TQ2IN4CIPJE5CPMBXLWPP5QQ5JG7XILS5SAMX3HYDNWABQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OBH74F5UK6OYK3ULESQHSTY4J6HVFJRDHBVO4A2AZ3SJQ4L5RDMA/main.js"
            ]
        },
        "UpdateTelemetryRule": {
            "http": {
                "requestUri": "/UpdateTelemetryRule",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "RuleName",
                    "Rule"
                ],
                "members": {
                    "RuleName": {},
                    "Rule": {
                        "shape": "Sl"
                    },
                    "RuleIdentifier": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "RuleArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DADXLEVBHRORQTIIAU2UGQ4DBWMVPFI22UZDYZ3MQK2AAQ6A4WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MK3MC25KLANR54XOYQMLYCQRGSHVY6CUQFEYWYBHUUO5FOCTHXJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHXKKEEXGO77NU77ECH734ISM4QKU6LTSTYPCPCGESZ364RUVI5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SGJDQ45JCKVG4CVA5FCDLHXV2D5PTXMXIRHJYTN5ETXOVJECUOEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74X5SNU2IKUQABDF4IA3GSNK6IZNJNKDPMGTZ7BO7NEDB6AGCW5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSUAD3RBD7HV3ZMCCBYEBMJVUVPLZFRXYSE6O2ESVBQ7EXRIJ5KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H47U4HQWTIWAMWILWSM36OIIW5DMZI4TG2JBGLKPHKKOHAAELDIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJTYE5TQ2IN4CIPJE5CPMBXLWPP5QQ5JG7XILS5SAMX3HYDNWABQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OBH74F5UK6OYK3ULESQHSTY4J6HVFJRDHBVO4A2AZ3SJQ4L5RDMA/main.js"
            ]
        },
        "UpdateTelemetryRuleForOrganization": {
            "http": {
                "requestUri": "/UpdateTelemetryRuleForOrganization",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "RuleName",
                    "Rule"
                ],
                "members": {
                    "RuleName": {},
                    "Rule": {
                        "shape": "Sl"
                    },
                    "RuleIdentifier": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "RuleArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DADXLEVBHRORQTIIAU2UGQ4DBWMVPFI22UZDYZ3MQK2AAQ6A4WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MK3MC25KLANR54XOYQMLYCQRGSHVY6CUQFEYWYBHUUO5FOCTHXJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHXKKEEXGO77NU77ECH734ISM4QKU6LTSTYPCPCGESZ364RUVI5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SGJDQ45JCKVG4CVA5FCDLHXV2D5PTXMXIRHJYTN5ETXOVJECUOEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74X5SNU2IKUQABDF4IA3GSNK6IZNJNKDPMGTZ7BO7NEDB6AGCW5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSUAD3RBD7HV3ZMCCBYEBMJVUVPLZFRXYSE6O2ESVBQ7EXRIJ5KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H47U4HQWTIWAMWILWSM36OIIW5DMZI4TG2JBGLKPHKKOHAAELDIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJTYE5TQ2IN4CIPJE5CPMBXLWPP5QQ5JG7XILS5SAMX3HYDNWABQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OBH74F5UK6OYK3ULESQHSTY4J6HVFJRDHBVO4A2AZ3SJQ4L5RDMA/main.js"
            ]
        },
        "CreateTelemetryPipeline": {
            "http": {
                "requestUri": "/CreateTelemetryPipeline",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "PipelineName",
                    "PipelineConfigurationBody"
                ],
                "members": {
                    "PipelineName": {},
                    "PipelineConfigurationBody": {},
                    "Tags": {
                        "shape": "Sh"
                    },
                    "PipelineConfigurationFormat": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "PipelineArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/74X5SNU2IKUQABDF4IA3GSNK6IZNJNKDPMGTZ7BO7NEDB6AGCW5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSUAD3RBD7HV3ZMCCBYEBMJVUVPLZFRXYSE6O2ESVBQ7EXRIJ5KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H47U4HQWTIWAMWILWSM36OIIW5DMZI4TG2JBGLKPHKKOHAAELDIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJTYE5TQ2IN4CIPJE5CPMBXLWPP5QQ5JG7XILS5SAMX3HYDNWABQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OBH74F5UK6OYK3ULESQHSTY4J6HVFJRDHBVO4A2AZ3SJQ4L5RDMA/main.js"
            ]
        },
        "DeleteTelemetryPipeline": {
            "http": {
                "requestUri": "/DeleteTelemetryPipeline",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "PipelineIdentifier"
                ],
                "members": {
                    "PipelineIdentifier": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "PipelineArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/74X5SNU2IKUQABDF4IA3GSNK6IZNJNKDPMGTZ7BO7NEDB6AGCW5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSUAD3RBD7HV3ZMCCBYEBMJVUVPLZFRXYSE6O2ESVBQ7EXRIJ5KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H47U4HQWTIWAMWILWSM36OIIW5DMZI4TG2JBGLKPHKKOHAAELDIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJTYE5TQ2IN4CIPJE5CPMBXLWPP5QQ5JG7XILS5SAMX3HYDNWABQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OBH74F5UK6OYK3ULESQHSTY4J6HVFJRDHBVO4A2AZ3SJQ4L5RDMA/main.js"
            ]
        },
        "GetTelemetryPipeline": {
            "http": {
                "requestUri": "/GetTelemetryPipeline",
                "responseCode": 200
            },
            "input": {
[...]
