{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-05-10",
        "endpointPrefix": "awsvincentgatewayservice",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "ripServiceName": "omics/vincent",
        "serviceFullName": "AWS Vincent Gateway Service",
        "serviceId": "OmicsAnalytics",
        "signatureVersion": "v4",
        "signingName": "omics",
        "uid": "omicsanalytics-2018-05-10",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/3PPEJG5Y6WX6FTFJSDOUJDTEZJMEHJS3ZSQCVO3CEPINTZ3CT7DQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5MKFIKNMZJH2IIVNFXTFR7G6QOYCELW4CBMTLVQFQMM6R4NGLSDA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L4VLDLHLITCRQYY5IWBIWMEKGNHS6WFZPOMCK3AIOUHQVPR25YSA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/N7IIZWGJFTVJDTBRCSIGDNX6GFKJ45PXGKK3JCYXK2I6LLPSCNUQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6J3TQ7JYINSH7XNKDN2PMMIH4DJBSDCNU23Z5LNDNPBD6CS3JA5Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/I2RLHHN47BFF3Y3KMGR2WNE2HX6BMG2PEUSWVY3JU4G2AOJGD4XQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4PGDHPMHP6V6J46WY3RKMDBDFIMPJ37EBA43DVMLNUGC56ZLBKYQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SPNSFXSU5SKO76OJOM2CSM3KK5HWWF72YMIFMSLN42R4U4SDHLTA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5AYB3RIPP545MUUVZUM47G2OH5DCYK6VCVVBI5DYPIQRHQTVSJEQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XYXCNGAZMFD5TZ7GE6ESJNCF67WWRQWNZTZACOQPJY55TRWUO77Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QKVI7IOWXFTW3GSOM6SSVW5RC2SGXOHZC37KRVIEWU2J53JY74ZA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4YYKL6PKU4UMN2JH3CNZY7TJLXTQOH3LWBWZ265DZAA42UWBUUKQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4VWUOXNNFLYO46YZUHXB2LOKDMVIXZBIEFTURLO3MNKO34PSHDYQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/52CPL33UMNMVAC3WRVFBMTM57G3R4EYYC5HCGSMGAGRZ3E7SV65Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CLXZJEZ5DJLCXUZ3MUFLEUJXBUUFOPPUK23I3SPIWPICWHMFAFBA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/G2O3TQUIWQS5DJTO5WBCZ3D6DPLHAZXUPP7T5VFM6IAREQJEB7QQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LTCGZ65V5TYXF3HV77B5BL6273M3VCB4OB4CUVIL5LTRB5S2SYIQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EEWF4NNCVVREI32XMOAC6DG6PCXV336C3MCGRQL4TJINOAWOQSPQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EJJ4EMID3N4XJSTH3WBKNGWSWA6OD2XKQZ5IHUYZBNJE2JF3FMRQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JHSQT6T6WH6V5ZFLMYJ67MXYXSC6SNYOQTIMBSXOIIIMLVGWLTHA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TX4LYJYH5QGVUZTCZ6KLE6DTYWNPS3W4G5YAQ3VU43ERAIVRTMHA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XRPB6RX53D7KQNYRSF4Z4RPWQI2XBT4U5CMX6YYEOHQGAUE7P7UQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NTR7KHKKH6Z652FNKJTKDLKYMXWGUAAK4YH4XCDDFO64D2GL6HFA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YRPCYK3M4KYUF3VU4RD2STAK3EIYYWGVU7Y33OI5IS3KNMGHXXMQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CEZJ7HLZP7Y5HACYZZWV4PIWX4V4QJ5S2LSXCNFCDWRWRMBN5L6Q/vendors.js"
        ]
    },
    "operations": {
        "CancelAnnotationImportJob": {
            "http": {
                "method": "DELETE",
                "requestUri": "/import/annotation/{jobId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "jobId"
                ],
                "members": {
                    "jobId": {
                        "location": "uri",
                        "locationName": "jobId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "endpoint": {
                "hostPrefix": "analytics-"
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MKFIKNMZJH2IIVNFXTFR7G6QOYCELW4CBMTLVQFQMM6R4NGLSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4VLDLHLITCRQYY5IWBIWMEKGNHS6WFZPOMCK3AIOUHQVPR25YSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N7IIZWGJFTVJDTBRCSIGDNX6GFKJ45PXGKK3JCYXK2I6LLPSCNUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6J3TQ7JYINSH7XNKDN2PMMIH4DJBSDCNU23Z5LNDNPBD6CS3JA5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2RLHHN47BFF3Y3KMGR2WNE2HX6BMG2PEUSWVY3JU4G2AOJGD4XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PGDHPMHP6V6J46WY3RKMDBDFIMPJ37EBA43DVMLNUGC56ZLBKYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPNSFXSU5SKO76OJOM2CSM3KK5HWWF72YMIFMSLN42R4U4SDHLTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5AYB3RIPP545MUUVZUM47G2OH5DCYK6VCVVBI5DYPIQRHQTVSJEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYXCNGAZMFD5TZ7GE6ESJNCF67WWRQWNZTZACOQPJY55TRWUO77Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QKVI7IOWXFTW3GSOM6SSVW5RC2SGXOHZC37KRVIEWU2J53JY74ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YYKL6PKU4UMN2JH3CNZY7TJLXTQOH3LWBWZ265DZAA42UWBUUKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VWUOXNNFLYO46YZUHXB2LOKDMVIXZBIEFTURLO3MNKO34PSHDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52CPL33UMNMVAC3WRVFBMTM57G3R4EYYC5HCGSMGAGRZ3E7SV65Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLXZJEZ5DJLCXUZ3MUFLEUJXBUUFOPPUK23I3SPIWPICWHMFAFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2O3TQUIWQS5DJTO5WBCZ3D6DPLHAZXUPP7T5VFM6IAREQJEB7QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LTCGZ65V5TYXF3HV77B5BL6273M3VCB4OB4CUVIL5LTRB5S2SYIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEWF4NNCVVREI32XMOAC6DG6PCXV336C3MCGRQL4TJINOAWOQSPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJJ4EMID3N4XJSTH3WBKNGWSWA6OD2XKQZ5IHUYZBNJE2JF3FMRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHSQT6T6WH6V5ZFLMYJ67MXYXSC6SNYOQTIMBSXOIIIMLVGWLTHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TX4LYJYH5QGVUZTCZ6KLE6DTYWNPS3W4G5YAQ3VU43ERAIVRTMHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XRPB6RX53D7KQNYRSF4Z4RPWQI2XBT4U5CMX6YYEOHQGAUE7P7UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTR7KHKKH6Z652FNKJTKDLKYMXWGUAAK4YH4XCDDFO64D2GL6HFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRPCYK3M4KYUF3VU4RD2STAK3EIYYWGVU7Y33OI5IS3KNMGHXXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEZJ7HLZP7Y5HACYZZWV4PIWX4V4QJ5S2LSXCNFCDWRWRMBN5L6Q/vendors.js"
            ]
        },
        "CancelVariantImportJob": {
            "http": {
                "method": "DELETE",
                "requestUri": "/import/variant/{jobId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "jobId"
                ],
                "members": {
                    "jobId": {
                        "location": "uri",
                        "locationName": "jobId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "endpoint": {
                "hostPrefix": "analytics-"
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MKFIKNMZJH2IIVNFXTFR7G6QOYCELW4CBMTLVQFQMM6R4NGLSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4VLDLHLITCRQYY5IWBIWMEKGNHS6WFZPOMCK3AIOUHQVPR25YSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N7IIZWGJFTVJDTBRCSIGDNX6GFKJ45PXGKK3JCYXK2I6LLPSCNUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6J3TQ7JYINSH7XNKDN2PMMIH4DJBSDCNU23Z5LNDNPBD6CS3JA5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2RLHHN47BFF3Y3KMGR2WNE2HX6BMG2PEUSWVY3JU4G2AOJGD4XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PGDHPMHP6V6J46WY3RKMDBDFIMPJ37EBA43DVMLNUGC56ZLBKYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPNSFXSU5SKO76OJOM2CSM3KK5HWWF72YMIFMSLN42R4U4SDHLTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5AYB3RIPP545MUUVZUM47G2OH5DCYK6VCVVBI5DYPIQRHQTVSJEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYXCNGAZMFD5TZ7GE6ESJNCF67WWRQWNZTZACOQPJY55TRWUO77Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QKVI7IOWXFTW3GSOM6SSVW5RC2SGXOHZC37KRVIEWU2J53JY74ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YYKL6PKU4UMN2JH3CNZY7TJLXTQOH3LWBWZ265DZAA42UWBUUKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VWUOXNNFLYO46YZUHXB2LOKDMVIXZBIEFTURLO3MNKO34PSHDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52CPL33UMNMVAC3WRVFBMTM57G3R4EYYC5HCGSMGAGRZ3E7SV65Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLXZJEZ5DJLCXUZ3MUFLEUJXBUUFOPPUK23I3SPIWPICWHMFAFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2O3TQUIWQS5DJTO5WBCZ3D6DPLHAZXUPP7T5VFM6IAREQJEB7QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LTCGZ65V5TYXF3HV77B5BL6273M3VCB4OB4CUVIL5LTRB5S2SYIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEWF4NNCVVREI32XMOAC6DG6PCXV336C3MCGRQL4TJINOAWOQSPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJJ4EMID3N4XJSTH3WBKNGWSWA6OD2XKQZ5IHUYZBNJE2JF3FMRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHSQT6T6WH6V5ZFLMYJ67MXYXSC6SNYOQTIMBSXOIIIMLVGWLTHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TX4LYJYH5QGVUZTCZ6KLE6DTYWNPS3W4G5YAQ3VU43ERAIVRTMHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XRPB6RX53D7KQNYRSF4Z4RPWQI2XBT4U5CMX6YYEOHQGAUE7P7UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTR7KHKKH6Z652FNKJTKDLKYMXWGUAAK4YH4XCDDFO64D2GL6HFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRPCYK3M4KYUF3VU4RD2STAK3EIYYWGVU7Y33OI5IS3KNMGHXXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEZJ7HLZP7Y5HACYZZWV4PIWX4V4QJ5S2LSXCNFCDWRWRMBN5L6Q/vendors.js"
            ]
        },
        "CreateAnnotationStore": {
            "http": {
                "requestUri": "/annotationStore",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "storeFormat"
                ],
                "members": {
                    "reference": {
                        "shape": "S7"
                    },
                    "name": {},
                    "description": {},
                    "tags": {
                        "shape": "Sb"
                    },
                    "sseConfig": {
                        "shape": "Se"
                    },
                    "storeFormat": {},
                    "storeOptions": {
                        "shape": "Si"
                    },
                    "versionName": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "id",
                    "status",
                    "name",
                    "creationTime"
                ],
                "members": {
                    "id": {},
                    "reference": {
                        "shape": "S7"
                    },
                    "storeFormat": {},
                    "storeOptions": {
                        "shape": "Si"
                    },
                    "status": {},
                    "name": {},
                    "creationTime": {
                        "shape": "Sv"
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "analytics-"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MKFIKNMZJH2IIVNFXTFR7G6QOYCELW4CBMTLVQFQMM6R4NGLSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4VLDLHLITCRQYY5IWBIWMEKGNHS6WFZPOMCK3AIOUHQVPR25YSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N7IIZWGJFTVJDTBRCSIGDNX6GFKJ45PXGKK3JCYXK2I6LLPSCNUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6J3TQ7JYINSH7XNKDN2PMMIH4DJBSDCNU23Z5LNDNPBD6CS3JA5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2RLHHN47BFF3Y3KMGR2WNE2HX6BMG2PEUSWVY3JU4G2AOJGD4XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PGDHPMHP6V6J46WY3RKMDBDFIMPJ37EBA43DVMLNUGC56ZLBKYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPNSFXSU5SKO76OJOM2CSM3KK5HWWF72YMIFMSLN42R4U4SDHLTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5AYB3RIPP545MUUVZUM47G2OH5DCYK6VCVVBI5DYPIQRHQTVSJEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYXCNGAZMFD5TZ7GE6ESJNCF67WWRQWNZTZACOQPJY55TRWUO77Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QKVI7IOWXFTW3GSOM6SSVW5RC2SGXOHZC37KRVIEWU2J53JY74ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YYKL6PKU4UMN2JH3CNZY7TJLXTQOH3LWBWZ265DZAA42UWBUUKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VWUOXNNFLYO46YZUHXB2LOKDMVIXZBIEFTURLO3MNKO34PSHDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52CPL33UMNMVAC3WRVFBMTM57G3R4EYYC5HCGSMGAGRZ3E7SV65Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLXZJEZ5DJLCXUZ3MUFLEUJXBUUFOPPUK23I3SPIWPICWHMFAFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2O3TQUIWQS5DJTO5WBCZ3D6DPLHAZXUPP7T5VFM6IAREQJEB7QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LTCGZ65V5TYXF3HV77B5BL6273M3VCB4OB4CUVIL5LTRB5S2SYIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEWF4NNCVVREI32XMOAC6DG6PCXV336C3MCGRQL4TJINOAWOQSPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJJ4EMID3N4XJSTH3WBKNGWSWA6OD2XKQZ5IHUYZBNJE2JF3FMRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHSQT6T6WH6V5ZFLMYJ67MXYXSC6SNYOQTIMBSXOIIIMLVGWLTHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TX4LYJYH5QGVUZTCZ6KLE6DTYWNPS3W4G5YAQ3VU43ERAIVRTMHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XRPB6RX53D7KQNYRSF4Z4RPWQI2XBT4U5CMX6YYEOHQGAUE7P7UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTR7KHKKH6Z652FNKJTKDLKYMXWGUAAK4YH4XCDDFO64D2GL6HFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRPCYK3M4KYUF3VU4RD2STAK3EIYYWGVU7Y33OI5IS3KNMGHXXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEZJ7HLZP7Y5HACYZZWV4PIWX4V4QJ5S2LSXCNFCDWRWRMBN5L6Q/vendors.js"
            ]
        },
        "CreateVariantStore": {
            "http": {
                "requestUri": "/variantStore",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "reference"
                ],
                "members": {
                    "reference": {
                        "shape": "S7"
                    },
                    "name": {},
                    "description": {},
                    "tags": {
                        "shape": "Sb"
                    },
                    "sseConfig": {
                        "shape": "Se"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "id",
                    "status",
                    "name",
                    "creationTime"
                ],
                "members": {
                    "id": {},
                    "reference": {
                        "shape": "S7"
                    },
                    "status": {},
                    "name": {},
                    "creationTime": {
                        "shape": "Sv"
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "analytics-"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MKFIKNMZJH2IIVNFXTFR7G6QOYCELW4CBMTLVQFQMM6R4NGLSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4VLDLHLITCRQYY5IWBIWMEKGNHS6WFZPOMCK3AIOUHQVPR25YSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N7IIZWGJFTVJDTBRCSIGDNX6GFKJ45PXGKK3JCYXK2I6LLPSCNUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6J3TQ7JYINSH7XNKDN2PMMIH4DJBSDCNU23Z5LNDNPBD6CS3JA5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2RLHHN47BFF3Y3KMGR2WNE2HX6BMG2PEUSWVY3JU4G2AOJGD4XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PGDHPMHP6V6J46WY3RKMDBDFIMPJ37EBA43DVMLNUGC56ZLBKYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPNSFXSU5SKO76OJOM2CSM3KK5HWWF72YMIFMSLN42R4U4SDHLTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5AYB3RIPP545MUUVZUM47G2OH5DCYK6VCVVBI5DYPIQRHQTVSJEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYXCNGAZMFD5TZ7GE6ESJNCF67WWRQWNZTZACOQPJY55TRWUO77Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QKVI7IOWXFTW3GSOM6SSVW5RC2SGXOHZC37KRVIEWU2J53JY74ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YYKL6PKU4UMN2JH3CNZY7TJLXTQOH3LWBWZ265DZAA42UWBUUKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VWUOXNNFLYO46YZUHXB2LOKDMVIXZBIEFTURLO3MNKO34PSHDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52CPL33UMNMVAC3WRVFBMTM57G3R4EYYC5HCGSMGAGRZ3E7SV65Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLXZJEZ5DJLCXUZ3MUFLEUJXBUUFOPPUK23I3SPIWPICWHMFAFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2O3TQUIWQS5DJTO5WBCZ3D6DPLHAZXUPP7T5VFM6IAREQJEB7QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LTCGZ65V5TYXF3HV77B5BL6273M3VCB4OB4CUVIL5LTRB5S2SYIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEWF4NNCVVREI32XMOAC6DG6PCXV336C3MCGRQL4TJINOAWOQSPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJJ4EMID3N4XJSTH3WBKNGWSWA6OD2XKQZ5IHUYZBNJE2JF3FMRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHSQT6T6WH6V5ZFLMYJ67MXYXSC6SNYOQTIMBSXOIIIMLVGWLTHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TX4LYJYH5QGVUZTCZ6KLE6DTYWNPS3W4G5YAQ3VU43ERAIVRTMHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XRPB6RX53D7KQNYRSF4Z4RPWQI2XBT4U5CMX6YYEOHQGAUE7P7UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTR7KHKKH6Z652FNKJTKDLKYMXWGUAAK4YH4XCDDFO64D2GL6HFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRPCYK3M4KYUF3VU4RD2STAK3EIYYWGVU7Y33OI5IS3KNMGHXXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEZJ7HLZP7Y5HACYZZWV4PIWX4V4QJ5S2LSXCNFCDWRWRMBN5L6Q/vendors.js"
            ]
        },
        "DeleteAnnotationStore": {
            "http": {
                "method": "DELETE",
                "requestUri": "/annotationStore/{name}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "name"
                ],
                "members": {
                    "name": {
                        "location": "uri",
                        "locationName": "name"
                    },
                    "force": {
                        "location": "querystring",
                        "locationName": "force",
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "status"
                ],
                "members": {
                    "status": {}
                }
            },
            "endpoint": {
                "hostPrefix": "analytics-"
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MKFIKNMZJH2IIVNFXTFR7G6QOYCELW4CBMTLVQFQMM6R4NGLSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4VLDLHLITCRQYY5IWBIWMEKGNHS6WFZPOMCK3AIOUHQVPR25YSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N7IIZWGJFTVJDTBRCSIGDNX6GFKJ45PXGKK3JCYXK2I6LLPSCNUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6J3TQ7JYINSH7XNKDN2PMMIH4DJBSDCNU23Z5LNDNPBD6CS3JA5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2RLHHN47BFF3Y3KMGR2WNE2HX6BMG2PEUSWVY3JU4G2AOJGD4XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PGDHPMHP6V6J46WY3RKMDBDFIMPJ37EBA43DVMLNUGC56ZLBKYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPNSFXSU5SKO76OJOM2CSM3KK5HWWF72YMIFMSLN42R4U4SDHLTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5AYB3RIPP545MUUVZUM47G2OH5DCYK6VCVVBI5DYPIQRHQTVSJEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYXCNGAZMFD5TZ7GE6ESJNCF67WWRQWNZTZACOQPJY55TRWUO77Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QKVI7IOWXFTW3GSOM6SSVW5RC2SGXOHZC37KRVIEWU2J53JY74ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YYKL6PKU4UMN2JH3CNZY7TJLXTQOH3LWBWZ265DZAA42UWBUUKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VWUOXNNFLYO46YZUHXB2LOKDMVIXZBIEFTURLO3MNKO34PSHDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52CPL33UMNMVAC3WRVFBMTM57G3R4EYYC5HCGSMGAGRZ3E7SV65Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLXZJEZ5DJLCXUZ3MUFLEUJXBUUFOPPUK23I3SPIWPICWHMFAFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2O3TQUIWQS5DJTO5WBCZ3D6DPLHAZXUPP7T5VFM6IAREQJEB7QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LTCGZ65V5TYXF3HV77B5BL6273M3VCB4OB4CUVIL5LTRB5S2SYIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEWF4NNCVVREI32XMOAC6DG6PCXV336C3MCGRQL4TJINOAWOQSPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJJ4EMID3N4XJSTH3WBKNGWSWA6OD2XKQZ5IHUYZBNJE2JF3FMRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHSQT6T6WH6V5ZFLMYJ67MXYXSC6SNYOQTIMBSXOIIIMLVGWLTHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TX4LYJYH5QGVUZTCZ6KLE6DTYWNPS3W4G5YAQ3VU43ERAIVRTMHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XRPB6RX53D7KQNYRSF4Z4RPWQI2XBT4U5CMX6YYEOHQGAUE7P7UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTR7KHKKH6Z652FNKJTKDLKYMXWGUAAK4YH4XCDDFO64D2GL6HFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRPCYK3M4KYUF3VU4RD2STAK3EIYYWGVU7Y33OI5IS3KNMGHXXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEZJ7HLZP7Y5HACYZZWV4PIWX4V4QJ5S2LSXCNFCDWRWRMBN5L6Q/vendors.js"
            ]
        },
        "DeleteVariantStore": {
            "http": {
                "method": "DELETE",
                "requestUri": "/variantStore/{name}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "name"
                ],
                "members": {
                    "name": {
                        "location": "uri",
                        "locationName": "name"
                    },
                    "force": {
                        "location": "querystring",
                        "locationName": "force",
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "status"
                ],
                "members": {
                    "status": {}
                }
            },
            "endpoint": {
                "hostPrefix": "analytics-"
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MKFIKNMZJH2IIVNFXTFR7G6QOYCELW4CBMTLVQFQMM6R4NGLSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4VLDLHLITCRQYY5IWBIWMEKGNHS6WFZPOMCK3AIOUHQVPR25YSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N7IIZWGJFTVJDTBRCSIGDNX6GFKJ45PXGKK3JCYXK2I6LLPSCNUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6J3TQ7JYINSH7XNKDN2PMMIH4DJBSDCNU23Z5LNDNPBD6CS3JA5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2RLHHN47BFF3Y3KMGR2WNE2HX6BMG2PEUSWVY3JU4G2AOJGD4XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PGDHPMHP6V6J46WY3RKMDBDFIMPJ37EBA43DVMLNUGC56ZLBKYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPNSFXSU5SKO76OJOM2CSM3KK5HWWF72YMIFMSLN42R4U4SDHLTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5AYB3RIPP545MUUVZUM47G2OH5DCYK6VCVVBI5DYPIQRHQTVSJEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYXCNGAZMFD5TZ7GE6ESJNCF67WWRQWNZTZACOQPJY55TRWUO77Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QKVI7IOWXFTW3GSOM6SSVW5RC2SGXOHZC37KRVIEWU2J53JY74ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YYKL6PKU4UMN2JH3CNZY7TJLXTQOH3LWBWZ265DZAA42UWBUUKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VWUOXNNFLYO46YZUHXB2LOKDMVIXZBIEFTURLO3MNKO34PSHDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52CPL33UMNMVAC3WRVFBMTM57G3R4EYYC5HCGSMGAGRZ3E7SV65Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLXZJEZ5DJLCXUZ3MUFLEUJXBUUFOPPUK23I3SPIWPICWHMFAFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2O3TQUIWQS5DJTO5WBCZ3D6DPLHAZXUPP7T5VFM6IAREQJEB7QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LTCGZ65V5TYXF3HV77B5BL6273M3VCB4OB4CUVIL5LTRB5S2SYIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEWF4NNCVVREI32XMOAC6DG6PCXV336C3MCGRQL4TJINOAWOQSPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJJ4EMID3N4XJSTH3WBKNGWSWA6OD2XKQZ5IHUYZBNJE2JF3FMRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHSQT6T6WH6V5ZFLMYJ67MXYXSC6SNYOQTIMBSXOIIIMLVGWLTHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TX4LYJYH5QGVUZTCZ6KLE6DTYWNPS3W4G5YAQ3VU43ERAIVRTMHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XRPB6RX53D7KQNYRSF4Z4RPWQI2XBT4U5CMX6YYEOHQGAUE7P7UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTR7KHKKH6Z652FNKJTKDLKYMXWGUAAK4YH4XCDDFO64D2GL6HFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRPCYK3M4KYUF3VU4RD2STAK3EIYYWGVU7Y33OI5IS3KNMGHXXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEZJ7HLZP7Y5HACYZZWV4PIWX4V4QJ5S2LSXCNFCDWRWRMBN5L6Q/vendors.js"
            ]
        },
        "GetAnnotationImportJob": {
            "http": {
                "method": "GET",
                "requestUri": "/import/annotation/{jobId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "jobId"
                ],
                "members": {
                    "jobId": {
                        "location": "uri",
                        "locationName": "jobId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "id",
                    "destinationName",
                    "roleArn",
                    "status",
                    "statusMessage",
                    "creationTime",
                    "updateTime",
                    "completionTime",
                    "items",
                    "runLeftNormalization",
                    "formatOptions"
                ],
                "members": {
                    "id": {},
                    "destinationName": {},
                    "roleArn": {},
                    "status": {},
                    "statusMessage": {},
                    "creationTime": {
                        "shape": "Sv"
                    },
                    "updateTime": {
                        "shape": "S1a"
                    },
                    "completionTime": {
                        "shape": "S1b"
                    },
                    "items": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "source",
                                "jobStatus"
                            ],
                            "members": {
                                "source": {},
                                "jobStatus": {}
                            }
                        }
                    },
                    "runLeftNormalization": {
                        "type": "boolean"
                    },
                    "formatOptions": {
                        "shape": "S1g"
                    },
                    "annotationFields": {
                        "shape": "S1u"
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "analytics-"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MKFIKNMZJH2IIVNFXTFR7G6QOYCELW4CBMTLVQFQMM6R4NGLSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4VLDLHLITCRQYY5IWBIWMEKGNHS6WFZPOMCK3AIOUHQVPR25YSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N7IIZWGJFTVJDTBRCSIGDNX6GFKJ45PXGKK3JCYXK2I6LLPSCNUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6J3TQ7JYINSH7XNKDN2PMMIH4DJBSDCNU23Z5LNDNPBD6CS3JA5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2RLHHN47BFF3Y3KMGR2WNE2HX6BMG2PEUSWVY3JU4G2AOJGD4XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PGDHPMHP6V6J46WY3RKMDBDFIMPJ37EBA43DVMLNUGC56ZLBKYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPNSFXSU5SKO76OJOM2CSM3KK5HWWF72YMIFMSLN42R4U4SDHLTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5AYB3RIPP545MUUVZUM47G2OH5DCYK6VCVVBI5DYPIQRHQTVSJEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYXCNGAZMFD5TZ7GE6ESJNCF67WWRQWNZTZACOQPJY55TRWUO77Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QKVI7IOWXFTW3GSOM6SSVW5RC2SGXOHZC37KRVIEWU2J53JY74ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YYKL6PKU4UMN2JH3CNZY7TJLXTQOH3LWBWZ265DZAA42UWBUUKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VWUOXNNFLYO46YZUHXB2LOKDMVIXZBIEFTURLO3MNKO34PSHDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52CPL33UMNMVAC3WRVFBMTM57G3R4EYYC5HCGSMGAGRZ3E7SV65Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLXZJEZ5DJLCXUZ3MUFLEUJXBUUFOPPUK23I3SPIWPICWHMFAFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2O3TQUIWQS5DJTO5WBCZ3D6DPLHAZXUPP7T5VFM6IAREQJEB7QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LTCGZ65V5TYXF3HV77B5BL6273M3VCB4OB4CUVIL5LTRB5S2SYIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEWF4NNCVVREI32XMOAC6DG6PCXV336C3MCGRQL4TJINOAWOQSPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJJ4EMID3N4XJSTH3WBKNGWSWA6OD2XKQZ5IHUYZBNJE2JF3FMRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHSQT6T6WH6V5ZFLMYJ67MXYXSC6SNYOQTIMBSXOIIIMLVGWLTHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TX4LYJYH5QGVUZTCZ6KLE6DTYWNPS3W4G5YAQ3VU43ERAIVRTMHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XRPB6RX53D7KQNYRSF4Z4RPWQI2XBT4U5CMX6YYEOHQGAUE7P7UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTR7KHKKH6Z652FNKJTKDLKYMXWGUAAK4YH4XCDDFO64D2GL6HFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRPCYK3M4KYUF3VU4RD2STAK3EIYYWGVU7Y33OI5IS3KNMGHXXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEZJ7HLZP7Y5HACYZZWV4PIWX4V4QJ5S2LSXCNFCDWRWRMBN5L6Q/vendors.js"
            ]
        },
        "GetAnnotationStore": {
            "http": {
                "method": "GET",
                "requestUri": "/annotationStore/{name}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "name"
                ],
                "members": {
                    "name": {
                        "location": "uri",
                        "locationName": "name"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "id",
                    "reference",
                    "status",
                    "storeArn",
                    "name",
                    "description",
                    "sseConfig",
                    "creationTime",
                    "updateTime",
                    "tags",
                    "statusMessage",
                    "storeSizeBytes"
                ],
                "members": {
                    "id": {},
                    "reference": {
                        "shape": "S7"
                    },
                    "status": {},
                    "storeArn": {},
                    "name": {},
                    "description": {},
                    "sseConfig": {
                        "shape": "Se"
                    },
                    "creationTime": {
                        "shape": "Sv"
                    },
                    "updateTime": {
                        "shape": "S1a"
                    },
                    "tags": {
                        "shape": "Sb"
                    },
                    "storeOptions": {
                        "shape": "Si"
                    },
                    "storeFormat": {},
                    "statusMessage": {},
                    "storeSizeBytes": {
                        "type": "long"
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "analytics-"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MKFIKNMZJH2IIVNFXTFR7G6QOYCELW4CBMTLVQFQMM6R4NGLSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4VLDLHLITCRQYY5IWBIWMEKGNHS6WFZPOMCK3AIOUHQVPR25YSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N7IIZWGJFTVJDTBRCSIGDNX6GFKJ45PXGKK3JCYXK2I6LLPSCNUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6J3TQ7JYINSH7XNKDN2PMMIH4DJBSDCNU23Z5LNDNPBD6CS3JA5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2RLHHN47BFF3Y3KMGR2WNE2HX6BMG2PEUSWVY3JU4G2AOJGD4XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PGDHPMHP6V6J46WY3RKMDBDFIMPJ37EBA43DVMLNUGC56ZLBKYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPNSFXSU5SKO76OJOM2CSM3KK5HWWF72YMIFMSLN42R4U4SDHLTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5AYB3RIPP545MUUVZUM47G2OH5DCYK6VCVVBI5DYPIQRHQTVSJEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYXCNGAZMFD5TZ7GE6ESJNCF67WWRQWNZTZACOQPJY55TRWUO77Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QKVI7IOWXFTW3GSOM6SSVW5RC2SGXOHZC37KRVIEWU2J53JY74ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YYKL6PKU4UMN2JH3CNZY7TJLXTQOH3LWBWZ265DZAA42UWBUUKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VWUOXNNFLYO46YZUHXB2LOKDMVIXZBIEFTURLO3MNKO34PSHDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52CPL33UMNMVAC3WRVFBMTM57G3R4EYYC5HCGSMGAGRZ3E7SV65Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLXZJEZ5DJLCXUZ3MUFLEUJXBUUFOPPUK23I3SPIWPICWHMFAFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2O3TQUIWQS5DJTO5WBCZ3D6DPLHAZXUPP7T5VFM6IAREQJEB7QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LTCGZ65V5TYXF3HV77B5BL6273M3VCB4OB4CUVIL5LTRB5S2SYIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEWF4NNCVVREI32XMOAC6DG6PCXV336C3MCGRQL4TJINOAWOQSPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJJ4EMID3N4XJSTH3WBKNGWSWA6OD2XKQZ5IHUYZBNJE2JF3FMRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHSQT6T6WH6V5ZFLMYJ67MXYXSC6SNYOQTIMBSXOIIIMLVGWLTHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TX4LYJYH5QGVUZTCZ6KLE6DTYWNPS3W4G5YAQ3VU43ERAIVRTMHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XRPB6RX53D7KQNYRSF4Z4RPWQI2XBT4U5CMX6YYEOHQGAUE7P7UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTR7KHKKH6Z652FNKJTKDLKYMXWGUAAK4YH4XCDDFO64D2GL6HFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRPCYK3M4KYUF3VU4RD2STAK3EIYYWGVU7Y33OI5IS3KNMGHXXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEZJ7HLZP7Y5HACYZZWV4PIWX4V4QJ5S2LSXCNFCDWRWRMBN5L6Q/vendors.js"
            ]
        },
        "GetVariantImportJob": {
            "http": {
                "method": "GET",
                "requestUri": "/import/variant/{jobId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "jobId"
                ],
                "members": {
                    "jobId": {
                        "location": "uri",
                        "locationName": "jobId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "id",
                    "destinationName",
                    "roleArn",
                    "status",
                    "statusMessage",
                    "creationTime",
                    "updateTime",
                    "items",
                    "runLeftNormalization"
                ],
                "members": {
                    "id": {},
                    "destinationName": {},
                    "roleArn": {},
                    "status": {},
                    "statusMessage": {},
                    "creationTime": {
                        "shape": "Sv"
                    },
                    "updateTime": {
                        "shape": "S1a"
                    },
                    "completionTime": {
                        "shape": "S1b"
                    },
                    "items": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "source",
                                "jobStatus"
                            ],
                            "members": {
                                "source": {},
                                "jobStatus": {},
                                "statusMessage": {}
                            }
                        }
                    },
                    "runLeftNormalization": {
                        "type": "boolean"
                    },
                    "annotationFields": {
                        "shape": "S1u"
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "analytics-"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MKFIKNMZJH2IIVNFXTFR7G6QOYCELW4CBMTLVQFQMM6R4NGLSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4VLDLHLITCRQYY5IWBIWMEKGNHS6WFZPOMCK3AIOUHQVPR25YSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N7IIZWGJFTVJDTBRCSIGDNX6GFKJ45PXGKK3JCYXK2I6LLPSCNUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6J3TQ7JYINSH7XNKDN2PMMIH4DJBSDCNU23Z5LNDNPBD6CS3JA5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2RLHHN47BFF3Y3KMGR2WNE2HX6BMG2PEUSWVY3JU4G2AOJGD4XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PGDHPMHP6V6J46WY3RKMDBDFIMPJ37EBA43DVMLNUGC56ZLBKYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPNSFXSU5SKO76OJOM2CSM3KK5HWWF72YMIFMSLN42R4U4SDHLTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5AYB3RIPP545MUUVZUM47G2OH5DCYK6VCVVBI5DYPIQRHQTVSJEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYXCNGAZMFD5TZ7GE6ESJNCF67WWRQWNZTZACOQPJY55TRWUO77Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QKVI7IOWXFTW3GSOM6SSVW5RC2SGXOHZC37KRVIEWU2J53JY74ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YYKL6PKU4UMN2JH3CNZY7TJLXTQOH3LWBWZ265DZAA42UWBUUKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VWUOXNNFLYO46YZUHXB2LOKDMVIXZBIEFTURLO3MNKO34PSHDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52CPL33UMNMVAC3WRVFBMTM57G3R4EYYC5HCGSMGAGRZ3E7SV65Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLXZJEZ5DJLCXUZ3MUFLEUJXBUUFOPPUK23I3SPIWPICWHMFAFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2O3TQUIWQS5DJTO5WBCZ3D6DPLHAZXUPP7T5VFM6IAREQJEB7QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LTCGZ65V5TYXF3HV77B5BL6273M3VCB4OB4CUVIL5LTRB5S2SYIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEWF4NNCVVREI32XMOAC6DG6PCXV336C3MCGRQL4TJINOAWOQSPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJJ4EMID3N4XJSTH3WBKNGWSWA6OD2XKQZ5IHUYZBNJE2JF3FMRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHSQT6T6WH6V5ZFLMYJ67MXYXSC6SNYOQTIMBSXOIIIMLVGWLTHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TX4LYJYH5QGVUZTCZ6KLE6DTYWNPS3W4G5YAQ3VU43ERAIVRTMHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XRPB6RX53D7KQNYRSF4Z4RPWQI2XBT4U5CMX6YYEOHQGAUE7P7UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTR7KHKKH6Z652FNKJTKDLKYMXWGUAAK4YH4XCDDFO64D2GL6HFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRPCYK3M4KYUF3VU4RD2STAK3EIYYWGVU7Y33OI5IS3KNMGHXXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEZJ7HLZP7Y5HACYZZWV4PIWX4V4QJ5S2LSXCNFCDWRWRMBN5L6Q/vendors.js"
            ]
        },
        "GetVariantStore": {
            "http": {
                "method": "GET",
                "requestUri": "/variantStore/{name}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "name"
                ],
                "members": {
                    "name": {
                        "location": "uri",
                        "locationName": "name"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "id",
                    "reference",
                    "status",
                    "storeArn",
                    "name",
                    "description",
                    "sseConfig",
                    "creationTime",
                    "updateTime",
                    "tags",
                    "statusMessage",
                    "storeSizeBytes"
                ],
                "members": {
                    "id": {},
                    "reference": {
                        "shape": "S7"
                    },
                    "status": {},
                    "storeArn": {},
                    "name": {},
                    "description": {},
                    "sseConfig": {
                        "shape": "Se"
                    },
                    "creationTime": {
                        "shape": "Sv"
                    },
                    "updateTime": {
                        "shape": "S1a"
                    },
                    "tags": {
                        "shape": "Sb"
                    },
                    "statusMessage": {},
                    "storeSizeBytes": {
                        "type": "long"
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "analytics-"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MKFIKNMZJH2IIVNFXTFR7G6QOYCELW4CBMTLVQFQMM6R4NGLSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4VLDLHLITCRQYY5IWBIWMEKGNHS6WFZPOMCK3AIOUHQVPR25YSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N7IIZWGJFTVJDTBRCSIGDNX6GFKJ45PXGKK3JCYXK2I6LLPSCNUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6J3TQ7JYINSH7XNKDN2PMMIH4DJBSDCNU23Z5LNDNPBD6CS3JA5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2RLHHN47BFF3Y3KMGR2WNE2HX6BMG2PEUSWVY3JU4G2AOJGD4XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PGDHPMHP6V6J46WY3RKMDBDFIMPJ37EBA43DVMLNUGC56ZLBKYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPNSFXSU5SKO76OJOM2CSM3KK5HWWF72YMIFMSLN42R4U4SDHLTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5AYB3RIPP545MUUVZUM47G2OH5DCYK6VCVVBI5DYPIQRHQTVSJEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYXCNGAZMFD5TZ7GE6ESJNCF67WWRQWNZTZACOQPJY55TRWUO77Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QKVI7IOWXFTW3GSOM6SSVW5RC2SGXOHZC37KRVIEWU2J53JY74ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YYKL6PKU4UMN2JH3CNZY7TJLXTQOH3LWBWZ265DZAA42UWBUUKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VWUOXNNFLYO46YZUHXB2LOKDMVIXZBIEFTURLO3MNKO34PSHDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52CPL33UMNMVAC3WRVFBMTM57G3R4EYYC5HCGSMGAGRZ3E7SV65Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLXZJEZ5DJLCXUZ3MUFLEUJXBUUFOPPUK23I3SPIWPICWHMFAFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2O3TQUIWQS5DJTO5WBCZ3D6DPLHAZXUPP7T5VFM6IAREQJEB7QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LTCGZ65V5TYXF3HV77B5BL6273M3VCB4OB4CUVIL5LTRB5S2SYIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEWF4NNCVVREI32XMOAC6DG6PCXV336C3MCGRQL4TJINOAWOQSPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJJ4EMID3N4XJSTH3WBKNGWSWA6OD2XKQZ5IHUYZBNJE2JF3FMRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHSQT6T6WH6V5ZFLMYJ67MXYXSC6SNYOQTIMBSXOIIIMLVGWLTHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TX4LYJYH5QGVUZTCZ6KLE6DTYWNPS3W4G5YAQ3VU43ERAIVRTMHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XRPB6RX53D7KQNYRSF4Z4RPWQI2XBT4U5CMX6YYEOHQGAUE7P7UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTR7KHKKH6Z652FNKJTKDLKYMXWGUAAK4YH4XCDDFO64D2GL6HFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRPCYK3M4KYUF3VU4RD2STAK3EIYYWGVU7Y33OI5IS3KNMGHXXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEZJ7HLZP7Y5HACYZZWV4PIWX4V4QJ5S2LSXCNFCDWRWRMBN5L6Q/vendors.js"
            ]
        },
        "ListAnnotationImportJobs": {
            "http": {
                "requestUri": "/import/annotations",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "ids": {
                        "type": "list",
                        "member": {}
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "filter": {
                        "type": "structure",
                        "members": {
                            "status": {},
                            "storeName": {}
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "annotationImportJobs": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "id",
                                "destinationName",
                                "roleArn",
                                "status",
                                "creationTime",
                                "updateTime"
                            ],
                            "members": {
                                "id": {},
                                "destinationName": {},
                                "roleArn": {},
                                "status": {},
                                "creationTime": {
                                    "shape": "Sv"
                                },
                                "updateTime": {
                                    "shape": "S1a"
                                },
                                "completionTime": {
                                    "shape": "S1b"
                                },
                                "runLeftNormalization": {
                                    "type": "boolean"
                                },
                                "annotationFields": {
                                    "shape": "S1u"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "endpoint": {
                "hostPrefix": "analytics-"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MKFIKNMZJH2IIVNFXTFR7G6QOYCELW4CBMTLVQFQMM6R4NGLSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4VLDLHLITCRQYY5IWBIWMEKGNHS6WFZPOMCK3AIOUHQVPR25YSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N7IIZWGJFTVJDTBRCSIGDNX6GFKJ45PXGKK3JCYXK2I6LLPSCNUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6J3TQ7JYINSH7XNKDN2PMMIH4DJBSDCNU23Z5LNDNPBD6CS3JA5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2RLHHN47BFF3Y3KMGR2WNE2HX6BMG2PEUSWVY3JU4G2AOJGD4XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PGDHPMHP6V6J46WY3RKMDBDFIMPJ37EBA43DVMLNUGC56ZLBKYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPNSFXSU5SKO76OJOM2CSM3KK5HWWF72YMIFMSLN42R4U4SDHLTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5AYB3RIPP545MUUVZUM47G2OH5DCYK6VCVVBI5DYPIQRHQTVSJEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYXCNGAZMFD5TZ7GE6ESJNCF67WWRQWNZTZACOQPJY55TRWUO77Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QKVI7IOWXFTW3GSOM6SSVW5RC2SGXOHZC37KRVIEWU2J53JY74ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YYKL6PKU4UMN2JH3CNZY7TJLXTQOH3LWBWZ265DZAA42UWBUUKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VWUOXNNFLYO46YZUHXB2LOKDMVIXZBIEFTURLO3MNKO34PSHDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52CPL33UMNMVAC3WRVFBMTM57G3R4EYYC5HCGSMGAGRZ3E7SV65Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLXZJEZ5DJLCXUZ3MUFLEUJXBUUFOPPUK23I3SPIWPICWHMFAFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2O3TQUIWQS5DJTO5WBCZ3D6DPLHAZXUPP7T5VFM6IAREQJEB7QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LTCGZ65V5TYXF3HV77B5BL6273M3VCB4OB4CUVIL5LTRB5S2SYIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEWF4NNCVVREI32XMOAC6DG6PCXV336C3MCGRQL4TJINOAWOQSPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJJ4EMID3N4XJSTH3WBKNGWSWA6OD2XKQZ5IHUYZBNJE2JF3FMRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHSQT6T6WH6V5ZFLMYJ67MXYXSC6SNYOQTIMBSXOIIIMLVGWLTHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TX4LYJYH5QGVUZTCZ6KLE6DTYWNPS3W4G5YAQ3VU43ERAIVRTMHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XRPB6RX53D7KQNYRSF4Z4RPWQI2XBT4U5CMX6YYEOHQGAUE7P7UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTR7KHKKH6Z652FNKJTKDLKYMXWGUAAK4YH4XCDDFO64D2GL6HFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRPCYK3M4KYUF3VU4RD2STAK3EIYYWGVU7Y33OI5IS3KNMGHXXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEZJ7HLZP7Y5HACYZZWV4PIWX4V4QJ5S2LSXCNFCDWRWRMBN5L6Q/vendors.js"
            ]
        },
        "ListAnnotationStores": {
            "http": {
                "requestUri": "/annotationStores",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ids": {
                        "type": "list",
                        "member": {}
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "filter": {
                        "type": "structure",
                        "members": {
                            "status": {}
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "annotationStores": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "id",
                                "reference",
                                "status",
                                "storeArn",
                                "name",
                                "storeFormat",
                                "description",
                                "sseConfig",
                                "creationTime",
                                "updateTime",
                                "statusMessage",
                                "storeSizeBytes"
                            ],
                            "members": {
                                "id": {},
                                "reference": {
                                    "shape": "S7"
                                },
                                "status": {},
                                "storeArn": {},
                                "name": {},
                                "storeFormat": {},
                                "description": {},
                                "sseConfig": {
                                    "shape": "Se"
                                },
                                "creationTime": {
                                    "shape": "Sv"
                                },
                                "updateTime": {
                                    "shape": "S1a"
                                },
                                "statusMessage": {},
                                "storeSizeBytes": {
                                    "type": "long"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "endpoint": {
                "hostPrefix": "analytics-"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MKFIKNMZJH2IIVNFXTFR7G6QOYCELW4CBMTLVQFQMM6R4NGLSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4VLDLHLITCRQYY5IWBIWMEKGNHS6WFZPOMCK3AIOUHQVPR25YSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N7IIZWGJFTVJDTBRCSIGDNX6GFKJ45PXGKK3JCYXK2I6LLPSCNUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6J3TQ7JYINSH7XNKDN2PMMIH4DJBSDCNU23Z5LNDNPBD6CS3JA5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2RLHHN47BFF3Y3KMGR2WNE2HX6BMG2PEUSWVY3JU4G2AOJGD4XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PGDHPMHP6V6J46WY3RKMDBDFIMPJ37EBA43DVMLNUGC56ZLBKYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPNSFXSU5SKO76OJOM2CSM3KK5HWWF72YMIFMSLN42R4U4SDHLTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5AYB3RIPP545MUUVZUM47G2OH5DCYK6VCVVBI5DYPIQRHQTVSJEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYXCNGAZMFD5TZ7GE6ESJNCF67WWRQWNZTZACOQPJY55TRWUO77Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QKVI7IOWXFTW3GSOM6SSVW5RC2SGXOHZC37KRVIEWU2J53JY74ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YYKL6PKU4UMN2JH3CNZY7TJLXTQOH3LWBWZ265DZAA42UWBUUKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VWUOXNNFLYO46YZUHXB2LOKDMVIXZBIEFTURLO3MNKO34PSHDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52CPL33UMNMVAC3WRVFBMTM57G3R4EYYC5HCGSMGAGRZ3E7SV65Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLXZJEZ5DJLCXUZ3MUFLEUJXBUUFOPPUK23I3SPIWPICWHMFAFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2O3TQUIWQS5DJTO5WBCZ3D6DPLHAZXUPP7T5VFM6IAREQJEB7QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LTCGZ65V5TYXF3HV77B5BL6273M3VCB4OB4CUVIL5LTRB5S2SYIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEWF4NNCVVREI32XMOAC6DG6PCXV336C3MCGRQL4TJINOAWOQSPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJJ4EMID3N4XJSTH3WBKNGWSWA6OD2XKQZ5IHUYZBNJE2JF3FMRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHSQT6T6WH6V5ZFLMYJ67MXYXSC6SNYOQTIMBSXOIIIMLVGWLTHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TX4LYJYH5QGVUZTCZ6KLE6DTYWNPS3W4G5YAQ3VU43ERAIVRTMHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XRPB6RX53D7KQNYRSF4Z4RPWQI2XBT4U5CMX6YYEOHQGAUE7P7UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTR7KHKKH6Z652FNKJTKDLKYMXWGUAAK4YH4XCDDFO64D2GL6HFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRPCYK3M4KYUF3VU4RD2STAK3EIYYWGVU7Y33OI5IS3KNMGHXXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEZJ7HLZP7Y5HACYZZWV4PIWX4V4QJ5S2LSXCNFCDWRWRMBN5L6Q/vendors.js"
            ]
        },
        "ListVariantImportJobs": {
            "http": {
                "requestUri": "/import/variants",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "ids": {
                        "type": "list",
                        "member": {}
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "filter": {
                        "type": "structure",
                        "members": {
                            "status": {},
                            "storeName": {}
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "variantImportJobs": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "id",
                                "destinationName",
                                "roleArn",
                                "status",
                                "creationTime",
                                "updateTime"
                            ],
                            "members": {
                                "id": {},
                                "destinationName": {},
                                "roleArn": {},
                                "status": {},
                                "creationTime": {
                                    "shape": "Sv"
                                },
                                "updateTime": {
                                    "shape": "S1a"
                                },
                                "completionTime": {
                                    "shape": "S1b"
                                },
                                "runLeftNormalization": {
                                    "type": "boolean"
                                },
                                "annotationFields": {
                                    "shape": "S1u"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "endpoint": {
                "hostPrefix": "analytics-"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MKFIKNMZJH2IIVNFXTFR7G6QOYCELW4CBMTLVQFQMM6R4NGLSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4VLDLHLITCRQYY5IWBIWMEKGNHS6WFZPOMCK3AIOUHQVPR25YSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N7IIZWGJFTVJDTBRCSIGDNX6GFKJ45PXGKK3JCYXK2I6LLPSCNUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6J3TQ7JYINSH7XNKDN2PMMIH4DJBSDCNU23Z5LNDNPBD6CS3JA5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2RLHHN47BFF3Y3KMGR2WNE2HX6BMG2PEUSWVY3JU4G2AOJGD4XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PGDHPMHP6V6J46WY3RKMDBDFIMPJ37EBA43DVMLNUGC56ZLBKYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPNSFXSU5SKO76OJOM2CSM3KK5HWWF72YMIFMSLN42R4U4SDHLTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5AYB3RIPP545MUUVZUM47G2OH5DCYK6VCVVBI5DYPIQRHQTVSJEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYXCNGAZMFD5TZ7GE6ESJNCF67WWRQWNZTZACOQPJY55TRWUO77Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QKVI7IOWXFTW3GSOM6SSVW5RC2SGXOHZC37KRVIEWU2J53JY74ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YYKL6PKU4UMN2JH3CNZY7TJLXTQOH3LWBWZ265DZAA42UWBUUKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VWUOXNNFLYO46YZUHXB2LOKDMVIXZBIEFTURLO3MNKO34PSHDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52CPL33UMNMVAC3WRVFBMTM57G3R4EYYC5HCGSMGAGRZ3E7SV65Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLXZJEZ5DJLCXUZ3MUFLEUJXBUUFOPPUK23I3SPIWPICWHMFAFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2O3TQUIWQS5DJTO5WBCZ3D6DPLHAZXUPP7T5VFM6IAREQJEB7QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LTCGZ65V5TYXF3HV77B5BL6273M3VCB4OB4CUVIL5LTRB5S2SYIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEWF4NNCVVREI32XMOAC6DG6PCXV336C3MCGRQL4TJINOAWOQSPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJJ4EMID3N4XJSTH3WBKNGWSWA6OD2XKQZ5IHUYZBNJE2JF3FMRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHSQT6T6WH6V5ZFLMYJ67MXYXSC6SNYOQTIMBSXOIIIMLVGWLTHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TX4LYJYH5QGVUZTCZ6KLE6DTYWNPS3W4G5YAQ3VU43ERAIVRTMHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XRPB6RX53D7KQNYRSF4Z4RPWQI2XBT4U5CMX6YYEOHQGAUE7P7UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTR7KHKKH6Z652FNKJTKDLKYMXWGUAAK4YH4XCDDFO64D2GL6HFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRPCYK3M4KYUF3VU4RD2STAK3EIYYWGVU7Y33OI5IS3KNMGHXXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEZJ7HLZP7Y5HACYZZWV4PIWX4V4QJ5S2LSXCNFCDWRWRMBN5L6Q/vendors.js"
            ]
        },
        "ListVariantStores": {
            "http": {
                "requestUri": "/variantStores",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "ids": {
                        "type": "list",
                        "member": {}
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "filter": {
                        "type": "structure",
                        "members": {
                            "status": {}
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "variantStores": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "id",
                                "reference",
                                "status",
                                "storeArn",
                                "name",
                                "description",
                                "sseConfig",
                                "creationTime",
                                "updateTime",
                                "statusMessage",
                                "storeSizeBytes"
                            ],
                            "members": {
                                "id": {},
                                "reference": {
                                    "shape": "S7"
                                },
                                "status": {},
                                "storeArn": {},
                                "name": {},
                                "description": {},
                                "sseConfig": {
                                    "shape": "Se"
                                },
                                "creationTime": {
                                    "shape": "Sv"
                                },
                                "updateTime": {
                                    "shape": "S1a"
                                },
                                "statusMessage": {},
                                "storeSizeBytes": {
                                    "type": "long"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "endpoint": {
                "hostPrefix": "analytics-"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MKFIKNMZJH2IIVNFXTFR7G6QOYCELW4CBMTLVQFQMM6R4NGLSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4VLDLHLITCRQYY5IWBIWMEKGNHS6WFZPOMCK3AIOUHQVPR25YSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N7IIZWGJFTVJDTBRCSIGDNX6GFKJ45PXGKK3JCYXK2I6LLPSCNUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6J3TQ7JYINSH7XNKDN2PMMIH4DJBSDCNU23Z5LNDNPBD6CS3JA5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2RLHHN47BFF3Y3KMGR2WNE2HX6BMG2PEUSWVY3JU4G2AOJGD4XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PGDHPMHP6V6J46WY3RKMDBDFIMPJ37EBA43DVMLNUGC56ZLBKYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPNSFXSU5SKO76OJOM2CSM3KK5HWWF72YMIFMSLN42R4U4SDHLTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5AYB3RIPP545MUUVZUM47G2OH5DCYK6VCVVBI5DYPIQRHQTVSJEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYXCNGAZMFD5TZ7GE6ESJNCF67WWRQWNZTZACOQPJY55TRWUO77Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QKVI7IOWXFTW3GSOM6SSVW5RC2SGXOHZC37KRVIEWU2J53JY74ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YYKL6PKU4UMN2JH3CNZY7TJLXTQOH3LWBWZ265DZAA42UWBUUKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VWUOXNNFLYO46YZUHXB2LOKDMVIXZBIEFTURLO3MNKO34PSHDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52CPL33UMNMVAC3WRVFBMTM57G3R4EYYC5HCGSMGAGRZ3E7SV65Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLXZJEZ5DJLCXUZ3MUFLEUJXBUUFOPPUK23I3SPIWPICWHMFAFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2O3TQUIWQS5DJTO5WBCZ3D6DPLHAZXUPP7T5VFM6IAREQJEB7QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LTCGZ65V5TYXF3HV77B5BL6273M3VCB4OB4CUVIL5LTRB5S2SYIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEWF4NNCVVREI32XMOAC6DG6PCXV336C3MCGRQL4TJINOAWOQSPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJJ4EMID3N4XJSTH3WBKNGWSWA6OD2XKQZ5IHUYZBNJE2JF3FMRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHSQT6T6WH6V5ZFLMYJ67MXYXSC6SNYOQTIMBSXOIIIMLVGWLTHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TX4LYJYH5QGVUZTCZ6KLE6DTYWNPS3W4G5YAQ3VU43ERAIVRTMHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XRPB6RX53D7KQNYRSF4Z4RPWQI2XBT4U5CMX6YYEOHQGAUE7P7UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTR7KHKKH6Z652FNKJTKDLKYMXWGUAAK4YH4XCDDFO64D2GL6HFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRPCYK3M4KYUF3VU4RD2STAK3EIYYWGVU7Y33OI5IS3KNMGHXXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEZJ7HLZP7Y5HACYZZWV4PIWX4V4QJ5S2LSXCNFCDWRWRMBN5L6Q/vendors.js"
            ]
        },
        "StartAnnotationImportJob": {
            "http": {
                "requestUri": "/import/annotation",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "destinationName",
                    "roleArn",
                    "items"
                ],
                "members": {
                    "destinationName": {},
                    "roleArn": {},
                    "items": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "source"
                            ],
                            "members": {
                                "source": {}
                            }
                        }
                    },
                    "formatOptions": {
                        "shape": "S1g"
                    },
                    "runLeftNormalization": {
                        "type": "boolean"
                    },
                    "annotationFields": {
                        "shape": "S1u"
                    },
                    "versionName": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "jobId"
                ],
                "members": {
                    "jobId": {}
                }
            },
            "endpoint": {
                "hostPrefix": "analytics-"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MKFIKNMZJH2IIVNFXTFR7G6QOYCELW4CBMTLVQFQMM6R4NGLSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4VLDLHLITCRQYY5IWBIWMEKGNHS6WFZPOMCK3AIOUHQVPR25YSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N7IIZWGJFTVJDTBRCSIGDNX6GFKJ45PXGKK3JCYXK2I6LLPSCNUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6J3TQ7JYINSH7XNKDN2PMMIH4DJBSDCNU23Z5LNDNPBD6CS3JA5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2RLHHN47BFF3Y3KMGR2WNE2HX6BMG2PEUSWVY3JU4G2AOJGD4XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PGDHPMHP6V6J46WY3RKMDBDFIMPJ37EBA43DVMLNUGC56ZLBKYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPNSFXSU5SKO76OJOM2CSM3KK5HWWF72YMIFMSLN42R4U4SDHLTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5AYB3RIPP545MUUVZUM47G2OH5DCYK6VCVVBI5DYPIQRHQTVSJEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYXCNGAZMFD5TZ7GE6ESJNCF67WWRQWNZTZACOQPJY55TRWUO77Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QKVI7IOWXFTW3GSOM6SSVW5RC2SGXOHZC37KRVIEWU2J53JY74ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YYKL6PKU4UMN2JH3CNZY7TJLXTQOH3LWBWZ265DZAA42UWBUUKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VWUOXNNFLYO46YZUHXB2LOKDMVIXZBIEFTURLO3MNKO34PSHDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52CPL33UMNMVAC3WRVFBMTM57G3R4EYYC5HCGSMGAGRZ3E7SV65Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLXZJEZ5DJLCXUZ3MUFLEUJXBUUFOPPUK23I3SPIWPICWHMFAFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2O3TQUIWQS5DJTO5WBCZ3D6DPLHAZXUPP7T5VFM6IAREQJEB7QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LTCGZ65V5TYXF3HV77B5BL6273M3VCB4OB4CUVIL5LTRB5S2SYIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEWF4NNCVVREI32XMOAC6DG6PCXV336C3MCGRQL4TJINOAWOQSPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJJ4EMID3N4XJSTH3WBKNGWSWA6OD2XKQZ5IHUYZBNJE2JF3FMRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHSQT6T6WH6V5ZFLMYJ67MXYXSC6SNYOQTIMBSXOIIIMLVGWLTHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TX4LYJYH5QGVUZTCZ6KLE6DTYWNPS3W4G5YAQ3VU43ERAIVRTMHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XRPB6RX53D7KQNYRSF4Z4RPWQI2XBT4U5CMX6YYEOHQGAUE7P7UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTR7KHKKH6Z652FNKJTKDLKYMXWGUAAK4YH4XCDDFO64D2GL6HFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRPCYK3M4KYUF3VU4RD2STAK3EIYYWGVU7Y33OI5IS3KNMGHXXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEZJ7HLZP7Y5HACYZZWV4PIWX4V4QJ5S2LSXCNFCDWRWRMBN5L6Q/vendors.js"
            ]
        },
        "StartVariantImportJob": {
            "http": {
                "requestUri": "/import/variant",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "destinationName",
                    "roleArn",
                    "items"
                ],
                "members": {
                    "destinationName": {},
                    "roleArn": {},
                    "items": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "source"
                            ],
                            "members": {
                                "source": {}
                            }
                        }
                    },
                    "runLeftNormalization": {
                        "type": "boolean"
                    },
                    "annotationFields": {
                        "shape": "S1u"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "jobId"
                ],
                "members": {
                    "jobId": {}
                }
            },
            "endpoint": {
                "hostPrefix": "analytics-"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MKFIKNMZJH2IIVNFXTFR7G6QOYCELW4CBMTLVQFQMM6R4NGLSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4VLDLHLITCRQYY5IWBIWMEKGNHS6WFZPOMCK3AIOUHQVPR25YSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N7IIZWGJFTVJDTBRCSIGDNX6GFKJ45PXGKK3JCYXK2I6LLPSCNUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6J3TQ7JYINSH7XNKDN2PMMIH4DJBSDCNU23Z5LNDNPBD6CS3JA5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2RLHHN47BFF3Y3KMGR2WNE2HX6BMG2PEUSWVY3JU4G2AOJGD4XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PGDHPMHP6V6J46WY3RKMDBDFIMPJ37EBA43DVMLNUGC56ZLBKYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPNSFXSU5SKO76OJOM2CSM3KK5HWWF72YMIFMSLN42R4U4SDHLTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5AYB3RIPP545MUUVZUM47G2OH5DCYK6VCVVBI5DYPIQRHQTVSJEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYXCNGAZMFD5TZ7GE6ESJNCF67WWRQWNZTZACOQPJY55TRWUO77Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QKVI7IOWXFTW3GSOM6SSVW5RC2SGXOHZC37KRVIEWU2J53JY74ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YYKL6PKU4UMN2JH3CNZY7TJLXTQOH3LWBWZ265DZAA42UWBUUKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VWUOXNNFLYO46YZUHXB2LOKDMVIXZBIEFTURLO3MNKO34PSHDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52CPL33UMNMVAC3WRVFBMTM57G3R4EYYC5HCGSMGAGRZ3E7SV65Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLXZJEZ5DJLCXUZ3MUFLEUJXBUUFOPPUK23I3SPIWPICWHMFAFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2O3TQUIWQS5DJTO5WBCZ3D6DPLHAZXUPP7T5VFM6IAREQJEB7QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LTCGZ65V5TYXF3HV77B5BL6273M3VCB4OB4CUVIL5LTRB5S2SYIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEWF4NNCVVREI32XMOAC6DG6PCXV336C3MCGRQL4TJINOAWOQSPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJJ4EMID3N4XJSTH3WBKNGWSWA6OD2XKQZ5IHUYZBNJE2JF3FMRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHSQT6T6WH6V5ZFLMYJ67MXYXSC6SNYOQTIMBSXOIIIMLVGWLTHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TX4LYJYH5QGVUZTCZ6KLE6DTYWNPS3W4G5YAQ3VU43ERAIVRTMHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XRPB6RX53D7KQNYRSF4Z4RPWQI2XBT4U5CMX6YYEOHQGAUE7P7UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTR7KHKKH6Z652FNKJTKDLKYMXWGUAAK4YH4XCDDFO64D2GL6HFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRPCYK3M4KYUF3VU4RD2STAK3EIYYWGVU7Y33OI5IS3KNMGHXXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEZJ7HLZP7Y5HACYZZWV4PIWX4V4QJ5S2LSXCNFCDWRWRMBN5L6Q/vendors.js"
            ]
        },
        "UpdateAnnotationStore": {
            "http": {
                "requestUri": "/annotationStore/{name}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "name"
                ],
                "members": {
                    "name": {
                        "location": "uri",
                        "locationName": "name"
                    },
                    "description": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "id",
                    "reference",
                    "status",
                    "name",
                    "description",
                    "creationTime",
                    "updateTime"
                ],
                "members": {
                    "id": {},
                    "reference": {
                        "shape": "S7"
                    },
                    "status": {},
                    "name": {},
                    "description": {},
                    "creationTime": {
                        "shape": "Sv"
                    },
                    "updateTime": {
                        "shape": "S1a"
                    },
                    "storeOptions": {
                        "shape": "Si"
                    },
                    "storeFormat": {}
                }
            },
            "endpoint": {
                "hostPrefix": "analytics-"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MKFIKNMZJH2IIVNFXTFR7G6QOYCELW4CBMTLVQFQMM6R4NGLSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4VLDLHLITCRQYY5IWBIWMEKGNHS6WFZPOMCK3AIOUHQVPR25YSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N7IIZWGJFTVJDTBRCSIGDNX6GFKJ45PXGKK3JCYXK2I6LLPSCNUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6J3TQ7JYINSH7XNKDN2PMMIH4DJBSDCNU23Z5LNDNPBD6CS3JA5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2RLHHN47BFF3Y3KMGR2WNE2HX6BMG2PEUSWVY3JU4G2AOJGD4XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PGDHPMHP6V6J46WY3RKMDBDFIMPJ37EBA43DVMLNUGC56ZLBKYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPNSFXSU5SKO76OJOM2CSM3KK5HWWF72YMIFMSLN42R4U4SDHLTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5AYB3RIPP545MUUVZUM47G2OH5DCYK6VCVVBI5DYPIQRHQTVSJEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYXCNGAZMFD5TZ7GE6ESJNCF67WWRQWNZTZACOQPJY55TRWUO77Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QKVI7IOWXFTW3GSOM6SSVW5RC2SGXOHZC37KRVIEWU2J53JY74ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YYKL6PKU4UMN2JH3CNZY7TJLXTQOH3LWBWZ265DZAA42UWBUUKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VWUOXNNFLYO46YZUHXB2LOKDMVIXZBIEFTURLO3MNKO34PSHDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52CPL33UMNMVAC3WRVFBMTM57G3R4EYYC5HCGSMGAGRZ3E7SV65Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLXZJEZ5DJLCXUZ3MUFLEUJXBUUFOPPUK23I3SPIWPICWHMFAFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2O3TQUIWQS5DJTO5WBCZ3D6DPLHAZXUPP7T5VFM6IAREQJEB7QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LTCGZ65V5TYXF3HV77B5BL6273M3VCB4OB4CUVIL5LTRB5S2SYIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEWF4NNCVVREI32XMOAC6DG6PCXV336C3MCGRQL4TJINOAWOQSPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJJ4EMID3N4XJSTH3WBKNGWSWA6OD2XKQZ5IHUYZBNJE2JF3FMRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHSQT6T6WH6V5ZFLMYJ67MXYXSC6SNYOQTIMBSXOIIIMLVGWLTHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TX4LYJYH5QGVUZTCZ6KLE6DTYWNPS3W4G5YAQ3VU43ERAIVRTMHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XRPB6RX53D7KQNYRSF4Z4RPWQI2XBT4U5CMX6YYEOHQGAUE7P7UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTR7KHKKH6Z652FNKJTKDLKYMXWGUAAK4YH4XCDDFO64D2GL6HFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRPCYK3M4KYUF3VU4RD2STAK3EIYYWGVU7Y33OI5IS3KNMGHXXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEZJ7HLZP7Y5HACYZZWV4PIWX4V4QJ5S2LSXCNFCDWRWRMBN5L6Q/vendors.js"
            ]
        },
        "UpdateVariantStore": {
            "http": {
                "requestUri": "/variantStore/{name}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "name"
                ],
                "members": {
                    "name": {
                        "location": "uri",
                        "locationName": "name"
                    },
                    "description": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "id",
                    "reference",
                    "status",
                    "name",
                    "description",
                    "creationTime",
                    "updateTime"
                ],
                "members": {
                    "id": {},
                    "reference": {
                        "shape": "S7"
                    },
                    "status": {},
                    "name": {},
                    "description": {},
                    "creationTime": {
                        "shape": "Sv"
                    },
                    "updateTime": {
                        "shape": "S1a"
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "analytics-"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MKFIKNMZJH2IIVNFXTFR7G6QOYCELW4CBMTLVQFQMM6R4NGLSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4VLDLHLITCRQYY5IWBIWMEKGNHS6WFZPOMCK3AIOUHQVPR25YSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N7IIZWGJFTVJDTBRCSIGDNX6GFKJ45PXGKK3JCYXK2I6LLPSCNUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6J3TQ7JYINSH7XNKDN2PMMIH4DJBSDCNU23Z5LNDNPBD6CS3JA5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2RLHHN47BFF3Y3KMGR2WNE2HX6BMG2PEUSWVY3JU4G2AOJGD4XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PGDHPMHP6V6J46WY3RKMDBDFIMPJ37EBA43DVMLNUGC56ZLBKYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPNSFXSU5SKO76OJOM2CSM3KK5HWWF72YMIFMSLN42R4U4SDHLTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5AYB3RIPP545MUUVZUM47G2OH5DCYK6VCVVBI5DYPIQRHQTVSJEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYXCNGAZMFD5TZ7GE6ESJNCF67WWRQWNZTZACOQPJY55TRWUO77Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QKVI7IOWXFTW3GSOM6SSVW5RC2SGXOHZC37KRVIEWU2J53JY74ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YYKL6PKU4UMN2JH3CNZY7TJLXTQOH3LWBWZ265DZAA42UWBUUKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VWUOXNNFLYO46YZUHXB2LOKDMVIXZBIEFTURLO3MNKO34PSHDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52CPL33UMNMVAC3WRVFBMTM57G3R4EYYC5HCGSMGAGRZ3E7SV65Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLXZJEZ5DJLCXUZ3MUFLEUJXBUUFOPPUK23I3SPIWPICWHMFAFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2O3TQUIWQS5DJTO5WBCZ3D6DPLHAZXUPP7T5VFM6IAREQJEB7QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LTCGZ65V5TYXF3HV77B5BL6273M3VCB4OB4CUVIL5LTRB5S2SYIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEWF4NNCVVREI32XMOAC6DG6PCXV336C3MCGRQL4TJINOAWOQSPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJJ4EMID3N4XJSTH3WBKNGWSWA6OD2XKQZ5IHUYZBNJE2JF3FMRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHSQT6T6WH6V5ZFLMYJ67MXYXSC6SNYOQTIMBSXOIIIMLVGWLTHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TX4LYJYH5QGVUZTCZ6KLE6DTYWNPS3W4G5YAQ3VU43ERAIVRTMHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XRPB6RX53D7KQNYRSF4Z4RPWQI2XBT4U5CMX6YYEOHQGAUE7P7UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTR7KHKKH6Z652FNKJTKDLKYMXWGUAAK4YH4XCDDFO64D2GL6HFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRPCYK3M4KYUF3VU4RD2STAK3EIYYWGVU7Y33OI5IS3KNMGHXXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEZJ7HLZP7Y5HACYZZWV4PIWX4V4QJ5S2LSXCNFCDWRWRMBN5L6Q/vendors.js"
            ]
        },
        "AcceptShare": {
            "http": {
                "requestUri": "/share/{shareId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "shareId"
                ],
                "members": {
                    "shareId": {
                        "location": "uri",
                        "locationName": "shareId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "status": {}
                }
            },
            "endpoint": {
                "hostPrefix": "analytics-"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MKFIKNMZJH2IIVNFXTFR7G6QOYCELW4CBMTLVQFQMM6R4NGLSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4VLDLHLITCRQYY5IWBIWMEKGNHS6WFZPOMCK3AIOUHQVPR25YSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N7IIZWGJFTVJDTBRCSIGDNX6GFKJ45PXGKK3JCYXK2I6LLPSCNUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6J3TQ7JYINSH7XNKDN2PMMIH4DJBSDCNU23Z5LNDNPBD6CS3JA5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2RLHHN47BFF3Y3KMGR2WNE2HX6BMG2PEUSWVY3JU4G2AOJGD4XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PGDHPMHP6V6J46WY3RKMDBDFIMPJ37EBA43DVMLNUGC56ZLBKYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPNSFXSU5SKO76OJOM2CSM3KK5HWWF72YMIFMSLN42R4U4SDHLTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5AYB3RIPP545MUUVZUM47G2OH5DCYK6VCVVBI5DYPIQRHQTVSJEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYXCNGAZMFD5TZ7GE6ESJNCF67WWRQWNZTZACOQPJY55TRWUO77Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QKVI7IOWXFTW3GSOM6SSVW5RC2SGXOHZC37KRVIEWU2J53JY74ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YYKL6PKU4UMN2JH3CNZY7TJLXTQOH3LWBWZ265DZAA42UWBUUKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VWUOXNNFLYO46YZUHXB2LOKDMVIXZBIEFTURLO3MNKO34PSHDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52CPL33UMNMVAC3WRVFBMTM57G3R4EYYC5HCGSMGAGRZ3E7SV65Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLXZJEZ5DJLCXUZ3MUFLEUJXBUUFOPPUK23I3SPIWPICWHMFAFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2O3TQUIWQS5DJTO5WBCZ3D6DPLHAZXUPP7T5VFM6IAREQJEB7QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LTCGZ65V5TYXF3HV77B5BL6273M3VCB4OB4CUVIL5LTRB5S2SYIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEWF4NNCVVREI32XMOAC6DG6PCXV336C3MCGRQL4TJINOAWOQSPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJJ4EMID3N4XJSTH3WBKNGWSWA6OD2XKQZ5IHUYZBNJE2JF3FMRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHSQT6T6WH6V5ZFLMYJ67MXYXSC6SNYOQTIMBSXOIIIMLVGWLTHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TX4LYJYH5QGVUZTCZ6KLE6DTYWNPS3W4G5YAQ3VU43ERAIVRTMHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XRPB6RX53D7KQNYRSF4Z4RPWQI2XBT4U5CMX6YYEOHQGAUE7P7UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTR7KHKKH6Z652FNKJTKDLKYMXWGUAAK4YH4XCDDFO64D2GL6HFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRPCYK3M4KYUF3VU4RD2STAK3EIYYWGVU7Y33OI5IS3KNMGHXXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEZJ7HLZP7Y5HACYZZWV4PIWX4V4QJ5S2LSXCNFCDWRWRMBN5L6Q/vendors.js"
            ]
        },
        "CreateAnnotationStoreVersion": {
            "http": {
                "requestUri": "/annotationStore/{name}/version",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "versionName"
                ],
                "members": {
                    "name": {
                        "location": "uri",
                        "locationName": "name"
                    },
                    "versionName": {},
                    "description": {},
                    "versionOptions": {
                        "shape": "S11"
                    },
                    "tags": {
                        "shape": "Sf"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "id",
                    "versionName",
                    "storeId",
                    "name",
                    "status",
                    "creationTime"
                ],
                "members": {
                    "id": {},
                    "versionName": {},
                    "storeId": {},
                    "versionOptions": {
                        "shape": "S11"
                    },
                    "name": {},
                    "status": {},
                    "creationTime": {
                        "shape": "Sz"
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "analytics-"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MKFIKNMZJH2IIVNFXTFR7G6QOYCELW4CBMTLVQFQMM6R4NGLSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4VLDLHLITCRQYY5IWBIWMEKGNHS6WFZPOMCK3AIOUHQVPR25YSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N7IIZWGJFTVJDTBRCSIGDNX6GFKJ45PXGKK3JCYXK2I6LLPSCNUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6J3TQ7JYINSH7XNKDN2PMMIH4DJBSDCNU23Z5LNDNPBD6CS3JA5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2RLHHN47BFF3Y3KMGR2WNE2HX6BMG2PEUSWVY3JU4G2AOJGD4XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PGDHPMHP6V6J46WY3RKMDBDFIMPJ37EBA43DVMLNUGC56ZLBKYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPNSFXSU5SKO76OJOM2CSM3KK5HWWF72YMIFMSLN42R4U4SDHLTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5AYB3RIPP545MUUVZUM47G2OH5DCYK6VCVVBI5DYPIQRHQTVSJEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYXCNGAZMFD5TZ7GE6ESJNCF67WWRQWNZTZACOQPJY55TRWUO77Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QKVI7IOWXFTW3GSOM6SSVW5RC2SGXOHZC37KRVIEWU2J53JY74ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YYKL6PKU4UMN2JH3CNZY7TJLXTQOH3LWBWZ265DZAA42UWBUUKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VWUOXNNFLYO46YZUHXB2LOKDMVIXZBIEFTURLO3MNKO34PSHDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52CPL33UMNMVAC3WRVFBMTM57G3R4EYYC5HCGSMGAGRZ3E7SV65Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLXZJEZ5DJLCXUZ3MUFLEUJXBUUFOPPUK23I3SPIWPICWHMFAFBA/vendors.js",
[...]
