{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2022-04-06",
        "endpointPrefix": "omicssequences",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "ripServiceName": "omics/mosaic",
        "serviceFullName": "Amazon Omics Sequences",
        "serviceId": "OmicsSequences",
        "signatureVersion": "v4",
        "signingName": "omics",
        "uid": "omicssequences-2022-04-06",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/JVGGGDLDSEHQ3NUTKVDBEQPVZ74LSZ377JPIHDHRFH473AHGUR3A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7ZLVOBA6L2SMLXRIKFI4TPRDI6F2MRDNQULZDET2VGJ7MYBHHQOA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VJKBI3LO3KMFEDUWSC2JGYQP7DYLPZL4HBS4TMUK3NQEU3MAXY5Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RUD3VEGJEPMFPALCPJEE2DHV6NST2GZKYYADIDW3ETWOCOIALQKQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7AEAC53QO4ZZFGPU4AQLQEEEUJJ7V6NMCENPIXDQSKUQN56XVSHA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OMYJJ4C5FEEJCB2CRG4DOM5UCWZVXTUL4BKPYG4SR7B7LZ2I2BYQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SZROP5EOYP4VLQ7TABDPIMKW5GKRO62PLUMXEPAPC3YXSZMJ6EAA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7Z7GJPNCKFMTZ22QM3OXRJCH6XJVQ4AVCXWE5QOA62ZAXYEFK6FA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/O6FKSRXP4U4UBBNLHOLEJUL6KO6ILC7M635YF7Z7OU6NI3N3VC6Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RRIG555GTDJJVOGQUPSDDPSQBWMIGAJCNGQT5CLCWDLLOTCY5UAA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JF3GPCVSXTPEFQGY2ZUP6C6QYPXLOWW5NASDO3Y5NLQUVZYWXA6A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UY44XTJWDAIFU53H6PRFLGR2VYR66LXFFKIRYLYLUI63JTEVOAUA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/A45MY4AQYQV5LRQZGSVHHWP743FPB6LABHMBFC7Y2IMINQV327QA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HWFVPIQJZABKFLXZ6Y2VCJPOBC4J4TEOFU3JGF6M72SQPGCGC7YA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KG6K7RGJVWWXQKJ7X4LU4I5UCNCDEMEOZGDLYH7D25S2UALARZFQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SKNZW7VSSBVWLFJ3TJ5FPUBBEFK5U52H45GQGMLJJBCGIYOXXBBQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FJWRLHDPC2JFCQBKXQSF6FOYY565EBPJ4LUK23VFEUCRAYNY7KWQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YCEDIFV4TMMZBTGTM5WJPSXJMXX2SX5JFKHOHHXEJV3MKCWF6RMQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZMZXUFNWOPULGPGURTYKLXTUDWSSIBW5PKWARU73HIE44IJGG5EA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EXN54O32UJD6GAV3ROSYTVERVAP5ZTN37HU34NNQ45XRRVK5AWLQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PTLVFQOD6HJCV6AG2HSD3W4PBQ33Y7DYNVVQK5T2XKOM4PLOJ2HA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PLIOTEBIM3L5SJBYN4IDFB4E4EAYSQPRROKX5XCAC2E5FDXDY2YA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4XNBLVRUNN5XNJB3IAROHC4IKZ3OBSYJLJAED5PB6MKMW3AY3GZA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZOLC7C7FAHYMUXV7QOGDAQWA2ZX34DA46O6WTVKUCFXCB7FJ3U6Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SNQOWXWE5HKDOCEJRK5BOWBEZFYK2JQI5XFHEIAPEYHKEZXB645A/vendors.js"
        ]
    },
    "operations": {
        "AbortMultipartReadSetUpload": {
            "http": {
                "method": "DELETE",
                "requestUri": "/sequencestore/{sequenceStoreId}/upload/{uploadId}/abort",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "sequenceStoreId",
                    "uploadId"
                ],
                "members": {
                    "sequenceStoreId": {
                        "location": "uri",
                        "locationName": "sequenceStoreId"
                    },
                    "uploadId": {
                        "location": "uri",
                        "locationName": "uploadId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "authtype": "v4",
            "endpoint": {
                "hostPrefix": "control-storage-"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZLVOBA6L2SMLXRIKFI4TPRDI6F2MRDNQULZDET2VGJ7MYBHHQOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJKBI3LO3KMFEDUWSC2JGYQP7DYLPZL4HBS4TMUK3NQEU3MAXY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUD3VEGJEPMFPALCPJEE2DHV6NST2GZKYYADIDW3ETWOCOIALQKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AEAC53QO4ZZFGPU4AQLQEEEUJJ7V6NMCENPIXDQSKUQN56XVSHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMYJJ4C5FEEJCB2CRG4DOM5UCWZVXTUL4BKPYG4SR7B7LZ2I2BYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZROP5EOYP4VLQ7TABDPIMKW5GKRO62PLUMXEPAPC3YXSZMJ6EAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7Z7GJPNCKFMTZ22QM3OXRJCH6XJVQ4AVCXWE5QOA62ZAXYEFK6FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6FKSRXP4U4UBBNLHOLEJUL6KO6ILC7M635YF7Z7OU6NI3N3VC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RRIG555GTDJJVOGQUPSDDPSQBWMIGAJCNGQT5CLCWDLLOTCY5UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JF3GPCVSXTPEFQGY2ZUP6C6QYPXLOWW5NASDO3Y5NLQUVZYWXA6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UY44XTJWDAIFU53H6PRFLGR2VYR66LXFFKIRYLYLUI63JTEVOAUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A45MY4AQYQV5LRQZGSVHHWP743FPB6LABHMBFC7Y2IMINQV327QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWFVPIQJZABKFLXZ6Y2VCJPOBC4J4TEOFU3JGF6M72SQPGCGC7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG6K7RGJVWWXQKJ7X4LU4I5UCNCDEMEOZGDLYH7D25S2UALARZFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SKNZW7VSSBVWLFJ3TJ5FPUBBEFK5U52H45GQGMLJJBCGIYOXXBBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJWRLHDPC2JFCQBKXQSF6FOYY565EBPJ4LUK23VFEUCRAYNY7KWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCEDIFV4TMMZBTGTM5WJPSXJMXX2SX5JFKHOHHXEJV3MKCWF6RMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMZXUFNWOPULGPGURTYKLXTUDWSSIBW5PKWARU73HIE44IJGG5EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXN54O32UJD6GAV3ROSYTVERVAP5ZTN37HU34NNQ45XRRVK5AWLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PTLVFQOD6HJCV6AG2HSD3W4PBQ33Y7DYNVVQK5T2XKOM4PLOJ2HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLIOTEBIM3L5SJBYN4IDFB4E4EAYSQPRROKX5XCAC2E5FDXDY2YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XNBLVRUNN5XNJB3IAROHC4IKZ3OBSYJLJAED5PB6MKMW3AY3GZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOLC7C7FAHYMUXV7QOGDAQWA2ZX34DA46O6WTVKUCFXCB7FJ3U6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNQOWXWE5HKDOCEJRK5BOWBEZFYK2JQI5XFHEIAPEYHKEZXB645A/vendors.js"
            ]
        },
        "BatchDeleteReadSet": {
            "http": {
                "requestUri": "/sequencestore/{sequenceStoreId}/readset/batch/delete",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ids",
                    "sequenceStoreId"
                ],
                "members": {
                    "ids": {
                        "type": "list",
                        "member": {}
                    },
                    "sequenceStoreId": {
                        "location": "uri",
                        "locationName": "sequenceStoreId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "errors": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "id",
                                "code",
                                "message"
                            ],
                            "members": {
                                "id": {},
                                "code": {},
                                "message": {}
                            }
                        }
                    }
                }
            },
            "authtype": "v4",
            "endpoint": {
                "hostPrefix": "control-storage-"
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZLVOBA6L2SMLXRIKFI4TPRDI6F2MRDNQULZDET2VGJ7MYBHHQOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJKBI3LO3KMFEDUWSC2JGYQP7DYLPZL4HBS4TMUK3NQEU3MAXY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUD3VEGJEPMFPALCPJEE2DHV6NST2GZKYYADIDW3ETWOCOIALQKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AEAC53QO4ZZFGPU4AQLQEEEUJJ7V6NMCENPIXDQSKUQN56XVSHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMYJJ4C5FEEJCB2CRG4DOM5UCWZVXTUL4BKPYG4SR7B7LZ2I2BYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZROP5EOYP4VLQ7TABDPIMKW5GKRO62PLUMXEPAPC3YXSZMJ6EAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7Z7GJPNCKFMTZ22QM3OXRJCH6XJVQ4AVCXWE5QOA62ZAXYEFK6FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6FKSRXP4U4UBBNLHOLEJUL6KO6ILC7M635YF7Z7OU6NI3N3VC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RRIG555GTDJJVOGQUPSDDPSQBWMIGAJCNGQT5CLCWDLLOTCY5UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JF3GPCVSXTPEFQGY2ZUP6C6QYPXLOWW5NASDO3Y5NLQUVZYWXA6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UY44XTJWDAIFU53H6PRFLGR2VYR66LXFFKIRYLYLUI63JTEVOAUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A45MY4AQYQV5LRQZGSVHHWP743FPB6LABHMBFC7Y2IMINQV327QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWFVPIQJZABKFLXZ6Y2VCJPOBC4J4TEOFU3JGF6M72SQPGCGC7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG6K7RGJVWWXQKJ7X4LU4I5UCNCDEMEOZGDLYH7D25S2UALARZFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SKNZW7VSSBVWLFJ3TJ5FPUBBEFK5U52H45GQGMLJJBCGIYOXXBBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJWRLHDPC2JFCQBKXQSF6FOYY565EBPJ4LUK23VFEUCRAYNY7KWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCEDIFV4TMMZBTGTM5WJPSXJMXX2SX5JFKHOHHXEJV3MKCWF6RMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMZXUFNWOPULGPGURTYKLXTUDWSSIBW5PKWARU73HIE44IJGG5EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXN54O32UJD6GAV3ROSYTVERVAP5ZTN37HU34NNQ45XRRVK5AWLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PTLVFQOD6HJCV6AG2HSD3W4PBQ33Y7DYNVVQK5T2XKOM4PLOJ2HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLIOTEBIM3L5SJBYN4IDFB4E4EAYSQPRROKX5XCAC2E5FDXDY2YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XNBLVRUNN5XNJB3IAROHC4IKZ3OBSYJLJAED5PB6MKMW3AY3GZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOLC7C7FAHYMUXV7QOGDAQWA2ZX34DA46O6WTVKUCFXCB7FJ3U6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNQOWXWE5HKDOCEJRK5BOWBEZFYK2JQI5XFHEIAPEYHKEZXB645A/vendors.js"
            ]
        },
        "CompleteMultipartReadSetUpload": {
            "http": {
                "requestUri": "/sequencestore/{sequenceStoreId}/upload/{uploadId}/complete",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "sequenceStoreId",
                    "uploadId",
                    "parts"
                ],
                "members": {
                    "sequenceStoreId": {
                        "location": "uri",
                        "locationName": "sequenceStoreId"
                    },
                    "uploadId": {
                        "location": "uri",
                        "locationName": "uploadId"
                    },
                    "parts": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "partNumber",
                                "file",
                                "checksum"
                            ],
                            "members": {
                                "partNumber": {
                                    "type": "integer"
                                },
                                "file": {},
                                "checksum": {}
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "readSetId"
                ],
                "members": {
                    "readSetId": {}
                }
            },
            "authtype": "v4",
            "endpoint": {
                "hostPrefix": "storage-"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZLVOBA6L2SMLXRIKFI4TPRDI6F2MRDNQULZDET2VGJ7MYBHHQOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJKBI3LO3KMFEDUWSC2JGYQP7DYLPZL4HBS4TMUK3NQEU3MAXY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUD3VEGJEPMFPALCPJEE2DHV6NST2GZKYYADIDW3ETWOCOIALQKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AEAC53QO4ZZFGPU4AQLQEEEUJJ7V6NMCENPIXDQSKUQN56XVSHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMYJJ4C5FEEJCB2CRG4DOM5UCWZVXTUL4BKPYG4SR7B7LZ2I2BYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZROP5EOYP4VLQ7TABDPIMKW5GKRO62PLUMXEPAPC3YXSZMJ6EAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7Z7GJPNCKFMTZ22QM3OXRJCH6XJVQ4AVCXWE5QOA62ZAXYEFK6FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6FKSRXP4U4UBBNLHOLEJUL6KO6ILC7M635YF7Z7OU6NI3N3VC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RRIG555GTDJJVOGQUPSDDPSQBWMIGAJCNGQT5CLCWDLLOTCY5UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JF3GPCVSXTPEFQGY2ZUP6C6QYPXLOWW5NASDO3Y5NLQUVZYWXA6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UY44XTJWDAIFU53H6PRFLGR2VYR66LXFFKIRYLYLUI63JTEVOAUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A45MY4AQYQV5LRQZGSVHHWP743FPB6LABHMBFC7Y2IMINQV327QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWFVPIQJZABKFLXZ6Y2VCJPOBC4J4TEOFU3JGF6M72SQPGCGC7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG6K7RGJVWWXQKJ7X4LU4I5UCNCDEMEOZGDLYH7D25S2UALARZFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SKNZW7VSSBVWLFJ3TJ5FPUBBEFK5U52H45GQGMLJJBCGIYOXXBBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJWRLHDPC2JFCQBKXQSF6FOYY565EBPJ4LUK23VFEUCRAYNY7KWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCEDIFV4TMMZBTGTM5WJPSXJMXX2SX5JFKHOHHXEJV3MKCWF6RMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMZXUFNWOPULGPGURTYKLXTUDWSSIBW5PKWARU73HIE44IJGG5EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXN54O32UJD6GAV3ROSYTVERVAP5ZTN37HU34NNQ45XRRVK5AWLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PTLVFQOD6HJCV6AG2HSD3W4PBQ33Y7DYNVVQK5T2XKOM4PLOJ2HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLIOTEBIM3L5SJBYN4IDFB4E4EAYSQPRROKX5XCAC2E5FDXDY2YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XNBLVRUNN5XNJB3IAROHC4IKZ3OBSYJLJAED5PB6MKMW3AY3GZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOLC7C7FAHYMUXV7QOGDAQWA2ZX34DA46O6WTVKUCFXCB7FJ3U6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNQOWXWE5HKDOCEJRK5BOWBEZFYK2JQI5XFHEIAPEYHKEZXB645A/vendors.js"
            ]
        },
        "CreateMultipartReadSetUpload": {
            "http": {
                "requestUri": "/sequencestore/{sequenceStoreId}/upload",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "sequenceStoreId",
                    "sourceFileType",
                    "subjectId",
                    "sampleId",
                    "referenceArn",
                    "name"
                ],
                "members": {
                    "sequenceStoreId": {
                        "location": "uri",
                        "locationName": "sequenceStoreId"
                    },
                    "clientToken": {},
                    "sourceFileType": {},
                    "subjectId": {},
                    "sampleId": {},
                    "generatedFrom": {},
                    "referenceArn": {},
                    "name": {},
                    "description": {},
                    "tags": {
                        "shape": "Sr"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "sequenceStoreId",
                    "uploadId",
                    "sourceFileType",
                    "subjectId",
                    "sampleId",
                    "referenceArn",
                    "creationTime"
                ],
                "members": {
                    "sequenceStoreId": {},
                    "uploadId": {},
                    "sourceFileType": {},
                    "subjectId": {},
                    "sampleId": {},
                    "generatedFrom": {},
                    "referenceArn": {},
                    "name": {},
                    "description": {},
                    "tags": {
                        "shape": "Sr"
                    },
                    "creationTime": {
                        "shape": "Sv"
                    }
                }
            },
            "authtype": "v4",
            "endpoint": {
                "hostPrefix": "control-storage-"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZLVOBA6L2SMLXRIKFI4TPRDI6F2MRDNQULZDET2VGJ7MYBHHQOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJKBI3LO3KMFEDUWSC2JGYQP7DYLPZL4HBS4TMUK3NQEU3MAXY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUD3VEGJEPMFPALCPJEE2DHV6NST2GZKYYADIDW3ETWOCOIALQKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AEAC53QO4ZZFGPU4AQLQEEEUJJ7V6NMCENPIXDQSKUQN56XVSHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMYJJ4C5FEEJCB2CRG4DOM5UCWZVXTUL4BKPYG4SR7B7LZ2I2BYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZROP5EOYP4VLQ7TABDPIMKW5GKRO62PLUMXEPAPC3YXSZMJ6EAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7Z7GJPNCKFMTZ22QM3OXRJCH6XJVQ4AVCXWE5QOA62ZAXYEFK6FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6FKSRXP4U4UBBNLHOLEJUL6KO6ILC7M635YF7Z7OU6NI3N3VC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RRIG555GTDJJVOGQUPSDDPSQBWMIGAJCNGQT5CLCWDLLOTCY5UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JF3GPCVSXTPEFQGY2ZUP6C6QYPXLOWW5NASDO3Y5NLQUVZYWXA6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UY44XTJWDAIFU53H6PRFLGR2VYR66LXFFKIRYLYLUI63JTEVOAUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A45MY4AQYQV5LRQZGSVHHWP743FPB6LABHMBFC7Y2IMINQV327QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWFVPIQJZABKFLXZ6Y2VCJPOBC4J4TEOFU3JGF6M72SQPGCGC7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG6K7RGJVWWXQKJ7X4LU4I5UCNCDEMEOZGDLYH7D25S2UALARZFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SKNZW7VSSBVWLFJ3TJ5FPUBBEFK5U52H45GQGMLJJBCGIYOXXBBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJWRLHDPC2JFCQBKXQSF6FOYY565EBPJ4LUK23VFEUCRAYNY7KWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCEDIFV4TMMZBTGTM5WJPSXJMXX2SX5JFKHOHHXEJV3MKCWF6RMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMZXUFNWOPULGPGURTYKLXTUDWSSIBW5PKWARU73HIE44IJGG5EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXN54O32UJD6GAV3ROSYTVERVAP5ZTN37HU34NNQ45XRRVK5AWLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PTLVFQOD6HJCV6AG2HSD3W4PBQ33Y7DYNVVQK5T2XKOM4PLOJ2HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLIOTEBIM3L5SJBYN4IDFB4E4EAYSQPRROKX5XCAC2E5FDXDY2YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XNBLVRUNN5XNJB3IAROHC4IKZ3OBSYJLJAED5PB6MKMW3AY3GZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOLC7C7FAHYMUXV7QOGDAQWA2ZX34DA46O6WTVKUCFXCB7FJ3U6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNQOWXWE5HKDOCEJRK5BOWBEZFYK2JQI5XFHEIAPEYHKEZXB645A/vendors.js"
            ]
        },
        "CreateReferenceStore": {
            "http": {
                "requestUri": "/referencestore",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "name"
                ],
                "members": {
                    "name": {},
                    "description": {},
                    "sseConfig": {
                        "shape": "Sz"
                    },
                    "tags": {
                        "shape": "Sr"
                    },
                    "clientToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "id",
                    "arn",
                    "creationTime"
                ],
                "members": {
                    "id": {},
                    "arn": {},
                    "name": {},
                    "description": {},
                    "sseConfig": {
                        "shape": "Sz"
                    },
                    "creationTime": {
                        "shape": "Sv"
                    }
                }
            },
            "authtype": "v4",
            "endpoint": {
                "hostPrefix": "control-storage-"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZLVOBA6L2SMLXRIKFI4TPRDI6F2MRDNQULZDET2VGJ7MYBHHQOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJKBI3LO3KMFEDUWSC2JGYQP7DYLPZL4HBS4TMUK3NQEU3MAXY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUD3VEGJEPMFPALCPJEE2DHV6NST2GZKYYADIDW3ETWOCOIALQKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AEAC53QO4ZZFGPU4AQLQEEEUJJ7V6NMCENPIXDQSKUQN56XVSHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMYJJ4C5FEEJCB2CRG4DOM5UCWZVXTUL4BKPYG4SR7B7LZ2I2BYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZROP5EOYP4VLQ7TABDPIMKW5GKRO62PLUMXEPAPC3YXSZMJ6EAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7Z7GJPNCKFMTZ22QM3OXRJCH6XJVQ4AVCXWE5QOA62ZAXYEFK6FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6FKSRXP4U4UBBNLHOLEJUL6KO6ILC7M635YF7Z7OU6NI3N3VC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RRIG555GTDJJVOGQUPSDDPSQBWMIGAJCNGQT5CLCWDLLOTCY5UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JF3GPCVSXTPEFQGY2ZUP6C6QYPXLOWW5NASDO3Y5NLQUVZYWXA6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UY44XTJWDAIFU53H6PRFLGR2VYR66LXFFKIRYLYLUI63JTEVOAUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A45MY4AQYQV5LRQZGSVHHWP743FPB6LABHMBFC7Y2IMINQV327QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWFVPIQJZABKFLXZ6Y2VCJPOBC4J4TEOFU3JGF6M72SQPGCGC7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG6K7RGJVWWXQKJ7X4LU4I5UCNCDEMEOZGDLYH7D25S2UALARZFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SKNZW7VSSBVWLFJ3TJ5FPUBBEFK5U52H45GQGMLJJBCGIYOXXBBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJWRLHDPC2JFCQBKXQSF6FOYY565EBPJ4LUK23VFEUCRAYNY7KWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCEDIFV4TMMZBTGTM5WJPSXJMXX2SX5JFKHOHHXEJV3MKCWF6RMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMZXUFNWOPULGPGURTYKLXTUDWSSIBW5PKWARU73HIE44IJGG5EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXN54O32UJD6GAV3ROSYTVERVAP5ZTN37HU34NNQ45XRRVK5AWLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PTLVFQOD6HJCV6AG2HSD3W4PBQ33Y7DYNVVQK5T2XKOM4PLOJ2HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLIOTEBIM3L5SJBYN4IDFB4E4EAYSQPRROKX5XCAC2E5FDXDY2YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XNBLVRUNN5XNJB3IAROHC4IKZ3OBSYJLJAED5PB6MKMW3AY3GZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOLC7C7FAHYMUXV7QOGDAQWA2ZX34DA46O6WTVKUCFXCB7FJ3U6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNQOWXWE5HKDOCEJRK5BOWBEZFYK2JQI5XFHEIAPEYHKEZXB645A/vendors.js"
            ]
        },
        "CreateSequenceStore": {
            "http": {
                "requestUri": "/sequencestore",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "name"
                ],
                "members": {
                    "name": {},
                    "description": {},
                    "sseConfig": {
                        "shape": "Sz"
                    },
                    "tags": {
                        "shape": "Sr"
                    },
                    "clientToken": {},
                    "evacuationLocation": {},
                    "fallbackLocation": {},
                    "eTagAlgorithmFamily": {},
                    "tagsToSync": {
                        "shape": "S1b"
                    },
                    "s3AccessLogLocation": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "id",
                    "arn",
                    "creationTime"
                ],
                "members": {
                    "id": {},
                    "arn": {},
                    "name": {},
                    "description": {},
                    "sseConfig": {
                        "shape": "Sz"
                    },
                    "creationTime": {
                        "shape": "Sv"
                    },
                    "evacuationLocation": {}
                }
            },
            "authtype": "v4",
            "endpoint": {
                "hostPrefix": "control-storage-"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZLVOBA6L2SMLXRIKFI4TPRDI6F2MRDNQULZDET2VGJ7MYBHHQOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJKBI3LO3KMFEDUWSC2JGYQP7DYLPZL4HBS4TMUK3NQEU3MAXY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUD3VEGJEPMFPALCPJEE2DHV6NST2GZKYYADIDW3ETWOCOIALQKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AEAC53QO4ZZFGPU4AQLQEEEUJJ7V6NMCENPIXDQSKUQN56XVSHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMYJJ4C5FEEJCB2CRG4DOM5UCWZVXTUL4BKPYG4SR7B7LZ2I2BYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZROP5EOYP4VLQ7TABDPIMKW5GKRO62PLUMXEPAPC3YXSZMJ6EAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7Z7GJPNCKFMTZ22QM3OXRJCH6XJVQ4AVCXWE5QOA62ZAXYEFK6FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6FKSRXP4U4UBBNLHOLEJUL6KO6ILC7M635YF7Z7OU6NI3N3VC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RRIG555GTDJJVOGQUPSDDPSQBWMIGAJCNGQT5CLCWDLLOTCY5UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JF3GPCVSXTPEFQGY2ZUP6C6QYPXLOWW5NASDO3Y5NLQUVZYWXA6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UY44XTJWDAIFU53H6PRFLGR2VYR66LXFFKIRYLYLUI63JTEVOAUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A45MY4AQYQV5LRQZGSVHHWP743FPB6LABHMBFC7Y2IMINQV327QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWFVPIQJZABKFLXZ6Y2VCJPOBC4J4TEOFU3JGF6M72SQPGCGC7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG6K7RGJVWWXQKJ7X4LU4I5UCNCDEMEOZGDLYH7D25S2UALARZFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SKNZW7VSSBVWLFJ3TJ5FPUBBEFK5U52H45GQGMLJJBCGIYOXXBBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJWRLHDPC2JFCQBKXQSF6FOYY565EBPJ4LUK23VFEUCRAYNY7KWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCEDIFV4TMMZBTGTM5WJPSXJMXX2SX5JFKHOHHXEJV3MKCWF6RMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMZXUFNWOPULGPGURTYKLXTUDWSSIBW5PKWARU73HIE44IJGG5EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXN54O32UJD6GAV3ROSYTVERVAP5ZTN37HU34NNQ45XRRVK5AWLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PTLVFQOD6HJCV6AG2HSD3W4PBQ33Y7DYNVVQK5T2XKOM4PLOJ2HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLIOTEBIM3L5SJBYN4IDFB4E4EAYSQPRROKX5XCAC2E5FDXDY2YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XNBLVRUNN5XNJB3IAROHC4IKZ3OBSYJLJAED5PB6MKMW3AY3GZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOLC7C7FAHYMUXV7QOGDAQWA2ZX34DA46O6WTVKUCFXCB7FJ3U6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNQOWXWE5HKDOCEJRK5BOWBEZFYK2JQI5XFHEIAPEYHKEZXB645A/vendors.js"
            ]
        },
        "DeleteReference": {
            "http": {
                "method": "DELETE",
                "requestUri": "/referencestore/{referenceStoreId}/reference/{id}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "id",
                    "referenceStoreId"
                ],
                "members": {
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    },
                    "referenceStoreId": {
                        "location": "uri",
                        "locationName": "referenceStoreId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "authtype": "v4",
            "endpoint": {
                "hostPrefix": "control-storage-"
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZLVOBA6L2SMLXRIKFI4TPRDI6F2MRDNQULZDET2VGJ7MYBHHQOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJKBI3LO3KMFEDUWSC2JGYQP7DYLPZL4HBS4TMUK3NQEU3MAXY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUD3VEGJEPMFPALCPJEE2DHV6NST2GZKYYADIDW3ETWOCOIALQKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AEAC53QO4ZZFGPU4AQLQEEEUJJ7V6NMCENPIXDQSKUQN56XVSHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMYJJ4C5FEEJCB2CRG4DOM5UCWZVXTUL4BKPYG4SR7B7LZ2I2BYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZROP5EOYP4VLQ7TABDPIMKW5GKRO62PLUMXEPAPC3YXSZMJ6EAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7Z7GJPNCKFMTZ22QM3OXRJCH6XJVQ4AVCXWE5QOA62ZAXYEFK6FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6FKSRXP4U4UBBNLHOLEJUL6KO6ILC7M635YF7Z7OU6NI3N3VC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RRIG555GTDJJVOGQUPSDDPSQBWMIGAJCNGQT5CLCWDLLOTCY5UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JF3GPCVSXTPEFQGY2ZUP6C6QYPXLOWW5NASDO3Y5NLQUVZYWXA6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UY44XTJWDAIFU53H6PRFLGR2VYR66LXFFKIRYLYLUI63JTEVOAUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A45MY4AQYQV5LRQZGSVHHWP743FPB6LABHMBFC7Y2IMINQV327QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWFVPIQJZABKFLXZ6Y2VCJPOBC4J4TEOFU3JGF6M72SQPGCGC7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG6K7RGJVWWXQKJ7X4LU4I5UCNCDEMEOZGDLYH7D25S2UALARZFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SKNZW7VSSBVWLFJ3TJ5FPUBBEFK5U52H45GQGMLJJBCGIYOXXBBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJWRLHDPC2JFCQBKXQSF6FOYY565EBPJ4LUK23VFEUCRAYNY7KWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCEDIFV4TMMZBTGTM5WJPSXJMXX2SX5JFKHOHHXEJV3MKCWF6RMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMZXUFNWOPULGPGURTYKLXTUDWSSIBW5PKWARU73HIE44IJGG5EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXN54O32UJD6GAV3ROSYTVERVAP5ZTN37HU34NNQ45XRRVK5AWLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PTLVFQOD6HJCV6AG2HSD3W4PBQ33Y7DYNVVQK5T2XKOM4PLOJ2HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLIOTEBIM3L5SJBYN4IDFB4E4EAYSQPRROKX5XCAC2E5FDXDY2YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XNBLVRUNN5XNJB3IAROHC4IKZ3OBSYJLJAED5PB6MKMW3AY3GZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOLC7C7FAHYMUXV7QOGDAQWA2ZX34DA46O6WTVKUCFXCB7FJ3U6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNQOWXWE5HKDOCEJRK5BOWBEZFYK2JQI5XFHEIAPEYHKEZXB645A/vendors.js"
            ]
        },
        "DeleteReferenceStore": {
            "http": {
                "method": "DELETE",
                "requestUri": "/referencestore/{id}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "authtype": "v4",
            "endpoint": {
                "hostPrefix": "control-storage-"
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZLVOBA6L2SMLXRIKFI4TPRDI6F2MRDNQULZDET2VGJ7MYBHHQOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJKBI3LO3KMFEDUWSC2JGYQP7DYLPZL4HBS4TMUK3NQEU3MAXY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUD3VEGJEPMFPALCPJEE2DHV6NST2GZKYYADIDW3ETWOCOIALQKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AEAC53QO4ZZFGPU4AQLQEEEUJJ7V6NMCENPIXDQSKUQN56XVSHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMYJJ4C5FEEJCB2CRG4DOM5UCWZVXTUL4BKPYG4SR7B7LZ2I2BYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZROP5EOYP4VLQ7TABDPIMKW5GKRO62PLUMXEPAPC3YXSZMJ6EAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7Z7GJPNCKFMTZ22QM3OXRJCH6XJVQ4AVCXWE5QOA62ZAXYEFK6FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6FKSRXP4U4UBBNLHOLEJUL6KO6ILC7M635YF7Z7OU6NI3N3VC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RRIG555GTDJJVOGQUPSDDPSQBWMIGAJCNGQT5CLCWDLLOTCY5UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JF3GPCVSXTPEFQGY2ZUP6C6QYPXLOWW5NASDO3Y5NLQUVZYWXA6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UY44XTJWDAIFU53H6PRFLGR2VYR66LXFFKIRYLYLUI63JTEVOAUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A45MY4AQYQV5LRQZGSVHHWP743FPB6LABHMBFC7Y2IMINQV327QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWFVPIQJZABKFLXZ6Y2VCJPOBC4J4TEOFU3JGF6M72SQPGCGC7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG6K7RGJVWWXQKJ7X4LU4I5UCNCDEMEOZGDLYH7D25S2UALARZFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SKNZW7VSSBVWLFJ3TJ5FPUBBEFK5U52H45GQGMLJJBCGIYOXXBBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJWRLHDPC2JFCQBKXQSF6FOYY565EBPJ4LUK23VFEUCRAYNY7KWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCEDIFV4TMMZBTGTM5WJPSXJMXX2SX5JFKHOHHXEJV3MKCWF6RMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMZXUFNWOPULGPGURTYKLXTUDWSSIBW5PKWARU73HIE44IJGG5EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXN54O32UJD6GAV3ROSYTVERVAP5ZTN37HU34NNQ45XRRVK5AWLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PTLVFQOD6HJCV6AG2HSD3W4PBQ33Y7DYNVVQK5T2XKOM4PLOJ2HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLIOTEBIM3L5SJBYN4IDFB4E4EAYSQPRROKX5XCAC2E5FDXDY2YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XNBLVRUNN5XNJB3IAROHC4IKZ3OBSYJLJAED5PB6MKMW3AY3GZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOLC7C7FAHYMUXV7QOGDAQWA2ZX34DA46O6WTVKUCFXCB7FJ3U6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNQOWXWE5HKDOCEJRK5BOWBEZFYK2JQI5XFHEIAPEYHKEZXB645A/vendors.js"
            ]
        },
        "DeleteSequenceStore": {
            "http": {
                "method": "DELETE",
                "requestUri": "/sequencestore/{id}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "authtype": "v4",
            "endpoint": {
                "hostPrefix": "control-storage-"
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZLVOBA6L2SMLXRIKFI4TPRDI6F2MRDNQULZDET2VGJ7MYBHHQOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJKBI3LO3KMFEDUWSC2JGYQP7DYLPZL4HBS4TMUK3NQEU3MAXY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUD3VEGJEPMFPALCPJEE2DHV6NST2GZKYYADIDW3ETWOCOIALQKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AEAC53QO4ZZFGPU4AQLQEEEUJJ7V6NMCENPIXDQSKUQN56XVSHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMYJJ4C5FEEJCB2CRG4DOM5UCWZVXTUL4BKPYG4SR7B7LZ2I2BYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZROP5EOYP4VLQ7TABDPIMKW5GKRO62PLUMXEPAPC3YXSZMJ6EAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7Z7GJPNCKFMTZ22QM3OXRJCH6XJVQ4AVCXWE5QOA62ZAXYEFK6FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6FKSRXP4U4UBBNLHOLEJUL6KO6ILC7M635YF7Z7OU6NI3N3VC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RRIG555GTDJJVOGQUPSDDPSQBWMIGAJCNGQT5CLCWDLLOTCY5UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JF3GPCVSXTPEFQGY2ZUP6C6QYPXLOWW5NASDO3Y5NLQUVZYWXA6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UY44XTJWDAIFU53H6PRFLGR2VYR66LXFFKIRYLYLUI63JTEVOAUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A45MY4AQYQV5LRQZGSVHHWP743FPB6LABHMBFC7Y2IMINQV327QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWFVPIQJZABKFLXZ6Y2VCJPOBC4J4TEOFU3JGF6M72SQPGCGC7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG6K7RGJVWWXQKJ7X4LU4I5UCNCDEMEOZGDLYH7D25S2UALARZFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SKNZW7VSSBVWLFJ3TJ5FPUBBEFK5U52H45GQGMLJJBCGIYOXXBBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJWRLHDPC2JFCQBKXQSF6FOYY565EBPJ4LUK23VFEUCRAYNY7KWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCEDIFV4TMMZBTGTM5WJPSXJMXX2SX5JFKHOHHXEJV3MKCWF6RMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMZXUFNWOPULGPGURTYKLXTUDWSSIBW5PKWARU73HIE44IJGG5EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXN54O32UJD6GAV3ROSYTVERVAP5ZTN37HU34NNQ45XRRVK5AWLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PTLVFQOD6HJCV6AG2HSD3W4PBQ33Y7DYNVVQK5T2XKOM4PLOJ2HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLIOTEBIM3L5SJBYN4IDFB4E4EAYSQPRROKX5XCAC2E5FDXDY2YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XNBLVRUNN5XNJB3IAROHC4IKZ3OBSYJLJAED5PB6MKMW3AY3GZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOLC7C7FAHYMUXV7QOGDAQWA2ZX34DA46O6WTVKUCFXCB7FJ3U6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNQOWXWE5HKDOCEJRK5BOWBEZFYK2JQI5XFHEIAPEYHKEZXB645A/vendors.js"
            ]
        },
        "GetReadSet": {
            "http": {
                "method": "GET",
                "requestUri": "/sequencestore/{sequenceStoreId}/readset/{id}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "id",
                    "sequenceStoreId",
                    "partNumber"
                ],
                "members": {
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    },
                    "sequenceStoreId": {
                        "location": "uri",
                        "locationName": "sequenceStoreId"
                    },
                    "file": {
                        "location": "querystring",
                        "locationName": "file"
                    },
                    "partNumber": {
                        "location": "querystring",
                        "locationName": "partNumber",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "payload": {
                        "type": "blob",
                        "streaming": true
                    }
                },
                "payload": "payload"
            },
            "authtype": "v4",
            "endpoint": {
                "hostPrefix": "storage-"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZLVOBA6L2SMLXRIKFI4TPRDI6F2MRDNQULZDET2VGJ7MYBHHQOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJKBI3LO3KMFEDUWSC2JGYQP7DYLPZL4HBS4TMUK3NQEU3MAXY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUD3VEGJEPMFPALCPJEE2DHV6NST2GZKYYADIDW3ETWOCOIALQKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AEAC53QO4ZZFGPU4AQLQEEEUJJ7V6NMCENPIXDQSKUQN56XVSHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMYJJ4C5FEEJCB2CRG4DOM5UCWZVXTUL4BKPYG4SR7B7LZ2I2BYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZROP5EOYP4VLQ7TABDPIMKW5GKRO62PLUMXEPAPC3YXSZMJ6EAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7Z7GJPNCKFMTZ22QM3OXRJCH6XJVQ4AVCXWE5QOA62ZAXYEFK6FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6FKSRXP4U4UBBNLHOLEJUL6KO6ILC7M635YF7Z7OU6NI3N3VC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RRIG555GTDJJVOGQUPSDDPSQBWMIGAJCNGQT5CLCWDLLOTCY5UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JF3GPCVSXTPEFQGY2ZUP6C6QYPXLOWW5NASDO3Y5NLQUVZYWXA6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UY44XTJWDAIFU53H6PRFLGR2VYR66LXFFKIRYLYLUI63JTEVOAUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A45MY4AQYQV5LRQZGSVHHWP743FPB6LABHMBFC7Y2IMINQV327QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWFVPIQJZABKFLXZ6Y2VCJPOBC4J4TEOFU3JGF6M72SQPGCGC7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG6K7RGJVWWXQKJ7X4LU4I5UCNCDEMEOZGDLYH7D25S2UALARZFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SKNZW7VSSBVWLFJ3TJ5FPUBBEFK5U52H45GQGMLJJBCGIYOXXBBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJWRLHDPC2JFCQBKXQSF6FOYY565EBPJ4LUK23VFEUCRAYNY7KWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCEDIFV4TMMZBTGTM5WJPSXJMXX2SX5JFKHOHHXEJV3MKCWF6RMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMZXUFNWOPULGPGURTYKLXTUDWSSIBW5PKWARU73HIE44IJGG5EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXN54O32UJD6GAV3ROSYTVERVAP5ZTN37HU34NNQ45XRRVK5AWLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PTLVFQOD6HJCV6AG2HSD3W4PBQ33Y7DYNVVQK5T2XKOM4PLOJ2HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLIOTEBIM3L5SJBYN4IDFB4E4EAYSQPRROKX5XCAC2E5FDXDY2YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XNBLVRUNN5XNJB3IAROHC4IKZ3OBSYJLJAED5PB6MKMW3AY3GZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOLC7C7FAHYMUXV7QOGDAQWA2ZX34DA46O6WTVKUCFXCB7FJ3U6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNQOWXWE5HKDOCEJRK5BOWBEZFYK2JQI5XFHEIAPEYHKEZXB645A/vendors.js"
            ]
        },
        "GetReadSetActivationJob": {
            "http": {
                "method": "GET",
                "requestUri": "/sequencestore/{sequenceStoreId}/activationjob/{id}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "id",
                    "sequenceStoreId"
                ],
                "members": {
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    },
                    "sequenceStoreId": {
                        "location": "uri",
                        "locationName": "sequenceStoreId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "id",
                    "sequenceStoreId",
                    "status",
                    "creationTime"
                ],
                "members": {
                    "id": {},
                    "sequenceStoreId": {},
                    "status": {},
                    "statusMessage": {},
                    "creationTime": {
                        "shape": "Sv"
                    },
                    "completionTime": {
                        "shape": "Sv"
                    },
                    "sources": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "readSetId",
                                "status"
                            ],
                            "members": {
                                "readSetId": {},
                                "status": {},
                                "statusMessage": {}
                            }
                        }
                    }
                }
            },
            "authtype": "v4",
            "endpoint": {
                "hostPrefix": "control-storage-"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZLVOBA6L2SMLXRIKFI4TPRDI6F2MRDNQULZDET2VGJ7MYBHHQOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJKBI3LO3KMFEDUWSC2JGYQP7DYLPZL4HBS4TMUK3NQEU3MAXY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUD3VEGJEPMFPALCPJEE2DHV6NST2GZKYYADIDW3ETWOCOIALQKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AEAC53QO4ZZFGPU4AQLQEEEUJJ7V6NMCENPIXDQSKUQN56XVSHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMYJJ4C5FEEJCB2CRG4DOM5UCWZVXTUL4BKPYG4SR7B7LZ2I2BYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZROP5EOYP4VLQ7TABDPIMKW5GKRO62PLUMXEPAPC3YXSZMJ6EAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7Z7GJPNCKFMTZ22QM3OXRJCH6XJVQ4AVCXWE5QOA62ZAXYEFK6FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6FKSRXP4U4UBBNLHOLEJUL6KO6ILC7M635YF7Z7OU6NI3N3VC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RRIG555GTDJJVOGQUPSDDPSQBWMIGAJCNGQT5CLCWDLLOTCY5UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JF3GPCVSXTPEFQGY2ZUP6C6QYPXLOWW5NASDO3Y5NLQUVZYWXA6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UY44XTJWDAIFU53H6PRFLGR2VYR66LXFFKIRYLYLUI63JTEVOAUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A45MY4AQYQV5LRQZGSVHHWP743FPB6LABHMBFC7Y2IMINQV327QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWFVPIQJZABKFLXZ6Y2VCJPOBC4J4TEOFU3JGF6M72SQPGCGC7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG6K7RGJVWWXQKJ7X4LU4I5UCNCDEMEOZGDLYH7D25S2UALARZFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SKNZW7VSSBVWLFJ3TJ5FPUBBEFK5U52H45GQGMLJJBCGIYOXXBBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJWRLHDPC2JFCQBKXQSF6FOYY565EBPJ4LUK23VFEUCRAYNY7KWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCEDIFV4TMMZBTGTM5WJPSXJMXX2SX5JFKHOHHXEJV3MKCWF6RMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMZXUFNWOPULGPGURTYKLXTUDWSSIBW5PKWARU73HIE44IJGG5EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXN54O32UJD6GAV3ROSYTVERVAP5ZTN37HU34NNQ45XRRVK5AWLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PTLVFQOD6HJCV6AG2HSD3W4PBQ33Y7DYNVVQK5T2XKOM4PLOJ2HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLIOTEBIM3L5SJBYN4IDFB4E4EAYSQPRROKX5XCAC2E5FDXDY2YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XNBLVRUNN5XNJB3IAROHC4IKZ3OBSYJLJAED5PB6MKMW3AY3GZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOLC7C7FAHYMUXV7QOGDAQWA2ZX34DA46O6WTVKUCFXCB7FJ3U6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNQOWXWE5HKDOCEJRK5BOWBEZFYK2JQI5XFHEIAPEYHKEZXB645A/vendors.js"
            ]
        },
        "GetReadSetExportJob": {
            "http": {
                "method": "GET",
                "requestUri": "/sequencestore/{sequenceStoreId}/exportjob/{id}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "sequenceStoreId",
                    "id"
                ],
                "members": {
                    "sequenceStoreId": {
                        "location": "uri",
                        "locationName": "sequenceStoreId"
                    },
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "id",
                    "sequenceStoreId",
                    "destination",
                    "status",
                    "creationTime"
                ],
                "members": {
                    "id": {},
                    "sequenceStoreId": {},
                    "destination": {},
                    "status": {},
                    "statusMessage": {},
                    "creationTime": {
                        "shape": "Sv"
                    },
                    "completionTime": {
                        "shape": "Sv"
                    },
                    "readSets": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "id",
                                "status"
                            ],
                            "members": {
                                "id": {},
                                "status": {},
                                "statusMessage": {}
                            }
                        }
                    }
                }
            },
            "authtype": "v4",
            "endpoint": {
                "hostPrefix": "control-storage-"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZLVOBA6L2SMLXRIKFI4TPRDI6F2MRDNQULZDET2VGJ7MYBHHQOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJKBI3LO3KMFEDUWSC2JGYQP7DYLPZL4HBS4TMUK3NQEU3MAXY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUD3VEGJEPMFPALCPJEE2DHV6NST2GZKYYADIDW3ETWOCOIALQKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AEAC53QO4ZZFGPU4AQLQEEEUJJ7V6NMCENPIXDQSKUQN56XVSHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMYJJ4C5FEEJCB2CRG4DOM5UCWZVXTUL4BKPYG4SR7B7LZ2I2BYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZROP5EOYP4VLQ7TABDPIMKW5GKRO62PLUMXEPAPC3YXSZMJ6EAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7Z7GJPNCKFMTZ22QM3OXRJCH6XJVQ4AVCXWE5QOA62ZAXYEFK6FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6FKSRXP4U4UBBNLHOLEJUL6KO6ILC7M635YF7Z7OU6NI3N3VC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RRIG555GTDJJVOGQUPSDDPSQBWMIGAJCNGQT5CLCWDLLOTCY5UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JF3GPCVSXTPEFQGY2ZUP6C6QYPXLOWW5NASDO3Y5NLQUVZYWXA6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UY44XTJWDAIFU53H6PRFLGR2VYR66LXFFKIRYLYLUI63JTEVOAUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A45MY4AQYQV5LRQZGSVHHWP743FPB6LABHMBFC7Y2IMINQV327QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWFVPIQJZABKFLXZ6Y2VCJPOBC4J4TEOFU3JGF6M72SQPGCGC7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG6K7RGJVWWXQKJ7X4LU4I5UCNCDEMEOZGDLYH7D25S2UALARZFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SKNZW7VSSBVWLFJ3TJ5FPUBBEFK5U52H45GQGMLJJBCGIYOXXBBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJWRLHDPC2JFCQBKXQSF6FOYY565EBPJ4LUK23VFEUCRAYNY7KWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCEDIFV4TMMZBTGTM5WJPSXJMXX2SX5JFKHOHHXEJV3MKCWF6RMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMZXUFNWOPULGPGURTYKLXTUDWSSIBW5PKWARU73HIE44IJGG5EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXN54O32UJD6GAV3ROSYTVERVAP5ZTN37HU34NNQ45XRRVK5AWLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PTLVFQOD6HJCV6AG2HSD3W4PBQ33Y7DYNVVQK5T2XKOM4PLOJ2HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLIOTEBIM3L5SJBYN4IDFB4E4EAYSQPRROKX5XCAC2E5FDXDY2YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XNBLVRUNN5XNJB3IAROHC4IKZ3OBSYJLJAED5PB6MKMW3AY3GZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOLC7C7FAHYMUXV7QOGDAQWA2ZX34DA46O6WTVKUCFXCB7FJ3U6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNQOWXWE5HKDOCEJRK5BOWBEZFYK2JQI5XFHEIAPEYHKEZXB645A/vendors.js"
            ]
        },
        "GetReadSetImportJob": {
            "http": {
                "method": "GET",
                "requestUri": "/sequencestore/{sequenceStoreId}/importjob/{id}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "id",
                    "sequenceStoreId"
                ],
                "members": {
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    },
                    "sequenceStoreId": {
                        "location": "uri",
                        "locationName": "sequenceStoreId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "id",
                    "sequenceStoreId",
                    "roleArn",
                    "status",
                    "creationTime",
                    "sources"
                ],
                "members": {
                    "id": {},
                    "sequenceStoreId": {},
                    "roleArn": {},
                    "status": {},
                    "statusMessage": {},
                    "creationTime": {
                        "shape": "Sv"
                    },
                    "completionTime": {
                        "shape": "Sv"
                    },
                    "sources": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "sourceFiles",
                                "sourceFileType",
                                "status",
                                "subjectId",
                                "sampleId"
                            ],
                            "members": {
                                "sourceFiles": {
                                    "shape": "S29"
                                },
                                "sourceFileType": {},
                                "status": {},
                                "statusMessage": {},
                                "subjectId": {},
                                "sampleId": {},
                                "generatedFrom": {},
                                "referenceArn": {},
                                "name": {},
                                "description": {},
                                "tags": {
                                    "shape": "Sr"
                                }
                            }
                        }
                    }
                }
            },
            "authtype": "v4",
            "endpoint": {
                "hostPrefix": "control-storage-"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZLVOBA6L2SMLXRIKFI4TPRDI6F2MRDNQULZDET2VGJ7MYBHHQOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJKBI3LO3KMFEDUWSC2JGYQP7DYLPZL4HBS4TMUK3NQEU3MAXY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUD3VEGJEPMFPALCPJEE2DHV6NST2GZKYYADIDW3ETWOCOIALQKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AEAC53QO4ZZFGPU4AQLQEEEUJJ7V6NMCENPIXDQSKUQN56XVSHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMYJJ4C5FEEJCB2CRG4DOM5UCWZVXTUL4BKPYG4SR7B7LZ2I2BYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZROP5EOYP4VLQ7TABDPIMKW5GKRO62PLUMXEPAPC3YXSZMJ6EAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7Z7GJPNCKFMTZ22QM3OXRJCH6XJVQ4AVCXWE5QOA62ZAXYEFK6FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6FKSRXP4U4UBBNLHOLEJUL6KO6ILC7M635YF7Z7OU6NI3N3VC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RRIG555GTDJJVOGQUPSDDPSQBWMIGAJCNGQT5CLCWDLLOTCY5UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JF3GPCVSXTPEFQGY2ZUP6C6QYPXLOWW5NASDO3Y5NLQUVZYWXA6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UY44XTJWDAIFU53H6PRFLGR2VYR66LXFFKIRYLYLUI63JTEVOAUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A45MY4AQYQV5LRQZGSVHHWP743FPB6LABHMBFC7Y2IMINQV327QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWFVPIQJZABKFLXZ6Y2VCJPOBC4J4TEOFU3JGF6M72SQPGCGC7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG6K7RGJVWWXQKJ7X4LU4I5UCNCDEMEOZGDLYH7D25S2UALARZFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SKNZW7VSSBVWLFJ3TJ5FPUBBEFK5U52H45GQGMLJJBCGIYOXXBBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJWRLHDPC2JFCQBKXQSF6FOYY565EBPJ4LUK23VFEUCRAYNY7KWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCEDIFV4TMMZBTGTM5WJPSXJMXX2SX5JFKHOHHXEJV3MKCWF6RMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMZXUFNWOPULGPGURTYKLXTUDWSSIBW5PKWARU73HIE44IJGG5EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXN54O32UJD6GAV3ROSYTVERVAP5ZTN37HU34NNQ45XRRVK5AWLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PTLVFQOD6HJCV6AG2HSD3W4PBQ33Y7DYNVVQK5T2XKOM4PLOJ2HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLIOTEBIM3L5SJBYN4IDFB4E4EAYSQPRROKX5XCAC2E5FDXDY2YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XNBLVRUNN5XNJB3IAROHC4IKZ3OBSYJLJAED5PB6MKMW3AY3GZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOLC7C7FAHYMUXV7QOGDAQWA2ZX34DA46O6WTVKUCFXCB7FJ3U6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNQOWXWE5HKDOCEJRK5BOWBEZFYK2JQI5XFHEIAPEYHKEZXB645A/vendors.js"
            ]
        },
        "GetReadSetMetadata": {
            "http": {
                "method": "GET",
                "requestUri": "/sequencestore/{sequenceStoreId}/readset/{id}/metadata",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "id",
                    "sequenceStoreId"
                ],
                "members": {
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    },
                    "sequenceStoreId": {
                        "location": "uri",
                        "locationName": "sequenceStoreId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "id",
                    "arn",
                    "sequenceStoreId",
                    "status",
                    "fileType",
                    "creationTime"
                ],
                "members": {
                    "id": {},
                    "arn": {},
                    "sequenceStoreId": {},
                    "subjectId": {},
                    "sampleId": {},
                    "status": {},
                    "name": {},
                    "description": {},
                    "fileType": {},
                    "creationTime": {
                        "shape": "Sv"
                    },
                    "sequenceInformation": {
                        "shape": "S2g"
                    },
                    "referenceArn": {},
                    "files": {
                        "type": "structure",
                        "members": {
                            "source1": {
                                "shape": "S2j"
                            },
                            "source2": {
                                "shape": "S2j"
                            },
                            "index": {
                                "shape": "S2j"
                            }
                        }
                    },
                    "statusMessage": {}
                }
            },
            "authtype": "v4",
            "endpoint": {
                "hostPrefix": "control-storage-"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZLVOBA6L2SMLXRIKFI4TPRDI6F2MRDNQULZDET2VGJ7MYBHHQOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJKBI3LO3KMFEDUWSC2JGYQP7DYLPZL4HBS4TMUK3NQEU3MAXY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUD3VEGJEPMFPALCPJEE2DHV6NST2GZKYYADIDW3ETWOCOIALQKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AEAC53QO4ZZFGPU4AQLQEEEUJJ7V6NMCENPIXDQSKUQN56XVSHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMYJJ4C5FEEJCB2CRG4DOM5UCWZVXTUL4BKPYG4SR7B7LZ2I2BYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZROP5EOYP4VLQ7TABDPIMKW5GKRO62PLUMXEPAPC3YXSZMJ6EAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7Z7GJPNCKFMTZ22QM3OXRJCH6XJVQ4AVCXWE5QOA62ZAXYEFK6FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6FKSRXP4U4UBBNLHOLEJUL6KO6ILC7M635YF7Z7OU6NI3N3VC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RRIG555GTDJJVOGQUPSDDPSQBWMIGAJCNGQT5CLCWDLLOTCY5UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JF3GPCVSXTPEFQGY2ZUP6C6QYPXLOWW5NASDO3Y5NLQUVZYWXA6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UY44XTJWDAIFU53H6PRFLGR2VYR66LXFFKIRYLYLUI63JTEVOAUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A45MY4AQYQV5LRQZGSVHHWP743FPB6LABHMBFC7Y2IMINQV327QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWFVPIQJZABKFLXZ6Y2VCJPOBC4J4TEOFU3JGF6M72SQPGCGC7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG6K7RGJVWWXQKJ7X4LU4I5UCNCDEMEOZGDLYH7D25S2UALARZFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SKNZW7VSSBVWLFJ3TJ5FPUBBEFK5U52H45GQGMLJJBCGIYOXXBBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJWRLHDPC2JFCQBKXQSF6FOYY565EBPJ4LUK23VFEUCRAYNY7KWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCEDIFV4TMMZBTGTM5WJPSXJMXX2SX5JFKHOHHXEJV3MKCWF6RMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMZXUFNWOPULGPGURTYKLXTUDWSSIBW5PKWARU73HIE44IJGG5EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXN54O32UJD6GAV3ROSYTVERVAP5ZTN37HU34NNQ45XRRVK5AWLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PTLVFQOD6HJCV6AG2HSD3W4PBQ33Y7DYNVVQK5T2XKOM4PLOJ2HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLIOTEBIM3L5SJBYN4IDFB4E4EAYSQPRROKX5XCAC2E5FDXDY2YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XNBLVRUNN5XNJB3IAROHC4IKZ3OBSYJLJAED5PB6MKMW3AY3GZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOLC7C7FAHYMUXV7QOGDAQWA2ZX34DA46O6WTVKUCFXCB7FJ3U6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNQOWXWE5HKDOCEJRK5BOWBEZFYK2JQI5XFHEIAPEYHKEZXB645A/vendors.js"
            ]
        },
        "GetReference": {
            "http": {
                "method": "GET",
                "requestUri": "/referencestore/{referenceStoreId}/reference/{id}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "id",
                    "referenceStoreId",
                    "partNumber"
                ],
                "members": {
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    },
                    "referenceStoreId": {
                        "location": "uri",
                        "locationName": "referenceStoreId"
                    },
                    "range": {
                        "location": "header",
                        "locationName": "Range"
                    },
                    "partNumber": {
                        "location": "querystring",
                        "locationName": "partNumber",
                        "type": "integer"
                    },
                    "file": {
                        "location": "querystring",
                        "locationName": "file"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "payload": {
                        "type": "blob",
                        "streaming": true
                    }
                },
                "payload": "payload"
            },
            "authtype": "v4",
            "endpoint": {
                "hostPrefix": "storage-"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZLVOBA6L2SMLXRIKFI4TPRDI6F2MRDNQULZDET2VGJ7MYBHHQOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJKBI3LO3KMFEDUWSC2JGYQP7DYLPZL4HBS4TMUK3NQEU3MAXY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUD3VEGJEPMFPALCPJEE2DHV6NST2GZKYYADIDW3ETWOCOIALQKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AEAC53QO4ZZFGPU4AQLQEEEUJJ7V6NMCENPIXDQSKUQN56XVSHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMYJJ4C5FEEJCB2CRG4DOM5UCWZVXTUL4BKPYG4SR7B7LZ2I2BYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZROP5EOYP4VLQ7TABDPIMKW5GKRO62PLUMXEPAPC3YXSZMJ6EAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7Z7GJPNCKFMTZ22QM3OXRJCH6XJVQ4AVCXWE5QOA62ZAXYEFK6FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6FKSRXP4U4UBBNLHOLEJUL6KO6ILC7M635YF7Z7OU6NI3N3VC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RRIG555GTDJJVOGQUPSDDPSQBWMIGAJCNGQT5CLCWDLLOTCY5UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JF3GPCVSXTPEFQGY2ZUP6C6QYPXLOWW5NASDO3Y5NLQUVZYWXA6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UY44XTJWDAIFU53H6PRFLGR2VYR66LXFFKIRYLYLUI63JTEVOAUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A45MY4AQYQV5LRQZGSVHHWP743FPB6LABHMBFC7Y2IMINQV327QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWFVPIQJZABKFLXZ6Y2VCJPOBC4J4TEOFU3JGF6M72SQPGCGC7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG6K7RGJVWWXQKJ7X4LU4I5UCNCDEMEOZGDLYH7D25S2UALARZFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SKNZW7VSSBVWLFJ3TJ5FPUBBEFK5U52H45GQGMLJJBCGIYOXXBBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJWRLHDPC2JFCQBKXQSF6FOYY565EBPJ4LUK23VFEUCRAYNY7KWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCEDIFV4TMMZBTGTM5WJPSXJMXX2SX5JFKHOHHXEJV3MKCWF6RMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMZXUFNWOPULGPGURTYKLXTUDWSSIBW5PKWARU73HIE44IJGG5EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXN54O32UJD6GAV3ROSYTVERVAP5ZTN37HU34NNQ45XRRVK5AWLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PTLVFQOD6HJCV6AG2HSD3W4PBQ33Y7DYNVVQK5T2XKOM4PLOJ2HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLIOTEBIM3L5SJBYN4IDFB4E4EAYSQPRROKX5XCAC2E5FDXDY2YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XNBLVRUNN5XNJB3IAROHC4IKZ3OBSYJLJAED5PB6MKMW3AY3GZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOLC7C7FAHYMUXV7QOGDAQWA2ZX34DA46O6WTVKUCFXCB7FJ3U6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNQOWXWE5HKDOCEJRK5BOWBEZFYK2JQI5XFHEIAPEYHKEZXB645A/vendors.js"
            ]
        },
        "GetReferenceImportJob": {
            "http": {
                "method": "GET",
                "requestUri": "/referencestore/{referenceStoreId}/importjob/{id}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "id",
                    "referenceStoreId"
                ],
                "members": {
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    },
                    "referenceStoreId": {
                        "location": "uri",
                        "locationName": "referenceStoreId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "id",
                    "referenceStoreId",
                    "roleArn",
                    "status",
                    "creationTime",
                    "sources"
                ],
                "members": {
                    "id": {},
                    "referenceStoreId": {},
                    "roleArn": {},
                    "status": {},
                    "statusMessage": {},
                    "creationTime": {
                        "shape": "Sv"
                    },
                    "completionTime": {
                        "shape": "Sv"
                    },
                    "sources": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "status"
                            ],
                            "members": {
                                "sourceFile": {},
                                "status": {},
                                "statusMessage": {},
                                "name": {},
                                "description": {},
                                "tags": {
                                    "shape": "Sr"
                                }
                            }
                        }
                    }
                }
            },
            "authtype": "v4",
            "endpoint": {
                "hostPrefix": "control-storage-"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZLVOBA6L2SMLXRIKFI4TPRDI6F2MRDNQULZDET2VGJ7MYBHHQOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJKBI3LO3KMFEDUWSC2JGYQP7DYLPZL4HBS4TMUK3NQEU3MAXY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUD3VEGJEPMFPALCPJEE2DHV6NST2GZKYYADIDW3ETWOCOIALQKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AEAC53QO4ZZFGPU4AQLQEEEUJJ7V6NMCENPIXDQSKUQN56XVSHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMYJJ4C5FEEJCB2CRG4DOM5UCWZVXTUL4BKPYG4SR7B7LZ2I2BYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZROP5EOYP4VLQ7TABDPIMKW5GKRO62PLUMXEPAPC3YXSZMJ6EAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7Z7GJPNCKFMTZ22QM3OXRJCH6XJVQ4AVCXWE5QOA62ZAXYEFK6FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6FKSRXP4U4UBBNLHOLEJUL6KO6ILC7M635YF7Z7OU6NI3N3VC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RRIG555GTDJJVOGQUPSDDPSQBWMIGAJCNGQT5CLCWDLLOTCY5UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JF3GPCVSXTPEFQGY2ZUP6C6QYPXLOWW5NASDO3Y5NLQUVZYWXA6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UY44XTJWDAIFU53H6PRFLGR2VYR66LXFFKIRYLYLUI63JTEVOAUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A45MY4AQYQV5LRQZGSVHHWP743FPB6LABHMBFC7Y2IMINQV327QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWFVPIQJZABKFLXZ6Y2VCJPOBC4J4TEOFU3JGF6M72SQPGCGC7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG6K7RGJVWWXQKJ7X4LU4I5UCNCDEMEOZGDLYH7D25S2UALARZFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SKNZW7VSSBVWLFJ3TJ5FPUBBEFK5U52H45GQGMLJJBCGIYOXXBBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJWRLHDPC2JFCQBKXQSF6FOYY565EBPJ4LUK23VFEUCRAYNY7KWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCEDIFV4TMMZBTGTM5WJPSXJMXX2SX5JFKHOHHXEJV3MKCWF6RMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMZXUFNWOPULGPGURTYKLXTUDWSSIBW5PKWARU73HIE44IJGG5EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXN54O32UJD6GAV3ROSYTVERVAP5ZTN37HU34NNQ45XRRVK5AWLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PTLVFQOD6HJCV6AG2HSD3W4PBQ33Y7DYNVVQK5T2XKOM4PLOJ2HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLIOTEBIM3L5SJBYN4IDFB4E4EAYSQPRROKX5XCAC2E5FDXDY2YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XNBLVRUNN5XNJB3IAROHC4IKZ3OBSYJLJAED5PB6MKMW3AY3GZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOLC7C7FAHYMUXV7QOGDAQWA2ZX34DA46O6WTVKUCFXCB7FJ3U6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNQOWXWE5HKDOCEJRK5BOWBEZFYK2JQI5XFHEIAPEYHKEZXB645A/vendors.js"
            ]
        },
        "GetReferenceMetadata": {
            "http": {
                "method": "GET",
                "requestUri": "/referencestore/{referenceStoreId}/reference/{id}/metadata",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "id",
                    "referenceStoreId"
                ],
                "members": {
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    },
                    "referenceStoreId": {
                        "location": "uri",
                        "locationName": "referenceStoreId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "id",
                    "arn",
                    "referenceStoreId",
                    "md5",
                    "creationTime",
                    "updateTime"
                ],
                "members": {
                    "id": {},
                    "arn": {},
                    "referenceStoreId": {},
                    "md5": {},
                    "status": {},
                    "name": {},
                    "description": {},
                    "creationTime": {
                        "shape": "Sv"
                    },
                    "updateTime": {
                        "shape": "Sv"
                    },
                    "files": {
                        "type": "structure",
                        "members": {
                            "source": {
                                "shape": "S2j"
                            },
                            "index": {
                                "shape": "S2j"
                            }
                        }
                    }
                }
            },
            "authtype": "v4",
            "endpoint": {
                "hostPrefix": "control-storage-"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZLVOBA6L2SMLXRIKFI4TPRDI6F2MRDNQULZDET2VGJ7MYBHHQOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJKBI3LO3KMFEDUWSC2JGYQP7DYLPZL4HBS4TMUK3NQEU3MAXY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUD3VEGJEPMFPALCPJEE2DHV6NST2GZKYYADIDW3ETWOCOIALQKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AEAC53QO4ZZFGPU4AQLQEEEUJJ7V6NMCENPIXDQSKUQN56XVSHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMYJJ4C5FEEJCB2CRG4DOM5UCWZVXTUL4BKPYG4SR7B7LZ2I2BYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZROP5EOYP4VLQ7TABDPIMKW5GKRO62PLUMXEPAPC3YXSZMJ6EAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7Z7GJPNCKFMTZ22QM3OXRJCH6XJVQ4AVCXWE5QOA62ZAXYEFK6FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6FKSRXP4U4UBBNLHOLEJUL6KO6ILC7M635YF7Z7OU6NI3N3VC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RRIG555GTDJJVOGQUPSDDPSQBWMIGAJCNGQT5CLCWDLLOTCY5UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JF3GPCVSXTPEFQGY2ZUP6C6QYPXLOWW5NASDO3Y5NLQUVZYWXA6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UY44XTJWDAIFU53H6PRFLGR2VYR66LXFFKIRYLYLUI63JTEVOAUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A45MY4AQYQV5LRQZGSVHHWP743FPB6LABHMBFC7Y2IMINQV327QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWFVPIQJZABKFLXZ6Y2VCJPOBC4J4TEOFU3JGF6M72SQPGCGC7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG6K7RGJVWWXQKJ7X4LU4I5UCNCDEMEOZGDLYH7D25S2UALARZFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SKNZW7VSSBVWLFJ3TJ5FPUBBEFK5U52H45GQGMLJJBCGIYOXXBBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJWRLHDPC2JFCQBKXQSF6FOYY565EBPJ4LUK23VFEUCRAYNY7KWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCEDIFV4TMMZBTGTM5WJPSXJMXX2SX5JFKHOHHXEJV3MKCWF6RMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMZXUFNWOPULGPGURTYKLXTUDWSSIBW5PKWARU73HIE44IJGG5EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXN54O32UJD6GAV3ROSYTVERVAP5ZTN37HU34NNQ45XRRVK5AWLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PTLVFQOD6HJCV6AG2HSD3W4PBQ33Y7DYNVVQK5T2XKOM4PLOJ2HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLIOTEBIM3L5SJBYN4IDFB4E4EAYSQPRROKX5XCAC2E5FDXDY2YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XNBLVRUNN5XNJB3IAROHC4IKZ3OBSYJLJAED5PB6MKMW3AY3GZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOLC7C7FAHYMUXV7QOGDAQWA2ZX34DA46O6WTVKUCFXCB7FJ3U6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNQOWXWE5HKDOCEJRK5BOWBEZFYK2JQI5XFHEIAPEYHKEZXB645A/vendors.js"
            ]
        },
        "GetReferenceStore": {
            "http": {
                "method": "GET",
                "requestUri": "/referencestore/{id}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "id",
                    "arn",
                    "creationTime"
                ],
                "members": {
                    "id": {},
                    "arn": {},
                    "name": {},
                    "description": {},
                    "sseConfig": {
                        "shape": "Sz"
                    },
                    "creationTime": {
                        "shape": "Sv"
                    }
                }
            },
            "authtype": "v4",
            "endpoint": {
                "hostPrefix": "control-storage-"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZLVOBA6L2SMLXRIKFI4TPRDI6F2MRDNQULZDET2VGJ7MYBHHQOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJKBI3LO3KMFEDUWSC2JGYQP7DYLPZL4HBS4TMUK3NQEU3MAXY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUD3VEGJEPMFPALCPJEE2DHV6NST2GZKYYADIDW3ETWOCOIALQKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AEAC53QO4ZZFGPU4AQLQEEEUJJ7V6NMCENPIXDQSKUQN56XVSHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMYJJ4C5FEEJCB2CRG4DOM5UCWZVXTUL4BKPYG4SR7B7LZ2I2BYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZROP5EOYP4VLQ7TABDPIMKW5GKRO62PLUMXEPAPC3YXSZMJ6EAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7Z7GJPNCKFMTZ22QM3OXRJCH6XJVQ4AVCXWE5QOA62ZAXYEFK6FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6FKSRXP4U4UBBNLHOLEJUL6KO6ILC7M635YF7Z7OU6NI3N3VC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RRIG555GTDJJVOGQUPSDDPSQBWMIGAJCNGQT5CLCWDLLOTCY5UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JF3GPCVSXTPEFQGY2ZUP6C6QYPXLOWW5NASDO3Y5NLQUVZYWXA6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UY44XTJWDAIFU53H6PRFLGR2VYR66LXFFKIRYLYLUI63JTEVOAUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A45MY4AQYQV5LRQZGSVHHWP743FPB6LABHMBFC7Y2IMINQV327QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWFVPIQJZABKFLXZ6Y2VCJPOBC4J4TEOFU3JGF6M72SQPGCGC7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG6K7RGJVWWXQKJ7X4LU4I5UCNCDEMEOZGDLYH7D25S2UALARZFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SKNZW7VSSBVWLFJ3TJ5FPUBBEFK5U52H45GQGMLJJBCGIYOXXBBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJWRLHDPC2JFCQBKXQSF6FOYY565EBPJ4LUK23VFEUCRAYNY7KWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCEDIFV4TMMZBTGTM5WJPSXJMXX2SX5JFKHOHHXEJV3MKCWF6RMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMZXUFNWOPULGPGURTYKLXTUDWSSIBW5PKWARU73HIE44IJGG5EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXN54O32UJD6GAV3ROSYTVERVAP5ZTN37HU34NNQ45XRRVK5AWLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PTLVFQOD6HJCV6AG2HSD3W4PBQ33Y7DYNVVQK5T2XKOM4PLOJ2HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLIOTEBIM3L5SJBYN4IDFB4E4EAYSQPRROKX5XCAC2E5FDXDY2YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XNBLVRUNN5XNJB3IAROHC4IKZ3OBSYJLJAED5PB6MKMW3AY3GZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOLC7C7FAHYMUXV7QOGDAQWA2ZX34DA46O6WTVKUCFXCB7FJ3U6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNQOWXWE5HKDOCEJRK5BOWBEZFYK2JQI5XFHEIAPEYHKEZXB645A/vendors.js"
            ]
        },
        "GetSequenceStore": {
            "http": {
                "method": "GET",
                "requestUri": "/sequencestore/{id}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "id",
                    "arn",
                    "creationTime"
                ],
                "members": {
                    "id": {},
                    "arn": {},
                    "name": {},
                    "description": {},
                    "sseConfig": {
                        "shape": "Sz"
                    },
                    "creationTime": {
                        "shape": "Sv"
                    },
                    "evacuationLocation": {}
                }
            },
            "authtype": "v4",
            "endpoint": {
                "hostPrefix": "control-storage-"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZLVOBA6L2SMLXRIKFI4TPRDI6F2MRDNQULZDET2VGJ7MYBHHQOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJKBI3LO3KMFEDUWSC2JGYQP7DYLPZL4HBS4TMUK3NQEU3MAXY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUD3VEGJEPMFPALCPJEE2DHV6NST2GZKYYADIDW3ETWOCOIALQKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AEAC53QO4ZZFGPU4AQLQEEEUJJ7V6NMCENPIXDQSKUQN56XVSHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMYJJ4C5FEEJCB2CRG4DOM5UCWZVXTUL4BKPYG4SR7B7LZ2I2BYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZROP5EOYP4VLQ7TABDPIMKW5GKRO62PLUMXEPAPC3YXSZMJ6EAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7Z7GJPNCKFMTZ22QM3OXRJCH6XJVQ4AVCXWE5QOA62ZAXYEFK6FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6FKSRXP4U4UBBNLHOLEJUL6KO6ILC7M635YF7Z7OU6NI3N3VC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RRIG555GTDJJVOGQUPSDDPSQBWMIGAJCNGQT5CLCWDLLOTCY5UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JF3GPCVSXTPEFQGY2ZUP6C6QYPXLOWW5NASDO3Y5NLQUVZYWXA6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UY44XTJWDAIFU53H6PRFLGR2VYR66LXFFKIRYLYLUI63JTEVOAUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A45MY4AQYQV5LRQZGSVHHWP743FPB6LABHMBFC7Y2IMINQV327QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWFVPIQJZABKFLXZ6Y2VCJPOBC4J4TEOFU3JGF6M72SQPGCGC7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG6K7RGJVWWXQKJ7X4LU4I5UCNCDEMEOZGDLYH7D25S2UALARZFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SKNZW7VSSBVWLFJ3TJ5FPUBBEFK5U52H45GQGMLJJBCGIYOXXBBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJWRLHDPC2JFCQBKXQSF6FOYY565EBPJ4LUK23VFEUCRAYNY7KWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCEDIFV4TMMZBTGTM5WJPSXJMXX2SX5JFKHOHHXEJV3MKCWF6RMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMZXUFNWOPULGPGURTYKLXTUDWSSIBW5PKWARU73HIE44IJGG5EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXN54O32UJD6GAV3ROSYTVERVAP5ZTN37HU34NNQ45XRRVK5AWLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PTLVFQOD6HJCV6AG2HSD3W4PBQ33Y7DYNVVQK5T2XKOM4PLOJ2HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLIOTEBIM3L5SJBYN4IDFB4E4EAYSQPRROKX5XCAC2E5FDXDY2YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XNBLVRUNN5XNJB3IAROHC4IKZ3OBSYJLJAED5PB6MKMW3AY3GZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOLC7C7FAHYMUXV7QOGDAQWA2ZX34DA46O6WTVKUCFXCB7FJ3U6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNQOWXWE5HKDOCEJRK5BOWBEZFYK2JQI5XFHEIAPEYHKEZXB645A/vendors.js"
            ]
        },
        "ListMultipartReadSetUploads": {
            "http": {
                "requestUri": "/sequencestore/{sequenceStoreId}/uploads",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "sequenceStoreId"
                ],
                "members": {
                    "sequenceStoreId": {
                        "location": "uri",
                        "locationName": "sequenceStoreId"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "uploads": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "sequenceStoreId",
                                "uploadId",
                                "sourceFileType",
                                "subjectId",
                                "sampleId",
                                "generatedFrom",
                                "referenceArn",
                                "creationTime"
                            ],
                            "members": {
                                "sequenceStoreId": {},
                                "uploadId": {},
                                "sourceFileType": {},
                                "subjectId": {},
                                "sampleId": {},
                                "generatedFrom": {},
                                "referenceArn": {},
                                "name": {},
                                "description": {},
                                "tags": {
                                    "shape": "Sr"
                                },
                                "creationTime": {
                                    "shape": "Sv"
                                }
                            }
                        }
                    }
                }
            },
            "authtype": "v4",
            "endpoint": {
                "hostPrefix": "control-storage-"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZLVOBA6L2SMLXRIKFI4TPRDI6F2MRDNQULZDET2VGJ7MYBHHQOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJKBI3LO3KMFEDUWSC2JGYQP7DYLPZL4HBS4TMUK3NQEU3MAXY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUD3VEGJEPMFPALCPJEE2DHV6NST2GZKYYADIDW3ETWOCOIALQKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AEAC53QO4ZZFGPU4AQLQEEEUJJ7V6NMCENPIXDQSKUQN56XVSHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMYJJ4C5FEEJCB2CRG4DOM5UCWZVXTUL4BKPYG4SR7B7LZ2I2BYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZROP5EOYP4VLQ7TABDPIMKW5GKRO62PLUMXEPAPC3YXSZMJ6EAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7Z7GJPNCKFMTZ22QM3OXRJCH6XJVQ4AVCXWE5QOA62ZAXYEFK6FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6FKSRXP4U4UBBNLHOLEJUL6KO6ILC7M635YF7Z7OU6NI3N3VC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RRIG555GTDJJVOGQUPSDDPSQBWMIGAJCNGQT5CLCWDLLOTCY5UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JF3GPCVSXTPEFQGY2ZUP6C6QYPXLOWW5NASDO3Y5NLQUVZYWXA6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UY44XTJWDAIFU53H6PRFLGR2VYR66LXFFKIRYLYLUI63JTEVOAUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A45MY4AQYQV5LRQZGSVHHWP743FPB6LABHMBFC7Y2IMINQV327QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWFVPIQJZABKFLXZ6Y2VCJPOBC4J4TEOFU3JGF6M72SQPGCGC7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG6K7RGJVWWXQKJ7X4LU4I5UCNCDEMEOZGDLYH7D25S2UALARZFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SKNZW7VSSBVWLFJ3TJ5FPUBBEFK5U52H45GQGMLJJBCGIYOXXBBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJWRLHDPC2JFCQBKXQSF6FOYY565EBPJ4LUK23VFEUCRAYNY7KWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCEDIFV4TMMZBTGTM5WJPSXJMXX2SX5JFKHOHHXEJV3MKCWF6RMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMZXUFNWOPULGPGURTYKLXTUDWSSIBW5PKWARU73HIE44IJGG5EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXN54O32UJD6GAV3ROSYTVERVAP5ZTN37HU34NNQ45XRRVK5AWLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PTLVFQOD6HJCV6AG2HSD3W4PBQ33Y7DYNVVQK5T2XKOM4PLOJ2HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLIOTEBIM3L5SJBYN4IDFB4E4EAYSQPRROKX5XCAC2E5FDXDY2YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XNBLVRUNN5XNJB3IAROHC4IKZ3OBSYJLJAED5PB6MKMW3AY3GZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOLC7C7FAHYMUXV7QOGDAQWA2ZX34DA46O6WTVKUCFXCB7FJ3U6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNQOWXWE5HKDOCEJRK5BOWBEZFYK2JQI5XFHEIAPEYHKEZXB645A/vendors.js"
            ]
        },
[...]
