{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-05-10",
        "endpointPrefix": "awsvincentgatewayservice",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "ripServiceName": "omics/vincent",
        "serviceFullName": "AWS Vincent Gateway Service",
        "serviceId": "OmicsAnalytics",
        "signatureVersion": "v4",
        "signingName": "omics",
        "uid": "omicsanalytics-2018-05-10",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/UTYAQ44AAOJH24BUZ24ISJPZRLPWSOAX33A634P3SDUW6ME3OMPA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4QJKM6EXGYCM7XTHBGHNEYJV4UF3X5KL7OJXECWOGBRRSGDOEYQQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DETSXANDLDRGWEOPYKV3IZ2YX3OCJTHLHMI4WYYKQIEFBK2KU57A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JVGGGDLDSEHQ3NUTKVDBEQPVZ74LSZ377JPIHDHRFH473AHGUR3A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7ZLVOBA6L2SMLXRIKFI4TPRDI6F2MRDNQULZDET2VGJ7MYBHHQOA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VJKBI3LO3KMFEDUWSC2JGYQP7DYLPZL4HBS4TMUK3NQEU3MAXY5Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RUD3VEGJEPMFPALCPJEE2DHV6NST2GZKYYADIDW3ETWOCOIALQKQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7AEAC53QO4ZZFGPU4AQLQEEEUJJ7V6NMCENPIXDQSKUQN56XVSHA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OMYJJ4C5FEEJCB2CRG4DOM5UCWZVXTUL4BKPYG4SR7B7LZ2I2BYQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SZROP5EOYP4VLQ7TABDPIMKW5GKRO62PLUMXEPAPC3YXSZMJ6EAA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7Z7GJPNCKFMTZ22QM3OXRJCH6XJVQ4AVCXWE5QOA62ZAXYEFK6FA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/O6FKSRXP4U4UBBNLHOLEJUL6KO6ILC7M635YF7Z7OU6NI3N3VC6Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RRIG555GTDJJVOGQUPSDDPSQBWMIGAJCNGQT5CLCWDLLOTCY5UAA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JF3GPCVSXTPEFQGY2ZUP6C6QYPXLOWW5NASDO3Y5NLQUVZYWXA6A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UY44XTJWDAIFU53H6PRFLGR2VYR66LXFFKIRYLYLUI63JTEVOAUA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/A45MY4AQYQV5LRQZGSVHHWP743FPB6LABHMBFC7Y2IMINQV327QA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HWFVPIQJZABKFLXZ6Y2VCJPOBC4J4TEOFU3JGF6M72SQPGCGC7YA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KG6K7RGJVWWXQKJ7X4LU4I5UCNCDEMEOZGDLYH7D25S2UALARZFQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SKNZW7VSSBVWLFJ3TJ5FPUBBEFK5U52H45GQGMLJJBCGIYOXXBBQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FJWRLHDPC2JFCQBKXQSF6FOYY565EBPJ4LUK23VFEUCRAYNY7KWQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YCEDIFV4TMMZBTGTM5WJPSXJMXX2SX5JFKHOHHXEJV3MKCWF6RMQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZMZXUFNWOPULGPGURTYKLXTUDWSSIBW5PKWARU73HIE44IJGG5EA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EXN54O32UJD6GAV3ROSYTVERVAP5ZTN37HU34NNQ45XRRVK5AWLQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PTLVFQOD6HJCV6AG2HSD3W4PBQ33Y7DYNVVQK5T2XKOM4PLOJ2HA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PLIOTEBIM3L5SJBYN4IDFB4E4EAYSQPRROKX5XCAC2E5FDXDY2YA/vendors.js"
        ]
    },
    "operations": {
        "CancelAnnotationImportJob": {
            "http": {
                "method": "DELETE",
                "requestUri": "/import/annotation/{jobId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "jobId"
                ],
                "members": {
                    "jobId": {
                        "location": "uri",
                        "locationName": "jobId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "endpoint": {
                "hostPrefix": "analytics-"
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QJKM6EXGYCM7XTHBGHNEYJV4UF3X5KL7OJXECWOGBRRSGDOEYQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DETSXANDLDRGWEOPYKV3IZ2YX3OCJTHLHMI4WYYKQIEFBK2KU57A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVGGGDLDSEHQ3NUTKVDBEQPVZ74LSZ377JPIHDHRFH473AHGUR3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZLVOBA6L2SMLXRIKFI4TPRDI6F2MRDNQULZDET2VGJ7MYBHHQOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJKBI3LO3KMFEDUWSC2JGYQP7DYLPZL4HBS4TMUK3NQEU3MAXY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUD3VEGJEPMFPALCPJEE2DHV6NST2GZKYYADIDW3ETWOCOIALQKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AEAC53QO4ZZFGPU4AQLQEEEUJJ7V6NMCENPIXDQSKUQN56XVSHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMYJJ4C5FEEJCB2CRG4DOM5UCWZVXTUL4BKPYG4SR7B7LZ2I2BYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZROP5EOYP4VLQ7TABDPIMKW5GKRO62PLUMXEPAPC3YXSZMJ6EAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7Z7GJPNCKFMTZ22QM3OXRJCH6XJVQ4AVCXWE5QOA62ZAXYEFK6FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6FKSRXP4U4UBBNLHOLEJUL6KO6ILC7M635YF7Z7OU6NI3N3VC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RRIG555GTDJJVOGQUPSDDPSQBWMIGAJCNGQT5CLCWDLLOTCY5UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JF3GPCVSXTPEFQGY2ZUP6C6QYPXLOWW5NASDO3Y5NLQUVZYWXA6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UY44XTJWDAIFU53H6PRFLGR2VYR66LXFFKIRYLYLUI63JTEVOAUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A45MY4AQYQV5LRQZGSVHHWP743FPB6LABHMBFC7Y2IMINQV327QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWFVPIQJZABKFLXZ6Y2VCJPOBC4J4TEOFU3JGF6M72SQPGCGC7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG6K7RGJVWWXQKJ7X4LU4I5UCNCDEMEOZGDLYH7D25S2UALARZFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SKNZW7VSSBVWLFJ3TJ5FPUBBEFK5U52H45GQGMLJJBCGIYOXXBBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJWRLHDPC2JFCQBKXQSF6FOYY565EBPJ4LUK23VFEUCRAYNY7KWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCEDIFV4TMMZBTGTM5WJPSXJMXX2SX5JFKHOHHXEJV3MKCWF6RMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMZXUFNWOPULGPGURTYKLXTUDWSSIBW5PKWARU73HIE44IJGG5EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXN54O32UJD6GAV3ROSYTVERVAP5ZTN37HU34NNQ45XRRVK5AWLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PTLVFQOD6HJCV6AG2HSD3W4PBQ33Y7DYNVVQK5T2XKOM4PLOJ2HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLIOTEBIM3L5SJBYN4IDFB4E4EAYSQPRROKX5XCAC2E5FDXDY2YA/vendors.js"
            ]
        },
        "CancelVariantImportJob": {
            "http": {
                "method": "DELETE",
                "requestUri": "/import/variant/{jobId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "jobId"
                ],
                "members": {
                    "jobId": {
                        "location": "uri",
                        "locationName": "jobId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "endpoint": {
                "hostPrefix": "analytics-"
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QJKM6EXGYCM7XTHBGHNEYJV4UF3X5KL7OJXECWOGBRRSGDOEYQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DETSXANDLDRGWEOPYKV3IZ2YX3OCJTHLHMI4WYYKQIEFBK2KU57A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVGGGDLDSEHQ3NUTKVDBEQPVZ74LSZ377JPIHDHRFH473AHGUR3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZLVOBA6L2SMLXRIKFI4TPRDI6F2MRDNQULZDET2VGJ7MYBHHQOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJKBI3LO3KMFEDUWSC2JGYQP7DYLPZL4HBS4TMUK3NQEU3MAXY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUD3VEGJEPMFPALCPJEE2DHV6NST2GZKYYADIDW3ETWOCOIALQKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AEAC53QO4ZZFGPU4AQLQEEEUJJ7V6NMCENPIXDQSKUQN56XVSHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMYJJ4C5FEEJCB2CRG4DOM5UCWZVXTUL4BKPYG4SR7B7LZ2I2BYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZROP5EOYP4VLQ7TABDPIMKW5GKRO62PLUMXEPAPC3YXSZMJ6EAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7Z7GJPNCKFMTZ22QM3OXRJCH6XJVQ4AVCXWE5QOA62ZAXYEFK6FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6FKSRXP4U4UBBNLHOLEJUL6KO6ILC7M635YF7Z7OU6NI3N3VC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RRIG555GTDJJVOGQUPSDDPSQBWMIGAJCNGQT5CLCWDLLOTCY5UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JF3GPCVSXTPEFQGY2ZUP6C6QYPXLOWW5NASDO3Y5NLQUVZYWXA6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UY44XTJWDAIFU53H6PRFLGR2VYR66LXFFKIRYLYLUI63JTEVOAUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A45MY4AQYQV5LRQZGSVHHWP743FPB6LABHMBFC7Y2IMINQV327QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWFVPIQJZABKFLXZ6Y2VCJPOBC4J4TEOFU3JGF6M72SQPGCGC7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG6K7RGJVWWXQKJ7X4LU4I5UCNCDEMEOZGDLYH7D25S2UALARZFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SKNZW7VSSBVWLFJ3TJ5FPUBBEFK5U52H45GQGMLJJBCGIYOXXBBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJWRLHDPC2JFCQBKXQSF6FOYY565EBPJ4LUK23VFEUCRAYNY7KWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCEDIFV4TMMZBTGTM5WJPSXJMXX2SX5JFKHOHHXEJV3MKCWF6RMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMZXUFNWOPULGPGURTYKLXTUDWSSIBW5PKWARU73HIE44IJGG5EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXN54O32UJD6GAV3ROSYTVERVAP5ZTN37HU34NNQ45XRRVK5AWLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PTLVFQOD6HJCV6AG2HSD3W4PBQ33Y7DYNVVQK5T2XKOM4PLOJ2HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLIOTEBIM3L5SJBYN4IDFB4E4EAYSQPRROKX5XCAC2E5FDXDY2YA/vendors.js"
            ]
        },
        "CreateAnnotationStore": {
            "http": {
                "requestUri": "/annotationStore",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "storeFormat"
                ],
                "members": {
                    "reference": {
                        "shape": "S7"
                    },
                    "name": {},
                    "description": {},
                    "tags": {
                        "shape": "Sb"
                    },
                    "sseConfig": {
                        "shape": "Se"
                    },
                    "storeFormat": {},
                    "storeOptions": {
                        "shape": "Si"
                    },
                    "versionName": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "id",
                    "status",
                    "name",
                    "creationTime"
                ],
                "members": {
                    "id": {},
                    "reference": {
                        "shape": "S7"
                    },
                    "storeFormat": {},
                    "storeOptions": {
                        "shape": "Si"
                    },
                    "status": {},
                    "name": {},
                    "creationTime": {
                        "shape": "Sv"
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "analytics-"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QJKM6EXGYCM7XTHBGHNEYJV4UF3X5KL7OJXECWOGBRRSGDOEYQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DETSXANDLDRGWEOPYKV3IZ2YX3OCJTHLHMI4WYYKQIEFBK2KU57A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVGGGDLDSEHQ3NUTKVDBEQPVZ74LSZ377JPIHDHRFH473AHGUR3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZLVOBA6L2SMLXRIKFI4TPRDI6F2MRDNQULZDET2VGJ7MYBHHQOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJKBI3LO3KMFEDUWSC2JGYQP7DYLPZL4HBS4TMUK3NQEU3MAXY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUD3VEGJEPMFPALCPJEE2DHV6NST2GZKYYADIDW3ETWOCOIALQKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AEAC53QO4ZZFGPU4AQLQEEEUJJ7V6NMCENPIXDQSKUQN56XVSHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMYJJ4C5FEEJCB2CRG4DOM5UCWZVXTUL4BKPYG4SR7B7LZ2I2BYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZROP5EOYP4VLQ7TABDPIMKW5GKRO62PLUMXEPAPC3YXSZMJ6EAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7Z7GJPNCKFMTZ22QM3OXRJCH6XJVQ4AVCXWE5QOA62ZAXYEFK6FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6FKSRXP4U4UBBNLHOLEJUL6KO6ILC7M635YF7Z7OU6NI3N3VC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RRIG555GTDJJVOGQUPSDDPSQBWMIGAJCNGQT5CLCWDLLOTCY5UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JF3GPCVSXTPEFQGY2ZUP6C6QYPXLOWW5NASDO3Y5NLQUVZYWXA6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UY44XTJWDAIFU53H6PRFLGR2VYR66LXFFKIRYLYLUI63JTEVOAUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A45MY4AQYQV5LRQZGSVHHWP743FPB6LABHMBFC7Y2IMINQV327QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWFVPIQJZABKFLXZ6Y2VCJPOBC4J4TEOFU3JGF6M72SQPGCGC7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG6K7RGJVWWXQKJ7X4LU4I5UCNCDEMEOZGDLYH7D25S2UALARZFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SKNZW7VSSBVWLFJ3TJ5FPUBBEFK5U52H45GQGMLJJBCGIYOXXBBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJWRLHDPC2JFCQBKXQSF6FOYY565EBPJ4LUK23VFEUCRAYNY7KWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCEDIFV4TMMZBTGTM5WJPSXJMXX2SX5JFKHOHHXEJV3MKCWF6RMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMZXUFNWOPULGPGURTYKLXTUDWSSIBW5PKWARU73HIE44IJGG5EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXN54O32UJD6GAV3ROSYTVERVAP5ZTN37HU34NNQ45XRRVK5AWLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PTLVFQOD6HJCV6AG2HSD3W4PBQ33Y7DYNVVQK5T2XKOM4PLOJ2HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLIOTEBIM3L5SJBYN4IDFB4E4EAYSQPRROKX5XCAC2E5FDXDY2YA/vendors.js"
            ]
        },
        "CreateVariantStore": {
            "http": {
                "requestUri": "/variantStore",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "reference"
                ],
                "members": {
                    "reference": {
                        "shape": "S7"
                    },
                    "name": {},
                    "description": {},
                    "tags": {
                        "shape": "Sb"
                    },
                    "sseConfig": {
                        "shape": "Se"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "id",
                    "status",
                    "name",
                    "creationTime"
                ],
                "members": {
                    "id": {},
                    "reference": {
                        "shape": "S7"
                    },
                    "status": {},
                    "name": {},
                    "creationTime": {
                        "shape": "Sv"
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "analytics-"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QJKM6EXGYCM7XTHBGHNEYJV4UF3X5KL7OJXECWOGBRRSGDOEYQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DETSXANDLDRGWEOPYKV3IZ2YX3OCJTHLHMI4WYYKQIEFBK2KU57A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVGGGDLDSEHQ3NUTKVDBEQPVZ74LSZ377JPIHDHRFH473AHGUR3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZLVOBA6L2SMLXRIKFI4TPRDI6F2MRDNQULZDET2VGJ7MYBHHQOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJKBI3LO3KMFEDUWSC2JGYQP7DYLPZL4HBS4TMUK3NQEU3MAXY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUD3VEGJEPMFPALCPJEE2DHV6NST2GZKYYADIDW3ETWOCOIALQKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AEAC53QO4ZZFGPU4AQLQEEEUJJ7V6NMCENPIXDQSKUQN56XVSHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMYJJ4C5FEEJCB2CRG4DOM5UCWZVXTUL4BKPYG4SR7B7LZ2I2BYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZROP5EOYP4VLQ7TABDPIMKW5GKRO62PLUMXEPAPC3YXSZMJ6EAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7Z7GJPNCKFMTZ22QM3OXRJCH6XJVQ4AVCXWE5QOA62ZAXYEFK6FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6FKSRXP4U4UBBNLHOLEJUL6KO6ILC7M635YF7Z7OU6NI3N3VC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RRIG555GTDJJVOGQUPSDDPSQBWMIGAJCNGQT5CLCWDLLOTCY5UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JF3GPCVSXTPEFQGY2ZUP6C6QYPXLOWW5NASDO3Y5NLQUVZYWXA6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UY44XTJWDAIFU53H6PRFLGR2VYR66LXFFKIRYLYLUI63JTEVOAUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A45MY4AQYQV5LRQZGSVHHWP743FPB6LABHMBFC7Y2IMINQV327QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWFVPIQJZABKFLXZ6Y2VCJPOBC4J4TEOFU3JGF6M72SQPGCGC7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG6K7RGJVWWXQKJ7X4LU4I5UCNCDEMEOZGDLYH7D25S2UALARZFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SKNZW7VSSBVWLFJ3TJ5FPUBBEFK5U52H45GQGMLJJBCGIYOXXBBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJWRLHDPC2JFCQBKXQSF6FOYY565EBPJ4LUK23VFEUCRAYNY7KWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCEDIFV4TMMZBTGTM5WJPSXJMXX2SX5JFKHOHHXEJV3MKCWF6RMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMZXUFNWOPULGPGURTYKLXTUDWSSIBW5PKWARU73HIE44IJGG5EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXN54O32UJD6GAV3ROSYTVERVAP5ZTN37HU34NNQ45XRRVK5AWLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PTLVFQOD6HJCV6AG2HSD3W4PBQ33Y7DYNVVQK5T2XKOM4PLOJ2HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLIOTEBIM3L5SJBYN4IDFB4E4EAYSQPRROKX5XCAC2E5FDXDY2YA/vendors.js"
            ]
        },
        "DeleteAnnotationStore": {
            "http": {
                "method": "DELETE",
                "requestUri": "/annotationStore/{name}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "name"
                ],
                "members": {
                    "name": {
                        "location": "uri",
                        "locationName": "name"
                    },
                    "force": {
                        "location": "querystring",
                        "locationName": "force",
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "status"
                ],
                "members": {
                    "status": {}
                }
            },
            "endpoint": {
                "hostPrefix": "analytics-"
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QJKM6EXGYCM7XTHBGHNEYJV4UF3X5KL7OJXECWOGBRRSGDOEYQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DETSXANDLDRGWEOPYKV3IZ2YX3OCJTHLHMI4WYYKQIEFBK2KU57A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVGGGDLDSEHQ3NUTKVDBEQPVZ74LSZ377JPIHDHRFH473AHGUR3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZLVOBA6L2SMLXRIKFI4TPRDI6F2MRDNQULZDET2VGJ7MYBHHQOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJKBI3LO3KMFEDUWSC2JGYQP7DYLPZL4HBS4TMUK3NQEU3MAXY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUD3VEGJEPMFPALCPJEE2DHV6NST2GZKYYADIDW3ETWOCOIALQKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AEAC53QO4ZZFGPU4AQLQEEEUJJ7V6NMCENPIXDQSKUQN56XVSHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMYJJ4C5FEEJCB2CRG4DOM5UCWZVXTUL4BKPYG4SR7B7LZ2I2BYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZROP5EOYP4VLQ7TABDPIMKW5GKRO62PLUMXEPAPC3YXSZMJ6EAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7Z7GJPNCKFMTZ22QM3OXRJCH6XJVQ4AVCXWE5QOA62ZAXYEFK6FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6FKSRXP4U4UBBNLHOLEJUL6KO6ILC7M635YF7Z7OU6NI3N3VC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RRIG555GTDJJVOGQUPSDDPSQBWMIGAJCNGQT5CLCWDLLOTCY5UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JF3GPCVSXTPEFQGY2ZUP6C6QYPXLOWW5NASDO3Y5NLQUVZYWXA6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UY44XTJWDAIFU53H6PRFLGR2VYR66LXFFKIRYLYLUI63JTEVOAUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A45MY4AQYQV5LRQZGSVHHWP743FPB6LABHMBFC7Y2IMINQV327QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWFVPIQJZABKFLXZ6Y2VCJPOBC4J4TEOFU3JGF6M72SQPGCGC7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG6K7RGJVWWXQKJ7X4LU4I5UCNCDEMEOZGDLYH7D25S2UALARZFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SKNZW7VSSBVWLFJ3TJ5FPUBBEFK5U52H45GQGMLJJBCGIYOXXBBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJWRLHDPC2JFCQBKXQSF6FOYY565EBPJ4LUK23VFEUCRAYNY7KWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCEDIFV4TMMZBTGTM5WJPSXJMXX2SX5JFKHOHHXEJV3MKCWF6RMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMZXUFNWOPULGPGURTYKLXTUDWSSIBW5PKWARU73HIE44IJGG5EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXN54O32UJD6GAV3ROSYTVERVAP5ZTN37HU34NNQ45XRRVK5AWLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PTLVFQOD6HJCV6AG2HSD3W4PBQ33Y7DYNVVQK5T2XKOM4PLOJ2HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLIOTEBIM3L5SJBYN4IDFB4E4EAYSQPRROKX5XCAC2E5FDXDY2YA/vendors.js"
            ]
        },
        "DeleteVariantStore": {
            "http": {
                "method": "DELETE",
                "requestUri": "/variantStore/{name}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "name"
                ],
                "members": {
                    "name": {
                        "location": "uri",
                        "locationName": "name"
                    },
                    "force": {
                        "location": "querystring",
                        "locationName": "force",
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "status"
                ],
                "members": {
                    "status": {}
                }
            },
            "endpoint": {
                "hostPrefix": "analytics-"
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QJKM6EXGYCM7XTHBGHNEYJV4UF3X5KL7OJXECWOGBRRSGDOEYQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DETSXANDLDRGWEOPYKV3IZ2YX3OCJTHLHMI4WYYKQIEFBK2KU57A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVGGGDLDSEHQ3NUTKVDBEQPVZ74LSZ377JPIHDHRFH473AHGUR3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZLVOBA6L2SMLXRIKFI4TPRDI6F2MRDNQULZDET2VGJ7MYBHHQOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJKBI3LO3KMFEDUWSC2JGYQP7DYLPZL4HBS4TMUK3NQEU3MAXY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUD3VEGJEPMFPALCPJEE2DHV6NST2GZKYYADIDW3ETWOCOIALQKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AEAC53QO4ZZFGPU4AQLQEEEUJJ7V6NMCENPIXDQSKUQN56XVSHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMYJJ4C5FEEJCB2CRG4DOM5UCWZVXTUL4BKPYG4SR7B7LZ2I2BYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZROP5EOYP4VLQ7TABDPIMKW5GKRO62PLUMXEPAPC3YXSZMJ6EAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7Z7GJPNCKFMTZ22QM3OXRJCH6XJVQ4AVCXWE5QOA62ZAXYEFK6FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6FKSRXP4U4UBBNLHOLEJUL6KO6ILC7M635YF7Z7OU6NI3N3VC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RRIG555GTDJJVOGQUPSDDPSQBWMIGAJCNGQT5CLCWDLLOTCY5UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JF3GPCVSXTPEFQGY2ZUP6C6QYPXLOWW5NASDO3Y5NLQUVZYWXA6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UY44XTJWDAIFU53H6PRFLGR2VYR66LXFFKIRYLYLUI63JTEVOAUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A45MY4AQYQV5LRQZGSVHHWP743FPB6LABHMBFC7Y2IMINQV327QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWFVPIQJZABKFLXZ6Y2VCJPOBC4J4TEOFU3JGF6M72SQPGCGC7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG6K7RGJVWWXQKJ7X4LU4I5UCNCDEMEOZGDLYH7D25S2UALARZFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SKNZW7VSSBVWLFJ3TJ5FPUBBEFK5U52H45GQGMLJJBCGIYOXXBBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJWRLHDPC2JFCQBKXQSF6FOYY565EBPJ4LUK23VFEUCRAYNY7KWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCEDIFV4TMMZBTGTM5WJPSXJMXX2SX5JFKHOHHXEJV3MKCWF6RMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMZXUFNWOPULGPGURTYKLXTUDWSSIBW5PKWARU73HIE44IJGG5EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXN54O32UJD6GAV3ROSYTVERVAP5ZTN37HU34NNQ45XRRVK5AWLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PTLVFQOD6HJCV6AG2HSD3W4PBQ33Y7DYNVVQK5T2XKOM4PLOJ2HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLIOTEBIM3L5SJBYN4IDFB4E4EAYSQPRROKX5XCAC2E5FDXDY2YA/vendors.js"
            ]
        },
        "GetAnnotationImportJob": {
            "http": {
                "method": "GET",
                "requestUri": "/import/annotation/{jobId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "jobId"
                ],
                "members": {
                    "jobId": {
                        "location": "uri",
                        "locationName": "jobId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "id",
                    "destinationName",
                    "roleArn",
                    "status",
                    "statusMessage",
                    "creationTime",
                    "updateTime",
                    "completionTime",
                    "items",
                    "runLeftNormalization",
                    "formatOptions"
                ],
                "members": {
                    "id": {},
                    "destinationName": {},
                    "roleArn": {},
                    "status": {},
                    "statusMessage": {},
                    "creationTime": {
                        "shape": "Sv"
                    },
                    "updateTime": {
                        "shape": "S1a"
                    },
                    "completionTime": {
                        "shape": "S1b"
                    },
                    "items": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "source",
                                "jobStatus"
                            ],
                            "members": {
                                "source": {},
                                "jobStatus": {}
                            }
                        }
                    },
                    "runLeftNormalization": {
                        "type": "boolean"
                    },
                    "formatOptions": {
                        "shape": "S1g"
                    },
                    "annotationFields": {
                        "shape": "S1u"
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "analytics-"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QJKM6EXGYCM7XTHBGHNEYJV4UF3X5KL7OJXECWOGBRRSGDOEYQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DETSXANDLDRGWEOPYKV3IZ2YX3OCJTHLHMI4WYYKQIEFBK2KU57A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVGGGDLDSEHQ3NUTKVDBEQPVZ74LSZ377JPIHDHRFH473AHGUR3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZLVOBA6L2SMLXRIKFI4TPRDI6F2MRDNQULZDET2VGJ7MYBHHQOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJKBI3LO3KMFEDUWSC2JGYQP7DYLPZL4HBS4TMUK3NQEU3MAXY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUD3VEGJEPMFPALCPJEE2DHV6NST2GZKYYADIDW3ETWOCOIALQKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AEAC53QO4ZZFGPU4AQLQEEEUJJ7V6NMCENPIXDQSKUQN56XVSHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMYJJ4C5FEEJCB2CRG4DOM5UCWZVXTUL4BKPYG4SR7B7LZ2I2BYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZROP5EOYP4VLQ7TABDPIMKW5GKRO62PLUMXEPAPC3YXSZMJ6EAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7Z7GJPNCKFMTZ22QM3OXRJCH6XJVQ4AVCXWE5QOA62ZAXYEFK6FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6FKSRXP4U4UBBNLHOLEJUL6KO6ILC7M635YF7Z7OU6NI3N3VC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RRIG555GTDJJVOGQUPSDDPSQBWMIGAJCNGQT5CLCWDLLOTCY5UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JF3GPCVSXTPEFQGY2ZUP6C6QYPXLOWW5NASDO3Y5NLQUVZYWXA6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UY44XTJWDAIFU53H6PRFLGR2VYR66LXFFKIRYLYLUI63JTEVOAUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A45MY4AQYQV5LRQZGSVHHWP743FPB6LABHMBFC7Y2IMINQV327QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWFVPIQJZABKFLXZ6Y2VCJPOBC4J4TEOFU3JGF6M72SQPGCGC7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG6K7RGJVWWXQKJ7X4LU4I5UCNCDEMEOZGDLYH7D25S2UALARZFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SKNZW7VSSBVWLFJ3TJ5FPUBBEFK5U52H45GQGMLJJBCGIYOXXBBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJWRLHDPC2JFCQBKXQSF6FOYY565EBPJ4LUK23VFEUCRAYNY7KWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCEDIFV4TMMZBTGTM5WJPSXJMXX2SX5JFKHOHHXEJV3MKCWF6RMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMZXUFNWOPULGPGURTYKLXTUDWSSIBW5PKWARU73HIE44IJGG5EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXN54O32UJD6GAV3ROSYTVERVAP5ZTN37HU34NNQ45XRRVK5AWLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PTLVFQOD6HJCV6AG2HSD3W4PBQ33Y7DYNVVQK5T2XKOM4PLOJ2HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLIOTEBIM3L5SJBYN4IDFB4E4EAYSQPRROKX5XCAC2E5FDXDY2YA/vendors.js"
            ]
        },
        "GetAnnotationStore": {
            "http": {
                "method": "GET",
                "requestUri": "/annotationStore/{name}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "name"
                ],
                "members": {
                    "name": {
                        "location": "uri",
                        "locationName": "name"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "id",
                    "reference",
                    "status",
                    "storeArn",
                    "name",
                    "description",
                    "sseConfig",
                    "creationTime",
                    "updateTime",
                    "tags",
                    "statusMessage",
                    "storeSizeBytes"
                ],
                "members": {
                    "id": {},
                    "reference": {
                        "shape": "S7"
                    },
                    "status": {},
                    "storeArn": {},
                    "name": {},
                    "description": {},
                    "sseConfig": {
                        "shape": "Se"
                    },
                    "creationTime": {
                        "shape": "Sv"
                    },
                    "updateTime": {
                        "shape": "S1a"
                    },
                    "tags": {
                        "shape": "Sb"
                    },
                    "storeOptions": {
                        "shape": "Si"
                    },
                    "storeFormat": {},
                    "statusMessage": {},
                    "storeSizeBytes": {
                        "type": "long"
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "analytics-"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QJKM6EXGYCM7XTHBGHNEYJV4UF3X5KL7OJXECWOGBRRSGDOEYQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DETSXANDLDRGWEOPYKV3IZ2YX3OCJTHLHMI4WYYKQIEFBK2KU57A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVGGGDLDSEHQ3NUTKVDBEQPVZ74LSZ377JPIHDHRFH473AHGUR3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZLVOBA6L2SMLXRIKFI4TPRDI6F2MRDNQULZDET2VGJ7MYBHHQOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJKBI3LO3KMFEDUWSC2JGYQP7DYLPZL4HBS4TMUK3NQEU3MAXY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUD3VEGJEPMFPALCPJEE2DHV6NST2GZKYYADIDW3ETWOCOIALQKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AEAC53QO4ZZFGPU4AQLQEEEUJJ7V6NMCENPIXDQSKUQN56XVSHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMYJJ4C5FEEJCB2CRG4DOM5UCWZVXTUL4BKPYG4SR7B7LZ2I2BYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZROP5EOYP4VLQ7TABDPIMKW5GKRO62PLUMXEPAPC3YXSZMJ6EAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7Z7GJPNCKFMTZ22QM3OXRJCH6XJVQ4AVCXWE5QOA62ZAXYEFK6FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6FKSRXP4U4UBBNLHOLEJUL6KO6ILC7M635YF7Z7OU6NI3N3VC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RRIG555GTDJJVOGQUPSDDPSQBWMIGAJCNGQT5CLCWDLLOTCY5UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JF3GPCVSXTPEFQGY2ZUP6C6QYPXLOWW5NASDO3Y5NLQUVZYWXA6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UY44XTJWDAIFU53H6PRFLGR2VYR66LXFFKIRYLYLUI63JTEVOAUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A45MY4AQYQV5LRQZGSVHHWP743FPB6LABHMBFC7Y2IMINQV327QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWFVPIQJZABKFLXZ6Y2VCJPOBC4J4TEOFU3JGF6M72SQPGCGC7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG6K7RGJVWWXQKJ7X4LU4I5UCNCDEMEOZGDLYH7D25S2UALARZFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SKNZW7VSSBVWLFJ3TJ5FPUBBEFK5U52H45GQGMLJJBCGIYOXXBBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJWRLHDPC2JFCQBKXQSF6FOYY565EBPJ4LUK23VFEUCRAYNY7KWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCEDIFV4TMMZBTGTM5WJPSXJMXX2SX5JFKHOHHXEJV3MKCWF6RMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMZXUFNWOPULGPGURTYKLXTUDWSSIBW5PKWARU73HIE44IJGG5EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXN54O32UJD6GAV3ROSYTVERVAP5ZTN37HU34NNQ45XRRVK5AWLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PTLVFQOD6HJCV6AG2HSD3W4PBQ33Y7DYNVVQK5T2XKOM4PLOJ2HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLIOTEBIM3L5SJBYN4IDFB4E4EAYSQPRROKX5XCAC2E5FDXDY2YA/vendors.js"
            ]
        },
        "GetVariantImportJob": {
            "http": {
                "method": "GET",
                "requestUri": "/import/variant/{jobId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "jobId"
                ],
                "members": {
                    "jobId": {
                        "location": "uri",
                        "locationName": "jobId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "id",
                    "destinationName",
                    "roleArn",
                    "status",
                    "statusMessage",
                    "creationTime",
                    "updateTime",
                    "items",
                    "runLeftNormalization"
                ],
                "members": {
                    "id": {},
                    "destinationName": {},
                    "roleArn": {},
                    "status": {},
                    "statusMessage": {},
                    "creationTime": {
                        "shape": "Sv"
                    },
                    "updateTime": {
                        "shape": "S1a"
                    },
                    "completionTime": {
                        "shape": "S1b"
                    },
                    "items": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "source",
                                "jobStatus"
                            ],
                            "members": {
                                "source": {},
                                "jobStatus": {},
                                "statusMessage": {}
                            }
                        }
                    },
                    "runLeftNormalization": {
                        "type": "boolean"
                    },
                    "annotationFields": {
                        "shape": "S1u"
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "analytics-"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QJKM6EXGYCM7XTHBGHNEYJV4UF3X5KL7OJXECWOGBRRSGDOEYQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DETSXANDLDRGWEOPYKV3IZ2YX3OCJTHLHMI4WYYKQIEFBK2KU57A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVGGGDLDSEHQ3NUTKVDBEQPVZ74LSZ377JPIHDHRFH473AHGUR3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZLVOBA6L2SMLXRIKFI4TPRDI6F2MRDNQULZDET2VGJ7MYBHHQOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJKBI3LO3KMFEDUWSC2JGYQP7DYLPZL4HBS4TMUK3NQEU3MAXY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUD3VEGJEPMFPALCPJEE2DHV6NST2GZKYYADIDW3ETWOCOIALQKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AEAC53QO4ZZFGPU4AQLQEEEUJJ7V6NMCENPIXDQSKUQN56XVSHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMYJJ4C5FEEJCB2CRG4DOM5UCWZVXTUL4BKPYG4SR7B7LZ2I2BYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZROP5EOYP4VLQ7TABDPIMKW5GKRO62PLUMXEPAPC3YXSZMJ6EAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7Z7GJPNCKFMTZ22QM3OXRJCH6XJVQ4AVCXWE5QOA62ZAXYEFK6FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6FKSRXP4U4UBBNLHOLEJUL6KO6ILC7M635YF7Z7OU6NI3N3VC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RRIG555GTDJJVOGQUPSDDPSQBWMIGAJCNGQT5CLCWDLLOTCY5UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JF3GPCVSXTPEFQGY2ZUP6C6QYPXLOWW5NASDO3Y5NLQUVZYWXA6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UY44XTJWDAIFU53H6PRFLGR2VYR66LXFFKIRYLYLUI63JTEVOAUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A45MY4AQYQV5LRQZGSVHHWP743FPB6LABHMBFC7Y2IMINQV327QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWFVPIQJZABKFLXZ6Y2VCJPOBC4J4TEOFU3JGF6M72SQPGCGC7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG6K7RGJVWWXQKJ7X4LU4I5UCNCDEMEOZGDLYH7D25S2UALARZFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SKNZW7VSSBVWLFJ3TJ5FPUBBEFK5U52H45GQGMLJJBCGIYOXXBBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJWRLHDPC2JFCQBKXQSF6FOYY565EBPJ4LUK23VFEUCRAYNY7KWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCEDIFV4TMMZBTGTM5WJPSXJMXX2SX5JFKHOHHXEJV3MKCWF6RMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMZXUFNWOPULGPGURTYKLXTUDWSSIBW5PKWARU73HIE44IJGG5EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXN54O32UJD6GAV3ROSYTVERVAP5ZTN37HU34NNQ45XRRVK5AWLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PTLVFQOD6HJCV6AG2HSD3W4PBQ33Y7DYNVVQK5T2XKOM4PLOJ2HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLIOTEBIM3L5SJBYN4IDFB4E4EAYSQPRROKX5XCAC2E5FDXDY2YA/vendors.js"
            ]
        },
        "GetVariantStore": {
            "http": {
                "method": "GET",
                "requestUri": "/variantStore/{name}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "name"
                ],
                "members": {
                    "name": {
                        "location": "uri",
                        "locationName": "name"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "id",
                    "reference",
                    "status",
                    "storeArn",
                    "name",
                    "description",
                    "sseConfig",
                    "creationTime",
                    "updateTime",
                    "tags",
                    "statusMessage",
                    "storeSizeBytes"
                ],
                "members": {
                    "id": {},
                    "reference": {
                        "shape": "S7"
                    },
                    "status": {},
                    "storeArn": {},
                    "name": {},
                    "description": {},
                    "sseConfig": {
                        "shape": "Se"
                    },
                    "creationTime": {
                        "shape": "Sv"
                    },
                    "updateTime": {
                        "shape": "S1a"
                    },
                    "tags": {
                        "shape": "Sb"
                    },
                    "statusMessage": {},
                    "storeSizeBytes": {
                        "type": "long"
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "analytics-"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QJKM6EXGYCM7XTHBGHNEYJV4UF3X5KL7OJXECWOGBRRSGDOEYQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DETSXANDLDRGWEOPYKV3IZ2YX3OCJTHLHMI4WYYKQIEFBK2KU57A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVGGGDLDSEHQ3NUTKVDBEQPVZ74LSZ377JPIHDHRFH473AHGUR3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZLVOBA6L2SMLXRIKFI4TPRDI6F2MRDNQULZDET2VGJ7MYBHHQOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJKBI3LO3KMFEDUWSC2JGYQP7DYLPZL4HBS4TMUK3NQEU3MAXY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUD3VEGJEPMFPALCPJEE2DHV6NST2GZKYYADIDW3ETWOCOIALQKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AEAC53QO4ZZFGPU4AQLQEEEUJJ7V6NMCENPIXDQSKUQN56XVSHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMYJJ4C5FEEJCB2CRG4DOM5UCWZVXTUL4BKPYG4SR7B7LZ2I2BYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZROP5EOYP4VLQ7TABDPIMKW5GKRO62PLUMXEPAPC3YXSZMJ6EAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7Z7GJPNCKFMTZ22QM3OXRJCH6XJVQ4AVCXWE5QOA62ZAXYEFK6FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6FKSRXP4U4UBBNLHOLEJUL6KO6ILC7M635YF7Z7OU6NI3N3VC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RRIG555GTDJJVOGQUPSDDPSQBWMIGAJCNGQT5CLCWDLLOTCY5UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JF3GPCVSXTPEFQGY2ZUP6C6QYPXLOWW5NASDO3Y5NLQUVZYWXA6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UY44XTJWDAIFU53H6PRFLGR2VYR66LXFFKIRYLYLUI63JTEVOAUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A45MY4AQYQV5LRQZGSVHHWP743FPB6LABHMBFC7Y2IMINQV327QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWFVPIQJZABKFLXZ6Y2VCJPOBC4J4TEOFU3JGF6M72SQPGCGC7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG6K7RGJVWWXQKJ7X4LU4I5UCNCDEMEOZGDLYH7D25S2UALARZFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SKNZW7VSSBVWLFJ3TJ5FPUBBEFK5U52H45GQGMLJJBCGIYOXXBBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJWRLHDPC2JFCQBKXQSF6FOYY565EBPJ4LUK23VFEUCRAYNY7KWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCEDIFV4TMMZBTGTM5WJPSXJMXX2SX5JFKHOHHXEJV3MKCWF6RMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMZXUFNWOPULGPGURTYKLXTUDWSSIBW5PKWARU73HIE44IJGG5EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXN54O32UJD6GAV3ROSYTVERVAP5ZTN37HU34NNQ45XRRVK5AWLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PTLVFQOD6HJCV6AG2HSD3W4PBQ33Y7DYNVVQK5T2XKOM4PLOJ2HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLIOTEBIM3L5SJBYN4IDFB4E4EAYSQPRROKX5XCAC2E5FDXDY2YA/vendors.js"
            ]
        },
        "ListAnnotationImportJobs": {
            "http": {
                "requestUri": "/import/annotations",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "ids": {
                        "type": "list",
                        "member": {}
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "filter": {
                        "type": "structure",
                        "members": {
                            "status": {},
                            "storeName": {}
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "annotationImportJobs": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "id",
                                "destinationName",
                                "roleArn",
                                "status",
                                "creationTime",
                                "updateTime"
                            ],
                            "members": {
                                "id": {},
                                "destinationName": {},
                                "roleArn": {},
                                "status": {},
                                "creationTime": {
                                    "shape": "Sv"
                                },
                                "updateTime": {
                                    "shape": "S1a"
                                },
                                "completionTime": {
                                    "shape": "S1b"
                                },
                                "runLeftNormalization": {
                                    "type": "boolean"
                                },
                                "annotationFields": {
                                    "shape": "S1u"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "endpoint": {
                "hostPrefix": "analytics-"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QJKM6EXGYCM7XTHBGHNEYJV4UF3X5KL7OJXECWOGBRRSGDOEYQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DETSXANDLDRGWEOPYKV3IZ2YX3OCJTHLHMI4WYYKQIEFBK2KU57A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVGGGDLDSEHQ3NUTKVDBEQPVZ74LSZ377JPIHDHRFH473AHGUR3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZLVOBA6L2SMLXRIKFI4TPRDI6F2MRDNQULZDET2VGJ7MYBHHQOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJKBI3LO3KMFEDUWSC2JGYQP7DYLPZL4HBS4TMUK3NQEU3MAXY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUD3VEGJEPMFPALCPJEE2DHV6NST2GZKYYADIDW3ETWOCOIALQKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AEAC53QO4ZZFGPU4AQLQEEEUJJ7V6NMCENPIXDQSKUQN56XVSHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMYJJ4C5FEEJCB2CRG4DOM5UCWZVXTUL4BKPYG4SR7B7LZ2I2BYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZROP5EOYP4VLQ7TABDPIMKW5GKRO62PLUMXEPAPC3YXSZMJ6EAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7Z7GJPNCKFMTZ22QM3OXRJCH6XJVQ4AVCXWE5QOA62ZAXYEFK6FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6FKSRXP4U4UBBNLHOLEJUL6KO6ILC7M635YF7Z7OU6NI3N3VC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RRIG555GTDJJVOGQUPSDDPSQBWMIGAJCNGQT5CLCWDLLOTCY5UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JF3GPCVSXTPEFQGY2ZUP6C6QYPXLOWW5NASDO3Y5NLQUVZYWXA6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UY44XTJWDAIFU53H6PRFLGR2VYR66LXFFKIRYLYLUI63JTEVOAUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A45MY4AQYQV5LRQZGSVHHWP743FPB6LABHMBFC7Y2IMINQV327QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWFVPIQJZABKFLXZ6Y2VCJPOBC4J4TEOFU3JGF6M72SQPGCGC7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG6K7RGJVWWXQKJ7X4LU4I5UCNCDEMEOZGDLYH7D25S2UALARZFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SKNZW7VSSBVWLFJ3TJ5FPUBBEFK5U52H45GQGMLJJBCGIYOXXBBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJWRLHDPC2JFCQBKXQSF6FOYY565EBPJ4LUK23VFEUCRAYNY7KWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCEDIFV4TMMZBTGTM5WJPSXJMXX2SX5JFKHOHHXEJV3MKCWF6RMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMZXUFNWOPULGPGURTYKLXTUDWSSIBW5PKWARU73HIE44IJGG5EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXN54O32UJD6GAV3ROSYTVERVAP5ZTN37HU34NNQ45XRRVK5AWLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PTLVFQOD6HJCV6AG2HSD3W4PBQ33Y7DYNVVQK5T2XKOM4PLOJ2HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLIOTEBIM3L5SJBYN4IDFB4E4EAYSQPRROKX5XCAC2E5FDXDY2YA/vendors.js"
            ]
        },
        "ListAnnotationStores": {
            "http": {
                "requestUri": "/annotationStores",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ids": {
                        "type": "list",
                        "member": {}
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "filter": {
                        "type": "structure",
                        "members": {
                            "status": {}
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "annotationStores": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "id",
                                "reference",
                                "status",
                                "storeArn",
                                "name",
                                "storeFormat",
                                "description",
                                "sseConfig",
                                "creationTime",
                                "updateTime",
                                "statusMessage",
                                "storeSizeBytes"
                            ],
                            "members": {
                                "id": {},
                                "reference": {
                                    "shape": "S7"
                                },
                                "status": {},
                                "storeArn": {},
                                "name": {},
                                "storeFormat": {},
                                "description": {},
                                "sseConfig": {
                                    "shape": "Se"
                                },
                                "creationTime": {
                                    "shape": "Sv"
                                },
                                "updateTime": {
                                    "shape": "S1a"
                                },
                                "statusMessage": {},
                                "storeSizeBytes": {
                                    "type": "long"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "endpoint": {
                "hostPrefix": "analytics-"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QJKM6EXGYCM7XTHBGHNEYJV4UF3X5KL7OJXECWOGBRRSGDOEYQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DETSXANDLDRGWEOPYKV3IZ2YX3OCJTHLHMI4WYYKQIEFBK2KU57A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVGGGDLDSEHQ3NUTKVDBEQPVZ74LSZ377JPIHDHRFH473AHGUR3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZLVOBA6L2SMLXRIKFI4TPRDI6F2MRDNQULZDET2VGJ7MYBHHQOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJKBI3LO3KMFEDUWSC2JGYQP7DYLPZL4HBS4TMUK3NQEU3MAXY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUD3VEGJEPMFPALCPJEE2DHV6NST2GZKYYADIDW3ETWOCOIALQKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AEAC53QO4ZZFGPU4AQLQEEEUJJ7V6NMCENPIXDQSKUQN56XVSHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMYJJ4C5FEEJCB2CRG4DOM5UCWZVXTUL4BKPYG4SR7B7LZ2I2BYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZROP5EOYP4VLQ7TABDPIMKW5GKRO62PLUMXEPAPC3YXSZMJ6EAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7Z7GJPNCKFMTZ22QM3OXRJCH6XJVQ4AVCXWE5QOA62ZAXYEFK6FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6FKSRXP4U4UBBNLHOLEJUL6KO6ILC7M635YF7Z7OU6NI3N3VC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RRIG555GTDJJVOGQUPSDDPSQBWMIGAJCNGQT5CLCWDLLOTCY5UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JF3GPCVSXTPEFQGY2ZUP6C6QYPXLOWW5NASDO3Y5NLQUVZYWXA6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UY44XTJWDAIFU53H6PRFLGR2VYR66LXFFKIRYLYLUI63JTEVOAUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A45MY4AQYQV5LRQZGSVHHWP743FPB6LABHMBFC7Y2IMINQV327QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWFVPIQJZABKFLXZ6Y2VCJPOBC4J4TEOFU3JGF6M72SQPGCGC7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG6K7RGJVWWXQKJ7X4LU4I5UCNCDEMEOZGDLYH7D25S2UALARZFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SKNZW7VSSBVWLFJ3TJ5FPUBBEFK5U52H45GQGMLJJBCGIYOXXBBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJWRLHDPC2JFCQBKXQSF6FOYY565EBPJ4LUK23VFEUCRAYNY7KWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCEDIFV4TMMZBTGTM5WJPSXJMXX2SX5JFKHOHHXEJV3MKCWF6RMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMZXUFNWOPULGPGURTYKLXTUDWSSIBW5PKWARU73HIE44IJGG5EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXN54O32UJD6GAV3ROSYTVERVAP5ZTN37HU34NNQ45XRRVK5AWLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PTLVFQOD6HJCV6AG2HSD3W4PBQ33Y7DYNVVQK5T2XKOM4PLOJ2HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLIOTEBIM3L5SJBYN4IDFB4E4EAYSQPRROKX5XCAC2E5FDXDY2YA/vendors.js"
            ]
        },
        "ListVariantImportJobs": {
            "http": {
                "requestUri": "/import/variants",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "ids": {
                        "type": "list",
                        "member": {}
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "filter": {
                        "type": "structure",
                        "members": {
                            "status": {},
                            "storeName": {}
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "variantImportJobs": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "id",
                                "destinationName",
                                "roleArn",
                                "status",
                                "creationTime",
                                "updateTime"
                            ],
                            "members": {
                                "id": {},
                                "destinationName": {},
                                "roleArn": {},
                                "status": {},
                                "creationTime": {
                                    "shape": "Sv"
                                },
                                "updateTime": {
                                    "shape": "S1a"
                                },
                                "completionTime": {
                                    "shape": "S1b"
                                },
                                "runLeftNormalization": {
                                    "type": "boolean"
                                },
                                "annotationFields": {
                                    "shape": "S1u"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "endpoint": {
                "hostPrefix": "analytics-"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QJKM6EXGYCM7XTHBGHNEYJV4UF3X5KL7OJXECWOGBRRSGDOEYQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DETSXANDLDRGWEOPYKV3IZ2YX3OCJTHLHMI4WYYKQIEFBK2KU57A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVGGGDLDSEHQ3NUTKVDBEQPVZ74LSZ377JPIHDHRFH473AHGUR3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZLVOBA6L2SMLXRIKFI4TPRDI6F2MRDNQULZDET2VGJ7MYBHHQOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJKBI3LO3KMFEDUWSC2JGYQP7DYLPZL4HBS4TMUK3NQEU3MAXY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUD3VEGJEPMFPALCPJEE2DHV6NST2GZKYYADIDW3ETWOCOIALQKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AEAC53QO4ZZFGPU4AQLQEEEUJJ7V6NMCENPIXDQSKUQN56XVSHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMYJJ4C5FEEJCB2CRG4DOM5UCWZVXTUL4BKPYG4SR7B7LZ2I2BYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZROP5EOYP4VLQ7TABDPIMKW5GKRO62PLUMXEPAPC3YXSZMJ6EAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7Z7GJPNCKFMTZ22QM3OXRJCH6XJVQ4AVCXWE5QOA62ZAXYEFK6FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6FKSRXP4U4UBBNLHOLEJUL6KO6ILC7M635YF7Z7OU6NI3N3VC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RRIG555GTDJJVOGQUPSDDPSQBWMIGAJCNGQT5CLCWDLLOTCY5UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JF3GPCVSXTPEFQGY2ZUP6C6QYPXLOWW5NASDO3Y5NLQUVZYWXA6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UY44XTJWDAIFU53H6PRFLGR2VYR66LXFFKIRYLYLUI63JTEVOAUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A45MY4AQYQV5LRQZGSVHHWP743FPB6LABHMBFC7Y2IMINQV327QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWFVPIQJZABKFLXZ6Y2VCJPOBC4J4TEOFU3JGF6M72SQPGCGC7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG6K7RGJVWWXQKJ7X4LU4I5UCNCDEMEOZGDLYH7D25S2UALARZFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SKNZW7VSSBVWLFJ3TJ5FPUBBEFK5U52H45GQGMLJJBCGIYOXXBBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJWRLHDPC2JFCQBKXQSF6FOYY565EBPJ4LUK23VFEUCRAYNY7KWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCEDIFV4TMMZBTGTM5WJPSXJMXX2SX5JFKHOHHXEJV3MKCWF6RMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMZXUFNWOPULGPGURTYKLXTUDWSSIBW5PKWARU73HIE44IJGG5EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXN54O32UJD6GAV3ROSYTVERVAP5ZTN37HU34NNQ45XRRVK5AWLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PTLVFQOD6HJCV6AG2HSD3W4PBQ33Y7DYNVVQK5T2XKOM4PLOJ2HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLIOTEBIM3L5SJBYN4IDFB4E4EAYSQPRROKX5XCAC2E5FDXDY2YA/vendors.js"
            ]
        },
        "ListVariantStores": {
            "http": {
                "requestUri": "/variantStores",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "ids": {
                        "type": "list",
                        "member": {}
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "filter": {
                        "type": "structure",
                        "members": {
                            "status": {}
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "variantStores": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "id",
                                "reference",
                                "status",
                                "storeArn",
                                "name",
                                "description",
                                "sseConfig",
                                "creationTime",
                                "updateTime",
                                "statusMessage",
                                "storeSizeBytes"
                            ],
                            "members": {
                                "id": {},
                                "reference": {
                                    "shape": "S7"
                                },
                                "status": {},
                                "storeArn": {},
                                "name": {},
                                "description": {},
                                "sseConfig": {
                                    "shape": "Se"
                                },
                                "creationTime": {
                                    "shape": "Sv"
                                },
                                "updateTime": {
                                    "shape": "S1a"
                                },
                                "statusMessage": {},
                                "storeSizeBytes": {
                                    "type": "long"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "endpoint": {
                "hostPrefix": "analytics-"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QJKM6EXGYCM7XTHBGHNEYJV4UF3X5KL7OJXECWOGBRRSGDOEYQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DETSXANDLDRGWEOPYKV3IZ2YX3OCJTHLHMI4WYYKQIEFBK2KU57A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVGGGDLDSEHQ3NUTKVDBEQPVZ74LSZ377JPIHDHRFH473AHGUR3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZLVOBA6L2SMLXRIKFI4TPRDI6F2MRDNQULZDET2VGJ7MYBHHQOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJKBI3LO3KMFEDUWSC2JGYQP7DYLPZL4HBS4TMUK3NQEU3MAXY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUD3VEGJEPMFPALCPJEE2DHV6NST2GZKYYADIDW3ETWOCOIALQKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AEAC53QO4ZZFGPU4AQLQEEEUJJ7V6NMCENPIXDQSKUQN56XVSHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMYJJ4C5FEEJCB2CRG4DOM5UCWZVXTUL4BKPYG4SR7B7LZ2I2BYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZROP5EOYP4VLQ7TABDPIMKW5GKRO62PLUMXEPAPC3YXSZMJ6EAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7Z7GJPNCKFMTZ22QM3OXRJCH6XJVQ4AVCXWE5QOA62ZAXYEFK6FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6FKSRXP4U4UBBNLHOLEJUL6KO6ILC7M635YF7Z7OU6NI3N3VC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RRIG555GTDJJVOGQUPSDDPSQBWMIGAJCNGQT5CLCWDLLOTCY5UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JF3GPCVSXTPEFQGY2ZUP6C6QYPXLOWW5NASDO3Y5NLQUVZYWXA6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UY44XTJWDAIFU53H6PRFLGR2VYR66LXFFKIRYLYLUI63JTEVOAUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A45MY4AQYQV5LRQZGSVHHWP743FPB6LABHMBFC7Y2IMINQV327QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWFVPIQJZABKFLXZ6Y2VCJPOBC4J4TEOFU3JGF6M72SQPGCGC7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG6K7RGJVWWXQKJ7X4LU4I5UCNCDEMEOZGDLYH7D25S2UALARZFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SKNZW7VSSBVWLFJ3TJ5FPUBBEFK5U52H45GQGMLJJBCGIYOXXBBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJWRLHDPC2JFCQBKXQSF6FOYY565EBPJ4LUK23VFEUCRAYNY7KWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCEDIFV4TMMZBTGTM5WJPSXJMXX2SX5JFKHOHHXEJV3MKCWF6RMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMZXUFNWOPULGPGURTYKLXTUDWSSIBW5PKWARU73HIE44IJGG5EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXN54O32UJD6GAV3ROSYTVERVAP5ZTN37HU34NNQ45XRRVK5AWLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PTLVFQOD6HJCV6AG2HSD3W4PBQ33Y7DYNVVQK5T2XKOM4PLOJ2HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLIOTEBIM3L5SJBYN4IDFB4E4EAYSQPRROKX5XCAC2E5FDXDY2YA/vendors.js"
            ]
        },
        "StartAnnotationImportJob": {
            "http": {
                "requestUri": "/import/annotation",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "destinationName",
                    "roleArn",
                    "items"
                ],
                "members": {
                    "destinationName": {},
                    "roleArn": {},
                    "items": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "source"
                            ],
                            "members": {
                                "source": {}
                            }
                        }
                    },
                    "formatOptions": {
                        "shape": "S1g"
                    },
                    "runLeftNormalization": {
                        "type": "boolean"
                    },
                    "annotationFields": {
                        "shape": "S1u"
                    },
                    "versionName": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "jobId"
                ],
                "members": {
                    "jobId": {}
                }
            },
            "endpoint": {
                "hostPrefix": "analytics-"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QJKM6EXGYCM7XTHBGHNEYJV4UF3X5KL7OJXECWOGBRRSGDOEYQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DETSXANDLDRGWEOPYKV3IZ2YX3OCJTHLHMI4WYYKQIEFBK2KU57A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVGGGDLDSEHQ3NUTKVDBEQPVZ74LSZ377JPIHDHRFH473AHGUR3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZLVOBA6L2SMLXRIKFI4TPRDI6F2MRDNQULZDET2VGJ7MYBHHQOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJKBI3LO3KMFEDUWSC2JGYQP7DYLPZL4HBS4TMUK3NQEU3MAXY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUD3VEGJEPMFPALCPJEE2DHV6NST2GZKYYADIDW3ETWOCOIALQKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AEAC53QO4ZZFGPU4AQLQEEEUJJ7V6NMCENPIXDQSKUQN56XVSHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMYJJ4C5FEEJCB2CRG4DOM5UCWZVXTUL4BKPYG4SR7B7LZ2I2BYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZROP5EOYP4VLQ7TABDPIMKW5GKRO62PLUMXEPAPC3YXSZMJ6EAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7Z7GJPNCKFMTZ22QM3OXRJCH6XJVQ4AVCXWE5QOA62ZAXYEFK6FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6FKSRXP4U4UBBNLHOLEJUL6KO6ILC7M635YF7Z7OU6NI3N3VC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RRIG555GTDJJVOGQUPSDDPSQBWMIGAJCNGQT5CLCWDLLOTCY5UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JF3GPCVSXTPEFQGY2ZUP6C6QYPXLOWW5NASDO3Y5NLQUVZYWXA6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UY44XTJWDAIFU53H6PRFLGR2VYR66LXFFKIRYLYLUI63JTEVOAUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A45MY4AQYQV5LRQZGSVHHWP743FPB6LABHMBFC7Y2IMINQV327QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWFVPIQJZABKFLXZ6Y2VCJPOBC4J4TEOFU3JGF6M72SQPGCGC7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG6K7RGJVWWXQKJ7X4LU4I5UCNCDEMEOZGDLYH7D25S2UALARZFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SKNZW7VSSBVWLFJ3TJ5FPUBBEFK5U52H45GQGMLJJBCGIYOXXBBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJWRLHDPC2JFCQBKXQSF6FOYY565EBPJ4LUK23VFEUCRAYNY7KWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCEDIFV4TMMZBTGTM5WJPSXJMXX2SX5JFKHOHHXEJV3MKCWF6RMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMZXUFNWOPULGPGURTYKLXTUDWSSIBW5PKWARU73HIE44IJGG5EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXN54O32UJD6GAV3ROSYTVERVAP5ZTN37HU34NNQ45XRRVK5AWLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PTLVFQOD6HJCV6AG2HSD3W4PBQ33Y7DYNVVQK5T2XKOM4PLOJ2HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLIOTEBIM3L5SJBYN4IDFB4E4EAYSQPRROKX5XCAC2E5FDXDY2YA/vendors.js"
            ]
        },
        "StartVariantImportJob": {
            "http": {
                "requestUri": "/import/variant",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "destinationName",
                    "roleArn",
                    "items"
                ],
                "members": {
                    "destinationName": {},
                    "roleArn": {},
                    "items": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "source"
                            ],
                            "members": {
                                "source": {}
                            }
                        }
                    },
                    "runLeftNormalization": {
                        "type": "boolean"
                    },
                    "annotationFields": {
                        "shape": "S1u"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "jobId"
                ],
                "members": {
                    "jobId": {}
                }
            },
            "endpoint": {
                "hostPrefix": "analytics-"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QJKM6EXGYCM7XTHBGHNEYJV4UF3X5KL7OJXECWOGBRRSGDOEYQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DETSXANDLDRGWEOPYKV3IZ2YX3OCJTHLHMI4WYYKQIEFBK2KU57A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVGGGDLDSEHQ3NUTKVDBEQPVZ74LSZ377JPIHDHRFH473AHGUR3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZLVOBA6L2SMLXRIKFI4TPRDI6F2MRDNQULZDET2VGJ7MYBHHQOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJKBI3LO3KMFEDUWSC2JGYQP7DYLPZL4HBS4TMUK3NQEU3MAXY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUD3VEGJEPMFPALCPJEE2DHV6NST2GZKYYADIDW3ETWOCOIALQKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AEAC53QO4ZZFGPU4AQLQEEEUJJ7V6NMCENPIXDQSKUQN56XVSHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMYJJ4C5FEEJCB2CRG4DOM5UCWZVXTUL4BKPYG4SR7B7LZ2I2BYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZROP5EOYP4VLQ7TABDPIMKW5GKRO62PLUMXEPAPC3YXSZMJ6EAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7Z7GJPNCKFMTZ22QM3OXRJCH6XJVQ4AVCXWE5QOA62ZAXYEFK6FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6FKSRXP4U4UBBNLHOLEJUL6KO6ILC7M635YF7Z7OU6NI3N3VC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RRIG555GTDJJVOGQUPSDDPSQBWMIGAJCNGQT5CLCWDLLOTCY5UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JF3GPCVSXTPEFQGY2ZUP6C6QYPXLOWW5NASDO3Y5NLQUVZYWXA6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UY44XTJWDAIFU53H6PRFLGR2VYR66LXFFKIRYLYLUI63JTEVOAUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A45MY4AQYQV5LRQZGSVHHWP743FPB6LABHMBFC7Y2IMINQV327QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWFVPIQJZABKFLXZ6Y2VCJPOBC4J4TEOFU3JGF6M72SQPGCGC7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG6K7RGJVWWXQKJ7X4LU4I5UCNCDEMEOZGDLYH7D25S2UALARZFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SKNZW7VSSBVWLFJ3TJ5FPUBBEFK5U52H45GQGMLJJBCGIYOXXBBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJWRLHDPC2JFCQBKXQSF6FOYY565EBPJ4LUK23VFEUCRAYNY7KWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCEDIFV4TMMZBTGTM5WJPSXJMXX2SX5JFKHOHHXEJV3MKCWF6RMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMZXUFNWOPULGPGURTYKLXTUDWSSIBW5PKWARU73HIE44IJGG5EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXN54O32UJD6GAV3ROSYTVERVAP5ZTN37HU34NNQ45XRRVK5AWLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PTLVFQOD6HJCV6AG2HSD3W4PBQ33Y7DYNVVQK5T2XKOM4PLOJ2HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLIOTEBIM3L5SJBYN4IDFB4E4EAYSQPRROKX5XCAC2E5FDXDY2YA/vendors.js"
            ]
        },
        "UpdateAnnotationStore": {
            "http": {
                "requestUri": "/annotationStore/{name}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "name"
                ],
                "members": {
                    "name": {
                        "location": "uri",
                        "locationName": "name"
                    },
                    "description": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "id",
                    "reference",
                    "status",
                    "name",
                    "description",
                    "creationTime",
                    "updateTime"
                ],
                "members": {
                    "id": {},
                    "reference": {
                        "shape": "S7"
                    },
                    "status": {},
                    "name": {},
                    "description": {},
                    "creationTime": {
                        "shape": "Sv"
                    },
                    "updateTime": {
                        "shape": "S1a"
                    },
                    "storeOptions": {
                        "shape": "Si"
                    },
                    "storeFormat": {}
                }
            },
            "endpoint": {
                "hostPrefix": "analytics-"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QJKM6EXGYCM7XTHBGHNEYJV4UF3X5KL7OJXECWOGBRRSGDOEYQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DETSXANDLDRGWEOPYKV3IZ2YX3OCJTHLHMI4WYYKQIEFBK2KU57A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVGGGDLDSEHQ3NUTKVDBEQPVZ74LSZ377JPIHDHRFH473AHGUR3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZLVOBA6L2SMLXRIKFI4TPRDI6F2MRDNQULZDET2VGJ7MYBHHQOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJKBI3LO3KMFEDUWSC2JGYQP7DYLPZL4HBS4TMUK3NQEU3MAXY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUD3VEGJEPMFPALCPJEE2DHV6NST2GZKYYADIDW3ETWOCOIALQKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AEAC53QO4ZZFGPU4AQLQEEEUJJ7V6NMCENPIXDQSKUQN56XVSHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMYJJ4C5FEEJCB2CRG4DOM5UCWZVXTUL4BKPYG4SR7B7LZ2I2BYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZROP5EOYP4VLQ7TABDPIMKW5GKRO62PLUMXEPAPC3YXSZMJ6EAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7Z7GJPNCKFMTZ22QM3OXRJCH6XJVQ4AVCXWE5QOA62ZAXYEFK6FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6FKSRXP4U4UBBNLHOLEJUL6KO6ILC7M635YF7Z7OU6NI3N3VC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RRIG555GTDJJVOGQUPSDDPSQBWMIGAJCNGQT5CLCWDLLOTCY5UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JF3GPCVSXTPEFQGY2ZUP6C6QYPXLOWW5NASDO3Y5NLQUVZYWXA6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UY44XTJWDAIFU53H6PRFLGR2VYR66LXFFKIRYLYLUI63JTEVOAUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A45MY4AQYQV5LRQZGSVHHWP743FPB6LABHMBFC7Y2IMINQV327QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWFVPIQJZABKFLXZ6Y2VCJPOBC4J4TEOFU3JGF6M72SQPGCGC7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG6K7RGJVWWXQKJ7X4LU4I5UCNCDEMEOZGDLYH7D25S2UALARZFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SKNZW7VSSBVWLFJ3TJ5FPUBBEFK5U52H45GQGMLJJBCGIYOXXBBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJWRLHDPC2JFCQBKXQSF6FOYY565EBPJ4LUK23VFEUCRAYNY7KWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCEDIFV4TMMZBTGTM5WJPSXJMXX2SX5JFKHOHHXEJV3MKCWF6RMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMZXUFNWOPULGPGURTYKLXTUDWSSIBW5PKWARU73HIE44IJGG5EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXN54O32UJD6GAV3ROSYTVERVAP5ZTN37HU34NNQ45XRRVK5AWLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PTLVFQOD6HJCV6AG2HSD3W4PBQ33Y7DYNVVQK5T2XKOM4PLOJ2HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLIOTEBIM3L5SJBYN4IDFB4E4EAYSQPRROKX5XCAC2E5FDXDY2YA/vendors.js"
            ]
        },
        "UpdateVariantStore": {
            "http": {
                "requestUri": "/variantStore/{name}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "name"
                ],
                "members": {
                    "name": {
                        "location": "uri",
                        "locationName": "name"
                    },
                    "description": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "id",
                    "reference",
                    "status",
                    "name",
                    "description",
                    "creationTime",
                    "updateTime"
                ],
                "members": {
                    "id": {},
                    "reference": {
                        "shape": "S7"
                    },
                    "status": {},
                    "name": {},
                    "description": {},
                    "creationTime": {
                        "shape": "Sv"
                    },
                    "updateTime": {
                        "shape": "S1a"
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "analytics-"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QJKM6EXGYCM7XTHBGHNEYJV4UF3X5KL7OJXECWOGBRRSGDOEYQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DETSXANDLDRGWEOPYKV3IZ2YX3OCJTHLHMI4WYYKQIEFBK2KU57A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVGGGDLDSEHQ3NUTKVDBEQPVZ74LSZ377JPIHDHRFH473AHGUR3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZLVOBA6L2SMLXRIKFI4TPRDI6F2MRDNQULZDET2VGJ7MYBHHQOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJKBI3LO3KMFEDUWSC2JGYQP7DYLPZL4HBS4TMUK3NQEU3MAXY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUD3VEGJEPMFPALCPJEE2DHV6NST2GZKYYADIDW3ETWOCOIALQKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AEAC53QO4ZZFGPU4AQLQEEEUJJ7V6NMCENPIXDQSKUQN56XVSHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMYJJ4C5FEEJCB2CRG4DOM5UCWZVXTUL4BKPYG4SR7B7LZ2I2BYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZROP5EOYP4VLQ7TABDPIMKW5GKRO62PLUMXEPAPC3YXSZMJ6EAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7Z7GJPNCKFMTZ22QM3OXRJCH6XJVQ4AVCXWE5QOA62ZAXYEFK6FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6FKSRXP4U4UBBNLHOLEJUL6KO6ILC7M635YF7Z7OU6NI3N3VC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RRIG555GTDJJVOGQUPSDDPSQBWMIGAJCNGQT5CLCWDLLOTCY5UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JF3GPCVSXTPEFQGY2ZUP6C6QYPXLOWW5NASDO3Y5NLQUVZYWXA6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UY44XTJWDAIFU53H6PRFLGR2VYR66LXFFKIRYLYLUI63JTEVOAUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A45MY4AQYQV5LRQZGSVHHWP743FPB6LABHMBFC7Y2IMINQV327QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWFVPIQJZABKFLXZ6Y2VCJPOBC4J4TEOFU3JGF6M72SQPGCGC7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG6K7RGJVWWXQKJ7X4LU4I5UCNCDEMEOZGDLYH7D25S2UALARZFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SKNZW7VSSBVWLFJ3TJ5FPUBBEFK5U52H45GQGMLJJBCGIYOXXBBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJWRLHDPC2JFCQBKXQSF6FOYY565EBPJ4LUK23VFEUCRAYNY7KWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCEDIFV4TMMZBTGTM5WJPSXJMXX2SX5JFKHOHHXEJV3MKCWF6RMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMZXUFNWOPULGPGURTYKLXTUDWSSIBW5PKWARU73HIE44IJGG5EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXN54O32UJD6GAV3ROSYTVERVAP5ZTN37HU34NNQ45XRRVK5AWLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PTLVFQOD6HJCV6AG2HSD3W4PBQ33Y7DYNVVQK5T2XKOM4PLOJ2HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLIOTEBIM3L5SJBYN4IDFB4E4EAYSQPRROKX5XCAC2E5FDXDY2YA/vendors.js"
            ]
        },
        "AcceptShare": {
            "http": {
                "requestUri": "/share/{shareId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "shareId"
                ],
                "members": {
                    "shareId": {
                        "location": "uri",
                        "locationName": "shareId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "status": {}
                }
            },
            "endpoint": {
                "hostPrefix": "analytics-"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QJKM6EXGYCM7XTHBGHNEYJV4UF3X5KL7OJXECWOGBRRSGDOEYQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DETSXANDLDRGWEOPYKV3IZ2YX3OCJTHLHMI4WYYKQIEFBK2KU57A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVGGGDLDSEHQ3NUTKVDBEQPVZ74LSZ377JPIHDHRFH473AHGUR3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZLVOBA6L2SMLXRIKFI4TPRDI6F2MRDNQULZDET2VGJ7MYBHHQOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJKBI3LO3KMFEDUWSC2JGYQP7DYLPZL4HBS4TMUK3NQEU3MAXY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUD3VEGJEPMFPALCPJEE2DHV6NST2GZKYYADIDW3ETWOCOIALQKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AEAC53QO4ZZFGPU4AQLQEEEUJJ7V6NMCENPIXDQSKUQN56XVSHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMYJJ4C5FEEJCB2CRG4DOM5UCWZVXTUL4BKPYG4SR7B7LZ2I2BYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZROP5EOYP4VLQ7TABDPIMKW5GKRO62PLUMXEPAPC3YXSZMJ6EAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7Z7GJPNCKFMTZ22QM3OXRJCH6XJVQ4AVCXWE5QOA62ZAXYEFK6FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6FKSRXP4U4UBBNLHOLEJUL6KO6ILC7M635YF7Z7OU6NI3N3VC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RRIG555GTDJJVOGQUPSDDPSQBWMIGAJCNGQT5CLCWDLLOTCY5UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JF3GPCVSXTPEFQGY2ZUP6C6QYPXLOWW5NASDO3Y5NLQUVZYWXA6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UY44XTJWDAIFU53H6PRFLGR2VYR66LXFFKIRYLYLUI63JTEVOAUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A45MY4AQYQV5LRQZGSVHHWP743FPB6LABHMBFC7Y2IMINQV327QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWFVPIQJZABKFLXZ6Y2VCJPOBC4J4TEOFU3JGF6M72SQPGCGC7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG6K7RGJVWWXQKJ7X4LU4I5UCNCDEMEOZGDLYH7D25S2UALARZFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SKNZW7VSSBVWLFJ3TJ5FPUBBEFK5U52H45GQGMLJJBCGIYOXXBBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJWRLHDPC2JFCQBKXQSF6FOYY565EBPJ4LUK23VFEUCRAYNY7KWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCEDIFV4TMMZBTGTM5WJPSXJMXX2SX5JFKHOHHXEJV3MKCWF6RMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMZXUFNWOPULGPGURTYKLXTUDWSSIBW5PKWARU73HIE44IJGG5EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXN54O32UJD6GAV3ROSYTVERVAP5ZTN37HU34NNQ45XRRVK5AWLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PTLVFQOD6HJCV6AG2HSD3W4PBQ33Y7DYNVVQK5T2XKOM4PLOJ2HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLIOTEBIM3L5SJBYN4IDFB4E4EAYSQPRROKX5XCAC2E5FDXDY2YA/vendors.js"
            ]
        },
        "CreateAnnotationStoreVersion": {
            "http": {
                "requestUri": "/annotationStore/{name}/version",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "versionName"
                ],
                "members": {
                    "name": {
                        "location": "uri",
                        "locationName": "name"
                    },
                    "versionName": {},
                    "description": {},
                    "versionOptions": {
                        "shape": "S11"
                    },
                    "tags": {
                        "shape": "Sf"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "id",
                    "versionName",
                    "storeId",
                    "name",
                    "status",
                    "creationTime"
                ],
                "members": {
                    "id": {},
                    "versionName": {},
                    "storeId": {},
                    "versionOptions": {
                        "shape": "S11"
                    },
                    "name": {},
                    "status": {},
                    "creationTime": {
                        "shape": "Sz"
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "analytics-"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QJKM6EXGYCM7XTHBGHNEYJV4UF3X5KL7OJXECWOGBRRSGDOEYQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DETSXANDLDRGWEOPYKV3IZ2YX3OCJTHLHMI4WYYKQIEFBK2KU57A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVGGGDLDSEHQ3NUTKVDBEQPVZ74LSZ377JPIHDHRFH473AHGUR3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZLVOBA6L2SMLXRIKFI4TPRDI6F2MRDNQULZDET2VGJ7MYBHHQOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJKBI3LO3KMFEDUWSC2JGYQP7DYLPZL4HBS4TMUK3NQEU3MAXY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUD3VEGJEPMFPALCPJEE2DHV6NST2GZKYYADIDW3ETWOCOIALQKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AEAC53QO4ZZFGPU4AQLQEEEUJJ7V6NMCENPIXDQSKUQN56XVSHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMYJJ4C5FEEJCB2CRG4DOM5UCWZVXTUL4BKPYG4SR7B7LZ2I2BYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZROP5EOYP4VLQ7TABDPIMKW5GKRO62PLUMXEPAPC3YXSZMJ6EAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7Z7GJPNCKFMTZ22QM3OXRJCH6XJVQ4AVCXWE5QOA62ZAXYEFK6FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6FKSRXP4U4UBBNLHOLEJUL6KO6ILC7M635YF7Z7OU6NI3N3VC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RRIG555GTDJJVOGQUPSDDPSQBWMIGAJCNGQT5CLCWDLLOTCY5UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JF3GPCVSXTPEFQGY2ZUP6C6QYPXLOWW5NASDO3Y5NLQUVZYWXA6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UY44XTJWDAIFU53H6PRFLGR2VYR66LXFFKIRYLYLUI63JTEVOAUA/vendors.js",
[...]
