{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2022-11-01",
        "endpointPrefix": "omics",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "ripServiceName": "omics",
        "serviceFullName": "Amazon Omics",
        "serviceId": "Omics",
        "signatureVersion": "v4",
        "signingName": "omics",
        "uid": "omics-2022-11-01",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/YXH3XHK4RR72NFPVZ6UBHUVLN34NDD6VCVCATAHTIIHYF4MB3H7Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XAUL6GR2UOXFVIZFPBPRZH4H6HDVCD3TGQDAT2VQARSYNVY3U7VA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TRXCMPUZBPO42IAYDDJQDLFH23AK5PJZ7HR4GOSJEBPKDRFMA6KA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Y23INILA4QVNGVBQR6R4P3XZJLBH3PU4FJTRCC57W6TKDGDA7S3Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GVFAHOGWOOTAVCVIF6MDKODFUQ76IOHLUMWGEDSCOAATVXYE3O5Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6KRFJ3XJG76WOW23A5VFIR6LQ3HDV2ZNQFR7X5XKLR5S3PCA5OPA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6YRFSOHHNLFNN3IUHGUUJORNQMP4QWJZB7UJKNYWIHPZB3V5GTIQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FVBO4PPPKWZJHDKE6OAJX6UBCEV63S77GXOHGOIUBXLNOT7WCAOQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6F5RPAMBN5PEES2CSIM6MO5ZOH2Q7SGMHC7FFILIOEM5YJJA72IQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UTYAQ44AAOJH24BUZ24ISJPZRLPWSOAX33A634P3SDUW6ME3OMPA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4QJKM6EXGYCM7XTHBGHNEYJV4UF3X5KL7OJXECWOGBRRSGDOEYQQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DETSXANDLDRGWEOPYKV3IZ2YX3OCJTHLHMI4WYYKQIEFBK2KU57A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JVGGGDLDSEHQ3NUTKVDBEQPVZ74LSZ377JPIHDHRFH473AHGUR3A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7ZLVOBA6L2SMLXRIKFI4TPRDI6F2MRDNQULZDET2VGJ7MYBHHQOA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VJKBI3LO3KMFEDUWSC2JGYQP7DYLPZL4HBS4TMUK3NQEU3MAXY5Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RUD3VEGJEPMFPALCPJEE2DHV6NST2GZKYYADIDW3ETWOCOIALQKQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7AEAC53QO4ZZFGPU4AQLQEEEUJJ7V6NMCENPIXDQSKUQN56XVSHA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OMYJJ4C5FEEJCB2CRG4DOM5UCWZVXTUL4BKPYG4SR7B7LZ2I2BYQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SZROP5EOYP4VLQ7TABDPIMKW5GKRO62PLUMXEPAPC3YXSZMJ6EAA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7Z7GJPNCKFMTZ22QM3OXRJCH6XJVQ4AVCXWE5QOA62ZAXYEFK6FA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/O6FKSRXP4U4UBBNLHOLEJUL6KO6ILC7M635YF7Z7OU6NI3N3VC6Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RRIG555GTDJJVOGQUPSDDPSQBWMIGAJCNGQT5CLCWDLLOTCY5UAA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JF3GPCVSXTPEFQGY2ZUP6C6QYPXLOWW5NASDO3Y5NLQUVZYWXA6A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UY44XTJWDAIFU53H6PRFLGR2VYR66LXFFKIRYLYLUI63JTEVOAUA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/A45MY4AQYQV5LRQZGSVHHWP743FPB6LABHMBFC7Y2IMINQV327QA/vendors.js"
        ]
    },
    "operations": {
        "CancelRun": {
            "http": {
                "requestUri": "/run/{id}/cancel",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "workflows-"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XAUL6GR2UOXFVIZFPBPRZH4H6HDVCD3TGQDAT2VQARSYNVY3U7VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TRXCMPUZBPO42IAYDDJQDLFH23AK5PJZ7HR4GOSJEBPKDRFMA6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y23INILA4QVNGVBQR6R4P3XZJLBH3PU4FJTRCC57W6TKDGDA7S3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GVFAHOGWOOTAVCVIF6MDKODFUQ76IOHLUMWGEDSCOAATVXYE3O5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6KRFJ3XJG76WOW23A5VFIR6LQ3HDV2ZNQFR7X5XKLR5S3PCA5OPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YRFSOHHNLFNN3IUHGUUJORNQMP4QWJZB7UJKNYWIHPZB3V5GTIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVBO4PPPKWZJHDKE6OAJX6UBCEV63S77GXOHGOIUBXLNOT7WCAOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6F5RPAMBN5PEES2CSIM6MO5ZOH2Q7SGMHC7FFILIOEM5YJJA72IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTYAQ44AAOJH24BUZ24ISJPZRLPWSOAX33A634P3SDUW6ME3OMPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QJKM6EXGYCM7XTHBGHNEYJV4UF3X5KL7OJXECWOGBRRSGDOEYQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DETSXANDLDRGWEOPYKV3IZ2YX3OCJTHLHMI4WYYKQIEFBK2KU57A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVGGGDLDSEHQ3NUTKVDBEQPVZ74LSZ377JPIHDHRFH473AHGUR3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZLVOBA6L2SMLXRIKFI4TPRDI6F2MRDNQULZDET2VGJ7MYBHHQOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJKBI3LO3KMFEDUWSC2JGYQP7DYLPZL4HBS4TMUK3NQEU3MAXY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUD3VEGJEPMFPALCPJEE2DHV6NST2GZKYYADIDW3ETWOCOIALQKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AEAC53QO4ZZFGPU4AQLQEEEUJJ7V6NMCENPIXDQSKUQN56XVSHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMYJJ4C5FEEJCB2CRG4DOM5UCWZVXTUL4BKPYG4SR7B7LZ2I2BYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZROP5EOYP4VLQ7TABDPIMKW5GKRO62PLUMXEPAPC3YXSZMJ6EAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7Z7GJPNCKFMTZ22QM3OXRJCH6XJVQ4AVCXWE5QOA62ZAXYEFK6FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6FKSRXP4U4UBBNLHOLEJUL6KO6ILC7M635YF7Z7OU6NI3N3VC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RRIG555GTDJJVOGQUPSDDPSQBWMIGAJCNGQT5CLCWDLLOTCY5UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JF3GPCVSXTPEFQGY2ZUP6C6QYPXLOWW5NASDO3Y5NLQUVZYWXA6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UY44XTJWDAIFU53H6PRFLGR2VYR66LXFFKIRYLYLUI63JTEVOAUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A45MY4AQYQV5LRQZGSVHHWP743FPB6LABHMBFC7Y2IMINQV327QA/vendors.js"
            ]
        },
        "CreateRunGroup": {
            "http": {
                "requestUri": "/runGroup",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "requestId"
                ],
                "members": {
                    "name": {},
                    "maxCpus": {
                        "type": "integer"
                    },
                    "maxGpus": {
                        "type": "integer"
                    },
                    "maxRuns": {
                        "type": "integer"
                    },
                    "maxDuration": {
                        "type": "integer"
                    },
                    "tags": {
                        "shape": "S9"
                    },
                    "requestId": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "arn": {},
                    "id": {},
                    "tags": {
                        "shape": "S9"
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "workflows-"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XAUL6GR2UOXFVIZFPBPRZH4H6HDVCD3TGQDAT2VQARSYNVY3U7VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TRXCMPUZBPO42IAYDDJQDLFH23AK5PJZ7HR4GOSJEBPKDRFMA6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y23INILA4QVNGVBQR6R4P3XZJLBH3PU4FJTRCC57W6TKDGDA7S3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GVFAHOGWOOTAVCVIF6MDKODFUQ76IOHLUMWGEDSCOAATVXYE3O5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6KRFJ3XJG76WOW23A5VFIR6LQ3HDV2ZNQFR7X5XKLR5S3PCA5OPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YRFSOHHNLFNN3IUHGUUJORNQMP4QWJZB7UJKNYWIHPZB3V5GTIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVBO4PPPKWZJHDKE6OAJX6UBCEV63S77GXOHGOIUBXLNOT7WCAOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6F5RPAMBN5PEES2CSIM6MO5ZOH2Q7SGMHC7FFILIOEM5YJJA72IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTYAQ44AAOJH24BUZ24ISJPZRLPWSOAX33A634P3SDUW6ME3OMPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QJKM6EXGYCM7XTHBGHNEYJV4UF3X5KL7OJXECWOGBRRSGDOEYQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DETSXANDLDRGWEOPYKV3IZ2YX3OCJTHLHMI4WYYKQIEFBK2KU57A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVGGGDLDSEHQ3NUTKVDBEQPVZ74LSZ377JPIHDHRFH473AHGUR3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZLVOBA6L2SMLXRIKFI4TPRDI6F2MRDNQULZDET2VGJ7MYBHHQOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJKBI3LO3KMFEDUWSC2JGYQP7DYLPZL4HBS4TMUK3NQEU3MAXY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUD3VEGJEPMFPALCPJEE2DHV6NST2GZKYYADIDW3ETWOCOIALQKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AEAC53QO4ZZFGPU4AQLQEEEUJJ7V6NMCENPIXDQSKUQN56XVSHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMYJJ4C5FEEJCB2CRG4DOM5UCWZVXTUL4BKPYG4SR7B7LZ2I2BYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZROP5EOYP4VLQ7TABDPIMKW5GKRO62PLUMXEPAPC3YXSZMJ6EAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7Z7GJPNCKFMTZ22QM3OXRJCH6XJVQ4AVCXWE5QOA62ZAXYEFK6FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6FKSRXP4U4UBBNLHOLEJUL6KO6ILC7M635YF7Z7OU6NI3N3VC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RRIG555GTDJJVOGQUPSDDPSQBWMIGAJCNGQT5CLCWDLLOTCY5UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JF3GPCVSXTPEFQGY2ZUP6C6QYPXLOWW5NASDO3Y5NLQUVZYWXA6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UY44XTJWDAIFU53H6PRFLGR2VYR66LXFFKIRYLYLUI63JTEVOAUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A45MY4AQYQV5LRQZGSVHHWP743FPB6LABHMBFC7Y2IMINQV327QA/vendors.js"
            ]
        },
        "CreateWorkflow": {
            "http": {
                "requestUri": "/workflow",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "requestId"
                ],
                "members": {
                    "name": {},
                    "description": {},
                    "engine": {},
                    "definitionZip": {
                        "type": "blob"
                    },
                    "definitionUri": {},
                    "main": {},
                    "parameterTemplate": {
                        "shape": "Sn"
                    },
                    "storageCapacity": {
                        "type": "integer"
                    },
                    "accelerators": {},
                    "tags": {
                        "shape": "S9"
                    },
                    "requestId": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "arn": {},
                    "id": {},
                    "status": {},
                    "tags": {
                        "shape": "S9"
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "workflows-"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XAUL6GR2UOXFVIZFPBPRZH4H6HDVCD3TGQDAT2VQARSYNVY3U7VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TRXCMPUZBPO42IAYDDJQDLFH23AK5PJZ7HR4GOSJEBPKDRFMA6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y23INILA4QVNGVBQR6R4P3XZJLBH3PU4FJTRCC57W6TKDGDA7S3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GVFAHOGWOOTAVCVIF6MDKODFUQ76IOHLUMWGEDSCOAATVXYE3O5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6KRFJ3XJG76WOW23A5VFIR6LQ3HDV2ZNQFR7X5XKLR5S3PCA5OPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YRFSOHHNLFNN3IUHGUUJORNQMP4QWJZB7UJKNYWIHPZB3V5GTIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVBO4PPPKWZJHDKE6OAJX6UBCEV63S77GXOHGOIUBXLNOT7WCAOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6F5RPAMBN5PEES2CSIM6MO5ZOH2Q7SGMHC7FFILIOEM5YJJA72IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTYAQ44AAOJH24BUZ24ISJPZRLPWSOAX33A634P3SDUW6ME3OMPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QJKM6EXGYCM7XTHBGHNEYJV4UF3X5KL7OJXECWOGBRRSGDOEYQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DETSXANDLDRGWEOPYKV3IZ2YX3OCJTHLHMI4WYYKQIEFBK2KU57A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVGGGDLDSEHQ3NUTKVDBEQPVZ74LSZ377JPIHDHRFH473AHGUR3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZLVOBA6L2SMLXRIKFI4TPRDI6F2MRDNQULZDET2VGJ7MYBHHQOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJKBI3LO3KMFEDUWSC2JGYQP7DYLPZL4HBS4TMUK3NQEU3MAXY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUD3VEGJEPMFPALCPJEE2DHV6NST2GZKYYADIDW3ETWOCOIALQKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AEAC53QO4ZZFGPU4AQLQEEEUJJ7V6NMCENPIXDQSKUQN56XVSHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMYJJ4C5FEEJCB2CRG4DOM5UCWZVXTUL4BKPYG4SR7B7LZ2I2BYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZROP5EOYP4VLQ7TABDPIMKW5GKRO62PLUMXEPAPC3YXSZMJ6EAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7Z7GJPNCKFMTZ22QM3OXRJCH6XJVQ4AVCXWE5QOA62ZAXYEFK6FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6FKSRXP4U4UBBNLHOLEJUL6KO6ILC7M635YF7Z7OU6NI3N3VC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RRIG555GTDJJVOGQUPSDDPSQBWMIGAJCNGQT5CLCWDLLOTCY5UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JF3GPCVSXTPEFQGY2ZUP6C6QYPXLOWW5NASDO3Y5NLQUVZYWXA6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UY44XTJWDAIFU53H6PRFLGR2VYR66LXFFKIRYLYLUI63JTEVOAUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A45MY4AQYQV5LRQZGSVHHWP743FPB6LABHMBFC7Y2IMINQV327QA/vendors.js"
            ]
        },
        "DeleteRun": {
            "http": {
                "method": "DELETE",
                "requestUri": "/run/{id}",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "workflows-"
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XAUL6GR2UOXFVIZFPBPRZH4H6HDVCD3TGQDAT2VQARSYNVY3U7VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TRXCMPUZBPO42IAYDDJQDLFH23AK5PJZ7HR4GOSJEBPKDRFMA6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y23INILA4QVNGVBQR6R4P3XZJLBH3PU4FJTRCC57W6TKDGDA7S3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GVFAHOGWOOTAVCVIF6MDKODFUQ76IOHLUMWGEDSCOAATVXYE3O5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6KRFJ3XJG76WOW23A5VFIR6LQ3HDV2ZNQFR7X5XKLR5S3PCA5OPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YRFSOHHNLFNN3IUHGUUJORNQMP4QWJZB7UJKNYWIHPZB3V5GTIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVBO4PPPKWZJHDKE6OAJX6UBCEV63S77GXOHGOIUBXLNOT7WCAOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6F5RPAMBN5PEES2CSIM6MO5ZOH2Q7SGMHC7FFILIOEM5YJJA72IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTYAQ44AAOJH24BUZ24ISJPZRLPWSOAX33A634P3SDUW6ME3OMPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QJKM6EXGYCM7XTHBGHNEYJV4UF3X5KL7OJXECWOGBRRSGDOEYQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DETSXANDLDRGWEOPYKV3IZ2YX3OCJTHLHMI4WYYKQIEFBK2KU57A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVGGGDLDSEHQ3NUTKVDBEQPVZ74LSZ377JPIHDHRFH473AHGUR3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZLVOBA6L2SMLXRIKFI4TPRDI6F2MRDNQULZDET2VGJ7MYBHHQOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJKBI3LO3KMFEDUWSC2JGYQP7DYLPZL4HBS4TMUK3NQEU3MAXY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUD3VEGJEPMFPALCPJEE2DHV6NST2GZKYYADIDW3ETWOCOIALQKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AEAC53QO4ZZFGPU4AQLQEEEUJJ7V6NMCENPIXDQSKUQN56XVSHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMYJJ4C5FEEJCB2CRG4DOM5UCWZVXTUL4BKPYG4SR7B7LZ2I2BYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZROP5EOYP4VLQ7TABDPIMKW5GKRO62PLUMXEPAPC3YXSZMJ6EAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7Z7GJPNCKFMTZ22QM3OXRJCH6XJVQ4AVCXWE5QOA62ZAXYEFK6FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6FKSRXP4U4UBBNLHOLEJUL6KO6ILC7M635YF7Z7OU6NI3N3VC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RRIG555GTDJJVOGQUPSDDPSQBWMIGAJCNGQT5CLCWDLLOTCY5UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JF3GPCVSXTPEFQGY2ZUP6C6QYPXLOWW5NASDO3Y5NLQUVZYWXA6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UY44XTJWDAIFU53H6PRFLGR2VYR66LXFFKIRYLYLUI63JTEVOAUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A45MY4AQYQV5LRQZGSVHHWP743FPB6LABHMBFC7Y2IMINQV327QA/vendors.js"
            ]
        },
        "DeleteRunGroup": {
            "http": {
                "method": "DELETE",
                "requestUri": "/runGroup/{id}",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "workflows-"
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XAUL6GR2UOXFVIZFPBPRZH4H6HDVCD3TGQDAT2VQARSYNVY3U7VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TRXCMPUZBPO42IAYDDJQDLFH23AK5PJZ7HR4GOSJEBPKDRFMA6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y23INILA4QVNGVBQR6R4P3XZJLBH3PU4FJTRCC57W6TKDGDA7S3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GVFAHOGWOOTAVCVIF6MDKODFUQ76IOHLUMWGEDSCOAATVXYE3O5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6KRFJ3XJG76WOW23A5VFIR6LQ3HDV2ZNQFR7X5XKLR5S3PCA5OPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YRFSOHHNLFNN3IUHGUUJORNQMP4QWJZB7UJKNYWIHPZB3V5GTIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVBO4PPPKWZJHDKE6OAJX6UBCEV63S77GXOHGOIUBXLNOT7WCAOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6F5RPAMBN5PEES2CSIM6MO5ZOH2Q7SGMHC7FFILIOEM5YJJA72IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTYAQ44AAOJH24BUZ24ISJPZRLPWSOAX33A634P3SDUW6ME3OMPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QJKM6EXGYCM7XTHBGHNEYJV4UF3X5KL7OJXECWOGBRRSGDOEYQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DETSXANDLDRGWEOPYKV3IZ2YX3OCJTHLHMI4WYYKQIEFBK2KU57A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVGGGDLDSEHQ3NUTKVDBEQPVZ74LSZ377JPIHDHRFH473AHGUR3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZLVOBA6L2SMLXRIKFI4TPRDI6F2MRDNQULZDET2VGJ7MYBHHQOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJKBI3LO3KMFEDUWSC2JGYQP7DYLPZL4HBS4TMUK3NQEU3MAXY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUD3VEGJEPMFPALCPJEE2DHV6NST2GZKYYADIDW3ETWOCOIALQKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AEAC53QO4ZZFGPU4AQLQEEEUJJ7V6NMCENPIXDQSKUQN56XVSHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMYJJ4C5FEEJCB2CRG4DOM5UCWZVXTUL4BKPYG4SR7B7LZ2I2BYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZROP5EOYP4VLQ7TABDPIMKW5GKRO62PLUMXEPAPC3YXSZMJ6EAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7Z7GJPNCKFMTZ22QM3OXRJCH6XJVQ4AVCXWE5QOA62ZAXYEFK6FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6FKSRXP4U4UBBNLHOLEJUL6KO6ILC7M635YF7Z7OU6NI3N3VC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RRIG555GTDJJVOGQUPSDDPSQBWMIGAJCNGQT5CLCWDLLOTCY5UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JF3GPCVSXTPEFQGY2ZUP6C6QYPXLOWW5NASDO3Y5NLQUVZYWXA6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UY44XTJWDAIFU53H6PRFLGR2VYR66LXFFKIRYLYLUI63JTEVOAUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A45MY4AQYQV5LRQZGSVHHWP743FPB6LABHMBFC7Y2IMINQV327QA/vendors.js"
            ]
        },
        "DeleteWorkflow": {
            "http": {
                "method": "DELETE",
                "requestUri": "/workflow/{id}",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "workflows-"
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XAUL6GR2UOXFVIZFPBPRZH4H6HDVCD3TGQDAT2VQARSYNVY3U7VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TRXCMPUZBPO42IAYDDJQDLFH23AK5PJZ7HR4GOSJEBPKDRFMA6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y23INILA4QVNGVBQR6R4P3XZJLBH3PU4FJTRCC57W6TKDGDA7S3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GVFAHOGWOOTAVCVIF6MDKODFUQ76IOHLUMWGEDSCOAATVXYE3O5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6KRFJ3XJG76WOW23A5VFIR6LQ3HDV2ZNQFR7X5XKLR5S3PCA5OPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YRFSOHHNLFNN3IUHGUUJORNQMP4QWJZB7UJKNYWIHPZB3V5GTIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVBO4PPPKWZJHDKE6OAJX6UBCEV63S77GXOHGOIUBXLNOT7WCAOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6F5RPAMBN5PEES2CSIM6MO5ZOH2Q7SGMHC7FFILIOEM5YJJA72IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTYAQ44AAOJH24BUZ24ISJPZRLPWSOAX33A634P3SDUW6ME3OMPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QJKM6EXGYCM7XTHBGHNEYJV4UF3X5KL7OJXECWOGBRRSGDOEYQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DETSXANDLDRGWEOPYKV3IZ2YX3OCJTHLHMI4WYYKQIEFBK2KU57A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVGGGDLDSEHQ3NUTKVDBEQPVZ74LSZ377JPIHDHRFH473AHGUR3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZLVOBA6L2SMLXRIKFI4TPRDI6F2MRDNQULZDET2VGJ7MYBHHQOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJKBI3LO3KMFEDUWSC2JGYQP7DYLPZL4HBS4TMUK3NQEU3MAXY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUD3VEGJEPMFPALCPJEE2DHV6NST2GZKYYADIDW3ETWOCOIALQKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AEAC53QO4ZZFGPU4AQLQEEEUJJ7V6NMCENPIXDQSKUQN56XVSHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMYJJ4C5FEEJCB2CRG4DOM5UCWZVXTUL4BKPYG4SR7B7LZ2I2BYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZROP5EOYP4VLQ7TABDPIMKW5GKRO62PLUMXEPAPC3YXSZMJ6EAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7Z7GJPNCKFMTZ22QM3OXRJCH6XJVQ4AVCXWE5QOA62ZAXYEFK6FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6FKSRXP4U4UBBNLHOLEJUL6KO6ILC7M635YF7Z7OU6NI3N3VC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RRIG555GTDJJVOGQUPSDDPSQBWMIGAJCNGQT5CLCWDLLOTCY5UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JF3GPCVSXTPEFQGY2ZUP6C6QYPXLOWW5NASDO3Y5NLQUVZYWXA6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UY44XTJWDAIFU53H6PRFLGR2VYR66LXFFKIRYLYLUI63JTEVOAUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A45MY4AQYQV5LRQZGSVHHWP743FPB6LABHMBFC7Y2IMINQV327QA/vendors.js"
            ]
        },
        "GetRun": {
            "http": {
                "method": "GET",
                "requestUri": "/run/{id}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    },
                    "export": {
                        "location": "querystring",
                        "locationName": "export",
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "arn": {},
                    "id": {},
                    "status": {},
                    "workflowId": {},
                    "workflowType": {},
                    "runId": {},
                    "roleArn": {},
                    "name": {},
                    "runGroupId": {},
                    "priority": {
                        "type": "integer"
                    },
                    "definition": {},
                    "digest": {},
                    "parameters": {
                        "shape": "S1d"
                    },
                    "storageCapacity": {
                        "type": "integer"
                    },
                    "accelerators": {},
                    "outputUri": {},
                    "logLevel": {},
                    "resourceDigests": {
                        "type": "map",
                        "key": {},
                        "value": {}
                    },
                    "startedBy": {},
                    "creationTime": {
                        "shape": "S1l"
                    },
                    "startTime": {
                        "shape": "S1l"
                    },
                    "stopTime": {
                        "shape": "S1l"
                    },
                    "statusMessage": {},
                    "tags": {
                        "shape": "S9"
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "workflows-"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XAUL6GR2UOXFVIZFPBPRZH4H6HDVCD3TGQDAT2VQARSYNVY3U7VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TRXCMPUZBPO42IAYDDJQDLFH23AK5PJZ7HR4GOSJEBPKDRFMA6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y23INILA4QVNGVBQR6R4P3XZJLBH3PU4FJTRCC57W6TKDGDA7S3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GVFAHOGWOOTAVCVIF6MDKODFUQ76IOHLUMWGEDSCOAATVXYE3O5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6KRFJ3XJG76WOW23A5VFIR6LQ3HDV2ZNQFR7X5XKLR5S3PCA5OPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YRFSOHHNLFNN3IUHGUUJORNQMP4QWJZB7UJKNYWIHPZB3V5GTIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVBO4PPPKWZJHDKE6OAJX6UBCEV63S77GXOHGOIUBXLNOT7WCAOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6F5RPAMBN5PEES2CSIM6MO5ZOH2Q7SGMHC7FFILIOEM5YJJA72IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTYAQ44AAOJH24BUZ24ISJPZRLPWSOAX33A634P3SDUW6ME3OMPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QJKM6EXGYCM7XTHBGHNEYJV4UF3X5KL7OJXECWOGBRRSGDOEYQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DETSXANDLDRGWEOPYKV3IZ2YX3OCJTHLHMI4WYYKQIEFBK2KU57A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVGGGDLDSEHQ3NUTKVDBEQPVZ74LSZ377JPIHDHRFH473AHGUR3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZLVOBA6L2SMLXRIKFI4TPRDI6F2MRDNQULZDET2VGJ7MYBHHQOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJKBI3LO3KMFEDUWSC2JGYQP7DYLPZL4HBS4TMUK3NQEU3MAXY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUD3VEGJEPMFPALCPJEE2DHV6NST2GZKYYADIDW3ETWOCOIALQKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AEAC53QO4ZZFGPU4AQLQEEEUJJ7V6NMCENPIXDQSKUQN56XVSHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMYJJ4C5FEEJCB2CRG4DOM5UCWZVXTUL4BKPYG4SR7B7LZ2I2BYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZROP5EOYP4VLQ7TABDPIMKW5GKRO62PLUMXEPAPC3YXSZMJ6EAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7Z7GJPNCKFMTZ22QM3OXRJCH6XJVQ4AVCXWE5QOA62ZAXYEFK6FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6FKSRXP4U4UBBNLHOLEJUL6KO6ILC7M635YF7Z7OU6NI3N3VC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RRIG555GTDJJVOGQUPSDDPSQBWMIGAJCNGQT5CLCWDLLOTCY5UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JF3GPCVSXTPEFQGY2ZUP6C6QYPXLOWW5NASDO3Y5NLQUVZYWXA6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UY44XTJWDAIFU53H6PRFLGR2VYR66LXFFKIRYLYLUI63JTEVOAUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A45MY4AQYQV5LRQZGSVHHWP743FPB6LABHMBFC7Y2IMINQV327QA/vendors.js"
            ]
        },
        "GetRunGroup": {
            "http": {
                "method": "GET",
                "requestUri": "/runGroup/{id}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "arn": {},
                    "id": {},
                    "name": {},
                    "maxCpus": {
                        "type": "integer"
                    },
                    "maxGpus": {
                        "type": "integer"
                    },
                    "maxRuns": {
                        "type": "integer"
                    },
                    "maxDuration": {
                        "type": "integer"
                    },
                    "creationTime": {
                        "shape": "S1t"
                    },
                    "tags": {
                        "shape": "S9"
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "workflows-"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XAUL6GR2UOXFVIZFPBPRZH4H6HDVCD3TGQDAT2VQARSYNVY3U7VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TRXCMPUZBPO42IAYDDJQDLFH23AK5PJZ7HR4GOSJEBPKDRFMA6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y23INILA4QVNGVBQR6R4P3XZJLBH3PU4FJTRCC57W6TKDGDA7S3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GVFAHOGWOOTAVCVIF6MDKODFUQ76IOHLUMWGEDSCOAATVXYE3O5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6KRFJ3XJG76WOW23A5VFIR6LQ3HDV2ZNQFR7X5XKLR5S3PCA5OPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YRFSOHHNLFNN3IUHGUUJORNQMP4QWJZB7UJKNYWIHPZB3V5GTIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVBO4PPPKWZJHDKE6OAJX6UBCEV63S77GXOHGOIUBXLNOT7WCAOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6F5RPAMBN5PEES2CSIM6MO5ZOH2Q7SGMHC7FFILIOEM5YJJA72IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTYAQ44AAOJH24BUZ24ISJPZRLPWSOAX33A634P3SDUW6ME3OMPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QJKM6EXGYCM7XTHBGHNEYJV4UF3X5KL7OJXECWOGBRRSGDOEYQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DETSXANDLDRGWEOPYKV3IZ2YX3OCJTHLHMI4WYYKQIEFBK2KU57A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVGGGDLDSEHQ3NUTKVDBEQPVZ74LSZ377JPIHDHRFH473AHGUR3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZLVOBA6L2SMLXRIKFI4TPRDI6F2MRDNQULZDET2VGJ7MYBHHQOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJKBI3LO3KMFEDUWSC2JGYQP7DYLPZL4HBS4TMUK3NQEU3MAXY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUD3VEGJEPMFPALCPJEE2DHV6NST2GZKYYADIDW3ETWOCOIALQKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AEAC53QO4ZZFGPU4AQLQEEEUJJ7V6NMCENPIXDQSKUQN56XVSHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMYJJ4C5FEEJCB2CRG4DOM5UCWZVXTUL4BKPYG4SR7B7LZ2I2BYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZROP5EOYP4VLQ7TABDPIMKW5GKRO62PLUMXEPAPC3YXSZMJ6EAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7Z7GJPNCKFMTZ22QM3OXRJCH6XJVQ4AVCXWE5QOA62ZAXYEFK6FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6FKSRXP4U4UBBNLHOLEJUL6KO6ILC7M635YF7Z7OU6NI3N3VC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RRIG555GTDJJVOGQUPSDDPSQBWMIGAJCNGQT5CLCWDLLOTCY5UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JF3GPCVSXTPEFQGY2ZUP6C6QYPXLOWW5NASDO3Y5NLQUVZYWXA6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UY44XTJWDAIFU53H6PRFLGR2VYR66LXFFKIRYLYLUI63JTEVOAUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A45MY4AQYQV5LRQZGSVHHWP743FPB6LABHMBFC7Y2IMINQV327QA/vendors.js"
            ]
        },
        "GetRunTask": {
            "http": {
                "method": "GET",
                "requestUri": "/run/{id}/task/{taskId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "id",
                    "taskId"
                ],
                "members": {
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    },
                    "taskId": {
                        "location": "uri",
                        "locationName": "taskId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "taskId": {},
                    "status": {},
                    "name": {},
                    "cpus": {
                        "type": "integer"
                    },
                    "memory": {
                        "type": "integer"
                    },
                    "gpus": {
                        "type": "integer"
                    },
                    "creationTime": {
                        "shape": "S22"
                    },
                    "startTime": {
                        "shape": "S22"
                    },
                    "stopTime": {
                        "shape": "S22"
                    },
                    "statusMessage": {},
                    "logStream": {}
                }
            },
            "endpoint": {
                "hostPrefix": "workflows-"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XAUL6GR2UOXFVIZFPBPRZH4H6HDVCD3TGQDAT2VQARSYNVY3U7VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TRXCMPUZBPO42IAYDDJQDLFH23AK5PJZ7HR4GOSJEBPKDRFMA6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y23INILA4QVNGVBQR6R4P3XZJLBH3PU4FJTRCC57W6TKDGDA7S3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GVFAHOGWOOTAVCVIF6MDKODFUQ76IOHLUMWGEDSCOAATVXYE3O5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6KRFJ3XJG76WOW23A5VFIR6LQ3HDV2ZNQFR7X5XKLR5S3PCA5OPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YRFSOHHNLFNN3IUHGUUJORNQMP4QWJZB7UJKNYWIHPZB3V5GTIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVBO4PPPKWZJHDKE6OAJX6UBCEV63S77GXOHGOIUBXLNOT7WCAOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6F5RPAMBN5PEES2CSIM6MO5ZOH2Q7SGMHC7FFILIOEM5YJJA72IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTYAQ44AAOJH24BUZ24ISJPZRLPWSOAX33A634P3SDUW6ME3OMPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QJKM6EXGYCM7XTHBGHNEYJV4UF3X5KL7OJXECWOGBRRSGDOEYQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DETSXANDLDRGWEOPYKV3IZ2YX3OCJTHLHMI4WYYKQIEFBK2KU57A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVGGGDLDSEHQ3NUTKVDBEQPVZ74LSZ377JPIHDHRFH473AHGUR3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZLVOBA6L2SMLXRIKFI4TPRDI6F2MRDNQULZDET2VGJ7MYBHHQOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJKBI3LO3KMFEDUWSC2JGYQP7DYLPZL4HBS4TMUK3NQEU3MAXY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUD3VEGJEPMFPALCPJEE2DHV6NST2GZKYYADIDW3ETWOCOIALQKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AEAC53QO4ZZFGPU4AQLQEEEUJJ7V6NMCENPIXDQSKUQN56XVSHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMYJJ4C5FEEJCB2CRG4DOM5UCWZVXTUL4BKPYG4SR7B7LZ2I2BYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZROP5EOYP4VLQ7TABDPIMKW5GKRO62PLUMXEPAPC3YXSZMJ6EAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7Z7GJPNCKFMTZ22QM3OXRJCH6XJVQ4AVCXWE5QOA62ZAXYEFK6FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6FKSRXP4U4UBBNLHOLEJUL6KO6ILC7M635YF7Z7OU6NI3N3VC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RRIG555GTDJJVOGQUPSDDPSQBWMIGAJCNGQT5CLCWDLLOTCY5UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JF3GPCVSXTPEFQGY2ZUP6C6QYPXLOWW5NASDO3Y5NLQUVZYWXA6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UY44XTJWDAIFU53H6PRFLGR2VYR66LXFFKIRYLYLUI63JTEVOAUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A45MY4AQYQV5LRQZGSVHHWP743FPB6LABHMBFC7Y2IMINQV327QA/vendors.js"
            ]
        },
        "GetWorkflow": {
            "http": {
                "method": "GET",
                "requestUri": "/workflow/{id}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    },
                    "type": {
                        "location": "querystring",
                        "locationName": "type"
                    },
                    "export": {
                        "location": "querystring",
                        "locationName": "export",
                        "type": "list",
                        "member": {}
                    },
                    "workflowOwnerId": {
                        "location": "querystring",
                        "locationName": "workflow-owner-id"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "arn": {},
                    "id": {},
                    "status": {},
                    "type": {},
                    "name": {},
                    "description": {},
                    "engine": {},
                    "definition": {},
                    "main": {},
                    "digest": {},
                    "parameterTemplate": {
                        "shape": "Sn"
                    },
                    "metadata": {
                        "shape": "S29"
                    },
                    "storageCapacity": {
                        "type": "integer"
                    },
                    "accelerators": {},
                    "creationTime": {
                        "shape": "S2d"
                    },
                    "statusMessage": {},
                    "tags": {
                        "shape": "S9"
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "workflows-"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XAUL6GR2UOXFVIZFPBPRZH4H6HDVCD3TGQDAT2VQARSYNVY3U7VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TRXCMPUZBPO42IAYDDJQDLFH23AK5PJZ7HR4GOSJEBPKDRFMA6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y23INILA4QVNGVBQR6R4P3XZJLBH3PU4FJTRCC57W6TKDGDA7S3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GVFAHOGWOOTAVCVIF6MDKODFUQ76IOHLUMWGEDSCOAATVXYE3O5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6KRFJ3XJG76WOW23A5VFIR6LQ3HDV2ZNQFR7X5XKLR5S3PCA5OPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YRFSOHHNLFNN3IUHGUUJORNQMP4QWJZB7UJKNYWIHPZB3V5GTIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVBO4PPPKWZJHDKE6OAJX6UBCEV63S77GXOHGOIUBXLNOT7WCAOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6F5RPAMBN5PEES2CSIM6MO5ZOH2Q7SGMHC7FFILIOEM5YJJA72IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTYAQ44AAOJH24BUZ24ISJPZRLPWSOAX33A634P3SDUW6ME3OMPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QJKM6EXGYCM7XTHBGHNEYJV4UF3X5KL7OJXECWOGBRRSGDOEYQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DETSXANDLDRGWEOPYKV3IZ2YX3OCJTHLHMI4WYYKQIEFBK2KU57A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVGGGDLDSEHQ3NUTKVDBEQPVZ74LSZ377JPIHDHRFH473AHGUR3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZLVOBA6L2SMLXRIKFI4TPRDI6F2MRDNQULZDET2VGJ7MYBHHQOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJKBI3LO3KMFEDUWSC2JGYQP7DYLPZL4HBS4TMUK3NQEU3MAXY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUD3VEGJEPMFPALCPJEE2DHV6NST2GZKYYADIDW3ETWOCOIALQKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AEAC53QO4ZZFGPU4AQLQEEEUJJ7V6NMCENPIXDQSKUQN56XVSHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMYJJ4C5FEEJCB2CRG4DOM5UCWZVXTUL4BKPYG4SR7B7LZ2I2BYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZROP5EOYP4VLQ7TABDPIMKW5GKRO62PLUMXEPAPC3YXSZMJ6EAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7Z7GJPNCKFMTZ22QM3OXRJCH6XJVQ4AVCXWE5QOA62ZAXYEFK6FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6FKSRXP4U4UBBNLHOLEJUL6KO6ILC7M635YF7Z7OU6NI3N3VC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RRIG555GTDJJVOGQUPSDDPSQBWMIGAJCNGQT5CLCWDLLOTCY5UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JF3GPCVSXTPEFQGY2ZUP6C6QYPXLOWW5NASDO3Y5NLQUVZYWXA6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UY44XTJWDAIFU53H6PRFLGR2VYR66LXFFKIRYLYLUI63JTEVOAUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A45MY4AQYQV5LRQZGSVHHWP743FPB6LABHMBFC7Y2IMINQV327QA/vendors.js"
            ]
        },
        "ListRunGroups": {
            "http": {
                "method": "GET",
                "requestUri": "/runGroup",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "name": {
                        "location": "querystring",
                        "locationName": "name"
                    },
                    "startingToken": {
                        "location": "querystring",
                        "locationName": "startingToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "items": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "arn": {},
                                "id": {},
                                "name": {},
                                "maxCpus": {
                                    "type": "integer"
                                },
                                "maxGpus": {
                                    "type": "integer"
                                },
                                "maxRuns": {
                                    "type": "integer"
                                },
                                "maxDuration": {
                                    "type": "integer"
                                },
                                "creationTime": {
                                    "shape": "S1t"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "endpoint": {
                "hostPrefix": "workflows-"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XAUL6GR2UOXFVIZFPBPRZH4H6HDVCD3TGQDAT2VQARSYNVY3U7VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TRXCMPUZBPO42IAYDDJQDLFH23AK5PJZ7HR4GOSJEBPKDRFMA6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y23INILA4QVNGVBQR6R4P3XZJLBH3PU4FJTRCC57W6TKDGDA7S3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GVFAHOGWOOTAVCVIF6MDKODFUQ76IOHLUMWGEDSCOAATVXYE3O5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6KRFJ3XJG76WOW23A5VFIR6LQ3HDV2ZNQFR7X5XKLR5S3PCA5OPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YRFSOHHNLFNN3IUHGUUJORNQMP4QWJZB7UJKNYWIHPZB3V5GTIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVBO4PPPKWZJHDKE6OAJX6UBCEV63S77GXOHGOIUBXLNOT7WCAOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6F5RPAMBN5PEES2CSIM6MO5ZOH2Q7SGMHC7FFILIOEM5YJJA72IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTYAQ44AAOJH24BUZ24ISJPZRLPWSOAX33A634P3SDUW6ME3OMPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QJKM6EXGYCM7XTHBGHNEYJV4UF3X5KL7OJXECWOGBRRSGDOEYQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DETSXANDLDRGWEOPYKV3IZ2YX3OCJTHLHMI4WYYKQIEFBK2KU57A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVGGGDLDSEHQ3NUTKVDBEQPVZ74LSZ377JPIHDHRFH473AHGUR3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZLVOBA6L2SMLXRIKFI4TPRDI6F2MRDNQULZDET2VGJ7MYBHHQOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJKBI3LO3KMFEDUWSC2JGYQP7DYLPZL4HBS4TMUK3NQEU3MAXY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUD3VEGJEPMFPALCPJEE2DHV6NST2GZKYYADIDW3ETWOCOIALQKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AEAC53QO4ZZFGPU4AQLQEEEUJJ7V6NMCENPIXDQSKUQN56XVSHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMYJJ4C5FEEJCB2CRG4DOM5UCWZVXTUL4BKPYG4SR7B7LZ2I2BYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZROP5EOYP4VLQ7TABDPIMKW5GKRO62PLUMXEPAPC3YXSZMJ6EAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7Z7GJPNCKFMTZ22QM3OXRJCH6XJVQ4AVCXWE5QOA62ZAXYEFK6FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6FKSRXP4U4UBBNLHOLEJUL6KO6ILC7M635YF7Z7OU6NI3N3VC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RRIG555GTDJJVOGQUPSDDPSQBWMIGAJCNGQT5CLCWDLLOTCY5UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JF3GPCVSXTPEFQGY2ZUP6C6QYPXLOWW5NASDO3Y5NLQUVZYWXA6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UY44XTJWDAIFU53H6PRFLGR2VYR66LXFFKIRYLYLUI63JTEVOAUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A45MY4AQYQV5LRQZGSVHHWP743FPB6LABHMBFC7Y2IMINQV327QA/vendors.js"
            ]
        },
        "ListRunTasks": {
            "http": {
                "method": "GET",
                "requestUri": "/run/{id}/task",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    },
                    "status": {
                        "location": "querystring",
                        "locationName": "status"
                    },
                    "startingToken": {
                        "location": "querystring",
                        "locationName": "startingToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "items": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "taskId": {},
                                "status": {},
                                "name": {},
                                "cpus": {
                                    "type": "integer"
                                },
                                "gpus": {
                                    "type": "integer"
                                },
                                "memory": {
                                    "type": "integer"
                                },
                                "creationTime": {
                                    "shape": "S22"
                                },
                                "startTime": {
                                    "shape": "S22"
                                },
                                "stopTime": {
                                    "shape": "S22"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "endpoint": {
                "hostPrefix": "workflows-"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XAUL6GR2UOXFVIZFPBPRZH4H6HDVCD3TGQDAT2VQARSYNVY3U7VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TRXCMPUZBPO42IAYDDJQDLFH23AK5PJZ7HR4GOSJEBPKDRFMA6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y23INILA4QVNGVBQR6R4P3XZJLBH3PU4FJTRCC57W6TKDGDA7S3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GVFAHOGWOOTAVCVIF6MDKODFUQ76IOHLUMWGEDSCOAATVXYE3O5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6KRFJ3XJG76WOW23A5VFIR6LQ3HDV2ZNQFR7X5XKLR5S3PCA5OPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YRFSOHHNLFNN3IUHGUUJORNQMP4QWJZB7UJKNYWIHPZB3V5GTIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVBO4PPPKWZJHDKE6OAJX6UBCEV63S77GXOHGOIUBXLNOT7WCAOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6F5RPAMBN5PEES2CSIM6MO5ZOH2Q7SGMHC7FFILIOEM5YJJA72IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTYAQ44AAOJH24BUZ24ISJPZRLPWSOAX33A634P3SDUW6ME3OMPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QJKM6EXGYCM7XTHBGHNEYJV4UF3X5KL7OJXECWOGBRRSGDOEYQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DETSXANDLDRGWEOPYKV3IZ2YX3OCJTHLHMI4WYYKQIEFBK2KU57A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVGGGDLDSEHQ3NUTKVDBEQPVZ74LSZ377JPIHDHRFH473AHGUR3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZLVOBA6L2SMLXRIKFI4TPRDI6F2MRDNQULZDET2VGJ7MYBHHQOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJKBI3LO3KMFEDUWSC2JGYQP7DYLPZL4HBS4TMUK3NQEU3MAXY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUD3VEGJEPMFPALCPJEE2DHV6NST2GZKYYADIDW3ETWOCOIALQKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AEAC53QO4ZZFGPU4AQLQEEEUJJ7V6NMCENPIXDQSKUQN56XVSHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMYJJ4C5FEEJCB2CRG4DOM5UCWZVXTUL4BKPYG4SR7B7LZ2I2BYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZROP5EOYP4VLQ7TABDPIMKW5GKRO62PLUMXEPAPC3YXSZMJ6EAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7Z7GJPNCKFMTZ22QM3OXRJCH6XJVQ4AVCXWE5QOA62ZAXYEFK6FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6FKSRXP4U4UBBNLHOLEJUL6KO6ILC7M635YF7Z7OU6NI3N3VC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RRIG555GTDJJVOGQUPSDDPSQBWMIGAJCNGQT5CLCWDLLOTCY5UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JF3GPCVSXTPEFQGY2ZUP6C6QYPXLOWW5NASDO3Y5NLQUVZYWXA6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UY44XTJWDAIFU53H6PRFLGR2VYR66LXFFKIRYLYLUI63JTEVOAUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A45MY4AQYQV5LRQZGSVHHWP743FPB6LABHMBFC7Y2IMINQV327QA/vendors.js"
            ]
        },
        "ListRuns": {
            "http": {
                "method": "GET",
                "requestUri": "/run",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "name": {
                        "location": "querystring",
                        "locationName": "name"
                    },
                    "runGroupId": {
                        "location": "querystring",
                        "locationName": "runGroupId"
                    },
                    "startingToken": {
                        "location": "querystring",
                        "locationName": "startingToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "status": {
                        "location": "querystring",
                        "locationName": "status"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "items": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "arn": {},
                                "id": {},
                                "status": {},
                                "workflowId": {},
                                "name": {},
                                "priority": {
                                    "type": "integer"
                                },
                                "storageCapacity": {
                                    "type": "integer"
                                },
                                "creationTime": {
                                    "shape": "S1l"
                                },
                                "startTime": {
                                    "shape": "S1l"
                                },
                                "stopTime": {
                                    "shape": "S1l"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "endpoint": {
                "hostPrefix": "workflows-"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XAUL6GR2UOXFVIZFPBPRZH4H6HDVCD3TGQDAT2VQARSYNVY3U7VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TRXCMPUZBPO42IAYDDJQDLFH23AK5PJZ7HR4GOSJEBPKDRFMA6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y23INILA4QVNGVBQR6R4P3XZJLBH3PU4FJTRCC57W6TKDGDA7S3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GVFAHOGWOOTAVCVIF6MDKODFUQ76IOHLUMWGEDSCOAATVXYE3O5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6KRFJ3XJG76WOW23A5VFIR6LQ3HDV2ZNQFR7X5XKLR5S3PCA5OPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YRFSOHHNLFNN3IUHGUUJORNQMP4QWJZB7UJKNYWIHPZB3V5GTIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVBO4PPPKWZJHDKE6OAJX6UBCEV63S77GXOHGOIUBXLNOT7WCAOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6F5RPAMBN5PEES2CSIM6MO5ZOH2Q7SGMHC7FFILIOEM5YJJA72IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTYAQ44AAOJH24BUZ24ISJPZRLPWSOAX33A634P3SDUW6ME3OMPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QJKM6EXGYCM7XTHBGHNEYJV4UF3X5KL7OJXECWOGBRRSGDOEYQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DETSXANDLDRGWEOPYKV3IZ2YX3OCJTHLHMI4WYYKQIEFBK2KU57A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVGGGDLDSEHQ3NUTKVDBEQPVZ74LSZ377JPIHDHRFH473AHGUR3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZLVOBA6L2SMLXRIKFI4TPRDI6F2MRDNQULZDET2VGJ7MYBHHQOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJKBI3LO3KMFEDUWSC2JGYQP7DYLPZL4HBS4TMUK3NQEU3MAXY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUD3VEGJEPMFPALCPJEE2DHV6NST2GZKYYADIDW3ETWOCOIALQKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AEAC53QO4ZZFGPU4AQLQEEEUJJ7V6NMCENPIXDQSKUQN56XVSHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMYJJ4C5FEEJCB2CRG4DOM5UCWZVXTUL4BKPYG4SR7B7LZ2I2BYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZROP5EOYP4VLQ7TABDPIMKW5GKRO62PLUMXEPAPC3YXSZMJ6EAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7Z7GJPNCKFMTZ22QM3OXRJCH6XJVQ4AVCXWE5QOA62ZAXYEFK6FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6FKSRXP4U4UBBNLHOLEJUL6KO6ILC7M635YF7Z7OU6NI3N3VC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RRIG555GTDJJVOGQUPSDDPSQBWMIGAJCNGQT5CLCWDLLOTCY5UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JF3GPCVSXTPEFQGY2ZUP6C6QYPXLOWW5NASDO3Y5NLQUVZYWXA6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UY44XTJWDAIFU53H6PRFLGR2VYR66LXFFKIRYLYLUI63JTEVOAUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A45MY4AQYQV5LRQZGSVHHWP743FPB6LABHMBFC7Y2IMINQV327QA/vendors.js"
            ]
        },
        "ListTagsForResource": {
            "http": {
                "method": "GET",
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "tags"
                ],
                "members": {
                    "tags": {
                        "shape": "S9"
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "tags-"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XAUL6GR2UOXFVIZFPBPRZH4H6HDVCD3TGQDAT2VQARSYNVY3U7VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TRXCMPUZBPO42IAYDDJQDLFH23AK5PJZ7HR4GOSJEBPKDRFMA6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y23INILA4QVNGVBQR6R4P3XZJLBH3PU4FJTRCC57W6TKDGDA7S3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GVFAHOGWOOTAVCVIF6MDKODFUQ76IOHLUMWGEDSCOAATVXYE3O5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6KRFJ3XJG76WOW23A5VFIR6LQ3HDV2ZNQFR7X5XKLR5S3PCA5OPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YRFSOHHNLFNN3IUHGUUJORNQMP4QWJZB7UJKNYWIHPZB3V5GTIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVBO4PPPKWZJHDKE6OAJX6UBCEV63S77GXOHGOIUBXLNOT7WCAOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6F5RPAMBN5PEES2CSIM6MO5ZOH2Q7SGMHC7FFILIOEM5YJJA72IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTYAQ44AAOJH24BUZ24ISJPZRLPWSOAX33A634P3SDUW6ME3OMPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QJKM6EXGYCM7XTHBGHNEYJV4UF3X5KL7OJXECWOGBRRSGDOEYQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DETSXANDLDRGWEOPYKV3IZ2YX3OCJTHLHMI4WYYKQIEFBK2KU57A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVGGGDLDSEHQ3NUTKVDBEQPVZ74LSZ377JPIHDHRFH473AHGUR3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZLVOBA6L2SMLXRIKFI4TPRDI6F2MRDNQULZDET2VGJ7MYBHHQOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJKBI3LO3KMFEDUWSC2JGYQP7DYLPZL4HBS4TMUK3NQEU3MAXY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUD3VEGJEPMFPALCPJEE2DHV6NST2GZKYYADIDW3ETWOCOIALQKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AEAC53QO4ZZFGPU4AQLQEEEUJJ7V6NMCENPIXDQSKUQN56XVSHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMYJJ4C5FEEJCB2CRG4DOM5UCWZVXTUL4BKPYG4SR7B7LZ2I2BYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZROP5EOYP4VLQ7TABDPIMKW5GKRO62PLUMXEPAPC3YXSZMJ6EAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7Z7GJPNCKFMTZ22QM3OXRJCH6XJVQ4AVCXWE5QOA62ZAXYEFK6FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6FKSRXP4U4UBBNLHOLEJUL6KO6ILC7M635YF7Z7OU6NI3N3VC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RRIG555GTDJJVOGQUPSDDPSQBWMIGAJCNGQT5CLCWDLLOTCY5UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JF3GPCVSXTPEFQGY2ZUP6C6QYPXLOWW5NASDO3Y5NLQUVZYWXA6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UY44XTJWDAIFU53H6PRFLGR2VYR66LXFFKIRYLYLUI63JTEVOAUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A45MY4AQYQV5LRQZGSVHHWP743FPB6LABHMBFC7Y2IMINQV327QA/vendors.js"
            ]
        },
        "ListWorkflows": {
            "http": {
                "method": "GET",
                "requestUri": "/workflow",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "type": {
                        "location": "querystring",
                        "locationName": "type"
                    },
                    "name": {
                        "location": "querystring",
                        "locationName": "name"
                    },
                    "startingToken": {
                        "location": "querystring",
                        "locationName": "startingToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "items": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "arn": {},
                                "id": {},
                                "name": {},
                                "status": {},
                                "type": {},
                                "metadata": {
                                    "shape": "S29"
                                },
                                "digest": {},
                                "creationTime": {
                                    "shape": "S2d"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "endpoint": {
                "hostPrefix": "workflows-"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XAUL6GR2UOXFVIZFPBPRZH4H6HDVCD3TGQDAT2VQARSYNVY3U7VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TRXCMPUZBPO42IAYDDJQDLFH23AK5PJZ7HR4GOSJEBPKDRFMA6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y23INILA4QVNGVBQR6R4P3XZJLBH3PU4FJTRCC57W6TKDGDA7S3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GVFAHOGWOOTAVCVIF6MDKODFUQ76IOHLUMWGEDSCOAATVXYE3O5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6KRFJ3XJG76WOW23A5VFIR6LQ3HDV2ZNQFR7X5XKLR5S3PCA5OPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YRFSOHHNLFNN3IUHGUUJORNQMP4QWJZB7UJKNYWIHPZB3V5GTIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVBO4PPPKWZJHDKE6OAJX6UBCEV63S77GXOHGOIUBXLNOT7WCAOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6F5RPAMBN5PEES2CSIM6MO5ZOH2Q7SGMHC7FFILIOEM5YJJA72IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTYAQ44AAOJH24BUZ24ISJPZRLPWSOAX33A634P3SDUW6ME3OMPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QJKM6EXGYCM7XTHBGHNEYJV4UF3X5KL7OJXECWOGBRRSGDOEYQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DETSXANDLDRGWEOPYKV3IZ2YX3OCJTHLHMI4WYYKQIEFBK2KU57A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVGGGDLDSEHQ3NUTKVDBEQPVZ74LSZ377JPIHDHRFH473AHGUR3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZLVOBA6L2SMLXRIKFI4TPRDI6F2MRDNQULZDET2VGJ7MYBHHQOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJKBI3LO3KMFEDUWSC2JGYQP7DYLPZL4HBS4TMUK3NQEU3MAXY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUD3VEGJEPMFPALCPJEE2DHV6NST2GZKYYADIDW3ETWOCOIALQKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AEAC53QO4ZZFGPU4AQLQEEEUJJ7V6NMCENPIXDQSKUQN56XVSHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMYJJ4C5FEEJCB2CRG4DOM5UCWZVXTUL4BKPYG4SR7B7LZ2I2BYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZROP5EOYP4VLQ7TABDPIMKW5GKRO62PLUMXEPAPC3YXSZMJ6EAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7Z7GJPNCKFMTZ22QM3OXRJCH6XJVQ4AVCXWE5QOA62ZAXYEFK6FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6FKSRXP4U4UBBNLHOLEJUL6KO6ILC7M635YF7Z7OU6NI3N3VC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RRIG555GTDJJVOGQUPSDDPSQBWMIGAJCNGQT5CLCWDLLOTCY5UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JF3GPCVSXTPEFQGY2ZUP6C6QYPXLOWW5NASDO3Y5NLQUVZYWXA6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UY44XTJWDAIFU53H6PRFLGR2VYR66LXFFKIRYLYLUI63JTEVOAUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A45MY4AQYQV5LRQZGSVHHWP743FPB6LABHMBFC7Y2IMINQV327QA/vendors.js"
            ]
        },
        "StartRun": {
            "http": {
                "requestUri": "/run",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "roleArn",
                    "requestId"
                ],
                "members": {
                    "workflowId": {},
                    "workflowType": {},
                    "runId": {},
                    "roleArn": {},
                    "name": {},
                    "runGroupId": {},
                    "priority": {
                        "type": "integer"
                    },
                    "parameters": {
                        "shape": "S1d"
                    },
                    "storageCapacity": {
                        "type": "integer"
                    },
                    "outputUri": {},
                    "logLevel": {},
                    "tags": {
                        "shape": "S9"
                    },
                    "requestId": {
                        "idempotencyToken": true
                    },
                    "retentionMode": {},
                    "cacheId": {},
                    "cacheRunBehavior": {},
                    "storageType": {},
                    "workflowOwnerId": {},
                    "cacheBehavior": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "arn": {},
                    "id": {},
                    "status": {},
                    "tags": {
                        "shape": "S9"
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "workflows-"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XAUL6GR2UOXFVIZFPBPRZH4H6HDVCD3TGQDAT2VQARSYNVY3U7VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TRXCMPUZBPO42IAYDDJQDLFH23AK5PJZ7HR4GOSJEBPKDRFMA6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y23INILA4QVNGVBQR6R4P3XZJLBH3PU4FJTRCC57W6TKDGDA7S3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GVFAHOGWOOTAVCVIF6MDKODFUQ76IOHLUMWGEDSCOAATVXYE3O5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6KRFJ3XJG76WOW23A5VFIR6LQ3HDV2ZNQFR7X5XKLR5S3PCA5OPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YRFSOHHNLFNN3IUHGUUJORNQMP4QWJZB7UJKNYWIHPZB3V5GTIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVBO4PPPKWZJHDKE6OAJX6UBCEV63S77GXOHGOIUBXLNOT7WCAOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6F5RPAMBN5PEES2CSIM6MO5ZOH2Q7SGMHC7FFILIOEM5YJJA72IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTYAQ44AAOJH24BUZ24ISJPZRLPWSOAX33A634P3SDUW6ME3OMPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QJKM6EXGYCM7XTHBGHNEYJV4UF3X5KL7OJXECWOGBRRSGDOEYQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DETSXANDLDRGWEOPYKV3IZ2YX3OCJTHLHMI4WYYKQIEFBK2KU57A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVGGGDLDSEHQ3NUTKVDBEQPVZ74LSZ377JPIHDHRFH473AHGUR3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZLVOBA6L2SMLXRIKFI4TPRDI6F2MRDNQULZDET2VGJ7MYBHHQOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJKBI3LO3KMFEDUWSC2JGYQP7DYLPZL4HBS4TMUK3NQEU3MAXY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUD3VEGJEPMFPALCPJEE2DHV6NST2GZKYYADIDW3ETWOCOIALQKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AEAC53QO4ZZFGPU4AQLQEEEUJJ7V6NMCENPIXDQSKUQN56XVSHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMYJJ4C5FEEJCB2CRG4DOM5UCWZVXTUL4BKPYG4SR7B7LZ2I2BYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZROP5EOYP4VLQ7TABDPIMKW5GKRO62PLUMXEPAPC3YXSZMJ6EAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7Z7GJPNCKFMTZ22QM3OXRJCH6XJVQ4AVCXWE5QOA62ZAXYEFK6FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6FKSRXP4U4UBBNLHOLEJUL6KO6ILC7M635YF7Z7OU6NI3N3VC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RRIG555GTDJJVOGQUPSDDPSQBWMIGAJCNGQT5CLCWDLLOTCY5UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JF3GPCVSXTPEFQGY2ZUP6C6QYPXLOWW5NASDO3Y5NLQUVZYWXA6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UY44XTJWDAIFU53H6PRFLGR2VYR66LXFFKIRYLYLUI63JTEVOAUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A45MY4AQYQV5LRQZGSVHHWP743FPB6LABHMBFC7Y2IMINQV327QA/vendors.js"
            ]
        },
        "TagResource": {
            "http": {
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "tags"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    },
                    "tags": {
                        "type": "map",
                        "key": {},
                        "value": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "endpoint": {
                "hostPrefix": "tags-"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XAUL6GR2UOXFVIZFPBPRZH4H6HDVCD3TGQDAT2VQARSYNVY3U7VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TRXCMPUZBPO42IAYDDJQDLFH23AK5PJZ7HR4GOSJEBPKDRFMA6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y23INILA4QVNGVBQR6R4P3XZJLBH3PU4FJTRCC57W6TKDGDA7S3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GVFAHOGWOOTAVCVIF6MDKODFUQ76IOHLUMWGEDSCOAATVXYE3O5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6KRFJ3XJG76WOW23A5VFIR6LQ3HDV2ZNQFR7X5XKLR5S3PCA5OPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YRFSOHHNLFNN3IUHGUUJORNQMP4QWJZB7UJKNYWIHPZB3V5GTIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVBO4PPPKWZJHDKE6OAJX6UBCEV63S77GXOHGOIUBXLNOT7WCAOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6F5RPAMBN5PEES2CSIM6MO5ZOH2Q7SGMHC7FFILIOEM5YJJA72IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTYAQ44AAOJH24BUZ24ISJPZRLPWSOAX33A634P3SDUW6ME3OMPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QJKM6EXGYCM7XTHBGHNEYJV4UF3X5KL7OJXECWOGBRRSGDOEYQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DETSXANDLDRGWEOPYKV3IZ2YX3OCJTHLHMI4WYYKQIEFBK2KU57A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVGGGDLDSEHQ3NUTKVDBEQPVZ74LSZ377JPIHDHRFH473AHGUR3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZLVOBA6L2SMLXRIKFI4TPRDI6F2MRDNQULZDET2VGJ7MYBHHQOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJKBI3LO3KMFEDUWSC2JGYQP7DYLPZL4HBS4TMUK3NQEU3MAXY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUD3VEGJEPMFPALCPJEE2DHV6NST2GZKYYADIDW3ETWOCOIALQKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AEAC53QO4ZZFGPU4AQLQEEEUJJ7V6NMCENPIXDQSKUQN56XVSHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMYJJ4C5FEEJCB2CRG4DOM5UCWZVXTUL4BKPYG4SR7B7LZ2I2BYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZROP5EOYP4VLQ7TABDPIMKW5GKRO62PLUMXEPAPC3YXSZMJ6EAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7Z7GJPNCKFMTZ22QM3OXRJCH6XJVQ4AVCXWE5QOA62ZAXYEFK6FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6FKSRXP4U4UBBNLHOLEJUL6KO6ILC7M635YF7Z7OU6NI3N3VC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RRIG555GTDJJVOGQUPSDDPSQBWMIGAJCNGQT5CLCWDLLOTCY5UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JF3GPCVSXTPEFQGY2ZUP6C6QYPXLOWW5NASDO3Y5NLQUVZYWXA6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UY44XTJWDAIFU53H6PRFLGR2VYR66LXFFKIRYLYLUI63JTEVOAUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A45MY4AQYQV5LRQZGSVHHWP743FPB6LABHMBFC7Y2IMINQV327QA/vendors.js"
            ]
        },
        "UntagResource": {
            "http": {
                "method": "DELETE",
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "tagKeys"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    },
                    "tagKeys": {
                        "location": "querystring",
                        "locationName": "tagKeys",
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "endpoint": {
                "hostPrefix": "tags-"
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XAUL6GR2UOXFVIZFPBPRZH4H6HDVCD3TGQDAT2VQARSYNVY3U7VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TRXCMPUZBPO42IAYDDJQDLFH23AK5PJZ7HR4GOSJEBPKDRFMA6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y23INILA4QVNGVBQR6R4P3XZJLBH3PU4FJTRCC57W6TKDGDA7S3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GVFAHOGWOOTAVCVIF6MDKODFUQ76IOHLUMWGEDSCOAATVXYE3O5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6KRFJ3XJG76WOW23A5VFIR6LQ3HDV2ZNQFR7X5XKLR5S3PCA5OPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YRFSOHHNLFNN3IUHGUUJORNQMP4QWJZB7UJKNYWIHPZB3V5GTIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVBO4PPPKWZJHDKE6OAJX6UBCEV63S77GXOHGOIUBXLNOT7WCAOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6F5RPAMBN5PEES2CSIM6MO5ZOH2Q7SGMHC7FFILIOEM5YJJA72IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTYAQ44AAOJH24BUZ24ISJPZRLPWSOAX33A634P3SDUW6ME3OMPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QJKM6EXGYCM7XTHBGHNEYJV4UF3X5KL7OJXECWOGBRRSGDOEYQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DETSXANDLDRGWEOPYKV3IZ2YX3OCJTHLHMI4WYYKQIEFBK2KU57A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVGGGDLDSEHQ3NUTKVDBEQPVZ74LSZ377JPIHDHRFH473AHGUR3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZLVOBA6L2SMLXRIKFI4TPRDI6F2MRDNQULZDET2VGJ7MYBHHQOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJKBI3LO3KMFEDUWSC2JGYQP7DYLPZL4HBS4TMUK3NQEU3MAXY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUD3VEGJEPMFPALCPJEE2DHV6NST2GZKYYADIDW3ETWOCOIALQKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AEAC53QO4ZZFGPU4AQLQEEEUJJ7V6NMCENPIXDQSKUQN56XVSHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMYJJ4C5FEEJCB2CRG4DOM5UCWZVXTUL4BKPYG4SR7B7LZ2I2BYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZROP5EOYP4VLQ7TABDPIMKW5GKRO62PLUMXEPAPC3YXSZMJ6EAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7Z7GJPNCKFMTZ22QM3OXRJCH6XJVQ4AVCXWE5QOA62ZAXYEFK6FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6FKSRXP4U4UBBNLHOLEJUL6KO6ILC7M635YF7Z7OU6NI3N3VC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RRIG555GTDJJVOGQUPSDDPSQBWMIGAJCNGQT5CLCWDLLOTCY5UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JF3GPCVSXTPEFQGY2ZUP6C6QYPXLOWW5NASDO3Y5NLQUVZYWXA6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UY44XTJWDAIFU53H6PRFLGR2VYR66LXFFKIRYLYLUI63JTEVOAUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A45MY4AQYQV5LRQZGSVHHWP743FPB6LABHMBFC7Y2IMINQV327QA/vendors.js"
            ]
        },
        "UpdateRunGroup": {
            "http": {
                "requestUri": "/runGroup/{id}",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    },
                    "name": {},
                    "maxCpus": {
                        "type": "integer"
                    },
                    "maxGpus": {
                        "type": "integer"
                    },
                    "maxRuns": {
                        "type": "integer"
                    },
                    "maxDuration": {
                        "type": "integer"
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "workflows-"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XAUL6GR2UOXFVIZFPBPRZH4H6HDVCD3TGQDAT2VQARSYNVY3U7VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TRXCMPUZBPO42IAYDDJQDLFH23AK5PJZ7HR4GOSJEBPKDRFMA6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y23INILA4QVNGVBQR6R4P3XZJLBH3PU4FJTRCC57W6TKDGDA7S3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GVFAHOGWOOTAVCVIF6MDKODFUQ76IOHLUMWGEDSCOAATVXYE3O5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6KRFJ3XJG76WOW23A5VFIR6LQ3HDV2ZNQFR7X5XKLR5S3PCA5OPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YRFSOHHNLFNN3IUHGUUJORNQMP4QWJZB7UJKNYWIHPZB3V5GTIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVBO4PPPKWZJHDKE6OAJX6UBCEV63S77GXOHGOIUBXLNOT7WCAOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6F5RPAMBN5PEES2CSIM6MO5ZOH2Q7SGMHC7FFILIOEM5YJJA72IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTYAQ44AAOJH24BUZ24ISJPZRLPWSOAX33A634P3SDUW6ME3OMPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QJKM6EXGYCM7XTHBGHNEYJV4UF3X5KL7OJXECWOGBRRSGDOEYQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DETSXANDLDRGWEOPYKV3IZ2YX3OCJTHLHMI4WYYKQIEFBK2KU57A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVGGGDLDSEHQ3NUTKVDBEQPVZ74LSZ377JPIHDHRFH473AHGUR3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZLVOBA6L2SMLXRIKFI4TPRDI6F2MRDNQULZDET2VGJ7MYBHHQOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJKBI3LO3KMFEDUWSC2JGYQP7DYLPZL4HBS4TMUK3NQEU3MAXY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUD3VEGJEPMFPALCPJEE2DHV6NST2GZKYYADIDW3ETWOCOIALQKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AEAC53QO4ZZFGPU4AQLQEEEUJJ7V6NMCENPIXDQSKUQN56XVSHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMYJJ4C5FEEJCB2CRG4DOM5UCWZVXTUL4BKPYG4SR7B7LZ2I2BYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZROP5EOYP4VLQ7TABDPIMKW5GKRO62PLUMXEPAPC3YXSZMJ6EAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7Z7GJPNCKFMTZ22QM3OXRJCH6XJVQ4AVCXWE5QOA62ZAXYEFK6FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6FKSRXP4U4UBBNLHOLEJUL6KO6ILC7M635YF7Z7OU6NI3N3VC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RRIG555GTDJJVOGQUPSDDPSQBWMIGAJCNGQT5CLCWDLLOTCY5UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JF3GPCVSXTPEFQGY2ZUP6C6QYPXLOWW5NASDO3Y5NLQUVZYWXA6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UY44XTJWDAIFU53H6PRFLGR2VYR66LXFFKIRYLYLUI63JTEVOAUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A45MY4AQYQV5LRQZGSVHHWP743FPB6LABHMBFC7Y2IMINQV327QA/vendors.js"
            ]
        },
        "UpdateWorkflow": {
            "http": {
                "requestUri": "/workflow/{id}",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    },
                    "name": {},
                    "description": {}
                }
            },
            "endpoint": {
                "hostPrefix": "workflows-"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XAUL6GR2UOXFVIZFPBPRZH4H6HDVCD3TGQDAT2VQARSYNVY3U7VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TRXCMPUZBPO42IAYDDJQDLFH23AK5PJZ7HR4GOSJEBPKDRFMA6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y23INILA4QVNGVBQR6R4P3XZJLBH3PU4FJTRCC57W6TKDGDA7S3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GVFAHOGWOOTAVCVIF6MDKODFUQ76IOHLUMWGEDSCOAATVXYE3O5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6KRFJ3XJG76WOW23A5VFIR6LQ3HDV2ZNQFR7X5XKLR5S3PCA5OPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YRFSOHHNLFNN3IUHGUUJORNQMP4QWJZB7UJKNYWIHPZB3V5GTIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVBO4PPPKWZJHDKE6OAJX6UBCEV63S77GXOHGOIUBXLNOT7WCAOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6F5RPAMBN5PEES2CSIM6MO5ZOH2Q7SGMHC7FFILIOEM5YJJA72IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTYAQ44AAOJH24BUZ24ISJPZRLPWSOAX33A634P3SDUW6ME3OMPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QJKM6EXGYCM7XTHBGHNEYJV4UF3X5KL7OJXECWOGBRRSGDOEYQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DETSXANDLDRGWEOPYKV3IZ2YX3OCJTHLHMI4WYYKQIEFBK2KU57A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVGGGDLDSEHQ3NUTKVDBEQPVZ74LSZ377JPIHDHRFH473AHGUR3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZLVOBA6L2SMLXRIKFI4TPRDI6F2MRDNQULZDET2VGJ7MYBHHQOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJKBI3LO3KMFEDUWSC2JGYQP7DYLPZL4HBS4TMUK3NQEU3MAXY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUD3VEGJEPMFPALCPJEE2DHV6NST2GZKYYADIDW3ETWOCOIALQKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AEAC53QO4ZZFGPU4AQLQEEEUJJ7V6NMCENPIXDQSKUQN56XVSHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMYJJ4C5FEEJCB2CRG4DOM5UCWZVXTUL4BKPYG4SR7B7LZ2I2BYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZROP5EOYP4VLQ7TABDPIMKW5GKRO62PLUMXEPAPC3YXSZMJ6EAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7Z7GJPNCKFMTZ22QM3OXRJCH6XJVQ4AVCXWE5QOA62ZAXYEFK6FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6FKSRXP4U4UBBNLHOLEJUL6KO6ILC7M635YF7Z7OU6NI3N3VC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RRIG555GTDJJVOGQUPSDDPSQBWMIGAJCNGQT5CLCWDLLOTCY5UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JF3GPCVSXTPEFQGY2ZUP6C6QYPXLOWW5NASDO3Y5NLQUVZYWXA6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UY44XTJWDAIFU53H6PRFLGR2VYR66LXFFKIRYLYLUI63JTEVOAUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A45MY4AQYQV5LRQZGSVHHWP743FPB6LABHMBFC7Y2IMINQV327QA/vendors.js"
            ]
        },
        "CreateRunCache": {
            "http": {
                "requestUri": "/runCache",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "cacheS3Location",
                    "requestId"
                ],
                "members": {
                    "cacheRunBehavior": {},
                    "cacheS3Location": {},
                    "description": {},
                    "name": {},
                    "requestId": {
                        "idempotencyToken": true
                    },
                    "tags": {
                        "shape": "S9"
                    },
                    "cacheBehavior": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "arn": {},
                    "id": {},
                    "status": {},
                    "tags": {
                        "shape": "S9"
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "workflows-"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DETSXANDLDRGWEOPYKV3IZ2YX3OCJTHLHMI4WYYKQIEFBK2KU57A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVGGGDLDSEHQ3NUTKVDBEQPVZ74LSZ377JPIHDHRFH473AHGUR3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZLVOBA6L2SMLXRIKFI4TPRDI6F2MRDNQULZDET2VGJ7MYBHHQOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJKBI3LO3KMFEDUWSC2JGYQP7DYLPZL4HBS4TMUK3NQEU3MAXY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUD3VEGJEPMFPALCPJEE2DHV6NST2GZKYYADIDW3ETWOCOIALQKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AEAC53QO4ZZFGPU4AQLQEEEUJJ7V6NMCENPIXDQSKUQN56XVSHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMYJJ4C5FEEJCB2CRG4DOM5UCWZVXTUL4BKPYG4SR7B7LZ2I2BYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZROP5EOYP4VLQ7TABDPIMKW5GKRO62PLUMXEPAPC3YXSZMJ6EAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7Z7GJPNCKFMTZ22QM3OXRJCH6XJVQ4AVCXWE5QOA62ZAXYEFK6FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6FKSRXP4U4UBBNLHOLEJUL6KO6ILC7M635YF7Z7OU6NI3N3VC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RRIG555GTDJJVOGQUPSDDPSQBWMIGAJCNGQT5CLCWDLLOTCY5UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JF3GPCVSXTPEFQGY2ZUP6C6QYPXLOWW5NASDO3Y5NLQUVZYWXA6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UY44XTJWDAIFU53H6PRFLGR2VYR66LXFFKIRYLYLUI63JTEVOAUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A45MY4AQYQV5LRQZGSVHHWP743FPB6LABHMBFC7Y2IMINQV327QA/vendors.js"
            ]
        },
        "DeleteRunCache": {
            "http": {
                "method": "DELETE",
                "requestUri": "/runCache/{id}",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "workflows-"
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DETSXANDLDRGWEOPYKV3IZ2YX3OCJTHLHMI4WYYKQIEFBK2KU57A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVGGGDLDSEHQ3NUTKVDBEQPVZ74LSZ377JPIHDHRFH473AHGUR3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZLVOBA6L2SMLXRIKFI4TPRDI6F2MRDNQULZDET2VGJ7MYBHHQOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJKBI3LO3KMFEDUWSC2JGYQP7DYLPZL4HBS4TMUK3NQEU3MAXY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUD3VEGJEPMFPALCPJEE2DHV6NST2GZKYYADIDW3ETWOCOIALQKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AEAC53QO4ZZFGPU4AQLQEEEUJJ7V6NMCENPIXDQSKUQN56XVSHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMYJJ4C5FEEJCB2CRG4DOM5UCWZVXTUL4BKPYG4SR7B7LZ2I2BYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZROP5EOYP4VLQ7TABDPIMKW5GKRO62PLUMXEPAPC3YXSZMJ6EAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7Z7GJPNCKFMTZ22QM3OXRJCH6XJVQ4AVCXWE5QOA62ZAXYEFK6FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6FKSRXP4U4UBBNLHOLEJUL6KO6ILC7M635YF7Z7OU6NI3N3VC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RRIG555GTDJJVOGQUPSDDPSQBWMIGAJCNGQT5CLCWDLLOTCY5UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JF3GPCVSXTPEFQGY2ZUP6C6QYPXLOWW5NASDO3Y5NLQUVZYWXA6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UY44XTJWDAIFU53H6PRFLGR2VYR66LXFFKIRYLYLUI63JTEVOAUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A45MY4AQYQV5LRQZGSVHHWP743FPB6LABHMBFC7Y2IMINQV327QA/vendors.js"
            ]
        },
        "GetRunCache": {
            "http": {
                "method": "GET",
                "requestUri": "/runCache/{id}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "arn": {},
                    "cacheRunBehavior": {},
                    "cacheS3Location": {},
                    "cacheS3Uri": {},
                    "creationTime": {
                        "shape": "S27"
                    },
                    "description": {},
                    "id": {},
                    "name": {},
                    "status": {},
[...]
