{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-05-10",
        "endpointPrefix": "awsvincentgatewayservice",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "ripServiceName": "omics/vincent",
        "serviceFullName": "AWS Vincent Gateway Service",
        "serviceId": "OmicsAnalytics",
        "signatureVersion": "v4",
        "signingName": "omics",
        "uid": "omicsanalytics-2018-05-10",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/SJHCZIAAEO3FMQLNFGWX2AZUX2MIW7QI2FP7F3N2GW6AGEV4XRVQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4ITBMEBDRELZUXZWMIZ66KDOGTAECXHB6AABXNHRFZ3IXNDAP4XA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4BWENQE7LYN724NSBKV72JSVWR442SRQA6XAZDPRPCAF6HOHN6KA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VK7BQUWZDH5O67B345YGK6NLZ2BSOSYYRP5DJ5KGDZAVY7VA7TSQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/E2WWVC3HYR5OM3RMKQA2ND43RFX7B5NRBAQB4FPXRVGEKPGR4INA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CRPABGQXLQWNOFQR67RMI4ZSLRUS4IWW5Z76GLVI4R7U3GOQ5B7A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JLP7EXVDZ5IXUE2B4ENATJHVWJKIU6AC76EEQ23JL73J65YJC7QA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LSG35KG6KY3QPDQ5CNDU6FFX3MGAIVFZV476N74JXWU2JUG63AFQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AFFBDOHUZWFLPNOJZM3QMF53I2KK2PIBHEAJQR2QLFXWVCWVRWTA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AKBZQKBBO7HG6NIJ6M4QIBD36Z3542OU6WUMRGYPE2IPEHPEYX6A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/34SU2HFMTNTZ4QXKCDRSUODLY3H742HXIDM47DPOLN72TKK5TUWA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3MGRFVVK23UJQVWBUEDPM3OM3ZV7QH42DNT7TPNKB774FODNPUWA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7NWGZFJQ4CNTP4CI4S47775SS6IWTFBIXARCET6GNPQYCJS6V2GQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BCZBNTQGLUCCXQRSFQ6EGM4ECEVQP73GZL46RWSSBCLDPBUCOBJQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7ZJBAD2UNIXE6RD656JNXYWQSUOZDPFKVR53YKDPPAT6HVI2CO3Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5WSH3UQ7YOOEVTX4HFDDMMQQ22HZ6D5VGLJLPBX3OU4F3LMYP43Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/B3CWREJFDOCJC2KBT2U37WILU57CMS2DJSDHWMEEA7XPRK2ZKZFQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AA3MGR26V4K6EQMCXHBRGGCO7WXIBRJCX5IZUQMXTTDMATCVRMXA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HM2DYYEOXNGUQ52GGKJKEOIJPI4GTJUJODWU24ED3I6HBXNZY5VQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QFXBDMB5IPIAO6JAWZN74CFPWUIW4P4FSK7DTB5IESWKMYQXIELQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YVL4A5GS6PH2IZFZXR3S2UNWGDDZHN5RKZG2XL6NIRNQRHC3YOIQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BK65BOTOV5ZWWBWDISBHDOM2IFN2S7AJQBUFCSZKXZZYLYJAA3UQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OIX2V23OEF5EW26LRYCCMGJLAXWM464RA2VLVEZG5UTAW3NV4ZKQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YWPOMJZZ6ZQZV3KMWS444F4YBS5VX4KTACZBWNDIT7W44KIEATAQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DJMKL6VVRDIZQPQNYCQZPU7RN5UL5I6CGHFXY7PSLFK2C4WTTRNQ/vendors.js"
        ]
    },
    "operations": {
        "CancelAnnotationImportJob": {
            "http": {
                "method": "DELETE",
                "requestUri": "/import/annotation/{jobId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "jobId"
                ],
                "members": {
                    "jobId": {
                        "location": "uri",
                        "locationName": "jobId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "endpoint": {
                "hostPrefix": "analytics-"
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ITBMEBDRELZUXZWMIZ66KDOGTAECXHB6AABXNHRFZ3IXNDAP4XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BWENQE7LYN724NSBKV72JSVWR442SRQA6XAZDPRPCAF6HOHN6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VK7BQUWZDH5O67B345YGK6NLZ2BSOSYYRP5DJ5KGDZAVY7VA7TSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E2WWVC3HYR5OM3RMKQA2ND43RFX7B5NRBAQB4FPXRVGEKPGR4INA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CRPABGQXLQWNOFQR67RMI4ZSLRUS4IWW5Z76GLVI4R7U3GOQ5B7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLP7EXVDZ5IXUE2B4ENATJHVWJKIU6AC76EEQ23JL73J65YJC7QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LSG35KG6KY3QPDQ5CNDU6FFX3MGAIVFZV476N74JXWU2JUG63AFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFFBDOHUZWFLPNOJZM3QMF53I2KK2PIBHEAJQR2QLFXWVCWVRWTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKBZQKBBO7HG6NIJ6M4QIBD36Z3542OU6WUMRGYPE2IPEHPEYX6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34SU2HFMTNTZ4QXKCDRSUODLY3H742HXIDM47DPOLN72TKK5TUWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MGRFVVK23UJQVWBUEDPM3OM3ZV7QH42DNT7TPNKB774FODNPUWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NWGZFJQ4CNTP4CI4S47775SS6IWTFBIXARCET6GNPQYCJS6V2GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BCZBNTQGLUCCXQRSFQ6EGM4ECEVQP73GZL46RWSSBCLDPBUCOBJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZJBAD2UNIXE6RD656JNXYWQSUOZDPFKVR53YKDPPAT6HVI2CO3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5WSH3UQ7YOOEVTX4HFDDMMQQ22HZ6D5VGLJLPBX3OU4F3LMYP43Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3CWREJFDOCJC2KBT2U37WILU57CMS2DJSDHWMEEA7XPRK2ZKZFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AA3MGR26V4K6EQMCXHBRGGCO7WXIBRJCX5IZUQMXTTDMATCVRMXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HM2DYYEOXNGUQ52GGKJKEOIJPI4GTJUJODWU24ED3I6HBXNZY5VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFXBDMB5IPIAO6JAWZN74CFPWUIW4P4FSK7DTB5IESWKMYQXIELQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVL4A5GS6PH2IZFZXR3S2UNWGDDZHN5RKZG2XL6NIRNQRHC3YOIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BK65BOTOV5ZWWBWDISBHDOM2IFN2S7AJQBUFCSZKXZZYLYJAA3UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OIX2V23OEF5EW26LRYCCMGJLAXWM464RA2VLVEZG5UTAW3NV4ZKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWPOMJZZ6ZQZV3KMWS444F4YBS5VX4KTACZBWNDIT7W44KIEATAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJMKL6VVRDIZQPQNYCQZPU7RN5UL5I6CGHFXY7PSLFK2C4WTTRNQ/vendors.js"
            ]
        },
        "CancelVariantImportJob": {
            "http": {
                "method": "DELETE",
                "requestUri": "/import/variant/{jobId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "jobId"
                ],
                "members": {
                    "jobId": {
                        "location": "uri",
                        "locationName": "jobId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "endpoint": {
                "hostPrefix": "analytics-"
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ITBMEBDRELZUXZWMIZ66KDOGTAECXHB6AABXNHRFZ3IXNDAP4XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BWENQE7LYN724NSBKV72JSVWR442SRQA6XAZDPRPCAF6HOHN6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VK7BQUWZDH5O67B345YGK6NLZ2BSOSYYRP5DJ5KGDZAVY7VA7TSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E2WWVC3HYR5OM3RMKQA2ND43RFX7B5NRBAQB4FPXRVGEKPGR4INA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CRPABGQXLQWNOFQR67RMI4ZSLRUS4IWW5Z76GLVI4R7U3GOQ5B7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLP7EXVDZ5IXUE2B4ENATJHVWJKIU6AC76EEQ23JL73J65YJC7QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LSG35KG6KY3QPDQ5CNDU6FFX3MGAIVFZV476N74JXWU2JUG63AFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFFBDOHUZWFLPNOJZM3QMF53I2KK2PIBHEAJQR2QLFXWVCWVRWTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKBZQKBBO7HG6NIJ6M4QIBD36Z3542OU6WUMRGYPE2IPEHPEYX6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34SU2HFMTNTZ4QXKCDRSUODLY3H742HXIDM47DPOLN72TKK5TUWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MGRFVVK23UJQVWBUEDPM3OM3ZV7QH42DNT7TPNKB774FODNPUWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NWGZFJQ4CNTP4CI4S47775SS6IWTFBIXARCET6GNPQYCJS6V2GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BCZBNTQGLUCCXQRSFQ6EGM4ECEVQP73GZL46RWSSBCLDPBUCOBJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZJBAD2UNIXE6RD656JNXYWQSUOZDPFKVR53YKDPPAT6HVI2CO3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5WSH3UQ7YOOEVTX4HFDDMMQQ22HZ6D5VGLJLPBX3OU4F3LMYP43Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3CWREJFDOCJC2KBT2U37WILU57CMS2DJSDHWMEEA7XPRK2ZKZFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AA3MGR26V4K6EQMCXHBRGGCO7WXIBRJCX5IZUQMXTTDMATCVRMXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HM2DYYEOXNGUQ52GGKJKEOIJPI4GTJUJODWU24ED3I6HBXNZY5VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFXBDMB5IPIAO6JAWZN74CFPWUIW4P4FSK7DTB5IESWKMYQXIELQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVL4A5GS6PH2IZFZXR3S2UNWGDDZHN5RKZG2XL6NIRNQRHC3YOIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BK65BOTOV5ZWWBWDISBHDOM2IFN2S7AJQBUFCSZKXZZYLYJAA3UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OIX2V23OEF5EW26LRYCCMGJLAXWM464RA2VLVEZG5UTAW3NV4ZKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWPOMJZZ6ZQZV3KMWS444F4YBS5VX4KTACZBWNDIT7W44KIEATAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJMKL6VVRDIZQPQNYCQZPU7RN5UL5I6CGHFXY7PSLFK2C4WTTRNQ/vendors.js"
            ]
        },
        "CreateAnnotationStore": {
            "http": {
                "requestUri": "/annotationStore",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "storeFormat"
                ],
                "members": {
                    "reference": {
                        "shape": "S7"
                    },
                    "name": {},
                    "description": {},
                    "tags": {
                        "shape": "Sb"
                    },
                    "sseConfig": {
                        "shape": "Se"
                    },
                    "storeFormat": {},
                    "storeOptions": {
                        "shape": "Si"
                    },
                    "versionName": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "id",
                    "status",
                    "name",
                    "creationTime"
                ],
                "members": {
                    "id": {},
                    "reference": {
                        "shape": "S7"
                    },
                    "storeFormat": {},
                    "storeOptions": {
                        "shape": "Si"
                    },
                    "status": {},
                    "name": {},
                    "creationTime": {
                        "shape": "Sv"
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "analytics-"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ITBMEBDRELZUXZWMIZ66KDOGTAECXHB6AABXNHRFZ3IXNDAP4XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BWENQE7LYN724NSBKV72JSVWR442SRQA6XAZDPRPCAF6HOHN6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VK7BQUWZDH5O67B345YGK6NLZ2BSOSYYRP5DJ5KGDZAVY7VA7TSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E2WWVC3HYR5OM3RMKQA2ND43RFX7B5NRBAQB4FPXRVGEKPGR4INA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CRPABGQXLQWNOFQR67RMI4ZSLRUS4IWW5Z76GLVI4R7U3GOQ5B7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLP7EXVDZ5IXUE2B4ENATJHVWJKIU6AC76EEQ23JL73J65YJC7QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LSG35KG6KY3QPDQ5CNDU6FFX3MGAIVFZV476N74JXWU2JUG63AFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFFBDOHUZWFLPNOJZM3QMF53I2KK2PIBHEAJQR2QLFXWVCWVRWTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKBZQKBBO7HG6NIJ6M4QIBD36Z3542OU6WUMRGYPE2IPEHPEYX6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34SU2HFMTNTZ4QXKCDRSUODLY3H742HXIDM47DPOLN72TKK5TUWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MGRFVVK23UJQVWBUEDPM3OM3ZV7QH42DNT7TPNKB774FODNPUWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NWGZFJQ4CNTP4CI4S47775SS6IWTFBIXARCET6GNPQYCJS6V2GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BCZBNTQGLUCCXQRSFQ6EGM4ECEVQP73GZL46RWSSBCLDPBUCOBJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZJBAD2UNIXE6RD656JNXYWQSUOZDPFKVR53YKDPPAT6HVI2CO3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5WSH3UQ7YOOEVTX4HFDDMMQQ22HZ6D5VGLJLPBX3OU4F3LMYP43Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3CWREJFDOCJC2KBT2U37WILU57CMS2DJSDHWMEEA7XPRK2ZKZFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AA3MGR26V4K6EQMCXHBRGGCO7WXIBRJCX5IZUQMXTTDMATCVRMXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HM2DYYEOXNGUQ52GGKJKEOIJPI4GTJUJODWU24ED3I6HBXNZY5VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFXBDMB5IPIAO6JAWZN74CFPWUIW4P4FSK7DTB5IESWKMYQXIELQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVL4A5GS6PH2IZFZXR3S2UNWGDDZHN5RKZG2XL6NIRNQRHC3YOIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BK65BOTOV5ZWWBWDISBHDOM2IFN2S7AJQBUFCSZKXZZYLYJAA3UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OIX2V23OEF5EW26LRYCCMGJLAXWM464RA2VLVEZG5UTAW3NV4ZKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWPOMJZZ6ZQZV3KMWS444F4YBS5VX4KTACZBWNDIT7W44KIEATAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJMKL6VVRDIZQPQNYCQZPU7RN5UL5I6CGHFXY7PSLFK2C4WTTRNQ/vendors.js"
            ]
        },
        "CreateVariantStore": {
            "http": {
                "requestUri": "/variantStore",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "reference"
                ],
                "members": {
                    "reference": {
                        "shape": "S7"
                    },
                    "name": {},
                    "description": {},
                    "tags": {
                        "shape": "Sb"
                    },
                    "sseConfig": {
                        "shape": "Se"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "id",
                    "status",
                    "name",
                    "creationTime"
                ],
                "members": {
                    "id": {},
                    "reference": {
                        "shape": "S7"
                    },
                    "status": {},
                    "name": {},
                    "creationTime": {
                        "shape": "Sv"
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "analytics-"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ITBMEBDRELZUXZWMIZ66KDOGTAECXHB6AABXNHRFZ3IXNDAP4XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BWENQE7LYN724NSBKV72JSVWR442SRQA6XAZDPRPCAF6HOHN6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VK7BQUWZDH5O67B345YGK6NLZ2BSOSYYRP5DJ5KGDZAVY7VA7TSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E2WWVC3HYR5OM3RMKQA2ND43RFX7B5NRBAQB4FPXRVGEKPGR4INA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CRPABGQXLQWNOFQR67RMI4ZSLRUS4IWW5Z76GLVI4R7U3GOQ5B7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLP7EXVDZ5IXUE2B4ENATJHVWJKIU6AC76EEQ23JL73J65YJC7QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LSG35KG6KY3QPDQ5CNDU6FFX3MGAIVFZV476N74JXWU2JUG63AFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFFBDOHUZWFLPNOJZM3QMF53I2KK2PIBHEAJQR2QLFXWVCWVRWTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKBZQKBBO7HG6NIJ6M4QIBD36Z3542OU6WUMRGYPE2IPEHPEYX6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34SU2HFMTNTZ4QXKCDRSUODLY3H742HXIDM47DPOLN72TKK5TUWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MGRFVVK23UJQVWBUEDPM3OM3ZV7QH42DNT7TPNKB774FODNPUWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NWGZFJQ4CNTP4CI4S47775SS6IWTFBIXARCET6GNPQYCJS6V2GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BCZBNTQGLUCCXQRSFQ6EGM4ECEVQP73GZL46RWSSBCLDPBUCOBJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZJBAD2UNIXE6RD656JNXYWQSUOZDPFKVR53YKDPPAT6HVI2CO3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5WSH3UQ7YOOEVTX4HFDDMMQQ22HZ6D5VGLJLPBX3OU4F3LMYP43Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3CWREJFDOCJC2KBT2U37WILU57CMS2DJSDHWMEEA7XPRK2ZKZFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AA3MGR26V4K6EQMCXHBRGGCO7WXIBRJCX5IZUQMXTTDMATCVRMXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HM2DYYEOXNGUQ52GGKJKEOIJPI4GTJUJODWU24ED3I6HBXNZY5VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFXBDMB5IPIAO6JAWZN74CFPWUIW4P4FSK7DTB5IESWKMYQXIELQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVL4A5GS6PH2IZFZXR3S2UNWGDDZHN5RKZG2XL6NIRNQRHC3YOIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BK65BOTOV5ZWWBWDISBHDOM2IFN2S7AJQBUFCSZKXZZYLYJAA3UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OIX2V23OEF5EW26LRYCCMGJLAXWM464RA2VLVEZG5UTAW3NV4ZKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWPOMJZZ6ZQZV3KMWS444F4YBS5VX4KTACZBWNDIT7W44KIEATAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJMKL6VVRDIZQPQNYCQZPU7RN5UL5I6CGHFXY7PSLFK2C4WTTRNQ/vendors.js"
            ]
        },
        "DeleteAnnotationStore": {
            "http": {
                "method": "DELETE",
                "requestUri": "/annotationStore/{name}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "name"
                ],
                "members": {
                    "name": {
                        "location": "uri",
                        "locationName": "name"
                    },
                    "force": {
                        "location": "querystring",
                        "locationName": "force",
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "status"
                ],
                "members": {
                    "status": {}
                }
            },
            "endpoint": {
                "hostPrefix": "analytics-"
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ITBMEBDRELZUXZWMIZ66KDOGTAECXHB6AABXNHRFZ3IXNDAP4XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BWENQE7LYN724NSBKV72JSVWR442SRQA6XAZDPRPCAF6HOHN6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VK7BQUWZDH5O67B345YGK6NLZ2BSOSYYRP5DJ5KGDZAVY7VA7TSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E2WWVC3HYR5OM3RMKQA2ND43RFX7B5NRBAQB4FPXRVGEKPGR4INA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CRPABGQXLQWNOFQR67RMI4ZSLRUS4IWW5Z76GLVI4R7U3GOQ5B7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLP7EXVDZ5IXUE2B4ENATJHVWJKIU6AC76EEQ23JL73J65YJC7QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LSG35KG6KY3QPDQ5CNDU6FFX3MGAIVFZV476N74JXWU2JUG63AFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFFBDOHUZWFLPNOJZM3QMF53I2KK2PIBHEAJQR2QLFXWVCWVRWTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKBZQKBBO7HG6NIJ6M4QIBD36Z3542OU6WUMRGYPE2IPEHPEYX6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34SU2HFMTNTZ4QXKCDRSUODLY3H742HXIDM47DPOLN72TKK5TUWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MGRFVVK23UJQVWBUEDPM3OM3ZV7QH42DNT7TPNKB774FODNPUWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NWGZFJQ4CNTP4CI4S47775SS6IWTFBIXARCET6GNPQYCJS6V2GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BCZBNTQGLUCCXQRSFQ6EGM4ECEVQP73GZL46RWSSBCLDPBUCOBJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZJBAD2UNIXE6RD656JNXYWQSUOZDPFKVR53YKDPPAT6HVI2CO3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5WSH3UQ7YOOEVTX4HFDDMMQQ22HZ6D5VGLJLPBX3OU4F3LMYP43Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3CWREJFDOCJC2KBT2U37WILU57CMS2DJSDHWMEEA7XPRK2ZKZFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AA3MGR26V4K6EQMCXHBRGGCO7WXIBRJCX5IZUQMXTTDMATCVRMXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HM2DYYEOXNGUQ52GGKJKEOIJPI4GTJUJODWU24ED3I6HBXNZY5VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFXBDMB5IPIAO6JAWZN74CFPWUIW4P4FSK7DTB5IESWKMYQXIELQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVL4A5GS6PH2IZFZXR3S2UNWGDDZHN5RKZG2XL6NIRNQRHC3YOIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BK65BOTOV5ZWWBWDISBHDOM2IFN2S7AJQBUFCSZKXZZYLYJAA3UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OIX2V23OEF5EW26LRYCCMGJLAXWM464RA2VLVEZG5UTAW3NV4ZKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWPOMJZZ6ZQZV3KMWS444F4YBS5VX4KTACZBWNDIT7W44KIEATAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJMKL6VVRDIZQPQNYCQZPU7RN5UL5I6CGHFXY7PSLFK2C4WTTRNQ/vendors.js"
            ]
        },
        "DeleteVariantStore": {
            "http": {
                "method": "DELETE",
                "requestUri": "/variantStore/{name}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "name"
                ],
                "members": {
                    "name": {
                        "location": "uri",
                        "locationName": "name"
                    },
                    "force": {
                        "location": "querystring",
                        "locationName": "force",
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "status"
                ],
                "members": {
                    "status": {}
                }
            },
            "endpoint": {
                "hostPrefix": "analytics-"
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ITBMEBDRELZUXZWMIZ66KDOGTAECXHB6AABXNHRFZ3IXNDAP4XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BWENQE7LYN724NSBKV72JSVWR442SRQA6XAZDPRPCAF6HOHN6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VK7BQUWZDH5O67B345YGK6NLZ2BSOSYYRP5DJ5KGDZAVY7VA7TSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E2WWVC3HYR5OM3RMKQA2ND43RFX7B5NRBAQB4FPXRVGEKPGR4INA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CRPABGQXLQWNOFQR67RMI4ZSLRUS4IWW5Z76GLVI4R7U3GOQ5B7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLP7EXVDZ5IXUE2B4ENATJHVWJKIU6AC76EEQ23JL73J65YJC7QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LSG35KG6KY3QPDQ5CNDU6FFX3MGAIVFZV476N74JXWU2JUG63AFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFFBDOHUZWFLPNOJZM3QMF53I2KK2PIBHEAJQR2QLFXWVCWVRWTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKBZQKBBO7HG6NIJ6M4QIBD36Z3542OU6WUMRGYPE2IPEHPEYX6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34SU2HFMTNTZ4QXKCDRSUODLY3H742HXIDM47DPOLN72TKK5TUWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MGRFVVK23UJQVWBUEDPM3OM3ZV7QH42DNT7TPNKB774FODNPUWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NWGZFJQ4CNTP4CI4S47775SS6IWTFBIXARCET6GNPQYCJS6V2GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BCZBNTQGLUCCXQRSFQ6EGM4ECEVQP73GZL46RWSSBCLDPBUCOBJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZJBAD2UNIXE6RD656JNXYWQSUOZDPFKVR53YKDPPAT6HVI2CO3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5WSH3UQ7YOOEVTX4HFDDMMQQ22HZ6D5VGLJLPBX3OU4F3LMYP43Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3CWREJFDOCJC2KBT2U37WILU57CMS2DJSDHWMEEA7XPRK2ZKZFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AA3MGR26V4K6EQMCXHBRGGCO7WXIBRJCX5IZUQMXTTDMATCVRMXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HM2DYYEOXNGUQ52GGKJKEOIJPI4GTJUJODWU24ED3I6HBXNZY5VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFXBDMB5IPIAO6JAWZN74CFPWUIW4P4FSK7DTB5IESWKMYQXIELQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVL4A5GS6PH2IZFZXR3S2UNWGDDZHN5RKZG2XL6NIRNQRHC3YOIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BK65BOTOV5ZWWBWDISBHDOM2IFN2S7AJQBUFCSZKXZZYLYJAA3UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OIX2V23OEF5EW26LRYCCMGJLAXWM464RA2VLVEZG5UTAW3NV4ZKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWPOMJZZ6ZQZV3KMWS444F4YBS5VX4KTACZBWNDIT7W44KIEATAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJMKL6VVRDIZQPQNYCQZPU7RN5UL5I6CGHFXY7PSLFK2C4WTTRNQ/vendors.js"
            ]
        },
        "GetAnnotationImportJob": {
            "http": {
                "method": "GET",
                "requestUri": "/import/annotation/{jobId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "jobId"
                ],
                "members": {
                    "jobId": {
                        "location": "uri",
                        "locationName": "jobId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "id",
                    "destinationName",
                    "roleArn",
                    "status",
                    "statusMessage",
                    "creationTime",
                    "updateTime",
                    "completionTime",
                    "items",
                    "runLeftNormalization",
                    "formatOptions"
                ],
                "members": {
                    "id": {},
                    "destinationName": {},
                    "roleArn": {},
                    "status": {},
                    "statusMessage": {},
                    "creationTime": {
                        "shape": "Sv"
                    },
                    "updateTime": {
                        "shape": "S1a"
                    },
                    "completionTime": {
                        "shape": "S1b"
                    },
                    "items": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "source",
                                "jobStatus"
                            ],
                            "members": {
                                "source": {},
                                "jobStatus": {}
                            }
                        }
                    },
                    "runLeftNormalization": {
                        "type": "boolean"
                    },
                    "formatOptions": {
                        "shape": "S1g"
                    },
                    "annotationFields": {
                        "shape": "S1u"
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "analytics-"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ITBMEBDRELZUXZWMIZ66KDOGTAECXHB6AABXNHRFZ3IXNDAP4XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BWENQE7LYN724NSBKV72JSVWR442SRQA6XAZDPRPCAF6HOHN6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VK7BQUWZDH5O67B345YGK6NLZ2BSOSYYRP5DJ5KGDZAVY7VA7TSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E2WWVC3HYR5OM3RMKQA2ND43RFX7B5NRBAQB4FPXRVGEKPGR4INA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CRPABGQXLQWNOFQR67RMI4ZSLRUS4IWW5Z76GLVI4R7U3GOQ5B7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLP7EXVDZ5IXUE2B4ENATJHVWJKIU6AC76EEQ23JL73J65YJC7QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LSG35KG6KY3QPDQ5CNDU6FFX3MGAIVFZV476N74JXWU2JUG63AFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFFBDOHUZWFLPNOJZM3QMF53I2KK2PIBHEAJQR2QLFXWVCWVRWTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKBZQKBBO7HG6NIJ6M4QIBD36Z3542OU6WUMRGYPE2IPEHPEYX6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34SU2HFMTNTZ4QXKCDRSUODLY3H742HXIDM47DPOLN72TKK5TUWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MGRFVVK23UJQVWBUEDPM3OM3ZV7QH42DNT7TPNKB774FODNPUWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NWGZFJQ4CNTP4CI4S47775SS6IWTFBIXARCET6GNPQYCJS6V2GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BCZBNTQGLUCCXQRSFQ6EGM4ECEVQP73GZL46RWSSBCLDPBUCOBJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZJBAD2UNIXE6RD656JNXYWQSUOZDPFKVR53YKDPPAT6HVI2CO3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5WSH3UQ7YOOEVTX4HFDDMMQQ22HZ6D5VGLJLPBX3OU4F3LMYP43Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3CWREJFDOCJC2KBT2U37WILU57CMS2DJSDHWMEEA7XPRK2ZKZFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AA3MGR26V4K6EQMCXHBRGGCO7WXIBRJCX5IZUQMXTTDMATCVRMXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HM2DYYEOXNGUQ52GGKJKEOIJPI4GTJUJODWU24ED3I6HBXNZY5VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFXBDMB5IPIAO6JAWZN74CFPWUIW4P4FSK7DTB5IESWKMYQXIELQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVL4A5GS6PH2IZFZXR3S2UNWGDDZHN5RKZG2XL6NIRNQRHC3YOIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BK65BOTOV5ZWWBWDISBHDOM2IFN2S7AJQBUFCSZKXZZYLYJAA3UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OIX2V23OEF5EW26LRYCCMGJLAXWM464RA2VLVEZG5UTAW3NV4ZKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWPOMJZZ6ZQZV3KMWS444F4YBS5VX4KTACZBWNDIT7W44KIEATAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJMKL6VVRDIZQPQNYCQZPU7RN5UL5I6CGHFXY7PSLFK2C4WTTRNQ/vendors.js"
            ]
        },
        "GetAnnotationStore": {
            "http": {
                "method": "GET",
                "requestUri": "/annotationStore/{name}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "name"
                ],
                "members": {
                    "name": {
                        "location": "uri",
                        "locationName": "name"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "id",
                    "reference",
                    "status",
                    "storeArn",
                    "name",
                    "description",
                    "sseConfig",
                    "creationTime",
                    "updateTime",
                    "tags",
                    "statusMessage",
                    "storeSizeBytes"
                ],
                "members": {
                    "id": {},
                    "reference": {
                        "shape": "S7"
                    },
                    "status": {},
                    "storeArn": {},
                    "name": {},
                    "description": {},
                    "sseConfig": {
                        "shape": "Se"
                    },
                    "creationTime": {
                        "shape": "Sv"
                    },
                    "updateTime": {
                        "shape": "S1a"
                    },
                    "tags": {
                        "shape": "Sb"
                    },
                    "storeOptions": {
                        "shape": "Si"
                    },
                    "storeFormat": {},
                    "statusMessage": {},
                    "storeSizeBytes": {
                        "type": "long"
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "analytics-"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ITBMEBDRELZUXZWMIZ66KDOGTAECXHB6AABXNHRFZ3IXNDAP4XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BWENQE7LYN724NSBKV72JSVWR442SRQA6XAZDPRPCAF6HOHN6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VK7BQUWZDH5O67B345YGK6NLZ2BSOSYYRP5DJ5KGDZAVY7VA7TSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E2WWVC3HYR5OM3RMKQA2ND43RFX7B5NRBAQB4FPXRVGEKPGR4INA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CRPABGQXLQWNOFQR67RMI4ZSLRUS4IWW5Z76GLVI4R7U3GOQ5B7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLP7EXVDZ5IXUE2B4ENATJHVWJKIU6AC76EEQ23JL73J65YJC7QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LSG35KG6KY3QPDQ5CNDU6FFX3MGAIVFZV476N74JXWU2JUG63AFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFFBDOHUZWFLPNOJZM3QMF53I2KK2PIBHEAJQR2QLFXWVCWVRWTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKBZQKBBO7HG6NIJ6M4QIBD36Z3542OU6WUMRGYPE2IPEHPEYX6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34SU2HFMTNTZ4QXKCDRSUODLY3H742HXIDM47DPOLN72TKK5TUWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MGRFVVK23UJQVWBUEDPM3OM3ZV7QH42DNT7TPNKB774FODNPUWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NWGZFJQ4CNTP4CI4S47775SS6IWTFBIXARCET6GNPQYCJS6V2GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BCZBNTQGLUCCXQRSFQ6EGM4ECEVQP73GZL46RWSSBCLDPBUCOBJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZJBAD2UNIXE6RD656JNXYWQSUOZDPFKVR53YKDPPAT6HVI2CO3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5WSH3UQ7YOOEVTX4HFDDMMQQ22HZ6D5VGLJLPBX3OU4F3LMYP43Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3CWREJFDOCJC2KBT2U37WILU57CMS2DJSDHWMEEA7XPRK2ZKZFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AA3MGR26V4K6EQMCXHBRGGCO7WXIBRJCX5IZUQMXTTDMATCVRMXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HM2DYYEOXNGUQ52GGKJKEOIJPI4GTJUJODWU24ED3I6HBXNZY5VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFXBDMB5IPIAO6JAWZN74CFPWUIW4P4FSK7DTB5IESWKMYQXIELQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVL4A5GS6PH2IZFZXR3S2UNWGDDZHN5RKZG2XL6NIRNQRHC3YOIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BK65BOTOV5ZWWBWDISBHDOM2IFN2S7AJQBUFCSZKXZZYLYJAA3UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OIX2V23OEF5EW26LRYCCMGJLAXWM464RA2VLVEZG5UTAW3NV4ZKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWPOMJZZ6ZQZV3KMWS444F4YBS5VX4KTACZBWNDIT7W44KIEATAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJMKL6VVRDIZQPQNYCQZPU7RN5UL5I6CGHFXY7PSLFK2C4WTTRNQ/vendors.js"
            ]
        },
        "GetVariantImportJob": {
            "http": {
                "method": "GET",
                "requestUri": "/import/variant/{jobId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "jobId"
                ],
                "members": {
                    "jobId": {
                        "location": "uri",
                        "locationName": "jobId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "id",
                    "destinationName",
                    "roleArn",
                    "status",
                    "statusMessage",
                    "creationTime",
                    "updateTime",
                    "items",
                    "runLeftNormalization"
                ],
                "members": {
                    "id": {},
                    "destinationName": {},
                    "roleArn": {},
                    "status": {},
                    "statusMessage": {},
                    "creationTime": {
                        "shape": "Sv"
                    },
                    "updateTime": {
                        "shape": "S1a"
                    },
                    "completionTime": {
                        "shape": "S1b"
                    },
                    "items": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "source",
                                "jobStatus"
                            ],
                            "members": {
                                "source": {},
                                "jobStatus": {},
                                "statusMessage": {}
                            }
                        }
                    },
                    "runLeftNormalization": {
                        "type": "boolean"
                    },
                    "annotationFields": {
                        "shape": "S1u"
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "analytics-"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ITBMEBDRELZUXZWMIZ66KDOGTAECXHB6AABXNHRFZ3IXNDAP4XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BWENQE7LYN724NSBKV72JSVWR442SRQA6XAZDPRPCAF6HOHN6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VK7BQUWZDH5O67B345YGK6NLZ2BSOSYYRP5DJ5KGDZAVY7VA7TSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E2WWVC3HYR5OM3RMKQA2ND43RFX7B5NRBAQB4FPXRVGEKPGR4INA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CRPABGQXLQWNOFQR67RMI4ZSLRUS4IWW5Z76GLVI4R7U3GOQ5B7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLP7EXVDZ5IXUE2B4ENATJHVWJKIU6AC76EEQ23JL73J65YJC7QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LSG35KG6KY3QPDQ5CNDU6FFX3MGAIVFZV476N74JXWU2JUG63AFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFFBDOHUZWFLPNOJZM3QMF53I2KK2PIBHEAJQR2QLFXWVCWVRWTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKBZQKBBO7HG6NIJ6M4QIBD36Z3542OU6WUMRGYPE2IPEHPEYX6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34SU2HFMTNTZ4QXKCDRSUODLY3H742HXIDM47DPOLN72TKK5TUWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MGRFVVK23UJQVWBUEDPM3OM3ZV7QH42DNT7TPNKB774FODNPUWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NWGZFJQ4CNTP4CI4S47775SS6IWTFBIXARCET6GNPQYCJS6V2GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BCZBNTQGLUCCXQRSFQ6EGM4ECEVQP73GZL46RWSSBCLDPBUCOBJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZJBAD2UNIXE6RD656JNXYWQSUOZDPFKVR53YKDPPAT6HVI2CO3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5WSH3UQ7YOOEVTX4HFDDMMQQ22HZ6D5VGLJLPBX3OU4F3LMYP43Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3CWREJFDOCJC2KBT2U37WILU57CMS2DJSDHWMEEA7XPRK2ZKZFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AA3MGR26V4K6EQMCXHBRGGCO7WXIBRJCX5IZUQMXTTDMATCVRMXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HM2DYYEOXNGUQ52GGKJKEOIJPI4GTJUJODWU24ED3I6HBXNZY5VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFXBDMB5IPIAO6JAWZN74CFPWUIW4P4FSK7DTB5IESWKMYQXIELQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVL4A5GS6PH2IZFZXR3S2UNWGDDZHN5RKZG2XL6NIRNQRHC3YOIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BK65BOTOV5ZWWBWDISBHDOM2IFN2S7AJQBUFCSZKXZZYLYJAA3UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OIX2V23OEF5EW26LRYCCMGJLAXWM464RA2VLVEZG5UTAW3NV4ZKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWPOMJZZ6ZQZV3KMWS444F4YBS5VX4KTACZBWNDIT7W44KIEATAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJMKL6VVRDIZQPQNYCQZPU7RN5UL5I6CGHFXY7PSLFK2C4WTTRNQ/vendors.js"
            ]
        },
        "GetVariantStore": {
            "http": {
                "method": "GET",
                "requestUri": "/variantStore/{name}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "name"
                ],
                "members": {
                    "name": {
                        "location": "uri",
                        "locationName": "name"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "id",
                    "reference",
                    "status",
                    "storeArn",
                    "name",
                    "description",
                    "sseConfig",
                    "creationTime",
                    "updateTime",
                    "tags",
                    "statusMessage",
                    "storeSizeBytes"
                ],
                "members": {
                    "id": {},
                    "reference": {
                        "shape": "S7"
                    },
                    "status": {},
                    "storeArn": {},
                    "name": {},
                    "description": {},
                    "sseConfig": {
                        "shape": "Se"
                    },
                    "creationTime": {
                        "shape": "Sv"
                    },
                    "updateTime": {
                        "shape": "S1a"
                    },
                    "tags": {
                        "shape": "Sb"
                    },
                    "statusMessage": {},
                    "storeSizeBytes": {
                        "type": "long"
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "analytics-"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ITBMEBDRELZUXZWMIZ66KDOGTAECXHB6AABXNHRFZ3IXNDAP4XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BWENQE7LYN724NSBKV72JSVWR442SRQA6XAZDPRPCAF6HOHN6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VK7BQUWZDH5O67B345YGK6NLZ2BSOSYYRP5DJ5KGDZAVY7VA7TSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E2WWVC3HYR5OM3RMKQA2ND43RFX7B5NRBAQB4FPXRVGEKPGR4INA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CRPABGQXLQWNOFQR67RMI4ZSLRUS4IWW5Z76GLVI4R7U3GOQ5B7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLP7EXVDZ5IXUE2B4ENATJHVWJKIU6AC76EEQ23JL73J65YJC7QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LSG35KG6KY3QPDQ5CNDU6FFX3MGAIVFZV476N74JXWU2JUG63AFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFFBDOHUZWFLPNOJZM3QMF53I2KK2PIBHEAJQR2QLFXWVCWVRWTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKBZQKBBO7HG6NIJ6M4QIBD36Z3542OU6WUMRGYPE2IPEHPEYX6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34SU2HFMTNTZ4QXKCDRSUODLY3H742HXIDM47DPOLN72TKK5TUWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MGRFVVK23UJQVWBUEDPM3OM3ZV7QH42DNT7TPNKB774FODNPUWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NWGZFJQ4CNTP4CI4S47775SS6IWTFBIXARCET6GNPQYCJS6V2GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BCZBNTQGLUCCXQRSFQ6EGM4ECEVQP73GZL46RWSSBCLDPBUCOBJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZJBAD2UNIXE6RD656JNXYWQSUOZDPFKVR53YKDPPAT6HVI2CO3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5WSH3UQ7YOOEVTX4HFDDMMQQ22HZ6D5VGLJLPBX3OU4F3LMYP43Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3CWREJFDOCJC2KBT2U37WILU57CMS2DJSDHWMEEA7XPRK2ZKZFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AA3MGR26V4K6EQMCXHBRGGCO7WXIBRJCX5IZUQMXTTDMATCVRMXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HM2DYYEOXNGUQ52GGKJKEOIJPI4GTJUJODWU24ED3I6HBXNZY5VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFXBDMB5IPIAO6JAWZN74CFPWUIW4P4FSK7DTB5IESWKMYQXIELQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVL4A5GS6PH2IZFZXR3S2UNWGDDZHN5RKZG2XL6NIRNQRHC3YOIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BK65BOTOV5ZWWBWDISBHDOM2IFN2S7AJQBUFCSZKXZZYLYJAA3UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OIX2V23OEF5EW26LRYCCMGJLAXWM464RA2VLVEZG5UTAW3NV4ZKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWPOMJZZ6ZQZV3KMWS444F4YBS5VX4KTACZBWNDIT7W44KIEATAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJMKL6VVRDIZQPQNYCQZPU7RN5UL5I6CGHFXY7PSLFK2C4WTTRNQ/vendors.js"
            ]
        },
        "ListAnnotationImportJobs": {
            "http": {
                "requestUri": "/import/annotations",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "ids": {
                        "type": "list",
                        "member": {}
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "filter": {
                        "type": "structure",
                        "members": {
                            "status": {},
                            "storeName": {}
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "annotationImportJobs": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "id",
                                "destinationName",
                                "roleArn",
                                "status",
                                "creationTime",
                                "updateTime"
                            ],
                            "members": {
                                "id": {},
                                "destinationName": {},
                                "roleArn": {},
                                "status": {},
                                "creationTime": {
                                    "shape": "Sv"
                                },
                                "updateTime": {
                                    "shape": "S1a"
                                },
                                "completionTime": {
                                    "shape": "S1b"
                                },
                                "runLeftNormalization": {
                                    "type": "boolean"
                                },
                                "annotationFields": {
                                    "shape": "S1u"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "endpoint": {
                "hostPrefix": "analytics-"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ITBMEBDRELZUXZWMIZ66KDOGTAECXHB6AABXNHRFZ3IXNDAP4XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BWENQE7LYN724NSBKV72JSVWR442SRQA6XAZDPRPCAF6HOHN6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VK7BQUWZDH5O67B345YGK6NLZ2BSOSYYRP5DJ5KGDZAVY7VA7TSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E2WWVC3HYR5OM3RMKQA2ND43RFX7B5NRBAQB4FPXRVGEKPGR4INA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CRPABGQXLQWNOFQR67RMI4ZSLRUS4IWW5Z76GLVI4R7U3GOQ5B7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLP7EXVDZ5IXUE2B4ENATJHVWJKIU6AC76EEQ23JL73J65YJC7QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LSG35KG6KY3QPDQ5CNDU6FFX3MGAIVFZV476N74JXWU2JUG63AFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFFBDOHUZWFLPNOJZM3QMF53I2KK2PIBHEAJQR2QLFXWVCWVRWTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKBZQKBBO7HG6NIJ6M4QIBD36Z3542OU6WUMRGYPE2IPEHPEYX6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34SU2HFMTNTZ4QXKCDRSUODLY3H742HXIDM47DPOLN72TKK5TUWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MGRFVVK23UJQVWBUEDPM3OM3ZV7QH42DNT7TPNKB774FODNPUWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NWGZFJQ4CNTP4CI4S47775SS6IWTFBIXARCET6GNPQYCJS6V2GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BCZBNTQGLUCCXQRSFQ6EGM4ECEVQP73GZL46RWSSBCLDPBUCOBJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZJBAD2UNIXE6RD656JNXYWQSUOZDPFKVR53YKDPPAT6HVI2CO3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5WSH3UQ7YOOEVTX4HFDDMMQQ22HZ6D5VGLJLPBX3OU4F3LMYP43Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3CWREJFDOCJC2KBT2U37WILU57CMS2DJSDHWMEEA7XPRK2ZKZFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AA3MGR26V4K6EQMCXHBRGGCO7WXIBRJCX5IZUQMXTTDMATCVRMXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HM2DYYEOXNGUQ52GGKJKEOIJPI4GTJUJODWU24ED3I6HBXNZY5VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFXBDMB5IPIAO6JAWZN74CFPWUIW4P4FSK7DTB5IESWKMYQXIELQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVL4A5GS6PH2IZFZXR3S2UNWGDDZHN5RKZG2XL6NIRNQRHC3YOIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BK65BOTOV5ZWWBWDISBHDOM2IFN2S7AJQBUFCSZKXZZYLYJAA3UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OIX2V23OEF5EW26LRYCCMGJLAXWM464RA2VLVEZG5UTAW3NV4ZKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWPOMJZZ6ZQZV3KMWS444F4YBS5VX4KTACZBWNDIT7W44KIEATAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJMKL6VVRDIZQPQNYCQZPU7RN5UL5I6CGHFXY7PSLFK2C4WTTRNQ/vendors.js"
            ]
        },
        "ListAnnotationStores": {
            "http": {
                "requestUri": "/annotationStores",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ids": {
                        "type": "list",
                        "member": {}
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "filter": {
                        "type": "structure",
                        "members": {
                            "status": {}
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "annotationStores": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "id",
                                "reference",
                                "status",
                                "storeArn",
                                "name",
                                "storeFormat",
                                "description",
                                "sseConfig",
                                "creationTime",
                                "updateTime",
                                "statusMessage",
                                "storeSizeBytes"
                            ],
                            "members": {
                                "id": {},
                                "reference": {
                                    "shape": "S7"
                                },
                                "status": {},
                                "storeArn": {},
                                "name": {},
                                "storeFormat": {},
                                "description": {},
                                "sseConfig": {
                                    "shape": "Se"
                                },
                                "creationTime": {
                                    "shape": "Sv"
                                },
                                "updateTime": {
                                    "shape": "S1a"
                                },
                                "statusMessage": {},
                                "storeSizeBytes": {
                                    "type": "long"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "endpoint": {
                "hostPrefix": "analytics-"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ITBMEBDRELZUXZWMIZ66KDOGTAECXHB6AABXNHRFZ3IXNDAP4XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BWENQE7LYN724NSBKV72JSVWR442SRQA6XAZDPRPCAF6HOHN6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VK7BQUWZDH5O67B345YGK6NLZ2BSOSYYRP5DJ5KGDZAVY7VA7TSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E2WWVC3HYR5OM3RMKQA2ND43RFX7B5NRBAQB4FPXRVGEKPGR4INA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CRPABGQXLQWNOFQR67RMI4ZSLRUS4IWW5Z76GLVI4R7U3GOQ5B7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLP7EXVDZ5IXUE2B4ENATJHVWJKIU6AC76EEQ23JL73J65YJC7QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LSG35KG6KY3QPDQ5CNDU6FFX3MGAIVFZV476N74JXWU2JUG63AFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFFBDOHUZWFLPNOJZM3QMF53I2KK2PIBHEAJQR2QLFXWVCWVRWTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKBZQKBBO7HG6NIJ6M4QIBD36Z3542OU6WUMRGYPE2IPEHPEYX6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34SU2HFMTNTZ4QXKCDRSUODLY3H742HXIDM47DPOLN72TKK5TUWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MGRFVVK23UJQVWBUEDPM3OM3ZV7QH42DNT7TPNKB774FODNPUWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NWGZFJQ4CNTP4CI4S47775SS6IWTFBIXARCET6GNPQYCJS6V2GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BCZBNTQGLUCCXQRSFQ6EGM4ECEVQP73GZL46RWSSBCLDPBUCOBJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZJBAD2UNIXE6RD656JNXYWQSUOZDPFKVR53YKDPPAT6HVI2CO3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5WSH3UQ7YOOEVTX4HFDDMMQQ22HZ6D5VGLJLPBX3OU4F3LMYP43Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3CWREJFDOCJC2KBT2U37WILU57CMS2DJSDHWMEEA7XPRK2ZKZFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AA3MGR26V4K6EQMCXHBRGGCO7WXIBRJCX5IZUQMXTTDMATCVRMXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HM2DYYEOXNGUQ52GGKJKEOIJPI4GTJUJODWU24ED3I6HBXNZY5VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFXBDMB5IPIAO6JAWZN74CFPWUIW4P4FSK7DTB5IESWKMYQXIELQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVL4A5GS6PH2IZFZXR3S2UNWGDDZHN5RKZG2XL6NIRNQRHC3YOIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BK65BOTOV5ZWWBWDISBHDOM2IFN2S7AJQBUFCSZKXZZYLYJAA3UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OIX2V23OEF5EW26LRYCCMGJLAXWM464RA2VLVEZG5UTAW3NV4ZKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWPOMJZZ6ZQZV3KMWS444F4YBS5VX4KTACZBWNDIT7W44KIEATAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJMKL6VVRDIZQPQNYCQZPU7RN5UL5I6CGHFXY7PSLFK2C4WTTRNQ/vendors.js"
            ]
        },
        "ListVariantImportJobs": {
            "http": {
                "requestUri": "/import/variants",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "ids": {
                        "type": "list",
                        "member": {}
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "filter": {
                        "type": "structure",
                        "members": {
                            "status": {},
                            "storeName": {}
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "variantImportJobs": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "id",
                                "destinationName",
                                "roleArn",
                                "status",
                                "creationTime",
                                "updateTime"
                            ],
                            "members": {
                                "id": {},
                                "destinationName": {},
                                "roleArn": {},
                                "status": {},
                                "creationTime": {
                                    "shape": "Sv"
                                },
                                "updateTime": {
                                    "shape": "S1a"
                                },
                                "completionTime": {
                                    "shape": "S1b"
                                },
                                "runLeftNormalization": {
                                    "type": "boolean"
                                },
                                "annotationFields": {
                                    "shape": "S1u"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "endpoint": {
                "hostPrefix": "analytics-"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ITBMEBDRELZUXZWMIZ66KDOGTAECXHB6AABXNHRFZ3IXNDAP4XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BWENQE7LYN724NSBKV72JSVWR442SRQA6XAZDPRPCAF6HOHN6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VK7BQUWZDH5O67B345YGK6NLZ2BSOSYYRP5DJ5KGDZAVY7VA7TSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E2WWVC3HYR5OM3RMKQA2ND43RFX7B5NRBAQB4FPXRVGEKPGR4INA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CRPABGQXLQWNOFQR67RMI4ZSLRUS4IWW5Z76GLVI4R7U3GOQ5B7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLP7EXVDZ5IXUE2B4ENATJHVWJKIU6AC76EEQ23JL73J65YJC7QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LSG35KG6KY3QPDQ5CNDU6FFX3MGAIVFZV476N74JXWU2JUG63AFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFFBDOHUZWFLPNOJZM3QMF53I2KK2PIBHEAJQR2QLFXWVCWVRWTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKBZQKBBO7HG6NIJ6M4QIBD36Z3542OU6WUMRGYPE2IPEHPEYX6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34SU2HFMTNTZ4QXKCDRSUODLY3H742HXIDM47DPOLN72TKK5TUWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MGRFVVK23UJQVWBUEDPM3OM3ZV7QH42DNT7TPNKB774FODNPUWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NWGZFJQ4CNTP4CI4S47775SS6IWTFBIXARCET6GNPQYCJS6V2GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BCZBNTQGLUCCXQRSFQ6EGM4ECEVQP73GZL46RWSSBCLDPBUCOBJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZJBAD2UNIXE6RD656JNXYWQSUOZDPFKVR53YKDPPAT6HVI2CO3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5WSH3UQ7YOOEVTX4HFDDMMQQ22HZ6D5VGLJLPBX3OU4F3LMYP43Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3CWREJFDOCJC2KBT2U37WILU57CMS2DJSDHWMEEA7XPRK2ZKZFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AA3MGR26V4K6EQMCXHBRGGCO7WXIBRJCX5IZUQMXTTDMATCVRMXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HM2DYYEOXNGUQ52GGKJKEOIJPI4GTJUJODWU24ED3I6HBXNZY5VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFXBDMB5IPIAO6JAWZN74CFPWUIW4P4FSK7DTB5IESWKMYQXIELQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVL4A5GS6PH2IZFZXR3S2UNWGDDZHN5RKZG2XL6NIRNQRHC3YOIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BK65BOTOV5ZWWBWDISBHDOM2IFN2S7AJQBUFCSZKXZZYLYJAA3UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OIX2V23OEF5EW26LRYCCMGJLAXWM464RA2VLVEZG5UTAW3NV4ZKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWPOMJZZ6ZQZV3KMWS444F4YBS5VX4KTACZBWNDIT7W44KIEATAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJMKL6VVRDIZQPQNYCQZPU7RN5UL5I6CGHFXY7PSLFK2C4WTTRNQ/vendors.js"
            ]
        },
        "ListVariantStores": {
            "http": {
                "requestUri": "/variantStores",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "ids": {
                        "type": "list",
                        "member": {}
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "filter": {
                        "type": "structure",
                        "members": {
                            "status": {}
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "variantStores": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "id",
                                "reference",
                                "status",
                                "storeArn",
                                "name",
                                "description",
                                "sseConfig",
                                "creationTime",
                                "updateTime",
                                "statusMessage",
                                "storeSizeBytes"
                            ],
                            "members": {
                                "id": {},
                                "reference": {
                                    "shape": "S7"
                                },
                                "status": {},
                                "storeArn": {},
                                "name": {},
                                "description": {},
                                "sseConfig": {
                                    "shape": "Se"
                                },
                                "creationTime": {
                                    "shape": "Sv"
                                },
                                "updateTime": {
                                    "shape": "S1a"
                                },
                                "statusMessage": {},
                                "storeSizeBytes": {
                                    "type": "long"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "endpoint": {
                "hostPrefix": "analytics-"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ITBMEBDRELZUXZWMIZ66KDOGTAECXHB6AABXNHRFZ3IXNDAP4XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BWENQE7LYN724NSBKV72JSVWR442SRQA6XAZDPRPCAF6HOHN6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VK7BQUWZDH5O67B345YGK6NLZ2BSOSYYRP5DJ5KGDZAVY7VA7TSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E2WWVC3HYR5OM3RMKQA2ND43RFX7B5NRBAQB4FPXRVGEKPGR4INA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CRPABGQXLQWNOFQR67RMI4ZSLRUS4IWW5Z76GLVI4R7U3GOQ5B7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLP7EXVDZ5IXUE2B4ENATJHVWJKIU6AC76EEQ23JL73J65YJC7QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LSG35KG6KY3QPDQ5CNDU6FFX3MGAIVFZV476N74JXWU2JUG63AFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFFBDOHUZWFLPNOJZM3QMF53I2KK2PIBHEAJQR2QLFXWVCWVRWTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKBZQKBBO7HG6NIJ6M4QIBD36Z3542OU6WUMRGYPE2IPEHPEYX6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34SU2HFMTNTZ4QXKCDRSUODLY3H742HXIDM47DPOLN72TKK5TUWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MGRFVVK23UJQVWBUEDPM3OM3ZV7QH42DNT7TPNKB774FODNPUWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NWGZFJQ4CNTP4CI4S47775SS6IWTFBIXARCET6GNPQYCJS6V2GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BCZBNTQGLUCCXQRSFQ6EGM4ECEVQP73GZL46RWSSBCLDPBUCOBJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZJBAD2UNIXE6RD656JNXYWQSUOZDPFKVR53YKDPPAT6HVI2CO3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5WSH3UQ7YOOEVTX4HFDDMMQQ22HZ6D5VGLJLPBX3OU4F3LMYP43Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3CWREJFDOCJC2KBT2U37WILU57CMS2DJSDHWMEEA7XPRK2ZKZFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AA3MGR26V4K6EQMCXHBRGGCO7WXIBRJCX5IZUQMXTTDMATCVRMXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HM2DYYEOXNGUQ52GGKJKEOIJPI4GTJUJODWU24ED3I6HBXNZY5VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFXBDMB5IPIAO6JAWZN74CFPWUIW4P4FSK7DTB5IESWKMYQXIELQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVL4A5GS6PH2IZFZXR3S2UNWGDDZHN5RKZG2XL6NIRNQRHC3YOIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BK65BOTOV5ZWWBWDISBHDOM2IFN2S7AJQBUFCSZKXZZYLYJAA3UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OIX2V23OEF5EW26LRYCCMGJLAXWM464RA2VLVEZG5UTAW3NV4ZKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWPOMJZZ6ZQZV3KMWS444F4YBS5VX4KTACZBWNDIT7W44KIEATAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJMKL6VVRDIZQPQNYCQZPU7RN5UL5I6CGHFXY7PSLFK2C4WTTRNQ/vendors.js"
            ]
        },
        "StartAnnotationImportJob": {
            "http": {
                "requestUri": "/import/annotation",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "destinationName",
                    "roleArn",
                    "items"
                ],
                "members": {
                    "destinationName": {},
                    "roleArn": {},
                    "items": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "source"
                            ],
                            "members": {
                                "source": {}
                            }
                        }
                    },
                    "formatOptions": {
                        "shape": "S1g"
                    },
                    "runLeftNormalization": {
                        "type": "boolean"
                    },
                    "annotationFields": {
                        "shape": "S1u"
                    },
                    "versionName": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "jobId"
                ],
                "members": {
                    "jobId": {}
                }
            },
            "endpoint": {
                "hostPrefix": "analytics-"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ITBMEBDRELZUXZWMIZ66KDOGTAECXHB6AABXNHRFZ3IXNDAP4XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BWENQE7LYN724NSBKV72JSVWR442SRQA6XAZDPRPCAF6HOHN6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VK7BQUWZDH5O67B345YGK6NLZ2BSOSYYRP5DJ5KGDZAVY7VA7TSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E2WWVC3HYR5OM3RMKQA2ND43RFX7B5NRBAQB4FPXRVGEKPGR4INA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CRPABGQXLQWNOFQR67RMI4ZSLRUS4IWW5Z76GLVI4R7U3GOQ5B7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLP7EXVDZ5IXUE2B4ENATJHVWJKIU6AC76EEQ23JL73J65YJC7QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LSG35KG6KY3QPDQ5CNDU6FFX3MGAIVFZV476N74JXWU2JUG63AFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFFBDOHUZWFLPNOJZM3QMF53I2KK2PIBHEAJQR2QLFXWVCWVRWTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKBZQKBBO7HG6NIJ6M4QIBD36Z3542OU6WUMRGYPE2IPEHPEYX6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34SU2HFMTNTZ4QXKCDRSUODLY3H742HXIDM47DPOLN72TKK5TUWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MGRFVVK23UJQVWBUEDPM3OM3ZV7QH42DNT7TPNKB774FODNPUWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NWGZFJQ4CNTP4CI4S47775SS6IWTFBIXARCET6GNPQYCJS6V2GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BCZBNTQGLUCCXQRSFQ6EGM4ECEVQP73GZL46RWSSBCLDPBUCOBJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZJBAD2UNIXE6RD656JNXYWQSUOZDPFKVR53YKDPPAT6HVI2CO3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5WSH3UQ7YOOEVTX4HFDDMMQQ22HZ6D5VGLJLPBX3OU4F3LMYP43Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3CWREJFDOCJC2KBT2U37WILU57CMS2DJSDHWMEEA7XPRK2ZKZFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AA3MGR26V4K6EQMCXHBRGGCO7WXIBRJCX5IZUQMXTTDMATCVRMXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HM2DYYEOXNGUQ52GGKJKEOIJPI4GTJUJODWU24ED3I6HBXNZY5VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFXBDMB5IPIAO6JAWZN74CFPWUIW4P4FSK7DTB5IESWKMYQXIELQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVL4A5GS6PH2IZFZXR3S2UNWGDDZHN5RKZG2XL6NIRNQRHC3YOIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BK65BOTOV5ZWWBWDISBHDOM2IFN2S7AJQBUFCSZKXZZYLYJAA3UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OIX2V23OEF5EW26LRYCCMGJLAXWM464RA2VLVEZG5UTAW3NV4ZKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWPOMJZZ6ZQZV3KMWS444F4YBS5VX4KTACZBWNDIT7W44KIEATAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJMKL6VVRDIZQPQNYCQZPU7RN5UL5I6CGHFXY7PSLFK2C4WTTRNQ/vendors.js"
            ]
        },
        "StartVariantImportJob": {
            "http": {
                "requestUri": "/import/variant",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "destinationName",
                    "roleArn",
                    "items"
                ],
                "members": {
                    "destinationName": {},
                    "roleArn": {},
                    "items": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "source"
                            ],
                            "members": {
                                "source": {}
                            }
                        }
                    },
                    "runLeftNormalization": {
                        "type": "boolean"
                    },
                    "annotationFields": {
                        "shape": "S1u"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "jobId"
                ],
                "members": {
                    "jobId": {}
                }
            },
            "endpoint": {
                "hostPrefix": "analytics-"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ITBMEBDRELZUXZWMIZ66KDOGTAECXHB6AABXNHRFZ3IXNDAP4XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BWENQE7LYN724NSBKV72JSVWR442SRQA6XAZDPRPCAF6HOHN6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VK7BQUWZDH5O67B345YGK6NLZ2BSOSYYRP5DJ5KGDZAVY7VA7TSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E2WWVC3HYR5OM3RMKQA2ND43RFX7B5NRBAQB4FPXRVGEKPGR4INA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CRPABGQXLQWNOFQR67RMI4ZSLRUS4IWW5Z76GLVI4R7U3GOQ5B7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLP7EXVDZ5IXUE2B4ENATJHVWJKIU6AC76EEQ23JL73J65YJC7QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LSG35KG6KY3QPDQ5CNDU6FFX3MGAIVFZV476N74JXWU2JUG63AFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFFBDOHUZWFLPNOJZM3QMF53I2KK2PIBHEAJQR2QLFXWVCWVRWTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKBZQKBBO7HG6NIJ6M4QIBD36Z3542OU6WUMRGYPE2IPEHPEYX6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34SU2HFMTNTZ4QXKCDRSUODLY3H742HXIDM47DPOLN72TKK5TUWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MGRFVVK23UJQVWBUEDPM3OM3ZV7QH42DNT7TPNKB774FODNPUWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NWGZFJQ4CNTP4CI4S47775SS6IWTFBIXARCET6GNPQYCJS6V2GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BCZBNTQGLUCCXQRSFQ6EGM4ECEVQP73GZL46RWSSBCLDPBUCOBJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZJBAD2UNIXE6RD656JNXYWQSUOZDPFKVR53YKDPPAT6HVI2CO3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5WSH3UQ7YOOEVTX4HFDDMMQQ22HZ6D5VGLJLPBX3OU4F3LMYP43Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3CWREJFDOCJC2KBT2U37WILU57CMS2DJSDHWMEEA7XPRK2ZKZFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AA3MGR26V4K6EQMCXHBRGGCO7WXIBRJCX5IZUQMXTTDMATCVRMXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HM2DYYEOXNGUQ52GGKJKEOIJPI4GTJUJODWU24ED3I6HBXNZY5VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFXBDMB5IPIAO6JAWZN74CFPWUIW4P4FSK7DTB5IESWKMYQXIELQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVL4A5GS6PH2IZFZXR3S2UNWGDDZHN5RKZG2XL6NIRNQRHC3YOIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BK65BOTOV5ZWWBWDISBHDOM2IFN2S7AJQBUFCSZKXZZYLYJAA3UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OIX2V23OEF5EW26LRYCCMGJLAXWM464RA2VLVEZG5UTAW3NV4ZKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWPOMJZZ6ZQZV3KMWS444F4YBS5VX4KTACZBWNDIT7W44KIEATAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJMKL6VVRDIZQPQNYCQZPU7RN5UL5I6CGHFXY7PSLFK2C4WTTRNQ/vendors.js"
            ]
        },
        "UpdateAnnotationStore": {
            "http": {
                "requestUri": "/annotationStore/{name}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "name"
                ],
                "members": {
                    "name": {
                        "location": "uri",
                        "locationName": "name"
                    },
                    "description": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "id",
                    "reference",
                    "status",
                    "name",
                    "description",
                    "creationTime",
                    "updateTime"
                ],
                "members": {
                    "id": {},
                    "reference": {
                        "shape": "S7"
                    },
                    "status": {},
                    "name": {},
                    "description": {},
                    "creationTime": {
                        "shape": "Sv"
                    },
                    "updateTime": {
                        "shape": "S1a"
                    },
                    "storeOptions": {
                        "shape": "Si"
                    },
                    "storeFormat": {}
                }
            },
            "endpoint": {
                "hostPrefix": "analytics-"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ITBMEBDRELZUXZWMIZ66KDOGTAECXHB6AABXNHRFZ3IXNDAP4XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BWENQE7LYN724NSBKV72JSVWR442SRQA6XAZDPRPCAF6HOHN6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VK7BQUWZDH5O67B345YGK6NLZ2BSOSYYRP5DJ5KGDZAVY7VA7TSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E2WWVC3HYR5OM3RMKQA2ND43RFX7B5NRBAQB4FPXRVGEKPGR4INA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CRPABGQXLQWNOFQR67RMI4ZSLRUS4IWW5Z76GLVI4R7U3GOQ5B7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLP7EXVDZ5IXUE2B4ENATJHVWJKIU6AC76EEQ23JL73J65YJC7QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LSG35KG6KY3QPDQ5CNDU6FFX3MGAIVFZV476N74JXWU2JUG63AFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFFBDOHUZWFLPNOJZM3QMF53I2KK2PIBHEAJQR2QLFXWVCWVRWTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKBZQKBBO7HG6NIJ6M4QIBD36Z3542OU6WUMRGYPE2IPEHPEYX6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34SU2HFMTNTZ4QXKCDRSUODLY3H742HXIDM47DPOLN72TKK5TUWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MGRFVVK23UJQVWBUEDPM3OM3ZV7QH42DNT7TPNKB774FODNPUWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NWGZFJQ4CNTP4CI4S47775SS6IWTFBIXARCET6GNPQYCJS6V2GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BCZBNTQGLUCCXQRSFQ6EGM4ECEVQP73GZL46RWSSBCLDPBUCOBJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZJBAD2UNIXE6RD656JNXYWQSUOZDPFKVR53YKDPPAT6HVI2CO3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5WSH3UQ7YOOEVTX4HFDDMMQQ22HZ6D5VGLJLPBX3OU4F3LMYP43Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3CWREJFDOCJC2KBT2U37WILU57CMS2DJSDHWMEEA7XPRK2ZKZFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AA3MGR26V4K6EQMCXHBRGGCO7WXIBRJCX5IZUQMXTTDMATCVRMXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HM2DYYEOXNGUQ52GGKJKEOIJPI4GTJUJODWU24ED3I6HBXNZY5VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFXBDMB5IPIAO6JAWZN74CFPWUIW4P4FSK7DTB5IESWKMYQXIELQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVL4A5GS6PH2IZFZXR3S2UNWGDDZHN5RKZG2XL6NIRNQRHC3YOIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BK65BOTOV5ZWWBWDISBHDOM2IFN2S7AJQBUFCSZKXZZYLYJAA3UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OIX2V23OEF5EW26LRYCCMGJLAXWM464RA2VLVEZG5UTAW3NV4ZKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWPOMJZZ6ZQZV3KMWS444F4YBS5VX4KTACZBWNDIT7W44KIEATAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJMKL6VVRDIZQPQNYCQZPU7RN5UL5I6CGHFXY7PSLFK2C4WTTRNQ/vendors.js"
            ]
        },
        "UpdateVariantStore": {
            "http": {
                "requestUri": "/variantStore/{name}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "name"
                ],
                "members": {
                    "name": {
                        "location": "uri",
                        "locationName": "name"
                    },
                    "description": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "id",
                    "reference",
                    "status",
                    "name",
                    "description",
                    "creationTime",
                    "updateTime"
                ],
                "members": {
                    "id": {},
                    "reference": {
                        "shape": "S7"
                    },
                    "status": {},
                    "name": {},
                    "description": {},
                    "creationTime": {
                        "shape": "Sv"
                    },
                    "updateTime": {
                        "shape": "S1a"
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "analytics-"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ITBMEBDRELZUXZWMIZ66KDOGTAECXHB6AABXNHRFZ3IXNDAP4XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BWENQE7LYN724NSBKV72JSVWR442SRQA6XAZDPRPCAF6HOHN6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VK7BQUWZDH5O67B345YGK6NLZ2BSOSYYRP5DJ5KGDZAVY7VA7TSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E2WWVC3HYR5OM3RMKQA2ND43RFX7B5NRBAQB4FPXRVGEKPGR4INA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CRPABGQXLQWNOFQR67RMI4ZSLRUS4IWW5Z76GLVI4R7U3GOQ5B7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLP7EXVDZ5IXUE2B4ENATJHVWJKIU6AC76EEQ23JL73J65YJC7QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LSG35KG6KY3QPDQ5CNDU6FFX3MGAIVFZV476N74JXWU2JUG63AFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFFBDOHUZWFLPNOJZM3QMF53I2KK2PIBHEAJQR2QLFXWVCWVRWTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKBZQKBBO7HG6NIJ6M4QIBD36Z3542OU6WUMRGYPE2IPEHPEYX6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34SU2HFMTNTZ4QXKCDRSUODLY3H742HXIDM47DPOLN72TKK5TUWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MGRFVVK23UJQVWBUEDPM3OM3ZV7QH42DNT7TPNKB774FODNPUWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NWGZFJQ4CNTP4CI4S47775SS6IWTFBIXARCET6GNPQYCJS6V2GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BCZBNTQGLUCCXQRSFQ6EGM4ECEVQP73GZL46RWSSBCLDPBUCOBJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZJBAD2UNIXE6RD656JNXYWQSUOZDPFKVR53YKDPPAT6HVI2CO3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5WSH3UQ7YOOEVTX4HFDDMMQQ22HZ6D5VGLJLPBX3OU4F3LMYP43Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3CWREJFDOCJC2KBT2U37WILU57CMS2DJSDHWMEEA7XPRK2ZKZFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AA3MGR26V4K6EQMCXHBRGGCO7WXIBRJCX5IZUQMXTTDMATCVRMXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HM2DYYEOXNGUQ52GGKJKEOIJPI4GTJUJODWU24ED3I6HBXNZY5VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFXBDMB5IPIAO6JAWZN74CFPWUIW4P4FSK7DTB5IESWKMYQXIELQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVL4A5GS6PH2IZFZXR3S2UNWGDDZHN5RKZG2XL6NIRNQRHC3YOIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BK65BOTOV5ZWWBWDISBHDOM2IFN2S7AJQBUFCSZKXZZYLYJAA3UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OIX2V23OEF5EW26LRYCCMGJLAXWM464RA2VLVEZG5UTAW3NV4ZKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWPOMJZZ6ZQZV3KMWS444F4YBS5VX4KTACZBWNDIT7W44KIEATAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJMKL6VVRDIZQPQNYCQZPU7RN5UL5I6CGHFXY7PSLFK2C4WTTRNQ/vendors.js"
            ]
        },
        "AcceptShare": {
            "http": {
                "requestUri": "/share/{shareId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "shareId"
                ],
                "members": {
                    "shareId": {
                        "location": "uri",
                        "locationName": "shareId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "status": {}
                }
            },
            "endpoint": {
                "hostPrefix": "analytics-"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BWENQE7LYN724NSBKV72JSVWR442SRQA6XAZDPRPCAF6HOHN6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VK7BQUWZDH5O67B345YGK6NLZ2BSOSYYRP5DJ5KGDZAVY7VA7TSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E2WWVC3HYR5OM3RMKQA2ND43RFX7B5NRBAQB4FPXRVGEKPGR4INA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CRPABGQXLQWNOFQR67RMI4ZSLRUS4IWW5Z76GLVI4R7U3GOQ5B7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLP7EXVDZ5IXUE2B4ENATJHVWJKIU6AC76EEQ23JL73J65YJC7QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LSG35KG6KY3QPDQ5CNDU6FFX3MGAIVFZV476N74JXWU2JUG63AFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFFBDOHUZWFLPNOJZM3QMF53I2KK2PIBHEAJQR2QLFXWVCWVRWTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKBZQKBBO7HG6NIJ6M4QIBD36Z3542OU6WUMRGYPE2IPEHPEYX6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34SU2HFMTNTZ4QXKCDRSUODLY3H742HXIDM47DPOLN72TKK5TUWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MGRFVVK23UJQVWBUEDPM3OM3ZV7QH42DNT7TPNKB774FODNPUWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NWGZFJQ4CNTP4CI4S47775SS6IWTFBIXARCET6GNPQYCJS6V2GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BCZBNTQGLUCCXQRSFQ6EGM4ECEVQP73GZL46RWSSBCLDPBUCOBJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZJBAD2UNIXE6RD656JNXYWQSUOZDPFKVR53YKDPPAT6HVI2CO3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5WSH3UQ7YOOEVTX4HFDDMMQQ22HZ6D5VGLJLPBX3OU4F3LMYP43Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3CWREJFDOCJC2KBT2U37WILU57CMS2DJSDHWMEEA7XPRK2ZKZFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AA3MGR26V4K6EQMCXHBRGGCO7WXIBRJCX5IZUQMXTTDMATCVRMXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HM2DYYEOXNGUQ52GGKJKEOIJPI4GTJUJODWU24ED3I6HBXNZY5VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFXBDMB5IPIAO6JAWZN74CFPWUIW4P4FSK7DTB5IESWKMYQXIELQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVL4A5GS6PH2IZFZXR3S2UNWGDDZHN5RKZG2XL6NIRNQRHC3YOIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BK65BOTOV5ZWWBWDISBHDOM2IFN2S7AJQBUFCSZKXZZYLYJAA3UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OIX2V23OEF5EW26LRYCCMGJLAXWM464RA2VLVEZG5UTAW3NV4ZKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWPOMJZZ6ZQZV3KMWS444F4YBS5VX4KTACZBWNDIT7W44KIEATAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJMKL6VVRDIZQPQNYCQZPU7RN5UL5I6CGHFXY7PSLFK2C4WTTRNQ/vendors.js"
            ]
        },
        "CreateAnnotationStoreVersion": {
            "http": {
                "requestUri": "/annotationStore/{name}/version",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "versionName"
                ],
                "members": {
                    "name": {
                        "location": "uri",
                        "locationName": "name"
                    },
                    "versionName": {},
                    "description": {},
                    "versionOptions": {
                        "shape": "S11"
                    },
                    "tags": {
                        "shape": "Sf"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "id",
                    "versionName",
                    "storeId",
                    "name",
                    "status",
                    "creationTime"
                ],
                "members": {
                    "id": {},
                    "versionName": {},
                    "storeId": {},
                    "versionOptions": {
                        "shape": "S11"
                    },
                    "name": {},
                    "status": {},
                    "creationTime": {
                        "shape": "Sz"
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "analytics-"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BWENQE7LYN724NSBKV72JSVWR442SRQA6XAZDPRPCAF6HOHN6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VK7BQUWZDH5O67B345YGK6NLZ2BSOSYYRP5DJ5KGDZAVY7VA7TSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E2WWVC3HYR5OM3RMKQA2ND43RFX7B5NRBAQB4FPXRVGEKPGR4INA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CRPABGQXLQWNOFQR67RMI4ZSLRUS4IWW5Z76GLVI4R7U3GOQ5B7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLP7EXVDZ5IXUE2B4ENATJHVWJKIU6AC76EEQ23JL73J65YJC7QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LSG35KG6KY3QPDQ5CNDU6FFX3MGAIVFZV476N74JXWU2JUG63AFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFFBDOHUZWFLPNOJZM3QMF53I2KK2PIBHEAJQR2QLFXWVCWVRWTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKBZQKBBO7HG6NIJ6M4QIBD36Z3542OU6WUMRGYPE2IPEHPEYX6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34SU2HFMTNTZ4QXKCDRSUODLY3H742HXIDM47DPOLN72TKK5TUWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MGRFVVK23UJQVWBUEDPM3OM3ZV7QH42DNT7TPNKB774FODNPUWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NWGZFJQ4CNTP4CI4S47775SS6IWTFBIXARCET6GNPQYCJS6V2GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BCZBNTQGLUCCXQRSFQ6EGM4ECEVQP73GZL46RWSSBCLDPBUCOBJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZJBAD2UNIXE6RD656JNXYWQSUOZDPFKVR53YKDPPAT6HVI2CO3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5WSH3UQ7YOOEVTX4HFDDMMQQ22HZ6D5VGLJLPBX3OU4F3LMYP43Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3CWREJFDOCJC2KBT2U37WILU57CMS2DJSDHWMEEA7XPRK2ZKZFQ/vendors.js",
[...]
