{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2022-11-01",
        "endpointPrefix": "omics",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "ripServiceName": "omics",
        "serviceFullName": "Amazon Omics",
        "serviceId": "Omics",
        "signatureVersion": "v4",
        "signingName": "omics",
        "uid": "omics-2022-11-01",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/3PPEJG5Y6WX6FTFJSDOUJDTEZJMEHJS3ZSQCVO3CEPINTZ3CT7DQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5MKFIKNMZJH2IIVNFXTFR7G6QOYCELW4CBMTLVQFQMM6R4NGLSDA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L4VLDLHLITCRQYY5IWBIWMEKGNHS6WFZPOMCK3AIOUHQVPR25YSA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/N7IIZWGJFTVJDTBRCSIGDNX6GFKJ45PXGKK3JCYXK2I6LLPSCNUQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6J3TQ7JYINSH7XNKDN2PMMIH4DJBSDCNU23Z5LNDNPBD6CS3JA5Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/I2RLHHN47BFF3Y3KMGR2WNE2HX6BMG2PEUSWVY3JU4G2AOJGD4XQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4PGDHPMHP6V6J46WY3RKMDBDFIMPJ37EBA43DVMLNUGC56ZLBKYQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SPNSFXSU5SKO76OJOM2CSM3KK5HWWF72YMIFMSLN42R4U4SDHLTA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5AYB3RIPP545MUUVZUM47G2OH5DCYK6VCVVBI5DYPIQRHQTVSJEQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XYXCNGAZMFD5TZ7GE6ESJNCF67WWRQWNZTZACOQPJY55TRWUO77Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QKVI7IOWXFTW3GSOM6SSVW5RC2SGXOHZC37KRVIEWU2J53JY74ZA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4YYKL6PKU4UMN2JH3CNZY7TJLXTQOH3LWBWZ265DZAA42UWBUUKQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4VWUOXNNFLYO46YZUHXB2LOKDMVIXZBIEFTURLO3MNKO34PSHDYQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/52CPL33UMNMVAC3WRVFBMTM57G3R4EYYC5HCGSMGAGRZ3E7SV65Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CLXZJEZ5DJLCXUZ3MUFLEUJXBUUFOPPUK23I3SPIWPICWHMFAFBA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/G2O3TQUIWQS5DJTO5WBCZ3D6DPLHAZXUPP7T5VFM6IAREQJEB7QQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LTCGZ65V5TYXF3HV77B5BL6273M3VCB4OB4CUVIL5LTRB5S2SYIQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EEWF4NNCVVREI32XMOAC6DG6PCXV336C3MCGRQL4TJINOAWOQSPQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EJJ4EMID3N4XJSTH3WBKNGWSWA6OD2XKQZ5IHUYZBNJE2JF3FMRQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JHSQT6T6WH6V5ZFLMYJ67MXYXSC6SNYOQTIMBSXOIIIMLVGWLTHA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TX4LYJYH5QGVUZTCZ6KLE6DTYWNPS3W4G5YAQ3VU43ERAIVRTMHA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XRPB6RX53D7KQNYRSF4Z4RPWQI2XBT4U5CMX6YYEOHQGAUE7P7UQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NTR7KHKKH6Z652FNKJTKDLKYMXWGUAAK4YH4XCDDFO64D2GL6HFA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YRPCYK3M4KYUF3VU4RD2STAK3EIYYWGVU7Y33OI5IS3KNMGHXXMQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CEZJ7HLZP7Y5HACYZZWV4PIWX4V4QJ5S2LSXCNFCDWRWRMBN5L6Q/vendors.js"
        ]
    },
    "operations": {
        "CancelRun": {
            "http": {
                "requestUri": "/run/{id}/cancel",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "workflows-"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MKFIKNMZJH2IIVNFXTFR7G6QOYCELW4CBMTLVQFQMM6R4NGLSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4VLDLHLITCRQYY5IWBIWMEKGNHS6WFZPOMCK3AIOUHQVPR25YSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N7IIZWGJFTVJDTBRCSIGDNX6GFKJ45PXGKK3JCYXK2I6LLPSCNUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6J3TQ7JYINSH7XNKDN2PMMIH4DJBSDCNU23Z5LNDNPBD6CS3JA5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2RLHHN47BFF3Y3KMGR2WNE2HX6BMG2PEUSWVY3JU4G2AOJGD4XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PGDHPMHP6V6J46WY3RKMDBDFIMPJ37EBA43DVMLNUGC56ZLBKYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPNSFXSU5SKO76OJOM2CSM3KK5HWWF72YMIFMSLN42R4U4SDHLTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5AYB3RIPP545MUUVZUM47G2OH5DCYK6VCVVBI5DYPIQRHQTVSJEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYXCNGAZMFD5TZ7GE6ESJNCF67WWRQWNZTZACOQPJY55TRWUO77Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QKVI7IOWXFTW3GSOM6SSVW5RC2SGXOHZC37KRVIEWU2J53JY74ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YYKL6PKU4UMN2JH3CNZY7TJLXTQOH3LWBWZ265DZAA42UWBUUKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VWUOXNNFLYO46YZUHXB2LOKDMVIXZBIEFTURLO3MNKO34PSHDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52CPL33UMNMVAC3WRVFBMTM57G3R4EYYC5HCGSMGAGRZ3E7SV65Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLXZJEZ5DJLCXUZ3MUFLEUJXBUUFOPPUK23I3SPIWPICWHMFAFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2O3TQUIWQS5DJTO5WBCZ3D6DPLHAZXUPP7T5VFM6IAREQJEB7QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LTCGZ65V5TYXF3HV77B5BL6273M3VCB4OB4CUVIL5LTRB5S2SYIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEWF4NNCVVREI32XMOAC6DG6PCXV336C3MCGRQL4TJINOAWOQSPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJJ4EMID3N4XJSTH3WBKNGWSWA6OD2XKQZ5IHUYZBNJE2JF3FMRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHSQT6T6WH6V5ZFLMYJ67MXYXSC6SNYOQTIMBSXOIIIMLVGWLTHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TX4LYJYH5QGVUZTCZ6KLE6DTYWNPS3W4G5YAQ3VU43ERAIVRTMHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XRPB6RX53D7KQNYRSF4Z4RPWQI2XBT4U5CMX6YYEOHQGAUE7P7UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTR7KHKKH6Z652FNKJTKDLKYMXWGUAAK4YH4XCDDFO64D2GL6HFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRPCYK3M4KYUF3VU4RD2STAK3EIYYWGVU7Y33OI5IS3KNMGHXXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEZJ7HLZP7Y5HACYZZWV4PIWX4V4QJ5S2LSXCNFCDWRWRMBN5L6Q/vendors.js"
            ]
        },
        "CreateRunGroup": {
            "http": {
                "requestUri": "/runGroup",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "requestId"
                ],
                "members": {
                    "name": {},
                    "maxCpus": {
                        "type": "integer"
                    },
                    "maxGpus": {
                        "type": "integer"
                    },
                    "maxRuns": {
                        "type": "integer"
                    },
                    "maxDuration": {
                        "type": "integer"
                    },
                    "tags": {
                        "shape": "S9"
                    },
                    "requestId": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "arn": {},
                    "id": {},
                    "tags": {
                        "shape": "S9"
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "workflows-"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MKFIKNMZJH2IIVNFXTFR7G6QOYCELW4CBMTLVQFQMM6R4NGLSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4VLDLHLITCRQYY5IWBIWMEKGNHS6WFZPOMCK3AIOUHQVPR25YSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N7IIZWGJFTVJDTBRCSIGDNX6GFKJ45PXGKK3JCYXK2I6LLPSCNUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6J3TQ7JYINSH7XNKDN2PMMIH4DJBSDCNU23Z5LNDNPBD6CS3JA5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2RLHHN47BFF3Y3KMGR2WNE2HX6BMG2PEUSWVY3JU4G2AOJGD4XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PGDHPMHP6V6J46WY3RKMDBDFIMPJ37EBA43DVMLNUGC56ZLBKYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPNSFXSU5SKO76OJOM2CSM3KK5HWWF72YMIFMSLN42R4U4SDHLTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5AYB3RIPP545MUUVZUM47G2OH5DCYK6VCVVBI5DYPIQRHQTVSJEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYXCNGAZMFD5TZ7GE6ESJNCF67WWRQWNZTZACOQPJY55TRWUO77Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QKVI7IOWXFTW3GSOM6SSVW5RC2SGXOHZC37KRVIEWU2J53JY74ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YYKL6PKU4UMN2JH3CNZY7TJLXTQOH3LWBWZ265DZAA42UWBUUKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VWUOXNNFLYO46YZUHXB2LOKDMVIXZBIEFTURLO3MNKO34PSHDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52CPL33UMNMVAC3WRVFBMTM57G3R4EYYC5HCGSMGAGRZ3E7SV65Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLXZJEZ5DJLCXUZ3MUFLEUJXBUUFOPPUK23I3SPIWPICWHMFAFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2O3TQUIWQS5DJTO5WBCZ3D6DPLHAZXUPP7T5VFM6IAREQJEB7QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LTCGZ65V5TYXF3HV77B5BL6273M3VCB4OB4CUVIL5LTRB5S2SYIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEWF4NNCVVREI32XMOAC6DG6PCXV336C3MCGRQL4TJINOAWOQSPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJJ4EMID3N4XJSTH3WBKNGWSWA6OD2XKQZ5IHUYZBNJE2JF3FMRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHSQT6T6WH6V5ZFLMYJ67MXYXSC6SNYOQTIMBSXOIIIMLVGWLTHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TX4LYJYH5QGVUZTCZ6KLE6DTYWNPS3W4G5YAQ3VU43ERAIVRTMHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XRPB6RX53D7KQNYRSF4Z4RPWQI2XBT4U5CMX6YYEOHQGAUE7P7UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTR7KHKKH6Z652FNKJTKDLKYMXWGUAAK4YH4XCDDFO64D2GL6HFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRPCYK3M4KYUF3VU4RD2STAK3EIYYWGVU7Y33OI5IS3KNMGHXXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEZJ7HLZP7Y5HACYZZWV4PIWX4V4QJ5S2LSXCNFCDWRWRMBN5L6Q/vendors.js"
            ]
        },
        "CreateWorkflow": {
            "http": {
                "requestUri": "/workflow",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "requestId"
                ],
                "members": {
                    "name": {},
                    "description": {},
                    "engine": {},
                    "definitionZip": {
                        "type": "blob"
                    },
                    "definitionUri": {},
                    "main": {},
                    "parameterTemplate": {
                        "shape": "Sn"
                    },
                    "storageCapacity": {
                        "type": "integer"
                    },
                    "accelerators": {},
                    "tags": {
                        "shape": "S9"
                    },
                    "requestId": {
                        "idempotencyToken": true
                    },
                    "storageType": {},
                    "containerRegistryMap": {
                        "shape": "S17"
                    },
                    "containerRegistryMapUri": {},
                    "readmeMarkdown": {},
                    "parameterTemplatePath": {},
                    "readmePath": {},
                    "definitionRepository": {
                        "shape": "S1m"
                    },
                    "workflowBucketOwnerId": {},
                    "readmeUri": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "arn": {},
                    "id": {},
                    "status": {},
                    "tags": {
                        "shape": "S9"
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "workflows-"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MKFIKNMZJH2IIVNFXTFR7G6QOYCELW4CBMTLVQFQMM6R4NGLSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4VLDLHLITCRQYY5IWBIWMEKGNHS6WFZPOMCK3AIOUHQVPR25YSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N7IIZWGJFTVJDTBRCSIGDNX6GFKJ45PXGKK3JCYXK2I6LLPSCNUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6J3TQ7JYINSH7XNKDN2PMMIH4DJBSDCNU23Z5LNDNPBD6CS3JA5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2RLHHN47BFF3Y3KMGR2WNE2HX6BMG2PEUSWVY3JU4G2AOJGD4XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PGDHPMHP6V6J46WY3RKMDBDFIMPJ37EBA43DVMLNUGC56ZLBKYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPNSFXSU5SKO76OJOM2CSM3KK5HWWF72YMIFMSLN42R4U4SDHLTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5AYB3RIPP545MUUVZUM47G2OH5DCYK6VCVVBI5DYPIQRHQTVSJEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYXCNGAZMFD5TZ7GE6ESJNCF67WWRQWNZTZACOQPJY55TRWUO77Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QKVI7IOWXFTW3GSOM6SSVW5RC2SGXOHZC37KRVIEWU2J53JY74ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YYKL6PKU4UMN2JH3CNZY7TJLXTQOH3LWBWZ265DZAA42UWBUUKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VWUOXNNFLYO46YZUHXB2LOKDMVIXZBIEFTURLO3MNKO34PSHDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52CPL33UMNMVAC3WRVFBMTM57G3R4EYYC5HCGSMGAGRZ3E7SV65Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLXZJEZ5DJLCXUZ3MUFLEUJXBUUFOPPUK23I3SPIWPICWHMFAFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2O3TQUIWQS5DJTO5WBCZ3D6DPLHAZXUPP7T5VFM6IAREQJEB7QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LTCGZ65V5TYXF3HV77B5BL6273M3VCB4OB4CUVIL5LTRB5S2SYIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEWF4NNCVVREI32XMOAC6DG6PCXV336C3MCGRQL4TJINOAWOQSPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJJ4EMID3N4XJSTH3WBKNGWSWA6OD2XKQZ5IHUYZBNJE2JF3FMRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHSQT6T6WH6V5ZFLMYJ67MXYXSC6SNYOQTIMBSXOIIIMLVGWLTHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TX4LYJYH5QGVUZTCZ6KLE6DTYWNPS3W4G5YAQ3VU43ERAIVRTMHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XRPB6RX53D7KQNYRSF4Z4RPWQI2XBT4U5CMX6YYEOHQGAUE7P7UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTR7KHKKH6Z652FNKJTKDLKYMXWGUAAK4YH4XCDDFO64D2GL6HFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRPCYK3M4KYUF3VU4RD2STAK3EIYYWGVU7Y33OI5IS3KNMGHXXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEZJ7HLZP7Y5HACYZZWV4PIWX4V4QJ5S2LSXCNFCDWRWRMBN5L6Q/vendors.js"
            ]
        },
        "DeleteRun": {
            "http": {
                "method": "DELETE",
                "requestUri": "/run/{id}",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "workflows-"
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MKFIKNMZJH2IIVNFXTFR7G6QOYCELW4CBMTLVQFQMM6R4NGLSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4VLDLHLITCRQYY5IWBIWMEKGNHS6WFZPOMCK3AIOUHQVPR25YSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N7IIZWGJFTVJDTBRCSIGDNX6GFKJ45PXGKK3JCYXK2I6LLPSCNUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6J3TQ7JYINSH7XNKDN2PMMIH4DJBSDCNU23Z5LNDNPBD6CS3JA5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2RLHHN47BFF3Y3KMGR2WNE2HX6BMG2PEUSWVY3JU4G2AOJGD4XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PGDHPMHP6V6J46WY3RKMDBDFIMPJ37EBA43DVMLNUGC56ZLBKYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPNSFXSU5SKO76OJOM2CSM3KK5HWWF72YMIFMSLN42R4U4SDHLTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5AYB3RIPP545MUUVZUM47G2OH5DCYK6VCVVBI5DYPIQRHQTVSJEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYXCNGAZMFD5TZ7GE6ESJNCF67WWRQWNZTZACOQPJY55TRWUO77Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QKVI7IOWXFTW3GSOM6SSVW5RC2SGXOHZC37KRVIEWU2J53JY74ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YYKL6PKU4UMN2JH3CNZY7TJLXTQOH3LWBWZ265DZAA42UWBUUKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VWUOXNNFLYO46YZUHXB2LOKDMVIXZBIEFTURLO3MNKO34PSHDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52CPL33UMNMVAC3WRVFBMTM57G3R4EYYC5HCGSMGAGRZ3E7SV65Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLXZJEZ5DJLCXUZ3MUFLEUJXBUUFOPPUK23I3SPIWPICWHMFAFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2O3TQUIWQS5DJTO5WBCZ3D6DPLHAZXUPP7T5VFM6IAREQJEB7QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LTCGZ65V5TYXF3HV77B5BL6273M3VCB4OB4CUVIL5LTRB5S2SYIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEWF4NNCVVREI32XMOAC6DG6PCXV336C3MCGRQL4TJINOAWOQSPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJJ4EMID3N4XJSTH3WBKNGWSWA6OD2XKQZ5IHUYZBNJE2JF3FMRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHSQT6T6WH6V5ZFLMYJ67MXYXSC6SNYOQTIMBSXOIIIMLVGWLTHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TX4LYJYH5QGVUZTCZ6KLE6DTYWNPS3W4G5YAQ3VU43ERAIVRTMHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XRPB6RX53D7KQNYRSF4Z4RPWQI2XBT4U5CMX6YYEOHQGAUE7P7UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTR7KHKKH6Z652FNKJTKDLKYMXWGUAAK4YH4XCDDFO64D2GL6HFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRPCYK3M4KYUF3VU4RD2STAK3EIYYWGVU7Y33OI5IS3KNMGHXXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEZJ7HLZP7Y5HACYZZWV4PIWX4V4QJ5S2LSXCNFCDWRWRMBN5L6Q/vendors.js"
            ]
        },
        "DeleteRunGroup": {
            "http": {
                "method": "DELETE",
                "requestUri": "/runGroup/{id}",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "workflows-"
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MKFIKNMZJH2IIVNFXTFR7G6QOYCELW4CBMTLVQFQMM6R4NGLSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4VLDLHLITCRQYY5IWBIWMEKGNHS6WFZPOMCK3AIOUHQVPR25YSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N7IIZWGJFTVJDTBRCSIGDNX6GFKJ45PXGKK3JCYXK2I6LLPSCNUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6J3TQ7JYINSH7XNKDN2PMMIH4DJBSDCNU23Z5LNDNPBD6CS3JA5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2RLHHN47BFF3Y3KMGR2WNE2HX6BMG2PEUSWVY3JU4G2AOJGD4XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PGDHPMHP6V6J46WY3RKMDBDFIMPJ37EBA43DVMLNUGC56ZLBKYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPNSFXSU5SKO76OJOM2CSM3KK5HWWF72YMIFMSLN42R4U4SDHLTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5AYB3RIPP545MUUVZUM47G2OH5DCYK6VCVVBI5DYPIQRHQTVSJEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYXCNGAZMFD5TZ7GE6ESJNCF67WWRQWNZTZACOQPJY55TRWUO77Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QKVI7IOWXFTW3GSOM6SSVW5RC2SGXOHZC37KRVIEWU2J53JY74ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YYKL6PKU4UMN2JH3CNZY7TJLXTQOH3LWBWZ265DZAA42UWBUUKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VWUOXNNFLYO46YZUHXB2LOKDMVIXZBIEFTURLO3MNKO34PSHDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52CPL33UMNMVAC3WRVFBMTM57G3R4EYYC5HCGSMGAGRZ3E7SV65Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLXZJEZ5DJLCXUZ3MUFLEUJXBUUFOPPUK23I3SPIWPICWHMFAFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2O3TQUIWQS5DJTO5WBCZ3D6DPLHAZXUPP7T5VFM6IAREQJEB7QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LTCGZ65V5TYXF3HV77B5BL6273M3VCB4OB4CUVIL5LTRB5S2SYIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEWF4NNCVVREI32XMOAC6DG6PCXV336C3MCGRQL4TJINOAWOQSPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJJ4EMID3N4XJSTH3WBKNGWSWA6OD2XKQZ5IHUYZBNJE2JF3FMRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHSQT6T6WH6V5ZFLMYJ67MXYXSC6SNYOQTIMBSXOIIIMLVGWLTHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TX4LYJYH5QGVUZTCZ6KLE6DTYWNPS3W4G5YAQ3VU43ERAIVRTMHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XRPB6RX53D7KQNYRSF4Z4RPWQI2XBT4U5CMX6YYEOHQGAUE7P7UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTR7KHKKH6Z652FNKJTKDLKYMXWGUAAK4YH4XCDDFO64D2GL6HFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRPCYK3M4KYUF3VU4RD2STAK3EIYYWGVU7Y33OI5IS3KNMGHXXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEZJ7HLZP7Y5HACYZZWV4PIWX4V4QJ5S2LSXCNFCDWRWRMBN5L6Q/vendors.js"
            ]
        },
        "DeleteWorkflow": {
            "http": {
                "method": "DELETE",
                "requestUri": "/workflow/{id}",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "workflows-"
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MKFIKNMZJH2IIVNFXTFR7G6QOYCELW4CBMTLVQFQMM6R4NGLSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4VLDLHLITCRQYY5IWBIWMEKGNHS6WFZPOMCK3AIOUHQVPR25YSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N7IIZWGJFTVJDTBRCSIGDNX6GFKJ45PXGKK3JCYXK2I6LLPSCNUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6J3TQ7JYINSH7XNKDN2PMMIH4DJBSDCNU23Z5LNDNPBD6CS3JA5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2RLHHN47BFF3Y3KMGR2WNE2HX6BMG2PEUSWVY3JU4G2AOJGD4XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PGDHPMHP6V6J46WY3RKMDBDFIMPJ37EBA43DVMLNUGC56ZLBKYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPNSFXSU5SKO76OJOM2CSM3KK5HWWF72YMIFMSLN42R4U4SDHLTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5AYB3RIPP545MUUVZUM47G2OH5DCYK6VCVVBI5DYPIQRHQTVSJEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYXCNGAZMFD5TZ7GE6ESJNCF67WWRQWNZTZACOQPJY55TRWUO77Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QKVI7IOWXFTW3GSOM6SSVW5RC2SGXOHZC37KRVIEWU2J53JY74ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YYKL6PKU4UMN2JH3CNZY7TJLXTQOH3LWBWZ265DZAA42UWBUUKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VWUOXNNFLYO46YZUHXB2LOKDMVIXZBIEFTURLO3MNKO34PSHDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52CPL33UMNMVAC3WRVFBMTM57G3R4EYYC5HCGSMGAGRZ3E7SV65Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLXZJEZ5DJLCXUZ3MUFLEUJXBUUFOPPUK23I3SPIWPICWHMFAFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2O3TQUIWQS5DJTO5WBCZ3D6DPLHAZXUPP7T5VFM6IAREQJEB7QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LTCGZ65V5TYXF3HV77B5BL6273M3VCB4OB4CUVIL5LTRB5S2SYIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEWF4NNCVVREI32XMOAC6DG6PCXV336C3MCGRQL4TJINOAWOQSPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJJ4EMID3N4XJSTH3WBKNGWSWA6OD2XKQZ5IHUYZBNJE2JF3FMRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHSQT6T6WH6V5ZFLMYJ67MXYXSC6SNYOQTIMBSXOIIIMLVGWLTHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TX4LYJYH5QGVUZTCZ6KLE6DTYWNPS3W4G5YAQ3VU43ERAIVRTMHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XRPB6RX53D7KQNYRSF4Z4RPWQI2XBT4U5CMX6YYEOHQGAUE7P7UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTR7KHKKH6Z652FNKJTKDLKYMXWGUAAK4YH4XCDDFO64D2GL6HFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRPCYK3M4KYUF3VU4RD2STAK3EIYYWGVU7Y33OI5IS3KNMGHXXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEZJ7HLZP7Y5HACYZZWV4PIWX4V4QJ5S2LSXCNFCDWRWRMBN5L6Q/vendors.js"
            ]
        },
        "GetRun": {
            "http": {
                "method": "GET",
                "requestUri": "/run/{id}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    },
                    "export": {
                        "location": "querystring",
                        "locationName": "export",
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "arn": {},
                    "id": {},
                    "status": {},
                    "workflowId": {},
                    "workflowType": {},
                    "runId": {},
                    "roleArn": {},
                    "name": {},
                    "runGroupId": {},
                    "priority": {
                        "type": "integer"
                    },
                    "definition": {},
                    "digest": {},
                    "parameters": {
                        "shape": "S1d"
                    },
                    "storageCapacity": {
                        "type": "integer"
                    },
                    "accelerators": {},
                    "outputUri": {},
                    "logLevel": {},
                    "resourceDigests": {
                        "type": "map",
                        "key": {},
                        "value": {}
                    },
                    "startedBy": {},
                    "creationTime": {
                        "shape": "S1l"
                    },
                    "startTime": {
                        "shape": "S1l"
                    },
                    "stopTime": {
                        "shape": "S1l"
                    },
                    "statusMessage": {},
                    "tags": {
                        "shape": "S9"
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "workflows-"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MKFIKNMZJH2IIVNFXTFR7G6QOYCELW4CBMTLVQFQMM6R4NGLSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4VLDLHLITCRQYY5IWBIWMEKGNHS6WFZPOMCK3AIOUHQVPR25YSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N7IIZWGJFTVJDTBRCSIGDNX6GFKJ45PXGKK3JCYXK2I6LLPSCNUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6J3TQ7JYINSH7XNKDN2PMMIH4DJBSDCNU23Z5LNDNPBD6CS3JA5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2RLHHN47BFF3Y3KMGR2WNE2HX6BMG2PEUSWVY3JU4G2AOJGD4XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PGDHPMHP6V6J46WY3RKMDBDFIMPJ37EBA43DVMLNUGC56ZLBKYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPNSFXSU5SKO76OJOM2CSM3KK5HWWF72YMIFMSLN42R4U4SDHLTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5AYB3RIPP545MUUVZUM47G2OH5DCYK6VCVVBI5DYPIQRHQTVSJEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYXCNGAZMFD5TZ7GE6ESJNCF67WWRQWNZTZACOQPJY55TRWUO77Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QKVI7IOWXFTW3GSOM6SSVW5RC2SGXOHZC37KRVIEWU2J53JY74ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YYKL6PKU4UMN2JH3CNZY7TJLXTQOH3LWBWZ265DZAA42UWBUUKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VWUOXNNFLYO46YZUHXB2LOKDMVIXZBIEFTURLO3MNKO34PSHDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52CPL33UMNMVAC3WRVFBMTM57G3R4EYYC5HCGSMGAGRZ3E7SV65Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLXZJEZ5DJLCXUZ3MUFLEUJXBUUFOPPUK23I3SPIWPICWHMFAFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2O3TQUIWQS5DJTO5WBCZ3D6DPLHAZXUPP7T5VFM6IAREQJEB7QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LTCGZ65V5TYXF3HV77B5BL6273M3VCB4OB4CUVIL5LTRB5S2SYIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEWF4NNCVVREI32XMOAC6DG6PCXV336C3MCGRQL4TJINOAWOQSPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJJ4EMID3N4XJSTH3WBKNGWSWA6OD2XKQZ5IHUYZBNJE2JF3FMRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHSQT6T6WH6V5ZFLMYJ67MXYXSC6SNYOQTIMBSXOIIIMLVGWLTHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TX4LYJYH5QGVUZTCZ6KLE6DTYWNPS3W4G5YAQ3VU43ERAIVRTMHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XRPB6RX53D7KQNYRSF4Z4RPWQI2XBT4U5CMX6YYEOHQGAUE7P7UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTR7KHKKH6Z652FNKJTKDLKYMXWGUAAK4YH4XCDDFO64D2GL6HFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRPCYK3M4KYUF3VU4RD2STAK3EIYYWGVU7Y33OI5IS3KNMGHXXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEZJ7HLZP7Y5HACYZZWV4PIWX4V4QJ5S2LSXCNFCDWRWRMBN5L6Q/vendors.js"
            ]
        },
        "GetRunGroup": {
            "http": {
                "method": "GET",
                "requestUri": "/runGroup/{id}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "arn": {},
                    "id": {},
                    "name": {},
                    "maxCpus": {
                        "type": "integer"
                    },
                    "maxGpus": {
                        "type": "integer"
                    },
                    "maxRuns": {
                        "type": "integer"
                    },
                    "maxDuration": {
                        "type": "integer"
                    },
                    "creationTime": {
                        "shape": "S1t"
                    },
                    "tags": {
                        "shape": "S9"
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "workflows-"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MKFIKNMZJH2IIVNFXTFR7G6QOYCELW4CBMTLVQFQMM6R4NGLSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4VLDLHLITCRQYY5IWBIWMEKGNHS6WFZPOMCK3AIOUHQVPR25YSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N7IIZWGJFTVJDTBRCSIGDNX6GFKJ45PXGKK3JCYXK2I6LLPSCNUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6J3TQ7JYINSH7XNKDN2PMMIH4DJBSDCNU23Z5LNDNPBD6CS3JA5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2RLHHN47BFF3Y3KMGR2WNE2HX6BMG2PEUSWVY3JU4G2AOJGD4XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PGDHPMHP6V6J46WY3RKMDBDFIMPJ37EBA43DVMLNUGC56ZLBKYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPNSFXSU5SKO76OJOM2CSM3KK5HWWF72YMIFMSLN42R4U4SDHLTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5AYB3RIPP545MUUVZUM47G2OH5DCYK6VCVVBI5DYPIQRHQTVSJEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYXCNGAZMFD5TZ7GE6ESJNCF67WWRQWNZTZACOQPJY55TRWUO77Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QKVI7IOWXFTW3GSOM6SSVW5RC2SGXOHZC37KRVIEWU2J53JY74ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YYKL6PKU4UMN2JH3CNZY7TJLXTQOH3LWBWZ265DZAA42UWBUUKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VWUOXNNFLYO46YZUHXB2LOKDMVIXZBIEFTURLO3MNKO34PSHDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52CPL33UMNMVAC3WRVFBMTM57G3R4EYYC5HCGSMGAGRZ3E7SV65Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLXZJEZ5DJLCXUZ3MUFLEUJXBUUFOPPUK23I3SPIWPICWHMFAFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2O3TQUIWQS5DJTO5WBCZ3D6DPLHAZXUPP7T5VFM6IAREQJEB7QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LTCGZ65V5TYXF3HV77B5BL6273M3VCB4OB4CUVIL5LTRB5S2SYIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEWF4NNCVVREI32XMOAC6DG6PCXV336C3MCGRQL4TJINOAWOQSPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJJ4EMID3N4XJSTH3WBKNGWSWA6OD2XKQZ5IHUYZBNJE2JF3FMRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHSQT6T6WH6V5ZFLMYJ67MXYXSC6SNYOQTIMBSXOIIIMLVGWLTHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TX4LYJYH5QGVUZTCZ6KLE6DTYWNPS3W4G5YAQ3VU43ERAIVRTMHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XRPB6RX53D7KQNYRSF4Z4RPWQI2XBT4U5CMX6YYEOHQGAUE7P7UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTR7KHKKH6Z652FNKJTKDLKYMXWGUAAK4YH4XCDDFO64D2GL6HFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRPCYK3M4KYUF3VU4RD2STAK3EIYYWGVU7Y33OI5IS3KNMGHXXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEZJ7HLZP7Y5HACYZZWV4PIWX4V4QJ5S2LSXCNFCDWRWRMBN5L6Q/vendors.js"
            ]
        },
        "GetRunTask": {
            "http": {
                "method": "GET",
                "requestUri": "/run/{id}/task/{taskId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "id",
                    "taskId"
                ],
                "members": {
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    },
                    "taskId": {
                        "location": "uri",
                        "locationName": "taskId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "taskId": {},
                    "status": {},
                    "name": {},
                    "cpus": {
                        "type": "integer"
                    },
                    "memory": {
                        "type": "integer"
                    },
                    "gpus": {
                        "type": "integer"
                    },
                    "creationTime": {
                        "shape": "S22"
                    },
                    "startTime": {
                        "shape": "S22"
                    },
                    "stopTime": {
                        "shape": "S22"
                    },
                    "statusMessage": {},
                    "logStream": {}
                }
            },
            "endpoint": {
                "hostPrefix": "workflows-"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MKFIKNMZJH2IIVNFXTFR7G6QOYCELW4CBMTLVQFQMM6R4NGLSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4VLDLHLITCRQYY5IWBIWMEKGNHS6WFZPOMCK3AIOUHQVPR25YSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N7IIZWGJFTVJDTBRCSIGDNX6GFKJ45PXGKK3JCYXK2I6LLPSCNUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6J3TQ7JYINSH7XNKDN2PMMIH4DJBSDCNU23Z5LNDNPBD6CS3JA5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2RLHHN47BFF3Y3KMGR2WNE2HX6BMG2PEUSWVY3JU4G2AOJGD4XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PGDHPMHP6V6J46WY3RKMDBDFIMPJ37EBA43DVMLNUGC56ZLBKYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPNSFXSU5SKO76OJOM2CSM3KK5HWWF72YMIFMSLN42R4U4SDHLTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5AYB3RIPP545MUUVZUM47G2OH5DCYK6VCVVBI5DYPIQRHQTVSJEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYXCNGAZMFD5TZ7GE6ESJNCF67WWRQWNZTZACOQPJY55TRWUO77Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QKVI7IOWXFTW3GSOM6SSVW5RC2SGXOHZC37KRVIEWU2J53JY74ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YYKL6PKU4UMN2JH3CNZY7TJLXTQOH3LWBWZ265DZAA42UWBUUKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VWUOXNNFLYO46YZUHXB2LOKDMVIXZBIEFTURLO3MNKO34PSHDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52CPL33UMNMVAC3WRVFBMTM57G3R4EYYC5HCGSMGAGRZ3E7SV65Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLXZJEZ5DJLCXUZ3MUFLEUJXBUUFOPPUK23I3SPIWPICWHMFAFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2O3TQUIWQS5DJTO5WBCZ3D6DPLHAZXUPP7T5VFM6IAREQJEB7QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LTCGZ65V5TYXF3HV77B5BL6273M3VCB4OB4CUVIL5LTRB5S2SYIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEWF4NNCVVREI32XMOAC6DG6PCXV336C3MCGRQL4TJINOAWOQSPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJJ4EMID3N4XJSTH3WBKNGWSWA6OD2XKQZ5IHUYZBNJE2JF3FMRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHSQT6T6WH6V5ZFLMYJ67MXYXSC6SNYOQTIMBSXOIIIMLVGWLTHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TX4LYJYH5QGVUZTCZ6KLE6DTYWNPS3W4G5YAQ3VU43ERAIVRTMHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XRPB6RX53D7KQNYRSF4Z4RPWQI2XBT4U5CMX6YYEOHQGAUE7P7UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTR7KHKKH6Z652FNKJTKDLKYMXWGUAAK4YH4XCDDFO64D2GL6HFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRPCYK3M4KYUF3VU4RD2STAK3EIYYWGVU7Y33OI5IS3KNMGHXXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEZJ7HLZP7Y5HACYZZWV4PIWX4V4QJ5S2LSXCNFCDWRWRMBN5L6Q/vendors.js"
            ]
        },
        "GetWorkflow": {
            "http": {
                "method": "GET",
                "requestUri": "/workflow/{id}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    },
                    "type": {
                        "location": "querystring",
                        "locationName": "type"
                    },
                    "export": {
                        "location": "querystring",
                        "locationName": "export",
                        "type": "list",
                        "member": {}
                    },
                    "workflowOwnerId": {
                        "location": "querystring",
                        "locationName": "workflow-owner-id"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "arn": {},
                    "id": {},
                    "status": {},
                    "type": {},
                    "name": {},
                    "description": {},
                    "engine": {},
                    "definition": {},
                    "main": {},
                    "digest": {},
                    "parameterTemplate": {
                        "shape": "Sn"
                    },
                    "metadata": {
                        "shape": "S29"
                    },
                    "storageCapacity": {
                        "type": "integer"
                    },
                    "accelerators": {},
                    "creationTime": {
                        "shape": "S2d"
                    },
                    "statusMessage": {},
                    "tags": {
                        "shape": "S9"
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "workflows-"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MKFIKNMZJH2IIVNFXTFR7G6QOYCELW4CBMTLVQFQMM6R4NGLSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4VLDLHLITCRQYY5IWBIWMEKGNHS6WFZPOMCK3AIOUHQVPR25YSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N7IIZWGJFTVJDTBRCSIGDNX6GFKJ45PXGKK3JCYXK2I6LLPSCNUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6J3TQ7JYINSH7XNKDN2PMMIH4DJBSDCNU23Z5LNDNPBD6CS3JA5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2RLHHN47BFF3Y3KMGR2WNE2HX6BMG2PEUSWVY3JU4G2AOJGD4XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PGDHPMHP6V6J46WY3RKMDBDFIMPJ37EBA43DVMLNUGC56ZLBKYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPNSFXSU5SKO76OJOM2CSM3KK5HWWF72YMIFMSLN42R4U4SDHLTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5AYB3RIPP545MUUVZUM47G2OH5DCYK6VCVVBI5DYPIQRHQTVSJEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYXCNGAZMFD5TZ7GE6ESJNCF67WWRQWNZTZACOQPJY55TRWUO77Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QKVI7IOWXFTW3GSOM6SSVW5RC2SGXOHZC37KRVIEWU2J53JY74ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YYKL6PKU4UMN2JH3CNZY7TJLXTQOH3LWBWZ265DZAA42UWBUUKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VWUOXNNFLYO46YZUHXB2LOKDMVIXZBIEFTURLO3MNKO34PSHDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52CPL33UMNMVAC3WRVFBMTM57G3R4EYYC5HCGSMGAGRZ3E7SV65Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLXZJEZ5DJLCXUZ3MUFLEUJXBUUFOPPUK23I3SPIWPICWHMFAFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2O3TQUIWQS5DJTO5WBCZ3D6DPLHAZXUPP7T5VFM6IAREQJEB7QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LTCGZ65V5TYXF3HV77B5BL6273M3VCB4OB4CUVIL5LTRB5S2SYIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEWF4NNCVVREI32XMOAC6DG6PCXV336C3MCGRQL4TJINOAWOQSPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJJ4EMID3N4XJSTH3WBKNGWSWA6OD2XKQZ5IHUYZBNJE2JF3FMRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHSQT6T6WH6V5ZFLMYJ67MXYXSC6SNYOQTIMBSXOIIIMLVGWLTHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TX4LYJYH5QGVUZTCZ6KLE6DTYWNPS3W4G5YAQ3VU43ERAIVRTMHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XRPB6RX53D7KQNYRSF4Z4RPWQI2XBT4U5CMX6YYEOHQGAUE7P7UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTR7KHKKH6Z652FNKJTKDLKYMXWGUAAK4YH4XCDDFO64D2GL6HFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRPCYK3M4KYUF3VU4RD2STAK3EIYYWGVU7Y33OI5IS3KNMGHXXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEZJ7HLZP7Y5HACYZZWV4PIWX4V4QJ5S2LSXCNFCDWRWRMBN5L6Q/vendors.js"
            ]
        },
        "ListRunGroups": {
            "http": {
                "method": "GET",
                "requestUri": "/runGroup",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "name": {
                        "location": "querystring",
                        "locationName": "name"
                    },
                    "startingToken": {
                        "location": "querystring",
                        "locationName": "startingToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "items": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "arn": {},
                                "id": {},
                                "name": {},
                                "maxCpus": {
                                    "type": "integer"
                                },
                                "maxGpus": {
                                    "type": "integer"
                                },
                                "maxRuns": {
                                    "type": "integer"
                                },
                                "maxDuration": {
                                    "type": "integer"
                                },
                                "creationTime": {
                                    "shape": "S1t"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "endpoint": {
                "hostPrefix": "workflows-"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MKFIKNMZJH2IIVNFXTFR7G6QOYCELW4CBMTLVQFQMM6R4NGLSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4VLDLHLITCRQYY5IWBIWMEKGNHS6WFZPOMCK3AIOUHQVPR25YSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N7IIZWGJFTVJDTBRCSIGDNX6GFKJ45PXGKK3JCYXK2I6LLPSCNUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6J3TQ7JYINSH7XNKDN2PMMIH4DJBSDCNU23Z5LNDNPBD6CS3JA5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2RLHHN47BFF3Y3KMGR2WNE2HX6BMG2PEUSWVY3JU4G2AOJGD4XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PGDHPMHP6V6J46WY3RKMDBDFIMPJ37EBA43DVMLNUGC56ZLBKYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPNSFXSU5SKO76OJOM2CSM3KK5HWWF72YMIFMSLN42R4U4SDHLTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5AYB3RIPP545MUUVZUM47G2OH5DCYK6VCVVBI5DYPIQRHQTVSJEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYXCNGAZMFD5TZ7GE6ESJNCF67WWRQWNZTZACOQPJY55TRWUO77Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QKVI7IOWXFTW3GSOM6SSVW5RC2SGXOHZC37KRVIEWU2J53JY74ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YYKL6PKU4UMN2JH3CNZY7TJLXTQOH3LWBWZ265DZAA42UWBUUKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VWUOXNNFLYO46YZUHXB2LOKDMVIXZBIEFTURLO3MNKO34PSHDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52CPL33UMNMVAC3WRVFBMTM57G3R4EYYC5HCGSMGAGRZ3E7SV65Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLXZJEZ5DJLCXUZ3MUFLEUJXBUUFOPPUK23I3SPIWPICWHMFAFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2O3TQUIWQS5DJTO5WBCZ3D6DPLHAZXUPP7T5VFM6IAREQJEB7QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LTCGZ65V5TYXF3HV77B5BL6273M3VCB4OB4CUVIL5LTRB5S2SYIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEWF4NNCVVREI32XMOAC6DG6PCXV336C3MCGRQL4TJINOAWOQSPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJJ4EMID3N4XJSTH3WBKNGWSWA6OD2XKQZ5IHUYZBNJE2JF3FMRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHSQT6T6WH6V5ZFLMYJ67MXYXSC6SNYOQTIMBSXOIIIMLVGWLTHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TX4LYJYH5QGVUZTCZ6KLE6DTYWNPS3W4G5YAQ3VU43ERAIVRTMHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XRPB6RX53D7KQNYRSF4Z4RPWQI2XBT4U5CMX6YYEOHQGAUE7P7UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTR7KHKKH6Z652FNKJTKDLKYMXWGUAAK4YH4XCDDFO64D2GL6HFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRPCYK3M4KYUF3VU4RD2STAK3EIYYWGVU7Y33OI5IS3KNMGHXXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEZJ7HLZP7Y5HACYZZWV4PIWX4V4QJ5S2LSXCNFCDWRWRMBN5L6Q/vendors.js"
            ]
        },
        "ListRunTasks": {
            "http": {
                "method": "GET",
                "requestUri": "/run/{id}/task",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    },
                    "status": {
                        "location": "querystring",
                        "locationName": "status"
                    },
                    "startingToken": {
                        "location": "querystring",
                        "locationName": "startingToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "items": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "taskId": {},
                                "status": {},
                                "name": {},
                                "cpus": {
                                    "type": "integer"
                                },
                                "gpus": {
                                    "type": "integer"
                                },
                                "memory": {
                                    "type": "integer"
                                },
                                "creationTime": {
                                    "shape": "S22"
                                },
                                "startTime": {
                                    "shape": "S22"
                                },
                                "stopTime": {
                                    "shape": "S22"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "endpoint": {
                "hostPrefix": "workflows-"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MKFIKNMZJH2IIVNFXTFR7G6QOYCELW4CBMTLVQFQMM6R4NGLSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4VLDLHLITCRQYY5IWBIWMEKGNHS6WFZPOMCK3AIOUHQVPR25YSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N7IIZWGJFTVJDTBRCSIGDNX6GFKJ45PXGKK3JCYXK2I6LLPSCNUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6J3TQ7JYINSH7XNKDN2PMMIH4DJBSDCNU23Z5LNDNPBD6CS3JA5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2RLHHN47BFF3Y3KMGR2WNE2HX6BMG2PEUSWVY3JU4G2AOJGD4XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PGDHPMHP6V6J46WY3RKMDBDFIMPJ37EBA43DVMLNUGC56ZLBKYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPNSFXSU5SKO76OJOM2CSM3KK5HWWF72YMIFMSLN42R4U4SDHLTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5AYB3RIPP545MUUVZUM47G2OH5DCYK6VCVVBI5DYPIQRHQTVSJEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYXCNGAZMFD5TZ7GE6ESJNCF67WWRQWNZTZACOQPJY55TRWUO77Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QKVI7IOWXFTW3GSOM6SSVW5RC2SGXOHZC37KRVIEWU2J53JY74ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YYKL6PKU4UMN2JH3CNZY7TJLXTQOH3LWBWZ265DZAA42UWBUUKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VWUOXNNFLYO46YZUHXB2LOKDMVIXZBIEFTURLO3MNKO34PSHDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52CPL33UMNMVAC3WRVFBMTM57G3R4EYYC5HCGSMGAGRZ3E7SV65Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLXZJEZ5DJLCXUZ3MUFLEUJXBUUFOPPUK23I3SPIWPICWHMFAFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2O3TQUIWQS5DJTO5WBCZ3D6DPLHAZXUPP7T5VFM6IAREQJEB7QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LTCGZ65V5TYXF3HV77B5BL6273M3VCB4OB4CUVIL5LTRB5S2SYIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEWF4NNCVVREI32XMOAC6DG6PCXV336C3MCGRQL4TJINOAWOQSPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJJ4EMID3N4XJSTH3WBKNGWSWA6OD2XKQZ5IHUYZBNJE2JF3FMRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHSQT6T6WH6V5ZFLMYJ67MXYXSC6SNYOQTIMBSXOIIIMLVGWLTHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TX4LYJYH5QGVUZTCZ6KLE6DTYWNPS3W4G5YAQ3VU43ERAIVRTMHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XRPB6RX53D7KQNYRSF4Z4RPWQI2XBT4U5CMX6YYEOHQGAUE7P7UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTR7KHKKH6Z652FNKJTKDLKYMXWGUAAK4YH4XCDDFO64D2GL6HFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRPCYK3M4KYUF3VU4RD2STAK3EIYYWGVU7Y33OI5IS3KNMGHXXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEZJ7HLZP7Y5HACYZZWV4PIWX4V4QJ5S2LSXCNFCDWRWRMBN5L6Q/vendors.js"
            ]
        },
        "ListRuns": {
            "http": {
                "method": "GET",
                "requestUri": "/run",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "name": {
                        "location": "querystring",
                        "locationName": "name"
                    },
                    "runGroupId": {
                        "location": "querystring",
                        "locationName": "runGroupId"
                    },
                    "startingToken": {
                        "location": "querystring",
                        "locationName": "startingToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "status": {
                        "location": "querystring",
                        "locationName": "status"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "items": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "arn": {},
                                "id": {},
                                "status": {},
                                "workflowId": {},
                                "name": {},
                                "priority": {
                                    "type": "integer"
                                },
                                "storageCapacity": {
                                    "type": "integer"
                                },
                                "creationTime": {
                                    "shape": "S1l"
                                },
                                "startTime": {
                                    "shape": "S1l"
                                },
                                "stopTime": {
                                    "shape": "S1l"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "endpoint": {
                "hostPrefix": "workflows-"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MKFIKNMZJH2IIVNFXTFR7G6QOYCELW4CBMTLVQFQMM6R4NGLSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4VLDLHLITCRQYY5IWBIWMEKGNHS6WFZPOMCK3AIOUHQVPR25YSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N7IIZWGJFTVJDTBRCSIGDNX6GFKJ45PXGKK3JCYXK2I6LLPSCNUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6J3TQ7JYINSH7XNKDN2PMMIH4DJBSDCNU23Z5LNDNPBD6CS3JA5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2RLHHN47BFF3Y3KMGR2WNE2HX6BMG2PEUSWVY3JU4G2AOJGD4XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PGDHPMHP6V6J46WY3RKMDBDFIMPJ37EBA43DVMLNUGC56ZLBKYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPNSFXSU5SKO76OJOM2CSM3KK5HWWF72YMIFMSLN42R4U4SDHLTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5AYB3RIPP545MUUVZUM47G2OH5DCYK6VCVVBI5DYPIQRHQTVSJEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYXCNGAZMFD5TZ7GE6ESJNCF67WWRQWNZTZACOQPJY55TRWUO77Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QKVI7IOWXFTW3GSOM6SSVW5RC2SGXOHZC37KRVIEWU2J53JY74ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YYKL6PKU4UMN2JH3CNZY7TJLXTQOH3LWBWZ265DZAA42UWBUUKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VWUOXNNFLYO46YZUHXB2LOKDMVIXZBIEFTURLO3MNKO34PSHDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52CPL33UMNMVAC3WRVFBMTM57G3R4EYYC5HCGSMGAGRZ3E7SV65Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLXZJEZ5DJLCXUZ3MUFLEUJXBUUFOPPUK23I3SPIWPICWHMFAFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2O3TQUIWQS5DJTO5WBCZ3D6DPLHAZXUPP7T5VFM6IAREQJEB7QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LTCGZ65V5TYXF3HV77B5BL6273M3VCB4OB4CUVIL5LTRB5S2SYIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEWF4NNCVVREI32XMOAC6DG6PCXV336C3MCGRQL4TJINOAWOQSPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJJ4EMID3N4XJSTH3WBKNGWSWA6OD2XKQZ5IHUYZBNJE2JF3FMRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHSQT6T6WH6V5ZFLMYJ67MXYXSC6SNYOQTIMBSXOIIIMLVGWLTHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TX4LYJYH5QGVUZTCZ6KLE6DTYWNPS3W4G5YAQ3VU43ERAIVRTMHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XRPB6RX53D7KQNYRSF4Z4RPWQI2XBT4U5CMX6YYEOHQGAUE7P7UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTR7KHKKH6Z652FNKJTKDLKYMXWGUAAK4YH4XCDDFO64D2GL6HFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRPCYK3M4KYUF3VU4RD2STAK3EIYYWGVU7Y33OI5IS3KNMGHXXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEZJ7HLZP7Y5HACYZZWV4PIWX4V4QJ5S2LSXCNFCDWRWRMBN5L6Q/vendors.js"
            ]
        },
        "ListTagsForResource": {
            "http": {
                "method": "GET",
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "tags"
                ],
                "members": {
                    "tags": {
                        "shape": "S9"
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "tags-"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MKFIKNMZJH2IIVNFXTFR7G6QOYCELW4CBMTLVQFQMM6R4NGLSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4VLDLHLITCRQYY5IWBIWMEKGNHS6WFZPOMCK3AIOUHQVPR25YSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N7IIZWGJFTVJDTBRCSIGDNX6GFKJ45PXGKK3JCYXK2I6LLPSCNUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6J3TQ7JYINSH7XNKDN2PMMIH4DJBSDCNU23Z5LNDNPBD6CS3JA5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2RLHHN47BFF3Y3KMGR2WNE2HX6BMG2PEUSWVY3JU4G2AOJGD4XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PGDHPMHP6V6J46WY3RKMDBDFIMPJ37EBA43DVMLNUGC56ZLBKYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPNSFXSU5SKO76OJOM2CSM3KK5HWWF72YMIFMSLN42R4U4SDHLTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5AYB3RIPP545MUUVZUM47G2OH5DCYK6VCVVBI5DYPIQRHQTVSJEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYXCNGAZMFD5TZ7GE6ESJNCF67WWRQWNZTZACOQPJY55TRWUO77Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QKVI7IOWXFTW3GSOM6SSVW5RC2SGXOHZC37KRVIEWU2J53JY74ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YYKL6PKU4UMN2JH3CNZY7TJLXTQOH3LWBWZ265DZAA42UWBUUKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VWUOXNNFLYO46YZUHXB2LOKDMVIXZBIEFTURLO3MNKO34PSHDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52CPL33UMNMVAC3WRVFBMTM57G3R4EYYC5HCGSMGAGRZ3E7SV65Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLXZJEZ5DJLCXUZ3MUFLEUJXBUUFOPPUK23I3SPIWPICWHMFAFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2O3TQUIWQS5DJTO5WBCZ3D6DPLHAZXUPP7T5VFM6IAREQJEB7QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LTCGZ65V5TYXF3HV77B5BL6273M3VCB4OB4CUVIL5LTRB5S2SYIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEWF4NNCVVREI32XMOAC6DG6PCXV336C3MCGRQL4TJINOAWOQSPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJJ4EMID3N4XJSTH3WBKNGWSWA6OD2XKQZ5IHUYZBNJE2JF3FMRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHSQT6T6WH6V5ZFLMYJ67MXYXSC6SNYOQTIMBSXOIIIMLVGWLTHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TX4LYJYH5QGVUZTCZ6KLE6DTYWNPS3W4G5YAQ3VU43ERAIVRTMHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XRPB6RX53D7KQNYRSF4Z4RPWQI2XBT4U5CMX6YYEOHQGAUE7P7UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTR7KHKKH6Z652FNKJTKDLKYMXWGUAAK4YH4XCDDFO64D2GL6HFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRPCYK3M4KYUF3VU4RD2STAK3EIYYWGVU7Y33OI5IS3KNMGHXXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEZJ7HLZP7Y5HACYZZWV4PIWX4V4QJ5S2LSXCNFCDWRWRMBN5L6Q/vendors.js"
            ]
        },
        "ListWorkflows": {
            "http": {
                "method": "GET",
                "requestUri": "/workflow",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "type": {
                        "location": "querystring",
                        "locationName": "type"
                    },
                    "name": {
                        "location": "querystring",
                        "locationName": "name"
                    },
                    "startingToken": {
                        "location": "querystring",
                        "locationName": "startingToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "items": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "arn": {},
                                "id": {},
                                "name": {},
                                "status": {},
                                "type": {},
                                "metadata": {
                                    "shape": "S29"
                                },
                                "digest": {},
                                "creationTime": {
                                    "shape": "S2d"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "endpoint": {
                "hostPrefix": "workflows-"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MKFIKNMZJH2IIVNFXTFR7G6QOYCELW4CBMTLVQFQMM6R4NGLSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4VLDLHLITCRQYY5IWBIWMEKGNHS6WFZPOMCK3AIOUHQVPR25YSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N7IIZWGJFTVJDTBRCSIGDNX6GFKJ45PXGKK3JCYXK2I6LLPSCNUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6J3TQ7JYINSH7XNKDN2PMMIH4DJBSDCNU23Z5LNDNPBD6CS3JA5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2RLHHN47BFF3Y3KMGR2WNE2HX6BMG2PEUSWVY3JU4G2AOJGD4XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PGDHPMHP6V6J46WY3RKMDBDFIMPJ37EBA43DVMLNUGC56ZLBKYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPNSFXSU5SKO76OJOM2CSM3KK5HWWF72YMIFMSLN42R4U4SDHLTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5AYB3RIPP545MUUVZUM47G2OH5DCYK6VCVVBI5DYPIQRHQTVSJEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYXCNGAZMFD5TZ7GE6ESJNCF67WWRQWNZTZACOQPJY55TRWUO77Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QKVI7IOWXFTW3GSOM6SSVW5RC2SGXOHZC37KRVIEWU2J53JY74ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YYKL6PKU4UMN2JH3CNZY7TJLXTQOH3LWBWZ265DZAA42UWBUUKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VWUOXNNFLYO46YZUHXB2LOKDMVIXZBIEFTURLO3MNKO34PSHDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52CPL33UMNMVAC3WRVFBMTM57G3R4EYYC5HCGSMGAGRZ3E7SV65Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLXZJEZ5DJLCXUZ3MUFLEUJXBUUFOPPUK23I3SPIWPICWHMFAFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2O3TQUIWQS5DJTO5WBCZ3D6DPLHAZXUPP7T5VFM6IAREQJEB7QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LTCGZ65V5TYXF3HV77B5BL6273M3VCB4OB4CUVIL5LTRB5S2SYIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEWF4NNCVVREI32XMOAC6DG6PCXV336C3MCGRQL4TJINOAWOQSPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJJ4EMID3N4XJSTH3WBKNGWSWA6OD2XKQZ5IHUYZBNJE2JF3FMRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHSQT6T6WH6V5ZFLMYJ67MXYXSC6SNYOQTIMBSXOIIIMLVGWLTHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TX4LYJYH5QGVUZTCZ6KLE6DTYWNPS3W4G5YAQ3VU43ERAIVRTMHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XRPB6RX53D7KQNYRSF4Z4RPWQI2XBT4U5CMX6YYEOHQGAUE7P7UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTR7KHKKH6Z652FNKJTKDLKYMXWGUAAK4YH4XCDDFO64D2GL6HFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRPCYK3M4KYUF3VU4RD2STAK3EIYYWGVU7Y33OI5IS3KNMGHXXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEZJ7HLZP7Y5HACYZZWV4PIWX4V4QJ5S2LSXCNFCDWRWRMBN5L6Q/vendors.js"
            ]
        },
        "StartRun": {
            "http": {
                "requestUri": "/run",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "roleArn",
                    "requestId"
                ],
                "members": {
                    "workflowId": {},
                    "workflowType": {},
                    "runId": {},
                    "roleArn": {},
                    "name": {},
                    "runGroupId": {},
                    "priority": {
                        "type": "integer"
                    },
                    "parameters": {
                        "shape": "S1d"
                    },
                    "storageCapacity": {
                        "type": "integer"
                    },
                    "outputUri": {},
                    "logLevel": {},
                    "tags": {
                        "shape": "S9"
                    },
                    "requestId": {
                        "idempotencyToken": true
                    },
                    "retentionMode": {},
                    "cacheId": {},
                    "cacheRunBehavior": {},
                    "storageType": {},
                    "workflowOwnerId": {},
                    "cacheBehavior": {},
                    "outputBucketOwnerId": {},
                    "workflowVersionName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "arn": {},
                    "id": {},
                    "status": {},
                    "tags": {
                        "shape": "S9"
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "workflows-"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MKFIKNMZJH2IIVNFXTFR7G6QOYCELW4CBMTLVQFQMM6R4NGLSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4VLDLHLITCRQYY5IWBIWMEKGNHS6WFZPOMCK3AIOUHQVPR25YSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N7IIZWGJFTVJDTBRCSIGDNX6GFKJ45PXGKK3JCYXK2I6LLPSCNUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6J3TQ7JYINSH7XNKDN2PMMIH4DJBSDCNU23Z5LNDNPBD6CS3JA5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2RLHHN47BFF3Y3KMGR2WNE2HX6BMG2PEUSWVY3JU4G2AOJGD4XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PGDHPMHP6V6J46WY3RKMDBDFIMPJ37EBA43DVMLNUGC56ZLBKYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPNSFXSU5SKO76OJOM2CSM3KK5HWWF72YMIFMSLN42R4U4SDHLTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5AYB3RIPP545MUUVZUM47G2OH5DCYK6VCVVBI5DYPIQRHQTVSJEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYXCNGAZMFD5TZ7GE6ESJNCF67WWRQWNZTZACOQPJY55TRWUO77Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QKVI7IOWXFTW3GSOM6SSVW5RC2SGXOHZC37KRVIEWU2J53JY74ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YYKL6PKU4UMN2JH3CNZY7TJLXTQOH3LWBWZ265DZAA42UWBUUKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VWUOXNNFLYO46YZUHXB2LOKDMVIXZBIEFTURLO3MNKO34PSHDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52CPL33UMNMVAC3WRVFBMTM57G3R4EYYC5HCGSMGAGRZ3E7SV65Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLXZJEZ5DJLCXUZ3MUFLEUJXBUUFOPPUK23I3SPIWPICWHMFAFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2O3TQUIWQS5DJTO5WBCZ3D6DPLHAZXUPP7T5VFM6IAREQJEB7QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LTCGZ65V5TYXF3HV77B5BL6273M3VCB4OB4CUVIL5LTRB5S2SYIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEWF4NNCVVREI32XMOAC6DG6PCXV336C3MCGRQL4TJINOAWOQSPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJJ4EMID3N4XJSTH3WBKNGWSWA6OD2XKQZ5IHUYZBNJE2JF3FMRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHSQT6T6WH6V5ZFLMYJ67MXYXSC6SNYOQTIMBSXOIIIMLVGWLTHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TX4LYJYH5QGVUZTCZ6KLE6DTYWNPS3W4G5YAQ3VU43ERAIVRTMHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XRPB6RX53D7KQNYRSF4Z4RPWQI2XBT4U5CMX6YYEOHQGAUE7P7UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTR7KHKKH6Z652FNKJTKDLKYMXWGUAAK4YH4XCDDFO64D2GL6HFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRPCYK3M4KYUF3VU4RD2STAK3EIYYWGVU7Y33OI5IS3KNMGHXXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEZJ7HLZP7Y5HACYZZWV4PIWX4V4QJ5S2LSXCNFCDWRWRMBN5L6Q/vendors.js"
            ]
        },
        "TagResource": {
            "http": {
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "tags"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    },
                    "tags": {
                        "type": "map",
                        "key": {},
                        "value": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "endpoint": {
                "hostPrefix": "tags-"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MKFIKNMZJH2IIVNFXTFR7G6QOYCELW4CBMTLVQFQMM6R4NGLSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4VLDLHLITCRQYY5IWBIWMEKGNHS6WFZPOMCK3AIOUHQVPR25YSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N7IIZWGJFTVJDTBRCSIGDNX6GFKJ45PXGKK3JCYXK2I6LLPSCNUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6J3TQ7JYINSH7XNKDN2PMMIH4DJBSDCNU23Z5LNDNPBD6CS3JA5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2RLHHN47BFF3Y3KMGR2WNE2HX6BMG2PEUSWVY3JU4G2AOJGD4XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PGDHPMHP6V6J46WY3RKMDBDFIMPJ37EBA43DVMLNUGC56ZLBKYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPNSFXSU5SKO76OJOM2CSM3KK5HWWF72YMIFMSLN42R4U4SDHLTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5AYB3RIPP545MUUVZUM47G2OH5DCYK6VCVVBI5DYPIQRHQTVSJEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYXCNGAZMFD5TZ7GE6ESJNCF67WWRQWNZTZACOQPJY55TRWUO77Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QKVI7IOWXFTW3GSOM6SSVW5RC2SGXOHZC37KRVIEWU2J53JY74ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YYKL6PKU4UMN2JH3CNZY7TJLXTQOH3LWBWZ265DZAA42UWBUUKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VWUOXNNFLYO46YZUHXB2LOKDMVIXZBIEFTURLO3MNKO34PSHDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52CPL33UMNMVAC3WRVFBMTM57G3R4EYYC5HCGSMGAGRZ3E7SV65Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLXZJEZ5DJLCXUZ3MUFLEUJXBUUFOPPUK23I3SPIWPICWHMFAFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2O3TQUIWQS5DJTO5WBCZ3D6DPLHAZXUPP7T5VFM6IAREQJEB7QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LTCGZ65V5TYXF3HV77B5BL6273M3VCB4OB4CUVIL5LTRB5S2SYIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEWF4NNCVVREI32XMOAC6DG6PCXV336C3MCGRQL4TJINOAWOQSPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJJ4EMID3N4XJSTH3WBKNGWSWA6OD2XKQZ5IHUYZBNJE2JF3FMRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHSQT6T6WH6V5ZFLMYJ67MXYXSC6SNYOQTIMBSXOIIIMLVGWLTHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TX4LYJYH5QGVUZTCZ6KLE6DTYWNPS3W4G5YAQ3VU43ERAIVRTMHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XRPB6RX53D7KQNYRSF4Z4RPWQI2XBT4U5CMX6YYEOHQGAUE7P7UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTR7KHKKH6Z652FNKJTKDLKYMXWGUAAK4YH4XCDDFO64D2GL6HFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRPCYK3M4KYUF3VU4RD2STAK3EIYYWGVU7Y33OI5IS3KNMGHXXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEZJ7HLZP7Y5HACYZZWV4PIWX4V4QJ5S2LSXCNFCDWRWRMBN5L6Q/vendors.js"
            ]
        },
        "UntagResource": {
            "http": {
                "method": "DELETE",
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "tagKeys"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    },
                    "tagKeys": {
                        "location": "querystring",
                        "locationName": "tagKeys",
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "endpoint": {
                "hostPrefix": "tags-"
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MKFIKNMZJH2IIVNFXTFR7G6QOYCELW4CBMTLVQFQMM6R4NGLSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4VLDLHLITCRQYY5IWBIWMEKGNHS6WFZPOMCK3AIOUHQVPR25YSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N7IIZWGJFTVJDTBRCSIGDNX6GFKJ45PXGKK3JCYXK2I6LLPSCNUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6J3TQ7JYINSH7XNKDN2PMMIH4DJBSDCNU23Z5LNDNPBD6CS3JA5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2RLHHN47BFF3Y3KMGR2WNE2HX6BMG2PEUSWVY3JU4G2AOJGD4XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PGDHPMHP6V6J46WY3RKMDBDFIMPJ37EBA43DVMLNUGC56ZLBKYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPNSFXSU5SKO76OJOM2CSM3KK5HWWF72YMIFMSLN42R4U4SDHLTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5AYB3RIPP545MUUVZUM47G2OH5DCYK6VCVVBI5DYPIQRHQTVSJEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYXCNGAZMFD5TZ7GE6ESJNCF67WWRQWNZTZACOQPJY55TRWUO77Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QKVI7IOWXFTW3GSOM6SSVW5RC2SGXOHZC37KRVIEWU2J53JY74ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YYKL6PKU4UMN2JH3CNZY7TJLXTQOH3LWBWZ265DZAA42UWBUUKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VWUOXNNFLYO46YZUHXB2LOKDMVIXZBIEFTURLO3MNKO34PSHDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52CPL33UMNMVAC3WRVFBMTM57G3R4EYYC5HCGSMGAGRZ3E7SV65Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLXZJEZ5DJLCXUZ3MUFLEUJXBUUFOPPUK23I3SPIWPICWHMFAFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2O3TQUIWQS5DJTO5WBCZ3D6DPLHAZXUPP7T5VFM6IAREQJEB7QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LTCGZ65V5TYXF3HV77B5BL6273M3VCB4OB4CUVIL5LTRB5S2SYIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEWF4NNCVVREI32XMOAC6DG6PCXV336C3MCGRQL4TJINOAWOQSPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJJ4EMID3N4XJSTH3WBKNGWSWA6OD2XKQZ5IHUYZBNJE2JF3FMRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHSQT6T6WH6V5ZFLMYJ67MXYXSC6SNYOQTIMBSXOIIIMLVGWLTHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TX4LYJYH5QGVUZTCZ6KLE6DTYWNPS3W4G5YAQ3VU43ERAIVRTMHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XRPB6RX53D7KQNYRSF4Z4RPWQI2XBT4U5CMX6YYEOHQGAUE7P7UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTR7KHKKH6Z652FNKJTKDLKYMXWGUAAK4YH4XCDDFO64D2GL6HFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRPCYK3M4KYUF3VU4RD2STAK3EIYYWGVU7Y33OI5IS3KNMGHXXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEZJ7HLZP7Y5HACYZZWV4PIWX4V4QJ5S2LSXCNFCDWRWRMBN5L6Q/vendors.js"
            ]
        },
        "UpdateRunGroup": {
            "http": {
                "requestUri": "/runGroup/{id}",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    },
                    "name": {},
                    "maxCpus": {
                        "type": "integer"
                    },
                    "maxGpus": {
                        "type": "integer"
                    },
                    "maxRuns": {
                        "type": "integer"
                    },
                    "maxDuration": {
                        "type": "integer"
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "workflows-"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MKFIKNMZJH2IIVNFXTFR7G6QOYCELW4CBMTLVQFQMM6R4NGLSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4VLDLHLITCRQYY5IWBIWMEKGNHS6WFZPOMCK3AIOUHQVPR25YSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N7IIZWGJFTVJDTBRCSIGDNX6GFKJ45PXGKK3JCYXK2I6LLPSCNUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6J3TQ7JYINSH7XNKDN2PMMIH4DJBSDCNU23Z5LNDNPBD6CS3JA5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2RLHHN47BFF3Y3KMGR2WNE2HX6BMG2PEUSWVY3JU4G2AOJGD4XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PGDHPMHP6V6J46WY3RKMDBDFIMPJ37EBA43DVMLNUGC56ZLBKYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPNSFXSU5SKO76OJOM2CSM3KK5HWWF72YMIFMSLN42R4U4SDHLTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5AYB3RIPP545MUUVZUM47G2OH5DCYK6VCVVBI5DYPIQRHQTVSJEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYXCNGAZMFD5TZ7GE6ESJNCF67WWRQWNZTZACOQPJY55TRWUO77Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QKVI7IOWXFTW3GSOM6SSVW5RC2SGXOHZC37KRVIEWU2J53JY74ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YYKL6PKU4UMN2JH3CNZY7TJLXTQOH3LWBWZ265DZAA42UWBUUKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VWUOXNNFLYO46YZUHXB2LOKDMVIXZBIEFTURLO3MNKO34PSHDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52CPL33UMNMVAC3WRVFBMTM57G3R4EYYC5HCGSMGAGRZ3E7SV65Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLXZJEZ5DJLCXUZ3MUFLEUJXBUUFOPPUK23I3SPIWPICWHMFAFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2O3TQUIWQS5DJTO5WBCZ3D6DPLHAZXUPP7T5VFM6IAREQJEB7QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LTCGZ65V5TYXF3HV77B5BL6273M3VCB4OB4CUVIL5LTRB5S2SYIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEWF4NNCVVREI32XMOAC6DG6PCXV336C3MCGRQL4TJINOAWOQSPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJJ4EMID3N4XJSTH3WBKNGWSWA6OD2XKQZ5IHUYZBNJE2JF3FMRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHSQT6T6WH6V5ZFLMYJ67MXYXSC6SNYOQTIMBSXOIIIMLVGWLTHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TX4LYJYH5QGVUZTCZ6KLE6DTYWNPS3W4G5YAQ3VU43ERAIVRTMHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XRPB6RX53D7KQNYRSF4Z4RPWQI2XBT4U5CMX6YYEOHQGAUE7P7UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTR7KHKKH6Z652FNKJTKDLKYMXWGUAAK4YH4XCDDFO64D2GL6HFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRPCYK3M4KYUF3VU4RD2STAK3EIYYWGVU7Y33OI5IS3KNMGHXXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEZJ7HLZP7Y5HACYZZWV4PIWX4V4QJ5S2LSXCNFCDWRWRMBN5L6Q/vendors.js"
            ]
        },
        "UpdateWorkflow": {
            "http": {
                "requestUri": "/workflow/{id}",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    },
                    "name": {},
                    "description": {},
                    "storageType": {},
                    "storageCapacity": {
                        "type": "integer"
                    },
                    "readmeMarkdown": {}
                }
            },
            "endpoint": {
                "hostPrefix": "workflows-"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MKFIKNMZJH2IIVNFXTFR7G6QOYCELW4CBMTLVQFQMM6R4NGLSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4VLDLHLITCRQYY5IWBIWMEKGNHS6WFZPOMCK3AIOUHQVPR25YSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N7IIZWGJFTVJDTBRCSIGDNX6GFKJ45PXGKK3JCYXK2I6LLPSCNUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6J3TQ7JYINSH7XNKDN2PMMIH4DJBSDCNU23Z5LNDNPBD6CS3JA5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2RLHHN47BFF3Y3KMGR2WNE2HX6BMG2PEUSWVY3JU4G2AOJGD4XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PGDHPMHP6V6J46WY3RKMDBDFIMPJ37EBA43DVMLNUGC56ZLBKYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPNSFXSU5SKO76OJOM2CSM3KK5HWWF72YMIFMSLN42R4U4SDHLTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5AYB3RIPP545MUUVZUM47G2OH5DCYK6VCVVBI5DYPIQRHQTVSJEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYXCNGAZMFD5TZ7GE6ESJNCF67WWRQWNZTZACOQPJY55TRWUO77Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QKVI7IOWXFTW3GSOM6SSVW5RC2SGXOHZC37KRVIEWU2J53JY74ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YYKL6PKU4UMN2JH3CNZY7TJLXTQOH3LWBWZ265DZAA42UWBUUKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VWUOXNNFLYO46YZUHXB2LOKDMVIXZBIEFTURLO3MNKO34PSHDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52CPL33UMNMVAC3WRVFBMTM57G3R4EYYC5HCGSMGAGRZ3E7SV65Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLXZJEZ5DJLCXUZ3MUFLEUJXBUUFOPPUK23I3SPIWPICWHMFAFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2O3TQUIWQS5DJTO5WBCZ3D6DPLHAZXUPP7T5VFM6IAREQJEB7QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LTCGZ65V5TYXF3HV77B5BL6273M3VCB4OB4CUVIL5LTRB5S2SYIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEWF4NNCVVREI32XMOAC6DG6PCXV336C3MCGRQL4TJINOAWOQSPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJJ4EMID3N4XJSTH3WBKNGWSWA6OD2XKQZ5IHUYZBNJE2JF3FMRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHSQT6T6WH6V5ZFLMYJ67MXYXSC6SNYOQTIMBSXOIIIMLVGWLTHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TX4LYJYH5QGVUZTCZ6KLE6DTYWNPS3W4G5YAQ3VU43ERAIVRTMHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XRPB6RX53D7KQNYRSF4Z4RPWQI2XBT4U5CMX6YYEOHQGAUE7P7UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTR7KHKKH6Z652FNKJTKDLKYMXWGUAAK4YH4XCDDFO64D2GL6HFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRPCYK3M4KYUF3VU4RD2STAK3EIYYWGVU7Y33OI5IS3KNMGHXXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEZJ7HLZP7Y5HACYZZWV4PIWX4V4QJ5S2LSXCNFCDWRWRMBN5L6Q/vendors.js"
            ]
        },
        "CreateRunCache": {
            "http": {
                "requestUri": "/runCache",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "cacheS3Location",
                    "requestId"
                ],
                "members": {
                    "cacheRunBehavior": {},
                    "cacheS3Location": {},
                    "description": {},
                    "name": {},
                    "requestId": {
                        "idempotencyToken": true
                    },
                    "tags": {
                        "shape": "S9"
                    },
                    "cacheBehavior": {},
                    "cacheBucketOwnerId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "arn": {},
                    "id": {},
                    "status": {},
                    "tags": {
                        "shape": "S9"
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "workflows-"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MKFIKNMZJH2IIVNFXTFR7G6QOYCELW4CBMTLVQFQMM6R4NGLSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4VLDLHLITCRQYY5IWBIWMEKGNHS6WFZPOMCK3AIOUHQVPR25YSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N7IIZWGJFTVJDTBRCSIGDNX6GFKJ45PXGKK3JCYXK2I6LLPSCNUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6J3TQ7JYINSH7XNKDN2PMMIH4DJBSDCNU23Z5LNDNPBD6CS3JA5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2RLHHN47BFF3Y3KMGR2WNE2HX6BMG2PEUSWVY3JU4G2AOJGD4XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PGDHPMHP6V6J46WY3RKMDBDFIMPJ37EBA43DVMLNUGC56ZLBKYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPNSFXSU5SKO76OJOM2CSM3KK5HWWF72YMIFMSLN42R4U4SDHLTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5AYB3RIPP545MUUVZUM47G2OH5DCYK6VCVVBI5DYPIQRHQTVSJEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYXCNGAZMFD5TZ7GE6ESJNCF67WWRQWNZTZACOQPJY55TRWUO77Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QKVI7IOWXFTW3GSOM6SSVW5RC2SGXOHZC37KRVIEWU2J53JY74ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YYKL6PKU4UMN2JH3CNZY7TJLXTQOH3LWBWZ265DZAA42UWBUUKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VWUOXNNFLYO46YZUHXB2LOKDMVIXZBIEFTURLO3MNKO34PSHDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52CPL33UMNMVAC3WRVFBMTM57G3R4EYYC5HCGSMGAGRZ3E7SV65Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLXZJEZ5DJLCXUZ3MUFLEUJXBUUFOPPUK23I3SPIWPICWHMFAFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2O3TQUIWQS5DJTO5WBCZ3D6DPLHAZXUPP7T5VFM6IAREQJEB7QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LTCGZ65V5TYXF3HV77B5BL6273M3VCB4OB4CUVIL5LTRB5S2SYIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEWF4NNCVVREI32XMOAC6DG6PCXV336C3MCGRQL4TJINOAWOQSPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJJ4EMID3N4XJSTH3WBKNGWSWA6OD2XKQZ5IHUYZBNJE2JF3FMRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHSQT6T6WH6V5ZFLMYJ67MXYXSC6SNYOQTIMBSXOIIIMLVGWLTHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TX4LYJYH5QGVUZTCZ6KLE6DTYWNPS3W4G5YAQ3VU43ERAIVRTMHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XRPB6RX53D7KQNYRSF4Z4RPWQI2XBT4U5CMX6YYEOHQGAUE7P7UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTR7KHKKH6Z652FNKJTKDLKYMXWGUAAK4YH4XCDDFO64D2GL6HFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRPCYK3M4KYUF3VU4RD2STAK3EIYYWGVU7Y33OI5IS3KNMGHXXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEZJ7HLZP7Y5HACYZZWV4PIWX4V4QJ5S2LSXCNFCDWRWRMBN5L6Q/vendors.js"
            ]
        },
        "DeleteRunCache": {
            "http": {
                "method": "DELETE",
                "requestUri": "/runCache/{id}",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "workflows-"
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MKFIKNMZJH2IIVNFXTFR7G6QOYCELW4CBMTLVQFQMM6R4NGLSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4VLDLHLITCRQYY5IWBIWMEKGNHS6WFZPOMCK3AIOUHQVPR25YSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N7IIZWGJFTVJDTBRCSIGDNX6GFKJ45PXGKK3JCYXK2I6LLPSCNUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6J3TQ7JYINSH7XNKDN2PMMIH4DJBSDCNU23Z5LNDNPBD6CS3JA5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2RLHHN47BFF3Y3KMGR2WNE2HX6BMG2PEUSWVY3JU4G2AOJGD4XQ/vendors.js",
[...]
