{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2022-04-06",
        "endpointPrefix": "omicssequences",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "ripServiceName": "omics/mosaic",
        "serviceFullName": "Amazon Omics Sequences",
        "serviceId": "OmicsSequences",
        "signatureVersion": "v4",
        "signingName": "omics",
        "uid": "omicssequences-2022-04-06",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/3PPEJG5Y6WX6FTFJSDOUJDTEZJMEHJS3ZSQCVO3CEPINTZ3CT7DQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5MKFIKNMZJH2IIVNFXTFR7G6QOYCELW4CBMTLVQFQMM6R4NGLSDA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L4VLDLHLITCRQYY5IWBIWMEKGNHS6WFZPOMCK3AIOUHQVPR25YSA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/N7IIZWGJFTVJDTBRCSIGDNX6GFKJ45PXGKK3JCYXK2I6LLPSCNUQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6J3TQ7JYINSH7XNKDN2PMMIH4DJBSDCNU23Z5LNDNPBD6CS3JA5Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/I2RLHHN47BFF3Y3KMGR2WNE2HX6BMG2PEUSWVY3JU4G2AOJGD4XQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4PGDHPMHP6V6J46WY3RKMDBDFIMPJ37EBA43DVMLNUGC56ZLBKYQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SPNSFXSU5SKO76OJOM2CSM3KK5HWWF72YMIFMSLN42R4U4SDHLTA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5AYB3RIPP545MUUVZUM47G2OH5DCYK6VCVVBI5DYPIQRHQTVSJEQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XYXCNGAZMFD5TZ7GE6ESJNCF67WWRQWNZTZACOQPJY55TRWUO77Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QKVI7IOWXFTW3GSOM6SSVW5RC2SGXOHZC37KRVIEWU2J53JY74ZA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4YYKL6PKU4UMN2JH3CNZY7TJLXTQOH3LWBWZ265DZAA42UWBUUKQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4VWUOXNNFLYO46YZUHXB2LOKDMVIXZBIEFTURLO3MNKO34PSHDYQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/52CPL33UMNMVAC3WRVFBMTM57G3R4EYYC5HCGSMGAGRZ3E7SV65Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CLXZJEZ5DJLCXUZ3MUFLEUJXBUUFOPPUK23I3SPIWPICWHMFAFBA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/G2O3TQUIWQS5DJTO5WBCZ3D6DPLHAZXUPP7T5VFM6IAREQJEB7QQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LTCGZ65V5TYXF3HV77B5BL6273M3VCB4OB4CUVIL5LTRB5S2SYIQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EEWF4NNCVVREI32XMOAC6DG6PCXV336C3MCGRQL4TJINOAWOQSPQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EJJ4EMID3N4XJSTH3WBKNGWSWA6OD2XKQZ5IHUYZBNJE2JF3FMRQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JHSQT6T6WH6V5ZFLMYJ67MXYXSC6SNYOQTIMBSXOIIIMLVGWLTHA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TX4LYJYH5QGVUZTCZ6KLE6DTYWNPS3W4G5YAQ3VU43ERAIVRTMHA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XRPB6RX53D7KQNYRSF4Z4RPWQI2XBT4U5CMX6YYEOHQGAUE7P7UQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NTR7KHKKH6Z652FNKJTKDLKYMXWGUAAK4YH4XCDDFO64D2GL6HFA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YRPCYK3M4KYUF3VU4RD2STAK3EIYYWGVU7Y33OI5IS3KNMGHXXMQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CEZJ7HLZP7Y5HACYZZWV4PIWX4V4QJ5S2LSXCNFCDWRWRMBN5L6Q/vendors.js"
        ]
    },
    "operations": {
        "AbortMultipartReadSetUpload": {
            "http": {
                "method": "DELETE",
                "requestUri": "/sequencestore/{sequenceStoreId}/upload/{uploadId}/abort",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "sequenceStoreId",
                    "uploadId"
                ],
                "members": {
                    "sequenceStoreId": {
                        "location": "uri",
                        "locationName": "sequenceStoreId"
                    },
                    "uploadId": {
                        "location": "uri",
                        "locationName": "uploadId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "authtype": "v4",
            "endpoint": {
                "hostPrefix": "control-storage-"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MKFIKNMZJH2IIVNFXTFR7G6QOYCELW4CBMTLVQFQMM6R4NGLSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4VLDLHLITCRQYY5IWBIWMEKGNHS6WFZPOMCK3AIOUHQVPR25YSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N7IIZWGJFTVJDTBRCSIGDNX6GFKJ45PXGKK3JCYXK2I6LLPSCNUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6J3TQ7JYINSH7XNKDN2PMMIH4DJBSDCNU23Z5LNDNPBD6CS3JA5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2RLHHN47BFF3Y3KMGR2WNE2HX6BMG2PEUSWVY3JU4G2AOJGD4XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PGDHPMHP6V6J46WY3RKMDBDFIMPJ37EBA43DVMLNUGC56ZLBKYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPNSFXSU5SKO76OJOM2CSM3KK5HWWF72YMIFMSLN42R4U4SDHLTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5AYB3RIPP545MUUVZUM47G2OH5DCYK6VCVVBI5DYPIQRHQTVSJEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYXCNGAZMFD5TZ7GE6ESJNCF67WWRQWNZTZACOQPJY55TRWUO77Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QKVI7IOWXFTW3GSOM6SSVW5RC2SGXOHZC37KRVIEWU2J53JY74ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YYKL6PKU4UMN2JH3CNZY7TJLXTQOH3LWBWZ265DZAA42UWBUUKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VWUOXNNFLYO46YZUHXB2LOKDMVIXZBIEFTURLO3MNKO34PSHDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52CPL33UMNMVAC3WRVFBMTM57G3R4EYYC5HCGSMGAGRZ3E7SV65Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLXZJEZ5DJLCXUZ3MUFLEUJXBUUFOPPUK23I3SPIWPICWHMFAFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2O3TQUIWQS5DJTO5WBCZ3D6DPLHAZXUPP7T5VFM6IAREQJEB7QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LTCGZ65V5TYXF3HV77B5BL6273M3VCB4OB4CUVIL5LTRB5S2SYIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEWF4NNCVVREI32XMOAC6DG6PCXV336C3MCGRQL4TJINOAWOQSPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJJ4EMID3N4XJSTH3WBKNGWSWA6OD2XKQZ5IHUYZBNJE2JF3FMRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHSQT6T6WH6V5ZFLMYJ67MXYXSC6SNYOQTIMBSXOIIIMLVGWLTHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TX4LYJYH5QGVUZTCZ6KLE6DTYWNPS3W4G5YAQ3VU43ERAIVRTMHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XRPB6RX53D7KQNYRSF4Z4RPWQI2XBT4U5CMX6YYEOHQGAUE7P7UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTR7KHKKH6Z652FNKJTKDLKYMXWGUAAK4YH4XCDDFO64D2GL6HFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRPCYK3M4KYUF3VU4RD2STAK3EIYYWGVU7Y33OI5IS3KNMGHXXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEZJ7HLZP7Y5HACYZZWV4PIWX4V4QJ5S2LSXCNFCDWRWRMBN5L6Q/vendors.js"
            ]
        },
        "BatchDeleteReadSet": {
            "http": {
                "requestUri": "/sequencestore/{sequenceStoreId}/readset/batch/delete",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ids",
                    "sequenceStoreId"
                ],
                "members": {
                    "ids": {
                        "type": "list",
                        "member": {}
                    },
                    "sequenceStoreId": {
                        "location": "uri",
                        "locationName": "sequenceStoreId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "errors": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "id",
                                "code",
                                "message"
                            ],
                            "members": {
                                "id": {},
                                "code": {},
                                "message": {}
                            }
                        }
                    }
                }
            },
            "authtype": "v4",
            "endpoint": {
                "hostPrefix": "control-storage-"
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MKFIKNMZJH2IIVNFXTFR7G6QOYCELW4CBMTLVQFQMM6R4NGLSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4VLDLHLITCRQYY5IWBIWMEKGNHS6WFZPOMCK3AIOUHQVPR25YSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N7IIZWGJFTVJDTBRCSIGDNX6GFKJ45PXGKK3JCYXK2I6LLPSCNUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6J3TQ7JYINSH7XNKDN2PMMIH4DJBSDCNU23Z5LNDNPBD6CS3JA5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2RLHHN47BFF3Y3KMGR2WNE2HX6BMG2PEUSWVY3JU4G2AOJGD4XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PGDHPMHP6V6J46WY3RKMDBDFIMPJ37EBA43DVMLNUGC56ZLBKYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPNSFXSU5SKO76OJOM2CSM3KK5HWWF72YMIFMSLN42R4U4SDHLTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5AYB3RIPP545MUUVZUM47G2OH5DCYK6VCVVBI5DYPIQRHQTVSJEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYXCNGAZMFD5TZ7GE6ESJNCF67WWRQWNZTZACOQPJY55TRWUO77Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QKVI7IOWXFTW3GSOM6SSVW5RC2SGXOHZC37KRVIEWU2J53JY74ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YYKL6PKU4UMN2JH3CNZY7TJLXTQOH3LWBWZ265DZAA42UWBUUKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VWUOXNNFLYO46YZUHXB2LOKDMVIXZBIEFTURLO3MNKO34PSHDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52CPL33UMNMVAC3WRVFBMTM57G3R4EYYC5HCGSMGAGRZ3E7SV65Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLXZJEZ5DJLCXUZ3MUFLEUJXBUUFOPPUK23I3SPIWPICWHMFAFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2O3TQUIWQS5DJTO5WBCZ3D6DPLHAZXUPP7T5VFM6IAREQJEB7QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LTCGZ65V5TYXF3HV77B5BL6273M3VCB4OB4CUVIL5LTRB5S2SYIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEWF4NNCVVREI32XMOAC6DG6PCXV336C3MCGRQL4TJINOAWOQSPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJJ4EMID3N4XJSTH3WBKNGWSWA6OD2XKQZ5IHUYZBNJE2JF3FMRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHSQT6T6WH6V5ZFLMYJ67MXYXSC6SNYOQTIMBSXOIIIMLVGWLTHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TX4LYJYH5QGVUZTCZ6KLE6DTYWNPS3W4G5YAQ3VU43ERAIVRTMHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XRPB6RX53D7KQNYRSF4Z4RPWQI2XBT4U5CMX6YYEOHQGAUE7P7UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTR7KHKKH6Z652FNKJTKDLKYMXWGUAAK4YH4XCDDFO64D2GL6HFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRPCYK3M4KYUF3VU4RD2STAK3EIYYWGVU7Y33OI5IS3KNMGHXXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEZJ7HLZP7Y5HACYZZWV4PIWX4V4QJ5S2LSXCNFCDWRWRMBN5L6Q/vendors.js"
            ]
        },
        "CompleteMultipartReadSetUpload": {
            "http": {
                "requestUri": "/sequencestore/{sequenceStoreId}/upload/{uploadId}/complete",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "sequenceStoreId",
                    "uploadId",
                    "parts"
                ],
                "members": {
                    "sequenceStoreId": {
                        "location": "uri",
                        "locationName": "sequenceStoreId"
                    },
                    "uploadId": {
                        "location": "uri",
                        "locationName": "uploadId"
                    },
                    "parts": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "partNumber",
                                "file",
                                "checksum"
                            ],
                            "members": {
                                "partNumber": {
                                    "type": "integer"
                                },
                                "file": {},
                                "checksum": {}
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "readSetId"
                ],
                "members": {
                    "readSetId": {}
                }
            },
            "authtype": "v4",
            "endpoint": {
                "hostPrefix": "storage-"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MKFIKNMZJH2IIVNFXTFR7G6QOYCELW4CBMTLVQFQMM6R4NGLSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4VLDLHLITCRQYY5IWBIWMEKGNHS6WFZPOMCK3AIOUHQVPR25YSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N7IIZWGJFTVJDTBRCSIGDNX6GFKJ45PXGKK3JCYXK2I6LLPSCNUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6J3TQ7JYINSH7XNKDN2PMMIH4DJBSDCNU23Z5LNDNPBD6CS3JA5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2RLHHN47BFF3Y3KMGR2WNE2HX6BMG2PEUSWVY3JU4G2AOJGD4XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PGDHPMHP6V6J46WY3RKMDBDFIMPJ37EBA43DVMLNUGC56ZLBKYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPNSFXSU5SKO76OJOM2CSM3KK5HWWF72YMIFMSLN42R4U4SDHLTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5AYB3RIPP545MUUVZUM47G2OH5DCYK6VCVVBI5DYPIQRHQTVSJEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYXCNGAZMFD5TZ7GE6ESJNCF67WWRQWNZTZACOQPJY55TRWUO77Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QKVI7IOWXFTW3GSOM6SSVW5RC2SGXOHZC37KRVIEWU2J53JY74ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YYKL6PKU4UMN2JH3CNZY7TJLXTQOH3LWBWZ265DZAA42UWBUUKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VWUOXNNFLYO46YZUHXB2LOKDMVIXZBIEFTURLO3MNKO34PSHDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52CPL33UMNMVAC3WRVFBMTM57G3R4EYYC5HCGSMGAGRZ3E7SV65Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLXZJEZ5DJLCXUZ3MUFLEUJXBUUFOPPUK23I3SPIWPICWHMFAFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2O3TQUIWQS5DJTO5WBCZ3D6DPLHAZXUPP7T5VFM6IAREQJEB7QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LTCGZ65V5TYXF3HV77B5BL6273M3VCB4OB4CUVIL5LTRB5S2SYIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEWF4NNCVVREI32XMOAC6DG6PCXV336C3MCGRQL4TJINOAWOQSPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJJ4EMID3N4XJSTH3WBKNGWSWA6OD2XKQZ5IHUYZBNJE2JF3FMRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHSQT6T6WH6V5ZFLMYJ67MXYXSC6SNYOQTIMBSXOIIIMLVGWLTHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TX4LYJYH5QGVUZTCZ6KLE6DTYWNPS3W4G5YAQ3VU43ERAIVRTMHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XRPB6RX53D7KQNYRSF4Z4RPWQI2XBT4U5CMX6YYEOHQGAUE7P7UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTR7KHKKH6Z652FNKJTKDLKYMXWGUAAK4YH4XCDDFO64D2GL6HFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRPCYK3M4KYUF3VU4RD2STAK3EIYYWGVU7Y33OI5IS3KNMGHXXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEZJ7HLZP7Y5HACYZZWV4PIWX4V4QJ5S2LSXCNFCDWRWRMBN5L6Q/vendors.js"
            ]
        },
        "CreateMultipartReadSetUpload": {
            "http": {
                "requestUri": "/sequencestore/{sequenceStoreId}/upload",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "sequenceStoreId",
                    "sourceFileType",
                    "subjectId",
                    "sampleId",
                    "referenceArn",
                    "name"
                ],
                "members": {
                    "sequenceStoreId": {
                        "location": "uri",
                        "locationName": "sequenceStoreId"
                    },
                    "clientToken": {},
                    "sourceFileType": {},
                    "subjectId": {},
                    "sampleId": {},
                    "generatedFrom": {},
                    "referenceArn": {},
                    "name": {},
                    "description": {},
                    "tags": {
                        "shape": "Sr"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "sequenceStoreId",
                    "uploadId",
                    "sourceFileType",
                    "subjectId",
                    "sampleId",
                    "referenceArn",
                    "creationTime"
                ],
                "members": {
                    "sequenceStoreId": {},
                    "uploadId": {},
                    "sourceFileType": {},
                    "subjectId": {},
                    "sampleId": {},
                    "generatedFrom": {},
                    "referenceArn": {},
                    "name": {},
                    "description": {},
                    "tags": {
                        "shape": "Sr"
                    },
                    "creationTime": {
                        "shape": "Sv"
                    }
                }
            },
            "authtype": "v4",
            "endpoint": {
                "hostPrefix": "control-storage-"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MKFIKNMZJH2IIVNFXTFR7G6QOYCELW4CBMTLVQFQMM6R4NGLSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4VLDLHLITCRQYY5IWBIWMEKGNHS6WFZPOMCK3AIOUHQVPR25YSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N7IIZWGJFTVJDTBRCSIGDNX6GFKJ45PXGKK3JCYXK2I6LLPSCNUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6J3TQ7JYINSH7XNKDN2PMMIH4DJBSDCNU23Z5LNDNPBD6CS3JA5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2RLHHN47BFF3Y3KMGR2WNE2HX6BMG2PEUSWVY3JU4G2AOJGD4XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PGDHPMHP6V6J46WY3RKMDBDFIMPJ37EBA43DVMLNUGC56ZLBKYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPNSFXSU5SKO76OJOM2CSM3KK5HWWF72YMIFMSLN42R4U4SDHLTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5AYB3RIPP545MUUVZUM47G2OH5DCYK6VCVVBI5DYPIQRHQTVSJEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYXCNGAZMFD5TZ7GE6ESJNCF67WWRQWNZTZACOQPJY55TRWUO77Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QKVI7IOWXFTW3GSOM6SSVW5RC2SGXOHZC37KRVIEWU2J53JY74ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YYKL6PKU4UMN2JH3CNZY7TJLXTQOH3LWBWZ265DZAA42UWBUUKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VWUOXNNFLYO46YZUHXB2LOKDMVIXZBIEFTURLO3MNKO34PSHDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52CPL33UMNMVAC3WRVFBMTM57G3R4EYYC5HCGSMGAGRZ3E7SV65Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLXZJEZ5DJLCXUZ3MUFLEUJXBUUFOPPUK23I3SPIWPICWHMFAFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2O3TQUIWQS5DJTO5WBCZ3D6DPLHAZXUPP7T5VFM6IAREQJEB7QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LTCGZ65V5TYXF3HV77B5BL6273M3VCB4OB4CUVIL5LTRB5S2SYIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEWF4NNCVVREI32XMOAC6DG6PCXV336C3MCGRQL4TJINOAWOQSPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJJ4EMID3N4XJSTH3WBKNGWSWA6OD2XKQZ5IHUYZBNJE2JF3FMRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHSQT6T6WH6V5ZFLMYJ67MXYXSC6SNYOQTIMBSXOIIIMLVGWLTHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TX4LYJYH5QGVUZTCZ6KLE6DTYWNPS3W4G5YAQ3VU43ERAIVRTMHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XRPB6RX53D7KQNYRSF4Z4RPWQI2XBT4U5CMX6YYEOHQGAUE7P7UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTR7KHKKH6Z652FNKJTKDLKYMXWGUAAK4YH4XCDDFO64D2GL6HFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRPCYK3M4KYUF3VU4RD2STAK3EIYYWGVU7Y33OI5IS3KNMGHXXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEZJ7HLZP7Y5HACYZZWV4PIWX4V4QJ5S2LSXCNFCDWRWRMBN5L6Q/vendors.js"
            ]
        },
        "CreateReferenceStore": {
            "http": {
                "requestUri": "/referencestore",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "name"
                ],
                "members": {
                    "name": {},
                    "description": {},
                    "sseConfig": {
                        "shape": "Sz"
                    },
                    "tags": {
                        "shape": "Sr"
                    },
                    "clientToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "id",
                    "arn",
                    "creationTime"
                ],
                "members": {
                    "id": {},
                    "arn": {},
                    "name": {},
                    "description": {},
                    "sseConfig": {
                        "shape": "Sz"
                    },
                    "creationTime": {
                        "shape": "Sv"
                    }
                }
            },
            "authtype": "v4",
            "endpoint": {
                "hostPrefix": "control-storage-"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MKFIKNMZJH2IIVNFXTFR7G6QOYCELW4CBMTLVQFQMM6R4NGLSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4VLDLHLITCRQYY5IWBIWMEKGNHS6WFZPOMCK3AIOUHQVPR25YSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N7IIZWGJFTVJDTBRCSIGDNX6GFKJ45PXGKK3JCYXK2I6LLPSCNUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6J3TQ7JYINSH7XNKDN2PMMIH4DJBSDCNU23Z5LNDNPBD6CS3JA5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2RLHHN47BFF3Y3KMGR2WNE2HX6BMG2PEUSWVY3JU4G2AOJGD4XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PGDHPMHP6V6J46WY3RKMDBDFIMPJ37EBA43DVMLNUGC56ZLBKYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPNSFXSU5SKO76OJOM2CSM3KK5HWWF72YMIFMSLN42R4U4SDHLTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5AYB3RIPP545MUUVZUM47G2OH5DCYK6VCVVBI5DYPIQRHQTVSJEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYXCNGAZMFD5TZ7GE6ESJNCF67WWRQWNZTZACOQPJY55TRWUO77Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QKVI7IOWXFTW3GSOM6SSVW5RC2SGXOHZC37KRVIEWU2J53JY74ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YYKL6PKU4UMN2JH3CNZY7TJLXTQOH3LWBWZ265DZAA42UWBUUKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VWUOXNNFLYO46YZUHXB2LOKDMVIXZBIEFTURLO3MNKO34PSHDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52CPL33UMNMVAC3WRVFBMTM57G3R4EYYC5HCGSMGAGRZ3E7SV65Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLXZJEZ5DJLCXUZ3MUFLEUJXBUUFOPPUK23I3SPIWPICWHMFAFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2O3TQUIWQS5DJTO5WBCZ3D6DPLHAZXUPP7T5VFM6IAREQJEB7QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LTCGZ65V5TYXF3HV77B5BL6273M3VCB4OB4CUVIL5LTRB5S2SYIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEWF4NNCVVREI32XMOAC6DG6PCXV336C3MCGRQL4TJINOAWOQSPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJJ4EMID3N4XJSTH3WBKNGWSWA6OD2XKQZ5IHUYZBNJE2JF3FMRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHSQT6T6WH6V5ZFLMYJ67MXYXSC6SNYOQTIMBSXOIIIMLVGWLTHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TX4LYJYH5QGVUZTCZ6KLE6DTYWNPS3W4G5YAQ3VU43ERAIVRTMHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XRPB6RX53D7KQNYRSF4Z4RPWQI2XBT4U5CMX6YYEOHQGAUE7P7UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTR7KHKKH6Z652FNKJTKDLKYMXWGUAAK4YH4XCDDFO64D2GL6HFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRPCYK3M4KYUF3VU4RD2STAK3EIYYWGVU7Y33OI5IS3KNMGHXXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEZJ7HLZP7Y5HACYZZWV4PIWX4V4QJ5S2LSXCNFCDWRWRMBN5L6Q/vendors.js"
            ]
        },
        "CreateSequenceStore": {
            "http": {
                "requestUri": "/sequencestore",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "name"
                ],
                "members": {
                    "name": {},
                    "description": {},
                    "sseConfig": {
                        "shape": "Sz"
                    },
                    "tags": {
                        "shape": "Sr"
                    },
                    "clientToken": {},
                    "evacuationLocation": {},
                    "fallbackLocation": {},
                    "eTagAlgorithmFamily": {},
                    "tagsToSync": {
                        "shape": "S1b"
                    },
                    "s3AccessLogLocation": {},
                    "propagatedSetLevelTags": {
                        "shape": "S1b"
                    },
                    "s3AccessConfig": {
                        "shape": "S1c"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "id",
                    "arn",
                    "creationTime"
                ],
                "members": {
                    "id": {},
                    "arn": {},
                    "name": {},
                    "description": {},
                    "sseConfig": {
                        "shape": "Sz"
                    },
                    "creationTime": {
                        "shape": "Sv"
                    },
                    "evacuationLocation": {}
                }
            },
            "authtype": "v4",
            "endpoint": {
                "hostPrefix": "control-storage-"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MKFIKNMZJH2IIVNFXTFR7G6QOYCELW4CBMTLVQFQMM6R4NGLSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4VLDLHLITCRQYY5IWBIWMEKGNHS6WFZPOMCK3AIOUHQVPR25YSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N7IIZWGJFTVJDTBRCSIGDNX6GFKJ45PXGKK3JCYXK2I6LLPSCNUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6J3TQ7JYINSH7XNKDN2PMMIH4DJBSDCNU23Z5LNDNPBD6CS3JA5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2RLHHN47BFF3Y3KMGR2WNE2HX6BMG2PEUSWVY3JU4G2AOJGD4XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PGDHPMHP6V6J46WY3RKMDBDFIMPJ37EBA43DVMLNUGC56ZLBKYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPNSFXSU5SKO76OJOM2CSM3KK5HWWF72YMIFMSLN42R4U4SDHLTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5AYB3RIPP545MUUVZUM47G2OH5DCYK6VCVVBI5DYPIQRHQTVSJEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYXCNGAZMFD5TZ7GE6ESJNCF67WWRQWNZTZACOQPJY55TRWUO77Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QKVI7IOWXFTW3GSOM6SSVW5RC2SGXOHZC37KRVIEWU2J53JY74ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YYKL6PKU4UMN2JH3CNZY7TJLXTQOH3LWBWZ265DZAA42UWBUUKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VWUOXNNFLYO46YZUHXB2LOKDMVIXZBIEFTURLO3MNKO34PSHDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52CPL33UMNMVAC3WRVFBMTM57G3R4EYYC5HCGSMGAGRZ3E7SV65Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLXZJEZ5DJLCXUZ3MUFLEUJXBUUFOPPUK23I3SPIWPICWHMFAFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2O3TQUIWQS5DJTO5WBCZ3D6DPLHAZXUPP7T5VFM6IAREQJEB7QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LTCGZ65V5TYXF3HV77B5BL6273M3VCB4OB4CUVIL5LTRB5S2SYIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEWF4NNCVVREI32XMOAC6DG6PCXV336C3MCGRQL4TJINOAWOQSPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJJ4EMID3N4XJSTH3WBKNGWSWA6OD2XKQZ5IHUYZBNJE2JF3FMRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHSQT6T6WH6V5ZFLMYJ67MXYXSC6SNYOQTIMBSXOIIIMLVGWLTHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TX4LYJYH5QGVUZTCZ6KLE6DTYWNPS3W4G5YAQ3VU43ERAIVRTMHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XRPB6RX53D7KQNYRSF4Z4RPWQI2XBT4U5CMX6YYEOHQGAUE7P7UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTR7KHKKH6Z652FNKJTKDLKYMXWGUAAK4YH4XCDDFO64D2GL6HFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRPCYK3M4KYUF3VU4RD2STAK3EIYYWGVU7Y33OI5IS3KNMGHXXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEZJ7HLZP7Y5HACYZZWV4PIWX4V4QJ5S2LSXCNFCDWRWRMBN5L6Q/vendors.js"
            ]
        },
        "DeleteReference": {
            "http": {
                "method": "DELETE",
                "requestUri": "/referencestore/{referenceStoreId}/reference/{id}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "id",
                    "referenceStoreId"
                ],
                "members": {
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    },
                    "referenceStoreId": {
                        "location": "uri",
                        "locationName": "referenceStoreId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "authtype": "v4",
            "endpoint": {
                "hostPrefix": "control-storage-"
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MKFIKNMZJH2IIVNFXTFR7G6QOYCELW4CBMTLVQFQMM6R4NGLSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4VLDLHLITCRQYY5IWBIWMEKGNHS6WFZPOMCK3AIOUHQVPR25YSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N7IIZWGJFTVJDTBRCSIGDNX6GFKJ45PXGKK3JCYXK2I6LLPSCNUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6J3TQ7JYINSH7XNKDN2PMMIH4DJBSDCNU23Z5LNDNPBD6CS3JA5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2RLHHN47BFF3Y3KMGR2WNE2HX6BMG2PEUSWVY3JU4G2AOJGD4XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PGDHPMHP6V6J46WY3RKMDBDFIMPJ37EBA43DVMLNUGC56ZLBKYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPNSFXSU5SKO76OJOM2CSM3KK5HWWF72YMIFMSLN42R4U4SDHLTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5AYB3RIPP545MUUVZUM47G2OH5DCYK6VCVVBI5DYPIQRHQTVSJEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYXCNGAZMFD5TZ7GE6ESJNCF67WWRQWNZTZACOQPJY55TRWUO77Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QKVI7IOWXFTW3GSOM6SSVW5RC2SGXOHZC37KRVIEWU2J53JY74ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YYKL6PKU4UMN2JH3CNZY7TJLXTQOH3LWBWZ265DZAA42UWBUUKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VWUOXNNFLYO46YZUHXB2LOKDMVIXZBIEFTURLO3MNKO34PSHDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52CPL33UMNMVAC3WRVFBMTM57G3R4EYYC5HCGSMGAGRZ3E7SV65Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLXZJEZ5DJLCXUZ3MUFLEUJXBUUFOPPUK23I3SPIWPICWHMFAFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2O3TQUIWQS5DJTO5WBCZ3D6DPLHAZXUPP7T5VFM6IAREQJEB7QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LTCGZ65V5TYXF3HV77B5BL6273M3VCB4OB4CUVIL5LTRB5S2SYIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEWF4NNCVVREI32XMOAC6DG6PCXV336C3MCGRQL4TJINOAWOQSPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJJ4EMID3N4XJSTH3WBKNGWSWA6OD2XKQZ5IHUYZBNJE2JF3FMRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHSQT6T6WH6V5ZFLMYJ67MXYXSC6SNYOQTIMBSXOIIIMLVGWLTHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TX4LYJYH5QGVUZTCZ6KLE6DTYWNPS3W4G5YAQ3VU43ERAIVRTMHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XRPB6RX53D7KQNYRSF4Z4RPWQI2XBT4U5CMX6YYEOHQGAUE7P7UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTR7KHKKH6Z652FNKJTKDLKYMXWGUAAK4YH4XCDDFO64D2GL6HFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRPCYK3M4KYUF3VU4RD2STAK3EIYYWGVU7Y33OI5IS3KNMGHXXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEZJ7HLZP7Y5HACYZZWV4PIWX4V4QJ5S2LSXCNFCDWRWRMBN5L6Q/vendors.js"
            ]
        },
        "DeleteReferenceStore": {
            "http": {
                "method": "DELETE",
                "requestUri": "/referencestore/{id}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "authtype": "v4",
            "endpoint": {
                "hostPrefix": "control-storage-"
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MKFIKNMZJH2IIVNFXTFR7G6QOYCELW4CBMTLVQFQMM6R4NGLSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4VLDLHLITCRQYY5IWBIWMEKGNHS6WFZPOMCK3AIOUHQVPR25YSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N7IIZWGJFTVJDTBRCSIGDNX6GFKJ45PXGKK3JCYXK2I6LLPSCNUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6J3TQ7JYINSH7XNKDN2PMMIH4DJBSDCNU23Z5LNDNPBD6CS3JA5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2RLHHN47BFF3Y3KMGR2WNE2HX6BMG2PEUSWVY3JU4G2AOJGD4XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PGDHPMHP6V6J46WY3RKMDBDFIMPJ37EBA43DVMLNUGC56ZLBKYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPNSFXSU5SKO76OJOM2CSM3KK5HWWF72YMIFMSLN42R4U4SDHLTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5AYB3RIPP545MUUVZUM47G2OH5DCYK6VCVVBI5DYPIQRHQTVSJEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYXCNGAZMFD5TZ7GE6ESJNCF67WWRQWNZTZACOQPJY55TRWUO77Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QKVI7IOWXFTW3GSOM6SSVW5RC2SGXOHZC37KRVIEWU2J53JY74ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YYKL6PKU4UMN2JH3CNZY7TJLXTQOH3LWBWZ265DZAA42UWBUUKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VWUOXNNFLYO46YZUHXB2LOKDMVIXZBIEFTURLO3MNKO34PSHDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52CPL33UMNMVAC3WRVFBMTM57G3R4EYYC5HCGSMGAGRZ3E7SV65Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLXZJEZ5DJLCXUZ3MUFLEUJXBUUFOPPUK23I3SPIWPICWHMFAFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2O3TQUIWQS5DJTO5WBCZ3D6DPLHAZXUPP7T5VFM6IAREQJEB7QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LTCGZ65V5TYXF3HV77B5BL6273M3VCB4OB4CUVIL5LTRB5S2SYIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEWF4NNCVVREI32XMOAC6DG6PCXV336C3MCGRQL4TJINOAWOQSPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJJ4EMID3N4XJSTH3WBKNGWSWA6OD2XKQZ5IHUYZBNJE2JF3FMRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHSQT6T6WH6V5ZFLMYJ67MXYXSC6SNYOQTIMBSXOIIIMLVGWLTHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TX4LYJYH5QGVUZTCZ6KLE6DTYWNPS3W4G5YAQ3VU43ERAIVRTMHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XRPB6RX53D7KQNYRSF4Z4RPWQI2XBT4U5CMX6YYEOHQGAUE7P7UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTR7KHKKH6Z652FNKJTKDLKYMXWGUAAK4YH4XCDDFO64D2GL6HFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRPCYK3M4KYUF3VU4RD2STAK3EIYYWGVU7Y33OI5IS3KNMGHXXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEZJ7HLZP7Y5HACYZZWV4PIWX4V4QJ5S2LSXCNFCDWRWRMBN5L6Q/vendors.js"
            ]
        },
        "DeleteSequenceStore": {
            "http": {
                "method": "DELETE",
                "requestUri": "/sequencestore/{id}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "authtype": "v4",
            "endpoint": {
                "hostPrefix": "control-storage-"
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MKFIKNMZJH2IIVNFXTFR7G6QOYCELW4CBMTLVQFQMM6R4NGLSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4VLDLHLITCRQYY5IWBIWMEKGNHS6WFZPOMCK3AIOUHQVPR25YSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N7IIZWGJFTVJDTBRCSIGDNX6GFKJ45PXGKK3JCYXK2I6LLPSCNUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6J3TQ7JYINSH7XNKDN2PMMIH4DJBSDCNU23Z5LNDNPBD6CS3JA5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2RLHHN47BFF3Y3KMGR2WNE2HX6BMG2PEUSWVY3JU4G2AOJGD4XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PGDHPMHP6V6J46WY3RKMDBDFIMPJ37EBA43DVMLNUGC56ZLBKYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPNSFXSU5SKO76OJOM2CSM3KK5HWWF72YMIFMSLN42R4U4SDHLTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5AYB3RIPP545MUUVZUM47G2OH5DCYK6VCVVBI5DYPIQRHQTVSJEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYXCNGAZMFD5TZ7GE6ESJNCF67WWRQWNZTZACOQPJY55TRWUO77Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QKVI7IOWXFTW3GSOM6SSVW5RC2SGXOHZC37KRVIEWU2J53JY74ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YYKL6PKU4UMN2JH3CNZY7TJLXTQOH3LWBWZ265DZAA42UWBUUKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VWUOXNNFLYO46YZUHXB2LOKDMVIXZBIEFTURLO3MNKO34PSHDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52CPL33UMNMVAC3WRVFBMTM57G3R4EYYC5HCGSMGAGRZ3E7SV65Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLXZJEZ5DJLCXUZ3MUFLEUJXBUUFOPPUK23I3SPIWPICWHMFAFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2O3TQUIWQS5DJTO5WBCZ3D6DPLHAZXUPP7T5VFM6IAREQJEB7QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LTCGZ65V5TYXF3HV77B5BL6273M3VCB4OB4CUVIL5LTRB5S2SYIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEWF4NNCVVREI32XMOAC6DG6PCXV336C3MCGRQL4TJINOAWOQSPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJJ4EMID3N4XJSTH3WBKNGWSWA6OD2XKQZ5IHUYZBNJE2JF3FMRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHSQT6T6WH6V5ZFLMYJ67MXYXSC6SNYOQTIMBSXOIIIMLVGWLTHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TX4LYJYH5QGVUZTCZ6KLE6DTYWNPS3W4G5YAQ3VU43ERAIVRTMHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XRPB6RX53D7KQNYRSF4Z4RPWQI2XBT4U5CMX6YYEOHQGAUE7P7UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTR7KHKKH6Z652FNKJTKDLKYMXWGUAAK4YH4XCDDFO64D2GL6HFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRPCYK3M4KYUF3VU4RD2STAK3EIYYWGVU7Y33OI5IS3KNMGHXXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEZJ7HLZP7Y5HACYZZWV4PIWX4V4QJ5S2LSXCNFCDWRWRMBN5L6Q/vendors.js"
            ]
        },
        "GetReadSet": {
            "http": {
                "method": "GET",
                "requestUri": "/sequencestore/{sequenceStoreId}/readset/{id}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "id",
                    "sequenceStoreId",
                    "partNumber"
                ],
                "members": {
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    },
                    "sequenceStoreId": {
                        "location": "uri",
                        "locationName": "sequenceStoreId"
                    },
                    "file": {
                        "location": "querystring",
                        "locationName": "file"
                    },
                    "partNumber": {
                        "location": "querystring",
                        "locationName": "partNumber",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "payload": {
                        "type": "blob",
                        "streaming": true
                    }
                },
                "payload": "payload"
            },
            "authtype": "v4",
            "endpoint": {
                "hostPrefix": "storage-"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MKFIKNMZJH2IIVNFXTFR7G6QOYCELW4CBMTLVQFQMM6R4NGLSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4VLDLHLITCRQYY5IWBIWMEKGNHS6WFZPOMCK3AIOUHQVPR25YSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N7IIZWGJFTVJDTBRCSIGDNX6GFKJ45PXGKK3JCYXK2I6LLPSCNUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6J3TQ7JYINSH7XNKDN2PMMIH4DJBSDCNU23Z5LNDNPBD6CS3JA5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2RLHHN47BFF3Y3KMGR2WNE2HX6BMG2PEUSWVY3JU4G2AOJGD4XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PGDHPMHP6V6J46WY3RKMDBDFIMPJ37EBA43DVMLNUGC56ZLBKYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPNSFXSU5SKO76OJOM2CSM3KK5HWWF72YMIFMSLN42R4U4SDHLTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5AYB3RIPP545MUUVZUM47G2OH5DCYK6VCVVBI5DYPIQRHQTVSJEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYXCNGAZMFD5TZ7GE6ESJNCF67WWRQWNZTZACOQPJY55TRWUO77Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QKVI7IOWXFTW3GSOM6SSVW5RC2SGXOHZC37KRVIEWU2J53JY74ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YYKL6PKU4UMN2JH3CNZY7TJLXTQOH3LWBWZ265DZAA42UWBUUKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VWUOXNNFLYO46YZUHXB2LOKDMVIXZBIEFTURLO3MNKO34PSHDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52CPL33UMNMVAC3WRVFBMTM57G3R4EYYC5HCGSMGAGRZ3E7SV65Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLXZJEZ5DJLCXUZ3MUFLEUJXBUUFOPPUK23I3SPIWPICWHMFAFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2O3TQUIWQS5DJTO5WBCZ3D6DPLHAZXUPP7T5VFM6IAREQJEB7QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LTCGZ65V5TYXF3HV77B5BL6273M3VCB4OB4CUVIL5LTRB5S2SYIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEWF4NNCVVREI32XMOAC6DG6PCXV336C3MCGRQL4TJINOAWOQSPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJJ4EMID3N4XJSTH3WBKNGWSWA6OD2XKQZ5IHUYZBNJE2JF3FMRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHSQT6T6WH6V5ZFLMYJ67MXYXSC6SNYOQTIMBSXOIIIMLVGWLTHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TX4LYJYH5QGVUZTCZ6KLE6DTYWNPS3W4G5YAQ3VU43ERAIVRTMHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XRPB6RX53D7KQNYRSF4Z4RPWQI2XBT4U5CMX6YYEOHQGAUE7P7UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTR7KHKKH6Z652FNKJTKDLKYMXWGUAAK4YH4XCDDFO64D2GL6HFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRPCYK3M4KYUF3VU4RD2STAK3EIYYWGVU7Y33OI5IS3KNMGHXXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEZJ7HLZP7Y5HACYZZWV4PIWX4V4QJ5S2LSXCNFCDWRWRMBN5L6Q/vendors.js"
            ]
        },
        "GetReadSetActivationJob": {
            "http": {
                "method": "GET",
                "requestUri": "/sequencestore/{sequenceStoreId}/activationjob/{id}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "id",
                    "sequenceStoreId"
                ],
                "members": {
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    },
                    "sequenceStoreId": {
                        "location": "uri",
                        "locationName": "sequenceStoreId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "id",
                    "sequenceStoreId",
                    "status",
                    "creationTime"
                ],
                "members": {
                    "id": {},
                    "sequenceStoreId": {},
                    "status": {},
                    "statusMessage": {},
                    "creationTime": {
                        "shape": "Sv"
                    },
                    "completionTime": {
                        "shape": "Sv"
                    },
                    "sources": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "readSetId",
                                "status"
                            ],
                            "members": {
                                "readSetId": {},
                                "status": {},
                                "statusMessage": {}
                            }
                        }
                    }
                }
            },
            "authtype": "v4",
            "endpoint": {
                "hostPrefix": "control-storage-"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MKFIKNMZJH2IIVNFXTFR7G6QOYCELW4CBMTLVQFQMM6R4NGLSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4VLDLHLITCRQYY5IWBIWMEKGNHS6WFZPOMCK3AIOUHQVPR25YSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N7IIZWGJFTVJDTBRCSIGDNX6GFKJ45PXGKK3JCYXK2I6LLPSCNUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6J3TQ7JYINSH7XNKDN2PMMIH4DJBSDCNU23Z5LNDNPBD6CS3JA5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2RLHHN47BFF3Y3KMGR2WNE2HX6BMG2PEUSWVY3JU4G2AOJGD4XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PGDHPMHP6V6J46WY3RKMDBDFIMPJ37EBA43DVMLNUGC56ZLBKYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPNSFXSU5SKO76OJOM2CSM3KK5HWWF72YMIFMSLN42R4U4SDHLTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5AYB3RIPP545MUUVZUM47G2OH5DCYK6VCVVBI5DYPIQRHQTVSJEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYXCNGAZMFD5TZ7GE6ESJNCF67WWRQWNZTZACOQPJY55TRWUO77Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QKVI7IOWXFTW3GSOM6SSVW5RC2SGXOHZC37KRVIEWU2J53JY74ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YYKL6PKU4UMN2JH3CNZY7TJLXTQOH3LWBWZ265DZAA42UWBUUKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VWUOXNNFLYO46YZUHXB2LOKDMVIXZBIEFTURLO3MNKO34PSHDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52CPL33UMNMVAC3WRVFBMTM57G3R4EYYC5HCGSMGAGRZ3E7SV65Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLXZJEZ5DJLCXUZ3MUFLEUJXBUUFOPPUK23I3SPIWPICWHMFAFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2O3TQUIWQS5DJTO5WBCZ3D6DPLHAZXUPP7T5VFM6IAREQJEB7QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LTCGZ65V5TYXF3HV77B5BL6273M3VCB4OB4CUVIL5LTRB5S2SYIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEWF4NNCVVREI32XMOAC6DG6PCXV336C3MCGRQL4TJINOAWOQSPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJJ4EMID3N4XJSTH3WBKNGWSWA6OD2XKQZ5IHUYZBNJE2JF3FMRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHSQT6T6WH6V5ZFLMYJ67MXYXSC6SNYOQTIMBSXOIIIMLVGWLTHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TX4LYJYH5QGVUZTCZ6KLE6DTYWNPS3W4G5YAQ3VU43ERAIVRTMHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XRPB6RX53D7KQNYRSF4Z4RPWQI2XBT4U5CMX6YYEOHQGAUE7P7UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTR7KHKKH6Z652FNKJTKDLKYMXWGUAAK4YH4XCDDFO64D2GL6HFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRPCYK3M4KYUF3VU4RD2STAK3EIYYWGVU7Y33OI5IS3KNMGHXXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEZJ7HLZP7Y5HACYZZWV4PIWX4V4QJ5S2LSXCNFCDWRWRMBN5L6Q/vendors.js"
            ]
        },
        "GetReadSetExportJob": {
            "http": {
                "method": "GET",
                "requestUri": "/sequencestore/{sequenceStoreId}/exportjob/{id}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "sequenceStoreId",
                    "id"
                ],
                "members": {
                    "sequenceStoreId": {
                        "location": "uri",
                        "locationName": "sequenceStoreId"
                    },
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "id",
                    "sequenceStoreId",
                    "destination",
                    "status",
                    "creationTime"
                ],
                "members": {
                    "id": {},
                    "sequenceStoreId": {},
                    "destination": {},
                    "status": {},
                    "statusMessage": {},
                    "creationTime": {
                        "shape": "Sv"
                    },
                    "completionTime": {
                        "shape": "Sv"
                    },
                    "readSets": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "id",
                                "status"
                            ],
                            "members": {
                                "id": {},
                                "status": {},
                                "statusMessage": {}
                            }
                        }
                    }
                }
            },
            "authtype": "v4",
            "endpoint": {
                "hostPrefix": "control-storage-"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MKFIKNMZJH2IIVNFXTFR7G6QOYCELW4CBMTLVQFQMM6R4NGLSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4VLDLHLITCRQYY5IWBIWMEKGNHS6WFZPOMCK3AIOUHQVPR25YSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N7IIZWGJFTVJDTBRCSIGDNX6GFKJ45PXGKK3JCYXK2I6LLPSCNUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6J3TQ7JYINSH7XNKDN2PMMIH4DJBSDCNU23Z5LNDNPBD6CS3JA5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2RLHHN47BFF3Y3KMGR2WNE2HX6BMG2PEUSWVY3JU4G2AOJGD4XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PGDHPMHP6V6J46WY3RKMDBDFIMPJ37EBA43DVMLNUGC56ZLBKYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPNSFXSU5SKO76OJOM2CSM3KK5HWWF72YMIFMSLN42R4U4SDHLTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5AYB3RIPP545MUUVZUM47G2OH5DCYK6VCVVBI5DYPIQRHQTVSJEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYXCNGAZMFD5TZ7GE6ESJNCF67WWRQWNZTZACOQPJY55TRWUO77Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QKVI7IOWXFTW3GSOM6SSVW5RC2SGXOHZC37KRVIEWU2J53JY74ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YYKL6PKU4UMN2JH3CNZY7TJLXTQOH3LWBWZ265DZAA42UWBUUKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VWUOXNNFLYO46YZUHXB2LOKDMVIXZBIEFTURLO3MNKO34PSHDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52CPL33UMNMVAC3WRVFBMTM57G3R4EYYC5HCGSMGAGRZ3E7SV65Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLXZJEZ5DJLCXUZ3MUFLEUJXBUUFOPPUK23I3SPIWPICWHMFAFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2O3TQUIWQS5DJTO5WBCZ3D6DPLHAZXUPP7T5VFM6IAREQJEB7QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LTCGZ65V5TYXF3HV77B5BL6273M3VCB4OB4CUVIL5LTRB5S2SYIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEWF4NNCVVREI32XMOAC6DG6PCXV336C3MCGRQL4TJINOAWOQSPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJJ4EMID3N4XJSTH3WBKNGWSWA6OD2XKQZ5IHUYZBNJE2JF3FMRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHSQT6T6WH6V5ZFLMYJ67MXYXSC6SNYOQTIMBSXOIIIMLVGWLTHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TX4LYJYH5QGVUZTCZ6KLE6DTYWNPS3W4G5YAQ3VU43ERAIVRTMHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XRPB6RX53D7KQNYRSF4Z4RPWQI2XBT4U5CMX6YYEOHQGAUE7P7UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTR7KHKKH6Z652FNKJTKDLKYMXWGUAAK4YH4XCDDFO64D2GL6HFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRPCYK3M4KYUF3VU4RD2STAK3EIYYWGVU7Y33OI5IS3KNMGHXXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEZJ7HLZP7Y5HACYZZWV4PIWX4V4QJ5S2LSXCNFCDWRWRMBN5L6Q/vendors.js"
            ]
        },
        "GetReadSetImportJob": {
            "http": {
                "method": "GET",
                "requestUri": "/sequencestore/{sequenceStoreId}/importjob/{id}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "id",
                    "sequenceStoreId"
                ],
                "members": {
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    },
                    "sequenceStoreId": {
                        "location": "uri",
                        "locationName": "sequenceStoreId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "id",
                    "sequenceStoreId",
                    "roleArn",
                    "status",
                    "creationTime",
                    "sources"
                ],
                "members": {
                    "id": {},
                    "sequenceStoreId": {},
                    "roleArn": {},
                    "status": {},
                    "statusMessage": {},
                    "creationTime": {
                        "shape": "Sv"
                    },
                    "completionTime": {
                        "shape": "Sv"
                    },
                    "sources": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "sourceFiles",
                                "sourceFileType",
                                "status",
                                "subjectId",
                                "sampleId"
                            ],
                            "members": {
                                "sourceFiles": {
                                    "shape": "S29"
                                },
                                "sourceFileType": {},
                                "status": {},
                                "statusMessage": {},
                                "subjectId": {},
                                "sampleId": {},
                                "generatedFrom": {},
                                "referenceArn": {},
                                "name": {},
                                "description": {},
                                "tags": {
                                    "shape": "Sr"
                                }
                            }
                        }
                    }
                }
            },
            "authtype": "v4",
            "endpoint": {
                "hostPrefix": "control-storage-"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MKFIKNMZJH2IIVNFXTFR7G6QOYCELW4CBMTLVQFQMM6R4NGLSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4VLDLHLITCRQYY5IWBIWMEKGNHS6WFZPOMCK3AIOUHQVPR25YSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N7IIZWGJFTVJDTBRCSIGDNX6GFKJ45PXGKK3JCYXK2I6LLPSCNUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6J3TQ7JYINSH7XNKDN2PMMIH4DJBSDCNU23Z5LNDNPBD6CS3JA5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2RLHHN47BFF3Y3KMGR2WNE2HX6BMG2PEUSWVY3JU4G2AOJGD4XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PGDHPMHP6V6J46WY3RKMDBDFIMPJ37EBA43DVMLNUGC56ZLBKYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPNSFXSU5SKO76OJOM2CSM3KK5HWWF72YMIFMSLN42R4U4SDHLTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5AYB3RIPP545MUUVZUM47G2OH5DCYK6VCVVBI5DYPIQRHQTVSJEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYXCNGAZMFD5TZ7GE6ESJNCF67WWRQWNZTZACOQPJY55TRWUO77Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QKVI7IOWXFTW3GSOM6SSVW5RC2SGXOHZC37KRVIEWU2J53JY74ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YYKL6PKU4UMN2JH3CNZY7TJLXTQOH3LWBWZ265DZAA42UWBUUKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VWUOXNNFLYO46YZUHXB2LOKDMVIXZBIEFTURLO3MNKO34PSHDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52CPL33UMNMVAC3WRVFBMTM57G3R4EYYC5HCGSMGAGRZ3E7SV65Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLXZJEZ5DJLCXUZ3MUFLEUJXBUUFOPPUK23I3SPIWPICWHMFAFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2O3TQUIWQS5DJTO5WBCZ3D6DPLHAZXUPP7T5VFM6IAREQJEB7QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LTCGZ65V5TYXF3HV77B5BL6273M3VCB4OB4CUVIL5LTRB5S2SYIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEWF4NNCVVREI32XMOAC6DG6PCXV336C3MCGRQL4TJINOAWOQSPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJJ4EMID3N4XJSTH3WBKNGWSWA6OD2XKQZ5IHUYZBNJE2JF3FMRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHSQT6T6WH6V5ZFLMYJ67MXYXSC6SNYOQTIMBSXOIIIMLVGWLTHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TX4LYJYH5QGVUZTCZ6KLE6DTYWNPS3W4G5YAQ3VU43ERAIVRTMHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XRPB6RX53D7KQNYRSF4Z4RPWQI2XBT4U5CMX6YYEOHQGAUE7P7UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTR7KHKKH6Z652FNKJTKDLKYMXWGUAAK4YH4XCDDFO64D2GL6HFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRPCYK3M4KYUF3VU4RD2STAK3EIYYWGVU7Y33OI5IS3KNMGHXXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEZJ7HLZP7Y5HACYZZWV4PIWX4V4QJ5S2LSXCNFCDWRWRMBN5L6Q/vendors.js"
            ]
        },
        "GetReadSetMetadata": {
            "http": {
                "method": "GET",
                "requestUri": "/sequencestore/{sequenceStoreId}/readset/{id}/metadata",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "id",
                    "sequenceStoreId"
                ],
                "members": {
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    },
                    "sequenceStoreId": {
                        "location": "uri",
                        "locationName": "sequenceStoreId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "id",
                    "arn",
                    "sequenceStoreId",
                    "status",
                    "fileType",
                    "creationTime"
                ],
                "members": {
                    "id": {},
                    "arn": {},
                    "sequenceStoreId": {},
                    "subjectId": {},
                    "sampleId": {},
                    "status": {},
                    "name": {},
                    "description": {},
                    "fileType": {},
                    "creationTime": {
                        "shape": "Sv"
                    },
                    "sequenceInformation": {
                        "shape": "S2g"
                    },
                    "referenceArn": {},
                    "files": {
                        "type": "structure",
                        "members": {
                            "source1": {
                                "shape": "S2j"
                            },
                            "source2": {
                                "shape": "S2j"
                            },
                            "index": {
                                "shape": "S2j"
                            }
                        }
                    },
                    "statusMessage": {}
                }
            },
            "authtype": "v4",
            "endpoint": {
                "hostPrefix": "control-storage-"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MKFIKNMZJH2IIVNFXTFR7G6QOYCELW4CBMTLVQFQMM6R4NGLSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4VLDLHLITCRQYY5IWBIWMEKGNHS6WFZPOMCK3AIOUHQVPR25YSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N7IIZWGJFTVJDTBRCSIGDNX6GFKJ45PXGKK3JCYXK2I6LLPSCNUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6J3TQ7JYINSH7XNKDN2PMMIH4DJBSDCNU23Z5LNDNPBD6CS3JA5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2RLHHN47BFF3Y3KMGR2WNE2HX6BMG2PEUSWVY3JU4G2AOJGD4XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PGDHPMHP6V6J46WY3RKMDBDFIMPJ37EBA43DVMLNUGC56ZLBKYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPNSFXSU5SKO76OJOM2CSM3KK5HWWF72YMIFMSLN42R4U4SDHLTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5AYB3RIPP545MUUVZUM47G2OH5DCYK6VCVVBI5DYPIQRHQTVSJEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYXCNGAZMFD5TZ7GE6ESJNCF67WWRQWNZTZACOQPJY55TRWUO77Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QKVI7IOWXFTW3GSOM6SSVW5RC2SGXOHZC37KRVIEWU2J53JY74ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YYKL6PKU4UMN2JH3CNZY7TJLXTQOH3LWBWZ265DZAA42UWBUUKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VWUOXNNFLYO46YZUHXB2LOKDMVIXZBIEFTURLO3MNKO34PSHDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52CPL33UMNMVAC3WRVFBMTM57G3R4EYYC5HCGSMGAGRZ3E7SV65Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLXZJEZ5DJLCXUZ3MUFLEUJXBUUFOPPUK23I3SPIWPICWHMFAFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2O3TQUIWQS5DJTO5WBCZ3D6DPLHAZXUPP7T5VFM6IAREQJEB7QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LTCGZ65V5TYXF3HV77B5BL6273M3VCB4OB4CUVIL5LTRB5S2SYIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEWF4NNCVVREI32XMOAC6DG6PCXV336C3MCGRQL4TJINOAWOQSPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJJ4EMID3N4XJSTH3WBKNGWSWA6OD2XKQZ5IHUYZBNJE2JF3FMRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHSQT6T6WH6V5ZFLMYJ67MXYXSC6SNYOQTIMBSXOIIIMLVGWLTHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TX4LYJYH5QGVUZTCZ6KLE6DTYWNPS3W4G5YAQ3VU43ERAIVRTMHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XRPB6RX53D7KQNYRSF4Z4RPWQI2XBT4U5CMX6YYEOHQGAUE7P7UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTR7KHKKH6Z652FNKJTKDLKYMXWGUAAK4YH4XCDDFO64D2GL6HFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRPCYK3M4KYUF3VU4RD2STAK3EIYYWGVU7Y33OI5IS3KNMGHXXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEZJ7HLZP7Y5HACYZZWV4PIWX4V4QJ5S2LSXCNFCDWRWRMBN5L6Q/vendors.js"
            ]
        },
        "GetReference": {
            "http": {
                "method": "GET",
                "requestUri": "/referencestore/{referenceStoreId}/reference/{id}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "id",
                    "referenceStoreId",
                    "partNumber"
                ],
                "members": {
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    },
                    "referenceStoreId": {
                        "location": "uri",
                        "locationName": "referenceStoreId"
                    },
                    "range": {
                        "location": "header",
                        "locationName": "Range"
                    },
                    "partNumber": {
                        "location": "querystring",
                        "locationName": "partNumber",
                        "type": "integer"
                    },
                    "file": {
                        "location": "querystring",
                        "locationName": "file"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "payload": {
                        "type": "blob",
                        "streaming": true
                    }
                },
                "payload": "payload"
            },
            "authtype": "v4",
            "endpoint": {
                "hostPrefix": "storage-"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MKFIKNMZJH2IIVNFXTFR7G6QOYCELW4CBMTLVQFQMM6R4NGLSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4VLDLHLITCRQYY5IWBIWMEKGNHS6WFZPOMCK3AIOUHQVPR25YSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N7IIZWGJFTVJDTBRCSIGDNX6GFKJ45PXGKK3JCYXK2I6LLPSCNUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6J3TQ7JYINSH7XNKDN2PMMIH4DJBSDCNU23Z5LNDNPBD6CS3JA5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2RLHHN47BFF3Y3KMGR2WNE2HX6BMG2PEUSWVY3JU4G2AOJGD4XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PGDHPMHP6V6J46WY3RKMDBDFIMPJ37EBA43DVMLNUGC56ZLBKYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPNSFXSU5SKO76OJOM2CSM3KK5HWWF72YMIFMSLN42R4U4SDHLTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5AYB3RIPP545MUUVZUM47G2OH5DCYK6VCVVBI5DYPIQRHQTVSJEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYXCNGAZMFD5TZ7GE6ESJNCF67WWRQWNZTZACOQPJY55TRWUO77Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QKVI7IOWXFTW3GSOM6SSVW5RC2SGXOHZC37KRVIEWU2J53JY74ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YYKL6PKU4UMN2JH3CNZY7TJLXTQOH3LWBWZ265DZAA42UWBUUKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VWUOXNNFLYO46YZUHXB2LOKDMVIXZBIEFTURLO3MNKO34PSHDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52CPL33UMNMVAC3WRVFBMTM57G3R4EYYC5HCGSMGAGRZ3E7SV65Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLXZJEZ5DJLCXUZ3MUFLEUJXBUUFOPPUK23I3SPIWPICWHMFAFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2O3TQUIWQS5DJTO5WBCZ3D6DPLHAZXUPP7T5VFM6IAREQJEB7QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LTCGZ65V5TYXF3HV77B5BL6273M3VCB4OB4CUVIL5LTRB5S2SYIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEWF4NNCVVREI32XMOAC6DG6PCXV336C3MCGRQL4TJINOAWOQSPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJJ4EMID3N4XJSTH3WBKNGWSWA6OD2XKQZ5IHUYZBNJE2JF3FMRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHSQT6T6WH6V5ZFLMYJ67MXYXSC6SNYOQTIMBSXOIIIMLVGWLTHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TX4LYJYH5QGVUZTCZ6KLE6DTYWNPS3W4G5YAQ3VU43ERAIVRTMHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XRPB6RX53D7KQNYRSF4Z4RPWQI2XBT4U5CMX6YYEOHQGAUE7P7UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTR7KHKKH6Z652FNKJTKDLKYMXWGUAAK4YH4XCDDFO64D2GL6HFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRPCYK3M4KYUF3VU4RD2STAK3EIYYWGVU7Y33OI5IS3KNMGHXXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEZJ7HLZP7Y5HACYZZWV4PIWX4V4QJ5S2LSXCNFCDWRWRMBN5L6Q/vendors.js"
            ]
        },
        "GetReferenceImportJob": {
            "http": {
                "method": "GET",
                "requestUri": "/referencestore/{referenceStoreId}/importjob/{id}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "id",
                    "referenceStoreId"
                ],
                "members": {
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    },
                    "referenceStoreId": {
                        "location": "uri",
                        "locationName": "referenceStoreId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "id",
                    "referenceStoreId",
                    "roleArn",
                    "status",
                    "creationTime",
                    "sources"
                ],
                "members": {
                    "id": {},
                    "referenceStoreId": {},
                    "roleArn": {},
                    "status": {},
                    "statusMessage": {},
                    "creationTime": {
                        "shape": "Sv"
                    },
                    "completionTime": {
                        "shape": "Sv"
                    },
                    "sources": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "status"
                            ],
                            "members": {
                                "sourceFile": {},
                                "status": {},
                                "statusMessage": {},
                                "name": {},
                                "description": {},
                                "tags": {
                                    "shape": "Sr"
                                }
                            }
                        }
                    }
                }
            },
            "authtype": "v4",
            "endpoint": {
                "hostPrefix": "control-storage-"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MKFIKNMZJH2IIVNFXTFR7G6QOYCELW4CBMTLVQFQMM6R4NGLSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4VLDLHLITCRQYY5IWBIWMEKGNHS6WFZPOMCK3AIOUHQVPR25YSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N7IIZWGJFTVJDTBRCSIGDNX6GFKJ45PXGKK3JCYXK2I6LLPSCNUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6J3TQ7JYINSH7XNKDN2PMMIH4DJBSDCNU23Z5LNDNPBD6CS3JA5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2RLHHN47BFF3Y3KMGR2WNE2HX6BMG2PEUSWVY3JU4G2AOJGD4XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PGDHPMHP6V6J46WY3RKMDBDFIMPJ37EBA43DVMLNUGC56ZLBKYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPNSFXSU5SKO76OJOM2CSM3KK5HWWF72YMIFMSLN42R4U4SDHLTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5AYB3RIPP545MUUVZUM47G2OH5DCYK6VCVVBI5DYPIQRHQTVSJEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYXCNGAZMFD5TZ7GE6ESJNCF67WWRQWNZTZACOQPJY55TRWUO77Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QKVI7IOWXFTW3GSOM6SSVW5RC2SGXOHZC37KRVIEWU2J53JY74ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YYKL6PKU4UMN2JH3CNZY7TJLXTQOH3LWBWZ265DZAA42UWBUUKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VWUOXNNFLYO46YZUHXB2LOKDMVIXZBIEFTURLO3MNKO34PSHDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52CPL33UMNMVAC3WRVFBMTM57G3R4EYYC5HCGSMGAGRZ3E7SV65Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLXZJEZ5DJLCXUZ3MUFLEUJXBUUFOPPUK23I3SPIWPICWHMFAFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2O3TQUIWQS5DJTO5WBCZ3D6DPLHAZXUPP7T5VFM6IAREQJEB7QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LTCGZ65V5TYXF3HV77B5BL6273M3VCB4OB4CUVIL5LTRB5S2SYIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEWF4NNCVVREI32XMOAC6DG6PCXV336C3MCGRQL4TJINOAWOQSPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJJ4EMID3N4XJSTH3WBKNGWSWA6OD2XKQZ5IHUYZBNJE2JF3FMRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHSQT6T6WH6V5ZFLMYJ67MXYXSC6SNYOQTIMBSXOIIIMLVGWLTHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TX4LYJYH5QGVUZTCZ6KLE6DTYWNPS3W4G5YAQ3VU43ERAIVRTMHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XRPB6RX53D7KQNYRSF4Z4RPWQI2XBT4U5CMX6YYEOHQGAUE7P7UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTR7KHKKH6Z652FNKJTKDLKYMXWGUAAK4YH4XCDDFO64D2GL6HFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRPCYK3M4KYUF3VU4RD2STAK3EIYYWGVU7Y33OI5IS3KNMGHXXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEZJ7HLZP7Y5HACYZZWV4PIWX4V4QJ5S2LSXCNFCDWRWRMBN5L6Q/vendors.js"
            ]
        },
        "GetReferenceMetadata": {
            "http": {
                "method": "GET",
                "requestUri": "/referencestore/{referenceStoreId}/reference/{id}/metadata",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "id",
                    "referenceStoreId"
                ],
                "members": {
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    },
                    "referenceStoreId": {
                        "location": "uri",
                        "locationName": "referenceStoreId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "id",
                    "arn",
                    "referenceStoreId",
                    "md5",
                    "creationTime",
                    "updateTime"
                ],
                "members": {
                    "id": {},
                    "arn": {},
                    "referenceStoreId": {},
                    "md5": {},
                    "status": {},
                    "name": {},
                    "description": {},
                    "creationTime": {
                        "shape": "Sv"
                    },
                    "updateTime": {
                        "shape": "Sv"
                    },
                    "files": {
                        "type": "structure",
                        "members": {
                            "source": {
                                "shape": "S2j"
                            },
                            "index": {
                                "shape": "S2j"
                            }
                        }
                    }
                }
            },
            "authtype": "v4",
            "endpoint": {
                "hostPrefix": "control-storage-"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MKFIKNMZJH2IIVNFXTFR7G6QOYCELW4CBMTLVQFQMM6R4NGLSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4VLDLHLITCRQYY5IWBIWMEKGNHS6WFZPOMCK3AIOUHQVPR25YSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N7IIZWGJFTVJDTBRCSIGDNX6GFKJ45PXGKK3JCYXK2I6LLPSCNUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6J3TQ7JYINSH7XNKDN2PMMIH4DJBSDCNU23Z5LNDNPBD6CS3JA5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2RLHHN47BFF3Y3KMGR2WNE2HX6BMG2PEUSWVY3JU4G2AOJGD4XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PGDHPMHP6V6J46WY3RKMDBDFIMPJ37EBA43DVMLNUGC56ZLBKYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPNSFXSU5SKO76OJOM2CSM3KK5HWWF72YMIFMSLN42R4U4SDHLTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5AYB3RIPP545MUUVZUM47G2OH5DCYK6VCVVBI5DYPIQRHQTVSJEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYXCNGAZMFD5TZ7GE6ESJNCF67WWRQWNZTZACOQPJY55TRWUO77Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QKVI7IOWXFTW3GSOM6SSVW5RC2SGXOHZC37KRVIEWU2J53JY74ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YYKL6PKU4UMN2JH3CNZY7TJLXTQOH3LWBWZ265DZAA42UWBUUKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VWUOXNNFLYO46YZUHXB2LOKDMVIXZBIEFTURLO3MNKO34PSHDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52CPL33UMNMVAC3WRVFBMTM57G3R4EYYC5HCGSMGAGRZ3E7SV65Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLXZJEZ5DJLCXUZ3MUFLEUJXBUUFOPPUK23I3SPIWPICWHMFAFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2O3TQUIWQS5DJTO5WBCZ3D6DPLHAZXUPP7T5VFM6IAREQJEB7QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LTCGZ65V5TYXF3HV77B5BL6273M3VCB4OB4CUVIL5LTRB5S2SYIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEWF4NNCVVREI32XMOAC6DG6PCXV336C3MCGRQL4TJINOAWOQSPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJJ4EMID3N4XJSTH3WBKNGWSWA6OD2XKQZ5IHUYZBNJE2JF3FMRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHSQT6T6WH6V5ZFLMYJ67MXYXSC6SNYOQTIMBSXOIIIMLVGWLTHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TX4LYJYH5QGVUZTCZ6KLE6DTYWNPS3W4G5YAQ3VU43ERAIVRTMHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XRPB6RX53D7KQNYRSF4Z4RPWQI2XBT4U5CMX6YYEOHQGAUE7P7UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTR7KHKKH6Z652FNKJTKDLKYMXWGUAAK4YH4XCDDFO64D2GL6HFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRPCYK3M4KYUF3VU4RD2STAK3EIYYWGVU7Y33OI5IS3KNMGHXXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEZJ7HLZP7Y5HACYZZWV4PIWX4V4QJ5S2LSXCNFCDWRWRMBN5L6Q/vendors.js"
            ]
        },
        "GetReferenceStore": {
            "http": {
                "method": "GET",
                "requestUri": "/referencestore/{id}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "id",
                    "arn",
                    "creationTime"
                ],
                "members": {
                    "id": {},
                    "arn": {},
                    "name": {},
                    "description": {},
                    "sseConfig": {
                        "shape": "Sz"
                    },
                    "creationTime": {
                        "shape": "Sv"
                    }
                }
            },
            "authtype": "v4",
            "endpoint": {
                "hostPrefix": "control-storage-"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MKFIKNMZJH2IIVNFXTFR7G6QOYCELW4CBMTLVQFQMM6R4NGLSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4VLDLHLITCRQYY5IWBIWMEKGNHS6WFZPOMCK3AIOUHQVPR25YSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N7IIZWGJFTVJDTBRCSIGDNX6GFKJ45PXGKK3JCYXK2I6LLPSCNUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6J3TQ7JYINSH7XNKDN2PMMIH4DJBSDCNU23Z5LNDNPBD6CS3JA5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2RLHHN47BFF3Y3KMGR2WNE2HX6BMG2PEUSWVY3JU4G2AOJGD4XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PGDHPMHP6V6J46WY3RKMDBDFIMPJ37EBA43DVMLNUGC56ZLBKYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPNSFXSU5SKO76OJOM2CSM3KK5HWWF72YMIFMSLN42R4U4SDHLTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5AYB3RIPP545MUUVZUM47G2OH5DCYK6VCVVBI5DYPIQRHQTVSJEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYXCNGAZMFD5TZ7GE6ESJNCF67WWRQWNZTZACOQPJY55TRWUO77Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QKVI7IOWXFTW3GSOM6SSVW5RC2SGXOHZC37KRVIEWU2J53JY74ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YYKL6PKU4UMN2JH3CNZY7TJLXTQOH3LWBWZ265DZAA42UWBUUKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VWUOXNNFLYO46YZUHXB2LOKDMVIXZBIEFTURLO3MNKO34PSHDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52CPL33UMNMVAC3WRVFBMTM57G3R4EYYC5HCGSMGAGRZ3E7SV65Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLXZJEZ5DJLCXUZ3MUFLEUJXBUUFOPPUK23I3SPIWPICWHMFAFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2O3TQUIWQS5DJTO5WBCZ3D6DPLHAZXUPP7T5VFM6IAREQJEB7QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LTCGZ65V5TYXF3HV77B5BL6273M3VCB4OB4CUVIL5LTRB5S2SYIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEWF4NNCVVREI32XMOAC6DG6PCXV336C3MCGRQL4TJINOAWOQSPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJJ4EMID3N4XJSTH3WBKNGWSWA6OD2XKQZ5IHUYZBNJE2JF3FMRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHSQT6T6WH6V5ZFLMYJ67MXYXSC6SNYOQTIMBSXOIIIMLVGWLTHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TX4LYJYH5QGVUZTCZ6KLE6DTYWNPS3W4G5YAQ3VU43ERAIVRTMHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XRPB6RX53D7KQNYRSF4Z4RPWQI2XBT4U5CMX6YYEOHQGAUE7P7UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTR7KHKKH6Z652FNKJTKDLKYMXWGUAAK4YH4XCDDFO64D2GL6HFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRPCYK3M4KYUF3VU4RD2STAK3EIYYWGVU7Y33OI5IS3KNMGHXXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEZJ7HLZP7Y5HACYZZWV4PIWX4V4QJ5S2LSXCNFCDWRWRMBN5L6Q/vendors.js"
            ]
        },
        "GetSequenceStore": {
            "http": {
                "method": "GET",
                "requestUri": "/sequencestore/{id}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "id",
                    "arn",
                    "creationTime"
                ],
                "members": {
                    "id": {},
                    "arn": {},
                    "name": {},
                    "description": {},
                    "sseConfig": {
                        "shape": "Sz"
                    },
                    "creationTime": {
                        "shape": "Sv"
                    },
                    "evacuationLocation": {}
                }
            },
            "authtype": "v4",
            "endpoint": {
                "hostPrefix": "control-storage-"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MKFIKNMZJH2IIVNFXTFR7G6QOYCELW4CBMTLVQFQMM6R4NGLSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4VLDLHLITCRQYY5IWBIWMEKGNHS6WFZPOMCK3AIOUHQVPR25YSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N7IIZWGJFTVJDTBRCSIGDNX6GFKJ45PXGKK3JCYXK2I6LLPSCNUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6J3TQ7JYINSH7XNKDN2PMMIH4DJBSDCNU23Z5LNDNPBD6CS3JA5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2RLHHN47BFF3Y3KMGR2WNE2HX6BMG2PEUSWVY3JU4G2AOJGD4XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PGDHPMHP6V6J46WY3RKMDBDFIMPJ37EBA43DVMLNUGC56ZLBKYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPNSFXSU5SKO76OJOM2CSM3KK5HWWF72YMIFMSLN42R4U4SDHLTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5AYB3RIPP545MUUVZUM47G2OH5DCYK6VCVVBI5DYPIQRHQTVSJEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYXCNGAZMFD5TZ7GE6ESJNCF67WWRQWNZTZACOQPJY55TRWUO77Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QKVI7IOWXFTW3GSOM6SSVW5RC2SGXOHZC37KRVIEWU2J53JY74ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YYKL6PKU4UMN2JH3CNZY7TJLXTQOH3LWBWZ265DZAA42UWBUUKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VWUOXNNFLYO46YZUHXB2LOKDMVIXZBIEFTURLO3MNKO34PSHDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52CPL33UMNMVAC3WRVFBMTM57G3R4EYYC5HCGSMGAGRZ3E7SV65Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLXZJEZ5DJLCXUZ3MUFLEUJXBUUFOPPUK23I3SPIWPICWHMFAFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2O3TQUIWQS5DJTO5WBCZ3D6DPLHAZXUPP7T5VFM6IAREQJEB7QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LTCGZ65V5TYXF3HV77B5BL6273M3VCB4OB4CUVIL5LTRB5S2SYIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEWF4NNCVVREI32XMOAC6DG6PCXV336C3MCGRQL4TJINOAWOQSPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJJ4EMID3N4XJSTH3WBKNGWSWA6OD2XKQZ5IHUYZBNJE2JF3FMRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHSQT6T6WH6V5ZFLMYJ67MXYXSC6SNYOQTIMBSXOIIIMLVGWLTHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TX4LYJYH5QGVUZTCZ6KLE6DTYWNPS3W4G5YAQ3VU43ERAIVRTMHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XRPB6RX53D7KQNYRSF4Z4RPWQI2XBT4U5CMX6YYEOHQGAUE7P7UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTR7KHKKH6Z652FNKJTKDLKYMXWGUAAK4YH4XCDDFO64D2GL6HFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRPCYK3M4KYUF3VU4RD2STAK3EIYYWGVU7Y33OI5IS3KNMGHXXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEZJ7HLZP7Y5HACYZZWV4PIWX4V4QJ5S2LSXCNFCDWRWRMBN5L6Q/vendors.js"
            ]
        },
        "ListMultipartReadSetUploads": {
            "http": {
                "requestUri": "/sequencestore/{sequenceStoreId}/uploads",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "sequenceStoreId"
                ],
                "members": {
                    "sequenceStoreId": {
                        "location": "uri",
                        "locationName": "sequenceStoreId"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "uploads": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "sequenceStoreId",
                                "uploadId",
                                "sourceFileType",
                                "subjectId",
                                "sampleId",
                                "generatedFrom",
                                "referenceArn",
                                "creationTime"
                            ],
                            "members": {
                                "sequenceStoreId": {},
                                "uploadId": {},
                                "sourceFileType": {},
                                "subjectId": {},
                                "sampleId": {},
                                "generatedFrom": {},
                                "referenceArn": {},
                                "name": {},
                                "description": {},
                                "tags": {
                                    "shape": "Sr"
                                },
                                "creationTime": {
                                    "shape": "Sv"
                                }
                            }
                        }
                    }
                }
            },
            "authtype": "v4",
            "endpoint": {
                "hostPrefix": "control-storage-"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MKFIKNMZJH2IIVNFXTFR7G6QOYCELW4CBMTLVQFQMM6R4NGLSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4VLDLHLITCRQYY5IWBIWMEKGNHS6WFZPOMCK3AIOUHQVPR25YSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N7IIZWGJFTVJDTBRCSIGDNX6GFKJ45PXGKK3JCYXK2I6LLPSCNUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6J3TQ7JYINSH7XNKDN2PMMIH4DJBSDCNU23Z5LNDNPBD6CS3JA5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2RLHHN47BFF3Y3KMGR2WNE2HX6BMG2PEUSWVY3JU4G2AOJGD4XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PGDHPMHP6V6J46WY3RKMDBDFIMPJ37EBA43DVMLNUGC56ZLBKYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPNSFXSU5SKO76OJOM2CSM3KK5HWWF72YMIFMSLN42R4U4SDHLTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5AYB3RIPP545MUUVZUM47G2OH5DCYK6VCVVBI5DYPIQRHQTVSJEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYXCNGAZMFD5TZ7GE6ESJNCF67WWRQWNZTZACOQPJY55TRWUO77Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QKVI7IOWXFTW3GSOM6SSVW5RC2SGXOHZC37KRVIEWU2J53JY74ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YYKL6PKU4UMN2JH3CNZY7TJLXTQOH3LWBWZ265DZAA42UWBUUKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VWUOXNNFLYO46YZUHXB2LOKDMVIXZBIEFTURLO3MNKO34PSHDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52CPL33UMNMVAC3WRVFBMTM57G3R4EYYC5HCGSMGAGRZ3E7SV65Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLXZJEZ5DJLCXUZ3MUFLEUJXBUUFOPPUK23I3SPIWPICWHMFAFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2O3TQUIWQS5DJTO5WBCZ3D6DPLHAZXUPP7T5VFM6IAREQJEB7QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LTCGZ65V5TYXF3HV77B5BL6273M3VCB4OB4CUVIL5LTRB5S2SYIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEWF4NNCVVREI32XMOAC6DG6PCXV336C3MCGRQL4TJINOAWOQSPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJJ4EMID3N4XJSTH3WBKNGWSWA6OD2XKQZ5IHUYZBNJE2JF3FMRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHSQT6T6WH6V5ZFLMYJ67MXYXSC6SNYOQTIMBSXOIIIMLVGWLTHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TX4LYJYH5QGVUZTCZ6KLE6DTYWNPS3W4G5YAQ3VU43ERAIVRTMHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XRPB6RX53D7KQNYRSF4Z4RPWQI2XBT4U5CMX6YYEOHQGAUE7P7UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTR7KHKKH6Z652FNKJTKDLKYMXWGUAAK4YH4XCDDFO64D2GL6HFA/vendors.js",
[...]
