{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2022-11-01",
        "endpointPrefix": "omics",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "ripServiceName": "omics",
        "serviceFullName": "Amazon Omics",
        "serviceId": "Omics",
        "signatureVersion": "v4",
        "signingName": "omics",
        "uid": "omics-2022-11-01",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/SJHCZIAAEO3FMQLNFGWX2AZUX2MIW7QI2FP7F3N2GW6AGEV4XRVQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4ITBMEBDRELZUXZWMIZ66KDOGTAECXHB6AABXNHRFZ3IXNDAP4XA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4BWENQE7LYN724NSBKV72JSVWR442SRQA6XAZDPRPCAF6HOHN6KA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VK7BQUWZDH5O67B345YGK6NLZ2BSOSYYRP5DJ5KGDZAVY7VA7TSQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/E2WWVC3HYR5OM3RMKQA2ND43RFX7B5NRBAQB4FPXRVGEKPGR4INA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CRPABGQXLQWNOFQR67RMI4ZSLRUS4IWW5Z76GLVI4R7U3GOQ5B7A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JLP7EXVDZ5IXUE2B4ENATJHVWJKIU6AC76EEQ23JL73J65YJC7QA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LSG35KG6KY3QPDQ5CNDU6FFX3MGAIVFZV476N74JXWU2JUG63AFQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AFFBDOHUZWFLPNOJZM3QMF53I2KK2PIBHEAJQR2QLFXWVCWVRWTA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AKBZQKBBO7HG6NIJ6M4QIBD36Z3542OU6WUMRGYPE2IPEHPEYX6A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/34SU2HFMTNTZ4QXKCDRSUODLY3H742HXIDM47DPOLN72TKK5TUWA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3MGRFVVK23UJQVWBUEDPM3OM3ZV7QH42DNT7TPNKB774FODNPUWA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7NWGZFJQ4CNTP4CI4S47775SS6IWTFBIXARCET6GNPQYCJS6V2GQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BCZBNTQGLUCCXQRSFQ6EGM4ECEVQP73GZL46RWSSBCLDPBUCOBJQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7ZJBAD2UNIXE6RD656JNXYWQSUOZDPFKVR53YKDPPAT6HVI2CO3Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5WSH3UQ7YOOEVTX4HFDDMMQQ22HZ6D5VGLJLPBX3OU4F3LMYP43Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/B3CWREJFDOCJC2KBT2U37WILU57CMS2DJSDHWMEEA7XPRK2ZKZFQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AA3MGR26V4K6EQMCXHBRGGCO7WXIBRJCX5IZUQMXTTDMATCVRMXA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HM2DYYEOXNGUQ52GGKJKEOIJPI4GTJUJODWU24ED3I6HBXNZY5VQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QFXBDMB5IPIAO6JAWZN74CFPWUIW4P4FSK7DTB5IESWKMYQXIELQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YVL4A5GS6PH2IZFZXR3S2UNWGDDZHN5RKZG2XL6NIRNQRHC3YOIQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BK65BOTOV5ZWWBWDISBHDOM2IFN2S7AJQBUFCSZKXZZYLYJAA3UQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OIX2V23OEF5EW26LRYCCMGJLAXWM464RA2VLVEZG5UTAW3NV4ZKQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YWPOMJZZ6ZQZV3KMWS444F4YBS5VX4KTACZBWNDIT7W44KIEATAQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DJMKL6VVRDIZQPQNYCQZPU7RN5UL5I6CGHFXY7PSLFK2C4WTTRNQ/vendors.js"
        ]
    },
    "operations": {
        "CancelRun": {
            "http": {
                "requestUri": "/run/{id}/cancel",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "workflows-"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ITBMEBDRELZUXZWMIZ66KDOGTAECXHB6AABXNHRFZ3IXNDAP4XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BWENQE7LYN724NSBKV72JSVWR442SRQA6XAZDPRPCAF6HOHN6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VK7BQUWZDH5O67B345YGK6NLZ2BSOSYYRP5DJ5KGDZAVY7VA7TSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E2WWVC3HYR5OM3RMKQA2ND43RFX7B5NRBAQB4FPXRVGEKPGR4INA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CRPABGQXLQWNOFQR67RMI4ZSLRUS4IWW5Z76GLVI4R7U3GOQ5B7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLP7EXVDZ5IXUE2B4ENATJHVWJKIU6AC76EEQ23JL73J65YJC7QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LSG35KG6KY3QPDQ5CNDU6FFX3MGAIVFZV476N74JXWU2JUG63AFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFFBDOHUZWFLPNOJZM3QMF53I2KK2PIBHEAJQR2QLFXWVCWVRWTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKBZQKBBO7HG6NIJ6M4QIBD36Z3542OU6WUMRGYPE2IPEHPEYX6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34SU2HFMTNTZ4QXKCDRSUODLY3H742HXIDM47DPOLN72TKK5TUWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MGRFVVK23UJQVWBUEDPM3OM3ZV7QH42DNT7TPNKB774FODNPUWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NWGZFJQ4CNTP4CI4S47775SS6IWTFBIXARCET6GNPQYCJS6V2GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BCZBNTQGLUCCXQRSFQ6EGM4ECEVQP73GZL46RWSSBCLDPBUCOBJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZJBAD2UNIXE6RD656JNXYWQSUOZDPFKVR53YKDPPAT6HVI2CO3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5WSH3UQ7YOOEVTX4HFDDMMQQ22HZ6D5VGLJLPBX3OU4F3LMYP43Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3CWREJFDOCJC2KBT2U37WILU57CMS2DJSDHWMEEA7XPRK2ZKZFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AA3MGR26V4K6EQMCXHBRGGCO7WXIBRJCX5IZUQMXTTDMATCVRMXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HM2DYYEOXNGUQ52GGKJKEOIJPI4GTJUJODWU24ED3I6HBXNZY5VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFXBDMB5IPIAO6JAWZN74CFPWUIW4P4FSK7DTB5IESWKMYQXIELQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVL4A5GS6PH2IZFZXR3S2UNWGDDZHN5RKZG2XL6NIRNQRHC3YOIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BK65BOTOV5ZWWBWDISBHDOM2IFN2S7AJQBUFCSZKXZZYLYJAA3UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OIX2V23OEF5EW26LRYCCMGJLAXWM464RA2VLVEZG5UTAW3NV4ZKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWPOMJZZ6ZQZV3KMWS444F4YBS5VX4KTACZBWNDIT7W44KIEATAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJMKL6VVRDIZQPQNYCQZPU7RN5UL5I6CGHFXY7PSLFK2C4WTTRNQ/vendors.js"
            ]
        },
        "CreateRunGroup": {
            "http": {
                "requestUri": "/runGroup",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "requestId"
                ],
                "members": {
                    "name": {},
                    "maxCpus": {
                        "type": "integer"
                    },
                    "maxGpus": {
                        "type": "integer"
                    },
                    "maxRuns": {
                        "type": "integer"
                    },
                    "maxDuration": {
                        "type": "integer"
                    },
                    "tags": {
                        "shape": "S9"
                    },
                    "requestId": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "arn": {},
                    "id": {},
                    "tags": {
                        "shape": "S9"
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "workflows-"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ITBMEBDRELZUXZWMIZ66KDOGTAECXHB6AABXNHRFZ3IXNDAP4XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BWENQE7LYN724NSBKV72JSVWR442SRQA6XAZDPRPCAF6HOHN6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VK7BQUWZDH5O67B345YGK6NLZ2BSOSYYRP5DJ5KGDZAVY7VA7TSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E2WWVC3HYR5OM3RMKQA2ND43RFX7B5NRBAQB4FPXRVGEKPGR4INA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CRPABGQXLQWNOFQR67RMI4ZSLRUS4IWW5Z76GLVI4R7U3GOQ5B7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLP7EXVDZ5IXUE2B4ENATJHVWJKIU6AC76EEQ23JL73J65YJC7QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LSG35KG6KY3QPDQ5CNDU6FFX3MGAIVFZV476N74JXWU2JUG63AFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFFBDOHUZWFLPNOJZM3QMF53I2KK2PIBHEAJQR2QLFXWVCWVRWTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKBZQKBBO7HG6NIJ6M4QIBD36Z3542OU6WUMRGYPE2IPEHPEYX6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34SU2HFMTNTZ4QXKCDRSUODLY3H742HXIDM47DPOLN72TKK5TUWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MGRFVVK23UJQVWBUEDPM3OM3ZV7QH42DNT7TPNKB774FODNPUWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NWGZFJQ4CNTP4CI4S47775SS6IWTFBIXARCET6GNPQYCJS6V2GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BCZBNTQGLUCCXQRSFQ6EGM4ECEVQP73GZL46RWSSBCLDPBUCOBJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZJBAD2UNIXE6RD656JNXYWQSUOZDPFKVR53YKDPPAT6HVI2CO3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5WSH3UQ7YOOEVTX4HFDDMMQQ22HZ6D5VGLJLPBX3OU4F3LMYP43Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3CWREJFDOCJC2KBT2U37WILU57CMS2DJSDHWMEEA7XPRK2ZKZFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AA3MGR26V4K6EQMCXHBRGGCO7WXIBRJCX5IZUQMXTTDMATCVRMXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HM2DYYEOXNGUQ52GGKJKEOIJPI4GTJUJODWU24ED3I6HBXNZY5VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFXBDMB5IPIAO6JAWZN74CFPWUIW4P4FSK7DTB5IESWKMYQXIELQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVL4A5GS6PH2IZFZXR3S2UNWGDDZHN5RKZG2XL6NIRNQRHC3YOIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BK65BOTOV5ZWWBWDISBHDOM2IFN2S7AJQBUFCSZKXZZYLYJAA3UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OIX2V23OEF5EW26LRYCCMGJLAXWM464RA2VLVEZG5UTAW3NV4ZKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWPOMJZZ6ZQZV3KMWS444F4YBS5VX4KTACZBWNDIT7W44KIEATAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJMKL6VVRDIZQPQNYCQZPU7RN5UL5I6CGHFXY7PSLFK2C4WTTRNQ/vendors.js"
            ]
        },
        "CreateWorkflow": {
            "http": {
                "requestUri": "/workflow",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "requestId"
                ],
                "members": {
                    "name": {},
                    "description": {},
                    "engine": {},
                    "definitionZip": {
                        "type": "blob"
                    },
                    "definitionUri": {},
                    "main": {},
                    "parameterTemplate": {
                        "shape": "Sn"
                    },
                    "storageCapacity": {
                        "type": "integer"
                    },
                    "accelerators": {},
                    "tags": {
                        "shape": "S9"
                    },
                    "requestId": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "arn": {},
                    "id": {},
                    "status": {},
                    "tags": {
                        "shape": "S9"
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "workflows-"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ITBMEBDRELZUXZWMIZ66KDOGTAECXHB6AABXNHRFZ3IXNDAP4XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BWENQE7LYN724NSBKV72JSVWR442SRQA6XAZDPRPCAF6HOHN6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VK7BQUWZDH5O67B345YGK6NLZ2BSOSYYRP5DJ5KGDZAVY7VA7TSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E2WWVC3HYR5OM3RMKQA2ND43RFX7B5NRBAQB4FPXRVGEKPGR4INA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CRPABGQXLQWNOFQR67RMI4ZSLRUS4IWW5Z76GLVI4R7U3GOQ5B7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLP7EXVDZ5IXUE2B4ENATJHVWJKIU6AC76EEQ23JL73J65YJC7QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LSG35KG6KY3QPDQ5CNDU6FFX3MGAIVFZV476N74JXWU2JUG63AFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFFBDOHUZWFLPNOJZM3QMF53I2KK2PIBHEAJQR2QLFXWVCWVRWTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKBZQKBBO7HG6NIJ6M4QIBD36Z3542OU6WUMRGYPE2IPEHPEYX6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34SU2HFMTNTZ4QXKCDRSUODLY3H742HXIDM47DPOLN72TKK5TUWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MGRFVVK23UJQVWBUEDPM3OM3ZV7QH42DNT7TPNKB774FODNPUWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NWGZFJQ4CNTP4CI4S47775SS6IWTFBIXARCET6GNPQYCJS6V2GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BCZBNTQGLUCCXQRSFQ6EGM4ECEVQP73GZL46RWSSBCLDPBUCOBJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZJBAD2UNIXE6RD656JNXYWQSUOZDPFKVR53YKDPPAT6HVI2CO3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5WSH3UQ7YOOEVTX4HFDDMMQQ22HZ6D5VGLJLPBX3OU4F3LMYP43Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3CWREJFDOCJC2KBT2U37WILU57CMS2DJSDHWMEEA7XPRK2ZKZFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AA3MGR26V4K6EQMCXHBRGGCO7WXIBRJCX5IZUQMXTTDMATCVRMXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HM2DYYEOXNGUQ52GGKJKEOIJPI4GTJUJODWU24ED3I6HBXNZY5VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFXBDMB5IPIAO6JAWZN74CFPWUIW4P4FSK7DTB5IESWKMYQXIELQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVL4A5GS6PH2IZFZXR3S2UNWGDDZHN5RKZG2XL6NIRNQRHC3YOIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BK65BOTOV5ZWWBWDISBHDOM2IFN2S7AJQBUFCSZKXZZYLYJAA3UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OIX2V23OEF5EW26LRYCCMGJLAXWM464RA2VLVEZG5UTAW3NV4ZKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWPOMJZZ6ZQZV3KMWS444F4YBS5VX4KTACZBWNDIT7W44KIEATAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJMKL6VVRDIZQPQNYCQZPU7RN5UL5I6CGHFXY7PSLFK2C4WTTRNQ/vendors.js"
            ]
        },
        "DeleteRun": {
            "http": {
                "method": "DELETE",
                "requestUri": "/run/{id}",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "workflows-"
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ITBMEBDRELZUXZWMIZ66KDOGTAECXHB6AABXNHRFZ3IXNDAP4XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BWENQE7LYN724NSBKV72JSVWR442SRQA6XAZDPRPCAF6HOHN6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VK7BQUWZDH5O67B345YGK6NLZ2BSOSYYRP5DJ5KGDZAVY7VA7TSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E2WWVC3HYR5OM3RMKQA2ND43RFX7B5NRBAQB4FPXRVGEKPGR4INA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CRPABGQXLQWNOFQR67RMI4ZSLRUS4IWW5Z76GLVI4R7U3GOQ5B7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLP7EXVDZ5IXUE2B4ENATJHVWJKIU6AC76EEQ23JL73J65YJC7QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LSG35KG6KY3QPDQ5CNDU6FFX3MGAIVFZV476N74JXWU2JUG63AFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFFBDOHUZWFLPNOJZM3QMF53I2KK2PIBHEAJQR2QLFXWVCWVRWTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKBZQKBBO7HG6NIJ6M4QIBD36Z3542OU6WUMRGYPE2IPEHPEYX6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34SU2HFMTNTZ4QXKCDRSUODLY3H742HXIDM47DPOLN72TKK5TUWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MGRFVVK23UJQVWBUEDPM3OM3ZV7QH42DNT7TPNKB774FODNPUWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NWGZFJQ4CNTP4CI4S47775SS6IWTFBIXARCET6GNPQYCJS6V2GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BCZBNTQGLUCCXQRSFQ6EGM4ECEVQP73GZL46RWSSBCLDPBUCOBJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZJBAD2UNIXE6RD656JNXYWQSUOZDPFKVR53YKDPPAT6HVI2CO3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5WSH3UQ7YOOEVTX4HFDDMMQQ22HZ6D5VGLJLPBX3OU4F3LMYP43Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3CWREJFDOCJC2KBT2U37WILU57CMS2DJSDHWMEEA7XPRK2ZKZFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AA3MGR26V4K6EQMCXHBRGGCO7WXIBRJCX5IZUQMXTTDMATCVRMXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HM2DYYEOXNGUQ52GGKJKEOIJPI4GTJUJODWU24ED3I6HBXNZY5VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFXBDMB5IPIAO6JAWZN74CFPWUIW4P4FSK7DTB5IESWKMYQXIELQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVL4A5GS6PH2IZFZXR3S2UNWGDDZHN5RKZG2XL6NIRNQRHC3YOIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BK65BOTOV5ZWWBWDISBHDOM2IFN2S7AJQBUFCSZKXZZYLYJAA3UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OIX2V23OEF5EW26LRYCCMGJLAXWM464RA2VLVEZG5UTAW3NV4ZKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWPOMJZZ6ZQZV3KMWS444F4YBS5VX4KTACZBWNDIT7W44KIEATAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJMKL6VVRDIZQPQNYCQZPU7RN5UL5I6CGHFXY7PSLFK2C4WTTRNQ/vendors.js"
            ]
        },
        "DeleteRunGroup": {
            "http": {
                "method": "DELETE",
                "requestUri": "/runGroup/{id}",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "workflows-"
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ITBMEBDRELZUXZWMIZ66KDOGTAECXHB6AABXNHRFZ3IXNDAP4XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BWENQE7LYN724NSBKV72JSVWR442SRQA6XAZDPRPCAF6HOHN6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VK7BQUWZDH5O67B345YGK6NLZ2BSOSYYRP5DJ5KGDZAVY7VA7TSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E2WWVC3HYR5OM3RMKQA2ND43RFX7B5NRBAQB4FPXRVGEKPGR4INA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CRPABGQXLQWNOFQR67RMI4ZSLRUS4IWW5Z76GLVI4R7U3GOQ5B7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLP7EXVDZ5IXUE2B4ENATJHVWJKIU6AC76EEQ23JL73J65YJC7QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LSG35KG6KY3QPDQ5CNDU6FFX3MGAIVFZV476N74JXWU2JUG63AFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFFBDOHUZWFLPNOJZM3QMF53I2KK2PIBHEAJQR2QLFXWVCWVRWTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKBZQKBBO7HG6NIJ6M4QIBD36Z3542OU6WUMRGYPE2IPEHPEYX6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34SU2HFMTNTZ4QXKCDRSUODLY3H742HXIDM47DPOLN72TKK5TUWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MGRFVVK23UJQVWBUEDPM3OM3ZV7QH42DNT7TPNKB774FODNPUWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NWGZFJQ4CNTP4CI4S47775SS6IWTFBIXARCET6GNPQYCJS6V2GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BCZBNTQGLUCCXQRSFQ6EGM4ECEVQP73GZL46RWSSBCLDPBUCOBJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZJBAD2UNIXE6RD656JNXYWQSUOZDPFKVR53YKDPPAT6HVI2CO3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5WSH3UQ7YOOEVTX4HFDDMMQQ22HZ6D5VGLJLPBX3OU4F3LMYP43Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3CWREJFDOCJC2KBT2U37WILU57CMS2DJSDHWMEEA7XPRK2ZKZFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AA3MGR26V4K6EQMCXHBRGGCO7WXIBRJCX5IZUQMXTTDMATCVRMXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HM2DYYEOXNGUQ52GGKJKEOIJPI4GTJUJODWU24ED3I6HBXNZY5VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFXBDMB5IPIAO6JAWZN74CFPWUIW4P4FSK7DTB5IESWKMYQXIELQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVL4A5GS6PH2IZFZXR3S2UNWGDDZHN5RKZG2XL6NIRNQRHC3YOIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BK65BOTOV5ZWWBWDISBHDOM2IFN2S7AJQBUFCSZKXZZYLYJAA3UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OIX2V23OEF5EW26LRYCCMGJLAXWM464RA2VLVEZG5UTAW3NV4ZKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWPOMJZZ6ZQZV3KMWS444F4YBS5VX4KTACZBWNDIT7W44KIEATAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJMKL6VVRDIZQPQNYCQZPU7RN5UL5I6CGHFXY7PSLFK2C4WTTRNQ/vendors.js"
            ]
        },
        "DeleteWorkflow": {
            "http": {
                "method": "DELETE",
                "requestUri": "/workflow/{id}",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "workflows-"
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ITBMEBDRELZUXZWMIZ66KDOGTAECXHB6AABXNHRFZ3IXNDAP4XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BWENQE7LYN724NSBKV72JSVWR442SRQA6XAZDPRPCAF6HOHN6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VK7BQUWZDH5O67B345YGK6NLZ2BSOSYYRP5DJ5KGDZAVY7VA7TSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E2WWVC3HYR5OM3RMKQA2ND43RFX7B5NRBAQB4FPXRVGEKPGR4INA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CRPABGQXLQWNOFQR67RMI4ZSLRUS4IWW5Z76GLVI4R7U3GOQ5B7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLP7EXVDZ5IXUE2B4ENATJHVWJKIU6AC76EEQ23JL73J65YJC7QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LSG35KG6KY3QPDQ5CNDU6FFX3MGAIVFZV476N74JXWU2JUG63AFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFFBDOHUZWFLPNOJZM3QMF53I2KK2PIBHEAJQR2QLFXWVCWVRWTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKBZQKBBO7HG6NIJ6M4QIBD36Z3542OU6WUMRGYPE2IPEHPEYX6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34SU2HFMTNTZ4QXKCDRSUODLY3H742HXIDM47DPOLN72TKK5TUWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MGRFVVK23UJQVWBUEDPM3OM3ZV7QH42DNT7TPNKB774FODNPUWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NWGZFJQ4CNTP4CI4S47775SS6IWTFBIXARCET6GNPQYCJS6V2GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BCZBNTQGLUCCXQRSFQ6EGM4ECEVQP73GZL46RWSSBCLDPBUCOBJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZJBAD2UNIXE6RD656JNXYWQSUOZDPFKVR53YKDPPAT6HVI2CO3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5WSH3UQ7YOOEVTX4HFDDMMQQ22HZ6D5VGLJLPBX3OU4F3LMYP43Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3CWREJFDOCJC2KBT2U37WILU57CMS2DJSDHWMEEA7XPRK2ZKZFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AA3MGR26V4K6EQMCXHBRGGCO7WXIBRJCX5IZUQMXTTDMATCVRMXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HM2DYYEOXNGUQ52GGKJKEOIJPI4GTJUJODWU24ED3I6HBXNZY5VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFXBDMB5IPIAO6JAWZN74CFPWUIW4P4FSK7DTB5IESWKMYQXIELQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVL4A5GS6PH2IZFZXR3S2UNWGDDZHN5RKZG2XL6NIRNQRHC3YOIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BK65BOTOV5ZWWBWDISBHDOM2IFN2S7AJQBUFCSZKXZZYLYJAA3UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OIX2V23OEF5EW26LRYCCMGJLAXWM464RA2VLVEZG5UTAW3NV4ZKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWPOMJZZ6ZQZV3KMWS444F4YBS5VX4KTACZBWNDIT7W44KIEATAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJMKL6VVRDIZQPQNYCQZPU7RN5UL5I6CGHFXY7PSLFK2C4WTTRNQ/vendors.js"
            ]
        },
        "GetRun": {
            "http": {
                "method": "GET",
                "requestUri": "/run/{id}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    },
                    "export": {
                        "location": "querystring",
                        "locationName": "export",
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "arn": {},
                    "id": {},
                    "status": {},
                    "workflowId": {},
                    "workflowType": {},
                    "runId": {},
                    "roleArn": {},
                    "name": {},
                    "runGroupId": {},
                    "priority": {
                        "type": "integer"
                    },
                    "definition": {},
                    "digest": {},
                    "parameters": {
                        "shape": "S1d"
                    },
                    "storageCapacity": {
                        "type": "integer"
                    },
                    "accelerators": {},
                    "outputUri": {},
                    "logLevel": {},
                    "resourceDigests": {
                        "type": "map",
                        "key": {},
                        "value": {}
                    },
                    "startedBy": {},
                    "creationTime": {
                        "shape": "S1l"
                    },
                    "startTime": {
                        "shape": "S1l"
                    },
                    "stopTime": {
                        "shape": "S1l"
                    },
                    "statusMessage": {},
                    "tags": {
                        "shape": "S9"
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "workflows-"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ITBMEBDRELZUXZWMIZ66KDOGTAECXHB6AABXNHRFZ3IXNDAP4XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BWENQE7LYN724NSBKV72JSVWR442SRQA6XAZDPRPCAF6HOHN6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VK7BQUWZDH5O67B345YGK6NLZ2BSOSYYRP5DJ5KGDZAVY7VA7TSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E2WWVC3HYR5OM3RMKQA2ND43RFX7B5NRBAQB4FPXRVGEKPGR4INA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CRPABGQXLQWNOFQR67RMI4ZSLRUS4IWW5Z76GLVI4R7U3GOQ5B7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLP7EXVDZ5IXUE2B4ENATJHVWJKIU6AC76EEQ23JL73J65YJC7QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LSG35KG6KY3QPDQ5CNDU6FFX3MGAIVFZV476N74JXWU2JUG63AFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFFBDOHUZWFLPNOJZM3QMF53I2KK2PIBHEAJQR2QLFXWVCWVRWTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKBZQKBBO7HG6NIJ6M4QIBD36Z3542OU6WUMRGYPE2IPEHPEYX6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34SU2HFMTNTZ4QXKCDRSUODLY3H742HXIDM47DPOLN72TKK5TUWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MGRFVVK23UJQVWBUEDPM3OM3ZV7QH42DNT7TPNKB774FODNPUWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NWGZFJQ4CNTP4CI4S47775SS6IWTFBIXARCET6GNPQYCJS6V2GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BCZBNTQGLUCCXQRSFQ6EGM4ECEVQP73GZL46RWSSBCLDPBUCOBJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZJBAD2UNIXE6RD656JNXYWQSUOZDPFKVR53YKDPPAT6HVI2CO3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5WSH3UQ7YOOEVTX4HFDDMMQQ22HZ6D5VGLJLPBX3OU4F3LMYP43Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3CWREJFDOCJC2KBT2U37WILU57CMS2DJSDHWMEEA7XPRK2ZKZFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AA3MGR26V4K6EQMCXHBRGGCO7WXIBRJCX5IZUQMXTTDMATCVRMXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HM2DYYEOXNGUQ52GGKJKEOIJPI4GTJUJODWU24ED3I6HBXNZY5VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFXBDMB5IPIAO6JAWZN74CFPWUIW4P4FSK7DTB5IESWKMYQXIELQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVL4A5GS6PH2IZFZXR3S2UNWGDDZHN5RKZG2XL6NIRNQRHC3YOIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BK65BOTOV5ZWWBWDISBHDOM2IFN2S7AJQBUFCSZKXZZYLYJAA3UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OIX2V23OEF5EW26LRYCCMGJLAXWM464RA2VLVEZG5UTAW3NV4ZKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWPOMJZZ6ZQZV3KMWS444F4YBS5VX4KTACZBWNDIT7W44KIEATAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJMKL6VVRDIZQPQNYCQZPU7RN5UL5I6CGHFXY7PSLFK2C4WTTRNQ/vendors.js"
            ]
        },
        "GetRunGroup": {
            "http": {
                "method": "GET",
                "requestUri": "/runGroup/{id}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "arn": {},
                    "id": {},
                    "name": {},
                    "maxCpus": {
                        "type": "integer"
                    },
                    "maxGpus": {
                        "type": "integer"
                    },
                    "maxRuns": {
                        "type": "integer"
                    },
                    "maxDuration": {
                        "type": "integer"
                    },
                    "creationTime": {
                        "shape": "S1t"
                    },
                    "tags": {
                        "shape": "S9"
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "workflows-"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ITBMEBDRELZUXZWMIZ66KDOGTAECXHB6AABXNHRFZ3IXNDAP4XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BWENQE7LYN724NSBKV72JSVWR442SRQA6XAZDPRPCAF6HOHN6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VK7BQUWZDH5O67B345YGK6NLZ2BSOSYYRP5DJ5KGDZAVY7VA7TSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E2WWVC3HYR5OM3RMKQA2ND43RFX7B5NRBAQB4FPXRVGEKPGR4INA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CRPABGQXLQWNOFQR67RMI4ZSLRUS4IWW5Z76GLVI4R7U3GOQ5B7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLP7EXVDZ5IXUE2B4ENATJHVWJKIU6AC76EEQ23JL73J65YJC7QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LSG35KG6KY3QPDQ5CNDU6FFX3MGAIVFZV476N74JXWU2JUG63AFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFFBDOHUZWFLPNOJZM3QMF53I2KK2PIBHEAJQR2QLFXWVCWVRWTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKBZQKBBO7HG6NIJ6M4QIBD36Z3542OU6WUMRGYPE2IPEHPEYX6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34SU2HFMTNTZ4QXKCDRSUODLY3H742HXIDM47DPOLN72TKK5TUWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MGRFVVK23UJQVWBUEDPM3OM3ZV7QH42DNT7TPNKB774FODNPUWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NWGZFJQ4CNTP4CI4S47775SS6IWTFBIXARCET6GNPQYCJS6V2GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BCZBNTQGLUCCXQRSFQ6EGM4ECEVQP73GZL46RWSSBCLDPBUCOBJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZJBAD2UNIXE6RD656JNXYWQSUOZDPFKVR53YKDPPAT6HVI2CO3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5WSH3UQ7YOOEVTX4HFDDMMQQ22HZ6D5VGLJLPBX3OU4F3LMYP43Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3CWREJFDOCJC2KBT2U37WILU57CMS2DJSDHWMEEA7XPRK2ZKZFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AA3MGR26V4K6EQMCXHBRGGCO7WXIBRJCX5IZUQMXTTDMATCVRMXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HM2DYYEOXNGUQ52GGKJKEOIJPI4GTJUJODWU24ED3I6HBXNZY5VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFXBDMB5IPIAO6JAWZN74CFPWUIW4P4FSK7DTB5IESWKMYQXIELQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVL4A5GS6PH2IZFZXR3S2UNWGDDZHN5RKZG2XL6NIRNQRHC3YOIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BK65BOTOV5ZWWBWDISBHDOM2IFN2S7AJQBUFCSZKXZZYLYJAA3UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OIX2V23OEF5EW26LRYCCMGJLAXWM464RA2VLVEZG5UTAW3NV4ZKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWPOMJZZ6ZQZV3KMWS444F4YBS5VX4KTACZBWNDIT7W44KIEATAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJMKL6VVRDIZQPQNYCQZPU7RN5UL5I6CGHFXY7PSLFK2C4WTTRNQ/vendors.js"
            ]
        },
        "GetRunTask": {
            "http": {
                "method": "GET",
                "requestUri": "/run/{id}/task/{taskId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "id",
                    "taskId"
                ],
                "members": {
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    },
                    "taskId": {
                        "location": "uri",
                        "locationName": "taskId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "taskId": {},
                    "status": {},
                    "name": {},
                    "cpus": {
                        "type": "integer"
                    },
                    "memory": {
                        "type": "integer"
                    },
                    "gpus": {
                        "type": "integer"
                    },
                    "creationTime": {
                        "shape": "S22"
                    },
                    "startTime": {
                        "shape": "S22"
                    },
                    "stopTime": {
                        "shape": "S22"
                    },
                    "statusMessage": {},
                    "logStream": {}
                }
            },
            "endpoint": {
                "hostPrefix": "workflows-"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ITBMEBDRELZUXZWMIZ66KDOGTAECXHB6AABXNHRFZ3IXNDAP4XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BWENQE7LYN724NSBKV72JSVWR442SRQA6XAZDPRPCAF6HOHN6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VK7BQUWZDH5O67B345YGK6NLZ2BSOSYYRP5DJ5KGDZAVY7VA7TSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E2WWVC3HYR5OM3RMKQA2ND43RFX7B5NRBAQB4FPXRVGEKPGR4INA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CRPABGQXLQWNOFQR67RMI4ZSLRUS4IWW5Z76GLVI4R7U3GOQ5B7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLP7EXVDZ5IXUE2B4ENATJHVWJKIU6AC76EEQ23JL73J65YJC7QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LSG35KG6KY3QPDQ5CNDU6FFX3MGAIVFZV476N74JXWU2JUG63AFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFFBDOHUZWFLPNOJZM3QMF53I2KK2PIBHEAJQR2QLFXWVCWVRWTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKBZQKBBO7HG6NIJ6M4QIBD36Z3542OU6WUMRGYPE2IPEHPEYX6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34SU2HFMTNTZ4QXKCDRSUODLY3H742HXIDM47DPOLN72TKK5TUWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MGRFVVK23UJQVWBUEDPM3OM3ZV7QH42DNT7TPNKB774FODNPUWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NWGZFJQ4CNTP4CI4S47775SS6IWTFBIXARCET6GNPQYCJS6V2GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BCZBNTQGLUCCXQRSFQ6EGM4ECEVQP73GZL46RWSSBCLDPBUCOBJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZJBAD2UNIXE6RD656JNXYWQSUOZDPFKVR53YKDPPAT6HVI2CO3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5WSH3UQ7YOOEVTX4HFDDMMQQ22HZ6D5VGLJLPBX3OU4F3LMYP43Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3CWREJFDOCJC2KBT2U37WILU57CMS2DJSDHWMEEA7XPRK2ZKZFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AA3MGR26V4K6EQMCXHBRGGCO7WXIBRJCX5IZUQMXTTDMATCVRMXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HM2DYYEOXNGUQ52GGKJKEOIJPI4GTJUJODWU24ED3I6HBXNZY5VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFXBDMB5IPIAO6JAWZN74CFPWUIW4P4FSK7DTB5IESWKMYQXIELQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVL4A5GS6PH2IZFZXR3S2UNWGDDZHN5RKZG2XL6NIRNQRHC3YOIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BK65BOTOV5ZWWBWDISBHDOM2IFN2S7AJQBUFCSZKXZZYLYJAA3UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OIX2V23OEF5EW26LRYCCMGJLAXWM464RA2VLVEZG5UTAW3NV4ZKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWPOMJZZ6ZQZV3KMWS444F4YBS5VX4KTACZBWNDIT7W44KIEATAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJMKL6VVRDIZQPQNYCQZPU7RN5UL5I6CGHFXY7PSLFK2C4WTTRNQ/vendors.js"
            ]
        },
        "GetWorkflow": {
            "http": {
                "method": "GET",
                "requestUri": "/workflow/{id}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    },
                    "type": {
                        "location": "querystring",
                        "locationName": "type"
                    },
                    "export": {
                        "location": "querystring",
                        "locationName": "export",
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "arn": {},
                    "id": {},
                    "status": {},
                    "type": {},
                    "name": {},
                    "description": {},
                    "engine": {},
                    "definition": {},
                    "main": {},
                    "digest": {},
                    "parameterTemplate": {
                        "shape": "Sn"
                    },
                    "metadata": {
                        "shape": "S29"
                    },
                    "storageCapacity": {
                        "type": "integer"
                    },
                    "accelerators": {},
                    "creationTime": {
                        "shape": "S2d"
                    },
                    "statusMessage": {},
                    "tags": {
                        "shape": "S9"
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "workflows-"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ITBMEBDRELZUXZWMIZ66KDOGTAECXHB6AABXNHRFZ3IXNDAP4XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BWENQE7LYN724NSBKV72JSVWR442SRQA6XAZDPRPCAF6HOHN6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VK7BQUWZDH5O67B345YGK6NLZ2BSOSYYRP5DJ5KGDZAVY7VA7TSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E2WWVC3HYR5OM3RMKQA2ND43RFX7B5NRBAQB4FPXRVGEKPGR4INA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CRPABGQXLQWNOFQR67RMI4ZSLRUS4IWW5Z76GLVI4R7U3GOQ5B7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLP7EXVDZ5IXUE2B4ENATJHVWJKIU6AC76EEQ23JL73J65YJC7QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LSG35KG6KY3QPDQ5CNDU6FFX3MGAIVFZV476N74JXWU2JUG63AFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFFBDOHUZWFLPNOJZM3QMF53I2KK2PIBHEAJQR2QLFXWVCWVRWTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKBZQKBBO7HG6NIJ6M4QIBD36Z3542OU6WUMRGYPE2IPEHPEYX6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34SU2HFMTNTZ4QXKCDRSUODLY3H742HXIDM47DPOLN72TKK5TUWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MGRFVVK23UJQVWBUEDPM3OM3ZV7QH42DNT7TPNKB774FODNPUWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NWGZFJQ4CNTP4CI4S47775SS6IWTFBIXARCET6GNPQYCJS6V2GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BCZBNTQGLUCCXQRSFQ6EGM4ECEVQP73GZL46RWSSBCLDPBUCOBJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZJBAD2UNIXE6RD656JNXYWQSUOZDPFKVR53YKDPPAT6HVI2CO3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5WSH3UQ7YOOEVTX4HFDDMMQQ22HZ6D5VGLJLPBX3OU4F3LMYP43Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3CWREJFDOCJC2KBT2U37WILU57CMS2DJSDHWMEEA7XPRK2ZKZFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AA3MGR26V4K6EQMCXHBRGGCO7WXIBRJCX5IZUQMXTTDMATCVRMXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HM2DYYEOXNGUQ52GGKJKEOIJPI4GTJUJODWU24ED3I6HBXNZY5VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFXBDMB5IPIAO6JAWZN74CFPWUIW4P4FSK7DTB5IESWKMYQXIELQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVL4A5GS6PH2IZFZXR3S2UNWGDDZHN5RKZG2XL6NIRNQRHC3YOIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BK65BOTOV5ZWWBWDISBHDOM2IFN2S7AJQBUFCSZKXZZYLYJAA3UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OIX2V23OEF5EW26LRYCCMGJLAXWM464RA2VLVEZG5UTAW3NV4ZKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWPOMJZZ6ZQZV3KMWS444F4YBS5VX4KTACZBWNDIT7W44KIEATAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJMKL6VVRDIZQPQNYCQZPU7RN5UL5I6CGHFXY7PSLFK2C4WTTRNQ/vendors.js"
            ]
        },
        "ListRunGroups": {
            "http": {
                "method": "GET",
                "requestUri": "/runGroup",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "name": {
                        "location": "querystring",
                        "locationName": "name"
                    },
                    "startingToken": {
                        "location": "querystring",
                        "locationName": "startingToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "items": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "arn": {},
                                "id": {},
                                "name": {},
                                "maxCpus": {
                                    "type": "integer"
                                },
                                "maxGpus": {
                                    "type": "integer"
                                },
                                "maxRuns": {
                                    "type": "integer"
                                },
                                "maxDuration": {
                                    "type": "integer"
                                },
                                "creationTime": {
                                    "shape": "S1t"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "endpoint": {
                "hostPrefix": "workflows-"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ITBMEBDRELZUXZWMIZ66KDOGTAECXHB6AABXNHRFZ3IXNDAP4XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BWENQE7LYN724NSBKV72JSVWR442SRQA6XAZDPRPCAF6HOHN6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VK7BQUWZDH5O67B345YGK6NLZ2BSOSYYRP5DJ5KGDZAVY7VA7TSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E2WWVC3HYR5OM3RMKQA2ND43RFX7B5NRBAQB4FPXRVGEKPGR4INA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CRPABGQXLQWNOFQR67RMI4ZSLRUS4IWW5Z76GLVI4R7U3GOQ5B7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLP7EXVDZ5IXUE2B4ENATJHVWJKIU6AC76EEQ23JL73J65YJC7QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LSG35KG6KY3QPDQ5CNDU6FFX3MGAIVFZV476N74JXWU2JUG63AFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFFBDOHUZWFLPNOJZM3QMF53I2KK2PIBHEAJQR2QLFXWVCWVRWTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKBZQKBBO7HG6NIJ6M4QIBD36Z3542OU6WUMRGYPE2IPEHPEYX6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34SU2HFMTNTZ4QXKCDRSUODLY3H742HXIDM47DPOLN72TKK5TUWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MGRFVVK23UJQVWBUEDPM3OM3ZV7QH42DNT7TPNKB774FODNPUWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NWGZFJQ4CNTP4CI4S47775SS6IWTFBIXARCET6GNPQYCJS6V2GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BCZBNTQGLUCCXQRSFQ6EGM4ECEVQP73GZL46RWSSBCLDPBUCOBJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZJBAD2UNIXE6RD656JNXYWQSUOZDPFKVR53YKDPPAT6HVI2CO3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5WSH3UQ7YOOEVTX4HFDDMMQQ22HZ6D5VGLJLPBX3OU4F3LMYP43Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3CWREJFDOCJC2KBT2U37WILU57CMS2DJSDHWMEEA7XPRK2ZKZFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AA3MGR26V4K6EQMCXHBRGGCO7WXIBRJCX5IZUQMXTTDMATCVRMXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HM2DYYEOXNGUQ52GGKJKEOIJPI4GTJUJODWU24ED3I6HBXNZY5VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFXBDMB5IPIAO6JAWZN74CFPWUIW4P4FSK7DTB5IESWKMYQXIELQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVL4A5GS6PH2IZFZXR3S2UNWGDDZHN5RKZG2XL6NIRNQRHC3YOIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BK65BOTOV5ZWWBWDISBHDOM2IFN2S7AJQBUFCSZKXZZYLYJAA3UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OIX2V23OEF5EW26LRYCCMGJLAXWM464RA2VLVEZG5UTAW3NV4ZKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWPOMJZZ6ZQZV3KMWS444F4YBS5VX4KTACZBWNDIT7W44KIEATAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJMKL6VVRDIZQPQNYCQZPU7RN5UL5I6CGHFXY7PSLFK2C4WTTRNQ/vendors.js"
            ]
        },
        "ListRunTasks": {
            "http": {
                "method": "GET",
                "requestUri": "/run/{id}/task",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    },
                    "status": {
                        "location": "querystring",
                        "locationName": "status"
                    },
                    "startingToken": {
                        "location": "querystring",
                        "locationName": "startingToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "items": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "taskId": {},
                                "status": {},
                                "name": {},
                                "cpus": {
                                    "type": "integer"
                                },
                                "gpus": {
                                    "type": "integer"
                                },
                                "memory": {
                                    "type": "integer"
                                },
                                "creationTime": {
                                    "shape": "S22"
                                },
                                "startTime": {
                                    "shape": "S22"
                                },
                                "stopTime": {
                                    "shape": "S22"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "endpoint": {
                "hostPrefix": "workflows-"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ITBMEBDRELZUXZWMIZ66KDOGTAECXHB6AABXNHRFZ3IXNDAP4XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BWENQE7LYN724NSBKV72JSVWR442SRQA6XAZDPRPCAF6HOHN6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VK7BQUWZDH5O67B345YGK6NLZ2BSOSYYRP5DJ5KGDZAVY7VA7TSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E2WWVC3HYR5OM3RMKQA2ND43RFX7B5NRBAQB4FPXRVGEKPGR4INA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CRPABGQXLQWNOFQR67RMI4ZSLRUS4IWW5Z76GLVI4R7U3GOQ5B7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLP7EXVDZ5IXUE2B4ENATJHVWJKIU6AC76EEQ23JL73J65YJC7QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LSG35KG6KY3QPDQ5CNDU6FFX3MGAIVFZV476N74JXWU2JUG63AFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFFBDOHUZWFLPNOJZM3QMF53I2KK2PIBHEAJQR2QLFXWVCWVRWTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKBZQKBBO7HG6NIJ6M4QIBD36Z3542OU6WUMRGYPE2IPEHPEYX6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34SU2HFMTNTZ4QXKCDRSUODLY3H742HXIDM47DPOLN72TKK5TUWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MGRFVVK23UJQVWBUEDPM3OM3ZV7QH42DNT7TPNKB774FODNPUWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NWGZFJQ4CNTP4CI4S47775SS6IWTFBIXARCET6GNPQYCJS6V2GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BCZBNTQGLUCCXQRSFQ6EGM4ECEVQP73GZL46RWSSBCLDPBUCOBJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZJBAD2UNIXE6RD656JNXYWQSUOZDPFKVR53YKDPPAT6HVI2CO3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5WSH3UQ7YOOEVTX4HFDDMMQQ22HZ6D5VGLJLPBX3OU4F3LMYP43Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3CWREJFDOCJC2KBT2U37WILU57CMS2DJSDHWMEEA7XPRK2ZKZFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AA3MGR26V4K6EQMCXHBRGGCO7WXIBRJCX5IZUQMXTTDMATCVRMXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HM2DYYEOXNGUQ52GGKJKEOIJPI4GTJUJODWU24ED3I6HBXNZY5VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFXBDMB5IPIAO6JAWZN74CFPWUIW4P4FSK7DTB5IESWKMYQXIELQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVL4A5GS6PH2IZFZXR3S2UNWGDDZHN5RKZG2XL6NIRNQRHC3YOIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BK65BOTOV5ZWWBWDISBHDOM2IFN2S7AJQBUFCSZKXZZYLYJAA3UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OIX2V23OEF5EW26LRYCCMGJLAXWM464RA2VLVEZG5UTAW3NV4ZKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWPOMJZZ6ZQZV3KMWS444F4YBS5VX4KTACZBWNDIT7W44KIEATAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJMKL6VVRDIZQPQNYCQZPU7RN5UL5I6CGHFXY7PSLFK2C4WTTRNQ/vendors.js"
            ]
        },
        "ListRuns": {
            "http": {
                "method": "GET",
                "requestUri": "/run",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "name": {
                        "location": "querystring",
                        "locationName": "name"
                    },
                    "runGroupId": {
                        "location": "querystring",
                        "locationName": "runGroupId"
                    },
                    "startingToken": {
                        "location": "querystring",
                        "locationName": "startingToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "status": {
                        "location": "querystring",
                        "locationName": "status"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "items": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "arn": {},
                                "id": {},
                                "status": {},
                                "workflowId": {},
                                "name": {},
                                "priority": {
                                    "type": "integer"
                                },
                                "storageCapacity": {
                                    "type": "integer"
                                },
                                "creationTime": {
                                    "shape": "S1l"
                                },
                                "startTime": {
                                    "shape": "S1l"
                                },
                                "stopTime": {
                                    "shape": "S1l"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "endpoint": {
                "hostPrefix": "workflows-"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ITBMEBDRELZUXZWMIZ66KDOGTAECXHB6AABXNHRFZ3IXNDAP4XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BWENQE7LYN724NSBKV72JSVWR442SRQA6XAZDPRPCAF6HOHN6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VK7BQUWZDH5O67B345YGK6NLZ2BSOSYYRP5DJ5KGDZAVY7VA7TSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E2WWVC3HYR5OM3RMKQA2ND43RFX7B5NRBAQB4FPXRVGEKPGR4INA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CRPABGQXLQWNOFQR67RMI4ZSLRUS4IWW5Z76GLVI4R7U3GOQ5B7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLP7EXVDZ5IXUE2B4ENATJHVWJKIU6AC76EEQ23JL73J65YJC7QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LSG35KG6KY3QPDQ5CNDU6FFX3MGAIVFZV476N74JXWU2JUG63AFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFFBDOHUZWFLPNOJZM3QMF53I2KK2PIBHEAJQR2QLFXWVCWVRWTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKBZQKBBO7HG6NIJ6M4QIBD36Z3542OU6WUMRGYPE2IPEHPEYX6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34SU2HFMTNTZ4QXKCDRSUODLY3H742HXIDM47DPOLN72TKK5TUWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MGRFVVK23UJQVWBUEDPM3OM3ZV7QH42DNT7TPNKB774FODNPUWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NWGZFJQ4CNTP4CI4S47775SS6IWTFBIXARCET6GNPQYCJS6V2GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BCZBNTQGLUCCXQRSFQ6EGM4ECEVQP73GZL46RWSSBCLDPBUCOBJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZJBAD2UNIXE6RD656JNXYWQSUOZDPFKVR53YKDPPAT6HVI2CO3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5WSH3UQ7YOOEVTX4HFDDMMQQ22HZ6D5VGLJLPBX3OU4F3LMYP43Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3CWREJFDOCJC2KBT2U37WILU57CMS2DJSDHWMEEA7XPRK2ZKZFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AA3MGR26V4K6EQMCXHBRGGCO7WXIBRJCX5IZUQMXTTDMATCVRMXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HM2DYYEOXNGUQ52GGKJKEOIJPI4GTJUJODWU24ED3I6HBXNZY5VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFXBDMB5IPIAO6JAWZN74CFPWUIW4P4FSK7DTB5IESWKMYQXIELQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVL4A5GS6PH2IZFZXR3S2UNWGDDZHN5RKZG2XL6NIRNQRHC3YOIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BK65BOTOV5ZWWBWDISBHDOM2IFN2S7AJQBUFCSZKXZZYLYJAA3UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OIX2V23OEF5EW26LRYCCMGJLAXWM464RA2VLVEZG5UTAW3NV4ZKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWPOMJZZ6ZQZV3KMWS444F4YBS5VX4KTACZBWNDIT7W44KIEATAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJMKL6VVRDIZQPQNYCQZPU7RN5UL5I6CGHFXY7PSLFK2C4WTTRNQ/vendors.js"
            ]
        },
        "ListTagsForResource": {
            "http": {
                "method": "GET",
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "tags"
                ],
                "members": {
                    "tags": {
                        "shape": "S9"
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "tags-"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ITBMEBDRELZUXZWMIZ66KDOGTAECXHB6AABXNHRFZ3IXNDAP4XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BWENQE7LYN724NSBKV72JSVWR442SRQA6XAZDPRPCAF6HOHN6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VK7BQUWZDH5O67B345YGK6NLZ2BSOSYYRP5DJ5KGDZAVY7VA7TSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E2WWVC3HYR5OM3RMKQA2ND43RFX7B5NRBAQB4FPXRVGEKPGR4INA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CRPABGQXLQWNOFQR67RMI4ZSLRUS4IWW5Z76GLVI4R7U3GOQ5B7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLP7EXVDZ5IXUE2B4ENATJHVWJKIU6AC76EEQ23JL73J65YJC7QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LSG35KG6KY3QPDQ5CNDU6FFX3MGAIVFZV476N74JXWU2JUG63AFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFFBDOHUZWFLPNOJZM3QMF53I2KK2PIBHEAJQR2QLFXWVCWVRWTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKBZQKBBO7HG6NIJ6M4QIBD36Z3542OU6WUMRGYPE2IPEHPEYX6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34SU2HFMTNTZ4QXKCDRSUODLY3H742HXIDM47DPOLN72TKK5TUWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MGRFVVK23UJQVWBUEDPM3OM3ZV7QH42DNT7TPNKB774FODNPUWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NWGZFJQ4CNTP4CI4S47775SS6IWTFBIXARCET6GNPQYCJS6V2GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BCZBNTQGLUCCXQRSFQ6EGM4ECEVQP73GZL46RWSSBCLDPBUCOBJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZJBAD2UNIXE6RD656JNXYWQSUOZDPFKVR53YKDPPAT6HVI2CO3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5WSH3UQ7YOOEVTX4HFDDMMQQ22HZ6D5VGLJLPBX3OU4F3LMYP43Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3CWREJFDOCJC2KBT2U37WILU57CMS2DJSDHWMEEA7XPRK2ZKZFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AA3MGR26V4K6EQMCXHBRGGCO7WXIBRJCX5IZUQMXTTDMATCVRMXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HM2DYYEOXNGUQ52GGKJKEOIJPI4GTJUJODWU24ED3I6HBXNZY5VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFXBDMB5IPIAO6JAWZN74CFPWUIW4P4FSK7DTB5IESWKMYQXIELQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVL4A5GS6PH2IZFZXR3S2UNWGDDZHN5RKZG2XL6NIRNQRHC3YOIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BK65BOTOV5ZWWBWDISBHDOM2IFN2S7AJQBUFCSZKXZZYLYJAA3UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OIX2V23OEF5EW26LRYCCMGJLAXWM464RA2VLVEZG5UTAW3NV4ZKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWPOMJZZ6ZQZV3KMWS444F4YBS5VX4KTACZBWNDIT7W44KIEATAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJMKL6VVRDIZQPQNYCQZPU7RN5UL5I6CGHFXY7PSLFK2C4WTTRNQ/vendors.js"
            ]
        },
        "ListWorkflows": {
            "http": {
                "method": "GET",
                "requestUri": "/workflow",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "type": {
                        "location": "querystring",
                        "locationName": "type"
                    },
                    "name": {
                        "location": "querystring",
                        "locationName": "name"
                    },
                    "startingToken": {
                        "location": "querystring",
                        "locationName": "startingToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "items": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "arn": {},
                                "id": {},
                                "name": {},
                                "status": {},
                                "type": {},
                                "metadata": {
                                    "shape": "S29"
                                },
                                "digest": {},
                                "creationTime": {
                                    "shape": "S2d"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "endpoint": {
                "hostPrefix": "workflows-"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ITBMEBDRELZUXZWMIZ66KDOGTAECXHB6AABXNHRFZ3IXNDAP4XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BWENQE7LYN724NSBKV72JSVWR442SRQA6XAZDPRPCAF6HOHN6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VK7BQUWZDH5O67B345YGK6NLZ2BSOSYYRP5DJ5KGDZAVY7VA7TSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E2WWVC3HYR5OM3RMKQA2ND43RFX7B5NRBAQB4FPXRVGEKPGR4INA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CRPABGQXLQWNOFQR67RMI4ZSLRUS4IWW5Z76GLVI4R7U3GOQ5B7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLP7EXVDZ5IXUE2B4ENATJHVWJKIU6AC76EEQ23JL73J65YJC7QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LSG35KG6KY3QPDQ5CNDU6FFX3MGAIVFZV476N74JXWU2JUG63AFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFFBDOHUZWFLPNOJZM3QMF53I2KK2PIBHEAJQR2QLFXWVCWVRWTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKBZQKBBO7HG6NIJ6M4QIBD36Z3542OU6WUMRGYPE2IPEHPEYX6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34SU2HFMTNTZ4QXKCDRSUODLY3H742HXIDM47DPOLN72TKK5TUWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MGRFVVK23UJQVWBUEDPM3OM3ZV7QH42DNT7TPNKB774FODNPUWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NWGZFJQ4CNTP4CI4S47775SS6IWTFBIXARCET6GNPQYCJS6V2GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BCZBNTQGLUCCXQRSFQ6EGM4ECEVQP73GZL46RWSSBCLDPBUCOBJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZJBAD2UNIXE6RD656JNXYWQSUOZDPFKVR53YKDPPAT6HVI2CO3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5WSH3UQ7YOOEVTX4HFDDMMQQ22HZ6D5VGLJLPBX3OU4F3LMYP43Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3CWREJFDOCJC2KBT2U37WILU57CMS2DJSDHWMEEA7XPRK2ZKZFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AA3MGR26V4K6EQMCXHBRGGCO7WXIBRJCX5IZUQMXTTDMATCVRMXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HM2DYYEOXNGUQ52GGKJKEOIJPI4GTJUJODWU24ED3I6HBXNZY5VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFXBDMB5IPIAO6JAWZN74CFPWUIW4P4FSK7DTB5IESWKMYQXIELQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVL4A5GS6PH2IZFZXR3S2UNWGDDZHN5RKZG2XL6NIRNQRHC3YOIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BK65BOTOV5ZWWBWDISBHDOM2IFN2S7AJQBUFCSZKXZZYLYJAA3UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OIX2V23OEF5EW26LRYCCMGJLAXWM464RA2VLVEZG5UTAW3NV4ZKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWPOMJZZ6ZQZV3KMWS444F4YBS5VX4KTACZBWNDIT7W44KIEATAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJMKL6VVRDIZQPQNYCQZPU7RN5UL5I6CGHFXY7PSLFK2C4WTTRNQ/vendors.js"
            ]
        },
        "StartRun": {
            "http": {
                "requestUri": "/run",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "roleArn",
                    "requestId"
                ],
                "members": {
                    "workflowId": {},
                    "workflowType": {},
                    "runId": {},
                    "roleArn": {},
                    "name": {},
                    "runGroupId": {},
                    "priority": {
                        "type": "integer"
                    },
                    "parameters": {
                        "shape": "S1d"
                    },
                    "storageCapacity": {
                        "type": "integer"
                    },
                    "outputUri": {},
                    "logLevel": {},
                    "tags": {
                        "shape": "S9"
                    },
                    "requestId": {
                        "idempotencyToken": true
                    },
                    "retentionMode": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "arn": {},
                    "id": {},
                    "status": {},
                    "tags": {
                        "shape": "S9"
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "workflows-"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ITBMEBDRELZUXZWMIZ66KDOGTAECXHB6AABXNHRFZ3IXNDAP4XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BWENQE7LYN724NSBKV72JSVWR442SRQA6XAZDPRPCAF6HOHN6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VK7BQUWZDH5O67B345YGK6NLZ2BSOSYYRP5DJ5KGDZAVY7VA7TSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E2WWVC3HYR5OM3RMKQA2ND43RFX7B5NRBAQB4FPXRVGEKPGR4INA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CRPABGQXLQWNOFQR67RMI4ZSLRUS4IWW5Z76GLVI4R7U3GOQ5B7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLP7EXVDZ5IXUE2B4ENATJHVWJKIU6AC76EEQ23JL73J65YJC7QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LSG35KG6KY3QPDQ5CNDU6FFX3MGAIVFZV476N74JXWU2JUG63AFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFFBDOHUZWFLPNOJZM3QMF53I2KK2PIBHEAJQR2QLFXWVCWVRWTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKBZQKBBO7HG6NIJ6M4QIBD36Z3542OU6WUMRGYPE2IPEHPEYX6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34SU2HFMTNTZ4QXKCDRSUODLY3H742HXIDM47DPOLN72TKK5TUWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MGRFVVK23UJQVWBUEDPM3OM3ZV7QH42DNT7TPNKB774FODNPUWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NWGZFJQ4CNTP4CI4S47775SS6IWTFBIXARCET6GNPQYCJS6V2GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BCZBNTQGLUCCXQRSFQ6EGM4ECEVQP73GZL46RWSSBCLDPBUCOBJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZJBAD2UNIXE6RD656JNXYWQSUOZDPFKVR53YKDPPAT6HVI2CO3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5WSH3UQ7YOOEVTX4HFDDMMQQ22HZ6D5VGLJLPBX3OU4F3LMYP43Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3CWREJFDOCJC2KBT2U37WILU57CMS2DJSDHWMEEA7XPRK2ZKZFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AA3MGR26V4K6EQMCXHBRGGCO7WXIBRJCX5IZUQMXTTDMATCVRMXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HM2DYYEOXNGUQ52GGKJKEOIJPI4GTJUJODWU24ED3I6HBXNZY5VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFXBDMB5IPIAO6JAWZN74CFPWUIW4P4FSK7DTB5IESWKMYQXIELQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVL4A5GS6PH2IZFZXR3S2UNWGDDZHN5RKZG2XL6NIRNQRHC3YOIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BK65BOTOV5ZWWBWDISBHDOM2IFN2S7AJQBUFCSZKXZZYLYJAA3UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OIX2V23OEF5EW26LRYCCMGJLAXWM464RA2VLVEZG5UTAW3NV4ZKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWPOMJZZ6ZQZV3KMWS444F4YBS5VX4KTACZBWNDIT7W44KIEATAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJMKL6VVRDIZQPQNYCQZPU7RN5UL5I6CGHFXY7PSLFK2C4WTTRNQ/vendors.js"
            ]
        },
        "TagResource": {
            "http": {
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "tags"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    },
                    "tags": {
                        "type": "map",
                        "key": {},
                        "value": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "endpoint": {
                "hostPrefix": "tags-"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ITBMEBDRELZUXZWMIZ66KDOGTAECXHB6AABXNHRFZ3IXNDAP4XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BWENQE7LYN724NSBKV72JSVWR442SRQA6XAZDPRPCAF6HOHN6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VK7BQUWZDH5O67B345YGK6NLZ2BSOSYYRP5DJ5KGDZAVY7VA7TSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E2WWVC3HYR5OM3RMKQA2ND43RFX7B5NRBAQB4FPXRVGEKPGR4INA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CRPABGQXLQWNOFQR67RMI4ZSLRUS4IWW5Z76GLVI4R7U3GOQ5B7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLP7EXVDZ5IXUE2B4ENATJHVWJKIU6AC76EEQ23JL73J65YJC7QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LSG35KG6KY3QPDQ5CNDU6FFX3MGAIVFZV476N74JXWU2JUG63AFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFFBDOHUZWFLPNOJZM3QMF53I2KK2PIBHEAJQR2QLFXWVCWVRWTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKBZQKBBO7HG6NIJ6M4QIBD36Z3542OU6WUMRGYPE2IPEHPEYX6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34SU2HFMTNTZ4QXKCDRSUODLY3H742HXIDM47DPOLN72TKK5TUWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MGRFVVK23UJQVWBUEDPM3OM3ZV7QH42DNT7TPNKB774FODNPUWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NWGZFJQ4CNTP4CI4S47775SS6IWTFBIXARCET6GNPQYCJS6V2GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BCZBNTQGLUCCXQRSFQ6EGM4ECEVQP73GZL46RWSSBCLDPBUCOBJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZJBAD2UNIXE6RD656JNXYWQSUOZDPFKVR53YKDPPAT6HVI2CO3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5WSH3UQ7YOOEVTX4HFDDMMQQ22HZ6D5VGLJLPBX3OU4F3LMYP43Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3CWREJFDOCJC2KBT2U37WILU57CMS2DJSDHWMEEA7XPRK2ZKZFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AA3MGR26V4K6EQMCXHBRGGCO7WXIBRJCX5IZUQMXTTDMATCVRMXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HM2DYYEOXNGUQ52GGKJKEOIJPI4GTJUJODWU24ED3I6HBXNZY5VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFXBDMB5IPIAO6JAWZN74CFPWUIW4P4FSK7DTB5IESWKMYQXIELQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVL4A5GS6PH2IZFZXR3S2UNWGDDZHN5RKZG2XL6NIRNQRHC3YOIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BK65BOTOV5ZWWBWDISBHDOM2IFN2S7AJQBUFCSZKXZZYLYJAA3UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OIX2V23OEF5EW26LRYCCMGJLAXWM464RA2VLVEZG5UTAW3NV4ZKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWPOMJZZ6ZQZV3KMWS444F4YBS5VX4KTACZBWNDIT7W44KIEATAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJMKL6VVRDIZQPQNYCQZPU7RN5UL5I6CGHFXY7PSLFK2C4WTTRNQ/vendors.js"
            ]
        },
        "UntagResource": {
            "http": {
                "method": "DELETE",
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "tagKeys"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    },
                    "tagKeys": {
                        "location": "querystring",
                        "locationName": "tagKeys",
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "endpoint": {
                "hostPrefix": "tags-"
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ITBMEBDRELZUXZWMIZ66KDOGTAECXHB6AABXNHRFZ3IXNDAP4XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BWENQE7LYN724NSBKV72JSVWR442SRQA6XAZDPRPCAF6HOHN6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VK7BQUWZDH5O67B345YGK6NLZ2BSOSYYRP5DJ5KGDZAVY7VA7TSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E2WWVC3HYR5OM3RMKQA2ND43RFX7B5NRBAQB4FPXRVGEKPGR4INA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CRPABGQXLQWNOFQR67RMI4ZSLRUS4IWW5Z76GLVI4R7U3GOQ5B7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLP7EXVDZ5IXUE2B4ENATJHVWJKIU6AC76EEQ23JL73J65YJC7QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LSG35KG6KY3QPDQ5CNDU6FFX3MGAIVFZV476N74JXWU2JUG63AFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFFBDOHUZWFLPNOJZM3QMF53I2KK2PIBHEAJQR2QLFXWVCWVRWTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKBZQKBBO7HG6NIJ6M4QIBD36Z3542OU6WUMRGYPE2IPEHPEYX6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34SU2HFMTNTZ4QXKCDRSUODLY3H742HXIDM47DPOLN72TKK5TUWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MGRFVVK23UJQVWBUEDPM3OM3ZV7QH42DNT7TPNKB774FODNPUWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NWGZFJQ4CNTP4CI4S47775SS6IWTFBIXARCET6GNPQYCJS6V2GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BCZBNTQGLUCCXQRSFQ6EGM4ECEVQP73GZL46RWSSBCLDPBUCOBJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZJBAD2UNIXE6RD656JNXYWQSUOZDPFKVR53YKDPPAT6HVI2CO3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5WSH3UQ7YOOEVTX4HFDDMMQQ22HZ6D5VGLJLPBX3OU4F3LMYP43Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3CWREJFDOCJC2KBT2U37WILU57CMS2DJSDHWMEEA7XPRK2ZKZFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AA3MGR26V4K6EQMCXHBRGGCO7WXIBRJCX5IZUQMXTTDMATCVRMXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HM2DYYEOXNGUQ52GGKJKEOIJPI4GTJUJODWU24ED3I6HBXNZY5VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFXBDMB5IPIAO6JAWZN74CFPWUIW4P4FSK7DTB5IESWKMYQXIELQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVL4A5GS6PH2IZFZXR3S2UNWGDDZHN5RKZG2XL6NIRNQRHC3YOIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BK65BOTOV5ZWWBWDISBHDOM2IFN2S7AJQBUFCSZKXZZYLYJAA3UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OIX2V23OEF5EW26LRYCCMGJLAXWM464RA2VLVEZG5UTAW3NV4ZKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWPOMJZZ6ZQZV3KMWS444F4YBS5VX4KTACZBWNDIT7W44KIEATAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJMKL6VVRDIZQPQNYCQZPU7RN5UL5I6CGHFXY7PSLFK2C4WTTRNQ/vendors.js"
            ]
        },
        "UpdateRunGroup": {
            "http": {
                "requestUri": "/runGroup/{id}",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    },
                    "name": {},
                    "maxCpus": {
                        "type": "integer"
                    },
                    "maxGpus": {
                        "type": "integer"
                    },
                    "maxRuns": {
                        "type": "integer"
                    },
                    "maxDuration": {
                        "type": "integer"
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "workflows-"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ITBMEBDRELZUXZWMIZ66KDOGTAECXHB6AABXNHRFZ3IXNDAP4XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BWENQE7LYN724NSBKV72JSVWR442SRQA6XAZDPRPCAF6HOHN6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VK7BQUWZDH5O67B345YGK6NLZ2BSOSYYRP5DJ5KGDZAVY7VA7TSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E2WWVC3HYR5OM3RMKQA2ND43RFX7B5NRBAQB4FPXRVGEKPGR4INA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CRPABGQXLQWNOFQR67RMI4ZSLRUS4IWW5Z76GLVI4R7U3GOQ5B7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLP7EXVDZ5IXUE2B4ENATJHVWJKIU6AC76EEQ23JL73J65YJC7QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LSG35KG6KY3QPDQ5CNDU6FFX3MGAIVFZV476N74JXWU2JUG63AFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFFBDOHUZWFLPNOJZM3QMF53I2KK2PIBHEAJQR2QLFXWVCWVRWTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKBZQKBBO7HG6NIJ6M4QIBD36Z3542OU6WUMRGYPE2IPEHPEYX6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34SU2HFMTNTZ4QXKCDRSUODLY3H742HXIDM47DPOLN72TKK5TUWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MGRFVVK23UJQVWBUEDPM3OM3ZV7QH42DNT7TPNKB774FODNPUWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NWGZFJQ4CNTP4CI4S47775SS6IWTFBIXARCET6GNPQYCJS6V2GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BCZBNTQGLUCCXQRSFQ6EGM4ECEVQP73GZL46RWSSBCLDPBUCOBJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZJBAD2UNIXE6RD656JNXYWQSUOZDPFKVR53YKDPPAT6HVI2CO3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5WSH3UQ7YOOEVTX4HFDDMMQQ22HZ6D5VGLJLPBX3OU4F3LMYP43Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3CWREJFDOCJC2KBT2U37WILU57CMS2DJSDHWMEEA7XPRK2ZKZFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AA3MGR26V4K6EQMCXHBRGGCO7WXIBRJCX5IZUQMXTTDMATCVRMXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HM2DYYEOXNGUQ52GGKJKEOIJPI4GTJUJODWU24ED3I6HBXNZY5VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFXBDMB5IPIAO6JAWZN74CFPWUIW4P4FSK7DTB5IESWKMYQXIELQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVL4A5GS6PH2IZFZXR3S2UNWGDDZHN5RKZG2XL6NIRNQRHC3YOIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BK65BOTOV5ZWWBWDISBHDOM2IFN2S7AJQBUFCSZKXZZYLYJAA3UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OIX2V23OEF5EW26LRYCCMGJLAXWM464RA2VLVEZG5UTAW3NV4ZKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWPOMJZZ6ZQZV3KMWS444F4YBS5VX4KTACZBWNDIT7W44KIEATAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJMKL6VVRDIZQPQNYCQZPU7RN5UL5I6CGHFXY7PSLFK2C4WTTRNQ/vendors.js"
            ]
        },
        "UpdateWorkflow": {
            "http": {
                "requestUri": "/workflow/{id}",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    },
                    "name": {},
                    "description": {}
                }
            },
            "endpoint": {
                "hostPrefix": "workflows-"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ITBMEBDRELZUXZWMIZ66KDOGTAECXHB6AABXNHRFZ3IXNDAP4XA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BWENQE7LYN724NSBKV72JSVWR442SRQA6XAZDPRPCAF6HOHN6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VK7BQUWZDH5O67B345YGK6NLZ2BSOSYYRP5DJ5KGDZAVY7VA7TSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E2WWVC3HYR5OM3RMKQA2ND43RFX7B5NRBAQB4FPXRVGEKPGR4INA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CRPABGQXLQWNOFQR67RMI4ZSLRUS4IWW5Z76GLVI4R7U3GOQ5B7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLP7EXVDZ5IXUE2B4ENATJHVWJKIU6AC76EEQ23JL73J65YJC7QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LSG35KG6KY3QPDQ5CNDU6FFX3MGAIVFZV476N74JXWU2JUG63AFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFFBDOHUZWFLPNOJZM3QMF53I2KK2PIBHEAJQR2QLFXWVCWVRWTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKBZQKBBO7HG6NIJ6M4QIBD36Z3542OU6WUMRGYPE2IPEHPEYX6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34SU2HFMTNTZ4QXKCDRSUODLY3H742HXIDM47DPOLN72TKK5TUWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MGRFVVK23UJQVWBUEDPM3OM3ZV7QH42DNT7TPNKB774FODNPUWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NWGZFJQ4CNTP4CI4S47775SS6IWTFBIXARCET6GNPQYCJS6V2GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BCZBNTQGLUCCXQRSFQ6EGM4ECEVQP73GZL46RWSSBCLDPBUCOBJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZJBAD2UNIXE6RD656JNXYWQSUOZDPFKVR53YKDPPAT6HVI2CO3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5WSH3UQ7YOOEVTX4HFDDMMQQ22HZ6D5VGLJLPBX3OU4F3LMYP43Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3CWREJFDOCJC2KBT2U37WILU57CMS2DJSDHWMEEA7XPRK2ZKZFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AA3MGR26V4K6EQMCXHBRGGCO7WXIBRJCX5IZUQMXTTDMATCVRMXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HM2DYYEOXNGUQ52GGKJKEOIJPI4GTJUJODWU24ED3I6HBXNZY5VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFXBDMB5IPIAO6JAWZN74CFPWUIW4P4FSK7DTB5IESWKMYQXIELQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVL4A5GS6PH2IZFZXR3S2UNWGDDZHN5RKZG2XL6NIRNQRHC3YOIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BK65BOTOV5ZWWBWDISBHDOM2IFN2S7AJQBUFCSZKXZZYLYJAA3UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OIX2V23OEF5EW26LRYCCMGJLAXWM464RA2VLVEZG5UTAW3NV4ZKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWPOMJZZ6ZQZV3KMWS444F4YBS5VX4KTACZBWNDIT7W44KIEATAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJMKL6VVRDIZQPQNYCQZPU7RN5UL5I6CGHFXY7PSLFK2C4WTTRNQ/vendors.js"
            ]
        }
    },
    "shapes": {
        "S9": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "Sn": {
            "type": "map",
            "key": {},
            "value": {
                "type": "structure",
                "members": {
                    "description": {},
                    "optional": {
                        "type": "boolean"
                    }
                }
            }
        },
        "S1d": {
            "type": "structure",
            "members": {},
            "document": true
        },
        "S1l": {
            "type": "timestamp",
            "timestampFormat": "iso8601"
        },
        "S1t": {
            "type": "timestamp",
            "timestampFormat": "iso8601"
        },
        "S22": {
            "type": "timestamp",
            "timestampFormat": "iso8601"
        },
        "S29": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "S2d": {
            "type": "timestamp",
            "timestampFormat": "iso8601"
        },
        "S8": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "S1s": {
            "type": "timestamp",
            "timestampFormat": "iso8601"
        },
        "S21": {
            "type": "timestamp",
            "timestampFormat": "iso8601"
        },
        "S2a": {
            "type": "timestamp",
            "timestampFormat": "iso8601"
        },
        "S2c": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "S2e": {
            "type": "map",
            "key": {},
            "value": {}
        }
    }
}