{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-05-10",
        "endpointPrefix": "one",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "ripServiceName": "one",
        "serviceFullName": "One",
        "serviceId": "one",
        "signatureVersion": "v4",
        "signingName": "one",
        "uid": "one-2018-05-10",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/PN6IQDSHJFOGXFV2E3UR33QQFIWU546XVPLFPDZMV4FZRFH6QOKQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QRRJQPFMURAYBSSRMJYU2OHNUDB4ABCZEIEVJ562YFER4EE5C5FA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DDAIABTFY7DHBINBNWMKFZURDG7GQK4WOZWE422SF4Y73EFFWQTQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MZF2BWUDARFH7P6UHK5V6U45ZLSSOG7VIRQKQ3WVXD7SGFVUUPLQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/S3X2DZSSUCXECDBSPMP6IMJYU7EIFUQE5QBOFXVZJUVGBBLU62EQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FES43VOWOPICKIVQ4ASIC3CM74UANISDX74IVDRQALXS3E5R5LHA/vendors.js"
        ]
    },
    "operations": {
        "CreateDeviceActivationQrCode": {
            "http": {
                "requestUri": "/v1/device-instances/{deviceInstanceId}/qr-code",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "deviceInstanceId"
                ],
                "members": {
                    "deviceInstanceId": {
                        "location": "uri",
                        "locationName": "deviceInstanceId"
                    },
                    "expireAfterInSeconds": {
                        "type": "long"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "deviceInstanceId",
                    "deviceInstanceARN",
                    "expiryTimeInMillis",
                    "qrCodePNG"
                ],
                "members": {
                    "deviceInstanceId": {},
                    "deviceInstanceARN": {},
                    "expiryTimeInMillis": {
                        "type": "long"
                    },
                    "qrCodePNG": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PN6IQDSHJFOGXFV2E3UR33QQFIWU546XVPLFPDZMV4FZRFH6QOKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRRJQPFMURAYBSSRMJYU2OHNUDB4ABCZEIEVJ562YFER4EE5C5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDAIABTFY7DHBINBNWMKFZURDG7GQK4WOZWE422SF4Y73EFFWQTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZF2BWUDARFH7P6UHK5V6U45ZLSSOG7VIRQKQ3WVXD7SGFVUUPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S3X2DZSSUCXECDBSPMP6IMJYU7EIFUQE5QBOFXVZJUVGBBLU62EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FES43VOWOPICKIVQ4ASIC3CM74UANISDX74IVDRQALXS3E5R5LHA/vendors.js"
            ]
        },
        "CreateDeviceConfigurationTemplate": {
            "http": {
                "requestUri": "/v1/device-configuration-templates",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "networkConfiguration",
                    "solutionConfiguration",
                    "name"
                ],
                "members": {
                    "networkConfiguration": {
                        "shape": "S9"
                    },
                    "solutionConfiguration": {
                        "shape": "Sg"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "name": {
                        "shape": "Sx"
                    },
                    "description": {
                        "shape": "Sy"
                    },
                    "tags": {
                        "shape": "Sz"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "templateId",
                    "deviceConfigurationTemplateArn",
                    "name",
                    "createdAtInMillis",
                    "lastUpdatedAtInMillis",
                    "networkConfiguration",
                    "solutionConfiguration",
                    "operatingMode"
                ],
                "members": {
                    "templateId": {},
                    "deviceConfigurationTemplateArn": {},
                    "name": {
                        "shape": "Sx"
                    },
                    "description": {
                        "shape": "Sy"
                    },
                    "createdAtInMillis": {
                        "type": "long"
                    },
                    "lastUpdatedAtInMillis": {
                        "type": "long"
                    },
                    "tags": {
                        "shape": "Sz"
                    },
                    "networkConfiguration": {
                        "shape": "S9"
                    },
                    "solutionConfiguration": {
                        "shape": "Sg"
                    },
                    "operatingMode": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PN6IQDSHJFOGXFV2E3UR33QQFIWU546XVPLFPDZMV4FZRFH6QOKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRRJQPFMURAYBSSRMJYU2OHNUDB4ABCZEIEVJ562YFER4EE5C5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDAIABTFY7DHBINBNWMKFZURDG7GQK4WOZWE422SF4Y73EFFWQTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZF2BWUDARFH7P6UHK5V6U45ZLSSOG7VIRQKQ3WVXD7SGFVUUPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S3X2DZSSUCXECDBSPMP6IMJYU7EIFUQE5QBOFXVZJUVGBBLU62EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FES43VOWOPICKIVQ4ASIC3CM74UANISDX74IVDRQALXS3E5R5LHA/vendors.js"
            ]
        },
        "CreateDeviceInstance": {
            "http": {
                "requestUri": "/v1/device-instances",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "siteId",
                    "name"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "siteId": {},
                    "name": {
                        "shape": "Sx"
                    },
                    "tags": {
                        "shape": "Sz"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "deviceInstanceId",
                    "deviceInstanceArn",
                    "name",
                    "status",
                    "siteId",
                    "createdAtInMillis",
                    "lastUpdatedAtInMillis"
                ],
                "members": {
                    "deviceInstanceId": {},
                    "deviceInstanceArn": {},
                    "name": {
                        "shape": "Sx"
                    },
                    "status": {},
                    "siteId": {},
                    "createdAtInMillis": {
                        "type": "long"
                    },
                    "lastUpdatedAtInMillis": {
                        "type": "long"
                    },
                    "operatingMode": {},
                    "tags": {
                        "shape": "Sz"
                    },
                    "associatedDevice": {
                        "shape": "S1a"
                    },
                    "configurationVersion": {},
                    "deviceReportedConfigurationVersion": {},
                    "configurationSyncStatus": {},
                    "configurationSyncFailureReasonCode": {},
                    "configurationSyncFailureReason": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PN6IQDSHJFOGXFV2E3UR33QQFIWU546XVPLFPDZMV4FZRFH6QOKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRRJQPFMURAYBSSRMJYU2OHNUDB4ABCZEIEVJ562YFER4EE5C5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDAIABTFY7DHBINBNWMKFZURDG7GQK4WOZWE422SF4Y73EFFWQTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZF2BWUDARFH7P6UHK5V6U45ZLSSOG7VIRQKQ3WVXD7SGFVUUPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S3X2DZSSUCXECDBSPMP6IMJYU7EIFUQE5QBOFXVZJUVGBBLU62EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FES43VOWOPICKIVQ4ASIC3CM74UANISDX74IVDRQALXS3E5R5LHA/vendors.js"
            ]
        },
        "CreateDeviceInstanceConfiguration": {
            "http": {
                "requestUri": "/v1/device-instances/{deviceInstanceId}/configurations",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "networkConfiguration",
                    "solutionConfiguration",
                    "deviceInstanceId"
                ],
                "members": {
                    "networkConfiguration": {
                        "shape": "S9"
                    },
                    "solutionConfiguration": {
                        "shape": "Sg"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "deviceInstanceId": {
                        "location": "uri",
                        "locationName": "deviceInstanceId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "networkConfiguration",
                    "solutionConfiguration",
                    "operatingMode",
                    "deviceInstanceId",
                    "version",
                    "deviceInstanceConfigurationArn",
                    "createdAtInMillis"
                ],
                "members": {
                    "networkConfiguration": {
                        "shape": "S9"
                    },
                    "solutionConfiguration": {
                        "shape": "Sg"
                    },
                    "operatingMode": {},
                    "deviceInstanceId": {},
                    "version": {},
                    "deviceInstanceConfigurationArn": {},
                    "createdAtInMillis": {
                        "type": "long"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PN6IQDSHJFOGXFV2E3UR33QQFIWU546XVPLFPDZMV4FZRFH6QOKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRRJQPFMURAYBSSRMJYU2OHNUDB4ABCZEIEVJ562YFER4EE5C5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDAIABTFY7DHBINBNWMKFZURDG7GQK4WOZWE422SF4Y73EFFWQTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZF2BWUDARFH7P6UHK5V6U45ZLSSOG7VIRQKQ3WVXD7SGFVUUPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S3X2DZSSUCXECDBSPMP6IMJYU7EIFUQE5QBOFXVZJUVGBBLU62EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FES43VOWOPICKIVQ4ASIC3CM74UANISDX74IVDRQALXS3E5R5LHA/vendors.js"
            ]
        },
        "CreateSite": {
            "http": {
                "requestUri": "/v1/sites",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "address"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "name": {
                        "shape": "Sx"
                    },
                    "address": {
                        "shape": "S1p"
                    },
                    "description": {
                        "shape": "Sy"
                    },
                    "tags": {
                        "shape": "Sz"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "city",
                    "stateOrRegion",
                    "postalCode",
                    "countryCode",
                    "siteId",
                    "siteArn",
                    "name",
                    "createdAtInMillis"
                ],
                "members": {
                    "districtOrCounty": {},
                    "municipality": {},
                    "city": {},
                    "stateOrRegion": {},
                    "postalCode": {},
                    "countryCode": {},
                    "siteId": {},
                    "siteArn": {},
                    "name": {
                        "shape": "Sx"
                    },
                    "description": {
                        "shape": "Sy"
                    },
                    "createdAtInMillis": {
                        "type": "long"
                    },
                    "tags": {
                        "shape": "Sz"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PN6IQDSHJFOGXFV2E3UR33QQFIWU546XVPLFPDZMV4FZRFH6QOKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRRJQPFMURAYBSSRMJYU2OHNUDB4ABCZEIEVJ562YFER4EE5C5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDAIABTFY7DHBINBNWMKFZURDG7GQK4WOZWE422SF4Y73EFFWQTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZF2BWUDARFH7P6UHK5V6U45ZLSSOG7VIRQKQ3WVXD7SGFVUUPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S3X2DZSSUCXECDBSPMP6IMJYU7EIFUQE5QBOFXVZJUVGBBLU62EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FES43VOWOPICKIVQ4ASIC3CM74UANISDX74IVDRQALXS3E5R5LHA/vendors.js"
            ]
        },
        "DeleteAssociatedDevice": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v1/device-instances/{deviceInstanceId}/associated-device",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "deviceInstanceId"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true,
                        "location": "querystring",
                        "locationName": "clientToken"
                    },
                    "deviceInstanceId": {
                        "location": "uri",
                        "locationName": "deviceInstanceId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "deviceInstanceId",
                    "status",
                    "assetTagId"
                ],
                "members": {
                    "deviceInstanceId": {},
                    "status": {},
                    "assetTagId": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PN6IQDSHJFOGXFV2E3UR33QQFIWU546XVPLFPDZMV4FZRFH6QOKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRRJQPFMURAYBSSRMJYU2OHNUDB4ABCZEIEVJ562YFER4EE5C5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDAIABTFY7DHBINBNWMKFZURDG7GQK4WOZWE422SF4Y73EFFWQTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZF2BWUDARFH7P6UHK5V6U45ZLSSOG7VIRQKQ3WVXD7SGFVUUPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S3X2DZSSUCXECDBSPMP6IMJYU7EIFUQE5QBOFXVZJUVGBBLU62EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FES43VOWOPICKIVQ4ASIC3CM74UANISDX74IVDRQALXS3E5R5LHA/vendors.js"
            ]
        },
        "DeleteDeviceConfigurationTemplate": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v1/device-configuration-templates/{templateId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "templateId"
                ],
                "members": {
                    "templateId": {
                        "location": "uri",
                        "locationName": "templateId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PN6IQDSHJFOGXFV2E3UR33QQFIWU546XVPLFPDZMV4FZRFH6QOKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRRJQPFMURAYBSSRMJYU2OHNUDB4ABCZEIEVJ562YFER4EE5C5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDAIABTFY7DHBINBNWMKFZURDG7GQK4WOZWE422SF4Y73EFFWQTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZF2BWUDARFH7P6UHK5V6U45ZLSSOG7VIRQKQ3WVXD7SGFVUUPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S3X2DZSSUCXECDBSPMP6IMJYU7EIFUQE5QBOFXVZJUVGBBLU62EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FES43VOWOPICKIVQ4ASIC3CM74UANISDX74IVDRQALXS3E5R5LHA/vendors.js"
            ]
        },
        "DeleteDeviceInstance": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v1/device-instances/{deviceInstanceId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "deviceInstanceId"
                ],
                "members": {
                    "deviceInstanceId": {
                        "location": "uri",
                        "locationName": "deviceInstanceId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PN6IQDSHJFOGXFV2E3UR33QQFIWU546XVPLFPDZMV4FZRFH6QOKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRRJQPFMURAYBSSRMJYU2OHNUDB4ABCZEIEVJ562YFER4EE5C5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDAIABTFY7DHBINBNWMKFZURDG7GQK4WOZWE422SF4Y73EFFWQTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZF2BWUDARFH7P6UHK5V6U45ZLSSOG7VIRQKQ3WVXD7SGFVUUPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S3X2DZSSUCXECDBSPMP6IMJYU7EIFUQE5QBOFXVZJUVGBBLU62EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FES43VOWOPICKIVQ4ASIC3CM74UANISDX74IVDRQALXS3E5R5LHA/vendors.js"
            ]
        },
        "DeleteSite": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v1/sites/{siteId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "siteId"
                ],
                "members": {
                    "siteId": {
                        "location": "uri",
                        "locationName": "siteId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PN6IQDSHJFOGXFV2E3UR33QQFIWU546XVPLFPDZMV4FZRFH6QOKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRRJQPFMURAYBSSRMJYU2OHNUDB4ABCZEIEVJ562YFER4EE5C5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDAIABTFY7DHBINBNWMKFZURDG7GQK4WOZWE422SF4Y73EFFWQTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZF2BWUDARFH7P6UHK5V6U45ZLSSOG7VIRQKQ3WVXD7SGFVUUPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S3X2DZSSUCXECDBSPMP6IMJYU7EIFUQE5QBOFXVZJUVGBBLU62EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FES43VOWOPICKIVQ4ASIC3CM74UANISDX74IVDRQALXS3E5R5LHA/vendors.js"
            ]
        },
        "DeleteUser": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v1/users/{userId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "userId"
                ],
                "members": {
                    "userId": {
                        "location": "uri",
                        "locationName": "userId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PN6IQDSHJFOGXFV2E3UR33QQFIWU546XVPLFPDZMV4FZRFH6QOKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRRJQPFMURAYBSSRMJYU2OHNUDB4ABCZEIEVJ562YFER4EE5C5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDAIABTFY7DHBINBNWMKFZURDG7GQK4WOZWE422SF4Y73EFFWQTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZF2BWUDARFH7P6UHK5V6U45ZLSSOG7VIRQKQ3WVXD7SGFVUUPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S3X2DZSSUCXECDBSPMP6IMJYU7EIFUQE5QBOFXVZJUVGBBLU62EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FES43VOWOPICKIVQ4ASIC3CM74UANISDX74IVDRQALXS3E5R5LHA/vendors.js"
            ]
        },
        "GetDeviceConfigurationTemplate": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/device-configuration-templates/{templateId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "templateId"
                ],
                "members": {
                    "templateId": {
                        "location": "uri",
                        "locationName": "templateId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "templateId",
                    "deviceConfigurationTemplateArn",
                    "name",
                    "createdAtInMillis",
                    "lastUpdatedAtInMillis",
                    "networkConfiguration",
                    "solutionConfiguration",
                    "operatingMode"
                ],
                "members": {
                    "templateId": {},
                    "deviceConfigurationTemplateArn": {},
                    "name": {
                        "shape": "Sx"
                    },
                    "description": {
                        "shape": "Sy"
                    },
                    "createdAtInMillis": {
                        "type": "long"
                    },
                    "lastUpdatedAtInMillis": {
                        "type": "long"
                    },
                    "tags": {
                        "shape": "Sz"
                    },
                    "networkConfiguration": {
                        "shape": "S9"
                    },
                    "solutionConfiguration": {
                        "shape": "Sg"
                    },
                    "operatingMode": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PN6IQDSHJFOGXFV2E3UR33QQFIWU546XVPLFPDZMV4FZRFH6QOKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRRJQPFMURAYBSSRMJYU2OHNUDB4ABCZEIEVJ562YFER4EE5C5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDAIABTFY7DHBINBNWMKFZURDG7GQK4WOZWE422SF4Y73EFFWQTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZF2BWUDARFH7P6UHK5V6U45ZLSSOG7VIRQKQ3WVXD7SGFVUUPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S3X2DZSSUCXECDBSPMP6IMJYU7EIFUQE5QBOFXVZJUVGBBLU62EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FES43VOWOPICKIVQ4ASIC3CM74UANISDX74IVDRQALXS3E5R5LHA/vendors.js"
            ]
        },
        "GetDeviceInstance": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/device-instances/{deviceInstanceId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "deviceInstanceId"
                ],
                "members": {
                    "deviceInstanceId": {
                        "location": "uri",
                        "locationName": "deviceInstanceId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "deviceInstanceId",
                    "deviceInstanceArn",
                    "name",
                    "status",
                    "siteId",
                    "createdAtInMillis",
                    "lastUpdatedAtInMillis"
                ],
                "members": {
                    "deviceInstanceId": {},
                    "deviceInstanceArn": {},
                    "name": {
                        "shape": "Sx"
                    },
                    "status": {},
                    "siteId": {},
                    "createdAtInMillis": {
                        "type": "long"
                    },
                    "lastUpdatedAtInMillis": {
                        "type": "long"
                    },
                    "operatingMode": {},
                    "tags": {
                        "shape": "Sz"
                    },
                    "associatedDevice": {
                        "shape": "S1a"
                    },
                    "configurationVersion": {},
                    "deviceReportedConfigurationVersion": {},
                    "configurationSyncStatus": {},
                    "configurationSyncFailureReasonCode": {},
                    "configurationSyncFailureReason": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PN6IQDSHJFOGXFV2E3UR33QQFIWU546XVPLFPDZMV4FZRFH6QOKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRRJQPFMURAYBSSRMJYU2OHNUDB4ABCZEIEVJ562YFER4EE5C5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDAIABTFY7DHBINBNWMKFZURDG7GQK4WOZWE422SF4Y73EFFWQTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZF2BWUDARFH7P6UHK5V6U45ZLSSOG7VIRQKQ3WVXD7SGFVUUPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S3X2DZSSUCXECDBSPMP6IMJYU7EIFUQE5QBOFXVZJUVGBBLU62EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FES43VOWOPICKIVQ4ASIC3CM74UANISDX74IVDRQALXS3E5R5LHA/vendors.js"
            ]
        },
        "GetDeviceInstanceConfiguration": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/device-instances/{deviceInstanceId}/configurations/{version}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "deviceInstanceId",
                    "version"
                ],
                "members": {
                    "deviceInstanceId": {
                        "location": "uri",
                        "locationName": "deviceInstanceId"
                    },
                    "version": {
                        "location": "uri",
                        "locationName": "version"
                    },
                    "configurationVersion": {
                        "location": "uri",
                        "locationName": "configurationVersion"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "networkConfiguration",
                    "solutionConfiguration",
                    "operatingMode",
                    "deviceInstanceId",
                    "version",
                    "deviceInstanceConfigurationArn",
                    "createdAtInMillis"
                ],
                "members": {
                    "networkConfiguration": {
                        "shape": "S9"
                    },
                    "solutionConfiguration": {
                        "shape": "Sg"
                    },
                    "operatingMode": {},
                    "deviceInstanceId": {},
                    "version": {},
                    "deviceInstanceConfigurationArn": {},
                    "createdAtInMillis": {
                        "type": "long"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PN6IQDSHJFOGXFV2E3UR33QQFIWU546XVPLFPDZMV4FZRFH6QOKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRRJQPFMURAYBSSRMJYU2OHNUDB4ABCZEIEVJ562YFER4EE5C5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDAIABTFY7DHBINBNWMKFZURDG7GQK4WOZWE422SF4Y73EFFWQTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZF2BWUDARFH7P6UHK5V6U45ZLSSOG7VIRQKQ3WVXD7SGFVUUPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S3X2DZSSUCXECDBSPMP6IMJYU7EIFUQE5QBOFXVZJUVGBBLU62EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FES43VOWOPICKIVQ4ASIC3CM74UANISDX74IVDRQALXS3E5R5LHA/vendors.js"
            ]
        },
        "GetSite": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/sites/{siteId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "siteId"
                ],
                "members": {
                    "siteId": {
                        "location": "uri",
                        "locationName": "siteId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "city",
                    "stateOrRegion",
                    "postalCode",
                    "countryCode",
                    "siteId",
                    "siteArn",
                    "name",
                    "createdAtInMillis"
                ],
                "members": {
                    "districtOrCounty": {},
                    "municipality": {},
                    "city": {},
                    "stateOrRegion": {},
                    "postalCode": {},
                    "countryCode": {},
                    "siteId": {},
                    "siteArn": {},
                    "name": {
                        "shape": "Sx"
                    },
                    "description": {
                        "shape": "Sy"
                    },
                    "createdAtInMillis": {
                        "type": "long"
                    },
                    "tags": {
                        "shape": "Sz"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PN6IQDSHJFOGXFV2E3UR33QQFIWU546XVPLFPDZMV4FZRFH6QOKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRRJQPFMURAYBSSRMJYU2OHNUDB4ABCZEIEVJ562YFER4EE5C5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDAIABTFY7DHBINBNWMKFZURDG7GQK4WOZWE422SF4Y73EFFWQTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZF2BWUDARFH7P6UHK5V6U45ZLSSOG7VIRQKQ3WVXD7SGFVUUPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S3X2DZSSUCXECDBSPMP6IMJYU7EIFUQE5QBOFXVZJUVGBBLU62EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FES43VOWOPICKIVQ4ASIC3CM74UANISDX74IVDRQALXS3E5R5LHA/vendors.js"
            ]
        },
        "GetSiteAddress": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/sites/{siteId}/address",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "siteId"
                ],
                "members": {
                    "siteId": {
                        "location": "uri",
                        "locationName": "siteId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "siteId",
                    "address"
                ],
                "members": {
                    "siteId": {},
                    "address": {
                        "shape": "S1p"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PN6IQDSHJFOGXFV2E3UR33QQFIWU546XVPLFPDZMV4FZRFH6QOKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRRJQPFMURAYBSSRMJYU2OHNUDB4ABCZEIEVJ562YFER4EE5C5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDAIABTFY7DHBINBNWMKFZURDG7GQK4WOZWE422SF4Y73EFFWQTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZF2BWUDARFH7P6UHK5V6U45ZLSSOG7VIRQKQ3WVXD7SGFVUUPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S3X2DZSSUCXECDBSPMP6IMJYU7EIFUQE5QBOFXVZJUVGBBLU62EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FES43VOWOPICKIVQ4ASIC3CM74UANISDX74IVDRQALXS3E5R5LHA/vendors.js"
            ]
        },
        "ListDeviceConfigurationTemplates": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/device-configuration-templates",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "templates"
                ],
                "members": {
                    "templates": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "templateId",
                                "deviceConfigurationTemplateArn",
                                "name",
                                "createdAtInMillis",
                                "lastUpdatedAtInMillis",
                                "operatingMode"
                            ],
                            "members": {
                                "templateId": {},
                                "deviceConfigurationTemplateArn": {},
                                "name": {
                                    "shape": "Sx"
                                },
                                "description": {
                                    "shape": "Sy"
                                },
                                "createdAtInMillis": {
                                    "type": "long"
                                },
                                "lastUpdatedAtInMillis": {
                                    "type": "long"
                                },
                                "tags": {
                                    "shape": "Sz"
                                },
                                "operatingMode": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PN6IQDSHJFOGXFV2E3UR33QQFIWU546XVPLFPDZMV4FZRFH6QOKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRRJQPFMURAYBSSRMJYU2OHNUDB4ABCZEIEVJ562YFER4EE5C5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDAIABTFY7DHBINBNWMKFZURDG7GQK4WOZWE422SF4Y73EFFWQTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZF2BWUDARFH7P6UHK5V6U45ZLSSOG7VIRQKQ3WVXD7SGFVUUPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S3X2DZSSUCXECDBSPMP6IMJYU7EIFUQE5QBOFXVZJUVGBBLU62EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FES43VOWOPICKIVQ4ASIC3CM74UANISDX74IVDRQALXS3E5R5LHA/vendors.js"
            ]
        },
        "ListDeviceInstances": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/device-instances",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "deviceInstanceStatusFilter": {
                        "location": "querystring",
                        "locationName": "deviceInstanceStatusFilter",
                        "type": "list",
                        "member": {}
                    },
                    "siteIdFilter": {
                        "location": "querystring",
                        "locationName": "siteIdFilter",
                        "type": "list",
                        "member": {}
                    },
                    "orderBy": {
                        "location": "querystring",
                        "locationName": "orderBy"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "deviceInstanceStatusFilters": {
                        "location": "querystring",
                        "locationName": "deviceInstanceStatusFilters",
                        "type": "list",
                        "member": {}
                    },
                    "siteIdFilters": {
                        "location": "querystring",
                        "locationName": "siteIdFilters",
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "deviceInstances"
                ],
                "members": {
                    "deviceInstances": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "deviceInstanceId",
                                "deviceInstanceArn",
                                "name",
                                "status",
                                "siteId",
                                "createdAtInMillis",
                                "lastUpdatedAtInMillis"
                            ],
                            "members": {
                                "deviceInstanceId": {},
                                "deviceInstanceArn": {},
                                "name": {
                                    "shape": "Sx"
                                },
                                "status": {},
                                "siteId": {},
                                "createdAtInMillis": {
                                    "type": "long"
                                },
                                "lastUpdatedAtInMillis": {
                                    "type": "long"
                                },
                                "operatingMode": {},
                                "tags": {
                                    "shape": "Sz"
                                },
                                "associatedDevice": {
                                    "type": "structure",
                                    "required": [
                                        "assetTagId",
                                        "deviceHealthSummary",
                                        "deviceConnectivitySummary"
                                    ],
                                    "members": {
                                        "assetTagId": {},
                                        "deviceHealthSummary": {
                                            "shape": "S1c"
                                        },
                                        "deviceConnectivitySummary": {
                                            "shape": "S1e"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PN6IQDSHJFOGXFV2E3UR33QQFIWU546XVPLFPDZMV4FZRFH6QOKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRRJQPFMURAYBSSRMJYU2OHNUDB4ABCZEIEVJ562YFER4EE5C5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDAIABTFY7DHBINBNWMKFZURDG7GQK4WOZWE422SF4Y73EFFWQTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZF2BWUDARFH7P6UHK5V6U45ZLSSOG7VIRQKQ3WVXD7SGFVUUPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S3X2DZSSUCXECDBSPMP6IMJYU7EIFUQE5QBOFXVZJUVGBBLU62EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FES43VOWOPICKIVQ4ASIC3CM74UANISDX74IVDRQALXS3E5R5LHA/vendors.js"
            ]
        },
        "ListSites": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/sites",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "sites"
                ],
                "members": {
                    "sites": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "city",
                                "stateOrRegion",
                                "postalCode",
                                "countryCode",
                                "siteId",
                                "siteArn",
                                "name",
                                "createdAtInMillis"
                            ],
                            "members": {
                                "districtOrCounty": {},
                                "municipality": {},
                                "city": {},
                                "stateOrRegion": {},
                                "postalCode": {},
                                "countryCode": {},
                                "siteId": {},
                                "siteArn": {},
                                "name": {
                                    "shape": "Sx"
                                },
                                "description": {
                                    "shape": "Sy"
                                },
                                "createdAtInMillis": {
                                    "type": "long"
                                },
                                "tags": {
                                    "shape": "Sz"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PN6IQDSHJFOGXFV2E3UR33QQFIWU546XVPLFPDZMV4FZRFH6QOKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRRJQPFMURAYBSSRMJYU2OHNUDB4ABCZEIEVJ562YFER4EE5C5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDAIABTFY7DHBINBNWMKFZURDG7GQK4WOZWE422SF4Y73EFFWQTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZF2BWUDARFH7P6UHK5V6U45ZLSSOG7VIRQKQ3WVXD7SGFVUUPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S3X2DZSSUCXECDBSPMP6IMJYU7EIFUQE5QBOFXVZJUVGBBLU62EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FES43VOWOPICKIVQ4ASIC3CM74UANISDX74IVDRQALXS3E5R5LHA/vendors.js"
            ]
        },
        "ListTagsForResource": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "tags": {
                        "shape": "Sz"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PN6IQDSHJFOGXFV2E3UR33QQFIWU546XVPLFPDZMV4FZRFH6QOKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRRJQPFMURAYBSSRMJYU2OHNUDB4ABCZEIEVJ562YFER4EE5C5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDAIABTFY7DHBINBNWMKFZURDG7GQK4WOZWE422SF4Y73EFFWQTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZF2BWUDARFH7P6UHK5V6U45ZLSSOG7VIRQKQ3WVXD7SGFVUUPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S3X2DZSSUCXECDBSPMP6IMJYU7EIFUQE5QBOFXVZJUVGBBLU62EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FES43VOWOPICKIVQ4ASIC3CM74UANISDX74IVDRQALXS3E5R5LHA/vendors.js"
            ]
        },
        "ListUsers": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/users",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "badgeId": {
                        "location": "querystring",
                        "locationName": "badge"
                    },
                    "stableId": {
                        "location": "querystring",
                        "locationName": "stableId"
                    },
                    "userId": {
                        "location": "querystring",
                        "locationName": "userId"
                    },
                    "userStatusFilter": {
                        "location": "querystring",
                        "locationName": "userStatusFilter",
                        "type": "list",
                        "member": {}
                    },
                    "enrollmentSourceFilter": {
                        "location": "querystring",
                        "locationName": "enrollmentSourceFilter",
                        "type": "list",
                        "member": {}
                    },
                    "creationTimestampLowerBound": {
                        "location": "querystring",
                        "locationName": "creationTimestampLowerBound",
                        "type": "timestamp"
                    },
                    "creationTimestampUpperBound": {
                        "location": "querystring",
                        "locationName": "creationTimestampUpperBound",
                        "type": "timestamp"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "userList"
                ],
                "members": {
                    "userList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "userId",
                                "accountId",
                                "associatedIdList",
                                "createdTimestamp",
                                "enrollmentSource"
                            ],
                            "members": {
                                "userId": {},
                                "accountId": {},
                                "stableId": {},
                                "userStatus": {},
                                "associatedIdList": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "required": [
                                            "associatedIdType",
                                            "associatedIdValue"
                                        ],
                                        "members": {
                                            "associatedIdType": {},
                                            "associatedIdValue": {}
                                        }
                                    }
                                },
                                "createdTimestamp": {
                                    "type": "timestamp"
                                },
                                "updatedTimestamp": {
                                    "type": "timestamp"
                                },
                                "enrollmentSource": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PN6IQDSHJFOGXFV2E3UR33QQFIWU546XVPLFPDZMV4FZRFH6QOKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRRJQPFMURAYBSSRMJYU2OHNUDB4ABCZEIEVJ562YFER4EE5C5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDAIABTFY7DHBINBNWMKFZURDG7GQK4WOZWE422SF4Y73EFFWQTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZF2BWUDARFH7P6UHK5V6U45ZLSSOG7VIRQKQ3WVXD7SGFVUUPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S3X2DZSSUCXECDBSPMP6IMJYU7EIFUQE5QBOFXVZJUVGBBLU62EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FES43VOWOPICKIVQ4ASIC3CM74UANISDX74IVDRQALXS3E5R5LHA/vendors.js"
            ]
        },
        "RebootDevice": {
            "http": {
                "requestUri": "/v1/device-instances/{deviceInstanceId}/associated-device/reboot",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "deviceInstanceId"
                ],
                "members": {
                    "deviceInstanceId": {
                        "location": "uri",
                        "locationName": "deviceInstanceId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PN6IQDSHJFOGXFV2E3UR33QQFIWU546XVPLFPDZMV4FZRFH6QOKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRRJQPFMURAYBSSRMJYU2OHNUDB4ABCZEIEVJ562YFER4EE5C5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDAIABTFY7DHBINBNWMKFZURDG7GQK4WOZWE422SF4Y73EFFWQTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZF2BWUDARFH7P6UHK5V6U45ZLSSOG7VIRQKQ3WVXD7SGFVUUPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S3X2DZSSUCXECDBSPMP6IMJYU7EIFUQE5QBOFXVZJUVGBBLU62EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FES43VOWOPICKIVQ4ASIC3CM74UANISDX74IVDRQALXS3E5R5LHA/vendors.js"
            ]
        },
        "TagResource": {
            "http": {
                "requestUri": "/v1/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "tags"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    },
                    "tags": {
                        "shape": "Sz"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PN6IQDSHJFOGXFV2E3UR33QQFIWU546XVPLFPDZMV4FZRFH6QOKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRRJQPFMURAYBSSRMJYU2OHNUDB4ABCZEIEVJ562YFER4EE5C5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDAIABTFY7DHBINBNWMKFZURDG7GQK4WOZWE422SF4Y73EFFWQTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZF2BWUDARFH7P6UHK5V6U45ZLSSOG7VIRQKQ3WVXD7SGFVUUPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S3X2DZSSUCXECDBSPMP6IMJYU7EIFUQE5QBOFXVZJUVGBBLU62EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FES43VOWOPICKIVQ4ASIC3CM74UANISDX74IVDRQALXS3E5R5LHA/vendors.js"
            ]
        },
        "UntagResource": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v1/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "tagKeys"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    },
                    "tagKeys": {
                        "location": "querystring",
                        "locationName": "tagKeys",
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PN6IQDSHJFOGXFV2E3UR33QQFIWU546XVPLFPDZMV4FZRFH6QOKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRRJQPFMURAYBSSRMJYU2OHNUDB4ABCZEIEVJ562YFER4EE5C5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDAIABTFY7DHBINBNWMKFZURDG7GQK4WOZWE422SF4Y73EFFWQTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZF2BWUDARFH7P6UHK5V6U45ZLSSOG7VIRQKQ3WVXD7SGFVUUPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S3X2DZSSUCXECDBSPMP6IMJYU7EIFUQE5QBOFXVZJUVGBBLU62EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FES43VOWOPICKIVQ4ASIC3CM74UANISDX74IVDRQALXS3E5R5LHA/vendors.js"
            ]
        },
        "UpdateDeviceConfigurationTemplate": {
            "http": {
                "method": "PATCH",
                "requestUri": "/v1/device-configuration-templates/{templateId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "templateId"
                ],
                "members": {
                    "templateId": {
                        "location": "uri",
                        "locationName": "templateId"
                    },
                    "name": {
                        "shape": "Sx"
                    },
                    "description": {
                        "shape": "Sy"
                    },
                    "networkConfiguration": {
                        "shape": "S9"
                    },
                    "solutionConfiguration": {
                        "shape": "Sg"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "templateId",
                    "deviceConfigurationTemplateArn",
                    "name",
                    "createdAtInMillis",
                    "lastUpdatedAtInMillis",
                    "networkConfiguration",
                    "solutionConfiguration",
                    "operatingMode"
                ],
                "members": {
                    "templateId": {},
                    "deviceConfigurationTemplateArn": {},
                    "name": {
                        "shape": "Sx"
                    },
                    "description": {
                        "shape": "Sy"
                    },
                    "createdAtInMillis": {
                        "type": "long"
                    },
                    "lastUpdatedAtInMillis": {
                        "type": "long"
                    },
                    "tags": {
                        "shape": "Sz"
                    },
                    "networkConfiguration": {
                        "shape": "S9"
                    },
                    "solutionConfiguration": {
                        "shape": "Sg"
                    },
                    "operatingMode": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PN6IQDSHJFOGXFV2E3UR33QQFIWU546XVPLFPDZMV4FZRFH6QOKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRRJQPFMURAYBSSRMJYU2OHNUDB4ABCZEIEVJ562YFER4EE5C5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDAIABTFY7DHBINBNWMKFZURDG7GQK4WOZWE422SF4Y73EFFWQTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZF2BWUDARFH7P6UHK5V6U45ZLSSOG7VIRQKQ3WVXD7SGFVUUPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S3X2DZSSUCXECDBSPMP6IMJYU7EIFUQE5QBOFXVZJUVGBBLU62EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FES43VOWOPICKIVQ4ASIC3CM74UANISDX74IVDRQALXS3E5R5LHA/vendors.js"
            ]
        },
        "UpdateDeviceInstance": {
            "http": {
                "method": "PATCH",
                "requestUri": "/v1/device-instances/{deviceInstanceId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "deviceInstanceId"
                ],
                "members": {
                    "deviceInstanceId": {
                        "location": "uri",
                        "locationName": "deviceInstanceId"
                    },
                    "name": {
                        "shape": "Sx"
                    },
                    "configurationVersion": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "deviceInstanceId",
                    "deviceInstanceArn",
                    "name",
                    "status",
                    "siteId",
                    "createdAtInMillis",
                    "lastUpdatedAtInMillis"
                ],
                "members": {
                    "deviceInstanceId": {},
                    "deviceInstanceArn": {},
                    "name": {
                        "shape": "Sx"
                    },
                    "status": {},
                    "siteId": {},
                    "createdAtInMillis": {
                        "type": "long"
                    },
                    "lastUpdatedAtInMillis": {
                        "type": "long"
                    },
                    "operatingMode": {},
                    "tags": {
                        "shape": "Sz"
                    },
                    "associatedDevice": {
                        "shape": "S1a"
                    },
                    "configurationVersion": {},
                    "deviceReportedConfigurationVersion": {},
                    "configurationSyncStatus": {},
                    "configurationSyncFailureReasonCode": {},
                    "configurationSyncFailureReason": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PN6IQDSHJFOGXFV2E3UR33QQFIWU546XVPLFPDZMV4FZRFH6QOKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRRJQPFMURAYBSSRMJYU2OHNUDB4ABCZEIEVJ562YFER4EE5C5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDAIABTFY7DHBINBNWMKFZURDG7GQK4WOZWE422SF4Y73EFFWQTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZF2BWUDARFH7P6UHK5V6U45ZLSSOG7VIRQKQ3WVXD7SGFVUUPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S3X2DZSSUCXECDBSPMP6IMJYU7EIFUQE5QBOFXVZJUVGBBLU62EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FES43VOWOPICKIVQ4ASIC3CM74UANISDX74IVDRQALXS3E5R5LHA/vendors.js"
            ]
        },
        "UpdateSite": {
            "http": {
                "method": "PATCH",
                "requestUri": "/v1/sites/{siteId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "siteId"
                ],
                "members": {
                    "siteId": {
                        "location": "uri",
                        "locationName": "siteId"
                    },
                    "name": {
                        "shape": "Sx"
                    },
                    "description": {
                        "shape": "Sy"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "city",
                    "stateOrRegion",
                    "postalCode",
                    "countryCode",
                    "siteId",
                    "siteArn",
                    "name",
                    "createdAtInMillis"
                ],
                "members": {
                    "districtOrCounty": {},
                    "municipality": {},
                    "city": {},
                    "stateOrRegion": {},
                    "postalCode": {},
                    "countryCode": {},
                    "siteId": {},
                    "siteArn": {},
                    "name": {
                        "shape": "Sx"
                    },
                    "description": {
                        "shape": "Sy"
                    },
                    "createdAtInMillis": {
                        "type": "long"
                    },
                    "tags": {
                        "shape": "Sz"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PN6IQDSHJFOGXFV2E3UR33QQFIWU546XVPLFPDZMV4FZRFH6QOKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRRJQPFMURAYBSSRMJYU2OHNUDB4ABCZEIEVJ562YFER4EE5C5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDAIABTFY7DHBINBNWMKFZURDG7GQK4WOZWE422SF4Y73EFFWQTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZF2BWUDARFH7P6UHK5V6U45ZLSSOG7VIRQKQ3WVXD7SGFVUUPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S3X2DZSSUCXECDBSPMP6IMJYU7EIFUQE5QBOFXVZJUVGBBLU62EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FES43VOWOPICKIVQ4ASIC3CM74UANISDX74IVDRQALXS3E5R5LHA/vendors.js"
            ]
        },
        "UpdateSiteAddress": {
            "http": {
                "method": "PUT",
                "requestUri": "/v1/sites/{siteId}/address",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "siteId",
                    "address"
                ],
                "members": {
                    "siteId": {
                        "location": "uri",
                        "locationName": "siteId"
                    },
                    "address": {
                        "shape": "S1p"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "siteId",
                    "address"
                ],
                "members": {
                    "siteId": {},
                    "address": {
                        "shape": "S1p"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PN6IQDSHJFOGXFV2E3UR33QQFIWU546XVPLFPDZMV4FZRFH6QOKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRRJQPFMURAYBSSRMJYU2OHNUDB4ABCZEIEVJ562YFER4EE5C5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDAIABTFY7DHBINBNWMKFZURDG7GQK4WOZWE422SF4Y73EFFWQTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZF2BWUDARFH7P6UHK5V6U45ZLSSOG7VIRQKQ3WVXD7SGFVUUPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S3X2DZSSUCXECDBSPMP6IMJYU7EIFUQE5QBOFXVZJUVGBBLU62EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FES43VOWOPICKIVQ4ASIC3CM74UANISDX74IVDRQALXS3E5R5LHA/vendors.js"
            ]
        },
        "GetAccountConfiguration": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/account-configuration",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "sseSpecification": {
                        "shape": "S2m"
                    },
                    "lastUpdatedAt": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/S3X2DZSSUCXECDBSPMP6IMJYU7EIFUQE5QBOFXVZJUVGBBLU62EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FES43VOWOPICKIVQ4ASIC3CM74UANISDX74IVDRQALXS3E5R5LHA/vendors.js"
            ]
        },
        "UpdateAccountConfiguration": {
            "http": {
                "method": "PATCH",
                "requestUri": "/v1/account-configuration",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "sseSpecification": {
                        "shape": "S2m"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "lastUpdatedAt"
                ],
                "members": {
                    "sseSpecification": {
                        "shape": "S2m"
                    },
                    "lastUpdatedAt": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/S3X2DZSSUCXECDBSPMP6IMJYU7EIFUQE5QBOFXVZJUVGBBLU62EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FES43VOWOPICKIVQ4ASIC3CM74UANISDX74IVDRQALXS3E5R5LHA/vendors.js"
            ]
        }
    },
    "shapes": {
        "S9": {
            "type": "structure",
            "required": [
                "networkType"
            ],
            "members": {
                "wifiNetworks": {
                    "type": "list",
                    "member": {
                        "type": "structure",
                        "required": [
                            "ssid",
                            "networkSecurityType"
                        ],
                        "members": {
                            "ssid": {
                                "type": "string",
                                "sensitive": true
                            },
                            "networkSecurityType": {},
                            "password": {
                                "type": "string",
                                "sensitive": true
                            }
                        }
                    }
                },
                "networkType": {}
            }
        },
        "Sg": {
            "type": "structure",
            "members": {
                "enrollment": {
                    "type": "structure",
                    "members": {
                        "secureAccess": {
                            "type": "structure",
                            "members": {}
                        }
                    }
                },
                "authentication": {
                    "type": "structure",
                    "members": {
                        "secureAccess": {
                            "type": "structure",
                            "required": [
                                "protocol",
                                "badgeFormat"
                            ],
                            "members": {
                                "protocol": {
                                    "type": "structure",
                                    "members": {
                                        "osdp": {
                                            "type": "structure",
                                            "required": [
                                                "address",
                                                "baudRate"
                                            ],
                                            "members": {
                                                "address": {
                                                    "shape": "Sn"
                                                },
                                                "baudRate": {
                                                    "shape": "Sn"
                                                }
                                            }
                                        }
                                    },
                                    "union": true
                                },
                                "badgeFormat": {
                                    "type": "structure",
                                    "required": [
                                        "totalBitCount",
                                        "facilityCode",
                                        "facilityCodeBitCount",
                                        "facilityCodeStartBit",
                                        "cardNumberBitCount",
                                        "cardNumberStartBit"
                                    ],
                                    "members": {
                                        "totalBitCount": {
                                            "type": "integer",
                                            "sensitive": true
                                        },
                                        "facilityCode": {
                                            "type": "integer",
                                            "sensitive": true
                                        },
                                        "facilityCodeBitCount": {
                                            "type": "integer",
                                            "sensitive": true
                                        },
                                        "facilityCodeStartBit": {
                                            "type": "integer",
                                            "sensitive": true
                                        },
                                        "cardNumberBitCount": {
                                            "type": "integer",
                                            "sensitive": true
                                        },
                                        "cardNumberStartBit": {
                                            "type": "integer",
                                            "sensitive": true
                                        },
                                        "offset": {
                                            "type": "integer",
                                            "sensitive": true
                                        },
                                        "parityBits": {
                                            "type": "integer",
                                            "sensitive": true
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "union": true
        },
        "Sn": {
            "type": "integer",
            "sensitive": true
        },
        "Sx": {
            "type": "string",
            "sensitive": true
        },
        "Sy": {
            "type": "string",
            "sensitive": true
        },
        "Sz": {
            "type": "map",
            "key": {},
            "value": {},
            "sensitive": true
        },
        "S1a": {
            "type": "structure",
            "required": [
                "assetTagId",
                "deviceHealthSummary",
                "deviceConnectivitySummary",
                "macAddress"
            ],
            "members": {
                "assetTagId": {},
                "deviceHealthSummary": {
                    "shape": "S1c"
                },
                "deviceConnectivitySummary": {
                    "shape": "S1e"
                },
                "macAddress": {},
                "lastRebootedAtInMillis": {
                    "type": "long"
                },
                "lastRebootFailureReason": {},
                "lastRebootFailureReasonCode": {}
            }
        },
        "S1c": {
            "type": "structure",
            "required": [
                "deviceHealth"
            ],
            "members": {
                "deviceHealth": {},
                "lastReportedAtInMillis": {
                    "type": "long"
                }
            }
        },
        "S1e": {
            "type": "structure",
            "required": [
                "connectivity"
            ],
            "members": {
                "connectivity": {},
                "disconnectReasonCode": {},
                "lastUpdatedAtInMillis": {
                    "type": "long"
                }
            }
        },
        "S1p": {
            "type": "structure",
            "required": [
                "city",
                "stateOrRegion",
                "postalCode",
                "countryCode",
                "addressLine1"
            ],
            "members": {
                "districtOrCounty": {},
                "municipality": {},
                "city": {},
                "stateOrRegion": {},
                "postalCode": {},
                "countryCode": {},
                "addressLine1": {
                    "type": "string",
                    "sensitive": true
                },
                "addressLine2": {
                    "type": "string",
                    "sensitive": true
                },
                "addressLine3": {
                    "type": "string",
                    "sensitive": true
                }
            }
        },
        "S1q": {
            "type": "structure",
            "required": [
                "city",
                "stateOrRegion",
                "postalCode",
                "countryCode",
                "addressLine1"
            ],
            "members": {
                "districtOrCounty": {},
                "municipality": {},
                "city": {},
                "stateOrRegion": {},
                "postalCode": {},
                "countryCode": {},
                "addressLine1": {
                    "type": "string",
                    "sensitive": true
                },
                "addressLine2": {
                    "type": "string",
                    "sensitive": true
                },
                "addressLine3": {
                    "type": "string",
                    "sensitive": true
                }
            }
        },
        "S10": {
            "type": "map",
            "key": {},
            "value": {},
            "sensitive": true
        },
        "S1b": {
            "type": "structure",
            "required": [
                "assetTagId",
                "deviceHealthSummary",
                "deviceConnectivitySummary"
            ],
            "members": {
                "assetTagId": {},
                "deviceHealthSummary": {
                    "shape": "S1d"
                },
                "deviceConnectivitySummary": {
                    "shape": "S1f"
                },
                "macAddress": {
                    "deprecated": true
                },
                "wifiMacAddress": {},
                "ethernetMacAddress": {},
                "lastConnectedSsid": {
                    "type": "string",
                    "sensitive": true
                },
                "lastRebootedAtInMillis": {
                    "type": "long"
                },
                "lastRebootFailureReason": {},
                "lastRebootFailureReasonCode": {}
            }
        },
        "S1d": {
            "type": "structure",
            "required": [
                "deviceHealth"
            ],
            "members": {
                "deviceHealth": {},
                "lastReportedAtInMillis": {
                    "type": "long"
                }
            }
        },
        "S1f": {
            "type": "structure",
            "required": [
                "connectivity"
            ],
            "members": {
                "connectivity": {},
                "disconnectReasonCode": {},
                "lastUpdatedAtInMillis": {
                    "type": "long"
                }
            }
        },
        "S1r": {
            "type": "structure",
            "required": [
                "city",
                "stateOrRegion",
                "postalCode",
                "countryCode",
                "addressLine1"
            ],
            "members": {
                "districtOrCounty": {},
                "municipality": {},
                "city": {},
                "stateOrRegion": {},
                "postalCode": {},
                "countryCode": {},
                "addressLine1": {
                    "type": "string",
                    "sensitive": true
                },
                "addressLine2": {
                    "type": "string",
                    "sensitive": true
                },
                "addressLine3": {
                    "type": "string",
                    "sensitive": true
                }
            }
        },
        "S2m": {
            "type": "structure",
            "required": [
                "sseType"
            ],
            "members": {
                "kmsKeyArn": {},
                "sseType": {}
            }
        },
        "Sl": {
            "type": "integer",
            "sensitive": true
        },
        "Sw": {
            "type": "string",
            "sensitive": true
        },
        "S19": {
            "type": "structure",
            "required": [
                "assetTagId",
                "deviceHealthSummary",
                "deviceConnectivitySummary"
            ],
            "members": {
                "assetTagId": {},
                "deviceHealthSummary": {
                    "shape": "S1b"
                },
                "deviceConnectivitySummary": {
                    "shape": "S1d"
                },
                "wifiMacAddress": {},
                "ethernetMacAddress": {},
                "lastConnectedSsid": {
                    "type": "string",
                    "sensitive": true
                },
                "lastRebootedAt": {
                    "type": "timestamp"
                },
                "lastRebootFailureReason": {},
                "lastRebootFailureReasonCode": {}
            }
        },
        "S2l": {
            "type": "structure",
            "required": [
                "sseType"
            ],
            "members": {
                "kmsKeyArn": {},
                "sseType": {}
            }
        }
    }
}