{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-05-10",
        "endpointPrefix": "one",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "ripServiceName": "one",
        "serviceFullName": "One",
        "serviceId": "one",
        "signatureVersion": "v4",
        "signingName": "one",
        "uid": "one-2018-05-10",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/4NKGNVM6T7ZOCPZ6DLYVMZI4WGXLFUJYIBFA4VVGA7N4GAZHZWYA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/X55XIMYIVAIXMBIMVZYX7QTY57RUKFQDXEN2JHSJFTVCEFBN5XUQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JJ5QQUA2LWLM3QX6A3CZNQTDNE7QUAX4B3DCAXBFCEFA3S5EHMSA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QFOW5ULZCL5ML6X3PAPMBMVTGEZVVWYATI4GQCLB6Y5O7TMQG4CQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3BO5IADIXWOXAZQY63CGWV53HK6M3DT5OPU5H6JDTI4XIZ6VMYYA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VGSHVCFH4D7E55PFBVXOVZYBF4Z23KRY5JE67JHOEIG6YNVNGA4A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OPLMGKXKAEJWMGJRZEJCRTULEOK5RE54VHQIE3QC3OV4D3454N7A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SI74NWA636YTE257IHTR4BDAMYW57WSWSDZPJEMRXAEQJXWFKFIQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FNZIPCPAZDKPF5IU74BUT2546CJ5WMXVLMHSROX5BPYPXQ4C4TYQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/C4B37PCZVHREKTCIIPEZBEASMOMX63NXHGQ3BBLOZCQEZYFKYTAA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DDQOESBPJTKB2WFYUNTWYIZCF4NSI5J4KJGIRW6HRITPCQMY3FSA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CRZE5VOUYERUW6J2OA5VAQDHOBEBFN5HTCAKV5P2FTVPEVPYSDGA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5HNXQVVXIQZ6DAGBSTTRKVO2GSCX6ZGEAPTS7Z7QAFJDRLGCCIGA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BUJ7K3L5VLRRTMKRIPRLFTKG5DDMNAF5M5OXHM7OVT2B3RE5XWTA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RXNQGR2BIR674VXKGBIEP7MPCFIOUYG6XUPW6HCLRAHVZJN67XNA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IEFYJCFKLZB24XFHEKFCIOSJ7R7G4EFOTAG7IJOODQDZHE5OHENQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QF6EQNHYATGV4VCPH4GY2LG5Q4PXVUQA5CPEHRXP36AF7YPQELBQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/N7XV7FCQAAOUI2SSGKOBXCSXZ4NVCEVMK6PQV4XPLE42ERM5RKPA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NEDGI4XMKOF7QSCJTHNZQPSDWD6FNSWITO4XZE4FOZ6XNKLIT7LQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KQHUQQR2OYT746S6RO3NSXMGTQUB6XC4VJURXWPPAXA5WMGIY5HA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YHI23TI55ARTTMSTE3QWE3MRRPGSAXTZ5Z7RNJI3N5U3XO2Z3NKA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JH4Y6FGETPL7UH57VPKVSQ5J7CQDMH3XYEMRNQTLSPRYPFXTWXDA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LDI5FDHA53ZS3LKXIUJDKSR66P5J4X4Y5JNH7GI3IVJG526DAPIQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/X2L2BYKLFI5RX6C5JMI242NALJJE5CO7UQBUCHUQVG2AN2O65VVA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JWJ36YROQA36KXLGZTGZV2OK2XKXCDH2NJBAVAIBVWKAG5TW56LA/vendors.js"
        ]
    },
    "operations": {
        "CreateDeviceActivationQrCode": {
            "http": {
                "requestUri": "/v1/device-instances/{deviceInstanceId}/qr-code",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "deviceInstanceId"
                ],
                "members": {
                    "deviceInstanceId": {
                        "location": "uri",
                        "locationName": "deviceInstanceId"
                    },
                    "expireAfterInSeconds": {
                        "type": "long"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "deviceInstanceId",
                    "deviceInstanceARN",
                    "expiryTimeInMillis",
                    "qrCodePNG"
                ],
                "members": {
                    "deviceInstanceId": {},
                    "deviceInstanceARN": {},
                    "expiryTimeInMillis": {
                        "type": "long"
                    },
                    "qrCodePNG": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/X55XIMYIVAIXMBIMVZYX7QTY57RUKFQDXEN2JHSJFTVCEFBN5XUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJ5QQUA2LWLM3QX6A3CZNQTDNE7QUAX4B3DCAXBFCEFA3S5EHMSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFOW5ULZCL5ML6X3PAPMBMVTGEZVVWYATI4GQCLB6Y5O7TMQG4CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BO5IADIXWOXAZQY63CGWV53HK6M3DT5OPU5H6JDTI4XIZ6VMYYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGSHVCFH4D7E55PFBVXOVZYBF4Z23KRY5JE67JHOEIG6YNVNGA4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPLMGKXKAEJWMGJRZEJCRTULEOK5RE54VHQIE3QC3OV4D3454N7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SI74NWA636YTE257IHTR4BDAMYW57WSWSDZPJEMRXAEQJXWFKFIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNZIPCPAZDKPF5IU74BUT2546CJ5WMXVLMHSROX5BPYPXQ4C4TYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C4B37PCZVHREKTCIIPEZBEASMOMX63NXHGQ3BBLOZCQEZYFKYTAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDQOESBPJTKB2WFYUNTWYIZCF4NSI5J4KJGIRW6HRITPCQMY3FSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CRZE5VOUYERUW6J2OA5VAQDHOBEBFN5HTCAKV5P2FTVPEVPYSDGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5HNXQVVXIQZ6DAGBSTTRKVO2GSCX6ZGEAPTS7Z7QAFJDRLGCCIGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUJ7K3L5VLRRTMKRIPRLFTKG5DDMNAF5M5OXHM7OVT2B3RE5XWTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RXNQGR2BIR674VXKGBIEP7MPCFIOUYG6XUPW6HCLRAHVZJN67XNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEFYJCFKLZB24XFHEKFCIOSJ7R7G4EFOTAG7IJOODQDZHE5OHENQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QF6EQNHYATGV4VCPH4GY2LG5Q4PXVUQA5CPEHRXP36AF7YPQELBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N7XV7FCQAAOUI2SSGKOBXCSXZ4NVCEVMK6PQV4XPLE42ERM5RKPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEDGI4XMKOF7QSCJTHNZQPSDWD6FNSWITO4XZE4FOZ6XNKLIT7LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQHUQQR2OYT746S6RO3NSXMGTQUB6XC4VJURXWPPAXA5WMGIY5HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YHI23TI55ARTTMSTE3QWE3MRRPGSAXTZ5Z7RNJI3N5U3XO2Z3NKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH4Y6FGETPL7UH57VPKVSQ5J7CQDMH3XYEMRNQTLSPRYPFXTWXDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LDI5FDHA53ZS3LKXIUJDKSR66P5J4X4Y5JNH7GI3IVJG526DAPIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2L2BYKLFI5RX6C5JMI242NALJJE5CO7UQBUCHUQVG2AN2O65VVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JWJ36YROQA36KXLGZTGZV2OK2XKXCDH2NJBAVAIBVWKAG5TW56LA/vendors.js"
            ]
        },
        "CreateDeviceConfigurationTemplate": {
            "http": {
                "requestUri": "/v1/device-configuration-templates",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "networkConfiguration",
                    "solutionConfiguration",
                    "name"
                ],
                "members": {
                    "networkConfiguration": {
                        "shape": "S9"
                    },
                    "solutionConfiguration": {
                        "shape": "Sg"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "name": {
                        "shape": "Sx"
                    },
                    "description": {
                        "shape": "Sy"
                    },
                    "tags": {
                        "shape": "Sz"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "templateId",
                    "deviceConfigurationTemplateArn",
                    "name",
                    "createdAtInMillis",
                    "lastUpdatedAtInMillis",
                    "networkConfiguration",
                    "solutionConfiguration",
                    "operatingMode"
                ],
                "members": {
                    "templateId": {},
                    "deviceConfigurationTemplateArn": {},
                    "name": {
                        "shape": "Sx"
                    },
                    "description": {
                        "shape": "Sy"
                    },
                    "createdAtInMillis": {
                        "type": "long"
                    },
                    "lastUpdatedAtInMillis": {
                        "type": "long"
                    },
                    "tags": {
                        "shape": "Sz"
                    },
                    "networkConfiguration": {
                        "shape": "S9"
                    },
                    "solutionConfiguration": {
                        "shape": "Sg"
                    },
                    "operatingMode": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/X55XIMYIVAIXMBIMVZYX7QTY57RUKFQDXEN2JHSJFTVCEFBN5XUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJ5QQUA2LWLM3QX6A3CZNQTDNE7QUAX4B3DCAXBFCEFA3S5EHMSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFOW5ULZCL5ML6X3PAPMBMVTGEZVVWYATI4GQCLB6Y5O7TMQG4CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BO5IADIXWOXAZQY63CGWV53HK6M3DT5OPU5H6JDTI4XIZ6VMYYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGSHVCFH4D7E55PFBVXOVZYBF4Z23KRY5JE67JHOEIG6YNVNGA4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPLMGKXKAEJWMGJRZEJCRTULEOK5RE54VHQIE3QC3OV4D3454N7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SI74NWA636YTE257IHTR4BDAMYW57WSWSDZPJEMRXAEQJXWFKFIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNZIPCPAZDKPF5IU74BUT2546CJ5WMXVLMHSROX5BPYPXQ4C4TYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C4B37PCZVHREKTCIIPEZBEASMOMX63NXHGQ3BBLOZCQEZYFKYTAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDQOESBPJTKB2WFYUNTWYIZCF4NSI5J4KJGIRW6HRITPCQMY3FSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CRZE5VOUYERUW6J2OA5VAQDHOBEBFN5HTCAKV5P2FTVPEVPYSDGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5HNXQVVXIQZ6DAGBSTTRKVO2GSCX6ZGEAPTS7Z7QAFJDRLGCCIGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUJ7K3L5VLRRTMKRIPRLFTKG5DDMNAF5M5OXHM7OVT2B3RE5XWTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RXNQGR2BIR674VXKGBIEP7MPCFIOUYG6XUPW6HCLRAHVZJN67XNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEFYJCFKLZB24XFHEKFCIOSJ7R7G4EFOTAG7IJOODQDZHE5OHENQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QF6EQNHYATGV4VCPH4GY2LG5Q4PXVUQA5CPEHRXP36AF7YPQELBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N7XV7FCQAAOUI2SSGKOBXCSXZ4NVCEVMK6PQV4XPLE42ERM5RKPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEDGI4XMKOF7QSCJTHNZQPSDWD6FNSWITO4XZE4FOZ6XNKLIT7LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQHUQQR2OYT746S6RO3NSXMGTQUB6XC4VJURXWPPAXA5WMGIY5HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YHI23TI55ARTTMSTE3QWE3MRRPGSAXTZ5Z7RNJI3N5U3XO2Z3NKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH4Y6FGETPL7UH57VPKVSQ5J7CQDMH3XYEMRNQTLSPRYPFXTWXDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LDI5FDHA53ZS3LKXIUJDKSR66P5J4X4Y5JNH7GI3IVJG526DAPIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2L2BYKLFI5RX6C5JMI242NALJJE5CO7UQBUCHUQVG2AN2O65VVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JWJ36YROQA36KXLGZTGZV2OK2XKXCDH2NJBAVAIBVWKAG5TW56LA/vendors.js"
            ]
        },
        "CreateDeviceInstance": {
            "http": {
                "requestUri": "/v1/device-instances",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "siteId",
                    "name"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "siteId": {},
                    "name": {
                        "shape": "Sx"
                    },
                    "tags": {
                        "shape": "Sz"
                    },
                    "locked": {
                        "type": "boolean"
                    },
                    "lockedReason": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "deviceInstanceId",
                    "deviceInstanceArn",
                    "name",
                    "status",
                    "siteId",
                    "createdAtInMillis",
                    "lastUpdatedAtInMillis"
                ],
                "members": {
                    "deviceInstanceId": {},
                    "deviceInstanceArn": {},
                    "name": {
                        "shape": "Sx"
                    },
                    "status": {},
                    "siteId": {},
                    "createdAtInMillis": {
                        "type": "long"
                    },
                    "lastUpdatedAtInMillis": {
                        "type": "long"
                    },
                    "operatingMode": {},
                    "tags": {
                        "shape": "Sz"
                    },
                    "associatedDevice": {
                        "shape": "S1a"
                    },
                    "configurationVersion": {},
                    "deviceReportedConfigurationVersion": {},
                    "configurationSyncStatus": {},
                    "configurationSyncFailureReasonCode": {},
                    "configurationSyncFailureReason": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/X55XIMYIVAIXMBIMVZYX7QTY57RUKFQDXEN2JHSJFTVCEFBN5XUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJ5QQUA2LWLM3QX6A3CZNQTDNE7QUAX4B3DCAXBFCEFA3S5EHMSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFOW5ULZCL5ML6X3PAPMBMVTGEZVVWYATI4GQCLB6Y5O7TMQG4CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BO5IADIXWOXAZQY63CGWV53HK6M3DT5OPU5H6JDTI4XIZ6VMYYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGSHVCFH4D7E55PFBVXOVZYBF4Z23KRY5JE67JHOEIG6YNVNGA4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPLMGKXKAEJWMGJRZEJCRTULEOK5RE54VHQIE3QC3OV4D3454N7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SI74NWA636YTE257IHTR4BDAMYW57WSWSDZPJEMRXAEQJXWFKFIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNZIPCPAZDKPF5IU74BUT2546CJ5WMXVLMHSROX5BPYPXQ4C4TYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C4B37PCZVHREKTCIIPEZBEASMOMX63NXHGQ3BBLOZCQEZYFKYTAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDQOESBPJTKB2WFYUNTWYIZCF4NSI5J4KJGIRW6HRITPCQMY3FSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CRZE5VOUYERUW6J2OA5VAQDHOBEBFN5HTCAKV5P2FTVPEVPYSDGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5HNXQVVXIQZ6DAGBSTTRKVO2GSCX6ZGEAPTS7Z7QAFJDRLGCCIGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUJ7K3L5VLRRTMKRIPRLFTKG5DDMNAF5M5OXHM7OVT2B3RE5XWTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RXNQGR2BIR674VXKGBIEP7MPCFIOUYG6XUPW6HCLRAHVZJN67XNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEFYJCFKLZB24XFHEKFCIOSJ7R7G4EFOTAG7IJOODQDZHE5OHENQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QF6EQNHYATGV4VCPH4GY2LG5Q4PXVUQA5CPEHRXP36AF7YPQELBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N7XV7FCQAAOUI2SSGKOBXCSXZ4NVCEVMK6PQV4XPLE42ERM5RKPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEDGI4XMKOF7QSCJTHNZQPSDWD6FNSWITO4XZE4FOZ6XNKLIT7LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQHUQQR2OYT746S6RO3NSXMGTQUB6XC4VJURXWPPAXA5WMGIY5HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YHI23TI55ARTTMSTE3QWE3MRRPGSAXTZ5Z7RNJI3N5U3XO2Z3NKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH4Y6FGETPL7UH57VPKVSQ5J7CQDMH3XYEMRNQTLSPRYPFXTWXDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LDI5FDHA53ZS3LKXIUJDKSR66P5J4X4Y5JNH7GI3IVJG526DAPIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2L2BYKLFI5RX6C5JMI242NALJJE5CO7UQBUCHUQVG2AN2O65VVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JWJ36YROQA36KXLGZTGZV2OK2XKXCDH2NJBAVAIBVWKAG5TW56LA/vendors.js"
            ]
        },
        "CreateDeviceInstanceConfiguration": {
            "http": {
                "requestUri": "/v1/device-instances/{deviceInstanceId}/configurations",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "networkConfiguration",
                    "solutionConfiguration",
                    "deviceInstanceId"
                ],
                "members": {
                    "networkConfiguration": {
                        "shape": "S9"
                    },
                    "solutionConfiguration": {
                        "shape": "Sg"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "deviceInstanceId": {
                        "location": "uri",
                        "locationName": "deviceInstanceId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "networkConfiguration",
                    "solutionConfiguration",
                    "operatingMode",
                    "deviceInstanceId",
                    "version",
                    "deviceInstanceConfigurationArn",
                    "createdAtInMillis"
                ],
                "members": {
                    "networkConfiguration": {
                        "shape": "S9"
                    },
                    "solutionConfiguration": {
                        "shape": "Sg"
                    },
                    "operatingMode": {},
                    "deviceInstanceId": {},
                    "version": {},
                    "deviceInstanceConfigurationArn": {},
                    "createdAtInMillis": {
                        "type": "long"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/X55XIMYIVAIXMBIMVZYX7QTY57RUKFQDXEN2JHSJFTVCEFBN5XUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJ5QQUA2LWLM3QX6A3CZNQTDNE7QUAX4B3DCAXBFCEFA3S5EHMSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFOW5ULZCL5ML6X3PAPMBMVTGEZVVWYATI4GQCLB6Y5O7TMQG4CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BO5IADIXWOXAZQY63CGWV53HK6M3DT5OPU5H6JDTI4XIZ6VMYYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGSHVCFH4D7E55PFBVXOVZYBF4Z23KRY5JE67JHOEIG6YNVNGA4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPLMGKXKAEJWMGJRZEJCRTULEOK5RE54VHQIE3QC3OV4D3454N7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SI74NWA636YTE257IHTR4BDAMYW57WSWSDZPJEMRXAEQJXWFKFIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNZIPCPAZDKPF5IU74BUT2546CJ5WMXVLMHSROX5BPYPXQ4C4TYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C4B37PCZVHREKTCIIPEZBEASMOMX63NXHGQ3BBLOZCQEZYFKYTAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDQOESBPJTKB2WFYUNTWYIZCF4NSI5J4KJGIRW6HRITPCQMY3FSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CRZE5VOUYERUW6J2OA5VAQDHOBEBFN5HTCAKV5P2FTVPEVPYSDGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5HNXQVVXIQZ6DAGBSTTRKVO2GSCX6ZGEAPTS7Z7QAFJDRLGCCIGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUJ7K3L5VLRRTMKRIPRLFTKG5DDMNAF5M5OXHM7OVT2B3RE5XWTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RXNQGR2BIR674VXKGBIEP7MPCFIOUYG6XUPW6HCLRAHVZJN67XNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEFYJCFKLZB24XFHEKFCIOSJ7R7G4EFOTAG7IJOODQDZHE5OHENQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QF6EQNHYATGV4VCPH4GY2LG5Q4PXVUQA5CPEHRXP36AF7YPQELBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N7XV7FCQAAOUI2SSGKOBXCSXZ4NVCEVMK6PQV4XPLE42ERM5RKPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEDGI4XMKOF7QSCJTHNZQPSDWD6FNSWITO4XZE4FOZ6XNKLIT7LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQHUQQR2OYT746S6RO3NSXMGTQUB6XC4VJURXWPPAXA5WMGIY5HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YHI23TI55ARTTMSTE3QWE3MRRPGSAXTZ5Z7RNJI3N5U3XO2Z3NKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH4Y6FGETPL7UH57VPKVSQ5J7CQDMH3XYEMRNQTLSPRYPFXTWXDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LDI5FDHA53ZS3LKXIUJDKSR66P5J4X4Y5JNH7GI3IVJG526DAPIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2L2BYKLFI5RX6C5JMI242NALJJE5CO7UQBUCHUQVG2AN2O65VVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JWJ36YROQA36KXLGZTGZV2OK2XKXCDH2NJBAVAIBVWKAG5TW56LA/vendors.js"
            ]
        },
        "CreateSite": {
            "http": {
                "requestUri": "/v1/sites",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "address"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "name": {
                        "shape": "Sx"
                    },
                    "address": {
                        "shape": "S1p"
                    },
                    "description": {
                        "shape": "Sy"
                    },
                    "tags": {
                        "shape": "Sz"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "city",
                    "stateOrRegion",
                    "postalCode",
                    "countryCode",
                    "siteId",
                    "siteArn",
                    "name",
                    "createdAtInMillis"
                ],
                "members": {
                    "districtOrCounty": {},
                    "municipality": {},
                    "city": {},
                    "stateOrRegion": {},
                    "postalCode": {},
                    "countryCode": {},
                    "siteId": {},
                    "siteArn": {},
                    "name": {
                        "shape": "Sx"
                    },
                    "description": {
                        "shape": "Sy"
                    },
                    "createdAtInMillis": {
                        "type": "long"
                    },
                    "tags": {
                        "shape": "Sz"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/X55XIMYIVAIXMBIMVZYX7QTY57RUKFQDXEN2JHSJFTVCEFBN5XUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJ5QQUA2LWLM3QX6A3CZNQTDNE7QUAX4B3DCAXBFCEFA3S5EHMSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFOW5ULZCL5ML6X3PAPMBMVTGEZVVWYATI4GQCLB6Y5O7TMQG4CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BO5IADIXWOXAZQY63CGWV53HK6M3DT5OPU5H6JDTI4XIZ6VMYYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGSHVCFH4D7E55PFBVXOVZYBF4Z23KRY5JE67JHOEIG6YNVNGA4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPLMGKXKAEJWMGJRZEJCRTULEOK5RE54VHQIE3QC3OV4D3454N7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SI74NWA636YTE257IHTR4BDAMYW57WSWSDZPJEMRXAEQJXWFKFIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNZIPCPAZDKPF5IU74BUT2546CJ5WMXVLMHSROX5BPYPXQ4C4TYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C4B37PCZVHREKTCIIPEZBEASMOMX63NXHGQ3BBLOZCQEZYFKYTAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDQOESBPJTKB2WFYUNTWYIZCF4NSI5J4KJGIRW6HRITPCQMY3FSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CRZE5VOUYERUW6J2OA5VAQDHOBEBFN5HTCAKV5P2FTVPEVPYSDGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5HNXQVVXIQZ6DAGBSTTRKVO2GSCX6ZGEAPTS7Z7QAFJDRLGCCIGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUJ7K3L5VLRRTMKRIPRLFTKG5DDMNAF5M5OXHM7OVT2B3RE5XWTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RXNQGR2BIR674VXKGBIEP7MPCFIOUYG6XUPW6HCLRAHVZJN67XNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEFYJCFKLZB24XFHEKFCIOSJ7R7G4EFOTAG7IJOODQDZHE5OHENQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QF6EQNHYATGV4VCPH4GY2LG5Q4PXVUQA5CPEHRXP36AF7YPQELBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N7XV7FCQAAOUI2SSGKOBXCSXZ4NVCEVMK6PQV4XPLE42ERM5RKPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEDGI4XMKOF7QSCJTHNZQPSDWD6FNSWITO4XZE4FOZ6XNKLIT7LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQHUQQR2OYT746S6RO3NSXMGTQUB6XC4VJURXWPPAXA5WMGIY5HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YHI23TI55ARTTMSTE3QWE3MRRPGSAXTZ5Z7RNJI3N5U3XO2Z3NKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH4Y6FGETPL7UH57VPKVSQ5J7CQDMH3XYEMRNQTLSPRYPFXTWXDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LDI5FDHA53ZS3LKXIUJDKSR66P5J4X4Y5JNH7GI3IVJG526DAPIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2L2BYKLFI5RX6C5JMI242NALJJE5CO7UQBUCHUQVG2AN2O65VVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JWJ36YROQA36KXLGZTGZV2OK2XKXCDH2NJBAVAIBVWKAG5TW56LA/vendors.js"
            ]
        },
        "DeleteAssociatedDevice": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v1/device-instances/{deviceInstanceId}/associated-device",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "deviceInstanceId"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true,
                        "location": "querystring",
                        "locationName": "clientToken"
                    },
                    "deviceInstanceId": {
                        "location": "uri",
                        "locationName": "deviceInstanceId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "deviceInstanceId",
                    "status",
                    "assetTagId"
                ],
                "members": {
                    "deviceInstanceId": {},
                    "status": {},
                    "assetTagId": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/X55XIMYIVAIXMBIMVZYX7QTY57RUKFQDXEN2JHSJFTVCEFBN5XUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJ5QQUA2LWLM3QX6A3CZNQTDNE7QUAX4B3DCAXBFCEFA3S5EHMSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFOW5ULZCL5ML6X3PAPMBMVTGEZVVWYATI4GQCLB6Y5O7TMQG4CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BO5IADIXWOXAZQY63CGWV53HK6M3DT5OPU5H6JDTI4XIZ6VMYYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGSHVCFH4D7E55PFBVXOVZYBF4Z23KRY5JE67JHOEIG6YNVNGA4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPLMGKXKAEJWMGJRZEJCRTULEOK5RE54VHQIE3QC3OV4D3454N7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SI74NWA636YTE257IHTR4BDAMYW57WSWSDZPJEMRXAEQJXWFKFIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNZIPCPAZDKPF5IU74BUT2546CJ5WMXVLMHSROX5BPYPXQ4C4TYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C4B37PCZVHREKTCIIPEZBEASMOMX63NXHGQ3BBLOZCQEZYFKYTAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDQOESBPJTKB2WFYUNTWYIZCF4NSI5J4KJGIRW6HRITPCQMY3FSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CRZE5VOUYERUW6J2OA5VAQDHOBEBFN5HTCAKV5P2FTVPEVPYSDGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5HNXQVVXIQZ6DAGBSTTRKVO2GSCX6ZGEAPTS7Z7QAFJDRLGCCIGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUJ7K3L5VLRRTMKRIPRLFTKG5DDMNAF5M5OXHM7OVT2B3RE5XWTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RXNQGR2BIR674VXKGBIEP7MPCFIOUYG6XUPW6HCLRAHVZJN67XNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEFYJCFKLZB24XFHEKFCIOSJ7R7G4EFOTAG7IJOODQDZHE5OHENQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QF6EQNHYATGV4VCPH4GY2LG5Q4PXVUQA5CPEHRXP36AF7YPQELBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N7XV7FCQAAOUI2SSGKOBXCSXZ4NVCEVMK6PQV4XPLE42ERM5RKPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEDGI4XMKOF7QSCJTHNZQPSDWD6FNSWITO4XZE4FOZ6XNKLIT7LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQHUQQR2OYT746S6RO3NSXMGTQUB6XC4VJURXWPPAXA5WMGIY5HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YHI23TI55ARTTMSTE3QWE3MRRPGSAXTZ5Z7RNJI3N5U3XO2Z3NKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH4Y6FGETPL7UH57VPKVSQ5J7CQDMH3XYEMRNQTLSPRYPFXTWXDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LDI5FDHA53ZS3LKXIUJDKSR66P5J4X4Y5JNH7GI3IVJG526DAPIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2L2BYKLFI5RX6C5JMI242NALJJE5CO7UQBUCHUQVG2AN2O65VVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JWJ36YROQA36KXLGZTGZV2OK2XKXCDH2NJBAVAIBVWKAG5TW56LA/vendors.js"
            ]
        },
        "DeleteDeviceConfigurationTemplate": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v1/device-configuration-templates/{templateId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "templateId"
                ],
                "members": {
                    "templateId": {
                        "location": "uri",
                        "locationName": "templateId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/X55XIMYIVAIXMBIMVZYX7QTY57RUKFQDXEN2JHSJFTVCEFBN5XUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJ5QQUA2LWLM3QX6A3CZNQTDNE7QUAX4B3DCAXBFCEFA3S5EHMSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFOW5ULZCL5ML6X3PAPMBMVTGEZVVWYATI4GQCLB6Y5O7TMQG4CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BO5IADIXWOXAZQY63CGWV53HK6M3DT5OPU5H6JDTI4XIZ6VMYYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGSHVCFH4D7E55PFBVXOVZYBF4Z23KRY5JE67JHOEIG6YNVNGA4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPLMGKXKAEJWMGJRZEJCRTULEOK5RE54VHQIE3QC3OV4D3454N7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SI74NWA636YTE257IHTR4BDAMYW57WSWSDZPJEMRXAEQJXWFKFIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNZIPCPAZDKPF5IU74BUT2546CJ5WMXVLMHSROX5BPYPXQ4C4TYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C4B37PCZVHREKTCIIPEZBEASMOMX63NXHGQ3BBLOZCQEZYFKYTAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDQOESBPJTKB2WFYUNTWYIZCF4NSI5J4KJGIRW6HRITPCQMY3FSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CRZE5VOUYERUW6J2OA5VAQDHOBEBFN5HTCAKV5P2FTVPEVPYSDGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5HNXQVVXIQZ6DAGBSTTRKVO2GSCX6ZGEAPTS7Z7QAFJDRLGCCIGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUJ7K3L5VLRRTMKRIPRLFTKG5DDMNAF5M5OXHM7OVT2B3RE5XWTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RXNQGR2BIR674VXKGBIEP7MPCFIOUYG6XUPW6HCLRAHVZJN67XNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEFYJCFKLZB24XFHEKFCIOSJ7R7G4EFOTAG7IJOODQDZHE5OHENQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QF6EQNHYATGV4VCPH4GY2LG5Q4PXVUQA5CPEHRXP36AF7YPQELBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N7XV7FCQAAOUI2SSGKOBXCSXZ4NVCEVMK6PQV4XPLE42ERM5RKPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEDGI4XMKOF7QSCJTHNZQPSDWD6FNSWITO4XZE4FOZ6XNKLIT7LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQHUQQR2OYT746S6RO3NSXMGTQUB6XC4VJURXWPPAXA5WMGIY5HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YHI23TI55ARTTMSTE3QWE3MRRPGSAXTZ5Z7RNJI3N5U3XO2Z3NKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH4Y6FGETPL7UH57VPKVSQ5J7CQDMH3XYEMRNQTLSPRYPFXTWXDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LDI5FDHA53ZS3LKXIUJDKSR66P5J4X4Y5JNH7GI3IVJG526DAPIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2L2BYKLFI5RX6C5JMI242NALJJE5CO7UQBUCHUQVG2AN2O65VVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JWJ36YROQA36KXLGZTGZV2OK2XKXCDH2NJBAVAIBVWKAG5TW56LA/vendors.js"
            ]
        },
        "DeleteDeviceInstance": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v1/device-instances/{deviceInstanceId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "deviceInstanceId"
                ],
                "members": {
                    "deviceInstanceId": {
                        "location": "uri",
                        "locationName": "deviceInstanceId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/X55XIMYIVAIXMBIMVZYX7QTY57RUKFQDXEN2JHSJFTVCEFBN5XUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJ5QQUA2LWLM3QX6A3CZNQTDNE7QUAX4B3DCAXBFCEFA3S5EHMSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFOW5ULZCL5ML6X3PAPMBMVTGEZVVWYATI4GQCLB6Y5O7TMQG4CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BO5IADIXWOXAZQY63CGWV53HK6M3DT5OPU5H6JDTI4XIZ6VMYYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGSHVCFH4D7E55PFBVXOVZYBF4Z23KRY5JE67JHOEIG6YNVNGA4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPLMGKXKAEJWMGJRZEJCRTULEOK5RE54VHQIE3QC3OV4D3454N7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SI74NWA636YTE257IHTR4BDAMYW57WSWSDZPJEMRXAEQJXWFKFIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNZIPCPAZDKPF5IU74BUT2546CJ5WMXVLMHSROX5BPYPXQ4C4TYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C4B37PCZVHREKTCIIPEZBEASMOMX63NXHGQ3BBLOZCQEZYFKYTAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDQOESBPJTKB2WFYUNTWYIZCF4NSI5J4KJGIRW6HRITPCQMY3FSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CRZE5VOUYERUW6J2OA5VAQDHOBEBFN5HTCAKV5P2FTVPEVPYSDGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5HNXQVVXIQZ6DAGBSTTRKVO2GSCX6ZGEAPTS7Z7QAFJDRLGCCIGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUJ7K3L5VLRRTMKRIPRLFTKG5DDMNAF5M5OXHM7OVT2B3RE5XWTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RXNQGR2BIR674VXKGBIEP7MPCFIOUYG6XUPW6HCLRAHVZJN67XNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEFYJCFKLZB24XFHEKFCIOSJ7R7G4EFOTAG7IJOODQDZHE5OHENQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QF6EQNHYATGV4VCPH4GY2LG5Q4PXVUQA5CPEHRXP36AF7YPQELBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N7XV7FCQAAOUI2SSGKOBXCSXZ4NVCEVMK6PQV4XPLE42ERM5RKPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEDGI4XMKOF7QSCJTHNZQPSDWD6FNSWITO4XZE4FOZ6XNKLIT7LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQHUQQR2OYT746S6RO3NSXMGTQUB6XC4VJURXWPPAXA5WMGIY5HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YHI23TI55ARTTMSTE3QWE3MRRPGSAXTZ5Z7RNJI3N5U3XO2Z3NKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH4Y6FGETPL7UH57VPKVSQ5J7CQDMH3XYEMRNQTLSPRYPFXTWXDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LDI5FDHA53ZS3LKXIUJDKSR66P5J4X4Y5JNH7GI3IVJG526DAPIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2L2BYKLFI5RX6C5JMI242NALJJE5CO7UQBUCHUQVG2AN2O65VVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JWJ36YROQA36KXLGZTGZV2OK2XKXCDH2NJBAVAIBVWKAG5TW56LA/vendors.js"
            ]
        },
        "DeleteSite": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v1/sites/{siteId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "siteId"
                ],
                "members": {
                    "siteId": {
                        "location": "uri",
                        "locationName": "siteId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/X55XIMYIVAIXMBIMVZYX7QTY57RUKFQDXEN2JHSJFTVCEFBN5XUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJ5QQUA2LWLM3QX6A3CZNQTDNE7QUAX4B3DCAXBFCEFA3S5EHMSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFOW5ULZCL5ML6X3PAPMBMVTGEZVVWYATI4GQCLB6Y5O7TMQG4CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BO5IADIXWOXAZQY63CGWV53HK6M3DT5OPU5H6JDTI4XIZ6VMYYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGSHVCFH4D7E55PFBVXOVZYBF4Z23KRY5JE67JHOEIG6YNVNGA4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPLMGKXKAEJWMGJRZEJCRTULEOK5RE54VHQIE3QC3OV4D3454N7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SI74NWA636YTE257IHTR4BDAMYW57WSWSDZPJEMRXAEQJXWFKFIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNZIPCPAZDKPF5IU74BUT2546CJ5WMXVLMHSROX5BPYPXQ4C4TYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C4B37PCZVHREKTCIIPEZBEASMOMX63NXHGQ3BBLOZCQEZYFKYTAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDQOESBPJTKB2WFYUNTWYIZCF4NSI5J4KJGIRW6HRITPCQMY3FSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CRZE5VOUYERUW6J2OA5VAQDHOBEBFN5HTCAKV5P2FTVPEVPYSDGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5HNXQVVXIQZ6DAGBSTTRKVO2GSCX6ZGEAPTS7Z7QAFJDRLGCCIGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUJ7K3L5VLRRTMKRIPRLFTKG5DDMNAF5M5OXHM7OVT2B3RE5XWTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RXNQGR2BIR674VXKGBIEP7MPCFIOUYG6XUPW6HCLRAHVZJN67XNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEFYJCFKLZB24XFHEKFCIOSJ7R7G4EFOTAG7IJOODQDZHE5OHENQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QF6EQNHYATGV4VCPH4GY2LG5Q4PXVUQA5CPEHRXP36AF7YPQELBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N7XV7FCQAAOUI2SSGKOBXCSXZ4NVCEVMK6PQV4XPLE42ERM5RKPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEDGI4XMKOF7QSCJTHNZQPSDWD6FNSWITO4XZE4FOZ6XNKLIT7LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQHUQQR2OYT746S6RO3NSXMGTQUB6XC4VJURXWPPAXA5WMGIY5HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YHI23TI55ARTTMSTE3QWE3MRRPGSAXTZ5Z7RNJI3N5U3XO2Z3NKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH4Y6FGETPL7UH57VPKVSQ5J7CQDMH3XYEMRNQTLSPRYPFXTWXDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LDI5FDHA53ZS3LKXIUJDKSR66P5J4X4Y5JNH7GI3IVJG526DAPIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2L2BYKLFI5RX6C5JMI242NALJJE5CO7UQBUCHUQVG2AN2O65VVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JWJ36YROQA36KXLGZTGZV2OK2XKXCDH2NJBAVAIBVWKAG5TW56LA/vendors.js"
            ]
        },
        "DeleteUser": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v1/users/{userId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "userId"
                ],
                "members": {
                    "userId": {
                        "location": "uri",
                        "locationName": "userId"
                    },
                    "userPoolId": {
                        "location": "uri",
                        "locationName": "userPoolId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/X55XIMYIVAIXMBIMVZYX7QTY57RUKFQDXEN2JHSJFTVCEFBN5XUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJ5QQUA2LWLM3QX6A3CZNQTDNE7QUAX4B3DCAXBFCEFA3S5EHMSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFOW5ULZCL5ML6X3PAPMBMVTGEZVVWYATI4GQCLB6Y5O7TMQG4CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BO5IADIXWOXAZQY63CGWV53HK6M3DT5OPU5H6JDTI4XIZ6VMYYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGSHVCFH4D7E55PFBVXOVZYBF4Z23KRY5JE67JHOEIG6YNVNGA4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPLMGKXKAEJWMGJRZEJCRTULEOK5RE54VHQIE3QC3OV4D3454N7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SI74NWA636YTE257IHTR4BDAMYW57WSWSDZPJEMRXAEQJXWFKFIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNZIPCPAZDKPF5IU74BUT2546CJ5WMXVLMHSROX5BPYPXQ4C4TYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C4B37PCZVHREKTCIIPEZBEASMOMX63NXHGQ3BBLOZCQEZYFKYTAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDQOESBPJTKB2WFYUNTWYIZCF4NSI5J4KJGIRW6HRITPCQMY3FSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CRZE5VOUYERUW6J2OA5VAQDHOBEBFN5HTCAKV5P2FTVPEVPYSDGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5HNXQVVXIQZ6DAGBSTTRKVO2GSCX6ZGEAPTS7Z7QAFJDRLGCCIGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUJ7K3L5VLRRTMKRIPRLFTKG5DDMNAF5M5OXHM7OVT2B3RE5XWTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RXNQGR2BIR674VXKGBIEP7MPCFIOUYG6XUPW6HCLRAHVZJN67XNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEFYJCFKLZB24XFHEKFCIOSJ7R7G4EFOTAG7IJOODQDZHE5OHENQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QF6EQNHYATGV4VCPH4GY2LG5Q4PXVUQA5CPEHRXP36AF7YPQELBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N7XV7FCQAAOUI2SSGKOBXCSXZ4NVCEVMK6PQV4XPLE42ERM5RKPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEDGI4XMKOF7QSCJTHNZQPSDWD6FNSWITO4XZE4FOZ6XNKLIT7LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQHUQQR2OYT746S6RO3NSXMGTQUB6XC4VJURXWPPAXA5WMGIY5HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YHI23TI55ARTTMSTE3QWE3MRRPGSAXTZ5Z7RNJI3N5U3XO2Z3NKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH4Y6FGETPL7UH57VPKVSQ5J7CQDMH3XYEMRNQTLSPRYPFXTWXDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LDI5FDHA53ZS3LKXIUJDKSR66P5J4X4Y5JNH7GI3IVJG526DAPIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2L2BYKLFI5RX6C5JMI242NALJJE5CO7UQBUCHUQVG2AN2O65VVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JWJ36YROQA36KXLGZTGZV2OK2XKXCDH2NJBAVAIBVWKAG5TW56LA/vendors.js"
            ]
        },
        "GetDeviceConfigurationTemplate": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/device-configuration-templates/{templateId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "templateId"
                ],
                "members": {
                    "templateId": {
                        "location": "uri",
                        "locationName": "templateId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "templateId",
                    "deviceConfigurationTemplateArn",
                    "name",
                    "createdAtInMillis",
                    "lastUpdatedAtInMillis",
                    "networkConfiguration",
                    "solutionConfiguration",
                    "operatingMode"
                ],
                "members": {
                    "templateId": {},
                    "deviceConfigurationTemplateArn": {},
                    "name": {
                        "shape": "Sx"
                    },
                    "description": {
                        "shape": "Sy"
                    },
                    "createdAtInMillis": {
                        "type": "long"
                    },
                    "lastUpdatedAtInMillis": {
                        "type": "long"
                    },
                    "tags": {
                        "shape": "Sz"
                    },
                    "networkConfiguration": {
                        "shape": "S9"
                    },
                    "solutionConfiguration": {
                        "shape": "Sg"
                    },
                    "operatingMode": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/X55XIMYIVAIXMBIMVZYX7QTY57RUKFQDXEN2JHSJFTVCEFBN5XUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJ5QQUA2LWLM3QX6A3CZNQTDNE7QUAX4B3DCAXBFCEFA3S5EHMSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFOW5ULZCL5ML6X3PAPMBMVTGEZVVWYATI4GQCLB6Y5O7TMQG4CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BO5IADIXWOXAZQY63CGWV53HK6M3DT5OPU5H6JDTI4XIZ6VMYYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGSHVCFH4D7E55PFBVXOVZYBF4Z23KRY5JE67JHOEIG6YNVNGA4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPLMGKXKAEJWMGJRZEJCRTULEOK5RE54VHQIE3QC3OV4D3454N7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SI74NWA636YTE257IHTR4BDAMYW57WSWSDZPJEMRXAEQJXWFKFIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNZIPCPAZDKPF5IU74BUT2546CJ5WMXVLMHSROX5BPYPXQ4C4TYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C4B37PCZVHREKTCIIPEZBEASMOMX63NXHGQ3BBLOZCQEZYFKYTAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDQOESBPJTKB2WFYUNTWYIZCF4NSI5J4KJGIRW6HRITPCQMY3FSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CRZE5VOUYERUW6J2OA5VAQDHOBEBFN5HTCAKV5P2FTVPEVPYSDGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5HNXQVVXIQZ6DAGBSTTRKVO2GSCX6ZGEAPTS7Z7QAFJDRLGCCIGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUJ7K3L5VLRRTMKRIPRLFTKG5DDMNAF5M5OXHM7OVT2B3RE5XWTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RXNQGR2BIR674VXKGBIEP7MPCFIOUYG6XUPW6HCLRAHVZJN67XNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEFYJCFKLZB24XFHEKFCIOSJ7R7G4EFOTAG7IJOODQDZHE5OHENQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QF6EQNHYATGV4VCPH4GY2LG5Q4PXVUQA5CPEHRXP36AF7YPQELBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N7XV7FCQAAOUI2SSGKOBXCSXZ4NVCEVMK6PQV4XPLE42ERM5RKPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEDGI4XMKOF7QSCJTHNZQPSDWD6FNSWITO4XZE4FOZ6XNKLIT7LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQHUQQR2OYT746S6RO3NSXMGTQUB6XC4VJURXWPPAXA5WMGIY5HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YHI23TI55ARTTMSTE3QWE3MRRPGSAXTZ5Z7RNJI3N5U3XO2Z3NKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH4Y6FGETPL7UH57VPKVSQ5J7CQDMH3XYEMRNQTLSPRYPFXTWXDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LDI5FDHA53ZS3LKXIUJDKSR66P5J4X4Y5JNH7GI3IVJG526DAPIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2L2BYKLFI5RX6C5JMI242NALJJE5CO7UQBUCHUQVG2AN2O65VVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JWJ36YROQA36KXLGZTGZV2OK2XKXCDH2NJBAVAIBVWKAG5TW56LA/vendors.js"
            ]
        },
        "GetDeviceInstance": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/device-instances/{deviceInstanceId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "deviceInstanceId"
                ],
                "members": {
                    "deviceInstanceId": {
                        "location": "uri",
                        "locationName": "deviceInstanceId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "deviceInstanceId",
                    "deviceInstanceArn",
                    "name",
                    "status",
                    "siteId",
                    "createdAtInMillis",
                    "lastUpdatedAtInMillis"
                ],
                "members": {
                    "deviceInstanceId": {},
                    "deviceInstanceArn": {},
                    "name": {
                        "shape": "Sx"
                    },
                    "status": {},
                    "siteId": {},
                    "createdAtInMillis": {
                        "type": "long"
                    },
                    "lastUpdatedAtInMillis": {
                        "type": "long"
                    },
                    "operatingMode": {},
                    "tags": {
                        "shape": "Sz"
                    },
                    "associatedDevice": {
                        "shape": "S1a"
                    },
                    "configurationVersion": {},
                    "deviceReportedConfigurationVersion": {},
                    "configurationSyncStatus": {},
                    "configurationSyncFailureReasonCode": {},
                    "configurationSyncFailureReason": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/X55XIMYIVAIXMBIMVZYX7QTY57RUKFQDXEN2JHSJFTVCEFBN5XUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJ5QQUA2LWLM3QX6A3CZNQTDNE7QUAX4B3DCAXBFCEFA3S5EHMSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFOW5ULZCL5ML6X3PAPMBMVTGEZVVWYATI4GQCLB6Y5O7TMQG4CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BO5IADIXWOXAZQY63CGWV53HK6M3DT5OPU5H6JDTI4XIZ6VMYYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGSHVCFH4D7E55PFBVXOVZYBF4Z23KRY5JE67JHOEIG6YNVNGA4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPLMGKXKAEJWMGJRZEJCRTULEOK5RE54VHQIE3QC3OV4D3454N7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SI74NWA636YTE257IHTR4BDAMYW57WSWSDZPJEMRXAEQJXWFKFIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNZIPCPAZDKPF5IU74BUT2546CJ5WMXVLMHSROX5BPYPXQ4C4TYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C4B37PCZVHREKTCIIPEZBEASMOMX63NXHGQ3BBLOZCQEZYFKYTAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDQOESBPJTKB2WFYUNTWYIZCF4NSI5J4KJGIRW6HRITPCQMY3FSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CRZE5VOUYERUW6J2OA5VAQDHOBEBFN5HTCAKV5P2FTVPEVPYSDGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5HNXQVVXIQZ6DAGBSTTRKVO2GSCX6ZGEAPTS7Z7QAFJDRLGCCIGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUJ7K3L5VLRRTMKRIPRLFTKG5DDMNAF5M5OXHM7OVT2B3RE5XWTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RXNQGR2BIR674VXKGBIEP7MPCFIOUYG6XUPW6HCLRAHVZJN67XNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEFYJCFKLZB24XFHEKFCIOSJ7R7G4EFOTAG7IJOODQDZHE5OHENQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QF6EQNHYATGV4VCPH4GY2LG5Q4PXVUQA5CPEHRXP36AF7YPQELBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N7XV7FCQAAOUI2SSGKOBXCSXZ4NVCEVMK6PQV4XPLE42ERM5RKPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEDGI4XMKOF7QSCJTHNZQPSDWD6FNSWITO4XZE4FOZ6XNKLIT7LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQHUQQR2OYT746S6RO3NSXMGTQUB6XC4VJURXWPPAXA5WMGIY5HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YHI23TI55ARTTMSTE3QWE3MRRPGSAXTZ5Z7RNJI3N5U3XO2Z3NKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH4Y6FGETPL7UH57VPKVSQ5J7CQDMH3XYEMRNQTLSPRYPFXTWXDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LDI5FDHA53ZS3LKXIUJDKSR66P5J4X4Y5JNH7GI3IVJG526DAPIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2L2BYKLFI5RX6C5JMI242NALJJE5CO7UQBUCHUQVG2AN2O65VVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JWJ36YROQA36KXLGZTGZV2OK2XKXCDH2NJBAVAIBVWKAG5TW56LA/vendors.js"
            ]
        },
        "GetDeviceInstanceConfiguration": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/device-instances/{deviceInstanceId}/configurations/{version}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "deviceInstanceId",
                    "version"
                ],
                "members": {
                    "deviceInstanceId": {
                        "location": "uri",
                        "locationName": "deviceInstanceId"
                    },
                    "version": {
                        "location": "uri",
                        "locationName": "version"
                    },
                    "configurationVersion": {
                        "location": "uri",
                        "locationName": "configurationVersion"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "networkConfiguration",
                    "solutionConfiguration",
                    "operatingMode",
                    "deviceInstanceId",
                    "version",
                    "deviceInstanceConfigurationArn",
                    "createdAtInMillis"
                ],
                "members": {
                    "networkConfiguration": {
                        "shape": "S9"
                    },
                    "solutionConfiguration": {
                        "shape": "Sg"
                    },
                    "operatingMode": {},
                    "deviceInstanceId": {},
                    "version": {},
                    "deviceInstanceConfigurationArn": {},
                    "createdAtInMillis": {
                        "type": "long"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/X55XIMYIVAIXMBIMVZYX7QTY57RUKFQDXEN2JHSJFTVCEFBN5XUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJ5QQUA2LWLM3QX6A3CZNQTDNE7QUAX4B3DCAXBFCEFA3S5EHMSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFOW5ULZCL5ML6X3PAPMBMVTGEZVVWYATI4GQCLB6Y5O7TMQG4CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BO5IADIXWOXAZQY63CGWV53HK6M3DT5OPU5H6JDTI4XIZ6VMYYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGSHVCFH4D7E55PFBVXOVZYBF4Z23KRY5JE67JHOEIG6YNVNGA4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPLMGKXKAEJWMGJRZEJCRTULEOK5RE54VHQIE3QC3OV4D3454N7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SI74NWA636YTE257IHTR4BDAMYW57WSWSDZPJEMRXAEQJXWFKFIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNZIPCPAZDKPF5IU74BUT2546CJ5WMXVLMHSROX5BPYPXQ4C4TYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C4B37PCZVHREKTCIIPEZBEASMOMX63NXHGQ3BBLOZCQEZYFKYTAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDQOESBPJTKB2WFYUNTWYIZCF4NSI5J4KJGIRW6HRITPCQMY3FSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CRZE5VOUYERUW6J2OA5VAQDHOBEBFN5HTCAKV5P2FTVPEVPYSDGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5HNXQVVXIQZ6DAGBSTTRKVO2GSCX6ZGEAPTS7Z7QAFJDRLGCCIGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUJ7K3L5VLRRTMKRIPRLFTKG5DDMNAF5M5OXHM7OVT2B3RE5XWTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RXNQGR2BIR674VXKGBIEP7MPCFIOUYG6XUPW6HCLRAHVZJN67XNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEFYJCFKLZB24XFHEKFCIOSJ7R7G4EFOTAG7IJOODQDZHE5OHENQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QF6EQNHYATGV4VCPH4GY2LG5Q4PXVUQA5CPEHRXP36AF7YPQELBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N7XV7FCQAAOUI2SSGKOBXCSXZ4NVCEVMK6PQV4XPLE42ERM5RKPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEDGI4XMKOF7QSCJTHNZQPSDWD6FNSWITO4XZE4FOZ6XNKLIT7LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQHUQQR2OYT746S6RO3NSXMGTQUB6XC4VJURXWPPAXA5WMGIY5HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YHI23TI55ARTTMSTE3QWE3MRRPGSAXTZ5Z7RNJI3N5U3XO2Z3NKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH4Y6FGETPL7UH57VPKVSQ5J7CQDMH3XYEMRNQTLSPRYPFXTWXDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LDI5FDHA53ZS3LKXIUJDKSR66P5J4X4Y5JNH7GI3IVJG526DAPIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2L2BYKLFI5RX6C5JMI242NALJJE5CO7UQBUCHUQVG2AN2O65VVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JWJ36YROQA36KXLGZTGZV2OK2XKXCDH2NJBAVAIBVWKAG5TW56LA/vendors.js"
            ]
        },
        "GetSite": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/sites/{siteId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "siteId"
                ],
                "members": {
                    "siteId": {
                        "location": "uri",
                        "locationName": "siteId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "city",
                    "stateOrRegion",
                    "postalCode",
                    "countryCode",
                    "siteId",
                    "siteArn",
                    "name",
                    "createdAtInMillis"
                ],
                "members": {
                    "districtOrCounty": {},
                    "municipality": {},
                    "city": {},
                    "stateOrRegion": {},
                    "postalCode": {},
                    "countryCode": {},
                    "siteId": {},
                    "siteArn": {},
                    "name": {
                        "shape": "Sx"
                    },
                    "description": {
                        "shape": "Sy"
                    },
                    "createdAtInMillis": {
                        "type": "long"
                    },
                    "tags": {
                        "shape": "Sz"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/X55XIMYIVAIXMBIMVZYX7QTY57RUKFQDXEN2JHSJFTVCEFBN5XUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJ5QQUA2LWLM3QX6A3CZNQTDNE7QUAX4B3DCAXBFCEFA3S5EHMSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFOW5ULZCL5ML6X3PAPMBMVTGEZVVWYATI4GQCLB6Y5O7TMQG4CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BO5IADIXWOXAZQY63CGWV53HK6M3DT5OPU5H6JDTI4XIZ6VMYYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGSHVCFH4D7E55PFBVXOVZYBF4Z23KRY5JE67JHOEIG6YNVNGA4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPLMGKXKAEJWMGJRZEJCRTULEOK5RE54VHQIE3QC3OV4D3454N7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SI74NWA636YTE257IHTR4BDAMYW57WSWSDZPJEMRXAEQJXWFKFIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNZIPCPAZDKPF5IU74BUT2546CJ5WMXVLMHSROX5BPYPXQ4C4TYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C4B37PCZVHREKTCIIPEZBEASMOMX63NXHGQ3BBLOZCQEZYFKYTAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDQOESBPJTKB2WFYUNTWYIZCF4NSI5J4KJGIRW6HRITPCQMY3FSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CRZE5VOUYERUW6J2OA5VAQDHOBEBFN5HTCAKV5P2FTVPEVPYSDGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5HNXQVVXIQZ6DAGBSTTRKVO2GSCX6ZGEAPTS7Z7QAFJDRLGCCIGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUJ7K3L5VLRRTMKRIPRLFTKG5DDMNAF5M5OXHM7OVT2B3RE5XWTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RXNQGR2BIR674VXKGBIEP7MPCFIOUYG6XUPW6HCLRAHVZJN67XNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEFYJCFKLZB24XFHEKFCIOSJ7R7G4EFOTAG7IJOODQDZHE5OHENQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QF6EQNHYATGV4VCPH4GY2LG5Q4PXVUQA5CPEHRXP36AF7YPQELBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N7XV7FCQAAOUI2SSGKOBXCSXZ4NVCEVMK6PQV4XPLE42ERM5RKPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEDGI4XMKOF7QSCJTHNZQPSDWD6FNSWITO4XZE4FOZ6XNKLIT7LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQHUQQR2OYT746S6RO3NSXMGTQUB6XC4VJURXWPPAXA5WMGIY5HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YHI23TI55ARTTMSTE3QWE3MRRPGSAXTZ5Z7RNJI3N5U3XO2Z3NKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH4Y6FGETPL7UH57VPKVSQ5J7CQDMH3XYEMRNQTLSPRYPFXTWXDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LDI5FDHA53ZS3LKXIUJDKSR66P5J4X4Y5JNH7GI3IVJG526DAPIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2L2BYKLFI5RX6C5JMI242NALJJE5CO7UQBUCHUQVG2AN2O65VVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JWJ36YROQA36KXLGZTGZV2OK2XKXCDH2NJBAVAIBVWKAG5TW56LA/vendors.js"
            ]
        },
        "GetSiteAddress": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/sites/{siteId}/address",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "siteId"
                ],
                "members": {
                    "siteId": {
                        "location": "uri",
                        "locationName": "siteId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "siteId",
                    "address"
                ],
                "members": {
                    "siteId": {},
                    "address": {
                        "shape": "S1p"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/X55XIMYIVAIXMBIMVZYX7QTY57RUKFQDXEN2JHSJFTVCEFBN5XUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJ5QQUA2LWLM3QX6A3CZNQTDNE7QUAX4B3DCAXBFCEFA3S5EHMSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFOW5ULZCL5ML6X3PAPMBMVTGEZVVWYATI4GQCLB6Y5O7TMQG4CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BO5IADIXWOXAZQY63CGWV53HK6M3DT5OPU5H6JDTI4XIZ6VMYYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGSHVCFH4D7E55PFBVXOVZYBF4Z23KRY5JE67JHOEIG6YNVNGA4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPLMGKXKAEJWMGJRZEJCRTULEOK5RE54VHQIE3QC3OV4D3454N7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SI74NWA636YTE257IHTR4BDAMYW57WSWSDZPJEMRXAEQJXWFKFIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNZIPCPAZDKPF5IU74BUT2546CJ5WMXVLMHSROX5BPYPXQ4C4TYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C4B37PCZVHREKTCIIPEZBEASMOMX63NXHGQ3BBLOZCQEZYFKYTAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDQOESBPJTKB2WFYUNTWYIZCF4NSI5J4KJGIRW6HRITPCQMY3FSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CRZE5VOUYERUW6J2OA5VAQDHOBEBFN5HTCAKV5P2FTVPEVPYSDGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5HNXQVVXIQZ6DAGBSTTRKVO2GSCX6ZGEAPTS7Z7QAFJDRLGCCIGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUJ7K3L5VLRRTMKRIPRLFTKG5DDMNAF5M5OXHM7OVT2B3RE5XWTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RXNQGR2BIR674VXKGBIEP7MPCFIOUYG6XUPW6HCLRAHVZJN67XNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEFYJCFKLZB24XFHEKFCIOSJ7R7G4EFOTAG7IJOODQDZHE5OHENQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QF6EQNHYATGV4VCPH4GY2LG5Q4PXVUQA5CPEHRXP36AF7YPQELBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N7XV7FCQAAOUI2SSGKOBXCSXZ4NVCEVMK6PQV4XPLE42ERM5RKPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEDGI4XMKOF7QSCJTHNZQPSDWD6FNSWITO4XZE4FOZ6XNKLIT7LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQHUQQR2OYT746S6RO3NSXMGTQUB6XC4VJURXWPPAXA5WMGIY5HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YHI23TI55ARTTMSTE3QWE3MRRPGSAXTZ5Z7RNJI3N5U3XO2Z3NKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH4Y6FGETPL7UH57VPKVSQ5J7CQDMH3XYEMRNQTLSPRYPFXTWXDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LDI5FDHA53ZS3LKXIUJDKSR66P5J4X4Y5JNH7GI3IVJG526DAPIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2L2BYKLFI5RX6C5JMI242NALJJE5CO7UQBUCHUQVG2AN2O65VVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JWJ36YROQA36KXLGZTGZV2OK2XKXCDH2NJBAVAIBVWKAG5TW56LA/vendors.js"
            ]
        },
        "ListDeviceConfigurationTemplates": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/device-configuration-templates",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "templates"
                ],
                "members": {
                    "templates": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "templateId",
                                "deviceConfigurationTemplateArn",
                                "name",
                                "createdAtInMillis",
                                "lastUpdatedAtInMillis",
                                "operatingMode"
                            ],
                            "members": {
                                "templateId": {},
                                "deviceConfigurationTemplateArn": {},
                                "name": {
                                    "shape": "Sx"
                                },
                                "description": {
                                    "shape": "Sy"
                                },
                                "createdAtInMillis": {
                                    "type": "long"
                                },
                                "lastUpdatedAtInMillis": {
                                    "type": "long"
                                },
                                "tags": {
                                    "shape": "Sz"
                                },
                                "operatingMode": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/X55XIMYIVAIXMBIMVZYX7QTY57RUKFQDXEN2JHSJFTVCEFBN5XUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJ5QQUA2LWLM3QX6A3CZNQTDNE7QUAX4B3DCAXBFCEFA3S5EHMSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFOW5ULZCL5ML6X3PAPMBMVTGEZVVWYATI4GQCLB6Y5O7TMQG4CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BO5IADIXWOXAZQY63CGWV53HK6M3DT5OPU5H6JDTI4XIZ6VMYYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGSHVCFH4D7E55PFBVXOVZYBF4Z23KRY5JE67JHOEIG6YNVNGA4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPLMGKXKAEJWMGJRZEJCRTULEOK5RE54VHQIE3QC3OV4D3454N7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SI74NWA636YTE257IHTR4BDAMYW57WSWSDZPJEMRXAEQJXWFKFIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNZIPCPAZDKPF5IU74BUT2546CJ5WMXVLMHSROX5BPYPXQ4C4TYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C4B37PCZVHREKTCIIPEZBEASMOMX63NXHGQ3BBLOZCQEZYFKYTAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDQOESBPJTKB2WFYUNTWYIZCF4NSI5J4KJGIRW6HRITPCQMY3FSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CRZE5VOUYERUW6J2OA5VAQDHOBEBFN5HTCAKV5P2FTVPEVPYSDGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5HNXQVVXIQZ6DAGBSTTRKVO2GSCX6ZGEAPTS7Z7QAFJDRLGCCIGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUJ7K3L5VLRRTMKRIPRLFTKG5DDMNAF5M5OXHM7OVT2B3RE5XWTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RXNQGR2BIR674VXKGBIEP7MPCFIOUYG6XUPW6HCLRAHVZJN67XNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEFYJCFKLZB24XFHEKFCIOSJ7R7G4EFOTAG7IJOODQDZHE5OHENQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QF6EQNHYATGV4VCPH4GY2LG5Q4PXVUQA5CPEHRXP36AF7YPQELBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N7XV7FCQAAOUI2SSGKOBXCSXZ4NVCEVMK6PQV4XPLE42ERM5RKPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEDGI4XMKOF7QSCJTHNZQPSDWD6FNSWITO4XZE4FOZ6XNKLIT7LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQHUQQR2OYT746S6RO3NSXMGTQUB6XC4VJURXWPPAXA5WMGIY5HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YHI23TI55ARTTMSTE3QWE3MRRPGSAXTZ5Z7RNJI3N5U3XO2Z3NKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH4Y6FGETPL7UH57VPKVSQ5J7CQDMH3XYEMRNQTLSPRYPFXTWXDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LDI5FDHA53ZS3LKXIUJDKSR66P5J4X4Y5JNH7GI3IVJG526DAPIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2L2BYKLFI5RX6C5JMI242NALJJE5CO7UQBUCHUQVG2AN2O65VVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JWJ36YROQA36KXLGZTGZV2OK2XKXCDH2NJBAVAIBVWKAG5TW56LA/vendors.js"
            ]
        },
        "ListDeviceInstances": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/device-instances",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "deviceInstanceStatusFilter": {
                        "location": "querystring",
                        "locationName": "deviceInstanceStatusFilter",
                        "type": "list",
                        "member": {}
                    },
                    "siteIdFilter": {
                        "location": "querystring",
                        "locationName": "siteIdFilter",
                        "type": "list",
                        "member": {}
                    },
                    "orderBy": {
                        "location": "querystring",
                        "locationName": "orderBy"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "deviceInstanceStatusFilters": {
                        "location": "querystring",
                        "locationName": "deviceInstanceStatusFilters",
                        "type": "list",
                        "member": {}
                    },
                    "siteIdFilters": {
                        "location": "querystring",
                        "locationName": "siteIdFilters",
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "deviceInstances"
                ],
                "members": {
                    "deviceInstances": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "deviceInstanceId",
                                "deviceInstanceArn",
                                "name",
                                "status",
                                "siteId",
                                "createdAtInMillis",
                                "lastUpdatedAtInMillis"
                            ],
                            "members": {
                                "deviceInstanceId": {},
                                "deviceInstanceArn": {},
                                "name": {
                                    "shape": "Sx"
                                },
                                "status": {},
                                "siteId": {},
                                "createdAtInMillis": {
                                    "type": "long"
                                },
                                "lastUpdatedAtInMillis": {
                                    "type": "long"
                                },
                                "operatingMode": {},
                                "tags": {
                                    "shape": "Sz"
                                },
                                "associatedDevice": {
                                    "type": "structure",
                                    "required": [
                                        "assetTagId",
                                        "deviceHealthSummary",
                                        "deviceConnectivitySummary"
                                    ],
                                    "members": {
                                        "assetTagId": {},
                                        "deviceHealthSummary": {
                                            "shape": "S1c"
                                        },
                                        "deviceConnectivitySummary": {
                                            "shape": "S1e"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/X55XIMYIVAIXMBIMVZYX7QTY57RUKFQDXEN2JHSJFTVCEFBN5XUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJ5QQUA2LWLM3QX6A3CZNQTDNE7QUAX4B3DCAXBFCEFA3S5EHMSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFOW5ULZCL5ML6X3PAPMBMVTGEZVVWYATI4GQCLB6Y5O7TMQG4CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BO5IADIXWOXAZQY63CGWV53HK6M3DT5OPU5H6JDTI4XIZ6VMYYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGSHVCFH4D7E55PFBVXOVZYBF4Z23KRY5JE67JHOEIG6YNVNGA4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPLMGKXKAEJWMGJRZEJCRTULEOK5RE54VHQIE3QC3OV4D3454N7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SI74NWA636YTE257IHTR4BDAMYW57WSWSDZPJEMRXAEQJXWFKFIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNZIPCPAZDKPF5IU74BUT2546CJ5WMXVLMHSROX5BPYPXQ4C4TYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C4B37PCZVHREKTCIIPEZBEASMOMX63NXHGQ3BBLOZCQEZYFKYTAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDQOESBPJTKB2WFYUNTWYIZCF4NSI5J4KJGIRW6HRITPCQMY3FSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CRZE5VOUYERUW6J2OA5VAQDHOBEBFN5HTCAKV5P2FTVPEVPYSDGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5HNXQVVXIQZ6DAGBSTTRKVO2GSCX6ZGEAPTS7Z7QAFJDRLGCCIGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUJ7K3L5VLRRTMKRIPRLFTKG5DDMNAF5M5OXHM7OVT2B3RE5XWTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RXNQGR2BIR674VXKGBIEP7MPCFIOUYG6XUPW6HCLRAHVZJN67XNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEFYJCFKLZB24XFHEKFCIOSJ7R7G4EFOTAG7IJOODQDZHE5OHENQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QF6EQNHYATGV4VCPH4GY2LG5Q4PXVUQA5CPEHRXP36AF7YPQELBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N7XV7FCQAAOUI2SSGKOBXCSXZ4NVCEVMK6PQV4XPLE42ERM5RKPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEDGI4XMKOF7QSCJTHNZQPSDWD6FNSWITO4XZE4FOZ6XNKLIT7LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQHUQQR2OYT746S6RO3NSXMGTQUB6XC4VJURXWPPAXA5WMGIY5HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YHI23TI55ARTTMSTE3QWE3MRRPGSAXTZ5Z7RNJI3N5U3XO2Z3NKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH4Y6FGETPL7UH57VPKVSQ5J7CQDMH3XYEMRNQTLSPRYPFXTWXDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LDI5FDHA53ZS3LKXIUJDKSR66P5J4X4Y5JNH7GI3IVJG526DAPIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2L2BYKLFI5RX6C5JMI242NALJJE5CO7UQBUCHUQVG2AN2O65VVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JWJ36YROQA36KXLGZTGZV2OK2XKXCDH2NJBAVAIBVWKAG5TW56LA/vendors.js"
            ]
        },
        "ListSites": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/sites",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "includeAddresses": {
                        "location": "querystring",
                        "locationName": "includeAddresses",
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "sites"
                ],
                "members": {
                    "sites": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "city",
                                "stateOrRegion",
                                "postalCode",
                                "countryCode",
                                "siteId",
                                "siteArn",
                                "name",
                                "createdAtInMillis"
                            ],
                            "members": {
                                "districtOrCounty": {},
                                "municipality": {},
                                "city": {},
                                "stateOrRegion": {},
                                "postalCode": {},
                                "countryCode": {},
                                "siteId": {},
                                "siteArn": {},
                                "name": {
                                    "shape": "Sx"
                                },
                                "description": {
                                    "shape": "Sy"
                                },
                                "createdAtInMillis": {
                                    "type": "long"
                                },
                                "tags": {
                                    "shape": "Sz"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/X55XIMYIVAIXMBIMVZYX7QTY57RUKFQDXEN2JHSJFTVCEFBN5XUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJ5QQUA2LWLM3QX6A3CZNQTDNE7QUAX4B3DCAXBFCEFA3S5EHMSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFOW5ULZCL5ML6X3PAPMBMVTGEZVVWYATI4GQCLB6Y5O7TMQG4CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BO5IADIXWOXAZQY63CGWV53HK6M3DT5OPU5H6JDTI4XIZ6VMYYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGSHVCFH4D7E55PFBVXOVZYBF4Z23KRY5JE67JHOEIG6YNVNGA4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPLMGKXKAEJWMGJRZEJCRTULEOK5RE54VHQIE3QC3OV4D3454N7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SI74NWA636YTE257IHTR4BDAMYW57WSWSDZPJEMRXAEQJXWFKFIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNZIPCPAZDKPF5IU74BUT2546CJ5WMXVLMHSROX5BPYPXQ4C4TYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C4B37PCZVHREKTCIIPEZBEASMOMX63NXHGQ3BBLOZCQEZYFKYTAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDQOESBPJTKB2WFYUNTWYIZCF4NSI5J4KJGIRW6HRITPCQMY3FSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CRZE5VOUYERUW6J2OA5VAQDHOBEBFN5HTCAKV5P2FTVPEVPYSDGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5HNXQVVXIQZ6DAGBSTTRKVO2GSCX6ZGEAPTS7Z7QAFJDRLGCCIGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUJ7K3L5VLRRTMKRIPRLFTKG5DDMNAF5M5OXHM7OVT2B3RE5XWTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RXNQGR2BIR674VXKGBIEP7MPCFIOUYG6XUPW6HCLRAHVZJN67XNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEFYJCFKLZB24XFHEKFCIOSJ7R7G4EFOTAG7IJOODQDZHE5OHENQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QF6EQNHYATGV4VCPH4GY2LG5Q4PXVUQA5CPEHRXP36AF7YPQELBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N7XV7FCQAAOUI2SSGKOBXCSXZ4NVCEVMK6PQV4XPLE42ERM5RKPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEDGI4XMKOF7QSCJTHNZQPSDWD6FNSWITO4XZE4FOZ6XNKLIT7LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQHUQQR2OYT746S6RO3NSXMGTQUB6XC4VJURXWPPAXA5WMGIY5HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YHI23TI55ARTTMSTE3QWE3MRRPGSAXTZ5Z7RNJI3N5U3XO2Z3NKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH4Y6FGETPL7UH57VPKVSQ5J7CQDMH3XYEMRNQTLSPRYPFXTWXDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LDI5FDHA53ZS3LKXIUJDKSR66P5J4X4Y5JNH7GI3IVJG526DAPIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2L2BYKLFI5RX6C5JMI242NALJJE5CO7UQBUCHUQVG2AN2O65VVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JWJ36YROQA36KXLGZTGZV2OK2XKXCDH2NJBAVAIBVWKAG5TW56LA/vendors.js"
            ]
        },
        "ListTagsForResource": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "tags": {
                        "shape": "Sz"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/X55XIMYIVAIXMBIMVZYX7QTY57RUKFQDXEN2JHSJFTVCEFBN5XUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJ5QQUA2LWLM3QX6A3CZNQTDNE7QUAX4B3DCAXBFCEFA3S5EHMSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFOW5ULZCL5ML6X3PAPMBMVTGEZVVWYATI4GQCLB6Y5O7TMQG4CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BO5IADIXWOXAZQY63CGWV53HK6M3DT5OPU5H6JDTI4XIZ6VMYYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGSHVCFH4D7E55PFBVXOVZYBF4Z23KRY5JE67JHOEIG6YNVNGA4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPLMGKXKAEJWMGJRZEJCRTULEOK5RE54VHQIE3QC3OV4D3454N7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SI74NWA636YTE257IHTR4BDAMYW57WSWSDZPJEMRXAEQJXWFKFIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNZIPCPAZDKPF5IU74BUT2546CJ5WMXVLMHSROX5BPYPXQ4C4TYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C4B37PCZVHREKTCIIPEZBEASMOMX63NXHGQ3BBLOZCQEZYFKYTAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDQOESBPJTKB2WFYUNTWYIZCF4NSI5J4KJGIRW6HRITPCQMY3FSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CRZE5VOUYERUW6J2OA5VAQDHOBEBFN5HTCAKV5P2FTVPEVPYSDGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5HNXQVVXIQZ6DAGBSTTRKVO2GSCX6ZGEAPTS7Z7QAFJDRLGCCIGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUJ7K3L5VLRRTMKRIPRLFTKG5DDMNAF5M5OXHM7OVT2B3RE5XWTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RXNQGR2BIR674VXKGBIEP7MPCFIOUYG6XUPW6HCLRAHVZJN67XNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEFYJCFKLZB24XFHEKFCIOSJ7R7G4EFOTAG7IJOODQDZHE5OHENQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QF6EQNHYATGV4VCPH4GY2LG5Q4PXVUQA5CPEHRXP36AF7YPQELBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N7XV7FCQAAOUI2SSGKOBXCSXZ4NVCEVMK6PQV4XPLE42ERM5RKPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEDGI4XMKOF7QSCJTHNZQPSDWD6FNSWITO4XZE4FOZ6XNKLIT7LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQHUQQR2OYT746S6RO3NSXMGTQUB6XC4VJURXWPPAXA5WMGIY5HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YHI23TI55ARTTMSTE3QWE3MRRPGSAXTZ5Z7RNJI3N5U3XO2Z3NKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH4Y6FGETPL7UH57VPKVSQ5J7CQDMH3XYEMRNQTLSPRYPFXTWXDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LDI5FDHA53ZS3LKXIUJDKSR66P5J4X4Y5JNH7GI3IVJG526DAPIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2L2BYKLFI5RX6C5JMI242NALJJE5CO7UQBUCHUQVG2AN2O65VVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JWJ36YROQA36KXLGZTGZV2OK2XKXCDH2NJBAVAIBVWKAG5TW56LA/vendors.js"
            ]
        },
        "ListUsers": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/users",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "badgeId": {
                        "location": "querystring",
                        "locationName": "badge"
                    },
                    "stableId": {
                        "location": "querystring",
                        "locationName": "stableId"
                    },
                    "userId": {
                        "location": "querystring",
                        "locationName": "userId"
                    },
                    "userStatusFilter": {
                        "location": "querystring",
                        "locationName": "userStatusFilter",
                        "type": "list",
                        "member": {}
                    },
                    "enrollmentSourceFilter": {
                        "location": "querystring",
                        "locationName": "enrollmentSourceFilter",
                        "type": "list",
                        "member": {}
                    },
                    "creationTimestampLowerBound": {
                        "location": "querystring",
                        "locationName": "creationTimestampLowerBound",
                        "type": "timestamp"
                    },
                    "creationTimestampUpperBound": {
                        "location": "querystring",
                        "locationName": "creationTimestampUpperBound",
                        "type": "timestamp"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "enterpriseStableId": {
                        "shape": "S3f",
                        "location": "querystring",
                        "locationName": "enterpriseStableId"
                    },
                    "userPoolId": {
                        "location": "uri",
                        "locationName": "userPoolId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "userList"
                ],
                "members": {
                    "userList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "userId",
                                "accountId",
                                "associatedIdList",
                                "createdTimestamp",
                                "enrollmentSource"
                            ],
                            "members": {
                                "userId": {},
                                "accountId": {},
                                "stableId": {},
                                "userStatus": {},
                                "associatedIdList": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "required": [
                                            "associatedIdType",
                                            "associatedIdValue"
                                        ],
                                        "members": {
                                            "associatedIdType": {},
                                            "associatedIdValue": {}
                                        }
                                    }
                                },
                                "createdTimestamp": {
                                    "type": "timestamp"
                                },
                                "updatedTimestamp": {
                                    "type": "timestamp"
                                },
                                "enrollmentSource": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/X55XIMYIVAIXMBIMVZYX7QTY57RUKFQDXEN2JHSJFTVCEFBN5XUQ/vendors.js",
[...]
