{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2021-11-01",
        "endpointPrefix": "aoss",
        "jsonVersion": "1.0",
        "protocol": "json",
        "serviceFullName": "OpenSearch Service Serverless",
        "serviceId": "OpenSearchServerless",
        "signatureVersion": "v4",
        "signingName": "aoss",
        "targetPrefix": "OpenSearchServerless",
        "uid": "opensearchserverless-2021-11-01",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/UGJPVOQZGJBAK6LKJIZI5KKSJRKI72NZEUOH5C2ZZXFCZXT5W7JA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ECC7SDRUTSQFHIGF6OEGIE7RYHUNV4Y6XPCASPU55S5VVX3TN32Q/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3J3CMJL3BIO2BV4OJZK4TXSSC63XCAZOM2YUQ3U7FCYCBDPRAUPA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5AFIKQVXABYBMJVUEIKA7XA6GQBPYE4LP33JFYZU6U3XTQD57LOA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RMMBBTGC33UK527HLB7YQWCGYSRKUVYKU76ERH3AAYUELYCSIJCA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JVWN2XSEXMMHMY7ZOSDT4I5VHY5UWKH7DJA2UZ5OYELM5DS7OFBA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DAJYCCV7BZOTJ5PX67DAJU5KLSC6AVXYP6LFW3IKO5DZMLHI6IUA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GRMQBZUO35C4TVHAJSBIRBE77HIE4TQBELYJYKX7PG43VSOIJWKQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/N67E6FB6ZEKSO3NKY34AEHA7S6SRPDH5TWIVFMVHKE36BTBEOAIQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/57UGONTVHEMYU6HI4LYXEN4R37U57MQG4TXHEFWYCGFZ6N5WVLUQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6NJ4YM7HWXIL3GG4MRFQVAIXLFW5KQJGRXKZQVQ6QS373ZKRTT7Q/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J2PP6YNUJNERRQNVEZ77PM5HG26XVRDXEP55IJLU5F7CNVJICXCQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3WBY7Y5QLJFAP72KENDGTQF6TTIOBYNPUTHR2YDLYNWLFL4LMNEA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OPDXGONTYEUK46DA45S3FKKRQFYZW3PKCIQRLBPQIPT2WXM272EA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KO64KZDL7XG4PLJZIR5DRQGUSRDVWDTFJYUAUYYDXJ6DM665SULQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OLJI5JKHV6EX634IAVRL3FOUCDMNXVPF6KNYRMYFFWTDNAA5AG4Q/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/S4IR74KYD4BUYWHTG4KEBARHTZX7WTVJTA32TBXFXRYQWPLZWUXA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TWYWLMEDCDE76W2OFM66OHC7XY32Z6LNUZ2KGLCOPCKBXI2I5OIQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6WKADIITWQVINRYCIENSFERRX2CJ2LW63ULNCLRJ7GEYLLOHPK5A/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BLJBROGBAF63ZVEYPFQX6VDPJDAOO24VGDUYLHPQZVRDLT5U6O5Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
        ]
    },
    "operations": {
        "BatchGetCollection": {
            "input": {
                "type": "structure",
                "members": {
                    "ids": {
                        "type": "list",
                        "member": {}
                    },
                    "names": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "collectionDetails": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "arn": {},
                                "collectionEndpoint": {},
                                "createdDate": {
                                    "type": "long"
                                },
                                "dashboardEndpoint": {},
                                "description": {},
                                "id": {},
                                "kmsKeyArn": {},
                                "lastModifiedDate": {
                                    "type": "long"
                                },
                                "name": {},
                                "status": {},
                                "type": {}
                            }
                        }
                    },
                    "collectionErrorDetails": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "errorCode": {},
                                "errorMessage": {},
                                "id": {},
                                "name": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ECC7SDRUTSQFHIGF6OEGIE7RYHUNV4Y6XPCASPU55S5VVX3TN32Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3J3CMJL3BIO2BV4OJZK4TXSSC63XCAZOM2YUQ3U7FCYCBDPRAUPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5AFIKQVXABYBMJVUEIKA7XA6GQBPYE4LP33JFYZU6U3XTQD57LOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RMMBBTGC33UK527HLB7YQWCGYSRKUVYKU76ERH3AAYUELYCSIJCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVWN2XSEXMMHMY7ZOSDT4I5VHY5UWKH7DJA2UZ5OYELM5DS7OFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAJYCCV7BZOTJ5PX67DAJU5KLSC6AVXYP6LFW3IKO5DZMLHI6IUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GRMQBZUO35C4TVHAJSBIRBE77HIE4TQBELYJYKX7PG43VSOIJWKQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N67E6FB6ZEKSO3NKY34AEHA7S6SRPDH5TWIVFMVHKE36BTBEOAIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57UGONTVHEMYU6HI4LYXEN4R37U57MQG4TXHEFWYCGFZ6N5WVLUQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NJ4YM7HWXIL3GG4MRFQVAIXLFW5KQJGRXKZQVQ6QS373ZKRTT7Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2PP6YNUJNERRQNVEZ77PM5HG26XVRDXEP55IJLU5F7CNVJICXCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WBY7Y5QLJFAP72KENDGTQF6TTIOBYNPUTHR2YDLYNWLFL4LMNEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPDXGONTYEUK46DA45S3FKKRQFYZW3PKCIQRLBPQIPT2WXM272EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KO64KZDL7XG4PLJZIR5DRQGUSRDVWDTFJYUAUYYDXJ6DM665SULQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLJI5JKHV6EX634IAVRL3FOUCDMNXVPF6KNYRMYFFWTDNAA5AG4Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4IR74KYD4BUYWHTG4KEBARHTZX7WTVJTA32TBXFXRYQWPLZWUXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TWYWLMEDCDE76W2OFM66OHC7XY32Z6LNUZ2KGLCOPCKBXI2I5OIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WKADIITWQVINRYCIENSFERRX2CJ2LW63ULNCLRJ7GEYLLOHPK5A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLJBROGBAF63ZVEYPFQX6VDPJDAOO24VGDUYLHPQZVRDLT5U6O5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "BatchGetVpcEndpoint": {
            "input": {
                "type": "structure",
                "required": [
                    "ids"
                ],
                "members": {
                    "ids": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "vpcEndpointDetails": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "createdDate": {
                                    "type": "long"
                                },
                                "id": {},
                                "name": {},
                                "securityGroupIds": {
                                    "shape": "Sm"
                                },
                                "status": {},
                                "subnetIds": {
                                    "shape": "Sp"
                                },
                                "vpcId": {}
                            }
                        }
                    },
                    "vpcEndpointErrorDetails": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "errorCode": {},
                                "errorMessage": {},
                                "id": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ECC7SDRUTSQFHIGF6OEGIE7RYHUNV4Y6XPCASPU55S5VVX3TN32Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3J3CMJL3BIO2BV4OJZK4TXSSC63XCAZOM2YUQ3U7FCYCBDPRAUPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5AFIKQVXABYBMJVUEIKA7XA6GQBPYE4LP33JFYZU6U3XTQD57LOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RMMBBTGC33UK527HLB7YQWCGYSRKUVYKU76ERH3AAYUELYCSIJCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVWN2XSEXMMHMY7ZOSDT4I5VHY5UWKH7DJA2UZ5OYELM5DS7OFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAJYCCV7BZOTJ5PX67DAJU5KLSC6AVXYP6LFW3IKO5DZMLHI6IUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GRMQBZUO35C4TVHAJSBIRBE77HIE4TQBELYJYKX7PG43VSOIJWKQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N67E6FB6ZEKSO3NKY34AEHA7S6SRPDH5TWIVFMVHKE36BTBEOAIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57UGONTVHEMYU6HI4LYXEN4R37U57MQG4TXHEFWYCGFZ6N5WVLUQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NJ4YM7HWXIL3GG4MRFQVAIXLFW5KQJGRXKZQVQ6QS373ZKRTT7Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2PP6YNUJNERRQNVEZ77PM5HG26XVRDXEP55IJLU5F7CNVJICXCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WBY7Y5QLJFAP72KENDGTQF6TTIOBYNPUTHR2YDLYNWLFL4LMNEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPDXGONTYEUK46DA45S3FKKRQFYZW3PKCIQRLBPQIPT2WXM272EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KO64KZDL7XG4PLJZIR5DRQGUSRDVWDTFJYUAUYYDXJ6DM665SULQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLJI5JKHV6EX634IAVRL3FOUCDMNXVPF6KNYRMYFFWTDNAA5AG4Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4IR74KYD4BUYWHTG4KEBARHTZX7WTVJTA32TBXFXRYQWPLZWUXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TWYWLMEDCDE76W2OFM66OHC7XY32Z6LNUZ2KGLCOPCKBXI2I5OIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WKADIITWQVINRYCIENSFERRX2CJ2LW63ULNCLRJ7GEYLLOHPK5A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLJBROGBAF63ZVEYPFQX6VDPJDAOO24VGDUYLHPQZVRDLT5U6O5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateAccessPolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "policy",
                    "type"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "description": {},
                    "name": {},
                    "policy": {},
                    "type": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "accessPolicyDetail": {
                        "shape": "S11"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ECC7SDRUTSQFHIGF6OEGIE7RYHUNV4Y6XPCASPU55S5VVX3TN32Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3J3CMJL3BIO2BV4OJZK4TXSSC63XCAZOM2YUQ3U7FCYCBDPRAUPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5AFIKQVXABYBMJVUEIKA7XA6GQBPYE4LP33JFYZU6U3XTQD57LOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RMMBBTGC33UK527HLB7YQWCGYSRKUVYKU76ERH3AAYUELYCSIJCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVWN2XSEXMMHMY7ZOSDT4I5VHY5UWKH7DJA2UZ5OYELM5DS7OFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAJYCCV7BZOTJ5PX67DAJU5KLSC6AVXYP6LFW3IKO5DZMLHI6IUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GRMQBZUO35C4TVHAJSBIRBE77HIE4TQBELYJYKX7PG43VSOIJWKQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N67E6FB6ZEKSO3NKY34AEHA7S6SRPDH5TWIVFMVHKE36BTBEOAIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57UGONTVHEMYU6HI4LYXEN4R37U57MQG4TXHEFWYCGFZ6N5WVLUQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NJ4YM7HWXIL3GG4MRFQVAIXLFW5KQJGRXKZQVQ6QS373ZKRTT7Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2PP6YNUJNERRQNVEZ77PM5HG26XVRDXEP55IJLU5F7CNVJICXCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WBY7Y5QLJFAP72KENDGTQF6TTIOBYNPUTHR2YDLYNWLFL4LMNEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPDXGONTYEUK46DA45S3FKKRQFYZW3PKCIQRLBPQIPT2WXM272EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KO64KZDL7XG4PLJZIR5DRQGUSRDVWDTFJYUAUYYDXJ6DM665SULQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLJI5JKHV6EX634IAVRL3FOUCDMNXVPF6KNYRMYFFWTDNAA5AG4Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4IR74KYD4BUYWHTG4KEBARHTZX7WTVJTA32TBXFXRYQWPLZWUXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TWYWLMEDCDE76W2OFM66OHC7XY32Z6LNUZ2KGLCOPCKBXI2I5OIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WKADIITWQVINRYCIENSFERRX2CJ2LW63ULNCLRJ7GEYLLOHPK5A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLJBROGBAF63ZVEYPFQX6VDPJDAOO24VGDUYLHPQZVRDLT5U6O5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateCollection": {
            "input": {
                "type": "structure",
                "required": [
                    "name"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "description": {},
                    "name": {},
                    "tags": {
                        "shape": "S16"
                    },
                    "type": {},
                    "standbyReplicas": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "createCollectionDetail": {
                        "type": "structure",
                        "members": {
                            "arn": {},
                            "createdDate": {
                                "type": "long"
                            },
                            "description": {},
                            "id": {},
                            "kmsKeyArn": {},
                            "lastModifiedDate": {
                                "type": "long"
                            },
                            "name": {},
                            "status": {},
                            "type": {}
                        }
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ECC7SDRUTSQFHIGF6OEGIE7RYHUNV4Y6XPCASPU55S5VVX3TN32Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3J3CMJL3BIO2BV4OJZK4TXSSC63XCAZOM2YUQ3U7FCYCBDPRAUPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5AFIKQVXABYBMJVUEIKA7XA6GQBPYE4LP33JFYZU6U3XTQD57LOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RMMBBTGC33UK527HLB7YQWCGYSRKUVYKU76ERH3AAYUELYCSIJCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVWN2XSEXMMHMY7ZOSDT4I5VHY5UWKH7DJA2UZ5OYELM5DS7OFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAJYCCV7BZOTJ5PX67DAJU5KLSC6AVXYP6LFW3IKO5DZMLHI6IUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GRMQBZUO35C4TVHAJSBIRBE77HIE4TQBELYJYKX7PG43VSOIJWKQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N67E6FB6ZEKSO3NKY34AEHA7S6SRPDH5TWIVFMVHKE36BTBEOAIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57UGONTVHEMYU6HI4LYXEN4R37U57MQG4TXHEFWYCGFZ6N5WVLUQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NJ4YM7HWXIL3GG4MRFQVAIXLFW5KQJGRXKZQVQ6QS373ZKRTT7Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2PP6YNUJNERRQNVEZ77PM5HG26XVRDXEP55IJLU5F7CNVJICXCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WBY7Y5QLJFAP72KENDGTQF6TTIOBYNPUTHR2YDLYNWLFL4LMNEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPDXGONTYEUK46DA45S3FKKRQFYZW3PKCIQRLBPQIPT2WXM272EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KO64KZDL7XG4PLJZIR5DRQGUSRDVWDTFJYUAUYYDXJ6DM665SULQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLJI5JKHV6EX634IAVRL3FOUCDMNXVPF6KNYRMYFFWTDNAA5AG4Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4IR74KYD4BUYWHTG4KEBARHTZX7WTVJTA32TBXFXRYQWPLZWUXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TWYWLMEDCDE76W2OFM66OHC7XY32Z6LNUZ2KGLCOPCKBXI2I5OIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WKADIITWQVINRYCIENSFERRX2CJ2LW63ULNCLRJ7GEYLLOHPK5A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLJBROGBAF63ZVEYPFQX6VDPJDAOO24VGDUYLHPQZVRDLT5U6O5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateSecurityConfig": {
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "type"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "description": {},
                    "name": {},
                    "samlOptions": {
                        "shape": "S1f"
                    },
                    "type": {},
                    "iamIdentityCenterOptions": {
                        "type": "structure",
                        "required": [
                            "instanceArn"
                        ],
                        "members": {
                            "instanceArn": {},
                            "userAttribute": {},
                            "groupAttribute": {}
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "securityConfigDetail": {
                        "shape": "S1m"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ECC7SDRUTSQFHIGF6OEGIE7RYHUNV4Y6XPCASPU55S5VVX3TN32Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3J3CMJL3BIO2BV4OJZK4TXSSC63XCAZOM2YUQ3U7FCYCBDPRAUPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5AFIKQVXABYBMJVUEIKA7XA6GQBPYE4LP33JFYZU6U3XTQD57LOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RMMBBTGC33UK527HLB7YQWCGYSRKUVYKU76ERH3AAYUELYCSIJCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVWN2XSEXMMHMY7ZOSDT4I5VHY5UWKH7DJA2UZ5OYELM5DS7OFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAJYCCV7BZOTJ5PX67DAJU5KLSC6AVXYP6LFW3IKO5DZMLHI6IUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GRMQBZUO35C4TVHAJSBIRBE77HIE4TQBELYJYKX7PG43VSOIJWKQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N67E6FB6ZEKSO3NKY34AEHA7S6SRPDH5TWIVFMVHKE36BTBEOAIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57UGONTVHEMYU6HI4LYXEN4R37U57MQG4TXHEFWYCGFZ6N5WVLUQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NJ4YM7HWXIL3GG4MRFQVAIXLFW5KQJGRXKZQVQ6QS373ZKRTT7Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2PP6YNUJNERRQNVEZ77PM5HG26XVRDXEP55IJLU5F7CNVJICXCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WBY7Y5QLJFAP72KENDGTQF6TTIOBYNPUTHR2YDLYNWLFL4LMNEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPDXGONTYEUK46DA45S3FKKRQFYZW3PKCIQRLBPQIPT2WXM272EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KO64KZDL7XG4PLJZIR5DRQGUSRDVWDTFJYUAUYYDXJ6DM665SULQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLJI5JKHV6EX634IAVRL3FOUCDMNXVPF6KNYRMYFFWTDNAA5AG4Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4IR74KYD4BUYWHTG4KEBARHTZX7WTVJTA32TBXFXRYQWPLZWUXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TWYWLMEDCDE76W2OFM66OHC7XY32Z6LNUZ2KGLCOPCKBXI2I5OIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WKADIITWQVINRYCIENSFERRX2CJ2LW63ULNCLRJ7GEYLLOHPK5A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLJBROGBAF63ZVEYPFQX6VDPJDAOO24VGDUYLHPQZVRDLT5U6O5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateSecurityPolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "policy",
                    "type"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "description": {},
                    "name": {},
                    "policy": {},
                    "type": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "securityPolicyDetail": {
                        "shape": "S1r"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ECC7SDRUTSQFHIGF6OEGIE7RYHUNV4Y6XPCASPU55S5VVX3TN32Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3J3CMJL3BIO2BV4OJZK4TXSSC63XCAZOM2YUQ3U7FCYCBDPRAUPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5AFIKQVXABYBMJVUEIKA7XA6GQBPYE4LP33JFYZU6U3XTQD57LOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RMMBBTGC33UK527HLB7YQWCGYSRKUVYKU76ERH3AAYUELYCSIJCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVWN2XSEXMMHMY7ZOSDT4I5VHY5UWKH7DJA2UZ5OYELM5DS7OFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAJYCCV7BZOTJ5PX67DAJU5KLSC6AVXYP6LFW3IKO5DZMLHI6IUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GRMQBZUO35C4TVHAJSBIRBE77HIE4TQBELYJYKX7PG43VSOIJWKQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N67E6FB6ZEKSO3NKY34AEHA7S6SRPDH5TWIVFMVHKE36BTBEOAIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57UGONTVHEMYU6HI4LYXEN4R37U57MQG4TXHEFWYCGFZ6N5WVLUQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NJ4YM7HWXIL3GG4MRFQVAIXLFW5KQJGRXKZQVQ6QS373ZKRTT7Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2PP6YNUJNERRQNVEZ77PM5HG26XVRDXEP55IJLU5F7CNVJICXCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WBY7Y5QLJFAP72KENDGTQF6TTIOBYNPUTHR2YDLYNWLFL4LMNEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPDXGONTYEUK46DA45S3FKKRQFYZW3PKCIQRLBPQIPT2WXM272EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KO64KZDL7XG4PLJZIR5DRQGUSRDVWDTFJYUAUYYDXJ6DM665SULQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLJI5JKHV6EX634IAVRL3FOUCDMNXVPF6KNYRMYFFWTDNAA5AG4Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4IR74KYD4BUYWHTG4KEBARHTZX7WTVJTA32TBXFXRYQWPLZWUXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TWYWLMEDCDE76W2OFM66OHC7XY32Z6LNUZ2KGLCOPCKBXI2I5OIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WKADIITWQVINRYCIENSFERRX2CJ2LW63ULNCLRJ7GEYLLOHPK5A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLJBROGBAF63ZVEYPFQX6VDPJDAOO24VGDUYLHPQZVRDLT5U6O5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateVpcEndpoint": {
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "subnetIds",
                    "vpcId"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "name": {},
                    "securityGroupIds": {
                        "shape": "Sm"
                    },
                    "subnetIds": {
                        "shape": "Sp"
                    },
                    "vpcId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "createVpcEndpointDetail": {
                        "type": "structure",
                        "members": {
                            "id": {},
                            "name": {},
                            "status": {}
                        }
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ECC7SDRUTSQFHIGF6OEGIE7RYHUNV4Y6XPCASPU55S5VVX3TN32Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3J3CMJL3BIO2BV4OJZK4TXSSC63XCAZOM2YUQ3U7FCYCBDPRAUPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5AFIKQVXABYBMJVUEIKA7XA6GQBPYE4LP33JFYZU6U3XTQD57LOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RMMBBTGC33UK527HLB7YQWCGYSRKUVYKU76ERH3AAYUELYCSIJCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVWN2XSEXMMHMY7ZOSDT4I5VHY5UWKH7DJA2UZ5OYELM5DS7OFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAJYCCV7BZOTJ5PX67DAJU5KLSC6AVXYP6LFW3IKO5DZMLHI6IUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GRMQBZUO35C4TVHAJSBIRBE77HIE4TQBELYJYKX7PG43VSOIJWKQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N67E6FB6ZEKSO3NKY34AEHA7S6SRPDH5TWIVFMVHKE36BTBEOAIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57UGONTVHEMYU6HI4LYXEN4R37U57MQG4TXHEFWYCGFZ6N5WVLUQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NJ4YM7HWXIL3GG4MRFQVAIXLFW5KQJGRXKZQVQ6QS373ZKRTT7Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2PP6YNUJNERRQNVEZ77PM5HG26XVRDXEP55IJLU5F7CNVJICXCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WBY7Y5QLJFAP72KENDGTQF6TTIOBYNPUTHR2YDLYNWLFL4LMNEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPDXGONTYEUK46DA45S3FKKRQFYZW3PKCIQRLBPQIPT2WXM272EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KO64KZDL7XG4PLJZIR5DRQGUSRDVWDTFJYUAUYYDXJ6DM665SULQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLJI5JKHV6EX634IAVRL3FOUCDMNXVPF6KNYRMYFFWTDNAA5AG4Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4IR74KYD4BUYWHTG4KEBARHTZX7WTVJTA32TBXFXRYQWPLZWUXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TWYWLMEDCDE76W2OFM66OHC7XY32Z6LNUZ2KGLCOPCKBXI2I5OIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WKADIITWQVINRYCIENSFERRX2CJ2LW63ULNCLRJ7GEYLLOHPK5A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLJBROGBAF63ZVEYPFQX6VDPJDAOO24VGDUYLHPQZVRDLT5U6O5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteAccessPolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "type"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "name": {},
                    "type": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ECC7SDRUTSQFHIGF6OEGIE7RYHUNV4Y6XPCASPU55S5VVX3TN32Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3J3CMJL3BIO2BV4OJZK4TXSSC63XCAZOM2YUQ3U7FCYCBDPRAUPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5AFIKQVXABYBMJVUEIKA7XA6GQBPYE4LP33JFYZU6U3XTQD57LOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RMMBBTGC33UK527HLB7YQWCGYSRKUVYKU76ERH3AAYUELYCSIJCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVWN2XSEXMMHMY7ZOSDT4I5VHY5UWKH7DJA2UZ5OYELM5DS7OFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAJYCCV7BZOTJ5PX67DAJU5KLSC6AVXYP6LFW3IKO5DZMLHI6IUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GRMQBZUO35C4TVHAJSBIRBE77HIE4TQBELYJYKX7PG43VSOIJWKQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N67E6FB6ZEKSO3NKY34AEHA7S6SRPDH5TWIVFMVHKE36BTBEOAIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57UGONTVHEMYU6HI4LYXEN4R37U57MQG4TXHEFWYCGFZ6N5WVLUQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NJ4YM7HWXIL3GG4MRFQVAIXLFW5KQJGRXKZQVQ6QS373ZKRTT7Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2PP6YNUJNERRQNVEZ77PM5HG26XVRDXEP55IJLU5F7CNVJICXCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WBY7Y5QLJFAP72KENDGTQF6TTIOBYNPUTHR2YDLYNWLFL4LMNEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPDXGONTYEUK46DA45S3FKKRQFYZW3PKCIQRLBPQIPT2WXM272EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KO64KZDL7XG4PLJZIR5DRQGUSRDVWDTFJYUAUYYDXJ6DM665SULQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLJI5JKHV6EX634IAVRL3FOUCDMNXVPF6KNYRMYFFWTDNAA5AG4Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4IR74KYD4BUYWHTG4KEBARHTZX7WTVJTA32TBXFXRYQWPLZWUXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TWYWLMEDCDE76W2OFM66OHC7XY32Z6LNUZ2KGLCOPCKBXI2I5OIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WKADIITWQVINRYCIENSFERRX2CJ2LW63ULNCLRJ7GEYLLOHPK5A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLJBROGBAF63ZVEYPFQX6VDPJDAOO24VGDUYLHPQZVRDLT5U6O5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteCollection": {
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "id": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "deleteCollectionDetail": {
                        "type": "structure",
                        "members": {
                            "id": {},
                            "name": {},
                            "status": {}
                        }
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ECC7SDRUTSQFHIGF6OEGIE7RYHUNV4Y6XPCASPU55S5VVX3TN32Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3J3CMJL3BIO2BV4OJZK4TXSSC63XCAZOM2YUQ3U7FCYCBDPRAUPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5AFIKQVXABYBMJVUEIKA7XA6GQBPYE4LP33JFYZU6U3XTQD57LOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RMMBBTGC33UK527HLB7YQWCGYSRKUVYKU76ERH3AAYUELYCSIJCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVWN2XSEXMMHMY7ZOSDT4I5VHY5UWKH7DJA2UZ5OYELM5DS7OFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAJYCCV7BZOTJ5PX67DAJU5KLSC6AVXYP6LFW3IKO5DZMLHI6IUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GRMQBZUO35C4TVHAJSBIRBE77HIE4TQBELYJYKX7PG43VSOIJWKQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N67E6FB6ZEKSO3NKY34AEHA7S6SRPDH5TWIVFMVHKE36BTBEOAIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57UGONTVHEMYU6HI4LYXEN4R37U57MQG4TXHEFWYCGFZ6N5WVLUQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NJ4YM7HWXIL3GG4MRFQVAIXLFW5KQJGRXKZQVQ6QS373ZKRTT7Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2PP6YNUJNERRQNVEZ77PM5HG26XVRDXEP55IJLU5F7CNVJICXCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WBY7Y5QLJFAP72KENDGTQF6TTIOBYNPUTHR2YDLYNWLFL4LMNEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPDXGONTYEUK46DA45S3FKKRQFYZW3PKCIQRLBPQIPT2WXM272EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KO64KZDL7XG4PLJZIR5DRQGUSRDVWDTFJYUAUYYDXJ6DM665SULQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLJI5JKHV6EX634IAVRL3FOUCDMNXVPF6KNYRMYFFWTDNAA5AG4Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4IR74KYD4BUYWHTG4KEBARHTZX7WTVJTA32TBXFXRYQWPLZWUXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TWYWLMEDCDE76W2OFM66OHC7XY32Z6LNUZ2KGLCOPCKBXI2I5OIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WKADIITWQVINRYCIENSFERRX2CJ2LW63ULNCLRJ7GEYLLOHPK5A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLJBROGBAF63ZVEYPFQX6VDPJDAOO24VGDUYLHPQZVRDLT5U6O5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteSecurityConfig": {
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "id": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ECC7SDRUTSQFHIGF6OEGIE7RYHUNV4Y6XPCASPU55S5VVX3TN32Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3J3CMJL3BIO2BV4OJZK4TXSSC63XCAZOM2YUQ3U7FCYCBDPRAUPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5AFIKQVXABYBMJVUEIKA7XA6GQBPYE4LP33JFYZU6U3XTQD57LOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RMMBBTGC33UK527HLB7YQWCGYSRKUVYKU76ERH3AAYUELYCSIJCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVWN2XSEXMMHMY7ZOSDT4I5VHY5UWKH7DJA2UZ5OYELM5DS7OFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAJYCCV7BZOTJ5PX67DAJU5KLSC6AVXYP6LFW3IKO5DZMLHI6IUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GRMQBZUO35C4TVHAJSBIRBE77HIE4TQBELYJYKX7PG43VSOIJWKQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N67E6FB6ZEKSO3NKY34AEHA7S6SRPDH5TWIVFMVHKE36BTBEOAIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57UGONTVHEMYU6HI4LYXEN4R37U57MQG4TXHEFWYCGFZ6N5WVLUQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NJ4YM7HWXIL3GG4MRFQVAIXLFW5KQJGRXKZQVQ6QS373ZKRTT7Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2PP6YNUJNERRQNVEZ77PM5HG26XVRDXEP55IJLU5F7CNVJICXCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WBY7Y5QLJFAP72KENDGTQF6TTIOBYNPUTHR2YDLYNWLFL4LMNEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPDXGONTYEUK46DA45S3FKKRQFYZW3PKCIQRLBPQIPT2WXM272EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KO64KZDL7XG4PLJZIR5DRQGUSRDVWDTFJYUAUYYDXJ6DM665SULQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLJI5JKHV6EX634IAVRL3FOUCDMNXVPF6KNYRMYFFWTDNAA5AG4Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4IR74KYD4BUYWHTG4KEBARHTZX7WTVJTA32TBXFXRYQWPLZWUXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TWYWLMEDCDE76W2OFM66OHC7XY32Z6LNUZ2KGLCOPCKBXI2I5OIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WKADIITWQVINRYCIENSFERRX2CJ2LW63ULNCLRJ7GEYLLOHPK5A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLJBROGBAF63ZVEYPFQX6VDPJDAOO24VGDUYLHPQZVRDLT5U6O5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteSecurityPolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "type"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "name": {},
                    "type": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ECC7SDRUTSQFHIGF6OEGIE7RYHUNV4Y6XPCASPU55S5VVX3TN32Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3J3CMJL3BIO2BV4OJZK4TXSSC63XCAZOM2YUQ3U7FCYCBDPRAUPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5AFIKQVXABYBMJVUEIKA7XA6GQBPYE4LP33JFYZU6U3XTQD57LOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RMMBBTGC33UK527HLB7YQWCGYSRKUVYKU76ERH3AAYUELYCSIJCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVWN2XSEXMMHMY7ZOSDT4I5VHY5UWKH7DJA2UZ5OYELM5DS7OFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAJYCCV7BZOTJ5PX67DAJU5KLSC6AVXYP6LFW3IKO5DZMLHI6IUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GRMQBZUO35C4TVHAJSBIRBE77HIE4TQBELYJYKX7PG43VSOIJWKQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N67E6FB6ZEKSO3NKY34AEHA7S6SRPDH5TWIVFMVHKE36BTBEOAIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57UGONTVHEMYU6HI4LYXEN4R37U57MQG4TXHEFWYCGFZ6N5WVLUQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NJ4YM7HWXIL3GG4MRFQVAIXLFW5KQJGRXKZQVQ6QS373ZKRTT7Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2PP6YNUJNERRQNVEZ77PM5HG26XVRDXEP55IJLU5F7CNVJICXCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WBY7Y5QLJFAP72KENDGTQF6TTIOBYNPUTHR2YDLYNWLFL4LMNEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPDXGONTYEUK46DA45S3FKKRQFYZW3PKCIQRLBPQIPT2WXM272EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KO64KZDL7XG4PLJZIR5DRQGUSRDVWDTFJYUAUYYDXJ6DM665SULQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLJI5JKHV6EX634IAVRL3FOUCDMNXVPF6KNYRMYFFWTDNAA5AG4Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4IR74KYD4BUYWHTG4KEBARHTZX7WTVJTA32TBXFXRYQWPLZWUXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TWYWLMEDCDE76W2OFM66OHC7XY32Z6LNUZ2KGLCOPCKBXI2I5OIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WKADIITWQVINRYCIENSFERRX2CJ2LW63ULNCLRJ7GEYLLOHPK5A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLJBROGBAF63ZVEYPFQX6VDPJDAOO24VGDUYLHPQZVRDLT5U6O5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteVpcEndpoint": {
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "id": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "deleteVpcEndpointDetail": {
                        "type": "structure",
                        "members": {
                            "id": {},
                            "name": {},
                            "status": {}
                        }
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ECC7SDRUTSQFHIGF6OEGIE7RYHUNV4Y6XPCASPU55S5VVX3TN32Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3J3CMJL3BIO2BV4OJZK4TXSSC63XCAZOM2YUQ3U7FCYCBDPRAUPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5AFIKQVXABYBMJVUEIKA7XA6GQBPYE4LP33JFYZU6U3XTQD57LOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RMMBBTGC33UK527HLB7YQWCGYSRKUVYKU76ERH3AAYUELYCSIJCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVWN2XSEXMMHMY7ZOSDT4I5VHY5UWKH7DJA2UZ5OYELM5DS7OFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAJYCCV7BZOTJ5PX67DAJU5KLSC6AVXYP6LFW3IKO5DZMLHI6IUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GRMQBZUO35C4TVHAJSBIRBE77HIE4TQBELYJYKX7PG43VSOIJWKQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N67E6FB6ZEKSO3NKY34AEHA7S6SRPDH5TWIVFMVHKE36BTBEOAIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57UGONTVHEMYU6HI4LYXEN4R37U57MQG4TXHEFWYCGFZ6N5WVLUQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NJ4YM7HWXIL3GG4MRFQVAIXLFW5KQJGRXKZQVQ6QS373ZKRTT7Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2PP6YNUJNERRQNVEZ77PM5HG26XVRDXEP55IJLU5F7CNVJICXCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WBY7Y5QLJFAP72KENDGTQF6TTIOBYNPUTHR2YDLYNWLFL4LMNEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPDXGONTYEUK46DA45S3FKKRQFYZW3PKCIQRLBPQIPT2WXM272EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KO64KZDL7XG4PLJZIR5DRQGUSRDVWDTFJYUAUYYDXJ6DM665SULQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLJI5JKHV6EX634IAVRL3FOUCDMNXVPF6KNYRMYFFWTDNAA5AG4Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4IR74KYD4BUYWHTG4KEBARHTZX7WTVJTA32TBXFXRYQWPLZWUXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TWYWLMEDCDE76W2OFM66OHC7XY32Z6LNUZ2KGLCOPCKBXI2I5OIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WKADIITWQVINRYCIENSFERRX2CJ2LW63ULNCLRJ7GEYLLOHPK5A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLJBROGBAF63ZVEYPFQX6VDPJDAOO24VGDUYLHPQZVRDLT5U6O5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetAccessPolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "type"
                ],
                "members": {
                    "name": {},
                    "type": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "accessPolicyDetail": {
                        "shape": "S11"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ECC7SDRUTSQFHIGF6OEGIE7RYHUNV4Y6XPCASPU55S5VVX3TN32Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3J3CMJL3BIO2BV4OJZK4TXSSC63XCAZOM2YUQ3U7FCYCBDPRAUPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5AFIKQVXABYBMJVUEIKA7XA6GQBPYE4LP33JFYZU6U3XTQD57LOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RMMBBTGC33UK527HLB7YQWCGYSRKUVYKU76ERH3AAYUELYCSIJCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVWN2XSEXMMHMY7ZOSDT4I5VHY5UWKH7DJA2UZ5OYELM5DS7OFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAJYCCV7BZOTJ5PX67DAJU5KLSC6AVXYP6LFW3IKO5DZMLHI6IUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GRMQBZUO35C4TVHAJSBIRBE77HIE4TQBELYJYKX7PG43VSOIJWKQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N67E6FB6ZEKSO3NKY34AEHA7S6SRPDH5TWIVFMVHKE36BTBEOAIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57UGONTVHEMYU6HI4LYXEN4R37U57MQG4TXHEFWYCGFZ6N5WVLUQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NJ4YM7HWXIL3GG4MRFQVAIXLFW5KQJGRXKZQVQ6QS373ZKRTT7Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2PP6YNUJNERRQNVEZ77PM5HG26XVRDXEP55IJLU5F7CNVJICXCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WBY7Y5QLJFAP72KENDGTQF6TTIOBYNPUTHR2YDLYNWLFL4LMNEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPDXGONTYEUK46DA45S3FKKRQFYZW3PKCIQRLBPQIPT2WXM272EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KO64KZDL7XG4PLJZIR5DRQGUSRDVWDTFJYUAUYYDXJ6DM665SULQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLJI5JKHV6EX634IAVRL3FOUCDMNXVPF6KNYRMYFFWTDNAA5AG4Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4IR74KYD4BUYWHTG4KEBARHTZX7WTVJTA32TBXFXRYQWPLZWUXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TWYWLMEDCDE76W2OFM66OHC7XY32Z6LNUZ2KGLCOPCKBXI2I5OIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WKADIITWQVINRYCIENSFERRX2CJ2LW63ULNCLRJ7GEYLLOHPK5A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLJBROGBAF63ZVEYPFQX6VDPJDAOO24VGDUYLHPQZVRDLT5U6O5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetAccountSettings": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "accountSettingsDetail": {
                        "shape": "S2b"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ECC7SDRUTSQFHIGF6OEGIE7RYHUNV4Y6XPCASPU55S5VVX3TN32Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3J3CMJL3BIO2BV4OJZK4TXSSC63XCAZOM2YUQ3U7FCYCBDPRAUPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5AFIKQVXABYBMJVUEIKA7XA6GQBPYE4LP33JFYZU6U3XTQD57LOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RMMBBTGC33UK527HLB7YQWCGYSRKUVYKU76ERH3AAYUELYCSIJCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVWN2XSEXMMHMY7ZOSDT4I5VHY5UWKH7DJA2UZ5OYELM5DS7OFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAJYCCV7BZOTJ5PX67DAJU5KLSC6AVXYP6LFW3IKO5DZMLHI6IUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GRMQBZUO35C4TVHAJSBIRBE77HIE4TQBELYJYKX7PG43VSOIJWKQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N67E6FB6ZEKSO3NKY34AEHA7S6SRPDH5TWIVFMVHKE36BTBEOAIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57UGONTVHEMYU6HI4LYXEN4R37U57MQG4TXHEFWYCGFZ6N5WVLUQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NJ4YM7HWXIL3GG4MRFQVAIXLFW5KQJGRXKZQVQ6QS373ZKRTT7Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2PP6YNUJNERRQNVEZ77PM5HG26XVRDXEP55IJLU5F7CNVJICXCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WBY7Y5QLJFAP72KENDGTQF6TTIOBYNPUTHR2YDLYNWLFL4LMNEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPDXGONTYEUK46DA45S3FKKRQFYZW3PKCIQRLBPQIPT2WXM272EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KO64KZDL7XG4PLJZIR5DRQGUSRDVWDTFJYUAUYYDXJ6DM665SULQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLJI5JKHV6EX634IAVRL3FOUCDMNXVPF6KNYRMYFFWTDNAA5AG4Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4IR74KYD4BUYWHTG4KEBARHTZX7WTVJTA32TBXFXRYQWPLZWUXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TWYWLMEDCDE76W2OFM66OHC7XY32Z6LNUZ2KGLCOPCKBXI2I5OIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WKADIITWQVINRYCIENSFERRX2CJ2LW63ULNCLRJ7GEYLLOHPK5A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLJBROGBAF63ZVEYPFQX6VDPJDAOO24VGDUYLHPQZVRDLT5U6O5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetPoliciesStats": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "AccessPolicyStats": {
                        "type": "structure",
                        "members": {
                            "DataPolicyCount": {
                                "type": "long"
                            }
                        }
                    },
                    "SecurityConfigStats": {
                        "type": "structure",
                        "members": {
                            "SamlConfigCount": {
                                "type": "long"
                            }
                        }
                    },
                    "SecurityPolicyStats": {
                        "type": "structure",
                        "members": {
                            "EncryptionPolicyCount": {
                                "type": "long"
                            },
                            "NetworkPolicyCount": {
                                "type": "long"
                            }
                        }
                    },
                    "TotalPolicyCount": {
                        "type": "long"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ECC7SDRUTSQFHIGF6OEGIE7RYHUNV4Y6XPCASPU55S5VVX3TN32Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3J3CMJL3BIO2BV4OJZK4TXSSC63XCAZOM2YUQ3U7FCYCBDPRAUPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5AFIKQVXABYBMJVUEIKA7XA6GQBPYE4LP33JFYZU6U3XTQD57LOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RMMBBTGC33UK527HLB7YQWCGYSRKUVYKU76ERH3AAYUELYCSIJCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVWN2XSEXMMHMY7ZOSDT4I5VHY5UWKH7DJA2UZ5OYELM5DS7OFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAJYCCV7BZOTJ5PX67DAJU5KLSC6AVXYP6LFW3IKO5DZMLHI6IUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GRMQBZUO35C4TVHAJSBIRBE77HIE4TQBELYJYKX7PG43VSOIJWKQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N67E6FB6ZEKSO3NKY34AEHA7S6SRPDH5TWIVFMVHKE36BTBEOAIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57UGONTVHEMYU6HI4LYXEN4R37U57MQG4TXHEFWYCGFZ6N5WVLUQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NJ4YM7HWXIL3GG4MRFQVAIXLFW5KQJGRXKZQVQ6QS373ZKRTT7Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2PP6YNUJNERRQNVEZ77PM5HG26XVRDXEP55IJLU5F7CNVJICXCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WBY7Y5QLJFAP72KENDGTQF6TTIOBYNPUTHR2YDLYNWLFL4LMNEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPDXGONTYEUK46DA45S3FKKRQFYZW3PKCIQRLBPQIPT2WXM272EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KO64KZDL7XG4PLJZIR5DRQGUSRDVWDTFJYUAUYYDXJ6DM665SULQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLJI5JKHV6EX634IAVRL3FOUCDMNXVPF6KNYRMYFFWTDNAA5AG4Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4IR74KYD4BUYWHTG4KEBARHTZX7WTVJTA32TBXFXRYQWPLZWUXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TWYWLMEDCDE76W2OFM66OHC7XY32Z6LNUZ2KGLCOPCKBXI2I5OIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WKADIITWQVINRYCIENSFERRX2CJ2LW63ULNCLRJ7GEYLLOHPK5A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLJBROGBAF63ZVEYPFQX6VDPJDAOO24VGDUYLHPQZVRDLT5U6O5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetSecurityConfig": {
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "id": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "securityConfigDetail": {
                        "shape": "S1m"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ECC7SDRUTSQFHIGF6OEGIE7RYHUNV4Y6XPCASPU55S5VVX3TN32Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3J3CMJL3BIO2BV4OJZK4TXSSC63XCAZOM2YUQ3U7FCYCBDPRAUPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5AFIKQVXABYBMJVUEIKA7XA6GQBPYE4LP33JFYZU6U3XTQD57LOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RMMBBTGC33UK527HLB7YQWCGYSRKUVYKU76ERH3AAYUELYCSIJCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVWN2XSEXMMHMY7ZOSDT4I5VHY5UWKH7DJA2UZ5OYELM5DS7OFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAJYCCV7BZOTJ5PX67DAJU5KLSC6AVXYP6LFW3IKO5DZMLHI6IUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GRMQBZUO35C4TVHAJSBIRBE77HIE4TQBELYJYKX7PG43VSOIJWKQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N67E6FB6ZEKSO3NKY34AEHA7S6SRPDH5TWIVFMVHKE36BTBEOAIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57UGONTVHEMYU6HI4LYXEN4R37U57MQG4TXHEFWYCGFZ6N5WVLUQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NJ4YM7HWXIL3GG4MRFQVAIXLFW5KQJGRXKZQVQ6QS373ZKRTT7Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2PP6YNUJNERRQNVEZ77PM5HG26XVRDXEP55IJLU5F7CNVJICXCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WBY7Y5QLJFAP72KENDGTQF6TTIOBYNPUTHR2YDLYNWLFL4LMNEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPDXGONTYEUK46DA45S3FKKRQFYZW3PKCIQRLBPQIPT2WXM272EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KO64KZDL7XG4PLJZIR5DRQGUSRDVWDTFJYUAUYYDXJ6DM665SULQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLJI5JKHV6EX634IAVRL3FOUCDMNXVPF6KNYRMYFFWTDNAA5AG4Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4IR74KYD4BUYWHTG4KEBARHTZX7WTVJTA32TBXFXRYQWPLZWUXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TWYWLMEDCDE76W2OFM66OHC7XY32Z6LNUZ2KGLCOPCKBXI2I5OIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WKADIITWQVINRYCIENSFERRX2CJ2LW63ULNCLRJ7GEYLLOHPK5A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLJBROGBAF63ZVEYPFQX6VDPJDAOO24VGDUYLHPQZVRDLT5U6O5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetSecurityPolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "type"
                ],
                "members": {
                    "name": {},
                    "type": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "securityPolicyDetail": {
                        "shape": "S1r"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ECC7SDRUTSQFHIGF6OEGIE7RYHUNV4Y6XPCASPU55S5VVX3TN32Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3J3CMJL3BIO2BV4OJZK4TXSSC63XCAZOM2YUQ3U7FCYCBDPRAUPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5AFIKQVXABYBMJVUEIKA7XA6GQBPYE4LP33JFYZU6U3XTQD57LOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RMMBBTGC33UK527HLB7YQWCGYSRKUVYKU76ERH3AAYUELYCSIJCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVWN2XSEXMMHMY7ZOSDT4I5VHY5UWKH7DJA2UZ5OYELM5DS7OFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAJYCCV7BZOTJ5PX67DAJU5KLSC6AVXYP6LFW3IKO5DZMLHI6IUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GRMQBZUO35C4TVHAJSBIRBE77HIE4TQBELYJYKX7PG43VSOIJWKQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N67E6FB6ZEKSO3NKY34AEHA7S6SRPDH5TWIVFMVHKE36BTBEOAIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57UGONTVHEMYU6HI4LYXEN4R37U57MQG4TXHEFWYCGFZ6N5WVLUQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NJ4YM7HWXIL3GG4MRFQVAIXLFW5KQJGRXKZQVQ6QS373ZKRTT7Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2PP6YNUJNERRQNVEZ77PM5HG26XVRDXEP55IJLU5F7CNVJICXCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WBY7Y5QLJFAP72KENDGTQF6TTIOBYNPUTHR2YDLYNWLFL4LMNEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPDXGONTYEUK46DA45S3FKKRQFYZW3PKCIQRLBPQIPT2WXM272EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KO64KZDL7XG4PLJZIR5DRQGUSRDVWDTFJYUAUYYDXJ6DM665SULQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLJI5JKHV6EX634IAVRL3FOUCDMNXVPF6KNYRMYFFWTDNAA5AG4Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4IR74KYD4BUYWHTG4KEBARHTZX7WTVJTA32TBXFXRYQWPLZWUXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TWYWLMEDCDE76W2OFM66OHC7XY32Z6LNUZ2KGLCOPCKBXI2I5OIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WKADIITWQVINRYCIENSFERRX2CJ2LW63ULNCLRJ7GEYLLOHPK5A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLJBROGBAF63ZVEYPFQX6VDPJDAOO24VGDUYLHPQZVRDLT5U6O5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ListAccessPolicies": {
            "input": {
                "type": "structure",
                "required": [
                    "type"
                ],
                "members": {
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {},
                    "resource": {
                        "type": "list",
                        "member": {}
                    },
                    "type": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "accessPolicySummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "createdDate": {
                                    "type": "long"
                                },
                                "description": {},
                                "lastModifiedDate": {
                                    "type": "long"
                                },
                                "name": {},
                                "policyVersion": {},
                                "type": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ECC7SDRUTSQFHIGF6OEGIE7RYHUNV4Y6XPCASPU55S5VVX3TN32Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3J3CMJL3BIO2BV4OJZK4TXSSC63XCAZOM2YUQ3U7FCYCBDPRAUPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5AFIKQVXABYBMJVUEIKA7XA6GQBPYE4LP33JFYZU6U3XTQD57LOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RMMBBTGC33UK527HLB7YQWCGYSRKUVYKU76ERH3AAYUELYCSIJCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVWN2XSEXMMHMY7ZOSDT4I5VHY5UWKH7DJA2UZ5OYELM5DS7OFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAJYCCV7BZOTJ5PX67DAJU5KLSC6AVXYP6LFW3IKO5DZMLHI6IUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GRMQBZUO35C4TVHAJSBIRBE77HIE4TQBELYJYKX7PG43VSOIJWKQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N67E6FB6ZEKSO3NKY34AEHA7S6SRPDH5TWIVFMVHKE36BTBEOAIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57UGONTVHEMYU6HI4LYXEN4R37U57MQG4TXHEFWYCGFZ6N5WVLUQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NJ4YM7HWXIL3GG4MRFQVAIXLFW5KQJGRXKZQVQ6QS373ZKRTT7Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2PP6YNUJNERRQNVEZ77PM5HG26XVRDXEP55IJLU5F7CNVJICXCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WBY7Y5QLJFAP72KENDGTQF6TTIOBYNPUTHR2YDLYNWLFL4LMNEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPDXGONTYEUK46DA45S3FKKRQFYZW3PKCIQRLBPQIPT2WXM272EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KO64KZDL7XG4PLJZIR5DRQGUSRDVWDTFJYUAUYYDXJ6DM665SULQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLJI5JKHV6EX634IAVRL3FOUCDMNXVPF6KNYRMYFFWTDNAA5AG4Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4IR74KYD4BUYWHTG4KEBARHTZX7WTVJTA32TBXFXRYQWPLZWUXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TWYWLMEDCDE76W2OFM66OHC7XY32Z6LNUZ2KGLCOPCKBXI2I5OIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WKADIITWQVINRYCIENSFERRX2CJ2LW63ULNCLRJ7GEYLLOHPK5A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLJBROGBAF63ZVEYPFQX6VDPJDAOO24VGDUYLHPQZVRDLT5U6O5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ListCollections": {
            "input": {
                "type": "structure",
                "members": {
                    "collectionFilters": {
                        "type": "structure",
                        "members": {
                            "name": {},
                            "status": {}
                        }
                    },
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "collectionSummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "arn": {},
                                "id": {},
                                "name": {},
                                "status": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ECC7SDRUTSQFHIGF6OEGIE7RYHUNV4Y6XPCASPU55S5VVX3TN32Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3J3CMJL3BIO2BV4OJZK4TXSSC63XCAZOM2YUQ3U7FCYCBDPRAUPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5AFIKQVXABYBMJVUEIKA7XA6GQBPYE4LP33JFYZU6U3XTQD57LOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RMMBBTGC33UK527HLB7YQWCGYSRKUVYKU76ERH3AAYUELYCSIJCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVWN2XSEXMMHMY7ZOSDT4I5VHY5UWKH7DJA2UZ5OYELM5DS7OFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAJYCCV7BZOTJ5PX67DAJU5KLSC6AVXYP6LFW3IKO5DZMLHI6IUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GRMQBZUO35C4TVHAJSBIRBE77HIE4TQBELYJYKX7PG43VSOIJWKQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N67E6FB6ZEKSO3NKY34AEHA7S6SRPDH5TWIVFMVHKE36BTBEOAIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57UGONTVHEMYU6HI4LYXEN4R37U57MQG4TXHEFWYCGFZ6N5WVLUQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NJ4YM7HWXIL3GG4MRFQVAIXLFW5KQJGRXKZQVQ6QS373ZKRTT7Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2PP6YNUJNERRQNVEZ77PM5HG26XVRDXEP55IJLU5F7CNVJICXCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WBY7Y5QLJFAP72KENDGTQF6TTIOBYNPUTHR2YDLYNWLFL4LMNEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPDXGONTYEUK46DA45S3FKKRQFYZW3PKCIQRLBPQIPT2WXM272EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KO64KZDL7XG4PLJZIR5DRQGUSRDVWDTFJYUAUYYDXJ6DM665SULQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLJI5JKHV6EX634IAVRL3FOUCDMNXVPF6KNYRMYFFWTDNAA5AG4Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4IR74KYD4BUYWHTG4KEBARHTZX7WTVJTA32TBXFXRYQWPLZWUXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TWYWLMEDCDE76W2OFM66OHC7XY32Z6LNUZ2KGLCOPCKBXI2I5OIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WKADIITWQVINRYCIENSFERRX2CJ2LW63ULNCLRJ7GEYLLOHPK5A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLJBROGBAF63ZVEYPFQX6VDPJDAOO24VGDUYLHPQZVRDLT5U6O5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ListSecurityConfigs": {
            "input": {
                "type": "structure",
                "required": [
                    "type"
                ],
                "members": {
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {},
                    "type": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "securityConfigSummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "configVersion": {},
                                "createdDate": {
                                    "type": "long"
                                },
                                "description": {},
                                "id": {},
                                "lastModifiedDate": {
                                    "type": "long"
                                },
                                "type": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ECC7SDRUTSQFHIGF6OEGIE7RYHUNV4Y6XPCASPU55S5VVX3TN32Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3J3CMJL3BIO2BV4OJZK4TXSSC63XCAZOM2YUQ3U7FCYCBDPRAUPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5AFIKQVXABYBMJVUEIKA7XA6GQBPYE4LP33JFYZU6U3XTQD57LOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RMMBBTGC33UK527HLB7YQWCGYSRKUVYKU76ERH3AAYUELYCSIJCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVWN2XSEXMMHMY7ZOSDT4I5VHY5UWKH7DJA2UZ5OYELM5DS7OFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAJYCCV7BZOTJ5PX67DAJU5KLSC6AVXYP6LFW3IKO5DZMLHI6IUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GRMQBZUO35C4TVHAJSBIRBE77HIE4TQBELYJYKX7PG43VSOIJWKQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N67E6FB6ZEKSO3NKY34AEHA7S6SRPDH5TWIVFMVHKE36BTBEOAIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57UGONTVHEMYU6HI4LYXEN4R37U57MQG4TXHEFWYCGFZ6N5WVLUQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NJ4YM7HWXIL3GG4MRFQVAIXLFW5KQJGRXKZQVQ6QS373ZKRTT7Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2PP6YNUJNERRQNVEZ77PM5HG26XVRDXEP55IJLU5F7CNVJICXCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WBY7Y5QLJFAP72KENDGTQF6TTIOBYNPUTHR2YDLYNWLFL4LMNEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPDXGONTYEUK46DA45S3FKKRQFYZW3PKCIQRLBPQIPT2WXM272EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KO64KZDL7XG4PLJZIR5DRQGUSRDVWDTFJYUAUYYDXJ6DM665SULQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLJI5JKHV6EX634IAVRL3FOUCDMNXVPF6KNYRMYFFWTDNAA5AG4Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4IR74KYD4BUYWHTG4KEBARHTZX7WTVJTA32TBXFXRYQWPLZWUXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TWYWLMEDCDE76W2OFM66OHC7XY32Z6LNUZ2KGLCOPCKBXI2I5OIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WKADIITWQVINRYCIENSFERRX2CJ2LW63ULNCLRJ7GEYLLOHPK5A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLJBROGBAF63ZVEYPFQX6VDPJDAOO24VGDUYLHPQZVRDLT5U6O5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ListSecurityPolicies": {
            "input": {
                "type": "structure",
                "required": [
                    "type"
                ],
                "members": {
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {},
                    "resource": {
                        "type": "list",
                        "member": {}
                    },
                    "type": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "securityPolicySummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "createdDate": {
                                    "type": "long"
                                },
                                "description": {},
                                "lastModifiedDate": {
                                    "type": "long"
                                },
                                "name": {},
                                "policyVersion": {},
                                "type": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ECC7SDRUTSQFHIGF6OEGIE7RYHUNV4Y6XPCASPU55S5VVX3TN32Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3J3CMJL3BIO2BV4OJZK4TXSSC63XCAZOM2YUQ3U7FCYCBDPRAUPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5AFIKQVXABYBMJVUEIKA7XA6GQBPYE4LP33JFYZU6U3XTQD57LOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RMMBBTGC33UK527HLB7YQWCGYSRKUVYKU76ERH3AAYUELYCSIJCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVWN2XSEXMMHMY7ZOSDT4I5VHY5UWKH7DJA2UZ5OYELM5DS7OFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAJYCCV7BZOTJ5PX67DAJU5KLSC6AVXYP6LFW3IKO5DZMLHI6IUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GRMQBZUO35C4TVHAJSBIRBE77HIE4TQBELYJYKX7PG43VSOIJWKQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N67E6FB6ZEKSO3NKY34AEHA7S6SRPDH5TWIVFMVHKE36BTBEOAIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57UGONTVHEMYU6HI4LYXEN4R37U57MQG4TXHEFWYCGFZ6N5WVLUQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NJ4YM7HWXIL3GG4MRFQVAIXLFW5KQJGRXKZQVQ6QS373ZKRTT7Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2PP6YNUJNERRQNVEZ77PM5HG26XVRDXEP55IJLU5F7CNVJICXCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WBY7Y5QLJFAP72KENDGTQF6TTIOBYNPUTHR2YDLYNWLFL4LMNEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPDXGONTYEUK46DA45S3FKKRQFYZW3PKCIQRLBPQIPT2WXM272EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KO64KZDL7XG4PLJZIR5DRQGUSRDVWDTFJYUAUYYDXJ6DM665SULQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLJI5JKHV6EX634IAVRL3FOUCDMNXVPF6KNYRMYFFWTDNAA5AG4Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4IR74KYD4BUYWHTG4KEBARHTZX7WTVJTA32TBXFXRYQWPLZWUXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TWYWLMEDCDE76W2OFM66OHC7XY32Z6LNUZ2KGLCOPCKBXI2I5OIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WKADIITWQVINRYCIENSFERRX2CJ2LW63ULNCLRJ7GEYLLOHPK5A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLJBROGBAF63ZVEYPFQX6VDPJDAOO24VGDUYLHPQZVRDLT5U6O5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ListTagsForResource": {
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn"
                ],
                "members": {
                    "resourceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "tags": {
                        "shape": "S16"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ECC7SDRUTSQFHIGF6OEGIE7RYHUNV4Y6XPCASPU55S5VVX3TN32Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3J3CMJL3BIO2BV4OJZK4TXSSC63XCAZOM2YUQ3U7FCYCBDPRAUPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5AFIKQVXABYBMJVUEIKA7XA6GQBPYE4LP33JFYZU6U3XTQD57LOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RMMBBTGC33UK527HLB7YQWCGYSRKUVYKU76ERH3AAYUELYCSIJCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVWN2XSEXMMHMY7ZOSDT4I5VHY5UWKH7DJA2UZ5OYELM5DS7OFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAJYCCV7BZOTJ5PX67DAJU5KLSC6AVXYP6LFW3IKO5DZMLHI6IUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GRMQBZUO35C4TVHAJSBIRBE77HIE4TQBELYJYKX7PG43VSOIJWKQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N67E6FB6ZEKSO3NKY34AEHA7S6SRPDH5TWIVFMVHKE36BTBEOAIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57UGONTVHEMYU6HI4LYXEN4R37U57MQG4TXHEFWYCGFZ6N5WVLUQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NJ4YM7HWXIL3GG4MRFQVAIXLFW5KQJGRXKZQVQ6QS373ZKRTT7Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2PP6YNUJNERRQNVEZ77PM5HG26XVRDXEP55IJLU5F7CNVJICXCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WBY7Y5QLJFAP72KENDGTQF6TTIOBYNPUTHR2YDLYNWLFL4LMNEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPDXGONTYEUK46DA45S3FKKRQFYZW3PKCIQRLBPQIPT2WXM272EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KO64KZDL7XG4PLJZIR5DRQGUSRDVWDTFJYUAUYYDXJ6DM665SULQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLJI5JKHV6EX634IAVRL3FOUCDMNXVPF6KNYRMYFFWTDNAA5AG4Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4IR74KYD4BUYWHTG4KEBARHTZX7WTVJTA32TBXFXRYQWPLZWUXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TWYWLMEDCDE76W2OFM66OHC7XY32Z6LNUZ2KGLCOPCKBXI2I5OIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WKADIITWQVINRYCIENSFERRX2CJ2LW63ULNCLRJ7GEYLLOHPK5A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLJBROGBAF63ZVEYPFQX6VDPJDAOO24VGDUYLHPQZVRDLT5U6O5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ListVpcEndpoints": {
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {},
                    "vpcEndpointFilters": {
                        "type": "structure",
                        "members": {
                            "status": {}
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "vpcEndpointSummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "id": {},
                                "name": {},
                                "status": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ECC7SDRUTSQFHIGF6OEGIE7RYHUNV4Y6XPCASPU55S5VVX3TN32Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3J3CMJL3BIO2BV4OJZK4TXSSC63XCAZOM2YUQ3U7FCYCBDPRAUPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5AFIKQVXABYBMJVUEIKA7XA6GQBPYE4LP33JFYZU6U3XTQD57LOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RMMBBTGC33UK527HLB7YQWCGYSRKUVYKU76ERH3AAYUELYCSIJCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVWN2XSEXMMHMY7ZOSDT4I5VHY5UWKH7DJA2UZ5OYELM5DS7OFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAJYCCV7BZOTJ5PX67DAJU5KLSC6AVXYP6LFW3IKO5DZMLHI6IUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GRMQBZUO35C4TVHAJSBIRBE77HIE4TQBELYJYKX7PG43VSOIJWKQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N67E6FB6ZEKSO3NKY34AEHA7S6SRPDH5TWIVFMVHKE36BTBEOAIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57UGONTVHEMYU6HI4LYXEN4R37U57MQG4TXHEFWYCGFZ6N5WVLUQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NJ4YM7HWXIL3GG4MRFQVAIXLFW5KQJGRXKZQVQ6QS373ZKRTT7Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2PP6YNUJNERRQNVEZ77PM5HG26XVRDXEP55IJLU5F7CNVJICXCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WBY7Y5QLJFAP72KENDGTQF6TTIOBYNPUTHR2YDLYNWLFL4LMNEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPDXGONTYEUK46DA45S3FKKRQFYZW3PKCIQRLBPQIPT2WXM272EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KO64KZDL7XG4PLJZIR5DRQGUSRDVWDTFJYUAUYYDXJ6DM665SULQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLJI5JKHV6EX634IAVRL3FOUCDMNXVPF6KNYRMYFFWTDNAA5AG4Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4IR74KYD4BUYWHTG4KEBARHTZX7WTVJTA32TBXFXRYQWPLZWUXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TWYWLMEDCDE76W2OFM66OHC7XY32Z6LNUZ2KGLCOPCKBXI2I5OIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WKADIITWQVINRYCIENSFERRX2CJ2LW63ULNCLRJ7GEYLLOHPK5A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLJBROGBAF63ZVEYPFQX6VDPJDAOO24VGDUYLHPQZVRDLT5U6O5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "TagResource": {
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "tags"
                ],
                "members": {
                    "resourceArn": {},
                    "tags": {
                        "shape": "S16"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ECC7SDRUTSQFHIGF6OEGIE7RYHUNV4Y6XPCASPU55S5VVX3TN32Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3J3CMJL3BIO2BV4OJZK4TXSSC63XCAZOM2YUQ3U7FCYCBDPRAUPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5AFIKQVXABYBMJVUEIKA7XA6GQBPYE4LP33JFYZU6U3XTQD57LOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RMMBBTGC33UK527HLB7YQWCGYSRKUVYKU76ERH3AAYUELYCSIJCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVWN2XSEXMMHMY7ZOSDT4I5VHY5UWKH7DJA2UZ5OYELM5DS7OFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAJYCCV7BZOTJ5PX67DAJU5KLSC6AVXYP6LFW3IKO5DZMLHI6IUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GRMQBZUO35C4TVHAJSBIRBE77HIE4TQBELYJYKX7PG43VSOIJWKQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N67E6FB6ZEKSO3NKY34AEHA7S6SRPDH5TWIVFMVHKE36BTBEOAIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57UGONTVHEMYU6HI4LYXEN4R37U57MQG4TXHEFWYCGFZ6N5WVLUQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NJ4YM7HWXIL3GG4MRFQVAIXLFW5KQJGRXKZQVQ6QS373ZKRTT7Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2PP6YNUJNERRQNVEZ77PM5HG26XVRDXEP55IJLU5F7CNVJICXCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WBY7Y5QLJFAP72KENDGTQF6TTIOBYNPUTHR2YDLYNWLFL4LMNEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPDXGONTYEUK46DA45S3FKKRQFYZW3PKCIQRLBPQIPT2WXM272EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KO64KZDL7XG4PLJZIR5DRQGUSRDVWDTFJYUAUYYDXJ6DM665SULQ/vendors.js",
[...]
