{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2021-01-01",
        "endpointPrefix": "es",
        "protocol": "rest-json",
        "serviceFullName": "Amazon OpenSearch Service",
        "serviceId": "OpenSearch",
        "signatureVersion": "v4",
        "uid": "opensearch-2021-01-01",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/L6VPV6CNH33KSOZ7SC7KK4JKXPHNNCP3FE3JF2QL2HQM2TZAOGPA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RMMBBTGC33UK527HLB7YQWCGYSRKUVYKU76ERH3AAYUELYCSIJCA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JVWN2XSEXMMHMY7ZOSDT4I5VHY5UWKH7DJA2UZ5OYELM5DS7OFBA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DAJYCCV7BZOTJ5PX67DAJU5KLSC6AVXYP6LFW3IKO5DZMLHI6IUA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JDNZ6YXC7FZZF4CINSIMYPC5ENFRQKYWKEBKZAMGGN6I7YHZABOA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/N67E6FB6ZEKSO3NKY34AEHA7S6SRPDH5TWIVFMVHKE36BTBEOAIQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J2PP6YNUJNERRQNVEZ77PM5HG26XVRDXEP55IJLU5F7CNVJICXCQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3WBY7Y5QLJFAP72KENDGTQF6TTIOBYNPUTHR2YDLYNWLFL4LMNEA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OPDXGONTYEUK46DA45S3FKKRQFYZW3PKCIQRLBPQIPT2WXM272EA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KO64KZDL7XG4PLJZIR5DRQGUSRDVWDTFJYUAUYYDXJ6DM665SULQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/S4IR74KYD4BUYWHTG4KEBARHTZX7WTVJTA32TBXFXRYQWPLZWUXA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TWYWLMEDCDE76W2OFM66OHC7XY32Z6LNUZ2KGLCOPCKBXI2I5OIQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BLJBROGBAF63ZVEYPFQX6VDPJDAOO24VGDUYLHPQZVRDLT5U6O5Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
        ]
    },
    "operations": {
        "AcceptInboundConnection": {
            "http": {
                "method": "PUT",
                "requestUri": "/2021-01-01/opensearch/cc/inboundConnection/{ConnectionId}/accept"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ConnectionId"
                ],
                "members": {
                    "ConnectionId": {
                        "location": "uri",
                        "locationName": "ConnectionId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Connection": {
                        "shape": "S4"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RMMBBTGC33UK527HLB7YQWCGYSRKUVYKU76ERH3AAYUELYCSIJCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVWN2XSEXMMHMY7ZOSDT4I5VHY5UWKH7DJA2UZ5OYELM5DS7OFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAJYCCV7BZOTJ5PX67DAJU5KLSC6AVXYP6LFW3IKO5DZMLHI6IUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDNZ6YXC7FZZF4CINSIMYPC5ENFRQKYWKEBKZAMGGN6I7YHZABOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N67E6FB6ZEKSO3NKY34AEHA7S6SRPDH5TWIVFMVHKE36BTBEOAIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2PP6YNUJNERRQNVEZ77PM5HG26XVRDXEP55IJLU5F7CNVJICXCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WBY7Y5QLJFAP72KENDGTQF6TTIOBYNPUTHR2YDLYNWLFL4LMNEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPDXGONTYEUK46DA45S3FKKRQFYZW3PKCIQRLBPQIPT2WXM272EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KO64KZDL7XG4PLJZIR5DRQGUSRDVWDTFJYUAUYYDXJ6DM665SULQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4IR74KYD4BUYWHTG4KEBARHTZX7WTVJTA32TBXFXRYQWPLZWUXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TWYWLMEDCDE76W2OFM66OHC7XY32Z6LNUZ2KGLCOPCKBXI2I5OIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLJBROGBAF63ZVEYPFQX6VDPJDAOO24VGDUYLHPQZVRDLT5U6O5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "AddTags": {
            "http": {
                "requestUri": "/2021-01-01/tags"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ARN",
                    "TagList"
                ],
                "members": {
                    "ARN": {},
                    "TagList": {
                        "shape": "Sf"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RMMBBTGC33UK527HLB7YQWCGYSRKUVYKU76ERH3AAYUELYCSIJCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVWN2XSEXMMHMY7ZOSDT4I5VHY5UWKH7DJA2UZ5OYELM5DS7OFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAJYCCV7BZOTJ5PX67DAJU5KLSC6AVXYP6LFW3IKO5DZMLHI6IUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDNZ6YXC7FZZF4CINSIMYPC5ENFRQKYWKEBKZAMGGN6I7YHZABOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N67E6FB6ZEKSO3NKY34AEHA7S6SRPDH5TWIVFMVHKE36BTBEOAIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2PP6YNUJNERRQNVEZ77PM5HG26XVRDXEP55IJLU5F7CNVJICXCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WBY7Y5QLJFAP72KENDGTQF6TTIOBYNPUTHR2YDLYNWLFL4LMNEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPDXGONTYEUK46DA45S3FKKRQFYZW3PKCIQRLBPQIPT2WXM272EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KO64KZDL7XG4PLJZIR5DRQGUSRDVWDTFJYUAUYYDXJ6DM665SULQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4IR74KYD4BUYWHTG4KEBARHTZX7WTVJTA32TBXFXRYQWPLZWUXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TWYWLMEDCDE76W2OFM66OHC7XY32Z6LNUZ2KGLCOPCKBXI2I5OIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLJBROGBAF63ZVEYPFQX6VDPJDAOO24VGDUYLHPQZVRDLT5U6O5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "AssociatePackage": {
            "http": {
                "requestUri": "/2021-01-01/packages/associate/{PackageID}/{DomainName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "PackageID",
                    "DomainName"
                ],
                "members": {
                    "PackageID": {
                        "location": "uri",
                        "locationName": "PackageID"
                    },
                    "DomainName": {
                        "location": "uri",
                        "locationName": "DomainName"
                    },
                    "PrerequisitePackageIDList": {
                        "shape": "S1h"
                    },
                    "AssociationConfiguration": {
                        "shape": "S1i"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DomainPackageDetails": {
                        "shape": "Sm"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RMMBBTGC33UK527HLB7YQWCGYSRKUVYKU76ERH3AAYUELYCSIJCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVWN2XSEXMMHMY7ZOSDT4I5VHY5UWKH7DJA2UZ5OYELM5DS7OFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAJYCCV7BZOTJ5PX67DAJU5KLSC6AVXYP6LFW3IKO5DZMLHI6IUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDNZ6YXC7FZZF4CINSIMYPC5ENFRQKYWKEBKZAMGGN6I7YHZABOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N67E6FB6ZEKSO3NKY34AEHA7S6SRPDH5TWIVFMVHKE36BTBEOAIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2PP6YNUJNERRQNVEZ77PM5HG26XVRDXEP55IJLU5F7CNVJICXCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WBY7Y5QLJFAP72KENDGTQF6TTIOBYNPUTHR2YDLYNWLFL4LMNEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPDXGONTYEUK46DA45S3FKKRQFYZW3PKCIQRLBPQIPT2WXM272EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KO64KZDL7XG4PLJZIR5DRQGUSRDVWDTFJYUAUYYDXJ6DM665SULQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4IR74KYD4BUYWHTG4KEBARHTZX7WTVJTA32TBXFXRYQWPLZWUXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TWYWLMEDCDE76W2OFM66OHC7XY32Z6LNUZ2KGLCOPCKBXI2I5OIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLJBROGBAF63ZVEYPFQX6VDPJDAOO24VGDUYLHPQZVRDLT5U6O5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "AuthorizeVpcEndpointAccess": {
            "http": {
                "requestUri": "/2021-01-01/opensearch/domain/{DomainName}/authorizeVpcEndpointAccess"
            },
            "input": {
                "type": "structure",
                "required": [
                    "DomainName",
                    "Account"
                ],
                "members": {
                    "DomainName": {
                        "location": "uri",
                        "locationName": "DomainName"
                    },
                    "Account": {},
                    "Service": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "AuthorizedPrincipal"
                ],
                "members": {
                    "AuthorizedPrincipal": {
                        "shape": "Sz"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LA33ZB5X626QVUV36ONY4Q7MPJ7NXOUAB6RCHY47AUCSJ72P7IIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJMLDE7XFZMTHU6TKYTXRNZUJIBSTAFWYMZLQQ7HQFI4AS5OUW2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZD3RFEMI3UY2HOH7HG6ZWN3BYYBHERXSHPDGGIHKXCBJJ66F2EQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JFQZEARGM67ZH3NIB4WHZK4FTKUUIVTUNEWLB5B2JZG2UCYUDMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SPRKWIFP2AYLEF76AZMVHHEBOBLQ5647VWU53LX3HTTTM3JPOEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGJPVOQZGJBAK6LKJIZI5KKSJRKI72NZEUOH5C2ZZXFCZXT5W7JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ECC7SDRUTSQFHIGF6OEGIE7RYHUNV4Y6XPCASPU55S5VVX3TN32Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3J3CMJL3BIO2BV4OJZK4TXSSC63XCAZOM2YUQ3U7FCYCBDPRAUPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5AFIKQVXABYBMJVUEIKA7XA6GQBPYE4LP33JFYZU6U3XTQD57LOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RMMBBTGC33UK527HLB7YQWCGYSRKUVYKU76ERH3AAYUELYCSIJCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVWN2XSEXMMHMY7ZOSDT4I5VHY5UWKH7DJA2UZ5OYELM5DS7OFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAJYCCV7BZOTJ5PX67DAJU5KLSC6AVXYP6LFW3IKO5DZMLHI6IUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N67E6FB6ZEKSO3NKY34AEHA7S6SRPDH5TWIVFMVHKE36BTBEOAIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2PP6YNUJNERRQNVEZ77PM5HG26XVRDXEP55IJLU5F7CNVJICXCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WBY7Y5QLJFAP72KENDGTQF6TTIOBYNPUTHR2YDLYNWLFL4LMNEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPDXGONTYEUK46DA45S3FKKRQFYZW3PKCIQRLBPQIPT2WXM272EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KO64KZDL7XG4PLJZIR5DRQGUSRDVWDTFJYUAUYYDXJ6DM665SULQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4IR74KYD4BUYWHTG4KEBARHTZX7WTVJTA32TBXFXRYQWPLZWUXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TWYWLMEDCDE76W2OFM66OHC7XY32Z6LNUZ2KGLCOPCKBXI2I5OIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLJBROGBAF63ZVEYPFQX6VDPJDAOO24VGDUYLHPQZVRDLT5U6O5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CancelServiceSoftwareUpdate": {
            "http": {
                "requestUri": "/2021-01-01/opensearch/serviceSoftwareUpdate/cancel"
            },
            "input": {
                "type": "structure",
                "required": [
                    "DomainName"
                ],
                "members": {
                    "DomainName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ServiceSoftwareOptions": {
                        "shape": "S14"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RMMBBTGC33UK527HLB7YQWCGYSRKUVYKU76ERH3AAYUELYCSIJCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVWN2XSEXMMHMY7ZOSDT4I5VHY5UWKH7DJA2UZ5OYELM5DS7OFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAJYCCV7BZOTJ5PX67DAJU5KLSC6AVXYP6LFW3IKO5DZMLHI6IUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDNZ6YXC7FZZF4CINSIMYPC5ENFRQKYWKEBKZAMGGN6I7YHZABOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N67E6FB6ZEKSO3NKY34AEHA7S6SRPDH5TWIVFMVHKE36BTBEOAIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2PP6YNUJNERRQNVEZ77PM5HG26XVRDXEP55IJLU5F7CNVJICXCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WBY7Y5QLJFAP72KENDGTQF6TTIOBYNPUTHR2YDLYNWLFL4LMNEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPDXGONTYEUK46DA45S3FKKRQFYZW3PKCIQRLBPQIPT2WXM272EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KO64KZDL7XG4PLJZIR5DRQGUSRDVWDTFJYUAUYYDXJ6DM665SULQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4IR74KYD4BUYWHTG4KEBARHTZX7WTVJTA32TBXFXRYQWPLZWUXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TWYWLMEDCDE76W2OFM66OHC7XY32Z6LNUZ2KGLCOPCKBXI2I5OIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLJBROGBAF63ZVEYPFQX6VDPJDAOO24VGDUYLHPQZVRDLT5U6O5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateDomain": {
            "http": {
                "requestUri": "/2021-01-01/opensearch/domain"
            },
            "input": {
                "type": "structure",
                "required": [
                    "DomainName"
                ],
                "members": {
                    "DomainName": {},
                    "EngineVersion": {},
                    "ClusterConfig": {
                        "shape": "S1a"
                    },
                    "EBSOptions": {
                        "shape": "S1g"
                    },
                    "AccessPolicies": {},
                    "SnapshotOptions": {
                        "shape": "S1j"
                    },
                    "VPCOptions": {
                        "shape": "S1k"
                    },
                    "CognitoOptions": {
                        "shape": "S1m"
                    },
                    "EncryptionAtRestOptions": {
                        "shape": "S1q"
                    },
                    "NodeToNodeEncryptionOptions": {
                        "shape": "S1s"
                    },
                    "AdvancedOptions": {
                        "shape": "S1t"
                    },
                    "LogPublishingOptions": {
                        "shape": "S1u"
                    },
                    "DomainEndpointOptions": {
                        "shape": "S1y"
                    },
                    "AdvancedSecurityOptions": {
                        "shape": "S21"
                    },
                    "TagList": {
                        "shape": "Sf"
                    },
                    "AutoTuneOptions": {
                        "type": "structure",
                        "members": {
                            "DesiredState": {},
                            "MaintenanceSchedules": {
                                "shape": "S2c"
                            }
                        }
                    },
                    "OffPeakWindowOptions": {
                        "shape": "S2j"
                    },
                    "SoftwareUpdateOptions": {
                        "shape": "S2o"
                    },
                    "IPAddressType": {},
                    "AIMLOptions": {
                        "shape": "S35"
                    },
                    "IdentityCenterOptions": {
                        "shape": "S3l"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DomainStatus": {
                        "shape": "S2j"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RMMBBTGC33UK527HLB7YQWCGYSRKUVYKU76ERH3AAYUELYCSIJCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVWN2XSEXMMHMY7ZOSDT4I5VHY5UWKH7DJA2UZ5OYELM5DS7OFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAJYCCV7BZOTJ5PX67DAJU5KLSC6AVXYP6LFW3IKO5DZMLHI6IUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDNZ6YXC7FZZF4CINSIMYPC5ENFRQKYWKEBKZAMGGN6I7YHZABOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N67E6FB6ZEKSO3NKY34AEHA7S6SRPDH5TWIVFMVHKE36BTBEOAIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2PP6YNUJNERRQNVEZ77PM5HG26XVRDXEP55IJLU5F7CNVJICXCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WBY7Y5QLJFAP72KENDGTQF6TTIOBYNPUTHR2YDLYNWLFL4LMNEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPDXGONTYEUK46DA45S3FKKRQFYZW3PKCIQRLBPQIPT2WXM272EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KO64KZDL7XG4PLJZIR5DRQGUSRDVWDTFJYUAUYYDXJ6DM665SULQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4IR74KYD4BUYWHTG4KEBARHTZX7WTVJTA32TBXFXRYQWPLZWUXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TWYWLMEDCDE76W2OFM66OHC7XY32Z6LNUZ2KGLCOPCKBXI2I5OIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLJBROGBAF63ZVEYPFQX6VDPJDAOO24VGDUYLHPQZVRDLT5U6O5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateOutboundConnection": {
            "http": {
                "requestUri": "/2021-01-01/opensearch/cc/outboundConnection"
            },
            "input": {
                "type": "structure",
                "required": [
                    "LocalDomainInfo",
                    "RemoteDomainInfo",
                    "ConnectionAlias"
                ],
                "members": {
                    "LocalDomainInfo": {
                        "shape": "S5"
                    },
                    "RemoteDomainInfo": {
                        "shape": "S5"
                    },
                    "ConnectionAlias": {},
                    "ConnectionMode": {},
                    "ConnectionProperties": {
                        "shape": "S3a"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "LocalDomainInfo": {
                        "shape": "S5"
                    },
                    "RemoteDomainInfo": {
                        "shape": "S5"
                    },
                    "ConnectionAlias": {},
                    "ConnectionStatus": {
                        "shape": "S2z"
                    },
                    "ConnectionId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RMMBBTGC33UK527HLB7YQWCGYSRKUVYKU76ERH3AAYUELYCSIJCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVWN2XSEXMMHMY7ZOSDT4I5VHY5UWKH7DJA2UZ5OYELM5DS7OFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAJYCCV7BZOTJ5PX67DAJU5KLSC6AVXYP6LFW3IKO5DZMLHI6IUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDNZ6YXC7FZZF4CINSIMYPC5ENFRQKYWKEBKZAMGGN6I7YHZABOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N67E6FB6ZEKSO3NKY34AEHA7S6SRPDH5TWIVFMVHKE36BTBEOAIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2PP6YNUJNERRQNVEZ77PM5HG26XVRDXEP55IJLU5F7CNVJICXCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WBY7Y5QLJFAP72KENDGTQF6TTIOBYNPUTHR2YDLYNWLFL4LMNEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPDXGONTYEUK46DA45S3FKKRQFYZW3PKCIQRLBPQIPT2WXM272EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KO64KZDL7XG4PLJZIR5DRQGUSRDVWDTFJYUAUYYDXJ6DM665SULQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4IR74KYD4BUYWHTG4KEBARHTZX7WTVJTA32TBXFXRYQWPLZWUXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TWYWLMEDCDE76W2OFM66OHC7XY32Z6LNUZ2KGLCOPCKBXI2I5OIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLJBROGBAF63ZVEYPFQX6VDPJDAOO24VGDUYLHPQZVRDLT5U6O5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreatePackage": {
            "http": {
                "requestUri": "/2021-01-01/packages"
            },
            "input": {
                "type": "structure",
                "required": [
                    "PackageName",
                    "PackageType",
                    "PackageSource"
                ],
                "members": {
                    "PackageName": {},
                    "PackageType": {},
                    "PackageDescription": {},
                    "PackageSource": {
                        "shape": "S33"
                    },
                    "PackageConfiguration": {
                        "shape": "S4r"
                    },
                    "EngineVersion": {},
                    "PackageVendingOptions": {
                        "shape": "S60"
                    },
                    "PackageEncryptionOptions": {
                        "shape": "S61"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "PackageDetails": {
                        "shape": "S37"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RMMBBTGC33UK527HLB7YQWCGYSRKUVYKU76ERH3AAYUELYCSIJCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVWN2XSEXMMHMY7ZOSDT4I5VHY5UWKH7DJA2UZ5OYELM5DS7OFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAJYCCV7BZOTJ5PX67DAJU5KLSC6AVXYP6LFW3IKO5DZMLHI6IUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDNZ6YXC7FZZF4CINSIMYPC5ENFRQKYWKEBKZAMGGN6I7YHZABOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N67E6FB6ZEKSO3NKY34AEHA7S6SRPDH5TWIVFMVHKE36BTBEOAIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2PP6YNUJNERRQNVEZ77PM5HG26XVRDXEP55IJLU5F7CNVJICXCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WBY7Y5QLJFAP72KENDGTQF6TTIOBYNPUTHR2YDLYNWLFL4LMNEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPDXGONTYEUK46DA45S3FKKRQFYZW3PKCIQRLBPQIPT2WXM272EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KO64KZDL7XG4PLJZIR5DRQGUSRDVWDTFJYUAUYYDXJ6DM665SULQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4IR74KYD4BUYWHTG4KEBARHTZX7WTVJTA32TBXFXRYQWPLZWUXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TWYWLMEDCDE76W2OFM66OHC7XY32Z6LNUZ2KGLCOPCKBXI2I5OIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLJBROGBAF63ZVEYPFQX6VDPJDAOO24VGDUYLHPQZVRDLT5U6O5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateVpcEndpoint": {
            "http": {
                "requestUri": "/2021-01-01/opensearch/vpcEndpoints"
            },
            "input": {
                "type": "structure",
                "required": [
                    "DomainArn",
                    "VpcOptions"
                ],
                "members": {
                    "DomainArn": {},
                    "VpcOptions": {
                        "shape": "S1k"
                    },
                    "ClientToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "VpcEndpoint"
                ],
                "members": {
                    "VpcEndpoint": {
                        "shape": "S3e"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LA33ZB5X626QVUV36ONY4Q7MPJ7NXOUAB6RCHY47AUCSJ72P7IIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJMLDE7XFZMTHU6TKYTXRNZUJIBSTAFWYMZLQQ7HQFI4AS5OUW2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZD3RFEMI3UY2HOH7HG6ZWN3BYYBHERXSHPDGGIHKXCBJJ66F2EQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JFQZEARGM67ZH3NIB4WHZK4FTKUUIVTUNEWLB5B2JZG2UCYUDMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SPRKWIFP2AYLEF76AZMVHHEBOBLQ5647VWU53LX3HTTTM3JPOEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGJPVOQZGJBAK6LKJIZI5KKSJRKI72NZEUOH5C2ZZXFCZXT5W7JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ECC7SDRUTSQFHIGF6OEGIE7RYHUNV4Y6XPCASPU55S5VVX3TN32Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3J3CMJL3BIO2BV4OJZK4TXSSC63XCAZOM2YUQ3U7FCYCBDPRAUPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5AFIKQVXABYBMJVUEIKA7XA6GQBPYE4LP33JFYZU6U3XTQD57LOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RMMBBTGC33UK527HLB7YQWCGYSRKUVYKU76ERH3AAYUELYCSIJCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVWN2XSEXMMHMY7ZOSDT4I5VHY5UWKH7DJA2UZ5OYELM5DS7OFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAJYCCV7BZOTJ5PX67DAJU5KLSC6AVXYP6LFW3IKO5DZMLHI6IUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N67E6FB6ZEKSO3NKY34AEHA7S6SRPDH5TWIVFMVHKE36BTBEOAIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2PP6YNUJNERRQNVEZ77PM5HG26XVRDXEP55IJLU5F7CNVJICXCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WBY7Y5QLJFAP72KENDGTQF6TTIOBYNPUTHR2YDLYNWLFL4LMNEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPDXGONTYEUK46DA45S3FKKRQFYZW3PKCIQRLBPQIPT2WXM272EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KO64KZDL7XG4PLJZIR5DRQGUSRDVWDTFJYUAUYYDXJ6DM665SULQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4IR74KYD4BUYWHTG4KEBARHTZX7WTVJTA32TBXFXRYQWPLZWUXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TWYWLMEDCDE76W2OFM66OHC7XY32Z6LNUZ2KGLCOPCKBXI2I5OIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLJBROGBAF63ZVEYPFQX6VDPJDAOO24VGDUYLHPQZVRDLT5U6O5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteDomain": {
            "http": {
                "method": "DELETE",
                "requestUri": "/2021-01-01/opensearch/domain/{DomainName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "DomainName"
                ],
                "members": {
                    "DomainName": {
                        "location": "uri",
                        "locationName": "DomainName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DomainStatus": {
                        "shape": "S2j"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RMMBBTGC33UK527HLB7YQWCGYSRKUVYKU76ERH3AAYUELYCSIJCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVWN2XSEXMMHMY7ZOSDT4I5VHY5UWKH7DJA2UZ5OYELM5DS7OFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAJYCCV7BZOTJ5PX67DAJU5KLSC6AVXYP6LFW3IKO5DZMLHI6IUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDNZ6YXC7FZZF4CINSIMYPC5ENFRQKYWKEBKZAMGGN6I7YHZABOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N67E6FB6ZEKSO3NKY34AEHA7S6SRPDH5TWIVFMVHKE36BTBEOAIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2PP6YNUJNERRQNVEZ77PM5HG26XVRDXEP55IJLU5F7CNVJICXCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WBY7Y5QLJFAP72KENDGTQF6TTIOBYNPUTHR2YDLYNWLFL4LMNEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPDXGONTYEUK46DA45S3FKKRQFYZW3PKCIQRLBPQIPT2WXM272EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KO64KZDL7XG4PLJZIR5DRQGUSRDVWDTFJYUAUYYDXJ6DM665SULQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4IR74KYD4BUYWHTG4KEBARHTZX7WTVJTA32TBXFXRYQWPLZWUXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TWYWLMEDCDE76W2OFM66OHC7XY32Z6LNUZ2KGLCOPCKBXI2I5OIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLJBROGBAF63ZVEYPFQX6VDPJDAOO24VGDUYLHPQZVRDLT5U6O5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteInboundConnection": {
            "http": {
                "method": "DELETE",
                "requestUri": "/2021-01-01/opensearch/cc/inboundConnection/{ConnectionId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ConnectionId"
                ],
                "members": {
                    "ConnectionId": {
                        "location": "uri",
                        "locationName": "ConnectionId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Connection": {
                        "shape": "S4"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RMMBBTGC33UK527HLB7YQWCGYSRKUVYKU76ERH3AAYUELYCSIJCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVWN2XSEXMMHMY7ZOSDT4I5VHY5UWKH7DJA2UZ5OYELM5DS7OFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAJYCCV7BZOTJ5PX67DAJU5KLSC6AVXYP6LFW3IKO5DZMLHI6IUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDNZ6YXC7FZZF4CINSIMYPC5ENFRQKYWKEBKZAMGGN6I7YHZABOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N67E6FB6ZEKSO3NKY34AEHA7S6SRPDH5TWIVFMVHKE36BTBEOAIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2PP6YNUJNERRQNVEZ77PM5HG26XVRDXEP55IJLU5F7CNVJICXCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WBY7Y5QLJFAP72KENDGTQF6TTIOBYNPUTHR2YDLYNWLFL4LMNEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPDXGONTYEUK46DA45S3FKKRQFYZW3PKCIQRLBPQIPT2WXM272EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KO64KZDL7XG4PLJZIR5DRQGUSRDVWDTFJYUAUYYDXJ6DM665SULQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4IR74KYD4BUYWHTG4KEBARHTZX7WTVJTA32TBXFXRYQWPLZWUXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TWYWLMEDCDE76W2OFM66OHC7XY32Z6LNUZ2KGLCOPCKBXI2I5OIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLJBROGBAF63ZVEYPFQX6VDPJDAOO24VGDUYLHPQZVRDLT5U6O5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteOutboundConnection": {
            "http": {
                "method": "DELETE",
                "requestUri": "/2021-01-01/opensearch/cc/outboundConnection/{ConnectionId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ConnectionId"
                ],
                "members": {
                    "ConnectionId": {
                        "location": "uri",
                        "locationName": "ConnectionId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Connection": {
                        "shape": "S3o"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RMMBBTGC33UK527HLB7YQWCGYSRKUVYKU76ERH3AAYUELYCSIJCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVWN2XSEXMMHMY7ZOSDT4I5VHY5UWKH7DJA2UZ5OYELM5DS7OFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAJYCCV7BZOTJ5PX67DAJU5KLSC6AVXYP6LFW3IKO5DZMLHI6IUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDNZ6YXC7FZZF4CINSIMYPC5ENFRQKYWKEBKZAMGGN6I7YHZABOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N67E6FB6ZEKSO3NKY34AEHA7S6SRPDH5TWIVFMVHKE36BTBEOAIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2PP6YNUJNERRQNVEZ77PM5HG26XVRDXEP55IJLU5F7CNVJICXCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WBY7Y5QLJFAP72KENDGTQF6TTIOBYNPUTHR2YDLYNWLFL4LMNEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPDXGONTYEUK46DA45S3FKKRQFYZW3PKCIQRLBPQIPT2WXM272EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KO64KZDL7XG4PLJZIR5DRQGUSRDVWDTFJYUAUYYDXJ6DM665SULQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4IR74KYD4BUYWHTG4KEBARHTZX7WTVJTA32TBXFXRYQWPLZWUXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TWYWLMEDCDE76W2OFM66OHC7XY32Z6LNUZ2KGLCOPCKBXI2I5OIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLJBROGBAF63ZVEYPFQX6VDPJDAOO24VGDUYLHPQZVRDLT5U6O5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeletePackage": {
            "http": {
                "method": "DELETE",
                "requestUri": "/2021-01-01/packages/{PackageID}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "PackageID"
                ],
                "members": {
                    "PackageID": {
                        "location": "uri",
                        "locationName": "PackageID"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "PackageDetails": {
                        "shape": "S37"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RMMBBTGC33UK527HLB7YQWCGYSRKUVYKU76ERH3AAYUELYCSIJCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVWN2XSEXMMHMY7ZOSDT4I5VHY5UWKH7DJA2UZ5OYELM5DS7OFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAJYCCV7BZOTJ5PX67DAJU5KLSC6AVXYP6LFW3IKO5DZMLHI6IUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDNZ6YXC7FZZF4CINSIMYPC5ENFRQKYWKEBKZAMGGN6I7YHZABOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N67E6FB6ZEKSO3NKY34AEHA7S6SRPDH5TWIVFMVHKE36BTBEOAIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2PP6YNUJNERRQNVEZ77PM5HG26XVRDXEP55IJLU5F7CNVJICXCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WBY7Y5QLJFAP72KENDGTQF6TTIOBYNPUTHR2YDLYNWLFL4LMNEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPDXGONTYEUK46DA45S3FKKRQFYZW3PKCIQRLBPQIPT2WXM272EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KO64KZDL7XG4PLJZIR5DRQGUSRDVWDTFJYUAUYYDXJ6DM665SULQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4IR74KYD4BUYWHTG4KEBARHTZX7WTVJTA32TBXFXRYQWPLZWUXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TWYWLMEDCDE76W2OFM66OHC7XY32Z6LNUZ2KGLCOPCKBXI2I5OIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLJBROGBAF63ZVEYPFQX6VDPJDAOO24VGDUYLHPQZVRDLT5U6O5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteVpcEndpoint": {
            "http": {
                "method": "DELETE",
                "requestUri": "/2021-01-01/opensearch/vpcEndpoints/{VpcEndpointId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "VpcEndpointId"
                ],
                "members": {
                    "VpcEndpointId": {
                        "location": "uri",
                        "locationName": "VpcEndpointId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "VpcEndpointSummary"
                ],
                "members": {
                    "VpcEndpointSummary": {
                        "shape": "S3t"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LA33ZB5X626QVUV36ONY4Q7MPJ7NXOUAB6RCHY47AUCSJ72P7IIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJMLDE7XFZMTHU6TKYTXRNZUJIBSTAFWYMZLQQ7HQFI4AS5OUW2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZD3RFEMI3UY2HOH7HG6ZWN3BYYBHERXSHPDGGIHKXCBJJ66F2EQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JFQZEARGM67ZH3NIB4WHZK4FTKUUIVTUNEWLB5B2JZG2UCYUDMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SPRKWIFP2AYLEF76AZMVHHEBOBLQ5647VWU53LX3HTTTM3JPOEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGJPVOQZGJBAK6LKJIZI5KKSJRKI72NZEUOH5C2ZZXFCZXT5W7JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ECC7SDRUTSQFHIGF6OEGIE7RYHUNV4Y6XPCASPU55S5VVX3TN32Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3J3CMJL3BIO2BV4OJZK4TXSSC63XCAZOM2YUQ3U7FCYCBDPRAUPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5AFIKQVXABYBMJVUEIKA7XA6GQBPYE4LP33JFYZU6U3XTQD57LOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RMMBBTGC33UK527HLB7YQWCGYSRKUVYKU76ERH3AAYUELYCSIJCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVWN2XSEXMMHMY7ZOSDT4I5VHY5UWKH7DJA2UZ5OYELM5DS7OFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAJYCCV7BZOTJ5PX67DAJU5KLSC6AVXYP6LFW3IKO5DZMLHI6IUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N67E6FB6ZEKSO3NKY34AEHA7S6SRPDH5TWIVFMVHKE36BTBEOAIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2PP6YNUJNERRQNVEZ77PM5HG26XVRDXEP55IJLU5F7CNVJICXCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WBY7Y5QLJFAP72KENDGTQF6TTIOBYNPUTHR2YDLYNWLFL4LMNEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPDXGONTYEUK46DA45S3FKKRQFYZW3PKCIQRLBPQIPT2WXM272EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KO64KZDL7XG4PLJZIR5DRQGUSRDVWDTFJYUAUYYDXJ6DM665SULQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4IR74KYD4BUYWHTG4KEBARHTZX7WTVJTA32TBXFXRYQWPLZWUXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TWYWLMEDCDE76W2OFM66OHC7XY32Z6LNUZ2KGLCOPCKBXI2I5OIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLJBROGBAF63ZVEYPFQX6VDPJDAOO24VGDUYLHPQZVRDLT5U6O5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DescribeDomain": {
            "http": {
                "method": "GET",
                "requestUri": "/2021-01-01/opensearch/domain/{DomainName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "DomainName"
                ],
                "members": {
                    "DomainName": {
                        "location": "uri",
                        "locationName": "DomainName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "DomainStatus"
                ],
                "members": {
                    "DomainStatus": {
                        "shape": "S2j"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RMMBBTGC33UK527HLB7YQWCGYSRKUVYKU76ERH3AAYUELYCSIJCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVWN2XSEXMMHMY7ZOSDT4I5VHY5UWKH7DJA2UZ5OYELM5DS7OFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAJYCCV7BZOTJ5PX67DAJU5KLSC6AVXYP6LFW3IKO5DZMLHI6IUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDNZ6YXC7FZZF4CINSIMYPC5ENFRQKYWKEBKZAMGGN6I7YHZABOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N67E6FB6ZEKSO3NKY34AEHA7S6SRPDH5TWIVFMVHKE36BTBEOAIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2PP6YNUJNERRQNVEZ77PM5HG26XVRDXEP55IJLU5F7CNVJICXCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WBY7Y5QLJFAP72KENDGTQF6TTIOBYNPUTHR2YDLYNWLFL4LMNEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPDXGONTYEUK46DA45S3FKKRQFYZW3PKCIQRLBPQIPT2WXM272EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KO64KZDL7XG4PLJZIR5DRQGUSRDVWDTFJYUAUYYDXJ6DM665SULQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4IR74KYD4BUYWHTG4KEBARHTZX7WTVJTA32TBXFXRYQWPLZWUXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TWYWLMEDCDE76W2OFM66OHC7XY32Z6LNUZ2KGLCOPCKBXI2I5OIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLJBROGBAF63ZVEYPFQX6VDPJDAOO24VGDUYLHPQZVRDLT5U6O5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DescribeDomainAutoTunes": {
            "http": {
                "method": "GET",
                "requestUri": "/2021-01-01/opensearch/domain/{DomainName}/autoTunes"
            },
            "input": {
                "type": "structure",
                "required": [
                    "DomainName"
                ],
                "members": {
                    "DomainName": {
                        "location": "uri",
                        "locationName": "DomainName"
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AutoTunes": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "AutoTuneType": {},
                                "AutoTuneDetails": {
                                    "type": "structure",
                                    "members": {
                                        "ScheduledAutoTuneDetails": {
                                            "type": "structure",
                                            "members": {
                                                "Date": {
                                                    "type": "timestamp"
                                                },
                                                "ActionType": {},
                                                "Action": {},
                                                "Severity": {}
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RMMBBTGC33UK527HLB7YQWCGYSRKUVYKU76ERH3AAYUELYCSIJCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVWN2XSEXMMHMY7ZOSDT4I5VHY5UWKH7DJA2UZ5OYELM5DS7OFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAJYCCV7BZOTJ5PX67DAJU5KLSC6AVXYP6LFW3IKO5DZMLHI6IUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDNZ6YXC7FZZF4CINSIMYPC5ENFRQKYWKEBKZAMGGN6I7YHZABOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N67E6FB6ZEKSO3NKY34AEHA7S6SRPDH5TWIVFMVHKE36BTBEOAIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2PP6YNUJNERRQNVEZ77PM5HG26XVRDXEP55IJLU5F7CNVJICXCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WBY7Y5QLJFAP72KENDGTQF6TTIOBYNPUTHR2YDLYNWLFL4LMNEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPDXGONTYEUK46DA45S3FKKRQFYZW3PKCIQRLBPQIPT2WXM272EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KO64KZDL7XG4PLJZIR5DRQGUSRDVWDTFJYUAUYYDXJ6DM665SULQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4IR74KYD4BUYWHTG4KEBARHTZX7WTVJTA32TBXFXRYQWPLZWUXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TWYWLMEDCDE76W2OFM66OHC7XY32Z6LNUZ2KGLCOPCKBXI2I5OIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLJBROGBAF63ZVEYPFQX6VDPJDAOO24VGDUYLHPQZVRDLT5U6O5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DescribeDomainChangeProgress": {
            "http": {
                "method": "GET",
                "requestUri": "/2021-01-01/opensearch/domain/{DomainName}/progress"
            },
            "input": {
                "type": "structure",
                "required": [
                    "DomainName"
                ],
                "members": {
                    "DomainName": {
                        "location": "uri",
                        "locationName": "DomainName"
                    },
                    "ChangeId": {
                        "location": "querystring",
                        "locationName": "changeid"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ChangeProgressStatus": {
                        "type": "structure",
                        "members": {
                            "ChangeId": {},
                            "StartTime": {
                                "type": "timestamp"
                            },
                            "Status": {},
                            "PendingProperties": {
                                "shape": "S1l"
                            },
                            "CompletedProperties": {
                                "shape": "S1l"
                            },
                            "TotalNumberOfStages": {
                                "type": "integer"
                            },
                            "ChangeProgressStages": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "members": {
                                        "Name": {},
                                        "Status": {},
                                        "Description": {},
                                        "LastUpdated": {
                                            "type": "timestamp"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LA33ZB5X626QVUV36ONY4Q7MPJ7NXOUAB6RCHY47AUCSJ72P7IIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJMLDE7XFZMTHU6TKYTXRNZUJIBSTAFWYMZLQQ7HQFI4AS5OUW2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZD3RFEMI3UY2HOH7HG6ZWN3BYYBHERXSHPDGGIHKXCBJJ66F2EQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JFQZEARGM67ZH3NIB4WHZK4FTKUUIVTUNEWLB5B2JZG2UCYUDMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SPRKWIFP2AYLEF76AZMVHHEBOBLQ5647VWU53LX3HTTTM3JPOEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGJPVOQZGJBAK6LKJIZI5KKSJRKI72NZEUOH5C2ZZXFCZXT5W7JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ECC7SDRUTSQFHIGF6OEGIE7RYHUNV4Y6XPCASPU55S5VVX3TN32Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3J3CMJL3BIO2BV4OJZK4TXSSC63XCAZOM2YUQ3U7FCYCBDPRAUPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5AFIKQVXABYBMJVUEIKA7XA6GQBPYE4LP33JFYZU6U3XTQD57LOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RMMBBTGC33UK527HLB7YQWCGYSRKUVYKU76ERH3AAYUELYCSIJCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVWN2XSEXMMHMY7ZOSDT4I5VHY5UWKH7DJA2UZ5OYELM5DS7OFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAJYCCV7BZOTJ5PX67DAJU5KLSC6AVXYP6LFW3IKO5DZMLHI6IUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N67E6FB6ZEKSO3NKY34AEHA7S6SRPDH5TWIVFMVHKE36BTBEOAIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2PP6YNUJNERRQNVEZ77PM5HG26XVRDXEP55IJLU5F7CNVJICXCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WBY7Y5QLJFAP72KENDGTQF6TTIOBYNPUTHR2YDLYNWLFL4LMNEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPDXGONTYEUK46DA45S3FKKRQFYZW3PKCIQRLBPQIPT2WXM272EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KO64KZDL7XG4PLJZIR5DRQGUSRDVWDTFJYUAUYYDXJ6DM665SULQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4IR74KYD4BUYWHTG4KEBARHTZX7WTVJTA32TBXFXRYQWPLZWUXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TWYWLMEDCDE76W2OFM66OHC7XY32Z6LNUZ2KGLCOPCKBXI2I5OIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLJBROGBAF63ZVEYPFQX6VDPJDAOO24VGDUYLHPQZVRDLT5U6O5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DescribeDomainConfig": {
            "http": {
                "method": "GET",
                "requestUri": "/2021-01-01/opensearch/domain/{DomainName}/config"
            },
            "input": {
                "type": "structure",
                "required": [
                    "DomainName"
                ],
                "members": {
                    "DomainName": {
                        "location": "uri",
                        "locationName": "DomainName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "DomainConfig"
                ],
                "members": {
                    "DomainConfig": {
                        "shape": "S4m"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RMMBBTGC33UK527HLB7YQWCGYSRKUVYKU76ERH3AAYUELYCSIJCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVWN2XSEXMMHMY7ZOSDT4I5VHY5UWKH7DJA2UZ5OYELM5DS7OFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAJYCCV7BZOTJ5PX67DAJU5KLSC6AVXYP6LFW3IKO5DZMLHI6IUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDNZ6YXC7FZZF4CINSIMYPC5ENFRQKYWKEBKZAMGGN6I7YHZABOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N67E6FB6ZEKSO3NKY34AEHA7S6SRPDH5TWIVFMVHKE36BTBEOAIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2PP6YNUJNERRQNVEZ77PM5HG26XVRDXEP55IJLU5F7CNVJICXCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WBY7Y5QLJFAP72KENDGTQF6TTIOBYNPUTHR2YDLYNWLFL4LMNEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPDXGONTYEUK46DA45S3FKKRQFYZW3PKCIQRLBPQIPT2WXM272EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KO64KZDL7XG4PLJZIR5DRQGUSRDVWDTFJYUAUYYDXJ6DM665SULQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4IR74KYD4BUYWHTG4KEBARHTZX7WTVJTA32TBXFXRYQWPLZWUXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TWYWLMEDCDE76W2OFM66OHC7XY32Z6LNUZ2KGLCOPCKBXI2I5OIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLJBROGBAF63ZVEYPFQX6VDPJDAOO24VGDUYLHPQZVRDLT5U6O5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DescribeDomains": {
            "http": {
                "requestUri": "/2021-01-01/opensearch/domain-info"
            },
            "input": {
                "type": "structure",
                "required": [
                    "DomainNames"
                ],
                "members": {
                    "DomainNames": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "DomainStatusList"
                ],
                "members": {
                    "DomainStatusList": {
                        "type": "list",
                        "member": {
                            "shape": "S2j"
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RMMBBTGC33UK527HLB7YQWCGYSRKUVYKU76ERH3AAYUELYCSIJCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVWN2XSEXMMHMY7ZOSDT4I5VHY5UWKH7DJA2UZ5OYELM5DS7OFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAJYCCV7BZOTJ5PX67DAJU5KLSC6AVXYP6LFW3IKO5DZMLHI6IUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDNZ6YXC7FZZF4CINSIMYPC5ENFRQKYWKEBKZAMGGN6I7YHZABOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N67E6FB6ZEKSO3NKY34AEHA7S6SRPDH5TWIVFMVHKE36BTBEOAIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2PP6YNUJNERRQNVEZ77PM5HG26XVRDXEP55IJLU5F7CNVJICXCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WBY7Y5QLJFAP72KENDGTQF6TTIOBYNPUTHR2YDLYNWLFL4LMNEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPDXGONTYEUK46DA45S3FKKRQFYZW3PKCIQRLBPQIPT2WXM272EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KO64KZDL7XG4PLJZIR5DRQGUSRDVWDTFJYUAUYYDXJ6DM665SULQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4IR74KYD4BUYWHTG4KEBARHTZX7WTVJTA32TBXFXRYQWPLZWUXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TWYWLMEDCDE76W2OFM66OHC7XY32Z6LNUZ2KGLCOPCKBXI2I5OIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLJBROGBAF63ZVEYPFQX6VDPJDAOO24VGDUYLHPQZVRDLT5U6O5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DescribeInboundConnections": {
            "http": {
                "requestUri": "/2021-01-01/opensearch/cc/inboundConnection/search"
            },
            "input": {
                "type": "structure",
                "members": {
                    "Filters": {
                        "shape": "S5c"
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Connections": {
                        "type": "list",
                        "member": {
                            "shape": "S4"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RMMBBTGC33UK527HLB7YQWCGYSRKUVYKU76ERH3AAYUELYCSIJCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVWN2XSEXMMHMY7ZOSDT4I5VHY5UWKH7DJA2UZ5OYELM5DS7OFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAJYCCV7BZOTJ5PX67DAJU5KLSC6AVXYP6LFW3IKO5DZMLHI6IUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDNZ6YXC7FZZF4CINSIMYPC5ENFRQKYWKEBKZAMGGN6I7YHZABOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N67E6FB6ZEKSO3NKY34AEHA7S6SRPDH5TWIVFMVHKE36BTBEOAIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2PP6YNUJNERRQNVEZ77PM5HG26XVRDXEP55IJLU5F7CNVJICXCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WBY7Y5QLJFAP72KENDGTQF6TTIOBYNPUTHR2YDLYNWLFL4LMNEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPDXGONTYEUK46DA45S3FKKRQFYZW3PKCIQRLBPQIPT2WXM272EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KO64KZDL7XG4PLJZIR5DRQGUSRDVWDTFJYUAUYYDXJ6DM665SULQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4IR74KYD4BUYWHTG4KEBARHTZX7WTVJTA32TBXFXRYQWPLZWUXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TWYWLMEDCDE76W2OFM66OHC7XY32Z6LNUZ2KGLCOPCKBXI2I5OIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLJBROGBAF63ZVEYPFQX6VDPJDAOO24VGDUYLHPQZVRDLT5U6O5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DescribeInstanceTypeLimits": {
            "http": {
                "method": "GET",
                "requestUri": "/2021-01-01/opensearch/instanceTypeLimits/{EngineVersion}/{InstanceType}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "InstanceType",
                    "EngineVersion"
                ],
                "members": {
                    "DomainName": {
                        "location": "querystring",
                        "locationName": "domainName"
                    },
                    "InstanceType": {
                        "location": "uri",
                        "locationName": "InstanceType"
                    },
                    "EngineVersion": {
                        "location": "uri",
                        "locationName": "EngineVersion"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "LimitsByRole": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "type": "structure",
                            "members": {
                                "StorageTypes": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "StorageTypeName": {},
                                            "StorageSubTypeName": {},
                                            "StorageTypeLimits": {
                                                "type": "list",
                                                "member": {
                                                    "type": "structure",
                                                    "members": {
                                                        "LimitName": {},
                                                        "LimitValues": {
                                                            "shape": "S5u"
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                },
                                "InstanceLimits": {
                                    "type": "structure",
                                    "members": {
                                        "InstanceCountLimits": {
                                            "type": "structure",
                                            "members": {
                                                "MinimumInstanceCount": {
                                                    "type": "integer"
                                                },
                                                "MaximumInstanceCount": {
                                                    "type": "integer"
                                                }
                                            }
                                        }
                                    }
                                },
                                "AdditionalLimits": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "LimitName": {},
                                            "LimitValues": {
                                                "shape": "S5u"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RMMBBTGC33UK527HLB7YQWCGYSRKUVYKU76ERH3AAYUELYCSIJCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVWN2XSEXMMHMY7ZOSDT4I5VHY5UWKH7DJA2UZ5OYELM5DS7OFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAJYCCV7BZOTJ5PX67DAJU5KLSC6AVXYP6LFW3IKO5DZMLHI6IUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDNZ6YXC7FZZF4CINSIMYPC5ENFRQKYWKEBKZAMGGN6I7YHZABOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N67E6FB6ZEKSO3NKY34AEHA7S6SRPDH5TWIVFMVHKE36BTBEOAIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2PP6YNUJNERRQNVEZ77PM5HG26XVRDXEP55IJLU5F7CNVJICXCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WBY7Y5QLJFAP72KENDGTQF6TTIOBYNPUTHR2YDLYNWLFL4LMNEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPDXGONTYEUK46DA45S3FKKRQFYZW3PKCIQRLBPQIPT2WXM272EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KO64KZDL7XG4PLJZIR5DRQGUSRDVWDTFJYUAUYYDXJ6DM665SULQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4IR74KYD4BUYWHTG4KEBARHTZX7WTVJTA32TBXFXRYQWPLZWUXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TWYWLMEDCDE76W2OFM66OHC7XY32Z6LNUZ2KGLCOPCKBXI2I5OIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLJBROGBAF63ZVEYPFQX6VDPJDAOO24VGDUYLHPQZVRDLT5U6O5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DescribeOutboundConnections": {
            "http": {
                "requestUri": "/2021-01-01/opensearch/cc/outboundConnection/search"
            },
            "input": {
                "type": "structure",
                "members": {
                    "Filters": {
                        "shape": "S5c"
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Connections": {
                        "type": "list",
                        "member": {
                            "shape": "S3o"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RMMBBTGC33UK527HLB7YQWCGYSRKUVYKU76ERH3AAYUELYCSIJCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVWN2XSEXMMHMY7ZOSDT4I5VHY5UWKH7DJA2UZ5OYELM5DS7OFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAJYCCV7BZOTJ5PX67DAJU5KLSC6AVXYP6LFW3IKO5DZMLHI6IUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDNZ6YXC7FZZF4CINSIMYPC5ENFRQKYWKEBKZAMGGN6I7YHZABOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N67E6FB6ZEKSO3NKY34AEHA7S6SRPDH5TWIVFMVHKE36BTBEOAIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2PP6YNUJNERRQNVEZ77PM5HG26XVRDXEP55IJLU5F7CNVJICXCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WBY7Y5QLJFAP72KENDGTQF6TTIOBYNPUTHR2YDLYNWLFL4LMNEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPDXGONTYEUK46DA45S3FKKRQFYZW3PKCIQRLBPQIPT2WXM272EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KO64KZDL7XG4PLJZIR5DRQGUSRDVWDTFJYUAUYYDXJ6DM665SULQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4IR74KYD4BUYWHTG4KEBARHTZX7WTVJTA32TBXFXRYQWPLZWUXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TWYWLMEDCDE76W2OFM66OHC7XY32Z6LNUZ2KGLCOPCKBXI2I5OIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLJBROGBAF63ZVEYPFQX6VDPJDAOO24VGDUYLHPQZVRDLT5U6O5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DescribePackages": {
            "http": {
                "requestUri": "/2021-01-01/packages/describe"
            },
            "input": {
                "type": "structure",
                "members": {
                    "Filters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Name": {},
                                "Value": {
                                    "type": "list",
                                    "member": {}
                                }
                            }
                        }
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "PackageDetailsList": {
                        "type": "list",
                        "member": {
                            "shape": "S37"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RMMBBTGC33UK527HLB7YQWCGYSRKUVYKU76ERH3AAYUELYCSIJCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVWN2XSEXMMHMY7ZOSDT4I5VHY5UWKH7DJA2UZ5OYELM5DS7OFBA/vendors.js",
[...]
