{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2021-11-01",
        "endpointPrefix": "aoss",
        "jsonVersion": "1.0",
        "protocol": "json",
        "serviceFullName": "OpenSearch Service Serverless",
        "serviceId": "OpenSearchServerless",
        "signatureVersion": "v4",
        "signingName": "aoss",
        "targetPrefix": "OpenSearchServerless",
        "uid": "opensearchserverless-2021-11-01",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CGIWKKAFIJ5W6Z4Z4JMG6I5IJWAYQDWYG6KJUFLOF772RYRNGSDA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NCRXTRBSNMOLDQUG6V5PVRSXZ74X5XHXFHCIZZNW7Y6EAQ7H654Q/vendors.sdk.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6MPAUKASQM26PTK2JPCK4277LVTODLTR3PBGZ3VHCNWZFPJLMOTA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GQ6A5X3GPFOJ7CDQLQEDK6IZBKNDZHVCVYCRMRNN3EWDLSE2ZHLA/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LNMH7KLTFGFMRXRYYSZ6SS7N5UNAEGAUEU5HDKHYLPAOWWBPDQEA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MLQXHGRTIRXS6EKCIADUYAFEWV5V55WTIPR34VXLXVT2GL2B7ETA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YEVMO6ZPP4DWVWHX5NVGFND25RCW7NRR2A62BC4HZD6ATC26KNQA/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/T3KA2KYBCMBQKRH57CM2ZP66RWQPEXSXCWYD4GJDYUG3XTPTOGMA/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SDL4OZJV57M3FLKNRTZICQ2DZ6SVAOAIAOR2W4V37V3MWPWTY5GQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Y4WSE75D6IB56XVYWC7F57SFKYDIA5JYAL5RZFFBIK25VH7GIPTQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MIT7HTDRERQLDB6GV5DATJRC6ZJBGUN2S3HCDPSSA4PN6N3LJ5XA/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5K6KPGVTE5E6LE6X25GLJRIF2UHSMHNKMNBYC7KZ2NWAZ7BLFKLQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HOTE2PMM75DZ4VFAAFW3X3DD4CRWOKCZJ4VVZ2HR3E22ZVQQVWKQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/E7LWAVPLXDKKBSOXBCLPSFSJWO3AFE24ARW3Q4PZXDNTS5LVZKRA/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PF5FSLXREG5M4AX4R43TQKRVBPPQBLCDMHEP2N4XPKNYOCVFPS6A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JHMO7TF7PZFNDGF5LE5XBA6A73N3IGLIP5MAME7RJZGRHXOHQ5YA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EQH7DWKPFGT3YHK6A6I6MI4STXJDM2THTMWM7FEH7JLPHPARLFZQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YZ7NJDTN6QTBZV3C4MKZWINYDL2QP5SHIBPXAJ35Y47TS4VU6WVQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FIRBO6IDU5RL6DLPYHVDBUMNUFSCRBMIA2ZYRLK2QXPRIM5ZPXEA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js"
        ]
    },
    "operations": {
        "BatchGetCollection": {
            "input": {
                "type": "structure",
                "members": {
                    "ids": {
                        "type": "list",
                        "member": {}
                    },
                    "names": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "collectionDetails": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "arn": {},
                                "collectionEndpoint": {},
                                "createdDate": {
                                    "type": "long"
                                },
                                "dashboardEndpoint": {},
                                "description": {},
                                "id": {},
                                "kmsKeyArn": {},
                                "lastModifiedDate": {
                                    "type": "long"
                                },
                                "name": {},
                                "status": {},
                                "type": {}
                            }
                        }
                    },
                    "collectionErrorDetails": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "errorCode": {},
                                "errorMessage": {},
                                "id": {},
                                "name": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGIWKKAFIJ5W6Z4Z4JMG6I5IJWAYQDWYG6KJUFLOF772RYRNGSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCRXTRBSNMOLDQUG6V5PVRSXZ74X5XHXFHCIZZNW7Y6EAQ7H654Q/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MPAUKASQM26PTK2JPCK4277LVTODLTR3PBGZ3VHCNWZFPJLMOTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQ6A5X3GPFOJ7CDQLQEDK6IZBKNDZHVCVYCRMRNN3EWDLSE2ZHLA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNMH7KLTFGFMRXRYYSZ6SS7N5UNAEGAUEU5HDKHYLPAOWWBPDQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLQXHGRTIRXS6EKCIADUYAFEWV5V55WTIPR34VXLXVT2GL2B7ETA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEVMO6ZPP4DWVWHX5NVGFND25RCW7NRR2A62BC4HZD6ATC26KNQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3KA2KYBCMBQKRH57CM2ZP66RWQPEXSXCWYD4GJDYUG3XTPTOGMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDL4OZJV57M3FLKNRTZICQ2DZ6SVAOAIAOR2W4V37V3MWPWTY5GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4WSE75D6IB56XVYWC7F57SFKYDIA5JYAL5RZFFBIK25VH7GIPTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIT7HTDRERQLDB6GV5DATJRC6ZJBGUN2S3HCDPSSA4PN6N3LJ5XA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K6KPGVTE5E6LE6X25GLJRIF2UHSMHNKMNBYC7KZ2NWAZ7BLFKLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOTE2PMM75DZ4VFAAFW3X3DD4CRWOKCZJ4VVZ2HR3E22ZVQQVWKQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7LWAVPLXDKKBSOXBCLPSFSJWO3AFE24ARW3Q4PZXDNTS5LVZKRA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PF5FSLXREG5M4AX4R43TQKRVBPPQBLCDMHEP2N4XPKNYOCVFPS6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHMO7TF7PZFNDGF5LE5XBA6A73N3IGLIP5MAME7RJZGRHXOHQ5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQH7DWKPFGT3YHK6A6I6MI4STXJDM2THTMWM7FEH7JLPHPARLFZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZ7NJDTN6QTBZV3C4MKZWINYDL2QP5SHIBPXAJ35Y47TS4VU6WVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIRBO6IDU5RL6DLPYHVDBUMNUFSCRBMIA2ZYRLK2QXPRIM5ZPXEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js"
            ]
        },
        "BatchGetVpcEndpoint": {
            "input": {
                "type": "structure",
                "required": [
                    "ids"
                ],
                "members": {
                    "ids": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "vpcEndpointDetails": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "createdDate": {
                                    "type": "long"
                                },
                                "id": {},
                                "name": {},
                                "securityGroupIds": {
                                    "shape": "Sm"
                                },
                                "status": {},
                                "subnetIds": {
                                    "shape": "Sp"
                                },
                                "vpcId": {}
                            }
                        }
                    },
                    "vpcEndpointErrorDetails": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "errorCode": {},
                                "errorMessage": {},
                                "id": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGIWKKAFIJ5W6Z4Z4JMG6I5IJWAYQDWYG6KJUFLOF772RYRNGSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCRXTRBSNMOLDQUG6V5PVRSXZ74X5XHXFHCIZZNW7Y6EAQ7H654Q/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MPAUKASQM26PTK2JPCK4277LVTODLTR3PBGZ3VHCNWZFPJLMOTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQ6A5X3GPFOJ7CDQLQEDK6IZBKNDZHVCVYCRMRNN3EWDLSE2ZHLA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNMH7KLTFGFMRXRYYSZ6SS7N5UNAEGAUEU5HDKHYLPAOWWBPDQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLQXHGRTIRXS6EKCIADUYAFEWV5V55WTIPR34VXLXVT2GL2B7ETA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEVMO6ZPP4DWVWHX5NVGFND25RCW7NRR2A62BC4HZD6ATC26KNQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3KA2KYBCMBQKRH57CM2ZP66RWQPEXSXCWYD4GJDYUG3XTPTOGMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDL4OZJV57M3FLKNRTZICQ2DZ6SVAOAIAOR2W4V37V3MWPWTY5GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4WSE75D6IB56XVYWC7F57SFKYDIA5JYAL5RZFFBIK25VH7GIPTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIT7HTDRERQLDB6GV5DATJRC6ZJBGUN2S3HCDPSSA4PN6N3LJ5XA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K6KPGVTE5E6LE6X25GLJRIF2UHSMHNKMNBYC7KZ2NWAZ7BLFKLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOTE2PMM75DZ4VFAAFW3X3DD4CRWOKCZJ4VVZ2HR3E22ZVQQVWKQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7LWAVPLXDKKBSOXBCLPSFSJWO3AFE24ARW3Q4PZXDNTS5LVZKRA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PF5FSLXREG5M4AX4R43TQKRVBPPQBLCDMHEP2N4XPKNYOCVFPS6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHMO7TF7PZFNDGF5LE5XBA6A73N3IGLIP5MAME7RJZGRHXOHQ5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQH7DWKPFGT3YHK6A6I6MI4STXJDM2THTMWM7FEH7JLPHPARLFZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZ7NJDTN6QTBZV3C4MKZWINYDL2QP5SHIBPXAJ35Y47TS4VU6WVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIRBO6IDU5RL6DLPYHVDBUMNUFSCRBMIA2ZYRLK2QXPRIM5ZPXEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js"
            ]
        },
        "CreateAccessPolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "policy",
                    "type"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "description": {},
                    "name": {},
                    "policy": {},
                    "type": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "accessPolicyDetail": {
                        "shape": "S11"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGIWKKAFIJ5W6Z4Z4JMG6I5IJWAYQDWYG6KJUFLOF772RYRNGSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCRXTRBSNMOLDQUG6V5PVRSXZ74X5XHXFHCIZZNW7Y6EAQ7H654Q/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MPAUKASQM26PTK2JPCK4277LVTODLTR3PBGZ3VHCNWZFPJLMOTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQ6A5X3GPFOJ7CDQLQEDK6IZBKNDZHVCVYCRMRNN3EWDLSE2ZHLA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNMH7KLTFGFMRXRYYSZ6SS7N5UNAEGAUEU5HDKHYLPAOWWBPDQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLQXHGRTIRXS6EKCIADUYAFEWV5V55WTIPR34VXLXVT2GL2B7ETA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEVMO6ZPP4DWVWHX5NVGFND25RCW7NRR2A62BC4HZD6ATC26KNQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3KA2KYBCMBQKRH57CM2ZP66RWQPEXSXCWYD4GJDYUG3XTPTOGMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDL4OZJV57M3FLKNRTZICQ2DZ6SVAOAIAOR2W4V37V3MWPWTY5GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4WSE75D6IB56XVYWC7F57SFKYDIA5JYAL5RZFFBIK25VH7GIPTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIT7HTDRERQLDB6GV5DATJRC6ZJBGUN2S3HCDPSSA4PN6N3LJ5XA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K6KPGVTE5E6LE6X25GLJRIF2UHSMHNKMNBYC7KZ2NWAZ7BLFKLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOTE2PMM75DZ4VFAAFW3X3DD4CRWOKCZJ4VVZ2HR3E22ZVQQVWKQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7LWAVPLXDKKBSOXBCLPSFSJWO3AFE24ARW3Q4PZXDNTS5LVZKRA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PF5FSLXREG5M4AX4R43TQKRVBPPQBLCDMHEP2N4XPKNYOCVFPS6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHMO7TF7PZFNDGF5LE5XBA6A73N3IGLIP5MAME7RJZGRHXOHQ5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQH7DWKPFGT3YHK6A6I6MI4STXJDM2THTMWM7FEH7JLPHPARLFZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZ7NJDTN6QTBZV3C4MKZWINYDL2QP5SHIBPXAJ35Y47TS4VU6WVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIRBO6IDU5RL6DLPYHVDBUMNUFSCRBMIA2ZYRLK2QXPRIM5ZPXEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js"
            ]
        },
        "CreateCollection": {
            "input": {
                "type": "structure",
                "required": [
                    "name"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "description": {},
                    "name": {},
                    "tags": {
                        "shape": "S16"
                    },
                    "type": {},
                    "standbyReplicas": {},
                    "collectionGroupName": {},
                    "encryptionConfig": {
                        "type": "structure",
                        "members": {
                            "aWSOwnedKey": {
                                "type": "boolean"
                            },
                            "kmsKeyArn": {}
                        }
                    },
                    "vectorOptions": {
                        "shape": "Sd"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "createCollectionDetail": {
                        "type": "structure",
                        "members": {
                            "arn": {},
                            "createdDate": {
                                "type": "long"
                            },
                            "description": {},
                            "id": {},
                            "kmsKeyArn": {},
                            "lastModifiedDate": {
                                "type": "long"
                            },
                            "name": {},
                            "status": {},
                            "type": {}
                        }
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGIWKKAFIJ5W6Z4Z4JMG6I5IJWAYQDWYG6KJUFLOF772RYRNGSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCRXTRBSNMOLDQUG6V5PVRSXZ74X5XHXFHCIZZNW7Y6EAQ7H654Q/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MPAUKASQM26PTK2JPCK4277LVTODLTR3PBGZ3VHCNWZFPJLMOTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQ6A5X3GPFOJ7CDQLQEDK6IZBKNDZHVCVYCRMRNN3EWDLSE2ZHLA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNMH7KLTFGFMRXRYYSZ6SS7N5UNAEGAUEU5HDKHYLPAOWWBPDQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLQXHGRTIRXS6EKCIADUYAFEWV5V55WTIPR34VXLXVT2GL2B7ETA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEVMO6ZPP4DWVWHX5NVGFND25RCW7NRR2A62BC4HZD6ATC26KNQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3KA2KYBCMBQKRH57CM2ZP66RWQPEXSXCWYD4GJDYUG3XTPTOGMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDL4OZJV57M3FLKNRTZICQ2DZ6SVAOAIAOR2W4V37V3MWPWTY5GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4WSE75D6IB56XVYWC7F57SFKYDIA5JYAL5RZFFBIK25VH7GIPTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIT7HTDRERQLDB6GV5DATJRC6ZJBGUN2S3HCDPSSA4PN6N3LJ5XA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K6KPGVTE5E6LE6X25GLJRIF2UHSMHNKMNBYC7KZ2NWAZ7BLFKLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOTE2PMM75DZ4VFAAFW3X3DD4CRWOKCZJ4VVZ2HR3E22ZVQQVWKQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7LWAVPLXDKKBSOXBCLPSFSJWO3AFE24ARW3Q4PZXDNTS5LVZKRA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PF5FSLXREG5M4AX4R43TQKRVBPPQBLCDMHEP2N4XPKNYOCVFPS6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHMO7TF7PZFNDGF5LE5XBA6A73N3IGLIP5MAME7RJZGRHXOHQ5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQH7DWKPFGT3YHK6A6I6MI4STXJDM2THTMWM7FEH7JLPHPARLFZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZ7NJDTN6QTBZV3C4MKZWINYDL2QP5SHIBPXAJ35Y47TS4VU6WVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIRBO6IDU5RL6DLPYHVDBUMNUFSCRBMIA2ZYRLK2QXPRIM5ZPXEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js"
            ]
        },
        "CreateSecurityConfig": {
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "type"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "description": {},
                    "name": {},
                    "samlOptions": {
                        "shape": "S1f"
                    },
                    "type": {},
                    "iamIdentityCenterOptions": {
                        "type": "structure",
                        "required": [
                            "instanceArn"
                        ],
                        "members": {
                            "instanceArn": {},
                            "userAttribute": {},
                            "groupAttribute": {}
                        }
                    },
                    "iamFederationOptions": {
                        "shape": "S2j"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "securityConfigDetail": {
                        "shape": "S1m"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGIWKKAFIJ5W6Z4Z4JMG6I5IJWAYQDWYG6KJUFLOF772RYRNGSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCRXTRBSNMOLDQUG6V5PVRSXZ74X5XHXFHCIZZNW7Y6EAQ7H654Q/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MPAUKASQM26PTK2JPCK4277LVTODLTR3PBGZ3VHCNWZFPJLMOTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQ6A5X3GPFOJ7CDQLQEDK6IZBKNDZHVCVYCRMRNN3EWDLSE2ZHLA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNMH7KLTFGFMRXRYYSZ6SS7N5UNAEGAUEU5HDKHYLPAOWWBPDQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLQXHGRTIRXS6EKCIADUYAFEWV5V55WTIPR34VXLXVT2GL2B7ETA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEVMO6ZPP4DWVWHX5NVGFND25RCW7NRR2A62BC4HZD6ATC26KNQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3KA2KYBCMBQKRH57CM2ZP66RWQPEXSXCWYD4GJDYUG3XTPTOGMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDL4OZJV57M3FLKNRTZICQ2DZ6SVAOAIAOR2W4V37V3MWPWTY5GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4WSE75D6IB56XVYWC7F57SFKYDIA5JYAL5RZFFBIK25VH7GIPTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIT7HTDRERQLDB6GV5DATJRC6ZJBGUN2S3HCDPSSA4PN6N3LJ5XA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K6KPGVTE5E6LE6X25GLJRIF2UHSMHNKMNBYC7KZ2NWAZ7BLFKLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOTE2PMM75DZ4VFAAFW3X3DD4CRWOKCZJ4VVZ2HR3E22ZVQQVWKQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7LWAVPLXDKKBSOXBCLPSFSJWO3AFE24ARW3Q4PZXDNTS5LVZKRA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PF5FSLXREG5M4AX4R43TQKRVBPPQBLCDMHEP2N4XPKNYOCVFPS6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHMO7TF7PZFNDGF5LE5XBA6A73N3IGLIP5MAME7RJZGRHXOHQ5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQH7DWKPFGT3YHK6A6I6MI4STXJDM2THTMWM7FEH7JLPHPARLFZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZ7NJDTN6QTBZV3C4MKZWINYDL2QP5SHIBPXAJ35Y47TS4VU6WVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIRBO6IDU5RL6DLPYHVDBUMNUFSCRBMIA2ZYRLK2QXPRIM5ZPXEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js"
            ]
        },
        "CreateSecurityPolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "policy",
                    "type"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "description": {},
                    "name": {},
                    "policy": {},
                    "type": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "securityPolicyDetail": {
                        "shape": "S1r"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGIWKKAFIJ5W6Z4Z4JMG6I5IJWAYQDWYG6KJUFLOF772RYRNGSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCRXTRBSNMOLDQUG6V5PVRSXZ74X5XHXFHCIZZNW7Y6EAQ7H654Q/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MPAUKASQM26PTK2JPCK4277LVTODLTR3PBGZ3VHCNWZFPJLMOTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQ6A5X3GPFOJ7CDQLQEDK6IZBKNDZHVCVYCRMRNN3EWDLSE2ZHLA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNMH7KLTFGFMRXRYYSZ6SS7N5UNAEGAUEU5HDKHYLPAOWWBPDQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLQXHGRTIRXS6EKCIADUYAFEWV5V55WTIPR34VXLXVT2GL2B7ETA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEVMO6ZPP4DWVWHX5NVGFND25RCW7NRR2A62BC4HZD6ATC26KNQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3KA2KYBCMBQKRH57CM2ZP66RWQPEXSXCWYD4GJDYUG3XTPTOGMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDL4OZJV57M3FLKNRTZICQ2DZ6SVAOAIAOR2W4V37V3MWPWTY5GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4WSE75D6IB56XVYWC7F57SFKYDIA5JYAL5RZFFBIK25VH7GIPTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIT7HTDRERQLDB6GV5DATJRC6ZJBGUN2S3HCDPSSA4PN6N3LJ5XA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K6KPGVTE5E6LE6X25GLJRIF2UHSMHNKMNBYC7KZ2NWAZ7BLFKLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOTE2PMM75DZ4VFAAFW3X3DD4CRWOKCZJ4VVZ2HR3E22ZVQQVWKQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7LWAVPLXDKKBSOXBCLPSFSJWO3AFE24ARW3Q4PZXDNTS5LVZKRA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PF5FSLXREG5M4AX4R43TQKRVBPPQBLCDMHEP2N4XPKNYOCVFPS6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHMO7TF7PZFNDGF5LE5XBA6A73N3IGLIP5MAME7RJZGRHXOHQ5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQH7DWKPFGT3YHK6A6I6MI4STXJDM2THTMWM7FEH7JLPHPARLFZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZ7NJDTN6QTBZV3C4MKZWINYDL2QP5SHIBPXAJ35Y47TS4VU6WVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIRBO6IDU5RL6DLPYHVDBUMNUFSCRBMIA2ZYRLK2QXPRIM5ZPXEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js"
            ]
        },
        "CreateVpcEndpoint": {
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "subnetIds",
                    "vpcId"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "name": {},
                    "securityGroupIds": {
                        "shape": "Sm"
                    },
                    "subnetIds": {
                        "shape": "Sp"
                    },
                    "vpcId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "createVpcEndpointDetail": {
                        "type": "structure",
                        "members": {
                            "id": {},
                            "name": {},
                            "status": {}
                        }
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGIWKKAFIJ5W6Z4Z4JMG6I5IJWAYQDWYG6KJUFLOF772RYRNGSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCRXTRBSNMOLDQUG6V5PVRSXZ74X5XHXFHCIZZNW7Y6EAQ7H654Q/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MPAUKASQM26PTK2JPCK4277LVTODLTR3PBGZ3VHCNWZFPJLMOTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQ6A5X3GPFOJ7CDQLQEDK6IZBKNDZHVCVYCRMRNN3EWDLSE2ZHLA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNMH7KLTFGFMRXRYYSZ6SS7N5UNAEGAUEU5HDKHYLPAOWWBPDQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLQXHGRTIRXS6EKCIADUYAFEWV5V55WTIPR34VXLXVT2GL2B7ETA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEVMO6ZPP4DWVWHX5NVGFND25RCW7NRR2A62BC4HZD6ATC26KNQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3KA2KYBCMBQKRH57CM2ZP66RWQPEXSXCWYD4GJDYUG3XTPTOGMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDL4OZJV57M3FLKNRTZICQ2DZ6SVAOAIAOR2W4V37V3MWPWTY5GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4WSE75D6IB56XVYWC7F57SFKYDIA5JYAL5RZFFBIK25VH7GIPTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIT7HTDRERQLDB6GV5DATJRC6ZJBGUN2S3HCDPSSA4PN6N3LJ5XA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K6KPGVTE5E6LE6X25GLJRIF2UHSMHNKMNBYC7KZ2NWAZ7BLFKLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOTE2PMM75DZ4VFAAFW3X3DD4CRWOKCZJ4VVZ2HR3E22ZVQQVWKQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7LWAVPLXDKKBSOXBCLPSFSJWO3AFE24ARW3Q4PZXDNTS5LVZKRA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PF5FSLXREG5M4AX4R43TQKRVBPPQBLCDMHEP2N4XPKNYOCVFPS6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHMO7TF7PZFNDGF5LE5XBA6A73N3IGLIP5MAME7RJZGRHXOHQ5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQH7DWKPFGT3YHK6A6I6MI4STXJDM2THTMWM7FEH7JLPHPARLFZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZ7NJDTN6QTBZV3C4MKZWINYDL2QP5SHIBPXAJ35Y47TS4VU6WVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIRBO6IDU5RL6DLPYHVDBUMNUFSCRBMIA2ZYRLK2QXPRIM5ZPXEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js"
            ]
        },
        "DeleteAccessPolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "type"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "name": {},
                    "type": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGIWKKAFIJ5W6Z4Z4JMG6I5IJWAYQDWYG6KJUFLOF772RYRNGSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCRXTRBSNMOLDQUG6V5PVRSXZ74X5XHXFHCIZZNW7Y6EAQ7H654Q/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MPAUKASQM26PTK2JPCK4277LVTODLTR3PBGZ3VHCNWZFPJLMOTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQ6A5X3GPFOJ7CDQLQEDK6IZBKNDZHVCVYCRMRNN3EWDLSE2ZHLA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNMH7KLTFGFMRXRYYSZ6SS7N5UNAEGAUEU5HDKHYLPAOWWBPDQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLQXHGRTIRXS6EKCIADUYAFEWV5V55WTIPR34VXLXVT2GL2B7ETA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEVMO6ZPP4DWVWHX5NVGFND25RCW7NRR2A62BC4HZD6ATC26KNQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3KA2KYBCMBQKRH57CM2ZP66RWQPEXSXCWYD4GJDYUG3XTPTOGMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDL4OZJV57M3FLKNRTZICQ2DZ6SVAOAIAOR2W4V37V3MWPWTY5GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4WSE75D6IB56XVYWC7F57SFKYDIA5JYAL5RZFFBIK25VH7GIPTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIT7HTDRERQLDB6GV5DATJRC6ZJBGUN2S3HCDPSSA4PN6N3LJ5XA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K6KPGVTE5E6LE6X25GLJRIF2UHSMHNKMNBYC7KZ2NWAZ7BLFKLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOTE2PMM75DZ4VFAAFW3X3DD4CRWOKCZJ4VVZ2HR3E22ZVQQVWKQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7LWAVPLXDKKBSOXBCLPSFSJWO3AFE24ARW3Q4PZXDNTS5LVZKRA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PF5FSLXREG5M4AX4R43TQKRVBPPQBLCDMHEP2N4XPKNYOCVFPS6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHMO7TF7PZFNDGF5LE5XBA6A73N3IGLIP5MAME7RJZGRHXOHQ5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQH7DWKPFGT3YHK6A6I6MI4STXJDM2THTMWM7FEH7JLPHPARLFZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZ7NJDTN6QTBZV3C4MKZWINYDL2QP5SHIBPXAJ35Y47TS4VU6WVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIRBO6IDU5RL6DLPYHVDBUMNUFSCRBMIA2ZYRLK2QXPRIM5ZPXEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js"
            ]
        },
        "DeleteCollection": {
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "id": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "deleteCollectionDetail": {
                        "type": "structure",
                        "members": {
                            "id": {},
                            "name": {},
                            "status": {}
                        }
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGIWKKAFIJ5W6Z4Z4JMG6I5IJWAYQDWYG6KJUFLOF772RYRNGSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCRXTRBSNMOLDQUG6V5PVRSXZ74X5XHXFHCIZZNW7Y6EAQ7H654Q/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MPAUKASQM26PTK2JPCK4277LVTODLTR3PBGZ3VHCNWZFPJLMOTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQ6A5X3GPFOJ7CDQLQEDK6IZBKNDZHVCVYCRMRNN3EWDLSE2ZHLA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNMH7KLTFGFMRXRYYSZ6SS7N5UNAEGAUEU5HDKHYLPAOWWBPDQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLQXHGRTIRXS6EKCIADUYAFEWV5V55WTIPR34VXLXVT2GL2B7ETA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEVMO6ZPP4DWVWHX5NVGFND25RCW7NRR2A62BC4HZD6ATC26KNQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3KA2KYBCMBQKRH57CM2ZP66RWQPEXSXCWYD4GJDYUG3XTPTOGMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDL4OZJV57M3FLKNRTZICQ2DZ6SVAOAIAOR2W4V37V3MWPWTY5GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4WSE75D6IB56XVYWC7F57SFKYDIA5JYAL5RZFFBIK25VH7GIPTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIT7HTDRERQLDB6GV5DATJRC6ZJBGUN2S3HCDPSSA4PN6N3LJ5XA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K6KPGVTE5E6LE6X25GLJRIF2UHSMHNKMNBYC7KZ2NWAZ7BLFKLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOTE2PMM75DZ4VFAAFW3X3DD4CRWOKCZJ4VVZ2HR3E22ZVQQVWKQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7LWAVPLXDKKBSOXBCLPSFSJWO3AFE24ARW3Q4PZXDNTS5LVZKRA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PF5FSLXREG5M4AX4R43TQKRVBPPQBLCDMHEP2N4XPKNYOCVFPS6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHMO7TF7PZFNDGF5LE5XBA6A73N3IGLIP5MAME7RJZGRHXOHQ5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQH7DWKPFGT3YHK6A6I6MI4STXJDM2THTMWM7FEH7JLPHPARLFZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZ7NJDTN6QTBZV3C4MKZWINYDL2QP5SHIBPXAJ35Y47TS4VU6WVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIRBO6IDU5RL6DLPYHVDBUMNUFSCRBMIA2ZYRLK2QXPRIM5ZPXEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js"
            ]
        },
        "DeleteSecurityConfig": {
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "id": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGIWKKAFIJ5W6Z4Z4JMG6I5IJWAYQDWYG6KJUFLOF772RYRNGSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCRXTRBSNMOLDQUG6V5PVRSXZ74X5XHXFHCIZZNW7Y6EAQ7H654Q/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MPAUKASQM26PTK2JPCK4277LVTODLTR3PBGZ3VHCNWZFPJLMOTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQ6A5X3GPFOJ7CDQLQEDK6IZBKNDZHVCVYCRMRNN3EWDLSE2ZHLA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNMH7KLTFGFMRXRYYSZ6SS7N5UNAEGAUEU5HDKHYLPAOWWBPDQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLQXHGRTIRXS6EKCIADUYAFEWV5V55WTIPR34VXLXVT2GL2B7ETA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEVMO6ZPP4DWVWHX5NVGFND25RCW7NRR2A62BC4HZD6ATC26KNQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3KA2KYBCMBQKRH57CM2ZP66RWQPEXSXCWYD4GJDYUG3XTPTOGMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDL4OZJV57M3FLKNRTZICQ2DZ6SVAOAIAOR2W4V37V3MWPWTY5GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4WSE75D6IB56XVYWC7F57SFKYDIA5JYAL5RZFFBIK25VH7GIPTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIT7HTDRERQLDB6GV5DATJRC6ZJBGUN2S3HCDPSSA4PN6N3LJ5XA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K6KPGVTE5E6LE6X25GLJRIF2UHSMHNKMNBYC7KZ2NWAZ7BLFKLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOTE2PMM75DZ4VFAAFW3X3DD4CRWOKCZJ4VVZ2HR3E22ZVQQVWKQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7LWAVPLXDKKBSOXBCLPSFSJWO3AFE24ARW3Q4PZXDNTS5LVZKRA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PF5FSLXREG5M4AX4R43TQKRVBPPQBLCDMHEP2N4XPKNYOCVFPS6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHMO7TF7PZFNDGF5LE5XBA6A73N3IGLIP5MAME7RJZGRHXOHQ5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQH7DWKPFGT3YHK6A6I6MI4STXJDM2THTMWM7FEH7JLPHPARLFZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZ7NJDTN6QTBZV3C4MKZWINYDL2QP5SHIBPXAJ35Y47TS4VU6WVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIRBO6IDU5RL6DLPYHVDBUMNUFSCRBMIA2ZYRLK2QXPRIM5ZPXEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js"
            ]
        },
        "DeleteSecurityPolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "type"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "name": {},
                    "type": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGIWKKAFIJ5W6Z4Z4JMG6I5IJWAYQDWYG6KJUFLOF772RYRNGSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCRXTRBSNMOLDQUG6V5PVRSXZ74X5XHXFHCIZZNW7Y6EAQ7H654Q/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MPAUKASQM26PTK2JPCK4277LVTODLTR3PBGZ3VHCNWZFPJLMOTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQ6A5X3GPFOJ7CDQLQEDK6IZBKNDZHVCVYCRMRNN3EWDLSE2ZHLA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNMH7KLTFGFMRXRYYSZ6SS7N5UNAEGAUEU5HDKHYLPAOWWBPDQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLQXHGRTIRXS6EKCIADUYAFEWV5V55WTIPR34VXLXVT2GL2B7ETA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEVMO6ZPP4DWVWHX5NVGFND25RCW7NRR2A62BC4HZD6ATC26KNQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3KA2KYBCMBQKRH57CM2ZP66RWQPEXSXCWYD4GJDYUG3XTPTOGMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDL4OZJV57M3FLKNRTZICQ2DZ6SVAOAIAOR2W4V37V3MWPWTY5GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4WSE75D6IB56XVYWC7F57SFKYDIA5JYAL5RZFFBIK25VH7GIPTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIT7HTDRERQLDB6GV5DATJRC6ZJBGUN2S3HCDPSSA4PN6N3LJ5XA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K6KPGVTE5E6LE6X25GLJRIF2UHSMHNKMNBYC7KZ2NWAZ7BLFKLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOTE2PMM75DZ4VFAAFW3X3DD4CRWOKCZJ4VVZ2HR3E22ZVQQVWKQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7LWAVPLXDKKBSOXBCLPSFSJWO3AFE24ARW3Q4PZXDNTS5LVZKRA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PF5FSLXREG5M4AX4R43TQKRVBPPQBLCDMHEP2N4XPKNYOCVFPS6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHMO7TF7PZFNDGF5LE5XBA6A73N3IGLIP5MAME7RJZGRHXOHQ5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQH7DWKPFGT3YHK6A6I6MI4STXJDM2THTMWM7FEH7JLPHPARLFZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZ7NJDTN6QTBZV3C4MKZWINYDL2QP5SHIBPXAJ35Y47TS4VU6WVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIRBO6IDU5RL6DLPYHVDBUMNUFSCRBMIA2ZYRLK2QXPRIM5ZPXEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js"
            ]
        },
        "DeleteVpcEndpoint": {
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "id": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "deleteVpcEndpointDetail": {
                        "type": "structure",
                        "members": {
                            "id": {},
                            "name": {},
                            "status": {}
                        }
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGIWKKAFIJ5W6Z4Z4JMG6I5IJWAYQDWYG6KJUFLOF772RYRNGSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCRXTRBSNMOLDQUG6V5PVRSXZ74X5XHXFHCIZZNW7Y6EAQ7H654Q/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MPAUKASQM26PTK2JPCK4277LVTODLTR3PBGZ3VHCNWZFPJLMOTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQ6A5X3GPFOJ7CDQLQEDK6IZBKNDZHVCVYCRMRNN3EWDLSE2ZHLA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNMH7KLTFGFMRXRYYSZ6SS7N5UNAEGAUEU5HDKHYLPAOWWBPDQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLQXHGRTIRXS6EKCIADUYAFEWV5V55WTIPR34VXLXVT2GL2B7ETA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEVMO6ZPP4DWVWHX5NVGFND25RCW7NRR2A62BC4HZD6ATC26KNQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3KA2KYBCMBQKRH57CM2ZP66RWQPEXSXCWYD4GJDYUG3XTPTOGMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDL4OZJV57M3FLKNRTZICQ2DZ6SVAOAIAOR2W4V37V3MWPWTY5GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4WSE75D6IB56XVYWC7F57SFKYDIA5JYAL5RZFFBIK25VH7GIPTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIT7HTDRERQLDB6GV5DATJRC6ZJBGUN2S3HCDPSSA4PN6N3LJ5XA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K6KPGVTE5E6LE6X25GLJRIF2UHSMHNKMNBYC7KZ2NWAZ7BLFKLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOTE2PMM75DZ4VFAAFW3X3DD4CRWOKCZJ4VVZ2HR3E22ZVQQVWKQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7LWAVPLXDKKBSOXBCLPSFSJWO3AFE24ARW3Q4PZXDNTS5LVZKRA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PF5FSLXREG5M4AX4R43TQKRVBPPQBLCDMHEP2N4XPKNYOCVFPS6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHMO7TF7PZFNDGF5LE5XBA6A73N3IGLIP5MAME7RJZGRHXOHQ5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQH7DWKPFGT3YHK6A6I6MI4STXJDM2THTMWM7FEH7JLPHPARLFZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZ7NJDTN6QTBZV3C4MKZWINYDL2QP5SHIBPXAJ35Y47TS4VU6WVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIRBO6IDU5RL6DLPYHVDBUMNUFSCRBMIA2ZYRLK2QXPRIM5ZPXEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js"
            ]
        },
        "GetAccessPolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "type"
                ],
                "members": {
                    "name": {},
                    "type": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "accessPolicyDetail": {
                        "shape": "S11"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGIWKKAFIJ5W6Z4Z4JMG6I5IJWAYQDWYG6KJUFLOF772RYRNGSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCRXTRBSNMOLDQUG6V5PVRSXZ74X5XHXFHCIZZNW7Y6EAQ7H654Q/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MPAUKASQM26PTK2JPCK4277LVTODLTR3PBGZ3VHCNWZFPJLMOTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQ6A5X3GPFOJ7CDQLQEDK6IZBKNDZHVCVYCRMRNN3EWDLSE2ZHLA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNMH7KLTFGFMRXRYYSZ6SS7N5UNAEGAUEU5HDKHYLPAOWWBPDQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLQXHGRTIRXS6EKCIADUYAFEWV5V55WTIPR34VXLXVT2GL2B7ETA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEVMO6ZPP4DWVWHX5NVGFND25RCW7NRR2A62BC4HZD6ATC26KNQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3KA2KYBCMBQKRH57CM2ZP66RWQPEXSXCWYD4GJDYUG3XTPTOGMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDL4OZJV57M3FLKNRTZICQ2DZ6SVAOAIAOR2W4V37V3MWPWTY5GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4WSE75D6IB56XVYWC7F57SFKYDIA5JYAL5RZFFBIK25VH7GIPTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIT7HTDRERQLDB6GV5DATJRC6ZJBGUN2S3HCDPSSA4PN6N3LJ5XA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K6KPGVTE5E6LE6X25GLJRIF2UHSMHNKMNBYC7KZ2NWAZ7BLFKLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOTE2PMM75DZ4VFAAFW3X3DD4CRWOKCZJ4VVZ2HR3E22ZVQQVWKQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7LWAVPLXDKKBSOXBCLPSFSJWO3AFE24ARW3Q4PZXDNTS5LVZKRA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PF5FSLXREG5M4AX4R43TQKRVBPPQBLCDMHEP2N4XPKNYOCVFPS6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHMO7TF7PZFNDGF5LE5XBA6A73N3IGLIP5MAME7RJZGRHXOHQ5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQH7DWKPFGT3YHK6A6I6MI4STXJDM2THTMWM7FEH7JLPHPARLFZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZ7NJDTN6QTBZV3C4MKZWINYDL2QP5SHIBPXAJ35Y47TS4VU6WVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIRBO6IDU5RL6DLPYHVDBUMNUFSCRBMIA2ZYRLK2QXPRIM5ZPXEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js"
            ]
        },
        "GetAccountSettings": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "accountSettingsDetail": {
                        "shape": "S2b"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGIWKKAFIJ5W6Z4Z4JMG6I5IJWAYQDWYG6KJUFLOF772RYRNGSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCRXTRBSNMOLDQUG6V5PVRSXZ74X5XHXFHCIZZNW7Y6EAQ7H654Q/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MPAUKASQM26PTK2JPCK4277LVTODLTR3PBGZ3VHCNWZFPJLMOTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQ6A5X3GPFOJ7CDQLQEDK6IZBKNDZHVCVYCRMRNN3EWDLSE2ZHLA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNMH7KLTFGFMRXRYYSZ6SS7N5UNAEGAUEU5HDKHYLPAOWWBPDQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLQXHGRTIRXS6EKCIADUYAFEWV5V55WTIPR34VXLXVT2GL2B7ETA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEVMO6ZPP4DWVWHX5NVGFND25RCW7NRR2A62BC4HZD6ATC26KNQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3KA2KYBCMBQKRH57CM2ZP66RWQPEXSXCWYD4GJDYUG3XTPTOGMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDL4OZJV57M3FLKNRTZICQ2DZ6SVAOAIAOR2W4V37V3MWPWTY5GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4WSE75D6IB56XVYWC7F57SFKYDIA5JYAL5RZFFBIK25VH7GIPTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIT7HTDRERQLDB6GV5DATJRC6ZJBGUN2S3HCDPSSA4PN6N3LJ5XA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K6KPGVTE5E6LE6X25GLJRIF2UHSMHNKMNBYC7KZ2NWAZ7BLFKLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOTE2PMM75DZ4VFAAFW3X3DD4CRWOKCZJ4VVZ2HR3E22ZVQQVWKQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7LWAVPLXDKKBSOXBCLPSFSJWO3AFE24ARW3Q4PZXDNTS5LVZKRA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PF5FSLXREG5M4AX4R43TQKRVBPPQBLCDMHEP2N4XPKNYOCVFPS6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHMO7TF7PZFNDGF5LE5XBA6A73N3IGLIP5MAME7RJZGRHXOHQ5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQH7DWKPFGT3YHK6A6I6MI4STXJDM2THTMWM7FEH7JLPHPARLFZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZ7NJDTN6QTBZV3C4MKZWINYDL2QP5SHIBPXAJ35Y47TS4VU6WVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIRBO6IDU5RL6DLPYHVDBUMNUFSCRBMIA2ZYRLK2QXPRIM5ZPXEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js"
            ]
        },
        "GetPoliciesStats": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "AccessPolicyStats": {
                        "type": "structure",
                        "members": {
                            "DataPolicyCount": {
                                "type": "long"
                            }
                        }
                    },
                    "SecurityConfigStats": {
                        "type": "structure",
                        "members": {
                            "SamlConfigCount": {
                                "type": "long"
                            }
                        }
                    },
                    "SecurityPolicyStats": {
                        "type": "structure",
                        "members": {
                            "EncryptionPolicyCount": {
                                "type": "long"
                            },
                            "NetworkPolicyCount": {
                                "type": "long"
                            }
                        }
                    },
                    "TotalPolicyCount": {
                        "type": "long"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGIWKKAFIJ5W6Z4Z4JMG6I5IJWAYQDWYG6KJUFLOF772RYRNGSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCRXTRBSNMOLDQUG6V5PVRSXZ74X5XHXFHCIZZNW7Y6EAQ7H654Q/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MPAUKASQM26PTK2JPCK4277LVTODLTR3PBGZ3VHCNWZFPJLMOTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQ6A5X3GPFOJ7CDQLQEDK6IZBKNDZHVCVYCRMRNN3EWDLSE2ZHLA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNMH7KLTFGFMRXRYYSZ6SS7N5UNAEGAUEU5HDKHYLPAOWWBPDQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLQXHGRTIRXS6EKCIADUYAFEWV5V55WTIPR34VXLXVT2GL2B7ETA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEVMO6ZPP4DWVWHX5NVGFND25RCW7NRR2A62BC4HZD6ATC26KNQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3KA2KYBCMBQKRH57CM2ZP66RWQPEXSXCWYD4GJDYUG3XTPTOGMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDL4OZJV57M3FLKNRTZICQ2DZ6SVAOAIAOR2W4V37V3MWPWTY5GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4WSE75D6IB56XVYWC7F57SFKYDIA5JYAL5RZFFBIK25VH7GIPTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIT7HTDRERQLDB6GV5DATJRC6ZJBGUN2S3HCDPSSA4PN6N3LJ5XA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K6KPGVTE5E6LE6X25GLJRIF2UHSMHNKMNBYC7KZ2NWAZ7BLFKLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOTE2PMM75DZ4VFAAFW3X3DD4CRWOKCZJ4VVZ2HR3E22ZVQQVWKQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7LWAVPLXDKKBSOXBCLPSFSJWO3AFE24ARW3Q4PZXDNTS5LVZKRA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PF5FSLXREG5M4AX4R43TQKRVBPPQBLCDMHEP2N4XPKNYOCVFPS6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHMO7TF7PZFNDGF5LE5XBA6A73N3IGLIP5MAME7RJZGRHXOHQ5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQH7DWKPFGT3YHK6A6I6MI4STXJDM2THTMWM7FEH7JLPHPARLFZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZ7NJDTN6QTBZV3C4MKZWINYDL2QP5SHIBPXAJ35Y47TS4VU6WVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIRBO6IDU5RL6DLPYHVDBUMNUFSCRBMIA2ZYRLK2QXPRIM5ZPXEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js"
            ]
        },
        "GetSecurityConfig": {
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "id": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "securityConfigDetail": {
                        "shape": "S1m"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGIWKKAFIJ5W6Z4Z4JMG6I5IJWAYQDWYG6KJUFLOF772RYRNGSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCRXTRBSNMOLDQUG6V5PVRSXZ74X5XHXFHCIZZNW7Y6EAQ7H654Q/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MPAUKASQM26PTK2JPCK4277LVTODLTR3PBGZ3VHCNWZFPJLMOTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQ6A5X3GPFOJ7CDQLQEDK6IZBKNDZHVCVYCRMRNN3EWDLSE2ZHLA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNMH7KLTFGFMRXRYYSZ6SS7N5UNAEGAUEU5HDKHYLPAOWWBPDQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLQXHGRTIRXS6EKCIADUYAFEWV5V55WTIPR34VXLXVT2GL2B7ETA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEVMO6ZPP4DWVWHX5NVGFND25RCW7NRR2A62BC4HZD6ATC26KNQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3KA2KYBCMBQKRH57CM2ZP66RWQPEXSXCWYD4GJDYUG3XTPTOGMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDL4OZJV57M3FLKNRTZICQ2DZ6SVAOAIAOR2W4V37V3MWPWTY5GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4WSE75D6IB56XVYWC7F57SFKYDIA5JYAL5RZFFBIK25VH7GIPTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIT7HTDRERQLDB6GV5DATJRC6ZJBGUN2S3HCDPSSA4PN6N3LJ5XA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K6KPGVTE5E6LE6X25GLJRIF2UHSMHNKMNBYC7KZ2NWAZ7BLFKLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOTE2PMM75DZ4VFAAFW3X3DD4CRWOKCZJ4VVZ2HR3E22ZVQQVWKQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7LWAVPLXDKKBSOXBCLPSFSJWO3AFE24ARW3Q4PZXDNTS5LVZKRA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PF5FSLXREG5M4AX4R43TQKRVBPPQBLCDMHEP2N4XPKNYOCVFPS6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHMO7TF7PZFNDGF5LE5XBA6A73N3IGLIP5MAME7RJZGRHXOHQ5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQH7DWKPFGT3YHK6A6I6MI4STXJDM2THTMWM7FEH7JLPHPARLFZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZ7NJDTN6QTBZV3C4MKZWINYDL2QP5SHIBPXAJ35Y47TS4VU6WVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIRBO6IDU5RL6DLPYHVDBUMNUFSCRBMIA2ZYRLK2QXPRIM5ZPXEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js"
            ]
        },
        "GetSecurityPolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "type"
                ],
                "members": {
                    "name": {},
                    "type": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "securityPolicyDetail": {
                        "shape": "S1r"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGIWKKAFIJ5W6Z4Z4JMG6I5IJWAYQDWYG6KJUFLOF772RYRNGSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCRXTRBSNMOLDQUG6V5PVRSXZ74X5XHXFHCIZZNW7Y6EAQ7H654Q/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MPAUKASQM26PTK2JPCK4277LVTODLTR3PBGZ3VHCNWZFPJLMOTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQ6A5X3GPFOJ7CDQLQEDK6IZBKNDZHVCVYCRMRNN3EWDLSE2ZHLA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNMH7KLTFGFMRXRYYSZ6SS7N5UNAEGAUEU5HDKHYLPAOWWBPDQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLQXHGRTIRXS6EKCIADUYAFEWV5V55WTIPR34VXLXVT2GL2B7ETA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEVMO6ZPP4DWVWHX5NVGFND25RCW7NRR2A62BC4HZD6ATC26KNQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3KA2KYBCMBQKRH57CM2ZP66RWQPEXSXCWYD4GJDYUG3XTPTOGMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDL4OZJV57M3FLKNRTZICQ2DZ6SVAOAIAOR2W4V37V3MWPWTY5GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4WSE75D6IB56XVYWC7F57SFKYDIA5JYAL5RZFFBIK25VH7GIPTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIT7HTDRERQLDB6GV5DATJRC6ZJBGUN2S3HCDPSSA4PN6N3LJ5XA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K6KPGVTE5E6LE6X25GLJRIF2UHSMHNKMNBYC7KZ2NWAZ7BLFKLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOTE2PMM75DZ4VFAAFW3X3DD4CRWOKCZJ4VVZ2HR3E22ZVQQVWKQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7LWAVPLXDKKBSOXBCLPSFSJWO3AFE24ARW3Q4PZXDNTS5LVZKRA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PF5FSLXREG5M4AX4R43TQKRVBPPQBLCDMHEP2N4XPKNYOCVFPS6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHMO7TF7PZFNDGF5LE5XBA6A73N3IGLIP5MAME7RJZGRHXOHQ5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQH7DWKPFGT3YHK6A6I6MI4STXJDM2THTMWM7FEH7JLPHPARLFZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZ7NJDTN6QTBZV3C4MKZWINYDL2QP5SHIBPXAJ35Y47TS4VU6WVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIRBO6IDU5RL6DLPYHVDBUMNUFSCRBMIA2ZYRLK2QXPRIM5ZPXEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js"
            ]
        },
        "ListAccessPolicies": {
            "input": {
                "type": "structure",
                "required": [
                    "type"
                ],
                "members": {
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {},
                    "resource": {
                        "type": "list",
                        "member": {}
                    },
                    "type": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "accessPolicySummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "createdDate": {
                                    "type": "long"
                                },
                                "description": {},
                                "lastModifiedDate": {
                                    "type": "long"
                                },
                                "name": {},
                                "policyVersion": {},
                                "type": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGIWKKAFIJ5W6Z4Z4JMG6I5IJWAYQDWYG6KJUFLOF772RYRNGSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCRXTRBSNMOLDQUG6V5PVRSXZ74X5XHXFHCIZZNW7Y6EAQ7H654Q/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MPAUKASQM26PTK2JPCK4277LVTODLTR3PBGZ3VHCNWZFPJLMOTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQ6A5X3GPFOJ7CDQLQEDK6IZBKNDZHVCVYCRMRNN3EWDLSE2ZHLA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNMH7KLTFGFMRXRYYSZ6SS7N5UNAEGAUEU5HDKHYLPAOWWBPDQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLQXHGRTIRXS6EKCIADUYAFEWV5V55WTIPR34VXLXVT2GL2B7ETA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEVMO6ZPP4DWVWHX5NVGFND25RCW7NRR2A62BC4HZD6ATC26KNQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3KA2KYBCMBQKRH57CM2ZP66RWQPEXSXCWYD4GJDYUG3XTPTOGMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDL4OZJV57M3FLKNRTZICQ2DZ6SVAOAIAOR2W4V37V3MWPWTY5GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4WSE75D6IB56XVYWC7F57SFKYDIA5JYAL5RZFFBIK25VH7GIPTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIT7HTDRERQLDB6GV5DATJRC6ZJBGUN2S3HCDPSSA4PN6N3LJ5XA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K6KPGVTE5E6LE6X25GLJRIF2UHSMHNKMNBYC7KZ2NWAZ7BLFKLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOTE2PMM75DZ4VFAAFW3X3DD4CRWOKCZJ4VVZ2HR3E22ZVQQVWKQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7LWAVPLXDKKBSOXBCLPSFSJWO3AFE24ARW3Q4PZXDNTS5LVZKRA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PF5FSLXREG5M4AX4R43TQKRVBPPQBLCDMHEP2N4XPKNYOCVFPS6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHMO7TF7PZFNDGF5LE5XBA6A73N3IGLIP5MAME7RJZGRHXOHQ5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQH7DWKPFGT3YHK6A6I6MI4STXJDM2THTMWM7FEH7JLPHPARLFZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZ7NJDTN6QTBZV3C4MKZWINYDL2QP5SHIBPXAJ35Y47TS4VU6WVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIRBO6IDU5RL6DLPYHVDBUMNUFSCRBMIA2ZYRLK2QXPRIM5ZPXEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js"
            ]
        },
        "ListCollections": {
            "input": {
                "type": "structure",
                "members": {
                    "collectionFilters": {
                        "type": "structure",
                        "members": {
                            "name": {},
                            "status": {}
                        }
                    },
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "collectionSummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "arn": {},
                                "id": {},
                                "name": {},
                                "status": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGIWKKAFIJ5W6Z4Z4JMG6I5IJWAYQDWYG6KJUFLOF772RYRNGSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCRXTRBSNMOLDQUG6V5PVRSXZ74X5XHXFHCIZZNW7Y6EAQ7H654Q/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MPAUKASQM26PTK2JPCK4277LVTODLTR3PBGZ3VHCNWZFPJLMOTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQ6A5X3GPFOJ7CDQLQEDK6IZBKNDZHVCVYCRMRNN3EWDLSE2ZHLA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNMH7KLTFGFMRXRYYSZ6SS7N5UNAEGAUEU5HDKHYLPAOWWBPDQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLQXHGRTIRXS6EKCIADUYAFEWV5V55WTIPR34VXLXVT2GL2B7ETA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEVMO6ZPP4DWVWHX5NVGFND25RCW7NRR2A62BC4HZD6ATC26KNQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3KA2KYBCMBQKRH57CM2ZP66RWQPEXSXCWYD4GJDYUG3XTPTOGMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDL4OZJV57M3FLKNRTZICQ2DZ6SVAOAIAOR2W4V37V3MWPWTY5GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4WSE75D6IB56XVYWC7F57SFKYDIA5JYAL5RZFFBIK25VH7GIPTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIT7HTDRERQLDB6GV5DATJRC6ZJBGUN2S3HCDPSSA4PN6N3LJ5XA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K6KPGVTE5E6LE6X25GLJRIF2UHSMHNKMNBYC7KZ2NWAZ7BLFKLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOTE2PMM75DZ4VFAAFW3X3DD4CRWOKCZJ4VVZ2HR3E22ZVQQVWKQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7LWAVPLXDKKBSOXBCLPSFSJWO3AFE24ARW3Q4PZXDNTS5LVZKRA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PF5FSLXREG5M4AX4R43TQKRVBPPQBLCDMHEP2N4XPKNYOCVFPS6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHMO7TF7PZFNDGF5LE5XBA6A73N3IGLIP5MAME7RJZGRHXOHQ5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQH7DWKPFGT3YHK6A6I6MI4STXJDM2THTMWM7FEH7JLPHPARLFZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZ7NJDTN6QTBZV3C4MKZWINYDL2QP5SHIBPXAJ35Y47TS4VU6WVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIRBO6IDU5RL6DLPYHVDBUMNUFSCRBMIA2ZYRLK2QXPRIM5ZPXEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js"
            ]
        },
        "ListSecurityConfigs": {
            "input": {
                "type": "structure",
                "required": [
                    "type"
                ],
                "members": {
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {},
                    "type": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "securityConfigSummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "configVersion": {},
                                "createdDate": {
                                    "type": "long"
                                },
                                "description": {},
                                "id": {},
                                "lastModifiedDate": {
                                    "type": "long"
                                },
                                "type": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGIWKKAFIJ5W6Z4Z4JMG6I5IJWAYQDWYG6KJUFLOF772RYRNGSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCRXTRBSNMOLDQUG6V5PVRSXZ74X5XHXFHCIZZNW7Y6EAQ7H654Q/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MPAUKASQM26PTK2JPCK4277LVTODLTR3PBGZ3VHCNWZFPJLMOTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQ6A5X3GPFOJ7CDQLQEDK6IZBKNDZHVCVYCRMRNN3EWDLSE2ZHLA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNMH7KLTFGFMRXRYYSZ6SS7N5UNAEGAUEU5HDKHYLPAOWWBPDQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLQXHGRTIRXS6EKCIADUYAFEWV5V55WTIPR34VXLXVT2GL2B7ETA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEVMO6ZPP4DWVWHX5NVGFND25RCW7NRR2A62BC4HZD6ATC26KNQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3KA2KYBCMBQKRH57CM2ZP66RWQPEXSXCWYD4GJDYUG3XTPTOGMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDL4OZJV57M3FLKNRTZICQ2DZ6SVAOAIAOR2W4V37V3MWPWTY5GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4WSE75D6IB56XVYWC7F57SFKYDIA5JYAL5RZFFBIK25VH7GIPTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIT7HTDRERQLDB6GV5DATJRC6ZJBGUN2S3HCDPSSA4PN6N3LJ5XA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K6KPGVTE5E6LE6X25GLJRIF2UHSMHNKMNBYC7KZ2NWAZ7BLFKLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOTE2PMM75DZ4VFAAFW3X3DD4CRWOKCZJ4VVZ2HR3E22ZVQQVWKQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7LWAVPLXDKKBSOXBCLPSFSJWO3AFE24ARW3Q4PZXDNTS5LVZKRA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PF5FSLXREG5M4AX4R43TQKRVBPPQBLCDMHEP2N4XPKNYOCVFPS6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHMO7TF7PZFNDGF5LE5XBA6A73N3IGLIP5MAME7RJZGRHXOHQ5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQH7DWKPFGT3YHK6A6I6MI4STXJDM2THTMWM7FEH7JLPHPARLFZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZ7NJDTN6QTBZV3C4MKZWINYDL2QP5SHIBPXAJ35Y47TS4VU6WVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIRBO6IDU5RL6DLPYHVDBUMNUFSCRBMIA2ZYRLK2QXPRIM5ZPXEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js"
            ]
        },
        "ListSecurityPolicies": {
            "input": {
                "type": "structure",
                "required": [
                    "type"
                ],
                "members": {
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {},
                    "resource": {
                        "type": "list",
                        "member": {}
                    },
                    "type": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "securityPolicySummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "createdDate": {
                                    "type": "long"
                                },
                                "description": {},
                                "lastModifiedDate": {
                                    "type": "long"
                                },
                                "name": {},
                                "policyVersion": {},
                                "type": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGIWKKAFIJ5W6Z4Z4JMG6I5IJWAYQDWYG6KJUFLOF772RYRNGSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCRXTRBSNMOLDQUG6V5PVRSXZ74X5XHXFHCIZZNW7Y6EAQ7H654Q/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MPAUKASQM26PTK2JPCK4277LVTODLTR3PBGZ3VHCNWZFPJLMOTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQ6A5X3GPFOJ7CDQLQEDK6IZBKNDZHVCVYCRMRNN3EWDLSE2ZHLA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNMH7KLTFGFMRXRYYSZ6SS7N5UNAEGAUEU5HDKHYLPAOWWBPDQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLQXHGRTIRXS6EKCIADUYAFEWV5V55WTIPR34VXLXVT2GL2B7ETA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEVMO6ZPP4DWVWHX5NVGFND25RCW7NRR2A62BC4HZD6ATC26KNQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3KA2KYBCMBQKRH57CM2ZP66RWQPEXSXCWYD4GJDYUG3XTPTOGMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDL4OZJV57M3FLKNRTZICQ2DZ6SVAOAIAOR2W4V37V3MWPWTY5GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4WSE75D6IB56XVYWC7F57SFKYDIA5JYAL5RZFFBIK25VH7GIPTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIT7HTDRERQLDB6GV5DATJRC6ZJBGUN2S3HCDPSSA4PN6N3LJ5XA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K6KPGVTE5E6LE6X25GLJRIF2UHSMHNKMNBYC7KZ2NWAZ7BLFKLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOTE2PMM75DZ4VFAAFW3X3DD4CRWOKCZJ4VVZ2HR3E22ZVQQVWKQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7LWAVPLXDKKBSOXBCLPSFSJWO3AFE24ARW3Q4PZXDNTS5LVZKRA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PF5FSLXREG5M4AX4R43TQKRVBPPQBLCDMHEP2N4XPKNYOCVFPS6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHMO7TF7PZFNDGF5LE5XBA6A73N3IGLIP5MAME7RJZGRHXOHQ5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQH7DWKPFGT3YHK6A6I6MI4STXJDM2THTMWM7FEH7JLPHPARLFZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZ7NJDTN6QTBZV3C4MKZWINYDL2QP5SHIBPXAJ35Y47TS4VU6WVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIRBO6IDU5RL6DLPYHVDBUMNUFSCRBMIA2ZYRLK2QXPRIM5ZPXEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js"
            ]
        },
        "ListTagsForResource": {
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn"
                ],
                "members": {
                    "resourceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "tags": {
                        "shape": "S16"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGIWKKAFIJ5W6Z4Z4JMG6I5IJWAYQDWYG6KJUFLOF772RYRNGSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCRXTRBSNMOLDQUG6V5PVRSXZ74X5XHXFHCIZZNW7Y6EAQ7H654Q/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MPAUKASQM26PTK2JPCK4277LVTODLTR3PBGZ3VHCNWZFPJLMOTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQ6A5X3GPFOJ7CDQLQEDK6IZBKNDZHVCVYCRMRNN3EWDLSE2ZHLA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNMH7KLTFGFMRXRYYSZ6SS7N5UNAEGAUEU5HDKHYLPAOWWBPDQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLQXHGRTIRXS6EKCIADUYAFEWV5V55WTIPR34VXLXVT2GL2B7ETA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEVMO6ZPP4DWVWHX5NVGFND25RCW7NRR2A62BC4HZD6ATC26KNQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3KA2KYBCMBQKRH57CM2ZP66RWQPEXSXCWYD4GJDYUG3XTPTOGMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDL4OZJV57M3FLKNRTZICQ2DZ6SVAOAIAOR2W4V37V3MWPWTY5GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4WSE75D6IB56XVYWC7F57SFKYDIA5JYAL5RZFFBIK25VH7GIPTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIT7HTDRERQLDB6GV5DATJRC6ZJBGUN2S3HCDPSSA4PN6N3LJ5XA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K6KPGVTE5E6LE6X25GLJRIF2UHSMHNKMNBYC7KZ2NWAZ7BLFKLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOTE2PMM75DZ4VFAAFW3X3DD4CRWOKCZJ4VVZ2HR3E22ZVQQVWKQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7LWAVPLXDKKBSOXBCLPSFSJWO3AFE24ARW3Q4PZXDNTS5LVZKRA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PF5FSLXREG5M4AX4R43TQKRVBPPQBLCDMHEP2N4XPKNYOCVFPS6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHMO7TF7PZFNDGF5LE5XBA6A73N3IGLIP5MAME7RJZGRHXOHQ5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQH7DWKPFGT3YHK6A6I6MI4STXJDM2THTMWM7FEH7JLPHPARLFZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZ7NJDTN6QTBZV3C4MKZWINYDL2QP5SHIBPXAJ35Y47TS4VU6WVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIRBO6IDU5RL6DLPYHVDBUMNUFSCRBMIA2ZYRLK2QXPRIM5ZPXEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js"
            ]
        },
        "ListVpcEndpoints": {
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {},
                    "vpcEndpointFilters": {
                        "type": "structure",
                        "members": {
                            "status": {}
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "vpcEndpointSummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "id": {},
                                "name": {},
                                "status": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGIWKKAFIJ5W6Z4Z4JMG6I5IJWAYQDWYG6KJUFLOF772RYRNGSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCRXTRBSNMOLDQUG6V5PVRSXZ74X5XHXFHCIZZNW7Y6EAQ7H654Q/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MPAUKASQM26PTK2JPCK4277LVTODLTR3PBGZ3VHCNWZFPJLMOTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQ6A5X3GPFOJ7CDQLQEDK6IZBKNDZHVCVYCRMRNN3EWDLSE2ZHLA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNMH7KLTFGFMRXRYYSZ6SS7N5UNAEGAUEU5HDKHYLPAOWWBPDQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLQXHGRTIRXS6EKCIADUYAFEWV5V55WTIPR34VXLXVT2GL2B7ETA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEVMO6ZPP4DWVWHX5NVGFND25RCW7NRR2A62BC4HZD6ATC26KNQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3KA2KYBCMBQKRH57CM2ZP66RWQPEXSXCWYD4GJDYUG3XTPTOGMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDL4OZJV57M3FLKNRTZICQ2DZ6SVAOAIAOR2W4V37V3MWPWTY5GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4WSE75D6IB56XVYWC7F57SFKYDIA5JYAL5RZFFBIK25VH7GIPTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIT7HTDRERQLDB6GV5DATJRC6ZJBGUN2S3HCDPSSA4PN6N3LJ5XA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K6KPGVTE5E6LE6X25GLJRIF2UHSMHNKMNBYC7KZ2NWAZ7BLFKLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOTE2PMM75DZ4VFAAFW3X3DD4CRWOKCZJ4VVZ2HR3E22ZVQQVWKQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7LWAVPLXDKKBSOXBCLPSFSJWO3AFE24ARW3Q4PZXDNTS5LVZKRA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PF5FSLXREG5M4AX4R43TQKRVBPPQBLCDMHEP2N4XPKNYOCVFPS6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHMO7TF7PZFNDGF5LE5XBA6A73N3IGLIP5MAME7RJZGRHXOHQ5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQH7DWKPFGT3YHK6A6I6MI4STXJDM2THTMWM7FEH7JLPHPARLFZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZ7NJDTN6QTBZV3C4MKZWINYDL2QP5SHIBPXAJ35Y47TS4VU6WVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIRBO6IDU5RL6DLPYHVDBUMNUFSCRBMIA2ZYRLK2QXPRIM5ZPXEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js"
            ]
        },
        "TagResource": {
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "tags"
                ],
                "members": {
                    "resourceArn": {},
                    "tags": {
                        "shape": "S16"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGIWKKAFIJ5W6Z4Z4JMG6I5IJWAYQDWYG6KJUFLOF772RYRNGSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCRXTRBSNMOLDQUG6V5PVRSXZ74X5XHXFHCIZZNW7Y6EAQ7H654Q/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MPAUKASQM26PTK2JPCK4277LVTODLTR3PBGZ3VHCNWZFPJLMOTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQ6A5X3GPFOJ7CDQLQEDK6IZBKNDZHVCVYCRMRNN3EWDLSE2ZHLA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNMH7KLTFGFMRXRYYSZ6SS7N5UNAEGAUEU5HDKHYLPAOWWBPDQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLQXHGRTIRXS6EKCIADUYAFEWV5V55WTIPR34VXLXVT2GL2B7ETA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEVMO6ZPP4DWVWHX5NVGFND25RCW7NRR2A62BC4HZD6ATC26KNQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3KA2KYBCMBQKRH57CM2ZP66RWQPEXSXCWYD4GJDYUG3XTPTOGMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDL4OZJV57M3FLKNRTZICQ2DZ6SVAOAIAOR2W4V37V3MWPWTY5GQ/vendors.sdk.js",
[...]
