{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2011-06-15",
        "endpointPrefix": "openiddiscoveryservice",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceFullName": "AWS OpenId Discovery Service",
        "signatureVersion": "v4",
        "targetPrefix": "AWSOpenIdDiscoveryService",
        "uid": "openiddiscoveryservice-2011-06-15",
        "download_location": [
            "https://c.d.cdn.console.awsstatic.com/a/v1/XU2HVOA5QIF5OVLIVAMHOVSB2GM2QVMILLN7YRVOZGSY5RMZGH7Q/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/5HOIPDU4FMUSGRP57SU2NMMINXFIGPSLWRASN46JIZLPQEDBNHAQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/6V2IW52JVYGZ2XLWTHWSW3YKHD26VJRAXUVIKWPVMHZFYXYUYDLA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/7DWHYARF7QZJV4KCXY7HHVWH4HKIMT36RIXDXZIRMWOBOMJI4IRQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/OMHOFKBFYXO7ACC5TCDM4CKOORP774BBVHS3ZYYPRMMSN6QA7GKA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/NKA3D2KIE3X4FAHU4RTKZRPIQXC2WT6RIO2LQD5LFBJADQ5FJ7MA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/LRBEISPHLE2QT4RDXX4DDPOXPY4LHQGBEWQJWLYWWEEFIBZY3JKQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/IJBGC425GKC3GNFLJFSQTHY4P5HINNSNJ4C24KLI3BJ6LLO2DWLA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/5IIGL5NB4ARSAISXYX7JAMIHAUFD3VA7B7XCVLTF4YUP237U2XBQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/BSCJHHROORARTTRITJADZEVAJKZBJUHNXMRA2POWHWAA3DHFMRRQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/BY75KDGFGD2WT56YGH4YZU2OWILD5SYMU75W76CQJ64LKVZ7ITZA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/3Y7FG6GVWDROE3QUDKYARTD6XCPAGLWF4FUOYUSQPMIKK5AGHD2A/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/A5JWP5HB2TVDOYRBQVJZMI44KAUQ2MG7AQKOXO6GQ3R436LHAGAQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/KOYJKX7DMHAG6IFA6SUZ6TPBZK5WD4TOTYPZH67XJY5T42MBI2DQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/E34P6BIKCPG67KMYUQYY6JK7XROB2MRAVVNHXHKW62H22TBFKZEQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/QYOYMMZHCMQKVG6HUPAY5SFHVGBZT5WT2WVFYNFKKOQHXTDX2E2Q/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/3ZBY4TP4LCZYETHWVWIFCQ7E3VJCP3X5UBUQ47AGMSQ3AZFVNEVQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/X6GHOGKP3DLX4CTJ3V2FG2VXIF3TTANVNHWMIZIYFAYHAPVKEMUQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/MOMFDX57XGAFRZZMR36JN7D3OAOWCWAS667KED35BTH6737L6DBQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/SXWY7JJHKILFWIYIBYKBGZHE3SETE3O6XBMCX275RW45TKRTFKOA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/TSALNNEEMNCFZ2MMGLMHIH5IJFGBOPSUC3YTYSOCNQQ2EXYQRM2Q/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/BAZVBNQ5TCJ3JPQJJURQ4J3VMCBQ25LFGTQOJGJLCQLX4VOGXFTQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/XNCZ2HOWWNMII34GTZXOYUM4MHHZFU6L5TN5ZFC4UFNZPV6YJEZQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/MVLPBKNA52HZF346S7M373SOZKSY4UZ3YANUWKR2AZU7K6O3UQXA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/335P6YERJONN275SRKU6FBIHOW4HPRMY4NCRNFQZG776X7F5Q7JA/vendors.js"
        ]
    },
    "operations": {
        "DiscoverKey": {
            "input": {
                "type": "structure",
                "members": {
                    "Issuer": {},
                    "KeyId": {},
                    "TlsRequired": {
                        "type": "boolean"
                    },
                    "KeyType": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Jwk": {},
                    "ProviderCAThumbprint": {},
                    "ThumbprintList": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/5HOIPDU4FMUSGRP57SU2NMMINXFIGPSLWRASN46JIZLPQEDBNHAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6V2IW52JVYGZ2XLWTHWSW3YKHD26VJRAXUVIKWPVMHZFYXYUYDLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7DWHYARF7QZJV4KCXY7HHVWH4HKIMT36RIXDXZIRMWOBOMJI4IRQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OMHOFKBFYXO7ACC5TCDM4CKOORP774BBVHS3ZYYPRMMSN6QA7GKA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NKA3D2KIE3X4FAHU4RTKZRPIQXC2WT6RIO2LQD5LFBJADQ5FJ7MA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LRBEISPHLE2QT4RDXX4DDPOXPY4LHQGBEWQJWLYWWEEFIBZY3JKQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IJBGC425GKC3GNFLJFSQTHY4P5HINNSNJ4C24KLI3BJ6LLO2DWLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5IIGL5NB4ARSAISXYX7JAMIHAUFD3VA7B7XCVLTF4YUP237U2XBQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BSCJHHROORARTTRITJADZEVAJKZBJUHNXMRA2POWHWAA3DHFMRRQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BY75KDGFGD2WT56YGH4YZU2OWILD5SYMU75W76CQJ64LKVZ7ITZA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3Y7FG6GVWDROE3QUDKYARTD6XCPAGLWF4FUOYUSQPMIKK5AGHD2A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/A5JWP5HB2TVDOYRBQVJZMI44KAUQ2MG7AQKOXO6GQ3R436LHAGAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KOYJKX7DMHAG6IFA6SUZ6TPBZK5WD4TOTYPZH67XJY5T42MBI2DQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/E34P6BIKCPG67KMYUQYY6JK7XROB2MRAVVNHXHKW62H22TBFKZEQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QYOYMMZHCMQKVG6HUPAY5SFHVGBZT5WT2WVFYNFKKOQHXTDX2E2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3ZBY4TP4LCZYETHWVWIFCQ7E3VJCP3X5UBUQ47AGMSQ3AZFVNEVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X6GHOGKP3DLX4CTJ3V2FG2VXIF3TTANVNHWMIZIYFAYHAPVKEMUQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MOMFDX57XGAFRZZMR36JN7D3OAOWCWAS667KED35BTH6737L6DBQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SXWY7JJHKILFWIYIBYKBGZHE3SETE3O6XBMCX275RW45TKRTFKOA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TSALNNEEMNCFZ2MMGLMHIH5IJFGBOPSUC3YTYSOCNQQ2EXYQRM2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BAZVBNQ5TCJ3JPQJJURQ4J3VMCBQ25LFGTQOJGJLCQLX4VOGXFTQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XNCZ2HOWWNMII34GTZXOYUM4MHHZFU6L5TN5ZFC4UFNZPV6YJEZQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MVLPBKNA52HZF346S7M373SOZKSY4UZ3YANUWKR2AZU7K6O3UQXA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/335P6YERJONN275SRKU6FBIHOW4HPRMY4NCRNFQZG776X7F5Q7JA/vendors.js"
            ]
        },
        "DiscoverProvider": {
            "input": {
                "type": "structure",
                "members": {
                    "Issuer": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ProviderCAThumbprint": {},
                    "CertificateNotBefore": {
                        "type": "timestamp"
                    },
                    "CertificateNotAfter": {
                        "type": "timestamp"
                    },
                    "ProviderCA": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/5HOIPDU4FMUSGRP57SU2NMMINXFIGPSLWRASN46JIZLPQEDBNHAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6V2IW52JVYGZ2XLWTHWSW3YKHD26VJRAXUVIKWPVMHZFYXYUYDLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7DWHYARF7QZJV4KCXY7HHVWH4HKIMT36RIXDXZIRMWOBOMJI4IRQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OMHOFKBFYXO7ACC5TCDM4CKOORP774BBVHS3ZYYPRMMSN6QA7GKA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NKA3D2KIE3X4FAHU4RTKZRPIQXC2WT6RIO2LQD5LFBJADQ5FJ7MA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LRBEISPHLE2QT4RDXX4DDPOXPY4LHQGBEWQJWLYWWEEFIBZY3JKQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IJBGC425GKC3GNFLJFSQTHY4P5HINNSNJ4C24KLI3BJ6LLO2DWLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5IIGL5NB4ARSAISXYX7JAMIHAUFD3VA7B7XCVLTF4YUP237U2XBQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BSCJHHROORARTTRITJADZEVAJKZBJUHNXMRA2POWHWAA3DHFMRRQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BY75KDGFGD2WT56YGH4YZU2OWILD5SYMU75W76CQJ64LKVZ7ITZA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3Y7FG6GVWDROE3QUDKYARTD6XCPAGLWF4FUOYUSQPMIKK5AGHD2A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/A5JWP5HB2TVDOYRBQVJZMI44KAUQ2MG7AQKOXO6GQ3R436LHAGAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KOYJKX7DMHAG6IFA6SUZ6TPBZK5WD4TOTYPZH67XJY5T42MBI2DQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/E34P6BIKCPG67KMYUQYY6JK7XROB2MRAVVNHXHKW62H22TBFKZEQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QYOYMMZHCMQKVG6HUPAY5SFHVGBZT5WT2WVFYNFKKOQHXTDX2E2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3ZBY4TP4LCZYETHWVWIFCQ7E3VJCP3X5UBUQ47AGMSQ3AZFVNEVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X6GHOGKP3DLX4CTJ3V2FG2VXIF3TTANVNHWMIZIYFAYHAPVKEMUQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MOMFDX57XGAFRZZMR36JN7D3OAOWCWAS667KED35BTH6737L6DBQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SXWY7JJHKILFWIYIBYKBGZHE3SETE3O6XBMCX275RW45TKRTFKOA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TSALNNEEMNCFZ2MMGLMHIH5IJFGBOPSUC3YTYSOCNQQ2EXYQRM2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BAZVBNQ5TCJ3JPQJJURQ4J3VMCBQ25LFGTQOJGJLCQLX4VOGXFTQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XNCZ2HOWWNMII34GTZXOYUM4MHHZFU6L5TN5ZFC4UFNZPV6YJEZQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MVLPBKNA52HZF346S7M373SOZKSY4UZ3YANUWKR2AZU7K6O3UQXA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/335P6YERJONN275SRKU6FBIHOW4HPRMY4NCRNFQZG776X7F5Q7JA/vendors.js"
            ]
        },
        "ParseSAMLAuthenticationResponse": {
            "input": {
                "type": "structure",
                "members": {
                    "Base64Response": {},
                    "SAMLProviderARN": {},
                    "SAMLProviderUniqueIdentifier": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Issuer": {},
                    "Subject": {},
                    "SubjectType": {},
                    "Recipient": {},
                    "ValidUntil": {
                        "type": "timestamp"
                    },
                    "SessionValidUntil": {
                        "type": "timestamp"
                    },
                    "IssueInstant": {
                        "type": "timestamp"
                    },
                    "ValidAfter": {
                        "type": "timestamp"
                    },
                    "SingleValuedAttributes": {
                        "type": "map",
                        "key": {},
                        "value": {}
                    },
                    "MultipleValuedAttributes": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "type": "list",
                            "member": {}
                        }
                    },
                    "MultipleValuedMapAttributes": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "type": "map",
                            "key": {},
                            "value": {
                                "type": "list",
                                "member": {}
                            }
                        }
                    },
                    "UnknownAttributes": {
                        "type": "list",
                        "member": {}
                    },
                    "SignatureValid": {
                        "type": "boolean"
                    },
                    "Duration": {
                        "type": "long"
                    },
                    "AudienceConstraints": {
                        "type": "list",
                        "member": {
                            "type": "list",
                            "member": {}
                        }
                    },
                    "StatusCode": {},
                    "RoleSessionName": {},
                    "AssertionID": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/5HOIPDU4FMUSGRP57SU2NMMINXFIGPSLWRASN46JIZLPQEDBNHAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6V2IW52JVYGZ2XLWTHWSW3YKHD26VJRAXUVIKWPVMHZFYXYUYDLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7DWHYARF7QZJV4KCXY7HHVWH4HKIMT36RIXDXZIRMWOBOMJI4IRQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OMHOFKBFYXO7ACC5TCDM4CKOORP774BBVHS3ZYYPRMMSN6QA7GKA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NKA3D2KIE3X4FAHU4RTKZRPIQXC2WT6RIO2LQD5LFBJADQ5FJ7MA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LRBEISPHLE2QT4RDXX4DDPOXPY4LHQGBEWQJWLYWWEEFIBZY3JKQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IJBGC425GKC3GNFLJFSQTHY4P5HINNSNJ4C24KLI3BJ6LLO2DWLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5IIGL5NB4ARSAISXYX7JAMIHAUFD3VA7B7XCVLTF4YUP237U2XBQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BSCJHHROORARTTRITJADZEVAJKZBJUHNXMRA2POWHWAA3DHFMRRQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BY75KDGFGD2WT56YGH4YZU2OWILD5SYMU75W76CQJ64LKVZ7ITZA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3Y7FG6GVWDROE3QUDKYARTD6XCPAGLWF4FUOYUSQPMIKK5AGHD2A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/A5JWP5HB2TVDOYRBQVJZMI44KAUQ2MG7AQKOXO6GQ3R436LHAGAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KOYJKX7DMHAG6IFA6SUZ6TPBZK5WD4TOTYPZH67XJY5T42MBI2DQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/E34P6BIKCPG67KMYUQYY6JK7XROB2MRAVVNHXHKW62H22TBFKZEQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QYOYMMZHCMQKVG6HUPAY5SFHVGBZT5WT2WVFYNFKKOQHXTDX2E2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3ZBY4TP4LCZYETHWVWIFCQ7E3VJCP3X5UBUQ47AGMSQ3AZFVNEVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X6GHOGKP3DLX4CTJ3V2FG2VXIF3TTANVNHWMIZIYFAYHAPVKEMUQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MOMFDX57XGAFRZZMR36JN7D3OAOWCWAS667KED35BTH6737L6DBQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SXWY7JJHKILFWIYIBYKBGZHE3SETE3O6XBMCX275RW45TKRTFKOA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TSALNNEEMNCFZ2MMGLMHIH5IJFGBOPSUC3YTYSOCNQQ2EXYQRM2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BAZVBNQ5TCJ3JPQJJURQ4J3VMCBQ25LFGTQOJGJLCQLX4VOGXFTQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XNCZ2HOWWNMII34GTZXOYUM4MHHZFU6L5TN5ZFC4UFNZPV6YJEZQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MVLPBKNA52HZF346S7M373SOZKSY4UZ3YANUWKR2AZU7K6O3UQXA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/335P6YERJONN275SRKU6FBIHOW4HPRMY4NCRNFQZG776X7F5Q7JA/vendors.js"
            ]
        },
        "ParseSAMLMetadata": {
            "input": {
                "type": "structure",
                "members": {
                    "MetadataFile": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityProviders": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "type": "structure",
                            "members": {
                                "URN": {},
                                "GUID": {},
                                "ValidUntil": {
                                    "type": "timestamp"
                                },
                                "SigningKeys": {
                                    "type": "list",
                                    "member": {}
                                }
                            }
                        }
                    },
                    "Duration": {
                        "type": "long"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/5HOIPDU4FMUSGRP57SU2NMMINXFIGPSLWRASN46JIZLPQEDBNHAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6V2IW52JVYGZ2XLWTHWSW3YKHD26VJRAXUVIKWPVMHZFYXYUYDLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7DWHYARF7QZJV4KCXY7HHVWH4HKIMT36RIXDXZIRMWOBOMJI4IRQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OMHOFKBFYXO7ACC5TCDM4CKOORP774BBVHS3ZYYPRMMSN6QA7GKA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NKA3D2KIE3X4FAHU4RTKZRPIQXC2WT6RIO2LQD5LFBJADQ5FJ7MA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LRBEISPHLE2QT4RDXX4DDPOXPY4LHQGBEWQJWLYWWEEFIBZY3JKQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IJBGC425GKC3GNFLJFSQTHY4P5HINNSNJ4C24KLI3BJ6LLO2DWLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5IIGL5NB4ARSAISXYX7JAMIHAUFD3VA7B7XCVLTF4YUP237U2XBQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BSCJHHROORARTTRITJADZEVAJKZBJUHNXMRA2POWHWAA3DHFMRRQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BY75KDGFGD2WT56YGH4YZU2OWILD5SYMU75W76CQJ64LKVZ7ITZA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3Y7FG6GVWDROE3QUDKYARTD6XCPAGLWF4FUOYUSQPMIKK5AGHD2A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/A5JWP5HB2TVDOYRBQVJZMI44KAUQ2MG7AQKOXO6GQ3R436LHAGAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KOYJKX7DMHAG6IFA6SUZ6TPBZK5WD4TOTYPZH67XJY5T42MBI2DQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/E34P6BIKCPG67KMYUQYY6JK7XROB2MRAVVNHXHKW62H22TBFKZEQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QYOYMMZHCMQKVG6HUPAY5SFHVGBZT5WT2WVFYNFKKOQHXTDX2E2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3ZBY4TP4LCZYETHWVWIFCQ7E3VJCP3X5UBUQ47AGMSQ3AZFVNEVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X6GHOGKP3DLX4CTJ3V2FG2VXIF3TTANVNHWMIZIYFAYHAPVKEMUQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MOMFDX57XGAFRZZMR36JN7D3OAOWCWAS667KED35BTH6737L6DBQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SXWY7JJHKILFWIYIBYKBGZHE3SETE3O6XBMCX275RW45TKRTFKOA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TSALNNEEMNCFZ2MMGLMHIH5IJFGBOPSUC3YTYSOCNQQ2EXYQRM2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BAZVBNQ5TCJ3JPQJJURQ4J3VMCBQ25LFGTQOJGJLCQLX4VOGXFTQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XNCZ2HOWWNMII34GTZXOYUM4MHHZFU6L5TN5ZFC4UFNZPV6YJEZQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MVLPBKNA52HZF346S7M373SOZKSY4UZ3YANUWKR2AZU7K6O3UQXA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/335P6YERJONN275SRKU6FBIHOW4HPRMY4NCRNFQZG776X7F5Q7JA/vendors.js"
            ]
        },
        "ValidateProviderCredentials": {
            "input": {
                "type": "structure",
                "members": {
                    "Provider": {},
                    "Credentials": {
                        "type": "map",
                        "key": {},
                        "value": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AppId": {},
                    "UserId": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/5HOIPDU4FMUSGRP57SU2NMMINXFIGPSLWRASN46JIZLPQEDBNHAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6V2IW52JVYGZ2XLWTHWSW3YKHD26VJRAXUVIKWPVMHZFYXYUYDLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7DWHYARF7QZJV4KCXY7HHVWH4HKIMT36RIXDXZIRMWOBOMJI4IRQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OMHOFKBFYXO7ACC5TCDM4CKOORP774BBVHS3ZYYPRMMSN6QA7GKA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NKA3D2KIE3X4FAHU4RTKZRPIQXC2WT6RIO2LQD5LFBJADQ5FJ7MA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LRBEISPHLE2QT4RDXX4DDPOXPY4LHQGBEWQJWLYWWEEFIBZY3JKQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IJBGC425GKC3GNFLJFSQTHY4P5HINNSNJ4C24KLI3BJ6LLO2DWLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5IIGL5NB4ARSAISXYX7JAMIHAUFD3VA7B7XCVLTF4YUP237U2XBQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BSCJHHROORARTTRITJADZEVAJKZBJUHNXMRA2POWHWAA3DHFMRRQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BY75KDGFGD2WT56YGH4YZU2OWILD5SYMU75W76CQJ64LKVZ7ITZA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3Y7FG6GVWDROE3QUDKYARTD6XCPAGLWF4FUOYUSQPMIKK5AGHD2A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/A5JWP5HB2TVDOYRBQVJZMI44KAUQ2MG7AQKOXO6GQ3R436LHAGAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KOYJKX7DMHAG6IFA6SUZ6TPBZK5WD4TOTYPZH67XJY5T42MBI2DQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/E34P6BIKCPG67KMYUQYY6JK7XROB2MRAVVNHXHKW62H22TBFKZEQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QYOYMMZHCMQKVG6HUPAY5SFHVGBZT5WT2WVFYNFKKOQHXTDX2E2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3ZBY4TP4LCZYETHWVWIFCQ7E3VJCP3X5UBUQ47AGMSQ3AZFVNEVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X6GHOGKP3DLX4CTJ3V2FG2VXIF3TTANVNHWMIZIYFAYHAPVKEMUQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MOMFDX57XGAFRZZMR36JN7D3OAOWCWAS667KED35BTH6737L6DBQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SXWY7JJHKILFWIYIBYKBGZHE3SETE3O6XBMCX275RW45TKRTFKOA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TSALNNEEMNCFZ2MMGLMHIH5IJFGBOPSUC3YTYSOCNQQ2EXYQRM2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BAZVBNQ5TCJ3JPQJJURQ4J3VMCBQ25LFGTQOJGJLCQLX4VOGXFTQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XNCZ2HOWWNMII34GTZXOYUM4MHHZFU6L5TN5ZFC4UFNZPV6YJEZQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MVLPBKNA52HZF346S7M373SOZKSY4UZ3YANUWKR2AZU7K6O3UQXA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/335P6YERJONN275SRKU6FBIHOW4HPRMY4NCRNFQZG776X7F5Q7JA/vendors.js"
            ]
        },
        "ParseSAMLResponseWithEntitlementsValidation": {
            "input": {
                "type": "structure",
                "required": [
                    "Base64Response"
                ],
                "members": {
                    "Base64Response": {},
                    "SAMLProviderARN": {},
                    "SAMLProviderUniqueIdentifier": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Issuer": {},
                    "Subject": {},
                    "SubjectType": {},
                    "Recipient": {},
                    "ValidUntil": {
                        "type": "timestamp"
                    },
                    "SessionValidUntil": {
                        "type": "timestamp"
                    },
                    "IssueInstant": {
                        "type": "timestamp"
                    },
                    "ValidAfter": {
                        "type": "timestamp"
                    },
                    "SingleValuedAttributes": {
                        "shape": "Sp"
                    },
                    "MultipleValuedAttributes": {
                        "shape": "Ss"
                    },
                    "MultipleValuedMapAttributes": {
                        "shape": "Su"
                    },
                    "UnknownAttributes": {
                        "shape": "Sy"
                    },
                    "SignatureValid": {
                        "type": "boolean"
                    },
                    "Duration": {
                        "type": "long"
                    },
                    "AudienceConstraints": {
                        "shape": "S10"
                    },
                    "StatusCode": {},
                    "RoleSessionName": {},
                    "AssertionID": {},
                    "SubjectConfirmationDataList": {
                        "shape": "S16"
                    },
                    "Conditions": {
                        "shape": "S19"
                    },
                    "AuthnStatements": {
                        "shape": "S1a"
                    },
                    "AssertionEncryptionMode": {},
                    "AssertionEncrypted": {
                        "type": "boolean"
                    },
                    "AssertionDecryptionKeyMetadata": {
                        "shape": "S1d"
                    },
                    "AssertionEncryptionPrivateKeyAttachedToProvider": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/E34P6BIKCPG67KMYUQYY6JK7XROB2MRAVVNHXHKW62H22TBFKZEQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QYOYMMZHCMQKVG6HUPAY5SFHVGBZT5WT2WVFYNFKKOQHXTDX2E2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3ZBY4TP4LCZYETHWVWIFCQ7E3VJCP3X5UBUQ47AGMSQ3AZFVNEVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X6GHOGKP3DLX4CTJ3V2FG2VXIF3TTANVNHWMIZIYFAYHAPVKEMUQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MOMFDX57XGAFRZZMR36JN7D3OAOWCWAS667KED35BTH6737L6DBQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SXWY7JJHKILFWIYIBYKBGZHE3SETE3O6XBMCX275RW45TKRTFKOA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TSALNNEEMNCFZ2MMGLMHIH5IJFGBOPSUC3YTYSOCNQQ2EXYQRM2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BAZVBNQ5TCJ3JPQJJURQ4J3VMCBQ25LFGTQOJGJLCQLX4VOGXFTQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XNCZ2HOWWNMII34GTZXOYUM4MHHZFU6L5TN5ZFC4UFNZPV6YJEZQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MVLPBKNA52HZF346S7M373SOZKSY4UZ3YANUWKR2AZU7K6O3UQXA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/335P6YERJONN275SRKU6FBIHOW4HPRMY4NCRNFQZG776X7F5Q7JA/vendors.js"
            ]
        }
    },
    "shapes": {
        "Sp": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "Ss": {
            "type": "map",
            "key": {},
            "value": {
                "type": "list",
                "member": {}
            }
        },
        "Su": {
            "type": "map",
            "key": {},
            "value": {
                "type": "map",
                "key": {},
                "value": {
                    "type": "list",
                    "member": {}
                }
            }
        },
        "Sy": {
            "type": "list",
            "member": {}
        },
        "S10": {
            "type": "list",
            "member": {
                "type": "list",
                "member": {}
            }
        },
        "S16": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "NotOnOrAfter": {
                        "type": "long"
                    }
                }
            }
        },
        "S19": {
            "type": "structure",
            "members": {
                "NotOnOrAfter": {
                    "type": "long"
                }
            }
        },
        "S1a": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "SessionNotOnOrAfter": {
                        "type": "long"
                    },
                    "AuthnInstant": {
                        "type": "long"
                    }
                }
            }
        },
        "S1d": {
            "type": "structure",
            "members": {
                "KeyId": {},
                "CreationTimestamp": {
                    "type": "long"
                }
            }
        }
    }
}