{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2011-06-15",
        "endpointPrefix": "openiddiscoveryservice",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceFullName": "AWS OpenId Discovery Service",
        "signatureVersion": "v4",
        "targetPrefix": "AWSOpenIdDiscoveryService",
        "uid": "openiddiscoveryservice-2011-06-15",
        "download_location": [
            "https://d3gz1r5kdm6nwl.cloudfront.net/1714585375184/main_en.js",
            "https://d3gz1r5kdm6nwl.cloudfront.net/1714760957319/main_en.js",
            "https://d3gz1r5kdm6nwl.cloudfront.net/1715209927354/main_en.js",
            "https://d3gz1r5kdm6nwl.cloudfront.net/1715293917770/main_en.js",
            "https://d3gz1r5kdm6nwl.cloudfront.net/1715613614951/main_en.js",
            "https://d3gz1r5kdm6nwl.cloudfront.net/1715627347504/main_en.js",
            "https://d3gz1r5kdm6nwl.cloudfront.net/1715727209370/main_en.js",
            "https://d3gz1r5kdm6nwl.cloudfront.net/1715876260238/main_en.js",
            "https://d3gz1r5kdm6nwl.cloudfront.net/1716228817000/main_en.js",
            "https://d3gz1r5kdm6nwl.cloudfront.net/1716313223020/main_en.js",
            "https://d3gz1r5kdm6nwl.cloudfront.net/1717108711802/main_en.js",
            "https://d3gz1r5kdm6nwl.cloudfront.net/1717188335179/main_en.js",
            "https://d3gz1r5kdm6nwl.cloudfront.net/1717436920664/main_en.js",
            "https://d3gz1r5kdm6nwl.cloudfront.net/1717549677370/main_en.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NT4XYILRRAOABSNZOJV6Z6YC6PTIRMQCHYIKOLC4DCCUFMQ7CEQA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EVOOEGZN2WRLTRXFBJJWEIHY2SCUWQ5KILO2AP7UWUDQ6HJPTEVA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QM5FSBMM3N5ZLKGKOIQQUNJ3WKH34H2QC62XPVNPCVTYJ635MH6A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FU6SUNSDLX6ORMGW3OH4VFBR5LF2C7GTCCCXICYL3QXZXSUAOETA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XAVPVAQA57YFSUK4UBENZ3PED5CPP6BAA255N6PJSAU2PFRSFLJQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/F3ETP2WR3JQKH6QXKH4HZCTFYI5IM5O2SRZDQ4I4ZKLNQOPIBLLQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OLQPJW5G5NVILV5FP5RYSRWDVWIVWHRP7ANDLQCBX5TEAZLDZA2A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YLD4BM4UNPAOKULNNLF6LHPJCDQHXVWL3XJZQKLGLVRKN5IIPDIQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RZZTVCT7W6B63ZJCAFVUR5SO5YIYYODJU3SN3CWKMDUFAVQVSR7Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J46Z4D4K2LM5ZHWOO5JW7L4C2WBO7X6VKM6JHV66KIYS2EXFV5CA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WGJO2MOSR2UBOKJ7UUGBTP5JYK7BJHD2FDMMIWKZMJ4MPXBYS3DA/vendors.js"
        ]
    },
    "operations": {
        "DiscoverKey": {
            "input": {
                "type": "structure",
                "members": {
                    "Issuer": {},
                    "KeyId": {},
                    "TlsRequired": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Jwk": {},
                    "ProviderCAThumbprint": {},
                    "ThumbprintList": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "download_location": [
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714760957319/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1715209927354/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1715293917770/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1715613614951/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1715627347504/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1715727209370/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1715876260238/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1716228817000/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1716313223020/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1717108711802/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1717188335179/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1717436920664/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1717549677370/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NT4XYILRRAOABSNZOJV6Z6YC6PTIRMQCHYIKOLC4DCCUFMQ7CEQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EVOOEGZN2WRLTRXFBJJWEIHY2SCUWQ5KILO2AP7UWUDQ6HJPTEVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QM5FSBMM3N5ZLKGKOIQQUNJ3WKH34H2QC62XPVNPCVTYJ635MH6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FU6SUNSDLX6ORMGW3OH4VFBR5LF2C7GTCCCXICYL3QXZXSUAOETA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XAVPVAQA57YFSUK4UBENZ3PED5CPP6BAA255N6PJSAU2PFRSFLJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3ETP2WR3JQKH6QXKH4HZCTFYI5IM5O2SRZDQ4I4ZKLNQOPIBLLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLQPJW5G5NVILV5FP5RYSRWDVWIVWHRP7ANDLQCBX5TEAZLDZA2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLD4BM4UNPAOKULNNLF6LHPJCDQHXVWL3XJZQKLGLVRKN5IIPDIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZZTVCT7W6B63ZJCAFVUR5SO5YIYYODJU3SN3CWKMDUFAVQVSR7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J46Z4D4K2LM5ZHWOO5JW7L4C2WBO7X6VKM6JHV66KIYS2EXFV5CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJO2MOSR2UBOKJ7UUGBTP5JYK7BJHD2FDMMIWKZMJ4MPXBYS3DA/vendors.js"
            ]
        },
        "DiscoverProvider": {
            "input": {
                "type": "structure",
                "members": {
                    "Issuer": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ProviderCAThumbprint": {},
                    "CertificateNotBefore": {
                        "type": "timestamp"
                    },
                    "CertificateNotAfter": {
                        "type": "timestamp"
                    },
                    "ProviderCA": {}
                }
            },
            "download_location": [
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714760957319/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1715209927354/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1715293917770/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1715613614951/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1715627347504/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1715727209370/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1715876260238/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1716228817000/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1716313223020/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1717108711802/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1717188335179/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1717436920664/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1717549677370/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NT4XYILRRAOABSNZOJV6Z6YC6PTIRMQCHYIKOLC4DCCUFMQ7CEQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EVOOEGZN2WRLTRXFBJJWEIHY2SCUWQ5KILO2AP7UWUDQ6HJPTEVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QM5FSBMM3N5ZLKGKOIQQUNJ3WKH34H2QC62XPVNPCVTYJ635MH6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FU6SUNSDLX6ORMGW3OH4VFBR5LF2C7GTCCCXICYL3QXZXSUAOETA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XAVPVAQA57YFSUK4UBENZ3PED5CPP6BAA255N6PJSAU2PFRSFLJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3ETP2WR3JQKH6QXKH4HZCTFYI5IM5O2SRZDQ4I4ZKLNQOPIBLLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLQPJW5G5NVILV5FP5RYSRWDVWIVWHRP7ANDLQCBX5TEAZLDZA2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLD4BM4UNPAOKULNNLF6LHPJCDQHXVWL3XJZQKLGLVRKN5IIPDIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZZTVCT7W6B63ZJCAFVUR5SO5YIYYODJU3SN3CWKMDUFAVQVSR7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J46Z4D4K2LM5ZHWOO5JW7L4C2WBO7X6VKM6JHV66KIYS2EXFV5CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJO2MOSR2UBOKJ7UUGBTP5JYK7BJHD2FDMMIWKZMJ4MPXBYS3DA/vendors.js"
            ]
        },
        "ParseSAMLAuthenticationResponse": {
            "input": {
                "type": "structure",
                "members": {
                    "Base64Response": {},
                    "SAMLProviderARN": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Issuer": {},
                    "Subject": {},
                    "SubjectType": {},
                    "Recipient": {},
                    "ValidUntil": {
                        "type": "timestamp"
                    },
                    "SessionValidUntil": {
                        "type": "timestamp"
                    },
                    "IssueInstant": {
                        "type": "timestamp"
                    },
                    "ValidAfter": {
                        "type": "timestamp"
                    },
                    "SingleValuedAttributes": {
                        "type": "map",
                        "key": {},
                        "value": {}
                    },
                    "MultipleValuedAttributes": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "type": "list",
                            "member": {}
                        }
                    },
                    "MultipleValuedMapAttributes": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "type": "map",
                            "key": {},
                            "value": {
                                "type": "list",
                                "member": {}
                            }
                        }
                    },
                    "UnknownAttributes": {
                        "type": "list",
                        "member": {}
                    },
                    "SignatureValid": {
                        "type": "boolean"
                    },
                    "Duration": {
                        "type": "long"
                    },
                    "AudienceConstraints": {
                        "type": "list",
                        "member": {
                            "type": "list",
                            "member": {}
                        }
                    },
                    "StatusCode": {},
                    "RoleSessionName": {},
                    "AssertionID": {}
                }
            },
            "download_location": [
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714760957319/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1715209927354/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1715293917770/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1715613614951/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1715627347504/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1715727209370/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1715876260238/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1716228817000/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1716313223020/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1717108711802/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1717188335179/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1717436920664/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1717549677370/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NT4XYILRRAOABSNZOJV6Z6YC6PTIRMQCHYIKOLC4DCCUFMQ7CEQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EVOOEGZN2WRLTRXFBJJWEIHY2SCUWQ5KILO2AP7UWUDQ6HJPTEVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QM5FSBMM3N5ZLKGKOIQQUNJ3WKH34H2QC62XPVNPCVTYJ635MH6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FU6SUNSDLX6ORMGW3OH4VFBR5LF2C7GTCCCXICYL3QXZXSUAOETA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XAVPVAQA57YFSUK4UBENZ3PED5CPP6BAA255N6PJSAU2PFRSFLJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3ETP2WR3JQKH6QXKH4HZCTFYI5IM5O2SRZDQ4I4ZKLNQOPIBLLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLQPJW5G5NVILV5FP5RYSRWDVWIVWHRP7ANDLQCBX5TEAZLDZA2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLD4BM4UNPAOKULNNLF6LHPJCDQHXVWL3XJZQKLGLVRKN5IIPDIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZZTVCT7W6B63ZJCAFVUR5SO5YIYYODJU3SN3CWKMDUFAVQVSR7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J46Z4D4K2LM5ZHWOO5JW7L4C2WBO7X6VKM6JHV66KIYS2EXFV5CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJO2MOSR2UBOKJ7UUGBTP5JYK7BJHD2FDMMIWKZMJ4MPXBYS3DA/vendors.js"
            ]
        },
        "ParseSAMLMetadata": {
            "input": {
                "type": "structure",
                "members": {
                    "MetadataFile": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityProviders": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "type": "structure",
                            "members": {
                                "URN": {},
                                "GUID": {},
                                "ValidUntil": {
                                    "type": "timestamp"
                                },
                                "SigningKeys": {
                                    "type": "list",
                                    "member": {}
                                }
                            }
                        }
                    },
                    "Duration": {
                        "type": "long"
                    }
                }
            },
            "download_location": [
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714760957319/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1715209927354/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1715293917770/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1715613614951/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1715627347504/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1715727209370/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1715876260238/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1716228817000/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1716313223020/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1717108711802/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1717188335179/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1717436920664/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1717549677370/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NT4XYILRRAOABSNZOJV6Z6YC6PTIRMQCHYIKOLC4DCCUFMQ7CEQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EVOOEGZN2WRLTRXFBJJWEIHY2SCUWQ5KILO2AP7UWUDQ6HJPTEVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QM5FSBMM3N5ZLKGKOIQQUNJ3WKH34H2QC62XPVNPCVTYJ635MH6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FU6SUNSDLX6ORMGW3OH4VFBR5LF2C7GTCCCXICYL3QXZXSUAOETA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XAVPVAQA57YFSUK4UBENZ3PED5CPP6BAA255N6PJSAU2PFRSFLJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3ETP2WR3JQKH6QXKH4HZCTFYI5IM5O2SRZDQ4I4ZKLNQOPIBLLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLQPJW5G5NVILV5FP5RYSRWDVWIVWHRP7ANDLQCBX5TEAZLDZA2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLD4BM4UNPAOKULNNLF6LHPJCDQHXVWL3XJZQKLGLVRKN5IIPDIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZZTVCT7W6B63ZJCAFVUR5SO5YIYYODJU3SN3CWKMDUFAVQVSR7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J46Z4D4K2LM5ZHWOO5JW7L4C2WBO7X6VKM6JHV66KIYS2EXFV5CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJO2MOSR2UBOKJ7UUGBTP5JYK7BJHD2FDMMIWKZMJ4MPXBYS3DA/vendors.js"
            ]
        },
        "ValidateProviderCredentials": {
            "input": {
                "type": "structure",
                "members": {
                    "Provider": {},
                    "Credentials": {
                        "type": "map",
                        "key": {},
                        "value": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AppId": {},
                    "UserId": {}
                }
            },
            "download_location": [
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714760957319/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1715209927354/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1715293917770/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1715613614951/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1715627347504/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1715727209370/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1715876260238/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1716228817000/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1716313223020/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1717108711802/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1717188335179/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1717436920664/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1717549677370/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NT4XYILRRAOABSNZOJV6Z6YC6PTIRMQCHYIKOLC4DCCUFMQ7CEQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EVOOEGZN2WRLTRXFBJJWEIHY2SCUWQ5KILO2AP7UWUDQ6HJPTEVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QM5FSBMM3N5ZLKGKOIQQUNJ3WKH34H2QC62XPVNPCVTYJ635MH6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FU6SUNSDLX6ORMGW3OH4VFBR5LF2C7GTCCCXICYL3QXZXSUAOETA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XAVPVAQA57YFSUK4UBENZ3PED5CPP6BAA255N6PJSAU2PFRSFLJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3ETP2WR3JQKH6QXKH4HZCTFYI5IM5O2SRZDQ4I4ZKLNQOPIBLLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLQPJW5G5NVILV5FP5RYSRWDVWIVWHRP7ANDLQCBX5TEAZLDZA2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLD4BM4UNPAOKULNNLF6LHPJCDQHXVWL3XJZQKLGLVRKN5IIPDIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZZTVCT7W6B63ZJCAFVUR5SO5YIYYODJU3SN3CWKMDUFAVQVSR7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J46Z4D4K2LM5ZHWOO5JW7L4C2WBO7X6VKM6JHV66KIYS2EXFV5CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJO2MOSR2UBOKJ7UUGBTP5JYK7BJHD2FDMMIWKZMJ4MPXBYS3DA/vendors.js"
            ]
        }
    },
    "shapes": {}
}