{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2011-06-15",
        "endpointPrefix": "openiddiscoveryservice",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceFullName": "AWS OpenId Discovery Service",
        "signatureVersion": "v4",
        "targetPrefix": "AWSOpenIdDiscoveryService",
        "uid": "openiddiscoveryservice-2011-06-15",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/F3ETP2WR3JQKH6QXKH4HZCTFYI5IM5O2SRZDQ4I4ZKLNQOPIBLLQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OLQPJW5G5NVILV5FP5RYSRWDVWIVWHRP7ANDLQCBX5TEAZLDZA2A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YLD4BM4UNPAOKULNNLF6LHPJCDQHXVWL3XJZQKLGLVRKN5IIPDIQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RZZTVCT7W6B63ZJCAFVUR5SO5YIYYODJU3SN3CWKMDUFAVQVSR7Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J46Z4D4K2LM5ZHWOO5JW7L4C2WBO7X6VKM6JHV66KIYS2EXFV5CA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WGJO2MOSR2UBOKJ7UUGBTP5JYK7BJHD2FDMMIWKZMJ4MPXBYS3DA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XPC2N6MUODW2MSWAAFCMBTP5EACHQ2HF7XOUCVNQQ7AFNY5DO3QQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MBNGA7TJBXJOHOITYXPDUBDL6B6WNNQAHIXRFZOPXSDAPA764WKQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KYORJMUSTTOHVVBQ7UBXPAAONVA4OZ7N2YSFDYOREWEPBM7LHTYA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GI2P4JODMWZOUCJB2KRQD7NOSJF45LNJE5IIBY2JWF5SG22A6PNQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3IQGJRDICDGSYKQP2W2Q2M3XERHQIO7SY275CWFE4G5GAS7S3X3A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QD3ESEGYWJIICRVYFUJPXN4EXKEYB54GBBJW242FO7VVYJRB3O2A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WSBYEDRHZ2VYKX6GKHC2N7MREB3MQYFD3YYNJ6UPJUEFSGH56ZRA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LNONHTEE3BTAB77PXP23UM24RNEELDQDF7CVXZVIDTS65OLEGXOA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NFM6MXXX46HZXQGDXOIBQ7TD5ORGYEU2CER73NZNFFFAFCAEECNQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EXUH6JLFWDKS5PIWTYQFXXBNDTWOMETUL63VOX3AHJQNVXFA36UA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3OSF3EOVTBBDWVKWXZMUAHIJ6VVLHIVYRYR24O2A7JQBXSVZUMIA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XSIMZ5VCA3R6QFE3OS5I3DHEW7SZKNDWVPTH2SUZ43KNUT2RSTHQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Q52QG6G2N2F4TVNQGBIX6KZAHGGZFVJT467KBWIIBJDSILLUPRCQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FY27LTQPFKBGIUQDM5SNOY4IQEVSAJ6BP3WPLXSXI2QIADMBA5TQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MEZIQCOIM2WXKCASNYCZP6K7YD2TWSLENWCLLLWRIA7QEKTTT3XQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/G34PLYIA4WGXBRES52VNLI2ZAMEJVSEAO2YVJNEJWDSHWJW5J3NA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VFN73HPHP6HJMRJXE535KXT56G32GZEVM4ODEMPCFAFMYFJ2QUJQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TLGVULHGPIHTXKWLS3RTYPI4D5WA656CIT2HJF3745VTNMQ52TZA/vendors.js"
        ]
    },
    "operations": {
        "DiscoverKey": {
            "input": {
                "type": "structure",
                "members": {
                    "Issuer": {},
                    "KeyId": {},
                    "TlsRequired": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Jwk": {},
                    "ProviderCAThumbprint": {},
                    "ThumbprintList": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLQPJW5G5NVILV5FP5RYSRWDVWIVWHRP7ANDLQCBX5TEAZLDZA2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLD4BM4UNPAOKULNNLF6LHPJCDQHXVWL3XJZQKLGLVRKN5IIPDIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZZTVCT7W6B63ZJCAFVUR5SO5YIYYODJU3SN3CWKMDUFAVQVSR7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J46Z4D4K2LM5ZHWOO5JW7L4C2WBO7X6VKM6JHV66KIYS2EXFV5CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJO2MOSR2UBOKJ7UUGBTP5JYK7BJHD2FDMMIWKZMJ4MPXBYS3DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPC2N6MUODW2MSWAAFCMBTP5EACHQ2HF7XOUCVNQQ7AFNY5DO3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBNGA7TJBXJOHOITYXPDUBDL6B6WNNQAHIXRFZOPXSDAPA764WKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYORJMUSTTOHVVBQ7UBXPAAONVA4OZ7N2YSFDYOREWEPBM7LHTYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GI2P4JODMWZOUCJB2KRQD7NOSJF45LNJE5IIBY2JWF5SG22A6PNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3IQGJRDICDGSYKQP2W2Q2M3XERHQIO7SY275CWFE4G5GAS7S3X3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QD3ESEGYWJIICRVYFUJPXN4EXKEYB54GBBJW242FO7VVYJRB3O2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSBYEDRHZ2VYKX6GKHC2N7MREB3MQYFD3YYNJ6UPJUEFSGH56ZRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNONHTEE3BTAB77PXP23UM24RNEELDQDF7CVXZVIDTS65OLEGXOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFM6MXXX46HZXQGDXOIBQ7TD5ORGYEU2CER73NZNFFFAFCAEECNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXUH6JLFWDKS5PIWTYQFXXBNDTWOMETUL63VOX3AHJQNVXFA36UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3OSF3EOVTBBDWVKWXZMUAHIJ6VVLHIVYRYR24O2A7JQBXSVZUMIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XSIMZ5VCA3R6QFE3OS5I3DHEW7SZKNDWVPTH2SUZ43KNUT2RSTHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q52QG6G2N2F4TVNQGBIX6KZAHGGZFVJT467KBWIIBJDSILLUPRCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FY27LTQPFKBGIUQDM5SNOY4IQEVSAJ6BP3WPLXSXI2QIADMBA5TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MEZIQCOIM2WXKCASNYCZP6K7YD2TWSLENWCLLLWRIA7QEKTTT3XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G34PLYIA4WGXBRES52VNLI2ZAMEJVSEAO2YVJNEJWDSHWJW5J3NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFN73HPHP6HJMRJXE535KXT56G32GZEVM4ODEMPCFAFMYFJ2QUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLGVULHGPIHTXKWLS3RTYPI4D5WA656CIT2HJF3745VTNMQ52TZA/vendors.js"
            ]
        },
        "DiscoverProvider": {
            "input": {
                "type": "structure",
                "members": {
                    "Issuer": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ProviderCAThumbprint": {},
                    "CertificateNotBefore": {
                        "type": "timestamp"
                    },
                    "CertificateNotAfter": {
                        "type": "timestamp"
                    },
                    "ProviderCA": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLQPJW5G5NVILV5FP5RYSRWDVWIVWHRP7ANDLQCBX5TEAZLDZA2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLD4BM4UNPAOKULNNLF6LHPJCDQHXVWL3XJZQKLGLVRKN5IIPDIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZZTVCT7W6B63ZJCAFVUR5SO5YIYYODJU3SN3CWKMDUFAVQVSR7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J46Z4D4K2LM5ZHWOO5JW7L4C2WBO7X6VKM6JHV66KIYS2EXFV5CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJO2MOSR2UBOKJ7UUGBTP5JYK7BJHD2FDMMIWKZMJ4MPXBYS3DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPC2N6MUODW2MSWAAFCMBTP5EACHQ2HF7XOUCVNQQ7AFNY5DO3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBNGA7TJBXJOHOITYXPDUBDL6B6WNNQAHIXRFZOPXSDAPA764WKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYORJMUSTTOHVVBQ7UBXPAAONVA4OZ7N2YSFDYOREWEPBM7LHTYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GI2P4JODMWZOUCJB2KRQD7NOSJF45LNJE5IIBY2JWF5SG22A6PNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3IQGJRDICDGSYKQP2W2Q2M3XERHQIO7SY275CWFE4G5GAS7S3X3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QD3ESEGYWJIICRVYFUJPXN4EXKEYB54GBBJW242FO7VVYJRB3O2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSBYEDRHZ2VYKX6GKHC2N7MREB3MQYFD3YYNJ6UPJUEFSGH56ZRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNONHTEE3BTAB77PXP23UM24RNEELDQDF7CVXZVIDTS65OLEGXOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFM6MXXX46HZXQGDXOIBQ7TD5ORGYEU2CER73NZNFFFAFCAEECNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXUH6JLFWDKS5PIWTYQFXXBNDTWOMETUL63VOX3AHJQNVXFA36UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3OSF3EOVTBBDWVKWXZMUAHIJ6VVLHIVYRYR24O2A7JQBXSVZUMIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XSIMZ5VCA3R6QFE3OS5I3DHEW7SZKNDWVPTH2SUZ43KNUT2RSTHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q52QG6G2N2F4TVNQGBIX6KZAHGGZFVJT467KBWIIBJDSILLUPRCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FY27LTQPFKBGIUQDM5SNOY4IQEVSAJ6BP3WPLXSXI2QIADMBA5TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MEZIQCOIM2WXKCASNYCZP6K7YD2TWSLENWCLLLWRIA7QEKTTT3XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G34PLYIA4WGXBRES52VNLI2ZAMEJVSEAO2YVJNEJWDSHWJW5J3NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFN73HPHP6HJMRJXE535KXT56G32GZEVM4ODEMPCFAFMYFJ2QUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLGVULHGPIHTXKWLS3RTYPI4D5WA656CIT2HJF3745VTNMQ52TZA/vendors.js"
            ]
        },
        "ParseSAMLAuthenticationResponse": {
            "input": {
                "type": "structure",
                "members": {
                    "Base64Response": {},
                    "SAMLProviderARN": {},
                    "SAMLProviderUniqueIdentifier": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Issuer": {},
                    "Subject": {},
                    "SubjectType": {},
                    "Recipient": {},
                    "ValidUntil": {
                        "type": "timestamp"
                    },
                    "SessionValidUntil": {
                        "type": "timestamp"
                    },
                    "IssueInstant": {
                        "type": "timestamp"
                    },
                    "ValidAfter": {
                        "type": "timestamp"
                    },
                    "SingleValuedAttributes": {
                        "type": "map",
                        "key": {},
                        "value": {}
                    },
                    "MultipleValuedAttributes": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "type": "list",
                            "member": {}
                        }
                    },
                    "MultipleValuedMapAttributes": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "type": "map",
                            "key": {},
                            "value": {
                                "type": "list",
                                "member": {}
                            }
                        }
                    },
                    "UnknownAttributes": {
                        "type": "list",
                        "member": {}
                    },
                    "SignatureValid": {
                        "type": "boolean"
                    },
                    "Duration": {
                        "type": "long"
                    },
                    "AudienceConstraints": {
                        "type": "list",
                        "member": {
                            "type": "list",
                            "member": {}
                        }
                    },
                    "StatusCode": {},
                    "RoleSessionName": {},
                    "AssertionID": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLQPJW5G5NVILV5FP5RYSRWDVWIVWHRP7ANDLQCBX5TEAZLDZA2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLD4BM4UNPAOKULNNLF6LHPJCDQHXVWL3XJZQKLGLVRKN5IIPDIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZZTVCT7W6B63ZJCAFVUR5SO5YIYYODJU3SN3CWKMDUFAVQVSR7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J46Z4D4K2LM5ZHWOO5JW7L4C2WBO7X6VKM6JHV66KIYS2EXFV5CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJO2MOSR2UBOKJ7UUGBTP5JYK7BJHD2FDMMIWKZMJ4MPXBYS3DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPC2N6MUODW2MSWAAFCMBTP5EACHQ2HF7XOUCVNQQ7AFNY5DO3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBNGA7TJBXJOHOITYXPDUBDL6B6WNNQAHIXRFZOPXSDAPA764WKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYORJMUSTTOHVVBQ7UBXPAAONVA4OZ7N2YSFDYOREWEPBM7LHTYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GI2P4JODMWZOUCJB2KRQD7NOSJF45LNJE5IIBY2JWF5SG22A6PNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3IQGJRDICDGSYKQP2W2Q2M3XERHQIO7SY275CWFE4G5GAS7S3X3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QD3ESEGYWJIICRVYFUJPXN4EXKEYB54GBBJW242FO7VVYJRB3O2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSBYEDRHZ2VYKX6GKHC2N7MREB3MQYFD3YYNJ6UPJUEFSGH56ZRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNONHTEE3BTAB77PXP23UM24RNEELDQDF7CVXZVIDTS65OLEGXOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFM6MXXX46HZXQGDXOIBQ7TD5ORGYEU2CER73NZNFFFAFCAEECNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXUH6JLFWDKS5PIWTYQFXXBNDTWOMETUL63VOX3AHJQNVXFA36UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3OSF3EOVTBBDWVKWXZMUAHIJ6VVLHIVYRYR24O2A7JQBXSVZUMIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XSIMZ5VCA3R6QFE3OS5I3DHEW7SZKNDWVPTH2SUZ43KNUT2RSTHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q52QG6G2N2F4TVNQGBIX6KZAHGGZFVJT467KBWIIBJDSILLUPRCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FY27LTQPFKBGIUQDM5SNOY4IQEVSAJ6BP3WPLXSXI2QIADMBA5TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MEZIQCOIM2WXKCASNYCZP6K7YD2TWSLENWCLLLWRIA7QEKTTT3XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G34PLYIA4WGXBRES52VNLI2ZAMEJVSEAO2YVJNEJWDSHWJW5J3NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFN73HPHP6HJMRJXE535KXT56G32GZEVM4ODEMPCFAFMYFJ2QUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLGVULHGPIHTXKWLS3RTYPI4D5WA656CIT2HJF3745VTNMQ52TZA/vendors.js"
            ]
        },
        "ParseSAMLMetadata": {
            "input": {
                "type": "structure",
                "members": {
                    "MetadataFile": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityProviders": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "type": "structure",
                            "members": {
                                "URN": {},
                                "GUID": {},
                                "ValidUntil": {
                                    "type": "timestamp"
                                },
                                "SigningKeys": {
                                    "type": "list",
                                    "member": {}
                                }
                            }
                        }
                    },
                    "Duration": {
                        "type": "long"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLQPJW5G5NVILV5FP5RYSRWDVWIVWHRP7ANDLQCBX5TEAZLDZA2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLD4BM4UNPAOKULNNLF6LHPJCDQHXVWL3XJZQKLGLVRKN5IIPDIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZZTVCT7W6B63ZJCAFVUR5SO5YIYYODJU3SN3CWKMDUFAVQVSR7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J46Z4D4K2LM5ZHWOO5JW7L4C2WBO7X6VKM6JHV66KIYS2EXFV5CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJO2MOSR2UBOKJ7UUGBTP5JYK7BJHD2FDMMIWKZMJ4MPXBYS3DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPC2N6MUODW2MSWAAFCMBTP5EACHQ2HF7XOUCVNQQ7AFNY5DO3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBNGA7TJBXJOHOITYXPDUBDL6B6WNNQAHIXRFZOPXSDAPA764WKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYORJMUSTTOHVVBQ7UBXPAAONVA4OZ7N2YSFDYOREWEPBM7LHTYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GI2P4JODMWZOUCJB2KRQD7NOSJF45LNJE5IIBY2JWF5SG22A6PNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3IQGJRDICDGSYKQP2W2Q2M3XERHQIO7SY275CWFE4G5GAS7S3X3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QD3ESEGYWJIICRVYFUJPXN4EXKEYB54GBBJW242FO7VVYJRB3O2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSBYEDRHZ2VYKX6GKHC2N7MREB3MQYFD3YYNJ6UPJUEFSGH56ZRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNONHTEE3BTAB77PXP23UM24RNEELDQDF7CVXZVIDTS65OLEGXOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFM6MXXX46HZXQGDXOIBQ7TD5ORGYEU2CER73NZNFFFAFCAEECNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXUH6JLFWDKS5PIWTYQFXXBNDTWOMETUL63VOX3AHJQNVXFA36UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3OSF3EOVTBBDWVKWXZMUAHIJ6VVLHIVYRYR24O2A7JQBXSVZUMIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XSIMZ5VCA3R6QFE3OS5I3DHEW7SZKNDWVPTH2SUZ43KNUT2RSTHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q52QG6G2N2F4TVNQGBIX6KZAHGGZFVJT467KBWIIBJDSILLUPRCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FY27LTQPFKBGIUQDM5SNOY4IQEVSAJ6BP3WPLXSXI2QIADMBA5TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MEZIQCOIM2WXKCASNYCZP6K7YD2TWSLENWCLLLWRIA7QEKTTT3XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G34PLYIA4WGXBRES52VNLI2ZAMEJVSEAO2YVJNEJWDSHWJW5J3NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFN73HPHP6HJMRJXE535KXT56G32GZEVM4ODEMPCFAFMYFJ2QUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLGVULHGPIHTXKWLS3RTYPI4D5WA656CIT2HJF3745VTNMQ52TZA/vendors.js"
            ]
        },
        "ValidateProviderCredentials": {
            "input": {
                "type": "structure",
                "members": {
                    "Provider": {},
                    "Credentials": {
                        "type": "map",
                        "key": {},
                        "value": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AppId": {},
                    "UserId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLQPJW5G5NVILV5FP5RYSRWDVWIVWHRP7ANDLQCBX5TEAZLDZA2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLD4BM4UNPAOKULNNLF6LHPJCDQHXVWL3XJZQKLGLVRKN5IIPDIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZZTVCT7W6B63ZJCAFVUR5SO5YIYYODJU3SN3CWKMDUFAVQVSR7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J46Z4D4K2LM5ZHWOO5JW7L4C2WBO7X6VKM6JHV66KIYS2EXFV5CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJO2MOSR2UBOKJ7UUGBTP5JYK7BJHD2FDMMIWKZMJ4MPXBYS3DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPC2N6MUODW2MSWAAFCMBTP5EACHQ2HF7XOUCVNQQ7AFNY5DO3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBNGA7TJBXJOHOITYXPDUBDL6B6WNNQAHIXRFZOPXSDAPA764WKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYORJMUSTTOHVVBQ7UBXPAAONVA4OZ7N2YSFDYOREWEPBM7LHTYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GI2P4JODMWZOUCJB2KRQD7NOSJF45LNJE5IIBY2JWF5SG22A6PNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3IQGJRDICDGSYKQP2W2Q2M3XERHQIO7SY275CWFE4G5GAS7S3X3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QD3ESEGYWJIICRVYFUJPXN4EXKEYB54GBBJW242FO7VVYJRB3O2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSBYEDRHZ2VYKX6GKHC2N7MREB3MQYFD3YYNJ6UPJUEFSGH56ZRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNONHTEE3BTAB77PXP23UM24RNEELDQDF7CVXZVIDTS65OLEGXOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFM6MXXX46HZXQGDXOIBQ7TD5ORGYEU2CER73NZNFFFAFCAEECNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXUH6JLFWDKS5PIWTYQFXXBNDTWOMETUL63VOX3AHJQNVXFA36UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3OSF3EOVTBBDWVKWXZMUAHIJ6VVLHIVYRYR24O2A7JQBXSVZUMIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XSIMZ5VCA3R6QFE3OS5I3DHEW7SZKNDWVPTH2SUZ43KNUT2RSTHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q52QG6G2N2F4TVNQGBIX6KZAHGGZFVJT467KBWIIBJDSILLUPRCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FY27LTQPFKBGIUQDM5SNOY4IQEVSAJ6BP3WPLXSXI2QIADMBA5TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MEZIQCOIM2WXKCASNYCZP6K7YD2TWSLENWCLLLWRIA7QEKTTT3XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G34PLYIA4WGXBRES52VNLI2ZAMEJVSEAO2YVJNEJWDSHWJW5J3NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFN73HPHP6HJMRJXE535KXT56G32GZEVM4ODEMPCFAFMYFJ2QUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLGVULHGPIHTXKWLS3RTYPI4D5WA656CIT2HJF3745VTNMQ52TZA/vendors.js"
            ]
        }
    },
    "shapes": {}
}