{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2011-06-15",
        "endpointPrefix": "openiddiscoveryservice",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceFullName": "AWS OpenId Discovery Service",
        "signatureVersion": "v4",
        "targetPrefix": "AWSOpenIdDiscoveryService",
        "uid": "openiddiscoveryservice-2011-06-15",
        "download_location": [
            "https://d3gz1r5kdm6nwl.cloudfront.net/1709934123298/main_en.js",
            "https://d3gz1r5kdm6nwl.cloudfront.net/1710183123995/main_en.js",
            "https://d3gz1r5kdm6nwl.cloudfront.net/1710284296773/main_en.js",
            "https://d3gz1r5kdm6nwl.cloudfront.net/1710445926787/main_en.js",
            "https://d3gz1r5kdm6nwl.cloudfront.net/1710532713974/main_en.js",
            "https://d3gz1r5kdm6nwl.cloudfront.net/1710542450404/main_en.js",
            "https://d3gz1r5kdm6nwl.cloudfront.net/1710962223133/main_en.js",
            "https://d3gz1r5kdm6nwl.cloudfront.net/1711123719216/main_en.js",
            "https://d3gz1r5kdm6nwl.cloudfront.net/1711159265536/main_en.js",
            "https://d3gz1r5kdm6nwl.cloudfront.net/1711407671447/main_en.js",
            "https://d3gz1r5kdm6nwl.cloudfront.net/1711578273611/main_en.js",
            "https://d3gz1r5kdm6nwl.cloudfront.net/1711660107370/main_en.js",
            "https://d3gz1r5kdm6nwl.cloudfront.net/1712039916277/main_en.js",
            "https://d3gz1r5kdm6nwl.cloudfront.net/1712621514124/main_en.js",
            "https://d3gz1r5kdm6nwl.cloudfront.net/1712689982434/main_en.js",
            "https://d3gz1r5kdm6nwl.cloudfront.net/1712775105947/main_en.js",
            "https://d3gz1r5kdm6nwl.cloudfront.net/1712978873068/main_en.js",
            "https://d3gz1r5kdm6nwl.cloudfront.net/1713222764917/main_en.js",
            "https://d3gz1r5kdm6nwl.cloudfront.net/1713393762689/main_en.js",
            "https://d3gz1r5kdm6nwl.cloudfront.net/1713481991267/main_en.js",
            "https://d3gz1r5kdm6nwl.cloudfront.net/1713567157828/main_en.js",
            "https://d3gz1r5kdm6nwl.cloudfront.net/1713826502496/main_en.js",
            "https://d3gz1r5kdm6nwl.cloudfront.net/1714426907284/main_en.js",
            "https://d3gz1r5kdm6nwl.cloudfront.net/1714505835538/main_en.js",
            "https://d3gz1r5kdm6nwl.cloudfront.net/1714585375184/main_en.js"
        ]
    },
    "operations": {
        "DiscoverKey": {
            "input": {
                "type": "structure",
                "members": {
                    "Issuer": {},
                    "KeyId": {},
                    "TlsRequired": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Jwk": {},
                    "ProviderCAThumbprint": {},
                    "ThumbprintList": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "download_location": [
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710183123995/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710284296773/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710445926787/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710532713974/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710542450404/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710962223133/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711123719216/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711159265536/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711407671447/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711578273611/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711660107370/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712039916277/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712621514124/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712689982434/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712775105947/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712978873068/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713222764917/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713393762689/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713481991267/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713567157828/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713826502496/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714426907284/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714505835538/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714585375184/main_en.js"
            ]
        },
        "DiscoverProvider": {
            "input": {
                "type": "structure",
                "members": {
                    "Issuer": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ProviderCAThumbprint": {},
                    "CertificateNotBefore": {
                        "type": "timestamp"
                    },
                    "CertificateNotAfter": {
                        "type": "timestamp"
                    },
                    "ProviderCA": {}
                }
            },
            "download_location": [
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710183123995/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710284296773/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710445926787/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710532713974/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710542450404/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710962223133/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711123719216/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711159265536/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711407671447/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711578273611/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711660107370/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712039916277/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712621514124/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712689982434/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712775105947/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712978873068/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713222764917/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713393762689/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713481991267/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713567157828/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713826502496/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714426907284/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714505835538/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714585375184/main_en.js"
            ]
        },
        "ParseSAMLAuthenticationResponse": {
            "input": {
                "type": "structure",
                "members": {
                    "Base64Response": {},
                    "SAMLProviderARN": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Issuer": {},
                    "Subject": {},
                    "SubjectType": {},
                    "Recipient": {},
                    "ValidUntil": {
                        "type": "timestamp"
                    },
                    "SessionValidUntil": {
                        "type": "timestamp"
                    },
                    "IssueInstant": {
                        "type": "timestamp"
                    },
                    "ValidAfter": {
                        "type": "timestamp"
                    },
                    "SingleValuedAttributes": {
                        "type": "map",
                        "key": {},
                        "value": {}
                    },
                    "MultipleValuedAttributes": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "type": "list",
                            "member": {}
                        }
                    },
                    "MultipleValuedMapAttributes": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "type": "map",
                            "key": {},
                            "value": {
                                "type": "list",
                                "member": {}
                            }
                        }
                    },
                    "UnknownAttributes": {
                        "type": "list",
                        "member": {}
                    },
                    "SignatureValid": {
                        "type": "boolean"
                    },
                    "Duration": {
                        "type": "long"
                    },
                    "AudienceConstraints": {
                        "type": "list",
                        "member": {
                            "type": "list",
                            "member": {}
                        }
                    },
                    "StatusCode": {},
                    "RoleSessionName": {},
                    "AssertionID": {}
                }
            },
            "download_location": [
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710183123995/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710284296773/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710445926787/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710532713974/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710542450404/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710962223133/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711123719216/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711159265536/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711407671447/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711578273611/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711660107370/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712039916277/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712621514124/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712689982434/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712775105947/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712978873068/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713222764917/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713393762689/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713481991267/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713567157828/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713826502496/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714426907284/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714505835538/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714585375184/main_en.js"
            ]
        },
        "ParseSAMLMetadata": {
            "input": {
                "type": "structure",
                "members": {
                    "MetadataFile": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityProviders": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "type": "structure",
                            "members": {
                                "URN": {},
                                "GUID": {},
                                "ValidUntil": {
                                    "type": "timestamp"
                                },
                                "SigningKeys": {
                                    "type": "list",
                                    "member": {}
                                }
                            }
                        }
                    },
                    "Duration": {
                        "type": "long"
                    }
                }
            },
            "download_location": [
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710183123995/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710284296773/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710445926787/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710532713974/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710542450404/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710962223133/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711123719216/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711159265536/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711407671447/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711578273611/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711660107370/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712039916277/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712621514124/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712689982434/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712775105947/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712978873068/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713222764917/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713393762689/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713481991267/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713567157828/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713826502496/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714426907284/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714505835538/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714585375184/main_en.js"
            ]
        },
        "ValidateProviderCredentials": {
            "input": {
                "type": "structure",
                "members": {
                    "Provider": {},
                    "Credentials": {
                        "type": "map",
                        "key": {},
                        "value": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AppId": {},
                    "UserId": {}
                }
            },
            "download_location": [
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710183123995/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710284296773/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710445926787/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710532713974/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710542450404/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1710962223133/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711123719216/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711159265536/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711407671447/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711578273611/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711660107370/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712039916277/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712621514124/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712689982434/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712775105947/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712978873068/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713222764917/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713393762689/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713481991267/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713567157828/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713826502496/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714426907284/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714505835538/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714585375184/main_en.js"
            ]
        }
    },
    "shapes": {}
}