{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2011-06-15",
        "endpointPrefix": "openiddiscoveryservice",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceFullName": "AWS OpenId Discovery Service",
        "signatureVersion": "v4",
        "targetPrefix": "AWSOpenIdDiscoveryService",
        "uid": "openiddiscoveryservice-2011-06-15",
        "download_location": [
            "https://d3gz1r5kdm6nwl.cloudfront.net/1695410214750/main_en.js",
            "https://d3gz1r5kdm6nwl.cloudfront.net/1695667415723/main_en.js",
            "https://d3gz1r5kdm6nwl.cloudfront.net/1695770651920/main_en.js",
            "https://d3gz1r5kdm6nwl.cloudfront.net/1695921568350/main_en.js",
            "https://d3gz1r5kdm6nwl.cloudfront.net/1696351832618/main_en.js",
            "https://d3gz1r5kdm6nwl.cloudfront.net/1696375386489/main_en.js",
            "https://d3gz1r5kdm6nwl.cloudfront.net/1696465846015/main_en.js",
            "https://d3gz1r5kdm6nwl.cloudfront.net/1696968661901/main_en.js",
            "https://d3gz1r5kdm6nwl.cloudfront.net/1697130000933/main_en.js",
            "https://d3gz1r5kdm6nwl.cloudfront.net/1697544117648/main_en.js",
            "https://d3gz1r5kdm6nwl.cloudfront.net/1697589656220/main_en.js",
            "https://d3gz1r5kdm6nwl.cloudfront.net/1697678646811/main_en.js",
            "https://d3gz1r5kdm6nwl.cloudfront.net/1698087464229/main_en.js",
            "https://d3gz1r5kdm6nwl.cloudfront.net/1698184275012/main_en.js",
            "https://d3gz1r5kdm6nwl.cloudfront.net/1698415238617/main_en.js",
            "https://d3gz1r5kdm6nwl.cloudfront.net/1698689647580/main_en.js",
            "https://d3gz1r5kdm6nwl.cloudfront.net/1698780197037/main_en.js",
            "https://d3gz1r5kdm6nwl.cloudfront.net/1699060583849/main_en.js",
            "https://d3gz1r5kdm6nwl.cloudfront.net/1699383093576/main_en.js",
            "https://d3gz1r5kdm6nwl.cloudfront.net/1699471232626/main_en.js",
            "https://d3gz1r5kdm6nwl.cloudfront.net/1699481304485/main_en.js",
            "https://d3gz1r5kdm6nwl.cloudfront.net/1699659733903/main_en.js",
            "https://d3gz1r5kdm6nwl.cloudfront.net/1700000962931/main_en.js",
            "https://d3gz1r5kdm6nwl.cloudfront.net/1700086159788/main_en.js",
            "https://d3gz1r5kdm6nwl.cloudfront.net/1700175852837/main_en.js"
        ]
    },
    "operations": {
        "DiscoverKey": {
            "input": {
                "type": "structure",
                "members": {
                    "Issuer": {},
                    "KeyId": {},
                    "TlsRequired": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Jwk": {},
                    "ProviderCAThumbprint": {},
                    "ThumbprintList": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "download_location": [
                "https://d3gz1r5kdm6nwl.cloudfront.net/1695667415723/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1695770651920/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1695921568350/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1696351832618/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1696375386489/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1696465846015/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1696968661901/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1697130000933/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1697544117648/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1697589656220/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1697678646811/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1698087464229/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1698184275012/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1698415238617/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1698689647580/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1698780197037/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699060583849/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699383093576/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699471232626/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699481304485/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699659733903/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700000962931/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700086159788/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700175852837/main_en.js"
            ]
        },
        "DiscoverProvider": {
            "input": {
                "type": "structure",
                "members": {
                    "Issuer": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ProviderCAThumbprint": {},
                    "CertificateNotBefore": {
                        "type": "timestamp"
                    },
                    "CertificateNotAfter": {
                        "type": "timestamp"
                    },
                    "ProviderCA": {}
                }
            },
            "download_location": [
                "https://d3gz1r5kdm6nwl.cloudfront.net/1695667415723/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1695770651920/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1695921568350/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1696351832618/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1696375386489/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1696465846015/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1696968661901/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1697130000933/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1697544117648/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1697589656220/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1697678646811/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1698087464229/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1698184275012/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1698415238617/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1698689647580/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1698780197037/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699060583849/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699383093576/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699471232626/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699481304485/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699659733903/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700000962931/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700086159788/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700175852837/main_en.js"
            ]
        },
        "ParseSAMLAuthenticationResponse": {
            "input": {
                "type": "structure",
                "members": {
                    "Base64Response": {},
                    "SAMLProviderARN": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Issuer": {},
                    "Subject": {},
                    "SubjectType": {},
                    "Recipient": {},
                    "ValidUntil": {
                        "type": "timestamp"
                    },
                    "SessionValidUntil": {
                        "type": "timestamp"
                    },
                    "IssueInstant": {
                        "type": "timestamp"
                    },
                    "ValidAfter": {
                        "type": "timestamp"
                    },
                    "SingleValuedAttributes": {
                        "type": "map",
                        "key": {},
                        "value": {}
                    },
                    "MultipleValuedAttributes": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "type": "list",
                            "member": {}
                        }
                    },
                    "MultipleValuedMapAttributes": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "type": "map",
                            "key": {},
                            "value": {
                                "type": "list",
                                "member": {}
                            }
                        }
                    },
                    "UnknownAttributes": {
                        "type": "list",
                        "member": {}
                    },
                    "SignatureValid": {
                        "type": "boolean"
                    },
                    "Duration": {
                        "type": "long"
                    },
                    "AudienceConstraints": {
                        "type": "list",
                        "member": {
                            "type": "list",
                            "member": {}
                        }
                    },
                    "StatusCode": {},
                    "RoleSessionName": {},
                    "AssertionID": {}
                }
            },
            "download_location": [
                "https://d3gz1r5kdm6nwl.cloudfront.net/1695667415723/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1695770651920/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1695921568350/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1696351832618/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1696375386489/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1696465846015/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1696968661901/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1697130000933/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1697544117648/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1697589656220/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1697678646811/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1698087464229/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1698184275012/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1698415238617/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1698689647580/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1698780197037/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699060583849/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699383093576/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699471232626/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699481304485/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699659733903/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700000962931/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700086159788/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700175852837/main_en.js"
            ]
        },
        "ParseSAMLMetadata": {
            "input": {
                "type": "structure",
                "members": {
                    "MetadataFile": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityProviders": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "type": "structure",
                            "members": {
                                "URN": {},
                                "GUID": {},
                                "ValidUntil": {
                                    "type": "timestamp"
                                },
                                "SigningKeys": {
                                    "type": "list",
                                    "member": {}
                                }
                            }
                        }
                    },
                    "Duration": {
                        "type": "long"
                    }
                }
            },
            "download_location": [
                "https://d3gz1r5kdm6nwl.cloudfront.net/1695667415723/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1695770651920/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1695921568350/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1696351832618/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1696375386489/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1696465846015/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1696968661901/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1697130000933/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1697544117648/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1697589656220/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1697678646811/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1698087464229/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1698184275012/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1698415238617/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1698689647580/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1698780197037/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699060583849/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699383093576/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699471232626/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699481304485/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699659733903/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700000962931/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700086159788/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700175852837/main_en.js"
            ]
        },
        "ValidateProviderCredentials": {
            "input": {
                "type": "structure",
                "members": {
                    "Provider": {},
                    "Credentials": {
                        "type": "map",
                        "key": {},
                        "value": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AppId": {},
                    "UserId": {}
                }
            },
            "download_location": [
                "https://d3gz1r5kdm6nwl.cloudfront.net/1695667415723/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1695770651920/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1695921568350/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1696351832618/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1696375386489/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1696465846015/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1696968661901/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1697130000933/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1697544117648/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1697589656220/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1697678646811/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1698087464229/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1698184275012/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1698415238617/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1698689647580/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1698780197037/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699060583849/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699383093576/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699471232626/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699481304485/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699659733903/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700000962931/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700086159788/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700175852837/main_en.js"
            ]
        }
    },
    "shapes": {}
}