{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2021-11-01",
        "endpointPrefix": "aoss",
        "jsonVersion": "1.0",
        "protocol": "json",
        "serviceFullName": "OpenSearch Service Serverless",
        "serviceId": "OpenSearchServerless",
        "signatureVersion": "v4",
        "signingName": "aoss",
        "targetPrefix": "OpenSearchServerless",
        "uid": "opensearchserverless-2021-11-01",
        "download_location": [
            "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
            "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/U6QOD3AJL7WJWCKH5OL7KZXIZKGTVHDNR2BMAVQQWLMPJDGVWYVA/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/GINV2GH4C4PNQZIJITNLXWTQ2FXOQOAWORRFLNHNYJTMB22HHA7A/vendors.js"
        ]
    },
    "operations": {
        "BatchGetCollection": {
            "input": {
                "type": "structure",
                "members": {
                    "ids": {
                        "type": "list",
                        "member": {}
                    },
                    "names": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "collectionDetails": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "arn": {},
                                "collectionEndpoint": {},
                                "createdDate": {
                                    "type": "long"
                                },
                                "dashboardEndpoint": {},
                                "description": {},
                                "id": {},
                                "kmsKeyArn": {},
                                "lastModifiedDate": {
                                    "type": "long"
                                },
                                "name": {},
                                "status": {},
                                "type": {}
                            }
                        }
                    },
                    "collectionErrorDetails": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "errorCode": {},
                                "errorMessage": {},
                                "id": {},
                                "name": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U6QOD3AJL7WJWCKH5OL7KZXIZKGTVHDNR2BMAVQQWLMPJDGVWYVA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GINV2GH4C4PNQZIJITNLXWTQ2FXOQOAWORRFLNHNYJTMB22HHA7A/vendors.js"
            ]
        },
        "BatchGetVpcEndpoint": {
            "input": {
                "type": "structure",
                "required": [
                    "ids"
                ],
                "members": {
                    "ids": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "vpcEndpointDetails": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "createdDate": {
                                    "type": "long"
                                },
                                "id": {},
                                "name": {},
                                "securityGroupIds": {
                                    "shape": "Sm"
                                },
                                "status": {},
                                "subnetIds": {
                                    "shape": "Sp"
                                },
                                "vpcId": {}
                            }
                        }
                    },
                    "vpcEndpointErrorDetails": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "errorCode": {},
                                "errorMessage": {},
                                "id": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U6QOD3AJL7WJWCKH5OL7KZXIZKGTVHDNR2BMAVQQWLMPJDGVWYVA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GINV2GH4C4PNQZIJITNLXWTQ2FXOQOAWORRFLNHNYJTMB22HHA7A/vendors.js"
            ]
        },
        "CreateAccessPolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "policy",
                    "type"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "description": {},
                    "name": {},
                    "policy": {},
                    "type": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "accessPolicyDetail": {
                        "shape": "S11"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U6QOD3AJL7WJWCKH5OL7KZXIZKGTVHDNR2BMAVQQWLMPJDGVWYVA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GINV2GH4C4PNQZIJITNLXWTQ2FXOQOAWORRFLNHNYJTMB22HHA7A/vendors.js"
            ]
        },
        "CreateCollection": {
            "input": {
                "type": "structure",
                "required": [
                    "name"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "description": {},
                    "name": {},
                    "tags": {
                        "shape": "S16"
                    },
                    "type": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "createCollectionDetail": {
                        "type": "structure",
                        "members": {
                            "arn": {},
                            "createdDate": {
                                "type": "long"
                            },
                            "description": {},
                            "id": {},
                            "kmsKeyArn": {},
                            "lastModifiedDate": {
                                "type": "long"
                            },
                            "name": {},
                            "status": {},
                            "type": {}
                        }
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U6QOD3AJL7WJWCKH5OL7KZXIZKGTVHDNR2BMAVQQWLMPJDGVWYVA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GINV2GH4C4PNQZIJITNLXWTQ2FXOQOAWORRFLNHNYJTMB22HHA7A/vendors.js"
            ]
        },
        "CreateSecurityConfig": {
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "type"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "description": {},
                    "name": {},
                    "samlOptions": {
                        "shape": "S1f"
                    },
                    "type": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "securityConfigDetail": {
                        "shape": "S1m"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U6QOD3AJL7WJWCKH5OL7KZXIZKGTVHDNR2BMAVQQWLMPJDGVWYVA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GINV2GH4C4PNQZIJITNLXWTQ2FXOQOAWORRFLNHNYJTMB22HHA7A/vendors.js"
            ]
        },
        "CreateSecurityPolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "policy",
                    "type"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "description": {},
                    "name": {},
                    "policy": {},
                    "type": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "securityPolicyDetail": {
                        "shape": "S1r"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U6QOD3AJL7WJWCKH5OL7KZXIZKGTVHDNR2BMAVQQWLMPJDGVWYVA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GINV2GH4C4PNQZIJITNLXWTQ2FXOQOAWORRFLNHNYJTMB22HHA7A/vendors.js"
            ]
        },
        "CreateVpcEndpoint": {
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "subnetIds",
                    "vpcId"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "name": {},
                    "securityGroupIds": {
                        "shape": "Sm"
                    },
                    "subnetIds": {
                        "shape": "Sp"
                    },
                    "vpcId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "createVpcEndpointDetail": {
                        "type": "structure",
                        "members": {
                            "id": {},
                            "name": {},
                            "status": {}
                        }
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U6QOD3AJL7WJWCKH5OL7KZXIZKGTVHDNR2BMAVQQWLMPJDGVWYVA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GINV2GH4C4PNQZIJITNLXWTQ2FXOQOAWORRFLNHNYJTMB22HHA7A/vendors.js"
            ]
        },
        "DeleteAccessPolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "type"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "name": {},
                    "type": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U6QOD3AJL7WJWCKH5OL7KZXIZKGTVHDNR2BMAVQQWLMPJDGVWYVA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GINV2GH4C4PNQZIJITNLXWTQ2FXOQOAWORRFLNHNYJTMB22HHA7A/vendors.js"
            ]
        },
        "DeleteCollection": {
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "id": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "deleteCollectionDetail": {
                        "type": "structure",
                        "members": {
                            "id": {},
                            "name": {},
                            "status": {}
                        }
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U6QOD3AJL7WJWCKH5OL7KZXIZKGTVHDNR2BMAVQQWLMPJDGVWYVA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GINV2GH4C4PNQZIJITNLXWTQ2FXOQOAWORRFLNHNYJTMB22HHA7A/vendors.js"
            ]
        },
        "DeleteSecurityConfig": {
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "id": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U6QOD3AJL7WJWCKH5OL7KZXIZKGTVHDNR2BMAVQQWLMPJDGVWYVA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GINV2GH4C4PNQZIJITNLXWTQ2FXOQOAWORRFLNHNYJTMB22HHA7A/vendors.js"
            ]
        },
        "DeleteSecurityPolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "type"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "name": {},
                    "type": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U6QOD3AJL7WJWCKH5OL7KZXIZKGTVHDNR2BMAVQQWLMPJDGVWYVA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GINV2GH4C4PNQZIJITNLXWTQ2FXOQOAWORRFLNHNYJTMB22HHA7A/vendors.js"
            ]
        },
        "DeleteVpcEndpoint": {
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "id": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "deleteVpcEndpointDetail": {
                        "type": "structure",
                        "members": {
                            "id": {},
                            "name": {},
                            "status": {}
                        }
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U6QOD3AJL7WJWCKH5OL7KZXIZKGTVHDNR2BMAVQQWLMPJDGVWYVA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GINV2GH4C4PNQZIJITNLXWTQ2FXOQOAWORRFLNHNYJTMB22HHA7A/vendors.js"
            ]
        },
        "GetAccessPolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "type"
                ],
                "members": {
                    "name": {},
                    "type": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "accessPolicyDetail": {
                        "shape": "S11"
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U6QOD3AJL7WJWCKH5OL7KZXIZKGTVHDNR2BMAVQQWLMPJDGVWYVA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GINV2GH4C4PNQZIJITNLXWTQ2FXOQOAWORRFLNHNYJTMB22HHA7A/vendors.js"
            ]
        },
        "GetAccountSettings": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "accountSettingsDetail": {
                        "shape": "S2b"
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U6QOD3AJL7WJWCKH5OL7KZXIZKGTVHDNR2BMAVQQWLMPJDGVWYVA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GINV2GH4C4PNQZIJITNLXWTQ2FXOQOAWORRFLNHNYJTMB22HHA7A/vendors.js"
            ]
        },
        "GetPoliciesStats": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "AccessPolicyStats": {
                        "type": "structure",
                        "members": {
                            "DataPolicyCount": {
                                "type": "long"
                            }
                        }
                    },
                    "SecurityConfigStats": {
                        "type": "structure",
                        "members": {
                            "SamlConfigCount": {
                                "type": "long"
                            }
                        }
                    },
                    "SecurityPolicyStats": {
                        "type": "structure",
                        "members": {
                            "EncryptionPolicyCount": {
                                "type": "long"
                            },
                            "NetworkPolicyCount": {
                                "type": "long"
                            }
                        }
                    },
                    "TotalPolicyCount": {
                        "type": "long"
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U6QOD3AJL7WJWCKH5OL7KZXIZKGTVHDNR2BMAVQQWLMPJDGVWYVA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GINV2GH4C4PNQZIJITNLXWTQ2FXOQOAWORRFLNHNYJTMB22HHA7A/vendors.js"
            ]
        },
        "GetSecurityConfig": {
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "id": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "securityConfigDetail": {
                        "shape": "S1m"
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U6QOD3AJL7WJWCKH5OL7KZXIZKGTVHDNR2BMAVQQWLMPJDGVWYVA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GINV2GH4C4PNQZIJITNLXWTQ2FXOQOAWORRFLNHNYJTMB22HHA7A/vendors.js"
            ]
        },
        "GetSecurityPolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "type"
                ],
                "members": {
                    "name": {},
                    "type": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "securityPolicyDetail": {
                        "shape": "S1r"
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U6QOD3AJL7WJWCKH5OL7KZXIZKGTVHDNR2BMAVQQWLMPJDGVWYVA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GINV2GH4C4PNQZIJITNLXWTQ2FXOQOAWORRFLNHNYJTMB22HHA7A/vendors.js"
            ]
        },
        "ListAccessPolicies": {
            "input": {
                "type": "structure",
                "required": [
                    "type"
                ],
                "members": {
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {},
                    "resource": {
                        "type": "list",
                        "member": {}
                    },
                    "type": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "accessPolicySummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "createdDate": {
                                    "type": "long"
                                },
                                "description": {},
                                "lastModifiedDate": {
                                    "type": "long"
                                },
                                "name": {},
                                "policyVersion": {},
                                "type": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U6QOD3AJL7WJWCKH5OL7KZXIZKGTVHDNR2BMAVQQWLMPJDGVWYVA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GINV2GH4C4PNQZIJITNLXWTQ2FXOQOAWORRFLNHNYJTMB22HHA7A/vendors.js"
            ]
        },
        "ListCollections": {
            "input": {
                "type": "structure",
                "members": {
                    "collectionFilters": {
                        "type": "structure",
                        "members": {
                            "name": {},
                            "status": {}
                        }
                    },
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "collectionSummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "arn": {},
                                "id": {},
                                "name": {},
                                "status": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U6QOD3AJL7WJWCKH5OL7KZXIZKGTVHDNR2BMAVQQWLMPJDGVWYVA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GINV2GH4C4PNQZIJITNLXWTQ2FXOQOAWORRFLNHNYJTMB22HHA7A/vendors.js"
            ]
        },
        "ListSecurityConfigs": {
            "input": {
                "type": "structure",
                "required": [
                    "type"
                ],
                "members": {
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {},
                    "type": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "securityConfigSummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "configVersion": {},
                                "createdDate": {
                                    "type": "long"
                                },
                                "description": {},
                                "id": {},
                                "lastModifiedDate": {
                                    "type": "long"
                                },
                                "type": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U6QOD3AJL7WJWCKH5OL7KZXIZKGTVHDNR2BMAVQQWLMPJDGVWYVA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GINV2GH4C4PNQZIJITNLXWTQ2FXOQOAWORRFLNHNYJTMB22HHA7A/vendors.js"
            ]
        },
        "ListSecurityPolicies": {
            "input": {
                "type": "structure",
                "required": [
                    "type"
                ],
                "members": {
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {},
                    "resource": {
                        "type": "list",
                        "member": {}
                    },
                    "type": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "securityPolicySummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "createdDate": {
                                    "type": "long"
                                },
                                "description": {},
                                "lastModifiedDate": {
                                    "type": "long"
                                },
                                "name": {},
                                "policyVersion": {},
                                "type": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U6QOD3AJL7WJWCKH5OL7KZXIZKGTVHDNR2BMAVQQWLMPJDGVWYVA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GINV2GH4C4PNQZIJITNLXWTQ2FXOQOAWORRFLNHNYJTMB22HHA7A/vendors.js"
            ]
        },
        "ListTagsForResource": {
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn"
                ],
                "members": {
                    "resourceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "tags": {
                        "shape": "S16"
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U6QOD3AJL7WJWCKH5OL7KZXIZKGTVHDNR2BMAVQQWLMPJDGVWYVA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GINV2GH4C4PNQZIJITNLXWTQ2FXOQOAWORRFLNHNYJTMB22HHA7A/vendors.js"
            ]
        },
        "ListVpcEndpoints": {
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {},
                    "vpcEndpointFilters": {
                        "type": "structure",
                        "members": {
                            "status": {}
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "vpcEndpointSummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "id": {},
                                "name": {},
                                "status": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U6QOD3AJL7WJWCKH5OL7KZXIZKGTVHDNR2BMAVQQWLMPJDGVWYVA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GINV2GH4C4PNQZIJITNLXWTQ2FXOQOAWORRFLNHNYJTMB22HHA7A/vendors.js"
            ]
        },
        "TagResource": {
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "tags"
                ],
                "members": {
                    "resourceArn": {},
                    "tags": {
                        "shape": "S16"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U6QOD3AJL7WJWCKH5OL7KZXIZKGTVHDNR2BMAVQQWLMPJDGVWYVA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GINV2GH4C4PNQZIJITNLXWTQ2FXOQOAWORRFLNHNYJTMB22HHA7A/vendors.js"
            ]
        },
        "UntagResource": {
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "tagKeys"
                ],
                "members": {
                    "resourceArn": {},
                    "tagKeys": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U6QOD3AJL7WJWCKH5OL7KZXIZKGTVHDNR2BMAVQQWLMPJDGVWYVA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GINV2GH4C4PNQZIJITNLXWTQ2FXOQOAWORRFLNHNYJTMB22HHA7A/vendors.js"
            ]
        },
        "UpdateAccessPolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "policyVersion",
                    "type"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "description": {},
                    "name": {},
                    "policy": {},
                    "policyVersion": {},
                    "type": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "accessPolicyDetail": {
                        "shape": "S11"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U6QOD3AJL7WJWCKH5OL7KZXIZKGTVHDNR2BMAVQQWLMPJDGVWYVA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GINV2GH4C4PNQZIJITNLXWTQ2FXOQOAWORRFLNHNYJTMB22HHA7A/vendors.js"
            ]
        },
        "UpdateAccountSettings": {
            "input": {
                "type": "structure",
                "members": {
                    "capacityLimits": {
                        "shape": "S2c"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "accountSettingsDetail": {
                        "shape": "S2b"
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U6QOD3AJL7WJWCKH5OL7KZXIZKGTVHDNR2BMAVQQWLMPJDGVWYVA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GINV2GH4C4PNQZIJITNLXWTQ2FXOQOAWORRFLNHNYJTMB22HHA7A/vendors.js"
            ]
        },
        "UpdateCollection": {
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "description": {},
                    "id": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "updateCollectionDetail": {
                        "type": "structure",
                        "members": {
                            "arn": {},
                            "createdDate": {
                                "type": "long"
                            },
                            "description": {},
                            "id": {},
                            "lastModifiedDate": {
                                "type": "long"
                            },
                            "name": {},
                            "status": {},
                            "type": {}
                        }
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U6QOD3AJL7WJWCKH5OL7KZXIZKGTVHDNR2BMAVQQWLMPJDGVWYVA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GINV2GH4C4PNQZIJITNLXWTQ2FXOQOAWORRFLNHNYJTMB22HHA7A/vendors.js"
            ]
        },
        "UpdateSecurityConfig": {
            "input": {
                "type": "structure",
                "required": [
                    "configVersion",
                    "id"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "configVersion": {},
                    "description": {},
                    "id": {},
                    "samlOptions": {
                        "shape": "S1f"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "securityConfigDetail": {
                        "shape": "S1m"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U6QOD3AJL7WJWCKH5OL7KZXIZKGTVHDNR2BMAVQQWLMPJDGVWYVA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GINV2GH4C4PNQZIJITNLXWTQ2FXOQOAWORRFLNHNYJTMB22HHA7A/vendors.js"
            ]
        },
        "UpdateSecurityPolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "policyVersion",
                    "type"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "description": {},
                    "name": {},
                    "policy": {},
                    "policyVersion": {},
                    "type": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "securityPolicyDetail": {
                        "shape": "S1r"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U6QOD3AJL7WJWCKH5OL7KZXIZKGTVHDNR2BMAVQQWLMPJDGVWYVA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GINV2GH4C4PNQZIJITNLXWTQ2FXOQOAWORRFLNHNYJTMB22HHA7A/vendors.js"
            ]
        },
        "UpdateVpcEndpoint": {
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "addSecurityGroupIds": {
                        "shape": "Sm"
                    },
                    "addSubnetIds": {
                        "shape": "Sp"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "id": {},
                    "removeSecurityGroupIds": {
                        "shape": "Sm"
                    },
                    "removeSubnetIds": {
                        "shape": "Sp"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "UpdateVpcEndpointDetail": {
                        "type": "structure",
                        "members": {
                            "id": {},
                            "lastModifiedDate": {
                                "type": "long"
                            },
                            "name": {},
                            "securityGroupIds": {
                                "shape": "Sm"
                            },
                            "status": {},
                            "subnetIds": {
                                "shape": "Sp"
                            }
                        }
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U6QOD3AJL7WJWCKH5OL7KZXIZKGTVHDNR2BMAVQQWLMPJDGVWYVA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GINV2GH4C4PNQZIJITNLXWTQ2FXOQOAWORRFLNHNYJTMB22HHA7A/vendors.js"
            ]
        }
    },
    "shapes": {
        "Sm": {
            "type": "list",
            "member": {}
        },
        "Sp": {
            "type": "list",
            "member": {}
        },
        "S11": {
            "type": "structure",
            "members": {
                "createdDate": {
                    "type": "long"
                },
                "description": {},
                "lastModifiedDate": {
                    "type": "long"
                },
                "name": {},
                "policy": {
                    "shape": "S12"
                },
                "policyVersion": {},
                "type": {}
            }
        },
        "S12": {
            "type": "structure",
            "members": {},
            "document": true
        },
        "S16": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "key",
                    "value"
                ],
                "members": {
                    "key": {},
                    "value": {}
                }
            }
        },
        "S1f": {
            "type": "structure",
            "required": [
                "metadata"
            ],
            "members": {
                "groupAttribute": {},
                "metadata": {},
                "sessionTimeout": {
                    "type": "integer"
                },
                "userAttribute": {}
            }
        },
        "S1m": {
            "type": "structure",
            "members": {
                "configVersion": {},
                "createdDate": {
                    "type": "long"
                },
                "description": {},
                "id": {},
                "lastModifiedDate": {
                    "type": "long"
                },
                "samlOptions": {
                    "shape": "S1f"
                },
                "type": {}
            }
        },
        "S1r": {
            "type": "structure",
            "members": {
                "createdDate": {
                    "type": "long"
                },
                "description": {},
                "lastModifiedDate": {
                    "type": "long"
                },
                "name": {},
                "policy": {
                    "shape": "S12"
                },
                "policyVersion": {},
                "type": {}
            }
        },
        "S2b": {
            "type": "structure",
            "members": {
                "capacityLimits": {
                    "shape": "S2c"
                }
            }
        },
        "S2c": {
            "type": "structure",
            "members": {
                "maxIndexingCapacityInOCU": {
                    "type": "integer"
                },
                "maxSearchCapacityInOCU": {
                    "type": "integer"
                }
            }
        },
        "Sn": {
            "type": "list",
            "member": {}
        },
        "S13": {
            "type": "structure",
            "members": {},
            "document": true
        },
        "S1g": {
            "type": "structure",
            "required": [
                "metadata"
            ],
            "members": {
                "metadata": {},
                "userAttribute": {},
                "groupAttribute": {},
                "sessionTimeout": {
                    "type": "integer"
                }
            }
        }
    }
}