{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2024-01-01",
        "endpointPrefix": "es",
        "protocol": "rest-json",
        "protocols": [
            "rest-json"
        ],
        "serviceAbbreviation": "Amazon OpenSearch UI Service",
        "serviceFullName": "Amazon OpenSearch Service",
        "serviceId": "OpenSearchDashboards",
        "signatureVersion": "v4",
        "signingName": "opensearch",
        "uid": "opensearchdashboads-2024-01-01",
        "auth": [
            "aws.auth#sigv4"
        ],
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/UGJPVOQZGJBAK6LKJIZI5KKSJRKI72NZEUOH5C2ZZXFCZXT5W7JA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3J3CMJL3BIO2BV4OJZK4TXSSC63XCAZOM2YUQ3U7FCYCBDPRAUPA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5AFIKQVXABYBMJVUEIKA7XA6GQBPYE4LP33JFYZU6U3XTQD57LOA/vendors.js"
        ]
    },
    "operations": {
        "AddTags": {
            "input": {
                "type": "structure",
                "members": {
                    "arn": {},
                    "tagList": {
                        "shape": "S3"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGJPVOQZGJBAK6LKJIZI5KKSJRKI72NZEUOH5C2ZZXFCZXT5W7JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3J3CMJL3BIO2BV4OJZK4TXSSC63XCAZOM2YUQ3U7FCYCBDPRAUPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5AFIKQVXABYBMJVUEIKA7XA6GQBPYE4LP33JFYZU6U3XTQD57LOA/vendors.js"
            ]
        },
        "CreateWebApp": {
            "http": {
                "requestUri": "/2024-01-01/opensearch/web-app",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "name"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "name": {},
                    "dataSources": {
                        "shape": "Sb"
                    },
                    "iamIdentityCenterOptions": {
                        "shape": "Sf"
                    },
                    "appConfigs": {
                        "shape": "Si"
                    },
                    "tagList": {
                        "shape": "S3"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "id": {},
                    "name": {},
                    "arn": {},
                    "dataSources": {
                        "shape": "Sb"
                    },
                    "iamIdentityCenterOptions": {
                        "shape": "Sf"
                    },
                    "appConfigs": {
                        "shape": "Si"
                    },
                    "tagList": {
                        "shape": "S3"
                    },
                    "createdAt": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGJPVOQZGJBAK6LKJIZI5KKSJRKI72NZEUOH5C2ZZXFCZXT5W7JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3J3CMJL3BIO2BV4OJZK4TXSSC63XCAZOM2YUQ3U7FCYCBDPRAUPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5AFIKQVXABYBMJVUEIKA7XA6GQBPYE4LP33JFYZU6U3XTQD57LOA/vendors.js"
            ]
        },
        "DeleteWebApp": {
            "http": {
                "method": "DELETE",
                "requestUri": "/2024-01-01/opensearch/web-app/{id}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGJPVOQZGJBAK6LKJIZI5KKSJRKI72NZEUOH5C2ZZXFCZXT5W7JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3J3CMJL3BIO2BV4OJZK4TXSSC63XCAZOM2YUQ3U7FCYCBDPRAUPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5AFIKQVXABYBMJVUEIKA7XA6GQBPYE4LP33JFYZU6U3XTQD57LOA/vendors.js"
            ]
        },
        "GetWebApp": {
            "http": {
                "method": "GET",
                "requestUri": "/2024-01-01/opensearch/web-app/{id}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "id": {},
                    "arn": {},
                    "name": {},
                    "endpoint": {},
                    "status": {},
                    "iamIdentityCenterOptions": {
                        "shape": "Sf"
                    },
                    "dataSources": {
                        "shape": "Sb"
                    },
                    "appConfigs": {
                        "shape": "Si"
                    },
                    "createdAt": {
                        "type": "timestamp"
                    },
                    "lastUpdatedAt": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGJPVOQZGJBAK6LKJIZI5KKSJRKI72NZEUOH5C2ZZXFCZXT5W7JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3J3CMJL3BIO2BV4OJZK4TXSSC63XCAZOM2YUQ3U7FCYCBDPRAUPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5AFIKQVXABYBMJVUEIKA7XA6GQBPYE4LP33JFYZU6U3XTQD57LOA/vendors.js"
            ]
        },
        "ListTags": {
            "input": {
                "type": "structure",
                "members": {
                    "arn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "tagList": {
                        "shape": "S3"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGJPVOQZGJBAK6LKJIZI5KKSJRKI72NZEUOH5C2ZZXFCZXT5W7JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3J3CMJL3BIO2BV4OJZK4TXSSC63XCAZOM2YUQ3U7FCYCBDPRAUPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5AFIKQVXABYBMJVUEIKA7XA6GQBPYE4LP33JFYZU6U3XTQD57LOA/vendors.js"
            ]
        },
        "ListWebApps": {
            "http": {
                "method": "GET",
                "requestUri": "/2024-01-01/opensearch/list-web-apps",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "statuses": {
                        "type": "list",
                        "member": {}
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "webAppSummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "id": {},
                                "arn": {},
                                "name": {},
                                "endpoint": {},
                                "status": {},
                                "createdAt": {
                                    "type": "timestamp"
                                },
                                "lastUpdatedAt": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGJPVOQZGJBAK6LKJIZI5KKSJRKI72NZEUOH5C2ZZXFCZXT5W7JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3J3CMJL3BIO2BV4OJZK4TXSSC63XCAZOM2YUQ3U7FCYCBDPRAUPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5AFIKQVXABYBMJVUEIKA7XA6GQBPYE4LP33JFYZU6U3XTQD57LOA/vendors.js"
            ]
        },
        "RemoveTags": {
            "input": {
                "type": "structure",
                "members": {
                    "arn": {},
                    "tagKeys": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGJPVOQZGJBAK6LKJIZI5KKSJRKI72NZEUOH5C2ZZXFCZXT5W7JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3J3CMJL3BIO2BV4OJZK4TXSSC63XCAZOM2YUQ3U7FCYCBDPRAUPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5AFIKQVXABYBMJVUEIKA7XA6GQBPYE4LP33JFYZU6U3XTQD57LOA/vendors.js"
            ]
        },
        "UpdateWebApp": {
            "http": {
                "method": "PUT",
                "requestUri": "/2024-01-01/opensearch/web-app/{id}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    },
                    "dataSources": {
                        "shape": "Sb"
                    },
                    "appConfigs": {
                        "shape": "Si"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "id": {},
                    "name": {},
                    "arn": {},
                    "dataSources": {
                        "shape": "Sb"
                    },
                    "iamIdentityCenterOptions": {
                        "shape": "Sf"
                    },
                    "appConfigs": {
                        "shape": "Si"
                    },
                    "createdAt": {
                        "type": "timestamp"
                    },
                    "lastUpdatedAt": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGJPVOQZGJBAK6LKJIZI5KKSJRKI72NZEUOH5C2ZZXFCZXT5W7JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3J3CMJL3BIO2BV4OJZK4TXSSC63XCAZOM2YUQ3U7FCYCBDPRAUPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5AFIKQVXABYBMJVUEIKA7XA6GQBPYE4LP33JFYZU6U3XTQD57LOA/vendors.js"
            ]
        }
    },
    "shapes": {
        "S3": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "key": {},
                    "value": {}
                }
            }
        },
        "Sb": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "dataSourceArn": {},
                    "dataSourceDescription": {}
                }
            }
        },
        "Sf": {
            "type": "structure",
            "members": {
                "enabled": {
                    "type": "boolean"
                },
                "iamIdentityCenterInstanceArn": {},
                "iamRoleForIdentityCenterApplicationArn": {},
                "iamIdentityCenterApplicationArn": {}
            }
        },
        "Si": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "key": {},
                    "value": {}
                }
            }
        }
    }
}