{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2016-11-28",
        "endpointPrefix": "organizations",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceAbbreviation": "Organizations",
        "serviceFullName": "AWS Organizations",
        "serviceId": "Organizations",
        "signatureVersion": "v4",
        "targetPrefix": "AWSOrganizationsV20161128",
        "uid": "organizations-2016-11-28",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4PF2YFXJZXTPZP6YEIBULL4AF7LT6R3LOBSJ52O2PR22KOPVMXGA/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DLTC7MONH4PMHQCWYJN7A3WG75MWYGC4OK2W2P27LLU6QY3DBDQQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MR43UQWRECPQY4NUHBF6MDEMGRPUY42NYNCFYHHSOG2X4LSIGNSA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RD3NJAL57SXGYGJXHGQESUR7K34I7QHLG4ZFX637NPAERZJO2BJQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZP5LNXEAGBCHP4KJYEBKJKKZEGVATSXB443ZXU6S7OGUUTXRVCMA/index.en.v2.js",
            "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JTH4ZE4PNEEQVLTX6FNZSO72GZ2Y3PRMOJTZHKOHTAZD7VIMQ7WA/vendor.awssdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~253ae210.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/EQFCBGDPOBGE4UTH5OABELFZZGTU6EF3UVUB65E3KHL2CTWSZCCA/ta_polaris.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/IKB6OBK7DEENVH5J4P6P6B2UWIFEB2HEFV66QXXRL3YEGOXDJKGA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/A3GOMSKKRY4V6XNAQLZNQP7ERSFVDABOOBBIT4A5URVIHCOZH4LQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/1ff71b59aacf8ace3fac100a100ef8ca.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LJDHKHATQWVJEVGGX2MACYBMXWWHV3UAFKESJJ7OIUZMX6ZBYRHA/vendors.sdk.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YKTCMNRLKRZTINYOAC5YFO5NGMGW3OJ7XZKXQBGJVQGXYSSICZSQ/a731fdb9bb007b7ca02d675e9fc738d5.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/B2DJVKWMSAPCTLXJ6W634SRDSVZFHF7OJ7AHJE4I2PDHYRS7QNGQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
            "https://d29sfhxsuc7nqn.cloudfront.net/content/26792995-3405-4d6b-bf78-f3040a0f3dd7/vendorv3.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js"
        ]
    },
    "operations": {
        "AcceptHandshake": {
            "input": {
                "type": "structure",
                "required": [
                    "HandshakeId"
                ],
                "members": {
                    "HandshakeId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Handshake": {
                        "shape": "S4"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PF2YFXJZXTPZP6YEIBULL4AF7LT6R3LOBSJ52O2PR22KOPVMXGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLTC7MONH4PMHQCWYJN7A3WG75MWYGC4OK2W2P27LLU6QY3DBDQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MR43UQWRECPQY4NUHBF6MDEMGRPUY42NYNCFYHHSOG2X4LSIGNSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD3NJAL57SXGYGJXHGQESUR7K34I7QHLG4ZFX637NPAERZJO2BJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZP5LNXEAGBCHP4KJYEBKJKKZEGVATSXB443ZXU6S7OGUUTXRVCMA/index.en.v2.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTH4ZE4PNEEQVLTX6FNZSO72GZ2Y3PRMOJTZHKOHTAZD7VIMQ7WA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~253ae210.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQFCBGDPOBGE4UTH5OABELFZZGTU6EF3UVUB65E3KHL2CTWSZCCA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IKB6OBK7DEENVH5J4P6P6B2UWIFEB2HEFV66QXXRL3YEGOXDJKGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3GOMSKKRY4V6XNAQLZNQP7ERSFVDABOOBBIT4A5URVIHCOZH4LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJDHKHATQWVJEVGGX2MACYBMXWWHV3UAFKESJJ7OIUZMX6ZBYRHA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKTCMNRLKRZTINYOAC5YFO5NGMGW3OJ7XZKXQBGJVQGXYSSICZSQ/a731fdb9bb007b7ca02d675e9fc738d5.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2DJVKWMSAPCTLXJ6W634SRDSVZFHF7OJ7AHJE4I2PDHYRS7QNGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/26792995-3405-4d6b-bf78-f3040a0f3dd7/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js"
            ]
        },
        "AttachPolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "PolicyId",
                    "TargetId"
                ],
                "members": {
                    "PolicyId": {},
                    "TargetId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PF2YFXJZXTPZP6YEIBULL4AF7LT6R3LOBSJ52O2PR22KOPVMXGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLTC7MONH4PMHQCWYJN7A3WG75MWYGC4OK2W2P27LLU6QY3DBDQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MR43UQWRECPQY4NUHBF6MDEMGRPUY42NYNCFYHHSOG2X4LSIGNSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD3NJAL57SXGYGJXHGQESUR7K34I7QHLG4ZFX637NPAERZJO2BJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZP5LNXEAGBCHP4KJYEBKJKKZEGVATSXB443ZXU6S7OGUUTXRVCMA/index.en.v2.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTH4ZE4PNEEQVLTX6FNZSO72GZ2Y3PRMOJTZHKOHTAZD7VIMQ7WA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~253ae210.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQFCBGDPOBGE4UTH5OABELFZZGTU6EF3UVUB65E3KHL2CTWSZCCA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IKB6OBK7DEENVH5J4P6P6B2UWIFEB2HEFV66QXXRL3YEGOXDJKGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3GOMSKKRY4V6XNAQLZNQP7ERSFVDABOOBBIT4A5URVIHCOZH4LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJDHKHATQWVJEVGGX2MACYBMXWWHV3UAFKESJJ7OIUZMX6ZBYRHA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKTCMNRLKRZTINYOAC5YFO5NGMGW3OJ7XZKXQBGJVQGXYSSICZSQ/a731fdb9bb007b7ca02d675e9fc738d5.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2DJVKWMSAPCTLXJ6W634SRDSVZFHF7OJ7AHJE4I2PDHYRS7QNGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/26792995-3405-4d6b-bf78-f3040a0f3dd7/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js"
            ]
        },
        "CancelHandshake": {
            "input": {
                "type": "structure",
                "required": [
                    "HandshakeId"
                ],
                "members": {
                    "HandshakeId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Handshake": {
                        "shape": "S4"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PF2YFXJZXTPZP6YEIBULL4AF7LT6R3LOBSJ52O2PR22KOPVMXGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLTC7MONH4PMHQCWYJN7A3WG75MWYGC4OK2W2P27LLU6QY3DBDQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MR43UQWRECPQY4NUHBF6MDEMGRPUY42NYNCFYHHSOG2X4LSIGNSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD3NJAL57SXGYGJXHGQESUR7K34I7QHLG4ZFX637NPAERZJO2BJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZP5LNXEAGBCHP4KJYEBKJKKZEGVATSXB443ZXU6S7OGUUTXRVCMA/index.en.v2.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTH4ZE4PNEEQVLTX6FNZSO72GZ2Y3PRMOJTZHKOHTAZD7VIMQ7WA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~253ae210.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQFCBGDPOBGE4UTH5OABELFZZGTU6EF3UVUB65E3KHL2CTWSZCCA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IKB6OBK7DEENVH5J4P6P6B2UWIFEB2HEFV66QXXRL3YEGOXDJKGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3GOMSKKRY4V6XNAQLZNQP7ERSFVDABOOBBIT4A5URVIHCOZH4LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJDHKHATQWVJEVGGX2MACYBMXWWHV3UAFKESJJ7OIUZMX6ZBYRHA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKTCMNRLKRZTINYOAC5YFO5NGMGW3OJ7XZKXQBGJVQGXYSSICZSQ/a731fdb9bb007b7ca02d675e9fc738d5.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2DJVKWMSAPCTLXJ6W634SRDSVZFHF7OJ7AHJE4I2PDHYRS7QNGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/26792995-3405-4d6b-bf78-f3040a0f3dd7/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js"
            ]
        },
        "CreateAccount": {
            "input": {
                "type": "structure",
                "required": [
                    "Email",
                    "AccountName"
                ],
                "members": {
                    "Email": {
                        "shape": "Sn"
                    },
                    "AccountName": {
                        "shape": "So"
                    },
                    "RoleName": {},
                    "IamUserAccessToBilling": {},
                    "Tags": {
                        "shape": "Sr"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "CreateAccountStatus": {
                        "shape": "Sw"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PF2YFXJZXTPZP6YEIBULL4AF7LT6R3LOBSJ52O2PR22KOPVMXGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLTC7MONH4PMHQCWYJN7A3WG75MWYGC4OK2W2P27LLU6QY3DBDQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MR43UQWRECPQY4NUHBF6MDEMGRPUY42NYNCFYHHSOG2X4LSIGNSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD3NJAL57SXGYGJXHGQESUR7K34I7QHLG4ZFX637NPAERZJO2BJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZP5LNXEAGBCHP4KJYEBKJKKZEGVATSXB443ZXU6S7OGUUTXRVCMA/index.en.v2.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTH4ZE4PNEEQVLTX6FNZSO72GZ2Y3PRMOJTZHKOHTAZD7VIMQ7WA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~253ae210.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQFCBGDPOBGE4UTH5OABELFZZGTU6EF3UVUB65E3KHL2CTWSZCCA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IKB6OBK7DEENVH5J4P6P6B2UWIFEB2HEFV66QXXRL3YEGOXDJKGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3GOMSKKRY4V6XNAQLZNQP7ERSFVDABOOBBIT4A5URVIHCOZH4LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJDHKHATQWVJEVGGX2MACYBMXWWHV3UAFKESJJ7OIUZMX6ZBYRHA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKTCMNRLKRZTINYOAC5YFO5NGMGW3OJ7XZKXQBGJVQGXYSSICZSQ/a731fdb9bb007b7ca02d675e9fc738d5.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2DJVKWMSAPCTLXJ6W634SRDSVZFHF7OJ7AHJE4I2PDHYRS7QNGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/26792995-3405-4d6b-bf78-f3040a0f3dd7/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js"
            ]
        },
        "CreateGovCloudAccount": {
            "input": {
                "type": "structure",
                "required": [
                    "Email",
                    "AccountName"
                ],
                "members": {
                    "Email": {
                        "shape": "Sn"
                    },
                    "AccountName": {
                        "shape": "So"
                    },
                    "RoleName": {},
                    "IamUserAccessToBilling": {},
                    "Tags": {
                        "shape": "Sr"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "CreateAccountStatus": {
                        "shape": "Sw"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PF2YFXJZXTPZP6YEIBULL4AF7LT6R3LOBSJ52O2PR22KOPVMXGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLTC7MONH4PMHQCWYJN7A3WG75MWYGC4OK2W2P27LLU6QY3DBDQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MR43UQWRECPQY4NUHBF6MDEMGRPUY42NYNCFYHHSOG2X4LSIGNSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD3NJAL57SXGYGJXHGQESUR7K34I7QHLG4ZFX637NPAERZJO2BJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZP5LNXEAGBCHP4KJYEBKJKKZEGVATSXB443ZXU6S7OGUUTXRVCMA/index.en.v2.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTH4ZE4PNEEQVLTX6FNZSO72GZ2Y3PRMOJTZHKOHTAZD7VIMQ7WA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~253ae210.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQFCBGDPOBGE4UTH5OABELFZZGTU6EF3UVUB65E3KHL2CTWSZCCA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IKB6OBK7DEENVH5J4P6P6B2UWIFEB2HEFV66QXXRL3YEGOXDJKGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3GOMSKKRY4V6XNAQLZNQP7ERSFVDABOOBBIT4A5URVIHCOZH4LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJDHKHATQWVJEVGGX2MACYBMXWWHV3UAFKESJJ7OIUZMX6ZBYRHA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKTCMNRLKRZTINYOAC5YFO5NGMGW3OJ7XZKXQBGJVQGXYSSICZSQ/a731fdb9bb007b7ca02d675e9fc738d5.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2DJVKWMSAPCTLXJ6W634SRDSVZFHF7OJ7AHJE4I2PDHYRS7QNGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/26792995-3405-4d6b-bf78-f3040a0f3dd7/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js"
            ]
        },
        "CreateOrganization": {
            "input": {
                "type": "structure",
                "members": {
                    "FeatureSet": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Organization": {
                        "shape": "S16"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PF2YFXJZXTPZP6YEIBULL4AF7LT6R3LOBSJ52O2PR22KOPVMXGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLTC7MONH4PMHQCWYJN7A3WG75MWYGC4OK2W2P27LLU6QY3DBDQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MR43UQWRECPQY4NUHBF6MDEMGRPUY42NYNCFYHHSOG2X4LSIGNSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD3NJAL57SXGYGJXHGQESUR7K34I7QHLG4ZFX637NPAERZJO2BJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZP5LNXEAGBCHP4KJYEBKJKKZEGVATSXB443ZXU6S7OGUUTXRVCMA/index.en.v2.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTH4ZE4PNEEQVLTX6FNZSO72GZ2Y3PRMOJTZHKOHTAZD7VIMQ7WA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~253ae210.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQFCBGDPOBGE4UTH5OABELFZZGTU6EF3UVUB65E3KHL2CTWSZCCA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IKB6OBK7DEENVH5J4P6P6B2UWIFEB2HEFV66QXXRL3YEGOXDJKGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3GOMSKKRY4V6XNAQLZNQP7ERSFVDABOOBBIT4A5URVIHCOZH4LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJDHKHATQWVJEVGGX2MACYBMXWWHV3UAFKESJJ7OIUZMX6ZBYRHA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKTCMNRLKRZTINYOAC5YFO5NGMGW3OJ7XZKXQBGJVQGXYSSICZSQ/a731fdb9bb007b7ca02d675e9fc738d5.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2DJVKWMSAPCTLXJ6W634SRDSVZFHF7OJ7AHJE4I2PDHYRS7QNGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/26792995-3405-4d6b-bf78-f3040a0f3dd7/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js"
            ]
        },
        "CreateOrganizationalUnit": {
            "input": {
                "type": "structure",
                "required": [
                    "ParentId",
                    "Name"
                ],
                "members": {
                    "ParentId": {},
                    "Name": {},
                    "Tags": {
                        "shape": "Sr"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "OrganizationalUnit": {
                        "shape": "S1i"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PF2YFXJZXTPZP6YEIBULL4AF7LT6R3LOBSJ52O2PR22KOPVMXGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLTC7MONH4PMHQCWYJN7A3WG75MWYGC4OK2W2P27LLU6QY3DBDQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MR43UQWRECPQY4NUHBF6MDEMGRPUY42NYNCFYHHSOG2X4LSIGNSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD3NJAL57SXGYGJXHGQESUR7K34I7QHLG4ZFX637NPAERZJO2BJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZP5LNXEAGBCHP4KJYEBKJKKZEGVATSXB443ZXU6S7OGUUTXRVCMA/index.en.v2.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTH4ZE4PNEEQVLTX6FNZSO72GZ2Y3PRMOJTZHKOHTAZD7VIMQ7WA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~253ae210.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQFCBGDPOBGE4UTH5OABELFZZGTU6EF3UVUB65E3KHL2CTWSZCCA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IKB6OBK7DEENVH5J4P6P6B2UWIFEB2HEFV66QXXRL3YEGOXDJKGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3GOMSKKRY4V6XNAQLZNQP7ERSFVDABOOBBIT4A5URVIHCOZH4LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJDHKHATQWVJEVGGX2MACYBMXWWHV3UAFKESJJ7OIUZMX6ZBYRHA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKTCMNRLKRZTINYOAC5YFO5NGMGW3OJ7XZKXQBGJVQGXYSSICZSQ/a731fdb9bb007b7ca02d675e9fc738d5.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2DJVKWMSAPCTLXJ6W634SRDSVZFHF7OJ7AHJE4I2PDHYRS7QNGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/26792995-3405-4d6b-bf78-f3040a0f3dd7/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js"
            ]
        },
        "CreatePolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "Content",
                    "Description",
                    "Name",
                    "Type"
                ],
                "members": {
                    "Content": {},
                    "Description": {},
                    "Name": {},
                    "Type": {},
                    "Tags": {
                        "shape": "Sr"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Policy": {
                        "shape": "S1q"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PF2YFXJZXTPZP6YEIBULL4AF7LT6R3LOBSJ52O2PR22KOPVMXGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLTC7MONH4PMHQCWYJN7A3WG75MWYGC4OK2W2P27LLU6QY3DBDQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MR43UQWRECPQY4NUHBF6MDEMGRPUY42NYNCFYHHSOG2X4LSIGNSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD3NJAL57SXGYGJXHGQESUR7K34I7QHLG4ZFX637NPAERZJO2BJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZP5LNXEAGBCHP4KJYEBKJKKZEGVATSXB443ZXU6S7OGUUTXRVCMA/index.en.v2.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTH4ZE4PNEEQVLTX6FNZSO72GZ2Y3PRMOJTZHKOHTAZD7VIMQ7WA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~253ae210.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQFCBGDPOBGE4UTH5OABELFZZGTU6EF3UVUB65E3KHL2CTWSZCCA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IKB6OBK7DEENVH5J4P6P6B2UWIFEB2HEFV66QXXRL3YEGOXDJKGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3GOMSKKRY4V6XNAQLZNQP7ERSFVDABOOBBIT4A5URVIHCOZH4LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJDHKHATQWVJEVGGX2MACYBMXWWHV3UAFKESJJ7OIUZMX6ZBYRHA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKTCMNRLKRZTINYOAC5YFO5NGMGW3OJ7XZKXQBGJVQGXYSSICZSQ/a731fdb9bb007b7ca02d675e9fc738d5.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2DJVKWMSAPCTLXJ6W634SRDSVZFHF7OJ7AHJE4I2PDHYRS7QNGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/26792995-3405-4d6b-bf78-f3040a0f3dd7/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js"
            ]
        },
        "DeclineHandshake": {
            "input": {
                "type": "structure",
                "required": [
                    "HandshakeId"
                ],
                "members": {
                    "HandshakeId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Handshake": {
                        "shape": "S4"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PF2YFXJZXTPZP6YEIBULL4AF7LT6R3LOBSJ52O2PR22KOPVMXGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLTC7MONH4PMHQCWYJN7A3WG75MWYGC4OK2W2P27LLU6QY3DBDQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MR43UQWRECPQY4NUHBF6MDEMGRPUY42NYNCFYHHSOG2X4LSIGNSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD3NJAL57SXGYGJXHGQESUR7K34I7QHLG4ZFX637NPAERZJO2BJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZP5LNXEAGBCHP4KJYEBKJKKZEGVATSXB443ZXU6S7OGUUTXRVCMA/index.en.v2.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTH4ZE4PNEEQVLTX6FNZSO72GZ2Y3PRMOJTZHKOHTAZD7VIMQ7WA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~253ae210.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQFCBGDPOBGE4UTH5OABELFZZGTU6EF3UVUB65E3KHL2CTWSZCCA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IKB6OBK7DEENVH5J4P6P6B2UWIFEB2HEFV66QXXRL3YEGOXDJKGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3GOMSKKRY4V6XNAQLZNQP7ERSFVDABOOBBIT4A5URVIHCOZH4LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJDHKHATQWVJEVGGX2MACYBMXWWHV3UAFKESJJ7OIUZMX6ZBYRHA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKTCMNRLKRZTINYOAC5YFO5NGMGW3OJ7XZKXQBGJVQGXYSSICZSQ/a731fdb9bb007b7ca02d675e9fc738d5.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2DJVKWMSAPCTLXJ6W634SRDSVZFHF7OJ7AHJE4I2PDHYRS7QNGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/26792995-3405-4d6b-bf78-f3040a0f3dd7/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js"
            ]
        },
        "DeleteOrganization": {
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PF2YFXJZXTPZP6YEIBULL4AF7LT6R3LOBSJ52O2PR22KOPVMXGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLTC7MONH4PMHQCWYJN7A3WG75MWYGC4OK2W2P27LLU6QY3DBDQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MR43UQWRECPQY4NUHBF6MDEMGRPUY42NYNCFYHHSOG2X4LSIGNSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD3NJAL57SXGYGJXHGQESUR7K34I7QHLG4ZFX637NPAERZJO2BJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZP5LNXEAGBCHP4KJYEBKJKKZEGVATSXB443ZXU6S7OGUUTXRVCMA/index.en.v2.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTH4ZE4PNEEQVLTX6FNZSO72GZ2Y3PRMOJTZHKOHTAZD7VIMQ7WA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~253ae210.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQFCBGDPOBGE4UTH5OABELFZZGTU6EF3UVUB65E3KHL2CTWSZCCA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IKB6OBK7DEENVH5J4P6P6B2UWIFEB2HEFV66QXXRL3YEGOXDJKGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3GOMSKKRY4V6XNAQLZNQP7ERSFVDABOOBBIT4A5URVIHCOZH4LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJDHKHATQWVJEVGGX2MACYBMXWWHV3UAFKESJJ7OIUZMX6ZBYRHA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKTCMNRLKRZTINYOAC5YFO5NGMGW3OJ7XZKXQBGJVQGXYSSICZSQ/a731fdb9bb007b7ca02d675e9fc738d5.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2DJVKWMSAPCTLXJ6W634SRDSVZFHF7OJ7AHJE4I2PDHYRS7QNGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/26792995-3405-4d6b-bf78-f3040a0f3dd7/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js"
            ]
        },
        "DeleteOrganizationalUnit": {
            "input": {
                "type": "structure",
                "required": [
                    "OrganizationalUnitId"
                ],
                "members": {
                    "OrganizationalUnitId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PF2YFXJZXTPZP6YEIBULL4AF7LT6R3LOBSJ52O2PR22KOPVMXGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLTC7MONH4PMHQCWYJN7A3WG75MWYGC4OK2W2P27LLU6QY3DBDQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MR43UQWRECPQY4NUHBF6MDEMGRPUY42NYNCFYHHSOG2X4LSIGNSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD3NJAL57SXGYGJXHGQESUR7K34I7QHLG4ZFX637NPAERZJO2BJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZP5LNXEAGBCHP4KJYEBKJKKZEGVATSXB443ZXU6S7OGUUTXRVCMA/index.en.v2.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTH4ZE4PNEEQVLTX6FNZSO72GZ2Y3PRMOJTZHKOHTAZD7VIMQ7WA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~253ae210.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQFCBGDPOBGE4UTH5OABELFZZGTU6EF3UVUB65E3KHL2CTWSZCCA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IKB6OBK7DEENVH5J4P6P6B2UWIFEB2HEFV66QXXRL3YEGOXDJKGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3GOMSKKRY4V6XNAQLZNQP7ERSFVDABOOBBIT4A5URVIHCOZH4LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJDHKHATQWVJEVGGX2MACYBMXWWHV3UAFKESJJ7OIUZMX6ZBYRHA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKTCMNRLKRZTINYOAC5YFO5NGMGW3OJ7XZKXQBGJVQGXYSSICZSQ/a731fdb9bb007b7ca02d675e9fc738d5.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2DJVKWMSAPCTLXJ6W634SRDSVZFHF7OJ7AHJE4I2PDHYRS7QNGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/26792995-3405-4d6b-bf78-f3040a0f3dd7/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js"
            ]
        },
        "DeletePolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "PolicyId"
                ],
                "members": {
                    "PolicyId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PF2YFXJZXTPZP6YEIBULL4AF7LT6R3LOBSJ52O2PR22KOPVMXGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLTC7MONH4PMHQCWYJN7A3WG75MWYGC4OK2W2P27LLU6QY3DBDQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MR43UQWRECPQY4NUHBF6MDEMGRPUY42NYNCFYHHSOG2X4LSIGNSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD3NJAL57SXGYGJXHGQESUR7K34I7QHLG4ZFX637NPAERZJO2BJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZP5LNXEAGBCHP4KJYEBKJKKZEGVATSXB443ZXU6S7OGUUTXRVCMA/index.en.v2.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTH4ZE4PNEEQVLTX6FNZSO72GZ2Y3PRMOJTZHKOHTAZD7VIMQ7WA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~253ae210.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQFCBGDPOBGE4UTH5OABELFZZGTU6EF3UVUB65E3KHL2CTWSZCCA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IKB6OBK7DEENVH5J4P6P6B2UWIFEB2HEFV66QXXRL3YEGOXDJKGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3GOMSKKRY4V6XNAQLZNQP7ERSFVDABOOBBIT4A5URVIHCOZH4LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJDHKHATQWVJEVGGX2MACYBMXWWHV3UAFKESJJ7OIUZMX6ZBYRHA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKTCMNRLKRZTINYOAC5YFO5NGMGW3OJ7XZKXQBGJVQGXYSSICZSQ/a731fdb9bb007b7ca02d675e9fc738d5.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2DJVKWMSAPCTLXJ6W634SRDSVZFHF7OJ7AHJE4I2PDHYRS7QNGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/26792995-3405-4d6b-bf78-f3040a0f3dd7/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js"
            ]
        },
        "DeregisterDelegatedAdministrator": {
            "input": {
                "type": "structure",
                "required": [
                    "AccountId",
                    "ServicePrincipal"
                ],
                "members": {
                    "AccountId": {},
                    "ServicePrincipal": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PF2YFXJZXTPZP6YEIBULL4AF7LT6R3LOBSJ52O2PR22KOPVMXGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLTC7MONH4PMHQCWYJN7A3WG75MWYGC4OK2W2P27LLU6QY3DBDQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MR43UQWRECPQY4NUHBF6MDEMGRPUY42NYNCFYHHSOG2X4LSIGNSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD3NJAL57SXGYGJXHGQESUR7K34I7QHLG4ZFX637NPAERZJO2BJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZP5LNXEAGBCHP4KJYEBKJKKZEGVATSXB443ZXU6S7OGUUTXRVCMA/index.en.v2.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTH4ZE4PNEEQVLTX6FNZSO72GZ2Y3PRMOJTZHKOHTAZD7VIMQ7WA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~253ae210.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQFCBGDPOBGE4UTH5OABELFZZGTU6EF3UVUB65E3KHL2CTWSZCCA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IKB6OBK7DEENVH5J4P6P6B2UWIFEB2HEFV66QXXRL3YEGOXDJKGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3GOMSKKRY4V6XNAQLZNQP7ERSFVDABOOBBIT4A5URVIHCOZH4LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJDHKHATQWVJEVGGX2MACYBMXWWHV3UAFKESJJ7OIUZMX6ZBYRHA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKTCMNRLKRZTINYOAC5YFO5NGMGW3OJ7XZKXQBGJVQGXYSSICZSQ/a731fdb9bb007b7ca02d675e9fc738d5.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2DJVKWMSAPCTLXJ6W634SRDSVZFHF7OJ7AHJE4I2PDHYRS7QNGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/26792995-3405-4d6b-bf78-f3040a0f3dd7/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js"
            ]
        },
        "DescribeAccount": {
            "input": {
                "type": "structure",
                "required": [
                    "AccountId"
                ],
                "members": {
                    "AccountId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Account": {
                        "shape": "S22"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PF2YFXJZXTPZP6YEIBULL4AF7LT6R3LOBSJ52O2PR22KOPVMXGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLTC7MONH4PMHQCWYJN7A3WG75MWYGC4OK2W2P27LLU6QY3DBDQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MR43UQWRECPQY4NUHBF6MDEMGRPUY42NYNCFYHHSOG2X4LSIGNSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD3NJAL57SXGYGJXHGQESUR7K34I7QHLG4ZFX637NPAERZJO2BJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZP5LNXEAGBCHP4KJYEBKJKKZEGVATSXB443ZXU6S7OGUUTXRVCMA/index.en.v2.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTH4ZE4PNEEQVLTX6FNZSO72GZ2Y3PRMOJTZHKOHTAZD7VIMQ7WA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~253ae210.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQFCBGDPOBGE4UTH5OABELFZZGTU6EF3UVUB65E3KHL2CTWSZCCA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IKB6OBK7DEENVH5J4P6P6B2UWIFEB2HEFV66QXXRL3YEGOXDJKGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3GOMSKKRY4V6XNAQLZNQP7ERSFVDABOOBBIT4A5URVIHCOZH4LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJDHKHATQWVJEVGGX2MACYBMXWWHV3UAFKESJJ7OIUZMX6ZBYRHA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKTCMNRLKRZTINYOAC5YFO5NGMGW3OJ7XZKXQBGJVQGXYSSICZSQ/a731fdb9bb007b7ca02d675e9fc738d5.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2DJVKWMSAPCTLXJ6W634SRDSVZFHF7OJ7AHJE4I2PDHYRS7QNGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/26792995-3405-4d6b-bf78-f3040a0f3dd7/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js"
            ]
        },
        "DescribeCreateAccountStatus": {
            "input": {
                "type": "structure",
                "required": [
                    "CreateAccountRequestId"
                ],
                "members": {
                    "CreateAccountRequestId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "CreateAccountStatus": {
                        "shape": "Sw"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PF2YFXJZXTPZP6YEIBULL4AF7LT6R3LOBSJ52O2PR22KOPVMXGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLTC7MONH4PMHQCWYJN7A3WG75MWYGC4OK2W2P27LLU6QY3DBDQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MR43UQWRECPQY4NUHBF6MDEMGRPUY42NYNCFYHHSOG2X4LSIGNSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD3NJAL57SXGYGJXHGQESUR7K34I7QHLG4ZFX637NPAERZJO2BJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZP5LNXEAGBCHP4KJYEBKJKKZEGVATSXB443ZXU6S7OGUUTXRVCMA/index.en.v2.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTH4ZE4PNEEQVLTX6FNZSO72GZ2Y3PRMOJTZHKOHTAZD7VIMQ7WA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~253ae210.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQFCBGDPOBGE4UTH5OABELFZZGTU6EF3UVUB65E3KHL2CTWSZCCA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IKB6OBK7DEENVH5J4P6P6B2UWIFEB2HEFV66QXXRL3YEGOXDJKGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3GOMSKKRY4V6XNAQLZNQP7ERSFVDABOOBBIT4A5URVIHCOZH4LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJDHKHATQWVJEVGGX2MACYBMXWWHV3UAFKESJJ7OIUZMX6ZBYRHA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKTCMNRLKRZTINYOAC5YFO5NGMGW3OJ7XZKXQBGJVQGXYSSICZSQ/a731fdb9bb007b7ca02d675e9fc738d5.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2DJVKWMSAPCTLXJ6W634SRDSVZFHF7OJ7AHJE4I2PDHYRS7QNGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/26792995-3405-4d6b-bf78-f3040a0f3dd7/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js"
            ]
        },
        "DescribeEffectivePolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "PolicyType"
                ],
                "members": {
                    "PolicyType": {},
                    "TargetId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "EffectivePolicy": {
                        "type": "structure",
                        "members": {
                            "PolicyContent": {},
                            "LastUpdatedTimestamp": {
                                "type": "timestamp"
                            },
                            "TargetId": {},
                            "PolicyType": {}
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PF2YFXJZXTPZP6YEIBULL4AF7LT6R3LOBSJ52O2PR22KOPVMXGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLTC7MONH4PMHQCWYJN7A3WG75MWYGC4OK2W2P27LLU6QY3DBDQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MR43UQWRECPQY4NUHBF6MDEMGRPUY42NYNCFYHHSOG2X4LSIGNSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD3NJAL57SXGYGJXHGQESUR7K34I7QHLG4ZFX637NPAERZJO2BJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZP5LNXEAGBCHP4KJYEBKJKKZEGVATSXB443ZXU6S7OGUUTXRVCMA/index.en.v2.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTH4ZE4PNEEQVLTX6FNZSO72GZ2Y3PRMOJTZHKOHTAZD7VIMQ7WA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~253ae210.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQFCBGDPOBGE4UTH5OABELFZZGTU6EF3UVUB65E3KHL2CTWSZCCA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IKB6OBK7DEENVH5J4P6P6B2UWIFEB2HEFV66QXXRL3YEGOXDJKGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3GOMSKKRY4V6XNAQLZNQP7ERSFVDABOOBBIT4A5URVIHCOZH4LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJDHKHATQWVJEVGGX2MACYBMXWWHV3UAFKESJJ7OIUZMX6ZBYRHA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKTCMNRLKRZTINYOAC5YFO5NGMGW3OJ7XZKXQBGJVQGXYSSICZSQ/a731fdb9bb007b7ca02d675e9fc738d5.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2DJVKWMSAPCTLXJ6W634SRDSVZFHF7OJ7AHJE4I2PDHYRS7QNGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/26792995-3405-4d6b-bf78-f3040a0f3dd7/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js"
            ]
        },
        "DescribeHandshake": {
            "input": {
                "type": "structure",
                "required": [
                    "HandshakeId"
                ],
                "members": {
                    "HandshakeId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Handshake": {
                        "shape": "S4"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PF2YFXJZXTPZP6YEIBULL4AF7LT6R3LOBSJ52O2PR22KOPVMXGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLTC7MONH4PMHQCWYJN7A3WG75MWYGC4OK2W2P27LLU6QY3DBDQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MR43UQWRECPQY4NUHBF6MDEMGRPUY42NYNCFYHHSOG2X4LSIGNSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD3NJAL57SXGYGJXHGQESUR7K34I7QHLG4ZFX637NPAERZJO2BJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZP5LNXEAGBCHP4KJYEBKJKKZEGVATSXB443ZXU6S7OGUUTXRVCMA/index.en.v2.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTH4ZE4PNEEQVLTX6FNZSO72GZ2Y3PRMOJTZHKOHTAZD7VIMQ7WA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~253ae210.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQFCBGDPOBGE4UTH5OABELFZZGTU6EF3UVUB65E3KHL2CTWSZCCA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IKB6OBK7DEENVH5J4P6P6B2UWIFEB2HEFV66QXXRL3YEGOXDJKGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3GOMSKKRY4V6XNAQLZNQP7ERSFVDABOOBBIT4A5URVIHCOZH4LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJDHKHATQWVJEVGGX2MACYBMXWWHV3UAFKESJJ7OIUZMX6ZBYRHA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKTCMNRLKRZTINYOAC5YFO5NGMGW3OJ7XZKXQBGJVQGXYSSICZSQ/a731fdb9bb007b7ca02d675e9fc738d5.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2DJVKWMSAPCTLXJ6W634SRDSVZFHF7OJ7AHJE4I2PDHYRS7QNGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/26792995-3405-4d6b-bf78-f3040a0f3dd7/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js"
            ]
        },
        "DescribeOrganization": {
            "output": {
                "type": "structure",
                "members": {
                    "Organization": {
                        "shape": "S16"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PF2YFXJZXTPZP6YEIBULL4AF7LT6R3LOBSJ52O2PR22KOPVMXGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLTC7MONH4PMHQCWYJN7A3WG75MWYGC4OK2W2P27LLU6QY3DBDQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MR43UQWRECPQY4NUHBF6MDEMGRPUY42NYNCFYHHSOG2X4LSIGNSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD3NJAL57SXGYGJXHGQESUR7K34I7QHLG4ZFX637NPAERZJO2BJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZP5LNXEAGBCHP4KJYEBKJKKZEGVATSXB443ZXU6S7OGUUTXRVCMA/index.en.v2.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTH4ZE4PNEEQVLTX6FNZSO72GZ2Y3PRMOJTZHKOHTAZD7VIMQ7WA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~253ae210.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQFCBGDPOBGE4UTH5OABELFZZGTU6EF3UVUB65E3KHL2CTWSZCCA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IKB6OBK7DEENVH5J4P6P6B2UWIFEB2HEFV66QXXRL3YEGOXDJKGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3GOMSKKRY4V6XNAQLZNQP7ERSFVDABOOBBIT4A5URVIHCOZH4LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJDHKHATQWVJEVGGX2MACYBMXWWHV3UAFKESJJ7OIUZMX6ZBYRHA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKTCMNRLKRZTINYOAC5YFO5NGMGW3OJ7XZKXQBGJVQGXYSSICZSQ/a731fdb9bb007b7ca02d675e9fc738d5.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2DJVKWMSAPCTLXJ6W634SRDSVZFHF7OJ7AHJE4I2PDHYRS7QNGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/26792995-3405-4d6b-bf78-f3040a0f3dd7/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js"
            ]
        },
        "DescribeOrganizationalUnit": {
            "input": {
                "type": "structure",
                "required": [
                    "OrganizationalUnitId"
                ],
                "members": {
                    "OrganizationalUnitId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "OrganizationalUnit": {
                        "shape": "S1i"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PF2YFXJZXTPZP6YEIBULL4AF7LT6R3LOBSJ52O2PR22KOPVMXGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLTC7MONH4PMHQCWYJN7A3WG75MWYGC4OK2W2P27LLU6QY3DBDQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MR43UQWRECPQY4NUHBF6MDEMGRPUY42NYNCFYHHSOG2X4LSIGNSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD3NJAL57SXGYGJXHGQESUR7K34I7QHLG4ZFX637NPAERZJO2BJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZP5LNXEAGBCHP4KJYEBKJKKZEGVATSXB443ZXU6S7OGUUTXRVCMA/index.en.v2.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTH4ZE4PNEEQVLTX6FNZSO72GZ2Y3PRMOJTZHKOHTAZD7VIMQ7WA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~253ae210.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQFCBGDPOBGE4UTH5OABELFZZGTU6EF3UVUB65E3KHL2CTWSZCCA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IKB6OBK7DEENVH5J4P6P6B2UWIFEB2HEFV66QXXRL3YEGOXDJKGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3GOMSKKRY4V6XNAQLZNQP7ERSFVDABOOBBIT4A5URVIHCOZH4LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJDHKHATQWVJEVGGX2MACYBMXWWHV3UAFKESJJ7OIUZMX6ZBYRHA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKTCMNRLKRZTINYOAC5YFO5NGMGW3OJ7XZKXQBGJVQGXYSSICZSQ/a731fdb9bb007b7ca02d675e9fc738d5.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2DJVKWMSAPCTLXJ6W634SRDSVZFHF7OJ7AHJE4I2PDHYRS7QNGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/26792995-3405-4d6b-bf78-f3040a0f3dd7/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js"
            ]
        },
        "DescribePolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "PolicyId"
                ],
                "members": {
                    "PolicyId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Policy": {
                        "shape": "S1q"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PF2YFXJZXTPZP6YEIBULL4AF7LT6R3LOBSJ52O2PR22KOPVMXGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLTC7MONH4PMHQCWYJN7A3WG75MWYGC4OK2W2P27LLU6QY3DBDQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MR43UQWRECPQY4NUHBF6MDEMGRPUY42NYNCFYHHSOG2X4LSIGNSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD3NJAL57SXGYGJXHGQESUR7K34I7QHLG4ZFX637NPAERZJO2BJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZP5LNXEAGBCHP4KJYEBKJKKZEGVATSXB443ZXU6S7OGUUTXRVCMA/index.en.v2.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTH4ZE4PNEEQVLTX6FNZSO72GZ2Y3PRMOJTZHKOHTAZD7VIMQ7WA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~253ae210.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQFCBGDPOBGE4UTH5OABELFZZGTU6EF3UVUB65E3KHL2CTWSZCCA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IKB6OBK7DEENVH5J4P6P6B2UWIFEB2HEFV66QXXRL3YEGOXDJKGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3GOMSKKRY4V6XNAQLZNQP7ERSFVDABOOBBIT4A5URVIHCOZH4LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJDHKHATQWVJEVGGX2MACYBMXWWHV3UAFKESJJ7OIUZMX6ZBYRHA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKTCMNRLKRZTINYOAC5YFO5NGMGW3OJ7XZKXQBGJVQGXYSSICZSQ/a731fdb9bb007b7ca02d675e9fc738d5.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2DJVKWMSAPCTLXJ6W634SRDSVZFHF7OJ7AHJE4I2PDHYRS7QNGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/26792995-3405-4d6b-bf78-f3040a0f3dd7/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js"
            ]
        },
        "DetachPolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "PolicyId",
                    "TargetId"
                ],
                "members": {
                    "PolicyId": {},
                    "TargetId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PF2YFXJZXTPZP6YEIBULL4AF7LT6R3LOBSJ52O2PR22KOPVMXGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLTC7MONH4PMHQCWYJN7A3WG75MWYGC4OK2W2P27LLU6QY3DBDQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MR43UQWRECPQY4NUHBF6MDEMGRPUY42NYNCFYHHSOG2X4LSIGNSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD3NJAL57SXGYGJXHGQESUR7K34I7QHLG4ZFX637NPAERZJO2BJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZP5LNXEAGBCHP4KJYEBKJKKZEGVATSXB443ZXU6S7OGUUTXRVCMA/index.en.v2.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTH4ZE4PNEEQVLTX6FNZSO72GZ2Y3PRMOJTZHKOHTAZD7VIMQ7WA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~253ae210.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQFCBGDPOBGE4UTH5OABELFZZGTU6EF3UVUB65E3KHL2CTWSZCCA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IKB6OBK7DEENVH5J4P6P6B2UWIFEB2HEFV66QXXRL3YEGOXDJKGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3GOMSKKRY4V6XNAQLZNQP7ERSFVDABOOBBIT4A5URVIHCOZH4LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJDHKHATQWVJEVGGX2MACYBMXWWHV3UAFKESJJ7OIUZMX6ZBYRHA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKTCMNRLKRZTINYOAC5YFO5NGMGW3OJ7XZKXQBGJVQGXYSSICZSQ/a731fdb9bb007b7ca02d675e9fc738d5.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2DJVKWMSAPCTLXJ6W634SRDSVZFHF7OJ7AHJE4I2PDHYRS7QNGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/26792995-3405-4d6b-bf78-f3040a0f3dd7/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js"
            ]
        },
        "DisableAWSServiceAccess": {
            "input": {
                "type": "structure",
                "required": [
                    "ServicePrincipal"
                ],
                "members": {
                    "ServicePrincipal": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PF2YFXJZXTPZP6YEIBULL4AF7LT6R3LOBSJ52O2PR22KOPVMXGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLTC7MONH4PMHQCWYJN7A3WG75MWYGC4OK2W2P27LLU6QY3DBDQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MR43UQWRECPQY4NUHBF6MDEMGRPUY42NYNCFYHHSOG2X4LSIGNSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD3NJAL57SXGYGJXHGQESUR7K34I7QHLG4ZFX637NPAERZJO2BJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZP5LNXEAGBCHP4KJYEBKJKKZEGVATSXB443ZXU6S7OGUUTXRVCMA/index.en.v2.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTH4ZE4PNEEQVLTX6FNZSO72GZ2Y3PRMOJTZHKOHTAZD7VIMQ7WA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~253ae210.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQFCBGDPOBGE4UTH5OABELFZZGTU6EF3UVUB65E3KHL2CTWSZCCA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IKB6OBK7DEENVH5J4P6P6B2UWIFEB2HEFV66QXXRL3YEGOXDJKGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3GOMSKKRY4V6XNAQLZNQP7ERSFVDABOOBBIT4A5URVIHCOZH4LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJDHKHATQWVJEVGGX2MACYBMXWWHV3UAFKESJJ7OIUZMX6ZBYRHA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKTCMNRLKRZTINYOAC5YFO5NGMGW3OJ7XZKXQBGJVQGXYSSICZSQ/a731fdb9bb007b7ca02d675e9fc738d5.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2DJVKWMSAPCTLXJ6W634SRDSVZFHF7OJ7AHJE4I2PDHYRS7QNGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/26792995-3405-4d6b-bf78-f3040a0f3dd7/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js"
            ]
        },
        "DisablePolicyType": {
            "input": {
                "type": "structure",
                "required": [
                    "RootId",
                    "PolicyType"
                ],
                "members": {
                    "RootId": {},
                    "PolicyType": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Root": {
                        "shape": "S2n"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PF2YFXJZXTPZP6YEIBULL4AF7LT6R3LOBSJ52O2PR22KOPVMXGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLTC7MONH4PMHQCWYJN7A3WG75MWYGC4OK2W2P27LLU6QY3DBDQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MR43UQWRECPQY4NUHBF6MDEMGRPUY42NYNCFYHHSOG2X4LSIGNSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD3NJAL57SXGYGJXHGQESUR7K34I7QHLG4ZFX637NPAERZJO2BJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZP5LNXEAGBCHP4KJYEBKJKKZEGVATSXB443ZXU6S7OGUUTXRVCMA/index.en.v2.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTH4ZE4PNEEQVLTX6FNZSO72GZ2Y3PRMOJTZHKOHTAZD7VIMQ7WA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~253ae210.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQFCBGDPOBGE4UTH5OABELFZZGTU6EF3UVUB65E3KHL2CTWSZCCA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IKB6OBK7DEENVH5J4P6P6B2UWIFEB2HEFV66QXXRL3YEGOXDJKGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3GOMSKKRY4V6XNAQLZNQP7ERSFVDABOOBBIT4A5URVIHCOZH4LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJDHKHATQWVJEVGGX2MACYBMXWWHV3UAFKESJJ7OIUZMX6ZBYRHA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKTCMNRLKRZTINYOAC5YFO5NGMGW3OJ7XZKXQBGJVQGXYSSICZSQ/a731fdb9bb007b7ca02d675e9fc738d5.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2DJVKWMSAPCTLXJ6W634SRDSVZFHF7OJ7AHJE4I2PDHYRS7QNGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/26792995-3405-4d6b-bf78-f3040a0f3dd7/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js"
            ]
        },
        "EnableAWSServiceAccess": {
            "input": {
                "type": "structure",
                "required": [
                    "ServicePrincipal"
                ],
                "members": {
                    "ServicePrincipal": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PF2YFXJZXTPZP6YEIBULL4AF7LT6R3LOBSJ52O2PR22KOPVMXGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLTC7MONH4PMHQCWYJN7A3WG75MWYGC4OK2W2P27LLU6QY3DBDQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MR43UQWRECPQY4NUHBF6MDEMGRPUY42NYNCFYHHSOG2X4LSIGNSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD3NJAL57SXGYGJXHGQESUR7K34I7QHLG4ZFX637NPAERZJO2BJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZP5LNXEAGBCHP4KJYEBKJKKZEGVATSXB443ZXU6S7OGUUTXRVCMA/index.en.v2.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTH4ZE4PNEEQVLTX6FNZSO72GZ2Y3PRMOJTZHKOHTAZD7VIMQ7WA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~253ae210.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQFCBGDPOBGE4UTH5OABELFZZGTU6EF3UVUB65E3KHL2CTWSZCCA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IKB6OBK7DEENVH5J4P6P6B2UWIFEB2HEFV66QXXRL3YEGOXDJKGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3GOMSKKRY4V6XNAQLZNQP7ERSFVDABOOBBIT4A5URVIHCOZH4LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJDHKHATQWVJEVGGX2MACYBMXWWHV3UAFKESJJ7OIUZMX6ZBYRHA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKTCMNRLKRZTINYOAC5YFO5NGMGW3OJ7XZKXQBGJVQGXYSSICZSQ/a731fdb9bb007b7ca02d675e9fc738d5.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2DJVKWMSAPCTLXJ6W634SRDSVZFHF7OJ7AHJE4I2PDHYRS7QNGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/26792995-3405-4d6b-bf78-f3040a0f3dd7/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js"
            ]
        },
        "EnableAllFeatures": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "Handshake": {
                        "shape": "S4"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PF2YFXJZXTPZP6YEIBULL4AF7LT6R3LOBSJ52O2PR22KOPVMXGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLTC7MONH4PMHQCWYJN7A3WG75MWYGC4OK2W2P27LLU6QY3DBDQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MR43UQWRECPQY4NUHBF6MDEMGRPUY42NYNCFYHHSOG2X4LSIGNSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD3NJAL57SXGYGJXHGQESUR7K34I7QHLG4ZFX637NPAERZJO2BJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZP5LNXEAGBCHP4KJYEBKJKKZEGVATSXB443ZXU6S7OGUUTXRVCMA/index.en.v2.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTH4ZE4PNEEQVLTX6FNZSO72GZ2Y3PRMOJTZHKOHTAZD7VIMQ7WA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~253ae210.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQFCBGDPOBGE4UTH5OABELFZZGTU6EF3UVUB65E3KHL2CTWSZCCA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IKB6OBK7DEENVH5J4P6P6B2UWIFEB2HEFV66QXXRL3YEGOXDJKGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3GOMSKKRY4V6XNAQLZNQP7ERSFVDABOOBBIT4A5URVIHCOZH4LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJDHKHATQWVJEVGGX2MACYBMXWWHV3UAFKESJJ7OIUZMX6ZBYRHA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKTCMNRLKRZTINYOAC5YFO5NGMGW3OJ7XZKXQBGJVQGXYSSICZSQ/a731fdb9bb007b7ca02d675e9fc738d5.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2DJVKWMSAPCTLXJ6W634SRDSVZFHF7OJ7AHJE4I2PDHYRS7QNGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/26792995-3405-4d6b-bf78-f3040a0f3dd7/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js"
            ]
        },
        "EnablePolicyType": {
            "input": {
                "type": "structure",
                "required": [
                    "RootId",
                    "PolicyType"
                ],
                "members": {
                    "RootId": {},
                    "PolicyType": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Root": {
                        "shape": "S2n"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PF2YFXJZXTPZP6YEIBULL4AF7LT6R3LOBSJ52O2PR22KOPVMXGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLTC7MONH4PMHQCWYJN7A3WG75MWYGC4OK2W2P27LLU6QY3DBDQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MR43UQWRECPQY4NUHBF6MDEMGRPUY42NYNCFYHHSOG2X4LSIGNSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD3NJAL57SXGYGJXHGQESUR7K34I7QHLG4ZFX637NPAERZJO2BJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZP5LNXEAGBCHP4KJYEBKJKKZEGVATSXB443ZXU6S7OGUUTXRVCMA/index.en.v2.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTH4ZE4PNEEQVLTX6FNZSO72GZ2Y3PRMOJTZHKOHTAZD7VIMQ7WA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~253ae210.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQFCBGDPOBGE4UTH5OABELFZZGTU6EF3UVUB65E3KHL2CTWSZCCA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IKB6OBK7DEENVH5J4P6P6B2UWIFEB2HEFV66QXXRL3YEGOXDJKGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3GOMSKKRY4V6XNAQLZNQP7ERSFVDABOOBBIT4A5URVIHCOZH4LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJDHKHATQWVJEVGGX2MACYBMXWWHV3UAFKESJJ7OIUZMX6ZBYRHA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKTCMNRLKRZTINYOAC5YFO5NGMGW3OJ7XZKXQBGJVQGXYSSICZSQ/a731fdb9bb007b7ca02d675e9fc738d5.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2DJVKWMSAPCTLXJ6W634SRDSVZFHF7OJ7AHJE4I2PDHYRS7QNGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/26792995-3405-4d6b-bf78-f3040a0f3dd7/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js"
            ]
        },
        "InviteAccountToOrganization": {
            "input": {
                "type": "structure",
                "required": [
                    "Target"
                ],
                "members": {
                    "Target": {
                        "shape": "S7"
                    },
                    "Notes": {
                        "type": "string",
                        "sensitive": true
                    },
                    "Tags": {
                        "shape": "Sr"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Handshake": {
                        "shape": "S4"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PF2YFXJZXTPZP6YEIBULL4AF7LT6R3LOBSJ52O2PR22KOPVMXGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLTC7MONH4PMHQCWYJN7A3WG75MWYGC4OK2W2P27LLU6QY3DBDQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MR43UQWRECPQY4NUHBF6MDEMGRPUY42NYNCFYHHSOG2X4LSIGNSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD3NJAL57SXGYGJXHGQESUR7K34I7QHLG4ZFX637NPAERZJO2BJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZP5LNXEAGBCHP4KJYEBKJKKZEGVATSXB443ZXU6S7OGUUTXRVCMA/index.en.v2.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTH4ZE4PNEEQVLTX6FNZSO72GZ2Y3PRMOJTZHKOHTAZD7VIMQ7WA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~253ae210.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQFCBGDPOBGE4UTH5OABELFZZGTU6EF3UVUB65E3KHL2CTWSZCCA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IKB6OBK7DEENVH5J4P6P6B2UWIFEB2HEFV66QXXRL3YEGOXDJKGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3GOMSKKRY4V6XNAQLZNQP7ERSFVDABOOBBIT4A5URVIHCOZH4LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJDHKHATQWVJEVGGX2MACYBMXWWHV3UAFKESJJ7OIUZMX6ZBYRHA/vendors.sdk.min.js",
[...]
