{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2016-11-28",
        "endpointPrefix": "organizations",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceAbbreviation": "Organizations",
        "serviceFullName": "AWS Organizations",
        "serviceId": "Organizations",
        "signatureVersion": "v4",
        "targetPrefix": "AWSOrganizationsV20161128",
        "uid": "organizations-2016-11-28",
        "download_location": [
            "https://c.d.cdn.console.awsstatic.com/a/v1/OOP2UD7VDJFKWUFTZFUZ7STTM4LLWJPV76CJRNZ5MXBWIA2UR5WQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UPR6RX27NXNYIHK33OWIICVP6PWWBGQJ6ETZ5YDQ6G5JFMGPGYIQ/main.tb.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AFTIWMQL3NSTXY3XUWG5FZTI4Z5IK37G4TRJHAFARVZTVKMSK5YQ/vendorv3-sdk.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/V3VI5SJE52HKFVNI67OH5RV5NH4IAKRPAHF7BDZIO4SV5PBBHEJQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QOJ4OEEEGHNHOKYTY3Q77WQFAXHY72QV3D7AAJERYUXFI6S7FYHQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2YXVAZ7XKBSIH6XYCSRZKYRQTCM7KFWOAF2IB2N4D4KVSLLZZKZQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/U6C57SPPR4WWIGDL5E3SR5OO4TYIRJWTK7BZPI3XDHGLXIKELREQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KIPNH5SAQEREH4AL7JL22RJCLTPKBILVRZGMLK65UTWIIAAZFC7Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/74NRLGKF5ZSBF7O6NL633NV4VVVUBOP6UZQ4VL6PO5NXZ2GEWTBA/a279e9a20faae1cb597b.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DTJAWG2BRAT6ARRM4P4T62TSV7UVGTRIV25OHPPNKO6XFTV5J3VQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OMBDSZGN45XRSRIO4VDPOJMZAKISL7TKTL5EFN52OJ6JJOR34K6Q/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DYLNMCNTV46XAXTYMXV5HIGEMHQD7HXCWZYZHBNMEB3X2Y33DR3A/vendors.awssdk.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2RNA65VYZUJQKYL235UGUTKRIYJOIXBB2EIFS63BGOQ7MTROU32A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PQLI3SV7VWEFBF657QFNNSFOUQXK4KS3YF6P6VYKFBX3JRORVRSQ/4c92a125b76102a65fe1c8dc33690ff2.js",
            "https://cdn.assets.as2.console.api.aws/AWSConsole-IAM-Widgets-Libraries.js",
            "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XZ2EPWTZ5TAX5TUI5L2LVOFBZUHZJWKDM44HKULB2PXO4GRBEHQA/vendor.js"
        ]
    },
    "operations": {
        "AcceptHandshake": {
            "input": {
                "type": "structure",
                "required": [
                    "HandshakeId"
                ],
                "members": {
                    "HandshakeId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Handshake": {
                        "shape": "S4"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/OOP2UD7VDJFKWUFTZFUZ7STTM4LLWJPV76CJRNZ5MXBWIA2UR5WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPR6RX27NXNYIHK33OWIICVP6PWWBGQJ6ETZ5YDQ6G5JFMGPGYIQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFTIWMQL3NSTXY3XUWG5FZTI4Z5IK37G4TRJHAFARVZTVKMSK5YQ/vendorv3-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V3VI5SJE52HKFVNI67OH5RV5NH4IAKRPAHF7BDZIO4SV5PBBHEJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QOJ4OEEEGHNHOKYTY3Q77WQFAXHY72QV3D7AAJERYUXFI6S7FYHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YXVAZ7XKBSIH6XYCSRZKYRQTCM7KFWOAF2IB2N4D4KVSLLZZKZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U6C57SPPR4WWIGDL5E3SR5OO4TYIRJWTK7BZPI3XDHGLXIKELREQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIPNH5SAQEREH4AL7JL22RJCLTPKBILVRZGMLK65UTWIIAAZFC7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74NRLGKF5ZSBF7O6NL633NV4VVVUBOP6UZQ4VL6PO5NXZ2GEWTBA/a279e9a20faae1cb597b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTJAWG2BRAT6ARRM4P4T62TSV7UVGTRIV25OHPPNKO6XFTV5J3VQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMBDSZGN45XRSRIO4VDPOJMZAKISL7TKTL5EFN52OJ6JJOR34K6Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYLNMCNTV46XAXTYMXV5HIGEMHQD7HXCWZYZHBNMEB3X2Y33DR3A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RNA65VYZUJQKYL235UGUTKRIYJOIXBB2EIFS63BGOQ7MTROU32A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PQLI3SV7VWEFBF657QFNNSFOUQXK4KS3YF6P6VYKFBX3JRORVRSQ/4c92a125b76102a65fe1c8dc33690ff2.js",
                "https://cdn.assets.as2.console.api.aws/AWSConsole-IAM-Widgets-Libraries.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZ2EPWTZ5TAX5TUI5L2LVOFBZUHZJWKDM44HKULB2PXO4GRBEHQA/vendor.js"
            ]
        },
        "AttachPolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "PolicyId",
                    "TargetId"
                ],
                "members": {
                    "PolicyId": {},
                    "TargetId": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/OOP2UD7VDJFKWUFTZFUZ7STTM4LLWJPV76CJRNZ5MXBWIA2UR5WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPR6RX27NXNYIHK33OWIICVP6PWWBGQJ6ETZ5YDQ6G5JFMGPGYIQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFTIWMQL3NSTXY3XUWG5FZTI4Z5IK37G4TRJHAFARVZTVKMSK5YQ/vendorv3-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V3VI5SJE52HKFVNI67OH5RV5NH4IAKRPAHF7BDZIO4SV5PBBHEJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QOJ4OEEEGHNHOKYTY3Q77WQFAXHY72QV3D7AAJERYUXFI6S7FYHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YXVAZ7XKBSIH6XYCSRZKYRQTCM7KFWOAF2IB2N4D4KVSLLZZKZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U6C57SPPR4WWIGDL5E3SR5OO4TYIRJWTK7BZPI3XDHGLXIKELREQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIPNH5SAQEREH4AL7JL22RJCLTPKBILVRZGMLK65UTWIIAAZFC7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74NRLGKF5ZSBF7O6NL633NV4VVVUBOP6UZQ4VL6PO5NXZ2GEWTBA/a279e9a20faae1cb597b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTJAWG2BRAT6ARRM4P4T62TSV7UVGTRIV25OHPPNKO6XFTV5J3VQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMBDSZGN45XRSRIO4VDPOJMZAKISL7TKTL5EFN52OJ6JJOR34K6Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYLNMCNTV46XAXTYMXV5HIGEMHQD7HXCWZYZHBNMEB3X2Y33DR3A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RNA65VYZUJQKYL235UGUTKRIYJOIXBB2EIFS63BGOQ7MTROU32A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PQLI3SV7VWEFBF657QFNNSFOUQXK4KS3YF6P6VYKFBX3JRORVRSQ/4c92a125b76102a65fe1c8dc33690ff2.js",
                "https://cdn.assets.as2.console.api.aws/AWSConsole-IAM-Widgets-Libraries.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZ2EPWTZ5TAX5TUI5L2LVOFBZUHZJWKDM44HKULB2PXO4GRBEHQA/vendor.js"
            ]
        },
        "CancelHandshake": {
            "input": {
                "type": "structure",
                "required": [
                    "HandshakeId"
                ],
                "members": {
                    "HandshakeId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Handshake": {
                        "shape": "S4"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/OOP2UD7VDJFKWUFTZFUZ7STTM4LLWJPV76CJRNZ5MXBWIA2UR5WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPR6RX27NXNYIHK33OWIICVP6PWWBGQJ6ETZ5YDQ6G5JFMGPGYIQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFTIWMQL3NSTXY3XUWG5FZTI4Z5IK37G4TRJHAFARVZTVKMSK5YQ/vendorv3-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V3VI5SJE52HKFVNI67OH5RV5NH4IAKRPAHF7BDZIO4SV5PBBHEJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QOJ4OEEEGHNHOKYTY3Q77WQFAXHY72QV3D7AAJERYUXFI6S7FYHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YXVAZ7XKBSIH6XYCSRZKYRQTCM7KFWOAF2IB2N4D4KVSLLZZKZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U6C57SPPR4WWIGDL5E3SR5OO4TYIRJWTK7BZPI3XDHGLXIKELREQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIPNH5SAQEREH4AL7JL22RJCLTPKBILVRZGMLK65UTWIIAAZFC7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74NRLGKF5ZSBF7O6NL633NV4VVVUBOP6UZQ4VL6PO5NXZ2GEWTBA/a279e9a20faae1cb597b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTJAWG2BRAT6ARRM4P4T62TSV7UVGTRIV25OHPPNKO6XFTV5J3VQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMBDSZGN45XRSRIO4VDPOJMZAKISL7TKTL5EFN52OJ6JJOR34K6Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYLNMCNTV46XAXTYMXV5HIGEMHQD7HXCWZYZHBNMEB3X2Y33DR3A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RNA65VYZUJQKYL235UGUTKRIYJOIXBB2EIFS63BGOQ7MTROU32A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PQLI3SV7VWEFBF657QFNNSFOUQXK4KS3YF6P6VYKFBX3JRORVRSQ/4c92a125b76102a65fe1c8dc33690ff2.js",
                "https://cdn.assets.as2.console.api.aws/AWSConsole-IAM-Widgets-Libraries.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZ2EPWTZ5TAX5TUI5L2LVOFBZUHZJWKDM44HKULB2PXO4GRBEHQA/vendor.js"
            ]
        },
        "CreateAccount": {
            "input": {
                "type": "structure",
                "required": [
                    "Email",
                    "AccountName"
                ],
                "members": {
                    "Email": {
                        "shape": "Sn"
                    },
                    "AccountName": {
                        "shape": "So"
                    },
                    "RoleName": {},
                    "IamUserAccessToBilling": {},
                    "Tags": {
                        "shape": "Sr"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "CreateAccountStatus": {
                        "shape": "Sw"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/OOP2UD7VDJFKWUFTZFUZ7STTM4LLWJPV76CJRNZ5MXBWIA2UR5WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPR6RX27NXNYIHK33OWIICVP6PWWBGQJ6ETZ5YDQ6G5JFMGPGYIQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFTIWMQL3NSTXY3XUWG5FZTI4Z5IK37G4TRJHAFARVZTVKMSK5YQ/vendorv3-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V3VI5SJE52HKFVNI67OH5RV5NH4IAKRPAHF7BDZIO4SV5PBBHEJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QOJ4OEEEGHNHOKYTY3Q77WQFAXHY72QV3D7AAJERYUXFI6S7FYHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YXVAZ7XKBSIH6XYCSRZKYRQTCM7KFWOAF2IB2N4D4KVSLLZZKZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U6C57SPPR4WWIGDL5E3SR5OO4TYIRJWTK7BZPI3XDHGLXIKELREQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIPNH5SAQEREH4AL7JL22RJCLTPKBILVRZGMLK65UTWIIAAZFC7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74NRLGKF5ZSBF7O6NL633NV4VVVUBOP6UZQ4VL6PO5NXZ2GEWTBA/a279e9a20faae1cb597b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTJAWG2BRAT6ARRM4P4T62TSV7UVGTRIV25OHPPNKO6XFTV5J3VQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMBDSZGN45XRSRIO4VDPOJMZAKISL7TKTL5EFN52OJ6JJOR34K6Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYLNMCNTV46XAXTYMXV5HIGEMHQD7HXCWZYZHBNMEB3X2Y33DR3A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RNA65VYZUJQKYL235UGUTKRIYJOIXBB2EIFS63BGOQ7MTROU32A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PQLI3SV7VWEFBF657QFNNSFOUQXK4KS3YF6P6VYKFBX3JRORVRSQ/4c92a125b76102a65fe1c8dc33690ff2.js",
                "https://cdn.assets.as2.console.api.aws/AWSConsole-IAM-Widgets-Libraries.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZ2EPWTZ5TAX5TUI5L2LVOFBZUHZJWKDM44HKULB2PXO4GRBEHQA/vendor.js"
            ]
        },
        "CreateGovCloudAccount": {
            "input": {
                "type": "structure",
                "required": [
                    "Email",
                    "AccountName"
                ],
                "members": {
                    "Email": {
                        "shape": "Sn"
                    },
                    "AccountName": {
                        "shape": "So"
                    },
                    "RoleName": {},
                    "IamUserAccessToBilling": {},
                    "Tags": {
                        "shape": "Sr"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "CreateAccountStatus": {
                        "shape": "Sw"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/OOP2UD7VDJFKWUFTZFUZ7STTM4LLWJPV76CJRNZ5MXBWIA2UR5WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPR6RX27NXNYIHK33OWIICVP6PWWBGQJ6ETZ5YDQ6G5JFMGPGYIQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFTIWMQL3NSTXY3XUWG5FZTI4Z5IK37G4TRJHAFARVZTVKMSK5YQ/vendorv3-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V3VI5SJE52HKFVNI67OH5RV5NH4IAKRPAHF7BDZIO4SV5PBBHEJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QOJ4OEEEGHNHOKYTY3Q77WQFAXHY72QV3D7AAJERYUXFI6S7FYHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YXVAZ7XKBSIH6XYCSRZKYRQTCM7KFWOAF2IB2N4D4KVSLLZZKZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U6C57SPPR4WWIGDL5E3SR5OO4TYIRJWTK7BZPI3XDHGLXIKELREQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIPNH5SAQEREH4AL7JL22RJCLTPKBILVRZGMLK65UTWIIAAZFC7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74NRLGKF5ZSBF7O6NL633NV4VVVUBOP6UZQ4VL6PO5NXZ2GEWTBA/a279e9a20faae1cb597b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTJAWG2BRAT6ARRM4P4T62TSV7UVGTRIV25OHPPNKO6XFTV5J3VQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMBDSZGN45XRSRIO4VDPOJMZAKISL7TKTL5EFN52OJ6JJOR34K6Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYLNMCNTV46XAXTYMXV5HIGEMHQD7HXCWZYZHBNMEB3X2Y33DR3A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RNA65VYZUJQKYL235UGUTKRIYJOIXBB2EIFS63BGOQ7MTROU32A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PQLI3SV7VWEFBF657QFNNSFOUQXK4KS3YF6P6VYKFBX3JRORVRSQ/4c92a125b76102a65fe1c8dc33690ff2.js",
                "https://cdn.assets.as2.console.api.aws/AWSConsole-IAM-Widgets-Libraries.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZ2EPWTZ5TAX5TUI5L2LVOFBZUHZJWKDM44HKULB2PXO4GRBEHQA/vendor.js"
            ]
        },
        "CreateOrganization": {
            "input": {
                "type": "structure",
                "members": {
                    "FeatureSet": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Organization": {
                        "shape": "S16"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/OOP2UD7VDJFKWUFTZFUZ7STTM4LLWJPV76CJRNZ5MXBWIA2UR5WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPR6RX27NXNYIHK33OWIICVP6PWWBGQJ6ETZ5YDQ6G5JFMGPGYIQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFTIWMQL3NSTXY3XUWG5FZTI4Z5IK37G4TRJHAFARVZTVKMSK5YQ/vendorv3-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V3VI5SJE52HKFVNI67OH5RV5NH4IAKRPAHF7BDZIO4SV5PBBHEJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QOJ4OEEEGHNHOKYTY3Q77WQFAXHY72QV3D7AAJERYUXFI6S7FYHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YXVAZ7XKBSIH6XYCSRZKYRQTCM7KFWOAF2IB2N4D4KVSLLZZKZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U6C57SPPR4WWIGDL5E3SR5OO4TYIRJWTK7BZPI3XDHGLXIKELREQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIPNH5SAQEREH4AL7JL22RJCLTPKBILVRZGMLK65UTWIIAAZFC7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74NRLGKF5ZSBF7O6NL633NV4VVVUBOP6UZQ4VL6PO5NXZ2GEWTBA/a279e9a20faae1cb597b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTJAWG2BRAT6ARRM4P4T62TSV7UVGTRIV25OHPPNKO6XFTV5J3VQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMBDSZGN45XRSRIO4VDPOJMZAKISL7TKTL5EFN52OJ6JJOR34K6Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYLNMCNTV46XAXTYMXV5HIGEMHQD7HXCWZYZHBNMEB3X2Y33DR3A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RNA65VYZUJQKYL235UGUTKRIYJOIXBB2EIFS63BGOQ7MTROU32A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PQLI3SV7VWEFBF657QFNNSFOUQXK4KS3YF6P6VYKFBX3JRORVRSQ/4c92a125b76102a65fe1c8dc33690ff2.js",
                "https://cdn.assets.as2.console.api.aws/AWSConsole-IAM-Widgets-Libraries.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZ2EPWTZ5TAX5TUI5L2LVOFBZUHZJWKDM44HKULB2PXO4GRBEHQA/vendor.js"
            ]
        },
        "CreateOrganizationalUnit": {
            "input": {
                "type": "structure",
                "required": [
                    "ParentId",
                    "Name"
                ],
                "members": {
                    "ParentId": {},
                    "Name": {},
                    "Tags": {
                        "shape": "Sr"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "OrganizationalUnit": {
                        "shape": "S1i"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/OOP2UD7VDJFKWUFTZFUZ7STTM4LLWJPV76CJRNZ5MXBWIA2UR5WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPR6RX27NXNYIHK33OWIICVP6PWWBGQJ6ETZ5YDQ6G5JFMGPGYIQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFTIWMQL3NSTXY3XUWG5FZTI4Z5IK37G4TRJHAFARVZTVKMSK5YQ/vendorv3-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V3VI5SJE52HKFVNI67OH5RV5NH4IAKRPAHF7BDZIO4SV5PBBHEJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QOJ4OEEEGHNHOKYTY3Q77WQFAXHY72QV3D7AAJERYUXFI6S7FYHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YXVAZ7XKBSIH6XYCSRZKYRQTCM7KFWOAF2IB2N4D4KVSLLZZKZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U6C57SPPR4WWIGDL5E3SR5OO4TYIRJWTK7BZPI3XDHGLXIKELREQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIPNH5SAQEREH4AL7JL22RJCLTPKBILVRZGMLK65UTWIIAAZFC7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74NRLGKF5ZSBF7O6NL633NV4VVVUBOP6UZQ4VL6PO5NXZ2GEWTBA/a279e9a20faae1cb597b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTJAWG2BRAT6ARRM4P4T62TSV7UVGTRIV25OHPPNKO6XFTV5J3VQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMBDSZGN45XRSRIO4VDPOJMZAKISL7TKTL5EFN52OJ6JJOR34K6Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYLNMCNTV46XAXTYMXV5HIGEMHQD7HXCWZYZHBNMEB3X2Y33DR3A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RNA65VYZUJQKYL235UGUTKRIYJOIXBB2EIFS63BGOQ7MTROU32A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PQLI3SV7VWEFBF657QFNNSFOUQXK4KS3YF6P6VYKFBX3JRORVRSQ/4c92a125b76102a65fe1c8dc33690ff2.js",
                "https://cdn.assets.as2.console.api.aws/AWSConsole-IAM-Widgets-Libraries.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZ2EPWTZ5TAX5TUI5L2LVOFBZUHZJWKDM44HKULB2PXO4GRBEHQA/vendor.js"
            ]
        },
        "CreatePolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "Content",
                    "Description",
                    "Name",
                    "Type"
                ],
                "members": {
                    "Content": {},
                    "Description": {},
                    "Name": {},
                    "Type": {},
                    "Tags": {
                        "shape": "Sr"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Policy": {
                        "shape": "S1q"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/OOP2UD7VDJFKWUFTZFUZ7STTM4LLWJPV76CJRNZ5MXBWIA2UR5WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPR6RX27NXNYIHK33OWIICVP6PWWBGQJ6ETZ5YDQ6G5JFMGPGYIQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFTIWMQL3NSTXY3XUWG5FZTI4Z5IK37G4TRJHAFARVZTVKMSK5YQ/vendorv3-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V3VI5SJE52HKFVNI67OH5RV5NH4IAKRPAHF7BDZIO4SV5PBBHEJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QOJ4OEEEGHNHOKYTY3Q77WQFAXHY72QV3D7AAJERYUXFI6S7FYHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YXVAZ7XKBSIH6XYCSRZKYRQTCM7KFWOAF2IB2N4D4KVSLLZZKZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U6C57SPPR4WWIGDL5E3SR5OO4TYIRJWTK7BZPI3XDHGLXIKELREQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIPNH5SAQEREH4AL7JL22RJCLTPKBILVRZGMLK65UTWIIAAZFC7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74NRLGKF5ZSBF7O6NL633NV4VVVUBOP6UZQ4VL6PO5NXZ2GEWTBA/a279e9a20faae1cb597b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTJAWG2BRAT6ARRM4P4T62TSV7UVGTRIV25OHPPNKO6XFTV5J3VQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMBDSZGN45XRSRIO4VDPOJMZAKISL7TKTL5EFN52OJ6JJOR34K6Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYLNMCNTV46XAXTYMXV5HIGEMHQD7HXCWZYZHBNMEB3X2Y33DR3A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RNA65VYZUJQKYL235UGUTKRIYJOIXBB2EIFS63BGOQ7MTROU32A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PQLI3SV7VWEFBF657QFNNSFOUQXK4KS3YF6P6VYKFBX3JRORVRSQ/4c92a125b76102a65fe1c8dc33690ff2.js",
                "https://cdn.assets.as2.console.api.aws/AWSConsole-IAM-Widgets-Libraries.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZ2EPWTZ5TAX5TUI5L2LVOFBZUHZJWKDM44HKULB2PXO4GRBEHQA/vendor.js"
            ]
        },
        "DeclineHandshake": {
            "input": {
                "type": "structure",
                "required": [
                    "HandshakeId"
                ],
                "members": {
                    "HandshakeId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Handshake": {
                        "shape": "S4"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/OOP2UD7VDJFKWUFTZFUZ7STTM4LLWJPV76CJRNZ5MXBWIA2UR5WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPR6RX27NXNYIHK33OWIICVP6PWWBGQJ6ETZ5YDQ6G5JFMGPGYIQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFTIWMQL3NSTXY3XUWG5FZTI4Z5IK37G4TRJHAFARVZTVKMSK5YQ/vendorv3-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V3VI5SJE52HKFVNI67OH5RV5NH4IAKRPAHF7BDZIO4SV5PBBHEJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QOJ4OEEEGHNHOKYTY3Q77WQFAXHY72QV3D7AAJERYUXFI6S7FYHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YXVAZ7XKBSIH6XYCSRZKYRQTCM7KFWOAF2IB2N4D4KVSLLZZKZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U6C57SPPR4WWIGDL5E3SR5OO4TYIRJWTK7BZPI3XDHGLXIKELREQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIPNH5SAQEREH4AL7JL22RJCLTPKBILVRZGMLK65UTWIIAAZFC7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74NRLGKF5ZSBF7O6NL633NV4VVVUBOP6UZQ4VL6PO5NXZ2GEWTBA/a279e9a20faae1cb597b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTJAWG2BRAT6ARRM4P4T62TSV7UVGTRIV25OHPPNKO6XFTV5J3VQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMBDSZGN45XRSRIO4VDPOJMZAKISL7TKTL5EFN52OJ6JJOR34K6Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYLNMCNTV46XAXTYMXV5HIGEMHQD7HXCWZYZHBNMEB3X2Y33DR3A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RNA65VYZUJQKYL235UGUTKRIYJOIXBB2EIFS63BGOQ7MTROU32A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PQLI3SV7VWEFBF657QFNNSFOUQXK4KS3YF6P6VYKFBX3JRORVRSQ/4c92a125b76102a65fe1c8dc33690ff2.js",
                "https://cdn.assets.as2.console.api.aws/AWSConsole-IAM-Widgets-Libraries.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZ2EPWTZ5TAX5TUI5L2LVOFBZUHZJWKDM44HKULB2PXO4GRBEHQA/vendor.js"
            ]
        },
        "DeleteOrganization": {
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/OOP2UD7VDJFKWUFTZFUZ7STTM4LLWJPV76CJRNZ5MXBWIA2UR5WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPR6RX27NXNYIHK33OWIICVP6PWWBGQJ6ETZ5YDQ6G5JFMGPGYIQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFTIWMQL3NSTXY3XUWG5FZTI4Z5IK37G4TRJHAFARVZTVKMSK5YQ/vendorv3-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V3VI5SJE52HKFVNI67OH5RV5NH4IAKRPAHF7BDZIO4SV5PBBHEJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QOJ4OEEEGHNHOKYTY3Q77WQFAXHY72QV3D7AAJERYUXFI6S7FYHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YXVAZ7XKBSIH6XYCSRZKYRQTCM7KFWOAF2IB2N4D4KVSLLZZKZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U6C57SPPR4WWIGDL5E3SR5OO4TYIRJWTK7BZPI3XDHGLXIKELREQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIPNH5SAQEREH4AL7JL22RJCLTPKBILVRZGMLK65UTWIIAAZFC7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74NRLGKF5ZSBF7O6NL633NV4VVVUBOP6UZQ4VL6PO5NXZ2GEWTBA/a279e9a20faae1cb597b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTJAWG2BRAT6ARRM4P4T62TSV7UVGTRIV25OHPPNKO6XFTV5J3VQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMBDSZGN45XRSRIO4VDPOJMZAKISL7TKTL5EFN52OJ6JJOR34K6Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYLNMCNTV46XAXTYMXV5HIGEMHQD7HXCWZYZHBNMEB3X2Y33DR3A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RNA65VYZUJQKYL235UGUTKRIYJOIXBB2EIFS63BGOQ7MTROU32A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PQLI3SV7VWEFBF657QFNNSFOUQXK4KS3YF6P6VYKFBX3JRORVRSQ/4c92a125b76102a65fe1c8dc33690ff2.js",
                "https://cdn.assets.as2.console.api.aws/AWSConsole-IAM-Widgets-Libraries.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZ2EPWTZ5TAX5TUI5L2LVOFBZUHZJWKDM44HKULB2PXO4GRBEHQA/vendor.js"
            ]
        },
        "DeleteOrganizationalUnit": {
            "input": {
                "type": "structure",
                "required": [
                    "OrganizationalUnitId"
                ],
                "members": {
                    "OrganizationalUnitId": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/OOP2UD7VDJFKWUFTZFUZ7STTM4LLWJPV76CJRNZ5MXBWIA2UR5WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPR6RX27NXNYIHK33OWIICVP6PWWBGQJ6ETZ5YDQ6G5JFMGPGYIQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFTIWMQL3NSTXY3XUWG5FZTI4Z5IK37G4TRJHAFARVZTVKMSK5YQ/vendorv3-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V3VI5SJE52HKFVNI67OH5RV5NH4IAKRPAHF7BDZIO4SV5PBBHEJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QOJ4OEEEGHNHOKYTY3Q77WQFAXHY72QV3D7AAJERYUXFI6S7FYHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YXVAZ7XKBSIH6XYCSRZKYRQTCM7KFWOAF2IB2N4D4KVSLLZZKZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U6C57SPPR4WWIGDL5E3SR5OO4TYIRJWTK7BZPI3XDHGLXIKELREQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIPNH5SAQEREH4AL7JL22RJCLTPKBILVRZGMLK65UTWIIAAZFC7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74NRLGKF5ZSBF7O6NL633NV4VVVUBOP6UZQ4VL6PO5NXZ2GEWTBA/a279e9a20faae1cb597b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTJAWG2BRAT6ARRM4P4T62TSV7UVGTRIV25OHPPNKO6XFTV5J3VQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMBDSZGN45XRSRIO4VDPOJMZAKISL7TKTL5EFN52OJ6JJOR34K6Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYLNMCNTV46XAXTYMXV5HIGEMHQD7HXCWZYZHBNMEB3X2Y33DR3A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RNA65VYZUJQKYL235UGUTKRIYJOIXBB2EIFS63BGOQ7MTROU32A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PQLI3SV7VWEFBF657QFNNSFOUQXK4KS3YF6P6VYKFBX3JRORVRSQ/4c92a125b76102a65fe1c8dc33690ff2.js",
                "https://cdn.assets.as2.console.api.aws/AWSConsole-IAM-Widgets-Libraries.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZ2EPWTZ5TAX5TUI5L2LVOFBZUHZJWKDM44HKULB2PXO4GRBEHQA/vendor.js"
            ]
        },
        "DeletePolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "PolicyId"
                ],
                "members": {
                    "PolicyId": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/OOP2UD7VDJFKWUFTZFUZ7STTM4LLWJPV76CJRNZ5MXBWIA2UR5WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPR6RX27NXNYIHK33OWIICVP6PWWBGQJ6ETZ5YDQ6G5JFMGPGYIQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFTIWMQL3NSTXY3XUWG5FZTI4Z5IK37G4TRJHAFARVZTVKMSK5YQ/vendorv3-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V3VI5SJE52HKFVNI67OH5RV5NH4IAKRPAHF7BDZIO4SV5PBBHEJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QOJ4OEEEGHNHOKYTY3Q77WQFAXHY72QV3D7AAJERYUXFI6S7FYHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YXVAZ7XKBSIH6XYCSRZKYRQTCM7KFWOAF2IB2N4D4KVSLLZZKZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U6C57SPPR4WWIGDL5E3SR5OO4TYIRJWTK7BZPI3XDHGLXIKELREQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIPNH5SAQEREH4AL7JL22RJCLTPKBILVRZGMLK65UTWIIAAZFC7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74NRLGKF5ZSBF7O6NL633NV4VVVUBOP6UZQ4VL6PO5NXZ2GEWTBA/a279e9a20faae1cb597b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTJAWG2BRAT6ARRM4P4T62TSV7UVGTRIV25OHPPNKO6XFTV5J3VQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMBDSZGN45XRSRIO4VDPOJMZAKISL7TKTL5EFN52OJ6JJOR34K6Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYLNMCNTV46XAXTYMXV5HIGEMHQD7HXCWZYZHBNMEB3X2Y33DR3A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RNA65VYZUJQKYL235UGUTKRIYJOIXBB2EIFS63BGOQ7MTROU32A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PQLI3SV7VWEFBF657QFNNSFOUQXK4KS3YF6P6VYKFBX3JRORVRSQ/4c92a125b76102a65fe1c8dc33690ff2.js",
                "https://cdn.assets.as2.console.api.aws/AWSConsole-IAM-Widgets-Libraries.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZ2EPWTZ5TAX5TUI5L2LVOFBZUHZJWKDM44HKULB2PXO4GRBEHQA/vendor.js"
            ]
        },
        "DeregisterDelegatedAdministrator": {
            "input": {
                "type": "structure",
                "required": [
                    "AccountId",
                    "ServicePrincipal"
                ],
                "members": {
                    "AccountId": {},
                    "ServicePrincipal": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/OOP2UD7VDJFKWUFTZFUZ7STTM4LLWJPV76CJRNZ5MXBWIA2UR5WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPR6RX27NXNYIHK33OWIICVP6PWWBGQJ6ETZ5YDQ6G5JFMGPGYIQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFTIWMQL3NSTXY3XUWG5FZTI4Z5IK37G4TRJHAFARVZTVKMSK5YQ/vendorv3-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V3VI5SJE52HKFVNI67OH5RV5NH4IAKRPAHF7BDZIO4SV5PBBHEJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QOJ4OEEEGHNHOKYTY3Q77WQFAXHY72QV3D7AAJERYUXFI6S7FYHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YXVAZ7XKBSIH6XYCSRZKYRQTCM7KFWOAF2IB2N4D4KVSLLZZKZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U6C57SPPR4WWIGDL5E3SR5OO4TYIRJWTK7BZPI3XDHGLXIKELREQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIPNH5SAQEREH4AL7JL22RJCLTPKBILVRZGMLK65UTWIIAAZFC7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74NRLGKF5ZSBF7O6NL633NV4VVVUBOP6UZQ4VL6PO5NXZ2GEWTBA/a279e9a20faae1cb597b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTJAWG2BRAT6ARRM4P4T62TSV7UVGTRIV25OHPPNKO6XFTV5J3VQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMBDSZGN45XRSRIO4VDPOJMZAKISL7TKTL5EFN52OJ6JJOR34K6Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYLNMCNTV46XAXTYMXV5HIGEMHQD7HXCWZYZHBNMEB3X2Y33DR3A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RNA65VYZUJQKYL235UGUTKRIYJOIXBB2EIFS63BGOQ7MTROU32A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PQLI3SV7VWEFBF657QFNNSFOUQXK4KS3YF6P6VYKFBX3JRORVRSQ/4c92a125b76102a65fe1c8dc33690ff2.js",
                "https://cdn.assets.as2.console.api.aws/AWSConsole-IAM-Widgets-Libraries.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZ2EPWTZ5TAX5TUI5L2LVOFBZUHZJWKDM44HKULB2PXO4GRBEHQA/vendor.js"
            ]
        },
        "DescribeAccount": {
            "input": {
                "type": "structure",
                "required": [
                    "AccountId"
                ],
                "members": {
                    "AccountId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Account": {
                        "shape": "S22"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/OOP2UD7VDJFKWUFTZFUZ7STTM4LLWJPV76CJRNZ5MXBWIA2UR5WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPR6RX27NXNYIHK33OWIICVP6PWWBGQJ6ETZ5YDQ6G5JFMGPGYIQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFTIWMQL3NSTXY3XUWG5FZTI4Z5IK37G4TRJHAFARVZTVKMSK5YQ/vendorv3-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V3VI5SJE52HKFVNI67OH5RV5NH4IAKRPAHF7BDZIO4SV5PBBHEJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QOJ4OEEEGHNHOKYTY3Q77WQFAXHY72QV3D7AAJERYUXFI6S7FYHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YXVAZ7XKBSIH6XYCSRZKYRQTCM7KFWOAF2IB2N4D4KVSLLZZKZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U6C57SPPR4WWIGDL5E3SR5OO4TYIRJWTK7BZPI3XDHGLXIKELREQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIPNH5SAQEREH4AL7JL22RJCLTPKBILVRZGMLK65UTWIIAAZFC7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74NRLGKF5ZSBF7O6NL633NV4VVVUBOP6UZQ4VL6PO5NXZ2GEWTBA/a279e9a20faae1cb597b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTJAWG2BRAT6ARRM4P4T62TSV7UVGTRIV25OHPPNKO6XFTV5J3VQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMBDSZGN45XRSRIO4VDPOJMZAKISL7TKTL5EFN52OJ6JJOR34K6Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYLNMCNTV46XAXTYMXV5HIGEMHQD7HXCWZYZHBNMEB3X2Y33DR3A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RNA65VYZUJQKYL235UGUTKRIYJOIXBB2EIFS63BGOQ7MTROU32A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PQLI3SV7VWEFBF657QFNNSFOUQXK4KS3YF6P6VYKFBX3JRORVRSQ/4c92a125b76102a65fe1c8dc33690ff2.js",
                "https://cdn.assets.as2.console.api.aws/AWSConsole-IAM-Widgets-Libraries.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZ2EPWTZ5TAX5TUI5L2LVOFBZUHZJWKDM44HKULB2PXO4GRBEHQA/vendor.js"
            ]
        },
        "DescribeCreateAccountStatus": {
            "input": {
                "type": "structure",
                "required": [
                    "CreateAccountRequestId"
                ],
                "members": {
                    "CreateAccountRequestId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "CreateAccountStatus": {
                        "shape": "Sw"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/OOP2UD7VDJFKWUFTZFUZ7STTM4LLWJPV76CJRNZ5MXBWIA2UR5WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPR6RX27NXNYIHK33OWIICVP6PWWBGQJ6ETZ5YDQ6G5JFMGPGYIQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFTIWMQL3NSTXY3XUWG5FZTI4Z5IK37G4TRJHAFARVZTVKMSK5YQ/vendorv3-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V3VI5SJE52HKFVNI67OH5RV5NH4IAKRPAHF7BDZIO4SV5PBBHEJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QOJ4OEEEGHNHOKYTY3Q77WQFAXHY72QV3D7AAJERYUXFI6S7FYHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YXVAZ7XKBSIH6XYCSRZKYRQTCM7KFWOAF2IB2N4D4KVSLLZZKZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U6C57SPPR4WWIGDL5E3SR5OO4TYIRJWTK7BZPI3XDHGLXIKELREQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIPNH5SAQEREH4AL7JL22RJCLTPKBILVRZGMLK65UTWIIAAZFC7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74NRLGKF5ZSBF7O6NL633NV4VVVUBOP6UZQ4VL6PO5NXZ2GEWTBA/a279e9a20faae1cb597b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTJAWG2BRAT6ARRM4P4T62TSV7UVGTRIV25OHPPNKO6XFTV5J3VQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMBDSZGN45XRSRIO4VDPOJMZAKISL7TKTL5EFN52OJ6JJOR34K6Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYLNMCNTV46XAXTYMXV5HIGEMHQD7HXCWZYZHBNMEB3X2Y33DR3A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RNA65VYZUJQKYL235UGUTKRIYJOIXBB2EIFS63BGOQ7MTROU32A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PQLI3SV7VWEFBF657QFNNSFOUQXK4KS3YF6P6VYKFBX3JRORVRSQ/4c92a125b76102a65fe1c8dc33690ff2.js",
                "https://cdn.assets.as2.console.api.aws/AWSConsole-IAM-Widgets-Libraries.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZ2EPWTZ5TAX5TUI5L2LVOFBZUHZJWKDM44HKULB2PXO4GRBEHQA/vendor.js"
            ]
        },
        "DescribeEffectivePolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "PolicyType"
                ],
                "members": {
                    "PolicyType": {},
                    "TargetId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "EffectivePolicy": {
                        "type": "structure",
                        "members": {
                            "PolicyContent": {},
                            "LastUpdatedTimestamp": {
                                "type": "timestamp"
                            },
                            "TargetId": {},
                            "PolicyType": {}
                        }
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/OOP2UD7VDJFKWUFTZFUZ7STTM4LLWJPV76CJRNZ5MXBWIA2UR5WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPR6RX27NXNYIHK33OWIICVP6PWWBGQJ6ETZ5YDQ6G5JFMGPGYIQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFTIWMQL3NSTXY3XUWG5FZTI4Z5IK37G4TRJHAFARVZTVKMSK5YQ/vendorv3-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V3VI5SJE52HKFVNI67OH5RV5NH4IAKRPAHF7BDZIO4SV5PBBHEJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QOJ4OEEEGHNHOKYTY3Q77WQFAXHY72QV3D7AAJERYUXFI6S7FYHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YXVAZ7XKBSIH6XYCSRZKYRQTCM7KFWOAF2IB2N4D4KVSLLZZKZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U6C57SPPR4WWIGDL5E3SR5OO4TYIRJWTK7BZPI3XDHGLXIKELREQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIPNH5SAQEREH4AL7JL22RJCLTPKBILVRZGMLK65UTWIIAAZFC7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74NRLGKF5ZSBF7O6NL633NV4VVVUBOP6UZQ4VL6PO5NXZ2GEWTBA/a279e9a20faae1cb597b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTJAWG2BRAT6ARRM4P4T62TSV7UVGTRIV25OHPPNKO6XFTV5J3VQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMBDSZGN45XRSRIO4VDPOJMZAKISL7TKTL5EFN52OJ6JJOR34K6Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYLNMCNTV46XAXTYMXV5HIGEMHQD7HXCWZYZHBNMEB3X2Y33DR3A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RNA65VYZUJQKYL235UGUTKRIYJOIXBB2EIFS63BGOQ7MTROU32A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PQLI3SV7VWEFBF657QFNNSFOUQXK4KS3YF6P6VYKFBX3JRORVRSQ/4c92a125b76102a65fe1c8dc33690ff2.js",
                "https://cdn.assets.as2.console.api.aws/AWSConsole-IAM-Widgets-Libraries.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZ2EPWTZ5TAX5TUI5L2LVOFBZUHZJWKDM44HKULB2PXO4GRBEHQA/vendor.js"
            ]
        },
        "DescribeHandshake": {
            "input": {
                "type": "structure",
                "required": [
                    "HandshakeId"
                ],
                "members": {
                    "HandshakeId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Handshake": {
                        "shape": "S4"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/OOP2UD7VDJFKWUFTZFUZ7STTM4LLWJPV76CJRNZ5MXBWIA2UR5WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPR6RX27NXNYIHK33OWIICVP6PWWBGQJ6ETZ5YDQ6G5JFMGPGYIQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFTIWMQL3NSTXY3XUWG5FZTI4Z5IK37G4TRJHAFARVZTVKMSK5YQ/vendorv3-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V3VI5SJE52HKFVNI67OH5RV5NH4IAKRPAHF7BDZIO4SV5PBBHEJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QOJ4OEEEGHNHOKYTY3Q77WQFAXHY72QV3D7AAJERYUXFI6S7FYHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YXVAZ7XKBSIH6XYCSRZKYRQTCM7KFWOAF2IB2N4D4KVSLLZZKZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U6C57SPPR4WWIGDL5E3SR5OO4TYIRJWTK7BZPI3XDHGLXIKELREQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIPNH5SAQEREH4AL7JL22RJCLTPKBILVRZGMLK65UTWIIAAZFC7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74NRLGKF5ZSBF7O6NL633NV4VVVUBOP6UZQ4VL6PO5NXZ2GEWTBA/a279e9a20faae1cb597b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTJAWG2BRAT6ARRM4P4T62TSV7UVGTRIV25OHPPNKO6XFTV5J3VQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMBDSZGN45XRSRIO4VDPOJMZAKISL7TKTL5EFN52OJ6JJOR34K6Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYLNMCNTV46XAXTYMXV5HIGEMHQD7HXCWZYZHBNMEB3X2Y33DR3A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RNA65VYZUJQKYL235UGUTKRIYJOIXBB2EIFS63BGOQ7MTROU32A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PQLI3SV7VWEFBF657QFNNSFOUQXK4KS3YF6P6VYKFBX3JRORVRSQ/4c92a125b76102a65fe1c8dc33690ff2.js",
                "https://cdn.assets.as2.console.api.aws/AWSConsole-IAM-Widgets-Libraries.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZ2EPWTZ5TAX5TUI5L2LVOFBZUHZJWKDM44HKULB2PXO4GRBEHQA/vendor.js"
            ]
        },
        "DescribeOrganization": {
            "output": {
                "type": "structure",
                "members": {
                    "Organization": {
                        "shape": "S16"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/OOP2UD7VDJFKWUFTZFUZ7STTM4LLWJPV76CJRNZ5MXBWIA2UR5WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPR6RX27NXNYIHK33OWIICVP6PWWBGQJ6ETZ5YDQ6G5JFMGPGYIQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFTIWMQL3NSTXY3XUWG5FZTI4Z5IK37G4TRJHAFARVZTVKMSK5YQ/vendorv3-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V3VI5SJE52HKFVNI67OH5RV5NH4IAKRPAHF7BDZIO4SV5PBBHEJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QOJ4OEEEGHNHOKYTY3Q77WQFAXHY72QV3D7AAJERYUXFI6S7FYHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YXVAZ7XKBSIH6XYCSRZKYRQTCM7KFWOAF2IB2N4D4KVSLLZZKZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U6C57SPPR4WWIGDL5E3SR5OO4TYIRJWTK7BZPI3XDHGLXIKELREQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIPNH5SAQEREH4AL7JL22RJCLTPKBILVRZGMLK65UTWIIAAZFC7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74NRLGKF5ZSBF7O6NL633NV4VVVUBOP6UZQ4VL6PO5NXZ2GEWTBA/a279e9a20faae1cb597b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTJAWG2BRAT6ARRM4P4T62TSV7UVGTRIV25OHPPNKO6XFTV5J3VQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMBDSZGN45XRSRIO4VDPOJMZAKISL7TKTL5EFN52OJ6JJOR34K6Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYLNMCNTV46XAXTYMXV5HIGEMHQD7HXCWZYZHBNMEB3X2Y33DR3A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RNA65VYZUJQKYL235UGUTKRIYJOIXBB2EIFS63BGOQ7MTROU32A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PQLI3SV7VWEFBF657QFNNSFOUQXK4KS3YF6P6VYKFBX3JRORVRSQ/4c92a125b76102a65fe1c8dc33690ff2.js",
                "https://cdn.assets.as2.console.api.aws/AWSConsole-IAM-Widgets-Libraries.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZ2EPWTZ5TAX5TUI5L2LVOFBZUHZJWKDM44HKULB2PXO4GRBEHQA/vendor.js"
            ]
        },
        "DescribeOrganizationalUnit": {
            "input": {
                "type": "structure",
                "required": [
                    "OrganizationalUnitId"
                ],
                "members": {
                    "OrganizationalUnitId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "OrganizationalUnit": {
                        "shape": "S1i"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/OOP2UD7VDJFKWUFTZFUZ7STTM4LLWJPV76CJRNZ5MXBWIA2UR5WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPR6RX27NXNYIHK33OWIICVP6PWWBGQJ6ETZ5YDQ6G5JFMGPGYIQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFTIWMQL3NSTXY3XUWG5FZTI4Z5IK37G4TRJHAFARVZTVKMSK5YQ/vendorv3-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V3VI5SJE52HKFVNI67OH5RV5NH4IAKRPAHF7BDZIO4SV5PBBHEJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QOJ4OEEEGHNHOKYTY3Q77WQFAXHY72QV3D7AAJERYUXFI6S7FYHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YXVAZ7XKBSIH6XYCSRZKYRQTCM7KFWOAF2IB2N4D4KVSLLZZKZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U6C57SPPR4WWIGDL5E3SR5OO4TYIRJWTK7BZPI3XDHGLXIKELREQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIPNH5SAQEREH4AL7JL22RJCLTPKBILVRZGMLK65UTWIIAAZFC7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74NRLGKF5ZSBF7O6NL633NV4VVVUBOP6UZQ4VL6PO5NXZ2GEWTBA/a279e9a20faae1cb597b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTJAWG2BRAT6ARRM4P4T62TSV7UVGTRIV25OHPPNKO6XFTV5J3VQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMBDSZGN45XRSRIO4VDPOJMZAKISL7TKTL5EFN52OJ6JJOR34K6Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYLNMCNTV46XAXTYMXV5HIGEMHQD7HXCWZYZHBNMEB3X2Y33DR3A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RNA65VYZUJQKYL235UGUTKRIYJOIXBB2EIFS63BGOQ7MTROU32A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PQLI3SV7VWEFBF657QFNNSFOUQXK4KS3YF6P6VYKFBX3JRORVRSQ/4c92a125b76102a65fe1c8dc33690ff2.js",
                "https://cdn.assets.as2.console.api.aws/AWSConsole-IAM-Widgets-Libraries.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZ2EPWTZ5TAX5TUI5L2LVOFBZUHZJWKDM44HKULB2PXO4GRBEHQA/vendor.js"
            ]
        },
        "DescribePolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "PolicyId"
                ],
                "members": {
                    "PolicyId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Policy": {
                        "shape": "S1q"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/OOP2UD7VDJFKWUFTZFUZ7STTM4LLWJPV76CJRNZ5MXBWIA2UR5WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPR6RX27NXNYIHK33OWIICVP6PWWBGQJ6ETZ5YDQ6G5JFMGPGYIQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFTIWMQL3NSTXY3XUWG5FZTI4Z5IK37G4TRJHAFARVZTVKMSK5YQ/vendorv3-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V3VI5SJE52HKFVNI67OH5RV5NH4IAKRPAHF7BDZIO4SV5PBBHEJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QOJ4OEEEGHNHOKYTY3Q77WQFAXHY72QV3D7AAJERYUXFI6S7FYHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YXVAZ7XKBSIH6XYCSRZKYRQTCM7KFWOAF2IB2N4D4KVSLLZZKZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U6C57SPPR4WWIGDL5E3SR5OO4TYIRJWTK7BZPI3XDHGLXIKELREQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIPNH5SAQEREH4AL7JL22RJCLTPKBILVRZGMLK65UTWIIAAZFC7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74NRLGKF5ZSBF7O6NL633NV4VVVUBOP6UZQ4VL6PO5NXZ2GEWTBA/a279e9a20faae1cb597b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTJAWG2BRAT6ARRM4P4T62TSV7UVGTRIV25OHPPNKO6XFTV5J3VQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMBDSZGN45XRSRIO4VDPOJMZAKISL7TKTL5EFN52OJ6JJOR34K6Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYLNMCNTV46XAXTYMXV5HIGEMHQD7HXCWZYZHBNMEB3X2Y33DR3A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RNA65VYZUJQKYL235UGUTKRIYJOIXBB2EIFS63BGOQ7MTROU32A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PQLI3SV7VWEFBF657QFNNSFOUQXK4KS3YF6P6VYKFBX3JRORVRSQ/4c92a125b76102a65fe1c8dc33690ff2.js",
                "https://cdn.assets.as2.console.api.aws/AWSConsole-IAM-Widgets-Libraries.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZ2EPWTZ5TAX5TUI5L2LVOFBZUHZJWKDM44HKULB2PXO4GRBEHQA/vendor.js"
            ]
        },
        "DetachPolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "PolicyId",
                    "TargetId"
                ],
                "members": {
                    "PolicyId": {},
                    "TargetId": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/OOP2UD7VDJFKWUFTZFUZ7STTM4LLWJPV76CJRNZ5MXBWIA2UR5WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPR6RX27NXNYIHK33OWIICVP6PWWBGQJ6ETZ5YDQ6G5JFMGPGYIQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFTIWMQL3NSTXY3XUWG5FZTI4Z5IK37G4TRJHAFARVZTVKMSK5YQ/vendorv3-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V3VI5SJE52HKFVNI67OH5RV5NH4IAKRPAHF7BDZIO4SV5PBBHEJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QOJ4OEEEGHNHOKYTY3Q77WQFAXHY72QV3D7AAJERYUXFI6S7FYHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YXVAZ7XKBSIH6XYCSRZKYRQTCM7KFWOAF2IB2N4D4KVSLLZZKZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U6C57SPPR4WWIGDL5E3SR5OO4TYIRJWTK7BZPI3XDHGLXIKELREQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIPNH5SAQEREH4AL7JL22RJCLTPKBILVRZGMLK65UTWIIAAZFC7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74NRLGKF5ZSBF7O6NL633NV4VVVUBOP6UZQ4VL6PO5NXZ2GEWTBA/a279e9a20faae1cb597b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTJAWG2BRAT6ARRM4P4T62TSV7UVGTRIV25OHPPNKO6XFTV5J3VQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMBDSZGN45XRSRIO4VDPOJMZAKISL7TKTL5EFN52OJ6JJOR34K6Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYLNMCNTV46XAXTYMXV5HIGEMHQD7HXCWZYZHBNMEB3X2Y33DR3A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RNA65VYZUJQKYL235UGUTKRIYJOIXBB2EIFS63BGOQ7MTROU32A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PQLI3SV7VWEFBF657QFNNSFOUQXK4KS3YF6P6VYKFBX3JRORVRSQ/4c92a125b76102a65fe1c8dc33690ff2.js",
                "https://cdn.assets.as2.console.api.aws/AWSConsole-IAM-Widgets-Libraries.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZ2EPWTZ5TAX5TUI5L2LVOFBZUHZJWKDM44HKULB2PXO4GRBEHQA/vendor.js"
            ]
        },
        "DisableAWSServiceAccess": {
            "input": {
                "type": "structure",
                "required": [
                    "ServicePrincipal"
                ],
                "members": {
                    "ServicePrincipal": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/OOP2UD7VDJFKWUFTZFUZ7STTM4LLWJPV76CJRNZ5MXBWIA2UR5WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPR6RX27NXNYIHK33OWIICVP6PWWBGQJ6ETZ5YDQ6G5JFMGPGYIQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFTIWMQL3NSTXY3XUWG5FZTI4Z5IK37G4TRJHAFARVZTVKMSK5YQ/vendorv3-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V3VI5SJE52HKFVNI67OH5RV5NH4IAKRPAHF7BDZIO4SV5PBBHEJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QOJ4OEEEGHNHOKYTY3Q77WQFAXHY72QV3D7AAJERYUXFI6S7FYHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YXVAZ7XKBSIH6XYCSRZKYRQTCM7KFWOAF2IB2N4D4KVSLLZZKZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U6C57SPPR4WWIGDL5E3SR5OO4TYIRJWTK7BZPI3XDHGLXIKELREQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIPNH5SAQEREH4AL7JL22RJCLTPKBILVRZGMLK65UTWIIAAZFC7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74NRLGKF5ZSBF7O6NL633NV4VVVUBOP6UZQ4VL6PO5NXZ2GEWTBA/a279e9a20faae1cb597b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTJAWG2BRAT6ARRM4P4T62TSV7UVGTRIV25OHPPNKO6XFTV5J3VQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMBDSZGN45XRSRIO4VDPOJMZAKISL7TKTL5EFN52OJ6JJOR34K6Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYLNMCNTV46XAXTYMXV5HIGEMHQD7HXCWZYZHBNMEB3X2Y33DR3A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RNA65VYZUJQKYL235UGUTKRIYJOIXBB2EIFS63BGOQ7MTROU32A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PQLI3SV7VWEFBF657QFNNSFOUQXK4KS3YF6P6VYKFBX3JRORVRSQ/4c92a125b76102a65fe1c8dc33690ff2.js",
                "https://cdn.assets.as2.console.api.aws/AWSConsole-IAM-Widgets-Libraries.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZ2EPWTZ5TAX5TUI5L2LVOFBZUHZJWKDM44HKULB2PXO4GRBEHQA/vendor.js"
            ]
        },
        "DisablePolicyType": {
            "input": {
                "type": "structure",
                "required": [
                    "RootId",
                    "PolicyType"
                ],
                "members": {
                    "RootId": {},
                    "PolicyType": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Root": {
                        "shape": "S2n"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/OOP2UD7VDJFKWUFTZFUZ7STTM4LLWJPV76CJRNZ5MXBWIA2UR5WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPR6RX27NXNYIHK33OWIICVP6PWWBGQJ6ETZ5YDQ6G5JFMGPGYIQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFTIWMQL3NSTXY3XUWG5FZTI4Z5IK37G4TRJHAFARVZTVKMSK5YQ/vendorv3-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V3VI5SJE52HKFVNI67OH5RV5NH4IAKRPAHF7BDZIO4SV5PBBHEJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QOJ4OEEEGHNHOKYTY3Q77WQFAXHY72QV3D7AAJERYUXFI6S7FYHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YXVAZ7XKBSIH6XYCSRZKYRQTCM7KFWOAF2IB2N4D4KVSLLZZKZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U6C57SPPR4WWIGDL5E3SR5OO4TYIRJWTK7BZPI3XDHGLXIKELREQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIPNH5SAQEREH4AL7JL22RJCLTPKBILVRZGMLK65UTWIIAAZFC7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74NRLGKF5ZSBF7O6NL633NV4VVVUBOP6UZQ4VL6PO5NXZ2GEWTBA/a279e9a20faae1cb597b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTJAWG2BRAT6ARRM4P4T62TSV7UVGTRIV25OHPPNKO6XFTV5J3VQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMBDSZGN45XRSRIO4VDPOJMZAKISL7TKTL5EFN52OJ6JJOR34K6Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYLNMCNTV46XAXTYMXV5HIGEMHQD7HXCWZYZHBNMEB3X2Y33DR3A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RNA65VYZUJQKYL235UGUTKRIYJOIXBB2EIFS63BGOQ7MTROU32A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PQLI3SV7VWEFBF657QFNNSFOUQXK4KS3YF6P6VYKFBX3JRORVRSQ/4c92a125b76102a65fe1c8dc33690ff2.js",
                "https://cdn.assets.as2.console.api.aws/AWSConsole-IAM-Widgets-Libraries.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZ2EPWTZ5TAX5TUI5L2LVOFBZUHZJWKDM44HKULB2PXO4GRBEHQA/vendor.js"
            ]
        },
        "EnableAWSServiceAccess": {
            "input": {
                "type": "structure",
                "required": [
                    "ServicePrincipal"
                ],
                "members": {
                    "ServicePrincipal": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/OOP2UD7VDJFKWUFTZFUZ7STTM4LLWJPV76CJRNZ5MXBWIA2UR5WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPR6RX27NXNYIHK33OWIICVP6PWWBGQJ6ETZ5YDQ6G5JFMGPGYIQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFTIWMQL3NSTXY3XUWG5FZTI4Z5IK37G4TRJHAFARVZTVKMSK5YQ/vendorv3-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V3VI5SJE52HKFVNI67OH5RV5NH4IAKRPAHF7BDZIO4SV5PBBHEJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QOJ4OEEEGHNHOKYTY3Q77WQFAXHY72QV3D7AAJERYUXFI6S7FYHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YXVAZ7XKBSIH6XYCSRZKYRQTCM7KFWOAF2IB2N4D4KVSLLZZKZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U6C57SPPR4WWIGDL5E3SR5OO4TYIRJWTK7BZPI3XDHGLXIKELREQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIPNH5SAQEREH4AL7JL22RJCLTPKBILVRZGMLK65UTWIIAAZFC7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74NRLGKF5ZSBF7O6NL633NV4VVVUBOP6UZQ4VL6PO5NXZ2GEWTBA/a279e9a20faae1cb597b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTJAWG2BRAT6ARRM4P4T62TSV7UVGTRIV25OHPPNKO6XFTV5J3VQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMBDSZGN45XRSRIO4VDPOJMZAKISL7TKTL5EFN52OJ6JJOR34K6Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYLNMCNTV46XAXTYMXV5HIGEMHQD7HXCWZYZHBNMEB3X2Y33DR3A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RNA65VYZUJQKYL235UGUTKRIYJOIXBB2EIFS63BGOQ7MTROU32A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PQLI3SV7VWEFBF657QFNNSFOUQXK4KS3YF6P6VYKFBX3JRORVRSQ/4c92a125b76102a65fe1c8dc33690ff2.js",
                "https://cdn.assets.as2.console.api.aws/AWSConsole-IAM-Widgets-Libraries.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZ2EPWTZ5TAX5TUI5L2LVOFBZUHZJWKDM44HKULB2PXO4GRBEHQA/vendor.js"
            ]
        },
        "EnableAllFeatures": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "Handshake": {
                        "shape": "S4"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/OOP2UD7VDJFKWUFTZFUZ7STTM4LLWJPV76CJRNZ5MXBWIA2UR5WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPR6RX27NXNYIHK33OWIICVP6PWWBGQJ6ETZ5YDQ6G5JFMGPGYIQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFTIWMQL3NSTXY3XUWG5FZTI4Z5IK37G4TRJHAFARVZTVKMSK5YQ/vendorv3-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V3VI5SJE52HKFVNI67OH5RV5NH4IAKRPAHF7BDZIO4SV5PBBHEJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QOJ4OEEEGHNHOKYTY3Q77WQFAXHY72QV3D7AAJERYUXFI6S7FYHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YXVAZ7XKBSIH6XYCSRZKYRQTCM7KFWOAF2IB2N4D4KVSLLZZKZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U6C57SPPR4WWIGDL5E3SR5OO4TYIRJWTK7BZPI3XDHGLXIKELREQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIPNH5SAQEREH4AL7JL22RJCLTPKBILVRZGMLK65UTWIIAAZFC7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74NRLGKF5ZSBF7O6NL633NV4VVVUBOP6UZQ4VL6PO5NXZ2GEWTBA/a279e9a20faae1cb597b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTJAWG2BRAT6ARRM4P4T62TSV7UVGTRIV25OHPPNKO6XFTV5J3VQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMBDSZGN45XRSRIO4VDPOJMZAKISL7TKTL5EFN52OJ6JJOR34K6Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYLNMCNTV46XAXTYMXV5HIGEMHQD7HXCWZYZHBNMEB3X2Y33DR3A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RNA65VYZUJQKYL235UGUTKRIYJOIXBB2EIFS63BGOQ7MTROU32A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PQLI3SV7VWEFBF657QFNNSFOUQXK4KS3YF6P6VYKFBX3JRORVRSQ/4c92a125b76102a65fe1c8dc33690ff2.js",
                "https://cdn.assets.as2.console.api.aws/AWSConsole-IAM-Widgets-Libraries.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZ2EPWTZ5TAX5TUI5L2LVOFBZUHZJWKDM44HKULB2PXO4GRBEHQA/vendor.js"
            ]
        },
        "EnablePolicyType": {
            "input": {
                "type": "structure",
                "required": [
                    "RootId",
                    "PolicyType"
                ],
                "members": {
                    "RootId": {},
                    "PolicyType": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Root": {
                        "shape": "S2n"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/OOP2UD7VDJFKWUFTZFUZ7STTM4LLWJPV76CJRNZ5MXBWIA2UR5WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPR6RX27NXNYIHK33OWIICVP6PWWBGQJ6ETZ5YDQ6G5JFMGPGYIQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFTIWMQL3NSTXY3XUWG5FZTI4Z5IK37G4TRJHAFARVZTVKMSK5YQ/vendorv3-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V3VI5SJE52HKFVNI67OH5RV5NH4IAKRPAHF7BDZIO4SV5PBBHEJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QOJ4OEEEGHNHOKYTY3Q77WQFAXHY72QV3D7AAJERYUXFI6S7FYHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YXVAZ7XKBSIH6XYCSRZKYRQTCM7KFWOAF2IB2N4D4KVSLLZZKZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U6C57SPPR4WWIGDL5E3SR5OO4TYIRJWTK7BZPI3XDHGLXIKELREQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIPNH5SAQEREH4AL7JL22RJCLTPKBILVRZGMLK65UTWIIAAZFC7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74NRLGKF5ZSBF7O6NL633NV4VVVUBOP6UZQ4VL6PO5NXZ2GEWTBA/a279e9a20faae1cb597b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTJAWG2BRAT6ARRM4P4T62TSV7UVGTRIV25OHPPNKO6XFTV5J3VQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMBDSZGN45XRSRIO4VDPOJMZAKISL7TKTL5EFN52OJ6JJOR34K6Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYLNMCNTV46XAXTYMXV5HIGEMHQD7HXCWZYZHBNMEB3X2Y33DR3A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RNA65VYZUJQKYL235UGUTKRIYJOIXBB2EIFS63BGOQ7MTROU32A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PQLI3SV7VWEFBF657QFNNSFOUQXK4KS3YF6P6VYKFBX3JRORVRSQ/4c92a125b76102a65fe1c8dc33690ff2.js",
                "https://cdn.assets.as2.console.api.aws/AWSConsole-IAM-Widgets-Libraries.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZ2EPWTZ5TAX5TUI5L2LVOFBZUHZJWKDM44HKULB2PXO4GRBEHQA/vendor.js"
            ]
        },
        "InviteAccountToOrganization": {
            "input": {
                "type": "structure",
                "required": [
                    "Target"
                ],
                "members": {
                    "Target": {
                        "shape": "S7"
                    },
                    "Notes": {
                        "type": "string",
                        "sensitive": true
                    },
                    "Tags": {
                        "shape": "Sr"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Handshake": {
                        "shape": "S4"
[...]
