{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2016-11-28",
        "endpointPrefix": "organizations",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceAbbreviation": "Organizations",
        "serviceFullName": "AWS Organizations",
        "serviceId": "Organizations",
        "signatureVersion": "v4",
        "targetPrefix": "AWSOrganizationsV20161128",
        "uid": "organizations-2016-11-28",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/47CGZNPIWBVYAM7LTKQNBIXGQMTCKCXB7SAIJQNTIEDHFIQXSWKA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WE72N4Z66QS2LWHYIQXX3QZMOTDBOEJJ2YIBBAI7SL2OZOJ3EEYA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KFE2S2K5TO5ISBKMW4TIW2KLV4WYULGR4IOVXJ5WGJ4SOFXNBZEA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/V2ORBQGVAQUDITL335C7VY3BBSYJR5IQ55V67OQP23SYIKFISELA/index.en.v2.js",
            "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NQVNWQNX6JWK2MVJYFEUPIFFPA3QHO7QYUE52JUU3Q52YBXRJA6A/vendor.awssdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~253ae210.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/P4HP7BTELLUANSLKNSZNQY5FDIQYVZ4GWK4DACIVXXQ3SXFTHBTA/ta_polaris.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/23IGNLOBES2S2ELKOBYFGB2IBPQ5Y3VW2Z4RA67MGZOND27LX6YA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KLSS2OYZRSUNW4RHAAVNQ6EJ3QVBQXS6A553KD4EQ4MCKB3IENOQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GIXMQGGSFSCJQ3JHHMVFJVGB2JKQ67AW325SKD4OV2E4RCMMIISA/1c8190cae4e1c7bdd9b22059ca14eb9f.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RBUHQ7OO4JTA6X2SRDAO5SPZURFAOKS6IWX4GZYTMLCW6QGCPGHA/bundle.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/V4OE2P7HFO7P722UF6UYIKHX6E557AT3DGQWVCXXQCZ75IT4I42Q/4afd736081e2c0bd2e2dfa72821966d6.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AW2GZK52ZQA6A2MJYBQFUPJGF5SBEHNWVN3FZJ3AMNS25HTEL54A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
            "https://d29sfhxsuc7nqn.cloudfront.net/content/b4cda628-c142-42a0-8885-563c73c867ec/vendorv3.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WGJO2MOSR2UBOKJ7UUGBTP5JYK7BJHD2FDMMIWKZMJ4MPXBYS3DA/vendors.js"
        ]
    },
    "operations": {
        "AcceptHandshake": {
            "input": {
                "type": "structure",
                "required": [
                    "HandshakeId"
                ],
                "members": {
                    "HandshakeId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Handshake": {
                        "shape": "S4"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/47CGZNPIWBVYAM7LTKQNBIXGQMTCKCXB7SAIJQNTIEDHFIQXSWKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WE72N4Z66QS2LWHYIQXX3QZMOTDBOEJJ2YIBBAI7SL2OZOJ3EEYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFE2S2K5TO5ISBKMW4TIW2KLV4WYULGR4IOVXJ5WGJ4SOFXNBZEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2ORBQGVAQUDITL335C7VY3BBSYJR5IQ55V67OQP23SYIKFISELA/index.en.v2.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQVNWQNX6JWK2MVJYFEUPIFFPA3QHO7QYUE52JUU3Q52YBXRJA6A/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~253ae210.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4HP7BTELLUANSLKNSZNQY5FDIQYVZ4GWK4DACIVXXQ3SXFTHBTA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23IGNLOBES2S2ELKOBYFGB2IBPQ5Y3VW2Z4RA67MGZOND27LX6YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KLSS2OYZRSUNW4RHAAVNQ6EJ3QVBQXS6A553KD4EQ4MCKB3IENOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIXMQGGSFSCJQ3JHHMVFJVGB2JKQ67AW325SKD4OV2E4RCMMIISA/1c8190cae4e1c7bdd9b22059ca14eb9f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBUHQ7OO4JTA6X2SRDAO5SPZURFAOKS6IWX4GZYTMLCW6QGCPGHA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4OE2P7HFO7P722UF6UYIKHX6E557AT3DGQWVCXXQCZ75IT4I42Q/4afd736081e2c0bd2e2dfa72821966d6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AW2GZK52ZQA6A2MJYBQFUPJGF5SBEHNWVN3FZJ3AMNS25HTEL54A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/b4cda628-c142-42a0-8885-563c73c867ec/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJO2MOSR2UBOKJ7UUGBTP5JYK7BJHD2FDMMIWKZMJ4MPXBYS3DA/vendors.js"
            ]
        },
        "AttachPolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "PolicyId",
                    "TargetId"
                ],
                "members": {
                    "PolicyId": {},
                    "TargetId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/47CGZNPIWBVYAM7LTKQNBIXGQMTCKCXB7SAIJQNTIEDHFIQXSWKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WE72N4Z66QS2LWHYIQXX3QZMOTDBOEJJ2YIBBAI7SL2OZOJ3EEYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFE2S2K5TO5ISBKMW4TIW2KLV4WYULGR4IOVXJ5WGJ4SOFXNBZEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2ORBQGVAQUDITL335C7VY3BBSYJR5IQ55V67OQP23SYIKFISELA/index.en.v2.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQVNWQNX6JWK2MVJYFEUPIFFPA3QHO7QYUE52JUU3Q52YBXRJA6A/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~253ae210.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4HP7BTELLUANSLKNSZNQY5FDIQYVZ4GWK4DACIVXXQ3SXFTHBTA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23IGNLOBES2S2ELKOBYFGB2IBPQ5Y3VW2Z4RA67MGZOND27LX6YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KLSS2OYZRSUNW4RHAAVNQ6EJ3QVBQXS6A553KD4EQ4MCKB3IENOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIXMQGGSFSCJQ3JHHMVFJVGB2JKQ67AW325SKD4OV2E4RCMMIISA/1c8190cae4e1c7bdd9b22059ca14eb9f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBUHQ7OO4JTA6X2SRDAO5SPZURFAOKS6IWX4GZYTMLCW6QGCPGHA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4OE2P7HFO7P722UF6UYIKHX6E557AT3DGQWVCXXQCZ75IT4I42Q/4afd736081e2c0bd2e2dfa72821966d6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AW2GZK52ZQA6A2MJYBQFUPJGF5SBEHNWVN3FZJ3AMNS25HTEL54A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/b4cda628-c142-42a0-8885-563c73c867ec/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJO2MOSR2UBOKJ7UUGBTP5JYK7BJHD2FDMMIWKZMJ4MPXBYS3DA/vendors.js"
            ]
        },
        "CancelHandshake": {
            "input": {
                "type": "structure",
                "required": [
                    "HandshakeId"
                ],
                "members": {
                    "HandshakeId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Handshake": {
                        "shape": "S4"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/47CGZNPIWBVYAM7LTKQNBIXGQMTCKCXB7SAIJQNTIEDHFIQXSWKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WE72N4Z66QS2LWHYIQXX3QZMOTDBOEJJ2YIBBAI7SL2OZOJ3EEYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFE2S2K5TO5ISBKMW4TIW2KLV4WYULGR4IOVXJ5WGJ4SOFXNBZEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2ORBQGVAQUDITL335C7VY3BBSYJR5IQ55V67OQP23SYIKFISELA/index.en.v2.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQVNWQNX6JWK2MVJYFEUPIFFPA3QHO7QYUE52JUU3Q52YBXRJA6A/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~253ae210.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4HP7BTELLUANSLKNSZNQY5FDIQYVZ4GWK4DACIVXXQ3SXFTHBTA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23IGNLOBES2S2ELKOBYFGB2IBPQ5Y3VW2Z4RA67MGZOND27LX6YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KLSS2OYZRSUNW4RHAAVNQ6EJ3QVBQXS6A553KD4EQ4MCKB3IENOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIXMQGGSFSCJQ3JHHMVFJVGB2JKQ67AW325SKD4OV2E4RCMMIISA/1c8190cae4e1c7bdd9b22059ca14eb9f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBUHQ7OO4JTA6X2SRDAO5SPZURFAOKS6IWX4GZYTMLCW6QGCPGHA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4OE2P7HFO7P722UF6UYIKHX6E557AT3DGQWVCXXQCZ75IT4I42Q/4afd736081e2c0bd2e2dfa72821966d6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AW2GZK52ZQA6A2MJYBQFUPJGF5SBEHNWVN3FZJ3AMNS25HTEL54A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/b4cda628-c142-42a0-8885-563c73c867ec/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJO2MOSR2UBOKJ7UUGBTP5JYK7BJHD2FDMMIWKZMJ4MPXBYS3DA/vendors.js"
            ]
        },
        "CreateAccount": {
            "input": {
                "type": "structure",
                "required": [
                    "Email",
                    "AccountName"
                ],
                "members": {
                    "Email": {
                        "shape": "Sn"
                    },
                    "AccountName": {
                        "shape": "So"
                    },
                    "RoleName": {},
                    "IamUserAccessToBilling": {},
                    "Tags": {
                        "shape": "Sr"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "CreateAccountStatus": {
                        "shape": "Sw"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/47CGZNPIWBVYAM7LTKQNBIXGQMTCKCXB7SAIJQNTIEDHFIQXSWKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WE72N4Z66QS2LWHYIQXX3QZMOTDBOEJJ2YIBBAI7SL2OZOJ3EEYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFE2S2K5TO5ISBKMW4TIW2KLV4WYULGR4IOVXJ5WGJ4SOFXNBZEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2ORBQGVAQUDITL335C7VY3BBSYJR5IQ55V67OQP23SYIKFISELA/index.en.v2.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQVNWQNX6JWK2MVJYFEUPIFFPA3QHO7QYUE52JUU3Q52YBXRJA6A/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~253ae210.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4HP7BTELLUANSLKNSZNQY5FDIQYVZ4GWK4DACIVXXQ3SXFTHBTA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23IGNLOBES2S2ELKOBYFGB2IBPQ5Y3VW2Z4RA67MGZOND27LX6YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KLSS2OYZRSUNW4RHAAVNQ6EJ3QVBQXS6A553KD4EQ4MCKB3IENOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIXMQGGSFSCJQ3JHHMVFJVGB2JKQ67AW325SKD4OV2E4RCMMIISA/1c8190cae4e1c7bdd9b22059ca14eb9f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBUHQ7OO4JTA6X2SRDAO5SPZURFAOKS6IWX4GZYTMLCW6QGCPGHA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4OE2P7HFO7P722UF6UYIKHX6E557AT3DGQWVCXXQCZ75IT4I42Q/4afd736081e2c0bd2e2dfa72821966d6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AW2GZK52ZQA6A2MJYBQFUPJGF5SBEHNWVN3FZJ3AMNS25HTEL54A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/b4cda628-c142-42a0-8885-563c73c867ec/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJO2MOSR2UBOKJ7UUGBTP5JYK7BJHD2FDMMIWKZMJ4MPXBYS3DA/vendors.js"
            ]
        },
        "CreateGovCloudAccount": {
            "input": {
                "type": "structure",
                "required": [
                    "Email",
                    "AccountName"
                ],
                "members": {
                    "Email": {
                        "shape": "Sn"
                    },
                    "AccountName": {
                        "shape": "So"
                    },
                    "RoleName": {},
                    "IamUserAccessToBilling": {},
                    "Tags": {
                        "shape": "Sr"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "CreateAccountStatus": {
                        "shape": "Sw"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/47CGZNPIWBVYAM7LTKQNBIXGQMTCKCXB7SAIJQNTIEDHFIQXSWKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WE72N4Z66QS2LWHYIQXX3QZMOTDBOEJJ2YIBBAI7SL2OZOJ3EEYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFE2S2K5TO5ISBKMW4TIW2KLV4WYULGR4IOVXJ5WGJ4SOFXNBZEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2ORBQGVAQUDITL335C7VY3BBSYJR5IQ55V67OQP23SYIKFISELA/index.en.v2.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQVNWQNX6JWK2MVJYFEUPIFFPA3QHO7QYUE52JUU3Q52YBXRJA6A/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~253ae210.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4HP7BTELLUANSLKNSZNQY5FDIQYVZ4GWK4DACIVXXQ3SXFTHBTA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23IGNLOBES2S2ELKOBYFGB2IBPQ5Y3VW2Z4RA67MGZOND27LX6YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KLSS2OYZRSUNW4RHAAVNQ6EJ3QVBQXS6A553KD4EQ4MCKB3IENOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIXMQGGSFSCJQ3JHHMVFJVGB2JKQ67AW325SKD4OV2E4RCMMIISA/1c8190cae4e1c7bdd9b22059ca14eb9f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBUHQ7OO4JTA6X2SRDAO5SPZURFAOKS6IWX4GZYTMLCW6QGCPGHA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4OE2P7HFO7P722UF6UYIKHX6E557AT3DGQWVCXXQCZ75IT4I42Q/4afd736081e2c0bd2e2dfa72821966d6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AW2GZK52ZQA6A2MJYBQFUPJGF5SBEHNWVN3FZJ3AMNS25HTEL54A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/b4cda628-c142-42a0-8885-563c73c867ec/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJO2MOSR2UBOKJ7UUGBTP5JYK7BJHD2FDMMIWKZMJ4MPXBYS3DA/vendors.js"
            ]
        },
        "CreateOrganization": {
            "input": {
                "type": "structure",
                "members": {
                    "FeatureSet": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Organization": {
                        "shape": "S16"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/47CGZNPIWBVYAM7LTKQNBIXGQMTCKCXB7SAIJQNTIEDHFIQXSWKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WE72N4Z66QS2LWHYIQXX3QZMOTDBOEJJ2YIBBAI7SL2OZOJ3EEYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFE2S2K5TO5ISBKMW4TIW2KLV4WYULGR4IOVXJ5WGJ4SOFXNBZEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2ORBQGVAQUDITL335C7VY3BBSYJR5IQ55V67OQP23SYIKFISELA/index.en.v2.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQVNWQNX6JWK2MVJYFEUPIFFPA3QHO7QYUE52JUU3Q52YBXRJA6A/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~253ae210.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4HP7BTELLUANSLKNSZNQY5FDIQYVZ4GWK4DACIVXXQ3SXFTHBTA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23IGNLOBES2S2ELKOBYFGB2IBPQ5Y3VW2Z4RA67MGZOND27LX6YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KLSS2OYZRSUNW4RHAAVNQ6EJ3QVBQXS6A553KD4EQ4MCKB3IENOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIXMQGGSFSCJQ3JHHMVFJVGB2JKQ67AW325SKD4OV2E4RCMMIISA/1c8190cae4e1c7bdd9b22059ca14eb9f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBUHQ7OO4JTA6X2SRDAO5SPZURFAOKS6IWX4GZYTMLCW6QGCPGHA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4OE2P7HFO7P722UF6UYIKHX6E557AT3DGQWVCXXQCZ75IT4I42Q/4afd736081e2c0bd2e2dfa72821966d6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AW2GZK52ZQA6A2MJYBQFUPJGF5SBEHNWVN3FZJ3AMNS25HTEL54A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/b4cda628-c142-42a0-8885-563c73c867ec/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJO2MOSR2UBOKJ7UUGBTP5JYK7BJHD2FDMMIWKZMJ4MPXBYS3DA/vendors.js"
            ]
        },
        "CreateOrganizationalUnit": {
            "input": {
                "type": "structure",
                "required": [
                    "ParentId",
                    "Name"
                ],
                "members": {
                    "ParentId": {},
                    "Name": {},
                    "Tags": {
                        "shape": "Sr"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "OrganizationalUnit": {
                        "shape": "S1i"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/47CGZNPIWBVYAM7LTKQNBIXGQMTCKCXB7SAIJQNTIEDHFIQXSWKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WE72N4Z66QS2LWHYIQXX3QZMOTDBOEJJ2YIBBAI7SL2OZOJ3EEYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFE2S2K5TO5ISBKMW4TIW2KLV4WYULGR4IOVXJ5WGJ4SOFXNBZEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2ORBQGVAQUDITL335C7VY3BBSYJR5IQ55V67OQP23SYIKFISELA/index.en.v2.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQVNWQNX6JWK2MVJYFEUPIFFPA3QHO7QYUE52JUU3Q52YBXRJA6A/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~253ae210.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4HP7BTELLUANSLKNSZNQY5FDIQYVZ4GWK4DACIVXXQ3SXFTHBTA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23IGNLOBES2S2ELKOBYFGB2IBPQ5Y3VW2Z4RA67MGZOND27LX6YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KLSS2OYZRSUNW4RHAAVNQ6EJ3QVBQXS6A553KD4EQ4MCKB3IENOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIXMQGGSFSCJQ3JHHMVFJVGB2JKQ67AW325SKD4OV2E4RCMMIISA/1c8190cae4e1c7bdd9b22059ca14eb9f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBUHQ7OO4JTA6X2SRDAO5SPZURFAOKS6IWX4GZYTMLCW6QGCPGHA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4OE2P7HFO7P722UF6UYIKHX6E557AT3DGQWVCXXQCZ75IT4I42Q/4afd736081e2c0bd2e2dfa72821966d6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AW2GZK52ZQA6A2MJYBQFUPJGF5SBEHNWVN3FZJ3AMNS25HTEL54A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/b4cda628-c142-42a0-8885-563c73c867ec/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJO2MOSR2UBOKJ7UUGBTP5JYK7BJHD2FDMMIWKZMJ4MPXBYS3DA/vendors.js"
            ]
        },
        "CreatePolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "Content",
                    "Description",
                    "Name",
                    "Type"
                ],
                "members": {
                    "Content": {},
                    "Description": {},
                    "Name": {},
                    "Type": {},
                    "Tags": {
                        "shape": "Sr"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Policy": {
                        "shape": "S1q"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/47CGZNPIWBVYAM7LTKQNBIXGQMTCKCXB7SAIJQNTIEDHFIQXSWKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WE72N4Z66QS2LWHYIQXX3QZMOTDBOEJJ2YIBBAI7SL2OZOJ3EEYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFE2S2K5TO5ISBKMW4TIW2KLV4WYULGR4IOVXJ5WGJ4SOFXNBZEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2ORBQGVAQUDITL335C7VY3BBSYJR5IQ55V67OQP23SYIKFISELA/index.en.v2.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQVNWQNX6JWK2MVJYFEUPIFFPA3QHO7QYUE52JUU3Q52YBXRJA6A/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~253ae210.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4HP7BTELLUANSLKNSZNQY5FDIQYVZ4GWK4DACIVXXQ3SXFTHBTA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23IGNLOBES2S2ELKOBYFGB2IBPQ5Y3VW2Z4RA67MGZOND27LX6YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KLSS2OYZRSUNW4RHAAVNQ6EJ3QVBQXS6A553KD4EQ4MCKB3IENOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIXMQGGSFSCJQ3JHHMVFJVGB2JKQ67AW325SKD4OV2E4RCMMIISA/1c8190cae4e1c7bdd9b22059ca14eb9f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBUHQ7OO4JTA6X2SRDAO5SPZURFAOKS6IWX4GZYTMLCW6QGCPGHA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4OE2P7HFO7P722UF6UYIKHX6E557AT3DGQWVCXXQCZ75IT4I42Q/4afd736081e2c0bd2e2dfa72821966d6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AW2GZK52ZQA6A2MJYBQFUPJGF5SBEHNWVN3FZJ3AMNS25HTEL54A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/b4cda628-c142-42a0-8885-563c73c867ec/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJO2MOSR2UBOKJ7UUGBTP5JYK7BJHD2FDMMIWKZMJ4MPXBYS3DA/vendors.js"
            ]
        },
        "DeclineHandshake": {
            "input": {
                "type": "structure",
                "required": [
                    "HandshakeId"
                ],
                "members": {
                    "HandshakeId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Handshake": {
                        "shape": "S4"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/47CGZNPIWBVYAM7LTKQNBIXGQMTCKCXB7SAIJQNTIEDHFIQXSWKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WE72N4Z66QS2LWHYIQXX3QZMOTDBOEJJ2YIBBAI7SL2OZOJ3EEYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFE2S2K5TO5ISBKMW4TIW2KLV4WYULGR4IOVXJ5WGJ4SOFXNBZEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2ORBQGVAQUDITL335C7VY3BBSYJR5IQ55V67OQP23SYIKFISELA/index.en.v2.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQVNWQNX6JWK2MVJYFEUPIFFPA3QHO7QYUE52JUU3Q52YBXRJA6A/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~253ae210.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4HP7BTELLUANSLKNSZNQY5FDIQYVZ4GWK4DACIVXXQ3SXFTHBTA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23IGNLOBES2S2ELKOBYFGB2IBPQ5Y3VW2Z4RA67MGZOND27LX6YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KLSS2OYZRSUNW4RHAAVNQ6EJ3QVBQXS6A553KD4EQ4MCKB3IENOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIXMQGGSFSCJQ3JHHMVFJVGB2JKQ67AW325SKD4OV2E4RCMMIISA/1c8190cae4e1c7bdd9b22059ca14eb9f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBUHQ7OO4JTA6X2SRDAO5SPZURFAOKS6IWX4GZYTMLCW6QGCPGHA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4OE2P7HFO7P722UF6UYIKHX6E557AT3DGQWVCXXQCZ75IT4I42Q/4afd736081e2c0bd2e2dfa72821966d6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AW2GZK52ZQA6A2MJYBQFUPJGF5SBEHNWVN3FZJ3AMNS25HTEL54A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/b4cda628-c142-42a0-8885-563c73c867ec/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJO2MOSR2UBOKJ7UUGBTP5JYK7BJHD2FDMMIWKZMJ4MPXBYS3DA/vendors.js"
            ]
        },
        "DeleteOrganization": {
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/47CGZNPIWBVYAM7LTKQNBIXGQMTCKCXB7SAIJQNTIEDHFIQXSWKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WE72N4Z66QS2LWHYIQXX3QZMOTDBOEJJ2YIBBAI7SL2OZOJ3EEYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFE2S2K5TO5ISBKMW4TIW2KLV4WYULGR4IOVXJ5WGJ4SOFXNBZEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2ORBQGVAQUDITL335C7VY3BBSYJR5IQ55V67OQP23SYIKFISELA/index.en.v2.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQVNWQNX6JWK2MVJYFEUPIFFPA3QHO7QYUE52JUU3Q52YBXRJA6A/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~253ae210.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4HP7BTELLUANSLKNSZNQY5FDIQYVZ4GWK4DACIVXXQ3SXFTHBTA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23IGNLOBES2S2ELKOBYFGB2IBPQ5Y3VW2Z4RA67MGZOND27LX6YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KLSS2OYZRSUNW4RHAAVNQ6EJ3QVBQXS6A553KD4EQ4MCKB3IENOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIXMQGGSFSCJQ3JHHMVFJVGB2JKQ67AW325SKD4OV2E4RCMMIISA/1c8190cae4e1c7bdd9b22059ca14eb9f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBUHQ7OO4JTA6X2SRDAO5SPZURFAOKS6IWX4GZYTMLCW6QGCPGHA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4OE2P7HFO7P722UF6UYIKHX6E557AT3DGQWVCXXQCZ75IT4I42Q/4afd736081e2c0bd2e2dfa72821966d6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AW2GZK52ZQA6A2MJYBQFUPJGF5SBEHNWVN3FZJ3AMNS25HTEL54A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/b4cda628-c142-42a0-8885-563c73c867ec/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJO2MOSR2UBOKJ7UUGBTP5JYK7BJHD2FDMMIWKZMJ4MPXBYS3DA/vendors.js"
            ]
        },
        "DeleteOrganizationalUnit": {
            "input": {
                "type": "structure",
                "required": [
                    "OrganizationalUnitId"
                ],
                "members": {
                    "OrganizationalUnitId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/47CGZNPIWBVYAM7LTKQNBIXGQMTCKCXB7SAIJQNTIEDHFIQXSWKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WE72N4Z66QS2LWHYIQXX3QZMOTDBOEJJ2YIBBAI7SL2OZOJ3EEYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFE2S2K5TO5ISBKMW4TIW2KLV4WYULGR4IOVXJ5WGJ4SOFXNBZEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2ORBQGVAQUDITL335C7VY3BBSYJR5IQ55V67OQP23SYIKFISELA/index.en.v2.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQVNWQNX6JWK2MVJYFEUPIFFPA3QHO7QYUE52JUU3Q52YBXRJA6A/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~253ae210.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4HP7BTELLUANSLKNSZNQY5FDIQYVZ4GWK4DACIVXXQ3SXFTHBTA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23IGNLOBES2S2ELKOBYFGB2IBPQ5Y3VW2Z4RA67MGZOND27LX6YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KLSS2OYZRSUNW4RHAAVNQ6EJ3QVBQXS6A553KD4EQ4MCKB3IENOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIXMQGGSFSCJQ3JHHMVFJVGB2JKQ67AW325SKD4OV2E4RCMMIISA/1c8190cae4e1c7bdd9b22059ca14eb9f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBUHQ7OO4JTA6X2SRDAO5SPZURFAOKS6IWX4GZYTMLCW6QGCPGHA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4OE2P7HFO7P722UF6UYIKHX6E557AT3DGQWVCXXQCZ75IT4I42Q/4afd736081e2c0bd2e2dfa72821966d6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AW2GZK52ZQA6A2MJYBQFUPJGF5SBEHNWVN3FZJ3AMNS25HTEL54A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/b4cda628-c142-42a0-8885-563c73c867ec/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJO2MOSR2UBOKJ7UUGBTP5JYK7BJHD2FDMMIWKZMJ4MPXBYS3DA/vendors.js"
            ]
        },
        "DeletePolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "PolicyId"
                ],
                "members": {
                    "PolicyId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/47CGZNPIWBVYAM7LTKQNBIXGQMTCKCXB7SAIJQNTIEDHFIQXSWKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WE72N4Z66QS2LWHYIQXX3QZMOTDBOEJJ2YIBBAI7SL2OZOJ3EEYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFE2S2K5TO5ISBKMW4TIW2KLV4WYULGR4IOVXJ5WGJ4SOFXNBZEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2ORBQGVAQUDITL335C7VY3BBSYJR5IQ55V67OQP23SYIKFISELA/index.en.v2.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQVNWQNX6JWK2MVJYFEUPIFFPA3QHO7QYUE52JUU3Q52YBXRJA6A/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~253ae210.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4HP7BTELLUANSLKNSZNQY5FDIQYVZ4GWK4DACIVXXQ3SXFTHBTA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23IGNLOBES2S2ELKOBYFGB2IBPQ5Y3VW2Z4RA67MGZOND27LX6YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KLSS2OYZRSUNW4RHAAVNQ6EJ3QVBQXS6A553KD4EQ4MCKB3IENOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIXMQGGSFSCJQ3JHHMVFJVGB2JKQ67AW325SKD4OV2E4RCMMIISA/1c8190cae4e1c7bdd9b22059ca14eb9f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBUHQ7OO4JTA6X2SRDAO5SPZURFAOKS6IWX4GZYTMLCW6QGCPGHA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4OE2P7HFO7P722UF6UYIKHX6E557AT3DGQWVCXXQCZ75IT4I42Q/4afd736081e2c0bd2e2dfa72821966d6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AW2GZK52ZQA6A2MJYBQFUPJGF5SBEHNWVN3FZJ3AMNS25HTEL54A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/b4cda628-c142-42a0-8885-563c73c867ec/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJO2MOSR2UBOKJ7UUGBTP5JYK7BJHD2FDMMIWKZMJ4MPXBYS3DA/vendors.js"
            ]
        },
        "DeregisterDelegatedAdministrator": {
            "input": {
                "type": "structure",
                "required": [
                    "AccountId",
                    "ServicePrincipal"
                ],
                "members": {
                    "AccountId": {},
                    "ServicePrincipal": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/47CGZNPIWBVYAM7LTKQNBIXGQMTCKCXB7SAIJQNTIEDHFIQXSWKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WE72N4Z66QS2LWHYIQXX3QZMOTDBOEJJ2YIBBAI7SL2OZOJ3EEYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFE2S2K5TO5ISBKMW4TIW2KLV4WYULGR4IOVXJ5WGJ4SOFXNBZEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2ORBQGVAQUDITL335C7VY3BBSYJR5IQ55V67OQP23SYIKFISELA/index.en.v2.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQVNWQNX6JWK2MVJYFEUPIFFPA3QHO7QYUE52JUU3Q52YBXRJA6A/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~253ae210.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4HP7BTELLUANSLKNSZNQY5FDIQYVZ4GWK4DACIVXXQ3SXFTHBTA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23IGNLOBES2S2ELKOBYFGB2IBPQ5Y3VW2Z4RA67MGZOND27LX6YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KLSS2OYZRSUNW4RHAAVNQ6EJ3QVBQXS6A553KD4EQ4MCKB3IENOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIXMQGGSFSCJQ3JHHMVFJVGB2JKQ67AW325SKD4OV2E4RCMMIISA/1c8190cae4e1c7bdd9b22059ca14eb9f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBUHQ7OO4JTA6X2SRDAO5SPZURFAOKS6IWX4GZYTMLCW6QGCPGHA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4OE2P7HFO7P722UF6UYIKHX6E557AT3DGQWVCXXQCZ75IT4I42Q/4afd736081e2c0bd2e2dfa72821966d6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AW2GZK52ZQA6A2MJYBQFUPJGF5SBEHNWVN3FZJ3AMNS25HTEL54A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/b4cda628-c142-42a0-8885-563c73c867ec/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJO2MOSR2UBOKJ7UUGBTP5JYK7BJHD2FDMMIWKZMJ4MPXBYS3DA/vendors.js"
            ]
        },
        "DescribeAccount": {
            "input": {
                "type": "structure",
                "required": [
                    "AccountId"
                ],
                "members": {
                    "AccountId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Account": {
                        "shape": "S22"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/47CGZNPIWBVYAM7LTKQNBIXGQMTCKCXB7SAIJQNTIEDHFIQXSWKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WE72N4Z66QS2LWHYIQXX3QZMOTDBOEJJ2YIBBAI7SL2OZOJ3EEYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFE2S2K5TO5ISBKMW4TIW2KLV4WYULGR4IOVXJ5WGJ4SOFXNBZEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2ORBQGVAQUDITL335C7VY3BBSYJR5IQ55V67OQP23SYIKFISELA/index.en.v2.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQVNWQNX6JWK2MVJYFEUPIFFPA3QHO7QYUE52JUU3Q52YBXRJA6A/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~253ae210.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4HP7BTELLUANSLKNSZNQY5FDIQYVZ4GWK4DACIVXXQ3SXFTHBTA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23IGNLOBES2S2ELKOBYFGB2IBPQ5Y3VW2Z4RA67MGZOND27LX6YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KLSS2OYZRSUNW4RHAAVNQ6EJ3QVBQXS6A553KD4EQ4MCKB3IENOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIXMQGGSFSCJQ3JHHMVFJVGB2JKQ67AW325SKD4OV2E4RCMMIISA/1c8190cae4e1c7bdd9b22059ca14eb9f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBUHQ7OO4JTA6X2SRDAO5SPZURFAOKS6IWX4GZYTMLCW6QGCPGHA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4OE2P7HFO7P722UF6UYIKHX6E557AT3DGQWVCXXQCZ75IT4I42Q/4afd736081e2c0bd2e2dfa72821966d6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AW2GZK52ZQA6A2MJYBQFUPJGF5SBEHNWVN3FZJ3AMNS25HTEL54A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/b4cda628-c142-42a0-8885-563c73c867ec/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJO2MOSR2UBOKJ7UUGBTP5JYK7BJHD2FDMMIWKZMJ4MPXBYS3DA/vendors.js"
            ]
        },
        "DescribeCreateAccountStatus": {
            "input": {
                "type": "structure",
                "required": [
                    "CreateAccountRequestId"
                ],
                "members": {
                    "CreateAccountRequestId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "CreateAccountStatus": {
                        "shape": "Sw"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/47CGZNPIWBVYAM7LTKQNBIXGQMTCKCXB7SAIJQNTIEDHFIQXSWKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WE72N4Z66QS2LWHYIQXX3QZMOTDBOEJJ2YIBBAI7SL2OZOJ3EEYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFE2S2K5TO5ISBKMW4TIW2KLV4WYULGR4IOVXJ5WGJ4SOFXNBZEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2ORBQGVAQUDITL335C7VY3BBSYJR5IQ55V67OQP23SYIKFISELA/index.en.v2.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQVNWQNX6JWK2MVJYFEUPIFFPA3QHO7QYUE52JUU3Q52YBXRJA6A/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~253ae210.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4HP7BTELLUANSLKNSZNQY5FDIQYVZ4GWK4DACIVXXQ3SXFTHBTA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23IGNLOBES2S2ELKOBYFGB2IBPQ5Y3VW2Z4RA67MGZOND27LX6YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KLSS2OYZRSUNW4RHAAVNQ6EJ3QVBQXS6A553KD4EQ4MCKB3IENOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIXMQGGSFSCJQ3JHHMVFJVGB2JKQ67AW325SKD4OV2E4RCMMIISA/1c8190cae4e1c7bdd9b22059ca14eb9f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBUHQ7OO4JTA6X2SRDAO5SPZURFAOKS6IWX4GZYTMLCW6QGCPGHA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4OE2P7HFO7P722UF6UYIKHX6E557AT3DGQWVCXXQCZ75IT4I42Q/4afd736081e2c0bd2e2dfa72821966d6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AW2GZK52ZQA6A2MJYBQFUPJGF5SBEHNWVN3FZJ3AMNS25HTEL54A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/b4cda628-c142-42a0-8885-563c73c867ec/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJO2MOSR2UBOKJ7UUGBTP5JYK7BJHD2FDMMIWKZMJ4MPXBYS3DA/vendors.js"
            ]
        },
        "DescribeEffectivePolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "PolicyType"
                ],
                "members": {
                    "PolicyType": {},
                    "TargetId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "EffectivePolicy": {
                        "type": "structure",
                        "members": {
                            "PolicyContent": {},
                            "LastUpdatedTimestamp": {
                                "type": "timestamp"
                            },
                            "TargetId": {},
                            "PolicyType": {}
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/47CGZNPIWBVYAM7LTKQNBIXGQMTCKCXB7SAIJQNTIEDHFIQXSWKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WE72N4Z66QS2LWHYIQXX3QZMOTDBOEJJ2YIBBAI7SL2OZOJ3EEYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFE2S2K5TO5ISBKMW4TIW2KLV4WYULGR4IOVXJ5WGJ4SOFXNBZEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2ORBQGVAQUDITL335C7VY3BBSYJR5IQ55V67OQP23SYIKFISELA/index.en.v2.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQVNWQNX6JWK2MVJYFEUPIFFPA3QHO7QYUE52JUU3Q52YBXRJA6A/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~253ae210.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4HP7BTELLUANSLKNSZNQY5FDIQYVZ4GWK4DACIVXXQ3SXFTHBTA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23IGNLOBES2S2ELKOBYFGB2IBPQ5Y3VW2Z4RA67MGZOND27LX6YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KLSS2OYZRSUNW4RHAAVNQ6EJ3QVBQXS6A553KD4EQ4MCKB3IENOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIXMQGGSFSCJQ3JHHMVFJVGB2JKQ67AW325SKD4OV2E4RCMMIISA/1c8190cae4e1c7bdd9b22059ca14eb9f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBUHQ7OO4JTA6X2SRDAO5SPZURFAOKS6IWX4GZYTMLCW6QGCPGHA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4OE2P7HFO7P722UF6UYIKHX6E557AT3DGQWVCXXQCZ75IT4I42Q/4afd736081e2c0bd2e2dfa72821966d6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AW2GZK52ZQA6A2MJYBQFUPJGF5SBEHNWVN3FZJ3AMNS25HTEL54A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/b4cda628-c142-42a0-8885-563c73c867ec/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJO2MOSR2UBOKJ7UUGBTP5JYK7BJHD2FDMMIWKZMJ4MPXBYS3DA/vendors.js"
            ]
        },
        "DescribeHandshake": {
            "input": {
                "type": "structure",
                "required": [
                    "HandshakeId"
                ],
                "members": {
                    "HandshakeId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Handshake": {
                        "shape": "S4"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/47CGZNPIWBVYAM7LTKQNBIXGQMTCKCXB7SAIJQNTIEDHFIQXSWKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WE72N4Z66QS2LWHYIQXX3QZMOTDBOEJJ2YIBBAI7SL2OZOJ3EEYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFE2S2K5TO5ISBKMW4TIW2KLV4WYULGR4IOVXJ5WGJ4SOFXNBZEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2ORBQGVAQUDITL335C7VY3BBSYJR5IQ55V67OQP23SYIKFISELA/index.en.v2.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQVNWQNX6JWK2MVJYFEUPIFFPA3QHO7QYUE52JUU3Q52YBXRJA6A/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~253ae210.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4HP7BTELLUANSLKNSZNQY5FDIQYVZ4GWK4DACIVXXQ3SXFTHBTA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23IGNLOBES2S2ELKOBYFGB2IBPQ5Y3VW2Z4RA67MGZOND27LX6YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KLSS2OYZRSUNW4RHAAVNQ6EJ3QVBQXS6A553KD4EQ4MCKB3IENOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIXMQGGSFSCJQ3JHHMVFJVGB2JKQ67AW325SKD4OV2E4RCMMIISA/1c8190cae4e1c7bdd9b22059ca14eb9f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBUHQ7OO4JTA6X2SRDAO5SPZURFAOKS6IWX4GZYTMLCW6QGCPGHA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4OE2P7HFO7P722UF6UYIKHX6E557AT3DGQWVCXXQCZ75IT4I42Q/4afd736081e2c0bd2e2dfa72821966d6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AW2GZK52ZQA6A2MJYBQFUPJGF5SBEHNWVN3FZJ3AMNS25HTEL54A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/b4cda628-c142-42a0-8885-563c73c867ec/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJO2MOSR2UBOKJ7UUGBTP5JYK7BJHD2FDMMIWKZMJ4MPXBYS3DA/vendors.js"
            ]
        },
        "DescribeOrganization": {
            "output": {
                "type": "structure",
                "members": {
                    "Organization": {
                        "shape": "S16"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/47CGZNPIWBVYAM7LTKQNBIXGQMTCKCXB7SAIJQNTIEDHFIQXSWKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WE72N4Z66QS2LWHYIQXX3QZMOTDBOEJJ2YIBBAI7SL2OZOJ3EEYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFE2S2K5TO5ISBKMW4TIW2KLV4WYULGR4IOVXJ5WGJ4SOFXNBZEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2ORBQGVAQUDITL335C7VY3BBSYJR5IQ55V67OQP23SYIKFISELA/index.en.v2.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQVNWQNX6JWK2MVJYFEUPIFFPA3QHO7QYUE52JUU3Q52YBXRJA6A/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~253ae210.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4HP7BTELLUANSLKNSZNQY5FDIQYVZ4GWK4DACIVXXQ3SXFTHBTA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23IGNLOBES2S2ELKOBYFGB2IBPQ5Y3VW2Z4RA67MGZOND27LX6YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KLSS2OYZRSUNW4RHAAVNQ6EJ3QVBQXS6A553KD4EQ4MCKB3IENOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIXMQGGSFSCJQ3JHHMVFJVGB2JKQ67AW325SKD4OV2E4RCMMIISA/1c8190cae4e1c7bdd9b22059ca14eb9f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBUHQ7OO4JTA6X2SRDAO5SPZURFAOKS6IWX4GZYTMLCW6QGCPGHA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4OE2P7HFO7P722UF6UYIKHX6E557AT3DGQWVCXXQCZ75IT4I42Q/4afd736081e2c0bd2e2dfa72821966d6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AW2GZK52ZQA6A2MJYBQFUPJGF5SBEHNWVN3FZJ3AMNS25HTEL54A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/b4cda628-c142-42a0-8885-563c73c867ec/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJO2MOSR2UBOKJ7UUGBTP5JYK7BJHD2FDMMIWKZMJ4MPXBYS3DA/vendors.js"
            ]
        },
        "DescribeOrganizationalUnit": {
            "input": {
                "type": "structure",
                "required": [
                    "OrganizationalUnitId"
                ],
                "members": {
                    "OrganizationalUnitId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "OrganizationalUnit": {
                        "shape": "S1i"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/47CGZNPIWBVYAM7LTKQNBIXGQMTCKCXB7SAIJQNTIEDHFIQXSWKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WE72N4Z66QS2LWHYIQXX3QZMOTDBOEJJ2YIBBAI7SL2OZOJ3EEYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFE2S2K5TO5ISBKMW4TIW2KLV4WYULGR4IOVXJ5WGJ4SOFXNBZEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2ORBQGVAQUDITL335C7VY3BBSYJR5IQ55V67OQP23SYIKFISELA/index.en.v2.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQVNWQNX6JWK2MVJYFEUPIFFPA3QHO7QYUE52JUU3Q52YBXRJA6A/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~253ae210.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4HP7BTELLUANSLKNSZNQY5FDIQYVZ4GWK4DACIVXXQ3SXFTHBTA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23IGNLOBES2S2ELKOBYFGB2IBPQ5Y3VW2Z4RA67MGZOND27LX6YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KLSS2OYZRSUNW4RHAAVNQ6EJ3QVBQXS6A553KD4EQ4MCKB3IENOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIXMQGGSFSCJQ3JHHMVFJVGB2JKQ67AW325SKD4OV2E4RCMMIISA/1c8190cae4e1c7bdd9b22059ca14eb9f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBUHQ7OO4JTA6X2SRDAO5SPZURFAOKS6IWX4GZYTMLCW6QGCPGHA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4OE2P7HFO7P722UF6UYIKHX6E557AT3DGQWVCXXQCZ75IT4I42Q/4afd736081e2c0bd2e2dfa72821966d6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AW2GZK52ZQA6A2MJYBQFUPJGF5SBEHNWVN3FZJ3AMNS25HTEL54A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/b4cda628-c142-42a0-8885-563c73c867ec/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJO2MOSR2UBOKJ7UUGBTP5JYK7BJHD2FDMMIWKZMJ4MPXBYS3DA/vendors.js"
            ]
        },
        "DescribePolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "PolicyId"
                ],
                "members": {
                    "PolicyId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Policy": {
                        "shape": "S1q"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/47CGZNPIWBVYAM7LTKQNBIXGQMTCKCXB7SAIJQNTIEDHFIQXSWKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WE72N4Z66QS2LWHYIQXX3QZMOTDBOEJJ2YIBBAI7SL2OZOJ3EEYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFE2S2K5TO5ISBKMW4TIW2KLV4WYULGR4IOVXJ5WGJ4SOFXNBZEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2ORBQGVAQUDITL335C7VY3BBSYJR5IQ55V67OQP23SYIKFISELA/index.en.v2.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQVNWQNX6JWK2MVJYFEUPIFFPA3QHO7QYUE52JUU3Q52YBXRJA6A/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~253ae210.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4HP7BTELLUANSLKNSZNQY5FDIQYVZ4GWK4DACIVXXQ3SXFTHBTA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23IGNLOBES2S2ELKOBYFGB2IBPQ5Y3VW2Z4RA67MGZOND27LX6YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KLSS2OYZRSUNW4RHAAVNQ6EJ3QVBQXS6A553KD4EQ4MCKB3IENOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIXMQGGSFSCJQ3JHHMVFJVGB2JKQ67AW325SKD4OV2E4RCMMIISA/1c8190cae4e1c7bdd9b22059ca14eb9f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBUHQ7OO4JTA6X2SRDAO5SPZURFAOKS6IWX4GZYTMLCW6QGCPGHA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4OE2P7HFO7P722UF6UYIKHX6E557AT3DGQWVCXXQCZ75IT4I42Q/4afd736081e2c0bd2e2dfa72821966d6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AW2GZK52ZQA6A2MJYBQFUPJGF5SBEHNWVN3FZJ3AMNS25HTEL54A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/b4cda628-c142-42a0-8885-563c73c867ec/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJO2MOSR2UBOKJ7UUGBTP5JYK7BJHD2FDMMIWKZMJ4MPXBYS3DA/vendors.js"
            ]
        },
        "DetachPolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "PolicyId",
                    "TargetId"
                ],
                "members": {
                    "PolicyId": {},
                    "TargetId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/47CGZNPIWBVYAM7LTKQNBIXGQMTCKCXB7SAIJQNTIEDHFIQXSWKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WE72N4Z66QS2LWHYIQXX3QZMOTDBOEJJ2YIBBAI7SL2OZOJ3EEYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFE2S2K5TO5ISBKMW4TIW2KLV4WYULGR4IOVXJ5WGJ4SOFXNBZEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2ORBQGVAQUDITL335C7VY3BBSYJR5IQ55V67OQP23SYIKFISELA/index.en.v2.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQVNWQNX6JWK2MVJYFEUPIFFPA3QHO7QYUE52JUU3Q52YBXRJA6A/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~253ae210.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4HP7BTELLUANSLKNSZNQY5FDIQYVZ4GWK4DACIVXXQ3SXFTHBTA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23IGNLOBES2S2ELKOBYFGB2IBPQ5Y3VW2Z4RA67MGZOND27LX6YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KLSS2OYZRSUNW4RHAAVNQ6EJ3QVBQXS6A553KD4EQ4MCKB3IENOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIXMQGGSFSCJQ3JHHMVFJVGB2JKQ67AW325SKD4OV2E4RCMMIISA/1c8190cae4e1c7bdd9b22059ca14eb9f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBUHQ7OO4JTA6X2SRDAO5SPZURFAOKS6IWX4GZYTMLCW6QGCPGHA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4OE2P7HFO7P722UF6UYIKHX6E557AT3DGQWVCXXQCZ75IT4I42Q/4afd736081e2c0bd2e2dfa72821966d6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AW2GZK52ZQA6A2MJYBQFUPJGF5SBEHNWVN3FZJ3AMNS25HTEL54A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/b4cda628-c142-42a0-8885-563c73c867ec/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJO2MOSR2UBOKJ7UUGBTP5JYK7BJHD2FDMMIWKZMJ4MPXBYS3DA/vendors.js"
            ]
        },
        "DisableAWSServiceAccess": {
            "input": {
                "type": "structure",
                "required": [
                    "ServicePrincipal"
                ],
                "members": {
                    "ServicePrincipal": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/47CGZNPIWBVYAM7LTKQNBIXGQMTCKCXB7SAIJQNTIEDHFIQXSWKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WE72N4Z66QS2LWHYIQXX3QZMOTDBOEJJ2YIBBAI7SL2OZOJ3EEYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFE2S2K5TO5ISBKMW4TIW2KLV4WYULGR4IOVXJ5WGJ4SOFXNBZEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2ORBQGVAQUDITL335C7VY3BBSYJR5IQ55V67OQP23SYIKFISELA/index.en.v2.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQVNWQNX6JWK2MVJYFEUPIFFPA3QHO7QYUE52JUU3Q52YBXRJA6A/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~253ae210.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4HP7BTELLUANSLKNSZNQY5FDIQYVZ4GWK4DACIVXXQ3SXFTHBTA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23IGNLOBES2S2ELKOBYFGB2IBPQ5Y3VW2Z4RA67MGZOND27LX6YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KLSS2OYZRSUNW4RHAAVNQ6EJ3QVBQXS6A553KD4EQ4MCKB3IENOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIXMQGGSFSCJQ3JHHMVFJVGB2JKQ67AW325SKD4OV2E4RCMMIISA/1c8190cae4e1c7bdd9b22059ca14eb9f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBUHQ7OO4JTA6X2SRDAO5SPZURFAOKS6IWX4GZYTMLCW6QGCPGHA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4OE2P7HFO7P722UF6UYIKHX6E557AT3DGQWVCXXQCZ75IT4I42Q/4afd736081e2c0bd2e2dfa72821966d6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AW2GZK52ZQA6A2MJYBQFUPJGF5SBEHNWVN3FZJ3AMNS25HTEL54A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/b4cda628-c142-42a0-8885-563c73c867ec/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJO2MOSR2UBOKJ7UUGBTP5JYK7BJHD2FDMMIWKZMJ4MPXBYS3DA/vendors.js"
            ]
        },
        "DisablePolicyType": {
            "input": {
                "type": "structure",
                "required": [
                    "RootId",
                    "PolicyType"
                ],
                "members": {
                    "RootId": {},
                    "PolicyType": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Root": {
                        "shape": "S2n"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/47CGZNPIWBVYAM7LTKQNBIXGQMTCKCXB7SAIJQNTIEDHFIQXSWKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WE72N4Z66QS2LWHYIQXX3QZMOTDBOEJJ2YIBBAI7SL2OZOJ3EEYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFE2S2K5TO5ISBKMW4TIW2KLV4WYULGR4IOVXJ5WGJ4SOFXNBZEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2ORBQGVAQUDITL335C7VY3BBSYJR5IQ55V67OQP23SYIKFISELA/index.en.v2.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQVNWQNX6JWK2MVJYFEUPIFFPA3QHO7QYUE52JUU3Q52YBXRJA6A/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~253ae210.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4HP7BTELLUANSLKNSZNQY5FDIQYVZ4GWK4DACIVXXQ3SXFTHBTA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23IGNLOBES2S2ELKOBYFGB2IBPQ5Y3VW2Z4RA67MGZOND27LX6YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KLSS2OYZRSUNW4RHAAVNQ6EJ3QVBQXS6A553KD4EQ4MCKB3IENOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIXMQGGSFSCJQ3JHHMVFJVGB2JKQ67AW325SKD4OV2E4RCMMIISA/1c8190cae4e1c7bdd9b22059ca14eb9f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBUHQ7OO4JTA6X2SRDAO5SPZURFAOKS6IWX4GZYTMLCW6QGCPGHA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4OE2P7HFO7P722UF6UYIKHX6E557AT3DGQWVCXXQCZ75IT4I42Q/4afd736081e2c0bd2e2dfa72821966d6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AW2GZK52ZQA6A2MJYBQFUPJGF5SBEHNWVN3FZJ3AMNS25HTEL54A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/b4cda628-c142-42a0-8885-563c73c867ec/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJO2MOSR2UBOKJ7UUGBTP5JYK7BJHD2FDMMIWKZMJ4MPXBYS3DA/vendors.js"
            ]
        },
        "EnableAWSServiceAccess": {
            "input": {
                "type": "structure",
                "required": [
                    "ServicePrincipal"
                ],
                "members": {
                    "ServicePrincipal": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/47CGZNPIWBVYAM7LTKQNBIXGQMTCKCXB7SAIJQNTIEDHFIQXSWKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WE72N4Z66QS2LWHYIQXX3QZMOTDBOEJJ2YIBBAI7SL2OZOJ3EEYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFE2S2K5TO5ISBKMW4TIW2KLV4WYULGR4IOVXJ5WGJ4SOFXNBZEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2ORBQGVAQUDITL335C7VY3BBSYJR5IQ55V67OQP23SYIKFISELA/index.en.v2.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQVNWQNX6JWK2MVJYFEUPIFFPA3QHO7QYUE52JUU3Q52YBXRJA6A/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~253ae210.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4HP7BTELLUANSLKNSZNQY5FDIQYVZ4GWK4DACIVXXQ3SXFTHBTA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23IGNLOBES2S2ELKOBYFGB2IBPQ5Y3VW2Z4RA67MGZOND27LX6YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KLSS2OYZRSUNW4RHAAVNQ6EJ3QVBQXS6A553KD4EQ4MCKB3IENOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIXMQGGSFSCJQ3JHHMVFJVGB2JKQ67AW325SKD4OV2E4RCMMIISA/1c8190cae4e1c7bdd9b22059ca14eb9f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBUHQ7OO4JTA6X2SRDAO5SPZURFAOKS6IWX4GZYTMLCW6QGCPGHA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4OE2P7HFO7P722UF6UYIKHX6E557AT3DGQWVCXXQCZ75IT4I42Q/4afd736081e2c0bd2e2dfa72821966d6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AW2GZK52ZQA6A2MJYBQFUPJGF5SBEHNWVN3FZJ3AMNS25HTEL54A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/b4cda628-c142-42a0-8885-563c73c867ec/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJO2MOSR2UBOKJ7UUGBTP5JYK7BJHD2FDMMIWKZMJ4MPXBYS3DA/vendors.js"
            ]
        },
        "EnableAllFeatures": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "Handshake": {
                        "shape": "S4"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/47CGZNPIWBVYAM7LTKQNBIXGQMTCKCXB7SAIJQNTIEDHFIQXSWKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WE72N4Z66QS2LWHYIQXX3QZMOTDBOEJJ2YIBBAI7SL2OZOJ3EEYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFE2S2K5TO5ISBKMW4TIW2KLV4WYULGR4IOVXJ5WGJ4SOFXNBZEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2ORBQGVAQUDITL335C7VY3BBSYJR5IQ55V67OQP23SYIKFISELA/index.en.v2.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQVNWQNX6JWK2MVJYFEUPIFFPA3QHO7QYUE52JUU3Q52YBXRJA6A/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~253ae210.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4HP7BTELLUANSLKNSZNQY5FDIQYVZ4GWK4DACIVXXQ3SXFTHBTA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23IGNLOBES2S2ELKOBYFGB2IBPQ5Y3VW2Z4RA67MGZOND27LX6YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KLSS2OYZRSUNW4RHAAVNQ6EJ3QVBQXS6A553KD4EQ4MCKB3IENOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIXMQGGSFSCJQ3JHHMVFJVGB2JKQ67AW325SKD4OV2E4RCMMIISA/1c8190cae4e1c7bdd9b22059ca14eb9f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBUHQ7OO4JTA6X2SRDAO5SPZURFAOKS6IWX4GZYTMLCW6QGCPGHA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4OE2P7HFO7P722UF6UYIKHX6E557AT3DGQWVCXXQCZ75IT4I42Q/4afd736081e2c0bd2e2dfa72821966d6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AW2GZK52ZQA6A2MJYBQFUPJGF5SBEHNWVN3FZJ3AMNS25HTEL54A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/b4cda628-c142-42a0-8885-563c73c867ec/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJO2MOSR2UBOKJ7UUGBTP5JYK7BJHD2FDMMIWKZMJ4MPXBYS3DA/vendors.js"
            ]
        },
        "EnablePolicyType": {
            "input": {
                "type": "structure",
                "required": [
                    "RootId",
                    "PolicyType"
                ],
                "members": {
                    "RootId": {},
                    "PolicyType": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Root": {
                        "shape": "S2n"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/47CGZNPIWBVYAM7LTKQNBIXGQMTCKCXB7SAIJQNTIEDHFIQXSWKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WE72N4Z66QS2LWHYIQXX3QZMOTDBOEJJ2YIBBAI7SL2OZOJ3EEYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFE2S2K5TO5ISBKMW4TIW2KLV4WYULGR4IOVXJ5WGJ4SOFXNBZEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2ORBQGVAQUDITL335C7VY3BBSYJR5IQ55V67OQP23SYIKFISELA/index.en.v2.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQVNWQNX6JWK2MVJYFEUPIFFPA3QHO7QYUE52JUU3Q52YBXRJA6A/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~253ae210.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4HP7BTELLUANSLKNSZNQY5FDIQYVZ4GWK4DACIVXXQ3SXFTHBTA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23IGNLOBES2S2ELKOBYFGB2IBPQ5Y3VW2Z4RA67MGZOND27LX6YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KLSS2OYZRSUNW4RHAAVNQ6EJ3QVBQXS6A553KD4EQ4MCKB3IENOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIXMQGGSFSCJQ3JHHMVFJVGB2JKQ67AW325SKD4OV2E4RCMMIISA/1c8190cae4e1c7bdd9b22059ca14eb9f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBUHQ7OO4JTA6X2SRDAO5SPZURFAOKS6IWX4GZYTMLCW6QGCPGHA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4OE2P7HFO7P722UF6UYIKHX6E557AT3DGQWVCXXQCZ75IT4I42Q/4afd736081e2c0bd2e2dfa72821966d6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AW2GZK52ZQA6A2MJYBQFUPJGF5SBEHNWVN3FZJ3AMNS25HTEL54A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/b4cda628-c142-42a0-8885-563c73c867ec/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJO2MOSR2UBOKJ7UUGBTP5JYK7BJHD2FDMMIWKZMJ4MPXBYS3DA/vendors.js"
            ]
        },
        "InviteAccountToOrganization": {
            "input": {
                "type": "structure",
                "required": [
                    "Target"
                ],
                "members": {
                    "Target": {
                        "shape": "S7"
                    },
                    "Notes": {
                        "type": "string",
                        "sensitive": true
                    },
                    "Tags": {
                        "shape": "Sr"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Handshake": {
                        "shape": "S4"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/47CGZNPIWBVYAM7LTKQNBIXGQMTCKCXB7SAIJQNTIEDHFIQXSWKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WE72N4Z66QS2LWHYIQXX3QZMOTDBOEJJ2YIBBAI7SL2OZOJ3EEYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFE2S2K5TO5ISBKMW4TIW2KLV4WYULGR4IOVXJ5WGJ4SOFXNBZEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2ORBQGVAQUDITL335C7VY3BBSYJR5IQ55V67OQP23SYIKFISELA/index.en.v2.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQVNWQNX6JWK2MVJYFEUPIFFPA3QHO7QYUE52JUU3Q52YBXRJA6A/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~253ae210.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4HP7BTELLUANSLKNSZNQY5FDIQYVZ4GWK4DACIVXXQ3SXFTHBTA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23IGNLOBES2S2ELKOBYFGB2IBPQ5Y3VW2Z4RA67MGZOND27LX6YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KLSS2OYZRSUNW4RHAAVNQ6EJ3QVBQXS6A553KD4EQ4MCKB3IENOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIXMQGGSFSCJQ3JHHMVFJVGB2JKQ67AW325SKD4OV2E4RCMMIISA/1c8190cae4e1c7bdd9b22059ca14eb9f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBUHQ7OO4JTA6X2SRDAO5SPZURFAOKS6IWX4GZYTMLCW6QGCPGHA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4OE2P7HFO7P722UF6UYIKHX6E557AT3DGQWVCXXQCZ75IT4I42Q/4afd736081e2c0bd2e2dfa72821966d6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AW2GZK52ZQA6A2MJYBQFUPJGF5SBEHNWVN3FZJ3AMNS25HTEL54A/vendors.js",
[...]
