{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2016-11-28",
        "endpointPrefix": "organizations",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceAbbreviation": "Organizations",
        "serviceFullName": "AWS Organizations",
        "serviceId": "Organizations",
        "signatureVersion": "v4",
        "targetPrefix": "AWSOrganizationsV20161128",
        "uid": "organizations-2016-11-28",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/WMYEOZXSQT37SF3S7CJFYN5RPSHKT5NCI2AG7JS46ANFAL63PL2A/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ORKTNPAS3Q7NGQTG6E4DKABSMSQTKYYPX2TYIFZ7QVS23GUTXK3A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6YJO6CRESWY5VENDTMFDPFWE4IOQ4K3RN2YQGQNMBQEHX6MIS2AA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UGROAJXGKIQMTNF5TYL3VXBSYUR74PB5I7GFRMCISFOCQKHPAJ4A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BFQQW3HYMUCYUSFHLHWEOUVGMXD4TIHESFCQE5YJO537TQ5OOJYA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XXYRNF4VO7HJBAOTWBL7KVWRVZDDFLE5UKZEVSK5EKWIBDBUBO2A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AZBGYLHSXADRMNUJUQYWXLTOOMIUIXKOOXWKJAURQAOOMZR52CAA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TYJVMIFKW3NNSJLC5MEKGAJVUEXAKIDSZJ24UJJP76NFWOOV7POQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XD4CZUZ3YYH3FGPEBQF5WMIW2J7DNZGADRLKLEDHGCKB5RTHEVIA/index.en.v2.js",
            "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LA5LYQQWEN63VIL7J56GSJHODFZURGYLIMDE5GE5X7XVETTGGTZA/vendor.awssdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~253ae210.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/54J4O62LNFSXRBADDDKKQE6ZJM2FHLA4AE4WFFJU363GG3KIJKGA/ta_polaris.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6CXUBAMEMYGIWVCW7KGWJH6KRWPPQ4IYLTCF5JVWW26IJTOG3ROA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TCUJVSGK3Q3B3BG2EEJ2B6KDXMNB3GUWD7PSAHCIJ7JGPGRI5LNQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KORXH3DONCOLIJEX2XCZWP2D4H7ODNGPIHUZPPLOO3VKWQTK2SNA/5f5fa7cbe6807622b2387d4d4c7399eb.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/A3JS5SASBH3KPIQSPZF34PT7PASOTIKXM3CCRAAGPKEJ6XCYIEQA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
            "https://d3gz1r5kdm6nwl.cloudfront.net/1700175852837/main_en.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VNZAMM3H6CR6LPIIBX4SYTRKQOVCM3HLBSURG3HHYQISKKMM6YGQ/vendor.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J3HNHPNVQYHN3YRCKTOBHPRSCG4AIM776OFHHTIVK7FKLKQLSTGQ/vendors.js",
            "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js"
        ]
    },
    "operations": {
        "AcceptHandshake": {
            "input": {
                "type": "structure",
                "required": [
                    "HandshakeId"
                ],
                "members": {
                    "HandshakeId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Handshake": {
                        "shape": "S4"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMYEOZXSQT37SF3S7CJFYN5RPSHKT5NCI2AG7JS46ANFAL63PL2A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ORKTNPAS3Q7NGQTG6E4DKABSMSQTKYYPX2TYIFZ7QVS23GUTXK3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YJO6CRESWY5VENDTMFDPFWE4IOQ4K3RN2YQGQNMBQEHX6MIS2AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGROAJXGKIQMTNF5TYL3VXBSYUR74PB5I7GFRMCISFOCQKHPAJ4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFQQW3HYMUCYUSFHLHWEOUVGMXD4TIHESFCQE5YJO537TQ5OOJYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXYRNF4VO7HJBAOTWBL7KVWRVZDDFLE5UKZEVSK5EKWIBDBUBO2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZBGYLHSXADRMNUJUQYWXLTOOMIUIXKOOXWKJAURQAOOMZR52CAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYJVMIFKW3NNSJLC5MEKGAJVUEXAKIDSZJ24UJJP76NFWOOV7POQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XD4CZUZ3YYH3FGPEBQF5WMIW2J7DNZGADRLKLEDHGCKB5RTHEVIA/index.en.v2.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LA5LYQQWEN63VIL7J56GSJHODFZURGYLIMDE5GE5X7XVETTGGTZA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~253ae210.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/54J4O62LNFSXRBADDDKKQE6ZJM2FHLA4AE4WFFJU363GG3KIJKGA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6CXUBAMEMYGIWVCW7KGWJH6KRWPPQ4IYLTCF5JVWW26IJTOG3ROA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCUJVSGK3Q3B3BG2EEJ2B6KDXMNB3GUWD7PSAHCIJ7JGPGRI5LNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KORXH3DONCOLIJEX2XCZWP2D4H7ODNGPIHUZPPLOO3VKWQTK2SNA/5f5fa7cbe6807622b2387d4d4c7399eb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3JS5SASBH3KPIQSPZF34PT7PASOTIKXM3CCRAAGPKEJ6XCYIEQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700175852837/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNZAMM3H6CR6LPIIBX4SYTRKQOVCM3HLBSURG3HHYQISKKMM6YGQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3HNHPNVQYHN3YRCKTOBHPRSCG4AIM776OFHHTIVK7FKLKQLSTGQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js"
            ]
        },
        "AttachPolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "PolicyId",
                    "TargetId"
                ],
                "members": {
                    "PolicyId": {},
                    "TargetId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMYEOZXSQT37SF3S7CJFYN5RPSHKT5NCI2AG7JS46ANFAL63PL2A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ORKTNPAS3Q7NGQTG6E4DKABSMSQTKYYPX2TYIFZ7QVS23GUTXK3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YJO6CRESWY5VENDTMFDPFWE4IOQ4K3RN2YQGQNMBQEHX6MIS2AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGROAJXGKIQMTNF5TYL3VXBSYUR74PB5I7GFRMCISFOCQKHPAJ4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFQQW3HYMUCYUSFHLHWEOUVGMXD4TIHESFCQE5YJO537TQ5OOJYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXYRNF4VO7HJBAOTWBL7KVWRVZDDFLE5UKZEVSK5EKWIBDBUBO2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZBGYLHSXADRMNUJUQYWXLTOOMIUIXKOOXWKJAURQAOOMZR52CAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYJVMIFKW3NNSJLC5MEKGAJVUEXAKIDSZJ24UJJP76NFWOOV7POQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XD4CZUZ3YYH3FGPEBQF5WMIW2J7DNZGADRLKLEDHGCKB5RTHEVIA/index.en.v2.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LA5LYQQWEN63VIL7J56GSJHODFZURGYLIMDE5GE5X7XVETTGGTZA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~253ae210.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/54J4O62LNFSXRBADDDKKQE6ZJM2FHLA4AE4WFFJU363GG3KIJKGA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6CXUBAMEMYGIWVCW7KGWJH6KRWPPQ4IYLTCF5JVWW26IJTOG3ROA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCUJVSGK3Q3B3BG2EEJ2B6KDXMNB3GUWD7PSAHCIJ7JGPGRI5LNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KORXH3DONCOLIJEX2XCZWP2D4H7ODNGPIHUZPPLOO3VKWQTK2SNA/5f5fa7cbe6807622b2387d4d4c7399eb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3JS5SASBH3KPIQSPZF34PT7PASOTIKXM3CCRAAGPKEJ6XCYIEQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700175852837/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNZAMM3H6CR6LPIIBX4SYTRKQOVCM3HLBSURG3HHYQISKKMM6YGQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3HNHPNVQYHN3YRCKTOBHPRSCG4AIM776OFHHTIVK7FKLKQLSTGQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js"
            ]
        },
        "CancelHandshake": {
            "input": {
                "type": "structure",
                "required": [
                    "HandshakeId"
                ],
                "members": {
                    "HandshakeId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Handshake": {
                        "shape": "S4"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMYEOZXSQT37SF3S7CJFYN5RPSHKT5NCI2AG7JS46ANFAL63PL2A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ORKTNPAS3Q7NGQTG6E4DKABSMSQTKYYPX2TYIFZ7QVS23GUTXK3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YJO6CRESWY5VENDTMFDPFWE4IOQ4K3RN2YQGQNMBQEHX6MIS2AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGROAJXGKIQMTNF5TYL3VXBSYUR74PB5I7GFRMCISFOCQKHPAJ4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFQQW3HYMUCYUSFHLHWEOUVGMXD4TIHESFCQE5YJO537TQ5OOJYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXYRNF4VO7HJBAOTWBL7KVWRVZDDFLE5UKZEVSK5EKWIBDBUBO2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZBGYLHSXADRMNUJUQYWXLTOOMIUIXKOOXWKJAURQAOOMZR52CAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYJVMIFKW3NNSJLC5MEKGAJVUEXAKIDSZJ24UJJP76NFWOOV7POQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XD4CZUZ3YYH3FGPEBQF5WMIW2J7DNZGADRLKLEDHGCKB5RTHEVIA/index.en.v2.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LA5LYQQWEN63VIL7J56GSJHODFZURGYLIMDE5GE5X7XVETTGGTZA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~253ae210.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/54J4O62LNFSXRBADDDKKQE6ZJM2FHLA4AE4WFFJU363GG3KIJKGA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6CXUBAMEMYGIWVCW7KGWJH6KRWPPQ4IYLTCF5JVWW26IJTOG3ROA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCUJVSGK3Q3B3BG2EEJ2B6KDXMNB3GUWD7PSAHCIJ7JGPGRI5LNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KORXH3DONCOLIJEX2XCZWP2D4H7ODNGPIHUZPPLOO3VKWQTK2SNA/5f5fa7cbe6807622b2387d4d4c7399eb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3JS5SASBH3KPIQSPZF34PT7PASOTIKXM3CCRAAGPKEJ6XCYIEQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700175852837/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNZAMM3H6CR6LPIIBX4SYTRKQOVCM3HLBSURG3HHYQISKKMM6YGQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3HNHPNVQYHN3YRCKTOBHPRSCG4AIM776OFHHTIVK7FKLKQLSTGQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js"
            ]
        },
        "CreateAccount": {
            "input": {
                "type": "structure",
                "required": [
                    "Email",
                    "AccountName"
                ],
                "members": {
                    "Email": {
                        "shape": "Sn"
                    },
                    "AccountName": {
                        "shape": "So"
                    },
                    "RoleName": {},
                    "IamUserAccessToBilling": {},
                    "Tags": {
                        "shape": "Sr"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "CreateAccountStatus": {
                        "shape": "Sw"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMYEOZXSQT37SF3S7CJFYN5RPSHKT5NCI2AG7JS46ANFAL63PL2A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ORKTNPAS3Q7NGQTG6E4DKABSMSQTKYYPX2TYIFZ7QVS23GUTXK3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YJO6CRESWY5VENDTMFDPFWE4IOQ4K3RN2YQGQNMBQEHX6MIS2AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGROAJXGKIQMTNF5TYL3VXBSYUR74PB5I7GFRMCISFOCQKHPAJ4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFQQW3HYMUCYUSFHLHWEOUVGMXD4TIHESFCQE5YJO537TQ5OOJYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXYRNF4VO7HJBAOTWBL7KVWRVZDDFLE5UKZEVSK5EKWIBDBUBO2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZBGYLHSXADRMNUJUQYWXLTOOMIUIXKOOXWKJAURQAOOMZR52CAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYJVMIFKW3NNSJLC5MEKGAJVUEXAKIDSZJ24UJJP76NFWOOV7POQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XD4CZUZ3YYH3FGPEBQF5WMIW2J7DNZGADRLKLEDHGCKB5RTHEVIA/index.en.v2.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LA5LYQQWEN63VIL7J56GSJHODFZURGYLIMDE5GE5X7XVETTGGTZA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~253ae210.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/54J4O62LNFSXRBADDDKKQE6ZJM2FHLA4AE4WFFJU363GG3KIJKGA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6CXUBAMEMYGIWVCW7KGWJH6KRWPPQ4IYLTCF5JVWW26IJTOG3ROA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCUJVSGK3Q3B3BG2EEJ2B6KDXMNB3GUWD7PSAHCIJ7JGPGRI5LNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KORXH3DONCOLIJEX2XCZWP2D4H7ODNGPIHUZPPLOO3VKWQTK2SNA/5f5fa7cbe6807622b2387d4d4c7399eb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3JS5SASBH3KPIQSPZF34PT7PASOTIKXM3CCRAAGPKEJ6XCYIEQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700175852837/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNZAMM3H6CR6LPIIBX4SYTRKQOVCM3HLBSURG3HHYQISKKMM6YGQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3HNHPNVQYHN3YRCKTOBHPRSCG4AIM776OFHHTIVK7FKLKQLSTGQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js"
            ]
        },
        "CreateGovCloudAccount": {
            "input": {
                "type": "structure",
                "required": [
                    "Email",
                    "AccountName"
                ],
                "members": {
                    "Email": {
                        "shape": "Sn"
                    },
                    "AccountName": {
                        "shape": "So"
                    },
                    "RoleName": {},
                    "IamUserAccessToBilling": {},
                    "Tags": {
                        "shape": "Sr"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "CreateAccountStatus": {
                        "shape": "Sw"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMYEOZXSQT37SF3S7CJFYN5RPSHKT5NCI2AG7JS46ANFAL63PL2A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ORKTNPAS3Q7NGQTG6E4DKABSMSQTKYYPX2TYIFZ7QVS23GUTXK3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YJO6CRESWY5VENDTMFDPFWE4IOQ4K3RN2YQGQNMBQEHX6MIS2AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGROAJXGKIQMTNF5TYL3VXBSYUR74PB5I7GFRMCISFOCQKHPAJ4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFQQW3HYMUCYUSFHLHWEOUVGMXD4TIHESFCQE5YJO537TQ5OOJYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXYRNF4VO7HJBAOTWBL7KVWRVZDDFLE5UKZEVSK5EKWIBDBUBO2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZBGYLHSXADRMNUJUQYWXLTOOMIUIXKOOXWKJAURQAOOMZR52CAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYJVMIFKW3NNSJLC5MEKGAJVUEXAKIDSZJ24UJJP76NFWOOV7POQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XD4CZUZ3YYH3FGPEBQF5WMIW2J7DNZGADRLKLEDHGCKB5RTHEVIA/index.en.v2.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LA5LYQQWEN63VIL7J56GSJHODFZURGYLIMDE5GE5X7XVETTGGTZA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~253ae210.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/54J4O62LNFSXRBADDDKKQE6ZJM2FHLA4AE4WFFJU363GG3KIJKGA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6CXUBAMEMYGIWVCW7KGWJH6KRWPPQ4IYLTCF5JVWW26IJTOG3ROA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCUJVSGK3Q3B3BG2EEJ2B6KDXMNB3GUWD7PSAHCIJ7JGPGRI5LNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KORXH3DONCOLIJEX2XCZWP2D4H7ODNGPIHUZPPLOO3VKWQTK2SNA/5f5fa7cbe6807622b2387d4d4c7399eb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3JS5SASBH3KPIQSPZF34PT7PASOTIKXM3CCRAAGPKEJ6XCYIEQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700175852837/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNZAMM3H6CR6LPIIBX4SYTRKQOVCM3HLBSURG3HHYQISKKMM6YGQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3HNHPNVQYHN3YRCKTOBHPRSCG4AIM776OFHHTIVK7FKLKQLSTGQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js"
            ]
        },
        "CreateOrganization": {
            "input": {
                "type": "structure",
                "members": {
                    "FeatureSet": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Organization": {
                        "shape": "S16"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMYEOZXSQT37SF3S7CJFYN5RPSHKT5NCI2AG7JS46ANFAL63PL2A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ORKTNPAS3Q7NGQTG6E4DKABSMSQTKYYPX2TYIFZ7QVS23GUTXK3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YJO6CRESWY5VENDTMFDPFWE4IOQ4K3RN2YQGQNMBQEHX6MIS2AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGROAJXGKIQMTNF5TYL3VXBSYUR74PB5I7GFRMCISFOCQKHPAJ4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFQQW3HYMUCYUSFHLHWEOUVGMXD4TIHESFCQE5YJO537TQ5OOJYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXYRNF4VO7HJBAOTWBL7KVWRVZDDFLE5UKZEVSK5EKWIBDBUBO2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZBGYLHSXADRMNUJUQYWXLTOOMIUIXKOOXWKJAURQAOOMZR52CAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYJVMIFKW3NNSJLC5MEKGAJVUEXAKIDSZJ24UJJP76NFWOOV7POQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XD4CZUZ3YYH3FGPEBQF5WMIW2J7DNZGADRLKLEDHGCKB5RTHEVIA/index.en.v2.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LA5LYQQWEN63VIL7J56GSJHODFZURGYLIMDE5GE5X7XVETTGGTZA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~253ae210.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/54J4O62LNFSXRBADDDKKQE6ZJM2FHLA4AE4WFFJU363GG3KIJKGA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6CXUBAMEMYGIWVCW7KGWJH6KRWPPQ4IYLTCF5JVWW26IJTOG3ROA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCUJVSGK3Q3B3BG2EEJ2B6KDXMNB3GUWD7PSAHCIJ7JGPGRI5LNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KORXH3DONCOLIJEX2XCZWP2D4H7ODNGPIHUZPPLOO3VKWQTK2SNA/5f5fa7cbe6807622b2387d4d4c7399eb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3JS5SASBH3KPIQSPZF34PT7PASOTIKXM3CCRAAGPKEJ6XCYIEQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700175852837/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNZAMM3H6CR6LPIIBX4SYTRKQOVCM3HLBSURG3HHYQISKKMM6YGQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3HNHPNVQYHN3YRCKTOBHPRSCG4AIM776OFHHTIVK7FKLKQLSTGQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js"
            ]
        },
        "CreateOrganizationalUnit": {
            "input": {
                "type": "structure",
                "required": [
                    "ParentId",
                    "Name"
                ],
                "members": {
                    "ParentId": {},
                    "Name": {},
                    "Tags": {
                        "shape": "Sr"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "OrganizationalUnit": {
                        "shape": "S1i"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMYEOZXSQT37SF3S7CJFYN5RPSHKT5NCI2AG7JS46ANFAL63PL2A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ORKTNPAS3Q7NGQTG6E4DKABSMSQTKYYPX2TYIFZ7QVS23GUTXK3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YJO6CRESWY5VENDTMFDPFWE4IOQ4K3RN2YQGQNMBQEHX6MIS2AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGROAJXGKIQMTNF5TYL3VXBSYUR74PB5I7GFRMCISFOCQKHPAJ4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFQQW3HYMUCYUSFHLHWEOUVGMXD4TIHESFCQE5YJO537TQ5OOJYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXYRNF4VO7HJBAOTWBL7KVWRVZDDFLE5UKZEVSK5EKWIBDBUBO2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZBGYLHSXADRMNUJUQYWXLTOOMIUIXKOOXWKJAURQAOOMZR52CAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYJVMIFKW3NNSJLC5MEKGAJVUEXAKIDSZJ24UJJP76NFWOOV7POQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XD4CZUZ3YYH3FGPEBQF5WMIW2J7DNZGADRLKLEDHGCKB5RTHEVIA/index.en.v2.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LA5LYQQWEN63VIL7J56GSJHODFZURGYLIMDE5GE5X7XVETTGGTZA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~253ae210.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/54J4O62LNFSXRBADDDKKQE6ZJM2FHLA4AE4WFFJU363GG3KIJKGA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6CXUBAMEMYGIWVCW7KGWJH6KRWPPQ4IYLTCF5JVWW26IJTOG3ROA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCUJVSGK3Q3B3BG2EEJ2B6KDXMNB3GUWD7PSAHCIJ7JGPGRI5LNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KORXH3DONCOLIJEX2XCZWP2D4H7ODNGPIHUZPPLOO3VKWQTK2SNA/5f5fa7cbe6807622b2387d4d4c7399eb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3JS5SASBH3KPIQSPZF34PT7PASOTIKXM3CCRAAGPKEJ6XCYIEQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700175852837/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNZAMM3H6CR6LPIIBX4SYTRKQOVCM3HLBSURG3HHYQISKKMM6YGQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3HNHPNVQYHN3YRCKTOBHPRSCG4AIM776OFHHTIVK7FKLKQLSTGQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js"
            ]
        },
        "CreatePolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "Content",
                    "Description",
                    "Name",
                    "Type"
                ],
                "members": {
                    "Content": {},
                    "Description": {},
                    "Name": {},
                    "Type": {},
                    "Tags": {
                        "shape": "Sr"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Policy": {
                        "shape": "S1q"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMYEOZXSQT37SF3S7CJFYN5RPSHKT5NCI2AG7JS46ANFAL63PL2A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ORKTNPAS3Q7NGQTG6E4DKABSMSQTKYYPX2TYIFZ7QVS23GUTXK3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YJO6CRESWY5VENDTMFDPFWE4IOQ4K3RN2YQGQNMBQEHX6MIS2AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGROAJXGKIQMTNF5TYL3VXBSYUR74PB5I7GFRMCISFOCQKHPAJ4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFQQW3HYMUCYUSFHLHWEOUVGMXD4TIHESFCQE5YJO537TQ5OOJYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXYRNF4VO7HJBAOTWBL7KVWRVZDDFLE5UKZEVSK5EKWIBDBUBO2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZBGYLHSXADRMNUJUQYWXLTOOMIUIXKOOXWKJAURQAOOMZR52CAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYJVMIFKW3NNSJLC5MEKGAJVUEXAKIDSZJ24UJJP76NFWOOV7POQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XD4CZUZ3YYH3FGPEBQF5WMIW2J7DNZGADRLKLEDHGCKB5RTHEVIA/index.en.v2.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LA5LYQQWEN63VIL7J56GSJHODFZURGYLIMDE5GE5X7XVETTGGTZA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~253ae210.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/54J4O62LNFSXRBADDDKKQE6ZJM2FHLA4AE4WFFJU363GG3KIJKGA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6CXUBAMEMYGIWVCW7KGWJH6KRWPPQ4IYLTCF5JVWW26IJTOG3ROA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCUJVSGK3Q3B3BG2EEJ2B6KDXMNB3GUWD7PSAHCIJ7JGPGRI5LNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KORXH3DONCOLIJEX2XCZWP2D4H7ODNGPIHUZPPLOO3VKWQTK2SNA/5f5fa7cbe6807622b2387d4d4c7399eb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3JS5SASBH3KPIQSPZF34PT7PASOTIKXM3CCRAAGPKEJ6XCYIEQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700175852837/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNZAMM3H6CR6LPIIBX4SYTRKQOVCM3HLBSURG3HHYQISKKMM6YGQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3HNHPNVQYHN3YRCKTOBHPRSCG4AIM776OFHHTIVK7FKLKQLSTGQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js"
            ]
        },
        "DeclineHandshake": {
            "input": {
                "type": "structure",
                "required": [
                    "HandshakeId"
                ],
                "members": {
                    "HandshakeId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Handshake": {
                        "shape": "S4"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMYEOZXSQT37SF3S7CJFYN5RPSHKT5NCI2AG7JS46ANFAL63PL2A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ORKTNPAS3Q7NGQTG6E4DKABSMSQTKYYPX2TYIFZ7QVS23GUTXK3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YJO6CRESWY5VENDTMFDPFWE4IOQ4K3RN2YQGQNMBQEHX6MIS2AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGROAJXGKIQMTNF5TYL3VXBSYUR74PB5I7GFRMCISFOCQKHPAJ4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFQQW3HYMUCYUSFHLHWEOUVGMXD4TIHESFCQE5YJO537TQ5OOJYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXYRNF4VO7HJBAOTWBL7KVWRVZDDFLE5UKZEVSK5EKWIBDBUBO2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZBGYLHSXADRMNUJUQYWXLTOOMIUIXKOOXWKJAURQAOOMZR52CAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYJVMIFKW3NNSJLC5MEKGAJVUEXAKIDSZJ24UJJP76NFWOOV7POQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XD4CZUZ3YYH3FGPEBQF5WMIW2J7DNZGADRLKLEDHGCKB5RTHEVIA/index.en.v2.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LA5LYQQWEN63VIL7J56GSJHODFZURGYLIMDE5GE5X7XVETTGGTZA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~253ae210.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/54J4O62LNFSXRBADDDKKQE6ZJM2FHLA4AE4WFFJU363GG3KIJKGA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6CXUBAMEMYGIWVCW7KGWJH6KRWPPQ4IYLTCF5JVWW26IJTOG3ROA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCUJVSGK3Q3B3BG2EEJ2B6KDXMNB3GUWD7PSAHCIJ7JGPGRI5LNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KORXH3DONCOLIJEX2XCZWP2D4H7ODNGPIHUZPPLOO3VKWQTK2SNA/5f5fa7cbe6807622b2387d4d4c7399eb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3JS5SASBH3KPIQSPZF34PT7PASOTIKXM3CCRAAGPKEJ6XCYIEQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700175852837/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNZAMM3H6CR6LPIIBX4SYTRKQOVCM3HLBSURG3HHYQISKKMM6YGQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3HNHPNVQYHN3YRCKTOBHPRSCG4AIM776OFHHTIVK7FKLKQLSTGQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js"
            ]
        },
        "DeleteOrganization": {
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMYEOZXSQT37SF3S7CJFYN5RPSHKT5NCI2AG7JS46ANFAL63PL2A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ORKTNPAS3Q7NGQTG6E4DKABSMSQTKYYPX2TYIFZ7QVS23GUTXK3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YJO6CRESWY5VENDTMFDPFWE4IOQ4K3RN2YQGQNMBQEHX6MIS2AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGROAJXGKIQMTNF5TYL3VXBSYUR74PB5I7GFRMCISFOCQKHPAJ4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFQQW3HYMUCYUSFHLHWEOUVGMXD4TIHESFCQE5YJO537TQ5OOJYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXYRNF4VO7HJBAOTWBL7KVWRVZDDFLE5UKZEVSK5EKWIBDBUBO2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZBGYLHSXADRMNUJUQYWXLTOOMIUIXKOOXWKJAURQAOOMZR52CAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYJVMIFKW3NNSJLC5MEKGAJVUEXAKIDSZJ24UJJP76NFWOOV7POQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XD4CZUZ3YYH3FGPEBQF5WMIW2J7DNZGADRLKLEDHGCKB5RTHEVIA/index.en.v2.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LA5LYQQWEN63VIL7J56GSJHODFZURGYLIMDE5GE5X7XVETTGGTZA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~253ae210.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/54J4O62LNFSXRBADDDKKQE6ZJM2FHLA4AE4WFFJU363GG3KIJKGA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6CXUBAMEMYGIWVCW7KGWJH6KRWPPQ4IYLTCF5JVWW26IJTOG3ROA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCUJVSGK3Q3B3BG2EEJ2B6KDXMNB3GUWD7PSAHCIJ7JGPGRI5LNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KORXH3DONCOLIJEX2XCZWP2D4H7ODNGPIHUZPPLOO3VKWQTK2SNA/5f5fa7cbe6807622b2387d4d4c7399eb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3JS5SASBH3KPIQSPZF34PT7PASOTIKXM3CCRAAGPKEJ6XCYIEQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700175852837/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNZAMM3H6CR6LPIIBX4SYTRKQOVCM3HLBSURG3HHYQISKKMM6YGQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3HNHPNVQYHN3YRCKTOBHPRSCG4AIM776OFHHTIVK7FKLKQLSTGQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js"
            ]
        },
        "DeleteOrganizationalUnit": {
            "input": {
                "type": "structure",
                "required": [
                    "OrganizationalUnitId"
                ],
                "members": {
                    "OrganizationalUnitId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMYEOZXSQT37SF3S7CJFYN5RPSHKT5NCI2AG7JS46ANFAL63PL2A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ORKTNPAS3Q7NGQTG6E4DKABSMSQTKYYPX2TYIFZ7QVS23GUTXK3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YJO6CRESWY5VENDTMFDPFWE4IOQ4K3RN2YQGQNMBQEHX6MIS2AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGROAJXGKIQMTNF5TYL3VXBSYUR74PB5I7GFRMCISFOCQKHPAJ4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFQQW3HYMUCYUSFHLHWEOUVGMXD4TIHESFCQE5YJO537TQ5OOJYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXYRNF4VO7HJBAOTWBL7KVWRVZDDFLE5UKZEVSK5EKWIBDBUBO2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZBGYLHSXADRMNUJUQYWXLTOOMIUIXKOOXWKJAURQAOOMZR52CAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYJVMIFKW3NNSJLC5MEKGAJVUEXAKIDSZJ24UJJP76NFWOOV7POQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XD4CZUZ3YYH3FGPEBQF5WMIW2J7DNZGADRLKLEDHGCKB5RTHEVIA/index.en.v2.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LA5LYQQWEN63VIL7J56GSJHODFZURGYLIMDE5GE5X7XVETTGGTZA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~253ae210.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/54J4O62LNFSXRBADDDKKQE6ZJM2FHLA4AE4WFFJU363GG3KIJKGA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6CXUBAMEMYGIWVCW7KGWJH6KRWPPQ4IYLTCF5JVWW26IJTOG3ROA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCUJVSGK3Q3B3BG2EEJ2B6KDXMNB3GUWD7PSAHCIJ7JGPGRI5LNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KORXH3DONCOLIJEX2XCZWP2D4H7ODNGPIHUZPPLOO3VKWQTK2SNA/5f5fa7cbe6807622b2387d4d4c7399eb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3JS5SASBH3KPIQSPZF34PT7PASOTIKXM3CCRAAGPKEJ6XCYIEQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700175852837/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNZAMM3H6CR6LPIIBX4SYTRKQOVCM3HLBSURG3HHYQISKKMM6YGQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3HNHPNVQYHN3YRCKTOBHPRSCG4AIM776OFHHTIVK7FKLKQLSTGQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js"
            ]
        },
        "DeletePolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "PolicyId"
                ],
                "members": {
                    "PolicyId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMYEOZXSQT37SF3S7CJFYN5RPSHKT5NCI2AG7JS46ANFAL63PL2A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ORKTNPAS3Q7NGQTG6E4DKABSMSQTKYYPX2TYIFZ7QVS23GUTXK3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YJO6CRESWY5VENDTMFDPFWE4IOQ4K3RN2YQGQNMBQEHX6MIS2AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGROAJXGKIQMTNF5TYL3VXBSYUR74PB5I7GFRMCISFOCQKHPAJ4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFQQW3HYMUCYUSFHLHWEOUVGMXD4TIHESFCQE5YJO537TQ5OOJYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXYRNF4VO7HJBAOTWBL7KVWRVZDDFLE5UKZEVSK5EKWIBDBUBO2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZBGYLHSXADRMNUJUQYWXLTOOMIUIXKOOXWKJAURQAOOMZR52CAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYJVMIFKW3NNSJLC5MEKGAJVUEXAKIDSZJ24UJJP76NFWOOV7POQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XD4CZUZ3YYH3FGPEBQF5WMIW2J7DNZGADRLKLEDHGCKB5RTHEVIA/index.en.v2.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LA5LYQQWEN63VIL7J56GSJHODFZURGYLIMDE5GE5X7XVETTGGTZA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~253ae210.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/54J4O62LNFSXRBADDDKKQE6ZJM2FHLA4AE4WFFJU363GG3KIJKGA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6CXUBAMEMYGIWVCW7KGWJH6KRWPPQ4IYLTCF5JVWW26IJTOG3ROA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCUJVSGK3Q3B3BG2EEJ2B6KDXMNB3GUWD7PSAHCIJ7JGPGRI5LNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KORXH3DONCOLIJEX2XCZWP2D4H7ODNGPIHUZPPLOO3VKWQTK2SNA/5f5fa7cbe6807622b2387d4d4c7399eb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3JS5SASBH3KPIQSPZF34PT7PASOTIKXM3CCRAAGPKEJ6XCYIEQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700175852837/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNZAMM3H6CR6LPIIBX4SYTRKQOVCM3HLBSURG3HHYQISKKMM6YGQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3HNHPNVQYHN3YRCKTOBHPRSCG4AIM776OFHHTIVK7FKLKQLSTGQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js"
            ]
        },
        "DeregisterDelegatedAdministrator": {
            "input": {
                "type": "structure",
                "required": [
                    "AccountId",
                    "ServicePrincipal"
                ],
                "members": {
                    "AccountId": {},
                    "ServicePrincipal": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMYEOZXSQT37SF3S7CJFYN5RPSHKT5NCI2AG7JS46ANFAL63PL2A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ORKTNPAS3Q7NGQTG6E4DKABSMSQTKYYPX2TYIFZ7QVS23GUTXK3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YJO6CRESWY5VENDTMFDPFWE4IOQ4K3RN2YQGQNMBQEHX6MIS2AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGROAJXGKIQMTNF5TYL3VXBSYUR74PB5I7GFRMCISFOCQKHPAJ4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFQQW3HYMUCYUSFHLHWEOUVGMXD4TIHESFCQE5YJO537TQ5OOJYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXYRNF4VO7HJBAOTWBL7KVWRVZDDFLE5UKZEVSK5EKWIBDBUBO2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZBGYLHSXADRMNUJUQYWXLTOOMIUIXKOOXWKJAURQAOOMZR52CAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYJVMIFKW3NNSJLC5MEKGAJVUEXAKIDSZJ24UJJP76NFWOOV7POQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XD4CZUZ3YYH3FGPEBQF5WMIW2J7DNZGADRLKLEDHGCKB5RTHEVIA/index.en.v2.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LA5LYQQWEN63VIL7J56GSJHODFZURGYLIMDE5GE5X7XVETTGGTZA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~253ae210.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/54J4O62LNFSXRBADDDKKQE6ZJM2FHLA4AE4WFFJU363GG3KIJKGA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6CXUBAMEMYGIWVCW7KGWJH6KRWPPQ4IYLTCF5JVWW26IJTOG3ROA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCUJVSGK3Q3B3BG2EEJ2B6KDXMNB3GUWD7PSAHCIJ7JGPGRI5LNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KORXH3DONCOLIJEX2XCZWP2D4H7ODNGPIHUZPPLOO3VKWQTK2SNA/5f5fa7cbe6807622b2387d4d4c7399eb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3JS5SASBH3KPIQSPZF34PT7PASOTIKXM3CCRAAGPKEJ6XCYIEQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700175852837/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNZAMM3H6CR6LPIIBX4SYTRKQOVCM3HLBSURG3HHYQISKKMM6YGQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3HNHPNVQYHN3YRCKTOBHPRSCG4AIM776OFHHTIVK7FKLKQLSTGQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js"
            ]
        },
        "DescribeAccount": {
            "input": {
                "type": "structure",
                "required": [
                    "AccountId"
                ],
                "members": {
                    "AccountId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Account": {
                        "shape": "S22"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMYEOZXSQT37SF3S7CJFYN5RPSHKT5NCI2AG7JS46ANFAL63PL2A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ORKTNPAS3Q7NGQTG6E4DKABSMSQTKYYPX2TYIFZ7QVS23GUTXK3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YJO6CRESWY5VENDTMFDPFWE4IOQ4K3RN2YQGQNMBQEHX6MIS2AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGROAJXGKIQMTNF5TYL3VXBSYUR74PB5I7GFRMCISFOCQKHPAJ4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFQQW3HYMUCYUSFHLHWEOUVGMXD4TIHESFCQE5YJO537TQ5OOJYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXYRNF4VO7HJBAOTWBL7KVWRVZDDFLE5UKZEVSK5EKWIBDBUBO2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZBGYLHSXADRMNUJUQYWXLTOOMIUIXKOOXWKJAURQAOOMZR52CAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYJVMIFKW3NNSJLC5MEKGAJVUEXAKIDSZJ24UJJP76NFWOOV7POQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XD4CZUZ3YYH3FGPEBQF5WMIW2J7DNZGADRLKLEDHGCKB5RTHEVIA/index.en.v2.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LA5LYQQWEN63VIL7J56GSJHODFZURGYLIMDE5GE5X7XVETTGGTZA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~253ae210.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/54J4O62LNFSXRBADDDKKQE6ZJM2FHLA4AE4WFFJU363GG3KIJKGA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6CXUBAMEMYGIWVCW7KGWJH6KRWPPQ4IYLTCF5JVWW26IJTOG3ROA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCUJVSGK3Q3B3BG2EEJ2B6KDXMNB3GUWD7PSAHCIJ7JGPGRI5LNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KORXH3DONCOLIJEX2XCZWP2D4H7ODNGPIHUZPPLOO3VKWQTK2SNA/5f5fa7cbe6807622b2387d4d4c7399eb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3JS5SASBH3KPIQSPZF34PT7PASOTIKXM3CCRAAGPKEJ6XCYIEQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700175852837/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNZAMM3H6CR6LPIIBX4SYTRKQOVCM3HLBSURG3HHYQISKKMM6YGQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3HNHPNVQYHN3YRCKTOBHPRSCG4AIM776OFHHTIVK7FKLKQLSTGQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js"
            ]
        },
        "DescribeCreateAccountStatus": {
            "input": {
                "type": "structure",
                "required": [
                    "CreateAccountRequestId"
                ],
                "members": {
                    "CreateAccountRequestId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "CreateAccountStatus": {
                        "shape": "Sw"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMYEOZXSQT37SF3S7CJFYN5RPSHKT5NCI2AG7JS46ANFAL63PL2A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ORKTNPAS3Q7NGQTG6E4DKABSMSQTKYYPX2TYIFZ7QVS23GUTXK3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YJO6CRESWY5VENDTMFDPFWE4IOQ4K3RN2YQGQNMBQEHX6MIS2AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGROAJXGKIQMTNF5TYL3VXBSYUR74PB5I7GFRMCISFOCQKHPAJ4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFQQW3HYMUCYUSFHLHWEOUVGMXD4TIHESFCQE5YJO537TQ5OOJYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXYRNF4VO7HJBAOTWBL7KVWRVZDDFLE5UKZEVSK5EKWIBDBUBO2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZBGYLHSXADRMNUJUQYWXLTOOMIUIXKOOXWKJAURQAOOMZR52CAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYJVMIFKW3NNSJLC5MEKGAJVUEXAKIDSZJ24UJJP76NFWOOV7POQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XD4CZUZ3YYH3FGPEBQF5WMIW2J7DNZGADRLKLEDHGCKB5RTHEVIA/index.en.v2.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LA5LYQQWEN63VIL7J56GSJHODFZURGYLIMDE5GE5X7XVETTGGTZA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~253ae210.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/54J4O62LNFSXRBADDDKKQE6ZJM2FHLA4AE4WFFJU363GG3KIJKGA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6CXUBAMEMYGIWVCW7KGWJH6KRWPPQ4IYLTCF5JVWW26IJTOG3ROA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCUJVSGK3Q3B3BG2EEJ2B6KDXMNB3GUWD7PSAHCIJ7JGPGRI5LNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KORXH3DONCOLIJEX2XCZWP2D4H7ODNGPIHUZPPLOO3VKWQTK2SNA/5f5fa7cbe6807622b2387d4d4c7399eb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3JS5SASBH3KPIQSPZF34PT7PASOTIKXM3CCRAAGPKEJ6XCYIEQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700175852837/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNZAMM3H6CR6LPIIBX4SYTRKQOVCM3HLBSURG3HHYQISKKMM6YGQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3HNHPNVQYHN3YRCKTOBHPRSCG4AIM776OFHHTIVK7FKLKQLSTGQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js"
            ]
        },
        "DescribeEffectivePolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "PolicyType"
                ],
                "members": {
                    "PolicyType": {},
                    "TargetId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "EffectivePolicy": {
                        "type": "structure",
                        "members": {
                            "PolicyContent": {},
                            "LastUpdatedTimestamp": {
                                "type": "timestamp"
                            },
                            "TargetId": {},
                            "PolicyType": {}
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMYEOZXSQT37SF3S7CJFYN5RPSHKT5NCI2AG7JS46ANFAL63PL2A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ORKTNPAS3Q7NGQTG6E4DKABSMSQTKYYPX2TYIFZ7QVS23GUTXK3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YJO6CRESWY5VENDTMFDPFWE4IOQ4K3RN2YQGQNMBQEHX6MIS2AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGROAJXGKIQMTNF5TYL3VXBSYUR74PB5I7GFRMCISFOCQKHPAJ4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFQQW3HYMUCYUSFHLHWEOUVGMXD4TIHESFCQE5YJO537TQ5OOJYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXYRNF4VO7HJBAOTWBL7KVWRVZDDFLE5UKZEVSK5EKWIBDBUBO2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZBGYLHSXADRMNUJUQYWXLTOOMIUIXKOOXWKJAURQAOOMZR52CAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYJVMIFKW3NNSJLC5MEKGAJVUEXAKIDSZJ24UJJP76NFWOOV7POQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XD4CZUZ3YYH3FGPEBQF5WMIW2J7DNZGADRLKLEDHGCKB5RTHEVIA/index.en.v2.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LA5LYQQWEN63VIL7J56GSJHODFZURGYLIMDE5GE5X7XVETTGGTZA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~253ae210.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/54J4O62LNFSXRBADDDKKQE6ZJM2FHLA4AE4WFFJU363GG3KIJKGA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6CXUBAMEMYGIWVCW7KGWJH6KRWPPQ4IYLTCF5JVWW26IJTOG3ROA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCUJVSGK3Q3B3BG2EEJ2B6KDXMNB3GUWD7PSAHCIJ7JGPGRI5LNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KORXH3DONCOLIJEX2XCZWP2D4H7ODNGPIHUZPPLOO3VKWQTK2SNA/5f5fa7cbe6807622b2387d4d4c7399eb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3JS5SASBH3KPIQSPZF34PT7PASOTIKXM3CCRAAGPKEJ6XCYIEQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700175852837/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNZAMM3H6CR6LPIIBX4SYTRKQOVCM3HLBSURG3HHYQISKKMM6YGQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3HNHPNVQYHN3YRCKTOBHPRSCG4AIM776OFHHTIVK7FKLKQLSTGQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js"
            ]
        },
        "DescribeHandshake": {
            "input": {
                "type": "structure",
                "required": [
                    "HandshakeId"
                ],
                "members": {
                    "HandshakeId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Handshake": {
                        "shape": "S4"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMYEOZXSQT37SF3S7CJFYN5RPSHKT5NCI2AG7JS46ANFAL63PL2A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ORKTNPAS3Q7NGQTG6E4DKABSMSQTKYYPX2TYIFZ7QVS23GUTXK3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YJO6CRESWY5VENDTMFDPFWE4IOQ4K3RN2YQGQNMBQEHX6MIS2AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGROAJXGKIQMTNF5TYL3VXBSYUR74PB5I7GFRMCISFOCQKHPAJ4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFQQW3HYMUCYUSFHLHWEOUVGMXD4TIHESFCQE5YJO537TQ5OOJYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXYRNF4VO7HJBAOTWBL7KVWRVZDDFLE5UKZEVSK5EKWIBDBUBO2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZBGYLHSXADRMNUJUQYWXLTOOMIUIXKOOXWKJAURQAOOMZR52CAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYJVMIFKW3NNSJLC5MEKGAJVUEXAKIDSZJ24UJJP76NFWOOV7POQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XD4CZUZ3YYH3FGPEBQF5WMIW2J7DNZGADRLKLEDHGCKB5RTHEVIA/index.en.v2.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LA5LYQQWEN63VIL7J56GSJHODFZURGYLIMDE5GE5X7XVETTGGTZA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~253ae210.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/54J4O62LNFSXRBADDDKKQE6ZJM2FHLA4AE4WFFJU363GG3KIJKGA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6CXUBAMEMYGIWVCW7KGWJH6KRWPPQ4IYLTCF5JVWW26IJTOG3ROA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCUJVSGK3Q3B3BG2EEJ2B6KDXMNB3GUWD7PSAHCIJ7JGPGRI5LNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KORXH3DONCOLIJEX2XCZWP2D4H7ODNGPIHUZPPLOO3VKWQTK2SNA/5f5fa7cbe6807622b2387d4d4c7399eb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3JS5SASBH3KPIQSPZF34PT7PASOTIKXM3CCRAAGPKEJ6XCYIEQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700175852837/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNZAMM3H6CR6LPIIBX4SYTRKQOVCM3HLBSURG3HHYQISKKMM6YGQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3HNHPNVQYHN3YRCKTOBHPRSCG4AIM776OFHHTIVK7FKLKQLSTGQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js"
            ]
        },
        "DescribeOrganization": {
            "output": {
                "type": "structure",
                "members": {
                    "Organization": {
                        "shape": "S16"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMYEOZXSQT37SF3S7CJFYN5RPSHKT5NCI2AG7JS46ANFAL63PL2A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ORKTNPAS3Q7NGQTG6E4DKABSMSQTKYYPX2TYIFZ7QVS23GUTXK3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YJO6CRESWY5VENDTMFDPFWE4IOQ4K3RN2YQGQNMBQEHX6MIS2AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGROAJXGKIQMTNF5TYL3VXBSYUR74PB5I7GFRMCISFOCQKHPAJ4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFQQW3HYMUCYUSFHLHWEOUVGMXD4TIHESFCQE5YJO537TQ5OOJYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXYRNF4VO7HJBAOTWBL7KVWRVZDDFLE5UKZEVSK5EKWIBDBUBO2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZBGYLHSXADRMNUJUQYWXLTOOMIUIXKOOXWKJAURQAOOMZR52CAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYJVMIFKW3NNSJLC5MEKGAJVUEXAKIDSZJ24UJJP76NFWOOV7POQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XD4CZUZ3YYH3FGPEBQF5WMIW2J7DNZGADRLKLEDHGCKB5RTHEVIA/index.en.v2.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LA5LYQQWEN63VIL7J56GSJHODFZURGYLIMDE5GE5X7XVETTGGTZA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~253ae210.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/54J4O62LNFSXRBADDDKKQE6ZJM2FHLA4AE4WFFJU363GG3KIJKGA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6CXUBAMEMYGIWVCW7KGWJH6KRWPPQ4IYLTCF5JVWW26IJTOG3ROA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCUJVSGK3Q3B3BG2EEJ2B6KDXMNB3GUWD7PSAHCIJ7JGPGRI5LNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KORXH3DONCOLIJEX2XCZWP2D4H7ODNGPIHUZPPLOO3VKWQTK2SNA/5f5fa7cbe6807622b2387d4d4c7399eb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3JS5SASBH3KPIQSPZF34PT7PASOTIKXM3CCRAAGPKEJ6XCYIEQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700175852837/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNZAMM3H6CR6LPIIBX4SYTRKQOVCM3HLBSURG3HHYQISKKMM6YGQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3HNHPNVQYHN3YRCKTOBHPRSCG4AIM776OFHHTIVK7FKLKQLSTGQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js"
            ]
        },
        "DescribeOrganizationalUnit": {
            "input": {
                "type": "structure",
                "required": [
                    "OrganizationalUnitId"
                ],
                "members": {
                    "OrganizationalUnitId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "OrganizationalUnit": {
                        "shape": "S1i"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMYEOZXSQT37SF3S7CJFYN5RPSHKT5NCI2AG7JS46ANFAL63PL2A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ORKTNPAS3Q7NGQTG6E4DKABSMSQTKYYPX2TYIFZ7QVS23GUTXK3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YJO6CRESWY5VENDTMFDPFWE4IOQ4K3RN2YQGQNMBQEHX6MIS2AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGROAJXGKIQMTNF5TYL3VXBSYUR74PB5I7GFRMCISFOCQKHPAJ4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFQQW3HYMUCYUSFHLHWEOUVGMXD4TIHESFCQE5YJO537TQ5OOJYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXYRNF4VO7HJBAOTWBL7KVWRVZDDFLE5UKZEVSK5EKWIBDBUBO2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZBGYLHSXADRMNUJUQYWXLTOOMIUIXKOOXWKJAURQAOOMZR52CAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYJVMIFKW3NNSJLC5MEKGAJVUEXAKIDSZJ24UJJP76NFWOOV7POQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XD4CZUZ3YYH3FGPEBQF5WMIW2J7DNZGADRLKLEDHGCKB5RTHEVIA/index.en.v2.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LA5LYQQWEN63VIL7J56GSJHODFZURGYLIMDE5GE5X7XVETTGGTZA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~253ae210.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/54J4O62LNFSXRBADDDKKQE6ZJM2FHLA4AE4WFFJU363GG3KIJKGA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6CXUBAMEMYGIWVCW7KGWJH6KRWPPQ4IYLTCF5JVWW26IJTOG3ROA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCUJVSGK3Q3B3BG2EEJ2B6KDXMNB3GUWD7PSAHCIJ7JGPGRI5LNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KORXH3DONCOLIJEX2XCZWP2D4H7ODNGPIHUZPPLOO3VKWQTK2SNA/5f5fa7cbe6807622b2387d4d4c7399eb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3JS5SASBH3KPIQSPZF34PT7PASOTIKXM3CCRAAGPKEJ6XCYIEQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700175852837/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNZAMM3H6CR6LPIIBX4SYTRKQOVCM3HLBSURG3HHYQISKKMM6YGQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3HNHPNVQYHN3YRCKTOBHPRSCG4AIM776OFHHTIVK7FKLKQLSTGQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js"
            ]
        },
        "DescribePolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "PolicyId"
                ],
                "members": {
                    "PolicyId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Policy": {
                        "shape": "S1q"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMYEOZXSQT37SF3S7CJFYN5RPSHKT5NCI2AG7JS46ANFAL63PL2A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ORKTNPAS3Q7NGQTG6E4DKABSMSQTKYYPX2TYIFZ7QVS23GUTXK3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YJO6CRESWY5VENDTMFDPFWE4IOQ4K3RN2YQGQNMBQEHX6MIS2AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGROAJXGKIQMTNF5TYL3VXBSYUR74PB5I7GFRMCISFOCQKHPAJ4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFQQW3HYMUCYUSFHLHWEOUVGMXD4TIHESFCQE5YJO537TQ5OOJYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXYRNF4VO7HJBAOTWBL7KVWRVZDDFLE5UKZEVSK5EKWIBDBUBO2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZBGYLHSXADRMNUJUQYWXLTOOMIUIXKOOXWKJAURQAOOMZR52CAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYJVMIFKW3NNSJLC5MEKGAJVUEXAKIDSZJ24UJJP76NFWOOV7POQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XD4CZUZ3YYH3FGPEBQF5WMIW2J7DNZGADRLKLEDHGCKB5RTHEVIA/index.en.v2.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LA5LYQQWEN63VIL7J56GSJHODFZURGYLIMDE5GE5X7XVETTGGTZA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~253ae210.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/54J4O62LNFSXRBADDDKKQE6ZJM2FHLA4AE4WFFJU363GG3KIJKGA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6CXUBAMEMYGIWVCW7KGWJH6KRWPPQ4IYLTCF5JVWW26IJTOG3ROA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCUJVSGK3Q3B3BG2EEJ2B6KDXMNB3GUWD7PSAHCIJ7JGPGRI5LNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KORXH3DONCOLIJEX2XCZWP2D4H7ODNGPIHUZPPLOO3VKWQTK2SNA/5f5fa7cbe6807622b2387d4d4c7399eb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3JS5SASBH3KPIQSPZF34PT7PASOTIKXM3CCRAAGPKEJ6XCYIEQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700175852837/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNZAMM3H6CR6LPIIBX4SYTRKQOVCM3HLBSURG3HHYQISKKMM6YGQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3HNHPNVQYHN3YRCKTOBHPRSCG4AIM776OFHHTIVK7FKLKQLSTGQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js"
            ]
        },
        "DetachPolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "PolicyId",
                    "TargetId"
                ],
                "members": {
                    "PolicyId": {},
                    "TargetId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMYEOZXSQT37SF3S7CJFYN5RPSHKT5NCI2AG7JS46ANFAL63PL2A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ORKTNPAS3Q7NGQTG6E4DKABSMSQTKYYPX2TYIFZ7QVS23GUTXK3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YJO6CRESWY5VENDTMFDPFWE4IOQ4K3RN2YQGQNMBQEHX6MIS2AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGROAJXGKIQMTNF5TYL3VXBSYUR74PB5I7GFRMCISFOCQKHPAJ4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFQQW3HYMUCYUSFHLHWEOUVGMXD4TIHESFCQE5YJO537TQ5OOJYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXYRNF4VO7HJBAOTWBL7KVWRVZDDFLE5UKZEVSK5EKWIBDBUBO2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZBGYLHSXADRMNUJUQYWXLTOOMIUIXKOOXWKJAURQAOOMZR52CAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYJVMIFKW3NNSJLC5MEKGAJVUEXAKIDSZJ24UJJP76NFWOOV7POQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XD4CZUZ3YYH3FGPEBQF5WMIW2J7DNZGADRLKLEDHGCKB5RTHEVIA/index.en.v2.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LA5LYQQWEN63VIL7J56GSJHODFZURGYLIMDE5GE5X7XVETTGGTZA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~253ae210.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/54J4O62LNFSXRBADDDKKQE6ZJM2FHLA4AE4WFFJU363GG3KIJKGA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6CXUBAMEMYGIWVCW7KGWJH6KRWPPQ4IYLTCF5JVWW26IJTOG3ROA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCUJVSGK3Q3B3BG2EEJ2B6KDXMNB3GUWD7PSAHCIJ7JGPGRI5LNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KORXH3DONCOLIJEX2XCZWP2D4H7ODNGPIHUZPPLOO3VKWQTK2SNA/5f5fa7cbe6807622b2387d4d4c7399eb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3JS5SASBH3KPIQSPZF34PT7PASOTIKXM3CCRAAGPKEJ6XCYIEQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700175852837/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNZAMM3H6CR6LPIIBX4SYTRKQOVCM3HLBSURG3HHYQISKKMM6YGQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3HNHPNVQYHN3YRCKTOBHPRSCG4AIM776OFHHTIVK7FKLKQLSTGQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js"
            ]
        },
        "DisableAWSServiceAccess": {
            "input": {
                "type": "structure",
                "required": [
                    "ServicePrincipal"
                ],
                "members": {
                    "ServicePrincipal": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMYEOZXSQT37SF3S7CJFYN5RPSHKT5NCI2AG7JS46ANFAL63PL2A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ORKTNPAS3Q7NGQTG6E4DKABSMSQTKYYPX2TYIFZ7QVS23GUTXK3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YJO6CRESWY5VENDTMFDPFWE4IOQ4K3RN2YQGQNMBQEHX6MIS2AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGROAJXGKIQMTNF5TYL3VXBSYUR74PB5I7GFRMCISFOCQKHPAJ4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFQQW3HYMUCYUSFHLHWEOUVGMXD4TIHESFCQE5YJO537TQ5OOJYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXYRNF4VO7HJBAOTWBL7KVWRVZDDFLE5UKZEVSK5EKWIBDBUBO2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZBGYLHSXADRMNUJUQYWXLTOOMIUIXKOOXWKJAURQAOOMZR52CAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYJVMIFKW3NNSJLC5MEKGAJVUEXAKIDSZJ24UJJP76NFWOOV7POQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XD4CZUZ3YYH3FGPEBQF5WMIW2J7DNZGADRLKLEDHGCKB5RTHEVIA/index.en.v2.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LA5LYQQWEN63VIL7J56GSJHODFZURGYLIMDE5GE5X7XVETTGGTZA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~253ae210.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/54J4O62LNFSXRBADDDKKQE6ZJM2FHLA4AE4WFFJU363GG3KIJKGA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6CXUBAMEMYGIWVCW7KGWJH6KRWPPQ4IYLTCF5JVWW26IJTOG3ROA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCUJVSGK3Q3B3BG2EEJ2B6KDXMNB3GUWD7PSAHCIJ7JGPGRI5LNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KORXH3DONCOLIJEX2XCZWP2D4H7ODNGPIHUZPPLOO3VKWQTK2SNA/5f5fa7cbe6807622b2387d4d4c7399eb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3JS5SASBH3KPIQSPZF34PT7PASOTIKXM3CCRAAGPKEJ6XCYIEQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700175852837/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNZAMM3H6CR6LPIIBX4SYTRKQOVCM3HLBSURG3HHYQISKKMM6YGQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3HNHPNVQYHN3YRCKTOBHPRSCG4AIM776OFHHTIVK7FKLKQLSTGQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js"
            ]
        },
        "DisablePolicyType": {
            "input": {
                "type": "structure",
                "required": [
                    "RootId",
                    "PolicyType"
                ],
                "members": {
                    "RootId": {},
                    "PolicyType": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Root": {
                        "shape": "S2n"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMYEOZXSQT37SF3S7CJFYN5RPSHKT5NCI2AG7JS46ANFAL63PL2A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ORKTNPAS3Q7NGQTG6E4DKABSMSQTKYYPX2TYIFZ7QVS23GUTXK3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YJO6CRESWY5VENDTMFDPFWE4IOQ4K3RN2YQGQNMBQEHX6MIS2AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGROAJXGKIQMTNF5TYL3VXBSYUR74PB5I7GFRMCISFOCQKHPAJ4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFQQW3HYMUCYUSFHLHWEOUVGMXD4TIHESFCQE5YJO537TQ5OOJYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXYRNF4VO7HJBAOTWBL7KVWRVZDDFLE5UKZEVSK5EKWIBDBUBO2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZBGYLHSXADRMNUJUQYWXLTOOMIUIXKOOXWKJAURQAOOMZR52CAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYJVMIFKW3NNSJLC5MEKGAJVUEXAKIDSZJ24UJJP76NFWOOV7POQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XD4CZUZ3YYH3FGPEBQF5WMIW2J7DNZGADRLKLEDHGCKB5RTHEVIA/index.en.v2.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LA5LYQQWEN63VIL7J56GSJHODFZURGYLIMDE5GE5X7XVETTGGTZA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~253ae210.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/54J4O62LNFSXRBADDDKKQE6ZJM2FHLA4AE4WFFJU363GG3KIJKGA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6CXUBAMEMYGIWVCW7KGWJH6KRWPPQ4IYLTCF5JVWW26IJTOG3ROA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCUJVSGK3Q3B3BG2EEJ2B6KDXMNB3GUWD7PSAHCIJ7JGPGRI5LNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KORXH3DONCOLIJEX2XCZWP2D4H7ODNGPIHUZPPLOO3VKWQTK2SNA/5f5fa7cbe6807622b2387d4d4c7399eb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3JS5SASBH3KPIQSPZF34PT7PASOTIKXM3CCRAAGPKEJ6XCYIEQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700175852837/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNZAMM3H6CR6LPIIBX4SYTRKQOVCM3HLBSURG3HHYQISKKMM6YGQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3HNHPNVQYHN3YRCKTOBHPRSCG4AIM776OFHHTIVK7FKLKQLSTGQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js"
            ]
        },
        "EnableAWSServiceAccess": {
            "input": {
                "type": "structure",
                "required": [
                    "ServicePrincipal"
                ],
                "members": {
                    "ServicePrincipal": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMYEOZXSQT37SF3S7CJFYN5RPSHKT5NCI2AG7JS46ANFAL63PL2A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ORKTNPAS3Q7NGQTG6E4DKABSMSQTKYYPX2TYIFZ7QVS23GUTXK3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YJO6CRESWY5VENDTMFDPFWE4IOQ4K3RN2YQGQNMBQEHX6MIS2AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGROAJXGKIQMTNF5TYL3VXBSYUR74PB5I7GFRMCISFOCQKHPAJ4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFQQW3HYMUCYUSFHLHWEOUVGMXD4TIHESFCQE5YJO537TQ5OOJYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXYRNF4VO7HJBAOTWBL7KVWRVZDDFLE5UKZEVSK5EKWIBDBUBO2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZBGYLHSXADRMNUJUQYWXLTOOMIUIXKOOXWKJAURQAOOMZR52CAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYJVMIFKW3NNSJLC5MEKGAJVUEXAKIDSZJ24UJJP76NFWOOV7POQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XD4CZUZ3YYH3FGPEBQF5WMIW2J7DNZGADRLKLEDHGCKB5RTHEVIA/index.en.v2.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LA5LYQQWEN63VIL7J56GSJHODFZURGYLIMDE5GE5X7XVETTGGTZA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~253ae210.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/54J4O62LNFSXRBADDDKKQE6ZJM2FHLA4AE4WFFJU363GG3KIJKGA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6CXUBAMEMYGIWVCW7KGWJH6KRWPPQ4IYLTCF5JVWW26IJTOG3ROA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCUJVSGK3Q3B3BG2EEJ2B6KDXMNB3GUWD7PSAHCIJ7JGPGRI5LNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KORXH3DONCOLIJEX2XCZWP2D4H7ODNGPIHUZPPLOO3VKWQTK2SNA/5f5fa7cbe6807622b2387d4d4c7399eb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3JS5SASBH3KPIQSPZF34PT7PASOTIKXM3CCRAAGPKEJ6XCYIEQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700175852837/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNZAMM3H6CR6LPIIBX4SYTRKQOVCM3HLBSURG3HHYQISKKMM6YGQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3HNHPNVQYHN3YRCKTOBHPRSCG4AIM776OFHHTIVK7FKLKQLSTGQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js"
            ]
        },
        "EnableAllFeatures": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "Handshake": {
                        "shape": "S4"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMYEOZXSQT37SF3S7CJFYN5RPSHKT5NCI2AG7JS46ANFAL63PL2A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ORKTNPAS3Q7NGQTG6E4DKABSMSQTKYYPX2TYIFZ7QVS23GUTXK3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YJO6CRESWY5VENDTMFDPFWE4IOQ4K3RN2YQGQNMBQEHX6MIS2AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGROAJXGKIQMTNF5TYL3VXBSYUR74PB5I7GFRMCISFOCQKHPAJ4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFQQW3HYMUCYUSFHLHWEOUVGMXD4TIHESFCQE5YJO537TQ5OOJYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXYRNF4VO7HJBAOTWBL7KVWRVZDDFLE5UKZEVSK5EKWIBDBUBO2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZBGYLHSXADRMNUJUQYWXLTOOMIUIXKOOXWKJAURQAOOMZR52CAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYJVMIFKW3NNSJLC5MEKGAJVUEXAKIDSZJ24UJJP76NFWOOV7POQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XD4CZUZ3YYH3FGPEBQF5WMIW2J7DNZGADRLKLEDHGCKB5RTHEVIA/index.en.v2.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LA5LYQQWEN63VIL7J56GSJHODFZURGYLIMDE5GE5X7XVETTGGTZA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~253ae210.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/54J4O62LNFSXRBADDDKKQE6ZJM2FHLA4AE4WFFJU363GG3KIJKGA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6CXUBAMEMYGIWVCW7KGWJH6KRWPPQ4IYLTCF5JVWW26IJTOG3ROA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCUJVSGK3Q3B3BG2EEJ2B6KDXMNB3GUWD7PSAHCIJ7JGPGRI5LNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KORXH3DONCOLIJEX2XCZWP2D4H7ODNGPIHUZPPLOO3VKWQTK2SNA/5f5fa7cbe6807622b2387d4d4c7399eb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3JS5SASBH3KPIQSPZF34PT7PASOTIKXM3CCRAAGPKEJ6XCYIEQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700175852837/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNZAMM3H6CR6LPIIBX4SYTRKQOVCM3HLBSURG3HHYQISKKMM6YGQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3HNHPNVQYHN3YRCKTOBHPRSCG4AIM776OFHHTIVK7FKLKQLSTGQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js"
            ]
        },
        "EnablePolicyType": {
            "input": {
                "type": "structure",
                "required": [
                    "RootId",
                    "PolicyType"
                ],
                "members": {
                    "RootId": {},
                    "PolicyType": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Root": {
                        "shape": "S2n"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMYEOZXSQT37SF3S7CJFYN5RPSHKT5NCI2AG7JS46ANFAL63PL2A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ORKTNPAS3Q7NGQTG6E4DKABSMSQTKYYPX2TYIFZ7QVS23GUTXK3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YJO6CRESWY5VENDTMFDPFWE4IOQ4K3RN2YQGQNMBQEHX6MIS2AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGROAJXGKIQMTNF5TYL3VXBSYUR74PB5I7GFRMCISFOCQKHPAJ4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFQQW3HYMUCYUSFHLHWEOUVGMXD4TIHESFCQE5YJO537TQ5OOJYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXYRNF4VO7HJBAOTWBL7KVWRVZDDFLE5UKZEVSK5EKWIBDBUBO2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZBGYLHSXADRMNUJUQYWXLTOOMIUIXKOOXWKJAURQAOOMZR52CAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYJVMIFKW3NNSJLC5MEKGAJVUEXAKIDSZJ24UJJP76NFWOOV7POQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XD4CZUZ3YYH3FGPEBQF5WMIW2J7DNZGADRLKLEDHGCKB5RTHEVIA/index.en.v2.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LA5LYQQWEN63VIL7J56GSJHODFZURGYLIMDE5GE5X7XVETTGGTZA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~253ae210.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/54J4O62LNFSXRBADDDKKQE6ZJM2FHLA4AE4WFFJU363GG3KIJKGA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6CXUBAMEMYGIWVCW7KGWJH6KRWPPQ4IYLTCF5JVWW26IJTOG3ROA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCUJVSGK3Q3B3BG2EEJ2B6KDXMNB3GUWD7PSAHCIJ7JGPGRI5LNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KORXH3DONCOLIJEX2XCZWP2D4H7ODNGPIHUZPPLOO3VKWQTK2SNA/5f5fa7cbe6807622b2387d4d4c7399eb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3JS5SASBH3KPIQSPZF34PT7PASOTIKXM3CCRAAGPKEJ6XCYIEQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700175852837/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNZAMM3H6CR6LPIIBX4SYTRKQOVCM3HLBSURG3HHYQISKKMM6YGQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3HNHPNVQYHN3YRCKTOBHPRSCG4AIM776OFHHTIVK7FKLKQLSTGQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js"
            ]
        },
        "InviteAccountToOrganization": {
            "input": {
                "type": "structure",
                "required": [
                    "Target"
                ],
                "members": {
                    "Target": {
                        "shape": "S7"
                    },
                    "Notes": {
                        "type": "string",
                        "sensitive": true
                    },
                    "Tags": {
                        "shape": "Sr"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Handshake": {
                        "shape": "S4"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMYEOZXSQT37SF3S7CJFYN5RPSHKT5NCI2AG7JS46ANFAL63PL2A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ORKTNPAS3Q7NGQTG6E4DKABSMSQTKYYPX2TYIFZ7QVS23GUTXK3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YJO6CRESWY5VENDTMFDPFWE4IOQ4K3RN2YQGQNMBQEHX6MIS2AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGROAJXGKIQMTNF5TYL3VXBSYUR74PB5I7GFRMCISFOCQKHPAJ4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFQQW3HYMUCYUSFHLHWEOUVGMXD4TIHESFCQE5YJO537TQ5OOJYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXYRNF4VO7HJBAOTWBL7KVWRVZDDFLE5UKZEVSK5EKWIBDBUBO2A/vendors.js",
[...]
