{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2016-11-28",
        "endpointPrefix": "organizations",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceAbbreviation": "Organizations",
        "serviceFullName": "AWS Organizations",
        "serviceId": "Organizations",
        "signatureVersion": "v4",
        "targetPrefix": "AWSOrganizationsV20161128",
        "uid": "organizations-2016-11-28",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/IFZBZH7BX5XGZB2MMSENB35CIR6QSLMDERAZ2WIFBTKO4TPUBIYQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WK2LRSOYZJR7KQGYB53VGD663ZMFSVE7UBZGKZCHQY4BGUT5F5ZA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KKZXD3VUUWA5VLEPY43VJJNIIHC5BOC5GQZ3EH3627QWV2V2XURQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TSQWZJAVT23WM3TZMKPAR7H5TK644ETOF7JVZGSL2HN54GPHESFA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DKTROLU7ZUPAZ4YPZOHDVVN6Q5PNP56MFIM7KRKLR423BTAGJ4WQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L23NFAR3XXQN2FUBFGQDXLLPHTXUPXYT624UTUG77X46EBRFA64Q/index.en.v2.js",
            "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NJE5JIZKXR42GGMTQC6VAQIGUNLUV3VNCZX7CVPNATXSWSFP7SWA/vendor.awssdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~253ae210.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5MQIMQVJG2VAC223S2QWZ7BWWTMJZRXORRD3E3BH2PRXPXG56BHA/ta_polaris.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QJWVQDWKJAZC647WFQMC2EICZQSXVXWBVROHWQV5T5SP5BHDHLVA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GDCI4PIC5KJKTSU5SLDVTETW6BWQPL7LE7L6LUVR36Y4UVBFE2HA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DFURIOS7SFW6TEL2P63BT6COM7O55XZ73SNDX7TTWWN4ZXNHIROA/d29f77a29bc46792218be16e7efa26e8.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Q5SVEZPGI4ENGXOTXA63ES3YF7QK4PQO6Q5Z6RD2IW6LITGO5IVQ/bundle.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ARIQE4PSDORKOR33J7UMMYCSB5IS2NDXYKVM4V76B7CBQDAUQCCQ/79b4e3a50f93a1f6241c7d8d786d2d3b.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QMMDLSXJBJQWUCP5REHNCUCMGSSVJFGV46FF56ZAJ32IPAH7LSMA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
            "https://d29sfhxsuc7nqn.cloudfront.net/content/9d58dd03-11ab-4718-9d06-8679bc790d78/vendorv3.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
            "https://d3gz1r5kdm6nwl.cloudfront.net/1714585375184/main_en.js"
        ]
    },
    "operations": {
        "AcceptHandshake": {
            "input": {
                "type": "structure",
                "required": [
                    "HandshakeId"
                ],
                "members": {
                    "HandshakeId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Handshake": {
                        "shape": "S4"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WK2LRSOYZJR7KQGYB53VGD663ZMFSVE7UBZGKZCHQY4BGUT5F5ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKZXD3VUUWA5VLEPY43VJJNIIHC5BOC5GQZ3EH3627QWV2V2XURQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSQWZJAVT23WM3TZMKPAR7H5TK644ETOF7JVZGSL2HN54GPHESFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKTROLU7ZUPAZ4YPZOHDVVN6Q5PNP56MFIM7KRKLR423BTAGJ4WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L23NFAR3XXQN2FUBFGQDXLLPHTXUPXYT624UTUG77X46EBRFA64Q/index.en.v2.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJE5JIZKXR42GGMTQC6VAQIGUNLUV3VNCZX7CVPNATXSWSFP7SWA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~253ae210.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MQIMQVJG2VAC223S2QWZ7BWWTMJZRXORRD3E3BH2PRXPXG56BHA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJWVQDWKJAZC647WFQMC2EICZQSXVXWBVROHWQV5T5SP5BHDHLVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDCI4PIC5KJKTSU5SLDVTETW6BWQPL7LE7L6LUVR36Y4UVBFE2HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFURIOS7SFW6TEL2P63BT6COM7O55XZ73SNDX7TTWWN4ZXNHIROA/d29f77a29bc46792218be16e7efa26e8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5SVEZPGI4ENGXOTXA63ES3YF7QK4PQO6Q5Z6RD2IW6LITGO5IVQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ARIQE4PSDORKOR33J7UMMYCSB5IS2NDXYKVM4V76B7CBQDAUQCCQ/79b4e3a50f93a1f6241c7d8d786d2d3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMMDLSXJBJQWUCP5REHNCUCMGSSVJFGV46FF56ZAJ32IPAH7LSMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9d58dd03-11ab-4718-9d06-8679bc790d78/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714585375184/main_en.js"
            ]
        },
        "AttachPolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "PolicyId",
                    "TargetId"
                ],
                "members": {
                    "PolicyId": {},
                    "TargetId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WK2LRSOYZJR7KQGYB53VGD663ZMFSVE7UBZGKZCHQY4BGUT5F5ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKZXD3VUUWA5VLEPY43VJJNIIHC5BOC5GQZ3EH3627QWV2V2XURQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSQWZJAVT23WM3TZMKPAR7H5TK644ETOF7JVZGSL2HN54GPHESFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKTROLU7ZUPAZ4YPZOHDVVN6Q5PNP56MFIM7KRKLR423BTAGJ4WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L23NFAR3XXQN2FUBFGQDXLLPHTXUPXYT624UTUG77X46EBRFA64Q/index.en.v2.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJE5JIZKXR42GGMTQC6VAQIGUNLUV3VNCZX7CVPNATXSWSFP7SWA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~253ae210.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MQIMQVJG2VAC223S2QWZ7BWWTMJZRXORRD3E3BH2PRXPXG56BHA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJWVQDWKJAZC647WFQMC2EICZQSXVXWBVROHWQV5T5SP5BHDHLVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDCI4PIC5KJKTSU5SLDVTETW6BWQPL7LE7L6LUVR36Y4UVBFE2HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFURIOS7SFW6TEL2P63BT6COM7O55XZ73SNDX7TTWWN4ZXNHIROA/d29f77a29bc46792218be16e7efa26e8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5SVEZPGI4ENGXOTXA63ES3YF7QK4PQO6Q5Z6RD2IW6LITGO5IVQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ARIQE4PSDORKOR33J7UMMYCSB5IS2NDXYKVM4V76B7CBQDAUQCCQ/79b4e3a50f93a1f6241c7d8d786d2d3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMMDLSXJBJQWUCP5REHNCUCMGSSVJFGV46FF56ZAJ32IPAH7LSMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9d58dd03-11ab-4718-9d06-8679bc790d78/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714585375184/main_en.js"
            ]
        },
        "CancelHandshake": {
            "input": {
                "type": "structure",
                "required": [
                    "HandshakeId"
                ],
                "members": {
                    "HandshakeId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Handshake": {
                        "shape": "S4"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WK2LRSOYZJR7KQGYB53VGD663ZMFSVE7UBZGKZCHQY4BGUT5F5ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKZXD3VUUWA5VLEPY43VJJNIIHC5BOC5GQZ3EH3627QWV2V2XURQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSQWZJAVT23WM3TZMKPAR7H5TK644ETOF7JVZGSL2HN54GPHESFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKTROLU7ZUPAZ4YPZOHDVVN6Q5PNP56MFIM7KRKLR423BTAGJ4WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L23NFAR3XXQN2FUBFGQDXLLPHTXUPXYT624UTUG77X46EBRFA64Q/index.en.v2.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJE5JIZKXR42GGMTQC6VAQIGUNLUV3VNCZX7CVPNATXSWSFP7SWA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~253ae210.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MQIMQVJG2VAC223S2QWZ7BWWTMJZRXORRD3E3BH2PRXPXG56BHA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJWVQDWKJAZC647WFQMC2EICZQSXVXWBVROHWQV5T5SP5BHDHLVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDCI4PIC5KJKTSU5SLDVTETW6BWQPL7LE7L6LUVR36Y4UVBFE2HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFURIOS7SFW6TEL2P63BT6COM7O55XZ73SNDX7TTWWN4ZXNHIROA/d29f77a29bc46792218be16e7efa26e8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5SVEZPGI4ENGXOTXA63ES3YF7QK4PQO6Q5Z6RD2IW6LITGO5IVQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ARIQE4PSDORKOR33J7UMMYCSB5IS2NDXYKVM4V76B7CBQDAUQCCQ/79b4e3a50f93a1f6241c7d8d786d2d3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMMDLSXJBJQWUCP5REHNCUCMGSSVJFGV46FF56ZAJ32IPAH7LSMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9d58dd03-11ab-4718-9d06-8679bc790d78/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714585375184/main_en.js"
            ]
        },
        "CreateAccount": {
            "input": {
                "type": "structure",
                "required": [
                    "Email",
                    "AccountName"
                ],
                "members": {
                    "Email": {
                        "shape": "Sn"
                    },
                    "AccountName": {
                        "shape": "So"
                    },
                    "RoleName": {},
                    "IamUserAccessToBilling": {},
                    "Tags": {
                        "shape": "Sr"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "CreateAccountStatus": {
                        "shape": "Sw"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WK2LRSOYZJR7KQGYB53VGD663ZMFSVE7UBZGKZCHQY4BGUT5F5ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKZXD3VUUWA5VLEPY43VJJNIIHC5BOC5GQZ3EH3627QWV2V2XURQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSQWZJAVT23WM3TZMKPAR7H5TK644ETOF7JVZGSL2HN54GPHESFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKTROLU7ZUPAZ4YPZOHDVVN6Q5PNP56MFIM7KRKLR423BTAGJ4WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L23NFAR3XXQN2FUBFGQDXLLPHTXUPXYT624UTUG77X46EBRFA64Q/index.en.v2.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJE5JIZKXR42GGMTQC6VAQIGUNLUV3VNCZX7CVPNATXSWSFP7SWA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~253ae210.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MQIMQVJG2VAC223S2QWZ7BWWTMJZRXORRD3E3BH2PRXPXG56BHA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJWVQDWKJAZC647WFQMC2EICZQSXVXWBVROHWQV5T5SP5BHDHLVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDCI4PIC5KJKTSU5SLDVTETW6BWQPL7LE7L6LUVR36Y4UVBFE2HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFURIOS7SFW6TEL2P63BT6COM7O55XZ73SNDX7TTWWN4ZXNHIROA/d29f77a29bc46792218be16e7efa26e8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5SVEZPGI4ENGXOTXA63ES3YF7QK4PQO6Q5Z6RD2IW6LITGO5IVQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ARIQE4PSDORKOR33J7UMMYCSB5IS2NDXYKVM4V76B7CBQDAUQCCQ/79b4e3a50f93a1f6241c7d8d786d2d3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMMDLSXJBJQWUCP5REHNCUCMGSSVJFGV46FF56ZAJ32IPAH7LSMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9d58dd03-11ab-4718-9d06-8679bc790d78/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714585375184/main_en.js"
            ]
        },
        "CreateGovCloudAccount": {
            "input": {
                "type": "structure",
                "required": [
                    "Email",
                    "AccountName"
                ],
                "members": {
                    "Email": {
                        "shape": "Sn"
                    },
                    "AccountName": {
                        "shape": "So"
                    },
                    "RoleName": {},
                    "IamUserAccessToBilling": {},
                    "Tags": {
                        "shape": "Sr"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "CreateAccountStatus": {
                        "shape": "Sw"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WK2LRSOYZJR7KQGYB53VGD663ZMFSVE7UBZGKZCHQY4BGUT5F5ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKZXD3VUUWA5VLEPY43VJJNIIHC5BOC5GQZ3EH3627QWV2V2XURQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSQWZJAVT23WM3TZMKPAR7H5TK644ETOF7JVZGSL2HN54GPHESFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKTROLU7ZUPAZ4YPZOHDVVN6Q5PNP56MFIM7KRKLR423BTAGJ4WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L23NFAR3XXQN2FUBFGQDXLLPHTXUPXYT624UTUG77X46EBRFA64Q/index.en.v2.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJE5JIZKXR42GGMTQC6VAQIGUNLUV3VNCZX7CVPNATXSWSFP7SWA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~253ae210.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MQIMQVJG2VAC223S2QWZ7BWWTMJZRXORRD3E3BH2PRXPXG56BHA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJWVQDWKJAZC647WFQMC2EICZQSXVXWBVROHWQV5T5SP5BHDHLVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDCI4PIC5KJKTSU5SLDVTETW6BWQPL7LE7L6LUVR36Y4UVBFE2HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFURIOS7SFW6TEL2P63BT6COM7O55XZ73SNDX7TTWWN4ZXNHIROA/d29f77a29bc46792218be16e7efa26e8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5SVEZPGI4ENGXOTXA63ES3YF7QK4PQO6Q5Z6RD2IW6LITGO5IVQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ARIQE4PSDORKOR33J7UMMYCSB5IS2NDXYKVM4V76B7CBQDAUQCCQ/79b4e3a50f93a1f6241c7d8d786d2d3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMMDLSXJBJQWUCP5REHNCUCMGSSVJFGV46FF56ZAJ32IPAH7LSMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9d58dd03-11ab-4718-9d06-8679bc790d78/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714585375184/main_en.js"
            ]
        },
        "CreateOrganization": {
            "input": {
                "type": "structure",
                "members": {
                    "FeatureSet": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Organization": {
                        "shape": "S16"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WK2LRSOYZJR7KQGYB53VGD663ZMFSVE7UBZGKZCHQY4BGUT5F5ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKZXD3VUUWA5VLEPY43VJJNIIHC5BOC5GQZ3EH3627QWV2V2XURQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSQWZJAVT23WM3TZMKPAR7H5TK644ETOF7JVZGSL2HN54GPHESFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKTROLU7ZUPAZ4YPZOHDVVN6Q5PNP56MFIM7KRKLR423BTAGJ4WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L23NFAR3XXQN2FUBFGQDXLLPHTXUPXYT624UTUG77X46EBRFA64Q/index.en.v2.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJE5JIZKXR42GGMTQC6VAQIGUNLUV3VNCZX7CVPNATXSWSFP7SWA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~253ae210.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MQIMQVJG2VAC223S2QWZ7BWWTMJZRXORRD3E3BH2PRXPXG56BHA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJWVQDWKJAZC647WFQMC2EICZQSXVXWBVROHWQV5T5SP5BHDHLVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDCI4PIC5KJKTSU5SLDVTETW6BWQPL7LE7L6LUVR36Y4UVBFE2HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFURIOS7SFW6TEL2P63BT6COM7O55XZ73SNDX7TTWWN4ZXNHIROA/d29f77a29bc46792218be16e7efa26e8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5SVEZPGI4ENGXOTXA63ES3YF7QK4PQO6Q5Z6RD2IW6LITGO5IVQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ARIQE4PSDORKOR33J7UMMYCSB5IS2NDXYKVM4V76B7CBQDAUQCCQ/79b4e3a50f93a1f6241c7d8d786d2d3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMMDLSXJBJQWUCP5REHNCUCMGSSVJFGV46FF56ZAJ32IPAH7LSMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9d58dd03-11ab-4718-9d06-8679bc790d78/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714585375184/main_en.js"
            ]
        },
        "CreateOrganizationalUnit": {
            "input": {
                "type": "structure",
                "required": [
                    "ParentId",
                    "Name"
                ],
                "members": {
                    "ParentId": {},
                    "Name": {},
                    "Tags": {
                        "shape": "Sr"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "OrganizationalUnit": {
                        "shape": "S1i"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WK2LRSOYZJR7KQGYB53VGD663ZMFSVE7UBZGKZCHQY4BGUT5F5ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKZXD3VUUWA5VLEPY43VJJNIIHC5BOC5GQZ3EH3627QWV2V2XURQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSQWZJAVT23WM3TZMKPAR7H5TK644ETOF7JVZGSL2HN54GPHESFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKTROLU7ZUPAZ4YPZOHDVVN6Q5PNP56MFIM7KRKLR423BTAGJ4WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L23NFAR3XXQN2FUBFGQDXLLPHTXUPXYT624UTUG77X46EBRFA64Q/index.en.v2.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJE5JIZKXR42GGMTQC6VAQIGUNLUV3VNCZX7CVPNATXSWSFP7SWA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~253ae210.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MQIMQVJG2VAC223S2QWZ7BWWTMJZRXORRD3E3BH2PRXPXG56BHA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJWVQDWKJAZC647WFQMC2EICZQSXVXWBVROHWQV5T5SP5BHDHLVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDCI4PIC5KJKTSU5SLDVTETW6BWQPL7LE7L6LUVR36Y4UVBFE2HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFURIOS7SFW6TEL2P63BT6COM7O55XZ73SNDX7TTWWN4ZXNHIROA/d29f77a29bc46792218be16e7efa26e8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5SVEZPGI4ENGXOTXA63ES3YF7QK4PQO6Q5Z6RD2IW6LITGO5IVQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ARIQE4PSDORKOR33J7UMMYCSB5IS2NDXYKVM4V76B7CBQDAUQCCQ/79b4e3a50f93a1f6241c7d8d786d2d3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMMDLSXJBJQWUCP5REHNCUCMGSSVJFGV46FF56ZAJ32IPAH7LSMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9d58dd03-11ab-4718-9d06-8679bc790d78/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714585375184/main_en.js"
            ]
        },
        "CreatePolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "Content",
                    "Description",
                    "Name",
                    "Type"
                ],
                "members": {
                    "Content": {},
                    "Description": {},
                    "Name": {},
                    "Type": {},
                    "Tags": {
                        "shape": "Sr"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Policy": {
                        "shape": "S1q"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WK2LRSOYZJR7KQGYB53VGD663ZMFSVE7UBZGKZCHQY4BGUT5F5ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKZXD3VUUWA5VLEPY43VJJNIIHC5BOC5GQZ3EH3627QWV2V2XURQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSQWZJAVT23WM3TZMKPAR7H5TK644ETOF7JVZGSL2HN54GPHESFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKTROLU7ZUPAZ4YPZOHDVVN6Q5PNP56MFIM7KRKLR423BTAGJ4WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L23NFAR3XXQN2FUBFGQDXLLPHTXUPXYT624UTUG77X46EBRFA64Q/index.en.v2.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJE5JIZKXR42GGMTQC6VAQIGUNLUV3VNCZX7CVPNATXSWSFP7SWA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~253ae210.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MQIMQVJG2VAC223S2QWZ7BWWTMJZRXORRD3E3BH2PRXPXG56BHA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJWVQDWKJAZC647WFQMC2EICZQSXVXWBVROHWQV5T5SP5BHDHLVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDCI4PIC5KJKTSU5SLDVTETW6BWQPL7LE7L6LUVR36Y4UVBFE2HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFURIOS7SFW6TEL2P63BT6COM7O55XZ73SNDX7TTWWN4ZXNHIROA/d29f77a29bc46792218be16e7efa26e8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5SVEZPGI4ENGXOTXA63ES3YF7QK4PQO6Q5Z6RD2IW6LITGO5IVQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ARIQE4PSDORKOR33J7UMMYCSB5IS2NDXYKVM4V76B7CBQDAUQCCQ/79b4e3a50f93a1f6241c7d8d786d2d3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMMDLSXJBJQWUCP5REHNCUCMGSSVJFGV46FF56ZAJ32IPAH7LSMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9d58dd03-11ab-4718-9d06-8679bc790d78/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714585375184/main_en.js"
            ]
        },
        "DeclineHandshake": {
            "input": {
                "type": "structure",
                "required": [
                    "HandshakeId"
                ],
                "members": {
                    "HandshakeId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Handshake": {
                        "shape": "S4"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WK2LRSOYZJR7KQGYB53VGD663ZMFSVE7UBZGKZCHQY4BGUT5F5ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKZXD3VUUWA5VLEPY43VJJNIIHC5BOC5GQZ3EH3627QWV2V2XURQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSQWZJAVT23WM3TZMKPAR7H5TK644ETOF7JVZGSL2HN54GPHESFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKTROLU7ZUPAZ4YPZOHDVVN6Q5PNP56MFIM7KRKLR423BTAGJ4WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L23NFAR3XXQN2FUBFGQDXLLPHTXUPXYT624UTUG77X46EBRFA64Q/index.en.v2.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJE5JIZKXR42GGMTQC6VAQIGUNLUV3VNCZX7CVPNATXSWSFP7SWA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~253ae210.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MQIMQVJG2VAC223S2QWZ7BWWTMJZRXORRD3E3BH2PRXPXG56BHA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJWVQDWKJAZC647WFQMC2EICZQSXVXWBVROHWQV5T5SP5BHDHLVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDCI4PIC5KJKTSU5SLDVTETW6BWQPL7LE7L6LUVR36Y4UVBFE2HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFURIOS7SFW6TEL2P63BT6COM7O55XZ73SNDX7TTWWN4ZXNHIROA/d29f77a29bc46792218be16e7efa26e8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5SVEZPGI4ENGXOTXA63ES3YF7QK4PQO6Q5Z6RD2IW6LITGO5IVQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ARIQE4PSDORKOR33J7UMMYCSB5IS2NDXYKVM4V76B7CBQDAUQCCQ/79b4e3a50f93a1f6241c7d8d786d2d3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMMDLSXJBJQWUCP5REHNCUCMGSSVJFGV46FF56ZAJ32IPAH7LSMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9d58dd03-11ab-4718-9d06-8679bc790d78/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714585375184/main_en.js"
            ]
        },
        "DeleteOrganization": {
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WK2LRSOYZJR7KQGYB53VGD663ZMFSVE7UBZGKZCHQY4BGUT5F5ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKZXD3VUUWA5VLEPY43VJJNIIHC5BOC5GQZ3EH3627QWV2V2XURQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSQWZJAVT23WM3TZMKPAR7H5TK644ETOF7JVZGSL2HN54GPHESFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKTROLU7ZUPAZ4YPZOHDVVN6Q5PNP56MFIM7KRKLR423BTAGJ4WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L23NFAR3XXQN2FUBFGQDXLLPHTXUPXYT624UTUG77X46EBRFA64Q/index.en.v2.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJE5JIZKXR42GGMTQC6VAQIGUNLUV3VNCZX7CVPNATXSWSFP7SWA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~253ae210.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MQIMQVJG2VAC223S2QWZ7BWWTMJZRXORRD3E3BH2PRXPXG56BHA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJWVQDWKJAZC647WFQMC2EICZQSXVXWBVROHWQV5T5SP5BHDHLVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDCI4PIC5KJKTSU5SLDVTETW6BWQPL7LE7L6LUVR36Y4UVBFE2HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFURIOS7SFW6TEL2P63BT6COM7O55XZ73SNDX7TTWWN4ZXNHIROA/d29f77a29bc46792218be16e7efa26e8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5SVEZPGI4ENGXOTXA63ES3YF7QK4PQO6Q5Z6RD2IW6LITGO5IVQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ARIQE4PSDORKOR33J7UMMYCSB5IS2NDXYKVM4V76B7CBQDAUQCCQ/79b4e3a50f93a1f6241c7d8d786d2d3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMMDLSXJBJQWUCP5REHNCUCMGSSVJFGV46FF56ZAJ32IPAH7LSMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9d58dd03-11ab-4718-9d06-8679bc790d78/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714585375184/main_en.js"
            ]
        },
        "DeleteOrganizationalUnit": {
            "input": {
                "type": "structure",
                "required": [
                    "OrganizationalUnitId"
                ],
                "members": {
                    "OrganizationalUnitId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WK2LRSOYZJR7KQGYB53VGD663ZMFSVE7UBZGKZCHQY4BGUT5F5ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKZXD3VUUWA5VLEPY43VJJNIIHC5BOC5GQZ3EH3627QWV2V2XURQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSQWZJAVT23WM3TZMKPAR7H5TK644ETOF7JVZGSL2HN54GPHESFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKTROLU7ZUPAZ4YPZOHDVVN6Q5PNP56MFIM7KRKLR423BTAGJ4WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L23NFAR3XXQN2FUBFGQDXLLPHTXUPXYT624UTUG77X46EBRFA64Q/index.en.v2.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJE5JIZKXR42GGMTQC6VAQIGUNLUV3VNCZX7CVPNATXSWSFP7SWA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~253ae210.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MQIMQVJG2VAC223S2QWZ7BWWTMJZRXORRD3E3BH2PRXPXG56BHA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJWVQDWKJAZC647WFQMC2EICZQSXVXWBVROHWQV5T5SP5BHDHLVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDCI4PIC5KJKTSU5SLDVTETW6BWQPL7LE7L6LUVR36Y4UVBFE2HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFURIOS7SFW6TEL2P63BT6COM7O55XZ73SNDX7TTWWN4ZXNHIROA/d29f77a29bc46792218be16e7efa26e8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5SVEZPGI4ENGXOTXA63ES3YF7QK4PQO6Q5Z6RD2IW6LITGO5IVQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ARIQE4PSDORKOR33J7UMMYCSB5IS2NDXYKVM4V76B7CBQDAUQCCQ/79b4e3a50f93a1f6241c7d8d786d2d3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMMDLSXJBJQWUCP5REHNCUCMGSSVJFGV46FF56ZAJ32IPAH7LSMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9d58dd03-11ab-4718-9d06-8679bc790d78/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714585375184/main_en.js"
            ]
        },
        "DeletePolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "PolicyId"
                ],
                "members": {
                    "PolicyId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WK2LRSOYZJR7KQGYB53VGD663ZMFSVE7UBZGKZCHQY4BGUT5F5ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKZXD3VUUWA5VLEPY43VJJNIIHC5BOC5GQZ3EH3627QWV2V2XURQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSQWZJAVT23WM3TZMKPAR7H5TK644ETOF7JVZGSL2HN54GPHESFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKTROLU7ZUPAZ4YPZOHDVVN6Q5PNP56MFIM7KRKLR423BTAGJ4WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L23NFAR3XXQN2FUBFGQDXLLPHTXUPXYT624UTUG77X46EBRFA64Q/index.en.v2.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJE5JIZKXR42GGMTQC6VAQIGUNLUV3VNCZX7CVPNATXSWSFP7SWA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~253ae210.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MQIMQVJG2VAC223S2QWZ7BWWTMJZRXORRD3E3BH2PRXPXG56BHA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJWVQDWKJAZC647WFQMC2EICZQSXVXWBVROHWQV5T5SP5BHDHLVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDCI4PIC5KJKTSU5SLDVTETW6BWQPL7LE7L6LUVR36Y4UVBFE2HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFURIOS7SFW6TEL2P63BT6COM7O55XZ73SNDX7TTWWN4ZXNHIROA/d29f77a29bc46792218be16e7efa26e8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5SVEZPGI4ENGXOTXA63ES3YF7QK4PQO6Q5Z6RD2IW6LITGO5IVQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ARIQE4PSDORKOR33J7UMMYCSB5IS2NDXYKVM4V76B7CBQDAUQCCQ/79b4e3a50f93a1f6241c7d8d786d2d3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMMDLSXJBJQWUCP5REHNCUCMGSSVJFGV46FF56ZAJ32IPAH7LSMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9d58dd03-11ab-4718-9d06-8679bc790d78/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714585375184/main_en.js"
            ]
        },
        "DeregisterDelegatedAdministrator": {
            "input": {
                "type": "structure",
                "required": [
                    "AccountId",
                    "ServicePrincipal"
                ],
                "members": {
                    "AccountId": {},
                    "ServicePrincipal": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WK2LRSOYZJR7KQGYB53VGD663ZMFSVE7UBZGKZCHQY4BGUT5F5ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKZXD3VUUWA5VLEPY43VJJNIIHC5BOC5GQZ3EH3627QWV2V2XURQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSQWZJAVT23WM3TZMKPAR7H5TK644ETOF7JVZGSL2HN54GPHESFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKTROLU7ZUPAZ4YPZOHDVVN6Q5PNP56MFIM7KRKLR423BTAGJ4WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L23NFAR3XXQN2FUBFGQDXLLPHTXUPXYT624UTUG77X46EBRFA64Q/index.en.v2.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJE5JIZKXR42GGMTQC6VAQIGUNLUV3VNCZX7CVPNATXSWSFP7SWA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~253ae210.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MQIMQVJG2VAC223S2QWZ7BWWTMJZRXORRD3E3BH2PRXPXG56BHA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJWVQDWKJAZC647WFQMC2EICZQSXVXWBVROHWQV5T5SP5BHDHLVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDCI4PIC5KJKTSU5SLDVTETW6BWQPL7LE7L6LUVR36Y4UVBFE2HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFURIOS7SFW6TEL2P63BT6COM7O55XZ73SNDX7TTWWN4ZXNHIROA/d29f77a29bc46792218be16e7efa26e8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5SVEZPGI4ENGXOTXA63ES3YF7QK4PQO6Q5Z6RD2IW6LITGO5IVQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ARIQE4PSDORKOR33J7UMMYCSB5IS2NDXYKVM4V76B7CBQDAUQCCQ/79b4e3a50f93a1f6241c7d8d786d2d3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMMDLSXJBJQWUCP5REHNCUCMGSSVJFGV46FF56ZAJ32IPAH7LSMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9d58dd03-11ab-4718-9d06-8679bc790d78/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714585375184/main_en.js"
            ]
        },
        "DescribeAccount": {
            "input": {
                "type": "structure",
                "required": [
                    "AccountId"
                ],
                "members": {
                    "AccountId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Account": {
                        "shape": "S22"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WK2LRSOYZJR7KQGYB53VGD663ZMFSVE7UBZGKZCHQY4BGUT5F5ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKZXD3VUUWA5VLEPY43VJJNIIHC5BOC5GQZ3EH3627QWV2V2XURQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSQWZJAVT23WM3TZMKPAR7H5TK644ETOF7JVZGSL2HN54GPHESFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKTROLU7ZUPAZ4YPZOHDVVN6Q5PNP56MFIM7KRKLR423BTAGJ4WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L23NFAR3XXQN2FUBFGQDXLLPHTXUPXYT624UTUG77X46EBRFA64Q/index.en.v2.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJE5JIZKXR42GGMTQC6VAQIGUNLUV3VNCZX7CVPNATXSWSFP7SWA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~253ae210.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MQIMQVJG2VAC223S2QWZ7BWWTMJZRXORRD3E3BH2PRXPXG56BHA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJWVQDWKJAZC647WFQMC2EICZQSXVXWBVROHWQV5T5SP5BHDHLVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDCI4PIC5KJKTSU5SLDVTETW6BWQPL7LE7L6LUVR36Y4UVBFE2HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFURIOS7SFW6TEL2P63BT6COM7O55XZ73SNDX7TTWWN4ZXNHIROA/d29f77a29bc46792218be16e7efa26e8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5SVEZPGI4ENGXOTXA63ES3YF7QK4PQO6Q5Z6RD2IW6LITGO5IVQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ARIQE4PSDORKOR33J7UMMYCSB5IS2NDXYKVM4V76B7CBQDAUQCCQ/79b4e3a50f93a1f6241c7d8d786d2d3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMMDLSXJBJQWUCP5REHNCUCMGSSVJFGV46FF56ZAJ32IPAH7LSMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9d58dd03-11ab-4718-9d06-8679bc790d78/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714585375184/main_en.js"
            ]
        },
        "DescribeCreateAccountStatus": {
            "input": {
                "type": "structure",
                "required": [
                    "CreateAccountRequestId"
                ],
                "members": {
                    "CreateAccountRequestId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "CreateAccountStatus": {
                        "shape": "Sw"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WK2LRSOYZJR7KQGYB53VGD663ZMFSVE7UBZGKZCHQY4BGUT5F5ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKZXD3VUUWA5VLEPY43VJJNIIHC5BOC5GQZ3EH3627QWV2V2XURQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSQWZJAVT23WM3TZMKPAR7H5TK644ETOF7JVZGSL2HN54GPHESFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKTROLU7ZUPAZ4YPZOHDVVN6Q5PNP56MFIM7KRKLR423BTAGJ4WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L23NFAR3XXQN2FUBFGQDXLLPHTXUPXYT624UTUG77X46EBRFA64Q/index.en.v2.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJE5JIZKXR42GGMTQC6VAQIGUNLUV3VNCZX7CVPNATXSWSFP7SWA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~253ae210.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MQIMQVJG2VAC223S2QWZ7BWWTMJZRXORRD3E3BH2PRXPXG56BHA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJWVQDWKJAZC647WFQMC2EICZQSXVXWBVROHWQV5T5SP5BHDHLVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDCI4PIC5KJKTSU5SLDVTETW6BWQPL7LE7L6LUVR36Y4UVBFE2HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFURIOS7SFW6TEL2P63BT6COM7O55XZ73SNDX7TTWWN4ZXNHIROA/d29f77a29bc46792218be16e7efa26e8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5SVEZPGI4ENGXOTXA63ES3YF7QK4PQO6Q5Z6RD2IW6LITGO5IVQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ARIQE4PSDORKOR33J7UMMYCSB5IS2NDXYKVM4V76B7CBQDAUQCCQ/79b4e3a50f93a1f6241c7d8d786d2d3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMMDLSXJBJQWUCP5REHNCUCMGSSVJFGV46FF56ZAJ32IPAH7LSMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9d58dd03-11ab-4718-9d06-8679bc790d78/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714585375184/main_en.js"
            ]
        },
        "DescribeEffectivePolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "PolicyType"
                ],
                "members": {
                    "PolicyType": {},
                    "TargetId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "EffectivePolicy": {
                        "type": "structure",
                        "members": {
                            "PolicyContent": {},
                            "LastUpdatedTimestamp": {
                                "type": "timestamp"
                            },
                            "TargetId": {},
                            "PolicyType": {}
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WK2LRSOYZJR7KQGYB53VGD663ZMFSVE7UBZGKZCHQY4BGUT5F5ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKZXD3VUUWA5VLEPY43VJJNIIHC5BOC5GQZ3EH3627QWV2V2XURQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSQWZJAVT23WM3TZMKPAR7H5TK644ETOF7JVZGSL2HN54GPHESFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKTROLU7ZUPAZ4YPZOHDVVN6Q5PNP56MFIM7KRKLR423BTAGJ4WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L23NFAR3XXQN2FUBFGQDXLLPHTXUPXYT624UTUG77X46EBRFA64Q/index.en.v2.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJE5JIZKXR42GGMTQC6VAQIGUNLUV3VNCZX7CVPNATXSWSFP7SWA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~253ae210.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MQIMQVJG2VAC223S2QWZ7BWWTMJZRXORRD3E3BH2PRXPXG56BHA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJWVQDWKJAZC647WFQMC2EICZQSXVXWBVROHWQV5T5SP5BHDHLVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDCI4PIC5KJKTSU5SLDVTETW6BWQPL7LE7L6LUVR36Y4UVBFE2HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFURIOS7SFW6TEL2P63BT6COM7O55XZ73SNDX7TTWWN4ZXNHIROA/d29f77a29bc46792218be16e7efa26e8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5SVEZPGI4ENGXOTXA63ES3YF7QK4PQO6Q5Z6RD2IW6LITGO5IVQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ARIQE4PSDORKOR33J7UMMYCSB5IS2NDXYKVM4V76B7CBQDAUQCCQ/79b4e3a50f93a1f6241c7d8d786d2d3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMMDLSXJBJQWUCP5REHNCUCMGSSVJFGV46FF56ZAJ32IPAH7LSMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9d58dd03-11ab-4718-9d06-8679bc790d78/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714585375184/main_en.js"
            ]
        },
        "DescribeHandshake": {
            "input": {
                "type": "structure",
                "required": [
                    "HandshakeId"
                ],
                "members": {
                    "HandshakeId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Handshake": {
                        "shape": "S4"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WK2LRSOYZJR7KQGYB53VGD663ZMFSVE7UBZGKZCHQY4BGUT5F5ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKZXD3VUUWA5VLEPY43VJJNIIHC5BOC5GQZ3EH3627QWV2V2XURQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSQWZJAVT23WM3TZMKPAR7H5TK644ETOF7JVZGSL2HN54GPHESFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKTROLU7ZUPAZ4YPZOHDVVN6Q5PNP56MFIM7KRKLR423BTAGJ4WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L23NFAR3XXQN2FUBFGQDXLLPHTXUPXYT624UTUG77X46EBRFA64Q/index.en.v2.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJE5JIZKXR42GGMTQC6VAQIGUNLUV3VNCZX7CVPNATXSWSFP7SWA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~253ae210.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MQIMQVJG2VAC223S2QWZ7BWWTMJZRXORRD3E3BH2PRXPXG56BHA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJWVQDWKJAZC647WFQMC2EICZQSXVXWBVROHWQV5T5SP5BHDHLVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDCI4PIC5KJKTSU5SLDVTETW6BWQPL7LE7L6LUVR36Y4UVBFE2HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFURIOS7SFW6TEL2P63BT6COM7O55XZ73SNDX7TTWWN4ZXNHIROA/d29f77a29bc46792218be16e7efa26e8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5SVEZPGI4ENGXOTXA63ES3YF7QK4PQO6Q5Z6RD2IW6LITGO5IVQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ARIQE4PSDORKOR33J7UMMYCSB5IS2NDXYKVM4V76B7CBQDAUQCCQ/79b4e3a50f93a1f6241c7d8d786d2d3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMMDLSXJBJQWUCP5REHNCUCMGSSVJFGV46FF56ZAJ32IPAH7LSMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9d58dd03-11ab-4718-9d06-8679bc790d78/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714585375184/main_en.js"
            ]
        },
        "DescribeOrganization": {
            "output": {
                "type": "structure",
                "members": {
                    "Organization": {
                        "shape": "S16"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WK2LRSOYZJR7KQGYB53VGD663ZMFSVE7UBZGKZCHQY4BGUT5F5ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKZXD3VUUWA5VLEPY43VJJNIIHC5BOC5GQZ3EH3627QWV2V2XURQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSQWZJAVT23WM3TZMKPAR7H5TK644ETOF7JVZGSL2HN54GPHESFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKTROLU7ZUPAZ4YPZOHDVVN6Q5PNP56MFIM7KRKLR423BTAGJ4WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L23NFAR3XXQN2FUBFGQDXLLPHTXUPXYT624UTUG77X46EBRFA64Q/index.en.v2.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJE5JIZKXR42GGMTQC6VAQIGUNLUV3VNCZX7CVPNATXSWSFP7SWA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~253ae210.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MQIMQVJG2VAC223S2QWZ7BWWTMJZRXORRD3E3BH2PRXPXG56BHA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJWVQDWKJAZC647WFQMC2EICZQSXVXWBVROHWQV5T5SP5BHDHLVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDCI4PIC5KJKTSU5SLDVTETW6BWQPL7LE7L6LUVR36Y4UVBFE2HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFURIOS7SFW6TEL2P63BT6COM7O55XZ73SNDX7TTWWN4ZXNHIROA/d29f77a29bc46792218be16e7efa26e8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5SVEZPGI4ENGXOTXA63ES3YF7QK4PQO6Q5Z6RD2IW6LITGO5IVQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ARIQE4PSDORKOR33J7UMMYCSB5IS2NDXYKVM4V76B7CBQDAUQCCQ/79b4e3a50f93a1f6241c7d8d786d2d3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMMDLSXJBJQWUCP5REHNCUCMGSSVJFGV46FF56ZAJ32IPAH7LSMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9d58dd03-11ab-4718-9d06-8679bc790d78/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714585375184/main_en.js"
            ]
        },
        "DescribeOrganizationalUnit": {
            "input": {
                "type": "structure",
                "required": [
                    "OrganizationalUnitId"
                ],
                "members": {
                    "OrganizationalUnitId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "OrganizationalUnit": {
                        "shape": "S1i"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WK2LRSOYZJR7KQGYB53VGD663ZMFSVE7UBZGKZCHQY4BGUT5F5ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKZXD3VUUWA5VLEPY43VJJNIIHC5BOC5GQZ3EH3627QWV2V2XURQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSQWZJAVT23WM3TZMKPAR7H5TK644ETOF7JVZGSL2HN54GPHESFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKTROLU7ZUPAZ4YPZOHDVVN6Q5PNP56MFIM7KRKLR423BTAGJ4WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L23NFAR3XXQN2FUBFGQDXLLPHTXUPXYT624UTUG77X46EBRFA64Q/index.en.v2.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJE5JIZKXR42GGMTQC6VAQIGUNLUV3VNCZX7CVPNATXSWSFP7SWA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~253ae210.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MQIMQVJG2VAC223S2QWZ7BWWTMJZRXORRD3E3BH2PRXPXG56BHA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJWVQDWKJAZC647WFQMC2EICZQSXVXWBVROHWQV5T5SP5BHDHLVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDCI4PIC5KJKTSU5SLDVTETW6BWQPL7LE7L6LUVR36Y4UVBFE2HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFURIOS7SFW6TEL2P63BT6COM7O55XZ73SNDX7TTWWN4ZXNHIROA/d29f77a29bc46792218be16e7efa26e8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5SVEZPGI4ENGXOTXA63ES3YF7QK4PQO6Q5Z6RD2IW6LITGO5IVQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ARIQE4PSDORKOR33J7UMMYCSB5IS2NDXYKVM4V76B7CBQDAUQCCQ/79b4e3a50f93a1f6241c7d8d786d2d3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMMDLSXJBJQWUCP5REHNCUCMGSSVJFGV46FF56ZAJ32IPAH7LSMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9d58dd03-11ab-4718-9d06-8679bc790d78/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714585375184/main_en.js"
            ]
        },
        "DescribePolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "PolicyId"
                ],
                "members": {
                    "PolicyId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Policy": {
                        "shape": "S1q"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WK2LRSOYZJR7KQGYB53VGD663ZMFSVE7UBZGKZCHQY4BGUT5F5ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKZXD3VUUWA5VLEPY43VJJNIIHC5BOC5GQZ3EH3627QWV2V2XURQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSQWZJAVT23WM3TZMKPAR7H5TK644ETOF7JVZGSL2HN54GPHESFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKTROLU7ZUPAZ4YPZOHDVVN6Q5PNP56MFIM7KRKLR423BTAGJ4WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L23NFAR3XXQN2FUBFGQDXLLPHTXUPXYT624UTUG77X46EBRFA64Q/index.en.v2.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJE5JIZKXR42GGMTQC6VAQIGUNLUV3VNCZX7CVPNATXSWSFP7SWA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~253ae210.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MQIMQVJG2VAC223S2QWZ7BWWTMJZRXORRD3E3BH2PRXPXG56BHA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJWVQDWKJAZC647WFQMC2EICZQSXVXWBVROHWQV5T5SP5BHDHLVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDCI4PIC5KJKTSU5SLDVTETW6BWQPL7LE7L6LUVR36Y4UVBFE2HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFURIOS7SFW6TEL2P63BT6COM7O55XZ73SNDX7TTWWN4ZXNHIROA/d29f77a29bc46792218be16e7efa26e8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5SVEZPGI4ENGXOTXA63ES3YF7QK4PQO6Q5Z6RD2IW6LITGO5IVQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ARIQE4PSDORKOR33J7UMMYCSB5IS2NDXYKVM4V76B7CBQDAUQCCQ/79b4e3a50f93a1f6241c7d8d786d2d3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMMDLSXJBJQWUCP5REHNCUCMGSSVJFGV46FF56ZAJ32IPAH7LSMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9d58dd03-11ab-4718-9d06-8679bc790d78/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714585375184/main_en.js"
            ]
        },
        "DetachPolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "PolicyId",
                    "TargetId"
                ],
                "members": {
                    "PolicyId": {},
                    "TargetId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WK2LRSOYZJR7KQGYB53VGD663ZMFSVE7UBZGKZCHQY4BGUT5F5ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKZXD3VUUWA5VLEPY43VJJNIIHC5BOC5GQZ3EH3627QWV2V2XURQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSQWZJAVT23WM3TZMKPAR7H5TK644ETOF7JVZGSL2HN54GPHESFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKTROLU7ZUPAZ4YPZOHDVVN6Q5PNP56MFIM7KRKLR423BTAGJ4WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L23NFAR3XXQN2FUBFGQDXLLPHTXUPXYT624UTUG77X46EBRFA64Q/index.en.v2.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJE5JIZKXR42GGMTQC6VAQIGUNLUV3VNCZX7CVPNATXSWSFP7SWA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~253ae210.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MQIMQVJG2VAC223S2QWZ7BWWTMJZRXORRD3E3BH2PRXPXG56BHA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJWVQDWKJAZC647WFQMC2EICZQSXVXWBVROHWQV5T5SP5BHDHLVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDCI4PIC5KJKTSU5SLDVTETW6BWQPL7LE7L6LUVR36Y4UVBFE2HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFURIOS7SFW6TEL2P63BT6COM7O55XZ73SNDX7TTWWN4ZXNHIROA/d29f77a29bc46792218be16e7efa26e8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5SVEZPGI4ENGXOTXA63ES3YF7QK4PQO6Q5Z6RD2IW6LITGO5IVQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ARIQE4PSDORKOR33J7UMMYCSB5IS2NDXYKVM4V76B7CBQDAUQCCQ/79b4e3a50f93a1f6241c7d8d786d2d3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMMDLSXJBJQWUCP5REHNCUCMGSSVJFGV46FF56ZAJ32IPAH7LSMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9d58dd03-11ab-4718-9d06-8679bc790d78/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714585375184/main_en.js"
            ]
        },
        "DisableAWSServiceAccess": {
            "input": {
                "type": "structure",
                "required": [
                    "ServicePrincipal"
                ],
                "members": {
                    "ServicePrincipal": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WK2LRSOYZJR7KQGYB53VGD663ZMFSVE7UBZGKZCHQY4BGUT5F5ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKZXD3VUUWA5VLEPY43VJJNIIHC5BOC5GQZ3EH3627QWV2V2XURQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSQWZJAVT23WM3TZMKPAR7H5TK644ETOF7JVZGSL2HN54GPHESFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKTROLU7ZUPAZ4YPZOHDVVN6Q5PNP56MFIM7KRKLR423BTAGJ4WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L23NFAR3XXQN2FUBFGQDXLLPHTXUPXYT624UTUG77X46EBRFA64Q/index.en.v2.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJE5JIZKXR42GGMTQC6VAQIGUNLUV3VNCZX7CVPNATXSWSFP7SWA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~253ae210.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MQIMQVJG2VAC223S2QWZ7BWWTMJZRXORRD3E3BH2PRXPXG56BHA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJWVQDWKJAZC647WFQMC2EICZQSXVXWBVROHWQV5T5SP5BHDHLVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDCI4PIC5KJKTSU5SLDVTETW6BWQPL7LE7L6LUVR36Y4UVBFE2HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFURIOS7SFW6TEL2P63BT6COM7O55XZ73SNDX7TTWWN4ZXNHIROA/d29f77a29bc46792218be16e7efa26e8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5SVEZPGI4ENGXOTXA63ES3YF7QK4PQO6Q5Z6RD2IW6LITGO5IVQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ARIQE4PSDORKOR33J7UMMYCSB5IS2NDXYKVM4V76B7CBQDAUQCCQ/79b4e3a50f93a1f6241c7d8d786d2d3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMMDLSXJBJQWUCP5REHNCUCMGSSVJFGV46FF56ZAJ32IPAH7LSMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9d58dd03-11ab-4718-9d06-8679bc790d78/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714585375184/main_en.js"
            ]
        },
        "DisablePolicyType": {
            "input": {
                "type": "structure",
                "required": [
                    "RootId",
                    "PolicyType"
                ],
                "members": {
                    "RootId": {},
                    "PolicyType": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Root": {
                        "shape": "S2n"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WK2LRSOYZJR7KQGYB53VGD663ZMFSVE7UBZGKZCHQY4BGUT5F5ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKZXD3VUUWA5VLEPY43VJJNIIHC5BOC5GQZ3EH3627QWV2V2XURQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSQWZJAVT23WM3TZMKPAR7H5TK644ETOF7JVZGSL2HN54GPHESFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKTROLU7ZUPAZ4YPZOHDVVN6Q5PNP56MFIM7KRKLR423BTAGJ4WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L23NFAR3XXQN2FUBFGQDXLLPHTXUPXYT624UTUG77X46EBRFA64Q/index.en.v2.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJE5JIZKXR42GGMTQC6VAQIGUNLUV3VNCZX7CVPNATXSWSFP7SWA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~253ae210.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MQIMQVJG2VAC223S2QWZ7BWWTMJZRXORRD3E3BH2PRXPXG56BHA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJWVQDWKJAZC647WFQMC2EICZQSXVXWBVROHWQV5T5SP5BHDHLVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDCI4PIC5KJKTSU5SLDVTETW6BWQPL7LE7L6LUVR36Y4UVBFE2HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFURIOS7SFW6TEL2P63BT6COM7O55XZ73SNDX7TTWWN4ZXNHIROA/d29f77a29bc46792218be16e7efa26e8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5SVEZPGI4ENGXOTXA63ES3YF7QK4PQO6Q5Z6RD2IW6LITGO5IVQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ARIQE4PSDORKOR33J7UMMYCSB5IS2NDXYKVM4V76B7CBQDAUQCCQ/79b4e3a50f93a1f6241c7d8d786d2d3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMMDLSXJBJQWUCP5REHNCUCMGSSVJFGV46FF56ZAJ32IPAH7LSMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9d58dd03-11ab-4718-9d06-8679bc790d78/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714585375184/main_en.js"
            ]
        },
        "EnableAWSServiceAccess": {
            "input": {
                "type": "structure",
                "required": [
                    "ServicePrincipal"
                ],
                "members": {
                    "ServicePrincipal": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WK2LRSOYZJR7KQGYB53VGD663ZMFSVE7UBZGKZCHQY4BGUT5F5ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKZXD3VUUWA5VLEPY43VJJNIIHC5BOC5GQZ3EH3627QWV2V2XURQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSQWZJAVT23WM3TZMKPAR7H5TK644ETOF7JVZGSL2HN54GPHESFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKTROLU7ZUPAZ4YPZOHDVVN6Q5PNP56MFIM7KRKLR423BTAGJ4WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L23NFAR3XXQN2FUBFGQDXLLPHTXUPXYT624UTUG77X46EBRFA64Q/index.en.v2.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJE5JIZKXR42GGMTQC6VAQIGUNLUV3VNCZX7CVPNATXSWSFP7SWA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~253ae210.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MQIMQVJG2VAC223S2QWZ7BWWTMJZRXORRD3E3BH2PRXPXG56BHA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJWVQDWKJAZC647WFQMC2EICZQSXVXWBVROHWQV5T5SP5BHDHLVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDCI4PIC5KJKTSU5SLDVTETW6BWQPL7LE7L6LUVR36Y4UVBFE2HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFURIOS7SFW6TEL2P63BT6COM7O55XZ73SNDX7TTWWN4ZXNHIROA/d29f77a29bc46792218be16e7efa26e8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5SVEZPGI4ENGXOTXA63ES3YF7QK4PQO6Q5Z6RD2IW6LITGO5IVQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ARIQE4PSDORKOR33J7UMMYCSB5IS2NDXYKVM4V76B7CBQDAUQCCQ/79b4e3a50f93a1f6241c7d8d786d2d3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMMDLSXJBJQWUCP5REHNCUCMGSSVJFGV46FF56ZAJ32IPAH7LSMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9d58dd03-11ab-4718-9d06-8679bc790d78/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714585375184/main_en.js"
            ]
        },
        "EnableAllFeatures": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "Handshake": {
                        "shape": "S4"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WK2LRSOYZJR7KQGYB53VGD663ZMFSVE7UBZGKZCHQY4BGUT5F5ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKZXD3VUUWA5VLEPY43VJJNIIHC5BOC5GQZ3EH3627QWV2V2XURQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSQWZJAVT23WM3TZMKPAR7H5TK644ETOF7JVZGSL2HN54GPHESFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKTROLU7ZUPAZ4YPZOHDVVN6Q5PNP56MFIM7KRKLR423BTAGJ4WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L23NFAR3XXQN2FUBFGQDXLLPHTXUPXYT624UTUG77X46EBRFA64Q/index.en.v2.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJE5JIZKXR42GGMTQC6VAQIGUNLUV3VNCZX7CVPNATXSWSFP7SWA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~253ae210.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MQIMQVJG2VAC223S2QWZ7BWWTMJZRXORRD3E3BH2PRXPXG56BHA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJWVQDWKJAZC647WFQMC2EICZQSXVXWBVROHWQV5T5SP5BHDHLVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDCI4PIC5KJKTSU5SLDVTETW6BWQPL7LE7L6LUVR36Y4UVBFE2HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFURIOS7SFW6TEL2P63BT6COM7O55XZ73SNDX7TTWWN4ZXNHIROA/d29f77a29bc46792218be16e7efa26e8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5SVEZPGI4ENGXOTXA63ES3YF7QK4PQO6Q5Z6RD2IW6LITGO5IVQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ARIQE4PSDORKOR33J7UMMYCSB5IS2NDXYKVM4V76B7CBQDAUQCCQ/79b4e3a50f93a1f6241c7d8d786d2d3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMMDLSXJBJQWUCP5REHNCUCMGSSVJFGV46FF56ZAJ32IPAH7LSMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9d58dd03-11ab-4718-9d06-8679bc790d78/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714585375184/main_en.js"
            ]
        },
        "EnablePolicyType": {
            "input": {
                "type": "structure",
                "required": [
                    "RootId",
                    "PolicyType"
                ],
                "members": {
                    "RootId": {},
                    "PolicyType": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Root": {
                        "shape": "S2n"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WK2LRSOYZJR7KQGYB53VGD663ZMFSVE7UBZGKZCHQY4BGUT5F5ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKZXD3VUUWA5VLEPY43VJJNIIHC5BOC5GQZ3EH3627QWV2V2XURQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSQWZJAVT23WM3TZMKPAR7H5TK644ETOF7JVZGSL2HN54GPHESFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKTROLU7ZUPAZ4YPZOHDVVN6Q5PNP56MFIM7KRKLR423BTAGJ4WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L23NFAR3XXQN2FUBFGQDXLLPHTXUPXYT624UTUG77X46EBRFA64Q/index.en.v2.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJE5JIZKXR42GGMTQC6VAQIGUNLUV3VNCZX7CVPNATXSWSFP7SWA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~253ae210.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MQIMQVJG2VAC223S2QWZ7BWWTMJZRXORRD3E3BH2PRXPXG56BHA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJWVQDWKJAZC647WFQMC2EICZQSXVXWBVROHWQV5T5SP5BHDHLVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDCI4PIC5KJKTSU5SLDVTETW6BWQPL7LE7L6LUVR36Y4UVBFE2HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFURIOS7SFW6TEL2P63BT6COM7O55XZ73SNDX7TTWWN4ZXNHIROA/d29f77a29bc46792218be16e7efa26e8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5SVEZPGI4ENGXOTXA63ES3YF7QK4PQO6Q5Z6RD2IW6LITGO5IVQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ARIQE4PSDORKOR33J7UMMYCSB5IS2NDXYKVM4V76B7CBQDAUQCCQ/79b4e3a50f93a1f6241c7d8d786d2d3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMMDLSXJBJQWUCP5REHNCUCMGSSVJFGV46FF56ZAJ32IPAH7LSMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9d58dd03-11ab-4718-9d06-8679bc790d78/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714585375184/main_en.js"
            ]
        },
        "InviteAccountToOrganization": {
            "input": {
                "type": "structure",
                "required": [
                    "Target"
                ],
                "members": {
                    "Target": {
                        "shape": "S7"
                    },
                    "Notes": {
                        "type": "string",
                        "sensitive": true
                    },
                    "Tags": {
                        "shape": "Sr"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Handshake": {
                        "shape": "S4"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WK2LRSOYZJR7KQGYB53VGD663ZMFSVE7UBZGKZCHQY4BGUT5F5ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKZXD3VUUWA5VLEPY43VJJNIIHC5BOC5GQZ3EH3627QWV2V2XURQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSQWZJAVT23WM3TZMKPAR7H5TK644ETOF7JVZGSL2HN54GPHESFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKTROLU7ZUPAZ4YPZOHDVVN6Q5PNP56MFIM7KRKLR423BTAGJ4WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L23NFAR3XXQN2FUBFGQDXLLPHTXUPXYT624UTUG77X46EBRFA64Q/index.en.v2.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJE5JIZKXR42GGMTQC6VAQIGUNLUV3VNCZX7CVPNATXSWSFP7SWA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~253ae210.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MQIMQVJG2VAC223S2QWZ7BWWTMJZRXORRD3E3BH2PRXPXG56BHA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJWVQDWKJAZC647WFQMC2EICZQSXVXWBVROHWQV5T5SP5BHDHLVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDCI4PIC5KJKTSU5SLDVTETW6BWQPL7LE7L6LUVR36Y4UVBFE2HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFURIOS7SFW6TEL2P63BT6COM7O55XZ73SNDX7TTWWN4ZXNHIROA/d29f77a29bc46792218be16e7efa26e8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5SVEZPGI4ENGXOTXA63ES3YF7QK4PQO6Q5Z6RD2IW6LITGO5IVQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ARIQE4PSDORKOR33J7UMMYCSB5IS2NDXYKVM4V76B7CBQDAUQCCQ/79b4e3a50f93a1f6241c7d8d786d2d3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMMDLSXJBJQWUCP5REHNCUCMGSSVJFGV46FF56ZAJ32IPAH7LSMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9d58dd03-11ab-4718-9d06-8679bc790d78/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714585375184/main_en.js"
            ]
        },
        "LeaveOrganization": {
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WK2LRSOYZJR7KQGYB53VGD663ZMFSVE7UBZGKZCHQY4BGUT5F5ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKZXD3VUUWA5VLEPY43VJJNIIHC5BOC5GQZ3EH3627QWV2V2XURQ/vendors.js",
[...]
