{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2020-05-07",
        "endpointPrefix": "organizationsinternal",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceFullName": "AWS Organizations Internal",
        "signatureVersion": "v4",
        "signingName": "organizations",
        "targetPrefix": "AWSOrganizationsInternal",
        "uid": "organizationsinternal-2020-05-07",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/GRVDQPYC3NCTKSCJCHC7B2CBAJVP5Z65CTMWGR2ZCJLIOSO3BF4Q/vendor.awssdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/U3AEYCXV3S7M6B4FWTRXHOUE4L6LQD5MNL7UO7N4ONHJSEIVW6ZQ/vendor.awssdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HTGZBRJSOW4B2ZZ7UBPOX56S27KITF2WHZMLZCJN42D3PZ6JOAFQ/vendor.awssdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6PDRVODXI2KT735QDIKFWV47MMZYEEDS6IQHC2VA7ZEB4VBQD3BQ/vendor.awssdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SDNLT6CCIVZYV2VKHKU7AXCZ3P2GZ4IZB76CS2NBDIHNDJXPSTIA/vendor.awssdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JHJZHPRDKAGIZTKJFXXIDEIR4WJGGMVE7OK3V3HSMSXMHELA7NQQ/vendor.awssdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CGSZF2WVXU3HJLSBANZ5BHA7QGOUSSIKKU4HKEAFURD2IS6BTXSQ/vendor.awssdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NQVNWQNX6JWK2MVJYFEUPIFFPA3QHO7QYUE52JUU3Q52YBXRJA6A/vendor.awssdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KJFFZGOWFIZFLL5LTNMCVA2V66SYTTIPJS4GSNEEMSQYRDULFODQ/vendor.awssdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FHGUQMKAWKISZGSANZWPGIFVMTGMTNYSDO3ZGBSWX5ZBN7M6L42A/vendor.awssdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/N5TNYDY4EJAERWBQHJFBQ6BTYFWWPT5VPTG46NDNKDSNR54MCD4A/vendor.awssdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ATWMQNLE5IHPKLQRNDY5DFLW3TX6JBXK5DDNYFXKL3EFR4XIHNCQ/vendor.awssdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z37M7PZFGVOA7UZVJUFOC57ZFPCABQRXWY4LNR4ROGOSUIT5W32A/vendor.awssdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JTH4ZE4PNEEQVLTX6FNZSO72GZ2Y3PRMOJTZHKOHTAZD7VIMQ7WA/vendor.awssdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AWZGHUCKWLF6UT5DQLPOZ3RE7ZEYL3SRDH3OLVWEMOG7RIBDLHMA/vendor.awssdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WIYUSBCI4K4ZHVUREU56IYR7ZDVRR5NIKJZHQOZGS4BS7MEYYYIA/vendor.awssdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ET5KLVYVTCZLW6YLEUXR3KGHLMHMOLJVTBZ6HB6IGSCEVI6CUZEA/vendor.awssdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GDUGDROKARYYHTYRARIBXMX2G264SHYSD5KGUR5DTWY7ZVEGO2CA/vendor.awssdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CX6INNVS7TEJTGFLS6VRCME3I4ZTXFDCLJMRY65RNWXU5JPIW75Q/vendor.awssdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DHCWZJFJ7HCFTV7B5UY5KW53YY2QII5R2O57DQMZZ5BCQV3EOF2A/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PGBJSAOCCYJP55GE6FV3R5H3LGYIATRUZWKX27VQD7ZWAQF45OSQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KCEGN45QNCXNOTYGZOQOGADO4JY4CA6C3TAF4TFL5P2H22UYDQ2A/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WSTTYG2VPGHCVCKT34EDACRYXCFJL2QJKLAWMR5M5ZWGS2WRVTHA/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PGQ3HGVSKWCFDZZY3XNENHMO245NLM2GU3GSWBI5MBMPLE573EOQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UUA6KOFPAKHPD5QSIZKGMUFDIU6B6QQQGCS3LE2UGAGLBSPEUXTA/vendor.js"
        ]
    },
    "operations": {
        "AcceptEAFAgreement": {
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3AEYCXV3S7M6B4FWTRXHOUE4L6LQD5MNL7UO7N4ONHJSEIVW6ZQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTGZBRJSOW4B2ZZ7UBPOX56S27KITF2WHZMLZCJN42D3PZ6JOAFQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PDRVODXI2KT735QDIKFWV47MMZYEEDS6IQHC2VA7ZEB4VBQD3BQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDNLT6CCIVZYV2VKHKU7AXCZ3P2GZ4IZB76CS2NBDIHNDJXPSTIA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHJZHPRDKAGIZTKJFXXIDEIR4WJGGMVE7OK3V3HSMSXMHELA7NQQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGSZF2WVXU3HJLSBANZ5BHA7QGOUSSIKKU4HKEAFURD2IS6BTXSQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQVNWQNX6JWK2MVJYFEUPIFFPA3QHO7QYUE52JUU3Q52YBXRJA6A/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJFFZGOWFIZFLL5LTNMCVA2V66SYTTIPJS4GSNEEMSQYRDULFODQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHGUQMKAWKISZGSANZWPGIFVMTGMTNYSDO3ZGBSWX5ZBN7M6L42A/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5TNYDY4EJAERWBQHJFBQ6BTYFWWPT5VPTG46NDNKDSNR54MCD4A/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ATWMQNLE5IHPKLQRNDY5DFLW3TX6JBXK5DDNYFXKL3EFR4XIHNCQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z37M7PZFGVOA7UZVJUFOC57ZFPCABQRXWY4LNR4ROGOSUIT5W32A/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTH4ZE4PNEEQVLTX6FNZSO72GZ2Y3PRMOJTZHKOHTAZD7VIMQ7WA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWZGHUCKWLF6UT5DQLPOZ3RE7ZEYL3SRDH3OLVWEMOG7RIBDLHMA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIYUSBCI4K4ZHVUREU56IYR7ZDVRR5NIKJZHQOZGS4BS7MEYYYIA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ET5KLVYVTCZLW6YLEUXR3KGHLMHMOLJVTBZ6HB6IGSCEVI6CUZEA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDUGDROKARYYHTYRARIBXMX2G264SHYSD5KGUR5DTWY7ZVEGO2CA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CX6INNVS7TEJTGFLS6VRCME3I4ZTXFDCLJMRY65RNWXU5JPIW75Q/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DHCWZJFJ7HCFTV7B5UY5KW53YY2QII5R2O57DQMZZ5BCQV3EOF2A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGBJSAOCCYJP55GE6FV3R5H3LGYIATRUZWKX27VQD7ZWAQF45OSQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCEGN45QNCXNOTYGZOQOGADO4JY4CA6C3TAF4TFL5P2H22UYDQ2A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSTTYG2VPGHCVCKT34EDACRYXCFJL2QJKLAWMR5M5ZWGS2WRVTHA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGQ3HGVSKWCFDZZY3XNENHMO245NLM2GU3GSWBI5MBMPLE573EOQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUA6KOFPAKHPD5QSIZKGMUFDIU6B6QQQGCS3LE2UGAGLBSPEUXTA/vendor.js"
            ]
        },
        "CloseAccount": {
            "input": {
                "type": "structure",
                "required": [
                    "AccountId"
                ],
                "members": {
                    "AccountId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3AEYCXV3S7M6B4FWTRXHOUE4L6LQD5MNL7UO7N4ONHJSEIVW6ZQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTGZBRJSOW4B2ZZ7UBPOX56S27KITF2WHZMLZCJN42D3PZ6JOAFQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PDRVODXI2KT735QDIKFWV47MMZYEEDS6IQHC2VA7ZEB4VBQD3BQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDNLT6CCIVZYV2VKHKU7AXCZ3P2GZ4IZB76CS2NBDIHNDJXPSTIA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHJZHPRDKAGIZTKJFXXIDEIR4WJGGMVE7OK3V3HSMSXMHELA7NQQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGSZF2WVXU3HJLSBANZ5BHA7QGOUSSIKKU4HKEAFURD2IS6BTXSQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQVNWQNX6JWK2MVJYFEUPIFFPA3QHO7QYUE52JUU3Q52YBXRJA6A/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJFFZGOWFIZFLL5LTNMCVA2V66SYTTIPJS4GSNEEMSQYRDULFODQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHGUQMKAWKISZGSANZWPGIFVMTGMTNYSDO3ZGBSWX5ZBN7M6L42A/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5TNYDY4EJAERWBQHJFBQ6BTYFWWPT5VPTG46NDNKDSNR54MCD4A/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ATWMQNLE5IHPKLQRNDY5DFLW3TX6JBXK5DDNYFXKL3EFR4XIHNCQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z37M7PZFGVOA7UZVJUFOC57ZFPCABQRXWY4LNR4ROGOSUIT5W32A/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTH4ZE4PNEEQVLTX6FNZSO72GZ2Y3PRMOJTZHKOHTAZD7VIMQ7WA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWZGHUCKWLF6UT5DQLPOZ3RE7ZEYL3SRDH3OLVWEMOG7RIBDLHMA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIYUSBCI4K4ZHVUREU56IYR7ZDVRR5NIKJZHQOZGS4BS7MEYYYIA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ET5KLVYVTCZLW6YLEUXR3KGHLMHMOLJVTBZ6HB6IGSCEVI6CUZEA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDUGDROKARYYHTYRARIBXMX2G264SHYSD5KGUR5DTWY7ZVEGO2CA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CX6INNVS7TEJTGFLS6VRCME3I4ZTXFDCLJMRY65RNWXU5JPIW75Q/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DHCWZJFJ7HCFTV7B5UY5KW53YY2QII5R2O57DQMZZ5BCQV3EOF2A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGBJSAOCCYJP55GE6FV3R5H3LGYIATRUZWKX27VQD7ZWAQF45OSQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCEGN45QNCXNOTYGZOQOGADO4JY4CA6C3TAF4TFL5P2H22UYDQ2A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSTTYG2VPGHCVCKT34EDACRYXCFJL2QJKLAWMR5M5ZWGS2WRVTHA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGQ3HGVSKWCFDZZY3XNENHMO245NLM2GU3GSWBI5MBMPLE573EOQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUA6KOFPAKHPD5QSIZKGMUFDIU6B6QQQGCS3LE2UGAGLBSPEUXTA/vendor.js"
            ]
        },
        "ConfirmEmailAddressOwnership": {
            "input": {
                "type": "structure",
                "required": [
                    "VerificationCode"
                ],
                "members": {
                    "VerificationCode": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3AEYCXV3S7M6B4FWTRXHOUE4L6LQD5MNL7UO7N4ONHJSEIVW6ZQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTGZBRJSOW4B2ZZ7UBPOX56S27KITF2WHZMLZCJN42D3PZ6JOAFQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PDRVODXI2KT735QDIKFWV47MMZYEEDS6IQHC2VA7ZEB4VBQD3BQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDNLT6CCIVZYV2VKHKU7AXCZ3P2GZ4IZB76CS2NBDIHNDJXPSTIA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHJZHPRDKAGIZTKJFXXIDEIR4WJGGMVE7OK3V3HSMSXMHELA7NQQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGSZF2WVXU3HJLSBANZ5BHA7QGOUSSIKKU4HKEAFURD2IS6BTXSQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQVNWQNX6JWK2MVJYFEUPIFFPA3QHO7QYUE52JUU3Q52YBXRJA6A/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJFFZGOWFIZFLL5LTNMCVA2V66SYTTIPJS4GSNEEMSQYRDULFODQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHGUQMKAWKISZGSANZWPGIFVMTGMTNYSDO3ZGBSWX5ZBN7M6L42A/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5TNYDY4EJAERWBQHJFBQ6BTYFWWPT5VPTG46NDNKDSNR54MCD4A/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ATWMQNLE5IHPKLQRNDY5DFLW3TX6JBXK5DDNYFXKL3EFR4XIHNCQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z37M7PZFGVOA7UZVJUFOC57ZFPCABQRXWY4LNR4ROGOSUIT5W32A/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTH4ZE4PNEEQVLTX6FNZSO72GZ2Y3PRMOJTZHKOHTAZD7VIMQ7WA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWZGHUCKWLF6UT5DQLPOZ3RE7ZEYL3SRDH3OLVWEMOG7RIBDLHMA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIYUSBCI4K4ZHVUREU56IYR7ZDVRR5NIKJZHQOZGS4BS7MEYYYIA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ET5KLVYVTCZLW6YLEUXR3KGHLMHMOLJVTBZ6HB6IGSCEVI6CUZEA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDUGDROKARYYHTYRARIBXMX2G264SHYSD5KGUR5DTWY7ZVEGO2CA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CX6INNVS7TEJTGFLS6VRCME3I4ZTXFDCLJMRY65RNWXU5JPIW75Q/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DHCWZJFJ7HCFTV7B5UY5KW53YY2QII5R2O57DQMZZ5BCQV3EOF2A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGBJSAOCCYJP55GE6FV3R5H3LGYIATRUZWKX27VQD7ZWAQF45OSQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCEGN45QNCXNOTYGZOQOGADO4JY4CA6C3TAF4TFL5P2H22UYDQ2A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSTTYG2VPGHCVCKT34EDACRYXCFJL2QJKLAWMR5M5ZWGS2WRVTHA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGQ3HGVSKWCFDZZY3XNENHMO245NLM2GU3GSWBI5MBMPLE573EOQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUA6KOFPAKHPD5QSIZKGMUFDIU6B6QQQGCS3LE2UGAGLBSPEUXTA/vendor.js"
            ]
        },
        "GetControlledDomainAccountEmailOptions": {
            "input": {
                "type": "structure",
                "required": [
                    "DomainName"
                ],
                "members": {
                    "DomainName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DomainName": {},
                    "AccountEmailOptions": {
                        "type": "structure",
                        "members": {
                            "ContactEmail": {
                                "type": "string",
                                "sensitive": true
                            },
                            "LearnMoreLink": {}
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3AEYCXV3S7M6B4FWTRXHOUE4L6LQD5MNL7UO7N4ONHJSEIVW6ZQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTGZBRJSOW4B2ZZ7UBPOX56S27KITF2WHZMLZCJN42D3PZ6JOAFQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PDRVODXI2KT735QDIKFWV47MMZYEEDS6IQHC2VA7ZEB4VBQD3BQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDNLT6CCIVZYV2VKHKU7AXCZ3P2GZ4IZB76CS2NBDIHNDJXPSTIA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHJZHPRDKAGIZTKJFXXIDEIR4WJGGMVE7OK3V3HSMSXMHELA7NQQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGSZF2WVXU3HJLSBANZ5BHA7QGOUSSIKKU4HKEAFURD2IS6BTXSQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQVNWQNX6JWK2MVJYFEUPIFFPA3QHO7QYUE52JUU3Q52YBXRJA6A/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJFFZGOWFIZFLL5LTNMCVA2V66SYTTIPJS4GSNEEMSQYRDULFODQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHGUQMKAWKISZGSANZWPGIFVMTGMTNYSDO3ZGBSWX5ZBN7M6L42A/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5TNYDY4EJAERWBQHJFBQ6BTYFWWPT5VPTG46NDNKDSNR54MCD4A/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ATWMQNLE5IHPKLQRNDY5DFLW3TX6JBXK5DDNYFXKL3EFR4XIHNCQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z37M7PZFGVOA7UZVJUFOC57ZFPCABQRXWY4LNR4ROGOSUIT5W32A/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTH4ZE4PNEEQVLTX6FNZSO72GZ2Y3PRMOJTZHKOHTAZD7VIMQ7WA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWZGHUCKWLF6UT5DQLPOZ3RE7ZEYL3SRDH3OLVWEMOG7RIBDLHMA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIYUSBCI4K4ZHVUREU56IYR7ZDVRR5NIKJZHQOZGS4BS7MEYYYIA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ET5KLVYVTCZLW6YLEUXR3KGHLMHMOLJVTBZ6HB6IGSCEVI6CUZEA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDUGDROKARYYHTYRARIBXMX2G264SHYSD5KGUR5DTWY7ZVEGO2CA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CX6INNVS7TEJTGFLS6VRCME3I4ZTXFDCLJMRY65RNWXU5JPIW75Q/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DHCWZJFJ7HCFTV7B5UY5KW53YY2QII5R2O57DQMZZ5BCQV3EOF2A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGBJSAOCCYJP55GE6FV3R5H3LGYIATRUZWKX27VQD7ZWAQF45OSQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCEGN45QNCXNOTYGZOQOGADO4JY4CA6C3TAF4TFL5P2H22UYDQ2A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSTTYG2VPGHCVCKT34EDACRYXCFJL2QJKLAWMR5M5ZWGS2WRVTHA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGQ3HGVSKWCFDZZY3XNENHMO245NLM2GU3GSWBI5MBMPLE573EOQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUA6KOFPAKHPD5QSIZKGMUFDIU6B6QQQGCS3LE2UGAGLBSPEUXTA/vendor.js"
            ]
        },
        "GetEAFAgreementAcceptance": {
            "output": {
                "type": "structure",
                "members": {
                    "AgreementAccepted": {
                        "type": "boolean"
                    },
                    "AcceptanceDate": {
                        "type": "timestamp"
                    },
                    "AcceptingUser": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3AEYCXV3S7M6B4FWTRXHOUE4L6LQD5MNL7UO7N4ONHJSEIVW6ZQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTGZBRJSOW4B2ZZ7UBPOX56S27KITF2WHZMLZCJN42D3PZ6JOAFQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PDRVODXI2KT735QDIKFWV47MMZYEEDS6IQHC2VA7ZEB4VBQD3BQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDNLT6CCIVZYV2VKHKU7AXCZ3P2GZ4IZB76CS2NBDIHNDJXPSTIA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHJZHPRDKAGIZTKJFXXIDEIR4WJGGMVE7OK3V3HSMSXMHELA7NQQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGSZF2WVXU3HJLSBANZ5BHA7QGOUSSIKKU4HKEAFURD2IS6BTXSQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQVNWQNX6JWK2MVJYFEUPIFFPA3QHO7QYUE52JUU3Q52YBXRJA6A/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJFFZGOWFIZFLL5LTNMCVA2V66SYTTIPJS4GSNEEMSQYRDULFODQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHGUQMKAWKISZGSANZWPGIFVMTGMTNYSDO3ZGBSWX5ZBN7M6L42A/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5TNYDY4EJAERWBQHJFBQ6BTYFWWPT5VPTG46NDNKDSNR54MCD4A/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ATWMQNLE5IHPKLQRNDY5DFLW3TX6JBXK5DDNYFXKL3EFR4XIHNCQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z37M7PZFGVOA7UZVJUFOC57ZFPCABQRXWY4LNR4ROGOSUIT5W32A/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTH4ZE4PNEEQVLTX6FNZSO72GZ2Y3PRMOJTZHKOHTAZD7VIMQ7WA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWZGHUCKWLF6UT5DQLPOZ3RE7ZEYL3SRDH3OLVWEMOG7RIBDLHMA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIYUSBCI4K4ZHVUREU56IYR7ZDVRR5NIKJZHQOZGS4BS7MEYYYIA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ET5KLVYVTCZLW6YLEUXR3KGHLMHMOLJVTBZ6HB6IGSCEVI6CUZEA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDUGDROKARYYHTYRARIBXMX2G264SHYSD5KGUR5DTWY7ZVEGO2CA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CX6INNVS7TEJTGFLS6VRCME3I4ZTXFDCLJMRY65RNWXU5JPIW75Q/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DHCWZJFJ7HCFTV7B5UY5KW53YY2QII5R2O57DQMZZ5BCQV3EOF2A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGBJSAOCCYJP55GE6FV3R5H3LGYIATRUZWKX27VQD7ZWAQF45OSQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCEGN45QNCXNOTYGZOQOGADO4JY4CA6C3TAF4TFL5P2H22UYDQ2A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSTTYG2VPGHCVCKT34EDACRYXCFJL2QJKLAWMR5M5ZWGS2WRVTHA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGQ3HGVSKWCFDZZY3XNENHMO245NLM2GU3GSWBI5MBMPLE573EOQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUA6KOFPAKHPD5QSIZKGMUFDIU6B6QQQGCS3LE2UGAGLBSPEUXTA/vendor.js"
            ]
        },
        "GetEAFAgreementDocument": {
            "input": {
                "type": "structure",
                "required": [
                    "Locale"
                ],
                "members": {
                    "Locale": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "EAFAgreementDocument": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3AEYCXV3S7M6B4FWTRXHOUE4L6LQD5MNL7UO7N4ONHJSEIVW6ZQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTGZBRJSOW4B2ZZ7UBPOX56S27KITF2WHZMLZCJN42D3PZ6JOAFQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PDRVODXI2KT735QDIKFWV47MMZYEEDS6IQHC2VA7ZEB4VBQD3BQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDNLT6CCIVZYV2VKHKU7AXCZ3P2GZ4IZB76CS2NBDIHNDJXPSTIA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHJZHPRDKAGIZTKJFXXIDEIR4WJGGMVE7OK3V3HSMSXMHELA7NQQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGSZF2WVXU3HJLSBANZ5BHA7QGOUSSIKKU4HKEAFURD2IS6BTXSQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQVNWQNX6JWK2MVJYFEUPIFFPA3QHO7QYUE52JUU3Q52YBXRJA6A/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJFFZGOWFIZFLL5LTNMCVA2V66SYTTIPJS4GSNEEMSQYRDULFODQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHGUQMKAWKISZGSANZWPGIFVMTGMTNYSDO3ZGBSWX5ZBN7M6L42A/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5TNYDY4EJAERWBQHJFBQ6BTYFWWPT5VPTG46NDNKDSNR54MCD4A/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ATWMQNLE5IHPKLQRNDY5DFLW3TX6JBXK5DDNYFXKL3EFR4XIHNCQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z37M7PZFGVOA7UZVJUFOC57ZFPCABQRXWY4LNR4ROGOSUIT5W32A/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTH4ZE4PNEEQVLTX6FNZSO72GZ2Y3PRMOJTZHKOHTAZD7VIMQ7WA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWZGHUCKWLF6UT5DQLPOZ3RE7ZEYL3SRDH3OLVWEMOG7RIBDLHMA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIYUSBCI4K4ZHVUREU56IYR7ZDVRR5NIKJZHQOZGS4BS7MEYYYIA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ET5KLVYVTCZLW6YLEUXR3KGHLMHMOLJVTBZ6HB6IGSCEVI6CUZEA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDUGDROKARYYHTYRARIBXMX2G264SHYSD5KGUR5DTWY7ZVEGO2CA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CX6INNVS7TEJTGFLS6VRCME3I4ZTXFDCLJMRY65RNWXU5JPIW75Q/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DHCWZJFJ7HCFTV7B5UY5KW53YY2QII5R2O57DQMZZ5BCQV3EOF2A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGBJSAOCCYJP55GE6FV3R5H3LGYIATRUZWKX27VQD7ZWAQF45OSQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCEGN45QNCXNOTYGZOQOGADO4JY4CA6C3TAF4TFL5P2H22UYDQ2A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSTTYG2VPGHCVCKT34EDACRYXCFJL2QJKLAWMR5M5ZWGS2WRVTHA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGQ3HGVSKWCFDZZY3XNENHMO245NLM2GU3GSWBI5MBMPLE573EOQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUA6KOFPAKHPD5QSIZKGMUFDIU6B6QQQGCS3LE2UGAGLBSPEUXTA/vendor.js"
            ]
        },
        "GetEmailAddressVerificationStatus": {
            "output": {
                "type": "structure",
                "members": {
                    "VerificationStatus": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3AEYCXV3S7M6B4FWTRXHOUE4L6LQD5MNL7UO7N4ONHJSEIVW6ZQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTGZBRJSOW4B2ZZ7UBPOX56S27KITF2WHZMLZCJN42D3PZ6JOAFQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PDRVODXI2KT735QDIKFWV47MMZYEEDS6IQHC2VA7ZEB4VBQD3BQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDNLT6CCIVZYV2VKHKU7AXCZ3P2GZ4IZB76CS2NBDIHNDJXPSTIA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHJZHPRDKAGIZTKJFXXIDEIR4WJGGMVE7OK3V3HSMSXMHELA7NQQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGSZF2WVXU3HJLSBANZ5BHA7QGOUSSIKKU4HKEAFURD2IS6BTXSQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQVNWQNX6JWK2MVJYFEUPIFFPA3QHO7QYUE52JUU3Q52YBXRJA6A/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJFFZGOWFIZFLL5LTNMCVA2V66SYTTIPJS4GSNEEMSQYRDULFODQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHGUQMKAWKISZGSANZWPGIFVMTGMTNYSDO3ZGBSWX5ZBN7M6L42A/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5TNYDY4EJAERWBQHJFBQ6BTYFWWPT5VPTG46NDNKDSNR54MCD4A/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ATWMQNLE5IHPKLQRNDY5DFLW3TX6JBXK5DDNYFXKL3EFR4XIHNCQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z37M7PZFGVOA7UZVJUFOC57ZFPCABQRXWY4LNR4ROGOSUIT5W32A/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTH4ZE4PNEEQVLTX6FNZSO72GZ2Y3PRMOJTZHKOHTAZD7VIMQ7WA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWZGHUCKWLF6UT5DQLPOZ3RE7ZEYL3SRDH3OLVWEMOG7RIBDLHMA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIYUSBCI4K4ZHVUREU56IYR7ZDVRR5NIKJZHQOZGS4BS7MEYYYIA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ET5KLVYVTCZLW6YLEUXR3KGHLMHMOLJVTBZ6HB6IGSCEVI6CUZEA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDUGDROKARYYHTYRARIBXMX2G264SHYSD5KGUR5DTWY7ZVEGO2CA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CX6INNVS7TEJTGFLS6VRCME3I4ZTXFDCLJMRY65RNWXU5JPIW75Q/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DHCWZJFJ7HCFTV7B5UY5KW53YY2QII5R2O57DQMZZ5BCQV3EOF2A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGBJSAOCCYJP55GE6FV3R5H3LGYIATRUZWKX27VQD7ZWAQF45OSQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCEGN45QNCXNOTYGZOQOGADO4JY4CA6C3TAF4TFL5P2H22UYDQ2A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSTTYG2VPGHCVCKT34EDACRYXCFJL2QJKLAWMR5M5ZWGS2WRVTHA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGQ3HGVSKWCFDZZY3XNENHMO245NLM2GU3GSWBI5MBMPLE573EOQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUA6KOFPAKHPD5QSIZKGMUFDIU6B6QQQGCS3LE2UGAGLBSPEUXTA/vendor.js"
            ]
        },
        "InitiateEmailAddressVerification": {
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3AEYCXV3S7M6B4FWTRXHOUE4L6LQD5MNL7UO7N4ONHJSEIVW6ZQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTGZBRJSOW4B2ZZ7UBPOX56S27KITF2WHZMLZCJN42D3PZ6JOAFQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PDRVODXI2KT735QDIKFWV47MMZYEEDS6IQHC2VA7ZEB4VBQD3BQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDNLT6CCIVZYV2VKHKU7AXCZ3P2GZ4IZB76CS2NBDIHNDJXPSTIA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHJZHPRDKAGIZTKJFXXIDEIR4WJGGMVE7OK3V3HSMSXMHELA7NQQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGSZF2WVXU3HJLSBANZ5BHA7QGOUSSIKKU4HKEAFURD2IS6BTXSQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQVNWQNX6JWK2MVJYFEUPIFFPA3QHO7QYUE52JUU3Q52YBXRJA6A/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJFFZGOWFIZFLL5LTNMCVA2V66SYTTIPJS4GSNEEMSQYRDULFODQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHGUQMKAWKISZGSANZWPGIFVMTGMTNYSDO3ZGBSWX5ZBN7M6L42A/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5TNYDY4EJAERWBQHJFBQ6BTYFWWPT5VPTG46NDNKDSNR54MCD4A/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ATWMQNLE5IHPKLQRNDY5DFLW3TX6JBXK5DDNYFXKL3EFR4XIHNCQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z37M7PZFGVOA7UZVJUFOC57ZFPCABQRXWY4LNR4ROGOSUIT5W32A/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTH4ZE4PNEEQVLTX6FNZSO72GZ2Y3PRMOJTZHKOHTAZD7VIMQ7WA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWZGHUCKWLF6UT5DQLPOZ3RE7ZEYL3SRDH3OLVWEMOG7RIBDLHMA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIYUSBCI4K4ZHVUREU56IYR7ZDVRR5NIKJZHQOZGS4BS7MEYYYIA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ET5KLVYVTCZLW6YLEUXR3KGHLMHMOLJVTBZ6HB6IGSCEVI6CUZEA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDUGDROKARYYHTYRARIBXMX2G264SHYSD5KGUR5DTWY7ZVEGO2CA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CX6INNVS7TEJTGFLS6VRCME3I4ZTXFDCLJMRY65RNWXU5JPIW75Q/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DHCWZJFJ7HCFTV7B5UY5KW53YY2QII5R2O57DQMZZ5BCQV3EOF2A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGBJSAOCCYJP55GE6FV3R5H3LGYIATRUZWKX27VQD7ZWAQF45OSQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCEGN45QNCXNOTYGZOQOGADO4JY4CA6C3TAF4TFL5P2H22UYDQ2A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSTTYG2VPGHCVCKT34EDACRYXCFJL2QJKLAWMR5M5ZWGS2WRVTHA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGQ3HGVSKWCFDZZY3XNENHMO245NLM2GU3GSWBI5MBMPLE573EOQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUA6KOFPAKHPD5QSIZKGMUFDIU6B6QQQGCS3LE2UGAGLBSPEUXTA/vendor.js"
            ]
        },
        "IsFeatureEnabled": {
            "input": {
                "type": "structure",
                "required": [
                    "Feature"
                ],
                "members": {
                    "Feature": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Enabled"
                ],
                "members": {
                    "Enabled": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3AEYCXV3S7M6B4FWTRXHOUE4L6LQD5MNL7UO7N4ONHJSEIVW6ZQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTGZBRJSOW4B2ZZ7UBPOX56S27KITF2WHZMLZCJN42D3PZ6JOAFQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PDRVODXI2KT735QDIKFWV47MMZYEEDS6IQHC2VA7ZEB4VBQD3BQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDNLT6CCIVZYV2VKHKU7AXCZ3P2GZ4IZB76CS2NBDIHNDJXPSTIA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHJZHPRDKAGIZTKJFXXIDEIR4WJGGMVE7OK3V3HSMSXMHELA7NQQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGSZF2WVXU3HJLSBANZ5BHA7QGOUSSIKKU4HKEAFURD2IS6BTXSQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQVNWQNX6JWK2MVJYFEUPIFFPA3QHO7QYUE52JUU3Q52YBXRJA6A/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJFFZGOWFIZFLL5LTNMCVA2V66SYTTIPJS4GSNEEMSQYRDULFODQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHGUQMKAWKISZGSANZWPGIFVMTGMTNYSDO3ZGBSWX5ZBN7M6L42A/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5TNYDY4EJAERWBQHJFBQ6BTYFWWPT5VPTG46NDNKDSNR54MCD4A/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ATWMQNLE5IHPKLQRNDY5DFLW3TX6JBXK5DDNYFXKL3EFR4XIHNCQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z37M7PZFGVOA7UZVJUFOC57ZFPCABQRXWY4LNR4ROGOSUIT5W32A/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTH4ZE4PNEEQVLTX6FNZSO72GZ2Y3PRMOJTZHKOHTAZD7VIMQ7WA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWZGHUCKWLF6UT5DQLPOZ3RE7ZEYL3SRDH3OLVWEMOG7RIBDLHMA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIYUSBCI4K4ZHVUREU56IYR7ZDVRR5NIKJZHQOZGS4BS7MEYYYIA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ET5KLVYVTCZLW6YLEUXR3KGHLMHMOLJVTBZ6HB6IGSCEVI6CUZEA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDUGDROKARYYHTYRARIBXMX2G264SHYSD5KGUR5DTWY7ZVEGO2CA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CX6INNVS7TEJTGFLS6VRCME3I4ZTXFDCLJMRY65RNWXU5JPIW75Q/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DHCWZJFJ7HCFTV7B5UY5KW53YY2QII5R2O57DQMZZ5BCQV3EOF2A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGBJSAOCCYJP55GE6FV3R5H3LGYIATRUZWKX27VQD7ZWAQF45OSQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCEGN45QNCXNOTYGZOQOGADO4JY4CA6C3TAF4TFL5P2H22UYDQ2A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSTTYG2VPGHCVCKT34EDACRYXCFJL2QJKLAWMR5M5ZWGS2WRVTHA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGQ3HGVSKWCFDZZY3XNENHMO245NLM2GU3GSWBI5MBMPLE573EOQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUA6KOFPAKHPD5QSIZKGMUFDIU6B6QQQGCS3LE2UGAGLBSPEUXTA/vendor.js"
            ]
        },
        "ListEnabledActions": {
            "output": {
                "type": "structure",
                "members": {
                    "EnabledActions": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3AEYCXV3S7M6B4FWTRXHOUE4L6LQD5MNL7UO7N4ONHJSEIVW6ZQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTGZBRJSOW4B2ZZ7UBPOX56S27KITF2WHZMLZCJN42D3PZ6JOAFQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PDRVODXI2KT735QDIKFWV47MMZYEEDS6IQHC2VA7ZEB4VBQD3BQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDNLT6CCIVZYV2VKHKU7AXCZ3P2GZ4IZB76CS2NBDIHNDJXPSTIA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHJZHPRDKAGIZTKJFXXIDEIR4WJGGMVE7OK3V3HSMSXMHELA7NQQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGSZF2WVXU3HJLSBANZ5BHA7QGOUSSIKKU4HKEAFURD2IS6BTXSQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQVNWQNX6JWK2MVJYFEUPIFFPA3QHO7QYUE52JUU3Q52YBXRJA6A/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJFFZGOWFIZFLL5LTNMCVA2V66SYTTIPJS4GSNEEMSQYRDULFODQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHGUQMKAWKISZGSANZWPGIFVMTGMTNYSDO3ZGBSWX5ZBN7M6L42A/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5TNYDY4EJAERWBQHJFBQ6BTYFWWPT5VPTG46NDNKDSNR54MCD4A/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ATWMQNLE5IHPKLQRNDY5DFLW3TX6JBXK5DDNYFXKL3EFR4XIHNCQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z37M7PZFGVOA7UZVJUFOC57ZFPCABQRXWY4LNR4ROGOSUIT5W32A/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTH4ZE4PNEEQVLTX6FNZSO72GZ2Y3PRMOJTZHKOHTAZD7VIMQ7WA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWZGHUCKWLF6UT5DQLPOZ3RE7ZEYL3SRDH3OLVWEMOG7RIBDLHMA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIYUSBCI4K4ZHVUREU56IYR7ZDVRR5NIKJZHQOZGS4BS7MEYYYIA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ET5KLVYVTCZLW6YLEUXR3KGHLMHMOLJVTBZ6HB6IGSCEVI6CUZEA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDUGDROKARYYHTYRARIBXMX2G264SHYSD5KGUR5DTWY7ZVEGO2CA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CX6INNVS7TEJTGFLS6VRCME3I4ZTXFDCLJMRY65RNWXU5JPIW75Q/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DHCWZJFJ7HCFTV7B5UY5KW53YY2QII5R2O57DQMZZ5BCQV3EOF2A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGBJSAOCCYJP55GE6FV3R5H3LGYIATRUZWKX27VQD7ZWAQF45OSQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCEGN45QNCXNOTYGZOQOGADO4JY4CA6C3TAF4TFL5P2H22UYDQ2A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSTTYG2VPGHCVCKT34EDACRYXCFJL2QJKLAWMR5M5ZWGS2WRVTHA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGQ3HGVSKWCFDZZY3XNENHMO245NLM2GU3GSWBI5MBMPLE573EOQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUA6KOFPAKHPD5QSIZKGMUFDIU6B6QQQGCS3LE2UGAGLBSPEUXTA/vendor.js"
            ]
        },
        "ListSDFServiceActions": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceName"
                ],
                "members": {
                    "ServiceName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "SDFServiceActions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ActionName": {},
                                "Name": {},
                                "ApiDocRelative": {},
                                "ActionGroups": {
                                    "shape": "Sw"
                                },
                                "ContextKeysRef": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "DocPageRelative": {},
                                            "DocPage": {},
                                            "Description": {},
                                            "Type": {},
                                            "Name": {}
                                        }
                                    }
                                },
                                "Description": {},
                                "DocPage": {},
                                "DocPageRelative": {},
                                "OptionalResources": {
                                    "shape": "Sw"
                                },
                                "RequiredResources": {
                                    "shape": "Sw"
                                },
                                "RequiredActions": {
                                    "shape": "Sw"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3AEYCXV3S7M6B4FWTRXHOUE4L6LQD5MNL7UO7N4ONHJSEIVW6ZQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTGZBRJSOW4B2ZZ7UBPOX56S27KITF2WHZMLZCJN42D3PZ6JOAFQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PDRVODXI2KT735QDIKFWV47MMZYEEDS6IQHC2VA7ZEB4VBQD3BQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDNLT6CCIVZYV2VKHKU7AXCZ3P2GZ4IZB76CS2NBDIHNDJXPSTIA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHJZHPRDKAGIZTKJFXXIDEIR4WJGGMVE7OK3V3HSMSXMHELA7NQQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGSZF2WVXU3HJLSBANZ5BHA7QGOUSSIKKU4HKEAFURD2IS6BTXSQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQVNWQNX6JWK2MVJYFEUPIFFPA3QHO7QYUE52JUU3Q52YBXRJA6A/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJFFZGOWFIZFLL5LTNMCVA2V66SYTTIPJS4GSNEEMSQYRDULFODQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHGUQMKAWKISZGSANZWPGIFVMTGMTNYSDO3ZGBSWX5ZBN7M6L42A/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5TNYDY4EJAERWBQHJFBQ6BTYFWWPT5VPTG46NDNKDSNR54MCD4A/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ATWMQNLE5IHPKLQRNDY5DFLW3TX6JBXK5DDNYFXKL3EFR4XIHNCQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z37M7PZFGVOA7UZVJUFOC57ZFPCABQRXWY4LNR4ROGOSUIT5W32A/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTH4ZE4PNEEQVLTX6FNZSO72GZ2Y3PRMOJTZHKOHTAZD7VIMQ7WA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWZGHUCKWLF6UT5DQLPOZ3RE7ZEYL3SRDH3OLVWEMOG7RIBDLHMA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIYUSBCI4K4ZHVUREU56IYR7ZDVRR5NIKJZHQOZGS4BS7MEYYYIA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ET5KLVYVTCZLW6YLEUXR3KGHLMHMOLJVTBZ6HB6IGSCEVI6CUZEA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDUGDROKARYYHTYRARIBXMX2G264SHYSD5KGUR5DTWY7ZVEGO2CA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CX6INNVS7TEJTGFLS6VRCME3I4ZTXFDCLJMRY65RNWXU5JPIW75Q/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DHCWZJFJ7HCFTV7B5UY5KW53YY2QII5R2O57DQMZZ5BCQV3EOF2A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGBJSAOCCYJP55GE6FV3R5H3LGYIATRUZWKX27VQD7ZWAQF45OSQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCEGN45QNCXNOTYGZOQOGADO4JY4CA6C3TAF4TFL5P2H22UYDQ2A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSTTYG2VPGHCVCKT34EDACRYXCFJL2QJKLAWMR5M5ZWGS2WRVTHA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGQ3HGVSKWCFDZZY3XNENHMO245NLM2GU3GSWBI5MBMPLE573EOQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUA6KOFPAKHPD5QSIZKGMUFDIU6B6QQQGCS3LE2UGAGLBSPEUXTA/vendor.js"
            ]
        },
        "ListSDFServiceContextKeys": {
            "output": {
                "type": "structure",
                "members": {
                    "SDFServiceContextKeys": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ServiceDisplayName": {},
                                "DocPageRelative": {},
                                "DocPage": {},
                                "Description": {},
                                "Type": {},
                                "Name": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3AEYCXV3S7M6B4FWTRXHOUE4L6LQD5MNL7UO7N4ONHJSEIVW6ZQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTGZBRJSOW4B2ZZ7UBPOX56S27KITF2WHZMLZCJN42D3PZ6JOAFQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PDRVODXI2KT735QDIKFWV47MMZYEEDS6IQHC2VA7ZEB4VBQD3BQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDNLT6CCIVZYV2VKHKU7AXCZ3P2GZ4IZB76CS2NBDIHNDJXPSTIA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHJZHPRDKAGIZTKJFXXIDEIR4WJGGMVE7OK3V3HSMSXMHELA7NQQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGSZF2WVXU3HJLSBANZ5BHA7QGOUSSIKKU4HKEAFURD2IS6BTXSQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQVNWQNX6JWK2MVJYFEUPIFFPA3QHO7QYUE52JUU3Q52YBXRJA6A/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJFFZGOWFIZFLL5LTNMCVA2V66SYTTIPJS4GSNEEMSQYRDULFODQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHGUQMKAWKISZGSANZWPGIFVMTGMTNYSDO3ZGBSWX5ZBN7M6L42A/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5TNYDY4EJAERWBQHJFBQ6BTYFWWPT5VPTG46NDNKDSNR54MCD4A/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ATWMQNLE5IHPKLQRNDY5DFLW3TX6JBXK5DDNYFXKL3EFR4XIHNCQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z37M7PZFGVOA7UZVJUFOC57ZFPCABQRXWY4LNR4ROGOSUIT5W32A/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTH4ZE4PNEEQVLTX6FNZSO72GZ2Y3PRMOJTZHKOHTAZD7VIMQ7WA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWZGHUCKWLF6UT5DQLPOZ3RE7ZEYL3SRDH3OLVWEMOG7RIBDLHMA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIYUSBCI4K4ZHVUREU56IYR7ZDVRR5NIKJZHQOZGS4BS7MEYYYIA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ET5KLVYVTCZLW6YLEUXR3KGHLMHMOLJVTBZ6HB6IGSCEVI6CUZEA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDUGDROKARYYHTYRARIBXMX2G264SHYSD5KGUR5DTWY7ZVEGO2CA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CX6INNVS7TEJTGFLS6VRCME3I4ZTXFDCLJMRY65RNWXU5JPIW75Q/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DHCWZJFJ7HCFTV7B5UY5KW53YY2QII5R2O57DQMZZ5BCQV3EOF2A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGBJSAOCCYJP55GE6FV3R5H3LGYIATRUZWKX27VQD7ZWAQF45OSQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCEGN45QNCXNOTYGZOQOGADO4JY4CA6C3TAF4TFL5P2H22UYDQ2A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSTTYG2VPGHCVCKT34EDACRYXCFJL2QJKLAWMR5M5ZWGS2WRVTHA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGQ3HGVSKWCFDZZY3XNENHMO245NLM2GU3GSWBI5MBMPLE573EOQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUA6KOFPAKHPD5QSIZKGMUFDIU6B6QQQGCS3LE2UGAGLBSPEUXTA/vendor.js"
            ]
        },
        "ListSDFServiceResources": {
            "output": {
                "type": "structure",
                "members": {
                    "SDFServiceResources": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Arn": {},
                                "Description": {},
                                "DocPage": {},
                                "DocPageRelative": {},
                                "ResourceName": {},
                                "ServiceDisplayName": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3AEYCXV3S7M6B4FWTRXHOUE4L6LQD5MNL7UO7N4ONHJSEIVW6ZQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTGZBRJSOW4B2ZZ7UBPOX56S27KITF2WHZMLZCJN42D3PZ6JOAFQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PDRVODXI2KT735QDIKFWV47MMZYEEDS6IQHC2VA7ZEB4VBQD3BQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDNLT6CCIVZYV2VKHKU7AXCZ3P2GZ4IZB76CS2NBDIHNDJXPSTIA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHJZHPRDKAGIZTKJFXXIDEIR4WJGGMVE7OK3V3HSMSXMHELA7NQQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGSZF2WVXU3HJLSBANZ5BHA7QGOUSSIKKU4HKEAFURD2IS6BTXSQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQVNWQNX6JWK2MVJYFEUPIFFPA3QHO7QYUE52JUU3Q52YBXRJA6A/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJFFZGOWFIZFLL5LTNMCVA2V66SYTTIPJS4GSNEEMSQYRDULFODQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHGUQMKAWKISZGSANZWPGIFVMTGMTNYSDO3ZGBSWX5ZBN7M6L42A/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5TNYDY4EJAERWBQHJFBQ6BTYFWWPT5VPTG46NDNKDSNR54MCD4A/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ATWMQNLE5IHPKLQRNDY5DFLW3TX6JBXK5DDNYFXKL3EFR4XIHNCQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z37M7PZFGVOA7UZVJUFOC57ZFPCABQRXWY4LNR4ROGOSUIT5W32A/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTH4ZE4PNEEQVLTX6FNZSO72GZ2Y3PRMOJTZHKOHTAZD7VIMQ7WA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWZGHUCKWLF6UT5DQLPOZ3RE7ZEYL3SRDH3OLVWEMOG7RIBDLHMA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIYUSBCI4K4ZHVUREU56IYR7ZDVRR5NIKJZHQOZGS4BS7MEYYYIA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ET5KLVYVTCZLW6YLEUXR3KGHLMHMOLJVTBZ6HB6IGSCEVI6CUZEA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDUGDROKARYYHTYRARIBXMX2G264SHYSD5KGUR5DTWY7ZVEGO2CA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CX6INNVS7TEJTGFLS6VRCME3I4ZTXFDCLJMRY65RNWXU5JPIW75Q/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DHCWZJFJ7HCFTV7B5UY5KW53YY2QII5R2O57DQMZZ5BCQV3EOF2A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGBJSAOCCYJP55GE6FV3R5H3LGYIATRUZWKX27VQD7ZWAQF45OSQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCEGN45QNCXNOTYGZOQOGADO4JY4CA6C3TAF4TFL5P2H22UYDQ2A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSTTYG2VPGHCVCKT34EDACRYXCFJL2QJKLAWMR5M5ZWGS2WRVTHA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGQ3HGVSKWCFDZZY3XNENHMO245NLM2GU3GSWBI5MBMPLE573EOQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUA6KOFPAKHPD5QSIZKGMUFDIU6B6QQQGCS3LE2UGAGLBSPEUXTA/vendor.js"
            ]
        },
        "ListSDFServices": {
            "output": {
                "type": "structure",
                "members": {
                    "SDFServices": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ServiceName": {},
                                "ServiceDisplayName": {},
                                "ServiceKeyName": {},
                                "ActionsDocRoot": {},
                                "ApiDetailRoot": {},
                                "ApiDocRoot": {},
                                "ApiReferenceDocPage": {},
                                "ArnFormat": {},
                                "ArnRegex": {},
                                "AuthZDocPage": {},
                                "ConceptsDocRoot": {},
                                "ContextKeysDocRoot": {},
                                "Description": {},
                                "ResourcesDocRoot": {},
                                "DisplayName": {},
                                "Name": {},
                                "UserGuideDocPage": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3AEYCXV3S7M6B4FWTRXHOUE4L6LQD5MNL7UO7N4ONHJSEIVW6ZQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTGZBRJSOW4B2ZZ7UBPOX56S27KITF2WHZMLZCJN42D3PZ6JOAFQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PDRVODXI2KT735QDIKFWV47MMZYEEDS6IQHC2VA7ZEB4VBQD3BQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDNLT6CCIVZYV2VKHKU7AXCZ3P2GZ4IZB76CS2NBDIHNDJXPSTIA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHJZHPRDKAGIZTKJFXXIDEIR4WJGGMVE7OK3V3HSMSXMHELA7NQQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGSZF2WVXU3HJLSBANZ5BHA7QGOUSSIKKU4HKEAFURD2IS6BTXSQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQVNWQNX6JWK2MVJYFEUPIFFPA3QHO7QYUE52JUU3Q52YBXRJA6A/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJFFZGOWFIZFLL5LTNMCVA2V66SYTTIPJS4GSNEEMSQYRDULFODQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHGUQMKAWKISZGSANZWPGIFVMTGMTNYSDO3ZGBSWX5ZBN7M6L42A/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5TNYDY4EJAERWBQHJFBQ6BTYFWWPT5VPTG46NDNKDSNR54MCD4A/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ATWMQNLE5IHPKLQRNDY5DFLW3TX6JBXK5DDNYFXKL3EFR4XIHNCQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z37M7PZFGVOA7UZVJUFOC57ZFPCABQRXWY4LNR4ROGOSUIT5W32A/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTH4ZE4PNEEQVLTX6FNZSO72GZ2Y3PRMOJTZHKOHTAZD7VIMQ7WA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWZGHUCKWLF6UT5DQLPOZ3RE7ZEYL3SRDH3OLVWEMOG7RIBDLHMA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIYUSBCI4K4ZHVUREU56IYR7ZDVRR5NIKJZHQOZGS4BS7MEYYYIA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ET5KLVYVTCZLW6YLEUXR3KGHLMHMOLJVTBZ6HB6IGSCEVI6CUZEA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDUGDROKARYYHTYRARIBXMX2G264SHYSD5KGUR5DTWY7ZVEGO2CA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CX6INNVS7TEJTGFLS6VRCME3I4ZTXFDCLJMRY65RNWXU5JPIW75Q/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DHCWZJFJ7HCFTV7B5UY5KW53YY2QII5R2O57DQMZZ5BCQV3EOF2A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGBJSAOCCYJP55GE6FV3R5H3LGYIATRUZWKX27VQD7ZWAQF45OSQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCEGN45QNCXNOTYGZOQOGADO4JY4CA6C3TAF4TFL5P2H22UYDQ2A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSTTYG2VPGHCVCKT34EDACRYXCFJL2QJKLAWMR5M5ZWGS2WRVTHA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGQ3HGVSKWCFDZZY3XNENHMO245NLM2GU3GSWBI5MBMPLE573EOQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUA6KOFPAKHPD5QSIZKGMUFDIU6B6QQQGCS3LE2UGAGLBSPEUXTA/vendor.js"
            ]
        }
    },
    "shapes": {
        "Sw": {
            "type": "list",
            "member": {}
        }
    }
}