{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2020-05-07",
        "endpointPrefix": "organizationsinternal",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceFullName": "AWS Organizations Internal",
        "signatureVersion": "v4",
        "signingName": "organizations",
        "targetPrefix": "AWSOrganizationsInternal",
        "uid": "organizationsinternal-2020-05-07",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/K5NAD5IXAX7HMBB2ME4GACMCUYXXJFDFTRKWY2V35JTBTEWRLIRA/vendor.awssdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/G7AAQWMAKVHGMHJHXSXJW7WIWZ6TA5TZI4VWCFJAS4TDMHEK7LHA/vendor.awssdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/A5YWPHKSAATVEHY54SEA4YOAVRZA3RELO2DJWECHCUMVRFOQYE6Q/vendor.awssdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2RTRNW6DHPSVIJNYTO5ZCMTARFQATN5ZHOUCJMNMVLL5Y4ANS2BQ/vendor.awssdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TS26R53TLT5SEEXXVR7T2JXKOHM4WWR5HRLCIVWQTH6XT6SBGGGQ/vendor.awssdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2B7WESL3VDM2KARRDM4EEPQGYW74OZHAZRNETMQDFR2TQMYTJZCA/vendor.awssdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/W6VJ6O3NCUW4GO5C2BNDPWYENPNH3MQOZYL4YTM25I6IX7XKMW4Q/vendor.awssdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BPRIYGLVNGZDNHLPRKNKFXCOO332KPVTA4FQOVMENQBLOD7G7XXQ/vendor.awssdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/V7WH5NNG7T2ROUA5JHJ5KHV4RAZP44OOQ6BJWGXLB256ES5UAQ2A/vendor.awssdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/C3E2UBDZYXZFLLUMMER62ISQ4ULEZV3FJ2XLKMQQVJD6GLX2PESQ/vendor.awssdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7CSGGLPXYFS546T23O4CFH4NH5O4RKHPUIWYDK7QQFZSCUOL2XLQ/vendor.awssdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7MCCURDQ43MIWCTSBKCXT56EVH3U4BYQFH4JZMWQMPYE6DBRVJVA/vendor.awssdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7JO5ECSRQDNOWDGSESLBBWMWDLJUNZHCT4YQJVPRHD4A4VCF6GGA/vendor.awssdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GQBGKNPFUDCMMBNO7DLWCXKCLFNQEN4JYPYD6BEV3CVMYXMIFLMA/vendor.awssdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MZRND22FFKOUPBHE4NMRHBH6RL6KAACS2SZVTVKK2D6CSQKFZP5Q/vendor.awssdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MRIBFA3JSBRKPQID4WDENWNLLXY22MJR3Z5D4N3DZG2JVV2EGQXA/vendor.awssdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EF6DXJVNUN3SVUZYRA4VNWE442QVWSPG7CC7WBH46SMRLFQ6N3SA/vendor.awssdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YUWEWMPHS6YS6S6FIMEAC6FIGO5FPIH6KOVQXNJESG43MBHAGELQ/vendor.awssdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FASV73IUXCMKIDP5URHDC44FQDAANE67S6FI7ACLBWIQCVBG5FEQ/vendor.awssdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QBXNISAUWZ5APE3VJV37OCIPENWBRSX4YGVEMNKPYXPVJL5S6CNQ/vendor.awssdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VZQR6M6RSP5KOA4G6PAFEBJIJYJWD4CRDLL4UD365KGFVRRZBPVQ/vendor.awssdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FOFUDAKDP24EITNPMEZGEPIAM5X2VUAQX53YCFYZ26WUZJVHGLKA/vendor.awssdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3EFIIGOUKR2UCE7BUMDXWK2P5HZERCWXUDVLSJGF2LACXBYQHFMA/vendor.awssdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/G6MDLX2QHHSI2RIC362VPJTB4O2IHPOLSGM6JT6UZRH4AH77SOAQ/vendor.awssdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NJE5JIZKXR42GGMTQC6VAQIGUNLUV3VNCZX7CVPNATXSWSFP7SWA/vendor.awssdk.js"
        ]
    },
    "operations": {
        "AcceptEAFAgreement": {
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7AAQWMAKVHGMHJHXSXJW7WIWZ6TA5TZI4VWCFJAS4TDMHEK7LHA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5YWPHKSAATVEHY54SEA4YOAVRZA3RELO2DJWECHCUMVRFOQYE6Q/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RTRNW6DHPSVIJNYTO5ZCMTARFQATN5ZHOUCJMNMVLL5Y4ANS2BQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TS26R53TLT5SEEXXVR7T2JXKOHM4WWR5HRLCIVWQTH6XT6SBGGGQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2B7WESL3VDM2KARRDM4EEPQGYW74OZHAZRNETMQDFR2TQMYTJZCA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6VJ6O3NCUW4GO5C2BNDPWYENPNH3MQOZYL4YTM25I6IX7XKMW4Q/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPRIYGLVNGZDNHLPRKNKFXCOO332KPVTA4FQOVMENQBLOD7G7XXQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7WH5NNG7T2ROUA5JHJ5KHV4RAZP44OOQ6BJWGXLB256ES5UAQ2A/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C3E2UBDZYXZFLLUMMER62ISQ4ULEZV3FJ2XLKMQQVJD6GLX2PESQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CSGGLPXYFS546T23O4CFH4NH5O4RKHPUIWYDK7QQFZSCUOL2XLQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7MCCURDQ43MIWCTSBKCXT56EVH3U4BYQFH4JZMWQMPYE6DBRVJVA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7JO5ECSRQDNOWDGSESLBBWMWDLJUNZHCT4YQJVPRHD4A4VCF6GGA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQBGKNPFUDCMMBNO7DLWCXKCLFNQEN4JYPYD6BEV3CVMYXMIFLMA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZRND22FFKOUPBHE4NMRHBH6RL6KAACS2SZVTVKK2D6CSQKFZP5Q/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MRIBFA3JSBRKPQID4WDENWNLLXY22MJR3Z5D4N3DZG2JVV2EGQXA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EF6DXJVNUN3SVUZYRA4VNWE442QVWSPG7CC7WBH46SMRLFQ6N3SA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YUWEWMPHS6YS6S6FIMEAC6FIGO5FPIH6KOVQXNJESG43MBHAGELQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FASV73IUXCMKIDP5URHDC44FQDAANE67S6FI7ACLBWIQCVBG5FEQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBXNISAUWZ5APE3VJV37OCIPENWBRSX4YGVEMNKPYXPVJL5S6CNQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZQR6M6RSP5KOA4G6PAFEBJIJYJWD4CRDLL4UD365KGFVRRZBPVQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FOFUDAKDP24EITNPMEZGEPIAM5X2VUAQX53YCFYZ26WUZJVHGLKA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EFIIGOUKR2UCE7BUMDXWK2P5HZERCWXUDVLSJGF2LACXBYQHFMA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G6MDLX2QHHSI2RIC362VPJTB4O2IHPOLSGM6JT6UZRH4AH77SOAQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJE5JIZKXR42GGMTQC6VAQIGUNLUV3VNCZX7CVPNATXSWSFP7SWA/vendor.awssdk.js"
            ]
        },
        "CloseAccount": {
            "input": {
                "type": "structure",
                "required": [
                    "AccountId"
                ],
                "members": {
                    "AccountId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7AAQWMAKVHGMHJHXSXJW7WIWZ6TA5TZI4VWCFJAS4TDMHEK7LHA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5YWPHKSAATVEHY54SEA4YOAVRZA3RELO2DJWECHCUMVRFOQYE6Q/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RTRNW6DHPSVIJNYTO5ZCMTARFQATN5ZHOUCJMNMVLL5Y4ANS2BQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TS26R53TLT5SEEXXVR7T2JXKOHM4WWR5HRLCIVWQTH6XT6SBGGGQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2B7WESL3VDM2KARRDM4EEPQGYW74OZHAZRNETMQDFR2TQMYTJZCA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6VJ6O3NCUW4GO5C2BNDPWYENPNH3MQOZYL4YTM25I6IX7XKMW4Q/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPRIYGLVNGZDNHLPRKNKFXCOO332KPVTA4FQOVMENQBLOD7G7XXQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7WH5NNG7T2ROUA5JHJ5KHV4RAZP44OOQ6BJWGXLB256ES5UAQ2A/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C3E2UBDZYXZFLLUMMER62ISQ4ULEZV3FJ2XLKMQQVJD6GLX2PESQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CSGGLPXYFS546T23O4CFH4NH5O4RKHPUIWYDK7QQFZSCUOL2XLQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7MCCURDQ43MIWCTSBKCXT56EVH3U4BYQFH4JZMWQMPYE6DBRVJVA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7JO5ECSRQDNOWDGSESLBBWMWDLJUNZHCT4YQJVPRHD4A4VCF6GGA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQBGKNPFUDCMMBNO7DLWCXKCLFNQEN4JYPYD6BEV3CVMYXMIFLMA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZRND22FFKOUPBHE4NMRHBH6RL6KAACS2SZVTVKK2D6CSQKFZP5Q/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MRIBFA3JSBRKPQID4WDENWNLLXY22MJR3Z5D4N3DZG2JVV2EGQXA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EF6DXJVNUN3SVUZYRA4VNWE442QVWSPG7CC7WBH46SMRLFQ6N3SA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YUWEWMPHS6YS6S6FIMEAC6FIGO5FPIH6KOVQXNJESG43MBHAGELQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FASV73IUXCMKIDP5URHDC44FQDAANE67S6FI7ACLBWIQCVBG5FEQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBXNISAUWZ5APE3VJV37OCIPENWBRSX4YGVEMNKPYXPVJL5S6CNQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZQR6M6RSP5KOA4G6PAFEBJIJYJWD4CRDLL4UD365KGFVRRZBPVQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FOFUDAKDP24EITNPMEZGEPIAM5X2VUAQX53YCFYZ26WUZJVHGLKA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EFIIGOUKR2UCE7BUMDXWK2P5HZERCWXUDVLSJGF2LACXBYQHFMA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G6MDLX2QHHSI2RIC362VPJTB4O2IHPOLSGM6JT6UZRH4AH77SOAQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJE5JIZKXR42GGMTQC6VAQIGUNLUV3VNCZX7CVPNATXSWSFP7SWA/vendor.awssdk.js"
            ]
        },
        "ConfirmEmailAddressOwnership": {
            "input": {
                "type": "structure",
                "required": [
                    "VerificationCode"
                ],
                "members": {
                    "VerificationCode": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7AAQWMAKVHGMHJHXSXJW7WIWZ6TA5TZI4VWCFJAS4TDMHEK7LHA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5YWPHKSAATVEHY54SEA4YOAVRZA3RELO2DJWECHCUMVRFOQYE6Q/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RTRNW6DHPSVIJNYTO5ZCMTARFQATN5ZHOUCJMNMVLL5Y4ANS2BQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TS26R53TLT5SEEXXVR7T2JXKOHM4WWR5HRLCIVWQTH6XT6SBGGGQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2B7WESL3VDM2KARRDM4EEPQGYW74OZHAZRNETMQDFR2TQMYTJZCA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6VJ6O3NCUW4GO5C2BNDPWYENPNH3MQOZYL4YTM25I6IX7XKMW4Q/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPRIYGLVNGZDNHLPRKNKFXCOO332KPVTA4FQOVMENQBLOD7G7XXQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7WH5NNG7T2ROUA5JHJ5KHV4RAZP44OOQ6BJWGXLB256ES5UAQ2A/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C3E2UBDZYXZFLLUMMER62ISQ4ULEZV3FJ2XLKMQQVJD6GLX2PESQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CSGGLPXYFS546T23O4CFH4NH5O4RKHPUIWYDK7QQFZSCUOL2XLQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7MCCURDQ43MIWCTSBKCXT56EVH3U4BYQFH4JZMWQMPYE6DBRVJVA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7JO5ECSRQDNOWDGSESLBBWMWDLJUNZHCT4YQJVPRHD4A4VCF6GGA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQBGKNPFUDCMMBNO7DLWCXKCLFNQEN4JYPYD6BEV3CVMYXMIFLMA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZRND22FFKOUPBHE4NMRHBH6RL6KAACS2SZVTVKK2D6CSQKFZP5Q/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MRIBFA3JSBRKPQID4WDENWNLLXY22MJR3Z5D4N3DZG2JVV2EGQXA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EF6DXJVNUN3SVUZYRA4VNWE442QVWSPG7CC7WBH46SMRLFQ6N3SA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YUWEWMPHS6YS6S6FIMEAC6FIGO5FPIH6KOVQXNJESG43MBHAGELQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FASV73IUXCMKIDP5URHDC44FQDAANE67S6FI7ACLBWIQCVBG5FEQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBXNISAUWZ5APE3VJV37OCIPENWBRSX4YGVEMNKPYXPVJL5S6CNQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZQR6M6RSP5KOA4G6PAFEBJIJYJWD4CRDLL4UD365KGFVRRZBPVQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FOFUDAKDP24EITNPMEZGEPIAM5X2VUAQX53YCFYZ26WUZJVHGLKA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EFIIGOUKR2UCE7BUMDXWK2P5HZERCWXUDVLSJGF2LACXBYQHFMA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G6MDLX2QHHSI2RIC362VPJTB4O2IHPOLSGM6JT6UZRH4AH77SOAQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJE5JIZKXR42GGMTQC6VAQIGUNLUV3VNCZX7CVPNATXSWSFP7SWA/vendor.awssdk.js"
            ]
        },
        "GetControlledDomainAccountEmailOptions": {
            "input": {
                "type": "structure",
                "required": [
                    "DomainName"
                ],
                "members": {
                    "DomainName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DomainName": {},
                    "AccountEmailOptions": {
                        "type": "structure",
                        "members": {
                            "ContactEmail": {
                                "type": "string",
                                "sensitive": true
                            },
                            "LearnMoreLink": {}
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7AAQWMAKVHGMHJHXSXJW7WIWZ6TA5TZI4VWCFJAS4TDMHEK7LHA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5YWPHKSAATVEHY54SEA4YOAVRZA3RELO2DJWECHCUMVRFOQYE6Q/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RTRNW6DHPSVIJNYTO5ZCMTARFQATN5ZHOUCJMNMVLL5Y4ANS2BQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TS26R53TLT5SEEXXVR7T2JXKOHM4WWR5HRLCIVWQTH6XT6SBGGGQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2B7WESL3VDM2KARRDM4EEPQGYW74OZHAZRNETMQDFR2TQMYTJZCA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6VJ6O3NCUW4GO5C2BNDPWYENPNH3MQOZYL4YTM25I6IX7XKMW4Q/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPRIYGLVNGZDNHLPRKNKFXCOO332KPVTA4FQOVMENQBLOD7G7XXQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7WH5NNG7T2ROUA5JHJ5KHV4RAZP44OOQ6BJWGXLB256ES5UAQ2A/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C3E2UBDZYXZFLLUMMER62ISQ4ULEZV3FJ2XLKMQQVJD6GLX2PESQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CSGGLPXYFS546T23O4CFH4NH5O4RKHPUIWYDK7QQFZSCUOL2XLQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7MCCURDQ43MIWCTSBKCXT56EVH3U4BYQFH4JZMWQMPYE6DBRVJVA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7JO5ECSRQDNOWDGSESLBBWMWDLJUNZHCT4YQJVPRHD4A4VCF6GGA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQBGKNPFUDCMMBNO7DLWCXKCLFNQEN4JYPYD6BEV3CVMYXMIFLMA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZRND22FFKOUPBHE4NMRHBH6RL6KAACS2SZVTVKK2D6CSQKFZP5Q/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MRIBFA3JSBRKPQID4WDENWNLLXY22MJR3Z5D4N3DZG2JVV2EGQXA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EF6DXJVNUN3SVUZYRA4VNWE442QVWSPG7CC7WBH46SMRLFQ6N3SA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YUWEWMPHS6YS6S6FIMEAC6FIGO5FPIH6KOVQXNJESG43MBHAGELQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FASV73IUXCMKIDP5URHDC44FQDAANE67S6FI7ACLBWIQCVBG5FEQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBXNISAUWZ5APE3VJV37OCIPENWBRSX4YGVEMNKPYXPVJL5S6CNQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZQR6M6RSP5KOA4G6PAFEBJIJYJWD4CRDLL4UD365KGFVRRZBPVQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FOFUDAKDP24EITNPMEZGEPIAM5X2VUAQX53YCFYZ26WUZJVHGLKA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EFIIGOUKR2UCE7BUMDXWK2P5HZERCWXUDVLSJGF2LACXBYQHFMA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G6MDLX2QHHSI2RIC362VPJTB4O2IHPOLSGM6JT6UZRH4AH77SOAQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJE5JIZKXR42GGMTQC6VAQIGUNLUV3VNCZX7CVPNATXSWSFP7SWA/vendor.awssdk.js"
            ]
        },
        "GetEAFAgreementAcceptance": {
            "output": {
                "type": "structure",
                "members": {
                    "AgreementAccepted": {
                        "type": "boolean"
                    },
                    "AcceptanceDate": {
                        "type": "timestamp"
                    },
                    "AcceptingUser": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7AAQWMAKVHGMHJHXSXJW7WIWZ6TA5TZI4VWCFJAS4TDMHEK7LHA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5YWPHKSAATVEHY54SEA4YOAVRZA3RELO2DJWECHCUMVRFOQYE6Q/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RTRNW6DHPSVIJNYTO5ZCMTARFQATN5ZHOUCJMNMVLL5Y4ANS2BQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TS26R53TLT5SEEXXVR7T2JXKOHM4WWR5HRLCIVWQTH6XT6SBGGGQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2B7WESL3VDM2KARRDM4EEPQGYW74OZHAZRNETMQDFR2TQMYTJZCA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6VJ6O3NCUW4GO5C2BNDPWYENPNH3MQOZYL4YTM25I6IX7XKMW4Q/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPRIYGLVNGZDNHLPRKNKFXCOO332KPVTA4FQOVMENQBLOD7G7XXQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7WH5NNG7T2ROUA5JHJ5KHV4RAZP44OOQ6BJWGXLB256ES5UAQ2A/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C3E2UBDZYXZFLLUMMER62ISQ4ULEZV3FJ2XLKMQQVJD6GLX2PESQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CSGGLPXYFS546T23O4CFH4NH5O4RKHPUIWYDK7QQFZSCUOL2XLQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7MCCURDQ43MIWCTSBKCXT56EVH3U4BYQFH4JZMWQMPYE6DBRVJVA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7JO5ECSRQDNOWDGSESLBBWMWDLJUNZHCT4YQJVPRHD4A4VCF6GGA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQBGKNPFUDCMMBNO7DLWCXKCLFNQEN4JYPYD6BEV3CVMYXMIFLMA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZRND22FFKOUPBHE4NMRHBH6RL6KAACS2SZVTVKK2D6CSQKFZP5Q/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MRIBFA3JSBRKPQID4WDENWNLLXY22MJR3Z5D4N3DZG2JVV2EGQXA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EF6DXJVNUN3SVUZYRA4VNWE442QVWSPG7CC7WBH46SMRLFQ6N3SA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YUWEWMPHS6YS6S6FIMEAC6FIGO5FPIH6KOVQXNJESG43MBHAGELQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FASV73IUXCMKIDP5URHDC44FQDAANE67S6FI7ACLBWIQCVBG5FEQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBXNISAUWZ5APE3VJV37OCIPENWBRSX4YGVEMNKPYXPVJL5S6CNQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZQR6M6RSP5KOA4G6PAFEBJIJYJWD4CRDLL4UD365KGFVRRZBPVQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FOFUDAKDP24EITNPMEZGEPIAM5X2VUAQX53YCFYZ26WUZJVHGLKA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EFIIGOUKR2UCE7BUMDXWK2P5HZERCWXUDVLSJGF2LACXBYQHFMA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G6MDLX2QHHSI2RIC362VPJTB4O2IHPOLSGM6JT6UZRH4AH77SOAQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJE5JIZKXR42GGMTQC6VAQIGUNLUV3VNCZX7CVPNATXSWSFP7SWA/vendor.awssdk.js"
            ]
        },
        "GetEAFAgreementDocument": {
            "input": {
                "type": "structure",
                "required": [
                    "Locale"
                ],
                "members": {
                    "Locale": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "EAFAgreementDocument": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7AAQWMAKVHGMHJHXSXJW7WIWZ6TA5TZI4VWCFJAS4TDMHEK7LHA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5YWPHKSAATVEHY54SEA4YOAVRZA3RELO2DJWECHCUMVRFOQYE6Q/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RTRNW6DHPSVIJNYTO5ZCMTARFQATN5ZHOUCJMNMVLL5Y4ANS2BQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TS26R53TLT5SEEXXVR7T2JXKOHM4WWR5HRLCIVWQTH6XT6SBGGGQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2B7WESL3VDM2KARRDM4EEPQGYW74OZHAZRNETMQDFR2TQMYTJZCA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6VJ6O3NCUW4GO5C2BNDPWYENPNH3MQOZYL4YTM25I6IX7XKMW4Q/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPRIYGLVNGZDNHLPRKNKFXCOO332KPVTA4FQOVMENQBLOD7G7XXQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7WH5NNG7T2ROUA5JHJ5KHV4RAZP44OOQ6BJWGXLB256ES5UAQ2A/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C3E2UBDZYXZFLLUMMER62ISQ4ULEZV3FJ2XLKMQQVJD6GLX2PESQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CSGGLPXYFS546T23O4CFH4NH5O4RKHPUIWYDK7QQFZSCUOL2XLQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7MCCURDQ43MIWCTSBKCXT56EVH3U4BYQFH4JZMWQMPYE6DBRVJVA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7JO5ECSRQDNOWDGSESLBBWMWDLJUNZHCT4YQJVPRHD4A4VCF6GGA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQBGKNPFUDCMMBNO7DLWCXKCLFNQEN4JYPYD6BEV3CVMYXMIFLMA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZRND22FFKOUPBHE4NMRHBH6RL6KAACS2SZVTVKK2D6CSQKFZP5Q/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MRIBFA3JSBRKPQID4WDENWNLLXY22MJR3Z5D4N3DZG2JVV2EGQXA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EF6DXJVNUN3SVUZYRA4VNWE442QVWSPG7CC7WBH46SMRLFQ6N3SA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YUWEWMPHS6YS6S6FIMEAC6FIGO5FPIH6KOVQXNJESG43MBHAGELQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FASV73IUXCMKIDP5URHDC44FQDAANE67S6FI7ACLBWIQCVBG5FEQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBXNISAUWZ5APE3VJV37OCIPENWBRSX4YGVEMNKPYXPVJL5S6CNQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZQR6M6RSP5KOA4G6PAFEBJIJYJWD4CRDLL4UD365KGFVRRZBPVQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FOFUDAKDP24EITNPMEZGEPIAM5X2VUAQX53YCFYZ26WUZJVHGLKA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EFIIGOUKR2UCE7BUMDXWK2P5HZERCWXUDVLSJGF2LACXBYQHFMA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G6MDLX2QHHSI2RIC362VPJTB4O2IHPOLSGM6JT6UZRH4AH77SOAQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJE5JIZKXR42GGMTQC6VAQIGUNLUV3VNCZX7CVPNATXSWSFP7SWA/vendor.awssdk.js"
            ]
        },
        "GetEmailAddressVerificationStatus": {
            "output": {
                "type": "structure",
                "members": {
                    "VerificationStatus": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7AAQWMAKVHGMHJHXSXJW7WIWZ6TA5TZI4VWCFJAS4TDMHEK7LHA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5YWPHKSAATVEHY54SEA4YOAVRZA3RELO2DJWECHCUMVRFOQYE6Q/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RTRNW6DHPSVIJNYTO5ZCMTARFQATN5ZHOUCJMNMVLL5Y4ANS2BQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TS26R53TLT5SEEXXVR7T2JXKOHM4WWR5HRLCIVWQTH6XT6SBGGGQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2B7WESL3VDM2KARRDM4EEPQGYW74OZHAZRNETMQDFR2TQMYTJZCA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6VJ6O3NCUW4GO5C2BNDPWYENPNH3MQOZYL4YTM25I6IX7XKMW4Q/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPRIYGLVNGZDNHLPRKNKFXCOO332KPVTA4FQOVMENQBLOD7G7XXQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7WH5NNG7T2ROUA5JHJ5KHV4RAZP44OOQ6BJWGXLB256ES5UAQ2A/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C3E2UBDZYXZFLLUMMER62ISQ4ULEZV3FJ2XLKMQQVJD6GLX2PESQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CSGGLPXYFS546T23O4CFH4NH5O4RKHPUIWYDK7QQFZSCUOL2XLQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7MCCURDQ43MIWCTSBKCXT56EVH3U4BYQFH4JZMWQMPYE6DBRVJVA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7JO5ECSRQDNOWDGSESLBBWMWDLJUNZHCT4YQJVPRHD4A4VCF6GGA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQBGKNPFUDCMMBNO7DLWCXKCLFNQEN4JYPYD6BEV3CVMYXMIFLMA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZRND22FFKOUPBHE4NMRHBH6RL6KAACS2SZVTVKK2D6CSQKFZP5Q/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MRIBFA3JSBRKPQID4WDENWNLLXY22MJR3Z5D4N3DZG2JVV2EGQXA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EF6DXJVNUN3SVUZYRA4VNWE442QVWSPG7CC7WBH46SMRLFQ6N3SA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YUWEWMPHS6YS6S6FIMEAC6FIGO5FPIH6KOVQXNJESG43MBHAGELQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FASV73IUXCMKIDP5URHDC44FQDAANE67S6FI7ACLBWIQCVBG5FEQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBXNISAUWZ5APE3VJV37OCIPENWBRSX4YGVEMNKPYXPVJL5S6CNQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZQR6M6RSP5KOA4G6PAFEBJIJYJWD4CRDLL4UD365KGFVRRZBPVQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FOFUDAKDP24EITNPMEZGEPIAM5X2VUAQX53YCFYZ26WUZJVHGLKA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EFIIGOUKR2UCE7BUMDXWK2P5HZERCWXUDVLSJGF2LACXBYQHFMA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G6MDLX2QHHSI2RIC362VPJTB4O2IHPOLSGM6JT6UZRH4AH77SOAQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJE5JIZKXR42GGMTQC6VAQIGUNLUV3VNCZX7CVPNATXSWSFP7SWA/vendor.awssdk.js"
            ]
        },
        "InitiateEmailAddressVerification": {
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7AAQWMAKVHGMHJHXSXJW7WIWZ6TA5TZI4VWCFJAS4TDMHEK7LHA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5YWPHKSAATVEHY54SEA4YOAVRZA3RELO2DJWECHCUMVRFOQYE6Q/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RTRNW6DHPSVIJNYTO5ZCMTARFQATN5ZHOUCJMNMVLL5Y4ANS2BQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TS26R53TLT5SEEXXVR7T2JXKOHM4WWR5HRLCIVWQTH6XT6SBGGGQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2B7WESL3VDM2KARRDM4EEPQGYW74OZHAZRNETMQDFR2TQMYTJZCA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6VJ6O3NCUW4GO5C2BNDPWYENPNH3MQOZYL4YTM25I6IX7XKMW4Q/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPRIYGLVNGZDNHLPRKNKFXCOO332KPVTA4FQOVMENQBLOD7G7XXQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7WH5NNG7T2ROUA5JHJ5KHV4RAZP44OOQ6BJWGXLB256ES5UAQ2A/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C3E2UBDZYXZFLLUMMER62ISQ4ULEZV3FJ2XLKMQQVJD6GLX2PESQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CSGGLPXYFS546T23O4CFH4NH5O4RKHPUIWYDK7QQFZSCUOL2XLQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7MCCURDQ43MIWCTSBKCXT56EVH3U4BYQFH4JZMWQMPYE6DBRVJVA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7JO5ECSRQDNOWDGSESLBBWMWDLJUNZHCT4YQJVPRHD4A4VCF6GGA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQBGKNPFUDCMMBNO7DLWCXKCLFNQEN4JYPYD6BEV3CVMYXMIFLMA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZRND22FFKOUPBHE4NMRHBH6RL6KAACS2SZVTVKK2D6CSQKFZP5Q/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MRIBFA3JSBRKPQID4WDENWNLLXY22MJR3Z5D4N3DZG2JVV2EGQXA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EF6DXJVNUN3SVUZYRA4VNWE442QVWSPG7CC7WBH46SMRLFQ6N3SA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YUWEWMPHS6YS6S6FIMEAC6FIGO5FPIH6KOVQXNJESG43MBHAGELQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FASV73IUXCMKIDP5URHDC44FQDAANE67S6FI7ACLBWIQCVBG5FEQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBXNISAUWZ5APE3VJV37OCIPENWBRSX4YGVEMNKPYXPVJL5S6CNQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZQR6M6RSP5KOA4G6PAFEBJIJYJWD4CRDLL4UD365KGFVRRZBPVQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FOFUDAKDP24EITNPMEZGEPIAM5X2VUAQX53YCFYZ26WUZJVHGLKA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EFIIGOUKR2UCE7BUMDXWK2P5HZERCWXUDVLSJGF2LACXBYQHFMA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G6MDLX2QHHSI2RIC362VPJTB4O2IHPOLSGM6JT6UZRH4AH77SOAQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJE5JIZKXR42GGMTQC6VAQIGUNLUV3VNCZX7CVPNATXSWSFP7SWA/vendor.awssdk.js"
            ]
        },
        "IsFeatureEnabled": {
            "input": {
                "type": "structure",
                "required": [
                    "Feature"
                ],
                "members": {
                    "Feature": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Enabled"
                ],
                "members": {
                    "Enabled": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7AAQWMAKVHGMHJHXSXJW7WIWZ6TA5TZI4VWCFJAS4TDMHEK7LHA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5YWPHKSAATVEHY54SEA4YOAVRZA3RELO2DJWECHCUMVRFOQYE6Q/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RTRNW6DHPSVIJNYTO5ZCMTARFQATN5ZHOUCJMNMVLL5Y4ANS2BQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TS26R53TLT5SEEXXVR7T2JXKOHM4WWR5HRLCIVWQTH6XT6SBGGGQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2B7WESL3VDM2KARRDM4EEPQGYW74OZHAZRNETMQDFR2TQMYTJZCA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6VJ6O3NCUW4GO5C2BNDPWYENPNH3MQOZYL4YTM25I6IX7XKMW4Q/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPRIYGLVNGZDNHLPRKNKFXCOO332KPVTA4FQOVMENQBLOD7G7XXQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7WH5NNG7T2ROUA5JHJ5KHV4RAZP44OOQ6BJWGXLB256ES5UAQ2A/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C3E2UBDZYXZFLLUMMER62ISQ4ULEZV3FJ2XLKMQQVJD6GLX2PESQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CSGGLPXYFS546T23O4CFH4NH5O4RKHPUIWYDK7QQFZSCUOL2XLQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7MCCURDQ43MIWCTSBKCXT56EVH3U4BYQFH4JZMWQMPYE6DBRVJVA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7JO5ECSRQDNOWDGSESLBBWMWDLJUNZHCT4YQJVPRHD4A4VCF6GGA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQBGKNPFUDCMMBNO7DLWCXKCLFNQEN4JYPYD6BEV3CVMYXMIFLMA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZRND22FFKOUPBHE4NMRHBH6RL6KAACS2SZVTVKK2D6CSQKFZP5Q/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MRIBFA3JSBRKPQID4WDENWNLLXY22MJR3Z5D4N3DZG2JVV2EGQXA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EF6DXJVNUN3SVUZYRA4VNWE442QVWSPG7CC7WBH46SMRLFQ6N3SA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YUWEWMPHS6YS6S6FIMEAC6FIGO5FPIH6KOVQXNJESG43MBHAGELQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FASV73IUXCMKIDP5URHDC44FQDAANE67S6FI7ACLBWIQCVBG5FEQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBXNISAUWZ5APE3VJV37OCIPENWBRSX4YGVEMNKPYXPVJL5S6CNQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZQR6M6RSP5KOA4G6PAFEBJIJYJWD4CRDLL4UD365KGFVRRZBPVQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FOFUDAKDP24EITNPMEZGEPIAM5X2VUAQX53YCFYZ26WUZJVHGLKA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EFIIGOUKR2UCE7BUMDXWK2P5HZERCWXUDVLSJGF2LACXBYQHFMA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G6MDLX2QHHSI2RIC362VPJTB4O2IHPOLSGM6JT6UZRH4AH77SOAQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJE5JIZKXR42GGMTQC6VAQIGUNLUV3VNCZX7CVPNATXSWSFP7SWA/vendor.awssdk.js"
            ]
        },
        "ListEnabledActions": {
            "output": {
                "type": "structure",
                "members": {
                    "EnabledActions": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7AAQWMAKVHGMHJHXSXJW7WIWZ6TA5TZI4VWCFJAS4TDMHEK7LHA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5YWPHKSAATVEHY54SEA4YOAVRZA3RELO2DJWECHCUMVRFOQYE6Q/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RTRNW6DHPSVIJNYTO5ZCMTARFQATN5ZHOUCJMNMVLL5Y4ANS2BQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TS26R53TLT5SEEXXVR7T2JXKOHM4WWR5HRLCIVWQTH6XT6SBGGGQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2B7WESL3VDM2KARRDM4EEPQGYW74OZHAZRNETMQDFR2TQMYTJZCA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6VJ6O3NCUW4GO5C2BNDPWYENPNH3MQOZYL4YTM25I6IX7XKMW4Q/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPRIYGLVNGZDNHLPRKNKFXCOO332KPVTA4FQOVMENQBLOD7G7XXQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7WH5NNG7T2ROUA5JHJ5KHV4RAZP44OOQ6BJWGXLB256ES5UAQ2A/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C3E2UBDZYXZFLLUMMER62ISQ4ULEZV3FJ2XLKMQQVJD6GLX2PESQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CSGGLPXYFS546T23O4CFH4NH5O4RKHPUIWYDK7QQFZSCUOL2XLQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7MCCURDQ43MIWCTSBKCXT56EVH3U4BYQFH4JZMWQMPYE6DBRVJVA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7JO5ECSRQDNOWDGSESLBBWMWDLJUNZHCT4YQJVPRHD4A4VCF6GGA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQBGKNPFUDCMMBNO7DLWCXKCLFNQEN4JYPYD6BEV3CVMYXMIFLMA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZRND22FFKOUPBHE4NMRHBH6RL6KAACS2SZVTVKK2D6CSQKFZP5Q/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MRIBFA3JSBRKPQID4WDENWNLLXY22MJR3Z5D4N3DZG2JVV2EGQXA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EF6DXJVNUN3SVUZYRA4VNWE442QVWSPG7CC7WBH46SMRLFQ6N3SA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YUWEWMPHS6YS6S6FIMEAC6FIGO5FPIH6KOVQXNJESG43MBHAGELQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FASV73IUXCMKIDP5URHDC44FQDAANE67S6FI7ACLBWIQCVBG5FEQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBXNISAUWZ5APE3VJV37OCIPENWBRSX4YGVEMNKPYXPVJL5S6CNQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZQR6M6RSP5KOA4G6PAFEBJIJYJWD4CRDLL4UD365KGFVRRZBPVQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FOFUDAKDP24EITNPMEZGEPIAM5X2VUAQX53YCFYZ26WUZJVHGLKA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EFIIGOUKR2UCE7BUMDXWK2P5HZERCWXUDVLSJGF2LACXBYQHFMA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G6MDLX2QHHSI2RIC362VPJTB4O2IHPOLSGM6JT6UZRH4AH77SOAQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJE5JIZKXR42GGMTQC6VAQIGUNLUV3VNCZX7CVPNATXSWSFP7SWA/vendor.awssdk.js"
            ]
        },
        "ListSDFServiceActions": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceName"
                ],
                "members": {
                    "ServiceName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "SDFServiceActions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ActionName": {},
                                "Name": {},
                                "ApiDocRelative": {},
                                "ActionGroups": {
                                    "shape": "Sw"
                                },
                                "ContextKeysRef": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "DocPageRelative": {},
                                            "DocPage": {},
                                            "Description": {},
                                            "Type": {},
                                            "Name": {}
                                        }
                                    }
                                },
                                "Description": {},
                                "DocPage": {},
                                "DocPageRelative": {},
                                "OptionalResources": {
                                    "shape": "Sw"
                                },
                                "RequiredResources": {
                                    "shape": "Sw"
                                },
                                "RequiredActions": {
                                    "shape": "Sw"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7AAQWMAKVHGMHJHXSXJW7WIWZ6TA5TZI4VWCFJAS4TDMHEK7LHA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5YWPHKSAATVEHY54SEA4YOAVRZA3RELO2DJWECHCUMVRFOQYE6Q/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RTRNW6DHPSVIJNYTO5ZCMTARFQATN5ZHOUCJMNMVLL5Y4ANS2BQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TS26R53TLT5SEEXXVR7T2JXKOHM4WWR5HRLCIVWQTH6XT6SBGGGQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2B7WESL3VDM2KARRDM4EEPQGYW74OZHAZRNETMQDFR2TQMYTJZCA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6VJ6O3NCUW4GO5C2BNDPWYENPNH3MQOZYL4YTM25I6IX7XKMW4Q/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPRIYGLVNGZDNHLPRKNKFXCOO332KPVTA4FQOVMENQBLOD7G7XXQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7WH5NNG7T2ROUA5JHJ5KHV4RAZP44OOQ6BJWGXLB256ES5UAQ2A/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C3E2UBDZYXZFLLUMMER62ISQ4ULEZV3FJ2XLKMQQVJD6GLX2PESQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CSGGLPXYFS546T23O4CFH4NH5O4RKHPUIWYDK7QQFZSCUOL2XLQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7MCCURDQ43MIWCTSBKCXT56EVH3U4BYQFH4JZMWQMPYE6DBRVJVA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7JO5ECSRQDNOWDGSESLBBWMWDLJUNZHCT4YQJVPRHD4A4VCF6GGA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQBGKNPFUDCMMBNO7DLWCXKCLFNQEN4JYPYD6BEV3CVMYXMIFLMA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZRND22FFKOUPBHE4NMRHBH6RL6KAACS2SZVTVKK2D6CSQKFZP5Q/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MRIBFA3JSBRKPQID4WDENWNLLXY22MJR3Z5D4N3DZG2JVV2EGQXA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EF6DXJVNUN3SVUZYRA4VNWE442QVWSPG7CC7WBH46SMRLFQ6N3SA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YUWEWMPHS6YS6S6FIMEAC6FIGO5FPIH6KOVQXNJESG43MBHAGELQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FASV73IUXCMKIDP5URHDC44FQDAANE67S6FI7ACLBWIQCVBG5FEQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBXNISAUWZ5APE3VJV37OCIPENWBRSX4YGVEMNKPYXPVJL5S6CNQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZQR6M6RSP5KOA4G6PAFEBJIJYJWD4CRDLL4UD365KGFVRRZBPVQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FOFUDAKDP24EITNPMEZGEPIAM5X2VUAQX53YCFYZ26WUZJVHGLKA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EFIIGOUKR2UCE7BUMDXWK2P5HZERCWXUDVLSJGF2LACXBYQHFMA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G6MDLX2QHHSI2RIC362VPJTB4O2IHPOLSGM6JT6UZRH4AH77SOAQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJE5JIZKXR42GGMTQC6VAQIGUNLUV3VNCZX7CVPNATXSWSFP7SWA/vendor.awssdk.js"
            ]
        },
        "ListSDFServiceContextKeys": {
            "output": {
                "type": "structure",
                "members": {
                    "SDFServiceContextKeys": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ServiceDisplayName": {},
                                "DocPageRelative": {},
                                "DocPage": {},
                                "Description": {},
                                "Type": {},
                                "Name": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7AAQWMAKVHGMHJHXSXJW7WIWZ6TA5TZI4VWCFJAS4TDMHEK7LHA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5YWPHKSAATVEHY54SEA4YOAVRZA3RELO2DJWECHCUMVRFOQYE6Q/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RTRNW6DHPSVIJNYTO5ZCMTARFQATN5ZHOUCJMNMVLL5Y4ANS2BQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TS26R53TLT5SEEXXVR7T2JXKOHM4WWR5HRLCIVWQTH6XT6SBGGGQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2B7WESL3VDM2KARRDM4EEPQGYW74OZHAZRNETMQDFR2TQMYTJZCA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6VJ6O3NCUW4GO5C2BNDPWYENPNH3MQOZYL4YTM25I6IX7XKMW4Q/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPRIYGLVNGZDNHLPRKNKFXCOO332KPVTA4FQOVMENQBLOD7G7XXQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7WH5NNG7T2ROUA5JHJ5KHV4RAZP44OOQ6BJWGXLB256ES5UAQ2A/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C3E2UBDZYXZFLLUMMER62ISQ4ULEZV3FJ2XLKMQQVJD6GLX2PESQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CSGGLPXYFS546T23O4CFH4NH5O4RKHPUIWYDK7QQFZSCUOL2XLQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7MCCURDQ43MIWCTSBKCXT56EVH3U4BYQFH4JZMWQMPYE6DBRVJVA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7JO5ECSRQDNOWDGSESLBBWMWDLJUNZHCT4YQJVPRHD4A4VCF6GGA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQBGKNPFUDCMMBNO7DLWCXKCLFNQEN4JYPYD6BEV3CVMYXMIFLMA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZRND22FFKOUPBHE4NMRHBH6RL6KAACS2SZVTVKK2D6CSQKFZP5Q/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MRIBFA3JSBRKPQID4WDENWNLLXY22MJR3Z5D4N3DZG2JVV2EGQXA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EF6DXJVNUN3SVUZYRA4VNWE442QVWSPG7CC7WBH46SMRLFQ6N3SA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YUWEWMPHS6YS6S6FIMEAC6FIGO5FPIH6KOVQXNJESG43MBHAGELQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FASV73IUXCMKIDP5URHDC44FQDAANE67S6FI7ACLBWIQCVBG5FEQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBXNISAUWZ5APE3VJV37OCIPENWBRSX4YGVEMNKPYXPVJL5S6CNQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZQR6M6RSP5KOA4G6PAFEBJIJYJWD4CRDLL4UD365KGFVRRZBPVQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FOFUDAKDP24EITNPMEZGEPIAM5X2VUAQX53YCFYZ26WUZJVHGLKA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EFIIGOUKR2UCE7BUMDXWK2P5HZERCWXUDVLSJGF2LACXBYQHFMA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G6MDLX2QHHSI2RIC362VPJTB4O2IHPOLSGM6JT6UZRH4AH77SOAQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJE5JIZKXR42GGMTQC6VAQIGUNLUV3VNCZX7CVPNATXSWSFP7SWA/vendor.awssdk.js"
            ]
        },
        "ListSDFServiceResources": {
            "output": {
                "type": "structure",
                "members": {
                    "SDFServiceResources": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Arn": {},
                                "Description": {},
                                "DocPage": {},
                                "DocPageRelative": {},
                                "ResourceName": {},
                                "ServiceDisplayName": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7AAQWMAKVHGMHJHXSXJW7WIWZ6TA5TZI4VWCFJAS4TDMHEK7LHA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5YWPHKSAATVEHY54SEA4YOAVRZA3RELO2DJWECHCUMVRFOQYE6Q/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RTRNW6DHPSVIJNYTO5ZCMTARFQATN5ZHOUCJMNMVLL5Y4ANS2BQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TS26R53TLT5SEEXXVR7T2JXKOHM4WWR5HRLCIVWQTH6XT6SBGGGQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2B7WESL3VDM2KARRDM4EEPQGYW74OZHAZRNETMQDFR2TQMYTJZCA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6VJ6O3NCUW4GO5C2BNDPWYENPNH3MQOZYL4YTM25I6IX7XKMW4Q/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPRIYGLVNGZDNHLPRKNKFXCOO332KPVTA4FQOVMENQBLOD7G7XXQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7WH5NNG7T2ROUA5JHJ5KHV4RAZP44OOQ6BJWGXLB256ES5UAQ2A/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C3E2UBDZYXZFLLUMMER62ISQ4ULEZV3FJ2XLKMQQVJD6GLX2PESQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CSGGLPXYFS546T23O4CFH4NH5O4RKHPUIWYDK7QQFZSCUOL2XLQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7MCCURDQ43MIWCTSBKCXT56EVH3U4BYQFH4JZMWQMPYE6DBRVJVA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7JO5ECSRQDNOWDGSESLBBWMWDLJUNZHCT4YQJVPRHD4A4VCF6GGA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQBGKNPFUDCMMBNO7DLWCXKCLFNQEN4JYPYD6BEV3CVMYXMIFLMA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZRND22FFKOUPBHE4NMRHBH6RL6KAACS2SZVTVKK2D6CSQKFZP5Q/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MRIBFA3JSBRKPQID4WDENWNLLXY22MJR3Z5D4N3DZG2JVV2EGQXA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EF6DXJVNUN3SVUZYRA4VNWE442QVWSPG7CC7WBH46SMRLFQ6N3SA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YUWEWMPHS6YS6S6FIMEAC6FIGO5FPIH6KOVQXNJESG43MBHAGELQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FASV73IUXCMKIDP5URHDC44FQDAANE67S6FI7ACLBWIQCVBG5FEQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBXNISAUWZ5APE3VJV37OCIPENWBRSX4YGVEMNKPYXPVJL5S6CNQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZQR6M6RSP5KOA4G6PAFEBJIJYJWD4CRDLL4UD365KGFVRRZBPVQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FOFUDAKDP24EITNPMEZGEPIAM5X2VUAQX53YCFYZ26WUZJVHGLKA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EFIIGOUKR2UCE7BUMDXWK2P5HZERCWXUDVLSJGF2LACXBYQHFMA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G6MDLX2QHHSI2RIC362VPJTB4O2IHPOLSGM6JT6UZRH4AH77SOAQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJE5JIZKXR42GGMTQC6VAQIGUNLUV3VNCZX7CVPNATXSWSFP7SWA/vendor.awssdk.js"
            ]
        },
        "ListSDFServices": {
            "output": {
                "type": "structure",
                "members": {
                    "SDFServices": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ServiceName": {},
                                "ServiceDisplayName": {},
                                "ServiceKeyName": {},
                                "ActionsDocRoot": {},
                                "ApiDetailRoot": {},
                                "ApiDocRoot": {},
                                "ApiReferenceDocPage": {},
                                "ArnFormat": {},
                                "ArnRegex": {},
                                "AuthZDocPage": {},
                                "ConceptsDocRoot": {},
                                "ContextKeysDocRoot": {},
                                "Description": {},
                                "ResourcesDocRoot": {},
                                "DisplayName": {},
                                "Name": {},
                                "UserGuideDocPage": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7AAQWMAKVHGMHJHXSXJW7WIWZ6TA5TZI4VWCFJAS4TDMHEK7LHA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5YWPHKSAATVEHY54SEA4YOAVRZA3RELO2DJWECHCUMVRFOQYE6Q/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RTRNW6DHPSVIJNYTO5ZCMTARFQATN5ZHOUCJMNMVLL5Y4ANS2BQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TS26R53TLT5SEEXXVR7T2JXKOHM4WWR5HRLCIVWQTH6XT6SBGGGQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2B7WESL3VDM2KARRDM4EEPQGYW74OZHAZRNETMQDFR2TQMYTJZCA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6VJ6O3NCUW4GO5C2BNDPWYENPNH3MQOZYL4YTM25I6IX7XKMW4Q/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPRIYGLVNGZDNHLPRKNKFXCOO332KPVTA4FQOVMENQBLOD7G7XXQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7WH5NNG7T2ROUA5JHJ5KHV4RAZP44OOQ6BJWGXLB256ES5UAQ2A/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C3E2UBDZYXZFLLUMMER62ISQ4ULEZV3FJ2XLKMQQVJD6GLX2PESQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CSGGLPXYFS546T23O4CFH4NH5O4RKHPUIWYDK7QQFZSCUOL2XLQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7MCCURDQ43MIWCTSBKCXT56EVH3U4BYQFH4JZMWQMPYE6DBRVJVA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7JO5ECSRQDNOWDGSESLBBWMWDLJUNZHCT4YQJVPRHD4A4VCF6GGA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQBGKNPFUDCMMBNO7DLWCXKCLFNQEN4JYPYD6BEV3CVMYXMIFLMA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZRND22FFKOUPBHE4NMRHBH6RL6KAACS2SZVTVKK2D6CSQKFZP5Q/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MRIBFA3JSBRKPQID4WDENWNLLXY22MJR3Z5D4N3DZG2JVV2EGQXA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EF6DXJVNUN3SVUZYRA4VNWE442QVWSPG7CC7WBH46SMRLFQ6N3SA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YUWEWMPHS6YS6S6FIMEAC6FIGO5FPIH6KOVQXNJESG43MBHAGELQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FASV73IUXCMKIDP5URHDC44FQDAANE67S6FI7ACLBWIQCVBG5FEQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBXNISAUWZ5APE3VJV37OCIPENWBRSX4YGVEMNKPYXPVJL5S6CNQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZQR6M6RSP5KOA4G6PAFEBJIJYJWD4CRDLL4UD365KGFVRRZBPVQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FOFUDAKDP24EITNPMEZGEPIAM5X2VUAQX53YCFYZ26WUZJVHGLKA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EFIIGOUKR2UCE7BUMDXWK2P5HZERCWXUDVLSJGF2LACXBYQHFMA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G6MDLX2QHHSI2RIC362VPJTB4O2IHPOLSGM6JT6UZRH4AH77SOAQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJE5JIZKXR42GGMTQC6VAQIGUNLUV3VNCZX7CVPNATXSWSFP7SWA/vendor.awssdk.js"
            ]
        }
    },
    "shapes": {
        "Sw": {
            "type": "list",
            "member": {}
        }
    }
}