{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2016-11-28",
        "endpointPrefix": "organizations",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceAbbreviation": "Organizations",
        "serviceFullName": "AWS Organizations",
        "serviceId": "Organizations",
        "signatureVersion": "v4",
        "targetPrefix": "AWSOrganizationsV20161128",
        "uid": "organizations-2016-11-28",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/V2QOG4NG2FCIOMP5M6ELK2F2KNFSOUW2MQQQLTYQFZQTNWLZNGPQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/57SG6EVRCLZYQYQBFPF65K6URMJ2T7S5FEVHCNSDT563HNGDZNBA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VI3KQXL6JMMBHD5KUQP2HLO53JPZZEQ4IH6M2WROGNSYZHSSAXYQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HQ22CJBW5V7HOV3DDO22O24XHP3W4MNUFNUXKN2WEAN2RSJLCRUA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R33MEGIACICHCCZDB7XPE3PZYRF5RSZXCLAWCRX2S3HJH6GR54DQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/T7CROJPJ2E72WCJ6YGRBLBK46X74GQMYZ3CTKXQFGNI5EMPFBHZA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KNEVG57DYC5V56A5RJ4XKRUM6UKLRIJEX5EBSXQE3W3F6AOKJQTQ/index.en.v2.js",
            "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UUA6KOFPAKHPD5QSIZKGMUFDIU6B6QQQGCS3LE2UGAGLBSPEUXTA/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UUA6KOFPAKHPD5QSIZKGMUFDIU6B6QQQGCS3LE2UGAGLBSPEUXTA/vendor.awssdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~253ae210.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/UEOS6LKCMR6BDOURCEEPPSMVRLAQ24UF4TEXJC6TSEQZY2TIDWLQ/ta_polaris.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/KEDREPRSIVDOBNTUGNTJWLEIPDCRVVJZ5R4IGQA6Q5FHTYGUIM3Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RUJH36AEWXEMF6V7J6XJ3WPKHG7QMGBULSP2T3I5ZV4ASUNCXNIQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CPB6TKKPSXIFMVK765743J4F25KRRK4WH3JGW2A5LMMQHSII3XGA/vendors.sdk.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LHOMPK2P66HPXT34IKJNPZ6ORRRUC4YCZ5UQ734Z3FAIPHSD2Q2A/main.tb.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VXID53TE6GUFRBNHKFWWLXYBR2V3ZICHWRZFGRZ3FSE5UXZB6LJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5EYNJRF2ASYN3IP42OBSMVXKYFZMT34AHEVAHEPKBJUF4GBTLSYQ/vendorv3.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TLGVULHGPIHTXKWLS3RTYPI4D5WA656CIT2HJF3745VTNMQ52TZA/vendors.js"
        ]
    },
    "operations": {
        "AcceptHandshake": {
            "input": {
                "type": "structure",
                "required": [
                    "HandshakeId"
                ],
                "members": {
                    "HandshakeId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Handshake": {
                        "shape": "S4"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2QOG4NG2FCIOMP5M6ELK2F2KNFSOUW2MQQQLTYQFZQTNWLZNGPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57SG6EVRCLZYQYQBFPF65K6URMJ2T7S5FEVHCNSDT563HNGDZNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI3KQXL6JMMBHD5KUQP2HLO53JPZZEQ4IH6M2WROGNSYZHSSAXYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQ22CJBW5V7HOV3DDO22O24XHP3W4MNUFNUXKN2WEAN2RSJLCRUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R33MEGIACICHCCZDB7XPE3PZYRF5RSZXCLAWCRX2S3HJH6GR54DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T7CROJPJ2E72WCJ6YGRBLBK46X74GQMYZ3CTKXQFGNI5EMPFBHZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KNEVG57DYC5V56A5RJ4XKRUM6UKLRIJEX5EBSXQE3W3F6AOKJQTQ/index.en.v2.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUA6KOFPAKHPD5QSIZKGMUFDIU6B6QQQGCS3LE2UGAGLBSPEUXTA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUA6KOFPAKHPD5QSIZKGMUFDIU6B6QQQGCS3LE2UGAGLBSPEUXTA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~253ae210.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UEOS6LKCMR6BDOURCEEPPSMVRLAQ24UF4TEXJC6TSEQZY2TIDWLQ/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KEDREPRSIVDOBNTUGNTJWLEIPDCRVVJZ5R4IGQA6Q5FHTYGUIM3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUJH36AEWXEMF6V7J6XJ3WPKHG7QMGBULSP2T3I5ZV4ASUNCXNIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPB6TKKPSXIFMVK765743J4F25KRRK4WH3JGW2A5LMMQHSII3XGA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHOMPK2P66HPXT34IKJNPZ6ORRRUC4YCZ5UQ734Z3FAIPHSD2Q2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXID53TE6GUFRBNHKFWWLXYBR2V3ZICHWRZFGRZ3FSE5UXZB6LJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EYNJRF2ASYN3IP42OBSMVXKYFZMT34AHEVAHEPKBJUF4GBTLSYQ/vendorv3.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLGVULHGPIHTXKWLS3RTYPI4D5WA656CIT2HJF3745VTNMQ52TZA/vendors.js"
            ]
        },
        "AttachPolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "PolicyId",
                    "TargetId"
                ],
                "members": {
                    "PolicyId": {},
                    "TargetId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2QOG4NG2FCIOMP5M6ELK2F2KNFSOUW2MQQQLTYQFZQTNWLZNGPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57SG6EVRCLZYQYQBFPF65K6URMJ2T7S5FEVHCNSDT563HNGDZNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI3KQXL6JMMBHD5KUQP2HLO53JPZZEQ4IH6M2WROGNSYZHSSAXYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQ22CJBW5V7HOV3DDO22O24XHP3W4MNUFNUXKN2WEAN2RSJLCRUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R33MEGIACICHCCZDB7XPE3PZYRF5RSZXCLAWCRX2S3HJH6GR54DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T7CROJPJ2E72WCJ6YGRBLBK46X74GQMYZ3CTKXQFGNI5EMPFBHZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KNEVG57DYC5V56A5RJ4XKRUM6UKLRIJEX5EBSXQE3W3F6AOKJQTQ/index.en.v2.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUA6KOFPAKHPD5QSIZKGMUFDIU6B6QQQGCS3LE2UGAGLBSPEUXTA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUA6KOFPAKHPD5QSIZKGMUFDIU6B6QQQGCS3LE2UGAGLBSPEUXTA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~253ae210.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UEOS6LKCMR6BDOURCEEPPSMVRLAQ24UF4TEXJC6TSEQZY2TIDWLQ/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KEDREPRSIVDOBNTUGNTJWLEIPDCRVVJZ5R4IGQA6Q5FHTYGUIM3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUJH36AEWXEMF6V7J6XJ3WPKHG7QMGBULSP2T3I5ZV4ASUNCXNIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPB6TKKPSXIFMVK765743J4F25KRRK4WH3JGW2A5LMMQHSII3XGA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHOMPK2P66HPXT34IKJNPZ6ORRRUC4YCZ5UQ734Z3FAIPHSD2Q2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXID53TE6GUFRBNHKFWWLXYBR2V3ZICHWRZFGRZ3FSE5UXZB6LJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EYNJRF2ASYN3IP42OBSMVXKYFZMT34AHEVAHEPKBJUF4GBTLSYQ/vendorv3.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLGVULHGPIHTXKWLS3RTYPI4D5WA656CIT2HJF3745VTNMQ52TZA/vendors.js"
            ]
        },
        "CancelHandshake": {
            "input": {
                "type": "structure",
                "required": [
                    "HandshakeId"
                ],
                "members": {
                    "HandshakeId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Handshake": {
                        "shape": "S4"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2QOG4NG2FCIOMP5M6ELK2F2KNFSOUW2MQQQLTYQFZQTNWLZNGPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57SG6EVRCLZYQYQBFPF65K6URMJ2T7S5FEVHCNSDT563HNGDZNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI3KQXL6JMMBHD5KUQP2HLO53JPZZEQ4IH6M2WROGNSYZHSSAXYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQ22CJBW5V7HOV3DDO22O24XHP3W4MNUFNUXKN2WEAN2RSJLCRUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R33MEGIACICHCCZDB7XPE3PZYRF5RSZXCLAWCRX2S3HJH6GR54DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T7CROJPJ2E72WCJ6YGRBLBK46X74GQMYZ3CTKXQFGNI5EMPFBHZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KNEVG57DYC5V56A5RJ4XKRUM6UKLRIJEX5EBSXQE3W3F6AOKJQTQ/index.en.v2.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUA6KOFPAKHPD5QSIZKGMUFDIU6B6QQQGCS3LE2UGAGLBSPEUXTA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUA6KOFPAKHPD5QSIZKGMUFDIU6B6QQQGCS3LE2UGAGLBSPEUXTA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~253ae210.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UEOS6LKCMR6BDOURCEEPPSMVRLAQ24UF4TEXJC6TSEQZY2TIDWLQ/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KEDREPRSIVDOBNTUGNTJWLEIPDCRVVJZ5R4IGQA6Q5FHTYGUIM3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUJH36AEWXEMF6V7J6XJ3WPKHG7QMGBULSP2T3I5ZV4ASUNCXNIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPB6TKKPSXIFMVK765743J4F25KRRK4WH3JGW2A5LMMQHSII3XGA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHOMPK2P66HPXT34IKJNPZ6ORRRUC4YCZ5UQ734Z3FAIPHSD2Q2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXID53TE6GUFRBNHKFWWLXYBR2V3ZICHWRZFGRZ3FSE5UXZB6LJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EYNJRF2ASYN3IP42OBSMVXKYFZMT34AHEVAHEPKBJUF4GBTLSYQ/vendorv3.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLGVULHGPIHTXKWLS3RTYPI4D5WA656CIT2HJF3745VTNMQ52TZA/vendors.js"
            ]
        },
        "CreateAccount": {
            "input": {
                "type": "structure",
                "required": [
                    "Email",
                    "AccountName"
                ],
                "members": {
                    "Email": {
                        "shape": "Sn"
                    },
                    "AccountName": {
                        "shape": "So"
                    },
                    "RoleName": {},
                    "IamUserAccessToBilling": {},
                    "Tags": {
                        "shape": "Sr"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "CreateAccountStatus": {
                        "shape": "Sw"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2QOG4NG2FCIOMP5M6ELK2F2KNFSOUW2MQQQLTYQFZQTNWLZNGPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57SG6EVRCLZYQYQBFPF65K6URMJ2T7S5FEVHCNSDT563HNGDZNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI3KQXL6JMMBHD5KUQP2HLO53JPZZEQ4IH6M2WROGNSYZHSSAXYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQ22CJBW5V7HOV3DDO22O24XHP3W4MNUFNUXKN2WEAN2RSJLCRUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R33MEGIACICHCCZDB7XPE3PZYRF5RSZXCLAWCRX2S3HJH6GR54DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T7CROJPJ2E72WCJ6YGRBLBK46X74GQMYZ3CTKXQFGNI5EMPFBHZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KNEVG57DYC5V56A5RJ4XKRUM6UKLRIJEX5EBSXQE3W3F6AOKJQTQ/index.en.v2.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUA6KOFPAKHPD5QSIZKGMUFDIU6B6QQQGCS3LE2UGAGLBSPEUXTA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUA6KOFPAKHPD5QSIZKGMUFDIU6B6QQQGCS3LE2UGAGLBSPEUXTA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~253ae210.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UEOS6LKCMR6BDOURCEEPPSMVRLAQ24UF4TEXJC6TSEQZY2TIDWLQ/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KEDREPRSIVDOBNTUGNTJWLEIPDCRVVJZ5R4IGQA6Q5FHTYGUIM3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUJH36AEWXEMF6V7J6XJ3WPKHG7QMGBULSP2T3I5ZV4ASUNCXNIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPB6TKKPSXIFMVK765743J4F25KRRK4WH3JGW2A5LMMQHSII3XGA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHOMPK2P66HPXT34IKJNPZ6ORRRUC4YCZ5UQ734Z3FAIPHSD2Q2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXID53TE6GUFRBNHKFWWLXYBR2V3ZICHWRZFGRZ3FSE5UXZB6LJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EYNJRF2ASYN3IP42OBSMVXKYFZMT34AHEVAHEPKBJUF4GBTLSYQ/vendorv3.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLGVULHGPIHTXKWLS3RTYPI4D5WA656CIT2HJF3745VTNMQ52TZA/vendors.js"
            ]
        },
        "CreateGovCloudAccount": {
            "input": {
                "type": "structure",
                "required": [
                    "Email",
                    "AccountName"
                ],
                "members": {
                    "Email": {
                        "shape": "Sn"
                    },
                    "AccountName": {
                        "shape": "So"
                    },
                    "RoleName": {},
                    "IamUserAccessToBilling": {},
                    "Tags": {
                        "shape": "Sr"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "CreateAccountStatus": {
                        "shape": "Sw"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2QOG4NG2FCIOMP5M6ELK2F2KNFSOUW2MQQQLTYQFZQTNWLZNGPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57SG6EVRCLZYQYQBFPF65K6URMJ2T7S5FEVHCNSDT563HNGDZNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI3KQXL6JMMBHD5KUQP2HLO53JPZZEQ4IH6M2WROGNSYZHSSAXYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQ22CJBW5V7HOV3DDO22O24XHP3W4MNUFNUXKN2WEAN2RSJLCRUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R33MEGIACICHCCZDB7XPE3PZYRF5RSZXCLAWCRX2S3HJH6GR54DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T7CROJPJ2E72WCJ6YGRBLBK46X74GQMYZ3CTKXQFGNI5EMPFBHZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KNEVG57DYC5V56A5RJ4XKRUM6UKLRIJEX5EBSXQE3W3F6AOKJQTQ/index.en.v2.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUA6KOFPAKHPD5QSIZKGMUFDIU6B6QQQGCS3LE2UGAGLBSPEUXTA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUA6KOFPAKHPD5QSIZKGMUFDIU6B6QQQGCS3LE2UGAGLBSPEUXTA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~253ae210.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UEOS6LKCMR6BDOURCEEPPSMVRLAQ24UF4TEXJC6TSEQZY2TIDWLQ/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KEDREPRSIVDOBNTUGNTJWLEIPDCRVVJZ5R4IGQA6Q5FHTYGUIM3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUJH36AEWXEMF6V7J6XJ3WPKHG7QMGBULSP2T3I5ZV4ASUNCXNIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPB6TKKPSXIFMVK765743J4F25KRRK4WH3JGW2A5LMMQHSII3XGA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHOMPK2P66HPXT34IKJNPZ6ORRRUC4YCZ5UQ734Z3FAIPHSD2Q2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXID53TE6GUFRBNHKFWWLXYBR2V3ZICHWRZFGRZ3FSE5UXZB6LJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EYNJRF2ASYN3IP42OBSMVXKYFZMT34AHEVAHEPKBJUF4GBTLSYQ/vendorv3.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLGVULHGPIHTXKWLS3RTYPI4D5WA656CIT2HJF3745VTNMQ52TZA/vendors.js"
            ]
        },
        "CreateOrganization": {
            "input": {
                "type": "structure",
                "members": {
                    "FeatureSet": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Organization": {
                        "shape": "S16"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2QOG4NG2FCIOMP5M6ELK2F2KNFSOUW2MQQQLTYQFZQTNWLZNGPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57SG6EVRCLZYQYQBFPF65K6URMJ2T7S5FEVHCNSDT563HNGDZNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI3KQXL6JMMBHD5KUQP2HLO53JPZZEQ4IH6M2WROGNSYZHSSAXYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQ22CJBW5V7HOV3DDO22O24XHP3W4MNUFNUXKN2WEAN2RSJLCRUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R33MEGIACICHCCZDB7XPE3PZYRF5RSZXCLAWCRX2S3HJH6GR54DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T7CROJPJ2E72WCJ6YGRBLBK46X74GQMYZ3CTKXQFGNI5EMPFBHZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KNEVG57DYC5V56A5RJ4XKRUM6UKLRIJEX5EBSXQE3W3F6AOKJQTQ/index.en.v2.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUA6KOFPAKHPD5QSIZKGMUFDIU6B6QQQGCS3LE2UGAGLBSPEUXTA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUA6KOFPAKHPD5QSIZKGMUFDIU6B6QQQGCS3LE2UGAGLBSPEUXTA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~253ae210.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UEOS6LKCMR6BDOURCEEPPSMVRLAQ24UF4TEXJC6TSEQZY2TIDWLQ/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KEDREPRSIVDOBNTUGNTJWLEIPDCRVVJZ5R4IGQA6Q5FHTYGUIM3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUJH36AEWXEMF6V7J6XJ3WPKHG7QMGBULSP2T3I5ZV4ASUNCXNIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPB6TKKPSXIFMVK765743J4F25KRRK4WH3JGW2A5LMMQHSII3XGA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHOMPK2P66HPXT34IKJNPZ6ORRRUC4YCZ5UQ734Z3FAIPHSD2Q2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXID53TE6GUFRBNHKFWWLXYBR2V3ZICHWRZFGRZ3FSE5UXZB6LJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EYNJRF2ASYN3IP42OBSMVXKYFZMT34AHEVAHEPKBJUF4GBTLSYQ/vendorv3.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLGVULHGPIHTXKWLS3RTYPI4D5WA656CIT2HJF3745VTNMQ52TZA/vendors.js"
            ]
        },
        "CreateOrganizationalUnit": {
            "input": {
                "type": "structure",
                "required": [
                    "ParentId",
                    "Name"
                ],
                "members": {
                    "ParentId": {},
                    "Name": {},
                    "Tags": {
                        "shape": "Sr"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "OrganizationalUnit": {
                        "shape": "S1i"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2QOG4NG2FCIOMP5M6ELK2F2KNFSOUW2MQQQLTYQFZQTNWLZNGPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57SG6EVRCLZYQYQBFPF65K6URMJ2T7S5FEVHCNSDT563HNGDZNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI3KQXL6JMMBHD5KUQP2HLO53JPZZEQ4IH6M2WROGNSYZHSSAXYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQ22CJBW5V7HOV3DDO22O24XHP3W4MNUFNUXKN2WEAN2RSJLCRUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R33MEGIACICHCCZDB7XPE3PZYRF5RSZXCLAWCRX2S3HJH6GR54DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T7CROJPJ2E72WCJ6YGRBLBK46X74GQMYZ3CTKXQFGNI5EMPFBHZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KNEVG57DYC5V56A5RJ4XKRUM6UKLRIJEX5EBSXQE3W3F6AOKJQTQ/index.en.v2.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUA6KOFPAKHPD5QSIZKGMUFDIU6B6QQQGCS3LE2UGAGLBSPEUXTA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUA6KOFPAKHPD5QSIZKGMUFDIU6B6QQQGCS3LE2UGAGLBSPEUXTA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~253ae210.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UEOS6LKCMR6BDOURCEEPPSMVRLAQ24UF4TEXJC6TSEQZY2TIDWLQ/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KEDREPRSIVDOBNTUGNTJWLEIPDCRVVJZ5R4IGQA6Q5FHTYGUIM3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUJH36AEWXEMF6V7J6XJ3WPKHG7QMGBULSP2T3I5ZV4ASUNCXNIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPB6TKKPSXIFMVK765743J4F25KRRK4WH3JGW2A5LMMQHSII3XGA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHOMPK2P66HPXT34IKJNPZ6ORRRUC4YCZ5UQ734Z3FAIPHSD2Q2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXID53TE6GUFRBNHKFWWLXYBR2V3ZICHWRZFGRZ3FSE5UXZB6LJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EYNJRF2ASYN3IP42OBSMVXKYFZMT34AHEVAHEPKBJUF4GBTLSYQ/vendorv3.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLGVULHGPIHTXKWLS3RTYPI4D5WA656CIT2HJF3745VTNMQ52TZA/vendors.js"
            ]
        },
        "CreatePolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "Content",
                    "Description",
                    "Name",
                    "Type"
                ],
                "members": {
                    "Content": {},
                    "Description": {},
                    "Name": {},
                    "Type": {},
                    "Tags": {
                        "shape": "Sr"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Policy": {
                        "shape": "S1q"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2QOG4NG2FCIOMP5M6ELK2F2KNFSOUW2MQQQLTYQFZQTNWLZNGPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57SG6EVRCLZYQYQBFPF65K6URMJ2T7S5FEVHCNSDT563HNGDZNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI3KQXL6JMMBHD5KUQP2HLO53JPZZEQ4IH6M2WROGNSYZHSSAXYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQ22CJBW5V7HOV3DDO22O24XHP3W4MNUFNUXKN2WEAN2RSJLCRUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R33MEGIACICHCCZDB7XPE3PZYRF5RSZXCLAWCRX2S3HJH6GR54DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T7CROJPJ2E72WCJ6YGRBLBK46X74GQMYZ3CTKXQFGNI5EMPFBHZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KNEVG57DYC5V56A5RJ4XKRUM6UKLRIJEX5EBSXQE3W3F6AOKJQTQ/index.en.v2.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUA6KOFPAKHPD5QSIZKGMUFDIU6B6QQQGCS3LE2UGAGLBSPEUXTA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUA6KOFPAKHPD5QSIZKGMUFDIU6B6QQQGCS3LE2UGAGLBSPEUXTA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~253ae210.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UEOS6LKCMR6BDOURCEEPPSMVRLAQ24UF4TEXJC6TSEQZY2TIDWLQ/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KEDREPRSIVDOBNTUGNTJWLEIPDCRVVJZ5R4IGQA6Q5FHTYGUIM3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUJH36AEWXEMF6V7J6XJ3WPKHG7QMGBULSP2T3I5ZV4ASUNCXNIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPB6TKKPSXIFMVK765743J4F25KRRK4WH3JGW2A5LMMQHSII3XGA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHOMPK2P66HPXT34IKJNPZ6ORRRUC4YCZ5UQ734Z3FAIPHSD2Q2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXID53TE6GUFRBNHKFWWLXYBR2V3ZICHWRZFGRZ3FSE5UXZB6LJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EYNJRF2ASYN3IP42OBSMVXKYFZMT34AHEVAHEPKBJUF4GBTLSYQ/vendorv3.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLGVULHGPIHTXKWLS3RTYPI4D5WA656CIT2HJF3745VTNMQ52TZA/vendors.js"
            ]
        },
        "DeclineHandshake": {
            "input": {
                "type": "structure",
                "required": [
                    "HandshakeId"
                ],
                "members": {
                    "HandshakeId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Handshake": {
                        "shape": "S4"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2QOG4NG2FCIOMP5M6ELK2F2KNFSOUW2MQQQLTYQFZQTNWLZNGPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57SG6EVRCLZYQYQBFPF65K6URMJ2T7S5FEVHCNSDT563HNGDZNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI3KQXL6JMMBHD5KUQP2HLO53JPZZEQ4IH6M2WROGNSYZHSSAXYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQ22CJBW5V7HOV3DDO22O24XHP3W4MNUFNUXKN2WEAN2RSJLCRUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R33MEGIACICHCCZDB7XPE3PZYRF5RSZXCLAWCRX2S3HJH6GR54DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T7CROJPJ2E72WCJ6YGRBLBK46X74GQMYZ3CTKXQFGNI5EMPFBHZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KNEVG57DYC5V56A5RJ4XKRUM6UKLRIJEX5EBSXQE3W3F6AOKJQTQ/index.en.v2.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUA6KOFPAKHPD5QSIZKGMUFDIU6B6QQQGCS3LE2UGAGLBSPEUXTA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUA6KOFPAKHPD5QSIZKGMUFDIU6B6QQQGCS3LE2UGAGLBSPEUXTA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~253ae210.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UEOS6LKCMR6BDOURCEEPPSMVRLAQ24UF4TEXJC6TSEQZY2TIDWLQ/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KEDREPRSIVDOBNTUGNTJWLEIPDCRVVJZ5R4IGQA6Q5FHTYGUIM3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUJH36AEWXEMF6V7J6XJ3WPKHG7QMGBULSP2T3I5ZV4ASUNCXNIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPB6TKKPSXIFMVK765743J4F25KRRK4WH3JGW2A5LMMQHSII3XGA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHOMPK2P66HPXT34IKJNPZ6ORRRUC4YCZ5UQ734Z3FAIPHSD2Q2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXID53TE6GUFRBNHKFWWLXYBR2V3ZICHWRZFGRZ3FSE5UXZB6LJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EYNJRF2ASYN3IP42OBSMVXKYFZMT34AHEVAHEPKBJUF4GBTLSYQ/vendorv3.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLGVULHGPIHTXKWLS3RTYPI4D5WA656CIT2HJF3745VTNMQ52TZA/vendors.js"
            ]
        },
        "DeleteOrganization": {
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2QOG4NG2FCIOMP5M6ELK2F2KNFSOUW2MQQQLTYQFZQTNWLZNGPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57SG6EVRCLZYQYQBFPF65K6URMJ2T7S5FEVHCNSDT563HNGDZNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI3KQXL6JMMBHD5KUQP2HLO53JPZZEQ4IH6M2WROGNSYZHSSAXYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQ22CJBW5V7HOV3DDO22O24XHP3W4MNUFNUXKN2WEAN2RSJLCRUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R33MEGIACICHCCZDB7XPE3PZYRF5RSZXCLAWCRX2S3HJH6GR54DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T7CROJPJ2E72WCJ6YGRBLBK46X74GQMYZ3CTKXQFGNI5EMPFBHZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KNEVG57DYC5V56A5RJ4XKRUM6UKLRIJEX5EBSXQE3W3F6AOKJQTQ/index.en.v2.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUA6KOFPAKHPD5QSIZKGMUFDIU6B6QQQGCS3LE2UGAGLBSPEUXTA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUA6KOFPAKHPD5QSIZKGMUFDIU6B6QQQGCS3LE2UGAGLBSPEUXTA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~253ae210.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UEOS6LKCMR6BDOURCEEPPSMVRLAQ24UF4TEXJC6TSEQZY2TIDWLQ/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KEDREPRSIVDOBNTUGNTJWLEIPDCRVVJZ5R4IGQA6Q5FHTYGUIM3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUJH36AEWXEMF6V7J6XJ3WPKHG7QMGBULSP2T3I5ZV4ASUNCXNIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPB6TKKPSXIFMVK765743J4F25KRRK4WH3JGW2A5LMMQHSII3XGA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHOMPK2P66HPXT34IKJNPZ6ORRRUC4YCZ5UQ734Z3FAIPHSD2Q2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXID53TE6GUFRBNHKFWWLXYBR2V3ZICHWRZFGRZ3FSE5UXZB6LJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EYNJRF2ASYN3IP42OBSMVXKYFZMT34AHEVAHEPKBJUF4GBTLSYQ/vendorv3.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLGVULHGPIHTXKWLS3RTYPI4D5WA656CIT2HJF3745VTNMQ52TZA/vendors.js"
            ]
        },
        "DeleteOrganizationalUnit": {
            "input": {
                "type": "structure",
                "required": [
                    "OrganizationalUnitId"
                ],
                "members": {
                    "OrganizationalUnitId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2QOG4NG2FCIOMP5M6ELK2F2KNFSOUW2MQQQLTYQFZQTNWLZNGPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57SG6EVRCLZYQYQBFPF65K6URMJ2T7S5FEVHCNSDT563HNGDZNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI3KQXL6JMMBHD5KUQP2HLO53JPZZEQ4IH6M2WROGNSYZHSSAXYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQ22CJBW5V7HOV3DDO22O24XHP3W4MNUFNUXKN2WEAN2RSJLCRUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R33MEGIACICHCCZDB7XPE3PZYRF5RSZXCLAWCRX2S3HJH6GR54DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T7CROJPJ2E72WCJ6YGRBLBK46X74GQMYZ3CTKXQFGNI5EMPFBHZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KNEVG57DYC5V56A5RJ4XKRUM6UKLRIJEX5EBSXQE3W3F6AOKJQTQ/index.en.v2.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUA6KOFPAKHPD5QSIZKGMUFDIU6B6QQQGCS3LE2UGAGLBSPEUXTA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUA6KOFPAKHPD5QSIZKGMUFDIU6B6QQQGCS3LE2UGAGLBSPEUXTA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~253ae210.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UEOS6LKCMR6BDOURCEEPPSMVRLAQ24UF4TEXJC6TSEQZY2TIDWLQ/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KEDREPRSIVDOBNTUGNTJWLEIPDCRVVJZ5R4IGQA6Q5FHTYGUIM3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUJH36AEWXEMF6V7J6XJ3WPKHG7QMGBULSP2T3I5ZV4ASUNCXNIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPB6TKKPSXIFMVK765743J4F25KRRK4WH3JGW2A5LMMQHSII3XGA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHOMPK2P66HPXT34IKJNPZ6ORRRUC4YCZ5UQ734Z3FAIPHSD2Q2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXID53TE6GUFRBNHKFWWLXYBR2V3ZICHWRZFGRZ3FSE5UXZB6LJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EYNJRF2ASYN3IP42OBSMVXKYFZMT34AHEVAHEPKBJUF4GBTLSYQ/vendorv3.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLGVULHGPIHTXKWLS3RTYPI4D5WA656CIT2HJF3745VTNMQ52TZA/vendors.js"
            ]
        },
        "DeletePolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "PolicyId"
                ],
                "members": {
                    "PolicyId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2QOG4NG2FCIOMP5M6ELK2F2KNFSOUW2MQQQLTYQFZQTNWLZNGPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57SG6EVRCLZYQYQBFPF65K6URMJ2T7S5FEVHCNSDT563HNGDZNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI3KQXL6JMMBHD5KUQP2HLO53JPZZEQ4IH6M2WROGNSYZHSSAXYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQ22CJBW5V7HOV3DDO22O24XHP3W4MNUFNUXKN2WEAN2RSJLCRUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R33MEGIACICHCCZDB7XPE3PZYRF5RSZXCLAWCRX2S3HJH6GR54DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T7CROJPJ2E72WCJ6YGRBLBK46X74GQMYZ3CTKXQFGNI5EMPFBHZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KNEVG57DYC5V56A5RJ4XKRUM6UKLRIJEX5EBSXQE3W3F6AOKJQTQ/index.en.v2.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUA6KOFPAKHPD5QSIZKGMUFDIU6B6QQQGCS3LE2UGAGLBSPEUXTA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUA6KOFPAKHPD5QSIZKGMUFDIU6B6QQQGCS3LE2UGAGLBSPEUXTA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~253ae210.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UEOS6LKCMR6BDOURCEEPPSMVRLAQ24UF4TEXJC6TSEQZY2TIDWLQ/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KEDREPRSIVDOBNTUGNTJWLEIPDCRVVJZ5R4IGQA6Q5FHTYGUIM3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUJH36AEWXEMF6V7J6XJ3WPKHG7QMGBULSP2T3I5ZV4ASUNCXNIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPB6TKKPSXIFMVK765743J4F25KRRK4WH3JGW2A5LMMQHSII3XGA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHOMPK2P66HPXT34IKJNPZ6ORRRUC4YCZ5UQ734Z3FAIPHSD2Q2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXID53TE6GUFRBNHKFWWLXYBR2V3ZICHWRZFGRZ3FSE5UXZB6LJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EYNJRF2ASYN3IP42OBSMVXKYFZMT34AHEVAHEPKBJUF4GBTLSYQ/vendorv3.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLGVULHGPIHTXKWLS3RTYPI4D5WA656CIT2HJF3745VTNMQ52TZA/vendors.js"
            ]
        },
        "DeregisterDelegatedAdministrator": {
            "input": {
                "type": "structure",
                "required": [
                    "AccountId",
                    "ServicePrincipal"
                ],
                "members": {
                    "AccountId": {},
                    "ServicePrincipal": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2QOG4NG2FCIOMP5M6ELK2F2KNFSOUW2MQQQLTYQFZQTNWLZNGPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57SG6EVRCLZYQYQBFPF65K6URMJ2T7S5FEVHCNSDT563HNGDZNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI3KQXL6JMMBHD5KUQP2HLO53JPZZEQ4IH6M2WROGNSYZHSSAXYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQ22CJBW5V7HOV3DDO22O24XHP3W4MNUFNUXKN2WEAN2RSJLCRUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R33MEGIACICHCCZDB7XPE3PZYRF5RSZXCLAWCRX2S3HJH6GR54DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T7CROJPJ2E72WCJ6YGRBLBK46X74GQMYZ3CTKXQFGNI5EMPFBHZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KNEVG57DYC5V56A5RJ4XKRUM6UKLRIJEX5EBSXQE3W3F6AOKJQTQ/index.en.v2.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUA6KOFPAKHPD5QSIZKGMUFDIU6B6QQQGCS3LE2UGAGLBSPEUXTA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUA6KOFPAKHPD5QSIZKGMUFDIU6B6QQQGCS3LE2UGAGLBSPEUXTA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~253ae210.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UEOS6LKCMR6BDOURCEEPPSMVRLAQ24UF4TEXJC6TSEQZY2TIDWLQ/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KEDREPRSIVDOBNTUGNTJWLEIPDCRVVJZ5R4IGQA6Q5FHTYGUIM3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUJH36AEWXEMF6V7J6XJ3WPKHG7QMGBULSP2T3I5ZV4ASUNCXNIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPB6TKKPSXIFMVK765743J4F25KRRK4WH3JGW2A5LMMQHSII3XGA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHOMPK2P66HPXT34IKJNPZ6ORRRUC4YCZ5UQ734Z3FAIPHSD2Q2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXID53TE6GUFRBNHKFWWLXYBR2V3ZICHWRZFGRZ3FSE5UXZB6LJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EYNJRF2ASYN3IP42OBSMVXKYFZMT34AHEVAHEPKBJUF4GBTLSYQ/vendorv3.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLGVULHGPIHTXKWLS3RTYPI4D5WA656CIT2HJF3745VTNMQ52TZA/vendors.js"
            ]
        },
        "DescribeAccount": {
            "input": {
                "type": "structure",
                "required": [
                    "AccountId"
                ],
                "members": {
                    "AccountId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Account": {
                        "shape": "S22"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2QOG4NG2FCIOMP5M6ELK2F2KNFSOUW2MQQQLTYQFZQTNWLZNGPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57SG6EVRCLZYQYQBFPF65K6URMJ2T7S5FEVHCNSDT563HNGDZNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI3KQXL6JMMBHD5KUQP2HLO53JPZZEQ4IH6M2WROGNSYZHSSAXYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQ22CJBW5V7HOV3DDO22O24XHP3W4MNUFNUXKN2WEAN2RSJLCRUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R33MEGIACICHCCZDB7XPE3PZYRF5RSZXCLAWCRX2S3HJH6GR54DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T7CROJPJ2E72WCJ6YGRBLBK46X74GQMYZ3CTKXQFGNI5EMPFBHZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KNEVG57DYC5V56A5RJ4XKRUM6UKLRIJEX5EBSXQE3W3F6AOKJQTQ/index.en.v2.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUA6KOFPAKHPD5QSIZKGMUFDIU6B6QQQGCS3LE2UGAGLBSPEUXTA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUA6KOFPAKHPD5QSIZKGMUFDIU6B6QQQGCS3LE2UGAGLBSPEUXTA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~253ae210.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UEOS6LKCMR6BDOURCEEPPSMVRLAQ24UF4TEXJC6TSEQZY2TIDWLQ/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KEDREPRSIVDOBNTUGNTJWLEIPDCRVVJZ5R4IGQA6Q5FHTYGUIM3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUJH36AEWXEMF6V7J6XJ3WPKHG7QMGBULSP2T3I5ZV4ASUNCXNIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPB6TKKPSXIFMVK765743J4F25KRRK4WH3JGW2A5LMMQHSII3XGA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHOMPK2P66HPXT34IKJNPZ6ORRRUC4YCZ5UQ734Z3FAIPHSD2Q2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXID53TE6GUFRBNHKFWWLXYBR2V3ZICHWRZFGRZ3FSE5UXZB6LJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EYNJRF2ASYN3IP42OBSMVXKYFZMT34AHEVAHEPKBJUF4GBTLSYQ/vendorv3.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLGVULHGPIHTXKWLS3RTYPI4D5WA656CIT2HJF3745VTNMQ52TZA/vendors.js"
            ]
        },
        "DescribeCreateAccountStatus": {
            "input": {
                "type": "structure",
                "required": [
                    "CreateAccountRequestId"
                ],
                "members": {
                    "CreateAccountRequestId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "CreateAccountStatus": {
                        "shape": "Sw"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2QOG4NG2FCIOMP5M6ELK2F2KNFSOUW2MQQQLTYQFZQTNWLZNGPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57SG6EVRCLZYQYQBFPF65K6URMJ2T7S5FEVHCNSDT563HNGDZNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI3KQXL6JMMBHD5KUQP2HLO53JPZZEQ4IH6M2WROGNSYZHSSAXYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQ22CJBW5V7HOV3DDO22O24XHP3W4MNUFNUXKN2WEAN2RSJLCRUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R33MEGIACICHCCZDB7XPE3PZYRF5RSZXCLAWCRX2S3HJH6GR54DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T7CROJPJ2E72WCJ6YGRBLBK46X74GQMYZ3CTKXQFGNI5EMPFBHZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KNEVG57DYC5V56A5RJ4XKRUM6UKLRIJEX5EBSXQE3W3F6AOKJQTQ/index.en.v2.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUA6KOFPAKHPD5QSIZKGMUFDIU6B6QQQGCS3LE2UGAGLBSPEUXTA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUA6KOFPAKHPD5QSIZKGMUFDIU6B6QQQGCS3LE2UGAGLBSPEUXTA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~253ae210.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UEOS6LKCMR6BDOURCEEPPSMVRLAQ24UF4TEXJC6TSEQZY2TIDWLQ/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KEDREPRSIVDOBNTUGNTJWLEIPDCRVVJZ5R4IGQA6Q5FHTYGUIM3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUJH36AEWXEMF6V7J6XJ3WPKHG7QMGBULSP2T3I5ZV4ASUNCXNIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPB6TKKPSXIFMVK765743J4F25KRRK4WH3JGW2A5LMMQHSII3XGA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHOMPK2P66HPXT34IKJNPZ6ORRRUC4YCZ5UQ734Z3FAIPHSD2Q2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXID53TE6GUFRBNHKFWWLXYBR2V3ZICHWRZFGRZ3FSE5UXZB6LJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EYNJRF2ASYN3IP42OBSMVXKYFZMT34AHEVAHEPKBJUF4GBTLSYQ/vendorv3.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLGVULHGPIHTXKWLS3RTYPI4D5WA656CIT2HJF3745VTNMQ52TZA/vendors.js"
            ]
        },
        "DescribeEffectivePolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "PolicyType"
                ],
                "members": {
                    "PolicyType": {},
                    "TargetId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "EffectivePolicy": {
                        "type": "structure",
                        "members": {
                            "PolicyContent": {},
                            "LastUpdatedTimestamp": {
                                "type": "timestamp"
                            },
                            "TargetId": {},
                            "PolicyType": {}
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2QOG4NG2FCIOMP5M6ELK2F2KNFSOUW2MQQQLTYQFZQTNWLZNGPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57SG6EVRCLZYQYQBFPF65K6URMJ2T7S5FEVHCNSDT563HNGDZNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI3KQXL6JMMBHD5KUQP2HLO53JPZZEQ4IH6M2WROGNSYZHSSAXYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQ22CJBW5V7HOV3DDO22O24XHP3W4MNUFNUXKN2WEAN2RSJLCRUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R33MEGIACICHCCZDB7XPE3PZYRF5RSZXCLAWCRX2S3HJH6GR54DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T7CROJPJ2E72WCJ6YGRBLBK46X74GQMYZ3CTKXQFGNI5EMPFBHZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KNEVG57DYC5V56A5RJ4XKRUM6UKLRIJEX5EBSXQE3W3F6AOKJQTQ/index.en.v2.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUA6KOFPAKHPD5QSIZKGMUFDIU6B6QQQGCS3LE2UGAGLBSPEUXTA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUA6KOFPAKHPD5QSIZKGMUFDIU6B6QQQGCS3LE2UGAGLBSPEUXTA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~253ae210.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UEOS6LKCMR6BDOURCEEPPSMVRLAQ24UF4TEXJC6TSEQZY2TIDWLQ/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KEDREPRSIVDOBNTUGNTJWLEIPDCRVVJZ5R4IGQA6Q5FHTYGUIM3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUJH36AEWXEMF6V7J6XJ3WPKHG7QMGBULSP2T3I5ZV4ASUNCXNIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPB6TKKPSXIFMVK765743J4F25KRRK4WH3JGW2A5LMMQHSII3XGA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHOMPK2P66HPXT34IKJNPZ6ORRRUC4YCZ5UQ734Z3FAIPHSD2Q2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXID53TE6GUFRBNHKFWWLXYBR2V3ZICHWRZFGRZ3FSE5UXZB6LJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EYNJRF2ASYN3IP42OBSMVXKYFZMT34AHEVAHEPKBJUF4GBTLSYQ/vendorv3.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLGVULHGPIHTXKWLS3RTYPI4D5WA656CIT2HJF3745VTNMQ52TZA/vendors.js"
            ]
        },
        "DescribeHandshake": {
            "input": {
                "type": "structure",
                "required": [
                    "HandshakeId"
                ],
                "members": {
                    "HandshakeId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Handshake": {
                        "shape": "S4"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2QOG4NG2FCIOMP5M6ELK2F2KNFSOUW2MQQQLTYQFZQTNWLZNGPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57SG6EVRCLZYQYQBFPF65K6URMJ2T7S5FEVHCNSDT563HNGDZNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI3KQXL6JMMBHD5KUQP2HLO53JPZZEQ4IH6M2WROGNSYZHSSAXYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQ22CJBW5V7HOV3DDO22O24XHP3W4MNUFNUXKN2WEAN2RSJLCRUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R33MEGIACICHCCZDB7XPE3PZYRF5RSZXCLAWCRX2S3HJH6GR54DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T7CROJPJ2E72WCJ6YGRBLBK46X74GQMYZ3CTKXQFGNI5EMPFBHZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KNEVG57DYC5V56A5RJ4XKRUM6UKLRIJEX5EBSXQE3W3F6AOKJQTQ/index.en.v2.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUA6KOFPAKHPD5QSIZKGMUFDIU6B6QQQGCS3LE2UGAGLBSPEUXTA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUA6KOFPAKHPD5QSIZKGMUFDIU6B6QQQGCS3LE2UGAGLBSPEUXTA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~253ae210.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UEOS6LKCMR6BDOURCEEPPSMVRLAQ24UF4TEXJC6TSEQZY2TIDWLQ/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KEDREPRSIVDOBNTUGNTJWLEIPDCRVVJZ5R4IGQA6Q5FHTYGUIM3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUJH36AEWXEMF6V7J6XJ3WPKHG7QMGBULSP2T3I5ZV4ASUNCXNIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPB6TKKPSXIFMVK765743J4F25KRRK4WH3JGW2A5LMMQHSII3XGA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHOMPK2P66HPXT34IKJNPZ6ORRRUC4YCZ5UQ734Z3FAIPHSD2Q2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXID53TE6GUFRBNHKFWWLXYBR2V3ZICHWRZFGRZ3FSE5UXZB6LJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EYNJRF2ASYN3IP42OBSMVXKYFZMT34AHEVAHEPKBJUF4GBTLSYQ/vendorv3.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLGVULHGPIHTXKWLS3RTYPI4D5WA656CIT2HJF3745VTNMQ52TZA/vendors.js"
            ]
        },
        "DescribeOrganization": {
            "output": {
                "type": "structure",
                "members": {
                    "Organization": {
                        "shape": "S16"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2QOG4NG2FCIOMP5M6ELK2F2KNFSOUW2MQQQLTYQFZQTNWLZNGPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57SG6EVRCLZYQYQBFPF65K6URMJ2T7S5FEVHCNSDT563HNGDZNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI3KQXL6JMMBHD5KUQP2HLO53JPZZEQ4IH6M2WROGNSYZHSSAXYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQ22CJBW5V7HOV3DDO22O24XHP3W4MNUFNUXKN2WEAN2RSJLCRUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R33MEGIACICHCCZDB7XPE3PZYRF5RSZXCLAWCRX2S3HJH6GR54DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T7CROJPJ2E72WCJ6YGRBLBK46X74GQMYZ3CTKXQFGNI5EMPFBHZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KNEVG57DYC5V56A5RJ4XKRUM6UKLRIJEX5EBSXQE3W3F6AOKJQTQ/index.en.v2.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUA6KOFPAKHPD5QSIZKGMUFDIU6B6QQQGCS3LE2UGAGLBSPEUXTA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUA6KOFPAKHPD5QSIZKGMUFDIU6B6QQQGCS3LE2UGAGLBSPEUXTA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~253ae210.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UEOS6LKCMR6BDOURCEEPPSMVRLAQ24UF4TEXJC6TSEQZY2TIDWLQ/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KEDREPRSIVDOBNTUGNTJWLEIPDCRVVJZ5R4IGQA6Q5FHTYGUIM3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUJH36AEWXEMF6V7J6XJ3WPKHG7QMGBULSP2T3I5ZV4ASUNCXNIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPB6TKKPSXIFMVK765743J4F25KRRK4WH3JGW2A5LMMQHSII3XGA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHOMPK2P66HPXT34IKJNPZ6ORRRUC4YCZ5UQ734Z3FAIPHSD2Q2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXID53TE6GUFRBNHKFWWLXYBR2V3ZICHWRZFGRZ3FSE5UXZB6LJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EYNJRF2ASYN3IP42OBSMVXKYFZMT34AHEVAHEPKBJUF4GBTLSYQ/vendorv3.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLGVULHGPIHTXKWLS3RTYPI4D5WA656CIT2HJF3745VTNMQ52TZA/vendors.js"
            ]
        },
        "DescribeOrganizationalUnit": {
            "input": {
                "type": "structure",
                "required": [
                    "OrganizationalUnitId"
                ],
                "members": {
                    "OrganizationalUnitId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "OrganizationalUnit": {
                        "shape": "S1i"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2QOG4NG2FCIOMP5M6ELK2F2KNFSOUW2MQQQLTYQFZQTNWLZNGPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57SG6EVRCLZYQYQBFPF65K6URMJ2T7S5FEVHCNSDT563HNGDZNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI3KQXL6JMMBHD5KUQP2HLO53JPZZEQ4IH6M2WROGNSYZHSSAXYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQ22CJBW5V7HOV3DDO22O24XHP3W4MNUFNUXKN2WEAN2RSJLCRUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R33MEGIACICHCCZDB7XPE3PZYRF5RSZXCLAWCRX2S3HJH6GR54DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T7CROJPJ2E72WCJ6YGRBLBK46X74GQMYZ3CTKXQFGNI5EMPFBHZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KNEVG57DYC5V56A5RJ4XKRUM6UKLRIJEX5EBSXQE3W3F6AOKJQTQ/index.en.v2.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUA6KOFPAKHPD5QSIZKGMUFDIU6B6QQQGCS3LE2UGAGLBSPEUXTA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUA6KOFPAKHPD5QSIZKGMUFDIU6B6QQQGCS3LE2UGAGLBSPEUXTA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~253ae210.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UEOS6LKCMR6BDOURCEEPPSMVRLAQ24UF4TEXJC6TSEQZY2TIDWLQ/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KEDREPRSIVDOBNTUGNTJWLEIPDCRVVJZ5R4IGQA6Q5FHTYGUIM3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUJH36AEWXEMF6V7J6XJ3WPKHG7QMGBULSP2T3I5ZV4ASUNCXNIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPB6TKKPSXIFMVK765743J4F25KRRK4WH3JGW2A5LMMQHSII3XGA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHOMPK2P66HPXT34IKJNPZ6ORRRUC4YCZ5UQ734Z3FAIPHSD2Q2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXID53TE6GUFRBNHKFWWLXYBR2V3ZICHWRZFGRZ3FSE5UXZB6LJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EYNJRF2ASYN3IP42OBSMVXKYFZMT34AHEVAHEPKBJUF4GBTLSYQ/vendorv3.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLGVULHGPIHTXKWLS3RTYPI4D5WA656CIT2HJF3745VTNMQ52TZA/vendors.js"
            ]
        },
        "DescribePolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "PolicyId"
                ],
                "members": {
                    "PolicyId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Policy": {
                        "shape": "S1q"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2QOG4NG2FCIOMP5M6ELK2F2KNFSOUW2MQQQLTYQFZQTNWLZNGPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57SG6EVRCLZYQYQBFPF65K6URMJ2T7S5FEVHCNSDT563HNGDZNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI3KQXL6JMMBHD5KUQP2HLO53JPZZEQ4IH6M2WROGNSYZHSSAXYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQ22CJBW5V7HOV3DDO22O24XHP3W4MNUFNUXKN2WEAN2RSJLCRUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R33MEGIACICHCCZDB7XPE3PZYRF5RSZXCLAWCRX2S3HJH6GR54DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T7CROJPJ2E72WCJ6YGRBLBK46X74GQMYZ3CTKXQFGNI5EMPFBHZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KNEVG57DYC5V56A5RJ4XKRUM6UKLRIJEX5EBSXQE3W3F6AOKJQTQ/index.en.v2.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUA6KOFPAKHPD5QSIZKGMUFDIU6B6QQQGCS3LE2UGAGLBSPEUXTA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUA6KOFPAKHPD5QSIZKGMUFDIU6B6QQQGCS3LE2UGAGLBSPEUXTA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~253ae210.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UEOS6LKCMR6BDOURCEEPPSMVRLAQ24UF4TEXJC6TSEQZY2TIDWLQ/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KEDREPRSIVDOBNTUGNTJWLEIPDCRVVJZ5R4IGQA6Q5FHTYGUIM3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUJH36AEWXEMF6V7J6XJ3WPKHG7QMGBULSP2T3I5ZV4ASUNCXNIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPB6TKKPSXIFMVK765743J4F25KRRK4WH3JGW2A5LMMQHSII3XGA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHOMPK2P66HPXT34IKJNPZ6ORRRUC4YCZ5UQ734Z3FAIPHSD2Q2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXID53TE6GUFRBNHKFWWLXYBR2V3ZICHWRZFGRZ3FSE5UXZB6LJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EYNJRF2ASYN3IP42OBSMVXKYFZMT34AHEVAHEPKBJUF4GBTLSYQ/vendorv3.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLGVULHGPIHTXKWLS3RTYPI4D5WA656CIT2HJF3745VTNMQ52TZA/vendors.js"
            ]
        },
        "DetachPolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "PolicyId",
                    "TargetId"
                ],
                "members": {
                    "PolicyId": {},
                    "TargetId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2QOG4NG2FCIOMP5M6ELK2F2KNFSOUW2MQQQLTYQFZQTNWLZNGPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57SG6EVRCLZYQYQBFPF65K6URMJ2T7S5FEVHCNSDT563HNGDZNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI3KQXL6JMMBHD5KUQP2HLO53JPZZEQ4IH6M2WROGNSYZHSSAXYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQ22CJBW5V7HOV3DDO22O24XHP3W4MNUFNUXKN2WEAN2RSJLCRUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R33MEGIACICHCCZDB7XPE3PZYRF5RSZXCLAWCRX2S3HJH6GR54DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T7CROJPJ2E72WCJ6YGRBLBK46X74GQMYZ3CTKXQFGNI5EMPFBHZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KNEVG57DYC5V56A5RJ4XKRUM6UKLRIJEX5EBSXQE3W3F6AOKJQTQ/index.en.v2.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUA6KOFPAKHPD5QSIZKGMUFDIU6B6QQQGCS3LE2UGAGLBSPEUXTA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUA6KOFPAKHPD5QSIZKGMUFDIU6B6QQQGCS3LE2UGAGLBSPEUXTA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~253ae210.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UEOS6LKCMR6BDOURCEEPPSMVRLAQ24UF4TEXJC6TSEQZY2TIDWLQ/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KEDREPRSIVDOBNTUGNTJWLEIPDCRVVJZ5R4IGQA6Q5FHTYGUIM3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUJH36AEWXEMF6V7J6XJ3WPKHG7QMGBULSP2T3I5ZV4ASUNCXNIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPB6TKKPSXIFMVK765743J4F25KRRK4WH3JGW2A5LMMQHSII3XGA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHOMPK2P66HPXT34IKJNPZ6ORRRUC4YCZ5UQ734Z3FAIPHSD2Q2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXID53TE6GUFRBNHKFWWLXYBR2V3ZICHWRZFGRZ3FSE5UXZB6LJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EYNJRF2ASYN3IP42OBSMVXKYFZMT34AHEVAHEPKBJUF4GBTLSYQ/vendorv3.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLGVULHGPIHTXKWLS3RTYPI4D5WA656CIT2HJF3745VTNMQ52TZA/vendors.js"
            ]
        },
        "DisableAWSServiceAccess": {
            "input": {
                "type": "structure",
                "required": [
                    "ServicePrincipal"
                ],
                "members": {
                    "ServicePrincipal": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2QOG4NG2FCIOMP5M6ELK2F2KNFSOUW2MQQQLTYQFZQTNWLZNGPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57SG6EVRCLZYQYQBFPF65K6URMJ2T7S5FEVHCNSDT563HNGDZNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI3KQXL6JMMBHD5KUQP2HLO53JPZZEQ4IH6M2WROGNSYZHSSAXYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQ22CJBW5V7HOV3DDO22O24XHP3W4MNUFNUXKN2WEAN2RSJLCRUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R33MEGIACICHCCZDB7XPE3PZYRF5RSZXCLAWCRX2S3HJH6GR54DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T7CROJPJ2E72WCJ6YGRBLBK46X74GQMYZ3CTKXQFGNI5EMPFBHZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KNEVG57DYC5V56A5RJ4XKRUM6UKLRIJEX5EBSXQE3W3F6AOKJQTQ/index.en.v2.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUA6KOFPAKHPD5QSIZKGMUFDIU6B6QQQGCS3LE2UGAGLBSPEUXTA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUA6KOFPAKHPD5QSIZKGMUFDIU6B6QQQGCS3LE2UGAGLBSPEUXTA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~253ae210.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UEOS6LKCMR6BDOURCEEPPSMVRLAQ24UF4TEXJC6TSEQZY2TIDWLQ/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KEDREPRSIVDOBNTUGNTJWLEIPDCRVVJZ5R4IGQA6Q5FHTYGUIM3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUJH36AEWXEMF6V7J6XJ3WPKHG7QMGBULSP2T3I5ZV4ASUNCXNIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPB6TKKPSXIFMVK765743J4F25KRRK4WH3JGW2A5LMMQHSII3XGA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHOMPK2P66HPXT34IKJNPZ6ORRRUC4YCZ5UQ734Z3FAIPHSD2Q2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXID53TE6GUFRBNHKFWWLXYBR2V3ZICHWRZFGRZ3FSE5UXZB6LJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EYNJRF2ASYN3IP42OBSMVXKYFZMT34AHEVAHEPKBJUF4GBTLSYQ/vendorv3.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLGVULHGPIHTXKWLS3RTYPI4D5WA656CIT2HJF3745VTNMQ52TZA/vendors.js"
            ]
        },
        "DisablePolicyType": {
            "input": {
                "type": "structure",
                "required": [
                    "RootId",
                    "PolicyType"
                ],
                "members": {
                    "RootId": {},
                    "PolicyType": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Root": {
                        "shape": "S2n"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2QOG4NG2FCIOMP5M6ELK2F2KNFSOUW2MQQQLTYQFZQTNWLZNGPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57SG6EVRCLZYQYQBFPF65K6URMJ2T7S5FEVHCNSDT563HNGDZNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI3KQXL6JMMBHD5KUQP2HLO53JPZZEQ4IH6M2WROGNSYZHSSAXYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQ22CJBW5V7HOV3DDO22O24XHP3W4MNUFNUXKN2WEAN2RSJLCRUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R33MEGIACICHCCZDB7XPE3PZYRF5RSZXCLAWCRX2S3HJH6GR54DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T7CROJPJ2E72WCJ6YGRBLBK46X74GQMYZ3CTKXQFGNI5EMPFBHZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KNEVG57DYC5V56A5RJ4XKRUM6UKLRIJEX5EBSXQE3W3F6AOKJQTQ/index.en.v2.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUA6KOFPAKHPD5QSIZKGMUFDIU6B6QQQGCS3LE2UGAGLBSPEUXTA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUA6KOFPAKHPD5QSIZKGMUFDIU6B6QQQGCS3LE2UGAGLBSPEUXTA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~253ae210.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UEOS6LKCMR6BDOURCEEPPSMVRLAQ24UF4TEXJC6TSEQZY2TIDWLQ/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KEDREPRSIVDOBNTUGNTJWLEIPDCRVVJZ5R4IGQA6Q5FHTYGUIM3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUJH36AEWXEMF6V7J6XJ3WPKHG7QMGBULSP2T3I5ZV4ASUNCXNIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPB6TKKPSXIFMVK765743J4F25KRRK4WH3JGW2A5LMMQHSII3XGA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHOMPK2P66HPXT34IKJNPZ6ORRRUC4YCZ5UQ734Z3FAIPHSD2Q2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXID53TE6GUFRBNHKFWWLXYBR2V3ZICHWRZFGRZ3FSE5UXZB6LJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EYNJRF2ASYN3IP42OBSMVXKYFZMT34AHEVAHEPKBJUF4GBTLSYQ/vendorv3.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLGVULHGPIHTXKWLS3RTYPI4D5WA656CIT2HJF3745VTNMQ52TZA/vendors.js"
            ]
        },
        "EnableAWSServiceAccess": {
            "input": {
                "type": "structure",
                "required": [
                    "ServicePrincipal"
                ],
                "members": {
                    "ServicePrincipal": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2QOG4NG2FCIOMP5M6ELK2F2KNFSOUW2MQQQLTYQFZQTNWLZNGPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57SG6EVRCLZYQYQBFPF65K6URMJ2T7S5FEVHCNSDT563HNGDZNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI3KQXL6JMMBHD5KUQP2HLO53JPZZEQ4IH6M2WROGNSYZHSSAXYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQ22CJBW5V7HOV3DDO22O24XHP3W4MNUFNUXKN2WEAN2RSJLCRUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R33MEGIACICHCCZDB7XPE3PZYRF5RSZXCLAWCRX2S3HJH6GR54DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T7CROJPJ2E72WCJ6YGRBLBK46X74GQMYZ3CTKXQFGNI5EMPFBHZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KNEVG57DYC5V56A5RJ4XKRUM6UKLRIJEX5EBSXQE3W3F6AOKJQTQ/index.en.v2.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUA6KOFPAKHPD5QSIZKGMUFDIU6B6QQQGCS3LE2UGAGLBSPEUXTA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUA6KOFPAKHPD5QSIZKGMUFDIU6B6QQQGCS3LE2UGAGLBSPEUXTA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~253ae210.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UEOS6LKCMR6BDOURCEEPPSMVRLAQ24UF4TEXJC6TSEQZY2TIDWLQ/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KEDREPRSIVDOBNTUGNTJWLEIPDCRVVJZ5R4IGQA6Q5FHTYGUIM3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUJH36AEWXEMF6V7J6XJ3WPKHG7QMGBULSP2T3I5ZV4ASUNCXNIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPB6TKKPSXIFMVK765743J4F25KRRK4WH3JGW2A5LMMQHSII3XGA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHOMPK2P66HPXT34IKJNPZ6ORRRUC4YCZ5UQ734Z3FAIPHSD2Q2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXID53TE6GUFRBNHKFWWLXYBR2V3ZICHWRZFGRZ3FSE5UXZB6LJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EYNJRF2ASYN3IP42OBSMVXKYFZMT34AHEVAHEPKBJUF4GBTLSYQ/vendorv3.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLGVULHGPIHTXKWLS3RTYPI4D5WA656CIT2HJF3745VTNMQ52TZA/vendors.js"
            ]
        },
        "EnableAllFeatures": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "Handshake": {
                        "shape": "S4"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2QOG4NG2FCIOMP5M6ELK2F2KNFSOUW2MQQQLTYQFZQTNWLZNGPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57SG6EVRCLZYQYQBFPF65K6URMJ2T7S5FEVHCNSDT563HNGDZNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI3KQXL6JMMBHD5KUQP2HLO53JPZZEQ4IH6M2WROGNSYZHSSAXYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQ22CJBW5V7HOV3DDO22O24XHP3W4MNUFNUXKN2WEAN2RSJLCRUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R33MEGIACICHCCZDB7XPE3PZYRF5RSZXCLAWCRX2S3HJH6GR54DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T7CROJPJ2E72WCJ6YGRBLBK46X74GQMYZ3CTKXQFGNI5EMPFBHZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KNEVG57DYC5V56A5RJ4XKRUM6UKLRIJEX5EBSXQE3W3F6AOKJQTQ/index.en.v2.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUA6KOFPAKHPD5QSIZKGMUFDIU6B6QQQGCS3LE2UGAGLBSPEUXTA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUA6KOFPAKHPD5QSIZKGMUFDIU6B6QQQGCS3LE2UGAGLBSPEUXTA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~253ae210.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UEOS6LKCMR6BDOURCEEPPSMVRLAQ24UF4TEXJC6TSEQZY2TIDWLQ/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KEDREPRSIVDOBNTUGNTJWLEIPDCRVVJZ5R4IGQA6Q5FHTYGUIM3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUJH36AEWXEMF6V7J6XJ3WPKHG7QMGBULSP2T3I5ZV4ASUNCXNIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPB6TKKPSXIFMVK765743J4F25KRRK4WH3JGW2A5LMMQHSII3XGA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHOMPK2P66HPXT34IKJNPZ6ORRRUC4YCZ5UQ734Z3FAIPHSD2Q2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXID53TE6GUFRBNHKFWWLXYBR2V3ZICHWRZFGRZ3FSE5UXZB6LJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EYNJRF2ASYN3IP42OBSMVXKYFZMT34AHEVAHEPKBJUF4GBTLSYQ/vendorv3.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLGVULHGPIHTXKWLS3RTYPI4D5WA656CIT2HJF3745VTNMQ52TZA/vendors.js"
            ]
        },
        "EnablePolicyType": {
            "input": {
                "type": "structure",
                "required": [
                    "RootId",
                    "PolicyType"
                ],
                "members": {
                    "RootId": {},
                    "PolicyType": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Root": {
                        "shape": "S2n"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2QOG4NG2FCIOMP5M6ELK2F2KNFSOUW2MQQQLTYQFZQTNWLZNGPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57SG6EVRCLZYQYQBFPF65K6URMJ2T7S5FEVHCNSDT563HNGDZNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI3KQXL6JMMBHD5KUQP2HLO53JPZZEQ4IH6M2WROGNSYZHSSAXYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQ22CJBW5V7HOV3DDO22O24XHP3W4MNUFNUXKN2WEAN2RSJLCRUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R33MEGIACICHCCZDB7XPE3PZYRF5RSZXCLAWCRX2S3HJH6GR54DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T7CROJPJ2E72WCJ6YGRBLBK46X74GQMYZ3CTKXQFGNI5EMPFBHZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KNEVG57DYC5V56A5RJ4XKRUM6UKLRIJEX5EBSXQE3W3F6AOKJQTQ/index.en.v2.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUA6KOFPAKHPD5QSIZKGMUFDIU6B6QQQGCS3LE2UGAGLBSPEUXTA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUA6KOFPAKHPD5QSIZKGMUFDIU6B6QQQGCS3LE2UGAGLBSPEUXTA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~253ae210.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UEOS6LKCMR6BDOURCEEPPSMVRLAQ24UF4TEXJC6TSEQZY2TIDWLQ/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KEDREPRSIVDOBNTUGNTJWLEIPDCRVVJZ5R4IGQA6Q5FHTYGUIM3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUJH36AEWXEMF6V7J6XJ3WPKHG7QMGBULSP2T3I5ZV4ASUNCXNIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPB6TKKPSXIFMVK765743J4F25KRRK4WH3JGW2A5LMMQHSII3XGA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHOMPK2P66HPXT34IKJNPZ6ORRRUC4YCZ5UQ734Z3FAIPHSD2Q2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXID53TE6GUFRBNHKFWWLXYBR2V3ZICHWRZFGRZ3FSE5UXZB6LJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EYNJRF2ASYN3IP42OBSMVXKYFZMT34AHEVAHEPKBJUF4GBTLSYQ/vendorv3.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLGVULHGPIHTXKWLS3RTYPI4D5WA656CIT2HJF3745VTNMQ52TZA/vendors.js"
            ]
        },
        "InviteAccountToOrganization": {
            "input": {
                "type": "structure",
                "required": [
                    "Target"
                ],
                "members": {
                    "Target": {
                        "shape": "S7"
                    },
                    "Notes": {
                        "type": "string",
                        "sensitive": true
                    },
                    "Tags": {
                        "shape": "Sr"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Handshake": {
                        "shape": "S4"
                    }
                }
[...]
