{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2020-05-07",
        "endpointPrefix": "organizationsinternal",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceFullName": "AWS Organizations Internal",
        "signatureVersion": "v4",
        "signingName": "organizations",
        "targetPrefix": "AWSOrganizationsInternal",
        "uid": "organizationsinternal-2020-05-07",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/VZQR6M6RSP5KOA4G6PAFEBJIJYJWD4CRDLL4UD365KGFVRRZBPVQ/vendor.awssdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FOFUDAKDP24EITNPMEZGEPIAM5X2VUAQX53YCFYZ26WUZJVHGLKA/vendor.awssdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3EFIIGOUKR2UCE7BUMDXWK2P5HZERCWXUDVLSJGF2LACXBYQHFMA/vendor.awssdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/G6MDLX2QHHSI2RIC362VPJTB4O2IHPOLSGM6JT6UZRH4AH77SOAQ/vendor.awssdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NJE5JIZKXR42GGMTQC6VAQIGUNLUV3VNCZX7CVPNATXSWSFP7SWA/vendor.awssdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FAOKGPEWPGRL4R3H6GN6PFNWDUGMPUHNTK6QVU4Z6APKMPQHOFIQ/vendor.awssdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/54PHT5WXY6OSGHBXZDQACQRRA6TG6LBZPTL6GE36LN5BNURDOMYA/vendor.awssdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JTD5BSYM5NSDHQA6I2ATQ5RYHS4LHFI6ANJCD2L2WJFAAB4M2NCQ/vendor.awssdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AO6F2TGVFOPLOWDXPMO7GLBXZA5O2V4OTQFY2JNTG4CQZRB2FSFQ/vendor.awssdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JGLF5AVATMKNYJ4PMHRUW4HHF3GZEW24XQH5HU2MVFC4D27A3LFA/vendor.awssdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DG3S3HT2MPSEXIW2KRR2BOS3XVKG6ZOFXIQBMCWM5PTEDV7VRTNA/vendor.awssdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GRVDQPYC3NCTKSCJCHC7B2CBAJVP5Z65CTMWGR2ZCJLIOSO3BF4Q/vendor.awssdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/U3AEYCXV3S7M6B4FWTRXHOUE4L6LQD5MNL7UO7N4ONHJSEIVW6ZQ/vendor.awssdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HTGZBRJSOW4B2ZZ7UBPOX56S27KITF2WHZMLZCJN42D3PZ6JOAFQ/vendor.awssdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6PDRVODXI2KT735QDIKFWV47MMZYEEDS6IQHC2VA7ZEB4VBQD3BQ/vendor.awssdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SDNLT6CCIVZYV2VKHKU7AXCZ3P2GZ4IZB76CS2NBDIHNDJXPSTIA/vendor.awssdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JHJZHPRDKAGIZTKJFXXIDEIR4WJGGMVE7OK3V3HSMSXMHELA7NQQ/vendor.awssdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CGSZF2WVXU3HJLSBANZ5BHA7QGOUSSIKKU4HKEAFURD2IS6BTXSQ/vendor.awssdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NQVNWQNX6JWK2MVJYFEUPIFFPA3QHO7QYUE52JUU3Q52YBXRJA6A/vendor.awssdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KJFFZGOWFIZFLL5LTNMCVA2V66SYTTIPJS4GSNEEMSQYRDULFODQ/vendor.awssdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FHGUQMKAWKISZGSANZWPGIFVMTGMTNYSDO3ZGBSWX5ZBN7M6L42A/vendor.awssdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/N5TNYDY4EJAERWBQHJFBQ6BTYFWWPT5VPTG46NDNKDSNR54MCD4A/vendor.awssdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ATWMQNLE5IHPKLQRNDY5DFLW3TX6JBXK5DDNYFXKL3EFR4XIHNCQ/vendor.awssdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z37M7PZFGVOA7UZVJUFOC57ZFPCABQRXWY4LNR4ROGOSUIT5W32A/vendor.awssdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JTH4ZE4PNEEQVLTX6FNZSO72GZ2Y3PRMOJTZHKOHTAZD7VIMQ7WA/vendor.awssdk.js"
        ]
    },
    "operations": {
        "AcceptEAFAgreement": {
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FOFUDAKDP24EITNPMEZGEPIAM5X2VUAQX53YCFYZ26WUZJVHGLKA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EFIIGOUKR2UCE7BUMDXWK2P5HZERCWXUDVLSJGF2LACXBYQHFMA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G6MDLX2QHHSI2RIC362VPJTB4O2IHPOLSGM6JT6UZRH4AH77SOAQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJE5JIZKXR42GGMTQC6VAQIGUNLUV3VNCZX7CVPNATXSWSFP7SWA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAOKGPEWPGRL4R3H6GN6PFNWDUGMPUHNTK6QVU4Z6APKMPQHOFIQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/54PHT5WXY6OSGHBXZDQACQRRA6TG6LBZPTL6GE36LN5BNURDOMYA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTD5BSYM5NSDHQA6I2ATQ5RYHS4LHFI6ANJCD2L2WJFAAB4M2NCQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AO6F2TGVFOPLOWDXPMO7GLBXZA5O2V4OTQFY2JNTG4CQZRB2FSFQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JGLF5AVATMKNYJ4PMHRUW4HHF3GZEW24XQH5HU2MVFC4D27A3LFA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DG3S3HT2MPSEXIW2KRR2BOS3XVKG6ZOFXIQBMCWM5PTEDV7VRTNA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GRVDQPYC3NCTKSCJCHC7B2CBAJVP5Z65CTMWGR2ZCJLIOSO3BF4Q/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3AEYCXV3S7M6B4FWTRXHOUE4L6LQD5MNL7UO7N4ONHJSEIVW6ZQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTGZBRJSOW4B2ZZ7UBPOX56S27KITF2WHZMLZCJN42D3PZ6JOAFQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PDRVODXI2KT735QDIKFWV47MMZYEEDS6IQHC2VA7ZEB4VBQD3BQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDNLT6CCIVZYV2VKHKU7AXCZ3P2GZ4IZB76CS2NBDIHNDJXPSTIA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHJZHPRDKAGIZTKJFXXIDEIR4WJGGMVE7OK3V3HSMSXMHELA7NQQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGSZF2WVXU3HJLSBANZ5BHA7QGOUSSIKKU4HKEAFURD2IS6BTXSQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQVNWQNX6JWK2MVJYFEUPIFFPA3QHO7QYUE52JUU3Q52YBXRJA6A/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJFFZGOWFIZFLL5LTNMCVA2V66SYTTIPJS4GSNEEMSQYRDULFODQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHGUQMKAWKISZGSANZWPGIFVMTGMTNYSDO3ZGBSWX5ZBN7M6L42A/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5TNYDY4EJAERWBQHJFBQ6BTYFWWPT5VPTG46NDNKDSNR54MCD4A/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ATWMQNLE5IHPKLQRNDY5DFLW3TX6JBXK5DDNYFXKL3EFR4XIHNCQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z37M7PZFGVOA7UZVJUFOC57ZFPCABQRXWY4LNR4ROGOSUIT5W32A/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTH4ZE4PNEEQVLTX6FNZSO72GZ2Y3PRMOJTZHKOHTAZD7VIMQ7WA/vendor.awssdk.js"
            ]
        },
        "CloseAccount": {
            "input": {
                "type": "structure",
                "required": [
                    "AccountId"
                ],
                "members": {
                    "AccountId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FOFUDAKDP24EITNPMEZGEPIAM5X2VUAQX53YCFYZ26WUZJVHGLKA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EFIIGOUKR2UCE7BUMDXWK2P5HZERCWXUDVLSJGF2LACXBYQHFMA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G6MDLX2QHHSI2RIC362VPJTB4O2IHPOLSGM6JT6UZRH4AH77SOAQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJE5JIZKXR42GGMTQC6VAQIGUNLUV3VNCZX7CVPNATXSWSFP7SWA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAOKGPEWPGRL4R3H6GN6PFNWDUGMPUHNTK6QVU4Z6APKMPQHOFIQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/54PHT5WXY6OSGHBXZDQACQRRA6TG6LBZPTL6GE36LN5BNURDOMYA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTD5BSYM5NSDHQA6I2ATQ5RYHS4LHFI6ANJCD2L2WJFAAB4M2NCQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AO6F2TGVFOPLOWDXPMO7GLBXZA5O2V4OTQFY2JNTG4CQZRB2FSFQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JGLF5AVATMKNYJ4PMHRUW4HHF3GZEW24XQH5HU2MVFC4D27A3LFA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DG3S3HT2MPSEXIW2KRR2BOS3XVKG6ZOFXIQBMCWM5PTEDV7VRTNA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GRVDQPYC3NCTKSCJCHC7B2CBAJVP5Z65CTMWGR2ZCJLIOSO3BF4Q/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3AEYCXV3S7M6B4FWTRXHOUE4L6LQD5MNL7UO7N4ONHJSEIVW6ZQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTGZBRJSOW4B2ZZ7UBPOX56S27KITF2WHZMLZCJN42D3PZ6JOAFQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PDRVODXI2KT735QDIKFWV47MMZYEEDS6IQHC2VA7ZEB4VBQD3BQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDNLT6CCIVZYV2VKHKU7AXCZ3P2GZ4IZB76CS2NBDIHNDJXPSTIA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHJZHPRDKAGIZTKJFXXIDEIR4WJGGMVE7OK3V3HSMSXMHELA7NQQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGSZF2WVXU3HJLSBANZ5BHA7QGOUSSIKKU4HKEAFURD2IS6BTXSQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQVNWQNX6JWK2MVJYFEUPIFFPA3QHO7QYUE52JUU3Q52YBXRJA6A/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJFFZGOWFIZFLL5LTNMCVA2V66SYTTIPJS4GSNEEMSQYRDULFODQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHGUQMKAWKISZGSANZWPGIFVMTGMTNYSDO3ZGBSWX5ZBN7M6L42A/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5TNYDY4EJAERWBQHJFBQ6BTYFWWPT5VPTG46NDNKDSNR54MCD4A/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ATWMQNLE5IHPKLQRNDY5DFLW3TX6JBXK5DDNYFXKL3EFR4XIHNCQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z37M7PZFGVOA7UZVJUFOC57ZFPCABQRXWY4LNR4ROGOSUIT5W32A/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTH4ZE4PNEEQVLTX6FNZSO72GZ2Y3PRMOJTZHKOHTAZD7VIMQ7WA/vendor.awssdk.js"
            ]
        },
        "ConfirmEmailAddressOwnership": {
            "input": {
                "type": "structure",
                "required": [
                    "VerificationCode"
                ],
                "members": {
                    "VerificationCode": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FOFUDAKDP24EITNPMEZGEPIAM5X2VUAQX53YCFYZ26WUZJVHGLKA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EFIIGOUKR2UCE7BUMDXWK2P5HZERCWXUDVLSJGF2LACXBYQHFMA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G6MDLX2QHHSI2RIC362VPJTB4O2IHPOLSGM6JT6UZRH4AH77SOAQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJE5JIZKXR42GGMTQC6VAQIGUNLUV3VNCZX7CVPNATXSWSFP7SWA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAOKGPEWPGRL4R3H6GN6PFNWDUGMPUHNTK6QVU4Z6APKMPQHOFIQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/54PHT5WXY6OSGHBXZDQACQRRA6TG6LBZPTL6GE36LN5BNURDOMYA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTD5BSYM5NSDHQA6I2ATQ5RYHS4LHFI6ANJCD2L2WJFAAB4M2NCQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AO6F2TGVFOPLOWDXPMO7GLBXZA5O2V4OTQFY2JNTG4CQZRB2FSFQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JGLF5AVATMKNYJ4PMHRUW4HHF3GZEW24XQH5HU2MVFC4D27A3LFA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DG3S3HT2MPSEXIW2KRR2BOS3XVKG6ZOFXIQBMCWM5PTEDV7VRTNA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GRVDQPYC3NCTKSCJCHC7B2CBAJVP5Z65CTMWGR2ZCJLIOSO3BF4Q/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3AEYCXV3S7M6B4FWTRXHOUE4L6LQD5MNL7UO7N4ONHJSEIVW6ZQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTGZBRJSOW4B2ZZ7UBPOX56S27KITF2WHZMLZCJN42D3PZ6JOAFQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PDRVODXI2KT735QDIKFWV47MMZYEEDS6IQHC2VA7ZEB4VBQD3BQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDNLT6CCIVZYV2VKHKU7AXCZ3P2GZ4IZB76CS2NBDIHNDJXPSTIA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHJZHPRDKAGIZTKJFXXIDEIR4WJGGMVE7OK3V3HSMSXMHELA7NQQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGSZF2WVXU3HJLSBANZ5BHA7QGOUSSIKKU4HKEAFURD2IS6BTXSQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQVNWQNX6JWK2MVJYFEUPIFFPA3QHO7QYUE52JUU3Q52YBXRJA6A/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJFFZGOWFIZFLL5LTNMCVA2V66SYTTIPJS4GSNEEMSQYRDULFODQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHGUQMKAWKISZGSANZWPGIFVMTGMTNYSDO3ZGBSWX5ZBN7M6L42A/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5TNYDY4EJAERWBQHJFBQ6BTYFWWPT5VPTG46NDNKDSNR54MCD4A/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ATWMQNLE5IHPKLQRNDY5DFLW3TX6JBXK5DDNYFXKL3EFR4XIHNCQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z37M7PZFGVOA7UZVJUFOC57ZFPCABQRXWY4LNR4ROGOSUIT5W32A/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTH4ZE4PNEEQVLTX6FNZSO72GZ2Y3PRMOJTZHKOHTAZD7VIMQ7WA/vendor.awssdk.js"
            ]
        },
        "GetControlledDomainAccountEmailOptions": {
            "input": {
                "type": "structure",
                "required": [
                    "DomainName"
                ],
                "members": {
                    "DomainName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DomainName": {},
                    "AccountEmailOptions": {
                        "type": "structure",
                        "members": {
                            "ContactEmail": {
                                "type": "string",
                                "sensitive": true
                            },
                            "LearnMoreLink": {}
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FOFUDAKDP24EITNPMEZGEPIAM5X2VUAQX53YCFYZ26WUZJVHGLKA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EFIIGOUKR2UCE7BUMDXWK2P5HZERCWXUDVLSJGF2LACXBYQHFMA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G6MDLX2QHHSI2RIC362VPJTB4O2IHPOLSGM6JT6UZRH4AH77SOAQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJE5JIZKXR42GGMTQC6VAQIGUNLUV3VNCZX7CVPNATXSWSFP7SWA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAOKGPEWPGRL4R3H6GN6PFNWDUGMPUHNTK6QVU4Z6APKMPQHOFIQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/54PHT5WXY6OSGHBXZDQACQRRA6TG6LBZPTL6GE36LN5BNURDOMYA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTD5BSYM5NSDHQA6I2ATQ5RYHS4LHFI6ANJCD2L2WJFAAB4M2NCQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AO6F2TGVFOPLOWDXPMO7GLBXZA5O2V4OTQFY2JNTG4CQZRB2FSFQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JGLF5AVATMKNYJ4PMHRUW4HHF3GZEW24XQH5HU2MVFC4D27A3LFA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DG3S3HT2MPSEXIW2KRR2BOS3XVKG6ZOFXIQBMCWM5PTEDV7VRTNA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GRVDQPYC3NCTKSCJCHC7B2CBAJVP5Z65CTMWGR2ZCJLIOSO3BF4Q/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3AEYCXV3S7M6B4FWTRXHOUE4L6LQD5MNL7UO7N4ONHJSEIVW6ZQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTGZBRJSOW4B2ZZ7UBPOX56S27KITF2WHZMLZCJN42D3PZ6JOAFQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PDRVODXI2KT735QDIKFWV47MMZYEEDS6IQHC2VA7ZEB4VBQD3BQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDNLT6CCIVZYV2VKHKU7AXCZ3P2GZ4IZB76CS2NBDIHNDJXPSTIA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHJZHPRDKAGIZTKJFXXIDEIR4WJGGMVE7OK3V3HSMSXMHELA7NQQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGSZF2WVXU3HJLSBANZ5BHA7QGOUSSIKKU4HKEAFURD2IS6BTXSQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQVNWQNX6JWK2MVJYFEUPIFFPA3QHO7QYUE52JUU3Q52YBXRJA6A/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJFFZGOWFIZFLL5LTNMCVA2V66SYTTIPJS4GSNEEMSQYRDULFODQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHGUQMKAWKISZGSANZWPGIFVMTGMTNYSDO3ZGBSWX5ZBN7M6L42A/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5TNYDY4EJAERWBQHJFBQ6BTYFWWPT5VPTG46NDNKDSNR54MCD4A/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ATWMQNLE5IHPKLQRNDY5DFLW3TX6JBXK5DDNYFXKL3EFR4XIHNCQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z37M7PZFGVOA7UZVJUFOC57ZFPCABQRXWY4LNR4ROGOSUIT5W32A/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTH4ZE4PNEEQVLTX6FNZSO72GZ2Y3PRMOJTZHKOHTAZD7VIMQ7WA/vendor.awssdk.js"
            ]
        },
        "GetEAFAgreementAcceptance": {
            "output": {
                "type": "structure",
                "members": {
                    "AgreementAccepted": {
                        "type": "boolean"
                    },
                    "AcceptanceDate": {
                        "type": "timestamp"
                    },
                    "AcceptingUser": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FOFUDAKDP24EITNPMEZGEPIAM5X2VUAQX53YCFYZ26WUZJVHGLKA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EFIIGOUKR2UCE7BUMDXWK2P5HZERCWXUDVLSJGF2LACXBYQHFMA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G6MDLX2QHHSI2RIC362VPJTB4O2IHPOLSGM6JT6UZRH4AH77SOAQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJE5JIZKXR42GGMTQC6VAQIGUNLUV3VNCZX7CVPNATXSWSFP7SWA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAOKGPEWPGRL4R3H6GN6PFNWDUGMPUHNTK6QVU4Z6APKMPQHOFIQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/54PHT5WXY6OSGHBXZDQACQRRA6TG6LBZPTL6GE36LN5BNURDOMYA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTD5BSYM5NSDHQA6I2ATQ5RYHS4LHFI6ANJCD2L2WJFAAB4M2NCQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AO6F2TGVFOPLOWDXPMO7GLBXZA5O2V4OTQFY2JNTG4CQZRB2FSFQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JGLF5AVATMKNYJ4PMHRUW4HHF3GZEW24XQH5HU2MVFC4D27A3LFA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DG3S3HT2MPSEXIW2KRR2BOS3XVKG6ZOFXIQBMCWM5PTEDV7VRTNA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GRVDQPYC3NCTKSCJCHC7B2CBAJVP5Z65CTMWGR2ZCJLIOSO3BF4Q/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3AEYCXV3S7M6B4FWTRXHOUE4L6LQD5MNL7UO7N4ONHJSEIVW6ZQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTGZBRJSOW4B2ZZ7UBPOX56S27KITF2WHZMLZCJN42D3PZ6JOAFQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PDRVODXI2KT735QDIKFWV47MMZYEEDS6IQHC2VA7ZEB4VBQD3BQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDNLT6CCIVZYV2VKHKU7AXCZ3P2GZ4IZB76CS2NBDIHNDJXPSTIA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHJZHPRDKAGIZTKJFXXIDEIR4WJGGMVE7OK3V3HSMSXMHELA7NQQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGSZF2WVXU3HJLSBANZ5BHA7QGOUSSIKKU4HKEAFURD2IS6BTXSQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQVNWQNX6JWK2MVJYFEUPIFFPA3QHO7QYUE52JUU3Q52YBXRJA6A/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJFFZGOWFIZFLL5LTNMCVA2V66SYTTIPJS4GSNEEMSQYRDULFODQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHGUQMKAWKISZGSANZWPGIFVMTGMTNYSDO3ZGBSWX5ZBN7M6L42A/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5TNYDY4EJAERWBQHJFBQ6BTYFWWPT5VPTG46NDNKDSNR54MCD4A/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ATWMQNLE5IHPKLQRNDY5DFLW3TX6JBXK5DDNYFXKL3EFR4XIHNCQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z37M7PZFGVOA7UZVJUFOC57ZFPCABQRXWY4LNR4ROGOSUIT5W32A/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTH4ZE4PNEEQVLTX6FNZSO72GZ2Y3PRMOJTZHKOHTAZD7VIMQ7WA/vendor.awssdk.js"
            ]
        },
        "GetEAFAgreementDocument": {
            "input": {
                "type": "structure",
                "required": [
                    "Locale"
                ],
                "members": {
                    "Locale": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "EAFAgreementDocument": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FOFUDAKDP24EITNPMEZGEPIAM5X2VUAQX53YCFYZ26WUZJVHGLKA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EFIIGOUKR2UCE7BUMDXWK2P5HZERCWXUDVLSJGF2LACXBYQHFMA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G6MDLX2QHHSI2RIC362VPJTB4O2IHPOLSGM6JT6UZRH4AH77SOAQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJE5JIZKXR42GGMTQC6VAQIGUNLUV3VNCZX7CVPNATXSWSFP7SWA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAOKGPEWPGRL4R3H6GN6PFNWDUGMPUHNTK6QVU4Z6APKMPQHOFIQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/54PHT5WXY6OSGHBXZDQACQRRA6TG6LBZPTL6GE36LN5BNURDOMYA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTD5BSYM5NSDHQA6I2ATQ5RYHS4LHFI6ANJCD2L2WJFAAB4M2NCQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AO6F2TGVFOPLOWDXPMO7GLBXZA5O2V4OTQFY2JNTG4CQZRB2FSFQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JGLF5AVATMKNYJ4PMHRUW4HHF3GZEW24XQH5HU2MVFC4D27A3LFA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DG3S3HT2MPSEXIW2KRR2BOS3XVKG6ZOFXIQBMCWM5PTEDV7VRTNA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GRVDQPYC3NCTKSCJCHC7B2CBAJVP5Z65CTMWGR2ZCJLIOSO3BF4Q/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3AEYCXV3S7M6B4FWTRXHOUE4L6LQD5MNL7UO7N4ONHJSEIVW6ZQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTGZBRJSOW4B2ZZ7UBPOX56S27KITF2WHZMLZCJN42D3PZ6JOAFQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PDRVODXI2KT735QDIKFWV47MMZYEEDS6IQHC2VA7ZEB4VBQD3BQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDNLT6CCIVZYV2VKHKU7AXCZ3P2GZ4IZB76CS2NBDIHNDJXPSTIA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHJZHPRDKAGIZTKJFXXIDEIR4WJGGMVE7OK3V3HSMSXMHELA7NQQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGSZF2WVXU3HJLSBANZ5BHA7QGOUSSIKKU4HKEAFURD2IS6BTXSQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQVNWQNX6JWK2MVJYFEUPIFFPA3QHO7QYUE52JUU3Q52YBXRJA6A/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJFFZGOWFIZFLL5LTNMCVA2V66SYTTIPJS4GSNEEMSQYRDULFODQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHGUQMKAWKISZGSANZWPGIFVMTGMTNYSDO3ZGBSWX5ZBN7M6L42A/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5TNYDY4EJAERWBQHJFBQ6BTYFWWPT5VPTG46NDNKDSNR54MCD4A/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ATWMQNLE5IHPKLQRNDY5DFLW3TX6JBXK5DDNYFXKL3EFR4XIHNCQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z37M7PZFGVOA7UZVJUFOC57ZFPCABQRXWY4LNR4ROGOSUIT5W32A/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTH4ZE4PNEEQVLTX6FNZSO72GZ2Y3PRMOJTZHKOHTAZD7VIMQ7WA/vendor.awssdk.js"
            ]
        },
        "GetEmailAddressVerificationStatus": {
            "output": {
                "type": "structure",
                "members": {
                    "VerificationStatus": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FOFUDAKDP24EITNPMEZGEPIAM5X2VUAQX53YCFYZ26WUZJVHGLKA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EFIIGOUKR2UCE7BUMDXWK2P5HZERCWXUDVLSJGF2LACXBYQHFMA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G6MDLX2QHHSI2RIC362VPJTB4O2IHPOLSGM6JT6UZRH4AH77SOAQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJE5JIZKXR42GGMTQC6VAQIGUNLUV3VNCZX7CVPNATXSWSFP7SWA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAOKGPEWPGRL4R3H6GN6PFNWDUGMPUHNTK6QVU4Z6APKMPQHOFIQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/54PHT5WXY6OSGHBXZDQACQRRA6TG6LBZPTL6GE36LN5BNURDOMYA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTD5BSYM5NSDHQA6I2ATQ5RYHS4LHFI6ANJCD2L2WJFAAB4M2NCQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AO6F2TGVFOPLOWDXPMO7GLBXZA5O2V4OTQFY2JNTG4CQZRB2FSFQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JGLF5AVATMKNYJ4PMHRUW4HHF3GZEW24XQH5HU2MVFC4D27A3LFA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DG3S3HT2MPSEXIW2KRR2BOS3XVKG6ZOFXIQBMCWM5PTEDV7VRTNA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GRVDQPYC3NCTKSCJCHC7B2CBAJVP5Z65CTMWGR2ZCJLIOSO3BF4Q/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3AEYCXV3S7M6B4FWTRXHOUE4L6LQD5MNL7UO7N4ONHJSEIVW6ZQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTGZBRJSOW4B2ZZ7UBPOX56S27KITF2WHZMLZCJN42D3PZ6JOAFQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PDRVODXI2KT735QDIKFWV47MMZYEEDS6IQHC2VA7ZEB4VBQD3BQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDNLT6CCIVZYV2VKHKU7AXCZ3P2GZ4IZB76CS2NBDIHNDJXPSTIA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHJZHPRDKAGIZTKJFXXIDEIR4WJGGMVE7OK3V3HSMSXMHELA7NQQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGSZF2WVXU3HJLSBANZ5BHA7QGOUSSIKKU4HKEAFURD2IS6BTXSQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQVNWQNX6JWK2MVJYFEUPIFFPA3QHO7QYUE52JUU3Q52YBXRJA6A/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJFFZGOWFIZFLL5LTNMCVA2V66SYTTIPJS4GSNEEMSQYRDULFODQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHGUQMKAWKISZGSANZWPGIFVMTGMTNYSDO3ZGBSWX5ZBN7M6L42A/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5TNYDY4EJAERWBQHJFBQ6BTYFWWPT5VPTG46NDNKDSNR54MCD4A/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ATWMQNLE5IHPKLQRNDY5DFLW3TX6JBXK5DDNYFXKL3EFR4XIHNCQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z37M7PZFGVOA7UZVJUFOC57ZFPCABQRXWY4LNR4ROGOSUIT5W32A/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTH4ZE4PNEEQVLTX6FNZSO72GZ2Y3PRMOJTZHKOHTAZD7VIMQ7WA/vendor.awssdk.js"
            ]
        },
        "InitiateEmailAddressVerification": {
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FOFUDAKDP24EITNPMEZGEPIAM5X2VUAQX53YCFYZ26WUZJVHGLKA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EFIIGOUKR2UCE7BUMDXWK2P5HZERCWXUDVLSJGF2LACXBYQHFMA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G6MDLX2QHHSI2RIC362VPJTB4O2IHPOLSGM6JT6UZRH4AH77SOAQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJE5JIZKXR42GGMTQC6VAQIGUNLUV3VNCZX7CVPNATXSWSFP7SWA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAOKGPEWPGRL4R3H6GN6PFNWDUGMPUHNTK6QVU4Z6APKMPQHOFIQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/54PHT5WXY6OSGHBXZDQACQRRA6TG6LBZPTL6GE36LN5BNURDOMYA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTD5BSYM5NSDHQA6I2ATQ5RYHS4LHFI6ANJCD2L2WJFAAB4M2NCQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AO6F2TGVFOPLOWDXPMO7GLBXZA5O2V4OTQFY2JNTG4CQZRB2FSFQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JGLF5AVATMKNYJ4PMHRUW4HHF3GZEW24XQH5HU2MVFC4D27A3LFA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DG3S3HT2MPSEXIW2KRR2BOS3XVKG6ZOFXIQBMCWM5PTEDV7VRTNA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GRVDQPYC3NCTKSCJCHC7B2CBAJVP5Z65CTMWGR2ZCJLIOSO3BF4Q/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3AEYCXV3S7M6B4FWTRXHOUE4L6LQD5MNL7UO7N4ONHJSEIVW6ZQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTGZBRJSOW4B2ZZ7UBPOX56S27KITF2WHZMLZCJN42D3PZ6JOAFQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PDRVODXI2KT735QDIKFWV47MMZYEEDS6IQHC2VA7ZEB4VBQD3BQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDNLT6CCIVZYV2VKHKU7AXCZ3P2GZ4IZB76CS2NBDIHNDJXPSTIA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHJZHPRDKAGIZTKJFXXIDEIR4WJGGMVE7OK3V3HSMSXMHELA7NQQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGSZF2WVXU3HJLSBANZ5BHA7QGOUSSIKKU4HKEAFURD2IS6BTXSQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQVNWQNX6JWK2MVJYFEUPIFFPA3QHO7QYUE52JUU3Q52YBXRJA6A/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJFFZGOWFIZFLL5LTNMCVA2V66SYTTIPJS4GSNEEMSQYRDULFODQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHGUQMKAWKISZGSANZWPGIFVMTGMTNYSDO3ZGBSWX5ZBN7M6L42A/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5TNYDY4EJAERWBQHJFBQ6BTYFWWPT5VPTG46NDNKDSNR54MCD4A/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ATWMQNLE5IHPKLQRNDY5DFLW3TX6JBXK5DDNYFXKL3EFR4XIHNCQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z37M7PZFGVOA7UZVJUFOC57ZFPCABQRXWY4LNR4ROGOSUIT5W32A/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTH4ZE4PNEEQVLTX6FNZSO72GZ2Y3PRMOJTZHKOHTAZD7VIMQ7WA/vendor.awssdk.js"
            ]
        },
        "IsFeatureEnabled": {
            "input": {
                "type": "structure",
                "required": [
                    "Feature"
                ],
                "members": {
                    "Feature": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Enabled"
                ],
                "members": {
                    "Enabled": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FOFUDAKDP24EITNPMEZGEPIAM5X2VUAQX53YCFYZ26WUZJVHGLKA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EFIIGOUKR2UCE7BUMDXWK2P5HZERCWXUDVLSJGF2LACXBYQHFMA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G6MDLX2QHHSI2RIC362VPJTB4O2IHPOLSGM6JT6UZRH4AH77SOAQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJE5JIZKXR42GGMTQC6VAQIGUNLUV3VNCZX7CVPNATXSWSFP7SWA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAOKGPEWPGRL4R3H6GN6PFNWDUGMPUHNTK6QVU4Z6APKMPQHOFIQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/54PHT5WXY6OSGHBXZDQACQRRA6TG6LBZPTL6GE36LN5BNURDOMYA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTD5BSYM5NSDHQA6I2ATQ5RYHS4LHFI6ANJCD2L2WJFAAB4M2NCQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AO6F2TGVFOPLOWDXPMO7GLBXZA5O2V4OTQFY2JNTG4CQZRB2FSFQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JGLF5AVATMKNYJ4PMHRUW4HHF3GZEW24XQH5HU2MVFC4D27A3LFA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DG3S3HT2MPSEXIW2KRR2BOS3XVKG6ZOFXIQBMCWM5PTEDV7VRTNA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GRVDQPYC3NCTKSCJCHC7B2CBAJVP5Z65CTMWGR2ZCJLIOSO3BF4Q/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3AEYCXV3S7M6B4FWTRXHOUE4L6LQD5MNL7UO7N4ONHJSEIVW6ZQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTGZBRJSOW4B2ZZ7UBPOX56S27KITF2WHZMLZCJN42D3PZ6JOAFQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PDRVODXI2KT735QDIKFWV47MMZYEEDS6IQHC2VA7ZEB4VBQD3BQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDNLT6CCIVZYV2VKHKU7AXCZ3P2GZ4IZB76CS2NBDIHNDJXPSTIA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHJZHPRDKAGIZTKJFXXIDEIR4WJGGMVE7OK3V3HSMSXMHELA7NQQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGSZF2WVXU3HJLSBANZ5BHA7QGOUSSIKKU4HKEAFURD2IS6BTXSQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQVNWQNX6JWK2MVJYFEUPIFFPA3QHO7QYUE52JUU3Q52YBXRJA6A/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJFFZGOWFIZFLL5LTNMCVA2V66SYTTIPJS4GSNEEMSQYRDULFODQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHGUQMKAWKISZGSANZWPGIFVMTGMTNYSDO3ZGBSWX5ZBN7M6L42A/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5TNYDY4EJAERWBQHJFBQ6BTYFWWPT5VPTG46NDNKDSNR54MCD4A/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ATWMQNLE5IHPKLQRNDY5DFLW3TX6JBXK5DDNYFXKL3EFR4XIHNCQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z37M7PZFGVOA7UZVJUFOC57ZFPCABQRXWY4LNR4ROGOSUIT5W32A/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTH4ZE4PNEEQVLTX6FNZSO72GZ2Y3PRMOJTZHKOHTAZD7VIMQ7WA/vendor.awssdk.js"
            ]
        },
        "ListEnabledActions": {
            "output": {
                "type": "structure",
                "members": {
                    "EnabledActions": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FOFUDAKDP24EITNPMEZGEPIAM5X2VUAQX53YCFYZ26WUZJVHGLKA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EFIIGOUKR2UCE7BUMDXWK2P5HZERCWXUDVLSJGF2LACXBYQHFMA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G6MDLX2QHHSI2RIC362VPJTB4O2IHPOLSGM6JT6UZRH4AH77SOAQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJE5JIZKXR42GGMTQC6VAQIGUNLUV3VNCZX7CVPNATXSWSFP7SWA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAOKGPEWPGRL4R3H6GN6PFNWDUGMPUHNTK6QVU4Z6APKMPQHOFIQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/54PHT5WXY6OSGHBXZDQACQRRA6TG6LBZPTL6GE36LN5BNURDOMYA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTD5BSYM5NSDHQA6I2ATQ5RYHS4LHFI6ANJCD2L2WJFAAB4M2NCQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AO6F2TGVFOPLOWDXPMO7GLBXZA5O2V4OTQFY2JNTG4CQZRB2FSFQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JGLF5AVATMKNYJ4PMHRUW4HHF3GZEW24XQH5HU2MVFC4D27A3LFA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DG3S3HT2MPSEXIW2KRR2BOS3XVKG6ZOFXIQBMCWM5PTEDV7VRTNA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GRVDQPYC3NCTKSCJCHC7B2CBAJVP5Z65CTMWGR2ZCJLIOSO3BF4Q/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3AEYCXV3S7M6B4FWTRXHOUE4L6LQD5MNL7UO7N4ONHJSEIVW6ZQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTGZBRJSOW4B2ZZ7UBPOX56S27KITF2WHZMLZCJN42D3PZ6JOAFQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PDRVODXI2KT735QDIKFWV47MMZYEEDS6IQHC2VA7ZEB4VBQD3BQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDNLT6CCIVZYV2VKHKU7AXCZ3P2GZ4IZB76CS2NBDIHNDJXPSTIA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHJZHPRDKAGIZTKJFXXIDEIR4WJGGMVE7OK3V3HSMSXMHELA7NQQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGSZF2WVXU3HJLSBANZ5BHA7QGOUSSIKKU4HKEAFURD2IS6BTXSQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQVNWQNX6JWK2MVJYFEUPIFFPA3QHO7QYUE52JUU3Q52YBXRJA6A/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJFFZGOWFIZFLL5LTNMCVA2V66SYTTIPJS4GSNEEMSQYRDULFODQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHGUQMKAWKISZGSANZWPGIFVMTGMTNYSDO3ZGBSWX5ZBN7M6L42A/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5TNYDY4EJAERWBQHJFBQ6BTYFWWPT5VPTG46NDNKDSNR54MCD4A/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ATWMQNLE5IHPKLQRNDY5DFLW3TX6JBXK5DDNYFXKL3EFR4XIHNCQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z37M7PZFGVOA7UZVJUFOC57ZFPCABQRXWY4LNR4ROGOSUIT5W32A/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTH4ZE4PNEEQVLTX6FNZSO72GZ2Y3PRMOJTZHKOHTAZD7VIMQ7WA/vendor.awssdk.js"
            ]
        },
        "ListSDFServiceActions": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceName"
                ],
                "members": {
                    "ServiceName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "SDFServiceActions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ActionName": {},
                                "Name": {},
                                "ApiDocRelative": {},
                                "ActionGroups": {
                                    "shape": "Sw"
                                },
                                "ContextKeysRef": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "DocPageRelative": {},
                                            "DocPage": {},
                                            "Description": {},
                                            "Type": {},
                                            "Name": {}
                                        }
                                    }
                                },
                                "Description": {},
                                "DocPage": {},
                                "DocPageRelative": {},
                                "OptionalResources": {
                                    "shape": "Sw"
                                },
                                "RequiredResources": {
                                    "shape": "Sw"
                                },
                                "RequiredActions": {
                                    "shape": "Sw"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FOFUDAKDP24EITNPMEZGEPIAM5X2VUAQX53YCFYZ26WUZJVHGLKA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EFIIGOUKR2UCE7BUMDXWK2P5HZERCWXUDVLSJGF2LACXBYQHFMA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G6MDLX2QHHSI2RIC362VPJTB4O2IHPOLSGM6JT6UZRH4AH77SOAQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJE5JIZKXR42GGMTQC6VAQIGUNLUV3VNCZX7CVPNATXSWSFP7SWA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAOKGPEWPGRL4R3H6GN6PFNWDUGMPUHNTK6QVU4Z6APKMPQHOFIQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/54PHT5WXY6OSGHBXZDQACQRRA6TG6LBZPTL6GE36LN5BNURDOMYA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTD5BSYM5NSDHQA6I2ATQ5RYHS4LHFI6ANJCD2L2WJFAAB4M2NCQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AO6F2TGVFOPLOWDXPMO7GLBXZA5O2V4OTQFY2JNTG4CQZRB2FSFQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JGLF5AVATMKNYJ4PMHRUW4HHF3GZEW24XQH5HU2MVFC4D27A3LFA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DG3S3HT2MPSEXIW2KRR2BOS3XVKG6ZOFXIQBMCWM5PTEDV7VRTNA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GRVDQPYC3NCTKSCJCHC7B2CBAJVP5Z65CTMWGR2ZCJLIOSO3BF4Q/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3AEYCXV3S7M6B4FWTRXHOUE4L6LQD5MNL7UO7N4ONHJSEIVW6ZQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTGZBRJSOW4B2ZZ7UBPOX56S27KITF2WHZMLZCJN42D3PZ6JOAFQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PDRVODXI2KT735QDIKFWV47MMZYEEDS6IQHC2VA7ZEB4VBQD3BQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDNLT6CCIVZYV2VKHKU7AXCZ3P2GZ4IZB76CS2NBDIHNDJXPSTIA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHJZHPRDKAGIZTKJFXXIDEIR4WJGGMVE7OK3V3HSMSXMHELA7NQQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGSZF2WVXU3HJLSBANZ5BHA7QGOUSSIKKU4HKEAFURD2IS6BTXSQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQVNWQNX6JWK2MVJYFEUPIFFPA3QHO7QYUE52JUU3Q52YBXRJA6A/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJFFZGOWFIZFLL5LTNMCVA2V66SYTTIPJS4GSNEEMSQYRDULFODQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHGUQMKAWKISZGSANZWPGIFVMTGMTNYSDO3ZGBSWX5ZBN7M6L42A/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5TNYDY4EJAERWBQHJFBQ6BTYFWWPT5VPTG46NDNKDSNR54MCD4A/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ATWMQNLE5IHPKLQRNDY5DFLW3TX6JBXK5DDNYFXKL3EFR4XIHNCQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z37M7PZFGVOA7UZVJUFOC57ZFPCABQRXWY4LNR4ROGOSUIT5W32A/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTH4ZE4PNEEQVLTX6FNZSO72GZ2Y3PRMOJTZHKOHTAZD7VIMQ7WA/vendor.awssdk.js"
            ]
        },
        "ListSDFServiceContextKeys": {
            "output": {
                "type": "structure",
                "members": {
                    "SDFServiceContextKeys": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ServiceDisplayName": {},
                                "DocPageRelative": {},
                                "DocPage": {},
                                "Description": {},
                                "Type": {},
                                "Name": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FOFUDAKDP24EITNPMEZGEPIAM5X2VUAQX53YCFYZ26WUZJVHGLKA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EFIIGOUKR2UCE7BUMDXWK2P5HZERCWXUDVLSJGF2LACXBYQHFMA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G6MDLX2QHHSI2RIC362VPJTB4O2IHPOLSGM6JT6UZRH4AH77SOAQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJE5JIZKXR42GGMTQC6VAQIGUNLUV3VNCZX7CVPNATXSWSFP7SWA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAOKGPEWPGRL4R3H6GN6PFNWDUGMPUHNTK6QVU4Z6APKMPQHOFIQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/54PHT5WXY6OSGHBXZDQACQRRA6TG6LBZPTL6GE36LN5BNURDOMYA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTD5BSYM5NSDHQA6I2ATQ5RYHS4LHFI6ANJCD2L2WJFAAB4M2NCQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AO6F2TGVFOPLOWDXPMO7GLBXZA5O2V4OTQFY2JNTG4CQZRB2FSFQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JGLF5AVATMKNYJ4PMHRUW4HHF3GZEW24XQH5HU2MVFC4D27A3LFA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DG3S3HT2MPSEXIW2KRR2BOS3XVKG6ZOFXIQBMCWM5PTEDV7VRTNA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GRVDQPYC3NCTKSCJCHC7B2CBAJVP5Z65CTMWGR2ZCJLIOSO3BF4Q/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3AEYCXV3S7M6B4FWTRXHOUE4L6LQD5MNL7UO7N4ONHJSEIVW6ZQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTGZBRJSOW4B2ZZ7UBPOX56S27KITF2WHZMLZCJN42D3PZ6JOAFQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PDRVODXI2KT735QDIKFWV47MMZYEEDS6IQHC2VA7ZEB4VBQD3BQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDNLT6CCIVZYV2VKHKU7AXCZ3P2GZ4IZB76CS2NBDIHNDJXPSTIA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHJZHPRDKAGIZTKJFXXIDEIR4WJGGMVE7OK3V3HSMSXMHELA7NQQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGSZF2WVXU3HJLSBANZ5BHA7QGOUSSIKKU4HKEAFURD2IS6BTXSQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQVNWQNX6JWK2MVJYFEUPIFFPA3QHO7QYUE52JUU3Q52YBXRJA6A/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJFFZGOWFIZFLL5LTNMCVA2V66SYTTIPJS4GSNEEMSQYRDULFODQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHGUQMKAWKISZGSANZWPGIFVMTGMTNYSDO3ZGBSWX5ZBN7M6L42A/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5TNYDY4EJAERWBQHJFBQ6BTYFWWPT5VPTG46NDNKDSNR54MCD4A/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ATWMQNLE5IHPKLQRNDY5DFLW3TX6JBXK5DDNYFXKL3EFR4XIHNCQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z37M7PZFGVOA7UZVJUFOC57ZFPCABQRXWY4LNR4ROGOSUIT5W32A/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTH4ZE4PNEEQVLTX6FNZSO72GZ2Y3PRMOJTZHKOHTAZD7VIMQ7WA/vendor.awssdk.js"
            ]
        },
        "ListSDFServiceResources": {
            "output": {
                "type": "structure",
                "members": {
                    "SDFServiceResources": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Arn": {},
                                "Description": {},
                                "DocPage": {},
                                "DocPageRelative": {},
                                "ResourceName": {},
                                "ServiceDisplayName": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FOFUDAKDP24EITNPMEZGEPIAM5X2VUAQX53YCFYZ26WUZJVHGLKA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EFIIGOUKR2UCE7BUMDXWK2P5HZERCWXUDVLSJGF2LACXBYQHFMA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G6MDLX2QHHSI2RIC362VPJTB4O2IHPOLSGM6JT6UZRH4AH77SOAQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJE5JIZKXR42GGMTQC6VAQIGUNLUV3VNCZX7CVPNATXSWSFP7SWA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAOKGPEWPGRL4R3H6GN6PFNWDUGMPUHNTK6QVU4Z6APKMPQHOFIQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/54PHT5WXY6OSGHBXZDQACQRRA6TG6LBZPTL6GE36LN5BNURDOMYA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTD5BSYM5NSDHQA6I2ATQ5RYHS4LHFI6ANJCD2L2WJFAAB4M2NCQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AO6F2TGVFOPLOWDXPMO7GLBXZA5O2V4OTQFY2JNTG4CQZRB2FSFQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JGLF5AVATMKNYJ4PMHRUW4HHF3GZEW24XQH5HU2MVFC4D27A3LFA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DG3S3HT2MPSEXIW2KRR2BOS3XVKG6ZOFXIQBMCWM5PTEDV7VRTNA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GRVDQPYC3NCTKSCJCHC7B2CBAJVP5Z65CTMWGR2ZCJLIOSO3BF4Q/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3AEYCXV3S7M6B4FWTRXHOUE4L6LQD5MNL7UO7N4ONHJSEIVW6ZQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTGZBRJSOW4B2ZZ7UBPOX56S27KITF2WHZMLZCJN42D3PZ6JOAFQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PDRVODXI2KT735QDIKFWV47MMZYEEDS6IQHC2VA7ZEB4VBQD3BQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDNLT6CCIVZYV2VKHKU7AXCZ3P2GZ4IZB76CS2NBDIHNDJXPSTIA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHJZHPRDKAGIZTKJFXXIDEIR4WJGGMVE7OK3V3HSMSXMHELA7NQQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGSZF2WVXU3HJLSBANZ5BHA7QGOUSSIKKU4HKEAFURD2IS6BTXSQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQVNWQNX6JWK2MVJYFEUPIFFPA3QHO7QYUE52JUU3Q52YBXRJA6A/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJFFZGOWFIZFLL5LTNMCVA2V66SYTTIPJS4GSNEEMSQYRDULFODQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHGUQMKAWKISZGSANZWPGIFVMTGMTNYSDO3ZGBSWX5ZBN7M6L42A/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5TNYDY4EJAERWBQHJFBQ6BTYFWWPT5VPTG46NDNKDSNR54MCD4A/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ATWMQNLE5IHPKLQRNDY5DFLW3TX6JBXK5DDNYFXKL3EFR4XIHNCQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z37M7PZFGVOA7UZVJUFOC57ZFPCABQRXWY4LNR4ROGOSUIT5W32A/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTH4ZE4PNEEQVLTX6FNZSO72GZ2Y3PRMOJTZHKOHTAZD7VIMQ7WA/vendor.awssdk.js"
            ]
        },
        "ListSDFServices": {
            "output": {
                "type": "structure",
                "members": {
                    "SDFServices": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ServiceName": {},
                                "ServiceDisplayName": {},
                                "ServiceKeyName": {},
                                "ActionsDocRoot": {},
                                "ApiDetailRoot": {},
                                "ApiDocRoot": {},
                                "ApiReferenceDocPage": {},
                                "ArnFormat": {},
                                "ArnRegex": {},
                                "AuthZDocPage": {},
                                "ConceptsDocRoot": {},
                                "ContextKeysDocRoot": {},
                                "Description": {},
                                "ResourcesDocRoot": {},
                                "DisplayName": {},
                                "Name": {},
                                "UserGuideDocPage": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FOFUDAKDP24EITNPMEZGEPIAM5X2VUAQX53YCFYZ26WUZJVHGLKA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EFIIGOUKR2UCE7BUMDXWK2P5HZERCWXUDVLSJGF2LACXBYQHFMA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G6MDLX2QHHSI2RIC362VPJTB4O2IHPOLSGM6JT6UZRH4AH77SOAQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJE5JIZKXR42GGMTQC6VAQIGUNLUV3VNCZX7CVPNATXSWSFP7SWA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAOKGPEWPGRL4R3H6GN6PFNWDUGMPUHNTK6QVU4Z6APKMPQHOFIQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/54PHT5WXY6OSGHBXZDQACQRRA6TG6LBZPTL6GE36LN5BNURDOMYA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTD5BSYM5NSDHQA6I2ATQ5RYHS4LHFI6ANJCD2L2WJFAAB4M2NCQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AO6F2TGVFOPLOWDXPMO7GLBXZA5O2V4OTQFY2JNTG4CQZRB2FSFQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JGLF5AVATMKNYJ4PMHRUW4HHF3GZEW24XQH5HU2MVFC4D27A3LFA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DG3S3HT2MPSEXIW2KRR2BOS3XVKG6ZOFXIQBMCWM5PTEDV7VRTNA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GRVDQPYC3NCTKSCJCHC7B2CBAJVP5Z65CTMWGR2ZCJLIOSO3BF4Q/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3AEYCXV3S7M6B4FWTRXHOUE4L6LQD5MNL7UO7N4ONHJSEIVW6ZQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTGZBRJSOW4B2ZZ7UBPOX56S27KITF2WHZMLZCJN42D3PZ6JOAFQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PDRVODXI2KT735QDIKFWV47MMZYEEDS6IQHC2VA7ZEB4VBQD3BQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDNLT6CCIVZYV2VKHKU7AXCZ3P2GZ4IZB76CS2NBDIHNDJXPSTIA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHJZHPRDKAGIZTKJFXXIDEIR4WJGGMVE7OK3V3HSMSXMHELA7NQQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGSZF2WVXU3HJLSBANZ5BHA7QGOUSSIKKU4HKEAFURD2IS6BTXSQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQVNWQNX6JWK2MVJYFEUPIFFPA3QHO7QYUE52JUU3Q52YBXRJA6A/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJFFZGOWFIZFLL5LTNMCVA2V66SYTTIPJS4GSNEEMSQYRDULFODQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHGUQMKAWKISZGSANZWPGIFVMTGMTNYSDO3ZGBSWX5ZBN7M6L42A/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5TNYDY4EJAERWBQHJFBQ6BTYFWWPT5VPTG46NDNKDSNR54MCD4A/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ATWMQNLE5IHPKLQRNDY5DFLW3TX6JBXK5DDNYFXKL3EFR4XIHNCQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z37M7PZFGVOA7UZVJUFOC57ZFPCABQRXWY4LNR4ROGOSUIT5W32A/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTH4ZE4PNEEQVLTX6FNZSO72GZ2Y3PRMOJTZHKOHTAZD7VIMQ7WA/vendor.awssdk.js"
            ]
        }
    },
    "shapes": {
        "Sw": {
            "type": "list",
            "member": {}
        }
    }
}