{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2020-05-07",
        "endpointPrefix": "organizationsinternal",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceFullName": "AWS Organizations Internal",
        "signatureVersion": "v4",
        "signingName": "organizations",
        "targetPrefix": "AWSOrganizationsInternal",
        "uid": "organizationsinternal-2020-05-07",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/DNOYGE6BDSYZNBNYGMTTLVEPEK4RMP3QO3EPMV3KV3RNQPCEEPBQ/vendor.awssdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RTCFR6MIQKVHAJIMLRCKZ2V6CJKORKCPWEV7CHJ2KUJAHOJYCC5A/vendor.awssdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FB7N74ECBFMB62PM6OFBGZ6NAYFRFSE2CDFQXTEE2HDTBOAPHEBQ/vendor.awssdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ECYUEMZMSN4S5VL2YJALPQL6Q5YXII3I6DN4ACE3PQTADYRKRHMA/vendor.awssdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OSUHPTZELU4INSZC44STKHDLUCYKAD46ET4HOKFUTNCC6ZDSFAWA/vendor.awssdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/G3N3GOLOAEULGF6GRTFV7NYDJFPKFFU7M47MRKBUQIXO362CTDAQ/vendor.awssdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3QOHSTDUMCDMSL4OOQGRLJMY7ORTBWWN32PG6VM5UITS6SIFQBNQ/vendor.awssdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2TW5B2YFY7PICWIUVAOG7BAGI36NUAOYXDDB2MRUBWGIB2SNLHSA/vendor.awssdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HPVODGPCHQHHJIF73UDQD6XKSGE264BAEG53VJIZNCTFDARPHQDA/vendor.awssdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VZ7U6ZIQUGIOL5AO5RRKRHHN3ZYKWS5VPLJ243TKYAGRPKV246XQ/vendor.awssdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HTBNYM376XHNL6SLBCZVDYVKWABJ4LMBOV4XPPI3RIGYABJOQKIA/vendor.awssdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/F324KNJPSUOUJDEUK7E2DOASMW72QCC7AMGEAX6QKJSAILAWSLTQ/vendor.awssdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ETSVJZK2WGNXASXG3GXM7QW4X354ETHSLGBZOYGMJZ5HFIHZQ73A/vendor.awssdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GG6IDAMC23LJAJ5YCG37LNRQMTAX4N6EWGOTBYCH3UYL7A4YI3RQ/vendor.awssdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KCSENZF63JHX7YL5SPHESBEFYEEEUUFDVW7GSDZZIG4BTZM3DWPQ/vendor.awssdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EECI5PM3HFGRRK3QHJE3QN23QIMJRXARZ2ELIPYCYYERGM7G6PFQ/vendor.awssdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PDQJBJMFACGKU4QYJOP7ZRYXLJSLYOJ6YLNEDE4Z3B6QS5UVA3LA/vendor.awssdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HM5BB7EFHBMHVS3IDM4LFII35N2QLAQLB5PHXEYGS7L6CGKKPS2Q/vendor.awssdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BKYCSVV7XDL4SF2EWUOXLBLW33OTQVABU6MPK2RYQLY4XFYY6SEQ/vendor.awssdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/D6EXYMVYL6OC6ZKS2QTMPYNDTFEFUSC2UQZ3RH645TJXVKA5GIEQ/vendor.awssdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GQHEIZE2Q5HKI44AUL3YORFQU6IDPJSBNUG2JW6EOKCQC5ZJUFCA/vendor.awssdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WN3QZDYF3FXFJ53T5JAXGHIQ4GG7DGIOTCMFIH253VI2Y5KXWXLA/vendor.awssdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3SXSICUQC4I4NXS22M5TZ53WT326J3SRBJF4KQE4HHKOTETNWLUQ/vendor.awssdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TZHLRQNP32KB4ZONEEDUXUNOZF33FTKKMMJV6JE2TNJB7SLORULA/vendor.awssdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LA5LYQQWEN63VIL7J56GSJHODFZURGYLIMDE5GE5X7XVETTGGTZA/vendor.awssdk.js"
        ]
    },
    "operations": {
        "AcceptEAFAgreement": {
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RTCFR6MIQKVHAJIMLRCKZ2V6CJKORKCPWEV7CHJ2KUJAHOJYCC5A/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FB7N74ECBFMB62PM6OFBGZ6NAYFRFSE2CDFQXTEE2HDTBOAPHEBQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ECYUEMZMSN4S5VL2YJALPQL6Q5YXII3I6DN4ACE3PQTADYRKRHMA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSUHPTZELU4INSZC44STKHDLUCYKAD46ET4HOKFUTNCC6ZDSFAWA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G3N3GOLOAEULGF6GRTFV7NYDJFPKFFU7M47MRKBUQIXO362CTDAQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QOHSTDUMCDMSL4OOQGRLJMY7ORTBWWN32PG6VM5UITS6SIFQBNQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TW5B2YFY7PICWIUVAOG7BAGI36NUAOYXDDB2MRUBWGIB2SNLHSA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPVODGPCHQHHJIF73UDQD6XKSGE264BAEG53VJIZNCTFDARPHQDA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZ7U6ZIQUGIOL5AO5RRKRHHN3ZYKWS5VPLJ243TKYAGRPKV246XQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTBNYM376XHNL6SLBCZVDYVKWABJ4LMBOV4XPPI3RIGYABJOQKIA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F324KNJPSUOUJDEUK7E2DOASMW72QCC7AMGEAX6QKJSAILAWSLTQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETSVJZK2WGNXASXG3GXM7QW4X354ETHSLGBZOYGMJZ5HFIHZQ73A/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GG6IDAMC23LJAJ5YCG37LNRQMTAX4N6EWGOTBYCH3UYL7A4YI3RQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCSENZF63JHX7YL5SPHESBEFYEEEUUFDVW7GSDZZIG4BTZM3DWPQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EECI5PM3HFGRRK3QHJE3QN23QIMJRXARZ2ELIPYCYYERGM7G6PFQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDQJBJMFACGKU4QYJOP7ZRYXLJSLYOJ6YLNEDE4Z3B6QS5UVA3LA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HM5BB7EFHBMHVS3IDM4LFII35N2QLAQLB5PHXEYGS7L6CGKKPS2Q/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BKYCSVV7XDL4SF2EWUOXLBLW33OTQVABU6MPK2RYQLY4XFYY6SEQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6EXYMVYL6OC6ZKS2QTMPYNDTFEFUSC2UQZ3RH645TJXVKA5GIEQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQHEIZE2Q5HKI44AUL3YORFQU6IDPJSBNUG2JW6EOKCQC5ZJUFCA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WN3QZDYF3FXFJ53T5JAXGHIQ4GG7DGIOTCMFIH253VI2Y5KXWXLA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3SXSICUQC4I4NXS22M5TZ53WT326J3SRBJF4KQE4HHKOTETNWLUQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TZHLRQNP32KB4ZONEEDUXUNOZF33FTKKMMJV6JE2TNJB7SLORULA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LA5LYQQWEN63VIL7J56GSJHODFZURGYLIMDE5GE5X7XVETTGGTZA/vendor.awssdk.js"
            ]
        },
        "CloseAccount": {
            "input": {
                "type": "structure",
                "required": [
                    "AccountId"
                ],
                "members": {
                    "AccountId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RTCFR6MIQKVHAJIMLRCKZ2V6CJKORKCPWEV7CHJ2KUJAHOJYCC5A/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FB7N74ECBFMB62PM6OFBGZ6NAYFRFSE2CDFQXTEE2HDTBOAPHEBQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ECYUEMZMSN4S5VL2YJALPQL6Q5YXII3I6DN4ACE3PQTADYRKRHMA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSUHPTZELU4INSZC44STKHDLUCYKAD46ET4HOKFUTNCC6ZDSFAWA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G3N3GOLOAEULGF6GRTFV7NYDJFPKFFU7M47MRKBUQIXO362CTDAQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QOHSTDUMCDMSL4OOQGRLJMY7ORTBWWN32PG6VM5UITS6SIFQBNQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TW5B2YFY7PICWIUVAOG7BAGI36NUAOYXDDB2MRUBWGIB2SNLHSA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPVODGPCHQHHJIF73UDQD6XKSGE264BAEG53VJIZNCTFDARPHQDA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZ7U6ZIQUGIOL5AO5RRKRHHN3ZYKWS5VPLJ243TKYAGRPKV246XQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTBNYM376XHNL6SLBCZVDYVKWABJ4LMBOV4XPPI3RIGYABJOQKIA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F324KNJPSUOUJDEUK7E2DOASMW72QCC7AMGEAX6QKJSAILAWSLTQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETSVJZK2WGNXASXG3GXM7QW4X354ETHSLGBZOYGMJZ5HFIHZQ73A/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GG6IDAMC23LJAJ5YCG37LNRQMTAX4N6EWGOTBYCH3UYL7A4YI3RQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCSENZF63JHX7YL5SPHESBEFYEEEUUFDVW7GSDZZIG4BTZM3DWPQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EECI5PM3HFGRRK3QHJE3QN23QIMJRXARZ2ELIPYCYYERGM7G6PFQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDQJBJMFACGKU4QYJOP7ZRYXLJSLYOJ6YLNEDE4Z3B6QS5UVA3LA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HM5BB7EFHBMHVS3IDM4LFII35N2QLAQLB5PHXEYGS7L6CGKKPS2Q/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BKYCSVV7XDL4SF2EWUOXLBLW33OTQVABU6MPK2RYQLY4XFYY6SEQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6EXYMVYL6OC6ZKS2QTMPYNDTFEFUSC2UQZ3RH645TJXVKA5GIEQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQHEIZE2Q5HKI44AUL3YORFQU6IDPJSBNUG2JW6EOKCQC5ZJUFCA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WN3QZDYF3FXFJ53T5JAXGHIQ4GG7DGIOTCMFIH253VI2Y5KXWXLA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3SXSICUQC4I4NXS22M5TZ53WT326J3SRBJF4KQE4HHKOTETNWLUQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TZHLRQNP32KB4ZONEEDUXUNOZF33FTKKMMJV6JE2TNJB7SLORULA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LA5LYQQWEN63VIL7J56GSJHODFZURGYLIMDE5GE5X7XVETTGGTZA/vendor.awssdk.js"
            ]
        },
        "ConfirmEmailAddressOwnership": {
            "input": {
                "type": "structure",
                "required": [
                    "VerificationCode"
                ],
                "members": {
                    "VerificationCode": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RTCFR6MIQKVHAJIMLRCKZ2V6CJKORKCPWEV7CHJ2KUJAHOJYCC5A/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FB7N74ECBFMB62PM6OFBGZ6NAYFRFSE2CDFQXTEE2HDTBOAPHEBQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ECYUEMZMSN4S5VL2YJALPQL6Q5YXII3I6DN4ACE3PQTADYRKRHMA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSUHPTZELU4INSZC44STKHDLUCYKAD46ET4HOKFUTNCC6ZDSFAWA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G3N3GOLOAEULGF6GRTFV7NYDJFPKFFU7M47MRKBUQIXO362CTDAQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QOHSTDUMCDMSL4OOQGRLJMY7ORTBWWN32PG6VM5UITS6SIFQBNQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TW5B2YFY7PICWIUVAOG7BAGI36NUAOYXDDB2MRUBWGIB2SNLHSA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPVODGPCHQHHJIF73UDQD6XKSGE264BAEG53VJIZNCTFDARPHQDA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZ7U6ZIQUGIOL5AO5RRKRHHN3ZYKWS5VPLJ243TKYAGRPKV246XQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTBNYM376XHNL6SLBCZVDYVKWABJ4LMBOV4XPPI3RIGYABJOQKIA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F324KNJPSUOUJDEUK7E2DOASMW72QCC7AMGEAX6QKJSAILAWSLTQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETSVJZK2WGNXASXG3GXM7QW4X354ETHSLGBZOYGMJZ5HFIHZQ73A/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GG6IDAMC23LJAJ5YCG37LNRQMTAX4N6EWGOTBYCH3UYL7A4YI3RQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCSENZF63JHX7YL5SPHESBEFYEEEUUFDVW7GSDZZIG4BTZM3DWPQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EECI5PM3HFGRRK3QHJE3QN23QIMJRXARZ2ELIPYCYYERGM7G6PFQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDQJBJMFACGKU4QYJOP7ZRYXLJSLYOJ6YLNEDE4Z3B6QS5UVA3LA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HM5BB7EFHBMHVS3IDM4LFII35N2QLAQLB5PHXEYGS7L6CGKKPS2Q/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BKYCSVV7XDL4SF2EWUOXLBLW33OTQVABU6MPK2RYQLY4XFYY6SEQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6EXYMVYL6OC6ZKS2QTMPYNDTFEFUSC2UQZ3RH645TJXVKA5GIEQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQHEIZE2Q5HKI44AUL3YORFQU6IDPJSBNUG2JW6EOKCQC5ZJUFCA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WN3QZDYF3FXFJ53T5JAXGHIQ4GG7DGIOTCMFIH253VI2Y5KXWXLA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3SXSICUQC4I4NXS22M5TZ53WT326J3SRBJF4KQE4HHKOTETNWLUQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TZHLRQNP32KB4ZONEEDUXUNOZF33FTKKMMJV6JE2TNJB7SLORULA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LA5LYQQWEN63VIL7J56GSJHODFZURGYLIMDE5GE5X7XVETTGGTZA/vendor.awssdk.js"
            ]
        },
        "GetControlledDomainAccountEmailOptions": {
            "input": {
                "type": "structure",
                "required": [
                    "DomainName"
                ],
                "members": {
                    "DomainName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DomainName": {},
                    "AccountEmailOptions": {
                        "type": "structure",
                        "members": {
                            "ContactEmail": {
                                "type": "string",
                                "sensitive": true
                            },
                            "LearnMoreLink": {}
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RTCFR6MIQKVHAJIMLRCKZ2V6CJKORKCPWEV7CHJ2KUJAHOJYCC5A/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FB7N74ECBFMB62PM6OFBGZ6NAYFRFSE2CDFQXTEE2HDTBOAPHEBQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ECYUEMZMSN4S5VL2YJALPQL6Q5YXII3I6DN4ACE3PQTADYRKRHMA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSUHPTZELU4INSZC44STKHDLUCYKAD46ET4HOKFUTNCC6ZDSFAWA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G3N3GOLOAEULGF6GRTFV7NYDJFPKFFU7M47MRKBUQIXO362CTDAQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QOHSTDUMCDMSL4OOQGRLJMY7ORTBWWN32PG6VM5UITS6SIFQBNQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TW5B2YFY7PICWIUVAOG7BAGI36NUAOYXDDB2MRUBWGIB2SNLHSA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPVODGPCHQHHJIF73UDQD6XKSGE264BAEG53VJIZNCTFDARPHQDA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZ7U6ZIQUGIOL5AO5RRKRHHN3ZYKWS5VPLJ243TKYAGRPKV246XQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTBNYM376XHNL6SLBCZVDYVKWABJ4LMBOV4XPPI3RIGYABJOQKIA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F324KNJPSUOUJDEUK7E2DOASMW72QCC7AMGEAX6QKJSAILAWSLTQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETSVJZK2WGNXASXG3GXM7QW4X354ETHSLGBZOYGMJZ5HFIHZQ73A/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GG6IDAMC23LJAJ5YCG37LNRQMTAX4N6EWGOTBYCH3UYL7A4YI3RQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCSENZF63JHX7YL5SPHESBEFYEEEUUFDVW7GSDZZIG4BTZM3DWPQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EECI5PM3HFGRRK3QHJE3QN23QIMJRXARZ2ELIPYCYYERGM7G6PFQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDQJBJMFACGKU4QYJOP7ZRYXLJSLYOJ6YLNEDE4Z3B6QS5UVA3LA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HM5BB7EFHBMHVS3IDM4LFII35N2QLAQLB5PHXEYGS7L6CGKKPS2Q/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BKYCSVV7XDL4SF2EWUOXLBLW33OTQVABU6MPK2RYQLY4XFYY6SEQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6EXYMVYL6OC6ZKS2QTMPYNDTFEFUSC2UQZ3RH645TJXVKA5GIEQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQHEIZE2Q5HKI44AUL3YORFQU6IDPJSBNUG2JW6EOKCQC5ZJUFCA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WN3QZDYF3FXFJ53T5JAXGHIQ4GG7DGIOTCMFIH253VI2Y5KXWXLA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3SXSICUQC4I4NXS22M5TZ53WT326J3SRBJF4KQE4HHKOTETNWLUQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TZHLRQNP32KB4ZONEEDUXUNOZF33FTKKMMJV6JE2TNJB7SLORULA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LA5LYQQWEN63VIL7J56GSJHODFZURGYLIMDE5GE5X7XVETTGGTZA/vendor.awssdk.js"
            ]
        },
        "GetEAFAgreementAcceptance": {
            "output": {
                "type": "structure",
                "members": {
                    "AgreementAccepted": {
                        "type": "boolean"
                    },
                    "AcceptanceDate": {
                        "type": "timestamp"
                    },
                    "AcceptingUser": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RTCFR6MIQKVHAJIMLRCKZ2V6CJKORKCPWEV7CHJ2KUJAHOJYCC5A/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FB7N74ECBFMB62PM6OFBGZ6NAYFRFSE2CDFQXTEE2HDTBOAPHEBQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ECYUEMZMSN4S5VL2YJALPQL6Q5YXII3I6DN4ACE3PQTADYRKRHMA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSUHPTZELU4INSZC44STKHDLUCYKAD46ET4HOKFUTNCC6ZDSFAWA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G3N3GOLOAEULGF6GRTFV7NYDJFPKFFU7M47MRKBUQIXO362CTDAQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QOHSTDUMCDMSL4OOQGRLJMY7ORTBWWN32PG6VM5UITS6SIFQBNQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TW5B2YFY7PICWIUVAOG7BAGI36NUAOYXDDB2MRUBWGIB2SNLHSA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPVODGPCHQHHJIF73UDQD6XKSGE264BAEG53VJIZNCTFDARPHQDA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZ7U6ZIQUGIOL5AO5RRKRHHN3ZYKWS5VPLJ243TKYAGRPKV246XQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTBNYM376XHNL6SLBCZVDYVKWABJ4LMBOV4XPPI3RIGYABJOQKIA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F324KNJPSUOUJDEUK7E2DOASMW72QCC7AMGEAX6QKJSAILAWSLTQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETSVJZK2WGNXASXG3GXM7QW4X354ETHSLGBZOYGMJZ5HFIHZQ73A/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GG6IDAMC23LJAJ5YCG37LNRQMTAX4N6EWGOTBYCH3UYL7A4YI3RQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCSENZF63JHX7YL5SPHESBEFYEEEUUFDVW7GSDZZIG4BTZM3DWPQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EECI5PM3HFGRRK3QHJE3QN23QIMJRXARZ2ELIPYCYYERGM7G6PFQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDQJBJMFACGKU4QYJOP7ZRYXLJSLYOJ6YLNEDE4Z3B6QS5UVA3LA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HM5BB7EFHBMHVS3IDM4LFII35N2QLAQLB5PHXEYGS7L6CGKKPS2Q/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BKYCSVV7XDL4SF2EWUOXLBLW33OTQVABU6MPK2RYQLY4XFYY6SEQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6EXYMVYL6OC6ZKS2QTMPYNDTFEFUSC2UQZ3RH645TJXVKA5GIEQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQHEIZE2Q5HKI44AUL3YORFQU6IDPJSBNUG2JW6EOKCQC5ZJUFCA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WN3QZDYF3FXFJ53T5JAXGHIQ4GG7DGIOTCMFIH253VI2Y5KXWXLA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3SXSICUQC4I4NXS22M5TZ53WT326J3SRBJF4KQE4HHKOTETNWLUQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TZHLRQNP32KB4ZONEEDUXUNOZF33FTKKMMJV6JE2TNJB7SLORULA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LA5LYQQWEN63VIL7J56GSJHODFZURGYLIMDE5GE5X7XVETTGGTZA/vendor.awssdk.js"
            ]
        },
        "GetEAFAgreementDocument": {
            "input": {
                "type": "structure",
                "required": [
                    "Locale"
                ],
                "members": {
                    "Locale": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "EAFAgreementDocument": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RTCFR6MIQKVHAJIMLRCKZ2V6CJKORKCPWEV7CHJ2KUJAHOJYCC5A/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FB7N74ECBFMB62PM6OFBGZ6NAYFRFSE2CDFQXTEE2HDTBOAPHEBQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ECYUEMZMSN4S5VL2YJALPQL6Q5YXII3I6DN4ACE3PQTADYRKRHMA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSUHPTZELU4INSZC44STKHDLUCYKAD46ET4HOKFUTNCC6ZDSFAWA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G3N3GOLOAEULGF6GRTFV7NYDJFPKFFU7M47MRKBUQIXO362CTDAQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QOHSTDUMCDMSL4OOQGRLJMY7ORTBWWN32PG6VM5UITS6SIFQBNQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TW5B2YFY7PICWIUVAOG7BAGI36NUAOYXDDB2MRUBWGIB2SNLHSA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPVODGPCHQHHJIF73UDQD6XKSGE264BAEG53VJIZNCTFDARPHQDA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZ7U6ZIQUGIOL5AO5RRKRHHN3ZYKWS5VPLJ243TKYAGRPKV246XQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTBNYM376XHNL6SLBCZVDYVKWABJ4LMBOV4XPPI3RIGYABJOQKIA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F324KNJPSUOUJDEUK7E2DOASMW72QCC7AMGEAX6QKJSAILAWSLTQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETSVJZK2WGNXASXG3GXM7QW4X354ETHSLGBZOYGMJZ5HFIHZQ73A/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GG6IDAMC23LJAJ5YCG37LNRQMTAX4N6EWGOTBYCH3UYL7A4YI3RQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCSENZF63JHX7YL5SPHESBEFYEEEUUFDVW7GSDZZIG4BTZM3DWPQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EECI5PM3HFGRRK3QHJE3QN23QIMJRXARZ2ELIPYCYYERGM7G6PFQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDQJBJMFACGKU4QYJOP7ZRYXLJSLYOJ6YLNEDE4Z3B6QS5UVA3LA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HM5BB7EFHBMHVS3IDM4LFII35N2QLAQLB5PHXEYGS7L6CGKKPS2Q/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BKYCSVV7XDL4SF2EWUOXLBLW33OTQVABU6MPK2RYQLY4XFYY6SEQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6EXYMVYL6OC6ZKS2QTMPYNDTFEFUSC2UQZ3RH645TJXVKA5GIEQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQHEIZE2Q5HKI44AUL3YORFQU6IDPJSBNUG2JW6EOKCQC5ZJUFCA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WN3QZDYF3FXFJ53T5JAXGHIQ4GG7DGIOTCMFIH253VI2Y5KXWXLA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3SXSICUQC4I4NXS22M5TZ53WT326J3SRBJF4KQE4HHKOTETNWLUQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TZHLRQNP32KB4ZONEEDUXUNOZF33FTKKMMJV6JE2TNJB7SLORULA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LA5LYQQWEN63VIL7J56GSJHODFZURGYLIMDE5GE5X7XVETTGGTZA/vendor.awssdk.js"
            ]
        },
        "GetEmailAddressVerificationStatus": {
            "output": {
                "type": "structure",
                "members": {
                    "VerificationStatus": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RTCFR6MIQKVHAJIMLRCKZ2V6CJKORKCPWEV7CHJ2KUJAHOJYCC5A/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FB7N74ECBFMB62PM6OFBGZ6NAYFRFSE2CDFQXTEE2HDTBOAPHEBQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ECYUEMZMSN4S5VL2YJALPQL6Q5YXII3I6DN4ACE3PQTADYRKRHMA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSUHPTZELU4INSZC44STKHDLUCYKAD46ET4HOKFUTNCC6ZDSFAWA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G3N3GOLOAEULGF6GRTFV7NYDJFPKFFU7M47MRKBUQIXO362CTDAQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QOHSTDUMCDMSL4OOQGRLJMY7ORTBWWN32PG6VM5UITS6SIFQBNQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TW5B2YFY7PICWIUVAOG7BAGI36NUAOYXDDB2MRUBWGIB2SNLHSA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPVODGPCHQHHJIF73UDQD6XKSGE264BAEG53VJIZNCTFDARPHQDA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZ7U6ZIQUGIOL5AO5RRKRHHN3ZYKWS5VPLJ243TKYAGRPKV246XQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTBNYM376XHNL6SLBCZVDYVKWABJ4LMBOV4XPPI3RIGYABJOQKIA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F324KNJPSUOUJDEUK7E2DOASMW72QCC7AMGEAX6QKJSAILAWSLTQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETSVJZK2WGNXASXG3GXM7QW4X354ETHSLGBZOYGMJZ5HFIHZQ73A/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GG6IDAMC23LJAJ5YCG37LNRQMTAX4N6EWGOTBYCH3UYL7A4YI3RQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCSENZF63JHX7YL5SPHESBEFYEEEUUFDVW7GSDZZIG4BTZM3DWPQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EECI5PM3HFGRRK3QHJE3QN23QIMJRXARZ2ELIPYCYYERGM7G6PFQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDQJBJMFACGKU4QYJOP7ZRYXLJSLYOJ6YLNEDE4Z3B6QS5UVA3LA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HM5BB7EFHBMHVS3IDM4LFII35N2QLAQLB5PHXEYGS7L6CGKKPS2Q/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BKYCSVV7XDL4SF2EWUOXLBLW33OTQVABU6MPK2RYQLY4XFYY6SEQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6EXYMVYL6OC6ZKS2QTMPYNDTFEFUSC2UQZ3RH645TJXVKA5GIEQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQHEIZE2Q5HKI44AUL3YORFQU6IDPJSBNUG2JW6EOKCQC5ZJUFCA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WN3QZDYF3FXFJ53T5JAXGHIQ4GG7DGIOTCMFIH253VI2Y5KXWXLA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3SXSICUQC4I4NXS22M5TZ53WT326J3SRBJF4KQE4HHKOTETNWLUQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TZHLRQNP32KB4ZONEEDUXUNOZF33FTKKMMJV6JE2TNJB7SLORULA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LA5LYQQWEN63VIL7J56GSJHODFZURGYLIMDE5GE5X7XVETTGGTZA/vendor.awssdk.js"
            ]
        },
        "InitiateEmailAddressVerification": {
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RTCFR6MIQKVHAJIMLRCKZ2V6CJKORKCPWEV7CHJ2KUJAHOJYCC5A/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FB7N74ECBFMB62PM6OFBGZ6NAYFRFSE2CDFQXTEE2HDTBOAPHEBQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ECYUEMZMSN4S5VL2YJALPQL6Q5YXII3I6DN4ACE3PQTADYRKRHMA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSUHPTZELU4INSZC44STKHDLUCYKAD46ET4HOKFUTNCC6ZDSFAWA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G3N3GOLOAEULGF6GRTFV7NYDJFPKFFU7M47MRKBUQIXO362CTDAQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QOHSTDUMCDMSL4OOQGRLJMY7ORTBWWN32PG6VM5UITS6SIFQBNQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TW5B2YFY7PICWIUVAOG7BAGI36NUAOYXDDB2MRUBWGIB2SNLHSA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPVODGPCHQHHJIF73UDQD6XKSGE264BAEG53VJIZNCTFDARPHQDA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZ7U6ZIQUGIOL5AO5RRKRHHN3ZYKWS5VPLJ243TKYAGRPKV246XQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTBNYM376XHNL6SLBCZVDYVKWABJ4LMBOV4XPPI3RIGYABJOQKIA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F324KNJPSUOUJDEUK7E2DOASMW72QCC7AMGEAX6QKJSAILAWSLTQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETSVJZK2WGNXASXG3GXM7QW4X354ETHSLGBZOYGMJZ5HFIHZQ73A/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GG6IDAMC23LJAJ5YCG37LNRQMTAX4N6EWGOTBYCH3UYL7A4YI3RQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCSENZF63JHX7YL5SPHESBEFYEEEUUFDVW7GSDZZIG4BTZM3DWPQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EECI5PM3HFGRRK3QHJE3QN23QIMJRXARZ2ELIPYCYYERGM7G6PFQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDQJBJMFACGKU4QYJOP7ZRYXLJSLYOJ6YLNEDE4Z3B6QS5UVA3LA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HM5BB7EFHBMHVS3IDM4LFII35N2QLAQLB5PHXEYGS7L6CGKKPS2Q/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BKYCSVV7XDL4SF2EWUOXLBLW33OTQVABU6MPK2RYQLY4XFYY6SEQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6EXYMVYL6OC6ZKS2QTMPYNDTFEFUSC2UQZ3RH645TJXVKA5GIEQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQHEIZE2Q5HKI44AUL3YORFQU6IDPJSBNUG2JW6EOKCQC5ZJUFCA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WN3QZDYF3FXFJ53T5JAXGHIQ4GG7DGIOTCMFIH253VI2Y5KXWXLA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3SXSICUQC4I4NXS22M5TZ53WT326J3SRBJF4KQE4HHKOTETNWLUQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TZHLRQNP32KB4ZONEEDUXUNOZF33FTKKMMJV6JE2TNJB7SLORULA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LA5LYQQWEN63VIL7J56GSJHODFZURGYLIMDE5GE5X7XVETTGGTZA/vendor.awssdk.js"
            ]
        },
        "IsFeatureEnabled": {
            "input": {
                "type": "structure",
                "required": [
                    "Feature"
                ],
                "members": {
                    "Feature": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Enabled"
                ],
                "members": {
                    "Enabled": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RTCFR6MIQKVHAJIMLRCKZ2V6CJKORKCPWEV7CHJ2KUJAHOJYCC5A/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FB7N74ECBFMB62PM6OFBGZ6NAYFRFSE2CDFQXTEE2HDTBOAPHEBQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ECYUEMZMSN4S5VL2YJALPQL6Q5YXII3I6DN4ACE3PQTADYRKRHMA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSUHPTZELU4INSZC44STKHDLUCYKAD46ET4HOKFUTNCC6ZDSFAWA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G3N3GOLOAEULGF6GRTFV7NYDJFPKFFU7M47MRKBUQIXO362CTDAQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QOHSTDUMCDMSL4OOQGRLJMY7ORTBWWN32PG6VM5UITS6SIFQBNQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TW5B2YFY7PICWIUVAOG7BAGI36NUAOYXDDB2MRUBWGIB2SNLHSA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPVODGPCHQHHJIF73UDQD6XKSGE264BAEG53VJIZNCTFDARPHQDA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZ7U6ZIQUGIOL5AO5RRKRHHN3ZYKWS5VPLJ243TKYAGRPKV246XQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTBNYM376XHNL6SLBCZVDYVKWABJ4LMBOV4XPPI3RIGYABJOQKIA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F324KNJPSUOUJDEUK7E2DOASMW72QCC7AMGEAX6QKJSAILAWSLTQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETSVJZK2WGNXASXG3GXM7QW4X354ETHSLGBZOYGMJZ5HFIHZQ73A/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GG6IDAMC23LJAJ5YCG37LNRQMTAX4N6EWGOTBYCH3UYL7A4YI3RQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCSENZF63JHX7YL5SPHESBEFYEEEUUFDVW7GSDZZIG4BTZM3DWPQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EECI5PM3HFGRRK3QHJE3QN23QIMJRXARZ2ELIPYCYYERGM7G6PFQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDQJBJMFACGKU4QYJOP7ZRYXLJSLYOJ6YLNEDE4Z3B6QS5UVA3LA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HM5BB7EFHBMHVS3IDM4LFII35N2QLAQLB5PHXEYGS7L6CGKKPS2Q/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BKYCSVV7XDL4SF2EWUOXLBLW33OTQVABU6MPK2RYQLY4XFYY6SEQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6EXYMVYL6OC6ZKS2QTMPYNDTFEFUSC2UQZ3RH645TJXVKA5GIEQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQHEIZE2Q5HKI44AUL3YORFQU6IDPJSBNUG2JW6EOKCQC5ZJUFCA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WN3QZDYF3FXFJ53T5JAXGHIQ4GG7DGIOTCMFIH253VI2Y5KXWXLA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3SXSICUQC4I4NXS22M5TZ53WT326J3SRBJF4KQE4HHKOTETNWLUQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TZHLRQNP32KB4ZONEEDUXUNOZF33FTKKMMJV6JE2TNJB7SLORULA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LA5LYQQWEN63VIL7J56GSJHODFZURGYLIMDE5GE5X7XVETTGGTZA/vendor.awssdk.js"
            ]
        },
        "ListEnabledActions": {
            "output": {
                "type": "structure",
                "members": {
                    "EnabledActions": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RTCFR6MIQKVHAJIMLRCKZ2V6CJKORKCPWEV7CHJ2KUJAHOJYCC5A/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FB7N74ECBFMB62PM6OFBGZ6NAYFRFSE2CDFQXTEE2HDTBOAPHEBQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ECYUEMZMSN4S5VL2YJALPQL6Q5YXII3I6DN4ACE3PQTADYRKRHMA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSUHPTZELU4INSZC44STKHDLUCYKAD46ET4HOKFUTNCC6ZDSFAWA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G3N3GOLOAEULGF6GRTFV7NYDJFPKFFU7M47MRKBUQIXO362CTDAQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QOHSTDUMCDMSL4OOQGRLJMY7ORTBWWN32PG6VM5UITS6SIFQBNQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TW5B2YFY7PICWIUVAOG7BAGI36NUAOYXDDB2MRUBWGIB2SNLHSA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPVODGPCHQHHJIF73UDQD6XKSGE264BAEG53VJIZNCTFDARPHQDA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZ7U6ZIQUGIOL5AO5RRKRHHN3ZYKWS5VPLJ243TKYAGRPKV246XQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTBNYM376XHNL6SLBCZVDYVKWABJ4LMBOV4XPPI3RIGYABJOQKIA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F324KNJPSUOUJDEUK7E2DOASMW72QCC7AMGEAX6QKJSAILAWSLTQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETSVJZK2WGNXASXG3GXM7QW4X354ETHSLGBZOYGMJZ5HFIHZQ73A/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GG6IDAMC23LJAJ5YCG37LNRQMTAX4N6EWGOTBYCH3UYL7A4YI3RQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCSENZF63JHX7YL5SPHESBEFYEEEUUFDVW7GSDZZIG4BTZM3DWPQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EECI5PM3HFGRRK3QHJE3QN23QIMJRXARZ2ELIPYCYYERGM7G6PFQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDQJBJMFACGKU4QYJOP7ZRYXLJSLYOJ6YLNEDE4Z3B6QS5UVA3LA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HM5BB7EFHBMHVS3IDM4LFII35N2QLAQLB5PHXEYGS7L6CGKKPS2Q/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BKYCSVV7XDL4SF2EWUOXLBLW33OTQVABU6MPK2RYQLY4XFYY6SEQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6EXYMVYL6OC6ZKS2QTMPYNDTFEFUSC2UQZ3RH645TJXVKA5GIEQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQHEIZE2Q5HKI44AUL3YORFQU6IDPJSBNUG2JW6EOKCQC5ZJUFCA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WN3QZDYF3FXFJ53T5JAXGHIQ4GG7DGIOTCMFIH253VI2Y5KXWXLA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3SXSICUQC4I4NXS22M5TZ53WT326J3SRBJF4KQE4HHKOTETNWLUQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TZHLRQNP32KB4ZONEEDUXUNOZF33FTKKMMJV6JE2TNJB7SLORULA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LA5LYQQWEN63VIL7J56GSJHODFZURGYLIMDE5GE5X7XVETTGGTZA/vendor.awssdk.js"
            ]
        },
        "ListSDFServiceActions": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceName"
                ],
                "members": {
                    "ServiceName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "SDFServiceActions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ActionName": {},
                                "Name": {},
                                "ApiDocRelative": {},
                                "ActionGroups": {
                                    "shape": "Sw"
                                },
                                "ContextKeysRef": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "DocPageRelative": {},
                                            "DocPage": {},
                                            "Description": {},
                                            "Type": {},
                                            "Name": {}
                                        }
                                    }
                                },
                                "Description": {},
                                "DocPage": {},
                                "DocPageRelative": {},
                                "OptionalResources": {
                                    "shape": "Sw"
                                },
                                "RequiredResources": {
                                    "shape": "Sw"
                                },
                                "RequiredActions": {
                                    "shape": "Sw"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RTCFR6MIQKVHAJIMLRCKZ2V6CJKORKCPWEV7CHJ2KUJAHOJYCC5A/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FB7N74ECBFMB62PM6OFBGZ6NAYFRFSE2CDFQXTEE2HDTBOAPHEBQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ECYUEMZMSN4S5VL2YJALPQL6Q5YXII3I6DN4ACE3PQTADYRKRHMA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSUHPTZELU4INSZC44STKHDLUCYKAD46ET4HOKFUTNCC6ZDSFAWA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G3N3GOLOAEULGF6GRTFV7NYDJFPKFFU7M47MRKBUQIXO362CTDAQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QOHSTDUMCDMSL4OOQGRLJMY7ORTBWWN32PG6VM5UITS6SIFQBNQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TW5B2YFY7PICWIUVAOG7BAGI36NUAOYXDDB2MRUBWGIB2SNLHSA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPVODGPCHQHHJIF73UDQD6XKSGE264BAEG53VJIZNCTFDARPHQDA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZ7U6ZIQUGIOL5AO5RRKRHHN3ZYKWS5VPLJ243TKYAGRPKV246XQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTBNYM376XHNL6SLBCZVDYVKWABJ4LMBOV4XPPI3RIGYABJOQKIA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F324KNJPSUOUJDEUK7E2DOASMW72QCC7AMGEAX6QKJSAILAWSLTQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETSVJZK2WGNXASXG3GXM7QW4X354ETHSLGBZOYGMJZ5HFIHZQ73A/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GG6IDAMC23LJAJ5YCG37LNRQMTAX4N6EWGOTBYCH3UYL7A4YI3RQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCSENZF63JHX7YL5SPHESBEFYEEEUUFDVW7GSDZZIG4BTZM3DWPQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EECI5PM3HFGRRK3QHJE3QN23QIMJRXARZ2ELIPYCYYERGM7G6PFQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDQJBJMFACGKU4QYJOP7ZRYXLJSLYOJ6YLNEDE4Z3B6QS5UVA3LA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HM5BB7EFHBMHVS3IDM4LFII35N2QLAQLB5PHXEYGS7L6CGKKPS2Q/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BKYCSVV7XDL4SF2EWUOXLBLW33OTQVABU6MPK2RYQLY4XFYY6SEQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6EXYMVYL6OC6ZKS2QTMPYNDTFEFUSC2UQZ3RH645TJXVKA5GIEQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQHEIZE2Q5HKI44AUL3YORFQU6IDPJSBNUG2JW6EOKCQC5ZJUFCA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WN3QZDYF3FXFJ53T5JAXGHIQ4GG7DGIOTCMFIH253VI2Y5KXWXLA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3SXSICUQC4I4NXS22M5TZ53WT326J3SRBJF4KQE4HHKOTETNWLUQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TZHLRQNP32KB4ZONEEDUXUNOZF33FTKKMMJV6JE2TNJB7SLORULA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LA5LYQQWEN63VIL7J56GSJHODFZURGYLIMDE5GE5X7XVETTGGTZA/vendor.awssdk.js"
            ]
        },
        "ListSDFServiceContextKeys": {
            "output": {
                "type": "structure",
                "members": {
                    "SDFServiceContextKeys": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ServiceDisplayName": {},
                                "DocPageRelative": {},
                                "DocPage": {},
                                "Description": {},
                                "Type": {},
                                "Name": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RTCFR6MIQKVHAJIMLRCKZ2V6CJKORKCPWEV7CHJ2KUJAHOJYCC5A/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FB7N74ECBFMB62PM6OFBGZ6NAYFRFSE2CDFQXTEE2HDTBOAPHEBQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ECYUEMZMSN4S5VL2YJALPQL6Q5YXII3I6DN4ACE3PQTADYRKRHMA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSUHPTZELU4INSZC44STKHDLUCYKAD46ET4HOKFUTNCC6ZDSFAWA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G3N3GOLOAEULGF6GRTFV7NYDJFPKFFU7M47MRKBUQIXO362CTDAQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QOHSTDUMCDMSL4OOQGRLJMY7ORTBWWN32PG6VM5UITS6SIFQBNQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TW5B2YFY7PICWIUVAOG7BAGI36NUAOYXDDB2MRUBWGIB2SNLHSA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPVODGPCHQHHJIF73UDQD6XKSGE264BAEG53VJIZNCTFDARPHQDA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZ7U6ZIQUGIOL5AO5RRKRHHN3ZYKWS5VPLJ243TKYAGRPKV246XQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTBNYM376XHNL6SLBCZVDYVKWABJ4LMBOV4XPPI3RIGYABJOQKIA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F324KNJPSUOUJDEUK7E2DOASMW72QCC7AMGEAX6QKJSAILAWSLTQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETSVJZK2WGNXASXG3GXM7QW4X354ETHSLGBZOYGMJZ5HFIHZQ73A/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GG6IDAMC23LJAJ5YCG37LNRQMTAX4N6EWGOTBYCH3UYL7A4YI3RQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCSENZF63JHX7YL5SPHESBEFYEEEUUFDVW7GSDZZIG4BTZM3DWPQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EECI5PM3HFGRRK3QHJE3QN23QIMJRXARZ2ELIPYCYYERGM7G6PFQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDQJBJMFACGKU4QYJOP7ZRYXLJSLYOJ6YLNEDE4Z3B6QS5UVA3LA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HM5BB7EFHBMHVS3IDM4LFII35N2QLAQLB5PHXEYGS7L6CGKKPS2Q/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BKYCSVV7XDL4SF2EWUOXLBLW33OTQVABU6MPK2RYQLY4XFYY6SEQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6EXYMVYL6OC6ZKS2QTMPYNDTFEFUSC2UQZ3RH645TJXVKA5GIEQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQHEIZE2Q5HKI44AUL3YORFQU6IDPJSBNUG2JW6EOKCQC5ZJUFCA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WN3QZDYF3FXFJ53T5JAXGHIQ4GG7DGIOTCMFIH253VI2Y5KXWXLA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3SXSICUQC4I4NXS22M5TZ53WT326J3SRBJF4KQE4HHKOTETNWLUQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TZHLRQNP32KB4ZONEEDUXUNOZF33FTKKMMJV6JE2TNJB7SLORULA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LA5LYQQWEN63VIL7J56GSJHODFZURGYLIMDE5GE5X7XVETTGGTZA/vendor.awssdk.js"
            ]
        },
        "ListSDFServiceResources": {
            "output": {
                "type": "structure",
                "members": {
                    "SDFServiceResources": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Arn": {},
                                "Description": {},
                                "DocPage": {},
                                "DocPageRelative": {},
                                "ResourceName": {},
                                "ServiceDisplayName": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RTCFR6MIQKVHAJIMLRCKZ2V6CJKORKCPWEV7CHJ2KUJAHOJYCC5A/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FB7N74ECBFMB62PM6OFBGZ6NAYFRFSE2CDFQXTEE2HDTBOAPHEBQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ECYUEMZMSN4S5VL2YJALPQL6Q5YXII3I6DN4ACE3PQTADYRKRHMA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSUHPTZELU4INSZC44STKHDLUCYKAD46ET4HOKFUTNCC6ZDSFAWA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G3N3GOLOAEULGF6GRTFV7NYDJFPKFFU7M47MRKBUQIXO362CTDAQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QOHSTDUMCDMSL4OOQGRLJMY7ORTBWWN32PG6VM5UITS6SIFQBNQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TW5B2YFY7PICWIUVAOG7BAGI36NUAOYXDDB2MRUBWGIB2SNLHSA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPVODGPCHQHHJIF73UDQD6XKSGE264BAEG53VJIZNCTFDARPHQDA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZ7U6ZIQUGIOL5AO5RRKRHHN3ZYKWS5VPLJ243TKYAGRPKV246XQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTBNYM376XHNL6SLBCZVDYVKWABJ4LMBOV4XPPI3RIGYABJOQKIA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F324KNJPSUOUJDEUK7E2DOASMW72QCC7AMGEAX6QKJSAILAWSLTQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETSVJZK2WGNXASXG3GXM7QW4X354ETHSLGBZOYGMJZ5HFIHZQ73A/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GG6IDAMC23LJAJ5YCG37LNRQMTAX4N6EWGOTBYCH3UYL7A4YI3RQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCSENZF63JHX7YL5SPHESBEFYEEEUUFDVW7GSDZZIG4BTZM3DWPQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EECI5PM3HFGRRK3QHJE3QN23QIMJRXARZ2ELIPYCYYERGM7G6PFQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDQJBJMFACGKU4QYJOP7ZRYXLJSLYOJ6YLNEDE4Z3B6QS5UVA3LA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HM5BB7EFHBMHVS3IDM4LFII35N2QLAQLB5PHXEYGS7L6CGKKPS2Q/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BKYCSVV7XDL4SF2EWUOXLBLW33OTQVABU6MPK2RYQLY4XFYY6SEQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6EXYMVYL6OC6ZKS2QTMPYNDTFEFUSC2UQZ3RH645TJXVKA5GIEQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQHEIZE2Q5HKI44AUL3YORFQU6IDPJSBNUG2JW6EOKCQC5ZJUFCA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WN3QZDYF3FXFJ53T5JAXGHIQ4GG7DGIOTCMFIH253VI2Y5KXWXLA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3SXSICUQC4I4NXS22M5TZ53WT326J3SRBJF4KQE4HHKOTETNWLUQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TZHLRQNP32KB4ZONEEDUXUNOZF33FTKKMMJV6JE2TNJB7SLORULA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LA5LYQQWEN63VIL7J56GSJHODFZURGYLIMDE5GE5X7XVETTGGTZA/vendor.awssdk.js"
            ]
        },
        "ListSDFServices": {
            "output": {
                "type": "structure",
                "members": {
                    "SDFServices": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ServiceName": {},
                                "ServiceDisplayName": {},
                                "ServiceKeyName": {},
                                "ActionsDocRoot": {},
                                "ApiDetailRoot": {},
                                "ApiDocRoot": {},
                                "ApiReferenceDocPage": {},
                                "ArnFormat": {},
                                "ArnRegex": {},
                                "AuthZDocPage": {},
                                "ConceptsDocRoot": {},
                                "ContextKeysDocRoot": {},
                                "Description": {},
                                "ResourcesDocRoot": {},
                                "DisplayName": {},
                                "Name": {},
                                "UserGuideDocPage": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RTCFR6MIQKVHAJIMLRCKZ2V6CJKORKCPWEV7CHJ2KUJAHOJYCC5A/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FB7N74ECBFMB62PM6OFBGZ6NAYFRFSE2CDFQXTEE2HDTBOAPHEBQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ECYUEMZMSN4S5VL2YJALPQL6Q5YXII3I6DN4ACE3PQTADYRKRHMA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSUHPTZELU4INSZC44STKHDLUCYKAD46ET4HOKFUTNCC6ZDSFAWA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G3N3GOLOAEULGF6GRTFV7NYDJFPKFFU7M47MRKBUQIXO362CTDAQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QOHSTDUMCDMSL4OOQGRLJMY7ORTBWWN32PG6VM5UITS6SIFQBNQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TW5B2YFY7PICWIUVAOG7BAGI36NUAOYXDDB2MRUBWGIB2SNLHSA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPVODGPCHQHHJIF73UDQD6XKSGE264BAEG53VJIZNCTFDARPHQDA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZ7U6ZIQUGIOL5AO5RRKRHHN3ZYKWS5VPLJ243TKYAGRPKV246XQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTBNYM376XHNL6SLBCZVDYVKWABJ4LMBOV4XPPI3RIGYABJOQKIA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F324KNJPSUOUJDEUK7E2DOASMW72QCC7AMGEAX6QKJSAILAWSLTQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETSVJZK2WGNXASXG3GXM7QW4X354ETHSLGBZOYGMJZ5HFIHZQ73A/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GG6IDAMC23LJAJ5YCG37LNRQMTAX4N6EWGOTBYCH3UYL7A4YI3RQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCSENZF63JHX7YL5SPHESBEFYEEEUUFDVW7GSDZZIG4BTZM3DWPQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EECI5PM3HFGRRK3QHJE3QN23QIMJRXARZ2ELIPYCYYERGM7G6PFQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDQJBJMFACGKU4QYJOP7ZRYXLJSLYOJ6YLNEDE4Z3B6QS5UVA3LA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HM5BB7EFHBMHVS3IDM4LFII35N2QLAQLB5PHXEYGS7L6CGKKPS2Q/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BKYCSVV7XDL4SF2EWUOXLBLW33OTQVABU6MPK2RYQLY4XFYY6SEQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6EXYMVYL6OC6ZKS2QTMPYNDTFEFUSC2UQZ3RH645TJXVKA5GIEQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQHEIZE2Q5HKI44AUL3YORFQU6IDPJSBNUG2JW6EOKCQC5ZJUFCA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WN3QZDYF3FXFJ53T5JAXGHIQ4GG7DGIOTCMFIH253VI2Y5KXWXLA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3SXSICUQC4I4NXS22M5TZ53WT326J3SRBJF4KQE4HHKOTETNWLUQ/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TZHLRQNP32KB4ZONEEDUXUNOZF33FTKKMMJV6JE2TNJB7SLORULA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LA5LYQQWEN63VIL7J56GSJHODFZURGYLIMDE5GE5X7XVETTGGTZA/vendor.awssdk.js"
            ]
        }
    },
    "shapes": {
        "Sw": {
            "type": "list",
            "member": {}
        }
    }
}