{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2020-05-07",
        "endpointPrefix": "organizationsinternal",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceFullName": "AWS Organizations Internal",
        "signatureVersion": "v4",
        "signingName": "organizations",
        "targetPrefix": "AWSOrganizationsInternal",
        "uid": "organizationsinternal-2020-05-07",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/6XXMGWAV52BSV6B4JCLWTCLVZLKCZZHSWF4TKZAHD5CIBERFPSGQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BSQPLGRAJ76YKWMPJOHDCTHGWAP4EWKRCWRGZKOY2Y4KG4DJRKHA/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FQP544QMOG7JBB46UUTTKJTPG3NU3VZOZWKRVMSFJVSWV7CBVW5Q/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/W252ZTLHRIFSN6XHHE75HP3226LDYPYKVBZJCWNQEOZ7ASXHYB4Q/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WRP6SKMUQ42QVMU3QXAS45TMSUAHPJW6F2HSNMHDOHNXCYFQAUPA/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XJ3U3PK5NDNIFEXO4GF7K3XSDNM4K3PE4NJSVAR6LRU4WBEPKGNQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3OEAOLGD5YIPD4N7RBDHFKI56HGX4SK5U6VDIEW2TUCWN7NL6LUA/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GAVNNWAP2Y4TIH6ZIJKD5HIQMOG4UCKRTFC5FXGUOV7EELONZNNQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WUGATSHC6L5MGKBQ4OIRO4HYJCE4RICMHLYFN4AJWUSOLRC2SRIQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HP2TVLSR7ICG43ZGAIMKFFBE442TTICEWMUGLKT4RQDFOKYYYAAQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XV4GAHV3HWAPK43EGDVLPL7XHEF2M6FULNP74NMDCGXMU2GVWZPA/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TDMIBNIYHLLO26HMD2QVOJ2WFMZNSUAMTAMV4I2JSIIAHADKRLPQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OB62NEVOBDKV5UCJ2VRHBYRGJFOG4WJ4SXR5F2FXZZBUHI33FATQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TGNIKKEN55UDOZNGKKSFD26JC3O6O5PIHCPYNN4SSOCXDACGPMEA/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5XKJRKT6NYJ5UUFS7EFM3F53GET7BU6G7TKPOJCBYMWR3NCPQZSQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TNZUKLFHCJNKRQREJLZ3VGX4VHDJDU7LQFDZSMZ36JBU66C6XAYQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SKT5RMT3ZV4GTRVXCCD6Q3LUK5JRK2BJUI2NWRQKRZW4P656NPXA/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R6OSTZC4O7MSGYNYTIXDH5ZJT7SVGF676YNJN7YNK5SURTSX6B2A/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/T2UBPDTYMRVKV2CL7G5TEZIE6DEUVE4YBXTEM42SRPZEOKRHCJXQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XM4USJ55BG54T74OTVQH7UNJLUSYDSKYPUCA53J463OF2QXQKI7A/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MYW3U2AEDD3PRK2IEBKZRZZ5MBKI7X6T4ZZZEDXXAVJ5ON6EVZKA/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SREG46BDO5BTLHOSX6WVMAE3VGDSUNCM2YPTLEMMOCVQPTUSVW7Q/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OXWHXRH3LKFJNVNZF4VGTJ4H22KD4K5XVXVLTX5MLXZFW2LK4FCA/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H2IA6Q7M22SAR7OSEQBJNJ33EALCCYW5523IDOGD47MRB5RTFI3Q/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XZ2EPWTZ5TAX5TUI5L2LVOFBZUHZJWKDM44HKULB2PXO4GRBEHQA/vendor.js"
        ]
    },
    "operations": {
        "AcceptEAFAgreement": {
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSQPLGRAJ76YKWMPJOHDCTHGWAP4EWKRCWRGZKOY2Y4KG4DJRKHA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQP544QMOG7JBB46UUTTKJTPG3NU3VZOZWKRVMSFJVSWV7CBVW5Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W252ZTLHRIFSN6XHHE75HP3226LDYPYKVBZJCWNQEOZ7ASXHYB4Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRP6SKMUQ42QVMU3QXAS45TMSUAHPJW6F2HSNMHDOHNXCYFQAUPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJ3U3PK5NDNIFEXO4GF7K3XSDNM4K3PE4NJSVAR6LRU4WBEPKGNQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3OEAOLGD5YIPD4N7RBDHFKI56HGX4SK5U6VDIEW2TUCWN7NL6LUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GAVNNWAP2Y4TIH6ZIJKD5HIQMOG4UCKRTFC5FXGUOV7EELONZNNQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WUGATSHC6L5MGKBQ4OIRO4HYJCE4RICMHLYFN4AJWUSOLRC2SRIQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HP2TVLSR7ICG43ZGAIMKFFBE442TTICEWMUGLKT4RQDFOKYYYAAQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XV4GAHV3HWAPK43EGDVLPL7XHEF2M6FULNP74NMDCGXMU2GVWZPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TDMIBNIYHLLO26HMD2QVOJ2WFMZNSUAMTAMV4I2JSIIAHADKRLPQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OB62NEVOBDKV5UCJ2VRHBYRGJFOG4WJ4SXR5F2FXZZBUHI33FATQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGNIKKEN55UDOZNGKKSFD26JC3O6O5PIHCPYNN4SSOCXDACGPMEA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XKJRKT6NYJ5UUFS7EFM3F53GET7BU6G7TKPOJCBYMWR3NCPQZSQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNZUKLFHCJNKRQREJLZ3VGX4VHDJDU7LQFDZSMZ36JBU66C6XAYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SKT5RMT3ZV4GTRVXCCD6Q3LUK5JRK2BJUI2NWRQKRZW4P656NPXA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6OSTZC4O7MSGYNYTIXDH5ZJT7SVGF676YNJN7YNK5SURTSX6B2A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T2UBPDTYMRVKV2CL7G5TEZIE6DEUVE4YBXTEM42SRPZEOKRHCJXQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XM4USJ55BG54T74OTVQH7UNJLUSYDSKYPUCA53J463OF2QXQKI7A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MYW3U2AEDD3PRK2IEBKZRZZ5MBKI7X6T4ZZZEDXXAVJ5ON6EVZKA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SREG46BDO5BTLHOSX6WVMAE3VGDSUNCM2YPTLEMMOCVQPTUSVW7Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXWHXRH3LKFJNVNZF4VGTJ4H22KD4K5XVXVLTX5MLXZFW2LK4FCA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2IA6Q7M22SAR7OSEQBJNJ33EALCCYW5523IDOGD47MRB5RTFI3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZ2EPWTZ5TAX5TUI5L2LVOFBZUHZJWKDM44HKULB2PXO4GRBEHQA/vendor.js"
            ]
        },
        "CloseAccount": {
            "input": {
                "type": "structure",
                "required": [
                    "AccountId"
                ],
                "members": {
                    "AccountId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSQPLGRAJ76YKWMPJOHDCTHGWAP4EWKRCWRGZKOY2Y4KG4DJRKHA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQP544QMOG7JBB46UUTTKJTPG3NU3VZOZWKRVMSFJVSWV7CBVW5Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W252ZTLHRIFSN6XHHE75HP3226LDYPYKVBZJCWNQEOZ7ASXHYB4Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRP6SKMUQ42QVMU3QXAS45TMSUAHPJW6F2HSNMHDOHNXCYFQAUPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJ3U3PK5NDNIFEXO4GF7K3XSDNM4K3PE4NJSVAR6LRU4WBEPKGNQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3OEAOLGD5YIPD4N7RBDHFKI56HGX4SK5U6VDIEW2TUCWN7NL6LUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GAVNNWAP2Y4TIH6ZIJKD5HIQMOG4UCKRTFC5FXGUOV7EELONZNNQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WUGATSHC6L5MGKBQ4OIRO4HYJCE4RICMHLYFN4AJWUSOLRC2SRIQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HP2TVLSR7ICG43ZGAIMKFFBE442TTICEWMUGLKT4RQDFOKYYYAAQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XV4GAHV3HWAPK43EGDVLPL7XHEF2M6FULNP74NMDCGXMU2GVWZPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TDMIBNIYHLLO26HMD2QVOJ2WFMZNSUAMTAMV4I2JSIIAHADKRLPQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OB62NEVOBDKV5UCJ2VRHBYRGJFOG4WJ4SXR5F2FXZZBUHI33FATQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGNIKKEN55UDOZNGKKSFD26JC3O6O5PIHCPYNN4SSOCXDACGPMEA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XKJRKT6NYJ5UUFS7EFM3F53GET7BU6G7TKPOJCBYMWR3NCPQZSQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNZUKLFHCJNKRQREJLZ3VGX4VHDJDU7LQFDZSMZ36JBU66C6XAYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SKT5RMT3ZV4GTRVXCCD6Q3LUK5JRK2BJUI2NWRQKRZW4P656NPXA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6OSTZC4O7MSGYNYTIXDH5ZJT7SVGF676YNJN7YNK5SURTSX6B2A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T2UBPDTYMRVKV2CL7G5TEZIE6DEUVE4YBXTEM42SRPZEOKRHCJXQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XM4USJ55BG54T74OTVQH7UNJLUSYDSKYPUCA53J463OF2QXQKI7A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MYW3U2AEDD3PRK2IEBKZRZZ5MBKI7X6T4ZZZEDXXAVJ5ON6EVZKA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SREG46BDO5BTLHOSX6WVMAE3VGDSUNCM2YPTLEMMOCVQPTUSVW7Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXWHXRH3LKFJNVNZF4VGTJ4H22KD4K5XVXVLTX5MLXZFW2LK4FCA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2IA6Q7M22SAR7OSEQBJNJ33EALCCYW5523IDOGD47MRB5RTFI3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZ2EPWTZ5TAX5TUI5L2LVOFBZUHZJWKDM44HKULB2PXO4GRBEHQA/vendor.js"
            ]
        },
        "ConfirmEmailAddressOwnership": {
            "input": {
                "type": "structure",
                "required": [
                    "VerificationCode"
                ],
                "members": {
                    "VerificationCode": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSQPLGRAJ76YKWMPJOHDCTHGWAP4EWKRCWRGZKOY2Y4KG4DJRKHA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQP544QMOG7JBB46UUTTKJTPG3NU3VZOZWKRVMSFJVSWV7CBVW5Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W252ZTLHRIFSN6XHHE75HP3226LDYPYKVBZJCWNQEOZ7ASXHYB4Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRP6SKMUQ42QVMU3QXAS45TMSUAHPJW6F2HSNMHDOHNXCYFQAUPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJ3U3PK5NDNIFEXO4GF7K3XSDNM4K3PE4NJSVAR6LRU4WBEPKGNQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3OEAOLGD5YIPD4N7RBDHFKI56HGX4SK5U6VDIEW2TUCWN7NL6LUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GAVNNWAP2Y4TIH6ZIJKD5HIQMOG4UCKRTFC5FXGUOV7EELONZNNQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WUGATSHC6L5MGKBQ4OIRO4HYJCE4RICMHLYFN4AJWUSOLRC2SRIQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HP2TVLSR7ICG43ZGAIMKFFBE442TTICEWMUGLKT4RQDFOKYYYAAQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XV4GAHV3HWAPK43EGDVLPL7XHEF2M6FULNP74NMDCGXMU2GVWZPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TDMIBNIYHLLO26HMD2QVOJ2WFMZNSUAMTAMV4I2JSIIAHADKRLPQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OB62NEVOBDKV5UCJ2VRHBYRGJFOG4WJ4SXR5F2FXZZBUHI33FATQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGNIKKEN55UDOZNGKKSFD26JC3O6O5PIHCPYNN4SSOCXDACGPMEA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XKJRKT6NYJ5UUFS7EFM3F53GET7BU6G7TKPOJCBYMWR3NCPQZSQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNZUKLFHCJNKRQREJLZ3VGX4VHDJDU7LQFDZSMZ36JBU66C6XAYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SKT5RMT3ZV4GTRVXCCD6Q3LUK5JRK2BJUI2NWRQKRZW4P656NPXA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6OSTZC4O7MSGYNYTIXDH5ZJT7SVGF676YNJN7YNK5SURTSX6B2A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T2UBPDTYMRVKV2CL7G5TEZIE6DEUVE4YBXTEM42SRPZEOKRHCJXQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XM4USJ55BG54T74OTVQH7UNJLUSYDSKYPUCA53J463OF2QXQKI7A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MYW3U2AEDD3PRK2IEBKZRZZ5MBKI7X6T4ZZZEDXXAVJ5ON6EVZKA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SREG46BDO5BTLHOSX6WVMAE3VGDSUNCM2YPTLEMMOCVQPTUSVW7Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXWHXRH3LKFJNVNZF4VGTJ4H22KD4K5XVXVLTX5MLXZFW2LK4FCA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2IA6Q7M22SAR7OSEQBJNJ33EALCCYW5523IDOGD47MRB5RTFI3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZ2EPWTZ5TAX5TUI5L2LVOFBZUHZJWKDM44HKULB2PXO4GRBEHQA/vendor.js"
            ]
        },
        "GetControlledDomainAccountEmailOptions": {
            "input": {
                "type": "structure",
                "required": [
                    "DomainName"
                ],
                "members": {
                    "DomainName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DomainName": {},
                    "AccountEmailOptions": {
                        "type": "structure",
                        "members": {
                            "ContactEmail": {
                                "type": "string",
                                "sensitive": true
                            },
                            "LearnMoreLink": {}
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSQPLGRAJ76YKWMPJOHDCTHGWAP4EWKRCWRGZKOY2Y4KG4DJRKHA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQP544QMOG7JBB46UUTTKJTPG3NU3VZOZWKRVMSFJVSWV7CBVW5Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W252ZTLHRIFSN6XHHE75HP3226LDYPYKVBZJCWNQEOZ7ASXHYB4Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRP6SKMUQ42QVMU3QXAS45TMSUAHPJW6F2HSNMHDOHNXCYFQAUPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJ3U3PK5NDNIFEXO4GF7K3XSDNM4K3PE4NJSVAR6LRU4WBEPKGNQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3OEAOLGD5YIPD4N7RBDHFKI56HGX4SK5U6VDIEW2TUCWN7NL6LUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GAVNNWAP2Y4TIH6ZIJKD5HIQMOG4UCKRTFC5FXGUOV7EELONZNNQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WUGATSHC6L5MGKBQ4OIRO4HYJCE4RICMHLYFN4AJWUSOLRC2SRIQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HP2TVLSR7ICG43ZGAIMKFFBE442TTICEWMUGLKT4RQDFOKYYYAAQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XV4GAHV3HWAPK43EGDVLPL7XHEF2M6FULNP74NMDCGXMU2GVWZPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TDMIBNIYHLLO26HMD2QVOJ2WFMZNSUAMTAMV4I2JSIIAHADKRLPQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OB62NEVOBDKV5UCJ2VRHBYRGJFOG4WJ4SXR5F2FXZZBUHI33FATQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGNIKKEN55UDOZNGKKSFD26JC3O6O5PIHCPYNN4SSOCXDACGPMEA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XKJRKT6NYJ5UUFS7EFM3F53GET7BU6G7TKPOJCBYMWR3NCPQZSQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNZUKLFHCJNKRQREJLZ3VGX4VHDJDU7LQFDZSMZ36JBU66C6XAYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SKT5RMT3ZV4GTRVXCCD6Q3LUK5JRK2BJUI2NWRQKRZW4P656NPXA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6OSTZC4O7MSGYNYTIXDH5ZJT7SVGF676YNJN7YNK5SURTSX6B2A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T2UBPDTYMRVKV2CL7G5TEZIE6DEUVE4YBXTEM42SRPZEOKRHCJXQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XM4USJ55BG54T74OTVQH7UNJLUSYDSKYPUCA53J463OF2QXQKI7A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MYW3U2AEDD3PRK2IEBKZRZZ5MBKI7X6T4ZZZEDXXAVJ5ON6EVZKA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SREG46BDO5BTLHOSX6WVMAE3VGDSUNCM2YPTLEMMOCVQPTUSVW7Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXWHXRH3LKFJNVNZF4VGTJ4H22KD4K5XVXVLTX5MLXZFW2LK4FCA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2IA6Q7M22SAR7OSEQBJNJ33EALCCYW5523IDOGD47MRB5RTFI3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZ2EPWTZ5TAX5TUI5L2LVOFBZUHZJWKDM44HKULB2PXO4GRBEHQA/vendor.js"
            ]
        },
        "GetEAFAgreementAcceptance": {
            "output": {
                "type": "structure",
                "members": {
                    "AgreementAccepted": {
                        "type": "boolean"
                    },
                    "AcceptanceDate": {
                        "type": "timestamp"
                    },
                    "AcceptingUser": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSQPLGRAJ76YKWMPJOHDCTHGWAP4EWKRCWRGZKOY2Y4KG4DJRKHA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQP544QMOG7JBB46UUTTKJTPG3NU3VZOZWKRVMSFJVSWV7CBVW5Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W252ZTLHRIFSN6XHHE75HP3226LDYPYKVBZJCWNQEOZ7ASXHYB4Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRP6SKMUQ42QVMU3QXAS45TMSUAHPJW6F2HSNMHDOHNXCYFQAUPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJ3U3PK5NDNIFEXO4GF7K3XSDNM4K3PE4NJSVAR6LRU4WBEPKGNQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3OEAOLGD5YIPD4N7RBDHFKI56HGX4SK5U6VDIEW2TUCWN7NL6LUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GAVNNWAP2Y4TIH6ZIJKD5HIQMOG4UCKRTFC5FXGUOV7EELONZNNQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WUGATSHC6L5MGKBQ4OIRO4HYJCE4RICMHLYFN4AJWUSOLRC2SRIQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HP2TVLSR7ICG43ZGAIMKFFBE442TTICEWMUGLKT4RQDFOKYYYAAQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XV4GAHV3HWAPK43EGDVLPL7XHEF2M6FULNP74NMDCGXMU2GVWZPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TDMIBNIYHLLO26HMD2QVOJ2WFMZNSUAMTAMV4I2JSIIAHADKRLPQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OB62NEVOBDKV5UCJ2VRHBYRGJFOG4WJ4SXR5F2FXZZBUHI33FATQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGNIKKEN55UDOZNGKKSFD26JC3O6O5PIHCPYNN4SSOCXDACGPMEA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XKJRKT6NYJ5UUFS7EFM3F53GET7BU6G7TKPOJCBYMWR3NCPQZSQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNZUKLFHCJNKRQREJLZ3VGX4VHDJDU7LQFDZSMZ36JBU66C6XAYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SKT5RMT3ZV4GTRVXCCD6Q3LUK5JRK2BJUI2NWRQKRZW4P656NPXA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6OSTZC4O7MSGYNYTIXDH5ZJT7SVGF676YNJN7YNK5SURTSX6B2A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T2UBPDTYMRVKV2CL7G5TEZIE6DEUVE4YBXTEM42SRPZEOKRHCJXQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XM4USJ55BG54T74OTVQH7UNJLUSYDSKYPUCA53J463OF2QXQKI7A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MYW3U2AEDD3PRK2IEBKZRZZ5MBKI7X6T4ZZZEDXXAVJ5ON6EVZKA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SREG46BDO5BTLHOSX6WVMAE3VGDSUNCM2YPTLEMMOCVQPTUSVW7Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXWHXRH3LKFJNVNZF4VGTJ4H22KD4K5XVXVLTX5MLXZFW2LK4FCA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2IA6Q7M22SAR7OSEQBJNJ33EALCCYW5523IDOGD47MRB5RTFI3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZ2EPWTZ5TAX5TUI5L2LVOFBZUHZJWKDM44HKULB2PXO4GRBEHQA/vendor.js"
            ]
        },
        "GetEAFAgreementDocument": {
            "input": {
                "type": "structure",
                "required": [
                    "Locale"
                ],
                "members": {
                    "Locale": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "EAFAgreementDocument": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSQPLGRAJ76YKWMPJOHDCTHGWAP4EWKRCWRGZKOY2Y4KG4DJRKHA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQP544QMOG7JBB46UUTTKJTPG3NU3VZOZWKRVMSFJVSWV7CBVW5Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W252ZTLHRIFSN6XHHE75HP3226LDYPYKVBZJCWNQEOZ7ASXHYB4Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRP6SKMUQ42QVMU3QXAS45TMSUAHPJW6F2HSNMHDOHNXCYFQAUPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJ3U3PK5NDNIFEXO4GF7K3XSDNM4K3PE4NJSVAR6LRU4WBEPKGNQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3OEAOLGD5YIPD4N7RBDHFKI56HGX4SK5U6VDIEW2TUCWN7NL6LUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GAVNNWAP2Y4TIH6ZIJKD5HIQMOG4UCKRTFC5FXGUOV7EELONZNNQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WUGATSHC6L5MGKBQ4OIRO4HYJCE4RICMHLYFN4AJWUSOLRC2SRIQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HP2TVLSR7ICG43ZGAIMKFFBE442TTICEWMUGLKT4RQDFOKYYYAAQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XV4GAHV3HWAPK43EGDVLPL7XHEF2M6FULNP74NMDCGXMU2GVWZPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TDMIBNIYHLLO26HMD2QVOJ2WFMZNSUAMTAMV4I2JSIIAHADKRLPQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OB62NEVOBDKV5UCJ2VRHBYRGJFOG4WJ4SXR5F2FXZZBUHI33FATQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGNIKKEN55UDOZNGKKSFD26JC3O6O5PIHCPYNN4SSOCXDACGPMEA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XKJRKT6NYJ5UUFS7EFM3F53GET7BU6G7TKPOJCBYMWR3NCPQZSQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNZUKLFHCJNKRQREJLZ3VGX4VHDJDU7LQFDZSMZ36JBU66C6XAYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SKT5RMT3ZV4GTRVXCCD6Q3LUK5JRK2BJUI2NWRQKRZW4P656NPXA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6OSTZC4O7MSGYNYTIXDH5ZJT7SVGF676YNJN7YNK5SURTSX6B2A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T2UBPDTYMRVKV2CL7G5TEZIE6DEUVE4YBXTEM42SRPZEOKRHCJXQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XM4USJ55BG54T74OTVQH7UNJLUSYDSKYPUCA53J463OF2QXQKI7A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MYW3U2AEDD3PRK2IEBKZRZZ5MBKI7X6T4ZZZEDXXAVJ5ON6EVZKA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SREG46BDO5BTLHOSX6WVMAE3VGDSUNCM2YPTLEMMOCVQPTUSVW7Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXWHXRH3LKFJNVNZF4VGTJ4H22KD4K5XVXVLTX5MLXZFW2LK4FCA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2IA6Q7M22SAR7OSEQBJNJ33EALCCYW5523IDOGD47MRB5RTFI3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZ2EPWTZ5TAX5TUI5L2LVOFBZUHZJWKDM44HKULB2PXO4GRBEHQA/vendor.js"
            ]
        },
        "GetEmailAddressVerificationStatus": {
            "output": {
                "type": "structure",
                "members": {
                    "VerificationStatus": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSQPLGRAJ76YKWMPJOHDCTHGWAP4EWKRCWRGZKOY2Y4KG4DJRKHA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQP544QMOG7JBB46UUTTKJTPG3NU3VZOZWKRVMSFJVSWV7CBVW5Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W252ZTLHRIFSN6XHHE75HP3226LDYPYKVBZJCWNQEOZ7ASXHYB4Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRP6SKMUQ42QVMU3QXAS45TMSUAHPJW6F2HSNMHDOHNXCYFQAUPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJ3U3PK5NDNIFEXO4GF7K3XSDNM4K3PE4NJSVAR6LRU4WBEPKGNQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3OEAOLGD5YIPD4N7RBDHFKI56HGX4SK5U6VDIEW2TUCWN7NL6LUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GAVNNWAP2Y4TIH6ZIJKD5HIQMOG4UCKRTFC5FXGUOV7EELONZNNQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WUGATSHC6L5MGKBQ4OIRO4HYJCE4RICMHLYFN4AJWUSOLRC2SRIQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HP2TVLSR7ICG43ZGAIMKFFBE442TTICEWMUGLKT4RQDFOKYYYAAQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XV4GAHV3HWAPK43EGDVLPL7XHEF2M6FULNP74NMDCGXMU2GVWZPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TDMIBNIYHLLO26HMD2QVOJ2WFMZNSUAMTAMV4I2JSIIAHADKRLPQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OB62NEVOBDKV5UCJ2VRHBYRGJFOG4WJ4SXR5F2FXZZBUHI33FATQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGNIKKEN55UDOZNGKKSFD26JC3O6O5PIHCPYNN4SSOCXDACGPMEA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XKJRKT6NYJ5UUFS7EFM3F53GET7BU6G7TKPOJCBYMWR3NCPQZSQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNZUKLFHCJNKRQREJLZ3VGX4VHDJDU7LQFDZSMZ36JBU66C6XAYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SKT5RMT3ZV4GTRVXCCD6Q3LUK5JRK2BJUI2NWRQKRZW4P656NPXA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6OSTZC4O7MSGYNYTIXDH5ZJT7SVGF676YNJN7YNK5SURTSX6B2A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T2UBPDTYMRVKV2CL7G5TEZIE6DEUVE4YBXTEM42SRPZEOKRHCJXQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XM4USJ55BG54T74OTVQH7UNJLUSYDSKYPUCA53J463OF2QXQKI7A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MYW3U2AEDD3PRK2IEBKZRZZ5MBKI7X6T4ZZZEDXXAVJ5ON6EVZKA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SREG46BDO5BTLHOSX6WVMAE3VGDSUNCM2YPTLEMMOCVQPTUSVW7Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXWHXRH3LKFJNVNZF4VGTJ4H22KD4K5XVXVLTX5MLXZFW2LK4FCA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2IA6Q7M22SAR7OSEQBJNJ33EALCCYW5523IDOGD47MRB5RTFI3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZ2EPWTZ5TAX5TUI5L2LVOFBZUHZJWKDM44HKULB2PXO4GRBEHQA/vendor.js"
            ]
        },
        "InitiateEmailAddressVerification": {
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSQPLGRAJ76YKWMPJOHDCTHGWAP4EWKRCWRGZKOY2Y4KG4DJRKHA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQP544QMOG7JBB46UUTTKJTPG3NU3VZOZWKRVMSFJVSWV7CBVW5Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W252ZTLHRIFSN6XHHE75HP3226LDYPYKVBZJCWNQEOZ7ASXHYB4Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRP6SKMUQ42QVMU3QXAS45TMSUAHPJW6F2HSNMHDOHNXCYFQAUPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJ3U3PK5NDNIFEXO4GF7K3XSDNM4K3PE4NJSVAR6LRU4WBEPKGNQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3OEAOLGD5YIPD4N7RBDHFKI56HGX4SK5U6VDIEW2TUCWN7NL6LUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GAVNNWAP2Y4TIH6ZIJKD5HIQMOG4UCKRTFC5FXGUOV7EELONZNNQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WUGATSHC6L5MGKBQ4OIRO4HYJCE4RICMHLYFN4AJWUSOLRC2SRIQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HP2TVLSR7ICG43ZGAIMKFFBE442TTICEWMUGLKT4RQDFOKYYYAAQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XV4GAHV3HWAPK43EGDVLPL7XHEF2M6FULNP74NMDCGXMU2GVWZPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TDMIBNIYHLLO26HMD2QVOJ2WFMZNSUAMTAMV4I2JSIIAHADKRLPQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OB62NEVOBDKV5UCJ2VRHBYRGJFOG4WJ4SXR5F2FXZZBUHI33FATQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGNIKKEN55UDOZNGKKSFD26JC3O6O5PIHCPYNN4SSOCXDACGPMEA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XKJRKT6NYJ5UUFS7EFM3F53GET7BU6G7TKPOJCBYMWR3NCPQZSQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNZUKLFHCJNKRQREJLZ3VGX4VHDJDU7LQFDZSMZ36JBU66C6XAYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SKT5RMT3ZV4GTRVXCCD6Q3LUK5JRK2BJUI2NWRQKRZW4P656NPXA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6OSTZC4O7MSGYNYTIXDH5ZJT7SVGF676YNJN7YNK5SURTSX6B2A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T2UBPDTYMRVKV2CL7G5TEZIE6DEUVE4YBXTEM42SRPZEOKRHCJXQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XM4USJ55BG54T74OTVQH7UNJLUSYDSKYPUCA53J463OF2QXQKI7A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MYW3U2AEDD3PRK2IEBKZRZZ5MBKI7X6T4ZZZEDXXAVJ5ON6EVZKA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SREG46BDO5BTLHOSX6WVMAE3VGDSUNCM2YPTLEMMOCVQPTUSVW7Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXWHXRH3LKFJNVNZF4VGTJ4H22KD4K5XVXVLTX5MLXZFW2LK4FCA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2IA6Q7M22SAR7OSEQBJNJ33EALCCYW5523IDOGD47MRB5RTFI3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZ2EPWTZ5TAX5TUI5L2LVOFBZUHZJWKDM44HKULB2PXO4GRBEHQA/vendor.js"
            ]
        },
        "IsFeatureEnabled": {
            "input": {
                "type": "structure",
                "required": [
                    "Feature"
                ],
                "members": {
                    "Feature": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Enabled"
                ],
                "members": {
                    "Enabled": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSQPLGRAJ76YKWMPJOHDCTHGWAP4EWKRCWRGZKOY2Y4KG4DJRKHA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQP544QMOG7JBB46UUTTKJTPG3NU3VZOZWKRVMSFJVSWV7CBVW5Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W252ZTLHRIFSN6XHHE75HP3226LDYPYKVBZJCWNQEOZ7ASXHYB4Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRP6SKMUQ42QVMU3QXAS45TMSUAHPJW6F2HSNMHDOHNXCYFQAUPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJ3U3PK5NDNIFEXO4GF7K3XSDNM4K3PE4NJSVAR6LRU4WBEPKGNQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3OEAOLGD5YIPD4N7RBDHFKI56HGX4SK5U6VDIEW2TUCWN7NL6LUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GAVNNWAP2Y4TIH6ZIJKD5HIQMOG4UCKRTFC5FXGUOV7EELONZNNQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WUGATSHC6L5MGKBQ4OIRO4HYJCE4RICMHLYFN4AJWUSOLRC2SRIQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HP2TVLSR7ICG43ZGAIMKFFBE442TTICEWMUGLKT4RQDFOKYYYAAQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XV4GAHV3HWAPK43EGDVLPL7XHEF2M6FULNP74NMDCGXMU2GVWZPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TDMIBNIYHLLO26HMD2QVOJ2WFMZNSUAMTAMV4I2JSIIAHADKRLPQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OB62NEVOBDKV5UCJ2VRHBYRGJFOG4WJ4SXR5F2FXZZBUHI33FATQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGNIKKEN55UDOZNGKKSFD26JC3O6O5PIHCPYNN4SSOCXDACGPMEA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XKJRKT6NYJ5UUFS7EFM3F53GET7BU6G7TKPOJCBYMWR3NCPQZSQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNZUKLFHCJNKRQREJLZ3VGX4VHDJDU7LQFDZSMZ36JBU66C6XAYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SKT5RMT3ZV4GTRVXCCD6Q3LUK5JRK2BJUI2NWRQKRZW4P656NPXA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6OSTZC4O7MSGYNYTIXDH5ZJT7SVGF676YNJN7YNK5SURTSX6B2A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T2UBPDTYMRVKV2CL7G5TEZIE6DEUVE4YBXTEM42SRPZEOKRHCJXQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XM4USJ55BG54T74OTVQH7UNJLUSYDSKYPUCA53J463OF2QXQKI7A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MYW3U2AEDD3PRK2IEBKZRZZ5MBKI7X6T4ZZZEDXXAVJ5ON6EVZKA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SREG46BDO5BTLHOSX6WVMAE3VGDSUNCM2YPTLEMMOCVQPTUSVW7Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXWHXRH3LKFJNVNZF4VGTJ4H22KD4K5XVXVLTX5MLXZFW2LK4FCA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2IA6Q7M22SAR7OSEQBJNJ33EALCCYW5523IDOGD47MRB5RTFI3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZ2EPWTZ5TAX5TUI5L2LVOFBZUHZJWKDM44HKULB2PXO4GRBEHQA/vendor.js"
            ]
        },
        "ListEnabledActions": {
            "output": {
                "type": "structure",
                "members": {
                    "EnabledActions": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSQPLGRAJ76YKWMPJOHDCTHGWAP4EWKRCWRGZKOY2Y4KG4DJRKHA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQP544QMOG7JBB46UUTTKJTPG3NU3VZOZWKRVMSFJVSWV7CBVW5Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W252ZTLHRIFSN6XHHE75HP3226LDYPYKVBZJCWNQEOZ7ASXHYB4Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRP6SKMUQ42QVMU3QXAS45TMSUAHPJW6F2HSNMHDOHNXCYFQAUPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJ3U3PK5NDNIFEXO4GF7K3XSDNM4K3PE4NJSVAR6LRU4WBEPKGNQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3OEAOLGD5YIPD4N7RBDHFKI56HGX4SK5U6VDIEW2TUCWN7NL6LUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GAVNNWAP2Y4TIH6ZIJKD5HIQMOG4UCKRTFC5FXGUOV7EELONZNNQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WUGATSHC6L5MGKBQ4OIRO4HYJCE4RICMHLYFN4AJWUSOLRC2SRIQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HP2TVLSR7ICG43ZGAIMKFFBE442TTICEWMUGLKT4RQDFOKYYYAAQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XV4GAHV3HWAPK43EGDVLPL7XHEF2M6FULNP74NMDCGXMU2GVWZPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TDMIBNIYHLLO26HMD2QVOJ2WFMZNSUAMTAMV4I2JSIIAHADKRLPQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OB62NEVOBDKV5UCJ2VRHBYRGJFOG4WJ4SXR5F2FXZZBUHI33FATQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGNIKKEN55UDOZNGKKSFD26JC3O6O5PIHCPYNN4SSOCXDACGPMEA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XKJRKT6NYJ5UUFS7EFM3F53GET7BU6G7TKPOJCBYMWR3NCPQZSQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNZUKLFHCJNKRQREJLZ3VGX4VHDJDU7LQFDZSMZ36JBU66C6XAYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SKT5RMT3ZV4GTRVXCCD6Q3LUK5JRK2BJUI2NWRQKRZW4P656NPXA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6OSTZC4O7MSGYNYTIXDH5ZJT7SVGF676YNJN7YNK5SURTSX6B2A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T2UBPDTYMRVKV2CL7G5TEZIE6DEUVE4YBXTEM42SRPZEOKRHCJXQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XM4USJ55BG54T74OTVQH7UNJLUSYDSKYPUCA53J463OF2QXQKI7A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MYW3U2AEDD3PRK2IEBKZRZZ5MBKI7X6T4ZZZEDXXAVJ5ON6EVZKA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SREG46BDO5BTLHOSX6WVMAE3VGDSUNCM2YPTLEMMOCVQPTUSVW7Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXWHXRH3LKFJNVNZF4VGTJ4H22KD4K5XVXVLTX5MLXZFW2LK4FCA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2IA6Q7M22SAR7OSEQBJNJ33EALCCYW5523IDOGD47MRB5RTFI3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZ2EPWTZ5TAX5TUI5L2LVOFBZUHZJWKDM44HKULB2PXO4GRBEHQA/vendor.js"
            ]
        },
        "ListSDFServiceActions": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceName"
                ],
                "members": {
                    "ServiceName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "SDFServiceActions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ActionName": {},
                                "Name": {},
                                "ApiDocRelative": {},
                                "ActionGroups": {
                                    "shape": "Sw"
                                },
                                "ContextKeysRef": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "DocPageRelative": {},
                                            "DocPage": {},
                                            "Description": {},
                                            "Type": {},
                                            "Name": {}
                                        }
                                    }
                                },
                                "Description": {},
                                "DocPage": {},
                                "DocPageRelative": {},
                                "OptionalResources": {
                                    "shape": "Sw"
                                },
                                "RequiredResources": {
                                    "shape": "Sw"
                                },
                                "RequiredActions": {
                                    "shape": "Sw"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSQPLGRAJ76YKWMPJOHDCTHGWAP4EWKRCWRGZKOY2Y4KG4DJRKHA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQP544QMOG7JBB46UUTTKJTPG3NU3VZOZWKRVMSFJVSWV7CBVW5Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W252ZTLHRIFSN6XHHE75HP3226LDYPYKVBZJCWNQEOZ7ASXHYB4Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRP6SKMUQ42QVMU3QXAS45TMSUAHPJW6F2HSNMHDOHNXCYFQAUPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJ3U3PK5NDNIFEXO4GF7K3XSDNM4K3PE4NJSVAR6LRU4WBEPKGNQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3OEAOLGD5YIPD4N7RBDHFKI56HGX4SK5U6VDIEW2TUCWN7NL6LUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GAVNNWAP2Y4TIH6ZIJKD5HIQMOG4UCKRTFC5FXGUOV7EELONZNNQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WUGATSHC6L5MGKBQ4OIRO4HYJCE4RICMHLYFN4AJWUSOLRC2SRIQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HP2TVLSR7ICG43ZGAIMKFFBE442TTICEWMUGLKT4RQDFOKYYYAAQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XV4GAHV3HWAPK43EGDVLPL7XHEF2M6FULNP74NMDCGXMU2GVWZPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TDMIBNIYHLLO26HMD2QVOJ2WFMZNSUAMTAMV4I2JSIIAHADKRLPQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OB62NEVOBDKV5UCJ2VRHBYRGJFOG4WJ4SXR5F2FXZZBUHI33FATQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGNIKKEN55UDOZNGKKSFD26JC3O6O5PIHCPYNN4SSOCXDACGPMEA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XKJRKT6NYJ5UUFS7EFM3F53GET7BU6G7TKPOJCBYMWR3NCPQZSQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNZUKLFHCJNKRQREJLZ3VGX4VHDJDU7LQFDZSMZ36JBU66C6XAYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SKT5RMT3ZV4GTRVXCCD6Q3LUK5JRK2BJUI2NWRQKRZW4P656NPXA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6OSTZC4O7MSGYNYTIXDH5ZJT7SVGF676YNJN7YNK5SURTSX6B2A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T2UBPDTYMRVKV2CL7G5TEZIE6DEUVE4YBXTEM42SRPZEOKRHCJXQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XM4USJ55BG54T74OTVQH7UNJLUSYDSKYPUCA53J463OF2QXQKI7A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MYW3U2AEDD3PRK2IEBKZRZZ5MBKI7X6T4ZZZEDXXAVJ5ON6EVZKA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SREG46BDO5BTLHOSX6WVMAE3VGDSUNCM2YPTLEMMOCVQPTUSVW7Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXWHXRH3LKFJNVNZF4VGTJ4H22KD4K5XVXVLTX5MLXZFW2LK4FCA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2IA6Q7M22SAR7OSEQBJNJ33EALCCYW5523IDOGD47MRB5RTFI3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZ2EPWTZ5TAX5TUI5L2LVOFBZUHZJWKDM44HKULB2PXO4GRBEHQA/vendor.js"
            ]
        },
        "ListSDFServiceContextKeys": {
            "output": {
                "type": "structure",
                "members": {
                    "SDFServiceContextKeys": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ServiceDisplayName": {},
                                "DocPageRelative": {},
                                "DocPage": {},
                                "Description": {},
                                "Type": {},
                                "Name": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSQPLGRAJ76YKWMPJOHDCTHGWAP4EWKRCWRGZKOY2Y4KG4DJRKHA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQP544QMOG7JBB46UUTTKJTPG3NU3VZOZWKRVMSFJVSWV7CBVW5Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W252ZTLHRIFSN6XHHE75HP3226LDYPYKVBZJCWNQEOZ7ASXHYB4Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRP6SKMUQ42QVMU3QXAS45TMSUAHPJW6F2HSNMHDOHNXCYFQAUPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJ3U3PK5NDNIFEXO4GF7K3XSDNM4K3PE4NJSVAR6LRU4WBEPKGNQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3OEAOLGD5YIPD4N7RBDHFKI56HGX4SK5U6VDIEW2TUCWN7NL6LUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GAVNNWAP2Y4TIH6ZIJKD5HIQMOG4UCKRTFC5FXGUOV7EELONZNNQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WUGATSHC6L5MGKBQ4OIRO4HYJCE4RICMHLYFN4AJWUSOLRC2SRIQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HP2TVLSR7ICG43ZGAIMKFFBE442TTICEWMUGLKT4RQDFOKYYYAAQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XV4GAHV3HWAPK43EGDVLPL7XHEF2M6FULNP74NMDCGXMU2GVWZPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TDMIBNIYHLLO26HMD2QVOJ2WFMZNSUAMTAMV4I2JSIIAHADKRLPQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OB62NEVOBDKV5UCJ2VRHBYRGJFOG4WJ4SXR5F2FXZZBUHI33FATQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGNIKKEN55UDOZNGKKSFD26JC3O6O5PIHCPYNN4SSOCXDACGPMEA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XKJRKT6NYJ5UUFS7EFM3F53GET7BU6G7TKPOJCBYMWR3NCPQZSQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNZUKLFHCJNKRQREJLZ3VGX4VHDJDU7LQFDZSMZ36JBU66C6XAYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SKT5RMT3ZV4GTRVXCCD6Q3LUK5JRK2BJUI2NWRQKRZW4P656NPXA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6OSTZC4O7MSGYNYTIXDH5ZJT7SVGF676YNJN7YNK5SURTSX6B2A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T2UBPDTYMRVKV2CL7G5TEZIE6DEUVE4YBXTEM42SRPZEOKRHCJXQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XM4USJ55BG54T74OTVQH7UNJLUSYDSKYPUCA53J463OF2QXQKI7A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MYW3U2AEDD3PRK2IEBKZRZZ5MBKI7X6T4ZZZEDXXAVJ5ON6EVZKA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SREG46BDO5BTLHOSX6WVMAE3VGDSUNCM2YPTLEMMOCVQPTUSVW7Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXWHXRH3LKFJNVNZF4VGTJ4H22KD4K5XVXVLTX5MLXZFW2LK4FCA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2IA6Q7M22SAR7OSEQBJNJ33EALCCYW5523IDOGD47MRB5RTFI3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZ2EPWTZ5TAX5TUI5L2LVOFBZUHZJWKDM44HKULB2PXO4GRBEHQA/vendor.js"
            ]
        },
        "ListSDFServiceResources": {
            "output": {
                "type": "structure",
                "members": {
                    "SDFServiceResources": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Arn": {},
                                "Description": {},
                                "DocPage": {},
                                "DocPageRelative": {},
                                "ResourceName": {},
                                "ServiceDisplayName": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSQPLGRAJ76YKWMPJOHDCTHGWAP4EWKRCWRGZKOY2Y4KG4DJRKHA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQP544QMOG7JBB46UUTTKJTPG3NU3VZOZWKRVMSFJVSWV7CBVW5Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W252ZTLHRIFSN6XHHE75HP3226LDYPYKVBZJCWNQEOZ7ASXHYB4Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRP6SKMUQ42QVMU3QXAS45TMSUAHPJW6F2HSNMHDOHNXCYFQAUPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJ3U3PK5NDNIFEXO4GF7K3XSDNM4K3PE4NJSVAR6LRU4WBEPKGNQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3OEAOLGD5YIPD4N7RBDHFKI56HGX4SK5U6VDIEW2TUCWN7NL6LUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GAVNNWAP2Y4TIH6ZIJKD5HIQMOG4UCKRTFC5FXGUOV7EELONZNNQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WUGATSHC6L5MGKBQ4OIRO4HYJCE4RICMHLYFN4AJWUSOLRC2SRIQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HP2TVLSR7ICG43ZGAIMKFFBE442TTICEWMUGLKT4RQDFOKYYYAAQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XV4GAHV3HWAPK43EGDVLPL7XHEF2M6FULNP74NMDCGXMU2GVWZPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TDMIBNIYHLLO26HMD2QVOJ2WFMZNSUAMTAMV4I2JSIIAHADKRLPQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OB62NEVOBDKV5UCJ2VRHBYRGJFOG4WJ4SXR5F2FXZZBUHI33FATQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGNIKKEN55UDOZNGKKSFD26JC3O6O5PIHCPYNN4SSOCXDACGPMEA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XKJRKT6NYJ5UUFS7EFM3F53GET7BU6G7TKPOJCBYMWR3NCPQZSQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNZUKLFHCJNKRQREJLZ3VGX4VHDJDU7LQFDZSMZ36JBU66C6XAYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SKT5RMT3ZV4GTRVXCCD6Q3LUK5JRK2BJUI2NWRQKRZW4P656NPXA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6OSTZC4O7MSGYNYTIXDH5ZJT7SVGF676YNJN7YNK5SURTSX6B2A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T2UBPDTYMRVKV2CL7G5TEZIE6DEUVE4YBXTEM42SRPZEOKRHCJXQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XM4USJ55BG54T74OTVQH7UNJLUSYDSKYPUCA53J463OF2QXQKI7A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MYW3U2AEDD3PRK2IEBKZRZZ5MBKI7X6T4ZZZEDXXAVJ5ON6EVZKA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SREG46BDO5BTLHOSX6WVMAE3VGDSUNCM2YPTLEMMOCVQPTUSVW7Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXWHXRH3LKFJNVNZF4VGTJ4H22KD4K5XVXVLTX5MLXZFW2LK4FCA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2IA6Q7M22SAR7OSEQBJNJ33EALCCYW5523IDOGD47MRB5RTFI3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZ2EPWTZ5TAX5TUI5L2LVOFBZUHZJWKDM44HKULB2PXO4GRBEHQA/vendor.js"
            ]
        },
        "ListSDFServices": {
            "output": {
                "type": "structure",
                "members": {
                    "SDFServices": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ServiceName": {},
                                "ServiceDisplayName": {},
                                "ServiceKeyName": {},
                                "ActionsDocRoot": {},
                                "ApiDetailRoot": {},
                                "ApiDocRoot": {},
                                "ApiReferenceDocPage": {},
                                "ArnFormat": {},
                                "ArnRegex": {},
                                "AuthZDocPage": {},
                                "ConceptsDocRoot": {},
                                "ContextKeysDocRoot": {},
                                "Description": {},
                                "ResourcesDocRoot": {},
                                "DisplayName": {},
                                "Name": {},
                                "UserGuideDocPage": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSQPLGRAJ76YKWMPJOHDCTHGWAP4EWKRCWRGZKOY2Y4KG4DJRKHA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQP544QMOG7JBB46UUTTKJTPG3NU3VZOZWKRVMSFJVSWV7CBVW5Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W252ZTLHRIFSN6XHHE75HP3226LDYPYKVBZJCWNQEOZ7ASXHYB4Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRP6SKMUQ42QVMU3QXAS45TMSUAHPJW6F2HSNMHDOHNXCYFQAUPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJ3U3PK5NDNIFEXO4GF7K3XSDNM4K3PE4NJSVAR6LRU4WBEPKGNQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3OEAOLGD5YIPD4N7RBDHFKI56HGX4SK5U6VDIEW2TUCWN7NL6LUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GAVNNWAP2Y4TIH6ZIJKD5HIQMOG4UCKRTFC5FXGUOV7EELONZNNQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WUGATSHC6L5MGKBQ4OIRO4HYJCE4RICMHLYFN4AJWUSOLRC2SRIQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HP2TVLSR7ICG43ZGAIMKFFBE442TTICEWMUGLKT4RQDFOKYYYAAQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XV4GAHV3HWAPK43EGDVLPL7XHEF2M6FULNP74NMDCGXMU2GVWZPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TDMIBNIYHLLO26HMD2QVOJ2WFMZNSUAMTAMV4I2JSIIAHADKRLPQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OB62NEVOBDKV5UCJ2VRHBYRGJFOG4WJ4SXR5F2FXZZBUHI33FATQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGNIKKEN55UDOZNGKKSFD26JC3O6O5PIHCPYNN4SSOCXDACGPMEA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XKJRKT6NYJ5UUFS7EFM3F53GET7BU6G7TKPOJCBYMWR3NCPQZSQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNZUKLFHCJNKRQREJLZ3VGX4VHDJDU7LQFDZSMZ36JBU66C6XAYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SKT5RMT3ZV4GTRVXCCD6Q3LUK5JRK2BJUI2NWRQKRZW4P656NPXA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6OSTZC4O7MSGYNYTIXDH5ZJT7SVGF676YNJN7YNK5SURTSX6B2A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T2UBPDTYMRVKV2CL7G5TEZIE6DEUVE4YBXTEM42SRPZEOKRHCJXQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XM4USJ55BG54T74OTVQH7UNJLUSYDSKYPUCA53J463OF2QXQKI7A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MYW3U2AEDD3PRK2IEBKZRZZ5MBKI7X6T4ZZZEDXXAVJ5ON6EVZKA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SREG46BDO5BTLHOSX6WVMAE3VGDSUNCM2YPTLEMMOCVQPTUSVW7Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXWHXRH3LKFJNVNZF4VGTJ4H22KD4K5XVXVLTX5MLXZFW2LK4FCA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2IA6Q7M22SAR7OSEQBJNJ33EALCCYW5523IDOGD47MRB5RTFI3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZ2EPWTZ5TAX5TUI5L2LVOFBZUHZJWKDM44HKULB2PXO4GRBEHQA/vendor.js"
            ]
        }
    },
    "shapes": {
        "Sw": {
            "type": "list",
            "member": {}
        }
    }
}