{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2016-11-28",
        "endpointPrefix": "organizations",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceAbbreviation": "Organizations",
        "serviceFullName": "AWS Organizations",
        "serviceId": "Organizations",
        "signatureVersion": "v4",
        "targetPrefix": "AWSOrganizationsV20161128",
        "uid": "organizations-2016-11-28",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WVFU367HZSYD477AFZLCSVZHRFCOM7XVQBVVRWIS2WC2IYEI4CSQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DLTC7MONH4PMHQCWYJN7A3WG75MWYGC4OK2W2P27LLU6QY3DBDQQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EKZ5XVSGZPJNCVRQCPF5XYEWE6IOGCKB5V4HX2CRUSUZKFWJHK2Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XK44QEG4JU7NHKHSZMWR5UK6MPC3BOZSQWTCGCVFXZHIC7BQHQQA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5JZBLMCVBB44HNTSVLZFU43VYTKXUTY34VQDSHWZSDP36B22S74Q/index.en.v2.js",
            "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AWZGHUCKWLF6UT5DQLPOZ3RE7ZEYL3SRDH3OLVWEMOG7RIBDLHMA/vendor.awssdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~253ae210.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/BYRJSFFPKDPQWF4ZFHDFTPU6AISHPH2Q3Z7GYOGQQNIV3KCKYHAA/ta_polaris.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/IKB6OBK7DEENVH5J4P6P6B2UWIFEB2HEFV66QXXRL3YEGOXDJKGA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EEHFELK3TUT7SU4CLA5FXFKH3LUDJILHX67S3NKUIAOJ5UXTVGPA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VYXAFSYBXCXCETO62NVFRB5LZG2DPED6DBG4VJ6CZPFZKLO6PBJQ/b23a797b874350169ae89b3f6c7e298f.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/O2B2V6N5M6F2D3VQSBXTMOLBWMH3GRZHAHW3FOKHWTXEMUUP7X7Q/vendors.sdk.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YKTCMNRLKRZTINYOAC5YFO5NGMGW3OJ7XZKXQBGJVQGXYSSICZSQ/a731fdb9bb007b7ca02d675e9fc738d5.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OLRY3WB4PADQIODRPUPMTRSDWNY7MT53XHEBF3UQHHQDJEVDIFUQ/main.tb.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TIWGCJYFKOEZQPJ4BFASNVJMQFXC3FTMLAC63VKZMXS47GPDH7ZA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
            "https://d29sfhxsuc7nqn.cloudfront.net/content/9597f4d7-a535-439c-af13-77558cad0167/vendorv3.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js"
        ]
    },
    "operations": {
        "AcceptHandshake": {
            "input": {
                "type": "structure",
                "required": [
                    "HandshakeId"
                ],
                "members": {
                    "HandshakeId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Handshake": {
                        "shape": "S4"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVFU367HZSYD477AFZLCSVZHRFCOM7XVQBVVRWIS2WC2IYEI4CSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLTC7MONH4PMHQCWYJN7A3WG75MWYGC4OK2W2P27LLU6QY3DBDQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKZ5XVSGZPJNCVRQCPF5XYEWE6IOGCKB5V4HX2CRUSUZKFWJHK2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XK44QEG4JU7NHKHSZMWR5UK6MPC3BOZSQWTCGCVFXZHIC7BQHQQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JZBLMCVBB44HNTSVLZFU43VYTKXUTY34VQDSHWZSDP36B22S74Q/index.en.v2.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWZGHUCKWLF6UT5DQLPOZ3RE7ZEYL3SRDH3OLVWEMOG7RIBDLHMA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~253ae210.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BYRJSFFPKDPQWF4ZFHDFTPU6AISHPH2Q3Z7GYOGQQNIV3KCKYHAA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IKB6OBK7DEENVH5J4P6P6B2UWIFEB2HEFV66QXXRL3YEGOXDJKGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEHFELK3TUT7SU4CLA5FXFKH3LUDJILHX67S3NKUIAOJ5UXTVGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYXAFSYBXCXCETO62NVFRB5LZG2DPED6DBG4VJ6CZPFZKLO6PBJQ/b23a797b874350169ae89b3f6c7e298f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2B2V6N5M6F2D3VQSBXTMOLBWMH3GRZHAHW3FOKHWTXEMUUP7X7Q/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKTCMNRLKRZTINYOAC5YFO5NGMGW3OJ7XZKXQBGJVQGXYSSICZSQ/a731fdb9bb007b7ca02d675e9fc738d5.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLRY3WB4PADQIODRPUPMTRSDWNY7MT53XHEBF3UQHHQDJEVDIFUQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIWGCJYFKOEZQPJ4BFASNVJMQFXC3FTMLAC63VKZMXS47GPDH7ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9597f4d7-a535-439c-af13-77558cad0167/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js"
            ]
        },
        "AttachPolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "PolicyId",
                    "TargetId"
                ],
                "members": {
                    "PolicyId": {},
                    "TargetId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVFU367HZSYD477AFZLCSVZHRFCOM7XVQBVVRWIS2WC2IYEI4CSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLTC7MONH4PMHQCWYJN7A3WG75MWYGC4OK2W2P27LLU6QY3DBDQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKZ5XVSGZPJNCVRQCPF5XYEWE6IOGCKB5V4HX2CRUSUZKFWJHK2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XK44QEG4JU7NHKHSZMWR5UK6MPC3BOZSQWTCGCVFXZHIC7BQHQQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JZBLMCVBB44HNTSVLZFU43VYTKXUTY34VQDSHWZSDP36B22S74Q/index.en.v2.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWZGHUCKWLF6UT5DQLPOZ3RE7ZEYL3SRDH3OLVWEMOG7RIBDLHMA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~253ae210.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BYRJSFFPKDPQWF4ZFHDFTPU6AISHPH2Q3Z7GYOGQQNIV3KCKYHAA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IKB6OBK7DEENVH5J4P6P6B2UWIFEB2HEFV66QXXRL3YEGOXDJKGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEHFELK3TUT7SU4CLA5FXFKH3LUDJILHX67S3NKUIAOJ5UXTVGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYXAFSYBXCXCETO62NVFRB5LZG2DPED6DBG4VJ6CZPFZKLO6PBJQ/b23a797b874350169ae89b3f6c7e298f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2B2V6N5M6F2D3VQSBXTMOLBWMH3GRZHAHW3FOKHWTXEMUUP7X7Q/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKTCMNRLKRZTINYOAC5YFO5NGMGW3OJ7XZKXQBGJVQGXYSSICZSQ/a731fdb9bb007b7ca02d675e9fc738d5.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLRY3WB4PADQIODRPUPMTRSDWNY7MT53XHEBF3UQHHQDJEVDIFUQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIWGCJYFKOEZQPJ4BFASNVJMQFXC3FTMLAC63VKZMXS47GPDH7ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9597f4d7-a535-439c-af13-77558cad0167/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js"
            ]
        },
        "CancelHandshake": {
            "input": {
                "type": "structure",
                "required": [
                    "HandshakeId"
                ],
                "members": {
                    "HandshakeId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Handshake": {
                        "shape": "S4"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVFU367HZSYD477AFZLCSVZHRFCOM7XVQBVVRWIS2WC2IYEI4CSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLTC7MONH4PMHQCWYJN7A3WG75MWYGC4OK2W2P27LLU6QY3DBDQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKZ5XVSGZPJNCVRQCPF5XYEWE6IOGCKB5V4HX2CRUSUZKFWJHK2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XK44QEG4JU7NHKHSZMWR5UK6MPC3BOZSQWTCGCVFXZHIC7BQHQQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JZBLMCVBB44HNTSVLZFU43VYTKXUTY34VQDSHWZSDP36B22S74Q/index.en.v2.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWZGHUCKWLF6UT5DQLPOZ3RE7ZEYL3SRDH3OLVWEMOG7RIBDLHMA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~253ae210.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BYRJSFFPKDPQWF4ZFHDFTPU6AISHPH2Q3Z7GYOGQQNIV3KCKYHAA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IKB6OBK7DEENVH5J4P6P6B2UWIFEB2HEFV66QXXRL3YEGOXDJKGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEHFELK3TUT7SU4CLA5FXFKH3LUDJILHX67S3NKUIAOJ5UXTVGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYXAFSYBXCXCETO62NVFRB5LZG2DPED6DBG4VJ6CZPFZKLO6PBJQ/b23a797b874350169ae89b3f6c7e298f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2B2V6N5M6F2D3VQSBXTMOLBWMH3GRZHAHW3FOKHWTXEMUUP7X7Q/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKTCMNRLKRZTINYOAC5YFO5NGMGW3OJ7XZKXQBGJVQGXYSSICZSQ/a731fdb9bb007b7ca02d675e9fc738d5.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLRY3WB4PADQIODRPUPMTRSDWNY7MT53XHEBF3UQHHQDJEVDIFUQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIWGCJYFKOEZQPJ4BFASNVJMQFXC3FTMLAC63VKZMXS47GPDH7ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9597f4d7-a535-439c-af13-77558cad0167/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js"
            ]
        },
        "CreateAccount": {
            "input": {
                "type": "structure",
                "required": [
                    "Email",
                    "AccountName"
                ],
                "members": {
                    "Email": {
                        "shape": "Sn"
                    },
                    "AccountName": {
                        "shape": "So"
                    },
                    "RoleName": {},
                    "IamUserAccessToBilling": {},
                    "Tags": {
                        "shape": "Sr"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "CreateAccountStatus": {
                        "shape": "Sw"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVFU367HZSYD477AFZLCSVZHRFCOM7XVQBVVRWIS2WC2IYEI4CSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLTC7MONH4PMHQCWYJN7A3WG75MWYGC4OK2W2P27LLU6QY3DBDQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKZ5XVSGZPJNCVRQCPF5XYEWE6IOGCKB5V4HX2CRUSUZKFWJHK2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XK44QEG4JU7NHKHSZMWR5UK6MPC3BOZSQWTCGCVFXZHIC7BQHQQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JZBLMCVBB44HNTSVLZFU43VYTKXUTY34VQDSHWZSDP36B22S74Q/index.en.v2.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWZGHUCKWLF6UT5DQLPOZ3RE7ZEYL3SRDH3OLVWEMOG7RIBDLHMA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~253ae210.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BYRJSFFPKDPQWF4ZFHDFTPU6AISHPH2Q3Z7GYOGQQNIV3KCKYHAA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IKB6OBK7DEENVH5J4P6P6B2UWIFEB2HEFV66QXXRL3YEGOXDJKGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEHFELK3TUT7SU4CLA5FXFKH3LUDJILHX67S3NKUIAOJ5UXTVGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYXAFSYBXCXCETO62NVFRB5LZG2DPED6DBG4VJ6CZPFZKLO6PBJQ/b23a797b874350169ae89b3f6c7e298f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2B2V6N5M6F2D3VQSBXTMOLBWMH3GRZHAHW3FOKHWTXEMUUP7X7Q/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKTCMNRLKRZTINYOAC5YFO5NGMGW3OJ7XZKXQBGJVQGXYSSICZSQ/a731fdb9bb007b7ca02d675e9fc738d5.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLRY3WB4PADQIODRPUPMTRSDWNY7MT53XHEBF3UQHHQDJEVDIFUQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIWGCJYFKOEZQPJ4BFASNVJMQFXC3FTMLAC63VKZMXS47GPDH7ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9597f4d7-a535-439c-af13-77558cad0167/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js"
            ]
        },
        "CreateGovCloudAccount": {
            "input": {
                "type": "structure",
                "required": [
                    "Email",
                    "AccountName"
                ],
                "members": {
                    "Email": {
                        "shape": "Sn"
                    },
                    "AccountName": {
                        "shape": "So"
                    },
                    "RoleName": {},
                    "IamUserAccessToBilling": {},
                    "Tags": {
                        "shape": "Sr"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "CreateAccountStatus": {
                        "shape": "Sw"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVFU367HZSYD477AFZLCSVZHRFCOM7XVQBVVRWIS2WC2IYEI4CSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLTC7MONH4PMHQCWYJN7A3WG75MWYGC4OK2W2P27LLU6QY3DBDQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKZ5XVSGZPJNCVRQCPF5XYEWE6IOGCKB5V4HX2CRUSUZKFWJHK2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XK44QEG4JU7NHKHSZMWR5UK6MPC3BOZSQWTCGCVFXZHIC7BQHQQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JZBLMCVBB44HNTSVLZFU43VYTKXUTY34VQDSHWZSDP36B22S74Q/index.en.v2.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWZGHUCKWLF6UT5DQLPOZ3RE7ZEYL3SRDH3OLVWEMOG7RIBDLHMA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~253ae210.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BYRJSFFPKDPQWF4ZFHDFTPU6AISHPH2Q3Z7GYOGQQNIV3KCKYHAA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IKB6OBK7DEENVH5J4P6P6B2UWIFEB2HEFV66QXXRL3YEGOXDJKGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEHFELK3TUT7SU4CLA5FXFKH3LUDJILHX67S3NKUIAOJ5UXTVGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYXAFSYBXCXCETO62NVFRB5LZG2DPED6DBG4VJ6CZPFZKLO6PBJQ/b23a797b874350169ae89b3f6c7e298f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2B2V6N5M6F2D3VQSBXTMOLBWMH3GRZHAHW3FOKHWTXEMUUP7X7Q/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKTCMNRLKRZTINYOAC5YFO5NGMGW3OJ7XZKXQBGJVQGXYSSICZSQ/a731fdb9bb007b7ca02d675e9fc738d5.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLRY3WB4PADQIODRPUPMTRSDWNY7MT53XHEBF3UQHHQDJEVDIFUQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIWGCJYFKOEZQPJ4BFASNVJMQFXC3FTMLAC63VKZMXS47GPDH7ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9597f4d7-a535-439c-af13-77558cad0167/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js"
            ]
        },
        "CreateOrganization": {
            "input": {
                "type": "structure",
                "members": {
                    "FeatureSet": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Organization": {
                        "shape": "S16"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVFU367HZSYD477AFZLCSVZHRFCOM7XVQBVVRWIS2WC2IYEI4CSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLTC7MONH4PMHQCWYJN7A3WG75MWYGC4OK2W2P27LLU6QY3DBDQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKZ5XVSGZPJNCVRQCPF5XYEWE6IOGCKB5V4HX2CRUSUZKFWJHK2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XK44QEG4JU7NHKHSZMWR5UK6MPC3BOZSQWTCGCVFXZHIC7BQHQQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JZBLMCVBB44HNTSVLZFU43VYTKXUTY34VQDSHWZSDP36B22S74Q/index.en.v2.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWZGHUCKWLF6UT5DQLPOZ3RE7ZEYL3SRDH3OLVWEMOG7RIBDLHMA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~253ae210.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BYRJSFFPKDPQWF4ZFHDFTPU6AISHPH2Q3Z7GYOGQQNIV3KCKYHAA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IKB6OBK7DEENVH5J4P6P6B2UWIFEB2HEFV66QXXRL3YEGOXDJKGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEHFELK3TUT7SU4CLA5FXFKH3LUDJILHX67S3NKUIAOJ5UXTVGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYXAFSYBXCXCETO62NVFRB5LZG2DPED6DBG4VJ6CZPFZKLO6PBJQ/b23a797b874350169ae89b3f6c7e298f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2B2V6N5M6F2D3VQSBXTMOLBWMH3GRZHAHW3FOKHWTXEMUUP7X7Q/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKTCMNRLKRZTINYOAC5YFO5NGMGW3OJ7XZKXQBGJVQGXYSSICZSQ/a731fdb9bb007b7ca02d675e9fc738d5.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLRY3WB4PADQIODRPUPMTRSDWNY7MT53XHEBF3UQHHQDJEVDIFUQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIWGCJYFKOEZQPJ4BFASNVJMQFXC3FTMLAC63VKZMXS47GPDH7ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9597f4d7-a535-439c-af13-77558cad0167/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js"
            ]
        },
        "CreateOrganizationalUnit": {
            "input": {
                "type": "structure",
                "required": [
                    "ParentId",
                    "Name"
                ],
                "members": {
                    "ParentId": {},
                    "Name": {},
                    "Tags": {
                        "shape": "Sr"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "OrganizationalUnit": {
                        "shape": "S1i"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVFU367HZSYD477AFZLCSVZHRFCOM7XVQBVVRWIS2WC2IYEI4CSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLTC7MONH4PMHQCWYJN7A3WG75MWYGC4OK2W2P27LLU6QY3DBDQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKZ5XVSGZPJNCVRQCPF5XYEWE6IOGCKB5V4HX2CRUSUZKFWJHK2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XK44QEG4JU7NHKHSZMWR5UK6MPC3BOZSQWTCGCVFXZHIC7BQHQQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JZBLMCVBB44HNTSVLZFU43VYTKXUTY34VQDSHWZSDP36B22S74Q/index.en.v2.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWZGHUCKWLF6UT5DQLPOZ3RE7ZEYL3SRDH3OLVWEMOG7RIBDLHMA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~253ae210.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BYRJSFFPKDPQWF4ZFHDFTPU6AISHPH2Q3Z7GYOGQQNIV3KCKYHAA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IKB6OBK7DEENVH5J4P6P6B2UWIFEB2HEFV66QXXRL3YEGOXDJKGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEHFELK3TUT7SU4CLA5FXFKH3LUDJILHX67S3NKUIAOJ5UXTVGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYXAFSYBXCXCETO62NVFRB5LZG2DPED6DBG4VJ6CZPFZKLO6PBJQ/b23a797b874350169ae89b3f6c7e298f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2B2V6N5M6F2D3VQSBXTMOLBWMH3GRZHAHW3FOKHWTXEMUUP7X7Q/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKTCMNRLKRZTINYOAC5YFO5NGMGW3OJ7XZKXQBGJVQGXYSSICZSQ/a731fdb9bb007b7ca02d675e9fc738d5.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLRY3WB4PADQIODRPUPMTRSDWNY7MT53XHEBF3UQHHQDJEVDIFUQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIWGCJYFKOEZQPJ4BFASNVJMQFXC3FTMLAC63VKZMXS47GPDH7ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9597f4d7-a535-439c-af13-77558cad0167/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js"
            ]
        },
        "CreatePolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "Content",
                    "Description",
                    "Name",
                    "Type"
                ],
                "members": {
                    "Content": {},
                    "Description": {},
                    "Name": {},
                    "Type": {},
                    "Tags": {
                        "shape": "Sr"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Policy": {
                        "shape": "S1q"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVFU367HZSYD477AFZLCSVZHRFCOM7XVQBVVRWIS2WC2IYEI4CSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLTC7MONH4PMHQCWYJN7A3WG75MWYGC4OK2W2P27LLU6QY3DBDQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKZ5XVSGZPJNCVRQCPF5XYEWE6IOGCKB5V4HX2CRUSUZKFWJHK2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XK44QEG4JU7NHKHSZMWR5UK6MPC3BOZSQWTCGCVFXZHIC7BQHQQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JZBLMCVBB44HNTSVLZFU43VYTKXUTY34VQDSHWZSDP36B22S74Q/index.en.v2.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWZGHUCKWLF6UT5DQLPOZ3RE7ZEYL3SRDH3OLVWEMOG7RIBDLHMA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~253ae210.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BYRJSFFPKDPQWF4ZFHDFTPU6AISHPH2Q3Z7GYOGQQNIV3KCKYHAA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IKB6OBK7DEENVH5J4P6P6B2UWIFEB2HEFV66QXXRL3YEGOXDJKGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEHFELK3TUT7SU4CLA5FXFKH3LUDJILHX67S3NKUIAOJ5UXTVGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYXAFSYBXCXCETO62NVFRB5LZG2DPED6DBG4VJ6CZPFZKLO6PBJQ/b23a797b874350169ae89b3f6c7e298f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2B2V6N5M6F2D3VQSBXTMOLBWMH3GRZHAHW3FOKHWTXEMUUP7X7Q/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKTCMNRLKRZTINYOAC5YFO5NGMGW3OJ7XZKXQBGJVQGXYSSICZSQ/a731fdb9bb007b7ca02d675e9fc738d5.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLRY3WB4PADQIODRPUPMTRSDWNY7MT53XHEBF3UQHHQDJEVDIFUQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIWGCJYFKOEZQPJ4BFASNVJMQFXC3FTMLAC63VKZMXS47GPDH7ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9597f4d7-a535-439c-af13-77558cad0167/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js"
            ]
        },
        "DeclineHandshake": {
            "input": {
                "type": "structure",
                "required": [
                    "HandshakeId"
                ],
                "members": {
                    "HandshakeId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Handshake": {
                        "shape": "S4"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVFU367HZSYD477AFZLCSVZHRFCOM7XVQBVVRWIS2WC2IYEI4CSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLTC7MONH4PMHQCWYJN7A3WG75MWYGC4OK2W2P27LLU6QY3DBDQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKZ5XVSGZPJNCVRQCPF5XYEWE6IOGCKB5V4HX2CRUSUZKFWJHK2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XK44QEG4JU7NHKHSZMWR5UK6MPC3BOZSQWTCGCVFXZHIC7BQHQQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JZBLMCVBB44HNTSVLZFU43VYTKXUTY34VQDSHWZSDP36B22S74Q/index.en.v2.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWZGHUCKWLF6UT5DQLPOZ3RE7ZEYL3SRDH3OLVWEMOG7RIBDLHMA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~253ae210.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BYRJSFFPKDPQWF4ZFHDFTPU6AISHPH2Q3Z7GYOGQQNIV3KCKYHAA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IKB6OBK7DEENVH5J4P6P6B2UWIFEB2HEFV66QXXRL3YEGOXDJKGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEHFELK3TUT7SU4CLA5FXFKH3LUDJILHX67S3NKUIAOJ5UXTVGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYXAFSYBXCXCETO62NVFRB5LZG2DPED6DBG4VJ6CZPFZKLO6PBJQ/b23a797b874350169ae89b3f6c7e298f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2B2V6N5M6F2D3VQSBXTMOLBWMH3GRZHAHW3FOKHWTXEMUUP7X7Q/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKTCMNRLKRZTINYOAC5YFO5NGMGW3OJ7XZKXQBGJVQGXYSSICZSQ/a731fdb9bb007b7ca02d675e9fc738d5.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLRY3WB4PADQIODRPUPMTRSDWNY7MT53XHEBF3UQHHQDJEVDIFUQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIWGCJYFKOEZQPJ4BFASNVJMQFXC3FTMLAC63VKZMXS47GPDH7ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9597f4d7-a535-439c-af13-77558cad0167/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js"
            ]
        },
        "DeleteOrganization": {
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVFU367HZSYD477AFZLCSVZHRFCOM7XVQBVVRWIS2WC2IYEI4CSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLTC7MONH4PMHQCWYJN7A3WG75MWYGC4OK2W2P27LLU6QY3DBDQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKZ5XVSGZPJNCVRQCPF5XYEWE6IOGCKB5V4HX2CRUSUZKFWJHK2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XK44QEG4JU7NHKHSZMWR5UK6MPC3BOZSQWTCGCVFXZHIC7BQHQQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JZBLMCVBB44HNTSVLZFU43VYTKXUTY34VQDSHWZSDP36B22S74Q/index.en.v2.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWZGHUCKWLF6UT5DQLPOZ3RE7ZEYL3SRDH3OLVWEMOG7RIBDLHMA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~253ae210.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BYRJSFFPKDPQWF4ZFHDFTPU6AISHPH2Q3Z7GYOGQQNIV3KCKYHAA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IKB6OBK7DEENVH5J4P6P6B2UWIFEB2HEFV66QXXRL3YEGOXDJKGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEHFELK3TUT7SU4CLA5FXFKH3LUDJILHX67S3NKUIAOJ5UXTVGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYXAFSYBXCXCETO62NVFRB5LZG2DPED6DBG4VJ6CZPFZKLO6PBJQ/b23a797b874350169ae89b3f6c7e298f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2B2V6N5M6F2D3VQSBXTMOLBWMH3GRZHAHW3FOKHWTXEMUUP7X7Q/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKTCMNRLKRZTINYOAC5YFO5NGMGW3OJ7XZKXQBGJVQGXYSSICZSQ/a731fdb9bb007b7ca02d675e9fc738d5.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLRY3WB4PADQIODRPUPMTRSDWNY7MT53XHEBF3UQHHQDJEVDIFUQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIWGCJYFKOEZQPJ4BFASNVJMQFXC3FTMLAC63VKZMXS47GPDH7ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9597f4d7-a535-439c-af13-77558cad0167/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js"
            ]
        },
        "DeleteOrganizationalUnit": {
            "input": {
                "type": "structure",
                "required": [
                    "OrganizationalUnitId"
                ],
                "members": {
                    "OrganizationalUnitId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVFU367HZSYD477AFZLCSVZHRFCOM7XVQBVVRWIS2WC2IYEI4CSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLTC7MONH4PMHQCWYJN7A3WG75MWYGC4OK2W2P27LLU6QY3DBDQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKZ5XVSGZPJNCVRQCPF5XYEWE6IOGCKB5V4HX2CRUSUZKFWJHK2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XK44QEG4JU7NHKHSZMWR5UK6MPC3BOZSQWTCGCVFXZHIC7BQHQQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JZBLMCVBB44HNTSVLZFU43VYTKXUTY34VQDSHWZSDP36B22S74Q/index.en.v2.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWZGHUCKWLF6UT5DQLPOZ3RE7ZEYL3SRDH3OLVWEMOG7RIBDLHMA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~253ae210.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BYRJSFFPKDPQWF4ZFHDFTPU6AISHPH2Q3Z7GYOGQQNIV3KCKYHAA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IKB6OBK7DEENVH5J4P6P6B2UWIFEB2HEFV66QXXRL3YEGOXDJKGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEHFELK3TUT7SU4CLA5FXFKH3LUDJILHX67S3NKUIAOJ5UXTVGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYXAFSYBXCXCETO62NVFRB5LZG2DPED6DBG4VJ6CZPFZKLO6PBJQ/b23a797b874350169ae89b3f6c7e298f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2B2V6N5M6F2D3VQSBXTMOLBWMH3GRZHAHW3FOKHWTXEMUUP7X7Q/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKTCMNRLKRZTINYOAC5YFO5NGMGW3OJ7XZKXQBGJVQGXYSSICZSQ/a731fdb9bb007b7ca02d675e9fc738d5.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLRY3WB4PADQIODRPUPMTRSDWNY7MT53XHEBF3UQHHQDJEVDIFUQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIWGCJYFKOEZQPJ4BFASNVJMQFXC3FTMLAC63VKZMXS47GPDH7ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9597f4d7-a535-439c-af13-77558cad0167/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js"
            ]
        },
        "DeletePolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "PolicyId"
                ],
                "members": {
                    "PolicyId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVFU367HZSYD477AFZLCSVZHRFCOM7XVQBVVRWIS2WC2IYEI4CSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLTC7MONH4PMHQCWYJN7A3WG75MWYGC4OK2W2P27LLU6QY3DBDQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKZ5XVSGZPJNCVRQCPF5XYEWE6IOGCKB5V4HX2CRUSUZKFWJHK2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XK44QEG4JU7NHKHSZMWR5UK6MPC3BOZSQWTCGCVFXZHIC7BQHQQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JZBLMCVBB44HNTSVLZFU43VYTKXUTY34VQDSHWZSDP36B22S74Q/index.en.v2.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWZGHUCKWLF6UT5DQLPOZ3RE7ZEYL3SRDH3OLVWEMOG7RIBDLHMA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~253ae210.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BYRJSFFPKDPQWF4ZFHDFTPU6AISHPH2Q3Z7GYOGQQNIV3KCKYHAA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IKB6OBK7DEENVH5J4P6P6B2UWIFEB2HEFV66QXXRL3YEGOXDJKGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEHFELK3TUT7SU4CLA5FXFKH3LUDJILHX67S3NKUIAOJ5UXTVGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYXAFSYBXCXCETO62NVFRB5LZG2DPED6DBG4VJ6CZPFZKLO6PBJQ/b23a797b874350169ae89b3f6c7e298f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2B2V6N5M6F2D3VQSBXTMOLBWMH3GRZHAHW3FOKHWTXEMUUP7X7Q/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKTCMNRLKRZTINYOAC5YFO5NGMGW3OJ7XZKXQBGJVQGXYSSICZSQ/a731fdb9bb007b7ca02d675e9fc738d5.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLRY3WB4PADQIODRPUPMTRSDWNY7MT53XHEBF3UQHHQDJEVDIFUQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIWGCJYFKOEZQPJ4BFASNVJMQFXC3FTMLAC63VKZMXS47GPDH7ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9597f4d7-a535-439c-af13-77558cad0167/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js"
            ]
        },
        "DeregisterDelegatedAdministrator": {
            "input": {
                "type": "structure",
                "required": [
                    "AccountId",
                    "ServicePrincipal"
                ],
                "members": {
                    "AccountId": {},
                    "ServicePrincipal": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVFU367HZSYD477AFZLCSVZHRFCOM7XVQBVVRWIS2WC2IYEI4CSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLTC7MONH4PMHQCWYJN7A3WG75MWYGC4OK2W2P27LLU6QY3DBDQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKZ5XVSGZPJNCVRQCPF5XYEWE6IOGCKB5V4HX2CRUSUZKFWJHK2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XK44QEG4JU7NHKHSZMWR5UK6MPC3BOZSQWTCGCVFXZHIC7BQHQQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JZBLMCVBB44HNTSVLZFU43VYTKXUTY34VQDSHWZSDP36B22S74Q/index.en.v2.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWZGHUCKWLF6UT5DQLPOZ3RE7ZEYL3SRDH3OLVWEMOG7RIBDLHMA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~253ae210.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BYRJSFFPKDPQWF4ZFHDFTPU6AISHPH2Q3Z7GYOGQQNIV3KCKYHAA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IKB6OBK7DEENVH5J4P6P6B2UWIFEB2HEFV66QXXRL3YEGOXDJKGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEHFELK3TUT7SU4CLA5FXFKH3LUDJILHX67S3NKUIAOJ5UXTVGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYXAFSYBXCXCETO62NVFRB5LZG2DPED6DBG4VJ6CZPFZKLO6PBJQ/b23a797b874350169ae89b3f6c7e298f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2B2V6N5M6F2D3VQSBXTMOLBWMH3GRZHAHW3FOKHWTXEMUUP7X7Q/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKTCMNRLKRZTINYOAC5YFO5NGMGW3OJ7XZKXQBGJVQGXYSSICZSQ/a731fdb9bb007b7ca02d675e9fc738d5.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLRY3WB4PADQIODRPUPMTRSDWNY7MT53XHEBF3UQHHQDJEVDIFUQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIWGCJYFKOEZQPJ4BFASNVJMQFXC3FTMLAC63VKZMXS47GPDH7ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9597f4d7-a535-439c-af13-77558cad0167/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js"
            ]
        },
        "DescribeAccount": {
            "input": {
                "type": "structure",
                "required": [
                    "AccountId"
                ],
                "members": {
                    "AccountId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Account": {
                        "shape": "S22"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVFU367HZSYD477AFZLCSVZHRFCOM7XVQBVVRWIS2WC2IYEI4CSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLTC7MONH4PMHQCWYJN7A3WG75MWYGC4OK2W2P27LLU6QY3DBDQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKZ5XVSGZPJNCVRQCPF5XYEWE6IOGCKB5V4HX2CRUSUZKFWJHK2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XK44QEG4JU7NHKHSZMWR5UK6MPC3BOZSQWTCGCVFXZHIC7BQHQQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JZBLMCVBB44HNTSVLZFU43VYTKXUTY34VQDSHWZSDP36B22S74Q/index.en.v2.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWZGHUCKWLF6UT5DQLPOZ3RE7ZEYL3SRDH3OLVWEMOG7RIBDLHMA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~253ae210.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BYRJSFFPKDPQWF4ZFHDFTPU6AISHPH2Q3Z7GYOGQQNIV3KCKYHAA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IKB6OBK7DEENVH5J4P6P6B2UWIFEB2HEFV66QXXRL3YEGOXDJKGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEHFELK3TUT7SU4CLA5FXFKH3LUDJILHX67S3NKUIAOJ5UXTVGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYXAFSYBXCXCETO62NVFRB5LZG2DPED6DBG4VJ6CZPFZKLO6PBJQ/b23a797b874350169ae89b3f6c7e298f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2B2V6N5M6F2D3VQSBXTMOLBWMH3GRZHAHW3FOKHWTXEMUUP7X7Q/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKTCMNRLKRZTINYOAC5YFO5NGMGW3OJ7XZKXQBGJVQGXYSSICZSQ/a731fdb9bb007b7ca02d675e9fc738d5.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLRY3WB4PADQIODRPUPMTRSDWNY7MT53XHEBF3UQHHQDJEVDIFUQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIWGCJYFKOEZQPJ4BFASNVJMQFXC3FTMLAC63VKZMXS47GPDH7ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9597f4d7-a535-439c-af13-77558cad0167/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js"
            ]
        },
        "DescribeCreateAccountStatus": {
            "input": {
                "type": "structure",
                "required": [
                    "CreateAccountRequestId"
                ],
                "members": {
                    "CreateAccountRequestId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "CreateAccountStatus": {
                        "shape": "Sw"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVFU367HZSYD477AFZLCSVZHRFCOM7XVQBVVRWIS2WC2IYEI4CSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLTC7MONH4PMHQCWYJN7A3WG75MWYGC4OK2W2P27LLU6QY3DBDQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKZ5XVSGZPJNCVRQCPF5XYEWE6IOGCKB5V4HX2CRUSUZKFWJHK2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XK44QEG4JU7NHKHSZMWR5UK6MPC3BOZSQWTCGCVFXZHIC7BQHQQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JZBLMCVBB44HNTSVLZFU43VYTKXUTY34VQDSHWZSDP36B22S74Q/index.en.v2.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWZGHUCKWLF6UT5DQLPOZ3RE7ZEYL3SRDH3OLVWEMOG7RIBDLHMA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~253ae210.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BYRJSFFPKDPQWF4ZFHDFTPU6AISHPH2Q3Z7GYOGQQNIV3KCKYHAA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IKB6OBK7DEENVH5J4P6P6B2UWIFEB2HEFV66QXXRL3YEGOXDJKGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEHFELK3TUT7SU4CLA5FXFKH3LUDJILHX67S3NKUIAOJ5UXTVGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYXAFSYBXCXCETO62NVFRB5LZG2DPED6DBG4VJ6CZPFZKLO6PBJQ/b23a797b874350169ae89b3f6c7e298f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2B2V6N5M6F2D3VQSBXTMOLBWMH3GRZHAHW3FOKHWTXEMUUP7X7Q/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKTCMNRLKRZTINYOAC5YFO5NGMGW3OJ7XZKXQBGJVQGXYSSICZSQ/a731fdb9bb007b7ca02d675e9fc738d5.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLRY3WB4PADQIODRPUPMTRSDWNY7MT53XHEBF3UQHHQDJEVDIFUQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIWGCJYFKOEZQPJ4BFASNVJMQFXC3FTMLAC63VKZMXS47GPDH7ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9597f4d7-a535-439c-af13-77558cad0167/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js"
            ]
        },
        "DescribeEffectivePolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "PolicyType"
                ],
                "members": {
                    "PolicyType": {},
                    "TargetId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "EffectivePolicy": {
                        "type": "structure",
                        "members": {
                            "PolicyContent": {},
                            "LastUpdatedTimestamp": {
                                "type": "timestamp"
                            },
                            "TargetId": {},
                            "PolicyType": {}
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVFU367HZSYD477AFZLCSVZHRFCOM7XVQBVVRWIS2WC2IYEI4CSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLTC7MONH4PMHQCWYJN7A3WG75MWYGC4OK2W2P27LLU6QY3DBDQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKZ5XVSGZPJNCVRQCPF5XYEWE6IOGCKB5V4HX2CRUSUZKFWJHK2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XK44QEG4JU7NHKHSZMWR5UK6MPC3BOZSQWTCGCVFXZHIC7BQHQQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JZBLMCVBB44HNTSVLZFU43VYTKXUTY34VQDSHWZSDP36B22S74Q/index.en.v2.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWZGHUCKWLF6UT5DQLPOZ3RE7ZEYL3SRDH3OLVWEMOG7RIBDLHMA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~253ae210.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BYRJSFFPKDPQWF4ZFHDFTPU6AISHPH2Q3Z7GYOGQQNIV3KCKYHAA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IKB6OBK7DEENVH5J4P6P6B2UWIFEB2HEFV66QXXRL3YEGOXDJKGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEHFELK3TUT7SU4CLA5FXFKH3LUDJILHX67S3NKUIAOJ5UXTVGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYXAFSYBXCXCETO62NVFRB5LZG2DPED6DBG4VJ6CZPFZKLO6PBJQ/b23a797b874350169ae89b3f6c7e298f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2B2V6N5M6F2D3VQSBXTMOLBWMH3GRZHAHW3FOKHWTXEMUUP7X7Q/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKTCMNRLKRZTINYOAC5YFO5NGMGW3OJ7XZKXQBGJVQGXYSSICZSQ/a731fdb9bb007b7ca02d675e9fc738d5.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLRY3WB4PADQIODRPUPMTRSDWNY7MT53XHEBF3UQHHQDJEVDIFUQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIWGCJYFKOEZQPJ4BFASNVJMQFXC3FTMLAC63VKZMXS47GPDH7ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9597f4d7-a535-439c-af13-77558cad0167/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js"
            ]
        },
        "DescribeHandshake": {
            "input": {
                "type": "structure",
                "required": [
                    "HandshakeId"
                ],
                "members": {
                    "HandshakeId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Handshake": {
                        "shape": "S4"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVFU367HZSYD477AFZLCSVZHRFCOM7XVQBVVRWIS2WC2IYEI4CSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLTC7MONH4PMHQCWYJN7A3WG75MWYGC4OK2W2P27LLU6QY3DBDQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKZ5XVSGZPJNCVRQCPF5XYEWE6IOGCKB5V4HX2CRUSUZKFWJHK2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XK44QEG4JU7NHKHSZMWR5UK6MPC3BOZSQWTCGCVFXZHIC7BQHQQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JZBLMCVBB44HNTSVLZFU43VYTKXUTY34VQDSHWZSDP36B22S74Q/index.en.v2.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWZGHUCKWLF6UT5DQLPOZ3RE7ZEYL3SRDH3OLVWEMOG7RIBDLHMA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~253ae210.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BYRJSFFPKDPQWF4ZFHDFTPU6AISHPH2Q3Z7GYOGQQNIV3KCKYHAA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IKB6OBK7DEENVH5J4P6P6B2UWIFEB2HEFV66QXXRL3YEGOXDJKGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEHFELK3TUT7SU4CLA5FXFKH3LUDJILHX67S3NKUIAOJ5UXTVGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYXAFSYBXCXCETO62NVFRB5LZG2DPED6DBG4VJ6CZPFZKLO6PBJQ/b23a797b874350169ae89b3f6c7e298f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2B2V6N5M6F2D3VQSBXTMOLBWMH3GRZHAHW3FOKHWTXEMUUP7X7Q/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKTCMNRLKRZTINYOAC5YFO5NGMGW3OJ7XZKXQBGJVQGXYSSICZSQ/a731fdb9bb007b7ca02d675e9fc738d5.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLRY3WB4PADQIODRPUPMTRSDWNY7MT53XHEBF3UQHHQDJEVDIFUQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIWGCJYFKOEZQPJ4BFASNVJMQFXC3FTMLAC63VKZMXS47GPDH7ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9597f4d7-a535-439c-af13-77558cad0167/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js"
            ]
        },
        "DescribeOrganization": {
            "output": {
                "type": "structure",
                "members": {
                    "Organization": {
                        "shape": "S16"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVFU367HZSYD477AFZLCSVZHRFCOM7XVQBVVRWIS2WC2IYEI4CSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLTC7MONH4PMHQCWYJN7A3WG75MWYGC4OK2W2P27LLU6QY3DBDQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKZ5XVSGZPJNCVRQCPF5XYEWE6IOGCKB5V4HX2CRUSUZKFWJHK2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XK44QEG4JU7NHKHSZMWR5UK6MPC3BOZSQWTCGCVFXZHIC7BQHQQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JZBLMCVBB44HNTSVLZFU43VYTKXUTY34VQDSHWZSDP36B22S74Q/index.en.v2.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWZGHUCKWLF6UT5DQLPOZ3RE7ZEYL3SRDH3OLVWEMOG7RIBDLHMA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~253ae210.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BYRJSFFPKDPQWF4ZFHDFTPU6AISHPH2Q3Z7GYOGQQNIV3KCKYHAA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IKB6OBK7DEENVH5J4P6P6B2UWIFEB2HEFV66QXXRL3YEGOXDJKGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEHFELK3TUT7SU4CLA5FXFKH3LUDJILHX67S3NKUIAOJ5UXTVGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYXAFSYBXCXCETO62NVFRB5LZG2DPED6DBG4VJ6CZPFZKLO6PBJQ/b23a797b874350169ae89b3f6c7e298f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2B2V6N5M6F2D3VQSBXTMOLBWMH3GRZHAHW3FOKHWTXEMUUP7X7Q/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKTCMNRLKRZTINYOAC5YFO5NGMGW3OJ7XZKXQBGJVQGXYSSICZSQ/a731fdb9bb007b7ca02d675e9fc738d5.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLRY3WB4PADQIODRPUPMTRSDWNY7MT53XHEBF3UQHHQDJEVDIFUQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIWGCJYFKOEZQPJ4BFASNVJMQFXC3FTMLAC63VKZMXS47GPDH7ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9597f4d7-a535-439c-af13-77558cad0167/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js"
            ]
        },
        "DescribeOrganizationalUnit": {
            "input": {
                "type": "structure",
                "required": [
                    "OrganizationalUnitId"
                ],
                "members": {
                    "OrganizationalUnitId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "OrganizationalUnit": {
                        "shape": "S1i"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVFU367HZSYD477AFZLCSVZHRFCOM7XVQBVVRWIS2WC2IYEI4CSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLTC7MONH4PMHQCWYJN7A3WG75MWYGC4OK2W2P27LLU6QY3DBDQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKZ5XVSGZPJNCVRQCPF5XYEWE6IOGCKB5V4HX2CRUSUZKFWJHK2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XK44QEG4JU7NHKHSZMWR5UK6MPC3BOZSQWTCGCVFXZHIC7BQHQQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JZBLMCVBB44HNTSVLZFU43VYTKXUTY34VQDSHWZSDP36B22S74Q/index.en.v2.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWZGHUCKWLF6UT5DQLPOZ3RE7ZEYL3SRDH3OLVWEMOG7RIBDLHMA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~253ae210.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BYRJSFFPKDPQWF4ZFHDFTPU6AISHPH2Q3Z7GYOGQQNIV3KCKYHAA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IKB6OBK7DEENVH5J4P6P6B2UWIFEB2HEFV66QXXRL3YEGOXDJKGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEHFELK3TUT7SU4CLA5FXFKH3LUDJILHX67S3NKUIAOJ5UXTVGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYXAFSYBXCXCETO62NVFRB5LZG2DPED6DBG4VJ6CZPFZKLO6PBJQ/b23a797b874350169ae89b3f6c7e298f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2B2V6N5M6F2D3VQSBXTMOLBWMH3GRZHAHW3FOKHWTXEMUUP7X7Q/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKTCMNRLKRZTINYOAC5YFO5NGMGW3OJ7XZKXQBGJVQGXYSSICZSQ/a731fdb9bb007b7ca02d675e9fc738d5.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLRY3WB4PADQIODRPUPMTRSDWNY7MT53XHEBF3UQHHQDJEVDIFUQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIWGCJYFKOEZQPJ4BFASNVJMQFXC3FTMLAC63VKZMXS47GPDH7ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9597f4d7-a535-439c-af13-77558cad0167/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js"
            ]
        },
        "DescribePolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "PolicyId"
                ],
                "members": {
                    "PolicyId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Policy": {
                        "shape": "S1q"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVFU367HZSYD477AFZLCSVZHRFCOM7XVQBVVRWIS2WC2IYEI4CSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLTC7MONH4PMHQCWYJN7A3WG75MWYGC4OK2W2P27LLU6QY3DBDQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKZ5XVSGZPJNCVRQCPF5XYEWE6IOGCKB5V4HX2CRUSUZKFWJHK2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XK44QEG4JU7NHKHSZMWR5UK6MPC3BOZSQWTCGCVFXZHIC7BQHQQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JZBLMCVBB44HNTSVLZFU43VYTKXUTY34VQDSHWZSDP36B22S74Q/index.en.v2.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWZGHUCKWLF6UT5DQLPOZ3RE7ZEYL3SRDH3OLVWEMOG7RIBDLHMA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~253ae210.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BYRJSFFPKDPQWF4ZFHDFTPU6AISHPH2Q3Z7GYOGQQNIV3KCKYHAA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IKB6OBK7DEENVH5J4P6P6B2UWIFEB2HEFV66QXXRL3YEGOXDJKGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEHFELK3TUT7SU4CLA5FXFKH3LUDJILHX67S3NKUIAOJ5UXTVGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYXAFSYBXCXCETO62NVFRB5LZG2DPED6DBG4VJ6CZPFZKLO6PBJQ/b23a797b874350169ae89b3f6c7e298f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2B2V6N5M6F2D3VQSBXTMOLBWMH3GRZHAHW3FOKHWTXEMUUP7X7Q/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKTCMNRLKRZTINYOAC5YFO5NGMGW3OJ7XZKXQBGJVQGXYSSICZSQ/a731fdb9bb007b7ca02d675e9fc738d5.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLRY3WB4PADQIODRPUPMTRSDWNY7MT53XHEBF3UQHHQDJEVDIFUQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIWGCJYFKOEZQPJ4BFASNVJMQFXC3FTMLAC63VKZMXS47GPDH7ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9597f4d7-a535-439c-af13-77558cad0167/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js"
            ]
        },
        "DetachPolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "PolicyId",
                    "TargetId"
                ],
                "members": {
                    "PolicyId": {},
                    "TargetId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVFU367HZSYD477AFZLCSVZHRFCOM7XVQBVVRWIS2WC2IYEI4CSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLTC7MONH4PMHQCWYJN7A3WG75MWYGC4OK2W2P27LLU6QY3DBDQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKZ5XVSGZPJNCVRQCPF5XYEWE6IOGCKB5V4HX2CRUSUZKFWJHK2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XK44QEG4JU7NHKHSZMWR5UK6MPC3BOZSQWTCGCVFXZHIC7BQHQQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JZBLMCVBB44HNTSVLZFU43VYTKXUTY34VQDSHWZSDP36B22S74Q/index.en.v2.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWZGHUCKWLF6UT5DQLPOZ3RE7ZEYL3SRDH3OLVWEMOG7RIBDLHMA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~253ae210.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BYRJSFFPKDPQWF4ZFHDFTPU6AISHPH2Q3Z7GYOGQQNIV3KCKYHAA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IKB6OBK7DEENVH5J4P6P6B2UWIFEB2HEFV66QXXRL3YEGOXDJKGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEHFELK3TUT7SU4CLA5FXFKH3LUDJILHX67S3NKUIAOJ5UXTVGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYXAFSYBXCXCETO62NVFRB5LZG2DPED6DBG4VJ6CZPFZKLO6PBJQ/b23a797b874350169ae89b3f6c7e298f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2B2V6N5M6F2D3VQSBXTMOLBWMH3GRZHAHW3FOKHWTXEMUUP7X7Q/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKTCMNRLKRZTINYOAC5YFO5NGMGW3OJ7XZKXQBGJVQGXYSSICZSQ/a731fdb9bb007b7ca02d675e9fc738d5.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLRY3WB4PADQIODRPUPMTRSDWNY7MT53XHEBF3UQHHQDJEVDIFUQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIWGCJYFKOEZQPJ4BFASNVJMQFXC3FTMLAC63VKZMXS47GPDH7ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9597f4d7-a535-439c-af13-77558cad0167/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js"
            ]
        },
        "DisableAWSServiceAccess": {
            "input": {
                "type": "structure",
                "required": [
                    "ServicePrincipal"
                ],
                "members": {
                    "ServicePrincipal": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVFU367HZSYD477AFZLCSVZHRFCOM7XVQBVVRWIS2WC2IYEI4CSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLTC7MONH4PMHQCWYJN7A3WG75MWYGC4OK2W2P27LLU6QY3DBDQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKZ5XVSGZPJNCVRQCPF5XYEWE6IOGCKB5V4HX2CRUSUZKFWJHK2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XK44QEG4JU7NHKHSZMWR5UK6MPC3BOZSQWTCGCVFXZHIC7BQHQQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JZBLMCVBB44HNTSVLZFU43VYTKXUTY34VQDSHWZSDP36B22S74Q/index.en.v2.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWZGHUCKWLF6UT5DQLPOZ3RE7ZEYL3SRDH3OLVWEMOG7RIBDLHMA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~253ae210.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BYRJSFFPKDPQWF4ZFHDFTPU6AISHPH2Q3Z7GYOGQQNIV3KCKYHAA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IKB6OBK7DEENVH5J4P6P6B2UWIFEB2HEFV66QXXRL3YEGOXDJKGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEHFELK3TUT7SU4CLA5FXFKH3LUDJILHX67S3NKUIAOJ5UXTVGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYXAFSYBXCXCETO62NVFRB5LZG2DPED6DBG4VJ6CZPFZKLO6PBJQ/b23a797b874350169ae89b3f6c7e298f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2B2V6N5M6F2D3VQSBXTMOLBWMH3GRZHAHW3FOKHWTXEMUUP7X7Q/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKTCMNRLKRZTINYOAC5YFO5NGMGW3OJ7XZKXQBGJVQGXYSSICZSQ/a731fdb9bb007b7ca02d675e9fc738d5.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLRY3WB4PADQIODRPUPMTRSDWNY7MT53XHEBF3UQHHQDJEVDIFUQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIWGCJYFKOEZQPJ4BFASNVJMQFXC3FTMLAC63VKZMXS47GPDH7ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9597f4d7-a535-439c-af13-77558cad0167/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js"
            ]
        },
        "DisablePolicyType": {
            "input": {
                "type": "structure",
                "required": [
                    "RootId",
                    "PolicyType"
                ],
                "members": {
                    "RootId": {},
                    "PolicyType": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Root": {
                        "shape": "S2n"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVFU367HZSYD477AFZLCSVZHRFCOM7XVQBVVRWIS2WC2IYEI4CSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLTC7MONH4PMHQCWYJN7A3WG75MWYGC4OK2W2P27LLU6QY3DBDQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKZ5XVSGZPJNCVRQCPF5XYEWE6IOGCKB5V4HX2CRUSUZKFWJHK2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XK44QEG4JU7NHKHSZMWR5UK6MPC3BOZSQWTCGCVFXZHIC7BQHQQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JZBLMCVBB44HNTSVLZFU43VYTKXUTY34VQDSHWZSDP36B22S74Q/index.en.v2.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWZGHUCKWLF6UT5DQLPOZ3RE7ZEYL3SRDH3OLVWEMOG7RIBDLHMA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~253ae210.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BYRJSFFPKDPQWF4ZFHDFTPU6AISHPH2Q3Z7GYOGQQNIV3KCKYHAA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IKB6OBK7DEENVH5J4P6P6B2UWIFEB2HEFV66QXXRL3YEGOXDJKGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEHFELK3TUT7SU4CLA5FXFKH3LUDJILHX67S3NKUIAOJ5UXTVGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYXAFSYBXCXCETO62NVFRB5LZG2DPED6DBG4VJ6CZPFZKLO6PBJQ/b23a797b874350169ae89b3f6c7e298f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2B2V6N5M6F2D3VQSBXTMOLBWMH3GRZHAHW3FOKHWTXEMUUP7X7Q/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKTCMNRLKRZTINYOAC5YFO5NGMGW3OJ7XZKXQBGJVQGXYSSICZSQ/a731fdb9bb007b7ca02d675e9fc738d5.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLRY3WB4PADQIODRPUPMTRSDWNY7MT53XHEBF3UQHHQDJEVDIFUQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIWGCJYFKOEZQPJ4BFASNVJMQFXC3FTMLAC63VKZMXS47GPDH7ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9597f4d7-a535-439c-af13-77558cad0167/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js"
            ]
        },
        "EnableAWSServiceAccess": {
            "input": {
                "type": "structure",
                "required": [
                    "ServicePrincipal"
                ],
                "members": {
                    "ServicePrincipal": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVFU367HZSYD477AFZLCSVZHRFCOM7XVQBVVRWIS2WC2IYEI4CSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLTC7MONH4PMHQCWYJN7A3WG75MWYGC4OK2W2P27LLU6QY3DBDQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKZ5XVSGZPJNCVRQCPF5XYEWE6IOGCKB5V4HX2CRUSUZKFWJHK2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XK44QEG4JU7NHKHSZMWR5UK6MPC3BOZSQWTCGCVFXZHIC7BQHQQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JZBLMCVBB44HNTSVLZFU43VYTKXUTY34VQDSHWZSDP36B22S74Q/index.en.v2.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWZGHUCKWLF6UT5DQLPOZ3RE7ZEYL3SRDH3OLVWEMOG7RIBDLHMA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~253ae210.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BYRJSFFPKDPQWF4ZFHDFTPU6AISHPH2Q3Z7GYOGQQNIV3KCKYHAA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IKB6OBK7DEENVH5J4P6P6B2UWIFEB2HEFV66QXXRL3YEGOXDJKGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEHFELK3TUT7SU4CLA5FXFKH3LUDJILHX67S3NKUIAOJ5UXTVGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYXAFSYBXCXCETO62NVFRB5LZG2DPED6DBG4VJ6CZPFZKLO6PBJQ/b23a797b874350169ae89b3f6c7e298f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2B2V6N5M6F2D3VQSBXTMOLBWMH3GRZHAHW3FOKHWTXEMUUP7X7Q/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKTCMNRLKRZTINYOAC5YFO5NGMGW3OJ7XZKXQBGJVQGXYSSICZSQ/a731fdb9bb007b7ca02d675e9fc738d5.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLRY3WB4PADQIODRPUPMTRSDWNY7MT53XHEBF3UQHHQDJEVDIFUQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIWGCJYFKOEZQPJ4BFASNVJMQFXC3FTMLAC63VKZMXS47GPDH7ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9597f4d7-a535-439c-af13-77558cad0167/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js"
            ]
        },
        "EnableAllFeatures": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "Handshake": {
                        "shape": "S4"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVFU367HZSYD477AFZLCSVZHRFCOM7XVQBVVRWIS2WC2IYEI4CSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLTC7MONH4PMHQCWYJN7A3WG75MWYGC4OK2W2P27LLU6QY3DBDQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKZ5XVSGZPJNCVRQCPF5XYEWE6IOGCKB5V4HX2CRUSUZKFWJHK2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XK44QEG4JU7NHKHSZMWR5UK6MPC3BOZSQWTCGCVFXZHIC7BQHQQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JZBLMCVBB44HNTSVLZFU43VYTKXUTY34VQDSHWZSDP36B22S74Q/index.en.v2.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWZGHUCKWLF6UT5DQLPOZ3RE7ZEYL3SRDH3OLVWEMOG7RIBDLHMA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~253ae210.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BYRJSFFPKDPQWF4ZFHDFTPU6AISHPH2Q3Z7GYOGQQNIV3KCKYHAA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IKB6OBK7DEENVH5J4P6P6B2UWIFEB2HEFV66QXXRL3YEGOXDJKGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEHFELK3TUT7SU4CLA5FXFKH3LUDJILHX67S3NKUIAOJ5UXTVGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYXAFSYBXCXCETO62NVFRB5LZG2DPED6DBG4VJ6CZPFZKLO6PBJQ/b23a797b874350169ae89b3f6c7e298f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2B2V6N5M6F2D3VQSBXTMOLBWMH3GRZHAHW3FOKHWTXEMUUP7X7Q/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKTCMNRLKRZTINYOAC5YFO5NGMGW3OJ7XZKXQBGJVQGXYSSICZSQ/a731fdb9bb007b7ca02d675e9fc738d5.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLRY3WB4PADQIODRPUPMTRSDWNY7MT53XHEBF3UQHHQDJEVDIFUQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIWGCJYFKOEZQPJ4BFASNVJMQFXC3FTMLAC63VKZMXS47GPDH7ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9597f4d7-a535-439c-af13-77558cad0167/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js"
            ]
        },
        "EnablePolicyType": {
            "input": {
                "type": "structure",
                "required": [
                    "RootId",
                    "PolicyType"
                ],
                "members": {
                    "RootId": {},
                    "PolicyType": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Root": {
                        "shape": "S2n"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVFU367HZSYD477AFZLCSVZHRFCOM7XVQBVVRWIS2WC2IYEI4CSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLTC7MONH4PMHQCWYJN7A3WG75MWYGC4OK2W2P27LLU6QY3DBDQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKZ5XVSGZPJNCVRQCPF5XYEWE6IOGCKB5V4HX2CRUSUZKFWJHK2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XK44QEG4JU7NHKHSZMWR5UK6MPC3BOZSQWTCGCVFXZHIC7BQHQQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JZBLMCVBB44HNTSVLZFU43VYTKXUTY34VQDSHWZSDP36B22S74Q/index.en.v2.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWZGHUCKWLF6UT5DQLPOZ3RE7ZEYL3SRDH3OLVWEMOG7RIBDLHMA/vendor.awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~253ae210.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BYRJSFFPKDPQWF4ZFHDFTPU6AISHPH2Q3Z7GYOGQQNIV3KCKYHAA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IKB6OBK7DEENVH5J4P6P6B2UWIFEB2HEFV66QXXRL3YEGOXDJKGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEHFELK3TUT7SU4CLA5FXFKH3LUDJILHX67S3NKUIAOJ5UXTVGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYXAFSYBXCXCETO62NVFRB5LZG2DPED6DBG4VJ6CZPFZKLO6PBJQ/b23a797b874350169ae89b3f6c7e298f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2B2V6N5M6F2D3VQSBXTMOLBWMH3GRZHAHW3FOKHWTXEMUUP7X7Q/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKTCMNRLKRZTINYOAC5YFO5NGMGW3OJ7XZKXQBGJVQGXYSSICZSQ/a731fdb9bb007b7ca02d675e9fc738d5.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLRY3WB4PADQIODRPUPMTRSDWNY7MT53XHEBF3UQHHQDJEVDIFUQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIWGCJYFKOEZQPJ4BFASNVJMQFXC3FTMLAC63VKZMXS47GPDH7ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9597f4d7-a535-439c-af13-77558cad0167/vendorv3.js",
[...]
