{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2022-01-01",
        "endpointPrefix": "osis",
        "protocol": "rest-json",
        "serviceFullName": "Amazon OpenSearch Ingestion",
        "serviceId": "OSIS",
        "signatureVersion": "v4",
        "uid": "osis-2022-01-01",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4I5SF6QQCGOFRKJJDHAQXFFWJG35GD5FDUBFXIABIGPMBWW2AA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/B3DOHHWUUQ6K2YDIBWDJ77CAPWW3AHCTHKMLJP4WUNPKAQHSPUBQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HHUHBZQDMXTFX2YLSHX5YZWRZXE7P4KDBTR6JRHKZTLRLVXFNOXQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WQCHENQ4DTPGWYVHU7Q4UMTTG3MQZY4MNJ65B3G3ONCLFRLI3JUQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CJXXXW2KZESAZWDKEUCEDKQKE5G77MLCBA2CX4K73PRO2IZSCKRQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GUE3A46UN42OHCIP2QC7UYF36VWC7PFDOX2TKSJXSCUATHESTNPQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OGT6BNJYKERJIZDCLM6R2JHZIU3APSGFZBP3POAL7JQ4WOOKGHXA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MLXZOCETTWKAPKNNWRBRQ22MYQ3KW4L37JTPDP3YMAMBUBCCGI5Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UKWYRJ6ASP3QMJSTEJ7EHVVDFFB5RZM7FD6VVXTKNANJQQ637C7A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZSRLQNS5YA3OEPDFL4AOJOKUTUN754KSJJITPO6ZFBZ3LTW7CJJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/X43CDK5JJ2YGPYFRQZTIGQXTO7AYW6MSFUN6VH7QTRKFHIS34MIQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/S3NBJBHH74BGGIZ6QXSLKQLOYVO62SLO32EMIMBQ642VLFUWIH5Q/vendors.js"
        ]
    },
    "operations": {
        "CreatePipeline": {
            "http": {
                "requestUri": "/2022-01-01/osis/createPipeline"
            },
            "input": {
                "type": "structure",
                "required": [
                    "PipelineName",
                    "MinUnits",
                    "MaxUnits",
                    "PipelineConfigurationBody"
                ],
                "members": {
                    "PipelineName": {},
                    "MinUnits": {
                        "type": "integer"
                    },
                    "MaxUnits": {
                        "type": "integer"
                    },
                    "PipelineConfigurationBody": {},
                    "LogPublishingOptions": {
                        "shape": "S5"
                    },
                    "VpcOptions": {
                        "shape": "S9"
                    },
                    "Tags": {
                        "shape": "Se"
                    },
                    "BufferOptions": {
                        "shape": "Sg"
                    },
                    "EncryptionAtRestOptions": {
                        "shape": "Sh"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Pipeline": {
                        "shape": "Sj"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4I5SF6QQCGOFRKJJDHAQXFFWJG35GD5FDUBFXIABIGPMBWW2AA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3DOHHWUUQ6K2YDIBWDJ77CAPWW3AHCTHKMLJP4WUNPKAQHSPUBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHUHBZQDMXTFX2YLSHX5YZWRZXE7P4KDBTR6JRHKZTLRLVXFNOXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQCHENQ4DTPGWYVHU7Q4UMTTG3MQZY4MNJ65B3G3ONCLFRLI3JUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJXXXW2KZESAZWDKEUCEDKQKE5G77MLCBA2CX4K73PRO2IZSCKRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUE3A46UN42OHCIP2QC7UYF36VWC7PFDOX2TKSJXSCUATHESTNPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGT6BNJYKERJIZDCLM6R2JHZIU3APSGFZBP3POAL7JQ4WOOKGHXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLXZOCETTWKAPKNNWRBRQ22MYQ3KW4L37JTPDP3YMAMBUBCCGI5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKWYRJ6ASP3QMJSTEJ7EHVVDFFB5RZM7FD6VVXTKNANJQQ637C7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSRLQNS5YA3OEPDFL4AOJOKUTUN754KSJJITPO6ZFBZ3LTW7CJJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X43CDK5JJ2YGPYFRQZTIGQXTO7AYW6MSFUN6VH7QTRKFHIS34MIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S3NBJBHH74BGGIZ6QXSLKQLOYVO62SLO32EMIMBQ642VLFUWIH5Q/vendors.js"
            ]
        },
        "DeletePipeline": {
            "http": {
                "method": "DELETE",
                "requestUri": "/2022-01-01/osis/deletePipeline/{PipelineName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "PipelineName"
                ],
                "members": {
                    "PipelineName": {
                        "location": "uri",
                        "locationName": "PipelineName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4I5SF6QQCGOFRKJJDHAQXFFWJG35GD5FDUBFXIABIGPMBWW2AA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3DOHHWUUQ6K2YDIBWDJ77CAPWW3AHCTHKMLJP4WUNPKAQHSPUBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHUHBZQDMXTFX2YLSHX5YZWRZXE7P4KDBTR6JRHKZTLRLVXFNOXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQCHENQ4DTPGWYVHU7Q4UMTTG3MQZY4MNJ65B3G3ONCLFRLI3JUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJXXXW2KZESAZWDKEUCEDKQKE5G77MLCBA2CX4K73PRO2IZSCKRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUE3A46UN42OHCIP2QC7UYF36VWC7PFDOX2TKSJXSCUATHESTNPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGT6BNJYKERJIZDCLM6R2JHZIU3APSGFZBP3POAL7JQ4WOOKGHXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLXZOCETTWKAPKNNWRBRQ22MYQ3KW4L37JTPDP3YMAMBUBCCGI5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKWYRJ6ASP3QMJSTEJ7EHVVDFFB5RZM7FD6VVXTKNANJQQ637C7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSRLQNS5YA3OEPDFL4AOJOKUTUN754KSJJITPO6ZFBZ3LTW7CJJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X43CDK5JJ2YGPYFRQZTIGQXTO7AYW6MSFUN6VH7QTRKFHIS34MIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S3NBJBHH74BGGIZ6QXSLKQLOYVO62SLO32EMIMBQ642VLFUWIH5Q/vendors.js"
            ]
        },
        "GetPipeline": {
            "http": {
                "method": "GET",
                "requestUri": "/2022-01-01/osis/getPipeline/{PipelineName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "PipelineName"
                ],
                "members": {
                    "PipelineName": {
                        "location": "uri",
                        "locationName": "PipelineName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Pipeline": {
                        "shape": "Sj"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4I5SF6QQCGOFRKJJDHAQXFFWJG35GD5FDUBFXIABIGPMBWW2AA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3DOHHWUUQ6K2YDIBWDJ77CAPWW3AHCTHKMLJP4WUNPKAQHSPUBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHUHBZQDMXTFX2YLSHX5YZWRZXE7P4KDBTR6JRHKZTLRLVXFNOXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQCHENQ4DTPGWYVHU7Q4UMTTG3MQZY4MNJ65B3G3ONCLFRLI3JUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJXXXW2KZESAZWDKEUCEDKQKE5G77MLCBA2CX4K73PRO2IZSCKRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUE3A46UN42OHCIP2QC7UYF36VWC7PFDOX2TKSJXSCUATHESTNPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGT6BNJYKERJIZDCLM6R2JHZIU3APSGFZBP3POAL7JQ4WOOKGHXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLXZOCETTWKAPKNNWRBRQ22MYQ3KW4L37JTPDP3YMAMBUBCCGI5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKWYRJ6ASP3QMJSTEJ7EHVVDFFB5RZM7FD6VVXTKNANJQQ637C7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSRLQNS5YA3OEPDFL4AOJOKUTUN754KSJJITPO6ZFBZ3LTW7CJJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X43CDK5JJ2YGPYFRQZTIGQXTO7AYW6MSFUN6VH7QTRKFHIS34MIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S3NBJBHH74BGGIZ6QXSLKQLOYVO62SLO32EMIMBQ642VLFUWIH5Q/vendors.js"
            ]
        },
        "GetPipelineBlueprint": {
            "http": {
                "method": "GET",
                "requestUri": "/2022-01-01/osis/getPipelineBlueprint/{BlueprintName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "BlueprintName"
                ],
                "members": {
                    "BlueprintName": {
                        "location": "uri",
                        "locationName": "BlueprintName"
                    },
                    "Format": {
                        "location": "querystring",
                        "locationName": "format"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Blueprint": {
                        "type": "structure",
                        "members": {
                            "BlueprintName": {},
                            "PipelineConfigurationBody": {}
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4I5SF6QQCGOFRKJJDHAQXFFWJG35GD5FDUBFXIABIGPMBWW2AA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3DOHHWUUQ6K2YDIBWDJ77CAPWW3AHCTHKMLJP4WUNPKAQHSPUBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHUHBZQDMXTFX2YLSHX5YZWRZXE7P4KDBTR6JRHKZTLRLVXFNOXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQCHENQ4DTPGWYVHU7Q4UMTTG3MQZY4MNJ65B3G3ONCLFRLI3JUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJXXXW2KZESAZWDKEUCEDKQKE5G77MLCBA2CX4K73PRO2IZSCKRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUE3A46UN42OHCIP2QC7UYF36VWC7PFDOX2TKSJXSCUATHESTNPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGT6BNJYKERJIZDCLM6R2JHZIU3APSGFZBP3POAL7JQ4WOOKGHXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLXZOCETTWKAPKNNWRBRQ22MYQ3KW4L37JTPDP3YMAMBUBCCGI5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKWYRJ6ASP3QMJSTEJ7EHVVDFFB5RZM7FD6VVXTKNANJQQ637C7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSRLQNS5YA3OEPDFL4AOJOKUTUN754KSJJITPO6ZFBZ3LTW7CJJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X43CDK5JJ2YGPYFRQZTIGQXTO7AYW6MSFUN6VH7QTRKFHIS34MIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S3NBJBHH74BGGIZ6QXSLKQLOYVO62SLO32EMIMBQ642VLFUWIH5Q/vendors.js"
            ]
        },
        "GetPipelineChangeProgress": {
            "http": {
                "method": "GET",
                "requestUri": "/2022-01-01/osis/getPipelineChangeProgress/{PipelineName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "PipelineName"
                ],
                "members": {
                    "PipelineName": {
                        "location": "uri",
                        "locationName": "PipelineName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ChangeProgressStatuses": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "StartTime": {
                                    "type": "timestamp"
                                },
                                "Status": {},
                                "TotalNumberOfStages": {
                                    "type": "integer"
                                },
                                "ChangeProgressStages": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "Name": {},
                                            "Status": {},
                                            "Description": {},
                                            "LastUpdatedAt": {
                                                "type": "timestamp"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4I5SF6QQCGOFRKJJDHAQXFFWJG35GD5FDUBFXIABIGPMBWW2AA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3DOHHWUUQ6K2YDIBWDJ77CAPWW3AHCTHKMLJP4WUNPKAQHSPUBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHUHBZQDMXTFX2YLSHX5YZWRZXE7P4KDBTR6JRHKZTLRLVXFNOXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQCHENQ4DTPGWYVHU7Q4UMTTG3MQZY4MNJ65B3G3ONCLFRLI3JUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJXXXW2KZESAZWDKEUCEDKQKE5G77MLCBA2CX4K73PRO2IZSCKRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUE3A46UN42OHCIP2QC7UYF36VWC7PFDOX2TKSJXSCUATHESTNPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGT6BNJYKERJIZDCLM6R2JHZIU3APSGFZBP3POAL7JQ4WOOKGHXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLXZOCETTWKAPKNNWRBRQ22MYQ3KW4L37JTPDP3YMAMBUBCCGI5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKWYRJ6ASP3QMJSTEJ7EHVVDFFB5RZM7FD6VVXTKNANJQQ637C7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSRLQNS5YA3OEPDFL4AOJOKUTUN754KSJJITPO6ZFBZ3LTW7CJJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X43CDK5JJ2YGPYFRQZTIGQXTO7AYW6MSFUN6VH7QTRKFHIS34MIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S3NBJBHH74BGGIZ6QXSLKQLOYVO62SLO32EMIMBQ642VLFUWIH5Q/vendors.js"
            ]
        },
        "ListPipelineBlueprints": {
            "http": {
                "requestUri": "/2022-01-01/osis/listPipelineBlueprints"
            },
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "Blueprints": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "BlueprintName": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4I5SF6QQCGOFRKJJDHAQXFFWJG35GD5FDUBFXIABIGPMBWW2AA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3DOHHWUUQ6K2YDIBWDJ77CAPWW3AHCTHKMLJP4WUNPKAQHSPUBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHUHBZQDMXTFX2YLSHX5YZWRZXE7P4KDBTR6JRHKZTLRLVXFNOXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQCHENQ4DTPGWYVHU7Q4UMTTG3MQZY4MNJ65B3G3ONCLFRLI3JUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJXXXW2KZESAZWDKEUCEDKQKE5G77MLCBA2CX4K73PRO2IZSCKRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUE3A46UN42OHCIP2QC7UYF36VWC7PFDOX2TKSJXSCUATHESTNPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGT6BNJYKERJIZDCLM6R2JHZIU3APSGFZBP3POAL7JQ4WOOKGHXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLXZOCETTWKAPKNNWRBRQ22MYQ3KW4L37JTPDP3YMAMBUBCCGI5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKWYRJ6ASP3QMJSTEJ7EHVVDFFB5RZM7FD6VVXTKNANJQQ637C7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSRLQNS5YA3OEPDFL4AOJOKUTUN754KSJJITPO6ZFBZ3LTW7CJJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X43CDK5JJ2YGPYFRQZTIGQXTO7AYW6MSFUN6VH7QTRKFHIS34MIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S3NBJBHH74BGGIZ6QXSLKQLOYVO62SLO32EMIMBQ642VLFUWIH5Q/vendors.js"
            ]
        },
        "ListPipelines": {
            "http": {
                "method": "GET",
                "requestUri": "/2022-01-01/osis/listPipelines"
            },
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "Pipelines": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Status": {},
                                "StatusReason": {
                                    "shape": "Sn"
                                },
                                "PipelineName": {},
                                "PipelineArn": {},
                                "MinUnits": {
                                    "type": "integer"
                                },
                                "MaxUnits": {
                                    "type": "integer"
                                },
                                "CreatedAt": {
                                    "type": "timestamp"
                                },
                                "LastUpdatedAt": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4I5SF6QQCGOFRKJJDHAQXFFWJG35GD5FDUBFXIABIGPMBWW2AA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3DOHHWUUQ6K2YDIBWDJ77CAPWW3AHCTHKMLJP4WUNPKAQHSPUBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHUHBZQDMXTFX2YLSHX5YZWRZXE7P4KDBTR6JRHKZTLRLVXFNOXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQCHENQ4DTPGWYVHU7Q4UMTTG3MQZY4MNJ65B3G3ONCLFRLI3JUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJXXXW2KZESAZWDKEUCEDKQKE5G77MLCBA2CX4K73PRO2IZSCKRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUE3A46UN42OHCIP2QC7UYF36VWC7PFDOX2TKSJXSCUATHESTNPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGT6BNJYKERJIZDCLM6R2JHZIU3APSGFZBP3POAL7JQ4WOOKGHXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLXZOCETTWKAPKNNWRBRQ22MYQ3KW4L37JTPDP3YMAMBUBCCGI5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKWYRJ6ASP3QMJSTEJ7EHVVDFFB5RZM7FD6VVXTKNANJQQ637C7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSRLQNS5YA3OEPDFL4AOJOKUTUN754KSJJITPO6ZFBZ3LTW7CJJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X43CDK5JJ2YGPYFRQZTIGQXTO7AYW6MSFUN6VH7QTRKFHIS34MIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S3NBJBHH74BGGIZ6QXSLKQLOYVO62SLO32EMIMBQ642VLFUWIH5Q/vendors.js"
            ]
        },
        "ListTagsForResource": {
            "http": {
                "method": "GET",
                "requestUri": "/2022-01-01/osis/listTagsForResource/"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Arn"
                ],
                "members": {
                    "Arn": {
                        "location": "querystring",
                        "locationName": "arn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Tags": {
                        "shape": "Se"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4I5SF6QQCGOFRKJJDHAQXFFWJG35GD5FDUBFXIABIGPMBWW2AA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3DOHHWUUQ6K2YDIBWDJ77CAPWW3AHCTHKMLJP4WUNPKAQHSPUBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHUHBZQDMXTFX2YLSHX5YZWRZXE7P4KDBTR6JRHKZTLRLVXFNOXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQCHENQ4DTPGWYVHU7Q4UMTTG3MQZY4MNJ65B3G3ONCLFRLI3JUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJXXXW2KZESAZWDKEUCEDKQKE5G77MLCBA2CX4K73PRO2IZSCKRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUE3A46UN42OHCIP2QC7UYF36VWC7PFDOX2TKSJXSCUATHESTNPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGT6BNJYKERJIZDCLM6R2JHZIU3APSGFZBP3POAL7JQ4WOOKGHXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLXZOCETTWKAPKNNWRBRQ22MYQ3KW4L37JTPDP3YMAMBUBCCGI5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKWYRJ6ASP3QMJSTEJ7EHVVDFFB5RZM7FD6VVXTKNANJQQ637C7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSRLQNS5YA3OEPDFL4AOJOKUTUN754KSJJITPO6ZFBZ3LTW7CJJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X43CDK5JJ2YGPYFRQZTIGQXTO7AYW6MSFUN6VH7QTRKFHIS34MIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S3NBJBHH74BGGIZ6QXSLKQLOYVO62SLO32EMIMBQ642VLFUWIH5Q/vendors.js"
            ]
        },
        "StartPipeline": {
            "http": {
                "method": "PUT",
                "requestUri": "/2022-01-01/osis/startPipeline/{PipelineName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "PipelineName"
                ],
                "members": {
                    "PipelineName": {
                        "location": "uri",
                        "locationName": "PipelineName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Pipeline": {
                        "shape": "Sj"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4I5SF6QQCGOFRKJJDHAQXFFWJG35GD5FDUBFXIABIGPMBWW2AA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3DOHHWUUQ6K2YDIBWDJ77CAPWW3AHCTHKMLJP4WUNPKAQHSPUBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHUHBZQDMXTFX2YLSHX5YZWRZXE7P4KDBTR6JRHKZTLRLVXFNOXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQCHENQ4DTPGWYVHU7Q4UMTTG3MQZY4MNJ65B3G3ONCLFRLI3JUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJXXXW2KZESAZWDKEUCEDKQKE5G77MLCBA2CX4K73PRO2IZSCKRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUE3A46UN42OHCIP2QC7UYF36VWC7PFDOX2TKSJXSCUATHESTNPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGT6BNJYKERJIZDCLM6R2JHZIU3APSGFZBP3POAL7JQ4WOOKGHXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLXZOCETTWKAPKNNWRBRQ22MYQ3KW4L37JTPDP3YMAMBUBCCGI5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKWYRJ6ASP3QMJSTEJ7EHVVDFFB5RZM7FD6VVXTKNANJQQ637C7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSRLQNS5YA3OEPDFL4AOJOKUTUN754KSJJITPO6ZFBZ3LTW7CJJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X43CDK5JJ2YGPYFRQZTIGQXTO7AYW6MSFUN6VH7QTRKFHIS34MIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S3NBJBHH74BGGIZ6QXSLKQLOYVO62SLO32EMIMBQ642VLFUWIH5Q/vendors.js"
            ]
        },
        "StopPipeline": {
            "http": {
                "method": "PUT",
                "requestUri": "/2022-01-01/osis/stopPipeline/{PipelineName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "PipelineName"
                ],
                "members": {
                    "PipelineName": {
                        "location": "uri",
                        "locationName": "PipelineName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Pipeline": {
                        "shape": "Sj"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4I5SF6QQCGOFRKJJDHAQXFFWJG35GD5FDUBFXIABIGPMBWW2AA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3DOHHWUUQ6K2YDIBWDJ77CAPWW3AHCTHKMLJP4WUNPKAQHSPUBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHUHBZQDMXTFX2YLSHX5YZWRZXE7P4KDBTR6JRHKZTLRLVXFNOXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQCHENQ4DTPGWYVHU7Q4UMTTG3MQZY4MNJ65B3G3ONCLFRLI3JUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJXXXW2KZESAZWDKEUCEDKQKE5G77MLCBA2CX4K73PRO2IZSCKRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUE3A46UN42OHCIP2QC7UYF36VWC7PFDOX2TKSJXSCUATHESTNPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGT6BNJYKERJIZDCLM6R2JHZIU3APSGFZBP3POAL7JQ4WOOKGHXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLXZOCETTWKAPKNNWRBRQ22MYQ3KW4L37JTPDP3YMAMBUBCCGI5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKWYRJ6ASP3QMJSTEJ7EHVVDFFB5RZM7FD6VVXTKNANJQQ637C7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSRLQNS5YA3OEPDFL4AOJOKUTUN754KSJJITPO6ZFBZ3LTW7CJJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X43CDK5JJ2YGPYFRQZTIGQXTO7AYW6MSFUN6VH7QTRKFHIS34MIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S3NBJBHH74BGGIZ6QXSLKQLOYVO62SLO32EMIMBQ642VLFUWIH5Q/vendors.js"
            ]
        },
        "TagResource": {
            "http": {
                "requestUri": "/2022-01-01/osis/tagResource/"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Arn",
                    "Tags"
                ],
                "members": {
                    "Arn": {
                        "location": "querystring",
                        "locationName": "arn"
                    },
                    "Tags": {
                        "shape": "Se"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4I5SF6QQCGOFRKJJDHAQXFFWJG35GD5FDUBFXIABIGPMBWW2AA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3DOHHWUUQ6K2YDIBWDJ77CAPWW3AHCTHKMLJP4WUNPKAQHSPUBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHUHBZQDMXTFX2YLSHX5YZWRZXE7P4KDBTR6JRHKZTLRLVXFNOXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQCHENQ4DTPGWYVHU7Q4UMTTG3MQZY4MNJ65B3G3ONCLFRLI3JUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJXXXW2KZESAZWDKEUCEDKQKE5G77MLCBA2CX4K73PRO2IZSCKRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUE3A46UN42OHCIP2QC7UYF36VWC7PFDOX2TKSJXSCUATHESTNPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGT6BNJYKERJIZDCLM6R2JHZIU3APSGFZBP3POAL7JQ4WOOKGHXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLXZOCETTWKAPKNNWRBRQ22MYQ3KW4L37JTPDP3YMAMBUBCCGI5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKWYRJ6ASP3QMJSTEJ7EHVVDFFB5RZM7FD6VVXTKNANJQQ637C7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSRLQNS5YA3OEPDFL4AOJOKUTUN754KSJJITPO6ZFBZ3LTW7CJJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X43CDK5JJ2YGPYFRQZTIGQXTO7AYW6MSFUN6VH7QTRKFHIS34MIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S3NBJBHH74BGGIZ6QXSLKQLOYVO62SLO32EMIMBQ642VLFUWIH5Q/vendors.js"
            ]
        },
        "UntagResource": {
            "http": {
                "requestUri": "/2022-01-01/osis/untagResource/"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Arn",
                    "TagKeys"
                ],
                "members": {
                    "Arn": {
                        "location": "querystring",
                        "locationName": "arn"
                    },
                    "TagKeys": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4I5SF6QQCGOFRKJJDHAQXFFWJG35GD5FDUBFXIABIGPMBWW2AA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3DOHHWUUQ6K2YDIBWDJ77CAPWW3AHCTHKMLJP4WUNPKAQHSPUBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHUHBZQDMXTFX2YLSHX5YZWRZXE7P4KDBTR6JRHKZTLRLVXFNOXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQCHENQ4DTPGWYVHU7Q4UMTTG3MQZY4MNJ65B3G3ONCLFRLI3JUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJXXXW2KZESAZWDKEUCEDKQKE5G77MLCBA2CX4K73PRO2IZSCKRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUE3A46UN42OHCIP2QC7UYF36VWC7PFDOX2TKSJXSCUATHESTNPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGT6BNJYKERJIZDCLM6R2JHZIU3APSGFZBP3POAL7JQ4WOOKGHXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLXZOCETTWKAPKNNWRBRQ22MYQ3KW4L37JTPDP3YMAMBUBCCGI5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKWYRJ6ASP3QMJSTEJ7EHVVDFFB5RZM7FD6VVXTKNANJQQ637C7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSRLQNS5YA3OEPDFL4AOJOKUTUN754KSJJITPO6ZFBZ3LTW7CJJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X43CDK5JJ2YGPYFRQZTIGQXTO7AYW6MSFUN6VH7QTRKFHIS34MIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S3NBJBHH74BGGIZ6QXSLKQLOYVO62SLO32EMIMBQ642VLFUWIH5Q/vendors.js"
            ]
        },
        "UpdatePipeline": {
            "http": {
                "method": "PUT",
                "requestUri": "/2022-01-01/osis/updatePipeline/{PipelineName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "PipelineName"
                ],
                "members": {
                    "PipelineName": {
                        "location": "uri",
                        "locationName": "PipelineName"
                    },
                    "MinUnits": {
                        "type": "integer"
                    },
                    "MaxUnits": {
                        "type": "integer"
                    },
                    "PipelineConfigurationBody": {},
                    "LogPublishingOptions": {
                        "shape": "S5"
                    },
                    "BufferOptions": {
                        "shape": "Sg"
                    },
                    "EncryptionAtRestOptions": {
                        "shape": "Sh"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Pipeline": {
                        "shape": "Sj"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4I5SF6QQCGOFRKJJDHAQXFFWJG35GD5FDUBFXIABIGPMBWW2AA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3DOHHWUUQ6K2YDIBWDJ77CAPWW3AHCTHKMLJP4WUNPKAQHSPUBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHUHBZQDMXTFX2YLSHX5YZWRZXE7P4KDBTR6JRHKZTLRLVXFNOXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQCHENQ4DTPGWYVHU7Q4UMTTG3MQZY4MNJ65B3G3ONCLFRLI3JUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJXXXW2KZESAZWDKEUCEDKQKE5G77MLCBA2CX4K73PRO2IZSCKRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUE3A46UN42OHCIP2QC7UYF36VWC7PFDOX2TKSJXSCUATHESTNPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGT6BNJYKERJIZDCLM6R2JHZIU3APSGFZBP3POAL7JQ4WOOKGHXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLXZOCETTWKAPKNNWRBRQ22MYQ3KW4L37JTPDP3YMAMBUBCCGI5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKWYRJ6ASP3QMJSTEJ7EHVVDFFB5RZM7FD6VVXTKNANJQQ637C7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSRLQNS5YA3OEPDFL4AOJOKUTUN754KSJJITPO6ZFBZ3LTW7CJJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X43CDK5JJ2YGPYFRQZTIGQXTO7AYW6MSFUN6VH7QTRKFHIS34MIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S3NBJBHH74BGGIZ6QXSLKQLOYVO62SLO32EMIMBQ642VLFUWIH5Q/vendors.js"
            ]
        },
        "ValidatePipeline": {
            "http": {
                "requestUri": "/2022-01-01/osis/validatePipeline"
            },
            "input": {
                "type": "structure",
                "required": [
                    "PipelineConfigurationBody"
                ],
                "members": {
                    "PipelineConfigurationBody": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "isValid": {
                        "type": "boolean"
                    },
                    "Errors": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Message": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4I5SF6QQCGOFRKJJDHAQXFFWJG35GD5FDUBFXIABIGPMBWW2AA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3DOHHWUUQ6K2YDIBWDJ77CAPWW3AHCTHKMLJP4WUNPKAQHSPUBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHUHBZQDMXTFX2YLSHX5YZWRZXE7P4KDBTR6JRHKZTLRLVXFNOXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQCHENQ4DTPGWYVHU7Q4UMTTG3MQZY4MNJ65B3G3ONCLFRLI3JUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJXXXW2KZESAZWDKEUCEDKQKE5G77MLCBA2CX4K73PRO2IZSCKRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUE3A46UN42OHCIP2QC7UYF36VWC7PFDOX2TKSJXSCUATHESTNPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGT6BNJYKERJIZDCLM6R2JHZIU3APSGFZBP3POAL7JQ4WOOKGHXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLXZOCETTWKAPKNNWRBRQ22MYQ3KW4L37JTPDP3YMAMBUBCCGI5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKWYRJ6ASP3QMJSTEJ7EHVVDFFB5RZM7FD6VVXTKNANJQQ637C7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSRLQNS5YA3OEPDFL4AOJOKUTUN754KSJJITPO6ZFBZ3LTW7CJJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X43CDK5JJ2YGPYFRQZTIGQXTO7AYW6MSFUN6VH7QTRKFHIS34MIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S3NBJBHH74BGGIZ6QXSLKQLOYVO62SLO32EMIMBQ642VLFUWIH5Q/vendors.js"
            ]
        }
    },
    "shapes": {
        "S5": {
            "type": "structure",
            "members": {
                "IsLoggingEnabled": {
                    "type": "boolean"
                },
                "CloudWatchLogDestination": {
                    "type": "structure",
                    "required": [
                        "LogGroup"
                    ],
                    "members": {
                        "LogGroup": {}
                    }
                }
            }
        },
        "S9": {
            "type": "structure",
            "required": [
                "SubnetIds"
            ],
            "members": {
                "SubnetIds": {
                    "type": "list",
                    "member": {}
                },
                "SecurityGroupIds": {
                    "type": "list",
                    "member": {}
                }
            }
        },
        "Se": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "Key",
                    "Value"
                ],
                "members": {
                    "Key": {},
                    "Value": {}
                }
            }
        },
        "Sj": {
            "type": "structure",
            "members": {
                "PipelineName": {},
                "PipelineArn": {},
                "MinUnits": {
                    "type": "integer"
                },
                "MaxUnits": {
                    "type": "integer"
                },
                "Status": {},
                "StatusReason": {
                    "shape": "Sn"
                },
                "PipelineConfigurationBody": {},
                "CreatedAt": {
                    "type": "timestamp"
                },
                "LastUpdatedAt": {
                    "type": "timestamp"
                },
                "IngestEndpointUrls": {
                    "type": "list",
                    "member": {}
                },
                "LogPublishingOptions": {
                    "shape": "S5"
                },
                "VpcEndpoints": {
                    "type": "list",
                    "member": {
                        "type": "structure",
                        "members": {
                            "VpcEndpointId": {},
                            "VpcId": {},
                            "VpcOptions": {
                                "shape": "S9"
                            }
                        }
                    }
                }
            }
        },
        "Sn": {
            "type": "structure",
            "members": {
                "Description": {}
            }
        },
        "Sg": {
            "type": "structure",
            "required": [
                "PersistentBufferEnabled"
            ],
            "members": {
                "PersistentBufferEnabled": {
                    "type": "boolean"
                }
            }
        },
        "Sh": {
            "type": "structure",
            "required": [
                "KmsKeyArn"
            ],
            "members": {
                "KmsKeyArn": {}
            }
        },
        "So": {
            "type": "structure",
            "members": {
                "PipelineName": {},
                "PipelineArn": {},
                "MinUnits": {
                    "type": "integer"
                },
                "MaxUnits": {
                    "type": "integer"
                },
                "Status": {},
                "StatusReason": {
                    "shape": "Sr"
                },
                "PipelineConfigurationBody": {},
                "CreatedAt": {
                    "type": "timestamp"
                },
                "LastUpdatedAt": {
                    "type": "timestamp"
                },
                "IngestEndpointUrls": {
                    "type": "list",
                    "member": {}
                },
                "LogPublishingOptions": {
                    "shape": "S5"
                },
                "VpcEndpoints": {
                    "type": "list",
                    "member": {
                        "type": "structure",
                        "members": {
                            "VpcEndpointId": {},
                            "VpcId": {},
                            "VpcOptions": {
                                "shape": "S9"
                            }
                        }
                    }
                },
                "BufferOptions": {
                    "shape": "Sg"
                },
                "EncryptionAtRestOptions": {
                    "shape": "Sh"
                },
                "ServiceVpcEndpoints": {
                    "type": "list",
                    "member": {
                        "type": "structure",
                        "members": {
                            "ServiceName": {},
                            "VpcEndpointId": {}
                        }
                    }
                },
                "Tags": {
                    "shape": "Sj"
                }
            }
        },
        "Sr": {
            "type": "structure",
            "members": {
                "Description": {}
            }
        },
        "Sf": {
            "type": "structure",
            "required": [
                "KmsKeyArn"
            ],
            "members": {
                "KmsKeyArn": {}
            }
        },
        "Sm": {
            "type": "structure",
            "members": {
                "PipelineName": {},
                "PipelineArn": {},
                "MinUnits": {
                    "type": "integer"
                },
                "MaxUnits": {
                    "type": "integer"
                },
                "Status": {},
                "StatusReason": {
                    "shape": "Sq"
                },
                "PipelineConfigurationBody": {},
                "CreatedAt": {
                    "type": "timestamp"
                },
                "LastUpdatedAt": {
                    "type": "timestamp"
                },
                "IngestEndpointUrls": {
                    "type": "list",
                    "member": {}
                },
                "LogPublishingOptions": {
                    "shape": "S5"
                },
                "VpcEndpoints": {
                    "type": "list",
                    "member": {
                        "type": "structure",
                        "members": {
                            "VpcEndpointId": {},
                            "VpcId": {},
                            "VpcOptions": {
                                "shape": "S9"
                            }
                        }
                    }
                },
                "BufferOptions": {
                    "shape": "Se"
                },
                "EncryptionAtRestOptions": {
                    "shape": "Sf"
                },
                "ServiceVpcEndpoints": {
                    "type": "list",
                    "member": {
                        "type": "structure",
                        "members": {
                            "ServiceName": {},
                            "VpcEndpointId": {}
                        }
                    }
                },
                "Tags": {
                    "shape": "Sh"
                }
            }
        },
        "Sq": {
            "type": "structure",
            "members": {
                "Description": {}
            }
        },
        "Ss": {
            "type": "structure",
            "members": {
                "Description": {}
            }
        },
        "S10": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "ServiceName": {},
                    "Endpoint": {}
                }
            }
        },
        "Si": {
            "type": "structure",
            "required": [
                "KmsKeyArn"
            ],
            "members": {
                "KmsKeyArn": {}
            }
        },
        "Sk": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "Key",
                    "Value"
                ],
                "members": {
                    "Key": {},
                    "Value": {}
                }
            }
        },
        "Sp": {
            "type": "structure",
            "members": {
                "PipelineName": {},
                "PipelineArn": {},
                "MinUnits": {
                    "type": "integer"
                },
                "MaxUnits": {
                    "type": "integer"
                },
                "Status": {},
                "StatusReason": {
                    "shape": "St"
                },
                "PipelineConfigurationBody": {},
                "CreatedAt": {
                    "type": "timestamp"
                },
                "LastUpdatedAt": {
                    "type": "timestamp"
                },
                "IngestEndpointUrls": {
                    "type": "list",
                    "member": {}
                },
                "LogPublishingOptions": {
                    "shape": "S5"
                },
                "VpcEndpoints": {
                    "type": "list",
                    "member": {
                        "type": "structure",
                        "members": {
                            "VpcEndpointId": {},
                            "VpcId": {},
                            "VpcOptions": {
                                "shape": "S9"
                            }
                        }
                    }
                },
                "BufferOptions": {
                    "shape": "Sh"
                },
                "EncryptionAtRestOptions": {
                    "shape": "Si"
                },
                "VpcEndpointService": {},
                "ServiceVpcEndpoints": {
                    "type": "list",
                    "member": {
                        "type": "structure",
                        "members": {
                            "ServiceName": {},
                            "VpcEndpointId": {}
                        }
                    }
                },
                "Destinations": {
                    "shape": "S11"
                },
                "Tags": {
                    "shape": "Sk"
                }
            }
        },
        "St": {
            "type": "structure",
            "members": {
                "Description": {}
            }
        },
        "S11": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "ServiceName": {},
                    "Endpoint": {}
                }
            }
        }
    }
}