{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2022-01-01",
        "endpointPrefix": "osis",
        "protocol": "rest-json",
        "serviceFullName": "Amazon OpenSearch Ingestion",
        "serviceId": "OSIS",
        "signatureVersion": "v4",
        "uid": "osis-2022-01-01",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/JJMLDE7XFZMTHU6TKYTXRNZUJIBSTAFWYMZLQQ7HQFI4AS5OUW2A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/X5HO46I7F6MHKSJFG3W73JO6WH3PH6NSY6ITEWIVFBDT42PZC5IQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/K7UDUY7JCZ24ZLDTWBAJDCJAICV2M3HAN4LKJSE6VUKYQJICTIGA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UIIVRSC76HU4AN3ID6EWTFHTCFDBDA3XGI34M4CFWBNKUNRDVVZA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UGJPVOQZGJBAK6LKJIZI5KKSJRKI72NZEUOH5C2ZZXFCZXT5W7JA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3J3CMJL3BIO2BV4OJZK4TXSSC63XCAZOM2YUQ3U7FCYCBDPRAUPA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5AFIKQVXABYBMJVUEIKA7XA6GQBPYE4LP33JFYZU6U3XTQD57LOA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6DV47BKANYAH5K3O3FH4AK6JZLL536EDAV7DQXVQYZA4TFFMOMQA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JVWN2XSEXMMHMY7ZOSDT4I5VHY5UWKH7DJA2UZ5OYELM5DS7OFBA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SK7MNHKBY6C7E2CP4EPAZOM5ISZGMLSEZAKUOJWJRQC5HWDBE4QQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DAJYCCV7BZOTJ5PX67DAJU5KLSC6AVXYP6LFW3IKO5DZMLHI6IUA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6VH4W4P3WIFFVLZLGF3ERFIIRYXDERX6PPIXXD7TFJLG7PBQRNGQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/N67E6FB6ZEKSO3NKY34AEHA7S6SRPDH5TWIVFMVHKE36BTBEOAIQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GIVWJRDUWWS7KMGUQHEUNLARA2TCNEQ5LM5AKJFLYVUNXNYHM6KA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7FBX2UTBDUZGVGQ5X4LHPMZMN4HGBLNFE7JD2K2GLFMVWA7Z57PA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3WBY7Y5QLJFAP72KENDGTQF6TTIOBYNPUTHR2YDLYNWLFL4LMNEA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OPDXGONTYEUK46DA45S3FKKRQFYZW3PKCIQRLBPQIPT2WXM272EA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KO64KZDL7XG4PLJZIR5DRQGUSRDVWDTFJYUAUYYDXJ6DM665SULQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/S4IR74KYD4BUYWHTG4KEBARHTZX7WTVJTA32TBXFXRYQWPLZWUXA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TWYWLMEDCDE76W2OFM66OHC7XY32Z6LNUZ2KGLCOPCKBXI2I5OIQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BLJBROGBAF63ZVEYPFQX6VDPJDAOO24VGDUYLHPQZVRDLT5U6O5Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
        ]
    },
    "operations": {
        "CreatePipeline": {
            "http": {
                "requestUri": "/2022-01-01/osis/createPipeline"
            },
            "input": {
                "type": "structure",
                "required": [
                    "PipelineName",
                    "MinUnits",
                    "MaxUnits",
                    "PipelineConfigurationBody"
                ],
                "members": {
                    "PipelineName": {},
                    "MinUnits": {
                        "type": "integer"
                    },
                    "MaxUnits": {
                        "type": "integer"
                    },
                    "PipelineConfigurationBody": {},
                    "LogPublishingOptions": {
                        "shape": "S5"
                    },
                    "VpcOptions": {
                        "shape": "S9"
                    },
                    "Tags": {
                        "shape": "Se"
                    },
                    "BufferOptions": {
                        "shape": "Sg"
                    },
                    "EncryptionAtRestOptions": {
                        "shape": "Sh"
                    },
                    "PipelineRoleArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Pipeline": {
                        "shape": "Sj"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5HO46I7F6MHKSJFG3W73JO6WH3PH6NSY6ITEWIVFBDT42PZC5IQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7UDUY7JCZ24ZLDTWBAJDCJAICV2M3HAN4LKJSE6VUKYQJICTIGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIIVRSC76HU4AN3ID6EWTFHTCFDBDA3XGI34M4CFWBNKUNRDVVZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGJPVOQZGJBAK6LKJIZI5KKSJRKI72NZEUOH5C2ZZXFCZXT5W7JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3J3CMJL3BIO2BV4OJZK4TXSSC63XCAZOM2YUQ3U7FCYCBDPRAUPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5AFIKQVXABYBMJVUEIKA7XA6GQBPYE4LP33JFYZU6U3XTQD57LOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DV47BKANYAH5K3O3FH4AK6JZLL536EDAV7DQXVQYZA4TFFMOMQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVWN2XSEXMMHMY7ZOSDT4I5VHY5UWKH7DJA2UZ5OYELM5DS7OFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SK7MNHKBY6C7E2CP4EPAZOM5ISZGMLSEZAKUOJWJRQC5HWDBE4QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAJYCCV7BZOTJ5PX67DAJU5KLSC6AVXYP6LFW3IKO5DZMLHI6IUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VH4W4P3WIFFVLZLGF3ERFIIRYXDERX6PPIXXD7TFJLG7PBQRNGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N67E6FB6ZEKSO3NKY34AEHA7S6SRPDH5TWIVFMVHKE36BTBEOAIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIVWJRDUWWS7KMGUQHEUNLARA2TCNEQ5LM5AKJFLYVUNXNYHM6KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7FBX2UTBDUZGVGQ5X4LHPMZMN4HGBLNFE7JD2K2GLFMVWA7Z57PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WBY7Y5QLJFAP72KENDGTQF6TTIOBYNPUTHR2YDLYNWLFL4LMNEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPDXGONTYEUK46DA45S3FKKRQFYZW3PKCIQRLBPQIPT2WXM272EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KO64KZDL7XG4PLJZIR5DRQGUSRDVWDTFJYUAUYYDXJ6DM665SULQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4IR74KYD4BUYWHTG4KEBARHTZX7WTVJTA32TBXFXRYQWPLZWUXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TWYWLMEDCDE76W2OFM66OHC7XY32Z6LNUZ2KGLCOPCKBXI2I5OIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLJBROGBAF63ZVEYPFQX6VDPJDAOO24VGDUYLHPQZVRDLT5U6O5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeletePipeline": {
            "http": {
                "method": "DELETE",
                "requestUri": "/2022-01-01/osis/deletePipeline/{PipelineName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "PipelineName"
                ],
                "members": {
                    "PipelineName": {
                        "location": "uri",
                        "locationName": "PipelineName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5HO46I7F6MHKSJFG3W73JO6WH3PH6NSY6ITEWIVFBDT42PZC5IQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7UDUY7JCZ24ZLDTWBAJDCJAICV2M3HAN4LKJSE6VUKYQJICTIGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIIVRSC76HU4AN3ID6EWTFHTCFDBDA3XGI34M4CFWBNKUNRDVVZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGJPVOQZGJBAK6LKJIZI5KKSJRKI72NZEUOH5C2ZZXFCZXT5W7JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3J3CMJL3BIO2BV4OJZK4TXSSC63XCAZOM2YUQ3U7FCYCBDPRAUPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5AFIKQVXABYBMJVUEIKA7XA6GQBPYE4LP33JFYZU6U3XTQD57LOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DV47BKANYAH5K3O3FH4AK6JZLL536EDAV7DQXVQYZA4TFFMOMQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVWN2XSEXMMHMY7ZOSDT4I5VHY5UWKH7DJA2UZ5OYELM5DS7OFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SK7MNHKBY6C7E2CP4EPAZOM5ISZGMLSEZAKUOJWJRQC5HWDBE4QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAJYCCV7BZOTJ5PX67DAJU5KLSC6AVXYP6LFW3IKO5DZMLHI6IUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VH4W4P3WIFFVLZLGF3ERFIIRYXDERX6PPIXXD7TFJLG7PBQRNGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N67E6FB6ZEKSO3NKY34AEHA7S6SRPDH5TWIVFMVHKE36BTBEOAIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIVWJRDUWWS7KMGUQHEUNLARA2TCNEQ5LM5AKJFLYVUNXNYHM6KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7FBX2UTBDUZGVGQ5X4LHPMZMN4HGBLNFE7JD2K2GLFMVWA7Z57PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WBY7Y5QLJFAP72KENDGTQF6TTIOBYNPUTHR2YDLYNWLFL4LMNEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPDXGONTYEUK46DA45S3FKKRQFYZW3PKCIQRLBPQIPT2WXM272EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KO64KZDL7XG4PLJZIR5DRQGUSRDVWDTFJYUAUYYDXJ6DM665SULQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4IR74KYD4BUYWHTG4KEBARHTZX7WTVJTA32TBXFXRYQWPLZWUXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TWYWLMEDCDE76W2OFM66OHC7XY32Z6LNUZ2KGLCOPCKBXI2I5OIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLJBROGBAF63ZVEYPFQX6VDPJDAOO24VGDUYLHPQZVRDLT5U6O5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetPipeline": {
            "http": {
                "method": "GET",
                "requestUri": "/2022-01-01/osis/getPipeline/{PipelineName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "PipelineName"
                ],
                "members": {
                    "PipelineName": {
                        "location": "uri",
                        "locationName": "PipelineName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Pipeline": {
                        "shape": "Sj"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5HO46I7F6MHKSJFG3W73JO6WH3PH6NSY6ITEWIVFBDT42PZC5IQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7UDUY7JCZ24ZLDTWBAJDCJAICV2M3HAN4LKJSE6VUKYQJICTIGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIIVRSC76HU4AN3ID6EWTFHTCFDBDA3XGI34M4CFWBNKUNRDVVZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGJPVOQZGJBAK6LKJIZI5KKSJRKI72NZEUOH5C2ZZXFCZXT5W7JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3J3CMJL3BIO2BV4OJZK4TXSSC63XCAZOM2YUQ3U7FCYCBDPRAUPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5AFIKQVXABYBMJVUEIKA7XA6GQBPYE4LP33JFYZU6U3XTQD57LOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DV47BKANYAH5K3O3FH4AK6JZLL536EDAV7DQXVQYZA4TFFMOMQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVWN2XSEXMMHMY7ZOSDT4I5VHY5UWKH7DJA2UZ5OYELM5DS7OFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SK7MNHKBY6C7E2CP4EPAZOM5ISZGMLSEZAKUOJWJRQC5HWDBE4QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAJYCCV7BZOTJ5PX67DAJU5KLSC6AVXYP6LFW3IKO5DZMLHI6IUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VH4W4P3WIFFVLZLGF3ERFIIRYXDERX6PPIXXD7TFJLG7PBQRNGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N67E6FB6ZEKSO3NKY34AEHA7S6SRPDH5TWIVFMVHKE36BTBEOAIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIVWJRDUWWS7KMGUQHEUNLARA2TCNEQ5LM5AKJFLYVUNXNYHM6KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7FBX2UTBDUZGVGQ5X4LHPMZMN4HGBLNFE7JD2K2GLFMVWA7Z57PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WBY7Y5QLJFAP72KENDGTQF6TTIOBYNPUTHR2YDLYNWLFL4LMNEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPDXGONTYEUK46DA45S3FKKRQFYZW3PKCIQRLBPQIPT2WXM272EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KO64KZDL7XG4PLJZIR5DRQGUSRDVWDTFJYUAUYYDXJ6DM665SULQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4IR74KYD4BUYWHTG4KEBARHTZX7WTVJTA32TBXFXRYQWPLZWUXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TWYWLMEDCDE76W2OFM66OHC7XY32Z6LNUZ2KGLCOPCKBXI2I5OIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLJBROGBAF63ZVEYPFQX6VDPJDAOO24VGDUYLHPQZVRDLT5U6O5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetPipelineBlueprint": {
            "http": {
                "method": "GET",
                "requestUri": "/2022-01-01/osis/getPipelineBlueprint/{BlueprintName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "BlueprintName"
                ],
                "members": {
                    "BlueprintName": {
                        "location": "uri",
                        "locationName": "BlueprintName"
                    },
                    "Format": {
                        "location": "querystring",
                        "locationName": "format"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Blueprint": {
                        "type": "structure",
                        "members": {
                            "BlueprintName": {},
                            "PipelineConfigurationBody": {}
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5HO46I7F6MHKSJFG3W73JO6WH3PH6NSY6ITEWIVFBDT42PZC5IQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7UDUY7JCZ24ZLDTWBAJDCJAICV2M3HAN4LKJSE6VUKYQJICTIGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIIVRSC76HU4AN3ID6EWTFHTCFDBDA3XGI34M4CFWBNKUNRDVVZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGJPVOQZGJBAK6LKJIZI5KKSJRKI72NZEUOH5C2ZZXFCZXT5W7JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3J3CMJL3BIO2BV4OJZK4TXSSC63XCAZOM2YUQ3U7FCYCBDPRAUPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5AFIKQVXABYBMJVUEIKA7XA6GQBPYE4LP33JFYZU6U3XTQD57LOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DV47BKANYAH5K3O3FH4AK6JZLL536EDAV7DQXVQYZA4TFFMOMQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVWN2XSEXMMHMY7ZOSDT4I5VHY5UWKH7DJA2UZ5OYELM5DS7OFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SK7MNHKBY6C7E2CP4EPAZOM5ISZGMLSEZAKUOJWJRQC5HWDBE4QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAJYCCV7BZOTJ5PX67DAJU5KLSC6AVXYP6LFW3IKO5DZMLHI6IUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VH4W4P3WIFFVLZLGF3ERFIIRYXDERX6PPIXXD7TFJLG7PBQRNGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N67E6FB6ZEKSO3NKY34AEHA7S6SRPDH5TWIVFMVHKE36BTBEOAIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIVWJRDUWWS7KMGUQHEUNLARA2TCNEQ5LM5AKJFLYVUNXNYHM6KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7FBX2UTBDUZGVGQ5X4LHPMZMN4HGBLNFE7JD2K2GLFMVWA7Z57PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WBY7Y5QLJFAP72KENDGTQF6TTIOBYNPUTHR2YDLYNWLFL4LMNEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPDXGONTYEUK46DA45S3FKKRQFYZW3PKCIQRLBPQIPT2WXM272EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KO64KZDL7XG4PLJZIR5DRQGUSRDVWDTFJYUAUYYDXJ6DM665SULQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4IR74KYD4BUYWHTG4KEBARHTZX7WTVJTA32TBXFXRYQWPLZWUXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TWYWLMEDCDE76W2OFM66OHC7XY32Z6LNUZ2KGLCOPCKBXI2I5OIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLJBROGBAF63ZVEYPFQX6VDPJDAOO24VGDUYLHPQZVRDLT5U6O5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetPipelineChangeProgress": {
            "http": {
                "method": "GET",
                "requestUri": "/2022-01-01/osis/getPipelineChangeProgress/{PipelineName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "PipelineName"
                ],
                "members": {
                    "PipelineName": {
                        "location": "uri",
                        "locationName": "PipelineName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ChangeProgressStatuses": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "StartTime": {
                                    "type": "timestamp"
                                },
                                "Status": {},
                                "TotalNumberOfStages": {
                                    "type": "integer"
                                },
                                "ChangeProgressStages": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "Name": {},
                                            "Status": {},
                                            "Description": {},
                                            "LastUpdatedAt": {
                                                "type": "timestamp"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5HO46I7F6MHKSJFG3W73JO6WH3PH6NSY6ITEWIVFBDT42PZC5IQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7UDUY7JCZ24ZLDTWBAJDCJAICV2M3HAN4LKJSE6VUKYQJICTIGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIIVRSC76HU4AN3ID6EWTFHTCFDBDA3XGI34M4CFWBNKUNRDVVZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGJPVOQZGJBAK6LKJIZI5KKSJRKI72NZEUOH5C2ZZXFCZXT5W7JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3J3CMJL3BIO2BV4OJZK4TXSSC63XCAZOM2YUQ3U7FCYCBDPRAUPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5AFIKQVXABYBMJVUEIKA7XA6GQBPYE4LP33JFYZU6U3XTQD57LOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DV47BKANYAH5K3O3FH4AK6JZLL536EDAV7DQXVQYZA4TFFMOMQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVWN2XSEXMMHMY7ZOSDT4I5VHY5UWKH7DJA2UZ5OYELM5DS7OFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SK7MNHKBY6C7E2CP4EPAZOM5ISZGMLSEZAKUOJWJRQC5HWDBE4QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAJYCCV7BZOTJ5PX67DAJU5KLSC6AVXYP6LFW3IKO5DZMLHI6IUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VH4W4P3WIFFVLZLGF3ERFIIRYXDERX6PPIXXD7TFJLG7PBQRNGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N67E6FB6ZEKSO3NKY34AEHA7S6SRPDH5TWIVFMVHKE36BTBEOAIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIVWJRDUWWS7KMGUQHEUNLARA2TCNEQ5LM5AKJFLYVUNXNYHM6KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7FBX2UTBDUZGVGQ5X4LHPMZMN4HGBLNFE7JD2K2GLFMVWA7Z57PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WBY7Y5QLJFAP72KENDGTQF6TTIOBYNPUTHR2YDLYNWLFL4LMNEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPDXGONTYEUK46DA45S3FKKRQFYZW3PKCIQRLBPQIPT2WXM272EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KO64KZDL7XG4PLJZIR5DRQGUSRDVWDTFJYUAUYYDXJ6DM665SULQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4IR74KYD4BUYWHTG4KEBARHTZX7WTVJTA32TBXFXRYQWPLZWUXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TWYWLMEDCDE76W2OFM66OHC7XY32Z6LNUZ2KGLCOPCKBXI2I5OIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLJBROGBAF63ZVEYPFQX6VDPJDAOO24VGDUYLHPQZVRDLT5U6O5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ListPipelineBlueprints": {
            "http": {
                "requestUri": "/2022-01-01/osis/listPipelineBlueprints"
            },
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "Blueprints": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "BlueprintName": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5HO46I7F6MHKSJFG3W73JO6WH3PH6NSY6ITEWIVFBDT42PZC5IQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7UDUY7JCZ24ZLDTWBAJDCJAICV2M3HAN4LKJSE6VUKYQJICTIGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIIVRSC76HU4AN3ID6EWTFHTCFDBDA3XGI34M4CFWBNKUNRDVVZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGJPVOQZGJBAK6LKJIZI5KKSJRKI72NZEUOH5C2ZZXFCZXT5W7JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3J3CMJL3BIO2BV4OJZK4TXSSC63XCAZOM2YUQ3U7FCYCBDPRAUPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5AFIKQVXABYBMJVUEIKA7XA6GQBPYE4LP33JFYZU6U3XTQD57LOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DV47BKANYAH5K3O3FH4AK6JZLL536EDAV7DQXVQYZA4TFFMOMQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVWN2XSEXMMHMY7ZOSDT4I5VHY5UWKH7DJA2UZ5OYELM5DS7OFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SK7MNHKBY6C7E2CP4EPAZOM5ISZGMLSEZAKUOJWJRQC5HWDBE4QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAJYCCV7BZOTJ5PX67DAJU5KLSC6AVXYP6LFW3IKO5DZMLHI6IUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VH4W4P3WIFFVLZLGF3ERFIIRYXDERX6PPIXXD7TFJLG7PBQRNGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N67E6FB6ZEKSO3NKY34AEHA7S6SRPDH5TWIVFMVHKE36BTBEOAIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIVWJRDUWWS7KMGUQHEUNLARA2TCNEQ5LM5AKJFLYVUNXNYHM6KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7FBX2UTBDUZGVGQ5X4LHPMZMN4HGBLNFE7JD2K2GLFMVWA7Z57PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WBY7Y5QLJFAP72KENDGTQF6TTIOBYNPUTHR2YDLYNWLFL4LMNEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPDXGONTYEUK46DA45S3FKKRQFYZW3PKCIQRLBPQIPT2WXM272EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KO64KZDL7XG4PLJZIR5DRQGUSRDVWDTFJYUAUYYDXJ6DM665SULQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4IR74KYD4BUYWHTG4KEBARHTZX7WTVJTA32TBXFXRYQWPLZWUXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TWYWLMEDCDE76W2OFM66OHC7XY32Z6LNUZ2KGLCOPCKBXI2I5OIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLJBROGBAF63ZVEYPFQX6VDPJDAOO24VGDUYLHPQZVRDLT5U6O5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ListPipelines": {
            "http": {
                "method": "GET",
                "requestUri": "/2022-01-01/osis/listPipelines"
            },
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "Pipelines": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Status": {},
                                "StatusReason": {
                                    "shape": "Sn"
                                },
                                "PipelineName": {},
                                "PipelineArn": {},
                                "MinUnits": {
                                    "type": "integer"
                                },
                                "MaxUnits": {
                                    "type": "integer"
                                },
                                "CreatedAt": {
                                    "type": "timestamp"
                                },
                                "LastUpdatedAt": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5HO46I7F6MHKSJFG3W73JO6WH3PH6NSY6ITEWIVFBDT42PZC5IQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7UDUY7JCZ24ZLDTWBAJDCJAICV2M3HAN4LKJSE6VUKYQJICTIGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIIVRSC76HU4AN3ID6EWTFHTCFDBDA3XGI34M4CFWBNKUNRDVVZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGJPVOQZGJBAK6LKJIZI5KKSJRKI72NZEUOH5C2ZZXFCZXT5W7JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3J3CMJL3BIO2BV4OJZK4TXSSC63XCAZOM2YUQ3U7FCYCBDPRAUPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5AFIKQVXABYBMJVUEIKA7XA6GQBPYE4LP33JFYZU6U3XTQD57LOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DV47BKANYAH5K3O3FH4AK6JZLL536EDAV7DQXVQYZA4TFFMOMQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVWN2XSEXMMHMY7ZOSDT4I5VHY5UWKH7DJA2UZ5OYELM5DS7OFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SK7MNHKBY6C7E2CP4EPAZOM5ISZGMLSEZAKUOJWJRQC5HWDBE4QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAJYCCV7BZOTJ5PX67DAJU5KLSC6AVXYP6LFW3IKO5DZMLHI6IUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VH4W4P3WIFFVLZLGF3ERFIIRYXDERX6PPIXXD7TFJLG7PBQRNGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N67E6FB6ZEKSO3NKY34AEHA7S6SRPDH5TWIVFMVHKE36BTBEOAIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIVWJRDUWWS7KMGUQHEUNLARA2TCNEQ5LM5AKJFLYVUNXNYHM6KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7FBX2UTBDUZGVGQ5X4LHPMZMN4HGBLNFE7JD2K2GLFMVWA7Z57PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WBY7Y5QLJFAP72KENDGTQF6TTIOBYNPUTHR2YDLYNWLFL4LMNEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPDXGONTYEUK46DA45S3FKKRQFYZW3PKCIQRLBPQIPT2WXM272EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KO64KZDL7XG4PLJZIR5DRQGUSRDVWDTFJYUAUYYDXJ6DM665SULQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4IR74KYD4BUYWHTG4KEBARHTZX7WTVJTA32TBXFXRYQWPLZWUXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TWYWLMEDCDE76W2OFM66OHC7XY32Z6LNUZ2KGLCOPCKBXI2I5OIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLJBROGBAF63ZVEYPFQX6VDPJDAOO24VGDUYLHPQZVRDLT5U6O5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ListTagsForResource": {
            "http": {
                "method": "GET",
                "requestUri": "/2022-01-01/osis/listTagsForResource/"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Arn"
                ],
                "members": {
                    "Arn": {
                        "location": "querystring",
                        "locationName": "arn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Tags": {
                        "shape": "Se"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5HO46I7F6MHKSJFG3W73JO6WH3PH6NSY6ITEWIVFBDT42PZC5IQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7UDUY7JCZ24ZLDTWBAJDCJAICV2M3HAN4LKJSE6VUKYQJICTIGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIIVRSC76HU4AN3ID6EWTFHTCFDBDA3XGI34M4CFWBNKUNRDVVZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGJPVOQZGJBAK6LKJIZI5KKSJRKI72NZEUOH5C2ZZXFCZXT5W7JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3J3CMJL3BIO2BV4OJZK4TXSSC63XCAZOM2YUQ3U7FCYCBDPRAUPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5AFIKQVXABYBMJVUEIKA7XA6GQBPYE4LP33JFYZU6U3XTQD57LOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DV47BKANYAH5K3O3FH4AK6JZLL536EDAV7DQXVQYZA4TFFMOMQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVWN2XSEXMMHMY7ZOSDT4I5VHY5UWKH7DJA2UZ5OYELM5DS7OFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SK7MNHKBY6C7E2CP4EPAZOM5ISZGMLSEZAKUOJWJRQC5HWDBE4QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAJYCCV7BZOTJ5PX67DAJU5KLSC6AVXYP6LFW3IKO5DZMLHI6IUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VH4W4P3WIFFVLZLGF3ERFIIRYXDERX6PPIXXD7TFJLG7PBQRNGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N67E6FB6ZEKSO3NKY34AEHA7S6SRPDH5TWIVFMVHKE36BTBEOAIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIVWJRDUWWS7KMGUQHEUNLARA2TCNEQ5LM5AKJFLYVUNXNYHM6KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7FBX2UTBDUZGVGQ5X4LHPMZMN4HGBLNFE7JD2K2GLFMVWA7Z57PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WBY7Y5QLJFAP72KENDGTQF6TTIOBYNPUTHR2YDLYNWLFL4LMNEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPDXGONTYEUK46DA45S3FKKRQFYZW3PKCIQRLBPQIPT2WXM272EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KO64KZDL7XG4PLJZIR5DRQGUSRDVWDTFJYUAUYYDXJ6DM665SULQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4IR74KYD4BUYWHTG4KEBARHTZX7WTVJTA32TBXFXRYQWPLZWUXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TWYWLMEDCDE76W2OFM66OHC7XY32Z6LNUZ2KGLCOPCKBXI2I5OIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLJBROGBAF63ZVEYPFQX6VDPJDAOO24VGDUYLHPQZVRDLT5U6O5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "StartPipeline": {
            "http": {
                "method": "PUT",
                "requestUri": "/2022-01-01/osis/startPipeline/{PipelineName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "PipelineName"
                ],
                "members": {
                    "PipelineName": {
                        "location": "uri",
                        "locationName": "PipelineName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Pipeline": {
                        "shape": "Sj"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5HO46I7F6MHKSJFG3W73JO6WH3PH6NSY6ITEWIVFBDT42PZC5IQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7UDUY7JCZ24ZLDTWBAJDCJAICV2M3HAN4LKJSE6VUKYQJICTIGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIIVRSC76HU4AN3ID6EWTFHTCFDBDA3XGI34M4CFWBNKUNRDVVZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGJPVOQZGJBAK6LKJIZI5KKSJRKI72NZEUOH5C2ZZXFCZXT5W7JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3J3CMJL3BIO2BV4OJZK4TXSSC63XCAZOM2YUQ3U7FCYCBDPRAUPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5AFIKQVXABYBMJVUEIKA7XA6GQBPYE4LP33JFYZU6U3XTQD57LOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DV47BKANYAH5K3O3FH4AK6JZLL536EDAV7DQXVQYZA4TFFMOMQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVWN2XSEXMMHMY7ZOSDT4I5VHY5UWKH7DJA2UZ5OYELM5DS7OFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SK7MNHKBY6C7E2CP4EPAZOM5ISZGMLSEZAKUOJWJRQC5HWDBE4QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAJYCCV7BZOTJ5PX67DAJU5KLSC6AVXYP6LFW3IKO5DZMLHI6IUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VH4W4P3WIFFVLZLGF3ERFIIRYXDERX6PPIXXD7TFJLG7PBQRNGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N67E6FB6ZEKSO3NKY34AEHA7S6SRPDH5TWIVFMVHKE36BTBEOAIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIVWJRDUWWS7KMGUQHEUNLARA2TCNEQ5LM5AKJFLYVUNXNYHM6KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7FBX2UTBDUZGVGQ5X4LHPMZMN4HGBLNFE7JD2K2GLFMVWA7Z57PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WBY7Y5QLJFAP72KENDGTQF6TTIOBYNPUTHR2YDLYNWLFL4LMNEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPDXGONTYEUK46DA45S3FKKRQFYZW3PKCIQRLBPQIPT2WXM272EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KO64KZDL7XG4PLJZIR5DRQGUSRDVWDTFJYUAUYYDXJ6DM665SULQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4IR74KYD4BUYWHTG4KEBARHTZX7WTVJTA32TBXFXRYQWPLZWUXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TWYWLMEDCDE76W2OFM66OHC7XY32Z6LNUZ2KGLCOPCKBXI2I5OIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLJBROGBAF63ZVEYPFQX6VDPJDAOO24VGDUYLHPQZVRDLT5U6O5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "StopPipeline": {
            "http": {
                "method": "PUT",
                "requestUri": "/2022-01-01/osis/stopPipeline/{PipelineName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "PipelineName"
                ],
                "members": {
                    "PipelineName": {
                        "location": "uri",
                        "locationName": "PipelineName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Pipeline": {
                        "shape": "Sj"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5HO46I7F6MHKSJFG3W73JO6WH3PH6NSY6ITEWIVFBDT42PZC5IQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7UDUY7JCZ24ZLDTWBAJDCJAICV2M3HAN4LKJSE6VUKYQJICTIGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIIVRSC76HU4AN3ID6EWTFHTCFDBDA3XGI34M4CFWBNKUNRDVVZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGJPVOQZGJBAK6LKJIZI5KKSJRKI72NZEUOH5C2ZZXFCZXT5W7JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3J3CMJL3BIO2BV4OJZK4TXSSC63XCAZOM2YUQ3U7FCYCBDPRAUPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5AFIKQVXABYBMJVUEIKA7XA6GQBPYE4LP33JFYZU6U3XTQD57LOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DV47BKANYAH5K3O3FH4AK6JZLL536EDAV7DQXVQYZA4TFFMOMQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVWN2XSEXMMHMY7ZOSDT4I5VHY5UWKH7DJA2UZ5OYELM5DS7OFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SK7MNHKBY6C7E2CP4EPAZOM5ISZGMLSEZAKUOJWJRQC5HWDBE4QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAJYCCV7BZOTJ5PX67DAJU5KLSC6AVXYP6LFW3IKO5DZMLHI6IUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VH4W4P3WIFFVLZLGF3ERFIIRYXDERX6PPIXXD7TFJLG7PBQRNGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N67E6FB6ZEKSO3NKY34AEHA7S6SRPDH5TWIVFMVHKE36BTBEOAIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIVWJRDUWWS7KMGUQHEUNLARA2TCNEQ5LM5AKJFLYVUNXNYHM6KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7FBX2UTBDUZGVGQ5X4LHPMZMN4HGBLNFE7JD2K2GLFMVWA7Z57PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WBY7Y5QLJFAP72KENDGTQF6TTIOBYNPUTHR2YDLYNWLFL4LMNEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPDXGONTYEUK46DA45S3FKKRQFYZW3PKCIQRLBPQIPT2WXM272EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KO64KZDL7XG4PLJZIR5DRQGUSRDVWDTFJYUAUYYDXJ6DM665SULQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4IR74KYD4BUYWHTG4KEBARHTZX7WTVJTA32TBXFXRYQWPLZWUXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TWYWLMEDCDE76W2OFM66OHC7XY32Z6LNUZ2KGLCOPCKBXI2I5OIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLJBROGBAF63ZVEYPFQX6VDPJDAOO24VGDUYLHPQZVRDLT5U6O5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "TagResource": {
            "http": {
                "requestUri": "/2022-01-01/osis/tagResource/"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Arn",
                    "Tags"
                ],
                "members": {
                    "Arn": {
                        "location": "querystring",
                        "locationName": "arn"
                    },
                    "Tags": {
                        "shape": "Se"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5HO46I7F6MHKSJFG3W73JO6WH3PH6NSY6ITEWIVFBDT42PZC5IQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7UDUY7JCZ24ZLDTWBAJDCJAICV2M3HAN4LKJSE6VUKYQJICTIGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIIVRSC76HU4AN3ID6EWTFHTCFDBDA3XGI34M4CFWBNKUNRDVVZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGJPVOQZGJBAK6LKJIZI5KKSJRKI72NZEUOH5C2ZZXFCZXT5W7JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3J3CMJL3BIO2BV4OJZK4TXSSC63XCAZOM2YUQ3U7FCYCBDPRAUPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5AFIKQVXABYBMJVUEIKA7XA6GQBPYE4LP33JFYZU6U3XTQD57LOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DV47BKANYAH5K3O3FH4AK6JZLL536EDAV7DQXVQYZA4TFFMOMQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVWN2XSEXMMHMY7ZOSDT4I5VHY5UWKH7DJA2UZ5OYELM5DS7OFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SK7MNHKBY6C7E2CP4EPAZOM5ISZGMLSEZAKUOJWJRQC5HWDBE4QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAJYCCV7BZOTJ5PX67DAJU5KLSC6AVXYP6LFW3IKO5DZMLHI6IUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VH4W4P3WIFFVLZLGF3ERFIIRYXDERX6PPIXXD7TFJLG7PBQRNGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N67E6FB6ZEKSO3NKY34AEHA7S6SRPDH5TWIVFMVHKE36BTBEOAIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIVWJRDUWWS7KMGUQHEUNLARA2TCNEQ5LM5AKJFLYVUNXNYHM6KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7FBX2UTBDUZGVGQ5X4LHPMZMN4HGBLNFE7JD2K2GLFMVWA7Z57PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WBY7Y5QLJFAP72KENDGTQF6TTIOBYNPUTHR2YDLYNWLFL4LMNEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPDXGONTYEUK46DA45S3FKKRQFYZW3PKCIQRLBPQIPT2WXM272EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KO64KZDL7XG4PLJZIR5DRQGUSRDVWDTFJYUAUYYDXJ6DM665SULQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4IR74KYD4BUYWHTG4KEBARHTZX7WTVJTA32TBXFXRYQWPLZWUXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TWYWLMEDCDE76W2OFM66OHC7XY32Z6LNUZ2KGLCOPCKBXI2I5OIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLJBROGBAF63ZVEYPFQX6VDPJDAOO24VGDUYLHPQZVRDLT5U6O5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "UntagResource": {
            "http": {
                "requestUri": "/2022-01-01/osis/untagResource/"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Arn",
                    "TagKeys"
                ],
                "members": {
                    "Arn": {
                        "location": "querystring",
                        "locationName": "arn"
                    },
                    "TagKeys": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5HO46I7F6MHKSJFG3W73JO6WH3PH6NSY6ITEWIVFBDT42PZC5IQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7UDUY7JCZ24ZLDTWBAJDCJAICV2M3HAN4LKJSE6VUKYQJICTIGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIIVRSC76HU4AN3ID6EWTFHTCFDBDA3XGI34M4CFWBNKUNRDVVZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGJPVOQZGJBAK6LKJIZI5KKSJRKI72NZEUOH5C2ZZXFCZXT5W7JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3J3CMJL3BIO2BV4OJZK4TXSSC63XCAZOM2YUQ3U7FCYCBDPRAUPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5AFIKQVXABYBMJVUEIKA7XA6GQBPYE4LP33JFYZU6U3XTQD57LOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DV47BKANYAH5K3O3FH4AK6JZLL536EDAV7DQXVQYZA4TFFMOMQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVWN2XSEXMMHMY7ZOSDT4I5VHY5UWKH7DJA2UZ5OYELM5DS7OFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SK7MNHKBY6C7E2CP4EPAZOM5ISZGMLSEZAKUOJWJRQC5HWDBE4QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAJYCCV7BZOTJ5PX67DAJU5KLSC6AVXYP6LFW3IKO5DZMLHI6IUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VH4W4P3WIFFVLZLGF3ERFIIRYXDERX6PPIXXD7TFJLG7PBQRNGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N67E6FB6ZEKSO3NKY34AEHA7S6SRPDH5TWIVFMVHKE36BTBEOAIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIVWJRDUWWS7KMGUQHEUNLARA2TCNEQ5LM5AKJFLYVUNXNYHM6KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7FBX2UTBDUZGVGQ5X4LHPMZMN4HGBLNFE7JD2K2GLFMVWA7Z57PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WBY7Y5QLJFAP72KENDGTQF6TTIOBYNPUTHR2YDLYNWLFL4LMNEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPDXGONTYEUK46DA45S3FKKRQFYZW3PKCIQRLBPQIPT2WXM272EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KO64KZDL7XG4PLJZIR5DRQGUSRDVWDTFJYUAUYYDXJ6DM665SULQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4IR74KYD4BUYWHTG4KEBARHTZX7WTVJTA32TBXFXRYQWPLZWUXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TWYWLMEDCDE76W2OFM66OHC7XY32Z6LNUZ2KGLCOPCKBXI2I5OIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLJBROGBAF63ZVEYPFQX6VDPJDAOO24VGDUYLHPQZVRDLT5U6O5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "UpdatePipeline": {
            "http": {
                "method": "PUT",
                "requestUri": "/2022-01-01/osis/updatePipeline/{PipelineName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "PipelineName"
                ],
                "members": {
                    "PipelineName": {
                        "location": "uri",
                        "locationName": "PipelineName"
                    },
                    "MinUnits": {
                        "type": "integer"
                    },
                    "MaxUnits": {
                        "type": "integer"
                    },
                    "PipelineConfigurationBody": {},
                    "LogPublishingOptions": {
                        "shape": "S5"
                    },
                    "BufferOptions": {
                        "shape": "Sg"
                    },
                    "EncryptionAtRestOptions": {
                        "shape": "Sh"
                    },
                    "PipelineRoleArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Pipeline": {
                        "shape": "Sj"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5HO46I7F6MHKSJFG3W73JO6WH3PH6NSY6ITEWIVFBDT42PZC5IQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7UDUY7JCZ24ZLDTWBAJDCJAICV2M3HAN4LKJSE6VUKYQJICTIGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIIVRSC76HU4AN3ID6EWTFHTCFDBDA3XGI34M4CFWBNKUNRDVVZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGJPVOQZGJBAK6LKJIZI5KKSJRKI72NZEUOH5C2ZZXFCZXT5W7JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3J3CMJL3BIO2BV4OJZK4TXSSC63XCAZOM2YUQ3U7FCYCBDPRAUPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5AFIKQVXABYBMJVUEIKA7XA6GQBPYE4LP33JFYZU6U3XTQD57LOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DV47BKANYAH5K3O3FH4AK6JZLL536EDAV7DQXVQYZA4TFFMOMQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVWN2XSEXMMHMY7ZOSDT4I5VHY5UWKH7DJA2UZ5OYELM5DS7OFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SK7MNHKBY6C7E2CP4EPAZOM5ISZGMLSEZAKUOJWJRQC5HWDBE4QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAJYCCV7BZOTJ5PX67DAJU5KLSC6AVXYP6LFW3IKO5DZMLHI6IUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VH4W4P3WIFFVLZLGF3ERFIIRYXDERX6PPIXXD7TFJLG7PBQRNGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N67E6FB6ZEKSO3NKY34AEHA7S6SRPDH5TWIVFMVHKE36BTBEOAIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIVWJRDUWWS7KMGUQHEUNLARA2TCNEQ5LM5AKJFLYVUNXNYHM6KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7FBX2UTBDUZGVGQ5X4LHPMZMN4HGBLNFE7JD2K2GLFMVWA7Z57PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WBY7Y5QLJFAP72KENDGTQF6TTIOBYNPUTHR2YDLYNWLFL4LMNEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPDXGONTYEUK46DA45S3FKKRQFYZW3PKCIQRLBPQIPT2WXM272EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KO64KZDL7XG4PLJZIR5DRQGUSRDVWDTFJYUAUYYDXJ6DM665SULQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4IR74KYD4BUYWHTG4KEBARHTZX7WTVJTA32TBXFXRYQWPLZWUXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TWYWLMEDCDE76W2OFM66OHC7XY32Z6LNUZ2KGLCOPCKBXI2I5OIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLJBROGBAF63ZVEYPFQX6VDPJDAOO24VGDUYLHPQZVRDLT5U6O5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ValidatePipeline": {
            "http": {
                "requestUri": "/2022-01-01/osis/validatePipeline"
            },
            "input": {
                "type": "structure",
                "required": [
                    "PipelineConfigurationBody"
                ],
                "members": {
                    "PipelineConfigurationBody": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "isValid": {
                        "type": "boolean"
                    },
                    "Errors": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Message": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5HO46I7F6MHKSJFG3W73JO6WH3PH6NSY6ITEWIVFBDT42PZC5IQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7UDUY7JCZ24ZLDTWBAJDCJAICV2M3HAN4LKJSE6VUKYQJICTIGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIIVRSC76HU4AN3ID6EWTFHTCFDBDA3XGI34M4CFWBNKUNRDVVZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGJPVOQZGJBAK6LKJIZI5KKSJRKI72NZEUOH5C2ZZXFCZXT5W7JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3J3CMJL3BIO2BV4OJZK4TXSSC63XCAZOM2YUQ3U7FCYCBDPRAUPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5AFIKQVXABYBMJVUEIKA7XA6GQBPYE4LP33JFYZU6U3XTQD57LOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DV47BKANYAH5K3O3FH4AK6JZLL536EDAV7DQXVQYZA4TFFMOMQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVWN2XSEXMMHMY7ZOSDT4I5VHY5UWKH7DJA2UZ5OYELM5DS7OFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SK7MNHKBY6C7E2CP4EPAZOM5ISZGMLSEZAKUOJWJRQC5HWDBE4QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAJYCCV7BZOTJ5PX67DAJU5KLSC6AVXYP6LFW3IKO5DZMLHI6IUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VH4W4P3WIFFVLZLGF3ERFIIRYXDERX6PPIXXD7TFJLG7PBQRNGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N67E6FB6ZEKSO3NKY34AEHA7S6SRPDH5TWIVFMVHKE36BTBEOAIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIVWJRDUWWS7KMGUQHEUNLARA2TCNEQ5LM5AKJFLYVUNXNYHM6KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7FBX2UTBDUZGVGQ5X4LHPMZMN4HGBLNFE7JD2K2GLFMVWA7Z57PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WBY7Y5QLJFAP72KENDGTQF6TTIOBYNPUTHR2YDLYNWLFL4LMNEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPDXGONTYEUK46DA45S3FKKRQFYZW3PKCIQRLBPQIPT2WXM272EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KO64KZDL7XG4PLJZIR5DRQGUSRDVWDTFJYUAUYYDXJ6DM665SULQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4IR74KYD4BUYWHTG4KEBARHTZX7WTVJTA32TBXFXRYQWPLZWUXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TWYWLMEDCDE76W2OFM66OHC7XY32Z6LNUZ2KGLCOPCKBXI2I5OIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLJBROGBAF63ZVEYPFQX6VDPJDAOO24VGDUYLHPQZVRDLT5U6O5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetServiceRoleMetadata": {
            "http": {
                "requestUri": "/2022-01-01/osis/getServiceRoleMetadata"
            },
            "input": {
                "type": "structure",
                "required": [
                    "PipelineName",
                    "PipelineConfigurationBody",
                    "RoleNameSuffix"
                ],
                "members": {
                    "PipelineName": {},
                    "PipelineConfigurationBody": {},
                    "RoleNameSuffix": {},
                    "ServiceRoleResources": {
                        "type": "structure",
                        "members": {
                            "VpcOptions": {
                                "shape": "S9"
                            },
                            "PersistentBufferKmsKeyArn": {},
                            "DecryptKmsKeyArns": {
                                "type": "list",
                                "member": {}
                            },
                            "S3SourceBuckets": {
                                "shape": "S1n"
                            },
                            "S3SinkBuckets": {
                                "shape": "S1n"
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "CreatePolicyForServiceRoleRequests": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ServicePrincipalName": {},
                                "TemplateName": {},
                                "TemplateVersion": {
                                    "type": "integer"
                                },
                                "PolicyDescription": {},
                                "PolicyName": {},
                                "PermissionPolicySingleValueReplacements": {
                                    "shape": "S1s"
                                },
                                "PermissionPolicyMultipleValueReplacements": {
                                    "shape": "S1t"
                                }
                            }
                        }
                    },
                    "CreateServiceRoleRequest": {
                        "type": "structure",
                        "members": {
                            "ServicePrincipalName": {},
                            "TemplateName": {},
                            "TemplateVersion": {
                                "type": "integer"
                            },
                            "RoleName": {},
                            "TrustPolicySingleValueReplacements": {
                                "shape": "S1s"
                            },
                            "TrustPolicyMultipleValueReplacements": {
                                "shape": "S1t"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LA33ZB5X626QVUV36ONY4Q7MPJ7NXOUAB6RCHY47AUCSJ72P7IIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJMLDE7XFZMTHU6TKYTXRNZUJIBSTAFWYMZLQQ7HQFI4AS5OUW2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGJPVOQZGJBAK6LKJIZI5KKSJRKI72NZEUOH5C2ZZXFCZXT5W7JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3J3CMJL3BIO2BV4OJZK4TXSSC63XCAZOM2YUQ3U7FCYCBDPRAUPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5AFIKQVXABYBMJVUEIKA7XA6GQBPYE4LP33JFYZU6U3XTQD57LOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVWN2XSEXMMHMY7ZOSDT4I5VHY5UWKH7DJA2UZ5OYELM5DS7OFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAJYCCV7BZOTJ5PX67DAJU5KLSC6AVXYP6LFW3IKO5DZMLHI6IUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N67E6FB6ZEKSO3NKY34AEHA7S6SRPDH5TWIVFMVHKE36BTBEOAIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WBY7Y5QLJFAP72KENDGTQF6TTIOBYNPUTHR2YDLYNWLFL4LMNEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPDXGONTYEUK46DA45S3FKKRQFYZW3PKCIQRLBPQIPT2WXM272EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KO64KZDL7XG4PLJZIR5DRQGUSRDVWDTFJYUAUYYDXJ6DM665SULQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4IR74KYD4BUYWHTG4KEBARHTZX7WTVJTA32TBXFXRYQWPLZWUXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TWYWLMEDCDE76W2OFM66OHC7XY32Z6LNUZ2KGLCOPCKBXI2I5OIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLJBROGBAF63ZVEYPFQX6VDPJDAOO24VGDUYLHPQZVRDLT5U6O5Q/vendors.js"
            ]
        },
        "ListPipelineSchemas": {
            "http": {
                "method": "GET",
                "requestUri": "/2022-01-01/osis/listPipelineSchemas/{ComponentType}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ComponentType"
                ],
                "members": {
                    "ComponentType": {
                        "location": "uri",
                        "locationName": "ComponentType"
                    },
                    "ComponentNames": {
                        "location": "querystring",
                        "locationName": "componentNames",
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "PipelineSchemas": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ComponentName": {},
                                "ComponentType": {},
                                "Schema": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5AFIKQVXABYBMJVUEIKA7XA6GQBPYE4LP33JFYZU6U3XTQD57LOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVWN2XSEXMMHMY7ZOSDT4I5VHY5UWKH7DJA2UZ5OYELM5DS7OFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAJYCCV7BZOTJ5PX67DAJU5KLSC6AVXYP6LFW3IKO5DZMLHI6IUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N67E6FB6ZEKSO3NKY34AEHA7S6SRPDH5TWIVFMVHKE36BTBEOAIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WBY7Y5QLJFAP72KENDGTQF6TTIOBYNPUTHR2YDLYNWLFL4LMNEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPDXGONTYEUK46DA45S3FKKRQFYZW3PKCIQRLBPQIPT2WXM272EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KO64KZDL7XG4PLJZIR5DRQGUSRDVWDTFJYUAUYYDXJ6DM665SULQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4IR74KYD4BUYWHTG4KEBARHTZX7WTVJTA32TBXFXRYQWPLZWUXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TWYWLMEDCDE76W2OFM66OHC7XY32Z6LNUZ2KGLCOPCKBXI2I5OIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLJBROGBAF63ZVEYPFQX6VDPJDAOO24VGDUYLHPQZVRDLT5U6O5Q/vendors.js"
            ]
        }
    },
    "shapes": {
        "S5": {
            "type": "structure",
            "members": {
                "IsLoggingEnabled": {
                    "type": "boolean"
                },
                "CloudWatchLogDestination": {
                    "type": "structure",
                    "required": [
                        "LogGroup"
                    ],
                    "members": {
                        "LogGroup": {}
                    }
                }
            }
        },
        "S9": {
            "type": "structure",
            "required": [
                "SubnetIds"
            ],
            "members": {
                "SubnetIds": {
                    "type": "list",
                    "member": {}
                },
                "SecurityGroupIds": {
                    "type": "list",
                    "member": {}
                }
            }
        },
        "Se": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "Key",
                    "Value"
                ],
                "members": {
                    "Key": {},
                    "Value": {}
                }
            }
        },
        "Sj": {
            "type": "structure",
            "members": {
                "PipelineName": {},
                "PipelineArn": {},
                "MinUnits": {
                    "type": "integer"
                },
                "MaxUnits": {
                    "type": "integer"
                },
                "Status": {},
                "StatusReason": {
                    "shape": "Sn"
                },
                "PipelineConfigurationBody": {},
                "CreatedAt": {
                    "type": "timestamp"
                },
                "LastUpdatedAt": {
                    "type": "timestamp"
                },
                "IngestEndpointUrls": {
                    "type": "list",
                    "member": {}
                },
                "LogPublishingOptions": {
                    "shape": "S5"
                },
                "VpcEndpoints": {
                    "type": "list",
                    "member": {
                        "type": "structure",
                        "members": {
                            "VpcEndpointId": {},
                            "VpcId": {},
                            "VpcOptions": {
                                "shape": "S9"
                            }
                        }
                    }
                }
            }
        },
        "Sn": {
            "type": "structure",
            "members": {
                "Description": {}
            }
        },
        "Sg": {
            "type": "structure",
            "required": [
                "PersistentBufferEnabled"
            ],
            "members": {
                "PersistentBufferEnabled": {
                    "type": "boolean"
                }
            }
        },
        "Sh": {
            "type": "structure",
            "required": [
                "KmsKeyArn"
            ],
            "members": {
                "KmsKeyArn": {}
            }
        },
        "So": {
            "type": "structure",
            "members": {
                "PipelineName": {},
                "PipelineArn": {},
                "MinUnits": {
                    "type": "integer"
                },
                "MaxUnits": {
                    "type": "integer"
                },
                "Status": {},
                "StatusReason": {
                    "shape": "Sr"
                },
                "PipelineConfigurationBody": {},
                "CreatedAt": {
                    "type": "timestamp"
                },
                "LastUpdatedAt": {
                    "type": "timestamp"
                },
                "IngestEndpointUrls": {
                    "type": "list",
                    "member": {}
                },
                "LogPublishingOptions": {
                    "shape": "S5"
                },
                "VpcEndpoints": {
                    "type": "list",
                    "member": {
                        "type": "structure",
                        "members": {
                            "VpcEndpointId": {},
                            "VpcId": {},
                            "VpcOptions": {
                                "shape": "S9"
                            }
                        }
                    }
                },
                "BufferOptions": {
                    "shape": "Sg"
                },
                "EncryptionAtRestOptions": {
                    "shape": "Sh"
                },
                "ServiceVpcEndpoints": {
                    "type": "list",
                    "member": {
                        "type": "structure",
                        "members": {
                            "ServiceName": {},
                            "VpcEndpointId": {}
                        }
                    }
                },
                "Tags": {
                    "shape": "Sj"
                }
            }
        },
        "Sr": {
            "type": "structure",
            "members": {
                "Description": {}
            }
        },
        "Sf": {
            "type": "structure",
            "required": [
                "KmsKeyArn"
            ],
            "members": {
                "KmsKeyArn": {}
            }
        },
        "Sm": {
            "type": "structure",
            "members": {
                "PipelineName": {},
                "PipelineArn": {},
                "MinUnits": {
                    "type": "integer"
                },
                "MaxUnits": {
                    "type": "integer"
                },
                "Status": {},
                "StatusReason": {
                    "shape": "Sq"
                },
                "PipelineConfigurationBody": {},
                "CreatedAt": {
                    "type": "timestamp"
                },
                "LastUpdatedAt": {
                    "type": "timestamp"
                },
                "IngestEndpointUrls": {
                    "type": "list",
                    "member": {}
                },
                "LogPublishingOptions": {
                    "shape": "S5"
                },
                "VpcEndpoints": {
                    "type": "list",
                    "member": {
                        "type": "structure",
                        "members": {
                            "VpcEndpointId": {},
                            "VpcId": {},
                            "VpcOptions": {
                                "shape": "S9"
                            }
                        }
                    }
                },
                "BufferOptions": {
                    "shape": "Se"
                },
                "EncryptionAtRestOptions": {
                    "shape": "Sf"
                },
                "ServiceVpcEndpoints": {
                    "type": "list",
                    "member": {
                        "type": "structure",
                        "members": {
                            "ServiceName": {},
                            "VpcEndpointId": {}
                        }
                    }
                },
                "Tags": {
                    "shape": "Sh"
                }
            }
        },
        "Sq": {
            "type": "structure",
            "members": {
                "Description": {}
            }
        },
        "Ss": {
            "type": "structure",
            "members": {
                "Description": {}
            }
        },
        "S10": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "ServiceName": {},
                    "Endpoint": {}
                }
            }
        },
        "Si": {
            "type": "structure",
            "required": [
                "KmsKeyArn"
            ],
            "members": {
                "KmsKeyArn": {}
            }
        },
        "Sk": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "Key",
                    "Value"
                ],
                "members": {
                    "Key": {},
                    "Value": {}
                }
            }
        },
        "Sp": {
            "type": "structure",
            "members": {
                "PipelineName": {},
                "PipelineArn": {},
                "MinUnits": {
                    "type": "integer"
                },
                "MaxUnits": {
                    "type": "integer"
                },
                "Status": {},
                "StatusReason": {
                    "shape": "St"
                },
                "PipelineConfigurationBody": {},
                "CreatedAt": {
                    "type": "timestamp"
                },
                "LastUpdatedAt": {
                    "type": "timestamp"
                },
                "IngestEndpointUrls": {
                    "type": "list",
                    "member": {}
                },
                "LogPublishingOptions": {
                    "shape": "S5"
                },
                "VpcEndpoints": {
                    "type": "list",
                    "member": {
                        "type": "structure",
                        "members": {
                            "VpcEndpointId": {},
                            "VpcId": {},
                            "VpcOptions": {
                                "shape": "S9"
                            }
                        }
                    }
                },
                "BufferOptions": {
                    "shape": "Sh"
                },
                "EncryptionAtRestOptions": {
                    "shape": "Si"
                },
                "VpcEndpointService": {},
                "ServiceVpcEndpoints": {
                    "type": "list",
                    "member": {
                        "type": "structure",
                        "members": {
                            "ServiceName": {},
                            "VpcEndpointId": {}
                        }
                    }
                },
                "Destinations": {
                    "shape": "S11"
                },
                "Tags": {
                    "shape": "Sk"
                }
            }
        },
        "St": {
            "type": "structure",
            "members": {
                "Description": {}
            }
        },
        "S11": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "ServiceName": {},
                    "Endpoint": {}
                }
            }
        },
        "S1n": {
            "type": "structure",
            "members": {
                "Buckets": {
                    "shape": "S1o"
                },
                "AllowAllBuckets": {
                    "type": "boolean"
                }
            }
        },
        "S1o": {
            "type": "list",
            "member": {}
        },
        "S1s": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "S1t": {
            "type": "map",
            "key": {},
            "value": {
                "shape": "S1o"
            }
        },
        "Su": {
            "type": "structure",
            "members": {
                "Description": {}
            }
        },
        "S12": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "ServiceName": {},
                    "Endpoint": {}
                }
            }
        },
        "S1p": {
            "type": "list",
            "member": {}
        },
        "S1u": {
            "type": "map",
            "key": {},
            "value": {
                "shape": "S1p"
            }
        }
    }
}