{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2022-01-01",
        "endpointPrefix": "osis",
        "protocol": "rest-json",
        "serviceFullName": "Amazon OpenSearch Ingestion",
        "serviceId": "OSIS",
        "signatureVersion": "v4",
        "uid": "osis-2022-01-01",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/EN4M26W65GYRXEEFJKWTXSMRJ6EWHCA25H5YGBGLFMHCQIT4FMGQ/876.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/N3HX4Z4WEZOVGHDNDM5ZYBHLAXUMMDN2CGZYIMPH4ZDH7UHQQA4A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EZURAWTJVQVPYWLCUOZX2BBPE2QVXNKLY3S6XT4TLVU5EJR73DVA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IFG2XOIP6D3OCTGVEHIDJBY7ZTJCAETYUSTYD7UKBRLJ5O2BQVAA/876.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TBHZMGDQNZCZPYEIG3WCNGGAEERHOECZXDQDX77T6MAEAMQ2UBFA/876.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IGKIWQLF7SXRPDQBWPVCM24MJCVYHEYD4I4ZXGRVTSYAGEMRRB5Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/W74XJRJVCMXZWHGEVOVG4I22TJQUDGVBPY5CGXTS3VCHGMLOSYSQ/748.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OGFKRAEOMEVNNWCERANK2JGZHKH7HTYHJGX54JR5S3QU77PM3PBA/748.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CGIWKKAFIJ5W6Z4Z4JMG6I5IJWAYQDWYG6KJUFLOF772RYRNGSDA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BV4USZZWWKAEN3DATSGCSYXYIW67LWHE22RQEFFPKA2OHV4RWZSQ/748.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PP35CMMO3HDAL4DQTSZD2GQQWJQ4L444LYRY5XG3Q5YNV4M47WEQ/748.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6MPAUKASQM26PTK2JPCK4277LVTODLTR3PBGZ3VHCNWZFPJLMOTA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LNMH7KLTFGFMRXRYYSZ6SS7N5UNAEGAUEU5HDKHYLPAOWWBPDQEA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MLQXHGRTIRXS6EKCIADUYAFEWV5V55WTIPR34VXLXVT2GL2B7ETA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/36GARLBI7YJAUEA324D5WT72APEI6LZXIPYBXPH6EBRHJBR6736A/748.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PF5FSLXREG5M4AX4R43TQKRVBPPQBLCDMHEP2N4XPKNYOCVFPS6A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FJFSNDHLLVYBF25IOWMPHURJLQYOBAFD73TBEQ3MMKDFH3FINWRA/748.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JMWOIETUBCQTU2UMYHIBI7Z7RJNUXYQJ3R34ER24IFA3IJIRSXDQ/748.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JHMO7TF7PZFNDGF5LE5XBA6A73N3IGLIP5MAME7RJZGRHXOHQ5YA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FIRBO6IDU5RL6DLPYHVDBUMNUFSCRBMIA2ZYRLK2QXPRIM5ZPXEA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/26DBZ6YZIL6LJNZEVZGAQ3RLXPC2MPNEV6F7UYQATZU4YCE2VTEA/748.js"
        ]
    },
    "operations": {
        "CreatePipeline": {
            "http": {
                "requestUri": "/2022-01-01/osis/createPipeline"
            },
            "input": {
                "type": "structure",
                "required": [
                    "PipelineName",
                    "MinUnits",
                    "MaxUnits",
                    "PipelineConfigurationBody"
                ],
                "members": {
                    "PipelineName": {},
                    "MinUnits": {
                        "type": "integer"
                    },
                    "MaxUnits": {
                        "type": "integer"
                    },
                    "PipelineConfigurationBody": {},
                    "LogPublishingOptions": {
                        "shape": "S5"
                    },
                    "VpcOptions": {
                        "shape": "S9"
                    },
                    "Tags": {
                        "shape": "Se"
                    },
                    "BufferOptions": {
                        "shape": "Sg"
                    },
                    "EncryptionAtRestOptions": {
                        "shape": "Sh"
                    },
                    "PipelineRoleArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Pipeline": {
                        "shape": "Sj"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EN4M26W65GYRXEEFJKWTXSMRJ6EWHCA25H5YGBGLFMHCQIT4FMGQ/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3HX4Z4WEZOVGHDNDM5ZYBHLAXUMMDN2CGZYIMPH4ZDH7UHQQA4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EZURAWTJVQVPYWLCUOZX2BBPE2QVXNKLY3S6XT4TLVU5EJR73DVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFG2XOIP6D3OCTGVEHIDJBY7ZTJCAETYUSTYD7UKBRLJ5O2BQVAA/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBHZMGDQNZCZPYEIG3WCNGGAEERHOECZXDQDX77T6MAEAMQ2UBFA/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGKIWQLF7SXRPDQBWPVCM24MJCVYHEYD4I4ZXGRVTSYAGEMRRB5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W74XJRJVCMXZWHGEVOVG4I22TJQUDGVBPY5CGXTS3VCHGMLOSYSQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGFKRAEOMEVNNWCERANK2JGZHKH7HTYHJGX54JR5S3QU77PM3PBA/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGIWKKAFIJ5W6Z4Z4JMG6I5IJWAYQDWYG6KJUFLOF772RYRNGSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BV4USZZWWKAEN3DATSGCSYXYIW67LWHE22RQEFFPKA2OHV4RWZSQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PP35CMMO3HDAL4DQTSZD2GQQWJQ4L444LYRY5XG3Q5YNV4M47WEQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MPAUKASQM26PTK2JPCK4277LVTODLTR3PBGZ3VHCNWZFPJLMOTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNMH7KLTFGFMRXRYYSZ6SS7N5UNAEGAUEU5HDKHYLPAOWWBPDQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLQXHGRTIRXS6EKCIADUYAFEWV5V55WTIPR34VXLXVT2GL2B7ETA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/36GARLBI7YJAUEA324D5WT72APEI6LZXIPYBXPH6EBRHJBR6736A/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PF5FSLXREG5M4AX4R43TQKRVBPPQBLCDMHEP2N4XPKNYOCVFPS6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJFSNDHLLVYBF25IOWMPHURJLQYOBAFD73TBEQ3MMKDFH3FINWRA/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMWOIETUBCQTU2UMYHIBI7Z7RJNUXYQJ3R34ER24IFA3IJIRSXDQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHMO7TF7PZFNDGF5LE5XBA6A73N3IGLIP5MAME7RJZGRHXOHQ5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIRBO6IDU5RL6DLPYHVDBUMNUFSCRBMIA2ZYRLK2QXPRIM5ZPXEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBZ6YZIL6LJNZEVZGAQ3RLXPC2MPNEV6F7UYQATZU4YCE2VTEA/748.js"
            ]
        },
        "DeletePipeline": {
            "http": {
                "method": "DELETE",
                "requestUri": "/2022-01-01/osis/deletePipeline/{PipelineName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "PipelineName"
                ],
                "members": {
                    "PipelineName": {
                        "location": "uri",
                        "locationName": "PipelineName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EN4M26W65GYRXEEFJKWTXSMRJ6EWHCA25H5YGBGLFMHCQIT4FMGQ/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3HX4Z4WEZOVGHDNDM5ZYBHLAXUMMDN2CGZYIMPH4ZDH7UHQQA4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EZURAWTJVQVPYWLCUOZX2BBPE2QVXNKLY3S6XT4TLVU5EJR73DVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFG2XOIP6D3OCTGVEHIDJBY7ZTJCAETYUSTYD7UKBRLJ5O2BQVAA/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBHZMGDQNZCZPYEIG3WCNGGAEERHOECZXDQDX77T6MAEAMQ2UBFA/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGKIWQLF7SXRPDQBWPVCM24MJCVYHEYD4I4ZXGRVTSYAGEMRRB5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W74XJRJVCMXZWHGEVOVG4I22TJQUDGVBPY5CGXTS3VCHGMLOSYSQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGFKRAEOMEVNNWCERANK2JGZHKH7HTYHJGX54JR5S3QU77PM3PBA/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGIWKKAFIJ5W6Z4Z4JMG6I5IJWAYQDWYG6KJUFLOF772RYRNGSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BV4USZZWWKAEN3DATSGCSYXYIW67LWHE22RQEFFPKA2OHV4RWZSQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PP35CMMO3HDAL4DQTSZD2GQQWJQ4L444LYRY5XG3Q5YNV4M47WEQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MPAUKASQM26PTK2JPCK4277LVTODLTR3PBGZ3VHCNWZFPJLMOTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNMH7KLTFGFMRXRYYSZ6SS7N5UNAEGAUEU5HDKHYLPAOWWBPDQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLQXHGRTIRXS6EKCIADUYAFEWV5V55WTIPR34VXLXVT2GL2B7ETA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/36GARLBI7YJAUEA324D5WT72APEI6LZXIPYBXPH6EBRHJBR6736A/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PF5FSLXREG5M4AX4R43TQKRVBPPQBLCDMHEP2N4XPKNYOCVFPS6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJFSNDHLLVYBF25IOWMPHURJLQYOBAFD73TBEQ3MMKDFH3FINWRA/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMWOIETUBCQTU2UMYHIBI7Z7RJNUXYQJ3R34ER24IFA3IJIRSXDQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHMO7TF7PZFNDGF5LE5XBA6A73N3IGLIP5MAME7RJZGRHXOHQ5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIRBO6IDU5RL6DLPYHVDBUMNUFSCRBMIA2ZYRLK2QXPRIM5ZPXEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBZ6YZIL6LJNZEVZGAQ3RLXPC2MPNEV6F7UYQATZU4YCE2VTEA/748.js"
            ]
        },
        "GetPipeline": {
            "http": {
                "method": "GET",
                "requestUri": "/2022-01-01/osis/getPipeline/{PipelineName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "PipelineName"
                ],
                "members": {
                    "PipelineName": {
                        "location": "uri",
                        "locationName": "PipelineName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Pipeline": {
                        "shape": "Sj"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EN4M26W65GYRXEEFJKWTXSMRJ6EWHCA25H5YGBGLFMHCQIT4FMGQ/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3HX4Z4WEZOVGHDNDM5ZYBHLAXUMMDN2CGZYIMPH4ZDH7UHQQA4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EZURAWTJVQVPYWLCUOZX2BBPE2QVXNKLY3S6XT4TLVU5EJR73DVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFG2XOIP6D3OCTGVEHIDJBY7ZTJCAETYUSTYD7UKBRLJ5O2BQVAA/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBHZMGDQNZCZPYEIG3WCNGGAEERHOECZXDQDX77T6MAEAMQ2UBFA/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGKIWQLF7SXRPDQBWPVCM24MJCVYHEYD4I4ZXGRVTSYAGEMRRB5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W74XJRJVCMXZWHGEVOVG4I22TJQUDGVBPY5CGXTS3VCHGMLOSYSQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGFKRAEOMEVNNWCERANK2JGZHKH7HTYHJGX54JR5S3QU77PM3PBA/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGIWKKAFIJ5W6Z4Z4JMG6I5IJWAYQDWYG6KJUFLOF772RYRNGSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BV4USZZWWKAEN3DATSGCSYXYIW67LWHE22RQEFFPKA2OHV4RWZSQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PP35CMMO3HDAL4DQTSZD2GQQWJQ4L444LYRY5XG3Q5YNV4M47WEQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MPAUKASQM26PTK2JPCK4277LVTODLTR3PBGZ3VHCNWZFPJLMOTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNMH7KLTFGFMRXRYYSZ6SS7N5UNAEGAUEU5HDKHYLPAOWWBPDQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLQXHGRTIRXS6EKCIADUYAFEWV5V55WTIPR34VXLXVT2GL2B7ETA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/36GARLBI7YJAUEA324D5WT72APEI6LZXIPYBXPH6EBRHJBR6736A/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PF5FSLXREG5M4AX4R43TQKRVBPPQBLCDMHEP2N4XPKNYOCVFPS6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJFSNDHLLVYBF25IOWMPHURJLQYOBAFD73TBEQ3MMKDFH3FINWRA/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMWOIETUBCQTU2UMYHIBI7Z7RJNUXYQJ3R34ER24IFA3IJIRSXDQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHMO7TF7PZFNDGF5LE5XBA6A73N3IGLIP5MAME7RJZGRHXOHQ5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIRBO6IDU5RL6DLPYHVDBUMNUFSCRBMIA2ZYRLK2QXPRIM5ZPXEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBZ6YZIL6LJNZEVZGAQ3RLXPC2MPNEV6F7UYQATZU4YCE2VTEA/748.js"
            ]
        },
        "GetPipelineBlueprint": {
            "http": {
                "method": "GET",
                "requestUri": "/2022-01-01/osis/getPipelineBlueprint/{BlueprintName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "BlueprintName"
                ],
                "members": {
                    "BlueprintName": {
                        "location": "uri",
                        "locationName": "BlueprintName"
                    },
                    "Format": {
                        "location": "querystring",
                        "locationName": "format"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Blueprint": {
                        "type": "structure",
                        "members": {
                            "BlueprintName": {},
                            "PipelineConfigurationBody": {}
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EN4M26W65GYRXEEFJKWTXSMRJ6EWHCA25H5YGBGLFMHCQIT4FMGQ/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3HX4Z4WEZOVGHDNDM5ZYBHLAXUMMDN2CGZYIMPH4ZDH7UHQQA4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EZURAWTJVQVPYWLCUOZX2BBPE2QVXNKLY3S6XT4TLVU5EJR73DVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFG2XOIP6D3OCTGVEHIDJBY7ZTJCAETYUSTYD7UKBRLJ5O2BQVAA/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBHZMGDQNZCZPYEIG3WCNGGAEERHOECZXDQDX77T6MAEAMQ2UBFA/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGKIWQLF7SXRPDQBWPVCM24MJCVYHEYD4I4ZXGRVTSYAGEMRRB5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W74XJRJVCMXZWHGEVOVG4I22TJQUDGVBPY5CGXTS3VCHGMLOSYSQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGFKRAEOMEVNNWCERANK2JGZHKH7HTYHJGX54JR5S3QU77PM3PBA/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGIWKKAFIJ5W6Z4Z4JMG6I5IJWAYQDWYG6KJUFLOF772RYRNGSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BV4USZZWWKAEN3DATSGCSYXYIW67LWHE22RQEFFPKA2OHV4RWZSQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PP35CMMO3HDAL4DQTSZD2GQQWJQ4L444LYRY5XG3Q5YNV4M47WEQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MPAUKASQM26PTK2JPCK4277LVTODLTR3PBGZ3VHCNWZFPJLMOTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNMH7KLTFGFMRXRYYSZ6SS7N5UNAEGAUEU5HDKHYLPAOWWBPDQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLQXHGRTIRXS6EKCIADUYAFEWV5V55WTIPR34VXLXVT2GL2B7ETA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/36GARLBI7YJAUEA324D5WT72APEI6LZXIPYBXPH6EBRHJBR6736A/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PF5FSLXREG5M4AX4R43TQKRVBPPQBLCDMHEP2N4XPKNYOCVFPS6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJFSNDHLLVYBF25IOWMPHURJLQYOBAFD73TBEQ3MMKDFH3FINWRA/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMWOIETUBCQTU2UMYHIBI7Z7RJNUXYQJ3R34ER24IFA3IJIRSXDQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHMO7TF7PZFNDGF5LE5XBA6A73N3IGLIP5MAME7RJZGRHXOHQ5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIRBO6IDU5RL6DLPYHVDBUMNUFSCRBMIA2ZYRLK2QXPRIM5ZPXEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBZ6YZIL6LJNZEVZGAQ3RLXPC2MPNEV6F7UYQATZU4YCE2VTEA/748.js"
            ]
        },
        "GetPipelineChangeProgress": {
            "http": {
                "method": "GET",
                "requestUri": "/2022-01-01/osis/getPipelineChangeProgress/{PipelineName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "PipelineName"
                ],
                "members": {
                    "PipelineName": {
                        "location": "uri",
                        "locationName": "PipelineName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ChangeProgressStatuses": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "StartTime": {
                                    "type": "timestamp"
                                },
                                "Status": {},
                                "TotalNumberOfStages": {
                                    "type": "integer"
                                },
                                "ChangeProgressStages": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "Name": {},
                                            "Status": {},
                                            "Description": {},
                                            "LastUpdatedAt": {
                                                "type": "timestamp"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EN4M26W65GYRXEEFJKWTXSMRJ6EWHCA25H5YGBGLFMHCQIT4FMGQ/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3HX4Z4WEZOVGHDNDM5ZYBHLAXUMMDN2CGZYIMPH4ZDH7UHQQA4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EZURAWTJVQVPYWLCUOZX2BBPE2QVXNKLY3S6XT4TLVU5EJR73DVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFG2XOIP6D3OCTGVEHIDJBY7ZTJCAETYUSTYD7UKBRLJ5O2BQVAA/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBHZMGDQNZCZPYEIG3WCNGGAEERHOECZXDQDX77T6MAEAMQ2UBFA/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGKIWQLF7SXRPDQBWPVCM24MJCVYHEYD4I4ZXGRVTSYAGEMRRB5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W74XJRJVCMXZWHGEVOVG4I22TJQUDGVBPY5CGXTS3VCHGMLOSYSQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGFKRAEOMEVNNWCERANK2JGZHKH7HTYHJGX54JR5S3QU77PM3PBA/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGIWKKAFIJ5W6Z4Z4JMG6I5IJWAYQDWYG6KJUFLOF772RYRNGSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BV4USZZWWKAEN3DATSGCSYXYIW67LWHE22RQEFFPKA2OHV4RWZSQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PP35CMMO3HDAL4DQTSZD2GQQWJQ4L444LYRY5XG3Q5YNV4M47WEQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MPAUKASQM26PTK2JPCK4277LVTODLTR3PBGZ3VHCNWZFPJLMOTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNMH7KLTFGFMRXRYYSZ6SS7N5UNAEGAUEU5HDKHYLPAOWWBPDQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLQXHGRTIRXS6EKCIADUYAFEWV5V55WTIPR34VXLXVT2GL2B7ETA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/36GARLBI7YJAUEA324D5WT72APEI6LZXIPYBXPH6EBRHJBR6736A/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PF5FSLXREG5M4AX4R43TQKRVBPPQBLCDMHEP2N4XPKNYOCVFPS6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJFSNDHLLVYBF25IOWMPHURJLQYOBAFD73TBEQ3MMKDFH3FINWRA/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMWOIETUBCQTU2UMYHIBI7Z7RJNUXYQJ3R34ER24IFA3IJIRSXDQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHMO7TF7PZFNDGF5LE5XBA6A73N3IGLIP5MAME7RJZGRHXOHQ5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIRBO6IDU5RL6DLPYHVDBUMNUFSCRBMIA2ZYRLK2QXPRIM5ZPXEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBZ6YZIL6LJNZEVZGAQ3RLXPC2MPNEV6F7UYQATZU4YCE2VTEA/748.js"
            ]
        },
        "ListPipelineBlueprints": {
            "http": {
                "requestUri": "/2022-01-01/osis/listPipelineBlueprints"
            },
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "Blueprints": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "BlueprintName": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EN4M26W65GYRXEEFJKWTXSMRJ6EWHCA25H5YGBGLFMHCQIT4FMGQ/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3HX4Z4WEZOVGHDNDM5ZYBHLAXUMMDN2CGZYIMPH4ZDH7UHQQA4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EZURAWTJVQVPYWLCUOZX2BBPE2QVXNKLY3S6XT4TLVU5EJR73DVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFG2XOIP6D3OCTGVEHIDJBY7ZTJCAETYUSTYD7UKBRLJ5O2BQVAA/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBHZMGDQNZCZPYEIG3WCNGGAEERHOECZXDQDX77T6MAEAMQ2UBFA/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGKIWQLF7SXRPDQBWPVCM24MJCVYHEYD4I4ZXGRVTSYAGEMRRB5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W74XJRJVCMXZWHGEVOVG4I22TJQUDGVBPY5CGXTS3VCHGMLOSYSQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGFKRAEOMEVNNWCERANK2JGZHKH7HTYHJGX54JR5S3QU77PM3PBA/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGIWKKAFIJ5W6Z4Z4JMG6I5IJWAYQDWYG6KJUFLOF772RYRNGSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BV4USZZWWKAEN3DATSGCSYXYIW67LWHE22RQEFFPKA2OHV4RWZSQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PP35CMMO3HDAL4DQTSZD2GQQWJQ4L444LYRY5XG3Q5YNV4M47WEQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MPAUKASQM26PTK2JPCK4277LVTODLTR3PBGZ3VHCNWZFPJLMOTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNMH7KLTFGFMRXRYYSZ6SS7N5UNAEGAUEU5HDKHYLPAOWWBPDQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLQXHGRTIRXS6EKCIADUYAFEWV5V55WTIPR34VXLXVT2GL2B7ETA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/36GARLBI7YJAUEA324D5WT72APEI6LZXIPYBXPH6EBRHJBR6736A/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PF5FSLXREG5M4AX4R43TQKRVBPPQBLCDMHEP2N4XPKNYOCVFPS6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJFSNDHLLVYBF25IOWMPHURJLQYOBAFD73TBEQ3MMKDFH3FINWRA/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMWOIETUBCQTU2UMYHIBI7Z7RJNUXYQJ3R34ER24IFA3IJIRSXDQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHMO7TF7PZFNDGF5LE5XBA6A73N3IGLIP5MAME7RJZGRHXOHQ5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIRBO6IDU5RL6DLPYHVDBUMNUFSCRBMIA2ZYRLK2QXPRIM5ZPXEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBZ6YZIL6LJNZEVZGAQ3RLXPC2MPNEV6F7UYQATZU4YCE2VTEA/748.js"
            ]
        },
        "ListPipelines": {
            "http": {
                "method": "GET",
                "requestUri": "/2022-01-01/osis/listPipelines"
            },
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "Pipelines": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Status": {},
                                "StatusReason": {
                                    "shape": "Sn"
                                },
                                "PipelineName": {},
                                "PipelineArn": {},
                                "MinUnits": {
                                    "type": "integer"
                                },
                                "MaxUnits": {
                                    "type": "integer"
                                },
                                "CreatedAt": {
                                    "type": "timestamp"
                                },
                                "LastUpdatedAt": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EN4M26W65GYRXEEFJKWTXSMRJ6EWHCA25H5YGBGLFMHCQIT4FMGQ/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3HX4Z4WEZOVGHDNDM5ZYBHLAXUMMDN2CGZYIMPH4ZDH7UHQQA4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EZURAWTJVQVPYWLCUOZX2BBPE2QVXNKLY3S6XT4TLVU5EJR73DVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFG2XOIP6D3OCTGVEHIDJBY7ZTJCAETYUSTYD7UKBRLJ5O2BQVAA/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBHZMGDQNZCZPYEIG3WCNGGAEERHOECZXDQDX77T6MAEAMQ2UBFA/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGKIWQLF7SXRPDQBWPVCM24MJCVYHEYD4I4ZXGRVTSYAGEMRRB5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W74XJRJVCMXZWHGEVOVG4I22TJQUDGVBPY5CGXTS3VCHGMLOSYSQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGFKRAEOMEVNNWCERANK2JGZHKH7HTYHJGX54JR5S3QU77PM3PBA/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGIWKKAFIJ5W6Z4Z4JMG6I5IJWAYQDWYG6KJUFLOF772RYRNGSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BV4USZZWWKAEN3DATSGCSYXYIW67LWHE22RQEFFPKA2OHV4RWZSQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PP35CMMO3HDAL4DQTSZD2GQQWJQ4L444LYRY5XG3Q5YNV4M47WEQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MPAUKASQM26PTK2JPCK4277LVTODLTR3PBGZ3VHCNWZFPJLMOTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNMH7KLTFGFMRXRYYSZ6SS7N5UNAEGAUEU5HDKHYLPAOWWBPDQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLQXHGRTIRXS6EKCIADUYAFEWV5V55WTIPR34VXLXVT2GL2B7ETA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/36GARLBI7YJAUEA324D5WT72APEI6LZXIPYBXPH6EBRHJBR6736A/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PF5FSLXREG5M4AX4R43TQKRVBPPQBLCDMHEP2N4XPKNYOCVFPS6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJFSNDHLLVYBF25IOWMPHURJLQYOBAFD73TBEQ3MMKDFH3FINWRA/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMWOIETUBCQTU2UMYHIBI7Z7RJNUXYQJ3R34ER24IFA3IJIRSXDQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHMO7TF7PZFNDGF5LE5XBA6A73N3IGLIP5MAME7RJZGRHXOHQ5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIRBO6IDU5RL6DLPYHVDBUMNUFSCRBMIA2ZYRLK2QXPRIM5ZPXEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBZ6YZIL6LJNZEVZGAQ3RLXPC2MPNEV6F7UYQATZU4YCE2VTEA/748.js"
            ]
        },
        "ListTagsForResource": {
            "http": {
                "method": "GET",
                "requestUri": "/2022-01-01/osis/listTagsForResource/"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Arn"
                ],
                "members": {
                    "Arn": {
                        "location": "querystring",
                        "locationName": "arn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Tags": {
                        "shape": "Se"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EN4M26W65GYRXEEFJKWTXSMRJ6EWHCA25H5YGBGLFMHCQIT4FMGQ/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3HX4Z4WEZOVGHDNDM5ZYBHLAXUMMDN2CGZYIMPH4ZDH7UHQQA4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EZURAWTJVQVPYWLCUOZX2BBPE2QVXNKLY3S6XT4TLVU5EJR73DVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFG2XOIP6D3OCTGVEHIDJBY7ZTJCAETYUSTYD7UKBRLJ5O2BQVAA/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBHZMGDQNZCZPYEIG3WCNGGAEERHOECZXDQDX77T6MAEAMQ2UBFA/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGKIWQLF7SXRPDQBWPVCM24MJCVYHEYD4I4ZXGRVTSYAGEMRRB5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W74XJRJVCMXZWHGEVOVG4I22TJQUDGVBPY5CGXTS3VCHGMLOSYSQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGFKRAEOMEVNNWCERANK2JGZHKH7HTYHJGX54JR5S3QU77PM3PBA/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGIWKKAFIJ5W6Z4Z4JMG6I5IJWAYQDWYG6KJUFLOF772RYRNGSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BV4USZZWWKAEN3DATSGCSYXYIW67LWHE22RQEFFPKA2OHV4RWZSQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PP35CMMO3HDAL4DQTSZD2GQQWJQ4L444LYRY5XG3Q5YNV4M47WEQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MPAUKASQM26PTK2JPCK4277LVTODLTR3PBGZ3VHCNWZFPJLMOTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNMH7KLTFGFMRXRYYSZ6SS7N5UNAEGAUEU5HDKHYLPAOWWBPDQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLQXHGRTIRXS6EKCIADUYAFEWV5V55WTIPR34VXLXVT2GL2B7ETA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/36GARLBI7YJAUEA324D5WT72APEI6LZXIPYBXPH6EBRHJBR6736A/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PF5FSLXREG5M4AX4R43TQKRVBPPQBLCDMHEP2N4XPKNYOCVFPS6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJFSNDHLLVYBF25IOWMPHURJLQYOBAFD73TBEQ3MMKDFH3FINWRA/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMWOIETUBCQTU2UMYHIBI7Z7RJNUXYQJ3R34ER24IFA3IJIRSXDQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHMO7TF7PZFNDGF5LE5XBA6A73N3IGLIP5MAME7RJZGRHXOHQ5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIRBO6IDU5RL6DLPYHVDBUMNUFSCRBMIA2ZYRLK2QXPRIM5ZPXEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBZ6YZIL6LJNZEVZGAQ3RLXPC2MPNEV6F7UYQATZU4YCE2VTEA/748.js"
            ]
        },
        "StartPipeline": {
            "http": {
                "method": "PUT",
                "requestUri": "/2022-01-01/osis/startPipeline/{PipelineName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "PipelineName"
                ],
                "members": {
                    "PipelineName": {
                        "location": "uri",
                        "locationName": "PipelineName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Pipeline": {
                        "shape": "Sj"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EN4M26W65GYRXEEFJKWTXSMRJ6EWHCA25H5YGBGLFMHCQIT4FMGQ/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3HX4Z4WEZOVGHDNDM5ZYBHLAXUMMDN2CGZYIMPH4ZDH7UHQQA4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EZURAWTJVQVPYWLCUOZX2BBPE2QVXNKLY3S6XT4TLVU5EJR73DVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFG2XOIP6D3OCTGVEHIDJBY7ZTJCAETYUSTYD7UKBRLJ5O2BQVAA/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBHZMGDQNZCZPYEIG3WCNGGAEERHOECZXDQDX77T6MAEAMQ2UBFA/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGKIWQLF7SXRPDQBWPVCM24MJCVYHEYD4I4ZXGRVTSYAGEMRRB5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W74XJRJVCMXZWHGEVOVG4I22TJQUDGVBPY5CGXTS3VCHGMLOSYSQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGFKRAEOMEVNNWCERANK2JGZHKH7HTYHJGX54JR5S3QU77PM3PBA/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGIWKKAFIJ5W6Z4Z4JMG6I5IJWAYQDWYG6KJUFLOF772RYRNGSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BV4USZZWWKAEN3DATSGCSYXYIW67LWHE22RQEFFPKA2OHV4RWZSQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PP35CMMO3HDAL4DQTSZD2GQQWJQ4L444LYRY5XG3Q5YNV4M47WEQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MPAUKASQM26PTK2JPCK4277LVTODLTR3PBGZ3VHCNWZFPJLMOTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNMH7KLTFGFMRXRYYSZ6SS7N5UNAEGAUEU5HDKHYLPAOWWBPDQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLQXHGRTIRXS6EKCIADUYAFEWV5V55WTIPR34VXLXVT2GL2B7ETA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/36GARLBI7YJAUEA324D5WT72APEI6LZXIPYBXPH6EBRHJBR6736A/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PF5FSLXREG5M4AX4R43TQKRVBPPQBLCDMHEP2N4XPKNYOCVFPS6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJFSNDHLLVYBF25IOWMPHURJLQYOBAFD73TBEQ3MMKDFH3FINWRA/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMWOIETUBCQTU2UMYHIBI7Z7RJNUXYQJ3R34ER24IFA3IJIRSXDQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHMO7TF7PZFNDGF5LE5XBA6A73N3IGLIP5MAME7RJZGRHXOHQ5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIRBO6IDU5RL6DLPYHVDBUMNUFSCRBMIA2ZYRLK2QXPRIM5ZPXEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBZ6YZIL6LJNZEVZGAQ3RLXPC2MPNEV6F7UYQATZU4YCE2VTEA/748.js"
            ]
        },
        "StopPipeline": {
            "http": {
                "method": "PUT",
                "requestUri": "/2022-01-01/osis/stopPipeline/{PipelineName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "PipelineName"
                ],
                "members": {
                    "PipelineName": {
                        "location": "uri",
                        "locationName": "PipelineName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Pipeline": {
                        "shape": "Sj"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EN4M26W65GYRXEEFJKWTXSMRJ6EWHCA25H5YGBGLFMHCQIT4FMGQ/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3HX4Z4WEZOVGHDNDM5ZYBHLAXUMMDN2CGZYIMPH4ZDH7UHQQA4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EZURAWTJVQVPYWLCUOZX2BBPE2QVXNKLY3S6XT4TLVU5EJR73DVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFG2XOIP6D3OCTGVEHIDJBY7ZTJCAETYUSTYD7UKBRLJ5O2BQVAA/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBHZMGDQNZCZPYEIG3WCNGGAEERHOECZXDQDX77T6MAEAMQ2UBFA/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGKIWQLF7SXRPDQBWPVCM24MJCVYHEYD4I4ZXGRVTSYAGEMRRB5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W74XJRJVCMXZWHGEVOVG4I22TJQUDGVBPY5CGXTS3VCHGMLOSYSQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGFKRAEOMEVNNWCERANK2JGZHKH7HTYHJGX54JR5S3QU77PM3PBA/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGIWKKAFIJ5W6Z4Z4JMG6I5IJWAYQDWYG6KJUFLOF772RYRNGSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BV4USZZWWKAEN3DATSGCSYXYIW67LWHE22RQEFFPKA2OHV4RWZSQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PP35CMMO3HDAL4DQTSZD2GQQWJQ4L444LYRY5XG3Q5YNV4M47WEQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MPAUKASQM26PTK2JPCK4277LVTODLTR3PBGZ3VHCNWZFPJLMOTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNMH7KLTFGFMRXRYYSZ6SS7N5UNAEGAUEU5HDKHYLPAOWWBPDQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLQXHGRTIRXS6EKCIADUYAFEWV5V55WTIPR34VXLXVT2GL2B7ETA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/36GARLBI7YJAUEA324D5WT72APEI6LZXIPYBXPH6EBRHJBR6736A/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PF5FSLXREG5M4AX4R43TQKRVBPPQBLCDMHEP2N4XPKNYOCVFPS6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJFSNDHLLVYBF25IOWMPHURJLQYOBAFD73TBEQ3MMKDFH3FINWRA/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMWOIETUBCQTU2UMYHIBI7Z7RJNUXYQJ3R34ER24IFA3IJIRSXDQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHMO7TF7PZFNDGF5LE5XBA6A73N3IGLIP5MAME7RJZGRHXOHQ5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIRBO6IDU5RL6DLPYHVDBUMNUFSCRBMIA2ZYRLK2QXPRIM5ZPXEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBZ6YZIL6LJNZEVZGAQ3RLXPC2MPNEV6F7UYQATZU4YCE2VTEA/748.js"
            ]
        },
        "TagResource": {
            "http": {
                "requestUri": "/2022-01-01/osis/tagResource/"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Arn",
                    "Tags"
                ],
                "members": {
                    "Arn": {
                        "location": "querystring",
                        "locationName": "arn"
                    },
                    "Tags": {
                        "shape": "Se"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EN4M26W65GYRXEEFJKWTXSMRJ6EWHCA25H5YGBGLFMHCQIT4FMGQ/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3HX4Z4WEZOVGHDNDM5ZYBHLAXUMMDN2CGZYIMPH4ZDH7UHQQA4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EZURAWTJVQVPYWLCUOZX2BBPE2QVXNKLY3S6XT4TLVU5EJR73DVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFG2XOIP6D3OCTGVEHIDJBY7ZTJCAETYUSTYD7UKBRLJ5O2BQVAA/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBHZMGDQNZCZPYEIG3WCNGGAEERHOECZXDQDX77T6MAEAMQ2UBFA/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGKIWQLF7SXRPDQBWPVCM24MJCVYHEYD4I4ZXGRVTSYAGEMRRB5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W74XJRJVCMXZWHGEVOVG4I22TJQUDGVBPY5CGXTS3VCHGMLOSYSQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGFKRAEOMEVNNWCERANK2JGZHKH7HTYHJGX54JR5S3QU77PM3PBA/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGIWKKAFIJ5W6Z4Z4JMG6I5IJWAYQDWYG6KJUFLOF772RYRNGSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BV4USZZWWKAEN3DATSGCSYXYIW67LWHE22RQEFFPKA2OHV4RWZSQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PP35CMMO3HDAL4DQTSZD2GQQWJQ4L444LYRY5XG3Q5YNV4M47WEQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MPAUKASQM26PTK2JPCK4277LVTODLTR3PBGZ3VHCNWZFPJLMOTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNMH7KLTFGFMRXRYYSZ6SS7N5UNAEGAUEU5HDKHYLPAOWWBPDQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLQXHGRTIRXS6EKCIADUYAFEWV5V55WTIPR34VXLXVT2GL2B7ETA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/36GARLBI7YJAUEA324D5WT72APEI6LZXIPYBXPH6EBRHJBR6736A/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PF5FSLXREG5M4AX4R43TQKRVBPPQBLCDMHEP2N4XPKNYOCVFPS6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJFSNDHLLVYBF25IOWMPHURJLQYOBAFD73TBEQ3MMKDFH3FINWRA/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMWOIETUBCQTU2UMYHIBI7Z7RJNUXYQJ3R34ER24IFA3IJIRSXDQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHMO7TF7PZFNDGF5LE5XBA6A73N3IGLIP5MAME7RJZGRHXOHQ5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIRBO6IDU5RL6DLPYHVDBUMNUFSCRBMIA2ZYRLK2QXPRIM5ZPXEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBZ6YZIL6LJNZEVZGAQ3RLXPC2MPNEV6F7UYQATZU4YCE2VTEA/748.js"
            ]
        },
        "UntagResource": {
            "http": {
                "requestUri": "/2022-01-01/osis/untagResource/"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Arn",
                    "TagKeys"
                ],
                "members": {
                    "Arn": {
                        "location": "querystring",
                        "locationName": "arn"
                    },
                    "TagKeys": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EN4M26W65GYRXEEFJKWTXSMRJ6EWHCA25H5YGBGLFMHCQIT4FMGQ/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3HX4Z4WEZOVGHDNDM5ZYBHLAXUMMDN2CGZYIMPH4ZDH7UHQQA4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EZURAWTJVQVPYWLCUOZX2BBPE2QVXNKLY3S6XT4TLVU5EJR73DVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFG2XOIP6D3OCTGVEHIDJBY7ZTJCAETYUSTYD7UKBRLJ5O2BQVAA/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBHZMGDQNZCZPYEIG3WCNGGAEERHOECZXDQDX77T6MAEAMQ2UBFA/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGKIWQLF7SXRPDQBWPVCM24MJCVYHEYD4I4ZXGRVTSYAGEMRRB5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W74XJRJVCMXZWHGEVOVG4I22TJQUDGVBPY5CGXTS3VCHGMLOSYSQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGFKRAEOMEVNNWCERANK2JGZHKH7HTYHJGX54JR5S3QU77PM3PBA/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGIWKKAFIJ5W6Z4Z4JMG6I5IJWAYQDWYG6KJUFLOF772RYRNGSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BV4USZZWWKAEN3DATSGCSYXYIW67LWHE22RQEFFPKA2OHV4RWZSQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PP35CMMO3HDAL4DQTSZD2GQQWJQ4L444LYRY5XG3Q5YNV4M47WEQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MPAUKASQM26PTK2JPCK4277LVTODLTR3PBGZ3VHCNWZFPJLMOTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNMH7KLTFGFMRXRYYSZ6SS7N5UNAEGAUEU5HDKHYLPAOWWBPDQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLQXHGRTIRXS6EKCIADUYAFEWV5V55WTIPR34VXLXVT2GL2B7ETA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/36GARLBI7YJAUEA324D5WT72APEI6LZXIPYBXPH6EBRHJBR6736A/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PF5FSLXREG5M4AX4R43TQKRVBPPQBLCDMHEP2N4XPKNYOCVFPS6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJFSNDHLLVYBF25IOWMPHURJLQYOBAFD73TBEQ3MMKDFH3FINWRA/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMWOIETUBCQTU2UMYHIBI7Z7RJNUXYQJ3R34ER24IFA3IJIRSXDQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHMO7TF7PZFNDGF5LE5XBA6A73N3IGLIP5MAME7RJZGRHXOHQ5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIRBO6IDU5RL6DLPYHVDBUMNUFSCRBMIA2ZYRLK2QXPRIM5ZPXEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBZ6YZIL6LJNZEVZGAQ3RLXPC2MPNEV6F7UYQATZU4YCE2VTEA/748.js"
            ]
        },
        "UpdatePipeline": {
            "http": {
                "method": "PUT",
                "requestUri": "/2022-01-01/osis/updatePipeline/{PipelineName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "PipelineName"
                ],
                "members": {
                    "PipelineName": {
                        "location": "uri",
                        "locationName": "PipelineName"
                    },
                    "MinUnits": {
                        "type": "integer"
                    },
                    "MaxUnits": {
                        "type": "integer"
                    },
                    "PipelineConfigurationBody": {},
                    "LogPublishingOptions": {
                        "shape": "S5"
                    },
                    "BufferOptions": {
                        "shape": "Sg"
                    },
                    "EncryptionAtRestOptions": {
                        "shape": "Sh"
                    },
                    "PipelineRoleArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Pipeline": {
                        "shape": "Sj"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EN4M26W65GYRXEEFJKWTXSMRJ6EWHCA25H5YGBGLFMHCQIT4FMGQ/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3HX4Z4WEZOVGHDNDM5ZYBHLAXUMMDN2CGZYIMPH4ZDH7UHQQA4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EZURAWTJVQVPYWLCUOZX2BBPE2QVXNKLY3S6XT4TLVU5EJR73DVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFG2XOIP6D3OCTGVEHIDJBY7ZTJCAETYUSTYD7UKBRLJ5O2BQVAA/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBHZMGDQNZCZPYEIG3WCNGGAEERHOECZXDQDX77T6MAEAMQ2UBFA/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGKIWQLF7SXRPDQBWPVCM24MJCVYHEYD4I4ZXGRVTSYAGEMRRB5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W74XJRJVCMXZWHGEVOVG4I22TJQUDGVBPY5CGXTS3VCHGMLOSYSQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGFKRAEOMEVNNWCERANK2JGZHKH7HTYHJGX54JR5S3QU77PM3PBA/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGIWKKAFIJ5W6Z4Z4JMG6I5IJWAYQDWYG6KJUFLOF772RYRNGSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BV4USZZWWKAEN3DATSGCSYXYIW67LWHE22RQEFFPKA2OHV4RWZSQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PP35CMMO3HDAL4DQTSZD2GQQWJQ4L444LYRY5XG3Q5YNV4M47WEQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MPAUKASQM26PTK2JPCK4277LVTODLTR3PBGZ3VHCNWZFPJLMOTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNMH7KLTFGFMRXRYYSZ6SS7N5UNAEGAUEU5HDKHYLPAOWWBPDQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLQXHGRTIRXS6EKCIADUYAFEWV5V55WTIPR34VXLXVT2GL2B7ETA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/36GARLBI7YJAUEA324D5WT72APEI6LZXIPYBXPH6EBRHJBR6736A/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PF5FSLXREG5M4AX4R43TQKRVBPPQBLCDMHEP2N4XPKNYOCVFPS6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJFSNDHLLVYBF25IOWMPHURJLQYOBAFD73TBEQ3MMKDFH3FINWRA/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMWOIETUBCQTU2UMYHIBI7Z7RJNUXYQJ3R34ER24IFA3IJIRSXDQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHMO7TF7PZFNDGF5LE5XBA6A73N3IGLIP5MAME7RJZGRHXOHQ5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIRBO6IDU5RL6DLPYHVDBUMNUFSCRBMIA2ZYRLK2QXPRIM5ZPXEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBZ6YZIL6LJNZEVZGAQ3RLXPC2MPNEV6F7UYQATZU4YCE2VTEA/748.js"
            ]
        },
        "ValidatePipeline": {
            "http": {
                "requestUri": "/2022-01-01/osis/validatePipeline"
            },
            "input": {
                "type": "structure",
                "required": [
                    "PipelineConfigurationBody"
                ],
                "members": {
                    "PipelineConfigurationBody": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "isValid": {
                        "type": "boolean"
                    },
                    "Errors": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Message": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EN4M26W65GYRXEEFJKWTXSMRJ6EWHCA25H5YGBGLFMHCQIT4FMGQ/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3HX4Z4WEZOVGHDNDM5ZYBHLAXUMMDN2CGZYIMPH4ZDH7UHQQA4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EZURAWTJVQVPYWLCUOZX2BBPE2QVXNKLY3S6XT4TLVU5EJR73DVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFG2XOIP6D3OCTGVEHIDJBY7ZTJCAETYUSTYD7UKBRLJ5O2BQVAA/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBHZMGDQNZCZPYEIG3WCNGGAEERHOECZXDQDX77T6MAEAMQ2UBFA/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGKIWQLF7SXRPDQBWPVCM24MJCVYHEYD4I4ZXGRVTSYAGEMRRB5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W74XJRJVCMXZWHGEVOVG4I22TJQUDGVBPY5CGXTS3VCHGMLOSYSQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGFKRAEOMEVNNWCERANK2JGZHKH7HTYHJGX54JR5S3QU77PM3PBA/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGIWKKAFIJ5W6Z4Z4JMG6I5IJWAYQDWYG6KJUFLOF772RYRNGSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BV4USZZWWKAEN3DATSGCSYXYIW67LWHE22RQEFFPKA2OHV4RWZSQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PP35CMMO3HDAL4DQTSZD2GQQWJQ4L444LYRY5XG3Q5YNV4M47WEQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MPAUKASQM26PTK2JPCK4277LVTODLTR3PBGZ3VHCNWZFPJLMOTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNMH7KLTFGFMRXRYYSZ6SS7N5UNAEGAUEU5HDKHYLPAOWWBPDQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLQXHGRTIRXS6EKCIADUYAFEWV5V55WTIPR34VXLXVT2GL2B7ETA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/36GARLBI7YJAUEA324D5WT72APEI6LZXIPYBXPH6EBRHJBR6736A/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PF5FSLXREG5M4AX4R43TQKRVBPPQBLCDMHEP2N4XPKNYOCVFPS6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJFSNDHLLVYBF25IOWMPHURJLQYOBAFD73TBEQ3MMKDFH3FINWRA/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMWOIETUBCQTU2UMYHIBI7Z7RJNUXYQJ3R34ER24IFA3IJIRSXDQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHMO7TF7PZFNDGF5LE5XBA6A73N3IGLIP5MAME7RJZGRHXOHQ5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIRBO6IDU5RL6DLPYHVDBUMNUFSCRBMIA2ZYRLK2QXPRIM5ZPXEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBZ6YZIL6LJNZEVZGAQ3RLXPC2MPNEV6F7UYQATZU4YCE2VTEA/748.js"
            ]
        },
        "GetServiceRoleMetadata": {
            "http": {
                "requestUri": "/2022-01-01/osis/getServiceRoleMetadata"
            },
            "input": {
                "type": "structure",
                "required": [
                    "PipelineName",
                    "PipelineConfigurationBody",
                    "RoleNameSuffix"
                ],
                "members": {
                    "PipelineName": {},
                    "PipelineConfigurationBody": {},
                    "RoleNameSuffix": {},
                    "ServiceRoleResources": {
                        "type": "structure",
                        "members": {
                            "VpcOptions": {
                                "shape": "S9"
                            },
                            "PersistentBufferKmsKeyArn": {},
                            "DecryptKmsKeyArns": {
                                "type": "list",
                                "member": {}
                            },
                            "S3SourceBuckets": {
                                "shape": "S1n"
                            },
                            "S3SinkBuckets": {
                                "shape": "S1n"
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "CreatePolicyForServiceRoleRequests": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ServicePrincipalName": {},
                                "TemplateName": {},
                                "TemplateVersion": {
                                    "type": "integer"
                                },
                                "PolicyDescription": {},
                                "PolicyName": {},
                                "PermissionPolicySingleValueReplacements": {
                                    "shape": "S1s"
                                },
                                "PermissionPolicyMultipleValueReplacements": {
                                    "shape": "S1t"
                                }
                            }
                        }
                    },
                    "CreateServiceRoleRequest": {
                        "type": "structure",
                        "members": {
                            "ServicePrincipalName": {},
                            "TemplateName": {},
                            "TemplateVersion": {
                                "type": "integer"
                            },
                            "RoleName": {},
                            "TrustPolicySingleValueReplacements": {
                                "shape": "S1s"
                            },
                            "TrustPolicyMultipleValueReplacements": {
                                "shape": "S1t"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MVJLHWBLFMLMBOHOJT22EJE6H7DQK7EL72ITPAMQK2PXDG2IETA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5NLSJRKOO5U5IIF6EA7G4X3RSOMKRRVGY6OGV5GCTRZRWXIKDLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SHLD2PPUTWB5CXEMIJSHSXV7DT2FMK2KMTEJTXMJFJCLLPOMLPMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QHL4SOB47VYA7GEX6PE7PFFAPP2WB6FBYLMH3PF5G7LBDN2A7XQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFZ74WQZWDAQXTWE7BK4BHQMEBCT2JS7SAO3MEIY7X2T5TPIPAOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSE6AMB5KDIFAB6HJZJOGMROKKSQB3HILYPMHYPVLKRQL3J4YS3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILY2RFLSWXQMCBSXOTHLZIDN3JARZZL5NVE55OD35NC7CCHHNPEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWHNFHMDRFRZQEIYEYIIMGKJQ4SU3QBWW24LUFSSK3P2C7OW2WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O3C7AW23Z4DG5P2RMKCNMUZJBR4GER7EACVG2KEPVAZPCYGP2TRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FOK3SAW3VM23FZYKP63DYD676UKUSGWZ7FNBZ35RIGKGMWPPLSDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXNHNFPUW443NPPBER6V34UXUYOG4TZC2OPN36UNNHLIRWOQ6YEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHTSRGAIIEYCT5Q54SYB2VW5S5RC3NMDKU5CKIOVCNHKBQ5M4JZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2Z3M7BRHQ5XE6YH6T4UWRXAFNM4LH6VFZYB4KGLV6KV6SQTINEBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B34NDEDHFIDFJFW56QXTFZTZBZBSGWC4RDJ6NLBIIB4IM2GT434Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DH2RWA4LA4X33TJAICBIFEBTVH7KSJUWTHKFWXJICSOQ2SZP2VKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3HX4Z4WEZOVGHDNDM5ZYBHLAXUMMDN2CGZYIMPH4ZDH7UHQQA4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EZURAWTJVQVPYWLCUOZX2BBPE2QVXNKLY3S6XT4TLVU5EJR73DVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGKIWQLF7SXRPDQBWPVCM24MJCVYHEYD4I4ZXGRVTSYAGEMRRB5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGIWKKAFIJ5W6Z4Z4JMG6I5IJWAYQDWYG6KJUFLOF772RYRNGSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MPAUKASQM26PTK2JPCK4277LVTODLTR3PBGZ3VHCNWZFPJLMOTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNMH7KLTFGFMRXRYYSZ6SS7N5UNAEGAUEU5HDKHYLPAOWWBPDQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLQXHGRTIRXS6EKCIADUYAFEWV5V55WTIPR34VXLXVT2GL2B7ETA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PF5FSLXREG5M4AX4R43TQKRVBPPQBLCDMHEP2N4XPKNYOCVFPS6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHMO7TF7PZFNDGF5LE5XBA6A73N3IGLIP5MAME7RJZGRHXOHQ5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIRBO6IDU5RL6DLPYHVDBUMNUFSCRBMIA2ZYRLK2QXPRIM5ZPXEA/vendors.js"
            ]
        },
        "ListPipelineSchemas": {
            "http": {
                "method": "GET",
                "requestUri": "/2022-01-01/osis/listPipelineSchemas/{ComponentType}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ComponentType"
                ],
                "members": {
                    "ComponentType": {
                        "location": "uri",
                        "locationName": "ComponentType"
                    },
                    "ComponentNames": {
                        "location": "querystring",
                        "locationName": "componentNames",
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "PipelineSchemas": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ComponentName": {},
                                "ComponentType": {},
                                "Schema": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MVJLHWBLFMLMBOHOJT22EJE6H7DQK7EL72ITPAMQK2PXDG2IETA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5NLSJRKOO5U5IIF6EA7G4X3RSOMKRRVGY6OGV5GCTRZRWXIKDLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SHLD2PPUTWB5CXEMIJSHSXV7DT2FMK2KMTEJTXMJFJCLLPOMLPMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QHL4SOB47VYA7GEX6PE7PFFAPP2WB6FBYLMH3PF5G7LBDN2A7XQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFZ74WQZWDAQXTWE7BK4BHQMEBCT2JS7SAO3MEIY7X2T5TPIPAOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSE6AMB5KDIFAB6HJZJOGMROKKSQB3HILYPMHYPVLKRQL3J4YS3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILY2RFLSWXQMCBSXOTHLZIDN3JARZZL5NVE55OD35NC7CCHHNPEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWHNFHMDRFRZQEIYEYIIMGKJQ4SU3QBWW24LUFSSK3P2C7OW2WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O3C7AW23Z4DG5P2RMKCNMUZJBR4GER7EACVG2KEPVAZPCYGP2TRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FOK3SAW3VM23FZYKP63DYD676UKUSGWZ7FNBZ35RIGKGMWPPLSDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXNHNFPUW443NPPBER6V34UXUYOG4TZC2OPN36UNNHLIRWOQ6YEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHTSRGAIIEYCT5Q54SYB2VW5S5RC3NMDKU5CKIOVCNHKBQ5M4JZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2Z3M7BRHQ5XE6YH6T4UWRXAFNM4LH6VFZYB4KGLV6KV6SQTINEBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B34NDEDHFIDFJFW56QXTFZTZBZBSGWC4RDJ6NLBIIB4IM2GT434Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DH2RWA4LA4X33TJAICBIFEBTVH7KSJUWTHKFWXJICSOQ2SZP2VKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3HX4Z4WEZOVGHDNDM5ZYBHLAXUMMDN2CGZYIMPH4ZDH7UHQQA4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EZURAWTJVQVPYWLCUOZX2BBPE2QVXNKLY3S6XT4TLVU5EJR73DVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGKIWQLF7SXRPDQBWPVCM24MJCVYHEYD4I4ZXGRVTSYAGEMRRB5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGIWKKAFIJ5W6Z4Z4JMG6I5IJWAYQDWYG6KJUFLOF772RYRNGSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MPAUKASQM26PTK2JPCK4277LVTODLTR3PBGZ3VHCNWZFPJLMOTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNMH7KLTFGFMRXRYYSZ6SS7N5UNAEGAUEU5HDKHYLPAOWWBPDQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLQXHGRTIRXS6EKCIADUYAFEWV5V55WTIPR34VXLXVT2GL2B7ETA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PF5FSLXREG5M4AX4R43TQKRVBPPQBLCDMHEP2N4XPKNYOCVFPS6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHMO7TF7PZFNDGF5LE5XBA6A73N3IGLIP5MAME7RJZGRHXOHQ5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIRBO6IDU5RL6DLPYHVDBUMNUFSCRBMIA2ZYRLK2QXPRIM5ZPXEA/vendors.js"
            ]
        }
    },
    "shapes": {
        "S5": {
            "type": "structure",
            "members": {
                "IsLoggingEnabled": {
                    "type": "boolean"
                },
                "CloudWatchLogDestination": {
                    "type": "structure",
                    "required": [
                        "LogGroup"
                    ],
                    "members": {
                        "LogGroup": {}
                    }
                }
            }
        },
        "S9": {
            "type": "structure",
            "required": [
                "SubnetIds"
            ],
            "members": {
                "SubnetIds": {
                    "type": "list",
                    "member": {}
                },
                "SecurityGroupIds": {
                    "type": "list",
                    "member": {}
                }
            }
        },
        "Se": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "Key",
                    "Value"
                ],
                "members": {
                    "Key": {},
                    "Value": {}
                }
            }
        },
        "Sj": {
            "type": "structure",
            "members": {
                "PipelineName": {},
                "PipelineArn": {},
                "MinUnits": {
                    "type": "integer"
                },
                "MaxUnits": {
                    "type": "integer"
                },
                "Status": {},
                "StatusReason": {
                    "shape": "Sn"
                },
                "PipelineConfigurationBody": {},
                "CreatedAt": {
                    "type": "timestamp"
                },
                "LastUpdatedAt": {
                    "type": "timestamp"
                },
                "IngestEndpointUrls": {
                    "type": "list",
                    "member": {}
                },
                "LogPublishingOptions": {
                    "shape": "S5"
                },
                "VpcEndpoints": {
                    "type": "list",
                    "member": {
                        "type": "structure",
                        "members": {
                            "VpcEndpointId": {},
                            "VpcId": {},
                            "VpcOptions": {
                                "shape": "S9"
                            }
                        }
                    }
                }
            }
        },
        "Sn": {
            "type": "structure",
            "members": {
                "Description": {}
            }
        },
        "Sg": {
            "type": "structure",
            "required": [
                "PersistentBufferEnabled"
            ],
            "members": {
                "PersistentBufferEnabled": {
                    "type": "boolean"
                }
            }
        },
        "Sh": {
            "type": "structure",
            "required": [
                "KmsKeyArn"
            ],
            "members": {
                "KmsKeyArn": {}
            }
        },
        "So": {
            "type": "structure",
            "members": {
                "PipelineName": {},
                "PipelineArn": {},
                "MinUnits": {
                    "type": "integer"
                },
                "MaxUnits": {
                    "type": "integer"
                },
                "Status": {},
                "StatusReason": {
                    "shape": "Sr"
                },
                "PipelineConfigurationBody": {},
                "CreatedAt": {
                    "type": "timestamp"
                },
                "LastUpdatedAt": {
                    "type": "timestamp"
                },
                "IngestEndpointUrls": {
                    "type": "list",
                    "member": {}
                },
                "LogPublishingOptions": {
                    "shape": "S5"
                },
                "VpcEndpoints": {
                    "type": "list",
                    "member": {
                        "type": "structure",
                        "members": {
                            "VpcEndpointId": {},
                            "VpcId": {},
                            "VpcOptions": {
                                "shape": "S9"
                            }
                        }
                    }
                },
                "BufferOptions": {
                    "shape": "Sg"
                },
                "EncryptionAtRestOptions": {
                    "shape": "Sh"
                },
                "ServiceVpcEndpoints": {
                    "type": "list",
                    "member": {
                        "type": "structure",
                        "members": {
                            "ServiceName": {},
                            "VpcEndpointId": {}
                        }
                    }
                },
                "Tags": {
                    "shape": "Sj"
                }
            }
        },
        "Sr": {
            "type": "structure",
            "members": {
                "Description": {}
            }
        },
        "Sf": {
            "type": "structure",
            "required": [
                "KmsKeyArn"
            ],
            "members": {
                "KmsKeyArn": {}
            }
        },
        "Sm": {
            "type": "structure",
            "members": {
                "PipelineName": {},
                "PipelineArn": {},
                "MinUnits": {
                    "type": "integer"
                },
                "MaxUnits": {
                    "type": "integer"
                },
                "Status": {},
                "StatusReason": {
                    "shape": "Sq"
                },
                "PipelineConfigurationBody": {},
                "CreatedAt": {
                    "type": "timestamp"
                },
                "LastUpdatedAt": {
                    "type": "timestamp"
                },
                "IngestEndpointUrls": {
                    "type": "list",
                    "member": {}
                },
                "LogPublishingOptions": {
                    "shape": "S5"
                },
                "VpcEndpoints": {
                    "type": "list",
                    "member": {
                        "type": "structure",
                        "members": {
                            "VpcEndpointId": {},
                            "VpcId": {},
                            "VpcOptions": {
                                "shape": "S9"
                            }
                        }
                    }
                },
                "BufferOptions": {
                    "shape": "Se"
                },
                "EncryptionAtRestOptions": {
                    "shape": "Sf"
                },
                "ServiceVpcEndpoints": {
                    "type": "list",
                    "member": {
                        "type": "structure",
                        "members": {
                            "ServiceName": {},
                            "VpcEndpointId": {}
                        }
                    }
                },
                "Tags": {
                    "shape": "Sh"
                }
            }
        },
        "Sq": {
            "type": "structure",
            "members": {
                "Description": {}
            }
        },
        "Ss": {
            "type": "structure",
            "members": {
                "Description": {}
            }
        },
        "S10": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "ServiceName": {},
                    "Endpoint": {}
                }
            }
        },
        "Si": {
            "type": "structure",
            "required": [
                "KmsKeyArn"
            ],
            "members": {
                "KmsKeyArn": {}
            }
        },
        "Sk": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "Key",
                    "Value"
                ],
                "members": {
                    "Key": {},
                    "Value": {}
                }
            }
        },
        "Sp": {
            "type": "structure",
            "members": {
                "PipelineName": {},
                "PipelineArn": {},
                "MinUnits": {
                    "type": "integer"
                },
                "MaxUnits": {
                    "type": "integer"
                },
                "Status": {},
                "StatusReason": {
                    "shape": "St"
                },
                "PipelineConfigurationBody": {},
                "CreatedAt": {
                    "type": "timestamp"
                },
                "LastUpdatedAt": {
                    "type": "timestamp"
                },
                "IngestEndpointUrls": {
                    "type": "list",
                    "member": {}
                },
                "LogPublishingOptions": {
                    "shape": "S5"
                },
                "VpcEndpoints": {
                    "type": "list",
                    "member": {
                        "type": "structure",
                        "members": {
                            "VpcEndpointId": {},
                            "VpcId": {},
                            "VpcOptions": {
                                "shape": "S9"
                            }
                        }
                    }
                },
                "BufferOptions": {
                    "shape": "Sh"
                },
                "EncryptionAtRestOptions": {
                    "shape": "Si"
                },
                "VpcEndpointService": {},
                "ServiceVpcEndpoints": {
                    "type": "list",
                    "member": {
                        "type": "structure",
                        "members": {
                            "ServiceName": {},
                            "VpcEndpointId": {}
                        }
                    }
                },
                "Destinations": {
                    "shape": "S11"
                },
                "Tags": {
                    "shape": "Sk"
                }
            }
        },
        "St": {
            "type": "structure",
            "members": {
                "Description": {}
            }
        },
        "S11": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "ServiceName": {},
                    "Endpoint": {}
                }
            }
        },
        "S1n": {
            "type": "structure",
            "members": {
                "Buckets": {
                    "shape": "S1o"
                },
                "AllowAllBuckets": {
                    "type": "boolean"
                }
            }
        },
        "S1o": {
            "type": "list",
            "member": {}
        },
        "S1s": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "S1t": {
            "type": "map",
            "key": {},
            "value": {
                "shape": "S1o"
            }
        },
        "Su": {
            "type": "structure",
            "members": {
                "Description": {}
            }
        },
        "S12": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "ServiceName": {},
                    "Endpoint": {}
                }
            }
        },
        "S1p": {
            "type": "list",
            "member": {}
        },
        "S1u": {
            "type": "map",
            "key": {},
            "value": {
                "shape": "S1p"
            }
        },
        "S14": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "ServiceName": {},
                    "Resource": {}
                }
            }
        },
        "S16": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "SourceName": {},
                    "Resources": {
                        "type": "list",
                        "member": {}
                    }
                }
            }
        },
        "S1y": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "S1z": {
            "type": "map",
            "key": {},
            "value": {
                "shape": "S1u"
            }
        }
    }
}