{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2019-12-03",
        "endpointPrefix": "outposts",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceAbbreviation": "Outposts",
        "serviceFullName": "AWS Outposts",
        "serviceId": "Outposts",
        "signatureVersion": "v4",
        "signingName": "outposts",
        "uid": "outposts-2019-12-03",
        "download_location": [
            "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/T4ZKXBPRB2ZBIATCT26YZXNLPOOIA6YQGJIVYAE4N56WAYLXWSCQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IRXRVC6XUWL364LKQJXNKFTN5UYZSZ7X764TE4TYIKWPXWVLUOSA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YM7RRLSBTEZFJ2XOKIINUJ6KADUHNS6CSP6COWS2M5MUUISBZQMQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OIE33XE3AOP2TG4F2NXC5UC3L2PJJ6JI7CFKOSM23SWOMD6CJ23Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JTT6W5IBMLSQVDF5SKDTTCNJOU4ITWDIEFVU6ID4MCDOC65GSNCA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Q7QF7TUDSWIRASCRE4JYAIVT4PVTBBUYIO7USXTFLMVVOXZLQPIA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LCVGGL3PEAD25JH7LVWP27BEGZNJ2KGTRCLF6GV3TXR32FNZXURA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
            "https://de4t0ua29zrr9.cloudfront.net/3c083783057d84568eb1b7ba7967c897537d0521/main.js",
            "https://de4t0ua29zrr9.cloudfront.net/95d5fcf3199d8bc59d4c9e793aef15d537801dcf/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XOGL3322JCCPZDBIZ2ZEVFLI3CWK5A5O7BDO624KS7AYOASGL3NA/main.js"
        ]
    },
    "operations": {
        "CancelOrder": {
            "http": {
                "requestUri": "/orders/{OrderId}/cancel"
            },
            "input": {
                "type": "structure",
                "required": [
                    "OrderId"
                ],
                "members": {
                    "OrderId": {
                        "location": "uri",
                        "locationName": "OrderId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZJJJOHNOE2HYBYOYGQJDMGM42GFJJZ4IHS5ZPCQ5ZDEN5TH44LQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/755H566MG4GKYZZPZXU3Z45PLSO73E5ZCVJNM247VFDLWZ4CKFTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4DYKH3KNG4DWGXPH4DZZMALO4NZ6ALPXOEBIJLFM3OYWNYTXJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2WOYD7PYRNO762XBJEBLNHWWTY44CUBGIMTND3DJQR43SY7QDPQ/main.js",
                "https://de4t0ua29zrr9.cloudfront.net/3c083783057d84568eb1b7ba7967c897537d0521/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BJ532RIGMXZWOC6AUIYY3XUFFOTRSWTNK7A6OTJCN3MNRMIOB52A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXQ6EYUQZIYFRYPOQN2TBWEZUNOVG3CGQXVZASUCLWT5NXDXFW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5YEOLHPLUZ2FDCAN7XCW74VPUJT7R4J3PAB67O26ZU6OC7HZAJYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4ZKXBPRB2ZBIATCT26YZXNLPOOIA6YQGJIVYAE4N56WAYLXWSCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRXRVC6XUWL364LKQJXNKFTN5UYZSZ7X764TE4TYIKWPXWVLUOSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YM7RRLSBTEZFJ2XOKIINUJ6KADUHNS6CSP6COWS2M5MUUISBZQMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OIE33XE3AOP2TG4F2NXC5UC3L2PJJ6JI7CFKOSM23SWOMD6CJ23Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7QF7TUDSWIRASCRE4JYAIVT4PVTBBUYIO7USXTFLMVVOXZLQPIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCVGGL3PEAD25JH7LVWP27BEGZNJ2KGTRCLF6GV3TXR32FNZXURA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://de4t0ua29zrr9.cloudfront.net/95d5fcf3199d8bc59d4c9e793aef15d537801dcf/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOGL3322JCCPZDBIZ2ZEVFLI3CWK5A5O7BDO624KS7AYOASGL3NA/main.js"
            ]
        },
        "CreateOrder": {
            "http": {
                "requestUri": "/orders"
            },
            "input": {
                "type": "structure",
                "required": [
                    "OutpostIdentifier",
                    "LineItems",
                    "PaymentOption"
                ],
                "members": {
                    "OutpostIdentifier": {},
                    "LineItems": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "CatalogItemId": {},
                                "Quantity": {
                                    "type": "integer"
                                }
                            }
                        }
                    },
                    "PaymentOption": {},
                    "PaymentTerm": {},
                    "ClientToken": {
                        "idempotencyToken": true,
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Order": {
                        "shape": "Sd"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXQ6EYUQZIYFRYPOQN2TBWEZUNOVG3CGQXVZASUCLWT5NXDXFW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5YEOLHPLUZ2FDCAN7XCW74VPUJT7R4J3PAB67O26ZU6OC7HZAJYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://de4t0ua29zrr9.cloudfront.net/3c083783057d84568eb1b7ba7967c897537d0521/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4ZKXBPRB2ZBIATCT26YZXNLPOOIA6YQGJIVYAE4N56WAYLXWSCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRXRVC6XUWL364LKQJXNKFTN5UYZSZ7X764TE4TYIKWPXWVLUOSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YM7RRLSBTEZFJ2XOKIINUJ6KADUHNS6CSP6COWS2M5MUUISBZQMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OIE33XE3AOP2TG4F2NXC5UC3L2PJJ6JI7CFKOSM23SWOMD6CJ23Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7QF7TUDSWIRASCRE4JYAIVT4PVTBBUYIO7USXTFLMVVOXZLQPIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCVGGL3PEAD25JH7LVWP27BEGZNJ2KGTRCLF6GV3TXR32FNZXURA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://de4t0ua29zrr9.cloudfront.net/95d5fcf3199d8bc59d4c9e793aef15d537801dcf/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOGL3322JCCPZDBIZ2ZEVFLI3CWK5A5O7BDO624KS7AYOASGL3NA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js"
            ]
        },
        "CreateOutpost": {
            "http": {
                "requestUri": "/outposts"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "SiteId"
                ],
                "members": {
                    "Name": {},
                    "Description": {},
                    "SiteId": {},
                    "AvailabilityZone": {},
                    "AvailabilityZoneId": {},
                    "Tags": {
                        "shape": "Sz"
                    },
                    "SupportedHardwareType": {},
                    "LocationId": {
                        "internalonly": true
                    },
                    "LocationType": {
                        "internalonly": true,
                        "type": "string"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Outpost": {
                        "shape": "S14"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4ZKXBPRB2ZBIATCT26YZXNLPOOIA6YQGJIVYAE4N56WAYLXWSCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRXRVC6XUWL364LKQJXNKFTN5UYZSZ7X764TE4TYIKWPXWVLUOSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YM7RRLSBTEZFJ2XOKIINUJ6KADUHNS6CSP6COWS2M5MUUISBZQMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OIE33XE3AOP2TG4F2NXC5UC3L2PJJ6JI7CFKOSM23SWOMD6CJ23Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTT6W5IBMLSQVDF5SKDTTCNJOU4ITWDIEFVU6ID4MCDOC65GSNCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7QF7TUDSWIRASCRE4JYAIVT4PVTBBUYIO7USXTFLMVVOXZLQPIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCVGGL3PEAD25JH7LVWP27BEGZNJ2KGTRCLF6GV3TXR32FNZXURA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://de4t0ua29zrr9.cloudfront.net/3c083783057d84568eb1b7ba7967c897537d0521/main.js",
                "https://de4t0ua29zrr9.cloudfront.net/95d5fcf3199d8bc59d4c9e793aef15d537801dcf/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOGL3322JCCPZDBIZ2ZEVFLI3CWK5A5O7BDO624KS7AYOASGL3NA/main.js"
            ]
        },
        "CreateSite": {
            "http": {
                "requestUri": "/sites"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {},
                    "Description": {},
                    "Notes": {},
                    "Tags": {
                        "shape": "Sz"
                    },
                    "OperatingAddress": {
                        "shape": "S1e"
                    },
                    "ShippingAddress": {
                        "shape": "S1e"
                    },
                    "RackPhysicalProperties": {
                        "shape": "S1q"
                    },
                    "PowerDrawKva": {
                        "internalonly": true
                    },
                    "PowerPhase": {
                        "internalonly": true
                    },
                    "PowerConnector": {
                        "internalonly": true
                    },
                    "RedundantPower": {
                        "internalonly": true
                    },
                    "UpstreamBreaker": {
                        "internalonly": true
                    },
                    "Conditions": {
                        "internalonly": true
                    },
                    "PathToPosition": {
                        "internalonly": true
                    },
                    "SeismicBolting": {
                        "internalonly": true
                    },
                    "MaxWeightLbs": {
                        "internalonly": true
                    },
                    "NetworkingAllowed": {
                        "internalonly": true
                    },
                    "UplinkGbps": {
                        "internalonly": true
                    },
                    "UplinkCount": {
                        "internalonly": true
                    },
                    "Fiber": {
                        "internalonly": true
                    },
                    "OpticalStandard": {
                        "internalonly": true
                    },
                    "RedundantNetworking": {
                        "internalonly": true
                    },
                    "PowerFeedDrop": {
                        "internalonly": true
                    },
                    "Address": {
                        "shape": "S29",
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Site": {
                        "shape": "S21"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZJJJOHNOE2HYBYOYGQJDMGM42GFJJZ4IHS5ZPCQ5ZDEN5TH44LQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/755H566MG4GKYZZPZXU3Z45PLSO73E5ZCVJNM247VFDLWZ4CKFTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4DYKH3KNG4DWGXPH4DZZMALO4NZ6ALPXOEBIJLFM3OYWNYTXJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2WOYD7PYRNO762XBJEBLNHWWTY44CUBGIMTND3DJQR43SY7QDPQ/main.js",
                "https://de4t0ua29zrr9.cloudfront.net/3c083783057d84568eb1b7ba7967c897537d0521/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BJ532RIGMXZWOC6AUIYY3XUFFOTRSWTNK7A6OTJCN3MNRMIOB52A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXQ6EYUQZIYFRYPOQN2TBWEZUNOVG3CGQXVZASUCLWT5NXDXFW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5YEOLHPLUZ2FDCAN7XCW74VPUJT7R4J3PAB67O26ZU6OC7HZAJYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4ZKXBPRB2ZBIATCT26YZXNLPOOIA6YQGJIVYAE4N56WAYLXWSCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRXRVC6XUWL364LKQJXNKFTN5UYZSZ7X764TE4TYIKWPXWVLUOSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YM7RRLSBTEZFJ2XOKIINUJ6KADUHNS6CSP6COWS2M5MUUISBZQMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OIE33XE3AOP2TG4F2NXC5UC3L2PJJ6JI7CFKOSM23SWOMD6CJ23Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7QF7TUDSWIRASCRE4JYAIVT4PVTBBUYIO7USXTFLMVVOXZLQPIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCVGGL3PEAD25JH7LVWP27BEGZNJ2KGTRCLF6GV3TXR32FNZXURA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://de4t0ua29zrr9.cloudfront.net/95d5fcf3199d8bc59d4c9e793aef15d537801dcf/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOGL3322JCCPZDBIZ2ZEVFLI3CWK5A5O7BDO624KS7AYOASGL3NA/main.js"
            ]
        },
        "DeleteOutpost": {
            "http": {
                "method": "DELETE",
                "requestUri": "/outposts/{OutpostId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "OutpostId"
                ],
                "members": {
                    "OutpostId": {
                        "location": "uri",
                        "locationName": "OutpostId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4ZKXBPRB2ZBIATCT26YZXNLPOOIA6YQGJIVYAE4N56WAYLXWSCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRXRVC6XUWL364LKQJXNKFTN5UYZSZ7X764TE4TYIKWPXWVLUOSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YM7RRLSBTEZFJ2XOKIINUJ6KADUHNS6CSP6COWS2M5MUUISBZQMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OIE33XE3AOP2TG4F2NXC5UC3L2PJJ6JI7CFKOSM23SWOMD6CJ23Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTT6W5IBMLSQVDF5SKDTTCNJOU4ITWDIEFVU6ID4MCDOC65GSNCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7QF7TUDSWIRASCRE4JYAIVT4PVTBBUYIO7USXTFLMVVOXZLQPIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCVGGL3PEAD25JH7LVWP27BEGZNJ2KGTRCLF6GV3TXR32FNZXURA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://de4t0ua29zrr9.cloudfront.net/3c083783057d84568eb1b7ba7967c897537d0521/main.js",
                "https://de4t0ua29zrr9.cloudfront.net/95d5fcf3199d8bc59d4c9e793aef15d537801dcf/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOGL3322JCCPZDBIZ2ZEVFLI3CWK5A5O7BDO624KS7AYOASGL3NA/main.js"
            ]
        },
        "DeleteSite": {
            "http": {
                "method": "DELETE",
                "requestUri": "/sites/{SiteId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "SiteId"
                ],
                "members": {
                    "SiteId": {
                        "location": "uri",
                        "locationName": "SiteId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4ZKXBPRB2ZBIATCT26YZXNLPOOIA6YQGJIVYAE4N56WAYLXWSCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRXRVC6XUWL364LKQJXNKFTN5UYZSZ7X764TE4TYIKWPXWVLUOSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YM7RRLSBTEZFJ2XOKIINUJ6KADUHNS6CSP6COWS2M5MUUISBZQMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OIE33XE3AOP2TG4F2NXC5UC3L2PJJ6JI7CFKOSM23SWOMD6CJ23Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTT6W5IBMLSQVDF5SKDTTCNJOU4ITWDIEFVU6ID4MCDOC65GSNCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7QF7TUDSWIRASCRE4JYAIVT4PVTBBUYIO7USXTFLMVVOXZLQPIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCVGGL3PEAD25JH7LVWP27BEGZNJ2KGTRCLF6GV3TXR32FNZXURA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://de4t0ua29zrr9.cloudfront.net/3c083783057d84568eb1b7ba7967c897537d0521/main.js",
                "https://de4t0ua29zrr9.cloudfront.net/95d5fcf3199d8bc59d4c9e793aef15d537801dcf/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOGL3322JCCPZDBIZ2ZEVFLI3CWK5A5O7BDO624KS7AYOASGL3NA/main.js"
            ]
        },
        "GetCatalogItem": {
            "http": {
                "method": "GET",
                "requestUri": "/catalog/item/{CatalogItemId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "CatalogItemId"
                ],
                "members": {
                    "CatalogItemId": {
                        "location": "uri",
                        "locationName": "CatalogItemId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "CatalogItem": {
                        "shape": "S29"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZJJJOHNOE2HYBYOYGQJDMGM42GFJJZ4IHS5ZPCQ5ZDEN5TH44LQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/755H566MG4GKYZZPZXU3Z45PLSO73E5ZCVJNM247VFDLWZ4CKFTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4DYKH3KNG4DWGXPH4DZZMALO4NZ6ALPXOEBIJLFM3OYWNYTXJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2WOYD7PYRNO762XBJEBLNHWWTY44CUBGIMTND3DJQR43SY7QDPQ/main.js",
                "https://de4t0ua29zrr9.cloudfront.net/3c083783057d84568eb1b7ba7967c897537d0521/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BJ532RIGMXZWOC6AUIYY3XUFFOTRSWTNK7A6OTJCN3MNRMIOB52A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXQ6EYUQZIYFRYPOQN2TBWEZUNOVG3CGQXVZASUCLWT5NXDXFW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5YEOLHPLUZ2FDCAN7XCW74VPUJT7R4J3PAB67O26ZU6OC7HZAJYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4ZKXBPRB2ZBIATCT26YZXNLPOOIA6YQGJIVYAE4N56WAYLXWSCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRXRVC6XUWL364LKQJXNKFTN5UYZSZ7X764TE4TYIKWPXWVLUOSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YM7RRLSBTEZFJ2XOKIINUJ6KADUHNS6CSP6COWS2M5MUUISBZQMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OIE33XE3AOP2TG4F2NXC5UC3L2PJJ6JI7CFKOSM23SWOMD6CJ23Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7QF7TUDSWIRASCRE4JYAIVT4PVTBBUYIO7USXTFLMVVOXZLQPIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCVGGL3PEAD25JH7LVWP27BEGZNJ2KGTRCLF6GV3TXR32FNZXURA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://de4t0ua29zrr9.cloudfront.net/95d5fcf3199d8bc59d4c9e793aef15d537801dcf/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOGL3322JCCPZDBIZ2ZEVFLI3CWK5A5O7BDO624KS7AYOASGL3NA/main.js"
            ]
        },
        "GetConnection": {
            "http": {
                "method": "GET",
                "requestUri": "/connections/{ConnectionId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ConnectionId"
                ],
                "members": {
                    "ConnectionId": {
                        "location": "uri",
                        "locationName": "ConnectionId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ConnectionId": {},
                    "ConnectionDetails": {
                        "type": "structure",
                        "members": {
                            "ClientPublicKey": {},
                            "ServerPublicKey": {},
                            "ServerEndpoint": {},
                            "ClientTunnelAddress": {},
                            "ServerTunnelAddress": {},
                            "AllowedIps": {
                                "type": "list",
                                "member": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXJRTCAPNOKMBQ2V6H2FFNETN27A25BDAOAY2T6TDEIGXJUJVLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z34GXOAA6NDA2L4OLV3SS7U27C3NCAF2AMBOGO3FSATG2AGPVAKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MFBMLM52RQ7W6ULKZRYHHLY2FWUYAPMMDLOX3AUBVVXDZYCZM33A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2Y3JFJFHUER2CWW7CWVWNH3SQJC3LNZM55SSHBSYWK4C3FUS5U4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
                "https://de4t0ua29zrr9.cloudfront.net/3c083783057d84568eb1b7ba7967c897537d0521/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/755H566MG4GKYZZPZXU3Z45PLSO73E5ZCVJNM247VFDLWZ4CKFTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXQ6EYUQZIYFRYPOQN2TBWEZUNOVG3CGQXVZASUCLWT5NXDXFW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4ZKXBPRB2ZBIATCT26YZXNLPOOIA6YQGJIVYAE4N56WAYLXWSCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRXRVC6XUWL364LKQJXNKFTN5UYZSZ7X764TE4TYIKWPXWVLUOSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OIE33XE3AOP2TG4F2NXC5UC3L2PJJ6JI7CFKOSM23SWOMD6CJ23Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7QF7TUDSWIRASCRE4JYAIVT4PVTBBUYIO7USXTFLMVVOXZLQPIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCVGGL3PEAD25JH7LVWP27BEGZNJ2KGTRCLF6GV3TXR32FNZXURA/vendors.js",
                "https://de4t0ua29zrr9.cloudfront.net/95d5fcf3199d8bc59d4c9e793aef15d537801dcf/main.js"
            ]
        },
        "GetOrder": {
            "http": {
                "method": "GET",
                "requestUri": "/orders/{OrderId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "OrderId"
                ],
                "members": {
                    "OrderId": {
                        "location": "uri",
                        "locationName": "OrderId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Order": {
                        "shape": "Sd"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZJJJOHNOE2HYBYOYGQJDMGM42GFJJZ4IHS5ZPCQ5ZDEN5TH44LQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/755H566MG4GKYZZPZXU3Z45PLSO73E5ZCVJNM247VFDLWZ4CKFTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4DYKH3KNG4DWGXPH4DZZMALO4NZ6ALPXOEBIJLFM3OYWNYTXJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2WOYD7PYRNO762XBJEBLNHWWTY44CUBGIMTND3DJQR43SY7QDPQ/main.js",
                "https://de4t0ua29zrr9.cloudfront.net/3c083783057d84568eb1b7ba7967c897537d0521/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BJ532RIGMXZWOC6AUIYY3XUFFOTRSWTNK7A6OTJCN3MNRMIOB52A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXQ6EYUQZIYFRYPOQN2TBWEZUNOVG3CGQXVZASUCLWT5NXDXFW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5YEOLHPLUZ2FDCAN7XCW74VPUJT7R4J3PAB67O26ZU6OC7HZAJYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4ZKXBPRB2ZBIATCT26YZXNLPOOIA6YQGJIVYAE4N56WAYLXWSCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRXRVC6XUWL364LKQJXNKFTN5UYZSZ7X764TE4TYIKWPXWVLUOSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YM7RRLSBTEZFJ2XOKIINUJ6KADUHNS6CSP6COWS2M5MUUISBZQMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OIE33XE3AOP2TG4F2NXC5UC3L2PJJ6JI7CFKOSM23SWOMD6CJ23Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7QF7TUDSWIRASCRE4JYAIVT4PVTBBUYIO7USXTFLMVVOXZLQPIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCVGGL3PEAD25JH7LVWP27BEGZNJ2KGTRCLF6GV3TXR32FNZXURA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://de4t0ua29zrr9.cloudfront.net/95d5fcf3199d8bc59d4c9e793aef15d537801dcf/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOGL3322JCCPZDBIZ2ZEVFLI3CWK5A5O7BDO624KS7AYOASGL3NA/main.js"
            ]
        },
        "GetOutpost": {
            "http": {
                "method": "GET",
                "requestUri": "/outposts/{OutpostId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "OutpostId"
                ],
                "members": {
                    "OutpostId": {
                        "location": "uri",
                        "locationName": "OutpostId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Outpost": {
                        "shape": "S14"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4ZKXBPRB2ZBIATCT26YZXNLPOOIA6YQGJIVYAE4N56WAYLXWSCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRXRVC6XUWL364LKQJXNKFTN5UYZSZ7X764TE4TYIKWPXWVLUOSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YM7RRLSBTEZFJ2XOKIINUJ6KADUHNS6CSP6COWS2M5MUUISBZQMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OIE33XE3AOP2TG4F2NXC5UC3L2PJJ6JI7CFKOSM23SWOMD6CJ23Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTT6W5IBMLSQVDF5SKDTTCNJOU4ITWDIEFVU6ID4MCDOC65GSNCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7QF7TUDSWIRASCRE4JYAIVT4PVTBBUYIO7USXTFLMVVOXZLQPIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCVGGL3PEAD25JH7LVWP27BEGZNJ2KGTRCLF6GV3TXR32FNZXURA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://de4t0ua29zrr9.cloudfront.net/3c083783057d84568eb1b7ba7967c897537d0521/main.js",
                "https://de4t0ua29zrr9.cloudfront.net/95d5fcf3199d8bc59d4c9e793aef15d537801dcf/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOGL3322JCCPZDBIZ2ZEVFLI3CWK5A5O7BDO624KS7AYOASGL3NA/main.js"
            ]
        },
        "GetOutpostInstanceTypes": {
            "http": {
                "method": "GET",
                "requestUri": "/outposts/{OutpostId}/instanceTypes"
            },
            "input": {
                "type": "structure",
                "required": [
                    "OutpostId"
                ],
                "members": {
                    "OutpostId": {
                        "location": "uri",
                        "locationName": "OutpostId"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "NextToken"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "MaxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "InstanceTypes": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "InstanceType": {}
                            }
                        }
                    },
                    "NextToken": {},
                    "OutpostId": {},
                    "OutpostArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4ZKXBPRB2ZBIATCT26YZXNLPOOIA6YQGJIVYAE4N56WAYLXWSCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRXRVC6XUWL364LKQJXNKFTN5UYZSZ7X764TE4TYIKWPXWVLUOSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YM7RRLSBTEZFJ2XOKIINUJ6KADUHNS6CSP6COWS2M5MUUISBZQMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OIE33XE3AOP2TG4F2NXC5UC3L2PJJ6JI7CFKOSM23SWOMD6CJ23Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTT6W5IBMLSQVDF5SKDTTCNJOU4ITWDIEFVU6ID4MCDOC65GSNCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7QF7TUDSWIRASCRE4JYAIVT4PVTBBUYIO7USXTFLMVVOXZLQPIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCVGGL3PEAD25JH7LVWP27BEGZNJ2KGTRCLF6GV3TXR32FNZXURA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://de4t0ua29zrr9.cloudfront.net/3c083783057d84568eb1b7ba7967c897537d0521/main.js",
                "https://de4t0ua29zrr9.cloudfront.net/95d5fcf3199d8bc59d4c9e793aef15d537801dcf/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOGL3322JCCPZDBIZ2ZEVFLI3CWK5A5O7BDO624KS7AYOASGL3NA/main.js"
            ]
        },
        "GetSite": {
            "http": {
                "method": "GET",
                "requestUri": "/sites/{SiteId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "SiteId"
                ],
                "members": {
                    "SiteId": {
                        "location": "uri",
                        "locationName": "SiteId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Site": {
                        "shape": "S21"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZJJJOHNOE2HYBYOYGQJDMGM42GFJJZ4IHS5ZPCQ5ZDEN5TH44LQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/755H566MG4GKYZZPZXU3Z45PLSO73E5ZCVJNM247VFDLWZ4CKFTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4DYKH3KNG4DWGXPH4DZZMALO4NZ6ALPXOEBIJLFM3OYWNYTXJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2WOYD7PYRNO762XBJEBLNHWWTY44CUBGIMTND3DJQR43SY7QDPQ/main.js",
                "https://de4t0ua29zrr9.cloudfront.net/3c083783057d84568eb1b7ba7967c897537d0521/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BJ532RIGMXZWOC6AUIYY3XUFFOTRSWTNK7A6OTJCN3MNRMIOB52A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXQ6EYUQZIYFRYPOQN2TBWEZUNOVG3CGQXVZASUCLWT5NXDXFW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5YEOLHPLUZ2FDCAN7XCW74VPUJT7R4J3PAB67O26ZU6OC7HZAJYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4ZKXBPRB2ZBIATCT26YZXNLPOOIA6YQGJIVYAE4N56WAYLXWSCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRXRVC6XUWL364LKQJXNKFTN5UYZSZ7X764TE4TYIKWPXWVLUOSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YM7RRLSBTEZFJ2XOKIINUJ6KADUHNS6CSP6COWS2M5MUUISBZQMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OIE33XE3AOP2TG4F2NXC5UC3L2PJJ6JI7CFKOSM23SWOMD6CJ23Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7QF7TUDSWIRASCRE4JYAIVT4PVTBBUYIO7USXTFLMVVOXZLQPIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCVGGL3PEAD25JH7LVWP27BEGZNJ2KGTRCLF6GV3TXR32FNZXURA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://de4t0ua29zrr9.cloudfront.net/95d5fcf3199d8bc59d4c9e793aef15d537801dcf/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOGL3322JCCPZDBIZ2ZEVFLI3CWK5A5O7BDO624KS7AYOASGL3NA/main.js"
            ]
        },
        "GetSiteAddress": {
            "http": {
                "method": "GET",
                "requestUri": "/sites/{SiteId}/address"
            },
            "input": {
                "type": "structure",
                "required": [
                    "SiteId",
                    "AddressType"
                ],
                "members": {
                    "SiteId": {
                        "location": "uri",
                        "locationName": "SiteId"
                    },
                    "AddressType": {
                        "location": "querystring",
                        "locationName": "AddressType"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "SiteId": {},
                    "AddressType": {},
                    "Address": {
                        "shape": "S1e"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZJJJOHNOE2HYBYOYGQJDMGM42GFJJZ4IHS5ZPCQ5ZDEN5TH44LQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/755H566MG4GKYZZPZXU3Z45PLSO73E5ZCVJNM247VFDLWZ4CKFTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4DYKH3KNG4DWGXPH4DZZMALO4NZ6ALPXOEBIJLFM3OYWNYTXJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2WOYD7PYRNO762XBJEBLNHWWTY44CUBGIMTND3DJQR43SY7QDPQ/main.js",
                "https://de4t0ua29zrr9.cloudfront.net/3c083783057d84568eb1b7ba7967c897537d0521/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BJ532RIGMXZWOC6AUIYY3XUFFOTRSWTNK7A6OTJCN3MNRMIOB52A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXQ6EYUQZIYFRYPOQN2TBWEZUNOVG3CGQXVZASUCLWT5NXDXFW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5YEOLHPLUZ2FDCAN7XCW74VPUJT7R4J3PAB67O26ZU6OC7HZAJYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4ZKXBPRB2ZBIATCT26YZXNLPOOIA6YQGJIVYAE4N56WAYLXWSCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRXRVC6XUWL364LKQJXNKFTN5UYZSZ7X764TE4TYIKWPXWVLUOSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YM7RRLSBTEZFJ2XOKIINUJ6KADUHNS6CSP6COWS2M5MUUISBZQMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OIE33XE3AOP2TG4F2NXC5UC3L2PJJ6JI7CFKOSM23SWOMD6CJ23Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7QF7TUDSWIRASCRE4JYAIVT4PVTBBUYIO7USXTFLMVVOXZLQPIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCVGGL3PEAD25JH7LVWP27BEGZNJ2KGTRCLF6GV3TXR32FNZXURA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://de4t0ua29zrr9.cloudfront.net/95d5fcf3199d8bc59d4c9e793aef15d537801dcf/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOGL3322JCCPZDBIZ2ZEVFLI3CWK5A5O7BDO624KS7AYOASGL3NA/main.js"
            ]
        },
        "ListAssets": {
            "http": {
                "method": "GET",
                "requestUri": "/outposts/{OutpostId}/assets"
            },
            "input": {
                "type": "structure",
                "required": [
                    "OutpostIdentifier"
                ],
                "members": {
                    "OutpostIdentifier": {
                        "location": "uri",
                        "locationName": "OutpostId"
                    },
                    "HostIdFilter": {
                        "location": "querystring",
                        "locationName": "HostIdFilter",
                        "type": "list",
                        "member": {}
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "MaxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "NextToken"
                    },
                    "StatusFilter": {
                        "location": "querystring",
                        "locationName": "StatusFilter",
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Assets": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "AssetId": {},
                                "RackId": {},
                                "AssetType": {},
                                "ComputeAttributes": {
                                    "type": "structure",
                                    "members": {
                                        "HostId": {},
                                        "State": {}
                                    }
                                },
                                "AssetLocation": {
                                    "type": "structure",
                                    "members": {
                                        "RackElevation": {
                                            "type": "float"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXJRTCAPNOKMBQ2V6H2FFNETN27A25BDAOAY2T6TDEIGXJUJVLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z34GXOAA6NDA2L4OLV3SS7U27C3NCAF2AMBOGO3FSATG2AGPVAKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MFBMLM52RQ7W6ULKZRYHHLY2FWUYAPMMDLOX3AUBVVXDZYCZM33A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2Y3JFJFHUER2CWW7CWVWNH3SQJC3LNZM55SSHBSYWK4C3FUS5U4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
                "https://de4t0ua29zrr9.cloudfront.net/3c083783057d84568eb1b7ba7967c897537d0521/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/755H566MG4GKYZZPZXU3Z45PLSO73E5ZCVJNM247VFDLWZ4CKFTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXQ6EYUQZIYFRYPOQN2TBWEZUNOVG3CGQXVZASUCLWT5NXDXFW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4ZKXBPRB2ZBIATCT26YZXNLPOOIA6YQGJIVYAE4N56WAYLXWSCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRXRVC6XUWL364LKQJXNKFTN5UYZSZ7X764TE4TYIKWPXWVLUOSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OIE33XE3AOP2TG4F2NXC5UC3L2PJJ6JI7CFKOSM23SWOMD6CJ23Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7QF7TUDSWIRASCRE4JYAIVT4PVTBBUYIO7USXTFLMVVOXZLQPIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCVGGL3PEAD25JH7LVWP27BEGZNJ2KGTRCLF6GV3TXR32FNZXURA/vendors.js",
                "https://de4t0ua29zrr9.cloudfront.net/95d5fcf3199d8bc59d4c9e793aef15d537801dcf/main.js"
            ]
        },
        "ListCatalogItems": {
            "http": {
                "method": "GET",
                "requestUri": "/catalog/items"
            },
            "input": {
                "type": "structure",
                "members": {
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "NextToken"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "MaxResults",
                        "type": "integer"
                    },
                    "ItemClassFilter": {
                        "location": "querystring",
                        "locationName": "ItemClassFilter",
                        "type": "list",
                        "member": {}
                    },
                    "SupportedStorageFilter": {
                        "shape": "S2k",
                        "location": "querystring",
                        "locationName": "SupportedStorageFilter"
                    },
                    "EC2FamilyFilter": {
                        "location": "querystring",
                        "locationName": "EC2FamilyFilter",
                        "type": "list",
                        "member": {}
                    },
                    "SupportedUplinkGiBFilter": {
                        "shape": "S3l",
                        "internalonly": true,
                        "location": "querystring",
                        "locationName": "SupportedUplinkGiBFilter"
                    },
                    "SupportedUplinkGbpsFilter": {
                        "shape": "S3n",
                        "internalonly": true,
                        "location": "querystring",
                        "locationName": "SupportedUplinkGbpsFilter"
                    },
                    "CurrentTypeFilter": {
                        "internalonly": true,
                        "location": "querystring",
                        "locationName": "CurrentTypeFilter",
                        "type": "list",
                        "member": {
                            "shape": "S3t"
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "CatalogItems": {
                        "type": "list",
                        "member": {
                            "shape": "S29"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZJJJOHNOE2HYBYOYGQJDMGM42GFJJZ4IHS5ZPCQ5ZDEN5TH44LQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/755H566MG4GKYZZPZXU3Z45PLSO73E5ZCVJNM247VFDLWZ4CKFTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4DYKH3KNG4DWGXPH4DZZMALO4NZ6ALPXOEBIJLFM3OYWNYTXJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2WOYD7PYRNO762XBJEBLNHWWTY44CUBGIMTND3DJQR43SY7QDPQ/main.js",
                "https://de4t0ua29zrr9.cloudfront.net/3c083783057d84568eb1b7ba7967c897537d0521/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BJ532RIGMXZWOC6AUIYY3XUFFOTRSWTNK7A6OTJCN3MNRMIOB52A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXQ6EYUQZIYFRYPOQN2TBWEZUNOVG3CGQXVZASUCLWT5NXDXFW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5YEOLHPLUZ2FDCAN7XCW74VPUJT7R4J3PAB67O26ZU6OC7HZAJYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4ZKXBPRB2ZBIATCT26YZXNLPOOIA6YQGJIVYAE4N56WAYLXWSCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRXRVC6XUWL364LKQJXNKFTN5UYZSZ7X764TE4TYIKWPXWVLUOSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YM7RRLSBTEZFJ2XOKIINUJ6KADUHNS6CSP6COWS2M5MUUISBZQMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OIE33XE3AOP2TG4F2NXC5UC3L2PJJ6JI7CFKOSM23SWOMD6CJ23Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7QF7TUDSWIRASCRE4JYAIVT4PVTBBUYIO7USXTFLMVVOXZLQPIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCVGGL3PEAD25JH7LVWP27BEGZNJ2KGTRCLF6GV3TXR32FNZXURA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://de4t0ua29zrr9.cloudfront.net/95d5fcf3199d8bc59d4c9e793aef15d537801dcf/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOGL3322JCCPZDBIZ2ZEVFLI3CWK5A5O7BDO624KS7AYOASGL3NA/main.js"
            ]
        },
        "ListOrders": {
            "http": {
                "method": "GET",
                "requestUri": "/list-orders"
            },
            "input": {
                "type": "structure",
                "members": {
                    "OutpostIdentifierFilter": {
                        "location": "querystring",
                        "locationName": "OutpostIdentifierFilter"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "NextToken"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "MaxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Orders": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "OutpostId": {},
                                "OrderId": {},
                                "OrderType": {},
                                "Status": {},
                                "LineItemCountsByStatus": {
                                    "type": "map",
                                    "key": {},
                                    "value": {
                                        "type": "integer"
                                    }
                                },
                                "OrderSubmissionDate": {
                                    "type": "timestamp"
                                },
                                "OrderFulfilledDate": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZJJJOHNOE2HYBYOYGQJDMGM42GFJJZ4IHS5ZPCQ5ZDEN5TH44LQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/755H566MG4GKYZZPZXU3Z45PLSO73E5ZCVJNM247VFDLWZ4CKFTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4DYKH3KNG4DWGXPH4DZZMALO4NZ6ALPXOEBIJLFM3OYWNYTXJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2WOYD7PYRNO762XBJEBLNHWWTY44CUBGIMTND3DJQR43SY7QDPQ/main.js",
                "https://de4t0ua29zrr9.cloudfront.net/3c083783057d84568eb1b7ba7967c897537d0521/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BJ532RIGMXZWOC6AUIYY3XUFFOTRSWTNK7A6OTJCN3MNRMIOB52A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXQ6EYUQZIYFRYPOQN2TBWEZUNOVG3CGQXVZASUCLWT5NXDXFW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5YEOLHPLUZ2FDCAN7XCW74VPUJT7R4J3PAB67O26ZU6OC7HZAJYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4ZKXBPRB2ZBIATCT26YZXNLPOOIA6YQGJIVYAE4N56WAYLXWSCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRXRVC6XUWL364LKQJXNKFTN5UYZSZ7X764TE4TYIKWPXWVLUOSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YM7RRLSBTEZFJ2XOKIINUJ6KADUHNS6CSP6COWS2M5MUUISBZQMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OIE33XE3AOP2TG4F2NXC5UC3L2PJJ6JI7CFKOSM23SWOMD6CJ23Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7QF7TUDSWIRASCRE4JYAIVT4PVTBBUYIO7USXTFLMVVOXZLQPIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCVGGL3PEAD25JH7LVWP27BEGZNJ2KGTRCLF6GV3TXR32FNZXURA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://de4t0ua29zrr9.cloudfront.net/95d5fcf3199d8bc59d4c9e793aef15d537801dcf/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOGL3322JCCPZDBIZ2ZEVFLI3CWK5A5O7BDO624KS7AYOASGL3NA/main.js"
            ]
        },
        "ListOutposts": {
            "http": {
                "method": "GET",
                "requestUri": "/outposts"
            },
            "input": {
                "type": "structure",
                "members": {
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "NextToken"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "MaxResults",
                        "type": "integer"
                    },
                    "LifeCycleStatusFilter": {
                        "location": "querystring",
                        "locationName": "LifeCycleStatusFilter",
                        "type": "list",
                        "member": {}
                    },
                    "AvailabilityZoneFilter": {
                        "location": "querystring",
                        "locationName": "AvailabilityZoneFilter",
                        "type": "list",
                        "member": {}
                    },
                    "AvailabilityZoneIdFilter": {
                        "location": "querystring",
                        "locationName": "AvailabilityZoneIdFilter",
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Outposts": {
                        "type": "list",
                        "member": {
                            "shape": "S14"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4ZKXBPRB2ZBIATCT26YZXNLPOOIA6YQGJIVYAE4N56WAYLXWSCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRXRVC6XUWL364LKQJXNKFTN5UYZSZ7X764TE4TYIKWPXWVLUOSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YM7RRLSBTEZFJ2XOKIINUJ6KADUHNS6CSP6COWS2M5MUUISBZQMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OIE33XE3AOP2TG4F2NXC5UC3L2PJJ6JI7CFKOSM23SWOMD6CJ23Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTT6W5IBMLSQVDF5SKDTTCNJOU4ITWDIEFVU6ID4MCDOC65GSNCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7QF7TUDSWIRASCRE4JYAIVT4PVTBBUYIO7USXTFLMVVOXZLQPIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCVGGL3PEAD25JH7LVWP27BEGZNJ2KGTRCLF6GV3TXR32FNZXURA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://de4t0ua29zrr9.cloudfront.net/3c083783057d84568eb1b7ba7967c897537d0521/main.js",
                "https://de4t0ua29zrr9.cloudfront.net/95d5fcf3199d8bc59d4c9e793aef15d537801dcf/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOGL3322JCCPZDBIZ2ZEVFLI3CWK5A5O7BDO624KS7AYOASGL3NA/main.js"
            ]
        },
        "ListSites": {
            "http": {
                "method": "GET",
                "requestUri": "/sites"
            },
            "input": {
                "type": "structure",
                "members": {
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "NextToken"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "MaxResults",
                        "type": "integer"
                    },
                    "OperatingAddressCountryCodeFilter": {
                        "location": "querystring",
                        "locationName": "OperatingAddressCountryCodeFilter",
                        "type": "list",
                        "member": {}
                    },
                    "OperatingAddressStateOrRegionFilter": {
                        "location": "querystring",
                        "locationName": "OperatingAddressStateOrRegionFilter",
                        "type": "list",
                        "member": {}
                    },
                    "OperatingAddressCityFilter": {
                        "location": "querystring",
                        "locationName": "OperatingAddressCityFilter",
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Sites": {
                        "type": "list",
                        "member": {
                            "shape": "S21"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4ZKXBPRB2ZBIATCT26YZXNLPOOIA6YQGJIVYAE4N56WAYLXWSCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRXRVC6XUWL364LKQJXNKFTN5UYZSZ7X764TE4TYIKWPXWVLUOSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YM7RRLSBTEZFJ2XOKIINUJ6KADUHNS6CSP6COWS2M5MUUISBZQMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OIE33XE3AOP2TG4F2NXC5UC3L2PJJ6JI7CFKOSM23SWOMD6CJ23Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTT6W5IBMLSQVDF5SKDTTCNJOU4ITWDIEFVU6ID4MCDOC65GSNCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7QF7TUDSWIRASCRE4JYAIVT4PVTBBUYIO7USXTFLMVVOXZLQPIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCVGGL3PEAD25JH7LVWP27BEGZNJ2KGTRCLF6GV3TXR32FNZXURA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://de4t0ua29zrr9.cloudfront.net/3c083783057d84568eb1b7ba7967c897537d0521/main.js",
                "https://de4t0ua29zrr9.cloudfront.net/95d5fcf3199d8bc59d4c9e793aef15d537801dcf/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOGL3322JCCPZDBIZ2ZEVFLI3CWK5A5O7BDO624KS7AYOASGL3NA/main.js"
            ]
        },
        "ListTagsForResource": {
            "http": {
                "method": "GET",
                "requestUri": "/tags/{ResourceArn}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn"
                ],
                "members": {
                    "ResourceArn": {
                        "location": "uri",
                        "locationName": "ResourceArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Tags": {
                        "shape": "Sz"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5YEOLHPLUZ2FDCAN7XCW74VPUJT7R4J3PAB67O26ZU6OC7HZAJYQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://de4t0ua29zrr9.cloudfront.net/3c083783057d84568eb1b7ba7967c897537d0521/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4ZKXBPRB2ZBIATCT26YZXNLPOOIA6YQGJIVYAE4N56WAYLXWSCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRXRVC6XUWL364LKQJXNKFTN5UYZSZ7X764TE4TYIKWPXWVLUOSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YM7RRLSBTEZFJ2XOKIINUJ6KADUHNS6CSP6COWS2M5MUUISBZQMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OIE33XE3AOP2TG4F2NXC5UC3L2PJJ6JI7CFKOSM23SWOMD6CJ23Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7QF7TUDSWIRASCRE4JYAIVT4PVTBBUYIO7USXTFLMVVOXZLQPIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCVGGL3PEAD25JH7LVWP27BEGZNJ2KGTRCLF6GV3TXR32FNZXURA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://de4t0ua29zrr9.cloudfront.net/95d5fcf3199d8bc59d4c9e793aef15d537801dcf/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOGL3322JCCPZDBIZ2ZEVFLI3CWK5A5O7BDO624KS7AYOASGL3NA/main.js"
            ]
        },
        "StartConnection": {
            "http": {
                "requestUri": "/connections"
            },
            "input": {
                "type": "structure",
                "required": [
                    "DeviceSerialNumber",
                    "AssetId",
                    "ClientPublicKey",
                    "NetworkInterfaceDeviceIndex"
                ],
                "members": {
                    "DeviceSerialNumber": {},
                    "AssetId": {},
                    "ClientPublicKey": {},
                    "NetworkInterfaceDeviceIndex": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ConnectionId": {},
                    "UnderlayIpAddress": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXJRTCAPNOKMBQ2V6H2FFNETN27A25BDAOAY2T6TDEIGXJUJVLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z34GXOAA6NDA2L4OLV3SS7U27C3NCAF2AMBOGO3FSATG2AGPVAKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MFBMLM52RQ7W6ULKZRYHHLY2FWUYAPMMDLOX3AUBVVXDZYCZM33A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2Y3JFJFHUER2CWW7CWVWNH3SQJC3LNZM55SSHBSYWK4C3FUS5U4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
                "https://de4t0ua29zrr9.cloudfront.net/3c083783057d84568eb1b7ba7967c897537d0521/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/755H566MG4GKYZZPZXU3Z45PLSO73E5ZCVJNM247VFDLWZ4CKFTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXQ6EYUQZIYFRYPOQN2TBWEZUNOVG3CGQXVZASUCLWT5NXDXFW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4ZKXBPRB2ZBIATCT26YZXNLPOOIA6YQGJIVYAE4N56WAYLXWSCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRXRVC6XUWL364LKQJXNKFTN5UYZSZ7X764TE4TYIKWPXWVLUOSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OIE33XE3AOP2TG4F2NXC5UC3L2PJJ6JI7CFKOSM23SWOMD6CJ23Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7QF7TUDSWIRASCRE4JYAIVT4PVTBBUYIO7USXTFLMVVOXZLQPIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCVGGL3PEAD25JH7LVWP27BEGZNJ2KGTRCLF6GV3TXR32FNZXURA/vendors.js",
                "https://de4t0ua29zrr9.cloudfront.net/95d5fcf3199d8bc59d4c9e793aef15d537801dcf/main.js"
            ]
        },
        "TagResource": {
            "http": {
                "requestUri": "/tags/{ResourceArn}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn",
                    "Tags"
                ],
                "members": {
                    "ResourceArn": {
                        "location": "uri",
                        "locationName": "ResourceArn"
                    },
                    "Tags": {
                        "shape": "Sz"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5YEOLHPLUZ2FDCAN7XCW74VPUJT7R4J3PAB67O26ZU6OC7HZAJYQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://de4t0ua29zrr9.cloudfront.net/3c083783057d84568eb1b7ba7967c897537d0521/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4ZKXBPRB2ZBIATCT26YZXNLPOOIA6YQGJIVYAE4N56WAYLXWSCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRXRVC6XUWL364LKQJXNKFTN5UYZSZ7X764TE4TYIKWPXWVLUOSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YM7RRLSBTEZFJ2XOKIINUJ6KADUHNS6CSP6COWS2M5MUUISBZQMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OIE33XE3AOP2TG4F2NXC5UC3L2PJJ6JI7CFKOSM23SWOMD6CJ23Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7QF7TUDSWIRASCRE4JYAIVT4PVTBBUYIO7USXTFLMVVOXZLQPIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCVGGL3PEAD25JH7LVWP27BEGZNJ2KGTRCLF6GV3TXR32FNZXURA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://de4t0ua29zrr9.cloudfront.net/95d5fcf3199d8bc59d4c9e793aef15d537801dcf/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOGL3322JCCPZDBIZ2ZEVFLI3CWK5A5O7BDO624KS7AYOASGL3NA/main.js"
            ]
        },
        "UntagResource": {
            "http": {
                "method": "DELETE",
                "requestUri": "/tags/{ResourceArn}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn",
                    "TagKeys"
                ],
                "members": {
                    "ResourceArn": {
                        "location": "uri",
                        "locationName": "ResourceArn"
                    },
                    "TagKeys": {
                        "location": "querystring",
                        "locationName": "tagKeys",
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5YEOLHPLUZ2FDCAN7XCW74VPUJT7R4J3PAB67O26ZU6OC7HZAJYQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://de4t0ua29zrr9.cloudfront.net/3c083783057d84568eb1b7ba7967c897537d0521/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4ZKXBPRB2ZBIATCT26YZXNLPOOIA6YQGJIVYAE4N56WAYLXWSCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRXRVC6XUWL364LKQJXNKFTN5UYZSZ7X764TE4TYIKWPXWVLUOSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YM7RRLSBTEZFJ2XOKIINUJ6KADUHNS6CSP6COWS2M5MUUISBZQMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OIE33XE3AOP2TG4F2NXC5UC3L2PJJ6JI7CFKOSM23SWOMD6CJ23Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7QF7TUDSWIRASCRE4JYAIVT4PVTBBUYIO7USXTFLMVVOXZLQPIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCVGGL3PEAD25JH7LVWP27BEGZNJ2KGTRCLF6GV3TXR32FNZXURA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://de4t0ua29zrr9.cloudfront.net/95d5fcf3199d8bc59d4c9e793aef15d537801dcf/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOGL3322JCCPZDBIZ2ZEVFLI3CWK5A5O7BDO624KS7AYOASGL3NA/main.js"
            ]
        },
        "UpdateOutpost": {
            "http": {
                "method": "PATCH",
                "requestUri": "/outposts/{OutpostId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "OutpostId"
                ],
                "members": {
                    "OutpostId": {
                        "location": "uri",
                        "locationName": "OutpostId"
                    },
                    "Name": {},
                    "Description": {},
                    "SupportedHardwareType": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Outpost": {
                        "shape": "S14"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZJJJOHNOE2HYBYOYGQJDMGM42GFJJZ4IHS5ZPCQ5ZDEN5TH44LQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/755H566MG4GKYZZPZXU3Z45PLSO73E5ZCVJNM247VFDLWZ4CKFTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4DYKH3KNG4DWGXPH4DZZMALO4NZ6ALPXOEBIJLFM3OYWNYTXJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2WOYD7PYRNO762XBJEBLNHWWTY44CUBGIMTND3DJQR43SY7QDPQ/main.js",
                "https://de4t0ua29zrr9.cloudfront.net/3c083783057d84568eb1b7ba7967c897537d0521/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BJ532RIGMXZWOC6AUIYY3XUFFOTRSWTNK7A6OTJCN3MNRMIOB52A/main.js",
[...]
