{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2019-12-03",
        "endpointPrefix": "outposts",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceAbbreviation": "Outposts",
        "serviceFullName": "AWS Outposts",
        "serviceId": "Outposts",
        "signatureVersion": "v4",
        "signingName": "outposts",
        "uid": "outposts-2019-12-03",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/66AWVQKGA75UBJPOM4QK5WN2NKN752CS5ESGPSP7AIILAUQ7OCWQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/K52OUW7ZBC6BLW7YBIAE2BVAORO6VIRPJJTCXEI3KWFL7VPBW3XQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/O3QNK3TIF3UYUQZQUJT6FWRTU3UKRGVG2NIDW676PBBJUJ5RB4AA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
            "https://de4t0ua29zrr9.cloudfront.net/48c5e3fc5179c988c577942474f6e7c494f3bad5/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HZIXRDBS6R76XIK3HLTIE4GF47D2CGSKKEA2RCWDROUGABXGTNWA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JEMF46TW767GOZDNDMNISR55P7COCMCEOKP2I5OMTD4LAUGCMCYQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ACLFEPC6XYYWQZ376DZL6ZDXZHW3FG4HMBTAD4SBX435YM5FX33Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
        ]
    },
    "operations": {
        "CancelOrder": {
            "http": {
                "requestUri": "/orders/{OrderId}/cancel"
            },
            "input": {
                "type": "structure",
                "required": [
                    "OrderId"
                ],
                "members": {
                    "OrderId": {
                        "location": "uri",
                        "locationName": "OrderId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5AA5GUBO4SMWRCZPIQE7BJZT2X7EOFCBTKDOOUIPOSDYKRDKGMYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NUHK62XHXPXX6F3JYCO6DOTEDGWUIL7ZECEQYLTROEKUKDYEWWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W7UTT4E773ZGVLVU7PR4N666FNI7525LPJKT6S4QIMHJYHWZGQRQ/main.js",
                "https://de4t0ua29zrr9.cloudfront.net/79444b72656e06ef58b367d2513483e28053bfed/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K52OUW7ZBC6BLW7YBIAE2BVAORO6VIRPJJTCXEI3KWFL7VPBW3XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMGTKV4FAMJELXFRP5GPVXMDRKSUHN2CMMNTTGMA5IY6ZO4BGBVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFRALABNSON33QYMTKNWN7TNPUVO6RDQJQJSAF77QOH7OBXZO2BA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJXGUUA6YTQD63QYHP4VLAKPXYE342JGLYKSJOAS2ZPSPRMW3HDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AADQGISS7GR6HSC3JKGL2J6NCGQ322R5CX2FK3QGNI2EER43UDEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACLFEPC6XYYWQZ376DZL6ZDXZHW3FG4HMBTAD4SBX435YM5FX33Q/main.js",
                "https://de4t0ua29zrr9.cloudfront.net/86debb2746af9752b887a1e296ba2e1ee9d836e0/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDJGZKAZJJSBNU6TMMOJWHEEKA7TILHB73TLPB4LAZ3Q57QXV5MA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O3QNK3TIF3UYUQZQUJT6FWRTU3UKRGVG2NIDW676PBBJUJ5RB4AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://de4t0ua29zrr9.cloudfront.net/48c5e3fc5179c988c577942474f6e7c494f3bad5/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HZIXRDBS6R76XIK3HLTIE4GF47D2CGSKKEA2RCWDROUGABXGTNWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JEMF46TW767GOZDNDMNISR55P7COCMCEOKP2I5OMTD4LAUGCMCYQ/main.js"
            ]
        },
        "CreateOrder": {
            "http": {
                "requestUri": "/orders"
            },
            "input": {
                "type": "structure",
                "required": [
                    "OutpostIdentifier",
                    "LineItems",
                    "PaymentOption"
                ],
                "members": {
                    "OutpostIdentifier": {},
                    "LineItems": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "CatalogItemId": {},
                                "Quantity": {
                                    "type": "integer"
                                }
                            }
                        }
                    },
                    "PaymentOption": {},
                    "PaymentTerm": {},
                    "ClientToken": {
                        "idempotencyToken": true,
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Order": {
                        "shape": "Sd"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACLFEPC6XYYWQZ376DZL6ZDXZHW3FG4HMBTAD4SBX435YM5FX33Q/main.js",
                "https://de4t0ua29zrr9.cloudfront.net/86debb2746af9752b887a1e296ba2e1ee9d836e0/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT7FMYLRGZAHKTR34LSFC6S3R6B6I3GRAQKAVQOJUCYJ6TA6PJ7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDJGZKAZJJSBNU6TMMOJWHEEKA7TILHB73TLPB4LAZ3Q57QXV5MA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66AWVQKGA75UBJPOM4QK5WN2NKN752CS5ESGPSP7AIILAUQ7OCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O3QNK3TIF3UYUQZQUJT6FWRTU3UKRGVG2NIDW676PBBJUJ5RB4AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://de4t0ua29zrr9.cloudfront.net/48c5e3fc5179c988c577942474f6e7c494f3bad5/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HZIXRDBS6R76XIK3HLTIE4GF47D2CGSKKEA2RCWDROUGABXGTNWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JEMF46TW767GOZDNDMNISR55P7COCMCEOKP2I5OMTD4LAUGCMCYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "CreateOutpost": {
            "http": {
                "requestUri": "/outposts"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "SiteId"
                ],
                "members": {
                    "Name": {},
                    "Description": {},
                    "SiteId": {},
                    "AvailabilityZone": {},
                    "AvailabilityZoneId": {},
                    "Tags": {
                        "shape": "Sz"
                    },
                    "SupportedHardwareType": {},
                    "LocationId": {
                        "internalonly": true
                    },
                    "LocationType": {
                        "internalonly": true,
                        "type": "string"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Outpost": {
                        "shape": "S14"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/66AWVQKGA75UBJPOM4QK5WN2NKN752CS5ESGPSP7AIILAUQ7OCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K52OUW7ZBC6BLW7YBIAE2BVAORO6VIRPJJTCXEI3KWFL7VPBW3XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O3QNK3TIF3UYUQZQUJT6FWRTU3UKRGVG2NIDW676PBBJUJ5RB4AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://de4t0ua29zrr9.cloudfront.net/48c5e3fc5179c988c577942474f6e7c494f3bad5/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HZIXRDBS6R76XIK3HLTIE4GF47D2CGSKKEA2RCWDROUGABXGTNWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JEMF46TW767GOZDNDMNISR55P7COCMCEOKP2I5OMTD4LAUGCMCYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACLFEPC6XYYWQZ376DZL6ZDXZHW3FG4HMBTAD4SBX435YM5FX33Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "CreateSite": {
            "http": {
                "requestUri": "/sites"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {},
                    "Description": {},
                    "Notes": {},
                    "Tags": {
                        "shape": "Sz"
                    },
                    "OperatingAddress": {
                        "shape": "S1e"
                    },
                    "ShippingAddress": {
                        "shape": "S1e"
                    },
                    "RackPhysicalProperties": {
                        "shape": "S1q"
                    },
                    "PowerDrawKva": {
                        "internalonly": true
                    },
                    "PowerPhase": {
                        "internalonly": true
                    },
                    "PowerConnector": {
                        "internalonly": true
                    },
                    "RedundantPower": {
                        "internalonly": true
                    },
                    "UpstreamBreaker": {
                        "internalonly": true
                    },
                    "Conditions": {
                        "internalonly": true
                    },
                    "PathToPosition": {
                        "internalonly": true
                    },
                    "SeismicBolting": {
                        "internalonly": true
                    },
                    "MaxWeightLbs": {
                        "internalonly": true
                    },
                    "NetworkingAllowed": {
                        "internalonly": true
                    },
                    "UplinkGbps": {
                        "internalonly": true
                    },
                    "UplinkCount": {
                        "internalonly": true
                    },
                    "Fiber": {
                        "internalonly": true
                    },
                    "OpticalStandard": {
                        "internalonly": true
                    },
                    "RedundantNetworking": {
                        "internalonly": true
                    },
                    "PowerFeedDrop": {
                        "internalonly": true
                    },
                    "Address": {
                        "shape": "S29",
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Site": {
                        "shape": "S21"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5AA5GUBO4SMWRCZPIQE7BJZT2X7EOFCBTKDOOUIPOSDYKRDKGMYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NUHK62XHXPXX6F3JYCO6DOTEDGWUIL7ZECEQYLTROEKUKDYEWWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W7UTT4E773ZGVLVU7PR4N666FNI7525LPJKT6S4QIMHJYHWZGQRQ/main.js",
                "https://de4t0ua29zrr9.cloudfront.net/79444b72656e06ef58b367d2513483e28053bfed/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K52OUW7ZBC6BLW7YBIAE2BVAORO6VIRPJJTCXEI3KWFL7VPBW3XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMGTKV4FAMJELXFRP5GPVXMDRKSUHN2CMMNTTGMA5IY6ZO4BGBVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFRALABNSON33QYMTKNWN7TNPUVO6RDQJQJSAF77QOH7OBXZO2BA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJXGUUA6YTQD63QYHP4VLAKPXYE342JGLYKSJOAS2ZPSPRMW3HDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AADQGISS7GR6HSC3JKGL2J6NCGQ322R5CX2FK3QGNI2EER43UDEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACLFEPC6XYYWQZ376DZL6ZDXZHW3FG4HMBTAD4SBX435YM5FX33Q/main.js",
                "https://de4t0ua29zrr9.cloudfront.net/86debb2746af9752b887a1e296ba2e1ee9d836e0/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDJGZKAZJJSBNU6TMMOJWHEEKA7TILHB73TLPB4LAZ3Q57QXV5MA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O3QNK3TIF3UYUQZQUJT6FWRTU3UKRGVG2NIDW676PBBJUJ5RB4AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://de4t0ua29zrr9.cloudfront.net/48c5e3fc5179c988c577942474f6e7c494f3bad5/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HZIXRDBS6R76XIK3HLTIE4GF47D2CGSKKEA2RCWDROUGABXGTNWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JEMF46TW767GOZDNDMNISR55P7COCMCEOKP2I5OMTD4LAUGCMCYQ/main.js"
            ]
        },
        "DeleteOutpost": {
            "http": {
                "method": "DELETE",
                "requestUri": "/outposts/{OutpostId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "OutpostId"
                ],
                "members": {
                    "OutpostId": {
                        "location": "uri",
                        "locationName": "OutpostId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/66AWVQKGA75UBJPOM4QK5WN2NKN752CS5ESGPSP7AIILAUQ7OCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K52OUW7ZBC6BLW7YBIAE2BVAORO6VIRPJJTCXEI3KWFL7VPBW3XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O3QNK3TIF3UYUQZQUJT6FWRTU3UKRGVG2NIDW676PBBJUJ5RB4AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://de4t0ua29zrr9.cloudfront.net/48c5e3fc5179c988c577942474f6e7c494f3bad5/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HZIXRDBS6R76XIK3HLTIE4GF47D2CGSKKEA2RCWDROUGABXGTNWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JEMF46TW767GOZDNDMNISR55P7COCMCEOKP2I5OMTD4LAUGCMCYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACLFEPC6XYYWQZ376DZL6ZDXZHW3FG4HMBTAD4SBX435YM5FX33Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "DeleteSite": {
            "http": {
                "method": "DELETE",
                "requestUri": "/sites/{SiteId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "SiteId"
                ],
                "members": {
                    "SiteId": {
                        "location": "uri",
                        "locationName": "SiteId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/66AWVQKGA75UBJPOM4QK5WN2NKN752CS5ESGPSP7AIILAUQ7OCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K52OUW7ZBC6BLW7YBIAE2BVAORO6VIRPJJTCXEI3KWFL7VPBW3XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O3QNK3TIF3UYUQZQUJT6FWRTU3UKRGVG2NIDW676PBBJUJ5RB4AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://de4t0ua29zrr9.cloudfront.net/48c5e3fc5179c988c577942474f6e7c494f3bad5/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HZIXRDBS6R76XIK3HLTIE4GF47D2CGSKKEA2RCWDROUGABXGTNWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JEMF46TW767GOZDNDMNISR55P7COCMCEOKP2I5OMTD4LAUGCMCYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACLFEPC6XYYWQZ376DZL6ZDXZHW3FG4HMBTAD4SBX435YM5FX33Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "GetCatalogItem": {
            "http": {
                "method": "GET",
                "requestUri": "/catalog/item/{CatalogItemId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "CatalogItemId"
                ],
                "members": {
                    "CatalogItemId": {
                        "location": "uri",
                        "locationName": "CatalogItemId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "CatalogItem": {
                        "shape": "S29"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5AA5GUBO4SMWRCZPIQE7BJZT2X7EOFCBTKDOOUIPOSDYKRDKGMYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NUHK62XHXPXX6F3JYCO6DOTEDGWUIL7ZECEQYLTROEKUKDYEWWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W7UTT4E773ZGVLVU7PR4N666FNI7525LPJKT6S4QIMHJYHWZGQRQ/main.js",
                "https://de4t0ua29zrr9.cloudfront.net/79444b72656e06ef58b367d2513483e28053bfed/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K52OUW7ZBC6BLW7YBIAE2BVAORO6VIRPJJTCXEI3KWFL7VPBW3XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMGTKV4FAMJELXFRP5GPVXMDRKSUHN2CMMNTTGMA5IY6ZO4BGBVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFRALABNSON33QYMTKNWN7TNPUVO6RDQJQJSAF77QOH7OBXZO2BA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJXGUUA6YTQD63QYHP4VLAKPXYE342JGLYKSJOAS2ZPSPRMW3HDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AADQGISS7GR6HSC3JKGL2J6NCGQ322R5CX2FK3QGNI2EER43UDEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACLFEPC6XYYWQZ376DZL6ZDXZHW3FG4HMBTAD4SBX435YM5FX33Q/main.js",
                "https://de4t0ua29zrr9.cloudfront.net/86debb2746af9752b887a1e296ba2e1ee9d836e0/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDJGZKAZJJSBNU6TMMOJWHEEKA7TILHB73TLPB4LAZ3Q57QXV5MA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O3QNK3TIF3UYUQZQUJT6FWRTU3UKRGVG2NIDW676PBBJUJ5RB4AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://de4t0ua29zrr9.cloudfront.net/48c5e3fc5179c988c577942474f6e7c494f3bad5/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HZIXRDBS6R76XIK3HLTIE4GF47D2CGSKKEA2RCWDROUGABXGTNWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JEMF46TW767GOZDNDMNISR55P7COCMCEOKP2I5OMTD4LAUGCMCYQ/main.js"
            ]
        },
        "GetConnection": {
            "http": {
                "method": "GET",
                "requestUri": "/connections/{ConnectionId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ConnectionId"
                ],
                "members": {
                    "ConnectionId": {
                        "location": "uri",
                        "locationName": "ConnectionId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ConnectionId": {},
                    "ConnectionDetails": {
                        "type": "structure",
                        "members": {
                            "ClientPublicKey": {},
                            "ServerPublicKey": {},
                            "ServerEndpoint": {},
                            "ClientTunnelAddress": {},
                            "ServerTunnelAddress": {},
                            "AllowedIps": {
                                "type": "list",
                                "member": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5AA5GUBO4SMWRCZPIQE7BJZT2X7EOFCBTKDOOUIPOSDYKRDKGMYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NUHK62XHXPXX6F3JYCO6DOTEDGWUIL7ZECEQYLTROEKUKDYEWWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W7UTT4E773ZGVLVU7PR4N666FNI7525LPJKT6S4QIMHJYHWZGQRQ/main.js",
                "https://de4t0ua29zrr9.cloudfront.net/79444b72656e06ef58b367d2513483e28053bfed/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K52OUW7ZBC6BLW7YBIAE2BVAORO6VIRPJJTCXEI3KWFL7VPBW3XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMGTKV4FAMJELXFRP5GPVXMDRKSUHN2CMMNTTGMA5IY6ZO4BGBVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFRALABNSON33QYMTKNWN7TNPUVO6RDQJQJSAF77QOH7OBXZO2BA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJXGUUA6YTQD63QYHP4VLAKPXYE342JGLYKSJOAS2ZPSPRMW3HDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AADQGISS7GR6HSC3JKGL2J6NCGQ322R5CX2FK3QGNI2EER43UDEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACLFEPC6XYYWQZ376DZL6ZDXZHW3FG4HMBTAD4SBX435YM5FX33Q/main.js",
                "https://de4t0ua29zrr9.cloudfront.net/86debb2746af9752b887a1e296ba2e1ee9d836e0/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDJGZKAZJJSBNU6TMMOJWHEEKA7TILHB73TLPB4LAZ3Q57QXV5MA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O3QNK3TIF3UYUQZQUJT6FWRTU3UKRGVG2NIDW676PBBJUJ5RB4AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://de4t0ua29zrr9.cloudfront.net/48c5e3fc5179c988c577942474f6e7c494f3bad5/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HZIXRDBS6R76XIK3HLTIE4GF47D2CGSKKEA2RCWDROUGABXGTNWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JEMF46TW767GOZDNDMNISR55P7COCMCEOKP2I5OMTD4LAUGCMCYQ/main.js"
            ]
        },
        "GetOrder": {
            "http": {
                "method": "GET",
                "requestUri": "/orders/{OrderId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "OrderId"
                ],
                "members": {
                    "OrderId": {
                        "location": "uri",
                        "locationName": "OrderId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Order": {
                        "shape": "Sd"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5AA5GUBO4SMWRCZPIQE7BJZT2X7EOFCBTKDOOUIPOSDYKRDKGMYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NUHK62XHXPXX6F3JYCO6DOTEDGWUIL7ZECEQYLTROEKUKDYEWWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W7UTT4E773ZGVLVU7PR4N666FNI7525LPJKT6S4QIMHJYHWZGQRQ/main.js",
                "https://de4t0ua29zrr9.cloudfront.net/79444b72656e06ef58b367d2513483e28053bfed/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K52OUW7ZBC6BLW7YBIAE2BVAORO6VIRPJJTCXEI3KWFL7VPBW3XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMGTKV4FAMJELXFRP5GPVXMDRKSUHN2CMMNTTGMA5IY6ZO4BGBVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFRALABNSON33QYMTKNWN7TNPUVO6RDQJQJSAF77QOH7OBXZO2BA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJXGUUA6YTQD63QYHP4VLAKPXYE342JGLYKSJOAS2ZPSPRMW3HDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AADQGISS7GR6HSC3JKGL2J6NCGQ322R5CX2FK3QGNI2EER43UDEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACLFEPC6XYYWQZ376DZL6ZDXZHW3FG4HMBTAD4SBX435YM5FX33Q/main.js",
                "https://de4t0ua29zrr9.cloudfront.net/86debb2746af9752b887a1e296ba2e1ee9d836e0/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDJGZKAZJJSBNU6TMMOJWHEEKA7TILHB73TLPB4LAZ3Q57QXV5MA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O3QNK3TIF3UYUQZQUJT6FWRTU3UKRGVG2NIDW676PBBJUJ5RB4AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://de4t0ua29zrr9.cloudfront.net/48c5e3fc5179c988c577942474f6e7c494f3bad5/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HZIXRDBS6R76XIK3HLTIE4GF47D2CGSKKEA2RCWDROUGABXGTNWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JEMF46TW767GOZDNDMNISR55P7COCMCEOKP2I5OMTD4LAUGCMCYQ/main.js"
            ]
        },
        "GetOutpost": {
            "http": {
                "method": "GET",
                "requestUri": "/outposts/{OutpostId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "OutpostId"
                ],
                "members": {
                    "OutpostId": {
                        "location": "uri",
                        "locationName": "OutpostId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Outpost": {
                        "shape": "S14"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/66AWVQKGA75UBJPOM4QK5WN2NKN752CS5ESGPSP7AIILAUQ7OCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K52OUW7ZBC6BLW7YBIAE2BVAORO6VIRPJJTCXEI3KWFL7VPBW3XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O3QNK3TIF3UYUQZQUJT6FWRTU3UKRGVG2NIDW676PBBJUJ5RB4AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://de4t0ua29zrr9.cloudfront.net/48c5e3fc5179c988c577942474f6e7c494f3bad5/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HZIXRDBS6R76XIK3HLTIE4GF47D2CGSKKEA2RCWDROUGABXGTNWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JEMF46TW767GOZDNDMNISR55P7COCMCEOKP2I5OMTD4LAUGCMCYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACLFEPC6XYYWQZ376DZL6ZDXZHW3FG4HMBTAD4SBX435YM5FX33Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "GetOutpostInstanceTypes": {
            "http": {
                "method": "GET",
                "requestUri": "/outposts/{OutpostId}/instanceTypes"
            },
            "input": {
                "type": "structure",
                "required": [
                    "OutpostId"
                ],
                "members": {
                    "OutpostId": {
                        "location": "uri",
                        "locationName": "OutpostId"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "NextToken"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "MaxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "InstanceTypes": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "InstanceType": {}
                            }
                        }
                    },
                    "NextToken": {},
                    "OutpostId": {},
                    "OutpostArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/66AWVQKGA75UBJPOM4QK5WN2NKN752CS5ESGPSP7AIILAUQ7OCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K52OUW7ZBC6BLW7YBIAE2BVAORO6VIRPJJTCXEI3KWFL7VPBW3XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O3QNK3TIF3UYUQZQUJT6FWRTU3UKRGVG2NIDW676PBBJUJ5RB4AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://de4t0ua29zrr9.cloudfront.net/48c5e3fc5179c988c577942474f6e7c494f3bad5/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HZIXRDBS6R76XIK3HLTIE4GF47D2CGSKKEA2RCWDROUGABXGTNWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JEMF46TW767GOZDNDMNISR55P7COCMCEOKP2I5OMTD4LAUGCMCYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACLFEPC6XYYWQZ376DZL6ZDXZHW3FG4HMBTAD4SBX435YM5FX33Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "GetSite": {
            "http": {
                "method": "GET",
                "requestUri": "/sites/{SiteId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "SiteId"
                ],
                "members": {
                    "SiteId": {
                        "location": "uri",
                        "locationName": "SiteId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Site": {
                        "shape": "S21"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5AA5GUBO4SMWRCZPIQE7BJZT2X7EOFCBTKDOOUIPOSDYKRDKGMYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NUHK62XHXPXX6F3JYCO6DOTEDGWUIL7ZECEQYLTROEKUKDYEWWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W7UTT4E773ZGVLVU7PR4N666FNI7525LPJKT6S4QIMHJYHWZGQRQ/main.js",
                "https://de4t0ua29zrr9.cloudfront.net/79444b72656e06ef58b367d2513483e28053bfed/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K52OUW7ZBC6BLW7YBIAE2BVAORO6VIRPJJTCXEI3KWFL7VPBW3XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMGTKV4FAMJELXFRP5GPVXMDRKSUHN2CMMNTTGMA5IY6ZO4BGBVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFRALABNSON33QYMTKNWN7TNPUVO6RDQJQJSAF77QOH7OBXZO2BA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJXGUUA6YTQD63QYHP4VLAKPXYE342JGLYKSJOAS2ZPSPRMW3HDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AADQGISS7GR6HSC3JKGL2J6NCGQ322R5CX2FK3QGNI2EER43UDEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACLFEPC6XYYWQZ376DZL6ZDXZHW3FG4HMBTAD4SBX435YM5FX33Q/main.js",
                "https://de4t0ua29zrr9.cloudfront.net/86debb2746af9752b887a1e296ba2e1ee9d836e0/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDJGZKAZJJSBNU6TMMOJWHEEKA7TILHB73TLPB4LAZ3Q57QXV5MA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O3QNK3TIF3UYUQZQUJT6FWRTU3UKRGVG2NIDW676PBBJUJ5RB4AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://de4t0ua29zrr9.cloudfront.net/48c5e3fc5179c988c577942474f6e7c494f3bad5/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HZIXRDBS6R76XIK3HLTIE4GF47D2CGSKKEA2RCWDROUGABXGTNWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JEMF46TW767GOZDNDMNISR55P7COCMCEOKP2I5OMTD4LAUGCMCYQ/main.js"
            ]
        },
        "GetSiteAddress": {
            "http": {
                "method": "GET",
                "requestUri": "/sites/{SiteId}/address"
            },
            "input": {
                "type": "structure",
                "required": [
                    "SiteId",
                    "AddressType"
                ],
                "members": {
                    "SiteId": {
                        "location": "uri",
                        "locationName": "SiteId"
                    },
                    "AddressType": {
                        "location": "querystring",
                        "locationName": "AddressType"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "SiteId": {},
                    "AddressType": {},
                    "Address": {
                        "shape": "S1e"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5AA5GUBO4SMWRCZPIQE7BJZT2X7EOFCBTKDOOUIPOSDYKRDKGMYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NUHK62XHXPXX6F3JYCO6DOTEDGWUIL7ZECEQYLTROEKUKDYEWWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W7UTT4E773ZGVLVU7PR4N666FNI7525LPJKT6S4QIMHJYHWZGQRQ/main.js",
                "https://de4t0ua29zrr9.cloudfront.net/79444b72656e06ef58b367d2513483e28053bfed/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K52OUW7ZBC6BLW7YBIAE2BVAORO6VIRPJJTCXEI3KWFL7VPBW3XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMGTKV4FAMJELXFRP5GPVXMDRKSUHN2CMMNTTGMA5IY6ZO4BGBVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFRALABNSON33QYMTKNWN7TNPUVO6RDQJQJSAF77QOH7OBXZO2BA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJXGUUA6YTQD63QYHP4VLAKPXYE342JGLYKSJOAS2ZPSPRMW3HDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AADQGISS7GR6HSC3JKGL2J6NCGQ322R5CX2FK3QGNI2EER43UDEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACLFEPC6XYYWQZ376DZL6ZDXZHW3FG4HMBTAD4SBX435YM5FX33Q/main.js",
                "https://de4t0ua29zrr9.cloudfront.net/86debb2746af9752b887a1e296ba2e1ee9d836e0/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDJGZKAZJJSBNU6TMMOJWHEEKA7TILHB73TLPB4LAZ3Q57QXV5MA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O3QNK3TIF3UYUQZQUJT6FWRTU3UKRGVG2NIDW676PBBJUJ5RB4AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://de4t0ua29zrr9.cloudfront.net/48c5e3fc5179c988c577942474f6e7c494f3bad5/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HZIXRDBS6R76XIK3HLTIE4GF47D2CGSKKEA2RCWDROUGABXGTNWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JEMF46TW767GOZDNDMNISR55P7COCMCEOKP2I5OMTD4LAUGCMCYQ/main.js"
            ]
        },
        "ListAssets": {
            "http": {
                "method": "GET",
                "requestUri": "/outposts/{OutpostId}/assets"
            },
            "input": {
                "type": "structure",
                "required": [
                    "OutpostIdentifier"
                ],
                "members": {
                    "OutpostIdentifier": {
                        "location": "uri",
                        "locationName": "OutpostId"
                    },
                    "HostIdFilter": {
                        "location": "querystring",
                        "locationName": "HostIdFilter",
                        "type": "list",
                        "member": {}
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "MaxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "NextToken"
                    },
                    "StatusFilter": {
                        "location": "querystring",
                        "locationName": "StatusFilter",
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Assets": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "AssetId": {},
                                "RackId": {},
                                "AssetType": {},
                                "ComputeAttributes": {
                                    "type": "structure",
                                    "members": {
                                        "HostId": {},
                                        "State": {}
                                    }
                                },
                                "AssetLocation": {
                                    "type": "structure",
                                    "members": {
                                        "RackElevation": {
                                            "type": "float"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5AA5GUBO4SMWRCZPIQE7BJZT2X7EOFCBTKDOOUIPOSDYKRDKGMYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NUHK62XHXPXX6F3JYCO6DOTEDGWUIL7ZECEQYLTROEKUKDYEWWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W7UTT4E773ZGVLVU7PR4N666FNI7525LPJKT6S4QIMHJYHWZGQRQ/main.js",
                "https://de4t0ua29zrr9.cloudfront.net/79444b72656e06ef58b367d2513483e28053bfed/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K52OUW7ZBC6BLW7YBIAE2BVAORO6VIRPJJTCXEI3KWFL7VPBW3XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMGTKV4FAMJELXFRP5GPVXMDRKSUHN2CMMNTTGMA5IY6ZO4BGBVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFRALABNSON33QYMTKNWN7TNPUVO6RDQJQJSAF77QOH7OBXZO2BA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJXGUUA6YTQD63QYHP4VLAKPXYE342JGLYKSJOAS2ZPSPRMW3HDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AADQGISS7GR6HSC3JKGL2J6NCGQ322R5CX2FK3QGNI2EER43UDEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACLFEPC6XYYWQZ376DZL6ZDXZHW3FG4HMBTAD4SBX435YM5FX33Q/main.js",
                "https://de4t0ua29zrr9.cloudfront.net/86debb2746af9752b887a1e296ba2e1ee9d836e0/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDJGZKAZJJSBNU6TMMOJWHEEKA7TILHB73TLPB4LAZ3Q57QXV5MA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O3QNK3TIF3UYUQZQUJT6FWRTU3UKRGVG2NIDW676PBBJUJ5RB4AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://de4t0ua29zrr9.cloudfront.net/48c5e3fc5179c988c577942474f6e7c494f3bad5/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HZIXRDBS6R76XIK3HLTIE4GF47D2CGSKKEA2RCWDROUGABXGTNWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JEMF46TW767GOZDNDMNISR55P7COCMCEOKP2I5OMTD4LAUGCMCYQ/main.js"
            ]
        },
        "ListCatalogItems": {
            "http": {
                "method": "GET",
                "requestUri": "/catalog/items"
            },
            "input": {
                "type": "structure",
                "members": {
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "NextToken"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "MaxResults",
                        "type": "integer"
                    },
                    "ItemClassFilter": {
                        "location": "querystring",
                        "locationName": "ItemClassFilter",
                        "type": "list",
                        "member": {}
                    },
                    "SupportedStorageFilter": {
                        "shape": "S2k",
                        "location": "querystring",
                        "locationName": "SupportedStorageFilter"
                    },
                    "EC2FamilyFilter": {
                        "location": "querystring",
                        "locationName": "EC2FamilyFilter",
                        "type": "list",
                        "member": {}
                    },
                    "SupportedUplinkGiBFilter": {
                        "shape": "S3l",
                        "internalonly": true,
                        "location": "querystring",
                        "locationName": "SupportedUplinkGiBFilter"
                    },
                    "SupportedUplinkGbpsFilter": {
                        "shape": "S3n",
                        "internalonly": true,
                        "location": "querystring",
                        "locationName": "SupportedUplinkGbpsFilter"
                    },
                    "CurrentTypeFilter": {
                        "internalonly": true,
                        "location": "querystring",
                        "locationName": "CurrentTypeFilter",
                        "type": "list",
                        "member": {
                            "shape": "S3t"
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "CatalogItems": {
                        "type": "list",
                        "member": {
                            "shape": "S29"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5AA5GUBO4SMWRCZPIQE7BJZT2X7EOFCBTKDOOUIPOSDYKRDKGMYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NUHK62XHXPXX6F3JYCO6DOTEDGWUIL7ZECEQYLTROEKUKDYEWWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W7UTT4E773ZGVLVU7PR4N666FNI7525LPJKT6S4QIMHJYHWZGQRQ/main.js",
                "https://de4t0ua29zrr9.cloudfront.net/79444b72656e06ef58b367d2513483e28053bfed/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K52OUW7ZBC6BLW7YBIAE2BVAORO6VIRPJJTCXEI3KWFL7VPBW3XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMGTKV4FAMJELXFRP5GPVXMDRKSUHN2CMMNTTGMA5IY6ZO4BGBVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFRALABNSON33QYMTKNWN7TNPUVO6RDQJQJSAF77QOH7OBXZO2BA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJXGUUA6YTQD63QYHP4VLAKPXYE342JGLYKSJOAS2ZPSPRMW3HDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AADQGISS7GR6HSC3JKGL2J6NCGQ322R5CX2FK3QGNI2EER43UDEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACLFEPC6XYYWQZ376DZL6ZDXZHW3FG4HMBTAD4SBX435YM5FX33Q/main.js",
                "https://de4t0ua29zrr9.cloudfront.net/86debb2746af9752b887a1e296ba2e1ee9d836e0/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDJGZKAZJJSBNU6TMMOJWHEEKA7TILHB73TLPB4LAZ3Q57QXV5MA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O3QNK3TIF3UYUQZQUJT6FWRTU3UKRGVG2NIDW676PBBJUJ5RB4AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://de4t0ua29zrr9.cloudfront.net/48c5e3fc5179c988c577942474f6e7c494f3bad5/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HZIXRDBS6R76XIK3HLTIE4GF47D2CGSKKEA2RCWDROUGABXGTNWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JEMF46TW767GOZDNDMNISR55P7COCMCEOKP2I5OMTD4LAUGCMCYQ/main.js"
            ]
        },
        "ListOrders": {
            "http": {
                "method": "GET",
                "requestUri": "/list-orders"
            },
            "input": {
                "type": "structure",
                "members": {
                    "OutpostIdentifierFilter": {
                        "location": "querystring",
                        "locationName": "OutpostIdentifierFilter"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "NextToken"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "MaxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Orders": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "OutpostId": {},
                                "OrderId": {},
                                "OrderType": {},
                                "Status": {},
                                "LineItemCountsByStatus": {
                                    "type": "map",
                                    "key": {},
                                    "value": {
                                        "type": "integer"
                                    }
                                },
                                "OrderSubmissionDate": {
                                    "type": "timestamp"
                                },
                                "OrderFulfilledDate": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5AA5GUBO4SMWRCZPIQE7BJZT2X7EOFCBTKDOOUIPOSDYKRDKGMYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NUHK62XHXPXX6F3JYCO6DOTEDGWUIL7ZECEQYLTROEKUKDYEWWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W7UTT4E773ZGVLVU7PR4N666FNI7525LPJKT6S4QIMHJYHWZGQRQ/main.js",
                "https://de4t0ua29zrr9.cloudfront.net/79444b72656e06ef58b367d2513483e28053bfed/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K52OUW7ZBC6BLW7YBIAE2BVAORO6VIRPJJTCXEI3KWFL7VPBW3XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMGTKV4FAMJELXFRP5GPVXMDRKSUHN2CMMNTTGMA5IY6ZO4BGBVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFRALABNSON33QYMTKNWN7TNPUVO6RDQJQJSAF77QOH7OBXZO2BA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJXGUUA6YTQD63QYHP4VLAKPXYE342JGLYKSJOAS2ZPSPRMW3HDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AADQGISS7GR6HSC3JKGL2J6NCGQ322R5CX2FK3QGNI2EER43UDEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACLFEPC6XYYWQZ376DZL6ZDXZHW3FG4HMBTAD4SBX435YM5FX33Q/main.js",
                "https://de4t0ua29zrr9.cloudfront.net/86debb2746af9752b887a1e296ba2e1ee9d836e0/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDJGZKAZJJSBNU6TMMOJWHEEKA7TILHB73TLPB4LAZ3Q57QXV5MA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O3QNK3TIF3UYUQZQUJT6FWRTU3UKRGVG2NIDW676PBBJUJ5RB4AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://de4t0ua29zrr9.cloudfront.net/48c5e3fc5179c988c577942474f6e7c494f3bad5/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HZIXRDBS6R76XIK3HLTIE4GF47D2CGSKKEA2RCWDROUGABXGTNWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JEMF46TW767GOZDNDMNISR55P7COCMCEOKP2I5OMTD4LAUGCMCYQ/main.js"
            ]
        },
        "ListOutposts": {
            "http": {
                "method": "GET",
                "requestUri": "/outposts"
            },
            "input": {
                "type": "structure",
                "members": {
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "NextToken"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "MaxResults",
                        "type": "integer"
                    },
                    "LifeCycleStatusFilter": {
                        "location": "querystring",
                        "locationName": "LifeCycleStatusFilter",
                        "type": "list",
                        "member": {}
                    },
                    "AvailabilityZoneFilter": {
                        "location": "querystring",
                        "locationName": "AvailabilityZoneFilter",
                        "type": "list",
                        "member": {}
                    },
                    "AvailabilityZoneIdFilter": {
                        "location": "querystring",
                        "locationName": "AvailabilityZoneIdFilter",
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Outposts": {
                        "type": "list",
                        "member": {
                            "shape": "S14"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/66AWVQKGA75UBJPOM4QK5WN2NKN752CS5ESGPSP7AIILAUQ7OCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K52OUW7ZBC6BLW7YBIAE2BVAORO6VIRPJJTCXEI3KWFL7VPBW3XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O3QNK3TIF3UYUQZQUJT6FWRTU3UKRGVG2NIDW676PBBJUJ5RB4AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://de4t0ua29zrr9.cloudfront.net/48c5e3fc5179c988c577942474f6e7c494f3bad5/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HZIXRDBS6R76XIK3HLTIE4GF47D2CGSKKEA2RCWDROUGABXGTNWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JEMF46TW767GOZDNDMNISR55P7COCMCEOKP2I5OMTD4LAUGCMCYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACLFEPC6XYYWQZ376DZL6ZDXZHW3FG4HMBTAD4SBX435YM5FX33Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "ListSites": {
            "http": {
                "method": "GET",
                "requestUri": "/sites"
            },
            "input": {
                "type": "structure",
                "members": {
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "NextToken"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "MaxResults",
                        "type": "integer"
                    },
                    "OperatingAddressCountryCodeFilter": {
                        "location": "querystring",
                        "locationName": "OperatingAddressCountryCodeFilter",
                        "type": "list",
                        "member": {}
                    },
                    "OperatingAddressStateOrRegionFilter": {
                        "location": "querystring",
                        "locationName": "OperatingAddressStateOrRegionFilter",
                        "type": "list",
                        "member": {}
                    },
                    "OperatingAddressCityFilter": {
                        "location": "querystring",
                        "locationName": "OperatingAddressCityFilter",
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Sites": {
                        "type": "list",
                        "member": {
                            "shape": "S21"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/66AWVQKGA75UBJPOM4QK5WN2NKN752CS5ESGPSP7AIILAUQ7OCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K52OUW7ZBC6BLW7YBIAE2BVAORO6VIRPJJTCXEI3KWFL7VPBW3XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O3QNK3TIF3UYUQZQUJT6FWRTU3UKRGVG2NIDW676PBBJUJ5RB4AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://de4t0ua29zrr9.cloudfront.net/48c5e3fc5179c988c577942474f6e7c494f3bad5/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HZIXRDBS6R76XIK3HLTIE4GF47D2CGSKKEA2RCWDROUGABXGTNWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JEMF46TW767GOZDNDMNISR55P7COCMCEOKP2I5OMTD4LAUGCMCYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACLFEPC6XYYWQZ376DZL6ZDXZHW3FG4HMBTAD4SBX435YM5FX33Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "ListTagsForResource": {
            "http": {
                "method": "GET",
                "requestUri": "/tags/{ResourceArn}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn"
                ],
                "members": {
                    "ResourceArn": {
                        "location": "uri",
                        "locationName": "ResourceArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Tags": {
                        "shape": "Sz"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDJGZKAZJJSBNU6TMMOJWHEEKA7TILHB73TLPB4LAZ3Q57QXV5MA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66AWVQKGA75UBJPOM4QK5WN2NKN752CS5ESGPSP7AIILAUQ7OCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K52OUW7ZBC6BLW7YBIAE2BVAORO6VIRPJJTCXEI3KWFL7VPBW3XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O3QNK3TIF3UYUQZQUJT6FWRTU3UKRGVG2NIDW676PBBJUJ5RB4AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://de4t0ua29zrr9.cloudfront.net/48c5e3fc5179c988c577942474f6e7c494f3bad5/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HZIXRDBS6R76XIK3HLTIE4GF47D2CGSKKEA2RCWDROUGABXGTNWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JEMF46TW767GOZDNDMNISR55P7COCMCEOKP2I5OMTD4LAUGCMCYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACLFEPC6XYYWQZ376DZL6ZDXZHW3FG4HMBTAD4SBX435YM5FX33Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "StartConnection": {
            "http": {
                "requestUri": "/connections"
            },
            "input": {
                "type": "structure",
                "required": [
                    "DeviceSerialNumber",
                    "AssetId",
                    "ClientPublicKey",
                    "NetworkInterfaceDeviceIndex"
                ],
                "members": {
                    "DeviceSerialNumber": {},
                    "AssetId": {},
                    "ClientPublicKey": {},
                    "NetworkInterfaceDeviceIndex": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ConnectionId": {},
                    "UnderlayIpAddress": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5AA5GUBO4SMWRCZPIQE7BJZT2X7EOFCBTKDOOUIPOSDYKRDKGMYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NUHK62XHXPXX6F3JYCO6DOTEDGWUIL7ZECEQYLTROEKUKDYEWWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W7UTT4E773ZGVLVU7PR4N666FNI7525LPJKT6S4QIMHJYHWZGQRQ/main.js",
                "https://de4t0ua29zrr9.cloudfront.net/79444b72656e06ef58b367d2513483e28053bfed/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K52OUW7ZBC6BLW7YBIAE2BVAORO6VIRPJJTCXEI3KWFL7VPBW3XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMGTKV4FAMJELXFRP5GPVXMDRKSUHN2CMMNTTGMA5IY6ZO4BGBVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFRALABNSON33QYMTKNWN7TNPUVO6RDQJQJSAF77QOH7OBXZO2BA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJXGUUA6YTQD63QYHP4VLAKPXYE342JGLYKSJOAS2ZPSPRMW3HDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AADQGISS7GR6HSC3JKGL2J6NCGQ322R5CX2FK3QGNI2EER43UDEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACLFEPC6XYYWQZ376DZL6ZDXZHW3FG4HMBTAD4SBX435YM5FX33Q/main.js",
                "https://de4t0ua29zrr9.cloudfront.net/86debb2746af9752b887a1e296ba2e1ee9d836e0/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDJGZKAZJJSBNU6TMMOJWHEEKA7TILHB73TLPB4LAZ3Q57QXV5MA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O3QNK3TIF3UYUQZQUJT6FWRTU3UKRGVG2NIDW676PBBJUJ5RB4AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://de4t0ua29zrr9.cloudfront.net/48c5e3fc5179c988c577942474f6e7c494f3bad5/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HZIXRDBS6R76XIK3HLTIE4GF47D2CGSKKEA2RCWDROUGABXGTNWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JEMF46TW767GOZDNDMNISR55P7COCMCEOKP2I5OMTD4LAUGCMCYQ/main.js"
            ]
        },
        "TagResource": {
            "http": {
                "requestUri": "/tags/{ResourceArn}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn",
                    "Tags"
                ],
                "members": {
                    "ResourceArn": {
                        "location": "uri",
                        "locationName": "ResourceArn"
                    },
                    "Tags": {
                        "shape": "Sz"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDJGZKAZJJSBNU6TMMOJWHEEKA7TILHB73TLPB4LAZ3Q57QXV5MA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66AWVQKGA75UBJPOM4QK5WN2NKN752CS5ESGPSP7AIILAUQ7OCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K52OUW7ZBC6BLW7YBIAE2BVAORO6VIRPJJTCXEI3KWFL7VPBW3XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O3QNK3TIF3UYUQZQUJT6FWRTU3UKRGVG2NIDW676PBBJUJ5RB4AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://de4t0ua29zrr9.cloudfront.net/48c5e3fc5179c988c577942474f6e7c494f3bad5/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HZIXRDBS6R76XIK3HLTIE4GF47D2CGSKKEA2RCWDROUGABXGTNWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JEMF46TW767GOZDNDMNISR55P7COCMCEOKP2I5OMTD4LAUGCMCYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACLFEPC6XYYWQZ376DZL6ZDXZHW3FG4HMBTAD4SBX435YM5FX33Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "UntagResource": {
            "http": {
                "method": "DELETE",
                "requestUri": "/tags/{ResourceArn}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn",
                    "TagKeys"
                ],
                "members": {
                    "ResourceArn": {
                        "location": "uri",
                        "locationName": "ResourceArn"
                    },
                    "TagKeys": {
                        "location": "querystring",
                        "locationName": "tagKeys",
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDJGZKAZJJSBNU6TMMOJWHEEKA7TILHB73TLPB4LAZ3Q57QXV5MA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66AWVQKGA75UBJPOM4QK5WN2NKN752CS5ESGPSP7AIILAUQ7OCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K52OUW7ZBC6BLW7YBIAE2BVAORO6VIRPJJTCXEI3KWFL7VPBW3XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O3QNK3TIF3UYUQZQUJT6FWRTU3UKRGVG2NIDW676PBBJUJ5RB4AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://de4t0ua29zrr9.cloudfront.net/48c5e3fc5179c988c577942474f6e7c494f3bad5/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HZIXRDBS6R76XIK3HLTIE4GF47D2CGSKKEA2RCWDROUGABXGTNWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JEMF46TW767GOZDNDMNISR55P7COCMCEOKP2I5OMTD4LAUGCMCYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACLFEPC6XYYWQZ376DZL6ZDXZHW3FG4HMBTAD4SBX435YM5FX33Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "UpdateOutpost": {
            "http": {
                "method": "PATCH",
                "requestUri": "/outposts/{OutpostId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "OutpostId"
                ],
                "members": {
                    "OutpostId": {
                        "location": "uri",
                        "locationName": "OutpostId"
                    },
                    "Name": {},
                    "Description": {},
                    "SupportedHardwareType": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Outpost": {
                        "shape": "S14"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5AA5GUBO4SMWRCZPIQE7BJZT2X7EOFCBTKDOOUIPOSDYKRDKGMYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NUHK62XHXPXX6F3JYCO6DOTEDGWUIL7ZECEQYLTROEKUKDYEWWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W7UTT4E773ZGVLVU7PR4N666FNI7525LPJKT6S4QIMHJYHWZGQRQ/main.js",
                "https://de4t0ua29zrr9.cloudfront.net/79444b72656e06ef58b367d2513483e28053bfed/main.js",
[...]
