{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2019-12-03",
        "endpointPrefix": "outposts",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceAbbreviation": "Outposts",
        "serviceFullName": "AWS Outposts",
        "serviceId": "Outposts",
        "signatureVersion": "v4",
        "signingName": "outposts",
        "uid": "outposts-2019-12-03",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QEVFZY5KC42I4RBXGPV25OUF7ZIEBB3ZZJCGY6OQYSD6IWC5JYMA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/S5O6VNTE6TYGQQXHJOVYCAUF6MDDK43ZJG7BVLOMHZ52V4O7BHZQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/HUBGPQJIMXIQ7FV23G5QCIZHIAQRXAXRY72OHQ6XGAGCB6P3NAXA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WOSASCBQABVIODFXNHQPPMXLO6UOJWX4R4NZYZXMCYNUMKX2CKAQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/SFRZUKPC4PZSATGLLQHGRKFCSHJIQTCGOJRRDGBFJNV46REIEQXA/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/FATEQ5TZRXAKPP4HMEPZW5TU7X6HSF75JUPOT2VPH6YFYMUU7NBA/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/DDNPF52YFU6C25AKONMEQMZZYJRNHNL6YB4QLLVV3YVH2JPZW6OA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DFTMTAB6NT6SMQDH7RQYSFVHIZIU6XSLR3IQNBZGOCN3VWE6CZWA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/MZG7P5QNAJGSTLT5PQDOKHCN6WNHVW7GNBPZJ7JCZBFP6GOYZ64A/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/HWHWMIRQOEPNX5N4L3FEYK3DCQNYN65RRM7H52K2OXW4ZTXO7HYQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QDSJAMY3FYF3AKUUZVPP3QN3YQ3P3FRUBQA7RIXIVKDV4XXSXUYA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/323GVFOZ2GM64XEICAQ7VZNQKXC7PX7FX3WXEENKAVPV4IP3YCCQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7HLUYWY3H3IQ4OTNA6A2X4NL2YR2USFPHGTSG5HSUIYIEHDTETZA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/TYHO3P56CMWNX67MVLY4LWTPEJY777QT3SLHN6SIK7DDVOIVXO6A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/D3RCGSTMKYDEMUAF5RLPRWMK2B6BATAQHGWGWYHDWLRSNTIQSHOQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/LRUSRTUJYRI4AR4NGRCKB24KLLD4X7IWIOXXKAYBSWVGAOLWIVXQ/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/TTRGZ26EWKGXKJLVKGZHZASQ5CEIHYGHEG4EKZ6JAVYG3VLK5ZWQ/main.js"
        ]
    },
    "operations": {
        "CancelOrder": {
            "http": {
                "requestUri": "/orders/{OrderId}/cancel"
            },
            "input": {
                "type": "structure",
                "required": [
                    "OrderId"
                ],
                "members": {
                    "OrderId": {
                        "location": "uri",
                        "locationName": "OrderId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/UXHTLYYCVVV7IR2BYWFWJZXPS5IB74DWUFGDXZBJGLSDVG5MGLPQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/F2HS6CTJIZ2CEKDURJ3O6FDMF2H4S4BT7VFLM5ZJZTOPLMO3QGCQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X6ZLWRAC7TT3U56LKLTZFE5MNE7BBLFDYUJOW3ZIBGX2RICSQ7NQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/S5O6VNTE6TYGQQXHJOVYCAUF6MDDK43ZJG7BVLOMHZ52V4O7BHZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HUBGPQJIMXIQ7FV23G5QCIZHIAQRXAXRY72OHQ6XGAGCB6P3NAXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOSASCBQABVIODFXNHQPPMXLO6UOJWX4R4NZYZXMCYNUMKX2CKAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SFRZUKPC4PZSATGLLQHGRKFCSHJIQTCGOJRRDGBFJNV46REIEQXA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FATEQ5TZRXAKPP4HMEPZW5TU7X6HSF75JUPOT2VPH6YFYMUU7NBA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DDNPF52YFU6C25AKONMEQMZZYJRNHNL6YB4QLLVV3YVH2JPZW6OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFTMTAB6NT6SMQDH7RQYSFVHIZIU6XSLR3IQNBZGOCN3VWE6CZWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEVFZY5KC42I4RBXGPV25OUF7ZIEBB3ZZJCGY6OQYSD6IWC5JYMA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MZG7P5QNAJGSTLT5PQDOKHCN6WNHVW7GNBPZJ7JCZBFP6GOYZ64A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HWHWMIRQOEPNX5N4L3FEYK3DCQNYN65RRM7H52K2OXW4ZTXO7HYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDSJAMY3FYF3AKUUZVPP3QN3YQ3P3FRUBQA7RIXIVKDV4XXSXUYA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/323GVFOZ2GM64XEICAQ7VZNQKXC7PX7FX3WXEENKAVPV4IP3YCCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HLUYWY3H3IQ4OTNA6A2X4NL2YR2USFPHGTSG5HSUIYIEHDTETZA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TYHO3P56CMWNX67MVLY4LWTPEJY777QT3SLHN6SIK7DDVOIVXO6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3RCGSTMKYDEMUAF5RLPRWMK2B6BATAQHGWGWYHDWLRSNTIQSHOQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LRUSRTUJYRI4AR4NGRCKB24KLLD4X7IWIOXXKAYBSWVGAOLWIVXQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TTRGZ26EWKGXKJLVKGZHZASQ5CEIHYGHEG4EKZ6JAVYG3VLK5ZWQ/main.js"
            ]
        },
        "CreateOrder": {
            "http": {
                "requestUri": "/orders"
            },
            "input": {
                "type": "structure",
                "required": [
                    "OutpostIdentifier",
                    "LineItems",
                    "PaymentOption"
                ],
                "members": {
                    "OutpostIdentifier": {},
                    "LineItems": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "CatalogItemId": {},
                                "Quantity": {
                                    "type": "integer"
                                }
                            }
                        }
                    },
                    "PaymentOption": {},
                    "PaymentTerm": {},
                    "ClientToken": {
                        "idempotencyToken": true,
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Order": {
                        "shape": "Sd"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/S5O6VNTE6TYGQQXHJOVYCAUF6MDDK43ZJG7BVLOMHZ52V4O7BHZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEVFZY5KC42I4RBXGPV25OUF7ZIEBB3ZZJCGY6OQYSD6IWC5JYMA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HUBGPQJIMXIQ7FV23G5QCIZHIAQRXAXRY72OHQ6XGAGCB6P3NAXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOSASCBQABVIODFXNHQPPMXLO6UOJWX4R4NZYZXMCYNUMKX2CKAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SFRZUKPC4PZSATGLLQHGRKFCSHJIQTCGOJRRDGBFJNV46REIEQXA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FATEQ5TZRXAKPP4HMEPZW5TU7X6HSF75JUPOT2VPH6YFYMUU7NBA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DDNPF52YFU6C25AKONMEQMZZYJRNHNL6YB4QLLVV3YVH2JPZW6OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFTMTAB6NT6SMQDH7RQYSFVHIZIU6XSLR3IQNBZGOCN3VWE6CZWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MZG7P5QNAJGSTLT5PQDOKHCN6WNHVW7GNBPZJ7JCZBFP6GOYZ64A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HWHWMIRQOEPNX5N4L3FEYK3DCQNYN65RRM7H52K2OXW4ZTXO7HYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDSJAMY3FYF3AKUUZVPP3QN3YQ3P3FRUBQA7RIXIVKDV4XXSXUYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/323GVFOZ2GM64XEICAQ7VZNQKXC7PX7FX3WXEENKAVPV4IP3YCCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HLUYWY3H3IQ4OTNA6A2X4NL2YR2USFPHGTSG5HSUIYIEHDTETZA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TYHO3P56CMWNX67MVLY4LWTPEJY777QT3SLHN6SIK7DDVOIVXO6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3RCGSTMKYDEMUAF5RLPRWMK2B6BATAQHGWGWYHDWLRSNTIQSHOQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LRUSRTUJYRI4AR4NGRCKB24KLLD4X7IWIOXXKAYBSWVGAOLWIVXQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TTRGZ26EWKGXKJLVKGZHZASQ5CEIHYGHEG4EKZ6JAVYG3VLK5ZWQ/main.js"
            ]
        },
        "CreateOutpost": {
            "http": {
                "requestUri": "/outposts"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "SiteId"
                ],
                "members": {
                    "Name": {},
                    "Description": {},
                    "SiteId": {},
                    "AvailabilityZone": {},
                    "AvailabilityZoneId": {},
                    "Tags": {
                        "shape": "Sz"
                    },
                    "SupportedHardwareType": {},
                    "LocationId": {
                        "internalonly": true
                    },
                    "LocationType": {
                        "internalonly": true,
                        "type": "string"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Outpost": {
                        "shape": "S14"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/S5O6VNTE6TYGQQXHJOVYCAUF6MDDK43ZJG7BVLOMHZ52V4O7BHZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HUBGPQJIMXIQ7FV23G5QCIZHIAQRXAXRY72OHQ6XGAGCB6P3NAXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOSASCBQABVIODFXNHQPPMXLO6UOJWX4R4NZYZXMCYNUMKX2CKAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SFRZUKPC4PZSATGLLQHGRKFCSHJIQTCGOJRRDGBFJNV46REIEQXA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FATEQ5TZRXAKPP4HMEPZW5TU7X6HSF75JUPOT2VPH6YFYMUU7NBA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DDNPF52YFU6C25AKONMEQMZZYJRNHNL6YB4QLLVV3YVH2JPZW6OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFTMTAB6NT6SMQDH7RQYSFVHIZIU6XSLR3IQNBZGOCN3VWE6CZWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MZG7P5QNAJGSTLT5PQDOKHCN6WNHVW7GNBPZJ7JCZBFP6GOYZ64A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HWHWMIRQOEPNX5N4L3FEYK3DCQNYN65RRM7H52K2OXW4ZTXO7HYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDSJAMY3FYF3AKUUZVPP3QN3YQ3P3FRUBQA7RIXIVKDV4XXSXUYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/323GVFOZ2GM64XEICAQ7VZNQKXC7PX7FX3WXEENKAVPV4IP3YCCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HLUYWY3H3IQ4OTNA6A2X4NL2YR2USFPHGTSG5HSUIYIEHDTETZA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TYHO3P56CMWNX67MVLY4LWTPEJY777QT3SLHN6SIK7DDVOIVXO6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3RCGSTMKYDEMUAF5RLPRWMK2B6BATAQHGWGWYHDWLRSNTIQSHOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEVFZY5KC42I4RBXGPV25OUF7ZIEBB3ZZJCGY6OQYSD6IWC5JYMA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LRUSRTUJYRI4AR4NGRCKB24KLLD4X7IWIOXXKAYBSWVGAOLWIVXQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TTRGZ26EWKGXKJLVKGZHZASQ5CEIHYGHEG4EKZ6JAVYG3VLK5ZWQ/main.js"
            ]
        },
        "CreateSite": {
            "http": {
                "requestUri": "/sites"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {},
                    "Description": {},
                    "Notes": {},
                    "Tags": {
                        "shape": "Sz"
                    },
                    "OperatingAddress": {
                        "shape": "S1e"
                    },
                    "ShippingAddress": {
                        "shape": "S1e"
                    },
                    "RackPhysicalProperties": {
                        "shape": "S1q"
                    },
                    "PowerDrawKva": {
                        "internalonly": true
                    },
                    "PowerPhase": {
                        "internalonly": true
                    },
                    "PowerConnector": {
                        "internalonly": true
                    },
                    "RedundantPower": {
                        "internalonly": true
                    },
                    "UpstreamBreaker": {
                        "internalonly": true
                    },
                    "Conditions": {
                        "internalonly": true
                    },
                    "PathToPosition": {
                        "internalonly": true
                    },
                    "SeismicBolting": {
                        "internalonly": true
                    },
                    "MaxWeightLbs": {
                        "internalonly": true
                    },
                    "NetworkingAllowed": {
                        "internalonly": true
                    },
                    "UplinkGbps": {
                        "internalonly": true
                    },
                    "UplinkCount": {
                        "internalonly": true
                    },
                    "Fiber": {
                        "internalonly": true
                    },
                    "OpticalStandard": {
                        "internalonly": true
                    },
                    "RedundantNetworking": {
                        "internalonly": true
                    },
                    "PowerFeedDrop": {
                        "internalonly": true
                    },
                    "Address": {
                        "shape": "S29",
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Site": {
                        "shape": "S21"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/UXHTLYYCVVV7IR2BYWFWJZXPS5IB74DWUFGDXZBJGLSDVG5MGLPQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/F2HS6CTJIZ2CEKDURJ3O6FDMF2H4S4BT7VFLM5ZJZTOPLMO3QGCQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X6ZLWRAC7TT3U56LKLTZFE5MNE7BBLFDYUJOW3ZIBGX2RICSQ7NQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/S5O6VNTE6TYGQQXHJOVYCAUF6MDDK43ZJG7BVLOMHZ52V4O7BHZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HUBGPQJIMXIQ7FV23G5QCIZHIAQRXAXRY72OHQ6XGAGCB6P3NAXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOSASCBQABVIODFXNHQPPMXLO6UOJWX4R4NZYZXMCYNUMKX2CKAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SFRZUKPC4PZSATGLLQHGRKFCSHJIQTCGOJRRDGBFJNV46REIEQXA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FATEQ5TZRXAKPP4HMEPZW5TU7X6HSF75JUPOT2VPH6YFYMUU7NBA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DDNPF52YFU6C25AKONMEQMZZYJRNHNL6YB4QLLVV3YVH2JPZW6OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFTMTAB6NT6SMQDH7RQYSFVHIZIU6XSLR3IQNBZGOCN3VWE6CZWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEVFZY5KC42I4RBXGPV25OUF7ZIEBB3ZZJCGY6OQYSD6IWC5JYMA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MZG7P5QNAJGSTLT5PQDOKHCN6WNHVW7GNBPZJ7JCZBFP6GOYZ64A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HWHWMIRQOEPNX5N4L3FEYK3DCQNYN65RRM7H52K2OXW4ZTXO7HYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDSJAMY3FYF3AKUUZVPP3QN3YQ3P3FRUBQA7RIXIVKDV4XXSXUYA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/323GVFOZ2GM64XEICAQ7VZNQKXC7PX7FX3WXEENKAVPV4IP3YCCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HLUYWY3H3IQ4OTNA6A2X4NL2YR2USFPHGTSG5HSUIYIEHDTETZA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TYHO3P56CMWNX67MVLY4LWTPEJY777QT3SLHN6SIK7DDVOIVXO6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3RCGSTMKYDEMUAF5RLPRWMK2B6BATAQHGWGWYHDWLRSNTIQSHOQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LRUSRTUJYRI4AR4NGRCKB24KLLD4X7IWIOXXKAYBSWVGAOLWIVXQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TTRGZ26EWKGXKJLVKGZHZASQ5CEIHYGHEG4EKZ6JAVYG3VLK5ZWQ/main.js"
            ]
        },
        "DeleteOutpost": {
            "http": {
                "method": "DELETE",
                "requestUri": "/outposts/{OutpostId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "OutpostId"
                ],
                "members": {
                    "OutpostId": {
                        "location": "uri",
                        "locationName": "OutpostId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/S5O6VNTE6TYGQQXHJOVYCAUF6MDDK43ZJG7BVLOMHZ52V4O7BHZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HUBGPQJIMXIQ7FV23G5QCIZHIAQRXAXRY72OHQ6XGAGCB6P3NAXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOSASCBQABVIODFXNHQPPMXLO6UOJWX4R4NZYZXMCYNUMKX2CKAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SFRZUKPC4PZSATGLLQHGRKFCSHJIQTCGOJRRDGBFJNV46REIEQXA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FATEQ5TZRXAKPP4HMEPZW5TU7X6HSF75JUPOT2VPH6YFYMUU7NBA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DDNPF52YFU6C25AKONMEQMZZYJRNHNL6YB4QLLVV3YVH2JPZW6OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFTMTAB6NT6SMQDH7RQYSFVHIZIU6XSLR3IQNBZGOCN3VWE6CZWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MZG7P5QNAJGSTLT5PQDOKHCN6WNHVW7GNBPZJ7JCZBFP6GOYZ64A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HWHWMIRQOEPNX5N4L3FEYK3DCQNYN65RRM7H52K2OXW4ZTXO7HYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDSJAMY3FYF3AKUUZVPP3QN3YQ3P3FRUBQA7RIXIVKDV4XXSXUYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/323GVFOZ2GM64XEICAQ7VZNQKXC7PX7FX3WXEENKAVPV4IP3YCCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HLUYWY3H3IQ4OTNA6A2X4NL2YR2USFPHGTSG5HSUIYIEHDTETZA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TYHO3P56CMWNX67MVLY4LWTPEJY777QT3SLHN6SIK7DDVOIVXO6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3RCGSTMKYDEMUAF5RLPRWMK2B6BATAQHGWGWYHDWLRSNTIQSHOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEVFZY5KC42I4RBXGPV25OUF7ZIEBB3ZZJCGY6OQYSD6IWC5JYMA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LRUSRTUJYRI4AR4NGRCKB24KLLD4X7IWIOXXKAYBSWVGAOLWIVXQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TTRGZ26EWKGXKJLVKGZHZASQ5CEIHYGHEG4EKZ6JAVYG3VLK5ZWQ/main.js"
            ]
        },
        "DeleteSite": {
            "http": {
                "method": "DELETE",
                "requestUri": "/sites/{SiteId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "SiteId"
                ],
                "members": {
                    "SiteId": {
                        "location": "uri",
                        "locationName": "SiteId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/S5O6VNTE6TYGQQXHJOVYCAUF6MDDK43ZJG7BVLOMHZ52V4O7BHZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HUBGPQJIMXIQ7FV23G5QCIZHIAQRXAXRY72OHQ6XGAGCB6P3NAXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOSASCBQABVIODFXNHQPPMXLO6UOJWX4R4NZYZXMCYNUMKX2CKAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SFRZUKPC4PZSATGLLQHGRKFCSHJIQTCGOJRRDGBFJNV46REIEQXA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FATEQ5TZRXAKPP4HMEPZW5TU7X6HSF75JUPOT2VPH6YFYMUU7NBA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DDNPF52YFU6C25AKONMEQMZZYJRNHNL6YB4QLLVV3YVH2JPZW6OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFTMTAB6NT6SMQDH7RQYSFVHIZIU6XSLR3IQNBZGOCN3VWE6CZWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MZG7P5QNAJGSTLT5PQDOKHCN6WNHVW7GNBPZJ7JCZBFP6GOYZ64A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HWHWMIRQOEPNX5N4L3FEYK3DCQNYN65RRM7H52K2OXW4ZTXO7HYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDSJAMY3FYF3AKUUZVPP3QN3YQ3P3FRUBQA7RIXIVKDV4XXSXUYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/323GVFOZ2GM64XEICAQ7VZNQKXC7PX7FX3WXEENKAVPV4IP3YCCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HLUYWY3H3IQ4OTNA6A2X4NL2YR2USFPHGTSG5HSUIYIEHDTETZA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TYHO3P56CMWNX67MVLY4LWTPEJY777QT3SLHN6SIK7DDVOIVXO6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3RCGSTMKYDEMUAF5RLPRWMK2B6BATAQHGWGWYHDWLRSNTIQSHOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEVFZY5KC42I4RBXGPV25OUF7ZIEBB3ZZJCGY6OQYSD6IWC5JYMA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LRUSRTUJYRI4AR4NGRCKB24KLLD4X7IWIOXXKAYBSWVGAOLWIVXQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TTRGZ26EWKGXKJLVKGZHZASQ5CEIHYGHEG4EKZ6JAVYG3VLK5ZWQ/main.js"
            ]
        },
        "GetCatalogItem": {
            "http": {
                "method": "GET",
                "requestUri": "/catalog/item/{CatalogItemId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "CatalogItemId"
                ],
                "members": {
                    "CatalogItemId": {
                        "location": "uri",
                        "locationName": "CatalogItemId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "CatalogItem": {
                        "shape": "S29"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/UXHTLYYCVVV7IR2BYWFWJZXPS5IB74DWUFGDXZBJGLSDVG5MGLPQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/F2HS6CTJIZ2CEKDURJ3O6FDMF2H4S4BT7VFLM5ZJZTOPLMO3QGCQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X6ZLWRAC7TT3U56LKLTZFE5MNE7BBLFDYUJOW3ZIBGX2RICSQ7NQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/S5O6VNTE6TYGQQXHJOVYCAUF6MDDK43ZJG7BVLOMHZ52V4O7BHZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HUBGPQJIMXIQ7FV23G5QCIZHIAQRXAXRY72OHQ6XGAGCB6P3NAXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOSASCBQABVIODFXNHQPPMXLO6UOJWX4R4NZYZXMCYNUMKX2CKAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SFRZUKPC4PZSATGLLQHGRKFCSHJIQTCGOJRRDGBFJNV46REIEQXA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FATEQ5TZRXAKPP4HMEPZW5TU7X6HSF75JUPOT2VPH6YFYMUU7NBA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DDNPF52YFU6C25AKONMEQMZZYJRNHNL6YB4QLLVV3YVH2JPZW6OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFTMTAB6NT6SMQDH7RQYSFVHIZIU6XSLR3IQNBZGOCN3VWE6CZWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEVFZY5KC42I4RBXGPV25OUF7ZIEBB3ZZJCGY6OQYSD6IWC5JYMA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MZG7P5QNAJGSTLT5PQDOKHCN6WNHVW7GNBPZJ7JCZBFP6GOYZ64A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HWHWMIRQOEPNX5N4L3FEYK3DCQNYN65RRM7H52K2OXW4ZTXO7HYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDSJAMY3FYF3AKUUZVPP3QN3YQ3P3FRUBQA7RIXIVKDV4XXSXUYA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/323GVFOZ2GM64XEICAQ7VZNQKXC7PX7FX3WXEENKAVPV4IP3YCCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HLUYWY3H3IQ4OTNA6A2X4NL2YR2USFPHGTSG5HSUIYIEHDTETZA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TYHO3P56CMWNX67MVLY4LWTPEJY777QT3SLHN6SIK7DDVOIVXO6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3RCGSTMKYDEMUAF5RLPRWMK2B6BATAQHGWGWYHDWLRSNTIQSHOQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LRUSRTUJYRI4AR4NGRCKB24KLLD4X7IWIOXXKAYBSWVGAOLWIVXQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TTRGZ26EWKGXKJLVKGZHZASQ5CEIHYGHEG4EKZ6JAVYG3VLK5ZWQ/main.js"
            ]
        },
        "GetConnection": {
            "http": {
                "method": "GET",
                "requestUri": "/connections/{ConnectionId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ConnectionId"
                ],
                "members": {
                    "ConnectionId": {
                        "location": "uri",
                        "locationName": "ConnectionId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ConnectionId": {},
                    "ConnectionDetails": {
                        "type": "structure",
                        "members": {
                            "ClientPublicKey": {},
                            "ServerPublicKey": {},
                            "ServerEndpoint": {},
                            "ClientTunnelAddress": {},
                            "ServerTunnelAddress": {},
                            "AllowedIps": {
                                "type": "list",
                                "member": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/UXHTLYYCVVV7IR2BYWFWJZXPS5IB74DWUFGDXZBJGLSDVG5MGLPQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/F2HS6CTJIZ2CEKDURJ3O6FDMF2H4S4BT7VFLM5ZJZTOPLMO3QGCQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X6ZLWRAC7TT3U56LKLTZFE5MNE7BBLFDYUJOW3ZIBGX2RICSQ7NQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/S5O6VNTE6TYGQQXHJOVYCAUF6MDDK43ZJG7BVLOMHZ52V4O7BHZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HUBGPQJIMXIQ7FV23G5QCIZHIAQRXAXRY72OHQ6XGAGCB6P3NAXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOSASCBQABVIODFXNHQPPMXLO6UOJWX4R4NZYZXMCYNUMKX2CKAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SFRZUKPC4PZSATGLLQHGRKFCSHJIQTCGOJRRDGBFJNV46REIEQXA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FATEQ5TZRXAKPP4HMEPZW5TU7X6HSF75JUPOT2VPH6YFYMUU7NBA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DDNPF52YFU6C25AKONMEQMZZYJRNHNL6YB4QLLVV3YVH2JPZW6OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFTMTAB6NT6SMQDH7RQYSFVHIZIU6XSLR3IQNBZGOCN3VWE6CZWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEVFZY5KC42I4RBXGPV25OUF7ZIEBB3ZZJCGY6OQYSD6IWC5JYMA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MZG7P5QNAJGSTLT5PQDOKHCN6WNHVW7GNBPZJ7JCZBFP6GOYZ64A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HWHWMIRQOEPNX5N4L3FEYK3DCQNYN65RRM7H52K2OXW4ZTXO7HYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDSJAMY3FYF3AKUUZVPP3QN3YQ3P3FRUBQA7RIXIVKDV4XXSXUYA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/323GVFOZ2GM64XEICAQ7VZNQKXC7PX7FX3WXEENKAVPV4IP3YCCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HLUYWY3H3IQ4OTNA6A2X4NL2YR2USFPHGTSG5HSUIYIEHDTETZA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TYHO3P56CMWNX67MVLY4LWTPEJY777QT3SLHN6SIK7DDVOIVXO6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3RCGSTMKYDEMUAF5RLPRWMK2B6BATAQHGWGWYHDWLRSNTIQSHOQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LRUSRTUJYRI4AR4NGRCKB24KLLD4X7IWIOXXKAYBSWVGAOLWIVXQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TTRGZ26EWKGXKJLVKGZHZASQ5CEIHYGHEG4EKZ6JAVYG3VLK5ZWQ/main.js"
            ]
        },
        "GetOrder": {
            "http": {
                "method": "GET",
                "requestUri": "/orders/{OrderId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "OrderId"
                ],
                "members": {
                    "OrderId": {
                        "location": "uri",
                        "locationName": "OrderId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Order": {
                        "shape": "Sd"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/UXHTLYYCVVV7IR2BYWFWJZXPS5IB74DWUFGDXZBJGLSDVG5MGLPQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/F2HS6CTJIZ2CEKDURJ3O6FDMF2H4S4BT7VFLM5ZJZTOPLMO3QGCQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X6ZLWRAC7TT3U56LKLTZFE5MNE7BBLFDYUJOW3ZIBGX2RICSQ7NQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/S5O6VNTE6TYGQQXHJOVYCAUF6MDDK43ZJG7BVLOMHZ52V4O7BHZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HUBGPQJIMXIQ7FV23G5QCIZHIAQRXAXRY72OHQ6XGAGCB6P3NAXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOSASCBQABVIODFXNHQPPMXLO6UOJWX4R4NZYZXMCYNUMKX2CKAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SFRZUKPC4PZSATGLLQHGRKFCSHJIQTCGOJRRDGBFJNV46REIEQXA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FATEQ5TZRXAKPP4HMEPZW5TU7X6HSF75JUPOT2VPH6YFYMUU7NBA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DDNPF52YFU6C25AKONMEQMZZYJRNHNL6YB4QLLVV3YVH2JPZW6OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFTMTAB6NT6SMQDH7RQYSFVHIZIU6XSLR3IQNBZGOCN3VWE6CZWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEVFZY5KC42I4RBXGPV25OUF7ZIEBB3ZZJCGY6OQYSD6IWC5JYMA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MZG7P5QNAJGSTLT5PQDOKHCN6WNHVW7GNBPZJ7JCZBFP6GOYZ64A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HWHWMIRQOEPNX5N4L3FEYK3DCQNYN65RRM7H52K2OXW4ZTXO7HYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDSJAMY3FYF3AKUUZVPP3QN3YQ3P3FRUBQA7RIXIVKDV4XXSXUYA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/323GVFOZ2GM64XEICAQ7VZNQKXC7PX7FX3WXEENKAVPV4IP3YCCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HLUYWY3H3IQ4OTNA6A2X4NL2YR2USFPHGTSG5HSUIYIEHDTETZA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TYHO3P56CMWNX67MVLY4LWTPEJY777QT3SLHN6SIK7DDVOIVXO6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3RCGSTMKYDEMUAF5RLPRWMK2B6BATAQHGWGWYHDWLRSNTIQSHOQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LRUSRTUJYRI4AR4NGRCKB24KLLD4X7IWIOXXKAYBSWVGAOLWIVXQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TTRGZ26EWKGXKJLVKGZHZASQ5CEIHYGHEG4EKZ6JAVYG3VLK5ZWQ/main.js"
            ]
        },
        "GetOutpost": {
            "http": {
                "method": "GET",
                "requestUri": "/outposts/{OutpostId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "OutpostId"
                ],
                "members": {
                    "OutpostId": {
                        "location": "uri",
                        "locationName": "OutpostId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Outpost": {
                        "shape": "S14"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/S5O6VNTE6TYGQQXHJOVYCAUF6MDDK43ZJG7BVLOMHZ52V4O7BHZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HUBGPQJIMXIQ7FV23G5QCIZHIAQRXAXRY72OHQ6XGAGCB6P3NAXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOSASCBQABVIODFXNHQPPMXLO6UOJWX4R4NZYZXMCYNUMKX2CKAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SFRZUKPC4PZSATGLLQHGRKFCSHJIQTCGOJRRDGBFJNV46REIEQXA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FATEQ5TZRXAKPP4HMEPZW5TU7X6HSF75JUPOT2VPH6YFYMUU7NBA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DDNPF52YFU6C25AKONMEQMZZYJRNHNL6YB4QLLVV3YVH2JPZW6OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFTMTAB6NT6SMQDH7RQYSFVHIZIU6XSLR3IQNBZGOCN3VWE6CZWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MZG7P5QNAJGSTLT5PQDOKHCN6WNHVW7GNBPZJ7JCZBFP6GOYZ64A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HWHWMIRQOEPNX5N4L3FEYK3DCQNYN65RRM7H52K2OXW4ZTXO7HYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDSJAMY3FYF3AKUUZVPP3QN3YQ3P3FRUBQA7RIXIVKDV4XXSXUYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/323GVFOZ2GM64XEICAQ7VZNQKXC7PX7FX3WXEENKAVPV4IP3YCCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HLUYWY3H3IQ4OTNA6A2X4NL2YR2USFPHGTSG5HSUIYIEHDTETZA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TYHO3P56CMWNX67MVLY4LWTPEJY777QT3SLHN6SIK7DDVOIVXO6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3RCGSTMKYDEMUAF5RLPRWMK2B6BATAQHGWGWYHDWLRSNTIQSHOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEVFZY5KC42I4RBXGPV25OUF7ZIEBB3ZZJCGY6OQYSD6IWC5JYMA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LRUSRTUJYRI4AR4NGRCKB24KLLD4X7IWIOXXKAYBSWVGAOLWIVXQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TTRGZ26EWKGXKJLVKGZHZASQ5CEIHYGHEG4EKZ6JAVYG3VLK5ZWQ/main.js"
            ]
        },
        "GetOutpostInstanceTypes": {
            "http": {
                "method": "GET",
                "requestUri": "/outposts/{OutpostId}/instanceTypes"
            },
            "input": {
                "type": "structure",
                "required": [
                    "OutpostId"
                ],
                "members": {
                    "OutpostId": {
                        "location": "uri",
                        "locationName": "OutpostId"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "NextToken"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "MaxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "InstanceTypes": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "InstanceType": {}
                            }
                        }
                    },
                    "NextToken": {},
                    "OutpostId": {},
                    "OutpostArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/S5O6VNTE6TYGQQXHJOVYCAUF6MDDK43ZJG7BVLOMHZ52V4O7BHZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HUBGPQJIMXIQ7FV23G5QCIZHIAQRXAXRY72OHQ6XGAGCB6P3NAXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOSASCBQABVIODFXNHQPPMXLO6UOJWX4R4NZYZXMCYNUMKX2CKAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SFRZUKPC4PZSATGLLQHGRKFCSHJIQTCGOJRRDGBFJNV46REIEQXA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FATEQ5TZRXAKPP4HMEPZW5TU7X6HSF75JUPOT2VPH6YFYMUU7NBA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DDNPF52YFU6C25AKONMEQMZZYJRNHNL6YB4QLLVV3YVH2JPZW6OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFTMTAB6NT6SMQDH7RQYSFVHIZIU6XSLR3IQNBZGOCN3VWE6CZWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MZG7P5QNAJGSTLT5PQDOKHCN6WNHVW7GNBPZJ7JCZBFP6GOYZ64A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HWHWMIRQOEPNX5N4L3FEYK3DCQNYN65RRM7H52K2OXW4ZTXO7HYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDSJAMY3FYF3AKUUZVPP3QN3YQ3P3FRUBQA7RIXIVKDV4XXSXUYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/323GVFOZ2GM64XEICAQ7VZNQKXC7PX7FX3WXEENKAVPV4IP3YCCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HLUYWY3H3IQ4OTNA6A2X4NL2YR2USFPHGTSG5HSUIYIEHDTETZA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TYHO3P56CMWNX67MVLY4LWTPEJY777QT3SLHN6SIK7DDVOIVXO6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3RCGSTMKYDEMUAF5RLPRWMK2B6BATAQHGWGWYHDWLRSNTIQSHOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEVFZY5KC42I4RBXGPV25OUF7ZIEBB3ZZJCGY6OQYSD6IWC5JYMA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LRUSRTUJYRI4AR4NGRCKB24KLLD4X7IWIOXXKAYBSWVGAOLWIVXQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TTRGZ26EWKGXKJLVKGZHZASQ5CEIHYGHEG4EKZ6JAVYG3VLK5ZWQ/main.js"
            ]
        },
        "GetSite": {
            "http": {
                "method": "GET",
                "requestUri": "/sites/{SiteId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "SiteId"
                ],
                "members": {
                    "SiteId": {
                        "location": "uri",
                        "locationName": "SiteId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Site": {
                        "shape": "S21"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/UXHTLYYCVVV7IR2BYWFWJZXPS5IB74DWUFGDXZBJGLSDVG5MGLPQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/F2HS6CTJIZ2CEKDURJ3O6FDMF2H4S4BT7VFLM5ZJZTOPLMO3QGCQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X6ZLWRAC7TT3U56LKLTZFE5MNE7BBLFDYUJOW3ZIBGX2RICSQ7NQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/S5O6VNTE6TYGQQXHJOVYCAUF6MDDK43ZJG7BVLOMHZ52V4O7BHZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HUBGPQJIMXIQ7FV23G5QCIZHIAQRXAXRY72OHQ6XGAGCB6P3NAXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOSASCBQABVIODFXNHQPPMXLO6UOJWX4R4NZYZXMCYNUMKX2CKAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SFRZUKPC4PZSATGLLQHGRKFCSHJIQTCGOJRRDGBFJNV46REIEQXA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FATEQ5TZRXAKPP4HMEPZW5TU7X6HSF75JUPOT2VPH6YFYMUU7NBA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DDNPF52YFU6C25AKONMEQMZZYJRNHNL6YB4QLLVV3YVH2JPZW6OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFTMTAB6NT6SMQDH7RQYSFVHIZIU6XSLR3IQNBZGOCN3VWE6CZWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEVFZY5KC42I4RBXGPV25OUF7ZIEBB3ZZJCGY6OQYSD6IWC5JYMA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MZG7P5QNAJGSTLT5PQDOKHCN6WNHVW7GNBPZJ7JCZBFP6GOYZ64A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HWHWMIRQOEPNX5N4L3FEYK3DCQNYN65RRM7H52K2OXW4ZTXO7HYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDSJAMY3FYF3AKUUZVPP3QN3YQ3P3FRUBQA7RIXIVKDV4XXSXUYA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/323GVFOZ2GM64XEICAQ7VZNQKXC7PX7FX3WXEENKAVPV4IP3YCCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HLUYWY3H3IQ4OTNA6A2X4NL2YR2USFPHGTSG5HSUIYIEHDTETZA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TYHO3P56CMWNX67MVLY4LWTPEJY777QT3SLHN6SIK7DDVOIVXO6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3RCGSTMKYDEMUAF5RLPRWMK2B6BATAQHGWGWYHDWLRSNTIQSHOQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LRUSRTUJYRI4AR4NGRCKB24KLLD4X7IWIOXXKAYBSWVGAOLWIVXQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TTRGZ26EWKGXKJLVKGZHZASQ5CEIHYGHEG4EKZ6JAVYG3VLK5ZWQ/main.js"
            ]
        },
        "GetSiteAddress": {
            "http": {
                "method": "GET",
                "requestUri": "/sites/{SiteId}/address"
            },
            "input": {
                "type": "structure",
                "required": [
                    "SiteId",
                    "AddressType"
                ],
                "members": {
                    "SiteId": {
                        "location": "uri",
                        "locationName": "SiteId"
                    },
                    "AddressType": {
                        "location": "querystring",
                        "locationName": "AddressType"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "SiteId": {},
                    "AddressType": {},
                    "Address": {
                        "shape": "S1e"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/UXHTLYYCVVV7IR2BYWFWJZXPS5IB74DWUFGDXZBJGLSDVG5MGLPQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/F2HS6CTJIZ2CEKDURJ3O6FDMF2H4S4BT7VFLM5ZJZTOPLMO3QGCQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X6ZLWRAC7TT3U56LKLTZFE5MNE7BBLFDYUJOW3ZIBGX2RICSQ7NQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/S5O6VNTE6TYGQQXHJOVYCAUF6MDDK43ZJG7BVLOMHZ52V4O7BHZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HUBGPQJIMXIQ7FV23G5QCIZHIAQRXAXRY72OHQ6XGAGCB6P3NAXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOSASCBQABVIODFXNHQPPMXLO6UOJWX4R4NZYZXMCYNUMKX2CKAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SFRZUKPC4PZSATGLLQHGRKFCSHJIQTCGOJRRDGBFJNV46REIEQXA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FATEQ5TZRXAKPP4HMEPZW5TU7X6HSF75JUPOT2VPH6YFYMUU7NBA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DDNPF52YFU6C25AKONMEQMZZYJRNHNL6YB4QLLVV3YVH2JPZW6OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFTMTAB6NT6SMQDH7RQYSFVHIZIU6XSLR3IQNBZGOCN3VWE6CZWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEVFZY5KC42I4RBXGPV25OUF7ZIEBB3ZZJCGY6OQYSD6IWC5JYMA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MZG7P5QNAJGSTLT5PQDOKHCN6WNHVW7GNBPZJ7JCZBFP6GOYZ64A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HWHWMIRQOEPNX5N4L3FEYK3DCQNYN65RRM7H52K2OXW4ZTXO7HYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDSJAMY3FYF3AKUUZVPP3QN3YQ3P3FRUBQA7RIXIVKDV4XXSXUYA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/323GVFOZ2GM64XEICAQ7VZNQKXC7PX7FX3WXEENKAVPV4IP3YCCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HLUYWY3H3IQ4OTNA6A2X4NL2YR2USFPHGTSG5HSUIYIEHDTETZA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TYHO3P56CMWNX67MVLY4LWTPEJY777QT3SLHN6SIK7DDVOIVXO6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3RCGSTMKYDEMUAF5RLPRWMK2B6BATAQHGWGWYHDWLRSNTIQSHOQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LRUSRTUJYRI4AR4NGRCKB24KLLD4X7IWIOXXKAYBSWVGAOLWIVXQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TTRGZ26EWKGXKJLVKGZHZASQ5CEIHYGHEG4EKZ6JAVYG3VLK5ZWQ/main.js"
            ]
        },
        "ListAssets": {
            "http": {
                "method": "GET",
                "requestUri": "/outposts/{OutpostId}/assets"
            },
            "input": {
                "type": "structure",
                "required": [
                    "OutpostIdentifier"
                ],
                "members": {
                    "OutpostIdentifier": {
                        "location": "uri",
                        "locationName": "OutpostId"
                    },
                    "HostIdFilter": {
                        "location": "querystring",
                        "locationName": "HostIdFilter",
                        "type": "list",
                        "member": {}
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "MaxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "NextToken"
                    },
                    "StatusFilter": {
                        "location": "querystring",
                        "locationName": "StatusFilter",
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Assets": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "AssetId": {},
                                "RackId": {},
                                "AssetType": {},
                                "ComputeAttributes": {
                                    "type": "structure",
                                    "members": {
                                        "HostId": {},
                                        "State": {}
                                    }
                                },
                                "AssetLocation": {
                                    "type": "structure",
                                    "members": {
                                        "RackElevation": {
                                            "type": "float"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/UXHTLYYCVVV7IR2BYWFWJZXPS5IB74DWUFGDXZBJGLSDVG5MGLPQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/F2HS6CTJIZ2CEKDURJ3O6FDMF2H4S4BT7VFLM5ZJZTOPLMO3QGCQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X6ZLWRAC7TT3U56LKLTZFE5MNE7BBLFDYUJOW3ZIBGX2RICSQ7NQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/S5O6VNTE6TYGQQXHJOVYCAUF6MDDK43ZJG7BVLOMHZ52V4O7BHZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HUBGPQJIMXIQ7FV23G5QCIZHIAQRXAXRY72OHQ6XGAGCB6P3NAXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOSASCBQABVIODFXNHQPPMXLO6UOJWX4R4NZYZXMCYNUMKX2CKAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SFRZUKPC4PZSATGLLQHGRKFCSHJIQTCGOJRRDGBFJNV46REIEQXA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FATEQ5TZRXAKPP4HMEPZW5TU7X6HSF75JUPOT2VPH6YFYMUU7NBA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DDNPF52YFU6C25AKONMEQMZZYJRNHNL6YB4QLLVV3YVH2JPZW6OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFTMTAB6NT6SMQDH7RQYSFVHIZIU6XSLR3IQNBZGOCN3VWE6CZWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEVFZY5KC42I4RBXGPV25OUF7ZIEBB3ZZJCGY6OQYSD6IWC5JYMA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MZG7P5QNAJGSTLT5PQDOKHCN6WNHVW7GNBPZJ7JCZBFP6GOYZ64A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HWHWMIRQOEPNX5N4L3FEYK3DCQNYN65RRM7H52K2OXW4ZTXO7HYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDSJAMY3FYF3AKUUZVPP3QN3YQ3P3FRUBQA7RIXIVKDV4XXSXUYA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/323GVFOZ2GM64XEICAQ7VZNQKXC7PX7FX3WXEENKAVPV4IP3YCCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HLUYWY3H3IQ4OTNA6A2X4NL2YR2USFPHGTSG5HSUIYIEHDTETZA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TYHO3P56CMWNX67MVLY4LWTPEJY777QT3SLHN6SIK7DDVOIVXO6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3RCGSTMKYDEMUAF5RLPRWMK2B6BATAQHGWGWYHDWLRSNTIQSHOQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LRUSRTUJYRI4AR4NGRCKB24KLLD4X7IWIOXXKAYBSWVGAOLWIVXQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TTRGZ26EWKGXKJLVKGZHZASQ5CEIHYGHEG4EKZ6JAVYG3VLK5ZWQ/main.js"
            ]
        },
        "ListCatalogItems": {
            "http": {
                "method": "GET",
                "requestUri": "/catalog/items"
            },
            "input": {
                "type": "structure",
                "members": {
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "NextToken"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "MaxResults",
                        "type": "integer"
                    },
                    "ItemClassFilter": {
                        "location": "querystring",
                        "locationName": "ItemClassFilter",
                        "type": "list",
                        "member": {}
                    },
                    "SupportedStorageFilter": {
                        "shape": "S2k",
                        "location": "querystring",
                        "locationName": "SupportedStorageFilter"
                    },
                    "EC2FamilyFilter": {
                        "location": "querystring",
                        "locationName": "EC2FamilyFilter",
                        "type": "list",
                        "member": {}
                    },
                    "SupportedUplinkGiBFilter": {
                        "shape": "S3l",
                        "internalonly": true,
                        "location": "querystring",
                        "locationName": "SupportedUplinkGiBFilter"
                    },
                    "SupportedUplinkGbpsFilter": {
                        "shape": "S3n",
                        "internalonly": true,
                        "location": "querystring",
                        "locationName": "SupportedUplinkGbpsFilter"
                    },
                    "CurrentTypeFilter": {
                        "internalonly": true,
                        "location": "querystring",
                        "locationName": "CurrentTypeFilter",
                        "type": "list",
                        "member": {
                            "shape": "S3t"
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "CatalogItems": {
                        "type": "list",
                        "member": {
                            "shape": "S29"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/UXHTLYYCVVV7IR2BYWFWJZXPS5IB74DWUFGDXZBJGLSDVG5MGLPQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/F2HS6CTJIZ2CEKDURJ3O6FDMF2H4S4BT7VFLM5ZJZTOPLMO3QGCQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X6ZLWRAC7TT3U56LKLTZFE5MNE7BBLFDYUJOW3ZIBGX2RICSQ7NQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/S5O6VNTE6TYGQQXHJOVYCAUF6MDDK43ZJG7BVLOMHZ52V4O7BHZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HUBGPQJIMXIQ7FV23G5QCIZHIAQRXAXRY72OHQ6XGAGCB6P3NAXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOSASCBQABVIODFXNHQPPMXLO6UOJWX4R4NZYZXMCYNUMKX2CKAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SFRZUKPC4PZSATGLLQHGRKFCSHJIQTCGOJRRDGBFJNV46REIEQXA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FATEQ5TZRXAKPP4HMEPZW5TU7X6HSF75JUPOT2VPH6YFYMUU7NBA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DDNPF52YFU6C25AKONMEQMZZYJRNHNL6YB4QLLVV3YVH2JPZW6OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFTMTAB6NT6SMQDH7RQYSFVHIZIU6XSLR3IQNBZGOCN3VWE6CZWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEVFZY5KC42I4RBXGPV25OUF7ZIEBB3ZZJCGY6OQYSD6IWC5JYMA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MZG7P5QNAJGSTLT5PQDOKHCN6WNHVW7GNBPZJ7JCZBFP6GOYZ64A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HWHWMIRQOEPNX5N4L3FEYK3DCQNYN65RRM7H52K2OXW4ZTXO7HYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDSJAMY3FYF3AKUUZVPP3QN3YQ3P3FRUBQA7RIXIVKDV4XXSXUYA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/323GVFOZ2GM64XEICAQ7VZNQKXC7PX7FX3WXEENKAVPV4IP3YCCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HLUYWY3H3IQ4OTNA6A2X4NL2YR2USFPHGTSG5HSUIYIEHDTETZA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TYHO3P56CMWNX67MVLY4LWTPEJY777QT3SLHN6SIK7DDVOIVXO6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3RCGSTMKYDEMUAF5RLPRWMK2B6BATAQHGWGWYHDWLRSNTIQSHOQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LRUSRTUJYRI4AR4NGRCKB24KLLD4X7IWIOXXKAYBSWVGAOLWIVXQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TTRGZ26EWKGXKJLVKGZHZASQ5CEIHYGHEG4EKZ6JAVYG3VLK5ZWQ/main.js"
            ]
        },
        "ListOrders": {
            "http": {
                "method": "GET",
                "requestUri": "/list-orders"
            },
            "input": {
                "type": "structure",
                "members": {
                    "OutpostIdentifierFilter": {
                        "location": "querystring",
                        "locationName": "OutpostIdentifierFilter"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "NextToken"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "MaxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Orders": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "OutpostId": {},
                                "OrderId": {},
                                "OrderType": {},
                                "Status": {},
                                "LineItemCountsByStatus": {
                                    "type": "map",
                                    "key": {},
                                    "value": {
                                        "type": "integer"
                                    }
                                },
                                "OrderSubmissionDate": {
                                    "type": "timestamp"
                                },
                                "OrderFulfilledDate": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/UXHTLYYCVVV7IR2BYWFWJZXPS5IB74DWUFGDXZBJGLSDVG5MGLPQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/F2HS6CTJIZ2CEKDURJ3O6FDMF2H4S4BT7VFLM5ZJZTOPLMO3QGCQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X6ZLWRAC7TT3U56LKLTZFE5MNE7BBLFDYUJOW3ZIBGX2RICSQ7NQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/S5O6VNTE6TYGQQXHJOVYCAUF6MDDK43ZJG7BVLOMHZ52V4O7BHZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HUBGPQJIMXIQ7FV23G5QCIZHIAQRXAXRY72OHQ6XGAGCB6P3NAXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOSASCBQABVIODFXNHQPPMXLO6UOJWX4R4NZYZXMCYNUMKX2CKAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SFRZUKPC4PZSATGLLQHGRKFCSHJIQTCGOJRRDGBFJNV46REIEQXA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FATEQ5TZRXAKPP4HMEPZW5TU7X6HSF75JUPOT2VPH6YFYMUU7NBA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DDNPF52YFU6C25AKONMEQMZZYJRNHNL6YB4QLLVV3YVH2JPZW6OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFTMTAB6NT6SMQDH7RQYSFVHIZIU6XSLR3IQNBZGOCN3VWE6CZWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEVFZY5KC42I4RBXGPV25OUF7ZIEBB3ZZJCGY6OQYSD6IWC5JYMA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MZG7P5QNAJGSTLT5PQDOKHCN6WNHVW7GNBPZJ7JCZBFP6GOYZ64A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HWHWMIRQOEPNX5N4L3FEYK3DCQNYN65RRM7H52K2OXW4ZTXO7HYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDSJAMY3FYF3AKUUZVPP3QN3YQ3P3FRUBQA7RIXIVKDV4XXSXUYA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/323GVFOZ2GM64XEICAQ7VZNQKXC7PX7FX3WXEENKAVPV4IP3YCCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HLUYWY3H3IQ4OTNA6A2X4NL2YR2USFPHGTSG5HSUIYIEHDTETZA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TYHO3P56CMWNX67MVLY4LWTPEJY777QT3SLHN6SIK7DDVOIVXO6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3RCGSTMKYDEMUAF5RLPRWMK2B6BATAQHGWGWYHDWLRSNTIQSHOQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LRUSRTUJYRI4AR4NGRCKB24KLLD4X7IWIOXXKAYBSWVGAOLWIVXQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TTRGZ26EWKGXKJLVKGZHZASQ5CEIHYGHEG4EKZ6JAVYG3VLK5ZWQ/main.js"
            ]
        },
        "ListOutposts": {
            "http": {
                "method": "GET",
                "requestUri": "/outposts"
            },
            "input": {
                "type": "structure",
                "members": {
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "NextToken"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "MaxResults",
                        "type": "integer"
                    },
                    "LifeCycleStatusFilter": {
                        "location": "querystring",
                        "locationName": "LifeCycleStatusFilter",
                        "type": "list",
                        "member": {}
                    },
                    "AvailabilityZoneFilter": {
                        "location": "querystring",
                        "locationName": "AvailabilityZoneFilter",
                        "type": "list",
                        "member": {}
                    },
                    "AvailabilityZoneIdFilter": {
                        "location": "querystring",
                        "locationName": "AvailabilityZoneIdFilter",
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Outposts": {
                        "type": "list",
                        "member": {
                            "shape": "S14"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/S5O6VNTE6TYGQQXHJOVYCAUF6MDDK43ZJG7BVLOMHZ52V4O7BHZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HUBGPQJIMXIQ7FV23G5QCIZHIAQRXAXRY72OHQ6XGAGCB6P3NAXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOSASCBQABVIODFXNHQPPMXLO6UOJWX4R4NZYZXMCYNUMKX2CKAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SFRZUKPC4PZSATGLLQHGRKFCSHJIQTCGOJRRDGBFJNV46REIEQXA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FATEQ5TZRXAKPP4HMEPZW5TU7X6HSF75JUPOT2VPH6YFYMUU7NBA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DDNPF52YFU6C25AKONMEQMZZYJRNHNL6YB4QLLVV3YVH2JPZW6OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFTMTAB6NT6SMQDH7RQYSFVHIZIU6XSLR3IQNBZGOCN3VWE6CZWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MZG7P5QNAJGSTLT5PQDOKHCN6WNHVW7GNBPZJ7JCZBFP6GOYZ64A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HWHWMIRQOEPNX5N4L3FEYK3DCQNYN65RRM7H52K2OXW4ZTXO7HYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDSJAMY3FYF3AKUUZVPP3QN3YQ3P3FRUBQA7RIXIVKDV4XXSXUYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/323GVFOZ2GM64XEICAQ7VZNQKXC7PX7FX3WXEENKAVPV4IP3YCCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HLUYWY3H3IQ4OTNA6A2X4NL2YR2USFPHGTSG5HSUIYIEHDTETZA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TYHO3P56CMWNX67MVLY4LWTPEJY777QT3SLHN6SIK7DDVOIVXO6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3RCGSTMKYDEMUAF5RLPRWMK2B6BATAQHGWGWYHDWLRSNTIQSHOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEVFZY5KC42I4RBXGPV25OUF7ZIEBB3ZZJCGY6OQYSD6IWC5JYMA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LRUSRTUJYRI4AR4NGRCKB24KLLD4X7IWIOXXKAYBSWVGAOLWIVXQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TTRGZ26EWKGXKJLVKGZHZASQ5CEIHYGHEG4EKZ6JAVYG3VLK5ZWQ/main.js"
            ]
        },
        "ListSites": {
            "http": {
                "method": "GET",
                "requestUri": "/sites"
            },
            "input": {
                "type": "structure",
                "members": {
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "NextToken"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "MaxResults",
                        "type": "integer"
                    },
                    "OperatingAddressCountryCodeFilter": {
                        "location": "querystring",
                        "locationName": "OperatingAddressCountryCodeFilter",
                        "type": "list",
                        "member": {}
                    },
                    "OperatingAddressStateOrRegionFilter": {
                        "location": "querystring",
                        "locationName": "OperatingAddressStateOrRegionFilter",
                        "type": "list",
                        "member": {}
                    },
                    "OperatingAddressCityFilter": {
                        "location": "querystring",
                        "locationName": "OperatingAddressCityFilter",
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Sites": {
                        "type": "list",
                        "member": {
                            "shape": "S21"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/S5O6VNTE6TYGQQXHJOVYCAUF6MDDK43ZJG7BVLOMHZ52V4O7BHZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HUBGPQJIMXIQ7FV23G5QCIZHIAQRXAXRY72OHQ6XGAGCB6P3NAXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOSASCBQABVIODFXNHQPPMXLO6UOJWX4R4NZYZXMCYNUMKX2CKAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SFRZUKPC4PZSATGLLQHGRKFCSHJIQTCGOJRRDGBFJNV46REIEQXA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FATEQ5TZRXAKPP4HMEPZW5TU7X6HSF75JUPOT2VPH6YFYMUU7NBA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DDNPF52YFU6C25AKONMEQMZZYJRNHNL6YB4QLLVV3YVH2JPZW6OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFTMTAB6NT6SMQDH7RQYSFVHIZIU6XSLR3IQNBZGOCN3VWE6CZWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MZG7P5QNAJGSTLT5PQDOKHCN6WNHVW7GNBPZJ7JCZBFP6GOYZ64A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HWHWMIRQOEPNX5N4L3FEYK3DCQNYN65RRM7H52K2OXW4ZTXO7HYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDSJAMY3FYF3AKUUZVPP3QN3YQ3P3FRUBQA7RIXIVKDV4XXSXUYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/323GVFOZ2GM64XEICAQ7VZNQKXC7PX7FX3WXEENKAVPV4IP3YCCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HLUYWY3H3IQ4OTNA6A2X4NL2YR2USFPHGTSG5HSUIYIEHDTETZA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TYHO3P56CMWNX67MVLY4LWTPEJY777QT3SLHN6SIK7DDVOIVXO6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3RCGSTMKYDEMUAF5RLPRWMK2B6BATAQHGWGWYHDWLRSNTIQSHOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEVFZY5KC42I4RBXGPV25OUF7ZIEBB3ZZJCGY6OQYSD6IWC5JYMA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LRUSRTUJYRI4AR4NGRCKB24KLLD4X7IWIOXXKAYBSWVGAOLWIVXQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TTRGZ26EWKGXKJLVKGZHZASQ5CEIHYGHEG4EKZ6JAVYG3VLK5ZWQ/main.js"
            ]
        },
        "ListTagsForResource": {
            "http": {
                "method": "GET",
                "requestUri": "/tags/{ResourceArn}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn"
                ],
                "members": {
                    "ResourceArn": {
                        "location": "uri",
                        "locationName": "ResourceArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Tags": {
                        "shape": "Sz"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/S5O6VNTE6TYGQQXHJOVYCAUF6MDDK43ZJG7BVLOMHZ52V4O7BHZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEVFZY5KC42I4RBXGPV25OUF7ZIEBB3ZZJCGY6OQYSD6IWC5JYMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HUBGPQJIMXIQ7FV23G5QCIZHIAQRXAXRY72OHQ6XGAGCB6P3NAXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOSASCBQABVIODFXNHQPPMXLO6UOJWX4R4NZYZXMCYNUMKX2CKAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SFRZUKPC4PZSATGLLQHGRKFCSHJIQTCGOJRRDGBFJNV46REIEQXA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FATEQ5TZRXAKPP4HMEPZW5TU7X6HSF75JUPOT2VPH6YFYMUU7NBA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DDNPF52YFU6C25AKONMEQMZZYJRNHNL6YB4QLLVV3YVH2JPZW6OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFTMTAB6NT6SMQDH7RQYSFVHIZIU6XSLR3IQNBZGOCN3VWE6CZWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MZG7P5QNAJGSTLT5PQDOKHCN6WNHVW7GNBPZJ7JCZBFP6GOYZ64A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HWHWMIRQOEPNX5N4L3FEYK3DCQNYN65RRM7H52K2OXW4ZTXO7HYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDSJAMY3FYF3AKUUZVPP3QN3YQ3P3FRUBQA7RIXIVKDV4XXSXUYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/323GVFOZ2GM64XEICAQ7VZNQKXC7PX7FX3WXEENKAVPV4IP3YCCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HLUYWY3H3IQ4OTNA6A2X4NL2YR2USFPHGTSG5HSUIYIEHDTETZA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TYHO3P56CMWNX67MVLY4LWTPEJY777QT3SLHN6SIK7DDVOIVXO6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3RCGSTMKYDEMUAF5RLPRWMK2B6BATAQHGWGWYHDWLRSNTIQSHOQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LRUSRTUJYRI4AR4NGRCKB24KLLD4X7IWIOXXKAYBSWVGAOLWIVXQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TTRGZ26EWKGXKJLVKGZHZASQ5CEIHYGHEG4EKZ6JAVYG3VLK5ZWQ/main.js"
            ]
        },
        "StartConnection": {
            "http": {
                "requestUri": "/connections"
            },
            "input": {
                "type": "structure",
                "required": [
                    "DeviceSerialNumber",
                    "AssetId",
                    "ClientPublicKey",
                    "NetworkInterfaceDeviceIndex"
                ],
                "members": {
                    "DeviceSerialNumber": {},
                    "AssetId": {},
                    "ClientPublicKey": {},
                    "NetworkInterfaceDeviceIndex": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ConnectionId": {},
                    "UnderlayIpAddress": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/UXHTLYYCVVV7IR2BYWFWJZXPS5IB74DWUFGDXZBJGLSDVG5MGLPQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/F2HS6CTJIZ2CEKDURJ3O6FDMF2H4S4BT7VFLM5ZJZTOPLMO3QGCQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X6ZLWRAC7TT3U56LKLTZFE5MNE7BBLFDYUJOW3ZIBGX2RICSQ7NQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/S5O6VNTE6TYGQQXHJOVYCAUF6MDDK43ZJG7BVLOMHZ52V4O7BHZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HUBGPQJIMXIQ7FV23G5QCIZHIAQRXAXRY72OHQ6XGAGCB6P3NAXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOSASCBQABVIODFXNHQPPMXLO6UOJWX4R4NZYZXMCYNUMKX2CKAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SFRZUKPC4PZSATGLLQHGRKFCSHJIQTCGOJRRDGBFJNV46REIEQXA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FATEQ5TZRXAKPP4HMEPZW5TU7X6HSF75JUPOT2VPH6YFYMUU7NBA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DDNPF52YFU6C25AKONMEQMZZYJRNHNL6YB4QLLVV3YVH2JPZW6OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFTMTAB6NT6SMQDH7RQYSFVHIZIU6XSLR3IQNBZGOCN3VWE6CZWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEVFZY5KC42I4RBXGPV25OUF7ZIEBB3ZZJCGY6OQYSD6IWC5JYMA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MZG7P5QNAJGSTLT5PQDOKHCN6WNHVW7GNBPZJ7JCZBFP6GOYZ64A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HWHWMIRQOEPNX5N4L3FEYK3DCQNYN65RRM7H52K2OXW4ZTXO7HYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDSJAMY3FYF3AKUUZVPP3QN3YQ3P3FRUBQA7RIXIVKDV4XXSXUYA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/323GVFOZ2GM64XEICAQ7VZNQKXC7PX7FX3WXEENKAVPV4IP3YCCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HLUYWY3H3IQ4OTNA6A2X4NL2YR2USFPHGTSG5HSUIYIEHDTETZA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TYHO3P56CMWNX67MVLY4LWTPEJY777QT3SLHN6SIK7DDVOIVXO6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3RCGSTMKYDEMUAF5RLPRWMK2B6BATAQHGWGWYHDWLRSNTIQSHOQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LRUSRTUJYRI4AR4NGRCKB24KLLD4X7IWIOXXKAYBSWVGAOLWIVXQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TTRGZ26EWKGXKJLVKGZHZASQ5CEIHYGHEG4EKZ6JAVYG3VLK5ZWQ/main.js"
            ]
        },
        "TagResource": {
            "http": {
                "requestUri": "/tags/{ResourceArn}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn",
                    "Tags"
                ],
                "members": {
                    "ResourceArn": {
                        "location": "uri",
                        "locationName": "ResourceArn"
                    },
                    "Tags": {
                        "shape": "Sz"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/S5O6VNTE6TYGQQXHJOVYCAUF6MDDK43ZJG7BVLOMHZ52V4O7BHZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEVFZY5KC42I4RBXGPV25OUF7ZIEBB3ZZJCGY6OQYSD6IWC5JYMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HUBGPQJIMXIQ7FV23G5QCIZHIAQRXAXRY72OHQ6XGAGCB6P3NAXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOSASCBQABVIODFXNHQPPMXLO6UOJWX4R4NZYZXMCYNUMKX2CKAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SFRZUKPC4PZSATGLLQHGRKFCSHJIQTCGOJRRDGBFJNV46REIEQXA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FATEQ5TZRXAKPP4HMEPZW5TU7X6HSF75JUPOT2VPH6YFYMUU7NBA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DDNPF52YFU6C25AKONMEQMZZYJRNHNL6YB4QLLVV3YVH2JPZW6OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFTMTAB6NT6SMQDH7RQYSFVHIZIU6XSLR3IQNBZGOCN3VWE6CZWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MZG7P5QNAJGSTLT5PQDOKHCN6WNHVW7GNBPZJ7JCZBFP6GOYZ64A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HWHWMIRQOEPNX5N4L3FEYK3DCQNYN65RRM7H52K2OXW4ZTXO7HYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDSJAMY3FYF3AKUUZVPP3QN3YQ3P3FRUBQA7RIXIVKDV4XXSXUYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/323GVFOZ2GM64XEICAQ7VZNQKXC7PX7FX3WXEENKAVPV4IP3YCCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HLUYWY3H3IQ4OTNA6A2X4NL2YR2USFPHGTSG5HSUIYIEHDTETZA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TYHO3P56CMWNX67MVLY4LWTPEJY777QT3SLHN6SIK7DDVOIVXO6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3RCGSTMKYDEMUAF5RLPRWMK2B6BATAQHGWGWYHDWLRSNTIQSHOQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LRUSRTUJYRI4AR4NGRCKB24KLLD4X7IWIOXXKAYBSWVGAOLWIVXQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TTRGZ26EWKGXKJLVKGZHZASQ5CEIHYGHEG4EKZ6JAVYG3VLK5ZWQ/main.js"
            ]
        },
        "UntagResource": {
            "http": {
                "method": "DELETE",
                "requestUri": "/tags/{ResourceArn}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn",
                    "TagKeys"
                ],
                "members": {
                    "ResourceArn": {
                        "location": "uri",
                        "locationName": "ResourceArn"
                    },
                    "TagKeys": {
                        "location": "querystring",
                        "locationName": "tagKeys",
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/S5O6VNTE6TYGQQXHJOVYCAUF6MDDK43ZJG7BVLOMHZ52V4O7BHZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEVFZY5KC42I4RBXGPV25OUF7ZIEBB3ZZJCGY6OQYSD6IWC5JYMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HUBGPQJIMXIQ7FV23G5QCIZHIAQRXAXRY72OHQ6XGAGCB6P3NAXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOSASCBQABVIODFXNHQPPMXLO6UOJWX4R4NZYZXMCYNUMKX2CKAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SFRZUKPC4PZSATGLLQHGRKFCSHJIQTCGOJRRDGBFJNV46REIEQXA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FATEQ5TZRXAKPP4HMEPZW5TU7X6HSF75JUPOT2VPH6YFYMUU7NBA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DDNPF52YFU6C25AKONMEQMZZYJRNHNL6YB4QLLVV3YVH2JPZW6OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFTMTAB6NT6SMQDH7RQYSFVHIZIU6XSLR3IQNBZGOCN3VWE6CZWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MZG7P5QNAJGSTLT5PQDOKHCN6WNHVW7GNBPZJ7JCZBFP6GOYZ64A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HWHWMIRQOEPNX5N4L3FEYK3DCQNYN65RRM7H52K2OXW4ZTXO7HYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDSJAMY3FYF3AKUUZVPP3QN3YQ3P3FRUBQA7RIXIVKDV4XXSXUYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/323GVFOZ2GM64XEICAQ7VZNQKXC7PX7FX3WXEENKAVPV4IP3YCCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HLUYWY3H3IQ4OTNA6A2X4NL2YR2USFPHGTSG5HSUIYIEHDTETZA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TYHO3P56CMWNX67MVLY4LWTPEJY777QT3SLHN6SIK7DDVOIVXO6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3RCGSTMKYDEMUAF5RLPRWMK2B6BATAQHGWGWYHDWLRSNTIQSHOQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LRUSRTUJYRI4AR4NGRCKB24KLLD4X7IWIOXXKAYBSWVGAOLWIVXQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TTRGZ26EWKGXKJLVKGZHZASQ5CEIHYGHEG4EKZ6JAVYG3VLK5ZWQ/main.js"
            ]
        },
        "UpdateOutpost": {
            "http": {
                "method": "PATCH",
                "requestUri": "/outposts/{OutpostId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "OutpostId"
                ],
                "members": {
                    "OutpostId": {
                        "location": "uri",
                        "locationName": "OutpostId"
                    },
                    "Name": {},
                    "Description": {},
                    "SupportedHardwareType": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Outpost": {
                        "shape": "S14"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/UXHTLYYCVVV7IR2BYWFWJZXPS5IB74DWUFGDXZBJGLSDVG5MGLPQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/F2HS6CTJIZ2CEKDURJ3O6FDMF2H4S4BT7VFLM5ZJZTOPLMO3QGCQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X6ZLWRAC7TT3U56LKLTZFE5MNE7BBLFDYUJOW3ZIBGX2RICSQ7NQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/S5O6VNTE6TYGQQXHJOVYCAUF6MDDK43ZJG7BVLOMHZ52V4O7BHZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HUBGPQJIMXIQ7FV23G5QCIZHIAQRXAXRY72OHQ6XGAGCB6P3NAXA/main.js",
[...]
