{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2019-07-24",
        "endpointPrefix": "panoramamarketplace",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "OmniMarketplaceServiceLambda",
        "serviceId": "OmniMarketplaceServiceLambda",
        "signatureVersion": "v4",
        "signingName": "panorama",
        "uid": "panoramamarketplace-2019-07-24",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/G4O5Z6YJERXKKDZWGU2YBRRBWGEA642ZUFH3DQLGMDD4DJG25TYA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AE3N3WEUJ4R6VEEUKVRRX7Z66SCPFNRSPNWUJ5ZNPVX462MS6RAQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GOBZHJGJP7P7UXMWB2RAZMFTLXN7N6UBGYA4SNJMOXPOQGPJPWQA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DGGBNUI2AQZZKHN2XCN5MROWKZISELQLWVTZ6UCE3TKUUZTOXLBQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KJZ2GOYWJSQ5IHANM72DITEUDJQSUER5LRDVB5Y3X3QZTDUUNAKQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2ENE42UHF632M42ZQOJ25QZ2NRC4TNLP4TEMGON32OB6T3S57I6Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GNNSFLHKBNJZXQVTB3ATX4LC6QV52QTY4ZO4FMBQ7GCFSYU7SPXA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KVVQNECE43VQ5ZWPVXKJUNLH47FDJCZ3FZNKZO4VB35SDTWVVHQA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J3P7YKMXYLTHRJ6YKJMNUCELW3M44VNCZY66EHHDOYEQHB24MLZA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/62T7CEOBQ3UZOI3PMGQ7GFP44FOVN2UP5A7HY2C423MWZMIJH7SQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/F25UMLHSRQLAAFFO3AQ336RPD7OEEDAPJOW4JK745CY5J23XKMNQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WPDP7LLFYRHIULKXSY5GCXI2SLHKROMWQUG4M45YZCUIPI7MVX7Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/53ZRXUZMRQYLTUWD7242A3VNPOV2RFRMAVIWOCKNRB4SAWE4PRPQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2CR7KTBOIVY6TP2XYIGIETNVE3GLK67YW2AZEORDLC5GUFEBQT3A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BPHT7UWTCXC6JT6PDNIHUMQBSAUU35CXBKCOJW5VNSQXPMUSXNTQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z5QHVPPWHKM5NSDRARPZM3YSR5ZZQP3HLSQHQWEBL4OHJ4IC7GSQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KZEFMXE3GBWH4PTT6HNSDT2PCYLAUYWTZNTKSTXOMGCFUJTRVMMA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ETBVXXV4FWR2I7UYGGLNNSK243PMOCTJTJLDHCKIEYV23GUCFBCA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZS33ZZ3GEB3HSUX2PEADFFRYPSEUH7Y64OHJI7WZBZCIAYIW6RZA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RGPIWR3A2PE4NOKYCIGAPSAQJCHJKL2T3WDPVPQR7CCVFLGZFTNA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PWJTGHGLMBAGMEO5E5FEIU2XSONFYCGMYYKIVASPOKQOAGWGMLFQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Q6POY67MBM7X63HZDWJLXRGPUN643YXYY5BXRCEX4NBKEYRVET7Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ALW6FJEKIH4ISPVRNSCSOZPTOSLYTS26XNKVJPMCDZ6HZRQ6S7DQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WBWMAF5FJXEV4P33P7CSR3OHUI3QUUDTYTKBXV5BKFD2YVZTDNVA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NMHDGNBPNRWWUSFOUIUBSRBWWCDIV7LULOXGXXTHKZLECG33RWKQ/main.js"
        ]
    },
    "operations": {
        "CreateEntitlement": {
            "http": {
                "requestUri": "/entitlements",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "buyerAccountId",
                    "productCode",
                    "sellerAccountId"
                ],
                "members": {
                    "buyerAccountId": {},
                    "productCode": {},
                    "sellerAccountId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "buyerAccountId",
                    "productCode"
                ],
                "members": {
                    "buyerAccountId": {},
                    "productCode": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AE3N3WEUJ4R6VEEUKVRRX7Z66SCPFNRSPNWUJ5ZNPVX462MS6RAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOBZHJGJP7P7UXMWB2RAZMFTLXN7N6UBGYA4SNJMOXPOQGPJPWQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DGGBNUI2AQZZKHN2XCN5MROWKZISELQLWVTZ6UCE3TKUUZTOXLBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJZ2GOYWJSQ5IHANM72DITEUDJQSUER5LRDVB5Y3X3QZTDUUNAKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ENE42UHF632M42ZQOJ25QZ2NRC4TNLP4TEMGON32OB6T3S57I6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNNSFLHKBNJZXQVTB3ATX4LC6QV52QTY4ZO4FMBQ7GCFSYU7SPXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVVQNECE43VQ5ZWPVXKJUNLH47FDJCZ3FZNKZO4VB35SDTWVVHQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3P7YKMXYLTHRJ6YKJMNUCELW3M44VNCZY66EHHDOYEQHB24MLZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62T7CEOBQ3UZOI3PMGQ7GFP44FOVN2UP5A7HY2C423MWZMIJH7SQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F25UMLHSRQLAAFFO3AQ336RPD7OEEDAPJOW4JK745CY5J23XKMNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPDP7LLFYRHIULKXSY5GCXI2SLHKROMWQUG4M45YZCUIPI7MVX7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53ZRXUZMRQYLTUWD7242A3VNPOV2RFRMAVIWOCKNRB4SAWE4PRPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CR7KTBOIVY6TP2XYIGIETNVE3GLK67YW2AZEORDLC5GUFEBQT3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPHT7UWTCXC6JT6PDNIHUMQBSAUU35CXBKCOJW5VNSQXPMUSXNTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5QHVPPWHKM5NSDRARPZM3YSR5ZZQP3HLSQHQWEBL4OHJ4IC7GSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZEFMXE3GBWH4PTT6HNSDT2PCYLAUYWTZNTKSTXOMGCFUJTRVMMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETBVXXV4FWR2I7UYGGLNNSK243PMOCTJTJLDHCKIEYV23GUCFBCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZS33ZZ3GEB3HSUX2PEADFFRYPSEUH7Y64OHJI7WZBZCIAYIW6RZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RGPIWR3A2PE4NOKYCIGAPSAQJCHJKL2T3WDPVPQR7CCVFLGZFTNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWJTGHGLMBAGMEO5E5FEIU2XSONFYCGMYYKIVASPOKQOAGWGMLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6POY67MBM7X63HZDWJLXRGPUN643YXYY5BXRCEX4NBKEYRVET7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALW6FJEKIH4ISPVRNSCSOZPTOSLYTS26XNKVJPMCDZ6HZRQ6S7DQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WBWMAF5FJXEV4P33P7CSR3OHUI3QUUDTYTKBXV5BKFD2YVZTDNVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMHDGNBPNRWWUSFOUIUBSRBWWCDIV7LULOXGXXTHKZLECG33RWKQ/main.js"
            ]
        },
        "CreateProduct": {
            "http": {
                "requestUri": "/products",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "authorName",
                    "productName",
                    "sellerAccountId"
                ],
                "members": {
                    "authorName": {},
                    "image": {},
                    "longDescription": {},
                    "productName": {},
                    "sellerAccountId": {},
                    "shortDescription": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "productCode": {},
                    "productId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AE3N3WEUJ4R6VEEUKVRRX7Z66SCPFNRSPNWUJ5ZNPVX462MS6RAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOBZHJGJP7P7UXMWB2RAZMFTLXN7N6UBGYA4SNJMOXPOQGPJPWQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DGGBNUI2AQZZKHN2XCN5MROWKZISELQLWVTZ6UCE3TKUUZTOXLBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJZ2GOYWJSQ5IHANM72DITEUDJQSUER5LRDVB5Y3X3QZTDUUNAKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ENE42UHF632M42ZQOJ25QZ2NRC4TNLP4TEMGON32OB6T3S57I6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNNSFLHKBNJZXQVTB3ATX4LC6QV52QTY4ZO4FMBQ7GCFSYU7SPXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVVQNECE43VQ5ZWPVXKJUNLH47FDJCZ3FZNKZO4VB35SDTWVVHQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3P7YKMXYLTHRJ6YKJMNUCELW3M44VNCZY66EHHDOYEQHB24MLZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62T7CEOBQ3UZOI3PMGQ7GFP44FOVN2UP5A7HY2C423MWZMIJH7SQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F25UMLHSRQLAAFFO3AQ336RPD7OEEDAPJOW4JK745CY5J23XKMNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPDP7LLFYRHIULKXSY5GCXI2SLHKROMWQUG4M45YZCUIPI7MVX7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53ZRXUZMRQYLTUWD7242A3VNPOV2RFRMAVIWOCKNRB4SAWE4PRPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CR7KTBOIVY6TP2XYIGIETNVE3GLK67YW2AZEORDLC5GUFEBQT3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPHT7UWTCXC6JT6PDNIHUMQBSAUU35CXBKCOJW5VNSQXPMUSXNTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5QHVPPWHKM5NSDRARPZM3YSR5ZZQP3HLSQHQWEBL4OHJ4IC7GSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZEFMXE3GBWH4PTT6HNSDT2PCYLAUYWTZNTKSTXOMGCFUJTRVMMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETBVXXV4FWR2I7UYGGLNNSK243PMOCTJTJLDHCKIEYV23GUCFBCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZS33ZZ3GEB3HSUX2PEADFFRYPSEUH7Y64OHJI7WZBZCIAYIW6RZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RGPIWR3A2PE4NOKYCIGAPSAQJCHJKL2T3WDPVPQR7CCVFLGZFTNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWJTGHGLMBAGMEO5E5FEIU2XSONFYCGMYYKIVASPOKQOAGWGMLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6POY67MBM7X63HZDWJLXRGPUN643YXYY5BXRCEX4NBKEYRVET7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALW6FJEKIH4ISPVRNSCSOZPTOSLYTS26XNKVJPMCDZ6HZRQ6S7DQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WBWMAF5FJXEV4P33P7CSR3OHUI3QUUDTYTKBXV5BKFD2YVZTDNVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMHDGNBPNRWWUSFOUIUBSRBWWCDIV7LULOXGXXTHKZLECG33RWKQ/main.js"
            ]
        },
        "CreateProductVersion": {
            "http": {
                "requestUri": "/products/{productCode}/versions",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "packageS3Uri",
                    "productCode",
                    "releaseNote",
                    "sampleApplicationTemplate",
                    "sellerAccountId",
                    "version"
                ],
                "members": {
                    "packageS3Uri": {},
                    "permissions": {
                        "shape": "S7"
                    },
                    "productCode": {
                        "location": "uri",
                        "locationName": "productCode"
                    },
                    "releaseNote": {},
                    "sampleApplicationTemplate": {},
                    "sellerAccountId": {},
                    "version": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "productCode": {},
                    "version": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AE3N3WEUJ4R6VEEUKVRRX7Z66SCPFNRSPNWUJ5ZNPVX462MS6RAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOBZHJGJP7P7UXMWB2RAZMFTLXN7N6UBGYA4SNJMOXPOQGPJPWQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DGGBNUI2AQZZKHN2XCN5MROWKZISELQLWVTZ6UCE3TKUUZTOXLBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJZ2GOYWJSQ5IHANM72DITEUDJQSUER5LRDVB5Y3X3QZTDUUNAKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ENE42UHF632M42ZQOJ25QZ2NRC4TNLP4TEMGON32OB6T3S57I6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNNSFLHKBNJZXQVTB3ATX4LC6QV52QTY4ZO4FMBQ7GCFSYU7SPXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVVQNECE43VQ5ZWPVXKJUNLH47FDJCZ3FZNKZO4VB35SDTWVVHQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3P7YKMXYLTHRJ6YKJMNUCELW3M44VNCZY66EHHDOYEQHB24MLZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62T7CEOBQ3UZOI3PMGQ7GFP44FOVN2UP5A7HY2C423MWZMIJH7SQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F25UMLHSRQLAAFFO3AQ336RPD7OEEDAPJOW4JK745CY5J23XKMNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPDP7LLFYRHIULKXSY5GCXI2SLHKROMWQUG4M45YZCUIPI7MVX7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53ZRXUZMRQYLTUWD7242A3VNPOV2RFRMAVIWOCKNRB4SAWE4PRPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CR7KTBOIVY6TP2XYIGIETNVE3GLK67YW2AZEORDLC5GUFEBQT3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPHT7UWTCXC6JT6PDNIHUMQBSAUU35CXBKCOJW5VNSQXPMUSXNTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5QHVPPWHKM5NSDRARPZM3YSR5ZZQP3HLSQHQWEBL4OHJ4IC7GSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZEFMXE3GBWH4PTT6HNSDT2PCYLAUYWTZNTKSTXOMGCFUJTRVMMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETBVXXV4FWR2I7UYGGLNNSK243PMOCTJTJLDHCKIEYV23GUCFBCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZS33ZZ3GEB3HSUX2PEADFFRYPSEUH7Y64OHJI7WZBZCIAYIW6RZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RGPIWR3A2PE4NOKYCIGAPSAQJCHJKL2T3WDPVPQR7CCVFLGZFTNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWJTGHGLMBAGMEO5E5FEIU2XSONFYCGMYYKIVASPOKQOAGWGMLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6POY67MBM7X63HZDWJLXRGPUN643YXYY5BXRCEX4NBKEYRVET7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALW6FJEKIH4ISPVRNSCSOZPTOSLYTS26XNKVJPMCDZ6HZRQ6S7DQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WBWMAF5FJXEV4P33P7CSR3OHUI3QUUDTYTKBXV5BKFD2YVZTDNVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMHDGNBPNRWWUSFOUIUBSRBWWCDIV7LULOXGXXTHKZLECG33RWKQ/main.js"
            ]
        },
        "DeleteEntitlement": {
            "http": {
                "method": "PUT",
                "requestUri": "/entitlements/products/{productCode}/sellers/{sellerAccountId}/buyers/{buyerAccountId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "buyerAccountId",
                    "productCode",
                    "sellerAccountId"
                ],
                "members": {
                    "buyerAccountId": {
                        "location": "uri",
                        "locationName": "buyerAccountId"
                    },
                    "productCode": {
                        "location": "uri",
                        "locationName": "productCode"
                    },
                    "sellerAccountId": {
                        "location": "uri",
                        "locationName": "sellerAccountId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "active": {
                        "type": "boolean"
                    },
                    "buyerAccountId": {},
                    "productCode": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AE3N3WEUJ4R6VEEUKVRRX7Z66SCPFNRSPNWUJ5ZNPVX462MS6RAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOBZHJGJP7P7UXMWB2RAZMFTLXN7N6UBGYA4SNJMOXPOQGPJPWQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DGGBNUI2AQZZKHN2XCN5MROWKZISELQLWVTZ6UCE3TKUUZTOXLBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJZ2GOYWJSQ5IHANM72DITEUDJQSUER5LRDVB5Y3X3QZTDUUNAKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ENE42UHF632M42ZQOJ25QZ2NRC4TNLP4TEMGON32OB6T3S57I6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNNSFLHKBNJZXQVTB3ATX4LC6QV52QTY4ZO4FMBQ7GCFSYU7SPXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVVQNECE43VQ5ZWPVXKJUNLH47FDJCZ3FZNKZO4VB35SDTWVVHQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3P7YKMXYLTHRJ6YKJMNUCELW3M44VNCZY66EHHDOYEQHB24MLZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62T7CEOBQ3UZOI3PMGQ7GFP44FOVN2UP5A7HY2C423MWZMIJH7SQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F25UMLHSRQLAAFFO3AQ336RPD7OEEDAPJOW4JK745CY5J23XKMNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPDP7LLFYRHIULKXSY5GCXI2SLHKROMWQUG4M45YZCUIPI7MVX7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53ZRXUZMRQYLTUWD7242A3VNPOV2RFRMAVIWOCKNRB4SAWE4PRPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CR7KTBOIVY6TP2XYIGIETNVE3GLK67YW2AZEORDLC5GUFEBQT3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPHT7UWTCXC6JT6PDNIHUMQBSAUU35CXBKCOJW5VNSQXPMUSXNTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5QHVPPWHKM5NSDRARPZM3YSR5ZZQP3HLSQHQWEBL4OHJ4IC7GSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZEFMXE3GBWH4PTT6HNSDT2PCYLAUYWTZNTKSTXOMGCFUJTRVMMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETBVXXV4FWR2I7UYGGLNNSK243PMOCTJTJLDHCKIEYV23GUCFBCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZS33ZZ3GEB3HSUX2PEADFFRYPSEUH7Y64OHJI7WZBZCIAYIW6RZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RGPIWR3A2PE4NOKYCIGAPSAQJCHJKL2T3WDPVPQR7CCVFLGZFTNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWJTGHGLMBAGMEO5E5FEIU2XSONFYCGMYYKIVASPOKQOAGWGMLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6POY67MBM7X63HZDWJLXRGPUN643YXYY5BXRCEX4NBKEYRVET7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALW6FJEKIH4ISPVRNSCSOZPTOSLYTS26XNKVJPMCDZ6HZRQ6S7DQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WBWMAF5FJXEV4P33P7CSR3OHUI3QUUDTYTKBXV5BKFD2YVZTDNVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMHDGNBPNRWWUSFOUIUBSRBWWCDIV7LULOXGXXTHKZLECG33RWKQ/main.js"
            ]
        },
        "DeleteProduct": {
            "http": {
                "method": "DELETE",
                "requestUri": "/products/{productCode}/sellers/{sellerAccountId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "productCode",
                    "sellerAccountId"
                ],
                "members": {
                    "productCode": {
                        "location": "uri",
                        "locationName": "productCode"
                    },
                    "sellerAccountId": {
                        "location": "uri",
                        "locationName": "sellerAccountId"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AE3N3WEUJ4R6VEEUKVRRX7Z66SCPFNRSPNWUJ5ZNPVX462MS6RAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOBZHJGJP7P7UXMWB2RAZMFTLXN7N6UBGYA4SNJMOXPOQGPJPWQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DGGBNUI2AQZZKHN2XCN5MROWKZISELQLWVTZ6UCE3TKUUZTOXLBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJZ2GOYWJSQ5IHANM72DITEUDJQSUER5LRDVB5Y3X3QZTDUUNAKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ENE42UHF632M42ZQOJ25QZ2NRC4TNLP4TEMGON32OB6T3S57I6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNNSFLHKBNJZXQVTB3ATX4LC6QV52QTY4ZO4FMBQ7GCFSYU7SPXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVVQNECE43VQ5ZWPVXKJUNLH47FDJCZ3FZNKZO4VB35SDTWVVHQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3P7YKMXYLTHRJ6YKJMNUCELW3M44VNCZY66EHHDOYEQHB24MLZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62T7CEOBQ3UZOI3PMGQ7GFP44FOVN2UP5A7HY2C423MWZMIJH7SQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F25UMLHSRQLAAFFO3AQ336RPD7OEEDAPJOW4JK745CY5J23XKMNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPDP7LLFYRHIULKXSY5GCXI2SLHKROMWQUG4M45YZCUIPI7MVX7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53ZRXUZMRQYLTUWD7242A3VNPOV2RFRMAVIWOCKNRB4SAWE4PRPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CR7KTBOIVY6TP2XYIGIETNVE3GLK67YW2AZEORDLC5GUFEBQT3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPHT7UWTCXC6JT6PDNIHUMQBSAUU35CXBKCOJW5VNSQXPMUSXNTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5QHVPPWHKM5NSDRARPZM3YSR5ZZQP3HLSQHQWEBL4OHJ4IC7GSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZEFMXE3GBWH4PTT6HNSDT2PCYLAUYWTZNTKSTXOMGCFUJTRVMMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETBVXXV4FWR2I7UYGGLNNSK243PMOCTJTJLDHCKIEYV23GUCFBCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZS33ZZ3GEB3HSUX2PEADFFRYPSEUH7Y64OHJI7WZBZCIAYIW6RZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RGPIWR3A2PE4NOKYCIGAPSAQJCHJKL2T3WDPVPQR7CCVFLGZFTNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWJTGHGLMBAGMEO5E5FEIU2XSONFYCGMYYKIVASPOKQOAGWGMLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6POY67MBM7X63HZDWJLXRGPUN643YXYY5BXRCEX4NBKEYRVET7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALW6FJEKIH4ISPVRNSCSOZPTOSLYTS26XNKVJPMCDZ6HZRQ6S7DQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WBWMAF5FJXEV4P33P7CSR3OHUI3QUUDTYTKBXV5BKFD2YVZTDNVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMHDGNBPNRWWUSFOUIUBSRBWWCDIV7LULOXGXXTHKZLECG33RWKQ/main.js"
            ]
        },
        "DeleteProductVersion": {
            "http": {
                "method": "DELETE",
                "requestUri": "/products/{productCode}/versions/{version}/sellers/{sellerAccountId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "productCode",
                    "sellerAccountId",
                    "version"
                ],
                "members": {
                    "productCode": {
                        "location": "uri",
                        "locationName": "productCode"
                    },
                    "sellerAccountId": {
                        "location": "uri",
                        "locationName": "sellerAccountId"
                    },
                    "version": {
                        "location": "uri",
                        "locationName": "version"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AE3N3WEUJ4R6VEEUKVRRX7Z66SCPFNRSPNWUJ5ZNPVX462MS6RAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOBZHJGJP7P7UXMWB2RAZMFTLXN7N6UBGYA4SNJMOXPOQGPJPWQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DGGBNUI2AQZZKHN2XCN5MROWKZISELQLWVTZ6UCE3TKUUZTOXLBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJZ2GOYWJSQ5IHANM72DITEUDJQSUER5LRDVB5Y3X3QZTDUUNAKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ENE42UHF632M42ZQOJ25QZ2NRC4TNLP4TEMGON32OB6T3S57I6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNNSFLHKBNJZXQVTB3ATX4LC6QV52QTY4ZO4FMBQ7GCFSYU7SPXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVVQNECE43VQ5ZWPVXKJUNLH47FDJCZ3FZNKZO4VB35SDTWVVHQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3P7YKMXYLTHRJ6YKJMNUCELW3M44VNCZY66EHHDOYEQHB24MLZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62T7CEOBQ3UZOI3PMGQ7GFP44FOVN2UP5A7HY2C423MWZMIJH7SQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F25UMLHSRQLAAFFO3AQ336RPD7OEEDAPJOW4JK745CY5J23XKMNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPDP7LLFYRHIULKXSY5GCXI2SLHKROMWQUG4M45YZCUIPI7MVX7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53ZRXUZMRQYLTUWD7242A3VNPOV2RFRMAVIWOCKNRB4SAWE4PRPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CR7KTBOIVY6TP2XYIGIETNVE3GLK67YW2AZEORDLC5GUFEBQT3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPHT7UWTCXC6JT6PDNIHUMQBSAUU35CXBKCOJW5VNSQXPMUSXNTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5QHVPPWHKM5NSDRARPZM3YSR5ZZQP3HLSQHQWEBL4OHJ4IC7GSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZEFMXE3GBWH4PTT6HNSDT2PCYLAUYWTZNTKSTXOMGCFUJTRVMMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETBVXXV4FWR2I7UYGGLNNSK243PMOCTJTJLDHCKIEYV23GUCFBCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZS33ZZ3GEB3HSUX2PEADFFRYPSEUH7Y64OHJI7WZBZCIAYIW6RZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RGPIWR3A2PE4NOKYCIGAPSAQJCHJKL2T3WDPVPQR7CCVFLGZFTNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWJTGHGLMBAGMEO5E5FEIU2XSONFYCGMYYKIVASPOKQOAGWGMLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6POY67MBM7X63HZDWJLXRGPUN643YXYY5BXRCEX4NBKEYRVET7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALW6FJEKIH4ISPVRNSCSOZPTOSLYTS26XNKVJPMCDZ6HZRQ6S7DQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WBWMAF5FJXEV4P33P7CSR3OHUI3QUUDTYTKBXV5BKFD2YVZTDNVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMHDGNBPNRWWUSFOUIUBSRBWWCDIV7LULOXGXXTHKZLECG33RWKQ/main.js"
            ]
        },
        "DescribeEntitlement": {
            "http": {
                "method": "GET",
                "requestUri": "/entitlements/products/{productCode}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "productCode"
                ],
                "members": {
                    "productCode": {
                        "location": "uri",
                        "locationName": "productCode"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "active": {
                        "type": "boolean"
                    },
                    "buyerAccountId": {},
                    "createdTime": {
                        "type": "timestamp"
                    },
                    "lastUpdatedTime": {
                        "type": "timestamp"
                    },
                    "productCode": {},
                    "sellerAccountId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AE3N3WEUJ4R6VEEUKVRRX7Z66SCPFNRSPNWUJ5ZNPVX462MS6RAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOBZHJGJP7P7UXMWB2RAZMFTLXN7N6UBGYA4SNJMOXPOQGPJPWQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DGGBNUI2AQZZKHN2XCN5MROWKZISELQLWVTZ6UCE3TKUUZTOXLBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJZ2GOYWJSQ5IHANM72DITEUDJQSUER5LRDVB5Y3X3QZTDUUNAKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ENE42UHF632M42ZQOJ25QZ2NRC4TNLP4TEMGON32OB6T3S57I6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNNSFLHKBNJZXQVTB3ATX4LC6QV52QTY4ZO4FMBQ7GCFSYU7SPXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVVQNECE43VQ5ZWPVXKJUNLH47FDJCZ3FZNKZO4VB35SDTWVVHQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3P7YKMXYLTHRJ6YKJMNUCELW3M44VNCZY66EHHDOYEQHB24MLZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62T7CEOBQ3UZOI3PMGQ7GFP44FOVN2UP5A7HY2C423MWZMIJH7SQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F25UMLHSRQLAAFFO3AQ336RPD7OEEDAPJOW4JK745CY5J23XKMNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPDP7LLFYRHIULKXSY5GCXI2SLHKROMWQUG4M45YZCUIPI7MVX7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53ZRXUZMRQYLTUWD7242A3VNPOV2RFRMAVIWOCKNRB4SAWE4PRPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CR7KTBOIVY6TP2XYIGIETNVE3GLK67YW2AZEORDLC5GUFEBQT3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPHT7UWTCXC6JT6PDNIHUMQBSAUU35CXBKCOJW5VNSQXPMUSXNTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5QHVPPWHKM5NSDRARPZM3YSR5ZZQP3HLSQHQWEBL4OHJ4IC7GSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZEFMXE3GBWH4PTT6HNSDT2PCYLAUYWTZNTKSTXOMGCFUJTRVMMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETBVXXV4FWR2I7UYGGLNNSK243PMOCTJTJLDHCKIEYV23GUCFBCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZS33ZZ3GEB3HSUX2PEADFFRYPSEUH7Y64OHJI7WZBZCIAYIW6RZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RGPIWR3A2PE4NOKYCIGAPSAQJCHJKL2T3WDPVPQR7CCVFLGZFTNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWJTGHGLMBAGMEO5E5FEIU2XSONFYCGMYYKIVASPOKQOAGWGMLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6POY67MBM7X63HZDWJLXRGPUN643YXYY5BXRCEX4NBKEYRVET7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALW6FJEKIH4ISPVRNSCSOZPTOSLYTS26XNKVJPMCDZ6HZRQ6S7DQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WBWMAF5FJXEV4P33P7CSR3OHUI3QUUDTYTKBXV5BKFD2YVZTDNVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMHDGNBPNRWWUSFOUIUBSRBWWCDIV7LULOXGXXTHKZLECG33RWKQ/main.js"
            ]
        },
        "DescribeProduct": {
            "http": {
                "method": "GET",
                "requestUri": "/products/{productCode}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "productCode"
                ],
                "members": {
                    "productCode": {
                        "location": "uri",
                        "locationName": "productCode"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "authorName": {},
                    "createdTime": {
                        "type": "timestamp"
                    },
                    "lastUpdatedTime": {
                        "type": "timestamp"
                    },
                    "latestProductVersion": {},
                    "longDescription": {},
                    "panoramaProductImageUrl": {},
                    "productCode": {},
                    "productName": {},
                    "shortDescription": {},
                    "status": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AE3N3WEUJ4R6VEEUKVRRX7Z66SCPFNRSPNWUJ5ZNPVX462MS6RAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOBZHJGJP7P7UXMWB2RAZMFTLXN7N6UBGYA4SNJMOXPOQGPJPWQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DGGBNUI2AQZZKHN2XCN5MROWKZISELQLWVTZ6UCE3TKUUZTOXLBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJZ2GOYWJSQ5IHANM72DITEUDJQSUER5LRDVB5Y3X3QZTDUUNAKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ENE42UHF632M42ZQOJ25QZ2NRC4TNLP4TEMGON32OB6T3S57I6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNNSFLHKBNJZXQVTB3ATX4LC6QV52QTY4ZO4FMBQ7GCFSYU7SPXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVVQNECE43VQ5ZWPVXKJUNLH47FDJCZ3FZNKZO4VB35SDTWVVHQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3P7YKMXYLTHRJ6YKJMNUCELW3M44VNCZY66EHHDOYEQHB24MLZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62T7CEOBQ3UZOI3PMGQ7GFP44FOVN2UP5A7HY2C423MWZMIJH7SQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F25UMLHSRQLAAFFO3AQ336RPD7OEEDAPJOW4JK745CY5J23XKMNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPDP7LLFYRHIULKXSY5GCXI2SLHKROMWQUG4M45YZCUIPI7MVX7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53ZRXUZMRQYLTUWD7242A3VNPOV2RFRMAVIWOCKNRB4SAWE4PRPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CR7KTBOIVY6TP2XYIGIETNVE3GLK67YW2AZEORDLC5GUFEBQT3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPHT7UWTCXC6JT6PDNIHUMQBSAUU35CXBKCOJW5VNSQXPMUSXNTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5QHVPPWHKM5NSDRARPZM3YSR5ZZQP3HLSQHQWEBL4OHJ4IC7GSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZEFMXE3GBWH4PTT6HNSDT2PCYLAUYWTZNTKSTXOMGCFUJTRVMMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETBVXXV4FWR2I7UYGGLNNSK243PMOCTJTJLDHCKIEYV23GUCFBCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZS33ZZ3GEB3HSUX2PEADFFRYPSEUH7Y64OHJI7WZBZCIAYIW6RZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RGPIWR3A2PE4NOKYCIGAPSAQJCHJKL2T3WDPVPQR7CCVFLGZFTNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWJTGHGLMBAGMEO5E5FEIU2XSONFYCGMYYKIVASPOKQOAGWGMLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6POY67MBM7X63HZDWJLXRGPUN643YXYY5BXRCEX4NBKEYRVET7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALW6FJEKIH4ISPVRNSCSOZPTOSLYTS26XNKVJPMCDZ6HZRQ6S7DQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WBWMAF5FJXEV4P33P7CSR3OHUI3QUUDTYTKBXV5BKFD2YVZTDNVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMHDGNBPNRWWUSFOUIUBSRBWWCDIV7LULOXGXXTHKZLECG33RWKQ/main.js"
            ]
        },
        "DescribeProductIdMapping": {
            "http": {
                "method": "GET",
                "requestUri": "/product-id-mappings/{productId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "productId"
                ],
                "members": {
                    "productId": {
                        "location": "uri",
                        "locationName": "productId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "productCode",
                    "productId"
                ],
                "members": {
                    "createdTime": {
                        "type": "timestamp"
                    },
                    "productCode": {},
                    "productId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AE3N3WEUJ4R6VEEUKVRRX7Z66SCPFNRSPNWUJ5ZNPVX462MS6RAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOBZHJGJP7P7UXMWB2RAZMFTLXN7N6UBGYA4SNJMOXPOQGPJPWQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DGGBNUI2AQZZKHN2XCN5MROWKZISELQLWVTZ6UCE3TKUUZTOXLBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJZ2GOYWJSQ5IHANM72DITEUDJQSUER5LRDVB5Y3X3QZTDUUNAKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ENE42UHF632M42ZQOJ25QZ2NRC4TNLP4TEMGON32OB6T3S57I6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNNSFLHKBNJZXQVTB3ATX4LC6QV52QTY4ZO4FMBQ7GCFSYU7SPXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVVQNECE43VQ5ZWPVXKJUNLH47FDJCZ3FZNKZO4VB35SDTWVVHQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3P7YKMXYLTHRJ6YKJMNUCELW3M44VNCZY66EHHDOYEQHB24MLZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62T7CEOBQ3UZOI3PMGQ7GFP44FOVN2UP5A7HY2C423MWZMIJH7SQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F25UMLHSRQLAAFFO3AQ336RPD7OEEDAPJOW4JK745CY5J23XKMNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPDP7LLFYRHIULKXSY5GCXI2SLHKROMWQUG4M45YZCUIPI7MVX7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53ZRXUZMRQYLTUWD7242A3VNPOV2RFRMAVIWOCKNRB4SAWE4PRPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CR7KTBOIVY6TP2XYIGIETNVE3GLK67YW2AZEORDLC5GUFEBQT3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPHT7UWTCXC6JT6PDNIHUMQBSAUU35CXBKCOJW5VNSQXPMUSXNTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5QHVPPWHKM5NSDRARPZM3YSR5ZZQP3HLSQHQWEBL4OHJ4IC7GSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZEFMXE3GBWH4PTT6HNSDT2PCYLAUYWTZNTKSTXOMGCFUJTRVMMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETBVXXV4FWR2I7UYGGLNNSK243PMOCTJTJLDHCKIEYV23GUCFBCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZS33ZZ3GEB3HSUX2PEADFFRYPSEUH7Y64OHJI7WZBZCIAYIW6RZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RGPIWR3A2PE4NOKYCIGAPSAQJCHJKL2T3WDPVPQR7CCVFLGZFTNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWJTGHGLMBAGMEO5E5FEIU2XSONFYCGMYYKIVASPOKQOAGWGMLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6POY67MBM7X63HZDWJLXRGPUN643YXYY5BXRCEX4NBKEYRVET7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALW6FJEKIH4ISPVRNSCSOZPTOSLYTS26XNKVJPMCDZ6HZRQ6S7DQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WBWMAF5FJXEV4P33P7CSR3OHUI3QUUDTYTKBXV5BKFD2YVZTDNVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMHDGNBPNRWWUSFOUIUBSRBWWCDIV7LULOXGXXTHKZLECG33RWKQ/main.js"
            ]
        },
        "DescribeProductVersion": {
            "http": {
                "method": "GET",
                "requestUri": "/products/{productCode}/versions/{version}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "productCode",
                    "version"
                ],
                "members": {
                    "productCode": {
                        "location": "uri",
                        "locationName": "productCode"
                    },
                    "version": {
                        "location": "uri",
                        "locationName": "version"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "createdTime": {
                        "type": "timestamp"
                    },
                    "lastUpdatedTime": {
                        "type": "timestamp"
                    },
                    "panoramaSampleAppTemplate": {},
                    "panoramaSampleAppTemplateUrl": {},
                    "permissions": {
                        "shape": "S7"
                    },
                    "productCode": {},
                    "releaseNote": {},
                    "status": {},
                    "version": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AE3N3WEUJ4R6VEEUKVRRX7Z66SCPFNRSPNWUJ5ZNPVX462MS6RAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOBZHJGJP7P7UXMWB2RAZMFTLXN7N6UBGYA4SNJMOXPOQGPJPWQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DGGBNUI2AQZZKHN2XCN5MROWKZISELQLWVTZ6UCE3TKUUZTOXLBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJZ2GOYWJSQ5IHANM72DITEUDJQSUER5LRDVB5Y3X3QZTDUUNAKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ENE42UHF632M42ZQOJ25QZ2NRC4TNLP4TEMGON32OB6T3S57I6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNNSFLHKBNJZXQVTB3ATX4LC6QV52QTY4ZO4FMBQ7GCFSYU7SPXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVVQNECE43VQ5ZWPVXKJUNLH47FDJCZ3FZNKZO4VB35SDTWVVHQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3P7YKMXYLTHRJ6YKJMNUCELW3M44VNCZY66EHHDOYEQHB24MLZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62T7CEOBQ3UZOI3PMGQ7GFP44FOVN2UP5A7HY2C423MWZMIJH7SQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F25UMLHSRQLAAFFO3AQ336RPD7OEEDAPJOW4JK745CY5J23XKMNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPDP7LLFYRHIULKXSY5GCXI2SLHKROMWQUG4M45YZCUIPI7MVX7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53ZRXUZMRQYLTUWD7242A3VNPOV2RFRMAVIWOCKNRB4SAWE4PRPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CR7KTBOIVY6TP2XYIGIETNVE3GLK67YW2AZEORDLC5GUFEBQT3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPHT7UWTCXC6JT6PDNIHUMQBSAUU35CXBKCOJW5VNSQXPMUSXNTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5QHVPPWHKM5NSDRARPZM3YSR5ZZQP3HLSQHQWEBL4OHJ4IC7GSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZEFMXE3GBWH4PTT6HNSDT2PCYLAUYWTZNTKSTXOMGCFUJTRVMMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETBVXXV4FWR2I7UYGGLNNSK243PMOCTJTJLDHCKIEYV23GUCFBCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZS33ZZ3GEB3HSUX2PEADFFRYPSEUH7Y64OHJI7WZBZCIAYIW6RZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RGPIWR3A2PE4NOKYCIGAPSAQJCHJKL2T3WDPVPQR7CCVFLGZFTNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWJTGHGLMBAGMEO5E5FEIU2XSONFYCGMYYKIVASPOKQOAGWGMLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6POY67MBM7X63HZDWJLXRGPUN643YXYY5BXRCEX4NBKEYRVET7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALW6FJEKIH4ISPVRNSCSOZPTOSLYTS26XNKVJPMCDZ6HZRQ6S7DQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WBWMAF5FJXEV4P33P7CSR3OHUI3QUUDTYTKBXV5BKFD2YVZTDNVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMHDGNBPNRWWUSFOUIUBSRBWWCDIV7LULOXGXXTHKZLECG33RWKQ/main.js"
            ]
        },
        "ListProductVersions": {
            "http": {
                "method": "GET",
                "requestUri": "/products/{productCode}/versions",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "productCode"
                ],
                "members": {
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "productCode": {
                        "location": "uri",
                        "locationName": "productCode"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "versions"
                ],
                "members": {
                    "nextToken": {},
                    "versions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "createdTime": {
                                    "type": "timestamp"
                                },
                                "productCode": {},
                                "version": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AE3N3WEUJ4R6VEEUKVRRX7Z66SCPFNRSPNWUJ5ZNPVX462MS6RAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOBZHJGJP7P7UXMWB2RAZMFTLXN7N6UBGYA4SNJMOXPOQGPJPWQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DGGBNUI2AQZZKHN2XCN5MROWKZISELQLWVTZ6UCE3TKUUZTOXLBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJZ2GOYWJSQ5IHANM72DITEUDJQSUER5LRDVB5Y3X3QZTDUUNAKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ENE42UHF632M42ZQOJ25QZ2NRC4TNLP4TEMGON32OB6T3S57I6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNNSFLHKBNJZXQVTB3ATX4LC6QV52QTY4ZO4FMBQ7GCFSYU7SPXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVVQNECE43VQ5ZWPVXKJUNLH47FDJCZ3FZNKZO4VB35SDTWVVHQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3P7YKMXYLTHRJ6YKJMNUCELW3M44VNCZY66EHHDOYEQHB24MLZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62T7CEOBQ3UZOI3PMGQ7GFP44FOVN2UP5A7HY2C423MWZMIJH7SQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F25UMLHSRQLAAFFO3AQ336RPD7OEEDAPJOW4JK745CY5J23XKMNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPDP7LLFYRHIULKXSY5GCXI2SLHKROMWQUG4M45YZCUIPI7MVX7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53ZRXUZMRQYLTUWD7242A3VNPOV2RFRMAVIWOCKNRB4SAWE4PRPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CR7KTBOIVY6TP2XYIGIETNVE3GLK67YW2AZEORDLC5GUFEBQT3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPHT7UWTCXC6JT6PDNIHUMQBSAUU35CXBKCOJW5VNSQXPMUSXNTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5QHVPPWHKM5NSDRARPZM3YSR5ZZQP3HLSQHQWEBL4OHJ4IC7GSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZEFMXE3GBWH4PTT6HNSDT2PCYLAUYWTZNTKSTXOMGCFUJTRVMMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETBVXXV4FWR2I7UYGGLNNSK243PMOCTJTJLDHCKIEYV23GUCFBCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZS33ZZ3GEB3HSUX2PEADFFRYPSEUH7Y64OHJI7WZBZCIAYIW6RZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RGPIWR3A2PE4NOKYCIGAPSAQJCHJKL2T3WDPVPQR7CCVFLGZFTNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWJTGHGLMBAGMEO5E5FEIU2XSONFYCGMYYKIVASPOKQOAGWGMLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6POY67MBM7X63HZDWJLXRGPUN643YXYY5BXRCEX4NBKEYRVET7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALW6FJEKIH4ISPVRNSCSOZPTOSLYTS26XNKVJPMCDZ6HZRQ6S7DQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WBWMAF5FJXEV4P33P7CSR3OHUI3QUUDTYTKBXV5BKFD2YVZTDNVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMHDGNBPNRWWUSFOUIUBSRBWWCDIV7LULOXGXXTHKZLECG33RWKQ/main.js"
            ]
        },
        "ListProducts": {
            "http": {
                "method": "GET",
                "requestUri": "/products",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "productList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "authorName": {},
                                "createdTime": {
                                    "type": "timestamp"
                                },
                                "isEntitled": {
                                    "type": "boolean"
                                },
                                "latestProductVersion": {},
                                "panoramaProductImageUrl": {},
                                "productCode": {},
                                "productName": {},
                                "productShortDescription": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AE3N3WEUJ4R6VEEUKVRRX7Z66SCPFNRSPNWUJ5ZNPVX462MS6RAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOBZHJGJP7P7UXMWB2RAZMFTLXN7N6UBGYA4SNJMOXPOQGPJPWQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DGGBNUI2AQZZKHN2XCN5MROWKZISELQLWVTZ6UCE3TKUUZTOXLBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJZ2GOYWJSQ5IHANM72DITEUDJQSUER5LRDVB5Y3X3QZTDUUNAKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ENE42UHF632M42ZQOJ25QZ2NRC4TNLP4TEMGON32OB6T3S57I6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNNSFLHKBNJZXQVTB3ATX4LC6QV52QTY4ZO4FMBQ7GCFSYU7SPXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVVQNECE43VQ5ZWPVXKJUNLH47FDJCZ3FZNKZO4VB35SDTWVVHQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3P7YKMXYLTHRJ6YKJMNUCELW3M44VNCZY66EHHDOYEQHB24MLZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62T7CEOBQ3UZOI3PMGQ7GFP44FOVN2UP5A7HY2C423MWZMIJH7SQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F25UMLHSRQLAAFFO3AQ336RPD7OEEDAPJOW4JK745CY5J23XKMNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPDP7LLFYRHIULKXSY5GCXI2SLHKROMWQUG4M45YZCUIPI7MVX7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53ZRXUZMRQYLTUWD7242A3VNPOV2RFRMAVIWOCKNRB4SAWE4PRPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CR7KTBOIVY6TP2XYIGIETNVE3GLK67YW2AZEORDLC5GUFEBQT3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPHT7UWTCXC6JT6PDNIHUMQBSAUU35CXBKCOJW5VNSQXPMUSXNTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5QHVPPWHKM5NSDRARPZM3YSR5ZZQP3HLSQHQWEBL4OHJ4IC7GSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZEFMXE3GBWH4PTT6HNSDT2PCYLAUYWTZNTKSTXOMGCFUJTRVMMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETBVXXV4FWR2I7UYGGLNNSK243PMOCTJTJLDHCKIEYV23GUCFBCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZS33ZZ3GEB3HSUX2PEADFFRYPSEUH7Y64OHJI7WZBZCIAYIW6RZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RGPIWR3A2PE4NOKYCIGAPSAQJCHJKL2T3WDPVPQR7CCVFLGZFTNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWJTGHGLMBAGMEO5E5FEIU2XSONFYCGMYYKIVASPOKQOAGWGMLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6POY67MBM7X63HZDWJLXRGPUN643YXYY5BXRCEX4NBKEYRVET7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALW6FJEKIH4ISPVRNSCSOZPTOSLYTS26XNKVJPMCDZ6HZRQ6S7DQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WBWMAF5FJXEV4P33P7CSR3OHUI3QUUDTYTKBXV5BKFD2YVZTDNVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMHDGNBPNRWWUSFOUIUBSRBWWCDIV7LULOXGXXTHKZLECG33RWKQ/main.js"
            ]
        },
        "UpdateProduct": {
            "http": {
                "method": "PUT",
                "requestUri": "/products/{productCode}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "productCode",
                    "sellerAccountId"
                ],
                "members": {
                    "image": {},
                    "longDescription": {},
                    "productCode": {
                        "location": "uri",
                        "locationName": "productCode"
                    },
                    "sellerAccountId": {},
                    "shortDescription": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "productCode": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AE3N3WEUJ4R6VEEUKVRRX7Z66SCPFNRSPNWUJ5ZNPVX462MS6RAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOBZHJGJP7P7UXMWB2RAZMFTLXN7N6UBGYA4SNJMOXPOQGPJPWQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DGGBNUI2AQZZKHN2XCN5MROWKZISELQLWVTZ6UCE3TKUUZTOXLBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJZ2GOYWJSQ5IHANM72DITEUDJQSUER5LRDVB5Y3X3QZTDUUNAKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ENE42UHF632M42ZQOJ25QZ2NRC4TNLP4TEMGON32OB6T3S57I6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNNSFLHKBNJZXQVTB3ATX4LC6QV52QTY4ZO4FMBQ7GCFSYU7SPXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVVQNECE43VQ5ZWPVXKJUNLH47FDJCZ3FZNKZO4VB35SDTWVVHQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3P7YKMXYLTHRJ6YKJMNUCELW3M44VNCZY66EHHDOYEQHB24MLZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62T7CEOBQ3UZOI3PMGQ7GFP44FOVN2UP5A7HY2C423MWZMIJH7SQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F25UMLHSRQLAAFFO3AQ336RPD7OEEDAPJOW4JK745CY5J23XKMNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPDP7LLFYRHIULKXSY5GCXI2SLHKROMWQUG4M45YZCUIPI7MVX7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53ZRXUZMRQYLTUWD7242A3VNPOV2RFRMAVIWOCKNRB4SAWE4PRPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CR7KTBOIVY6TP2XYIGIETNVE3GLK67YW2AZEORDLC5GUFEBQT3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPHT7UWTCXC6JT6PDNIHUMQBSAUU35CXBKCOJW5VNSQXPMUSXNTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5QHVPPWHKM5NSDRARPZM3YSR5ZZQP3HLSQHQWEBL4OHJ4IC7GSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZEFMXE3GBWH4PTT6HNSDT2PCYLAUYWTZNTKSTXOMGCFUJTRVMMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETBVXXV4FWR2I7UYGGLNNSK243PMOCTJTJLDHCKIEYV23GUCFBCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZS33ZZ3GEB3HSUX2PEADFFRYPSEUH7Y64OHJI7WZBZCIAYIW6RZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RGPIWR3A2PE4NOKYCIGAPSAQJCHJKL2T3WDPVPQR7CCVFLGZFTNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWJTGHGLMBAGMEO5E5FEIU2XSONFYCGMYYKIVASPOKQOAGWGMLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6POY67MBM7X63HZDWJLXRGPUN643YXYY5BXRCEX4NBKEYRVET7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALW6FJEKIH4ISPVRNSCSOZPTOSLYTS26XNKVJPMCDZ6HZRQ6S7DQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WBWMAF5FJXEV4P33P7CSR3OHUI3QUUDTYTKBXV5BKFD2YVZTDNVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMHDGNBPNRWWUSFOUIUBSRBWWCDIV7LULOXGXXTHKZLECG33RWKQ/main.js"
            ]
        },
        "UpdateProductVersion": {
            "http": {
                "method": "PUT",
                "requestUri": "/products/{productCode}/versions/{version}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "productCode",
                    "sellerAccountId",
                    "version"
                ],
                "members": {
                    "permissions": {
                        "shape": "S7"
                    },
                    "productCode": {
                        "location": "uri",
                        "locationName": "productCode"
                    },
                    "releaseNote": {},
                    "sellerAccountId": {},
                    "version": {
                        "location": "uri",
                        "locationName": "version"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "productCode": {},
                    "version": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AE3N3WEUJ4R6VEEUKVRRX7Z66SCPFNRSPNWUJ5ZNPVX462MS6RAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOBZHJGJP7P7UXMWB2RAZMFTLXN7N6UBGYA4SNJMOXPOQGPJPWQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DGGBNUI2AQZZKHN2XCN5MROWKZISELQLWVTZ6UCE3TKUUZTOXLBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJZ2GOYWJSQ5IHANM72DITEUDJQSUER5LRDVB5Y3X3QZTDUUNAKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ENE42UHF632M42ZQOJ25QZ2NRC4TNLP4TEMGON32OB6T3S57I6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNNSFLHKBNJZXQVTB3ATX4LC6QV52QTY4ZO4FMBQ7GCFSYU7SPXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVVQNECE43VQ5ZWPVXKJUNLH47FDJCZ3FZNKZO4VB35SDTWVVHQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3P7YKMXYLTHRJ6YKJMNUCELW3M44VNCZY66EHHDOYEQHB24MLZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62T7CEOBQ3UZOI3PMGQ7GFP44FOVN2UP5A7HY2C423MWZMIJH7SQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F25UMLHSRQLAAFFO3AQ336RPD7OEEDAPJOW4JK745CY5J23XKMNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPDP7LLFYRHIULKXSY5GCXI2SLHKROMWQUG4M45YZCUIPI7MVX7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53ZRXUZMRQYLTUWD7242A3VNPOV2RFRMAVIWOCKNRB4SAWE4PRPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CR7KTBOIVY6TP2XYIGIETNVE3GLK67YW2AZEORDLC5GUFEBQT3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPHT7UWTCXC6JT6PDNIHUMQBSAUU35CXBKCOJW5VNSQXPMUSXNTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5QHVPPWHKM5NSDRARPZM3YSR5ZZQP3HLSQHQWEBL4OHJ4IC7GSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZEFMXE3GBWH4PTT6HNSDT2PCYLAUYWTZNTKSTXOMGCFUJTRVMMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETBVXXV4FWR2I7UYGGLNNSK243PMOCTJTJLDHCKIEYV23GUCFBCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZS33ZZ3GEB3HSUX2PEADFFRYPSEUH7Y64OHJI7WZBZCIAYIW6RZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RGPIWR3A2PE4NOKYCIGAPSAQJCHJKL2T3WDPVPQR7CCVFLGZFTNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWJTGHGLMBAGMEO5E5FEIU2XSONFYCGMYYKIVASPOKQOAGWGMLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6POY67MBM7X63HZDWJLXRGPUN643YXYY5BXRCEX4NBKEYRVET7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALW6FJEKIH4ISPVRNSCSOZPTOSLYTS26XNKVJPMCDZ6HZRQ6S7DQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WBWMAF5FJXEV4P33P7CSR3OHUI3QUUDTYTKBXV5BKFD2YVZTDNVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMHDGNBPNRWWUSFOUIUBSRBWWCDIV7LULOXGXXTHKZLECG33RWKQ/main.js"
            ]
        }
    },
    "shapes": {
        "S7": {
            "type": "structure",
            "members": {
                "cfnTemplateName": {},
                "cfnTemplateUri": {},
                "permissions": {
                    "type": "map",
                    "key": {},
                    "value": {
                        "type": "structure",
                        "members": {
                            "accessLevel": {
                                "type": "list",
                                "member": {
                                    "type": "map",
                                    "key": {},
                                    "value": {
                                        "type": "list",
                                        "member": {}
                                    }
                                }
                            },
                            "description": {},
                            "resource": {}
                        }
                    }
                },
                "roleName": {}
            }
        },
        "S8": {
            "type": "structure",
            "members": {
                "permissions": {
                    "type": "map",
                    "key": {},
                    "value": {
                        "type": "structure",
                        "members": {
                            "description": {},
                            "accessLevel": {
                                "type": "list",
                                "member": {
                                    "type": "map",
                                    "key": {},
                                    "value": {
                                        "type": "list",
                                        "member": {}
                                    }
                                }
                            },
                            "resource": {}
                        }
                    }
                },
                "roleName": {},
                "cfnTemplateUri": {},
                "cfnTemplateName": {}
            }
        }
    }
}