{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2019-07-24",
        "endpointPrefix": "panoramawebsocket",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "A beautiful and amazing AWSOmniMaglevLambda",
        "serviceId": "PanoramaWebsocket",
        "signatureVersion": "v4",
        "signingName": "panorama",
        "uid": "panoramawebsocket-2019-07-24",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/PIBVIFNF323A46H3GGD62YEZ4ZDD4KNJL4HCIOGJLVXDQMXVUG6Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/G4O5Z6YJERXKKDZWGU2YBRRBWGEA642ZUFH3DQLGMDD4DJG25TYA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AE3N3WEUJ4R6VEEUKVRRX7Z66SCPFNRSPNWUJ5ZNPVX462MS6RAQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GOBZHJGJP7P7UXMWB2RAZMFTLXN7N6UBGYA4SNJMOXPOQGPJPWQA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DGGBNUI2AQZZKHN2XCN5MROWKZISELQLWVTZ6UCE3TKUUZTOXLBQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KJZ2GOYWJSQ5IHANM72DITEUDJQSUER5LRDVB5Y3X3QZTDUUNAKQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2ENE42UHF632M42ZQOJ25QZ2NRC4TNLP4TEMGON32OB6T3S57I6Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GNNSFLHKBNJZXQVTB3ATX4LC6QV52QTY4ZO4FMBQ7GCFSYU7SPXA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KVVQNECE43VQ5ZWPVXKJUNLH47FDJCZ3FZNKZO4VB35SDTWVVHQA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J3P7YKMXYLTHRJ6YKJMNUCELW3M44VNCZY66EHHDOYEQHB24MLZA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/62T7CEOBQ3UZOI3PMGQ7GFP44FOVN2UP5A7HY2C423MWZMIJH7SQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/F25UMLHSRQLAAFFO3AQ336RPD7OEEDAPJOW4JK745CY5J23XKMNQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WPDP7LLFYRHIULKXSY5GCXI2SLHKROMWQUG4M45YZCUIPI7MVX7Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/53ZRXUZMRQYLTUWD7242A3VNPOV2RFRMAVIWOCKNRB4SAWE4PRPQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2CR7KTBOIVY6TP2XYIGIETNVE3GLK67YW2AZEORDLC5GUFEBQT3A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BPHT7UWTCXC6JT6PDNIHUMQBSAUU35CXBKCOJW5VNSQXPMUSXNTQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z5QHVPPWHKM5NSDRARPZM3YSR5ZZQP3HLSQHQWEBL4OHJ4IC7GSQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KZEFMXE3GBWH4PTT6HNSDT2PCYLAUYWTZNTKSTXOMGCFUJTRVMMA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ETBVXXV4FWR2I7UYGGLNNSK243PMOCTJTJLDHCKIEYV23GUCFBCA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZS33ZZ3GEB3HSUX2PEADFFRYPSEUH7Y64OHJI7WZBZCIAYIW6RZA/main.js"
        ]
    },
    "operations": {
        "GetWebSocketURL": {
            "http": {
                "method": "GET",
                "requestUri": "/websocket",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "webSocketUrl": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIBVIFNF323A46H3GGD62YEZ4ZDD4KNJL4HCIOGJLVXDQMXVUG6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G4O5Z6YJERXKKDZWGU2YBRRBWGEA642ZUFH3DQLGMDD4DJG25TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AE3N3WEUJ4R6VEEUKVRRX7Z66SCPFNRSPNWUJ5ZNPVX462MS6RAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOBZHJGJP7P7UXMWB2RAZMFTLXN7N6UBGYA4SNJMOXPOQGPJPWQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DGGBNUI2AQZZKHN2XCN5MROWKZISELQLWVTZ6UCE3TKUUZTOXLBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJZ2GOYWJSQ5IHANM72DITEUDJQSUER5LRDVB5Y3X3QZTDUUNAKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ENE42UHF632M42ZQOJ25QZ2NRC4TNLP4TEMGON32OB6T3S57I6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNNSFLHKBNJZXQVTB3ATX4LC6QV52QTY4ZO4FMBQ7GCFSYU7SPXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVVQNECE43VQ5ZWPVXKJUNLH47FDJCZ3FZNKZO4VB35SDTWVVHQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3P7YKMXYLTHRJ6YKJMNUCELW3M44VNCZY66EHHDOYEQHB24MLZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62T7CEOBQ3UZOI3PMGQ7GFP44FOVN2UP5A7HY2C423MWZMIJH7SQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F25UMLHSRQLAAFFO3AQ336RPD7OEEDAPJOW4JK745CY5J23XKMNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPDP7LLFYRHIULKXSY5GCXI2SLHKROMWQUG4M45YZCUIPI7MVX7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53ZRXUZMRQYLTUWD7242A3VNPOV2RFRMAVIWOCKNRB4SAWE4PRPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CR7KTBOIVY6TP2XYIGIETNVE3GLK67YW2AZEORDLC5GUFEBQT3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPHT7UWTCXC6JT6PDNIHUMQBSAUU35CXBKCOJW5VNSQXPMUSXNTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5QHVPPWHKM5NSDRARPZM3YSR5ZZQP3HLSQHQWEBL4OHJ4IC7GSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZEFMXE3GBWH4PTT6HNSDT2PCYLAUYWTZNTKSTXOMGCFUJTRVMMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETBVXXV4FWR2I7UYGGLNNSK243PMOCTJTJLDHCKIEYV23GUCFBCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZS33ZZ3GEB3HSUX2PEADFFRYPSEUH7Y64OHJI7WZBZCIAYIW6RZA/main.js"
            ]
        },
        "SendMessage": {
            "http": {
                "requestUri": "/messages",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "accountId",
                    "message"
                ],
                "members": {
                    "accountId": {},
                    "message": {
                        "type": "structure",
                        "required": [
                            "version",
                            "type",
                            "payload"
                        ],
                        "members": {
                            "version": {},
                            "type": {},
                            "payload": {
                                "type": "structure",
                                "required": [
                                    "resourceType",
                                    "actionType",
                                    "resource",
                                    "actionResult"
                                ],
                                "members": {
                                    "resourceType": {},
                                    "actionType": {},
                                    "resource": {},
                                    "actionResult": {}
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "isDelivered": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIBVIFNF323A46H3GGD62YEZ4ZDD4KNJL4HCIOGJLVXDQMXVUG6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G4O5Z6YJERXKKDZWGU2YBRRBWGEA642ZUFH3DQLGMDD4DJG25TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AE3N3WEUJ4R6VEEUKVRRX7Z66SCPFNRSPNWUJ5ZNPVX462MS6RAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOBZHJGJP7P7UXMWB2RAZMFTLXN7N6UBGYA4SNJMOXPOQGPJPWQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DGGBNUI2AQZZKHN2XCN5MROWKZISELQLWVTZ6UCE3TKUUZTOXLBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJZ2GOYWJSQ5IHANM72DITEUDJQSUER5LRDVB5Y3X3QZTDUUNAKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ENE42UHF632M42ZQOJ25QZ2NRC4TNLP4TEMGON32OB6T3S57I6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNNSFLHKBNJZXQVTB3ATX4LC6QV52QTY4ZO4FMBQ7GCFSYU7SPXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVVQNECE43VQ5ZWPVXKJUNLH47FDJCZ3FZNKZO4VB35SDTWVVHQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3P7YKMXYLTHRJ6YKJMNUCELW3M44VNCZY66EHHDOYEQHB24MLZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62T7CEOBQ3UZOI3PMGQ7GFP44FOVN2UP5A7HY2C423MWZMIJH7SQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F25UMLHSRQLAAFFO3AQ336RPD7OEEDAPJOW4JK745CY5J23XKMNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPDP7LLFYRHIULKXSY5GCXI2SLHKROMWQUG4M45YZCUIPI7MVX7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53ZRXUZMRQYLTUWD7242A3VNPOV2RFRMAVIWOCKNRB4SAWE4PRPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CR7KTBOIVY6TP2XYIGIETNVE3GLK67YW2AZEORDLC5GUFEBQT3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPHT7UWTCXC6JT6PDNIHUMQBSAUU35CXBKCOJW5VNSQXPMUSXNTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5QHVPPWHKM5NSDRARPZM3YSR5ZZQP3HLSQHQWEBL4OHJ4IC7GSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZEFMXE3GBWH4PTT6HNSDT2PCYLAUYWTZNTKSTXOMGCFUJTRVMMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETBVXXV4FWR2I7UYGGLNNSK243PMOCTJTJLDHCKIEYV23GUCFBCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZS33ZZ3GEB3HSUX2PEADFFRYPSEUH7Y64OHJI7WZBZCIAYIW6RZA/main.js"
            ]
        }
    },
    "shapes": {}
}