{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2019-07-24",
        "endpointPrefix": "panoramawebsocket",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "A beautiful and amazing AWSOmniMaglevLambda",
        "serviceId": "PanoramaWebsocket",
        "signatureVersion": "v4",
        "signingName": "panorama",
        "uid": "panoramawebsocket-2019-07-24",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/WPDP7LLFYRHIULKXSY5GCXI2SLHKROMWQUG4M45YZCUIPI7MVX7Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/53ZRXUZMRQYLTUWD7242A3VNPOV2RFRMAVIWOCKNRB4SAWE4PRPQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2CR7KTBOIVY6TP2XYIGIETNVE3GLK67YW2AZEORDLC5GUFEBQT3A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BPHT7UWTCXC6JT6PDNIHUMQBSAUU35CXBKCOJW5VNSQXPMUSXNTQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z5QHVPPWHKM5NSDRARPZM3YSR5ZZQP3HLSQHQWEBL4OHJ4IC7GSQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KZEFMXE3GBWH4PTT6HNSDT2PCYLAUYWTZNTKSTXOMGCFUJTRVMMA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ETBVXXV4FWR2I7UYGGLNNSK243PMOCTJTJLDHCKIEYV23GUCFBCA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZS33ZZ3GEB3HSUX2PEADFFRYPSEUH7Y64OHJI7WZBZCIAYIW6RZA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RGPIWR3A2PE4NOKYCIGAPSAQJCHJKL2T3WDPVPQR7CCVFLGZFTNA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PWJTGHGLMBAGMEO5E5FEIU2XSONFYCGMYYKIVASPOKQOAGWGMLFQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Q6POY67MBM7X63HZDWJLXRGPUN643YXYY5BXRCEX4NBKEYRVET7Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ALW6FJEKIH4ISPVRNSCSOZPTOSLYTS26XNKVJPMCDZ6HZRQ6S7DQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WBWMAF5FJXEV4P33P7CSR3OHUI3QUUDTYTKBXV5BKFD2YVZTDNVA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NMHDGNBPNRWWUSFOUIUBSRBWWCDIV7LULOXGXXTHKZLECG33RWKQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MEUFACEMWLSJAIYMEHWV2ZZGRINSTBMI5P7NAN7IPMCBDT6VMYPA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BA4PRNVQDDOAMDP6B4QT27IOVS4IBKRH7QIRZMFECRBHUDLKGU6Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2TPXLCRZ6ASRO3LZPBIOIQ6XI5Q7DCU6DPW24P7P2EOJYXF5WQ6Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KNZMTXYIRTNTCM46LAX7AL2ZAIWPAKXOR6XL36C7MXDWLTFGP3DQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R7VU47J52B2RL6VUZAJZICPG23S3AALEFR4OHBTX7F3GK4KSUX3Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3NL4VMOZ6R7M4B2LEQ5WNVK6WIJTIURQ4EGULSQJNZQVQ6KOHDWA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MQIZU5PV5GJDKDEZBMPATK7HFHA4JB6RCBVY73JQC72AOC7NDUKA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PQTWZEBNLXML3UPD4ASWEQ27FG7NWZK37B2TUEPWXLGXFZF3RU7Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HR3CHWTZWRNZ2WAFYGY5K66WFHGHZ4MXHJJLBCVV526F7QXKRS5A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J4S4IKOLPLRC5C5CFGEPONRTTQB2GHSG7LKJQSHKE3ZKUNRWNTJA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PY7TGPPFWJJF6YUG4BKIUFOHFU2X5U74G2KET3FHUHKU3NNBKCRQ/main.js"
        ]
    },
    "operations": {
        "GetWebSocketURL": {
            "http": {
                "method": "GET",
                "requestUri": "/websocket",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "webSocketUrl": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/53ZRXUZMRQYLTUWD7242A3VNPOV2RFRMAVIWOCKNRB4SAWE4PRPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CR7KTBOIVY6TP2XYIGIETNVE3GLK67YW2AZEORDLC5GUFEBQT3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPHT7UWTCXC6JT6PDNIHUMQBSAUU35CXBKCOJW5VNSQXPMUSXNTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5QHVPPWHKM5NSDRARPZM3YSR5ZZQP3HLSQHQWEBL4OHJ4IC7GSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZEFMXE3GBWH4PTT6HNSDT2PCYLAUYWTZNTKSTXOMGCFUJTRVMMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETBVXXV4FWR2I7UYGGLNNSK243PMOCTJTJLDHCKIEYV23GUCFBCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZS33ZZ3GEB3HSUX2PEADFFRYPSEUH7Y64OHJI7WZBZCIAYIW6RZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RGPIWR3A2PE4NOKYCIGAPSAQJCHJKL2T3WDPVPQR7CCVFLGZFTNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWJTGHGLMBAGMEO5E5FEIU2XSONFYCGMYYKIVASPOKQOAGWGMLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6POY67MBM7X63HZDWJLXRGPUN643YXYY5BXRCEX4NBKEYRVET7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALW6FJEKIH4ISPVRNSCSOZPTOSLYTS26XNKVJPMCDZ6HZRQ6S7DQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WBWMAF5FJXEV4P33P7CSR3OHUI3QUUDTYTKBXV5BKFD2YVZTDNVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMHDGNBPNRWWUSFOUIUBSRBWWCDIV7LULOXGXXTHKZLECG33RWKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MEUFACEMWLSJAIYMEHWV2ZZGRINSTBMI5P7NAN7IPMCBDT6VMYPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BA4PRNVQDDOAMDP6B4QT27IOVS4IBKRH7QIRZMFECRBHUDLKGU6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TPXLCRZ6ASRO3LZPBIOIQ6XI5Q7DCU6DPW24P7P2EOJYXF5WQ6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KNZMTXYIRTNTCM46LAX7AL2ZAIWPAKXOR6XL36C7MXDWLTFGP3DQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7VU47J52B2RL6VUZAJZICPG23S3AALEFR4OHBTX7F3GK4KSUX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NL4VMOZ6R7M4B2LEQ5WNVK6WIJTIURQ4EGULSQJNZQVQ6KOHDWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQIZU5PV5GJDKDEZBMPATK7HFHA4JB6RCBVY73JQC72AOC7NDUKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PQTWZEBNLXML3UPD4ASWEQ27FG7NWZK37B2TUEPWXLGXFZF3RU7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HR3CHWTZWRNZ2WAFYGY5K66WFHGHZ4MXHJJLBCVV526F7QXKRS5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4S4IKOLPLRC5C5CFGEPONRTTQB2GHSG7LKJQSHKE3ZKUNRWNTJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PY7TGPPFWJJF6YUG4BKIUFOHFU2X5U74G2KET3FHUHKU3NNBKCRQ/main.js"
            ]
        },
        "SendMessage": {
            "http": {
                "requestUri": "/messages",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "accountId",
                    "message"
                ],
                "members": {
                    "accountId": {},
                    "message": {
                        "type": "structure",
                        "required": [
                            "version",
                            "type",
                            "payload"
                        ],
                        "members": {
                            "version": {},
                            "type": {},
                            "payload": {
                                "type": "structure",
                                "required": [
                                    "resourceType",
                                    "actionType",
                                    "resource",
                                    "actionResult"
                                ],
                                "members": {
                                    "resourceType": {},
                                    "actionType": {},
                                    "resource": {},
                                    "actionResult": {}
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "isDelivered": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/53ZRXUZMRQYLTUWD7242A3VNPOV2RFRMAVIWOCKNRB4SAWE4PRPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CR7KTBOIVY6TP2XYIGIETNVE3GLK67YW2AZEORDLC5GUFEBQT3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPHT7UWTCXC6JT6PDNIHUMQBSAUU35CXBKCOJW5VNSQXPMUSXNTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5QHVPPWHKM5NSDRARPZM3YSR5ZZQP3HLSQHQWEBL4OHJ4IC7GSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZEFMXE3GBWH4PTT6HNSDT2PCYLAUYWTZNTKSTXOMGCFUJTRVMMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETBVXXV4FWR2I7UYGGLNNSK243PMOCTJTJLDHCKIEYV23GUCFBCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZS33ZZ3GEB3HSUX2PEADFFRYPSEUH7Y64OHJI7WZBZCIAYIW6RZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RGPIWR3A2PE4NOKYCIGAPSAQJCHJKL2T3WDPVPQR7CCVFLGZFTNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWJTGHGLMBAGMEO5E5FEIU2XSONFYCGMYYKIVASPOKQOAGWGMLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6POY67MBM7X63HZDWJLXRGPUN643YXYY5BXRCEX4NBKEYRVET7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALW6FJEKIH4ISPVRNSCSOZPTOSLYTS26XNKVJPMCDZ6HZRQ6S7DQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WBWMAF5FJXEV4P33P7CSR3OHUI3QUUDTYTKBXV5BKFD2YVZTDNVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMHDGNBPNRWWUSFOUIUBSRBWWCDIV7LULOXGXXTHKZLECG33RWKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MEUFACEMWLSJAIYMEHWV2ZZGRINSTBMI5P7NAN7IPMCBDT6VMYPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BA4PRNVQDDOAMDP6B4QT27IOVS4IBKRH7QIRZMFECRBHUDLKGU6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TPXLCRZ6ASRO3LZPBIOIQ6XI5Q7DCU6DPW24P7P2EOJYXF5WQ6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KNZMTXYIRTNTCM46LAX7AL2ZAIWPAKXOR6XL36C7MXDWLTFGP3DQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7VU47J52B2RL6VUZAJZICPG23S3AALEFR4OHBTX7F3GK4KSUX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NL4VMOZ6R7M4B2LEQ5WNVK6WIJTIURQ4EGULSQJNZQVQ6KOHDWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQIZU5PV5GJDKDEZBMPATK7HFHA4JB6RCBVY73JQC72AOC7NDUKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PQTWZEBNLXML3UPD4ASWEQ27FG7NWZK37B2TUEPWXLGXFZF3RU7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HR3CHWTZWRNZ2WAFYGY5K66WFHGHZ4MXHJJLBCVV526F7QXKRS5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4S4IKOLPLRC5C5CFGEPONRTTQB2GHSG7LKJQSHKE3ZKUNRWNTJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PY7TGPPFWJJF6YUG4BKIUFOHFU2X5U74G2KET3FHUHKU3NNBKCRQ/main.js"
            ]
        }
    },
    "shapes": {}
}