{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2021-09-14",
        "endpointPrefix": "controlplane.payment-cryptography",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceFullName": "AWS Payment Cryptography",
        "serviceId": "PaymentCryptography",
        "signatureVersion": "v4",
        "signingName": "payment-cryptography",
        "targetPrefix": "PaymentCryptographyControlPlane",
        "uid": "paymentcryptography-2021-09-14",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/5ERD62DJU2PTCHMS35N6SAKMBSPNYHCYU5CSCOO7YXCGKQAXFZ5A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6WSIAZBWA5DJ3SXWJOGNJCA4MWGHK5O4FERKR4WVZTWCTV3L3CHQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CE7WNZHST6ONPPNSZRVZLQK3KT3N2SGWC3SG7EYKUGM5TYMH6OWA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6WTTWEGFVME3RTUFQYYWMSL4AEM4JK6HHXNH5QGB3TH7QNGAHWCQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OOLAG4XTRKKHISOTYSITGPYODFDWA52MLNH5DJQFFJHNX3COLAAA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UAZP2CXX7OUULH5NQMVEO6ELSNFOA3B6SI5UPW5HRILI47OVZOYQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FPX6I34JG7ROX3WTB63FDU6PXWNB5BNICCIY72VKFZZCUFVVFTNA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UR2GZ6LEPMVDJJ5UO7BMRVNY4K4YW6DABBLEJRRN6QMMAVT55CZQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YQXTBL5N7QUXD74BTWAIHLAOS3CCNG77H5XVOG2UWX6BCAW22BYA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZN3X2VIQSCVMNPVXYWJRUTIEOOY34Q6HGHU2R4KKI7LIIDYYPULQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KADHOWI2TN62JI7EEQ6PS3AG5Z7LWZZOU7OF44F5OI4L367RRVVQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UBBW3F36KQ6BGQI7OKJH2VP3E4HCJ2JUFLTQC7RHKOOWI6VTHCZA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ONR2RPVIKDOPLYAENUIIULBUVGSKCYRPWPEZFKGQH7V37R5LAB5A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VSBA5FLBA6L4AOE2JXIRTPVASJ5BNBMRHIGJFHIW65ODUR2K7DSQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Y2KEP7YAXCZHJXHGLUEGR7CZNTOPPYKX24Z4SATNQIG5HFFOJF4Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/G6ADL5EJPOVY45G3UTKOI5V3UYVWEQWAN4NLHOKZ4I5QNZMT3JAQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6542QSN655UMPMMWVPTWBNHI5HFCWORJYVFBMJCDDTZ4FRHBNQXQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L34CHHTSEG6OPKF7NPQO2JHWWZGFKNDEJMBMVTQQ6ZNR3QFDABQQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WSKBWCCQJWICSOZTPNTN3NPG2M5APMJDB2SCXXB4SS5N7EXYFVJA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RQ6JQDHOIDGJBZ2YFVZ2HAPY4LM2ZCMBQ7SRROY5IQAV4OQQTWNA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XYZNRVB4V52S354U7V4FSMCHNC55XB4QZKKGMB3IFKNMOTHY37MQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RGCZOJ5AGOTKHLNMZQBE5XUT46STROSHOCHLILUKC6ZE6FC6RMPQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7J6NS72PNZPVJ7N5SENBPYAZWO5Y6CKPWZ2CRDFQ3MKJ2GKRKJ4A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KGYAK6OCGGNG2XBB5E5H2VKMKQSXFYYWKXLHEI56KBYKO6NKHX7A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DTIH2XRGISQIV4QAEWQNGZBBDQKXNVQPCDB4ZXMHI7FB2YXWOLJQ/main.js"
        ]
    },
    "operations": {
        "CreateAlias": {
            "input": {
                "type": "structure",
                "required": [
                    "AliasName"
                ],
                "members": {
                    "AliasName": {},
                    "KeyArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Alias"
                ],
                "members": {
                    "Alias": {
                        "shape": "S5"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WSIAZBWA5DJ3SXWJOGNJCA4MWGHK5O4FERKR4WVZTWCTV3L3CHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CE7WNZHST6ONPPNSZRVZLQK3KT3N2SGWC3SG7EYKUGM5TYMH6OWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WTTWEGFVME3RTUFQYYWMSL4AEM4JK6HHXNH5QGB3TH7QNGAHWCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OOLAG4XTRKKHISOTYSITGPYODFDWA52MLNH5DJQFFJHNX3COLAAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UAZP2CXX7OUULH5NQMVEO6ELSNFOA3B6SI5UPW5HRILI47OVZOYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPX6I34JG7ROX3WTB63FDU6PXWNB5BNICCIY72VKFZZCUFVVFTNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UR2GZ6LEPMVDJJ5UO7BMRVNY4K4YW6DABBLEJRRN6QMMAVT55CZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQXTBL5N7QUXD74BTWAIHLAOS3CCNG77H5XVOG2UWX6BCAW22BYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZN3X2VIQSCVMNPVXYWJRUTIEOOY34Q6HGHU2R4KKI7LIIDYYPULQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KADHOWI2TN62JI7EEQ6PS3AG5Z7LWZZOU7OF44F5OI4L367RRVVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UBBW3F36KQ6BGQI7OKJH2VP3E4HCJ2JUFLTQC7RHKOOWI6VTHCZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ONR2RPVIKDOPLYAENUIIULBUVGSKCYRPWPEZFKGQH7V37R5LAB5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VSBA5FLBA6L4AOE2JXIRTPVASJ5BNBMRHIGJFHIW65ODUR2K7DSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y2KEP7YAXCZHJXHGLUEGR7CZNTOPPYKX24Z4SATNQIG5HFFOJF4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G6ADL5EJPOVY45G3UTKOI5V3UYVWEQWAN4NLHOKZ4I5QNZMT3JAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6542QSN655UMPMMWVPTWBNHI5HFCWORJYVFBMJCDDTZ4FRHBNQXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L34CHHTSEG6OPKF7NPQO2JHWWZGFKNDEJMBMVTQQ6ZNR3QFDABQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSKBWCCQJWICSOZTPNTN3NPG2M5APMJDB2SCXXB4SS5N7EXYFVJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQ6JQDHOIDGJBZ2YFVZ2HAPY4LM2ZCMBQ7SRROY5IQAV4OQQTWNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYZNRVB4V52S354U7V4FSMCHNC55XB4QZKKGMB3IFKNMOTHY37MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RGCZOJ5AGOTKHLNMZQBE5XUT46STROSHOCHLILUKC6ZE6FC6RMPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7J6NS72PNZPVJ7N5SENBPYAZWO5Y6CKPWZ2CRDFQ3MKJ2GKRKJ4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KGYAK6OCGGNG2XBB5E5H2VKMKQSXFYYWKXLHEI56KBYKO6NKHX7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTIH2XRGISQIV4QAEWQNGZBBDQKXNVQPCDB4ZXMHI7FB2YXWOLJQ/main.js"
            ]
        },
        "CreateKey": {
            "input": {
                "type": "structure",
                "required": [
                    "KeyAttributes",
                    "Exportable"
                ],
                "members": {
                    "KeyAttributes": {
                        "shape": "S7"
                    },
                    "KeyCheckValueAlgorithm": {},
                    "Exportable": {
                        "type": "boolean"
                    },
                    "Enabled": {
                        "type": "boolean"
                    },
                    "Tags": {
                        "shape": "Sf"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Key"
                ],
                "members": {
                    "Key": {
                        "shape": "Sk"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WSIAZBWA5DJ3SXWJOGNJCA4MWGHK5O4FERKR4WVZTWCTV3L3CHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CE7WNZHST6ONPPNSZRVZLQK3KT3N2SGWC3SG7EYKUGM5TYMH6OWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WTTWEGFVME3RTUFQYYWMSL4AEM4JK6HHXNH5QGB3TH7QNGAHWCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OOLAG4XTRKKHISOTYSITGPYODFDWA52MLNH5DJQFFJHNX3COLAAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UAZP2CXX7OUULH5NQMVEO6ELSNFOA3B6SI5UPW5HRILI47OVZOYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPX6I34JG7ROX3WTB63FDU6PXWNB5BNICCIY72VKFZZCUFVVFTNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UR2GZ6LEPMVDJJ5UO7BMRVNY4K4YW6DABBLEJRRN6QMMAVT55CZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQXTBL5N7QUXD74BTWAIHLAOS3CCNG77H5XVOG2UWX6BCAW22BYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZN3X2VIQSCVMNPVXYWJRUTIEOOY34Q6HGHU2R4KKI7LIIDYYPULQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KADHOWI2TN62JI7EEQ6PS3AG5Z7LWZZOU7OF44F5OI4L367RRVVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UBBW3F36KQ6BGQI7OKJH2VP3E4HCJ2JUFLTQC7RHKOOWI6VTHCZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ONR2RPVIKDOPLYAENUIIULBUVGSKCYRPWPEZFKGQH7V37R5LAB5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VSBA5FLBA6L4AOE2JXIRTPVASJ5BNBMRHIGJFHIW65ODUR2K7DSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y2KEP7YAXCZHJXHGLUEGR7CZNTOPPYKX24Z4SATNQIG5HFFOJF4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G6ADL5EJPOVY45G3UTKOI5V3UYVWEQWAN4NLHOKZ4I5QNZMT3JAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6542QSN655UMPMMWVPTWBNHI5HFCWORJYVFBMJCDDTZ4FRHBNQXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L34CHHTSEG6OPKF7NPQO2JHWWZGFKNDEJMBMVTQQ6ZNR3QFDABQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSKBWCCQJWICSOZTPNTN3NPG2M5APMJDB2SCXXB4SS5N7EXYFVJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQ6JQDHOIDGJBZ2YFVZ2HAPY4LM2ZCMBQ7SRROY5IQAV4OQQTWNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYZNRVB4V52S354U7V4FSMCHNC55XB4QZKKGMB3IFKNMOTHY37MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RGCZOJ5AGOTKHLNMZQBE5XUT46STROSHOCHLILUKC6ZE6FC6RMPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7J6NS72PNZPVJ7N5SENBPYAZWO5Y6CKPWZ2CRDFQ3MKJ2GKRKJ4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KGYAK6OCGGNG2XBB5E5H2VKMKQSXFYYWKXLHEI56KBYKO6NKHX7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTIH2XRGISQIV4QAEWQNGZBBDQKXNVQPCDB4ZXMHI7FB2YXWOLJQ/main.js"
            ]
        },
        "DeleteAlias": {
            "input": {
                "type": "structure",
                "required": [
                    "AliasName"
                ],
                "members": {
                    "AliasName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WSIAZBWA5DJ3SXWJOGNJCA4MWGHK5O4FERKR4WVZTWCTV3L3CHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CE7WNZHST6ONPPNSZRVZLQK3KT3N2SGWC3SG7EYKUGM5TYMH6OWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WTTWEGFVME3RTUFQYYWMSL4AEM4JK6HHXNH5QGB3TH7QNGAHWCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OOLAG4XTRKKHISOTYSITGPYODFDWA52MLNH5DJQFFJHNX3COLAAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UAZP2CXX7OUULH5NQMVEO6ELSNFOA3B6SI5UPW5HRILI47OVZOYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPX6I34JG7ROX3WTB63FDU6PXWNB5BNICCIY72VKFZZCUFVVFTNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UR2GZ6LEPMVDJJ5UO7BMRVNY4K4YW6DABBLEJRRN6QMMAVT55CZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQXTBL5N7QUXD74BTWAIHLAOS3CCNG77H5XVOG2UWX6BCAW22BYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZN3X2VIQSCVMNPVXYWJRUTIEOOY34Q6HGHU2R4KKI7LIIDYYPULQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KADHOWI2TN62JI7EEQ6PS3AG5Z7LWZZOU7OF44F5OI4L367RRVVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UBBW3F36KQ6BGQI7OKJH2VP3E4HCJ2JUFLTQC7RHKOOWI6VTHCZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ONR2RPVIKDOPLYAENUIIULBUVGSKCYRPWPEZFKGQH7V37R5LAB5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VSBA5FLBA6L4AOE2JXIRTPVASJ5BNBMRHIGJFHIW65ODUR2K7DSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y2KEP7YAXCZHJXHGLUEGR7CZNTOPPYKX24Z4SATNQIG5HFFOJF4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G6ADL5EJPOVY45G3UTKOI5V3UYVWEQWAN4NLHOKZ4I5QNZMT3JAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6542QSN655UMPMMWVPTWBNHI5HFCWORJYVFBMJCDDTZ4FRHBNQXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L34CHHTSEG6OPKF7NPQO2JHWWZGFKNDEJMBMVTQQ6ZNR3QFDABQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSKBWCCQJWICSOZTPNTN3NPG2M5APMJDB2SCXXB4SS5N7EXYFVJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQ6JQDHOIDGJBZ2YFVZ2HAPY4LM2ZCMBQ7SRROY5IQAV4OQQTWNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYZNRVB4V52S354U7V4FSMCHNC55XB4QZKKGMB3IFKNMOTHY37MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RGCZOJ5AGOTKHLNMZQBE5XUT46STROSHOCHLILUKC6ZE6FC6RMPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7J6NS72PNZPVJ7N5SENBPYAZWO5Y6CKPWZ2CRDFQ3MKJ2GKRKJ4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KGYAK6OCGGNG2XBB5E5H2VKMKQSXFYYWKXLHEI56KBYKO6NKHX7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTIH2XRGISQIV4QAEWQNGZBBDQKXNVQPCDB4ZXMHI7FB2YXWOLJQ/main.js"
            ]
        },
        "DeleteKey": {
            "input": {
                "type": "structure",
                "required": [
                    "KeyIdentifier"
                ],
                "members": {
                    "KeyIdentifier": {},
                    "DeleteKeyInDays": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Key"
                ],
                "members": {
                    "Key": {
                        "shape": "Sk"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WSIAZBWA5DJ3SXWJOGNJCA4MWGHK5O4FERKR4WVZTWCTV3L3CHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CE7WNZHST6ONPPNSZRVZLQK3KT3N2SGWC3SG7EYKUGM5TYMH6OWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WTTWEGFVME3RTUFQYYWMSL4AEM4JK6HHXNH5QGB3TH7QNGAHWCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OOLAG4XTRKKHISOTYSITGPYODFDWA52MLNH5DJQFFJHNX3COLAAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UAZP2CXX7OUULH5NQMVEO6ELSNFOA3B6SI5UPW5HRILI47OVZOYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPX6I34JG7ROX3WTB63FDU6PXWNB5BNICCIY72VKFZZCUFVVFTNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UR2GZ6LEPMVDJJ5UO7BMRVNY4K4YW6DABBLEJRRN6QMMAVT55CZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQXTBL5N7QUXD74BTWAIHLAOS3CCNG77H5XVOG2UWX6BCAW22BYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZN3X2VIQSCVMNPVXYWJRUTIEOOY34Q6HGHU2R4KKI7LIIDYYPULQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KADHOWI2TN62JI7EEQ6PS3AG5Z7LWZZOU7OF44F5OI4L367RRVVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UBBW3F36KQ6BGQI7OKJH2VP3E4HCJ2JUFLTQC7RHKOOWI6VTHCZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ONR2RPVIKDOPLYAENUIIULBUVGSKCYRPWPEZFKGQH7V37R5LAB5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VSBA5FLBA6L4AOE2JXIRTPVASJ5BNBMRHIGJFHIW65ODUR2K7DSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y2KEP7YAXCZHJXHGLUEGR7CZNTOPPYKX24Z4SATNQIG5HFFOJF4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G6ADL5EJPOVY45G3UTKOI5V3UYVWEQWAN4NLHOKZ4I5QNZMT3JAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6542QSN655UMPMMWVPTWBNHI5HFCWORJYVFBMJCDDTZ4FRHBNQXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L34CHHTSEG6OPKF7NPQO2JHWWZGFKNDEJMBMVTQQ6ZNR3QFDABQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSKBWCCQJWICSOZTPNTN3NPG2M5APMJDB2SCXXB4SS5N7EXYFVJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQ6JQDHOIDGJBZ2YFVZ2HAPY4LM2ZCMBQ7SRROY5IQAV4OQQTWNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYZNRVB4V52S354U7V4FSMCHNC55XB4QZKKGMB3IFKNMOTHY37MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RGCZOJ5AGOTKHLNMZQBE5XUT46STROSHOCHLILUKC6ZE6FC6RMPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7J6NS72PNZPVJ7N5SENBPYAZWO5Y6CKPWZ2CRDFQ3MKJ2GKRKJ4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KGYAK6OCGGNG2XBB5E5H2VKMKQSXFYYWKXLHEI56KBYKO6NKHX7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTIH2XRGISQIV4QAEWQNGZBBDQKXNVQPCDB4ZXMHI7FB2YXWOLJQ/main.js"
            ]
        },
        "ExportKey": {
            "input": {
                "type": "structure",
                "required": [
                    "KeyMaterial",
                    "ExportKeyIdentifier"
                ],
                "members": {
                    "KeyMaterial": {
                        "type": "structure",
                        "members": {
                            "Tr31KeyBlock": {
                                "type": "structure",
                                "required": [
                                    "WrappingKeyIdentifier"
                                ],
                                "members": {
                                    "WrappingKeyIdentifier": {}
                                }
                            },
                            "Tr34KeyBlock": {
                                "type": "structure",
                                "required": [
                                    "CertificateAuthorityPublicKeyIdentifier",
                                    "WrappingKeyCertificate",
                                    "ExportToken",
                                    "KeyBlockFormat"
                                ],
                                "members": {
                                    "CertificateAuthorityPublicKeyIdentifier": {},
                                    "WrappingKeyCertificate": {
                                        "shape": "Sz"
                                    },
                                    "ExportToken": {},
                                    "KeyBlockFormat": {},
                                    "RandomNonce": {}
                                }
                            }
                        },
                        "union": true
                    },
                    "ExportKeyIdentifier": {},
                    "ExportAttributes": {
                        "type": "structure",
                        "members": {
                            "ExportDukptInitialKey": {
                                "type": "structure",
                                "required": [
                                    "KeySerialNumber"
                                ],
                                "members": {
                                    "KeySerialNumber": {}
                                }
                            },
                            "KeyCheckValueAlgorithm": {}
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "WrappedKey": {
                        "type": "structure",
                        "required": [
                            "WrappingKeyArn",
                            "WrappedKeyMaterialFormat",
                            "KeyMaterial"
                        ],
                        "members": {
                            "WrappingKeyArn": {},
                            "WrappedKeyMaterialFormat": {},
                            "KeyMaterial": {
                                "type": "string",
                                "sensitive": true
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WSIAZBWA5DJ3SXWJOGNJCA4MWGHK5O4FERKR4WVZTWCTV3L3CHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CE7WNZHST6ONPPNSZRVZLQK3KT3N2SGWC3SG7EYKUGM5TYMH6OWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WTTWEGFVME3RTUFQYYWMSL4AEM4JK6HHXNH5QGB3TH7QNGAHWCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OOLAG4XTRKKHISOTYSITGPYODFDWA52MLNH5DJQFFJHNX3COLAAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UAZP2CXX7OUULH5NQMVEO6ELSNFOA3B6SI5UPW5HRILI47OVZOYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPX6I34JG7ROX3WTB63FDU6PXWNB5BNICCIY72VKFZZCUFVVFTNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UR2GZ6LEPMVDJJ5UO7BMRVNY4K4YW6DABBLEJRRN6QMMAVT55CZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQXTBL5N7QUXD74BTWAIHLAOS3CCNG77H5XVOG2UWX6BCAW22BYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZN3X2VIQSCVMNPVXYWJRUTIEOOY34Q6HGHU2R4KKI7LIIDYYPULQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KADHOWI2TN62JI7EEQ6PS3AG5Z7LWZZOU7OF44F5OI4L367RRVVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UBBW3F36KQ6BGQI7OKJH2VP3E4HCJ2JUFLTQC7RHKOOWI6VTHCZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ONR2RPVIKDOPLYAENUIIULBUVGSKCYRPWPEZFKGQH7V37R5LAB5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VSBA5FLBA6L4AOE2JXIRTPVASJ5BNBMRHIGJFHIW65ODUR2K7DSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y2KEP7YAXCZHJXHGLUEGR7CZNTOPPYKX24Z4SATNQIG5HFFOJF4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G6ADL5EJPOVY45G3UTKOI5V3UYVWEQWAN4NLHOKZ4I5QNZMT3JAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6542QSN655UMPMMWVPTWBNHI5HFCWORJYVFBMJCDDTZ4FRHBNQXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L34CHHTSEG6OPKF7NPQO2JHWWZGFKNDEJMBMVTQQ6ZNR3QFDABQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSKBWCCQJWICSOZTPNTN3NPG2M5APMJDB2SCXXB4SS5N7EXYFVJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQ6JQDHOIDGJBZ2YFVZ2HAPY4LM2ZCMBQ7SRROY5IQAV4OQQTWNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYZNRVB4V52S354U7V4FSMCHNC55XB4QZKKGMB3IFKNMOTHY37MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RGCZOJ5AGOTKHLNMZQBE5XUT46STROSHOCHLILUKC6ZE6FC6RMPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7J6NS72PNZPVJ7N5SENBPYAZWO5Y6CKPWZ2CRDFQ3MKJ2GKRKJ4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KGYAK6OCGGNG2XBB5E5H2VKMKQSXFYYWKXLHEI56KBYKO6NKHX7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTIH2XRGISQIV4QAEWQNGZBBDQKXNVQPCDB4ZXMHI7FB2YXWOLJQ/main.js"
            ]
        },
        "GetAlias": {
            "input": {
                "type": "structure",
                "required": [
                    "AliasName"
                ],
                "members": {
                    "AliasName": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Alias"
                ],
                "members": {
                    "Alias": {
                        "shape": "S5"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WSIAZBWA5DJ3SXWJOGNJCA4MWGHK5O4FERKR4WVZTWCTV3L3CHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CE7WNZHST6ONPPNSZRVZLQK3KT3N2SGWC3SG7EYKUGM5TYMH6OWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WTTWEGFVME3RTUFQYYWMSL4AEM4JK6HHXNH5QGB3TH7QNGAHWCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OOLAG4XTRKKHISOTYSITGPYODFDWA52MLNH5DJQFFJHNX3COLAAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UAZP2CXX7OUULH5NQMVEO6ELSNFOA3B6SI5UPW5HRILI47OVZOYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPX6I34JG7ROX3WTB63FDU6PXWNB5BNICCIY72VKFZZCUFVVFTNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UR2GZ6LEPMVDJJ5UO7BMRVNY4K4YW6DABBLEJRRN6QMMAVT55CZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQXTBL5N7QUXD74BTWAIHLAOS3CCNG77H5XVOG2UWX6BCAW22BYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZN3X2VIQSCVMNPVXYWJRUTIEOOY34Q6HGHU2R4KKI7LIIDYYPULQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KADHOWI2TN62JI7EEQ6PS3AG5Z7LWZZOU7OF44F5OI4L367RRVVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UBBW3F36KQ6BGQI7OKJH2VP3E4HCJ2JUFLTQC7RHKOOWI6VTHCZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ONR2RPVIKDOPLYAENUIIULBUVGSKCYRPWPEZFKGQH7V37R5LAB5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VSBA5FLBA6L4AOE2JXIRTPVASJ5BNBMRHIGJFHIW65ODUR2K7DSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y2KEP7YAXCZHJXHGLUEGR7CZNTOPPYKX24Z4SATNQIG5HFFOJF4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G6ADL5EJPOVY45G3UTKOI5V3UYVWEQWAN4NLHOKZ4I5QNZMT3JAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6542QSN655UMPMMWVPTWBNHI5HFCWORJYVFBMJCDDTZ4FRHBNQXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L34CHHTSEG6OPKF7NPQO2JHWWZGFKNDEJMBMVTQQ6ZNR3QFDABQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSKBWCCQJWICSOZTPNTN3NPG2M5APMJDB2SCXXB4SS5N7EXYFVJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQ6JQDHOIDGJBZ2YFVZ2HAPY4LM2ZCMBQ7SRROY5IQAV4OQQTWNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYZNRVB4V52S354U7V4FSMCHNC55XB4QZKKGMB3IFKNMOTHY37MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RGCZOJ5AGOTKHLNMZQBE5XUT46STROSHOCHLILUKC6ZE6FC6RMPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7J6NS72PNZPVJ7N5SENBPYAZWO5Y6CKPWZ2CRDFQ3MKJ2GKRKJ4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KGYAK6OCGGNG2XBB5E5H2VKMKQSXFYYWKXLHEI56KBYKO6NKHX7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTIH2XRGISQIV4QAEWQNGZBBDQKXNVQPCDB4ZXMHI7FB2YXWOLJQ/main.js"
            ]
        },
        "GetKey": {
            "input": {
                "type": "structure",
                "required": [
                    "KeyIdentifier"
                ],
                "members": {
                    "KeyIdentifier": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Key"
                ],
                "members": {
                    "Key": {
                        "shape": "Sk"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WSIAZBWA5DJ3SXWJOGNJCA4MWGHK5O4FERKR4WVZTWCTV3L3CHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CE7WNZHST6ONPPNSZRVZLQK3KT3N2SGWC3SG7EYKUGM5TYMH6OWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WTTWEGFVME3RTUFQYYWMSL4AEM4JK6HHXNH5QGB3TH7QNGAHWCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OOLAG4XTRKKHISOTYSITGPYODFDWA52MLNH5DJQFFJHNX3COLAAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UAZP2CXX7OUULH5NQMVEO6ELSNFOA3B6SI5UPW5HRILI47OVZOYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPX6I34JG7ROX3WTB63FDU6PXWNB5BNICCIY72VKFZZCUFVVFTNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UR2GZ6LEPMVDJJ5UO7BMRVNY4K4YW6DABBLEJRRN6QMMAVT55CZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQXTBL5N7QUXD74BTWAIHLAOS3CCNG77H5XVOG2UWX6BCAW22BYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZN3X2VIQSCVMNPVXYWJRUTIEOOY34Q6HGHU2R4KKI7LIIDYYPULQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KADHOWI2TN62JI7EEQ6PS3AG5Z7LWZZOU7OF44F5OI4L367RRVVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UBBW3F36KQ6BGQI7OKJH2VP3E4HCJ2JUFLTQC7RHKOOWI6VTHCZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ONR2RPVIKDOPLYAENUIIULBUVGSKCYRPWPEZFKGQH7V37R5LAB5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VSBA5FLBA6L4AOE2JXIRTPVASJ5BNBMRHIGJFHIW65ODUR2K7DSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y2KEP7YAXCZHJXHGLUEGR7CZNTOPPYKX24Z4SATNQIG5HFFOJF4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G6ADL5EJPOVY45G3UTKOI5V3UYVWEQWAN4NLHOKZ4I5QNZMT3JAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6542QSN655UMPMMWVPTWBNHI5HFCWORJYVFBMJCDDTZ4FRHBNQXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L34CHHTSEG6OPKF7NPQO2JHWWZGFKNDEJMBMVTQQ6ZNR3QFDABQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSKBWCCQJWICSOZTPNTN3NPG2M5APMJDB2SCXXB4SS5N7EXYFVJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQ6JQDHOIDGJBZ2YFVZ2HAPY4LM2ZCMBQ7SRROY5IQAV4OQQTWNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYZNRVB4V52S354U7V4FSMCHNC55XB4QZKKGMB3IFKNMOTHY37MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RGCZOJ5AGOTKHLNMZQBE5XUT46STROSHOCHLILUKC6ZE6FC6RMPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7J6NS72PNZPVJ7N5SENBPYAZWO5Y6CKPWZ2CRDFQ3MKJ2GKRKJ4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KGYAK6OCGGNG2XBB5E5H2VKMKQSXFYYWKXLHEI56KBYKO6NKHX7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTIH2XRGISQIV4QAEWQNGZBBDQKXNVQPCDB4ZXMHI7FB2YXWOLJQ/main.js"
            ]
        },
        "GetParametersForExport": {
            "input": {
                "type": "structure",
                "required": [
                    "KeyMaterialType",
                    "SigningKeyAlgorithm"
                ],
                "members": {
                    "KeyMaterialType": {},
                    "SigningKeyAlgorithm": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "SigningKeyCertificate",
                    "SigningKeyCertificateChain",
                    "SigningKeyAlgorithm",
                    "ExportToken",
                    "ParametersValidUntilTimestamp"
                ],
                "members": {
                    "SigningKeyCertificate": {
                        "shape": "Sz"
                    },
                    "SigningKeyCertificateChain": {
                        "shape": "Sz"
                    },
                    "SigningKeyAlgorithm": {},
                    "ExportToken": {},
                    "ParametersValidUntilTimestamp": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WSIAZBWA5DJ3SXWJOGNJCA4MWGHK5O4FERKR4WVZTWCTV3L3CHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CE7WNZHST6ONPPNSZRVZLQK3KT3N2SGWC3SG7EYKUGM5TYMH6OWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WTTWEGFVME3RTUFQYYWMSL4AEM4JK6HHXNH5QGB3TH7QNGAHWCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OOLAG4XTRKKHISOTYSITGPYODFDWA52MLNH5DJQFFJHNX3COLAAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UAZP2CXX7OUULH5NQMVEO6ELSNFOA3B6SI5UPW5HRILI47OVZOYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPX6I34JG7ROX3WTB63FDU6PXWNB5BNICCIY72VKFZZCUFVVFTNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UR2GZ6LEPMVDJJ5UO7BMRVNY4K4YW6DABBLEJRRN6QMMAVT55CZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQXTBL5N7QUXD74BTWAIHLAOS3CCNG77H5XVOG2UWX6BCAW22BYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZN3X2VIQSCVMNPVXYWJRUTIEOOY34Q6HGHU2R4KKI7LIIDYYPULQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KADHOWI2TN62JI7EEQ6PS3AG5Z7LWZZOU7OF44F5OI4L367RRVVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UBBW3F36KQ6BGQI7OKJH2VP3E4HCJ2JUFLTQC7RHKOOWI6VTHCZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ONR2RPVIKDOPLYAENUIIULBUVGSKCYRPWPEZFKGQH7V37R5LAB5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VSBA5FLBA6L4AOE2JXIRTPVASJ5BNBMRHIGJFHIW65ODUR2K7DSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y2KEP7YAXCZHJXHGLUEGR7CZNTOPPYKX24Z4SATNQIG5HFFOJF4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G6ADL5EJPOVY45G3UTKOI5V3UYVWEQWAN4NLHOKZ4I5QNZMT3JAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6542QSN655UMPMMWVPTWBNHI5HFCWORJYVFBMJCDDTZ4FRHBNQXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L34CHHTSEG6OPKF7NPQO2JHWWZGFKNDEJMBMVTQQ6ZNR3QFDABQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSKBWCCQJWICSOZTPNTN3NPG2M5APMJDB2SCXXB4SS5N7EXYFVJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQ6JQDHOIDGJBZ2YFVZ2HAPY4LM2ZCMBQ7SRROY5IQAV4OQQTWNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYZNRVB4V52S354U7V4FSMCHNC55XB4QZKKGMB3IFKNMOTHY37MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RGCZOJ5AGOTKHLNMZQBE5XUT46STROSHOCHLILUKC6ZE6FC6RMPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7J6NS72PNZPVJ7N5SENBPYAZWO5Y6CKPWZ2CRDFQ3MKJ2GKRKJ4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KGYAK6OCGGNG2XBB5E5H2VKMKQSXFYYWKXLHEI56KBYKO6NKHX7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTIH2XRGISQIV4QAEWQNGZBBDQKXNVQPCDB4ZXMHI7FB2YXWOLJQ/main.js"
            ]
        },
        "GetParametersForImport": {
            "input": {
                "type": "structure",
                "required": [
                    "KeyMaterialType",
                    "WrappingKeyAlgorithm"
                ],
                "members": {
                    "KeyMaterialType": {},
                    "WrappingKeyAlgorithm": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "WrappingKeyCertificate",
                    "WrappingKeyCertificateChain",
                    "WrappingKeyAlgorithm",
                    "ImportToken",
                    "ParametersValidUntilTimestamp"
                ],
                "members": {
                    "WrappingKeyCertificate": {
                        "shape": "Sz"
                    },
                    "WrappingKeyCertificateChain": {
                        "shape": "Sz"
                    },
                    "WrappingKeyAlgorithm": {},
                    "ImportToken": {},
                    "ParametersValidUntilTimestamp": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WSIAZBWA5DJ3SXWJOGNJCA4MWGHK5O4FERKR4WVZTWCTV3L3CHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CE7WNZHST6ONPPNSZRVZLQK3KT3N2SGWC3SG7EYKUGM5TYMH6OWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WTTWEGFVME3RTUFQYYWMSL4AEM4JK6HHXNH5QGB3TH7QNGAHWCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OOLAG4XTRKKHISOTYSITGPYODFDWA52MLNH5DJQFFJHNX3COLAAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UAZP2CXX7OUULH5NQMVEO6ELSNFOA3B6SI5UPW5HRILI47OVZOYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPX6I34JG7ROX3WTB63FDU6PXWNB5BNICCIY72VKFZZCUFVVFTNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UR2GZ6LEPMVDJJ5UO7BMRVNY4K4YW6DABBLEJRRN6QMMAVT55CZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQXTBL5N7QUXD74BTWAIHLAOS3CCNG77H5XVOG2UWX6BCAW22BYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZN3X2VIQSCVMNPVXYWJRUTIEOOY34Q6HGHU2R4KKI7LIIDYYPULQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KADHOWI2TN62JI7EEQ6PS3AG5Z7LWZZOU7OF44F5OI4L367RRVVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UBBW3F36KQ6BGQI7OKJH2VP3E4HCJ2JUFLTQC7RHKOOWI6VTHCZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ONR2RPVIKDOPLYAENUIIULBUVGSKCYRPWPEZFKGQH7V37R5LAB5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VSBA5FLBA6L4AOE2JXIRTPVASJ5BNBMRHIGJFHIW65ODUR2K7DSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y2KEP7YAXCZHJXHGLUEGR7CZNTOPPYKX24Z4SATNQIG5HFFOJF4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G6ADL5EJPOVY45G3UTKOI5V3UYVWEQWAN4NLHOKZ4I5QNZMT3JAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6542QSN655UMPMMWVPTWBNHI5HFCWORJYVFBMJCDDTZ4FRHBNQXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L34CHHTSEG6OPKF7NPQO2JHWWZGFKNDEJMBMVTQQ6ZNR3QFDABQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSKBWCCQJWICSOZTPNTN3NPG2M5APMJDB2SCXXB4SS5N7EXYFVJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQ6JQDHOIDGJBZ2YFVZ2HAPY4LM2ZCMBQ7SRROY5IQAV4OQQTWNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYZNRVB4V52S354U7V4FSMCHNC55XB4QZKKGMB3IFKNMOTHY37MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RGCZOJ5AGOTKHLNMZQBE5XUT46STROSHOCHLILUKC6ZE6FC6RMPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7J6NS72PNZPVJ7N5SENBPYAZWO5Y6CKPWZ2CRDFQ3MKJ2GKRKJ4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KGYAK6OCGGNG2XBB5E5H2VKMKQSXFYYWKXLHEI56KBYKO6NKHX7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTIH2XRGISQIV4QAEWQNGZBBDQKXNVQPCDB4ZXMHI7FB2YXWOLJQ/main.js"
            ]
        },
        "GetPublicKeyCertificate": {
            "input": {
                "type": "structure",
                "required": [
                    "KeyIdentifier"
                ],
                "members": {
                    "KeyIdentifier": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "KeyCertificate",
                    "KeyCertificateChain"
                ],
                "members": {
                    "KeyCertificate": {
                        "shape": "Sz"
                    },
                    "KeyCertificateChain": {
                        "shape": "Sz"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WSIAZBWA5DJ3SXWJOGNJCA4MWGHK5O4FERKR4WVZTWCTV3L3CHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CE7WNZHST6ONPPNSZRVZLQK3KT3N2SGWC3SG7EYKUGM5TYMH6OWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WTTWEGFVME3RTUFQYYWMSL4AEM4JK6HHXNH5QGB3TH7QNGAHWCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OOLAG4XTRKKHISOTYSITGPYODFDWA52MLNH5DJQFFJHNX3COLAAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UAZP2CXX7OUULH5NQMVEO6ELSNFOA3B6SI5UPW5HRILI47OVZOYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPX6I34JG7ROX3WTB63FDU6PXWNB5BNICCIY72VKFZZCUFVVFTNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UR2GZ6LEPMVDJJ5UO7BMRVNY4K4YW6DABBLEJRRN6QMMAVT55CZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQXTBL5N7QUXD74BTWAIHLAOS3CCNG77H5XVOG2UWX6BCAW22BYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZN3X2VIQSCVMNPVXYWJRUTIEOOY34Q6HGHU2R4KKI7LIIDYYPULQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KADHOWI2TN62JI7EEQ6PS3AG5Z7LWZZOU7OF44F5OI4L367RRVVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UBBW3F36KQ6BGQI7OKJH2VP3E4HCJ2JUFLTQC7RHKOOWI6VTHCZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ONR2RPVIKDOPLYAENUIIULBUVGSKCYRPWPEZFKGQH7V37R5LAB5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VSBA5FLBA6L4AOE2JXIRTPVASJ5BNBMRHIGJFHIW65ODUR2K7DSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y2KEP7YAXCZHJXHGLUEGR7CZNTOPPYKX24Z4SATNQIG5HFFOJF4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G6ADL5EJPOVY45G3UTKOI5V3UYVWEQWAN4NLHOKZ4I5QNZMT3JAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6542QSN655UMPMMWVPTWBNHI5HFCWORJYVFBMJCDDTZ4FRHBNQXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L34CHHTSEG6OPKF7NPQO2JHWWZGFKNDEJMBMVTQQ6ZNR3QFDABQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSKBWCCQJWICSOZTPNTN3NPG2M5APMJDB2SCXXB4SS5N7EXYFVJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQ6JQDHOIDGJBZ2YFVZ2HAPY4LM2ZCMBQ7SRROY5IQAV4OQQTWNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYZNRVB4V52S354U7V4FSMCHNC55XB4QZKKGMB3IFKNMOTHY37MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RGCZOJ5AGOTKHLNMZQBE5XUT46STROSHOCHLILUKC6ZE6FC6RMPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7J6NS72PNZPVJ7N5SENBPYAZWO5Y6CKPWZ2CRDFQ3MKJ2GKRKJ4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KGYAK6OCGGNG2XBB5E5H2VKMKQSXFYYWKXLHEI56KBYKO6NKHX7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTIH2XRGISQIV4QAEWQNGZBBDQKXNVQPCDB4ZXMHI7FB2YXWOLJQ/main.js"
            ]
        },
        "ImportKey": {
            "input": {
                "type": "structure",
                "required": [
                    "KeyMaterial"
                ],
                "members": {
                    "KeyMaterial": {
                        "type": "structure",
                        "members": {
                            "RootCertificatePublicKey": {
                                "type": "structure",
                                "required": [
                                    "KeyAttributes",
                                    "PublicKeyCertificate"
                                ],
                                "members": {
                                    "KeyAttributes": {
                                        "shape": "S7"
                                    },
                                    "PublicKeyCertificate": {
                                        "shape": "Sz"
                                    }
                                }
                            },
                            "TrustedCertificatePublicKey": {
                                "type": "structure",
                                "required": [
                                    "KeyAttributes",
                                    "PublicKeyCertificate",
                                    "CertificateAuthorityPublicKeyIdentifier"
                                ],
                                "members": {
                                    "KeyAttributes": {
                                        "shape": "S7"
                                    },
                                    "PublicKeyCertificate": {
                                        "shape": "Sz"
                                    },
                                    "CertificateAuthorityPublicKeyIdentifier": {}
                                }
                            },
                            "Tr31KeyBlock": {
                                "type": "structure",
                                "required": [
                                    "WrappingKeyIdentifier",
                                    "WrappedKeyBlock"
                                ],
                                "members": {
                                    "WrappingKeyIdentifier": {},
                                    "WrappedKeyBlock": {}
                                }
                            },
                            "Tr34KeyBlock": {
                                "type": "structure",
                                "required": [
                                    "CertificateAuthorityPublicKeyIdentifier",
                                    "SigningKeyCertificate",
                                    "ImportToken",
                                    "WrappedKeyBlock",
                                    "KeyBlockFormat"
                                ],
                                "members": {
                                    "CertificateAuthorityPublicKeyIdentifier": {},
                                    "SigningKeyCertificate": {
                                        "shape": "Sz"
                                    },
                                    "ImportToken": {},
                                    "WrappedKeyBlock": {},
                                    "KeyBlockFormat": {},
                                    "RandomNonce": {}
                                }
                            }
                        },
                        "union": true
                    },
                    "KeyCheckValueAlgorithm": {},
                    "Enabled": {
                        "type": "boolean"
                    },
                    "Tags": {
                        "shape": "Sf"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Key"
                ],
                "members": {
                    "Key": {
                        "shape": "Sk"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WSIAZBWA5DJ3SXWJOGNJCA4MWGHK5O4FERKR4WVZTWCTV3L3CHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CE7WNZHST6ONPPNSZRVZLQK3KT3N2SGWC3SG7EYKUGM5TYMH6OWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WTTWEGFVME3RTUFQYYWMSL4AEM4JK6HHXNH5QGB3TH7QNGAHWCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OOLAG4XTRKKHISOTYSITGPYODFDWA52MLNH5DJQFFJHNX3COLAAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UAZP2CXX7OUULH5NQMVEO6ELSNFOA3B6SI5UPW5HRILI47OVZOYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPX6I34JG7ROX3WTB63FDU6PXWNB5BNICCIY72VKFZZCUFVVFTNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UR2GZ6LEPMVDJJ5UO7BMRVNY4K4YW6DABBLEJRRN6QMMAVT55CZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQXTBL5N7QUXD74BTWAIHLAOS3CCNG77H5XVOG2UWX6BCAW22BYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZN3X2VIQSCVMNPVXYWJRUTIEOOY34Q6HGHU2R4KKI7LIIDYYPULQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KADHOWI2TN62JI7EEQ6PS3AG5Z7LWZZOU7OF44F5OI4L367RRVVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UBBW3F36KQ6BGQI7OKJH2VP3E4HCJ2JUFLTQC7RHKOOWI6VTHCZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ONR2RPVIKDOPLYAENUIIULBUVGSKCYRPWPEZFKGQH7V37R5LAB5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VSBA5FLBA6L4AOE2JXIRTPVASJ5BNBMRHIGJFHIW65ODUR2K7DSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y2KEP7YAXCZHJXHGLUEGR7CZNTOPPYKX24Z4SATNQIG5HFFOJF4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G6ADL5EJPOVY45G3UTKOI5V3UYVWEQWAN4NLHOKZ4I5QNZMT3JAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6542QSN655UMPMMWVPTWBNHI5HFCWORJYVFBMJCDDTZ4FRHBNQXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L34CHHTSEG6OPKF7NPQO2JHWWZGFKNDEJMBMVTQQ6ZNR3QFDABQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSKBWCCQJWICSOZTPNTN3NPG2M5APMJDB2SCXXB4SS5N7EXYFVJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQ6JQDHOIDGJBZ2YFVZ2HAPY4LM2ZCMBQ7SRROY5IQAV4OQQTWNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYZNRVB4V52S354U7V4FSMCHNC55XB4QZKKGMB3IFKNMOTHY37MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RGCZOJ5AGOTKHLNMZQBE5XUT46STROSHOCHLILUKC6ZE6FC6RMPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7J6NS72PNZPVJ7N5SENBPYAZWO5Y6CKPWZ2CRDFQ3MKJ2GKRKJ4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KGYAK6OCGGNG2XBB5E5H2VKMKQSXFYYWKXLHEI56KBYKO6NKHX7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTIH2XRGISQIV4QAEWQNGZBBDQKXNVQPCDB4ZXMHI7FB2YXWOLJQ/main.js"
            ]
        },
        "ListAliases": {
            "input": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Aliases"
                ],
                "members": {
                    "Aliases": {
                        "type": "list",
                        "member": {
                            "shape": "S5"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WSIAZBWA5DJ3SXWJOGNJCA4MWGHK5O4FERKR4WVZTWCTV3L3CHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CE7WNZHST6ONPPNSZRVZLQK3KT3N2SGWC3SG7EYKUGM5TYMH6OWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WTTWEGFVME3RTUFQYYWMSL4AEM4JK6HHXNH5QGB3TH7QNGAHWCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OOLAG4XTRKKHISOTYSITGPYODFDWA52MLNH5DJQFFJHNX3COLAAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UAZP2CXX7OUULH5NQMVEO6ELSNFOA3B6SI5UPW5HRILI47OVZOYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPX6I34JG7ROX3WTB63FDU6PXWNB5BNICCIY72VKFZZCUFVVFTNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UR2GZ6LEPMVDJJ5UO7BMRVNY4K4YW6DABBLEJRRN6QMMAVT55CZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQXTBL5N7QUXD74BTWAIHLAOS3CCNG77H5XVOG2UWX6BCAW22BYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZN3X2VIQSCVMNPVXYWJRUTIEOOY34Q6HGHU2R4KKI7LIIDYYPULQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KADHOWI2TN62JI7EEQ6PS3AG5Z7LWZZOU7OF44F5OI4L367RRVVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UBBW3F36KQ6BGQI7OKJH2VP3E4HCJ2JUFLTQC7RHKOOWI6VTHCZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ONR2RPVIKDOPLYAENUIIULBUVGSKCYRPWPEZFKGQH7V37R5LAB5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VSBA5FLBA6L4AOE2JXIRTPVASJ5BNBMRHIGJFHIW65ODUR2K7DSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y2KEP7YAXCZHJXHGLUEGR7CZNTOPPYKX24Z4SATNQIG5HFFOJF4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G6ADL5EJPOVY45G3UTKOI5V3UYVWEQWAN4NLHOKZ4I5QNZMT3JAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6542QSN655UMPMMWVPTWBNHI5HFCWORJYVFBMJCDDTZ4FRHBNQXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L34CHHTSEG6OPKF7NPQO2JHWWZGFKNDEJMBMVTQQ6ZNR3QFDABQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSKBWCCQJWICSOZTPNTN3NPG2M5APMJDB2SCXXB4SS5N7EXYFVJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQ6JQDHOIDGJBZ2YFVZ2HAPY4LM2ZCMBQ7SRROY5IQAV4OQQTWNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYZNRVB4V52S354U7V4FSMCHNC55XB4QZKKGMB3IFKNMOTHY37MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RGCZOJ5AGOTKHLNMZQBE5XUT46STROSHOCHLILUKC6ZE6FC6RMPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7J6NS72PNZPVJ7N5SENBPYAZWO5Y6CKPWZ2CRDFQ3MKJ2GKRKJ4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KGYAK6OCGGNG2XBB5E5H2VKMKQSXFYYWKXLHEI56KBYKO6NKHX7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTIH2XRGISQIV4QAEWQNGZBBDQKXNVQPCDB4ZXMHI7FB2YXWOLJQ/main.js"
            ]
        },
        "ListKeys": {
            "input": {
                "type": "structure",
                "members": {
                    "KeyState": {},
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Keys"
                ],
                "members": {
                    "Keys": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "KeyArn",
                                "KeyState",
                                "KeyAttributes",
                                "KeyCheckValue",
                                "Exportable",
                                "Enabled"
                            ],
                            "members": {
                                "KeyArn": {},
                                "KeyState": {},
                                "KeyAttributes": {
                                    "shape": "S7"
                                },
                                "KeyCheckValue": {},
                                "Exportable": {
                                    "type": "boolean"
                                },
                                "Enabled": {
                                    "type": "boolean"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WSIAZBWA5DJ3SXWJOGNJCA4MWGHK5O4FERKR4WVZTWCTV3L3CHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CE7WNZHST6ONPPNSZRVZLQK3KT3N2SGWC3SG7EYKUGM5TYMH6OWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WTTWEGFVME3RTUFQYYWMSL4AEM4JK6HHXNH5QGB3TH7QNGAHWCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OOLAG4XTRKKHISOTYSITGPYODFDWA52MLNH5DJQFFJHNX3COLAAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UAZP2CXX7OUULH5NQMVEO6ELSNFOA3B6SI5UPW5HRILI47OVZOYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPX6I34JG7ROX3WTB63FDU6PXWNB5BNICCIY72VKFZZCUFVVFTNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UR2GZ6LEPMVDJJ5UO7BMRVNY4K4YW6DABBLEJRRN6QMMAVT55CZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQXTBL5N7QUXD74BTWAIHLAOS3CCNG77H5XVOG2UWX6BCAW22BYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZN3X2VIQSCVMNPVXYWJRUTIEOOY34Q6HGHU2R4KKI7LIIDYYPULQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KADHOWI2TN62JI7EEQ6PS3AG5Z7LWZZOU7OF44F5OI4L367RRVVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UBBW3F36KQ6BGQI7OKJH2VP3E4HCJ2JUFLTQC7RHKOOWI6VTHCZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ONR2RPVIKDOPLYAENUIIULBUVGSKCYRPWPEZFKGQH7V37R5LAB5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VSBA5FLBA6L4AOE2JXIRTPVASJ5BNBMRHIGJFHIW65ODUR2K7DSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y2KEP7YAXCZHJXHGLUEGR7CZNTOPPYKX24Z4SATNQIG5HFFOJF4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G6ADL5EJPOVY45G3UTKOI5V3UYVWEQWAN4NLHOKZ4I5QNZMT3JAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6542QSN655UMPMMWVPTWBNHI5HFCWORJYVFBMJCDDTZ4FRHBNQXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L34CHHTSEG6OPKF7NPQO2JHWWZGFKNDEJMBMVTQQ6ZNR3QFDABQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSKBWCCQJWICSOZTPNTN3NPG2M5APMJDB2SCXXB4SS5N7EXYFVJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQ6JQDHOIDGJBZ2YFVZ2HAPY4LM2ZCMBQ7SRROY5IQAV4OQQTWNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYZNRVB4V52S354U7V4FSMCHNC55XB4QZKKGMB3IFKNMOTHY37MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RGCZOJ5AGOTKHLNMZQBE5XUT46STROSHOCHLILUKC6ZE6FC6RMPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7J6NS72PNZPVJ7N5SENBPYAZWO5Y6CKPWZ2CRDFQ3MKJ2GKRKJ4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KGYAK6OCGGNG2XBB5E5H2VKMKQSXFYYWKXLHEI56KBYKO6NKHX7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTIH2XRGISQIV4QAEWQNGZBBDQKXNVQPCDB4ZXMHI7FB2YXWOLJQ/main.js"
            ]
        },
        "ListTagsForResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn"
                ],
                "members": {
                    "ResourceArn": {},
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Tags"
                ],
                "members": {
                    "Tags": {
                        "shape": "Sf"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WSIAZBWA5DJ3SXWJOGNJCA4MWGHK5O4FERKR4WVZTWCTV3L3CHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CE7WNZHST6ONPPNSZRVZLQK3KT3N2SGWC3SG7EYKUGM5TYMH6OWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WTTWEGFVME3RTUFQYYWMSL4AEM4JK6HHXNH5QGB3TH7QNGAHWCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OOLAG4XTRKKHISOTYSITGPYODFDWA52MLNH5DJQFFJHNX3COLAAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UAZP2CXX7OUULH5NQMVEO6ELSNFOA3B6SI5UPW5HRILI47OVZOYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPX6I34JG7ROX3WTB63FDU6PXWNB5BNICCIY72VKFZZCUFVVFTNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UR2GZ6LEPMVDJJ5UO7BMRVNY4K4YW6DABBLEJRRN6QMMAVT55CZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQXTBL5N7QUXD74BTWAIHLAOS3CCNG77H5XVOG2UWX6BCAW22BYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZN3X2VIQSCVMNPVXYWJRUTIEOOY34Q6HGHU2R4KKI7LIIDYYPULQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KADHOWI2TN62JI7EEQ6PS3AG5Z7LWZZOU7OF44F5OI4L367RRVVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UBBW3F36KQ6BGQI7OKJH2VP3E4HCJ2JUFLTQC7RHKOOWI6VTHCZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ONR2RPVIKDOPLYAENUIIULBUVGSKCYRPWPEZFKGQH7V37R5LAB5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VSBA5FLBA6L4AOE2JXIRTPVASJ5BNBMRHIGJFHIW65ODUR2K7DSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y2KEP7YAXCZHJXHGLUEGR7CZNTOPPYKX24Z4SATNQIG5HFFOJF4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G6ADL5EJPOVY45G3UTKOI5V3UYVWEQWAN4NLHOKZ4I5QNZMT3JAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6542QSN655UMPMMWVPTWBNHI5HFCWORJYVFBMJCDDTZ4FRHBNQXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L34CHHTSEG6OPKF7NPQO2JHWWZGFKNDEJMBMVTQQ6ZNR3QFDABQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSKBWCCQJWICSOZTPNTN3NPG2M5APMJDB2SCXXB4SS5N7EXYFVJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQ6JQDHOIDGJBZ2YFVZ2HAPY4LM2ZCMBQ7SRROY5IQAV4OQQTWNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYZNRVB4V52S354U7V4FSMCHNC55XB4QZKKGMB3IFKNMOTHY37MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RGCZOJ5AGOTKHLNMZQBE5XUT46STROSHOCHLILUKC6ZE6FC6RMPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7J6NS72PNZPVJ7N5SENBPYAZWO5Y6CKPWZ2CRDFQ3MKJ2GKRKJ4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KGYAK6OCGGNG2XBB5E5H2VKMKQSXFYYWKXLHEI56KBYKO6NKHX7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTIH2XRGISQIV4QAEWQNGZBBDQKXNVQPCDB4ZXMHI7FB2YXWOLJQ/main.js"
            ]
        },
        "RestoreKey": {
            "input": {
                "type": "structure",
                "required": [
                    "KeyIdentifier"
                ],
                "members": {
                    "KeyIdentifier": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Key"
                ],
                "members": {
                    "Key": {
                        "shape": "Sk"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WSIAZBWA5DJ3SXWJOGNJCA4MWGHK5O4FERKR4WVZTWCTV3L3CHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CE7WNZHST6ONPPNSZRVZLQK3KT3N2SGWC3SG7EYKUGM5TYMH6OWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WTTWEGFVME3RTUFQYYWMSL4AEM4JK6HHXNH5QGB3TH7QNGAHWCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OOLAG4XTRKKHISOTYSITGPYODFDWA52MLNH5DJQFFJHNX3COLAAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UAZP2CXX7OUULH5NQMVEO6ELSNFOA3B6SI5UPW5HRILI47OVZOYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPX6I34JG7ROX3WTB63FDU6PXWNB5BNICCIY72VKFZZCUFVVFTNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UR2GZ6LEPMVDJJ5UO7BMRVNY4K4YW6DABBLEJRRN6QMMAVT55CZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQXTBL5N7QUXD74BTWAIHLAOS3CCNG77H5XVOG2UWX6BCAW22BYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZN3X2VIQSCVMNPVXYWJRUTIEOOY34Q6HGHU2R4KKI7LIIDYYPULQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KADHOWI2TN62JI7EEQ6PS3AG5Z7LWZZOU7OF44F5OI4L367RRVVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UBBW3F36KQ6BGQI7OKJH2VP3E4HCJ2JUFLTQC7RHKOOWI6VTHCZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ONR2RPVIKDOPLYAENUIIULBUVGSKCYRPWPEZFKGQH7V37R5LAB5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VSBA5FLBA6L4AOE2JXIRTPVASJ5BNBMRHIGJFHIW65ODUR2K7DSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y2KEP7YAXCZHJXHGLUEGR7CZNTOPPYKX24Z4SATNQIG5HFFOJF4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G6ADL5EJPOVY45G3UTKOI5V3UYVWEQWAN4NLHOKZ4I5QNZMT3JAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6542QSN655UMPMMWVPTWBNHI5HFCWORJYVFBMJCDDTZ4FRHBNQXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L34CHHTSEG6OPKF7NPQO2JHWWZGFKNDEJMBMVTQQ6ZNR3QFDABQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSKBWCCQJWICSOZTPNTN3NPG2M5APMJDB2SCXXB4SS5N7EXYFVJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQ6JQDHOIDGJBZ2YFVZ2HAPY4LM2ZCMBQ7SRROY5IQAV4OQQTWNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYZNRVB4V52S354U7V4FSMCHNC55XB4QZKKGMB3IFKNMOTHY37MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RGCZOJ5AGOTKHLNMZQBE5XUT46STROSHOCHLILUKC6ZE6FC6RMPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7J6NS72PNZPVJ7N5SENBPYAZWO5Y6CKPWZ2CRDFQ3MKJ2GKRKJ4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KGYAK6OCGGNG2XBB5E5H2VKMKQSXFYYWKXLHEI56KBYKO6NKHX7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTIH2XRGISQIV4QAEWQNGZBBDQKXNVQPCDB4ZXMHI7FB2YXWOLJQ/main.js"
            ]
        },
        "StartKeyUsage": {
            "input": {
                "type": "structure",
                "required": [
                    "KeyIdentifier"
                ],
                "members": {
                    "KeyIdentifier": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Key"
                ],
                "members": {
                    "Key": {
                        "shape": "Sk"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WSIAZBWA5DJ3SXWJOGNJCA4MWGHK5O4FERKR4WVZTWCTV3L3CHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CE7WNZHST6ONPPNSZRVZLQK3KT3N2SGWC3SG7EYKUGM5TYMH6OWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WTTWEGFVME3RTUFQYYWMSL4AEM4JK6HHXNH5QGB3TH7QNGAHWCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OOLAG4XTRKKHISOTYSITGPYODFDWA52MLNH5DJQFFJHNX3COLAAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UAZP2CXX7OUULH5NQMVEO6ELSNFOA3B6SI5UPW5HRILI47OVZOYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPX6I34JG7ROX3WTB63FDU6PXWNB5BNICCIY72VKFZZCUFVVFTNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UR2GZ6LEPMVDJJ5UO7BMRVNY4K4YW6DABBLEJRRN6QMMAVT55CZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQXTBL5N7QUXD74BTWAIHLAOS3CCNG77H5XVOG2UWX6BCAW22BYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZN3X2VIQSCVMNPVXYWJRUTIEOOY34Q6HGHU2R4KKI7LIIDYYPULQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KADHOWI2TN62JI7EEQ6PS3AG5Z7LWZZOU7OF44F5OI4L367RRVVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UBBW3F36KQ6BGQI7OKJH2VP3E4HCJ2JUFLTQC7RHKOOWI6VTHCZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ONR2RPVIKDOPLYAENUIIULBUVGSKCYRPWPEZFKGQH7V37R5LAB5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VSBA5FLBA6L4AOE2JXIRTPVASJ5BNBMRHIGJFHIW65ODUR2K7DSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y2KEP7YAXCZHJXHGLUEGR7CZNTOPPYKX24Z4SATNQIG5HFFOJF4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G6ADL5EJPOVY45G3UTKOI5V3UYVWEQWAN4NLHOKZ4I5QNZMT3JAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6542QSN655UMPMMWVPTWBNHI5HFCWORJYVFBMJCDDTZ4FRHBNQXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L34CHHTSEG6OPKF7NPQO2JHWWZGFKNDEJMBMVTQQ6ZNR3QFDABQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSKBWCCQJWICSOZTPNTN3NPG2M5APMJDB2SCXXB4SS5N7EXYFVJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQ6JQDHOIDGJBZ2YFVZ2HAPY4LM2ZCMBQ7SRROY5IQAV4OQQTWNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYZNRVB4V52S354U7V4FSMCHNC55XB4QZKKGMB3IFKNMOTHY37MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RGCZOJ5AGOTKHLNMZQBE5XUT46STROSHOCHLILUKC6ZE6FC6RMPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7J6NS72PNZPVJ7N5SENBPYAZWO5Y6CKPWZ2CRDFQ3MKJ2GKRKJ4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KGYAK6OCGGNG2XBB5E5H2VKMKQSXFYYWKXLHEI56KBYKO6NKHX7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTIH2XRGISQIV4QAEWQNGZBBDQKXNVQPCDB4ZXMHI7FB2YXWOLJQ/main.js"
            ]
        },
        "StopKeyUsage": {
            "input": {
                "type": "structure",
                "required": [
                    "KeyIdentifier"
                ],
                "members": {
                    "KeyIdentifier": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Key"
                ],
                "members": {
                    "Key": {
                        "shape": "Sk"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WSIAZBWA5DJ3SXWJOGNJCA4MWGHK5O4FERKR4WVZTWCTV3L3CHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CE7WNZHST6ONPPNSZRVZLQK3KT3N2SGWC3SG7EYKUGM5TYMH6OWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WTTWEGFVME3RTUFQYYWMSL4AEM4JK6HHXNH5QGB3TH7QNGAHWCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OOLAG4XTRKKHISOTYSITGPYODFDWA52MLNH5DJQFFJHNX3COLAAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UAZP2CXX7OUULH5NQMVEO6ELSNFOA3B6SI5UPW5HRILI47OVZOYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPX6I34JG7ROX3WTB63FDU6PXWNB5BNICCIY72VKFZZCUFVVFTNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UR2GZ6LEPMVDJJ5UO7BMRVNY4K4YW6DABBLEJRRN6QMMAVT55CZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQXTBL5N7QUXD74BTWAIHLAOS3CCNG77H5XVOG2UWX6BCAW22BYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZN3X2VIQSCVMNPVXYWJRUTIEOOY34Q6HGHU2R4KKI7LIIDYYPULQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KADHOWI2TN62JI7EEQ6PS3AG5Z7LWZZOU7OF44F5OI4L367RRVVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UBBW3F36KQ6BGQI7OKJH2VP3E4HCJ2JUFLTQC7RHKOOWI6VTHCZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ONR2RPVIKDOPLYAENUIIULBUVGSKCYRPWPEZFKGQH7V37R5LAB5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VSBA5FLBA6L4AOE2JXIRTPVASJ5BNBMRHIGJFHIW65ODUR2K7DSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y2KEP7YAXCZHJXHGLUEGR7CZNTOPPYKX24Z4SATNQIG5HFFOJF4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G6ADL5EJPOVY45G3UTKOI5V3UYVWEQWAN4NLHOKZ4I5QNZMT3JAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6542QSN655UMPMMWVPTWBNHI5HFCWORJYVFBMJCDDTZ4FRHBNQXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L34CHHTSEG6OPKF7NPQO2JHWWZGFKNDEJMBMVTQQ6ZNR3QFDABQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSKBWCCQJWICSOZTPNTN3NPG2M5APMJDB2SCXXB4SS5N7EXYFVJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQ6JQDHOIDGJBZ2YFVZ2HAPY4LM2ZCMBQ7SRROY5IQAV4OQQTWNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYZNRVB4V52S354U7V4FSMCHNC55XB4QZKKGMB3IFKNMOTHY37MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RGCZOJ5AGOTKHLNMZQBE5XUT46STROSHOCHLILUKC6ZE6FC6RMPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7J6NS72PNZPVJ7N5SENBPYAZWO5Y6CKPWZ2CRDFQ3MKJ2GKRKJ4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KGYAK6OCGGNG2XBB5E5H2VKMKQSXFYYWKXLHEI56KBYKO6NKHX7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTIH2XRGISQIV4QAEWQNGZBBDQKXNVQPCDB4ZXMHI7FB2YXWOLJQ/main.js"
            ]
        },
        "TagResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn",
                    "Tags"
                ],
                "members": {
                    "ResourceArn": {},
                    "Tags": {
                        "shape": "Sf"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WSIAZBWA5DJ3SXWJOGNJCA4MWGHK5O4FERKR4WVZTWCTV3L3CHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CE7WNZHST6ONPPNSZRVZLQK3KT3N2SGWC3SG7EYKUGM5TYMH6OWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WTTWEGFVME3RTUFQYYWMSL4AEM4JK6HHXNH5QGB3TH7QNGAHWCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OOLAG4XTRKKHISOTYSITGPYODFDWA52MLNH5DJQFFJHNX3COLAAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UAZP2CXX7OUULH5NQMVEO6ELSNFOA3B6SI5UPW5HRILI47OVZOYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPX6I34JG7ROX3WTB63FDU6PXWNB5BNICCIY72VKFZZCUFVVFTNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UR2GZ6LEPMVDJJ5UO7BMRVNY4K4YW6DABBLEJRRN6QMMAVT55CZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQXTBL5N7QUXD74BTWAIHLAOS3CCNG77H5XVOG2UWX6BCAW22BYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZN3X2VIQSCVMNPVXYWJRUTIEOOY34Q6HGHU2R4KKI7LIIDYYPULQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KADHOWI2TN62JI7EEQ6PS3AG5Z7LWZZOU7OF44F5OI4L367RRVVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UBBW3F36KQ6BGQI7OKJH2VP3E4HCJ2JUFLTQC7RHKOOWI6VTHCZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ONR2RPVIKDOPLYAENUIIULBUVGSKCYRPWPEZFKGQH7V37R5LAB5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VSBA5FLBA6L4AOE2JXIRTPVASJ5BNBMRHIGJFHIW65ODUR2K7DSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y2KEP7YAXCZHJXHGLUEGR7CZNTOPPYKX24Z4SATNQIG5HFFOJF4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G6ADL5EJPOVY45G3UTKOI5V3UYVWEQWAN4NLHOKZ4I5QNZMT3JAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6542QSN655UMPMMWVPTWBNHI5HFCWORJYVFBMJCDDTZ4FRHBNQXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L34CHHTSEG6OPKF7NPQO2JHWWZGFKNDEJMBMVTQQ6ZNR3QFDABQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSKBWCCQJWICSOZTPNTN3NPG2M5APMJDB2SCXXB4SS5N7EXYFVJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQ6JQDHOIDGJBZ2YFVZ2HAPY4LM2ZCMBQ7SRROY5IQAV4OQQTWNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYZNRVB4V52S354U7V4FSMCHNC55XB4QZKKGMB3IFKNMOTHY37MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RGCZOJ5AGOTKHLNMZQBE5XUT46STROSHOCHLILUKC6ZE6FC6RMPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7J6NS72PNZPVJ7N5SENBPYAZWO5Y6CKPWZ2CRDFQ3MKJ2GKRKJ4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KGYAK6OCGGNG2XBB5E5H2VKMKQSXFYYWKXLHEI56KBYKO6NKHX7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTIH2XRGISQIV4QAEWQNGZBBDQKXNVQPCDB4ZXMHI7FB2YXWOLJQ/main.js"
            ]
        },
        "UntagResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn",
                    "TagKeys"
                ],
                "members": {
                    "ResourceArn": {},
                    "TagKeys": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WSIAZBWA5DJ3SXWJOGNJCA4MWGHK5O4FERKR4WVZTWCTV3L3CHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CE7WNZHST6ONPPNSZRVZLQK3KT3N2SGWC3SG7EYKUGM5TYMH6OWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WTTWEGFVME3RTUFQYYWMSL4AEM4JK6HHXNH5QGB3TH7QNGAHWCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OOLAG4XTRKKHISOTYSITGPYODFDWA52MLNH5DJQFFJHNX3COLAAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UAZP2CXX7OUULH5NQMVEO6ELSNFOA3B6SI5UPW5HRILI47OVZOYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPX6I34JG7ROX3WTB63FDU6PXWNB5BNICCIY72VKFZZCUFVVFTNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UR2GZ6LEPMVDJJ5UO7BMRVNY4K4YW6DABBLEJRRN6QMMAVT55CZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQXTBL5N7QUXD74BTWAIHLAOS3CCNG77H5XVOG2UWX6BCAW22BYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZN3X2VIQSCVMNPVXYWJRUTIEOOY34Q6HGHU2R4KKI7LIIDYYPULQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KADHOWI2TN62JI7EEQ6PS3AG5Z7LWZZOU7OF44F5OI4L367RRVVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UBBW3F36KQ6BGQI7OKJH2VP3E4HCJ2JUFLTQC7RHKOOWI6VTHCZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ONR2RPVIKDOPLYAENUIIULBUVGSKCYRPWPEZFKGQH7V37R5LAB5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VSBA5FLBA6L4AOE2JXIRTPVASJ5BNBMRHIGJFHIW65ODUR2K7DSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y2KEP7YAXCZHJXHGLUEGR7CZNTOPPYKX24Z4SATNQIG5HFFOJF4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G6ADL5EJPOVY45G3UTKOI5V3UYVWEQWAN4NLHOKZ4I5QNZMT3JAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6542QSN655UMPMMWVPTWBNHI5HFCWORJYVFBMJCDDTZ4FRHBNQXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L34CHHTSEG6OPKF7NPQO2JHWWZGFKNDEJMBMVTQQ6ZNR3QFDABQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSKBWCCQJWICSOZTPNTN3NPG2M5APMJDB2SCXXB4SS5N7EXYFVJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQ6JQDHOIDGJBZ2YFVZ2HAPY4LM2ZCMBQ7SRROY5IQAV4OQQTWNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYZNRVB4V52S354U7V4FSMCHNC55XB4QZKKGMB3IFKNMOTHY37MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RGCZOJ5AGOTKHLNMZQBE5XUT46STROSHOCHLILUKC6ZE6FC6RMPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7J6NS72PNZPVJ7N5SENBPYAZWO5Y6CKPWZ2CRDFQ3MKJ2GKRKJ4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KGYAK6OCGGNG2XBB5E5H2VKMKQSXFYYWKXLHEI56KBYKO6NKHX7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTIH2XRGISQIV4QAEWQNGZBBDQKXNVQPCDB4ZXMHI7FB2YXWOLJQ/main.js"
            ]
        },
        "UpdateAlias": {
            "input": {
                "type": "structure",
                "required": [
                    "AliasName"
                ],
                "members": {
                    "AliasName": {},
                    "KeyArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Alias"
                ],
                "members": {
                    "Alias": {
                        "shape": "S5"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WSIAZBWA5DJ3SXWJOGNJCA4MWGHK5O4FERKR4WVZTWCTV3L3CHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CE7WNZHST6ONPPNSZRVZLQK3KT3N2SGWC3SG7EYKUGM5TYMH6OWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WTTWEGFVME3RTUFQYYWMSL4AEM4JK6HHXNH5QGB3TH7QNGAHWCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OOLAG4XTRKKHISOTYSITGPYODFDWA52MLNH5DJQFFJHNX3COLAAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UAZP2CXX7OUULH5NQMVEO6ELSNFOA3B6SI5UPW5HRILI47OVZOYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPX6I34JG7ROX3WTB63FDU6PXWNB5BNICCIY72VKFZZCUFVVFTNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UR2GZ6LEPMVDJJ5UO7BMRVNY4K4YW6DABBLEJRRN6QMMAVT55CZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQXTBL5N7QUXD74BTWAIHLAOS3CCNG77H5XVOG2UWX6BCAW22BYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZN3X2VIQSCVMNPVXYWJRUTIEOOY34Q6HGHU2R4KKI7LIIDYYPULQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KADHOWI2TN62JI7EEQ6PS3AG5Z7LWZZOU7OF44F5OI4L367RRVVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UBBW3F36KQ6BGQI7OKJH2VP3E4HCJ2JUFLTQC7RHKOOWI6VTHCZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ONR2RPVIKDOPLYAENUIIULBUVGSKCYRPWPEZFKGQH7V37R5LAB5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VSBA5FLBA6L4AOE2JXIRTPVASJ5BNBMRHIGJFHIW65ODUR2K7DSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y2KEP7YAXCZHJXHGLUEGR7CZNTOPPYKX24Z4SATNQIG5HFFOJF4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G6ADL5EJPOVY45G3UTKOI5V3UYVWEQWAN4NLHOKZ4I5QNZMT3JAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6542QSN655UMPMMWVPTWBNHI5HFCWORJYVFBMJCDDTZ4FRHBNQXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L34CHHTSEG6OPKF7NPQO2JHWWZGFKNDEJMBMVTQQ6ZNR3QFDABQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSKBWCCQJWICSOZTPNTN3NPG2M5APMJDB2SCXXB4SS5N7EXYFVJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQ6JQDHOIDGJBZ2YFVZ2HAPY4LM2ZCMBQ7SRROY5IQAV4OQQTWNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYZNRVB4V52S354U7V4FSMCHNC55XB4QZKKGMB3IFKNMOTHY37MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RGCZOJ5AGOTKHLNMZQBE5XUT46STROSHOCHLILUKC6ZE6FC6RMPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7J6NS72PNZPVJ7N5SENBPYAZWO5Y6CKPWZ2CRDFQ3MKJ2GKRKJ4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KGYAK6OCGGNG2XBB5E5H2VKMKQSXFYYWKXLHEI56KBYKO6NKHX7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTIH2XRGISQIV4QAEWQNGZBBDQKXNVQPCDB4ZXMHI7FB2YXWOLJQ/main.js"
            ]
        }
    },
    "shapes": {
        "S5": {
            "type": "structure",
            "required": [
                "AliasName"
            ],
            "members": {
                "AliasName": {},
                "KeyArn": {}
            }
        },
        "S7": {
            "type": "structure",
            "required": [
                "KeyUsage",
                "KeyClass",
                "KeyAlgorithm",
                "KeyModesOfUse"
            ],
            "members": {
                "KeyUsage": {},
                "KeyClass": {},
                "KeyAlgorithm": {},
                "KeyModesOfUse": {
                    "type": "structure",
                    "members": {
                        "Encrypt": {
                            "type": "boolean"
                        },
                        "Decrypt": {
                            "type": "boolean"
                        },
                        "Wrap": {
                            "type": "boolean"
                        },
                        "Unwrap": {
                            "type": "boolean"
                        },
                        "Generate": {
                            "type": "boolean"
                        },
                        "Sign": {
                            "type": "boolean"
                        },
                        "Verify": {
                            "type": "boolean"
                        },
                        "DeriveKey": {
                            "type": "boolean"
                        },
                        "NoRestrictions": {
                            "type": "boolean"
                        }
                    }
                }
            }
        },
        "Sf": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "Key"
                ],
                "members": {
                    "Key": {},
                    "Value": {}
                }
            }
        },
        "Sk": {
            "type": "structure",
            "required": [
                "KeyArn",
                "KeyAttributes",
                "KeyCheckValue",
                "KeyCheckValueAlgorithm",
                "Enabled",
                "Exportable",
                "KeyState",
                "KeyOrigin",
                "CreateTimestamp"
            ],
            "members": {
                "KeyArn": {},
                "KeyAttributes": {
                    "shape": "S7"
                },
                "KeyCheckValue": {},
                "KeyCheckValueAlgorithm": {},
                "Enabled": {
                    "type": "boolean"
                },
                "Exportable": {
                    "type": "boolean"
                },
                "KeyState": {},
                "KeyOrigin": {},
                "CreateTimestamp": {
                    "type": "timestamp"
                },
                "UsageStartTimestamp": {
                    "type": "timestamp"
                },
                "UsageStopTimestamp": {
                    "type": "timestamp"
                },
                "DeletePendingTimestamp": {
                    "type": "timestamp"
                },
                "DeleteTimestamp": {
                    "type": "timestamp"
                }
            }
        },
        "Sz": {
            "type": "string",
            "sensitive": true
        }
    }
}