{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2021-09-14",
        "endpointPrefix": "controlplane.payment-cryptography",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceFullName": "AWS Payment Cryptography",
        "serviceId": "PaymentCryptography",
        "signatureVersion": "v4",
        "signingName": "payment-cryptography",
        "targetPrefix": "PaymentCryptographyControlPlane",
        "uid": "paymentcryptography-2021-09-14",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/6NVHAK6F72JRDVDPPPIZZPFCAZI5CBNLL7KIPK5YSBQVREDZWAIQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/I6I2QLEFCO6AZFY3C262K33HKITY3QFUJFT7SFZQ5HF2NRLVOHHQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XQWZIDQQQWNE3R4QWN5NULZGDIHCBMTOALDBPL67TJTOWVFRP6OA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FD6C7JH7S3J3H7QJ6E4SU3DVMQIMYDPNIFZ33VW4VCM3PZFL2F5A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7VBFQMNCDAO2RFJ2LNFZWFRDB5QXFILLYF6CQWOVPYS3ABPBQBAA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/F34N57VRLDIDPV7344W4UICRIBKHK6VZYPJ3RSKUZQQGYCXVKFHQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FVFQCNRET3BVN2PRNHBXRCXYJGQEYUHRMEGDOWD7YBDDKRNEUAXQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NYG4LP25BRF7HX53GMTVDKVMTZHSIS5MK2SXOHUJC3N5CV4KBC6Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JNIP6DJVUREPT52MAN6QMZF77IQ5KSYSTLPSMCBJSBTERHQRUGYA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6YM6PCPMCOZ6DP54TNZG5DAE6LQ25AHTFMPEDKKPA6PTZKLUV3PA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OXSKSKSC4FPZQCPRH4A7VJNJGQC4TZX6Z3ZU6IUYDCRDGCGGQXYQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JVXF52UDYFAOERK7UYPQOLBL44DIGG4Q5DUBN7HE5CXDKCI55A4A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/F4DX6JXJWYIHOGE372KRFWKE2G3YT4IYR3AGNPF65USHFB2PQC3Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NX2IMFYFYHK2LYPUS4OZX4JWOIHCR42WBJDEQW2J4ZHO3LMAOONA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EOS6KKRP4BQ4NF7LHJMQFU7J2Y5P7FWFAYZJAPABZL7FB6KDR5GA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7DLQDQSK4SJK4GMKQJ4SNUHGVYWEOVN7V3S67QSEKDCM3EDYJPXQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NLW6FZFBXIHMQBHXTRJ2XGTQHMSNSWZDHLJ6HMQK7DF2GB7XWZBQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TYQHYIKMUWCL77F2XAPPTOXF6HVLI5MXOUHSY5CK6OTQLGL52RQA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/D7DQS6GQ6YQL6LCKZUJHTPVMUJZM56FB7FY4BOBLM4RMQAAAEPKQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YQJKTD4U3AVTJUEHFNFCBL45UKBGYBMLDWXQNCTFPUQ6KISLNZFQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4ECRBO2X2RI7OCS3M2CZ5A7YLPCGY6VQ3CJQW7GJSDACCA3LK27A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/M6LOXKVDLMC72NNTW4BLNMZACNPHAIIZZDZ6G3VKBDJBCVFMT2IA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VQFLALQOFH57GIPNEFYIQV37OJF5I46JCHJV3F57XLY763P7VJ4A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MQN62CEJCV2EMAZDDDOEFEB2I7Z46ADBPLOOXFTCDN5QSG4MERTQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VYTLI5UPWO2OHNYD2BJFS4NTKPWGOSU2M3PHWXS665R2QM4N2BOA/main.js"
        ]
    },
    "operations": {
        "CreateAlias": {
            "input": {
                "type": "structure",
                "required": [
                    "AliasName"
                ],
                "members": {
                    "AliasName": {},
                    "KeyArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Alias"
                ],
                "members": {
                    "Alias": {
                        "shape": "S5"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6I2QLEFCO6AZFY3C262K33HKITY3QFUJFT7SFZQ5HF2NRLVOHHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XQWZIDQQQWNE3R4QWN5NULZGDIHCBMTOALDBPL67TJTOWVFRP6OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FD6C7JH7S3J3H7QJ6E4SU3DVMQIMYDPNIFZ33VW4VCM3PZFL2F5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VBFQMNCDAO2RFJ2LNFZWFRDB5QXFILLYF6CQWOVPYS3ABPBQBAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F34N57VRLDIDPV7344W4UICRIBKHK6VZYPJ3RSKUZQQGYCXVKFHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVFQCNRET3BVN2PRNHBXRCXYJGQEYUHRMEGDOWD7YBDDKRNEUAXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYG4LP25BRF7HX53GMTVDKVMTZHSIS5MK2SXOHUJC3N5CV4KBC6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JNIP6DJVUREPT52MAN6QMZF77IQ5KSYSTLPSMCBJSBTERHQRUGYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YM6PCPMCOZ6DP54TNZG5DAE6LQ25AHTFMPEDKKPA6PTZKLUV3PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXSKSKSC4FPZQCPRH4A7VJNJGQC4TZX6Z3ZU6IUYDCRDGCGGQXYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVXF52UDYFAOERK7UYPQOLBL44DIGG4Q5DUBN7HE5CXDKCI55A4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F4DX6JXJWYIHOGE372KRFWKE2G3YT4IYR3AGNPF65USHFB2PQC3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NX2IMFYFYHK2LYPUS4OZX4JWOIHCR42WBJDEQW2J4ZHO3LMAOONA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EOS6KKRP4BQ4NF7LHJMQFU7J2Y5P7FWFAYZJAPABZL7FB6KDR5GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DLQDQSK4SJK4GMKQJ4SNUHGVYWEOVN7V3S67QSEKDCM3EDYJPXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NLW6FZFBXIHMQBHXTRJ2XGTQHMSNSWZDHLJ6HMQK7DF2GB7XWZBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYQHYIKMUWCL77F2XAPPTOXF6HVLI5MXOUHSY5CK6OTQLGL52RQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7DQS6GQ6YQL6LCKZUJHTPVMUJZM56FB7FY4BOBLM4RMQAAAEPKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQJKTD4U3AVTJUEHFNFCBL45UKBGYBMLDWXQNCTFPUQ6KISLNZFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ECRBO2X2RI7OCS3M2CZ5A7YLPCGY6VQ3CJQW7GJSDACCA3LK27A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6LOXKVDLMC72NNTW4BLNMZACNPHAIIZZDZ6G3VKBDJBCVFMT2IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQFLALQOFH57GIPNEFYIQV37OJF5I46JCHJV3F57XLY763P7VJ4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQN62CEJCV2EMAZDDDOEFEB2I7Z46ADBPLOOXFTCDN5QSG4MERTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYTLI5UPWO2OHNYD2BJFS4NTKPWGOSU2M3PHWXS665R2QM4N2BOA/main.js"
            ]
        },
        "CreateKey": {
            "input": {
                "type": "structure",
                "required": [
                    "KeyAttributes",
                    "Exportable"
                ],
                "members": {
                    "KeyAttributes": {
                        "shape": "S7"
                    },
                    "KeyCheckValueAlgorithm": {},
                    "Exportable": {
                        "type": "boolean"
                    },
                    "Enabled": {
                        "type": "boolean"
                    },
                    "Tags": {
                        "shape": "Sf"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Key"
                ],
                "members": {
                    "Key": {
                        "shape": "Sk"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6I2QLEFCO6AZFY3C262K33HKITY3QFUJFT7SFZQ5HF2NRLVOHHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XQWZIDQQQWNE3R4QWN5NULZGDIHCBMTOALDBPL67TJTOWVFRP6OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FD6C7JH7S3J3H7QJ6E4SU3DVMQIMYDPNIFZ33VW4VCM3PZFL2F5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VBFQMNCDAO2RFJ2LNFZWFRDB5QXFILLYF6CQWOVPYS3ABPBQBAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F34N57VRLDIDPV7344W4UICRIBKHK6VZYPJ3RSKUZQQGYCXVKFHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVFQCNRET3BVN2PRNHBXRCXYJGQEYUHRMEGDOWD7YBDDKRNEUAXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYG4LP25BRF7HX53GMTVDKVMTZHSIS5MK2SXOHUJC3N5CV4KBC6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JNIP6DJVUREPT52MAN6QMZF77IQ5KSYSTLPSMCBJSBTERHQRUGYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YM6PCPMCOZ6DP54TNZG5DAE6LQ25AHTFMPEDKKPA6PTZKLUV3PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXSKSKSC4FPZQCPRH4A7VJNJGQC4TZX6Z3ZU6IUYDCRDGCGGQXYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVXF52UDYFAOERK7UYPQOLBL44DIGG4Q5DUBN7HE5CXDKCI55A4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F4DX6JXJWYIHOGE372KRFWKE2G3YT4IYR3AGNPF65USHFB2PQC3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NX2IMFYFYHK2LYPUS4OZX4JWOIHCR42WBJDEQW2J4ZHO3LMAOONA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EOS6KKRP4BQ4NF7LHJMQFU7J2Y5P7FWFAYZJAPABZL7FB6KDR5GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DLQDQSK4SJK4GMKQJ4SNUHGVYWEOVN7V3S67QSEKDCM3EDYJPXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NLW6FZFBXIHMQBHXTRJ2XGTQHMSNSWZDHLJ6HMQK7DF2GB7XWZBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYQHYIKMUWCL77F2XAPPTOXF6HVLI5MXOUHSY5CK6OTQLGL52RQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7DQS6GQ6YQL6LCKZUJHTPVMUJZM56FB7FY4BOBLM4RMQAAAEPKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQJKTD4U3AVTJUEHFNFCBL45UKBGYBMLDWXQNCTFPUQ6KISLNZFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ECRBO2X2RI7OCS3M2CZ5A7YLPCGY6VQ3CJQW7GJSDACCA3LK27A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6LOXKVDLMC72NNTW4BLNMZACNPHAIIZZDZ6G3VKBDJBCVFMT2IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQFLALQOFH57GIPNEFYIQV37OJF5I46JCHJV3F57XLY763P7VJ4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQN62CEJCV2EMAZDDDOEFEB2I7Z46ADBPLOOXFTCDN5QSG4MERTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYTLI5UPWO2OHNYD2BJFS4NTKPWGOSU2M3PHWXS665R2QM4N2BOA/main.js"
            ]
        },
        "DeleteAlias": {
            "input": {
                "type": "structure",
                "required": [
                    "AliasName"
                ],
                "members": {
                    "AliasName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6I2QLEFCO6AZFY3C262K33HKITY3QFUJFT7SFZQ5HF2NRLVOHHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XQWZIDQQQWNE3R4QWN5NULZGDIHCBMTOALDBPL67TJTOWVFRP6OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FD6C7JH7S3J3H7QJ6E4SU3DVMQIMYDPNIFZ33VW4VCM3PZFL2F5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VBFQMNCDAO2RFJ2LNFZWFRDB5QXFILLYF6CQWOVPYS3ABPBQBAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F34N57VRLDIDPV7344W4UICRIBKHK6VZYPJ3RSKUZQQGYCXVKFHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVFQCNRET3BVN2PRNHBXRCXYJGQEYUHRMEGDOWD7YBDDKRNEUAXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYG4LP25BRF7HX53GMTVDKVMTZHSIS5MK2SXOHUJC3N5CV4KBC6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JNIP6DJVUREPT52MAN6QMZF77IQ5KSYSTLPSMCBJSBTERHQRUGYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YM6PCPMCOZ6DP54TNZG5DAE6LQ25AHTFMPEDKKPA6PTZKLUV3PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXSKSKSC4FPZQCPRH4A7VJNJGQC4TZX6Z3ZU6IUYDCRDGCGGQXYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVXF52UDYFAOERK7UYPQOLBL44DIGG4Q5DUBN7HE5CXDKCI55A4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F4DX6JXJWYIHOGE372KRFWKE2G3YT4IYR3AGNPF65USHFB2PQC3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NX2IMFYFYHK2LYPUS4OZX4JWOIHCR42WBJDEQW2J4ZHO3LMAOONA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EOS6KKRP4BQ4NF7LHJMQFU7J2Y5P7FWFAYZJAPABZL7FB6KDR5GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DLQDQSK4SJK4GMKQJ4SNUHGVYWEOVN7V3S67QSEKDCM3EDYJPXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NLW6FZFBXIHMQBHXTRJ2XGTQHMSNSWZDHLJ6HMQK7DF2GB7XWZBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYQHYIKMUWCL77F2XAPPTOXF6HVLI5MXOUHSY5CK6OTQLGL52RQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7DQS6GQ6YQL6LCKZUJHTPVMUJZM56FB7FY4BOBLM4RMQAAAEPKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQJKTD4U3AVTJUEHFNFCBL45UKBGYBMLDWXQNCTFPUQ6KISLNZFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ECRBO2X2RI7OCS3M2CZ5A7YLPCGY6VQ3CJQW7GJSDACCA3LK27A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6LOXKVDLMC72NNTW4BLNMZACNPHAIIZZDZ6G3VKBDJBCVFMT2IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQFLALQOFH57GIPNEFYIQV37OJF5I46JCHJV3F57XLY763P7VJ4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQN62CEJCV2EMAZDDDOEFEB2I7Z46ADBPLOOXFTCDN5QSG4MERTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYTLI5UPWO2OHNYD2BJFS4NTKPWGOSU2M3PHWXS665R2QM4N2BOA/main.js"
            ]
        },
        "DeleteKey": {
            "input": {
                "type": "structure",
                "required": [
                    "KeyIdentifier"
                ],
                "members": {
                    "KeyIdentifier": {},
                    "DeleteKeyInDays": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Key"
                ],
                "members": {
                    "Key": {
                        "shape": "Sk"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6I2QLEFCO6AZFY3C262K33HKITY3QFUJFT7SFZQ5HF2NRLVOHHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XQWZIDQQQWNE3R4QWN5NULZGDIHCBMTOALDBPL67TJTOWVFRP6OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FD6C7JH7S3J3H7QJ6E4SU3DVMQIMYDPNIFZ33VW4VCM3PZFL2F5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VBFQMNCDAO2RFJ2LNFZWFRDB5QXFILLYF6CQWOVPYS3ABPBQBAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F34N57VRLDIDPV7344W4UICRIBKHK6VZYPJ3RSKUZQQGYCXVKFHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVFQCNRET3BVN2PRNHBXRCXYJGQEYUHRMEGDOWD7YBDDKRNEUAXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYG4LP25BRF7HX53GMTVDKVMTZHSIS5MK2SXOHUJC3N5CV4KBC6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JNIP6DJVUREPT52MAN6QMZF77IQ5KSYSTLPSMCBJSBTERHQRUGYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YM6PCPMCOZ6DP54TNZG5DAE6LQ25AHTFMPEDKKPA6PTZKLUV3PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXSKSKSC4FPZQCPRH4A7VJNJGQC4TZX6Z3ZU6IUYDCRDGCGGQXYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVXF52UDYFAOERK7UYPQOLBL44DIGG4Q5DUBN7HE5CXDKCI55A4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F4DX6JXJWYIHOGE372KRFWKE2G3YT4IYR3AGNPF65USHFB2PQC3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NX2IMFYFYHK2LYPUS4OZX4JWOIHCR42WBJDEQW2J4ZHO3LMAOONA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EOS6KKRP4BQ4NF7LHJMQFU7J2Y5P7FWFAYZJAPABZL7FB6KDR5GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DLQDQSK4SJK4GMKQJ4SNUHGVYWEOVN7V3S67QSEKDCM3EDYJPXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NLW6FZFBXIHMQBHXTRJ2XGTQHMSNSWZDHLJ6HMQK7DF2GB7XWZBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYQHYIKMUWCL77F2XAPPTOXF6HVLI5MXOUHSY5CK6OTQLGL52RQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7DQS6GQ6YQL6LCKZUJHTPVMUJZM56FB7FY4BOBLM4RMQAAAEPKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQJKTD4U3AVTJUEHFNFCBL45UKBGYBMLDWXQNCTFPUQ6KISLNZFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ECRBO2X2RI7OCS3M2CZ5A7YLPCGY6VQ3CJQW7GJSDACCA3LK27A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6LOXKVDLMC72NNTW4BLNMZACNPHAIIZZDZ6G3VKBDJBCVFMT2IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQFLALQOFH57GIPNEFYIQV37OJF5I46JCHJV3F57XLY763P7VJ4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQN62CEJCV2EMAZDDDOEFEB2I7Z46ADBPLOOXFTCDN5QSG4MERTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYTLI5UPWO2OHNYD2BJFS4NTKPWGOSU2M3PHWXS665R2QM4N2BOA/main.js"
            ]
        },
        "ExportKey": {
            "input": {
                "type": "structure",
                "required": [
                    "KeyMaterial",
                    "ExportKeyIdentifier"
                ],
                "members": {
                    "KeyMaterial": {
                        "type": "structure",
                        "members": {
                            "Tr31KeyBlock": {
                                "type": "structure",
                                "required": [
                                    "WrappingKeyIdentifier"
                                ],
                                "members": {
                                    "WrappingKeyIdentifier": {}
                                }
                            },
                            "Tr34KeyBlock": {
                                "type": "structure",
                                "required": [
                                    "CertificateAuthorityPublicKeyIdentifier",
                                    "WrappingKeyCertificate",
                                    "ExportToken",
                                    "KeyBlockFormat"
                                ],
                                "members": {
                                    "CertificateAuthorityPublicKeyIdentifier": {},
                                    "WrappingKeyCertificate": {
                                        "shape": "Sz"
                                    },
                                    "ExportToken": {},
                                    "KeyBlockFormat": {},
                                    "RandomNonce": {}
                                }
                            }
                        },
                        "union": true
                    },
                    "ExportKeyIdentifier": {},
                    "ExportAttributes": {
                        "type": "structure",
                        "members": {
                            "ExportDukptInitialKey": {
                                "type": "structure",
                                "required": [
                                    "KeySerialNumber"
                                ],
                                "members": {
                                    "KeySerialNumber": {}
                                }
                            },
                            "KeyCheckValueAlgorithm": {}
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "WrappedKey": {
                        "type": "structure",
                        "required": [
                            "WrappingKeyArn",
                            "WrappedKeyMaterialFormat",
                            "KeyMaterial"
                        ],
                        "members": {
                            "WrappingKeyArn": {},
                            "WrappedKeyMaterialFormat": {},
                            "KeyMaterial": {
                                "type": "string",
                                "sensitive": true
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6I2QLEFCO6AZFY3C262K33HKITY3QFUJFT7SFZQ5HF2NRLVOHHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XQWZIDQQQWNE3R4QWN5NULZGDIHCBMTOALDBPL67TJTOWVFRP6OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FD6C7JH7S3J3H7QJ6E4SU3DVMQIMYDPNIFZ33VW4VCM3PZFL2F5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VBFQMNCDAO2RFJ2LNFZWFRDB5QXFILLYF6CQWOVPYS3ABPBQBAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F34N57VRLDIDPV7344W4UICRIBKHK6VZYPJ3RSKUZQQGYCXVKFHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVFQCNRET3BVN2PRNHBXRCXYJGQEYUHRMEGDOWD7YBDDKRNEUAXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYG4LP25BRF7HX53GMTVDKVMTZHSIS5MK2SXOHUJC3N5CV4KBC6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JNIP6DJVUREPT52MAN6QMZF77IQ5KSYSTLPSMCBJSBTERHQRUGYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YM6PCPMCOZ6DP54TNZG5DAE6LQ25AHTFMPEDKKPA6PTZKLUV3PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXSKSKSC4FPZQCPRH4A7VJNJGQC4TZX6Z3ZU6IUYDCRDGCGGQXYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVXF52UDYFAOERK7UYPQOLBL44DIGG4Q5DUBN7HE5CXDKCI55A4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F4DX6JXJWYIHOGE372KRFWKE2G3YT4IYR3AGNPF65USHFB2PQC3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NX2IMFYFYHK2LYPUS4OZX4JWOIHCR42WBJDEQW2J4ZHO3LMAOONA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EOS6KKRP4BQ4NF7LHJMQFU7J2Y5P7FWFAYZJAPABZL7FB6KDR5GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DLQDQSK4SJK4GMKQJ4SNUHGVYWEOVN7V3S67QSEKDCM3EDYJPXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NLW6FZFBXIHMQBHXTRJ2XGTQHMSNSWZDHLJ6HMQK7DF2GB7XWZBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYQHYIKMUWCL77F2XAPPTOXF6HVLI5MXOUHSY5CK6OTQLGL52RQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7DQS6GQ6YQL6LCKZUJHTPVMUJZM56FB7FY4BOBLM4RMQAAAEPKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQJKTD4U3AVTJUEHFNFCBL45UKBGYBMLDWXQNCTFPUQ6KISLNZFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ECRBO2X2RI7OCS3M2CZ5A7YLPCGY6VQ3CJQW7GJSDACCA3LK27A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6LOXKVDLMC72NNTW4BLNMZACNPHAIIZZDZ6G3VKBDJBCVFMT2IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQFLALQOFH57GIPNEFYIQV37OJF5I46JCHJV3F57XLY763P7VJ4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQN62CEJCV2EMAZDDDOEFEB2I7Z46ADBPLOOXFTCDN5QSG4MERTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYTLI5UPWO2OHNYD2BJFS4NTKPWGOSU2M3PHWXS665R2QM4N2BOA/main.js"
            ]
        },
        "GetAlias": {
            "input": {
                "type": "structure",
                "required": [
                    "AliasName"
                ],
                "members": {
                    "AliasName": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Alias"
                ],
                "members": {
                    "Alias": {
                        "shape": "S5"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6I2QLEFCO6AZFY3C262K33HKITY3QFUJFT7SFZQ5HF2NRLVOHHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XQWZIDQQQWNE3R4QWN5NULZGDIHCBMTOALDBPL67TJTOWVFRP6OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FD6C7JH7S3J3H7QJ6E4SU3DVMQIMYDPNIFZ33VW4VCM3PZFL2F5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VBFQMNCDAO2RFJ2LNFZWFRDB5QXFILLYF6CQWOVPYS3ABPBQBAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F34N57VRLDIDPV7344W4UICRIBKHK6VZYPJ3RSKUZQQGYCXVKFHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVFQCNRET3BVN2PRNHBXRCXYJGQEYUHRMEGDOWD7YBDDKRNEUAXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYG4LP25BRF7HX53GMTVDKVMTZHSIS5MK2SXOHUJC3N5CV4KBC6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JNIP6DJVUREPT52MAN6QMZF77IQ5KSYSTLPSMCBJSBTERHQRUGYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YM6PCPMCOZ6DP54TNZG5DAE6LQ25AHTFMPEDKKPA6PTZKLUV3PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXSKSKSC4FPZQCPRH4A7VJNJGQC4TZX6Z3ZU6IUYDCRDGCGGQXYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVXF52UDYFAOERK7UYPQOLBL44DIGG4Q5DUBN7HE5CXDKCI55A4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F4DX6JXJWYIHOGE372KRFWKE2G3YT4IYR3AGNPF65USHFB2PQC3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NX2IMFYFYHK2LYPUS4OZX4JWOIHCR42WBJDEQW2J4ZHO3LMAOONA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EOS6KKRP4BQ4NF7LHJMQFU7J2Y5P7FWFAYZJAPABZL7FB6KDR5GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DLQDQSK4SJK4GMKQJ4SNUHGVYWEOVN7V3S67QSEKDCM3EDYJPXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NLW6FZFBXIHMQBHXTRJ2XGTQHMSNSWZDHLJ6HMQK7DF2GB7XWZBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYQHYIKMUWCL77F2XAPPTOXF6HVLI5MXOUHSY5CK6OTQLGL52RQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7DQS6GQ6YQL6LCKZUJHTPVMUJZM56FB7FY4BOBLM4RMQAAAEPKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQJKTD4U3AVTJUEHFNFCBL45UKBGYBMLDWXQNCTFPUQ6KISLNZFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ECRBO2X2RI7OCS3M2CZ5A7YLPCGY6VQ3CJQW7GJSDACCA3LK27A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6LOXKVDLMC72NNTW4BLNMZACNPHAIIZZDZ6G3VKBDJBCVFMT2IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQFLALQOFH57GIPNEFYIQV37OJF5I46JCHJV3F57XLY763P7VJ4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQN62CEJCV2EMAZDDDOEFEB2I7Z46ADBPLOOXFTCDN5QSG4MERTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYTLI5UPWO2OHNYD2BJFS4NTKPWGOSU2M3PHWXS665R2QM4N2BOA/main.js"
            ]
        },
        "GetKey": {
            "input": {
                "type": "structure",
                "required": [
                    "KeyIdentifier"
                ],
                "members": {
                    "KeyIdentifier": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Key"
                ],
                "members": {
                    "Key": {
                        "shape": "Sk"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6I2QLEFCO6AZFY3C262K33HKITY3QFUJFT7SFZQ5HF2NRLVOHHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XQWZIDQQQWNE3R4QWN5NULZGDIHCBMTOALDBPL67TJTOWVFRP6OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FD6C7JH7S3J3H7QJ6E4SU3DVMQIMYDPNIFZ33VW4VCM3PZFL2F5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VBFQMNCDAO2RFJ2LNFZWFRDB5QXFILLYF6CQWOVPYS3ABPBQBAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F34N57VRLDIDPV7344W4UICRIBKHK6VZYPJ3RSKUZQQGYCXVKFHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVFQCNRET3BVN2PRNHBXRCXYJGQEYUHRMEGDOWD7YBDDKRNEUAXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYG4LP25BRF7HX53GMTVDKVMTZHSIS5MK2SXOHUJC3N5CV4KBC6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JNIP6DJVUREPT52MAN6QMZF77IQ5KSYSTLPSMCBJSBTERHQRUGYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YM6PCPMCOZ6DP54TNZG5DAE6LQ25AHTFMPEDKKPA6PTZKLUV3PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXSKSKSC4FPZQCPRH4A7VJNJGQC4TZX6Z3ZU6IUYDCRDGCGGQXYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVXF52UDYFAOERK7UYPQOLBL44DIGG4Q5DUBN7HE5CXDKCI55A4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F4DX6JXJWYIHOGE372KRFWKE2G3YT4IYR3AGNPF65USHFB2PQC3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NX2IMFYFYHK2LYPUS4OZX4JWOIHCR42WBJDEQW2J4ZHO3LMAOONA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EOS6KKRP4BQ4NF7LHJMQFU7J2Y5P7FWFAYZJAPABZL7FB6KDR5GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DLQDQSK4SJK4GMKQJ4SNUHGVYWEOVN7V3S67QSEKDCM3EDYJPXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NLW6FZFBXIHMQBHXTRJ2XGTQHMSNSWZDHLJ6HMQK7DF2GB7XWZBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYQHYIKMUWCL77F2XAPPTOXF6HVLI5MXOUHSY5CK6OTQLGL52RQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7DQS6GQ6YQL6LCKZUJHTPVMUJZM56FB7FY4BOBLM4RMQAAAEPKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQJKTD4U3AVTJUEHFNFCBL45UKBGYBMLDWXQNCTFPUQ6KISLNZFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ECRBO2X2RI7OCS3M2CZ5A7YLPCGY6VQ3CJQW7GJSDACCA3LK27A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6LOXKVDLMC72NNTW4BLNMZACNPHAIIZZDZ6G3VKBDJBCVFMT2IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQFLALQOFH57GIPNEFYIQV37OJF5I46JCHJV3F57XLY763P7VJ4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQN62CEJCV2EMAZDDDOEFEB2I7Z46ADBPLOOXFTCDN5QSG4MERTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYTLI5UPWO2OHNYD2BJFS4NTKPWGOSU2M3PHWXS665R2QM4N2BOA/main.js"
            ]
        },
        "GetParametersForExport": {
            "input": {
                "type": "structure",
                "required": [
                    "KeyMaterialType",
                    "SigningKeyAlgorithm"
                ],
                "members": {
                    "KeyMaterialType": {},
                    "SigningKeyAlgorithm": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "SigningKeyCertificate",
                    "SigningKeyCertificateChain",
                    "SigningKeyAlgorithm",
                    "ExportToken",
                    "ParametersValidUntilTimestamp"
                ],
                "members": {
                    "SigningKeyCertificate": {
                        "shape": "Sz"
                    },
                    "SigningKeyCertificateChain": {
                        "shape": "Sz"
                    },
                    "SigningKeyAlgorithm": {},
                    "ExportToken": {},
                    "ParametersValidUntilTimestamp": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6I2QLEFCO6AZFY3C262K33HKITY3QFUJFT7SFZQ5HF2NRLVOHHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XQWZIDQQQWNE3R4QWN5NULZGDIHCBMTOALDBPL67TJTOWVFRP6OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FD6C7JH7S3J3H7QJ6E4SU3DVMQIMYDPNIFZ33VW4VCM3PZFL2F5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VBFQMNCDAO2RFJ2LNFZWFRDB5QXFILLYF6CQWOVPYS3ABPBQBAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F34N57VRLDIDPV7344W4UICRIBKHK6VZYPJ3RSKUZQQGYCXVKFHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVFQCNRET3BVN2PRNHBXRCXYJGQEYUHRMEGDOWD7YBDDKRNEUAXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYG4LP25BRF7HX53GMTVDKVMTZHSIS5MK2SXOHUJC3N5CV4KBC6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JNIP6DJVUREPT52MAN6QMZF77IQ5KSYSTLPSMCBJSBTERHQRUGYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YM6PCPMCOZ6DP54TNZG5DAE6LQ25AHTFMPEDKKPA6PTZKLUV3PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXSKSKSC4FPZQCPRH4A7VJNJGQC4TZX6Z3ZU6IUYDCRDGCGGQXYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVXF52UDYFAOERK7UYPQOLBL44DIGG4Q5DUBN7HE5CXDKCI55A4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F4DX6JXJWYIHOGE372KRFWKE2G3YT4IYR3AGNPF65USHFB2PQC3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NX2IMFYFYHK2LYPUS4OZX4JWOIHCR42WBJDEQW2J4ZHO3LMAOONA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EOS6KKRP4BQ4NF7LHJMQFU7J2Y5P7FWFAYZJAPABZL7FB6KDR5GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DLQDQSK4SJK4GMKQJ4SNUHGVYWEOVN7V3S67QSEKDCM3EDYJPXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NLW6FZFBXIHMQBHXTRJ2XGTQHMSNSWZDHLJ6HMQK7DF2GB7XWZBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYQHYIKMUWCL77F2XAPPTOXF6HVLI5MXOUHSY5CK6OTQLGL52RQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7DQS6GQ6YQL6LCKZUJHTPVMUJZM56FB7FY4BOBLM4RMQAAAEPKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQJKTD4U3AVTJUEHFNFCBL45UKBGYBMLDWXQNCTFPUQ6KISLNZFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ECRBO2X2RI7OCS3M2CZ5A7YLPCGY6VQ3CJQW7GJSDACCA3LK27A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6LOXKVDLMC72NNTW4BLNMZACNPHAIIZZDZ6G3VKBDJBCVFMT2IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQFLALQOFH57GIPNEFYIQV37OJF5I46JCHJV3F57XLY763P7VJ4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQN62CEJCV2EMAZDDDOEFEB2I7Z46ADBPLOOXFTCDN5QSG4MERTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYTLI5UPWO2OHNYD2BJFS4NTKPWGOSU2M3PHWXS665R2QM4N2BOA/main.js"
            ]
        },
        "GetParametersForImport": {
            "input": {
                "type": "structure",
                "required": [
                    "KeyMaterialType",
                    "WrappingKeyAlgorithm"
                ],
                "members": {
                    "KeyMaterialType": {},
                    "WrappingKeyAlgorithm": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "WrappingKeyCertificate",
                    "WrappingKeyCertificateChain",
                    "WrappingKeyAlgorithm",
                    "ImportToken",
                    "ParametersValidUntilTimestamp"
                ],
                "members": {
                    "WrappingKeyCertificate": {
                        "shape": "Sz"
                    },
                    "WrappingKeyCertificateChain": {
                        "shape": "Sz"
                    },
                    "WrappingKeyAlgorithm": {},
                    "ImportToken": {},
                    "ParametersValidUntilTimestamp": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6I2QLEFCO6AZFY3C262K33HKITY3QFUJFT7SFZQ5HF2NRLVOHHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XQWZIDQQQWNE3R4QWN5NULZGDIHCBMTOALDBPL67TJTOWVFRP6OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FD6C7JH7S3J3H7QJ6E4SU3DVMQIMYDPNIFZ33VW4VCM3PZFL2F5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VBFQMNCDAO2RFJ2LNFZWFRDB5QXFILLYF6CQWOVPYS3ABPBQBAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F34N57VRLDIDPV7344W4UICRIBKHK6VZYPJ3RSKUZQQGYCXVKFHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVFQCNRET3BVN2PRNHBXRCXYJGQEYUHRMEGDOWD7YBDDKRNEUAXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYG4LP25BRF7HX53GMTVDKVMTZHSIS5MK2SXOHUJC3N5CV4KBC6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JNIP6DJVUREPT52MAN6QMZF77IQ5KSYSTLPSMCBJSBTERHQRUGYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YM6PCPMCOZ6DP54TNZG5DAE6LQ25AHTFMPEDKKPA6PTZKLUV3PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXSKSKSC4FPZQCPRH4A7VJNJGQC4TZX6Z3ZU6IUYDCRDGCGGQXYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVXF52UDYFAOERK7UYPQOLBL44DIGG4Q5DUBN7HE5CXDKCI55A4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F4DX6JXJWYIHOGE372KRFWKE2G3YT4IYR3AGNPF65USHFB2PQC3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NX2IMFYFYHK2LYPUS4OZX4JWOIHCR42WBJDEQW2J4ZHO3LMAOONA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EOS6KKRP4BQ4NF7LHJMQFU7J2Y5P7FWFAYZJAPABZL7FB6KDR5GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DLQDQSK4SJK4GMKQJ4SNUHGVYWEOVN7V3S67QSEKDCM3EDYJPXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NLW6FZFBXIHMQBHXTRJ2XGTQHMSNSWZDHLJ6HMQK7DF2GB7XWZBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYQHYIKMUWCL77F2XAPPTOXF6HVLI5MXOUHSY5CK6OTQLGL52RQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7DQS6GQ6YQL6LCKZUJHTPVMUJZM56FB7FY4BOBLM4RMQAAAEPKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQJKTD4U3AVTJUEHFNFCBL45UKBGYBMLDWXQNCTFPUQ6KISLNZFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ECRBO2X2RI7OCS3M2CZ5A7YLPCGY6VQ3CJQW7GJSDACCA3LK27A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6LOXKVDLMC72NNTW4BLNMZACNPHAIIZZDZ6G3VKBDJBCVFMT2IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQFLALQOFH57GIPNEFYIQV37OJF5I46JCHJV3F57XLY763P7VJ4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQN62CEJCV2EMAZDDDOEFEB2I7Z46ADBPLOOXFTCDN5QSG4MERTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYTLI5UPWO2OHNYD2BJFS4NTKPWGOSU2M3PHWXS665R2QM4N2BOA/main.js"
            ]
        },
        "GetPublicKeyCertificate": {
            "input": {
                "type": "structure",
                "required": [
                    "KeyIdentifier"
                ],
                "members": {
                    "KeyIdentifier": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "KeyCertificate",
                    "KeyCertificateChain"
                ],
                "members": {
                    "KeyCertificate": {
                        "shape": "Sz"
                    },
                    "KeyCertificateChain": {
                        "shape": "Sz"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6I2QLEFCO6AZFY3C262K33HKITY3QFUJFT7SFZQ5HF2NRLVOHHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XQWZIDQQQWNE3R4QWN5NULZGDIHCBMTOALDBPL67TJTOWVFRP6OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FD6C7JH7S3J3H7QJ6E4SU3DVMQIMYDPNIFZ33VW4VCM3PZFL2F5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VBFQMNCDAO2RFJ2LNFZWFRDB5QXFILLYF6CQWOVPYS3ABPBQBAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F34N57VRLDIDPV7344W4UICRIBKHK6VZYPJ3RSKUZQQGYCXVKFHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVFQCNRET3BVN2PRNHBXRCXYJGQEYUHRMEGDOWD7YBDDKRNEUAXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYG4LP25BRF7HX53GMTVDKVMTZHSIS5MK2SXOHUJC3N5CV4KBC6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JNIP6DJVUREPT52MAN6QMZF77IQ5KSYSTLPSMCBJSBTERHQRUGYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YM6PCPMCOZ6DP54TNZG5DAE6LQ25AHTFMPEDKKPA6PTZKLUV3PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXSKSKSC4FPZQCPRH4A7VJNJGQC4TZX6Z3ZU6IUYDCRDGCGGQXYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVXF52UDYFAOERK7UYPQOLBL44DIGG4Q5DUBN7HE5CXDKCI55A4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F4DX6JXJWYIHOGE372KRFWKE2G3YT4IYR3AGNPF65USHFB2PQC3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NX2IMFYFYHK2LYPUS4OZX4JWOIHCR42WBJDEQW2J4ZHO3LMAOONA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EOS6KKRP4BQ4NF7LHJMQFU7J2Y5P7FWFAYZJAPABZL7FB6KDR5GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DLQDQSK4SJK4GMKQJ4SNUHGVYWEOVN7V3S67QSEKDCM3EDYJPXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NLW6FZFBXIHMQBHXTRJ2XGTQHMSNSWZDHLJ6HMQK7DF2GB7XWZBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYQHYIKMUWCL77F2XAPPTOXF6HVLI5MXOUHSY5CK6OTQLGL52RQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7DQS6GQ6YQL6LCKZUJHTPVMUJZM56FB7FY4BOBLM4RMQAAAEPKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQJKTD4U3AVTJUEHFNFCBL45UKBGYBMLDWXQNCTFPUQ6KISLNZFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ECRBO2X2RI7OCS3M2CZ5A7YLPCGY6VQ3CJQW7GJSDACCA3LK27A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6LOXKVDLMC72NNTW4BLNMZACNPHAIIZZDZ6G3VKBDJBCVFMT2IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQFLALQOFH57GIPNEFYIQV37OJF5I46JCHJV3F57XLY763P7VJ4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQN62CEJCV2EMAZDDDOEFEB2I7Z46ADBPLOOXFTCDN5QSG4MERTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYTLI5UPWO2OHNYD2BJFS4NTKPWGOSU2M3PHWXS665R2QM4N2BOA/main.js"
            ]
        },
        "ImportKey": {
            "input": {
                "type": "structure",
                "required": [
                    "KeyMaterial"
                ],
                "members": {
                    "KeyMaterial": {
                        "type": "structure",
                        "members": {
                            "RootCertificatePublicKey": {
                                "type": "structure",
                                "required": [
                                    "KeyAttributes",
                                    "PublicKeyCertificate"
                                ],
                                "members": {
                                    "KeyAttributes": {
                                        "shape": "S7"
                                    },
                                    "PublicKeyCertificate": {
                                        "shape": "Sz"
                                    }
                                }
                            },
                            "TrustedCertificatePublicKey": {
                                "type": "structure",
                                "required": [
                                    "KeyAttributes",
                                    "PublicKeyCertificate",
                                    "CertificateAuthorityPublicKeyIdentifier"
                                ],
                                "members": {
                                    "KeyAttributes": {
                                        "shape": "S7"
                                    },
                                    "PublicKeyCertificate": {
                                        "shape": "Sz"
                                    },
                                    "CertificateAuthorityPublicKeyIdentifier": {}
                                }
                            },
                            "Tr31KeyBlock": {
                                "type": "structure",
                                "required": [
                                    "WrappingKeyIdentifier",
                                    "WrappedKeyBlock"
                                ],
                                "members": {
                                    "WrappingKeyIdentifier": {},
                                    "WrappedKeyBlock": {}
                                }
                            },
                            "Tr34KeyBlock": {
                                "type": "structure",
                                "required": [
                                    "CertificateAuthorityPublicKeyIdentifier",
                                    "SigningKeyCertificate",
                                    "ImportToken",
                                    "WrappedKeyBlock",
                                    "KeyBlockFormat"
                                ],
                                "members": {
                                    "CertificateAuthorityPublicKeyIdentifier": {},
                                    "SigningKeyCertificate": {
                                        "shape": "Sz"
                                    },
                                    "ImportToken": {},
                                    "WrappedKeyBlock": {},
                                    "KeyBlockFormat": {},
                                    "RandomNonce": {}
                                }
                            }
                        },
                        "union": true
                    },
                    "KeyCheckValueAlgorithm": {},
                    "Enabled": {
                        "type": "boolean"
                    },
                    "Tags": {
                        "shape": "Sf"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Key"
                ],
                "members": {
                    "Key": {
                        "shape": "Sk"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6I2QLEFCO6AZFY3C262K33HKITY3QFUJFT7SFZQ5HF2NRLVOHHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XQWZIDQQQWNE3R4QWN5NULZGDIHCBMTOALDBPL67TJTOWVFRP6OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FD6C7JH7S3J3H7QJ6E4SU3DVMQIMYDPNIFZ33VW4VCM3PZFL2F5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VBFQMNCDAO2RFJ2LNFZWFRDB5QXFILLYF6CQWOVPYS3ABPBQBAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F34N57VRLDIDPV7344W4UICRIBKHK6VZYPJ3RSKUZQQGYCXVKFHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVFQCNRET3BVN2PRNHBXRCXYJGQEYUHRMEGDOWD7YBDDKRNEUAXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYG4LP25BRF7HX53GMTVDKVMTZHSIS5MK2SXOHUJC3N5CV4KBC6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JNIP6DJVUREPT52MAN6QMZF77IQ5KSYSTLPSMCBJSBTERHQRUGYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YM6PCPMCOZ6DP54TNZG5DAE6LQ25AHTFMPEDKKPA6PTZKLUV3PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXSKSKSC4FPZQCPRH4A7VJNJGQC4TZX6Z3ZU6IUYDCRDGCGGQXYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVXF52UDYFAOERK7UYPQOLBL44DIGG4Q5DUBN7HE5CXDKCI55A4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F4DX6JXJWYIHOGE372KRFWKE2G3YT4IYR3AGNPF65USHFB2PQC3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NX2IMFYFYHK2LYPUS4OZX4JWOIHCR42WBJDEQW2J4ZHO3LMAOONA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EOS6KKRP4BQ4NF7LHJMQFU7J2Y5P7FWFAYZJAPABZL7FB6KDR5GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DLQDQSK4SJK4GMKQJ4SNUHGVYWEOVN7V3S67QSEKDCM3EDYJPXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NLW6FZFBXIHMQBHXTRJ2XGTQHMSNSWZDHLJ6HMQK7DF2GB7XWZBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYQHYIKMUWCL77F2XAPPTOXF6HVLI5MXOUHSY5CK6OTQLGL52RQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7DQS6GQ6YQL6LCKZUJHTPVMUJZM56FB7FY4BOBLM4RMQAAAEPKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQJKTD4U3AVTJUEHFNFCBL45UKBGYBMLDWXQNCTFPUQ6KISLNZFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ECRBO2X2RI7OCS3M2CZ5A7YLPCGY6VQ3CJQW7GJSDACCA3LK27A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6LOXKVDLMC72NNTW4BLNMZACNPHAIIZZDZ6G3VKBDJBCVFMT2IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQFLALQOFH57GIPNEFYIQV37OJF5I46JCHJV3F57XLY763P7VJ4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQN62CEJCV2EMAZDDDOEFEB2I7Z46ADBPLOOXFTCDN5QSG4MERTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYTLI5UPWO2OHNYD2BJFS4NTKPWGOSU2M3PHWXS665R2QM4N2BOA/main.js"
            ]
        },
        "ListAliases": {
            "input": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Aliases"
                ],
                "members": {
                    "Aliases": {
                        "type": "list",
                        "member": {
                            "shape": "S5"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6I2QLEFCO6AZFY3C262K33HKITY3QFUJFT7SFZQ5HF2NRLVOHHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XQWZIDQQQWNE3R4QWN5NULZGDIHCBMTOALDBPL67TJTOWVFRP6OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FD6C7JH7S3J3H7QJ6E4SU3DVMQIMYDPNIFZ33VW4VCM3PZFL2F5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VBFQMNCDAO2RFJ2LNFZWFRDB5QXFILLYF6CQWOVPYS3ABPBQBAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F34N57VRLDIDPV7344W4UICRIBKHK6VZYPJ3RSKUZQQGYCXVKFHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVFQCNRET3BVN2PRNHBXRCXYJGQEYUHRMEGDOWD7YBDDKRNEUAXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYG4LP25BRF7HX53GMTVDKVMTZHSIS5MK2SXOHUJC3N5CV4KBC6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JNIP6DJVUREPT52MAN6QMZF77IQ5KSYSTLPSMCBJSBTERHQRUGYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YM6PCPMCOZ6DP54TNZG5DAE6LQ25AHTFMPEDKKPA6PTZKLUV3PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXSKSKSC4FPZQCPRH4A7VJNJGQC4TZX6Z3ZU6IUYDCRDGCGGQXYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVXF52UDYFAOERK7UYPQOLBL44DIGG4Q5DUBN7HE5CXDKCI55A4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F4DX6JXJWYIHOGE372KRFWKE2G3YT4IYR3AGNPF65USHFB2PQC3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NX2IMFYFYHK2LYPUS4OZX4JWOIHCR42WBJDEQW2J4ZHO3LMAOONA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EOS6KKRP4BQ4NF7LHJMQFU7J2Y5P7FWFAYZJAPABZL7FB6KDR5GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DLQDQSK4SJK4GMKQJ4SNUHGVYWEOVN7V3S67QSEKDCM3EDYJPXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NLW6FZFBXIHMQBHXTRJ2XGTQHMSNSWZDHLJ6HMQK7DF2GB7XWZBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYQHYIKMUWCL77F2XAPPTOXF6HVLI5MXOUHSY5CK6OTQLGL52RQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7DQS6GQ6YQL6LCKZUJHTPVMUJZM56FB7FY4BOBLM4RMQAAAEPKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQJKTD4U3AVTJUEHFNFCBL45UKBGYBMLDWXQNCTFPUQ6KISLNZFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ECRBO2X2RI7OCS3M2CZ5A7YLPCGY6VQ3CJQW7GJSDACCA3LK27A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6LOXKVDLMC72NNTW4BLNMZACNPHAIIZZDZ6G3VKBDJBCVFMT2IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQFLALQOFH57GIPNEFYIQV37OJF5I46JCHJV3F57XLY763P7VJ4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQN62CEJCV2EMAZDDDOEFEB2I7Z46ADBPLOOXFTCDN5QSG4MERTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYTLI5UPWO2OHNYD2BJFS4NTKPWGOSU2M3PHWXS665R2QM4N2BOA/main.js"
            ]
        },
        "ListKeys": {
            "input": {
                "type": "structure",
                "members": {
                    "KeyState": {},
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Keys"
                ],
                "members": {
                    "Keys": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "KeyArn",
                                "KeyState",
                                "KeyAttributes",
                                "KeyCheckValue",
                                "Exportable",
                                "Enabled"
                            ],
                            "members": {
                                "KeyArn": {},
                                "KeyState": {},
                                "KeyAttributes": {
                                    "shape": "S7"
                                },
                                "KeyCheckValue": {},
                                "Exportable": {
                                    "type": "boolean"
                                },
                                "Enabled": {
                                    "type": "boolean"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6I2QLEFCO6AZFY3C262K33HKITY3QFUJFT7SFZQ5HF2NRLVOHHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XQWZIDQQQWNE3R4QWN5NULZGDIHCBMTOALDBPL67TJTOWVFRP6OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FD6C7JH7S3J3H7QJ6E4SU3DVMQIMYDPNIFZ33VW4VCM3PZFL2F5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VBFQMNCDAO2RFJ2LNFZWFRDB5QXFILLYF6CQWOVPYS3ABPBQBAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F34N57VRLDIDPV7344W4UICRIBKHK6VZYPJ3RSKUZQQGYCXVKFHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVFQCNRET3BVN2PRNHBXRCXYJGQEYUHRMEGDOWD7YBDDKRNEUAXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYG4LP25BRF7HX53GMTVDKVMTZHSIS5MK2SXOHUJC3N5CV4KBC6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JNIP6DJVUREPT52MAN6QMZF77IQ5KSYSTLPSMCBJSBTERHQRUGYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YM6PCPMCOZ6DP54TNZG5DAE6LQ25AHTFMPEDKKPA6PTZKLUV3PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXSKSKSC4FPZQCPRH4A7VJNJGQC4TZX6Z3ZU6IUYDCRDGCGGQXYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVXF52UDYFAOERK7UYPQOLBL44DIGG4Q5DUBN7HE5CXDKCI55A4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F4DX6JXJWYIHOGE372KRFWKE2G3YT4IYR3AGNPF65USHFB2PQC3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NX2IMFYFYHK2LYPUS4OZX4JWOIHCR42WBJDEQW2J4ZHO3LMAOONA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EOS6KKRP4BQ4NF7LHJMQFU7J2Y5P7FWFAYZJAPABZL7FB6KDR5GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DLQDQSK4SJK4GMKQJ4SNUHGVYWEOVN7V3S67QSEKDCM3EDYJPXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NLW6FZFBXIHMQBHXTRJ2XGTQHMSNSWZDHLJ6HMQK7DF2GB7XWZBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYQHYIKMUWCL77F2XAPPTOXF6HVLI5MXOUHSY5CK6OTQLGL52RQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7DQS6GQ6YQL6LCKZUJHTPVMUJZM56FB7FY4BOBLM4RMQAAAEPKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQJKTD4U3AVTJUEHFNFCBL45UKBGYBMLDWXQNCTFPUQ6KISLNZFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ECRBO2X2RI7OCS3M2CZ5A7YLPCGY6VQ3CJQW7GJSDACCA3LK27A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6LOXKVDLMC72NNTW4BLNMZACNPHAIIZZDZ6G3VKBDJBCVFMT2IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQFLALQOFH57GIPNEFYIQV37OJF5I46JCHJV3F57XLY763P7VJ4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQN62CEJCV2EMAZDDDOEFEB2I7Z46ADBPLOOXFTCDN5QSG4MERTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYTLI5UPWO2OHNYD2BJFS4NTKPWGOSU2M3PHWXS665R2QM4N2BOA/main.js"
            ]
        },
        "ListTagsForResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn"
                ],
                "members": {
                    "ResourceArn": {},
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Tags"
                ],
                "members": {
                    "Tags": {
                        "shape": "Sf"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6I2QLEFCO6AZFY3C262K33HKITY3QFUJFT7SFZQ5HF2NRLVOHHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XQWZIDQQQWNE3R4QWN5NULZGDIHCBMTOALDBPL67TJTOWVFRP6OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FD6C7JH7S3J3H7QJ6E4SU3DVMQIMYDPNIFZ33VW4VCM3PZFL2F5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VBFQMNCDAO2RFJ2LNFZWFRDB5QXFILLYF6CQWOVPYS3ABPBQBAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F34N57VRLDIDPV7344W4UICRIBKHK6VZYPJ3RSKUZQQGYCXVKFHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVFQCNRET3BVN2PRNHBXRCXYJGQEYUHRMEGDOWD7YBDDKRNEUAXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYG4LP25BRF7HX53GMTVDKVMTZHSIS5MK2SXOHUJC3N5CV4KBC6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JNIP6DJVUREPT52MAN6QMZF77IQ5KSYSTLPSMCBJSBTERHQRUGYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YM6PCPMCOZ6DP54TNZG5DAE6LQ25AHTFMPEDKKPA6PTZKLUV3PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXSKSKSC4FPZQCPRH4A7VJNJGQC4TZX6Z3ZU6IUYDCRDGCGGQXYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVXF52UDYFAOERK7UYPQOLBL44DIGG4Q5DUBN7HE5CXDKCI55A4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F4DX6JXJWYIHOGE372KRFWKE2G3YT4IYR3AGNPF65USHFB2PQC3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NX2IMFYFYHK2LYPUS4OZX4JWOIHCR42WBJDEQW2J4ZHO3LMAOONA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EOS6KKRP4BQ4NF7LHJMQFU7J2Y5P7FWFAYZJAPABZL7FB6KDR5GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DLQDQSK4SJK4GMKQJ4SNUHGVYWEOVN7V3S67QSEKDCM3EDYJPXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NLW6FZFBXIHMQBHXTRJ2XGTQHMSNSWZDHLJ6HMQK7DF2GB7XWZBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYQHYIKMUWCL77F2XAPPTOXF6HVLI5MXOUHSY5CK6OTQLGL52RQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7DQS6GQ6YQL6LCKZUJHTPVMUJZM56FB7FY4BOBLM4RMQAAAEPKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQJKTD4U3AVTJUEHFNFCBL45UKBGYBMLDWXQNCTFPUQ6KISLNZFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ECRBO2X2RI7OCS3M2CZ5A7YLPCGY6VQ3CJQW7GJSDACCA3LK27A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6LOXKVDLMC72NNTW4BLNMZACNPHAIIZZDZ6G3VKBDJBCVFMT2IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQFLALQOFH57GIPNEFYIQV37OJF5I46JCHJV3F57XLY763P7VJ4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQN62CEJCV2EMAZDDDOEFEB2I7Z46ADBPLOOXFTCDN5QSG4MERTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYTLI5UPWO2OHNYD2BJFS4NTKPWGOSU2M3PHWXS665R2QM4N2BOA/main.js"
            ]
        },
        "RestoreKey": {
            "input": {
                "type": "structure",
                "required": [
                    "KeyIdentifier"
                ],
                "members": {
                    "KeyIdentifier": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Key"
                ],
                "members": {
                    "Key": {
                        "shape": "Sk"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6I2QLEFCO6AZFY3C262K33HKITY3QFUJFT7SFZQ5HF2NRLVOHHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XQWZIDQQQWNE3R4QWN5NULZGDIHCBMTOALDBPL67TJTOWVFRP6OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FD6C7JH7S3J3H7QJ6E4SU3DVMQIMYDPNIFZ33VW4VCM3PZFL2F5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VBFQMNCDAO2RFJ2LNFZWFRDB5QXFILLYF6CQWOVPYS3ABPBQBAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F34N57VRLDIDPV7344W4UICRIBKHK6VZYPJ3RSKUZQQGYCXVKFHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVFQCNRET3BVN2PRNHBXRCXYJGQEYUHRMEGDOWD7YBDDKRNEUAXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYG4LP25BRF7HX53GMTVDKVMTZHSIS5MK2SXOHUJC3N5CV4KBC6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JNIP6DJVUREPT52MAN6QMZF77IQ5KSYSTLPSMCBJSBTERHQRUGYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YM6PCPMCOZ6DP54TNZG5DAE6LQ25AHTFMPEDKKPA6PTZKLUV3PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXSKSKSC4FPZQCPRH4A7VJNJGQC4TZX6Z3ZU6IUYDCRDGCGGQXYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVXF52UDYFAOERK7UYPQOLBL44DIGG4Q5DUBN7HE5CXDKCI55A4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F4DX6JXJWYIHOGE372KRFWKE2G3YT4IYR3AGNPF65USHFB2PQC3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NX2IMFYFYHK2LYPUS4OZX4JWOIHCR42WBJDEQW2J4ZHO3LMAOONA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EOS6KKRP4BQ4NF7LHJMQFU7J2Y5P7FWFAYZJAPABZL7FB6KDR5GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DLQDQSK4SJK4GMKQJ4SNUHGVYWEOVN7V3S67QSEKDCM3EDYJPXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NLW6FZFBXIHMQBHXTRJ2XGTQHMSNSWZDHLJ6HMQK7DF2GB7XWZBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYQHYIKMUWCL77F2XAPPTOXF6HVLI5MXOUHSY5CK6OTQLGL52RQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7DQS6GQ6YQL6LCKZUJHTPVMUJZM56FB7FY4BOBLM4RMQAAAEPKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQJKTD4U3AVTJUEHFNFCBL45UKBGYBMLDWXQNCTFPUQ6KISLNZFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ECRBO2X2RI7OCS3M2CZ5A7YLPCGY6VQ3CJQW7GJSDACCA3LK27A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6LOXKVDLMC72NNTW4BLNMZACNPHAIIZZDZ6G3VKBDJBCVFMT2IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQFLALQOFH57GIPNEFYIQV37OJF5I46JCHJV3F57XLY763P7VJ4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQN62CEJCV2EMAZDDDOEFEB2I7Z46ADBPLOOXFTCDN5QSG4MERTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYTLI5UPWO2OHNYD2BJFS4NTKPWGOSU2M3PHWXS665R2QM4N2BOA/main.js"
            ]
        },
        "StartKeyUsage": {
            "input": {
                "type": "structure",
                "required": [
                    "KeyIdentifier"
                ],
                "members": {
                    "KeyIdentifier": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Key"
                ],
                "members": {
                    "Key": {
                        "shape": "Sk"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6I2QLEFCO6AZFY3C262K33HKITY3QFUJFT7SFZQ5HF2NRLVOHHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XQWZIDQQQWNE3R4QWN5NULZGDIHCBMTOALDBPL67TJTOWVFRP6OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FD6C7JH7S3J3H7QJ6E4SU3DVMQIMYDPNIFZ33VW4VCM3PZFL2F5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VBFQMNCDAO2RFJ2LNFZWFRDB5QXFILLYF6CQWOVPYS3ABPBQBAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F34N57VRLDIDPV7344W4UICRIBKHK6VZYPJ3RSKUZQQGYCXVKFHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVFQCNRET3BVN2PRNHBXRCXYJGQEYUHRMEGDOWD7YBDDKRNEUAXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYG4LP25BRF7HX53GMTVDKVMTZHSIS5MK2SXOHUJC3N5CV4KBC6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JNIP6DJVUREPT52MAN6QMZF77IQ5KSYSTLPSMCBJSBTERHQRUGYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YM6PCPMCOZ6DP54TNZG5DAE6LQ25AHTFMPEDKKPA6PTZKLUV3PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXSKSKSC4FPZQCPRH4A7VJNJGQC4TZX6Z3ZU6IUYDCRDGCGGQXYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVXF52UDYFAOERK7UYPQOLBL44DIGG4Q5DUBN7HE5CXDKCI55A4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F4DX6JXJWYIHOGE372KRFWKE2G3YT4IYR3AGNPF65USHFB2PQC3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NX2IMFYFYHK2LYPUS4OZX4JWOIHCR42WBJDEQW2J4ZHO3LMAOONA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EOS6KKRP4BQ4NF7LHJMQFU7J2Y5P7FWFAYZJAPABZL7FB6KDR5GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DLQDQSK4SJK4GMKQJ4SNUHGVYWEOVN7V3S67QSEKDCM3EDYJPXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NLW6FZFBXIHMQBHXTRJ2XGTQHMSNSWZDHLJ6HMQK7DF2GB7XWZBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYQHYIKMUWCL77F2XAPPTOXF6HVLI5MXOUHSY5CK6OTQLGL52RQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7DQS6GQ6YQL6LCKZUJHTPVMUJZM56FB7FY4BOBLM4RMQAAAEPKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQJKTD4U3AVTJUEHFNFCBL45UKBGYBMLDWXQNCTFPUQ6KISLNZFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ECRBO2X2RI7OCS3M2CZ5A7YLPCGY6VQ3CJQW7GJSDACCA3LK27A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6LOXKVDLMC72NNTW4BLNMZACNPHAIIZZDZ6G3VKBDJBCVFMT2IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQFLALQOFH57GIPNEFYIQV37OJF5I46JCHJV3F57XLY763P7VJ4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQN62CEJCV2EMAZDDDOEFEB2I7Z46ADBPLOOXFTCDN5QSG4MERTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYTLI5UPWO2OHNYD2BJFS4NTKPWGOSU2M3PHWXS665R2QM4N2BOA/main.js"
            ]
        },
        "StopKeyUsage": {
            "input": {
                "type": "structure",
                "required": [
                    "KeyIdentifier"
                ],
                "members": {
                    "KeyIdentifier": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Key"
                ],
                "members": {
                    "Key": {
                        "shape": "Sk"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6I2QLEFCO6AZFY3C262K33HKITY3QFUJFT7SFZQ5HF2NRLVOHHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XQWZIDQQQWNE3R4QWN5NULZGDIHCBMTOALDBPL67TJTOWVFRP6OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FD6C7JH7S3J3H7QJ6E4SU3DVMQIMYDPNIFZ33VW4VCM3PZFL2F5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VBFQMNCDAO2RFJ2LNFZWFRDB5QXFILLYF6CQWOVPYS3ABPBQBAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F34N57VRLDIDPV7344W4UICRIBKHK6VZYPJ3RSKUZQQGYCXVKFHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVFQCNRET3BVN2PRNHBXRCXYJGQEYUHRMEGDOWD7YBDDKRNEUAXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYG4LP25BRF7HX53GMTVDKVMTZHSIS5MK2SXOHUJC3N5CV4KBC6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JNIP6DJVUREPT52MAN6QMZF77IQ5KSYSTLPSMCBJSBTERHQRUGYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YM6PCPMCOZ6DP54TNZG5DAE6LQ25AHTFMPEDKKPA6PTZKLUV3PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXSKSKSC4FPZQCPRH4A7VJNJGQC4TZX6Z3ZU6IUYDCRDGCGGQXYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVXF52UDYFAOERK7UYPQOLBL44DIGG4Q5DUBN7HE5CXDKCI55A4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F4DX6JXJWYIHOGE372KRFWKE2G3YT4IYR3AGNPF65USHFB2PQC3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NX2IMFYFYHK2LYPUS4OZX4JWOIHCR42WBJDEQW2J4ZHO3LMAOONA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EOS6KKRP4BQ4NF7LHJMQFU7J2Y5P7FWFAYZJAPABZL7FB6KDR5GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DLQDQSK4SJK4GMKQJ4SNUHGVYWEOVN7V3S67QSEKDCM3EDYJPXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NLW6FZFBXIHMQBHXTRJ2XGTQHMSNSWZDHLJ6HMQK7DF2GB7XWZBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYQHYIKMUWCL77F2XAPPTOXF6HVLI5MXOUHSY5CK6OTQLGL52RQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7DQS6GQ6YQL6LCKZUJHTPVMUJZM56FB7FY4BOBLM4RMQAAAEPKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQJKTD4U3AVTJUEHFNFCBL45UKBGYBMLDWXQNCTFPUQ6KISLNZFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ECRBO2X2RI7OCS3M2CZ5A7YLPCGY6VQ3CJQW7GJSDACCA3LK27A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6LOXKVDLMC72NNTW4BLNMZACNPHAIIZZDZ6G3VKBDJBCVFMT2IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQFLALQOFH57GIPNEFYIQV37OJF5I46JCHJV3F57XLY763P7VJ4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQN62CEJCV2EMAZDDDOEFEB2I7Z46ADBPLOOXFTCDN5QSG4MERTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYTLI5UPWO2OHNYD2BJFS4NTKPWGOSU2M3PHWXS665R2QM4N2BOA/main.js"
            ]
        },
        "TagResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn",
                    "Tags"
                ],
                "members": {
                    "ResourceArn": {},
                    "Tags": {
                        "shape": "Sf"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6I2QLEFCO6AZFY3C262K33HKITY3QFUJFT7SFZQ5HF2NRLVOHHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XQWZIDQQQWNE3R4QWN5NULZGDIHCBMTOALDBPL67TJTOWVFRP6OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FD6C7JH7S3J3H7QJ6E4SU3DVMQIMYDPNIFZ33VW4VCM3PZFL2F5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VBFQMNCDAO2RFJ2LNFZWFRDB5QXFILLYF6CQWOVPYS3ABPBQBAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F34N57VRLDIDPV7344W4UICRIBKHK6VZYPJ3RSKUZQQGYCXVKFHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVFQCNRET3BVN2PRNHBXRCXYJGQEYUHRMEGDOWD7YBDDKRNEUAXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYG4LP25BRF7HX53GMTVDKVMTZHSIS5MK2SXOHUJC3N5CV4KBC6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JNIP6DJVUREPT52MAN6QMZF77IQ5KSYSTLPSMCBJSBTERHQRUGYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YM6PCPMCOZ6DP54TNZG5DAE6LQ25AHTFMPEDKKPA6PTZKLUV3PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXSKSKSC4FPZQCPRH4A7VJNJGQC4TZX6Z3ZU6IUYDCRDGCGGQXYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVXF52UDYFAOERK7UYPQOLBL44DIGG4Q5DUBN7HE5CXDKCI55A4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F4DX6JXJWYIHOGE372KRFWKE2G3YT4IYR3AGNPF65USHFB2PQC3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NX2IMFYFYHK2LYPUS4OZX4JWOIHCR42WBJDEQW2J4ZHO3LMAOONA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EOS6KKRP4BQ4NF7LHJMQFU7J2Y5P7FWFAYZJAPABZL7FB6KDR5GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DLQDQSK4SJK4GMKQJ4SNUHGVYWEOVN7V3S67QSEKDCM3EDYJPXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NLW6FZFBXIHMQBHXTRJ2XGTQHMSNSWZDHLJ6HMQK7DF2GB7XWZBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYQHYIKMUWCL77F2XAPPTOXF6HVLI5MXOUHSY5CK6OTQLGL52RQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7DQS6GQ6YQL6LCKZUJHTPVMUJZM56FB7FY4BOBLM4RMQAAAEPKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQJKTD4U3AVTJUEHFNFCBL45UKBGYBMLDWXQNCTFPUQ6KISLNZFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ECRBO2X2RI7OCS3M2CZ5A7YLPCGY6VQ3CJQW7GJSDACCA3LK27A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6LOXKVDLMC72NNTW4BLNMZACNPHAIIZZDZ6G3VKBDJBCVFMT2IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQFLALQOFH57GIPNEFYIQV37OJF5I46JCHJV3F57XLY763P7VJ4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQN62CEJCV2EMAZDDDOEFEB2I7Z46ADBPLOOXFTCDN5QSG4MERTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYTLI5UPWO2OHNYD2BJFS4NTKPWGOSU2M3PHWXS665R2QM4N2BOA/main.js"
            ]
        },
        "UntagResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn",
                    "TagKeys"
                ],
                "members": {
                    "ResourceArn": {},
                    "TagKeys": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6I2QLEFCO6AZFY3C262K33HKITY3QFUJFT7SFZQ5HF2NRLVOHHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XQWZIDQQQWNE3R4QWN5NULZGDIHCBMTOALDBPL67TJTOWVFRP6OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FD6C7JH7S3J3H7QJ6E4SU3DVMQIMYDPNIFZ33VW4VCM3PZFL2F5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VBFQMNCDAO2RFJ2LNFZWFRDB5QXFILLYF6CQWOVPYS3ABPBQBAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F34N57VRLDIDPV7344W4UICRIBKHK6VZYPJ3RSKUZQQGYCXVKFHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVFQCNRET3BVN2PRNHBXRCXYJGQEYUHRMEGDOWD7YBDDKRNEUAXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYG4LP25BRF7HX53GMTVDKVMTZHSIS5MK2SXOHUJC3N5CV4KBC6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JNIP6DJVUREPT52MAN6QMZF77IQ5KSYSTLPSMCBJSBTERHQRUGYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YM6PCPMCOZ6DP54TNZG5DAE6LQ25AHTFMPEDKKPA6PTZKLUV3PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXSKSKSC4FPZQCPRH4A7VJNJGQC4TZX6Z3ZU6IUYDCRDGCGGQXYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVXF52UDYFAOERK7UYPQOLBL44DIGG4Q5DUBN7HE5CXDKCI55A4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F4DX6JXJWYIHOGE372KRFWKE2G3YT4IYR3AGNPF65USHFB2PQC3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NX2IMFYFYHK2LYPUS4OZX4JWOIHCR42WBJDEQW2J4ZHO3LMAOONA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EOS6KKRP4BQ4NF7LHJMQFU7J2Y5P7FWFAYZJAPABZL7FB6KDR5GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DLQDQSK4SJK4GMKQJ4SNUHGVYWEOVN7V3S67QSEKDCM3EDYJPXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NLW6FZFBXIHMQBHXTRJ2XGTQHMSNSWZDHLJ6HMQK7DF2GB7XWZBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYQHYIKMUWCL77F2XAPPTOXF6HVLI5MXOUHSY5CK6OTQLGL52RQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7DQS6GQ6YQL6LCKZUJHTPVMUJZM56FB7FY4BOBLM4RMQAAAEPKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQJKTD4U3AVTJUEHFNFCBL45UKBGYBMLDWXQNCTFPUQ6KISLNZFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ECRBO2X2RI7OCS3M2CZ5A7YLPCGY6VQ3CJQW7GJSDACCA3LK27A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6LOXKVDLMC72NNTW4BLNMZACNPHAIIZZDZ6G3VKBDJBCVFMT2IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQFLALQOFH57GIPNEFYIQV37OJF5I46JCHJV3F57XLY763P7VJ4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQN62CEJCV2EMAZDDDOEFEB2I7Z46ADBPLOOXFTCDN5QSG4MERTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYTLI5UPWO2OHNYD2BJFS4NTKPWGOSU2M3PHWXS665R2QM4N2BOA/main.js"
            ]
        },
        "UpdateAlias": {
            "input": {
                "type": "structure",
                "required": [
                    "AliasName"
                ],
                "members": {
                    "AliasName": {},
                    "KeyArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Alias"
                ],
                "members": {
                    "Alias": {
                        "shape": "S5"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6I2QLEFCO6AZFY3C262K33HKITY3QFUJFT7SFZQ5HF2NRLVOHHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XQWZIDQQQWNE3R4QWN5NULZGDIHCBMTOALDBPL67TJTOWVFRP6OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FD6C7JH7S3J3H7QJ6E4SU3DVMQIMYDPNIFZ33VW4VCM3PZFL2F5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VBFQMNCDAO2RFJ2LNFZWFRDB5QXFILLYF6CQWOVPYS3ABPBQBAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F34N57VRLDIDPV7344W4UICRIBKHK6VZYPJ3RSKUZQQGYCXVKFHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVFQCNRET3BVN2PRNHBXRCXYJGQEYUHRMEGDOWD7YBDDKRNEUAXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYG4LP25BRF7HX53GMTVDKVMTZHSIS5MK2SXOHUJC3N5CV4KBC6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JNIP6DJVUREPT52MAN6QMZF77IQ5KSYSTLPSMCBJSBTERHQRUGYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YM6PCPMCOZ6DP54TNZG5DAE6LQ25AHTFMPEDKKPA6PTZKLUV3PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXSKSKSC4FPZQCPRH4A7VJNJGQC4TZX6Z3ZU6IUYDCRDGCGGQXYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVXF52UDYFAOERK7UYPQOLBL44DIGG4Q5DUBN7HE5CXDKCI55A4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F4DX6JXJWYIHOGE372KRFWKE2G3YT4IYR3AGNPF65USHFB2PQC3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NX2IMFYFYHK2LYPUS4OZX4JWOIHCR42WBJDEQW2J4ZHO3LMAOONA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EOS6KKRP4BQ4NF7LHJMQFU7J2Y5P7FWFAYZJAPABZL7FB6KDR5GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DLQDQSK4SJK4GMKQJ4SNUHGVYWEOVN7V3S67QSEKDCM3EDYJPXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NLW6FZFBXIHMQBHXTRJ2XGTQHMSNSWZDHLJ6HMQK7DF2GB7XWZBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYQHYIKMUWCL77F2XAPPTOXF6HVLI5MXOUHSY5CK6OTQLGL52RQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7DQS6GQ6YQL6LCKZUJHTPVMUJZM56FB7FY4BOBLM4RMQAAAEPKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQJKTD4U3AVTJUEHFNFCBL45UKBGYBMLDWXQNCTFPUQ6KISLNZFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ECRBO2X2RI7OCS3M2CZ5A7YLPCGY6VQ3CJQW7GJSDACCA3LK27A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6LOXKVDLMC72NNTW4BLNMZACNPHAIIZZDZ6G3VKBDJBCVFMT2IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQFLALQOFH57GIPNEFYIQV37OJF5I46JCHJV3F57XLY763P7VJ4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQN62CEJCV2EMAZDDDOEFEB2I7Z46ADBPLOOXFTCDN5QSG4MERTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYTLI5UPWO2OHNYD2BJFS4NTKPWGOSU2M3PHWXS665R2QM4N2BOA/main.js"
            ]
        }
    },
    "shapes": {
        "S5": {
            "type": "structure",
            "required": [
                "AliasName"
            ],
            "members": {
                "AliasName": {},
                "KeyArn": {}
            }
        },
        "S7": {
            "type": "structure",
            "required": [
                "KeyUsage",
                "KeyClass",
                "KeyAlgorithm",
                "KeyModesOfUse"
            ],
            "members": {
                "KeyUsage": {},
                "KeyClass": {},
                "KeyAlgorithm": {},
                "KeyModesOfUse": {
                    "type": "structure",
                    "members": {
                        "Encrypt": {
                            "type": "boolean"
                        },
                        "Decrypt": {
                            "type": "boolean"
                        },
                        "Wrap": {
                            "type": "boolean"
                        },
                        "Unwrap": {
                            "type": "boolean"
                        },
                        "Generate": {
                            "type": "boolean"
                        },
                        "Sign": {
                            "type": "boolean"
                        },
                        "Verify": {
                            "type": "boolean"
                        },
                        "DeriveKey": {
                            "type": "boolean"
                        },
                        "NoRestrictions": {
                            "type": "boolean"
                        }
                    }
                }
            }
        },
        "Sf": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "Key"
                ],
                "members": {
                    "Key": {},
                    "Value": {}
                }
            }
        },
        "Sk": {
            "type": "structure",
            "required": [
                "KeyArn",
                "KeyAttributes",
                "KeyCheckValue",
                "KeyCheckValueAlgorithm",
                "Enabled",
                "Exportable",
                "KeyState",
                "KeyOrigin",
                "CreateTimestamp"
            ],
            "members": {
                "KeyArn": {},
                "KeyAttributes": {
                    "shape": "S7"
                },
                "KeyCheckValue": {},
                "KeyCheckValueAlgorithm": {},
                "Enabled": {
                    "type": "boolean"
                },
                "Exportable": {
                    "type": "boolean"
                },
                "KeyState": {},
                "KeyOrigin": {},
                "CreateTimestamp": {
                    "type": "timestamp"
                },
                "UsageStartTimestamp": {
                    "type": "timestamp"
                },
                "UsageStopTimestamp": {
                    "type": "timestamp"
                },
                "DeletePendingTimestamp": {
                    "type": "timestamp"
                },
                "DeleteTimestamp": {
                    "type": "timestamp"
                }
            }
        },
        "Sz": {
            "type": "string",
            "sensitive": true
        },
        "Sb": {
            "type": "structure",
            "members": {
                "Encrypt": {
                    "type": "boolean"
                },
                "Decrypt": {
                    "type": "boolean"
                },
                "Wrap": {
                    "type": "boolean"
                },
                "Unwrap": {
                    "type": "boolean"
                },
                "Generate": {
                    "type": "boolean"
                },
                "Sign": {
                    "type": "boolean"
                },
                "Verify": {
                    "type": "boolean"
                },
                "DeriveKey": {
                    "type": "boolean"
                },
                "NoRestrictions": {
                    "type": "boolean"
                }
            }
        },
        "Sy": {
            "type": "structure",
            "members": {
                "KeyModesOfUse": {
                    "shape": "Sb"
                },
                "KeyExportability": {},
                "KeyVersion": {},
                "OptionalBlocks": {
                    "type": "map",
                    "key": {},
                    "value": {}
                }
            }
        },
        "S15": {
            "type": "string",
            "sensitive": true
        }
    }
}