{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2021-09-14",
        "endpointPrefix": "controlplane.payment-cryptography",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceFullName": "AWS Payment Cryptography",
        "serviceId": "PaymentCryptography",
        "signatureVersion": "v4",
        "signingName": "payment-cryptography",
        "targetPrefix": "PaymentCryptographyControlPlane",
        "uid": "paymentcryptography-2021-09-14",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/M6LOXKVDLMC72NNTW4BLNMZACNPHAIIZZDZ6G3VKBDJBCVFMT2IA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VQFLALQOFH57GIPNEFYIQV37OJF5I46JCHJV3F57XLY763P7VJ4A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MQN62CEJCV2EMAZDDDOEFEB2I7Z46ADBPLOOXFTCDN5QSG4MERTQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VYTLI5UPWO2OHNYD2BJFS4NTKPWGOSU2M3PHWXS665R2QM4N2BOA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZKXS2NWE4HKEZ3BUJPGKFZBLWHJQSOO2Z4MCCEZSW7IXGMRCJK3Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/K47VJROZZ5QGCBYBOTFHTOBXN2LEHW4XVUHKQTMTEG6IDIBFDL6A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AK25HXWUMI4TNASQCIMEECWUFUL5X7JRIV5NDGTQKVYA3COILP6Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GRIOMSY3MFOLGNBEJHBDCUQWQ4JBW76EAV6LHXLDSXGHCZS3BHPA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HTGVIEOYZCYO2LDLEOIGPKWHW6Y62TTGDUICRWEJCFMEB77PSPZA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PFSG7MIKNUYJX2AFY7XKGOERKHQTQVURI5FE3CC4AFYEOATKGJ3Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/F7QJQ5ND7MU2RWKTOQKZMLFMTWJ5JRQPWDOIEQPSSJQC5OUGEGBA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L6EI5FOMLF2DUTACCNAOY2QHXVJLNWY6EBUZIFJVX565LNAH6JSQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R6TJK4XPLDX6NUNMBI3TJYNKSL7VR4LOYXJV3ME465HKWWDCEMPQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3VS7BPOOKSBELTCO6GPBDVJYIEKLK6VCHYHUUZECNBXMOQ5ZWHDQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WDA7F3FLS3QNIGROX62NPW3XHXPTGWBNDYHHJL5T5HQDGGWAS77A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2GBPYRIDWJ4GP7KRJJQIC5J26HB2UNIJ3HZS5PWE5W6EOH6C2GUQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PW3ACFWN3QJOA5662SUY3GGXQI7OU7WJETEOVK54TAF74UM6KPIA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/C6CH6QCUCW4LU2UOBJGIRRK2BJPWZQUNWNIXIIKLQPIQCFI677FA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BYEZE6HXLC2AFJMFTG4HTZN4R5AYZTXK3BPLADJYVAZD4NJU4VMA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WDFL5CCDCGDSWSIPRETA3QKTAKGMHQHFEQSHLFEWHZ6GW4BSXEFQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JGT7XC5FIPBYLP4RRNTILMS5Y6GQEXNVBJY4GNI3DZQO3GOT5MKQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BVHVNJX7YY4HSR2XMYHWASC2Q6A6BJZDHF2YWTUUYSWWCFIST2MQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MAVP3YA7GNAIQF3LFO43UWNK3INWJD6DYQHK5JRCIDHISQVKM33A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VH5ELRXCXOJD4QY2QB5TRTPPAN4M46TWTVXSOKXVGZI64YCZT3CQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/THDFQ2FKZLQIOSSFNDS3RKO4ZDP3UTPYNK67L2K5KG3PNZICG74A/main.js"
        ]
    },
    "operations": {
        "CreateAlias": {
            "input": {
                "type": "structure",
                "required": [
                    "AliasName"
                ],
                "members": {
                    "AliasName": {},
                    "KeyArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Alias"
                ],
                "members": {
                    "Alias": {
                        "shape": "S5"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQFLALQOFH57GIPNEFYIQV37OJF5I46JCHJV3F57XLY763P7VJ4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQN62CEJCV2EMAZDDDOEFEB2I7Z46ADBPLOOXFTCDN5QSG4MERTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYTLI5UPWO2OHNYD2BJFS4NTKPWGOSU2M3PHWXS665R2QM4N2BOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKXS2NWE4HKEZ3BUJPGKFZBLWHJQSOO2Z4MCCEZSW7IXGMRCJK3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K47VJROZZ5QGCBYBOTFHTOBXN2LEHW4XVUHKQTMTEG6IDIBFDL6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AK25HXWUMI4TNASQCIMEECWUFUL5X7JRIV5NDGTQKVYA3COILP6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GRIOMSY3MFOLGNBEJHBDCUQWQ4JBW76EAV6LHXLDSXGHCZS3BHPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTGVIEOYZCYO2LDLEOIGPKWHW6Y62TTGDUICRWEJCFMEB77PSPZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PFSG7MIKNUYJX2AFY7XKGOERKHQTQVURI5FE3CC4AFYEOATKGJ3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F7QJQ5ND7MU2RWKTOQKZMLFMTWJ5JRQPWDOIEQPSSJQC5OUGEGBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6EI5FOMLF2DUTACCNAOY2QHXVJLNWY6EBUZIFJVX565LNAH6JSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6TJK4XPLDX6NUNMBI3TJYNKSL7VR4LOYXJV3ME465HKWWDCEMPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3VS7BPOOKSBELTCO6GPBDVJYIEKLK6VCHYHUUZECNBXMOQ5ZWHDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WDA7F3FLS3QNIGROX62NPW3XHXPTGWBNDYHHJL5T5HQDGGWAS77A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GBPYRIDWJ4GP7KRJJQIC5J26HB2UNIJ3HZS5PWE5W6EOH6C2GUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PW3ACFWN3QJOA5662SUY3GGXQI7OU7WJETEOVK54TAF74UM6KPIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6CH6QCUCW4LU2UOBJGIRRK2BJPWZQUNWNIXIIKLQPIQCFI677FA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYEZE6HXLC2AFJMFTG4HTZN4R5AYZTXK3BPLADJYVAZD4NJU4VMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WDFL5CCDCGDSWSIPRETA3QKTAKGMHQHFEQSHLFEWHZ6GW4BSXEFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JGT7XC5FIPBYLP4RRNTILMS5Y6GQEXNVBJY4GNI3DZQO3GOT5MKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVHVNJX7YY4HSR2XMYHWASC2Q6A6BJZDHF2YWTUUYSWWCFIST2MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MAVP3YA7GNAIQF3LFO43UWNK3INWJD6DYQHK5JRCIDHISQVKM33A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VH5ELRXCXOJD4QY2QB5TRTPPAN4M46TWTVXSOKXVGZI64YCZT3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THDFQ2FKZLQIOSSFNDS3RKO4ZDP3UTPYNK67L2K5KG3PNZICG74A/main.js"
            ]
        },
        "CreateKey": {
            "input": {
                "type": "structure",
                "required": [
                    "KeyAttributes",
                    "Exportable"
                ],
                "members": {
                    "KeyAttributes": {
                        "shape": "S7"
                    },
                    "KeyCheckValueAlgorithm": {},
                    "Exportable": {
                        "type": "boolean"
                    },
                    "Enabled": {
                        "type": "boolean"
                    },
                    "Tags": {
                        "shape": "Sf"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Key"
                ],
                "members": {
                    "Key": {
                        "shape": "Sk"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQFLALQOFH57GIPNEFYIQV37OJF5I46JCHJV3F57XLY763P7VJ4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQN62CEJCV2EMAZDDDOEFEB2I7Z46ADBPLOOXFTCDN5QSG4MERTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYTLI5UPWO2OHNYD2BJFS4NTKPWGOSU2M3PHWXS665R2QM4N2BOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKXS2NWE4HKEZ3BUJPGKFZBLWHJQSOO2Z4MCCEZSW7IXGMRCJK3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K47VJROZZ5QGCBYBOTFHTOBXN2LEHW4XVUHKQTMTEG6IDIBFDL6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AK25HXWUMI4TNASQCIMEECWUFUL5X7JRIV5NDGTQKVYA3COILP6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GRIOMSY3MFOLGNBEJHBDCUQWQ4JBW76EAV6LHXLDSXGHCZS3BHPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTGVIEOYZCYO2LDLEOIGPKWHW6Y62TTGDUICRWEJCFMEB77PSPZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PFSG7MIKNUYJX2AFY7XKGOERKHQTQVURI5FE3CC4AFYEOATKGJ3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F7QJQ5ND7MU2RWKTOQKZMLFMTWJ5JRQPWDOIEQPSSJQC5OUGEGBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6EI5FOMLF2DUTACCNAOY2QHXVJLNWY6EBUZIFJVX565LNAH6JSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6TJK4XPLDX6NUNMBI3TJYNKSL7VR4LOYXJV3ME465HKWWDCEMPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3VS7BPOOKSBELTCO6GPBDVJYIEKLK6VCHYHUUZECNBXMOQ5ZWHDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WDA7F3FLS3QNIGROX62NPW3XHXPTGWBNDYHHJL5T5HQDGGWAS77A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GBPYRIDWJ4GP7KRJJQIC5J26HB2UNIJ3HZS5PWE5W6EOH6C2GUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PW3ACFWN3QJOA5662SUY3GGXQI7OU7WJETEOVK54TAF74UM6KPIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6CH6QCUCW4LU2UOBJGIRRK2BJPWZQUNWNIXIIKLQPIQCFI677FA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYEZE6HXLC2AFJMFTG4HTZN4R5AYZTXK3BPLADJYVAZD4NJU4VMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WDFL5CCDCGDSWSIPRETA3QKTAKGMHQHFEQSHLFEWHZ6GW4BSXEFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JGT7XC5FIPBYLP4RRNTILMS5Y6GQEXNVBJY4GNI3DZQO3GOT5MKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVHVNJX7YY4HSR2XMYHWASC2Q6A6BJZDHF2YWTUUYSWWCFIST2MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MAVP3YA7GNAIQF3LFO43UWNK3INWJD6DYQHK5JRCIDHISQVKM33A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VH5ELRXCXOJD4QY2QB5TRTPPAN4M46TWTVXSOKXVGZI64YCZT3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THDFQ2FKZLQIOSSFNDS3RKO4ZDP3UTPYNK67L2K5KG3PNZICG74A/main.js"
            ]
        },
        "DeleteAlias": {
            "input": {
                "type": "structure",
                "required": [
                    "AliasName"
                ],
                "members": {
                    "AliasName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQFLALQOFH57GIPNEFYIQV37OJF5I46JCHJV3F57XLY763P7VJ4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQN62CEJCV2EMAZDDDOEFEB2I7Z46ADBPLOOXFTCDN5QSG4MERTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYTLI5UPWO2OHNYD2BJFS4NTKPWGOSU2M3PHWXS665R2QM4N2BOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKXS2NWE4HKEZ3BUJPGKFZBLWHJQSOO2Z4MCCEZSW7IXGMRCJK3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K47VJROZZ5QGCBYBOTFHTOBXN2LEHW4XVUHKQTMTEG6IDIBFDL6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AK25HXWUMI4TNASQCIMEECWUFUL5X7JRIV5NDGTQKVYA3COILP6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GRIOMSY3MFOLGNBEJHBDCUQWQ4JBW76EAV6LHXLDSXGHCZS3BHPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTGVIEOYZCYO2LDLEOIGPKWHW6Y62TTGDUICRWEJCFMEB77PSPZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PFSG7MIKNUYJX2AFY7XKGOERKHQTQVURI5FE3CC4AFYEOATKGJ3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F7QJQ5ND7MU2RWKTOQKZMLFMTWJ5JRQPWDOIEQPSSJQC5OUGEGBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6EI5FOMLF2DUTACCNAOY2QHXVJLNWY6EBUZIFJVX565LNAH6JSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6TJK4XPLDX6NUNMBI3TJYNKSL7VR4LOYXJV3ME465HKWWDCEMPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3VS7BPOOKSBELTCO6GPBDVJYIEKLK6VCHYHUUZECNBXMOQ5ZWHDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WDA7F3FLS3QNIGROX62NPW3XHXPTGWBNDYHHJL5T5HQDGGWAS77A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GBPYRIDWJ4GP7KRJJQIC5J26HB2UNIJ3HZS5PWE5W6EOH6C2GUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PW3ACFWN3QJOA5662SUY3GGXQI7OU7WJETEOVK54TAF74UM6KPIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6CH6QCUCW4LU2UOBJGIRRK2BJPWZQUNWNIXIIKLQPIQCFI677FA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYEZE6HXLC2AFJMFTG4HTZN4R5AYZTXK3BPLADJYVAZD4NJU4VMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WDFL5CCDCGDSWSIPRETA3QKTAKGMHQHFEQSHLFEWHZ6GW4BSXEFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JGT7XC5FIPBYLP4RRNTILMS5Y6GQEXNVBJY4GNI3DZQO3GOT5MKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVHVNJX7YY4HSR2XMYHWASC2Q6A6BJZDHF2YWTUUYSWWCFIST2MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MAVP3YA7GNAIQF3LFO43UWNK3INWJD6DYQHK5JRCIDHISQVKM33A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VH5ELRXCXOJD4QY2QB5TRTPPAN4M46TWTVXSOKXVGZI64YCZT3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THDFQ2FKZLQIOSSFNDS3RKO4ZDP3UTPYNK67L2K5KG3PNZICG74A/main.js"
            ]
        },
        "DeleteKey": {
            "input": {
                "type": "structure",
                "required": [
                    "KeyIdentifier"
                ],
                "members": {
                    "KeyIdentifier": {},
                    "DeleteKeyInDays": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Key"
                ],
                "members": {
                    "Key": {
                        "shape": "Sk"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQFLALQOFH57GIPNEFYIQV37OJF5I46JCHJV3F57XLY763P7VJ4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQN62CEJCV2EMAZDDDOEFEB2I7Z46ADBPLOOXFTCDN5QSG4MERTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYTLI5UPWO2OHNYD2BJFS4NTKPWGOSU2M3PHWXS665R2QM4N2BOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKXS2NWE4HKEZ3BUJPGKFZBLWHJQSOO2Z4MCCEZSW7IXGMRCJK3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K47VJROZZ5QGCBYBOTFHTOBXN2LEHW4XVUHKQTMTEG6IDIBFDL6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AK25HXWUMI4TNASQCIMEECWUFUL5X7JRIV5NDGTQKVYA3COILP6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GRIOMSY3MFOLGNBEJHBDCUQWQ4JBW76EAV6LHXLDSXGHCZS3BHPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTGVIEOYZCYO2LDLEOIGPKWHW6Y62TTGDUICRWEJCFMEB77PSPZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PFSG7MIKNUYJX2AFY7XKGOERKHQTQVURI5FE3CC4AFYEOATKGJ3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F7QJQ5ND7MU2RWKTOQKZMLFMTWJ5JRQPWDOIEQPSSJQC5OUGEGBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6EI5FOMLF2DUTACCNAOY2QHXVJLNWY6EBUZIFJVX565LNAH6JSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6TJK4XPLDX6NUNMBI3TJYNKSL7VR4LOYXJV3ME465HKWWDCEMPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3VS7BPOOKSBELTCO6GPBDVJYIEKLK6VCHYHUUZECNBXMOQ5ZWHDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WDA7F3FLS3QNIGROX62NPW3XHXPTGWBNDYHHJL5T5HQDGGWAS77A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GBPYRIDWJ4GP7KRJJQIC5J26HB2UNIJ3HZS5PWE5W6EOH6C2GUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PW3ACFWN3QJOA5662SUY3GGXQI7OU7WJETEOVK54TAF74UM6KPIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6CH6QCUCW4LU2UOBJGIRRK2BJPWZQUNWNIXIIKLQPIQCFI677FA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYEZE6HXLC2AFJMFTG4HTZN4R5AYZTXK3BPLADJYVAZD4NJU4VMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WDFL5CCDCGDSWSIPRETA3QKTAKGMHQHFEQSHLFEWHZ6GW4BSXEFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JGT7XC5FIPBYLP4RRNTILMS5Y6GQEXNVBJY4GNI3DZQO3GOT5MKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVHVNJX7YY4HSR2XMYHWASC2Q6A6BJZDHF2YWTUUYSWWCFIST2MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MAVP3YA7GNAIQF3LFO43UWNK3INWJD6DYQHK5JRCIDHISQVKM33A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VH5ELRXCXOJD4QY2QB5TRTPPAN4M46TWTVXSOKXVGZI64YCZT3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THDFQ2FKZLQIOSSFNDS3RKO4ZDP3UTPYNK67L2K5KG3PNZICG74A/main.js"
            ]
        },
        "ExportKey": {
            "input": {
                "type": "structure",
                "required": [
                    "KeyMaterial",
                    "ExportKeyIdentifier"
                ],
                "members": {
                    "KeyMaterial": {
                        "type": "structure",
                        "members": {
                            "Tr31KeyBlock": {
                                "type": "structure",
                                "required": [
                                    "WrappingKeyIdentifier"
                                ],
                                "members": {
                                    "WrappingKeyIdentifier": {}
                                }
                            },
                            "Tr34KeyBlock": {
                                "type": "structure",
                                "required": [
                                    "CertificateAuthorityPublicKeyIdentifier",
                                    "WrappingKeyCertificate",
                                    "ExportToken",
                                    "KeyBlockFormat"
                                ],
                                "members": {
                                    "CertificateAuthorityPublicKeyIdentifier": {},
                                    "WrappingKeyCertificate": {
                                        "shape": "Sz"
                                    },
                                    "ExportToken": {},
                                    "KeyBlockFormat": {},
                                    "RandomNonce": {}
                                }
                            }
                        },
                        "union": true
                    },
                    "ExportKeyIdentifier": {},
                    "ExportAttributes": {
                        "type": "structure",
                        "members": {
                            "ExportDukptInitialKey": {
                                "type": "structure",
                                "required": [
                                    "KeySerialNumber"
                                ],
                                "members": {
                                    "KeySerialNumber": {}
                                }
                            },
                            "KeyCheckValueAlgorithm": {}
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "WrappedKey": {
                        "type": "structure",
                        "required": [
                            "WrappingKeyArn",
                            "WrappedKeyMaterialFormat",
                            "KeyMaterial"
                        ],
                        "members": {
                            "WrappingKeyArn": {},
                            "WrappedKeyMaterialFormat": {},
                            "KeyMaterial": {
                                "type": "string",
                                "sensitive": true
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQFLALQOFH57GIPNEFYIQV37OJF5I46JCHJV3F57XLY763P7VJ4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQN62CEJCV2EMAZDDDOEFEB2I7Z46ADBPLOOXFTCDN5QSG4MERTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYTLI5UPWO2OHNYD2BJFS4NTKPWGOSU2M3PHWXS665R2QM4N2BOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKXS2NWE4HKEZ3BUJPGKFZBLWHJQSOO2Z4MCCEZSW7IXGMRCJK3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K47VJROZZ5QGCBYBOTFHTOBXN2LEHW4XVUHKQTMTEG6IDIBFDL6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AK25HXWUMI4TNASQCIMEECWUFUL5X7JRIV5NDGTQKVYA3COILP6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GRIOMSY3MFOLGNBEJHBDCUQWQ4JBW76EAV6LHXLDSXGHCZS3BHPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTGVIEOYZCYO2LDLEOIGPKWHW6Y62TTGDUICRWEJCFMEB77PSPZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PFSG7MIKNUYJX2AFY7XKGOERKHQTQVURI5FE3CC4AFYEOATKGJ3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F7QJQ5ND7MU2RWKTOQKZMLFMTWJ5JRQPWDOIEQPSSJQC5OUGEGBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6EI5FOMLF2DUTACCNAOY2QHXVJLNWY6EBUZIFJVX565LNAH6JSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6TJK4XPLDX6NUNMBI3TJYNKSL7VR4LOYXJV3ME465HKWWDCEMPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3VS7BPOOKSBELTCO6GPBDVJYIEKLK6VCHYHUUZECNBXMOQ5ZWHDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WDA7F3FLS3QNIGROX62NPW3XHXPTGWBNDYHHJL5T5HQDGGWAS77A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GBPYRIDWJ4GP7KRJJQIC5J26HB2UNIJ3HZS5PWE5W6EOH6C2GUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PW3ACFWN3QJOA5662SUY3GGXQI7OU7WJETEOVK54TAF74UM6KPIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6CH6QCUCW4LU2UOBJGIRRK2BJPWZQUNWNIXIIKLQPIQCFI677FA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYEZE6HXLC2AFJMFTG4HTZN4R5AYZTXK3BPLADJYVAZD4NJU4VMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WDFL5CCDCGDSWSIPRETA3QKTAKGMHQHFEQSHLFEWHZ6GW4BSXEFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JGT7XC5FIPBYLP4RRNTILMS5Y6GQEXNVBJY4GNI3DZQO3GOT5MKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVHVNJX7YY4HSR2XMYHWASC2Q6A6BJZDHF2YWTUUYSWWCFIST2MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MAVP3YA7GNAIQF3LFO43UWNK3INWJD6DYQHK5JRCIDHISQVKM33A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VH5ELRXCXOJD4QY2QB5TRTPPAN4M46TWTVXSOKXVGZI64YCZT3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THDFQ2FKZLQIOSSFNDS3RKO4ZDP3UTPYNK67L2K5KG3PNZICG74A/main.js"
            ]
        },
        "GetAlias": {
            "input": {
                "type": "structure",
                "required": [
                    "AliasName"
                ],
                "members": {
                    "AliasName": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Alias"
                ],
                "members": {
                    "Alias": {
                        "shape": "S5"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQFLALQOFH57GIPNEFYIQV37OJF5I46JCHJV3F57XLY763P7VJ4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQN62CEJCV2EMAZDDDOEFEB2I7Z46ADBPLOOXFTCDN5QSG4MERTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYTLI5UPWO2OHNYD2BJFS4NTKPWGOSU2M3PHWXS665R2QM4N2BOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKXS2NWE4HKEZ3BUJPGKFZBLWHJQSOO2Z4MCCEZSW7IXGMRCJK3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K47VJROZZ5QGCBYBOTFHTOBXN2LEHW4XVUHKQTMTEG6IDIBFDL6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AK25HXWUMI4TNASQCIMEECWUFUL5X7JRIV5NDGTQKVYA3COILP6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GRIOMSY3MFOLGNBEJHBDCUQWQ4JBW76EAV6LHXLDSXGHCZS3BHPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTGVIEOYZCYO2LDLEOIGPKWHW6Y62TTGDUICRWEJCFMEB77PSPZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PFSG7MIKNUYJX2AFY7XKGOERKHQTQVURI5FE3CC4AFYEOATKGJ3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F7QJQ5ND7MU2RWKTOQKZMLFMTWJ5JRQPWDOIEQPSSJQC5OUGEGBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6EI5FOMLF2DUTACCNAOY2QHXVJLNWY6EBUZIFJVX565LNAH6JSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6TJK4XPLDX6NUNMBI3TJYNKSL7VR4LOYXJV3ME465HKWWDCEMPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3VS7BPOOKSBELTCO6GPBDVJYIEKLK6VCHYHUUZECNBXMOQ5ZWHDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WDA7F3FLS3QNIGROX62NPW3XHXPTGWBNDYHHJL5T5HQDGGWAS77A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GBPYRIDWJ4GP7KRJJQIC5J26HB2UNIJ3HZS5PWE5W6EOH6C2GUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PW3ACFWN3QJOA5662SUY3GGXQI7OU7WJETEOVK54TAF74UM6KPIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6CH6QCUCW4LU2UOBJGIRRK2BJPWZQUNWNIXIIKLQPIQCFI677FA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYEZE6HXLC2AFJMFTG4HTZN4R5AYZTXK3BPLADJYVAZD4NJU4VMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WDFL5CCDCGDSWSIPRETA3QKTAKGMHQHFEQSHLFEWHZ6GW4BSXEFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JGT7XC5FIPBYLP4RRNTILMS5Y6GQEXNVBJY4GNI3DZQO3GOT5MKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVHVNJX7YY4HSR2XMYHWASC2Q6A6BJZDHF2YWTUUYSWWCFIST2MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MAVP3YA7GNAIQF3LFO43UWNK3INWJD6DYQHK5JRCIDHISQVKM33A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VH5ELRXCXOJD4QY2QB5TRTPPAN4M46TWTVXSOKXVGZI64YCZT3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THDFQ2FKZLQIOSSFNDS3RKO4ZDP3UTPYNK67L2K5KG3PNZICG74A/main.js"
            ]
        },
        "GetKey": {
            "input": {
                "type": "structure",
                "required": [
                    "KeyIdentifier"
                ],
                "members": {
                    "KeyIdentifier": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Key"
                ],
                "members": {
                    "Key": {
                        "shape": "Sk"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQFLALQOFH57GIPNEFYIQV37OJF5I46JCHJV3F57XLY763P7VJ4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQN62CEJCV2EMAZDDDOEFEB2I7Z46ADBPLOOXFTCDN5QSG4MERTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYTLI5UPWO2OHNYD2BJFS4NTKPWGOSU2M3PHWXS665R2QM4N2BOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKXS2NWE4HKEZ3BUJPGKFZBLWHJQSOO2Z4MCCEZSW7IXGMRCJK3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K47VJROZZ5QGCBYBOTFHTOBXN2LEHW4XVUHKQTMTEG6IDIBFDL6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AK25HXWUMI4TNASQCIMEECWUFUL5X7JRIV5NDGTQKVYA3COILP6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GRIOMSY3MFOLGNBEJHBDCUQWQ4JBW76EAV6LHXLDSXGHCZS3BHPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTGVIEOYZCYO2LDLEOIGPKWHW6Y62TTGDUICRWEJCFMEB77PSPZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PFSG7MIKNUYJX2AFY7XKGOERKHQTQVURI5FE3CC4AFYEOATKGJ3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F7QJQ5ND7MU2RWKTOQKZMLFMTWJ5JRQPWDOIEQPSSJQC5OUGEGBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6EI5FOMLF2DUTACCNAOY2QHXVJLNWY6EBUZIFJVX565LNAH6JSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6TJK4XPLDX6NUNMBI3TJYNKSL7VR4LOYXJV3ME465HKWWDCEMPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3VS7BPOOKSBELTCO6GPBDVJYIEKLK6VCHYHUUZECNBXMOQ5ZWHDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WDA7F3FLS3QNIGROX62NPW3XHXPTGWBNDYHHJL5T5HQDGGWAS77A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GBPYRIDWJ4GP7KRJJQIC5J26HB2UNIJ3HZS5PWE5W6EOH6C2GUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PW3ACFWN3QJOA5662SUY3GGXQI7OU7WJETEOVK54TAF74UM6KPIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6CH6QCUCW4LU2UOBJGIRRK2BJPWZQUNWNIXIIKLQPIQCFI677FA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYEZE6HXLC2AFJMFTG4HTZN4R5AYZTXK3BPLADJYVAZD4NJU4VMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WDFL5CCDCGDSWSIPRETA3QKTAKGMHQHFEQSHLFEWHZ6GW4BSXEFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JGT7XC5FIPBYLP4RRNTILMS5Y6GQEXNVBJY4GNI3DZQO3GOT5MKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVHVNJX7YY4HSR2XMYHWASC2Q6A6BJZDHF2YWTUUYSWWCFIST2MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MAVP3YA7GNAIQF3LFO43UWNK3INWJD6DYQHK5JRCIDHISQVKM33A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VH5ELRXCXOJD4QY2QB5TRTPPAN4M46TWTVXSOKXVGZI64YCZT3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THDFQ2FKZLQIOSSFNDS3RKO4ZDP3UTPYNK67L2K5KG3PNZICG74A/main.js"
            ]
        },
        "GetParametersForExport": {
            "input": {
                "type": "structure",
                "required": [
                    "KeyMaterialType",
                    "SigningKeyAlgorithm"
                ],
                "members": {
                    "KeyMaterialType": {},
                    "SigningKeyAlgorithm": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "SigningKeyCertificate",
                    "SigningKeyCertificateChain",
                    "SigningKeyAlgorithm",
                    "ExportToken",
                    "ParametersValidUntilTimestamp"
                ],
                "members": {
                    "SigningKeyCertificate": {
                        "shape": "Sz"
                    },
                    "SigningKeyCertificateChain": {
                        "shape": "Sz"
                    },
                    "SigningKeyAlgorithm": {},
                    "ExportToken": {},
                    "ParametersValidUntilTimestamp": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQFLALQOFH57GIPNEFYIQV37OJF5I46JCHJV3F57XLY763P7VJ4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQN62CEJCV2EMAZDDDOEFEB2I7Z46ADBPLOOXFTCDN5QSG4MERTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYTLI5UPWO2OHNYD2BJFS4NTKPWGOSU2M3PHWXS665R2QM4N2BOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKXS2NWE4HKEZ3BUJPGKFZBLWHJQSOO2Z4MCCEZSW7IXGMRCJK3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K47VJROZZ5QGCBYBOTFHTOBXN2LEHW4XVUHKQTMTEG6IDIBFDL6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AK25HXWUMI4TNASQCIMEECWUFUL5X7JRIV5NDGTQKVYA3COILP6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GRIOMSY3MFOLGNBEJHBDCUQWQ4JBW76EAV6LHXLDSXGHCZS3BHPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTGVIEOYZCYO2LDLEOIGPKWHW6Y62TTGDUICRWEJCFMEB77PSPZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PFSG7MIKNUYJX2AFY7XKGOERKHQTQVURI5FE3CC4AFYEOATKGJ3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F7QJQ5ND7MU2RWKTOQKZMLFMTWJ5JRQPWDOIEQPSSJQC5OUGEGBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6EI5FOMLF2DUTACCNAOY2QHXVJLNWY6EBUZIFJVX565LNAH6JSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6TJK4XPLDX6NUNMBI3TJYNKSL7VR4LOYXJV3ME465HKWWDCEMPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3VS7BPOOKSBELTCO6GPBDVJYIEKLK6VCHYHUUZECNBXMOQ5ZWHDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WDA7F3FLS3QNIGROX62NPW3XHXPTGWBNDYHHJL5T5HQDGGWAS77A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GBPYRIDWJ4GP7KRJJQIC5J26HB2UNIJ3HZS5PWE5W6EOH6C2GUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PW3ACFWN3QJOA5662SUY3GGXQI7OU7WJETEOVK54TAF74UM6KPIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6CH6QCUCW4LU2UOBJGIRRK2BJPWZQUNWNIXIIKLQPIQCFI677FA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYEZE6HXLC2AFJMFTG4HTZN4R5AYZTXK3BPLADJYVAZD4NJU4VMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WDFL5CCDCGDSWSIPRETA3QKTAKGMHQHFEQSHLFEWHZ6GW4BSXEFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JGT7XC5FIPBYLP4RRNTILMS5Y6GQEXNVBJY4GNI3DZQO3GOT5MKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVHVNJX7YY4HSR2XMYHWASC2Q6A6BJZDHF2YWTUUYSWWCFIST2MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MAVP3YA7GNAIQF3LFO43UWNK3INWJD6DYQHK5JRCIDHISQVKM33A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VH5ELRXCXOJD4QY2QB5TRTPPAN4M46TWTVXSOKXVGZI64YCZT3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THDFQ2FKZLQIOSSFNDS3RKO4ZDP3UTPYNK67L2K5KG3PNZICG74A/main.js"
            ]
        },
        "GetParametersForImport": {
            "input": {
                "type": "structure",
                "required": [
                    "KeyMaterialType",
                    "WrappingKeyAlgorithm"
                ],
                "members": {
                    "KeyMaterialType": {},
                    "WrappingKeyAlgorithm": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "WrappingKeyCertificate",
                    "WrappingKeyCertificateChain",
                    "WrappingKeyAlgorithm",
                    "ImportToken",
                    "ParametersValidUntilTimestamp"
                ],
                "members": {
                    "WrappingKeyCertificate": {
                        "shape": "Sz"
                    },
                    "WrappingKeyCertificateChain": {
                        "shape": "Sz"
                    },
                    "WrappingKeyAlgorithm": {},
                    "ImportToken": {},
                    "ParametersValidUntilTimestamp": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQFLALQOFH57GIPNEFYIQV37OJF5I46JCHJV3F57XLY763P7VJ4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQN62CEJCV2EMAZDDDOEFEB2I7Z46ADBPLOOXFTCDN5QSG4MERTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYTLI5UPWO2OHNYD2BJFS4NTKPWGOSU2M3PHWXS665R2QM4N2BOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKXS2NWE4HKEZ3BUJPGKFZBLWHJQSOO2Z4MCCEZSW7IXGMRCJK3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K47VJROZZ5QGCBYBOTFHTOBXN2LEHW4XVUHKQTMTEG6IDIBFDL6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AK25HXWUMI4TNASQCIMEECWUFUL5X7JRIV5NDGTQKVYA3COILP6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GRIOMSY3MFOLGNBEJHBDCUQWQ4JBW76EAV6LHXLDSXGHCZS3BHPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTGVIEOYZCYO2LDLEOIGPKWHW6Y62TTGDUICRWEJCFMEB77PSPZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PFSG7MIKNUYJX2AFY7XKGOERKHQTQVURI5FE3CC4AFYEOATKGJ3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F7QJQ5ND7MU2RWKTOQKZMLFMTWJ5JRQPWDOIEQPSSJQC5OUGEGBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6EI5FOMLF2DUTACCNAOY2QHXVJLNWY6EBUZIFJVX565LNAH6JSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6TJK4XPLDX6NUNMBI3TJYNKSL7VR4LOYXJV3ME465HKWWDCEMPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3VS7BPOOKSBELTCO6GPBDVJYIEKLK6VCHYHUUZECNBXMOQ5ZWHDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WDA7F3FLS3QNIGROX62NPW3XHXPTGWBNDYHHJL5T5HQDGGWAS77A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GBPYRIDWJ4GP7KRJJQIC5J26HB2UNIJ3HZS5PWE5W6EOH6C2GUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PW3ACFWN3QJOA5662SUY3GGXQI7OU7WJETEOVK54TAF74UM6KPIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6CH6QCUCW4LU2UOBJGIRRK2BJPWZQUNWNIXIIKLQPIQCFI677FA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYEZE6HXLC2AFJMFTG4HTZN4R5AYZTXK3BPLADJYVAZD4NJU4VMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WDFL5CCDCGDSWSIPRETA3QKTAKGMHQHFEQSHLFEWHZ6GW4BSXEFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JGT7XC5FIPBYLP4RRNTILMS5Y6GQEXNVBJY4GNI3DZQO3GOT5MKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVHVNJX7YY4HSR2XMYHWASC2Q6A6BJZDHF2YWTUUYSWWCFIST2MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MAVP3YA7GNAIQF3LFO43UWNK3INWJD6DYQHK5JRCIDHISQVKM33A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VH5ELRXCXOJD4QY2QB5TRTPPAN4M46TWTVXSOKXVGZI64YCZT3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THDFQ2FKZLQIOSSFNDS3RKO4ZDP3UTPYNK67L2K5KG3PNZICG74A/main.js"
            ]
        },
        "GetPublicKeyCertificate": {
            "input": {
                "type": "structure",
                "required": [
                    "KeyIdentifier"
                ],
                "members": {
                    "KeyIdentifier": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "KeyCertificate",
                    "KeyCertificateChain"
                ],
                "members": {
                    "KeyCertificate": {
                        "shape": "Sz"
                    },
                    "KeyCertificateChain": {
                        "shape": "Sz"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQFLALQOFH57GIPNEFYIQV37OJF5I46JCHJV3F57XLY763P7VJ4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQN62CEJCV2EMAZDDDOEFEB2I7Z46ADBPLOOXFTCDN5QSG4MERTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYTLI5UPWO2OHNYD2BJFS4NTKPWGOSU2M3PHWXS665R2QM4N2BOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKXS2NWE4HKEZ3BUJPGKFZBLWHJQSOO2Z4MCCEZSW7IXGMRCJK3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K47VJROZZ5QGCBYBOTFHTOBXN2LEHW4XVUHKQTMTEG6IDIBFDL6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AK25HXWUMI4TNASQCIMEECWUFUL5X7JRIV5NDGTQKVYA3COILP6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GRIOMSY3MFOLGNBEJHBDCUQWQ4JBW76EAV6LHXLDSXGHCZS3BHPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTGVIEOYZCYO2LDLEOIGPKWHW6Y62TTGDUICRWEJCFMEB77PSPZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PFSG7MIKNUYJX2AFY7XKGOERKHQTQVURI5FE3CC4AFYEOATKGJ3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F7QJQ5ND7MU2RWKTOQKZMLFMTWJ5JRQPWDOIEQPSSJQC5OUGEGBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6EI5FOMLF2DUTACCNAOY2QHXVJLNWY6EBUZIFJVX565LNAH6JSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6TJK4XPLDX6NUNMBI3TJYNKSL7VR4LOYXJV3ME465HKWWDCEMPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3VS7BPOOKSBELTCO6GPBDVJYIEKLK6VCHYHUUZECNBXMOQ5ZWHDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WDA7F3FLS3QNIGROX62NPW3XHXPTGWBNDYHHJL5T5HQDGGWAS77A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GBPYRIDWJ4GP7KRJJQIC5J26HB2UNIJ3HZS5PWE5W6EOH6C2GUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PW3ACFWN3QJOA5662SUY3GGXQI7OU7WJETEOVK54TAF74UM6KPIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6CH6QCUCW4LU2UOBJGIRRK2BJPWZQUNWNIXIIKLQPIQCFI677FA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYEZE6HXLC2AFJMFTG4HTZN4R5AYZTXK3BPLADJYVAZD4NJU4VMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WDFL5CCDCGDSWSIPRETA3QKTAKGMHQHFEQSHLFEWHZ6GW4BSXEFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JGT7XC5FIPBYLP4RRNTILMS5Y6GQEXNVBJY4GNI3DZQO3GOT5MKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVHVNJX7YY4HSR2XMYHWASC2Q6A6BJZDHF2YWTUUYSWWCFIST2MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MAVP3YA7GNAIQF3LFO43UWNK3INWJD6DYQHK5JRCIDHISQVKM33A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VH5ELRXCXOJD4QY2QB5TRTPPAN4M46TWTVXSOKXVGZI64YCZT3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THDFQ2FKZLQIOSSFNDS3RKO4ZDP3UTPYNK67L2K5KG3PNZICG74A/main.js"
            ]
        },
        "ImportKey": {
            "input": {
                "type": "structure",
                "required": [
                    "KeyMaterial"
                ],
                "members": {
                    "KeyMaterial": {
                        "type": "structure",
                        "members": {
                            "RootCertificatePublicKey": {
                                "type": "structure",
                                "required": [
                                    "KeyAttributes",
                                    "PublicKeyCertificate"
                                ],
                                "members": {
                                    "KeyAttributes": {
                                        "shape": "S7"
                                    },
                                    "PublicKeyCertificate": {
                                        "shape": "Sz"
                                    }
                                }
                            },
                            "TrustedCertificatePublicKey": {
                                "type": "structure",
                                "required": [
                                    "KeyAttributes",
                                    "PublicKeyCertificate",
                                    "CertificateAuthorityPublicKeyIdentifier"
                                ],
                                "members": {
                                    "KeyAttributes": {
                                        "shape": "S7"
                                    },
                                    "PublicKeyCertificate": {
                                        "shape": "Sz"
                                    },
                                    "CertificateAuthorityPublicKeyIdentifier": {}
                                }
                            },
                            "Tr31KeyBlock": {
                                "type": "structure",
                                "required": [
                                    "WrappingKeyIdentifier",
                                    "WrappedKeyBlock"
                                ],
                                "members": {
                                    "WrappingKeyIdentifier": {},
                                    "WrappedKeyBlock": {}
                                }
                            },
                            "Tr34KeyBlock": {
                                "type": "structure",
                                "required": [
                                    "CertificateAuthorityPublicKeyIdentifier",
                                    "SigningKeyCertificate",
                                    "ImportToken",
                                    "WrappedKeyBlock",
                                    "KeyBlockFormat"
                                ],
                                "members": {
                                    "CertificateAuthorityPublicKeyIdentifier": {},
                                    "SigningKeyCertificate": {
                                        "shape": "Sz"
                                    },
                                    "ImportToken": {},
                                    "WrappedKeyBlock": {},
                                    "KeyBlockFormat": {},
                                    "RandomNonce": {}
                                }
                            }
                        },
                        "union": true
                    },
                    "KeyCheckValueAlgorithm": {},
                    "Enabled": {
                        "type": "boolean"
                    },
                    "Tags": {
                        "shape": "Sf"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Key"
                ],
                "members": {
                    "Key": {
                        "shape": "Sk"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQFLALQOFH57GIPNEFYIQV37OJF5I46JCHJV3F57XLY763P7VJ4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQN62CEJCV2EMAZDDDOEFEB2I7Z46ADBPLOOXFTCDN5QSG4MERTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYTLI5UPWO2OHNYD2BJFS4NTKPWGOSU2M3PHWXS665R2QM4N2BOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKXS2NWE4HKEZ3BUJPGKFZBLWHJQSOO2Z4MCCEZSW7IXGMRCJK3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K47VJROZZ5QGCBYBOTFHTOBXN2LEHW4XVUHKQTMTEG6IDIBFDL6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AK25HXWUMI4TNASQCIMEECWUFUL5X7JRIV5NDGTQKVYA3COILP6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GRIOMSY3MFOLGNBEJHBDCUQWQ4JBW76EAV6LHXLDSXGHCZS3BHPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTGVIEOYZCYO2LDLEOIGPKWHW6Y62TTGDUICRWEJCFMEB77PSPZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PFSG7MIKNUYJX2AFY7XKGOERKHQTQVURI5FE3CC4AFYEOATKGJ3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F7QJQ5ND7MU2RWKTOQKZMLFMTWJ5JRQPWDOIEQPSSJQC5OUGEGBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6EI5FOMLF2DUTACCNAOY2QHXVJLNWY6EBUZIFJVX565LNAH6JSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6TJK4XPLDX6NUNMBI3TJYNKSL7VR4LOYXJV3ME465HKWWDCEMPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3VS7BPOOKSBELTCO6GPBDVJYIEKLK6VCHYHUUZECNBXMOQ5ZWHDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WDA7F3FLS3QNIGROX62NPW3XHXPTGWBNDYHHJL5T5HQDGGWAS77A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GBPYRIDWJ4GP7KRJJQIC5J26HB2UNIJ3HZS5PWE5W6EOH6C2GUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PW3ACFWN3QJOA5662SUY3GGXQI7OU7WJETEOVK54TAF74UM6KPIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6CH6QCUCW4LU2UOBJGIRRK2BJPWZQUNWNIXIIKLQPIQCFI677FA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYEZE6HXLC2AFJMFTG4HTZN4R5AYZTXK3BPLADJYVAZD4NJU4VMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WDFL5CCDCGDSWSIPRETA3QKTAKGMHQHFEQSHLFEWHZ6GW4BSXEFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JGT7XC5FIPBYLP4RRNTILMS5Y6GQEXNVBJY4GNI3DZQO3GOT5MKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVHVNJX7YY4HSR2XMYHWASC2Q6A6BJZDHF2YWTUUYSWWCFIST2MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MAVP3YA7GNAIQF3LFO43UWNK3INWJD6DYQHK5JRCIDHISQVKM33A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VH5ELRXCXOJD4QY2QB5TRTPPAN4M46TWTVXSOKXVGZI64YCZT3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THDFQ2FKZLQIOSSFNDS3RKO4ZDP3UTPYNK67L2K5KG3PNZICG74A/main.js"
            ]
        },
        "ListAliases": {
            "input": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Aliases"
                ],
                "members": {
                    "Aliases": {
                        "type": "list",
                        "member": {
                            "shape": "S5"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQFLALQOFH57GIPNEFYIQV37OJF5I46JCHJV3F57XLY763P7VJ4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQN62CEJCV2EMAZDDDOEFEB2I7Z46ADBPLOOXFTCDN5QSG4MERTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYTLI5UPWO2OHNYD2BJFS4NTKPWGOSU2M3PHWXS665R2QM4N2BOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKXS2NWE4HKEZ3BUJPGKFZBLWHJQSOO2Z4MCCEZSW7IXGMRCJK3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K47VJROZZ5QGCBYBOTFHTOBXN2LEHW4XVUHKQTMTEG6IDIBFDL6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AK25HXWUMI4TNASQCIMEECWUFUL5X7JRIV5NDGTQKVYA3COILP6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GRIOMSY3MFOLGNBEJHBDCUQWQ4JBW76EAV6LHXLDSXGHCZS3BHPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTGVIEOYZCYO2LDLEOIGPKWHW6Y62TTGDUICRWEJCFMEB77PSPZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PFSG7MIKNUYJX2AFY7XKGOERKHQTQVURI5FE3CC4AFYEOATKGJ3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F7QJQ5ND7MU2RWKTOQKZMLFMTWJ5JRQPWDOIEQPSSJQC5OUGEGBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6EI5FOMLF2DUTACCNAOY2QHXVJLNWY6EBUZIFJVX565LNAH6JSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6TJK4XPLDX6NUNMBI3TJYNKSL7VR4LOYXJV3ME465HKWWDCEMPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3VS7BPOOKSBELTCO6GPBDVJYIEKLK6VCHYHUUZECNBXMOQ5ZWHDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WDA7F3FLS3QNIGROX62NPW3XHXPTGWBNDYHHJL5T5HQDGGWAS77A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GBPYRIDWJ4GP7KRJJQIC5J26HB2UNIJ3HZS5PWE5W6EOH6C2GUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PW3ACFWN3QJOA5662SUY3GGXQI7OU7WJETEOVK54TAF74UM6KPIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6CH6QCUCW4LU2UOBJGIRRK2BJPWZQUNWNIXIIKLQPIQCFI677FA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYEZE6HXLC2AFJMFTG4HTZN4R5AYZTXK3BPLADJYVAZD4NJU4VMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WDFL5CCDCGDSWSIPRETA3QKTAKGMHQHFEQSHLFEWHZ6GW4BSXEFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JGT7XC5FIPBYLP4RRNTILMS5Y6GQEXNVBJY4GNI3DZQO3GOT5MKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVHVNJX7YY4HSR2XMYHWASC2Q6A6BJZDHF2YWTUUYSWWCFIST2MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MAVP3YA7GNAIQF3LFO43UWNK3INWJD6DYQHK5JRCIDHISQVKM33A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VH5ELRXCXOJD4QY2QB5TRTPPAN4M46TWTVXSOKXVGZI64YCZT3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THDFQ2FKZLQIOSSFNDS3RKO4ZDP3UTPYNK67L2K5KG3PNZICG74A/main.js"
            ]
        },
        "ListKeys": {
            "input": {
                "type": "structure",
                "members": {
                    "KeyState": {},
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Keys"
                ],
                "members": {
                    "Keys": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "KeyArn",
                                "KeyState",
                                "KeyAttributes",
                                "KeyCheckValue",
                                "Exportable",
                                "Enabled"
                            ],
                            "members": {
                                "KeyArn": {},
                                "KeyState": {},
                                "KeyAttributes": {
                                    "shape": "S7"
                                },
                                "KeyCheckValue": {},
                                "Exportable": {
                                    "type": "boolean"
                                },
                                "Enabled": {
                                    "type": "boolean"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQFLALQOFH57GIPNEFYIQV37OJF5I46JCHJV3F57XLY763P7VJ4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQN62CEJCV2EMAZDDDOEFEB2I7Z46ADBPLOOXFTCDN5QSG4MERTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYTLI5UPWO2OHNYD2BJFS4NTKPWGOSU2M3PHWXS665R2QM4N2BOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKXS2NWE4HKEZ3BUJPGKFZBLWHJQSOO2Z4MCCEZSW7IXGMRCJK3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K47VJROZZ5QGCBYBOTFHTOBXN2LEHW4XVUHKQTMTEG6IDIBFDL6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AK25HXWUMI4TNASQCIMEECWUFUL5X7JRIV5NDGTQKVYA3COILP6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GRIOMSY3MFOLGNBEJHBDCUQWQ4JBW76EAV6LHXLDSXGHCZS3BHPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTGVIEOYZCYO2LDLEOIGPKWHW6Y62TTGDUICRWEJCFMEB77PSPZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PFSG7MIKNUYJX2AFY7XKGOERKHQTQVURI5FE3CC4AFYEOATKGJ3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F7QJQ5ND7MU2RWKTOQKZMLFMTWJ5JRQPWDOIEQPSSJQC5OUGEGBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6EI5FOMLF2DUTACCNAOY2QHXVJLNWY6EBUZIFJVX565LNAH6JSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6TJK4XPLDX6NUNMBI3TJYNKSL7VR4LOYXJV3ME465HKWWDCEMPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3VS7BPOOKSBELTCO6GPBDVJYIEKLK6VCHYHUUZECNBXMOQ5ZWHDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WDA7F3FLS3QNIGROX62NPW3XHXPTGWBNDYHHJL5T5HQDGGWAS77A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GBPYRIDWJ4GP7KRJJQIC5J26HB2UNIJ3HZS5PWE5W6EOH6C2GUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PW3ACFWN3QJOA5662SUY3GGXQI7OU7WJETEOVK54TAF74UM6KPIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6CH6QCUCW4LU2UOBJGIRRK2BJPWZQUNWNIXIIKLQPIQCFI677FA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYEZE6HXLC2AFJMFTG4HTZN4R5AYZTXK3BPLADJYVAZD4NJU4VMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WDFL5CCDCGDSWSIPRETA3QKTAKGMHQHFEQSHLFEWHZ6GW4BSXEFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JGT7XC5FIPBYLP4RRNTILMS5Y6GQEXNVBJY4GNI3DZQO3GOT5MKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVHVNJX7YY4HSR2XMYHWASC2Q6A6BJZDHF2YWTUUYSWWCFIST2MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MAVP3YA7GNAIQF3LFO43UWNK3INWJD6DYQHK5JRCIDHISQVKM33A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VH5ELRXCXOJD4QY2QB5TRTPPAN4M46TWTVXSOKXVGZI64YCZT3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THDFQ2FKZLQIOSSFNDS3RKO4ZDP3UTPYNK67L2K5KG3PNZICG74A/main.js"
            ]
        },
        "ListTagsForResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn"
                ],
                "members": {
                    "ResourceArn": {},
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Tags"
                ],
                "members": {
                    "Tags": {
                        "shape": "Sf"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQFLALQOFH57GIPNEFYIQV37OJF5I46JCHJV3F57XLY763P7VJ4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQN62CEJCV2EMAZDDDOEFEB2I7Z46ADBPLOOXFTCDN5QSG4MERTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYTLI5UPWO2OHNYD2BJFS4NTKPWGOSU2M3PHWXS665R2QM4N2BOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKXS2NWE4HKEZ3BUJPGKFZBLWHJQSOO2Z4MCCEZSW7IXGMRCJK3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K47VJROZZ5QGCBYBOTFHTOBXN2LEHW4XVUHKQTMTEG6IDIBFDL6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AK25HXWUMI4TNASQCIMEECWUFUL5X7JRIV5NDGTQKVYA3COILP6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GRIOMSY3MFOLGNBEJHBDCUQWQ4JBW76EAV6LHXLDSXGHCZS3BHPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTGVIEOYZCYO2LDLEOIGPKWHW6Y62TTGDUICRWEJCFMEB77PSPZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PFSG7MIKNUYJX2AFY7XKGOERKHQTQVURI5FE3CC4AFYEOATKGJ3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F7QJQ5ND7MU2RWKTOQKZMLFMTWJ5JRQPWDOIEQPSSJQC5OUGEGBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6EI5FOMLF2DUTACCNAOY2QHXVJLNWY6EBUZIFJVX565LNAH6JSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6TJK4XPLDX6NUNMBI3TJYNKSL7VR4LOYXJV3ME465HKWWDCEMPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3VS7BPOOKSBELTCO6GPBDVJYIEKLK6VCHYHUUZECNBXMOQ5ZWHDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WDA7F3FLS3QNIGROX62NPW3XHXPTGWBNDYHHJL5T5HQDGGWAS77A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GBPYRIDWJ4GP7KRJJQIC5J26HB2UNIJ3HZS5PWE5W6EOH6C2GUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PW3ACFWN3QJOA5662SUY3GGXQI7OU7WJETEOVK54TAF74UM6KPIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6CH6QCUCW4LU2UOBJGIRRK2BJPWZQUNWNIXIIKLQPIQCFI677FA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYEZE6HXLC2AFJMFTG4HTZN4R5AYZTXK3BPLADJYVAZD4NJU4VMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WDFL5CCDCGDSWSIPRETA3QKTAKGMHQHFEQSHLFEWHZ6GW4BSXEFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JGT7XC5FIPBYLP4RRNTILMS5Y6GQEXNVBJY4GNI3DZQO3GOT5MKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVHVNJX7YY4HSR2XMYHWASC2Q6A6BJZDHF2YWTUUYSWWCFIST2MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MAVP3YA7GNAIQF3LFO43UWNK3INWJD6DYQHK5JRCIDHISQVKM33A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VH5ELRXCXOJD4QY2QB5TRTPPAN4M46TWTVXSOKXVGZI64YCZT3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THDFQ2FKZLQIOSSFNDS3RKO4ZDP3UTPYNK67L2K5KG3PNZICG74A/main.js"
            ]
        },
        "RestoreKey": {
            "input": {
                "type": "structure",
                "required": [
                    "KeyIdentifier"
                ],
                "members": {
                    "KeyIdentifier": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Key"
                ],
                "members": {
                    "Key": {
                        "shape": "Sk"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQFLALQOFH57GIPNEFYIQV37OJF5I46JCHJV3F57XLY763P7VJ4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQN62CEJCV2EMAZDDDOEFEB2I7Z46ADBPLOOXFTCDN5QSG4MERTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYTLI5UPWO2OHNYD2BJFS4NTKPWGOSU2M3PHWXS665R2QM4N2BOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKXS2NWE4HKEZ3BUJPGKFZBLWHJQSOO2Z4MCCEZSW7IXGMRCJK3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K47VJROZZ5QGCBYBOTFHTOBXN2LEHW4XVUHKQTMTEG6IDIBFDL6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AK25HXWUMI4TNASQCIMEECWUFUL5X7JRIV5NDGTQKVYA3COILP6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GRIOMSY3MFOLGNBEJHBDCUQWQ4JBW76EAV6LHXLDSXGHCZS3BHPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTGVIEOYZCYO2LDLEOIGPKWHW6Y62TTGDUICRWEJCFMEB77PSPZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PFSG7MIKNUYJX2AFY7XKGOERKHQTQVURI5FE3CC4AFYEOATKGJ3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F7QJQ5ND7MU2RWKTOQKZMLFMTWJ5JRQPWDOIEQPSSJQC5OUGEGBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6EI5FOMLF2DUTACCNAOY2QHXVJLNWY6EBUZIFJVX565LNAH6JSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6TJK4XPLDX6NUNMBI3TJYNKSL7VR4LOYXJV3ME465HKWWDCEMPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3VS7BPOOKSBELTCO6GPBDVJYIEKLK6VCHYHUUZECNBXMOQ5ZWHDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WDA7F3FLS3QNIGROX62NPW3XHXPTGWBNDYHHJL5T5HQDGGWAS77A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GBPYRIDWJ4GP7KRJJQIC5J26HB2UNIJ3HZS5PWE5W6EOH6C2GUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PW3ACFWN3QJOA5662SUY3GGXQI7OU7WJETEOVK54TAF74UM6KPIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6CH6QCUCW4LU2UOBJGIRRK2BJPWZQUNWNIXIIKLQPIQCFI677FA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYEZE6HXLC2AFJMFTG4HTZN4R5AYZTXK3BPLADJYVAZD4NJU4VMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WDFL5CCDCGDSWSIPRETA3QKTAKGMHQHFEQSHLFEWHZ6GW4BSXEFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JGT7XC5FIPBYLP4RRNTILMS5Y6GQEXNVBJY4GNI3DZQO3GOT5MKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVHVNJX7YY4HSR2XMYHWASC2Q6A6BJZDHF2YWTUUYSWWCFIST2MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MAVP3YA7GNAIQF3LFO43UWNK3INWJD6DYQHK5JRCIDHISQVKM33A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VH5ELRXCXOJD4QY2QB5TRTPPAN4M46TWTVXSOKXVGZI64YCZT3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THDFQ2FKZLQIOSSFNDS3RKO4ZDP3UTPYNK67L2K5KG3PNZICG74A/main.js"
            ]
        },
        "StartKeyUsage": {
            "input": {
                "type": "structure",
                "required": [
                    "KeyIdentifier"
                ],
                "members": {
                    "KeyIdentifier": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Key"
                ],
                "members": {
                    "Key": {
                        "shape": "Sk"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQFLALQOFH57GIPNEFYIQV37OJF5I46JCHJV3F57XLY763P7VJ4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQN62CEJCV2EMAZDDDOEFEB2I7Z46ADBPLOOXFTCDN5QSG4MERTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYTLI5UPWO2OHNYD2BJFS4NTKPWGOSU2M3PHWXS665R2QM4N2BOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKXS2NWE4HKEZ3BUJPGKFZBLWHJQSOO2Z4MCCEZSW7IXGMRCJK3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K47VJROZZ5QGCBYBOTFHTOBXN2LEHW4XVUHKQTMTEG6IDIBFDL6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AK25HXWUMI4TNASQCIMEECWUFUL5X7JRIV5NDGTQKVYA3COILP6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GRIOMSY3MFOLGNBEJHBDCUQWQ4JBW76EAV6LHXLDSXGHCZS3BHPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTGVIEOYZCYO2LDLEOIGPKWHW6Y62TTGDUICRWEJCFMEB77PSPZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PFSG7MIKNUYJX2AFY7XKGOERKHQTQVURI5FE3CC4AFYEOATKGJ3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F7QJQ5ND7MU2RWKTOQKZMLFMTWJ5JRQPWDOIEQPSSJQC5OUGEGBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6EI5FOMLF2DUTACCNAOY2QHXVJLNWY6EBUZIFJVX565LNAH6JSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6TJK4XPLDX6NUNMBI3TJYNKSL7VR4LOYXJV3ME465HKWWDCEMPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3VS7BPOOKSBELTCO6GPBDVJYIEKLK6VCHYHUUZECNBXMOQ5ZWHDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WDA7F3FLS3QNIGROX62NPW3XHXPTGWBNDYHHJL5T5HQDGGWAS77A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GBPYRIDWJ4GP7KRJJQIC5J26HB2UNIJ3HZS5PWE5W6EOH6C2GUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PW3ACFWN3QJOA5662SUY3GGXQI7OU7WJETEOVK54TAF74UM6KPIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6CH6QCUCW4LU2UOBJGIRRK2BJPWZQUNWNIXIIKLQPIQCFI677FA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYEZE6HXLC2AFJMFTG4HTZN4R5AYZTXK3BPLADJYVAZD4NJU4VMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WDFL5CCDCGDSWSIPRETA3QKTAKGMHQHFEQSHLFEWHZ6GW4BSXEFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JGT7XC5FIPBYLP4RRNTILMS5Y6GQEXNVBJY4GNI3DZQO3GOT5MKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVHVNJX7YY4HSR2XMYHWASC2Q6A6BJZDHF2YWTUUYSWWCFIST2MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MAVP3YA7GNAIQF3LFO43UWNK3INWJD6DYQHK5JRCIDHISQVKM33A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VH5ELRXCXOJD4QY2QB5TRTPPAN4M46TWTVXSOKXVGZI64YCZT3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THDFQ2FKZLQIOSSFNDS3RKO4ZDP3UTPYNK67L2K5KG3PNZICG74A/main.js"
            ]
        },
        "StopKeyUsage": {
            "input": {
                "type": "structure",
                "required": [
                    "KeyIdentifier"
                ],
                "members": {
                    "KeyIdentifier": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Key"
                ],
                "members": {
                    "Key": {
                        "shape": "Sk"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQFLALQOFH57GIPNEFYIQV37OJF5I46JCHJV3F57XLY763P7VJ4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQN62CEJCV2EMAZDDDOEFEB2I7Z46ADBPLOOXFTCDN5QSG4MERTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYTLI5UPWO2OHNYD2BJFS4NTKPWGOSU2M3PHWXS665R2QM4N2BOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKXS2NWE4HKEZ3BUJPGKFZBLWHJQSOO2Z4MCCEZSW7IXGMRCJK3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K47VJROZZ5QGCBYBOTFHTOBXN2LEHW4XVUHKQTMTEG6IDIBFDL6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AK25HXWUMI4TNASQCIMEECWUFUL5X7JRIV5NDGTQKVYA3COILP6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GRIOMSY3MFOLGNBEJHBDCUQWQ4JBW76EAV6LHXLDSXGHCZS3BHPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTGVIEOYZCYO2LDLEOIGPKWHW6Y62TTGDUICRWEJCFMEB77PSPZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PFSG7MIKNUYJX2AFY7XKGOERKHQTQVURI5FE3CC4AFYEOATKGJ3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F7QJQ5ND7MU2RWKTOQKZMLFMTWJ5JRQPWDOIEQPSSJQC5OUGEGBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6EI5FOMLF2DUTACCNAOY2QHXVJLNWY6EBUZIFJVX565LNAH6JSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6TJK4XPLDX6NUNMBI3TJYNKSL7VR4LOYXJV3ME465HKWWDCEMPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3VS7BPOOKSBELTCO6GPBDVJYIEKLK6VCHYHUUZECNBXMOQ5ZWHDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WDA7F3FLS3QNIGROX62NPW3XHXPTGWBNDYHHJL5T5HQDGGWAS77A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GBPYRIDWJ4GP7KRJJQIC5J26HB2UNIJ3HZS5PWE5W6EOH6C2GUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PW3ACFWN3QJOA5662SUY3GGXQI7OU7WJETEOVK54TAF74UM6KPIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6CH6QCUCW4LU2UOBJGIRRK2BJPWZQUNWNIXIIKLQPIQCFI677FA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYEZE6HXLC2AFJMFTG4HTZN4R5AYZTXK3BPLADJYVAZD4NJU4VMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WDFL5CCDCGDSWSIPRETA3QKTAKGMHQHFEQSHLFEWHZ6GW4BSXEFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JGT7XC5FIPBYLP4RRNTILMS5Y6GQEXNVBJY4GNI3DZQO3GOT5MKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVHVNJX7YY4HSR2XMYHWASC2Q6A6BJZDHF2YWTUUYSWWCFIST2MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MAVP3YA7GNAIQF3LFO43UWNK3INWJD6DYQHK5JRCIDHISQVKM33A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VH5ELRXCXOJD4QY2QB5TRTPPAN4M46TWTVXSOKXVGZI64YCZT3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THDFQ2FKZLQIOSSFNDS3RKO4ZDP3UTPYNK67L2K5KG3PNZICG74A/main.js"
            ]
        },
        "TagResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn",
                    "Tags"
                ],
                "members": {
                    "ResourceArn": {},
                    "Tags": {
                        "shape": "Sf"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQFLALQOFH57GIPNEFYIQV37OJF5I46JCHJV3F57XLY763P7VJ4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQN62CEJCV2EMAZDDDOEFEB2I7Z46ADBPLOOXFTCDN5QSG4MERTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYTLI5UPWO2OHNYD2BJFS4NTKPWGOSU2M3PHWXS665R2QM4N2BOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKXS2NWE4HKEZ3BUJPGKFZBLWHJQSOO2Z4MCCEZSW7IXGMRCJK3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K47VJROZZ5QGCBYBOTFHTOBXN2LEHW4XVUHKQTMTEG6IDIBFDL6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AK25HXWUMI4TNASQCIMEECWUFUL5X7JRIV5NDGTQKVYA3COILP6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GRIOMSY3MFOLGNBEJHBDCUQWQ4JBW76EAV6LHXLDSXGHCZS3BHPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTGVIEOYZCYO2LDLEOIGPKWHW6Y62TTGDUICRWEJCFMEB77PSPZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PFSG7MIKNUYJX2AFY7XKGOERKHQTQVURI5FE3CC4AFYEOATKGJ3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F7QJQ5ND7MU2RWKTOQKZMLFMTWJ5JRQPWDOIEQPSSJQC5OUGEGBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6EI5FOMLF2DUTACCNAOY2QHXVJLNWY6EBUZIFJVX565LNAH6JSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6TJK4XPLDX6NUNMBI3TJYNKSL7VR4LOYXJV3ME465HKWWDCEMPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3VS7BPOOKSBELTCO6GPBDVJYIEKLK6VCHYHUUZECNBXMOQ5ZWHDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WDA7F3FLS3QNIGROX62NPW3XHXPTGWBNDYHHJL5T5HQDGGWAS77A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GBPYRIDWJ4GP7KRJJQIC5J26HB2UNIJ3HZS5PWE5W6EOH6C2GUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PW3ACFWN3QJOA5662SUY3GGXQI7OU7WJETEOVK54TAF74UM6KPIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6CH6QCUCW4LU2UOBJGIRRK2BJPWZQUNWNIXIIKLQPIQCFI677FA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYEZE6HXLC2AFJMFTG4HTZN4R5AYZTXK3BPLADJYVAZD4NJU4VMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WDFL5CCDCGDSWSIPRETA3QKTAKGMHQHFEQSHLFEWHZ6GW4BSXEFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JGT7XC5FIPBYLP4RRNTILMS5Y6GQEXNVBJY4GNI3DZQO3GOT5MKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVHVNJX7YY4HSR2XMYHWASC2Q6A6BJZDHF2YWTUUYSWWCFIST2MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MAVP3YA7GNAIQF3LFO43UWNK3INWJD6DYQHK5JRCIDHISQVKM33A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VH5ELRXCXOJD4QY2QB5TRTPPAN4M46TWTVXSOKXVGZI64YCZT3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THDFQ2FKZLQIOSSFNDS3RKO4ZDP3UTPYNK67L2K5KG3PNZICG74A/main.js"
            ]
        },
        "UntagResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn",
                    "TagKeys"
                ],
                "members": {
                    "ResourceArn": {},
                    "TagKeys": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQFLALQOFH57GIPNEFYIQV37OJF5I46JCHJV3F57XLY763P7VJ4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQN62CEJCV2EMAZDDDOEFEB2I7Z46ADBPLOOXFTCDN5QSG4MERTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYTLI5UPWO2OHNYD2BJFS4NTKPWGOSU2M3PHWXS665R2QM4N2BOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKXS2NWE4HKEZ3BUJPGKFZBLWHJQSOO2Z4MCCEZSW7IXGMRCJK3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K47VJROZZ5QGCBYBOTFHTOBXN2LEHW4XVUHKQTMTEG6IDIBFDL6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AK25HXWUMI4TNASQCIMEECWUFUL5X7JRIV5NDGTQKVYA3COILP6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GRIOMSY3MFOLGNBEJHBDCUQWQ4JBW76EAV6LHXLDSXGHCZS3BHPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTGVIEOYZCYO2LDLEOIGPKWHW6Y62TTGDUICRWEJCFMEB77PSPZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PFSG7MIKNUYJX2AFY7XKGOERKHQTQVURI5FE3CC4AFYEOATKGJ3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F7QJQ5ND7MU2RWKTOQKZMLFMTWJ5JRQPWDOIEQPSSJQC5OUGEGBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6EI5FOMLF2DUTACCNAOY2QHXVJLNWY6EBUZIFJVX565LNAH6JSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6TJK4XPLDX6NUNMBI3TJYNKSL7VR4LOYXJV3ME465HKWWDCEMPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3VS7BPOOKSBELTCO6GPBDVJYIEKLK6VCHYHUUZECNBXMOQ5ZWHDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WDA7F3FLS3QNIGROX62NPW3XHXPTGWBNDYHHJL5T5HQDGGWAS77A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GBPYRIDWJ4GP7KRJJQIC5J26HB2UNIJ3HZS5PWE5W6EOH6C2GUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PW3ACFWN3QJOA5662SUY3GGXQI7OU7WJETEOVK54TAF74UM6KPIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6CH6QCUCW4LU2UOBJGIRRK2BJPWZQUNWNIXIIKLQPIQCFI677FA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYEZE6HXLC2AFJMFTG4HTZN4R5AYZTXK3BPLADJYVAZD4NJU4VMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WDFL5CCDCGDSWSIPRETA3QKTAKGMHQHFEQSHLFEWHZ6GW4BSXEFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JGT7XC5FIPBYLP4RRNTILMS5Y6GQEXNVBJY4GNI3DZQO3GOT5MKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVHVNJX7YY4HSR2XMYHWASC2Q6A6BJZDHF2YWTUUYSWWCFIST2MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MAVP3YA7GNAIQF3LFO43UWNK3INWJD6DYQHK5JRCIDHISQVKM33A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VH5ELRXCXOJD4QY2QB5TRTPPAN4M46TWTVXSOKXVGZI64YCZT3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THDFQ2FKZLQIOSSFNDS3RKO4ZDP3UTPYNK67L2K5KG3PNZICG74A/main.js"
            ]
        },
        "UpdateAlias": {
            "input": {
                "type": "structure",
                "required": [
                    "AliasName"
                ],
                "members": {
                    "AliasName": {},
                    "KeyArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Alias"
                ],
                "members": {
                    "Alias": {
                        "shape": "S5"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQFLALQOFH57GIPNEFYIQV37OJF5I46JCHJV3F57XLY763P7VJ4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQN62CEJCV2EMAZDDDOEFEB2I7Z46ADBPLOOXFTCDN5QSG4MERTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYTLI5UPWO2OHNYD2BJFS4NTKPWGOSU2M3PHWXS665R2QM4N2BOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKXS2NWE4HKEZ3BUJPGKFZBLWHJQSOO2Z4MCCEZSW7IXGMRCJK3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K47VJROZZ5QGCBYBOTFHTOBXN2LEHW4XVUHKQTMTEG6IDIBFDL6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AK25HXWUMI4TNASQCIMEECWUFUL5X7JRIV5NDGTQKVYA3COILP6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GRIOMSY3MFOLGNBEJHBDCUQWQ4JBW76EAV6LHXLDSXGHCZS3BHPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTGVIEOYZCYO2LDLEOIGPKWHW6Y62TTGDUICRWEJCFMEB77PSPZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PFSG7MIKNUYJX2AFY7XKGOERKHQTQVURI5FE3CC4AFYEOATKGJ3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F7QJQ5ND7MU2RWKTOQKZMLFMTWJ5JRQPWDOIEQPSSJQC5OUGEGBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6EI5FOMLF2DUTACCNAOY2QHXVJLNWY6EBUZIFJVX565LNAH6JSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6TJK4XPLDX6NUNMBI3TJYNKSL7VR4LOYXJV3ME465HKWWDCEMPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3VS7BPOOKSBELTCO6GPBDVJYIEKLK6VCHYHUUZECNBXMOQ5ZWHDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WDA7F3FLS3QNIGROX62NPW3XHXPTGWBNDYHHJL5T5HQDGGWAS77A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GBPYRIDWJ4GP7KRJJQIC5J26HB2UNIJ3HZS5PWE5W6EOH6C2GUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PW3ACFWN3QJOA5662SUY3GGXQI7OU7WJETEOVK54TAF74UM6KPIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6CH6QCUCW4LU2UOBJGIRRK2BJPWZQUNWNIXIIKLQPIQCFI677FA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYEZE6HXLC2AFJMFTG4HTZN4R5AYZTXK3BPLADJYVAZD4NJU4VMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WDFL5CCDCGDSWSIPRETA3QKTAKGMHQHFEQSHLFEWHZ6GW4BSXEFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JGT7XC5FIPBYLP4RRNTILMS5Y6GQEXNVBJY4GNI3DZQO3GOT5MKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVHVNJX7YY4HSR2XMYHWASC2Q6A6BJZDHF2YWTUUYSWWCFIST2MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MAVP3YA7GNAIQF3LFO43UWNK3INWJD6DYQHK5JRCIDHISQVKM33A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VH5ELRXCXOJD4QY2QB5TRTPPAN4M46TWTVXSOKXVGZI64YCZT3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THDFQ2FKZLQIOSSFNDS3RKO4ZDP3UTPYNK67L2K5KG3PNZICG74A/main.js"
            ]
        }
    },
    "shapes": {
        "S5": {
            "type": "structure",
            "required": [
                "AliasName"
            ],
            "members": {
                "AliasName": {},
                "KeyArn": {}
            }
        },
        "S7": {
            "type": "structure",
            "required": [
                "KeyUsage",
                "KeyClass",
                "KeyAlgorithm",
                "KeyModesOfUse"
            ],
            "members": {
                "KeyUsage": {},
                "KeyClass": {},
                "KeyAlgorithm": {},
                "KeyModesOfUse": {
                    "type": "structure",
                    "members": {
                        "Encrypt": {
                            "type": "boolean"
                        },
                        "Decrypt": {
                            "type": "boolean"
                        },
                        "Wrap": {
                            "type": "boolean"
                        },
                        "Unwrap": {
                            "type": "boolean"
                        },
                        "Generate": {
                            "type": "boolean"
                        },
                        "Sign": {
                            "type": "boolean"
                        },
                        "Verify": {
                            "type": "boolean"
                        },
                        "DeriveKey": {
                            "type": "boolean"
                        },
                        "NoRestrictions": {
                            "type": "boolean"
                        }
                    }
                }
            }
        },
        "Sf": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "Key"
                ],
                "members": {
                    "Key": {},
                    "Value": {}
                }
            }
        },
        "Sk": {
            "type": "structure",
            "required": [
                "KeyArn",
                "KeyAttributes",
                "KeyCheckValue",
                "KeyCheckValueAlgorithm",
                "Enabled",
                "Exportable",
                "KeyState",
                "KeyOrigin",
                "CreateTimestamp"
            ],
            "members": {
                "KeyArn": {},
                "KeyAttributes": {
                    "shape": "S7"
                },
                "KeyCheckValue": {},
                "KeyCheckValueAlgorithm": {},
                "Enabled": {
                    "type": "boolean"
                },
                "Exportable": {
                    "type": "boolean"
                },
                "KeyState": {},
                "KeyOrigin": {},
                "CreateTimestamp": {
                    "type": "timestamp"
                },
                "UsageStartTimestamp": {
                    "type": "timestamp"
                },
                "UsageStopTimestamp": {
                    "type": "timestamp"
                },
                "DeletePendingTimestamp": {
                    "type": "timestamp"
                },
                "DeleteTimestamp": {
                    "type": "timestamp"
                }
            }
        },
        "Sz": {
            "type": "string",
            "sensitive": true
        },
        "Sb": {
            "type": "structure",
            "members": {
                "Encrypt": {
                    "type": "boolean"
                },
                "Decrypt": {
                    "type": "boolean"
                },
                "Wrap": {
                    "type": "boolean"
                },
                "Unwrap": {
                    "type": "boolean"
                },
                "Generate": {
                    "type": "boolean"
                },
                "Sign": {
                    "type": "boolean"
                },
                "Verify": {
                    "type": "boolean"
                },
                "DeriveKey": {
                    "type": "boolean"
                },
                "NoRestrictions": {
                    "type": "boolean"
                }
            }
        },
        "Sy": {
            "type": "structure",
            "members": {
                "KeyModesOfUse": {
                    "shape": "Sb"
                },
                "KeyExportability": {},
                "KeyVersion": {},
                "OptionalBlocks": {
                    "type": "map",
                    "key": {},
                    "value": {}
                }
            }
        },
        "S15": {
            "type": "string",
            "sensitive": true
        }
    }
}