{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2021-09-14",
        "endpointPrefix": "controlplane.payment-cryptography",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceFullName": "AWS Payment Cryptography",
        "serviceId": "PaymentCryptography",
        "signatureVersion": "v4",
        "signingName": "payment-cryptography",
        "targetPrefix": "PaymentCryptographyControlPlane",
        "uid": "paymentcryptography-2021-09-14",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/QNOA6UPNSZZOEPRSQPANZKYKRLBZSGIR36XLKXU22TPJ7EKZUIWQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DCQ627GE3RN6YC4H2FJAGRC25DPENPI4AP5W6LE2BYHBAGVUPMTA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/I47DRO2PHAWSKAH4IHZZAPHXRF5AS5HLGTHALYNII5C6UJP4HHTA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/36CBI34U4M3M7JVXTGZCKXROBH45XJOZXSO73OGBHSS4WLQ2QLHA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YUKTAYUKLKRVKOVNZ7KFYJX47EUQ5FPT6QHGGCMBEPG2G3QCMSOA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JYGQODLVUVK6ZAUTBC2GECTLXEIQIJGHH4CA54CMRZYKPHWQRWNA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/F35BIDC6DE7QEYV672J5G373DURZSSBVRAA3KZ7XFA6X7VO35LMA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6YHC7SHW5N6HPCFWZG5DPSXIC75SNMVFUBC4R7JU6ELIIWG5OUXQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JUTETZY2FJHRZAPZEHISFRVPSO7AUUCJTQFIVUSKOYG4RRHLV4IA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UEM5UUAFHH56GDQ7KVZ7DERNZFSBQLJW4ZRDNMZ273OAYGVPJLOQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EQJDSP4OPFCNULNQGOQ7Q6VOA5HZVG3ISQ76DN7MK7QDWHAYHSNA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BYXPEPYXR6UD3TKDBDZUUHKU2NSRS5EM2E465NYEJ4BLIZJ7U6XQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6PCWQGAPI4GMSTJCVGBI4PCQOWPBPBVQPIGPVPS3PHXPABFQJB6A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QWFGISATCYBDWY4QZM6ITWQGCARTH52FLKSAPA2LUTYYO4SQCJUA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KXV4UXTG7YILLGQWU3XPGETAKISBZZ3U3PCL6KJKR6KVUDMOGKTA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OLOAZROF7TKBSS5WDRMKQ5GKT7CLID2TZL5UZHL53RNPBD55GONA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4NLGNSFA5A7QWJP7DDSJ6FOTZ4K466B364L3QBSFY6DYKQEUHTQQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RMYFSGEI5PZ6KOAONV7QOLIS5DXMJYR5HR4WJDSYDDBBOSVANJPQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/X3PKJX5VQTWNJFVUGE3WOHGEFGSAYYTI6B52YULW7BIOJO3FTIHA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NFBU3ENP4567IVHBAFMM5TMHVD4PTGYPSX5ATDROANMAVLDBZ74Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5QEKSP6SMKSWG2DNVASC3R23RCLHQQCCCGEQM6IEA26UFGVC73EA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6S55CTOO2VI643GBLF6VPRDDVPFXTYTO7EFJK37J7IQLJPRAL3KA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DV3FWYHPNTXUKDWZFIMGYR5PR6Y4X57E2YDPGSVRJETMV4ZEDMBA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MKOC6ICIX7BSUVPURZNLGHQ2UGR5VCZJQBPJYCSSOVUDD4HAOCGA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RNCJB4UKSCBU3YREH5GMDMGCKGJ5BUVSJXKWY4FFYYMYOTO66XKQ/main.js"
        ]
    },
    "operations": {
        "CreateAlias": {
            "input": {
                "type": "structure",
                "required": [
                    "AliasName"
                ],
                "members": {
                    "AliasName": {},
                    "KeyArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Alias"
                ],
                "members": {
                    "Alias": {
                        "shape": "S5"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DCQ627GE3RN6YC4H2FJAGRC25DPENPI4AP5W6LE2BYHBAGVUPMTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I47DRO2PHAWSKAH4IHZZAPHXRF5AS5HLGTHALYNII5C6UJP4HHTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/36CBI34U4M3M7JVXTGZCKXROBH45XJOZXSO73OGBHSS4WLQ2QLHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YUKTAYUKLKRVKOVNZ7KFYJX47EUQ5FPT6QHGGCMBEPG2G3QCMSOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JYGQODLVUVK6ZAUTBC2GECTLXEIQIJGHH4CA54CMRZYKPHWQRWNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F35BIDC6DE7QEYV672J5G373DURZSSBVRAA3KZ7XFA6X7VO35LMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YHC7SHW5N6HPCFWZG5DPSXIC75SNMVFUBC4R7JU6ELIIWG5OUXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUTETZY2FJHRZAPZEHISFRVPSO7AUUCJTQFIVUSKOYG4RRHLV4IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UEM5UUAFHH56GDQ7KVZ7DERNZFSBQLJW4ZRDNMZ273OAYGVPJLOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQJDSP4OPFCNULNQGOQ7Q6VOA5HZVG3ISQ76DN7MK7QDWHAYHSNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYXPEPYXR6UD3TKDBDZUUHKU2NSRS5EM2E465NYEJ4BLIZJ7U6XQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PCWQGAPI4GMSTJCVGBI4PCQOWPBPBVQPIGPVPS3PHXPABFQJB6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWFGISATCYBDWY4QZM6ITWQGCARTH52FLKSAPA2LUTYYO4SQCJUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXV4UXTG7YILLGQWU3XPGETAKISBZZ3U3PCL6KJKR6KVUDMOGKTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLOAZROF7TKBSS5WDRMKQ5GKT7CLID2TZL5UZHL53RNPBD55GONA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NLGNSFA5A7QWJP7DDSJ6FOTZ4K466B364L3QBSFY6DYKQEUHTQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RMYFSGEI5PZ6KOAONV7QOLIS5DXMJYR5HR4WJDSYDDBBOSVANJPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3PKJX5VQTWNJFVUGE3WOHGEFGSAYYTI6B52YULW7BIOJO3FTIHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFBU3ENP4567IVHBAFMM5TMHVD4PTGYPSX5ATDROANMAVLDBZ74Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QEKSP6SMKSWG2DNVASC3R23RCLHQQCCCGEQM6IEA26UFGVC73EA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6S55CTOO2VI643GBLF6VPRDDVPFXTYTO7EFJK37J7IQLJPRAL3KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DV3FWYHPNTXUKDWZFIMGYR5PR6Y4X57E2YDPGSVRJETMV4ZEDMBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKOC6ICIX7BSUVPURZNLGHQ2UGR5VCZJQBPJYCSSOVUDD4HAOCGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RNCJB4UKSCBU3YREH5GMDMGCKGJ5BUVSJXKWY4FFYYMYOTO66XKQ/main.js"
            ]
        },
        "CreateKey": {
            "input": {
                "type": "structure",
                "required": [
                    "KeyAttributes",
                    "Exportable"
                ],
                "members": {
                    "KeyAttributes": {
                        "shape": "S7"
                    },
                    "KeyCheckValueAlgorithm": {},
                    "Exportable": {
                        "type": "boolean"
                    },
                    "Enabled": {
                        "type": "boolean"
                    },
                    "Tags": {
                        "shape": "Sf"
                    },
                    "DeriveKeyUsage": {},
                    "ReplicationRegions": {
                        "shape": "S3"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Key"
                ],
                "members": {
                    "Key": {
                        "shape": "Sk"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DCQ627GE3RN6YC4H2FJAGRC25DPENPI4AP5W6LE2BYHBAGVUPMTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I47DRO2PHAWSKAH4IHZZAPHXRF5AS5HLGTHALYNII5C6UJP4HHTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/36CBI34U4M3M7JVXTGZCKXROBH45XJOZXSO73OGBHSS4WLQ2QLHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YUKTAYUKLKRVKOVNZ7KFYJX47EUQ5FPT6QHGGCMBEPG2G3QCMSOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JYGQODLVUVK6ZAUTBC2GECTLXEIQIJGHH4CA54CMRZYKPHWQRWNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F35BIDC6DE7QEYV672J5G373DURZSSBVRAA3KZ7XFA6X7VO35LMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YHC7SHW5N6HPCFWZG5DPSXIC75SNMVFUBC4R7JU6ELIIWG5OUXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUTETZY2FJHRZAPZEHISFRVPSO7AUUCJTQFIVUSKOYG4RRHLV4IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UEM5UUAFHH56GDQ7KVZ7DERNZFSBQLJW4ZRDNMZ273OAYGVPJLOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQJDSP4OPFCNULNQGOQ7Q6VOA5HZVG3ISQ76DN7MK7QDWHAYHSNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYXPEPYXR6UD3TKDBDZUUHKU2NSRS5EM2E465NYEJ4BLIZJ7U6XQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PCWQGAPI4GMSTJCVGBI4PCQOWPBPBVQPIGPVPS3PHXPABFQJB6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWFGISATCYBDWY4QZM6ITWQGCARTH52FLKSAPA2LUTYYO4SQCJUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXV4UXTG7YILLGQWU3XPGETAKISBZZ3U3PCL6KJKR6KVUDMOGKTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLOAZROF7TKBSS5WDRMKQ5GKT7CLID2TZL5UZHL53RNPBD55GONA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NLGNSFA5A7QWJP7DDSJ6FOTZ4K466B364L3QBSFY6DYKQEUHTQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RMYFSGEI5PZ6KOAONV7QOLIS5DXMJYR5HR4WJDSYDDBBOSVANJPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3PKJX5VQTWNJFVUGE3WOHGEFGSAYYTI6B52YULW7BIOJO3FTIHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFBU3ENP4567IVHBAFMM5TMHVD4PTGYPSX5ATDROANMAVLDBZ74Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QEKSP6SMKSWG2DNVASC3R23RCLHQQCCCGEQM6IEA26UFGVC73EA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6S55CTOO2VI643GBLF6VPRDDVPFXTYTO7EFJK37J7IQLJPRAL3KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DV3FWYHPNTXUKDWZFIMGYR5PR6Y4X57E2YDPGSVRJETMV4ZEDMBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKOC6ICIX7BSUVPURZNLGHQ2UGR5VCZJQBPJYCSSOVUDD4HAOCGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RNCJB4UKSCBU3YREH5GMDMGCKGJ5BUVSJXKWY4FFYYMYOTO66XKQ/main.js"
            ]
        },
        "DeleteAlias": {
            "input": {
                "type": "structure",
                "required": [
                    "AliasName"
                ],
                "members": {
                    "AliasName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DCQ627GE3RN6YC4H2FJAGRC25DPENPI4AP5W6LE2BYHBAGVUPMTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I47DRO2PHAWSKAH4IHZZAPHXRF5AS5HLGTHALYNII5C6UJP4HHTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/36CBI34U4M3M7JVXTGZCKXROBH45XJOZXSO73OGBHSS4WLQ2QLHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YUKTAYUKLKRVKOVNZ7KFYJX47EUQ5FPT6QHGGCMBEPG2G3QCMSOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JYGQODLVUVK6ZAUTBC2GECTLXEIQIJGHH4CA54CMRZYKPHWQRWNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F35BIDC6DE7QEYV672J5G373DURZSSBVRAA3KZ7XFA6X7VO35LMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YHC7SHW5N6HPCFWZG5DPSXIC75SNMVFUBC4R7JU6ELIIWG5OUXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUTETZY2FJHRZAPZEHISFRVPSO7AUUCJTQFIVUSKOYG4RRHLV4IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UEM5UUAFHH56GDQ7KVZ7DERNZFSBQLJW4ZRDNMZ273OAYGVPJLOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQJDSP4OPFCNULNQGOQ7Q6VOA5HZVG3ISQ76DN7MK7QDWHAYHSNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYXPEPYXR6UD3TKDBDZUUHKU2NSRS5EM2E465NYEJ4BLIZJ7U6XQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PCWQGAPI4GMSTJCVGBI4PCQOWPBPBVQPIGPVPS3PHXPABFQJB6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWFGISATCYBDWY4QZM6ITWQGCARTH52FLKSAPA2LUTYYO4SQCJUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXV4UXTG7YILLGQWU3XPGETAKISBZZ3U3PCL6KJKR6KVUDMOGKTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLOAZROF7TKBSS5WDRMKQ5GKT7CLID2TZL5UZHL53RNPBD55GONA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NLGNSFA5A7QWJP7DDSJ6FOTZ4K466B364L3QBSFY6DYKQEUHTQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RMYFSGEI5PZ6KOAONV7QOLIS5DXMJYR5HR4WJDSYDDBBOSVANJPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3PKJX5VQTWNJFVUGE3WOHGEFGSAYYTI6B52YULW7BIOJO3FTIHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFBU3ENP4567IVHBAFMM5TMHVD4PTGYPSX5ATDROANMAVLDBZ74Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QEKSP6SMKSWG2DNVASC3R23RCLHQQCCCGEQM6IEA26UFGVC73EA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6S55CTOO2VI643GBLF6VPRDDVPFXTYTO7EFJK37J7IQLJPRAL3KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DV3FWYHPNTXUKDWZFIMGYR5PR6Y4X57E2YDPGSVRJETMV4ZEDMBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKOC6ICIX7BSUVPURZNLGHQ2UGR5VCZJQBPJYCSSOVUDD4HAOCGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RNCJB4UKSCBU3YREH5GMDMGCKGJ5BUVSJXKWY4FFYYMYOTO66XKQ/main.js"
            ]
        },
        "DeleteKey": {
            "input": {
                "type": "structure",
                "required": [
                    "KeyIdentifier"
                ],
                "members": {
                    "KeyIdentifier": {},
                    "DeleteKeyInDays": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Key"
                ],
                "members": {
                    "Key": {
                        "shape": "Sk"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DCQ627GE3RN6YC4H2FJAGRC25DPENPI4AP5W6LE2BYHBAGVUPMTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I47DRO2PHAWSKAH4IHZZAPHXRF5AS5HLGTHALYNII5C6UJP4HHTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/36CBI34U4M3M7JVXTGZCKXROBH45XJOZXSO73OGBHSS4WLQ2QLHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YUKTAYUKLKRVKOVNZ7KFYJX47EUQ5FPT6QHGGCMBEPG2G3QCMSOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JYGQODLVUVK6ZAUTBC2GECTLXEIQIJGHH4CA54CMRZYKPHWQRWNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F35BIDC6DE7QEYV672J5G373DURZSSBVRAA3KZ7XFA6X7VO35LMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YHC7SHW5N6HPCFWZG5DPSXIC75SNMVFUBC4R7JU6ELIIWG5OUXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUTETZY2FJHRZAPZEHISFRVPSO7AUUCJTQFIVUSKOYG4RRHLV4IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UEM5UUAFHH56GDQ7KVZ7DERNZFSBQLJW4ZRDNMZ273OAYGVPJLOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQJDSP4OPFCNULNQGOQ7Q6VOA5HZVG3ISQ76DN7MK7QDWHAYHSNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYXPEPYXR6UD3TKDBDZUUHKU2NSRS5EM2E465NYEJ4BLIZJ7U6XQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PCWQGAPI4GMSTJCVGBI4PCQOWPBPBVQPIGPVPS3PHXPABFQJB6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWFGISATCYBDWY4QZM6ITWQGCARTH52FLKSAPA2LUTYYO4SQCJUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXV4UXTG7YILLGQWU3XPGETAKISBZZ3U3PCL6KJKR6KVUDMOGKTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLOAZROF7TKBSS5WDRMKQ5GKT7CLID2TZL5UZHL53RNPBD55GONA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NLGNSFA5A7QWJP7DDSJ6FOTZ4K466B364L3QBSFY6DYKQEUHTQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RMYFSGEI5PZ6KOAONV7QOLIS5DXMJYR5HR4WJDSYDDBBOSVANJPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3PKJX5VQTWNJFVUGE3WOHGEFGSAYYTI6B52YULW7BIOJO3FTIHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFBU3ENP4567IVHBAFMM5TMHVD4PTGYPSX5ATDROANMAVLDBZ74Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QEKSP6SMKSWG2DNVASC3R23RCLHQQCCCGEQM6IEA26UFGVC73EA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6S55CTOO2VI643GBLF6VPRDDVPFXTYTO7EFJK37J7IQLJPRAL3KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DV3FWYHPNTXUKDWZFIMGYR5PR6Y4X57E2YDPGSVRJETMV4ZEDMBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKOC6ICIX7BSUVPURZNLGHQ2UGR5VCZJQBPJYCSSOVUDD4HAOCGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RNCJB4UKSCBU3YREH5GMDMGCKGJ5BUVSJXKWY4FFYYMYOTO66XKQ/main.js"
            ]
        },
        "ExportKey": {
            "input": {
                "type": "structure",
                "required": [
                    "KeyMaterial",
                    "ExportKeyIdentifier"
                ],
                "members": {
                    "KeyMaterial": {
                        "type": "structure",
                        "members": {
                            "Tr31KeyBlock": {
                                "type": "structure",
                                "required": [
                                    "WrappingKeyIdentifier"
                                ],
                                "members": {
                                    "WrappingKeyIdentifier": {}
                                }
                            },
                            "Tr34KeyBlock": {
                                "type": "structure",
                                "required": [
                                    "CertificateAuthorityPublicKeyIdentifier",
                                    "WrappingKeyCertificate",
                                    "ExportToken",
                                    "KeyBlockFormat"
                                ],
                                "members": {
                                    "CertificateAuthorityPublicKeyIdentifier": {},
                                    "WrappingKeyCertificate": {
                                        "shape": "Sz"
                                    },
                                    "ExportToken": {},
                                    "KeyBlockFormat": {},
                                    "RandomNonce": {}
                                }
                            }
                        },
                        "union": true
                    },
                    "ExportKeyIdentifier": {},
                    "ExportAttributes": {
                        "type": "structure",
                        "members": {
                            "ExportDukptInitialKey": {
                                "type": "structure",
                                "required": [
                                    "KeySerialNumber"
                                ],
                                "members": {
                                    "KeySerialNumber": {}
                                }
                            },
                            "KeyCheckValueAlgorithm": {}
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "WrappedKey": {
                        "type": "structure",
                        "required": [
                            "WrappingKeyArn",
                            "WrappedKeyMaterialFormat",
                            "KeyMaterial"
                        ],
                        "members": {
                            "WrappingKeyArn": {},
                            "WrappedKeyMaterialFormat": {},
                            "KeyMaterial": {
                                "type": "string",
                                "sensitive": true
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DCQ627GE3RN6YC4H2FJAGRC25DPENPI4AP5W6LE2BYHBAGVUPMTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I47DRO2PHAWSKAH4IHZZAPHXRF5AS5HLGTHALYNII5C6UJP4HHTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/36CBI34U4M3M7JVXTGZCKXROBH45XJOZXSO73OGBHSS4WLQ2QLHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YUKTAYUKLKRVKOVNZ7KFYJX47EUQ5FPT6QHGGCMBEPG2G3QCMSOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JYGQODLVUVK6ZAUTBC2GECTLXEIQIJGHH4CA54CMRZYKPHWQRWNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F35BIDC6DE7QEYV672J5G373DURZSSBVRAA3KZ7XFA6X7VO35LMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YHC7SHW5N6HPCFWZG5DPSXIC75SNMVFUBC4R7JU6ELIIWG5OUXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUTETZY2FJHRZAPZEHISFRVPSO7AUUCJTQFIVUSKOYG4RRHLV4IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UEM5UUAFHH56GDQ7KVZ7DERNZFSBQLJW4ZRDNMZ273OAYGVPJLOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQJDSP4OPFCNULNQGOQ7Q6VOA5HZVG3ISQ76DN7MK7QDWHAYHSNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYXPEPYXR6UD3TKDBDZUUHKU2NSRS5EM2E465NYEJ4BLIZJ7U6XQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PCWQGAPI4GMSTJCVGBI4PCQOWPBPBVQPIGPVPS3PHXPABFQJB6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWFGISATCYBDWY4QZM6ITWQGCARTH52FLKSAPA2LUTYYO4SQCJUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXV4UXTG7YILLGQWU3XPGETAKISBZZ3U3PCL6KJKR6KVUDMOGKTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLOAZROF7TKBSS5WDRMKQ5GKT7CLID2TZL5UZHL53RNPBD55GONA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NLGNSFA5A7QWJP7DDSJ6FOTZ4K466B364L3QBSFY6DYKQEUHTQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RMYFSGEI5PZ6KOAONV7QOLIS5DXMJYR5HR4WJDSYDDBBOSVANJPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3PKJX5VQTWNJFVUGE3WOHGEFGSAYYTI6B52YULW7BIOJO3FTIHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFBU3ENP4567IVHBAFMM5TMHVD4PTGYPSX5ATDROANMAVLDBZ74Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QEKSP6SMKSWG2DNVASC3R23RCLHQQCCCGEQM6IEA26UFGVC73EA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6S55CTOO2VI643GBLF6VPRDDVPFXTYTO7EFJK37J7IQLJPRAL3KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DV3FWYHPNTXUKDWZFIMGYR5PR6Y4X57E2YDPGSVRJETMV4ZEDMBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKOC6ICIX7BSUVPURZNLGHQ2UGR5VCZJQBPJYCSSOVUDD4HAOCGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RNCJB4UKSCBU3YREH5GMDMGCKGJ5BUVSJXKWY4FFYYMYOTO66XKQ/main.js"
            ]
        },
        "GetAlias": {
            "input": {
                "type": "structure",
                "required": [
                    "AliasName"
                ],
                "members": {
                    "AliasName": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Alias"
                ],
                "members": {
                    "Alias": {
                        "shape": "S5"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DCQ627GE3RN6YC4H2FJAGRC25DPENPI4AP5W6LE2BYHBAGVUPMTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I47DRO2PHAWSKAH4IHZZAPHXRF5AS5HLGTHALYNII5C6UJP4HHTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/36CBI34U4M3M7JVXTGZCKXROBH45XJOZXSO73OGBHSS4WLQ2QLHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YUKTAYUKLKRVKOVNZ7KFYJX47EUQ5FPT6QHGGCMBEPG2G3QCMSOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JYGQODLVUVK6ZAUTBC2GECTLXEIQIJGHH4CA54CMRZYKPHWQRWNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F35BIDC6DE7QEYV672J5G373DURZSSBVRAA3KZ7XFA6X7VO35LMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YHC7SHW5N6HPCFWZG5DPSXIC75SNMVFUBC4R7JU6ELIIWG5OUXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUTETZY2FJHRZAPZEHISFRVPSO7AUUCJTQFIVUSKOYG4RRHLV4IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UEM5UUAFHH56GDQ7KVZ7DERNZFSBQLJW4ZRDNMZ273OAYGVPJLOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQJDSP4OPFCNULNQGOQ7Q6VOA5HZVG3ISQ76DN7MK7QDWHAYHSNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYXPEPYXR6UD3TKDBDZUUHKU2NSRS5EM2E465NYEJ4BLIZJ7U6XQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PCWQGAPI4GMSTJCVGBI4PCQOWPBPBVQPIGPVPS3PHXPABFQJB6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWFGISATCYBDWY4QZM6ITWQGCARTH52FLKSAPA2LUTYYO4SQCJUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXV4UXTG7YILLGQWU3XPGETAKISBZZ3U3PCL6KJKR6KVUDMOGKTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLOAZROF7TKBSS5WDRMKQ5GKT7CLID2TZL5UZHL53RNPBD55GONA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NLGNSFA5A7QWJP7DDSJ6FOTZ4K466B364L3QBSFY6DYKQEUHTQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RMYFSGEI5PZ6KOAONV7QOLIS5DXMJYR5HR4WJDSYDDBBOSVANJPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3PKJX5VQTWNJFVUGE3WOHGEFGSAYYTI6B52YULW7BIOJO3FTIHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFBU3ENP4567IVHBAFMM5TMHVD4PTGYPSX5ATDROANMAVLDBZ74Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QEKSP6SMKSWG2DNVASC3R23RCLHQQCCCGEQM6IEA26UFGVC73EA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6S55CTOO2VI643GBLF6VPRDDVPFXTYTO7EFJK37J7IQLJPRAL3KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DV3FWYHPNTXUKDWZFIMGYR5PR6Y4X57E2YDPGSVRJETMV4ZEDMBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKOC6ICIX7BSUVPURZNLGHQ2UGR5VCZJQBPJYCSSOVUDD4HAOCGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RNCJB4UKSCBU3YREH5GMDMGCKGJ5BUVSJXKWY4FFYYMYOTO66XKQ/main.js"
            ]
        },
        "GetKey": {
            "input": {
                "type": "structure",
                "required": [
                    "KeyIdentifier"
                ],
                "members": {
                    "KeyIdentifier": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Key"
                ],
                "members": {
                    "Key": {
                        "shape": "Sk"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DCQ627GE3RN6YC4H2FJAGRC25DPENPI4AP5W6LE2BYHBAGVUPMTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I47DRO2PHAWSKAH4IHZZAPHXRF5AS5HLGTHALYNII5C6UJP4HHTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/36CBI34U4M3M7JVXTGZCKXROBH45XJOZXSO73OGBHSS4WLQ2QLHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YUKTAYUKLKRVKOVNZ7KFYJX47EUQ5FPT6QHGGCMBEPG2G3QCMSOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JYGQODLVUVK6ZAUTBC2GECTLXEIQIJGHH4CA54CMRZYKPHWQRWNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F35BIDC6DE7QEYV672J5G373DURZSSBVRAA3KZ7XFA6X7VO35LMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YHC7SHW5N6HPCFWZG5DPSXIC75SNMVFUBC4R7JU6ELIIWG5OUXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUTETZY2FJHRZAPZEHISFRVPSO7AUUCJTQFIVUSKOYG4RRHLV4IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UEM5UUAFHH56GDQ7KVZ7DERNZFSBQLJW4ZRDNMZ273OAYGVPJLOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQJDSP4OPFCNULNQGOQ7Q6VOA5HZVG3ISQ76DN7MK7QDWHAYHSNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYXPEPYXR6UD3TKDBDZUUHKU2NSRS5EM2E465NYEJ4BLIZJ7U6XQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PCWQGAPI4GMSTJCVGBI4PCQOWPBPBVQPIGPVPS3PHXPABFQJB6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWFGISATCYBDWY4QZM6ITWQGCARTH52FLKSAPA2LUTYYO4SQCJUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXV4UXTG7YILLGQWU3XPGETAKISBZZ3U3PCL6KJKR6KVUDMOGKTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLOAZROF7TKBSS5WDRMKQ5GKT7CLID2TZL5UZHL53RNPBD55GONA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NLGNSFA5A7QWJP7DDSJ6FOTZ4K466B364L3QBSFY6DYKQEUHTQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RMYFSGEI5PZ6KOAONV7QOLIS5DXMJYR5HR4WJDSYDDBBOSVANJPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3PKJX5VQTWNJFVUGE3WOHGEFGSAYYTI6B52YULW7BIOJO3FTIHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFBU3ENP4567IVHBAFMM5TMHVD4PTGYPSX5ATDROANMAVLDBZ74Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QEKSP6SMKSWG2DNVASC3R23RCLHQQCCCGEQM6IEA26UFGVC73EA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6S55CTOO2VI643GBLF6VPRDDVPFXTYTO7EFJK37J7IQLJPRAL3KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DV3FWYHPNTXUKDWZFIMGYR5PR6Y4X57E2YDPGSVRJETMV4ZEDMBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKOC6ICIX7BSUVPURZNLGHQ2UGR5VCZJQBPJYCSSOVUDD4HAOCGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RNCJB4UKSCBU3YREH5GMDMGCKGJ5BUVSJXKWY4FFYYMYOTO66XKQ/main.js"
            ]
        },
        "GetParametersForExport": {
            "input": {
                "type": "structure",
                "required": [
                    "KeyMaterialType",
                    "SigningKeyAlgorithm"
                ],
                "members": {
                    "KeyMaterialType": {},
                    "SigningKeyAlgorithm": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "SigningKeyCertificate",
                    "SigningKeyCertificateChain",
                    "SigningKeyAlgorithm",
                    "ExportToken",
                    "ParametersValidUntilTimestamp"
                ],
                "members": {
                    "SigningKeyCertificate": {
                        "shape": "Sz"
                    },
                    "SigningKeyCertificateChain": {
                        "shape": "Sz"
                    },
                    "SigningKeyAlgorithm": {},
                    "ExportToken": {},
                    "ParametersValidUntilTimestamp": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DCQ627GE3RN6YC4H2FJAGRC25DPENPI4AP5W6LE2BYHBAGVUPMTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I47DRO2PHAWSKAH4IHZZAPHXRF5AS5HLGTHALYNII5C6UJP4HHTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/36CBI34U4M3M7JVXTGZCKXROBH45XJOZXSO73OGBHSS4WLQ2QLHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YUKTAYUKLKRVKOVNZ7KFYJX47EUQ5FPT6QHGGCMBEPG2G3QCMSOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JYGQODLVUVK6ZAUTBC2GECTLXEIQIJGHH4CA54CMRZYKPHWQRWNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F35BIDC6DE7QEYV672J5G373DURZSSBVRAA3KZ7XFA6X7VO35LMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YHC7SHW5N6HPCFWZG5DPSXIC75SNMVFUBC4R7JU6ELIIWG5OUXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUTETZY2FJHRZAPZEHISFRVPSO7AUUCJTQFIVUSKOYG4RRHLV4IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UEM5UUAFHH56GDQ7KVZ7DERNZFSBQLJW4ZRDNMZ273OAYGVPJLOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQJDSP4OPFCNULNQGOQ7Q6VOA5HZVG3ISQ76DN7MK7QDWHAYHSNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYXPEPYXR6UD3TKDBDZUUHKU2NSRS5EM2E465NYEJ4BLIZJ7U6XQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PCWQGAPI4GMSTJCVGBI4PCQOWPBPBVQPIGPVPS3PHXPABFQJB6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWFGISATCYBDWY4QZM6ITWQGCARTH52FLKSAPA2LUTYYO4SQCJUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXV4UXTG7YILLGQWU3XPGETAKISBZZ3U3PCL6KJKR6KVUDMOGKTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLOAZROF7TKBSS5WDRMKQ5GKT7CLID2TZL5UZHL53RNPBD55GONA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NLGNSFA5A7QWJP7DDSJ6FOTZ4K466B364L3QBSFY6DYKQEUHTQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RMYFSGEI5PZ6KOAONV7QOLIS5DXMJYR5HR4WJDSYDDBBOSVANJPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3PKJX5VQTWNJFVUGE3WOHGEFGSAYYTI6B52YULW7BIOJO3FTIHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFBU3ENP4567IVHBAFMM5TMHVD4PTGYPSX5ATDROANMAVLDBZ74Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QEKSP6SMKSWG2DNVASC3R23RCLHQQCCCGEQM6IEA26UFGVC73EA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6S55CTOO2VI643GBLF6VPRDDVPFXTYTO7EFJK37J7IQLJPRAL3KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DV3FWYHPNTXUKDWZFIMGYR5PR6Y4X57E2YDPGSVRJETMV4ZEDMBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKOC6ICIX7BSUVPURZNLGHQ2UGR5VCZJQBPJYCSSOVUDD4HAOCGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RNCJB4UKSCBU3YREH5GMDMGCKGJ5BUVSJXKWY4FFYYMYOTO66XKQ/main.js"
            ]
        },
        "GetParametersForImport": {
            "input": {
                "type": "structure",
                "required": [
                    "KeyMaterialType",
                    "WrappingKeyAlgorithm"
                ],
                "members": {
                    "KeyMaterialType": {},
                    "WrappingKeyAlgorithm": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "WrappingKeyCertificate",
                    "WrappingKeyCertificateChain",
                    "WrappingKeyAlgorithm",
                    "ImportToken",
                    "ParametersValidUntilTimestamp"
                ],
                "members": {
                    "WrappingKeyCertificate": {
                        "shape": "Sz"
                    },
                    "WrappingKeyCertificateChain": {
                        "shape": "Sz"
                    },
                    "WrappingKeyAlgorithm": {},
                    "ImportToken": {},
                    "ParametersValidUntilTimestamp": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DCQ627GE3RN6YC4H2FJAGRC25DPENPI4AP5W6LE2BYHBAGVUPMTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I47DRO2PHAWSKAH4IHZZAPHXRF5AS5HLGTHALYNII5C6UJP4HHTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/36CBI34U4M3M7JVXTGZCKXROBH45XJOZXSO73OGBHSS4WLQ2QLHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YUKTAYUKLKRVKOVNZ7KFYJX47EUQ5FPT6QHGGCMBEPG2G3QCMSOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JYGQODLVUVK6ZAUTBC2GECTLXEIQIJGHH4CA54CMRZYKPHWQRWNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F35BIDC6DE7QEYV672J5G373DURZSSBVRAA3KZ7XFA6X7VO35LMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YHC7SHW5N6HPCFWZG5DPSXIC75SNMVFUBC4R7JU6ELIIWG5OUXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUTETZY2FJHRZAPZEHISFRVPSO7AUUCJTQFIVUSKOYG4RRHLV4IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UEM5UUAFHH56GDQ7KVZ7DERNZFSBQLJW4ZRDNMZ273OAYGVPJLOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQJDSP4OPFCNULNQGOQ7Q6VOA5HZVG3ISQ76DN7MK7QDWHAYHSNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYXPEPYXR6UD3TKDBDZUUHKU2NSRS5EM2E465NYEJ4BLIZJ7U6XQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PCWQGAPI4GMSTJCVGBI4PCQOWPBPBVQPIGPVPS3PHXPABFQJB6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWFGISATCYBDWY4QZM6ITWQGCARTH52FLKSAPA2LUTYYO4SQCJUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXV4UXTG7YILLGQWU3XPGETAKISBZZ3U3PCL6KJKR6KVUDMOGKTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLOAZROF7TKBSS5WDRMKQ5GKT7CLID2TZL5UZHL53RNPBD55GONA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NLGNSFA5A7QWJP7DDSJ6FOTZ4K466B364L3QBSFY6DYKQEUHTQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RMYFSGEI5PZ6KOAONV7QOLIS5DXMJYR5HR4WJDSYDDBBOSVANJPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3PKJX5VQTWNJFVUGE3WOHGEFGSAYYTI6B52YULW7BIOJO3FTIHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFBU3ENP4567IVHBAFMM5TMHVD4PTGYPSX5ATDROANMAVLDBZ74Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QEKSP6SMKSWG2DNVASC3R23RCLHQQCCCGEQM6IEA26UFGVC73EA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6S55CTOO2VI643GBLF6VPRDDVPFXTYTO7EFJK37J7IQLJPRAL3KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DV3FWYHPNTXUKDWZFIMGYR5PR6Y4X57E2YDPGSVRJETMV4ZEDMBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKOC6ICIX7BSUVPURZNLGHQ2UGR5VCZJQBPJYCSSOVUDD4HAOCGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RNCJB4UKSCBU3YREH5GMDMGCKGJ5BUVSJXKWY4FFYYMYOTO66XKQ/main.js"
            ]
        },
        "GetPublicKeyCertificate": {
            "input": {
                "type": "structure",
                "required": [
                    "KeyIdentifier"
                ],
                "members": {
                    "KeyIdentifier": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "KeyCertificate",
                    "KeyCertificateChain"
                ],
                "members": {
                    "KeyCertificate": {
                        "shape": "Sz"
                    },
                    "KeyCertificateChain": {
                        "shape": "Sz"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DCQ627GE3RN6YC4H2FJAGRC25DPENPI4AP5W6LE2BYHBAGVUPMTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I47DRO2PHAWSKAH4IHZZAPHXRF5AS5HLGTHALYNII5C6UJP4HHTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/36CBI34U4M3M7JVXTGZCKXROBH45XJOZXSO73OGBHSS4WLQ2QLHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YUKTAYUKLKRVKOVNZ7KFYJX47EUQ5FPT6QHGGCMBEPG2G3QCMSOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JYGQODLVUVK6ZAUTBC2GECTLXEIQIJGHH4CA54CMRZYKPHWQRWNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F35BIDC6DE7QEYV672J5G373DURZSSBVRAA3KZ7XFA6X7VO35LMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YHC7SHW5N6HPCFWZG5DPSXIC75SNMVFUBC4R7JU6ELIIWG5OUXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUTETZY2FJHRZAPZEHISFRVPSO7AUUCJTQFIVUSKOYG4RRHLV4IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UEM5UUAFHH56GDQ7KVZ7DERNZFSBQLJW4ZRDNMZ273OAYGVPJLOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQJDSP4OPFCNULNQGOQ7Q6VOA5HZVG3ISQ76DN7MK7QDWHAYHSNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYXPEPYXR6UD3TKDBDZUUHKU2NSRS5EM2E465NYEJ4BLIZJ7U6XQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PCWQGAPI4GMSTJCVGBI4PCQOWPBPBVQPIGPVPS3PHXPABFQJB6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWFGISATCYBDWY4QZM6ITWQGCARTH52FLKSAPA2LUTYYO4SQCJUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXV4UXTG7YILLGQWU3XPGETAKISBZZ3U3PCL6KJKR6KVUDMOGKTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLOAZROF7TKBSS5WDRMKQ5GKT7CLID2TZL5UZHL53RNPBD55GONA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NLGNSFA5A7QWJP7DDSJ6FOTZ4K466B364L3QBSFY6DYKQEUHTQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RMYFSGEI5PZ6KOAONV7QOLIS5DXMJYR5HR4WJDSYDDBBOSVANJPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3PKJX5VQTWNJFVUGE3WOHGEFGSAYYTI6B52YULW7BIOJO3FTIHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFBU3ENP4567IVHBAFMM5TMHVD4PTGYPSX5ATDROANMAVLDBZ74Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QEKSP6SMKSWG2DNVASC3R23RCLHQQCCCGEQM6IEA26UFGVC73EA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6S55CTOO2VI643GBLF6VPRDDVPFXTYTO7EFJK37J7IQLJPRAL3KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DV3FWYHPNTXUKDWZFIMGYR5PR6Y4X57E2YDPGSVRJETMV4ZEDMBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKOC6ICIX7BSUVPURZNLGHQ2UGR5VCZJQBPJYCSSOVUDD4HAOCGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RNCJB4UKSCBU3YREH5GMDMGCKGJ5BUVSJXKWY4FFYYMYOTO66XKQ/main.js"
            ]
        },
        "ImportKey": {
            "input": {
                "type": "structure",
                "required": [
                    "KeyMaterial"
                ],
                "members": {
                    "KeyMaterial": {
                        "type": "structure",
                        "members": {
                            "RootCertificatePublicKey": {
                                "type": "structure",
                                "required": [
                                    "KeyAttributes",
                                    "PublicKeyCertificate"
                                ],
                                "members": {
                                    "KeyAttributes": {
                                        "shape": "S7"
                                    },
                                    "PublicKeyCertificate": {
                                        "shape": "Sz"
                                    }
                                }
                            },
                            "TrustedCertificatePublicKey": {
                                "type": "structure",
                                "required": [
                                    "KeyAttributes",
                                    "PublicKeyCertificate",
                                    "CertificateAuthorityPublicKeyIdentifier"
                                ],
                                "members": {
                                    "KeyAttributes": {
                                        "shape": "S7"
                                    },
                                    "PublicKeyCertificate": {
                                        "shape": "Sz"
                                    },
                                    "CertificateAuthorityPublicKeyIdentifier": {}
                                }
                            },
                            "Tr31KeyBlock": {
                                "type": "structure",
                                "required": [
                                    "WrappingKeyIdentifier",
                                    "WrappedKeyBlock"
                                ],
                                "members": {
                                    "WrappingKeyIdentifier": {},
                                    "WrappedKeyBlock": {}
                                }
                            },
                            "Tr34KeyBlock": {
                                "type": "structure",
                                "required": [
                                    "CertificateAuthorityPublicKeyIdentifier",
                                    "SigningKeyCertificate",
                                    "ImportToken",
                                    "WrappedKeyBlock",
                                    "KeyBlockFormat"
                                ],
                                "members": {
                                    "CertificateAuthorityPublicKeyIdentifier": {},
                                    "SigningKeyCertificate": {
                                        "shape": "Sz"
                                    },
                                    "ImportToken": {},
                                    "WrappedKeyBlock": {},
                                    "KeyBlockFormat": {},
                                    "RandomNonce": {}
                                }
                            }
                        },
                        "union": true
                    },
                    "KeyCheckValueAlgorithm": {},
                    "Enabled": {
                        "type": "boolean"
                    },
                    "Tags": {
                        "shape": "Sf"
                    },
                    "ReplicaRegions": {
                        "shape": "S3"
                    },
                    "ReplicationRegions": {
                        "shape": "S3"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Key"
                ],
                "members": {
                    "Key": {
                        "shape": "Sk"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DCQ627GE3RN6YC4H2FJAGRC25DPENPI4AP5W6LE2BYHBAGVUPMTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I47DRO2PHAWSKAH4IHZZAPHXRF5AS5HLGTHALYNII5C6UJP4HHTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/36CBI34U4M3M7JVXTGZCKXROBH45XJOZXSO73OGBHSS4WLQ2QLHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YUKTAYUKLKRVKOVNZ7KFYJX47EUQ5FPT6QHGGCMBEPG2G3QCMSOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JYGQODLVUVK6ZAUTBC2GECTLXEIQIJGHH4CA54CMRZYKPHWQRWNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F35BIDC6DE7QEYV672J5G373DURZSSBVRAA3KZ7XFA6X7VO35LMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YHC7SHW5N6HPCFWZG5DPSXIC75SNMVFUBC4R7JU6ELIIWG5OUXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUTETZY2FJHRZAPZEHISFRVPSO7AUUCJTQFIVUSKOYG4RRHLV4IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UEM5UUAFHH56GDQ7KVZ7DERNZFSBQLJW4ZRDNMZ273OAYGVPJLOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQJDSP4OPFCNULNQGOQ7Q6VOA5HZVG3ISQ76DN7MK7QDWHAYHSNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYXPEPYXR6UD3TKDBDZUUHKU2NSRS5EM2E465NYEJ4BLIZJ7U6XQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PCWQGAPI4GMSTJCVGBI4PCQOWPBPBVQPIGPVPS3PHXPABFQJB6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWFGISATCYBDWY4QZM6ITWQGCARTH52FLKSAPA2LUTYYO4SQCJUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXV4UXTG7YILLGQWU3XPGETAKISBZZ3U3PCL6KJKR6KVUDMOGKTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLOAZROF7TKBSS5WDRMKQ5GKT7CLID2TZL5UZHL53RNPBD55GONA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NLGNSFA5A7QWJP7DDSJ6FOTZ4K466B364L3QBSFY6DYKQEUHTQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RMYFSGEI5PZ6KOAONV7QOLIS5DXMJYR5HR4WJDSYDDBBOSVANJPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3PKJX5VQTWNJFVUGE3WOHGEFGSAYYTI6B52YULW7BIOJO3FTIHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFBU3ENP4567IVHBAFMM5TMHVD4PTGYPSX5ATDROANMAVLDBZ74Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QEKSP6SMKSWG2DNVASC3R23RCLHQQCCCGEQM6IEA26UFGVC73EA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6S55CTOO2VI643GBLF6VPRDDVPFXTYTO7EFJK37J7IQLJPRAL3KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DV3FWYHPNTXUKDWZFIMGYR5PR6Y4X57E2YDPGSVRJETMV4ZEDMBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKOC6ICIX7BSUVPURZNLGHQ2UGR5VCZJQBPJYCSSOVUDD4HAOCGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RNCJB4UKSCBU3YREH5GMDMGCKGJ5BUVSJXKWY4FFYYMYOTO66XKQ/main.js"
            ]
        },
        "ListAliases": {
            "input": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "KeyArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Aliases"
                ],
                "members": {
                    "Aliases": {
                        "type": "list",
                        "member": {
                            "shape": "S5"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DCQ627GE3RN6YC4H2FJAGRC25DPENPI4AP5W6LE2BYHBAGVUPMTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I47DRO2PHAWSKAH4IHZZAPHXRF5AS5HLGTHALYNII5C6UJP4HHTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/36CBI34U4M3M7JVXTGZCKXROBH45XJOZXSO73OGBHSS4WLQ2QLHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YUKTAYUKLKRVKOVNZ7KFYJX47EUQ5FPT6QHGGCMBEPG2G3QCMSOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JYGQODLVUVK6ZAUTBC2GECTLXEIQIJGHH4CA54CMRZYKPHWQRWNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F35BIDC6DE7QEYV672J5G373DURZSSBVRAA3KZ7XFA6X7VO35LMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YHC7SHW5N6HPCFWZG5DPSXIC75SNMVFUBC4R7JU6ELIIWG5OUXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUTETZY2FJHRZAPZEHISFRVPSO7AUUCJTQFIVUSKOYG4RRHLV4IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UEM5UUAFHH56GDQ7KVZ7DERNZFSBQLJW4ZRDNMZ273OAYGVPJLOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQJDSP4OPFCNULNQGOQ7Q6VOA5HZVG3ISQ76DN7MK7QDWHAYHSNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYXPEPYXR6UD3TKDBDZUUHKU2NSRS5EM2E465NYEJ4BLIZJ7U6XQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PCWQGAPI4GMSTJCVGBI4PCQOWPBPBVQPIGPVPS3PHXPABFQJB6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWFGISATCYBDWY4QZM6ITWQGCARTH52FLKSAPA2LUTYYO4SQCJUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXV4UXTG7YILLGQWU3XPGETAKISBZZ3U3PCL6KJKR6KVUDMOGKTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLOAZROF7TKBSS5WDRMKQ5GKT7CLID2TZL5UZHL53RNPBD55GONA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NLGNSFA5A7QWJP7DDSJ6FOTZ4K466B364L3QBSFY6DYKQEUHTQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RMYFSGEI5PZ6KOAONV7QOLIS5DXMJYR5HR4WJDSYDDBBOSVANJPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3PKJX5VQTWNJFVUGE3WOHGEFGSAYYTI6B52YULW7BIOJO3FTIHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFBU3ENP4567IVHBAFMM5TMHVD4PTGYPSX5ATDROANMAVLDBZ74Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QEKSP6SMKSWG2DNVASC3R23RCLHQQCCCGEQM6IEA26UFGVC73EA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6S55CTOO2VI643GBLF6VPRDDVPFXTYTO7EFJK37J7IQLJPRAL3KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DV3FWYHPNTXUKDWZFIMGYR5PR6Y4X57E2YDPGSVRJETMV4ZEDMBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKOC6ICIX7BSUVPURZNLGHQ2UGR5VCZJQBPJYCSSOVUDD4HAOCGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RNCJB4UKSCBU3YREH5GMDMGCKGJ5BUVSJXKWY4FFYYMYOTO66XKQ/main.js"
            ]
        },
        "ListKeys": {
            "input": {
                "type": "structure",
                "members": {
                    "KeyState": {},
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Keys"
                ],
                "members": {
                    "Keys": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "KeyArn",
                                "KeyState",
                                "KeyAttributes",
                                "KeyCheckValue",
                                "Exportable",
                                "Enabled"
                            ],
                            "members": {
                                "KeyArn": {},
                                "KeyState": {},
                                "KeyAttributes": {
                                    "shape": "S7"
                                },
                                "KeyCheckValue": {},
                                "Exportable": {
                                    "type": "boolean"
                                },
                                "Enabled": {
                                    "type": "boolean"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DCQ627GE3RN6YC4H2FJAGRC25DPENPI4AP5W6LE2BYHBAGVUPMTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I47DRO2PHAWSKAH4IHZZAPHXRF5AS5HLGTHALYNII5C6UJP4HHTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/36CBI34U4M3M7JVXTGZCKXROBH45XJOZXSO73OGBHSS4WLQ2QLHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YUKTAYUKLKRVKOVNZ7KFYJX47EUQ5FPT6QHGGCMBEPG2G3QCMSOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JYGQODLVUVK6ZAUTBC2GECTLXEIQIJGHH4CA54CMRZYKPHWQRWNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F35BIDC6DE7QEYV672J5G373DURZSSBVRAA3KZ7XFA6X7VO35LMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YHC7SHW5N6HPCFWZG5DPSXIC75SNMVFUBC4R7JU6ELIIWG5OUXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUTETZY2FJHRZAPZEHISFRVPSO7AUUCJTQFIVUSKOYG4RRHLV4IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UEM5UUAFHH56GDQ7KVZ7DERNZFSBQLJW4ZRDNMZ273OAYGVPJLOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQJDSP4OPFCNULNQGOQ7Q6VOA5HZVG3ISQ76DN7MK7QDWHAYHSNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYXPEPYXR6UD3TKDBDZUUHKU2NSRS5EM2E465NYEJ4BLIZJ7U6XQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PCWQGAPI4GMSTJCVGBI4PCQOWPBPBVQPIGPVPS3PHXPABFQJB6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWFGISATCYBDWY4QZM6ITWQGCARTH52FLKSAPA2LUTYYO4SQCJUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXV4UXTG7YILLGQWU3XPGETAKISBZZ3U3PCL6KJKR6KVUDMOGKTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLOAZROF7TKBSS5WDRMKQ5GKT7CLID2TZL5UZHL53RNPBD55GONA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NLGNSFA5A7QWJP7DDSJ6FOTZ4K466B364L3QBSFY6DYKQEUHTQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RMYFSGEI5PZ6KOAONV7QOLIS5DXMJYR5HR4WJDSYDDBBOSVANJPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3PKJX5VQTWNJFVUGE3WOHGEFGSAYYTI6B52YULW7BIOJO3FTIHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFBU3ENP4567IVHBAFMM5TMHVD4PTGYPSX5ATDROANMAVLDBZ74Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QEKSP6SMKSWG2DNVASC3R23RCLHQQCCCGEQM6IEA26UFGVC73EA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6S55CTOO2VI643GBLF6VPRDDVPFXTYTO7EFJK37J7IQLJPRAL3KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DV3FWYHPNTXUKDWZFIMGYR5PR6Y4X57E2YDPGSVRJETMV4ZEDMBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKOC6ICIX7BSUVPURZNLGHQ2UGR5VCZJQBPJYCSSOVUDD4HAOCGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RNCJB4UKSCBU3YREH5GMDMGCKGJ5BUVSJXKWY4FFYYMYOTO66XKQ/main.js"
            ]
        },
        "ListTagsForResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn"
                ],
                "members": {
                    "ResourceArn": {},
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Tags"
                ],
                "members": {
                    "Tags": {
                        "shape": "Sf"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DCQ627GE3RN6YC4H2FJAGRC25DPENPI4AP5W6LE2BYHBAGVUPMTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I47DRO2PHAWSKAH4IHZZAPHXRF5AS5HLGTHALYNII5C6UJP4HHTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/36CBI34U4M3M7JVXTGZCKXROBH45XJOZXSO73OGBHSS4WLQ2QLHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YUKTAYUKLKRVKOVNZ7KFYJX47EUQ5FPT6QHGGCMBEPG2G3QCMSOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JYGQODLVUVK6ZAUTBC2GECTLXEIQIJGHH4CA54CMRZYKPHWQRWNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F35BIDC6DE7QEYV672J5G373DURZSSBVRAA3KZ7XFA6X7VO35LMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YHC7SHW5N6HPCFWZG5DPSXIC75SNMVFUBC4R7JU6ELIIWG5OUXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUTETZY2FJHRZAPZEHISFRVPSO7AUUCJTQFIVUSKOYG4RRHLV4IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UEM5UUAFHH56GDQ7KVZ7DERNZFSBQLJW4ZRDNMZ273OAYGVPJLOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQJDSP4OPFCNULNQGOQ7Q6VOA5HZVG3ISQ76DN7MK7QDWHAYHSNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYXPEPYXR6UD3TKDBDZUUHKU2NSRS5EM2E465NYEJ4BLIZJ7U6XQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PCWQGAPI4GMSTJCVGBI4PCQOWPBPBVQPIGPVPS3PHXPABFQJB6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWFGISATCYBDWY4QZM6ITWQGCARTH52FLKSAPA2LUTYYO4SQCJUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXV4UXTG7YILLGQWU3XPGETAKISBZZ3U3PCL6KJKR6KVUDMOGKTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLOAZROF7TKBSS5WDRMKQ5GKT7CLID2TZL5UZHL53RNPBD55GONA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NLGNSFA5A7QWJP7DDSJ6FOTZ4K466B364L3QBSFY6DYKQEUHTQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RMYFSGEI5PZ6KOAONV7QOLIS5DXMJYR5HR4WJDSYDDBBOSVANJPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3PKJX5VQTWNJFVUGE3WOHGEFGSAYYTI6B52YULW7BIOJO3FTIHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFBU3ENP4567IVHBAFMM5TMHVD4PTGYPSX5ATDROANMAVLDBZ74Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QEKSP6SMKSWG2DNVASC3R23RCLHQQCCCGEQM6IEA26UFGVC73EA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6S55CTOO2VI643GBLF6VPRDDVPFXTYTO7EFJK37J7IQLJPRAL3KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DV3FWYHPNTXUKDWZFIMGYR5PR6Y4X57E2YDPGSVRJETMV4ZEDMBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKOC6ICIX7BSUVPURZNLGHQ2UGR5VCZJQBPJYCSSOVUDD4HAOCGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RNCJB4UKSCBU3YREH5GMDMGCKGJ5BUVSJXKWY4FFYYMYOTO66XKQ/main.js"
            ]
        },
        "RestoreKey": {
            "input": {
                "type": "structure",
                "required": [
                    "KeyIdentifier"
                ],
                "members": {
                    "KeyIdentifier": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Key"
                ],
                "members": {
                    "Key": {
                        "shape": "Sk"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DCQ627GE3RN6YC4H2FJAGRC25DPENPI4AP5W6LE2BYHBAGVUPMTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I47DRO2PHAWSKAH4IHZZAPHXRF5AS5HLGTHALYNII5C6UJP4HHTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/36CBI34U4M3M7JVXTGZCKXROBH45XJOZXSO73OGBHSS4WLQ2QLHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YUKTAYUKLKRVKOVNZ7KFYJX47EUQ5FPT6QHGGCMBEPG2G3QCMSOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JYGQODLVUVK6ZAUTBC2GECTLXEIQIJGHH4CA54CMRZYKPHWQRWNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F35BIDC6DE7QEYV672J5G373DURZSSBVRAA3KZ7XFA6X7VO35LMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YHC7SHW5N6HPCFWZG5DPSXIC75SNMVFUBC4R7JU6ELIIWG5OUXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUTETZY2FJHRZAPZEHISFRVPSO7AUUCJTQFIVUSKOYG4RRHLV4IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UEM5UUAFHH56GDQ7KVZ7DERNZFSBQLJW4ZRDNMZ273OAYGVPJLOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQJDSP4OPFCNULNQGOQ7Q6VOA5HZVG3ISQ76DN7MK7QDWHAYHSNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYXPEPYXR6UD3TKDBDZUUHKU2NSRS5EM2E465NYEJ4BLIZJ7U6XQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PCWQGAPI4GMSTJCVGBI4PCQOWPBPBVQPIGPVPS3PHXPABFQJB6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWFGISATCYBDWY4QZM6ITWQGCARTH52FLKSAPA2LUTYYO4SQCJUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXV4UXTG7YILLGQWU3XPGETAKISBZZ3U3PCL6KJKR6KVUDMOGKTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLOAZROF7TKBSS5WDRMKQ5GKT7CLID2TZL5UZHL53RNPBD55GONA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NLGNSFA5A7QWJP7DDSJ6FOTZ4K466B364L3QBSFY6DYKQEUHTQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RMYFSGEI5PZ6KOAONV7QOLIS5DXMJYR5HR4WJDSYDDBBOSVANJPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3PKJX5VQTWNJFVUGE3WOHGEFGSAYYTI6B52YULW7BIOJO3FTIHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFBU3ENP4567IVHBAFMM5TMHVD4PTGYPSX5ATDROANMAVLDBZ74Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QEKSP6SMKSWG2DNVASC3R23RCLHQQCCCGEQM6IEA26UFGVC73EA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6S55CTOO2VI643GBLF6VPRDDVPFXTYTO7EFJK37J7IQLJPRAL3KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DV3FWYHPNTXUKDWZFIMGYR5PR6Y4X57E2YDPGSVRJETMV4ZEDMBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKOC6ICIX7BSUVPURZNLGHQ2UGR5VCZJQBPJYCSSOVUDD4HAOCGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RNCJB4UKSCBU3YREH5GMDMGCKGJ5BUVSJXKWY4FFYYMYOTO66XKQ/main.js"
            ]
        },
        "StartKeyUsage": {
            "input": {
                "type": "structure",
                "required": [
                    "KeyIdentifier"
                ],
                "members": {
                    "KeyIdentifier": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Key"
                ],
                "members": {
                    "Key": {
                        "shape": "Sk"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DCQ627GE3RN6YC4H2FJAGRC25DPENPI4AP5W6LE2BYHBAGVUPMTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I47DRO2PHAWSKAH4IHZZAPHXRF5AS5HLGTHALYNII5C6UJP4HHTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/36CBI34U4M3M7JVXTGZCKXROBH45XJOZXSO73OGBHSS4WLQ2QLHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YUKTAYUKLKRVKOVNZ7KFYJX47EUQ5FPT6QHGGCMBEPG2G3QCMSOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JYGQODLVUVK6ZAUTBC2GECTLXEIQIJGHH4CA54CMRZYKPHWQRWNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F35BIDC6DE7QEYV672J5G373DURZSSBVRAA3KZ7XFA6X7VO35LMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YHC7SHW5N6HPCFWZG5DPSXIC75SNMVFUBC4R7JU6ELIIWG5OUXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUTETZY2FJHRZAPZEHISFRVPSO7AUUCJTQFIVUSKOYG4RRHLV4IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UEM5UUAFHH56GDQ7KVZ7DERNZFSBQLJW4ZRDNMZ273OAYGVPJLOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQJDSP4OPFCNULNQGOQ7Q6VOA5HZVG3ISQ76DN7MK7QDWHAYHSNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYXPEPYXR6UD3TKDBDZUUHKU2NSRS5EM2E465NYEJ4BLIZJ7U6XQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PCWQGAPI4GMSTJCVGBI4PCQOWPBPBVQPIGPVPS3PHXPABFQJB6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWFGISATCYBDWY4QZM6ITWQGCARTH52FLKSAPA2LUTYYO4SQCJUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXV4UXTG7YILLGQWU3XPGETAKISBZZ3U3PCL6KJKR6KVUDMOGKTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLOAZROF7TKBSS5WDRMKQ5GKT7CLID2TZL5UZHL53RNPBD55GONA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NLGNSFA5A7QWJP7DDSJ6FOTZ4K466B364L3QBSFY6DYKQEUHTQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RMYFSGEI5PZ6KOAONV7QOLIS5DXMJYR5HR4WJDSYDDBBOSVANJPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3PKJX5VQTWNJFVUGE3WOHGEFGSAYYTI6B52YULW7BIOJO3FTIHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFBU3ENP4567IVHBAFMM5TMHVD4PTGYPSX5ATDROANMAVLDBZ74Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QEKSP6SMKSWG2DNVASC3R23RCLHQQCCCGEQM6IEA26UFGVC73EA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6S55CTOO2VI643GBLF6VPRDDVPFXTYTO7EFJK37J7IQLJPRAL3KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DV3FWYHPNTXUKDWZFIMGYR5PR6Y4X57E2YDPGSVRJETMV4ZEDMBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKOC6ICIX7BSUVPURZNLGHQ2UGR5VCZJQBPJYCSSOVUDD4HAOCGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RNCJB4UKSCBU3YREH5GMDMGCKGJ5BUVSJXKWY4FFYYMYOTO66XKQ/main.js"
            ]
        },
        "StopKeyUsage": {
            "input": {
                "type": "structure",
                "required": [
                    "KeyIdentifier"
                ],
                "members": {
                    "KeyIdentifier": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Key"
                ],
                "members": {
                    "Key": {
                        "shape": "Sk"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DCQ627GE3RN6YC4H2FJAGRC25DPENPI4AP5W6LE2BYHBAGVUPMTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I47DRO2PHAWSKAH4IHZZAPHXRF5AS5HLGTHALYNII5C6UJP4HHTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/36CBI34U4M3M7JVXTGZCKXROBH45XJOZXSO73OGBHSS4WLQ2QLHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YUKTAYUKLKRVKOVNZ7KFYJX47EUQ5FPT6QHGGCMBEPG2G3QCMSOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JYGQODLVUVK6ZAUTBC2GECTLXEIQIJGHH4CA54CMRZYKPHWQRWNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F35BIDC6DE7QEYV672J5G373DURZSSBVRAA3KZ7XFA6X7VO35LMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YHC7SHW5N6HPCFWZG5DPSXIC75SNMVFUBC4R7JU6ELIIWG5OUXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUTETZY2FJHRZAPZEHISFRVPSO7AUUCJTQFIVUSKOYG4RRHLV4IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UEM5UUAFHH56GDQ7KVZ7DERNZFSBQLJW4ZRDNMZ273OAYGVPJLOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQJDSP4OPFCNULNQGOQ7Q6VOA5HZVG3ISQ76DN7MK7QDWHAYHSNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYXPEPYXR6UD3TKDBDZUUHKU2NSRS5EM2E465NYEJ4BLIZJ7U6XQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PCWQGAPI4GMSTJCVGBI4PCQOWPBPBVQPIGPVPS3PHXPABFQJB6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWFGISATCYBDWY4QZM6ITWQGCARTH52FLKSAPA2LUTYYO4SQCJUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXV4UXTG7YILLGQWU3XPGETAKISBZZ3U3PCL6KJKR6KVUDMOGKTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLOAZROF7TKBSS5WDRMKQ5GKT7CLID2TZL5UZHL53RNPBD55GONA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NLGNSFA5A7QWJP7DDSJ6FOTZ4K466B364L3QBSFY6DYKQEUHTQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RMYFSGEI5PZ6KOAONV7QOLIS5DXMJYR5HR4WJDSYDDBBOSVANJPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3PKJX5VQTWNJFVUGE3WOHGEFGSAYYTI6B52YULW7BIOJO3FTIHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFBU3ENP4567IVHBAFMM5TMHVD4PTGYPSX5ATDROANMAVLDBZ74Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QEKSP6SMKSWG2DNVASC3R23RCLHQQCCCGEQM6IEA26UFGVC73EA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6S55CTOO2VI643GBLF6VPRDDVPFXTYTO7EFJK37J7IQLJPRAL3KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DV3FWYHPNTXUKDWZFIMGYR5PR6Y4X57E2YDPGSVRJETMV4ZEDMBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKOC6ICIX7BSUVPURZNLGHQ2UGR5VCZJQBPJYCSSOVUDD4HAOCGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RNCJB4UKSCBU3YREH5GMDMGCKGJ5BUVSJXKWY4FFYYMYOTO66XKQ/main.js"
            ]
        },
        "TagResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn",
                    "Tags"
                ],
                "members": {
                    "ResourceArn": {},
                    "Tags": {
                        "shape": "Sf"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DCQ627GE3RN6YC4H2FJAGRC25DPENPI4AP5W6LE2BYHBAGVUPMTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I47DRO2PHAWSKAH4IHZZAPHXRF5AS5HLGTHALYNII5C6UJP4HHTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/36CBI34U4M3M7JVXTGZCKXROBH45XJOZXSO73OGBHSS4WLQ2QLHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YUKTAYUKLKRVKOVNZ7KFYJX47EUQ5FPT6QHGGCMBEPG2G3QCMSOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JYGQODLVUVK6ZAUTBC2GECTLXEIQIJGHH4CA54CMRZYKPHWQRWNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F35BIDC6DE7QEYV672J5G373DURZSSBVRAA3KZ7XFA6X7VO35LMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YHC7SHW5N6HPCFWZG5DPSXIC75SNMVFUBC4R7JU6ELIIWG5OUXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUTETZY2FJHRZAPZEHISFRVPSO7AUUCJTQFIVUSKOYG4RRHLV4IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UEM5UUAFHH56GDQ7KVZ7DERNZFSBQLJW4ZRDNMZ273OAYGVPJLOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQJDSP4OPFCNULNQGOQ7Q6VOA5HZVG3ISQ76DN7MK7QDWHAYHSNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYXPEPYXR6UD3TKDBDZUUHKU2NSRS5EM2E465NYEJ4BLIZJ7U6XQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PCWQGAPI4GMSTJCVGBI4PCQOWPBPBVQPIGPVPS3PHXPABFQJB6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWFGISATCYBDWY4QZM6ITWQGCARTH52FLKSAPA2LUTYYO4SQCJUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXV4UXTG7YILLGQWU3XPGETAKISBZZ3U3PCL6KJKR6KVUDMOGKTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLOAZROF7TKBSS5WDRMKQ5GKT7CLID2TZL5UZHL53RNPBD55GONA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NLGNSFA5A7QWJP7DDSJ6FOTZ4K466B364L3QBSFY6DYKQEUHTQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RMYFSGEI5PZ6KOAONV7QOLIS5DXMJYR5HR4WJDSYDDBBOSVANJPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3PKJX5VQTWNJFVUGE3WOHGEFGSAYYTI6B52YULW7BIOJO3FTIHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFBU3ENP4567IVHBAFMM5TMHVD4PTGYPSX5ATDROANMAVLDBZ74Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QEKSP6SMKSWG2DNVASC3R23RCLHQQCCCGEQM6IEA26UFGVC73EA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6S55CTOO2VI643GBLF6VPRDDVPFXTYTO7EFJK37J7IQLJPRAL3KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DV3FWYHPNTXUKDWZFIMGYR5PR6Y4X57E2YDPGSVRJETMV4ZEDMBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKOC6ICIX7BSUVPURZNLGHQ2UGR5VCZJQBPJYCSSOVUDD4HAOCGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RNCJB4UKSCBU3YREH5GMDMGCKGJ5BUVSJXKWY4FFYYMYOTO66XKQ/main.js"
            ]
        },
        "UntagResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn",
                    "TagKeys"
                ],
                "members": {
                    "ResourceArn": {},
                    "TagKeys": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DCQ627GE3RN6YC4H2FJAGRC25DPENPI4AP5W6LE2BYHBAGVUPMTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I47DRO2PHAWSKAH4IHZZAPHXRF5AS5HLGTHALYNII5C6UJP4HHTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/36CBI34U4M3M7JVXTGZCKXROBH45XJOZXSO73OGBHSS4WLQ2QLHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YUKTAYUKLKRVKOVNZ7KFYJX47EUQ5FPT6QHGGCMBEPG2G3QCMSOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JYGQODLVUVK6ZAUTBC2GECTLXEIQIJGHH4CA54CMRZYKPHWQRWNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F35BIDC6DE7QEYV672J5G373DURZSSBVRAA3KZ7XFA6X7VO35LMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YHC7SHW5N6HPCFWZG5DPSXIC75SNMVFUBC4R7JU6ELIIWG5OUXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUTETZY2FJHRZAPZEHISFRVPSO7AUUCJTQFIVUSKOYG4RRHLV4IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UEM5UUAFHH56GDQ7KVZ7DERNZFSBQLJW4ZRDNMZ273OAYGVPJLOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQJDSP4OPFCNULNQGOQ7Q6VOA5HZVG3ISQ76DN7MK7QDWHAYHSNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYXPEPYXR6UD3TKDBDZUUHKU2NSRS5EM2E465NYEJ4BLIZJ7U6XQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PCWQGAPI4GMSTJCVGBI4PCQOWPBPBVQPIGPVPS3PHXPABFQJB6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWFGISATCYBDWY4QZM6ITWQGCARTH52FLKSAPA2LUTYYO4SQCJUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXV4UXTG7YILLGQWU3XPGETAKISBZZ3U3PCL6KJKR6KVUDMOGKTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLOAZROF7TKBSS5WDRMKQ5GKT7CLID2TZL5UZHL53RNPBD55GONA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NLGNSFA5A7QWJP7DDSJ6FOTZ4K466B364L3QBSFY6DYKQEUHTQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RMYFSGEI5PZ6KOAONV7QOLIS5DXMJYR5HR4WJDSYDDBBOSVANJPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3PKJX5VQTWNJFVUGE3WOHGEFGSAYYTI6B52YULW7BIOJO3FTIHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFBU3ENP4567IVHBAFMM5TMHVD4PTGYPSX5ATDROANMAVLDBZ74Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QEKSP6SMKSWG2DNVASC3R23RCLHQQCCCGEQM6IEA26UFGVC73EA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6S55CTOO2VI643GBLF6VPRDDVPFXTYTO7EFJK37J7IQLJPRAL3KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DV3FWYHPNTXUKDWZFIMGYR5PR6Y4X57E2YDPGSVRJETMV4ZEDMBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKOC6ICIX7BSUVPURZNLGHQ2UGR5VCZJQBPJYCSSOVUDD4HAOCGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RNCJB4UKSCBU3YREH5GMDMGCKGJ5BUVSJXKWY4FFYYMYOTO66XKQ/main.js"
            ]
        },
        "UpdateAlias": {
            "input": {
                "type": "structure",
                "required": [
                    "AliasName"
                ],
                "members": {
                    "AliasName": {},
                    "KeyArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Alias"
                ],
                "members": {
                    "Alias": {
                        "shape": "S5"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DCQ627GE3RN6YC4H2FJAGRC25DPENPI4AP5W6LE2BYHBAGVUPMTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I47DRO2PHAWSKAH4IHZZAPHXRF5AS5HLGTHALYNII5C6UJP4HHTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/36CBI34U4M3M7JVXTGZCKXROBH45XJOZXSO73OGBHSS4WLQ2QLHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YUKTAYUKLKRVKOVNZ7KFYJX47EUQ5FPT6QHGGCMBEPG2G3QCMSOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JYGQODLVUVK6ZAUTBC2GECTLXEIQIJGHH4CA54CMRZYKPHWQRWNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F35BIDC6DE7QEYV672J5G373DURZSSBVRAA3KZ7XFA6X7VO35LMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YHC7SHW5N6HPCFWZG5DPSXIC75SNMVFUBC4R7JU6ELIIWG5OUXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUTETZY2FJHRZAPZEHISFRVPSO7AUUCJTQFIVUSKOYG4RRHLV4IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UEM5UUAFHH56GDQ7KVZ7DERNZFSBQLJW4ZRDNMZ273OAYGVPJLOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQJDSP4OPFCNULNQGOQ7Q6VOA5HZVG3ISQ76DN7MK7QDWHAYHSNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYXPEPYXR6UD3TKDBDZUUHKU2NSRS5EM2E465NYEJ4BLIZJ7U6XQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PCWQGAPI4GMSTJCVGBI4PCQOWPBPBVQPIGPVPS3PHXPABFQJB6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWFGISATCYBDWY4QZM6ITWQGCARTH52FLKSAPA2LUTYYO4SQCJUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXV4UXTG7YILLGQWU3XPGETAKISBZZ3U3PCL6KJKR6KVUDMOGKTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLOAZROF7TKBSS5WDRMKQ5GKT7CLID2TZL5UZHL53RNPBD55GONA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NLGNSFA5A7QWJP7DDSJ6FOTZ4K466B364L3QBSFY6DYKQEUHTQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RMYFSGEI5PZ6KOAONV7QOLIS5DXMJYR5HR4WJDSYDDBBOSVANJPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3PKJX5VQTWNJFVUGE3WOHGEFGSAYYTI6B52YULW7BIOJO3FTIHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFBU3ENP4567IVHBAFMM5TMHVD4PTGYPSX5ATDROANMAVLDBZ74Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QEKSP6SMKSWG2DNVASC3R23RCLHQQCCCGEQM6IEA26UFGVC73EA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6S55CTOO2VI643GBLF6VPRDDVPFXTYTO7EFJK37J7IQLJPRAL3KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DV3FWYHPNTXUKDWZFIMGYR5PR6Y4X57E2YDPGSVRJETMV4ZEDMBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKOC6ICIX7BSUVPURZNLGHQ2UGR5VCZJQBPJYCSSOVUDD4HAOCGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RNCJB4UKSCBU3YREH5GMDMGCKGJ5BUVSJXKWY4FFYYMYOTO66XKQ/main.js"
            ]
        },
        "GetCertificateSigningRequest": {
            "input": {
                "type": "structure",
                "required": [
                    "KeyIdentifier",
                    "SigningAlgorithm",
                    "CertificateSubject"
                ],
                "members": {
                    "KeyIdentifier": {},
                    "SigningAlgorithm": {},
                    "CertificateSubject": {
                        "type": "structure",
                        "required": [
                            "CommonName"
                        ],
                        "members": {
                            "CommonName": {},
                            "OrganizationUnit": {},
                            "Organization": {},
                            "City": {},
                            "Country": {},
                            "StateOrProvince": {},
                            "EmailAddress": {}
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Key",
                    "CertificateSigningRequest"
                ],
                "members": {
                    "Key": {
                        "shape": "Sl"
                    },
                    "CertificateSigningRequest": {
                        "type": "string",
                        "sensitive": true
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DCQ627GE3RN6YC4H2FJAGRC25DPENPI4AP5W6LE2BYHBAGVUPMTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I47DRO2PHAWSKAH4IHZZAPHXRF5AS5HLGTHALYNII5C6UJP4HHTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/36CBI34U4M3M7JVXTGZCKXROBH45XJOZXSO73OGBHSS4WLQ2QLHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YUKTAYUKLKRVKOVNZ7KFYJX47EUQ5FPT6QHGGCMBEPG2G3QCMSOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JYGQODLVUVK6ZAUTBC2GECTLXEIQIJGHH4CA54CMRZYKPHWQRWNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F35BIDC6DE7QEYV672J5G373DURZSSBVRAA3KZ7XFA6X7VO35LMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YHC7SHW5N6HPCFWZG5DPSXIC75SNMVFUBC4R7JU6ELIIWG5OUXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUTETZY2FJHRZAPZEHISFRVPSO7AUUCJTQFIVUSKOYG4RRHLV4IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UEM5UUAFHH56GDQ7KVZ7DERNZFSBQLJW4ZRDNMZ273OAYGVPJLOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQJDSP4OPFCNULNQGOQ7Q6VOA5HZVG3ISQ76DN7MK7QDWHAYHSNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYXPEPYXR6UD3TKDBDZUUHKU2NSRS5EM2E465NYEJ4BLIZJ7U6XQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PCWQGAPI4GMSTJCVGBI4PCQOWPBPBVQPIGPVPS3PHXPABFQJB6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWFGISATCYBDWY4QZM6ITWQGCARTH52FLKSAPA2LUTYYO4SQCJUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXV4UXTG7YILLGQWU3XPGETAKISBZZ3U3PCL6KJKR6KVUDMOGKTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLOAZROF7TKBSS5WDRMKQ5GKT7CLID2TZL5UZHL53RNPBD55GONA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NLGNSFA5A7QWJP7DDSJ6FOTZ4K466B364L3QBSFY6DYKQEUHTQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RMYFSGEI5PZ6KOAONV7QOLIS5DXMJYR5HR4WJDSYDDBBOSVANJPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3PKJX5VQTWNJFVUGE3WOHGEFGSAYYTI6B52YULW7BIOJO3FTIHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFBU3ENP4567IVHBAFMM5TMHVD4PTGYPSX5ATDROANMAVLDBZ74Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QEKSP6SMKSWG2DNVASC3R23RCLHQQCCCGEQM6IEA26UFGVC73EA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6S55CTOO2VI643GBLF6VPRDDVPFXTYTO7EFJK37J7IQLJPRAL3KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DV3FWYHPNTXUKDWZFIMGYR5PR6Y4X57E2YDPGSVRJETMV4ZEDMBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKOC6ICIX7BSUVPURZNLGHQ2UGR5VCZJQBPJYCSSOVUDD4HAOCGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RNCJB4UKSCBU3YREH5GMDMGCKGJ5BUVSJXKWY4FFYYMYOTO66XKQ/main.js"
            ]
        },
        "AddKeyReplicationRegions": {
            "input": {
                "type": "structure",
                "required": [
                    "KeyIdentifier",
                    "ReplicaRegions"
                ],
                "members": {
                    "KeyIdentifier": {},
                    "ReplicaRegions": {
                        "shape": "S3"
                    },
                    "ReplicationRegions": {
                        "shape": "S3"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Key"
                ],
                "members": {
                    "Key": {
                        "shape": "S6"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DCQ627GE3RN6YC4H2FJAGRC25DPENPI4AP5W6LE2BYHBAGVUPMTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I47DRO2PHAWSKAH4IHZZAPHXRF5AS5HLGTHALYNII5C6UJP4HHTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/36CBI34U4M3M7JVXTGZCKXROBH45XJOZXSO73OGBHSS4WLQ2QLHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YUKTAYUKLKRVKOVNZ7KFYJX47EUQ5FPT6QHGGCMBEPG2G3QCMSOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JYGQODLVUVK6ZAUTBC2GECTLXEIQIJGHH4CA54CMRZYKPHWQRWNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F35BIDC6DE7QEYV672J5G373DURZSSBVRAA3KZ7XFA6X7VO35LMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YHC7SHW5N6HPCFWZG5DPSXIC75SNMVFUBC4R7JU6ELIIWG5OUXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUTETZY2FJHRZAPZEHISFRVPSO7AUUCJTQFIVUSKOYG4RRHLV4IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UEM5UUAFHH56GDQ7KVZ7DERNZFSBQLJW4ZRDNMZ273OAYGVPJLOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQJDSP4OPFCNULNQGOQ7Q6VOA5HZVG3ISQ76DN7MK7QDWHAYHSNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYXPEPYXR6UD3TKDBDZUUHKU2NSRS5EM2E465NYEJ4BLIZJ7U6XQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PCWQGAPI4GMSTJCVGBI4PCQOWPBPBVQPIGPVPS3PHXPABFQJB6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWFGISATCYBDWY4QZM6ITWQGCARTH52FLKSAPA2LUTYYO4SQCJUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXV4UXTG7YILLGQWU3XPGETAKISBZZ3U3PCL6KJKR6KVUDMOGKTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLOAZROF7TKBSS5WDRMKQ5GKT7CLID2TZL5UZHL53RNPBD55GONA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NLGNSFA5A7QWJP7DDSJ6FOTZ4K466B364L3QBSFY6DYKQEUHTQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RMYFSGEI5PZ6KOAONV7QOLIS5DXMJYR5HR4WJDSYDDBBOSVANJPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3PKJX5VQTWNJFVUGE3WOHGEFGSAYYTI6B52YULW7BIOJO3FTIHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFBU3ENP4567IVHBAFMM5TMHVD4PTGYPSX5ATDROANMAVLDBZ74Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QEKSP6SMKSWG2DNVASC3R23RCLHQQCCCGEQM6IEA26UFGVC73EA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6S55CTOO2VI643GBLF6VPRDDVPFXTYTO7EFJK37J7IQLJPRAL3KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DV3FWYHPNTXUKDWZFIMGYR5PR6Y4X57E2YDPGSVRJETMV4ZEDMBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKOC6ICIX7BSUVPURZNLGHQ2UGR5VCZJQBPJYCSSOVUDD4HAOCGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RNCJB4UKSCBU3YREH5GMDMGCKGJ5BUVSJXKWY4FFYYMYOTO66XKQ/main.js"
            ]
        },
        "DisableDefaultKeyReplicationRegions": {
            "input": {
                "type": "structure",
                "required": [
                    "ReplicaRegions"
                ],
                "members": {
                    "ReplicaRegions": {
                        "shape": "S3"
                    },
                    "ReplicationRegions": {
                        "shape": "S3"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "EnabledReplicaRegions"
                ],
                "members": {
                    "EnabledReplicaRegions": {
                        "shape": "S3"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DCQ627GE3RN6YC4H2FJAGRC25DPENPI4AP5W6LE2BYHBAGVUPMTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I47DRO2PHAWSKAH4IHZZAPHXRF5AS5HLGTHALYNII5C6UJP4HHTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/36CBI34U4M3M7JVXTGZCKXROBH45XJOZXSO73OGBHSS4WLQ2QLHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YUKTAYUKLKRVKOVNZ7KFYJX47EUQ5FPT6QHGGCMBEPG2G3QCMSOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JYGQODLVUVK6ZAUTBC2GECTLXEIQIJGHH4CA54CMRZYKPHWQRWNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F35BIDC6DE7QEYV672J5G373DURZSSBVRAA3KZ7XFA6X7VO35LMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YHC7SHW5N6HPCFWZG5DPSXIC75SNMVFUBC4R7JU6ELIIWG5OUXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUTETZY2FJHRZAPZEHISFRVPSO7AUUCJTQFIVUSKOYG4RRHLV4IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UEM5UUAFHH56GDQ7KVZ7DERNZFSBQLJW4ZRDNMZ273OAYGVPJLOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQJDSP4OPFCNULNQGOQ7Q6VOA5HZVG3ISQ76DN7MK7QDWHAYHSNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYXPEPYXR6UD3TKDBDZUUHKU2NSRS5EM2E465NYEJ4BLIZJ7U6XQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PCWQGAPI4GMSTJCVGBI4PCQOWPBPBVQPIGPVPS3PHXPABFQJB6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWFGISATCYBDWY4QZM6ITWQGCARTH52FLKSAPA2LUTYYO4SQCJUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXV4UXTG7YILLGQWU3XPGETAKISBZZ3U3PCL6KJKR6KVUDMOGKTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLOAZROF7TKBSS5WDRMKQ5GKT7CLID2TZL5UZHL53RNPBD55GONA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NLGNSFA5A7QWJP7DDSJ6FOTZ4K466B364L3QBSFY6DYKQEUHTQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RMYFSGEI5PZ6KOAONV7QOLIS5DXMJYR5HR4WJDSYDDBBOSVANJPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3PKJX5VQTWNJFVUGE3WOHGEFGSAYYTI6B52YULW7BIOJO3FTIHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFBU3ENP4567IVHBAFMM5TMHVD4PTGYPSX5ATDROANMAVLDBZ74Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QEKSP6SMKSWG2DNVASC3R23RCLHQQCCCGEQM6IEA26UFGVC73EA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6S55CTOO2VI643GBLF6VPRDDVPFXTYTO7EFJK37J7IQLJPRAL3KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DV3FWYHPNTXUKDWZFIMGYR5PR6Y4X57E2YDPGSVRJETMV4ZEDMBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKOC6ICIX7BSUVPURZNLGHQ2UGR5VCZJQBPJYCSSOVUDD4HAOCGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RNCJB4UKSCBU3YREH5GMDMGCKGJ5BUVSJXKWY4FFYYMYOTO66XKQ/main.js"
            ]
        },
        "EnableDefaultKeyReplicationRegions": {
            "input": {
                "type": "structure",
                "required": [
                    "ReplicaRegions"
                ],
                "members": {
                    "ReplicaRegions": {
                        "shape": "S3"
                    },
                    "ReplicationRegions": {
                        "shape": "S3"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "EnabledReplicaRegions"
                ],
                "members": {
                    "EnabledReplicaRegions": {
                        "shape": "S3"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DCQ627GE3RN6YC4H2FJAGRC25DPENPI4AP5W6LE2BYHBAGVUPMTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I47DRO2PHAWSKAH4IHZZAPHXRF5AS5HLGTHALYNII5C6UJP4HHTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/36CBI34U4M3M7JVXTGZCKXROBH45XJOZXSO73OGBHSS4WLQ2QLHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YUKTAYUKLKRVKOVNZ7KFYJX47EUQ5FPT6QHGGCMBEPG2G3QCMSOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JYGQODLVUVK6ZAUTBC2GECTLXEIQIJGHH4CA54CMRZYKPHWQRWNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F35BIDC6DE7QEYV672J5G373DURZSSBVRAA3KZ7XFA6X7VO35LMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YHC7SHW5N6HPCFWZG5DPSXIC75SNMVFUBC4R7JU6ELIIWG5OUXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUTETZY2FJHRZAPZEHISFRVPSO7AUUCJTQFIVUSKOYG4RRHLV4IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UEM5UUAFHH56GDQ7KVZ7DERNZFSBQLJW4ZRDNMZ273OAYGVPJLOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQJDSP4OPFCNULNQGOQ7Q6VOA5HZVG3ISQ76DN7MK7QDWHAYHSNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYXPEPYXR6UD3TKDBDZUUHKU2NSRS5EM2E465NYEJ4BLIZJ7U6XQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PCWQGAPI4GMSTJCVGBI4PCQOWPBPBVQPIGPVPS3PHXPABFQJB6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWFGISATCYBDWY4QZM6ITWQGCARTH52FLKSAPA2LUTYYO4SQCJUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXV4UXTG7YILLGQWU3XPGETAKISBZZ3U3PCL6KJKR6KVUDMOGKTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLOAZROF7TKBSS5WDRMKQ5GKT7CLID2TZL5UZHL53RNPBD55GONA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NLGNSFA5A7QWJP7DDSJ6FOTZ4K466B364L3QBSFY6DYKQEUHTQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RMYFSGEI5PZ6KOAONV7QOLIS5DXMJYR5HR4WJDSYDDBBOSVANJPQ/main.js",
[...]
