{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-05-10",
        "endpointPrefix": "pca-connector-ad",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "PcaConnectorAd",
        "serviceId": "PcaConnectorAd",
        "signatureVersion": "v4",
        "signingName": "pca-connector-ad",
        "uid": "pcaconnectorad-2018-05-10",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4RYX6VXJCGEP3SXIIHX5VPRWZ5ID2QPIZ4TBFCQ355MOIJVNQJ7Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LGXKVZ3LOK6OSBRPZQLCWWWENJAXAEBEDVBB3DDARGWA543FQ4CQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XYMJSOJZSFQOPYFWHQE72T65KXD27QEIYYS2D7GI4WZ5Q3RD5CSA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FNJT62XHY2RA66L6MVLJ2NXHXPSVIAECHYIXU6PDNBM75PLILDDA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UXPDBKPNCELNOMBM3IY2LXZ5QUNLV2OYZXRB67P4TKS2R6CM6M6A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ELAEOO6MCGGCR5BX3KOFZ4GNI2WQGKP6VYMPGQFXNB7W4JYA7B5A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VURU7PIYCOH7CXZUJKJZHSX4OO2RYMZATMVEACKDMHT32ENAE7GA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/N6MGM4SLDUH7YKLTBEKHSSW6YKZNXKR4DJQFIKXPLW26UBAYWMXQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/U6YLPVK4PKCMHILOWDJG7EAEMX4VHWF67IXOI4BC5DGSYER3BDOQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LNTHBC4BAUGO2MGL4IAXMOJPFP2ZK5ZTWXP7YCWPJLFADET6K6IQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZBDBQYOXB5Q6YKFL4GXIYROMT6DRUK4GAJ52EETSUY32SHP2YMUQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MWEXZR7IQP4E2KP6IO3WZSDM343W3DKW4KWGY6RYTMZXBWVHVX7Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YV3AUCTRLG3YV5YRFBUD3AATNKWGRACUP627LMDHPIX523HLWX2A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TNILSWKLRBQCT4TMWFLEFM3LZHEGSLHTCGCN7YHUOPKJ3I3ZHN3Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YC5HCHHTLMT5BNRO4BVXUB64XPW2LPHX7MZN3BFLPAVPLRSK3W2A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IW3WZJQDLDOUDRCWXCXLXHV5WEVCE5JAV2AVGQCJNOAFGSQN4SEA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YV7UX6LWO6A737A7PFRBDDGTP6CSHJ74QO24ZAVPYGX36QALDCTA/main.js"
        ]
    },
    "operations": {
        "CreateConnector": {
            "http": {
                "requestUri": "/connectors",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId",
                    "CertificateAuthorityArn",
                    "VpcInformation"
                ],
                "members": {
                    "DirectoryId": {},
                    "CertificateAuthorityArn": {},
                    "VpcInformation": {
                        "shape": "S4"
                    },
                    "ClientToken": {
                        "idempotencyToken": true
                    },
                    "Tags": {
                        "shape": "S8"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ConnectorArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RYX6VXJCGEP3SXIIHX5VPRWZ5ID2QPIZ4TBFCQ355MOIJVNQJ7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGXKVZ3LOK6OSBRPZQLCWWWENJAXAEBEDVBB3DDARGWA543FQ4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYMJSOJZSFQOPYFWHQE72T65KXD27QEIYYS2D7GI4WZ5Q3RD5CSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNJT62XHY2RA66L6MVLJ2NXHXPSVIAECHYIXU6PDNBM75PLILDDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXPDBKPNCELNOMBM3IY2LXZ5QUNLV2OYZXRB67P4TKS2R6CM6M6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELAEOO6MCGGCR5BX3KOFZ4GNI2WQGKP6VYMPGQFXNB7W4JYA7B5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VURU7PIYCOH7CXZUJKJZHSX4OO2RYMZATMVEACKDMHT32ENAE7GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6MGM4SLDUH7YKLTBEKHSSW6YKZNXKR4DJQFIKXPLW26UBAYWMXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U6YLPVK4PKCMHILOWDJG7EAEMX4VHWF67IXOI4BC5DGSYER3BDOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNTHBC4BAUGO2MGL4IAXMOJPFP2ZK5ZTWXP7YCWPJLFADET6K6IQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBDBQYOXB5Q6YKFL4GXIYROMT6DRUK4GAJ52EETSUY32SHP2YMUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWEXZR7IQP4E2KP6IO3WZSDM343W3DKW4KWGY6RYTMZXBWVHVX7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV3AUCTRLG3YV5YRFBUD3AATNKWGRACUP627LMDHPIX523HLWX2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNILSWKLRBQCT4TMWFLEFM3LZHEGSLHTCGCN7YHUOPKJ3I3ZHN3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC5HCHHTLMT5BNRO4BVXUB64XPW2LPHX7MZN3BFLPAVPLRSK3W2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW3WZJQDLDOUDRCWXCXLXHV5WEVCE5JAV2AVGQCJNOAFGSQN4SEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV7UX6LWO6A737A7PFRBDDGTP6CSHJ74QO24ZAVPYGX36QALDCTA/main.js"
            ]
        },
        "CreateDirectoryRegistration": {
            "http": {
                "requestUri": "/directoryRegistrations",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId"
                ],
                "members": {
                    "DirectoryId": {},
                    "ClientToken": {
                        "idempotencyToken": true
                    },
                    "Tags": {
                        "shape": "S8"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DirectoryRegistrationArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RYX6VXJCGEP3SXIIHX5VPRWZ5ID2QPIZ4TBFCQ355MOIJVNQJ7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGXKVZ3LOK6OSBRPZQLCWWWENJAXAEBEDVBB3DDARGWA543FQ4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYMJSOJZSFQOPYFWHQE72T65KXD27QEIYYS2D7GI4WZ5Q3RD5CSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNJT62XHY2RA66L6MVLJ2NXHXPSVIAECHYIXU6PDNBM75PLILDDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXPDBKPNCELNOMBM3IY2LXZ5QUNLV2OYZXRB67P4TKS2R6CM6M6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELAEOO6MCGGCR5BX3KOFZ4GNI2WQGKP6VYMPGQFXNB7W4JYA7B5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VURU7PIYCOH7CXZUJKJZHSX4OO2RYMZATMVEACKDMHT32ENAE7GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6MGM4SLDUH7YKLTBEKHSSW6YKZNXKR4DJQFIKXPLW26UBAYWMXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U6YLPVK4PKCMHILOWDJG7EAEMX4VHWF67IXOI4BC5DGSYER3BDOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNTHBC4BAUGO2MGL4IAXMOJPFP2ZK5ZTWXP7YCWPJLFADET6K6IQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBDBQYOXB5Q6YKFL4GXIYROMT6DRUK4GAJ52EETSUY32SHP2YMUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWEXZR7IQP4E2KP6IO3WZSDM343W3DKW4KWGY6RYTMZXBWVHVX7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV3AUCTRLG3YV5YRFBUD3AATNKWGRACUP627LMDHPIX523HLWX2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNILSWKLRBQCT4TMWFLEFM3LZHEGSLHTCGCN7YHUOPKJ3I3ZHN3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC5HCHHTLMT5BNRO4BVXUB64XPW2LPHX7MZN3BFLPAVPLRSK3W2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW3WZJQDLDOUDRCWXCXLXHV5WEVCE5JAV2AVGQCJNOAFGSQN4SEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV7UX6LWO6A737A7PFRBDDGTP6CSHJ74QO24ZAVPYGX36QALDCTA/main.js"
            ]
        },
        "CreateServicePrincipalName": {
            "http": {
                "requestUri": "/directoryRegistrations/{DirectoryRegistrationArn}/servicePrincipalNames/{ConnectorArn}",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryRegistrationArn",
                    "ConnectorArn"
                ],
                "members": {
                    "DirectoryRegistrationArn": {
                        "location": "uri",
                        "locationName": "DirectoryRegistrationArn"
                    },
                    "ConnectorArn": {
                        "location": "uri",
                        "locationName": "ConnectorArn"
                    },
                    "ClientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RYX6VXJCGEP3SXIIHX5VPRWZ5ID2QPIZ4TBFCQ355MOIJVNQJ7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGXKVZ3LOK6OSBRPZQLCWWWENJAXAEBEDVBB3DDARGWA543FQ4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYMJSOJZSFQOPYFWHQE72T65KXD27QEIYYS2D7GI4WZ5Q3RD5CSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNJT62XHY2RA66L6MVLJ2NXHXPSVIAECHYIXU6PDNBM75PLILDDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXPDBKPNCELNOMBM3IY2LXZ5QUNLV2OYZXRB67P4TKS2R6CM6M6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELAEOO6MCGGCR5BX3KOFZ4GNI2WQGKP6VYMPGQFXNB7W4JYA7B5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VURU7PIYCOH7CXZUJKJZHSX4OO2RYMZATMVEACKDMHT32ENAE7GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6MGM4SLDUH7YKLTBEKHSSW6YKZNXKR4DJQFIKXPLW26UBAYWMXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U6YLPVK4PKCMHILOWDJG7EAEMX4VHWF67IXOI4BC5DGSYER3BDOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNTHBC4BAUGO2MGL4IAXMOJPFP2ZK5ZTWXP7YCWPJLFADET6K6IQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBDBQYOXB5Q6YKFL4GXIYROMT6DRUK4GAJ52EETSUY32SHP2YMUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWEXZR7IQP4E2KP6IO3WZSDM343W3DKW4KWGY6RYTMZXBWVHVX7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV3AUCTRLG3YV5YRFBUD3AATNKWGRACUP627LMDHPIX523HLWX2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNILSWKLRBQCT4TMWFLEFM3LZHEGSLHTCGCN7YHUOPKJ3I3ZHN3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC5HCHHTLMT5BNRO4BVXUB64XPW2LPHX7MZN3BFLPAVPLRSK3W2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW3WZJQDLDOUDRCWXCXLXHV5WEVCE5JAV2AVGQCJNOAFGSQN4SEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV7UX6LWO6A737A7PFRBDDGTP6CSHJ74QO24ZAVPYGX36QALDCTA/main.js"
            ]
        },
        "CreateTemplate": {
            "http": {
                "requestUri": "/templates",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ConnectorArn",
                    "Name",
                    "Definition"
                ],
                "members": {
                    "ConnectorArn": {},
                    "Name": {},
                    "Definition": {
                        "shape": "Si"
                    },
                    "ClientToken": {
                        "idempotencyToken": true
                    },
                    "Tags": {
                        "shape": "S8"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "TemplateArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RYX6VXJCGEP3SXIIHX5VPRWZ5ID2QPIZ4TBFCQ355MOIJVNQJ7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGXKVZ3LOK6OSBRPZQLCWWWENJAXAEBEDVBB3DDARGWA543FQ4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYMJSOJZSFQOPYFWHQE72T65KXD27QEIYYS2D7GI4WZ5Q3RD5CSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNJT62XHY2RA66L6MVLJ2NXHXPSVIAECHYIXU6PDNBM75PLILDDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXPDBKPNCELNOMBM3IY2LXZ5QUNLV2OYZXRB67P4TKS2R6CM6M6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELAEOO6MCGGCR5BX3KOFZ4GNI2WQGKP6VYMPGQFXNB7W4JYA7B5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VURU7PIYCOH7CXZUJKJZHSX4OO2RYMZATMVEACKDMHT32ENAE7GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6MGM4SLDUH7YKLTBEKHSSW6YKZNXKR4DJQFIKXPLW26UBAYWMXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U6YLPVK4PKCMHILOWDJG7EAEMX4VHWF67IXOI4BC5DGSYER3BDOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNTHBC4BAUGO2MGL4IAXMOJPFP2ZK5ZTWXP7YCWPJLFADET6K6IQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBDBQYOXB5Q6YKFL4GXIYROMT6DRUK4GAJ52EETSUY32SHP2YMUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWEXZR7IQP4E2KP6IO3WZSDM343W3DKW4KWGY6RYTMZXBWVHVX7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV3AUCTRLG3YV5YRFBUD3AATNKWGRACUP627LMDHPIX523HLWX2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNILSWKLRBQCT4TMWFLEFM3LZHEGSLHTCGCN7YHUOPKJ3I3ZHN3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC5HCHHTLMT5BNRO4BVXUB64XPW2LPHX7MZN3BFLPAVPLRSK3W2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW3WZJQDLDOUDRCWXCXLXHV5WEVCE5JAV2AVGQCJNOAFGSQN4SEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV7UX6LWO6A737A7PFRBDDGTP6CSHJ74QO24ZAVPYGX36QALDCTA/main.js"
            ]
        },
        "CreateTemplateGroupAccessControlEntry": {
            "http": {
                "requestUri": "/templates/{TemplateArn}/accessControlEntries",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "TemplateArn",
                    "GroupSecurityIdentifier",
                    "GroupDisplayName",
                    "AccessRights"
                ],
                "members": {
                    "TemplateArn": {
                        "location": "uri",
                        "locationName": "TemplateArn"
                    },
                    "GroupSecurityIdentifier": {},
                    "GroupDisplayName": {},
                    "AccessRights": {
                        "shape": "S20"
                    },
                    "ClientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RYX6VXJCGEP3SXIIHX5VPRWZ5ID2QPIZ4TBFCQ355MOIJVNQJ7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGXKVZ3LOK6OSBRPZQLCWWWENJAXAEBEDVBB3DDARGWA543FQ4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYMJSOJZSFQOPYFWHQE72T65KXD27QEIYYS2D7GI4WZ5Q3RD5CSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNJT62XHY2RA66L6MVLJ2NXHXPSVIAECHYIXU6PDNBM75PLILDDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXPDBKPNCELNOMBM3IY2LXZ5QUNLV2OYZXRB67P4TKS2R6CM6M6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELAEOO6MCGGCR5BX3KOFZ4GNI2WQGKP6VYMPGQFXNB7W4JYA7B5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VURU7PIYCOH7CXZUJKJZHSX4OO2RYMZATMVEACKDMHT32ENAE7GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6MGM4SLDUH7YKLTBEKHSSW6YKZNXKR4DJQFIKXPLW26UBAYWMXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U6YLPVK4PKCMHILOWDJG7EAEMX4VHWF67IXOI4BC5DGSYER3BDOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNTHBC4BAUGO2MGL4IAXMOJPFP2ZK5ZTWXP7YCWPJLFADET6K6IQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBDBQYOXB5Q6YKFL4GXIYROMT6DRUK4GAJ52EETSUY32SHP2YMUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWEXZR7IQP4E2KP6IO3WZSDM343W3DKW4KWGY6RYTMZXBWVHVX7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV3AUCTRLG3YV5YRFBUD3AATNKWGRACUP627LMDHPIX523HLWX2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNILSWKLRBQCT4TMWFLEFM3LZHEGSLHTCGCN7YHUOPKJ3I3ZHN3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC5HCHHTLMT5BNRO4BVXUB64XPW2LPHX7MZN3BFLPAVPLRSK3W2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW3WZJQDLDOUDRCWXCXLXHV5WEVCE5JAV2AVGQCJNOAFGSQN4SEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV7UX6LWO6A737A7PFRBDDGTP6CSHJ74QO24ZAVPYGX36QALDCTA/main.js"
            ]
        },
        "DeleteConnector": {
            "http": {
                "method": "DELETE",
                "requestUri": "/connectors/{ConnectorArn}",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "ConnectorArn"
                ],
                "members": {
                    "ConnectorArn": {
                        "location": "uri",
                        "locationName": "ConnectorArn"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RYX6VXJCGEP3SXIIHX5VPRWZ5ID2QPIZ4TBFCQ355MOIJVNQJ7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGXKVZ3LOK6OSBRPZQLCWWWENJAXAEBEDVBB3DDARGWA543FQ4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYMJSOJZSFQOPYFWHQE72T65KXD27QEIYYS2D7GI4WZ5Q3RD5CSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNJT62XHY2RA66L6MVLJ2NXHXPSVIAECHYIXU6PDNBM75PLILDDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXPDBKPNCELNOMBM3IY2LXZ5QUNLV2OYZXRB67P4TKS2R6CM6M6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELAEOO6MCGGCR5BX3KOFZ4GNI2WQGKP6VYMPGQFXNB7W4JYA7B5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VURU7PIYCOH7CXZUJKJZHSX4OO2RYMZATMVEACKDMHT32ENAE7GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6MGM4SLDUH7YKLTBEKHSSW6YKZNXKR4DJQFIKXPLW26UBAYWMXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U6YLPVK4PKCMHILOWDJG7EAEMX4VHWF67IXOI4BC5DGSYER3BDOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNTHBC4BAUGO2MGL4IAXMOJPFP2ZK5ZTWXP7YCWPJLFADET6K6IQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBDBQYOXB5Q6YKFL4GXIYROMT6DRUK4GAJ52EETSUY32SHP2YMUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWEXZR7IQP4E2KP6IO3WZSDM343W3DKW4KWGY6RYTMZXBWVHVX7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV3AUCTRLG3YV5YRFBUD3AATNKWGRACUP627LMDHPIX523HLWX2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNILSWKLRBQCT4TMWFLEFM3LZHEGSLHTCGCN7YHUOPKJ3I3ZHN3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC5HCHHTLMT5BNRO4BVXUB64XPW2LPHX7MZN3BFLPAVPLRSK3W2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW3WZJQDLDOUDRCWXCXLXHV5WEVCE5JAV2AVGQCJNOAFGSQN4SEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV7UX6LWO6A737A7PFRBDDGTP6CSHJ74QO24ZAVPYGX36QALDCTA/main.js"
            ]
        },
        "DeleteDirectoryRegistration": {
            "http": {
                "method": "DELETE",
                "requestUri": "/directoryRegistrations/{DirectoryRegistrationArn}",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryRegistrationArn"
                ],
                "members": {
                    "DirectoryRegistrationArn": {
                        "location": "uri",
                        "locationName": "DirectoryRegistrationArn"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RYX6VXJCGEP3SXIIHX5VPRWZ5ID2QPIZ4TBFCQ355MOIJVNQJ7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGXKVZ3LOK6OSBRPZQLCWWWENJAXAEBEDVBB3DDARGWA543FQ4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYMJSOJZSFQOPYFWHQE72T65KXD27QEIYYS2D7GI4WZ5Q3RD5CSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNJT62XHY2RA66L6MVLJ2NXHXPSVIAECHYIXU6PDNBM75PLILDDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXPDBKPNCELNOMBM3IY2LXZ5QUNLV2OYZXRB67P4TKS2R6CM6M6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELAEOO6MCGGCR5BX3KOFZ4GNI2WQGKP6VYMPGQFXNB7W4JYA7B5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VURU7PIYCOH7CXZUJKJZHSX4OO2RYMZATMVEACKDMHT32ENAE7GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6MGM4SLDUH7YKLTBEKHSSW6YKZNXKR4DJQFIKXPLW26UBAYWMXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U6YLPVK4PKCMHILOWDJG7EAEMX4VHWF67IXOI4BC5DGSYER3BDOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNTHBC4BAUGO2MGL4IAXMOJPFP2ZK5ZTWXP7YCWPJLFADET6K6IQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBDBQYOXB5Q6YKFL4GXIYROMT6DRUK4GAJ52EETSUY32SHP2YMUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWEXZR7IQP4E2KP6IO3WZSDM343W3DKW4KWGY6RYTMZXBWVHVX7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV3AUCTRLG3YV5YRFBUD3AATNKWGRACUP627LMDHPIX523HLWX2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNILSWKLRBQCT4TMWFLEFM3LZHEGSLHTCGCN7YHUOPKJ3I3ZHN3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC5HCHHTLMT5BNRO4BVXUB64XPW2LPHX7MZN3BFLPAVPLRSK3W2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW3WZJQDLDOUDRCWXCXLXHV5WEVCE5JAV2AVGQCJNOAFGSQN4SEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV7UX6LWO6A737A7PFRBDDGTP6CSHJ74QO24ZAVPYGX36QALDCTA/main.js"
            ]
        },
        "DeleteServicePrincipalName": {
            "http": {
                "method": "DELETE",
                "requestUri": "/directoryRegistrations/{DirectoryRegistrationArn}/servicePrincipalNames/{ConnectorArn}",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryRegistrationArn",
                    "ConnectorArn"
                ],
                "members": {
                    "DirectoryRegistrationArn": {
                        "location": "uri",
                        "locationName": "DirectoryRegistrationArn"
                    },
                    "ConnectorArn": {
                        "location": "uri",
                        "locationName": "ConnectorArn"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RYX6VXJCGEP3SXIIHX5VPRWZ5ID2QPIZ4TBFCQ355MOIJVNQJ7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGXKVZ3LOK6OSBRPZQLCWWWENJAXAEBEDVBB3DDARGWA543FQ4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYMJSOJZSFQOPYFWHQE72T65KXD27QEIYYS2D7GI4WZ5Q3RD5CSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNJT62XHY2RA66L6MVLJ2NXHXPSVIAECHYIXU6PDNBM75PLILDDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXPDBKPNCELNOMBM3IY2LXZ5QUNLV2OYZXRB67P4TKS2R6CM6M6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELAEOO6MCGGCR5BX3KOFZ4GNI2WQGKP6VYMPGQFXNB7W4JYA7B5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VURU7PIYCOH7CXZUJKJZHSX4OO2RYMZATMVEACKDMHT32ENAE7GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6MGM4SLDUH7YKLTBEKHSSW6YKZNXKR4DJQFIKXPLW26UBAYWMXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U6YLPVK4PKCMHILOWDJG7EAEMX4VHWF67IXOI4BC5DGSYER3BDOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNTHBC4BAUGO2MGL4IAXMOJPFP2ZK5ZTWXP7YCWPJLFADET6K6IQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBDBQYOXB5Q6YKFL4GXIYROMT6DRUK4GAJ52EETSUY32SHP2YMUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWEXZR7IQP4E2KP6IO3WZSDM343W3DKW4KWGY6RYTMZXBWVHVX7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV3AUCTRLG3YV5YRFBUD3AATNKWGRACUP627LMDHPIX523HLWX2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNILSWKLRBQCT4TMWFLEFM3LZHEGSLHTCGCN7YHUOPKJ3I3ZHN3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC5HCHHTLMT5BNRO4BVXUB64XPW2LPHX7MZN3BFLPAVPLRSK3W2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW3WZJQDLDOUDRCWXCXLXHV5WEVCE5JAV2AVGQCJNOAFGSQN4SEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV7UX6LWO6A737A7PFRBDDGTP6CSHJ74QO24ZAVPYGX36QALDCTA/main.js"
            ]
        },
        "DeleteTemplate": {
            "http": {
                "method": "DELETE",
                "requestUri": "/templates/{TemplateArn}",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "TemplateArn"
                ],
                "members": {
                    "TemplateArn": {
                        "location": "uri",
                        "locationName": "TemplateArn"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RYX6VXJCGEP3SXIIHX5VPRWZ5ID2QPIZ4TBFCQ355MOIJVNQJ7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGXKVZ3LOK6OSBRPZQLCWWWENJAXAEBEDVBB3DDARGWA543FQ4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYMJSOJZSFQOPYFWHQE72T65KXD27QEIYYS2D7GI4WZ5Q3RD5CSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNJT62XHY2RA66L6MVLJ2NXHXPSVIAECHYIXU6PDNBM75PLILDDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXPDBKPNCELNOMBM3IY2LXZ5QUNLV2OYZXRB67P4TKS2R6CM6M6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELAEOO6MCGGCR5BX3KOFZ4GNI2WQGKP6VYMPGQFXNB7W4JYA7B5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VURU7PIYCOH7CXZUJKJZHSX4OO2RYMZATMVEACKDMHT32ENAE7GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6MGM4SLDUH7YKLTBEKHSSW6YKZNXKR4DJQFIKXPLW26UBAYWMXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U6YLPVK4PKCMHILOWDJG7EAEMX4VHWF67IXOI4BC5DGSYER3BDOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNTHBC4BAUGO2MGL4IAXMOJPFP2ZK5ZTWXP7YCWPJLFADET6K6IQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBDBQYOXB5Q6YKFL4GXIYROMT6DRUK4GAJ52EETSUY32SHP2YMUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWEXZR7IQP4E2KP6IO3WZSDM343W3DKW4KWGY6RYTMZXBWVHVX7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV3AUCTRLG3YV5YRFBUD3AATNKWGRACUP627LMDHPIX523HLWX2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNILSWKLRBQCT4TMWFLEFM3LZHEGSLHTCGCN7YHUOPKJ3I3ZHN3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC5HCHHTLMT5BNRO4BVXUB64XPW2LPHX7MZN3BFLPAVPLRSK3W2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW3WZJQDLDOUDRCWXCXLXHV5WEVCE5JAV2AVGQCJNOAFGSQN4SEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV7UX6LWO6A737A7PFRBDDGTP6CSHJ74QO24ZAVPYGX36QALDCTA/main.js"
            ]
        },
        "DeleteTemplateGroupAccessControlEntry": {
            "http": {
                "method": "DELETE",
                "requestUri": "/templates/{TemplateArn}/accessControlEntries/{GroupSecurityIdentifier}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "TemplateArn",
                    "GroupSecurityIdentifier"
                ],
                "members": {
                    "TemplateArn": {
                        "location": "uri",
                        "locationName": "TemplateArn"
                    },
                    "GroupSecurityIdentifier": {
                        "location": "uri",
                        "locationName": "GroupSecurityIdentifier"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RYX6VXJCGEP3SXIIHX5VPRWZ5ID2QPIZ4TBFCQ355MOIJVNQJ7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGXKVZ3LOK6OSBRPZQLCWWWENJAXAEBEDVBB3DDARGWA543FQ4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYMJSOJZSFQOPYFWHQE72T65KXD27QEIYYS2D7GI4WZ5Q3RD5CSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNJT62XHY2RA66L6MVLJ2NXHXPSVIAECHYIXU6PDNBM75PLILDDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXPDBKPNCELNOMBM3IY2LXZ5QUNLV2OYZXRB67P4TKS2R6CM6M6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELAEOO6MCGGCR5BX3KOFZ4GNI2WQGKP6VYMPGQFXNB7W4JYA7B5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VURU7PIYCOH7CXZUJKJZHSX4OO2RYMZATMVEACKDMHT32ENAE7GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6MGM4SLDUH7YKLTBEKHSSW6YKZNXKR4DJQFIKXPLW26UBAYWMXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U6YLPVK4PKCMHILOWDJG7EAEMX4VHWF67IXOI4BC5DGSYER3BDOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNTHBC4BAUGO2MGL4IAXMOJPFP2ZK5ZTWXP7YCWPJLFADET6K6IQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBDBQYOXB5Q6YKFL4GXIYROMT6DRUK4GAJ52EETSUY32SHP2YMUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWEXZR7IQP4E2KP6IO3WZSDM343W3DKW4KWGY6RYTMZXBWVHVX7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV3AUCTRLG3YV5YRFBUD3AATNKWGRACUP627LMDHPIX523HLWX2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNILSWKLRBQCT4TMWFLEFM3LZHEGSLHTCGCN7YHUOPKJ3I3ZHN3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC5HCHHTLMT5BNRO4BVXUB64XPW2LPHX7MZN3BFLPAVPLRSK3W2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW3WZJQDLDOUDRCWXCXLXHV5WEVCE5JAV2AVGQCJNOAFGSQN4SEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV7UX6LWO6A737A7PFRBDDGTP6CSHJ74QO24ZAVPYGX36QALDCTA/main.js"
            ]
        },
        "GetConnector": {
            "http": {
                "method": "GET",
                "requestUri": "/connectors/{ConnectorArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ConnectorArn"
                ],
                "members": {
                    "ConnectorArn": {
                        "location": "uri",
                        "locationName": "ConnectorArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Connector": {
                        "type": "structure",
                        "members": {
                            "Arn": {},
                            "CertificateAuthorityArn": {},
                            "CertificateEnrollmentPolicyServerEndpoint": {},
                            "DirectoryId": {},
                            "VpcInformation": {
                                "shape": "S4"
                            },
                            "Status": {},
                            "StatusReason": {},
                            "CreatedAt": {
                                "type": "timestamp"
                            },
                            "UpdatedAt": {
                                "type": "timestamp"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RYX6VXJCGEP3SXIIHX5VPRWZ5ID2QPIZ4TBFCQ355MOIJVNQJ7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGXKVZ3LOK6OSBRPZQLCWWWENJAXAEBEDVBB3DDARGWA543FQ4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYMJSOJZSFQOPYFWHQE72T65KXD27QEIYYS2D7GI4WZ5Q3RD5CSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNJT62XHY2RA66L6MVLJ2NXHXPSVIAECHYIXU6PDNBM75PLILDDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXPDBKPNCELNOMBM3IY2LXZ5QUNLV2OYZXRB67P4TKS2R6CM6M6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELAEOO6MCGGCR5BX3KOFZ4GNI2WQGKP6VYMPGQFXNB7W4JYA7B5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VURU7PIYCOH7CXZUJKJZHSX4OO2RYMZATMVEACKDMHT32ENAE7GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6MGM4SLDUH7YKLTBEKHSSW6YKZNXKR4DJQFIKXPLW26UBAYWMXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U6YLPVK4PKCMHILOWDJG7EAEMX4VHWF67IXOI4BC5DGSYER3BDOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNTHBC4BAUGO2MGL4IAXMOJPFP2ZK5ZTWXP7YCWPJLFADET6K6IQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBDBQYOXB5Q6YKFL4GXIYROMT6DRUK4GAJ52EETSUY32SHP2YMUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWEXZR7IQP4E2KP6IO3WZSDM343W3DKW4KWGY6RYTMZXBWVHVX7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV3AUCTRLG3YV5YRFBUD3AATNKWGRACUP627LMDHPIX523HLWX2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNILSWKLRBQCT4TMWFLEFM3LZHEGSLHTCGCN7YHUOPKJ3I3ZHN3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC5HCHHTLMT5BNRO4BVXUB64XPW2LPHX7MZN3BFLPAVPLRSK3W2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW3WZJQDLDOUDRCWXCXLXHV5WEVCE5JAV2AVGQCJNOAFGSQN4SEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV7UX6LWO6A737A7PFRBDDGTP6CSHJ74QO24ZAVPYGX36QALDCTA/main.js"
            ]
        },
        "GetDirectoryRegistration": {
            "http": {
                "method": "GET",
                "requestUri": "/directoryRegistrations/{DirectoryRegistrationArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryRegistrationArn"
                ],
                "members": {
                    "DirectoryRegistrationArn": {
                        "location": "uri",
                        "locationName": "DirectoryRegistrationArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DirectoryRegistration": {
                        "type": "structure",
                        "members": {
                            "Arn": {},
                            "DirectoryId": {},
                            "Status": {},
                            "StatusReason": {},
                            "CreatedAt": {
                                "type": "timestamp"
                            },
                            "UpdatedAt": {
                                "type": "timestamp"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RYX6VXJCGEP3SXIIHX5VPRWZ5ID2QPIZ4TBFCQ355MOIJVNQJ7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGXKVZ3LOK6OSBRPZQLCWWWENJAXAEBEDVBB3DDARGWA543FQ4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYMJSOJZSFQOPYFWHQE72T65KXD27QEIYYS2D7GI4WZ5Q3RD5CSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNJT62XHY2RA66L6MVLJ2NXHXPSVIAECHYIXU6PDNBM75PLILDDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXPDBKPNCELNOMBM3IY2LXZ5QUNLV2OYZXRB67P4TKS2R6CM6M6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELAEOO6MCGGCR5BX3KOFZ4GNI2WQGKP6VYMPGQFXNB7W4JYA7B5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VURU7PIYCOH7CXZUJKJZHSX4OO2RYMZATMVEACKDMHT32ENAE7GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6MGM4SLDUH7YKLTBEKHSSW6YKZNXKR4DJQFIKXPLW26UBAYWMXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U6YLPVK4PKCMHILOWDJG7EAEMX4VHWF67IXOI4BC5DGSYER3BDOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNTHBC4BAUGO2MGL4IAXMOJPFP2ZK5ZTWXP7YCWPJLFADET6K6IQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBDBQYOXB5Q6YKFL4GXIYROMT6DRUK4GAJ52EETSUY32SHP2YMUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWEXZR7IQP4E2KP6IO3WZSDM343W3DKW4KWGY6RYTMZXBWVHVX7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV3AUCTRLG3YV5YRFBUD3AATNKWGRACUP627LMDHPIX523HLWX2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNILSWKLRBQCT4TMWFLEFM3LZHEGSLHTCGCN7YHUOPKJ3I3ZHN3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC5HCHHTLMT5BNRO4BVXUB64XPW2LPHX7MZN3BFLPAVPLRSK3W2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW3WZJQDLDOUDRCWXCXLXHV5WEVCE5JAV2AVGQCJNOAFGSQN4SEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV7UX6LWO6A737A7PFRBDDGTP6CSHJ74QO24ZAVPYGX36QALDCTA/main.js"
            ]
        },
        "GetServicePrincipalName": {
            "http": {
                "method": "GET",
                "requestUri": "/directoryRegistrations/{DirectoryRegistrationArn}/servicePrincipalNames/{ConnectorArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryRegistrationArn",
                    "ConnectorArn"
                ],
                "members": {
                    "DirectoryRegistrationArn": {
                        "location": "uri",
                        "locationName": "DirectoryRegistrationArn"
                    },
                    "ConnectorArn": {
                        "location": "uri",
                        "locationName": "ConnectorArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ServicePrincipalName": {
                        "type": "structure",
                        "members": {
                            "DirectoryRegistrationArn": {},
                            "ConnectorArn": {},
                            "Status": {},
                            "StatusReason": {},
                            "CreatedAt": {
                                "type": "timestamp"
                            },
                            "UpdatedAt": {
                                "type": "timestamp"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RYX6VXJCGEP3SXIIHX5VPRWZ5ID2QPIZ4TBFCQ355MOIJVNQJ7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGXKVZ3LOK6OSBRPZQLCWWWENJAXAEBEDVBB3DDARGWA543FQ4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYMJSOJZSFQOPYFWHQE72T65KXD27QEIYYS2D7GI4WZ5Q3RD5CSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNJT62XHY2RA66L6MVLJ2NXHXPSVIAECHYIXU6PDNBM75PLILDDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXPDBKPNCELNOMBM3IY2LXZ5QUNLV2OYZXRB67P4TKS2R6CM6M6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELAEOO6MCGGCR5BX3KOFZ4GNI2WQGKP6VYMPGQFXNB7W4JYA7B5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VURU7PIYCOH7CXZUJKJZHSX4OO2RYMZATMVEACKDMHT32ENAE7GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6MGM4SLDUH7YKLTBEKHSSW6YKZNXKR4DJQFIKXPLW26UBAYWMXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U6YLPVK4PKCMHILOWDJG7EAEMX4VHWF67IXOI4BC5DGSYER3BDOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNTHBC4BAUGO2MGL4IAXMOJPFP2ZK5ZTWXP7YCWPJLFADET6K6IQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBDBQYOXB5Q6YKFL4GXIYROMT6DRUK4GAJ52EETSUY32SHP2YMUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWEXZR7IQP4E2KP6IO3WZSDM343W3DKW4KWGY6RYTMZXBWVHVX7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV3AUCTRLG3YV5YRFBUD3AATNKWGRACUP627LMDHPIX523HLWX2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNILSWKLRBQCT4TMWFLEFM3LZHEGSLHTCGCN7YHUOPKJ3I3ZHN3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC5HCHHTLMT5BNRO4BVXUB64XPW2LPHX7MZN3BFLPAVPLRSK3W2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW3WZJQDLDOUDRCWXCXLXHV5WEVCE5JAV2AVGQCJNOAFGSQN4SEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV7UX6LWO6A737A7PFRBDDGTP6CSHJ74QO24ZAVPYGX36QALDCTA/main.js"
            ]
        },
        "GetTemplate": {
            "http": {
                "method": "GET",
                "requestUri": "/templates/{TemplateArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "TemplateArn"
                ],
                "members": {
                    "TemplateArn": {
                        "location": "uri",
                        "locationName": "TemplateArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Template": {
                        "type": "structure",
                        "members": {
                            "Arn": {},
                            "ConnectorArn": {},
                            "Definition": {
                                "shape": "Si"
                            },
                            "Name": {},
                            "ObjectIdentifier": {},
                            "PolicySchema": {
                                "type": "integer"
                            },
                            "Status": {},
                            "Revision": {
                                "shape": "S2s"
                            },
                            "CreatedAt": {
                                "type": "timestamp"
                            },
                            "UpdatedAt": {
                                "type": "timestamp"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RYX6VXJCGEP3SXIIHX5VPRWZ5ID2QPIZ4TBFCQ355MOIJVNQJ7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGXKVZ3LOK6OSBRPZQLCWWWENJAXAEBEDVBB3DDARGWA543FQ4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYMJSOJZSFQOPYFWHQE72T65KXD27QEIYYS2D7GI4WZ5Q3RD5CSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNJT62XHY2RA66L6MVLJ2NXHXPSVIAECHYIXU6PDNBM75PLILDDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXPDBKPNCELNOMBM3IY2LXZ5QUNLV2OYZXRB67P4TKS2R6CM6M6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELAEOO6MCGGCR5BX3KOFZ4GNI2WQGKP6VYMPGQFXNB7W4JYA7B5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VURU7PIYCOH7CXZUJKJZHSX4OO2RYMZATMVEACKDMHT32ENAE7GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6MGM4SLDUH7YKLTBEKHSSW6YKZNXKR4DJQFIKXPLW26UBAYWMXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U6YLPVK4PKCMHILOWDJG7EAEMX4VHWF67IXOI4BC5DGSYER3BDOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNTHBC4BAUGO2MGL4IAXMOJPFP2ZK5ZTWXP7YCWPJLFADET6K6IQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBDBQYOXB5Q6YKFL4GXIYROMT6DRUK4GAJ52EETSUY32SHP2YMUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWEXZR7IQP4E2KP6IO3WZSDM343W3DKW4KWGY6RYTMZXBWVHVX7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV3AUCTRLG3YV5YRFBUD3AATNKWGRACUP627LMDHPIX523HLWX2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNILSWKLRBQCT4TMWFLEFM3LZHEGSLHTCGCN7YHUOPKJ3I3ZHN3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC5HCHHTLMT5BNRO4BVXUB64XPW2LPHX7MZN3BFLPAVPLRSK3W2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW3WZJQDLDOUDRCWXCXLXHV5WEVCE5JAV2AVGQCJNOAFGSQN4SEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV7UX6LWO6A737A7PFRBDDGTP6CSHJ74QO24ZAVPYGX36QALDCTA/main.js"
            ]
        },
        "GetTemplateGroupAccessControlEntry": {
            "http": {
                "method": "GET",
                "requestUri": "/templates/{TemplateArn}/accessControlEntries/{GroupSecurityIdentifier}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "TemplateArn",
                    "GroupSecurityIdentifier"
                ],
                "members": {
                    "TemplateArn": {
                        "location": "uri",
                        "locationName": "TemplateArn"
                    },
                    "GroupSecurityIdentifier": {
                        "location": "uri",
                        "locationName": "GroupSecurityIdentifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AccessControlEntry": {
                        "type": "structure",
                        "members": {
                            "GroupDisplayName": {},
                            "GroupSecurityIdentifier": {},
                            "AccessRights": {
                                "shape": "S20"
                            },
                            "TemplateArn": {},
                            "CreatedAt": {
                                "type": "timestamp"
                            },
                            "UpdatedAt": {
                                "type": "timestamp"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RYX6VXJCGEP3SXIIHX5VPRWZ5ID2QPIZ4TBFCQ355MOIJVNQJ7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGXKVZ3LOK6OSBRPZQLCWWWENJAXAEBEDVBB3DDARGWA543FQ4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYMJSOJZSFQOPYFWHQE72T65KXD27QEIYYS2D7GI4WZ5Q3RD5CSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNJT62XHY2RA66L6MVLJ2NXHXPSVIAECHYIXU6PDNBM75PLILDDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXPDBKPNCELNOMBM3IY2LXZ5QUNLV2OYZXRB67P4TKS2R6CM6M6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELAEOO6MCGGCR5BX3KOFZ4GNI2WQGKP6VYMPGQFXNB7W4JYA7B5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VURU7PIYCOH7CXZUJKJZHSX4OO2RYMZATMVEACKDMHT32ENAE7GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6MGM4SLDUH7YKLTBEKHSSW6YKZNXKR4DJQFIKXPLW26UBAYWMXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U6YLPVK4PKCMHILOWDJG7EAEMX4VHWF67IXOI4BC5DGSYER3BDOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNTHBC4BAUGO2MGL4IAXMOJPFP2ZK5ZTWXP7YCWPJLFADET6K6IQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBDBQYOXB5Q6YKFL4GXIYROMT6DRUK4GAJ52EETSUY32SHP2YMUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWEXZR7IQP4E2KP6IO3WZSDM343W3DKW4KWGY6RYTMZXBWVHVX7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV3AUCTRLG3YV5YRFBUD3AATNKWGRACUP627LMDHPIX523HLWX2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNILSWKLRBQCT4TMWFLEFM3LZHEGSLHTCGCN7YHUOPKJ3I3ZHN3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC5HCHHTLMT5BNRO4BVXUB64XPW2LPHX7MZN3BFLPAVPLRSK3W2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW3WZJQDLDOUDRCWXCXLXHV5WEVCE5JAV2AVGQCJNOAFGSQN4SEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV7UX6LWO6A737A7PFRBDDGTP6CSHJ74QO24ZAVPYGX36QALDCTA/main.js"
            ]
        },
        "ListConnectors": {
            "http": {
                "method": "GET",
                "requestUri": "/connectors",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "MaxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "NextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Connectors": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Arn": {},
                                "CertificateAuthorityArn": {},
                                "CertificateEnrollmentPolicyServerEndpoint": {},
                                "DirectoryId": {},
                                "VpcInformation": {
                                    "shape": "S4"
                                },
                                "Status": {},
                                "StatusReason": {},
                                "CreatedAt": {
                                    "type": "timestamp"
                                },
                                "UpdatedAt": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RYX6VXJCGEP3SXIIHX5VPRWZ5ID2QPIZ4TBFCQ355MOIJVNQJ7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGXKVZ3LOK6OSBRPZQLCWWWENJAXAEBEDVBB3DDARGWA543FQ4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYMJSOJZSFQOPYFWHQE72T65KXD27QEIYYS2D7GI4WZ5Q3RD5CSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNJT62XHY2RA66L6MVLJ2NXHXPSVIAECHYIXU6PDNBM75PLILDDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXPDBKPNCELNOMBM3IY2LXZ5QUNLV2OYZXRB67P4TKS2R6CM6M6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELAEOO6MCGGCR5BX3KOFZ4GNI2WQGKP6VYMPGQFXNB7W4JYA7B5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VURU7PIYCOH7CXZUJKJZHSX4OO2RYMZATMVEACKDMHT32ENAE7GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6MGM4SLDUH7YKLTBEKHSSW6YKZNXKR4DJQFIKXPLW26UBAYWMXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U6YLPVK4PKCMHILOWDJG7EAEMX4VHWF67IXOI4BC5DGSYER3BDOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNTHBC4BAUGO2MGL4IAXMOJPFP2ZK5ZTWXP7YCWPJLFADET6K6IQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBDBQYOXB5Q6YKFL4GXIYROMT6DRUK4GAJ52EETSUY32SHP2YMUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWEXZR7IQP4E2KP6IO3WZSDM343W3DKW4KWGY6RYTMZXBWVHVX7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV3AUCTRLG3YV5YRFBUD3AATNKWGRACUP627LMDHPIX523HLWX2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNILSWKLRBQCT4TMWFLEFM3LZHEGSLHTCGCN7YHUOPKJ3I3ZHN3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC5HCHHTLMT5BNRO4BVXUB64XPW2LPHX7MZN3BFLPAVPLRSK3W2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW3WZJQDLDOUDRCWXCXLXHV5WEVCE5JAV2AVGQCJNOAFGSQN4SEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV7UX6LWO6A737A7PFRBDDGTP6CSHJ74QO24ZAVPYGX36QALDCTA/main.js"
            ]
        },
        "ListDirectoryRegistrations": {
            "http": {
                "method": "GET",
                "requestUri": "/directoryRegistrations",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "MaxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "NextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DirectoryRegistrations": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Arn": {},
                                "DirectoryId": {},
                                "Status": {},
                                "StatusReason": {},
                                "CreatedAt": {
                                    "type": "timestamp"
                                },
                                "UpdatedAt": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RYX6VXJCGEP3SXIIHX5VPRWZ5ID2QPIZ4TBFCQ355MOIJVNQJ7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGXKVZ3LOK6OSBRPZQLCWWWENJAXAEBEDVBB3DDARGWA543FQ4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYMJSOJZSFQOPYFWHQE72T65KXD27QEIYYS2D7GI4WZ5Q3RD5CSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNJT62XHY2RA66L6MVLJ2NXHXPSVIAECHYIXU6PDNBM75PLILDDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXPDBKPNCELNOMBM3IY2LXZ5QUNLV2OYZXRB67P4TKS2R6CM6M6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELAEOO6MCGGCR5BX3KOFZ4GNI2WQGKP6VYMPGQFXNB7W4JYA7B5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VURU7PIYCOH7CXZUJKJZHSX4OO2RYMZATMVEACKDMHT32ENAE7GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6MGM4SLDUH7YKLTBEKHSSW6YKZNXKR4DJQFIKXPLW26UBAYWMXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U6YLPVK4PKCMHILOWDJG7EAEMX4VHWF67IXOI4BC5DGSYER3BDOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNTHBC4BAUGO2MGL4IAXMOJPFP2ZK5ZTWXP7YCWPJLFADET6K6IQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBDBQYOXB5Q6YKFL4GXIYROMT6DRUK4GAJ52EETSUY32SHP2YMUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWEXZR7IQP4E2KP6IO3WZSDM343W3DKW4KWGY6RYTMZXBWVHVX7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV3AUCTRLG3YV5YRFBUD3AATNKWGRACUP627LMDHPIX523HLWX2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNILSWKLRBQCT4TMWFLEFM3LZHEGSLHTCGCN7YHUOPKJ3I3ZHN3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC5HCHHTLMT5BNRO4BVXUB64XPW2LPHX7MZN3BFLPAVPLRSK3W2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW3WZJQDLDOUDRCWXCXLXHV5WEVCE5JAV2AVGQCJNOAFGSQN4SEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV7UX6LWO6A737A7PFRBDDGTP6CSHJ74QO24ZAVPYGX36QALDCTA/main.js"
            ]
        },
        "ListServicePrincipalNames": {
            "http": {
                "method": "GET",
                "requestUri": "/directoryRegistrations/{DirectoryRegistrationArn}/servicePrincipalNames",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryRegistrationArn"
                ],
                "members": {
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "MaxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "NextToken"
                    },
                    "DirectoryRegistrationArn": {
                        "location": "uri",
                        "locationName": "DirectoryRegistrationArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ServicePrincipalNames": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "DirectoryRegistrationArn": {},
                                "ConnectorArn": {},
                                "Status": {},
                                "StatusReason": {},
                                "CreatedAt": {
                                    "type": "timestamp"
                                },
                                "UpdatedAt": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RYX6VXJCGEP3SXIIHX5VPRWZ5ID2QPIZ4TBFCQ355MOIJVNQJ7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGXKVZ3LOK6OSBRPZQLCWWWENJAXAEBEDVBB3DDARGWA543FQ4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYMJSOJZSFQOPYFWHQE72T65KXD27QEIYYS2D7GI4WZ5Q3RD5CSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNJT62XHY2RA66L6MVLJ2NXHXPSVIAECHYIXU6PDNBM75PLILDDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXPDBKPNCELNOMBM3IY2LXZ5QUNLV2OYZXRB67P4TKS2R6CM6M6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELAEOO6MCGGCR5BX3KOFZ4GNI2WQGKP6VYMPGQFXNB7W4JYA7B5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VURU7PIYCOH7CXZUJKJZHSX4OO2RYMZATMVEACKDMHT32ENAE7GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6MGM4SLDUH7YKLTBEKHSSW6YKZNXKR4DJQFIKXPLW26UBAYWMXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U6YLPVK4PKCMHILOWDJG7EAEMX4VHWF67IXOI4BC5DGSYER3BDOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNTHBC4BAUGO2MGL4IAXMOJPFP2ZK5ZTWXP7YCWPJLFADET6K6IQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBDBQYOXB5Q6YKFL4GXIYROMT6DRUK4GAJ52EETSUY32SHP2YMUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWEXZR7IQP4E2KP6IO3WZSDM343W3DKW4KWGY6RYTMZXBWVHVX7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV3AUCTRLG3YV5YRFBUD3AATNKWGRACUP627LMDHPIX523HLWX2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNILSWKLRBQCT4TMWFLEFM3LZHEGSLHTCGCN7YHUOPKJ3I3ZHN3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC5HCHHTLMT5BNRO4BVXUB64XPW2LPHX7MZN3BFLPAVPLRSK3W2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW3WZJQDLDOUDRCWXCXLXHV5WEVCE5JAV2AVGQCJNOAFGSQN4SEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV7UX6LWO6A737A7PFRBDDGTP6CSHJ74QO24ZAVPYGX36QALDCTA/main.js"
            ]
        },
        "ListTagsForResource": {
            "http": {
                "method": "GET",
                "requestUri": "/tags/{ResourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn"
                ],
                "members": {
                    "ResourceArn": {
                        "location": "uri",
                        "locationName": "ResourceArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Tags": {
                        "shape": "S8"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RYX6VXJCGEP3SXIIHX5VPRWZ5ID2QPIZ4TBFCQ355MOIJVNQJ7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGXKVZ3LOK6OSBRPZQLCWWWENJAXAEBEDVBB3DDARGWA543FQ4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYMJSOJZSFQOPYFWHQE72T65KXD27QEIYYS2D7GI4WZ5Q3RD5CSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNJT62XHY2RA66L6MVLJ2NXHXPSVIAECHYIXU6PDNBM75PLILDDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXPDBKPNCELNOMBM3IY2LXZ5QUNLV2OYZXRB67P4TKS2R6CM6M6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELAEOO6MCGGCR5BX3KOFZ4GNI2WQGKP6VYMPGQFXNB7W4JYA7B5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VURU7PIYCOH7CXZUJKJZHSX4OO2RYMZATMVEACKDMHT32ENAE7GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6MGM4SLDUH7YKLTBEKHSSW6YKZNXKR4DJQFIKXPLW26UBAYWMXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U6YLPVK4PKCMHILOWDJG7EAEMX4VHWF67IXOI4BC5DGSYER3BDOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNTHBC4BAUGO2MGL4IAXMOJPFP2ZK5ZTWXP7YCWPJLFADET6K6IQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBDBQYOXB5Q6YKFL4GXIYROMT6DRUK4GAJ52EETSUY32SHP2YMUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWEXZR7IQP4E2KP6IO3WZSDM343W3DKW4KWGY6RYTMZXBWVHVX7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV3AUCTRLG3YV5YRFBUD3AATNKWGRACUP627LMDHPIX523HLWX2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNILSWKLRBQCT4TMWFLEFM3LZHEGSLHTCGCN7YHUOPKJ3I3ZHN3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC5HCHHTLMT5BNRO4BVXUB64XPW2LPHX7MZN3BFLPAVPLRSK3W2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW3WZJQDLDOUDRCWXCXLXHV5WEVCE5JAV2AVGQCJNOAFGSQN4SEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV7UX6LWO6A737A7PFRBDDGTP6CSHJ74QO24ZAVPYGX36QALDCTA/main.js"
            ]
        },
        "ListTemplateGroupAccessControlEntries": {
            "http": {
                "method": "GET",
                "requestUri": "/templates/{TemplateArn}/accessControlEntries",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "TemplateArn"
                ],
                "members": {
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "MaxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "NextToken"
                    },
                    "TemplateArn": {
                        "location": "uri",
                        "locationName": "TemplateArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AccessControlEntries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "GroupDisplayName": {},
                                "GroupSecurityIdentifier": {},
                                "AccessRights": {
                                    "shape": "S20"
                                },
                                "TemplateArn": {},
                                "CreatedAt": {
                                    "type": "timestamp"
                                },
                                "UpdatedAt": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RYX6VXJCGEP3SXIIHX5VPRWZ5ID2QPIZ4TBFCQ355MOIJVNQJ7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGXKVZ3LOK6OSBRPZQLCWWWENJAXAEBEDVBB3DDARGWA543FQ4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYMJSOJZSFQOPYFWHQE72T65KXD27QEIYYS2D7GI4WZ5Q3RD5CSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNJT62XHY2RA66L6MVLJ2NXHXPSVIAECHYIXU6PDNBM75PLILDDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXPDBKPNCELNOMBM3IY2LXZ5QUNLV2OYZXRB67P4TKS2R6CM6M6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELAEOO6MCGGCR5BX3KOFZ4GNI2WQGKP6VYMPGQFXNB7W4JYA7B5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VURU7PIYCOH7CXZUJKJZHSX4OO2RYMZATMVEACKDMHT32ENAE7GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6MGM4SLDUH7YKLTBEKHSSW6YKZNXKR4DJQFIKXPLW26UBAYWMXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U6YLPVK4PKCMHILOWDJG7EAEMX4VHWF67IXOI4BC5DGSYER3BDOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNTHBC4BAUGO2MGL4IAXMOJPFP2ZK5ZTWXP7YCWPJLFADET6K6IQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBDBQYOXB5Q6YKFL4GXIYROMT6DRUK4GAJ52EETSUY32SHP2YMUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWEXZR7IQP4E2KP6IO3WZSDM343W3DKW4KWGY6RYTMZXBWVHVX7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV3AUCTRLG3YV5YRFBUD3AATNKWGRACUP627LMDHPIX523HLWX2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNILSWKLRBQCT4TMWFLEFM3LZHEGSLHTCGCN7YHUOPKJ3I3ZHN3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC5HCHHTLMT5BNRO4BVXUB64XPW2LPHX7MZN3BFLPAVPLRSK3W2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW3WZJQDLDOUDRCWXCXLXHV5WEVCE5JAV2AVGQCJNOAFGSQN4SEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV7UX6LWO6A737A7PFRBDDGTP6CSHJ74QO24ZAVPYGX36QALDCTA/main.js"
            ]
        },
        "ListTemplates": {
            "http": {
                "method": "GET",
                "requestUri": "/templates",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ConnectorArn"
                ],
                "members": {
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "MaxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "NextToken"
                    },
                    "ConnectorArn": {
                        "location": "querystring",
                        "locationName": "ConnectorArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Templates": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Arn": {},
                                "ConnectorArn": {},
                                "Definition": {
                                    "shape": "Si"
                                },
                                "Name": {},
                                "ObjectIdentifier": {},
                                "PolicySchema": {
                                    "type": "integer"
                                },
                                "Status": {},
                                "Revision": {
                                    "shape": "S2s"
                                },
                                "CreatedAt": {
                                    "type": "timestamp"
                                },
                                "UpdatedAt": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RYX6VXJCGEP3SXIIHX5VPRWZ5ID2QPIZ4TBFCQ355MOIJVNQJ7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGXKVZ3LOK6OSBRPZQLCWWWENJAXAEBEDVBB3DDARGWA543FQ4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYMJSOJZSFQOPYFWHQE72T65KXD27QEIYYS2D7GI4WZ5Q3RD5CSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNJT62XHY2RA66L6MVLJ2NXHXPSVIAECHYIXU6PDNBM75PLILDDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXPDBKPNCELNOMBM3IY2LXZ5QUNLV2OYZXRB67P4TKS2R6CM6M6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELAEOO6MCGGCR5BX3KOFZ4GNI2WQGKP6VYMPGQFXNB7W4JYA7B5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VURU7PIYCOH7CXZUJKJZHSX4OO2RYMZATMVEACKDMHT32ENAE7GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6MGM4SLDUH7YKLTBEKHSSW6YKZNXKR4DJQFIKXPLW26UBAYWMXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U6YLPVK4PKCMHILOWDJG7EAEMX4VHWF67IXOI4BC5DGSYER3BDOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNTHBC4BAUGO2MGL4IAXMOJPFP2ZK5ZTWXP7YCWPJLFADET6K6IQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBDBQYOXB5Q6YKFL4GXIYROMT6DRUK4GAJ52EETSUY32SHP2YMUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWEXZR7IQP4E2KP6IO3WZSDM343W3DKW4KWGY6RYTMZXBWVHVX7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV3AUCTRLG3YV5YRFBUD3AATNKWGRACUP627LMDHPIX523HLWX2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNILSWKLRBQCT4TMWFLEFM3LZHEGSLHTCGCN7YHUOPKJ3I3ZHN3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC5HCHHTLMT5BNRO4BVXUB64XPW2LPHX7MZN3BFLPAVPLRSK3W2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW3WZJQDLDOUDRCWXCXLXHV5WEVCE5JAV2AVGQCJNOAFGSQN4SEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV7UX6LWO6A737A7PFRBDDGTP6CSHJ74QO24ZAVPYGX36QALDCTA/main.js"
            ]
        },
        "TagResource": {
            "http": {
                "requestUri": "/tags/{ResourceArn}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn",
                    "Tags"
                ],
                "members": {
                    "ResourceArn": {
                        "location": "uri",
                        "locationName": "ResourceArn"
                    },
                    "Tags": {
                        "shape": "S8"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RYX6VXJCGEP3SXIIHX5VPRWZ5ID2QPIZ4TBFCQ355MOIJVNQJ7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGXKVZ3LOK6OSBRPZQLCWWWENJAXAEBEDVBB3DDARGWA543FQ4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYMJSOJZSFQOPYFWHQE72T65KXD27QEIYYS2D7GI4WZ5Q3RD5CSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNJT62XHY2RA66L6MVLJ2NXHXPSVIAECHYIXU6PDNBM75PLILDDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXPDBKPNCELNOMBM3IY2LXZ5QUNLV2OYZXRB67P4TKS2R6CM6M6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELAEOO6MCGGCR5BX3KOFZ4GNI2WQGKP6VYMPGQFXNB7W4JYA7B5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VURU7PIYCOH7CXZUJKJZHSX4OO2RYMZATMVEACKDMHT32ENAE7GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6MGM4SLDUH7YKLTBEKHSSW6YKZNXKR4DJQFIKXPLW26UBAYWMXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U6YLPVK4PKCMHILOWDJG7EAEMX4VHWF67IXOI4BC5DGSYER3BDOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNTHBC4BAUGO2MGL4IAXMOJPFP2ZK5ZTWXP7YCWPJLFADET6K6IQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBDBQYOXB5Q6YKFL4GXIYROMT6DRUK4GAJ52EETSUY32SHP2YMUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWEXZR7IQP4E2KP6IO3WZSDM343W3DKW4KWGY6RYTMZXBWVHVX7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV3AUCTRLG3YV5YRFBUD3AATNKWGRACUP627LMDHPIX523HLWX2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNILSWKLRBQCT4TMWFLEFM3LZHEGSLHTCGCN7YHUOPKJ3I3ZHN3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC5HCHHTLMT5BNRO4BVXUB64XPW2LPHX7MZN3BFLPAVPLRSK3W2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW3WZJQDLDOUDRCWXCXLXHV5WEVCE5JAV2AVGQCJNOAFGSQN4SEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV7UX6LWO6A737A7PFRBDDGTP6CSHJ74QO24ZAVPYGX36QALDCTA/main.js"
            ]
        },
        "UntagResource": {
            "http": {
                "method": "DELETE",
                "requestUri": "/tags/{ResourceArn}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn",
                    "TagKeys"
                ],
                "members": {
                    "ResourceArn": {
                        "location": "uri",
                        "locationName": "ResourceArn"
                    },
                    "TagKeys": {
                        "location": "querystring",
                        "locationName": "tagKeys",
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RYX6VXJCGEP3SXIIHX5VPRWZ5ID2QPIZ4TBFCQ355MOIJVNQJ7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGXKVZ3LOK6OSBRPZQLCWWWENJAXAEBEDVBB3DDARGWA543FQ4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYMJSOJZSFQOPYFWHQE72T65KXD27QEIYYS2D7GI4WZ5Q3RD5CSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNJT62XHY2RA66L6MVLJ2NXHXPSVIAECHYIXU6PDNBM75PLILDDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXPDBKPNCELNOMBM3IY2LXZ5QUNLV2OYZXRB67P4TKS2R6CM6M6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELAEOO6MCGGCR5BX3KOFZ4GNI2WQGKP6VYMPGQFXNB7W4JYA7B5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VURU7PIYCOH7CXZUJKJZHSX4OO2RYMZATMVEACKDMHT32ENAE7GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6MGM4SLDUH7YKLTBEKHSSW6YKZNXKR4DJQFIKXPLW26UBAYWMXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U6YLPVK4PKCMHILOWDJG7EAEMX4VHWF67IXOI4BC5DGSYER3BDOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNTHBC4BAUGO2MGL4IAXMOJPFP2ZK5ZTWXP7YCWPJLFADET6K6IQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBDBQYOXB5Q6YKFL4GXIYROMT6DRUK4GAJ52EETSUY32SHP2YMUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWEXZR7IQP4E2KP6IO3WZSDM343W3DKW4KWGY6RYTMZXBWVHVX7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV3AUCTRLG3YV5YRFBUD3AATNKWGRACUP627LMDHPIX523HLWX2A/main.js",
[...]
