{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-05-10",
        "endpointPrefix": "pca-connector-ad",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "PcaConnectorAd",
        "serviceId": "PcaConnectorAd",
        "signatureVersion": "v4",
        "signingName": "pca-connector-ad",
        "uid": "pcaconnectorad-2018-05-10",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/DQVMTMK3SLMSB37HIHFEGH6EQKKSPL3RLXBQ6QUZCOA2PVLMO2UQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GUYKSQ6QEEWEUME4VOBZN34YDMKLOYMDGSDP4BSZLOY5PGAR4ZZQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ABXGUXNQF5LJKBW5FSD5DIEIJBGTKY2U777C5U3KAHG6GTUHFY2A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VI2X7YCHFJSBEEW4INEDLBX7MRKVK27TPLOLD222V4OX6PGCEACQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZVJNPRXK7RCFFACPBECG6VXPMJMP3QLRB2US7YT2D2LFQ7DNDOKA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Q55AVH4TLFHI6B5O5OAQ2JHMVTGYA6P5LAYONKSTTBNCOTHSEZOA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XE5SD67UMKMIR6TIN77VBG4SEK6EUMRYMF4Q6OETI4GGUEUUK52Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KP5XGXMSLA3PFQHQANBWTVC4BW2CFJUOEUMSQZMWEU5LXAS523JA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LPEAFQP3KBUUOBWO6POZJHZQEJJMXE6N26DKWYAYOZP7LTWOE47Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FNNZT43ZPRR3XO6GMNZJOL6FGQNVZOBBJ2LTRJ2CTBAO2ANEIRJA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AI6CDPHTKX4F3CUYZOW3NR4HLHIEV3DPZV74WNPBR5PIJGDJ5JTQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/M2SCJCEYDOQHSA54AIMD7I54JQKEFKNGBGTAWQCJ4UYCOXIXQKYA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DV74D52SI2U2NV7ZLVE5LZIWXQVEDASF2PC6PHGNB2AGVTD7TZTA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7UPQZVINZMBSYWBWBQHA447IPQDKOMW6MXGJ5NU3F6TGRMOCXWKQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JQUXPM4HB6K47YE447G6UJXT6OCMJEVB3BGJ7A3YCSCIT6FNE2PA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZOKVY5AU5E5LHQFJMKJ7LTGX53UOELGJGRL6GU7GBH7TKOP2QBKA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4LQ6CU2M7LC2ZM4FTUUZPGGDQUS7MZSHKRRS2UCZ2WUR7JTXTJTQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JIUBY73DCYLXPU6BMHX22KFLEDGPOZKXLVGTJFKWOLSLMVV2ZGOA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MYPYYJXSR63ZQ6GZWIPPNJ3F56JOAGYE3D6FI6FBUEVNTESIUXGQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AMSDK2Q323OMU7G2K67ULQ4E5RBFTS36S6JWV33SVAGMXPYI24JA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6VVKGMHQ7IYVXB6WCBWSHOGRH5BYT4AID4G4DT6RLDVDBQR7J47A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FW2XTWPYZTI4JAIUTNBIACDWS245T6DZQ7XKAFGH2NARLFFIIQUQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NILZY3JFTCO3FLGHDBV53UECNEYVNEXVFGZAL3ZT3XG5PNOI6KOQ/main.js"
        ]
    },
    "operations": {
        "CreateConnector": {
            "http": {
                "requestUri": "/connectors",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId",
                    "CertificateAuthorityArn",
                    "VpcInformation"
                ],
                "members": {
                    "DirectoryId": {},
                    "CertificateAuthorityArn": {},
                    "VpcInformation": {
                        "shape": "S4"
                    },
                    "ClientToken": {
                        "idempotencyToken": true
                    },
                    "Tags": {
                        "shape": "S8"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ConnectorArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUYKSQ6QEEWEUME4VOBZN34YDMKLOYMDGSDP4BSZLOY5PGAR4ZZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABXGUXNQF5LJKBW5FSD5DIEIJBGTKY2U777C5U3KAHG6GTUHFY2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI2X7YCHFJSBEEW4INEDLBX7MRKVK27TPLOLD222V4OX6PGCEACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVJNPRXK7RCFFACPBECG6VXPMJMP3QLRB2US7YT2D2LFQ7DNDOKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q55AVH4TLFHI6B5O5OAQ2JHMVTGYA6P5LAYONKSTTBNCOTHSEZOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XE5SD67UMKMIR6TIN77VBG4SEK6EUMRYMF4Q6OETI4GGUEUUK52Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KP5XGXMSLA3PFQHQANBWTVC4BW2CFJUOEUMSQZMWEU5LXAS523JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LPEAFQP3KBUUOBWO6POZJHZQEJJMXE6N26DKWYAYOZP7LTWOE47Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNNZT43ZPRR3XO6GMNZJOL6FGQNVZOBBJ2LTRJ2CTBAO2ANEIRJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AI6CDPHTKX4F3CUYZOW3NR4HLHIEV3DPZV74WNPBR5PIJGDJ5JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2SCJCEYDOQHSA54AIMD7I54JQKEFKNGBGTAWQCJ4UYCOXIXQKYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DV74D52SI2U2NV7ZLVE5LZIWXQVEDASF2PC6PHGNB2AGVTD7TZTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7UPQZVINZMBSYWBWBQHA447IPQDKOMW6MXGJ5NU3F6TGRMOCXWKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQUXPM4HB6K47YE447G6UJXT6OCMJEVB3BGJ7A3YCSCIT6FNE2PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOKVY5AU5E5LHQFJMKJ7LTGX53UOELGJGRL6GU7GBH7TKOP2QBKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LQ6CU2M7LC2ZM4FTUUZPGGDQUS7MZSHKRRS2UCZ2WUR7JTXTJTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JIUBY73DCYLXPU6BMHX22KFLEDGPOZKXLVGTJFKWOLSLMVV2ZGOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MYPYYJXSR63ZQ6GZWIPPNJ3F56JOAGYE3D6FI6FBUEVNTESIUXGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMSDK2Q323OMU7G2K67ULQ4E5RBFTS36S6JWV33SVAGMXPYI24JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VVKGMHQ7IYVXB6WCBWSHOGRH5BYT4AID4G4DT6RLDVDBQR7J47A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FW2XTWPYZTI4JAIUTNBIACDWS245T6DZQ7XKAFGH2NARLFFIIQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NILZY3JFTCO3FLGHDBV53UECNEYVNEXVFGZAL3ZT3XG5PNOI6KOQ/main.js"
            ]
        },
        "CreateDirectoryRegistration": {
            "http": {
                "requestUri": "/directoryRegistrations",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId"
                ],
                "members": {
                    "DirectoryId": {},
                    "ClientToken": {
                        "idempotencyToken": true
                    },
                    "Tags": {
                        "shape": "S8"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DirectoryRegistrationArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUYKSQ6QEEWEUME4VOBZN34YDMKLOYMDGSDP4BSZLOY5PGAR4ZZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABXGUXNQF5LJKBW5FSD5DIEIJBGTKY2U777C5U3KAHG6GTUHFY2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI2X7YCHFJSBEEW4INEDLBX7MRKVK27TPLOLD222V4OX6PGCEACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVJNPRXK7RCFFACPBECG6VXPMJMP3QLRB2US7YT2D2LFQ7DNDOKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q55AVH4TLFHI6B5O5OAQ2JHMVTGYA6P5LAYONKSTTBNCOTHSEZOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XE5SD67UMKMIR6TIN77VBG4SEK6EUMRYMF4Q6OETI4GGUEUUK52Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KP5XGXMSLA3PFQHQANBWTVC4BW2CFJUOEUMSQZMWEU5LXAS523JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LPEAFQP3KBUUOBWO6POZJHZQEJJMXE6N26DKWYAYOZP7LTWOE47Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNNZT43ZPRR3XO6GMNZJOL6FGQNVZOBBJ2LTRJ2CTBAO2ANEIRJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AI6CDPHTKX4F3CUYZOW3NR4HLHIEV3DPZV74WNPBR5PIJGDJ5JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2SCJCEYDOQHSA54AIMD7I54JQKEFKNGBGTAWQCJ4UYCOXIXQKYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DV74D52SI2U2NV7ZLVE5LZIWXQVEDASF2PC6PHGNB2AGVTD7TZTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7UPQZVINZMBSYWBWBQHA447IPQDKOMW6MXGJ5NU3F6TGRMOCXWKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQUXPM4HB6K47YE447G6UJXT6OCMJEVB3BGJ7A3YCSCIT6FNE2PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOKVY5AU5E5LHQFJMKJ7LTGX53UOELGJGRL6GU7GBH7TKOP2QBKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LQ6CU2M7LC2ZM4FTUUZPGGDQUS7MZSHKRRS2UCZ2WUR7JTXTJTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JIUBY73DCYLXPU6BMHX22KFLEDGPOZKXLVGTJFKWOLSLMVV2ZGOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MYPYYJXSR63ZQ6GZWIPPNJ3F56JOAGYE3D6FI6FBUEVNTESIUXGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMSDK2Q323OMU7G2K67ULQ4E5RBFTS36S6JWV33SVAGMXPYI24JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VVKGMHQ7IYVXB6WCBWSHOGRH5BYT4AID4G4DT6RLDVDBQR7J47A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FW2XTWPYZTI4JAIUTNBIACDWS245T6DZQ7XKAFGH2NARLFFIIQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NILZY3JFTCO3FLGHDBV53UECNEYVNEXVFGZAL3ZT3XG5PNOI6KOQ/main.js"
            ]
        },
        "CreateServicePrincipalName": {
            "http": {
                "requestUri": "/directoryRegistrations/{DirectoryRegistrationArn}/servicePrincipalNames/{ConnectorArn}",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryRegistrationArn",
                    "ConnectorArn"
                ],
                "members": {
                    "DirectoryRegistrationArn": {
                        "location": "uri",
                        "locationName": "DirectoryRegistrationArn"
                    },
                    "ConnectorArn": {
                        "location": "uri",
                        "locationName": "ConnectorArn"
                    },
                    "ClientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUYKSQ6QEEWEUME4VOBZN34YDMKLOYMDGSDP4BSZLOY5PGAR4ZZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABXGUXNQF5LJKBW5FSD5DIEIJBGTKY2U777C5U3KAHG6GTUHFY2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI2X7YCHFJSBEEW4INEDLBX7MRKVK27TPLOLD222V4OX6PGCEACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVJNPRXK7RCFFACPBECG6VXPMJMP3QLRB2US7YT2D2LFQ7DNDOKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q55AVH4TLFHI6B5O5OAQ2JHMVTGYA6P5LAYONKSTTBNCOTHSEZOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XE5SD67UMKMIR6TIN77VBG4SEK6EUMRYMF4Q6OETI4GGUEUUK52Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KP5XGXMSLA3PFQHQANBWTVC4BW2CFJUOEUMSQZMWEU5LXAS523JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LPEAFQP3KBUUOBWO6POZJHZQEJJMXE6N26DKWYAYOZP7LTWOE47Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNNZT43ZPRR3XO6GMNZJOL6FGQNVZOBBJ2LTRJ2CTBAO2ANEIRJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AI6CDPHTKX4F3CUYZOW3NR4HLHIEV3DPZV74WNPBR5PIJGDJ5JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2SCJCEYDOQHSA54AIMD7I54JQKEFKNGBGTAWQCJ4UYCOXIXQKYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DV74D52SI2U2NV7ZLVE5LZIWXQVEDASF2PC6PHGNB2AGVTD7TZTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7UPQZVINZMBSYWBWBQHA447IPQDKOMW6MXGJ5NU3F6TGRMOCXWKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQUXPM4HB6K47YE447G6UJXT6OCMJEVB3BGJ7A3YCSCIT6FNE2PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOKVY5AU5E5LHQFJMKJ7LTGX53UOELGJGRL6GU7GBH7TKOP2QBKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LQ6CU2M7LC2ZM4FTUUZPGGDQUS7MZSHKRRS2UCZ2WUR7JTXTJTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JIUBY73DCYLXPU6BMHX22KFLEDGPOZKXLVGTJFKWOLSLMVV2ZGOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MYPYYJXSR63ZQ6GZWIPPNJ3F56JOAGYE3D6FI6FBUEVNTESIUXGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMSDK2Q323OMU7G2K67ULQ4E5RBFTS36S6JWV33SVAGMXPYI24JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VVKGMHQ7IYVXB6WCBWSHOGRH5BYT4AID4G4DT6RLDVDBQR7J47A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FW2XTWPYZTI4JAIUTNBIACDWS245T6DZQ7XKAFGH2NARLFFIIQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NILZY3JFTCO3FLGHDBV53UECNEYVNEXVFGZAL3ZT3XG5PNOI6KOQ/main.js"
            ]
        },
        "CreateTemplate": {
            "http": {
                "requestUri": "/templates",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ConnectorArn",
                    "Name",
                    "Definition"
                ],
                "members": {
                    "ConnectorArn": {},
                    "Name": {},
                    "Definition": {
                        "shape": "Si"
                    },
                    "ClientToken": {
                        "idempotencyToken": true
                    },
                    "Tags": {
                        "shape": "S8"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "TemplateArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUYKSQ6QEEWEUME4VOBZN34YDMKLOYMDGSDP4BSZLOY5PGAR4ZZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABXGUXNQF5LJKBW5FSD5DIEIJBGTKY2U777C5U3KAHG6GTUHFY2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI2X7YCHFJSBEEW4INEDLBX7MRKVK27TPLOLD222V4OX6PGCEACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVJNPRXK7RCFFACPBECG6VXPMJMP3QLRB2US7YT2D2LFQ7DNDOKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q55AVH4TLFHI6B5O5OAQ2JHMVTGYA6P5LAYONKSTTBNCOTHSEZOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XE5SD67UMKMIR6TIN77VBG4SEK6EUMRYMF4Q6OETI4GGUEUUK52Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KP5XGXMSLA3PFQHQANBWTVC4BW2CFJUOEUMSQZMWEU5LXAS523JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LPEAFQP3KBUUOBWO6POZJHZQEJJMXE6N26DKWYAYOZP7LTWOE47Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNNZT43ZPRR3XO6GMNZJOL6FGQNVZOBBJ2LTRJ2CTBAO2ANEIRJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AI6CDPHTKX4F3CUYZOW3NR4HLHIEV3DPZV74WNPBR5PIJGDJ5JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2SCJCEYDOQHSA54AIMD7I54JQKEFKNGBGTAWQCJ4UYCOXIXQKYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DV74D52SI2U2NV7ZLVE5LZIWXQVEDASF2PC6PHGNB2AGVTD7TZTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7UPQZVINZMBSYWBWBQHA447IPQDKOMW6MXGJ5NU3F6TGRMOCXWKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQUXPM4HB6K47YE447G6UJXT6OCMJEVB3BGJ7A3YCSCIT6FNE2PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOKVY5AU5E5LHQFJMKJ7LTGX53UOELGJGRL6GU7GBH7TKOP2QBKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LQ6CU2M7LC2ZM4FTUUZPGGDQUS7MZSHKRRS2UCZ2WUR7JTXTJTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JIUBY73DCYLXPU6BMHX22KFLEDGPOZKXLVGTJFKWOLSLMVV2ZGOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MYPYYJXSR63ZQ6GZWIPPNJ3F56JOAGYE3D6FI6FBUEVNTESIUXGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMSDK2Q323OMU7G2K67ULQ4E5RBFTS36S6JWV33SVAGMXPYI24JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VVKGMHQ7IYVXB6WCBWSHOGRH5BYT4AID4G4DT6RLDVDBQR7J47A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FW2XTWPYZTI4JAIUTNBIACDWS245T6DZQ7XKAFGH2NARLFFIIQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NILZY3JFTCO3FLGHDBV53UECNEYVNEXVFGZAL3ZT3XG5PNOI6KOQ/main.js"
            ]
        },
        "CreateTemplateGroupAccessControlEntry": {
            "http": {
                "requestUri": "/templates/{TemplateArn}/accessControlEntries",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "TemplateArn",
                    "GroupSecurityIdentifier",
                    "GroupDisplayName",
                    "AccessRights"
                ],
                "members": {
                    "TemplateArn": {
                        "location": "uri",
                        "locationName": "TemplateArn"
                    },
                    "GroupSecurityIdentifier": {},
                    "GroupDisplayName": {},
                    "AccessRights": {
                        "shape": "S20"
                    },
                    "ClientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUYKSQ6QEEWEUME4VOBZN34YDMKLOYMDGSDP4BSZLOY5PGAR4ZZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABXGUXNQF5LJKBW5FSD5DIEIJBGTKY2U777C5U3KAHG6GTUHFY2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI2X7YCHFJSBEEW4INEDLBX7MRKVK27TPLOLD222V4OX6PGCEACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVJNPRXK7RCFFACPBECG6VXPMJMP3QLRB2US7YT2D2LFQ7DNDOKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q55AVH4TLFHI6B5O5OAQ2JHMVTGYA6P5LAYONKSTTBNCOTHSEZOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XE5SD67UMKMIR6TIN77VBG4SEK6EUMRYMF4Q6OETI4GGUEUUK52Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KP5XGXMSLA3PFQHQANBWTVC4BW2CFJUOEUMSQZMWEU5LXAS523JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LPEAFQP3KBUUOBWO6POZJHZQEJJMXE6N26DKWYAYOZP7LTWOE47Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNNZT43ZPRR3XO6GMNZJOL6FGQNVZOBBJ2LTRJ2CTBAO2ANEIRJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AI6CDPHTKX4F3CUYZOW3NR4HLHIEV3DPZV74WNPBR5PIJGDJ5JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2SCJCEYDOQHSA54AIMD7I54JQKEFKNGBGTAWQCJ4UYCOXIXQKYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DV74D52SI2U2NV7ZLVE5LZIWXQVEDASF2PC6PHGNB2AGVTD7TZTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7UPQZVINZMBSYWBWBQHA447IPQDKOMW6MXGJ5NU3F6TGRMOCXWKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQUXPM4HB6K47YE447G6UJXT6OCMJEVB3BGJ7A3YCSCIT6FNE2PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOKVY5AU5E5LHQFJMKJ7LTGX53UOELGJGRL6GU7GBH7TKOP2QBKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LQ6CU2M7LC2ZM4FTUUZPGGDQUS7MZSHKRRS2UCZ2WUR7JTXTJTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JIUBY73DCYLXPU6BMHX22KFLEDGPOZKXLVGTJFKWOLSLMVV2ZGOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MYPYYJXSR63ZQ6GZWIPPNJ3F56JOAGYE3D6FI6FBUEVNTESIUXGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMSDK2Q323OMU7G2K67ULQ4E5RBFTS36S6JWV33SVAGMXPYI24JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VVKGMHQ7IYVXB6WCBWSHOGRH5BYT4AID4G4DT6RLDVDBQR7J47A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FW2XTWPYZTI4JAIUTNBIACDWS245T6DZQ7XKAFGH2NARLFFIIQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NILZY3JFTCO3FLGHDBV53UECNEYVNEXVFGZAL3ZT3XG5PNOI6KOQ/main.js"
            ]
        },
        "DeleteConnector": {
            "http": {
                "method": "DELETE",
                "requestUri": "/connectors/{ConnectorArn}",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "ConnectorArn"
                ],
                "members": {
                    "ConnectorArn": {
                        "location": "uri",
                        "locationName": "ConnectorArn"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUYKSQ6QEEWEUME4VOBZN34YDMKLOYMDGSDP4BSZLOY5PGAR4ZZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABXGUXNQF5LJKBW5FSD5DIEIJBGTKY2U777C5U3KAHG6GTUHFY2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI2X7YCHFJSBEEW4INEDLBX7MRKVK27TPLOLD222V4OX6PGCEACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVJNPRXK7RCFFACPBECG6VXPMJMP3QLRB2US7YT2D2LFQ7DNDOKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q55AVH4TLFHI6B5O5OAQ2JHMVTGYA6P5LAYONKSTTBNCOTHSEZOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XE5SD67UMKMIR6TIN77VBG4SEK6EUMRYMF4Q6OETI4GGUEUUK52Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KP5XGXMSLA3PFQHQANBWTVC4BW2CFJUOEUMSQZMWEU5LXAS523JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LPEAFQP3KBUUOBWO6POZJHZQEJJMXE6N26DKWYAYOZP7LTWOE47Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNNZT43ZPRR3XO6GMNZJOL6FGQNVZOBBJ2LTRJ2CTBAO2ANEIRJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AI6CDPHTKX4F3CUYZOW3NR4HLHIEV3DPZV74WNPBR5PIJGDJ5JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2SCJCEYDOQHSA54AIMD7I54JQKEFKNGBGTAWQCJ4UYCOXIXQKYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DV74D52SI2U2NV7ZLVE5LZIWXQVEDASF2PC6PHGNB2AGVTD7TZTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7UPQZVINZMBSYWBWBQHA447IPQDKOMW6MXGJ5NU3F6TGRMOCXWKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQUXPM4HB6K47YE447G6UJXT6OCMJEVB3BGJ7A3YCSCIT6FNE2PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOKVY5AU5E5LHQFJMKJ7LTGX53UOELGJGRL6GU7GBH7TKOP2QBKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LQ6CU2M7LC2ZM4FTUUZPGGDQUS7MZSHKRRS2UCZ2WUR7JTXTJTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JIUBY73DCYLXPU6BMHX22KFLEDGPOZKXLVGTJFKWOLSLMVV2ZGOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MYPYYJXSR63ZQ6GZWIPPNJ3F56JOAGYE3D6FI6FBUEVNTESIUXGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMSDK2Q323OMU7G2K67ULQ4E5RBFTS36S6JWV33SVAGMXPYI24JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VVKGMHQ7IYVXB6WCBWSHOGRH5BYT4AID4G4DT6RLDVDBQR7J47A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FW2XTWPYZTI4JAIUTNBIACDWS245T6DZQ7XKAFGH2NARLFFIIQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NILZY3JFTCO3FLGHDBV53UECNEYVNEXVFGZAL3ZT3XG5PNOI6KOQ/main.js"
            ]
        },
        "DeleteDirectoryRegistration": {
            "http": {
                "method": "DELETE",
                "requestUri": "/directoryRegistrations/{DirectoryRegistrationArn}",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryRegistrationArn"
                ],
                "members": {
                    "DirectoryRegistrationArn": {
                        "location": "uri",
                        "locationName": "DirectoryRegistrationArn"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUYKSQ6QEEWEUME4VOBZN34YDMKLOYMDGSDP4BSZLOY5PGAR4ZZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABXGUXNQF5LJKBW5FSD5DIEIJBGTKY2U777C5U3KAHG6GTUHFY2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI2X7YCHFJSBEEW4INEDLBX7MRKVK27TPLOLD222V4OX6PGCEACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVJNPRXK7RCFFACPBECG6VXPMJMP3QLRB2US7YT2D2LFQ7DNDOKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q55AVH4TLFHI6B5O5OAQ2JHMVTGYA6P5LAYONKSTTBNCOTHSEZOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XE5SD67UMKMIR6TIN77VBG4SEK6EUMRYMF4Q6OETI4GGUEUUK52Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KP5XGXMSLA3PFQHQANBWTVC4BW2CFJUOEUMSQZMWEU5LXAS523JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LPEAFQP3KBUUOBWO6POZJHZQEJJMXE6N26DKWYAYOZP7LTWOE47Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNNZT43ZPRR3XO6GMNZJOL6FGQNVZOBBJ2LTRJ2CTBAO2ANEIRJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AI6CDPHTKX4F3CUYZOW3NR4HLHIEV3DPZV74WNPBR5PIJGDJ5JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2SCJCEYDOQHSA54AIMD7I54JQKEFKNGBGTAWQCJ4UYCOXIXQKYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DV74D52SI2U2NV7ZLVE5LZIWXQVEDASF2PC6PHGNB2AGVTD7TZTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7UPQZVINZMBSYWBWBQHA447IPQDKOMW6MXGJ5NU3F6TGRMOCXWKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQUXPM4HB6K47YE447G6UJXT6OCMJEVB3BGJ7A3YCSCIT6FNE2PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOKVY5AU5E5LHQFJMKJ7LTGX53UOELGJGRL6GU7GBH7TKOP2QBKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LQ6CU2M7LC2ZM4FTUUZPGGDQUS7MZSHKRRS2UCZ2WUR7JTXTJTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JIUBY73DCYLXPU6BMHX22KFLEDGPOZKXLVGTJFKWOLSLMVV2ZGOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MYPYYJXSR63ZQ6GZWIPPNJ3F56JOAGYE3D6FI6FBUEVNTESIUXGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMSDK2Q323OMU7G2K67ULQ4E5RBFTS36S6JWV33SVAGMXPYI24JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VVKGMHQ7IYVXB6WCBWSHOGRH5BYT4AID4G4DT6RLDVDBQR7J47A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FW2XTWPYZTI4JAIUTNBIACDWS245T6DZQ7XKAFGH2NARLFFIIQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NILZY3JFTCO3FLGHDBV53UECNEYVNEXVFGZAL3ZT3XG5PNOI6KOQ/main.js"
            ]
        },
        "DeleteServicePrincipalName": {
            "http": {
                "method": "DELETE",
                "requestUri": "/directoryRegistrations/{DirectoryRegistrationArn}/servicePrincipalNames/{ConnectorArn}",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryRegistrationArn",
                    "ConnectorArn"
                ],
                "members": {
                    "DirectoryRegistrationArn": {
                        "location": "uri",
                        "locationName": "DirectoryRegistrationArn"
                    },
                    "ConnectorArn": {
                        "location": "uri",
                        "locationName": "ConnectorArn"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUYKSQ6QEEWEUME4VOBZN34YDMKLOYMDGSDP4BSZLOY5PGAR4ZZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABXGUXNQF5LJKBW5FSD5DIEIJBGTKY2U777C5U3KAHG6GTUHFY2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI2X7YCHFJSBEEW4INEDLBX7MRKVK27TPLOLD222V4OX6PGCEACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVJNPRXK7RCFFACPBECG6VXPMJMP3QLRB2US7YT2D2LFQ7DNDOKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q55AVH4TLFHI6B5O5OAQ2JHMVTGYA6P5LAYONKSTTBNCOTHSEZOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XE5SD67UMKMIR6TIN77VBG4SEK6EUMRYMF4Q6OETI4GGUEUUK52Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KP5XGXMSLA3PFQHQANBWTVC4BW2CFJUOEUMSQZMWEU5LXAS523JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LPEAFQP3KBUUOBWO6POZJHZQEJJMXE6N26DKWYAYOZP7LTWOE47Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNNZT43ZPRR3XO6GMNZJOL6FGQNVZOBBJ2LTRJ2CTBAO2ANEIRJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AI6CDPHTKX4F3CUYZOW3NR4HLHIEV3DPZV74WNPBR5PIJGDJ5JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2SCJCEYDOQHSA54AIMD7I54JQKEFKNGBGTAWQCJ4UYCOXIXQKYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DV74D52SI2U2NV7ZLVE5LZIWXQVEDASF2PC6PHGNB2AGVTD7TZTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7UPQZVINZMBSYWBWBQHA447IPQDKOMW6MXGJ5NU3F6TGRMOCXWKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQUXPM4HB6K47YE447G6UJXT6OCMJEVB3BGJ7A3YCSCIT6FNE2PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOKVY5AU5E5LHQFJMKJ7LTGX53UOELGJGRL6GU7GBH7TKOP2QBKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LQ6CU2M7LC2ZM4FTUUZPGGDQUS7MZSHKRRS2UCZ2WUR7JTXTJTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JIUBY73DCYLXPU6BMHX22KFLEDGPOZKXLVGTJFKWOLSLMVV2ZGOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MYPYYJXSR63ZQ6GZWIPPNJ3F56JOAGYE3D6FI6FBUEVNTESIUXGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMSDK2Q323OMU7G2K67ULQ4E5RBFTS36S6JWV33SVAGMXPYI24JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VVKGMHQ7IYVXB6WCBWSHOGRH5BYT4AID4G4DT6RLDVDBQR7J47A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FW2XTWPYZTI4JAIUTNBIACDWS245T6DZQ7XKAFGH2NARLFFIIQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NILZY3JFTCO3FLGHDBV53UECNEYVNEXVFGZAL3ZT3XG5PNOI6KOQ/main.js"
            ]
        },
        "DeleteTemplate": {
            "http": {
                "method": "DELETE",
                "requestUri": "/templates/{TemplateArn}",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "TemplateArn"
                ],
                "members": {
                    "TemplateArn": {
                        "location": "uri",
                        "locationName": "TemplateArn"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUYKSQ6QEEWEUME4VOBZN34YDMKLOYMDGSDP4BSZLOY5PGAR4ZZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABXGUXNQF5LJKBW5FSD5DIEIJBGTKY2U777C5U3KAHG6GTUHFY2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI2X7YCHFJSBEEW4INEDLBX7MRKVK27TPLOLD222V4OX6PGCEACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVJNPRXK7RCFFACPBECG6VXPMJMP3QLRB2US7YT2D2LFQ7DNDOKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q55AVH4TLFHI6B5O5OAQ2JHMVTGYA6P5LAYONKSTTBNCOTHSEZOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XE5SD67UMKMIR6TIN77VBG4SEK6EUMRYMF4Q6OETI4GGUEUUK52Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KP5XGXMSLA3PFQHQANBWTVC4BW2CFJUOEUMSQZMWEU5LXAS523JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LPEAFQP3KBUUOBWO6POZJHZQEJJMXE6N26DKWYAYOZP7LTWOE47Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNNZT43ZPRR3XO6GMNZJOL6FGQNVZOBBJ2LTRJ2CTBAO2ANEIRJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AI6CDPHTKX4F3CUYZOW3NR4HLHIEV3DPZV74WNPBR5PIJGDJ5JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2SCJCEYDOQHSA54AIMD7I54JQKEFKNGBGTAWQCJ4UYCOXIXQKYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DV74D52SI2U2NV7ZLVE5LZIWXQVEDASF2PC6PHGNB2AGVTD7TZTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7UPQZVINZMBSYWBWBQHA447IPQDKOMW6MXGJ5NU3F6TGRMOCXWKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQUXPM4HB6K47YE447G6UJXT6OCMJEVB3BGJ7A3YCSCIT6FNE2PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOKVY5AU5E5LHQFJMKJ7LTGX53UOELGJGRL6GU7GBH7TKOP2QBKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LQ6CU2M7LC2ZM4FTUUZPGGDQUS7MZSHKRRS2UCZ2WUR7JTXTJTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JIUBY73DCYLXPU6BMHX22KFLEDGPOZKXLVGTJFKWOLSLMVV2ZGOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MYPYYJXSR63ZQ6GZWIPPNJ3F56JOAGYE3D6FI6FBUEVNTESIUXGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMSDK2Q323OMU7G2K67ULQ4E5RBFTS36S6JWV33SVAGMXPYI24JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VVKGMHQ7IYVXB6WCBWSHOGRH5BYT4AID4G4DT6RLDVDBQR7J47A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FW2XTWPYZTI4JAIUTNBIACDWS245T6DZQ7XKAFGH2NARLFFIIQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NILZY3JFTCO3FLGHDBV53UECNEYVNEXVFGZAL3ZT3XG5PNOI6KOQ/main.js"
            ]
        },
        "DeleteTemplateGroupAccessControlEntry": {
            "http": {
                "method": "DELETE",
                "requestUri": "/templates/{TemplateArn}/accessControlEntries/{GroupSecurityIdentifier}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "TemplateArn",
                    "GroupSecurityIdentifier"
                ],
                "members": {
                    "TemplateArn": {
                        "location": "uri",
                        "locationName": "TemplateArn"
                    },
                    "GroupSecurityIdentifier": {
                        "location": "uri",
                        "locationName": "GroupSecurityIdentifier"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUYKSQ6QEEWEUME4VOBZN34YDMKLOYMDGSDP4BSZLOY5PGAR4ZZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABXGUXNQF5LJKBW5FSD5DIEIJBGTKY2U777C5U3KAHG6GTUHFY2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI2X7YCHFJSBEEW4INEDLBX7MRKVK27TPLOLD222V4OX6PGCEACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVJNPRXK7RCFFACPBECG6VXPMJMP3QLRB2US7YT2D2LFQ7DNDOKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q55AVH4TLFHI6B5O5OAQ2JHMVTGYA6P5LAYONKSTTBNCOTHSEZOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XE5SD67UMKMIR6TIN77VBG4SEK6EUMRYMF4Q6OETI4GGUEUUK52Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KP5XGXMSLA3PFQHQANBWTVC4BW2CFJUOEUMSQZMWEU5LXAS523JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LPEAFQP3KBUUOBWO6POZJHZQEJJMXE6N26DKWYAYOZP7LTWOE47Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNNZT43ZPRR3XO6GMNZJOL6FGQNVZOBBJ2LTRJ2CTBAO2ANEIRJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AI6CDPHTKX4F3CUYZOW3NR4HLHIEV3DPZV74WNPBR5PIJGDJ5JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2SCJCEYDOQHSA54AIMD7I54JQKEFKNGBGTAWQCJ4UYCOXIXQKYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DV74D52SI2U2NV7ZLVE5LZIWXQVEDASF2PC6PHGNB2AGVTD7TZTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7UPQZVINZMBSYWBWBQHA447IPQDKOMW6MXGJ5NU3F6TGRMOCXWKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQUXPM4HB6K47YE447G6UJXT6OCMJEVB3BGJ7A3YCSCIT6FNE2PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOKVY5AU5E5LHQFJMKJ7LTGX53UOELGJGRL6GU7GBH7TKOP2QBKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LQ6CU2M7LC2ZM4FTUUZPGGDQUS7MZSHKRRS2UCZ2WUR7JTXTJTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JIUBY73DCYLXPU6BMHX22KFLEDGPOZKXLVGTJFKWOLSLMVV2ZGOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MYPYYJXSR63ZQ6GZWIPPNJ3F56JOAGYE3D6FI6FBUEVNTESIUXGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMSDK2Q323OMU7G2K67ULQ4E5RBFTS36S6JWV33SVAGMXPYI24JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VVKGMHQ7IYVXB6WCBWSHOGRH5BYT4AID4G4DT6RLDVDBQR7J47A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FW2XTWPYZTI4JAIUTNBIACDWS245T6DZQ7XKAFGH2NARLFFIIQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NILZY3JFTCO3FLGHDBV53UECNEYVNEXVFGZAL3ZT3XG5PNOI6KOQ/main.js"
            ]
        },
        "GetConnector": {
            "http": {
                "method": "GET",
                "requestUri": "/connectors/{ConnectorArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ConnectorArn"
                ],
                "members": {
                    "ConnectorArn": {
                        "location": "uri",
                        "locationName": "ConnectorArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Connector": {
                        "type": "structure",
                        "members": {
                            "Arn": {},
                            "CertificateAuthorityArn": {},
                            "CertificateEnrollmentPolicyServerEndpoint": {},
                            "DirectoryId": {},
                            "VpcInformation": {
                                "shape": "S4"
                            },
                            "Status": {},
                            "StatusReason": {},
                            "CreatedAt": {
                                "type": "timestamp"
                            },
                            "UpdatedAt": {
                                "type": "timestamp"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUYKSQ6QEEWEUME4VOBZN34YDMKLOYMDGSDP4BSZLOY5PGAR4ZZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABXGUXNQF5LJKBW5FSD5DIEIJBGTKY2U777C5U3KAHG6GTUHFY2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI2X7YCHFJSBEEW4INEDLBX7MRKVK27TPLOLD222V4OX6PGCEACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVJNPRXK7RCFFACPBECG6VXPMJMP3QLRB2US7YT2D2LFQ7DNDOKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q55AVH4TLFHI6B5O5OAQ2JHMVTGYA6P5LAYONKSTTBNCOTHSEZOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XE5SD67UMKMIR6TIN77VBG4SEK6EUMRYMF4Q6OETI4GGUEUUK52Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KP5XGXMSLA3PFQHQANBWTVC4BW2CFJUOEUMSQZMWEU5LXAS523JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LPEAFQP3KBUUOBWO6POZJHZQEJJMXE6N26DKWYAYOZP7LTWOE47Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNNZT43ZPRR3XO6GMNZJOL6FGQNVZOBBJ2LTRJ2CTBAO2ANEIRJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AI6CDPHTKX4F3CUYZOW3NR4HLHIEV3DPZV74WNPBR5PIJGDJ5JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2SCJCEYDOQHSA54AIMD7I54JQKEFKNGBGTAWQCJ4UYCOXIXQKYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DV74D52SI2U2NV7ZLVE5LZIWXQVEDASF2PC6PHGNB2AGVTD7TZTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7UPQZVINZMBSYWBWBQHA447IPQDKOMW6MXGJ5NU3F6TGRMOCXWKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQUXPM4HB6K47YE447G6UJXT6OCMJEVB3BGJ7A3YCSCIT6FNE2PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOKVY5AU5E5LHQFJMKJ7LTGX53UOELGJGRL6GU7GBH7TKOP2QBKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LQ6CU2M7LC2ZM4FTUUZPGGDQUS7MZSHKRRS2UCZ2WUR7JTXTJTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JIUBY73DCYLXPU6BMHX22KFLEDGPOZKXLVGTJFKWOLSLMVV2ZGOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MYPYYJXSR63ZQ6GZWIPPNJ3F56JOAGYE3D6FI6FBUEVNTESIUXGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMSDK2Q323OMU7G2K67ULQ4E5RBFTS36S6JWV33SVAGMXPYI24JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VVKGMHQ7IYVXB6WCBWSHOGRH5BYT4AID4G4DT6RLDVDBQR7J47A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FW2XTWPYZTI4JAIUTNBIACDWS245T6DZQ7XKAFGH2NARLFFIIQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NILZY3JFTCO3FLGHDBV53UECNEYVNEXVFGZAL3ZT3XG5PNOI6KOQ/main.js"
            ]
        },
        "GetDirectoryRegistration": {
            "http": {
                "method": "GET",
                "requestUri": "/directoryRegistrations/{DirectoryRegistrationArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryRegistrationArn"
                ],
                "members": {
                    "DirectoryRegistrationArn": {
                        "location": "uri",
                        "locationName": "DirectoryRegistrationArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DirectoryRegistration": {
                        "type": "structure",
                        "members": {
                            "Arn": {},
                            "DirectoryId": {},
                            "Status": {},
                            "StatusReason": {},
                            "CreatedAt": {
                                "type": "timestamp"
                            },
                            "UpdatedAt": {
                                "type": "timestamp"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUYKSQ6QEEWEUME4VOBZN34YDMKLOYMDGSDP4BSZLOY5PGAR4ZZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABXGUXNQF5LJKBW5FSD5DIEIJBGTKY2U777C5U3KAHG6GTUHFY2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI2X7YCHFJSBEEW4INEDLBX7MRKVK27TPLOLD222V4OX6PGCEACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVJNPRXK7RCFFACPBECG6VXPMJMP3QLRB2US7YT2D2LFQ7DNDOKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q55AVH4TLFHI6B5O5OAQ2JHMVTGYA6P5LAYONKSTTBNCOTHSEZOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XE5SD67UMKMIR6TIN77VBG4SEK6EUMRYMF4Q6OETI4GGUEUUK52Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KP5XGXMSLA3PFQHQANBWTVC4BW2CFJUOEUMSQZMWEU5LXAS523JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LPEAFQP3KBUUOBWO6POZJHZQEJJMXE6N26DKWYAYOZP7LTWOE47Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNNZT43ZPRR3XO6GMNZJOL6FGQNVZOBBJ2LTRJ2CTBAO2ANEIRJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AI6CDPHTKX4F3CUYZOW3NR4HLHIEV3DPZV74WNPBR5PIJGDJ5JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2SCJCEYDOQHSA54AIMD7I54JQKEFKNGBGTAWQCJ4UYCOXIXQKYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DV74D52SI2U2NV7ZLVE5LZIWXQVEDASF2PC6PHGNB2AGVTD7TZTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7UPQZVINZMBSYWBWBQHA447IPQDKOMW6MXGJ5NU3F6TGRMOCXWKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQUXPM4HB6K47YE447G6UJXT6OCMJEVB3BGJ7A3YCSCIT6FNE2PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOKVY5AU5E5LHQFJMKJ7LTGX53UOELGJGRL6GU7GBH7TKOP2QBKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LQ6CU2M7LC2ZM4FTUUZPGGDQUS7MZSHKRRS2UCZ2WUR7JTXTJTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JIUBY73DCYLXPU6BMHX22KFLEDGPOZKXLVGTJFKWOLSLMVV2ZGOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MYPYYJXSR63ZQ6GZWIPPNJ3F56JOAGYE3D6FI6FBUEVNTESIUXGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMSDK2Q323OMU7G2K67ULQ4E5RBFTS36S6JWV33SVAGMXPYI24JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VVKGMHQ7IYVXB6WCBWSHOGRH5BYT4AID4G4DT6RLDVDBQR7J47A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FW2XTWPYZTI4JAIUTNBIACDWS245T6DZQ7XKAFGH2NARLFFIIQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NILZY3JFTCO3FLGHDBV53UECNEYVNEXVFGZAL3ZT3XG5PNOI6KOQ/main.js"
            ]
        },
        "GetServicePrincipalName": {
            "http": {
                "method": "GET",
                "requestUri": "/directoryRegistrations/{DirectoryRegistrationArn}/servicePrincipalNames/{ConnectorArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryRegistrationArn",
                    "ConnectorArn"
                ],
                "members": {
                    "DirectoryRegistrationArn": {
                        "location": "uri",
                        "locationName": "DirectoryRegistrationArn"
                    },
                    "ConnectorArn": {
                        "location": "uri",
                        "locationName": "ConnectorArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ServicePrincipalName": {
                        "type": "structure",
                        "members": {
                            "DirectoryRegistrationArn": {},
                            "ConnectorArn": {},
                            "Status": {},
                            "StatusReason": {},
                            "CreatedAt": {
                                "type": "timestamp"
                            },
                            "UpdatedAt": {
                                "type": "timestamp"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUYKSQ6QEEWEUME4VOBZN34YDMKLOYMDGSDP4BSZLOY5PGAR4ZZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABXGUXNQF5LJKBW5FSD5DIEIJBGTKY2U777C5U3KAHG6GTUHFY2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI2X7YCHFJSBEEW4INEDLBX7MRKVK27TPLOLD222V4OX6PGCEACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVJNPRXK7RCFFACPBECG6VXPMJMP3QLRB2US7YT2D2LFQ7DNDOKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q55AVH4TLFHI6B5O5OAQ2JHMVTGYA6P5LAYONKSTTBNCOTHSEZOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XE5SD67UMKMIR6TIN77VBG4SEK6EUMRYMF4Q6OETI4GGUEUUK52Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KP5XGXMSLA3PFQHQANBWTVC4BW2CFJUOEUMSQZMWEU5LXAS523JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LPEAFQP3KBUUOBWO6POZJHZQEJJMXE6N26DKWYAYOZP7LTWOE47Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNNZT43ZPRR3XO6GMNZJOL6FGQNVZOBBJ2LTRJ2CTBAO2ANEIRJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AI6CDPHTKX4F3CUYZOW3NR4HLHIEV3DPZV74WNPBR5PIJGDJ5JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2SCJCEYDOQHSA54AIMD7I54JQKEFKNGBGTAWQCJ4UYCOXIXQKYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DV74D52SI2U2NV7ZLVE5LZIWXQVEDASF2PC6PHGNB2AGVTD7TZTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7UPQZVINZMBSYWBWBQHA447IPQDKOMW6MXGJ5NU3F6TGRMOCXWKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQUXPM4HB6K47YE447G6UJXT6OCMJEVB3BGJ7A3YCSCIT6FNE2PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOKVY5AU5E5LHQFJMKJ7LTGX53UOELGJGRL6GU7GBH7TKOP2QBKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LQ6CU2M7LC2ZM4FTUUZPGGDQUS7MZSHKRRS2UCZ2WUR7JTXTJTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JIUBY73DCYLXPU6BMHX22KFLEDGPOZKXLVGTJFKWOLSLMVV2ZGOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MYPYYJXSR63ZQ6GZWIPPNJ3F56JOAGYE3D6FI6FBUEVNTESIUXGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMSDK2Q323OMU7G2K67ULQ4E5RBFTS36S6JWV33SVAGMXPYI24JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VVKGMHQ7IYVXB6WCBWSHOGRH5BYT4AID4G4DT6RLDVDBQR7J47A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FW2XTWPYZTI4JAIUTNBIACDWS245T6DZQ7XKAFGH2NARLFFIIQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NILZY3JFTCO3FLGHDBV53UECNEYVNEXVFGZAL3ZT3XG5PNOI6KOQ/main.js"
            ]
        },
        "GetTemplate": {
            "http": {
                "method": "GET",
                "requestUri": "/templates/{TemplateArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "TemplateArn"
                ],
                "members": {
                    "TemplateArn": {
                        "location": "uri",
                        "locationName": "TemplateArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Template": {
                        "type": "structure",
                        "members": {
                            "Arn": {},
                            "ConnectorArn": {},
                            "Definition": {
                                "shape": "Si"
                            },
                            "Name": {},
                            "ObjectIdentifier": {},
                            "PolicySchema": {
                                "type": "integer"
                            },
                            "Status": {},
                            "Revision": {
                                "shape": "S2s"
                            },
                            "CreatedAt": {
                                "type": "timestamp"
                            },
                            "UpdatedAt": {
                                "type": "timestamp"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUYKSQ6QEEWEUME4VOBZN34YDMKLOYMDGSDP4BSZLOY5PGAR4ZZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABXGUXNQF5LJKBW5FSD5DIEIJBGTKY2U777C5U3KAHG6GTUHFY2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI2X7YCHFJSBEEW4INEDLBX7MRKVK27TPLOLD222V4OX6PGCEACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVJNPRXK7RCFFACPBECG6VXPMJMP3QLRB2US7YT2D2LFQ7DNDOKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q55AVH4TLFHI6B5O5OAQ2JHMVTGYA6P5LAYONKSTTBNCOTHSEZOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XE5SD67UMKMIR6TIN77VBG4SEK6EUMRYMF4Q6OETI4GGUEUUK52Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KP5XGXMSLA3PFQHQANBWTVC4BW2CFJUOEUMSQZMWEU5LXAS523JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LPEAFQP3KBUUOBWO6POZJHZQEJJMXE6N26DKWYAYOZP7LTWOE47Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNNZT43ZPRR3XO6GMNZJOL6FGQNVZOBBJ2LTRJ2CTBAO2ANEIRJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AI6CDPHTKX4F3CUYZOW3NR4HLHIEV3DPZV74WNPBR5PIJGDJ5JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2SCJCEYDOQHSA54AIMD7I54JQKEFKNGBGTAWQCJ4UYCOXIXQKYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DV74D52SI2U2NV7ZLVE5LZIWXQVEDASF2PC6PHGNB2AGVTD7TZTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7UPQZVINZMBSYWBWBQHA447IPQDKOMW6MXGJ5NU3F6TGRMOCXWKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQUXPM4HB6K47YE447G6UJXT6OCMJEVB3BGJ7A3YCSCIT6FNE2PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOKVY5AU5E5LHQFJMKJ7LTGX53UOELGJGRL6GU7GBH7TKOP2QBKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LQ6CU2M7LC2ZM4FTUUZPGGDQUS7MZSHKRRS2UCZ2WUR7JTXTJTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JIUBY73DCYLXPU6BMHX22KFLEDGPOZKXLVGTJFKWOLSLMVV2ZGOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MYPYYJXSR63ZQ6GZWIPPNJ3F56JOAGYE3D6FI6FBUEVNTESIUXGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMSDK2Q323OMU7G2K67ULQ4E5RBFTS36S6JWV33SVAGMXPYI24JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VVKGMHQ7IYVXB6WCBWSHOGRH5BYT4AID4G4DT6RLDVDBQR7J47A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FW2XTWPYZTI4JAIUTNBIACDWS245T6DZQ7XKAFGH2NARLFFIIQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NILZY3JFTCO3FLGHDBV53UECNEYVNEXVFGZAL3ZT3XG5PNOI6KOQ/main.js"
            ]
        },
        "GetTemplateGroupAccessControlEntry": {
            "http": {
                "method": "GET",
                "requestUri": "/templates/{TemplateArn}/accessControlEntries/{GroupSecurityIdentifier}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "TemplateArn",
                    "GroupSecurityIdentifier"
                ],
                "members": {
                    "TemplateArn": {
                        "location": "uri",
                        "locationName": "TemplateArn"
                    },
                    "GroupSecurityIdentifier": {
                        "location": "uri",
                        "locationName": "GroupSecurityIdentifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AccessControlEntry": {
                        "type": "structure",
                        "members": {
                            "GroupDisplayName": {},
                            "GroupSecurityIdentifier": {},
                            "AccessRights": {
                                "shape": "S20"
                            },
                            "TemplateArn": {},
                            "CreatedAt": {
                                "type": "timestamp"
                            },
                            "UpdatedAt": {
                                "type": "timestamp"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUYKSQ6QEEWEUME4VOBZN34YDMKLOYMDGSDP4BSZLOY5PGAR4ZZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABXGUXNQF5LJKBW5FSD5DIEIJBGTKY2U777C5U3KAHG6GTUHFY2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI2X7YCHFJSBEEW4INEDLBX7MRKVK27TPLOLD222V4OX6PGCEACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVJNPRXK7RCFFACPBECG6VXPMJMP3QLRB2US7YT2D2LFQ7DNDOKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q55AVH4TLFHI6B5O5OAQ2JHMVTGYA6P5LAYONKSTTBNCOTHSEZOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XE5SD67UMKMIR6TIN77VBG4SEK6EUMRYMF4Q6OETI4GGUEUUK52Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KP5XGXMSLA3PFQHQANBWTVC4BW2CFJUOEUMSQZMWEU5LXAS523JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LPEAFQP3KBUUOBWO6POZJHZQEJJMXE6N26DKWYAYOZP7LTWOE47Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNNZT43ZPRR3XO6GMNZJOL6FGQNVZOBBJ2LTRJ2CTBAO2ANEIRJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AI6CDPHTKX4F3CUYZOW3NR4HLHIEV3DPZV74WNPBR5PIJGDJ5JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2SCJCEYDOQHSA54AIMD7I54JQKEFKNGBGTAWQCJ4UYCOXIXQKYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DV74D52SI2U2NV7ZLVE5LZIWXQVEDASF2PC6PHGNB2AGVTD7TZTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7UPQZVINZMBSYWBWBQHA447IPQDKOMW6MXGJ5NU3F6TGRMOCXWKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQUXPM4HB6K47YE447G6UJXT6OCMJEVB3BGJ7A3YCSCIT6FNE2PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOKVY5AU5E5LHQFJMKJ7LTGX53UOELGJGRL6GU7GBH7TKOP2QBKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LQ6CU2M7LC2ZM4FTUUZPGGDQUS7MZSHKRRS2UCZ2WUR7JTXTJTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JIUBY73DCYLXPU6BMHX22KFLEDGPOZKXLVGTJFKWOLSLMVV2ZGOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MYPYYJXSR63ZQ6GZWIPPNJ3F56JOAGYE3D6FI6FBUEVNTESIUXGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMSDK2Q323OMU7G2K67ULQ4E5RBFTS36S6JWV33SVAGMXPYI24JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VVKGMHQ7IYVXB6WCBWSHOGRH5BYT4AID4G4DT6RLDVDBQR7J47A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FW2XTWPYZTI4JAIUTNBIACDWS245T6DZQ7XKAFGH2NARLFFIIQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NILZY3JFTCO3FLGHDBV53UECNEYVNEXVFGZAL3ZT3XG5PNOI6KOQ/main.js"
            ]
        },
        "ListConnectors": {
            "http": {
                "method": "GET",
                "requestUri": "/connectors",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "MaxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "NextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Connectors": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Arn": {},
                                "CertificateAuthorityArn": {},
                                "CertificateEnrollmentPolicyServerEndpoint": {},
                                "DirectoryId": {},
                                "VpcInformation": {
                                    "shape": "S4"
                                },
                                "Status": {},
                                "StatusReason": {},
                                "CreatedAt": {
                                    "type": "timestamp"
                                },
                                "UpdatedAt": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUYKSQ6QEEWEUME4VOBZN34YDMKLOYMDGSDP4BSZLOY5PGAR4ZZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABXGUXNQF5LJKBW5FSD5DIEIJBGTKY2U777C5U3KAHG6GTUHFY2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI2X7YCHFJSBEEW4INEDLBX7MRKVK27TPLOLD222V4OX6PGCEACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVJNPRXK7RCFFACPBECG6VXPMJMP3QLRB2US7YT2D2LFQ7DNDOKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q55AVH4TLFHI6B5O5OAQ2JHMVTGYA6P5LAYONKSTTBNCOTHSEZOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XE5SD67UMKMIR6TIN77VBG4SEK6EUMRYMF4Q6OETI4GGUEUUK52Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KP5XGXMSLA3PFQHQANBWTVC4BW2CFJUOEUMSQZMWEU5LXAS523JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LPEAFQP3KBUUOBWO6POZJHZQEJJMXE6N26DKWYAYOZP7LTWOE47Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNNZT43ZPRR3XO6GMNZJOL6FGQNVZOBBJ2LTRJ2CTBAO2ANEIRJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AI6CDPHTKX4F3CUYZOW3NR4HLHIEV3DPZV74WNPBR5PIJGDJ5JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2SCJCEYDOQHSA54AIMD7I54JQKEFKNGBGTAWQCJ4UYCOXIXQKYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DV74D52SI2U2NV7ZLVE5LZIWXQVEDASF2PC6PHGNB2AGVTD7TZTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7UPQZVINZMBSYWBWBQHA447IPQDKOMW6MXGJ5NU3F6TGRMOCXWKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQUXPM4HB6K47YE447G6UJXT6OCMJEVB3BGJ7A3YCSCIT6FNE2PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOKVY5AU5E5LHQFJMKJ7LTGX53UOELGJGRL6GU7GBH7TKOP2QBKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LQ6CU2M7LC2ZM4FTUUZPGGDQUS7MZSHKRRS2UCZ2WUR7JTXTJTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JIUBY73DCYLXPU6BMHX22KFLEDGPOZKXLVGTJFKWOLSLMVV2ZGOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MYPYYJXSR63ZQ6GZWIPPNJ3F56JOAGYE3D6FI6FBUEVNTESIUXGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMSDK2Q323OMU7G2K67ULQ4E5RBFTS36S6JWV33SVAGMXPYI24JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VVKGMHQ7IYVXB6WCBWSHOGRH5BYT4AID4G4DT6RLDVDBQR7J47A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FW2XTWPYZTI4JAIUTNBIACDWS245T6DZQ7XKAFGH2NARLFFIIQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NILZY3JFTCO3FLGHDBV53UECNEYVNEXVFGZAL3ZT3XG5PNOI6KOQ/main.js"
            ]
        },
        "ListDirectoryRegistrations": {
            "http": {
                "method": "GET",
                "requestUri": "/directoryRegistrations",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "MaxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "NextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DirectoryRegistrations": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Arn": {},
                                "DirectoryId": {},
                                "Status": {},
                                "StatusReason": {},
                                "CreatedAt": {
                                    "type": "timestamp"
                                },
                                "UpdatedAt": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUYKSQ6QEEWEUME4VOBZN34YDMKLOYMDGSDP4BSZLOY5PGAR4ZZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABXGUXNQF5LJKBW5FSD5DIEIJBGTKY2U777C5U3KAHG6GTUHFY2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI2X7YCHFJSBEEW4INEDLBX7MRKVK27TPLOLD222V4OX6PGCEACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVJNPRXK7RCFFACPBECG6VXPMJMP3QLRB2US7YT2D2LFQ7DNDOKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q55AVH4TLFHI6B5O5OAQ2JHMVTGYA6P5LAYONKSTTBNCOTHSEZOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XE5SD67UMKMIR6TIN77VBG4SEK6EUMRYMF4Q6OETI4GGUEUUK52Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KP5XGXMSLA3PFQHQANBWTVC4BW2CFJUOEUMSQZMWEU5LXAS523JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LPEAFQP3KBUUOBWO6POZJHZQEJJMXE6N26DKWYAYOZP7LTWOE47Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNNZT43ZPRR3XO6GMNZJOL6FGQNVZOBBJ2LTRJ2CTBAO2ANEIRJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AI6CDPHTKX4F3CUYZOW3NR4HLHIEV3DPZV74WNPBR5PIJGDJ5JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2SCJCEYDOQHSA54AIMD7I54JQKEFKNGBGTAWQCJ4UYCOXIXQKYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DV74D52SI2U2NV7ZLVE5LZIWXQVEDASF2PC6PHGNB2AGVTD7TZTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7UPQZVINZMBSYWBWBQHA447IPQDKOMW6MXGJ5NU3F6TGRMOCXWKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQUXPM4HB6K47YE447G6UJXT6OCMJEVB3BGJ7A3YCSCIT6FNE2PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOKVY5AU5E5LHQFJMKJ7LTGX53UOELGJGRL6GU7GBH7TKOP2QBKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LQ6CU2M7LC2ZM4FTUUZPGGDQUS7MZSHKRRS2UCZ2WUR7JTXTJTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JIUBY73DCYLXPU6BMHX22KFLEDGPOZKXLVGTJFKWOLSLMVV2ZGOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MYPYYJXSR63ZQ6GZWIPPNJ3F56JOAGYE3D6FI6FBUEVNTESIUXGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMSDK2Q323OMU7G2K67ULQ4E5RBFTS36S6JWV33SVAGMXPYI24JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VVKGMHQ7IYVXB6WCBWSHOGRH5BYT4AID4G4DT6RLDVDBQR7J47A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FW2XTWPYZTI4JAIUTNBIACDWS245T6DZQ7XKAFGH2NARLFFIIQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NILZY3JFTCO3FLGHDBV53UECNEYVNEXVFGZAL3ZT3XG5PNOI6KOQ/main.js"
            ]
        },
        "ListServicePrincipalNames": {
            "http": {
                "method": "GET",
                "requestUri": "/directoryRegistrations/{DirectoryRegistrationArn}/servicePrincipalNames",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryRegistrationArn"
                ],
                "members": {
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "MaxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "NextToken"
                    },
                    "DirectoryRegistrationArn": {
                        "location": "uri",
                        "locationName": "DirectoryRegistrationArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ServicePrincipalNames": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "DirectoryRegistrationArn": {},
                                "ConnectorArn": {},
                                "Status": {},
                                "StatusReason": {},
                                "CreatedAt": {
                                    "type": "timestamp"
                                },
                                "UpdatedAt": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUYKSQ6QEEWEUME4VOBZN34YDMKLOYMDGSDP4BSZLOY5PGAR4ZZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABXGUXNQF5LJKBW5FSD5DIEIJBGTKY2U777C5U3KAHG6GTUHFY2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI2X7YCHFJSBEEW4INEDLBX7MRKVK27TPLOLD222V4OX6PGCEACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVJNPRXK7RCFFACPBECG6VXPMJMP3QLRB2US7YT2D2LFQ7DNDOKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q55AVH4TLFHI6B5O5OAQ2JHMVTGYA6P5LAYONKSTTBNCOTHSEZOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XE5SD67UMKMIR6TIN77VBG4SEK6EUMRYMF4Q6OETI4GGUEUUK52Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KP5XGXMSLA3PFQHQANBWTVC4BW2CFJUOEUMSQZMWEU5LXAS523JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LPEAFQP3KBUUOBWO6POZJHZQEJJMXE6N26DKWYAYOZP7LTWOE47Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNNZT43ZPRR3XO6GMNZJOL6FGQNVZOBBJ2LTRJ2CTBAO2ANEIRJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AI6CDPHTKX4F3CUYZOW3NR4HLHIEV3DPZV74WNPBR5PIJGDJ5JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2SCJCEYDOQHSA54AIMD7I54JQKEFKNGBGTAWQCJ4UYCOXIXQKYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DV74D52SI2U2NV7ZLVE5LZIWXQVEDASF2PC6PHGNB2AGVTD7TZTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7UPQZVINZMBSYWBWBQHA447IPQDKOMW6MXGJ5NU3F6TGRMOCXWKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQUXPM4HB6K47YE447G6UJXT6OCMJEVB3BGJ7A3YCSCIT6FNE2PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOKVY5AU5E5LHQFJMKJ7LTGX53UOELGJGRL6GU7GBH7TKOP2QBKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LQ6CU2M7LC2ZM4FTUUZPGGDQUS7MZSHKRRS2UCZ2WUR7JTXTJTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JIUBY73DCYLXPU6BMHX22KFLEDGPOZKXLVGTJFKWOLSLMVV2ZGOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MYPYYJXSR63ZQ6GZWIPPNJ3F56JOAGYE3D6FI6FBUEVNTESIUXGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMSDK2Q323OMU7G2K67ULQ4E5RBFTS36S6JWV33SVAGMXPYI24JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VVKGMHQ7IYVXB6WCBWSHOGRH5BYT4AID4G4DT6RLDVDBQR7J47A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FW2XTWPYZTI4JAIUTNBIACDWS245T6DZQ7XKAFGH2NARLFFIIQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NILZY3JFTCO3FLGHDBV53UECNEYVNEXVFGZAL3ZT3XG5PNOI6KOQ/main.js"
            ]
        },
        "ListTagsForResource": {
            "http": {
                "method": "GET",
                "requestUri": "/tags/{ResourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn"
                ],
                "members": {
                    "ResourceArn": {
                        "location": "uri",
                        "locationName": "ResourceArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Tags": {
                        "shape": "S8"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUYKSQ6QEEWEUME4VOBZN34YDMKLOYMDGSDP4BSZLOY5PGAR4ZZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABXGUXNQF5LJKBW5FSD5DIEIJBGTKY2U777C5U3KAHG6GTUHFY2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI2X7YCHFJSBEEW4INEDLBX7MRKVK27TPLOLD222V4OX6PGCEACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVJNPRXK7RCFFACPBECG6VXPMJMP3QLRB2US7YT2D2LFQ7DNDOKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q55AVH4TLFHI6B5O5OAQ2JHMVTGYA6P5LAYONKSTTBNCOTHSEZOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XE5SD67UMKMIR6TIN77VBG4SEK6EUMRYMF4Q6OETI4GGUEUUK52Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KP5XGXMSLA3PFQHQANBWTVC4BW2CFJUOEUMSQZMWEU5LXAS523JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LPEAFQP3KBUUOBWO6POZJHZQEJJMXE6N26DKWYAYOZP7LTWOE47Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNNZT43ZPRR3XO6GMNZJOL6FGQNVZOBBJ2LTRJ2CTBAO2ANEIRJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AI6CDPHTKX4F3CUYZOW3NR4HLHIEV3DPZV74WNPBR5PIJGDJ5JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2SCJCEYDOQHSA54AIMD7I54JQKEFKNGBGTAWQCJ4UYCOXIXQKYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DV74D52SI2U2NV7ZLVE5LZIWXQVEDASF2PC6PHGNB2AGVTD7TZTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7UPQZVINZMBSYWBWBQHA447IPQDKOMW6MXGJ5NU3F6TGRMOCXWKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQUXPM4HB6K47YE447G6UJXT6OCMJEVB3BGJ7A3YCSCIT6FNE2PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOKVY5AU5E5LHQFJMKJ7LTGX53UOELGJGRL6GU7GBH7TKOP2QBKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LQ6CU2M7LC2ZM4FTUUZPGGDQUS7MZSHKRRS2UCZ2WUR7JTXTJTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JIUBY73DCYLXPU6BMHX22KFLEDGPOZKXLVGTJFKWOLSLMVV2ZGOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MYPYYJXSR63ZQ6GZWIPPNJ3F56JOAGYE3D6FI6FBUEVNTESIUXGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMSDK2Q323OMU7G2K67ULQ4E5RBFTS36S6JWV33SVAGMXPYI24JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VVKGMHQ7IYVXB6WCBWSHOGRH5BYT4AID4G4DT6RLDVDBQR7J47A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FW2XTWPYZTI4JAIUTNBIACDWS245T6DZQ7XKAFGH2NARLFFIIQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NILZY3JFTCO3FLGHDBV53UECNEYVNEXVFGZAL3ZT3XG5PNOI6KOQ/main.js"
            ]
        },
        "ListTemplateGroupAccessControlEntries": {
            "http": {
                "method": "GET",
                "requestUri": "/templates/{TemplateArn}/accessControlEntries",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "TemplateArn"
                ],
                "members": {
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "MaxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "NextToken"
                    },
                    "TemplateArn": {
                        "location": "uri",
                        "locationName": "TemplateArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AccessControlEntries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "GroupDisplayName": {},
                                "GroupSecurityIdentifier": {},
                                "AccessRights": {
                                    "shape": "S20"
                                },
                                "TemplateArn": {},
                                "CreatedAt": {
                                    "type": "timestamp"
                                },
                                "UpdatedAt": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUYKSQ6QEEWEUME4VOBZN34YDMKLOYMDGSDP4BSZLOY5PGAR4ZZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABXGUXNQF5LJKBW5FSD5DIEIJBGTKY2U777C5U3KAHG6GTUHFY2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI2X7YCHFJSBEEW4INEDLBX7MRKVK27TPLOLD222V4OX6PGCEACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVJNPRXK7RCFFACPBECG6VXPMJMP3QLRB2US7YT2D2LFQ7DNDOKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q55AVH4TLFHI6B5O5OAQ2JHMVTGYA6P5LAYONKSTTBNCOTHSEZOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XE5SD67UMKMIR6TIN77VBG4SEK6EUMRYMF4Q6OETI4GGUEUUK52Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KP5XGXMSLA3PFQHQANBWTVC4BW2CFJUOEUMSQZMWEU5LXAS523JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LPEAFQP3KBUUOBWO6POZJHZQEJJMXE6N26DKWYAYOZP7LTWOE47Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNNZT43ZPRR3XO6GMNZJOL6FGQNVZOBBJ2LTRJ2CTBAO2ANEIRJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AI6CDPHTKX4F3CUYZOW3NR4HLHIEV3DPZV74WNPBR5PIJGDJ5JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2SCJCEYDOQHSA54AIMD7I54JQKEFKNGBGTAWQCJ4UYCOXIXQKYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DV74D52SI2U2NV7ZLVE5LZIWXQVEDASF2PC6PHGNB2AGVTD7TZTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7UPQZVINZMBSYWBWBQHA447IPQDKOMW6MXGJ5NU3F6TGRMOCXWKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQUXPM4HB6K47YE447G6UJXT6OCMJEVB3BGJ7A3YCSCIT6FNE2PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOKVY5AU5E5LHQFJMKJ7LTGX53UOELGJGRL6GU7GBH7TKOP2QBKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LQ6CU2M7LC2ZM4FTUUZPGGDQUS7MZSHKRRS2UCZ2WUR7JTXTJTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JIUBY73DCYLXPU6BMHX22KFLEDGPOZKXLVGTJFKWOLSLMVV2ZGOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MYPYYJXSR63ZQ6GZWIPPNJ3F56JOAGYE3D6FI6FBUEVNTESIUXGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMSDK2Q323OMU7G2K67ULQ4E5RBFTS36S6JWV33SVAGMXPYI24JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VVKGMHQ7IYVXB6WCBWSHOGRH5BYT4AID4G4DT6RLDVDBQR7J47A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FW2XTWPYZTI4JAIUTNBIACDWS245T6DZQ7XKAFGH2NARLFFIIQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NILZY3JFTCO3FLGHDBV53UECNEYVNEXVFGZAL3ZT3XG5PNOI6KOQ/main.js"
            ]
        },
        "ListTemplates": {
            "http": {
                "method": "GET",
                "requestUri": "/templates",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ConnectorArn"
                ],
                "members": {
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "MaxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "NextToken"
                    },
                    "ConnectorArn": {
                        "location": "querystring",
                        "locationName": "ConnectorArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Templates": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Arn": {},
                                "ConnectorArn": {},
                                "Definition": {
                                    "shape": "Si"
                                },
                                "Name": {},
                                "ObjectIdentifier": {},
                                "PolicySchema": {
                                    "type": "integer"
                                },
                                "Status": {},
                                "Revision": {
                                    "shape": "S2s"
                                },
                                "CreatedAt": {
                                    "type": "timestamp"
                                },
                                "UpdatedAt": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUYKSQ6QEEWEUME4VOBZN34YDMKLOYMDGSDP4BSZLOY5PGAR4ZZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABXGUXNQF5LJKBW5FSD5DIEIJBGTKY2U777C5U3KAHG6GTUHFY2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI2X7YCHFJSBEEW4INEDLBX7MRKVK27TPLOLD222V4OX6PGCEACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVJNPRXK7RCFFACPBECG6VXPMJMP3QLRB2US7YT2D2LFQ7DNDOKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q55AVH4TLFHI6B5O5OAQ2JHMVTGYA6P5LAYONKSTTBNCOTHSEZOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XE5SD67UMKMIR6TIN77VBG4SEK6EUMRYMF4Q6OETI4GGUEUUK52Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KP5XGXMSLA3PFQHQANBWTVC4BW2CFJUOEUMSQZMWEU5LXAS523JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LPEAFQP3KBUUOBWO6POZJHZQEJJMXE6N26DKWYAYOZP7LTWOE47Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNNZT43ZPRR3XO6GMNZJOL6FGQNVZOBBJ2LTRJ2CTBAO2ANEIRJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AI6CDPHTKX4F3CUYZOW3NR4HLHIEV3DPZV74WNPBR5PIJGDJ5JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2SCJCEYDOQHSA54AIMD7I54JQKEFKNGBGTAWQCJ4UYCOXIXQKYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DV74D52SI2U2NV7ZLVE5LZIWXQVEDASF2PC6PHGNB2AGVTD7TZTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7UPQZVINZMBSYWBWBQHA447IPQDKOMW6MXGJ5NU3F6TGRMOCXWKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQUXPM4HB6K47YE447G6UJXT6OCMJEVB3BGJ7A3YCSCIT6FNE2PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOKVY5AU5E5LHQFJMKJ7LTGX53UOELGJGRL6GU7GBH7TKOP2QBKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LQ6CU2M7LC2ZM4FTUUZPGGDQUS7MZSHKRRS2UCZ2WUR7JTXTJTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JIUBY73DCYLXPU6BMHX22KFLEDGPOZKXLVGTJFKWOLSLMVV2ZGOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MYPYYJXSR63ZQ6GZWIPPNJ3F56JOAGYE3D6FI6FBUEVNTESIUXGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMSDK2Q323OMU7G2K67ULQ4E5RBFTS36S6JWV33SVAGMXPYI24JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VVKGMHQ7IYVXB6WCBWSHOGRH5BYT4AID4G4DT6RLDVDBQR7J47A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FW2XTWPYZTI4JAIUTNBIACDWS245T6DZQ7XKAFGH2NARLFFIIQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NILZY3JFTCO3FLGHDBV53UECNEYVNEXVFGZAL3ZT3XG5PNOI6KOQ/main.js"
            ]
        },
        "TagResource": {
            "http": {
                "requestUri": "/tags/{ResourceArn}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn",
                    "Tags"
                ],
                "members": {
                    "ResourceArn": {
                        "location": "uri",
                        "locationName": "ResourceArn"
                    },
                    "Tags": {
                        "shape": "S8"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUYKSQ6QEEWEUME4VOBZN34YDMKLOYMDGSDP4BSZLOY5PGAR4ZZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABXGUXNQF5LJKBW5FSD5DIEIJBGTKY2U777C5U3KAHG6GTUHFY2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI2X7YCHFJSBEEW4INEDLBX7MRKVK27TPLOLD222V4OX6PGCEACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVJNPRXK7RCFFACPBECG6VXPMJMP3QLRB2US7YT2D2LFQ7DNDOKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q55AVH4TLFHI6B5O5OAQ2JHMVTGYA6P5LAYONKSTTBNCOTHSEZOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XE5SD67UMKMIR6TIN77VBG4SEK6EUMRYMF4Q6OETI4GGUEUUK52Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KP5XGXMSLA3PFQHQANBWTVC4BW2CFJUOEUMSQZMWEU5LXAS523JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LPEAFQP3KBUUOBWO6POZJHZQEJJMXE6N26DKWYAYOZP7LTWOE47Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNNZT43ZPRR3XO6GMNZJOL6FGQNVZOBBJ2LTRJ2CTBAO2ANEIRJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AI6CDPHTKX4F3CUYZOW3NR4HLHIEV3DPZV74WNPBR5PIJGDJ5JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2SCJCEYDOQHSA54AIMD7I54JQKEFKNGBGTAWQCJ4UYCOXIXQKYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DV74D52SI2U2NV7ZLVE5LZIWXQVEDASF2PC6PHGNB2AGVTD7TZTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7UPQZVINZMBSYWBWBQHA447IPQDKOMW6MXGJ5NU3F6TGRMOCXWKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQUXPM4HB6K47YE447G6UJXT6OCMJEVB3BGJ7A3YCSCIT6FNE2PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOKVY5AU5E5LHQFJMKJ7LTGX53UOELGJGRL6GU7GBH7TKOP2QBKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LQ6CU2M7LC2ZM4FTUUZPGGDQUS7MZSHKRRS2UCZ2WUR7JTXTJTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JIUBY73DCYLXPU6BMHX22KFLEDGPOZKXLVGTJFKWOLSLMVV2ZGOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MYPYYJXSR63ZQ6GZWIPPNJ3F56JOAGYE3D6FI6FBUEVNTESIUXGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMSDK2Q323OMU7G2K67ULQ4E5RBFTS36S6JWV33SVAGMXPYI24JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VVKGMHQ7IYVXB6WCBWSHOGRH5BYT4AID4G4DT6RLDVDBQR7J47A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FW2XTWPYZTI4JAIUTNBIACDWS245T6DZQ7XKAFGH2NARLFFIIQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NILZY3JFTCO3FLGHDBV53UECNEYVNEXVFGZAL3ZT3XG5PNOI6KOQ/main.js"
            ]
        },
        "UntagResource": {
            "http": {
                "method": "DELETE",
                "requestUri": "/tags/{ResourceArn}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn",
                    "TagKeys"
                ],
                "members": {
                    "ResourceArn": {
                        "location": "uri",
                        "locationName": "ResourceArn"
                    },
                    "TagKeys": {
                        "location": "querystring",
                        "locationName": "tagKeys",
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUYKSQ6QEEWEUME4VOBZN34YDMKLOYMDGSDP4BSZLOY5PGAR4ZZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABXGUXNQF5LJKBW5FSD5DIEIJBGTKY2U777C5U3KAHG6GTUHFY2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI2X7YCHFJSBEEW4INEDLBX7MRKVK27TPLOLD222V4OX6PGCEACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVJNPRXK7RCFFACPBECG6VXPMJMP3QLRB2US7YT2D2LFQ7DNDOKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q55AVH4TLFHI6B5O5OAQ2JHMVTGYA6P5LAYONKSTTBNCOTHSEZOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XE5SD67UMKMIR6TIN77VBG4SEK6EUMRYMF4Q6OETI4GGUEUUK52Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KP5XGXMSLA3PFQHQANBWTVC4BW2CFJUOEUMSQZMWEU5LXAS523JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LPEAFQP3KBUUOBWO6POZJHZQEJJMXE6N26DKWYAYOZP7LTWOE47Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNNZT43ZPRR3XO6GMNZJOL6FGQNVZOBBJ2LTRJ2CTBAO2ANEIRJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AI6CDPHTKX4F3CUYZOW3NR4HLHIEV3DPZV74WNPBR5PIJGDJ5JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2SCJCEYDOQHSA54AIMD7I54JQKEFKNGBGTAWQCJ4UYCOXIXQKYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DV74D52SI2U2NV7ZLVE5LZIWXQVEDASF2PC6PHGNB2AGVTD7TZTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7UPQZVINZMBSYWBWBQHA447IPQDKOMW6MXGJ5NU3F6TGRMOCXWKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQUXPM4HB6K47YE447G6UJXT6OCMJEVB3BGJ7A3YCSCIT6FNE2PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOKVY5AU5E5LHQFJMKJ7LTGX53UOELGJGRL6GU7GBH7TKOP2QBKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LQ6CU2M7LC2ZM4FTUUZPGGDQUS7MZSHKRRS2UCZ2WUR7JTXTJTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JIUBY73DCYLXPU6BMHX22KFLEDGPOZKXLVGTJFKWOLSLMVV2ZGOA/main.js",
[...]
