{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-05-10",
        "endpointPrefix": "pca-connector-ad",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "PcaConnectorAd",
        "serviceId": "PcaConnectorAd",
        "signatureVersion": "v4",
        "signingName": "pca-connector-ad",
        "uid": "pcaconnectorad-2018-05-10",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/TNILSWKLRBQCT4TMWFLEFM3LZHEGSLHTCGCN7YHUOPKJ3I3ZHN3Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YC5HCHHTLMT5BNRO4BVXUB64XPW2LPHX7MZN3BFLPAVPLRSK3W2A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IW3WZJQDLDOUDRCWXCXLXHV5WEVCE5JAV2AVGQCJNOAFGSQN4SEA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YV7UX6LWO6A737A7PFRBDDGTP6CSHJ74QO24ZAVPYGX36QALDCTA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OSGQ2TGOLXHH6YVEAC3SRNVWZAFLJSIUNE3HXPRYKG5Q6LOZRUIQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J4YSDDVCU7OXMAUFLVK2FVO4EPUVZME7CKJQVG2MW24YU2Y6IRQQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VXDMBWE4GHC5RSLKTJKUQCV2SNEBFKJ2BHPMCWT7GGV6F24SBERQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MED3KDNUD5BLXM4R2EHZ5SQR5KNDD63IF7V25O4ZHH45AC2LUVJQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XVLLYSOBPYGN7FHCG743QLCCLRWQEU3GU7GAJJURU5QKGZ65QVSQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RYQOYNGGEE5FSV6OCH3RWMTNMIPJSRLWRNF7IHAWT4N26T4XFT6A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OA3VXMG6C6XYUFZGL3NMWRWDLDHQD376KNISBNEWNSDMRAIDMHGA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/F7LGDMI7WVTZ4IFWKDG2UE7MY5IL5K456PGHE6RCKLGKXWNN5I3A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CLD4TYXLTVZTCFXZASD5TMCVNVKOJ6F7MN3JMNVWNKNNIWHMOAEA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RLTETF2M7XNVGYSROTMKXYJ53XBHMGFBAK6GL5NSSCLZLO2PAWFQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7ZYGC32TTIFZOBVFLTBJFC4GTFNHVOL5RBBIXLUCXO7YDF2VWIZA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/U76ZD34EDG5DM5KAN3GQGFGVXVG5XX3I3OZZZLDRKZPKLDXM6SKQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2MCT65FU6ND3UHOGS477GW3UQVSDXNE5B2EUVG522XATC42GRHBQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AJMYCODFQPQQ63BPOPM4PCUSINY5GTZNHRV6ANQH7SFZ36W5VYLA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/P2VT3MFZI42KTL5CECHLAGV5HTGXGHXBEUVDRKLOJG5K34A2TWMA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HLHYIVEKTHDIN6YMGLYHXKNDY3JHSEXBNBY6ADWXCDM5NRJOJ5XQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2QN3NBXXLVLSK6YEB22HKLGWDVVNYYD4YPJMEI2QJQQWD4T3BAAA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5O7RNIFK7QVK6YJHKAF32T2E2QLBRW3OFB42QWODU2ZFILEKMZQA/main.js"
        ]
    },
    "operations": {
        "CreateConnector": {
            "http": {
                "requestUri": "/connectors",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId",
                    "CertificateAuthorityArn",
                    "VpcInformation"
                ],
                "members": {
                    "DirectoryId": {},
                    "CertificateAuthorityArn": {},
                    "VpcInformation": {
                        "shape": "S4"
                    },
                    "ClientToken": {
                        "idempotencyToken": true
                    },
                    "Tags": {
                        "shape": "S8"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ConnectorArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC5HCHHTLMT5BNRO4BVXUB64XPW2LPHX7MZN3BFLPAVPLRSK3W2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW3WZJQDLDOUDRCWXCXLXHV5WEVCE5JAV2AVGQCJNOAFGSQN4SEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV7UX6LWO6A737A7PFRBDDGTP6CSHJ74QO24ZAVPYGX36QALDCTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSGQ2TGOLXHH6YVEAC3SRNVWZAFLJSIUNE3HXPRYKG5Q6LOZRUIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4YSDDVCU7OXMAUFLVK2FVO4EPUVZME7CKJQVG2MW24YU2Y6IRQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXDMBWE4GHC5RSLKTJKUQCV2SNEBFKJ2BHPMCWT7GGV6F24SBERQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MED3KDNUD5BLXM4R2EHZ5SQR5KNDD63IF7V25O4ZHH45AC2LUVJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVLLYSOBPYGN7FHCG743QLCCLRWQEU3GU7GAJJURU5QKGZ65QVSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYQOYNGGEE5FSV6OCH3RWMTNMIPJSRLWRNF7IHAWT4N26T4XFT6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OA3VXMG6C6XYUFZGL3NMWRWDLDHQD376KNISBNEWNSDMRAIDMHGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F7LGDMI7WVTZ4IFWKDG2UE7MY5IL5K456PGHE6RCKLGKXWNN5I3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLD4TYXLTVZTCFXZASD5TMCVNVKOJ6F7MN3JMNVWNKNNIWHMOAEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLTETF2M7XNVGYSROTMKXYJ53XBHMGFBAK6GL5NSSCLZLO2PAWFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZYGC32TTIFZOBVFLTBJFC4GTFNHVOL5RBBIXLUCXO7YDF2VWIZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U76ZD34EDG5DM5KAN3GQGFGVXVG5XX3I3OZZZLDRKZPKLDXM6SKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MCT65FU6ND3UHOGS477GW3UQVSDXNE5B2EUVG522XATC42GRHBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJMYCODFQPQQ63BPOPM4PCUSINY5GTZNHRV6ANQH7SFZ36W5VYLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2VT3MFZI42KTL5CECHLAGV5HTGXGHXBEUVDRKLOJG5K34A2TWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HLHYIVEKTHDIN6YMGLYHXKNDY3JHSEXBNBY6ADWXCDM5NRJOJ5XQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QN3NBXXLVLSK6YEB22HKLGWDVVNYYD4YPJMEI2QJQQWD4T3BAAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5O7RNIFK7QVK6YJHKAF32T2E2QLBRW3OFB42QWODU2ZFILEKMZQA/main.js"
            ]
        },
        "CreateDirectoryRegistration": {
            "http": {
                "requestUri": "/directoryRegistrations",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId"
                ],
                "members": {
                    "DirectoryId": {},
                    "ClientToken": {
                        "idempotencyToken": true
                    },
                    "Tags": {
                        "shape": "S8"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DirectoryRegistrationArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC5HCHHTLMT5BNRO4BVXUB64XPW2LPHX7MZN3BFLPAVPLRSK3W2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW3WZJQDLDOUDRCWXCXLXHV5WEVCE5JAV2AVGQCJNOAFGSQN4SEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV7UX6LWO6A737A7PFRBDDGTP6CSHJ74QO24ZAVPYGX36QALDCTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSGQ2TGOLXHH6YVEAC3SRNVWZAFLJSIUNE3HXPRYKG5Q6LOZRUIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4YSDDVCU7OXMAUFLVK2FVO4EPUVZME7CKJQVG2MW24YU2Y6IRQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXDMBWE4GHC5RSLKTJKUQCV2SNEBFKJ2BHPMCWT7GGV6F24SBERQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MED3KDNUD5BLXM4R2EHZ5SQR5KNDD63IF7V25O4ZHH45AC2LUVJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVLLYSOBPYGN7FHCG743QLCCLRWQEU3GU7GAJJURU5QKGZ65QVSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYQOYNGGEE5FSV6OCH3RWMTNMIPJSRLWRNF7IHAWT4N26T4XFT6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OA3VXMG6C6XYUFZGL3NMWRWDLDHQD376KNISBNEWNSDMRAIDMHGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F7LGDMI7WVTZ4IFWKDG2UE7MY5IL5K456PGHE6RCKLGKXWNN5I3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLD4TYXLTVZTCFXZASD5TMCVNVKOJ6F7MN3JMNVWNKNNIWHMOAEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLTETF2M7XNVGYSROTMKXYJ53XBHMGFBAK6GL5NSSCLZLO2PAWFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZYGC32TTIFZOBVFLTBJFC4GTFNHVOL5RBBIXLUCXO7YDF2VWIZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U76ZD34EDG5DM5KAN3GQGFGVXVG5XX3I3OZZZLDRKZPKLDXM6SKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MCT65FU6ND3UHOGS477GW3UQVSDXNE5B2EUVG522XATC42GRHBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJMYCODFQPQQ63BPOPM4PCUSINY5GTZNHRV6ANQH7SFZ36W5VYLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2VT3MFZI42KTL5CECHLAGV5HTGXGHXBEUVDRKLOJG5K34A2TWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HLHYIVEKTHDIN6YMGLYHXKNDY3JHSEXBNBY6ADWXCDM5NRJOJ5XQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QN3NBXXLVLSK6YEB22HKLGWDVVNYYD4YPJMEI2QJQQWD4T3BAAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5O7RNIFK7QVK6YJHKAF32T2E2QLBRW3OFB42QWODU2ZFILEKMZQA/main.js"
            ]
        },
        "CreateServicePrincipalName": {
            "http": {
                "requestUri": "/directoryRegistrations/{DirectoryRegistrationArn}/servicePrincipalNames/{ConnectorArn}",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryRegistrationArn",
                    "ConnectorArn"
                ],
                "members": {
                    "DirectoryRegistrationArn": {
                        "location": "uri",
                        "locationName": "DirectoryRegistrationArn"
                    },
                    "ConnectorArn": {
                        "location": "uri",
                        "locationName": "ConnectorArn"
                    },
                    "ClientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC5HCHHTLMT5BNRO4BVXUB64XPW2LPHX7MZN3BFLPAVPLRSK3W2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW3WZJQDLDOUDRCWXCXLXHV5WEVCE5JAV2AVGQCJNOAFGSQN4SEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV7UX6LWO6A737A7PFRBDDGTP6CSHJ74QO24ZAVPYGX36QALDCTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSGQ2TGOLXHH6YVEAC3SRNVWZAFLJSIUNE3HXPRYKG5Q6LOZRUIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4YSDDVCU7OXMAUFLVK2FVO4EPUVZME7CKJQVG2MW24YU2Y6IRQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXDMBWE4GHC5RSLKTJKUQCV2SNEBFKJ2BHPMCWT7GGV6F24SBERQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MED3KDNUD5BLXM4R2EHZ5SQR5KNDD63IF7V25O4ZHH45AC2LUVJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVLLYSOBPYGN7FHCG743QLCCLRWQEU3GU7GAJJURU5QKGZ65QVSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYQOYNGGEE5FSV6OCH3RWMTNMIPJSRLWRNF7IHAWT4N26T4XFT6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OA3VXMG6C6XYUFZGL3NMWRWDLDHQD376KNISBNEWNSDMRAIDMHGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F7LGDMI7WVTZ4IFWKDG2UE7MY5IL5K456PGHE6RCKLGKXWNN5I3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLD4TYXLTVZTCFXZASD5TMCVNVKOJ6F7MN3JMNVWNKNNIWHMOAEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLTETF2M7XNVGYSROTMKXYJ53XBHMGFBAK6GL5NSSCLZLO2PAWFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZYGC32TTIFZOBVFLTBJFC4GTFNHVOL5RBBIXLUCXO7YDF2VWIZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U76ZD34EDG5DM5KAN3GQGFGVXVG5XX3I3OZZZLDRKZPKLDXM6SKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MCT65FU6ND3UHOGS477GW3UQVSDXNE5B2EUVG522XATC42GRHBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJMYCODFQPQQ63BPOPM4PCUSINY5GTZNHRV6ANQH7SFZ36W5VYLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2VT3MFZI42KTL5CECHLAGV5HTGXGHXBEUVDRKLOJG5K34A2TWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HLHYIVEKTHDIN6YMGLYHXKNDY3JHSEXBNBY6ADWXCDM5NRJOJ5XQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QN3NBXXLVLSK6YEB22HKLGWDVVNYYD4YPJMEI2QJQQWD4T3BAAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5O7RNIFK7QVK6YJHKAF32T2E2QLBRW3OFB42QWODU2ZFILEKMZQA/main.js"
            ]
        },
        "CreateTemplate": {
            "http": {
                "requestUri": "/templates",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ConnectorArn",
                    "Name",
                    "Definition"
                ],
                "members": {
                    "ConnectorArn": {},
                    "Name": {},
                    "Definition": {
                        "shape": "Si"
                    },
                    "ClientToken": {
                        "idempotencyToken": true
                    },
                    "Tags": {
                        "shape": "S8"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "TemplateArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC5HCHHTLMT5BNRO4BVXUB64XPW2LPHX7MZN3BFLPAVPLRSK3W2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW3WZJQDLDOUDRCWXCXLXHV5WEVCE5JAV2AVGQCJNOAFGSQN4SEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV7UX6LWO6A737A7PFRBDDGTP6CSHJ74QO24ZAVPYGX36QALDCTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSGQ2TGOLXHH6YVEAC3SRNVWZAFLJSIUNE3HXPRYKG5Q6LOZRUIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4YSDDVCU7OXMAUFLVK2FVO4EPUVZME7CKJQVG2MW24YU2Y6IRQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXDMBWE4GHC5RSLKTJKUQCV2SNEBFKJ2BHPMCWT7GGV6F24SBERQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MED3KDNUD5BLXM4R2EHZ5SQR5KNDD63IF7V25O4ZHH45AC2LUVJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVLLYSOBPYGN7FHCG743QLCCLRWQEU3GU7GAJJURU5QKGZ65QVSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYQOYNGGEE5FSV6OCH3RWMTNMIPJSRLWRNF7IHAWT4N26T4XFT6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OA3VXMG6C6XYUFZGL3NMWRWDLDHQD376KNISBNEWNSDMRAIDMHGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F7LGDMI7WVTZ4IFWKDG2UE7MY5IL5K456PGHE6RCKLGKXWNN5I3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLD4TYXLTVZTCFXZASD5TMCVNVKOJ6F7MN3JMNVWNKNNIWHMOAEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLTETF2M7XNVGYSROTMKXYJ53XBHMGFBAK6GL5NSSCLZLO2PAWFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZYGC32TTIFZOBVFLTBJFC4GTFNHVOL5RBBIXLUCXO7YDF2VWIZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U76ZD34EDG5DM5KAN3GQGFGVXVG5XX3I3OZZZLDRKZPKLDXM6SKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MCT65FU6ND3UHOGS477GW3UQVSDXNE5B2EUVG522XATC42GRHBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJMYCODFQPQQ63BPOPM4PCUSINY5GTZNHRV6ANQH7SFZ36W5VYLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2VT3MFZI42KTL5CECHLAGV5HTGXGHXBEUVDRKLOJG5K34A2TWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HLHYIVEKTHDIN6YMGLYHXKNDY3JHSEXBNBY6ADWXCDM5NRJOJ5XQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QN3NBXXLVLSK6YEB22HKLGWDVVNYYD4YPJMEI2QJQQWD4T3BAAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5O7RNIFK7QVK6YJHKAF32T2E2QLBRW3OFB42QWODU2ZFILEKMZQA/main.js"
            ]
        },
        "CreateTemplateGroupAccessControlEntry": {
            "http": {
                "requestUri": "/templates/{TemplateArn}/accessControlEntries",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "TemplateArn",
                    "GroupSecurityIdentifier",
                    "GroupDisplayName",
                    "AccessRights"
                ],
                "members": {
                    "TemplateArn": {
                        "location": "uri",
                        "locationName": "TemplateArn"
                    },
                    "GroupSecurityIdentifier": {},
                    "GroupDisplayName": {},
                    "AccessRights": {
                        "shape": "S20"
                    },
                    "ClientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC5HCHHTLMT5BNRO4BVXUB64XPW2LPHX7MZN3BFLPAVPLRSK3W2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW3WZJQDLDOUDRCWXCXLXHV5WEVCE5JAV2AVGQCJNOAFGSQN4SEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV7UX6LWO6A737A7PFRBDDGTP6CSHJ74QO24ZAVPYGX36QALDCTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSGQ2TGOLXHH6YVEAC3SRNVWZAFLJSIUNE3HXPRYKG5Q6LOZRUIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4YSDDVCU7OXMAUFLVK2FVO4EPUVZME7CKJQVG2MW24YU2Y6IRQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXDMBWE4GHC5RSLKTJKUQCV2SNEBFKJ2BHPMCWT7GGV6F24SBERQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MED3KDNUD5BLXM4R2EHZ5SQR5KNDD63IF7V25O4ZHH45AC2LUVJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVLLYSOBPYGN7FHCG743QLCCLRWQEU3GU7GAJJURU5QKGZ65QVSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYQOYNGGEE5FSV6OCH3RWMTNMIPJSRLWRNF7IHAWT4N26T4XFT6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OA3VXMG6C6XYUFZGL3NMWRWDLDHQD376KNISBNEWNSDMRAIDMHGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F7LGDMI7WVTZ4IFWKDG2UE7MY5IL5K456PGHE6RCKLGKXWNN5I3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLD4TYXLTVZTCFXZASD5TMCVNVKOJ6F7MN3JMNVWNKNNIWHMOAEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLTETF2M7XNVGYSROTMKXYJ53XBHMGFBAK6GL5NSSCLZLO2PAWFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZYGC32TTIFZOBVFLTBJFC4GTFNHVOL5RBBIXLUCXO7YDF2VWIZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U76ZD34EDG5DM5KAN3GQGFGVXVG5XX3I3OZZZLDRKZPKLDXM6SKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MCT65FU6ND3UHOGS477GW3UQVSDXNE5B2EUVG522XATC42GRHBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJMYCODFQPQQ63BPOPM4PCUSINY5GTZNHRV6ANQH7SFZ36W5VYLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2VT3MFZI42KTL5CECHLAGV5HTGXGHXBEUVDRKLOJG5K34A2TWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HLHYIVEKTHDIN6YMGLYHXKNDY3JHSEXBNBY6ADWXCDM5NRJOJ5XQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QN3NBXXLVLSK6YEB22HKLGWDVVNYYD4YPJMEI2QJQQWD4T3BAAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5O7RNIFK7QVK6YJHKAF32T2E2QLBRW3OFB42QWODU2ZFILEKMZQA/main.js"
            ]
        },
        "DeleteConnector": {
            "http": {
                "method": "DELETE",
                "requestUri": "/connectors/{ConnectorArn}",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "ConnectorArn"
                ],
                "members": {
                    "ConnectorArn": {
                        "location": "uri",
                        "locationName": "ConnectorArn"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC5HCHHTLMT5BNRO4BVXUB64XPW2LPHX7MZN3BFLPAVPLRSK3W2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW3WZJQDLDOUDRCWXCXLXHV5WEVCE5JAV2AVGQCJNOAFGSQN4SEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV7UX6LWO6A737A7PFRBDDGTP6CSHJ74QO24ZAVPYGX36QALDCTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSGQ2TGOLXHH6YVEAC3SRNVWZAFLJSIUNE3HXPRYKG5Q6LOZRUIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4YSDDVCU7OXMAUFLVK2FVO4EPUVZME7CKJQVG2MW24YU2Y6IRQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXDMBWE4GHC5RSLKTJKUQCV2SNEBFKJ2BHPMCWT7GGV6F24SBERQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MED3KDNUD5BLXM4R2EHZ5SQR5KNDD63IF7V25O4ZHH45AC2LUVJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVLLYSOBPYGN7FHCG743QLCCLRWQEU3GU7GAJJURU5QKGZ65QVSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYQOYNGGEE5FSV6OCH3RWMTNMIPJSRLWRNF7IHAWT4N26T4XFT6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OA3VXMG6C6XYUFZGL3NMWRWDLDHQD376KNISBNEWNSDMRAIDMHGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F7LGDMI7WVTZ4IFWKDG2UE7MY5IL5K456PGHE6RCKLGKXWNN5I3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLD4TYXLTVZTCFXZASD5TMCVNVKOJ6F7MN3JMNVWNKNNIWHMOAEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLTETF2M7XNVGYSROTMKXYJ53XBHMGFBAK6GL5NSSCLZLO2PAWFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZYGC32TTIFZOBVFLTBJFC4GTFNHVOL5RBBIXLUCXO7YDF2VWIZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U76ZD34EDG5DM5KAN3GQGFGVXVG5XX3I3OZZZLDRKZPKLDXM6SKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MCT65FU6ND3UHOGS477GW3UQVSDXNE5B2EUVG522XATC42GRHBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJMYCODFQPQQ63BPOPM4PCUSINY5GTZNHRV6ANQH7SFZ36W5VYLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2VT3MFZI42KTL5CECHLAGV5HTGXGHXBEUVDRKLOJG5K34A2TWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HLHYIVEKTHDIN6YMGLYHXKNDY3JHSEXBNBY6ADWXCDM5NRJOJ5XQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QN3NBXXLVLSK6YEB22HKLGWDVVNYYD4YPJMEI2QJQQWD4T3BAAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5O7RNIFK7QVK6YJHKAF32T2E2QLBRW3OFB42QWODU2ZFILEKMZQA/main.js"
            ]
        },
        "DeleteDirectoryRegistration": {
            "http": {
                "method": "DELETE",
                "requestUri": "/directoryRegistrations/{DirectoryRegistrationArn}",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryRegistrationArn"
                ],
                "members": {
                    "DirectoryRegistrationArn": {
                        "location": "uri",
                        "locationName": "DirectoryRegistrationArn"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC5HCHHTLMT5BNRO4BVXUB64XPW2LPHX7MZN3BFLPAVPLRSK3W2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW3WZJQDLDOUDRCWXCXLXHV5WEVCE5JAV2AVGQCJNOAFGSQN4SEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV7UX6LWO6A737A7PFRBDDGTP6CSHJ74QO24ZAVPYGX36QALDCTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSGQ2TGOLXHH6YVEAC3SRNVWZAFLJSIUNE3HXPRYKG5Q6LOZRUIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4YSDDVCU7OXMAUFLVK2FVO4EPUVZME7CKJQVG2MW24YU2Y6IRQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXDMBWE4GHC5RSLKTJKUQCV2SNEBFKJ2BHPMCWT7GGV6F24SBERQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MED3KDNUD5BLXM4R2EHZ5SQR5KNDD63IF7V25O4ZHH45AC2LUVJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVLLYSOBPYGN7FHCG743QLCCLRWQEU3GU7GAJJURU5QKGZ65QVSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYQOYNGGEE5FSV6OCH3RWMTNMIPJSRLWRNF7IHAWT4N26T4XFT6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OA3VXMG6C6XYUFZGL3NMWRWDLDHQD376KNISBNEWNSDMRAIDMHGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F7LGDMI7WVTZ4IFWKDG2UE7MY5IL5K456PGHE6RCKLGKXWNN5I3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLD4TYXLTVZTCFXZASD5TMCVNVKOJ6F7MN3JMNVWNKNNIWHMOAEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLTETF2M7XNVGYSROTMKXYJ53XBHMGFBAK6GL5NSSCLZLO2PAWFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZYGC32TTIFZOBVFLTBJFC4GTFNHVOL5RBBIXLUCXO7YDF2VWIZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U76ZD34EDG5DM5KAN3GQGFGVXVG5XX3I3OZZZLDRKZPKLDXM6SKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MCT65FU6ND3UHOGS477GW3UQVSDXNE5B2EUVG522XATC42GRHBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJMYCODFQPQQ63BPOPM4PCUSINY5GTZNHRV6ANQH7SFZ36W5VYLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2VT3MFZI42KTL5CECHLAGV5HTGXGHXBEUVDRKLOJG5K34A2TWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HLHYIVEKTHDIN6YMGLYHXKNDY3JHSEXBNBY6ADWXCDM5NRJOJ5XQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QN3NBXXLVLSK6YEB22HKLGWDVVNYYD4YPJMEI2QJQQWD4T3BAAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5O7RNIFK7QVK6YJHKAF32T2E2QLBRW3OFB42QWODU2ZFILEKMZQA/main.js"
            ]
        },
        "DeleteServicePrincipalName": {
            "http": {
                "method": "DELETE",
                "requestUri": "/directoryRegistrations/{DirectoryRegistrationArn}/servicePrincipalNames/{ConnectorArn}",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryRegistrationArn",
                    "ConnectorArn"
                ],
                "members": {
                    "DirectoryRegistrationArn": {
                        "location": "uri",
                        "locationName": "DirectoryRegistrationArn"
                    },
                    "ConnectorArn": {
                        "location": "uri",
                        "locationName": "ConnectorArn"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC5HCHHTLMT5BNRO4BVXUB64XPW2LPHX7MZN3BFLPAVPLRSK3W2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW3WZJQDLDOUDRCWXCXLXHV5WEVCE5JAV2AVGQCJNOAFGSQN4SEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV7UX6LWO6A737A7PFRBDDGTP6CSHJ74QO24ZAVPYGX36QALDCTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSGQ2TGOLXHH6YVEAC3SRNVWZAFLJSIUNE3HXPRYKG5Q6LOZRUIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4YSDDVCU7OXMAUFLVK2FVO4EPUVZME7CKJQVG2MW24YU2Y6IRQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXDMBWE4GHC5RSLKTJKUQCV2SNEBFKJ2BHPMCWT7GGV6F24SBERQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MED3KDNUD5BLXM4R2EHZ5SQR5KNDD63IF7V25O4ZHH45AC2LUVJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVLLYSOBPYGN7FHCG743QLCCLRWQEU3GU7GAJJURU5QKGZ65QVSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYQOYNGGEE5FSV6OCH3RWMTNMIPJSRLWRNF7IHAWT4N26T4XFT6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OA3VXMG6C6XYUFZGL3NMWRWDLDHQD376KNISBNEWNSDMRAIDMHGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F7LGDMI7WVTZ4IFWKDG2UE7MY5IL5K456PGHE6RCKLGKXWNN5I3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLD4TYXLTVZTCFXZASD5TMCVNVKOJ6F7MN3JMNVWNKNNIWHMOAEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLTETF2M7XNVGYSROTMKXYJ53XBHMGFBAK6GL5NSSCLZLO2PAWFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZYGC32TTIFZOBVFLTBJFC4GTFNHVOL5RBBIXLUCXO7YDF2VWIZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U76ZD34EDG5DM5KAN3GQGFGVXVG5XX3I3OZZZLDRKZPKLDXM6SKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MCT65FU6ND3UHOGS477GW3UQVSDXNE5B2EUVG522XATC42GRHBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJMYCODFQPQQ63BPOPM4PCUSINY5GTZNHRV6ANQH7SFZ36W5VYLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2VT3MFZI42KTL5CECHLAGV5HTGXGHXBEUVDRKLOJG5K34A2TWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HLHYIVEKTHDIN6YMGLYHXKNDY3JHSEXBNBY6ADWXCDM5NRJOJ5XQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QN3NBXXLVLSK6YEB22HKLGWDVVNYYD4YPJMEI2QJQQWD4T3BAAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5O7RNIFK7QVK6YJHKAF32T2E2QLBRW3OFB42QWODU2ZFILEKMZQA/main.js"
            ]
        },
        "DeleteTemplate": {
            "http": {
                "method": "DELETE",
                "requestUri": "/templates/{TemplateArn}",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "TemplateArn"
                ],
                "members": {
                    "TemplateArn": {
                        "location": "uri",
                        "locationName": "TemplateArn"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC5HCHHTLMT5BNRO4BVXUB64XPW2LPHX7MZN3BFLPAVPLRSK3W2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW3WZJQDLDOUDRCWXCXLXHV5WEVCE5JAV2AVGQCJNOAFGSQN4SEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV7UX6LWO6A737A7PFRBDDGTP6CSHJ74QO24ZAVPYGX36QALDCTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSGQ2TGOLXHH6YVEAC3SRNVWZAFLJSIUNE3HXPRYKG5Q6LOZRUIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4YSDDVCU7OXMAUFLVK2FVO4EPUVZME7CKJQVG2MW24YU2Y6IRQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXDMBWE4GHC5RSLKTJKUQCV2SNEBFKJ2BHPMCWT7GGV6F24SBERQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MED3KDNUD5BLXM4R2EHZ5SQR5KNDD63IF7V25O4ZHH45AC2LUVJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVLLYSOBPYGN7FHCG743QLCCLRWQEU3GU7GAJJURU5QKGZ65QVSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYQOYNGGEE5FSV6OCH3RWMTNMIPJSRLWRNF7IHAWT4N26T4XFT6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OA3VXMG6C6XYUFZGL3NMWRWDLDHQD376KNISBNEWNSDMRAIDMHGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F7LGDMI7WVTZ4IFWKDG2UE7MY5IL5K456PGHE6RCKLGKXWNN5I3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLD4TYXLTVZTCFXZASD5TMCVNVKOJ6F7MN3JMNVWNKNNIWHMOAEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLTETF2M7XNVGYSROTMKXYJ53XBHMGFBAK6GL5NSSCLZLO2PAWFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZYGC32TTIFZOBVFLTBJFC4GTFNHVOL5RBBIXLUCXO7YDF2VWIZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U76ZD34EDG5DM5KAN3GQGFGVXVG5XX3I3OZZZLDRKZPKLDXM6SKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MCT65FU6ND3UHOGS477GW3UQVSDXNE5B2EUVG522XATC42GRHBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJMYCODFQPQQ63BPOPM4PCUSINY5GTZNHRV6ANQH7SFZ36W5VYLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2VT3MFZI42KTL5CECHLAGV5HTGXGHXBEUVDRKLOJG5K34A2TWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HLHYIVEKTHDIN6YMGLYHXKNDY3JHSEXBNBY6ADWXCDM5NRJOJ5XQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QN3NBXXLVLSK6YEB22HKLGWDVVNYYD4YPJMEI2QJQQWD4T3BAAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5O7RNIFK7QVK6YJHKAF32T2E2QLBRW3OFB42QWODU2ZFILEKMZQA/main.js"
            ]
        },
        "DeleteTemplateGroupAccessControlEntry": {
            "http": {
                "method": "DELETE",
                "requestUri": "/templates/{TemplateArn}/accessControlEntries/{GroupSecurityIdentifier}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "TemplateArn",
                    "GroupSecurityIdentifier"
                ],
                "members": {
                    "TemplateArn": {
                        "location": "uri",
                        "locationName": "TemplateArn"
                    },
                    "GroupSecurityIdentifier": {
                        "location": "uri",
                        "locationName": "GroupSecurityIdentifier"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC5HCHHTLMT5BNRO4BVXUB64XPW2LPHX7MZN3BFLPAVPLRSK3W2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW3WZJQDLDOUDRCWXCXLXHV5WEVCE5JAV2AVGQCJNOAFGSQN4SEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV7UX6LWO6A737A7PFRBDDGTP6CSHJ74QO24ZAVPYGX36QALDCTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSGQ2TGOLXHH6YVEAC3SRNVWZAFLJSIUNE3HXPRYKG5Q6LOZRUIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4YSDDVCU7OXMAUFLVK2FVO4EPUVZME7CKJQVG2MW24YU2Y6IRQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXDMBWE4GHC5RSLKTJKUQCV2SNEBFKJ2BHPMCWT7GGV6F24SBERQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MED3KDNUD5BLXM4R2EHZ5SQR5KNDD63IF7V25O4ZHH45AC2LUVJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVLLYSOBPYGN7FHCG743QLCCLRWQEU3GU7GAJJURU5QKGZ65QVSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYQOYNGGEE5FSV6OCH3RWMTNMIPJSRLWRNF7IHAWT4N26T4XFT6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OA3VXMG6C6XYUFZGL3NMWRWDLDHQD376KNISBNEWNSDMRAIDMHGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F7LGDMI7WVTZ4IFWKDG2UE7MY5IL5K456PGHE6RCKLGKXWNN5I3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLD4TYXLTVZTCFXZASD5TMCVNVKOJ6F7MN3JMNVWNKNNIWHMOAEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLTETF2M7XNVGYSROTMKXYJ53XBHMGFBAK6GL5NSSCLZLO2PAWFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZYGC32TTIFZOBVFLTBJFC4GTFNHVOL5RBBIXLUCXO7YDF2VWIZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U76ZD34EDG5DM5KAN3GQGFGVXVG5XX3I3OZZZLDRKZPKLDXM6SKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MCT65FU6ND3UHOGS477GW3UQVSDXNE5B2EUVG522XATC42GRHBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJMYCODFQPQQ63BPOPM4PCUSINY5GTZNHRV6ANQH7SFZ36W5VYLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2VT3MFZI42KTL5CECHLAGV5HTGXGHXBEUVDRKLOJG5K34A2TWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HLHYIVEKTHDIN6YMGLYHXKNDY3JHSEXBNBY6ADWXCDM5NRJOJ5XQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QN3NBXXLVLSK6YEB22HKLGWDVVNYYD4YPJMEI2QJQQWD4T3BAAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5O7RNIFK7QVK6YJHKAF32T2E2QLBRW3OFB42QWODU2ZFILEKMZQA/main.js"
            ]
        },
        "GetConnector": {
            "http": {
                "method": "GET",
                "requestUri": "/connectors/{ConnectorArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ConnectorArn"
                ],
                "members": {
                    "ConnectorArn": {
                        "location": "uri",
                        "locationName": "ConnectorArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Connector": {
                        "type": "structure",
                        "members": {
                            "Arn": {},
                            "CertificateAuthorityArn": {},
                            "CertificateEnrollmentPolicyServerEndpoint": {},
                            "DirectoryId": {},
                            "VpcInformation": {
                                "shape": "S4"
                            },
                            "Status": {},
                            "StatusReason": {},
                            "CreatedAt": {
                                "type": "timestamp"
                            },
                            "UpdatedAt": {
                                "type": "timestamp"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC5HCHHTLMT5BNRO4BVXUB64XPW2LPHX7MZN3BFLPAVPLRSK3W2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW3WZJQDLDOUDRCWXCXLXHV5WEVCE5JAV2AVGQCJNOAFGSQN4SEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV7UX6LWO6A737A7PFRBDDGTP6CSHJ74QO24ZAVPYGX36QALDCTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSGQ2TGOLXHH6YVEAC3SRNVWZAFLJSIUNE3HXPRYKG5Q6LOZRUIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4YSDDVCU7OXMAUFLVK2FVO4EPUVZME7CKJQVG2MW24YU2Y6IRQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXDMBWE4GHC5RSLKTJKUQCV2SNEBFKJ2BHPMCWT7GGV6F24SBERQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MED3KDNUD5BLXM4R2EHZ5SQR5KNDD63IF7V25O4ZHH45AC2LUVJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVLLYSOBPYGN7FHCG743QLCCLRWQEU3GU7GAJJURU5QKGZ65QVSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYQOYNGGEE5FSV6OCH3RWMTNMIPJSRLWRNF7IHAWT4N26T4XFT6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OA3VXMG6C6XYUFZGL3NMWRWDLDHQD376KNISBNEWNSDMRAIDMHGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F7LGDMI7WVTZ4IFWKDG2UE7MY5IL5K456PGHE6RCKLGKXWNN5I3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLD4TYXLTVZTCFXZASD5TMCVNVKOJ6F7MN3JMNVWNKNNIWHMOAEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLTETF2M7XNVGYSROTMKXYJ53XBHMGFBAK6GL5NSSCLZLO2PAWFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZYGC32TTIFZOBVFLTBJFC4GTFNHVOL5RBBIXLUCXO7YDF2VWIZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U76ZD34EDG5DM5KAN3GQGFGVXVG5XX3I3OZZZLDRKZPKLDXM6SKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MCT65FU6ND3UHOGS477GW3UQVSDXNE5B2EUVG522XATC42GRHBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJMYCODFQPQQ63BPOPM4PCUSINY5GTZNHRV6ANQH7SFZ36W5VYLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2VT3MFZI42KTL5CECHLAGV5HTGXGHXBEUVDRKLOJG5K34A2TWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HLHYIVEKTHDIN6YMGLYHXKNDY3JHSEXBNBY6ADWXCDM5NRJOJ5XQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QN3NBXXLVLSK6YEB22HKLGWDVVNYYD4YPJMEI2QJQQWD4T3BAAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5O7RNIFK7QVK6YJHKAF32T2E2QLBRW3OFB42QWODU2ZFILEKMZQA/main.js"
            ]
        },
        "GetDirectoryRegistration": {
            "http": {
                "method": "GET",
                "requestUri": "/directoryRegistrations/{DirectoryRegistrationArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryRegistrationArn"
                ],
                "members": {
                    "DirectoryRegistrationArn": {
                        "location": "uri",
                        "locationName": "DirectoryRegistrationArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DirectoryRegistration": {
                        "type": "structure",
                        "members": {
                            "Arn": {},
                            "DirectoryId": {},
                            "Status": {},
                            "StatusReason": {},
                            "CreatedAt": {
                                "type": "timestamp"
                            },
                            "UpdatedAt": {
                                "type": "timestamp"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC5HCHHTLMT5BNRO4BVXUB64XPW2LPHX7MZN3BFLPAVPLRSK3W2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW3WZJQDLDOUDRCWXCXLXHV5WEVCE5JAV2AVGQCJNOAFGSQN4SEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV7UX6LWO6A737A7PFRBDDGTP6CSHJ74QO24ZAVPYGX36QALDCTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSGQ2TGOLXHH6YVEAC3SRNVWZAFLJSIUNE3HXPRYKG5Q6LOZRUIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4YSDDVCU7OXMAUFLVK2FVO4EPUVZME7CKJQVG2MW24YU2Y6IRQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXDMBWE4GHC5RSLKTJKUQCV2SNEBFKJ2BHPMCWT7GGV6F24SBERQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MED3KDNUD5BLXM4R2EHZ5SQR5KNDD63IF7V25O4ZHH45AC2LUVJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVLLYSOBPYGN7FHCG743QLCCLRWQEU3GU7GAJJURU5QKGZ65QVSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYQOYNGGEE5FSV6OCH3RWMTNMIPJSRLWRNF7IHAWT4N26T4XFT6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OA3VXMG6C6XYUFZGL3NMWRWDLDHQD376KNISBNEWNSDMRAIDMHGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F7LGDMI7WVTZ4IFWKDG2UE7MY5IL5K456PGHE6RCKLGKXWNN5I3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLD4TYXLTVZTCFXZASD5TMCVNVKOJ6F7MN3JMNVWNKNNIWHMOAEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLTETF2M7XNVGYSROTMKXYJ53XBHMGFBAK6GL5NSSCLZLO2PAWFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZYGC32TTIFZOBVFLTBJFC4GTFNHVOL5RBBIXLUCXO7YDF2VWIZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U76ZD34EDG5DM5KAN3GQGFGVXVG5XX3I3OZZZLDRKZPKLDXM6SKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MCT65FU6ND3UHOGS477GW3UQVSDXNE5B2EUVG522XATC42GRHBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJMYCODFQPQQ63BPOPM4PCUSINY5GTZNHRV6ANQH7SFZ36W5VYLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2VT3MFZI42KTL5CECHLAGV5HTGXGHXBEUVDRKLOJG5K34A2TWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HLHYIVEKTHDIN6YMGLYHXKNDY3JHSEXBNBY6ADWXCDM5NRJOJ5XQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QN3NBXXLVLSK6YEB22HKLGWDVVNYYD4YPJMEI2QJQQWD4T3BAAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5O7RNIFK7QVK6YJHKAF32T2E2QLBRW3OFB42QWODU2ZFILEKMZQA/main.js"
            ]
        },
        "GetServicePrincipalName": {
            "http": {
                "method": "GET",
                "requestUri": "/directoryRegistrations/{DirectoryRegistrationArn}/servicePrincipalNames/{ConnectorArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryRegistrationArn",
                    "ConnectorArn"
                ],
                "members": {
                    "DirectoryRegistrationArn": {
                        "location": "uri",
                        "locationName": "DirectoryRegistrationArn"
                    },
                    "ConnectorArn": {
                        "location": "uri",
                        "locationName": "ConnectorArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ServicePrincipalName": {
                        "type": "structure",
                        "members": {
                            "DirectoryRegistrationArn": {},
                            "ConnectorArn": {},
                            "Status": {},
                            "StatusReason": {},
                            "CreatedAt": {
                                "type": "timestamp"
                            },
                            "UpdatedAt": {
                                "type": "timestamp"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC5HCHHTLMT5BNRO4BVXUB64XPW2LPHX7MZN3BFLPAVPLRSK3W2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW3WZJQDLDOUDRCWXCXLXHV5WEVCE5JAV2AVGQCJNOAFGSQN4SEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV7UX6LWO6A737A7PFRBDDGTP6CSHJ74QO24ZAVPYGX36QALDCTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSGQ2TGOLXHH6YVEAC3SRNVWZAFLJSIUNE3HXPRYKG5Q6LOZRUIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4YSDDVCU7OXMAUFLVK2FVO4EPUVZME7CKJQVG2MW24YU2Y6IRQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXDMBWE4GHC5RSLKTJKUQCV2SNEBFKJ2BHPMCWT7GGV6F24SBERQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MED3KDNUD5BLXM4R2EHZ5SQR5KNDD63IF7V25O4ZHH45AC2LUVJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVLLYSOBPYGN7FHCG743QLCCLRWQEU3GU7GAJJURU5QKGZ65QVSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYQOYNGGEE5FSV6OCH3RWMTNMIPJSRLWRNF7IHAWT4N26T4XFT6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OA3VXMG6C6XYUFZGL3NMWRWDLDHQD376KNISBNEWNSDMRAIDMHGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F7LGDMI7WVTZ4IFWKDG2UE7MY5IL5K456PGHE6RCKLGKXWNN5I3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLD4TYXLTVZTCFXZASD5TMCVNVKOJ6F7MN3JMNVWNKNNIWHMOAEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLTETF2M7XNVGYSROTMKXYJ53XBHMGFBAK6GL5NSSCLZLO2PAWFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZYGC32TTIFZOBVFLTBJFC4GTFNHVOL5RBBIXLUCXO7YDF2VWIZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U76ZD34EDG5DM5KAN3GQGFGVXVG5XX3I3OZZZLDRKZPKLDXM6SKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MCT65FU6ND3UHOGS477GW3UQVSDXNE5B2EUVG522XATC42GRHBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJMYCODFQPQQ63BPOPM4PCUSINY5GTZNHRV6ANQH7SFZ36W5VYLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2VT3MFZI42KTL5CECHLAGV5HTGXGHXBEUVDRKLOJG5K34A2TWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HLHYIVEKTHDIN6YMGLYHXKNDY3JHSEXBNBY6ADWXCDM5NRJOJ5XQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QN3NBXXLVLSK6YEB22HKLGWDVVNYYD4YPJMEI2QJQQWD4T3BAAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5O7RNIFK7QVK6YJHKAF32T2E2QLBRW3OFB42QWODU2ZFILEKMZQA/main.js"
            ]
        },
        "GetTemplate": {
            "http": {
                "method": "GET",
                "requestUri": "/templates/{TemplateArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "TemplateArn"
                ],
                "members": {
                    "TemplateArn": {
                        "location": "uri",
                        "locationName": "TemplateArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Template": {
                        "type": "structure",
                        "members": {
                            "Arn": {},
                            "ConnectorArn": {},
                            "Definition": {
                                "shape": "Si"
                            },
                            "Name": {},
                            "ObjectIdentifier": {},
                            "PolicySchema": {
                                "type": "integer"
                            },
                            "Status": {},
                            "Revision": {
                                "shape": "S2s"
                            },
                            "CreatedAt": {
                                "type": "timestamp"
                            },
                            "UpdatedAt": {
                                "type": "timestamp"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC5HCHHTLMT5BNRO4BVXUB64XPW2LPHX7MZN3BFLPAVPLRSK3W2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW3WZJQDLDOUDRCWXCXLXHV5WEVCE5JAV2AVGQCJNOAFGSQN4SEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV7UX6LWO6A737A7PFRBDDGTP6CSHJ74QO24ZAVPYGX36QALDCTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSGQ2TGOLXHH6YVEAC3SRNVWZAFLJSIUNE3HXPRYKG5Q6LOZRUIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4YSDDVCU7OXMAUFLVK2FVO4EPUVZME7CKJQVG2MW24YU2Y6IRQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXDMBWE4GHC5RSLKTJKUQCV2SNEBFKJ2BHPMCWT7GGV6F24SBERQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MED3KDNUD5BLXM4R2EHZ5SQR5KNDD63IF7V25O4ZHH45AC2LUVJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVLLYSOBPYGN7FHCG743QLCCLRWQEU3GU7GAJJURU5QKGZ65QVSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYQOYNGGEE5FSV6OCH3RWMTNMIPJSRLWRNF7IHAWT4N26T4XFT6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OA3VXMG6C6XYUFZGL3NMWRWDLDHQD376KNISBNEWNSDMRAIDMHGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F7LGDMI7WVTZ4IFWKDG2UE7MY5IL5K456PGHE6RCKLGKXWNN5I3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLD4TYXLTVZTCFXZASD5TMCVNVKOJ6F7MN3JMNVWNKNNIWHMOAEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLTETF2M7XNVGYSROTMKXYJ53XBHMGFBAK6GL5NSSCLZLO2PAWFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZYGC32TTIFZOBVFLTBJFC4GTFNHVOL5RBBIXLUCXO7YDF2VWIZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U76ZD34EDG5DM5KAN3GQGFGVXVG5XX3I3OZZZLDRKZPKLDXM6SKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MCT65FU6ND3UHOGS477GW3UQVSDXNE5B2EUVG522XATC42GRHBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJMYCODFQPQQ63BPOPM4PCUSINY5GTZNHRV6ANQH7SFZ36W5VYLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2VT3MFZI42KTL5CECHLAGV5HTGXGHXBEUVDRKLOJG5K34A2TWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HLHYIVEKTHDIN6YMGLYHXKNDY3JHSEXBNBY6ADWXCDM5NRJOJ5XQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QN3NBXXLVLSK6YEB22HKLGWDVVNYYD4YPJMEI2QJQQWD4T3BAAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5O7RNIFK7QVK6YJHKAF32T2E2QLBRW3OFB42QWODU2ZFILEKMZQA/main.js"
            ]
        },
        "GetTemplateGroupAccessControlEntry": {
            "http": {
                "method": "GET",
                "requestUri": "/templates/{TemplateArn}/accessControlEntries/{GroupSecurityIdentifier}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "TemplateArn",
                    "GroupSecurityIdentifier"
                ],
                "members": {
                    "TemplateArn": {
                        "location": "uri",
                        "locationName": "TemplateArn"
                    },
                    "GroupSecurityIdentifier": {
                        "location": "uri",
                        "locationName": "GroupSecurityIdentifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AccessControlEntry": {
                        "type": "structure",
                        "members": {
                            "GroupDisplayName": {},
                            "GroupSecurityIdentifier": {},
                            "AccessRights": {
                                "shape": "S20"
                            },
                            "TemplateArn": {},
                            "CreatedAt": {
                                "type": "timestamp"
                            },
                            "UpdatedAt": {
                                "type": "timestamp"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC5HCHHTLMT5BNRO4BVXUB64XPW2LPHX7MZN3BFLPAVPLRSK3W2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW3WZJQDLDOUDRCWXCXLXHV5WEVCE5JAV2AVGQCJNOAFGSQN4SEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV7UX6LWO6A737A7PFRBDDGTP6CSHJ74QO24ZAVPYGX36QALDCTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSGQ2TGOLXHH6YVEAC3SRNVWZAFLJSIUNE3HXPRYKG5Q6LOZRUIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4YSDDVCU7OXMAUFLVK2FVO4EPUVZME7CKJQVG2MW24YU2Y6IRQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXDMBWE4GHC5RSLKTJKUQCV2SNEBFKJ2BHPMCWT7GGV6F24SBERQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MED3KDNUD5BLXM4R2EHZ5SQR5KNDD63IF7V25O4ZHH45AC2LUVJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVLLYSOBPYGN7FHCG743QLCCLRWQEU3GU7GAJJURU5QKGZ65QVSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYQOYNGGEE5FSV6OCH3RWMTNMIPJSRLWRNF7IHAWT4N26T4XFT6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OA3VXMG6C6XYUFZGL3NMWRWDLDHQD376KNISBNEWNSDMRAIDMHGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F7LGDMI7WVTZ4IFWKDG2UE7MY5IL5K456PGHE6RCKLGKXWNN5I3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLD4TYXLTVZTCFXZASD5TMCVNVKOJ6F7MN3JMNVWNKNNIWHMOAEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLTETF2M7XNVGYSROTMKXYJ53XBHMGFBAK6GL5NSSCLZLO2PAWFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZYGC32TTIFZOBVFLTBJFC4GTFNHVOL5RBBIXLUCXO7YDF2VWIZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U76ZD34EDG5DM5KAN3GQGFGVXVG5XX3I3OZZZLDRKZPKLDXM6SKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MCT65FU6ND3UHOGS477GW3UQVSDXNE5B2EUVG522XATC42GRHBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJMYCODFQPQQ63BPOPM4PCUSINY5GTZNHRV6ANQH7SFZ36W5VYLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2VT3MFZI42KTL5CECHLAGV5HTGXGHXBEUVDRKLOJG5K34A2TWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HLHYIVEKTHDIN6YMGLYHXKNDY3JHSEXBNBY6ADWXCDM5NRJOJ5XQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QN3NBXXLVLSK6YEB22HKLGWDVVNYYD4YPJMEI2QJQQWD4T3BAAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5O7RNIFK7QVK6YJHKAF32T2E2QLBRW3OFB42QWODU2ZFILEKMZQA/main.js"
            ]
        },
        "ListConnectors": {
            "http": {
                "method": "GET",
                "requestUri": "/connectors",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "MaxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "NextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Connectors": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Arn": {},
                                "CertificateAuthorityArn": {},
                                "CertificateEnrollmentPolicyServerEndpoint": {},
                                "DirectoryId": {},
                                "VpcInformation": {
                                    "shape": "S4"
                                },
                                "Status": {},
                                "StatusReason": {},
                                "CreatedAt": {
                                    "type": "timestamp"
                                },
                                "UpdatedAt": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC5HCHHTLMT5BNRO4BVXUB64XPW2LPHX7MZN3BFLPAVPLRSK3W2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW3WZJQDLDOUDRCWXCXLXHV5WEVCE5JAV2AVGQCJNOAFGSQN4SEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV7UX6LWO6A737A7PFRBDDGTP6CSHJ74QO24ZAVPYGX36QALDCTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSGQ2TGOLXHH6YVEAC3SRNVWZAFLJSIUNE3HXPRYKG5Q6LOZRUIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4YSDDVCU7OXMAUFLVK2FVO4EPUVZME7CKJQVG2MW24YU2Y6IRQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXDMBWE4GHC5RSLKTJKUQCV2SNEBFKJ2BHPMCWT7GGV6F24SBERQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MED3KDNUD5BLXM4R2EHZ5SQR5KNDD63IF7V25O4ZHH45AC2LUVJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVLLYSOBPYGN7FHCG743QLCCLRWQEU3GU7GAJJURU5QKGZ65QVSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYQOYNGGEE5FSV6OCH3RWMTNMIPJSRLWRNF7IHAWT4N26T4XFT6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OA3VXMG6C6XYUFZGL3NMWRWDLDHQD376KNISBNEWNSDMRAIDMHGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F7LGDMI7WVTZ4IFWKDG2UE7MY5IL5K456PGHE6RCKLGKXWNN5I3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLD4TYXLTVZTCFXZASD5TMCVNVKOJ6F7MN3JMNVWNKNNIWHMOAEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLTETF2M7XNVGYSROTMKXYJ53XBHMGFBAK6GL5NSSCLZLO2PAWFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZYGC32TTIFZOBVFLTBJFC4GTFNHVOL5RBBIXLUCXO7YDF2VWIZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U76ZD34EDG5DM5KAN3GQGFGVXVG5XX3I3OZZZLDRKZPKLDXM6SKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MCT65FU6ND3UHOGS477GW3UQVSDXNE5B2EUVG522XATC42GRHBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJMYCODFQPQQ63BPOPM4PCUSINY5GTZNHRV6ANQH7SFZ36W5VYLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2VT3MFZI42KTL5CECHLAGV5HTGXGHXBEUVDRKLOJG5K34A2TWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HLHYIVEKTHDIN6YMGLYHXKNDY3JHSEXBNBY6ADWXCDM5NRJOJ5XQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QN3NBXXLVLSK6YEB22HKLGWDVVNYYD4YPJMEI2QJQQWD4T3BAAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5O7RNIFK7QVK6YJHKAF32T2E2QLBRW3OFB42QWODU2ZFILEKMZQA/main.js"
            ]
        },
        "ListDirectoryRegistrations": {
            "http": {
                "method": "GET",
                "requestUri": "/directoryRegistrations",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "MaxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "NextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DirectoryRegistrations": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Arn": {},
                                "DirectoryId": {},
                                "Status": {},
                                "StatusReason": {},
                                "CreatedAt": {
                                    "type": "timestamp"
                                },
                                "UpdatedAt": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC5HCHHTLMT5BNRO4BVXUB64XPW2LPHX7MZN3BFLPAVPLRSK3W2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW3WZJQDLDOUDRCWXCXLXHV5WEVCE5JAV2AVGQCJNOAFGSQN4SEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV7UX6LWO6A737A7PFRBDDGTP6CSHJ74QO24ZAVPYGX36QALDCTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSGQ2TGOLXHH6YVEAC3SRNVWZAFLJSIUNE3HXPRYKG5Q6LOZRUIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4YSDDVCU7OXMAUFLVK2FVO4EPUVZME7CKJQVG2MW24YU2Y6IRQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXDMBWE4GHC5RSLKTJKUQCV2SNEBFKJ2BHPMCWT7GGV6F24SBERQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MED3KDNUD5BLXM4R2EHZ5SQR5KNDD63IF7V25O4ZHH45AC2LUVJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVLLYSOBPYGN7FHCG743QLCCLRWQEU3GU7GAJJURU5QKGZ65QVSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYQOYNGGEE5FSV6OCH3RWMTNMIPJSRLWRNF7IHAWT4N26T4XFT6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OA3VXMG6C6XYUFZGL3NMWRWDLDHQD376KNISBNEWNSDMRAIDMHGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F7LGDMI7WVTZ4IFWKDG2UE7MY5IL5K456PGHE6RCKLGKXWNN5I3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLD4TYXLTVZTCFXZASD5TMCVNVKOJ6F7MN3JMNVWNKNNIWHMOAEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLTETF2M7XNVGYSROTMKXYJ53XBHMGFBAK6GL5NSSCLZLO2PAWFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZYGC32TTIFZOBVFLTBJFC4GTFNHVOL5RBBIXLUCXO7YDF2VWIZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U76ZD34EDG5DM5KAN3GQGFGVXVG5XX3I3OZZZLDRKZPKLDXM6SKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MCT65FU6ND3UHOGS477GW3UQVSDXNE5B2EUVG522XATC42GRHBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJMYCODFQPQQ63BPOPM4PCUSINY5GTZNHRV6ANQH7SFZ36W5VYLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2VT3MFZI42KTL5CECHLAGV5HTGXGHXBEUVDRKLOJG5K34A2TWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HLHYIVEKTHDIN6YMGLYHXKNDY3JHSEXBNBY6ADWXCDM5NRJOJ5XQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QN3NBXXLVLSK6YEB22HKLGWDVVNYYD4YPJMEI2QJQQWD4T3BAAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5O7RNIFK7QVK6YJHKAF32T2E2QLBRW3OFB42QWODU2ZFILEKMZQA/main.js"
            ]
        },
        "ListServicePrincipalNames": {
            "http": {
                "method": "GET",
                "requestUri": "/directoryRegistrations/{DirectoryRegistrationArn}/servicePrincipalNames",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryRegistrationArn"
                ],
                "members": {
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "MaxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "NextToken"
                    },
                    "DirectoryRegistrationArn": {
                        "location": "uri",
                        "locationName": "DirectoryRegistrationArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ServicePrincipalNames": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "DirectoryRegistrationArn": {},
                                "ConnectorArn": {},
                                "Status": {},
                                "StatusReason": {},
                                "CreatedAt": {
                                    "type": "timestamp"
                                },
                                "UpdatedAt": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC5HCHHTLMT5BNRO4BVXUB64XPW2LPHX7MZN3BFLPAVPLRSK3W2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW3WZJQDLDOUDRCWXCXLXHV5WEVCE5JAV2AVGQCJNOAFGSQN4SEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV7UX6LWO6A737A7PFRBDDGTP6CSHJ74QO24ZAVPYGX36QALDCTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSGQ2TGOLXHH6YVEAC3SRNVWZAFLJSIUNE3HXPRYKG5Q6LOZRUIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4YSDDVCU7OXMAUFLVK2FVO4EPUVZME7CKJQVG2MW24YU2Y6IRQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXDMBWE4GHC5RSLKTJKUQCV2SNEBFKJ2BHPMCWT7GGV6F24SBERQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MED3KDNUD5BLXM4R2EHZ5SQR5KNDD63IF7V25O4ZHH45AC2LUVJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVLLYSOBPYGN7FHCG743QLCCLRWQEU3GU7GAJJURU5QKGZ65QVSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYQOYNGGEE5FSV6OCH3RWMTNMIPJSRLWRNF7IHAWT4N26T4XFT6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OA3VXMG6C6XYUFZGL3NMWRWDLDHQD376KNISBNEWNSDMRAIDMHGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F7LGDMI7WVTZ4IFWKDG2UE7MY5IL5K456PGHE6RCKLGKXWNN5I3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLD4TYXLTVZTCFXZASD5TMCVNVKOJ6F7MN3JMNVWNKNNIWHMOAEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLTETF2M7XNVGYSROTMKXYJ53XBHMGFBAK6GL5NSSCLZLO2PAWFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZYGC32TTIFZOBVFLTBJFC4GTFNHVOL5RBBIXLUCXO7YDF2VWIZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U76ZD34EDG5DM5KAN3GQGFGVXVG5XX3I3OZZZLDRKZPKLDXM6SKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MCT65FU6ND3UHOGS477GW3UQVSDXNE5B2EUVG522XATC42GRHBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJMYCODFQPQQ63BPOPM4PCUSINY5GTZNHRV6ANQH7SFZ36W5VYLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2VT3MFZI42KTL5CECHLAGV5HTGXGHXBEUVDRKLOJG5K34A2TWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HLHYIVEKTHDIN6YMGLYHXKNDY3JHSEXBNBY6ADWXCDM5NRJOJ5XQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QN3NBXXLVLSK6YEB22HKLGWDVVNYYD4YPJMEI2QJQQWD4T3BAAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5O7RNIFK7QVK6YJHKAF32T2E2QLBRW3OFB42QWODU2ZFILEKMZQA/main.js"
            ]
        },
        "ListTagsForResource": {
            "http": {
                "method": "GET",
                "requestUri": "/tags/{ResourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn"
                ],
                "members": {
                    "ResourceArn": {
                        "location": "uri",
                        "locationName": "ResourceArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Tags": {
                        "shape": "S8"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC5HCHHTLMT5BNRO4BVXUB64XPW2LPHX7MZN3BFLPAVPLRSK3W2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW3WZJQDLDOUDRCWXCXLXHV5WEVCE5JAV2AVGQCJNOAFGSQN4SEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV7UX6LWO6A737A7PFRBDDGTP6CSHJ74QO24ZAVPYGX36QALDCTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSGQ2TGOLXHH6YVEAC3SRNVWZAFLJSIUNE3HXPRYKG5Q6LOZRUIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4YSDDVCU7OXMAUFLVK2FVO4EPUVZME7CKJQVG2MW24YU2Y6IRQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXDMBWE4GHC5RSLKTJKUQCV2SNEBFKJ2BHPMCWT7GGV6F24SBERQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MED3KDNUD5BLXM4R2EHZ5SQR5KNDD63IF7V25O4ZHH45AC2LUVJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVLLYSOBPYGN7FHCG743QLCCLRWQEU3GU7GAJJURU5QKGZ65QVSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYQOYNGGEE5FSV6OCH3RWMTNMIPJSRLWRNF7IHAWT4N26T4XFT6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OA3VXMG6C6XYUFZGL3NMWRWDLDHQD376KNISBNEWNSDMRAIDMHGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F7LGDMI7WVTZ4IFWKDG2UE7MY5IL5K456PGHE6RCKLGKXWNN5I3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLD4TYXLTVZTCFXZASD5TMCVNVKOJ6F7MN3JMNVWNKNNIWHMOAEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLTETF2M7XNVGYSROTMKXYJ53XBHMGFBAK6GL5NSSCLZLO2PAWFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZYGC32TTIFZOBVFLTBJFC4GTFNHVOL5RBBIXLUCXO7YDF2VWIZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U76ZD34EDG5DM5KAN3GQGFGVXVG5XX3I3OZZZLDRKZPKLDXM6SKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MCT65FU6ND3UHOGS477GW3UQVSDXNE5B2EUVG522XATC42GRHBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJMYCODFQPQQ63BPOPM4PCUSINY5GTZNHRV6ANQH7SFZ36W5VYLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2VT3MFZI42KTL5CECHLAGV5HTGXGHXBEUVDRKLOJG5K34A2TWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HLHYIVEKTHDIN6YMGLYHXKNDY3JHSEXBNBY6ADWXCDM5NRJOJ5XQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QN3NBXXLVLSK6YEB22HKLGWDVVNYYD4YPJMEI2QJQQWD4T3BAAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5O7RNIFK7QVK6YJHKAF32T2E2QLBRW3OFB42QWODU2ZFILEKMZQA/main.js"
            ]
        },
        "ListTemplateGroupAccessControlEntries": {
            "http": {
                "method": "GET",
                "requestUri": "/templates/{TemplateArn}/accessControlEntries",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "TemplateArn"
                ],
                "members": {
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "MaxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "NextToken"
                    },
                    "TemplateArn": {
                        "location": "uri",
                        "locationName": "TemplateArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AccessControlEntries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "GroupDisplayName": {},
                                "GroupSecurityIdentifier": {},
                                "AccessRights": {
                                    "shape": "S20"
                                },
                                "TemplateArn": {},
                                "CreatedAt": {
                                    "type": "timestamp"
                                },
                                "UpdatedAt": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC5HCHHTLMT5BNRO4BVXUB64XPW2LPHX7MZN3BFLPAVPLRSK3W2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW3WZJQDLDOUDRCWXCXLXHV5WEVCE5JAV2AVGQCJNOAFGSQN4SEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV7UX6LWO6A737A7PFRBDDGTP6CSHJ74QO24ZAVPYGX36QALDCTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSGQ2TGOLXHH6YVEAC3SRNVWZAFLJSIUNE3HXPRYKG5Q6LOZRUIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4YSDDVCU7OXMAUFLVK2FVO4EPUVZME7CKJQVG2MW24YU2Y6IRQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXDMBWE4GHC5RSLKTJKUQCV2SNEBFKJ2BHPMCWT7GGV6F24SBERQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MED3KDNUD5BLXM4R2EHZ5SQR5KNDD63IF7V25O4ZHH45AC2LUVJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVLLYSOBPYGN7FHCG743QLCCLRWQEU3GU7GAJJURU5QKGZ65QVSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYQOYNGGEE5FSV6OCH3RWMTNMIPJSRLWRNF7IHAWT4N26T4XFT6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OA3VXMG6C6XYUFZGL3NMWRWDLDHQD376KNISBNEWNSDMRAIDMHGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F7LGDMI7WVTZ4IFWKDG2UE7MY5IL5K456PGHE6RCKLGKXWNN5I3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLD4TYXLTVZTCFXZASD5TMCVNVKOJ6F7MN3JMNVWNKNNIWHMOAEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLTETF2M7XNVGYSROTMKXYJ53XBHMGFBAK6GL5NSSCLZLO2PAWFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZYGC32TTIFZOBVFLTBJFC4GTFNHVOL5RBBIXLUCXO7YDF2VWIZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U76ZD34EDG5DM5KAN3GQGFGVXVG5XX3I3OZZZLDRKZPKLDXM6SKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MCT65FU6ND3UHOGS477GW3UQVSDXNE5B2EUVG522XATC42GRHBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJMYCODFQPQQ63BPOPM4PCUSINY5GTZNHRV6ANQH7SFZ36W5VYLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2VT3MFZI42KTL5CECHLAGV5HTGXGHXBEUVDRKLOJG5K34A2TWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HLHYIVEKTHDIN6YMGLYHXKNDY3JHSEXBNBY6ADWXCDM5NRJOJ5XQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QN3NBXXLVLSK6YEB22HKLGWDVVNYYD4YPJMEI2QJQQWD4T3BAAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5O7RNIFK7QVK6YJHKAF32T2E2QLBRW3OFB42QWODU2ZFILEKMZQA/main.js"
            ]
        },
        "ListTemplates": {
            "http": {
                "method": "GET",
                "requestUri": "/templates",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ConnectorArn"
                ],
                "members": {
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "MaxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "NextToken"
                    },
                    "ConnectorArn": {
                        "location": "querystring",
                        "locationName": "ConnectorArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Templates": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Arn": {},
                                "ConnectorArn": {},
                                "Definition": {
                                    "shape": "Si"
                                },
                                "Name": {},
                                "ObjectIdentifier": {},
                                "PolicySchema": {
                                    "type": "integer"
                                },
                                "Status": {},
                                "Revision": {
                                    "shape": "S2s"
                                },
                                "CreatedAt": {
                                    "type": "timestamp"
                                },
                                "UpdatedAt": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC5HCHHTLMT5BNRO4BVXUB64XPW2LPHX7MZN3BFLPAVPLRSK3W2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW3WZJQDLDOUDRCWXCXLXHV5WEVCE5JAV2AVGQCJNOAFGSQN4SEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV7UX6LWO6A737A7PFRBDDGTP6CSHJ74QO24ZAVPYGX36QALDCTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSGQ2TGOLXHH6YVEAC3SRNVWZAFLJSIUNE3HXPRYKG5Q6LOZRUIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4YSDDVCU7OXMAUFLVK2FVO4EPUVZME7CKJQVG2MW24YU2Y6IRQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXDMBWE4GHC5RSLKTJKUQCV2SNEBFKJ2BHPMCWT7GGV6F24SBERQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MED3KDNUD5BLXM4R2EHZ5SQR5KNDD63IF7V25O4ZHH45AC2LUVJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVLLYSOBPYGN7FHCG743QLCCLRWQEU3GU7GAJJURU5QKGZ65QVSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYQOYNGGEE5FSV6OCH3RWMTNMIPJSRLWRNF7IHAWT4N26T4XFT6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OA3VXMG6C6XYUFZGL3NMWRWDLDHQD376KNISBNEWNSDMRAIDMHGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F7LGDMI7WVTZ4IFWKDG2UE7MY5IL5K456PGHE6RCKLGKXWNN5I3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLD4TYXLTVZTCFXZASD5TMCVNVKOJ6F7MN3JMNVWNKNNIWHMOAEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLTETF2M7XNVGYSROTMKXYJ53XBHMGFBAK6GL5NSSCLZLO2PAWFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZYGC32TTIFZOBVFLTBJFC4GTFNHVOL5RBBIXLUCXO7YDF2VWIZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U76ZD34EDG5DM5KAN3GQGFGVXVG5XX3I3OZZZLDRKZPKLDXM6SKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MCT65FU6ND3UHOGS477GW3UQVSDXNE5B2EUVG522XATC42GRHBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJMYCODFQPQQ63BPOPM4PCUSINY5GTZNHRV6ANQH7SFZ36W5VYLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2VT3MFZI42KTL5CECHLAGV5HTGXGHXBEUVDRKLOJG5K34A2TWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HLHYIVEKTHDIN6YMGLYHXKNDY3JHSEXBNBY6ADWXCDM5NRJOJ5XQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QN3NBXXLVLSK6YEB22HKLGWDVVNYYD4YPJMEI2QJQQWD4T3BAAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5O7RNIFK7QVK6YJHKAF32T2E2QLBRW3OFB42QWODU2ZFILEKMZQA/main.js"
            ]
        },
        "TagResource": {
            "http": {
                "requestUri": "/tags/{ResourceArn}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn",
                    "Tags"
                ],
                "members": {
                    "ResourceArn": {
                        "location": "uri",
                        "locationName": "ResourceArn"
                    },
                    "Tags": {
                        "shape": "S8"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC5HCHHTLMT5BNRO4BVXUB64XPW2LPHX7MZN3BFLPAVPLRSK3W2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW3WZJQDLDOUDRCWXCXLXHV5WEVCE5JAV2AVGQCJNOAFGSQN4SEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV7UX6LWO6A737A7PFRBDDGTP6CSHJ74QO24ZAVPYGX36QALDCTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSGQ2TGOLXHH6YVEAC3SRNVWZAFLJSIUNE3HXPRYKG5Q6LOZRUIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4YSDDVCU7OXMAUFLVK2FVO4EPUVZME7CKJQVG2MW24YU2Y6IRQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXDMBWE4GHC5RSLKTJKUQCV2SNEBFKJ2BHPMCWT7GGV6F24SBERQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MED3KDNUD5BLXM4R2EHZ5SQR5KNDD63IF7V25O4ZHH45AC2LUVJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVLLYSOBPYGN7FHCG743QLCCLRWQEU3GU7GAJJURU5QKGZ65QVSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYQOYNGGEE5FSV6OCH3RWMTNMIPJSRLWRNF7IHAWT4N26T4XFT6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OA3VXMG6C6XYUFZGL3NMWRWDLDHQD376KNISBNEWNSDMRAIDMHGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F7LGDMI7WVTZ4IFWKDG2UE7MY5IL5K456PGHE6RCKLGKXWNN5I3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLD4TYXLTVZTCFXZASD5TMCVNVKOJ6F7MN3JMNVWNKNNIWHMOAEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLTETF2M7XNVGYSROTMKXYJ53XBHMGFBAK6GL5NSSCLZLO2PAWFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZYGC32TTIFZOBVFLTBJFC4GTFNHVOL5RBBIXLUCXO7YDF2VWIZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U76ZD34EDG5DM5KAN3GQGFGVXVG5XX3I3OZZZLDRKZPKLDXM6SKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MCT65FU6ND3UHOGS477GW3UQVSDXNE5B2EUVG522XATC42GRHBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJMYCODFQPQQ63BPOPM4PCUSINY5GTZNHRV6ANQH7SFZ36W5VYLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2VT3MFZI42KTL5CECHLAGV5HTGXGHXBEUVDRKLOJG5K34A2TWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HLHYIVEKTHDIN6YMGLYHXKNDY3JHSEXBNBY6ADWXCDM5NRJOJ5XQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QN3NBXXLVLSK6YEB22HKLGWDVVNYYD4YPJMEI2QJQQWD4T3BAAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5O7RNIFK7QVK6YJHKAF32T2E2QLBRW3OFB42QWODU2ZFILEKMZQA/main.js"
            ]
        },
        "UntagResource": {
            "http": {
                "method": "DELETE",
                "requestUri": "/tags/{ResourceArn}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn",
                    "TagKeys"
                ],
                "members": {
                    "ResourceArn": {
                        "location": "uri",
                        "locationName": "ResourceArn"
                    },
                    "TagKeys": {
                        "location": "querystring",
                        "locationName": "tagKeys",
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC5HCHHTLMT5BNRO4BVXUB64XPW2LPHX7MZN3BFLPAVPLRSK3W2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW3WZJQDLDOUDRCWXCXLXHV5WEVCE5JAV2AVGQCJNOAFGSQN4SEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV7UX6LWO6A737A7PFRBDDGTP6CSHJ74QO24ZAVPYGX36QALDCTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSGQ2TGOLXHH6YVEAC3SRNVWZAFLJSIUNE3HXPRYKG5Q6LOZRUIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4YSDDVCU7OXMAUFLVK2FVO4EPUVZME7CKJQVG2MW24YU2Y6IRQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXDMBWE4GHC5RSLKTJKUQCV2SNEBFKJ2BHPMCWT7GGV6F24SBERQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MED3KDNUD5BLXM4R2EHZ5SQR5KNDD63IF7V25O4ZHH45AC2LUVJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVLLYSOBPYGN7FHCG743QLCCLRWQEU3GU7GAJJURU5QKGZ65QVSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYQOYNGGEE5FSV6OCH3RWMTNMIPJSRLWRNF7IHAWT4N26T4XFT6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OA3VXMG6C6XYUFZGL3NMWRWDLDHQD376KNISBNEWNSDMRAIDMHGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F7LGDMI7WVTZ4IFWKDG2UE7MY5IL5K456PGHE6RCKLGKXWNN5I3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLD4TYXLTVZTCFXZASD5TMCVNVKOJ6F7MN3JMNVWNKNNIWHMOAEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLTETF2M7XNVGYSROTMKXYJ53XBHMGFBAK6GL5NSSCLZLO2PAWFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZYGC32TTIFZOBVFLTBJFC4GTFNHVOL5RBBIXLUCXO7YDF2VWIZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U76ZD34EDG5DM5KAN3GQGFGVXVG5XX3I3OZZZLDRKZPKLDXM6SKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MCT65FU6ND3UHOGS477GW3UQVSDXNE5B2EUVG522XATC42GRHBQ/main.js",
[...]
