{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-05-10",
        "endpointPrefix": "pca-connector-ad",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "PcaConnectorAd",
        "serviceId": "PcaConnectorAd",
        "signatureVersion": "v4",
        "signingName": "pca-connector-ad",
        "uid": "pcaconnectorad-2018-05-10",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/MVK2IX63D6PTGIDVWL24V5J6YSMUSXIB5XV36QLJAUNCVJBFLY5Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WKKNCIZPP52K575HMR7HX2WHJCBPP4ZTUCFH3D2PMYF6K5YW7OGQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/O5AGR6TXLDM4NMXLZJPONFC7MU2D4PSYVGAWMUOBDO6VZMUNHJLA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5IEYYAGRRJUIYEPLNGVYTCDKIGTQOOYNLT7EFQQQ2C7BBR62ME7A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7RYOQIHKKJL3PMA2BDMSWK437URNGIH754QQD32VXZRARHZCQEHA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OP2PNQCGPBRFBA4XV3AXZVD65BGOMSRPPFDJOFEZAGKHFOO4YUQA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/34PNDZA7TL6QVAK3CLSWWVKO33ZWWEH2FXZXELA57Z5QJGXNOU3A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TU66JZQCYRLJXPHZ2OCL6P5VMHXRDRNAHYVXXJ7ACTBOFVJJ3MIQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BEDXREX3KGNRMM6DNFSVUMFAWICLVHEPGVFMQ7L27NK2F65TPJMQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/67PZ76H7OICIWDULB5MXQFLX5NN4LUPJCXIA44G3AOP2U6YTAK7A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DURZ4KHLDODH2XWK5AF7EJRLKOMLBLNIN3VT2ZV3SAHG5BJG4KXA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WHMKYYETOXKSA7Y7V2DGWVRREOBAKWAXHCMUUCQOTDMSBZS5N7CQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2FWZMJIGT6EAVQRYXEJ4EXOYZL3GZ2CDVNKOKORH6QTMOO5GHBWA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/I7QCEHK4H4HNXWA66VTE73DCHEFWJI6BPUISI6QIP34VVYUG35KQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/F3EXCUYDZKEIGB2JEHVQT5K4PJJG7TQG6KG3RZNFRAW7F7FYZOOA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TBJDJ2EPNIF6YVQALR5PP4EZ7QYBMZBV4K57Q7AVTPILKDA57AFQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HC77OFDWGFRU4NOMRRYNUPEYNS45LTKEIU7SOCW3ULI7EUDHXKUA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6XHMAAXQWPGQ6LUB25GLRLQTNEZ3UJTNWP4ULZWACIWWLYDMMJMA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4L33XUUKVQ44TCWYYXZ6MSYIP3SWLFCT62SYS3K2OBQJSNFHLODQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OKSV24N5RIN5VSTGS3YINF2EAJFDNSYZQIGKFXUVV7YT5XWIINFQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2ABTVIQMCTUSGBNCYX6634DRMYWWLME7BH6ERIGE5VBTFUSSGLCA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js"
        ]
    },
    "operations": {
        "CreateConnector": {
            "http": {
                "requestUri": "/connectors",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId",
                    "CertificateAuthorityArn",
                    "VpcInformation"
                ],
                "members": {
                    "DirectoryId": {},
                    "CertificateAuthorityArn": {},
                    "VpcInformation": {
                        "shape": "S4"
                    },
                    "ClientToken": {
                        "idempotencyToken": true
                    },
                    "Tags": {
                        "shape": "S8"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ConnectorArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKKNCIZPP52K575HMR7HX2WHJCBPP4ZTUCFH3D2PMYF6K5YW7OGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5AGR6TXLDM4NMXLZJPONFC7MU2D4PSYVGAWMUOBDO6VZMUNHJLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5IEYYAGRRJUIYEPLNGVYTCDKIGTQOOYNLT7EFQQQ2C7BBR62ME7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RYOQIHKKJL3PMA2BDMSWK437URNGIH754QQD32VXZRARHZCQEHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OP2PNQCGPBRFBA4XV3AXZVD65BGOMSRPPFDJOFEZAGKHFOO4YUQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34PNDZA7TL6QVAK3CLSWWVKO33ZWWEH2FXZXELA57Z5QJGXNOU3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TU66JZQCYRLJXPHZ2OCL6P5VMHXRDRNAHYVXXJ7ACTBOFVJJ3MIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEDXREX3KGNRMM6DNFSVUMFAWICLVHEPGVFMQ7L27NK2F65TPJMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67PZ76H7OICIWDULB5MXQFLX5NN4LUPJCXIA44G3AOP2U6YTAK7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DURZ4KHLDODH2XWK5AF7EJRLKOMLBLNIN3VT2ZV3SAHG5BJG4KXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WHMKYYETOXKSA7Y7V2DGWVRREOBAKWAXHCMUUCQOTDMSBZS5N7CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FWZMJIGT6EAVQRYXEJ4EXOYZL3GZ2CDVNKOKORH6QTMOO5GHBWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I7QCEHK4H4HNXWA66VTE73DCHEFWJI6BPUISI6QIP34VVYUG35KQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3EXCUYDZKEIGB2JEHVQT5K4PJJG7TQG6KG3RZNFRAW7F7FYZOOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBJDJ2EPNIF6YVQALR5PP4EZ7QYBMZBV4K57Q7AVTPILKDA57AFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HC77OFDWGFRU4NOMRRYNUPEYNS45LTKEIU7SOCW3ULI7EUDHXKUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XHMAAXQWPGQ6LUB25GLRLQTNEZ3UJTNWP4ULZWACIWWLYDMMJMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L33XUUKVQ44TCWYYXZ6MSYIP3SWLFCT62SYS3K2OBQJSNFHLODQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OKSV24N5RIN5VSTGS3YINF2EAJFDNSYZQIGKFXUVV7YT5XWIINFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ABTVIQMCTUSGBNCYX6634DRMYWWLME7BH6ERIGE5VBTFUSSGLCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js"
            ]
        },
        "CreateDirectoryRegistration": {
            "http": {
                "requestUri": "/directoryRegistrations",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId"
                ],
                "members": {
                    "DirectoryId": {},
                    "ClientToken": {
                        "idempotencyToken": true
                    },
                    "Tags": {
                        "shape": "S8"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DirectoryRegistrationArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKKNCIZPP52K575HMR7HX2WHJCBPP4ZTUCFH3D2PMYF6K5YW7OGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5AGR6TXLDM4NMXLZJPONFC7MU2D4PSYVGAWMUOBDO6VZMUNHJLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5IEYYAGRRJUIYEPLNGVYTCDKIGTQOOYNLT7EFQQQ2C7BBR62ME7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RYOQIHKKJL3PMA2BDMSWK437URNGIH754QQD32VXZRARHZCQEHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OP2PNQCGPBRFBA4XV3AXZVD65BGOMSRPPFDJOFEZAGKHFOO4YUQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34PNDZA7TL6QVAK3CLSWWVKO33ZWWEH2FXZXELA57Z5QJGXNOU3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TU66JZQCYRLJXPHZ2OCL6P5VMHXRDRNAHYVXXJ7ACTBOFVJJ3MIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEDXREX3KGNRMM6DNFSVUMFAWICLVHEPGVFMQ7L27NK2F65TPJMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67PZ76H7OICIWDULB5MXQFLX5NN4LUPJCXIA44G3AOP2U6YTAK7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DURZ4KHLDODH2XWK5AF7EJRLKOMLBLNIN3VT2ZV3SAHG5BJG4KXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WHMKYYETOXKSA7Y7V2DGWVRREOBAKWAXHCMUUCQOTDMSBZS5N7CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FWZMJIGT6EAVQRYXEJ4EXOYZL3GZ2CDVNKOKORH6QTMOO5GHBWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I7QCEHK4H4HNXWA66VTE73DCHEFWJI6BPUISI6QIP34VVYUG35KQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3EXCUYDZKEIGB2JEHVQT5K4PJJG7TQG6KG3RZNFRAW7F7FYZOOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBJDJ2EPNIF6YVQALR5PP4EZ7QYBMZBV4K57Q7AVTPILKDA57AFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HC77OFDWGFRU4NOMRRYNUPEYNS45LTKEIU7SOCW3ULI7EUDHXKUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XHMAAXQWPGQ6LUB25GLRLQTNEZ3UJTNWP4ULZWACIWWLYDMMJMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L33XUUKVQ44TCWYYXZ6MSYIP3SWLFCT62SYS3K2OBQJSNFHLODQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OKSV24N5RIN5VSTGS3YINF2EAJFDNSYZQIGKFXUVV7YT5XWIINFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ABTVIQMCTUSGBNCYX6634DRMYWWLME7BH6ERIGE5VBTFUSSGLCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js"
            ]
        },
        "CreateServicePrincipalName": {
            "http": {
                "requestUri": "/directoryRegistrations/{DirectoryRegistrationArn}/servicePrincipalNames/{ConnectorArn}",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryRegistrationArn",
                    "ConnectorArn"
                ],
                "members": {
                    "DirectoryRegistrationArn": {
                        "location": "uri",
                        "locationName": "DirectoryRegistrationArn"
                    },
                    "ConnectorArn": {
                        "location": "uri",
                        "locationName": "ConnectorArn"
                    },
                    "ClientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKKNCIZPP52K575HMR7HX2WHJCBPP4ZTUCFH3D2PMYF6K5YW7OGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5AGR6TXLDM4NMXLZJPONFC7MU2D4PSYVGAWMUOBDO6VZMUNHJLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5IEYYAGRRJUIYEPLNGVYTCDKIGTQOOYNLT7EFQQQ2C7BBR62ME7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RYOQIHKKJL3PMA2BDMSWK437URNGIH754QQD32VXZRARHZCQEHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OP2PNQCGPBRFBA4XV3AXZVD65BGOMSRPPFDJOFEZAGKHFOO4YUQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34PNDZA7TL6QVAK3CLSWWVKO33ZWWEH2FXZXELA57Z5QJGXNOU3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TU66JZQCYRLJXPHZ2OCL6P5VMHXRDRNAHYVXXJ7ACTBOFVJJ3MIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEDXREX3KGNRMM6DNFSVUMFAWICLVHEPGVFMQ7L27NK2F65TPJMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67PZ76H7OICIWDULB5MXQFLX5NN4LUPJCXIA44G3AOP2U6YTAK7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DURZ4KHLDODH2XWK5AF7EJRLKOMLBLNIN3VT2ZV3SAHG5BJG4KXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WHMKYYETOXKSA7Y7V2DGWVRREOBAKWAXHCMUUCQOTDMSBZS5N7CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FWZMJIGT6EAVQRYXEJ4EXOYZL3GZ2CDVNKOKORH6QTMOO5GHBWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I7QCEHK4H4HNXWA66VTE73DCHEFWJI6BPUISI6QIP34VVYUG35KQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3EXCUYDZKEIGB2JEHVQT5K4PJJG7TQG6KG3RZNFRAW7F7FYZOOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBJDJ2EPNIF6YVQALR5PP4EZ7QYBMZBV4K57Q7AVTPILKDA57AFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HC77OFDWGFRU4NOMRRYNUPEYNS45LTKEIU7SOCW3ULI7EUDHXKUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XHMAAXQWPGQ6LUB25GLRLQTNEZ3UJTNWP4ULZWACIWWLYDMMJMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L33XUUKVQ44TCWYYXZ6MSYIP3SWLFCT62SYS3K2OBQJSNFHLODQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OKSV24N5RIN5VSTGS3YINF2EAJFDNSYZQIGKFXUVV7YT5XWIINFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ABTVIQMCTUSGBNCYX6634DRMYWWLME7BH6ERIGE5VBTFUSSGLCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js"
            ]
        },
        "CreateTemplate": {
            "http": {
                "requestUri": "/templates",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ConnectorArn",
                    "Name",
                    "Definition"
                ],
                "members": {
                    "ConnectorArn": {},
                    "Name": {},
                    "Definition": {
                        "shape": "Si"
                    },
                    "ClientToken": {
                        "idempotencyToken": true
                    },
                    "Tags": {
                        "shape": "S8"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "TemplateArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKKNCIZPP52K575HMR7HX2WHJCBPP4ZTUCFH3D2PMYF6K5YW7OGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5AGR6TXLDM4NMXLZJPONFC7MU2D4PSYVGAWMUOBDO6VZMUNHJLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5IEYYAGRRJUIYEPLNGVYTCDKIGTQOOYNLT7EFQQQ2C7BBR62ME7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RYOQIHKKJL3PMA2BDMSWK437URNGIH754QQD32VXZRARHZCQEHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OP2PNQCGPBRFBA4XV3AXZVD65BGOMSRPPFDJOFEZAGKHFOO4YUQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34PNDZA7TL6QVAK3CLSWWVKO33ZWWEH2FXZXELA57Z5QJGXNOU3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TU66JZQCYRLJXPHZ2OCL6P5VMHXRDRNAHYVXXJ7ACTBOFVJJ3MIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEDXREX3KGNRMM6DNFSVUMFAWICLVHEPGVFMQ7L27NK2F65TPJMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67PZ76H7OICIWDULB5MXQFLX5NN4LUPJCXIA44G3AOP2U6YTAK7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DURZ4KHLDODH2XWK5AF7EJRLKOMLBLNIN3VT2ZV3SAHG5BJG4KXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WHMKYYETOXKSA7Y7V2DGWVRREOBAKWAXHCMUUCQOTDMSBZS5N7CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FWZMJIGT6EAVQRYXEJ4EXOYZL3GZ2CDVNKOKORH6QTMOO5GHBWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I7QCEHK4H4HNXWA66VTE73DCHEFWJI6BPUISI6QIP34VVYUG35KQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3EXCUYDZKEIGB2JEHVQT5K4PJJG7TQG6KG3RZNFRAW7F7FYZOOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBJDJ2EPNIF6YVQALR5PP4EZ7QYBMZBV4K57Q7AVTPILKDA57AFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HC77OFDWGFRU4NOMRRYNUPEYNS45LTKEIU7SOCW3ULI7EUDHXKUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XHMAAXQWPGQ6LUB25GLRLQTNEZ3UJTNWP4ULZWACIWWLYDMMJMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L33XUUKVQ44TCWYYXZ6MSYIP3SWLFCT62SYS3K2OBQJSNFHLODQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OKSV24N5RIN5VSTGS3YINF2EAJFDNSYZQIGKFXUVV7YT5XWIINFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ABTVIQMCTUSGBNCYX6634DRMYWWLME7BH6ERIGE5VBTFUSSGLCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js"
            ]
        },
        "CreateTemplateGroupAccessControlEntry": {
            "http": {
                "requestUri": "/templates/{TemplateArn}/accessControlEntries",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "TemplateArn",
                    "GroupSecurityIdentifier",
                    "GroupDisplayName",
                    "AccessRights"
                ],
                "members": {
                    "TemplateArn": {
                        "location": "uri",
                        "locationName": "TemplateArn"
                    },
                    "GroupSecurityIdentifier": {},
                    "GroupDisplayName": {},
                    "AccessRights": {
                        "shape": "S20"
                    },
                    "ClientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKKNCIZPP52K575HMR7HX2WHJCBPP4ZTUCFH3D2PMYF6K5YW7OGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5AGR6TXLDM4NMXLZJPONFC7MU2D4PSYVGAWMUOBDO6VZMUNHJLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5IEYYAGRRJUIYEPLNGVYTCDKIGTQOOYNLT7EFQQQ2C7BBR62ME7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RYOQIHKKJL3PMA2BDMSWK437URNGIH754QQD32VXZRARHZCQEHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OP2PNQCGPBRFBA4XV3AXZVD65BGOMSRPPFDJOFEZAGKHFOO4YUQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34PNDZA7TL6QVAK3CLSWWVKO33ZWWEH2FXZXELA57Z5QJGXNOU3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TU66JZQCYRLJXPHZ2OCL6P5VMHXRDRNAHYVXXJ7ACTBOFVJJ3MIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEDXREX3KGNRMM6DNFSVUMFAWICLVHEPGVFMQ7L27NK2F65TPJMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67PZ76H7OICIWDULB5MXQFLX5NN4LUPJCXIA44G3AOP2U6YTAK7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DURZ4KHLDODH2XWK5AF7EJRLKOMLBLNIN3VT2ZV3SAHG5BJG4KXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WHMKYYETOXKSA7Y7V2DGWVRREOBAKWAXHCMUUCQOTDMSBZS5N7CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FWZMJIGT6EAVQRYXEJ4EXOYZL3GZ2CDVNKOKORH6QTMOO5GHBWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I7QCEHK4H4HNXWA66VTE73DCHEFWJI6BPUISI6QIP34VVYUG35KQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3EXCUYDZKEIGB2JEHVQT5K4PJJG7TQG6KG3RZNFRAW7F7FYZOOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBJDJ2EPNIF6YVQALR5PP4EZ7QYBMZBV4K57Q7AVTPILKDA57AFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HC77OFDWGFRU4NOMRRYNUPEYNS45LTKEIU7SOCW3ULI7EUDHXKUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XHMAAXQWPGQ6LUB25GLRLQTNEZ3UJTNWP4ULZWACIWWLYDMMJMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L33XUUKVQ44TCWYYXZ6MSYIP3SWLFCT62SYS3K2OBQJSNFHLODQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OKSV24N5RIN5VSTGS3YINF2EAJFDNSYZQIGKFXUVV7YT5XWIINFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ABTVIQMCTUSGBNCYX6634DRMYWWLME7BH6ERIGE5VBTFUSSGLCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js"
            ]
        },
        "DeleteConnector": {
            "http": {
                "method": "DELETE",
                "requestUri": "/connectors/{ConnectorArn}",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "ConnectorArn"
                ],
                "members": {
                    "ConnectorArn": {
                        "location": "uri",
                        "locationName": "ConnectorArn"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKKNCIZPP52K575HMR7HX2WHJCBPP4ZTUCFH3D2PMYF6K5YW7OGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5AGR6TXLDM4NMXLZJPONFC7MU2D4PSYVGAWMUOBDO6VZMUNHJLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5IEYYAGRRJUIYEPLNGVYTCDKIGTQOOYNLT7EFQQQ2C7BBR62ME7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RYOQIHKKJL3PMA2BDMSWK437URNGIH754QQD32VXZRARHZCQEHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OP2PNQCGPBRFBA4XV3AXZVD65BGOMSRPPFDJOFEZAGKHFOO4YUQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34PNDZA7TL6QVAK3CLSWWVKO33ZWWEH2FXZXELA57Z5QJGXNOU3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TU66JZQCYRLJXPHZ2OCL6P5VMHXRDRNAHYVXXJ7ACTBOFVJJ3MIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEDXREX3KGNRMM6DNFSVUMFAWICLVHEPGVFMQ7L27NK2F65TPJMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67PZ76H7OICIWDULB5MXQFLX5NN4LUPJCXIA44G3AOP2U6YTAK7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DURZ4KHLDODH2XWK5AF7EJRLKOMLBLNIN3VT2ZV3SAHG5BJG4KXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WHMKYYETOXKSA7Y7V2DGWVRREOBAKWAXHCMUUCQOTDMSBZS5N7CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FWZMJIGT6EAVQRYXEJ4EXOYZL3GZ2CDVNKOKORH6QTMOO5GHBWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I7QCEHK4H4HNXWA66VTE73DCHEFWJI6BPUISI6QIP34VVYUG35KQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3EXCUYDZKEIGB2JEHVQT5K4PJJG7TQG6KG3RZNFRAW7F7FYZOOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBJDJ2EPNIF6YVQALR5PP4EZ7QYBMZBV4K57Q7AVTPILKDA57AFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HC77OFDWGFRU4NOMRRYNUPEYNS45LTKEIU7SOCW3ULI7EUDHXKUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XHMAAXQWPGQ6LUB25GLRLQTNEZ3UJTNWP4ULZWACIWWLYDMMJMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L33XUUKVQ44TCWYYXZ6MSYIP3SWLFCT62SYS3K2OBQJSNFHLODQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OKSV24N5RIN5VSTGS3YINF2EAJFDNSYZQIGKFXUVV7YT5XWIINFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ABTVIQMCTUSGBNCYX6634DRMYWWLME7BH6ERIGE5VBTFUSSGLCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js"
            ]
        },
        "DeleteDirectoryRegistration": {
            "http": {
                "method": "DELETE",
                "requestUri": "/directoryRegistrations/{DirectoryRegistrationArn}",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryRegistrationArn"
                ],
                "members": {
                    "DirectoryRegistrationArn": {
                        "location": "uri",
                        "locationName": "DirectoryRegistrationArn"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKKNCIZPP52K575HMR7HX2WHJCBPP4ZTUCFH3D2PMYF6K5YW7OGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5AGR6TXLDM4NMXLZJPONFC7MU2D4PSYVGAWMUOBDO6VZMUNHJLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5IEYYAGRRJUIYEPLNGVYTCDKIGTQOOYNLT7EFQQQ2C7BBR62ME7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RYOQIHKKJL3PMA2BDMSWK437URNGIH754QQD32VXZRARHZCQEHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OP2PNQCGPBRFBA4XV3AXZVD65BGOMSRPPFDJOFEZAGKHFOO4YUQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34PNDZA7TL6QVAK3CLSWWVKO33ZWWEH2FXZXELA57Z5QJGXNOU3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TU66JZQCYRLJXPHZ2OCL6P5VMHXRDRNAHYVXXJ7ACTBOFVJJ3MIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEDXREX3KGNRMM6DNFSVUMFAWICLVHEPGVFMQ7L27NK2F65TPJMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67PZ76H7OICIWDULB5MXQFLX5NN4LUPJCXIA44G3AOP2U6YTAK7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DURZ4KHLDODH2XWK5AF7EJRLKOMLBLNIN3VT2ZV3SAHG5BJG4KXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WHMKYYETOXKSA7Y7V2DGWVRREOBAKWAXHCMUUCQOTDMSBZS5N7CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FWZMJIGT6EAVQRYXEJ4EXOYZL3GZ2CDVNKOKORH6QTMOO5GHBWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I7QCEHK4H4HNXWA66VTE73DCHEFWJI6BPUISI6QIP34VVYUG35KQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3EXCUYDZKEIGB2JEHVQT5K4PJJG7TQG6KG3RZNFRAW7F7FYZOOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBJDJ2EPNIF6YVQALR5PP4EZ7QYBMZBV4K57Q7AVTPILKDA57AFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HC77OFDWGFRU4NOMRRYNUPEYNS45LTKEIU7SOCW3ULI7EUDHXKUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XHMAAXQWPGQ6LUB25GLRLQTNEZ3UJTNWP4ULZWACIWWLYDMMJMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L33XUUKVQ44TCWYYXZ6MSYIP3SWLFCT62SYS3K2OBQJSNFHLODQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OKSV24N5RIN5VSTGS3YINF2EAJFDNSYZQIGKFXUVV7YT5XWIINFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ABTVIQMCTUSGBNCYX6634DRMYWWLME7BH6ERIGE5VBTFUSSGLCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js"
            ]
        },
        "DeleteServicePrincipalName": {
            "http": {
                "method": "DELETE",
                "requestUri": "/directoryRegistrations/{DirectoryRegistrationArn}/servicePrincipalNames/{ConnectorArn}",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryRegistrationArn",
                    "ConnectorArn"
                ],
                "members": {
                    "DirectoryRegistrationArn": {
                        "location": "uri",
                        "locationName": "DirectoryRegistrationArn"
                    },
                    "ConnectorArn": {
                        "location": "uri",
                        "locationName": "ConnectorArn"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKKNCIZPP52K575HMR7HX2WHJCBPP4ZTUCFH3D2PMYF6K5YW7OGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5AGR6TXLDM4NMXLZJPONFC7MU2D4PSYVGAWMUOBDO6VZMUNHJLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5IEYYAGRRJUIYEPLNGVYTCDKIGTQOOYNLT7EFQQQ2C7BBR62ME7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RYOQIHKKJL3PMA2BDMSWK437URNGIH754QQD32VXZRARHZCQEHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OP2PNQCGPBRFBA4XV3AXZVD65BGOMSRPPFDJOFEZAGKHFOO4YUQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34PNDZA7TL6QVAK3CLSWWVKO33ZWWEH2FXZXELA57Z5QJGXNOU3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TU66JZQCYRLJXPHZ2OCL6P5VMHXRDRNAHYVXXJ7ACTBOFVJJ3MIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEDXREX3KGNRMM6DNFSVUMFAWICLVHEPGVFMQ7L27NK2F65TPJMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67PZ76H7OICIWDULB5MXQFLX5NN4LUPJCXIA44G3AOP2U6YTAK7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DURZ4KHLDODH2XWK5AF7EJRLKOMLBLNIN3VT2ZV3SAHG5BJG4KXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WHMKYYETOXKSA7Y7V2DGWVRREOBAKWAXHCMUUCQOTDMSBZS5N7CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FWZMJIGT6EAVQRYXEJ4EXOYZL3GZ2CDVNKOKORH6QTMOO5GHBWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I7QCEHK4H4HNXWA66VTE73DCHEFWJI6BPUISI6QIP34VVYUG35KQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3EXCUYDZKEIGB2JEHVQT5K4PJJG7TQG6KG3RZNFRAW7F7FYZOOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBJDJ2EPNIF6YVQALR5PP4EZ7QYBMZBV4K57Q7AVTPILKDA57AFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HC77OFDWGFRU4NOMRRYNUPEYNS45LTKEIU7SOCW3ULI7EUDHXKUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XHMAAXQWPGQ6LUB25GLRLQTNEZ3UJTNWP4ULZWACIWWLYDMMJMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L33XUUKVQ44TCWYYXZ6MSYIP3SWLFCT62SYS3K2OBQJSNFHLODQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OKSV24N5RIN5VSTGS3YINF2EAJFDNSYZQIGKFXUVV7YT5XWIINFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ABTVIQMCTUSGBNCYX6634DRMYWWLME7BH6ERIGE5VBTFUSSGLCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js"
            ]
        },
        "DeleteTemplate": {
            "http": {
                "method": "DELETE",
                "requestUri": "/templates/{TemplateArn}",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "TemplateArn"
                ],
                "members": {
                    "TemplateArn": {
                        "location": "uri",
                        "locationName": "TemplateArn"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKKNCIZPP52K575HMR7HX2WHJCBPP4ZTUCFH3D2PMYF6K5YW7OGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5AGR6TXLDM4NMXLZJPONFC7MU2D4PSYVGAWMUOBDO6VZMUNHJLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5IEYYAGRRJUIYEPLNGVYTCDKIGTQOOYNLT7EFQQQ2C7BBR62ME7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RYOQIHKKJL3PMA2BDMSWK437URNGIH754QQD32VXZRARHZCQEHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OP2PNQCGPBRFBA4XV3AXZVD65BGOMSRPPFDJOFEZAGKHFOO4YUQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34PNDZA7TL6QVAK3CLSWWVKO33ZWWEH2FXZXELA57Z5QJGXNOU3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TU66JZQCYRLJXPHZ2OCL6P5VMHXRDRNAHYVXXJ7ACTBOFVJJ3MIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEDXREX3KGNRMM6DNFSVUMFAWICLVHEPGVFMQ7L27NK2F65TPJMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67PZ76H7OICIWDULB5MXQFLX5NN4LUPJCXIA44G3AOP2U6YTAK7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DURZ4KHLDODH2XWK5AF7EJRLKOMLBLNIN3VT2ZV3SAHG5BJG4KXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WHMKYYETOXKSA7Y7V2DGWVRREOBAKWAXHCMUUCQOTDMSBZS5N7CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FWZMJIGT6EAVQRYXEJ4EXOYZL3GZ2CDVNKOKORH6QTMOO5GHBWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I7QCEHK4H4HNXWA66VTE73DCHEFWJI6BPUISI6QIP34VVYUG35KQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3EXCUYDZKEIGB2JEHVQT5K4PJJG7TQG6KG3RZNFRAW7F7FYZOOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBJDJ2EPNIF6YVQALR5PP4EZ7QYBMZBV4K57Q7AVTPILKDA57AFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HC77OFDWGFRU4NOMRRYNUPEYNS45LTKEIU7SOCW3ULI7EUDHXKUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XHMAAXQWPGQ6LUB25GLRLQTNEZ3UJTNWP4ULZWACIWWLYDMMJMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L33XUUKVQ44TCWYYXZ6MSYIP3SWLFCT62SYS3K2OBQJSNFHLODQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OKSV24N5RIN5VSTGS3YINF2EAJFDNSYZQIGKFXUVV7YT5XWIINFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ABTVIQMCTUSGBNCYX6634DRMYWWLME7BH6ERIGE5VBTFUSSGLCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js"
            ]
        },
        "DeleteTemplateGroupAccessControlEntry": {
            "http": {
                "method": "DELETE",
                "requestUri": "/templates/{TemplateArn}/accessControlEntries/{GroupSecurityIdentifier}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "TemplateArn",
                    "GroupSecurityIdentifier"
                ],
                "members": {
                    "TemplateArn": {
                        "location": "uri",
                        "locationName": "TemplateArn"
                    },
                    "GroupSecurityIdentifier": {
                        "location": "uri",
                        "locationName": "GroupSecurityIdentifier"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKKNCIZPP52K575HMR7HX2WHJCBPP4ZTUCFH3D2PMYF6K5YW7OGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5AGR6TXLDM4NMXLZJPONFC7MU2D4PSYVGAWMUOBDO6VZMUNHJLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5IEYYAGRRJUIYEPLNGVYTCDKIGTQOOYNLT7EFQQQ2C7BBR62ME7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RYOQIHKKJL3PMA2BDMSWK437URNGIH754QQD32VXZRARHZCQEHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OP2PNQCGPBRFBA4XV3AXZVD65BGOMSRPPFDJOFEZAGKHFOO4YUQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34PNDZA7TL6QVAK3CLSWWVKO33ZWWEH2FXZXELA57Z5QJGXNOU3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TU66JZQCYRLJXPHZ2OCL6P5VMHXRDRNAHYVXXJ7ACTBOFVJJ3MIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEDXREX3KGNRMM6DNFSVUMFAWICLVHEPGVFMQ7L27NK2F65TPJMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67PZ76H7OICIWDULB5MXQFLX5NN4LUPJCXIA44G3AOP2U6YTAK7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DURZ4KHLDODH2XWK5AF7EJRLKOMLBLNIN3VT2ZV3SAHG5BJG4KXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WHMKYYETOXKSA7Y7V2DGWVRREOBAKWAXHCMUUCQOTDMSBZS5N7CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FWZMJIGT6EAVQRYXEJ4EXOYZL3GZ2CDVNKOKORH6QTMOO5GHBWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I7QCEHK4H4HNXWA66VTE73DCHEFWJI6BPUISI6QIP34VVYUG35KQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3EXCUYDZKEIGB2JEHVQT5K4PJJG7TQG6KG3RZNFRAW7F7FYZOOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBJDJ2EPNIF6YVQALR5PP4EZ7QYBMZBV4K57Q7AVTPILKDA57AFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HC77OFDWGFRU4NOMRRYNUPEYNS45LTKEIU7SOCW3ULI7EUDHXKUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XHMAAXQWPGQ6LUB25GLRLQTNEZ3UJTNWP4ULZWACIWWLYDMMJMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L33XUUKVQ44TCWYYXZ6MSYIP3SWLFCT62SYS3K2OBQJSNFHLODQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OKSV24N5RIN5VSTGS3YINF2EAJFDNSYZQIGKFXUVV7YT5XWIINFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ABTVIQMCTUSGBNCYX6634DRMYWWLME7BH6ERIGE5VBTFUSSGLCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js"
            ]
        },
        "GetConnector": {
            "http": {
                "method": "GET",
                "requestUri": "/connectors/{ConnectorArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ConnectorArn"
                ],
                "members": {
                    "ConnectorArn": {
                        "location": "uri",
                        "locationName": "ConnectorArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Connector": {
                        "type": "structure",
                        "members": {
                            "Arn": {},
                            "CertificateAuthorityArn": {},
                            "CertificateEnrollmentPolicyServerEndpoint": {},
                            "DirectoryId": {},
                            "VpcInformation": {
                                "shape": "S4"
                            },
                            "Status": {},
                            "StatusReason": {},
                            "CreatedAt": {
                                "type": "timestamp"
                            },
                            "UpdatedAt": {
                                "type": "timestamp"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKKNCIZPP52K575HMR7HX2WHJCBPP4ZTUCFH3D2PMYF6K5YW7OGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5AGR6TXLDM4NMXLZJPONFC7MU2D4PSYVGAWMUOBDO6VZMUNHJLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5IEYYAGRRJUIYEPLNGVYTCDKIGTQOOYNLT7EFQQQ2C7BBR62ME7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RYOQIHKKJL3PMA2BDMSWK437URNGIH754QQD32VXZRARHZCQEHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OP2PNQCGPBRFBA4XV3AXZVD65BGOMSRPPFDJOFEZAGKHFOO4YUQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34PNDZA7TL6QVAK3CLSWWVKO33ZWWEH2FXZXELA57Z5QJGXNOU3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TU66JZQCYRLJXPHZ2OCL6P5VMHXRDRNAHYVXXJ7ACTBOFVJJ3MIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEDXREX3KGNRMM6DNFSVUMFAWICLVHEPGVFMQ7L27NK2F65TPJMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67PZ76H7OICIWDULB5MXQFLX5NN4LUPJCXIA44G3AOP2U6YTAK7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DURZ4KHLDODH2XWK5AF7EJRLKOMLBLNIN3VT2ZV3SAHG5BJG4KXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WHMKYYETOXKSA7Y7V2DGWVRREOBAKWAXHCMUUCQOTDMSBZS5N7CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FWZMJIGT6EAVQRYXEJ4EXOYZL3GZ2CDVNKOKORH6QTMOO5GHBWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I7QCEHK4H4HNXWA66VTE73DCHEFWJI6BPUISI6QIP34VVYUG35KQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3EXCUYDZKEIGB2JEHVQT5K4PJJG7TQG6KG3RZNFRAW7F7FYZOOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBJDJ2EPNIF6YVQALR5PP4EZ7QYBMZBV4K57Q7AVTPILKDA57AFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HC77OFDWGFRU4NOMRRYNUPEYNS45LTKEIU7SOCW3ULI7EUDHXKUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XHMAAXQWPGQ6LUB25GLRLQTNEZ3UJTNWP4ULZWACIWWLYDMMJMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L33XUUKVQ44TCWYYXZ6MSYIP3SWLFCT62SYS3K2OBQJSNFHLODQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OKSV24N5RIN5VSTGS3YINF2EAJFDNSYZQIGKFXUVV7YT5XWIINFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ABTVIQMCTUSGBNCYX6634DRMYWWLME7BH6ERIGE5VBTFUSSGLCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js"
            ]
        },
        "GetDirectoryRegistration": {
            "http": {
                "method": "GET",
                "requestUri": "/directoryRegistrations/{DirectoryRegistrationArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryRegistrationArn"
                ],
                "members": {
                    "DirectoryRegistrationArn": {
                        "location": "uri",
                        "locationName": "DirectoryRegistrationArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DirectoryRegistration": {
                        "type": "structure",
                        "members": {
                            "Arn": {},
                            "DirectoryId": {},
                            "Status": {},
                            "StatusReason": {},
                            "CreatedAt": {
                                "type": "timestamp"
                            },
                            "UpdatedAt": {
                                "type": "timestamp"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKKNCIZPP52K575HMR7HX2WHJCBPP4ZTUCFH3D2PMYF6K5YW7OGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5AGR6TXLDM4NMXLZJPONFC7MU2D4PSYVGAWMUOBDO6VZMUNHJLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5IEYYAGRRJUIYEPLNGVYTCDKIGTQOOYNLT7EFQQQ2C7BBR62ME7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RYOQIHKKJL3PMA2BDMSWK437URNGIH754QQD32VXZRARHZCQEHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OP2PNQCGPBRFBA4XV3AXZVD65BGOMSRPPFDJOFEZAGKHFOO4YUQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34PNDZA7TL6QVAK3CLSWWVKO33ZWWEH2FXZXELA57Z5QJGXNOU3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TU66JZQCYRLJXPHZ2OCL6P5VMHXRDRNAHYVXXJ7ACTBOFVJJ3MIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEDXREX3KGNRMM6DNFSVUMFAWICLVHEPGVFMQ7L27NK2F65TPJMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67PZ76H7OICIWDULB5MXQFLX5NN4LUPJCXIA44G3AOP2U6YTAK7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DURZ4KHLDODH2XWK5AF7EJRLKOMLBLNIN3VT2ZV3SAHG5BJG4KXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WHMKYYETOXKSA7Y7V2DGWVRREOBAKWAXHCMUUCQOTDMSBZS5N7CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FWZMJIGT6EAVQRYXEJ4EXOYZL3GZ2CDVNKOKORH6QTMOO5GHBWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I7QCEHK4H4HNXWA66VTE73DCHEFWJI6BPUISI6QIP34VVYUG35KQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3EXCUYDZKEIGB2JEHVQT5K4PJJG7TQG6KG3RZNFRAW7F7FYZOOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBJDJ2EPNIF6YVQALR5PP4EZ7QYBMZBV4K57Q7AVTPILKDA57AFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HC77OFDWGFRU4NOMRRYNUPEYNS45LTKEIU7SOCW3ULI7EUDHXKUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XHMAAXQWPGQ6LUB25GLRLQTNEZ3UJTNWP4ULZWACIWWLYDMMJMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L33XUUKVQ44TCWYYXZ6MSYIP3SWLFCT62SYS3K2OBQJSNFHLODQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OKSV24N5RIN5VSTGS3YINF2EAJFDNSYZQIGKFXUVV7YT5XWIINFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ABTVIQMCTUSGBNCYX6634DRMYWWLME7BH6ERIGE5VBTFUSSGLCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js"
            ]
        },
        "GetServicePrincipalName": {
            "http": {
                "method": "GET",
                "requestUri": "/directoryRegistrations/{DirectoryRegistrationArn}/servicePrincipalNames/{ConnectorArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryRegistrationArn",
                    "ConnectorArn"
                ],
                "members": {
                    "DirectoryRegistrationArn": {
                        "location": "uri",
                        "locationName": "DirectoryRegistrationArn"
                    },
                    "ConnectorArn": {
                        "location": "uri",
                        "locationName": "ConnectorArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ServicePrincipalName": {
                        "type": "structure",
                        "members": {
                            "DirectoryRegistrationArn": {},
                            "ConnectorArn": {},
                            "Status": {},
                            "StatusReason": {},
                            "CreatedAt": {
                                "type": "timestamp"
                            },
                            "UpdatedAt": {
                                "type": "timestamp"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKKNCIZPP52K575HMR7HX2WHJCBPP4ZTUCFH3D2PMYF6K5YW7OGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5AGR6TXLDM4NMXLZJPONFC7MU2D4PSYVGAWMUOBDO6VZMUNHJLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5IEYYAGRRJUIYEPLNGVYTCDKIGTQOOYNLT7EFQQQ2C7BBR62ME7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RYOQIHKKJL3PMA2BDMSWK437URNGIH754QQD32VXZRARHZCQEHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OP2PNQCGPBRFBA4XV3AXZVD65BGOMSRPPFDJOFEZAGKHFOO4YUQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34PNDZA7TL6QVAK3CLSWWVKO33ZWWEH2FXZXELA57Z5QJGXNOU3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TU66JZQCYRLJXPHZ2OCL6P5VMHXRDRNAHYVXXJ7ACTBOFVJJ3MIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEDXREX3KGNRMM6DNFSVUMFAWICLVHEPGVFMQ7L27NK2F65TPJMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67PZ76H7OICIWDULB5MXQFLX5NN4LUPJCXIA44G3AOP2U6YTAK7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DURZ4KHLDODH2XWK5AF7EJRLKOMLBLNIN3VT2ZV3SAHG5BJG4KXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WHMKYYETOXKSA7Y7V2DGWVRREOBAKWAXHCMUUCQOTDMSBZS5N7CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FWZMJIGT6EAVQRYXEJ4EXOYZL3GZ2CDVNKOKORH6QTMOO5GHBWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I7QCEHK4H4HNXWA66VTE73DCHEFWJI6BPUISI6QIP34VVYUG35KQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3EXCUYDZKEIGB2JEHVQT5K4PJJG7TQG6KG3RZNFRAW7F7FYZOOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBJDJ2EPNIF6YVQALR5PP4EZ7QYBMZBV4K57Q7AVTPILKDA57AFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HC77OFDWGFRU4NOMRRYNUPEYNS45LTKEIU7SOCW3ULI7EUDHXKUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XHMAAXQWPGQ6LUB25GLRLQTNEZ3UJTNWP4ULZWACIWWLYDMMJMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L33XUUKVQ44TCWYYXZ6MSYIP3SWLFCT62SYS3K2OBQJSNFHLODQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OKSV24N5RIN5VSTGS3YINF2EAJFDNSYZQIGKFXUVV7YT5XWIINFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ABTVIQMCTUSGBNCYX6634DRMYWWLME7BH6ERIGE5VBTFUSSGLCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js"
            ]
        },
        "GetTemplate": {
            "http": {
                "method": "GET",
                "requestUri": "/templates/{TemplateArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "TemplateArn"
                ],
                "members": {
                    "TemplateArn": {
                        "location": "uri",
                        "locationName": "TemplateArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Template": {
                        "type": "structure",
                        "members": {
                            "Arn": {},
                            "ConnectorArn": {},
                            "Definition": {
                                "shape": "Si"
                            },
                            "Name": {},
                            "ObjectIdentifier": {},
                            "PolicySchema": {
                                "type": "integer"
                            },
                            "Status": {},
                            "Revision": {
                                "shape": "S2s"
                            },
                            "CreatedAt": {
                                "type": "timestamp"
                            },
                            "UpdatedAt": {
                                "type": "timestamp"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKKNCIZPP52K575HMR7HX2WHJCBPP4ZTUCFH3D2PMYF6K5YW7OGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5AGR6TXLDM4NMXLZJPONFC7MU2D4PSYVGAWMUOBDO6VZMUNHJLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5IEYYAGRRJUIYEPLNGVYTCDKIGTQOOYNLT7EFQQQ2C7BBR62ME7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RYOQIHKKJL3PMA2BDMSWK437URNGIH754QQD32VXZRARHZCQEHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OP2PNQCGPBRFBA4XV3AXZVD65BGOMSRPPFDJOFEZAGKHFOO4YUQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34PNDZA7TL6QVAK3CLSWWVKO33ZWWEH2FXZXELA57Z5QJGXNOU3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TU66JZQCYRLJXPHZ2OCL6P5VMHXRDRNAHYVXXJ7ACTBOFVJJ3MIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEDXREX3KGNRMM6DNFSVUMFAWICLVHEPGVFMQ7L27NK2F65TPJMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67PZ76H7OICIWDULB5MXQFLX5NN4LUPJCXIA44G3AOP2U6YTAK7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DURZ4KHLDODH2XWK5AF7EJRLKOMLBLNIN3VT2ZV3SAHG5BJG4KXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WHMKYYETOXKSA7Y7V2DGWVRREOBAKWAXHCMUUCQOTDMSBZS5N7CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FWZMJIGT6EAVQRYXEJ4EXOYZL3GZ2CDVNKOKORH6QTMOO5GHBWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I7QCEHK4H4HNXWA66VTE73DCHEFWJI6BPUISI6QIP34VVYUG35KQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3EXCUYDZKEIGB2JEHVQT5K4PJJG7TQG6KG3RZNFRAW7F7FYZOOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBJDJ2EPNIF6YVQALR5PP4EZ7QYBMZBV4K57Q7AVTPILKDA57AFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HC77OFDWGFRU4NOMRRYNUPEYNS45LTKEIU7SOCW3ULI7EUDHXKUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XHMAAXQWPGQ6LUB25GLRLQTNEZ3UJTNWP4ULZWACIWWLYDMMJMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L33XUUKVQ44TCWYYXZ6MSYIP3SWLFCT62SYS3K2OBQJSNFHLODQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OKSV24N5RIN5VSTGS3YINF2EAJFDNSYZQIGKFXUVV7YT5XWIINFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ABTVIQMCTUSGBNCYX6634DRMYWWLME7BH6ERIGE5VBTFUSSGLCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js"
            ]
        },
        "GetTemplateGroupAccessControlEntry": {
            "http": {
                "method": "GET",
                "requestUri": "/templates/{TemplateArn}/accessControlEntries/{GroupSecurityIdentifier}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "TemplateArn",
                    "GroupSecurityIdentifier"
                ],
                "members": {
                    "TemplateArn": {
                        "location": "uri",
                        "locationName": "TemplateArn"
                    },
                    "GroupSecurityIdentifier": {
                        "location": "uri",
                        "locationName": "GroupSecurityIdentifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AccessControlEntry": {
                        "type": "structure",
                        "members": {
                            "GroupDisplayName": {},
                            "GroupSecurityIdentifier": {},
                            "AccessRights": {
                                "shape": "S20"
                            },
                            "TemplateArn": {},
                            "CreatedAt": {
                                "type": "timestamp"
                            },
                            "UpdatedAt": {
                                "type": "timestamp"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKKNCIZPP52K575HMR7HX2WHJCBPP4ZTUCFH3D2PMYF6K5YW7OGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5AGR6TXLDM4NMXLZJPONFC7MU2D4PSYVGAWMUOBDO6VZMUNHJLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5IEYYAGRRJUIYEPLNGVYTCDKIGTQOOYNLT7EFQQQ2C7BBR62ME7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RYOQIHKKJL3PMA2BDMSWK437URNGIH754QQD32VXZRARHZCQEHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OP2PNQCGPBRFBA4XV3AXZVD65BGOMSRPPFDJOFEZAGKHFOO4YUQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34PNDZA7TL6QVAK3CLSWWVKO33ZWWEH2FXZXELA57Z5QJGXNOU3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TU66JZQCYRLJXPHZ2OCL6P5VMHXRDRNAHYVXXJ7ACTBOFVJJ3MIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEDXREX3KGNRMM6DNFSVUMFAWICLVHEPGVFMQ7L27NK2F65TPJMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67PZ76H7OICIWDULB5MXQFLX5NN4LUPJCXIA44G3AOP2U6YTAK7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DURZ4KHLDODH2XWK5AF7EJRLKOMLBLNIN3VT2ZV3SAHG5BJG4KXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WHMKYYETOXKSA7Y7V2DGWVRREOBAKWAXHCMUUCQOTDMSBZS5N7CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FWZMJIGT6EAVQRYXEJ4EXOYZL3GZ2CDVNKOKORH6QTMOO5GHBWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I7QCEHK4H4HNXWA66VTE73DCHEFWJI6BPUISI6QIP34VVYUG35KQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3EXCUYDZKEIGB2JEHVQT5K4PJJG7TQG6KG3RZNFRAW7F7FYZOOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBJDJ2EPNIF6YVQALR5PP4EZ7QYBMZBV4K57Q7AVTPILKDA57AFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HC77OFDWGFRU4NOMRRYNUPEYNS45LTKEIU7SOCW3ULI7EUDHXKUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XHMAAXQWPGQ6LUB25GLRLQTNEZ3UJTNWP4ULZWACIWWLYDMMJMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L33XUUKVQ44TCWYYXZ6MSYIP3SWLFCT62SYS3K2OBQJSNFHLODQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OKSV24N5RIN5VSTGS3YINF2EAJFDNSYZQIGKFXUVV7YT5XWIINFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ABTVIQMCTUSGBNCYX6634DRMYWWLME7BH6ERIGE5VBTFUSSGLCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js"
            ]
        },
        "ListConnectors": {
            "http": {
                "method": "GET",
                "requestUri": "/connectors",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "MaxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "NextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Connectors": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Arn": {},
                                "CertificateAuthorityArn": {},
                                "CertificateEnrollmentPolicyServerEndpoint": {},
                                "DirectoryId": {},
                                "VpcInformation": {
                                    "shape": "S4"
                                },
                                "Status": {},
                                "StatusReason": {},
                                "CreatedAt": {
                                    "type": "timestamp"
                                },
                                "UpdatedAt": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKKNCIZPP52K575HMR7HX2WHJCBPP4ZTUCFH3D2PMYF6K5YW7OGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5AGR6TXLDM4NMXLZJPONFC7MU2D4PSYVGAWMUOBDO6VZMUNHJLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5IEYYAGRRJUIYEPLNGVYTCDKIGTQOOYNLT7EFQQQ2C7BBR62ME7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RYOQIHKKJL3PMA2BDMSWK437URNGIH754QQD32VXZRARHZCQEHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OP2PNQCGPBRFBA4XV3AXZVD65BGOMSRPPFDJOFEZAGKHFOO4YUQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34PNDZA7TL6QVAK3CLSWWVKO33ZWWEH2FXZXELA57Z5QJGXNOU3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TU66JZQCYRLJXPHZ2OCL6P5VMHXRDRNAHYVXXJ7ACTBOFVJJ3MIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEDXREX3KGNRMM6DNFSVUMFAWICLVHEPGVFMQ7L27NK2F65TPJMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67PZ76H7OICIWDULB5MXQFLX5NN4LUPJCXIA44G3AOP2U6YTAK7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DURZ4KHLDODH2XWK5AF7EJRLKOMLBLNIN3VT2ZV3SAHG5BJG4KXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WHMKYYETOXKSA7Y7V2DGWVRREOBAKWAXHCMUUCQOTDMSBZS5N7CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FWZMJIGT6EAVQRYXEJ4EXOYZL3GZ2CDVNKOKORH6QTMOO5GHBWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I7QCEHK4H4HNXWA66VTE73DCHEFWJI6BPUISI6QIP34VVYUG35KQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3EXCUYDZKEIGB2JEHVQT5K4PJJG7TQG6KG3RZNFRAW7F7FYZOOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBJDJ2EPNIF6YVQALR5PP4EZ7QYBMZBV4K57Q7AVTPILKDA57AFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HC77OFDWGFRU4NOMRRYNUPEYNS45LTKEIU7SOCW3ULI7EUDHXKUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XHMAAXQWPGQ6LUB25GLRLQTNEZ3UJTNWP4ULZWACIWWLYDMMJMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L33XUUKVQ44TCWYYXZ6MSYIP3SWLFCT62SYS3K2OBQJSNFHLODQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OKSV24N5RIN5VSTGS3YINF2EAJFDNSYZQIGKFXUVV7YT5XWIINFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ABTVIQMCTUSGBNCYX6634DRMYWWLME7BH6ERIGE5VBTFUSSGLCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js"
            ]
        },
        "ListDirectoryRegistrations": {
            "http": {
                "method": "GET",
                "requestUri": "/directoryRegistrations",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "MaxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "NextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DirectoryRegistrations": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Arn": {},
                                "DirectoryId": {},
                                "Status": {},
                                "StatusReason": {},
                                "CreatedAt": {
                                    "type": "timestamp"
                                },
                                "UpdatedAt": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKKNCIZPP52K575HMR7HX2WHJCBPP4ZTUCFH3D2PMYF6K5YW7OGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5AGR6TXLDM4NMXLZJPONFC7MU2D4PSYVGAWMUOBDO6VZMUNHJLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5IEYYAGRRJUIYEPLNGVYTCDKIGTQOOYNLT7EFQQQ2C7BBR62ME7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RYOQIHKKJL3PMA2BDMSWK437URNGIH754QQD32VXZRARHZCQEHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OP2PNQCGPBRFBA4XV3AXZVD65BGOMSRPPFDJOFEZAGKHFOO4YUQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34PNDZA7TL6QVAK3CLSWWVKO33ZWWEH2FXZXELA57Z5QJGXNOU3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TU66JZQCYRLJXPHZ2OCL6P5VMHXRDRNAHYVXXJ7ACTBOFVJJ3MIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEDXREX3KGNRMM6DNFSVUMFAWICLVHEPGVFMQ7L27NK2F65TPJMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67PZ76H7OICIWDULB5MXQFLX5NN4LUPJCXIA44G3AOP2U6YTAK7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DURZ4KHLDODH2XWK5AF7EJRLKOMLBLNIN3VT2ZV3SAHG5BJG4KXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WHMKYYETOXKSA7Y7V2DGWVRREOBAKWAXHCMUUCQOTDMSBZS5N7CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FWZMJIGT6EAVQRYXEJ4EXOYZL3GZ2CDVNKOKORH6QTMOO5GHBWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I7QCEHK4H4HNXWA66VTE73DCHEFWJI6BPUISI6QIP34VVYUG35KQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3EXCUYDZKEIGB2JEHVQT5K4PJJG7TQG6KG3RZNFRAW7F7FYZOOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBJDJ2EPNIF6YVQALR5PP4EZ7QYBMZBV4K57Q7AVTPILKDA57AFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HC77OFDWGFRU4NOMRRYNUPEYNS45LTKEIU7SOCW3ULI7EUDHXKUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XHMAAXQWPGQ6LUB25GLRLQTNEZ3UJTNWP4ULZWACIWWLYDMMJMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L33XUUKVQ44TCWYYXZ6MSYIP3SWLFCT62SYS3K2OBQJSNFHLODQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OKSV24N5RIN5VSTGS3YINF2EAJFDNSYZQIGKFXUVV7YT5XWIINFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ABTVIQMCTUSGBNCYX6634DRMYWWLME7BH6ERIGE5VBTFUSSGLCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js"
            ]
        },
        "ListServicePrincipalNames": {
            "http": {
                "method": "GET",
                "requestUri": "/directoryRegistrations/{DirectoryRegistrationArn}/servicePrincipalNames",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryRegistrationArn"
                ],
                "members": {
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "MaxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "NextToken"
                    },
                    "DirectoryRegistrationArn": {
                        "location": "uri",
                        "locationName": "DirectoryRegistrationArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ServicePrincipalNames": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "DirectoryRegistrationArn": {},
                                "ConnectorArn": {},
                                "Status": {},
                                "StatusReason": {},
                                "CreatedAt": {
                                    "type": "timestamp"
                                },
                                "UpdatedAt": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKKNCIZPP52K575HMR7HX2WHJCBPP4ZTUCFH3D2PMYF6K5YW7OGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5AGR6TXLDM4NMXLZJPONFC7MU2D4PSYVGAWMUOBDO6VZMUNHJLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5IEYYAGRRJUIYEPLNGVYTCDKIGTQOOYNLT7EFQQQ2C7BBR62ME7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RYOQIHKKJL3PMA2BDMSWK437URNGIH754QQD32VXZRARHZCQEHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OP2PNQCGPBRFBA4XV3AXZVD65BGOMSRPPFDJOFEZAGKHFOO4YUQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34PNDZA7TL6QVAK3CLSWWVKO33ZWWEH2FXZXELA57Z5QJGXNOU3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TU66JZQCYRLJXPHZ2OCL6P5VMHXRDRNAHYVXXJ7ACTBOFVJJ3MIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEDXREX3KGNRMM6DNFSVUMFAWICLVHEPGVFMQ7L27NK2F65TPJMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67PZ76H7OICIWDULB5MXQFLX5NN4LUPJCXIA44G3AOP2U6YTAK7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DURZ4KHLDODH2XWK5AF7EJRLKOMLBLNIN3VT2ZV3SAHG5BJG4KXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WHMKYYETOXKSA7Y7V2DGWVRREOBAKWAXHCMUUCQOTDMSBZS5N7CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FWZMJIGT6EAVQRYXEJ4EXOYZL3GZ2CDVNKOKORH6QTMOO5GHBWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I7QCEHK4H4HNXWA66VTE73DCHEFWJI6BPUISI6QIP34VVYUG35KQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3EXCUYDZKEIGB2JEHVQT5K4PJJG7TQG6KG3RZNFRAW7F7FYZOOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBJDJ2EPNIF6YVQALR5PP4EZ7QYBMZBV4K57Q7AVTPILKDA57AFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HC77OFDWGFRU4NOMRRYNUPEYNS45LTKEIU7SOCW3ULI7EUDHXKUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XHMAAXQWPGQ6LUB25GLRLQTNEZ3UJTNWP4ULZWACIWWLYDMMJMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L33XUUKVQ44TCWYYXZ6MSYIP3SWLFCT62SYS3K2OBQJSNFHLODQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OKSV24N5RIN5VSTGS3YINF2EAJFDNSYZQIGKFXUVV7YT5XWIINFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ABTVIQMCTUSGBNCYX6634DRMYWWLME7BH6ERIGE5VBTFUSSGLCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js"
            ]
        },
        "ListTagsForResource": {
            "http": {
                "method": "GET",
                "requestUri": "/tags/{ResourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn"
                ],
                "members": {
                    "ResourceArn": {
                        "location": "uri",
                        "locationName": "ResourceArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Tags": {
                        "shape": "S8"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKKNCIZPP52K575HMR7HX2WHJCBPP4ZTUCFH3D2PMYF6K5YW7OGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5AGR6TXLDM4NMXLZJPONFC7MU2D4PSYVGAWMUOBDO6VZMUNHJLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5IEYYAGRRJUIYEPLNGVYTCDKIGTQOOYNLT7EFQQQ2C7BBR62ME7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RYOQIHKKJL3PMA2BDMSWK437URNGIH754QQD32VXZRARHZCQEHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OP2PNQCGPBRFBA4XV3AXZVD65BGOMSRPPFDJOFEZAGKHFOO4YUQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34PNDZA7TL6QVAK3CLSWWVKO33ZWWEH2FXZXELA57Z5QJGXNOU3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TU66JZQCYRLJXPHZ2OCL6P5VMHXRDRNAHYVXXJ7ACTBOFVJJ3MIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEDXREX3KGNRMM6DNFSVUMFAWICLVHEPGVFMQ7L27NK2F65TPJMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67PZ76H7OICIWDULB5MXQFLX5NN4LUPJCXIA44G3AOP2U6YTAK7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DURZ4KHLDODH2XWK5AF7EJRLKOMLBLNIN3VT2ZV3SAHG5BJG4KXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WHMKYYETOXKSA7Y7V2DGWVRREOBAKWAXHCMUUCQOTDMSBZS5N7CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FWZMJIGT6EAVQRYXEJ4EXOYZL3GZ2CDVNKOKORH6QTMOO5GHBWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I7QCEHK4H4HNXWA66VTE73DCHEFWJI6BPUISI6QIP34VVYUG35KQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3EXCUYDZKEIGB2JEHVQT5K4PJJG7TQG6KG3RZNFRAW7F7FYZOOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBJDJ2EPNIF6YVQALR5PP4EZ7QYBMZBV4K57Q7AVTPILKDA57AFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HC77OFDWGFRU4NOMRRYNUPEYNS45LTKEIU7SOCW3ULI7EUDHXKUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XHMAAXQWPGQ6LUB25GLRLQTNEZ3UJTNWP4ULZWACIWWLYDMMJMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L33XUUKVQ44TCWYYXZ6MSYIP3SWLFCT62SYS3K2OBQJSNFHLODQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OKSV24N5RIN5VSTGS3YINF2EAJFDNSYZQIGKFXUVV7YT5XWIINFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ABTVIQMCTUSGBNCYX6634DRMYWWLME7BH6ERIGE5VBTFUSSGLCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js"
            ]
        },
        "ListTemplateGroupAccessControlEntries": {
            "http": {
                "method": "GET",
                "requestUri": "/templates/{TemplateArn}/accessControlEntries",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "TemplateArn"
                ],
                "members": {
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "MaxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "NextToken"
                    },
                    "TemplateArn": {
                        "location": "uri",
                        "locationName": "TemplateArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AccessControlEntries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "GroupDisplayName": {},
                                "GroupSecurityIdentifier": {},
                                "AccessRights": {
                                    "shape": "S20"
                                },
                                "TemplateArn": {},
                                "CreatedAt": {
                                    "type": "timestamp"
                                },
                                "UpdatedAt": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKKNCIZPP52K575HMR7HX2WHJCBPP4ZTUCFH3D2PMYF6K5YW7OGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5AGR6TXLDM4NMXLZJPONFC7MU2D4PSYVGAWMUOBDO6VZMUNHJLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5IEYYAGRRJUIYEPLNGVYTCDKIGTQOOYNLT7EFQQQ2C7BBR62ME7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RYOQIHKKJL3PMA2BDMSWK437URNGIH754QQD32VXZRARHZCQEHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OP2PNQCGPBRFBA4XV3AXZVD65BGOMSRPPFDJOFEZAGKHFOO4YUQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34PNDZA7TL6QVAK3CLSWWVKO33ZWWEH2FXZXELA57Z5QJGXNOU3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TU66JZQCYRLJXPHZ2OCL6P5VMHXRDRNAHYVXXJ7ACTBOFVJJ3MIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEDXREX3KGNRMM6DNFSVUMFAWICLVHEPGVFMQ7L27NK2F65TPJMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67PZ76H7OICIWDULB5MXQFLX5NN4LUPJCXIA44G3AOP2U6YTAK7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DURZ4KHLDODH2XWK5AF7EJRLKOMLBLNIN3VT2ZV3SAHG5BJG4KXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WHMKYYETOXKSA7Y7V2DGWVRREOBAKWAXHCMUUCQOTDMSBZS5N7CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FWZMJIGT6EAVQRYXEJ4EXOYZL3GZ2CDVNKOKORH6QTMOO5GHBWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I7QCEHK4H4HNXWA66VTE73DCHEFWJI6BPUISI6QIP34VVYUG35KQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3EXCUYDZKEIGB2JEHVQT5K4PJJG7TQG6KG3RZNFRAW7F7FYZOOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBJDJ2EPNIF6YVQALR5PP4EZ7QYBMZBV4K57Q7AVTPILKDA57AFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HC77OFDWGFRU4NOMRRYNUPEYNS45LTKEIU7SOCW3ULI7EUDHXKUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XHMAAXQWPGQ6LUB25GLRLQTNEZ3UJTNWP4ULZWACIWWLYDMMJMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L33XUUKVQ44TCWYYXZ6MSYIP3SWLFCT62SYS3K2OBQJSNFHLODQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OKSV24N5RIN5VSTGS3YINF2EAJFDNSYZQIGKFXUVV7YT5XWIINFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ABTVIQMCTUSGBNCYX6634DRMYWWLME7BH6ERIGE5VBTFUSSGLCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js"
            ]
        },
        "ListTemplates": {
            "http": {
                "method": "GET",
                "requestUri": "/templates",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ConnectorArn"
                ],
                "members": {
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "MaxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "NextToken"
                    },
                    "ConnectorArn": {
                        "location": "querystring",
                        "locationName": "ConnectorArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Templates": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Arn": {},
                                "ConnectorArn": {},
                                "Definition": {
                                    "shape": "Si"
                                },
                                "Name": {},
                                "ObjectIdentifier": {},
                                "PolicySchema": {
                                    "type": "integer"
                                },
                                "Status": {},
                                "Revision": {
                                    "shape": "S2s"
                                },
                                "CreatedAt": {
                                    "type": "timestamp"
                                },
                                "UpdatedAt": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKKNCIZPP52K575HMR7HX2WHJCBPP4ZTUCFH3D2PMYF6K5YW7OGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5AGR6TXLDM4NMXLZJPONFC7MU2D4PSYVGAWMUOBDO6VZMUNHJLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5IEYYAGRRJUIYEPLNGVYTCDKIGTQOOYNLT7EFQQQ2C7BBR62ME7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RYOQIHKKJL3PMA2BDMSWK437URNGIH754QQD32VXZRARHZCQEHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OP2PNQCGPBRFBA4XV3AXZVD65BGOMSRPPFDJOFEZAGKHFOO4YUQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34PNDZA7TL6QVAK3CLSWWVKO33ZWWEH2FXZXELA57Z5QJGXNOU3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TU66JZQCYRLJXPHZ2OCL6P5VMHXRDRNAHYVXXJ7ACTBOFVJJ3MIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEDXREX3KGNRMM6DNFSVUMFAWICLVHEPGVFMQ7L27NK2F65TPJMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67PZ76H7OICIWDULB5MXQFLX5NN4LUPJCXIA44G3AOP2U6YTAK7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DURZ4KHLDODH2XWK5AF7EJRLKOMLBLNIN3VT2ZV3SAHG5BJG4KXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WHMKYYETOXKSA7Y7V2DGWVRREOBAKWAXHCMUUCQOTDMSBZS5N7CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FWZMJIGT6EAVQRYXEJ4EXOYZL3GZ2CDVNKOKORH6QTMOO5GHBWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I7QCEHK4H4HNXWA66VTE73DCHEFWJI6BPUISI6QIP34VVYUG35KQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3EXCUYDZKEIGB2JEHVQT5K4PJJG7TQG6KG3RZNFRAW7F7FYZOOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBJDJ2EPNIF6YVQALR5PP4EZ7QYBMZBV4K57Q7AVTPILKDA57AFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HC77OFDWGFRU4NOMRRYNUPEYNS45LTKEIU7SOCW3ULI7EUDHXKUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XHMAAXQWPGQ6LUB25GLRLQTNEZ3UJTNWP4ULZWACIWWLYDMMJMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L33XUUKVQ44TCWYYXZ6MSYIP3SWLFCT62SYS3K2OBQJSNFHLODQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OKSV24N5RIN5VSTGS3YINF2EAJFDNSYZQIGKFXUVV7YT5XWIINFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ABTVIQMCTUSGBNCYX6634DRMYWWLME7BH6ERIGE5VBTFUSSGLCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js"
            ]
        },
        "TagResource": {
            "http": {
                "requestUri": "/tags/{ResourceArn}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn",
                    "Tags"
                ],
                "members": {
                    "ResourceArn": {
                        "location": "uri",
                        "locationName": "ResourceArn"
                    },
                    "Tags": {
                        "shape": "S8"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKKNCIZPP52K575HMR7HX2WHJCBPP4ZTUCFH3D2PMYF6K5YW7OGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5AGR6TXLDM4NMXLZJPONFC7MU2D4PSYVGAWMUOBDO6VZMUNHJLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5IEYYAGRRJUIYEPLNGVYTCDKIGTQOOYNLT7EFQQQ2C7BBR62ME7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RYOQIHKKJL3PMA2BDMSWK437URNGIH754QQD32VXZRARHZCQEHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OP2PNQCGPBRFBA4XV3AXZVD65BGOMSRPPFDJOFEZAGKHFOO4YUQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34PNDZA7TL6QVAK3CLSWWVKO33ZWWEH2FXZXELA57Z5QJGXNOU3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TU66JZQCYRLJXPHZ2OCL6P5VMHXRDRNAHYVXXJ7ACTBOFVJJ3MIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEDXREX3KGNRMM6DNFSVUMFAWICLVHEPGVFMQ7L27NK2F65TPJMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67PZ76H7OICIWDULB5MXQFLX5NN4LUPJCXIA44G3AOP2U6YTAK7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DURZ4KHLDODH2XWK5AF7EJRLKOMLBLNIN3VT2ZV3SAHG5BJG4KXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WHMKYYETOXKSA7Y7V2DGWVRREOBAKWAXHCMUUCQOTDMSBZS5N7CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FWZMJIGT6EAVQRYXEJ4EXOYZL3GZ2CDVNKOKORH6QTMOO5GHBWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I7QCEHK4H4HNXWA66VTE73DCHEFWJI6BPUISI6QIP34VVYUG35KQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3EXCUYDZKEIGB2JEHVQT5K4PJJG7TQG6KG3RZNFRAW7F7FYZOOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBJDJ2EPNIF6YVQALR5PP4EZ7QYBMZBV4K57Q7AVTPILKDA57AFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HC77OFDWGFRU4NOMRRYNUPEYNS45LTKEIU7SOCW3ULI7EUDHXKUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XHMAAXQWPGQ6LUB25GLRLQTNEZ3UJTNWP4ULZWACIWWLYDMMJMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L33XUUKVQ44TCWYYXZ6MSYIP3SWLFCT62SYS3K2OBQJSNFHLODQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OKSV24N5RIN5VSTGS3YINF2EAJFDNSYZQIGKFXUVV7YT5XWIINFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ABTVIQMCTUSGBNCYX6634DRMYWWLME7BH6ERIGE5VBTFUSSGLCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js"
            ]
        },
        "UntagResource": {
            "http": {
                "method": "DELETE",
                "requestUri": "/tags/{ResourceArn}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn",
                    "TagKeys"
                ],
                "members": {
                    "ResourceArn": {
                        "location": "uri",
                        "locationName": "ResourceArn"
                    },
                    "TagKeys": {
                        "location": "querystring",
                        "locationName": "tagKeys",
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKKNCIZPP52K575HMR7HX2WHJCBPP4ZTUCFH3D2PMYF6K5YW7OGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5AGR6TXLDM4NMXLZJPONFC7MU2D4PSYVGAWMUOBDO6VZMUNHJLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5IEYYAGRRJUIYEPLNGVYTCDKIGTQOOYNLT7EFQQQ2C7BBR62ME7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RYOQIHKKJL3PMA2BDMSWK437URNGIH754QQD32VXZRARHZCQEHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OP2PNQCGPBRFBA4XV3AXZVD65BGOMSRPPFDJOFEZAGKHFOO4YUQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34PNDZA7TL6QVAK3CLSWWVKO33ZWWEH2FXZXELA57Z5QJGXNOU3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TU66JZQCYRLJXPHZ2OCL6P5VMHXRDRNAHYVXXJ7ACTBOFVJJ3MIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEDXREX3KGNRMM6DNFSVUMFAWICLVHEPGVFMQ7L27NK2F65TPJMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67PZ76H7OICIWDULB5MXQFLX5NN4LUPJCXIA44G3AOP2U6YTAK7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DURZ4KHLDODH2XWK5AF7EJRLKOMLBLNIN3VT2ZV3SAHG5BJG4KXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WHMKYYETOXKSA7Y7V2DGWVRREOBAKWAXHCMUUCQOTDMSBZS5N7CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FWZMJIGT6EAVQRYXEJ4EXOYZL3GZ2CDVNKOKORH6QTMOO5GHBWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I7QCEHK4H4HNXWA66VTE73DCHEFWJI6BPUISI6QIP34VVYUG35KQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3EXCUYDZKEIGB2JEHVQT5K4PJJG7TQG6KG3RZNFRAW7F7FYZOOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBJDJ2EPNIF6YVQALR5PP4EZ7QYBMZBV4K57Q7AVTPILKDA57AFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HC77OFDWGFRU4NOMRRYNUPEYNS45LTKEIU7SOCW3ULI7EUDHXKUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XHMAAXQWPGQ6LUB25GLRLQTNEZ3UJTNWP4ULZWACIWWLYDMMJMA/main.js",
[...]
