{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2021-08-22",
        "endpointPrefix": "pcm",
        "protocol": "rest-json",
        "protocols": [
            "rest-json"
        ],
        "serviceFullName": "AWS PCMGlobalControlPlaneService",
        "serviceId": "PCMGlobalControlPlaneService",
        "signatureVersion": "v4",
        "signingName": "networkmanager",
        "uid": "PCMGlobalControlPlaneService-2021-08-22",
        "auth": [
            "aws.auth#sigv4"
        ],
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/5H4YDZN23M3XIYSZZ6RXKE3KZ25UY7F7JIHD5MAILVXJOJ6UU3GA/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NDK3WQXGV6SFLMHQFW5O3DTJ4KW25J64VGERJRY6OSPNBADTIGEQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7IBVSC7VHMBW4RJNQMSNQT7LB3HTW6FLHOCLGXYWJT2446SV3EWA/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VKCZOGXTQG4TB56YWTQER7RWFX5RUHVQSEJW3PYIQ6XO4YKH2C6A/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/E4CO7F4O336DA7OM4QC5Q5IJID6FOUBSGYXMY74FLM6GK43XA76Q/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FTTW5QENDVLY2FVDWLM2HI6EOPIDYA6FEXNCNNIGMMHS2VAWZWYQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FBJG3G5FNG2SN5N63637UTPD67DNB4TKYBUYAT4YMYR2F5POH23Q/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VKA3W7P4CY62F75R7E3FZA7QTARLQFS7OTGMOHSACWDKJ5LPTMQA/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TSGNJYTB6LKO4DE2NQ66JKB2OTD5U4GJTBBUUA35LVF62WSZTPUA/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4VXGNZZWELJPZG7GOGKT45FQAMULYMADSDWMP4FZOWEEUO5IA7WQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YDQXBU62N2GWWWRC4HUFFRUZW7MSGJ7CTZQPUYC7ZLP5S2TMPDEA/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MQOBOZFWOH5LW2RAIYKPRFG64WHG2PR2OSHBYSAXFMTAV4I5T62Q/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FX2UBOKVBGHFP3PEZKTIAPZU3UHSY5ZVDSEJPIACFWNY5INOGBVQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YJ3CN3HJMXR3YOIGQJAQTVZ6AB3SPOOZTZUF4ZHUMYBF435Q7E4A/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DH2UUIWJ2L2ZVZNQKXBTJXZOFPEBDPVKNEL3FZPKFDO3MDUGHWWQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/57OWDB73XTQAVHBMWRGQER4LK5F6AS2UCIFZFT5ADODPL6Q7VIJQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4D243DGGI74X6PS76PHJ6TISGRTUZF6Z77A6SQ3NNV2JQH7DGSAA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LCNQDEH2N7VZ55SKGDWBGF6L6FA7OBTEVE6X3WRGIIW57FGVJA7A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZIT2XSXJ3U6V7PJRVLJ7PKH42VFWWVS4FXGHCUJTAY7NUDPDK7UA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CVBBF7FYTO64TGFOHNIZW3KVE4ZNCSCVQZGGF624GANXDU5IQZFA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CUDAJNHRGYWFYJ26MHBC7MFGCJFDFJVLKEI3PHZMEUD3GCPOTWLA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MPI7BV4S56U7WIKFQD36P7J3GYLF3Z3VP6PM6PAG3DTIVRUHXO3A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PIOQT56YI5KXFJZPMDFFLMGTUQA5JB3WPPSI2A7TGUHTBQEBZORA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6XNXRRVCASGJLGR36V7IIVIYBWDVVG6PRO7R5LZDTEZYKVX67OQQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/M33GCBMXOZHNI6DHIIWFYJ5CI5ZP2ITWPXH7WRVPWAWC4FI7EDBQ/main.js"
        ]
    },
    "operations": {
        "CreateConnectivityClientManager": {
            "http": {
                "requestUri": "/connectivity-client-manager/create",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "MagicString"
                ],
                "members": {
                    "MagicString": {},
                    "Description": {},
                    "Tags": {
                        "shape": "S4"
                    },
                    "ClientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ConnectivityClientManagerIdentifier",
                    "ConnectivityClientManagerArn"
                ],
                "members": {
                    "ConnectivityClientManagerIdentifier": {},
                    "ConnectivityClientManagerArn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NDK3WQXGV6SFLMHQFW5O3DTJ4KW25J64VGERJRY6OSPNBADTIGEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IBVSC7VHMBW4RJNQMSNQT7LB3HTW6FLHOCLGXYWJT2446SV3EWA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKCZOGXTQG4TB56YWTQER7RWFX5RUHVQSEJW3PYIQ6XO4YKH2C6A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E4CO7F4O336DA7OM4QC5Q5IJID6FOUBSGYXMY74FLM6GK43XA76Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTTW5QENDVLY2FVDWLM2HI6EOPIDYA6FEXNCNNIGMMHS2VAWZWYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBJG3G5FNG2SN5N63637UTPD67DNB4TKYBUYAT4YMYR2F5POH23Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKA3W7P4CY62F75R7E3FZA7QTARLQFS7OTGMOHSACWDKJ5LPTMQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSGNJYTB6LKO4DE2NQ66JKB2OTD5U4GJTBBUUA35LVF62WSZTPUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VXGNZZWELJPZG7GOGKT45FQAMULYMADSDWMP4FZOWEEUO5IA7WQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDQXBU62N2GWWWRC4HUFFRUZW7MSGJ7CTZQPUYC7ZLP5S2TMPDEA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQOBOZFWOH5LW2RAIYKPRFG64WHG2PR2OSHBYSAXFMTAV4I5T62Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FX2UBOKVBGHFP3PEZKTIAPZU3UHSY5ZVDSEJPIACFWNY5INOGBVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJ3CN3HJMXR3YOIGQJAQTVZ6AB3SPOOZTZUF4ZHUMYBF435Q7E4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DH2UUIWJ2L2ZVZNQKXBTJXZOFPEBDPVKNEL3FZPKFDO3MDUGHWWQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57OWDB73XTQAVHBMWRGQER4LK5F6AS2UCIFZFT5ADODPL6Q7VIJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4D243DGGI74X6PS76PHJ6TISGRTUZF6Z77A6SQ3NNV2JQH7DGSAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCNQDEH2N7VZ55SKGDWBGF6L6FA7OBTEVE6X3WRGIIW57FGVJA7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIT2XSXJ3U6V7PJRVLJ7PKH42VFWWVS4FXGHCUJTAY7NUDPDK7UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVBBF7FYTO64TGFOHNIZW3KVE4ZNCSCVQZGGF624GANXDU5IQZFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CUDAJNHRGYWFYJ26MHBC7MFGCJFDFJVLKEI3PHZMEUD3GCPOTWLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MPI7BV4S56U7WIKFQD36P7J3GYLF3Z3VP6PM6PAG3DTIVRUHXO3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIOQT56YI5KXFJZPMDFFLMGTUQA5JB3WPPSI2A7TGUHTBQEBZORA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XNXRRVCASGJLGR36V7IIVIYBWDVVG6PRO7R5LZDTEZYKVX67OQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M33GCBMXOZHNI6DHIIWFYJ5CI5ZP2ITWPXH7WRVPWAWC4FI7EDBQ/main.js"
            ]
        },
        "DeleteConnectivityClientManager": {
            "http": {
                "requestUri": "/connectivity-client-manager/delete",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ConnectivityClientManagerArn"
                ],
                "members": {
                    "ConnectivityClientManagerArn": {},
                    "ClientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ConnectivityClientManagerArn"
                ],
                "members": {
                    "ConnectivityClientManagerArn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NDK3WQXGV6SFLMHQFW5O3DTJ4KW25J64VGERJRY6OSPNBADTIGEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IBVSC7VHMBW4RJNQMSNQT7LB3HTW6FLHOCLGXYWJT2446SV3EWA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKCZOGXTQG4TB56YWTQER7RWFX5RUHVQSEJW3PYIQ6XO4YKH2C6A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E4CO7F4O336DA7OM4QC5Q5IJID6FOUBSGYXMY74FLM6GK43XA76Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTTW5QENDVLY2FVDWLM2HI6EOPIDYA6FEXNCNNIGMMHS2VAWZWYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBJG3G5FNG2SN5N63637UTPD67DNB4TKYBUYAT4YMYR2F5POH23Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKA3W7P4CY62F75R7E3FZA7QTARLQFS7OTGMOHSACWDKJ5LPTMQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSGNJYTB6LKO4DE2NQ66JKB2OTD5U4GJTBBUUA35LVF62WSZTPUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VXGNZZWELJPZG7GOGKT45FQAMULYMADSDWMP4FZOWEEUO5IA7WQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDQXBU62N2GWWWRC4HUFFRUZW7MSGJ7CTZQPUYC7ZLP5S2TMPDEA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQOBOZFWOH5LW2RAIYKPRFG64WHG2PR2OSHBYSAXFMTAV4I5T62Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FX2UBOKVBGHFP3PEZKTIAPZU3UHSY5ZVDSEJPIACFWNY5INOGBVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJ3CN3HJMXR3YOIGQJAQTVZ6AB3SPOOZTZUF4ZHUMYBF435Q7E4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DH2UUIWJ2L2ZVZNQKXBTJXZOFPEBDPVKNEL3FZPKFDO3MDUGHWWQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57OWDB73XTQAVHBMWRGQER4LK5F6AS2UCIFZFT5ADODPL6Q7VIJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4D243DGGI74X6PS76PHJ6TISGRTUZF6Z77A6SQ3NNV2JQH7DGSAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCNQDEH2N7VZ55SKGDWBGF6L6FA7OBTEVE6X3WRGIIW57FGVJA7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIT2XSXJ3U6V7PJRVLJ7PKH42VFWWVS4FXGHCUJTAY7NUDPDK7UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVBBF7FYTO64TGFOHNIZW3KVE4ZNCSCVQZGGF624GANXDU5IQZFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CUDAJNHRGYWFYJ26MHBC7MFGCJFDFJVLKEI3PHZMEUD3GCPOTWLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MPI7BV4S56U7WIKFQD36P7J3GYLF3Z3VP6PM6PAG3DTIVRUHXO3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIOQT56YI5KXFJZPMDFFLMGTUQA5JB3WPPSI2A7TGUHTBQEBZORA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XNXRRVCASGJLGR36V7IIVIYBWDVVG6PRO7R5LZDTEZYKVX67OQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M33GCBMXOZHNI6DHIIWFYJ5CI5ZP2ITWPXH7WRVPWAWC4FI7EDBQ/main.js"
            ]
        },
        "DeleteConnectivityClientManagerPolicy": {
            "http": {
                "requestUri": "/ccm-policy/delete",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn"
                ],
                "members": {
                    "ResourceArn": {},
                    "ClientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NDK3WQXGV6SFLMHQFW5O3DTJ4KW25J64VGERJRY6OSPNBADTIGEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IBVSC7VHMBW4RJNQMSNQT7LB3HTW6FLHOCLGXYWJT2446SV3EWA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKCZOGXTQG4TB56YWTQER7RWFX5RUHVQSEJW3PYIQ6XO4YKH2C6A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E4CO7F4O336DA7OM4QC5Q5IJID6FOUBSGYXMY74FLM6GK43XA76Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTTW5QENDVLY2FVDWLM2HI6EOPIDYA6FEXNCNNIGMMHS2VAWZWYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBJG3G5FNG2SN5N63637UTPD67DNB4TKYBUYAT4YMYR2F5POH23Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKA3W7P4CY62F75R7E3FZA7QTARLQFS7OTGMOHSACWDKJ5LPTMQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSGNJYTB6LKO4DE2NQ66JKB2OTD5U4GJTBBUUA35LVF62WSZTPUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VXGNZZWELJPZG7GOGKT45FQAMULYMADSDWMP4FZOWEEUO5IA7WQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDQXBU62N2GWWWRC4HUFFRUZW7MSGJ7CTZQPUYC7ZLP5S2TMPDEA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQOBOZFWOH5LW2RAIYKPRFG64WHG2PR2OSHBYSAXFMTAV4I5T62Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FX2UBOKVBGHFP3PEZKTIAPZU3UHSY5ZVDSEJPIACFWNY5INOGBVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJ3CN3HJMXR3YOIGQJAQTVZ6AB3SPOOZTZUF4ZHUMYBF435Q7E4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DH2UUIWJ2L2ZVZNQKXBTJXZOFPEBDPVKNEL3FZPKFDO3MDUGHWWQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57OWDB73XTQAVHBMWRGQER4LK5F6AS2UCIFZFT5ADODPL6Q7VIJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4D243DGGI74X6PS76PHJ6TISGRTUZF6Z77A6SQ3NNV2JQH7DGSAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCNQDEH2N7VZ55SKGDWBGF6L6FA7OBTEVE6X3WRGIIW57FGVJA7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIT2XSXJ3U6V7PJRVLJ7PKH42VFWWVS4FXGHCUJTAY7NUDPDK7UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVBBF7FYTO64TGFOHNIZW3KVE4ZNCSCVQZGGF624GANXDU5IQZFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CUDAJNHRGYWFYJ26MHBC7MFGCJFDFJVLKEI3PHZMEUD3GCPOTWLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MPI7BV4S56U7WIKFQD36P7J3GYLF3Z3VP6PM6PAG3DTIVRUHXO3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIOQT56YI5KXFJZPMDFFLMGTUQA5JB3WPPSI2A7TGUHTBQEBZORA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XNXRRVCASGJLGR36V7IIVIYBWDVVG6PRO7R5LZDTEZYKVX67OQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M33GCBMXOZHNI6DHIIWFYJ5CI5ZP2ITWPXH7WRVPWAWC4FI7EDBQ/main.js"
            ]
        },
        "ExportConnectivityClientConfiguration": {
            "http": {
                "requestUri": "/connectivity-client-configs/export",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ConnectivityClientManagerArn"
                ],
                "members": {
                    "ConnectivityClientManagerArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Url"
                ],
                "members": {
                    "Url": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NDK3WQXGV6SFLMHQFW5O3DTJ4KW25J64VGERJRY6OSPNBADTIGEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IBVSC7VHMBW4RJNQMSNQT7LB3HTW6FLHOCLGXYWJT2446SV3EWA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKCZOGXTQG4TB56YWTQER7RWFX5RUHVQSEJW3PYIQ6XO4YKH2C6A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E4CO7F4O336DA7OM4QC5Q5IJID6FOUBSGYXMY74FLM6GK43XA76Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTTW5QENDVLY2FVDWLM2HI6EOPIDYA6FEXNCNNIGMMHS2VAWZWYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBJG3G5FNG2SN5N63637UTPD67DNB4TKYBUYAT4YMYR2F5POH23Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKA3W7P4CY62F75R7E3FZA7QTARLQFS7OTGMOHSACWDKJ5LPTMQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSGNJYTB6LKO4DE2NQ66JKB2OTD5U4GJTBBUUA35LVF62WSZTPUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VXGNZZWELJPZG7GOGKT45FQAMULYMADSDWMP4FZOWEEUO5IA7WQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDQXBU62N2GWWWRC4HUFFRUZW7MSGJ7CTZQPUYC7ZLP5S2TMPDEA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQOBOZFWOH5LW2RAIYKPRFG64WHG2PR2OSHBYSAXFMTAV4I5T62Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FX2UBOKVBGHFP3PEZKTIAPZU3UHSY5ZVDSEJPIACFWNY5INOGBVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJ3CN3HJMXR3YOIGQJAQTVZ6AB3SPOOZTZUF4ZHUMYBF435Q7E4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DH2UUIWJ2L2ZVZNQKXBTJXZOFPEBDPVKNEL3FZPKFDO3MDUGHWWQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57OWDB73XTQAVHBMWRGQER4LK5F6AS2UCIFZFT5ADODPL6Q7VIJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4D243DGGI74X6PS76PHJ6TISGRTUZF6Z77A6SQ3NNV2JQH7DGSAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCNQDEH2N7VZ55SKGDWBGF6L6FA7OBTEVE6X3WRGIIW57FGVJA7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIT2XSXJ3U6V7PJRVLJ7PKH42VFWWVS4FXGHCUJTAY7NUDPDK7UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVBBF7FYTO64TGFOHNIZW3KVE4ZNCSCVQZGGF624GANXDU5IQZFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CUDAJNHRGYWFYJ26MHBC7MFGCJFDFJVLKEI3PHZMEUD3GCPOTWLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MPI7BV4S56U7WIKFQD36P7J3GYLF3Z3VP6PM6PAG3DTIVRUHXO3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIOQT56YI5KXFJZPMDFFLMGTUQA5JB3WPPSI2A7TGUHTBQEBZORA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XNXRRVCASGJLGR36V7IIVIYBWDVVG6PRO7R5LZDTEZYKVX67OQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M33GCBMXOZHNI6DHIIWFYJ5CI5ZP2ITWPXH7WRVPWAWC4FI7EDBQ/main.js"
            ]
        },
        "GetConnectivityClientManager": {
            "http": {
                "requestUri": "/connectivity-client-manager/get",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ConnectivityClientManagerArn"
                ],
                "members": {
                    "ConnectivityClientManagerArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ConnectivityClientManagerDetails"
                ],
                "members": {
                    "ConnectivityClientManagerDetails": {
                        "type": "structure",
                        "members": {
                            "ConnectivityClientManagerIdentifier": {},
                            "ConnectivityClientManagerArn": {},
                            "Description": {},
                            "MagicString": {},
                            "CreatedAt": {
                                "type": "timestamp"
                            },
                            "ConnectivityClientManagerState": {},
                            "Tags": {
                                "shape": "S4"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NDK3WQXGV6SFLMHQFW5O3DTJ4KW25J64VGERJRY6OSPNBADTIGEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IBVSC7VHMBW4RJNQMSNQT7LB3HTW6FLHOCLGXYWJT2446SV3EWA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKCZOGXTQG4TB56YWTQER7RWFX5RUHVQSEJW3PYIQ6XO4YKH2C6A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E4CO7F4O336DA7OM4QC5Q5IJID6FOUBSGYXMY74FLM6GK43XA76Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTTW5QENDVLY2FVDWLM2HI6EOPIDYA6FEXNCNNIGMMHS2VAWZWYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBJG3G5FNG2SN5N63637UTPD67DNB4TKYBUYAT4YMYR2F5POH23Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKA3W7P4CY62F75R7E3FZA7QTARLQFS7OTGMOHSACWDKJ5LPTMQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSGNJYTB6LKO4DE2NQ66JKB2OTD5U4GJTBBUUA35LVF62WSZTPUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VXGNZZWELJPZG7GOGKT45FQAMULYMADSDWMP4FZOWEEUO5IA7WQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDQXBU62N2GWWWRC4HUFFRUZW7MSGJ7CTZQPUYC7ZLP5S2TMPDEA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQOBOZFWOH5LW2RAIYKPRFG64WHG2PR2OSHBYSAXFMTAV4I5T62Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FX2UBOKVBGHFP3PEZKTIAPZU3UHSY5ZVDSEJPIACFWNY5INOGBVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJ3CN3HJMXR3YOIGQJAQTVZ6AB3SPOOZTZUF4ZHUMYBF435Q7E4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DH2UUIWJ2L2ZVZNQKXBTJXZOFPEBDPVKNEL3FZPKFDO3MDUGHWWQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57OWDB73XTQAVHBMWRGQER4LK5F6AS2UCIFZFT5ADODPL6Q7VIJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4D243DGGI74X6PS76PHJ6TISGRTUZF6Z77A6SQ3NNV2JQH7DGSAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCNQDEH2N7VZ55SKGDWBGF6L6FA7OBTEVE6X3WRGIIW57FGVJA7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIT2XSXJ3U6V7PJRVLJ7PKH42VFWWVS4FXGHCUJTAY7NUDPDK7UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVBBF7FYTO64TGFOHNIZW3KVE4ZNCSCVQZGGF624GANXDU5IQZFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CUDAJNHRGYWFYJ26MHBC7MFGCJFDFJVLKEI3PHZMEUD3GCPOTWLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MPI7BV4S56U7WIKFQD36P7J3GYLF3Z3VP6PM6PAG3DTIVRUHXO3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIOQT56YI5KXFJZPMDFFLMGTUQA5JB3WPPSI2A7TGUHTBQEBZORA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XNXRRVCASGJLGR36V7IIVIYBWDVVG6PRO7R5LZDTEZYKVX67OQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M33GCBMXOZHNI6DHIIWFYJ5CI5ZP2ITWPXH7WRVPWAWC4FI7EDBQ/main.js"
            ]
        },
        "GetConnectivityClientManagerPolicy": {
            "http": {
                "requestUri": "/ccm-policy/get",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn"
                ],
                "members": {
                    "ResourceArn": {},
                    "ClientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ResourceArn": {},
                    "PolicyDocument": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NDK3WQXGV6SFLMHQFW5O3DTJ4KW25J64VGERJRY6OSPNBADTIGEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IBVSC7VHMBW4RJNQMSNQT7LB3HTW6FLHOCLGXYWJT2446SV3EWA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKCZOGXTQG4TB56YWTQER7RWFX5RUHVQSEJW3PYIQ6XO4YKH2C6A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E4CO7F4O336DA7OM4QC5Q5IJID6FOUBSGYXMY74FLM6GK43XA76Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTTW5QENDVLY2FVDWLM2HI6EOPIDYA6FEXNCNNIGMMHS2VAWZWYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBJG3G5FNG2SN5N63637UTPD67DNB4TKYBUYAT4YMYR2F5POH23Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKA3W7P4CY62F75R7E3FZA7QTARLQFS7OTGMOHSACWDKJ5LPTMQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSGNJYTB6LKO4DE2NQ66JKB2OTD5U4GJTBBUUA35LVF62WSZTPUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VXGNZZWELJPZG7GOGKT45FQAMULYMADSDWMP4FZOWEEUO5IA7WQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDQXBU62N2GWWWRC4HUFFRUZW7MSGJ7CTZQPUYC7ZLP5S2TMPDEA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQOBOZFWOH5LW2RAIYKPRFG64WHG2PR2OSHBYSAXFMTAV4I5T62Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FX2UBOKVBGHFP3PEZKTIAPZU3UHSY5ZVDSEJPIACFWNY5INOGBVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJ3CN3HJMXR3YOIGQJAQTVZ6AB3SPOOZTZUF4ZHUMYBF435Q7E4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DH2UUIWJ2L2ZVZNQKXBTJXZOFPEBDPVKNEL3FZPKFDO3MDUGHWWQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57OWDB73XTQAVHBMWRGQER4LK5F6AS2UCIFZFT5ADODPL6Q7VIJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4D243DGGI74X6PS76PHJ6TISGRTUZF6Z77A6SQ3NNV2JQH7DGSAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCNQDEH2N7VZ55SKGDWBGF6L6FA7OBTEVE6X3WRGIIW57FGVJA7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIT2XSXJ3U6V7PJRVLJ7PKH42VFWWVS4FXGHCUJTAY7NUDPDK7UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVBBF7FYTO64TGFOHNIZW3KVE4ZNCSCVQZGGF624GANXDU5IQZFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CUDAJNHRGYWFYJ26MHBC7MFGCJFDFJVLKEI3PHZMEUD3GCPOTWLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MPI7BV4S56U7WIKFQD36P7J3GYLF3Z3VP6PM6PAG3DTIVRUHXO3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIOQT56YI5KXFJZPMDFFLMGTUQA5JB3WPPSI2A7TGUHTBQEBZORA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XNXRRVCASGJLGR36V7IIVIYBWDVVG6PRO7R5LZDTEZYKVX67OQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M33GCBMXOZHNI6DHIIWFYJ5CI5ZP2ITWPXH7WRVPWAWC4FI7EDBQ/main.js"
            ]
        },
        "GetConnectivityClientManagerPolicyInternal": {
            "http": {
                "requestUri": "/ccm-policy-internal/get",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ResourceArn": {},
                    "InternalId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Policy": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NDK3WQXGV6SFLMHQFW5O3DTJ4KW25J64VGERJRY6OSPNBADTIGEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IBVSC7VHMBW4RJNQMSNQT7LB3HTW6FLHOCLGXYWJT2446SV3EWA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKCZOGXTQG4TB56YWTQER7RWFX5RUHVQSEJW3PYIQ6XO4YKH2C6A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E4CO7F4O336DA7OM4QC5Q5IJID6FOUBSGYXMY74FLM6GK43XA76Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTTW5QENDVLY2FVDWLM2HI6EOPIDYA6FEXNCNNIGMMHS2VAWZWYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBJG3G5FNG2SN5N63637UTPD67DNB4TKYBUYAT4YMYR2F5POH23Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKA3W7P4CY62F75R7E3FZA7QTARLQFS7OTGMOHSACWDKJ5LPTMQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSGNJYTB6LKO4DE2NQ66JKB2OTD5U4GJTBBUUA35LVF62WSZTPUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VXGNZZWELJPZG7GOGKT45FQAMULYMADSDWMP4FZOWEEUO5IA7WQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDQXBU62N2GWWWRC4HUFFRUZW7MSGJ7CTZQPUYC7ZLP5S2TMPDEA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQOBOZFWOH5LW2RAIYKPRFG64WHG2PR2OSHBYSAXFMTAV4I5T62Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FX2UBOKVBGHFP3PEZKTIAPZU3UHSY5ZVDSEJPIACFWNY5INOGBVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJ3CN3HJMXR3YOIGQJAQTVZ6AB3SPOOZTZUF4ZHUMYBF435Q7E4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DH2UUIWJ2L2ZVZNQKXBTJXZOFPEBDPVKNEL3FZPKFDO3MDUGHWWQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57OWDB73XTQAVHBMWRGQER4LK5F6AS2UCIFZFT5ADODPL6Q7VIJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4D243DGGI74X6PS76PHJ6TISGRTUZF6Z77A6SQ3NNV2JQH7DGSAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCNQDEH2N7VZ55SKGDWBGF6L6FA7OBTEVE6X3WRGIIW57FGVJA7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIT2XSXJ3U6V7PJRVLJ7PKH42VFWWVS4FXGHCUJTAY7NUDPDK7UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVBBF7FYTO64TGFOHNIZW3KVE4ZNCSCVQZGGF624GANXDU5IQZFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CUDAJNHRGYWFYJ26MHBC7MFGCJFDFJVLKEI3PHZMEUD3GCPOTWLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MPI7BV4S56U7WIKFQD36P7J3GYLF3Z3VP6PM6PAG3DTIVRUHXO3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIOQT56YI5KXFJZPMDFFLMGTUQA5JB3WPPSI2A7TGUHTBQEBZORA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XNXRRVCASGJLGR36V7IIVIYBWDVVG6PRO7R5LZDTEZYKVX67OQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M33GCBMXOZHNI6DHIIWFYJ5CI5ZP2ITWPXH7WRVPWAWC4FI7EDBQ/main.js"
            ]
        },
        "ListConnectivityClientManagerConsumerAccounts": {
            "http": {
                "requestUri": "/ccm-consumer-accounts/list",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ResourceType": {},
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "AccountIds"
                ],
                "members": {
                    "AccountIds": {
                        "type": "list",
                        "member": {}
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NDK3WQXGV6SFLMHQFW5O3DTJ4KW25J64VGERJRY6OSPNBADTIGEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IBVSC7VHMBW4RJNQMSNQT7LB3HTW6FLHOCLGXYWJT2446SV3EWA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKCZOGXTQG4TB56YWTQER7RWFX5RUHVQSEJW3PYIQ6XO4YKH2C6A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E4CO7F4O336DA7OM4QC5Q5IJID6FOUBSGYXMY74FLM6GK43XA76Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTTW5QENDVLY2FVDWLM2HI6EOPIDYA6FEXNCNNIGMMHS2VAWZWYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBJG3G5FNG2SN5N63637UTPD67DNB4TKYBUYAT4YMYR2F5POH23Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKA3W7P4CY62F75R7E3FZA7QTARLQFS7OTGMOHSACWDKJ5LPTMQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSGNJYTB6LKO4DE2NQ66JKB2OTD5U4GJTBBUUA35LVF62WSZTPUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VXGNZZWELJPZG7GOGKT45FQAMULYMADSDWMP4FZOWEEUO5IA7WQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDQXBU62N2GWWWRC4HUFFRUZW7MSGJ7CTZQPUYC7ZLP5S2TMPDEA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQOBOZFWOH5LW2RAIYKPRFG64WHG2PR2OSHBYSAXFMTAV4I5T62Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FX2UBOKVBGHFP3PEZKTIAPZU3UHSY5ZVDSEJPIACFWNY5INOGBVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJ3CN3HJMXR3YOIGQJAQTVZ6AB3SPOOZTZUF4ZHUMYBF435Q7E4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DH2UUIWJ2L2ZVZNQKXBTJXZOFPEBDPVKNEL3FZPKFDO3MDUGHWWQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57OWDB73XTQAVHBMWRGQER4LK5F6AS2UCIFZFT5ADODPL6Q7VIJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4D243DGGI74X6PS76PHJ6TISGRTUZF6Z77A6SQ3NNV2JQH7DGSAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCNQDEH2N7VZ55SKGDWBGF6L6FA7OBTEVE6X3WRGIIW57FGVJA7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIT2XSXJ3U6V7PJRVLJ7PKH42VFWWVS4FXGHCUJTAY7NUDPDK7UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVBBF7FYTO64TGFOHNIZW3KVE4ZNCSCVQZGGF624GANXDU5IQZFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CUDAJNHRGYWFYJ26MHBC7MFGCJFDFJVLKEI3PHZMEUD3GCPOTWLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MPI7BV4S56U7WIKFQD36P7J3GYLF3Z3VP6PM6PAG3DTIVRUHXO3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIOQT56YI5KXFJZPMDFFLMGTUQA5JB3WPPSI2A7TGUHTBQEBZORA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XNXRRVCASGJLGR36V7IIVIYBWDVVG6PRO7R5LZDTEZYKVX67OQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M33GCBMXOZHNI6DHIIWFYJ5CI5ZP2ITWPXH7WRVPWAWC4FI7EDBQ/main.js"
            ]
        },
        "ListConnectivityClientManagerResources": {
            "http": {
                "requestUri": "/connectivity-client-manager-resources/list",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ConnectivityClientManagerArn"
                ],
                "members": {
                    "ConnectivityClientManagerArn": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Resources"
                ],
                "members": {
                    "Resources": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "ResourceType",
                                "ResourceArn"
                            ],
                            "members": {
                                "ResourceType": {},
                                "ResourceArn": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NDK3WQXGV6SFLMHQFW5O3DTJ4KW25J64VGERJRY6OSPNBADTIGEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IBVSC7VHMBW4RJNQMSNQT7LB3HTW6FLHOCLGXYWJT2446SV3EWA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKCZOGXTQG4TB56YWTQER7RWFX5RUHVQSEJW3PYIQ6XO4YKH2C6A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E4CO7F4O336DA7OM4QC5Q5IJID6FOUBSGYXMY74FLM6GK43XA76Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTTW5QENDVLY2FVDWLM2HI6EOPIDYA6FEXNCNNIGMMHS2VAWZWYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBJG3G5FNG2SN5N63637UTPD67DNB4TKYBUYAT4YMYR2F5POH23Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKA3W7P4CY62F75R7E3FZA7QTARLQFS7OTGMOHSACWDKJ5LPTMQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSGNJYTB6LKO4DE2NQ66JKB2OTD5U4GJTBBUUA35LVF62WSZTPUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VXGNZZWELJPZG7GOGKT45FQAMULYMADSDWMP4FZOWEEUO5IA7WQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDQXBU62N2GWWWRC4HUFFRUZW7MSGJ7CTZQPUYC7ZLP5S2TMPDEA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQOBOZFWOH5LW2RAIYKPRFG64WHG2PR2OSHBYSAXFMTAV4I5T62Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FX2UBOKVBGHFP3PEZKTIAPZU3UHSY5ZVDSEJPIACFWNY5INOGBVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJ3CN3HJMXR3YOIGQJAQTVZ6AB3SPOOZTZUF4ZHUMYBF435Q7E4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DH2UUIWJ2L2ZVZNQKXBTJXZOFPEBDPVKNEL3FZPKFDO3MDUGHWWQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57OWDB73XTQAVHBMWRGQER4LK5F6AS2UCIFZFT5ADODPL6Q7VIJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4D243DGGI74X6PS76PHJ6TISGRTUZF6Z77A6SQ3NNV2JQH7DGSAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCNQDEH2N7VZ55SKGDWBGF6L6FA7OBTEVE6X3WRGIIW57FGVJA7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIT2XSXJ3U6V7PJRVLJ7PKH42VFWWVS4FXGHCUJTAY7NUDPDK7UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVBBF7FYTO64TGFOHNIZW3KVE4ZNCSCVQZGGF624GANXDU5IQZFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CUDAJNHRGYWFYJ26MHBC7MFGCJFDFJVLKEI3PHZMEUD3GCPOTWLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MPI7BV4S56U7WIKFQD36P7J3GYLF3Z3VP6PM6PAG3DTIVRUHXO3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIOQT56YI5KXFJZPMDFFLMGTUQA5JB3WPPSI2A7TGUHTBQEBZORA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XNXRRVCASGJLGR36V7IIVIYBWDVVG6PRO7R5LZDTEZYKVX67OQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M33GCBMXOZHNI6DHIIWFYJ5CI5ZP2ITWPXH7WRVPWAWC4FI7EDBQ/main.js"
            ]
        },
        "ListConnectivityClientManagers": {
            "http": {
                "requestUri": "/connectivity-client-managers/list",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ConnectivityClientManagers"
                ],
                "members": {
                    "ConnectivityClientManagers": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ConnectivityClientManagerIdentifier": {},
                                "ConnectivityClientManagerArn": {},
                                "Description": {},
                                "MagicString": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NDK3WQXGV6SFLMHQFW5O3DTJ4KW25J64VGERJRY6OSPNBADTIGEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IBVSC7VHMBW4RJNQMSNQT7LB3HTW6FLHOCLGXYWJT2446SV3EWA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKCZOGXTQG4TB56YWTQER7RWFX5RUHVQSEJW3PYIQ6XO4YKH2C6A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E4CO7F4O336DA7OM4QC5Q5IJID6FOUBSGYXMY74FLM6GK43XA76Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTTW5QENDVLY2FVDWLM2HI6EOPIDYA6FEXNCNNIGMMHS2VAWZWYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBJG3G5FNG2SN5N63637UTPD67DNB4TKYBUYAT4YMYR2F5POH23Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKA3W7P4CY62F75R7E3FZA7QTARLQFS7OTGMOHSACWDKJ5LPTMQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSGNJYTB6LKO4DE2NQ66JKB2OTD5U4GJTBBUUA35LVF62WSZTPUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VXGNZZWELJPZG7GOGKT45FQAMULYMADSDWMP4FZOWEEUO5IA7WQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDQXBU62N2GWWWRC4HUFFRUZW7MSGJ7CTZQPUYC7ZLP5S2TMPDEA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQOBOZFWOH5LW2RAIYKPRFG64WHG2PR2OSHBYSAXFMTAV4I5T62Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FX2UBOKVBGHFP3PEZKTIAPZU3UHSY5ZVDSEJPIACFWNY5INOGBVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJ3CN3HJMXR3YOIGQJAQTVZ6AB3SPOOZTZUF4ZHUMYBF435Q7E4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DH2UUIWJ2L2ZVZNQKXBTJXZOFPEBDPVKNEL3FZPKFDO3MDUGHWWQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57OWDB73XTQAVHBMWRGQER4LK5F6AS2UCIFZFT5ADODPL6Q7VIJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4D243DGGI74X6PS76PHJ6TISGRTUZF6Z77A6SQ3NNV2JQH7DGSAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCNQDEH2N7VZ55SKGDWBGF6L6FA7OBTEVE6X3WRGIIW57FGVJA7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIT2XSXJ3U6V7PJRVLJ7PKH42VFWWVS4FXGHCUJTAY7NUDPDK7UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVBBF7FYTO64TGFOHNIZW3KVE4ZNCSCVQZGGF624GANXDU5IQZFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CUDAJNHRGYWFYJ26MHBC7MFGCJFDFJVLKEI3PHZMEUD3GCPOTWLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MPI7BV4S56U7WIKFQD36P7J3GYLF3Z3VP6PM6PAG3DTIVRUHXO3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIOQT56YI5KXFJZPMDFFLMGTUQA5JB3WPPSI2A7TGUHTBQEBZORA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XNXRRVCASGJLGR36V7IIVIYBWDVVG6PRO7R5LZDTEZYKVX67OQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M33GCBMXOZHNI6DHIIWFYJ5CI5ZP2ITWPXH7WRVPWAWC4FI7EDBQ/main.js"
            ]
        },
        "ListConnectivityClientManagersSupportPolicy": {
            "http": {
                "requestUri": "/ccm-support-policy/list",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceType"
                ],
                "members": {
                    "ResourceType": {},
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Resources"
                ],
                "members": {
                    "Resources": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ResourceArn": {},
                                "InternalId": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NDK3WQXGV6SFLMHQFW5O3DTJ4KW25J64VGERJRY6OSPNBADTIGEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IBVSC7VHMBW4RJNQMSNQT7LB3HTW6FLHOCLGXYWJT2446SV3EWA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKCZOGXTQG4TB56YWTQER7RWFX5RUHVQSEJW3PYIQ6XO4YKH2C6A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E4CO7F4O336DA7OM4QC5Q5IJID6FOUBSGYXMY74FLM6GK43XA76Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTTW5QENDVLY2FVDWLM2HI6EOPIDYA6FEXNCNNIGMMHS2VAWZWYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBJG3G5FNG2SN5N63637UTPD67DNB4TKYBUYAT4YMYR2F5POH23Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKA3W7P4CY62F75R7E3FZA7QTARLQFS7OTGMOHSACWDKJ5LPTMQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSGNJYTB6LKO4DE2NQ66JKB2OTD5U4GJTBBUUA35LVF62WSZTPUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VXGNZZWELJPZG7GOGKT45FQAMULYMADSDWMP4FZOWEEUO5IA7WQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDQXBU62N2GWWWRC4HUFFRUZW7MSGJ7CTZQPUYC7ZLP5S2TMPDEA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQOBOZFWOH5LW2RAIYKPRFG64WHG2PR2OSHBYSAXFMTAV4I5T62Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FX2UBOKVBGHFP3PEZKTIAPZU3UHSY5ZVDSEJPIACFWNY5INOGBVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJ3CN3HJMXR3YOIGQJAQTVZ6AB3SPOOZTZUF4ZHUMYBF435Q7E4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DH2UUIWJ2L2ZVZNQKXBTJXZOFPEBDPVKNEL3FZPKFDO3MDUGHWWQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57OWDB73XTQAVHBMWRGQER4LK5F6AS2UCIFZFT5ADODPL6Q7VIJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4D243DGGI74X6PS76PHJ6TISGRTUZF6Z77A6SQ3NNV2JQH7DGSAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCNQDEH2N7VZ55SKGDWBGF6L6FA7OBTEVE6X3WRGIIW57FGVJA7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIT2XSXJ3U6V7PJRVLJ7PKH42VFWWVS4FXGHCUJTAY7NUDPDK7UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVBBF7FYTO64TGFOHNIZW3KVE4ZNCSCVQZGGF624GANXDU5IQZFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CUDAJNHRGYWFYJ26MHBC7MFGCJFDFJVLKEI3PHZMEUD3GCPOTWLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MPI7BV4S56U7WIKFQD36P7J3GYLF3Z3VP6PM6PAG3DTIVRUHXO3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIOQT56YI5KXFJZPMDFFLMGTUQA5JB3WPPSI2A7TGUHTBQEBZORA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XNXRRVCASGJLGR36V7IIVIYBWDVVG6PRO7R5LZDTEZYKVX67OQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M33GCBMXOZHNI6DHIIWFYJ5CI5ZP2ITWPXH7WRVPWAWC4FI7EDBQ/main.js"
            ]
        },
        "ListSharedConnectivityClientManagers": {
            "http": {
                "requestUri": "/shared-ccms/list",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ConsumerAccountId",
                    "ResourceType"
                ],
                "members": {
                    "ConsumerAccountId": {},
                    "ResourceType": {},
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "VersionedResources"
                ],
                "members": {
                    "VersionedResources": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "SequenceNumber",
                                "Resource"
                            ],
                            "members": {
                                "SequenceNumber": {
                                    "type": "integer"
                                },
                                "Resource": {},
                                "InternalId": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NDK3WQXGV6SFLMHQFW5O3DTJ4KW25J64VGERJRY6OSPNBADTIGEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IBVSC7VHMBW4RJNQMSNQT7LB3HTW6FLHOCLGXYWJT2446SV3EWA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKCZOGXTQG4TB56YWTQER7RWFX5RUHVQSEJW3PYIQ6XO4YKH2C6A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E4CO7F4O336DA7OM4QC5Q5IJID6FOUBSGYXMY74FLM6GK43XA76Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTTW5QENDVLY2FVDWLM2HI6EOPIDYA6FEXNCNNIGMMHS2VAWZWYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBJG3G5FNG2SN5N63637UTPD67DNB4TKYBUYAT4YMYR2F5POH23Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKA3W7P4CY62F75R7E3FZA7QTARLQFS7OTGMOHSACWDKJ5LPTMQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSGNJYTB6LKO4DE2NQ66JKB2OTD5U4GJTBBUUA35LVF62WSZTPUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VXGNZZWELJPZG7GOGKT45FQAMULYMADSDWMP4FZOWEEUO5IA7WQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDQXBU62N2GWWWRC4HUFFRUZW7MSGJ7CTZQPUYC7ZLP5S2TMPDEA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQOBOZFWOH5LW2RAIYKPRFG64WHG2PR2OSHBYSAXFMTAV4I5T62Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FX2UBOKVBGHFP3PEZKTIAPZU3UHSY5ZVDSEJPIACFWNY5INOGBVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJ3CN3HJMXR3YOIGQJAQTVZ6AB3SPOOZTZUF4ZHUMYBF435Q7E4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DH2UUIWJ2L2ZVZNQKXBTJXZOFPEBDPVKNEL3FZPKFDO3MDUGHWWQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57OWDB73XTQAVHBMWRGQER4LK5F6AS2UCIFZFT5ADODPL6Q7VIJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4D243DGGI74X6PS76PHJ6TISGRTUZF6Z77A6SQ3NNV2JQH7DGSAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCNQDEH2N7VZ55SKGDWBGF6L6FA7OBTEVE6X3WRGIIW57FGVJA7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIT2XSXJ3U6V7PJRVLJ7PKH42VFWWVS4FXGHCUJTAY7NUDPDK7UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVBBF7FYTO64TGFOHNIZW3KVE4ZNCSCVQZGGF624GANXDU5IQZFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CUDAJNHRGYWFYJ26MHBC7MFGCJFDFJVLKEI3PHZMEUD3GCPOTWLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MPI7BV4S56U7WIKFQD36P7J3GYLF3Z3VP6PM6PAG3DTIVRUHXO3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIOQT56YI5KXFJZPMDFFLMGTUQA5JB3WPPSI2A7TGUHTBQEBZORA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XNXRRVCASGJLGR36V7IIVIYBWDVVG6PRO7R5LZDTEZYKVX67OQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M33GCBMXOZHNI6DHIIWFYJ5CI5ZP2ITWPXH7WRVPWAWC4FI7EDBQ/main.js"
            ]
        },
        "ListTagsForResource": {
            "http": {
                "requestUri": "/list-tags-for-resource",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceARN"
                ],
                "members": {
                    "resourceARN": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "tags": {
                        "shape": "S1q"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NDK3WQXGV6SFLMHQFW5O3DTJ4KW25J64VGERJRY6OSPNBADTIGEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IBVSC7VHMBW4RJNQMSNQT7LB3HTW6FLHOCLGXYWJT2446SV3EWA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKCZOGXTQG4TB56YWTQER7RWFX5RUHVQSEJW3PYIQ6XO4YKH2C6A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E4CO7F4O336DA7OM4QC5Q5IJID6FOUBSGYXMY74FLM6GK43XA76Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTTW5QENDVLY2FVDWLM2HI6EOPIDYA6FEXNCNNIGMMHS2VAWZWYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBJG3G5FNG2SN5N63637UTPD67DNB4TKYBUYAT4YMYR2F5POH23Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKA3W7P4CY62F75R7E3FZA7QTARLQFS7OTGMOHSACWDKJ5LPTMQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSGNJYTB6LKO4DE2NQ66JKB2OTD5U4GJTBBUUA35LVF62WSZTPUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VXGNZZWELJPZG7GOGKT45FQAMULYMADSDWMP4FZOWEEUO5IA7WQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDQXBU62N2GWWWRC4HUFFRUZW7MSGJ7CTZQPUYC7ZLP5S2TMPDEA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQOBOZFWOH5LW2RAIYKPRFG64WHG2PR2OSHBYSAXFMTAV4I5T62Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FX2UBOKVBGHFP3PEZKTIAPZU3UHSY5ZVDSEJPIACFWNY5INOGBVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJ3CN3HJMXR3YOIGQJAQTVZ6AB3SPOOZTZUF4ZHUMYBF435Q7E4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DH2UUIWJ2L2ZVZNQKXBTJXZOFPEBDPVKNEL3FZPKFDO3MDUGHWWQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57OWDB73XTQAVHBMWRGQER4LK5F6AS2UCIFZFT5ADODPL6Q7VIJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4D243DGGI74X6PS76PHJ6TISGRTUZF6Z77A6SQ3NNV2JQH7DGSAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCNQDEH2N7VZ55SKGDWBGF6L6FA7OBTEVE6X3WRGIIW57FGVJA7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIT2XSXJ3U6V7PJRVLJ7PKH42VFWWVS4FXGHCUJTAY7NUDPDK7UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVBBF7FYTO64TGFOHNIZW3KVE4ZNCSCVQZGGF624GANXDU5IQZFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CUDAJNHRGYWFYJ26MHBC7MFGCJFDFJVLKEI3PHZMEUD3GCPOTWLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MPI7BV4S56U7WIKFQD36P7J3GYLF3Z3VP6PM6PAG3DTIVRUHXO3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIOQT56YI5KXFJZPMDFFLMGTUQA5JB3WPPSI2A7TGUHTBQEBZORA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XNXRRVCASGJLGR36V7IIVIYBWDVVG6PRO7R5LZDTEZYKVX67OQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M33GCBMXOZHNI6DHIIWFYJ5CI5ZP2ITWPXH7WRVPWAWC4FI7EDBQ/main.js"
            ]
        },
        "PutConnectivityClientManagerPolicy": {
            "http": {
                "requestUri": "/connectivity-client-manager-policy/put",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn",
                    "PolicyDocument"
                ],
                "members": {
                    "ResourceArn": {},
                    "PolicyDocument": {},
                    "ClientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ResourceArn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NDK3WQXGV6SFLMHQFW5O3DTJ4KW25J64VGERJRY6OSPNBADTIGEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IBVSC7VHMBW4RJNQMSNQT7LB3HTW6FLHOCLGXYWJT2446SV3EWA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKCZOGXTQG4TB56YWTQER7RWFX5RUHVQSEJW3PYIQ6XO4YKH2C6A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E4CO7F4O336DA7OM4QC5Q5IJID6FOUBSGYXMY74FLM6GK43XA76Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTTW5QENDVLY2FVDWLM2HI6EOPIDYA6FEXNCNNIGMMHS2VAWZWYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBJG3G5FNG2SN5N63637UTPD67DNB4TKYBUYAT4YMYR2F5POH23Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKA3W7P4CY62F75R7E3FZA7QTARLQFS7OTGMOHSACWDKJ5LPTMQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSGNJYTB6LKO4DE2NQ66JKB2OTD5U4GJTBBUUA35LVF62WSZTPUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VXGNZZWELJPZG7GOGKT45FQAMULYMADSDWMP4FZOWEEUO5IA7WQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDQXBU62N2GWWWRC4HUFFRUZW7MSGJ7CTZQPUYC7ZLP5S2TMPDEA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQOBOZFWOH5LW2RAIYKPRFG64WHG2PR2OSHBYSAXFMTAV4I5T62Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FX2UBOKVBGHFP3PEZKTIAPZU3UHSY5ZVDSEJPIACFWNY5INOGBVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJ3CN3HJMXR3YOIGQJAQTVZ6AB3SPOOZTZUF4ZHUMYBF435Q7E4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DH2UUIWJ2L2ZVZNQKXBTJXZOFPEBDPVKNEL3FZPKFDO3MDUGHWWQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57OWDB73XTQAVHBMWRGQER4LK5F6AS2UCIFZFT5ADODPL6Q7VIJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4D243DGGI74X6PS76PHJ6TISGRTUZF6Z77A6SQ3NNV2JQH7DGSAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCNQDEH2N7VZ55SKGDWBGF6L6FA7OBTEVE6X3WRGIIW57FGVJA7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIT2XSXJ3U6V7PJRVLJ7PKH42VFWWVS4FXGHCUJTAY7NUDPDK7UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVBBF7FYTO64TGFOHNIZW3KVE4ZNCSCVQZGGF624GANXDU5IQZFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CUDAJNHRGYWFYJ26MHBC7MFGCJFDFJVLKEI3PHZMEUD3GCPOTWLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MPI7BV4S56U7WIKFQD36P7J3GYLF3Z3VP6PM6PAG3DTIVRUHXO3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIOQT56YI5KXFJZPMDFFLMGTUQA5JB3WPPSI2A7TGUHTBQEBZORA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XNXRRVCASGJLGR36V7IIVIYBWDVVG6PRO7R5LZDTEZYKVX67OQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M33GCBMXOZHNI6DHIIWFYJ5CI5ZP2ITWPXH7WRVPWAWC4FI7EDBQ/main.js"
            ]
        },
        "TagResource": {
            "http": {
                "requestUri": "/tag-resource",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceARN",
                    "tags"
                ],
                "members": {
                    "resourceARN": {},
                    "tags": {
                        "shape": "S1q"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NDK3WQXGV6SFLMHQFW5O3DTJ4KW25J64VGERJRY6OSPNBADTIGEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IBVSC7VHMBW4RJNQMSNQT7LB3HTW6FLHOCLGXYWJT2446SV3EWA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKCZOGXTQG4TB56YWTQER7RWFX5RUHVQSEJW3PYIQ6XO4YKH2C6A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E4CO7F4O336DA7OM4QC5Q5IJID6FOUBSGYXMY74FLM6GK43XA76Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTTW5QENDVLY2FVDWLM2HI6EOPIDYA6FEXNCNNIGMMHS2VAWZWYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBJG3G5FNG2SN5N63637UTPD67DNB4TKYBUYAT4YMYR2F5POH23Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKA3W7P4CY62F75R7E3FZA7QTARLQFS7OTGMOHSACWDKJ5LPTMQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSGNJYTB6LKO4DE2NQ66JKB2OTD5U4GJTBBUUA35LVF62WSZTPUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VXGNZZWELJPZG7GOGKT45FQAMULYMADSDWMP4FZOWEEUO5IA7WQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDQXBU62N2GWWWRC4HUFFRUZW7MSGJ7CTZQPUYC7ZLP5S2TMPDEA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQOBOZFWOH5LW2RAIYKPRFG64WHG2PR2OSHBYSAXFMTAV4I5T62Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FX2UBOKVBGHFP3PEZKTIAPZU3UHSY5ZVDSEJPIACFWNY5INOGBVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJ3CN3HJMXR3YOIGQJAQTVZ6AB3SPOOZTZUF4ZHUMYBF435Q7E4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DH2UUIWJ2L2ZVZNQKXBTJXZOFPEBDPVKNEL3FZPKFDO3MDUGHWWQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57OWDB73XTQAVHBMWRGQER4LK5F6AS2UCIFZFT5ADODPL6Q7VIJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4D243DGGI74X6PS76PHJ6TISGRTUZF6Z77A6SQ3NNV2JQH7DGSAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCNQDEH2N7VZ55SKGDWBGF6L6FA7OBTEVE6X3WRGIIW57FGVJA7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIT2XSXJ3U6V7PJRVLJ7PKH42VFWWVS4FXGHCUJTAY7NUDPDK7UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVBBF7FYTO64TGFOHNIZW3KVE4ZNCSCVQZGGF624GANXDU5IQZFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CUDAJNHRGYWFYJ26MHBC7MFGCJFDFJVLKEI3PHZMEUD3GCPOTWLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MPI7BV4S56U7WIKFQD36P7J3GYLF3Z3VP6PM6PAG3DTIVRUHXO3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIOQT56YI5KXFJZPMDFFLMGTUQA5JB3WPPSI2A7TGUHTBQEBZORA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XNXRRVCASGJLGR36V7IIVIYBWDVVG6PRO7R5LZDTEZYKVX67OQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M33GCBMXOZHNI6DHIIWFYJ5CI5ZP2ITWPXH7WRVPWAWC4FI7EDBQ/main.js"
            ]
        },
        "UntagResource": {
            "http": {
                "requestUri": "/untag-resource",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceARN",
                    "tagKeys"
                ],
                "members": {
                    "resourceARN": {},
                    "tagKeys": {
                        "type": "list",
                        "member": {}
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NDK3WQXGV6SFLMHQFW5O3DTJ4KW25J64VGERJRY6OSPNBADTIGEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IBVSC7VHMBW4RJNQMSNQT7LB3HTW6FLHOCLGXYWJT2446SV3EWA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKCZOGXTQG4TB56YWTQER7RWFX5RUHVQSEJW3PYIQ6XO4YKH2C6A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E4CO7F4O336DA7OM4QC5Q5IJID6FOUBSGYXMY74FLM6GK43XA76Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTTW5QENDVLY2FVDWLM2HI6EOPIDYA6FEXNCNNIGMMHS2VAWZWYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBJG3G5FNG2SN5N63637UTPD67DNB4TKYBUYAT4YMYR2F5POH23Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKA3W7P4CY62F75R7E3FZA7QTARLQFS7OTGMOHSACWDKJ5LPTMQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSGNJYTB6LKO4DE2NQ66JKB2OTD5U4GJTBBUUA35LVF62WSZTPUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VXGNZZWELJPZG7GOGKT45FQAMULYMADSDWMP4FZOWEEUO5IA7WQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDQXBU62N2GWWWRC4HUFFRUZW7MSGJ7CTZQPUYC7ZLP5S2TMPDEA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQOBOZFWOH5LW2RAIYKPRFG64WHG2PR2OSHBYSAXFMTAV4I5T62Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FX2UBOKVBGHFP3PEZKTIAPZU3UHSY5ZVDSEJPIACFWNY5INOGBVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJ3CN3HJMXR3YOIGQJAQTVZ6AB3SPOOZTZUF4ZHUMYBF435Q7E4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DH2UUIWJ2L2ZVZNQKXBTJXZOFPEBDPVKNEL3FZPKFDO3MDUGHWWQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57OWDB73XTQAVHBMWRGQER4LK5F6AS2UCIFZFT5ADODPL6Q7VIJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4D243DGGI74X6PS76PHJ6TISGRTUZF6Z77A6SQ3NNV2JQH7DGSAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCNQDEH2N7VZ55SKGDWBGF6L6FA7OBTEVE6X3WRGIIW57FGVJA7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIT2XSXJ3U6V7PJRVLJ7PKH42VFWWVS4FXGHCUJTAY7NUDPDK7UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVBBF7FYTO64TGFOHNIZW3KVE4ZNCSCVQZGGF624GANXDU5IQZFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CUDAJNHRGYWFYJ26MHBC7MFGCJFDFJVLKEI3PHZMEUD3GCPOTWLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MPI7BV4S56U7WIKFQD36P7J3GYLF3Z3VP6PM6PAG3DTIVRUHXO3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIOQT56YI5KXFJZPMDFFLMGTUQA5JB3WPPSI2A7TGUHTBQEBZORA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XNXRRVCASGJLGR36V7IIVIYBWDVVG6PRO7R5LZDTEZYKVX67OQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M33GCBMXOZHNI6DHIIWFYJ5CI5ZP2ITWPXH7WRVPWAWC4FI7EDBQ/main.js"
            ]
        },
        "UpdateConnectivityClientManager": {
            "http": {
                "requestUri": "/connectivity-client-manager/update",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ConnectivityClientManagerArn"
                ],
                "members": {
                    "ConnectivityClientManagerArn": {},
                    "Description": {},
                    "ClientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NDK3WQXGV6SFLMHQFW5O3DTJ4KW25J64VGERJRY6OSPNBADTIGEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IBVSC7VHMBW4RJNQMSNQT7LB3HTW6FLHOCLGXYWJT2446SV3EWA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKCZOGXTQG4TB56YWTQER7RWFX5RUHVQSEJW3PYIQ6XO4YKH2C6A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E4CO7F4O336DA7OM4QC5Q5IJID6FOUBSGYXMY74FLM6GK43XA76Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTTW5QENDVLY2FVDWLM2HI6EOPIDYA6FEXNCNNIGMMHS2VAWZWYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBJG3G5FNG2SN5N63637UTPD67DNB4TKYBUYAT4YMYR2F5POH23Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKA3W7P4CY62F75R7E3FZA7QTARLQFS7OTGMOHSACWDKJ5LPTMQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSGNJYTB6LKO4DE2NQ66JKB2OTD5U4GJTBBUUA35LVF62WSZTPUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VXGNZZWELJPZG7GOGKT45FQAMULYMADSDWMP4FZOWEEUO5IA7WQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDQXBU62N2GWWWRC4HUFFRUZW7MSGJ7CTZQPUYC7ZLP5S2TMPDEA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQOBOZFWOH5LW2RAIYKPRFG64WHG2PR2OSHBYSAXFMTAV4I5T62Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FX2UBOKVBGHFP3PEZKTIAPZU3UHSY5ZVDSEJPIACFWNY5INOGBVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJ3CN3HJMXR3YOIGQJAQTVZ6AB3SPOOZTZUF4ZHUMYBF435Q7E4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DH2UUIWJ2L2ZVZNQKXBTJXZOFPEBDPVKNEL3FZPKFDO3MDUGHWWQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57OWDB73XTQAVHBMWRGQER4LK5F6AS2UCIFZFT5ADODPL6Q7VIJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4D243DGGI74X6PS76PHJ6TISGRTUZF6Z77A6SQ3NNV2JQH7DGSAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCNQDEH2N7VZ55SKGDWBGF6L6FA7OBTEVE6X3WRGIIW57FGVJA7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIT2XSXJ3U6V7PJRVLJ7PKH42VFWWVS4FXGHCUJTAY7NUDPDK7UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVBBF7FYTO64TGFOHNIZW3KVE4ZNCSCVQZGGF624GANXDU5IQZFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CUDAJNHRGYWFYJ26MHBC7MFGCJFDFJVLKEI3PHZMEUD3GCPOTWLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MPI7BV4S56U7WIKFQD36P7J3GYLF3Z3VP6PM6PAG3DTIVRUHXO3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIOQT56YI5KXFJZPMDFFLMGTUQA5JB3WPPSI2A7TGUHTBQEBZORA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XNXRRVCASGJLGR36V7IIVIYBWDVVG6PRO7R5LZDTEZYKVX67OQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M33GCBMXOZHNI6DHIIWFYJ5CI5ZP2ITWPXH7WRVPWAWC4FI7EDBQ/main.js"
            ]
        },
        "UpdateConnectivityClientManagerSharingState": {
            "http": {
                "requestUri": "/ccm-sharing-state/update",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Action",
                    "OwnerAccountId",
                    "Resource",
                    "ConsumerAccountId",
                    "SequenceNumber"
                ],
                "members": {
                    "Action": {},
                    "OwnerAccountId": {},
                    "Resource": {},
                    "ConsumerAccountId": {},
                    "SequenceNumber": {
                        "type": "integer"
                    },
                    "InternalId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "SharingResult": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NDK3WQXGV6SFLMHQFW5O3DTJ4KW25J64VGERJRY6OSPNBADTIGEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IBVSC7VHMBW4RJNQMSNQT7LB3HTW6FLHOCLGXYWJT2446SV3EWA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKCZOGXTQG4TB56YWTQER7RWFX5RUHVQSEJW3PYIQ6XO4YKH2C6A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E4CO7F4O336DA7OM4QC5Q5IJID6FOUBSGYXMY74FLM6GK43XA76Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTTW5QENDVLY2FVDWLM2HI6EOPIDYA6FEXNCNNIGMMHS2VAWZWYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBJG3G5FNG2SN5N63637UTPD67DNB4TKYBUYAT4YMYR2F5POH23Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKA3W7P4CY62F75R7E3FZA7QTARLQFS7OTGMOHSACWDKJ5LPTMQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSGNJYTB6LKO4DE2NQ66JKB2OTD5U4GJTBBUUA35LVF62WSZTPUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VXGNZZWELJPZG7GOGKT45FQAMULYMADSDWMP4FZOWEEUO5IA7WQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDQXBU62N2GWWWRC4HUFFRUZW7MSGJ7CTZQPUYC7ZLP5S2TMPDEA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQOBOZFWOH5LW2RAIYKPRFG64WHG2PR2OSHBYSAXFMTAV4I5T62Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FX2UBOKVBGHFP3PEZKTIAPZU3UHSY5ZVDSEJPIACFWNY5INOGBVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJ3CN3HJMXR3YOIGQJAQTVZ6AB3SPOOZTZUF4ZHUMYBF435Q7E4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DH2UUIWJ2L2ZVZNQKXBTJXZOFPEBDPVKNEL3FZPKFDO3MDUGHWWQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57OWDB73XTQAVHBMWRGQER4LK5F6AS2UCIFZFT5ADODPL6Q7VIJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4D243DGGI74X6PS76PHJ6TISGRTUZF6Z77A6SQ3NNV2JQH7DGSAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCNQDEH2N7VZ55SKGDWBGF6L6FA7OBTEVE6X3WRGIIW57FGVJA7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIT2XSXJ3U6V7PJRVLJ7PKH42VFWWVS4FXGHCUJTAY7NUDPDK7UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVBBF7FYTO64TGFOHNIZW3KVE4ZNCSCVQZGGF624GANXDU5IQZFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CUDAJNHRGYWFYJ26MHBC7MFGCJFDFJVLKEI3PHZMEUD3GCPOTWLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MPI7BV4S56U7WIKFQD36P7J3GYLF3Z3VP6PM6PAG3DTIVRUHXO3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIOQT56YI5KXFJZPMDFFLMGTUQA5JB3WPPSI2A7TGUHTBQEBZORA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XNXRRVCASGJLGR36V7IIVIYBWDVVG6PRO7R5LZDTEZYKVX67OQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M33GCBMXOZHNI6DHIIWFYJ5CI5ZP2ITWPXH7WRVPWAWC4FI7EDBQ/main.js"
            ]
        },
        "ValidateConnectivityClientManagerSharing": {
            "http": {
                "requestUri": "/ccm-sharing/validate",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "OwnerAccountId",
                    "Resource"
                ],
                "members": {
                    "OwnerAccountId": {},
                    "Resource": {},
                    "InternalId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ValidationResult"
                ],
                "members": {
                    "ValidationResult": {},
                    "ValidationMessage": {},
                    "InternalId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NDK3WQXGV6SFLMHQFW5O3DTJ4KW25J64VGERJRY6OSPNBADTIGEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IBVSC7VHMBW4RJNQMSNQT7LB3HTW6FLHOCLGXYWJT2446SV3EWA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKCZOGXTQG4TB56YWTQER7RWFX5RUHVQSEJW3PYIQ6XO4YKH2C6A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E4CO7F4O336DA7OM4QC5Q5IJID6FOUBSGYXMY74FLM6GK43XA76Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTTW5QENDVLY2FVDWLM2HI6EOPIDYA6FEXNCNNIGMMHS2VAWZWYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBJG3G5FNG2SN5N63637UTPD67DNB4TKYBUYAT4YMYR2F5POH23Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKA3W7P4CY62F75R7E3FZA7QTARLQFS7OTGMOHSACWDKJ5LPTMQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSGNJYTB6LKO4DE2NQ66JKB2OTD5U4GJTBBUUA35LVF62WSZTPUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VXGNZZWELJPZG7GOGKT45FQAMULYMADSDWMP4FZOWEEUO5IA7WQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDQXBU62N2GWWWRC4HUFFRUZW7MSGJ7CTZQPUYC7ZLP5S2TMPDEA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQOBOZFWOH5LW2RAIYKPRFG64WHG2PR2OSHBYSAXFMTAV4I5T62Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FX2UBOKVBGHFP3PEZKTIAPZU3UHSY5ZVDSEJPIACFWNY5INOGBVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJ3CN3HJMXR3YOIGQJAQTVZ6AB3SPOOZTZUF4ZHUMYBF435Q7E4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DH2UUIWJ2L2ZVZNQKXBTJXZOFPEBDPVKNEL3FZPKFDO3MDUGHWWQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57OWDB73XTQAVHBMWRGQER4LK5F6AS2UCIFZFT5ADODPL6Q7VIJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4D243DGGI74X6PS76PHJ6TISGRTUZF6Z77A6SQ3NNV2JQH7DGSAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCNQDEH2N7VZ55SKGDWBGF6L6FA7OBTEVE6X3WRGIIW57FGVJA7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIT2XSXJ3U6V7PJRVLJ7PKH42VFWWVS4FXGHCUJTAY7NUDPDK7UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVBBF7FYTO64TGFOHNIZW3KVE4ZNCSCVQZGGF624GANXDU5IQZFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CUDAJNHRGYWFYJ26MHBC7MFGCJFDFJVLKEI3PHZMEUD3GCPOTWLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MPI7BV4S56U7WIKFQD36P7J3GYLF3Z3VP6PM6PAG3DTIVRUHXO3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIOQT56YI5KXFJZPMDFFLMGTUQA5JB3WPPSI2A7TGUHTBQEBZORA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XNXRRVCASGJLGR36V7IIVIYBWDVVG6PRO7R5LZDTEZYKVX67OQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M33GCBMXOZHNI6DHIIWFYJ5CI5ZP2ITWPXH7WRVPWAWC4FI7EDBQ/main.js"
            ]
        }
    },
    "shapes": {
        "S4": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "Key": {},
                    "Value": {}
                }
            }
        },
        "S1q": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "key": {},
                    "value": {}
                }
            }
        }
    }
}