{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2020-09-10",
        "endpointPrefix": "ecr-public",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceAbbreviation": "Amazon ECR-Public",
        "serviceFullName": "Amazon EC2 Container Registry Public",
        "serviceId": "PCR",
        "signatureVersion": "v4",
        "signingName": "ecr-public",
        "targetPrefix": "SpencerFrontendService",
        "uid": "pcr-2020-09-10",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/RVP4V4P7JLCFDRESM7CQOZ6BKFOB5C6TSVVLXWBDFNLMNFVQFYXA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/B5TBPWCTHDDHWYED7JJP7YLYUQYFQE37NSJHZMKCXP6UPKKKB3MQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TVB2DT4FAM4HYTPGSUKQHRIIJ2NDWVI74MVFP7WWPRVFOMC4ELBQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UFN3V7NXYJGBHFDUYKT733NUQWZFMHXZR376GEKU3OGNJZTGLNQQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6WURFR2YE2YCQZM5PNLJJWIELY4GXICSRZWO5IMTIRNWIHI2RWKA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XKNL4YAMBIYYIWV3BTTSDRQI2A2EIBQGYHO56HCNTU4QTXDK6JPA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/S55AKDZGKWWNNEOW4FL7RNNBQPTYNJUOG3VJOUGLDFWBH3BCG5FQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CH3QXWGVXD5XBXEI7OETYBTL2P32J4K44NNQHNNTAM353BSNLN3Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UMBPADJNOMJDUK6SKVXT5THAJRAYJB36OJ56355ZHHXG35Y3YTOQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H6F6BL627GBODGEU4JEE6Y4TKVPXGLO7MTWYM5OO54EXRIFQLE2A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZPRFA34PIBN2UHGM6JIB4YZ7Z7U4Q4VMNIT6MXPSXQWGWMGYUWLQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VYH5RMO32DTB32BBCH2O2EC5KTTQ6IPJU5I3V4IXXZOYXO54BQNA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OGJB3HPVZ5BBGHY75SGPEXDG7XY2P7IKCI65BU577DAKXTQB4QLQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MCZND7PNSR5OLDMIOGKXFBICLTSOQCWCYCJDGROBCXZJPZWIK3EA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DI7KEKVGEAL45GSFIIS2CMDRKMIKBY64B4TR75D2MN6TI47SMWKA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IWIJVFYZVP6JADYKLI7GGCGG3F47VGVJYF4A6L3MMTBVVNSMKXXA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MQ2JRABHHWE6SEKPGKIU7A3EL4K4BF2ZMR6JUSDZ2ZWNWAJ5D6ZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CGDHNVZFRQSWYVS6M6UOINEW3OMK2IGQKH7ZATM5CIKPXER2II7Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/X54BHGDAUSEMM3DVHQEYIBMMB42JCWSQQ3NZRBR66IXYPE4P5W7Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CGFSHFF3KETNEXQ4AR4GYTV7A7DIVIY6T6DQYG47M7J3SHGUA3OA/vendors.js"
        ]
    },
    "operations": {
        "BatchCheckLayerAvailability": {
            "input": {
                "type": "structure",
                "required": [
                    "repositoryName",
                    "layerDigests"
                ],
                "members": {
                    "registryId": {},
                    "repositoryName": {},
                    "layerDigests": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "layers": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "layerDigest": {},
                                "layerAvailability": {},
                                "layerSize": {
                                    "type": "long"
                                },
                                "mediaType": {}
                            }
                        }
                    },
                    "failures": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "layerDigest": {},
                                "failureCode": {},
                                "failureReason": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RVP4V4P7JLCFDRESM7CQOZ6BKFOB5C6TSVVLXWBDFNLMNFVQFYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5TBPWCTHDDHWYED7JJP7YLYUQYFQE37NSJHZMKCXP6UPKKKB3MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TVB2DT4FAM4HYTPGSUKQHRIIJ2NDWVI74MVFP7WWPRVFOMC4ELBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFN3V7NXYJGBHFDUYKT733NUQWZFMHXZR376GEKU3OGNJZTGLNQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WURFR2YE2YCQZM5PNLJJWIELY4GXICSRZWO5IMTIRNWIHI2RWKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKNL4YAMBIYYIWV3BTTSDRQI2A2EIBQGYHO56HCNTU4QTXDK6JPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S55AKDZGKWWNNEOW4FL7RNNBQPTYNJUOG3VJOUGLDFWBH3BCG5FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CH3QXWGVXD5XBXEI7OETYBTL2P32J4K44NNQHNNTAM353BSNLN3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UMBPADJNOMJDUK6SKVXT5THAJRAYJB36OJ56355ZHHXG35Y3YTOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6F6BL627GBODGEU4JEE6Y4TKVPXGLO7MTWYM5OO54EXRIFQLE2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPRFA34PIBN2UHGM6JIB4YZ7Z7U4Q4VMNIT6MXPSXQWGWMGYUWLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYH5RMO32DTB32BBCH2O2EC5KTTQ6IPJU5I3V4IXXZOYXO54BQNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGJB3HPVZ5BBGHY75SGPEXDG7XY2P7IKCI65BU577DAKXTQB4QLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MCZND7PNSR5OLDMIOGKXFBICLTSOQCWCYCJDGROBCXZJPZWIK3EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DI7KEKVGEAL45GSFIIS2CMDRKMIKBY64B4TR75D2MN6TI47SMWKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWIJVFYZVP6JADYKLI7GGCGG3F47VGVJYF4A6L3MMTBVVNSMKXXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQ2JRABHHWE6SEKPGKIU7A3EL4K4BF2ZMR6JUSDZ2ZWNWAJ5D6ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGDHNVZFRQSWYVS6M6UOINEW3OMK2IGQKH7ZATM5CIKPXER2II7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X54BHGDAUSEMM3DVHQEYIBMMB42JCWSQQ3NZRBR66IXYPE4P5W7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGFSHFF3KETNEXQ4AR4GYTV7A7DIVIY6T6DQYG47M7J3SHGUA3OA/vendors.js"
            ]
        },
        "BatchDeleteImage": {
            "input": {
                "type": "structure",
                "required": [
                    "repositoryName",
                    "imageIds"
                ],
                "members": {
                    "registryId": {},
                    "repositoryName": {},
                    "imageIds": {
                        "shape": "Si"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "imageIds": {
                        "shape": "Si"
                    },
                    "failures": {
                        "shape": "Sn"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RVP4V4P7JLCFDRESM7CQOZ6BKFOB5C6TSVVLXWBDFNLMNFVQFYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5TBPWCTHDDHWYED7JJP7YLYUQYFQE37NSJHZMKCXP6UPKKKB3MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TVB2DT4FAM4HYTPGSUKQHRIIJ2NDWVI74MVFP7WWPRVFOMC4ELBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFN3V7NXYJGBHFDUYKT733NUQWZFMHXZR376GEKU3OGNJZTGLNQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WURFR2YE2YCQZM5PNLJJWIELY4GXICSRZWO5IMTIRNWIHI2RWKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKNL4YAMBIYYIWV3BTTSDRQI2A2EIBQGYHO56HCNTU4QTXDK6JPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S55AKDZGKWWNNEOW4FL7RNNBQPTYNJUOG3VJOUGLDFWBH3BCG5FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CH3QXWGVXD5XBXEI7OETYBTL2P32J4K44NNQHNNTAM353BSNLN3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UMBPADJNOMJDUK6SKVXT5THAJRAYJB36OJ56355ZHHXG35Y3YTOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6F6BL627GBODGEU4JEE6Y4TKVPXGLO7MTWYM5OO54EXRIFQLE2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPRFA34PIBN2UHGM6JIB4YZ7Z7U4Q4VMNIT6MXPSXQWGWMGYUWLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYH5RMO32DTB32BBCH2O2EC5KTTQ6IPJU5I3V4IXXZOYXO54BQNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGJB3HPVZ5BBGHY75SGPEXDG7XY2P7IKCI65BU577DAKXTQB4QLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MCZND7PNSR5OLDMIOGKXFBICLTSOQCWCYCJDGROBCXZJPZWIK3EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DI7KEKVGEAL45GSFIIS2CMDRKMIKBY64B4TR75D2MN6TI47SMWKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWIJVFYZVP6JADYKLI7GGCGG3F47VGVJYF4A6L3MMTBVVNSMKXXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQ2JRABHHWE6SEKPGKIU7A3EL4K4BF2ZMR6JUSDZ2ZWNWAJ5D6ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGDHNVZFRQSWYVS6M6UOINEW3OMK2IGQKH7ZATM5CIKPXER2II7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X54BHGDAUSEMM3DVHQEYIBMMB42JCWSQQ3NZRBR66IXYPE4P5W7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGFSHFF3KETNEXQ4AR4GYTV7A7DIVIY6T6DQYG47M7J3SHGUA3OA/vendors.js"
            ]
        },
        "BatchGetImageInternal": {
            "input": {
                "type": "structure",
                "required": [
                    "registryAliasName",
                    "repositoryName",
                    "imageIds"
                ],
                "members": {
                    "registryAliasName": {},
                    "repositoryName": {},
                    "imageIds": {
                        "shape": "Si"
                    },
                    "acceptedMediaTypes": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "images": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "registryAliasName": {},
                                "repositoryName": {},
                                "imageId": {
                                    "shape": "Sj"
                                },
                                "imageManifest": {},
                                "imageManifestMediaType": {}
                            }
                        }
                    },
                    "failures": {
                        "shape": "Sn"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RVP4V4P7JLCFDRESM7CQOZ6BKFOB5C6TSVVLXWBDFNLMNFVQFYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5TBPWCTHDDHWYED7JJP7YLYUQYFQE37NSJHZMKCXP6UPKKKB3MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TVB2DT4FAM4HYTPGSUKQHRIIJ2NDWVI74MVFP7WWPRVFOMC4ELBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFN3V7NXYJGBHFDUYKT733NUQWZFMHXZR376GEKU3OGNJZTGLNQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WURFR2YE2YCQZM5PNLJJWIELY4GXICSRZWO5IMTIRNWIHI2RWKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKNL4YAMBIYYIWV3BTTSDRQI2A2EIBQGYHO56HCNTU4QTXDK6JPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S55AKDZGKWWNNEOW4FL7RNNBQPTYNJUOG3VJOUGLDFWBH3BCG5FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CH3QXWGVXD5XBXEI7OETYBTL2P32J4K44NNQHNNTAM353BSNLN3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UMBPADJNOMJDUK6SKVXT5THAJRAYJB36OJ56355ZHHXG35Y3YTOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6F6BL627GBODGEU4JEE6Y4TKVPXGLO7MTWYM5OO54EXRIFQLE2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPRFA34PIBN2UHGM6JIB4YZ7Z7U4Q4VMNIT6MXPSXQWGWMGYUWLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYH5RMO32DTB32BBCH2O2EC5KTTQ6IPJU5I3V4IXXZOYXO54BQNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGJB3HPVZ5BBGHY75SGPEXDG7XY2P7IKCI65BU577DAKXTQB4QLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MCZND7PNSR5OLDMIOGKXFBICLTSOQCWCYCJDGROBCXZJPZWIK3EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DI7KEKVGEAL45GSFIIS2CMDRKMIKBY64B4TR75D2MN6TI47SMWKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWIJVFYZVP6JADYKLI7GGCGG3F47VGVJYF4A6L3MMTBVVNSMKXXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQ2JRABHHWE6SEKPGKIU7A3EL4K4BF2ZMR6JUSDZ2ZWNWAJ5D6ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGDHNVZFRQSWYVS6M6UOINEW3OMK2IGQKH7ZATM5CIKPXER2II7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X54BHGDAUSEMM3DVHQEYIBMMB42JCWSQQ3NZRBR66IXYPE4P5W7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGFSHFF3KETNEXQ4AR4GYTV7A7DIVIY6T6DQYG47M7J3SHGUA3OA/vendors.js"
            ]
        },
        "BatchGetImageReferrerInternal": {
            "input": {
                "type": "structure",
                "required": [
                    "registryAliasName",
                    "repositoryName",
                    "subjectId"
                ],
                "members": {
                    "registryAliasName": {},
                    "repositoryName": {},
                    "subjectId": {
                        "type": "structure",
                        "required": [
                            "imageDigest"
                        ],
                        "members": {
                            "imageDigest": {}
                        }
                    },
                    "filter": {
                        "type": "structure",
                        "members": {
                            "artifactTypes": {
                                "type": "list",
                                "member": {}
                            }
                        }
                    },
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "referrers": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "digest",
                                "mediaType",
                                "artifactType",
                                "size"
                            ],
                            "members": {
                                "digest": {},
                                "mediaType": {},
                                "artifactType": {},
                                "size": {
                                    "type": "long"
                                },
                                "annotations": {
                                    "type": "map",
                                    "key": {},
                                    "value": {}
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RVP4V4P7JLCFDRESM7CQOZ6BKFOB5C6TSVVLXWBDFNLMNFVQFYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5TBPWCTHDDHWYED7JJP7YLYUQYFQE37NSJHZMKCXP6UPKKKB3MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TVB2DT4FAM4HYTPGSUKQHRIIJ2NDWVI74MVFP7WWPRVFOMC4ELBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFN3V7NXYJGBHFDUYKT733NUQWZFMHXZR376GEKU3OGNJZTGLNQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WURFR2YE2YCQZM5PNLJJWIELY4GXICSRZWO5IMTIRNWIHI2RWKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKNL4YAMBIYYIWV3BTTSDRQI2A2EIBQGYHO56HCNTU4QTXDK6JPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S55AKDZGKWWNNEOW4FL7RNNBQPTYNJUOG3VJOUGLDFWBH3BCG5FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CH3QXWGVXD5XBXEI7OETYBTL2P32J4K44NNQHNNTAM353BSNLN3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UMBPADJNOMJDUK6SKVXT5THAJRAYJB36OJ56355ZHHXG35Y3YTOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6F6BL627GBODGEU4JEE6Y4TKVPXGLO7MTWYM5OO54EXRIFQLE2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPRFA34PIBN2UHGM6JIB4YZ7Z7U4Q4VMNIT6MXPSXQWGWMGYUWLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYH5RMO32DTB32BBCH2O2EC5KTTQ6IPJU5I3V4IXXZOYXO54BQNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGJB3HPVZ5BBGHY75SGPEXDG7XY2P7IKCI65BU577DAKXTQB4QLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MCZND7PNSR5OLDMIOGKXFBICLTSOQCWCYCJDGROBCXZJPZWIK3EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DI7KEKVGEAL45GSFIIS2CMDRKMIKBY64B4TR75D2MN6TI47SMWKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWIJVFYZVP6JADYKLI7GGCGG3F47VGVJYF4A6L3MMTBVVNSMKXXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQ2JRABHHWE6SEKPGKIU7A3EL4K4BF2ZMR6JUSDZ2ZWNWAJ5D6ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGDHNVZFRQSWYVS6M6UOINEW3OMK2IGQKH7ZATM5CIKPXER2II7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X54BHGDAUSEMM3DVHQEYIBMMB42JCWSQQ3NZRBR66IXYPE4P5W7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGFSHFF3KETNEXQ4AR4GYTV7A7DIVIY6T6DQYG47M7J3SHGUA3OA/vendors.js"
            ]
        },
        "CompleteLayerUpload": {
            "input": {
                "type": "structure",
                "required": [
                    "repositoryName",
                    "uploadId",
                    "layerDigests"
                ],
                "members": {
                    "registryId": {},
                    "repositoryName": {},
                    "uploadId": {},
                    "layerDigests": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "registryId": {},
                    "repositoryName": {},
                    "uploadId": {},
                    "layerDigest": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RVP4V4P7JLCFDRESM7CQOZ6BKFOB5C6TSVVLXWBDFNLMNFVQFYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5TBPWCTHDDHWYED7JJP7YLYUQYFQE37NSJHZMKCXP6UPKKKB3MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TVB2DT4FAM4HYTPGSUKQHRIIJ2NDWVI74MVFP7WWPRVFOMC4ELBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFN3V7NXYJGBHFDUYKT733NUQWZFMHXZR376GEKU3OGNJZTGLNQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WURFR2YE2YCQZM5PNLJJWIELY4GXICSRZWO5IMTIRNWIHI2RWKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKNL4YAMBIYYIWV3BTTSDRQI2A2EIBQGYHO56HCNTU4QTXDK6JPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S55AKDZGKWWNNEOW4FL7RNNBQPTYNJUOG3VJOUGLDFWBH3BCG5FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CH3QXWGVXD5XBXEI7OETYBTL2P32J4K44NNQHNNTAM353BSNLN3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UMBPADJNOMJDUK6SKVXT5THAJRAYJB36OJ56355ZHHXG35Y3YTOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6F6BL627GBODGEU4JEE6Y4TKVPXGLO7MTWYM5OO54EXRIFQLE2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPRFA34PIBN2UHGM6JIB4YZ7Z7U4Q4VMNIT6MXPSXQWGWMGYUWLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYH5RMO32DTB32BBCH2O2EC5KTTQ6IPJU5I3V4IXXZOYXO54BQNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGJB3HPVZ5BBGHY75SGPEXDG7XY2P7IKCI65BU577DAKXTQB4QLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MCZND7PNSR5OLDMIOGKXFBICLTSOQCWCYCJDGROBCXZJPZWIK3EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DI7KEKVGEAL45GSFIIS2CMDRKMIKBY64B4TR75D2MN6TI47SMWKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWIJVFYZVP6JADYKLI7GGCGG3F47VGVJYF4A6L3MMTBVVNSMKXXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQ2JRABHHWE6SEKPGKIU7A3EL4K4BF2ZMR6JUSDZ2ZWNWAJ5D6ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGDHNVZFRQSWYVS6M6UOINEW3OMK2IGQKH7ZATM5CIKPXER2II7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X54BHGDAUSEMM3DVHQEYIBMMB42JCWSQQ3NZRBR66IXYPE4P5W7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGFSHFF3KETNEXQ4AR4GYTV7A7DIVIY6T6DQYG47M7J3SHGUA3OA/vendors.js"
            ]
        },
        "CreateRepository": {
            "input": {
                "type": "structure",
                "required": [
                    "repositoryName"
                ],
                "members": {
                    "repositoryName": {},
                    "catalogData": {
                        "shape": "S1i"
                    },
                    "tags": {
                        "shape": "S1r"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "repository": {
                        "shape": "S1w"
                    },
                    "catalogData": {
                        "shape": "S20"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RVP4V4P7JLCFDRESM7CQOZ6BKFOB5C6TSVVLXWBDFNLMNFVQFYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5TBPWCTHDDHWYED7JJP7YLYUQYFQE37NSJHZMKCXP6UPKKKB3MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TVB2DT4FAM4HYTPGSUKQHRIIJ2NDWVI74MVFP7WWPRVFOMC4ELBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFN3V7NXYJGBHFDUYKT733NUQWZFMHXZR376GEKU3OGNJZTGLNQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WURFR2YE2YCQZM5PNLJJWIELY4GXICSRZWO5IMTIRNWIHI2RWKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKNL4YAMBIYYIWV3BTTSDRQI2A2EIBQGYHO56HCNTU4QTXDK6JPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S55AKDZGKWWNNEOW4FL7RNNBQPTYNJUOG3VJOUGLDFWBH3BCG5FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CH3QXWGVXD5XBXEI7OETYBTL2P32J4K44NNQHNNTAM353BSNLN3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UMBPADJNOMJDUK6SKVXT5THAJRAYJB36OJ56355ZHHXG35Y3YTOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6F6BL627GBODGEU4JEE6Y4TKVPXGLO7MTWYM5OO54EXRIFQLE2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPRFA34PIBN2UHGM6JIB4YZ7Z7U4Q4VMNIT6MXPSXQWGWMGYUWLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYH5RMO32DTB32BBCH2O2EC5KTTQ6IPJU5I3V4IXXZOYXO54BQNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGJB3HPVZ5BBGHY75SGPEXDG7XY2P7IKCI65BU577DAKXTQB4QLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MCZND7PNSR5OLDMIOGKXFBICLTSOQCWCYCJDGROBCXZJPZWIK3EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DI7KEKVGEAL45GSFIIS2CMDRKMIKBY64B4TR75D2MN6TI47SMWKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWIJVFYZVP6JADYKLI7GGCGG3F47VGVJYF4A6L3MMTBVVNSMKXXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQ2JRABHHWE6SEKPGKIU7A3EL4K4BF2ZMR6JUSDZ2ZWNWAJ5D6ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGDHNVZFRQSWYVS6M6UOINEW3OMK2IGQKH7ZATM5CIKPXER2II7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X54BHGDAUSEMM3DVHQEYIBMMB42JCWSQQ3NZRBR66IXYPE4P5W7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGFSHFF3KETNEXQ4AR4GYTV7A7DIVIY6T6DQYG47M7J3SHGUA3OA/vendors.js"
            ]
        },
        "DeleteImageForConvergentReplicationInternal": {
            "input": {
                "type": "structure",
                "required": [
                    "imageManifestEntity"
                ],
                "members": {
                    "imageManifestEntity": {
                        "shape": "S24"
                    },
                    "forceDelete": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "imageManifestEntity": {
                        "shape": "S24"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RVP4V4P7JLCFDRESM7CQOZ6BKFOB5C6TSVVLXWBDFNLMNFVQFYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5TBPWCTHDDHWYED7JJP7YLYUQYFQE37NSJHZMKCXP6UPKKKB3MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TVB2DT4FAM4HYTPGSUKQHRIIJ2NDWVI74MVFP7WWPRVFOMC4ELBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFN3V7NXYJGBHFDUYKT733NUQWZFMHXZR376GEKU3OGNJZTGLNQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WURFR2YE2YCQZM5PNLJJWIELY4GXICSRZWO5IMTIRNWIHI2RWKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKNL4YAMBIYYIWV3BTTSDRQI2A2EIBQGYHO56HCNTU4QTXDK6JPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S55AKDZGKWWNNEOW4FL7RNNBQPTYNJUOG3VJOUGLDFWBH3BCG5FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CH3QXWGVXD5XBXEI7OETYBTL2P32J4K44NNQHNNTAM353BSNLN3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UMBPADJNOMJDUK6SKVXT5THAJRAYJB36OJ56355ZHHXG35Y3YTOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6F6BL627GBODGEU4JEE6Y4TKVPXGLO7MTWYM5OO54EXRIFQLE2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPRFA34PIBN2UHGM6JIB4YZ7Z7U4Q4VMNIT6MXPSXQWGWMGYUWLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYH5RMO32DTB32BBCH2O2EC5KTTQ6IPJU5I3V4IXXZOYXO54BQNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGJB3HPVZ5BBGHY75SGPEXDG7XY2P7IKCI65BU577DAKXTQB4QLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MCZND7PNSR5OLDMIOGKXFBICLTSOQCWCYCJDGROBCXZJPZWIK3EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DI7KEKVGEAL45GSFIIS2CMDRKMIKBY64B4TR75D2MN6TI47SMWKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWIJVFYZVP6JADYKLI7GGCGG3F47VGVJYF4A6L3MMTBVVNSMKXXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQ2JRABHHWE6SEKPGKIU7A3EL4K4BF2ZMR6JUSDZ2ZWNWAJ5D6ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGDHNVZFRQSWYVS6M6UOINEW3OMK2IGQKH7ZATM5CIKPXER2II7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X54BHGDAUSEMM3DVHQEYIBMMB42JCWSQQ3NZRBR66IXYPE4P5W7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGFSHFF3KETNEXQ4AR4GYTV7A7DIVIY6T6DQYG47M7J3SHGUA3OA/vendors.js"
            ]
        },
        "DeleteRepository": {
            "input": {
                "type": "structure",
                "required": [
                    "repositoryName"
                ],
                "members": {
                    "registryId": {},
                    "repositoryName": {},
                    "force": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "repository": {
                        "shape": "S1w"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RVP4V4P7JLCFDRESM7CQOZ6BKFOB5C6TSVVLXWBDFNLMNFVQFYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5TBPWCTHDDHWYED7JJP7YLYUQYFQE37NSJHZMKCXP6UPKKKB3MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TVB2DT4FAM4HYTPGSUKQHRIIJ2NDWVI74MVFP7WWPRVFOMC4ELBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFN3V7NXYJGBHFDUYKT733NUQWZFMHXZR376GEKU3OGNJZTGLNQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WURFR2YE2YCQZM5PNLJJWIELY4GXICSRZWO5IMTIRNWIHI2RWKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKNL4YAMBIYYIWV3BTTSDRQI2A2EIBQGYHO56HCNTU4QTXDK6JPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S55AKDZGKWWNNEOW4FL7RNNBQPTYNJUOG3VJOUGLDFWBH3BCG5FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CH3QXWGVXD5XBXEI7OETYBTL2P32J4K44NNQHNNTAM353BSNLN3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UMBPADJNOMJDUK6SKVXT5THAJRAYJB36OJ56355ZHHXG35Y3YTOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6F6BL627GBODGEU4JEE6Y4TKVPXGLO7MTWYM5OO54EXRIFQLE2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPRFA34PIBN2UHGM6JIB4YZ7Z7U4Q4VMNIT6MXPSXQWGWMGYUWLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYH5RMO32DTB32BBCH2O2EC5KTTQ6IPJU5I3V4IXXZOYXO54BQNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGJB3HPVZ5BBGHY75SGPEXDG7XY2P7IKCI65BU577DAKXTQB4QLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MCZND7PNSR5OLDMIOGKXFBICLTSOQCWCYCJDGROBCXZJPZWIK3EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DI7KEKVGEAL45GSFIIS2CMDRKMIKBY64B4TR75D2MN6TI47SMWKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWIJVFYZVP6JADYKLI7GGCGG3F47VGVJYF4A6L3MMTBVVNSMKXXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQ2JRABHHWE6SEKPGKIU7A3EL4K4BF2ZMR6JUSDZ2ZWNWAJ5D6ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGDHNVZFRQSWYVS6M6UOINEW3OMK2IGQKH7ZATM5CIKPXER2II7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X54BHGDAUSEMM3DVHQEYIBMMB42JCWSQQ3NZRBR66IXYPE4P5W7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGFSHFF3KETNEXQ4AR4GYTV7A7DIVIY6T6DQYG47M7J3SHGUA3OA/vendors.js"
            ]
        },
        "DeleteRepositoryPolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "repositoryName"
                ],
                "members": {
                    "registryId": {},
                    "repositoryName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "registryId": {},
                    "repositoryName": {},
                    "policyText": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RVP4V4P7JLCFDRESM7CQOZ6BKFOB5C6TSVVLXWBDFNLMNFVQFYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5TBPWCTHDDHWYED7JJP7YLYUQYFQE37NSJHZMKCXP6UPKKKB3MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TVB2DT4FAM4HYTPGSUKQHRIIJ2NDWVI74MVFP7WWPRVFOMC4ELBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFN3V7NXYJGBHFDUYKT733NUQWZFMHXZR376GEKU3OGNJZTGLNQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WURFR2YE2YCQZM5PNLJJWIELY4GXICSRZWO5IMTIRNWIHI2RWKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKNL4YAMBIYYIWV3BTTSDRQI2A2EIBQGYHO56HCNTU4QTXDK6JPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S55AKDZGKWWNNEOW4FL7RNNBQPTYNJUOG3VJOUGLDFWBH3BCG5FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CH3QXWGVXD5XBXEI7OETYBTL2P32J4K44NNQHNNTAM353BSNLN3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UMBPADJNOMJDUK6SKVXT5THAJRAYJB36OJ56355ZHHXG35Y3YTOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6F6BL627GBODGEU4JEE6Y4TKVPXGLO7MTWYM5OO54EXRIFQLE2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPRFA34PIBN2UHGM6JIB4YZ7Z7U4Q4VMNIT6MXPSXQWGWMGYUWLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYH5RMO32DTB32BBCH2O2EC5KTTQ6IPJU5I3V4IXXZOYXO54BQNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGJB3HPVZ5BBGHY75SGPEXDG7XY2P7IKCI65BU577DAKXTQB4QLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MCZND7PNSR5OLDMIOGKXFBICLTSOQCWCYCJDGROBCXZJPZWIK3EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DI7KEKVGEAL45GSFIIS2CMDRKMIKBY64B4TR75D2MN6TI47SMWKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWIJVFYZVP6JADYKLI7GGCGG3F47VGVJYF4A6L3MMTBVVNSMKXXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQ2JRABHHWE6SEKPGKIU7A3EL4K4BF2ZMR6JUSDZ2ZWNWAJ5D6ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGDHNVZFRQSWYVS6M6UOINEW3OMK2IGQKH7ZATM5CIKPXER2II7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X54BHGDAUSEMM3DVHQEYIBMMB42JCWSQQ3NZRBR66IXYPE4P5W7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGFSHFF3KETNEXQ4AR4GYTV7A7DIVIY6T6DQYG47M7J3SHGUA3OA/vendors.js"
            ]
        },
        "DeleteTagForConvergentReplicationInternal": {
            "input": {
                "type": "structure",
                "required": [
                    "imageTagEntity"
                ],
                "members": {
                    "imageTagEntity": {
                        "shape": "S2l"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "imageTagEntity": {
                        "shape": "S2l"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RVP4V4P7JLCFDRESM7CQOZ6BKFOB5C6TSVVLXWBDFNLMNFVQFYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5TBPWCTHDDHWYED7JJP7YLYUQYFQE37NSJHZMKCXP6UPKKKB3MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TVB2DT4FAM4HYTPGSUKQHRIIJ2NDWVI74MVFP7WWPRVFOMC4ELBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFN3V7NXYJGBHFDUYKT733NUQWZFMHXZR376GEKU3OGNJZTGLNQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WURFR2YE2YCQZM5PNLJJWIELY4GXICSRZWO5IMTIRNWIHI2RWKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKNL4YAMBIYYIWV3BTTSDRQI2A2EIBQGYHO56HCNTU4QTXDK6JPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S55AKDZGKWWNNEOW4FL7RNNBQPTYNJUOG3VJOUGLDFWBH3BCG5FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CH3QXWGVXD5XBXEI7OETYBTL2P32J4K44NNQHNNTAM353BSNLN3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UMBPADJNOMJDUK6SKVXT5THAJRAYJB36OJ56355ZHHXG35Y3YTOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6F6BL627GBODGEU4JEE6Y4TKVPXGLO7MTWYM5OO54EXRIFQLE2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPRFA34PIBN2UHGM6JIB4YZ7Z7U4Q4VMNIT6MXPSXQWGWMGYUWLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYH5RMO32DTB32BBCH2O2EC5KTTQ6IPJU5I3V4IXXZOYXO54BQNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGJB3HPVZ5BBGHY75SGPEXDG7XY2P7IKCI65BU577DAKXTQB4QLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MCZND7PNSR5OLDMIOGKXFBICLTSOQCWCYCJDGROBCXZJPZWIK3EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DI7KEKVGEAL45GSFIIS2CMDRKMIKBY64B4TR75D2MN6TI47SMWKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWIJVFYZVP6JADYKLI7GGCGG3F47VGVJYF4A6L3MMTBVVNSMKXXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQ2JRABHHWE6SEKPGKIU7A3EL4K4BF2ZMR6JUSDZ2ZWNWAJ5D6ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGDHNVZFRQSWYVS6M6UOINEW3OMK2IGQKH7ZATM5CIKPXER2II7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X54BHGDAUSEMM3DVHQEYIBMMB42JCWSQQ3NZRBR66IXYPE4P5W7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGFSHFF3KETNEXQ4AR4GYTV7A7DIVIY6T6DQYG47M7J3SHGUA3OA/vendors.js"
            ]
        },
        "DescribeImageTags": {
            "input": {
                "type": "structure",
                "required": [
                    "repositoryName"
                ],
                "members": {
                    "registryId": {},
                    "repositoryName": {},
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "imageTagDetails": {
                        "shape": "S2r"
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RVP4V4P7JLCFDRESM7CQOZ6BKFOB5C6TSVVLXWBDFNLMNFVQFYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5TBPWCTHDDHWYED7JJP7YLYUQYFQE37NSJHZMKCXP6UPKKKB3MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TVB2DT4FAM4HYTPGSUKQHRIIJ2NDWVI74MVFP7WWPRVFOMC4ELBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFN3V7NXYJGBHFDUYKT733NUQWZFMHXZR376GEKU3OGNJZTGLNQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WURFR2YE2YCQZM5PNLJJWIELY4GXICSRZWO5IMTIRNWIHI2RWKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKNL4YAMBIYYIWV3BTTSDRQI2A2EIBQGYHO56HCNTU4QTXDK6JPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S55AKDZGKWWNNEOW4FL7RNNBQPTYNJUOG3VJOUGLDFWBH3BCG5FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CH3QXWGVXD5XBXEI7OETYBTL2P32J4K44NNQHNNTAM353BSNLN3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UMBPADJNOMJDUK6SKVXT5THAJRAYJB36OJ56355ZHHXG35Y3YTOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6F6BL627GBODGEU4JEE6Y4TKVPXGLO7MTWYM5OO54EXRIFQLE2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPRFA34PIBN2UHGM6JIB4YZ7Z7U4Q4VMNIT6MXPSXQWGWMGYUWLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYH5RMO32DTB32BBCH2O2EC5KTTQ6IPJU5I3V4IXXZOYXO54BQNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGJB3HPVZ5BBGHY75SGPEXDG7XY2P7IKCI65BU577DAKXTQB4QLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MCZND7PNSR5OLDMIOGKXFBICLTSOQCWCYCJDGROBCXZJPZWIK3EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DI7KEKVGEAL45GSFIIS2CMDRKMIKBY64B4TR75D2MN6TI47SMWKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWIJVFYZVP6JADYKLI7GGCGG3F47VGVJYF4A6L3MMTBVVNSMKXXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQ2JRABHHWE6SEKPGKIU7A3EL4K4BF2ZMR6JUSDZ2ZWNWAJ5D6ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGDHNVZFRQSWYVS6M6UOINEW3OMK2IGQKH7ZATM5CIKPXER2II7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X54BHGDAUSEMM3DVHQEYIBMMB42JCWSQQ3NZRBR66IXYPE4P5W7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGFSHFF3KETNEXQ4AR4GYTV7A7DIVIY6T6DQYG47M7J3SHGUA3OA/vendors.js"
            ]
        },
        "DescribeImageTagsInternal": {
            "input": {
                "type": "structure",
                "required": [
                    "registryAliasName",
                    "repositoryName"
                ],
                "members": {
                    "registryAliasName": {},
                    "repositoryName": {},
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "imageTagDetails": {
                        "shape": "S2r"
                    },
                    "nextToken": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RVP4V4P7JLCFDRESM7CQOZ6BKFOB5C6TSVVLXWBDFNLMNFVQFYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5TBPWCTHDDHWYED7JJP7YLYUQYFQE37NSJHZMKCXP6UPKKKB3MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TVB2DT4FAM4HYTPGSUKQHRIIJ2NDWVI74MVFP7WWPRVFOMC4ELBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFN3V7NXYJGBHFDUYKT733NUQWZFMHXZR376GEKU3OGNJZTGLNQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WURFR2YE2YCQZM5PNLJJWIELY4GXICSRZWO5IMTIRNWIHI2RWKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKNL4YAMBIYYIWV3BTTSDRQI2A2EIBQGYHO56HCNTU4QTXDK6JPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S55AKDZGKWWNNEOW4FL7RNNBQPTYNJUOG3VJOUGLDFWBH3BCG5FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CH3QXWGVXD5XBXEI7OETYBTL2P32J4K44NNQHNNTAM353BSNLN3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UMBPADJNOMJDUK6SKVXT5THAJRAYJB36OJ56355ZHHXG35Y3YTOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6F6BL627GBODGEU4JEE6Y4TKVPXGLO7MTWYM5OO54EXRIFQLE2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPRFA34PIBN2UHGM6JIB4YZ7Z7U4Q4VMNIT6MXPSXQWGWMGYUWLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYH5RMO32DTB32BBCH2O2EC5KTTQ6IPJU5I3V4IXXZOYXO54BQNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGJB3HPVZ5BBGHY75SGPEXDG7XY2P7IKCI65BU577DAKXTQB4QLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MCZND7PNSR5OLDMIOGKXFBICLTSOQCWCYCJDGROBCXZJPZWIK3EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DI7KEKVGEAL45GSFIIS2CMDRKMIKBY64B4TR75D2MN6TI47SMWKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWIJVFYZVP6JADYKLI7GGCGG3F47VGVJYF4A6L3MMTBVVNSMKXXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQ2JRABHHWE6SEKPGKIU7A3EL4K4BF2ZMR6JUSDZ2ZWNWAJ5D6ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGDHNVZFRQSWYVS6M6UOINEW3OMK2IGQKH7ZATM5CIKPXER2II7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X54BHGDAUSEMM3DVHQEYIBMMB42JCWSQQ3NZRBR66IXYPE4P5W7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGFSHFF3KETNEXQ4AR4GYTV7A7DIVIY6T6DQYG47M7J3SHGUA3OA/vendors.js"
            ]
        },
        "DescribeImages": {
            "input": {
                "type": "structure",
                "required": [
                    "repositoryName"
                ],
                "members": {
                    "registryId": {},
                    "repositoryName": {},
                    "imageIds": {
                        "shape": "Si"
                    },
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "imageDetails": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "registryId": {},
                                "repositoryName": {},
                                "imageDigest": {},
                                "imageTags": {
                                    "type": "list",
                                    "member": {}
                                },
                                "imageSizeInBytes": {
                                    "type": "long"
                                },
                                "imagePushedAt": {
                                    "type": "timestamp"
                                },
                                "imageManifestMediaType": {},
                                "artifactMediaType": {},
                                "subjectManifestDigest": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RVP4V4P7JLCFDRESM7CQOZ6BKFOB5C6TSVVLXWBDFNLMNFVQFYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5TBPWCTHDDHWYED7JJP7YLYUQYFQE37NSJHZMKCXP6UPKKKB3MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TVB2DT4FAM4HYTPGSUKQHRIIJ2NDWVI74MVFP7WWPRVFOMC4ELBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFN3V7NXYJGBHFDUYKT733NUQWZFMHXZR376GEKU3OGNJZTGLNQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WURFR2YE2YCQZM5PNLJJWIELY4GXICSRZWO5IMTIRNWIHI2RWKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKNL4YAMBIYYIWV3BTTSDRQI2A2EIBQGYHO56HCNTU4QTXDK6JPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S55AKDZGKWWNNEOW4FL7RNNBQPTYNJUOG3VJOUGLDFWBH3BCG5FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CH3QXWGVXD5XBXEI7OETYBTL2P32J4K44NNQHNNTAM353BSNLN3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UMBPADJNOMJDUK6SKVXT5THAJRAYJB36OJ56355ZHHXG35Y3YTOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6F6BL627GBODGEU4JEE6Y4TKVPXGLO7MTWYM5OO54EXRIFQLE2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPRFA34PIBN2UHGM6JIB4YZ7Z7U4Q4VMNIT6MXPSXQWGWMGYUWLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYH5RMO32DTB32BBCH2O2EC5KTTQ6IPJU5I3V4IXXZOYXO54BQNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGJB3HPVZ5BBGHY75SGPEXDG7XY2P7IKCI65BU577DAKXTQB4QLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MCZND7PNSR5OLDMIOGKXFBICLTSOQCWCYCJDGROBCXZJPZWIK3EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DI7KEKVGEAL45GSFIIS2CMDRKMIKBY64B4TR75D2MN6TI47SMWKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWIJVFYZVP6JADYKLI7GGCGG3F47VGVJYF4A6L3MMTBVVNSMKXXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQ2JRABHHWE6SEKPGKIU7A3EL4K4BF2ZMR6JUSDZ2ZWNWAJ5D6ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGDHNVZFRQSWYVS6M6UOINEW3OMK2IGQKH7ZATM5CIKPXER2II7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X54BHGDAUSEMM3DVHQEYIBMMB42JCWSQQ3NZRBR66IXYPE4P5W7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGFSHFF3KETNEXQ4AR4GYTV7A7DIVIY6T6DQYG47M7J3SHGUA3OA/vendors.js"
            ]
        },
        "DescribeRegistries": {
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "registries"
                ],
                "members": {
                    "registries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "registryId",
                                "registryArn",
                                "registryUri",
                                "verified",
                                "aliases"
                            ],
                            "members": {
                                "registryId": {},
                                "registryArn": {},
                                "registryUri": {},
                                "verified": {
                                    "type": "boolean"
                                },
                                "aliases": {
                                    "type": "list",
                                    "member": {
                                        "shape": "S38"
                                    }
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RVP4V4P7JLCFDRESM7CQOZ6BKFOB5C6TSVVLXWBDFNLMNFVQFYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5TBPWCTHDDHWYED7JJP7YLYUQYFQE37NSJHZMKCXP6UPKKKB3MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TVB2DT4FAM4HYTPGSUKQHRIIJ2NDWVI74MVFP7WWPRVFOMC4ELBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFN3V7NXYJGBHFDUYKT733NUQWZFMHXZR376GEKU3OGNJZTGLNQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WURFR2YE2YCQZM5PNLJJWIELY4GXICSRZWO5IMTIRNWIHI2RWKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKNL4YAMBIYYIWV3BTTSDRQI2A2EIBQGYHO56HCNTU4QTXDK6JPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S55AKDZGKWWNNEOW4FL7RNNBQPTYNJUOG3VJOUGLDFWBH3BCG5FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CH3QXWGVXD5XBXEI7OETYBTL2P32J4K44NNQHNNTAM353BSNLN3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UMBPADJNOMJDUK6SKVXT5THAJRAYJB36OJ56355ZHHXG35Y3YTOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6F6BL627GBODGEU4JEE6Y4TKVPXGLO7MTWYM5OO54EXRIFQLE2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPRFA34PIBN2UHGM6JIB4YZ7Z7U4Q4VMNIT6MXPSXQWGWMGYUWLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYH5RMO32DTB32BBCH2O2EC5KTTQ6IPJU5I3V4IXXZOYXO54BQNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGJB3HPVZ5BBGHY75SGPEXDG7XY2P7IKCI65BU577DAKXTQB4QLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MCZND7PNSR5OLDMIOGKXFBICLTSOQCWCYCJDGROBCXZJPZWIK3EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DI7KEKVGEAL45GSFIIS2CMDRKMIKBY64B4TR75D2MN6TI47SMWKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWIJVFYZVP6JADYKLI7GGCGG3F47VGVJYF4A6L3MMTBVVNSMKXXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQ2JRABHHWE6SEKPGKIU7A3EL4K4BF2ZMR6JUSDZ2ZWNWAJ5D6ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGDHNVZFRQSWYVS6M6UOINEW3OMK2IGQKH7ZATM5CIKPXER2II7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X54BHGDAUSEMM3DVHQEYIBMMB42JCWSQQ3NZRBR66IXYPE4P5W7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGFSHFF3KETNEXQ4AR4GYTV7A7DIVIY6T6DQYG47M7J3SHGUA3OA/vendors.js"
            ]
        },
        "DescribeRepositories": {
            "input": {
                "type": "structure",
                "members": {
                    "registryId": {},
                    "repositoryNames": {
                        "type": "list",
                        "member": {}
                    },
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "repositories": {
                        "type": "list",
                        "member": {
                            "shape": "S1w"
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RVP4V4P7JLCFDRESM7CQOZ6BKFOB5C6TSVVLXWBDFNLMNFVQFYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5TBPWCTHDDHWYED7JJP7YLYUQYFQE37NSJHZMKCXP6UPKKKB3MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TVB2DT4FAM4HYTPGSUKQHRIIJ2NDWVI74MVFP7WWPRVFOMC4ELBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFN3V7NXYJGBHFDUYKT733NUQWZFMHXZR376GEKU3OGNJZTGLNQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WURFR2YE2YCQZM5PNLJJWIELY4GXICSRZWO5IMTIRNWIHI2RWKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKNL4YAMBIYYIWV3BTTSDRQI2A2EIBQGYHO56HCNTU4QTXDK6JPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S55AKDZGKWWNNEOW4FL7RNNBQPTYNJUOG3VJOUGLDFWBH3BCG5FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CH3QXWGVXD5XBXEI7OETYBTL2P32J4K44NNQHNNTAM353BSNLN3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UMBPADJNOMJDUK6SKVXT5THAJRAYJB36OJ56355ZHHXG35Y3YTOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6F6BL627GBODGEU4JEE6Y4TKVPXGLO7MTWYM5OO54EXRIFQLE2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPRFA34PIBN2UHGM6JIB4YZ7Z7U4Q4VMNIT6MXPSXQWGWMGYUWLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYH5RMO32DTB32BBCH2O2EC5KTTQ6IPJU5I3V4IXXZOYXO54BQNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGJB3HPVZ5BBGHY75SGPEXDG7XY2P7IKCI65BU577DAKXTQB4QLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MCZND7PNSR5OLDMIOGKXFBICLTSOQCWCYCJDGROBCXZJPZWIK3EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DI7KEKVGEAL45GSFIIS2CMDRKMIKBY64B4TR75D2MN6TI47SMWKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWIJVFYZVP6JADYKLI7GGCGG3F47VGVJYF4A6L3MMTBVVNSMKXXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQ2JRABHHWE6SEKPGKIU7A3EL4K4BF2ZMR6JUSDZ2ZWNWAJ5D6ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGDHNVZFRQSWYVS6M6UOINEW3OMK2IGQKH7ZATM5CIKPXER2II7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X54BHGDAUSEMM3DVHQEYIBMMB42JCWSQQ3NZRBR66IXYPE4P5W7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGFSHFF3KETNEXQ4AR4GYTV7A7DIVIY6T6DQYG47M7J3SHGUA3OA/vendors.js"
            ]
        },
        "DescribeRepositoryCatalogDataInternal": {
            "input": {
                "type": "structure",
                "required": [
                    "registryAliasName"
                ],
                "members": {
                    "registryAliasName": {},
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "repositorySortOrder": {},
                    "repositorySortField": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "repositories": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "repositoryName": {},
                                "catalogData": {
                                    "shape": "S20"
                                },
                                "insightData": {
                                    "shape": "S3m"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RVP4V4P7JLCFDRESM7CQOZ6BKFOB5C6TSVVLXWBDFNLMNFVQFYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5TBPWCTHDDHWYED7JJP7YLYUQYFQE37NSJHZMKCXP6UPKKKB3MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TVB2DT4FAM4HYTPGSUKQHRIIJ2NDWVI74MVFP7WWPRVFOMC4ELBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFN3V7NXYJGBHFDUYKT733NUQWZFMHXZR376GEKU3OGNJZTGLNQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WURFR2YE2YCQZM5PNLJJWIELY4GXICSRZWO5IMTIRNWIHI2RWKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKNL4YAMBIYYIWV3BTTSDRQI2A2EIBQGYHO56HCNTU4QTXDK6JPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S55AKDZGKWWNNEOW4FL7RNNBQPTYNJUOG3VJOUGLDFWBH3BCG5FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CH3QXWGVXD5XBXEI7OETYBTL2P32J4K44NNQHNNTAM353BSNLN3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UMBPADJNOMJDUK6SKVXT5THAJRAYJB36OJ56355ZHHXG35Y3YTOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6F6BL627GBODGEU4JEE6Y4TKVPXGLO7MTWYM5OO54EXRIFQLE2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPRFA34PIBN2UHGM6JIB4YZ7Z7U4Q4VMNIT6MXPSXQWGWMGYUWLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYH5RMO32DTB32BBCH2O2EC5KTTQ6IPJU5I3V4IXXZOYXO54BQNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGJB3HPVZ5BBGHY75SGPEXDG7XY2P7IKCI65BU577DAKXTQB4QLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MCZND7PNSR5OLDMIOGKXFBICLTSOQCWCYCJDGROBCXZJPZWIK3EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DI7KEKVGEAL45GSFIIS2CMDRKMIKBY64B4TR75D2MN6TI47SMWKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWIJVFYZVP6JADYKLI7GGCGG3F47VGVJYF4A6L3MMTBVVNSMKXXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQ2JRABHHWE6SEKPGKIU7A3EL4K4BF2ZMR6JUSDZ2ZWNWAJ5D6ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGDHNVZFRQSWYVS6M6UOINEW3OMK2IGQKH7ZATM5CIKPXER2II7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X54BHGDAUSEMM3DVHQEYIBMMB42JCWSQQ3NZRBR66IXYPE4P5W7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGFSHFF3KETNEXQ4AR4GYTV7A7DIVIY6T6DQYG47M7J3SHGUA3OA/vendors.js"
            ]
        },
        "GetAuthorizationToken": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "authorizationData": {
                        "type": "structure",
                        "members": {
                            "authorizationToken": {},
                            "expiresAt": {
                                "type": "timestamp"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RVP4V4P7JLCFDRESM7CQOZ6BKFOB5C6TSVVLXWBDFNLMNFVQFYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5TBPWCTHDDHWYED7JJP7YLYUQYFQE37NSJHZMKCXP6UPKKKB3MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TVB2DT4FAM4HYTPGSUKQHRIIJ2NDWVI74MVFP7WWPRVFOMC4ELBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFN3V7NXYJGBHFDUYKT733NUQWZFMHXZR376GEKU3OGNJZTGLNQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WURFR2YE2YCQZM5PNLJJWIELY4GXICSRZWO5IMTIRNWIHI2RWKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKNL4YAMBIYYIWV3BTTSDRQI2A2EIBQGYHO56HCNTU4QTXDK6JPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S55AKDZGKWWNNEOW4FL7RNNBQPTYNJUOG3VJOUGLDFWBH3BCG5FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CH3QXWGVXD5XBXEI7OETYBTL2P32J4K44NNQHNNTAM353BSNLN3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UMBPADJNOMJDUK6SKVXT5THAJRAYJB36OJ56355ZHHXG35Y3YTOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6F6BL627GBODGEU4JEE6Y4TKVPXGLO7MTWYM5OO54EXRIFQLE2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPRFA34PIBN2UHGM6JIB4YZ7Z7U4Q4VMNIT6MXPSXQWGWMGYUWLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYH5RMO32DTB32BBCH2O2EC5KTTQ6IPJU5I3V4IXXZOYXO54BQNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGJB3HPVZ5BBGHY75SGPEXDG7XY2P7IKCI65BU577DAKXTQB4QLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MCZND7PNSR5OLDMIOGKXFBICLTSOQCWCYCJDGROBCXZJPZWIK3EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DI7KEKVGEAL45GSFIIS2CMDRKMIKBY64B4TR75D2MN6TI47SMWKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWIJVFYZVP6JADYKLI7GGCGG3F47VGVJYF4A6L3MMTBVVNSMKXXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQ2JRABHHWE6SEKPGKIU7A3EL4K4BF2ZMR6JUSDZ2ZWNWAJ5D6ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGDHNVZFRQSWYVS6M6UOINEW3OMK2IGQKH7ZATM5CIKPXER2II7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X54BHGDAUSEMM3DVHQEYIBMMB42JCWSQQ3NZRBR66IXYPE4P5W7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGFSHFF3KETNEXQ4AR4GYTV7A7DIVIY6T6DQYG47M7J3SHGUA3OA/vendors.js"
            ]
        },
        "GetDownloadUrlForLayerInternal": {
            "input": {
                "type": "structure",
                "required": [
                    "registryAliasName",
                    "repositoryName",
                    "layerDigest"
                ],
                "members": {
                    "registryAliasName": {},
                    "repositoryName": {},
                    "layerDigest": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "downloadUrl": {},
                    "layerDigest": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RVP4V4P7JLCFDRESM7CQOZ6BKFOB5C6TSVVLXWBDFNLMNFVQFYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5TBPWCTHDDHWYED7JJP7YLYUQYFQE37NSJHZMKCXP6UPKKKB3MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TVB2DT4FAM4HYTPGSUKQHRIIJ2NDWVI74MVFP7WWPRVFOMC4ELBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFN3V7NXYJGBHFDUYKT733NUQWZFMHXZR376GEKU3OGNJZTGLNQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WURFR2YE2YCQZM5PNLJJWIELY4GXICSRZWO5IMTIRNWIHI2RWKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKNL4YAMBIYYIWV3BTTSDRQI2A2EIBQGYHO56HCNTU4QTXDK6JPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S55AKDZGKWWNNEOW4FL7RNNBQPTYNJUOG3VJOUGLDFWBH3BCG5FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CH3QXWGVXD5XBXEI7OETYBTL2P32J4K44NNQHNNTAM353BSNLN3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UMBPADJNOMJDUK6SKVXT5THAJRAYJB36OJ56355ZHHXG35Y3YTOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6F6BL627GBODGEU4JEE6Y4TKVPXGLO7MTWYM5OO54EXRIFQLE2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPRFA34PIBN2UHGM6JIB4YZ7Z7U4Q4VMNIT6MXPSXQWGWMGYUWLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYH5RMO32DTB32BBCH2O2EC5KTTQ6IPJU5I3V4IXXZOYXO54BQNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGJB3HPVZ5BBGHY75SGPEXDG7XY2P7IKCI65BU577DAKXTQB4QLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MCZND7PNSR5OLDMIOGKXFBICLTSOQCWCYCJDGROBCXZJPZWIK3EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DI7KEKVGEAL45GSFIIS2CMDRKMIKBY64B4TR75D2MN6TI47SMWKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWIJVFYZVP6JADYKLI7GGCGG3F47VGVJYF4A6L3MMTBVVNSMKXXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQ2JRABHHWE6SEKPGKIU7A3EL4K4BF2ZMR6JUSDZ2ZWNWAJ5D6ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGDHNVZFRQSWYVS6M6UOINEW3OMK2IGQKH7ZATM5CIKPXER2II7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X54BHGDAUSEMM3DVHQEYIBMMB42JCWSQQ3NZRBR66IXYPE4P5W7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGFSHFF3KETNEXQ4AR4GYTV7A7DIVIY6T6DQYG47M7J3SHGUA3OA/vendors.js"
            ]
        },
        "GetRegistryCatalogData": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "required": [
                    "registryCatalogData"
                ],
                "members": {
                    "registryCatalogData": {
                        "shape": "S3x"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RVP4V4P7JLCFDRESM7CQOZ6BKFOB5C6TSVVLXWBDFNLMNFVQFYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5TBPWCTHDDHWYED7JJP7YLYUQYFQE37NSJHZMKCXP6UPKKKB3MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TVB2DT4FAM4HYTPGSUKQHRIIJ2NDWVI74MVFP7WWPRVFOMC4ELBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFN3V7NXYJGBHFDUYKT733NUQWZFMHXZR376GEKU3OGNJZTGLNQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WURFR2YE2YCQZM5PNLJJWIELY4GXICSRZWO5IMTIRNWIHI2RWKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKNL4YAMBIYYIWV3BTTSDRQI2A2EIBQGYHO56HCNTU4QTXDK6JPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S55AKDZGKWWNNEOW4FL7RNNBQPTYNJUOG3VJOUGLDFWBH3BCG5FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CH3QXWGVXD5XBXEI7OETYBTL2P32J4K44NNQHNNTAM353BSNLN3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UMBPADJNOMJDUK6SKVXT5THAJRAYJB36OJ56355ZHHXG35Y3YTOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6F6BL627GBODGEU4JEE6Y4TKVPXGLO7MTWYM5OO54EXRIFQLE2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPRFA34PIBN2UHGM6JIB4YZ7Z7U4Q4VMNIT6MXPSXQWGWMGYUWLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYH5RMO32DTB32BBCH2O2EC5KTTQ6IPJU5I3V4IXXZOYXO54BQNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGJB3HPVZ5BBGHY75SGPEXDG7XY2P7IKCI65BU577DAKXTQB4QLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MCZND7PNSR5OLDMIOGKXFBICLTSOQCWCYCJDGROBCXZJPZWIK3EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DI7KEKVGEAL45GSFIIS2CMDRKMIKBY64B4TR75D2MN6TI47SMWKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWIJVFYZVP6JADYKLI7GGCGG3F47VGVJYF4A6L3MMTBVVNSMKXXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQ2JRABHHWE6SEKPGKIU7A3EL4K4BF2ZMR6JUSDZ2ZWNWAJ5D6ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGDHNVZFRQSWYVS6M6UOINEW3OMK2IGQKH7ZATM5CIKPXER2II7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X54BHGDAUSEMM3DVHQEYIBMMB42JCWSQQ3NZRBR66IXYPE4P5W7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGFSHFF3KETNEXQ4AR4GYTV7A7DIVIY6T6DQYG47M7J3SHGUA3OA/vendors.js"
            ]
        },
        "GetRegistryCatalogDataInternal": {
            "input": {
                "type": "structure",
                "required": [
                    "registryAliasName"
                ],
                "members": {
                    "registryAliasName": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "registryCatalogData"
                ],
                "members": {
                    "registryCatalogData": {
                        "shape": "S3x"
                    },
                    "verified": {
                        "type": "boolean"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RVP4V4P7JLCFDRESM7CQOZ6BKFOB5C6TSVVLXWBDFNLMNFVQFYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5TBPWCTHDDHWYED7JJP7YLYUQYFQE37NSJHZMKCXP6UPKKKB3MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TVB2DT4FAM4HYTPGSUKQHRIIJ2NDWVI74MVFP7WWPRVFOMC4ELBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFN3V7NXYJGBHFDUYKT733NUQWZFMHXZR376GEKU3OGNJZTGLNQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WURFR2YE2YCQZM5PNLJJWIELY4GXICSRZWO5IMTIRNWIHI2RWKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKNL4YAMBIYYIWV3BTTSDRQI2A2EIBQGYHO56HCNTU4QTXDK6JPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S55AKDZGKWWNNEOW4FL7RNNBQPTYNJUOG3VJOUGLDFWBH3BCG5FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CH3QXWGVXD5XBXEI7OETYBTL2P32J4K44NNQHNNTAM353BSNLN3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UMBPADJNOMJDUK6SKVXT5THAJRAYJB36OJ56355ZHHXG35Y3YTOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6F6BL627GBODGEU4JEE6Y4TKVPXGLO7MTWYM5OO54EXRIFQLE2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPRFA34PIBN2UHGM6JIB4YZ7Z7U4Q4VMNIT6MXPSXQWGWMGYUWLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYH5RMO32DTB32BBCH2O2EC5KTTQ6IPJU5I3V4IXXZOYXO54BQNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGJB3HPVZ5BBGHY75SGPEXDG7XY2P7IKCI65BU577DAKXTQB4QLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MCZND7PNSR5OLDMIOGKXFBICLTSOQCWCYCJDGROBCXZJPZWIK3EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DI7KEKVGEAL45GSFIIS2CMDRKMIKBY64B4TR75D2MN6TI47SMWKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWIJVFYZVP6JADYKLI7GGCGG3F47VGVJYF4A6L3MMTBVVNSMKXXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQ2JRABHHWE6SEKPGKIU7A3EL4K4BF2ZMR6JUSDZ2ZWNWAJ5D6ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGDHNVZFRQSWYVS6M6UOINEW3OMK2IGQKH7ZATM5CIKPXER2II7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X54BHGDAUSEMM3DVHQEYIBMMB42JCWSQQ3NZRBR66IXYPE4P5W7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGFSHFF3KETNEXQ4AR4GYTV7A7DIVIY6T6DQYG47M7J3SHGUA3OA/vendors.js"
            ]
        },
        "GetRepositoryCatalogData": {
            "input": {
                "type": "structure",
                "required": [
                    "repositoryName"
                ],
                "members": {
                    "registryId": {},
                    "repositoryName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "catalogData": {
                        "shape": "S20"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RVP4V4P7JLCFDRESM7CQOZ6BKFOB5C6TSVVLXWBDFNLMNFVQFYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5TBPWCTHDDHWYED7JJP7YLYUQYFQE37NSJHZMKCXP6UPKKKB3MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TVB2DT4FAM4HYTPGSUKQHRIIJ2NDWVI74MVFP7WWPRVFOMC4ELBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFN3V7NXYJGBHFDUYKT733NUQWZFMHXZR376GEKU3OGNJZTGLNQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WURFR2YE2YCQZM5PNLJJWIELY4GXICSRZWO5IMTIRNWIHI2RWKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKNL4YAMBIYYIWV3BTTSDRQI2A2EIBQGYHO56HCNTU4QTXDK6JPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S55AKDZGKWWNNEOW4FL7RNNBQPTYNJUOG3VJOUGLDFWBH3BCG5FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CH3QXWGVXD5XBXEI7OETYBTL2P32J4K44NNQHNNTAM353BSNLN3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UMBPADJNOMJDUK6SKVXT5THAJRAYJB36OJ56355ZHHXG35Y3YTOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6F6BL627GBODGEU4JEE6Y4TKVPXGLO7MTWYM5OO54EXRIFQLE2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPRFA34PIBN2UHGM6JIB4YZ7Z7U4Q4VMNIT6MXPSXQWGWMGYUWLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYH5RMO32DTB32BBCH2O2EC5KTTQ6IPJU5I3V4IXXZOYXO54BQNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGJB3HPVZ5BBGHY75SGPEXDG7XY2P7IKCI65BU577DAKXTQB4QLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MCZND7PNSR5OLDMIOGKXFBICLTSOQCWCYCJDGROBCXZJPZWIK3EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DI7KEKVGEAL45GSFIIS2CMDRKMIKBY64B4TR75D2MN6TI47SMWKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWIJVFYZVP6JADYKLI7GGCGG3F47VGVJYF4A6L3MMTBVVNSMKXXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQ2JRABHHWE6SEKPGKIU7A3EL4K4BF2ZMR6JUSDZ2ZWNWAJ5D6ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGDHNVZFRQSWYVS6M6UOINEW3OMK2IGQKH7ZATM5CIKPXER2II7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X54BHGDAUSEMM3DVHQEYIBMMB42JCWSQQ3NZRBR66IXYPE4P5W7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGFSHFF3KETNEXQ4AR4GYTV7A7DIVIY6T6DQYG47M7J3SHGUA3OA/vendors.js"
            ]
        },
        "GetRepositoryCatalogDataInternal": {
            "input": {
                "type": "structure",
                "required": [
                    "registryAliasName",
                    "repositoryName"
                ],
                "members": {
                    "registryAliasName": {},
                    "repositoryName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "catalogData": {
                        "shape": "S20"
                    },
                    "insightData": {
                        "shape": "S3m"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RVP4V4P7JLCFDRESM7CQOZ6BKFOB5C6TSVVLXWBDFNLMNFVQFYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5TBPWCTHDDHWYED7JJP7YLYUQYFQE37NSJHZMKCXP6UPKKKB3MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TVB2DT4FAM4HYTPGSUKQHRIIJ2NDWVI74MVFP7WWPRVFOMC4ELBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFN3V7NXYJGBHFDUYKT733NUQWZFMHXZR376GEKU3OGNJZTGLNQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WURFR2YE2YCQZM5PNLJJWIELY4GXICSRZWO5IMTIRNWIHI2RWKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKNL4YAMBIYYIWV3BTTSDRQI2A2EIBQGYHO56HCNTU4QTXDK6JPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S55AKDZGKWWNNEOW4FL7RNNBQPTYNJUOG3VJOUGLDFWBH3BCG5FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CH3QXWGVXD5XBXEI7OETYBTL2P32J4K44NNQHNNTAM353BSNLN3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UMBPADJNOMJDUK6SKVXT5THAJRAYJB36OJ56355ZHHXG35Y3YTOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6F6BL627GBODGEU4JEE6Y4TKVPXGLO7MTWYM5OO54EXRIFQLE2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPRFA34PIBN2UHGM6JIB4YZ7Z7U4Q4VMNIT6MXPSXQWGWMGYUWLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYH5RMO32DTB32BBCH2O2EC5KTTQ6IPJU5I3V4IXXZOYXO54BQNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGJB3HPVZ5BBGHY75SGPEXDG7XY2P7IKCI65BU577DAKXTQB4QLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MCZND7PNSR5OLDMIOGKXFBICLTSOQCWCYCJDGROBCXZJPZWIK3EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DI7KEKVGEAL45GSFIIS2CMDRKMIKBY64B4TR75D2MN6TI47SMWKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWIJVFYZVP6JADYKLI7GGCGG3F47VGVJYF4A6L3MMTBVVNSMKXXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQ2JRABHHWE6SEKPGKIU7A3EL4K4BF2ZMR6JUSDZ2ZWNWAJ5D6ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGDHNVZFRQSWYVS6M6UOINEW3OMK2IGQKH7ZATM5CIKPXER2II7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X54BHGDAUSEMM3DVHQEYIBMMB42JCWSQQ3NZRBR66IXYPE4P5W7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGFSHFF3KETNEXQ4AR4GYTV7A7DIVIY6T6DQYG47M7J3SHGUA3OA/vendors.js"
            ]
        },
        "GetRepositoryPolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "repositoryName"
                ],
                "members": {
                    "registryId": {},
                    "repositoryName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "registryId": {},
                    "repositoryName": {},
                    "policyText": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RVP4V4P7JLCFDRESM7CQOZ6BKFOB5C6TSVVLXWBDFNLMNFVQFYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5TBPWCTHDDHWYED7JJP7YLYUQYFQE37NSJHZMKCXP6UPKKKB3MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TVB2DT4FAM4HYTPGSUKQHRIIJ2NDWVI74MVFP7WWPRVFOMC4ELBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFN3V7NXYJGBHFDUYKT733NUQWZFMHXZR376GEKU3OGNJZTGLNQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WURFR2YE2YCQZM5PNLJJWIELY4GXICSRZWO5IMTIRNWIHI2RWKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKNL4YAMBIYYIWV3BTTSDRQI2A2EIBQGYHO56HCNTU4QTXDK6JPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S55AKDZGKWWNNEOW4FL7RNNBQPTYNJUOG3VJOUGLDFWBH3BCG5FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CH3QXWGVXD5XBXEI7OETYBTL2P32J4K44NNQHNNTAM353BSNLN3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UMBPADJNOMJDUK6SKVXT5THAJRAYJB36OJ56355ZHHXG35Y3YTOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6F6BL627GBODGEU4JEE6Y4TKVPXGLO7MTWYM5OO54EXRIFQLE2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPRFA34PIBN2UHGM6JIB4YZ7Z7U4Q4VMNIT6MXPSXQWGWMGYUWLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYH5RMO32DTB32BBCH2O2EC5KTTQ6IPJU5I3V4IXXZOYXO54BQNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGJB3HPVZ5BBGHY75SGPEXDG7XY2P7IKCI65BU577DAKXTQB4QLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MCZND7PNSR5OLDMIOGKXFBICLTSOQCWCYCJDGROBCXZJPZWIK3EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DI7KEKVGEAL45GSFIIS2CMDRKMIKBY64B4TR75D2MN6TI47SMWKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWIJVFYZVP6JADYKLI7GGCGG3F47VGVJYF4A6L3MMTBVVNSMKXXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQ2JRABHHWE6SEKPGKIU7A3EL4K4BF2ZMR6JUSDZ2ZWNWAJ5D6ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGDHNVZFRQSWYVS6M6UOINEW3OMK2IGQKH7ZATM5CIKPXER2II7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X54BHGDAUSEMM3DVHQEYIBMMB42JCWSQQ3NZRBR66IXYPE4P5W7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGFSHFF3KETNEXQ4AR4GYTV7A7DIVIY6T6DQYG47M7J3SHGUA3OA/vendors.js"
            ]
        },
        "InitiateLayerUpload": {
            "input": {
                "type": "structure",
                "required": [
                    "repositoryName"
                ],
                "members": {
                    "registryId": {},
                    "repositoryName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "uploadId": {},
                    "partSize": {
                        "type": "long"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RVP4V4P7JLCFDRESM7CQOZ6BKFOB5C6TSVVLXWBDFNLMNFVQFYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5TBPWCTHDDHWYED7JJP7YLYUQYFQE37NSJHZMKCXP6UPKKKB3MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TVB2DT4FAM4HYTPGSUKQHRIIJ2NDWVI74MVFP7WWPRVFOMC4ELBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFN3V7NXYJGBHFDUYKT733NUQWZFMHXZR376GEKU3OGNJZTGLNQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WURFR2YE2YCQZM5PNLJJWIELY4GXICSRZWO5IMTIRNWIHI2RWKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKNL4YAMBIYYIWV3BTTSDRQI2A2EIBQGYHO56HCNTU4QTXDK6JPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S55AKDZGKWWNNEOW4FL7RNNBQPTYNJUOG3VJOUGLDFWBH3BCG5FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CH3QXWGVXD5XBXEI7OETYBTL2P32J4K44NNQHNNTAM353BSNLN3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UMBPADJNOMJDUK6SKVXT5THAJRAYJB36OJ56355ZHHXG35Y3YTOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6F6BL627GBODGEU4JEE6Y4TKVPXGLO7MTWYM5OO54EXRIFQLE2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPRFA34PIBN2UHGM6JIB4YZ7Z7U4Q4VMNIT6MXPSXQWGWMGYUWLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYH5RMO32DTB32BBCH2O2EC5KTTQ6IPJU5I3V4IXXZOYXO54BQNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGJB3HPVZ5BBGHY75SGPEXDG7XY2P7IKCI65BU577DAKXTQB4QLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MCZND7PNSR5OLDMIOGKXFBICLTSOQCWCYCJDGROBCXZJPZWIK3EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DI7KEKVGEAL45GSFIIS2CMDRKMIKBY64B4TR75D2MN6TI47SMWKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWIJVFYZVP6JADYKLI7GGCGG3F47VGVJYF4A6L3MMTBVVNSMKXXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQ2JRABHHWE6SEKPGKIU7A3EL4K4BF2ZMR6JUSDZ2ZWNWAJ5D6ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGDHNVZFRQSWYVS6M6UOINEW3OMK2IGQKH7ZATM5CIKPXER2II7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X54BHGDAUSEMM3DVHQEYIBMMB42JCWSQQ3NZRBR66IXYPE4P5W7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGFSHFF3KETNEXQ4AR4GYTV7A7DIVIY6T6DQYG47M7J3SHGUA3OA/vendors.js"
            ]
        },
        "ListTagsForResource": {
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn"
                ],
                "members": {
                    "resourceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "tags": {
                        "shape": "S1r"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RVP4V4P7JLCFDRESM7CQOZ6BKFOB5C6TSVVLXWBDFNLMNFVQFYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5TBPWCTHDDHWYED7JJP7YLYUQYFQE37NSJHZMKCXP6UPKKKB3MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TVB2DT4FAM4HYTPGSUKQHRIIJ2NDWVI74MVFP7WWPRVFOMC4ELBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFN3V7NXYJGBHFDUYKT733NUQWZFMHXZR376GEKU3OGNJZTGLNQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WURFR2YE2YCQZM5PNLJJWIELY4GXICSRZWO5IMTIRNWIHI2RWKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKNL4YAMBIYYIWV3BTTSDRQI2A2EIBQGYHO56HCNTU4QTXDK6JPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S55AKDZGKWWNNEOW4FL7RNNBQPTYNJUOG3VJOUGLDFWBH3BCG5FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CH3QXWGVXD5XBXEI7OETYBTL2P32J4K44NNQHNNTAM353BSNLN3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UMBPADJNOMJDUK6SKVXT5THAJRAYJB36OJ56355ZHHXG35Y3YTOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6F6BL627GBODGEU4JEE6Y4TKVPXGLO7MTWYM5OO54EXRIFQLE2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPRFA34PIBN2UHGM6JIB4YZ7Z7U4Q4VMNIT6MXPSXQWGWMGYUWLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYH5RMO32DTB32BBCH2O2EC5KTTQ6IPJU5I3V4IXXZOYXO54BQNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGJB3HPVZ5BBGHY75SGPEXDG7XY2P7IKCI65BU577DAKXTQB4QLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MCZND7PNSR5OLDMIOGKXFBICLTSOQCWCYCJDGROBCXZJPZWIK3EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DI7KEKVGEAL45GSFIIS2CMDRKMIKBY64B4TR75D2MN6TI47SMWKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWIJVFYZVP6JADYKLI7GGCGG3F47VGVJYF4A6L3MMTBVVNSMKXXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQ2JRABHHWE6SEKPGKIU7A3EL4K4BF2ZMR6JUSDZ2ZWNWAJ5D6ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGDHNVZFRQSWYVS6M6UOINEW3OMK2IGQKH7ZATM5CIKPXER2II7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X54BHGDAUSEMM3DVHQEYIBMMB42JCWSQQ3NZRBR66IXYPE4P5W7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGFSHFF3KETNEXQ4AR4GYTV7A7DIVIY6T6DQYG47M7J3SHGUA3OA/vendors.js"
            ]
        },
        "PutImage": {
            "input": {
                "type": "structure",
                "required": [
                    "repositoryName",
                    "imageManifest"
                ],
                "members": {
                    "registryId": {},
                    "repositoryName": {},
                    "imageManifest": {},
                    "imageManifestMediaType": {},
                    "imageTag": {},
                    "imageDigest": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "image": {
                        "type": "structure",
                        "members": {
                            "registryId": {},
                            "repositoryName": {},
                            "imageId": {
                                "shape": "Sj"
                            },
                            "imageManifest": {},
                            "imageManifestMediaType": {}
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RVP4V4P7JLCFDRESM7CQOZ6BKFOB5C6TSVVLXWBDFNLMNFVQFYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5TBPWCTHDDHWYED7JJP7YLYUQYFQE37NSJHZMKCXP6UPKKKB3MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TVB2DT4FAM4HYTPGSUKQHRIIJ2NDWVI74MVFP7WWPRVFOMC4ELBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFN3V7NXYJGBHFDUYKT733NUQWZFMHXZR376GEKU3OGNJZTGLNQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WURFR2YE2YCQZM5PNLJJWIELY4GXICSRZWO5IMTIRNWIHI2RWKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKNL4YAMBIYYIWV3BTTSDRQI2A2EIBQGYHO56HCNTU4QTXDK6JPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S55AKDZGKWWNNEOW4FL7RNNBQPTYNJUOG3VJOUGLDFWBH3BCG5FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CH3QXWGVXD5XBXEI7OETYBTL2P32J4K44NNQHNNTAM353BSNLN3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UMBPADJNOMJDUK6SKVXT5THAJRAYJB36OJ56355ZHHXG35Y3YTOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6F6BL627GBODGEU4JEE6Y4TKVPXGLO7MTWYM5OO54EXRIFQLE2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPRFA34PIBN2UHGM6JIB4YZ7Z7U4Q4VMNIT6MXPSXQWGWMGYUWLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYH5RMO32DTB32BBCH2O2EC5KTTQ6IPJU5I3V4IXXZOYXO54BQNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGJB3HPVZ5BBGHY75SGPEXDG7XY2P7IKCI65BU577DAKXTQB4QLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MCZND7PNSR5OLDMIOGKXFBICLTSOQCWCYCJDGROBCXZJPZWIK3EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DI7KEKVGEAL45GSFIIS2CMDRKMIKBY64B4TR75D2MN6TI47SMWKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWIJVFYZVP6JADYKLI7GGCGG3F47VGVJYF4A6L3MMTBVVNSMKXXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQ2JRABHHWE6SEKPGKIU7A3EL4K4BF2ZMR6JUSDZ2ZWNWAJ5D6ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGDHNVZFRQSWYVS6M6UOINEW3OMK2IGQKH7ZATM5CIKPXER2II7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X54BHGDAUSEMM3DVHQEYIBMMB42JCWSQQ3NZRBR66IXYPE4P5W7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGFSHFF3KETNEXQ4AR4GYTV7A7DIVIY6T6DQYG47M7J3SHGUA3OA/vendors.js"
            ]
        },
        "PutImageForConvergentReplicationInternal": {
            "input": {
                "type": "structure",
                "required": [
                    "imageManifestEntity",
                    "repositoryName",
                    "imageManifestContents"
                ],
                "members": {
                    "imageManifestEntity": {
                        "shape": "S24"
                    },
                    "imageTagEntity": {
                        "shape": "S2l"
                    },
                    "layerReferences": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "imageManifestEntityId": {},
                                "layerEntityId": {},
                                "layerOrder": {
                                    "type": "integer"
                                },
                                "layerSize": {
                                    "type": "long"
                                },
                                "layerDigest": {}
                            }
                        }
                    },
                    "imageManifestReferences": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "manifestListEntityId": {},
                                "imageManifestEntityId": {},
                                "operatingSystem": {},
                                "architecture": {}
                            }
                        }
                    },
                    "repositoryName": {},
                    "imageManifestContents": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "imageManifestEntity": {
                        "shape": "S24"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RVP4V4P7JLCFDRESM7CQOZ6BKFOB5C6TSVVLXWBDFNLMNFVQFYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5TBPWCTHDDHWYED7JJP7YLYUQYFQE37NSJHZMKCXP6UPKKKB3MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TVB2DT4FAM4HYTPGSUKQHRIIJ2NDWVI74MVFP7WWPRVFOMC4ELBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFN3V7NXYJGBHFDUYKT733NUQWZFMHXZR376GEKU3OGNJZTGLNQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WURFR2YE2YCQZM5PNLJJWIELY4GXICSRZWO5IMTIRNWIHI2RWKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKNL4YAMBIYYIWV3BTTSDRQI2A2EIBQGYHO56HCNTU4QTXDK6JPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S55AKDZGKWWNNEOW4FL7RNNBQPTYNJUOG3VJOUGLDFWBH3BCG5FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CH3QXWGVXD5XBXEI7OETYBTL2P32J4K44NNQHNNTAM353BSNLN3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UMBPADJNOMJDUK6SKVXT5THAJRAYJB36OJ56355ZHHXG35Y3YTOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6F6BL627GBODGEU4JEE6Y4TKVPXGLO7MTWYM5OO54EXRIFQLE2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPRFA34PIBN2UHGM6JIB4YZ7Z7U4Q4VMNIT6MXPSXQWGWMGYUWLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYH5RMO32DTB32BBCH2O2EC5KTTQ6IPJU5I3V4IXXZOYXO54BQNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGJB3HPVZ5BBGHY75SGPEXDG7XY2P7IKCI65BU577DAKXTQB4QLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MCZND7PNSR5OLDMIOGKXFBICLTSOQCWCYCJDGROBCXZJPZWIK3EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DI7KEKVGEAL45GSFIIS2CMDRKMIKBY64B4TR75D2MN6TI47SMWKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWIJVFYZVP6JADYKLI7GGCGG3F47VGVJYF4A6L3MMTBVVNSMKXXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQ2JRABHHWE6SEKPGKIU7A3EL4K4BF2ZMR6JUSDZ2ZWNWAJ5D6ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGDHNVZFRQSWYVS6M6UOINEW3OMK2IGQKH7ZATM5CIKPXER2II7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X54BHGDAUSEMM3DVHQEYIBMMB42JCWSQQ3NZRBR66IXYPE4P5W7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGFSHFF3KETNEXQ4AR4GYTV7A7DIVIY6T6DQYG47M7J3SHGUA3OA/vendors.js"
            ]
        },
        "PutLayerForConvergentReplicationInternal": {
            "input": {
                "type": "structure",
                "required": [
                    "layerEntity"
                ],
                "members": {
                    "layerEntity": {
                        "shape": "S4p"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "layerEntity": {
                        "shape": "S4p"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RVP4V4P7JLCFDRESM7CQOZ6BKFOB5C6TSVVLXWBDFNLMNFVQFYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5TBPWCTHDDHWYED7JJP7YLYUQYFQE37NSJHZMKCXP6UPKKKB3MQ/vendors.js",
[...]
