{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2020-09-10",
        "endpointPrefix": "ecr-public",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceAbbreviation": "Amazon ECR-Public",
        "serviceFullName": "Amazon EC2 Container Registry Public",
        "serviceId": "PCR",
        "signatureVersion": "v4",
        "signingName": "ecr-public",
        "targetPrefix": "SpencerFrontendService",
        "uid": "pcr-2020-09-10",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/QZCBF44V7IQORM4U6XNDTGQZ7SIZUVHOSZLLKBRBVDME52PLSOJQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IV4DZIHS7HAH5R5CPIUN3KHUNQCN26DJDWK5GB3SKMYM4TUO7C2A/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EQJIMDF3XREMNUEZ7OY3SKD7NU64TPPNXF7MLQMXD4QDS3EKG2KQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YMGBYHRW57H5FOAYN2LS34X7XP7NP7MJBEBANLGAKSTA46BQ2AFA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3XKUSPI42QGWELWXG5QVNNX6THJVAOIYJWXQZXPGN6OS3JMZZKMA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ACNSL4WKTLR5SASDG76USUNFMNY6KROXYDDGLHNPYHAUMBZX3XVQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H3MPMTHEQIXBDCLKPGXL7V2QPGXUGB2Z7QJ2JOCZZYKUUFI7JD7A/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R6UNBOJVCDSZNR5R5BTBR4URM3RJ4G5XR2VPHVAA2NY24CM7J6FA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YNA4FG6S3JQ5GUHCZ7NNOEN2QVK5JWE3PFZSO27NRSDRNAATBFYA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3BX2GJJ7CNM7KB4GWEKLT24LLSKRNMPDEWI2ZPK7KDVZ3TDOHA2Q/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GJ4IWR6TIZCNQ5UNNTOLLGNYCOYYJWFUP4AOQ2UXUEBVY3QCNSZQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SF4XHIVUOAODPLOM75TNYKKVI6FZHDZOXVKFMA5OWKWX3LZNRR2Q/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PLJH2U5JEBOBNM5JLYO2V7QR7LFC2MDMWXIDHPU4PHXR6ZVP6PIQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HWRYFCHROAFONWFMIJ5TLN5654W2QFVQX3VSB6VUWDBDRRDI6YEQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RF7WBMTWNDRCPXPLQ6AFH4H3XEPSBHY7UQQ5HWMCCZHBO4MNG7GQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NYMYM3B5JDJD7ECDNK4FIYFRDDRNUTYTMG32TKLVQNRFF2AODQVQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZHOTPIBD7CHL3KMG37NMV6CM6OZOSKTPVC3ABMKSJ3LWEJ3OQPFA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5ZCBULIH7YK4XCCSNE7F2WUTT2YZTTKIV3RNCNSUGI5WIYZX33HA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/I2QI3R45BDMV6GHIXCPTZNK2HEDIR7EKGS5YI2M75QMC2BPJBXUA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/P6KZXB345APDPGPQLCR7KM2BA4WGRUF46BJ7QVDCE536XXTJKY4A/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/A34VIU63XEQHAXTU3IB7QZTLLG5FFNFX5QMI6ZZLVCVGPVYWPMFQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BRF4ABR4LX2N4CHCEAEIJMBG3JBZBK4LNPKJVNK4R42POWZT5LCA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SNTGE2XMD6WDCUA3LOY6UZBIK5MEMCGI35DCQ4ZH7PLSZU7ODZEQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZHFNB5IN5Y4R5WZ2HVCEXBKGLRQWLDY5FVOGIT2WMGJDI53UG2MA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5LDA4UIW4N5O25JTIXWJV7RIAJMJOAY4FPK5DX5SF74ODDJWP5PQ/vendors.sdk.js"
        ]
    },
    "operations": {
        "BatchCheckLayerAvailability": {
            "input": {
                "type": "structure",
                "required": [
                    "repositoryName",
                    "layerDigests"
                ],
                "members": {
                    "registryId": {},
                    "repositoryName": {},
                    "layerDigests": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "layers": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "layerDigest": {},
                                "layerAvailability": {},
                                "layerSize": {
                                    "type": "long"
                                },
                                "mediaType": {}
                            }
                        }
                    },
                    "failures": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "layerDigest": {},
                                "failureCode": {},
                                "failureReason": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV4DZIHS7HAH5R5CPIUN3KHUNQCN26DJDWK5GB3SKMYM4TUO7C2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQJIMDF3XREMNUEZ7OY3SKD7NU64TPPNXF7MLQMXD4QDS3EKG2KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMGBYHRW57H5FOAYN2LS34X7XP7NP7MJBEBANLGAKSTA46BQ2AFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3XKUSPI42QGWELWXG5QVNNX6THJVAOIYJWXQZXPGN6OS3JMZZKMA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACNSL4WKTLR5SASDG76USUNFMNY6KROXYDDGLHNPYHAUMBZX3XVQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3MPMTHEQIXBDCLKPGXL7V2QPGXUGB2Z7QJ2JOCZZYKUUFI7JD7A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6UNBOJVCDSZNR5R5BTBR4URM3RJ4G5XR2VPHVAA2NY24CM7J6FA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNA4FG6S3JQ5GUHCZ7NNOEN2QVK5JWE3PFZSO27NRSDRNAATBFYA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BX2GJJ7CNM7KB4GWEKLT24LLSKRNMPDEWI2ZPK7KDVZ3TDOHA2Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ4IWR6TIZCNQ5UNNTOLLGNYCOYYJWFUP4AOQ2UXUEBVY3QCNSZQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SF4XHIVUOAODPLOM75TNYKKVI6FZHDZOXVKFMA5OWKWX3LZNRR2Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLJH2U5JEBOBNM5JLYO2V7QR7LFC2MDMWXIDHPU4PHXR6ZVP6PIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWRYFCHROAFONWFMIJ5TLN5654W2QFVQX3VSB6VUWDBDRRDI6YEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RF7WBMTWNDRCPXPLQ6AFH4H3XEPSBHY7UQQ5HWMCCZHBO4MNG7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYMYM3B5JDJD7ECDNK4FIYFRDDRNUTYTMG32TKLVQNRFF2AODQVQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHOTPIBD7CHL3KMG37NMV6CM6OZOSKTPVC3ABMKSJ3LWEJ3OQPFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZCBULIH7YK4XCCSNE7F2WUTT2YZTTKIV3RNCNSUGI5WIYZX33HA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2QI3R45BDMV6GHIXCPTZNK2HEDIR7EKGS5YI2M75QMC2BPJBXUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6KZXB345APDPGPQLCR7KM2BA4WGRUF46BJ7QVDCE536XXTJKY4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A34VIU63XEQHAXTU3IB7QZTLLG5FFNFX5QMI6ZZLVCVGPVYWPMFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BRF4ABR4LX2N4CHCEAEIJMBG3JBZBK4LNPKJVNK4R42POWZT5LCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNTGE2XMD6WDCUA3LOY6UZBIK5MEMCGI35DCQ4ZH7PLSZU7ODZEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHFNB5IN5Y4R5WZ2HVCEXBKGLRQWLDY5FVOGIT2WMGJDI53UG2MA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LDA4UIW4N5O25JTIXWJV7RIAJMJOAY4FPK5DX5SF74ODDJWP5PQ/vendors.sdk.js"
            ]
        },
        "BatchDeleteImage": {
            "input": {
                "type": "structure",
                "required": [
                    "repositoryName",
                    "imageIds"
                ],
                "members": {
                    "registryId": {},
                    "repositoryName": {},
                    "imageIds": {
                        "shape": "Si"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "imageIds": {
                        "shape": "Si"
                    },
                    "failures": {
                        "shape": "Sn"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV4DZIHS7HAH5R5CPIUN3KHUNQCN26DJDWK5GB3SKMYM4TUO7C2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQJIMDF3XREMNUEZ7OY3SKD7NU64TPPNXF7MLQMXD4QDS3EKG2KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMGBYHRW57H5FOAYN2LS34X7XP7NP7MJBEBANLGAKSTA46BQ2AFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3XKUSPI42QGWELWXG5QVNNX6THJVAOIYJWXQZXPGN6OS3JMZZKMA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACNSL4WKTLR5SASDG76USUNFMNY6KROXYDDGLHNPYHAUMBZX3XVQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3MPMTHEQIXBDCLKPGXL7V2QPGXUGB2Z7QJ2JOCZZYKUUFI7JD7A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6UNBOJVCDSZNR5R5BTBR4URM3RJ4G5XR2VPHVAA2NY24CM7J6FA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNA4FG6S3JQ5GUHCZ7NNOEN2QVK5JWE3PFZSO27NRSDRNAATBFYA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BX2GJJ7CNM7KB4GWEKLT24LLSKRNMPDEWI2ZPK7KDVZ3TDOHA2Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ4IWR6TIZCNQ5UNNTOLLGNYCOYYJWFUP4AOQ2UXUEBVY3QCNSZQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SF4XHIVUOAODPLOM75TNYKKVI6FZHDZOXVKFMA5OWKWX3LZNRR2Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLJH2U5JEBOBNM5JLYO2V7QR7LFC2MDMWXIDHPU4PHXR6ZVP6PIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWRYFCHROAFONWFMIJ5TLN5654W2QFVQX3VSB6VUWDBDRRDI6YEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RF7WBMTWNDRCPXPLQ6AFH4H3XEPSBHY7UQQ5HWMCCZHBO4MNG7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYMYM3B5JDJD7ECDNK4FIYFRDDRNUTYTMG32TKLVQNRFF2AODQVQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHOTPIBD7CHL3KMG37NMV6CM6OZOSKTPVC3ABMKSJ3LWEJ3OQPFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZCBULIH7YK4XCCSNE7F2WUTT2YZTTKIV3RNCNSUGI5WIYZX33HA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2QI3R45BDMV6GHIXCPTZNK2HEDIR7EKGS5YI2M75QMC2BPJBXUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6KZXB345APDPGPQLCR7KM2BA4WGRUF46BJ7QVDCE536XXTJKY4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A34VIU63XEQHAXTU3IB7QZTLLG5FFNFX5QMI6ZZLVCVGPVYWPMFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BRF4ABR4LX2N4CHCEAEIJMBG3JBZBK4LNPKJVNK4R42POWZT5LCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNTGE2XMD6WDCUA3LOY6UZBIK5MEMCGI35DCQ4ZH7PLSZU7ODZEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHFNB5IN5Y4R5WZ2HVCEXBKGLRQWLDY5FVOGIT2WMGJDI53UG2MA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LDA4UIW4N5O25JTIXWJV7RIAJMJOAY4FPK5DX5SF74ODDJWP5PQ/vendors.sdk.js"
            ]
        },
        "BatchGetImageInternal": {
            "input": {
                "type": "structure",
                "required": [
                    "registryAliasName",
                    "repositoryName",
                    "imageIds"
                ],
                "members": {
                    "registryAliasName": {},
                    "repositoryName": {},
                    "imageIds": {
                        "shape": "Si"
                    },
                    "acceptedMediaTypes": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "images": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "registryAliasName": {},
                                "repositoryName": {},
                                "imageId": {
                                    "shape": "Sj"
                                },
                                "imageManifest": {},
                                "imageManifestMediaType": {}
                            }
                        }
                    },
                    "failures": {
                        "shape": "Sn"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV4DZIHS7HAH5R5CPIUN3KHUNQCN26DJDWK5GB3SKMYM4TUO7C2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQJIMDF3XREMNUEZ7OY3SKD7NU64TPPNXF7MLQMXD4QDS3EKG2KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMGBYHRW57H5FOAYN2LS34X7XP7NP7MJBEBANLGAKSTA46BQ2AFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3XKUSPI42QGWELWXG5QVNNX6THJVAOIYJWXQZXPGN6OS3JMZZKMA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACNSL4WKTLR5SASDG76USUNFMNY6KROXYDDGLHNPYHAUMBZX3XVQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3MPMTHEQIXBDCLKPGXL7V2QPGXUGB2Z7QJ2JOCZZYKUUFI7JD7A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6UNBOJVCDSZNR5R5BTBR4URM3RJ4G5XR2VPHVAA2NY24CM7J6FA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNA4FG6S3JQ5GUHCZ7NNOEN2QVK5JWE3PFZSO27NRSDRNAATBFYA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BX2GJJ7CNM7KB4GWEKLT24LLSKRNMPDEWI2ZPK7KDVZ3TDOHA2Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ4IWR6TIZCNQ5UNNTOLLGNYCOYYJWFUP4AOQ2UXUEBVY3QCNSZQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SF4XHIVUOAODPLOM75TNYKKVI6FZHDZOXVKFMA5OWKWX3LZNRR2Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLJH2U5JEBOBNM5JLYO2V7QR7LFC2MDMWXIDHPU4PHXR6ZVP6PIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWRYFCHROAFONWFMIJ5TLN5654W2QFVQX3VSB6VUWDBDRRDI6YEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RF7WBMTWNDRCPXPLQ6AFH4H3XEPSBHY7UQQ5HWMCCZHBO4MNG7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYMYM3B5JDJD7ECDNK4FIYFRDDRNUTYTMG32TKLVQNRFF2AODQVQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHOTPIBD7CHL3KMG37NMV6CM6OZOSKTPVC3ABMKSJ3LWEJ3OQPFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZCBULIH7YK4XCCSNE7F2WUTT2YZTTKIV3RNCNSUGI5WIYZX33HA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2QI3R45BDMV6GHIXCPTZNK2HEDIR7EKGS5YI2M75QMC2BPJBXUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6KZXB345APDPGPQLCR7KM2BA4WGRUF46BJ7QVDCE536XXTJKY4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A34VIU63XEQHAXTU3IB7QZTLLG5FFNFX5QMI6ZZLVCVGPVYWPMFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BRF4ABR4LX2N4CHCEAEIJMBG3JBZBK4LNPKJVNK4R42POWZT5LCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNTGE2XMD6WDCUA3LOY6UZBIK5MEMCGI35DCQ4ZH7PLSZU7ODZEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHFNB5IN5Y4R5WZ2HVCEXBKGLRQWLDY5FVOGIT2WMGJDI53UG2MA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LDA4UIW4N5O25JTIXWJV7RIAJMJOAY4FPK5DX5SF74ODDJWP5PQ/vendors.sdk.js"
            ]
        },
        "BatchGetImageReferrerInternal": {
            "input": {
                "type": "structure",
                "required": [
                    "registryAliasName",
                    "repositoryName",
                    "subjectId"
                ],
                "members": {
                    "registryAliasName": {},
                    "repositoryName": {},
                    "subjectId": {
                        "type": "structure",
                        "required": [
                            "imageDigest"
                        ],
                        "members": {
                            "imageDigest": {}
                        }
                    },
                    "filter": {
                        "type": "structure",
                        "members": {
                            "artifactTypes": {
                                "type": "list",
                                "member": {}
                            }
                        }
                    },
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "referrers": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "digest",
                                "mediaType",
                                "artifactType",
                                "size"
                            ],
                            "members": {
                                "digest": {},
                                "mediaType": {},
                                "artifactType": {},
                                "size": {
                                    "type": "long"
                                },
                                "annotations": {
                                    "type": "map",
                                    "key": {},
                                    "value": {}
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKDR6F3CLAANVRJPXXEJCOFVGYVOBTLUKKFVBUAL2PJI6JXABRHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WP3ZOJLMMUTMTHYLS3IC55HLPUN36BNCZ45YCN6ECTTFVPAXZDBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUJO2YYHWHGJJNF3CA47C5PGLNBDIDULLX6ZHJMG3ZQ3MDHIIYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZNFJONIZ6CPPC52XOIRUXY3FYOU52CO7VXHPNLBNHSTVOH4U56Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XNF3VZFCKT3DCLT3F7VOY5GA3PP7FSZJEOE52HTCLLB6G7LTAFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBOKFYXR6KANFHNFGQFN7YRRXB3MO53HIENX2NJD5OBAQKDMCOHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5KW4DPHE6ELH26FYLQL4WYJ5R6MPYONP25QP6KY4Q2NPHIWGJMGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMNVOBFQW5OQKDAYE3VUSHGATLDXC43QAJ2BFT2LF2H2ALHTYOUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7U2EZJM7AJCOVGOR5VD5LKQGGPGOLWGKYKUKCYTMI5X5ADOYQHHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2MCSGE7IE44TKLBZT7S22ZFZJOQXDIYFSEAUWE3VIK2QVVZJGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AXO3JF563UQFBRFA2EKKM62LCOVULJ4JU3HCYIKH7ZSHH2TB3Z5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XF5HXGQGJKMKPETZ5C7MPKDOIYB72C3RQ3MMGKD6UHGUEKIVXYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YHLMDDRSWFGUETU7CKJ4IRXYB5HZK6JVLNHHCNUR4H5HZEJWPHZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUROVGONCJCQ43Y3CS4OA2GPR4T65A5POJJ3OUUVBPY3OIVZ6OAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KAPYAFD5CHSWXTHPSKR3NB6TTQZYRHTAKZ5IULA7K4KWDIDIEU2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKXEBAGXJZRPRJWTKQLANEHID26VAFHJG7HPWYOTZPALVO47B5FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HASFB7ARL7BE2LQHJIF2UI26II22TZZCO5FMBASLOYMBDC6SNEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAQUDHAGM577Y47LPMSNRV5IZAAMWREK65FOGQP2NYEFKRFWHY4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2JMBWFF6TJ5QQ2D67ZYSATD5OYSFP5AZ2XR4JZVCDGKHBFJEHJEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VB4ASR6RV6UIA6WSWVEOHIOHM2K57SZ62P5TRUWEU7PHAUSKASBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBAA64FRO5UNUW4VTU4PI3IJZSVPXF363DYPFIMGE4BSZ3Q3HLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MC3C3IGBST7G3NFLKQCULAFJUL6FY45YMN6UXH5PW2HG4ZUY4OYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QLEG5IC6KTMUJJ2SGOT354Z2PRDDSGUNVDKO25NF2BIGYOMRBIBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IR5FLLOK2OJY7TQO4SVF2UYMF2BMRQHRKEWVLUEQG6FICX2ESY7A/vendors.js"
            ]
        },
        "CompleteLayerUpload": {
            "input": {
                "type": "structure",
                "required": [
                    "repositoryName",
                    "uploadId",
                    "layerDigests"
                ],
                "members": {
                    "registryId": {},
                    "repositoryName": {},
                    "uploadId": {},
                    "layerDigests": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "registryId": {},
                    "repositoryName": {},
                    "uploadId": {},
                    "layerDigest": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV4DZIHS7HAH5R5CPIUN3KHUNQCN26DJDWK5GB3SKMYM4TUO7C2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQJIMDF3XREMNUEZ7OY3SKD7NU64TPPNXF7MLQMXD4QDS3EKG2KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMGBYHRW57H5FOAYN2LS34X7XP7NP7MJBEBANLGAKSTA46BQ2AFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3XKUSPI42QGWELWXG5QVNNX6THJVAOIYJWXQZXPGN6OS3JMZZKMA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACNSL4WKTLR5SASDG76USUNFMNY6KROXYDDGLHNPYHAUMBZX3XVQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3MPMTHEQIXBDCLKPGXL7V2QPGXUGB2Z7QJ2JOCZZYKUUFI7JD7A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6UNBOJVCDSZNR5R5BTBR4URM3RJ4G5XR2VPHVAA2NY24CM7J6FA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNA4FG6S3JQ5GUHCZ7NNOEN2QVK5JWE3PFZSO27NRSDRNAATBFYA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BX2GJJ7CNM7KB4GWEKLT24LLSKRNMPDEWI2ZPK7KDVZ3TDOHA2Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ4IWR6TIZCNQ5UNNTOLLGNYCOYYJWFUP4AOQ2UXUEBVY3QCNSZQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SF4XHIVUOAODPLOM75TNYKKVI6FZHDZOXVKFMA5OWKWX3LZNRR2Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLJH2U5JEBOBNM5JLYO2V7QR7LFC2MDMWXIDHPU4PHXR6ZVP6PIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWRYFCHROAFONWFMIJ5TLN5654W2QFVQX3VSB6VUWDBDRRDI6YEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RF7WBMTWNDRCPXPLQ6AFH4H3XEPSBHY7UQQ5HWMCCZHBO4MNG7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYMYM3B5JDJD7ECDNK4FIYFRDDRNUTYTMG32TKLVQNRFF2AODQVQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHOTPIBD7CHL3KMG37NMV6CM6OZOSKTPVC3ABMKSJ3LWEJ3OQPFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZCBULIH7YK4XCCSNE7F2WUTT2YZTTKIV3RNCNSUGI5WIYZX33HA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2QI3R45BDMV6GHIXCPTZNK2HEDIR7EKGS5YI2M75QMC2BPJBXUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6KZXB345APDPGPQLCR7KM2BA4WGRUF46BJ7QVDCE536XXTJKY4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A34VIU63XEQHAXTU3IB7QZTLLG5FFNFX5QMI6ZZLVCVGPVYWPMFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BRF4ABR4LX2N4CHCEAEIJMBG3JBZBK4LNPKJVNK4R42POWZT5LCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNTGE2XMD6WDCUA3LOY6UZBIK5MEMCGI35DCQ4ZH7PLSZU7ODZEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHFNB5IN5Y4R5WZ2HVCEXBKGLRQWLDY5FVOGIT2WMGJDI53UG2MA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LDA4UIW4N5O25JTIXWJV7RIAJMJOAY4FPK5DX5SF74ODDJWP5PQ/vendors.sdk.js"
            ]
        },
        "CreateRepository": {
            "input": {
                "type": "structure",
                "required": [
                    "repositoryName"
                ],
                "members": {
                    "repositoryName": {},
                    "catalogData": {
                        "shape": "S1i"
                    },
                    "tags": {
                        "shape": "S1r"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "repository": {
                        "shape": "S1w"
                    },
                    "catalogData": {
                        "shape": "S20"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV4DZIHS7HAH5R5CPIUN3KHUNQCN26DJDWK5GB3SKMYM4TUO7C2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQJIMDF3XREMNUEZ7OY3SKD7NU64TPPNXF7MLQMXD4QDS3EKG2KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMGBYHRW57H5FOAYN2LS34X7XP7NP7MJBEBANLGAKSTA46BQ2AFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3XKUSPI42QGWELWXG5QVNNX6THJVAOIYJWXQZXPGN6OS3JMZZKMA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACNSL4WKTLR5SASDG76USUNFMNY6KROXYDDGLHNPYHAUMBZX3XVQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3MPMTHEQIXBDCLKPGXL7V2QPGXUGB2Z7QJ2JOCZZYKUUFI7JD7A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6UNBOJVCDSZNR5R5BTBR4URM3RJ4G5XR2VPHVAA2NY24CM7J6FA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNA4FG6S3JQ5GUHCZ7NNOEN2QVK5JWE3PFZSO27NRSDRNAATBFYA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BX2GJJ7CNM7KB4GWEKLT24LLSKRNMPDEWI2ZPK7KDVZ3TDOHA2Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ4IWR6TIZCNQ5UNNTOLLGNYCOYYJWFUP4AOQ2UXUEBVY3QCNSZQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SF4XHIVUOAODPLOM75TNYKKVI6FZHDZOXVKFMA5OWKWX3LZNRR2Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLJH2U5JEBOBNM5JLYO2V7QR7LFC2MDMWXIDHPU4PHXR6ZVP6PIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWRYFCHROAFONWFMIJ5TLN5654W2QFVQX3VSB6VUWDBDRRDI6YEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RF7WBMTWNDRCPXPLQ6AFH4H3XEPSBHY7UQQ5HWMCCZHBO4MNG7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYMYM3B5JDJD7ECDNK4FIYFRDDRNUTYTMG32TKLVQNRFF2AODQVQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHOTPIBD7CHL3KMG37NMV6CM6OZOSKTPVC3ABMKSJ3LWEJ3OQPFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZCBULIH7YK4XCCSNE7F2WUTT2YZTTKIV3RNCNSUGI5WIYZX33HA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2QI3R45BDMV6GHIXCPTZNK2HEDIR7EKGS5YI2M75QMC2BPJBXUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6KZXB345APDPGPQLCR7KM2BA4WGRUF46BJ7QVDCE536XXTJKY4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A34VIU63XEQHAXTU3IB7QZTLLG5FFNFX5QMI6ZZLVCVGPVYWPMFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BRF4ABR4LX2N4CHCEAEIJMBG3JBZBK4LNPKJVNK4R42POWZT5LCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNTGE2XMD6WDCUA3LOY6UZBIK5MEMCGI35DCQ4ZH7PLSZU7ODZEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHFNB5IN5Y4R5WZ2HVCEXBKGLRQWLDY5FVOGIT2WMGJDI53UG2MA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LDA4UIW4N5O25JTIXWJV7RIAJMJOAY4FPK5DX5SF74ODDJWP5PQ/vendors.sdk.js"
            ]
        },
        "DeleteImageForConvergentReplicationInternal": {
            "input": {
                "type": "structure",
                "required": [
                    "imageManifestEntity"
                ],
                "members": {
                    "imageManifestEntity": {
                        "shape": "S24"
                    },
                    "forceDelete": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "imageManifestEntity": {
                        "shape": "S24"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV4DZIHS7HAH5R5CPIUN3KHUNQCN26DJDWK5GB3SKMYM4TUO7C2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQJIMDF3XREMNUEZ7OY3SKD7NU64TPPNXF7MLQMXD4QDS3EKG2KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMGBYHRW57H5FOAYN2LS34X7XP7NP7MJBEBANLGAKSTA46BQ2AFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3XKUSPI42QGWELWXG5QVNNX6THJVAOIYJWXQZXPGN6OS3JMZZKMA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACNSL4WKTLR5SASDG76USUNFMNY6KROXYDDGLHNPYHAUMBZX3XVQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3MPMTHEQIXBDCLKPGXL7V2QPGXUGB2Z7QJ2JOCZZYKUUFI7JD7A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6UNBOJVCDSZNR5R5BTBR4URM3RJ4G5XR2VPHVAA2NY24CM7J6FA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNA4FG6S3JQ5GUHCZ7NNOEN2QVK5JWE3PFZSO27NRSDRNAATBFYA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BX2GJJ7CNM7KB4GWEKLT24LLSKRNMPDEWI2ZPK7KDVZ3TDOHA2Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ4IWR6TIZCNQ5UNNTOLLGNYCOYYJWFUP4AOQ2UXUEBVY3QCNSZQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SF4XHIVUOAODPLOM75TNYKKVI6FZHDZOXVKFMA5OWKWX3LZNRR2Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLJH2U5JEBOBNM5JLYO2V7QR7LFC2MDMWXIDHPU4PHXR6ZVP6PIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWRYFCHROAFONWFMIJ5TLN5654W2QFVQX3VSB6VUWDBDRRDI6YEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RF7WBMTWNDRCPXPLQ6AFH4H3XEPSBHY7UQQ5HWMCCZHBO4MNG7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYMYM3B5JDJD7ECDNK4FIYFRDDRNUTYTMG32TKLVQNRFF2AODQVQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHOTPIBD7CHL3KMG37NMV6CM6OZOSKTPVC3ABMKSJ3LWEJ3OQPFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZCBULIH7YK4XCCSNE7F2WUTT2YZTTKIV3RNCNSUGI5WIYZX33HA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2QI3R45BDMV6GHIXCPTZNK2HEDIR7EKGS5YI2M75QMC2BPJBXUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6KZXB345APDPGPQLCR7KM2BA4WGRUF46BJ7QVDCE536XXTJKY4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A34VIU63XEQHAXTU3IB7QZTLLG5FFNFX5QMI6ZZLVCVGPVYWPMFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BRF4ABR4LX2N4CHCEAEIJMBG3JBZBK4LNPKJVNK4R42POWZT5LCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNTGE2XMD6WDCUA3LOY6UZBIK5MEMCGI35DCQ4ZH7PLSZU7ODZEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHFNB5IN5Y4R5WZ2HVCEXBKGLRQWLDY5FVOGIT2WMGJDI53UG2MA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LDA4UIW4N5O25JTIXWJV7RIAJMJOAY4FPK5DX5SF74ODDJWP5PQ/vendors.sdk.js"
            ]
        },
        "DeleteRepository": {
            "input": {
                "type": "structure",
                "required": [
                    "repositoryName"
                ],
                "members": {
                    "registryId": {},
                    "repositoryName": {},
                    "force": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "repository": {
                        "shape": "S1w"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV4DZIHS7HAH5R5CPIUN3KHUNQCN26DJDWK5GB3SKMYM4TUO7C2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQJIMDF3XREMNUEZ7OY3SKD7NU64TPPNXF7MLQMXD4QDS3EKG2KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMGBYHRW57H5FOAYN2LS34X7XP7NP7MJBEBANLGAKSTA46BQ2AFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3XKUSPI42QGWELWXG5QVNNX6THJVAOIYJWXQZXPGN6OS3JMZZKMA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACNSL4WKTLR5SASDG76USUNFMNY6KROXYDDGLHNPYHAUMBZX3XVQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3MPMTHEQIXBDCLKPGXL7V2QPGXUGB2Z7QJ2JOCZZYKUUFI7JD7A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6UNBOJVCDSZNR5R5BTBR4URM3RJ4G5XR2VPHVAA2NY24CM7J6FA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNA4FG6S3JQ5GUHCZ7NNOEN2QVK5JWE3PFZSO27NRSDRNAATBFYA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BX2GJJ7CNM7KB4GWEKLT24LLSKRNMPDEWI2ZPK7KDVZ3TDOHA2Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ4IWR6TIZCNQ5UNNTOLLGNYCOYYJWFUP4AOQ2UXUEBVY3QCNSZQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SF4XHIVUOAODPLOM75TNYKKVI6FZHDZOXVKFMA5OWKWX3LZNRR2Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLJH2U5JEBOBNM5JLYO2V7QR7LFC2MDMWXIDHPU4PHXR6ZVP6PIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWRYFCHROAFONWFMIJ5TLN5654W2QFVQX3VSB6VUWDBDRRDI6YEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RF7WBMTWNDRCPXPLQ6AFH4H3XEPSBHY7UQQ5HWMCCZHBO4MNG7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYMYM3B5JDJD7ECDNK4FIYFRDDRNUTYTMG32TKLVQNRFF2AODQVQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHOTPIBD7CHL3KMG37NMV6CM6OZOSKTPVC3ABMKSJ3LWEJ3OQPFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZCBULIH7YK4XCCSNE7F2WUTT2YZTTKIV3RNCNSUGI5WIYZX33HA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2QI3R45BDMV6GHIXCPTZNK2HEDIR7EKGS5YI2M75QMC2BPJBXUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6KZXB345APDPGPQLCR7KM2BA4WGRUF46BJ7QVDCE536XXTJKY4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A34VIU63XEQHAXTU3IB7QZTLLG5FFNFX5QMI6ZZLVCVGPVYWPMFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BRF4ABR4LX2N4CHCEAEIJMBG3JBZBK4LNPKJVNK4R42POWZT5LCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNTGE2XMD6WDCUA3LOY6UZBIK5MEMCGI35DCQ4ZH7PLSZU7ODZEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHFNB5IN5Y4R5WZ2HVCEXBKGLRQWLDY5FVOGIT2WMGJDI53UG2MA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LDA4UIW4N5O25JTIXWJV7RIAJMJOAY4FPK5DX5SF74ODDJWP5PQ/vendors.sdk.js"
            ]
        },
        "DeleteRepositoryPolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "repositoryName"
                ],
                "members": {
                    "registryId": {},
                    "repositoryName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "registryId": {},
                    "repositoryName": {},
                    "policyText": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV4DZIHS7HAH5R5CPIUN3KHUNQCN26DJDWK5GB3SKMYM4TUO7C2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQJIMDF3XREMNUEZ7OY3SKD7NU64TPPNXF7MLQMXD4QDS3EKG2KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMGBYHRW57H5FOAYN2LS34X7XP7NP7MJBEBANLGAKSTA46BQ2AFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3XKUSPI42QGWELWXG5QVNNX6THJVAOIYJWXQZXPGN6OS3JMZZKMA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACNSL4WKTLR5SASDG76USUNFMNY6KROXYDDGLHNPYHAUMBZX3XVQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3MPMTHEQIXBDCLKPGXL7V2QPGXUGB2Z7QJ2JOCZZYKUUFI7JD7A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6UNBOJVCDSZNR5R5BTBR4URM3RJ4G5XR2VPHVAA2NY24CM7J6FA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNA4FG6S3JQ5GUHCZ7NNOEN2QVK5JWE3PFZSO27NRSDRNAATBFYA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BX2GJJ7CNM7KB4GWEKLT24LLSKRNMPDEWI2ZPK7KDVZ3TDOHA2Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ4IWR6TIZCNQ5UNNTOLLGNYCOYYJWFUP4AOQ2UXUEBVY3QCNSZQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SF4XHIVUOAODPLOM75TNYKKVI6FZHDZOXVKFMA5OWKWX3LZNRR2Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLJH2U5JEBOBNM5JLYO2V7QR7LFC2MDMWXIDHPU4PHXR6ZVP6PIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWRYFCHROAFONWFMIJ5TLN5654W2QFVQX3VSB6VUWDBDRRDI6YEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RF7WBMTWNDRCPXPLQ6AFH4H3XEPSBHY7UQQ5HWMCCZHBO4MNG7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYMYM3B5JDJD7ECDNK4FIYFRDDRNUTYTMG32TKLVQNRFF2AODQVQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHOTPIBD7CHL3KMG37NMV6CM6OZOSKTPVC3ABMKSJ3LWEJ3OQPFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZCBULIH7YK4XCCSNE7F2WUTT2YZTTKIV3RNCNSUGI5WIYZX33HA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2QI3R45BDMV6GHIXCPTZNK2HEDIR7EKGS5YI2M75QMC2BPJBXUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6KZXB345APDPGPQLCR7KM2BA4WGRUF46BJ7QVDCE536XXTJKY4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A34VIU63XEQHAXTU3IB7QZTLLG5FFNFX5QMI6ZZLVCVGPVYWPMFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BRF4ABR4LX2N4CHCEAEIJMBG3JBZBK4LNPKJVNK4R42POWZT5LCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNTGE2XMD6WDCUA3LOY6UZBIK5MEMCGI35DCQ4ZH7PLSZU7ODZEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHFNB5IN5Y4R5WZ2HVCEXBKGLRQWLDY5FVOGIT2WMGJDI53UG2MA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LDA4UIW4N5O25JTIXWJV7RIAJMJOAY4FPK5DX5SF74ODDJWP5PQ/vendors.sdk.js"
            ]
        },
        "DeleteTagForConvergentReplicationInternal": {
            "input": {
                "type": "structure",
                "required": [
                    "imageTagEntity"
                ],
                "members": {
                    "imageTagEntity": {
                        "shape": "S2l"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "imageTagEntity": {
                        "shape": "S2l"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV4DZIHS7HAH5R5CPIUN3KHUNQCN26DJDWK5GB3SKMYM4TUO7C2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQJIMDF3XREMNUEZ7OY3SKD7NU64TPPNXF7MLQMXD4QDS3EKG2KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMGBYHRW57H5FOAYN2LS34X7XP7NP7MJBEBANLGAKSTA46BQ2AFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3XKUSPI42QGWELWXG5QVNNX6THJVAOIYJWXQZXPGN6OS3JMZZKMA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACNSL4WKTLR5SASDG76USUNFMNY6KROXYDDGLHNPYHAUMBZX3XVQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3MPMTHEQIXBDCLKPGXL7V2QPGXUGB2Z7QJ2JOCZZYKUUFI7JD7A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6UNBOJVCDSZNR5R5BTBR4URM3RJ4G5XR2VPHVAA2NY24CM7J6FA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNA4FG6S3JQ5GUHCZ7NNOEN2QVK5JWE3PFZSO27NRSDRNAATBFYA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BX2GJJ7CNM7KB4GWEKLT24LLSKRNMPDEWI2ZPK7KDVZ3TDOHA2Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ4IWR6TIZCNQ5UNNTOLLGNYCOYYJWFUP4AOQ2UXUEBVY3QCNSZQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SF4XHIVUOAODPLOM75TNYKKVI6FZHDZOXVKFMA5OWKWX3LZNRR2Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLJH2U5JEBOBNM5JLYO2V7QR7LFC2MDMWXIDHPU4PHXR6ZVP6PIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWRYFCHROAFONWFMIJ5TLN5654W2QFVQX3VSB6VUWDBDRRDI6YEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RF7WBMTWNDRCPXPLQ6AFH4H3XEPSBHY7UQQ5HWMCCZHBO4MNG7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYMYM3B5JDJD7ECDNK4FIYFRDDRNUTYTMG32TKLVQNRFF2AODQVQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHOTPIBD7CHL3KMG37NMV6CM6OZOSKTPVC3ABMKSJ3LWEJ3OQPFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZCBULIH7YK4XCCSNE7F2WUTT2YZTTKIV3RNCNSUGI5WIYZX33HA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2QI3R45BDMV6GHIXCPTZNK2HEDIR7EKGS5YI2M75QMC2BPJBXUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6KZXB345APDPGPQLCR7KM2BA4WGRUF46BJ7QVDCE536XXTJKY4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A34VIU63XEQHAXTU3IB7QZTLLG5FFNFX5QMI6ZZLVCVGPVYWPMFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BRF4ABR4LX2N4CHCEAEIJMBG3JBZBK4LNPKJVNK4R42POWZT5LCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNTGE2XMD6WDCUA3LOY6UZBIK5MEMCGI35DCQ4ZH7PLSZU7ODZEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHFNB5IN5Y4R5WZ2HVCEXBKGLRQWLDY5FVOGIT2WMGJDI53UG2MA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LDA4UIW4N5O25JTIXWJV7RIAJMJOAY4FPK5DX5SF74ODDJWP5PQ/vendors.sdk.js"
            ]
        },
        "DescribeImageTags": {
            "input": {
                "type": "structure",
                "required": [
                    "repositoryName"
                ],
                "members": {
                    "registryId": {},
                    "repositoryName": {},
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "imageTagDetails": {
                        "shape": "S2r"
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV4DZIHS7HAH5R5CPIUN3KHUNQCN26DJDWK5GB3SKMYM4TUO7C2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQJIMDF3XREMNUEZ7OY3SKD7NU64TPPNXF7MLQMXD4QDS3EKG2KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMGBYHRW57H5FOAYN2LS34X7XP7NP7MJBEBANLGAKSTA46BQ2AFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3XKUSPI42QGWELWXG5QVNNX6THJVAOIYJWXQZXPGN6OS3JMZZKMA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACNSL4WKTLR5SASDG76USUNFMNY6KROXYDDGLHNPYHAUMBZX3XVQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3MPMTHEQIXBDCLKPGXL7V2QPGXUGB2Z7QJ2JOCZZYKUUFI7JD7A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6UNBOJVCDSZNR5R5BTBR4URM3RJ4G5XR2VPHVAA2NY24CM7J6FA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNA4FG6S3JQ5GUHCZ7NNOEN2QVK5JWE3PFZSO27NRSDRNAATBFYA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BX2GJJ7CNM7KB4GWEKLT24LLSKRNMPDEWI2ZPK7KDVZ3TDOHA2Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ4IWR6TIZCNQ5UNNTOLLGNYCOYYJWFUP4AOQ2UXUEBVY3QCNSZQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SF4XHIVUOAODPLOM75TNYKKVI6FZHDZOXVKFMA5OWKWX3LZNRR2Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLJH2U5JEBOBNM5JLYO2V7QR7LFC2MDMWXIDHPU4PHXR6ZVP6PIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWRYFCHROAFONWFMIJ5TLN5654W2QFVQX3VSB6VUWDBDRRDI6YEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RF7WBMTWNDRCPXPLQ6AFH4H3XEPSBHY7UQQ5HWMCCZHBO4MNG7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYMYM3B5JDJD7ECDNK4FIYFRDDRNUTYTMG32TKLVQNRFF2AODQVQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHOTPIBD7CHL3KMG37NMV6CM6OZOSKTPVC3ABMKSJ3LWEJ3OQPFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZCBULIH7YK4XCCSNE7F2WUTT2YZTTKIV3RNCNSUGI5WIYZX33HA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2QI3R45BDMV6GHIXCPTZNK2HEDIR7EKGS5YI2M75QMC2BPJBXUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6KZXB345APDPGPQLCR7KM2BA4WGRUF46BJ7QVDCE536XXTJKY4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A34VIU63XEQHAXTU3IB7QZTLLG5FFNFX5QMI6ZZLVCVGPVYWPMFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BRF4ABR4LX2N4CHCEAEIJMBG3JBZBK4LNPKJVNK4R42POWZT5LCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNTGE2XMD6WDCUA3LOY6UZBIK5MEMCGI35DCQ4ZH7PLSZU7ODZEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHFNB5IN5Y4R5WZ2HVCEXBKGLRQWLDY5FVOGIT2WMGJDI53UG2MA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LDA4UIW4N5O25JTIXWJV7RIAJMJOAY4FPK5DX5SF74ODDJWP5PQ/vendors.sdk.js"
            ]
        },
        "DescribeImageTagsInternal": {
            "input": {
                "type": "structure",
                "required": [
                    "registryAliasName",
                    "repositoryName"
                ],
                "members": {
                    "registryAliasName": {},
                    "repositoryName": {},
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "imageTagDetails": {
                        "shape": "S2r"
                    },
                    "nextToken": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV4DZIHS7HAH5R5CPIUN3KHUNQCN26DJDWK5GB3SKMYM4TUO7C2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQJIMDF3XREMNUEZ7OY3SKD7NU64TPPNXF7MLQMXD4QDS3EKG2KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMGBYHRW57H5FOAYN2LS34X7XP7NP7MJBEBANLGAKSTA46BQ2AFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3XKUSPI42QGWELWXG5QVNNX6THJVAOIYJWXQZXPGN6OS3JMZZKMA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACNSL4WKTLR5SASDG76USUNFMNY6KROXYDDGLHNPYHAUMBZX3XVQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3MPMTHEQIXBDCLKPGXL7V2QPGXUGB2Z7QJ2JOCZZYKUUFI7JD7A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6UNBOJVCDSZNR5R5BTBR4URM3RJ4G5XR2VPHVAA2NY24CM7J6FA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNA4FG6S3JQ5GUHCZ7NNOEN2QVK5JWE3PFZSO27NRSDRNAATBFYA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BX2GJJ7CNM7KB4GWEKLT24LLSKRNMPDEWI2ZPK7KDVZ3TDOHA2Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ4IWR6TIZCNQ5UNNTOLLGNYCOYYJWFUP4AOQ2UXUEBVY3QCNSZQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SF4XHIVUOAODPLOM75TNYKKVI6FZHDZOXVKFMA5OWKWX3LZNRR2Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLJH2U5JEBOBNM5JLYO2V7QR7LFC2MDMWXIDHPU4PHXR6ZVP6PIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWRYFCHROAFONWFMIJ5TLN5654W2QFVQX3VSB6VUWDBDRRDI6YEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RF7WBMTWNDRCPXPLQ6AFH4H3XEPSBHY7UQQ5HWMCCZHBO4MNG7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYMYM3B5JDJD7ECDNK4FIYFRDDRNUTYTMG32TKLVQNRFF2AODQVQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHOTPIBD7CHL3KMG37NMV6CM6OZOSKTPVC3ABMKSJ3LWEJ3OQPFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZCBULIH7YK4XCCSNE7F2WUTT2YZTTKIV3RNCNSUGI5WIYZX33HA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2QI3R45BDMV6GHIXCPTZNK2HEDIR7EKGS5YI2M75QMC2BPJBXUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6KZXB345APDPGPQLCR7KM2BA4WGRUF46BJ7QVDCE536XXTJKY4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A34VIU63XEQHAXTU3IB7QZTLLG5FFNFX5QMI6ZZLVCVGPVYWPMFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BRF4ABR4LX2N4CHCEAEIJMBG3JBZBK4LNPKJVNK4R42POWZT5LCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNTGE2XMD6WDCUA3LOY6UZBIK5MEMCGI35DCQ4ZH7PLSZU7ODZEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHFNB5IN5Y4R5WZ2HVCEXBKGLRQWLDY5FVOGIT2WMGJDI53UG2MA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LDA4UIW4N5O25JTIXWJV7RIAJMJOAY4FPK5DX5SF74ODDJWP5PQ/vendors.sdk.js"
            ]
        },
        "DescribeImages": {
            "input": {
                "type": "structure",
                "required": [
                    "repositoryName"
                ],
                "members": {
                    "registryId": {},
                    "repositoryName": {},
                    "imageIds": {
                        "shape": "Si"
                    },
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "imageDetails": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "registryId": {},
                                "repositoryName": {},
                                "imageDigest": {},
                                "imageTags": {
                                    "type": "list",
                                    "member": {}
                                },
                                "imageSizeInBytes": {
                                    "type": "long"
                                },
                                "imagePushedAt": {
                                    "type": "timestamp"
                                },
                                "imageManifestMediaType": {},
                                "artifactMediaType": {},
                                "subjectManifestDigest": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV4DZIHS7HAH5R5CPIUN3KHUNQCN26DJDWK5GB3SKMYM4TUO7C2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQJIMDF3XREMNUEZ7OY3SKD7NU64TPPNXF7MLQMXD4QDS3EKG2KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMGBYHRW57H5FOAYN2LS34X7XP7NP7MJBEBANLGAKSTA46BQ2AFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3XKUSPI42QGWELWXG5QVNNX6THJVAOIYJWXQZXPGN6OS3JMZZKMA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACNSL4WKTLR5SASDG76USUNFMNY6KROXYDDGLHNPYHAUMBZX3XVQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3MPMTHEQIXBDCLKPGXL7V2QPGXUGB2Z7QJ2JOCZZYKUUFI7JD7A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6UNBOJVCDSZNR5R5BTBR4URM3RJ4G5XR2VPHVAA2NY24CM7J6FA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNA4FG6S3JQ5GUHCZ7NNOEN2QVK5JWE3PFZSO27NRSDRNAATBFYA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BX2GJJ7CNM7KB4GWEKLT24LLSKRNMPDEWI2ZPK7KDVZ3TDOHA2Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ4IWR6TIZCNQ5UNNTOLLGNYCOYYJWFUP4AOQ2UXUEBVY3QCNSZQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SF4XHIVUOAODPLOM75TNYKKVI6FZHDZOXVKFMA5OWKWX3LZNRR2Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLJH2U5JEBOBNM5JLYO2V7QR7LFC2MDMWXIDHPU4PHXR6ZVP6PIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWRYFCHROAFONWFMIJ5TLN5654W2QFVQX3VSB6VUWDBDRRDI6YEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RF7WBMTWNDRCPXPLQ6AFH4H3XEPSBHY7UQQ5HWMCCZHBO4MNG7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYMYM3B5JDJD7ECDNK4FIYFRDDRNUTYTMG32TKLVQNRFF2AODQVQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHOTPIBD7CHL3KMG37NMV6CM6OZOSKTPVC3ABMKSJ3LWEJ3OQPFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZCBULIH7YK4XCCSNE7F2WUTT2YZTTKIV3RNCNSUGI5WIYZX33HA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2QI3R45BDMV6GHIXCPTZNK2HEDIR7EKGS5YI2M75QMC2BPJBXUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6KZXB345APDPGPQLCR7KM2BA4WGRUF46BJ7QVDCE536XXTJKY4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A34VIU63XEQHAXTU3IB7QZTLLG5FFNFX5QMI6ZZLVCVGPVYWPMFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BRF4ABR4LX2N4CHCEAEIJMBG3JBZBK4LNPKJVNK4R42POWZT5LCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNTGE2XMD6WDCUA3LOY6UZBIK5MEMCGI35DCQ4ZH7PLSZU7ODZEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHFNB5IN5Y4R5WZ2HVCEXBKGLRQWLDY5FVOGIT2WMGJDI53UG2MA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LDA4UIW4N5O25JTIXWJV7RIAJMJOAY4FPK5DX5SF74ODDJWP5PQ/vendors.sdk.js"
            ]
        },
        "DescribeRegistries": {
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "registries"
                ],
                "members": {
                    "registries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "registryId",
                                "registryArn",
                                "registryUri",
                                "verified",
                                "aliases"
                            ],
                            "members": {
                                "registryId": {},
                                "registryArn": {},
                                "registryUri": {},
                                "verified": {
                                    "type": "boolean"
                                },
                                "aliases": {
                                    "type": "list",
                                    "member": {
                                        "shape": "S38"
                                    }
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV4DZIHS7HAH5R5CPIUN3KHUNQCN26DJDWK5GB3SKMYM4TUO7C2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQJIMDF3XREMNUEZ7OY3SKD7NU64TPPNXF7MLQMXD4QDS3EKG2KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMGBYHRW57H5FOAYN2LS34X7XP7NP7MJBEBANLGAKSTA46BQ2AFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3XKUSPI42QGWELWXG5QVNNX6THJVAOIYJWXQZXPGN6OS3JMZZKMA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACNSL4WKTLR5SASDG76USUNFMNY6KROXYDDGLHNPYHAUMBZX3XVQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3MPMTHEQIXBDCLKPGXL7V2QPGXUGB2Z7QJ2JOCZZYKUUFI7JD7A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6UNBOJVCDSZNR5R5BTBR4URM3RJ4G5XR2VPHVAA2NY24CM7J6FA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNA4FG6S3JQ5GUHCZ7NNOEN2QVK5JWE3PFZSO27NRSDRNAATBFYA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BX2GJJ7CNM7KB4GWEKLT24LLSKRNMPDEWI2ZPK7KDVZ3TDOHA2Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ4IWR6TIZCNQ5UNNTOLLGNYCOYYJWFUP4AOQ2UXUEBVY3QCNSZQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SF4XHIVUOAODPLOM75TNYKKVI6FZHDZOXVKFMA5OWKWX3LZNRR2Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLJH2U5JEBOBNM5JLYO2V7QR7LFC2MDMWXIDHPU4PHXR6ZVP6PIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWRYFCHROAFONWFMIJ5TLN5654W2QFVQX3VSB6VUWDBDRRDI6YEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RF7WBMTWNDRCPXPLQ6AFH4H3XEPSBHY7UQQ5HWMCCZHBO4MNG7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYMYM3B5JDJD7ECDNK4FIYFRDDRNUTYTMG32TKLVQNRFF2AODQVQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHOTPIBD7CHL3KMG37NMV6CM6OZOSKTPVC3ABMKSJ3LWEJ3OQPFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZCBULIH7YK4XCCSNE7F2WUTT2YZTTKIV3RNCNSUGI5WIYZX33HA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2QI3R45BDMV6GHIXCPTZNK2HEDIR7EKGS5YI2M75QMC2BPJBXUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6KZXB345APDPGPQLCR7KM2BA4WGRUF46BJ7QVDCE536XXTJKY4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A34VIU63XEQHAXTU3IB7QZTLLG5FFNFX5QMI6ZZLVCVGPVYWPMFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BRF4ABR4LX2N4CHCEAEIJMBG3JBZBK4LNPKJVNK4R42POWZT5LCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNTGE2XMD6WDCUA3LOY6UZBIK5MEMCGI35DCQ4ZH7PLSZU7ODZEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHFNB5IN5Y4R5WZ2HVCEXBKGLRQWLDY5FVOGIT2WMGJDI53UG2MA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LDA4UIW4N5O25JTIXWJV7RIAJMJOAY4FPK5DX5SF74ODDJWP5PQ/vendors.sdk.js"
            ]
        },
        "DescribeRepositories": {
            "input": {
                "type": "structure",
                "members": {
                    "registryId": {},
                    "repositoryNames": {
                        "type": "list",
                        "member": {}
                    },
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "repositories": {
                        "type": "list",
                        "member": {
                            "shape": "S1w"
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV4DZIHS7HAH5R5CPIUN3KHUNQCN26DJDWK5GB3SKMYM4TUO7C2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQJIMDF3XREMNUEZ7OY3SKD7NU64TPPNXF7MLQMXD4QDS3EKG2KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMGBYHRW57H5FOAYN2LS34X7XP7NP7MJBEBANLGAKSTA46BQ2AFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3XKUSPI42QGWELWXG5QVNNX6THJVAOIYJWXQZXPGN6OS3JMZZKMA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACNSL4WKTLR5SASDG76USUNFMNY6KROXYDDGLHNPYHAUMBZX3XVQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3MPMTHEQIXBDCLKPGXL7V2QPGXUGB2Z7QJ2JOCZZYKUUFI7JD7A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6UNBOJVCDSZNR5R5BTBR4URM3RJ4G5XR2VPHVAA2NY24CM7J6FA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNA4FG6S3JQ5GUHCZ7NNOEN2QVK5JWE3PFZSO27NRSDRNAATBFYA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BX2GJJ7CNM7KB4GWEKLT24LLSKRNMPDEWI2ZPK7KDVZ3TDOHA2Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ4IWR6TIZCNQ5UNNTOLLGNYCOYYJWFUP4AOQ2UXUEBVY3QCNSZQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SF4XHIVUOAODPLOM75TNYKKVI6FZHDZOXVKFMA5OWKWX3LZNRR2Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLJH2U5JEBOBNM5JLYO2V7QR7LFC2MDMWXIDHPU4PHXR6ZVP6PIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWRYFCHROAFONWFMIJ5TLN5654W2QFVQX3VSB6VUWDBDRRDI6YEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RF7WBMTWNDRCPXPLQ6AFH4H3XEPSBHY7UQQ5HWMCCZHBO4MNG7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYMYM3B5JDJD7ECDNK4FIYFRDDRNUTYTMG32TKLVQNRFF2AODQVQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHOTPIBD7CHL3KMG37NMV6CM6OZOSKTPVC3ABMKSJ3LWEJ3OQPFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZCBULIH7YK4XCCSNE7F2WUTT2YZTTKIV3RNCNSUGI5WIYZX33HA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2QI3R45BDMV6GHIXCPTZNK2HEDIR7EKGS5YI2M75QMC2BPJBXUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6KZXB345APDPGPQLCR7KM2BA4WGRUF46BJ7QVDCE536XXTJKY4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A34VIU63XEQHAXTU3IB7QZTLLG5FFNFX5QMI6ZZLVCVGPVYWPMFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BRF4ABR4LX2N4CHCEAEIJMBG3JBZBK4LNPKJVNK4R42POWZT5LCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNTGE2XMD6WDCUA3LOY6UZBIK5MEMCGI35DCQ4ZH7PLSZU7ODZEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHFNB5IN5Y4R5WZ2HVCEXBKGLRQWLDY5FVOGIT2WMGJDI53UG2MA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LDA4UIW4N5O25JTIXWJV7RIAJMJOAY4FPK5DX5SF74ODDJWP5PQ/vendors.sdk.js"
            ]
        },
        "DescribeRepositoryCatalogDataInternal": {
            "input": {
                "type": "structure",
                "required": [
                    "registryAliasName"
                ],
                "members": {
                    "registryAliasName": {},
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "repositorySortOrder": {},
                    "repositorySortField": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "repositories": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "repositoryName": {},
                                "catalogData": {
                                    "shape": "S20"
                                },
                                "insightData": {
                                    "shape": "S3m"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV4DZIHS7HAH5R5CPIUN3KHUNQCN26DJDWK5GB3SKMYM4TUO7C2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQJIMDF3XREMNUEZ7OY3SKD7NU64TPPNXF7MLQMXD4QDS3EKG2KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMGBYHRW57H5FOAYN2LS34X7XP7NP7MJBEBANLGAKSTA46BQ2AFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3XKUSPI42QGWELWXG5QVNNX6THJVAOIYJWXQZXPGN6OS3JMZZKMA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACNSL4WKTLR5SASDG76USUNFMNY6KROXYDDGLHNPYHAUMBZX3XVQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3MPMTHEQIXBDCLKPGXL7V2QPGXUGB2Z7QJ2JOCZZYKUUFI7JD7A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6UNBOJVCDSZNR5R5BTBR4URM3RJ4G5XR2VPHVAA2NY24CM7J6FA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNA4FG6S3JQ5GUHCZ7NNOEN2QVK5JWE3PFZSO27NRSDRNAATBFYA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BX2GJJ7CNM7KB4GWEKLT24LLSKRNMPDEWI2ZPK7KDVZ3TDOHA2Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ4IWR6TIZCNQ5UNNTOLLGNYCOYYJWFUP4AOQ2UXUEBVY3QCNSZQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SF4XHIVUOAODPLOM75TNYKKVI6FZHDZOXVKFMA5OWKWX3LZNRR2Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLJH2U5JEBOBNM5JLYO2V7QR7LFC2MDMWXIDHPU4PHXR6ZVP6PIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWRYFCHROAFONWFMIJ5TLN5654W2QFVQX3VSB6VUWDBDRRDI6YEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RF7WBMTWNDRCPXPLQ6AFH4H3XEPSBHY7UQQ5HWMCCZHBO4MNG7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYMYM3B5JDJD7ECDNK4FIYFRDDRNUTYTMG32TKLVQNRFF2AODQVQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHOTPIBD7CHL3KMG37NMV6CM6OZOSKTPVC3ABMKSJ3LWEJ3OQPFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZCBULIH7YK4XCCSNE7F2WUTT2YZTTKIV3RNCNSUGI5WIYZX33HA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2QI3R45BDMV6GHIXCPTZNK2HEDIR7EKGS5YI2M75QMC2BPJBXUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6KZXB345APDPGPQLCR7KM2BA4WGRUF46BJ7QVDCE536XXTJKY4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A34VIU63XEQHAXTU3IB7QZTLLG5FFNFX5QMI6ZZLVCVGPVYWPMFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BRF4ABR4LX2N4CHCEAEIJMBG3JBZBK4LNPKJVNK4R42POWZT5LCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNTGE2XMD6WDCUA3LOY6UZBIK5MEMCGI35DCQ4ZH7PLSZU7ODZEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHFNB5IN5Y4R5WZ2HVCEXBKGLRQWLDY5FVOGIT2WMGJDI53UG2MA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LDA4UIW4N5O25JTIXWJV7RIAJMJOAY4FPK5DX5SF74ODDJWP5PQ/vendors.sdk.js"
            ]
        },
        "GetAuthorizationToken": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "authorizationData": {
                        "type": "structure",
                        "members": {
                            "authorizationToken": {},
                            "expiresAt": {
                                "type": "timestamp"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV4DZIHS7HAH5R5CPIUN3KHUNQCN26DJDWK5GB3SKMYM4TUO7C2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQJIMDF3XREMNUEZ7OY3SKD7NU64TPPNXF7MLQMXD4QDS3EKG2KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMGBYHRW57H5FOAYN2LS34X7XP7NP7MJBEBANLGAKSTA46BQ2AFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3XKUSPI42QGWELWXG5QVNNX6THJVAOIYJWXQZXPGN6OS3JMZZKMA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACNSL4WKTLR5SASDG76USUNFMNY6KROXYDDGLHNPYHAUMBZX3XVQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3MPMTHEQIXBDCLKPGXL7V2QPGXUGB2Z7QJ2JOCZZYKUUFI7JD7A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6UNBOJVCDSZNR5R5BTBR4URM3RJ4G5XR2VPHVAA2NY24CM7J6FA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNA4FG6S3JQ5GUHCZ7NNOEN2QVK5JWE3PFZSO27NRSDRNAATBFYA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BX2GJJ7CNM7KB4GWEKLT24LLSKRNMPDEWI2ZPK7KDVZ3TDOHA2Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ4IWR6TIZCNQ5UNNTOLLGNYCOYYJWFUP4AOQ2UXUEBVY3QCNSZQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SF4XHIVUOAODPLOM75TNYKKVI6FZHDZOXVKFMA5OWKWX3LZNRR2Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLJH2U5JEBOBNM5JLYO2V7QR7LFC2MDMWXIDHPU4PHXR6ZVP6PIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWRYFCHROAFONWFMIJ5TLN5654W2QFVQX3VSB6VUWDBDRRDI6YEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RF7WBMTWNDRCPXPLQ6AFH4H3XEPSBHY7UQQ5HWMCCZHBO4MNG7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYMYM3B5JDJD7ECDNK4FIYFRDDRNUTYTMG32TKLVQNRFF2AODQVQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHOTPIBD7CHL3KMG37NMV6CM6OZOSKTPVC3ABMKSJ3LWEJ3OQPFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZCBULIH7YK4XCCSNE7F2WUTT2YZTTKIV3RNCNSUGI5WIYZX33HA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2QI3R45BDMV6GHIXCPTZNK2HEDIR7EKGS5YI2M75QMC2BPJBXUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6KZXB345APDPGPQLCR7KM2BA4WGRUF46BJ7QVDCE536XXTJKY4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A34VIU63XEQHAXTU3IB7QZTLLG5FFNFX5QMI6ZZLVCVGPVYWPMFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BRF4ABR4LX2N4CHCEAEIJMBG3JBZBK4LNPKJVNK4R42POWZT5LCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNTGE2XMD6WDCUA3LOY6UZBIK5MEMCGI35DCQ4ZH7PLSZU7ODZEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHFNB5IN5Y4R5WZ2HVCEXBKGLRQWLDY5FVOGIT2WMGJDI53UG2MA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LDA4UIW4N5O25JTIXWJV7RIAJMJOAY4FPK5DX5SF74ODDJWP5PQ/vendors.sdk.js"
            ]
        },
        "GetDownloadUrlForLayerInternal": {
            "input": {
                "type": "structure",
                "required": [
                    "registryAliasName",
                    "repositoryName",
                    "layerDigest"
                ],
                "members": {
                    "registryAliasName": {},
                    "repositoryName": {},
                    "layerDigest": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "downloadUrl": {},
                    "layerDigest": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV4DZIHS7HAH5R5CPIUN3KHUNQCN26DJDWK5GB3SKMYM4TUO7C2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQJIMDF3XREMNUEZ7OY3SKD7NU64TPPNXF7MLQMXD4QDS3EKG2KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMGBYHRW57H5FOAYN2LS34X7XP7NP7MJBEBANLGAKSTA46BQ2AFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3XKUSPI42QGWELWXG5QVNNX6THJVAOIYJWXQZXPGN6OS3JMZZKMA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACNSL4WKTLR5SASDG76USUNFMNY6KROXYDDGLHNPYHAUMBZX3XVQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3MPMTHEQIXBDCLKPGXL7V2QPGXUGB2Z7QJ2JOCZZYKUUFI7JD7A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6UNBOJVCDSZNR5R5BTBR4URM3RJ4G5XR2VPHVAA2NY24CM7J6FA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNA4FG6S3JQ5GUHCZ7NNOEN2QVK5JWE3PFZSO27NRSDRNAATBFYA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BX2GJJ7CNM7KB4GWEKLT24LLSKRNMPDEWI2ZPK7KDVZ3TDOHA2Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ4IWR6TIZCNQ5UNNTOLLGNYCOYYJWFUP4AOQ2UXUEBVY3QCNSZQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SF4XHIVUOAODPLOM75TNYKKVI6FZHDZOXVKFMA5OWKWX3LZNRR2Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLJH2U5JEBOBNM5JLYO2V7QR7LFC2MDMWXIDHPU4PHXR6ZVP6PIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWRYFCHROAFONWFMIJ5TLN5654W2QFVQX3VSB6VUWDBDRRDI6YEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RF7WBMTWNDRCPXPLQ6AFH4H3XEPSBHY7UQQ5HWMCCZHBO4MNG7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYMYM3B5JDJD7ECDNK4FIYFRDDRNUTYTMG32TKLVQNRFF2AODQVQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHOTPIBD7CHL3KMG37NMV6CM6OZOSKTPVC3ABMKSJ3LWEJ3OQPFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZCBULIH7YK4XCCSNE7F2WUTT2YZTTKIV3RNCNSUGI5WIYZX33HA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2QI3R45BDMV6GHIXCPTZNK2HEDIR7EKGS5YI2M75QMC2BPJBXUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6KZXB345APDPGPQLCR7KM2BA4WGRUF46BJ7QVDCE536XXTJKY4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A34VIU63XEQHAXTU3IB7QZTLLG5FFNFX5QMI6ZZLVCVGPVYWPMFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BRF4ABR4LX2N4CHCEAEIJMBG3JBZBK4LNPKJVNK4R42POWZT5LCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNTGE2XMD6WDCUA3LOY6UZBIK5MEMCGI35DCQ4ZH7PLSZU7ODZEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHFNB5IN5Y4R5WZ2HVCEXBKGLRQWLDY5FVOGIT2WMGJDI53UG2MA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LDA4UIW4N5O25JTIXWJV7RIAJMJOAY4FPK5DX5SF74ODDJWP5PQ/vendors.sdk.js"
            ]
        },
        "GetRegistryCatalogData": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "required": [
                    "registryCatalogData"
                ],
                "members": {
                    "registryCatalogData": {
                        "shape": "S3x"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV4DZIHS7HAH5R5CPIUN3KHUNQCN26DJDWK5GB3SKMYM4TUO7C2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQJIMDF3XREMNUEZ7OY3SKD7NU64TPPNXF7MLQMXD4QDS3EKG2KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMGBYHRW57H5FOAYN2LS34X7XP7NP7MJBEBANLGAKSTA46BQ2AFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3XKUSPI42QGWELWXG5QVNNX6THJVAOIYJWXQZXPGN6OS3JMZZKMA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACNSL4WKTLR5SASDG76USUNFMNY6KROXYDDGLHNPYHAUMBZX3XVQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3MPMTHEQIXBDCLKPGXL7V2QPGXUGB2Z7QJ2JOCZZYKUUFI7JD7A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6UNBOJVCDSZNR5R5BTBR4URM3RJ4G5XR2VPHVAA2NY24CM7J6FA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNA4FG6S3JQ5GUHCZ7NNOEN2QVK5JWE3PFZSO27NRSDRNAATBFYA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BX2GJJ7CNM7KB4GWEKLT24LLSKRNMPDEWI2ZPK7KDVZ3TDOHA2Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ4IWR6TIZCNQ5UNNTOLLGNYCOYYJWFUP4AOQ2UXUEBVY3QCNSZQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SF4XHIVUOAODPLOM75TNYKKVI6FZHDZOXVKFMA5OWKWX3LZNRR2Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLJH2U5JEBOBNM5JLYO2V7QR7LFC2MDMWXIDHPU4PHXR6ZVP6PIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWRYFCHROAFONWFMIJ5TLN5654W2QFVQX3VSB6VUWDBDRRDI6YEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RF7WBMTWNDRCPXPLQ6AFH4H3XEPSBHY7UQQ5HWMCCZHBO4MNG7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYMYM3B5JDJD7ECDNK4FIYFRDDRNUTYTMG32TKLVQNRFF2AODQVQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHOTPIBD7CHL3KMG37NMV6CM6OZOSKTPVC3ABMKSJ3LWEJ3OQPFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZCBULIH7YK4XCCSNE7F2WUTT2YZTTKIV3RNCNSUGI5WIYZX33HA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2QI3R45BDMV6GHIXCPTZNK2HEDIR7EKGS5YI2M75QMC2BPJBXUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6KZXB345APDPGPQLCR7KM2BA4WGRUF46BJ7QVDCE536XXTJKY4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A34VIU63XEQHAXTU3IB7QZTLLG5FFNFX5QMI6ZZLVCVGPVYWPMFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BRF4ABR4LX2N4CHCEAEIJMBG3JBZBK4LNPKJVNK4R42POWZT5LCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNTGE2XMD6WDCUA3LOY6UZBIK5MEMCGI35DCQ4ZH7PLSZU7ODZEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHFNB5IN5Y4R5WZ2HVCEXBKGLRQWLDY5FVOGIT2WMGJDI53UG2MA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LDA4UIW4N5O25JTIXWJV7RIAJMJOAY4FPK5DX5SF74ODDJWP5PQ/vendors.sdk.js"
            ]
        },
        "GetRegistryCatalogDataInternal": {
            "input": {
                "type": "structure",
                "required": [
                    "registryAliasName"
                ],
                "members": {
                    "registryAliasName": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "registryCatalogData"
                ],
                "members": {
                    "registryCatalogData": {
                        "shape": "S3x"
                    },
                    "verified": {
                        "type": "boolean"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV4DZIHS7HAH5R5CPIUN3KHUNQCN26DJDWK5GB3SKMYM4TUO7C2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQJIMDF3XREMNUEZ7OY3SKD7NU64TPPNXF7MLQMXD4QDS3EKG2KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMGBYHRW57H5FOAYN2LS34X7XP7NP7MJBEBANLGAKSTA46BQ2AFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3XKUSPI42QGWELWXG5QVNNX6THJVAOIYJWXQZXPGN6OS3JMZZKMA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACNSL4WKTLR5SASDG76USUNFMNY6KROXYDDGLHNPYHAUMBZX3XVQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3MPMTHEQIXBDCLKPGXL7V2QPGXUGB2Z7QJ2JOCZZYKUUFI7JD7A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6UNBOJVCDSZNR5R5BTBR4URM3RJ4G5XR2VPHVAA2NY24CM7J6FA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNA4FG6S3JQ5GUHCZ7NNOEN2QVK5JWE3PFZSO27NRSDRNAATBFYA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BX2GJJ7CNM7KB4GWEKLT24LLSKRNMPDEWI2ZPK7KDVZ3TDOHA2Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ4IWR6TIZCNQ5UNNTOLLGNYCOYYJWFUP4AOQ2UXUEBVY3QCNSZQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SF4XHIVUOAODPLOM75TNYKKVI6FZHDZOXVKFMA5OWKWX3LZNRR2Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLJH2U5JEBOBNM5JLYO2V7QR7LFC2MDMWXIDHPU4PHXR6ZVP6PIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWRYFCHROAFONWFMIJ5TLN5654W2QFVQX3VSB6VUWDBDRRDI6YEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RF7WBMTWNDRCPXPLQ6AFH4H3XEPSBHY7UQQ5HWMCCZHBO4MNG7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYMYM3B5JDJD7ECDNK4FIYFRDDRNUTYTMG32TKLVQNRFF2AODQVQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHOTPIBD7CHL3KMG37NMV6CM6OZOSKTPVC3ABMKSJ3LWEJ3OQPFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZCBULIH7YK4XCCSNE7F2WUTT2YZTTKIV3RNCNSUGI5WIYZX33HA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2QI3R45BDMV6GHIXCPTZNK2HEDIR7EKGS5YI2M75QMC2BPJBXUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6KZXB345APDPGPQLCR7KM2BA4WGRUF46BJ7QVDCE536XXTJKY4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A34VIU63XEQHAXTU3IB7QZTLLG5FFNFX5QMI6ZZLVCVGPVYWPMFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BRF4ABR4LX2N4CHCEAEIJMBG3JBZBK4LNPKJVNK4R42POWZT5LCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNTGE2XMD6WDCUA3LOY6UZBIK5MEMCGI35DCQ4ZH7PLSZU7ODZEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHFNB5IN5Y4R5WZ2HVCEXBKGLRQWLDY5FVOGIT2WMGJDI53UG2MA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LDA4UIW4N5O25JTIXWJV7RIAJMJOAY4FPK5DX5SF74ODDJWP5PQ/vendors.sdk.js"
            ]
        },
        "GetRepositoryCatalogData": {
            "input": {
                "type": "structure",
                "required": [
                    "repositoryName"
                ],
                "members": {
                    "registryId": {},
                    "repositoryName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "catalogData": {
                        "shape": "S20"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV4DZIHS7HAH5R5CPIUN3KHUNQCN26DJDWK5GB3SKMYM4TUO7C2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQJIMDF3XREMNUEZ7OY3SKD7NU64TPPNXF7MLQMXD4QDS3EKG2KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMGBYHRW57H5FOAYN2LS34X7XP7NP7MJBEBANLGAKSTA46BQ2AFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3XKUSPI42QGWELWXG5QVNNX6THJVAOIYJWXQZXPGN6OS3JMZZKMA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACNSL4WKTLR5SASDG76USUNFMNY6KROXYDDGLHNPYHAUMBZX3XVQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3MPMTHEQIXBDCLKPGXL7V2QPGXUGB2Z7QJ2JOCZZYKUUFI7JD7A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6UNBOJVCDSZNR5R5BTBR4URM3RJ4G5XR2VPHVAA2NY24CM7J6FA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNA4FG6S3JQ5GUHCZ7NNOEN2QVK5JWE3PFZSO27NRSDRNAATBFYA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BX2GJJ7CNM7KB4GWEKLT24LLSKRNMPDEWI2ZPK7KDVZ3TDOHA2Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ4IWR6TIZCNQ5UNNTOLLGNYCOYYJWFUP4AOQ2UXUEBVY3QCNSZQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SF4XHIVUOAODPLOM75TNYKKVI6FZHDZOXVKFMA5OWKWX3LZNRR2Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLJH2U5JEBOBNM5JLYO2V7QR7LFC2MDMWXIDHPU4PHXR6ZVP6PIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWRYFCHROAFONWFMIJ5TLN5654W2QFVQX3VSB6VUWDBDRRDI6YEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RF7WBMTWNDRCPXPLQ6AFH4H3XEPSBHY7UQQ5HWMCCZHBO4MNG7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYMYM3B5JDJD7ECDNK4FIYFRDDRNUTYTMG32TKLVQNRFF2AODQVQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHOTPIBD7CHL3KMG37NMV6CM6OZOSKTPVC3ABMKSJ3LWEJ3OQPFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZCBULIH7YK4XCCSNE7F2WUTT2YZTTKIV3RNCNSUGI5WIYZX33HA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2QI3R45BDMV6GHIXCPTZNK2HEDIR7EKGS5YI2M75QMC2BPJBXUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6KZXB345APDPGPQLCR7KM2BA4WGRUF46BJ7QVDCE536XXTJKY4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A34VIU63XEQHAXTU3IB7QZTLLG5FFNFX5QMI6ZZLVCVGPVYWPMFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BRF4ABR4LX2N4CHCEAEIJMBG3JBZBK4LNPKJVNK4R42POWZT5LCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNTGE2XMD6WDCUA3LOY6UZBIK5MEMCGI35DCQ4ZH7PLSZU7ODZEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHFNB5IN5Y4R5WZ2HVCEXBKGLRQWLDY5FVOGIT2WMGJDI53UG2MA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LDA4UIW4N5O25JTIXWJV7RIAJMJOAY4FPK5DX5SF74ODDJWP5PQ/vendors.sdk.js"
            ]
        },
        "GetRepositoryCatalogDataInternal": {
            "input": {
                "type": "structure",
                "required": [
                    "registryAliasName",
                    "repositoryName"
                ],
                "members": {
                    "registryAliasName": {},
                    "repositoryName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "catalogData": {
                        "shape": "S20"
                    },
                    "insightData": {
                        "shape": "S3m"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV4DZIHS7HAH5R5CPIUN3KHUNQCN26DJDWK5GB3SKMYM4TUO7C2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQJIMDF3XREMNUEZ7OY3SKD7NU64TPPNXF7MLQMXD4QDS3EKG2KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMGBYHRW57H5FOAYN2LS34X7XP7NP7MJBEBANLGAKSTA46BQ2AFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3XKUSPI42QGWELWXG5QVNNX6THJVAOIYJWXQZXPGN6OS3JMZZKMA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACNSL4WKTLR5SASDG76USUNFMNY6KROXYDDGLHNPYHAUMBZX3XVQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3MPMTHEQIXBDCLKPGXL7V2QPGXUGB2Z7QJ2JOCZZYKUUFI7JD7A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6UNBOJVCDSZNR5R5BTBR4URM3RJ4G5XR2VPHVAA2NY24CM7J6FA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNA4FG6S3JQ5GUHCZ7NNOEN2QVK5JWE3PFZSO27NRSDRNAATBFYA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BX2GJJ7CNM7KB4GWEKLT24LLSKRNMPDEWI2ZPK7KDVZ3TDOHA2Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ4IWR6TIZCNQ5UNNTOLLGNYCOYYJWFUP4AOQ2UXUEBVY3QCNSZQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SF4XHIVUOAODPLOM75TNYKKVI6FZHDZOXVKFMA5OWKWX3LZNRR2Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLJH2U5JEBOBNM5JLYO2V7QR7LFC2MDMWXIDHPU4PHXR6ZVP6PIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWRYFCHROAFONWFMIJ5TLN5654W2QFVQX3VSB6VUWDBDRRDI6YEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RF7WBMTWNDRCPXPLQ6AFH4H3XEPSBHY7UQQ5HWMCCZHBO4MNG7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYMYM3B5JDJD7ECDNK4FIYFRDDRNUTYTMG32TKLVQNRFF2AODQVQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHOTPIBD7CHL3KMG37NMV6CM6OZOSKTPVC3ABMKSJ3LWEJ3OQPFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZCBULIH7YK4XCCSNE7F2WUTT2YZTTKIV3RNCNSUGI5WIYZX33HA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2QI3R45BDMV6GHIXCPTZNK2HEDIR7EKGS5YI2M75QMC2BPJBXUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6KZXB345APDPGPQLCR7KM2BA4WGRUF46BJ7QVDCE536XXTJKY4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A34VIU63XEQHAXTU3IB7QZTLLG5FFNFX5QMI6ZZLVCVGPVYWPMFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BRF4ABR4LX2N4CHCEAEIJMBG3JBZBK4LNPKJVNK4R42POWZT5LCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNTGE2XMD6WDCUA3LOY6UZBIK5MEMCGI35DCQ4ZH7PLSZU7ODZEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHFNB5IN5Y4R5WZ2HVCEXBKGLRQWLDY5FVOGIT2WMGJDI53UG2MA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LDA4UIW4N5O25JTIXWJV7RIAJMJOAY4FPK5DX5SF74ODDJWP5PQ/vendors.sdk.js"
            ]
        },
        "GetRepositoryPolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "repositoryName"
                ],
                "members": {
                    "registryId": {},
                    "repositoryName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "registryId": {},
                    "repositoryName": {},
                    "policyText": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV4DZIHS7HAH5R5CPIUN3KHUNQCN26DJDWK5GB3SKMYM4TUO7C2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQJIMDF3XREMNUEZ7OY3SKD7NU64TPPNXF7MLQMXD4QDS3EKG2KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMGBYHRW57H5FOAYN2LS34X7XP7NP7MJBEBANLGAKSTA46BQ2AFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3XKUSPI42QGWELWXG5QVNNX6THJVAOIYJWXQZXPGN6OS3JMZZKMA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACNSL4WKTLR5SASDG76USUNFMNY6KROXYDDGLHNPYHAUMBZX3XVQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3MPMTHEQIXBDCLKPGXL7V2QPGXUGB2Z7QJ2JOCZZYKUUFI7JD7A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6UNBOJVCDSZNR5R5BTBR4URM3RJ4G5XR2VPHVAA2NY24CM7J6FA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNA4FG6S3JQ5GUHCZ7NNOEN2QVK5JWE3PFZSO27NRSDRNAATBFYA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BX2GJJ7CNM7KB4GWEKLT24LLSKRNMPDEWI2ZPK7KDVZ3TDOHA2Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ4IWR6TIZCNQ5UNNTOLLGNYCOYYJWFUP4AOQ2UXUEBVY3QCNSZQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SF4XHIVUOAODPLOM75TNYKKVI6FZHDZOXVKFMA5OWKWX3LZNRR2Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLJH2U5JEBOBNM5JLYO2V7QR7LFC2MDMWXIDHPU4PHXR6ZVP6PIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWRYFCHROAFONWFMIJ5TLN5654W2QFVQX3VSB6VUWDBDRRDI6YEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RF7WBMTWNDRCPXPLQ6AFH4H3XEPSBHY7UQQ5HWMCCZHBO4MNG7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYMYM3B5JDJD7ECDNK4FIYFRDDRNUTYTMG32TKLVQNRFF2AODQVQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHOTPIBD7CHL3KMG37NMV6CM6OZOSKTPVC3ABMKSJ3LWEJ3OQPFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZCBULIH7YK4XCCSNE7F2WUTT2YZTTKIV3RNCNSUGI5WIYZX33HA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2QI3R45BDMV6GHIXCPTZNK2HEDIR7EKGS5YI2M75QMC2BPJBXUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6KZXB345APDPGPQLCR7KM2BA4WGRUF46BJ7QVDCE536XXTJKY4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A34VIU63XEQHAXTU3IB7QZTLLG5FFNFX5QMI6ZZLVCVGPVYWPMFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BRF4ABR4LX2N4CHCEAEIJMBG3JBZBK4LNPKJVNK4R42POWZT5LCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNTGE2XMD6WDCUA3LOY6UZBIK5MEMCGI35DCQ4ZH7PLSZU7ODZEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHFNB5IN5Y4R5WZ2HVCEXBKGLRQWLDY5FVOGIT2WMGJDI53UG2MA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LDA4UIW4N5O25JTIXWJV7RIAJMJOAY4FPK5DX5SF74ODDJWP5PQ/vendors.sdk.js"
            ]
        },
        "InitiateLayerUpload": {
            "input": {
                "type": "structure",
                "required": [
                    "repositoryName"
                ],
                "members": {
                    "registryId": {},
                    "repositoryName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "uploadId": {},
                    "partSize": {
                        "type": "long"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV4DZIHS7HAH5R5CPIUN3KHUNQCN26DJDWK5GB3SKMYM4TUO7C2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQJIMDF3XREMNUEZ7OY3SKD7NU64TPPNXF7MLQMXD4QDS3EKG2KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMGBYHRW57H5FOAYN2LS34X7XP7NP7MJBEBANLGAKSTA46BQ2AFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3XKUSPI42QGWELWXG5QVNNX6THJVAOIYJWXQZXPGN6OS3JMZZKMA/vendors.sdk.js",
[...]
