{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2020-09-10",
        "endpointPrefix": "ecr-public",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceAbbreviation": "Amazon ECR-Public",
        "serviceFullName": "Amazon EC2 Container Registry Public",
        "serviceId": "PCR",
        "signatureVersion": "v4",
        "signingName": "ecr-public",
        "targetPrefix": "SpencerFrontendService",
        "uid": "pcr-2020-09-10",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/XGPL2WX5T7YSXEQJBUWJ4AHVB5ML75L2S4YUU6QFUTXRZCR4HZYA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J7HGCHSR6EKEIXDDHQHXV6CHCUL63LGQFGOC44LRRMV24Q4IHSRA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UZONBYKQWEZRKBOGL6N6KKISZ2J75D23GA2K4RAWMSISCEKJGEQA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EMPMQU5PJTENGBR7WACN7OQDVVWAMI6HVNDKNJOHRAMC44HFJDQA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BOIK7JBNUR4J7E7GUDF2BENFUF6B7THVQXZJSUTNJCAOJ6RLK6OA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ODUDIGLOQPDWNPDWCXSGN4TOUPJJJRCPPG6E43EOVW5XGIXNVZRA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PRQVY3COIO5G75372R3NL6JXQP5D4XHQY6IDP6KWJKLUUSQRAXMQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5ZRLGKHJTV3UDKLF5EGT6SXJA5VGM5ZDLOBLLCMVPW57BETDDGCA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5UKFMZSN6MIECPW26SXDZKJC527TUHOR7CH2MBHUUXPEVWCPHBEA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZAIXPLB6LDCHRVI7QMFXUBJI2SQEWKCPCNS55FZFKNW6IQVVDXPQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AS6QZ5NCSH2FQT7MIKFQSMZCYHUGVLVEG5XV2QXYPVU2BANJO7QA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PAMPGZAN3JNNVNRNYYBMT2SMJXTVZAPIFL2D7SXLWVL6RZEAEJNA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2LTQHZURWTL3E77MNJ3JHUA5JIZUQYQ5C2WNIOSR4UY6AJMADKLQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NR7XITDMC2CBSAQFUHMCZZZNJQPFAZFVJSKZB5R5IIWCW6RDNWMA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PTHTKPCUVRDJSLYX7SOU3JYTLFLJPQ7XMLYNI5ULCV5HPGHKNWKA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/63AOSCTLZ5RO6M6HY3DJK5M2OEQY6JLBBUHNUAC3TCKROF652WFQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CW2AXNVO2XGYE5MQOTA6KHLKX72RRBENAQULVQTSSKARWZA2HKDA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PWOLWSMVEDVVC5RP3TNKOZTBQTDNIAVABFXAGSDPLUASDUDTKKVA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BYI7EKC5RICSGDCTHBYKCPIS7M7OYV6LIJ2O3C5SCAVTRN65ZFSA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FKDR6F3CLAANVRJPXXEJCOFVGYVOBTLUKKFVBUAL2PJI6JXABRHA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WP3ZOJLMMUTMTHYLS3IC55HLPUN36BNCZ45YCN6ECTTFVPAXZDBA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MUJO2YYHWHGJJNF3CA47C5PGLNBDIDULLX6ZHJMG3ZQ3MDHIIYXA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XZNFJONIZ6CPPC52XOIRUXY3FYOU52CO7VXHPNLBNHSTVOH4U56Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7XNF3VZFCKT3DCLT3F7VOY5GA3PP7FSZJEOE52HTCLLB6G7LTAFQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PBOKFYXR6KANFHNFGQFN7YRRXB3MO53HIENX2NJD5OBAQKDMCOHA/vendors.js"
        ]
    },
    "operations": {
        "BatchCheckLayerAvailability": {
            "input": {
                "type": "structure",
                "required": [
                    "repositoryName",
                    "layerDigests"
                ],
                "members": {
                    "registryId": {},
                    "repositoryName": {},
                    "layerDigests": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "layers": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "layerDigest": {},
                                "layerAvailability": {},
                                "layerSize": {
                                    "type": "long"
                                },
                                "mediaType": {}
                            }
                        }
                    },
                    "failures": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "layerDigest": {},
                                "failureCode": {},
                                "failureReason": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7HGCHSR6EKEIXDDHQHXV6CHCUL63LGQFGOC44LRRMV24Q4IHSRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZONBYKQWEZRKBOGL6N6KKISZ2J75D23GA2K4RAWMSISCEKJGEQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMPMQU5PJTENGBR7WACN7OQDVVWAMI6HVNDKNJOHRAMC44HFJDQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOIK7JBNUR4J7E7GUDF2BENFUF6B7THVQXZJSUTNJCAOJ6RLK6OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODUDIGLOQPDWNPDWCXSGN4TOUPJJJRCPPG6E43EOVW5XGIXNVZRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRQVY3COIO5G75372R3NL6JXQP5D4XHQY6IDP6KWJKLUUSQRAXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZRLGKHJTV3UDKLF5EGT6SXJA5VGM5ZDLOBLLCMVPW57BETDDGCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UKFMZSN6MIECPW26SXDZKJC527TUHOR7CH2MBHUUXPEVWCPHBEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZAIXPLB6LDCHRVI7QMFXUBJI2SQEWKCPCNS55FZFKNW6IQVVDXPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS6QZ5NCSH2FQT7MIKFQSMZCYHUGVLVEG5XV2QXYPVU2BANJO7QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAMPGZAN3JNNVNRNYYBMT2SMJXTVZAPIFL2D7SXLWVL6RZEAEJNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LTQHZURWTL3E77MNJ3JHUA5JIZUQYQ5C2WNIOSR4UY6AJMADKLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NR7XITDMC2CBSAQFUHMCZZZNJQPFAZFVJSKZB5R5IIWCW6RDNWMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PTHTKPCUVRDJSLYX7SOU3JYTLFLJPQ7XMLYNI5ULCV5HPGHKNWKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63AOSCTLZ5RO6M6HY3DJK5M2OEQY6JLBBUHNUAC3TCKROF652WFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW2AXNVO2XGYE5MQOTA6KHLKX72RRBENAQULVQTSSKARWZA2HKDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWOLWSMVEDVVC5RP3TNKOZTBQTDNIAVABFXAGSDPLUASDUDTKKVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYI7EKC5RICSGDCTHBYKCPIS7M7OYV6LIJ2O3C5SCAVTRN65ZFSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKDR6F3CLAANVRJPXXEJCOFVGYVOBTLUKKFVBUAL2PJI6JXABRHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WP3ZOJLMMUTMTHYLS3IC55HLPUN36BNCZ45YCN6ECTTFVPAXZDBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUJO2YYHWHGJJNF3CA47C5PGLNBDIDULLX6ZHJMG3ZQ3MDHIIYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZNFJONIZ6CPPC52XOIRUXY3FYOU52CO7VXHPNLBNHSTVOH4U56Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XNF3VZFCKT3DCLT3F7VOY5GA3PP7FSZJEOE52HTCLLB6G7LTAFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBOKFYXR6KANFHNFGQFN7YRRXB3MO53HIENX2NJD5OBAQKDMCOHA/vendors.js"
            ]
        },
        "BatchDeleteImage": {
            "input": {
                "type": "structure",
                "required": [
                    "repositoryName",
                    "imageIds"
                ],
                "members": {
                    "registryId": {},
                    "repositoryName": {},
                    "imageIds": {
                        "shape": "Si"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "imageIds": {
                        "shape": "Si"
                    },
                    "failures": {
                        "shape": "Sn"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7HGCHSR6EKEIXDDHQHXV6CHCUL63LGQFGOC44LRRMV24Q4IHSRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZONBYKQWEZRKBOGL6N6KKISZ2J75D23GA2K4RAWMSISCEKJGEQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMPMQU5PJTENGBR7WACN7OQDVVWAMI6HVNDKNJOHRAMC44HFJDQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOIK7JBNUR4J7E7GUDF2BENFUF6B7THVQXZJSUTNJCAOJ6RLK6OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODUDIGLOQPDWNPDWCXSGN4TOUPJJJRCPPG6E43EOVW5XGIXNVZRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRQVY3COIO5G75372R3NL6JXQP5D4XHQY6IDP6KWJKLUUSQRAXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZRLGKHJTV3UDKLF5EGT6SXJA5VGM5ZDLOBLLCMVPW57BETDDGCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UKFMZSN6MIECPW26SXDZKJC527TUHOR7CH2MBHUUXPEVWCPHBEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZAIXPLB6LDCHRVI7QMFXUBJI2SQEWKCPCNS55FZFKNW6IQVVDXPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS6QZ5NCSH2FQT7MIKFQSMZCYHUGVLVEG5XV2QXYPVU2BANJO7QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAMPGZAN3JNNVNRNYYBMT2SMJXTVZAPIFL2D7SXLWVL6RZEAEJNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LTQHZURWTL3E77MNJ3JHUA5JIZUQYQ5C2WNIOSR4UY6AJMADKLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NR7XITDMC2CBSAQFUHMCZZZNJQPFAZFVJSKZB5R5IIWCW6RDNWMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PTHTKPCUVRDJSLYX7SOU3JYTLFLJPQ7XMLYNI5ULCV5HPGHKNWKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63AOSCTLZ5RO6M6HY3DJK5M2OEQY6JLBBUHNUAC3TCKROF652WFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW2AXNVO2XGYE5MQOTA6KHLKX72RRBENAQULVQTSSKARWZA2HKDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWOLWSMVEDVVC5RP3TNKOZTBQTDNIAVABFXAGSDPLUASDUDTKKVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYI7EKC5RICSGDCTHBYKCPIS7M7OYV6LIJ2O3C5SCAVTRN65ZFSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKDR6F3CLAANVRJPXXEJCOFVGYVOBTLUKKFVBUAL2PJI6JXABRHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WP3ZOJLMMUTMTHYLS3IC55HLPUN36BNCZ45YCN6ECTTFVPAXZDBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUJO2YYHWHGJJNF3CA47C5PGLNBDIDULLX6ZHJMG3ZQ3MDHIIYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZNFJONIZ6CPPC52XOIRUXY3FYOU52CO7VXHPNLBNHSTVOH4U56Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XNF3VZFCKT3DCLT3F7VOY5GA3PP7FSZJEOE52HTCLLB6G7LTAFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBOKFYXR6KANFHNFGQFN7YRRXB3MO53HIENX2NJD5OBAQKDMCOHA/vendors.js"
            ]
        },
        "BatchGetImageInternal": {
            "input": {
                "type": "structure",
                "required": [
                    "registryAliasName",
                    "repositoryName",
                    "imageIds"
                ],
                "members": {
                    "registryAliasName": {},
                    "repositoryName": {},
                    "imageIds": {
                        "shape": "Si"
                    },
                    "acceptedMediaTypes": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "images": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "registryAliasName": {},
                                "repositoryName": {},
                                "imageId": {
                                    "shape": "Sj"
                                },
                                "imageManifest": {},
                                "imageManifestMediaType": {}
                            }
                        }
                    },
                    "failures": {
                        "shape": "Sn"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7HGCHSR6EKEIXDDHQHXV6CHCUL63LGQFGOC44LRRMV24Q4IHSRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZONBYKQWEZRKBOGL6N6KKISZ2J75D23GA2K4RAWMSISCEKJGEQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMPMQU5PJTENGBR7WACN7OQDVVWAMI6HVNDKNJOHRAMC44HFJDQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOIK7JBNUR4J7E7GUDF2BENFUF6B7THVQXZJSUTNJCAOJ6RLK6OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODUDIGLOQPDWNPDWCXSGN4TOUPJJJRCPPG6E43EOVW5XGIXNVZRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRQVY3COIO5G75372R3NL6JXQP5D4XHQY6IDP6KWJKLUUSQRAXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZRLGKHJTV3UDKLF5EGT6SXJA5VGM5ZDLOBLLCMVPW57BETDDGCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UKFMZSN6MIECPW26SXDZKJC527TUHOR7CH2MBHUUXPEVWCPHBEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZAIXPLB6LDCHRVI7QMFXUBJI2SQEWKCPCNS55FZFKNW6IQVVDXPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS6QZ5NCSH2FQT7MIKFQSMZCYHUGVLVEG5XV2QXYPVU2BANJO7QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAMPGZAN3JNNVNRNYYBMT2SMJXTVZAPIFL2D7SXLWVL6RZEAEJNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LTQHZURWTL3E77MNJ3JHUA5JIZUQYQ5C2WNIOSR4UY6AJMADKLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NR7XITDMC2CBSAQFUHMCZZZNJQPFAZFVJSKZB5R5IIWCW6RDNWMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PTHTKPCUVRDJSLYX7SOU3JYTLFLJPQ7XMLYNI5ULCV5HPGHKNWKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63AOSCTLZ5RO6M6HY3DJK5M2OEQY6JLBBUHNUAC3TCKROF652WFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW2AXNVO2XGYE5MQOTA6KHLKX72RRBENAQULVQTSSKARWZA2HKDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWOLWSMVEDVVC5RP3TNKOZTBQTDNIAVABFXAGSDPLUASDUDTKKVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYI7EKC5RICSGDCTHBYKCPIS7M7OYV6LIJ2O3C5SCAVTRN65ZFSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKDR6F3CLAANVRJPXXEJCOFVGYVOBTLUKKFVBUAL2PJI6JXABRHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WP3ZOJLMMUTMTHYLS3IC55HLPUN36BNCZ45YCN6ECTTFVPAXZDBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUJO2YYHWHGJJNF3CA47C5PGLNBDIDULLX6ZHJMG3ZQ3MDHIIYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZNFJONIZ6CPPC52XOIRUXY3FYOU52CO7VXHPNLBNHSTVOH4U56Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XNF3VZFCKT3DCLT3F7VOY5GA3PP7FSZJEOE52HTCLLB6G7LTAFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBOKFYXR6KANFHNFGQFN7YRRXB3MO53HIENX2NJD5OBAQKDMCOHA/vendors.js"
            ]
        },
        "BatchGetImageReferrerInternal": {
            "input": {
                "type": "structure",
                "required": [
                    "registryAliasName",
                    "repositoryName",
                    "subjectId"
                ],
                "members": {
                    "registryAliasName": {},
                    "repositoryName": {},
                    "subjectId": {
                        "type": "structure",
                        "required": [
                            "imageDigest"
                        ],
                        "members": {
                            "imageDigest": {}
                        }
                    },
                    "filter": {
                        "type": "structure",
                        "members": {
                            "artifactTypes": {
                                "type": "list",
                                "member": {}
                            }
                        }
                    },
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "referrers": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "digest",
                                "mediaType",
                                "artifactType",
                                "size"
                            ],
                            "members": {
                                "digest": {},
                                "mediaType": {},
                                "artifactType": {},
                                "size": {
                                    "type": "long"
                                },
                                "annotations": {
                                    "type": "map",
                                    "key": {},
                                    "value": {}
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7HGCHSR6EKEIXDDHQHXV6CHCUL63LGQFGOC44LRRMV24Q4IHSRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZONBYKQWEZRKBOGL6N6KKISZ2J75D23GA2K4RAWMSISCEKJGEQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMPMQU5PJTENGBR7WACN7OQDVVWAMI6HVNDKNJOHRAMC44HFJDQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOIK7JBNUR4J7E7GUDF2BENFUF6B7THVQXZJSUTNJCAOJ6RLK6OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODUDIGLOQPDWNPDWCXSGN4TOUPJJJRCPPG6E43EOVW5XGIXNVZRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRQVY3COIO5G75372R3NL6JXQP5D4XHQY6IDP6KWJKLUUSQRAXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZRLGKHJTV3UDKLF5EGT6SXJA5VGM5ZDLOBLLCMVPW57BETDDGCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UKFMZSN6MIECPW26SXDZKJC527TUHOR7CH2MBHUUXPEVWCPHBEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZAIXPLB6LDCHRVI7QMFXUBJI2SQEWKCPCNS55FZFKNW6IQVVDXPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS6QZ5NCSH2FQT7MIKFQSMZCYHUGVLVEG5XV2QXYPVU2BANJO7QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAMPGZAN3JNNVNRNYYBMT2SMJXTVZAPIFL2D7SXLWVL6RZEAEJNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LTQHZURWTL3E77MNJ3JHUA5JIZUQYQ5C2WNIOSR4UY6AJMADKLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NR7XITDMC2CBSAQFUHMCZZZNJQPFAZFVJSKZB5R5IIWCW6RDNWMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PTHTKPCUVRDJSLYX7SOU3JYTLFLJPQ7XMLYNI5ULCV5HPGHKNWKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63AOSCTLZ5RO6M6HY3DJK5M2OEQY6JLBBUHNUAC3TCKROF652WFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW2AXNVO2XGYE5MQOTA6KHLKX72RRBENAQULVQTSSKARWZA2HKDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWOLWSMVEDVVC5RP3TNKOZTBQTDNIAVABFXAGSDPLUASDUDTKKVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYI7EKC5RICSGDCTHBYKCPIS7M7OYV6LIJ2O3C5SCAVTRN65ZFSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKDR6F3CLAANVRJPXXEJCOFVGYVOBTLUKKFVBUAL2PJI6JXABRHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WP3ZOJLMMUTMTHYLS3IC55HLPUN36BNCZ45YCN6ECTTFVPAXZDBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUJO2YYHWHGJJNF3CA47C5PGLNBDIDULLX6ZHJMG3ZQ3MDHIIYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZNFJONIZ6CPPC52XOIRUXY3FYOU52CO7VXHPNLBNHSTVOH4U56Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XNF3VZFCKT3DCLT3F7VOY5GA3PP7FSZJEOE52HTCLLB6G7LTAFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBOKFYXR6KANFHNFGQFN7YRRXB3MO53HIENX2NJD5OBAQKDMCOHA/vendors.js"
            ]
        },
        "CompleteLayerUpload": {
            "input": {
                "type": "structure",
                "required": [
                    "repositoryName",
                    "uploadId",
                    "layerDigests"
                ],
                "members": {
                    "registryId": {},
                    "repositoryName": {},
                    "uploadId": {},
                    "layerDigests": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "registryId": {},
                    "repositoryName": {},
                    "uploadId": {},
                    "layerDigest": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7HGCHSR6EKEIXDDHQHXV6CHCUL63LGQFGOC44LRRMV24Q4IHSRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZONBYKQWEZRKBOGL6N6KKISZ2J75D23GA2K4RAWMSISCEKJGEQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMPMQU5PJTENGBR7WACN7OQDVVWAMI6HVNDKNJOHRAMC44HFJDQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOIK7JBNUR4J7E7GUDF2BENFUF6B7THVQXZJSUTNJCAOJ6RLK6OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODUDIGLOQPDWNPDWCXSGN4TOUPJJJRCPPG6E43EOVW5XGIXNVZRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRQVY3COIO5G75372R3NL6JXQP5D4XHQY6IDP6KWJKLUUSQRAXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZRLGKHJTV3UDKLF5EGT6SXJA5VGM5ZDLOBLLCMVPW57BETDDGCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UKFMZSN6MIECPW26SXDZKJC527TUHOR7CH2MBHUUXPEVWCPHBEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZAIXPLB6LDCHRVI7QMFXUBJI2SQEWKCPCNS55FZFKNW6IQVVDXPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS6QZ5NCSH2FQT7MIKFQSMZCYHUGVLVEG5XV2QXYPVU2BANJO7QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAMPGZAN3JNNVNRNYYBMT2SMJXTVZAPIFL2D7SXLWVL6RZEAEJNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LTQHZURWTL3E77MNJ3JHUA5JIZUQYQ5C2WNIOSR4UY6AJMADKLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NR7XITDMC2CBSAQFUHMCZZZNJQPFAZFVJSKZB5R5IIWCW6RDNWMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PTHTKPCUVRDJSLYX7SOU3JYTLFLJPQ7XMLYNI5ULCV5HPGHKNWKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63AOSCTLZ5RO6M6HY3DJK5M2OEQY6JLBBUHNUAC3TCKROF652WFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW2AXNVO2XGYE5MQOTA6KHLKX72RRBENAQULVQTSSKARWZA2HKDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWOLWSMVEDVVC5RP3TNKOZTBQTDNIAVABFXAGSDPLUASDUDTKKVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYI7EKC5RICSGDCTHBYKCPIS7M7OYV6LIJ2O3C5SCAVTRN65ZFSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKDR6F3CLAANVRJPXXEJCOFVGYVOBTLUKKFVBUAL2PJI6JXABRHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WP3ZOJLMMUTMTHYLS3IC55HLPUN36BNCZ45YCN6ECTTFVPAXZDBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUJO2YYHWHGJJNF3CA47C5PGLNBDIDULLX6ZHJMG3ZQ3MDHIIYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZNFJONIZ6CPPC52XOIRUXY3FYOU52CO7VXHPNLBNHSTVOH4U56Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XNF3VZFCKT3DCLT3F7VOY5GA3PP7FSZJEOE52HTCLLB6G7LTAFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBOKFYXR6KANFHNFGQFN7YRRXB3MO53HIENX2NJD5OBAQKDMCOHA/vendors.js"
            ]
        },
        "CreateRepository": {
            "input": {
                "type": "structure",
                "required": [
                    "repositoryName"
                ],
                "members": {
                    "repositoryName": {},
                    "catalogData": {
                        "shape": "S1i"
                    },
                    "tags": {
                        "shape": "S1r"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "repository": {
                        "shape": "S1w"
                    },
                    "catalogData": {
                        "shape": "S20"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7HGCHSR6EKEIXDDHQHXV6CHCUL63LGQFGOC44LRRMV24Q4IHSRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZONBYKQWEZRKBOGL6N6KKISZ2J75D23GA2K4RAWMSISCEKJGEQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMPMQU5PJTENGBR7WACN7OQDVVWAMI6HVNDKNJOHRAMC44HFJDQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOIK7JBNUR4J7E7GUDF2BENFUF6B7THVQXZJSUTNJCAOJ6RLK6OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODUDIGLOQPDWNPDWCXSGN4TOUPJJJRCPPG6E43EOVW5XGIXNVZRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRQVY3COIO5G75372R3NL6JXQP5D4XHQY6IDP6KWJKLUUSQRAXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZRLGKHJTV3UDKLF5EGT6SXJA5VGM5ZDLOBLLCMVPW57BETDDGCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UKFMZSN6MIECPW26SXDZKJC527TUHOR7CH2MBHUUXPEVWCPHBEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZAIXPLB6LDCHRVI7QMFXUBJI2SQEWKCPCNS55FZFKNW6IQVVDXPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS6QZ5NCSH2FQT7MIKFQSMZCYHUGVLVEG5XV2QXYPVU2BANJO7QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAMPGZAN3JNNVNRNYYBMT2SMJXTVZAPIFL2D7SXLWVL6RZEAEJNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LTQHZURWTL3E77MNJ3JHUA5JIZUQYQ5C2WNIOSR4UY6AJMADKLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NR7XITDMC2CBSAQFUHMCZZZNJQPFAZFVJSKZB5R5IIWCW6RDNWMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PTHTKPCUVRDJSLYX7SOU3JYTLFLJPQ7XMLYNI5ULCV5HPGHKNWKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63AOSCTLZ5RO6M6HY3DJK5M2OEQY6JLBBUHNUAC3TCKROF652WFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW2AXNVO2XGYE5MQOTA6KHLKX72RRBENAQULVQTSSKARWZA2HKDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWOLWSMVEDVVC5RP3TNKOZTBQTDNIAVABFXAGSDPLUASDUDTKKVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYI7EKC5RICSGDCTHBYKCPIS7M7OYV6LIJ2O3C5SCAVTRN65ZFSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKDR6F3CLAANVRJPXXEJCOFVGYVOBTLUKKFVBUAL2PJI6JXABRHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WP3ZOJLMMUTMTHYLS3IC55HLPUN36BNCZ45YCN6ECTTFVPAXZDBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUJO2YYHWHGJJNF3CA47C5PGLNBDIDULLX6ZHJMG3ZQ3MDHIIYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZNFJONIZ6CPPC52XOIRUXY3FYOU52CO7VXHPNLBNHSTVOH4U56Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XNF3VZFCKT3DCLT3F7VOY5GA3PP7FSZJEOE52HTCLLB6G7LTAFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBOKFYXR6KANFHNFGQFN7YRRXB3MO53HIENX2NJD5OBAQKDMCOHA/vendors.js"
            ]
        },
        "DeleteImageForConvergentReplicationInternal": {
            "input": {
                "type": "structure",
                "required": [
                    "imageManifestEntity"
                ],
                "members": {
                    "imageManifestEntity": {
                        "shape": "S24"
                    },
                    "forceDelete": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "imageManifestEntity": {
                        "shape": "S24"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7HGCHSR6EKEIXDDHQHXV6CHCUL63LGQFGOC44LRRMV24Q4IHSRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZONBYKQWEZRKBOGL6N6KKISZ2J75D23GA2K4RAWMSISCEKJGEQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMPMQU5PJTENGBR7WACN7OQDVVWAMI6HVNDKNJOHRAMC44HFJDQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOIK7JBNUR4J7E7GUDF2BENFUF6B7THVQXZJSUTNJCAOJ6RLK6OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODUDIGLOQPDWNPDWCXSGN4TOUPJJJRCPPG6E43EOVW5XGIXNVZRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRQVY3COIO5G75372R3NL6JXQP5D4XHQY6IDP6KWJKLUUSQRAXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZRLGKHJTV3UDKLF5EGT6SXJA5VGM5ZDLOBLLCMVPW57BETDDGCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UKFMZSN6MIECPW26SXDZKJC527TUHOR7CH2MBHUUXPEVWCPHBEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZAIXPLB6LDCHRVI7QMFXUBJI2SQEWKCPCNS55FZFKNW6IQVVDXPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS6QZ5NCSH2FQT7MIKFQSMZCYHUGVLVEG5XV2QXYPVU2BANJO7QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAMPGZAN3JNNVNRNYYBMT2SMJXTVZAPIFL2D7SXLWVL6RZEAEJNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LTQHZURWTL3E77MNJ3JHUA5JIZUQYQ5C2WNIOSR4UY6AJMADKLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NR7XITDMC2CBSAQFUHMCZZZNJQPFAZFVJSKZB5R5IIWCW6RDNWMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PTHTKPCUVRDJSLYX7SOU3JYTLFLJPQ7XMLYNI5ULCV5HPGHKNWKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63AOSCTLZ5RO6M6HY3DJK5M2OEQY6JLBBUHNUAC3TCKROF652WFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW2AXNVO2XGYE5MQOTA6KHLKX72RRBENAQULVQTSSKARWZA2HKDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWOLWSMVEDVVC5RP3TNKOZTBQTDNIAVABFXAGSDPLUASDUDTKKVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYI7EKC5RICSGDCTHBYKCPIS7M7OYV6LIJ2O3C5SCAVTRN65ZFSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKDR6F3CLAANVRJPXXEJCOFVGYVOBTLUKKFVBUAL2PJI6JXABRHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WP3ZOJLMMUTMTHYLS3IC55HLPUN36BNCZ45YCN6ECTTFVPAXZDBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUJO2YYHWHGJJNF3CA47C5PGLNBDIDULLX6ZHJMG3ZQ3MDHIIYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZNFJONIZ6CPPC52XOIRUXY3FYOU52CO7VXHPNLBNHSTVOH4U56Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XNF3VZFCKT3DCLT3F7VOY5GA3PP7FSZJEOE52HTCLLB6G7LTAFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBOKFYXR6KANFHNFGQFN7YRRXB3MO53HIENX2NJD5OBAQKDMCOHA/vendors.js"
            ]
        },
        "DeleteRepository": {
            "input": {
                "type": "structure",
                "required": [
                    "repositoryName"
                ],
                "members": {
                    "registryId": {},
                    "repositoryName": {},
                    "force": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "repository": {
                        "shape": "S1w"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7HGCHSR6EKEIXDDHQHXV6CHCUL63LGQFGOC44LRRMV24Q4IHSRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZONBYKQWEZRKBOGL6N6KKISZ2J75D23GA2K4RAWMSISCEKJGEQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMPMQU5PJTENGBR7WACN7OQDVVWAMI6HVNDKNJOHRAMC44HFJDQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOIK7JBNUR4J7E7GUDF2BENFUF6B7THVQXZJSUTNJCAOJ6RLK6OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODUDIGLOQPDWNPDWCXSGN4TOUPJJJRCPPG6E43EOVW5XGIXNVZRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRQVY3COIO5G75372R3NL6JXQP5D4XHQY6IDP6KWJKLUUSQRAXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZRLGKHJTV3UDKLF5EGT6SXJA5VGM5ZDLOBLLCMVPW57BETDDGCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UKFMZSN6MIECPW26SXDZKJC527TUHOR7CH2MBHUUXPEVWCPHBEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZAIXPLB6LDCHRVI7QMFXUBJI2SQEWKCPCNS55FZFKNW6IQVVDXPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS6QZ5NCSH2FQT7MIKFQSMZCYHUGVLVEG5XV2QXYPVU2BANJO7QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAMPGZAN3JNNVNRNYYBMT2SMJXTVZAPIFL2D7SXLWVL6RZEAEJNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LTQHZURWTL3E77MNJ3JHUA5JIZUQYQ5C2WNIOSR4UY6AJMADKLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NR7XITDMC2CBSAQFUHMCZZZNJQPFAZFVJSKZB5R5IIWCW6RDNWMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PTHTKPCUVRDJSLYX7SOU3JYTLFLJPQ7XMLYNI5ULCV5HPGHKNWKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63AOSCTLZ5RO6M6HY3DJK5M2OEQY6JLBBUHNUAC3TCKROF652WFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW2AXNVO2XGYE5MQOTA6KHLKX72RRBENAQULVQTSSKARWZA2HKDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWOLWSMVEDVVC5RP3TNKOZTBQTDNIAVABFXAGSDPLUASDUDTKKVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYI7EKC5RICSGDCTHBYKCPIS7M7OYV6LIJ2O3C5SCAVTRN65ZFSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKDR6F3CLAANVRJPXXEJCOFVGYVOBTLUKKFVBUAL2PJI6JXABRHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WP3ZOJLMMUTMTHYLS3IC55HLPUN36BNCZ45YCN6ECTTFVPAXZDBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUJO2YYHWHGJJNF3CA47C5PGLNBDIDULLX6ZHJMG3ZQ3MDHIIYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZNFJONIZ6CPPC52XOIRUXY3FYOU52CO7VXHPNLBNHSTVOH4U56Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XNF3VZFCKT3DCLT3F7VOY5GA3PP7FSZJEOE52HTCLLB6G7LTAFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBOKFYXR6KANFHNFGQFN7YRRXB3MO53HIENX2NJD5OBAQKDMCOHA/vendors.js"
            ]
        },
        "DeleteRepositoryPolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "repositoryName"
                ],
                "members": {
                    "registryId": {},
                    "repositoryName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "registryId": {},
                    "repositoryName": {},
                    "policyText": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7HGCHSR6EKEIXDDHQHXV6CHCUL63LGQFGOC44LRRMV24Q4IHSRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZONBYKQWEZRKBOGL6N6KKISZ2J75D23GA2K4RAWMSISCEKJGEQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMPMQU5PJTENGBR7WACN7OQDVVWAMI6HVNDKNJOHRAMC44HFJDQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOIK7JBNUR4J7E7GUDF2BENFUF6B7THVQXZJSUTNJCAOJ6RLK6OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODUDIGLOQPDWNPDWCXSGN4TOUPJJJRCPPG6E43EOVW5XGIXNVZRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRQVY3COIO5G75372R3NL6JXQP5D4XHQY6IDP6KWJKLUUSQRAXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZRLGKHJTV3UDKLF5EGT6SXJA5VGM5ZDLOBLLCMVPW57BETDDGCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UKFMZSN6MIECPW26SXDZKJC527TUHOR7CH2MBHUUXPEVWCPHBEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZAIXPLB6LDCHRVI7QMFXUBJI2SQEWKCPCNS55FZFKNW6IQVVDXPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS6QZ5NCSH2FQT7MIKFQSMZCYHUGVLVEG5XV2QXYPVU2BANJO7QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAMPGZAN3JNNVNRNYYBMT2SMJXTVZAPIFL2D7SXLWVL6RZEAEJNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LTQHZURWTL3E77MNJ3JHUA5JIZUQYQ5C2WNIOSR4UY6AJMADKLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NR7XITDMC2CBSAQFUHMCZZZNJQPFAZFVJSKZB5R5IIWCW6RDNWMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PTHTKPCUVRDJSLYX7SOU3JYTLFLJPQ7XMLYNI5ULCV5HPGHKNWKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63AOSCTLZ5RO6M6HY3DJK5M2OEQY6JLBBUHNUAC3TCKROF652WFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW2AXNVO2XGYE5MQOTA6KHLKX72RRBENAQULVQTSSKARWZA2HKDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWOLWSMVEDVVC5RP3TNKOZTBQTDNIAVABFXAGSDPLUASDUDTKKVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYI7EKC5RICSGDCTHBYKCPIS7M7OYV6LIJ2O3C5SCAVTRN65ZFSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKDR6F3CLAANVRJPXXEJCOFVGYVOBTLUKKFVBUAL2PJI6JXABRHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WP3ZOJLMMUTMTHYLS3IC55HLPUN36BNCZ45YCN6ECTTFVPAXZDBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUJO2YYHWHGJJNF3CA47C5PGLNBDIDULLX6ZHJMG3ZQ3MDHIIYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZNFJONIZ6CPPC52XOIRUXY3FYOU52CO7VXHPNLBNHSTVOH4U56Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XNF3VZFCKT3DCLT3F7VOY5GA3PP7FSZJEOE52HTCLLB6G7LTAFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBOKFYXR6KANFHNFGQFN7YRRXB3MO53HIENX2NJD5OBAQKDMCOHA/vendors.js"
            ]
        },
        "DeleteTagForConvergentReplicationInternal": {
            "input": {
                "type": "structure",
                "required": [
                    "imageTagEntity"
                ],
                "members": {
                    "imageTagEntity": {
                        "shape": "S2l"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "imageTagEntity": {
                        "shape": "S2l"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7HGCHSR6EKEIXDDHQHXV6CHCUL63LGQFGOC44LRRMV24Q4IHSRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZONBYKQWEZRKBOGL6N6KKISZ2J75D23GA2K4RAWMSISCEKJGEQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMPMQU5PJTENGBR7WACN7OQDVVWAMI6HVNDKNJOHRAMC44HFJDQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOIK7JBNUR4J7E7GUDF2BENFUF6B7THVQXZJSUTNJCAOJ6RLK6OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODUDIGLOQPDWNPDWCXSGN4TOUPJJJRCPPG6E43EOVW5XGIXNVZRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRQVY3COIO5G75372R3NL6JXQP5D4XHQY6IDP6KWJKLUUSQRAXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZRLGKHJTV3UDKLF5EGT6SXJA5VGM5ZDLOBLLCMVPW57BETDDGCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UKFMZSN6MIECPW26SXDZKJC527TUHOR7CH2MBHUUXPEVWCPHBEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZAIXPLB6LDCHRVI7QMFXUBJI2SQEWKCPCNS55FZFKNW6IQVVDXPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS6QZ5NCSH2FQT7MIKFQSMZCYHUGVLVEG5XV2QXYPVU2BANJO7QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAMPGZAN3JNNVNRNYYBMT2SMJXTVZAPIFL2D7SXLWVL6RZEAEJNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LTQHZURWTL3E77MNJ3JHUA5JIZUQYQ5C2WNIOSR4UY6AJMADKLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NR7XITDMC2CBSAQFUHMCZZZNJQPFAZFVJSKZB5R5IIWCW6RDNWMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PTHTKPCUVRDJSLYX7SOU3JYTLFLJPQ7XMLYNI5ULCV5HPGHKNWKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63AOSCTLZ5RO6M6HY3DJK5M2OEQY6JLBBUHNUAC3TCKROF652WFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW2AXNVO2XGYE5MQOTA6KHLKX72RRBENAQULVQTSSKARWZA2HKDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWOLWSMVEDVVC5RP3TNKOZTBQTDNIAVABFXAGSDPLUASDUDTKKVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYI7EKC5RICSGDCTHBYKCPIS7M7OYV6LIJ2O3C5SCAVTRN65ZFSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKDR6F3CLAANVRJPXXEJCOFVGYVOBTLUKKFVBUAL2PJI6JXABRHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WP3ZOJLMMUTMTHYLS3IC55HLPUN36BNCZ45YCN6ECTTFVPAXZDBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUJO2YYHWHGJJNF3CA47C5PGLNBDIDULLX6ZHJMG3ZQ3MDHIIYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZNFJONIZ6CPPC52XOIRUXY3FYOU52CO7VXHPNLBNHSTVOH4U56Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XNF3VZFCKT3DCLT3F7VOY5GA3PP7FSZJEOE52HTCLLB6G7LTAFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBOKFYXR6KANFHNFGQFN7YRRXB3MO53HIENX2NJD5OBAQKDMCOHA/vendors.js"
            ]
        },
        "DescribeImageTags": {
            "input": {
                "type": "structure",
                "required": [
                    "repositoryName"
                ],
                "members": {
                    "registryId": {},
                    "repositoryName": {},
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "imageTagDetails": {
                        "shape": "S2r"
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7HGCHSR6EKEIXDDHQHXV6CHCUL63LGQFGOC44LRRMV24Q4IHSRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZONBYKQWEZRKBOGL6N6KKISZ2J75D23GA2K4RAWMSISCEKJGEQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMPMQU5PJTENGBR7WACN7OQDVVWAMI6HVNDKNJOHRAMC44HFJDQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOIK7JBNUR4J7E7GUDF2BENFUF6B7THVQXZJSUTNJCAOJ6RLK6OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODUDIGLOQPDWNPDWCXSGN4TOUPJJJRCPPG6E43EOVW5XGIXNVZRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRQVY3COIO5G75372R3NL6JXQP5D4XHQY6IDP6KWJKLUUSQRAXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZRLGKHJTV3UDKLF5EGT6SXJA5VGM5ZDLOBLLCMVPW57BETDDGCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UKFMZSN6MIECPW26SXDZKJC527TUHOR7CH2MBHUUXPEVWCPHBEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZAIXPLB6LDCHRVI7QMFXUBJI2SQEWKCPCNS55FZFKNW6IQVVDXPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS6QZ5NCSH2FQT7MIKFQSMZCYHUGVLVEG5XV2QXYPVU2BANJO7QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAMPGZAN3JNNVNRNYYBMT2SMJXTVZAPIFL2D7SXLWVL6RZEAEJNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LTQHZURWTL3E77MNJ3JHUA5JIZUQYQ5C2WNIOSR4UY6AJMADKLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NR7XITDMC2CBSAQFUHMCZZZNJQPFAZFVJSKZB5R5IIWCW6RDNWMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PTHTKPCUVRDJSLYX7SOU3JYTLFLJPQ7XMLYNI5ULCV5HPGHKNWKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63AOSCTLZ5RO6M6HY3DJK5M2OEQY6JLBBUHNUAC3TCKROF652WFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW2AXNVO2XGYE5MQOTA6KHLKX72RRBENAQULVQTSSKARWZA2HKDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWOLWSMVEDVVC5RP3TNKOZTBQTDNIAVABFXAGSDPLUASDUDTKKVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYI7EKC5RICSGDCTHBYKCPIS7M7OYV6LIJ2O3C5SCAVTRN65ZFSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKDR6F3CLAANVRJPXXEJCOFVGYVOBTLUKKFVBUAL2PJI6JXABRHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WP3ZOJLMMUTMTHYLS3IC55HLPUN36BNCZ45YCN6ECTTFVPAXZDBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUJO2YYHWHGJJNF3CA47C5PGLNBDIDULLX6ZHJMG3ZQ3MDHIIYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZNFJONIZ6CPPC52XOIRUXY3FYOU52CO7VXHPNLBNHSTVOH4U56Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XNF3VZFCKT3DCLT3F7VOY5GA3PP7FSZJEOE52HTCLLB6G7LTAFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBOKFYXR6KANFHNFGQFN7YRRXB3MO53HIENX2NJD5OBAQKDMCOHA/vendors.js"
            ]
        },
        "DescribeImageTagsInternal": {
            "input": {
                "type": "structure",
                "required": [
                    "registryAliasName",
                    "repositoryName"
                ],
                "members": {
                    "registryAliasName": {},
                    "repositoryName": {},
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "imageTagDetails": {
                        "shape": "S2r"
                    },
                    "nextToken": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7HGCHSR6EKEIXDDHQHXV6CHCUL63LGQFGOC44LRRMV24Q4IHSRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZONBYKQWEZRKBOGL6N6KKISZ2J75D23GA2K4RAWMSISCEKJGEQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMPMQU5PJTENGBR7WACN7OQDVVWAMI6HVNDKNJOHRAMC44HFJDQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOIK7JBNUR4J7E7GUDF2BENFUF6B7THVQXZJSUTNJCAOJ6RLK6OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODUDIGLOQPDWNPDWCXSGN4TOUPJJJRCPPG6E43EOVW5XGIXNVZRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRQVY3COIO5G75372R3NL6JXQP5D4XHQY6IDP6KWJKLUUSQRAXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZRLGKHJTV3UDKLF5EGT6SXJA5VGM5ZDLOBLLCMVPW57BETDDGCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UKFMZSN6MIECPW26SXDZKJC527TUHOR7CH2MBHUUXPEVWCPHBEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZAIXPLB6LDCHRVI7QMFXUBJI2SQEWKCPCNS55FZFKNW6IQVVDXPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS6QZ5NCSH2FQT7MIKFQSMZCYHUGVLVEG5XV2QXYPVU2BANJO7QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAMPGZAN3JNNVNRNYYBMT2SMJXTVZAPIFL2D7SXLWVL6RZEAEJNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LTQHZURWTL3E77MNJ3JHUA5JIZUQYQ5C2WNIOSR4UY6AJMADKLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NR7XITDMC2CBSAQFUHMCZZZNJQPFAZFVJSKZB5R5IIWCW6RDNWMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PTHTKPCUVRDJSLYX7SOU3JYTLFLJPQ7XMLYNI5ULCV5HPGHKNWKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63AOSCTLZ5RO6M6HY3DJK5M2OEQY6JLBBUHNUAC3TCKROF652WFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW2AXNVO2XGYE5MQOTA6KHLKX72RRBENAQULVQTSSKARWZA2HKDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWOLWSMVEDVVC5RP3TNKOZTBQTDNIAVABFXAGSDPLUASDUDTKKVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYI7EKC5RICSGDCTHBYKCPIS7M7OYV6LIJ2O3C5SCAVTRN65ZFSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKDR6F3CLAANVRJPXXEJCOFVGYVOBTLUKKFVBUAL2PJI6JXABRHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WP3ZOJLMMUTMTHYLS3IC55HLPUN36BNCZ45YCN6ECTTFVPAXZDBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUJO2YYHWHGJJNF3CA47C5PGLNBDIDULLX6ZHJMG3ZQ3MDHIIYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZNFJONIZ6CPPC52XOIRUXY3FYOU52CO7VXHPNLBNHSTVOH4U56Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XNF3VZFCKT3DCLT3F7VOY5GA3PP7FSZJEOE52HTCLLB6G7LTAFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBOKFYXR6KANFHNFGQFN7YRRXB3MO53HIENX2NJD5OBAQKDMCOHA/vendors.js"
            ]
        },
        "DescribeImages": {
            "input": {
                "type": "structure",
                "required": [
                    "repositoryName"
                ],
                "members": {
                    "registryId": {},
                    "repositoryName": {},
                    "imageIds": {
                        "shape": "Si"
                    },
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "imageDetails": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "registryId": {},
                                "repositoryName": {},
                                "imageDigest": {},
                                "imageTags": {
                                    "type": "list",
                                    "member": {}
                                },
                                "imageSizeInBytes": {
                                    "type": "long"
                                },
                                "imagePushedAt": {
                                    "type": "timestamp"
                                },
                                "imageManifestMediaType": {},
                                "artifactMediaType": {},
                                "subjectManifestDigest": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7HGCHSR6EKEIXDDHQHXV6CHCUL63LGQFGOC44LRRMV24Q4IHSRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZONBYKQWEZRKBOGL6N6KKISZ2J75D23GA2K4RAWMSISCEKJGEQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMPMQU5PJTENGBR7WACN7OQDVVWAMI6HVNDKNJOHRAMC44HFJDQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOIK7JBNUR4J7E7GUDF2BENFUF6B7THVQXZJSUTNJCAOJ6RLK6OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODUDIGLOQPDWNPDWCXSGN4TOUPJJJRCPPG6E43EOVW5XGIXNVZRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRQVY3COIO5G75372R3NL6JXQP5D4XHQY6IDP6KWJKLUUSQRAXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZRLGKHJTV3UDKLF5EGT6SXJA5VGM5ZDLOBLLCMVPW57BETDDGCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UKFMZSN6MIECPW26SXDZKJC527TUHOR7CH2MBHUUXPEVWCPHBEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZAIXPLB6LDCHRVI7QMFXUBJI2SQEWKCPCNS55FZFKNW6IQVVDXPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS6QZ5NCSH2FQT7MIKFQSMZCYHUGVLVEG5XV2QXYPVU2BANJO7QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAMPGZAN3JNNVNRNYYBMT2SMJXTVZAPIFL2D7SXLWVL6RZEAEJNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LTQHZURWTL3E77MNJ3JHUA5JIZUQYQ5C2WNIOSR4UY6AJMADKLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NR7XITDMC2CBSAQFUHMCZZZNJQPFAZFVJSKZB5R5IIWCW6RDNWMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PTHTKPCUVRDJSLYX7SOU3JYTLFLJPQ7XMLYNI5ULCV5HPGHKNWKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63AOSCTLZ5RO6M6HY3DJK5M2OEQY6JLBBUHNUAC3TCKROF652WFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW2AXNVO2XGYE5MQOTA6KHLKX72RRBENAQULVQTSSKARWZA2HKDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWOLWSMVEDVVC5RP3TNKOZTBQTDNIAVABFXAGSDPLUASDUDTKKVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYI7EKC5RICSGDCTHBYKCPIS7M7OYV6LIJ2O3C5SCAVTRN65ZFSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKDR6F3CLAANVRJPXXEJCOFVGYVOBTLUKKFVBUAL2PJI6JXABRHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WP3ZOJLMMUTMTHYLS3IC55HLPUN36BNCZ45YCN6ECTTFVPAXZDBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUJO2YYHWHGJJNF3CA47C5PGLNBDIDULLX6ZHJMG3ZQ3MDHIIYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZNFJONIZ6CPPC52XOIRUXY3FYOU52CO7VXHPNLBNHSTVOH4U56Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XNF3VZFCKT3DCLT3F7VOY5GA3PP7FSZJEOE52HTCLLB6G7LTAFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBOKFYXR6KANFHNFGQFN7YRRXB3MO53HIENX2NJD5OBAQKDMCOHA/vendors.js"
            ]
        },
        "DescribeRegistries": {
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "registries"
                ],
                "members": {
                    "registries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "registryId",
                                "registryArn",
                                "registryUri",
                                "verified",
                                "aliases"
                            ],
                            "members": {
                                "registryId": {},
                                "registryArn": {},
                                "registryUri": {},
                                "verified": {
                                    "type": "boolean"
                                },
                                "aliases": {
                                    "type": "list",
                                    "member": {
                                        "shape": "S38"
                                    }
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7HGCHSR6EKEIXDDHQHXV6CHCUL63LGQFGOC44LRRMV24Q4IHSRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZONBYKQWEZRKBOGL6N6KKISZ2J75D23GA2K4RAWMSISCEKJGEQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMPMQU5PJTENGBR7WACN7OQDVVWAMI6HVNDKNJOHRAMC44HFJDQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOIK7JBNUR4J7E7GUDF2BENFUF6B7THVQXZJSUTNJCAOJ6RLK6OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODUDIGLOQPDWNPDWCXSGN4TOUPJJJRCPPG6E43EOVW5XGIXNVZRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRQVY3COIO5G75372R3NL6JXQP5D4XHQY6IDP6KWJKLUUSQRAXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZRLGKHJTV3UDKLF5EGT6SXJA5VGM5ZDLOBLLCMVPW57BETDDGCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UKFMZSN6MIECPW26SXDZKJC527TUHOR7CH2MBHUUXPEVWCPHBEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZAIXPLB6LDCHRVI7QMFXUBJI2SQEWKCPCNS55FZFKNW6IQVVDXPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS6QZ5NCSH2FQT7MIKFQSMZCYHUGVLVEG5XV2QXYPVU2BANJO7QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAMPGZAN3JNNVNRNYYBMT2SMJXTVZAPIFL2D7SXLWVL6RZEAEJNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LTQHZURWTL3E77MNJ3JHUA5JIZUQYQ5C2WNIOSR4UY6AJMADKLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NR7XITDMC2CBSAQFUHMCZZZNJQPFAZFVJSKZB5R5IIWCW6RDNWMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PTHTKPCUVRDJSLYX7SOU3JYTLFLJPQ7XMLYNI5ULCV5HPGHKNWKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63AOSCTLZ5RO6M6HY3DJK5M2OEQY6JLBBUHNUAC3TCKROF652WFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW2AXNVO2XGYE5MQOTA6KHLKX72RRBENAQULVQTSSKARWZA2HKDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWOLWSMVEDVVC5RP3TNKOZTBQTDNIAVABFXAGSDPLUASDUDTKKVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYI7EKC5RICSGDCTHBYKCPIS7M7OYV6LIJ2O3C5SCAVTRN65ZFSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKDR6F3CLAANVRJPXXEJCOFVGYVOBTLUKKFVBUAL2PJI6JXABRHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WP3ZOJLMMUTMTHYLS3IC55HLPUN36BNCZ45YCN6ECTTFVPAXZDBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUJO2YYHWHGJJNF3CA47C5PGLNBDIDULLX6ZHJMG3ZQ3MDHIIYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZNFJONIZ6CPPC52XOIRUXY3FYOU52CO7VXHPNLBNHSTVOH4U56Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XNF3VZFCKT3DCLT3F7VOY5GA3PP7FSZJEOE52HTCLLB6G7LTAFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBOKFYXR6KANFHNFGQFN7YRRXB3MO53HIENX2NJD5OBAQKDMCOHA/vendors.js"
            ]
        },
        "DescribeRepositories": {
            "input": {
                "type": "structure",
                "members": {
                    "registryId": {},
                    "repositoryNames": {
                        "type": "list",
                        "member": {}
                    },
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "repositories": {
                        "type": "list",
                        "member": {
                            "shape": "S1w"
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7HGCHSR6EKEIXDDHQHXV6CHCUL63LGQFGOC44LRRMV24Q4IHSRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZONBYKQWEZRKBOGL6N6KKISZ2J75D23GA2K4RAWMSISCEKJGEQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMPMQU5PJTENGBR7WACN7OQDVVWAMI6HVNDKNJOHRAMC44HFJDQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOIK7JBNUR4J7E7GUDF2BENFUF6B7THVQXZJSUTNJCAOJ6RLK6OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODUDIGLOQPDWNPDWCXSGN4TOUPJJJRCPPG6E43EOVW5XGIXNVZRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRQVY3COIO5G75372R3NL6JXQP5D4XHQY6IDP6KWJKLUUSQRAXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZRLGKHJTV3UDKLF5EGT6SXJA5VGM5ZDLOBLLCMVPW57BETDDGCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UKFMZSN6MIECPW26SXDZKJC527TUHOR7CH2MBHUUXPEVWCPHBEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZAIXPLB6LDCHRVI7QMFXUBJI2SQEWKCPCNS55FZFKNW6IQVVDXPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS6QZ5NCSH2FQT7MIKFQSMZCYHUGVLVEG5XV2QXYPVU2BANJO7QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAMPGZAN3JNNVNRNYYBMT2SMJXTVZAPIFL2D7SXLWVL6RZEAEJNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LTQHZURWTL3E77MNJ3JHUA5JIZUQYQ5C2WNIOSR4UY6AJMADKLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NR7XITDMC2CBSAQFUHMCZZZNJQPFAZFVJSKZB5R5IIWCW6RDNWMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PTHTKPCUVRDJSLYX7SOU3JYTLFLJPQ7XMLYNI5ULCV5HPGHKNWKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63AOSCTLZ5RO6M6HY3DJK5M2OEQY6JLBBUHNUAC3TCKROF652WFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW2AXNVO2XGYE5MQOTA6KHLKX72RRBENAQULVQTSSKARWZA2HKDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWOLWSMVEDVVC5RP3TNKOZTBQTDNIAVABFXAGSDPLUASDUDTKKVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYI7EKC5RICSGDCTHBYKCPIS7M7OYV6LIJ2O3C5SCAVTRN65ZFSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKDR6F3CLAANVRJPXXEJCOFVGYVOBTLUKKFVBUAL2PJI6JXABRHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WP3ZOJLMMUTMTHYLS3IC55HLPUN36BNCZ45YCN6ECTTFVPAXZDBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUJO2YYHWHGJJNF3CA47C5PGLNBDIDULLX6ZHJMG3ZQ3MDHIIYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZNFJONIZ6CPPC52XOIRUXY3FYOU52CO7VXHPNLBNHSTVOH4U56Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XNF3VZFCKT3DCLT3F7VOY5GA3PP7FSZJEOE52HTCLLB6G7LTAFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBOKFYXR6KANFHNFGQFN7YRRXB3MO53HIENX2NJD5OBAQKDMCOHA/vendors.js"
            ]
        },
        "DescribeRepositoryCatalogDataInternal": {
            "input": {
                "type": "structure",
                "required": [
                    "registryAliasName"
                ],
                "members": {
                    "registryAliasName": {},
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "repositorySortOrder": {},
                    "repositorySortField": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "repositories": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "repositoryName": {},
                                "catalogData": {
                                    "shape": "S20"
                                },
                                "insightData": {
                                    "shape": "S3m"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7HGCHSR6EKEIXDDHQHXV6CHCUL63LGQFGOC44LRRMV24Q4IHSRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZONBYKQWEZRKBOGL6N6KKISZ2J75D23GA2K4RAWMSISCEKJGEQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMPMQU5PJTENGBR7WACN7OQDVVWAMI6HVNDKNJOHRAMC44HFJDQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOIK7JBNUR4J7E7GUDF2BENFUF6B7THVQXZJSUTNJCAOJ6RLK6OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODUDIGLOQPDWNPDWCXSGN4TOUPJJJRCPPG6E43EOVW5XGIXNVZRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRQVY3COIO5G75372R3NL6JXQP5D4XHQY6IDP6KWJKLUUSQRAXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZRLGKHJTV3UDKLF5EGT6SXJA5VGM5ZDLOBLLCMVPW57BETDDGCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UKFMZSN6MIECPW26SXDZKJC527TUHOR7CH2MBHUUXPEVWCPHBEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZAIXPLB6LDCHRVI7QMFXUBJI2SQEWKCPCNS55FZFKNW6IQVVDXPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS6QZ5NCSH2FQT7MIKFQSMZCYHUGVLVEG5XV2QXYPVU2BANJO7QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAMPGZAN3JNNVNRNYYBMT2SMJXTVZAPIFL2D7SXLWVL6RZEAEJNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LTQHZURWTL3E77MNJ3JHUA5JIZUQYQ5C2WNIOSR4UY6AJMADKLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NR7XITDMC2CBSAQFUHMCZZZNJQPFAZFVJSKZB5R5IIWCW6RDNWMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PTHTKPCUVRDJSLYX7SOU3JYTLFLJPQ7XMLYNI5ULCV5HPGHKNWKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63AOSCTLZ5RO6M6HY3DJK5M2OEQY6JLBBUHNUAC3TCKROF652WFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW2AXNVO2XGYE5MQOTA6KHLKX72RRBENAQULVQTSSKARWZA2HKDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWOLWSMVEDVVC5RP3TNKOZTBQTDNIAVABFXAGSDPLUASDUDTKKVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYI7EKC5RICSGDCTHBYKCPIS7M7OYV6LIJ2O3C5SCAVTRN65ZFSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKDR6F3CLAANVRJPXXEJCOFVGYVOBTLUKKFVBUAL2PJI6JXABRHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WP3ZOJLMMUTMTHYLS3IC55HLPUN36BNCZ45YCN6ECTTFVPAXZDBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUJO2YYHWHGJJNF3CA47C5PGLNBDIDULLX6ZHJMG3ZQ3MDHIIYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZNFJONIZ6CPPC52XOIRUXY3FYOU52CO7VXHPNLBNHSTVOH4U56Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XNF3VZFCKT3DCLT3F7VOY5GA3PP7FSZJEOE52HTCLLB6G7LTAFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBOKFYXR6KANFHNFGQFN7YRRXB3MO53HIENX2NJD5OBAQKDMCOHA/vendors.js"
            ]
        },
        "GetAuthorizationToken": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "authorizationData": {
                        "type": "structure",
                        "members": {
                            "authorizationToken": {},
                            "expiresAt": {
                                "type": "timestamp"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7HGCHSR6EKEIXDDHQHXV6CHCUL63LGQFGOC44LRRMV24Q4IHSRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZONBYKQWEZRKBOGL6N6KKISZ2J75D23GA2K4RAWMSISCEKJGEQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMPMQU5PJTENGBR7WACN7OQDVVWAMI6HVNDKNJOHRAMC44HFJDQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOIK7JBNUR4J7E7GUDF2BENFUF6B7THVQXZJSUTNJCAOJ6RLK6OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODUDIGLOQPDWNPDWCXSGN4TOUPJJJRCPPG6E43EOVW5XGIXNVZRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRQVY3COIO5G75372R3NL6JXQP5D4XHQY6IDP6KWJKLUUSQRAXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZRLGKHJTV3UDKLF5EGT6SXJA5VGM5ZDLOBLLCMVPW57BETDDGCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UKFMZSN6MIECPW26SXDZKJC527TUHOR7CH2MBHUUXPEVWCPHBEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZAIXPLB6LDCHRVI7QMFXUBJI2SQEWKCPCNS55FZFKNW6IQVVDXPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS6QZ5NCSH2FQT7MIKFQSMZCYHUGVLVEG5XV2QXYPVU2BANJO7QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAMPGZAN3JNNVNRNYYBMT2SMJXTVZAPIFL2D7SXLWVL6RZEAEJNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LTQHZURWTL3E77MNJ3JHUA5JIZUQYQ5C2WNIOSR4UY6AJMADKLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NR7XITDMC2CBSAQFUHMCZZZNJQPFAZFVJSKZB5R5IIWCW6RDNWMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PTHTKPCUVRDJSLYX7SOU3JYTLFLJPQ7XMLYNI5ULCV5HPGHKNWKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63AOSCTLZ5RO6M6HY3DJK5M2OEQY6JLBBUHNUAC3TCKROF652WFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW2AXNVO2XGYE5MQOTA6KHLKX72RRBENAQULVQTSSKARWZA2HKDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWOLWSMVEDVVC5RP3TNKOZTBQTDNIAVABFXAGSDPLUASDUDTKKVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYI7EKC5RICSGDCTHBYKCPIS7M7OYV6LIJ2O3C5SCAVTRN65ZFSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKDR6F3CLAANVRJPXXEJCOFVGYVOBTLUKKFVBUAL2PJI6JXABRHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WP3ZOJLMMUTMTHYLS3IC55HLPUN36BNCZ45YCN6ECTTFVPAXZDBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUJO2YYHWHGJJNF3CA47C5PGLNBDIDULLX6ZHJMG3ZQ3MDHIIYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZNFJONIZ6CPPC52XOIRUXY3FYOU52CO7VXHPNLBNHSTVOH4U56Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XNF3VZFCKT3DCLT3F7VOY5GA3PP7FSZJEOE52HTCLLB6G7LTAFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBOKFYXR6KANFHNFGQFN7YRRXB3MO53HIENX2NJD5OBAQKDMCOHA/vendors.js"
            ]
        },
        "GetDownloadUrlForLayerInternal": {
            "input": {
                "type": "structure",
                "required": [
                    "registryAliasName",
                    "repositoryName",
                    "layerDigest"
                ],
                "members": {
                    "registryAliasName": {},
                    "repositoryName": {},
                    "layerDigest": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "downloadUrl": {},
                    "layerDigest": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7HGCHSR6EKEIXDDHQHXV6CHCUL63LGQFGOC44LRRMV24Q4IHSRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZONBYKQWEZRKBOGL6N6KKISZ2J75D23GA2K4RAWMSISCEKJGEQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMPMQU5PJTENGBR7WACN7OQDVVWAMI6HVNDKNJOHRAMC44HFJDQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOIK7JBNUR4J7E7GUDF2BENFUF6B7THVQXZJSUTNJCAOJ6RLK6OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODUDIGLOQPDWNPDWCXSGN4TOUPJJJRCPPG6E43EOVW5XGIXNVZRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRQVY3COIO5G75372R3NL6JXQP5D4XHQY6IDP6KWJKLUUSQRAXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZRLGKHJTV3UDKLF5EGT6SXJA5VGM5ZDLOBLLCMVPW57BETDDGCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UKFMZSN6MIECPW26SXDZKJC527TUHOR7CH2MBHUUXPEVWCPHBEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZAIXPLB6LDCHRVI7QMFXUBJI2SQEWKCPCNS55FZFKNW6IQVVDXPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS6QZ5NCSH2FQT7MIKFQSMZCYHUGVLVEG5XV2QXYPVU2BANJO7QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAMPGZAN3JNNVNRNYYBMT2SMJXTVZAPIFL2D7SXLWVL6RZEAEJNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LTQHZURWTL3E77MNJ3JHUA5JIZUQYQ5C2WNIOSR4UY6AJMADKLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NR7XITDMC2CBSAQFUHMCZZZNJQPFAZFVJSKZB5R5IIWCW6RDNWMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PTHTKPCUVRDJSLYX7SOU3JYTLFLJPQ7XMLYNI5ULCV5HPGHKNWKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63AOSCTLZ5RO6M6HY3DJK5M2OEQY6JLBBUHNUAC3TCKROF652WFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW2AXNVO2XGYE5MQOTA6KHLKX72RRBENAQULVQTSSKARWZA2HKDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWOLWSMVEDVVC5RP3TNKOZTBQTDNIAVABFXAGSDPLUASDUDTKKVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYI7EKC5RICSGDCTHBYKCPIS7M7OYV6LIJ2O3C5SCAVTRN65ZFSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKDR6F3CLAANVRJPXXEJCOFVGYVOBTLUKKFVBUAL2PJI6JXABRHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WP3ZOJLMMUTMTHYLS3IC55HLPUN36BNCZ45YCN6ECTTFVPAXZDBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUJO2YYHWHGJJNF3CA47C5PGLNBDIDULLX6ZHJMG3ZQ3MDHIIYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZNFJONIZ6CPPC52XOIRUXY3FYOU52CO7VXHPNLBNHSTVOH4U56Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XNF3VZFCKT3DCLT3F7VOY5GA3PP7FSZJEOE52HTCLLB6G7LTAFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBOKFYXR6KANFHNFGQFN7YRRXB3MO53HIENX2NJD5OBAQKDMCOHA/vendors.js"
            ]
        },
        "GetRegistryCatalogData": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "required": [
                    "registryCatalogData"
                ],
                "members": {
                    "registryCatalogData": {
                        "shape": "S3x"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7HGCHSR6EKEIXDDHQHXV6CHCUL63LGQFGOC44LRRMV24Q4IHSRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZONBYKQWEZRKBOGL6N6KKISZ2J75D23GA2K4RAWMSISCEKJGEQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMPMQU5PJTENGBR7WACN7OQDVVWAMI6HVNDKNJOHRAMC44HFJDQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOIK7JBNUR4J7E7GUDF2BENFUF6B7THVQXZJSUTNJCAOJ6RLK6OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODUDIGLOQPDWNPDWCXSGN4TOUPJJJRCPPG6E43EOVW5XGIXNVZRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRQVY3COIO5G75372R3NL6JXQP5D4XHQY6IDP6KWJKLUUSQRAXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZRLGKHJTV3UDKLF5EGT6SXJA5VGM5ZDLOBLLCMVPW57BETDDGCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UKFMZSN6MIECPW26SXDZKJC527TUHOR7CH2MBHUUXPEVWCPHBEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZAIXPLB6LDCHRVI7QMFXUBJI2SQEWKCPCNS55FZFKNW6IQVVDXPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS6QZ5NCSH2FQT7MIKFQSMZCYHUGVLVEG5XV2QXYPVU2BANJO7QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAMPGZAN3JNNVNRNYYBMT2SMJXTVZAPIFL2D7SXLWVL6RZEAEJNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LTQHZURWTL3E77MNJ3JHUA5JIZUQYQ5C2WNIOSR4UY6AJMADKLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NR7XITDMC2CBSAQFUHMCZZZNJQPFAZFVJSKZB5R5IIWCW6RDNWMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PTHTKPCUVRDJSLYX7SOU3JYTLFLJPQ7XMLYNI5ULCV5HPGHKNWKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63AOSCTLZ5RO6M6HY3DJK5M2OEQY6JLBBUHNUAC3TCKROF652WFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW2AXNVO2XGYE5MQOTA6KHLKX72RRBENAQULVQTSSKARWZA2HKDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWOLWSMVEDVVC5RP3TNKOZTBQTDNIAVABFXAGSDPLUASDUDTKKVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYI7EKC5RICSGDCTHBYKCPIS7M7OYV6LIJ2O3C5SCAVTRN65ZFSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKDR6F3CLAANVRJPXXEJCOFVGYVOBTLUKKFVBUAL2PJI6JXABRHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WP3ZOJLMMUTMTHYLS3IC55HLPUN36BNCZ45YCN6ECTTFVPAXZDBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUJO2YYHWHGJJNF3CA47C5PGLNBDIDULLX6ZHJMG3ZQ3MDHIIYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZNFJONIZ6CPPC52XOIRUXY3FYOU52CO7VXHPNLBNHSTVOH4U56Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XNF3VZFCKT3DCLT3F7VOY5GA3PP7FSZJEOE52HTCLLB6G7LTAFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBOKFYXR6KANFHNFGQFN7YRRXB3MO53HIENX2NJD5OBAQKDMCOHA/vendors.js"
            ]
        },
        "GetRegistryCatalogDataInternal": {
            "input": {
                "type": "structure",
                "required": [
                    "registryAliasName"
                ],
                "members": {
                    "registryAliasName": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "registryCatalogData"
                ],
                "members": {
                    "registryCatalogData": {
                        "shape": "S3x"
                    },
                    "verified": {
                        "type": "boolean"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7HGCHSR6EKEIXDDHQHXV6CHCUL63LGQFGOC44LRRMV24Q4IHSRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZONBYKQWEZRKBOGL6N6KKISZ2J75D23GA2K4RAWMSISCEKJGEQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMPMQU5PJTENGBR7WACN7OQDVVWAMI6HVNDKNJOHRAMC44HFJDQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOIK7JBNUR4J7E7GUDF2BENFUF6B7THVQXZJSUTNJCAOJ6RLK6OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODUDIGLOQPDWNPDWCXSGN4TOUPJJJRCPPG6E43EOVW5XGIXNVZRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRQVY3COIO5G75372R3NL6JXQP5D4XHQY6IDP6KWJKLUUSQRAXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZRLGKHJTV3UDKLF5EGT6SXJA5VGM5ZDLOBLLCMVPW57BETDDGCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UKFMZSN6MIECPW26SXDZKJC527TUHOR7CH2MBHUUXPEVWCPHBEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZAIXPLB6LDCHRVI7QMFXUBJI2SQEWKCPCNS55FZFKNW6IQVVDXPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS6QZ5NCSH2FQT7MIKFQSMZCYHUGVLVEG5XV2QXYPVU2BANJO7QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAMPGZAN3JNNVNRNYYBMT2SMJXTVZAPIFL2D7SXLWVL6RZEAEJNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LTQHZURWTL3E77MNJ3JHUA5JIZUQYQ5C2WNIOSR4UY6AJMADKLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NR7XITDMC2CBSAQFUHMCZZZNJQPFAZFVJSKZB5R5IIWCW6RDNWMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PTHTKPCUVRDJSLYX7SOU3JYTLFLJPQ7XMLYNI5ULCV5HPGHKNWKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63AOSCTLZ5RO6M6HY3DJK5M2OEQY6JLBBUHNUAC3TCKROF652WFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW2AXNVO2XGYE5MQOTA6KHLKX72RRBENAQULVQTSSKARWZA2HKDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWOLWSMVEDVVC5RP3TNKOZTBQTDNIAVABFXAGSDPLUASDUDTKKVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYI7EKC5RICSGDCTHBYKCPIS7M7OYV6LIJ2O3C5SCAVTRN65ZFSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKDR6F3CLAANVRJPXXEJCOFVGYVOBTLUKKFVBUAL2PJI6JXABRHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WP3ZOJLMMUTMTHYLS3IC55HLPUN36BNCZ45YCN6ECTTFVPAXZDBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUJO2YYHWHGJJNF3CA47C5PGLNBDIDULLX6ZHJMG3ZQ3MDHIIYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZNFJONIZ6CPPC52XOIRUXY3FYOU52CO7VXHPNLBNHSTVOH4U56Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XNF3VZFCKT3DCLT3F7VOY5GA3PP7FSZJEOE52HTCLLB6G7LTAFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBOKFYXR6KANFHNFGQFN7YRRXB3MO53HIENX2NJD5OBAQKDMCOHA/vendors.js"
            ]
        },
        "GetRepositoryCatalogData": {
            "input": {
                "type": "structure",
                "required": [
                    "repositoryName"
                ],
                "members": {
                    "registryId": {},
                    "repositoryName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "catalogData": {
                        "shape": "S20"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7HGCHSR6EKEIXDDHQHXV6CHCUL63LGQFGOC44LRRMV24Q4IHSRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZONBYKQWEZRKBOGL6N6KKISZ2J75D23GA2K4RAWMSISCEKJGEQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMPMQU5PJTENGBR7WACN7OQDVVWAMI6HVNDKNJOHRAMC44HFJDQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOIK7JBNUR4J7E7GUDF2BENFUF6B7THVQXZJSUTNJCAOJ6RLK6OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODUDIGLOQPDWNPDWCXSGN4TOUPJJJRCPPG6E43EOVW5XGIXNVZRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRQVY3COIO5G75372R3NL6JXQP5D4XHQY6IDP6KWJKLUUSQRAXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZRLGKHJTV3UDKLF5EGT6SXJA5VGM5ZDLOBLLCMVPW57BETDDGCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UKFMZSN6MIECPW26SXDZKJC527TUHOR7CH2MBHUUXPEVWCPHBEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZAIXPLB6LDCHRVI7QMFXUBJI2SQEWKCPCNS55FZFKNW6IQVVDXPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS6QZ5NCSH2FQT7MIKFQSMZCYHUGVLVEG5XV2QXYPVU2BANJO7QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAMPGZAN3JNNVNRNYYBMT2SMJXTVZAPIFL2D7SXLWVL6RZEAEJNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LTQHZURWTL3E77MNJ3JHUA5JIZUQYQ5C2WNIOSR4UY6AJMADKLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NR7XITDMC2CBSAQFUHMCZZZNJQPFAZFVJSKZB5R5IIWCW6RDNWMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PTHTKPCUVRDJSLYX7SOU3JYTLFLJPQ7XMLYNI5ULCV5HPGHKNWKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63AOSCTLZ5RO6M6HY3DJK5M2OEQY6JLBBUHNUAC3TCKROF652WFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW2AXNVO2XGYE5MQOTA6KHLKX72RRBENAQULVQTSSKARWZA2HKDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWOLWSMVEDVVC5RP3TNKOZTBQTDNIAVABFXAGSDPLUASDUDTKKVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYI7EKC5RICSGDCTHBYKCPIS7M7OYV6LIJ2O3C5SCAVTRN65ZFSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKDR6F3CLAANVRJPXXEJCOFVGYVOBTLUKKFVBUAL2PJI6JXABRHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WP3ZOJLMMUTMTHYLS3IC55HLPUN36BNCZ45YCN6ECTTFVPAXZDBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUJO2YYHWHGJJNF3CA47C5PGLNBDIDULLX6ZHJMG3ZQ3MDHIIYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZNFJONIZ6CPPC52XOIRUXY3FYOU52CO7VXHPNLBNHSTVOH4U56Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XNF3VZFCKT3DCLT3F7VOY5GA3PP7FSZJEOE52HTCLLB6G7LTAFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBOKFYXR6KANFHNFGQFN7YRRXB3MO53HIENX2NJD5OBAQKDMCOHA/vendors.js"
            ]
        },
        "GetRepositoryCatalogDataInternal": {
            "input": {
                "type": "structure",
                "required": [
                    "registryAliasName",
                    "repositoryName"
                ],
                "members": {
                    "registryAliasName": {},
                    "repositoryName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "catalogData": {
                        "shape": "S20"
                    },
                    "insightData": {
                        "shape": "S3m"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7HGCHSR6EKEIXDDHQHXV6CHCUL63LGQFGOC44LRRMV24Q4IHSRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZONBYKQWEZRKBOGL6N6KKISZ2J75D23GA2K4RAWMSISCEKJGEQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMPMQU5PJTENGBR7WACN7OQDVVWAMI6HVNDKNJOHRAMC44HFJDQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOIK7JBNUR4J7E7GUDF2BENFUF6B7THVQXZJSUTNJCAOJ6RLK6OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODUDIGLOQPDWNPDWCXSGN4TOUPJJJRCPPG6E43EOVW5XGIXNVZRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRQVY3COIO5G75372R3NL6JXQP5D4XHQY6IDP6KWJKLUUSQRAXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZRLGKHJTV3UDKLF5EGT6SXJA5VGM5ZDLOBLLCMVPW57BETDDGCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UKFMZSN6MIECPW26SXDZKJC527TUHOR7CH2MBHUUXPEVWCPHBEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZAIXPLB6LDCHRVI7QMFXUBJI2SQEWKCPCNS55FZFKNW6IQVVDXPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS6QZ5NCSH2FQT7MIKFQSMZCYHUGVLVEG5XV2QXYPVU2BANJO7QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAMPGZAN3JNNVNRNYYBMT2SMJXTVZAPIFL2D7SXLWVL6RZEAEJNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LTQHZURWTL3E77MNJ3JHUA5JIZUQYQ5C2WNIOSR4UY6AJMADKLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NR7XITDMC2CBSAQFUHMCZZZNJQPFAZFVJSKZB5R5IIWCW6RDNWMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PTHTKPCUVRDJSLYX7SOU3JYTLFLJPQ7XMLYNI5ULCV5HPGHKNWKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63AOSCTLZ5RO6M6HY3DJK5M2OEQY6JLBBUHNUAC3TCKROF652WFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW2AXNVO2XGYE5MQOTA6KHLKX72RRBENAQULVQTSSKARWZA2HKDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWOLWSMVEDVVC5RP3TNKOZTBQTDNIAVABFXAGSDPLUASDUDTKKVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYI7EKC5RICSGDCTHBYKCPIS7M7OYV6LIJ2O3C5SCAVTRN65ZFSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKDR6F3CLAANVRJPXXEJCOFVGYVOBTLUKKFVBUAL2PJI6JXABRHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WP3ZOJLMMUTMTHYLS3IC55HLPUN36BNCZ45YCN6ECTTFVPAXZDBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUJO2YYHWHGJJNF3CA47C5PGLNBDIDULLX6ZHJMG3ZQ3MDHIIYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZNFJONIZ6CPPC52XOIRUXY3FYOU52CO7VXHPNLBNHSTVOH4U56Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XNF3VZFCKT3DCLT3F7VOY5GA3PP7FSZJEOE52HTCLLB6G7LTAFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBOKFYXR6KANFHNFGQFN7YRRXB3MO53HIENX2NJD5OBAQKDMCOHA/vendors.js"
            ]
        },
        "GetRepositoryPolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "repositoryName"
                ],
                "members": {
                    "registryId": {},
                    "repositoryName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "registryId": {},
                    "repositoryName": {},
                    "policyText": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7HGCHSR6EKEIXDDHQHXV6CHCUL63LGQFGOC44LRRMV24Q4IHSRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZONBYKQWEZRKBOGL6N6KKISZ2J75D23GA2K4RAWMSISCEKJGEQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMPMQU5PJTENGBR7WACN7OQDVVWAMI6HVNDKNJOHRAMC44HFJDQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOIK7JBNUR4J7E7GUDF2BENFUF6B7THVQXZJSUTNJCAOJ6RLK6OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODUDIGLOQPDWNPDWCXSGN4TOUPJJJRCPPG6E43EOVW5XGIXNVZRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRQVY3COIO5G75372R3NL6JXQP5D4XHQY6IDP6KWJKLUUSQRAXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZRLGKHJTV3UDKLF5EGT6SXJA5VGM5ZDLOBLLCMVPW57BETDDGCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UKFMZSN6MIECPW26SXDZKJC527TUHOR7CH2MBHUUXPEVWCPHBEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZAIXPLB6LDCHRVI7QMFXUBJI2SQEWKCPCNS55FZFKNW6IQVVDXPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS6QZ5NCSH2FQT7MIKFQSMZCYHUGVLVEG5XV2QXYPVU2BANJO7QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAMPGZAN3JNNVNRNYYBMT2SMJXTVZAPIFL2D7SXLWVL6RZEAEJNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LTQHZURWTL3E77MNJ3JHUA5JIZUQYQ5C2WNIOSR4UY6AJMADKLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NR7XITDMC2CBSAQFUHMCZZZNJQPFAZFVJSKZB5R5IIWCW6RDNWMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PTHTKPCUVRDJSLYX7SOU3JYTLFLJPQ7XMLYNI5ULCV5HPGHKNWKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63AOSCTLZ5RO6M6HY3DJK5M2OEQY6JLBBUHNUAC3TCKROF652WFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW2AXNVO2XGYE5MQOTA6KHLKX72RRBENAQULVQTSSKARWZA2HKDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWOLWSMVEDVVC5RP3TNKOZTBQTDNIAVABFXAGSDPLUASDUDTKKVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYI7EKC5RICSGDCTHBYKCPIS7M7OYV6LIJ2O3C5SCAVTRN65ZFSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKDR6F3CLAANVRJPXXEJCOFVGYVOBTLUKKFVBUAL2PJI6JXABRHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WP3ZOJLMMUTMTHYLS3IC55HLPUN36BNCZ45YCN6ECTTFVPAXZDBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUJO2YYHWHGJJNF3CA47C5PGLNBDIDULLX6ZHJMG3ZQ3MDHIIYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZNFJONIZ6CPPC52XOIRUXY3FYOU52CO7VXHPNLBNHSTVOH4U56Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XNF3VZFCKT3DCLT3F7VOY5GA3PP7FSZJEOE52HTCLLB6G7LTAFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBOKFYXR6KANFHNFGQFN7YRRXB3MO53HIENX2NJD5OBAQKDMCOHA/vendors.js"
            ]
        },
        "InitiateLayerUpload": {
            "input": {
                "type": "structure",
                "required": [
                    "repositoryName"
                ],
                "members": {
                    "registryId": {},
                    "repositoryName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "uploadId": {},
                    "partSize": {
                        "type": "long"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7HGCHSR6EKEIXDDHQHXV6CHCUL63LGQFGOC44LRRMV24Q4IHSRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZONBYKQWEZRKBOGL6N6KKISZ2J75D23GA2K4RAWMSISCEKJGEQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMPMQU5PJTENGBR7WACN7OQDVVWAMI6HVNDKNJOHRAMC44HFJDQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOIK7JBNUR4J7E7GUDF2BENFUF6B7THVQXZJSUTNJCAOJ6RLK6OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODUDIGLOQPDWNPDWCXSGN4TOUPJJJRCPPG6E43EOVW5XGIXNVZRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRQVY3COIO5G75372R3NL6JXQP5D4XHQY6IDP6KWJKLUUSQRAXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZRLGKHJTV3UDKLF5EGT6SXJA5VGM5ZDLOBLLCMVPW57BETDDGCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UKFMZSN6MIECPW26SXDZKJC527TUHOR7CH2MBHUUXPEVWCPHBEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZAIXPLB6LDCHRVI7QMFXUBJI2SQEWKCPCNS55FZFKNW6IQVVDXPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS6QZ5NCSH2FQT7MIKFQSMZCYHUGVLVEG5XV2QXYPVU2BANJO7QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAMPGZAN3JNNVNRNYYBMT2SMJXTVZAPIFL2D7SXLWVL6RZEAEJNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LTQHZURWTL3E77MNJ3JHUA5JIZUQYQ5C2WNIOSR4UY6AJMADKLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NR7XITDMC2CBSAQFUHMCZZZNJQPFAZFVJSKZB5R5IIWCW6RDNWMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PTHTKPCUVRDJSLYX7SOU3JYTLFLJPQ7XMLYNI5ULCV5HPGHKNWKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63AOSCTLZ5RO6M6HY3DJK5M2OEQY6JLBBUHNUAC3TCKROF652WFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW2AXNVO2XGYE5MQOTA6KHLKX72RRBENAQULVQTSSKARWZA2HKDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWOLWSMVEDVVC5RP3TNKOZTBQTDNIAVABFXAGSDPLUASDUDTKKVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYI7EKC5RICSGDCTHBYKCPIS7M7OYV6LIJ2O3C5SCAVTRN65ZFSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKDR6F3CLAANVRJPXXEJCOFVGYVOBTLUKKFVBUAL2PJI6JXABRHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WP3ZOJLMMUTMTHYLS3IC55HLPUN36BNCZ45YCN6ECTTFVPAXZDBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUJO2YYHWHGJJNF3CA47C5PGLNBDIDULLX6ZHJMG3ZQ3MDHIIYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZNFJONIZ6CPPC52XOIRUXY3FYOU52CO7VXHPNLBNHSTVOH4U56Q/vendors.js",
[...]
