{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2023-02-10",
        "auth": [
            "aws.auth#sigv4"
        ],
        "endpointPrefix": "pcs",
        "jsonVersion": "1.0",
        "protocol": "json",
        "protocols": [
            "json"
        ],
        "ripServiceName": "pcs",
        "serviceAbbreviation": "PCS",
        "serviceFullName": "AWS Parallel Computing Service",
        "serviceId": "PCS",
        "signatureVersion": "v4",
        "signingName": "pcs",
        "targetPrefix": "AWSParallelComputingService",
        "uid": "pcs-2023-02-10",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/P5WBDBHIW4CFRWAWUGIDYCE2UFYHEKCL6Q62XG7MXZTJGOKF7S7A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EKRBRCC3KAM27LRF4RITFEW6SCE6UDVM42CCZSGAL275I7EUCIAA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CS26GS5NEGJIOXM2OG2P2VIPIC66G2XU3EET23G26BASNOFM2G5Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XBR45TLXZYMBD2FSHZDFYRANPHLOVEXWKRPGVEOBAHP5FEZSKEWA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/24ETKUBZJ74VNG7SERHXQJUPTGIROSAY3HZMP5RYPHR2HJCJOWPA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/F6SHNCXRJMG2QKGEGXE43ALX6J2KSZHIRWIFBAAUMEMJ2PW6EMDQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IXUMLPQOWPDYNQUUSGY32ZEAGI7NO3TOP55DEHLA4ZBFIS6RIMMA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IDWNCJKMHG7YULMGMXX525VSWF7TIJHZJZSYKAW7CILKB65VAAXQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BVSCVLWULYZI23EKM6NGQ62W6XBVH25R65MS3WXHU6R2VZYXTDAA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YSAAXIAC3A7LH7JLL4ANYOAOWB3PGWIQSBXVSA356VZJJTEOTZNA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HNL5XKBH3JK2O2FFLQESKDMKISOO6IWJQMYETZ33GSG5XDCTBJEQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EA5NKBRIYAQWUMWRS2746WEGEKOSVSTCIOU2DZ5XFBILIT5U54PQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QRIK53YMWAQF2O3LG7RY7FPYJ2H7RVILPYWS2STGTUIINDY2SUYQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6G24VT4QH6IVH2WZYLEPH4F3VK7D27RXK3INRUOKYFROEKYUHSVQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HPELZX3SKIIK3GLEA7BOSJKAJCBLCUFV2IOVN6WIIVQCAVGFM3CQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GOL6UNQSH4YGHC22NEDZLZUFFH4P32V4SAZOFDQKZUEXSWJKB6KA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WIB6T4SZ65KYSJVAPEZSM3PI3KSCIMCESZSHWNPR74TKCY4CUFIQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JJVWECM4XNSEEMONJ4YV4PJEF7YHCKNXKXW5475EVNZ2ABJKUM6A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PZ6KBZWHP5AZCG6TCCV7SOA2E2RVG7OVSVNPFZCTFPF2MJAP2PAQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AJ34LJ4BEIE2UYNF5LAL6K2XCBZ4M7AOHBVZK2KN7VEV5U4I5GAQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DT5FC5Z6XW4FZ45ZT7M5JJTMFSCHXNET4V6JWLAW4TRPU4SM2VPA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6GATSMGQNJJVA7BNBE7OVYX3O3BLTNLLSSYWGTAB52YNFBFHZDNQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/N2F2DY3PBM74OR67G4RELXH5RWOFJVMZQ4I4VULUVYQZH4FJFOVA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3XHKQLIO2QNMR3EYW75XWS6RLDVFYNFYCPCBM6UHOWCZTTJZEDEQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KYJWFE7T2HJUQ4OCVNRXXHJXD5KJBEDHLDW7LLXI3NFSIKH3HE7Q/vendors.js"
        ]
    },
    "operations": {
        "AllowVendedLogDeliveryForResource": {
            "input": {
                "type": "structure",
                "required": [
                    "resourceArnBeingAuthorized",
                    "deliverySourceArn"
                ],
                "members": {
                    "resourceArnBeingAuthorized": {},
                    "deliverySourceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "message": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKRBRCC3KAM27LRF4RITFEW6SCE6UDVM42CCZSGAL275I7EUCIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CS26GS5NEGJIOXM2OG2P2VIPIC66G2XU3EET23G26BASNOFM2G5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBR45TLXZYMBD2FSHZDFYRANPHLOVEXWKRPGVEOBAHP5FEZSKEWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24ETKUBZJ74VNG7SERHXQJUPTGIROSAY3HZMP5RYPHR2HJCJOWPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6SHNCXRJMG2QKGEGXE43ALX6J2KSZHIRWIFBAAUMEMJ2PW6EMDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXUMLPQOWPDYNQUUSGY32ZEAGI7NO3TOP55DEHLA4ZBFIS6RIMMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDWNCJKMHG7YULMGMXX525VSWF7TIJHZJZSYKAW7CILKB65VAAXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVSCVLWULYZI23EKM6NGQ62W6XBVH25R65MS3WXHU6R2VZYXTDAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YSAAXIAC3A7LH7JLL4ANYOAOWB3PGWIQSBXVSA356VZJJTEOTZNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNL5XKBH3JK2O2FFLQESKDMKISOO6IWJQMYETZ33GSG5XDCTBJEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EA5NKBRIYAQWUMWRS2746WEGEKOSVSTCIOU2DZ5XFBILIT5U54PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRIK53YMWAQF2O3LG7RY7FPYJ2H7RVILPYWS2STGTUIINDY2SUYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6G24VT4QH6IVH2WZYLEPH4F3VK7D27RXK3INRUOKYFROEKYUHSVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPELZX3SKIIK3GLEA7BOSJKAJCBLCUFV2IOVN6WIIVQCAVGFM3CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOL6UNQSH4YGHC22NEDZLZUFFH4P32V4SAZOFDQKZUEXSWJKB6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIB6T4SZ65KYSJVAPEZSM3PI3KSCIMCESZSHWNPR74TKCY4CUFIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJVWECM4XNSEEMONJ4YV4PJEF7YHCKNXKXW5475EVNZ2ABJKUM6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZ6KBZWHP5AZCG6TCCV7SOA2E2RVG7OVSVNPFZCTFPF2MJAP2PAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ34LJ4BEIE2UYNF5LAL6K2XCBZ4M7AOHBVZK2KN7VEV5U4I5GAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DT5FC5Z6XW4FZ45ZT7M5JJTMFSCHXNET4V6JWLAW4TRPU4SM2VPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6GATSMGQNJJVA7BNBE7OVYX3O3BLTNLLSSYWGTAB52YNFBFHZDNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N2F2DY3PBM74OR67G4RELXH5RWOFJVMZQ4I4VULUVYQZH4FJFOVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3XHKQLIO2QNMR3EYW75XWS6RLDVFYNFYCPCBM6UHOWCZTTJZEDEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYJWFE7T2HJUQ4OCVNRXXHJXD5KJBEDHLDW7LLXI3NFSIKH3HE7Q/vendors.js"
            ]
        },
        "CreateCluster": {
            "input": {
                "type": "structure",
                "required": [
                    "clusterName",
                    "scheduler",
                    "size",
                    "networking"
                ],
                "members": {
                    "capiAwsAccountId": {
                        "internalonly": true
                    },
                    "awsEc2InstanceArn": {
                        "internalonly": true
                    },
                    "capiAwsPayerToken": {
                        "internalonly": true
                    },
                    "capiEncryptedFasToken": {
                        "shape": "S7",
                        "internalonly": true
                    },
                    "capiEncryptedFasDataKey": {
                        "shape": "S7",
                        "internalonly": true
                    },
                    "resourceId": {
                        "internalonly": true
                    },
                    "clusterName": {},
                    "scheduler": {
                        "type": "structure",
                        "required": [
                            "type",
                            "version"
                        ],
                        "members": {
                            "type": {},
                            "version": {}
                        }
                    },
                    "size": {},
                    "networking": {
                        "type": "structure",
                        "members": {
                            "subnetIds": {
                                "shape": "Sd"
                            },
                            "securityGroupIds": {
                                "shape": "Sf"
                            }
                        }
                    },
                    "slurmConfiguration": {
                        "type": "structure",
                        "members": {
                            "scaleDownIdleTimeInSeconds": {
                                "type": "integer"
                            },
                            "slurmCustomSettings": {
                                "shape": "Sj"
                            }
                        }
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "tags": {
                        "shape": "Sm"
                    },
                    "capiAllowedFeatures": {
                        "shape": "S7",
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "cluster": {
                        "shape": "Sq"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKRBRCC3KAM27LRF4RITFEW6SCE6UDVM42CCZSGAL275I7EUCIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CS26GS5NEGJIOXM2OG2P2VIPIC66G2XU3EET23G26BASNOFM2G5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBR45TLXZYMBD2FSHZDFYRANPHLOVEXWKRPGVEOBAHP5FEZSKEWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24ETKUBZJ74VNG7SERHXQJUPTGIROSAY3HZMP5RYPHR2HJCJOWPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6SHNCXRJMG2QKGEGXE43ALX6J2KSZHIRWIFBAAUMEMJ2PW6EMDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXUMLPQOWPDYNQUUSGY32ZEAGI7NO3TOP55DEHLA4ZBFIS6RIMMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDWNCJKMHG7YULMGMXX525VSWF7TIJHZJZSYKAW7CILKB65VAAXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVSCVLWULYZI23EKM6NGQ62W6XBVH25R65MS3WXHU6R2VZYXTDAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YSAAXIAC3A7LH7JLL4ANYOAOWB3PGWIQSBXVSA356VZJJTEOTZNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNL5XKBH3JK2O2FFLQESKDMKISOO6IWJQMYETZ33GSG5XDCTBJEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EA5NKBRIYAQWUMWRS2746WEGEKOSVSTCIOU2DZ5XFBILIT5U54PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRIK53YMWAQF2O3LG7RY7FPYJ2H7RVILPYWS2STGTUIINDY2SUYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6G24VT4QH6IVH2WZYLEPH4F3VK7D27RXK3INRUOKYFROEKYUHSVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPELZX3SKIIK3GLEA7BOSJKAJCBLCUFV2IOVN6WIIVQCAVGFM3CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOL6UNQSH4YGHC22NEDZLZUFFH4P32V4SAZOFDQKZUEXSWJKB6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIB6T4SZ65KYSJVAPEZSM3PI3KSCIMCESZSHWNPR74TKCY4CUFIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJVWECM4XNSEEMONJ4YV4PJEF7YHCKNXKXW5475EVNZ2ABJKUM6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZ6KBZWHP5AZCG6TCCV7SOA2E2RVG7OVSVNPFZCTFPF2MJAP2PAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ34LJ4BEIE2UYNF5LAL6K2XCBZ4M7AOHBVZK2KN7VEV5U4I5GAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DT5FC5Z6XW4FZ45ZT7M5JJTMFSCHXNET4V6JWLAW4TRPU4SM2VPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6GATSMGQNJJVA7BNBE7OVYX3O3BLTNLLSSYWGTAB52YNFBFHZDNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N2F2DY3PBM74OR67G4RELXH5RWOFJVMZQ4I4VULUVYQZH4FJFOVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3XHKQLIO2QNMR3EYW75XWS6RLDVFYNFYCPCBM6UHOWCZTTJZEDEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYJWFE7T2HJUQ4OCVNRXXHJXD5KJBEDHLDW7LLXI3NFSIKH3HE7Q/vendors.js"
            ]
        },
        "CreateComputeNodeGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "clusterIdentifier",
                    "computeNodeGroupName",
                    "subnetIds",
                    "customLaunchTemplate",
                    "iamInstanceProfileArn",
                    "scalingConfiguration",
                    "instanceConfigs"
                ],
                "members": {
                    "capiAwsAccountId": {
                        "internalonly": true
                    },
                    "awsEc2InstanceArn": {
                        "internalonly": true
                    },
                    "capiAwsPayerToken": {
                        "internalonly": true
                    },
                    "capiEncryptedFasToken": {
                        "shape": "S7",
                        "internalonly": true
                    },
                    "capiEncryptedFasDataKey": {
                        "shape": "S7",
                        "internalonly": true
                    },
                    "resourceId": {
                        "internalonly": true
                    },
                    "clusterIdentifier": {},
                    "computeNodeGroupName": {},
                    "amiId": {},
                    "subnetIds": {
                        "shape": "S17"
                    },
                    "purchaseOption": {},
                    "customLaunchTemplate": {
                        "shape": "S19"
                    },
                    "iamInstanceProfileArn": {},
                    "scalingConfiguration": {
                        "shape": "S1b"
                    },
                    "instanceConfigs": {
                        "shape": "S1e"
                    },
                    "spotOptions": {
                        "shape": "S1g"
                    },
                    "slurmConfiguration": {
                        "type": "structure",
                        "members": {
                            "slurmCustomSettings": {
                                "shape": "Sj"
                            }
                        }
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "tags": {
                        "shape": "Sm"
                    },
                    "capiAllowedFeatures": {
                        "shape": "S7",
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "computeNodeGroup": {
                        "shape": "S1k"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKRBRCC3KAM27LRF4RITFEW6SCE6UDVM42CCZSGAL275I7EUCIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CS26GS5NEGJIOXM2OG2P2VIPIC66G2XU3EET23G26BASNOFM2G5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBR45TLXZYMBD2FSHZDFYRANPHLOVEXWKRPGVEOBAHP5FEZSKEWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24ETKUBZJ74VNG7SERHXQJUPTGIROSAY3HZMP5RYPHR2HJCJOWPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6SHNCXRJMG2QKGEGXE43ALX6J2KSZHIRWIFBAAUMEMJ2PW6EMDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXUMLPQOWPDYNQUUSGY32ZEAGI7NO3TOP55DEHLA4ZBFIS6RIMMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDWNCJKMHG7YULMGMXX525VSWF7TIJHZJZSYKAW7CILKB65VAAXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVSCVLWULYZI23EKM6NGQ62W6XBVH25R65MS3WXHU6R2VZYXTDAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YSAAXIAC3A7LH7JLL4ANYOAOWB3PGWIQSBXVSA356VZJJTEOTZNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNL5XKBH3JK2O2FFLQESKDMKISOO6IWJQMYETZ33GSG5XDCTBJEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EA5NKBRIYAQWUMWRS2746WEGEKOSVSTCIOU2DZ5XFBILIT5U54PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRIK53YMWAQF2O3LG7RY7FPYJ2H7RVILPYWS2STGTUIINDY2SUYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6G24VT4QH6IVH2WZYLEPH4F3VK7D27RXK3INRUOKYFROEKYUHSVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPELZX3SKIIK3GLEA7BOSJKAJCBLCUFV2IOVN6WIIVQCAVGFM3CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOL6UNQSH4YGHC22NEDZLZUFFH4P32V4SAZOFDQKZUEXSWJKB6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIB6T4SZ65KYSJVAPEZSM3PI3KSCIMCESZSHWNPR74TKCY4CUFIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJVWECM4XNSEEMONJ4YV4PJEF7YHCKNXKXW5475EVNZ2ABJKUM6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZ6KBZWHP5AZCG6TCCV7SOA2E2RVG7OVSVNPFZCTFPF2MJAP2PAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ34LJ4BEIE2UYNF5LAL6K2XCBZ4M7AOHBVZK2KN7VEV5U4I5GAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DT5FC5Z6XW4FZ45ZT7M5JJTMFSCHXNET4V6JWLAW4TRPU4SM2VPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6GATSMGQNJJVA7BNBE7OVYX3O3BLTNLLSSYWGTAB52YNFBFHZDNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N2F2DY3PBM74OR67G4RELXH5RWOFJVMZQ4I4VULUVYQZH4FJFOVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3XHKQLIO2QNMR3EYW75XWS6RLDVFYNFYCPCBM6UHOWCZTTJZEDEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYJWFE7T2HJUQ4OCVNRXXHJXD5KJBEDHLDW7LLXI3NFSIKH3HE7Q/vendors.js"
            ]
        },
        "CreateQueue": {
            "input": {
                "type": "structure",
                "required": [
                    "clusterIdentifier",
                    "queueName"
                ],
                "members": {
                    "capiAwsAccountId": {
                        "internalonly": true
                    },
                    "awsEc2InstanceArn": {
                        "internalonly": true
                    },
                    "capiAwsPayerToken": {
                        "internalonly": true
                    },
                    "capiEncryptedFasToken": {
                        "shape": "S7",
                        "internalonly": true
                    },
                    "capiEncryptedFasDataKey": {
                        "shape": "S7",
                        "internalonly": true
                    },
                    "resourceId": {
                        "internalonly": true
                    },
                    "clusterIdentifier": {},
                    "queueName": {},
                    "computeNodeGroupConfigurations": {
                        "shape": "S1s"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "tags": {
                        "shape": "Sm"
                    },
                    "capiAllowedFeatures": {
                        "shape": "S7",
                        "internalonly": true
                    },
                    "slurmConfiguration": {
                        "shape": "S22"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "queue": {
                        "shape": "S1v"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKRBRCC3KAM27LRF4RITFEW6SCE6UDVM42CCZSGAL275I7EUCIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CS26GS5NEGJIOXM2OG2P2VIPIC66G2XU3EET23G26BASNOFM2G5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBR45TLXZYMBD2FSHZDFYRANPHLOVEXWKRPGVEOBAHP5FEZSKEWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24ETKUBZJ74VNG7SERHXQJUPTGIROSAY3HZMP5RYPHR2HJCJOWPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6SHNCXRJMG2QKGEGXE43ALX6J2KSZHIRWIFBAAUMEMJ2PW6EMDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXUMLPQOWPDYNQUUSGY32ZEAGI7NO3TOP55DEHLA4ZBFIS6RIMMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDWNCJKMHG7YULMGMXX525VSWF7TIJHZJZSYKAW7CILKB65VAAXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVSCVLWULYZI23EKM6NGQ62W6XBVH25R65MS3WXHU6R2VZYXTDAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YSAAXIAC3A7LH7JLL4ANYOAOWB3PGWIQSBXVSA356VZJJTEOTZNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNL5XKBH3JK2O2FFLQESKDMKISOO6IWJQMYETZ33GSG5XDCTBJEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EA5NKBRIYAQWUMWRS2746WEGEKOSVSTCIOU2DZ5XFBILIT5U54PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRIK53YMWAQF2O3LG7RY7FPYJ2H7RVILPYWS2STGTUIINDY2SUYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6G24VT4QH6IVH2WZYLEPH4F3VK7D27RXK3INRUOKYFROEKYUHSVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPELZX3SKIIK3GLEA7BOSJKAJCBLCUFV2IOVN6WIIVQCAVGFM3CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOL6UNQSH4YGHC22NEDZLZUFFH4P32V4SAZOFDQKZUEXSWJKB6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIB6T4SZ65KYSJVAPEZSM3PI3KSCIMCESZSHWNPR74TKCY4CUFIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJVWECM4XNSEEMONJ4YV4PJEF7YHCKNXKXW5475EVNZ2ABJKUM6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZ6KBZWHP5AZCG6TCCV7SOA2E2RVG7OVSVNPFZCTFPF2MJAP2PAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ34LJ4BEIE2UYNF5LAL6K2XCBZ4M7AOHBVZK2KN7VEV5U4I5GAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DT5FC5Z6XW4FZ45ZT7M5JJTMFSCHXNET4V6JWLAW4TRPU4SM2VPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6GATSMGQNJJVA7BNBE7OVYX3O3BLTNLLSSYWGTAB52YNFBFHZDNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N2F2DY3PBM74OR67G4RELXH5RWOFJVMZQ4I4VULUVYQZH4FJFOVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3XHKQLIO2QNMR3EYW75XWS6RLDVFYNFYCPCBM6UHOWCZTTJZEDEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYJWFE7T2HJUQ4OCVNRXXHJXD5KJBEDHLDW7LLXI3NFSIKH3HE7Q/vendors.js"
            ]
        },
        "DeleteCluster": {
            "input": {
                "type": "structure",
                "required": [
                    "clusterIdentifier"
                ],
                "members": {
                    "capiAwsAccountId": {
                        "internalonly": true
                    },
                    "awsEc2InstanceArn": {
                        "internalonly": true
                    },
                    "capiAwsPayerToken": {
                        "internalonly": true
                    },
                    "capiEncryptedFasToken": {
                        "shape": "S7",
                        "internalonly": true
                    },
                    "capiEncryptedFasDataKey": {
                        "shape": "S7",
                        "internalonly": true
                    },
                    "clusterIdentifier": {},
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "capiAllowedFeatures": {
                        "shape": "S7",
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKRBRCC3KAM27LRF4RITFEW6SCE6UDVM42CCZSGAL275I7EUCIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CS26GS5NEGJIOXM2OG2P2VIPIC66G2XU3EET23G26BASNOFM2G5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBR45TLXZYMBD2FSHZDFYRANPHLOVEXWKRPGVEOBAHP5FEZSKEWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24ETKUBZJ74VNG7SERHXQJUPTGIROSAY3HZMP5RYPHR2HJCJOWPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6SHNCXRJMG2QKGEGXE43ALX6J2KSZHIRWIFBAAUMEMJ2PW6EMDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXUMLPQOWPDYNQUUSGY32ZEAGI7NO3TOP55DEHLA4ZBFIS6RIMMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDWNCJKMHG7YULMGMXX525VSWF7TIJHZJZSYKAW7CILKB65VAAXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVSCVLWULYZI23EKM6NGQ62W6XBVH25R65MS3WXHU6R2VZYXTDAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YSAAXIAC3A7LH7JLL4ANYOAOWB3PGWIQSBXVSA356VZJJTEOTZNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNL5XKBH3JK2O2FFLQESKDMKISOO6IWJQMYETZ33GSG5XDCTBJEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EA5NKBRIYAQWUMWRS2746WEGEKOSVSTCIOU2DZ5XFBILIT5U54PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRIK53YMWAQF2O3LG7RY7FPYJ2H7RVILPYWS2STGTUIINDY2SUYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6G24VT4QH6IVH2WZYLEPH4F3VK7D27RXK3INRUOKYFROEKYUHSVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPELZX3SKIIK3GLEA7BOSJKAJCBLCUFV2IOVN6WIIVQCAVGFM3CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOL6UNQSH4YGHC22NEDZLZUFFH4P32V4SAZOFDQKZUEXSWJKB6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIB6T4SZ65KYSJVAPEZSM3PI3KSCIMCESZSHWNPR74TKCY4CUFIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJVWECM4XNSEEMONJ4YV4PJEF7YHCKNXKXW5475EVNZ2ABJKUM6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZ6KBZWHP5AZCG6TCCV7SOA2E2RVG7OVSVNPFZCTFPF2MJAP2PAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ34LJ4BEIE2UYNF5LAL6K2XCBZ4M7AOHBVZK2KN7VEV5U4I5GAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DT5FC5Z6XW4FZ45ZT7M5JJTMFSCHXNET4V6JWLAW4TRPU4SM2VPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6GATSMGQNJJVA7BNBE7OVYX3O3BLTNLLSSYWGTAB52YNFBFHZDNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N2F2DY3PBM74OR67G4RELXH5RWOFJVMZQ4I4VULUVYQZH4FJFOVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3XHKQLIO2QNMR3EYW75XWS6RLDVFYNFYCPCBM6UHOWCZTTJZEDEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYJWFE7T2HJUQ4OCVNRXXHJXD5KJBEDHLDW7LLXI3NFSIKH3HE7Q/vendors.js"
            ]
        },
        "DeleteComputeNodeGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "clusterIdentifier",
                    "computeNodeGroupIdentifier"
                ],
                "members": {
                    "capiAwsAccountId": {
                        "internalonly": true
                    },
                    "awsEc2InstanceArn": {
                        "internalonly": true
                    },
                    "capiAwsPayerToken": {
                        "internalonly": true
                    },
                    "capiEncryptedFasToken": {
                        "shape": "S7",
                        "internalonly": true
                    },
                    "capiEncryptedFasDataKey": {
                        "shape": "S7",
                        "internalonly": true
                    },
                    "clusterIdentifier": {},
                    "computeNodeGroupIdentifier": {},
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "capiAllowedFeatures": {
                        "shape": "S7",
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKRBRCC3KAM27LRF4RITFEW6SCE6UDVM42CCZSGAL275I7EUCIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CS26GS5NEGJIOXM2OG2P2VIPIC66G2XU3EET23G26BASNOFM2G5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBR45TLXZYMBD2FSHZDFYRANPHLOVEXWKRPGVEOBAHP5FEZSKEWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24ETKUBZJ74VNG7SERHXQJUPTGIROSAY3HZMP5RYPHR2HJCJOWPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6SHNCXRJMG2QKGEGXE43ALX6J2KSZHIRWIFBAAUMEMJ2PW6EMDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXUMLPQOWPDYNQUUSGY32ZEAGI7NO3TOP55DEHLA4ZBFIS6RIMMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDWNCJKMHG7YULMGMXX525VSWF7TIJHZJZSYKAW7CILKB65VAAXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVSCVLWULYZI23EKM6NGQ62W6XBVH25R65MS3WXHU6R2VZYXTDAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YSAAXIAC3A7LH7JLL4ANYOAOWB3PGWIQSBXVSA356VZJJTEOTZNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNL5XKBH3JK2O2FFLQESKDMKISOO6IWJQMYETZ33GSG5XDCTBJEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EA5NKBRIYAQWUMWRS2746WEGEKOSVSTCIOU2DZ5XFBILIT5U54PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRIK53YMWAQF2O3LG7RY7FPYJ2H7RVILPYWS2STGTUIINDY2SUYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6G24VT4QH6IVH2WZYLEPH4F3VK7D27RXK3INRUOKYFROEKYUHSVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPELZX3SKIIK3GLEA7BOSJKAJCBLCUFV2IOVN6WIIVQCAVGFM3CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOL6UNQSH4YGHC22NEDZLZUFFH4P32V4SAZOFDQKZUEXSWJKB6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIB6T4SZ65KYSJVAPEZSM3PI3KSCIMCESZSHWNPR74TKCY4CUFIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJVWECM4XNSEEMONJ4YV4PJEF7YHCKNXKXW5475EVNZ2ABJKUM6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZ6KBZWHP5AZCG6TCCV7SOA2E2RVG7OVSVNPFZCTFPF2MJAP2PAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ34LJ4BEIE2UYNF5LAL6K2XCBZ4M7AOHBVZK2KN7VEV5U4I5GAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DT5FC5Z6XW4FZ45ZT7M5JJTMFSCHXNET4V6JWLAW4TRPU4SM2VPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6GATSMGQNJJVA7BNBE7OVYX3O3BLTNLLSSYWGTAB52YNFBFHZDNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N2F2DY3PBM74OR67G4RELXH5RWOFJVMZQ4I4VULUVYQZH4FJFOVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3XHKQLIO2QNMR3EYW75XWS6RLDVFYNFYCPCBM6UHOWCZTTJZEDEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYJWFE7T2HJUQ4OCVNRXXHJXD5KJBEDHLDW7LLXI3NFSIKH3HE7Q/vendors.js"
            ]
        },
        "DeleteQueue": {
            "input": {
                "type": "structure",
                "required": [
                    "clusterIdentifier",
                    "queueIdentifier"
                ],
                "members": {
                    "capiAwsAccountId": {
                        "internalonly": true
                    },
                    "awsEc2InstanceArn": {
                        "internalonly": true
                    },
                    "capiAwsPayerToken": {
                        "internalonly": true
                    },
                    "capiEncryptedFasToken": {
                        "shape": "S7",
                        "internalonly": true
                    },
                    "capiEncryptedFasDataKey": {
                        "shape": "S7",
                        "internalonly": true
                    },
                    "clusterIdentifier": {},
                    "queueIdentifier": {},
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "capiAllowedFeatures": {
                        "shape": "S7",
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKRBRCC3KAM27LRF4RITFEW6SCE6UDVM42CCZSGAL275I7EUCIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CS26GS5NEGJIOXM2OG2P2VIPIC66G2XU3EET23G26BASNOFM2G5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBR45TLXZYMBD2FSHZDFYRANPHLOVEXWKRPGVEOBAHP5FEZSKEWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24ETKUBZJ74VNG7SERHXQJUPTGIROSAY3HZMP5RYPHR2HJCJOWPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6SHNCXRJMG2QKGEGXE43ALX6J2KSZHIRWIFBAAUMEMJ2PW6EMDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXUMLPQOWPDYNQUUSGY32ZEAGI7NO3TOP55DEHLA4ZBFIS6RIMMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDWNCJKMHG7YULMGMXX525VSWF7TIJHZJZSYKAW7CILKB65VAAXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVSCVLWULYZI23EKM6NGQ62W6XBVH25R65MS3WXHU6R2VZYXTDAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YSAAXIAC3A7LH7JLL4ANYOAOWB3PGWIQSBXVSA356VZJJTEOTZNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNL5XKBH3JK2O2FFLQESKDMKISOO6IWJQMYETZ33GSG5XDCTBJEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EA5NKBRIYAQWUMWRS2746WEGEKOSVSTCIOU2DZ5XFBILIT5U54PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRIK53YMWAQF2O3LG7RY7FPYJ2H7RVILPYWS2STGTUIINDY2SUYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6G24VT4QH6IVH2WZYLEPH4F3VK7D27RXK3INRUOKYFROEKYUHSVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPELZX3SKIIK3GLEA7BOSJKAJCBLCUFV2IOVN6WIIVQCAVGFM3CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOL6UNQSH4YGHC22NEDZLZUFFH4P32V4SAZOFDQKZUEXSWJKB6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIB6T4SZ65KYSJVAPEZSM3PI3KSCIMCESZSHWNPR74TKCY4CUFIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJVWECM4XNSEEMONJ4YV4PJEF7YHCKNXKXW5475EVNZ2ABJKUM6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZ6KBZWHP5AZCG6TCCV7SOA2E2RVG7OVSVNPFZCTFPF2MJAP2PAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ34LJ4BEIE2UYNF5LAL6K2XCBZ4M7AOHBVZK2KN7VEV5U4I5GAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DT5FC5Z6XW4FZ45ZT7M5JJTMFSCHXNET4V6JWLAW4TRPU4SM2VPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6GATSMGQNJJVA7BNBE7OVYX3O3BLTNLLSSYWGTAB52YNFBFHZDNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N2F2DY3PBM74OR67G4RELXH5RWOFJVMZQ4I4VULUVYQZH4FJFOVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3XHKQLIO2QNMR3EYW75XWS6RLDVFYNFYCPCBM6UHOWCZTTJZEDEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYJWFE7T2HJUQ4OCVNRXXHJXD5KJBEDHLDW7LLXI3NFSIKH3HE7Q/vendors.js"
            ]
        },
        "GetCluster": {
            "input": {
                "type": "structure",
                "required": [
                    "clusterIdentifier"
                ],
                "members": {
                    "capiAwsAccountId": {
                        "internalonly": true
                    },
                    "awsEc2InstanceArn": {
                        "internalonly": true
                    },
                    "capiAwsPayerToken": {
                        "internalonly": true
                    },
                    "clusterIdentifier": {},
                    "capiAllowedFeatures": {
                        "shape": "S7",
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "cluster": {
                        "shape": "Sq"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKRBRCC3KAM27LRF4RITFEW6SCE6UDVM42CCZSGAL275I7EUCIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CS26GS5NEGJIOXM2OG2P2VIPIC66G2XU3EET23G26BASNOFM2G5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBR45TLXZYMBD2FSHZDFYRANPHLOVEXWKRPGVEOBAHP5FEZSKEWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24ETKUBZJ74VNG7SERHXQJUPTGIROSAY3HZMP5RYPHR2HJCJOWPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6SHNCXRJMG2QKGEGXE43ALX6J2KSZHIRWIFBAAUMEMJ2PW6EMDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXUMLPQOWPDYNQUUSGY32ZEAGI7NO3TOP55DEHLA4ZBFIS6RIMMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDWNCJKMHG7YULMGMXX525VSWF7TIJHZJZSYKAW7CILKB65VAAXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVSCVLWULYZI23EKM6NGQ62W6XBVH25R65MS3WXHU6R2VZYXTDAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YSAAXIAC3A7LH7JLL4ANYOAOWB3PGWIQSBXVSA356VZJJTEOTZNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNL5XKBH3JK2O2FFLQESKDMKISOO6IWJQMYETZ33GSG5XDCTBJEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EA5NKBRIYAQWUMWRS2746WEGEKOSVSTCIOU2DZ5XFBILIT5U54PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRIK53YMWAQF2O3LG7RY7FPYJ2H7RVILPYWS2STGTUIINDY2SUYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6G24VT4QH6IVH2WZYLEPH4F3VK7D27RXK3INRUOKYFROEKYUHSVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPELZX3SKIIK3GLEA7BOSJKAJCBLCUFV2IOVN6WIIVQCAVGFM3CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOL6UNQSH4YGHC22NEDZLZUFFH4P32V4SAZOFDQKZUEXSWJKB6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIB6T4SZ65KYSJVAPEZSM3PI3KSCIMCESZSHWNPR74TKCY4CUFIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJVWECM4XNSEEMONJ4YV4PJEF7YHCKNXKXW5475EVNZ2ABJKUM6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZ6KBZWHP5AZCG6TCCV7SOA2E2RVG7OVSVNPFZCTFPF2MJAP2PAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ34LJ4BEIE2UYNF5LAL6K2XCBZ4M7AOHBVZK2KN7VEV5U4I5GAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DT5FC5Z6XW4FZ45ZT7M5JJTMFSCHXNET4V6JWLAW4TRPU4SM2VPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6GATSMGQNJJVA7BNBE7OVYX3O3BLTNLLSSYWGTAB52YNFBFHZDNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N2F2DY3PBM74OR67G4RELXH5RWOFJVMZQ4I4VULUVYQZH4FJFOVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3XHKQLIO2QNMR3EYW75XWS6RLDVFYNFYCPCBM6UHOWCZTTJZEDEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYJWFE7T2HJUQ4OCVNRXXHJXD5KJBEDHLDW7LLXI3NFSIKH3HE7Q/vendors.js"
            ]
        },
        "GetComputeNodeGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "clusterIdentifier",
                    "computeNodeGroupIdentifier"
                ],
                "members": {
                    "capiAwsAccountId": {
                        "internalonly": true
                    },
                    "awsEc2InstanceArn": {
                        "internalonly": true
                    },
                    "capiAwsPayerToken": {
                        "internalonly": true
                    },
                    "clusterIdentifier": {},
                    "computeNodeGroupIdentifier": {},
                    "capiAllowedFeatures": {
                        "shape": "S7",
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "computeNodeGroup": {
                        "shape": "S1k"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKRBRCC3KAM27LRF4RITFEW6SCE6UDVM42CCZSGAL275I7EUCIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CS26GS5NEGJIOXM2OG2P2VIPIC66G2XU3EET23G26BASNOFM2G5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBR45TLXZYMBD2FSHZDFYRANPHLOVEXWKRPGVEOBAHP5FEZSKEWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24ETKUBZJ74VNG7SERHXQJUPTGIROSAY3HZMP5RYPHR2HJCJOWPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6SHNCXRJMG2QKGEGXE43ALX6J2KSZHIRWIFBAAUMEMJ2PW6EMDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXUMLPQOWPDYNQUUSGY32ZEAGI7NO3TOP55DEHLA4ZBFIS6RIMMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDWNCJKMHG7YULMGMXX525VSWF7TIJHZJZSYKAW7CILKB65VAAXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVSCVLWULYZI23EKM6NGQ62W6XBVH25R65MS3WXHU6R2VZYXTDAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YSAAXIAC3A7LH7JLL4ANYOAOWB3PGWIQSBXVSA356VZJJTEOTZNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNL5XKBH3JK2O2FFLQESKDMKISOO6IWJQMYETZ33GSG5XDCTBJEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EA5NKBRIYAQWUMWRS2746WEGEKOSVSTCIOU2DZ5XFBILIT5U54PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRIK53YMWAQF2O3LG7RY7FPYJ2H7RVILPYWS2STGTUIINDY2SUYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6G24VT4QH6IVH2WZYLEPH4F3VK7D27RXK3INRUOKYFROEKYUHSVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPELZX3SKIIK3GLEA7BOSJKAJCBLCUFV2IOVN6WIIVQCAVGFM3CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOL6UNQSH4YGHC22NEDZLZUFFH4P32V4SAZOFDQKZUEXSWJKB6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIB6T4SZ65KYSJVAPEZSM3PI3KSCIMCESZSHWNPR74TKCY4CUFIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJVWECM4XNSEEMONJ4YV4PJEF7YHCKNXKXW5475EVNZ2ABJKUM6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZ6KBZWHP5AZCG6TCCV7SOA2E2RVG7OVSVNPFZCTFPF2MJAP2PAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ34LJ4BEIE2UYNF5LAL6K2XCBZ4M7AOHBVZK2KN7VEV5U4I5GAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DT5FC5Z6XW4FZ45ZT7M5JJTMFSCHXNET4V6JWLAW4TRPU4SM2VPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6GATSMGQNJJVA7BNBE7OVYX3O3BLTNLLSSYWGTAB52YNFBFHZDNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N2F2DY3PBM74OR67G4RELXH5RWOFJVMZQ4I4VULUVYQZH4FJFOVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3XHKQLIO2QNMR3EYW75XWS6RLDVFYNFYCPCBM6UHOWCZTTJZEDEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYJWFE7T2HJUQ4OCVNRXXHJXD5KJBEDHLDW7LLXI3NFSIKH3HE7Q/vendors.js"
            ]
        },
        "GetQueue": {
            "input": {
                "type": "structure",
                "required": [
                    "clusterIdentifier",
                    "queueIdentifier"
                ],
                "members": {
                    "capiAwsAccountId": {
                        "internalonly": true
                    },
                    "awsEc2InstanceArn": {
                        "internalonly": true
                    },
                    "capiAwsPayerToken": {
                        "internalonly": true
                    },
                    "clusterIdentifier": {},
                    "queueIdentifier": {},
                    "capiAllowedFeatures": {
                        "shape": "S7",
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "queue": {
                        "shape": "S1v"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKRBRCC3KAM27LRF4RITFEW6SCE6UDVM42CCZSGAL275I7EUCIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CS26GS5NEGJIOXM2OG2P2VIPIC66G2XU3EET23G26BASNOFM2G5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBR45TLXZYMBD2FSHZDFYRANPHLOVEXWKRPGVEOBAHP5FEZSKEWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24ETKUBZJ74VNG7SERHXQJUPTGIROSAY3HZMP5RYPHR2HJCJOWPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6SHNCXRJMG2QKGEGXE43ALX6J2KSZHIRWIFBAAUMEMJ2PW6EMDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXUMLPQOWPDYNQUUSGY32ZEAGI7NO3TOP55DEHLA4ZBFIS6RIMMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDWNCJKMHG7YULMGMXX525VSWF7TIJHZJZSYKAW7CILKB65VAAXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVSCVLWULYZI23EKM6NGQ62W6XBVH25R65MS3WXHU6R2VZYXTDAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YSAAXIAC3A7LH7JLL4ANYOAOWB3PGWIQSBXVSA356VZJJTEOTZNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNL5XKBH3JK2O2FFLQESKDMKISOO6IWJQMYETZ33GSG5XDCTBJEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EA5NKBRIYAQWUMWRS2746WEGEKOSVSTCIOU2DZ5XFBILIT5U54PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRIK53YMWAQF2O3LG7RY7FPYJ2H7RVILPYWS2STGTUIINDY2SUYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6G24VT4QH6IVH2WZYLEPH4F3VK7D27RXK3INRUOKYFROEKYUHSVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPELZX3SKIIK3GLEA7BOSJKAJCBLCUFV2IOVN6WIIVQCAVGFM3CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOL6UNQSH4YGHC22NEDZLZUFFH4P32V4SAZOFDQKZUEXSWJKB6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIB6T4SZ65KYSJVAPEZSM3PI3KSCIMCESZSHWNPR74TKCY4CUFIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJVWECM4XNSEEMONJ4YV4PJEF7YHCKNXKXW5475EVNZ2ABJKUM6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZ6KBZWHP5AZCG6TCCV7SOA2E2RVG7OVSVNPFZCTFPF2MJAP2PAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ34LJ4BEIE2UYNF5LAL6K2XCBZ4M7AOHBVZK2KN7VEV5U4I5GAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DT5FC5Z6XW4FZ45ZT7M5JJTMFSCHXNET4V6JWLAW4TRPU4SM2VPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6GATSMGQNJJVA7BNBE7OVYX3O3BLTNLLSSYWGTAB52YNFBFHZDNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N2F2DY3PBM74OR67G4RELXH5RWOFJVMZQ4I4VULUVYQZH4FJFOVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3XHKQLIO2QNMR3EYW75XWS6RLDVFYNFYCPCBM6UHOWCZTTJZEDEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYJWFE7T2HJUQ4OCVNRXXHJXD5KJBEDHLDW7LLXI3NFSIKH3HE7Q/vendors.js"
            ]
        },
        "ListClusters": {
            "input": {
                "type": "structure",
                "members": {
                    "capiAwsAccountId": {
                        "internalonly": true
                    },
                    "awsEc2InstanceArn": {
                        "internalonly": true
                    },
                    "capiAwsPayerToken": {
                        "internalonly": true
                    },
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "capiAllowedFeatures": {
                        "shape": "S7",
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "clusters"
                ],
                "members": {
                    "clusters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "name",
                                "id",
                                "arn",
                                "createdAt",
                                "modifiedAt",
                                "status"
                            ],
                            "members": {
                                "name": {},
                                "id": {},
                                "arn": {},
                                "createdAt": {
                                    "shape": "Ss"
                                },
                                "modifiedAt": {
                                    "shape": "Ss"
                                },
                                "status": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKRBRCC3KAM27LRF4RITFEW6SCE6UDVM42CCZSGAL275I7EUCIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CS26GS5NEGJIOXM2OG2P2VIPIC66G2XU3EET23G26BASNOFM2G5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBR45TLXZYMBD2FSHZDFYRANPHLOVEXWKRPGVEOBAHP5FEZSKEWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24ETKUBZJ74VNG7SERHXQJUPTGIROSAY3HZMP5RYPHR2HJCJOWPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6SHNCXRJMG2QKGEGXE43ALX6J2KSZHIRWIFBAAUMEMJ2PW6EMDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXUMLPQOWPDYNQUUSGY32ZEAGI7NO3TOP55DEHLA4ZBFIS6RIMMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDWNCJKMHG7YULMGMXX525VSWF7TIJHZJZSYKAW7CILKB65VAAXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVSCVLWULYZI23EKM6NGQ62W6XBVH25R65MS3WXHU6R2VZYXTDAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YSAAXIAC3A7LH7JLL4ANYOAOWB3PGWIQSBXVSA356VZJJTEOTZNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNL5XKBH3JK2O2FFLQESKDMKISOO6IWJQMYETZ33GSG5XDCTBJEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EA5NKBRIYAQWUMWRS2746WEGEKOSVSTCIOU2DZ5XFBILIT5U54PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRIK53YMWAQF2O3LG7RY7FPYJ2H7RVILPYWS2STGTUIINDY2SUYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6G24VT4QH6IVH2WZYLEPH4F3VK7D27RXK3INRUOKYFROEKYUHSVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPELZX3SKIIK3GLEA7BOSJKAJCBLCUFV2IOVN6WIIVQCAVGFM3CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOL6UNQSH4YGHC22NEDZLZUFFH4P32V4SAZOFDQKZUEXSWJKB6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIB6T4SZ65KYSJVAPEZSM3PI3KSCIMCESZSHWNPR74TKCY4CUFIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJVWECM4XNSEEMONJ4YV4PJEF7YHCKNXKXW5475EVNZ2ABJKUM6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZ6KBZWHP5AZCG6TCCV7SOA2E2RVG7OVSVNPFZCTFPF2MJAP2PAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ34LJ4BEIE2UYNF5LAL6K2XCBZ4M7AOHBVZK2KN7VEV5U4I5GAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DT5FC5Z6XW4FZ45ZT7M5JJTMFSCHXNET4V6JWLAW4TRPU4SM2VPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6GATSMGQNJJVA7BNBE7OVYX3O3BLTNLLSSYWGTAB52YNFBFHZDNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N2F2DY3PBM74OR67G4RELXH5RWOFJVMZQ4I4VULUVYQZH4FJFOVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3XHKQLIO2QNMR3EYW75XWS6RLDVFYNFYCPCBM6UHOWCZTTJZEDEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYJWFE7T2HJUQ4OCVNRXXHJXD5KJBEDHLDW7LLXI3NFSIKH3HE7Q/vendors.js"
            ]
        },
        "ListComputeNodeGroups": {
            "input": {
                "type": "structure",
                "required": [
                    "clusterIdentifier"
                ],
                "members": {
                    "capiAwsAccountId": {
                        "internalonly": true
                    },
                    "awsEc2InstanceArn": {
                        "internalonly": true
                    },
                    "capiAwsPayerToken": {
                        "internalonly": true
                    },
                    "clusterIdentifier": {},
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "capiAllowedFeatures": {
                        "shape": "S7",
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "computeNodeGroups"
                ],
                "members": {
                    "computeNodeGroups": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "name",
                                "id",
                                "arn",
                                "clusterId",
                                "createdAt",
                                "modifiedAt",
                                "status"
                            ],
                            "members": {
                                "name": {},
                                "id": {},
                                "arn": {},
                                "clusterId": {},
                                "createdAt": {
                                    "shape": "Ss"
                                },
                                "modifiedAt": {
                                    "shape": "Ss"
                                },
                                "status": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKRBRCC3KAM27LRF4RITFEW6SCE6UDVM42CCZSGAL275I7EUCIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CS26GS5NEGJIOXM2OG2P2VIPIC66G2XU3EET23G26BASNOFM2G5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBR45TLXZYMBD2FSHZDFYRANPHLOVEXWKRPGVEOBAHP5FEZSKEWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24ETKUBZJ74VNG7SERHXQJUPTGIROSAY3HZMP5RYPHR2HJCJOWPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6SHNCXRJMG2QKGEGXE43ALX6J2KSZHIRWIFBAAUMEMJ2PW6EMDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXUMLPQOWPDYNQUUSGY32ZEAGI7NO3TOP55DEHLA4ZBFIS6RIMMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDWNCJKMHG7YULMGMXX525VSWF7TIJHZJZSYKAW7CILKB65VAAXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVSCVLWULYZI23EKM6NGQ62W6XBVH25R65MS3WXHU6R2VZYXTDAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YSAAXIAC3A7LH7JLL4ANYOAOWB3PGWIQSBXVSA356VZJJTEOTZNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNL5XKBH3JK2O2FFLQESKDMKISOO6IWJQMYETZ33GSG5XDCTBJEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EA5NKBRIYAQWUMWRS2746WEGEKOSVSTCIOU2DZ5XFBILIT5U54PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRIK53YMWAQF2O3LG7RY7FPYJ2H7RVILPYWS2STGTUIINDY2SUYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6G24VT4QH6IVH2WZYLEPH4F3VK7D27RXK3INRUOKYFROEKYUHSVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPELZX3SKIIK3GLEA7BOSJKAJCBLCUFV2IOVN6WIIVQCAVGFM3CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOL6UNQSH4YGHC22NEDZLZUFFH4P32V4SAZOFDQKZUEXSWJKB6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIB6T4SZ65KYSJVAPEZSM3PI3KSCIMCESZSHWNPR74TKCY4CUFIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJVWECM4XNSEEMONJ4YV4PJEF7YHCKNXKXW5475EVNZ2ABJKUM6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZ6KBZWHP5AZCG6TCCV7SOA2E2RVG7OVSVNPFZCTFPF2MJAP2PAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ34LJ4BEIE2UYNF5LAL6K2XCBZ4M7AOHBVZK2KN7VEV5U4I5GAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DT5FC5Z6XW4FZ45ZT7M5JJTMFSCHXNET4V6JWLAW4TRPU4SM2VPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6GATSMGQNJJVA7BNBE7OVYX3O3BLTNLLSSYWGTAB52YNFBFHZDNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N2F2DY3PBM74OR67G4RELXH5RWOFJVMZQ4I4VULUVYQZH4FJFOVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3XHKQLIO2QNMR3EYW75XWS6RLDVFYNFYCPCBM6UHOWCZTTJZEDEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYJWFE7T2HJUQ4OCVNRXXHJXD5KJBEDHLDW7LLXI3NFSIKH3HE7Q/vendors.js"
            ]
        },
        "ListQueues": {
            "input": {
                "type": "structure",
                "required": [
                    "clusterIdentifier"
                ],
                "members": {
                    "capiAwsAccountId": {
                        "internalonly": true
                    },
                    "awsEc2InstanceArn": {
                        "internalonly": true
                    },
                    "capiAwsPayerToken": {
                        "internalonly": true
                    },
                    "clusterIdentifier": {},
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "capiAllowedFeatures": {
                        "shape": "S7",
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "queues"
                ],
                "members": {
                    "queues": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "name",
                                "id",
                                "arn",
                                "clusterId",
                                "createdAt",
                                "modifiedAt",
                                "status"
                            ],
                            "members": {
                                "name": {},
                                "id": {},
                                "arn": {},
                                "clusterId": {},
                                "createdAt": {
                                    "shape": "Ss"
                                },
                                "modifiedAt": {
                                    "shape": "Ss"
                                },
                                "status": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKRBRCC3KAM27LRF4RITFEW6SCE6UDVM42CCZSGAL275I7EUCIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CS26GS5NEGJIOXM2OG2P2VIPIC66G2XU3EET23G26BASNOFM2G5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBR45TLXZYMBD2FSHZDFYRANPHLOVEXWKRPGVEOBAHP5FEZSKEWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24ETKUBZJ74VNG7SERHXQJUPTGIROSAY3HZMP5RYPHR2HJCJOWPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6SHNCXRJMG2QKGEGXE43ALX6J2KSZHIRWIFBAAUMEMJ2PW6EMDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXUMLPQOWPDYNQUUSGY32ZEAGI7NO3TOP55DEHLA4ZBFIS6RIMMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDWNCJKMHG7YULMGMXX525VSWF7TIJHZJZSYKAW7CILKB65VAAXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVSCVLWULYZI23EKM6NGQ62W6XBVH25R65MS3WXHU6R2VZYXTDAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YSAAXIAC3A7LH7JLL4ANYOAOWB3PGWIQSBXVSA356VZJJTEOTZNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNL5XKBH3JK2O2FFLQESKDMKISOO6IWJQMYETZ33GSG5XDCTBJEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EA5NKBRIYAQWUMWRS2746WEGEKOSVSTCIOU2DZ5XFBILIT5U54PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRIK53YMWAQF2O3LG7RY7FPYJ2H7RVILPYWS2STGTUIINDY2SUYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6G24VT4QH6IVH2WZYLEPH4F3VK7D27RXK3INRUOKYFROEKYUHSVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPELZX3SKIIK3GLEA7BOSJKAJCBLCUFV2IOVN6WIIVQCAVGFM3CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOL6UNQSH4YGHC22NEDZLZUFFH4P32V4SAZOFDQKZUEXSWJKB6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIB6T4SZ65KYSJVAPEZSM3PI3KSCIMCESZSHWNPR74TKCY4CUFIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJVWECM4XNSEEMONJ4YV4PJEF7YHCKNXKXW5475EVNZ2ABJKUM6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZ6KBZWHP5AZCG6TCCV7SOA2E2RVG7OVSVNPFZCTFPF2MJAP2PAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ34LJ4BEIE2UYNF5LAL6K2XCBZ4M7AOHBVZK2KN7VEV5U4I5GAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DT5FC5Z6XW4FZ45ZT7M5JJTMFSCHXNET4V6JWLAW4TRPU4SM2VPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6GATSMGQNJJVA7BNBE7OVYX3O3BLTNLLSSYWGTAB52YNFBFHZDNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N2F2DY3PBM74OR67G4RELXH5RWOFJVMZQ4I4VULUVYQZH4FJFOVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3XHKQLIO2QNMR3EYW75XWS6RLDVFYNFYCPCBM6UHOWCZTTJZEDEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYJWFE7T2HJUQ4OCVNRXXHJXD5KJBEDHLDW7LLXI3NFSIKH3HE7Q/vendors.js"
            ]
        },
        "ListTagsForResource": {
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn"
                ],
                "members": {
                    "resourceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "tags": {
                        "type": "map",
                        "key": {},
                        "value": {}
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKRBRCC3KAM27LRF4RITFEW6SCE6UDVM42CCZSGAL275I7EUCIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CS26GS5NEGJIOXM2OG2P2VIPIC66G2XU3EET23G26BASNOFM2G5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBR45TLXZYMBD2FSHZDFYRANPHLOVEXWKRPGVEOBAHP5FEZSKEWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24ETKUBZJ74VNG7SERHXQJUPTGIROSAY3HZMP5RYPHR2HJCJOWPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6SHNCXRJMG2QKGEGXE43ALX6J2KSZHIRWIFBAAUMEMJ2PW6EMDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXUMLPQOWPDYNQUUSGY32ZEAGI7NO3TOP55DEHLA4ZBFIS6RIMMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDWNCJKMHG7YULMGMXX525VSWF7TIJHZJZSYKAW7CILKB65VAAXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVSCVLWULYZI23EKM6NGQ62W6XBVH25R65MS3WXHU6R2VZYXTDAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YSAAXIAC3A7LH7JLL4ANYOAOWB3PGWIQSBXVSA356VZJJTEOTZNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNL5XKBH3JK2O2FFLQESKDMKISOO6IWJQMYETZ33GSG5XDCTBJEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EA5NKBRIYAQWUMWRS2746WEGEKOSVSTCIOU2DZ5XFBILIT5U54PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRIK53YMWAQF2O3LG7RY7FPYJ2H7RVILPYWS2STGTUIINDY2SUYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6G24VT4QH6IVH2WZYLEPH4F3VK7D27RXK3INRUOKYFROEKYUHSVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPELZX3SKIIK3GLEA7BOSJKAJCBLCUFV2IOVN6WIIVQCAVGFM3CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOL6UNQSH4YGHC22NEDZLZUFFH4P32V4SAZOFDQKZUEXSWJKB6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIB6T4SZ65KYSJVAPEZSM3PI3KSCIMCESZSHWNPR74TKCY4CUFIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJVWECM4XNSEEMONJ4YV4PJEF7YHCKNXKXW5475EVNZ2ABJKUM6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZ6KBZWHP5AZCG6TCCV7SOA2E2RVG7OVSVNPFZCTFPF2MJAP2PAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ34LJ4BEIE2UYNF5LAL6K2XCBZ4M7AOHBVZK2KN7VEV5U4I5GAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DT5FC5Z6XW4FZ45ZT7M5JJTMFSCHXNET4V6JWLAW4TRPU4SM2VPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6GATSMGQNJJVA7BNBE7OVYX3O3BLTNLLSSYWGTAB52YNFBFHZDNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N2F2DY3PBM74OR67G4RELXH5RWOFJVMZQ4I4VULUVYQZH4FJFOVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3XHKQLIO2QNMR3EYW75XWS6RLDVFYNFYCPCBM6UHOWCZTTJZEDEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYJWFE7T2HJUQ4OCVNRXXHJXD5KJBEDHLDW7LLXI3NFSIKH3HE7Q/vendors.js"
            ]
        },
        "LockServiceLinkedRole": {
            "input": {
                "type": "structure",
                "required": [
                    "RoleArn",
                    "Timeout"
                ],
                "members": {
                    "RoleArn": {},
                    "Timeout": {
                        "type": "long"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "CanBeDeleted"
                ],
                "members": {
                    "CanBeDeleted": {
                        "type": "boolean"
                    },
                    "ReasonOfFailure": {},
                    "RelatedResources": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKRBRCC3KAM27LRF4RITFEW6SCE6UDVM42CCZSGAL275I7EUCIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CS26GS5NEGJIOXM2OG2P2VIPIC66G2XU3EET23G26BASNOFM2G5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBR45TLXZYMBD2FSHZDFYRANPHLOVEXWKRPGVEOBAHP5FEZSKEWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24ETKUBZJ74VNG7SERHXQJUPTGIROSAY3HZMP5RYPHR2HJCJOWPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6SHNCXRJMG2QKGEGXE43ALX6J2KSZHIRWIFBAAUMEMJ2PW6EMDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXUMLPQOWPDYNQUUSGY32ZEAGI7NO3TOP55DEHLA4ZBFIS6RIMMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDWNCJKMHG7YULMGMXX525VSWF7TIJHZJZSYKAW7CILKB65VAAXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVSCVLWULYZI23EKM6NGQ62W6XBVH25R65MS3WXHU6R2VZYXTDAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YSAAXIAC3A7LH7JLL4ANYOAOWB3PGWIQSBXVSA356VZJJTEOTZNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNL5XKBH3JK2O2FFLQESKDMKISOO6IWJQMYETZ33GSG5XDCTBJEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EA5NKBRIYAQWUMWRS2746WEGEKOSVSTCIOU2DZ5XFBILIT5U54PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRIK53YMWAQF2O3LG7RY7FPYJ2H7RVILPYWS2STGTUIINDY2SUYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6G24VT4QH6IVH2WZYLEPH4F3VK7D27RXK3INRUOKYFROEKYUHSVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPELZX3SKIIK3GLEA7BOSJKAJCBLCUFV2IOVN6WIIVQCAVGFM3CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOL6UNQSH4YGHC22NEDZLZUFFH4P32V4SAZOFDQKZUEXSWJKB6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIB6T4SZ65KYSJVAPEZSM3PI3KSCIMCESZSHWNPR74TKCY4CUFIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJVWECM4XNSEEMONJ4YV4PJEF7YHCKNXKXW5475EVNZ2ABJKUM6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZ6KBZWHP5AZCG6TCCV7SOA2E2RVG7OVSVNPFZCTFPF2MJAP2PAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ34LJ4BEIE2UYNF5LAL6K2XCBZ4M7AOHBVZK2KN7VEV5U4I5GAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DT5FC5Z6XW4FZ45ZT7M5JJTMFSCHXNET4V6JWLAW4TRPU4SM2VPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6GATSMGQNJJVA7BNBE7OVYX3O3BLTNLLSSYWGTAB52YNFBFHZDNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N2F2DY3PBM74OR67G4RELXH5RWOFJVMZQ4I4VULUVYQZH4FJFOVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3XHKQLIO2QNMR3EYW75XWS6RLDVFYNFYCPCBM6UHOWCZTTJZEDEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYJWFE7T2HJUQ4OCVNRXXHJXD5KJBEDHLDW7LLXI3NFSIKH3HE7Q/vendors.js"
            ]
        },
        "RegisterComputeNodeGroupInstance": {
            "input": {
                "type": "structure",
                "required": [
                    "clusterIdentifier",
                    "bootstrapId"
                ],
                "members": {
                    "capiAwsAccountId": {
                        "internalonly": true
                    },
                    "awsEc2InstanceArn": {
                        "internalonly": true
                    },
                    "capiAwsPayerToken": {
                        "internalonly": true
                    },
                    "capiEncryptedFasToken": {
                        "shape": "S7",
                        "internalonly": true
                    },
                    "capiEncryptedFasDataKey": {
                        "shape": "S7",
                        "internalonly": true
                    },
                    "clusterIdentifier": {},
                    "bootstrapId": {},
                    "capiAllowedFeatures": {
                        "shape": "S7",
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "nodeID",
                    "sharedSecret",
                    "endpoints"
                ],
                "members": {
                    "nodeID": {},
                    "sharedSecret": {
                        "type": "string",
                        "sensitive": true
                    },
                    "endpoints": {
                        "shape": "Sy"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKRBRCC3KAM27LRF4RITFEW6SCE6UDVM42CCZSGAL275I7EUCIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CS26GS5NEGJIOXM2OG2P2VIPIC66G2XU3EET23G26BASNOFM2G5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBR45TLXZYMBD2FSHZDFYRANPHLOVEXWKRPGVEOBAHP5FEZSKEWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24ETKUBZJ74VNG7SERHXQJUPTGIROSAY3HZMP5RYPHR2HJCJOWPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6SHNCXRJMG2QKGEGXE43ALX6J2KSZHIRWIFBAAUMEMJ2PW6EMDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXUMLPQOWPDYNQUUSGY32ZEAGI7NO3TOP55DEHLA4ZBFIS6RIMMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDWNCJKMHG7YULMGMXX525VSWF7TIJHZJZSYKAW7CILKB65VAAXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVSCVLWULYZI23EKM6NGQ62W6XBVH25R65MS3WXHU6R2VZYXTDAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YSAAXIAC3A7LH7JLL4ANYOAOWB3PGWIQSBXVSA356VZJJTEOTZNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNL5XKBH3JK2O2FFLQESKDMKISOO6IWJQMYETZ33GSG5XDCTBJEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EA5NKBRIYAQWUMWRS2746WEGEKOSVSTCIOU2DZ5XFBILIT5U54PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRIK53YMWAQF2O3LG7RY7FPYJ2H7RVILPYWS2STGTUIINDY2SUYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6G24VT4QH6IVH2WZYLEPH4F3VK7D27RXK3INRUOKYFROEKYUHSVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPELZX3SKIIK3GLEA7BOSJKAJCBLCUFV2IOVN6WIIVQCAVGFM3CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOL6UNQSH4YGHC22NEDZLZUFFH4P32V4SAZOFDQKZUEXSWJKB6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIB6T4SZ65KYSJVAPEZSM3PI3KSCIMCESZSHWNPR74TKCY4CUFIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJVWECM4XNSEEMONJ4YV4PJEF7YHCKNXKXW5475EVNZ2ABJKUM6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZ6KBZWHP5AZCG6TCCV7SOA2E2RVG7OVSVNPFZCTFPF2MJAP2PAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ34LJ4BEIE2UYNF5LAL6K2XCBZ4M7AOHBVZK2KN7VEV5U4I5GAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DT5FC5Z6XW4FZ45ZT7M5JJTMFSCHXNET4V6JWLAW4TRPU4SM2VPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6GATSMGQNJJVA7BNBE7OVYX3O3BLTNLLSSYWGTAB52YNFBFHZDNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N2F2DY3PBM74OR67G4RELXH5RWOFJVMZQ4I4VULUVYQZH4FJFOVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3XHKQLIO2QNMR3EYW75XWS6RLDVFYNFYCPCBM6UHOWCZTTJZEDEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYJWFE7T2HJUQ4OCVNRXXHJXD5KJBEDHLDW7LLXI3NFSIKH3HE7Q/vendors.js"
            ]
        },
        "TagResource": {
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "tags"
                ],
                "members": {
                    "resourceArn": {},
                    "tags": {
                        "shape": "Sm"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKRBRCC3KAM27LRF4RITFEW6SCE6UDVM42CCZSGAL275I7EUCIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CS26GS5NEGJIOXM2OG2P2VIPIC66G2XU3EET23G26BASNOFM2G5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBR45TLXZYMBD2FSHZDFYRANPHLOVEXWKRPGVEOBAHP5FEZSKEWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24ETKUBZJ74VNG7SERHXQJUPTGIROSAY3HZMP5RYPHR2HJCJOWPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6SHNCXRJMG2QKGEGXE43ALX6J2KSZHIRWIFBAAUMEMJ2PW6EMDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXUMLPQOWPDYNQUUSGY32ZEAGI7NO3TOP55DEHLA4ZBFIS6RIMMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDWNCJKMHG7YULMGMXX525VSWF7TIJHZJZSYKAW7CILKB65VAAXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVSCVLWULYZI23EKM6NGQ62W6XBVH25R65MS3WXHU6R2VZYXTDAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YSAAXIAC3A7LH7JLL4ANYOAOWB3PGWIQSBXVSA356VZJJTEOTZNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNL5XKBH3JK2O2FFLQESKDMKISOO6IWJQMYETZ33GSG5XDCTBJEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EA5NKBRIYAQWUMWRS2746WEGEKOSVSTCIOU2DZ5XFBILIT5U54PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRIK53YMWAQF2O3LG7RY7FPYJ2H7RVILPYWS2STGTUIINDY2SUYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6G24VT4QH6IVH2WZYLEPH4F3VK7D27RXK3INRUOKYFROEKYUHSVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPELZX3SKIIK3GLEA7BOSJKAJCBLCUFV2IOVN6WIIVQCAVGFM3CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOL6UNQSH4YGHC22NEDZLZUFFH4P32V4SAZOFDQKZUEXSWJKB6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIB6T4SZ65KYSJVAPEZSM3PI3KSCIMCESZSHWNPR74TKCY4CUFIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJVWECM4XNSEEMONJ4YV4PJEF7YHCKNXKXW5475EVNZ2ABJKUM6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZ6KBZWHP5AZCG6TCCV7SOA2E2RVG7OVSVNPFZCTFPF2MJAP2PAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ34LJ4BEIE2UYNF5LAL6K2XCBZ4M7AOHBVZK2KN7VEV5U4I5GAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DT5FC5Z6XW4FZ45ZT7M5JJTMFSCHXNET4V6JWLAW4TRPU4SM2VPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6GATSMGQNJJVA7BNBE7OVYX3O3BLTNLLSSYWGTAB52YNFBFHZDNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N2F2DY3PBM74OR67G4RELXH5RWOFJVMZQ4I4VULUVYQZH4FJFOVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3XHKQLIO2QNMR3EYW75XWS6RLDVFYNFYCPCBM6UHOWCZTTJZEDEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYJWFE7T2HJUQ4OCVNRXXHJXD5KJBEDHLDW7LLXI3NFSIKH3HE7Q/vendors.js"
            ]
        },
        "UnlockServiceLinkedRole": {
            "input": {
                "type": "structure",
                "required": [
                    "RoleArn"
                ],
                "members": {
                    "RoleArn": {},
                    "DeletionStatus": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKRBRCC3KAM27LRF4RITFEW6SCE6UDVM42CCZSGAL275I7EUCIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CS26GS5NEGJIOXM2OG2P2VIPIC66G2XU3EET23G26BASNOFM2G5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBR45TLXZYMBD2FSHZDFYRANPHLOVEXWKRPGVEOBAHP5FEZSKEWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24ETKUBZJ74VNG7SERHXQJUPTGIROSAY3HZMP5RYPHR2HJCJOWPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6SHNCXRJMG2QKGEGXE43ALX6J2KSZHIRWIFBAAUMEMJ2PW6EMDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXUMLPQOWPDYNQUUSGY32ZEAGI7NO3TOP55DEHLA4ZBFIS6RIMMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDWNCJKMHG7YULMGMXX525VSWF7TIJHZJZSYKAW7CILKB65VAAXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVSCVLWULYZI23EKM6NGQ62W6XBVH25R65MS3WXHU6R2VZYXTDAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YSAAXIAC3A7LH7JLL4ANYOAOWB3PGWIQSBXVSA356VZJJTEOTZNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNL5XKBH3JK2O2FFLQESKDMKISOO6IWJQMYETZ33GSG5XDCTBJEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EA5NKBRIYAQWUMWRS2746WEGEKOSVSTCIOU2DZ5XFBILIT5U54PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRIK53YMWAQF2O3LG7RY7FPYJ2H7RVILPYWS2STGTUIINDY2SUYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6G24VT4QH6IVH2WZYLEPH4F3VK7D27RXK3INRUOKYFROEKYUHSVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPELZX3SKIIK3GLEA7BOSJKAJCBLCUFV2IOVN6WIIVQCAVGFM3CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOL6UNQSH4YGHC22NEDZLZUFFH4P32V4SAZOFDQKZUEXSWJKB6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIB6T4SZ65KYSJVAPEZSM3PI3KSCIMCESZSHWNPR74TKCY4CUFIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJVWECM4XNSEEMONJ4YV4PJEF7YHCKNXKXW5475EVNZ2ABJKUM6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZ6KBZWHP5AZCG6TCCV7SOA2E2RVG7OVSVNPFZCTFPF2MJAP2PAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ34LJ4BEIE2UYNF5LAL6K2XCBZ4M7AOHBVZK2KN7VEV5U4I5GAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DT5FC5Z6XW4FZ45ZT7M5JJTMFSCHXNET4V6JWLAW4TRPU4SM2VPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6GATSMGQNJJVA7BNBE7OVYX3O3BLTNLLSSYWGTAB52YNFBFHZDNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N2F2DY3PBM74OR67G4RELXH5RWOFJVMZQ4I4VULUVYQZH4FJFOVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3XHKQLIO2QNMR3EYW75XWS6RLDVFYNFYCPCBM6UHOWCZTTJZEDEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYJWFE7T2HJUQ4OCVNRXXHJXD5KJBEDHLDW7LLXI3NFSIKH3HE7Q/vendors.js"
            ]
        },
        "UntagResource": {
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "tagKeys"
                ],
                "members": {
                    "resourceArn": {},
                    "tagKeys": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKRBRCC3KAM27LRF4RITFEW6SCE6UDVM42CCZSGAL275I7EUCIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CS26GS5NEGJIOXM2OG2P2VIPIC66G2XU3EET23G26BASNOFM2G5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBR45TLXZYMBD2FSHZDFYRANPHLOVEXWKRPGVEOBAHP5FEZSKEWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24ETKUBZJ74VNG7SERHXQJUPTGIROSAY3HZMP5RYPHR2HJCJOWPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6SHNCXRJMG2QKGEGXE43ALX6J2KSZHIRWIFBAAUMEMJ2PW6EMDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXUMLPQOWPDYNQUUSGY32ZEAGI7NO3TOP55DEHLA4ZBFIS6RIMMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDWNCJKMHG7YULMGMXX525VSWF7TIJHZJZSYKAW7CILKB65VAAXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVSCVLWULYZI23EKM6NGQ62W6XBVH25R65MS3WXHU6R2VZYXTDAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YSAAXIAC3A7LH7JLL4ANYOAOWB3PGWIQSBXVSA356VZJJTEOTZNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNL5XKBH3JK2O2FFLQESKDMKISOO6IWJQMYETZ33GSG5XDCTBJEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EA5NKBRIYAQWUMWRS2746WEGEKOSVSTCIOU2DZ5XFBILIT5U54PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRIK53YMWAQF2O3LG7RY7FPYJ2H7RVILPYWS2STGTUIINDY2SUYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6G24VT4QH6IVH2WZYLEPH4F3VK7D27RXK3INRUOKYFROEKYUHSVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPELZX3SKIIK3GLEA7BOSJKAJCBLCUFV2IOVN6WIIVQCAVGFM3CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOL6UNQSH4YGHC22NEDZLZUFFH4P32V4SAZOFDQKZUEXSWJKB6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIB6T4SZ65KYSJVAPEZSM3PI3KSCIMCESZSHWNPR74TKCY4CUFIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJVWECM4XNSEEMONJ4YV4PJEF7YHCKNXKXW5475EVNZ2ABJKUM6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZ6KBZWHP5AZCG6TCCV7SOA2E2RVG7OVSVNPFZCTFPF2MJAP2PAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ34LJ4BEIE2UYNF5LAL6K2XCBZ4M7AOHBVZK2KN7VEV5U4I5GAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DT5FC5Z6XW4FZ45ZT7M5JJTMFSCHXNET4V6JWLAW4TRPU4SM2VPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6GATSMGQNJJVA7BNBE7OVYX3O3BLTNLLSSYWGTAB52YNFBFHZDNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N2F2DY3PBM74OR67G4RELXH5RWOFJVMZQ4I4VULUVYQZH4FJFOVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3XHKQLIO2QNMR3EYW75XWS6RLDVFYNFYCPCBM6UHOWCZTTJZEDEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYJWFE7T2HJUQ4OCVNRXXHJXD5KJBEDHLDW7LLXI3NFSIKH3HE7Q/vendors.js"
            ]
        },
        "UpdateComputeNodeGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "clusterIdentifier",
                    "computeNodeGroupIdentifier"
                ],
                "members": {
                    "capiAwsAccountId": {
                        "internalonly": true
                    },
                    "awsEc2InstanceArn": {
                        "internalonly": true
                    },
                    "capiAwsPayerToken": {
                        "internalonly": true
                    },
                    "capiEncryptedFasToken": {
                        "shape": "S7",
                        "internalonly": true
                    },
                    "capiEncryptedFasDataKey": {
                        "shape": "S7",
                        "internalonly": true
                    },
                    "clusterIdentifier": {},
                    "computeNodeGroupIdentifier": {},
                    "amiId": {},
                    "subnetIds": {
                        "shape": "S17"
                    },
                    "customLaunchTemplate": {
                        "shape": "S19"
                    },
                    "purchaseOption": {},
                    "spotOptions": {
                        "shape": "S1g"
                    },
                    "scalingConfiguration": {
                        "shape": "S1b"
                    },
                    "iamInstanceProfileArn": {},
                    "slurmConfiguration": {
                        "type": "structure",
                        "members": {
                            "slurmCustomSettings": {
                                "shape": "Sj"
                            }
                        }
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "capiAllowedFeatures": {
                        "shape": "S7",
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "computeNodeGroup": {
                        "shape": "S1k"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKRBRCC3KAM27LRF4RITFEW6SCE6UDVM42CCZSGAL275I7EUCIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CS26GS5NEGJIOXM2OG2P2VIPIC66G2XU3EET23G26BASNOFM2G5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBR45TLXZYMBD2FSHZDFYRANPHLOVEXWKRPGVEOBAHP5FEZSKEWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24ETKUBZJ74VNG7SERHXQJUPTGIROSAY3HZMP5RYPHR2HJCJOWPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6SHNCXRJMG2QKGEGXE43ALX6J2KSZHIRWIFBAAUMEMJ2PW6EMDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXUMLPQOWPDYNQUUSGY32ZEAGI7NO3TOP55DEHLA4ZBFIS6RIMMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDWNCJKMHG7YULMGMXX525VSWF7TIJHZJZSYKAW7CILKB65VAAXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVSCVLWULYZI23EKM6NGQ62W6XBVH25R65MS3WXHU6R2VZYXTDAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YSAAXIAC3A7LH7JLL4ANYOAOWB3PGWIQSBXVSA356VZJJTEOTZNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNL5XKBH3JK2O2FFLQESKDMKISOO6IWJQMYETZ33GSG5XDCTBJEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EA5NKBRIYAQWUMWRS2746WEGEKOSVSTCIOU2DZ5XFBILIT5U54PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRIK53YMWAQF2O3LG7RY7FPYJ2H7RVILPYWS2STGTUIINDY2SUYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6G24VT4QH6IVH2WZYLEPH4F3VK7D27RXK3INRUOKYFROEKYUHSVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPELZX3SKIIK3GLEA7BOSJKAJCBLCUFV2IOVN6WIIVQCAVGFM3CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOL6UNQSH4YGHC22NEDZLZUFFH4P32V4SAZOFDQKZUEXSWJKB6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIB6T4SZ65KYSJVAPEZSM3PI3KSCIMCESZSHWNPR74TKCY4CUFIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJVWECM4XNSEEMONJ4YV4PJEF7YHCKNXKXW5475EVNZ2ABJKUM6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZ6KBZWHP5AZCG6TCCV7SOA2E2RVG7OVSVNPFZCTFPF2MJAP2PAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ34LJ4BEIE2UYNF5LAL6K2XCBZ4M7AOHBVZK2KN7VEV5U4I5GAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DT5FC5Z6XW4FZ45ZT7M5JJTMFSCHXNET4V6JWLAW4TRPU4SM2VPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6GATSMGQNJJVA7BNBE7OVYX3O3BLTNLLSSYWGTAB52YNFBFHZDNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N2F2DY3PBM74OR67G4RELXH5RWOFJVMZQ4I4VULUVYQZH4FJFOVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3XHKQLIO2QNMR3EYW75XWS6RLDVFYNFYCPCBM6UHOWCZTTJZEDEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYJWFE7T2HJUQ4OCVNRXXHJXD5KJBEDHLDW7LLXI3NFSIKH3HE7Q/vendors.js"
            ]
        },
        "UpdateQueue": {
            "input": {
                "type": "structure",
                "required": [
                    "clusterIdentifier",
                    "queueIdentifier"
                ],
                "members": {
                    "capiAwsAccountId": {
                        "internalonly": true
                    },
                    "awsEc2InstanceArn": {
                        "internalonly": true
                    },
                    "capiAwsPayerToken": {
                        "internalonly": true
                    },
                    "capiEncryptedFasToken": {
                        "shape": "S7",
                        "internalonly": true
                    },
                    "capiEncryptedFasDataKey": {
                        "shape": "S7",
                        "internalonly": true
                    },
                    "clusterIdentifier": {},
                    "queueIdentifier": {},
                    "computeNodeGroupConfigurations": {
                        "shape": "S1s"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "capiAllowedFeatures": {
                        "shape": "S7",
                        "internalonly": true
                    },
                    "slurmConfiguration": {
                        "shape": "S22"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "queue": {
                        "shape": "S1v"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKRBRCC3KAM27LRF4RITFEW6SCE6UDVM42CCZSGAL275I7EUCIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CS26GS5NEGJIOXM2OG2P2VIPIC66G2XU3EET23G26BASNOFM2G5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBR45TLXZYMBD2FSHZDFYRANPHLOVEXWKRPGVEOBAHP5FEZSKEWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24ETKUBZJ74VNG7SERHXQJUPTGIROSAY3HZMP5RYPHR2HJCJOWPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6SHNCXRJMG2QKGEGXE43ALX6J2KSZHIRWIFBAAUMEMJ2PW6EMDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXUMLPQOWPDYNQUUSGY32ZEAGI7NO3TOP55DEHLA4ZBFIS6RIMMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDWNCJKMHG7YULMGMXX525VSWF7TIJHZJZSYKAW7CILKB65VAAXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVSCVLWULYZI23EKM6NGQ62W6XBVH25R65MS3WXHU6R2VZYXTDAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YSAAXIAC3A7LH7JLL4ANYOAOWB3PGWIQSBXVSA356VZJJTEOTZNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNL5XKBH3JK2O2FFLQESKDMKISOO6IWJQMYETZ33GSG5XDCTBJEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EA5NKBRIYAQWUMWRS2746WEGEKOSVSTCIOU2DZ5XFBILIT5U54PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRIK53YMWAQF2O3LG7RY7FPYJ2H7RVILPYWS2STGTUIINDY2SUYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6G24VT4QH6IVH2WZYLEPH4F3VK7D27RXK3INRUOKYFROEKYUHSVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPELZX3SKIIK3GLEA7BOSJKAJCBLCUFV2IOVN6WIIVQCAVGFM3CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOL6UNQSH4YGHC22NEDZLZUFFH4P32V4SAZOFDQKZUEXSWJKB6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIB6T4SZ65KYSJVAPEZSM3PI3KSCIMCESZSHWNPR74TKCY4CUFIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJVWECM4XNSEEMONJ4YV4PJEF7YHCKNXKXW5475EVNZ2ABJKUM6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZ6KBZWHP5AZCG6TCCV7SOA2E2RVG7OVSVNPFZCTFPF2MJAP2PAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ34LJ4BEIE2UYNF5LAL6K2XCBZ4M7AOHBVZK2KN7VEV5U4I5GAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DT5FC5Z6XW4FZ45ZT7M5JJTMFSCHXNET4V6JWLAW4TRPU4SM2VPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6GATSMGQNJJVA7BNBE7OVYX3O3BLTNLLSSYWGTAB52YNFBFHZDNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N2F2DY3PBM74OR67G4RELXH5RWOFJVMZQ4I4VULUVYQZH4FJFOVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3XHKQLIO2QNMR3EYW75XWS6RLDVFYNFYCPCBM6UHOWCZTTJZEDEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYJWFE7T2HJUQ4OCVNRXXHJXD5KJBEDHLDW7LLXI3NFSIKH3HE7Q/vendors.js"
            ]
        },
        "UpdateCluster": {
            "input": {
                "type": "structure",
                "required": [
                    "clusterIdentifier"
                ],
                "members": {
                    "capiAwsAccountId": {
                        "internalonly": true
                    },
                    "awsEc2InstanceArn": {
                        "internalonly": true
                    },
                    "capiAwsPayerToken": {
                        "internalonly": true
                    },
                    "capiAllowedFeatures": {
[...]
