{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-05-22",
        "endpointPrefix": "personalize-runtime",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "Amazon Personalize Runtime",
        "serviceId": "Personalize Runtime",
        "signatureVersion": "v4",
        "signingName": "personalize",
        "uid": "personalize-runtime-2018-05-22",
        "download_location": [
            "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JBMDNLK323OIHZYIOM5B7GJIVNE2IVC4IARQSYI6EGEUMLABDS3A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XKPM7ULAID7IALIAT22OOIT63EUNWBL4U2ZPQ5375YGNRSOZB24A/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LJZF52JTI4LRAZH4VNPIGFYUVOB46DSOLP67M5GATZUPW5OCVJ7A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BF3GWKKEKHLLB2IONZ3XHWLBZXA6ITU3J3X5TDSZL4BHVH5XUUUQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ML23XQFQZRWUF4AIRY4A7N4Z2TWVHCMDVGRXQT3XETI7KG7H4XHA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7TYLNZKKX7GMFU4I4HOYVBVRZQIUS2MTHK3BPMIVYBTI25CTZDCA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BPW4PDZHQJ33JS5DQ4BC33K2J7JLH7MIKJFNADBZOCZXAZG2FKOQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js"
        ]
    },
    "operations": {
        "GetPersonalizedRanking": {
            "http": {
                "requestUri": "/personalize-ranking"
            },
            "input": {
                "type": "structure",
                "required": [
                    "campaignArn",
                    "inputList",
                    "userId"
                ],
                "members": {
                    "campaignArn": {},
                    "inputList": {
                        "type": "list",
                        "member": {}
                    },
                    "userId": {},
                    "context": {
                        "shape": "S6"
                    },
                    "filterArn": {},
                    "filterValues": {
                        "shape": "S9"
                    },
                    "metadataColumns": {
                        "shape": "So",
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "personalizedRanking": {
                        "shape": "Sd"
                    },
                    "recommendationId": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBMDNLK323OIHZYIOM5B7GJIVNE2IVC4IARQSYI6EGEUMLABDS3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKPM7ULAID7IALIAT22OOIT63EUNWBL4U2ZPQ5375YGNRSOZB24A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJZF52JTI4LRAZH4VNPIGFYUVOB46DSOLP67M5GATZUPW5OCVJ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BF3GWKKEKHLLB2IONZ3XHWLBZXA6ITU3J3X5TDSZL4BHVH5XUUUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ML23XQFQZRWUF4AIRY4A7N4Z2TWVHCMDVGRXQT3XETI7KG7H4XHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TYLNZKKX7GMFU4I4HOYVBVRZQIUS2MTHK3BPMIVYBTI25CTZDCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPW4PDZHQJ33JS5DQ4BC33K2J7JLH7MIKJFNADBZOCZXAZG2FKOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js"
            ]
        },
        "GetRecommendations": {
            "http": {
                "requestUri": "/recommendations"
            },
            "input": {
                "type": "structure",
                "required": [
                    "campaignArn"
                ],
                "members": {
                    "campaignArn": {},
                    "itemId": {},
                    "userId": {},
                    "numResults": {
                        "type": "integer"
                    },
                    "context": {
                        "shape": "S6"
                    },
                    "filterArn": {},
                    "filterValues": {
                        "shape": "S9"
                    },
                    "recommenderArn": {},
                    "promotions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "name": {},
                                "percentPromotedItems": {
                                    "type": "integer"
                                },
                                "filterArn": {},
                                "filterValues": {
                                    "shape": "S9"
                                }
                            }
                        }
                    },
                    "metadataColumns": {
                        "shape": "So",
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "itemList": {
                        "shape": "Sd"
                    },
                    "recommendationId": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBMDNLK323OIHZYIOM5B7GJIVNE2IVC4IARQSYI6EGEUMLABDS3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKPM7ULAID7IALIAT22OOIT63EUNWBL4U2ZPQ5375YGNRSOZB24A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJZF52JTI4LRAZH4VNPIGFYUVOB46DSOLP67M5GATZUPW5OCVJ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BF3GWKKEKHLLB2IONZ3XHWLBZXA6ITU3J3X5TDSZL4BHVH5XUUUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ML23XQFQZRWUF4AIRY4A7N4Z2TWVHCMDVGRXQT3XETI7KG7H4XHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TYLNZKKX7GMFU4I4HOYVBVRZQIUS2MTHK3BPMIVYBTI25CTZDCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPW4PDZHQJ33JS5DQ4BC33K2J7JLH7MIKJFNADBZOCZXAZG2FKOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js"
            ]
        },
        "ConsumeResourceEvent": {
            "input": {
                "type": "structure",
                "required": [
                    "accountId",
                    "resourceId",
                    "resourceType",
                    "eventType"
                ],
                "members": {
                    "accountId": {},
                    "resourceId": {},
                    "resourceType": {},
                    "eventType": {},
                    "resourceData": {},
                    "idempotencyToken": {}
                }
            },
            "idempotent": true,
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5IUVMTZY5GGXTDTHINDGI4LEJDH4BS63DKMV4SOY4ATJSOL7VRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5HVV5KLHGXGD3TLHVBD4FYS3KHCN6IMY5XBA3AXOFH6NZU5XWJMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JYI7C5RTGZBGRE53OE253GD7RK24GFI5ETVUC3QC66EUHD5JMGAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FT657LLY3EPG5AD66XNSEEBNOCGEPI6FPUWB7BIVYVYE4L4BHUAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCEBHZEAMP5W3D5SKGWTIIE6ZGQESRPT2Y7TSBVEZR3WNC77RPWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RN7KB4DYUCUSRMFLWFEWEAJVHSFTKKUAHDVDWRZ5DEY6FEH56RQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KUNJDLFDTTOW3EDKCY5O6ETZSKCIY7LQROOYCDPGVDB4ZQIKTD7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57KK4DZPPLEFHRSFC54KHOWCJOZBW7ZMXQK2B3FCHITBCDEO2N6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIXRKLQLCMPGCVWP5WWUOCBT6N2TEHJESAQMM74TAXZ4YVYZKTKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKA5A2G2HKU2K3OXOUIFSJE7MJ46QBQZ4YDTJXDFY2Z7ZRFSLO3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6EEJCVDQZR5EEEGSTPUE6AJVP4LW7DIOJWCYABFFK42D3OZVUZFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXFW2SAKSPGD5C22YP2WCIVYWIOOZP7QXL2KCDMKEBW57UL44MLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NDR22LCFZMHEZWME3OC7KG3FVTRP5V3FIK46QOJIMZHJIYQG2Y7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQODGIMY4P6BLORVCJ64IQY54L7ZK65A3UIQVUBUOKO766C7SZKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYHGAQGTTQYASU3YGN6Y6A35MJRLGZFSZVCWGYHQFMTR46U7YQ6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MDRQIHZHXQ2CEASZLSQS2QTYIS3J2LK2LD3WFYY3P6NYLFYUWTKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6OGT7VCMKQCQBVPSF7P7WGA5VXH5I6U2WXXOAGOJCCU5HMOJI63A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LUMEXNNYE3OMRXWY6CFRQFEQ2U4GMDM23QKKAY3O3Q5NWTWLT6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEFIBK4LHQQBUTOPMOE4QB42JDYVSZTVMP3IF7KIKFUNEBCQQEJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BT4LY5Q5DTYEJFWB5GLWWR47VQ2M3F4UQRI6DRDMHFNK7Z5MSOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3A2IVBA7IFONCMOLL3J25AMU2DLOYIHGVFVYZ5ARJOMDF3RKULVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOSP47JOWO53MZOH5BAU7R3QB5FENODX6NQGBIW5ZJQQYLTRN52A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PP2BRSJ3AOXMAXWYH7EMPGCFS5R7KUKYTGFIAHNF4Y7K2XT5T5FA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXTXA5YFL7YJIMU77LV67OZ3X6KDIKHO5LF2PZIXK5QJQGDNUWYA/main.js"
            ]
        },
        "GetActionRecommendations": {
            "http": {
                "requestUri": "/action-recommendations"
            },
            "input": {
                "type": "structure",
                "members": {
                    "campaignArn": {},
                    "userId": {},
                    "numResults": {
                        "type": "integer"
                    },
                    "filterArn": {},
                    "filterValues": {
                        "shape": "S9"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "actionList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "actionId": {},
                                "score": {
                                    "type": "double"
                                }
                            }
                        }
                    },
                    "recommendationId": {}
                }
            },
            "idempotent": true,
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CR76PNIPYCHAU62DLFCXB53WL7AWT2TERJXNVOPTFARYPCIKNMBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLXZOCETTWKAPKNNWRBRQ22MYQ3KW4L37JTPDP3YMAMBUBCCGI5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXTXA5YFL7YJIMU77LV67OZ3X6KDIKHO5LF2PZIXK5QJQGDNUWYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFEFNHLHPSYNH2EQKZJH5MKTN4M4JIALM3CUNIJSBRI4GS5KIPLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYJEBKBKD2B6YOAV3EMTGPC3QKBPJU5RTIZESIMTRBAN7JTFL7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3SKDNJ3CWU5RJXX4BL76JQAB62AXIB6MDUMXIRNHAKE7QXXBUAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QX56JJSH3ABSLUDLUCRWRFZTRLMLJDY4DMMZSWGKF632VU5WPAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXFCD63UJ2CRLCORNEJGOD4JGYPABSAQR5323GAPIKVRBIOL2QRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APTQDAWYDB6I34KLCUKMVB5K6VN4EEF37IGBIRHV3SFHDJKHFLRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBMDNLK323OIHZYIOM5B7GJIVNE2IVC4IARQSYI6EGEUMLABDS3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CKQZL4Q3RASFJ464AQDTHXK2XQKAHLDG27QNTVAWD2UYEDG4FHGQ/main.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X43CDK5JJ2YGPYFRQZTIGQXTO7AYW6MSFUN6VH7QTRKFHIS34MIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIKJQRMQQLDQJFMMSUMA6NGRGPI6KKZI226QL4WFE32RQFIZ7FGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVVI63U6MQL2X3CFE57XA3CF4E6IJK4KIGOY6GHM2VQR6W6FUG2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js"
            ]
        },
        "GetPersonalizedQuery": {
            "http": {
                "requestUri": "/personalize-query"
            },
            "input": {
                "type": "structure",
                "required": [
                    "userQuery",
                    "userId"
                ],
                "members": {
                    "userQuery": {},
                    "userId": {},
                    "userMetadata": {
                        "type": "structure",
                        "members": {
                            "name": {
                                "type": "structure",
                                "members": {
                                    "Formatted": {
                                        "shape": "Sm"
                                    },
                                    "FamilyName": {
                                        "shape": "Sm"
                                    },
                                    "GivenName": {
                                        "shape": "Sm"
                                    },
                                    "MiddleName": {
                                        "shape": "Sm"
                                    },
                                    "HonorificPrefix": {
                                        "shape": "Sm"
                                    },
                                    "HonorificSuffix": {
                                        "shape": "Sm"
                                    }
                                }
                            },
                            "addresses": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "members": {
                                        "StreetAddress": {
                                            "shape": "Sm"
                                        },
                                        "Locality": {
                                            "shape": "Sm"
                                        },
                                        "Region": {
                                            "shape": "Sm"
                                        },
                                        "PostalCode": {
                                            "shape": "Sm"
                                        },
                                        "Country": {
                                            "shape": "Sm"
                                        },
                                        "Formatted": {
                                            "shape": "Sm"
                                        },
                                        "Type": {
                                            "shape": "Sm"
                                        },
                                        "Primary": {
                                            "shape": "Sp"
                                        }
                                    }
                                }
                            },
                            "emails": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "members": {
                                        "Value": {
                                            "shape": "Sm"
                                        },
                                        "Type": {
                                            "shape": "Sm"
                                        },
                                        "VerificationStatus": {
                                            "shape": "Sm"
                                        },
                                        "Primary": {
                                            "shape": "Sp"
                                        }
                                    }
                                }
                            },
                            "phoneNumbers": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "members": {
                                        "Value": {
                                            "shape": "Sm"
                                        },
                                        "Type": {
                                            "shape": "Sm"
                                        },
                                        "Primary": {
                                            "shape": "Sp"
                                        }
                                    }
                                }
                            },
                            "locale": {
                                "shape": "Sm"
                            },
                            "preferredLanguage": {
                                "shape": "Sm"
                            },
                            "timezone": {
                                "shape": "Sm"
                            },
                            "title": {
                                "shape": "Sm"
                            },
                            "userType": {
                                "shape": "Sm"
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "personalizedQuery": {},
                    "recommendationId": {}
                }
            },
            "idempotent": true,
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKA5A2G2HKU2K3OXOUIFSJE7MJ46QBQZ4YDTJXDFY2Z7ZRFSLO3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6EEJCVDQZR5EEEGSTPUE6AJVP4LW7DIOJWCYABFFK42D3OZVUZFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXFW2SAKSPGD5C22YP2WCIVYWIOOZP7QXL2KCDMKEBW57UL44MLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NDR22LCFZMHEZWME3OC7KG3FVTRP5V3FIK46QOJIMZHJIYQG2Y7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQODGIMY4P6BLORVCJ64IQY54L7ZK65A3UIQVUBUOKO766C7SZKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYHGAQGTTQYASU3YGN6Y6A35MJRLGZFSZVCWGYHQFMTR46U7YQ6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MDRQIHZHXQ2CEASZLSQS2QTYIS3J2LK2LD3WFYY3P6NYLFYUWTKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6OGT7VCMKQCQBVPSF7P7WGA5VXH5I6U2WXXOAGOJCCU5HMOJI63A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LUMEXNNYE3OMRXWY6CFRQFEQ2U4GMDM23QKKAY3O3Q5NWTWLT6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEFIBK4LHQQBUTOPMOE4QB42JDYVSZTVMP3IF7KIKFUNEBCQQEJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BT4LY5Q5DTYEJFWB5GLWWR47VQ2M3F4UQRI6DRDMHFNK7Z5MSOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3A2IVBA7IFONCMOLL3J25AMU2DLOYIHGVFVYZ5ARJOMDF3RKULVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOSP47JOWO53MZOH5BAU7R3QB5FENODX6NQGBIW5ZJQQYLTRN52A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PP2BRSJ3AOXMAXWYH7EMPGCFS5R7KUKYTGFIAHNF4Y7K2XT5T5FA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXTXA5YFL7YJIMU77LV67OZ3X6KDIKHO5LF2PZIXK5QJQGDNUWYA/main.js"
            ]
        }
    },
    "shapes": {
        "S6": {
            "type": "map",
            "key": {},
            "value": {
                "type": "string",
                "sensitive": true
            }
        },
        "S9": {
            "type": "map",
            "key": {},
            "value": {
                "type": "string",
                "sensitive": true
            }
        },
        "Sd": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "itemId": {},
                    "score": {
                        "type": "double"
                    }
                }
            }
        },
        "Sa": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "itemId": {},
                    "score": {
                        "type": "double"
                    }
                }
            }
        },
        "Sh": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "itemId": {},
                    "score": {
                        "type": "double"
                    },
                    "promotionName": {},
                    "latentScore": {
                        "internalonly": true,
                        "type": "double"
                    }
                }
            }
        },
        "Sl": {
            "type": "map",
            "key": {},
            "value": {
                "type": "string",
                "sensitive": true
            }
        },
        "Sp": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "itemId": {},
                    "score": {
                        "type": "double"
                    },
                    "promotionName": {},
                    "latentScore": {
                        "internalonly": true,
                        "type": "double"
                    }
                }
            }
        },
        "So": {
            "type": "map",
            "key": {},
            "value": {
                "type": "list",
                "member": {}
            }
        },
        "St": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "itemId": {},
                    "score": {
                        "type": "double"
                    },
                    "promotionName": {},
                    "latentScore": {
                        "internalonly": true,
                        "type": "double"
                    },
                    "metadata": {
                        "internalonly": true,
                        "type": "map",
                        "key": {},
                        "value": {}
                    }
                }
            }
        },
        "S5": {
            "type": "map",
            "key": {},
            "value": {
                "type": "string",
                "sensitive": true
            }
        },
        "Sk": {
            "type": "map",
            "key": {},
            "value": {
                "type": "list",
                "member": {}
            }
        },
        "Sm": {
            "type": "string",
            "sensitive": true
        },
        "Sy": {
            "type": "map",
            "key": {},
            "value": {
                "type": "string",
                "sensitive": true
            }
        },
        "S11": {
            "type": "map",
            "key": {},
            "value": {
                "type": "list",
                "member": {}
            }
        },
        "S16": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "itemId": {},
                    "score": {
                        "type": "double"
                    },
                    "promotionName": {},
                    "latentScore": {
                        "internalonly": true,
                        "type": "double"
                    },
                    "metadata": {
                        "type": "map",
                        "key": {},
                        "value": {},
                        "sensitive": true
                    }
                }
            }
        }
    }
}