{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-03-22",
        "endpointPrefix": "personalize-events",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "Amazon Personalize Events",
        "serviceId": "Personalize Events",
        "signatureVersion": "v4",
        "signingName": "personalize",
        "uid": "personalize-events-2018-03-22",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/6IUOZMUV2VZA5ZCATX2P5CC5AGFSUNBFGG47AM64Z2QJZ66WNE7Q/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H35CSOQO7OQKHX6C2OSZLME7GFTHHT2CQLZMU5TKG6OTWM5RGC7Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XEBSSNBUS32ZA66NXLKH346PWDSOOY3MXWBK4S2MJAGCBIDWGWMQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7AUU3OX3DHY7APKJ3LMD6PWGCFIKNWP23RVUAHUX777HELUUZOLQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TFZUGCUKSMT56NNGA27QTFYRBVXSRANTWO7BOEYXVULDYHU3HS2A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js"
        ]
    },
    "operations": {
        "PutEvents": {
            "http": {
                "requestUri": "/events"
            },
            "input": {
                "type": "structure",
                "required": [
                    "trackingId",
                    "sessionId",
                    "eventList"
                ],
                "members": {
                    "trackingId": {},
                    "userId": {},
                    "sessionId": {},
                    "eventList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "eventType",
                                "sentAt"
                            ],
                            "members": {
                                "eventId": {},
                                "eventType": {},
                                "eventValue": {
                                    "type": "float"
                                },
                                "itemId": {},
                                "properties": {
                                    "jsonvalue": true
                                },
                                "sentAt": {
                                    "type": "timestamp"
                                },
                                "recommendationId": {},
                                "impression": {
                                    "type": "list",
                                    "member": {}
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IUOZMUV2VZA5ZCATX2P5CC5AGFSUNBFGG47AM64Z2QJZ66WNE7Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H35CSOQO7OQKHX6C2OSZLME7GFTHHT2CQLZMU5TKG6OTWM5RGC7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEBSSNBUS32ZA66NXLKH346PWDSOOY3MXWBK4S2MJAGCBIDWGWMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AUU3OX3DHY7APKJ3LMD6PWGCFIKNWP23RVUAHUX777HELUUZOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFZUGCUKSMT56NNGA27QTFYRBVXSRANTWO7BOEYXVULDYHU3HS2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js"
            ]
        },
        "PutItems": {
            "http": {
                "requestUri": "/items"
            },
            "input": {
                "type": "structure",
                "required": [
                    "datasetArn",
                    "items"
                ],
                "members": {
                    "datasetArn": {},
                    "items": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "itemId"
                            ],
                            "members": {
                                "itemId": {},
                                "properties": {
                                    "jsonvalue": true
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETBVXXV4FWR2I7UYGGLNNSK243PMOCTJTJLDHCKIEYV23GUCFBCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3ADEXTPBSFG5HYNTKCITR6YKEGCNJQOMRRM6UV4SCEALHSTSOBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IUOZMUV2VZA5ZCATX2P5CC5AGFSUNBFGG47AM64Z2QJZ66WNE7Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H35CSOQO7OQKHX6C2OSZLME7GFTHHT2CQLZMU5TKG6OTWM5RGC7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEBSSNBUS32ZA66NXLKH346PWDSOOY3MXWBK4S2MJAGCBIDWGWMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AUU3OX3DHY7APKJ3LMD6PWGCFIKNWP23RVUAHUX777HELUUZOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFZUGCUKSMT56NNGA27QTFYRBVXSRANTWO7BOEYXVULDYHU3HS2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js"
            ]
        },
        "PutUsers": {
            "http": {
                "requestUri": "/users"
            },
            "input": {
                "type": "structure",
                "required": [
                    "datasetArn",
                    "users"
                ],
                "members": {
                    "datasetArn": {},
                    "users": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "userId"
                            ],
                            "members": {
                                "userId": {},
                                "properties": {
                                    "jsonvalue": true
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETBVXXV4FWR2I7UYGGLNNSK243PMOCTJTJLDHCKIEYV23GUCFBCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3ADEXTPBSFG5HYNTKCITR6YKEGCNJQOMRRM6UV4SCEALHSTSOBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IUOZMUV2VZA5ZCATX2P5CC5AGFSUNBFGG47AM64Z2QJZ66WNE7Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H35CSOQO7OQKHX6C2OSZLME7GFTHHT2CQLZMU5TKG6OTWM5RGC7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEBSSNBUS32ZA66NXLKH346PWDSOOY3MXWBK4S2MJAGCBIDWGWMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AUU3OX3DHY7APKJ3LMD6PWGCFIKNWP23RVUAHUX777HELUUZOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFZUGCUKSMT56NNGA27QTFYRBVXSRANTWO7BOEYXVULDYHU3HS2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js"
            ]
        },
        "ConsumeResourceEvent": {
            "input": {
                "type": "structure",
                "required": [
                    "accountId",
                    "resourceId",
                    "resourceType",
                    "eventType"
                ],
                "members": {
                    "accountId": {},
                    "resourceId": {},
                    "resourceType": {},
                    "eventType": {},
                    "resourceData": {},
                    "idempotencyToken": {}
                }
            },
            "idempotent": true,
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMQDS46ZADUDUYZM4LZGSZOJFISJIU4BO6MJHADBWLXHKJDV7KJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSTSLNVP2ECISZKAHI3ZPQ3ZF3IZYMFOKBFNPTWPFR2NGWBAANZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUXUWXZSS7AJIVWLEGDW6R7LZ324FOLRLYH7I27BL4I4DFBXPGZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5G7YHN4VR6U7QY6SJH543EB642JBYVQ4FPCWY4QVFMCIBDCYAK2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M43PGNQIETV5N4FVOTXK5PVH4NXW54R73SQP2USSGJNLPJUZSFCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFYI5EDL6ZKGDW4UWPGQI52C72SWDMSB7QDQ3S72FE3A3EZRV65Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5IUVMTZY5GGXTDTHINDGI4LEJDH4BS63DKMV4SOY4ATJSOL7VRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5HVV5KLHGXGD3TLHVBD4FYS3KHCN6IMY5XBA3AXOFH6NZU5XWJMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JYI7C5RTGZBGRE53OE253GD7RK24GFI5ETVUC3QC66EUHD5JMGAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FT657LLY3EPG5AD66XNSEEBNOCGEPI6FPUWB7BIVYVYE4L4BHUAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCEBHZEAMP5W3D5SKGWTIIE6ZGQESRPT2Y7TSBVEZR3WNC77RPWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RN7KB4DYUCUSRMFLWFEWEAJVHSFTKKUAHDVDWRZ5DEY6FEH56RQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KUNJDLFDTTOW3EDKCY5O6ETZSKCIY7LQROOYCDPGVDB4ZQIKTD7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57KK4DZPPLEFHRSFC54KHOWCJOZBW7ZMXQK2B3FCHITBCDEO2N6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIXRKLQLCMPGCVWP5WWUOCBT6N2TEHJESAQMM74TAXZ4YVYZKTKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKA5A2G2HKU2K3OXOUIFSJE7MJ46QBQZ4YDTJXDFY2Z7ZRFSLO3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6EEJCVDQZR5EEEGSTPUE6AJVP4LW7DIOJWCYABFFK42D3OZVUZFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXFW2SAKSPGD5C22YP2WCIVYWIOOZP7QXL2KCDMKEBW57UL44MLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NDR22LCFZMHEZWME3OC7KG3FVTRP5V3FIK46QOJIMZHJIYQG2Y7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQODGIMY4P6BLORVCJ64IQY54L7ZK65A3UIQVUBUOKO766C7SZKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYHGAQGTTQYASU3YGN6Y6A35MJRLGZFSZVCWGYHQFMTR46U7YQ6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MDRQIHZHXQ2CEASZLSQS2QTYIS3J2LK2LD3WFYY3P6NYLFYUWTKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6OGT7VCMKQCQBVPSF7P7WGA5VXH5I6U2WXXOAGOJCCU5HMOJI63A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LUMEXNNYE3OMRXWY6CFRQFEQ2U4GMDM23QKKAY3O3Q5NWTWLT6GA/main.js"
            ]
        },
        "PutActionInteractions": {
            "http": {
                "requestUri": "/action-interactions"
            },
            "input": {
                "type": "structure",
                "required": [
                    "trackingId",
                    "actionInteractions"
                ],
                "members": {
                    "trackingId": {},
                    "actionInteractions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "actionId",
                                "sessionId",
                                "timestamp",
                                "eventType"
                            ],
                            "members": {
                                "actionId": {
                                    "type": "string",
                                    "sensitive": true
                                },
                                "userId": {
                                    "shape": "S9"
                                },
                                "sessionId": {},
                                "timestamp": {
                                    "type": "timestamp"
                                },
                                "eventType": {},
                                "eventId": {},
                                "recommendationId": {},
                                "impression": {
                                    "shape": "Sc"
                                },
                                "properties": {
                                    "jsonvalue": true,
                                    "type": "string",
                                    "sensitive": true
                                }
                            }
                        }
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RU6MECGKELYUGL4IH4XBBMCIUIXMM3K5N37AE443MN35RUXCOZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J75BFKMXGJZ44TQOXDA53EPYGFYMMCNDUKJEAJWESXWNJR57KNXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJKWXCWJOJKCKHM7USQCLN2MHLOOSQLZRQXCJX75MH3YNCLKPJGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DP767K7FKCHHTLZ6ELBVZVWWHYHT6EGLXISICIYHZUMHL6EJ5WNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J5JCSHSZJ3RH4P66GCFK5HE2JTBOYSHSSPFRSQTFJ6YOF53CVZIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIUEPOXAGSC77JXEVBBRZLCDFGSNOS4MRG3ORWM4OLPYL2QXUCVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MDRQIHZHXQ2CEASZLSQS2QTYIS3J2LK2LD3WFYY3P6NYLFYUWTKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLOCWUKYWTKHZX3J3PP6PHWZ2ETEV26WWAVF6WE7LZVMWOJYF66A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6OGT7VCMKQCQBVPSF7P7WGA5VXH5I6U2WXXOAGOJCCU5HMOJI63A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKCVNTVWEGIMOPJN4QFS2WVPCJVEETJ373OAWIPK6W6ZUN36JMJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3ITMR5P6JQOIMHTN6X4EDALZGNQIJBKNVSQTCOZHQIPMYHAP32Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LUMEXNNYE3OMRXWY6CFRQFEQ2U4GMDM23QKKAY3O3Q5NWTWLT6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js"
            ]
        },
        "PutActions": {
            "http": {
                "requestUri": "/actions"
            },
            "input": {
                "type": "structure",
                "required": [
                    "datasetArn",
                    "actions"
                ],
                "members": {
                    "datasetArn": {},
                    "actions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "actionId"
                            ],
                            "members": {
                                "actionId": {},
                                "properties": {
                                    "jsonvalue": true,
                                    "type": "string",
                                    "sensitive": true
                                }
                            }
                        }
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RU6MECGKELYUGL4IH4XBBMCIUIXMM3K5N37AE443MN35RUXCOZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J75BFKMXGJZ44TQOXDA53EPYGFYMMCNDUKJEAJWESXWNJR57KNXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJKWXCWJOJKCKHM7USQCLN2MHLOOSQLZRQXCJX75MH3YNCLKPJGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DP767K7FKCHHTLZ6ELBVZVWWHYHT6EGLXISICIYHZUMHL6EJ5WNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J5JCSHSZJ3RH4P66GCFK5HE2JTBOYSHSSPFRSQTFJ6YOF53CVZIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIUEPOXAGSC77JXEVBBRZLCDFGSNOS4MRG3ORWM4OLPYL2QXUCVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MDRQIHZHXQ2CEASZLSQS2QTYIS3J2LK2LD3WFYY3P6NYLFYUWTKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLOCWUKYWTKHZX3J3PP6PHWZ2ETEV26WWAVF6WE7LZVMWOJYF66A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6OGT7VCMKQCQBVPSF7P7WGA5VXH5I6U2WXXOAGOJCCU5HMOJI63A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKCVNTVWEGIMOPJN4QFS2WVPCJVEETJ373OAWIPK6W6ZUN36JMJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3ITMR5P6JQOIMHTN6X4EDALZGNQIJBKNVSQTCOZHQIPMYHAP32Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LUMEXNNYE3OMRXWY6CFRQFEQ2U4GMDM23QKKAY3O3Q5NWTWLT6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js"
            ]
        }
    },
    "shapes": {
        "S7": {
            "type": "string",
            "sensitive": true
        },
        "S9": {
            "type": "string",
            "sensitive": true
        },
        "Sc": {
            "type": "list",
            "member": {
                "shape": "Sd"
            }
        },
        "Sd": {
            "type": "string",
            "sensitive": true
        },
        "S8": {
            "type": "string",
            "sensitive": true
        },
        "Sn": {
            "type": "string",
            "sensitive": true
        },
        "S5": {
            "type": "string",
            "sensitive": true
        },
        "S6": {
            "type": "string",
            "sensitive": true
        },
        "Sk": {
            "type": "string",
            "sensitive": true
        }
    }
}