{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-05-22",
        "endpointPrefix": "personalize-runtime",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "Amazon Personalize Runtime",
        "serviceId": "Personalize Runtime",
        "signatureVersion": "v4",
        "signingName": "personalize",
        "uid": "personalize-runtime-2018-05-22",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/6YJO6CRESWY5VENDTMFDPFWE4IOQ4K3RN2YQGQNMBQEHX6MIS2AA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/B5XOXDH43GMFA2XS7R6EJJWUP7CCNJMG7OMU6MQGGQJDXSTPEJWQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KMPBOSC7DMX32XXS4GAIZRPAB7RDK4UUL4FZFPHVHVZNAT7YHDMA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RKHQJL4AU4L77BFSBOIENHPUPSKWMKLMPYUNP4QXXRKNKEWZ4FGA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FT4OO2KXXZWQHFAB2ZSIIUKIFWZHVNRMIGOPEITKVVHGQJY4XSOA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SFQOXKVSLED3OCT5CXHJZWENDN7CYOSDEVVQF6TYBEM6VP525B4A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J4SLRUZAZWWWH2UIO6KRIJW56UO4LV5WJDAJARQRBNN3YOBIWCMQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BACENCN5LWLDZUB7XHBCEPEGPGNAWLMZAAVJH6CEMXMGRYEIPVKQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KOAPLDOSZNVZBLXPFWC7PRZACGOG2SQQ45Q7Y7VD2VYBU2MYZOQQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
            "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
        ]
    },
    "operations": {
        "GetPersonalizedRanking": {
            "http": {
                "requestUri": "/personalize-ranking"
            },
            "input": {
                "type": "structure",
                "required": [
                    "campaignArn",
                    "inputList",
                    "userId"
                ],
                "members": {
                    "campaignArn": {},
                    "inputList": {
                        "type": "list",
                        "member": {}
                    },
                    "userId": {},
                    "context": {
                        "shape": "S6"
                    },
                    "filterArn": {},
                    "filterValues": {
                        "shape": "S9"
                    },
                    "metadataColumns": {
                        "shape": "So",
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "personalizedRanking": {
                        "shape": "Sd"
                    },
                    "recommendationId": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YJO6CRESWY5VENDTMFDPFWE4IOQ4K3RN2YQGQNMBQEHX6MIS2AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5XOXDH43GMFA2XS7R6EJJWUP7CCNJMG7OMU6MQGGQJDXSTPEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMPBOSC7DMX32XXS4GAIZRPAB7RDK4UUL4FZFPHVHVZNAT7YHDMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKHQJL4AU4L77BFSBOIENHPUPSKWMKLMPYUNP4QXXRKNKEWZ4FGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FT4OO2KXXZWQHFAB2ZSIIUKIFWZHVNRMIGOPEITKVVHGQJY4XSOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFQOXKVSLED3OCT5CXHJZWENDN7CYOSDEVVQF6TYBEM6VP525B4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4SLRUZAZWWWH2UIO6KRIJW56UO4LV5WJDAJARQRBNN3YOBIWCMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BACENCN5LWLDZUB7XHBCEPEGPGNAWLMZAAVJH6CEMXMGRYEIPVKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOAPLDOSZNVZBLXPFWC7PRZACGOG2SQQ45Q7Y7VD2VYBU2MYZOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
            ]
        },
        "GetRecommendations": {
            "http": {
                "requestUri": "/recommendations"
            },
            "input": {
                "type": "structure",
                "required": [
                    "campaignArn"
                ],
                "members": {
                    "campaignArn": {},
                    "itemId": {},
                    "userId": {},
                    "numResults": {
                        "type": "integer"
                    },
                    "context": {
                        "shape": "S6"
                    },
                    "filterArn": {},
                    "filterValues": {
                        "shape": "S9"
                    },
                    "recommenderArn": {},
                    "promotions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "name": {},
                                "percentPromotedItems": {
                                    "type": "integer"
                                },
                                "filterArn": {},
                                "filterValues": {
                                    "shape": "S9"
                                }
                            }
                        }
                    },
                    "metadataColumns": {
                        "shape": "So",
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "itemList": {
                        "shape": "Sd"
                    },
                    "recommendationId": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YJO6CRESWY5VENDTMFDPFWE4IOQ4K3RN2YQGQNMBQEHX6MIS2AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5XOXDH43GMFA2XS7R6EJJWUP7CCNJMG7OMU6MQGGQJDXSTPEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMPBOSC7DMX32XXS4GAIZRPAB7RDK4UUL4FZFPHVHVZNAT7YHDMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKHQJL4AU4L77BFSBOIENHPUPSKWMKLMPYUNP4QXXRKNKEWZ4FGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FT4OO2KXXZWQHFAB2ZSIIUKIFWZHVNRMIGOPEITKVVHGQJY4XSOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFQOXKVSLED3OCT5CXHJZWENDN7CYOSDEVVQF6TYBEM6VP525B4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4SLRUZAZWWWH2UIO6KRIJW56UO4LV5WJDAJARQRBNN3YOBIWCMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BACENCN5LWLDZUB7XHBCEPEGPGNAWLMZAAVJH6CEMXMGRYEIPVKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOAPLDOSZNVZBLXPFWC7PRZACGOG2SQQ45Q7Y7VD2VYBU2MYZOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
            ]
        },
        "ConsumeResourceEvent": {
            "input": {
                "type": "structure",
                "required": [
                    "accountId",
                    "resourceId",
                    "resourceType",
                    "eventType"
                ],
                "members": {
                    "accountId": {},
                    "resourceId": {},
                    "resourceType": {},
                    "eventType": {},
                    "resourceData": {},
                    "idempotencyToken": {}
                }
            },
            "idempotent": true,
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCHRNB4QD5WKWLFHUPUWOAZN7AZV2BTGJUXLPUPA5DO2KMQL5ZGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YAUMLCCI5XNDXEQQQSENWXVG5GQVRNJCSR65BSTAB6GY4NSSUWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIV6IVNZ4Y2QVR5KS3HKWV2SWEMOCBHNMUA7IS2DHU4A5HSAOZ7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVKUCGYZRJGT36L34JQVOIAKFQEJDX73R2FEQNB3MX5AQ3IZUHPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5GVJJSHE5HKOE3PQIOOMGKPDQ37426WPFFAY7TCQNFTD5GZ67FA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PA7OUCMR65KHTGNATYYAOKVEEYJAH4CUETVBEXDVDODNMIOMHVNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWKSY6SNWVTEYDKPBCV3ZXWIL4WKXASXDT726QQXCLAF4XSYVICA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D4OHAVG3ZGU5IM3KRWAHRSNBQLQLFRFW6UGRM66KXIHQ2OX47KHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6GRC2OJKCWKVBCFBWT5KY6NMMVA5KIUG7HC2KEZARCM2KOIBPEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TZPMBX3G266P237HLKNBOCHF4VMJCZXGRHPYMCJEDFPXYZ4ZNIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BVXFL3DYYHFPKM7DSGZG2JDAQUCVSMMD7MIWMGSDRLT7MHLLYZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQFQYIRSXP22ZJGAZRJ5O7QS5UH6F7ANX24HNS3YANWEIUGILZNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRWFHH4CS57SKQ5FCZ4R6PBHUM52JFMMYFUINUS6BUMX3EBL34UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BY7T64B4ZJYLILPMH6MAQYEXDHS5TEXRCZ4CWF24NDJBLGG56PEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMQDS46ZADUDUYZM4LZGSZOJFISJIU4BO6MJHADBWLXHKJDV7KJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSTSLNVP2ECISZKAHI3ZPQ3ZF3IZYMFOKBFNPTWPFR2NGWBAANZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUXUWXZSS7AJIVWLEGDW6R7LZ324FOLRLYH7I27BL4I4DFBXPGZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5G7YHN4VR6U7QY6SJH543EB642JBYVQ4FPCWY4QVFMCIBDCYAK2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M43PGNQIETV5N4FVOTXK5PVH4NXW54R73SQP2USSGJNLPJUZSFCA/main.js"
            ]
        },
        "GetActionRecommendations": {
            "http": {
                "requestUri": "/action-recommendations"
            },
            "input": {
                "type": "structure",
                "members": {
                    "campaignArn": {},
                    "userId": {},
                    "numResults": {
                        "type": "integer"
                    },
                    "filterArn": {},
                    "filterValues": {
                        "shape": "S9"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "actionList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "actionId": {},
                                "score": {
                                    "type": "double"
                                }
                            }
                        }
                    },
                    "recommendationId": {}
                }
            },
            "idempotent": true,
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRWFHH4CS57SKQ5FCZ4R6PBHUM52JFMMYFUINUS6BUMX3EBL34UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BY7T64B4ZJYLILPMH6MAQYEXDHS5TEXRCZ4CWF24NDJBLGG56PEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMQDS46ZADUDUYZM4LZGSZOJFISJIU4BO6MJHADBWLXHKJDV7KJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSTSLNVP2ECISZKAHI3ZPQ3ZF3IZYMFOKBFNPTWPFR2NGWBAANZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUXUWXZSS7AJIVWLEGDW6R7LZ324FOLRLYH7I27BL4I4DFBXPGZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5G7YHN4VR6U7QY6SJH543EB642JBYVQ4FPCWY4QVFMCIBDCYAK2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M43PGNQIETV5N4FVOTXK5PVH4NXW54R73SQP2USSGJNLPJUZSFCA/main.js"
            ]
        }
    },
    "shapes": {
        "S6": {
            "type": "map",
            "key": {},
            "value": {
                "type": "string",
                "sensitive": true
            }
        },
        "S9": {
            "type": "map",
            "key": {},
            "value": {
                "type": "string",
                "sensitive": true
            }
        },
        "Sd": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "itemId": {},
                    "score": {
                        "type": "double"
                    }
                }
            }
        },
        "Sa": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "itemId": {},
                    "score": {
                        "type": "double"
                    }
                }
            }
        },
        "Sh": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "itemId": {},
                    "score": {
                        "type": "double"
                    },
                    "promotionName": {},
                    "latentScore": {
                        "internalonly": true,
                        "type": "double"
                    }
                }
            }
        },
        "Sl": {
            "type": "map",
            "key": {},
            "value": {
                "type": "string",
                "sensitive": true
            }
        },
        "Sp": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "itemId": {},
                    "score": {
                        "type": "double"
                    },
                    "promotionName": {},
                    "latentScore": {
                        "internalonly": true,
                        "type": "double"
                    }
                }
            }
        },
        "So": {
            "type": "map",
            "key": {},
            "value": {
                "type": "list",
                "member": {}
            }
        },
        "St": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "itemId": {},
                    "score": {
                        "type": "double"
                    },
                    "promotionName": {},
                    "latentScore": {
                        "internalonly": true,
                        "type": "double"
                    },
                    "metadata": {
                        "internalonly": true,
                        "type": "map",
                        "key": {},
                        "value": {}
                    }
                }
            }
        }
    }
}