{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-05-22",
        "endpointPrefix": "personalize",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceFullName": "Amazon Personalize",
        "serviceId": "Personalize",
        "signatureVersion": "v4",
        "signingName": "personalize",
        "targetPrefix": "AmazonPersonalize",
        "uid": "personalize-2018-05-22",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/Q6POY67MBM7X63HZDWJLXRGPUN643YXYY5BXRCEX4NBKEYRVET7Q/main.js",
            "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JBMDNLK323OIHZYIOM5B7GJIVNE2IVC4IARQSYI6EGEUMLABDS3A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/S4WYI7A5RB4J3ZQI7SXA7RHHEYHTI4HEHIWSGQVULPT6QVHWQWGA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OH2JSSC7WBZK4SMWSJ5AL3JJDBLKBOOLOIJP7R6HLH2VGVQDZP5A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/C7R2OEHPPJKOXTICFR65P7NLPPGWJHVVFLYMPYV4RPGNWW7EQU6A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4PF2YFXJZXTPZP6YEIBULL4AF7LT6R3LOBSJ52O2PR22KOPVMXGA/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JTDMV77SV6Q7KYAK3YHB6UFLTCCVZPDDARGZVLVIGSC3HKENISGQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DVPN4NOEU35ZBVDWTGMOKLOWMOLIGAWSFD2QMAYFPEQZDAJEJMTQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QASJLVKSZPUPMXMWKBFUNBSFPARFTBFDI7PPTIFA2NWCS2X7AMDA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js"
        ]
    },
    "operations": {
        "CreateBatchInferenceJob": {
            "input": {
                "type": "structure",
                "required": [
                    "jobName",
                    "solutionVersionArn",
                    "jobInput",
                    "jobOutput",
                    "roleArn"
                ],
                "members": {
                    "jobName": {},
                    "solutionVersionArn": {},
                    "filterArn": {},
                    "numResults": {
                        "type": "integer"
                    },
                    "jobInput": {
                        "shape": "S5"
                    },
                    "jobOutput": {
                        "shape": "S9"
                    },
                    "roleArn": {},
                    "batchInferenceJobConfig": {
                        "shape": "Sb"
                    },
                    "tags": {
                        "shape": "Sf"
                    },
                    "enableThemeGeneration": {
                        "internalonly": true,
                        "type": "boolean"
                    },
                    "batchInferenceJobMode": {
                        "internalonly": true
                    },
                    "themeGenerationConfig": {
                        "shape": "S14",
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "batchInferenceJobArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6POY67MBM7X63HZDWJLXRGPUN643YXYY5BXRCEX4NBKEYRVET7Q/main.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBMDNLK323OIHZYIOM5B7GJIVNE2IVC4IARQSYI6EGEUMLABDS3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4WYI7A5RB4J3ZQI7SXA7RHHEYHTI4HEHIWSGQVULPT6QVHWQWGA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OH2JSSC7WBZK4SMWSJ5AL3JJDBLKBOOLOIJP7R6HLH2VGVQDZP5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7R2OEHPPJKOXTICFR65P7NLPPGWJHVVFLYMPYV4RPGNWW7EQU6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PF2YFXJZXTPZP6YEIBULL4AF7LT6R3LOBSJ52O2PR22KOPVMXGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTDMV77SV6Q7KYAK3YHB6UFLTCCVZPDDARGZVLVIGSC3HKENISGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVPN4NOEU35ZBVDWTGMOKLOWMOLIGAWSFD2QMAYFPEQZDAJEJMTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QASJLVKSZPUPMXMWKBFUNBSFPARFTBFDI7PPTIFA2NWCS2X7AMDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js"
            ]
        },
        "CreateCampaign": {
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "solutionVersionArn",
                    "minProvisionedTPS"
                ],
                "members": {
                    "name": {},
                    "solutionVersionArn": {},
                    "minProvisionedTPS": {
                        "type": "integer"
                    },
                    "campaignConfig": {
                        "shape": "Si"
                    },
                    "tags": {
                        "shape": "Sf"
                    },
                    "updateMode": {
                        "internalonly": true
                    },
                    "createdBy": {
                        "internalonly": true
                    },
                    "recommenderArn": {
                        "internalonly": true
                    },
                    "filterArn": {
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "campaignArn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6POY67MBM7X63HZDWJLXRGPUN643YXYY5BXRCEX4NBKEYRVET7Q/main.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBMDNLK323OIHZYIOM5B7GJIVNE2IVC4IARQSYI6EGEUMLABDS3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4WYI7A5RB4J3ZQI7SXA7RHHEYHTI4HEHIWSGQVULPT6QVHWQWGA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OH2JSSC7WBZK4SMWSJ5AL3JJDBLKBOOLOIJP7R6HLH2VGVQDZP5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7R2OEHPPJKOXTICFR65P7NLPPGWJHVVFLYMPYV4RPGNWW7EQU6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PF2YFXJZXTPZP6YEIBULL4AF7LT6R3LOBSJ52O2PR22KOPVMXGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTDMV77SV6Q7KYAK3YHB6UFLTCCVZPDDARGZVLVIGSC3HKENISGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVPN4NOEU35ZBVDWTGMOKLOWMOLIGAWSFD2QMAYFPEQZDAJEJMTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QASJLVKSZPUPMXMWKBFUNBSFPARFTBFDI7PPTIFA2NWCS2X7AMDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js"
            ]
        },
        "CreateDataset": {
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "schemaArn",
                    "datasetGroupArn",
                    "datasetType"
                ],
                "members": {
                    "name": {},
                    "schemaArn": {},
                    "datasetGroupArn": {},
                    "datasetType": {},
                    "tags": {
                        "shape": "Sf"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "datasetArn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6POY67MBM7X63HZDWJLXRGPUN643YXYY5BXRCEX4NBKEYRVET7Q/main.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBMDNLK323OIHZYIOM5B7GJIVNE2IVC4IARQSYI6EGEUMLABDS3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4WYI7A5RB4J3ZQI7SXA7RHHEYHTI4HEHIWSGQVULPT6QVHWQWGA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OH2JSSC7WBZK4SMWSJ5AL3JJDBLKBOOLOIJP7R6HLH2VGVQDZP5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7R2OEHPPJKOXTICFR65P7NLPPGWJHVVFLYMPYV4RPGNWW7EQU6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PF2YFXJZXTPZP6YEIBULL4AF7LT6R3LOBSJ52O2PR22KOPVMXGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTDMV77SV6Q7KYAK3YHB6UFLTCCVZPDDARGZVLVIGSC3HKENISGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVPN4NOEU35ZBVDWTGMOKLOWMOLIGAWSFD2QMAYFPEQZDAJEJMTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QASJLVKSZPUPMXMWKBFUNBSFPARFTBFDI7PPTIFA2NWCS2X7AMDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js"
            ]
        },
        "CreateDatasetGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "name"
                ],
                "members": {
                    "name": {},
                    "roleArn": {},
                    "kmsKeyArn": {},
                    "domain": {},
                    "tags": {
                        "shape": "Sf"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "datasetGroupArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6POY67MBM7X63HZDWJLXRGPUN643YXYY5BXRCEX4NBKEYRVET7Q/main.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBMDNLK323OIHZYIOM5B7GJIVNE2IVC4IARQSYI6EGEUMLABDS3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4WYI7A5RB4J3ZQI7SXA7RHHEYHTI4HEHIWSGQVULPT6QVHWQWGA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OH2JSSC7WBZK4SMWSJ5AL3JJDBLKBOOLOIJP7R6HLH2VGVQDZP5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7R2OEHPPJKOXTICFR65P7NLPPGWJHVVFLYMPYV4RPGNWW7EQU6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PF2YFXJZXTPZP6YEIBULL4AF7LT6R3LOBSJ52O2PR22KOPVMXGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTDMV77SV6Q7KYAK3YHB6UFLTCCVZPDDARGZVLVIGSC3HKENISGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVPN4NOEU35ZBVDWTGMOKLOWMOLIGAWSFD2QMAYFPEQZDAJEJMTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QASJLVKSZPUPMXMWKBFUNBSFPARFTBFDI7PPTIFA2NWCS2X7AMDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js"
            ]
        },
        "CreateDatasetImportJob": {
            "input": {
                "type": "structure",
                "required": [
                    "jobName",
                    "datasetArn",
                    "dataSource",
                    "roleArn"
                ],
                "members": {
                    "jobName": {},
                    "datasetArn": {},
                    "dataSource": {
                        "shape": "Sq"
                    },
                    "roleArn": {},
                    "tags": {
                        "shape": "Sf"
                    },
                    "importMode": {},
                    "publishAttributionMetricsToS3": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "datasetImportJobArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6POY67MBM7X63HZDWJLXRGPUN643YXYY5BXRCEX4NBKEYRVET7Q/main.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBMDNLK323OIHZYIOM5B7GJIVNE2IVC4IARQSYI6EGEUMLABDS3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4WYI7A5RB4J3ZQI7SXA7RHHEYHTI4HEHIWSGQVULPT6QVHWQWGA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OH2JSSC7WBZK4SMWSJ5AL3JJDBLKBOOLOIJP7R6HLH2VGVQDZP5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7R2OEHPPJKOXTICFR65P7NLPPGWJHVVFLYMPYV4RPGNWW7EQU6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PF2YFXJZXTPZP6YEIBULL4AF7LT6R3LOBSJ52O2PR22KOPVMXGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTDMV77SV6Q7KYAK3YHB6UFLTCCVZPDDARGZVLVIGSC3HKENISGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVPN4NOEU35ZBVDWTGMOKLOWMOLIGAWSFD2QMAYFPEQZDAJEJMTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QASJLVKSZPUPMXMWKBFUNBSFPARFTBFDI7PPTIFA2NWCS2X7AMDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js"
            ]
        },
        "CreateEventTracker": {
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "datasetGroupArn"
                ],
                "members": {
                    "name": {},
                    "datasetGroupArn": {},
                    "tags": {
                        "shape": "Sf"
                    },
                    "datasetType": {
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "eventTrackerArn": {},
                    "trackingId": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6POY67MBM7X63HZDWJLXRGPUN643YXYY5BXRCEX4NBKEYRVET7Q/main.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBMDNLK323OIHZYIOM5B7GJIVNE2IVC4IARQSYI6EGEUMLABDS3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4WYI7A5RB4J3ZQI7SXA7RHHEYHTI4HEHIWSGQVULPT6QVHWQWGA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OH2JSSC7WBZK4SMWSJ5AL3JJDBLKBOOLOIJP7R6HLH2VGVQDZP5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7R2OEHPPJKOXTICFR65P7NLPPGWJHVVFLYMPYV4RPGNWW7EQU6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PF2YFXJZXTPZP6YEIBULL4AF7LT6R3LOBSJ52O2PR22KOPVMXGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTDMV77SV6Q7KYAK3YHB6UFLTCCVZPDDARGZVLVIGSC3HKENISGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVPN4NOEU35ZBVDWTGMOKLOWMOLIGAWSFD2QMAYFPEQZDAJEJMTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QASJLVKSZPUPMXMWKBFUNBSFPARFTBFDI7PPTIFA2NWCS2X7AMDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js"
            ]
        },
        "CreateFilter": {
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "datasetGroupArn",
                    "filterExpression"
                ],
                "members": {
                    "name": {},
                    "datasetGroupArn": {},
                    "filterExpression": {
                        "shape": "Sw"
                    },
                    "tags": {
                        "shape": "Sf"
                    },
                    "createdBy": {
                        "internalonly": true
                    },
                    "recommenderArn": {
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "filterArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6POY67MBM7X63HZDWJLXRGPUN643YXYY5BXRCEX4NBKEYRVET7Q/main.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBMDNLK323OIHZYIOM5B7GJIVNE2IVC4IARQSYI6EGEUMLABDS3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4WYI7A5RB4J3ZQI7SXA7RHHEYHTI4HEHIWSGQVULPT6QVHWQWGA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OH2JSSC7WBZK4SMWSJ5AL3JJDBLKBOOLOIJP7R6HLH2VGVQDZP5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7R2OEHPPJKOXTICFR65P7NLPPGWJHVVFLYMPYV4RPGNWW7EQU6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PF2YFXJZXTPZP6YEIBULL4AF7LT6R3LOBSJ52O2PR22KOPVMXGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTDMV77SV6Q7KYAK3YHB6UFLTCCVZPDDARGZVLVIGSC3HKENISGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVPN4NOEU35ZBVDWTGMOKLOWMOLIGAWSFD2QMAYFPEQZDAJEJMTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QASJLVKSZPUPMXMWKBFUNBSFPARFTBFDI7PPTIFA2NWCS2X7AMDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js"
            ]
        },
        "CreateSchema": {
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "schema"
                ],
                "members": {
                    "name": {},
                    "schema": {},
                    "domain": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "schemaArn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6POY67MBM7X63HZDWJLXRGPUN643YXYY5BXRCEX4NBKEYRVET7Q/main.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBMDNLK323OIHZYIOM5B7GJIVNE2IVC4IARQSYI6EGEUMLABDS3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4WYI7A5RB4J3ZQI7SXA7RHHEYHTI4HEHIWSGQVULPT6QVHWQWGA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OH2JSSC7WBZK4SMWSJ5AL3JJDBLKBOOLOIJP7R6HLH2VGVQDZP5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7R2OEHPPJKOXTICFR65P7NLPPGWJHVVFLYMPYV4RPGNWW7EQU6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PF2YFXJZXTPZP6YEIBULL4AF7LT6R3LOBSJ52O2PR22KOPVMXGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTDMV77SV6Q7KYAK3YHB6UFLTCCVZPDDARGZVLVIGSC3HKENISGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVPN4NOEU35ZBVDWTGMOKLOWMOLIGAWSFD2QMAYFPEQZDAJEJMTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QASJLVKSZPUPMXMWKBFUNBSFPARFTBFDI7PPTIFA2NWCS2X7AMDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js"
            ]
        },
        "CreateSolution": {
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "datasetGroupArn"
                ],
                "members": {
                    "name": {},
                    "performHPO": {
                        "type": "boolean"
                    },
                    "performAutoML": {
                        "type": "boolean"
                    },
                    "recipeArn": {},
                    "datasetGroupArn": {},
                    "eventType": {},
                    "solutionConfig": {
                        "shape": "S15"
                    },
                    "tags": {
                        "shape": "Sf"
                    },
                    "createdBy": {
                        "internalonly": true
                    },
                    "performAutoTraining": {
                        "type": "boolean"
                    },
                    "performBlending": {
                        "internalonly": true,
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "solutionArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6POY67MBM7X63HZDWJLXRGPUN643YXYY5BXRCEX4NBKEYRVET7Q/main.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBMDNLK323OIHZYIOM5B7GJIVNE2IVC4IARQSYI6EGEUMLABDS3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4WYI7A5RB4J3ZQI7SXA7RHHEYHTI4HEHIWSGQVULPT6QVHWQWGA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OH2JSSC7WBZK4SMWSJ5AL3JJDBLKBOOLOIJP7R6HLH2VGVQDZP5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7R2OEHPPJKOXTICFR65P7NLPPGWJHVVFLYMPYV4RPGNWW7EQU6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PF2YFXJZXTPZP6YEIBULL4AF7LT6R3LOBSJ52O2PR22KOPVMXGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTDMV77SV6Q7KYAK3YHB6UFLTCCVZPDDARGZVLVIGSC3HKENISGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVPN4NOEU35ZBVDWTGMOKLOWMOLIGAWSFD2QMAYFPEQZDAJEJMTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QASJLVKSZPUPMXMWKBFUNBSFPARFTBFDI7PPTIFA2NWCS2X7AMDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js"
            ]
        },
        "CreateSolutionVersion": {
            "input": {
                "type": "structure",
                "required": [
                    "solutionArn"
                ],
                "members": {
                    "solutionArn": {},
                    "trainingMode": {},
                    "name": {},
                    "tags": {
                        "shape": "Sf"
                    },
                    "createdBy": {
                        "internalonly": true
                    },
                    "solutionVersionConfig": {
                        "shape": "S4k",
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "solutionVersionArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6POY67MBM7X63HZDWJLXRGPUN643YXYY5BXRCEX4NBKEYRVET7Q/main.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBMDNLK323OIHZYIOM5B7GJIVNE2IVC4IARQSYI6EGEUMLABDS3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4WYI7A5RB4J3ZQI7SXA7RHHEYHTI4HEHIWSGQVULPT6QVHWQWGA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OH2JSSC7WBZK4SMWSJ5AL3JJDBLKBOOLOIJP7R6HLH2VGVQDZP5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7R2OEHPPJKOXTICFR65P7NLPPGWJHVVFLYMPYV4RPGNWW7EQU6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PF2YFXJZXTPZP6YEIBULL4AF7LT6R3LOBSJ52O2PR22KOPVMXGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTDMV77SV6Q7KYAK3YHB6UFLTCCVZPDDARGZVLVIGSC3HKENISGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVPN4NOEU35ZBVDWTGMOKLOWMOLIGAWSFD2QMAYFPEQZDAJEJMTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QASJLVKSZPUPMXMWKBFUNBSFPARFTBFDI7PPTIFA2NWCS2X7AMDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js"
            ]
        },
        "DeleteCampaign": {
            "input": {
                "type": "structure",
                "required": [
                    "campaignArn"
                ],
                "members": {
                    "campaignArn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6POY67MBM7X63HZDWJLXRGPUN643YXYY5BXRCEX4NBKEYRVET7Q/main.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBMDNLK323OIHZYIOM5B7GJIVNE2IVC4IARQSYI6EGEUMLABDS3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4WYI7A5RB4J3ZQI7SXA7RHHEYHTI4HEHIWSGQVULPT6QVHWQWGA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OH2JSSC7WBZK4SMWSJ5AL3JJDBLKBOOLOIJP7R6HLH2VGVQDZP5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7R2OEHPPJKOXTICFR65P7NLPPGWJHVVFLYMPYV4RPGNWW7EQU6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PF2YFXJZXTPZP6YEIBULL4AF7LT6R3LOBSJ52O2PR22KOPVMXGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTDMV77SV6Q7KYAK3YHB6UFLTCCVZPDDARGZVLVIGSC3HKENISGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVPN4NOEU35ZBVDWTGMOKLOWMOLIGAWSFD2QMAYFPEQZDAJEJMTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QASJLVKSZPUPMXMWKBFUNBSFPARFTBFDI7PPTIFA2NWCS2X7AMDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js"
            ]
        },
        "DeleteDataset": {
            "input": {
                "type": "structure",
                "required": [
                    "datasetArn"
                ],
                "members": {
                    "datasetArn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6POY67MBM7X63HZDWJLXRGPUN643YXYY5BXRCEX4NBKEYRVET7Q/main.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBMDNLK323OIHZYIOM5B7GJIVNE2IVC4IARQSYI6EGEUMLABDS3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4WYI7A5RB4J3ZQI7SXA7RHHEYHTI4HEHIWSGQVULPT6QVHWQWGA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OH2JSSC7WBZK4SMWSJ5AL3JJDBLKBOOLOIJP7R6HLH2VGVQDZP5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7R2OEHPPJKOXTICFR65P7NLPPGWJHVVFLYMPYV4RPGNWW7EQU6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PF2YFXJZXTPZP6YEIBULL4AF7LT6R3LOBSJ52O2PR22KOPVMXGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTDMV77SV6Q7KYAK3YHB6UFLTCCVZPDDARGZVLVIGSC3HKENISGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVPN4NOEU35ZBVDWTGMOKLOWMOLIGAWSFD2QMAYFPEQZDAJEJMTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QASJLVKSZPUPMXMWKBFUNBSFPARFTBFDI7PPTIFA2NWCS2X7AMDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js"
            ]
        },
        "DeleteDatasetGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "datasetGroupArn"
                ],
                "members": {
                    "datasetGroupArn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6POY67MBM7X63HZDWJLXRGPUN643YXYY5BXRCEX4NBKEYRVET7Q/main.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBMDNLK323OIHZYIOM5B7GJIVNE2IVC4IARQSYI6EGEUMLABDS3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4WYI7A5RB4J3ZQI7SXA7RHHEYHTI4HEHIWSGQVULPT6QVHWQWGA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OH2JSSC7WBZK4SMWSJ5AL3JJDBLKBOOLOIJP7R6HLH2VGVQDZP5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7R2OEHPPJKOXTICFR65P7NLPPGWJHVVFLYMPYV4RPGNWW7EQU6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PF2YFXJZXTPZP6YEIBULL4AF7LT6R3LOBSJ52O2PR22KOPVMXGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTDMV77SV6Q7KYAK3YHB6UFLTCCVZPDDARGZVLVIGSC3HKENISGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVPN4NOEU35ZBVDWTGMOKLOWMOLIGAWSFD2QMAYFPEQZDAJEJMTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QASJLVKSZPUPMXMWKBFUNBSFPARFTBFDI7PPTIFA2NWCS2X7AMDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js"
            ]
        },
        "DeleteEventTracker": {
            "input": {
                "type": "structure",
                "required": [
                    "eventTrackerArn"
                ],
                "members": {
                    "eventTrackerArn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6POY67MBM7X63HZDWJLXRGPUN643YXYY5BXRCEX4NBKEYRVET7Q/main.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBMDNLK323OIHZYIOM5B7GJIVNE2IVC4IARQSYI6EGEUMLABDS3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4WYI7A5RB4J3ZQI7SXA7RHHEYHTI4HEHIWSGQVULPT6QVHWQWGA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OH2JSSC7WBZK4SMWSJ5AL3JJDBLKBOOLOIJP7R6HLH2VGVQDZP5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7R2OEHPPJKOXTICFR65P7NLPPGWJHVVFLYMPYV4RPGNWW7EQU6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PF2YFXJZXTPZP6YEIBULL4AF7LT6R3LOBSJ52O2PR22KOPVMXGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTDMV77SV6Q7KYAK3YHB6UFLTCCVZPDDARGZVLVIGSC3HKENISGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVPN4NOEU35ZBVDWTGMOKLOWMOLIGAWSFD2QMAYFPEQZDAJEJMTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QASJLVKSZPUPMXMWKBFUNBSFPARFTBFDI7PPTIFA2NWCS2X7AMDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js"
            ]
        },
        "DeleteFilter": {
            "input": {
                "type": "structure",
                "required": [
                    "filterArn"
                ],
                "members": {
                    "filterArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6POY67MBM7X63HZDWJLXRGPUN643YXYY5BXRCEX4NBKEYRVET7Q/main.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBMDNLK323OIHZYIOM5B7GJIVNE2IVC4IARQSYI6EGEUMLABDS3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4WYI7A5RB4J3ZQI7SXA7RHHEYHTI4HEHIWSGQVULPT6QVHWQWGA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OH2JSSC7WBZK4SMWSJ5AL3JJDBLKBOOLOIJP7R6HLH2VGVQDZP5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7R2OEHPPJKOXTICFR65P7NLPPGWJHVVFLYMPYV4RPGNWW7EQU6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PF2YFXJZXTPZP6YEIBULL4AF7LT6R3LOBSJ52O2PR22KOPVMXGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTDMV77SV6Q7KYAK3YHB6UFLTCCVZPDDARGZVLVIGSC3HKENISGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVPN4NOEU35ZBVDWTGMOKLOWMOLIGAWSFD2QMAYFPEQZDAJEJMTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QASJLVKSZPUPMXMWKBFUNBSFPARFTBFDI7PPTIFA2NWCS2X7AMDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js"
            ]
        },
        "DeleteSchema": {
            "input": {
                "type": "structure",
                "required": [
                    "schemaArn"
                ],
                "members": {
                    "schemaArn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6POY67MBM7X63HZDWJLXRGPUN643YXYY5BXRCEX4NBKEYRVET7Q/main.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBMDNLK323OIHZYIOM5B7GJIVNE2IVC4IARQSYI6EGEUMLABDS3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4WYI7A5RB4J3ZQI7SXA7RHHEYHTI4HEHIWSGQVULPT6QVHWQWGA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OH2JSSC7WBZK4SMWSJ5AL3JJDBLKBOOLOIJP7R6HLH2VGVQDZP5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7R2OEHPPJKOXTICFR65P7NLPPGWJHVVFLYMPYV4RPGNWW7EQU6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PF2YFXJZXTPZP6YEIBULL4AF7LT6R3LOBSJ52O2PR22KOPVMXGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTDMV77SV6Q7KYAK3YHB6UFLTCCVZPDDARGZVLVIGSC3HKENISGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVPN4NOEU35ZBVDWTGMOKLOWMOLIGAWSFD2QMAYFPEQZDAJEJMTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QASJLVKSZPUPMXMWKBFUNBSFPARFTBFDI7PPTIFA2NWCS2X7AMDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js"
            ]
        },
        "DeleteSolution": {
            "input": {
                "type": "structure",
                "required": [
                    "solutionArn"
                ],
                "members": {
                    "solutionArn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6POY67MBM7X63HZDWJLXRGPUN643YXYY5BXRCEX4NBKEYRVET7Q/main.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBMDNLK323OIHZYIOM5B7GJIVNE2IVC4IARQSYI6EGEUMLABDS3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4WYI7A5RB4J3ZQI7SXA7RHHEYHTI4HEHIWSGQVULPT6QVHWQWGA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OH2JSSC7WBZK4SMWSJ5AL3JJDBLKBOOLOIJP7R6HLH2VGVQDZP5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7R2OEHPPJKOXTICFR65P7NLPPGWJHVVFLYMPYV4RPGNWW7EQU6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PF2YFXJZXTPZP6YEIBULL4AF7LT6R3LOBSJ52O2PR22KOPVMXGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTDMV77SV6Q7KYAK3YHB6UFLTCCVZPDDARGZVLVIGSC3HKENISGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVPN4NOEU35ZBVDWTGMOKLOWMOLIGAWSFD2QMAYFPEQZDAJEJMTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QASJLVKSZPUPMXMWKBFUNBSFPARFTBFDI7PPTIFA2NWCS2X7AMDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js"
            ]
        },
        "DescribeAlgorithm": {
            "input": {
                "type": "structure",
                "required": [
                    "algorithmArn"
                ],
                "members": {
                    "algorithmArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "algorithm": {
                        "type": "structure",
                        "members": {
                            "name": {},
                            "algorithmArn": {},
                            "algorithmImage": {
                                "type": "structure",
                                "required": [
                                    "dockerURI"
                                ],
                                "members": {
                                    "name": {},
                                    "dockerURI": {}
                                }
                            },
                            "defaultHyperParameters": {
                                "shape": "Sc"
                            },
                            "defaultHyperParameterRanges": {
                                "type": "structure",
                                "members": {
                                    "integerHyperParameterRanges": {
                                        "type": "list",
                                        "member": {
                                            "type": "structure",
                                            "members": {
                                                "name": {},
                                                "minValue": {
                                                    "type": "integer"
                                                },
                                                "maxValue": {
                                                    "type": "integer"
                                                },
                                                "isTunable": {
                                                    "type": "boolean"
                                                }
                                            }
                                        }
                                    },
                                    "continuousHyperParameterRanges": {
                                        "type": "list",
                                        "member": {
                                            "type": "structure",
                                            "members": {
                                                "name": {},
                                                "minValue": {
                                                    "type": "double"
                                                },
                                                "maxValue": {
                                                    "type": "double"
                                                },
                                                "isTunable": {
                                                    "type": "boolean"
                                                }
                                            }
                                        }
                                    },
                                    "categoricalHyperParameterRanges": {
                                        "type": "list",
                                        "member": {
                                            "type": "structure",
                                            "members": {
                                                "name": {},
                                                "values": {
                                                    "shape": "S1p"
                                                },
                                                "isTunable": {
                                                    "type": "boolean"
                                                }
                                            }
                                        }
                                    }
                                }
                            },
                            "defaultResourceConfig": {
                                "type": "map",
                                "key": {},
                                "value": {}
                            },
                            "trainingInputMode": {},
                            "roleArn": {},
                            "creationDateTime": {
                                "type": "timestamp"
                            },
                            "lastUpdatedDateTime": {
                                "type": "timestamp"
                            }
                        }
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6POY67MBM7X63HZDWJLXRGPUN643YXYY5BXRCEX4NBKEYRVET7Q/main.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBMDNLK323OIHZYIOM5B7GJIVNE2IVC4IARQSYI6EGEUMLABDS3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4WYI7A5RB4J3ZQI7SXA7RHHEYHTI4HEHIWSGQVULPT6QVHWQWGA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OH2JSSC7WBZK4SMWSJ5AL3JJDBLKBOOLOIJP7R6HLH2VGVQDZP5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7R2OEHPPJKOXTICFR65P7NLPPGWJHVVFLYMPYV4RPGNWW7EQU6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PF2YFXJZXTPZP6YEIBULL4AF7LT6R3LOBSJ52O2PR22KOPVMXGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTDMV77SV6Q7KYAK3YHB6UFLTCCVZPDDARGZVLVIGSC3HKENISGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVPN4NOEU35ZBVDWTGMOKLOWMOLIGAWSFD2QMAYFPEQZDAJEJMTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QASJLVKSZPUPMXMWKBFUNBSFPARFTBFDI7PPTIFA2NWCS2X7AMDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js"
            ]
        },
        "DescribeBatchInferenceJob": {
            "input": {
                "type": "structure",
                "required": [
                    "batchInferenceJobArn"
                ],
                "members": {
                    "batchInferenceJobArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "batchInferenceJob": {
                        "type": "structure",
                        "members": {
                            "jobName": {},
                            "batchInferenceJobArn": {},
                            "filterArn": {},
                            "failureReason": {},
                            "solutionVersionArn": {},
                            "numResults": {
                                "type": "integer"
                            },
                            "jobInput": {
                                "shape": "S5"
                            },
                            "jobOutput": {
                                "shape": "S9"
                            },
                            "batchInferenceJobConfig": {
                                "shape": "Sb"
                            },
                            "roleArn": {},
                            "status": {},
                            "creationDateTime": {
                                "type": "timestamp"
                            },
                            "lastUpdatedDateTime": {
                                "type": "timestamp"
                            }
                        }
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6POY67MBM7X63HZDWJLXRGPUN643YXYY5BXRCEX4NBKEYRVET7Q/main.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBMDNLK323OIHZYIOM5B7GJIVNE2IVC4IARQSYI6EGEUMLABDS3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4WYI7A5RB4J3ZQI7SXA7RHHEYHTI4HEHIWSGQVULPT6QVHWQWGA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OH2JSSC7WBZK4SMWSJ5AL3JJDBLKBOOLOIJP7R6HLH2VGVQDZP5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7R2OEHPPJKOXTICFR65P7NLPPGWJHVVFLYMPYV4RPGNWW7EQU6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PF2YFXJZXTPZP6YEIBULL4AF7LT6R3LOBSJ52O2PR22KOPVMXGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTDMV77SV6Q7KYAK3YHB6UFLTCCVZPDDARGZVLVIGSC3HKENISGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVPN4NOEU35ZBVDWTGMOKLOWMOLIGAWSFD2QMAYFPEQZDAJEJMTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QASJLVKSZPUPMXMWKBFUNBSFPARFTBFDI7PPTIFA2NWCS2X7AMDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js"
            ]
        },
        "DescribeCampaign": {
            "input": {
                "type": "structure",
                "required": [
                    "campaignArn"
                ],
                "members": {
                    "campaignArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "campaign": {
                        "type": "structure",
                        "members": {
                            "name": {},
                            "campaignArn": {},
                            "solutionVersionArn": {},
                            "minProvisionedTPS": {
                                "type": "integer"
                            },
                            "campaignConfig": {
                                "shape": "Si"
                            },
                            "status": {},
                            "failureReason": {},
                            "creationDateTime": {
                                "type": "timestamp"
                            },
                            "lastUpdatedDateTime": {
                                "type": "timestamp"
                            },
                            "latestCampaignUpdate": {
                                "type": "structure",
                                "members": {
                                    "solutionVersionArn": {},
                                    "minProvisionedTPS": {
                                        "type": "integer"
                                    },
                                    "campaignConfig": {
                                        "shape": "Si"
                                    },
                                    "status": {},
                                    "failureReason": {},
                                    "creationDateTime": {
                                        "type": "timestamp"
                                    },
                                    "lastUpdatedDateTime": {
                                        "type": "timestamp"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6POY67MBM7X63HZDWJLXRGPUN643YXYY5BXRCEX4NBKEYRVET7Q/main.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBMDNLK323OIHZYIOM5B7GJIVNE2IVC4IARQSYI6EGEUMLABDS3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4WYI7A5RB4J3ZQI7SXA7RHHEYHTI4HEHIWSGQVULPT6QVHWQWGA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OH2JSSC7WBZK4SMWSJ5AL3JJDBLKBOOLOIJP7R6HLH2VGVQDZP5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7R2OEHPPJKOXTICFR65P7NLPPGWJHVVFLYMPYV4RPGNWW7EQU6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PF2YFXJZXTPZP6YEIBULL4AF7LT6R3LOBSJ52O2PR22KOPVMXGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTDMV77SV6Q7KYAK3YHB6UFLTCCVZPDDARGZVLVIGSC3HKENISGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVPN4NOEU35ZBVDWTGMOKLOWMOLIGAWSFD2QMAYFPEQZDAJEJMTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QASJLVKSZPUPMXMWKBFUNBSFPARFTBFDI7PPTIFA2NWCS2X7AMDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js"
            ]
        },
        "DescribeDataset": {
            "input": {
                "type": "structure",
                "required": [
                    "datasetArn"
                ],
                "members": {
                    "datasetArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "dataset": {
                        "type": "structure",
                        "members": {
                            "name": {},
                            "datasetArn": {},
                            "datasetGroupArn": {},
                            "datasetType": {},
                            "schemaArn": {},
                            "status": {},
                            "creationDateTime": {
                                "type": "timestamp"
                            },
                            "lastUpdatedDateTime": {
                                "type": "timestamp"
                            }
                        }
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6POY67MBM7X63HZDWJLXRGPUN643YXYY5BXRCEX4NBKEYRVET7Q/main.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBMDNLK323OIHZYIOM5B7GJIVNE2IVC4IARQSYI6EGEUMLABDS3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4WYI7A5RB4J3ZQI7SXA7RHHEYHTI4HEHIWSGQVULPT6QVHWQWGA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OH2JSSC7WBZK4SMWSJ5AL3JJDBLKBOOLOIJP7R6HLH2VGVQDZP5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7R2OEHPPJKOXTICFR65P7NLPPGWJHVVFLYMPYV4RPGNWW7EQU6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PF2YFXJZXTPZP6YEIBULL4AF7LT6R3LOBSJ52O2PR22KOPVMXGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTDMV77SV6Q7KYAK3YHB6UFLTCCVZPDDARGZVLVIGSC3HKENISGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVPN4NOEU35ZBVDWTGMOKLOWMOLIGAWSFD2QMAYFPEQZDAJEJMTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QASJLVKSZPUPMXMWKBFUNBSFPARFTBFDI7PPTIFA2NWCS2X7AMDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js"
            ]
        },
        "DescribeDatasetGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "datasetGroupArn"
                ],
                "members": {
                    "datasetGroupArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "datasetGroup": {
                        "type": "structure",
                        "members": {
                            "name": {},
                            "datasetGroupArn": {},
                            "status": {},
                            "roleArn": {},
                            "kmsKeyArn": {},
                            "creationDateTime": {
                                "type": "timestamp"
                            },
                            "lastUpdatedDateTime": {
                                "type": "timestamp"
                            },
                            "failureReason": {}
                        }
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6POY67MBM7X63HZDWJLXRGPUN643YXYY5BXRCEX4NBKEYRVET7Q/main.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBMDNLK323OIHZYIOM5B7GJIVNE2IVC4IARQSYI6EGEUMLABDS3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4WYI7A5RB4J3ZQI7SXA7RHHEYHTI4HEHIWSGQVULPT6QVHWQWGA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OH2JSSC7WBZK4SMWSJ5AL3JJDBLKBOOLOIJP7R6HLH2VGVQDZP5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7R2OEHPPJKOXTICFR65P7NLPPGWJHVVFLYMPYV4RPGNWW7EQU6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PF2YFXJZXTPZP6YEIBULL4AF7LT6R3LOBSJ52O2PR22KOPVMXGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTDMV77SV6Q7KYAK3YHB6UFLTCCVZPDDARGZVLVIGSC3HKENISGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVPN4NOEU35ZBVDWTGMOKLOWMOLIGAWSFD2QMAYFPEQZDAJEJMTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QASJLVKSZPUPMXMWKBFUNBSFPARFTBFDI7PPTIFA2NWCS2X7AMDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js"
            ]
        },
        "DescribeDatasetImportJob": {
            "input": {
                "type": "structure",
                "required": [
                    "datasetImportJobArn"
                ],
                "members": {
                    "datasetImportJobArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "datasetImportJob": {
                        "type": "structure",
                        "members": {
                            "jobName": {},
                            "datasetImportJobArn": {},
                            "datasetArn": {},
                            "dataSource": {
                                "shape": "Sq"
                            },
                            "roleArn": {},
                            "status": {},
                            "creationDateTime": {
                                "type": "timestamp"
                            },
                            "lastUpdatedDateTime": {
                                "type": "timestamp"
                            },
                            "failureReason": {}
                        }
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6POY67MBM7X63HZDWJLXRGPUN643YXYY5BXRCEX4NBKEYRVET7Q/main.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBMDNLK323OIHZYIOM5B7GJIVNE2IVC4IARQSYI6EGEUMLABDS3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4WYI7A5RB4J3ZQI7SXA7RHHEYHTI4HEHIWSGQVULPT6QVHWQWGA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OH2JSSC7WBZK4SMWSJ5AL3JJDBLKBOOLOIJP7R6HLH2VGVQDZP5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7R2OEHPPJKOXTICFR65P7NLPPGWJHVVFLYMPYV4RPGNWW7EQU6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PF2YFXJZXTPZP6YEIBULL4AF7LT6R3LOBSJ52O2PR22KOPVMXGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTDMV77SV6Q7KYAK3YHB6UFLTCCVZPDDARGZVLVIGSC3HKENISGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVPN4NOEU35ZBVDWTGMOKLOWMOLIGAWSFD2QMAYFPEQZDAJEJMTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QASJLVKSZPUPMXMWKBFUNBSFPARFTBFDI7PPTIFA2NWCS2X7AMDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
[...]
