{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-05-22",
        "endpointPrefix": "personalize-runtime",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "Amazon Personalize Runtime",
        "serviceId": "Personalize Runtime",
        "signatureVersion": "v4",
        "signingName": "personalize",
        "uid": "personalize-runtime-2018-05-22",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/URZAN53F7F7HKVY23VQWEDW6AYEA54QPM2E4E4QUNWAH7VPEAGCA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WCFTSNJG5VPZAGSQPYDIZN746QV3GWF2JI475FOHTTMZWZHQ4YMA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VBQBJW5KY5VVWZVPASZ4SRWV4SDHAHO5RFMAN6OYLMG56OFHEOCA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KYJWFE7T2HJUQ4OCVNRXXHJXD5KJBEDHLDW7LLXI3NFSIKH3HE7Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/26DBZ6YZIL6LJNZEVZGAQ3RLXPC2MPNEV6F7UYQATZU4YCE2VTEA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3TXWKKQGATLOYXW7D6ONOJXOOD3QOIZGG5GHXVPQ4CWID67BFSMA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H7PM4RJH7724332J5JTNLDJKRFY7FQVDER7TLAE6GVNWJJIHDUDQ/sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FWIHMBPJDRCCJRKNHK76MEFMQD5UNYWIH7XJTONZPS3V4XNB3PIQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DW7AHBVPMUKAL5W37CAPDD7C5HGJUMXOFOX4UN32PYQRUFPGCQXA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/GUIQ5G6FBIVDXGBYO5MLONLNLZVBD4UMIQR6LTXJEKWZ3RVTXLRA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js"
        ]
    },
    "operations": {
        "GetPersonalizedRanking": {
            "http": {
                "requestUri": "/personalize-ranking"
            },
            "input": {
                "type": "structure",
                "required": [
                    "campaignArn",
                    "inputList",
                    "userId"
                ],
                "members": {
                    "campaignArn": {},
                    "inputList": {
                        "type": "list",
                        "member": {}
                    },
                    "userId": {},
                    "context": {
                        "shape": "S6"
                    },
                    "filterArn": {},
                    "filterValues": {
                        "shape": "S9"
                    },
                    "metadataColumns": {
                        "shape": "So",
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "personalizedRanking": {
                        "shape": "Sd"
                    },
                    "recommendationId": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URZAN53F7F7HKVY23VQWEDW6AYEA54QPM2E4E4QUNWAH7VPEAGCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCFTSNJG5VPZAGSQPYDIZN746QV3GWF2JI475FOHTTMZWZHQ4YMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBQBJW5KY5VVWZVPASZ4SRWV4SDHAHO5RFMAN6OYLMG56OFHEOCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYJWFE7T2HJUQ4OCVNRXXHJXD5KJBEDHLDW7LLXI3NFSIKH3HE7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBZ6YZIL6LJNZEVZGAQ3RLXPC2MPNEV6F7UYQATZU4YCE2VTEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TXWKKQGATLOYXW7D6ONOJXOOD3QOIZGG5GHXVPQ4CWID67BFSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H7PM4RJH7724332J5JTNLDJKRFY7FQVDER7TLAE6GVNWJJIHDUDQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWIHMBPJDRCCJRKNHK76MEFMQD5UNYWIH7XJTONZPS3V4XNB3PIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW7AHBVPMUKAL5W37CAPDD7C5HGJUMXOFOX4UN32PYQRUFPGCQXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GUIQ5G6FBIVDXGBYO5MLONLNLZVBD4UMIQR6LTXJEKWZ3RVTXLRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js"
            ]
        },
        "GetRecommendations": {
            "http": {
                "requestUri": "/recommendations"
            },
            "input": {
                "type": "structure",
                "required": [
                    "campaignArn"
                ],
                "members": {
                    "campaignArn": {},
                    "itemId": {},
                    "userId": {},
                    "numResults": {
                        "type": "integer"
                    },
                    "context": {
                        "shape": "S6"
                    },
                    "filterArn": {},
                    "filterValues": {
                        "shape": "S9"
                    },
                    "recommenderArn": {},
                    "promotions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "name": {},
                                "percentPromotedItems": {
                                    "type": "integer"
                                },
                                "filterArn": {},
                                "filterValues": {
                                    "shape": "S9"
                                }
                            }
                        }
                    },
                    "metadataColumns": {
                        "shape": "So",
                        "internalonly": true
                    },
                    "userInteractions": {
                        "internalonly": true,
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "itemId",
                                "eventType",
                                "timestamp"
                            ],
                            "members": {
                                "itemId": {},
                                "eventType": {},
                                "eventValue": {},
                                "timestamp": {
                                    "type": "timestamp"
                                },
                                "metadata": {
                                    "shape": "Sy"
                                }
                            },
                            "internalonly": true
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "itemList": {
                        "shape": "Sd"
                    },
                    "recommendationId": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URZAN53F7F7HKVY23VQWEDW6AYEA54QPM2E4E4QUNWAH7VPEAGCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCFTSNJG5VPZAGSQPYDIZN746QV3GWF2JI475FOHTTMZWZHQ4YMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBQBJW5KY5VVWZVPASZ4SRWV4SDHAHO5RFMAN6OYLMG56OFHEOCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYJWFE7T2HJUQ4OCVNRXXHJXD5KJBEDHLDW7LLXI3NFSIKH3HE7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBZ6YZIL6LJNZEVZGAQ3RLXPC2MPNEV6F7UYQATZU4YCE2VTEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TXWKKQGATLOYXW7D6ONOJXOOD3QOIZGG5GHXVPQ4CWID67BFSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H7PM4RJH7724332J5JTNLDJKRFY7FQVDER7TLAE6GVNWJJIHDUDQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWIHMBPJDRCCJRKNHK76MEFMQD5UNYWIH7XJTONZPS3V4XNB3PIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW7AHBVPMUKAL5W37CAPDD7C5HGJUMXOFOX4UN32PYQRUFPGCQXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GUIQ5G6FBIVDXGBYO5MLONLNLZVBD4UMIQR6LTXJEKWZ3RVTXLRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js"
            ]
        },
        "ConsumeResourceEvent": {
            "input": {
                "type": "structure",
                "required": [
                    "accountId",
                    "resourceId",
                    "resourceType",
                    "eventType"
                ],
                "members": {
                    "accountId": {},
                    "resourceId": {},
                    "resourceType": {},
                    "eventType": {},
                    "resourceData": {},
                    "idempotencyToken": {}
                }
            },
            "idempotent": true,
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ATEWQFBGFPQPNVAJTXWA2DQROLEO2ORZUYMHAASOUKH3SQVAOGWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KNYWWXJLLJTE6Z3CAV3TZ2667YH73HAEFFX5U2SKMS4WM76GVGIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLVXTUDDTLKOGZ4VVFLNFYIJGO6JC77CDU63J645OSFHGVYPNPJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UOEQUH3GCFBQVCLUL7WOHJA3PFJSJPEFIL75MNC6XVBJ5GP6BKFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ARVHOYMIZYID2NQZ7TCQOHEPGNQDN6QALF5VZH3QIAZQJ7DKNTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLDM37GP7GILAWXKOIN3JCVLNW6KVFVVXBUKRZCPG7UUVUMOLEXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ONHVTAPNRLE7MB5N5L7IRFVLRZK2OT6IN5QS47KUVCSNLZVPXE3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3AM6Z45R5IKBZSDVPZXJTRIPFXHZ6UBCSAFSP5ISJUXZJ3BWCBDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XSMSEBUBPOASACJSVUAQKE437L2YNLSCWASSIHQBBQV4R3UNAC4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ROTNTP2PFQUSWQF7GYLU2X6IZ4UQQN6SQ5ZTFVHQJ3VSVVXWTBDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNTYSQW7RARND6WWM3XASPFRQ7MYVKAJMY52ZVEMLL4FN7COQIQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAMYVI7CJSGE5FFXA3F6YZWZCGCG6DA6X5IWVUYYKZYNNXHBOZVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVH3BPCHRGC7KNZFVWPAROLJ6CTJSOSCRS2IWHAW3E2AUC324IQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LT6GVDOG3KCFDCRZPMU4XMJJMUO5LBTTG3SGYJ7PPYLU7PQIMSXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHVTTYJJL2YAHUVAMNHA46EWNGR54UM3IXDN5B2KVKXK3XFHTSLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZBIISPQTY4ORDE6ZICDD3NCECC7UAHDGBG72BXZ4D3CBZ5OXMUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2DG4PRN6IGWO2CUVEBDQW2OG5WXRT7EIUH5OHRFZF3YWWWJH25XQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TL4BBIOXPB7QVIEKCVKHT3KFYXATA6RN34XY2UOEPXIDHRYZGUXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVF44IQWNZGORPLQUO3ECZZE367AZWUWTVZ5MO6KIKBCLZMERBIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGMZYQCJKTLF4J6FBG4N5FLSUTGOZUPHXRSMOZXYIW4DNQK2T7AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NDQZ7AQL5OCIPNNHIA5YOEEKXGJATWPH7K7VEZK5WJ4CHTHZDVUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/266A2LERDXOCNC5T4OCEFD4GJJGUEM4DSYXGL4SCYXOCE37IJXSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52DOOZX3SUX2UID5IFUNZQFCSER3G2G5V4ALQOWYWEP4TZRGNSEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBQBJW5KY5VVWZVPASZ4SRWV4SDHAHO5RFMAN6OYLMG56OFHEOCA/main.js"
            ]
        },
        "GetActionRecommendations": {
            "http": {
                "requestUri": "/action-recommendations"
            },
            "input": {
                "type": "structure",
                "members": {
                    "campaignArn": {},
                    "userId": {},
                    "numResults": {
                        "type": "integer"
                    },
                    "filterArn": {},
                    "filterValues": {
                        "shape": "S9"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "actionList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "actionId": {},
                                "score": {
                                    "type": "double"
                                }
                            }
                        }
                    },
                    "recommendationId": {}
                }
            },
            "idempotent": true,
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3J5PRV6RYOEMRHTQR65F5NAUFHWKKXR4FKQDDEGYDTTMVSM55FIQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RSD6RARMWHWRQLU5JNRXL3D3XJVVHNFVXQP7O2PXBFHCUY3PGP4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TXWKKQGATLOYXW7D6ONOJXOOD3QOIZGG5GHXVPQ4CWID67BFSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H7PM4RJH7724332J5JTNLDJKRFY7FQVDER7TLAE6GVNWJJIHDUDQ/sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GUIQ5G6FBIVDXGBYO5MLONLNLZVBD4UMIQR6LTXJEKWZ3RVTXLRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZ7NJDTN6QTBZV3C4MKZWINYDL2QP5SHIBPXAJ35Y47TS4VU6WVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBRMAOSSOAXAUS7KDMK3JRNQURO3WVW7BCXCNTS73DXPJFGDSGUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKPQ6AP3GE6KQNYKEL24744IFW2352KUVNWO7MNZYZHK7TGRX7HQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26X7O4UZB7J6N3VWPIQM2OBUAJIFZ26OPRHB7M2Q3T3ZEY3CNOAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCFTSNJG5VPZAGSQPYDIZN746QV3GWF2JI475FOHTTMZWZHQ4YMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBQBJW5KY5VVWZVPASZ4SRWV4SDHAHO5RFMAN6OYLMG56OFHEOCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBZ6YZIL6LJNZEVZGAQ3RLXPC2MPNEV6F7UYQATZU4YCE2VTEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js"
            ]
        },
        "GetPersonalizedQuery": {
            "http": {
                "requestUri": "/personalize-query"
            },
            "input": {
                "type": "structure",
                "required": [
                    "userQuery",
                    "userId"
                ],
                "members": {
                    "userQuery": {},
                    "userId": {},
                    "userMetadata": {
                        "type": "structure",
                        "members": {
                            "name": {
                                "type": "structure",
                                "members": {
                                    "Formatted": {
                                        "shape": "Sm"
                                    },
                                    "FamilyName": {
                                        "shape": "Sm"
                                    },
                                    "GivenName": {
                                        "shape": "Sm"
                                    },
                                    "MiddleName": {
                                        "shape": "Sm"
                                    },
                                    "HonorificPrefix": {
                                        "shape": "Sm"
                                    },
                                    "HonorificSuffix": {
                                        "shape": "Sm"
                                    }
                                }
                            },
                            "addresses": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "members": {
                                        "StreetAddress": {
                                            "shape": "Sm"
                                        },
                                        "Locality": {
                                            "shape": "Sm"
                                        },
                                        "Region": {
                                            "shape": "Sm"
                                        },
                                        "PostalCode": {
                                            "shape": "Sm"
                                        },
                                        "Country": {
                                            "shape": "Sm"
                                        },
                                        "Formatted": {
                                            "shape": "Sm"
                                        },
                                        "Type": {
                                            "shape": "Sm"
                                        },
                                        "Primary": {
                                            "shape": "Sp"
                                        }
                                    }
                                }
                            },
                            "emails": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "members": {
                                        "Value": {
                                            "shape": "Sm"
                                        },
                                        "Type": {
                                            "shape": "Sm"
                                        },
                                        "VerificationStatus": {
                                            "shape": "Sm"
                                        },
                                        "Primary": {
                                            "shape": "Sp"
                                        }
                                    }
                                }
                            },
                            "phoneNumbers": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "members": {
                                        "Value": {
                                            "shape": "Sm"
                                        },
                                        "Type": {
                                            "shape": "Sm"
                                        },
                                        "Primary": {
                                            "shape": "Sp"
                                        }
                                    }
                                }
                            },
                            "locale": {
                                "shape": "Sm"
                            },
                            "preferredLanguage": {
                                "shape": "Sm"
                            },
                            "timezone": {
                                "shape": "Sm"
                            },
                            "title": {
                                "shape": "Sm"
                            },
                            "userType": {
                                "shape": "Sm"
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "personalizedQuery": {},
                    "recommendationId": {}
                }
            },
            "idempotent": true,
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ATEWQFBGFPQPNVAJTXWA2DQROLEO2ORZUYMHAASOUKH3SQVAOGWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KNYWWXJLLJTE6Z3CAV3TZ2667YH73HAEFFX5U2SKMS4WM76GVGIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLVXTUDDTLKOGZ4VVFLNFYIJGO6JC77CDU63J645OSFHGVYPNPJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UOEQUH3GCFBQVCLUL7WOHJA3PFJSJPEFIL75MNC6XVBJ5GP6BKFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ARVHOYMIZYID2NQZ7TCQOHEPGNQDN6QALF5VZH3QIAZQJ7DKNTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLDM37GP7GILAWXKOIN3JCVLNW6KVFVVXBUKRZCPG7UUVUMOLEXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ONHVTAPNRLE7MB5N5L7IRFVLRZK2OT6IN5QS47KUVCSNLZVPXE3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3AM6Z45R5IKBZSDVPZXJTRIPFXHZ6UBCSAFSP5ISJUXZJ3BWCBDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XSMSEBUBPOASACJSVUAQKE437L2YNLSCWASSIHQBBQV4R3UNAC4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ROTNTP2PFQUSWQF7GYLU2X6IZ4UQQN6SQ5ZTFVHQJ3VSVVXWTBDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNTYSQW7RARND6WWM3XASPFRQ7MYVKAJMY52ZVEMLL4FN7COQIQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAMYVI7CJSGE5FFXA3F6YZWZCGCG6DA6X5IWVUYYKZYNNXHBOZVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVH3BPCHRGC7KNZFVWPAROLJ6CTJSOSCRS2IWHAW3E2AUC324IQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LT6GVDOG3KCFDCRZPMU4XMJJMUO5LBTTG3SGYJ7PPYLU7PQIMSXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHVTTYJJL2YAHUVAMNHA46EWNGR54UM3IXDN5B2KVKXK3XFHTSLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZBIISPQTY4ORDE6ZICDD3NCECC7UAHDGBG72BXZ4D3CBZ5OXMUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2DG4PRN6IGWO2CUVEBDQW2OG5WXRT7EIUH5OHRFZF3YWWWJH25XQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TL4BBIOXPB7QVIEKCVKHT3KFYXATA6RN34XY2UOEPXIDHRYZGUXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVF44IQWNZGORPLQUO3ECZZE367AZWUWTVZ5MO6KIKBCLZMERBIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGMZYQCJKTLF4J6FBG4N5FLSUTGOZUPHXRSMOZXYIW4DNQK2T7AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NDQZ7AQL5OCIPNNHIA5YOEEKXGJATWPH7K7VEZK5WJ4CHTHZDVUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/266A2LERDXOCNC5T4OCEFD4GJJGUEM4DSYXGL4SCYXOCE37IJXSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52DOOZX3SUX2UID5IFUNZQFCSER3G2G5V4ALQOWYWEP4TZRGNSEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBQBJW5KY5VVWZVPASZ4SRWV4SDHAHO5RFMAN6OYLMG56OFHEOCA/main.js"
            ]
        }
    },
    "shapes": {
        "S6": {
            "type": "map",
            "key": {},
            "value": {
                "type": "string",
                "sensitive": true
            }
        },
        "S9": {
            "type": "map",
            "key": {},
            "value": {
                "type": "string",
                "sensitive": true
            }
        },
        "Sd": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "itemId": {},
                    "score": {
                        "type": "double"
                    }
                }
            }
        },
        "Sa": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "itemId": {},
                    "score": {
                        "type": "double"
                    }
                }
            }
        },
        "Sh": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "itemId": {},
                    "score": {
                        "type": "double"
                    },
                    "promotionName": {},
                    "latentScore": {
                        "internalonly": true,
                        "type": "double"
                    }
                }
            }
        },
        "Sl": {
            "type": "map",
            "key": {},
            "value": {
                "type": "string",
                "sensitive": true
            }
        },
        "Sp": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "itemId": {},
                    "score": {
                        "type": "double"
                    },
                    "promotionName": {},
                    "latentScore": {
                        "internalonly": true,
                        "type": "double"
                    }
                }
            }
        },
        "So": {
            "type": "map",
            "key": {},
            "value": {
                "type": "list",
                "member": {}
            }
        },
        "St": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "itemId": {},
                    "score": {
                        "type": "double"
                    },
                    "promotionName": {},
                    "latentScore": {
                        "internalonly": true,
                        "type": "double"
                    },
                    "metadata": {
                        "internalonly": true,
                        "type": "map",
                        "key": {},
                        "value": {}
                    }
                }
            }
        },
        "S5": {
            "type": "map",
            "key": {},
            "value": {
                "type": "string",
                "sensitive": true
            }
        },
        "Sk": {
            "type": "map",
            "key": {},
            "value": {
                "type": "list",
                "member": {}
            }
        },
        "Sm": {
            "type": "string",
            "sensitive": true
        },
        "Sy": {
            "type": "map",
            "key": {},
            "value": {
                "type": "string",
                "sensitive": true
            }
        },
        "S11": {
            "type": "map",
            "key": {},
            "value": {
                "type": "list",
                "member": {}
            }
        },
        "S16": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "itemId": {},
                    "score": {
                        "type": "double"
                    },
                    "promotionName": {},
                    "latentScore": {
                        "internalonly": true,
                        "type": "double"
                    },
                    "metadata": {
                        "type": "map",
                        "key": {},
                        "value": {},
                        "sensitive": true
                    }
                }
            }
        }
    }
}