{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-05-22",
        "endpointPrefix": "personalize",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceFullName": "Amazon Personalize",
        "serviceId": "Personalize",
        "signatureVersion": "v4",
        "signingName": "personalize",
        "targetPrefix": "AmazonPersonalize",
        "uid": "personalize-2018-05-22",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/6YJO6CRESWY5VENDTMFDPFWE4IOQ4K3RN2YQGQNMBQEHX6MIS2AA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/B5XOXDH43GMFA2XS7R6EJJWUP7CCNJMG7OMU6MQGGQJDXSTPEJWQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KMPBOSC7DMX32XXS4GAIZRPAB7RDK4UUL4FZFPHVHVZNAT7YHDMA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RKHQJL4AU4L77BFSBOIENHPUPSKWMKLMPYUNP4QXXRKNKEWZ4FGA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FT4OO2KXXZWQHFAB2ZSIIUKIFWZHVNRMIGOPEITKVVHGQJY4XSOA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SFQOXKVSLED3OCT5CXHJZWENDN7CYOSDEVVQF6TYBEM6VP525B4A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J4SLRUZAZWWWH2UIO6KRIJW56UO4LV5WJDAJARQRBNN3YOBIWCMQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BACENCN5LWLDZUB7XHBCEPEGPGNAWLMZAAVJH6CEMXMGRYEIPVKQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KOAPLDOSZNVZBLXPFWC7PRZACGOG2SQQ45Q7Y7VD2VYBU2MYZOQQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
            "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
        ]
    },
    "operations": {
        "CreateBatchInferenceJob": {
            "input": {
                "type": "structure",
                "required": [
                    "jobName",
                    "solutionVersionArn",
                    "jobInput",
                    "jobOutput",
                    "roleArn"
                ],
                "members": {
                    "jobName": {},
                    "solutionVersionArn": {},
                    "filterArn": {},
                    "numResults": {
                        "type": "integer"
                    },
                    "jobInput": {
                        "shape": "S5"
                    },
                    "jobOutput": {
                        "shape": "S9"
                    },
                    "roleArn": {},
                    "batchInferenceJobConfig": {
                        "shape": "Sb"
                    },
                    "tags": {
                        "shape": "Sf"
                    },
                    "enableThemeGeneration": {
                        "internalonly": true,
                        "type": "boolean"
                    },
                    "batchInferenceJobMode": {
                        "internalonly": true
                    },
                    "themeGenerationConfig": {
                        "shape": "S14",
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "batchInferenceJobArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YJO6CRESWY5VENDTMFDPFWE4IOQ4K3RN2YQGQNMBQEHX6MIS2AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5XOXDH43GMFA2XS7R6EJJWUP7CCNJMG7OMU6MQGGQJDXSTPEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMPBOSC7DMX32XXS4GAIZRPAB7RDK4UUL4FZFPHVHVZNAT7YHDMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKHQJL4AU4L77BFSBOIENHPUPSKWMKLMPYUNP4QXXRKNKEWZ4FGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FT4OO2KXXZWQHFAB2ZSIIUKIFWZHVNRMIGOPEITKVVHGQJY4XSOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFQOXKVSLED3OCT5CXHJZWENDN7CYOSDEVVQF6TYBEM6VP525B4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4SLRUZAZWWWH2UIO6KRIJW56UO4LV5WJDAJARQRBNN3YOBIWCMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BACENCN5LWLDZUB7XHBCEPEGPGNAWLMZAAVJH6CEMXMGRYEIPVKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOAPLDOSZNVZBLXPFWC7PRZACGOG2SQQ45Q7Y7VD2VYBU2MYZOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
            ]
        },
        "CreateCampaign": {
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "solutionVersionArn",
                    "minProvisionedTPS"
                ],
                "members": {
                    "name": {},
                    "solutionVersionArn": {},
                    "minProvisionedTPS": {
                        "type": "integer"
                    },
                    "campaignConfig": {
                        "shape": "Si"
                    },
                    "tags": {
                        "shape": "Sf"
                    },
                    "updateMode": {
                        "internalonly": true
                    },
                    "createdBy": {
                        "internalonly": true
                    },
                    "recommenderArn": {
                        "internalonly": true
                    },
                    "filterArn": {
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "campaignArn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YJO6CRESWY5VENDTMFDPFWE4IOQ4K3RN2YQGQNMBQEHX6MIS2AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5XOXDH43GMFA2XS7R6EJJWUP7CCNJMG7OMU6MQGGQJDXSTPEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMPBOSC7DMX32XXS4GAIZRPAB7RDK4UUL4FZFPHVHVZNAT7YHDMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKHQJL4AU4L77BFSBOIENHPUPSKWMKLMPYUNP4QXXRKNKEWZ4FGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FT4OO2KXXZWQHFAB2ZSIIUKIFWZHVNRMIGOPEITKVVHGQJY4XSOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFQOXKVSLED3OCT5CXHJZWENDN7CYOSDEVVQF6TYBEM6VP525B4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4SLRUZAZWWWH2UIO6KRIJW56UO4LV5WJDAJARQRBNN3YOBIWCMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BACENCN5LWLDZUB7XHBCEPEGPGNAWLMZAAVJH6CEMXMGRYEIPVKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOAPLDOSZNVZBLXPFWC7PRZACGOG2SQQ45Q7Y7VD2VYBU2MYZOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
            ]
        },
        "CreateDataset": {
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "schemaArn",
                    "datasetGroupArn",
                    "datasetType"
                ],
                "members": {
                    "name": {},
                    "schemaArn": {},
                    "datasetGroupArn": {},
                    "datasetType": {},
                    "tags": {
                        "shape": "Sf"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "datasetArn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YJO6CRESWY5VENDTMFDPFWE4IOQ4K3RN2YQGQNMBQEHX6MIS2AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5XOXDH43GMFA2XS7R6EJJWUP7CCNJMG7OMU6MQGGQJDXSTPEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMPBOSC7DMX32XXS4GAIZRPAB7RDK4UUL4FZFPHVHVZNAT7YHDMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKHQJL4AU4L77BFSBOIENHPUPSKWMKLMPYUNP4QXXRKNKEWZ4FGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FT4OO2KXXZWQHFAB2ZSIIUKIFWZHVNRMIGOPEITKVVHGQJY4XSOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFQOXKVSLED3OCT5CXHJZWENDN7CYOSDEVVQF6TYBEM6VP525B4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4SLRUZAZWWWH2UIO6KRIJW56UO4LV5WJDAJARQRBNN3YOBIWCMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BACENCN5LWLDZUB7XHBCEPEGPGNAWLMZAAVJH6CEMXMGRYEIPVKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOAPLDOSZNVZBLXPFWC7PRZACGOG2SQQ45Q7Y7VD2VYBU2MYZOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
            ]
        },
        "CreateDatasetGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "name"
                ],
                "members": {
                    "name": {},
                    "roleArn": {},
                    "kmsKeyArn": {},
                    "domain": {},
                    "tags": {
                        "shape": "Sf"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "datasetGroupArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YJO6CRESWY5VENDTMFDPFWE4IOQ4K3RN2YQGQNMBQEHX6MIS2AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5XOXDH43GMFA2XS7R6EJJWUP7CCNJMG7OMU6MQGGQJDXSTPEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMPBOSC7DMX32XXS4GAIZRPAB7RDK4UUL4FZFPHVHVZNAT7YHDMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKHQJL4AU4L77BFSBOIENHPUPSKWMKLMPYUNP4QXXRKNKEWZ4FGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FT4OO2KXXZWQHFAB2ZSIIUKIFWZHVNRMIGOPEITKVVHGQJY4XSOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFQOXKVSLED3OCT5CXHJZWENDN7CYOSDEVVQF6TYBEM6VP525B4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4SLRUZAZWWWH2UIO6KRIJW56UO4LV5WJDAJARQRBNN3YOBIWCMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BACENCN5LWLDZUB7XHBCEPEGPGNAWLMZAAVJH6CEMXMGRYEIPVKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOAPLDOSZNVZBLXPFWC7PRZACGOG2SQQ45Q7Y7VD2VYBU2MYZOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
            ]
        },
        "CreateDatasetImportJob": {
            "input": {
                "type": "structure",
                "required": [
                    "jobName",
                    "datasetArn",
                    "dataSource",
                    "roleArn"
                ],
                "members": {
                    "jobName": {},
                    "datasetArn": {},
                    "dataSource": {
                        "shape": "Sq"
                    },
                    "roleArn": {},
                    "tags": {
                        "shape": "Sf"
                    },
                    "importMode": {},
                    "publishAttributionMetricsToS3": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "datasetImportJobArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YJO6CRESWY5VENDTMFDPFWE4IOQ4K3RN2YQGQNMBQEHX6MIS2AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5XOXDH43GMFA2XS7R6EJJWUP7CCNJMG7OMU6MQGGQJDXSTPEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMPBOSC7DMX32XXS4GAIZRPAB7RDK4UUL4FZFPHVHVZNAT7YHDMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKHQJL4AU4L77BFSBOIENHPUPSKWMKLMPYUNP4QXXRKNKEWZ4FGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FT4OO2KXXZWQHFAB2ZSIIUKIFWZHVNRMIGOPEITKVVHGQJY4XSOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFQOXKVSLED3OCT5CXHJZWENDN7CYOSDEVVQF6TYBEM6VP525B4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4SLRUZAZWWWH2UIO6KRIJW56UO4LV5WJDAJARQRBNN3YOBIWCMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BACENCN5LWLDZUB7XHBCEPEGPGNAWLMZAAVJH6CEMXMGRYEIPVKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOAPLDOSZNVZBLXPFWC7PRZACGOG2SQQ45Q7Y7VD2VYBU2MYZOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
            ]
        },
        "CreateEventTracker": {
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "datasetGroupArn"
                ],
                "members": {
                    "name": {},
                    "datasetGroupArn": {},
                    "tags": {
                        "shape": "Sf"
                    },
                    "datasetType": {
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "eventTrackerArn": {},
                    "trackingId": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YJO6CRESWY5VENDTMFDPFWE4IOQ4K3RN2YQGQNMBQEHX6MIS2AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5XOXDH43GMFA2XS7R6EJJWUP7CCNJMG7OMU6MQGGQJDXSTPEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMPBOSC7DMX32XXS4GAIZRPAB7RDK4UUL4FZFPHVHVZNAT7YHDMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKHQJL4AU4L77BFSBOIENHPUPSKWMKLMPYUNP4QXXRKNKEWZ4FGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FT4OO2KXXZWQHFAB2ZSIIUKIFWZHVNRMIGOPEITKVVHGQJY4XSOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFQOXKVSLED3OCT5CXHJZWENDN7CYOSDEVVQF6TYBEM6VP525B4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4SLRUZAZWWWH2UIO6KRIJW56UO4LV5WJDAJARQRBNN3YOBIWCMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BACENCN5LWLDZUB7XHBCEPEGPGNAWLMZAAVJH6CEMXMGRYEIPVKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOAPLDOSZNVZBLXPFWC7PRZACGOG2SQQ45Q7Y7VD2VYBU2MYZOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
            ]
        },
        "CreateFilter": {
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "datasetGroupArn",
                    "filterExpression"
                ],
                "members": {
                    "name": {},
                    "datasetGroupArn": {},
                    "filterExpression": {
                        "shape": "Sw"
                    },
                    "tags": {
                        "shape": "Sf"
                    },
                    "createdBy": {
                        "internalonly": true
                    },
                    "recommenderArn": {
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "filterArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XJJ7VW4EWJBEE6SIXOPIVHE5B56ESNWQ5YKNGLO6VOLEGNSLHVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YJO6CRESWY5VENDTMFDPFWE4IOQ4K3RN2YQGQNMBQEHX6MIS2AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5XOXDH43GMFA2XS7R6EJJWUP7CCNJMG7OMU6MQGGQJDXSTPEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMPBOSC7DMX32XXS4GAIZRPAB7RDK4UUL4FZFPHVHVZNAT7YHDMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKHQJL4AU4L77BFSBOIENHPUPSKWMKLMPYUNP4QXXRKNKEWZ4FGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FT4OO2KXXZWQHFAB2ZSIIUKIFWZHVNRMIGOPEITKVVHGQJY4XSOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFQOXKVSLED3OCT5CXHJZWENDN7CYOSDEVVQF6TYBEM6VP525B4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4SLRUZAZWWWH2UIO6KRIJW56UO4LV5WJDAJARQRBNN3YOBIWCMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BACENCN5LWLDZUB7XHBCEPEGPGNAWLMZAAVJH6CEMXMGRYEIPVKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOAPLDOSZNVZBLXPFWC7PRZACGOG2SQQ45Q7Y7VD2VYBU2MYZOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
            ]
        },
        "CreateSchema": {
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "schema"
                ],
                "members": {
                    "name": {},
                    "schema": {},
                    "domain": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "schemaArn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YJO6CRESWY5VENDTMFDPFWE4IOQ4K3RN2YQGQNMBQEHX6MIS2AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5XOXDH43GMFA2XS7R6EJJWUP7CCNJMG7OMU6MQGGQJDXSTPEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMPBOSC7DMX32XXS4GAIZRPAB7RDK4UUL4FZFPHVHVZNAT7YHDMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKHQJL4AU4L77BFSBOIENHPUPSKWMKLMPYUNP4QXXRKNKEWZ4FGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FT4OO2KXXZWQHFAB2ZSIIUKIFWZHVNRMIGOPEITKVVHGQJY4XSOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFQOXKVSLED3OCT5CXHJZWENDN7CYOSDEVVQF6TYBEM6VP525B4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4SLRUZAZWWWH2UIO6KRIJW56UO4LV5WJDAJARQRBNN3YOBIWCMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BACENCN5LWLDZUB7XHBCEPEGPGNAWLMZAAVJH6CEMXMGRYEIPVKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOAPLDOSZNVZBLXPFWC7PRZACGOG2SQQ45Q7Y7VD2VYBU2MYZOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
            ]
        },
        "CreateSolution": {
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "datasetGroupArn"
                ],
                "members": {
                    "name": {},
                    "performHPO": {
                        "type": "boolean"
                    },
                    "performAutoML": {
                        "type": "boolean"
                    },
                    "recipeArn": {},
                    "datasetGroupArn": {},
                    "eventType": {},
                    "solutionConfig": {
                        "shape": "S15"
                    },
                    "tags": {
                        "shape": "Sf"
                    },
                    "createdBy": {
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "solutionArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YJO6CRESWY5VENDTMFDPFWE4IOQ4K3RN2YQGQNMBQEHX6MIS2AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5XOXDH43GMFA2XS7R6EJJWUP7CCNJMG7OMU6MQGGQJDXSTPEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMPBOSC7DMX32XXS4GAIZRPAB7RDK4UUL4FZFPHVHVZNAT7YHDMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKHQJL4AU4L77BFSBOIENHPUPSKWMKLMPYUNP4QXXRKNKEWZ4FGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FT4OO2KXXZWQHFAB2ZSIIUKIFWZHVNRMIGOPEITKVVHGQJY4XSOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFQOXKVSLED3OCT5CXHJZWENDN7CYOSDEVVQF6TYBEM6VP525B4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4SLRUZAZWWWH2UIO6KRIJW56UO4LV5WJDAJARQRBNN3YOBIWCMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BACENCN5LWLDZUB7XHBCEPEGPGNAWLMZAAVJH6CEMXMGRYEIPVKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOAPLDOSZNVZBLXPFWC7PRZACGOG2SQQ45Q7Y7VD2VYBU2MYZOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
            ]
        },
        "CreateSolutionVersion": {
            "input": {
                "type": "structure",
                "required": [
                    "solutionArn"
                ],
                "members": {
                    "solutionArn": {},
                    "trainingMode": {},
                    "name": {},
                    "tags": {
                        "shape": "Sf"
                    },
                    "createdBy": {
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "solutionVersionArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YJO6CRESWY5VENDTMFDPFWE4IOQ4K3RN2YQGQNMBQEHX6MIS2AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5XOXDH43GMFA2XS7R6EJJWUP7CCNJMG7OMU6MQGGQJDXSTPEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMPBOSC7DMX32XXS4GAIZRPAB7RDK4UUL4FZFPHVHVZNAT7YHDMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKHQJL4AU4L77BFSBOIENHPUPSKWMKLMPYUNP4QXXRKNKEWZ4FGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FT4OO2KXXZWQHFAB2ZSIIUKIFWZHVNRMIGOPEITKVVHGQJY4XSOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFQOXKVSLED3OCT5CXHJZWENDN7CYOSDEVVQF6TYBEM6VP525B4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4SLRUZAZWWWH2UIO6KRIJW56UO4LV5WJDAJARQRBNN3YOBIWCMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BACENCN5LWLDZUB7XHBCEPEGPGNAWLMZAAVJH6CEMXMGRYEIPVKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOAPLDOSZNVZBLXPFWC7PRZACGOG2SQQ45Q7Y7VD2VYBU2MYZOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
            ]
        },
        "DeleteCampaign": {
            "input": {
                "type": "structure",
                "required": [
                    "campaignArn"
                ],
                "members": {
                    "campaignArn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YJO6CRESWY5VENDTMFDPFWE4IOQ4K3RN2YQGQNMBQEHX6MIS2AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5XOXDH43GMFA2XS7R6EJJWUP7CCNJMG7OMU6MQGGQJDXSTPEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMPBOSC7DMX32XXS4GAIZRPAB7RDK4UUL4FZFPHVHVZNAT7YHDMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKHQJL4AU4L77BFSBOIENHPUPSKWMKLMPYUNP4QXXRKNKEWZ4FGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FT4OO2KXXZWQHFAB2ZSIIUKIFWZHVNRMIGOPEITKVVHGQJY4XSOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFQOXKVSLED3OCT5CXHJZWENDN7CYOSDEVVQF6TYBEM6VP525B4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4SLRUZAZWWWH2UIO6KRIJW56UO4LV5WJDAJARQRBNN3YOBIWCMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BACENCN5LWLDZUB7XHBCEPEGPGNAWLMZAAVJH6CEMXMGRYEIPVKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOAPLDOSZNVZBLXPFWC7PRZACGOG2SQQ45Q7Y7VD2VYBU2MYZOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
            ]
        },
        "DeleteDataset": {
            "input": {
                "type": "structure",
                "required": [
                    "datasetArn"
                ],
                "members": {
                    "datasetArn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YJO6CRESWY5VENDTMFDPFWE4IOQ4K3RN2YQGQNMBQEHX6MIS2AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5XOXDH43GMFA2XS7R6EJJWUP7CCNJMG7OMU6MQGGQJDXSTPEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMPBOSC7DMX32XXS4GAIZRPAB7RDK4UUL4FZFPHVHVZNAT7YHDMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKHQJL4AU4L77BFSBOIENHPUPSKWMKLMPYUNP4QXXRKNKEWZ4FGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FT4OO2KXXZWQHFAB2ZSIIUKIFWZHVNRMIGOPEITKVVHGQJY4XSOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFQOXKVSLED3OCT5CXHJZWENDN7CYOSDEVVQF6TYBEM6VP525B4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4SLRUZAZWWWH2UIO6KRIJW56UO4LV5WJDAJARQRBNN3YOBIWCMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BACENCN5LWLDZUB7XHBCEPEGPGNAWLMZAAVJH6CEMXMGRYEIPVKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOAPLDOSZNVZBLXPFWC7PRZACGOG2SQQ45Q7Y7VD2VYBU2MYZOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
            ]
        },
        "DeleteDatasetGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "datasetGroupArn"
                ],
                "members": {
                    "datasetGroupArn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YJO6CRESWY5VENDTMFDPFWE4IOQ4K3RN2YQGQNMBQEHX6MIS2AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5XOXDH43GMFA2XS7R6EJJWUP7CCNJMG7OMU6MQGGQJDXSTPEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMPBOSC7DMX32XXS4GAIZRPAB7RDK4UUL4FZFPHVHVZNAT7YHDMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKHQJL4AU4L77BFSBOIENHPUPSKWMKLMPYUNP4QXXRKNKEWZ4FGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FT4OO2KXXZWQHFAB2ZSIIUKIFWZHVNRMIGOPEITKVVHGQJY4XSOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFQOXKVSLED3OCT5CXHJZWENDN7CYOSDEVVQF6TYBEM6VP525B4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4SLRUZAZWWWH2UIO6KRIJW56UO4LV5WJDAJARQRBNN3YOBIWCMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BACENCN5LWLDZUB7XHBCEPEGPGNAWLMZAAVJH6CEMXMGRYEIPVKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOAPLDOSZNVZBLXPFWC7PRZACGOG2SQQ45Q7Y7VD2VYBU2MYZOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
            ]
        },
        "DeleteEventTracker": {
            "input": {
                "type": "structure",
                "required": [
                    "eventTrackerArn"
                ],
                "members": {
                    "eventTrackerArn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YJO6CRESWY5VENDTMFDPFWE4IOQ4K3RN2YQGQNMBQEHX6MIS2AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5XOXDH43GMFA2XS7R6EJJWUP7CCNJMG7OMU6MQGGQJDXSTPEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMPBOSC7DMX32XXS4GAIZRPAB7RDK4UUL4FZFPHVHVZNAT7YHDMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKHQJL4AU4L77BFSBOIENHPUPSKWMKLMPYUNP4QXXRKNKEWZ4FGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FT4OO2KXXZWQHFAB2ZSIIUKIFWZHVNRMIGOPEITKVVHGQJY4XSOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFQOXKVSLED3OCT5CXHJZWENDN7CYOSDEVVQF6TYBEM6VP525B4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4SLRUZAZWWWH2UIO6KRIJW56UO4LV5WJDAJARQRBNN3YOBIWCMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BACENCN5LWLDZUB7XHBCEPEGPGNAWLMZAAVJH6CEMXMGRYEIPVKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOAPLDOSZNVZBLXPFWC7PRZACGOG2SQQ45Q7Y7VD2VYBU2MYZOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
            ]
        },
        "DeleteFilter": {
            "input": {
                "type": "structure",
                "required": [
                    "filterArn"
                ],
                "members": {
                    "filterArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XJJ7VW4EWJBEE6SIXOPIVHE5B56ESNWQ5YKNGLO6VOLEGNSLHVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YJO6CRESWY5VENDTMFDPFWE4IOQ4K3RN2YQGQNMBQEHX6MIS2AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5XOXDH43GMFA2XS7R6EJJWUP7CCNJMG7OMU6MQGGQJDXSTPEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMPBOSC7DMX32XXS4GAIZRPAB7RDK4UUL4FZFPHVHVZNAT7YHDMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKHQJL4AU4L77BFSBOIENHPUPSKWMKLMPYUNP4QXXRKNKEWZ4FGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FT4OO2KXXZWQHFAB2ZSIIUKIFWZHVNRMIGOPEITKVVHGQJY4XSOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFQOXKVSLED3OCT5CXHJZWENDN7CYOSDEVVQF6TYBEM6VP525B4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4SLRUZAZWWWH2UIO6KRIJW56UO4LV5WJDAJARQRBNN3YOBIWCMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BACENCN5LWLDZUB7XHBCEPEGPGNAWLMZAAVJH6CEMXMGRYEIPVKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOAPLDOSZNVZBLXPFWC7PRZACGOG2SQQ45Q7Y7VD2VYBU2MYZOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
            ]
        },
        "DeleteSchema": {
            "input": {
                "type": "structure",
                "required": [
                    "schemaArn"
                ],
                "members": {
                    "schemaArn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YJO6CRESWY5VENDTMFDPFWE4IOQ4K3RN2YQGQNMBQEHX6MIS2AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5XOXDH43GMFA2XS7R6EJJWUP7CCNJMG7OMU6MQGGQJDXSTPEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMPBOSC7DMX32XXS4GAIZRPAB7RDK4UUL4FZFPHVHVZNAT7YHDMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKHQJL4AU4L77BFSBOIENHPUPSKWMKLMPYUNP4QXXRKNKEWZ4FGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FT4OO2KXXZWQHFAB2ZSIIUKIFWZHVNRMIGOPEITKVVHGQJY4XSOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFQOXKVSLED3OCT5CXHJZWENDN7CYOSDEVVQF6TYBEM6VP525B4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4SLRUZAZWWWH2UIO6KRIJW56UO4LV5WJDAJARQRBNN3YOBIWCMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BACENCN5LWLDZUB7XHBCEPEGPGNAWLMZAAVJH6CEMXMGRYEIPVKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOAPLDOSZNVZBLXPFWC7PRZACGOG2SQQ45Q7Y7VD2VYBU2MYZOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
            ]
        },
        "DeleteSolution": {
            "input": {
                "type": "structure",
                "required": [
                    "solutionArn"
                ],
                "members": {
                    "solutionArn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YJO6CRESWY5VENDTMFDPFWE4IOQ4K3RN2YQGQNMBQEHX6MIS2AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5XOXDH43GMFA2XS7R6EJJWUP7CCNJMG7OMU6MQGGQJDXSTPEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMPBOSC7DMX32XXS4GAIZRPAB7RDK4UUL4FZFPHVHVZNAT7YHDMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKHQJL4AU4L77BFSBOIENHPUPSKWMKLMPYUNP4QXXRKNKEWZ4FGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FT4OO2KXXZWQHFAB2ZSIIUKIFWZHVNRMIGOPEITKVVHGQJY4XSOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFQOXKVSLED3OCT5CXHJZWENDN7CYOSDEVVQF6TYBEM6VP525B4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4SLRUZAZWWWH2UIO6KRIJW56UO4LV5WJDAJARQRBNN3YOBIWCMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BACENCN5LWLDZUB7XHBCEPEGPGNAWLMZAAVJH6CEMXMGRYEIPVKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOAPLDOSZNVZBLXPFWC7PRZACGOG2SQQ45Q7Y7VD2VYBU2MYZOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
            ]
        },
        "DescribeAlgorithm": {
            "input": {
                "type": "structure",
                "required": [
                    "algorithmArn"
                ],
                "members": {
                    "algorithmArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "algorithm": {
                        "type": "structure",
                        "members": {
                            "name": {},
                            "algorithmArn": {},
                            "algorithmImage": {
                                "type": "structure",
                                "required": [
                                    "dockerURI"
                                ],
                                "members": {
                                    "name": {},
                                    "dockerURI": {}
                                }
                            },
                            "defaultHyperParameters": {
                                "shape": "Sc"
                            },
                            "defaultHyperParameterRanges": {
                                "type": "structure",
                                "members": {
                                    "integerHyperParameterRanges": {
                                        "type": "list",
                                        "member": {
                                            "type": "structure",
                                            "members": {
                                                "name": {},
                                                "minValue": {
                                                    "type": "integer"
                                                },
                                                "maxValue": {
                                                    "type": "integer"
                                                },
                                                "isTunable": {
                                                    "type": "boolean"
                                                }
                                            }
                                        }
                                    },
                                    "continuousHyperParameterRanges": {
                                        "type": "list",
                                        "member": {
                                            "type": "structure",
                                            "members": {
                                                "name": {},
                                                "minValue": {
                                                    "type": "double"
                                                },
                                                "maxValue": {
                                                    "type": "double"
                                                },
                                                "isTunable": {
                                                    "type": "boolean"
                                                }
                                            }
                                        }
                                    },
                                    "categoricalHyperParameterRanges": {
                                        "type": "list",
                                        "member": {
                                            "type": "structure",
                                            "members": {
                                                "name": {},
                                                "values": {
                                                    "shape": "S1p"
                                                },
                                                "isTunable": {
                                                    "type": "boolean"
                                                }
                                            }
                                        }
                                    }
                                }
                            },
                            "defaultResourceConfig": {
                                "type": "map",
                                "key": {},
                                "value": {}
                            },
                            "trainingInputMode": {},
                            "roleArn": {},
                            "creationDateTime": {
                                "type": "timestamp"
                            },
                            "lastUpdatedDateTime": {
                                "type": "timestamp"
                            }
                        }
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YJO6CRESWY5VENDTMFDPFWE4IOQ4K3RN2YQGQNMBQEHX6MIS2AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5XOXDH43GMFA2XS7R6EJJWUP7CCNJMG7OMU6MQGGQJDXSTPEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMPBOSC7DMX32XXS4GAIZRPAB7RDK4UUL4FZFPHVHVZNAT7YHDMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKHQJL4AU4L77BFSBOIENHPUPSKWMKLMPYUNP4QXXRKNKEWZ4FGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FT4OO2KXXZWQHFAB2ZSIIUKIFWZHVNRMIGOPEITKVVHGQJY4XSOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFQOXKVSLED3OCT5CXHJZWENDN7CYOSDEVVQF6TYBEM6VP525B4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4SLRUZAZWWWH2UIO6KRIJW56UO4LV5WJDAJARQRBNN3YOBIWCMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BACENCN5LWLDZUB7XHBCEPEGPGNAWLMZAAVJH6CEMXMGRYEIPVKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOAPLDOSZNVZBLXPFWC7PRZACGOG2SQQ45Q7Y7VD2VYBU2MYZOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
            ]
        },
        "DescribeBatchInferenceJob": {
            "input": {
                "type": "structure",
                "required": [
                    "batchInferenceJobArn"
                ],
                "members": {
                    "batchInferenceJobArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "batchInferenceJob": {
                        "type": "structure",
                        "members": {
                            "jobName": {},
                            "batchInferenceJobArn": {},
                            "filterArn": {},
                            "failureReason": {},
                            "solutionVersionArn": {},
                            "numResults": {
                                "type": "integer"
                            },
                            "jobInput": {
                                "shape": "S5"
                            },
                            "jobOutput": {
                                "shape": "S9"
                            },
                            "batchInferenceJobConfig": {
                                "shape": "Sb"
                            },
                            "roleArn": {},
                            "status": {},
                            "creationDateTime": {
                                "type": "timestamp"
                            },
                            "lastUpdatedDateTime": {
                                "type": "timestamp"
                            }
                        }
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YJO6CRESWY5VENDTMFDPFWE4IOQ4K3RN2YQGQNMBQEHX6MIS2AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5XOXDH43GMFA2XS7R6EJJWUP7CCNJMG7OMU6MQGGQJDXSTPEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMPBOSC7DMX32XXS4GAIZRPAB7RDK4UUL4FZFPHVHVZNAT7YHDMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKHQJL4AU4L77BFSBOIENHPUPSKWMKLMPYUNP4QXXRKNKEWZ4FGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FT4OO2KXXZWQHFAB2ZSIIUKIFWZHVNRMIGOPEITKVVHGQJY4XSOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFQOXKVSLED3OCT5CXHJZWENDN7CYOSDEVVQF6TYBEM6VP525B4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4SLRUZAZWWWH2UIO6KRIJW56UO4LV5WJDAJARQRBNN3YOBIWCMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BACENCN5LWLDZUB7XHBCEPEGPGNAWLMZAAVJH6CEMXMGRYEIPVKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOAPLDOSZNVZBLXPFWC7PRZACGOG2SQQ45Q7Y7VD2VYBU2MYZOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
            ]
        },
        "DescribeCampaign": {
            "input": {
                "type": "structure",
                "required": [
                    "campaignArn"
                ],
                "members": {
                    "campaignArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "campaign": {
                        "type": "structure",
                        "members": {
                            "name": {},
                            "campaignArn": {},
                            "solutionVersionArn": {},
                            "minProvisionedTPS": {
                                "type": "integer"
                            },
                            "campaignConfig": {
                                "shape": "Si"
                            },
                            "status": {},
                            "failureReason": {},
                            "creationDateTime": {
                                "type": "timestamp"
                            },
                            "lastUpdatedDateTime": {
                                "type": "timestamp"
                            },
                            "latestCampaignUpdate": {
                                "type": "structure",
                                "members": {
                                    "solutionVersionArn": {},
                                    "minProvisionedTPS": {
                                        "type": "integer"
                                    },
                                    "campaignConfig": {
                                        "shape": "Si"
                                    },
                                    "status": {},
                                    "failureReason": {},
                                    "creationDateTime": {
                                        "type": "timestamp"
                                    },
                                    "lastUpdatedDateTime": {
                                        "type": "timestamp"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YJO6CRESWY5VENDTMFDPFWE4IOQ4K3RN2YQGQNMBQEHX6MIS2AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5XOXDH43GMFA2XS7R6EJJWUP7CCNJMG7OMU6MQGGQJDXSTPEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMPBOSC7DMX32XXS4GAIZRPAB7RDK4UUL4FZFPHVHVZNAT7YHDMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKHQJL4AU4L77BFSBOIENHPUPSKWMKLMPYUNP4QXXRKNKEWZ4FGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FT4OO2KXXZWQHFAB2ZSIIUKIFWZHVNRMIGOPEITKVVHGQJY4XSOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFQOXKVSLED3OCT5CXHJZWENDN7CYOSDEVVQF6TYBEM6VP525B4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4SLRUZAZWWWH2UIO6KRIJW56UO4LV5WJDAJARQRBNN3YOBIWCMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BACENCN5LWLDZUB7XHBCEPEGPGNAWLMZAAVJH6CEMXMGRYEIPVKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOAPLDOSZNVZBLXPFWC7PRZACGOG2SQQ45Q7Y7VD2VYBU2MYZOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
            ]
        },
        "DescribeDataset": {
            "input": {
                "type": "structure",
                "required": [
                    "datasetArn"
                ],
                "members": {
                    "datasetArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "dataset": {
                        "type": "structure",
                        "members": {
                            "name": {},
                            "datasetArn": {},
                            "datasetGroupArn": {},
                            "datasetType": {},
                            "schemaArn": {},
                            "status": {},
                            "creationDateTime": {
                                "type": "timestamp"
                            },
                            "lastUpdatedDateTime": {
                                "type": "timestamp"
                            }
                        }
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YJO6CRESWY5VENDTMFDPFWE4IOQ4K3RN2YQGQNMBQEHX6MIS2AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5XOXDH43GMFA2XS7R6EJJWUP7CCNJMG7OMU6MQGGQJDXSTPEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMPBOSC7DMX32XXS4GAIZRPAB7RDK4UUL4FZFPHVHVZNAT7YHDMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKHQJL4AU4L77BFSBOIENHPUPSKWMKLMPYUNP4QXXRKNKEWZ4FGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FT4OO2KXXZWQHFAB2ZSIIUKIFWZHVNRMIGOPEITKVVHGQJY4XSOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFQOXKVSLED3OCT5CXHJZWENDN7CYOSDEVVQF6TYBEM6VP525B4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4SLRUZAZWWWH2UIO6KRIJW56UO4LV5WJDAJARQRBNN3YOBIWCMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BACENCN5LWLDZUB7XHBCEPEGPGNAWLMZAAVJH6CEMXMGRYEIPVKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOAPLDOSZNVZBLXPFWC7PRZACGOG2SQQ45Q7Y7VD2VYBU2MYZOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
            ]
        },
        "DescribeDatasetGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "datasetGroupArn"
                ],
                "members": {
                    "datasetGroupArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "datasetGroup": {
                        "type": "structure",
                        "members": {
                            "name": {},
                            "datasetGroupArn": {},
                            "status": {},
                            "roleArn": {},
                            "kmsKeyArn": {},
                            "creationDateTime": {
                                "type": "timestamp"
                            },
                            "lastUpdatedDateTime": {
                                "type": "timestamp"
                            },
                            "failureReason": {}
                        }
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YJO6CRESWY5VENDTMFDPFWE4IOQ4K3RN2YQGQNMBQEHX6MIS2AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5XOXDH43GMFA2XS7R6EJJWUP7CCNJMG7OMU6MQGGQJDXSTPEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMPBOSC7DMX32XXS4GAIZRPAB7RDK4UUL4FZFPHVHVZNAT7YHDMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKHQJL4AU4L77BFSBOIENHPUPSKWMKLMPYUNP4QXXRKNKEWZ4FGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FT4OO2KXXZWQHFAB2ZSIIUKIFWZHVNRMIGOPEITKVVHGQJY4XSOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFQOXKVSLED3OCT5CXHJZWENDN7CYOSDEVVQF6TYBEM6VP525B4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4SLRUZAZWWWH2UIO6KRIJW56UO4LV5WJDAJARQRBNN3YOBIWCMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BACENCN5LWLDZUB7XHBCEPEGPGNAWLMZAAVJH6CEMXMGRYEIPVKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOAPLDOSZNVZBLXPFWC7PRZACGOG2SQQ45Q7Y7VD2VYBU2MYZOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
            ]
        },
        "DescribeDatasetImportJob": {
            "input": {
                "type": "structure",
                "required": [
                    "datasetImportJobArn"
                ],
                "members": {
                    "datasetImportJobArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "datasetImportJob": {
                        "type": "structure",
                        "members": {
                            "jobName": {},
                            "datasetImportJobArn": {},
                            "datasetArn": {},
                            "dataSource": {
                                "shape": "Sq"
                            },
                            "roleArn": {},
                            "status": {},
                            "creationDateTime": {
                                "type": "timestamp"
                            },
                            "lastUpdatedDateTime": {
                                "type": "timestamp"
                            },
                            "failureReason": {}
                        }
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YJO6CRESWY5VENDTMFDPFWE4IOQ4K3RN2YQGQNMBQEHX6MIS2AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5XOXDH43GMFA2XS7R6EJJWUP7CCNJMG7OMU6MQGGQJDXSTPEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMPBOSC7DMX32XXS4GAIZRPAB7RDK4UUL4FZFPHVHVZNAT7YHDMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKHQJL4AU4L77BFSBOIENHPUPSKWMKLMPYUNP4QXXRKNKEWZ4FGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FT4OO2KXXZWQHFAB2ZSIIUKIFWZHVNRMIGOPEITKVVHGQJY4XSOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFQOXKVSLED3OCT5CXHJZWENDN7CYOSDEVVQF6TYBEM6VP525B4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4SLRUZAZWWWH2UIO6KRIJW56UO4LV5WJDAJARQRBNN3YOBIWCMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BACENCN5LWLDZUB7XHBCEPEGPGNAWLMZAAVJH6CEMXMGRYEIPVKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOAPLDOSZNVZBLXPFWC7PRZACGOG2SQQ45Q7Y7VD2VYBU2MYZOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
[...]
