{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-05-22",
        "endpointPrefix": "personalize-runtime",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "Amazon Personalize Runtime",
        "serviceId": "Personalize Runtime",
        "signatureVersion": "v4",
        "signingName": "personalize",
        "uid": "personalize-runtime-2018-05-22",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/Q6POY67MBM7X63HZDWJLXRGPUN643YXYY5BXRCEX4NBKEYRVET7Q/main.js",
            "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JBMDNLK323OIHZYIOM5B7GJIVNE2IVC4IARQSYI6EGEUMLABDS3A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/S4WYI7A5RB4J3ZQI7SXA7RHHEYHTI4HEHIWSGQVULPT6QVHWQWGA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OH2JSSC7WBZK4SMWSJ5AL3JJDBLKBOOLOIJP7R6HLH2VGVQDZP5A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/C7R2OEHPPJKOXTICFR65P7NLPPGWJHVVFLYMPYV4RPGNWW7EQU6A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4PF2YFXJZXTPZP6YEIBULL4AF7LT6R3LOBSJ52O2PR22KOPVMXGA/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JTDMV77SV6Q7KYAK3YHB6UFLTCCVZPDDARGZVLVIGSC3HKENISGQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DVPN4NOEU35ZBVDWTGMOKLOWMOLIGAWSFD2QMAYFPEQZDAJEJMTQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QASJLVKSZPUPMXMWKBFUNBSFPARFTBFDI7PPTIFA2NWCS2X7AMDA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js"
        ]
    },
    "operations": {
        "GetPersonalizedRanking": {
            "http": {
                "requestUri": "/personalize-ranking"
            },
            "input": {
                "type": "structure",
                "required": [
                    "campaignArn",
                    "inputList",
                    "userId"
                ],
                "members": {
                    "campaignArn": {},
                    "inputList": {
                        "type": "list",
                        "member": {}
                    },
                    "userId": {},
                    "context": {
                        "shape": "S6"
                    },
                    "filterArn": {},
                    "filterValues": {
                        "shape": "S9"
                    },
                    "metadataColumns": {
                        "shape": "So",
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "personalizedRanking": {
                        "shape": "Sd"
                    },
                    "recommendationId": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6POY67MBM7X63HZDWJLXRGPUN643YXYY5BXRCEX4NBKEYRVET7Q/main.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBMDNLK323OIHZYIOM5B7GJIVNE2IVC4IARQSYI6EGEUMLABDS3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4WYI7A5RB4J3ZQI7SXA7RHHEYHTI4HEHIWSGQVULPT6QVHWQWGA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OH2JSSC7WBZK4SMWSJ5AL3JJDBLKBOOLOIJP7R6HLH2VGVQDZP5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7R2OEHPPJKOXTICFR65P7NLPPGWJHVVFLYMPYV4RPGNWW7EQU6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PF2YFXJZXTPZP6YEIBULL4AF7LT6R3LOBSJ52O2PR22KOPVMXGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTDMV77SV6Q7KYAK3YHB6UFLTCCVZPDDARGZVLVIGSC3HKENISGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVPN4NOEU35ZBVDWTGMOKLOWMOLIGAWSFD2QMAYFPEQZDAJEJMTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QASJLVKSZPUPMXMWKBFUNBSFPARFTBFDI7PPTIFA2NWCS2X7AMDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js"
            ]
        },
        "GetRecommendations": {
            "http": {
                "requestUri": "/recommendations"
            },
            "input": {
                "type": "structure",
                "required": [
                    "campaignArn"
                ],
                "members": {
                    "campaignArn": {},
                    "itemId": {},
                    "userId": {},
                    "numResults": {
                        "type": "integer"
                    },
                    "context": {
                        "shape": "S6"
                    },
                    "filterArn": {},
                    "filterValues": {
                        "shape": "S9"
                    },
                    "recommenderArn": {},
                    "promotions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "name": {},
                                "percentPromotedItems": {
                                    "type": "integer"
                                },
                                "filterArn": {},
                                "filterValues": {
                                    "shape": "S9"
                                }
                            }
                        }
                    },
                    "metadataColumns": {
                        "shape": "So",
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "itemList": {
                        "shape": "Sd"
                    },
                    "recommendationId": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6POY67MBM7X63HZDWJLXRGPUN643YXYY5BXRCEX4NBKEYRVET7Q/main.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBMDNLK323OIHZYIOM5B7GJIVNE2IVC4IARQSYI6EGEUMLABDS3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4WYI7A5RB4J3ZQI7SXA7RHHEYHTI4HEHIWSGQVULPT6QVHWQWGA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OH2JSSC7WBZK4SMWSJ5AL3JJDBLKBOOLOIJP7R6HLH2VGVQDZP5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7R2OEHPPJKOXTICFR65P7NLPPGWJHVVFLYMPYV4RPGNWW7EQU6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PF2YFXJZXTPZP6YEIBULL4AF7LT6R3LOBSJ52O2PR22KOPVMXGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTDMV77SV6Q7KYAK3YHB6UFLTCCVZPDDARGZVLVIGSC3HKENISGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVPN4NOEU35ZBVDWTGMOKLOWMOLIGAWSFD2QMAYFPEQZDAJEJMTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QASJLVKSZPUPMXMWKBFUNBSFPARFTBFDI7PPTIFA2NWCS2X7AMDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js"
            ]
        },
        "ConsumeResourceEvent": {
            "input": {
                "type": "structure",
                "required": [
                    "accountId",
                    "resourceId",
                    "resourceType",
                    "eventType"
                ],
                "members": {
                    "accountId": {},
                    "resourceId": {},
                    "resourceType": {},
                    "eventType": {},
                    "resourceData": {},
                    "idempotencyToken": {}
                }
            },
            "idempotent": true,
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RN7KB4DYUCUSRMFLWFEWEAJVHSFTKKUAHDVDWRZ5DEY6FEH56RQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KUNJDLFDTTOW3EDKCY5O6ETZSKCIY7LQROOYCDPGVDB4ZQIKTD7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57KK4DZPPLEFHRSFC54KHOWCJOZBW7ZMXQK2B3FCHITBCDEO2N6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIXRKLQLCMPGCVWP5WWUOCBT6N2TEHJESAQMM74TAXZ4YVYZKTKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKA5A2G2HKU2K3OXOUIFSJE7MJ46QBQZ4YDTJXDFY2Z7ZRFSLO3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6EEJCVDQZR5EEEGSTPUE6AJVP4LW7DIOJWCYABFFK42D3OZVUZFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXFW2SAKSPGD5C22YP2WCIVYWIOOZP7QXL2KCDMKEBW57UL44MLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NDR22LCFZMHEZWME3OC7KG3FVTRP5V3FIK46QOJIMZHJIYQG2Y7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQODGIMY4P6BLORVCJ64IQY54L7ZK65A3UIQVUBUOKO766C7SZKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYHGAQGTTQYASU3YGN6Y6A35MJRLGZFSZVCWGYHQFMTR46U7YQ6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MDRQIHZHXQ2CEASZLSQS2QTYIS3J2LK2LD3WFYY3P6NYLFYUWTKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6OGT7VCMKQCQBVPSF7P7WGA5VXH5I6U2WXXOAGOJCCU5HMOJI63A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LUMEXNNYE3OMRXWY6CFRQFEQ2U4GMDM23QKKAY3O3Q5NWTWLT6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEFIBK4LHQQBUTOPMOE4QB42JDYVSZTVMP3IF7KIKFUNEBCQQEJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BT4LY5Q5DTYEJFWB5GLWWR47VQ2M3F4UQRI6DRDMHFNK7Z5MSOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3A2IVBA7IFONCMOLL3J25AMU2DLOYIHGVFVYZ5ARJOMDF3RKULVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOSP47JOWO53MZOH5BAU7R3QB5FENODX6NQGBIW5ZJQQYLTRN52A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PP2BRSJ3AOXMAXWYH7EMPGCFS5R7KUKYTGFIAHNF4Y7K2XT5T5FA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXTXA5YFL7YJIMU77LV67OZ3X6KDIKHO5LF2PZIXK5QJQGDNUWYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TT6FTFHE4ACVEQQEBCL6OS4WWKOHQ6TA2IAMTGO5VNNK2A5AY5CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V42VFEQN4WEOTPODYW42FZOX4LGDEKTUYE5ALNIBZS423MAV6KCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XH26XKOZRRM2Y22EV3X3QWOD6EJXCCVIS2ZWBZITHCYSNKY7EMAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGZGWW3IF3ZECFR6QLV3KR53VGUST3DPRNFIBKT6PV7EDQLMCBVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBEPKABRY4XKY6O4A6M56T6M5KIZHN6LHYBO3NGLJLX72HPFTK3A/main.js"
            ]
        },
        "GetActionRecommendations": {
            "http": {
                "requestUri": "/action-recommendations"
            },
            "input": {
                "type": "structure",
                "members": {
                    "campaignArn": {},
                    "userId": {},
                    "numResults": {
                        "type": "integer"
                    },
                    "filterArn": {},
                    "filterValues": {
                        "shape": "S9"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "actionList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "actionId": {},
                                "score": {
                                    "type": "double"
                                }
                            }
                        }
                    },
                    "recommendationId": {}
                }
            },
            "idempotent": true,
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJYIUAQVDVLXMHFENERZ3TYSGZSCXOKNG5YRKQBGY6TDKIGNGLUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCCAB6RK5EVEBBNNM6K375FY3PVSUJK6ZJLN6H4NKRGN3P32EDTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62WOM2N45OAI2YJORQBUJFJWN4YVAQVJL26ZPZMP2J4IRUA45BSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5HO46I7F6MHKSJFG3W73JO6WH3PH6NSY6ITEWIVFBDT42PZC5IQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBEPKABRY4XKY6O4A6M56T6M5KIZHN6LHYBO3NGLJLX72HPFTK3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DUUF7GE56TZAX32IEUJDNDVXU4P3LJS7GRKKJDKHKFONSRYNWHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OM7BPWFFHM7AGLOGYKTPS2IIF5SVI6JZVF54CDP2BINXBONMS6WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YSVNQQUGL7W3LD5ICSEXJHJPFGXWUF3WX6LLLYYIDGARFE6V5HBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VSMX6EK6EDUF6F5BSMV7HKUE3RLLKOSV7U7NXVMN2NPSDQZ6L6Q/app.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPYPM7MUINNWF42WJGIJF24J366OZS5WOEMB6Z43BD7ET2E4IAFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JM7IMNOVSO72SOXF7J5MRIDM2FRNSWZXLETA2M4XRWMULE74FJLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QASJLVKSZPUPMXMWKBFUNBSFPARFTBFDI7PPTIFA2NWCS2X7AMDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGAWJKJJVIGC5C2VAZASYCSEXZV74WLEDHVR6HVRO7WF7KRWPRWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBMDNLK323OIHZYIOM5B7GJIVNE2IVC4IARQSYI6EGEUMLABDS3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js"
            ]
        },
        "GetPersonalizedQuery": {
            "http": {
                "requestUri": "/personalize-query"
            },
            "input": {
                "type": "structure",
                "required": [
                    "userQuery",
                    "userId"
                ],
                "members": {
                    "userQuery": {},
                    "userId": {},
                    "userMetadata": {
                        "type": "structure",
                        "members": {
                            "name": {
                                "type": "structure",
                                "members": {
                                    "Formatted": {
                                        "shape": "Sm"
                                    },
                                    "FamilyName": {
                                        "shape": "Sm"
                                    },
                                    "GivenName": {
                                        "shape": "Sm"
                                    },
                                    "MiddleName": {
                                        "shape": "Sm"
                                    },
                                    "HonorificPrefix": {
                                        "shape": "Sm"
                                    },
                                    "HonorificSuffix": {
                                        "shape": "Sm"
                                    }
                                }
                            },
                            "addresses": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "members": {
                                        "StreetAddress": {
                                            "shape": "Sm"
                                        },
                                        "Locality": {
                                            "shape": "Sm"
                                        },
                                        "Region": {
                                            "shape": "Sm"
                                        },
                                        "PostalCode": {
                                            "shape": "Sm"
                                        },
                                        "Country": {
                                            "shape": "Sm"
                                        },
                                        "Formatted": {
                                            "shape": "Sm"
                                        },
                                        "Type": {
                                            "shape": "Sm"
                                        },
                                        "Primary": {
                                            "shape": "Sp"
                                        }
                                    }
                                }
                            },
                            "emails": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "members": {
                                        "Value": {
                                            "shape": "Sm"
                                        },
                                        "Type": {
                                            "shape": "Sm"
                                        },
                                        "VerificationStatus": {
                                            "shape": "Sm"
                                        },
                                        "Primary": {
                                            "shape": "Sp"
                                        }
                                    }
                                }
                            },
                            "phoneNumbers": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "members": {
                                        "Value": {
                                            "shape": "Sm"
                                        },
                                        "Type": {
                                            "shape": "Sm"
                                        },
                                        "Primary": {
                                            "shape": "Sp"
                                        }
                                    }
                                }
                            },
                            "locale": {
                                "shape": "Sm"
                            },
                            "preferredLanguage": {
                                "shape": "Sm"
                            },
                            "timezone": {
                                "shape": "Sm"
                            },
                            "title": {
                                "shape": "Sm"
                            },
                            "userType": {
                                "shape": "Sm"
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "personalizedQuery": {},
                    "recommendationId": {}
                }
            },
            "idempotent": true,
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKA5A2G2HKU2K3OXOUIFSJE7MJ46QBQZ4YDTJXDFY2Z7ZRFSLO3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6EEJCVDQZR5EEEGSTPUE6AJVP4LW7DIOJWCYABFFK42D3OZVUZFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXFW2SAKSPGD5C22YP2WCIVYWIOOZP7QXL2KCDMKEBW57UL44MLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NDR22LCFZMHEZWME3OC7KG3FVTRP5V3FIK46QOJIMZHJIYQG2Y7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQODGIMY4P6BLORVCJ64IQY54L7ZK65A3UIQVUBUOKO766C7SZKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYHGAQGTTQYASU3YGN6Y6A35MJRLGZFSZVCWGYHQFMTR46U7YQ6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MDRQIHZHXQ2CEASZLSQS2QTYIS3J2LK2LD3WFYY3P6NYLFYUWTKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6OGT7VCMKQCQBVPSF7P7WGA5VXH5I6U2WXXOAGOJCCU5HMOJI63A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LUMEXNNYE3OMRXWY6CFRQFEQ2U4GMDM23QKKAY3O3Q5NWTWLT6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEFIBK4LHQQBUTOPMOE4QB42JDYVSZTVMP3IF7KIKFUNEBCQQEJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BT4LY5Q5DTYEJFWB5GLWWR47VQ2M3F4UQRI6DRDMHFNK7Z5MSOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3A2IVBA7IFONCMOLL3J25AMU2DLOYIHGVFVYZ5ARJOMDF3RKULVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOSP47JOWO53MZOH5BAU7R3QB5FENODX6NQGBIW5ZJQQYLTRN52A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PP2BRSJ3AOXMAXWYH7EMPGCFS5R7KUKYTGFIAHNF4Y7K2XT5T5FA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXTXA5YFL7YJIMU77LV67OZ3X6KDIKHO5LF2PZIXK5QJQGDNUWYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TT6FTFHE4ACVEQQEBCL6OS4WWKOHQ6TA2IAMTGO5VNNK2A5AY5CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V42VFEQN4WEOTPODYW42FZOX4LGDEKTUYE5ALNIBZS423MAV6KCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XH26XKOZRRM2Y22EV3X3QWOD6EJXCCVIS2ZWBZITHCYSNKY7EMAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGZGWW3IF3ZECFR6QLV3KR53VGUST3DPRNFIBKT6PV7EDQLMCBVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBEPKABRY4XKY6O4A6M56T6M5KIZHN6LHYBO3NGLJLX72HPFTK3A/main.js"
            ]
        }
    },
    "shapes": {
        "S6": {
            "type": "map",
            "key": {},
            "value": {
                "type": "string",
                "sensitive": true
            }
        },
        "S9": {
            "type": "map",
            "key": {},
            "value": {
                "type": "string",
                "sensitive": true
            }
        },
        "Sd": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "itemId": {},
                    "score": {
                        "type": "double"
                    }
                }
            }
        },
        "Sa": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "itemId": {},
                    "score": {
                        "type": "double"
                    }
                }
            }
        },
        "Sh": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "itemId": {},
                    "score": {
                        "type": "double"
                    },
                    "promotionName": {},
                    "latentScore": {
                        "internalonly": true,
                        "type": "double"
                    }
                }
            }
        },
        "Sl": {
            "type": "map",
            "key": {},
            "value": {
                "type": "string",
                "sensitive": true
            }
        },
        "Sp": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "itemId": {},
                    "score": {
                        "type": "double"
                    },
                    "promotionName": {},
                    "latentScore": {
                        "internalonly": true,
                        "type": "double"
                    }
                }
            }
        },
        "So": {
            "type": "map",
            "key": {},
            "value": {
                "type": "list",
                "member": {}
            }
        },
        "St": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "itemId": {},
                    "score": {
                        "type": "double"
                    },
                    "promotionName": {},
                    "latentScore": {
                        "internalonly": true,
                        "type": "double"
                    },
                    "metadata": {
                        "internalonly": true,
                        "type": "map",
                        "key": {},
                        "value": {}
                    }
                }
            }
        },
        "S5": {
            "type": "map",
            "key": {},
            "value": {
                "type": "string",
                "sensitive": true
            }
        },
        "Sk": {
            "type": "map",
            "key": {},
            "value": {
                "type": "list",
                "member": {}
            }
        },
        "Sm": {
            "type": "string",
            "sensitive": true
        },
        "Sy": {
            "type": "map",
            "key": {},
            "value": {
                "type": "string",
                "sensitive": true
            }
        },
        "S11": {
            "type": "map",
            "key": {},
            "value": {
                "type": "list",
                "member": {}
            }
        },
        "S16": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "itemId": {},
                    "score": {
                        "type": "double"
                    },
                    "promotionName": {},
                    "latentScore": {
                        "internalonly": true,
                        "type": "double"
                    },
                    "metadata": {
                        "type": "map",
                        "key": {},
                        "value": {},
                        "sensitive": true
                    }
                }
            }
        }
    }
}