{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2021-06-03",
        "endpointPrefix": "phoebe",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "phoebe",
        "serviceId": "phoebe",
        "signatureVersion": "v4",
        "signingName": "phoebe",
        "uid": "phoebe-2021-06-03",
        "download_location": [
            "https://d3kld4ju0n55da.cloudfront.net/ef465fa3-559c-425a-917f-ee9c499660e4/main.js",
            "https://d3kld4ju0n55da.cloudfront.net/cb449c20-90c2-4f46-aa2f-6c3d984a99a2/main.js",
            "https://d3kld4ju0n55da.cloudfront.net/f90d47e0-0674-4acb-8c9a-7446db0d11ff/main.js",
            "https://d3kld4ju0n55da.cloudfront.net/107a4a83-c407-48ff-8f19-cd455c85d392/main.js",
            "https://d3kld4ju0n55da.cloudfront.net/4fe0a49b-9475-46e4-a21e-245651160e2e/main.js",
            "https://d3kld4ju0n55da.cloudfront.net/8afda330-2eb9-4d11-8d3d-d11142e69051/main.js",
            "https://d3kld4ju0n55da.cloudfront.net/47f84f99-1b0d-4562-a747-e86fe34c302e/main.js",
            "https://d3kld4ju0n55da.cloudfront.net/292faa65-e1aa-4294-8041-4ecebcd7451f/main.js",
            "https://d3kld4ju0n55da.cloudfront.net/f2117bfd-9204-459f-b8bf-d016fde05810/main.js"
        ]
    },
    "operations": {
        "CreateMonitor": {
            "http": {
                "requestUri": "/v20210603/Monitors",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ClientLocationGranularity",
                    "MonitorName",
                    "Resources"
                ],
                "members": {
                    "ClientLocationGranularity": {},
                    "ClientToken": {
                        "idempotencyToken": true
                    },
                    "MonitorName": {},
                    "Resources": {
                        "shape": "S5"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Arn",
                    "Status"
                ],
                "members": {
                    "Arn": {},
                    "Status": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://d3kld4ju0n55da.cloudfront.net/ef465fa3-559c-425a-917f-ee9c499660e4/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/cb449c20-90c2-4f46-aa2f-6c3d984a99a2/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f90d47e0-0674-4acb-8c9a-7446db0d11ff/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/107a4a83-c407-48ff-8f19-cd455c85d392/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/4fe0a49b-9475-46e4-a21e-245651160e2e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/8afda330-2eb9-4d11-8d3d-d11142e69051/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/47f84f99-1b0d-4562-a747-e86fe34c302e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/292faa65-e1aa-4294-8041-4ecebcd7451f/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f2117bfd-9204-459f-b8bf-d016fde05810/main.js"
            ]
        },
        "DeleteMonitor": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v20210603/Monitors/{MonitorName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "MonitorName"
                ],
                "members": {
                    "MonitorName": {
                        "location": "uri",
                        "locationName": "MonitorName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://d3kld4ju0n55da.cloudfront.net/ef465fa3-559c-425a-917f-ee9c499660e4/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/cb449c20-90c2-4f46-aa2f-6c3d984a99a2/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f90d47e0-0674-4acb-8c9a-7446db0d11ff/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/107a4a83-c407-48ff-8f19-cd455c85d392/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/4fe0a49b-9475-46e4-a21e-245651160e2e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/8afda330-2eb9-4d11-8d3d-d11142e69051/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/47f84f99-1b0d-4562-a747-e86fe34c302e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/292faa65-e1aa-4294-8041-4ecebcd7451f/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f2117bfd-9204-459f-b8bf-d016fde05810/main.js"
            ]
        },
        "GetHealthEvent": {
            "http": {
                "method": "GET",
                "requestUri": "/v20210603/Monitors/{MonitorName}/HealthEvents/{EventId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "EventId",
                    "MonitorName"
                ],
                "members": {
                    "EventId": {
                        "location": "uri",
                        "locationName": "EventId"
                    },
                    "MonitorName": {
                        "location": "uri",
                        "locationName": "MonitorName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ClientLocations",
                    "EventArn",
                    "EventId",
                    "ImpactType",
                    "LastUpdatedAt",
                    "StartedAt",
                    "Status"
                ],
                "members": {
                    "ClientLocations": {
                        "shape": "Sd"
                    },
                    "EndedAt": {
                        "type": "timestamp"
                    },
                    "EventArn": {},
                    "EventId": {},
                    "ImpactType": {},
                    "LastUpdatedAt": {
                        "type": "timestamp"
                    },
                    "PercentOfTotalTrafficImpacted": {
                        "type": "double"
                    },
                    "ServiceLocations": {
                        "shape": "So"
                    },
                    "StartedAt": {
                        "type": "timestamp"
                    },
                    "Status": {}
                }
            },
            "download_location": [
                "https://d3kld4ju0n55da.cloudfront.net/ef465fa3-559c-425a-917f-ee9c499660e4/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/cb449c20-90c2-4f46-aa2f-6c3d984a99a2/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f90d47e0-0674-4acb-8c9a-7446db0d11ff/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/107a4a83-c407-48ff-8f19-cd455c85d392/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/4fe0a49b-9475-46e4-a21e-245651160e2e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/8afda330-2eb9-4d11-8d3d-d11142e69051/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/47f84f99-1b0d-4562-a747-e86fe34c302e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/292faa65-e1aa-4294-8041-4ecebcd7451f/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f2117bfd-9204-459f-b8bf-d016fde05810/main.js"
            ]
        },
        "GetMonitor": {
            "http": {
                "method": "GET",
                "requestUri": "/v20210603/Monitors/{MonitorName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "MonitorName"
                ],
                "members": {
                    "MonitorName": {
                        "location": "uri",
                        "locationName": "MonitorName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ClientLocationType",
                    "CreatedAt",
                    "ModifiedAt",
                    "MonitorArn",
                    "MonitorName",
                    "Resources",
                    "Status"
                ],
                "members": {
                    "ClientLocationType": {},
                    "CreatedAt": {
                        "type": "timestamp"
                    },
                    "ModifiedAt": {
                        "type": "timestamp"
                    },
                    "MonitorArn": {},
                    "MonitorName": {},
                    "ProcessingStatus": {},
                    "ProcessingStatusInfo": {},
                    "Resources": {
                        "shape": "S5"
                    },
                    "Status": {}
                }
            },
            "download_location": [
                "https://d3kld4ju0n55da.cloudfront.net/ef465fa3-559c-425a-917f-ee9c499660e4/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/cb449c20-90c2-4f46-aa2f-6c3d984a99a2/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f90d47e0-0674-4acb-8c9a-7446db0d11ff/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/107a4a83-c407-48ff-8f19-cd455c85d392/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/4fe0a49b-9475-46e4-a21e-245651160e2e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/8afda330-2eb9-4d11-8d3d-d11142e69051/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/47f84f99-1b0d-4562-a747-e86fe34c302e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/292faa65-e1aa-4294-8041-4ecebcd7451f/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f2117bfd-9204-459f-b8bf-d016fde05810/main.js"
            ]
        },
        "ListHealthEvents": {
            "http": {
                "method": "GET",
                "requestUri": "/v20210603/Monitors/{MonitorName}/HealthEvents",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "MonitorName"
                ],
                "members": {
                    "EndTime": {
                        "location": "querystring",
                        "locationName": "EndTime",
                        "type": "timestamp"
                    },
                    "EventStatus": {
                        "location": "querystring",
                        "locationName": "EventStatus"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "MaxResults",
                        "type": "integer"
                    },
                    "MonitorName": {
                        "location": "uri",
                        "locationName": "MonitorName"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "NextToken"
                    },
                    "StartTime": {
                        "location": "querystring",
                        "locationName": "StartTime",
                        "type": "timestamp"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "HealthEvents"
                ],
                "members": {
                    "HealthEvents": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "ClientLocations",
                                "EventArn",
                                "EventId",
                                "ImpactType",
                                "StartedAt",
                                "Status"
                            ],
                            "members": {
                                "ClientLocations": {
                                    "shape": "Sd"
                                },
                                "EndedAt": {
                                    "type": "timestamp"
                                },
                                "EventArn": {},
                                "EventId": {},
                                "ImpactType": {},
                                "PercentOfTotalTrafficImpacted": {
                                    "type": "double"
                                },
                                "ServiceLocations": {
                                    "shape": "So"
                                },
                                "StartedAt": {
                                    "type": "timestamp"
                                },
                                "Status": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://d3kld4ju0n55da.cloudfront.net/ef465fa3-559c-425a-917f-ee9c499660e4/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/cb449c20-90c2-4f46-aa2f-6c3d984a99a2/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f90d47e0-0674-4acb-8c9a-7446db0d11ff/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/107a4a83-c407-48ff-8f19-cd455c85d392/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/4fe0a49b-9475-46e4-a21e-245651160e2e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/8afda330-2eb9-4d11-8d3d-d11142e69051/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/47f84f99-1b0d-4562-a747-e86fe34c302e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/292faa65-e1aa-4294-8041-4ecebcd7451f/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f2117bfd-9204-459f-b8bf-d016fde05810/main.js"
            ]
        },
        "ListMonitors": {
            "http": {
                "method": "GET",
                "requestUri": "/v20210603/Monitors",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "MaxResults",
                        "type": "integer"
                    },
                    "MonitorStatus": {
                        "location": "querystring",
                        "locationName": "MonitorStatus"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "NextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Monitors"
                ],
                "members": {
                    "Monitors": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "MonitorArn",
                                "MonitorName",
                                "Status"
                            ],
                            "members": {
                                "MonitorArn": {},
                                "MonitorName": {},
                                "ProcessingStatus": {},
                                "Status": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://d3kld4ju0n55da.cloudfront.net/ef465fa3-559c-425a-917f-ee9c499660e4/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/cb449c20-90c2-4f46-aa2f-6c3d984a99a2/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f90d47e0-0674-4acb-8c9a-7446db0d11ff/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/107a4a83-c407-48ff-8f19-cd455c85d392/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/4fe0a49b-9475-46e4-a21e-245651160e2e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/8afda330-2eb9-4d11-8d3d-d11142e69051/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/47f84f99-1b0d-4562-a747-e86fe34c302e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/292faa65-e1aa-4294-8041-4ecebcd7451f/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f2117bfd-9204-459f-b8bf-d016fde05810/main.js"
            ]
        },
        "UpdateMonitor": {
            "http": {
                "method": "PATCH",
                "requestUri": "/v20210603/Monitors/{MonitorName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "MonitorName"
                ],
                "members": {
                    "ClientLocationGranularity": {},
                    "ClientToken": {
                        "idempotencyToken": true
                    },
                    "MonitorName": {
                        "location": "uri",
                        "locationName": "MonitorName"
                    },
                    "ResourcesToAdd": {
                        "shape": "S5"
                    },
                    "ResourcesToRemove": {
                        "shape": "S5"
                    },
                    "Status": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "MonitorArn",
                    "Status"
                ],
                "members": {
                    "MonitorArn": {},
                    "Status": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://d3kld4ju0n55da.cloudfront.net/ef465fa3-559c-425a-917f-ee9c499660e4/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/cb449c20-90c2-4f46-aa2f-6c3d984a99a2/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f90d47e0-0674-4acb-8c9a-7446db0d11ff/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/107a4a83-c407-48ff-8f19-cd455c85d392/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/4fe0a49b-9475-46e4-a21e-245651160e2e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/8afda330-2eb9-4d11-8d3d-d11142e69051/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/47f84f99-1b0d-4562-a747-e86fe34c302e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/292faa65-e1aa-4294-8041-4ecebcd7451f/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f2117bfd-9204-459f-b8bf-d016fde05810/main.js"
            ]
        }
    },
    "shapes": {
        "S5": {
            "type": "list",
            "member": {}
        },
        "Sd": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "AutonomousSystemNumber",
                    "Country",
                    "NetworkName"
                ],
                "members": {
                    "AutonomousSystemNumber": {
                        "type": "long"
                    },
                    "CausedBy": {
                        "type": "structure",
                        "required": [
                            "AsPath",
                            "NetworkEventType",
                            "Networks",
                            "Status"
                        ],
                        "members": {
                            "AsPath": {
                                "shape": "Sh"
                            },
                            "NetworkEventType": {},
                            "Networks": {
                                "shape": "Sh"
                            },
                            "Status": {}
                        }
                    },
                    "City": {},
                    "Country": {},
                    "Latitude": {
                        "type": "double"
                    },
                    "Longitude": {
                        "type": "double"
                    },
                    "NetworkName": {},
                    "PercentOfClientLocationImpacted": {
                        "type": "double"
                    },
                    "PercentOfTotalTraffic": {
                        "type": "double"
                    },
                    "Subdivision": {}
                }
            }
        },
        "Sh": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "AutonomousSystemNumber",
                    "NetworkName"
                ],
                "members": {
                    "AutonomousSystemNumber": {
                        "type": "long"
                    },
                    "NetworkName": {}
                }
            }
        },
        "So": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {}
                }
            }
        }
    }
}