{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-02-27",
        "endpointPrefix": "pi",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceAbbreviation": "AWS PI",
        "serviceFullName": "AWS Performance Insights",
        "serviceId": "PI",
        "signatureVersion": "v4",
        "signingName": "pi",
        "targetPrefix": "PerformanceInsightsv20180227",
        "uid": "pi-2018-02-27",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/GXZLXMOGNGEB22U4VSHW5XH35JMYOKV43WPB65HH45LEWKN2UVCQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GF3WZWVHX4T4ABPPLIWHALEEBNJUCQMFNWTDDHGCZ6VZ4QVG44BA/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/UXD6SFCREGC45TGA5OZT75G5DCI2HJIELE2BRMH55VWHNQSZQGIA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6YJO6CRESWY5VENDTMFDPFWE4IOQ4K3RN2YQGQNMBQEHX6MIS2AA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JXNJQ54CA55ERMDYOKM6JET2SRICRDDF46C32KUBL5452FXI5ZUQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3WCFJRNHPZ7W5SWEJFQ6ZJYKD7HQRI3DPGD465I5MDGABRTRAJMA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/O7DPSOQMSHXMDM7ZY7AKRNBHXMOVT7R7VKFADDHJN2LVYJWVVQ5A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TCUJVSGK3Q3B3BG2EEJ2B6KDXMNB3GUWD7PSAHCIJ7JGPGRI5LNQ/vendors.js"
        ]
    },
    "operations": {
        "CreatePerformanceAnalysisReport": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceType",
                    "Identifier",
                    "StartTime",
                    "EndTime"
                ],
                "members": {
                    "ServiceType": {},
                    "Identifier": {},
                    "StartTime": {
                        "type": "timestamp"
                    },
                    "EndTime": {
                        "type": "timestamp"
                    },
                    "Tags": {
                        "shape": "S5"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AnalysisReportId": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6XHSE5VWX3T2RPLBIAXADEUETNZ43IKT72CEGYAHN6ZRAXXGSBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6TPFYA3PEGDMCDW7KXHXY5CJ7RH7AXWYI2Z4KKUZ6JCHWCR5PQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DZ2U6F5MEPZ4PZUQYAFLYYK2FUAPWLVPEVWZQDZVLO3FVXIPACQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTJ2YMDUUF2C3CZJKTSAFTXYXNJYQNOQMKB2EDWLTGZ3U4SRPRXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V43VOPFGYKUMO2GBNRG6GSHZ6SWGLGNOHZ65FOFBALF6GDNOTDGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUKTU6NFHEWOF4GRPLCRICLFATBSJQVLP3YBRYFJ33IGO3S5YJOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2NMJUXNRB7ZZ3GET5VUX6YY3345OL3WUPK747DR3CI5UDMEANZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZO6RHO26VHHUMDRQGYM5HUDSKGBE3RZTDZJ7YD3T2GICPUSZCKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JG7VMOLQ5XPFXC2J3L74LRSVTQAAECLOFUJIW4VZBAGCFUZ67ZOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNDRJOPS5T4HVTRLXTYRZZHFSNXCEVCKXOJ2YP67RQNUSY5RRMCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q27Y5ARBI3N4A4637MUZ4LXWFMQM5DIOV3PKVFDTF47XGJGK6DFQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXJRTCAPNOKMBQ2V6H2FFNETN27A25BDAOAY2T6TDEIGXJUJVLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z34GXOAA6NDA2L4OLV3SS7U27C3NCAF2AMBOGO3FSATG2AGPVAKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js"
            ]
        },
        "DescribeDimensionKeys": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceType",
                    "Identifier",
                    "StartTime",
                    "EndTime",
                    "Metric",
                    "GroupBy"
                ],
                "members": {
                    "ServiceType": {},
                    "Identifier": {},
                    "StartTime": {
                        "type": "timestamp"
                    },
                    "EndTime": {
                        "type": "timestamp"
                    },
                    "Metric": {},
                    "PeriodInSeconds": {
                        "type": "integer"
                    },
                    "GroupBy": {
                        "shape": "S9"
                    },
                    "AdditionalMetrics": {
                        "type": "list",
                        "member": {}
                    },
                    "PartitionBy": {
                        "shape": "S9"
                    },
                    "Filter": {
                        "shape": "Sd"
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {},
                    "GroupMetrics": {
                        "internalonly": true,
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AlignedStartTime": {
                        "type": "timestamp"
                    },
                    "AlignedEndTime": {
                        "type": "timestamp"
                    },
                    "PartitionKeys": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Dimensions"
                            ],
                            "members": {
                                "Dimensions": {
                                    "shape": "Sj"
                                }
                            }
                        }
                    },
                    "Keys": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Dimensions": {
                                    "shape": "Sj"
                                },
                                "Total": {
                                    "type": "double"
                                },
                                "AdditionalMetrics": {
                                    "type": "map",
                                    "key": {},
                                    "value": {
                                        "type": "double"
                                    }
                                },
                                "Partitions": {
                                    "type": "list",
                                    "member": {
                                        "type": "double"
                                    }
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXZLXMOGNGEB22U4VSHW5XH35JMYOKV43WPB65HH45LEWKN2UVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GF3WZWVHX4T4ABPPLIWHALEEBNJUCQMFNWTDDHGCZ6VZ4QVG44BA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YJO6CRESWY5VENDTMFDPFWE4IOQ4K3RN2YQGQNMBQEHX6MIS2AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXNJQ54CA55ERMDYOKM6JET2SRICRDDF46C32KUBL5452FXI5ZUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WCFJRNHPZ7W5SWEJFQ6ZJYKD7HQRI3DPGD465I5MDGABRTRAJMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7DPSOQMSHXMDM7ZY7AKRNBHXMOVT7R7VKFADDHJN2LVYJWVVQ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCUJVSGK3Q3B3BG2EEJ2B6KDXMNB3GUWD7PSAHCIJ7JGPGRI5LNQ/vendors.js"
            ]
        },
        "GetDimensionKeyDetails": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceType",
                    "Identifier",
                    "Group",
                    "GroupIdentifier"
                ],
                "members": {
                    "ServiceType": {},
                    "Identifier": {},
                    "Group": {},
                    "GroupIdentifier": {},
                    "RequestedDimensions": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Dimensions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Value": {},
                                "Dimension": {},
                                "Status": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVMSACDRA5IJGRWLUT2IV4BKGLBAWRYSJAZ2UFW7FNAYUS26T7DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIF5TG6PIISAQF7J6ETJSLGJVZ3NX4L7IWOOCE2ZPQZXBCNMKLWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXZLXMOGNGEB22U4VSHW5XH35JMYOKV43WPB65HH45LEWKN2UVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GF3WZWVHX4T4ABPPLIWHALEEBNJUCQMFNWTDDHGCZ6VZ4QVG44BA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YJO6CRESWY5VENDTMFDPFWE4IOQ4K3RN2YQGQNMBQEHX6MIS2AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXNJQ54CA55ERMDYOKM6JET2SRICRDDF46C32KUBL5452FXI5ZUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WCFJRNHPZ7W5SWEJFQ6ZJYKD7HQRI3DPGD465I5MDGABRTRAJMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7DPSOQMSHXMDM7ZY7AKRNBHXMOVT7R7VKFADDHJN2LVYJWVVQ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCUJVSGK3Q3B3BG2EEJ2B6KDXMNB3GUWD7PSAHCIJ7JGPGRI5LNQ/vendors.js"
            ]
        },
        "GetPerformanceAnalysisReport": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceType",
                    "Identifier",
                    "AnalysisReportId"
                ],
                "members": {
                    "ServiceType": {},
                    "Identifier": {},
                    "AnalysisReportId": {},
                    "TextFormat": {},
                    "AcceptLanguage": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AnalysisReport": {
                        "type": "structure",
                        "required": [
                            "AnalysisReportId"
                        ],
                        "members": {
                            "AnalysisReportId": {},
                            "Identifier": {},
                            "ServiceType": {},
                            "CreateTime": {
                                "type": "timestamp"
                            },
                            "StartTime": {
                                "type": "timestamp"
                            },
                            "EndTime": {
                                "type": "timestamp"
                            },
                            "Status": {},
                            "Insights": {
                                "shape": "S12"
                            }
                        }
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6XHSE5VWX3T2RPLBIAXADEUETNZ43IKT72CEGYAHN6ZRAXXGSBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6TPFYA3PEGDMCDW7KXHXY5CJ7RH7AXWYI2Z4KKUZ6JCHWCR5PQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DZ2U6F5MEPZ4PZUQYAFLYYK2FUAPWLVPEVWZQDZVLO3FVXIPACQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTJ2YMDUUF2C3CZJKTSAFTXYXNJYQNOQMKB2EDWLTGZ3U4SRPRXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V43VOPFGYKUMO2GBNRG6GSHZ6SWGLGNOHZ65FOFBALF6GDNOTDGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUKTU6NFHEWOF4GRPLCRICLFATBSJQVLP3YBRYFJ33IGO3S5YJOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2NMJUXNRB7ZZ3GET5VUX6YY3345OL3WUPK747DR3CI5UDMEANZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZO6RHO26VHHUMDRQGYM5HUDSKGBE3RZTDZJ7YD3T2GICPUSZCKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JG7VMOLQ5XPFXC2J3L74LRSVTQAAECLOFUJIW4VZBAGCFUZ67ZOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNDRJOPS5T4HVTRLXTYRZZHFSNXCEVCKXOJ2YP67RQNUSY5RRMCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q27Y5ARBI3N4A4637MUZ4LXWFMQM5DIOV3PKVFDTF47XGJGK6DFQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXJRTCAPNOKMBQ2V6H2FFNETN27A25BDAOAY2T6TDEIGXJUJVLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z34GXOAA6NDA2L4OLV3SS7U27C3NCAF2AMBOGO3FSATG2AGPVAKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js"
            ]
        },
        "GetResourceMetadata": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceType",
                    "Identifier"
                ],
                "members": {
                    "ServiceType": {},
                    "Identifier": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Identifier": {},
                    "Features": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "type": "structure",
                            "members": {
                                "Status": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NFWSDZCV33OQMRAATM537YCJNVK5MEB377LFWF27G27IONSJ2YA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SENA2ABU5PTDM5KKQ5AFXXGPY3GQJCG2UKGUXMGBMEP4NECVAKQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBPSAMYQ767NXZG5JPQWGGFOGC6F5VFXGFRWV3CICRT5GARFPOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6I3QHHDKHCY5W4IPSEOVYARDOP5ZEW64R3JFSX5EVUMWHQFQKAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKQNGLWLLY6BJ3NAO3LUIINP2P4R26ZFYFIAQBXAEANMCEDPVBFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWUXYDGIZWP2NYRC7EEIKP6YLNQ662JT3MFKGLU7WR3URLZ2Q73A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4DYKH3KNG4DWGXPH4DZZMALO4NZ6ALPXOEBIJLFM3OYWNYTXJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIF5TG6PIISAQF7J6ETJSLGJVZ3NX4L7IWOOCE2ZPQZXBCNMKLWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GF3WZWVHX4T4ABPPLIWHALEEBNJUCQMFNWTDDHGCZ6VZ4QVG44BA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXNJQ54CA55ERMDYOKM6JET2SRICRDDF46C32KUBL5452FXI5ZUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WCFJRNHPZ7W5SWEJFQ6ZJYKD7HQRI3DPGD465I5MDGABRTRAJMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7DPSOQMSHXMDM7ZY7AKRNBHXMOVT7R7VKFADDHJN2LVYJWVVQ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCUJVSGK3Q3B3BG2EEJ2B6KDXMNB3GUWD7PSAHCIJ7JGPGRI5LNQ/vendors.js"
            ]
        },
        "GetResourceMetrics": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceType",
                    "Identifier",
                    "MetricQueries",
                    "StartTime",
                    "EndTime"
                ],
                "members": {
                    "ServiceType": {},
                    "Identifier": {},
                    "MetricQueries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Metric"
                            ],
                            "members": {
                                "Metric": {},
                                "GroupBy": {
                                    "shape": "S9"
                                },
                                "Filter": {
                                    "shape": "Sd"
                                }
                            }
                        }
                    },
                    "StartTime": {
                        "type": "timestamp"
                    },
                    "EndTime": {
                        "type": "timestamp"
                    },
                    "PeriodInSeconds": {
                        "type": "integer"
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {},
                    "PeriodAlignment": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AlignedStartTime": {
                        "type": "timestamp"
                    },
                    "AlignedEndTime": {
                        "type": "timestamp"
                    },
                    "Identifier": {},
                    "MetricList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Key": {
                                    "type": "structure",
                                    "required": [
                                        "Metric"
                                    ],
                                    "members": {
                                        "Metric": {},
                                        "Dimensions": {
                                            "shape": "Sj"
                                        }
                                    }
                                },
                                "DataPoints": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "required": [
                                            "Timestamp",
                                            "Value"
                                        ],
                                        "members": {
                                            "Timestamp": {
                                                "type": "timestamp"
                                            },
                                            "Value": {
                                                "type": "double"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXZLXMOGNGEB22U4VSHW5XH35JMYOKV43WPB65HH45LEWKN2UVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GF3WZWVHX4T4ABPPLIWHALEEBNJUCQMFNWTDDHGCZ6VZ4QVG44BA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YJO6CRESWY5VENDTMFDPFWE4IOQ4K3RN2YQGQNMBQEHX6MIS2AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXNJQ54CA55ERMDYOKM6JET2SRICRDDF46C32KUBL5452FXI5ZUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WCFJRNHPZ7W5SWEJFQ6ZJYKD7HQRI3DPGD465I5MDGABRTRAJMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7DPSOQMSHXMDM7ZY7AKRNBHXMOVT7R7VKFADDHJN2LVYJWVVQ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCUJVSGK3Q3B3BG2EEJ2B6KDXMNB3GUWD7PSAHCIJ7JGPGRI5LNQ/vendors.js"
            ]
        },
        "ListAvailableResourceDimensions": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceType",
                    "Identifier",
                    "Metrics"
                ],
                "members": {
                    "ServiceType": {},
                    "Identifier": {},
                    "Metrics": {
                        "type": "list",
                        "member": {}
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "MetricDimensions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Metric": {},
                                "Groups": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "Group": {},
                                            "Dimensions": {
                                                "type": "list",
                                                "member": {
                                                    "type": "structure",
                                                    "members": {
                                                        "Identifier": {}
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NFWSDZCV33OQMRAATM537YCJNVK5MEB377LFWF27G27IONSJ2YA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SENA2ABU5PTDM5KKQ5AFXXGPY3GQJCG2UKGUXMGBMEP4NECVAKQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBPSAMYQ767NXZG5JPQWGGFOGC6F5VFXGFRWV3CICRT5GARFPOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6I3QHHDKHCY5W4IPSEOVYARDOP5ZEW64R3JFSX5EVUMWHQFQKAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKQNGLWLLY6BJ3NAO3LUIINP2P4R26ZFYFIAQBXAEANMCEDPVBFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWUXYDGIZWP2NYRC7EEIKP6YLNQ662JT3MFKGLU7WR3URLZ2Q73A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4DYKH3KNG4DWGXPH4DZZMALO4NZ6ALPXOEBIJLFM3OYWNYTXJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIF5TG6PIISAQF7J6ETJSLGJVZ3NX4L7IWOOCE2ZPQZXBCNMKLWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GF3WZWVHX4T4ABPPLIWHALEEBNJUCQMFNWTDDHGCZ6VZ4QVG44BA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXNJQ54CA55ERMDYOKM6JET2SRICRDDF46C32KUBL5452FXI5ZUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WCFJRNHPZ7W5SWEJFQ6ZJYKD7HQRI3DPGD465I5MDGABRTRAJMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7DPSOQMSHXMDM7ZY7AKRNBHXMOVT7R7VKFADDHJN2LVYJWVVQ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCUJVSGK3Q3B3BG2EEJ2B6KDXMNB3GUWD7PSAHCIJ7JGPGRI5LNQ/vendors.js"
            ]
        },
        "ListAvailableResourceMetrics": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceType",
                    "Identifier",
                    "MetricTypes"
                ],
                "members": {
                    "ServiceType": {},
                    "Identifier": {},
                    "MetricTypes": {
                        "type": "list",
                        "member": {}
                    },
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Metrics": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Metric": {},
                                "Description": {},
                                "Unit": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NFWSDZCV33OQMRAATM537YCJNVK5MEB377LFWF27G27IONSJ2YA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SENA2ABU5PTDM5KKQ5AFXXGPY3GQJCG2UKGUXMGBMEP4NECVAKQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBPSAMYQ767NXZG5JPQWGGFOGC6F5VFXGFRWV3CICRT5GARFPOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6I3QHHDKHCY5W4IPSEOVYARDOP5ZEW64R3JFSX5EVUMWHQFQKAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKQNGLWLLY6BJ3NAO3LUIINP2P4R26ZFYFIAQBXAEANMCEDPVBFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWUXYDGIZWP2NYRC7EEIKP6YLNQ662JT3MFKGLU7WR3URLZ2Q73A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4DYKH3KNG4DWGXPH4DZZMALO4NZ6ALPXOEBIJLFM3OYWNYTXJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIF5TG6PIISAQF7J6ETJSLGJVZ3NX4L7IWOOCE2ZPQZXBCNMKLWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GF3WZWVHX4T4ABPPLIWHALEEBNJUCQMFNWTDDHGCZ6VZ4QVG44BA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXNJQ54CA55ERMDYOKM6JET2SRICRDDF46C32KUBL5452FXI5ZUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WCFJRNHPZ7W5SWEJFQ6ZJYKD7HQRI3DPGD465I5MDGABRTRAJMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7DPSOQMSHXMDM7ZY7AKRNBHXMOVT7R7VKFADDHJN2LVYJWVVQ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCUJVSGK3Q3B3BG2EEJ2B6KDXMNB3GUWD7PSAHCIJ7JGPGRI5LNQ/vendors.js"
            ]
        },
        "ListPerformanceAnalysisReports": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceType",
                    "Identifier"
                ],
                "members": {
                    "ServiceType": {},
                    "Identifier": {},
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "ListTags": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AnalysisReports": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "AnalysisReportId": {},
                                "CreationTime": {
                                    "type": "timestamp"
                                },
                                "StartTime": {
                                    "type": "timestamp"
                                },
                                "EndTime": {
                                    "type": "timestamp"
                                },
                                "Status": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6XHSE5VWX3T2RPLBIAXADEUETNZ43IKT72CEGYAHN6ZRAXXGSBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6TPFYA3PEGDMCDW7KXHXY5CJ7RH7AXWYI2Z4KKUZ6JCHWCR5PQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DZ2U6F5MEPZ4PZUQYAFLYYK2FUAPWLVPEVWZQDZVLO3FVXIPACQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTJ2YMDUUF2C3CZJKTSAFTXYXNJYQNOQMKB2EDWLTGZ3U4SRPRXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V43VOPFGYKUMO2GBNRG6GSHZ6SWGLGNOHZ65FOFBALF6GDNOTDGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUKTU6NFHEWOF4GRPLCRICLFATBSJQVLP3YBRYFJ33IGO3S5YJOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2NMJUXNRB7ZZ3GET5VUX6YY3345OL3WUPK747DR3CI5UDMEANZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZO6RHO26VHHUMDRQGYM5HUDSKGBE3RZTDZJ7YD3T2GICPUSZCKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JG7VMOLQ5XPFXC2J3L74LRSVTQAAECLOFUJIW4VZBAGCFUZ67ZOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNDRJOPS5T4HVTRLXTYRZZHFSNXCEVCKXOJ2YP67RQNUSY5RRMCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q27Y5ARBI3N4A4637MUZ4LXWFMQM5DIOV3PKVFDTF47XGJGK6DFQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXJRTCAPNOKMBQ2V6H2FFNETN27A25BDAOAY2T6TDEIGXJUJVLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z34GXOAA6NDA2L4OLV3SS7U27C3NCAF2AMBOGO3FSATG2AGPVAKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js"
            ]
        },
        "BatchGetResourceMetrics": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceType",
                    "Identifiers",
                    "MetricQueries",
                    "StartTime",
                    "EndTime"
                ],
                "members": {
                    "ServiceType": {},
                    "Identifiers": {
                        "shape": "S3"
                    },
                    "MetricQueries": {
                        "shape": "S5"
                    },
                    "StartTime": {
                        "type": "timestamp"
                    },
                    "EndTime": {
                        "type": "timestamp"
                    },
                    "PeriodInSeconds": {
                        "type": "integer"
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AlignedStartTime": {
                        "type": "timestamp"
                    },
                    "AlignedEndTime": {
                        "type": "timestamp"
                    },
                    "Identifiers": {
                        "shape": "S3"
                    },
                    "MetricList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Key": {
                                    "shape": "Sh"
                                },
                                "DataPoints": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "required": [
                                            "Timestamp",
                                            "Values"
                                        ],
                                        "members": {
                                            "Timestamp": {
                                                "type": "timestamp"
                                            },
                                            "Values": {
                                                "shape": "Sm"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "Errors": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Identifier": {},
                                "Code": {},
                                "Message": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2UB33AZXWRI5CTHDBMBLEMI6D6X2ZUVC6NGEPJPXVWL2IBDCXF4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YECHJJGIWZRJ4NBQL2RPG2EGRVWFJPWJGKYJL73HNCIFIAXXLV3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7FJKQQUIGS5PH2VDGNJ7BJXS4FWYLQV2DEICQ2VIQBYSHHT3ABHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWGTEMNBRTEZARBHMGC3FXGLSFO7SK45TUR5JHO34LGN7EWQAQBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZCVSMLIMNZ2PWLLORS7HPGJAACAAITCNYZXLY6S5GHGHUG2GFBGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BS7KWDDBDY5Y4Y64HUAX3IRC2HQAQRBDWW4ZNX6TLF4QMYIBTN3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25GCW6BTJJSXFARTQ7A4Z5HA7TCIKX7WD6CEJYN67JZIZYQHFJFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LV5KGRCBBCR4VHZIDHRDEHYATXQCV3R6WUD4MM6TFZPLSPLFUYXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GZGXW5FHIJB4A4FVYNEWUJDLNLJZVHO6KIZZ4AJ2GIIEJFXFILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUL27IYQBUH3N2XGNAIJIYFBE2MB7QUMVXMKVDRLWHXBBBZM2IIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2ZFG5YBFHRQKXNHPSO4V5BYD6UCYL5P55MHJI4U4SZ6VJAWIPZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BK6DSOKNMFWVFPH764PC3IYDOVEDF3VE5PYBAZPX4ZS7ILORJAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4N55A6J3RXWSLAHCY27DH6GWKSZVSHGYWJT7D77LXVT6BOMNPDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NFWSDZCV33OQMRAATM537YCJNVK5MEB377LFWF27G27IONSJ2YA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GF3WZWVHX4T4ABPPLIWHALEEBNJUCQMFNWTDDHGCZ6VZ4QVG44BA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXNJQ54CA55ERMDYOKM6JET2SRICRDDF46C32KUBL5452FXI5ZUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WCFJRNHPZ7W5SWEJFQ6ZJYKD7HQRI3DPGD465I5MDGABRTRAJMA/main.js"
            ]
        },
        "CheckUserPermission": {
            "input": {
                "type": "structure",
                "members": {
                    "ServiceType": {},
                    "Identifier": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Result": {},
                    "Details": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2UB33AZXWRI5CTHDBMBLEMI6D6X2ZUVC6NGEPJPXVWL2IBDCXF4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YECHJJGIWZRJ4NBQL2RPG2EGRVWFJPWJGKYJL73HNCIFIAXXLV3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7FJKQQUIGS5PH2VDGNJ7BJXS4FWYLQV2DEICQ2VIQBYSHHT3ABHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWGTEMNBRTEZARBHMGC3FXGLSFO7SK45TUR5JHO34LGN7EWQAQBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZCVSMLIMNZ2PWLLORS7HPGJAACAAITCNYZXLY6S5GHGHUG2GFBGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BS7KWDDBDY5Y4Y64HUAX3IRC2HQAQRBDWW4ZNX6TLF4QMYIBTN3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25GCW6BTJJSXFARTQ7A4Z5HA7TCIKX7WD6CEJYN67JZIZYQHFJFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LV5KGRCBBCR4VHZIDHRDEHYATXQCV3R6WUD4MM6TFZPLSPLFUYXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GZGXW5FHIJB4A4FVYNEWUJDLNLJZVHO6KIZZ4AJ2GIIEJFXFILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUL27IYQBUH3N2XGNAIJIYFBE2MB7QUMVXMKVDRLWHXBBBZM2IIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2ZFG5YBFHRQKXNHPSO4V5BYD6UCYL5P55MHJI4U4SZ6VJAWIPZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BK6DSOKNMFWVFPH764PC3IYDOVEDF3VE5PYBAZPX4ZS7ILORJAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4N55A6J3RXWSLAHCY27DH6GWKSZVSHGYWJT7D77LXVT6BOMNPDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NFWSDZCV33OQMRAATM537YCJNVK5MEB377LFWF27G27IONSJ2YA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GF3WZWVHX4T4ABPPLIWHALEEBNJUCQMFNWTDDHGCZ6VZ4QVG44BA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXNJQ54CA55ERMDYOKM6JET2SRICRDDF46C32KUBL5452FXI5ZUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WCFJRNHPZ7W5SWEJFQ6ZJYKD7HQRI3DPGD465I5MDGABRTRAJMA/main.js"
            ]
        },
        "DescribeCounterMetrics": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceType"
                ],
                "members": {
                    "ServiceType": {},
                    "Identifier": {},
                    "Engine": {
                        "type": "structure",
                        "required": [
                            "Name"
                        ],
                        "members": {
                            "Name": {},
                            "Version": {}
                        }
                    },
                    "Metrics": {
                        "type": "list",
                        "member": {}
                    },
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Metrics": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Metric": {},
                                "Description": {},
                                "Unit": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2UB33AZXWRI5CTHDBMBLEMI6D6X2ZUVC6NGEPJPXVWL2IBDCXF4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YECHJJGIWZRJ4NBQL2RPG2EGRVWFJPWJGKYJL73HNCIFIAXXLV3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7FJKQQUIGS5PH2VDGNJ7BJXS4FWYLQV2DEICQ2VIQBYSHHT3ABHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWGTEMNBRTEZARBHMGC3FXGLSFO7SK45TUR5JHO34LGN7EWQAQBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZCVSMLIMNZ2PWLLORS7HPGJAACAAITCNYZXLY6S5GHGHUG2GFBGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BS7KWDDBDY5Y4Y64HUAX3IRC2HQAQRBDWW4ZNX6TLF4QMYIBTN3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25GCW6BTJJSXFARTQ7A4Z5HA7TCIKX7WD6CEJYN67JZIZYQHFJFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LV5KGRCBBCR4VHZIDHRDEHYATXQCV3R6WUD4MM6TFZPLSPLFUYXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GZGXW5FHIJB4A4FVYNEWUJDLNLJZVHO6KIZZ4AJ2GIIEJFXFILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUL27IYQBUH3N2XGNAIJIYFBE2MB7QUMVXMKVDRLWHXBBBZM2IIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2ZFG5YBFHRQKXNHPSO4V5BYD6UCYL5P55MHJI4U4SZ6VJAWIPZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BK6DSOKNMFWVFPH764PC3IYDOVEDF3VE5PYBAZPX4ZS7ILORJAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4N55A6J3RXWSLAHCY27DH6GWKSZVSHGYWJT7D77LXVT6BOMNPDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NFWSDZCV33OQMRAATM537YCJNVK5MEB377LFWF27G27IONSJ2YA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GF3WZWVHX4T4ABPPLIWHALEEBNJUCQMFNWTDDHGCZ6VZ4QVG44BA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXNJQ54CA55ERMDYOKM6JET2SRICRDDF46C32KUBL5452FXI5ZUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WCFJRNHPZ7W5SWEJFQ6ZJYKD7HQRI3DPGD465I5MDGABRTRAJMA/main.js"
            ]
        },
        "DescribeDimensions": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceType"
                ],
                "members": {
                    "ServiceType": {},
                    "Identifier": {},
                    "ResourceType": {
                        "type": "structure",
                        "required": [
                            "Name"
                        ],
                        "members": {
                            "Name": {},
                            "Version": {}
                        }
                    },
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Dimensions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Description": {},
                                "Dimension": {},
                                "Group": {},
                                "Name": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2UB33AZXWRI5CTHDBMBLEMI6D6X2ZUVC6NGEPJPXVWL2IBDCXF4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YECHJJGIWZRJ4NBQL2RPG2EGRVWFJPWJGKYJL73HNCIFIAXXLV3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7FJKQQUIGS5PH2VDGNJ7BJXS4FWYLQV2DEICQ2VIQBYSHHT3ABHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWGTEMNBRTEZARBHMGC3FXGLSFO7SK45TUR5JHO34LGN7EWQAQBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZCVSMLIMNZ2PWLLORS7HPGJAACAAITCNYZXLY6S5GHGHUG2GFBGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BS7KWDDBDY5Y4Y64HUAX3IRC2HQAQRBDWW4ZNX6TLF4QMYIBTN3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25GCW6BTJJSXFARTQ7A4Z5HA7TCIKX7WD6CEJYN67JZIZYQHFJFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LV5KGRCBBCR4VHZIDHRDEHYATXQCV3R6WUD4MM6TFZPLSPLFUYXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GZGXW5FHIJB4A4FVYNEWUJDLNLJZVHO6KIZZ4AJ2GIIEJFXFILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUL27IYQBUH3N2XGNAIJIYFBE2MB7QUMVXMKVDRLWHXBBBZM2IIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2ZFG5YBFHRQKXNHPSO4V5BYD6UCYL5P55MHJI4U4SZ6VJAWIPZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BK6DSOKNMFWVFPH764PC3IYDOVEDF3VE5PYBAZPX4ZS7ILORJAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4N55A6J3RXWSLAHCY27DH6GWKSZVSHGYWJT7D77LXVT6BOMNPDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NFWSDZCV33OQMRAATM537YCJNVK5MEB377LFWF27G27IONSJ2YA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GF3WZWVHX4T4ABPPLIWHALEEBNJUCQMFNWTDDHGCZ6VZ4QVG44BA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXNJQ54CA55ERMDYOKM6JET2SRICRDDF46C32KUBL5452FXI5ZUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WCFJRNHPZ7W5SWEJFQ6ZJYKD7HQRI3DPGD465I5MDGABRTRAJMA/main.js"
            ]
        },
        "DescribeInsights": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceType"
                ],
                "members": {
                    "ServiceType": {},
                    "StartTimeRange": {
                        "type": "structure",
                        "members": {
                            "StartTime": {
                                "type": "timestamp"
                            },
                            "EndTime": {
                                "type": "timestamp"
                            }
                        }
                    },
                    "Identifier": {},
                    "InsightIds": {
                        "type": "list",
                        "member": {}
                    },
                    "Status": {},
                    "SeverityList": {
                        "type": "list",
                        "member": {}
                    },
                    "Archived": {
                        "type": "boolean"
                    },
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Insights": {
                        "type": "list",
                        "member": {
                            "shape": "S1s"
                        }
                    },
                    "NextToken": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2UB33AZXWRI5CTHDBMBLEMI6D6X2ZUVC6NGEPJPXVWL2IBDCXF4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YECHJJGIWZRJ4NBQL2RPG2EGRVWFJPWJGKYJL73HNCIFIAXXLV3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7FJKQQUIGS5PH2VDGNJ7BJXS4FWYLQV2DEICQ2VIQBYSHHT3ABHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWGTEMNBRTEZARBHMGC3FXGLSFO7SK45TUR5JHO34LGN7EWQAQBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZCVSMLIMNZ2PWLLORS7HPGJAACAAITCNYZXLY6S5GHGHUG2GFBGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BS7KWDDBDY5Y4Y64HUAX3IRC2HQAQRBDWW4ZNX6TLF4QMYIBTN3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25GCW6BTJJSXFARTQ7A4Z5HA7TCIKX7WD6CEJYN67JZIZYQHFJFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LV5KGRCBBCR4VHZIDHRDEHYATXQCV3R6WUD4MM6TFZPLSPLFUYXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GZGXW5FHIJB4A4FVYNEWUJDLNLJZVHO6KIZZ4AJ2GIIEJFXFILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUL27IYQBUH3N2XGNAIJIYFBE2MB7QUMVXMKVDRLWHXBBBZM2IIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2ZFG5YBFHRQKXNHPSO4V5BYD6UCYL5P55MHJI4U4SZ6VJAWIPZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BK6DSOKNMFWVFPH764PC3IYDOVEDF3VE5PYBAZPX4ZS7ILORJAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4N55A6J3RXWSLAHCY27DH6GWKSZVSHGYWJT7D77LXVT6BOMNPDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NFWSDZCV33OQMRAATM537YCJNVK5MEB377LFWF27G27IONSJ2YA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GF3WZWVHX4T4ABPPLIWHALEEBNJUCQMFNWTDDHGCZ6VZ4QVG44BA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXNJQ54CA55ERMDYOKM6JET2SRICRDDF46C32KUBL5452FXI5ZUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WCFJRNHPZ7W5SWEJFQ6ZJYKD7HQRI3DPGD465I5MDGABRTRAJMA/main.js"
            ]
        },
        "DescribeRecommendation": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceType",
                    "Identifier",
                    "ExecutionPlanId"
                ],
                "members": {
                    "ServiceType": {},
                    "Identifier": {},
                    "ExecutionPlanId": {},
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Recommendations": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "RecommendationType": {},
                                "DatabaseName": {},
                                "TableName": {},
                                "ColumnNames": {
                                    "shape": "S3"
                                },
                                "IndexNames": {
                                    "shape": "S3"
                                },
                                "NumRowsFilter": {
                                    "type": "long"
                                },
                                "NumRowsTotal": {
                                    "type": "long"
                                },
                                "RawLineNumbers": {
                                    "shape": "S2p"
                                },
                                "StructuredLineNumbers": {
                                    "shape": "S2p"
                                },
                                "CostPercentage": {
                                    "type": "double"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2UB33AZXWRI5CTHDBMBLEMI6D6X2ZUVC6NGEPJPXVWL2IBDCXF4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YECHJJGIWZRJ4NBQL2RPG2EGRVWFJPWJGKYJL73HNCIFIAXXLV3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7FJKQQUIGS5PH2VDGNJ7BJXS4FWYLQV2DEICQ2VIQBYSHHT3ABHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWGTEMNBRTEZARBHMGC3FXGLSFO7SK45TUR5JHO34LGN7EWQAQBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZCVSMLIMNZ2PWLLORS7HPGJAACAAITCNYZXLY6S5GHGHUG2GFBGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BS7KWDDBDY5Y4Y64HUAX3IRC2HQAQRBDWW4ZNX6TLF4QMYIBTN3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25GCW6BTJJSXFARTQ7A4Z5HA7TCIKX7WD6CEJYN67JZIZYQHFJFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LV5KGRCBBCR4VHZIDHRDEHYATXQCV3R6WUD4MM6TFZPLSPLFUYXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GZGXW5FHIJB4A4FVYNEWUJDLNLJZVHO6KIZZ4AJ2GIIEJFXFILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUL27IYQBUH3N2XGNAIJIYFBE2MB7QUMVXMKVDRLWHXBBBZM2IIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2ZFG5YBFHRQKXNHPSO4V5BYD6UCYL5P55MHJI4U4SZ6VJAWIPZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BK6DSOKNMFWVFPH764PC3IYDOVEDF3VE5PYBAZPX4ZS7ILORJAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4N55A6J3RXWSLAHCY27DH6GWKSZVSHGYWJT7D77LXVT6BOMNPDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NFWSDZCV33OQMRAATM537YCJNVK5MEB377LFWF27G27IONSJ2YA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GF3WZWVHX4T4ABPPLIWHALEEBNJUCQMFNWTDDHGCZ6VZ4QVG44BA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXNJQ54CA55ERMDYOKM6JET2SRICRDDF46C32KUBL5452FXI5ZUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WCFJRNHPZ7W5SWEJFQ6ZJYKD7HQRI3DPGD465I5MDGABRTRAJMA/main.js"
            ]
        },
        "DescribeResourceMetrics": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceType",
                    "MetricTypes"
                ],
                "members": {
                    "ServiceType": {},
                    "Identifier": {},
                    "Engine": {
                        "type": "structure",
                        "required": [
                            "Name"
                        ],
                        "members": {
                            "Name": {},
                            "Version": {}
                        }
                    },
                    "MetricTypes": {
                        "shape": "S2s"
                    },
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Metrics": {
                        "shape": "S2u"
                    },
                    "NextToken": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2UB33AZXWRI5CTHDBMBLEMI6D6X2ZUVC6NGEPJPXVWL2IBDCXF4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YECHJJGIWZRJ4NBQL2RPG2EGRVWFJPWJGKYJL73HNCIFIAXXLV3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7FJKQQUIGS5PH2VDGNJ7BJXS4FWYLQV2DEICQ2VIQBYSHHT3ABHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWGTEMNBRTEZARBHMGC3FXGLSFO7SK45TUR5JHO34LGN7EWQAQBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZCVSMLIMNZ2PWLLORS7HPGJAACAAITCNYZXLY6S5GHGHUG2GFBGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BS7KWDDBDY5Y4Y64HUAX3IRC2HQAQRBDWW4ZNX6TLF4QMYIBTN3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25GCW6BTJJSXFARTQ7A4Z5HA7TCIKX7WD6CEJYN67JZIZYQHFJFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LV5KGRCBBCR4VHZIDHRDEHYATXQCV3R6WUD4MM6TFZPLSPLFUYXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GZGXW5FHIJB4A4FVYNEWUJDLNLJZVHO6KIZZ4AJ2GIIEJFXFILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUL27IYQBUH3N2XGNAIJIYFBE2MB7QUMVXMKVDRLWHXBBBZM2IIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2ZFG5YBFHRQKXNHPSO4V5BYD6UCYL5P55MHJI4U4SZ6VJAWIPZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BK6DSOKNMFWVFPH764PC3IYDOVEDF3VE5PYBAZPX4ZS7ILORJAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4N55A6J3RXWSLAHCY27DH6GWKSZVSHGYWJT7D77LXVT6BOMNPDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NFWSDZCV33OQMRAATM537YCJNVK5MEB377LFWF27G27IONSJ2YA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GF3WZWVHX4T4ABPPLIWHALEEBNJUCQMFNWTDDHGCZ6VZ4QVG44BA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXNJQ54CA55ERMDYOKM6JET2SRICRDDF46C32KUBL5452FXI5ZUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WCFJRNHPZ7W5SWEJFQ6ZJYKD7HQRI3DPGD465I5MDGABRTRAJMA/main.js"
            ]
        },
        "DescribeTable": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceType",
                    "Tables"
                ],
                "members": {
                    "ServiceType": {},
                    "Identifier": {},
                    "Tables": {
                        "type": "list",
                        "member": {}
                    },
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Identifier": {},
                    "Tables": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "TableName": {},
                                "Status": {},
                                "Details": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2UB33AZXWRI5CTHDBMBLEMI6D6X2ZUVC6NGEPJPXVWL2IBDCXF4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YECHJJGIWZRJ4NBQL2RPG2EGRVWFJPWJGKYJL73HNCIFIAXXLV3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7FJKQQUIGS5PH2VDGNJ7BJXS4FWYLQV2DEICQ2VIQBYSHHT3ABHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWGTEMNBRTEZARBHMGC3FXGLSFO7SK45TUR5JHO34LGN7EWQAQBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZCVSMLIMNZ2PWLLORS7HPGJAACAAITCNYZXLY6S5GHGHUG2GFBGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BS7KWDDBDY5Y4Y64HUAX3IRC2HQAQRBDWW4ZNX6TLF4QMYIBTN3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25GCW6BTJJSXFARTQ7A4Z5HA7TCIKX7WD6CEJYN67JZIZYQHFJFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LV5KGRCBBCR4VHZIDHRDEHYATXQCV3R6WUD4MM6TFZPLSPLFUYXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GZGXW5FHIJB4A4FVYNEWUJDLNLJZVHO6KIZZ4AJ2GIIEJFXFILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUL27IYQBUH3N2XGNAIJIYFBE2MB7QUMVXMKVDRLWHXBBBZM2IIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2ZFG5YBFHRQKXNHPSO4V5BYD6UCYL5P55MHJI4U4SZ6VJAWIPZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BK6DSOKNMFWVFPH764PC3IYDOVEDF3VE5PYBAZPX4ZS7ILORJAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4N55A6J3RXWSLAHCY27DH6GWKSZVSHGYWJT7D77LXVT6BOMNPDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NFWSDZCV33OQMRAATM537YCJNVK5MEB377LFWF27G27IONSJ2YA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GF3WZWVHX4T4ABPPLIWHALEEBNJUCQMFNWTDDHGCZ6VZ4QVG44BA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXNJQ54CA55ERMDYOKM6JET2SRICRDDF46C32KUBL5452FXI5ZUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WCFJRNHPZ7W5SWEJFQ6ZJYKD7HQRI3DPGD465I5MDGABRTRAJMA/main.js"
            ]
        },
        "ListKeyDetails": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceType",
                    "Identifier",
                    "StartTime",
                    "EndTime"
                ],
                "members": {
                    "ServiceType": {},
                    "Identifier": {},
                    "SqlId": {},
                    "DigestId": {},
                    "StartTime": {
                        "type": "timestamp"
                    },
                    "EndTime": {
                        "type": "timestamp"
                    },
                    "PeriodInSeconds": {
                        "type": "integer"
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AlignedStartTime": {
                        "type": "timestamp"
                    },
                    "AlignedEndTime": {
                        "type": "timestamp"
                    },
                    "Details": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "SqlId": {},
                                "DetailList": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "required": [
                                            "DetailKeyId",
                                            "DetailType",
                                            "Timestamp"
                                        ],
                                        "members": {
                                            "DetailKeyId": {},
                                            "DetailType": {},
                                            "Timestamp": {
                                                "type": "timestamp"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2UB33AZXWRI5CTHDBMBLEMI6D6X2ZUVC6NGEPJPXVWL2IBDCXF4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YECHJJGIWZRJ4NBQL2RPG2EGRVWFJPWJGKYJL73HNCIFIAXXLV3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7FJKQQUIGS5PH2VDGNJ7BJXS4FWYLQV2DEICQ2VIQBYSHHT3ABHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWGTEMNBRTEZARBHMGC3FXGLSFO7SK45TUR5JHO34LGN7EWQAQBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZCVSMLIMNZ2PWLLORS7HPGJAACAAITCNYZXLY6S5GHGHUG2GFBGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BS7KWDDBDY5Y4Y64HUAX3IRC2HQAQRBDWW4ZNX6TLF4QMYIBTN3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25GCW6BTJJSXFARTQ7A4Z5HA7TCIKX7WD6CEJYN67JZIZYQHFJFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LV5KGRCBBCR4VHZIDHRDEHYATXQCV3R6WUD4MM6TFZPLSPLFUYXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GZGXW5FHIJB4A4FVYNEWUJDLNLJZVHO6KIZZ4AJ2GIIEJFXFILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUL27IYQBUH3N2XGNAIJIYFBE2MB7QUMVXMKVDRLWHXBBBZM2IIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2ZFG5YBFHRQKXNHPSO4V5BYD6UCYL5P55MHJI4U4SZ6VJAWIPZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BK6DSOKNMFWVFPH764PC3IYDOVEDF3VE5PYBAZPX4ZS7ILORJAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4N55A6J3RXWSLAHCY27DH6GWKSZVSHGYWJT7D77LXVT6BOMNPDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NFWSDZCV33OQMRAATM537YCJNVK5MEB377LFWF27G27IONSJ2YA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GF3WZWVHX4T4ABPPLIWHALEEBNJUCQMFNWTDDHGCZ6VZ4QVG44BA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXNJQ54CA55ERMDYOKM6JET2SRICRDDF46C32KUBL5452FXI5ZUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WCFJRNHPZ7W5SWEJFQ6ZJYKD7HQRI3DPGD465I5MDGABRTRAJMA/main.js"
            ]
        },
        "ModifyInsight": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceType",
                    "InsightId",
                    "Archived"
                ],
                "members": {
                    "ServiceType": {},
                    "InsightId": {},
                    "Archived": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Insight": {
                        "shape": "S1s"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2UB33AZXWRI5CTHDBMBLEMI6D6X2ZUVC6NGEPJPXVWL2IBDCXF4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YECHJJGIWZRJ4NBQL2RPG2EGRVWFJPWJGKYJL73HNCIFIAXXLV3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7FJKQQUIGS5PH2VDGNJ7BJXS4FWYLQV2DEICQ2VIQBYSHHT3ABHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWGTEMNBRTEZARBHMGC3FXGLSFO7SK45TUR5JHO34LGN7EWQAQBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZCVSMLIMNZ2PWLLORS7HPGJAACAAITCNYZXLY6S5GHGHUG2GFBGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BS7KWDDBDY5Y4Y64HUAX3IRC2HQAQRBDWW4ZNX6TLF4QMYIBTN3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25GCW6BTJJSXFARTQ7A4Z5HA7TCIKX7WD6CEJYN67JZIZYQHFJFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LV5KGRCBBCR4VHZIDHRDEHYATXQCV3R6WUD4MM6TFZPLSPLFUYXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GZGXW5FHIJB4A4FVYNEWUJDLNLJZVHO6KIZZ4AJ2GIIEJFXFILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUL27IYQBUH3N2XGNAIJIYFBE2MB7QUMVXMKVDRLWHXBBBZM2IIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2ZFG5YBFHRQKXNHPSO4V5BYD6UCYL5P55MHJI4U4SZ6VJAWIPZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BK6DSOKNMFWVFPH764PC3IYDOVEDF3VE5PYBAZPX4ZS7ILORJAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4N55A6J3RXWSLAHCY27DH6GWKSZVSHGYWJT7D77LXVT6BOMNPDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NFWSDZCV33OQMRAATM537YCJNVK5MEB377LFWF27G27IONSJ2YA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GF3WZWVHX4T4ABPPLIWHALEEBNJUCQMFNWTDDHGCZ6VZ4QVG44BA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXNJQ54CA55ERMDYOKM6JET2SRICRDDF46C32KUBL5452FXI5ZUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WCFJRNHPZ7W5SWEJFQ6ZJYKD7HQRI3DPGD465I5MDGABRTRAJMA/main.js"
            ]
        },
        "PutInsightFeedback": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceType",
                    "FeedbackType"
                ],
                "members": {
                    "ServiceType": {},
                    "InsightId": {},
                    "FeedbackType": {},
                    "ArchiveInsightDetails": {
                        "type": "structure",
                        "members": {
                            "ArchiveReason": {},
                            "Comments": {
                                "shape": "S46"
                            }
                        }
                    },
                    "SeverityUpdateDetails": {
                        "type": "structure",
                        "required": [
                            "From",
                            "To"
                        ],
                        "members": {
                            "From": {},
                            "To": {},
                            "Comments": {
                                "shape": "S46"
                            }
                        }
                    },
                    "VoteDetails": {
                        "type": "structure",
                        "required": [
                            "VoteTarget",
                            "Vote"
                        ],
                        "members": {
                            "VoteTarget": {},
                            "VoteTargetIdentifier": {},
                            "Vote": {},
                            "Comments": {
                                "shape": "S46"
                            }
                        }
                    },
                    "MissingInsightDetails": {
                        "type": "structure",
                        "required": [
                            "Identifier"
                        ],
                        "members": {
                            "Identifier": {},
                            "StartTime": {
                                "type": "timestamp"
                            },
                            "EndTime": {
                                "type": "timestamp"
                            },
                            "RelatedMetrics": {
                                "type": "list",
                                "member": {}
                            },
                            "Comments": {
                                "shape": "S46"
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2UB33AZXWRI5CTHDBMBLEMI6D6X2ZUVC6NGEPJPXVWL2IBDCXF4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YECHJJGIWZRJ4NBQL2RPG2EGRVWFJPWJGKYJL73HNCIFIAXXLV3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7FJKQQUIGS5PH2VDGNJ7BJXS4FWYLQV2DEICQ2VIQBYSHHT3ABHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWGTEMNBRTEZARBHMGC3FXGLSFO7SK45TUR5JHO34LGN7EWQAQBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZCVSMLIMNZ2PWLLORS7HPGJAACAAITCNYZXLY6S5GHGHUG2GFBGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BS7KWDDBDY5Y4Y64HUAX3IRC2HQAQRBDWW4ZNX6TLF4QMYIBTN3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25GCW6BTJJSXFARTQ7A4Z5HA7TCIKX7WD6CEJYN67JZIZYQHFJFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LV5KGRCBBCR4VHZIDHRDEHYATXQCV3R6WUD4MM6TFZPLSPLFUYXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GZGXW5FHIJB4A4FVYNEWUJDLNLJZVHO6KIZZ4AJ2GIIEJFXFILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUL27IYQBUH3N2XGNAIJIYFBE2MB7QUMVXMKVDRLWHXBBBZM2IIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2ZFG5YBFHRQKXNHPSO4V5BYD6UCYL5P55MHJI4U4SZ6VJAWIPZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BK6DSOKNMFWVFPH764PC3IYDOVEDF3VE5PYBAZPX4ZS7ILORJAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4N55A6J3RXWSLAHCY27DH6GWKSZVSHGYWJT7D77LXVT6BOMNPDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NFWSDZCV33OQMRAATM537YCJNVK5MEB377LFWF27G27IONSJ2YA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GF3WZWVHX4T4ABPPLIWHALEEBNJUCQMFNWTDDHGCZ6VZ4QVG44BA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXNJQ54CA55ERMDYOKM6JET2SRICRDDF46C32KUBL5452FXI5ZUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WCFJRNHPZ7W5SWEJFQ6ZJYKD7HQRI3DPGD465I5MDGABRTRAJMA/main.js"
            ]
        },
        "DeletePerformanceAnalysisReport": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceType",
                    "Identifier",
                    "AnalysisReportId"
                ],
                "members": {
                    "ServiceType": {},
                    "Identifier": {},
                    "AnalysisReportId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6XHSE5VWX3T2RPLBIAXADEUETNZ43IKT72CEGYAHN6ZRAXXGSBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6TPFYA3PEGDMCDW7KXHXY5CJ7RH7AXWYI2Z4KKUZ6JCHWCR5PQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DZ2U6F5MEPZ4PZUQYAFLYYK2FUAPWLVPEVWZQDZVLO3FVXIPACQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTJ2YMDUUF2C3CZJKTSAFTXYXNJYQNOQMKB2EDWLTGZ3U4SRPRXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V43VOPFGYKUMO2GBNRG6GSHZ6SWGLGNOHZ65FOFBALF6GDNOTDGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUKTU6NFHEWOF4GRPLCRICLFATBSJQVLP3YBRYFJ33IGO3S5YJOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2NMJUXNRB7ZZ3GET5VUX6YY3345OL3WUPK747DR3CI5UDMEANZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZO6RHO26VHHUMDRQGYM5HUDSKGBE3RZTDZJ7YD3T2GICPUSZCKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JG7VMOLQ5XPFXC2J3L74LRSVTQAAECLOFUJIW4VZBAGCFUZ67ZOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNDRJOPS5T4HVTRLXTYRZZHFSNXCEVCKXOJ2YP67RQNUSY5RRMCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q27Y5ARBI3N4A4637MUZ4LXWFMQM5DIOV3PKVFDTF47XGJGK6DFQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXJRTCAPNOKMBQ2V6H2FFNETN27A25BDAOAY2T6TDEIGXJUJVLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z34GXOAA6NDA2L4OLV3SS7U27C3NCAF2AMBOGO3FSATG2AGPVAKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js"
            ]
        },
        "ListTagsForResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceType",
                    "ResourceARN"
                ],
                "members": {
                    "ServiceType": {},
                    "ResourceARN": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Tags": {
                        "shape": "S5"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6XHSE5VWX3T2RPLBIAXADEUETNZ43IKT72CEGYAHN6ZRAXXGSBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6TPFYA3PEGDMCDW7KXHXY5CJ7RH7AXWYI2Z4KKUZ6JCHWCR5PQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DZ2U6F5MEPZ4PZUQYAFLYYK2FUAPWLVPEVWZQDZVLO3FVXIPACQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTJ2YMDUUF2C3CZJKTSAFTXYXNJYQNOQMKB2EDWLTGZ3U4SRPRXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V43VOPFGYKUMO2GBNRG6GSHZ6SWGLGNOHZ65FOFBALF6GDNOTDGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUKTU6NFHEWOF4GRPLCRICLFATBSJQVLP3YBRYFJ33IGO3S5YJOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2NMJUXNRB7ZZ3GET5VUX6YY3345OL3WUPK747DR3CI5UDMEANZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZO6RHO26VHHUMDRQGYM5HUDSKGBE3RZTDZJ7YD3T2GICPUSZCKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JG7VMOLQ5XPFXC2J3L74LRSVTQAAECLOFUJIW4VZBAGCFUZ67ZOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNDRJOPS5T4HVTRLXTYRZZHFSNXCEVCKXOJ2YP67RQNUSY5RRMCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q27Y5ARBI3N4A4637MUZ4LXWFMQM5DIOV3PKVFDTF47XGJGK6DFQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXJRTCAPNOKMBQ2V6H2FFNETN27A25BDAOAY2T6TDEIGXJUJVLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z34GXOAA6NDA2L4OLV3SS7U27C3NCAF2AMBOGO3FSATG2AGPVAKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js"
            ]
        },
        "TagResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceType",
                    "ResourceARN",
                    "Tags"
                ],
                "members": {
                    "ServiceType": {},
                    "ResourceARN": {},
                    "Tags": {
                        "shape": "S5"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6XHSE5VWX3T2RPLBIAXADEUETNZ43IKT72CEGYAHN6ZRAXXGSBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6TPFYA3PEGDMCDW7KXHXY5CJ7RH7AXWYI2Z4KKUZ6JCHWCR5PQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DZ2U6F5MEPZ4PZUQYAFLYYK2FUAPWLVPEVWZQDZVLO3FVXIPACQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTJ2YMDUUF2C3CZJKTSAFTXYXNJYQNOQMKB2EDWLTGZ3U4SRPRXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V43VOPFGYKUMO2GBNRG6GSHZ6SWGLGNOHZ65FOFBALF6GDNOTDGA/vendors.js",
[...]
