{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-02-27",
        "endpointPrefix": "pi",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceAbbreviation": "AWS PI",
        "serviceFullName": "AWS Performance Insights",
        "serviceId": "PI",
        "signatureVersion": "v4",
        "signingName": "pi",
        "targetPrefix": "PerformanceInsightsv20180227",
        "uid": "pi-2018-02-27",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/75TSZFGA67IOSRC45DKF4IP4KDKG4XSSEBIHTSYYUUHMR6SA6OFA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WWMFXMRCTRFMXC354M23DQ2P6C6SPGYJ7KZLKSWRFAHU5FVLNXFA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/C5HD2277VGYKD3EJ76WYJUG6FP6AVYKAVGXYPI7UEIVTTVNA46BQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IF7KLRDHYC2XYPES7JK5FD44FTWLW7XSZOPKMBWPYPIQSLC2ANVQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/W74XJRJVCMXZWHGEVOVG4I22TJQUDGVBPY5CGXTS3VCHGMLOSYSQ/748.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OGFKRAEOMEVNNWCERANK2JGZHKH7HTYHJGX54JR5S3QU77PM3PBA/748.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BV4USZZWWKAEN3DATSGCSYXYIW67LWHE22RQEFFPKA2OHV4RWZSQ/748.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PP35CMMO3HDAL4DQTSZD2GQQWJQ4L444LYRY5XG3Q5YNV4M47WEQ/748.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/36GARLBI7YJAUEA324D5WT72APEI6LZXIPYBXPH6EBRHJBR6736A/748.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AJ7TKQVF4Y7UK6X7SNXREJGABONAAHNY6GVBTEN4AKAYHDFSBA7A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FJFSNDHLLVYBF25IOWMPHURJLQYOBAFD73TBEQ3MMKDFH3FINWRA/748.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JMWOIETUBCQTU2UMYHIBI7Z7RJNUXYQJ3R34ER24IFA3IJIRSXDQ/748.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/N76ISRLRT4QEIB5MYPT2OCSU72PENI36HANWRUNCK5CSVJ2KNXRQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BVTPZ4HX23GXJY4YBJMIC7G4DZFPGPT3RG556QSGJPU3XPKCGDTQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/26DBZ6YZIL6LJNZEVZGAQ3RLXPC2MPNEV6F7UYQATZU4YCE2VTEA/748.js"
        ]
    },
    "operations": {
        "CreatePerformanceAnalysisReport": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceType",
                    "Identifier",
                    "StartTime",
                    "EndTime"
                ],
                "members": {
                    "ServiceType": {},
                    "Identifier": {},
                    "StartTime": {
                        "type": "timestamp"
                    },
                    "EndTime": {
                        "type": "timestamp"
                    },
                    "Tags": {
                        "shape": "S5"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AnalysisReportId": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DescribeDimensionKeys": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceType",
                    "Identifier",
                    "StartTime",
                    "EndTime",
                    "Metric",
                    "GroupBy"
                ],
                "members": {
                    "ServiceType": {},
                    "Identifier": {},
                    "StartTime": {
                        "type": "timestamp"
                    },
                    "EndTime": {
                        "type": "timestamp"
                    },
                    "Metric": {},
                    "PeriodInSeconds": {
                        "type": "integer"
                    },
                    "GroupBy": {
                        "shape": "S9"
                    },
                    "AdditionalMetrics": {
                        "type": "list",
                        "member": {}
                    },
                    "PartitionBy": {
                        "shape": "S9"
                    },
                    "Filter": {
                        "shape": "Sd"
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {},
                    "GroupMetrics": {
                        "internalonly": true,
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AlignedStartTime": {
                        "type": "timestamp"
                    },
                    "AlignedEndTime": {
                        "type": "timestamp"
                    },
                    "PartitionKeys": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Dimensions"
                            ],
                            "members": {
                                "Dimensions": {
                                    "shape": "Sj"
                                }
                            }
                        }
                    },
                    "Keys": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Dimensions": {
                                    "shape": "Sj"
                                },
                                "Total": {
                                    "type": "double"
                                },
                                "AdditionalMetrics": {
                                    "type": "map",
                                    "key": {},
                                    "value": {
                                        "type": "double"
                                    }
                                },
                                "Partitions": {
                                    "type": "list",
                                    "member": {
                                        "type": "double"
                                    }
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWMFXMRCTRFMXC354M23DQ2P6C6SPGYJ7KZLKSWRFAHU5FVLNXFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5HD2277VGYKD3EJ76WYJUG6FP6AVYKAVGXYPI7UEIVTTVNA46BQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IF7KLRDHYC2XYPES7JK5FD44FTWLW7XSZOPKMBWPYPIQSLC2ANVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W74XJRJVCMXZWHGEVOVG4I22TJQUDGVBPY5CGXTS3VCHGMLOSYSQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGFKRAEOMEVNNWCERANK2JGZHKH7HTYHJGX54JR5S3QU77PM3PBA/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BV4USZZWWKAEN3DATSGCSYXYIW67LWHE22RQEFFPKA2OHV4RWZSQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PP35CMMO3HDAL4DQTSZD2GQQWJQ4L444LYRY5XG3Q5YNV4M47WEQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/36GARLBI7YJAUEA324D5WT72APEI6LZXIPYBXPH6EBRHJBR6736A/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ7TKQVF4Y7UK6X7SNXREJGABONAAHNY6GVBTEN4AKAYHDFSBA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJFSNDHLLVYBF25IOWMPHURJLQYOBAFD73TBEQ3MMKDFH3FINWRA/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMWOIETUBCQTU2UMYHIBI7Z7RJNUXYQJ3R34ER24IFA3IJIRSXDQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N76ISRLRT4QEIB5MYPT2OCSU72PENI36HANWRUNCK5CSVJ2KNXRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVTPZ4HX23GXJY4YBJMIC7G4DZFPGPT3RG556QSGJPU3XPKCGDTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBZ6YZIL6LJNZEVZGAQ3RLXPC2MPNEV6F7UYQATZU4YCE2VTEA/748.js"
            ]
        },
        "GetDimensionKeyDetails": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceType",
                    "Identifier",
                    "Group",
                    "GroupIdentifier"
                ],
                "members": {
                    "ServiceType": {},
                    "Identifier": {},
                    "Group": {},
                    "GroupIdentifier": {},
                    "RequestedDimensions": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Dimensions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Value": {},
                                "Dimension": {},
                                "Status": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/75YFAJXMCOUH3VUT3VXVMPLADMBKZLFH5UNOLYLIRRWKOMBSQSQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBHZMGDQNZCZPYEIG3WCNGGAEERHOECZXDQDX77T6MAEAMQ2UBFA/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEXAWC3ICJLFWPADRWYCJZHV3QZ7DDE5T4DRDOHEA2YHK7FJ3LTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/75TSZFGA67IOSRC45DKF4IP4KDKG4XSSEBIHTSYYUUHMR6SA6OFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWMFXMRCTRFMXC354M23DQ2P6C6SPGYJ7KZLKSWRFAHU5FVLNXFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5HD2277VGYKD3EJ76WYJUG6FP6AVYKAVGXYPI7UEIVTTVNA46BQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IF7KLRDHYC2XYPES7JK5FD44FTWLW7XSZOPKMBWPYPIQSLC2ANVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W74XJRJVCMXZWHGEVOVG4I22TJQUDGVBPY5CGXTS3VCHGMLOSYSQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGFKRAEOMEVNNWCERANK2JGZHKH7HTYHJGX54JR5S3QU77PM3PBA/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BV4USZZWWKAEN3DATSGCSYXYIW67LWHE22RQEFFPKA2OHV4RWZSQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PP35CMMO3HDAL4DQTSZD2GQQWJQ4L444LYRY5XG3Q5YNV4M47WEQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/36GARLBI7YJAUEA324D5WT72APEI6LZXIPYBXPH6EBRHJBR6736A/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ7TKQVF4Y7UK6X7SNXREJGABONAAHNY6GVBTEN4AKAYHDFSBA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJFSNDHLLVYBF25IOWMPHURJLQYOBAFD73TBEQ3MMKDFH3FINWRA/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMWOIETUBCQTU2UMYHIBI7Z7RJNUXYQJ3R34ER24IFA3IJIRSXDQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N76ISRLRT4QEIB5MYPT2OCSU72PENI36HANWRUNCK5CSVJ2KNXRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVTPZ4HX23GXJY4YBJMIC7G4DZFPGPT3RG556QSGJPU3XPKCGDTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBZ6YZIL6LJNZEVZGAQ3RLXPC2MPNEV6F7UYQATZU4YCE2VTEA/748.js"
            ]
        },
        "GetPerformanceAnalysisReport": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceType",
                    "Identifier",
                    "AnalysisReportId"
                ],
                "members": {
                    "ServiceType": {},
                    "Identifier": {},
                    "AnalysisReportId": {},
                    "TextFormat": {},
                    "AcceptLanguage": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AnalysisReport": {
                        "type": "structure",
                        "required": [
                            "AnalysisReportId"
                        ],
                        "members": {
                            "AnalysisReportId": {},
                            "Identifier": {},
                            "ServiceType": {},
                            "CreateTime": {
                                "type": "timestamp"
                            },
                            "StartTime": {
                                "type": "timestamp"
                            },
                            "EndTime": {
                                "type": "timestamp"
                            },
                            "Status": {},
                            "Insights": {
                                "shape": "S12"
                            }
                        }
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "GetResourceMetadata": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceType",
                    "Identifier"
                ],
                "members": {
                    "ServiceType": {},
                    "Identifier": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Identifier": {},
                    "Features": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "type": "structure",
                            "members": {
                                "Status": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ER7OLCRICE77KVAGZKYJLU34TIHJXCP6IIKHLAGWLGPTJF4S2E3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EN4M26W65GYRXEEFJKWTXSMRJ6EWHCA25H5YGBGLFMHCQIT4FMGQ/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFG2XOIP6D3OCTGVEHIDJBY7ZTJCAETYUSTYD7UKBRLJ5O2BQVAA/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/75YFAJXMCOUH3VUT3VXVMPLADMBKZLFH5UNOLYLIRRWKOMBSQSQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBHZMGDQNZCZPYEIG3WCNGGAEERHOECZXDQDX77T6MAEAMQ2UBFA/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEXAWC3ICJLFWPADRWYCJZHV3QZ7DDE5T4DRDOHEA2YHK7FJ3LTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/75TSZFGA67IOSRC45DKF4IP4KDKG4XSSEBIHTSYYUUHMR6SA6OFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWMFXMRCTRFMXC354M23DQ2P6C6SPGYJ7KZLKSWRFAHU5FVLNXFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IF7KLRDHYC2XYPES7JK5FD44FTWLW7XSZOPKMBWPYPIQSLC2ANVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W74XJRJVCMXZWHGEVOVG4I22TJQUDGVBPY5CGXTS3VCHGMLOSYSQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGFKRAEOMEVNNWCERANK2JGZHKH7HTYHJGX54JR5S3QU77PM3PBA/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BV4USZZWWKAEN3DATSGCSYXYIW67LWHE22RQEFFPKA2OHV4RWZSQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PP35CMMO3HDAL4DQTSZD2GQQWJQ4L444LYRY5XG3Q5YNV4M47WEQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/36GARLBI7YJAUEA324D5WT72APEI6LZXIPYBXPH6EBRHJBR6736A/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ7TKQVF4Y7UK6X7SNXREJGABONAAHNY6GVBTEN4AKAYHDFSBA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJFSNDHLLVYBF25IOWMPHURJLQYOBAFD73TBEQ3MMKDFH3FINWRA/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMWOIETUBCQTU2UMYHIBI7Z7RJNUXYQJ3R34ER24IFA3IJIRSXDQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N76ISRLRT4QEIB5MYPT2OCSU72PENI36HANWRUNCK5CSVJ2KNXRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVTPZ4HX23GXJY4YBJMIC7G4DZFPGPT3RG556QSGJPU3XPKCGDTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBZ6YZIL6LJNZEVZGAQ3RLXPC2MPNEV6F7UYQATZU4YCE2VTEA/748.js"
            ]
        },
        "GetResourceMetrics": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceType",
                    "Identifier",
                    "MetricQueries",
                    "StartTime",
                    "EndTime"
                ],
                "members": {
                    "ServiceType": {},
                    "Identifier": {},
                    "MetricQueries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Metric"
                            ],
                            "members": {
                                "Metric": {},
                                "GroupBy": {
                                    "shape": "S9"
                                },
                                "Filter": {
                                    "shape": "Sd"
                                }
                            }
                        }
                    },
                    "StartTime": {
                        "type": "timestamp"
                    },
                    "EndTime": {
                        "type": "timestamp"
                    },
                    "PeriodInSeconds": {
                        "type": "integer"
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {},
                    "PeriodAlignment": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AlignedStartTime": {
                        "type": "timestamp"
                    },
                    "AlignedEndTime": {
                        "type": "timestamp"
                    },
                    "Identifier": {},
                    "MetricList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Key": {
                                    "type": "structure",
                                    "required": [
                                        "Metric"
                                    ],
                                    "members": {
                                        "Metric": {},
                                        "Dimensions": {
                                            "shape": "Sj"
                                        }
                                    }
                                },
                                "DataPoints": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "required": [
                                            "Timestamp",
                                            "Value"
                                        ],
                                        "members": {
                                            "Timestamp": {
                                                "type": "timestamp"
                                            },
                                            "Value": {
                                                "type": "double"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWMFXMRCTRFMXC354M23DQ2P6C6SPGYJ7KZLKSWRFAHU5FVLNXFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5HD2277VGYKD3EJ76WYJUG6FP6AVYKAVGXYPI7UEIVTTVNA46BQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IF7KLRDHYC2XYPES7JK5FD44FTWLW7XSZOPKMBWPYPIQSLC2ANVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W74XJRJVCMXZWHGEVOVG4I22TJQUDGVBPY5CGXTS3VCHGMLOSYSQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGFKRAEOMEVNNWCERANK2JGZHKH7HTYHJGX54JR5S3QU77PM3PBA/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BV4USZZWWKAEN3DATSGCSYXYIW67LWHE22RQEFFPKA2OHV4RWZSQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PP35CMMO3HDAL4DQTSZD2GQQWJQ4L444LYRY5XG3Q5YNV4M47WEQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/36GARLBI7YJAUEA324D5WT72APEI6LZXIPYBXPH6EBRHJBR6736A/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ7TKQVF4Y7UK6X7SNXREJGABONAAHNY6GVBTEN4AKAYHDFSBA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJFSNDHLLVYBF25IOWMPHURJLQYOBAFD73TBEQ3MMKDFH3FINWRA/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMWOIETUBCQTU2UMYHIBI7Z7RJNUXYQJ3R34ER24IFA3IJIRSXDQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N76ISRLRT4QEIB5MYPT2OCSU72PENI36HANWRUNCK5CSVJ2KNXRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVTPZ4HX23GXJY4YBJMIC7G4DZFPGPT3RG556QSGJPU3XPKCGDTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBZ6YZIL6LJNZEVZGAQ3RLXPC2MPNEV6F7UYQATZU4YCE2VTEA/748.js"
            ]
        },
        "ListAvailableResourceDimensions": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceType",
                    "Identifier",
                    "Metrics"
                ],
                "members": {
                    "ServiceType": {},
                    "Identifier": {},
                    "Metrics": {
                        "type": "list",
                        "member": {}
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {},
                    "AuthorizedActions": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "MetricDimensions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Metric": {},
                                "Groups": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "Group": {},
                                            "Dimensions": {
                                                "type": "list",
                                                "member": {
                                                    "type": "structure",
                                                    "members": {
                                                        "Identifier": {}
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ER7OLCRICE77KVAGZKYJLU34TIHJXCP6IIKHLAGWLGPTJF4S2E3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EN4M26W65GYRXEEFJKWTXSMRJ6EWHCA25H5YGBGLFMHCQIT4FMGQ/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFG2XOIP6D3OCTGVEHIDJBY7ZTJCAETYUSTYD7UKBRLJ5O2BQVAA/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/75YFAJXMCOUH3VUT3VXVMPLADMBKZLFH5UNOLYLIRRWKOMBSQSQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBHZMGDQNZCZPYEIG3WCNGGAEERHOECZXDQDX77T6MAEAMQ2UBFA/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEXAWC3ICJLFWPADRWYCJZHV3QZ7DDE5T4DRDOHEA2YHK7FJ3LTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/75TSZFGA67IOSRC45DKF4IP4KDKG4XSSEBIHTSYYUUHMR6SA6OFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWMFXMRCTRFMXC354M23DQ2P6C6SPGYJ7KZLKSWRFAHU5FVLNXFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IF7KLRDHYC2XYPES7JK5FD44FTWLW7XSZOPKMBWPYPIQSLC2ANVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W74XJRJVCMXZWHGEVOVG4I22TJQUDGVBPY5CGXTS3VCHGMLOSYSQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGFKRAEOMEVNNWCERANK2JGZHKH7HTYHJGX54JR5S3QU77PM3PBA/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BV4USZZWWKAEN3DATSGCSYXYIW67LWHE22RQEFFPKA2OHV4RWZSQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PP35CMMO3HDAL4DQTSZD2GQQWJQ4L444LYRY5XG3Q5YNV4M47WEQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/36GARLBI7YJAUEA324D5WT72APEI6LZXIPYBXPH6EBRHJBR6736A/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ7TKQVF4Y7UK6X7SNXREJGABONAAHNY6GVBTEN4AKAYHDFSBA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJFSNDHLLVYBF25IOWMPHURJLQYOBAFD73TBEQ3MMKDFH3FINWRA/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMWOIETUBCQTU2UMYHIBI7Z7RJNUXYQJ3R34ER24IFA3IJIRSXDQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N76ISRLRT4QEIB5MYPT2OCSU72PENI36HANWRUNCK5CSVJ2KNXRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVTPZ4HX23GXJY4YBJMIC7G4DZFPGPT3RG556QSGJPU3XPKCGDTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBZ6YZIL6LJNZEVZGAQ3RLXPC2MPNEV6F7UYQATZU4YCE2VTEA/748.js"
            ]
        },
        "ListAvailableResourceMetrics": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceType",
                    "Identifier",
                    "MetricTypes"
                ],
                "members": {
                    "ServiceType": {},
                    "Identifier": {},
                    "MetricTypes": {
                        "type": "list",
                        "member": {}
                    },
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Metrics": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Metric": {},
                                "Description": {},
                                "Unit": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ER7OLCRICE77KVAGZKYJLU34TIHJXCP6IIKHLAGWLGPTJF4S2E3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EN4M26W65GYRXEEFJKWTXSMRJ6EWHCA25H5YGBGLFMHCQIT4FMGQ/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFG2XOIP6D3OCTGVEHIDJBY7ZTJCAETYUSTYD7UKBRLJ5O2BQVAA/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/75YFAJXMCOUH3VUT3VXVMPLADMBKZLFH5UNOLYLIRRWKOMBSQSQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBHZMGDQNZCZPYEIG3WCNGGAEERHOECZXDQDX77T6MAEAMQ2UBFA/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEXAWC3ICJLFWPADRWYCJZHV3QZ7DDE5T4DRDOHEA2YHK7FJ3LTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/75TSZFGA67IOSRC45DKF4IP4KDKG4XSSEBIHTSYYUUHMR6SA6OFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWMFXMRCTRFMXC354M23DQ2P6C6SPGYJ7KZLKSWRFAHU5FVLNXFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IF7KLRDHYC2XYPES7JK5FD44FTWLW7XSZOPKMBWPYPIQSLC2ANVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W74XJRJVCMXZWHGEVOVG4I22TJQUDGVBPY5CGXTS3VCHGMLOSYSQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGFKRAEOMEVNNWCERANK2JGZHKH7HTYHJGX54JR5S3QU77PM3PBA/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BV4USZZWWKAEN3DATSGCSYXYIW67LWHE22RQEFFPKA2OHV4RWZSQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PP35CMMO3HDAL4DQTSZD2GQQWJQ4L444LYRY5XG3Q5YNV4M47WEQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/36GARLBI7YJAUEA324D5WT72APEI6LZXIPYBXPH6EBRHJBR6736A/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ7TKQVF4Y7UK6X7SNXREJGABONAAHNY6GVBTEN4AKAYHDFSBA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJFSNDHLLVYBF25IOWMPHURJLQYOBAFD73TBEQ3MMKDFH3FINWRA/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMWOIETUBCQTU2UMYHIBI7Z7RJNUXYQJ3R34ER24IFA3IJIRSXDQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N76ISRLRT4QEIB5MYPT2OCSU72PENI36HANWRUNCK5CSVJ2KNXRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVTPZ4HX23GXJY4YBJMIC7G4DZFPGPT3RG556QSGJPU3XPKCGDTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBZ6YZIL6LJNZEVZGAQ3RLXPC2MPNEV6F7UYQATZU4YCE2VTEA/748.js"
            ]
        },
        "ListPerformanceAnalysisReports": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceType",
                    "Identifier"
                ],
                "members": {
                    "ServiceType": {},
                    "Identifier": {},
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "ListTags": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AnalysisReports": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "AnalysisReportId": {},
                                "CreationTime": {
                                    "type": "timestamp"
                                },
                                "StartTime": {
                                    "type": "timestamp"
                                },
                                "EndTime": {
                                    "type": "timestamp"
                                },
                                "Status": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "BatchGetResourceMetrics": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceType",
                    "Identifiers",
                    "MetricQueries",
                    "StartTime",
                    "EndTime"
                ],
                "members": {
                    "ServiceType": {},
                    "Identifiers": {
                        "shape": "S3"
                    },
                    "MetricQueries": {
                        "shape": "S5"
                    },
                    "StartTime": {
                        "type": "timestamp"
                    },
                    "EndTime": {
                        "type": "timestamp"
                    },
                    "PeriodInSeconds": {
                        "type": "integer"
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AlignedStartTime": {
                        "type": "timestamp"
                    },
                    "AlignedEndTime": {
                        "type": "timestamp"
                    },
                    "Identifiers": {
                        "shape": "S3"
                    },
                    "MetricList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Key": {
                                    "shape": "Sh"
                                },
                                "DataPoints": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "required": [
                                            "Timestamp",
                                            "Values"
                                        ],
                                        "members": {
                                            "Timestamp": {
                                                "type": "timestamp"
                                            },
                                            "Values": {
                                                "shape": "Sm"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "Errors": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Identifier": {},
                                "Code": {},
                                "Message": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DTHMYF6YDBPCNPH5V2ZAUADHG3IIO4RPLTOVHUNMIVPPAMARHMA/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IUNLGFSM47BISABSWY5HUHORZZ4VJZSH64QQXCP3EWCUQ2TMXBKA/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6L3NAOEZILDXFSL4J7HCTRTSTYS63OXQ6COYV6Y5A2BGOAGX2NA/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B54BDU74HR4SWTEMZY77JKAFPGM6OFSUAM7FRJYE2HS3UY7OYULA/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YU2LPMF32AQDNO2XCQPIBSZK6AGJIDSHN2NF7IPIF5ST53LO3M7A/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPNKVQU5TEWWUKUHL6PDJA2DDSJL6246LFOL2KSFQ2A2NLN7ACPQ/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVUD23EWE2IEQJIRP3B4VY5MNAEVEQIF434WPCH64XWO75B7YVXQ/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VV336KUKHNC2YFHNKG65EGDMAK7SKKS5F3T4QIHHWJBMZQAWTJ6Q/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V36IZAQTQUEXVZU3ALCU3NONNH5NDXFAJ5OKVW5AM3CBQ3IYUL7A/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDVQEGIBPLZEAFDGONMWZ6GG73NUXQKQHYNHLIG233W7VRUTDBTQ/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3I4J2MP5647DR6L6FB5CIGIP5ZTUPRXWEQWAH2JZXEFA3B2PPJA/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TAES2I5YFFPPQDPEWCTGC7BA52ES7TV5H5YSIAYFOCG45JWGPX3Q/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YAOOR464WX3RBEV7VUJOX24HBMCIEX6RKC2G5KJ4SNQHA4YBKQA/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDGEG5SYPLF35VKWAOLKZE6OPUX7VMPJHDFJEAREZM3TPLRQMSIQ/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EN4M26W65GYRXEEFJKWTXSMRJ6EWHCA25H5YGBGLFMHCQIT4FMGQ/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFG2XOIP6D3OCTGVEHIDJBY7ZTJCAETYUSTYD7UKBRLJ5O2BQVAA/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBHZMGDQNZCZPYEIG3WCNGGAEERHOECZXDQDX77T6MAEAMQ2UBFA/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W74XJRJVCMXZWHGEVOVG4I22TJQUDGVBPY5CGXTS3VCHGMLOSYSQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGFKRAEOMEVNNWCERANK2JGZHKH7HTYHJGX54JR5S3QU77PM3PBA/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BV4USZZWWKAEN3DATSGCSYXYIW67LWHE22RQEFFPKA2OHV4RWZSQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PP35CMMO3HDAL4DQTSZD2GQQWJQ4L444LYRY5XG3Q5YNV4M47WEQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/36GARLBI7YJAUEA324D5WT72APEI6LZXIPYBXPH6EBRHJBR6736A/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJFSNDHLLVYBF25IOWMPHURJLQYOBAFD73TBEQ3MMKDFH3FINWRA/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMWOIETUBCQTU2UMYHIBI7Z7RJNUXYQJ3R34ER24IFA3IJIRSXDQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBZ6YZIL6LJNZEVZGAQ3RLXPC2MPNEV6F7UYQATZU4YCE2VTEA/748.js"
            ]
        },
        "CheckUserPermission": {
            "input": {
                "type": "structure",
                "members": {
                    "ServiceType": {},
                    "Identifier": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Result": {},
                    "Details": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DTHMYF6YDBPCNPH5V2ZAUADHG3IIO4RPLTOVHUNMIVPPAMARHMA/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IUNLGFSM47BISABSWY5HUHORZZ4VJZSH64QQXCP3EWCUQ2TMXBKA/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6L3NAOEZILDXFSL4J7HCTRTSTYS63OXQ6COYV6Y5A2BGOAGX2NA/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B54BDU74HR4SWTEMZY77JKAFPGM6OFSUAM7FRJYE2HS3UY7OYULA/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YU2LPMF32AQDNO2XCQPIBSZK6AGJIDSHN2NF7IPIF5ST53LO3M7A/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPNKVQU5TEWWUKUHL6PDJA2DDSJL6246LFOL2KSFQ2A2NLN7ACPQ/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVUD23EWE2IEQJIRP3B4VY5MNAEVEQIF434WPCH64XWO75B7YVXQ/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VV336KUKHNC2YFHNKG65EGDMAK7SKKS5F3T4QIHHWJBMZQAWTJ6Q/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V36IZAQTQUEXVZU3ALCU3NONNH5NDXFAJ5OKVW5AM3CBQ3IYUL7A/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDVQEGIBPLZEAFDGONMWZ6GG73NUXQKQHYNHLIG233W7VRUTDBTQ/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3I4J2MP5647DR6L6FB5CIGIP5ZTUPRXWEQWAH2JZXEFA3B2PPJA/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TAES2I5YFFPPQDPEWCTGC7BA52ES7TV5H5YSIAYFOCG45JWGPX3Q/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YAOOR464WX3RBEV7VUJOX24HBMCIEX6RKC2G5KJ4SNQHA4YBKQA/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDGEG5SYPLF35VKWAOLKZE6OPUX7VMPJHDFJEAREZM3TPLRQMSIQ/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EN4M26W65GYRXEEFJKWTXSMRJ6EWHCA25H5YGBGLFMHCQIT4FMGQ/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFG2XOIP6D3OCTGVEHIDJBY7ZTJCAETYUSTYD7UKBRLJ5O2BQVAA/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBHZMGDQNZCZPYEIG3WCNGGAEERHOECZXDQDX77T6MAEAMQ2UBFA/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W74XJRJVCMXZWHGEVOVG4I22TJQUDGVBPY5CGXTS3VCHGMLOSYSQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGFKRAEOMEVNNWCERANK2JGZHKH7HTYHJGX54JR5S3QU77PM3PBA/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BV4USZZWWKAEN3DATSGCSYXYIW67LWHE22RQEFFPKA2OHV4RWZSQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PP35CMMO3HDAL4DQTSZD2GQQWJQ4L444LYRY5XG3Q5YNV4M47WEQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/36GARLBI7YJAUEA324D5WT72APEI6LZXIPYBXPH6EBRHJBR6736A/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJFSNDHLLVYBF25IOWMPHURJLQYOBAFD73TBEQ3MMKDFH3FINWRA/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMWOIETUBCQTU2UMYHIBI7Z7RJNUXYQJ3R34ER24IFA3IJIRSXDQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBZ6YZIL6LJNZEVZGAQ3RLXPC2MPNEV6F7UYQATZU4YCE2VTEA/748.js"
            ]
        },
        "DescribeCounterMetrics": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceType"
                ],
                "members": {
                    "ServiceType": {},
                    "Identifier": {},
                    "Engine": {
                        "type": "structure",
                        "required": [
                            "Name"
                        ],
                        "members": {
                            "Name": {},
                            "Version": {}
                        }
                    },
                    "Metrics": {
                        "type": "list",
                        "member": {}
                    },
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Metrics": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Metric": {},
                                "Description": {},
                                "Unit": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DTHMYF6YDBPCNPH5V2ZAUADHG3IIO4RPLTOVHUNMIVPPAMARHMA/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IUNLGFSM47BISABSWY5HUHORZZ4VJZSH64QQXCP3EWCUQ2TMXBKA/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6L3NAOEZILDXFSL4J7HCTRTSTYS63OXQ6COYV6Y5A2BGOAGX2NA/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B54BDU74HR4SWTEMZY77JKAFPGM6OFSUAM7FRJYE2HS3UY7OYULA/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YU2LPMF32AQDNO2XCQPIBSZK6AGJIDSHN2NF7IPIF5ST53LO3M7A/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPNKVQU5TEWWUKUHL6PDJA2DDSJL6246LFOL2KSFQ2A2NLN7ACPQ/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVUD23EWE2IEQJIRP3B4VY5MNAEVEQIF434WPCH64XWO75B7YVXQ/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VV336KUKHNC2YFHNKG65EGDMAK7SKKS5F3T4QIHHWJBMZQAWTJ6Q/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V36IZAQTQUEXVZU3ALCU3NONNH5NDXFAJ5OKVW5AM3CBQ3IYUL7A/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDVQEGIBPLZEAFDGONMWZ6GG73NUXQKQHYNHLIG233W7VRUTDBTQ/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3I4J2MP5647DR6L6FB5CIGIP5ZTUPRXWEQWAH2JZXEFA3B2PPJA/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TAES2I5YFFPPQDPEWCTGC7BA52ES7TV5H5YSIAYFOCG45JWGPX3Q/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YAOOR464WX3RBEV7VUJOX24HBMCIEX6RKC2G5KJ4SNQHA4YBKQA/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDGEG5SYPLF35VKWAOLKZE6OPUX7VMPJHDFJEAREZM3TPLRQMSIQ/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EN4M26W65GYRXEEFJKWTXSMRJ6EWHCA25H5YGBGLFMHCQIT4FMGQ/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFG2XOIP6D3OCTGVEHIDJBY7ZTJCAETYUSTYD7UKBRLJ5O2BQVAA/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBHZMGDQNZCZPYEIG3WCNGGAEERHOECZXDQDX77T6MAEAMQ2UBFA/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W74XJRJVCMXZWHGEVOVG4I22TJQUDGVBPY5CGXTS3VCHGMLOSYSQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGFKRAEOMEVNNWCERANK2JGZHKH7HTYHJGX54JR5S3QU77PM3PBA/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BV4USZZWWKAEN3DATSGCSYXYIW67LWHE22RQEFFPKA2OHV4RWZSQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PP35CMMO3HDAL4DQTSZD2GQQWJQ4L444LYRY5XG3Q5YNV4M47WEQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/36GARLBI7YJAUEA324D5WT72APEI6LZXIPYBXPH6EBRHJBR6736A/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJFSNDHLLVYBF25IOWMPHURJLQYOBAFD73TBEQ3MMKDFH3FINWRA/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMWOIETUBCQTU2UMYHIBI7Z7RJNUXYQJ3R34ER24IFA3IJIRSXDQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBZ6YZIL6LJNZEVZGAQ3RLXPC2MPNEV6F7UYQATZU4YCE2VTEA/748.js"
            ]
        },
        "DescribeDimensions": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceType"
                ],
                "members": {
                    "ServiceType": {},
                    "Identifier": {},
                    "ResourceType": {
                        "type": "structure",
                        "required": [
                            "Name"
                        ],
                        "members": {
                            "Name": {},
                            "Version": {}
                        }
                    },
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Dimensions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Description": {},
                                "Dimension": {},
                                "Group": {},
                                "Name": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DTHMYF6YDBPCNPH5V2ZAUADHG3IIO4RPLTOVHUNMIVPPAMARHMA/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IUNLGFSM47BISABSWY5HUHORZZ4VJZSH64QQXCP3EWCUQ2TMXBKA/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6L3NAOEZILDXFSL4J7HCTRTSTYS63OXQ6COYV6Y5A2BGOAGX2NA/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B54BDU74HR4SWTEMZY77JKAFPGM6OFSUAM7FRJYE2HS3UY7OYULA/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YU2LPMF32AQDNO2XCQPIBSZK6AGJIDSHN2NF7IPIF5ST53LO3M7A/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPNKVQU5TEWWUKUHL6PDJA2DDSJL6246LFOL2KSFQ2A2NLN7ACPQ/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVUD23EWE2IEQJIRP3B4VY5MNAEVEQIF434WPCH64XWO75B7YVXQ/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VV336KUKHNC2YFHNKG65EGDMAK7SKKS5F3T4QIHHWJBMZQAWTJ6Q/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V36IZAQTQUEXVZU3ALCU3NONNH5NDXFAJ5OKVW5AM3CBQ3IYUL7A/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDVQEGIBPLZEAFDGONMWZ6GG73NUXQKQHYNHLIG233W7VRUTDBTQ/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3I4J2MP5647DR6L6FB5CIGIP5ZTUPRXWEQWAH2JZXEFA3B2PPJA/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TAES2I5YFFPPQDPEWCTGC7BA52ES7TV5H5YSIAYFOCG45JWGPX3Q/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YAOOR464WX3RBEV7VUJOX24HBMCIEX6RKC2G5KJ4SNQHA4YBKQA/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDGEG5SYPLF35VKWAOLKZE6OPUX7VMPJHDFJEAREZM3TPLRQMSIQ/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EN4M26W65GYRXEEFJKWTXSMRJ6EWHCA25H5YGBGLFMHCQIT4FMGQ/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFG2XOIP6D3OCTGVEHIDJBY7ZTJCAETYUSTYD7UKBRLJ5O2BQVAA/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBHZMGDQNZCZPYEIG3WCNGGAEERHOECZXDQDX77T6MAEAMQ2UBFA/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W74XJRJVCMXZWHGEVOVG4I22TJQUDGVBPY5CGXTS3VCHGMLOSYSQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGFKRAEOMEVNNWCERANK2JGZHKH7HTYHJGX54JR5S3QU77PM3PBA/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BV4USZZWWKAEN3DATSGCSYXYIW67LWHE22RQEFFPKA2OHV4RWZSQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PP35CMMO3HDAL4DQTSZD2GQQWJQ4L444LYRY5XG3Q5YNV4M47WEQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/36GARLBI7YJAUEA324D5WT72APEI6LZXIPYBXPH6EBRHJBR6736A/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJFSNDHLLVYBF25IOWMPHURJLQYOBAFD73TBEQ3MMKDFH3FINWRA/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMWOIETUBCQTU2UMYHIBI7Z7RJNUXYQJ3R34ER24IFA3IJIRSXDQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBZ6YZIL6LJNZEVZGAQ3RLXPC2MPNEV6F7UYQATZU4YCE2VTEA/748.js"
            ]
        },
        "DescribeInsights": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceType"
                ],
                "members": {
                    "ServiceType": {},
                    "StartTimeRange": {
                        "type": "structure",
                        "members": {
                            "StartTime": {
                                "type": "timestamp"
                            },
                            "EndTime": {
                                "type": "timestamp"
                            }
                        }
                    },
                    "Identifier": {},
                    "InsightIds": {
                        "type": "list",
                        "member": {}
                    },
                    "Status": {},
                    "SeverityList": {
                        "type": "list",
                        "member": {}
                    },
                    "Archived": {
                        "type": "boolean"
                    },
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Insights": {
                        "type": "list",
                        "member": {
                            "shape": "S1s"
                        }
                    },
                    "NextToken": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DTHMYF6YDBPCNPH5V2ZAUADHG3IIO4RPLTOVHUNMIVPPAMARHMA/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IUNLGFSM47BISABSWY5HUHORZZ4VJZSH64QQXCP3EWCUQ2TMXBKA/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6L3NAOEZILDXFSL4J7HCTRTSTYS63OXQ6COYV6Y5A2BGOAGX2NA/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B54BDU74HR4SWTEMZY77JKAFPGM6OFSUAM7FRJYE2HS3UY7OYULA/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YU2LPMF32AQDNO2XCQPIBSZK6AGJIDSHN2NF7IPIF5ST53LO3M7A/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPNKVQU5TEWWUKUHL6PDJA2DDSJL6246LFOL2KSFQ2A2NLN7ACPQ/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVUD23EWE2IEQJIRP3B4VY5MNAEVEQIF434WPCH64XWO75B7YVXQ/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VV336KUKHNC2YFHNKG65EGDMAK7SKKS5F3T4QIHHWJBMZQAWTJ6Q/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V36IZAQTQUEXVZU3ALCU3NONNH5NDXFAJ5OKVW5AM3CBQ3IYUL7A/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDVQEGIBPLZEAFDGONMWZ6GG73NUXQKQHYNHLIG233W7VRUTDBTQ/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3I4J2MP5647DR6L6FB5CIGIP5ZTUPRXWEQWAH2JZXEFA3B2PPJA/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TAES2I5YFFPPQDPEWCTGC7BA52ES7TV5H5YSIAYFOCG45JWGPX3Q/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YAOOR464WX3RBEV7VUJOX24HBMCIEX6RKC2G5KJ4SNQHA4YBKQA/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDGEG5SYPLF35VKWAOLKZE6OPUX7VMPJHDFJEAREZM3TPLRQMSIQ/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EN4M26W65GYRXEEFJKWTXSMRJ6EWHCA25H5YGBGLFMHCQIT4FMGQ/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFG2XOIP6D3OCTGVEHIDJBY7ZTJCAETYUSTYD7UKBRLJ5O2BQVAA/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBHZMGDQNZCZPYEIG3WCNGGAEERHOECZXDQDX77T6MAEAMQ2UBFA/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W74XJRJVCMXZWHGEVOVG4I22TJQUDGVBPY5CGXTS3VCHGMLOSYSQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGFKRAEOMEVNNWCERANK2JGZHKH7HTYHJGX54JR5S3QU77PM3PBA/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BV4USZZWWKAEN3DATSGCSYXYIW67LWHE22RQEFFPKA2OHV4RWZSQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PP35CMMO3HDAL4DQTSZD2GQQWJQ4L444LYRY5XG3Q5YNV4M47WEQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/36GARLBI7YJAUEA324D5WT72APEI6LZXIPYBXPH6EBRHJBR6736A/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJFSNDHLLVYBF25IOWMPHURJLQYOBAFD73TBEQ3MMKDFH3FINWRA/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMWOIETUBCQTU2UMYHIBI7Z7RJNUXYQJ3R34ER24IFA3IJIRSXDQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBZ6YZIL6LJNZEVZGAQ3RLXPC2MPNEV6F7UYQATZU4YCE2VTEA/748.js"
            ]
        },
        "DescribeRecommendation": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceType",
                    "Identifier",
                    "ExecutionPlanId"
                ],
                "members": {
                    "ServiceType": {},
                    "Identifier": {},
                    "ExecutionPlanId": {},
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Recommendations": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "RecommendationType": {},
                                "DatabaseName": {},
                                "TableName": {},
                                "ColumnNames": {
                                    "shape": "S3"
                                },
                                "IndexNames": {
                                    "shape": "S3"
                                },
                                "NumRowsFilter": {
                                    "type": "long"
                                },
                                "NumRowsTotal": {
                                    "type": "long"
                                },
                                "RawLineNumbers": {
                                    "shape": "S2p"
                                },
                                "StructuredLineNumbers": {
                                    "shape": "S2p"
                                },
                                "CostPercentage": {
                                    "type": "double"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DTHMYF6YDBPCNPH5V2ZAUADHG3IIO4RPLTOVHUNMIVPPAMARHMA/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IUNLGFSM47BISABSWY5HUHORZZ4VJZSH64QQXCP3EWCUQ2TMXBKA/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6L3NAOEZILDXFSL4J7HCTRTSTYS63OXQ6COYV6Y5A2BGOAGX2NA/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B54BDU74HR4SWTEMZY77JKAFPGM6OFSUAM7FRJYE2HS3UY7OYULA/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YU2LPMF32AQDNO2XCQPIBSZK6AGJIDSHN2NF7IPIF5ST53LO3M7A/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPNKVQU5TEWWUKUHL6PDJA2DDSJL6246LFOL2KSFQ2A2NLN7ACPQ/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVUD23EWE2IEQJIRP3B4VY5MNAEVEQIF434WPCH64XWO75B7YVXQ/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VV336KUKHNC2YFHNKG65EGDMAK7SKKS5F3T4QIHHWJBMZQAWTJ6Q/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V36IZAQTQUEXVZU3ALCU3NONNH5NDXFAJ5OKVW5AM3CBQ3IYUL7A/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDVQEGIBPLZEAFDGONMWZ6GG73NUXQKQHYNHLIG233W7VRUTDBTQ/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3I4J2MP5647DR6L6FB5CIGIP5ZTUPRXWEQWAH2JZXEFA3B2PPJA/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TAES2I5YFFPPQDPEWCTGC7BA52ES7TV5H5YSIAYFOCG45JWGPX3Q/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YAOOR464WX3RBEV7VUJOX24HBMCIEX6RKC2G5KJ4SNQHA4YBKQA/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDGEG5SYPLF35VKWAOLKZE6OPUX7VMPJHDFJEAREZM3TPLRQMSIQ/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EN4M26W65GYRXEEFJKWTXSMRJ6EWHCA25H5YGBGLFMHCQIT4FMGQ/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFG2XOIP6D3OCTGVEHIDJBY7ZTJCAETYUSTYD7UKBRLJ5O2BQVAA/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBHZMGDQNZCZPYEIG3WCNGGAEERHOECZXDQDX77T6MAEAMQ2UBFA/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W74XJRJVCMXZWHGEVOVG4I22TJQUDGVBPY5CGXTS3VCHGMLOSYSQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGFKRAEOMEVNNWCERANK2JGZHKH7HTYHJGX54JR5S3QU77PM3PBA/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BV4USZZWWKAEN3DATSGCSYXYIW67LWHE22RQEFFPKA2OHV4RWZSQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PP35CMMO3HDAL4DQTSZD2GQQWJQ4L444LYRY5XG3Q5YNV4M47WEQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/36GARLBI7YJAUEA324D5WT72APEI6LZXIPYBXPH6EBRHJBR6736A/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJFSNDHLLVYBF25IOWMPHURJLQYOBAFD73TBEQ3MMKDFH3FINWRA/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMWOIETUBCQTU2UMYHIBI7Z7RJNUXYQJ3R34ER24IFA3IJIRSXDQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBZ6YZIL6LJNZEVZGAQ3RLXPC2MPNEV6F7UYQATZU4YCE2VTEA/748.js"
            ]
        },
        "DescribeResourceMetrics": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceType",
                    "MetricTypes"
                ],
                "members": {
                    "ServiceType": {},
                    "Identifier": {},
                    "Engine": {
                        "type": "structure",
                        "required": [
                            "Name"
                        ],
                        "members": {
                            "Name": {},
                            "Version": {}
                        }
                    },
                    "MetricTypes": {
                        "shape": "S2s"
                    },
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Metrics": {
                        "shape": "S2u"
                    },
                    "NextToken": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DTHMYF6YDBPCNPH5V2ZAUADHG3IIO4RPLTOVHUNMIVPPAMARHMA/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IUNLGFSM47BISABSWY5HUHORZZ4VJZSH64QQXCP3EWCUQ2TMXBKA/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6L3NAOEZILDXFSL4J7HCTRTSTYS63OXQ6COYV6Y5A2BGOAGX2NA/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B54BDU74HR4SWTEMZY77JKAFPGM6OFSUAM7FRJYE2HS3UY7OYULA/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YU2LPMF32AQDNO2XCQPIBSZK6AGJIDSHN2NF7IPIF5ST53LO3M7A/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPNKVQU5TEWWUKUHL6PDJA2DDSJL6246LFOL2KSFQ2A2NLN7ACPQ/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVUD23EWE2IEQJIRP3B4VY5MNAEVEQIF434WPCH64XWO75B7YVXQ/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VV336KUKHNC2YFHNKG65EGDMAK7SKKS5F3T4QIHHWJBMZQAWTJ6Q/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V36IZAQTQUEXVZU3ALCU3NONNH5NDXFAJ5OKVW5AM3CBQ3IYUL7A/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDVQEGIBPLZEAFDGONMWZ6GG73NUXQKQHYNHLIG233W7VRUTDBTQ/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3I4J2MP5647DR6L6FB5CIGIP5ZTUPRXWEQWAH2JZXEFA3B2PPJA/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TAES2I5YFFPPQDPEWCTGC7BA52ES7TV5H5YSIAYFOCG45JWGPX3Q/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YAOOR464WX3RBEV7VUJOX24HBMCIEX6RKC2G5KJ4SNQHA4YBKQA/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDGEG5SYPLF35VKWAOLKZE6OPUX7VMPJHDFJEAREZM3TPLRQMSIQ/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EN4M26W65GYRXEEFJKWTXSMRJ6EWHCA25H5YGBGLFMHCQIT4FMGQ/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFG2XOIP6D3OCTGVEHIDJBY7ZTJCAETYUSTYD7UKBRLJ5O2BQVAA/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBHZMGDQNZCZPYEIG3WCNGGAEERHOECZXDQDX77T6MAEAMQ2UBFA/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W74XJRJVCMXZWHGEVOVG4I22TJQUDGVBPY5CGXTS3VCHGMLOSYSQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGFKRAEOMEVNNWCERANK2JGZHKH7HTYHJGX54JR5S3QU77PM3PBA/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BV4USZZWWKAEN3DATSGCSYXYIW67LWHE22RQEFFPKA2OHV4RWZSQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PP35CMMO3HDAL4DQTSZD2GQQWJQ4L444LYRY5XG3Q5YNV4M47WEQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/36GARLBI7YJAUEA324D5WT72APEI6LZXIPYBXPH6EBRHJBR6736A/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJFSNDHLLVYBF25IOWMPHURJLQYOBAFD73TBEQ3MMKDFH3FINWRA/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMWOIETUBCQTU2UMYHIBI7Z7RJNUXYQJ3R34ER24IFA3IJIRSXDQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBZ6YZIL6LJNZEVZGAQ3RLXPC2MPNEV6F7UYQATZU4YCE2VTEA/748.js"
            ]
        },
        "DescribeTable": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceType",
                    "Tables"
                ],
                "members": {
                    "ServiceType": {},
                    "Identifier": {},
                    "Tables": {
                        "type": "list",
                        "member": {}
                    },
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Identifier": {},
                    "Tables": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "TableName": {},
                                "Status": {},
                                "Details": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DTHMYF6YDBPCNPH5V2ZAUADHG3IIO4RPLTOVHUNMIVPPAMARHMA/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IUNLGFSM47BISABSWY5HUHORZZ4VJZSH64QQXCP3EWCUQ2TMXBKA/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6L3NAOEZILDXFSL4J7HCTRTSTYS63OXQ6COYV6Y5A2BGOAGX2NA/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B54BDU74HR4SWTEMZY77JKAFPGM6OFSUAM7FRJYE2HS3UY7OYULA/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YU2LPMF32AQDNO2XCQPIBSZK6AGJIDSHN2NF7IPIF5ST53LO3M7A/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPNKVQU5TEWWUKUHL6PDJA2DDSJL6246LFOL2KSFQ2A2NLN7ACPQ/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVUD23EWE2IEQJIRP3B4VY5MNAEVEQIF434WPCH64XWO75B7YVXQ/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VV336KUKHNC2YFHNKG65EGDMAK7SKKS5F3T4QIHHWJBMZQAWTJ6Q/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V36IZAQTQUEXVZU3ALCU3NONNH5NDXFAJ5OKVW5AM3CBQ3IYUL7A/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDVQEGIBPLZEAFDGONMWZ6GG73NUXQKQHYNHLIG233W7VRUTDBTQ/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3I4J2MP5647DR6L6FB5CIGIP5ZTUPRXWEQWAH2JZXEFA3B2PPJA/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TAES2I5YFFPPQDPEWCTGC7BA52ES7TV5H5YSIAYFOCG45JWGPX3Q/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YAOOR464WX3RBEV7VUJOX24HBMCIEX6RKC2G5KJ4SNQHA4YBKQA/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDGEG5SYPLF35VKWAOLKZE6OPUX7VMPJHDFJEAREZM3TPLRQMSIQ/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EN4M26W65GYRXEEFJKWTXSMRJ6EWHCA25H5YGBGLFMHCQIT4FMGQ/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFG2XOIP6D3OCTGVEHIDJBY7ZTJCAETYUSTYD7UKBRLJ5O2BQVAA/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBHZMGDQNZCZPYEIG3WCNGGAEERHOECZXDQDX77T6MAEAMQ2UBFA/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W74XJRJVCMXZWHGEVOVG4I22TJQUDGVBPY5CGXTS3VCHGMLOSYSQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGFKRAEOMEVNNWCERANK2JGZHKH7HTYHJGX54JR5S3QU77PM3PBA/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BV4USZZWWKAEN3DATSGCSYXYIW67LWHE22RQEFFPKA2OHV4RWZSQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PP35CMMO3HDAL4DQTSZD2GQQWJQ4L444LYRY5XG3Q5YNV4M47WEQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/36GARLBI7YJAUEA324D5WT72APEI6LZXIPYBXPH6EBRHJBR6736A/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJFSNDHLLVYBF25IOWMPHURJLQYOBAFD73TBEQ3MMKDFH3FINWRA/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMWOIETUBCQTU2UMYHIBI7Z7RJNUXYQJ3R34ER24IFA3IJIRSXDQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBZ6YZIL6LJNZEVZGAQ3RLXPC2MPNEV6F7UYQATZU4YCE2VTEA/748.js"
            ]
        },
        "ListKeyDetails": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceType",
                    "Identifier",
                    "StartTime",
                    "EndTime"
                ],
                "members": {
                    "ServiceType": {},
                    "Identifier": {},
                    "SqlId": {},
                    "DigestId": {},
                    "StartTime": {
                        "type": "timestamp"
                    },
                    "EndTime": {
                        "type": "timestamp"
                    },
                    "PeriodInSeconds": {
                        "type": "integer"
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AlignedStartTime": {
                        "type": "timestamp"
                    },
                    "AlignedEndTime": {
                        "type": "timestamp"
                    },
                    "Details": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "SqlId": {},
                                "DetailList": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "required": [
                                            "DetailKeyId",
                                            "DetailType",
                                            "Timestamp"
                                        ],
                                        "members": {
                                            "DetailKeyId": {},
                                            "DetailType": {},
                                            "Timestamp": {
                                                "type": "timestamp"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DTHMYF6YDBPCNPH5V2ZAUADHG3IIO4RPLTOVHUNMIVPPAMARHMA/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IUNLGFSM47BISABSWY5HUHORZZ4VJZSH64QQXCP3EWCUQ2TMXBKA/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6L3NAOEZILDXFSL4J7HCTRTSTYS63OXQ6COYV6Y5A2BGOAGX2NA/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B54BDU74HR4SWTEMZY77JKAFPGM6OFSUAM7FRJYE2HS3UY7OYULA/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YU2LPMF32AQDNO2XCQPIBSZK6AGJIDSHN2NF7IPIF5ST53LO3M7A/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPNKVQU5TEWWUKUHL6PDJA2DDSJL6246LFOL2KSFQ2A2NLN7ACPQ/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVUD23EWE2IEQJIRP3B4VY5MNAEVEQIF434WPCH64XWO75B7YVXQ/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VV336KUKHNC2YFHNKG65EGDMAK7SKKS5F3T4QIHHWJBMZQAWTJ6Q/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V36IZAQTQUEXVZU3ALCU3NONNH5NDXFAJ5OKVW5AM3CBQ3IYUL7A/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDVQEGIBPLZEAFDGONMWZ6GG73NUXQKQHYNHLIG233W7VRUTDBTQ/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3I4J2MP5647DR6L6FB5CIGIP5ZTUPRXWEQWAH2JZXEFA3B2PPJA/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TAES2I5YFFPPQDPEWCTGC7BA52ES7TV5H5YSIAYFOCG45JWGPX3Q/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YAOOR464WX3RBEV7VUJOX24HBMCIEX6RKC2G5KJ4SNQHA4YBKQA/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDGEG5SYPLF35VKWAOLKZE6OPUX7VMPJHDFJEAREZM3TPLRQMSIQ/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EN4M26W65GYRXEEFJKWTXSMRJ6EWHCA25H5YGBGLFMHCQIT4FMGQ/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFG2XOIP6D3OCTGVEHIDJBY7ZTJCAETYUSTYD7UKBRLJ5O2BQVAA/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBHZMGDQNZCZPYEIG3WCNGGAEERHOECZXDQDX77T6MAEAMQ2UBFA/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W74XJRJVCMXZWHGEVOVG4I22TJQUDGVBPY5CGXTS3VCHGMLOSYSQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGFKRAEOMEVNNWCERANK2JGZHKH7HTYHJGX54JR5S3QU77PM3PBA/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BV4USZZWWKAEN3DATSGCSYXYIW67LWHE22RQEFFPKA2OHV4RWZSQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PP35CMMO3HDAL4DQTSZD2GQQWJQ4L444LYRY5XG3Q5YNV4M47WEQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/36GARLBI7YJAUEA324D5WT72APEI6LZXIPYBXPH6EBRHJBR6736A/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJFSNDHLLVYBF25IOWMPHURJLQYOBAFD73TBEQ3MMKDFH3FINWRA/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMWOIETUBCQTU2UMYHIBI7Z7RJNUXYQJ3R34ER24IFA3IJIRSXDQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBZ6YZIL6LJNZEVZGAQ3RLXPC2MPNEV6F7UYQATZU4YCE2VTEA/748.js"
            ]
        },
        "ModifyInsight": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceType",
                    "InsightId",
                    "Archived"
                ],
                "members": {
                    "ServiceType": {},
                    "InsightId": {},
                    "Archived": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Insight": {
                        "shape": "S1s"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DTHMYF6YDBPCNPH5V2ZAUADHG3IIO4RPLTOVHUNMIVPPAMARHMA/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IUNLGFSM47BISABSWY5HUHORZZ4VJZSH64QQXCP3EWCUQ2TMXBKA/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6L3NAOEZILDXFSL4J7HCTRTSTYS63OXQ6COYV6Y5A2BGOAGX2NA/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B54BDU74HR4SWTEMZY77JKAFPGM6OFSUAM7FRJYE2HS3UY7OYULA/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YU2LPMF32AQDNO2XCQPIBSZK6AGJIDSHN2NF7IPIF5ST53LO3M7A/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPNKVQU5TEWWUKUHL6PDJA2DDSJL6246LFOL2KSFQ2A2NLN7ACPQ/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVUD23EWE2IEQJIRP3B4VY5MNAEVEQIF434WPCH64XWO75B7YVXQ/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VV336KUKHNC2YFHNKG65EGDMAK7SKKS5F3T4QIHHWJBMZQAWTJ6Q/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V36IZAQTQUEXVZU3ALCU3NONNH5NDXFAJ5OKVW5AM3CBQ3IYUL7A/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDVQEGIBPLZEAFDGONMWZ6GG73NUXQKQHYNHLIG233W7VRUTDBTQ/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3I4J2MP5647DR6L6FB5CIGIP5ZTUPRXWEQWAH2JZXEFA3B2PPJA/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TAES2I5YFFPPQDPEWCTGC7BA52ES7TV5H5YSIAYFOCG45JWGPX3Q/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YAOOR464WX3RBEV7VUJOX24HBMCIEX6RKC2G5KJ4SNQHA4YBKQA/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDGEG5SYPLF35VKWAOLKZE6OPUX7VMPJHDFJEAREZM3TPLRQMSIQ/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EN4M26W65GYRXEEFJKWTXSMRJ6EWHCA25H5YGBGLFMHCQIT4FMGQ/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFG2XOIP6D3OCTGVEHIDJBY7ZTJCAETYUSTYD7UKBRLJ5O2BQVAA/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBHZMGDQNZCZPYEIG3WCNGGAEERHOECZXDQDX77T6MAEAMQ2UBFA/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W74XJRJVCMXZWHGEVOVG4I22TJQUDGVBPY5CGXTS3VCHGMLOSYSQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGFKRAEOMEVNNWCERANK2JGZHKH7HTYHJGX54JR5S3QU77PM3PBA/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BV4USZZWWKAEN3DATSGCSYXYIW67LWHE22RQEFFPKA2OHV4RWZSQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PP35CMMO3HDAL4DQTSZD2GQQWJQ4L444LYRY5XG3Q5YNV4M47WEQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/36GARLBI7YJAUEA324D5WT72APEI6LZXIPYBXPH6EBRHJBR6736A/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJFSNDHLLVYBF25IOWMPHURJLQYOBAFD73TBEQ3MMKDFH3FINWRA/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMWOIETUBCQTU2UMYHIBI7Z7RJNUXYQJ3R34ER24IFA3IJIRSXDQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBZ6YZIL6LJNZEVZGAQ3RLXPC2MPNEV6F7UYQATZU4YCE2VTEA/748.js"
            ]
        },
        "PutInsightFeedback": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceType",
                    "FeedbackType"
                ],
                "members": {
                    "ServiceType": {},
                    "InsightId": {},
                    "FeedbackType": {},
                    "ArchiveInsightDetails": {
                        "type": "structure",
                        "members": {
                            "ArchiveReason": {},
                            "Comments": {
                                "shape": "S46"
                            }
                        }
                    },
                    "SeverityUpdateDetails": {
                        "type": "structure",
                        "required": [
                            "From",
                            "To"
                        ],
                        "members": {
                            "From": {},
                            "To": {},
                            "Comments": {
                                "shape": "S46"
                            }
                        }
                    },
                    "VoteDetails": {
                        "type": "structure",
                        "required": [
                            "VoteTarget",
                            "Vote"
                        ],
                        "members": {
                            "VoteTarget": {},
                            "VoteTargetIdentifier": {},
                            "Vote": {},
                            "Comments": {
                                "shape": "S46"
                            }
                        }
                    },
                    "MissingInsightDetails": {
                        "type": "structure",
                        "required": [
                            "Identifier"
                        ],
                        "members": {
                            "Identifier": {},
                            "StartTime": {
                                "type": "timestamp"
                            },
                            "EndTime": {
                                "type": "timestamp"
                            },
                            "RelatedMetrics": {
                                "type": "list",
                                "member": {}
                            },
                            "Comments": {
                                "shape": "S46"
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DTHMYF6YDBPCNPH5V2ZAUADHG3IIO4RPLTOVHUNMIVPPAMARHMA/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IUNLGFSM47BISABSWY5HUHORZZ4VJZSH64QQXCP3EWCUQ2TMXBKA/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6L3NAOEZILDXFSL4J7HCTRTSTYS63OXQ6COYV6Y5A2BGOAGX2NA/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B54BDU74HR4SWTEMZY77JKAFPGM6OFSUAM7FRJYE2HS3UY7OYULA/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YU2LPMF32AQDNO2XCQPIBSZK6AGJIDSHN2NF7IPIF5ST53LO3M7A/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPNKVQU5TEWWUKUHL6PDJA2DDSJL6246LFOL2KSFQ2A2NLN7ACPQ/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVUD23EWE2IEQJIRP3B4VY5MNAEVEQIF434WPCH64XWO75B7YVXQ/300.js",
[...]
