{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-02-27",
        "endpointPrefix": "pi",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceAbbreviation": "AWS PI",
        "serviceFullName": "AWS Performance Insights",
        "serviceId": "PI",
        "signatureVersion": "v4",
        "signingName": "pi",
        "targetPrefix": "PerformanceInsightsv20180227",
        "uid": "pi-2018-02-27",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/JN6MG6IR75SRLGHO5VH336ZJQQJFHTKH2KRLTF6Z3VGPRFTX4SIA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EIKLBMGCVRS7X46A6TGGDA4JPCAEDDHEIW6EAOLSTYEDI26MNPYA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XR42RKMWI273EWSJKS5GXVZNHIYYCYASTBPHPFF7O3U7W5CGUR2Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KLSS2OYZRSUNW4RHAAVNQ6EJ3QVBQXS6A553KD4EQ4MCKB3IENOQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WQCHENQ4DTPGWYVHU7Q4UMTTG3MQZY4MNJ65B3G3ONCLFRLI3JUQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XKPM7ULAID7IALIAT22OOIT63EUNWBL4U2ZPQ5375YGNRSOZB24A/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CJXXXW2KZESAZWDKEUCEDKQKE5G77MLCBA2CX4K73PRO2IZSCKRQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GUE3A46UN42OHCIP2QC7UYF36VWC7PFDOX2TKSJXSCUATHESTNPQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MLXZOCETTWKAPKNNWRBRQ22MYQ3KW4L37JTPDP3YMAMBUBCCGI5Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/X43CDK5JJ2YGPYFRQZTIGQXTO7AYW6MSFUN6VH7QTRKFHIS34MIQ/main.js"
        ]
    },
    "operations": {
        "CreatePerformanceAnalysisReport": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceType",
                    "Identifier",
                    "StartTime",
                    "EndTime"
                ],
                "members": {
                    "ServiceType": {},
                    "Identifier": {},
                    "StartTime": {
                        "type": "timestamp"
                    },
                    "EndTime": {
                        "type": "timestamp"
                    },
                    "Tags": {
                        "shape": "S5"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AnalysisReportId": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6BSXGUOD7AEIYVJKGSYD3XPYEMNUGHBFYHZZXSE2FPKEFMGG73EA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3SBTMMMWBWIWYKLDWK3M2BWW6TEKPXNFC46UCGTIMQSVSLLJAHBA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K37XR4HMSJSFKYZ7H44W33O5SOVHR3SB5WDZIR7YLVFNPJSPPFOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDO6TGRBFJAAASHY3UMPLZYULHHLWV2C3NA2M6726OORKHTH3D4Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GWHLMA4NIK753HFQSB6S262IA2MMOL7B3HANJAYAU3PP2ELQMWKQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZQOWOJEHSR7ZKDS5DYYYF2W6JRF3JNMR2FU2M4PZJXZAZX225BQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ONX53A2DJ5SUXSTXBTOQU7NINCNPWX5VCOKTWF6ZTENIJO3SDFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U2CAJHRUWF5PCI4H2GJYFGBSLHYVR4QNTOCJ7TQXRVNQLV7OMEZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RCQJXEMJ5HSCDY4RTH44U27Y5KNRFG5B5WOL5YW4A5BHNH7AONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWXIAR4JUV6NQROSJ3BN47QBPGVSS6L4UDW3UISWZ5RYM6WC4BUQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ISHW2GL5ZMJA2WVG74UXXOZ4XQDUIMYPYGCEJYXAMPZ2NND5ATQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js"
            ]
        },
        "DescribeDimensionKeys": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceType",
                    "Identifier",
                    "StartTime",
                    "EndTime",
                    "Metric",
                    "GroupBy"
                ],
                "members": {
                    "ServiceType": {},
                    "Identifier": {},
                    "StartTime": {
                        "type": "timestamp"
                    },
                    "EndTime": {
                        "type": "timestamp"
                    },
                    "Metric": {},
                    "PeriodInSeconds": {
                        "type": "integer"
                    },
                    "GroupBy": {
                        "shape": "S9"
                    },
                    "AdditionalMetrics": {
                        "type": "list",
                        "member": {}
                    },
                    "PartitionBy": {
                        "shape": "S9"
                    },
                    "Filter": {
                        "shape": "Sd"
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {},
                    "GroupMetrics": {
                        "internalonly": true,
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AlignedStartTime": {
                        "type": "timestamp"
                    },
                    "AlignedEndTime": {
                        "type": "timestamp"
                    },
                    "PartitionKeys": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Dimensions"
                            ],
                            "members": {
                                "Dimensions": {
                                    "shape": "Sj"
                                }
                            }
                        }
                    },
                    "Keys": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Dimensions": {
                                    "shape": "Sj"
                                },
                                "Total": {
                                    "type": "double"
                                },
                                "AdditionalMetrics": {
                                    "type": "map",
                                    "key": {},
                                    "value": {
                                        "type": "double"
                                    }
                                },
                                "Partitions": {
                                    "type": "list",
                                    "member": {
                                        "type": "double"
                                    }
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EIKLBMGCVRS7X46A6TGGDA4JPCAEDDHEIW6EAOLSTYEDI26MNPYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XR42RKMWI273EWSJKS5GXVZNHIYYCYASTBPHPFF7O3U7W5CGUR2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KLSS2OYZRSUNW4RHAAVNQ6EJ3QVBQXS6A553KD4EQ4MCKB3IENOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQCHENQ4DTPGWYVHU7Q4UMTTG3MQZY4MNJ65B3G3ONCLFRLI3JUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKPM7ULAID7IALIAT22OOIT63EUNWBL4U2ZPQ5375YGNRSOZB24A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJXXXW2KZESAZWDKEUCEDKQKE5G77MLCBA2CX4K73PRO2IZSCKRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUE3A46UN42OHCIP2QC7UYF36VWC7PFDOX2TKSJXSCUATHESTNPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLXZOCETTWKAPKNNWRBRQ22MYQ3KW4L37JTPDP3YMAMBUBCCGI5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X43CDK5JJ2YGPYFRQZTIGQXTO7AYW6MSFUN6VH7QTRKFHIS34MIQ/main.js"
            ]
        },
        "GetDimensionKeyDetails": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceType",
                    "Identifier",
                    "Group",
                    "GroupIdentifier"
                ],
                "members": {
                    "ServiceType": {},
                    "Identifier": {},
                    "Group": {},
                    "GroupIdentifier": {},
                    "RequestedDimensions": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Dimensions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Value": {},
                                "Dimension": {},
                                "Status": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3DOHHWUUQ6K2YDIBWDJ77CAPWW3AHCTHKMLJP4WUNPKAQHSPUBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODLJYJUT4AU3RF5GCP5EQA3H7Y6256OUPT6O5DKQFD6P3OUQE4HA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JN6MG6IR75SRLGHO5VH336ZJQQJFHTKH2KRLTF6Z3VGPRFTX4SIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XR42RKMWI273EWSJKS5GXVZNHIYYCYASTBPHPFF7O3U7W5CGUR2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KLSS2OYZRSUNW4RHAAVNQ6EJ3QVBQXS6A553KD4EQ4MCKB3IENOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQCHENQ4DTPGWYVHU7Q4UMTTG3MQZY4MNJ65B3G3ONCLFRLI3JUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKPM7ULAID7IALIAT22OOIT63EUNWBL4U2ZPQ5375YGNRSOZB24A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJXXXW2KZESAZWDKEUCEDKQKE5G77MLCBA2CX4K73PRO2IZSCKRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUE3A46UN42OHCIP2QC7UYF36VWC7PFDOX2TKSJXSCUATHESTNPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLXZOCETTWKAPKNNWRBRQ22MYQ3KW4L37JTPDP3YMAMBUBCCGI5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X43CDK5JJ2YGPYFRQZTIGQXTO7AYW6MSFUN6VH7QTRKFHIS34MIQ/main.js"
            ]
        },
        "GetPerformanceAnalysisReport": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceType",
                    "Identifier",
                    "AnalysisReportId"
                ],
                "members": {
                    "ServiceType": {},
                    "Identifier": {},
                    "AnalysisReportId": {},
                    "TextFormat": {},
                    "AcceptLanguage": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AnalysisReport": {
                        "type": "structure",
                        "required": [
                            "AnalysisReportId"
                        ],
                        "members": {
                            "AnalysisReportId": {},
                            "Identifier": {},
                            "ServiceType": {},
                            "CreateTime": {
                                "type": "timestamp"
                            },
                            "StartTime": {
                                "type": "timestamp"
                            },
                            "EndTime": {
                                "type": "timestamp"
                            },
                            "Status": {},
                            "Insights": {
                                "shape": "S12"
                            }
                        }
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6BSXGUOD7AEIYVJKGSYD3XPYEMNUGHBFYHZZXSE2FPKEFMGG73EA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3SBTMMMWBWIWYKLDWK3M2BWW6TEKPXNFC46UCGTIMQSVSLLJAHBA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K37XR4HMSJSFKYZ7H44W33O5SOVHR3SB5WDZIR7YLVFNPJSPPFOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDO6TGRBFJAAASHY3UMPLZYULHHLWV2C3NA2M6726OORKHTH3D4Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GWHLMA4NIK753HFQSB6S262IA2MMOL7B3HANJAYAU3PP2ELQMWKQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZQOWOJEHSR7ZKDS5DYYYF2W6JRF3JNMR2FU2M4PZJXZAZX225BQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ONX53A2DJ5SUXSTXBTOQU7NINCNPWX5VCOKTWF6ZTENIJO3SDFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U2CAJHRUWF5PCI4H2GJYFGBSLHYVR4QNTOCJ7TQXRVNQLV7OMEZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RCQJXEMJ5HSCDY4RTH44U27Y5KNRFG5B5WOL5YW4A5BHNH7AONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWXIAR4JUV6NQROSJ3BN47QBPGVSS6L4UDW3UISWZ5RYM6WC4BUQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ISHW2GL5ZMJA2WVG74UXXOZ4XQDUIMYPYGCEJYXAMPZ2NND5ATQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js"
            ]
        },
        "GetResourceMetadata": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceType",
                    "Identifier"
                ],
                "members": {
                    "ServiceType": {},
                    "Identifier": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Identifier": {},
                    "Features": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "type": "structure",
                            "members": {
                                "Status": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HR3OIAVGYEDBKXZIJ6RQXGNVZL25I6RD7GMHZU2JW3KMSIYILWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLCDB2UXCK4LFGH34LBASZM3CW5HKWRXK6SWPCAR7K57DYQXW3DQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4I5SF6QQCGOFRKJJDHAQXFFWJG35GD5FDUBFXIABIGPMBWW2AA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3DOHHWUUQ6K2YDIBWDJ77CAPWW3AHCTHKMLJP4WUNPKAQHSPUBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JN6MG6IR75SRLGHO5VH336ZJQQJFHTKH2KRLTF6Z3VGPRFTX4SIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XR42RKMWI273EWSJKS5GXVZNHIYYCYASTBPHPFF7O3U7W5CGUR2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KLSS2OYZRSUNW4RHAAVNQ6EJ3QVBQXS6A553KD4EQ4MCKB3IENOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQCHENQ4DTPGWYVHU7Q4UMTTG3MQZY4MNJ65B3G3ONCLFRLI3JUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJXXXW2KZESAZWDKEUCEDKQKE5G77MLCBA2CX4K73PRO2IZSCKRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUE3A46UN42OHCIP2QC7UYF36VWC7PFDOX2TKSJXSCUATHESTNPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLXZOCETTWKAPKNNWRBRQ22MYQ3KW4L37JTPDP3YMAMBUBCCGI5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X43CDK5JJ2YGPYFRQZTIGQXTO7AYW6MSFUN6VH7QTRKFHIS34MIQ/main.js"
            ]
        },
        "GetResourceMetrics": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceType",
                    "Identifier",
                    "MetricQueries",
                    "StartTime",
                    "EndTime"
                ],
                "members": {
                    "ServiceType": {},
                    "Identifier": {},
                    "MetricQueries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Metric"
                            ],
                            "members": {
                                "Metric": {},
                                "GroupBy": {
                                    "shape": "S9"
                                },
                                "Filter": {
                                    "shape": "Sd"
                                }
                            }
                        }
                    },
                    "StartTime": {
                        "type": "timestamp"
                    },
                    "EndTime": {
                        "type": "timestamp"
                    },
                    "PeriodInSeconds": {
                        "type": "integer"
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {},
                    "PeriodAlignment": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AlignedStartTime": {
                        "type": "timestamp"
                    },
                    "AlignedEndTime": {
                        "type": "timestamp"
                    },
                    "Identifier": {},
                    "MetricList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Key": {
                                    "type": "structure",
                                    "required": [
                                        "Metric"
                                    ],
                                    "members": {
                                        "Metric": {},
                                        "Dimensions": {
                                            "shape": "Sj"
                                        }
                                    }
                                },
                                "DataPoints": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "required": [
                                            "Timestamp",
                                            "Value"
                                        ],
                                        "members": {
                                            "Timestamp": {
                                                "type": "timestamp"
                                            },
                                            "Value": {
                                                "type": "double"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EIKLBMGCVRS7X46A6TGGDA4JPCAEDDHEIW6EAOLSTYEDI26MNPYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XR42RKMWI273EWSJKS5GXVZNHIYYCYASTBPHPFF7O3U7W5CGUR2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KLSS2OYZRSUNW4RHAAVNQ6EJ3QVBQXS6A553KD4EQ4MCKB3IENOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQCHENQ4DTPGWYVHU7Q4UMTTG3MQZY4MNJ65B3G3ONCLFRLI3JUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKPM7ULAID7IALIAT22OOIT63EUNWBL4U2ZPQ5375YGNRSOZB24A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJXXXW2KZESAZWDKEUCEDKQKE5G77MLCBA2CX4K73PRO2IZSCKRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUE3A46UN42OHCIP2QC7UYF36VWC7PFDOX2TKSJXSCUATHESTNPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLXZOCETTWKAPKNNWRBRQ22MYQ3KW4L37JTPDP3YMAMBUBCCGI5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X43CDK5JJ2YGPYFRQZTIGQXTO7AYW6MSFUN6VH7QTRKFHIS34MIQ/main.js"
            ]
        },
        "ListAvailableResourceDimensions": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceType",
                    "Identifier",
                    "Metrics"
                ],
                "members": {
                    "ServiceType": {},
                    "Identifier": {},
                    "Metrics": {
                        "type": "list",
                        "member": {}
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {},
                    "AuthorizedActions": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "MetricDimensions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Metric": {},
                                "Groups": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "Group": {},
                                            "Dimensions": {
                                                "type": "list",
                                                "member": {
                                                    "type": "structure",
                                                    "members": {
                                                        "Identifier": {}
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HR3OIAVGYEDBKXZIJ6RQXGNVZL25I6RD7GMHZU2JW3KMSIYILWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLCDB2UXCK4LFGH34LBASZM3CW5HKWRXK6SWPCAR7K57DYQXW3DQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4I5SF6QQCGOFRKJJDHAQXFFWJG35GD5FDUBFXIABIGPMBWW2AA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3DOHHWUUQ6K2YDIBWDJ77CAPWW3AHCTHKMLJP4WUNPKAQHSPUBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JN6MG6IR75SRLGHO5VH336ZJQQJFHTKH2KRLTF6Z3VGPRFTX4SIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XR42RKMWI273EWSJKS5GXVZNHIYYCYASTBPHPFF7O3U7W5CGUR2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KLSS2OYZRSUNW4RHAAVNQ6EJ3QVBQXS6A553KD4EQ4MCKB3IENOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQCHENQ4DTPGWYVHU7Q4UMTTG3MQZY4MNJ65B3G3ONCLFRLI3JUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJXXXW2KZESAZWDKEUCEDKQKE5G77MLCBA2CX4K73PRO2IZSCKRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUE3A46UN42OHCIP2QC7UYF36VWC7PFDOX2TKSJXSCUATHESTNPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLXZOCETTWKAPKNNWRBRQ22MYQ3KW4L37JTPDP3YMAMBUBCCGI5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X43CDK5JJ2YGPYFRQZTIGQXTO7AYW6MSFUN6VH7QTRKFHIS34MIQ/main.js"
            ]
        },
        "ListAvailableResourceMetrics": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceType",
                    "Identifier",
                    "MetricTypes"
                ],
                "members": {
                    "ServiceType": {},
                    "Identifier": {},
                    "MetricTypes": {
                        "type": "list",
                        "member": {}
                    },
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Metrics": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Metric": {},
                                "Description": {},
                                "Unit": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HR3OIAVGYEDBKXZIJ6RQXGNVZL25I6RD7GMHZU2JW3KMSIYILWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLCDB2UXCK4LFGH34LBASZM3CW5HKWRXK6SWPCAR7K57DYQXW3DQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4I5SF6QQCGOFRKJJDHAQXFFWJG35GD5FDUBFXIABIGPMBWW2AA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3DOHHWUUQ6K2YDIBWDJ77CAPWW3AHCTHKMLJP4WUNPKAQHSPUBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JN6MG6IR75SRLGHO5VH336ZJQQJFHTKH2KRLTF6Z3VGPRFTX4SIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XR42RKMWI273EWSJKS5GXVZNHIYYCYASTBPHPFF7O3U7W5CGUR2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KLSS2OYZRSUNW4RHAAVNQ6EJ3QVBQXS6A553KD4EQ4MCKB3IENOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQCHENQ4DTPGWYVHU7Q4UMTTG3MQZY4MNJ65B3G3ONCLFRLI3JUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJXXXW2KZESAZWDKEUCEDKQKE5G77MLCBA2CX4K73PRO2IZSCKRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUE3A46UN42OHCIP2QC7UYF36VWC7PFDOX2TKSJXSCUATHESTNPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLXZOCETTWKAPKNNWRBRQ22MYQ3KW4L37JTPDP3YMAMBUBCCGI5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X43CDK5JJ2YGPYFRQZTIGQXTO7AYW6MSFUN6VH7QTRKFHIS34MIQ/main.js"
            ]
        },
        "ListPerformanceAnalysisReports": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceType",
                    "Identifier"
                ],
                "members": {
                    "ServiceType": {},
                    "Identifier": {},
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "ListTags": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AnalysisReports": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "AnalysisReportId": {},
                                "CreationTime": {
                                    "type": "timestamp"
                                },
                                "StartTime": {
                                    "type": "timestamp"
                                },
                                "EndTime": {
                                    "type": "timestamp"
                                },
                                "Status": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6BSXGUOD7AEIYVJKGSYD3XPYEMNUGHBFYHZZXSE2FPKEFMGG73EA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3SBTMMMWBWIWYKLDWK3M2BWW6TEKPXNFC46UCGTIMQSVSLLJAHBA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K37XR4HMSJSFKYZ7H44W33O5SOVHR3SB5WDZIR7YLVFNPJSPPFOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDO6TGRBFJAAASHY3UMPLZYULHHLWV2C3NA2M6726OORKHTH3D4Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GWHLMA4NIK753HFQSB6S262IA2MMOL7B3HANJAYAU3PP2ELQMWKQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZQOWOJEHSR7ZKDS5DYYYF2W6JRF3JNMR2FU2M4PZJXZAZX225BQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ONX53A2DJ5SUXSTXBTOQU7NINCNPWX5VCOKTWF6ZTENIJO3SDFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U2CAJHRUWF5PCI4H2GJYFGBSLHYVR4QNTOCJ7TQXRVNQLV7OMEZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RCQJXEMJ5HSCDY4RTH44U27Y5KNRFG5B5WOL5YW4A5BHNH7AONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWXIAR4JUV6NQROSJ3BN47QBPGVSS6L4UDW3UISWZ5RYM6WC4BUQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ISHW2GL5ZMJA2WVG74UXXOZ4XQDUIMYPYGCEJYXAMPZ2NND5ATQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js"
            ]
        },
        "BatchGetResourceMetrics": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceType",
                    "Identifiers",
                    "MetricQueries",
                    "StartTime",
                    "EndTime"
                ],
                "members": {
                    "ServiceType": {},
                    "Identifiers": {
                        "shape": "S3"
                    },
                    "MetricQueries": {
                        "shape": "S5"
                    },
                    "StartTime": {
                        "type": "timestamp"
                    },
                    "EndTime": {
                        "type": "timestamp"
                    },
                    "PeriodInSeconds": {
                        "type": "integer"
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AlignedStartTime": {
                        "type": "timestamp"
                    },
                    "AlignedEndTime": {
                        "type": "timestamp"
                    },
                    "Identifiers": {
                        "shape": "S3"
                    },
                    "MetricList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Key": {
                                    "shape": "Sh"
                                },
                                "DataPoints": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "required": [
                                            "Timestamp",
                                            "Values"
                                        ],
                                        "members": {
                                            "Timestamp": {
                                                "type": "timestamp"
                                            },
                                            "Values": {
                                                "shape": "Sm"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "Errors": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Identifier": {},
                                "Code": {},
                                "Message": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMJUFHTGO4MKZME5QOX3QOI2HV2YTZHKUAR4ZKHNYN5FSHZGQRRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/US2P7OXAIKTL7NCM443F2ZMBBW5RX22WSK6RLT4TIJHTQ7NZSRLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2JTQW6QDWLXSTQUGRLALKXYKHGE7MFWM7DOQ4B7ABHF3Z5XOKUJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIQQKQUJMXOMQHNF6SZOAOTOXPGCGKJGMBLG54CARSD6DO5I5XNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HC5FVFH2WZWUJIV367SE4VLQ2WVETZ5SFRRZT57OEOOFMNZNYPTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GSMABTBH2QCUONLAXDTKRZIMKDYSUMS3X3PVXE5Q5B4BRL23DTRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3UCQMBRLJEAHJZ7E3G2W4QF24H6TMA32JAWEQVUDGPG5F2IBT2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3TRE3I45NIIIXMGK6TZRS44NVXXDTVEEPMFYXLOUU6HR6TTSJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLWTSQVS4Z3TRVAS246RGFHT3BRQ3QGQ43IDNVJ7LC37ES25J4IQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMTSMTKZFL37A3AM4I2GHBMZVOE76EFVEHUHNMIKU4FGWGLXD3GQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADC5UKGCQ75QLXTBC54YRP7L36RSS5PYQ4EJHQCVU4ZPHWV2EJ4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MDZIL6J26XNIAVBLVCVQDQKYSCGQDYM4KJSGL2KMY74GNJV23PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XYHEMKN4HM67RWX3TEERXVGSYROQ6TVKTUX6JBFKI654M6446TA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSWILR7RES7BS3VRRBEQRQEGWGW4JR3PTJHXVPZSA7RXAETKBNDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSDFCEHWD5JB2J4DQ33YXKBH7KF4CJTBFQNUZBUGT225EU2GD3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RU6MECGKELYUGL4IH4XBBMCIUIXMM3K5N37AE443MN35RUXCOZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLCDB2UXCK4LFGH34LBASZM3CW5HKWRXK6SWPCAR7K57DYQXW3DQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4I5SF6QQCGOFRKJJDHAQXFFWJG35GD5FDUBFXIABIGPMBWW2AA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3DOHHWUUQ6K2YDIBWDJ77CAPWW3AHCTHKMLJP4WUNPKAQHSPUBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQCHENQ4DTPGWYVHU7Q4UMTTG3MQZY4MNJ65B3G3ONCLFRLI3JUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJXXXW2KZESAZWDKEUCEDKQKE5G77MLCBA2CX4K73PRO2IZSCKRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUE3A46UN42OHCIP2QC7UYF36VWC7PFDOX2TKSJXSCUATHESTNPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLXZOCETTWKAPKNNWRBRQ22MYQ3KW4L37JTPDP3YMAMBUBCCGI5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X43CDK5JJ2YGPYFRQZTIGQXTO7AYW6MSFUN6VH7QTRKFHIS34MIQ/main.js"
            ]
        },
        "CheckUserPermission": {
            "input": {
                "type": "structure",
                "members": {
                    "ServiceType": {},
                    "Identifier": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Result": {},
                    "Details": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMJUFHTGO4MKZME5QOX3QOI2HV2YTZHKUAR4ZKHNYN5FSHZGQRRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/US2P7OXAIKTL7NCM443F2ZMBBW5RX22WSK6RLT4TIJHTQ7NZSRLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2JTQW6QDWLXSTQUGRLALKXYKHGE7MFWM7DOQ4B7ABHF3Z5XOKUJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIQQKQUJMXOMQHNF6SZOAOTOXPGCGKJGMBLG54CARSD6DO5I5XNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HC5FVFH2WZWUJIV367SE4VLQ2WVETZ5SFRRZT57OEOOFMNZNYPTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GSMABTBH2QCUONLAXDTKRZIMKDYSUMS3X3PVXE5Q5B4BRL23DTRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3UCQMBRLJEAHJZ7E3G2W4QF24H6TMA32JAWEQVUDGPG5F2IBT2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3TRE3I45NIIIXMGK6TZRS44NVXXDTVEEPMFYXLOUU6HR6TTSJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLWTSQVS4Z3TRVAS246RGFHT3BRQ3QGQ43IDNVJ7LC37ES25J4IQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMTSMTKZFL37A3AM4I2GHBMZVOE76EFVEHUHNMIKU4FGWGLXD3GQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADC5UKGCQ75QLXTBC54YRP7L36RSS5PYQ4EJHQCVU4ZPHWV2EJ4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MDZIL6J26XNIAVBLVCVQDQKYSCGQDYM4KJSGL2KMY74GNJV23PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XYHEMKN4HM67RWX3TEERXVGSYROQ6TVKTUX6JBFKI654M6446TA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSWILR7RES7BS3VRRBEQRQEGWGW4JR3PTJHXVPZSA7RXAETKBNDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSDFCEHWD5JB2J4DQ33YXKBH7KF4CJTBFQNUZBUGT225EU2GD3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RU6MECGKELYUGL4IH4XBBMCIUIXMM3K5N37AE443MN35RUXCOZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLCDB2UXCK4LFGH34LBASZM3CW5HKWRXK6SWPCAR7K57DYQXW3DQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4I5SF6QQCGOFRKJJDHAQXFFWJG35GD5FDUBFXIABIGPMBWW2AA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3DOHHWUUQ6K2YDIBWDJ77CAPWW3AHCTHKMLJP4WUNPKAQHSPUBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQCHENQ4DTPGWYVHU7Q4UMTTG3MQZY4MNJ65B3G3ONCLFRLI3JUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJXXXW2KZESAZWDKEUCEDKQKE5G77MLCBA2CX4K73PRO2IZSCKRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUE3A46UN42OHCIP2QC7UYF36VWC7PFDOX2TKSJXSCUATHESTNPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLXZOCETTWKAPKNNWRBRQ22MYQ3KW4L37JTPDP3YMAMBUBCCGI5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X43CDK5JJ2YGPYFRQZTIGQXTO7AYW6MSFUN6VH7QTRKFHIS34MIQ/main.js"
            ]
        },
        "DescribeCounterMetrics": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceType"
                ],
                "members": {
                    "ServiceType": {},
                    "Identifier": {},
                    "Engine": {
                        "type": "structure",
                        "required": [
                            "Name"
                        ],
                        "members": {
                            "Name": {},
                            "Version": {}
                        }
                    },
                    "Metrics": {
                        "type": "list",
                        "member": {}
                    },
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Metrics": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Metric": {},
                                "Description": {},
                                "Unit": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMJUFHTGO4MKZME5QOX3QOI2HV2YTZHKUAR4ZKHNYN5FSHZGQRRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/US2P7OXAIKTL7NCM443F2ZMBBW5RX22WSK6RLT4TIJHTQ7NZSRLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2JTQW6QDWLXSTQUGRLALKXYKHGE7MFWM7DOQ4B7ABHF3Z5XOKUJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIQQKQUJMXOMQHNF6SZOAOTOXPGCGKJGMBLG54CARSD6DO5I5XNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HC5FVFH2WZWUJIV367SE4VLQ2WVETZ5SFRRZT57OEOOFMNZNYPTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GSMABTBH2QCUONLAXDTKRZIMKDYSUMS3X3PVXE5Q5B4BRL23DTRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3UCQMBRLJEAHJZ7E3G2W4QF24H6TMA32JAWEQVUDGPG5F2IBT2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3TRE3I45NIIIXMGK6TZRS44NVXXDTVEEPMFYXLOUU6HR6TTSJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLWTSQVS4Z3TRVAS246RGFHT3BRQ3QGQ43IDNVJ7LC37ES25J4IQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMTSMTKZFL37A3AM4I2GHBMZVOE76EFVEHUHNMIKU4FGWGLXD3GQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADC5UKGCQ75QLXTBC54YRP7L36RSS5PYQ4EJHQCVU4ZPHWV2EJ4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MDZIL6J26XNIAVBLVCVQDQKYSCGQDYM4KJSGL2KMY74GNJV23PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XYHEMKN4HM67RWX3TEERXVGSYROQ6TVKTUX6JBFKI654M6446TA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSWILR7RES7BS3VRRBEQRQEGWGW4JR3PTJHXVPZSA7RXAETKBNDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSDFCEHWD5JB2J4DQ33YXKBH7KF4CJTBFQNUZBUGT225EU2GD3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RU6MECGKELYUGL4IH4XBBMCIUIXMM3K5N37AE443MN35RUXCOZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLCDB2UXCK4LFGH34LBASZM3CW5HKWRXK6SWPCAR7K57DYQXW3DQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4I5SF6QQCGOFRKJJDHAQXFFWJG35GD5FDUBFXIABIGPMBWW2AA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3DOHHWUUQ6K2YDIBWDJ77CAPWW3AHCTHKMLJP4WUNPKAQHSPUBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQCHENQ4DTPGWYVHU7Q4UMTTG3MQZY4MNJ65B3G3ONCLFRLI3JUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJXXXW2KZESAZWDKEUCEDKQKE5G77MLCBA2CX4K73PRO2IZSCKRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUE3A46UN42OHCIP2QC7UYF36VWC7PFDOX2TKSJXSCUATHESTNPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLXZOCETTWKAPKNNWRBRQ22MYQ3KW4L37JTPDP3YMAMBUBCCGI5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X43CDK5JJ2YGPYFRQZTIGQXTO7AYW6MSFUN6VH7QTRKFHIS34MIQ/main.js"
            ]
        },
        "DescribeDimensions": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceType"
                ],
                "members": {
                    "ServiceType": {},
                    "Identifier": {},
                    "ResourceType": {
                        "type": "structure",
                        "required": [
                            "Name"
                        ],
                        "members": {
                            "Name": {},
                            "Version": {}
                        }
                    },
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Dimensions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Description": {},
                                "Dimension": {},
                                "Group": {},
                                "Name": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMJUFHTGO4MKZME5QOX3QOI2HV2YTZHKUAR4ZKHNYN5FSHZGQRRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/US2P7OXAIKTL7NCM443F2ZMBBW5RX22WSK6RLT4TIJHTQ7NZSRLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2JTQW6QDWLXSTQUGRLALKXYKHGE7MFWM7DOQ4B7ABHF3Z5XOKUJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIQQKQUJMXOMQHNF6SZOAOTOXPGCGKJGMBLG54CARSD6DO5I5XNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HC5FVFH2WZWUJIV367SE4VLQ2WVETZ5SFRRZT57OEOOFMNZNYPTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GSMABTBH2QCUONLAXDTKRZIMKDYSUMS3X3PVXE5Q5B4BRL23DTRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3UCQMBRLJEAHJZ7E3G2W4QF24H6TMA32JAWEQVUDGPG5F2IBT2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3TRE3I45NIIIXMGK6TZRS44NVXXDTVEEPMFYXLOUU6HR6TTSJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLWTSQVS4Z3TRVAS246RGFHT3BRQ3QGQ43IDNVJ7LC37ES25J4IQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMTSMTKZFL37A3AM4I2GHBMZVOE76EFVEHUHNMIKU4FGWGLXD3GQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADC5UKGCQ75QLXTBC54YRP7L36RSS5PYQ4EJHQCVU4ZPHWV2EJ4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MDZIL6J26XNIAVBLVCVQDQKYSCGQDYM4KJSGL2KMY74GNJV23PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XYHEMKN4HM67RWX3TEERXVGSYROQ6TVKTUX6JBFKI654M6446TA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSWILR7RES7BS3VRRBEQRQEGWGW4JR3PTJHXVPZSA7RXAETKBNDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSDFCEHWD5JB2J4DQ33YXKBH7KF4CJTBFQNUZBUGT225EU2GD3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RU6MECGKELYUGL4IH4XBBMCIUIXMM3K5N37AE443MN35RUXCOZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLCDB2UXCK4LFGH34LBASZM3CW5HKWRXK6SWPCAR7K57DYQXW3DQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4I5SF6QQCGOFRKJJDHAQXFFWJG35GD5FDUBFXIABIGPMBWW2AA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3DOHHWUUQ6K2YDIBWDJ77CAPWW3AHCTHKMLJP4WUNPKAQHSPUBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQCHENQ4DTPGWYVHU7Q4UMTTG3MQZY4MNJ65B3G3ONCLFRLI3JUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJXXXW2KZESAZWDKEUCEDKQKE5G77MLCBA2CX4K73PRO2IZSCKRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUE3A46UN42OHCIP2QC7UYF36VWC7PFDOX2TKSJXSCUATHESTNPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLXZOCETTWKAPKNNWRBRQ22MYQ3KW4L37JTPDP3YMAMBUBCCGI5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X43CDK5JJ2YGPYFRQZTIGQXTO7AYW6MSFUN6VH7QTRKFHIS34MIQ/main.js"
            ]
        },
        "DescribeInsights": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceType"
                ],
                "members": {
                    "ServiceType": {},
                    "StartTimeRange": {
                        "type": "structure",
                        "members": {
                            "StartTime": {
                                "type": "timestamp"
                            },
                            "EndTime": {
                                "type": "timestamp"
                            }
                        }
                    },
                    "Identifier": {},
                    "InsightIds": {
                        "type": "list",
                        "member": {}
                    },
                    "Status": {},
                    "SeverityList": {
                        "type": "list",
                        "member": {}
                    },
                    "Archived": {
                        "type": "boolean"
                    },
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Insights": {
                        "type": "list",
                        "member": {
                            "shape": "S1s"
                        }
                    },
                    "NextToken": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMJUFHTGO4MKZME5QOX3QOI2HV2YTZHKUAR4ZKHNYN5FSHZGQRRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/US2P7OXAIKTL7NCM443F2ZMBBW5RX22WSK6RLT4TIJHTQ7NZSRLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2JTQW6QDWLXSTQUGRLALKXYKHGE7MFWM7DOQ4B7ABHF3Z5XOKUJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIQQKQUJMXOMQHNF6SZOAOTOXPGCGKJGMBLG54CARSD6DO5I5XNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HC5FVFH2WZWUJIV367SE4VLQ2WVETZ5SFRRZT57OEOOFMNZNYPTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GSMABTBH2QCUONLAXDTKRZIMKDYSUMS3X3PVXE5Q5B4BRL23DTRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3UCQMBRLJEAHJZ7E3G2W4QF24H6TMA32JAWEQVUDGPG5F2IBT2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3TRE3I45NIIIXMGK6TZRS44NVXXDTVEEPMFYXLOUU6HR6TTSJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLWTSQVS4Z3TRVAS246RGFHT3BRQ3QGQ43IDNVJ7LC37ES25J4IQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMTSMTKZFL37A3AM4I2GHBMZVOE76EFVEHUHNMIKU4FGWGLXD3GQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADC5UKGCQ75QLXTBC54YRP7L36RSS5PYQ4EJHQCVU4ZPHWV2EJ4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MDZIL6J26XNIAVBLVCVQDQKYSCGQDYM4KJSGL2KMY74GNJV23PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XYHEMKN4HM67RWX3TEERXVGSYROQ6TVKTUX6JBFKI654M6446TA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSWILR7RES7BS3VRRBEQRQEGWGW4JR3PTJHXVPZSA7RXAETKBNDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSDFCEHWD5JB2J4DQ33YXKBH7KF4CJTBFQNUZBUGT225EU2GD3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RU6MECGKELYUGL4IH4XBBMCIUIXMM3K5N37AE443MN35RUXCOZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLCDB2UXCK4LFGH34LBASZM3CW5HKWRXK6SWPCAR7K57DYQXW3DQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4I5SF6QQCGOFRKJJDHAQXFFWJG35GD5FDUBFXIABIGPMBWW2AA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3DOHHWUUQ6K2YDIBWDJ77CAPWW3AHCTHKMLJP4WUNPKAQHSPUBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQCHENQ4DTPGWYVHU7Q4UMTTG3MQZY4MNJ65B3G3ONCLFRLI3JUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJXXXW2KZESAZWDKEUCEDKQKE5G77MLCBA2CX4K73PRO2IZSCKRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUE3A46UN42OHCIP2QC7UYF36VWC7PFDOX2TKSJXSCUATHESTNPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLXZOCETTWKAPKNNWRBRQ22MYQ3KW4L37JTPDP3YMAMBUBCCGI5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X43CDK5JJ2YGPYFRQZTIGQXTO7AYW6MSFUN6VH7QTRKFHIS34MIQ/main.js"
            ]
        },
        "DescribeRecommendation": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceType",
                    "Identifier",
                    "ExecutionPlanId"
                ],
                "members": {
                    "ServiceType": {},
                    "Identifier": {},
                    "ExecutionPlanId": {},
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Recommendations": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "RecommendationType": {},
                                "DatabaseName": {},
                                "TableName": {},
                                "ColumnNames": {
                                    "shape": "S3"
                                },
                                "IndexNames": {
                                    "shape": "S3"
                                },
                                "NumRowsFilter": {
                                    "type": "long"
                                },
                                "NumRowsTotal": {
                                    "type": "long"
                                },
                                "RawLineNumbers": {
                                    "shape": "S2p"
                                },
                                "StructuredLineNumbers": {
                                    "shape": "S2p"
                                },
                                "CostPercentage": {
                                    "type": "double"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMJUFHTGO4MKZME5QOX3QOI2HV2YTZHKUAR4ZKHNYN5FSHZGQRRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/US2P7OXAIKTL7NCM443F2ZMBBW5RX22WSK6RLT4TIJHTQ7NZSRLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2JTQW6QDWLXSTQUGRLALKXYKHGE7MFWM7DOQ4B7ABHF3Z5XOKUJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIQQKQUJMXOMQHNF6SZOAOTOXPGCGKJGMBLG54CARSD6DO5I5XNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HC5FVFH2WZWUJIV367SE4VLQ2WVETZ5SFRRZT57OEOOFMNZNYPTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GSMABTBH2QCUONLAXDTKRZIMKDYSUMS3X3PVXE5Q5B4BRL23DTRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3UCQMBRLJEAHJZ7E3G2W4QF24H6TMA32JAWEQVUDGPG5F2IBT2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3TRE3I45NIIIXMGK6TZRS44NVXXDTVEEPMFYXLOUU6HR6TTSJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLWTSQVS4Z3TRVAS246RGFHT3BRQ3QGQ43IDNVJ7LC37ES25J4IQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMTSMTKZFL37A3AM4I2GHBMZVOE76EFVEHUHNMIKU4FGWGLXD3GQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADC5UKGCQ75QLXTBC54YRP7L36RSS5PYQ4EJHQCVU4ZPHWV2EJ4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MDZIL6J26XNIAVBLVCVQDQKYSCGQDYM4KJSGL2KMY74GNJV23PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XYHEMKN4HM67RWX3TEERXVGSYROQ6TVKTUX6JBFKI654M6446TA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSWILR7RES7BS3VRRBEQRQEGWGW4JR3PTJHXVPZSA7RXAETKBNDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSDFCEHWD5JB2J4DQ33YXKBH7KF4CJTBFQNUZBUGT225EU2GD3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RU6MECGKELYUGL4IH4XBBMCIUIXMM3K5N37AE443MN35RUXCOZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLCDB2UXCK4LFGH34LBASZM3CW5HKWRXK6SWPCAR7K57DYQXW3DQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4I5SF6QQCGOFRKJJDHAQXFFWJG35GD5FDUBFXIABIGPMBWW2AA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3DOHHWUUQ6K2YDIBWDJ77CAPWW3AHCTHKMLJP4WUNPKAQHSPUBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQCHENQ4DTPGWYVHU7Q4UMTTG3MQZY4MNJ65B3G3ONCLFRLI3JUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJXXXW2KZESAZWDKEUCEDKQKE5G77MLCBA2CX4K73PRO2IZSCKRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUE3A46UN42OHCIP2QC7UYF36VWC7PFDOX2TKSJXSCUATHESTNPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLXZOCETTWKAPKNNWRBRQ22MYQ3KW4L37JTPDP3YMAMBUBCCGI5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X43CDK5JJ2YGPYFRQZTIGQXTO7AYW6MSFUN6VH7QTRKFHIS34MIQ/main.js"
            ]
        },
        "DescribeResourceMetrics": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceType",
                    "MetricTypes"
                ],
                "members": {
                    "ServiceType": {},
                    "Identifier": {},
                    "Engine": {
                        "type": "structure",
                        "required": [
                            "Name"
                        ],
                        "members": {
                            "Name": {},
                            "Version": {}
                        }
                    },
                    "MetricTypes": {
                        "shape": "S2s"
                    },
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Metrics": {
                        "shape": "S2u"
                    },
                    "NextToken": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMJUFHTGO4MKZME5QOX3QOI2HV2YTZHKUAR4ZKHNYN5FSHZGQRRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/US2P7OXAIKTL7NCM443F2ZMBBW5RX22WSK6RLT4TIJHTQ7NZSRLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2JTQW6QDWLXSTQUGRLALKXYKHGE7MFWM7DOQ4B7ABHF3Z5XOKUJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIQQKQUJMXOMQHNF6SZOAOTOXPGCGKJGMBLG54CARSD6DO5I5XNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HC5FVFH2WZWUJIV367SE4VLQ2WVETZ5SFRRZT57OEOOFMNZNYPTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GSMABTBH2QCUONLAXDTKRZIMKDYSUMS3X3PVXE5Q5B4BRL23DTRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3UCQMBRLJEAHJZ7E3G2W4QF24H6TMA32JAWEQVUDGPG5F2IBT2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3TRE3I45NIIIXMGK6TZRS44NVXXDTVEEPMFYXLOUU6HR6TTSJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLWTSQVS4Z3TRVAS246RGFHT3BRQ3QGQ43IDNVJ7LC37ES25J4IQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMTSMTKZFL37A3AM4I2GHBMZVOE76EFVEHUHNMIKU4FGWGLXD3GQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADC5UKGCQ75QLXTBC54YRP7L36RSS5PYQ4EJHQCVU4ZPHWV2EJ4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MDZIL6J26XNIAVBLVCVQDQKYSCGQDYM4KJSGL2KMY74GNJV23PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XYHEMKN4HM67RWX3TEERXVGSYROQ6TVKTUX6JBFKI654M6446TA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSWILR7RES7BS3VRRBEQRQEGWGW4JR3PTJHXVPZSA7RXAETKBNDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSDFCEHWD5JB2J4DQ33YXKBH7KF4CJTBFQNUZBUGT225EU2GD3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RU6MECGKELYUGL4IH4XBBMCIUIXMM3K5N37AE443MN35RUXCOZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLCDB2UXCK4LFGH34LBASZM3CW5HKWRXK6SWPCAR7K57DYQXW3DQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4I5SF6QQCGOFRKJJDHAQXFFWJG35GD5FDUBFXIABIGPMBWW2AA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3DOHHWUUQ6K2YDIBWDJ77CAPWW3AHCTHKMLJP4WUNPKAQHSPUBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQCHENQ4DTPGWYVHU7Q4UMTTG3MQZY4MNJ65B3G3ONCLFRLI3JUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJXXXW2KZESAZWDKEUCEDKQKE5G77MLCBA2CX4K73PRO2IZSCKRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUE3A46UN42OHCIP2QC7UYF36VWC7PFDOX2TKSJXSCUATHESTNPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLXZOCETTWKAPKNNWRBRQ22MYQ3KW4L37JTPDP3YMAMBUBCCGI5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X43CDK5JJ2YGPYFRQZTIGQXTO7AYW6MSFUN6VH7QTRKFHIS34MIQ/main.js"
            ]
        },
        "DescribeTable": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceType",
                    "Tables"
                ],
                "members": {
                    "ServiceType": {},
                    "Identifier": {},
                    "Tables": {
                        "type": "list",
                        "member": {}
                    },
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Identifier": {},
                    "Tables": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "TableName": {},
                                "Status": {},
                                "Details": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMJUFHTGO4MKZME5QOX3QOI2HV2YTZHKUAR4ZKHNYN5FSHZGQRRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/US2P7OXAIKTL7NCM443F2ZMBBW5RX22WSK6RLT4TIJHTQ7NZSRLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2JTQW6QDWLXSTQUGRLALKXYKHGE7MFWM7DOQ4B7ABHF3Z5XOKUJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIQQKQUJMXOMQHNF6SZOAOTOXPGCGKJGMBLG54CARSD6DO5I5XNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HC5FVFH2WZWUJIV367SE4VLQ2WVETZ5SFRRZT57OEOOFMNZNYPTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GSMABTBH2QCUONLAXDTKRZIMKDYSUMS3X3PVXE5Q5B4BRL23DTRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3UCQMBRLJEAHJZ7E3G2W4QF24H6TMA32JAWEQVUDGPG5F2IBT2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3TRE3I45NIIIXMGK6TZRS44NVXXDTVEEPMFYXLOUU6HR6TTSJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLWTSQVS4Z3TRVAS246RGFHT3BRQ3QGQ43IDNVJ7LC37ES25J4IQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMTSMTKZFL37A3AM4I2GHBMZVOE76EFVEHUHNMIKU4FGWGLXD3GQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADC5UKGCQ75QLXTBC54YRP7L36RSS5PYQ4EJHQCVU4ZPHWV2EJ4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MDZIL6J26XNIAVBLVCVQDQKYSCGQDYM4KJSGL2KMY74GNJV23PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XYHEMKN4HM67RWX3TEERXVGSYROQ6TVKTUX6JBFKI654M6446TA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSWILR7RES7BS3VRRBEQRQEGWGW4JR3PTJHXVPZSA7RXAETKBNDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSDFCEHWD5JB2J4DQ33YXKBH7KF4CJTBFQNUZBUGT225EU2GD3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RU6MECGKELYUGL4IH4XBBMCIUIXMM3K5N37AE443MN35RUXCOZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLCDB2UXCK4LFGH34LBASZM3CW5HKWRXK6SWPCAR7K57DYQXW3DQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4I5SF6QQCGOFRKJJDHAQXFFWJG35GD5FDUBFXIABIGPMBWW2AA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3DOHHWUUQ6K2YDIBWDJ77CAPWW3AHCTHKMLJP4WUNPKAQHSPUBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQCHENQ4DTPGWYVHU7Q4UMTTG3MQZY4MNJ65B3G3ONCLFRLI3JUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJXXXW2KZESAZWDKEUCEDKQKE5G77MLCBA2CX4K73PRO2IZSCKRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUE3A46UN42OHCIP2QC7UYF36VWC7PFDOX2TKSJXSCUATHESTNPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLXZOCETTWKAPKNNWRBRQ22MYQ3KW4L37JTPDP3YMAMBUBCCGI5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X43CDK5JJ2YGPYFRQZTIGQXTO7AYW6MSFUN6VH7QTRKFHIS34MIQ/main.js"
            ]
        },
        "ListKeyDetails": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceType",
                    "Identifier",
                    "StartTime",
                    "EndTime"
                ],
                "members": {
                    "ServiceType": {},
                    "Identifier": {},
                    "SqlId": {},
                    "DigestId": {},
                    "StartTime": {
                        "type": "timestamp"
                    },
                    "EndTime": {
                        "type": "timestamp"
                    },
                    "PeriodInSeconds": {
                        "type": "integer"
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AlignedStartTime": {
                        "type": "timestamp"
                    },
                    "AlignedEndTime": {
                        "type": "timestamp"
                    },
                    "Details": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "SqlId": {},
                                "DetailList": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "required": [
                                            "DetailKeyId",
                                            "DetailType",
                                            "Timestamp"
                                        ],
                                        "members": {
                                            "DetailKeyId": {},
                                            "DetailType": {},
                                            "Timestamp": {
                                                "type": "timestamp"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMJUFHTGO4MKZME5QOX3QOI2HV2YTZHKUAR4ZKHNYN5FSHZGQRRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/US2P7OXAIKTL7NCM443F2ZMBBW5RX22WSK6RLT4TIJHTQ7NZSRLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2JTQW6QDWLXSTQUGRLALKXYKHGE7MFWM7DOQ4B7ABHF3Z5XOKUJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIQQKQUJMXOMQHNF6SZOAOTOXPGCGKJGMBLG54CARSD6DO5I5XNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HC5FVFH2WZWUJIV367SE4VLQ2WVETZ5SFRRZT57OEOOFMNZNYPTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GSMABTBH2QCUONLAXDTKRZIMKDYSUMS3X3PVXE5Q5B4BRL23DTRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3UCQMBRLJEAHJZ7E3G2W4QF24H6TMA32JAWEQVUDGPG5F2IBT2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3TRE3I45NIIIXMGK6TZRS44NVXXDTVEEPMFYXLOUU6HR6TTSJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLWTSQVS4Z3TRVAS246RGFHT3BRQ3QGQ43IDNVJ7LC37ES25J4IQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMTSMTKZFL37A3AM4I2GHBMZVOE76EFVEHUHNMIKU4FGWGLXD3GQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADC5UKGCQ75QLXTBC54YRP7L36RSS5PYQ4EJHQCVU4ZPHWV2EJ4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MDZIL6J26XNIAVBLVCVQDQKYSCGQDYM4KJSGL2KMY74GNJV23PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XYHEMKN4HM67RWX3TEERXVGSYROQ6TVKTUX6JBFKI654M6446TA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSWILR7RES7BS3VRRBEQRQEGWGW4JR3PTJHXVPZSA7RXAETKBNDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSDFCEHWD5JB2J4DQ33YXKBH7KF4CJTBFQNUZBUGT225EU2GD3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RU6MECGKELYUGL4IH4XBBMCIUIXMM3K5N37AE443MN35RUXCOZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLCDB2UXCK4LFGH34LBASZM3CW5HKWRXK6SWPCAR7K57DYQXW3DQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4I5SF6QQCGOFRKJJDHAQXFFWJG35GD5FDUBFXIABIGPMBWW2AA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3DOHHWUUQ6K2YDIBWDJ77CAPWW3AHCTHKMLJP4WUNPKAQHSPUBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQCHENQ4DTPGWYVHU7Q4UMTTG3MQZY4MNJ65B3G3ONCLFRLI3JUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJXXXW2KZESAZWDKEUCEDKQKE5G77MLCBA2CX4K73PRO2IZSCKRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUE3A46UN42OHCIP2QC7UYF36VWC7PFDOX2TKSJXSCUATHESTNPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLXZOCETTWKAPKNNWRBRQ22MYQ3KW4L37JTPDP3YMAMBUBCCGI5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X43CDK5JJ2YGPYFRQZTIGQXTO7AYW6MSFUN6VH7QTRKFHIS34MIQ/main.js"
            ]
        },
        "ModifyInsight": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceType",
                    "InsightId",
                    "Archived"
                ],
                "members": {
                    "ServiceType": {},
                    "InsightId": {},
                    "Archived": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Insight": {
                        "shape": "S1s"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMJUFHTGO4MKZME5QOX3QOI2HV2YTZHKUAR4ZKHNYN5FSHZGQRRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/US2P7OXAIKTL7NCM443F2ZMBBW5RX22WSK6RLT4TIJHTQ7NZSRLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2JTQW6QDWLXSTQUGRLALKXYKHGE7MFWM7DOQ4B7ABHF3Z5XOKUJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIQQKQUJMXOMQHNF6SZOAOTOXPGCGKJGMBLG54CARSD6DO5I5XNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HC5FVFH2WZWUJIV367SE4VLQ2WVETZ5SFRRZT57OEOOFMNZNYPTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GSMABTBH2QCUONLAXDTKRZIMKDYSUMS3X3PVXE5Q5B4BRL23DTRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3UCQMBRLJEAHJZ7E3G2W4QF24H6TMA32JAWEQVUDGPG5F2IBT2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3TRE3I45NIIIXMGK6TZRS44NVXXDTVEEPMFYXLOUU6HR6TTSJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLWTSQVS4Z3TRVAS246RGFHT3BRQ3QGQ43IDNVJ7LC37ES25J4IQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMTSMTKZFL37A3AM4I2GHBMZVOE76EFVEHUHNMIKU4FGWGLXD3GQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADC5UKGCQ75QLXTBC54YRP7L36RSS5PYQ4EJHQCVU4ZPHWV2EJ4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MDZIL6J26XNIAVBLVCVQDQKYSCGQDYM4KJSGL2KMY74GNJV23PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XYHEMKN4HM67RWX3TEERXVGSYROQ6TVKTUX6JBFKI654M6446TA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSWILR7RES7BS3VRRBEQRQEGWGW4JR3PTJHXVPZSA7RXAETKBNDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSDFCEHWD5JB2J4DQ33YXKBH7KF4CJTBFQNUZBUGT225EU2GD3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RU6MECGKELYUGL4IH4XBBMCIUIXMM3K5N37AE443MN35RUXCOZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLCDB2UXCK4LFGH34LBASZM3CW5HKWRXK6SWPCAR7K57DYQXW3DQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4I5SF6QQCGOFRKJJDHAQXFFWJG35GD5FDUBFXIABIGPMBWW2AA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3DOHHWUUQ6K2YDIBWDJ77CAPWW3AHCTHKMLJP4WUNPKAQHSPUBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQCHENQ4DTPGWYVHU7Q4UMTTG3MQZY4MNJ65B3G3ONCLFRLI3JUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJXXXW2KZESAZWDKEUCEDKQKE5G77MLCBA2CX4K73PRO2IZSCKRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUE3A46UN42OHCIP2QC7UYF36VWC7PFDOX2TKSJXSCUATHESTNPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLXZOCETTWKAPKNNWRBRQ22MYQ3KW4L37JTPDP3YMAMBUBCCGI5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X43CDK5JJ2YGPYFRQZTIGQXTO7AYW6MSFUN6VH7QTRKFHIS34MIQ/main.js"
            ]
        },
        "PutInsightFeedback": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceType",
                    "FeedbackType"
                ],
                "members": {
                    "ServiceType": {},
                    "InsightId": {},
                    "FeedbackType": {},
                    "ArchiveInsightDetails": {
                        "type": "structure",
                        "members": {
                            "ArchiveReason": {},
                            "Comments": {
                                "shape": "S46"
                            }
                        }
                    },
                    "SeverityUpdateDetails": {
                        "type": "structure",
                        "required": [
                            "From",
                            "To"
                        ],
                        "members": {
                            "From": {},
                            "To": {},
                            "Comments": {
                                "shape": "S46"
                            }
                        }
                    },
                    "VoteDetails": {
                        "type": "structure",
                        "required": [
                            "VoteTarget",
                            "Vote"
                        ],
                        "members": {
                            "VoteTarget": {},
                            "VoteTargetIdentifier": {},
                            "Vote": {},
                            "Comments": {
                                "shape": "S46"
                            }
                        }
                    },
                    "MissingInsightDetails": {
                        "type": "structure",
                        "required": [
                            "Identifier"
                        ],
                        "members": {
                            "Identifier": {},
                            "StartTime": {
                                "type": "timestamp"
                            },
                            "EndTime": {
                                "type": "timestamp"
                            },
                            "RelatedMetrics": {
                                "type": "list",
                                "member": {}
                            },
                            "Comments": {
                                "shape": "S46"
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMJUFHTGO4MKZME5QOX3QOI2HV2YTZHKUAR4ZKHNYN5FSHZGQRRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/US2P7OXAIKTL7NCM443F2ZMBBW5RX22WSK6RLT4TIJHTQ7NZSRLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2JTQW6QDWLXSTQUGRLALKXYKHGE7MFWM7DOQ4B7ABHF3Z5XOKUJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIQQKQUJMXOMQHNF6SZOAOTOXPGCGKJGMBLG54CARSD6DO5I5XNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HC5FVFH2WZWUJIV367SE4VLQ2WVETZ5SFRRZT57OEOOFMNZNYPTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GSMABTBH2QCUONLAXDTKRZIMKDYSUMS3X3PVXE5Q5B4BRL23DTRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3UCQMBRLJEAHJZ7E3G2W4QF24H6TMA32JAWEQVUDGPG5F2IBT2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3TRE3I45NIIIXMGK6TZRS44NVXXDTVEEPMFYXLOUU6HR6TTSJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLWTSQVS4Z3TRVAS246RGFHT3BRQ3QGQ43IDNVJ7LC37ES25J4IQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMTSMTKZFL37A3AM4I2GHBMZVOE76EFVEHUHNMIKU4FGWGLXD3GQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADC5UKGCQ75QLXTBC54YRP7L36RSS5PYQ4EJHQCVU4ZPHWV2EJ4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MDZIL6J26XNIAVBLVCVQDQKYSCGQDYM4KJSGL2KMY74GNJV23PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XYHEMKN4HM67RWX3TEERXVGSYROQ6TVKTUX6JBFKI654M6446TA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSWILR7RES7BS3VRRBEQRQEGWGW4JR3PTJHXVPZSA7RXAETKBNDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSDFCEHWD5JB2J4DQ33YXKBH7KF4CJTBFQNUZBUGT225EU2GD3CQ/main.js",
[...]
