{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-02-27",
        "endpointPrefix": "pi",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceAbbreviation": "AWS PI",
        "serviceFullName": "AWS Performance Insights",
        "serviceId": "PI",
        "signatureVersion": "v4",
        "signingName": "pi",
        "targetPrefix": "PerformanceInsightsv20180227",
        "uid": "pi-2018-02-27",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J4NV3ASZD3H4PAEO6VOSZGEUR3IU72IGVLLG25SFTCPCO6DYHG7Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/66AWVQKGA75UBJPOM4QK5WN2NKN752CS5ESGPSP7AIILAUQ7OCWQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4RU6MECGKELYUGL4IH4XBBMCIUIXMM3K5N37AE443MN35RUXCOZA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7DUUSH66VMAHFMPL7QWG5HKUBB4W3ES3XP7O3PT4AZPT4IXDBOOQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GSANGXREOMWMKMRK6VIBYUZVCGDIIWIYOVB6WZNFH7N3UI2QNXJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6IUOZMUV2VZA5ZCATX2P5CC5AGFSUNBFGG47AM64Z2QJZ66WNE7Q/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GDCI4PIC5KJKTSU5SLDVTETW6BWQPL7LE7L6LUVR36Y4UVBFE2HA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
        ]
    },
    "operations": {
        "CreatePerformanceAnalysisReport": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceType",
                    "Identifier",
                    "StartTime",
                    "EndTime"
                ],
                "members": {
                    "ServiceType": {},
                    "Identifier": {},
                    "StartTime": {
                        "type": "timestamp"
                    },
                    "EndTime": {
                        "type": "timestamp"
                    },
                    "Tags": {
                        "shape": "S5"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AnalysisReportId": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFP62HYEV425J45GXOZZGTNI7NBOO6H3DTTEZ6UOOC44ZEV5XZEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7GUEQSLQTHEXWH4ABCPARAJTE5EEC3N27IYFKJAYWNUAHQ73VRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJA45JT5NTJS6TZPOK72CQVSMGGYRE4WZF4YX76V57WE62MPBWAA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD6NP3ZZFWIC67DQRLD3EKQXVBLEPKZC5F45AATJ5QNICPRLXIFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQDWQCILPOD7AFZAM3K2QUPKXUPK6ONAD4BX6OKZN322SPOSEMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QI3YUS6EZMNJM5SRAHAISVBMDTCWSEINBHMEJLD7AQ7ZPDTHCMMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2EZNCTODOZLGM2CTQ2OPHQOOPBCFWEW32V7DEMBI4BIVBPBSHNWQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTVBEMOSOZEHSFNBN25OLLAYRBGTOWIOX53GGSNVBKTEVA7ZX7ZQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JX3TO3LBHDYQ3TX5FT6I57XNXZ4FO7JFVMIXCALBLIOV5KJNID5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZCWQYK4FLLFGDSEMWYBJBRBEHBCBZ2V23DQZRFTICFSGBFVCEQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJO23KFOMOXKS46NUKXVXJLSTCMJYN7WMLKP2LRMXA3OZR2DFQPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5Z5FYMEDDR25YXTL2SWM5GI6UQRQA37GNOILOAXUFDR5BXKUPVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js"
            ]
        },
        "DescribeDimensionKeys": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceType",
                    "Identifier",
                    "StartTime",
                    "EndTime",
                    "Metric",
                    "GroupBy"
                ],
                "members": {
                    "ServiceType": {},
                    "Identifier": {},
                    "StartTime": {
                        "type": "timestamp"
                    },
                    "EndTime": {
                        "type": "timestamp"
                    },
                    "Metric": {},
                    "PeriodInSeconds": {
                        "type": "integer"
                    },
                    "GroupBy": {
                        "shape": "S9"
                    },
                    "AdditionalMetrics": {
                        "type": "list",
                        "member": {}
                    },
                    "PartitionBy": {
                        "shape": "S9"
                    },
                    "Filter": {
                        "shape": "Sd"
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {},
                    "GroupMetrics": {
                        "internalonly": true,
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AlignedStartTime": {
                        "type": "timestamp"
                    },
                    "AlignedEndTime": {
                        "type": "timestamp"
                    },
                    "PartitionKeys": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Dimensions"
                            ],
                            "members": {
                                "Dimensions": {
                                    "shape": "Sj"
                                }
                            }
                        }
                    },
                    "Keys": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Dimensions": {
                                    "shape": "Sj"
                                },
                                "Total": {
                                    "type": "double"
                                },
                                "AdditionalMetrics": {
                                    "type": "map",
                                    "key": {},
                                    "value": {
                                        "type": "double"
                                    }
                                },
                                "Partitions": {
                                    "type": "list",
                                    "member": {
                                        "type": "double"
                                    }
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66AWVQKGA75UBJPOM4QK5WN2NKN752CS5ESGPSP7AIILAUQ7OCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RU6MECGKELYUGL4IH4XBBMCIUIXMM3K5N37AE443MN35RUXCOZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DUUSH66VMAHFMPL7QWG5HKUBB4W3ES3XP7O3PT4AZPT4IXDBOOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GSANGXREOMWMKMRK6VIBYUZVCGDIIWIYOVB6WZNFH7N3UI2QNXJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IUOZMUV2VZA5ZCATX2P5CC5AGFSUNBFGG47AM64Z2QJZ66WNE7Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDCI4PIC5KJKTSU5SLDVTETW6BWQPL7LE7L6LUVR36Y4UVBFE2HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "GetDimensionKeyDetails": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceType",
                    "Identifier",
                    "Group",
                    "GroupIdentifier"
                ],
                "members": {
                    "ServiceType": {},
                    "Identifier": {},
                    "Group": {},
                    "GroupIdentifier": {},
                    "RequestedDimensions": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Dimensions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Value": {},
                                "Dimension": {},
                                "Status": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IT37AQ55VNRFM5EWRLTZWCJKS5R6D5NQACIPC2VHKB564B6XFCTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT7FMYLRGZAHKTR34LSFC6S3R6B6I3GRAQKAVQOJUCYJ6TA6PJ7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MY6XTG3Y345DKGRIXJW67HMJ6JEUWR2FCBPRHY2BHBAGLTU2RINA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IUOZMUV2VZA5ZCATX2P5CC5AGFSUNBFGG47AM64Z2QJZ66WNE7Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66AWVQKGA75UBJPOM4QK5WN2NKN752CS5ESGPSP7AIILAUQ7OCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DUUSH66VMAHFMPL7QWG5HKUBB4W3ES3XP7O3PT4AZPT4IXDBOOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RU6MECGKELYUGL4IH4XBBMCIUIXMM3K5N37AE443MN35RUXCOZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GSANGXREOMWMKMRK6VIBYUZVCGDIIWIYOVB6WZNFH7N3UI2QNXJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDCI4PIC5KJKTSU5SLDVTETW6BWQPL7LE7L6LUVR36Y4UVBFE2HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "GetPerformanceAnalysisReport": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceType",
                    "Identifier",
                    "AnalysisReportId"
                ],
                "members": {
                    "ServiceType": {},
                    "Identifier": {},
                    "AnalysisReportId": {},
                    "TextFormat": {},
                    "AcceptLanguage": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AnalysisReport": {
                        "type": "structure",
                        "required": [
                            "AnalysisReportId"
                        ],
                        "members": {
                            "AnalysisReportId": {},
                            "Identifier": {},
                            "ServiceType": {},
                            "CreateTime": {
                                "type": "timestamp"
                            },
                            "StartTime": {
                                "type": "timestamp"
                            },
                            "EndTime": {
                                "type": "timestamp"
                            },
                            "Status": {},
                            "Insights": {
                                "shape": "S12"
                            }
                        }
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFP62HYEV425J45GXOZZGTNI7NBOO6H3DTTEZ6UOOC44ZEV5XZEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7GUEQSLQTHEXWH4ABCPARAJTE5EEC3N27IYFKJAYWNUAHQ73VRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJA45JT5NTJS6TZPOK72CQVSMGGYRE4WZF4YX76V57WE62MPBWAA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD6NP3ZZFWIC67DQRLD3EKQXVBLEPKZC5F45AATJ5QNICPRLXIFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQDWQCILPOD7AFZAM3K2QUPKXUPK6ONAD4BX6OKZN322SPOSEMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QI3YUS6EZMNJM5SRAHAISVBMDTCWSEINBHMEJLD7AQ7ZPDTHCMMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2EZNCTODOZLGM2CTQ2OPHQOOPBCFWEW32V7DEMBI4BIVBPBSHNWQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTVBEMOSOZEHSFNBN25OLLAYRBGTOWIOX53GGSNVBKTEVA7ZX7ZQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JX3TO3LBHDYQ3TX5FT6I57XNXZ4FO7JFVMIXCALBLIOV5KJNID5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZCWQYK4FLLFGDSEMWYBJBRBEHBCBZ2V23DQZRFTICFSGBFVCEQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJO23KFOMOXKS46NUKXVXJLSTCMJYN7WMLKP2LRMXA3OZR2DFQPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5Z5FYMEDDR25YXTL2SWM5GI6UQRQA37GNOILOAXUFDR5BXKUPVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js"
            ]
        },
        "GetResourceMetadata": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceType",
                    "Identifier"
                ],
                "members": {
                    "ServiceType": {},
                    "Identifier": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Identifier": {},
                    "Features": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "type": "structure",
                            "members": {
                                "Status": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RU6MECGKELYUGL4IH4XBBMCIUIXMM3K5N37AE443MN35RUXCOZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJO23KFOMOXKS46NUKXVXJLSTCMJYN7WMLKP2LRMXA3OZR2DFQPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5Z5FYMEDDR25YXTL2SWM5GI6UQRQA37GNOILOAXUFDR5BXKUPVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJOVZHJKR5CZ6DCCB545CZ3PRCRYJ24DFU2PKZXLDALNRVNPPOMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S5YVPE53ACLH5MQNJVT6Q2OVNTWMHE4UE5245TZ7WUY2GCO2PGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34QJ7YMEQI4OAE45KPZQFIKOO7CSPF4MPEGHPOJKJUFFFL7TIWOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D2WL65OVEJVE2YFXYGEJ43LQC2U632QNHP2WKZJYC7JGGIZC6QOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHZMAUYEKTX4WC2QCNMX5LYDEIKWXF7T2MYNMHCJJAM25T75HMRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MY6XTG3Y345DKGRIXJW67HMJ6JEUWR2FCBPRHY2BHBAGLTU2RINA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DUUSH66VMAHFMPL7QWG5HKUBB4W3ES3XP7O3PT4AZPT4IXDBOOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GSANGXREOMWMKMRK6VIBYUZVCGDIIWIYOVB6WZNFH7N3UI2QNXJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDCI4PIC5KJKTSU5SLDVTETW6BWQPL7LE7L6LUVR36Y4UVBFE2HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js"
            ]
        },
        "GetResourceMetrics": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceType",
                    "Identifier",
                    "MetricQueries",
                    "StartTime",
                    "EndTime"
                ],
                "members": {
                    "ServiceType": {},
                    "Identifier": {},
                    "MetricQueries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Metric"
                            ],
                            "members": {
                                "Metric": {},
                                "GroupBy": {
                                    "shape": "S9"
                                },
                                "Filter": {
                                    "shape": "Sd"
                                }
                            }
                        }
                    },
                    "StartTime": {
                        "type": "timestamp"
                    },
                    "EndTime": {
                        "type": "timestamp"
                    },
                    "PeriodInSeconds": {
                        "type": "integer"
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {},
                    "PeriodAlignment": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AlignedStartTime": {
                        "type": "timestamp"
                    },
                    "AlignedEndTime": {
                        "type": "timestamp"
                    },
                    "Identifier": {},
                    "MetricList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Key": {
                                    "type": "structure",
                                    "required": [
                                        "Metric"
                                    ],
                                    "members": {
                                        "Metric": {},
                                        "Dimensions": {
                                            "shape": "Sj"
                                        }
                                    }
                                },
                                "DataPoints": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "required": [
                                            "Timestamp",
                                            "Value"
                                        ],
                                        "members": {
                                            "Timestamp": {
                                                "type": "timestamp"
                                            },
                                            "Value": {
                                                "type": "double"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66AWVQKGA75UBJPOM4QK5WN2NKN752CS5ESGPSP7AIILAUQ7OCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RU6MECGKELYUGL4IH4XBBMCIUIXMM3K5N37AE443MN35RUXCOZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DUUSH66VMAHFMPL7QWG5HKUBB4W3ES3XP7O3PT4AZPT4IXDBOOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GSANGXREOMWMKMRK6VIBYUZVCGDIIWIYOVB6WZNFH7N3UI2QNXJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IUOZMUV2VZA5ZCATX2P5CC5AGFSUNBFGG47AM64Z2QJZ66WNE7Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDCI4PIC5KJKTSU5SLDVTETW6BWQPL7LE7L6LUVR36Y4UVBFE2HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "ListAvailableResourceDimensions": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceType",
                    "Identifier",
                    "Metrics"
                ],
                "members": {
                    "ServiceType": {},
                    "Identifier": {},
                    "Metrics": {
                        "type": "list",
                        "member": {}
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "MetricDimensions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Metric": {},
                                "Groups": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "Group": {},
                                            "Dimensions": {
                                                "type": "list",
                                                "member": {
                                                    "type": "structure",
                                                    "members": {
                                                        "Identifier": {}
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RU6MECGKELYUGL4IH4XBBMCIUIXMM3K5N37AE443MN35RUXCOZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJO23KFOMOXKS46NUKXVXJLSTCMJYN7WMLKP2LRMXA3OZR2DFQPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5Z5FYMEDDR25YXTL2SWM5GI6UQRQA37GNOILOAXUFDR5BXKUPVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJOVZHJKR5CZ6DCCB545CZ3PRCRYJ24DFU2PKZXLDALNRVNPPOMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S5YVPE53ACLH5MQNJVT6Q2OVNTWMHE4UE5245TZ7WUY2GCO2PGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34QJ7YMEQI4OAE45KPZQFIKOO7CSPF4MPEGHPOJKJUFFFL7TIWOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D2WL65OVEJVE2YFXYGEJ43LQC2U632QNHP2WKZJYC7JGGIZC6QOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHZMAUYEKTX4WC2QCNMX5LYDEIKWXF7T2MYNMHCJJAM25T75HMRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MY6XTG3Y345DKGRIXJW67HMJ6JEUWR2FCBPRHY2BHBAGLTU2RINA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DUUSH66VMAHFMPL7QWG5HKUBB4W3ES3XP7O3PT4AZPT4IXDBOOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GSANGXREOMWMKMRK6VIBYUZVCGDIIWIYOVB6WZNFH7N3UI2QNXJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDCI4PIC5KJKTSU5SLDVTETW6BWQPL7LE7L6LUVR36Y4UVBFE2HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js"
            ]
        },
        "ListAvailableResourceMetrics": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceType",
                    "Identifier",
                    "MetricTypes"
                ],
                "members": {
                    "ServiceType": {},
                    "Identifier": {},
                    "MetricTypes": {
                        "type": "list",
                        "member": {}
                    },
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Metrics": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Metric": {},
                                "Description": {},
                                "Unit": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RU6MECGKELYUGL4IH4XBBMCIUIXMM3K5N37AE443MN35RUXCOZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJO23KFOMOXKS46NUKXVXJLSTCMJYN7WMLKP2LRMXA3OZR2DFQPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5Z5FYMEDDR25YXTL2SWM5GI6UQRQA37GNOILOAXUFDR5BXKUPVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJOVZHJKR5CZ6DCCB545CZ3PRCRYJ24DFU2PKZXLDALNRVNPPOMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S5YVPE53ACLH5MQNJVT6Q2OVNTWMHE4UE5245TZ7WUY2GCO2PGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34QJ7YMEQI4OAE45KPZQFIKOO7CSPF4MPEGHPOJKJUFFFL7TIWOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D2WL65OVEJVE2YFXYGEJ43LQC2U632QNHP2WKZJYC7JGGIZC6QOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHZMAUYEKTX4WC2QCNMX5LYDEIKWXF7T2MYNMHCJJAM25T75HMRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MY6XTG3Y345DKGRIXJW67HMJ6JEUWR2FCBPRHY2BHBAGLTU2RINA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DUUSH66VMAHFMPL7QWG5HKUBB4W3ES3XP7O3PT4AZPT4IXDBOOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GSANGXREOMWMKMRK6VIBYUZVCGDIIWIYOVB6WZNFH7N3UI2QNXJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDCI4PIC5KJKTSU5SLDVTETW6BWQPL7LE7L6LUVR36Y4UVBFE2HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js"
            ]
        },
        "ListPerformanceAnalysisReports": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceType",
                    "Identifier"
                ],
                "members": {
                    "ServiceType": {},
                    "Identifier": {},
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "ListTags": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AnalysisReports": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "AnalysisReportId": {},
                                "CreationTime": {
                                    "type": "timestamp"
                                },
                                "StartTime": {
                                    "type": "timestamp"
                                },
                                "EndTime": {
                                    "type": "timestamp"
                                },
                                "Status": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFP62HYEV425J45GXOZZGTNI7NBOO6H3DTTEZ6UOOC44ZEV5XZEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7GUEQSLQTHEXWH4ABCPARAJTE5EEC3N27IYFKJAYWNUAHQ73VRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJA45JT5NTJS6TZPOK72CQVSMGGYRE4WZF4YX76V57WE62MPBWAA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD6NP3ZZFWIC67DQRLD3EKQXVBLEPKZC5F45AATJ5QNICPRLXIFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQDWQCILPOD7AFZAM3K2QUPKXUPK6ONAD4BX6OKZN322SPOSEMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QI3YUS6EZMNJM5SRAHAISVBMDTCWSEINBHMEJLD7AQ7ZPDTHCMMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2EZNCTODOZLGM2CTQ2OPHQOOPBCFWEW32V7DEMBI4BIVBPBSHNWQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTVBEMOSOZEHSFNBN25OLLAYRBGTOWIOX53GGSNVBKTEVA7ZX7ZQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JX3TO3LBHDYQ3TX5FT6I57XNXZ4FO7JFVMIXCALBLIOV5KJNID5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZCWQYK4FLLFGDSEMWYBJBRBEHBCBZ2V23DQZRFTICFSGBFVCEQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJO23KFOMOXKS46NUKXVXJLSTCMJYN7WMLKP2LRMXA3OZR2DFQPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5Z5FYMEDDR25YXTL2SWM5GI6UQRQA37GNOILOAXUFDR5BXKUPVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js"
            ]
        },
        "BatchGetResourceMetrics": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceType",
                    "Identifiers",
                    "MetricQueries",
                    "StartTime",
                    "EndTime"
                ],
                "members": {
                    "ServiceType": {},
                    "Identifiers": {
                        "shape": "S3"
                    },
                    "MetricQueries": {
                        "shape": "S5"
                    },
                    "StartTime": {
                        "type": "timestamp"
                    },
                    "EndTime": {
                        "type": "timestamp"
                    },
                    "PeriodInSeconds": {
                        "type": "integer"
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AlignedStartTime": {
                        "type": "timestamp"
                    },
                    "AlignedEndTime": {
                        "type": "timestamp"
                    },
                    "Identifiers": {
                        "shape": "S3"
                    },
                    "MetricList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Key": {
                                    "shape": "Sh"
                                },
                                "DataPoints": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "required": [
                                            "Timestamp",
                                            "Values"
                                        ],
                                        "members": {
                                            "Timestamp": {
                                                "type": "timestamp"
                                            },
                                            "Values": {
                                                "shape": "Sm"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "Errors": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Identifier": {},
                                "Code": {},
                                "Message": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2ZFG5YBFHRQKXNHPSO4V5BYD6UCYL5P55MHJI4U4SZ6VJAWIPZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BK6DSOKNMFWVFPH764PC3IYDOVEDF3VE5PYBAZPX4ZS7ILORJAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4N55A6J3RXWSLAHCY27DH6GWKSZVSHGYWJT7D77LXVT6BOMNPDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NFWSDZCV33OQMRAATM537YCJNVK5MEB377LFWF27G27IONSJ2YA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GF3WZWVHX4T4ABPPLIWHALEEBNJUCQMFNWTDDHGCZ6VZ4QVG44BA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXNJQ54CA55ERMDYOKM6JET2SRICRDDF46C32KUBL5452FXI5ZUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WCFJRNHPZ7W5SWEJFQ6ZJYKD7HQRI3DPGD465I5MDGABRTRAJMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E4OY4PEO77CQOV27CB3RC6NVLJ3MKEUCTPHJVBPVDZS2TYXAU7AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMJUFHTGO4MKZME5QOX3QOI2HV2YTZHKUAR4ZKHNYN5FSHZGQRRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/US2P7OXAIKTL7NCM443F2ZMBBW5RX22WSK6RLT4TIJHTQ7NZSRLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2JTQW6QDWLXSTQUGRLALKXYKHGE7MFWM7DOQ4B7ABHF3Z5XOKUJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIQQKQUJMXOMQHNF6SZOAOTOXPGCGKJGMBLG54CARSD6DO5I5XNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HC5FVFH2WZWUJIV367SE4VLQ2WVETZ5SFRRZT57OEOOFMNZNYPTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GSMABTBH2QCUONLAXDTKRZIMKDYSUMS3X3PVXE5Q5B4BRL23DTRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3UCQMBRLJEAHJZ7E3G2W4QF24H6TMA32JAWEQVUDGPG5F2IBT2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3TRE3I45NIIIXMGK6TZRS44NVXXDTVEEPMFYXLOUU6HR6TTSJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLWTSQVS4Z3TRVAS246RGFHT3BRQ3QGQ43IDNVJ7LC37ES25J4IQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMTSMTKZFL37A3AM4I2GHBMZVOE76EFVEHUHNMIKU4FGWGLXD3GQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADC5UKGCQ75QLXTBC54YRP7L36RSS5PYQ4EJHQCVU4ZPHWV2EJ4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MDZIL6J26XNIAVBLVCVQDQKYSCGQDYM4KJSGL2KMY74GNJV23PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XYHEMKN4HM67RWX3TEERXVGSYROQ6TVKTUX6JBFKI654M6446TA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSWILR7RES7BS3VRRBEQRQEGWGW4JR3PTJHXVPZSA7RXAETKBNDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSDFCEHWD5JB2J4DQ33YXKBH7KF4CJTBFQNUZBUGT225EU2GD3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RU6MECGKELYUGL4IH4XBBMCIUIXMM3K5N37AE443MN35RUXCOZA/main.js"
            ]
        },
        "CheckUserPermission": {
            "input": {
                "type": "structure",
                "members": {
                    "ServiceType": {},
                    "Identifier": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Result": {},
                    "Details": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2ZFG5YBFHRQKXNHPSO4V5BYD6UCYL5P55MHJI4U4SZ6VJAWIPZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BK6DSOKNMFWVFPH764PC3IYDOVEDF3VE5PYBAZPX4ZS7ILORJAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4N55A6J3RXWSLAHCY27DH6GWKSZVSHGYWJT7D77LXVT6BOMNPDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NFWSDZCV33OQMRAATM537YCJNVK5MEB377LFWF27G27IONSJ2YA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GF3WZWVHX4T4ABPPLIWHALEEBNJUCQMFNWTDDHGCZ6VZ4QVG44BA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXNJQ54CA55ERMDYOKM6JET2SRICRDDF46C32KUBL5452FXI5ZUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WCFJRNHPZ7W5SWEJFQ6ZJYKD7HQRI3DPGD465I5MDGABRTRAJMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E4OY4PEO77CQOV27CB3RC6NVLJ3MKEUCTPHJVBPVDZS2TYXAU7AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMJUFHTGO4MKZME5QOX3QOI2HV2YTZHKUAR4ZKHNYN5FSHZGQRRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/US2P7OXAIKTL7NCM443F2ZMBBW5RX22WSK6RLT4TIJHTQ7NZSRLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2JTQW6QDWLXSTQUGRLALKXYKHGE7MFWM7DOQ4B7ABHF3Z5XOKUJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIQQKQUJMXOMQHNF6SZOAOTOXPGCGKJGMBLG54CARSD6DO5I5XNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HC5FVFH2WZWUJIV367SE4VLQ2WVETZ5SFRRZT57OEOOFMNZNYPTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GSMABTBH2QCUONLAXDTKRZIMKDYSUMS3X3PVXE5Q5B4BRL23DTRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3UCQMBRLJEAHJZ7E3G2W4QF24H6TMA32JAWEQVUDGPG5F2IBT2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3TRE3I45NIIIXMGK6TZRS44NVXXDTVEEPMFYXLOUU6HR6TTSJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLWTSQVS4Z3TRVAS246RGFHT3BRQ3QGQ43IDNVJ7LC37ES25J4IQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMTSMTKZFL37A3AM4I2GHBMZVOE76EFVEHUHNMIKU4FGWGLXD3GQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADC5UKGCQ75QLXTBC54YRP7L36RSS5PYQ4EJHQCVU4ZPHWV2EJ4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MDZIL6J26XNIAVBLVCVQDQKYSCGQDYM4KJSGL2KMY74GNJV23PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XYHEMKN4HM67RWX3TEERXVGSYROQ6TVKTUX6JBFKI654M6446TA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSWILR7RES7BS3VRRBEQRQEGWGW4JR3PTJHXVPZSA7RXAETKBNDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSDFCEHWD5JB2J4DQ33YXKBH7KF4CJTBFQNUZBUGT225EU2GD3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RU6MECGKELYUGL4IH4XBBMCIUIXMM3K5N37AE443MN35RUXCOZA/main.js"
            ]
        },
        "DescribeCounterMetrics": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceType"
                ],
                "members": {
                    "ServiceType": {},
                    "Identifier": {},
                    "Engine": {
                        "type": "structure",
                        "required": [
                            "Name"
                        ],
                        "members": {
                            "Name": {},
                            "Version": {}
                        }
                    },
                    "Metrics": {
                        "type": "list",
                        "member": {}
                    },
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Metrics": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Metric": {},
                                "Description": {},
                                "Unit": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2ZFG5YBFHRQKXNHPSO4V5BYD6UCYL5P55MHJI4U4SZ6VJAWIPZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BK6DSOKNMFWVFPH764PC3IYDOVEDF3VE5PYBAZPX4ZS7ILORJAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4N55A6J3RXWSLAHCY27DH6GWKSZVSHGYWJT7D77LXVT6BOMNPDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NFWSDZCV33OQMRAATM537YCJNVK5MEB377LFWF27G27IONSJ2YA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GF3WZWVHX4T4ABPPLIWHALEEBNJUCQMFNWTDDHGCZ6VZ4QVG44BA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXNJQ54CA55ERMDYOKM6JET2SRICRDDF46C32KUBL5452FXI5ZUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WCFJRNHPZ7W5SWEJFQ6ZJYKD7HQRI3DPGD465I5MDGABRTRAJMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E4OY4PEO77CQOV27CB3RC6NVLJ3MKEUCTPHJVBPVDZS2TYXAU7AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMJUFHTGO4MKZME5QOX3QOI2HV2YTZHKUAR4ZKHNYN5FSHZGQRRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/US2P7OXAIKTL7NCM443F2ZMBBW5RX22WSK6RLT4TIJHTQ7NZSRLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2JTQW6QDWLXSTQUGRLALKXYKHGE7MFWM7DOQ4B7ABHF3Z5XOKUJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIQQKQUJMXOMQHNF6SZOAOTOXPGCGKJGMBLG54CARSD6DO5I5XNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HC5FVFH2WZWUJIV367SE4VLQ2WVETZ5SFRRZT57OEOOFMNZNYPTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GSMABTBH2QCUONLAXDTKRZIMKDYSUMS3X3PVXE5Q5B4BRL23DTRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3UCQMBRLJEAHJZ7E3G2W4QF24H6TMA32JAWEQVUDGPG5F2IBT2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3TRE3I45NIIIXMGK6TZRS44NVXXDTVEEPMFYXLOUU6HR6TTSJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLWTSQVS4Z3TRVAS246RGFHT3BRQ3QGQ43IDNVJ7LC37ES25J4IQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMTSMTKZFL37A3AM4I2GHBMZVOE76EFVEHUHNMIKU4FGWGLXD3GQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADC5UKGCQ75QLXTBC54YRP7L36RSS5PYQ4EJHQCVU4ZPHWV2EJ4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MDZIL6J26XNIAVBLVCVQDQKYSCGQDYM4KJSGL2KMY74GNJV23PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XYHEMKN4HM67RWX3TEERXVGSYROQ6TVKTUX6JBFKI654M6446TA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSWILR7RES7BS3VRRBEQRQEGWGW4JR3PTJHXVPZSA7RXAETKBNDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSDFCEHWD5JB2J4DQ33YXKBH7KF4CJTBFQNUZBUGT225EU2GD3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RU6MECGKELYUGL4IH4XBBMCIUIXMM3K5N37AE443MN35RUXCOZA/main.js"
            ]
        },
        "DescribeDimensions": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceType"
                ],
                "members": {
                    "ServiceType": {},
                    "Identifier": {},
                    "ResourceType": {
                        "type": "structure",
                        "required": [
                            "Name"
                        ],
                        "members": {
                            "Name": {},
                            "Version": {}
                        }
                    },
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Dimensions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Description": {},
                                "Dimension": {},
                                "Group": {},
                                "Name": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2ZFG5YBFHRQKXNHPSO4V5BYD6UCYL5P55MHJI4U4SZ6VJAWIPZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BK6DSOKNMFWVFPH764PC3IYDOVEDF3VE5PYBAZPX4ZS7ILORJAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4N55A6J3RXWSLAHCY27DH6GWKSZVSHGYWJT7D77LXVT6BOMNPDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NFWSDZCV33OQMRAATM537YCJNVK5MEB377LFWF27G27IONSJ2YA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GF3WZWVHX4T4ABPPLIWHALEEBNJUCQMFNWTDDHGCZ6VZ4QVG44BA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXNJQ54CA55ERMDYOKM6JET2SRICRDDF46C32KUBL5452FXI5ZUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WCFJRNHPZ7W5SWEJFQ6ZJYKD7HQRI3DPGD465I5MDGABRTRAJMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E4OY4PEO77CQOV27CB3RC6NVLJ3MKEUCTPHJVBPVDZS2TYXAU7AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMJUFHTGO4MKZME5QOX3QOI2HV2YTZHKUAR4ZKHNYN5FSHZGQRRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/US2P7OXAIKTL7NCM443F2ZMBBW5RX22WSK6RLT4TIJHTQ7NZSRLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2JTQW6QDWLXSTQUGRLALKXYKHGE7MFWM7DOQ4B7ABHF3Z5XOKUJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIQQKQUJMXOMQHNF6SZOAOTOXPGCGKJGMBLG54CARSD6DO5I5XNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HC5FVFH2WZWUJIV367SE4VLQ2WVETZ5SFRRZT57OEOOFMNZNYPTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GSMABTBH2QCUONLAXDTKRZIMKDYSUMS3X3PVXE5Q5B4BRL23DTRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3UCQMBRLJEAHJZ7E3G2W4QF24H6TMA32JAWEQVUDGPG5F2IBT2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3TRE3I45NIIIXMGK6TZRS44NVXXDTVEEPMFYXLOUU6HR6TTSJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLWTSQVS4Z3TRVAS246RGFHT3BRQ3QGQ43IDNVJ7LC37ES25J4IQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMTSMTKZFL37A3AM4I2GHBMZVOE76EFVEHUHNMIKU4FGWGLXD3GQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADC5UKGCQ75QLXTBC54YRP7L36RSS5PYQ4EJHQCVU4ZPHWV2EJ4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MDZIL6J26XNIAVBLVCVQDQKYSCGQDYM4KJSGL2KMY74GNJV23PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XYHEMKN4HM67RWX3TEERXVGSYROQ6TVKTUX6JBFKI654M6446TA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSWILR7RES7BS3VRRBEQRQEGWGW4JR3PTJHXVPZSA7RXAETKBNDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSDFCEHWD5JB2J4DQ33YXKBH7KF4CJTBFQNUZBUGT225EU2GD3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RU6MECGKELYUGL4IH4XBBMCIUIXMM3K5N37AE443MN35RUXCOZA/main.js"
            ]
        },
        "DescribeInsights": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceType"
                ],
                "members": {
                    "ServiceType": {},
                    "StartTimeRange": {
                        "type": "structure",
                        "members": {
                            "StartTime": {
                                "type": "timestamp"
                            },
                            "EndTime": {
                                "type": "timestamp"
                            }
                        }
                    },
                    "Identifier": {},
                    "InsightIds": {
                        "type": "list",
                        "member": {}
                    },
                    "Status": {},
                    "SeverityList": {
                        "type": "list",
                        "member": {}
                    },
                    "Archived": {
                        "type": "boolean"
                    },
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Insights": {
                        "type": "list",
                        "member": {
                            "shape": "S1s"
                        }
                    },
                    "NextToken": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2ZFG5YBFHRQKXNHPSO4V5BYD6UCYL5P55MHJI4U4SZ6VJAWIPZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BK6DSOKNMFWVFPH764PC3IYDOVEDF3VE5PYBAZPX4ZS7ILORJAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4N55A6J3RXWSLAHCY27DH6GWKSZVSHGYWJT7D77LXVT6BOMNPDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NFWSDZCV33OQMRAATM537YCJNVK5MEB377LFWF27G27IONSJ2YA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GF3WZWVHX4T4ABPPLIWHALEEBNJUCQMFNWTDDHGCZ6VZ4QVG44BA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXNJQ54CA55ERMDYOKM6JET2SRICRDDF46C32KUBL5452FXI5ZUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WCFJRNHPZ7W5SWEJFQ6ZJYKD7HQRI3DPGD465I5MDGABRTRAJMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E4OY4PEO77CQOV27CB3RC6NVLJ3MKEUCTPHJVBPVDZS2TYXAU7AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMJUFHTGO4MKZME5QOX3QOI2HV2YTZHKUAR4ZKHNYN5FSHZGQRRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/US2P7OXAIKTL7NCM443F2ZMBBW5RX22WSK6RLT4TIJHTQ7NZSRLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2JTQW6QDWLXSTQUGRLALKXYKHGE7MFWM7DOQ4B7ABHF3Z5XOKUJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIQQKQUJMXOMQHNF6SZOAOTOXPGCGKJGMBLG54CARSD6DO5I5XNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HC5FVFH2WZWUJIV367SE4VLQ2WVETZ5SFRRZT57OEOOFMNZNYPTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GSMABTBH2QCUONLAXDTKRZIMKDYSUMS3X3PVXE5Q5B4BRL23DTRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3UCQMBRLJEAHJZ7E3G2W4QF24H6TMA32JAWEQVUDGPG5F2IBT2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3TRE3I45NIIIXMGK6TZRS44NVXXDTVEEPMFYXLOUU6HR6TTSJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLWTSQVS4Z3TRVAS246RGFHT3BRQ3QGQ43IDNVJ7LC37ES25J4IQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMTSMTKZFL37A3AM4I2GHBMZVOE76EFVEHUHNMIKU4FGWGLXD3GQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADC5UKGCQ75QLXTBC54YRP7L36RSS5PYQ4EJHQCVU4ZPHWV2EJ4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MDZIL6J26XNIAVBLVCVQDQKYSCGQDYM4KJSGL2KMY74GNJV23PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XYHEMKN4HM67RWX3TEERXVGSYROQ6TVKTUX6JBFKI654M6446TA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSWILR7RES7BS3VRRBEQRQEGWGW4JR3PTJHXVPZSA7RXAETKBNDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSDFCEHWD5JB2J4DQ33YXKBH7KF4CJTBFQNUZBUGT225EU2GD3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RU6MECGKELYUGL4IH4XBBMCIUIXMM3K5N37AE443MN35RUXCOZA/main.js"
            ]
        },
        "DescribeRecommendation": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceType",
                    "Identifier",
                    "ExecutionPlanId"
                ],
                "members": {
                    "ServiceType": {},
                    "Identifier": {},
                    "ExecutionPlanId": {},
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Recommendations": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "RecommendationType": {},
                                "DatabaseName": {},
                                "TableName": {},
                                "ColumnNames": {
                                    "shape": "S3"
                                },
                                "IndexNames": {
                                    "shape": "S3"
                                },
                                "NumRowsFilter": {
                                    "type": "long"
                                },
                                "NumRowsTotal": {
                                    "type": "long"
                                },
                                "RawLineNumbers": {
                                    "shape": "S2p"
                                },
                                "StructuredLineNumbers": {
                                    "shape": "S2p"
                                },
                                "CostPercentage": {
                                    "type": "double"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2ZFG5YBFHRQKXNHPSO4V5BYD6UCYL5P55MHJI4U4SZ6VJAWIPZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BK6DSOKNMFWVFPH764PC3IYDOVEDF3VE5PYBAZPX4ZS7ILORJAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4N55A6J3RXWSLAHCY27DH6GWKSZVSHGYWJT7D77LXVT6BOMNPDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NFWSDZCV33OQMRAATM537YCJNVK5MEB377LFWF27G27IONSJ2YA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GF3WZWVHX4T4ABPPLIWHALEEBNJUCQMFNWTDDHGCZ6VZ4QVG44BA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXNJQ54CA55ERMDYOKM6JET2SRICRDDF46C32KUBL5452FXI5ZUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WCFJRNHPZ7W5SWEJFQ6ZJYKD7HQRI3DPGD465I5MDGABRTRAJMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E4OY4PEO77CQOV27CB3RC6NVLJ3MKEUCTPHJVBPVDZS2TYXAU7AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMJUFHTGO4MKZME5QOX3QOI2HV2YTZHKUAR4ZKHNYN5FSHZGQRRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/US2P7OXAIKTL7NCM443F2ZMBBW5RX22WSK6RLT4TIJHTQ7NZSRLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2JTQW6QDWLXSTQUGRLALKXYKHGE7MFWM7DOQ4B7ABHF3Z5XOKUJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIQQKQUJMXOMQHNF6SZOAOTOXPGCGKJGMBLG54CARSD6DO5I5XNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HC5FVFH2WZWUJIV367SE4VLQ2WVETZ5SFRRZT57OEOOFMNZNYPTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GSMABTBH2QCUONLAXDTKRZIMKDYSUMS3X3PVXE5Q5B4BRL23DTRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3UCQMBRLJEAHJZ7E3G2W4QF24H6TMA32JAWEQVUDGPG5F2IBT2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3TRE3I45NIIIXMGK6TZRS44NVXXDTVEEPMFYXLOUU6HR6TTSJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLWTSQVS4Z3TRVAS246RGFHT3BRQ3QGQ43IDNVJ7LC37ES25J4IQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMTSMTKZFL37A3AM4I2GHBMZVOE76EFVEHUHNMIKU4FGWGLXD3GQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADC5UKGCQ75QLXTBC54YRP7L36RSS5PYQ4EJHQCVU4ZPHWV2EJ4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MDZIL6J26XNIAVBLVCVQDQKYSCGQDYM4KJSGL2KMY74GNJV23PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XYHEMKN4HM67RWX3TEERXVGSYROQ6TVKTUX6JBFKI654M6446TA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSWILR7RES7BS3VRRBEQRQEGWGW4JR3PTJHXVPZSA7RXAETKBNDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSDFCEHWD5JB2J4DQ33YXKBH7KF4CJTBFQNUZBUGT225EU2GD3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RU6MECGKELYUGL4IH4XBBMCIUIXMM3K5N37AE443MN35RUXCOZA/main.js"
            ]
        },
        "DescribeResourceMetrics": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceType",
                    "MetricTypes"
                ],
                "members": {
                    "ServiceType": {},
                    "Identifier": {},
                    "Engine": {
                        "type": "structure",
                        "required": [
                            "Name"
                        ],
                        "members": {
                            "Name": {},
                            "Version": {}
                        }
                    },
                    "MetricTypes": {
                        "shape": "S2s"
                    },
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Metrics": {
                        "shape": "S2u"
                    },
                    "NextToken": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2ZFG5YBFHRQKXNHPSO4V5BYD6UCYL5P55MHJI4U4SZ6VJAWIPZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BK6DSOKNMFWVFPH764PC3IYDOVEDF3VE5PYBAZPX4ZS7ILORJAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4N55A6J3RXWSLAHCY27DH6GWKSZVSHGYWJT7D77LXVT6BOMNPDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NFWSDZCV33OQMRAATM537YCJNVK5MEB377LFWF27G27IONSJ2YA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GF3WZWVHX4T4ABPPLIWHALEEBNJUCQMFNWTDDHGCZ6VZ4QVG44BA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXNJQ54CA55ERMDYOKM6JET2SRICRDDF46C32KUBL5452FXI5ZUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WCFJRNHPZ7W5SWEJFQ6ZJYKD7HQRI3DPGD465I5MDGABRTRAJMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E4OY4PEO77CQOV27CB3RC6NVLJ3MKEUCTPHJVBPVDZS2TYXAU7AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMJUFHTGO4MKZME5QOX3QOI2HV2YTZHKUAR4ZKHNYN5FSHZGQRRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/US2P7OXAIKTL7NCM443F2ZMBBW5RX22WSK6RLT4TIJHTQ7NZSRLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2JTQW6QDWLXSTQUGRLALKXYKHGE7MFWM7DOQ4B7ABHF3Z5XOKUJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIQQKQUJMXOMQHNF6SZOAOTOXPGCGKJGMBLG54CARSD6DO5I5XNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HC5FVFH2WZWUJIV367SE4VLQ2WVETZ5SFRRZT57OEOOFMNZNYPTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GSMABTBH2QCUONLAXDTKRZIMKDYSUMS3X3PVXE5Q5B4BRL23DTRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3UCQMBRLJEAHJZ7E3G2W4QF24H6TMA32JAWEQVUDGPG5F2IBT2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3TRE3I45NIIIXMGK6TZRS44NVXXDTVEEPMFYXLOUU6HR6TTSJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLWTSQVS4Z3TRVAS246RGFHT3BRQ3QGQ43IDNVJ7LC37ES25J4IQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMTSMTKZFL37A3AM4I2GHBMZVOE76EFVEHUHNMIKU4FGWGLXD3GQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADC5UKGCQ75QLXTBC54YRP7L36RSS5PYQ4EJHQCVU4ZPHWV2EJ4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MDZIL6J26XNIAVBLVCVQDQKYSCGQDYM4KJSGL2KMY74GNJV23PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XYHEMKN4HM67RWX3TEERXVGSYROQ6TVKTUX6JBFKI654M6446TA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSWILR7RES7BS3VRRBEQRQEGWGW4JR3PTJHXVPZSA7RXAETKBNDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSDFCEHWD5JB2J4DQ33YXKBH7KF4CJTBFQNUZBUGT225EU2GD3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RU6MECGKELYUGL4IH4XBBMCIUIXMM3K5N37AE443MN35RUXCOZA/main.js"
            ]
        },
        "DescribeTable": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceType",
                    "Tables"
                ],
                "members": {
                    "ServiceType": {},
                    "Identifier": {},
                    "Tables": {
                        "type": "list",
                        "member": {}
                    },
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Identifier": {},
                    "Tables": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "TableName": {},
                                "Status": {},
                                "Details": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2ZFG5YBFHRQKXNHPSO4V5BYD6UCYL5P55MHJI4U4SZ6VJAWIPZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BK6DSOKNMFWVFPH764PC3IYDOVEDF3VE5PYBAZPX4ZS7ILORJAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4N55A6J3RXWSLAHCY27DH6GWKSZVSHGYWJT7D77LXVT6BOMNPDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NFWSDZCV33OQMRAATM537YCJNVK5MEB377LFWF27G27IONSJ2YA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GF3WZWVHX4T4ABPPLIWHALEEBNJUCQMFNWTDDHGCZ6VZ4QVG44BA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXNJQ54CA55ERMDYOKM6JET2SRICRDDF46C32KUBL5452FXI5ZUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WCFJRNHPZ7W5SWEJFQ6ZJYKD7HQRI3DPGD465I5MDGABRTRAJMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E4OY4PEO77CQOV27CB3RC6NVLJ3MKEUCTPHJVBPVDZS2TYXAU7AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMJUFHTGO4MKZME5QOX3QOI2HV2YTZHKUAR4ZKHNYN5FSHZGQRRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/US2P7OXAIKTL7NCM443F2ZMBBW5RX22WSK6RLT4TIJHTQ7NZSRLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2JTQW6QDWLXSTQUGRLALKXYKHGE7MFWM7DOQ4B7ABHF3Z5XOKUJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIQQKQUJMXOMQHNF6SZOAOTOXPGCGKJGMBLG54CARSD6DO5I5XNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HC5FVFH2WZWUJIV367SE4VLQ2WVETZ5SFRRZT57OEOOFMNZNYPTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GSMABTBH2QCUONLAXDTKRZIMKDYSUMS3X3PVXE5Q5B4BRL23DTRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3UCQMBRLJEAHJZ7E3G2W4QF24H6TMA32JAWEQVUDGPG5F2IBT2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3TRE3I45NIIIXMGK6TZRS44NVXXDTVEEPMFYXLOUU6HR6TTSJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLWTSQVS4Z3TRVAS246RGFHT3BRQ3QGQ43IDNVJ7LC37ES25J4IQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMTSMTKZFL37A3AM4I2GHBMZVOE76EFVEHUHNMIKU4FGWGLXD3GQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADC5UKGCQ75QLXTBC54YRP7L36RSS5PYQ4EJHQCVU4ZPHWV2EJ4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MDZIL6J26XNIAVBLVCVQDQKYSCGQDYM4KJSGL2KMY74GNJV23PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XYHEMKN4HM67RWX3TEERXVGSYROQ6TVKTUX6JBFKI654M6446TA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSWILR7RES7BS3VRRBEQRQEGWGW4JR3PTJHXVPZSA7RXAETKBNDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSDFCEHWD5JB2J4DQ33YXKBH7KF4CJTBFQNUZBUGT225EU2GD3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RU6MECGKELYUGL4IH4XBBMCIUIXMM3K5N37AE443MN35RUXCOZA/main.js"
            ]
        },
        "ListKeyDetails": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceType",
                    "Identifier",
                    "StartTime",
                    "EndTime"
                ],
                "members": {
                    "ServiceType": {},
                    "Identifier": {},
                    "SqlId": {},
                    "DigestId": {},
                    "StartTime": {
                        "type": "timestamp"
                    },
                    "EndTime": {
                        "type": "timestamp"
                    },
                    "PeriodInSeconds": {
                        "type": "integer"
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AlignedStartTime": {
                        "type": "timestamp"
                    },
                    "AlignedEndTime": {
                        "type": "timestamp"
                    },
                    "Details": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "SqlId": {},
                                "DetailList": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "required": [
                                            "DetailKeyId",
                                            "DetailType",
                                            "Timestamp"
                                        ],
                                        "members": {
                                            "DetailKeyId": {},
                                            "DetailType": {},
                                            "Timestamp": {
                                                "type": "timestamp"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2ZFG5YBFHRQKXNHPSO4V5BYD6UCYL5P55MHJI4U4SZ6VJAWIPZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BK6DSOKNMFWVFPH764PC3IYDOVEDF3VE5PYBAZPX4ZS7ILORJAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4N55A6J3RXWSLAHCY27DH6GWKSZVSHGYWJT7D77LXVT6BOMNPDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NFWSDZCV33OQMRAATM537YCJNVK5MEB377LFWF27G27IONSJ2YA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GF3WZWVHX4T4ABPPLIWHALEEBNJUCQMFNWTDDHGCZ6VZ4QVG44BA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXNJQ54CA55ERMDYOKM6JET2SRICRDDF46C32KUBL5452FXI5ZUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WCFJRNHPZ7W5SWEJFQ6ZJYKD7HQRI3DPGD465I5MDGABRTRAJMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E4OY4PEO77CQOV27CB3RC6NVLJ3MKEUCTPHJVBPVDZS2TYXAU7AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMJUFHTGO4MKZME5QOX3QOI2HV2YTZHKUAR4ZKHNYN5FSHZGQRRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/US2P7OXAIKTL7NCM443F2ZMBBW5RX22WSK6RLT4TIJHTQ7NZSRLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2JTQW6QDWLXSTQUGRLALKXYKHGE7MFWM7DOQ4B7ABHF3Z5XOKUJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIQQKQUJMXOMQHNF6SZOAOTOXPGCGKJGMBLG54CARSD6DO5I5XNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HC5FVFH2WZWUJIV367SE4VLQ2WVETZ5SFRRZT57OEOOFMNZNYPTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GSMABTBH2QCUONLAXDTKRZIMKDYSUMS3X3PVXE5Q5B4BRL23DTRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3UCQMBRLJEAHJZ7E3G2W4QF24H6TMA32JAWEQVUDGPG5F2IBT2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3TRE3I45NIIIXMGK6TZRS44NVXXDTVEEPMFYXLOUU6HR6TTSJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLWTSQVS4Z3TRVAS246RGFHT3BRQ3QGQ43IDNVJ7LC37ES25J4IQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMTSMTKZFL37A3AM4I2GHBMZVOE76EFVEHUHNMIKU4FGWGLXD3GQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADC5UKGCQ75QLXTBC54YRP7L36RSS5PYQ4EJHQCVU4ZPHWV2EJ4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MDZIL6J26XNIAVBLVCVQDQKYSCGQDYM4KJSGL2KMY74GNJV23PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XYHEMKN4HM67RWX3TEERXVGSYROQ6TVKTUX6JBFKI654M6446TA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSWILR7RES7BS3VRRBEQRQEGWGW4JR3PTJHXVPZSA7RXAETKBNDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSDFCEHWD5JB2J4DQ33YXKBH7KF4CJTBFQNUZBUGT225EU2GD3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RU6MECGKELYUGL4IH4XBBMCIUIXMM3K5N37AE443MN35RUXCOZA/main.js"
            ]
        },
        "ModifyInsight": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceType",
                    "InsightId",
                    "Archived"
                ],
                "members": {
                    "ServiceType": {},
                    "InsightId": {},
                    "Archived": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Insight": {
                        "shape": "S1s"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2ZFG5YBFHRQKXNHPSO4V5BYD6UCYL5P55MHJI4U4SZ6VJAWIPZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BK6DSOKNMFWVFPH764PC3IYDOVEDF3VE5PYBAZPX4ZS7ILORJAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4N55A6J3RXWSLAHCY27DH6GWKSZVSHGYWJT7D77LXVT6BOMNPDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NFWSDZCV33OQMRAATM537YCJNVK5MEB377LFWF27G27IONSJ2YA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GF3WZWVHX4T4ABPPLIWHALEEBNJUCQMFNWTDDHGCZ6VZ4QVG44BA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXNJQ54CA55ERMDYOKM6JET2SRICRDDF46C32KUBL5452FXI5ZUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WCFJRNHPZ7W5SWEJFQ6ZJYKD7HQRI3DPGD465I5MDGABRTRAJMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E4OY4PEO77CQOV27CB3RC6NVLJ3MKEUCTPHJVBPVDZS2TYXAU7AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMJUFHTGO4MKZME5QOX3QOI2HV2YTZHKUAR4ZKHNYN5FSHZGQRRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/US2P7OXAIKTL7NCM443F2ZMBBW5RX22WSK6RLT4TIJHTQ7NZSRLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2JTQW6QDWLXSTQUGRLALKXYKHGE7MFWM7DOQ4B7ABHF3Z5XOKUJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIQQKQUJMXOMQHNF6SZOAOTOXPGCGKJGMBLG54CARSD6DO5I5XNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HC5FVFH2WZWUJIV367SE4VLQ2WVETZ5SFRRZT57OEOOFMNZNYPTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GSMABTBH2QCUONLAXDTKRZIMKDYSUMS3X3PVXE5Q5B4BRL23DTRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3UCQMBRLJEAHJZ7E3G2W4QF24H6TMA32JAWEQVUDGPG5F2IBT2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3TRE3I45NIIIXMGK6TZRS44NVXXDTVEEPMFYXLOUU6HR6TTSJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLWTSQVS4Z3TRVAS246RGFHT3BRQ3QGQ43IDNVJ7LC37ES25J4IQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMTSMTKZFL37A3AM4I2GHBMZVOE76EFVEHUHNMIKU4FGWGLXD3GQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADC5UKGCQ75QLXTBC54YRP7L36RSS5PYQ4EJHQCVU4ZPHWV2EJ4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MDZIL6J26XNIAVBLVCVQDQKYSCGQDYM4KJSGL2KMY74GNJV23PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XYHEMKN4HM67RWX3TEERXVGSYROQ6TVKTUX6JBFKI654M6446TA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSWILR7RES7BS3VRRBEQRQEGWGW4JR3PTJHXVPZSA7RXAETKBNDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSDFCEHWD5JB2J4DQ33YXKBH7KF4CJTBFQNUZBUGT225EU2GD3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RU6MECGKELYUGL4IH4XBBMCIUIXMM3K5N37AE443MN35RUXCOZA/main.js"
            ]
        },
        "PutInsightFeedback": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceType",
                    "FeedbackType"
                ],
                "members": {
                    "ServiceType": {},
                    "InsightId": {},
                    "FeedbackType": {},
                    "ArchiveInsightDetails": {
                        "type": "structure",
                        "members": {
                            "ArchiveReason": {},
                            "Comments": {
                                "shape": "S46"
                            }
                        }
                    },
                    "SeverityUpdateDetails": {
                        "type": "structure",
                        "required": [
                            "From",
                            "To"
                        ],
                        "members": {
                            "From": {},
                            "To": {},
                            "Comments": {
                                "shape": "S46"
                            }
                        }
                    },
                    "VoteDetails": {
                        "type": "structure",
                        "required": [
                            "VoteTarget",
                            "Vote"
                        ],
                        "members": {
                            "VoteTarget": {},
                            "VoteTargetIdentifier": {},
                            "Vote": {},
                            "Comments": {
                                "shape": "S46"
                            }
                        }
                    },
                    "MissingInsightDetails": {
                        "type": "structure",
                        "required": [
                            "Identifier"
                        ],
                        "members": {
                            "Identifier": {},
                            "StartTime": {
                                "type": "timestamp"
                            },
                            "EndTime": {
                                "type": "timestamp"
                            },
                            "RelatedMetrics": {
                                "type": "list",
                                "member": {}
                            },
                            "Comments": {
                                "shape": "S46"
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2ZFG5YBFHRQKXNHPSO4V5BYD6UCYL5P55MHJI4U4SZ6VJAWIPZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BK6DSOKNMFWVFPH764PC3IYDOVEDF3VE5PYBAZPX4ZS7ILORJAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4N55A6J3RXWSLAHCY27DH6GWKSZVSHGYWJT7D77LXVT6BOMNPDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NFWSDZCV33OQMRAATM537YCJNVK5MEB377LFWF27G27IONSJ2YA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GF3WZWVHX4T4ABPPLIWHALEEBNJUCQMFNWTDDHGCZ6VZ4QVG44BA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXNJQ54CA55ERMDYOKM6JET2SRICRDDF46C32KUBL5452FXI5ZUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WCFJRNHPZ7W5SWEJFQ6ZJYKD7HQRI3DPGD465I5MDGABRTRAJMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E4OY4PEO77CQOV27CB3RC6NVLJ3MKEUCTPHJVBPVDZS2TYXAU7AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMJUFHTGO4MKZME5QOX3QOI2HV2YTZHKUAR4ZKHNYN5FSHZGQRRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/US2P7OXAIKTL7NCM443F2ZMBBW5RX22WSK6RLT4TIJHTQ7NZSRLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2JTQW6QDWLXSTQUGRLALKXYKHGE7MFWM7DOQ4B7ABHF3Z5XOKUJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIQQKQUJMXOMQHNF6SZOAOTOXPGCGKJGMBLG54CARSD6DO5I5XNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HC5FVFH2WZWUJIV367SE4VLQ2WVETZ5SFRRZT57OEOOFMNZNYPTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GSMABTBH2QCUONLAXDTKRZIMKDYSUMS3X3PVXE5Q5B4BRL23DTRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3UCQMBRLJEAHJZ7E3G2W4QF24H6TMA32JAWEQVUDGPG5F2IBT2Q/main.js",
[...]
